[2022-03-28 20:29] zaguiini commented on #39332
Thanks a lot for the comments, @hellofromtonya! Progress update:

### Register and enqueue webfonts by font-family https://github.com/WordPress/gutenberg/pull/39559

The PR is ready for review and ready to be merged after approval.

### Handle font face conflicts

When registering through several providers, or really just different font faces for the same family, we're using its slug (derived from

[2022-03-28 20:35] glendaviesnz commented on #35607
ah, yeh, I was thinking it was only needed for the root level blocks - the 100vw also has the potential to force a horizontal scroll bar, so 🗑️ that.

[2022-03-28 20:47] jhnstn opened #39827 "[RNMobile] Ordered lists indexes are inconsistent with Gutenberg web"
## Description

Gutenberg web allows for positive, negative, and `0` indexes for ordered lists. This same behavior is not consistent with Gutenberg Mobile.

### Android
- Doesn't display existing lists with non positive indexes correctly. `1` is the lowest value
- Allows negating an existing positive value in the block settings.

### iOS
- Can display negative indexes and allows adding new items c

[2022-03-28 21:00] github-actions[bot] opened #39828 "[Flaky Test] shows a loading indicator whilst empty Navigation menu is being created"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
shows a loading indicator whilst empty Navigation menu is being created

## Test path
`specs/editor/blocks/navigation.test.js`

## Errors

<time datetime="2022-03-31T12:39:38.069Z"><code>[2022-03-31T12:39:38.069Z]</code></time> Test passed after 1 failed attempt on <a href="

[2022-03-28 21:16] mirka opened #39830 "Card: Add story and description to highlight `CardMedia` usage"
## What problem does this address?

An important feature of the `CardMedia` component is that it is `overflow: hidden`, meaning that it will make its content nicely match the border-radius of its parent `Card`. This can be hard to discover for a couple reasons:

- The user is not necessarily looking to wrap "media" like images or video. Sometimes it is just content with a background color (related

[2022-03-28 22:02] annezazu commented on #39825
I can replicate this and am not quite sure why it's not listed with Global Styles. Hoping someone else might have some insight :)

[2022-03-28 22:03] ts-mz commented on #39616
No comment after a week? If this isn't a bug and I'm just not understanding why the editor has this behavior, please let me know (and close the issue).

[2022-03-28 22:45] ZebulanStanphill commented on #39616
I think this is related to #38964. That feature is only supposed to include user-added custom CSS classes, but unfortunately, the Embed block stores its aspect ratio classes as custom CSS classes for some reason. I'd say that's a bug, albeit one that didn't really matter until just recently.

[2022-03-28 23:50] woodwardmatt commented on #39395
Did a little debugging on this today. The value of the child object is being output as:

- `""` when `console.log(child);` is used
- `"object"` when `console.log(typeof child);` is used

For all intents and purposes it looks like an empty object with an undefined type:

![image](https://user-images.githubusercontent.com/461398/160505581-6f41c557-be8c-440c-a44a-9463ccdc984d.png)

**Update**: Looks

[2022-03-29 00:24] woodwardmatt commented on #39395
Interestingly if the html element is removed from the title, using Quick Edit, then the post is edited in gutenberg, a `span` element is prefixed to the title text and replicates filling the screen! 😬

[2022-03-29 03:13] tellthemachines commented on #39266
Independently of how we write the tests, we need to work out the best way of making a bunch of content, with examples of all the core blocks, available for theme authors to test.

It would be great if whatever automated tests we create can be run on any theme, as that will help the review task, but there will always be a manual testing element to the review process that requires some dummy content

[2022-03-29 05:33] tellthemachines commented on #35607
Align full doesn't seem to be available for blocks nested inside other blocks though (say, a Group within another Group or within a Column). Can that be changed by theme settings, or in any other way? If not, we'd be safe to ignore the problem of full-aligned blocks inside regular-aligned blocks, at least for now.

I'm thinking this could be solved by having a root padding variable. We could set a

[2022-03-29 06:01] stefanfisk opened #39833 "Add hideLabelFromVision support to <ToggleControl>"
## What problem does this address?

It is currently not possible to hide the [ToggleControl](https://github.com/WordPress/gutenberg/tree/trunk/packages/components/src/toggle-control) label from vision.

## What is your proposed solution?

Add support for the `hideLabelFromVision` prop.

[2022-03-29 06:05] tellthemachines commented on #36197
@andrewserong initially when I wrote this out I was thinking of setting up layout to always be present as context, instead of having to add it as context manually to each block.

If we were to hack the existing code, that would require adding block supports info to the block representation in the store, and possibly providing context for every block by default. I'm not sure if we want to do those

[2022-03-29 06:52] youknowriad commented on #35607
It is available if the container block (in this case "column" defines a layout).

This is basically what I tried in #36214, a bit more generic though since I have to support nested levels too

[2022-03-29 07:08] tellthemachines commented on #35607
Oh I see. I can't get that to work in Column, but it works in Group. Only I don't get the full width option unless the parent Group is also set to full width - in which case I'd expect both parent and child to stretch to the limits of the viewport.

Is it possible to have a situation in which we _wouldn't_ expect a block with full width set to actually be as wide as the viewport?

[2022-03-29 07:11] youknowriad commented on #35607
yes, full width right now doesn't mean "as wide as the viewport", it means "as wide as the container (in a container that defined a "default content width" for its children)"

[2022-03-29 07:13] hypest commented on #39827
Added `[Priority] Normal` (instead of "high") to this one only because it's about cases that lean to the less frequent side.

[2022-03-29 07:26] luisherranz commented on #39648
It is, but I guess it's better to make it public without those options in 6.0 and then evaluate the current issues with the non-inherited options than wait until all the problems are solved, don't you think?

[2022-03-29 07:46] formosattic opened #39836 "Preview in Editor: Images don't resize (not screen responsive) in Mobile view"
### Description

It seems like a Gutenberg update may have broken the editor styles for mobile responsiveness for Images (Image block tested) while in the Editor. This is not happening in live post view, only in the Editor.

Might be related to https://github.com/WordPress/gutenberg/issues/39373, but unlike that issue, I'm only experiencing the problem when Gutenberg is active.

### Step-by-step r

[2022-03-29 07:56] luisherranz commented on #34994
@gziolo also mentioned dropping the "Query" word from the name [here](https://github.com/WordPress/gutenberg/issues/39648#issuecomment-1075993917).

If you think that it should be named "Comments Loop" even if the non-inherited options are added in the future (which is the "query" part), then I think we should do the renaming before this gets public in WP 6.0 👍

[2022-03-29 08:14] jasmussen commented on #34994
I don't have a strong opinion to be honest. Happy to defer!

[2022-03-29 08:20] maddisondesigns opened #39839 "Editor: Changes made in FSE aren't reflected in the Block Editor when editing Posts/Pages"
### Description

I made a simple change in the Full Site Editor, within the Page template. I simply changed the text color and background color for the Post Title block.

![fse-page-template](https://user-images.githubusercontent.com/2078245/160564196-8407194a-7efc-485d-828c-1d24ecefc8df.png)

When I go out of the FSE and edit a Page using Gutenberg, those changes aren't reflected.

<img width="14

[2022-03-29 08:23] DAreRodz commented on #37181
Thanks a lot for all your insights, I really appreciate them. 🙌

I'm already working on a PR to add the `ancestor` property to `block.json`.

[2022-03-29 08:34] luisherranz commented on #37181
@michalczaplinski: I don't understand the problem. Could you please elaborate?

@gziolo: Imagine a `totals` block that can be inserted either on the cart or checkout blocks:

[code]

And another block that needs to be inside of the `totals` block, but only in the cart:

[code]

I didn't know that parent arrays means OR, which means that changing ancestors array to mean AND (and subarrays to mean O

[2022-03-29 08:42] maddisondesigns opened #39841 "FSE: Single Link color is inadequate"
### Description

Only being able to select a single colour for Links is inadequate. There needs to be options so that `hover`, `active`, and `visited` colours can be set also.

![fse-link-color](https://user-images.githubusercontent.com/2078245/160569914-faa57639-4245-47c7-bcd4-a1795213b272.png)

### Step-by-step reproduction instructions

Use Twenty Twenty-Two theme
Enter Editor (Appearance > Edi

[2022-03-29 08:52] jameskoster commented on #34994
If we're omitting custom queries, might we call it "Post Comments" to be consistent with other blocks like "Post Content", "Post Title", etc?

[2022-03-29 09:16] luisherranz commented on #34994
I don't have a strong opinion, but @mtias suggested the opposite in this comment: https://github.com/WordPress/gutenberg/issues/34994#issuecomment-929291106

[2022-03-29 09:17] youknowriad opened #39843 "Avatar block sidebar has some small design issues in Safari."
### Description

<img width="296" alt="Screen Shot 2022-03-29 at 10 10 29 AM" src="https://user-images.githubusercontent.com/272444/160577183-a58973be-1353-4dd5-8250-92bc725593b1.png">

The screenshot above represents the sidebar of the "avatar" block in Safari. I see two issues there:

 - The "Dimensions" panel doesn't have the right padding.
 - The Range Control input is not visible (probably ne

[2022-03-29 09:22] gziolo commented on #34994
The challenge is that there is already "Post Comments" block in WordPress core (and Gutenberg plugin):

https://github.com/WordPress/wordpress-develop/blob/921d2805a0ebaf4db9f75ea9f5af46e48d6f68ac/src/wp-includes/blocks/post-comments/block.json#L4

That's is the biggest question what do we do about that legacy version that is a single block mostly based on PHP function calls and can't be customize

[2022-03-29 09:27] jameskoster commented on #34994
I _think_ he was referring specifically to the children. I've suggested removing the Post prefix from all of these blocks before (IE "Post Date" becomes "Date") and there wasn't much appetite.

I don't know if it's possible, but shouldn't this block replace that one? It seems to serve the same purpose.

[2022-03-29 09:29] cbravobernal commented on #34994
The only issue is that the legacy version works fine with non-FSE themes, applying the styles defined on themes, using the default PHP functions. I guess we cannot replace it until we upgrade some WordPress versions.

The new `Comments` block still requires some configuration in order to have a nice design, now seems pretty raw when you insert it.

Is it possible to add some default styling? Shoul

[2022-03-29 09:29] gziolo commented on #37181
@luisherranz thank you for sharing some good examples. It definitely shows that ancestors can quickly become very complex to express and need some more advanced API. The truth is that even in the most simplistic way (where you define only a list of ancestor blocks) it's still a huge improvement. I believe @DAreRodz can land the initial API while we discuss how to cover the use cases you shared.

[2022-03-29 10:01] jameskoster commented on #34994
I suppose the other problem is backwards compatibility for block themes that are using the existing Post Comments block in their templates.

[2022-03-29 10:16] mrfoxtalbot opened #39847 "[Gallery Block] Uploading multiple images shows duplicates"
### Description

When I upload multiple images to a Gallery Block, the preview will show correctly during the upload but, once uploaded, some of them will show as duplicates. This is an intermittent issue but is more likely to happen with large images or when I upload a lot of images at the same time.

Possibly related to: https://github.com/WordPress/gutenberg/issues/30473, https://github.com/Wor

[2022-03-29 10:38] luisherranz commented on #34994
I believe the pattern that has been used in situations like this is to hide the block (instead of deleting it), so it keeps working if it already exists, but new users/themes can't add it.

@gziolo: is that correct?

[2022-03-29 10:54] gziolo commented on #34994
Yes, there are a few blocks that no longer show up in the inserter with `supports.inserter` set to `false`:

https://developer.wordpress.org/block-editor/reference-guides/block-api/block-supports/#inserter

[2022-03-29 11:07] Soean commented on #39843
I can't reproduce the issue. Tested in Safari 15.4 on macOS 12.3

<img width="301" alt="Bildschirmfoto 2022-03-29 um 13 06 12" src="https://user-images.githubusercontent.com/695201/160598220-8e3273c1-77c9-480e-9284-b29a3657edf5.png">

[2022-03-29 11:30] aristath commented on #39702
huh... tbh I wasn't even aware of the existence of `variation.json` files! 😬
Where do we parse these? I can't seem to find any reference to `variation.json` in Gutenberg's code 👀

[2022-03-29 11:41] gziolo commented on #38275
@getdave, is there any feature that you think could still land until Wednesday next week to be included in WordPress 6.0 release? To increase visibility, we can add it to the [WordPress Editor 6.0 project board](https://github.com/orgs/WordPress/projects/27/views/1).

[2022-03-29 11:42] gziolo commented on #38167
@andrewserong, is there any feature that you think could still land until Wednesday next week to be included in WordPress 6.0 release? To increase visibility, we can add it to the [WordPress Editor 6.0 project board](https://github.com/orgs/WordPress/projects/27/views/1).

[2022-03-29 11:44] gziolo commented on #36667
Is there any feature that you think could still land until Wednesday next week to be included in WordPress 6.0 release? To increase visibility, we can add it to the [WordPress Editor 6.0 project board](https://github.com/orgs/WordPress/projects/27/views/1).

[2022-03-29 11:48] #24859 closed

[2022-03-29 12:11] kjellr commented on #39702
👋 @aristath style variations were implemented over in https://github.com/WordPress/gutenberg/pull/35619

[2022-03-29 12:19] getdave commented on #36667
The [Nav Sidebar](https://github.com/WordPress/gutenberg/pull/39290) is a _possibility_ (subject to assessment by contributors).

[2022-03-29 12:20] getdave commented on #38275
@gziolo realistically "feature" wise it's probably:

- https://github.com/WordPress/gutenberg/pull/38621
- https://github.com/WordPress/gutenberg/pull/39290

[2022-03-29 12:26] cbirdsong commented on #10235
Why is this bot active on this issue but not any others in this repo? Can it be removed?

[2022-03-29 12:26] delowardev commented on #39210
Actually, this bug comes from the [CSS parser](https://github.com/WordPress/gutenberg/blob/d5915916abc45e6682f4bdb70888aa41e98aa395/packages/block-editor/src/utils/transform-styles/ast/parse.js#L244), here allowed characters for the CSS properties are `/^(\*?[-#\/\*\\\w]+(\[[0-9a-z_-]+\])?)\s*/`;  (But in reality, CSS custom properties support emojis and other language characters too)

Parser prop

[2022-03-29 12:32] youknowriad commented on #39843
Weird, I can't reproduce either :) Thanks for checking @Soean

[2022-03-29 12:32] #39843 closed, assigned to nobody

[2022-03-29 12:40] gziolo commented on #38275
Awesome, thank you. We track now both PRs. The one that is merged https://github.com/WordPress/gutenberg/pull/39290, is it behind the feature flag? Otherwise, it should be just included out of the box since it's ready.

[2022-03-29 13:11] samxmunoz opened #39851 "Feature Request: Auto-Detect Hashtag for Hex code & Remove in Styles Editor"
**Issue**
When copying & pasting a hex code into the Styles Editor you must currently do it without the hashtag/pound sign in the beginning. It is cumbersome to remove the hashtag when copying from a tool like AdobeXD.

![Screen Shot 2022-03-29 at 8 57 19 AM](https://user-images.githubusercontent.com/43501707/160618504-753b4777-6ad7-4adb-a457-a54fc235b437.png)

**Proposed Solution**
Auto-detect th

[2022-03-29 13:36] getdave commented on #38275
Still being discussed. May be dropped from inclusion if deemed not ready. The PR was merged in order to get the basic code into the repo, but the feature isn't necessary "finished". If it doesn't make the cut then I'll disable it or place behind feature flag prior to Gutenberg code cut off date.

[2022-03-29 13:39] getdave opened #39854 "Auto select first Nav Menu in Nav block if only a single `wp_navigation` exists"
Currently when switching to a new Theme the Nav block requires the user to select the Nav Menu they wish to use in the Nav block. This is because there is no mechanism to decide on the most "appropriate" Nav Menu to use.

In order to optimise for the 80% use case where the user has a single Navigation Menu, let's update the block to automatically use the first Navigation Menu _if_ there is only a

[2022-03-29 13:43] getdave opened #39855 "Nav Sidebar: remove "show more settings" from 3 dots menu"
Currently the Navigation Menu sidebar uses the ListView component. This component comes with a "3 dots" menu next to each tree node which provides access to common "actions" that one might wish to take on a given block

However, in the case of Navigation Menus some of these actions do not make sense _if_ the current Navigation Menu is not within the current editor canvas (i.e. the Site Editor canv

[2022-03-29 13:44] getdave opened #39856 "Nav Sidebar: move to left hand side "W" menu and use "dark UI""
In https://github.com/WordPress/gutenberg/pull/39290 we introduced the Navigation Sidebar as a dedicated UI to expose the Navigation structure outside of the block.

As per https://github.com/WordPress/gutenberg/issues/36667 we should now look to move this sidebar to the left hand sidebar and use the "dark" UI.

The latest prototype for this is in [the following Figma file](https://www.figma.com/f

[2022-03-29 14:03] #38386 closed, assigned to MaggieCabrera, carolinan

[2022-03-29 14:05] Humanify-nl opened #39857 "Navigation block is taking time to get right, we need a temp solution"
## What problem does this address?
Working with FSE theme has been a delight. I am fully committed in getting it to work for clients. But currently one thing holds back immensely in fully going FSE, and it is the navigation block. I've been repeatedly bashing my head at it for weeks, it is just really hard to get it right when heavy customization or specific style specs are in play.

- Links are n

[2022-03-29 15:42] snovosel-godaddy opened #39859 "Embed block shows error when viewing github Gists"
### Description

When adding a Gist to the embed block, and clicking "view raw" within the editor an error appears within the block.

### Step-by-step reproduction instructions

1. add Embed block
2. add URL for public Github Gist
3. enter
4. click "view raw"
5. view error within block

### Screenshots, screen recording, code snippet

_No response_

### Environment info

5.9.2 WP

### Please confi

[2022-03-29 15:44] cbirdsong commented on #37590
This would work for my needs, but I'd still argue using `!important` at all is a mistake.

`!important` being present by default is going to affect (and often complicate) CSS written elsewhere in the ecosystem, which then might not work as expected if `!important` is absent, either on classic themes or because it was disabled by the theme author.

For instance, the example given in https://github.

[2022-03-29 15:49] snovosel-godaddy opened #39860 "adding embedded links within a hyphen within the link will display nothing"
### Description

when embedding github gists using the Embed block, using any link with a hyphen (-) will display nothing.

### Step-by-step reproduction instructions

1. insert Embed block
2. create gist using username with hyphen, or add any link with hyphen
3. submit link
4. nothing is rendered

### Screenshots, screen recording, code snippet

_No response_

### Environment info

5.9.2 WP

###

[2022-03-29 15:56] Mamaduka commented on #31116
Hi, @mrfoxtalbot

Are you still able to reproduce this issue?

[2022-03-29 15:59] Mamaduka commented on #33834
I think this issue was fixed in a recent plugin release.

![CleanShot 2022-03-29 at 19 53 57](https://user-images.githubusercontent.com/240569/160653695-0dd4fe6f-82a0-42d1-a5b5-33379434aea5.png)

[2022-03-29 16:01] margarita-boomCodes commented on #23702
Unfortunately I just had the same issue with the latest 5.9.2 WP Version.

The content was imported with WP All Import and the images carried their old IDs. If I change the image size from the dropdown, the image is being replaced by another image with the "wrong" ID is defined in the block.

[2022-03-29 16:16] slomeli79 commented on #29736
Is there currently a way (even via code snippet) to force List View to always be open by default?

[2022-03-29 16:16] bradhogan commented on #24934
Any updates on where post_parent and menu_order are in the updates for the query block?

[2022-03-29 16:23] slomeli79 commented on #22113
Is there currently a way (even via code snippet) to force List View to always be open by default?

[2022-03-29 16:33] snovosel-godaddy commented on #39860
solution is on our end will close this

[2022-03-29 16:33] #39860 closed, assigned to nobody

[2022-03-29 16:54] ntsekouras commented on #22113
There are actions you can dispatch. For example: `wp.data.dispatch('core/edit-post').setIsInserterOpened(true)`.

[2022-03-29 16:59] andrea-calligaris opened #39861 "Set text background highlight color, then try Edit as HTML, block gives error"
### Description

Setting the background color (using the highlight function), and then trying to edit the paragraph as HTML, gives the error:
`This block has encountered an error and cannot be previewed`
and the block is not recoverable, unless by copy pasting and removing the mark tag.
This does not happen with the foreground / actual text color.

Not the same problem of https://github.com/WordPr

[2022-03-29 17:12] #31116 closed, assigned to nobody

[2022-03-29 18:10] NicoHood commented on #33374
@nickfmc Thanks! Could you give us an example on how to do that?

[2022-03-29 19:18] fabiankaegy commented on #39851
I believe this was already added in https://github.com/WordPress/gutenberg/pull/38335

So it should be available in the Gutenberg plugin 12.7 or higher :)

[2022-03-29 19:29] w33zy commented on #12635
It's 2022 and this is still a thing

[2022-03-29 19:37] thomasplevy opened #39862 "@wordpress/e2e-test-utils activateTheme() creates issues due to not awaiting (or returning) when calling `switchUserToTest()`"
I have an e2e test that switches the active theme using `activateTheme()`. When the theme is *already set* to the requested theme (for example if I request to switch to 2022 and the active theme is already 2022) the following condition is met in the function:

https://github.com/WordPress/gutenberg/blob/f594f6cff6db36e27df4ac44e78c448bb8a173d4/packages/e2e-test-utils/src/activate-theme.js#L20-L23

[2022-03-29 19:44] ObliviousHarmony opened #39863 "PHPUnit Container Not Working on M1"
### Description

I am currently working on switching our unit testing suite to `wp-env` and have run into a problem. When attempting to run commands in the `phpunit` container I receive a `standard_init_linux.go:228: exec user process caused: exec format error` error.

It appears that the [wordpressdevelop/phpunit](https://hub.docker.com/r/wordpressdevelop/phpunit) image that the `phpunit` contain

[2022-03-29 19:45] glendaviesnz commented on #37590
@cbirdsong this was discussed in [some additional recent comments over on the PR](https://github.com/WordPress/gutenberg/pull/39660) - linking here for reference - but it was discussed there that it would be good to see this suggested fix as a temporary quick fix to at least unblock the likes of the responsive font issues while the full removal of `! important` was explored.

[2022-03-29 19:50] willrowe commented on #38723
As was mentioned earlier in this issue (and was discovered when the "fix" needed to be reverted), adjusting the `z-index` is not the solution.

The main issue is really the edge detection and sizing of the popovers. This is best demonstrated when turning off `Fullscreen mode`, since the popovers will then appear underneath the admin sidebar on the left. You can see an example of this in [the comme

[2022-03-29 19:57] annezazu opened #39864 "Consider adding the ability to replace template parts in template part focus mode"
## What problem does this address?

This came up as part of the [twelfth FSE Outreach Program call for testing:](https://make.wordpress.org/test/2022/02/23/fse-program-testing-call-12-hyping-headers/#comment-2377)

Here's a quick visual showing how you can replace when in the Site Editor but that option goes away when in focus mode:

https://user-images.githubusercontent.com/26996883/160695386-c42

[2022-03-29 19:59] nickfmc commented on #33374
well as mentioned it would be theme specific for instance some themes may not have the class of alignwide for certain nested blocks depending how they are setup, but all that the alignment toggle does is standard has no class wide adds alignwide and full adds alignfull so if you just add that class on the advanced tab of the block you might be able to get the effect you would have previously. This

[2022-03-29 20:27] annezazu commented on #39149
Adding this to the 6.0 board as this feels critical to fix and was confirmed once more as part of the twelfth call for testing [with the FSE Outreach Program:](https://make.wordpress.org/test/2022/02/23/fse-program-testing-call-12-hyping-headers/#comment-2378)

[2022-03-29 22:11] ndiego commented on #39861
I have tested this and I am able to replicate it. The issue also occurs with the latest version of Gutenberg.

I do want to note that the error only occurs when the cursor is placed inside of the highlighted text prior to clicking "Edit as HTML". If you place the cursor in unhighlighted text, you are able to edit the HTML as expected. See the gif below.

![highlight-error](https://user-images.gith

[2022-03-29 22:43] mtias commented on #39854
To contextualize a bit more this idea, the general aim is to make the navigation renderer _just work_ with the user's stored menu. The assumption being that if there is a single menu on a site we should try to use it.

[2022-03-29 22:54] gillmourtunhira commented on #18010
absolutely annoying, need to be fixed... 2022 and still going

[2022-03-29 23:59] rchiba-cafemedia commented on #17632
I agree with @easin-xs and @MachinePereere that having a post-save hook would be incredibly convenient

[2022-03-30 00:23] tellthemachines commented on #35607
Ok, I can reproduce this now, but only with a parent Group block. It's still not working for Column.

In that case, we could base the negative margins on the parent container's padding, and if that doesn't exist (if parent is a root block) provide the root padding as a fallback value.

[2022-03-30 01:15] glendaviesnz commented on #39847
Thanks for reporting. [A fix for this](https://github.com/WordPress/gutenberg/pull/39269) should be included in 12.9.

[2022-03-30 01:15] #39847 closed, assigned to nobody

[2022-03-30 02:04] ramonjd commented on #39789
I've been testing and it looks like it's because `blockGap` is constrained to a `top level style`. I commented about that over in [this PR](https://github.com/WordPress/gutenberg/pull/39845#issuecomment-1081712594),

Specifically, this [line](https://github.com/WordPress/gutenberg/pull/37360/files#diff-32a8dd7481b8621c19534034f929f125a711de1746d0f97f99bba814a2a1bb77R288):

[code]

There's a commen

[2022-03-30 02:53] palomnik opened #39868 "[Block] Social - ability to add custom icons are needed"
There are some other requests to add icons for discord and the like.  I would also like to add the icon for Facebook Groups.  It would be good if users could add their own custom icons to the block.  You could specify size and svg for uploads.

[2022-03-30 03:27] sjregan opened #39869 "Scripts: Build command deletes all files and directories in output path"
### Description

When running the command `wp-scripts build --output-path=assets` all files and directories within `assets` are deleted.

I expect the directories created and populated by the build script to be reset, not other files and directories.

My plugin has the following directory structure:

[code]

The build script will generate:

[code]

However it will also delete `plugin/assets/css/`

[2022-03-30 03:35] tellthemachines commented on #36197
Another case where the Spacer block needs to know about parent layout is #38022.

[2022-03-30 03:43] ramonjd commented on #39789
Something like this?

https://github.com/WordPress/gutenberg/pull/39870

[2022-03-30 05:46] #34275 closed, assigned to aaronrobertshaw

[2022-03-30 06:29] andrea-calligaris commented on #39861
@ndiego Thank you, nice to know there's a workaround. It also works if you highlight the entire paragraph but you put the cursor at the very end or the very start of it.

[2022-03-30 06:30] aristath commented on #39332
That is a valid concern, but at the same time, perhaps Jetpack should NOT be doing that?? Why does a plugin need to register 30 webfonts? Isn't there a better way for the plugin to do this?
Instead of refactoring the implementation here to accommodate a scenario like the one described, perhaps the scenario itself should be reconsidered?
If a random plugin registers 10 scripts that it doesn't use,

[2022-03-30 07:09] mtias commented on #39332
@aristath I think the use case is less about what Jetpack might be doing and more about having the ability for a user or theme to manage fonts in their libraries without incurring a penalty on the front-end. For example, a theme might have a couple styles with different font pairs, and it'd be a nice experience to be able to switch between the styles on the fly in the admin editor (all registered

[2022-03-30 07:27] aristath commented on #39332
Thank you for the extra context @mtias 👍

[2022-03-30 07:28] kevin940726 commented on #37976
This hasn't occurred in nearly two months now, is this fixed in https://github.com/WordPress/gutenberg/pull/39100?

Anyway, I'll close it, as the bot will re-open it if the issue remains. 👍

[2022-03-30 07:33] #39862 closed, assigned to Mamaduka

[2022-03-30 07:38] kevin940726 commented on #38939
This seems to be magically fixed. I'll close it for now, but the bot will re-open it if the issue remains.

[2022-03-30 07:38] #38939 closed, assigned to nobody

[2022-03-30 07:42] kevin940726 commented on #39121
This seems to be fixed by https://github.com/WordPress/gutenberg/pull/39711.

[2022-03-30 08:24] ellatrix opened #39874 "List v2: new icons for list and list items"
Currently the icons for the (experimental) list and list item are the same, which is very confusing. It's not clear what is selected.

Cc @jasmussen :)

<img width="432" alt="Screenshot 2022-03-30 at 11 24 21" src="https://user-images.githubusercontent.com/4710635/160786250-6f0b15c2-617c-4fdc-86a5-94b20721d64f.png">

[2022-03-30 08:27] ellatrix opened #39875 "List v2: Space key should indent list item"
When pressing the Space key at the start of a list item, the list item should be indented if possible.

[2022-03-30 08:30] ellatrix opened #39877 "List v2: Backspace key should outdent list item"
This will be similar to #39858. When pressing the Backspace key at the start of a list item, the list item should be outdented if possible. When it's not possible to outdent further, it should be merged with the previous list item.

One edge case: when pressing Backspace at the start of the first list item, the list item should become a paragraph?

Check the list v1 behaviour in trunk to see how i

[2022-03-30 08:31] ellatrix commented on #39877
Cc @ntsekouras because this builds on your work.

[2022-03-30 08:32] #39520 closed, assigned to jorgefilipecosta

[2022-03-30 08:33] andrea-calligaris opened #39878 "Select text and apply changes: sometimes some rows/characters are left out"
### Description

Sometimes, selecting a text and then applying changes e.g. italic, doesn't apply the change to all the selected text, but a few characters at the start of the selection are left out, or entire rows are left out.

I haven't been able to find out the exact mechanism that triggers the bug, but it happens often enough (like 1 time out of 3) that it's easy to reproduce.

### Step-by-st

[2022-03-30 08:34] ellatrix opened #39879 "List v2: transforms broken with nested lists"
Transforms (added in #39652) should take nested list items into account. Currently they just disappear, so there is content loss.

Cc @jorgefilipecosta

[2022-03-30 09:09] jameskoster commented on #39864
This is good feedback, thanks for the mention!

I think we need to tread a little carefully so that we don't conflate the purpose of each view/mode. The regular editor view is optimised for editing the blocks within a template, so it is reasonable that you're able to entirely replace things like headers and footers with relative ease.

This is the key point I think. The purpose of focus mode (imo)

[2022-03-30 09:12] #39521 closed, assigned to youknowriad

[2022-03-30 10:02] ellatrix commented on #39519
This is done. Created #39877 to refine.

[2022-03-30 10:32] ntsekouras commented on #39519
This still needs to handle merge on blocks with innerBlocks that involve RichText API. It's not working as expected right now for example if you press `Enter` on a list item with innerBlocks.

[2022-03-30 10:34] andrewserong commented on #39789
Just a quick drive-by comment while I'm AFK, thank you so much for picking up this issue @ramonjd! The idea in #39870 is exactly the kind of thing I had in mind — looks like a good direction to investigate to me 😀

In principle:

* The global styles only renders out the block gap CSS variable at the root level
* The Layout support is responsible for grabbing block-level values in theme.json and us

[2022-03-30 10:48] andrewserong commented on #36197
Thanks for the extra context @tellthemachines! I stumbled upon this issue the backwards way by first having a go at the PR #39743 and then checking to see if there was already an open issue for it 😄

I'm AFK for the rest of this week, but will take a deeper look at the feedback on that PR and in that other linked issue (#38022) to get a better idea of the broader context surrounding passing down l

[2022-03-30 10:55] andrewserong commented on #38167
@gziolo thanks for the ping — we've already landed the padding and margin support changes. We were hoping to explore moving possibly another one or two block supports, but I'm not sure if they'll be ready on time before next Wednesday. I'm currently AFK this week, but can review where we're up to when I'm back on Monday and add things to the project board then. In the meantime, I'll just ping @ram

[2022-03-30 10:59] aristath commented on #39702
Thank you for the additional context @kjellr 👍
I added a PR for this in https://github.com/WordPress/gutenberg/pull/39886

[2022-03-30 11:16] alexstine commented on #39800
"Navigation List View" maybe?

[2022-03-30 11:18] alexstine commented on #39801
@getdave How does it work currently for block settings sidebar? E.g. using Tab key out of a block will focus block settings sidebar.

[2022-03-30 11:39] UranymusDev commented on #27174
Any Updates? I am trying the very same thing. One idea i might try next is to disable the core version of gutenberg and adding it via a plugin so i can edit the code... Does this make sense to try?

[2022-03-30 11:42] ellatrix opened #39887 "List v2: better paste handling"
Pasting a list or other content should ideally not split the list block.

* Pasting another list block into a second list blocks should insert list items at the level they were inserted.
* Pasting a non Gutenberg list should do the same thing.
* Pasting something simple like paragraphs in a list block should probably convert the paragraphs to list items?
* Anything more complex should still split

[2022-03-30 11:43] ndiego commented on #39393
I would love to see this issue tackled in 6.0, especially if it requires a fix on the Core side. It impacts block themes pretty heavily. I am happy to help in any way that I can (likely testing), but not sure where to start investigating this issue 😅  cc @aristath @oandregal @annezazu

[2022-03-30 11:46] illycz commented on #10926
Which plugin please? Thanks

[2022-03-30 12:01] mtias commented on #39887
Pasting something like:

[code]

Should also respect the indent level you are currently at and not change it.

[2022-03-30 12:07] gziolo opened #39889 "Plugin: Backport PHP changes for WordPress 6.0 release"
## Description

Related [Trac ticket 55505](https://core.trac.wordpress.org/ticket/55505).

This is the tracking issue to coordinate the process of backporting all PHP changes added in the Gutenberg plugin that needs to be backported for the WordPress 6.0 release.

## Files listed for WP 6.0

### [`lib/block-supports`](https://github.com/WordPress/gutenberg/tree/trunk/lib/block-supports)

- [x] 🟢

[2022-03-30 12:21] Mamaduka commented on #39889
@gziolo, I can handle post lock PR for the WP core (mostly later this week).

[2022-03-30 12:26] gziolo commented on #39889
Awesome, thank you @Mamaduka ❤️

[2022-03-30 12:48] hypest commented on #38407
Updated the parent post with:

### 🛠️ Recently fixed or improved
++  [ Fix - Block editor settings mobile endpoint - Add missing global styles has support check](https://github.com/WordPress/gutenberg/pull/39806)

[2022-03-30 12:50] ellatrix opened #39893 "List v2: indent/outdent multiple list items"
When I select multiple list items and try to indent or outdent, only the first one is changed. All selected list items should change. Cc @jorgefilipecosta

[2022-03-30 13:01] ellatrix commented on #39874
Closing this in favour of https://github.com/WordPress/gutenberg/issues/39628

[2022-03-30 13:02] #39874 closed, assigned to nobody

[2022-03-30 13:07] arl1nd opened #39896 "ColorPicker not updating current color value"
### Description

I am using ColorPicker component outside the Blocks Editor and I am having an issue with it, firstly I thought it is related to me but I think the problem is related more at the component itself.

Is there any fix for this?

### Step-by-step reproduction instructions

1. Create a page or edit an existing one on WordPress admin
2. Add the following code in JavaScript Console:

[cod

[2022-03-30 13:22] hellofromtonya commented on #39889
✋ raising my hand to help with audits, prepping and reviewing the PHP code to be ready for Core commit (i.e. compliant with Core standards and practices). A request @peterwilsoncc made is to create smaller patches. I agree. I can help to create these smaller PRs to ease the code review and commit burden / effort.

[2022-03-30 13:44] paaljoachim commented on #32924
Check out the PR by @ntsekouras Nik here:
https://github.com/WordPress/gutenberg/pull/39837

It can use some testing.

[2022-03-30 13:44] thomasplevy commented on #39862
thanks @Mamaduka!

[2022-03-30 14:02] skorasaurus commented on #39037
This was included in Gutenberg 12.9. thanks to @brookewp - https://github.com/WordPress/gutenberg/pull/39482

[2022-03-30 14:02] #39037 closed, assigned to brookewp

[2022-03-30 14:04] DHWP commented on #39187
I have the same issue. Following a theme creation tutorial found at fullsiteediting dot com.

Very, very blank theme. No dependencies, all plugins on or off same result. (there only is query monitor, gutenberg and woo)

In my case this is in page.html

    <main class="wp-block-group">

</main>

I get 'Hello World' instead of the single page title when viewing siteurl.local/pagetitle

[2022-03-30 14:05] NekoJonez opened #39901 "Minor typo - Additional space"
### Description

In two new strings, there is a space where in my opinion, there shouldn't be one.

### Step-by-step reproduction instructions

N/A

### Screenshots, screen recording, code snippet

_No response_

### Environment info

_No response_

### Please confirm that you have searched existing issues in the repo.

Yes

### Please confirm that you have tested with all plugins deactivated exce

[2022-03-30 14:29] getdave commented on #39801
It's using some hooks to handle going to new focus and back to old one. The complexity in this case is that this sidebar makes use of `ComplementaryArea` from `@wordpress/interface` which is deeply nested and uses a lot of Slot/Fill. This makes auto managing focus quite complex.

[2022-03-30 14:30] getdave commented on #39800
Annoying the primary W menu is also called "Navigation". I added the `Menu` to try and distinguish between them. So maybe `Navigation Menu List View`?

[2022-03-30 14:35] ntsekouras commented on #39380
Hey Paal! This is just a suggestion of mine, nothing more 😄 The grid layout will be just a new type of `layout`(block.supports) which when implemented could be applied to other blocks too. I think @ramonjd and other folks working on layout stuff these days, so just mentioning him for some thoughts.

[2022-03-30 15:03] alexstine commented on #39801
@getdave Probably need to use something more flexible. I've faced issues with that myself in another PR.

[2022-03-30 15:03] alexstine commented on #39800
@getdave "Navigation Block List View"?

[2022-03-30 15:13] paaljoachim commented on #39859
Hi @snovosel-godaddy

This is what I see when pasting in the URL of a Gist.
Example.  https://gist.github.com/paaljoachim/bf17215e61ab1a6af6a436ee2cd6970e
![Screenshot 2022-03-30 at 17 09 12](https://user-images.githubusercontent.com/5323259/160868620-26c7d7e2-6c21-4190-ba12-459bdf5f7cee.jpg)

There is a Trac ticket for embedding a Github Gist here:
https://core.trac.wordpress.org/ticket/41206

Bt

[2022-03-30 15:15] ivan-ottinger opened #39905 "Consider changing the return value of `wp_get_global_settings` and `wp_get_global_styles()` when non-existent arguments are passed"
## What problem does this address?

Currently, when non-existent `$path` and/or `$context` is passed to the following two functions:

[code]

all settings/styles are returned. I think it would be easier to use the above APIs if `null` was returned instead. This would signal that the requested settings/styles cannot be returned.

## What is your proposed solution?

Instead of returning all settings

[2022-03-30 15:22] paaljoachim commented on #39841
Hey @maddisondesigns Anthony

Here is an issue by @kjellr Kjell
**Consider a standardized way to modify hover/focus/active states for blocks**
https://github.com/WordPress/gutenberg/issues/27075

There are a few different issues that are related.

As your issue is related to Global Styles.
@jorgefilipecosta

[2022-03-30 15:22] ryanboswell commented on #36118
I think this problem is slightly broader than just http/https redirect issues, but _anytime_ that a JSON API endpoint returns a 403 error, the request is retried until it gets a successful response. In most cases, that's probably unlikely and so it get stuck in an infinite loop.

I just encountered this because our instance forces WordPress into a read-only mode (we force read-only database creden

[2022-03-30 15:26] paaljoachim commented on #39785
@jameskoster I am thinking you might have some more information regarding this issue. Thanks.

[2022-03-30 15:27] paaljoachim commented on #39643
I think that @ntsekouras and @aristath might have some more information about this issue.

[2022-03-30 15:28] paaljoachim commented on #39602
@getdave here is a Navigation block issue to take a closer look at.

[2022-03-30 15:33] paaljoachim commented on #39473
Hey @bradley2083 Brad

Here is an example where I selected the individual button. Color options: Text and Background.

![Screenshot 2022-03-30 at 17 32 36](https://user-images.githubusercontent.com/5323259/160873617-f35949bc-f912-4ed3-aa56-e5e0baca08e9.jpg)

Is there something else you are thinking about?

[2022-03-30 15:35] cbirdsong commented on #35607
I don't know how helpful this is since it doesn't take FSE/layout into account, but the root block container of my themes uses a root padding variable combined with width variables via `calc()`, like this:

[code]

Codepen sample: https://codepen.io/cbirdsong/full/wvpqJyP

[2022-03-30 15:38] paaljoachim commented on #39598
Good point! Thanks for adding the issue @luminuu Jessica.

@jasmussen might have some knowledge to share here.

[2022-03-30 15:40] paaljoachim commented on #39347
@oandregal might know something about this issue.

[2022-03-30 15:42] paaljoachim commented on #39323
@oandregal Here is another issue you might want to know about.

[2022-03-30 15:46] Humanify-nl commented on #39347
Thanks!

I encountered this again in a more typical use case.

When you add a cover block and start typing in the paragraph and set it to large, then transform it to a heading (which is natively larger), the heading will inherit the sizes (is-medium-fonts-size) of paragraph.

Inheriting styles with transforms is, I believe, too complex to handle with the many use cases that can break it.

[2022-03-30 15:56] bradhogan commented on #39473
@paaljoachim Correct.  I'm proposing a global button color that can be set in the global Styles section (still leaving the individual button customization as-is).  Right now, there are only global styles for Background, Text and Links (I think Buttons and Headings - H1,H2,etc. should be added to this list).
<img width="271" alt="Screen Shot 2022-03-30 at 9 56 11 AM" src="https://user-images.github

[2022-03-30 16:32] karmatosed commented on #39596
Hi @ponderboy in order to help a little more would you be able to give some more details as to your issue please? Once you have we can try and find that ideal help.

[2022-03-30 17:23] apeatling commented on #39651
Tested this again because it didn't make sense to me.

The problem is "wrap to multiple lines" is **on** by default not _off_ by default on the row block:

![2022-03-30 10 20 28](https://user-images.githubusercontent.com/1464705/160894419-eae0bbc1-9b9d-469e-83a6-37faa44ee673.gif)

When turned on, it is allowing wrapping of child blocks in the row. That's nothing to do with a paragraph child block

[2022-03-30 17:34] bradhogan opened #39907 "Post Navigation Link not working properly"
### Description

If viewing the latest post, the previous link does not appear.  When viewing a middle post (that has posts both prev and next), the output is the same rather than outputting the prev AND next.

### Step-by-step reproduction instructions

1. Edit default Twenty Twenty Two theme's templates/single.html and add the following:
[code]

2.  Create three posts
3. View the first / most re

[2022-03-30 17:35] bradhogan commented on #39907
Ignore.  Conflict with social Social Sharing Block (@ndiego)

[2022-03-30 17:35] #39907 closed, assigned to nobody

[2022-03-30 17:44] annezazu opened #39908 "Query loop block: fix block locking flow for consistency and to prevent breaking out of locking"
## What problem does this address?

For some of the more advanced blocks, there are what I'll call setup states where you need to take a few steps in order to configure the block in question. Three examples are the navigation block, query loop block, and template part block. Currently, if you lock these blocks during the initial setup stage, different outcomes occur:

**Query Loop: doesn't lock**

[2022-03-30 17:47] ssimo3lsuhsc opened #39909 "Caption before table"
## What problem does this address?

It is currently impossible to position a caption above a table and **enforce that screen readers will read the caption before the table.** I have tried using headings, but the data that has the same importance as the table in my hierarchy of information is a simple date, and it doesn't really make sense to include a heading at that point.

## What is your propos

[2022-03-30 17:50] mtias commented on #39651
Ah, good catch, that's what I had in mind — the behaviour where things fit on a single line by default, which is what you'd expect most often when choosing a Row. Otherwise if you have any line of text that is slightly long it'd seem like it's not working properly. Thanks for looking back :D

[2022-03-30 17:53] ponderboy commented on #39596
Its looks like this on the front end:

![screenshot-hp local-2022 03 30-19_31_43](https://user-images.githubusercontent.com/5340556/160896501-3a3c3af5-a17a-4f9e-99c6-bc263d998ab3.png)

and like this in FSE:

![screenshot-hp local-2022 03 30-19_33_15](https://user-images.githubusercontent.com/5340556/160896859-7c7cffcf-157f-4047-aa6a-59ea62606a4b.png)

I've added a site-logo block to my header temp

[2022-03-30 17:56] youknowriad commented on #39651
If we do change the behavior here. Let's make sure we don't regress on other blocks using "flex" where the "off" by default might not be the right call. (Navigation, buttons, social links, maybe others)

[2022-03-30 18:18] Mamaduka commented on #39908
Thanks for the ping, @annezazu.

Navigation and Template Parts setup works differently from Query block. Those are still the same blocks, but the reference template or navigation you just chose.

[code]

The Query block, on the other hand, replaces the whole block with the chosen pattern from the setup.

Currently, I can think of two options:

1. Disable locking when Query block is in setup state.

[2022-03-30 18:22] pixelprogrammer opened #39912 "Block Editor Styles not loading in the Site editor (beta)"
### Description

When I use `enqueue_block_editor_assets` the block editor styles load when editing pages. However, when I am in the site editor, these styles load in the main document, but all of the blocks are loaded in an `iframe` and the styles are not loaded there.

Is this the expected behavior? Posting someone elses stackexchange question as it is the same issue I am having:

https://wordpr

[2022-03-30 18:39] SergeGusev opened #39913 "There is no Replace button in Site logo block"
### Description

I cannot upload or change the site logo in the Site Logo block, because there is no Replace button in the block's attributes.   But I'm able to do it on an Image block - it has Replace button and allows me to select an image from Media library or disk.

### Step-by-step reproduction instructions

1, Install new WP 5.9.2
2. Set TwentyTwentyTwo theme as Active.
3. Press Customize bu

[2022-03-30 18:51] paaljoachim commented on #39347
This does sound kinda like a bug:

[2022-03-30 18:53] chthonic-ds commented on #39912
Try using `add_editor_style()`, more detail in [this support thread](https://wordpress.org/support/topic/how-do-we-attach-a-style-sheet-into-fses-iframe-location/).

[2022-03-30 19:21] pixelprogrammer commented on #39912
Thank you. That worked.

My styles already wrapped my classes in `.editor-styles-wrapper` so it was not working at first. I have to build two separate editor styles now but at least its working.

[2022-03-30 19:21] #39912 closed, assigned to nobody

[2022-03-30 19:54] benplum commented on #39311
Is the answer that the some blocks no longer output the alignment classes in favor of inline style blocks? Where are changes like this documented? Developing WP is giving me serious whiplash, every update means spending weeks patching all client sites running Gutenberg.

[2022-03-30 19:55] AdsonCicilioti opened #39915 "Scaffold for typescript in `@wordpress/create-block`"
## What problem does this address?
For those who already use Typescript, it is extremely unsatisfactory to have to work with JS. Even more so when getting to know a new library and its API.

## What is your proposed solution?
The `@wordpress/create-block` package could have a scaffold for Typescript. This would help a lot in learning and greatly improve the developer experience.

[2022-03-30 20:01] AdsonCicilioti commented on #39913
Hi @SergeGusev,

Had the same problem at #39776 .

It seems to be something related to your environment, as it was in my case, but I don't know if it's the same cause.

What does the browser console show?

[2022-03-30 20:10] benplum commented on #38719
The classes should return, they make the most sense for custom theme developers. The button block alignment is completely useless when the 'wp_render_layout_support_flag' filter is removed.

This type of update is incredibly disruptive for clients who have no technical knowledge. Their page is simply 'broken' and the developer they can email is always to blame.

[2022-03-30 20:14] fabiankaegy commented on #38719
I'd love to get a sense of whether we can expect the class names to return at least till the style engine is further along in the next WordPress 6.0 release. :)

[2022-03-30 20:18] SergeGusev commented on #39913
The console shows a lot of rows like **Updated block core/spacer** with content:

[code]

No red errors, info only

[2022-03-30 20:23] SergeGusev commented on #39913
![image](https://user-images.githubusercontent.com/25736363/160924323-dde19e56-f2e4-489c-b82d-84c47d2db7e3.png)

My Chrome console.

[2022-03-30 20:30] annezazu opened #39916 "Try an outlined lock icon for block locking"
## What problem does this address?

In excitedly testing block locking with GB 12.9, I noticed that the icon itself is quite heavy for lack of a better term and my eye was immediately drawn to it every time.  It was to the point that I worry we might be overemphasizing the feature in a way that doesn't reflect the usage it likely should have:

<img width="520" alt="Screen Shot 2022-03-30 at 10 44

[2022-03-30 20:39] #39535 closed, assigned to JustinyAhin

[2022-03-30 20:44] annezazu commented on #39393
Adding to 6.0 board in case something can happen. To set expectations, we have just over a week to get a PR in place so not sure if it'll make it in time!

[2022-03-30 22:39] annezazu commented on #39114
Curious if @ryanwelcher has any insights here!

[2022-03-30 23:04] ramonjd commented on #39889
Thanks for pulling this together @gziolo

We merged the [Style Engine class and associated tests](https://github.com/WordPress/gutenberg/pull/39446) with the intention of following up on @youknowriad's [suggestion](https://github.com/WordPress/gutenberg/pull/39446#issuecomment-1076050281) of moving it to the `style-engine` [package directory](https://github.com/WordPress/gutenberg/tree/trunk/packa

[2022-03-30 23:19] megphillips91 commented on #27941
**Can we take this concept one step farther, and offer export of [.wp-env.json](https://developer.wordpress.org/block-editor/reference-guides/packages/packages-env/#wp-env-json)?**

I'm exploring the developer experience from the start with wp-env using Docker. My goal is to get a portable "solution" for captains rather than a portable theme and a portable plugin. Let me explain what I mean by "so

[2022-03-30 23:48] mchowning commented on #35744
It looks like once https://github.com/microsoft/TypeScript/pull/48189 gets released we'll be able to configure TypeScript to load the `.native` files. 😄

[2022-03-31 00:24] ramonjd commented on #38167
I've added a comment over at [Plugin: Backport PHP changes for WordPress 6.0 release #39889](https://github.com/WordPress/gutenberg/issues/39889#issuecomment-1083726727) in relation to the new Style Engine PHP class.

The Tl;DR is that the initial baby step backend implementation won't make it into WordPress 6.0.

[2022-03-31 02:42] carolinan opened #39922 "Site icon is not removed from the Navigation Sidebar"
### Description

If the logo image is reset or the site logo option "Use as site icon" is toggled off, the site icon is still used in the navigation sidebar in the site editor.

### Step-by-step reproduction instructions

With a full site editing theme active:

1. Upload a site logo.
2. Enable it as the site icon, save.
3. Refresh and see that the site icon replaces the WordPress logo in the navig

[2022-03-31 04:26] delowardev opened #39923 "Gallery: images stuck in upload in progress state"
### Description

If someone presses the 'Save' button while the gallery block is uploading images, images get stuck in the loading state.

Please check the attached video: https://share.vidyard.com/watch/zZ3dZUQVofCkPziqYa4kTg

### Step-by-step reproduction instructions

1. Create a gallery block
2. Drop some images
3. Press the 'Save/Update' button while images are uploading.
4. Reload the browse

[2022-03-31 05:44] Greatdane opened #39924 "FSE Editor: Change 'Areas' to 'Template Parts'"
### What

When editing a template, and you click on the dropdown for the template editor, 'Areas' should be renamed to 'Template Parts'.

[![Markup 2022-03-15 at 11 52 27](https://user-images.githubusercontent.com/84089207/159061081-795379e6-5065-416c-963d-8feed7bd503c.png)](https://user-images.githubusercontent.com/84089207/159061081-795379e6-5065-416c-963d-8feed7bd503c.png)

### Why

It can be v

[2022-03-31 06:20] fabiankaegy commented on #38896
This was fixed in #39404

[2022-03-31 06:20] #38896 closed, assigned to nobody

[2022-03-31 07:00] jasmussen commented on #39082
@noisysocks What if we start with just the colophon part as [outlined here](https://github.com/WordPress/gutenberg/issues/39082#issuecomment-1076019494)? I'd be super happy to pair on it, do the CSS/style work.

[2022-03-31 07:10] Mamaduka commented on #39923
Related #16030.

[2022-03-31 07:11] getdave commented on #39602
@theminaldiwan thank you for taking the time to raise this Issue. It's been added to the tracking issue for the block.

[2022-03-31 07:15] theminaldiwan commented on #39602
Thanks @getdave and @paaljoachim for you response.

[2022-03-31 07:25] jasmussen commented on #39628
Alright, let's try this one, the second one:

<img width="732" alt="Screenshot 2022-03-31 at 09 26 14" src="https://user-images.githubusercontent.com/1204802/161000921-145ac505-9bb3-43f3-a52b-6fa09b30b08d.png">

SVG:

[code]

[2022-03-31 07:26] Chrico commented on #39685
Is there any issue related to that @carolinan we can dig into?

[2022-03-31 07:57] badlydrawnben commented on #28860
Another vote for this - streaming video from your server is far from ideal for most sites on low-cost hosting setups.

[2022-03-31 08:01] MaggieCabrera opened #39931 "Editor not working on block theme that has no index.html"
Right now we are relying on the existence of an index.html template for a theme to be defined as a block theme, but I've encountered the following case now:

A block theme that has
- a home.html template
- archive.html
- 404.html
- search.html
- page.html
- single.html

According to https://developer.wordpress.org/themes/basics/template-hierarchy/ this covers all the possibilities and having an in

[2022-03-31 08:42] jameskoster commented on #39916
@jasmussen made a good point that the icon should probably have some heft to it – it is a lock after all! :)

Another option we [explored before](https://github.com/WordPress/gutenberg/pull/39252#issuecomment-1063959066) was adding a keyhole:

<img width="69" alt="Screenshot 2022-03-31 at 09 40 59" src="https://user-images.githubusercontent.com/846565/161014334-9a88813b-c207-47ed-ad72-1c93f624cb2c

[2022-03-31 08:42] javierarce commented on #39312
Thanks for adding this issue, @NekoJonez… I'll consider adding this [to my proposal](https://github.com/WordPress/gutenberg/issues/39082) for the Status & Visibility panel.

[2022-03-31 08:50] delowardev opened #39933 "Block toolbar dropdown menu unable to scroll."
### Description

Sometimes block toolbar dropdown menu doesn't display the scrollbar, so it makes it difficult to reach the last 1/2 items. Ideally, it should display the scrollbar whenever an item gets out of the screen/viewport.

Please check the video:

https://user-images.githubusercontent.com/17360543/161015053-0a063156-53ae-4d1e-9fd8-2f01363b89db.mov

### Step-by-step reproduction instructio

[2022-03-31 08:53] jameskoster commented on #39785
This is [expected behaviour](https://developer.wordpress.org/themes/basics/template-hierarchy/#home-page-display). I agree that it's confusing though, we should probably attempt to give the `home` template a better name. Perhaps something like "Blog" or "Blog home"?

[2022-03-31 08:58] jameskoster opened #39934 "Reduced UI: Further reduce the top bar"
If you enable reduced ui in the preferences parts of the top bar disappear until hovered:

https://user-images.githubusercontent.com/846565/161017645-c62c7858-de6a-4bbe-87b8-eafa50f9be01.mp4

I wonder if we could go a step further and hide the top bar altogether in this mode, and reveal it only when the cursor approaches the top of the viewport:

https://user-images.githubusercontent.com/846565/16

[2022-03-31 09:01] javierarce commented on #39312
Here's how I think we could show that information:

![image](https://user-images.githubusercontent.com/4933/161018223-9c60dc41-7cbb-4b3a-b968-f53039acb15e.png)

I've also updated my [Figma document](https://www.figma.com/file/8vEDwRwmzWhxvcvhc6yaQk/Status-%26-visibility?node-id=0%3A1) with this idea.

[2022-03-31 09:42] Humanify-nl commented on #39347
Yes, I think this is more prevalent because placing a cover-block auto-assigns font-size large to the text in my case (wp 5.9.2).

Should I make a specific bug report for this?

[2022-03-31 09:43] gziolo commented on #39889
Are there any functional changes for block supports introduced in WordPress 6.0 release cycle that need to be included? Maybe we can simply postpone backporting those refactoring until the Style Engine has a stable API. Option (2) doesn't seem like an appealing idea from the WordPress core perspective because we will have to support the current implementation even when the API changes completely.

[2022-03-31 09:43] alanef commented on #28684
I have just come across this too.

To me it is obvious you want the same output in edit as you do in the front end.

Creating two sets of code one in REACT and one on PHP or if the front end is truely dynamic (e.g. near real time data display ), one in REACT and one in JS / JQuery ( or go through hoops and hoops to get REACT working on the front end ) seems 'fail'.

If the desire is to have dynami

[2022-03-31 09:59] paaljoachim commented on #39347
Hey @Humanify-nl Robbert

I went ahead and added the "Bug" label and "Needs Testing" label, as we need some additional folks to test it out.

[2022-03-31 10:07] HILAYTRIVEDI opened #39937 "Button Block alignment not working properly"
### Description

The button block button is not aligning on the right side in the Twenty Twenty Two theme. It is aligning on the left and center but not on the right side.

### Expected
- Button should be aligned in all directions.

### Step-by-step reproduction instructions

1. Activate the Twenty Twenty Two theme.
2. Add the button block on teh editor side of the Post or Page.
3. Try to change t

[2022-03-31 10:07] KAJALwp commented on #39896
Hello @arl1nd & @karmatosed,

I have tried to reproduce the same issue, and yes I am also facing the same issue, with and without Gutenberg plugin.

following are the version details
WordPress:- 5.9.2
Mac OS:- Monterey 12.2.1
Chrome:- Version 99.0.4844.84 (Official Build) (arm64)

Please review from your end and let me know if there is anything.

Thank you.

[2022-03-31 10:10] github-actions[bot] opened #39938 "[Flaky Test] should write over selection"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should write over selection

## Test path
`specs/editor/various/multi-block-selection.test.js`

## Errors

<time datetime="2022-04-01T17:32:01.735Z"><code>[2022-04-01T17:32:01.735Z]</code></time> Test passed after 1 failed attempt on <a href="https://github.com/WordPress/gut

[2022-03-31 10:10] mtias commented on #39934
Related #38928.

[2022-03-31 10:24] NekoJonez commented on #39312
Would it be overkill to also mention the user who last updated the page/post...?

[2022-03-31 10:38] Anjali29dots commented on #39896
Hello @arl1nd & @karmatosed,

I have tested this as well but it is not working with Gutenberg plugin.

System Specification:
WordPress:- 5.9.2
Mac OS:- Monterey 12.2.1
Chrome:- V Version 99.0.4844.84 (Official Build) (arm64)
Video: https://www.awesomescreenshot.com/video/8162481?key=653f7b87d7b29571e6835f65bcc917ad

Please review from your end and let me know if there is anything.

Thank you.

[2022-03-31 10:40] github-actions[bot] opened #39941 "[Flaky Test] shows placeholder on insertion of block"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
shows placeholder on insertion of block

## Test path
`specs/editor/blocks/navigation.test.js`

## Errors

<time datetime="2022-04-04T09:02:26.490Z"><code>[2022-04-04T09:02:26.490Z]</code></time> Test passed after 2 failed attempts on <a href="https://github.com/WordPress/gu

[2022-03-31 10:52] ricjcs opened #39943 "Embed block (flickr): Option to allow opening the image in a new tab"
## What problem does this address?
Browsing the website (not in the editor), clicking on an image inserted with the Embed Block/Flickr, opens the Flickr website in the same tab.

## What is your proposed solution?
An option to allow opening in a new tab would be useful. This option allows the user to continue browsing the website and not be directed to an external website. For example, in a Youtub

[2022-03-31 10:54] KokkieH commented on #31849
This would also help address the issue with Openverse image attributions when an Openverse image is selected as featured image. Related: https://github.com/WordPress/openverse/issues/170

[2022-03-31 10:56] Andrew-Starr opened #39944 "Inline block styles not applied in pop-out preview panel"
### Description

When registering custom block styles with `inline_style` styling, the style is not applied to the iframe inside of the block styles preview panel.

### Step-by-step reproduction instructions

Add a custom block style with inline styling to any block theme:

[code]

In the post editor select a paragraph and in Styles hover over the 'Just a Test' style button.
The pop-out block styl

[2022-03-31 11:00] geriux opened #39945 "Site editor - Duplicated name colors when adding/deleting in custom palette"
### Description

While creating a custom color palette in the site editor, there's a case where deleting the first colors would cause a bug where new colors created will keep the previous name causing duplicates.

Then when using these colors that have the same name there's a bug where the color you select is not the one you see.

### Step-by-step reproduction instructions

1. Go to the site edito

[2022-03-31 11:17] madhusudhand opened #39946 "Search Block: Button-position: inside, variant width grows beyond 100%"
### Description

Width of the search block grows with an extra value (of x-padding) when the button position is inside.
It grows because of the extra padding in this option.

block should have `box-sizing: border-box;` for the right width.

### Step-by-step reproduction instructions

* Add a search block in the page
* give it a 100% width
* Change the button position to `inside`
* observe that tot

[2022-03-31 11:17] #39628 closed, assigned to nobody

[2022-03-31 11:33] himali-patel commented on #39744
Hi Team,
Do we have any specific selected color code which needs to be used?. Or we are good to go for the fix on this ticket?

[2022-03-31 11:42] kmadhak commented on #37938
Hello @ddryo , @Mamaduka

Greetings of the day!!!

I have tried to reproduce the same issue, if we select a group then it is showing an option to add a new block, it is working fine.

following are the version details
WordPress:- 5.9.2
Mac OS:-12.2.1
Chrome:- 99.0.4844.84
Theme: Twenty Twenty One and Twenty Twenty Two

Please review from your end and let me know if there is anything.

Thank you.

[2022-03-31 11:50] theminaldiwan opened #39947 "In WP 5.9.2 content block duplication issue in post"
### Description

In WP 5.9.2 content block duplication issue occure while adding wp block in post editor.

### Step-by-step reproduction instructions

1.Create new post
2.Adding post image and title and edit single post template
3.Adding WP any block inside editor and update it.

### Screenshots, screen recording, code snippet

Recording:
https://www.loom.com/share/105e870aadb54dfbac3b6db9f5db4eb7

[2022-03-31 12:00] theminaldiwan commented on #39744
Hi
We need to change color contrast ratio from 4.0.1 to above 4.5 .
Thanks

[2022-03-31 12:03] Smit2808 commented on #39922
hi @carolinan, I tested this.

My environment info:
1. WP V5.9.2
2. Gutenberg V12.9.0
3. Browser Chrom
4. MAC OS

Steps:
1. Opened the FSE and uploaded the site logo and save it.
2. Refresh it and the site logo which I uploaded is reflected in navigation and in the site logo block. So this case is working.
3. After this I replace the old logo with a new logo the site logo is changed but in the nav

[2022-03-31 13:09] javierarce commented on #39312
I'm not sure, I think it's a good idea. Maybe we could implement it like one of these two options:

![image](https://user-images.githubusercontent.com/4933/161061439-f5a46ce0-b305-450c-b9e3-b3be9c85dddd.png)

And if the blog just had just one user, we would only show the dates.

[2022-03-31 13:13] akasunil commented on #39937
The cause of this issue is justify control in gutenberg button block. Alignment stylesheet get override by Justify control styles. There is solution for this, it more like a patch.

Below style sheet will resolve the issue (See below screenshot for reference ) :
[code]
<img width="600" alt="Screenshot 2022-03-31 at 6 38 23 PM" src="https://user-images.githubusercontent.com/61308756/161062164-ba3a2

[2022-03-31 13:46] pluginslab commented on #33542
There's a good demand for having more flexibility in enqueueing scripts, for both the editor and view scripts. Specially, the footer options. WooCommerce Blocks requires [in some cases](https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/5059) that editor scripts are loaded at the footer.

<img width="453" alt="CleanShot 2022-03-31 at 14 38 13@2x" src="https://user-images.gith

[2022-03-31 13:57] anamwp commented on #39947
Hello @theminaldiwan
I think, you need to insert your content inside the content area when you editing single post template.
Otherwise it will be outside of the content.

Check below screenshot.
https://monosnap.com/file/EcCQOCMF17cYxo1CPj3z3zIx8WZGoU

Correct me If I am wrong.
Thanks.

[2022-03-31 14:03] yatharth076 commented on #39754
Hi @Smit2808 and @karmatosed,

I have tried to reproduce the above issue and I was able to reproduce it.

System Specification:
WP V5.9.2
Gutenberg V 12.9.0
MAC OS Monterey 12.3
Browser: Chrome [Version 99.0.4844.84 (Official Build) (arm64)]

Also, all the other plugins were deactivated.

Video link - https://somup.com/c3ew2cOnke

Thank you.

[2022-03-31 14:07] ntsekouras commented on #39908
We should find a way to implement the first option - and just for reference this is when there are no innerBlocks in Query Loop.

We can't do something about the second option, as we replace a single Query Loop block with a pattern. What this means is there could be any blocks, from a wrapper Group block to a paragraph and then a Query Loop(or even multiple ones), so we can't even rely on the firs

[2022-03-31 14:11] theminaldiwan commented on #39947
Hi @anamwp
Yes ,its working but in case anybody having first time visit its difficult to identify the adding block inside post content block.So anybody can adding block anywhere but block will be nested at a particular page.It should not be affecting the other pages.
Thanks

[2022-03-31 14:15] jameskoster commented on #39281
I’ve been looking at ways we might establish a more pattern-centric experience for the creation (and editing) of templates. Many of the concepts discussed in this issue will be critical in achieving a better experience. Here's what I have so far...

### Building with sections

A dedicated mode that optimises for browsing, inserting, and arranging root level block groups like  Headers, Footers, and

[2022-03-31 14:22] ramizmanked opened #39951 "Ability to remove unnecessary Template Parts from core theme"
## What problem does this address?
With FSE, per best of my knowledge, we are unable to remove unnecessary/unwanted template-parts comes with default theme (i.e. TwentyTwentyTwo).

Recently I developed a website on top of TwentyTwentyTwo theme. I wanted to customize some parts of default theme so I created a child theme of TwentyTwentyTwo and started working on it. At later stage, I noticed there

[2022-03-31 14:23] megphillips91 commented on #27941
So, uh oh, I guess there are some serious concerns with the idea that I shared. Here is the feedback I received from slack.

I came to my suggestion naïve of the hostile reception it would receive with a pure motivation. I am sorry to have caused any disruption in the pursuit of a better development experience for WP developers. So, maybe disregard my idea ?

[2022-03-31 14:25] javierarce commented on #39945
I imagine that this happens because we generate the name of the new color by adding one  the number of rows.

A good solution that avoids repeating the name of the color, no matter how they are arranged on the list, would be to do something like Figma does with pages: sort all the pages that are labeled "Page X" (where X is a number), and then create a new page with the subsequent number.

https:/

[2022-03-31 14:33] ramizmanked opened #39953 "Ability to clone Template Part from Backend"
## What problem does this address?
Currently, there isn't a way to create a new Template Part from existing template parts from Backend.

## What is your proposed solution?
Adding Copy/Clone option under Template Part settings could be an option.

[2022-03-31 14:35] MaggieCabrera commented on #27941
I agree with the expressed concerns and think that the suggestion might be out of the scope of what the editor should do, but there's no disruption at all for making the suggestion? Please feel free to keep bringing ideas for discussion, that's how we make progress together!

[2022-03-31 14:50] fluiddot opened #39955 "Performance: `RichText` component is being re-rendered unnecessarily due to `colorPalette` prop"
## Description

`RichText` component is being re-rendered unnecessarily due to the `colorPalette` prop. This is unexpected as the color palette is a constant value that shouldn’t change along with the editor experience. Looks like this might be caused due to the fact that we create a new array for this value within the withSelect block of the RichText component.

https://github.com/WordPress/guten

[2022-03-31 15:05] megphillips91 commented on #27941
I appreciated this idea. Do you think we could gather support for developing a plugin that can offer the functionality? In the interest of inclusivity, I think the idea still may have merit.

For devs coming from the JS world, the experience with VVV is really unfamiliar. In the interest of living up to the inclusivity we aim to achieve within the WP Community, I hope we can make the beginner expe

[2022-03-31 15:10] fluiddot opened #39958 "Performance: `BlockListBlock` component is being re-rendered unnecessarily due to `items` prop"
## Description

`BlockListBlock` component is being re-rendered unnecessarily due to the `items` prop passed from inner blocks. Looks like this prop is only used when grid properties are passed to the block, which is the case for inner blocks ([reference](https://github.com/WordPress/gutenberg/blob/4d3fb72d301f26bcf13f3117cec7e5abe60f399e/packages/block-editor/src/components/inner-blocks/index.nat

[2022-03-31 16:15] skorasaurus commented on #20795
The current implementation doesn't use srcset; but instead uses the registered_image_sizes to calculate which image size to detect - https://github.com/WordPress/gutenberg/blob/trunk/packages/editor/src/components/post-featured-image/index.js

Any install that has the default register sizes will pick a smaller image; as shown in this example using gutenberg 12.8.1.
![Selection_164](https://user-im

[2022-03-31 16:36] arunsathiya commented on #39785
Thanks for that link! Makes sense why it's called `Home` now. If it's renamed to `Blog home`, that wouldn't work for a static page homepage. So, maybe `Home` is appropriate after all.

[2022-03-31 17:00] hellofromtonya commented on #39889
[Trac ticket 55505](https://core.trac.wordpress.org/ticket/55505) is now opened for the `@wordpress` package updates and backporting the PHP changes to Core.

[2022-03-31 17:46] matiasbenedetto commented on #39266
Based on your latest comments and suggestions [I started a quick proof of concept ](https://github.com/matiasbenedetto/a11y-blocks-test) around a package to test the blocks using the E2E tools.

Basically, it is a collection of e2e tests that uses `@wordpress/e2e-test-utils` and `@wordpress/jest-puppeteer-axe` and adds each block with the necessary mock data/assets, instead of fixtures, to have me

[2022-03-31 18:00] Tirjasdyn commented on #8609
This is happening to me as well. See davidperegar's screen shot. Also the featured image is also missing.

[2022-03-31 19:59] apeatling commented on #29145
I want to make sure that I understand this correctly. When you use the empty paragraph example in the issue comment, is that a single paragraph block that has empty new shift+return lines in it?

I ask because If a user creates space between two paragraph blocks, they are going to insert multiple empty block placeholders like this:

<img width="1653" alt="Screen Shot 2022-03-31 at 12 54 19 PM" src

[2022-03-31 20:24] ramonjd commented on #39889
The last major update that I'm aware of was [Block Supports: Allow skipping serialization of individual features #36293](https://github.com/WordPress/gutenberg/pull/36293), which affected all block supports files.

@aaronrobertshaw do you see these changes as required for WordPress 6.0?

Agree. What can I do to help here?

Do you need me to roll back [the plugin integration of the Style Engine](ht

[2022-03-31 20:26] NekoJonez commented on #39312
I love the bottom one more to be honest.

I use "Show Modifed Dates in Admin Panel" as a standard plugin and adding its functionality into Gutenberg would be amazing. It brings such a small feature that can mean so much.

[2022-03-31 20:27] NekoJonez commented on #39312
The biggest reason I love the bottom one is because it looks like you can click through to the user profile which opens a whole realm of options

[2022-03-31 20:48] justintadlock commented on #39931
I've ran into this issue, too.  See: https://core.trac.wordpress.org/ticket/54910#comment:34

My suggestion was that we have the following flag in `theme.json` to let WP know that "Hey, this is a block theme."

[code]

A `style.css` header would work too.

[2022-03-31 21:28] ryelle commented on #25003
This is a duplicate of #25256, which was fixed back in Dec 2020

[2022-03-31 21:29] #25003 closed

[2022-03-31 21:45] paaljoachim commented on #39473
That is a very good idea @bradley2083 Bradley!
@jorgefilipecosta I believe this is an issue you might be able to take a closer look at.

[2022-03-31 21:47] mtias commented on #39332
I think I'm fully caught up with the developments now and wanted to summarize a few things:

- The main goal is to avoid loading every registered font on the front-end while still loading them in the site editor (back-end) so people can choose and manage them.
- On the front we should enqueue only the fonts that `theme.json` / user styles are using, or those that a theme enqueues directly (using `

[2022-03-31 22:14] strarsis opened #39961 "`core/group` `.wp-block-group` element stripped (on frontend) with wrapper present which CSS class contains `[...]wp-block-group[...]`"
### Description

When the `core/group` block element is wrapped with an element that has a class that contains `wp-block-group`, e.g. `wp-block-group__wrapper-container`, Gutenberg will strip the `.wp-block-group` element from the final frontend HTML, leaving only the wrapper element and the inner `.wp-block-group__inner` element.
The element has to contain a class that contains the string `wp-blo

[2022-03-31 23:14] Tirjasdyn opened #39962 "Categories are Blank & Featured Image selection missing in editor"
### Description

I went to write a post and my categories section is empty and the feature image block is missing from the sidebar.
![Screenshot 2022-03-31 170607](https://user-images.githubusercontent.com/10961682/161163877-be0ad536-1cc6-4d74-bd2f-492adb1d4493.JPG)

I turned off all plugins and the problem persists, even with a default theme. I can see categories in quick edit.

In the console i

[2022-03-31 23:32] walter74ucla opened #39963 "wp.data.dispatch('core/edit-post').openModal(); Not Working"
### Description

[openModal](https://developer.wordpress.org/block-editor/reference-guides/data/data-core-edit-post/#openmodal)
Returns an action object used in signalling that the user opened a modal.

Parameters
**name string: A string that uniquely identifies the modal.**
Returns
Object: Action object.

### Step-by-step reproduction instructions

1. Go to the Edit Article Screen
2. Click on the

[2022-03-31 23:47] aaronrobertshaw commented on #39889
I'm not sure where to draw the line here. #36293 does give us much greater flexibility in applying block supports and fixes some oversights in existing supports that missed allowing skipping serialization.

It was also required for us to neatly [re-adopt text-decoration support for the navigation block](https://github.com/WordPress/gutenberg/pull/36345).

[2022-04-01 00:14] tellthemachines commented on #39802
As @talldan suggested [here](https://github.com/WordPress/gutenberg/pull/39290#discussion_r836970817), we could also temporarily hide the movers until this problem is fixed. We shouldn't ship the navigation sidebar in 6.0 with pending a11y issues.

[2022-04-01 00:45] #27609 closed

[2022-04-01 00:59] carolinan commented on #39266
I think that if possible, we should try to avoid having one test file for each block, as that is part of the maintenance problem.

[2022-04-01 02:37] costdev opened #39964 "Improve the search for tags when a substring doesn't appear in the first 20 results."
## What problem does this address?
See Trac ticket: [55511](https://core.trac.wordpress.org/ticket/55511).

[2022-04-01 03:06] zaguiini commented on #39332
Right. Time for the action plan for `theme.json` fonts registration + enqueueing!

## Problem

We want to enqueue font families referenced within `theme.json[settings][typography][fontFamilies]` and programmatically through the Webfonts API. It should also be possible to register fonts directly through the same path inside the `theme.json` file.

The `theme.json` file should declare which fonts sh

[2022-04-01 03:25] easilyamused commented on #36127
@ellatrix could you help us out on this topic, please.

We have been blocked for a couple of months.

[2022-04-01 04:46] talldan commented on #39963
@walter74ucla Thanks for reaching out. The block manager has been in the Preferences Modal since Gutenberg 10.9 - https://github.com/WordPress/gutenberg/pull/32166.

You can use this snippet to open the preferences modal, but I don't think there's a way to open the blocks tab:
[code]

Gutenberg is now on v12.9, unfortunately versions as old as the ones you reference are not actively supported.

[2022-04-01 04:46] #39963 closed, assigned to nobody

[2022-04-01 06:05] oldrup commented on #15349
Living in a non-English country, most of my content is not in English, however I often quote English articles, and in the current state, the Gutenberg editor does not allow me to set the [lang attribute](https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/lang) on a block or inline level.

That really messes up screen readers, as they read aloud English texts as if they were Danish

[2022-04-01 07:04] paaljoachim commented on #39427
Just a quick thought...
Should image instead be called media? So that one can add a general media item be it image, audio, video from the media library or through a URL? Example. A [background video from Youtube](https://github.com/WordPress/gutenberg/issues/28860) going in a loop inside the Cover block. An audio embed playing in the background from Sound Cloud.

[2022-04-01 07:39] Greatdane opened #39968 "Show/Hide on blocks on different device/screen types"
### What

I would like to have the option for every single block that would allow to hide/show the block based on device type in the FSE and the regular blocks.

### Why

This will give more control to the user to manage the content on the website. This way, they can decide to hide the content that may not be suitable for mobile viewers from being viewed when the site is viewed on mobile and vice

[2022-04-01 08:17] aristath commented on #39643
How are you defining font-sizes in `theme.json`?
Do you use a `name` for them? Or just use `slug` & `size`? If I'm not mistaken, if you add a `name` you should see the labels
[code]

[2022-04-01 08:19] ooksanen commented on #39643
I do have names set for them

[code]

but still only see 1, 1.25 and 1.5 for the above example.

[2022-04-01 08:46] ntsekouras commented on #39082
FYI I'll start a first version of this with @jasmussen' s support 😄

[2022-04-01 08:52] swissspidy commented on #15349
It should be trivial to create a small plugin that adds this to the Paragraph block. I might take a stab at it if nobody beats me to it.

[2022-04-01 09:06] oldrup commented on #15349
On my quest to create websites, accessible for everyone, I was evaluating all the screen readers and updating my habits when creating content accordingly.

The largest, single hurdle now - to me - is that I'm unable to set the language attribute of a paragraph. In theory, it SHOULD be simple, it's just an attribute, just like the font size, weight and I *would* go through the trouble adding it man

[2022-04-01 09:06] markhowellsmead opened #39971 "Use of CSS :where as a class selector can be too specific"
## What problem does this address?

Using `main :where(h1,h2,h3)` (specificity 0,0,0) is less specific than `main h1, main h2, main h3` (specificity 0,0,2) because using `:where` in this scope has specificity zero.

However, using `.wp-block-columns:where(.has-background)` (specificity 0,3,0) is more specific than `.wp-block-columns.has-background` (specificity 0,2,0) and offers no practical benef

[2022-04-01 09:30] paaljoachim commented on #28446
@aristath Ari has made a PR here: https://github.com/WordPress/gutenberg/pull/39808
I am adding this as a comment as anyone who adds a comment to an issue will not get an alert when a PR is created.
I assume that Carolina @carolinan would like to test out the PR.

[2022-04-01 09:37] gziolo commented on #39889
In the meantime, I opened #39972 trying the remaining files living in the `lib` folder. I want to move them to proper subfolders so we exactly know whether they are still experimental, they were shipped in WordPress 5.9 or they should be backported to WordPress core as part of the 6.0 major release.

[2022-04-01 09:47] javierarce commented on #39427
I don't think so… at least my idea was to use the type of media as the name for the layer, so if you add a video, then the layer will be called Video.

On my first exploration, I also called the layer Media initially when the layer doesn't have any content.

[2022-04-01 10:12] grogou commented on #39114
@annezazu anyway this is not working in my side, so if you can suggest anything for this I will by glad for that.
Or if there complex way to understand this cases with "iframes". Where I can read about that something?

Thank you!

[2022-04-01 10:22] paaljoachim commented on #28446
I went ahead and added a mockup based on first clicking a toggle to display the description. Then seeing the description field and the additional toggle below. https://github.com/WordPress/gutenberg/pull/39808#issuecomment-1085714019
Let me know of adjustments that should be done.

[2022-04-01 10:30] bph commented on #39971
We don't have a label for "What is the reasoning behind the change" - I feel the Help Request comes the closest for now.

[2022-04-01 10:51] paaljoachim commented on #30142
I want ahead and added the "Needs Dev" label as I assume this issue is ready for a developer to work on.

[2022-04-01 10:54] carolinan commented on #38714
This is a duplicate of https://github.com/WordPress/gutenberg/issues/32386
and it is becoming an unwelcome distraction the more I work with the site editor.
But since this issue has some more details, I will close 32386.

[2022-04-01 10:54] #32386 closed, assigned to nobody

[2022-04-01 11:01] #39901 closed, assigned to NekoJonez

[2022-04-01 11:30] walter74ucla commented on #39963
thanks @talldan Your reply led to this:  wp.data.dispatch( 'core/edit-post' ).openModal( 'edit-post/manage-blocks' )
And it works as expected!

[2022-04-01 11:40] carolinan commented on #39740
I am closing this issue since it has been solved. Thank you.

[2022-04-01 11:40] #39740 closed, assigned to nobody

[2022-04-01 11:43] ronilaukkarinen commented on #18595
It is not just you.

We recently noticed the fix `unset($editor_settings['styles'][0]['css']);` is not effective. Default WordPress styles and Gutenberg styles are still applied in the editor as before we got rid of them.

Is there any bulletproof way to deregister or dequeue admin head styles related to Gutenberg blocks nowadays? I can't find any. We'd like to build our own core block styles, now

[2022-04-01 11:51] ciampo commented on #38934
Hey @pablohoneyhoney, here are my considerations (and a few questions) after a brief investigation:

This can be improved as you suggest with quick adjustment directly to the Global Styles [preview](https://github.com/WordPress/gutenberg/blob/6b6b7980aec9e457c86b5ef7df0f148e8caa07d7/packages/edit-site/src/components/global-styles/preview.js) in the sidebar.

This is also a quick adjustment that ca

[2022-04-01 11:54] carolinan commented on #37814
Retested with Gutenberg 12.9, I believe this has been solved.

[2022-04-01 11:54] #37814 closed, assigned to nobody

[2022-04-01 12:53] franmastromarino commented on #39699
hi, any updates on this?

[2022-04-01 13:24] oandregal commented on #39889
I'm not sure about the changes for the webfonts (`get_theme_data`) but we're adding some other changes for translating the style variations to that file ([see](https://github.com/WordPress/gutenberg/pull/39960)) which should go in WordPress 6.0.

[2022-04-01 13:27] adamziel opened #39977 "Audit Experimental APIs WP 6.0"
This issue list all experimental APIs in the editor(s). It was generated using @noisysocks' script from #28157.

The script overreports, but I think it's a nice way to highlight API usage across the packages.

The list is long, and we don't have to go through all of the items. However, the suggestion is the same - if you have introduced/used one of the APIs, please follow the steps outlined (by @y

[2022-04-01 13:27] adamziel commented on #28157
Ha, we've got to the point where that log is longer than GitHub's character limit for an issue:

![CleanShot 2022-04-01 at 15 24 50](https://user-images.githubusercontent.com/205419/161272472-31bc094d-616f-4dd2-aadd-fc9cbc178c4f.png)

I took the liberty of updating the script posted by @noisysocks to generate URLs starting with `/` and not `https://github.com` to make the output shorter.

[2022-04-01 13:31] adamziel commented on #39977
@Mamaduka what are your thoughts on `__experimentalGenerateAnchors`? It seems to be relevant to the [ToC block](https://github.com/WordPress/gutenberg/pull/29739) and the heading block.

[2022-04-01 13:40] taraskhvyl opened #39979 "Uppercase attributes in the default block "Table" become lowercase"
### Description

When I try to insert svg icon in the editor mode into the cell of default table, attributes with uppercase letters become lowercased. For example, `viewBox`  -> `viewbox`. Because of this, the icon is not displayed in the visual editor.

### Step-by-step reproduction instructions

1. As we have real Gutenberg editor here https://wordpress.org/gutenberg/ , we can use it for this is

[2022-04-01 14:21] markhowellsmead commented on #35384
The Spotify player is assigned the 21:9 aspect ratio, but the player for podcasts is less tall.

![spotify-players](https://user-images.githubusercontent.com/1571592/161282190-82aef26b-631d-481a-a0f3-2c54a74f0530.jpg)

[2022-04-01 14:22] markhowellsmead commented on #35384
Also, the class names `is-provider-spotify wp-block-embed-spotify` are missing in the editor, so CSS corrections cannot be applied.

[2022-04-01 14:53] adamziel commented on #39324
@priethor these issues do not seem to have been very active recently. Is there any feature that you think could land until Wednesday next week to be included in WordPress 6.0 release? To increase visibility, we can add it to the [WordPress Editor 6.0 project board](https://github.com/orgs/WordPress/projects/27/views/1).

[2022-04-01 14:56] bradhogan commented on #39371
I like the idea of making spacing (margin / padding) options similar to the typography UI.  If we were able to set specific pre-defined limits in that regard like we can now do with font sizing, then we'd be able to utilize `clamp()` to make the spacing more responsive as well, which is a big issue for me right now.  If I add custom spacing to a column, for example, on mobile, that spacing sticks

[2022-04-01 14:57] adamziel commented on #39189
@scruffian is there any feature tracked here that you think could land until Wednesday next week to be included in WordPress 6.0 release? To increase visibility, we can add it to the [WordPress Editor 6.0 project board](https://github.com/orgs/WordPress/projects/27/views/1).

[2022-04-01 15:03] adamziel commented on #36165
@aaronrobertshaw @apeatling Is there any feature that you think could still land until Wednesday next week to be included in WordPress 6.0 release? To increase visibility, we can add it to the [WordPress Editor 6.0 project board](https://github.com/orgs/WordPress/projects/27/views/1).

[2022-04-01 15:05] adamziel commented on #16479
@andrewserong since you self-assigned this issue recently: Is there any feature that you think could still land until Wednesday next week to be included in WordPress 6.0 release? To increase visibility, we can add it to the [WordPress Editor 6.0 project board](https://github.com/orgs/WordPress/projects/27/views/1).

[2022-04-01 15:07] bradhogan opened #39981 "Add Font Family dropdown to individual blocks in global Styles"
## What problem does this address?
Currently, you can add as many fonts as you'd like to your theme, register them in the theme.json and functions file and those fonts will appear in the global Styles > Typography > Font Family dropdown.  However, if you want to make a global edit to a specific block (Quote block for example), you can go to Styles > Blocks > Quote > Typography > and you can change

[2022-04-01 15:08] rodrigocarlos commented on #39964
I want to share an idea that might be the solution. Maybe you could put in the link search window, tabs that would filter by type of post (posts, tags, pages, categories, ...). So by default it can have the **All** tab and the search result will be for all post types (as it is currently). But if we want the result to be just a tag, then just click on the **Tags** tab and only tags related to the r

[2022-04-01 15:16] adamziel commented on #27814
Is there any feature here that could still land until Wednesday next week to be included in WordPress 6.0 release? To increase visibility, we can add it to the WordPress Editor 6.0 project board.

[2022-04-01 15:23] adamziel commented on #33447
@jasmussen @apeatling Is there any feature here that you think could still land until Wednesday next week to be included in WordPress 6.0 release? To increase visibility, we can add it to the [WordPress Editor 6.0 project board](https://github.com/orgs/WordPress/projects/27/views/1).

[2022-04-01 15:54] jasmussen commented on #33447
@adamziel given @aaronrobertshaw's good work on borders, it seems like #35602 and potentially #21540 could still land.

[2022-04-01 16:25] westonruter commented on #38889
The `uniqid()` function just ended up in the codebase again, this time in `block_core_gallery_render()`:

https://github.com/WordPress/gutenberg/blob/0f0a9b0bc2e3b2ad1edb6619bff4e20d227ea4da/packages/block-library/src/gallery/index.php#L52

Via #38164

[2022-04-01 16:35] joedolson commented on #39266
If the data/assets test files can be checked as part of the acceptance process - e.g., changes to blocks need to confirm that the test assets have been updated, and that can be automated, then I think this is doable. It's just that it won't work as a secondary process, where running the tests first requires manually verifying that each test is still current.

Would you agree with that, @carolinan?

[2022-04-01 17:04] badlydrawnben commented on #38719
+1 for this.

The semantic class names for the block wrappers seem like a much more DRY approach and use much less code.

To me, this:

[code]

seems much better than having a whole bunch of these on my pages wherever I alter a block wrapper

[code]

If I look at all the internal `.wp-container-xxxxxxxxx ` style tags at the bottom of a typical page then they look almost identical. There could be 5

[2022-04-01 17:21] girlg33k commented on #32353
Yes, please push this fix soon. I've had to replace reusable blocks that some team members have mistakenly deleted the contents for on a couple of sites. I have trained them, however humans are not infallible, especially when they are busy, stressed, or tired so a warning message or the ability to lock the contents of a reusable block would be ideal.

[2022-04-01 17:23] ryelle opened #39984 "Post Date block: Different display when site & user timezone don't match"
### Description

I'm in EDT (UTC-4), and I created a post at 12pm. My site is in PDT (UTC-7), so it saved the post as being created at 9:00am PDT. I have a set of post date blocks using different date formats.

In the database, it has

[code]

On the frontend of the site, the Post Date block shows

- ✅ Publish Date (with timezone): Apr 1, 2022 — 9:00 am PDT
- ❌ Publish Date (timestamp): `164880360

[2022-04-01 18:20] priethor commented on #39324
I don't think anything here is to be expected in WordPress 6.0, but we should start working on theme switching early after beta towards 6.1.

[2022-04-01 18:48] draganescu commented on #39814
Wouldn't it be better if the language switcher could be directly (somehow) inserted in the menu, instead of inserting a link first and transforming later?

[2022-04-01 19:08] carolinan commented on #39266
I feel like we are talking about two different things, and I believe we need to solve both and that we need to be a bit more specific;

- A set of e2e tests included in Gutenberg
- A tool that theme developers can use to test the blocks in their themes (and I suppose, plugin developers too)

For tests included in Gutenberg, we do need to use Playwright:
https://make.wordpress.org/core/2022/03/23/m

[2022-04-01 19:24] joedolson commented on #39266
It does seem like this is really addressing two completely separate issues, I agree. They both need to be addressed, but the primary issue that this discussion is intended to be about is the tool that allows block output to be tested by people.

Things like including axecore as an automated test is fine, but does not meet the needs of theme developers or accessibility testers to actually assess th

[2022-04-01 19:45] paaljoachim commented on #32353
Hello everyone.

This PR by @Mamaduka is being worked on. It adds a lock to Reusable blocks.
https://github.com/WordPress/gutenberg/pull/39950

It can use feedback!

[2022-04-01 20:09] ZebulanStanphill commented on #39971
[According to MDN docs](https://developer.mozilla.org/en-US/docs/Web/CSS/:where), `:where` always has 0 specificity.

[2022-04-01 20:18] grappler opened #39986 "Replace deprecated `who` argument from user query"
## What problem does this address?
In WordPress 5.9 the `who` argument has been deprecated. [Trac Ticket](https://core.trac.wordpress.org/ticket/16841)

Gutenberg is still using the `who` argument and recommending it to be used.
https://github.com/WordPress/gutenberg/blob/08cf4a96d1f14fcdf4c55886ba237fb294f9c465/packages/editor/src/components/post-author/constants.js#L2
https://github.com/WordPres

[2022-04-01 20:34] ZebulanStanphill opened #39987 "Determine canonical way to declare optional dependency on store from another package."
## What problem does this address?

In several places of the codebase, you can see something like this:

https://github.com/WordPress/gutenberg/blob/6821d2968a9223f7f97a97e6427d7cc09300eb05/packages/block-library/src/calendar/edit.js#L51-L54

Technically, there's no bug to "fix" in this exact use case. `editorSelectors` will simply be `null` when the `core/editor` store is not available, and the c

[2022-04-01 21:16] gziolo commented on #39987
Hello, there already is a similar issue tracked in the repository: https://github.com/WordPress/gutenberg/issues/32842.

The other reason we use strings when referencing stores is to avoid explicitly declaring a dependency which would create cyclic dependencies between packages. However, in that case, it’s an issue with the code architecture.

For the case, you explicitly described, one way to res

[2022-04-01 21:26] gziolo commented on #39639
@Mamaduka, does it mean that this file exists only to bring the site editor to WordPress 5.8:
https://github.com/WordPress/gutenberg/blob/trunk/lib/full-site-editing/edit-site-page.php?

[2022-04-01 21:37] ZebulanStanphill commented on #39987
Thanks, I couldn't find the aforementioned issues by searching. Good to know I'm not the first to bring this up, haha.

[2022-04-01 21:37] #39987 closed, assigned to nobody

[2022-04-01 21:42] gziolo commented on #39987
It still would be valuable to get your feedback on the issue I shared. Thank you for opening the issue. I know it’s getting harder to locate previously reported issues.

[2022-04-01 21:52] ZebulanStanphill commented on #32842
Copying my pondering from #39987: could dynamic `import` be useful here?

[code]

@youknowriad With regard to the Table of Contents block, one use-case I wanted to eventually cover was adding a ToC to your site's Post template, without having it in the post content itself. This was back when the block relied heavily on dynamic rendering, though. I'm not sure if such a thing is still feasible given

[2022-04-01 22:33] dmsnell commented on #39987
one would think correctly 😉 not sure when, but I believe we already want to have people pass in the store object itself already.

[2022-04-01 22:57] Tirjasdyn commented on #39962
Update. I found an old post here: which resolved the issue by deleting a User defined apache handleer. https://wordpress.org/support/topic/page-post-updating-failed-wordpress-5-2-rest-api-context-query-parameter/page/2/

I did have one and deleted it, this brought back feature image in the editor but not the categories.

[2022-04-01 23:04] Tirjasdyn commented on #39962
Cleared my cache (browser) after doing this and it's now working.

Steps to fix:
Log into hosting and cpanel
Go to Apache Handlers
Delete Handler with .php in it
Clear Cache and reaload site.

[2022-04-02 03:15] skysarwer commented on #10745
Can we re-open this issue? I completely disagree @youknowriad that " [It's not] a very common scenario for all block editor users."

Being able to add content before and after the main content area (like what the native Title block does in the editor) is super important for making the gutenberg experience well rounded.

There are so many applications to this that I can think of, that are currently

[2022-04-02 04:04] skysarwer commented on #10745
@mboynes Seeing as you were asking this around 3 years ago, I am curious if you arrived at any solutions for this? Thank you!

[2022-04-02 06:22] draganescu commented on #39934
Super happy this is in folks mind 👏🏻  @jameskoster This is what I originally had in mind with the top toolbar in #38928. I need to get my CSS superpowers from wherever i left them.

I'll try to see if the toolbar could use a helper component for that behavior.

[2022-04-02 06:36] carolinan commented on #36462
This is also preventing having different colors for social links in global style variations.

[2022-04-02 06:42] carolinan commented on #28314
Is this still something we want to implement?

[2022-04-02 06:49] carolinan opened #39989 "Allow setting default icon colors for social links using theme.json"
## What problem does this address?
It does not seem possible to set icon or icon background color for the social link or social links block using theme.json.

[2022-04-02 06:56] carolinan opened #39990 "Social link color panel does not have a reset all option"
### Description

The color panel for the social links block does not have a "reset all" option.

### Step-by-step reproduction instructions

1. Add a social icons block
2. Open the block settings sidebar and expand the color section.
3. Select colors.
4. Try to reset the colors. Notice that the "Reset all" option is not available.

### Screenshots, screen recording, code snippet

_No response_

##

[2022-04-02 08:38] landwire commented on #34589
Is that somehow possible yet? I find the current group block behaviour very unintuitive.

[2022-04-02 09:05] Humanify-nl commented on #39644
Custom post types are a cornerstone of WP. I'd be baffled if its not worth supporting.

Let me add here for your test, that adding it as a custom link breaks the 'is-current-page' 'is-current-menu-page' markers.
(they don't display when for example you linked a custom post type archive, and you are in the archive), it also doesn't work for 'any' custom link entered in the menu.

[2022-04-02 09:08] Humanify-nl opened #39991 "Post-templates 'wp-block-post' class missing in li-element in editor"
### Description

On the front-end, the class `wp-block-post` is added to the `li` elements of the `wp-block-post-template`.

In the editor on the back-end, this class is not present.

**Why is this important?**

- Especially for `li` elements i'd say it is always better to target a specific class for custom CSS (developer experience). To reduce specificity problems.
- The CSS block-classes on fron

[2022-04-02 09:31] landwire opened #39992 "Heading block inside cover block misses the alignment options"
### Description

This is what's missing:
![iScreen Shoter - 2022-04-02 11:22:40 373](https://user-images.githubusercontent.com/1001202/161376896-baa40a8c-2a3d-46f7-811f-f1517a85f7dc.jpg)

I would expect this:
![iScreen Shoter - 2022-04-02 11:24:46 082](https://user-images.githubusercontent.com/1001202/161376894-12868589-2fcd-4963-b558-55242a79d1cb.jpg)

Produces very long headline on wide screens.

[2022-04-02 11:01] amustaque97 opened #39993 "LetterSpacingControl: Add min/max limit to avoid letters overlapping and extra space"
### Description

While reviewing #39642, I found an issue there is no limit for letter spacing. If negative input is supplied letters overlap and mess the UI. There should be some min and max limit to control this weird behaviour.

As part of the investigation I found we need to make changes here:
https://github.com/WordPress/gutenberg/blob/trunk/packages/block-editor/src/components/letter-spacing

[2022-04-02 11:23] ribaricplusplus commented on #39298
I'm not sure if it makes sense to implement this for patterns. What happens when a user selects a pattern and then changes it? By change, I mean change the properties of the blocks in the pattern, for example. It would be confusing to still show the pattern as "selected" in the modal, wouldn't it?

Also, the current behavior is to remove the template part which is in use from the modal. So I'm not

[2022-04-02 11:24] Andrew-Starr commented on #39993
Not sure there should be any min or max limits imposed. Let the user decide what is best for them in each particular case.

Change the font size to a custom value something like 90px and the -12px letter spacing does not look so weird.

[2022-04-02 11:25] Luehrsen commented on #38719
I was under the impression, that the missing (removed) classes would be classified as a regression bug and therefore obviously be part of the next major release. Is that not the case?

[2022-04-02 11:48] amustaque97 commented on #39993
This is how it looks with the above mentioned font size and letter space and if we go beyond this, things start looking ugly. Will take suggestion from others to see what we can do best.
<img width="1369" alt="image" src="https://user-images.githubusercontent.com/21127788/161381671-14dbbe40-4b4a-43d3-bb54-e7a39ab39093.png">

[2022-04-02 14:39] MoOx commented on #39207
This commit https://github.com/gMagicScott/core.wordpress-mirror/commit/f481d34f694442d1b1d791c78c67051a047bcedf seems indeed to fix it.
Using 5.9.3-RC1 helps.

[2022-04-02 14:41] marceloaof commented on #39993
Things start looking ugly just in one perspective, since we have seen bolder, beautiful designs that go more negative than -12 or wider than dozens (fashion font families).
And this is only english... different language alphabets in the west and east which contain different letters, commonly their words are stretched differently.
We also consider animations with CSS in which the starting letter-sp

[2022-04-02 17:17] ribaricplusplus commented on #36613
Should this still be done or should it be closed? I see that the main tracking issue #36597 is closed.

[2022-04-02 18:24] skorasaurus commented on #29880
This type of behavior is endemic to all of the WordPress blocks that have media inside of them.

The crux is that WordPress will generally load larger images (in terms of dimensions) than necessary even if there are other files that are more appropriate of the same image.

This has been discussed across several issues, most notably #6177 and I recapped what's needed at https://gist.github.com/skor

[2022-04-02 18:24] #29880 closed

[2022-04-02 18:30] skorasaurus commented on #21510
was later fixed in https://github.com/WordPress/gutenberg/pull/21514

[2022-04-02 18:30] #21510 closed

[2022-04-02 19:27] andrea-calligaris commented on #15264
I was about to open a bug report about this, because to me this is a bug / missing obvious feature.
The editor memorizes if you're using the code view or the block view, so it should also memorize the fixed toolbar.
This would be especially useful since the non-fixed toolbar behavior is currently far from ideal, it very frequently hides what you're working on.

[2022-04-02 20:37] andrea-calligaris commented on #15746
Still relevant in 2022.

https://user-images.githubusercontent.com/10872697/161400221-c079fd36-3ad2-410d-89a5-07590d6e0995.mp4

Notice:
* The scrollbar on the right is moving all the time because the page is changing its height all the time.
* I'm cliking all the time but I get no response from the toolbar.

**This is set as "low priority" and "enhancement", but this is a bug that is making workin

[2022-04-02 20:50] andrea-calligaris commented on #35942
Related to https://github.com/WordPress/gutenberg/issues/15746

[2022-04-02 21:19] paaljoachim commented on #15746
I will let @gziolo @talldan know about this issue.

[2022-04-03 04:17] grantbarrett commented on #16425
@Netzlichter I ended up giving up on the scripts because after some initial success, they stopped working and I could not fathom why.

[2022-04-03 05:22] ofry opened #39996 "@wordpress/scripts: Add option to build unminified versions of CSS/JS files"
## What problem does this address?
build command on @wordpress/scripts can't only merge file without minifying

## What is your proposed solution?

Should be available "unminified" option like this syntax:
`wp-scripts build --unminified includes/js/src/index.js --output-path=includes/js`

[2022-04-03 06:00] jordesign commented on #39380
I've run into a similar issue here in terms of the the gap setting between posts in the Grid. As @carolinan  mentioned - it seems this block-gap is something that would need to be set at the Query Loop or Post Template block level.

It seems the gap between posts can't be changed from the 1.25em set in the default CSS
<img width="1606" alt="Screen Shot 2022-04-03 at 3 49 25 pm" src="https://user-i

[2022-04-03 06:01] AdsonCicilioti commented on #39644
They deprecated the customized navigation area, which would allow the use of the legacy menu manager and proposed the navigation block that loses the ability to add CPT's, which, as already mentioned, is the foundation of WP.

I sincerely hope that Wordpress continues to evolve, but a block that still doesn't cover the basic capabilities of the Legacy Menu Manager is making it difficult.

The way

[2022-04-03 07:02] #38889 closed, assigned to westonruter

[2022-04-03 07:33] maddisondesigns commented on #15105
Three years and this still hasn't been fixed

[2022-04-03 07:50] maddisondesigns opened #39997 "Ability to turn off constant snackbar notifications"
### Description

The constant barrage of notifications and popups in Gutenerg is so annoying! Can you please add an option (saved to the database and **not** just local storage) that allows us to turn off these annoying notifications.

I don't need preview popups even time I hover over a block in the Block Inserter. I don't need to be told that I just inserted a pattern when I just clicked on a pa

[2022-04-03 07:55] Humanify-nl commented on #39644
I’m sure they will get it right. Navigation is one of the most important aspects of a website..

But right now we’re either forced to used it as is, or drop the FSE (baby with the bathwater). That is why I proposed this: #39857

[2022-04-03 08:10] Mamaduka commented on #39639
@gziolo, that's correct. We'll remove that file after we drop support for 5.8.

[2022-04-03 08:22] Mamaduka commented on #39977
@adamziel, I think boolean settings are as stable as they get.

[2022-04-03 11:22] amustaque97 commented on #39993
Make sense 💯 . Thank you for your input @Andrew-Starr  and @marceloaof . Closing this issue because of comment of the above comments.

**Let the user decide what is best for them in each particular case.**

[2022-04-03 11:22] #39993 closed, assigned to amustaque97

[2022-04-03 12:01] iansvo opened #39999 "URL Input outputs with no ID if renderControl undefined"
### Description

URLInput does not always output an ID on the input itself, so in certain situations the label doesn't maintain it's relationship to the input.

See below snippet from: https://github.com/WordPress/gutenberg/blob/trunk/packages/block-editor/src/components/url-input/index.js (Line 438)
[code]

The input's ID string is only set on controlProps and if the experimental method isn't fou

[2022-04-03 13:22] mauriac commented on #37561
@c4rl0sbr4v0 @gziolo I've submitted a PR, can you review it? thanks

[2022-04-03 14:24] Mamaduka commented on #29864
Hi, folks

I started working on the edit Locking ability for the Reusable Blocks. You can follow the progress in this PR - #39950.

Cc @syedbalkhi

[2022-04-03 14:46] paaljoachim commented on #32461
@Mamaduka George is working on adding a lock to Reusable blocks in this PR:
https://github.com/WordPress/gutenberg/pull/39950

It can use some feedback!

[2022-04-03 14:49] Mamaduka commented on #39908
@ntsekouras do you think it makes sense to hide the whole `BlockSettingsMenuControls` when Query Loop is in the setup state?

![CleanShot 2022-04-03 at 18 48 54](https://user-images.githubusercontent.com/240569/161433706-d3c27444-a6f8-41c1-8921-bfd5d2db683a.png)

[2022-04-03 14:56] paaljoachim commented on #28895
Hey @tomjn Tom
I assume this would have to do with user roles.
I believe @Mamaduka George has worked on another aspect of this.

[2022-04-03 14:58] Mamaduka commented on #28895
Which aspects, I can't recall anything 😅

[2022-04-03 14:59] paaljoachim commented on #29178
**An update.**

George @Mamaduka is working on a lock mechanism for Reusable blocks in this PR:
https://github.com/WordPress/gutenberg/pull/39950

Check it out!

[2022-04-03 15:04] paaljoachim commented on #28895
LOL..:)
I was thinking locking programatically by user role, but as you just mentioned for me on a direct message on Slack that is different compared to in general disabling Reusable blocks.

[2022-04-03 18:17] supernovia opened #40002 "FSE Link Styles: can we have an option to control underlines?"
## What problem does this address?
Sometime site owners like their links to be underlined. Others want to turn underlines off. I would expect this option to be under Styles > Typography > Links, and there is an Appearance option there, but it seems to just be font weights. Currently underline is handled by the theme itself, and themes aren't consistent in this. Telling someone to just switch to an

[2022-04-03 18:55] shashwatahalder01 opened #40003 "[@wordpress/e2e-test-utils] switchUserToTest function is not working"
### Description

switchUserToTest function is not working, no parameter for switchUseToTest function as well as loginUser function inside loginUser

### Step-by-step reproduction instructions

1.  create an e2e test flow: login to admin > switch to different user
2. login to the admin
3. call switchUseToTest with another user(user must exist first)

### Screenshots, screen recording, code snippet

[2022-04-03 19:39] tomjn commented on #28895
For some sites reusable blocks just don't make sense, and are a major liability.

This isn't a case of controlling who can and can't use/create/modify reusable blocks, although that would be a useful thing to have documented, it's about disabling it completely for all users in all forms.

[2022-04-03 21:08] paaljoachim commented on #28895
I assume we should be able to turn off features like Reusable blocks and Patterns in the preferences panels. @ntsekouras

[2022-04-03 21:12] tomjn commented on #28895
no I mean in code, not a user preference, but a site design decision or business requirement, this issue was not created to address a preference.

I should be able to completely disable reusable blocks such that the existence of the feature and ability to use it are not possible. Not disabling it for a user, session, or role, but for an entire site, in code.

This can already be done for other fea

[2022-04-03 22:12] ndiego commented on #39992
Hi @landwire, this is expected behavior, but I agree that it's confusing. The Cover block does not support block layout (wide, full) on inner blocks, and therefore the Heading block does not have these settings when placed inside of a Cover block.

That said, if you place a Heading block inside of a Group block, and configure the layout settings (see the screenshot below), the Heading block will t

[2022-04-03 22:12] #39992 closed, assigned to nobody

[2022-04-03 22:57] zutigrm commented on #38935
Hi,
I went through the article and updated the referenced page for `theme.json` doc. Here is the pull request - #https://github.com/WordPress/gutenberg/pull/40005

[2022-04-03 23:58] andrewserong commented on #16479
Thanks for the ping @adamziel — I don't think there'll be anything to land in time for 6.0 from what I was exploring. I worked on a proof of concept for a background image block support in https://github.com/WordPress/gutenberg/pull/39243#issuecomment-1075761582 and we now have designs for a future direction for how the background controls might work (in https://github.com/WordPress/gutenberg/issu

[2022-04-04 00:21] ramonjd commented on #39889
I've added a backport PR for block supports `spacing.php` and `utils.php` over at https://github.com/WordPress/wordpress-develop/pull/2500 and put my name against it.

Includes the latest changes, that is allowing skipping serialization of individual properties, but removes the reference to the Style Engine. It's very minimal.

If I get time I can add migrations to border, color, dimensions, eleme

[2022-04-04 00:54] ndiego commented on #39962
Hi @Tirjasdyn, thank you for submitting a ticket and for providing detailed instructions for others that might run into this issue. It looks like it's resolved now, so I am going to close out the ticket. If this is not the case, just let me know and I'll reopen. Thanks!

[2022-04-04 00:54] #39962 closed, assigned to nobody

[2022-04-04 01:04] annezazu commented on #39851
^ Can confirm this is correct. Here's a quick video showing the current flow with Gutenberg 12.9.

https://user-images.githubusercontent.com/26996883/161457881-45b49e88-f8dc-474b-bf1b-06b84c825029.mov

Going to close this out as a result! Thank you for reporting and for your first ever reported issue <3 Doing so only helps Gutenberg evolve. If you experience other issues, please continue to report

[2022-04-04 01:04] #39851 closed, assigned to nobody

[2022-04-04 01:09] annezazu commented on #37018
This should be resolved as of Gutenberg 12.7 💥  https://github.com/WordPress/gutenberg/pull/38335

Here's a video of the current experience:

https://user-images.githubusercontent.com/26996883/161458171-89e229c1-7bbc-4ab6-b142-c0915757ba25.mov

I confirmed it works when pasting from another block too. I also wasn't able to replicate the jumping @formosattic using Gutenberg 12.9 and WordPress 5.9.2

[2022-04-04 01:09] #37018 closed, assigned to nobody

[2022-04-04 01:15] ndiego commented on #39344
Thank you for the ticket @Smit2808. I am able to replicate the issue in other themes besides Twenty Twenty-Two. @HILAYTRIVEDI  is correct that a quick solution is to add the following CSS to your theme's style.css file.

[code]

That said, this would probably also be good to add as a default to Gutenberg. I cannot think of a reason why not. Perhaps there is one, but I'll look into it. But in the m

[2022-04-04 01:57] ndiego commented on #39979
Hi @taraskhvyl, thank you for submitting an issue! I did some digging/testing and unfortunately, this is expected behavior. The Table block uses the [RichText](https://github.com/WordPress/gutenberg/tree/trunk/packages/block-editor/src/components/rich-text) component. The component does not natively support SVG markup at this time and as a result, the component is not parsing the markup correctly.

[2022-04-04 02:08] ndiego commented on #39968
HI @Greatdane, thank you for submitting this issue. This would be a very useful feature. That said, there are many great free plugins that already include this functionality, which traditionally has been something WordPress Core has avoided implementing directly and left to plugins. I have included a list of options below. Full disclosure, I built Block Visibility.

- [EditorsKit](https://wordpres

[2022-04-04 02:09] #39979 closed, assigned to nobody

[2022-04-04 02:09] #39968 closed, assigned to nobody

[2022-04-04 03:29] talldan commented on #39999
@iansvo Thanks for reporting this. If this is a fix you'd be interested in working on, contributions are very welcome. It seems like you've already done some good work identifying the problem.

[2022-04-04 04:53] annezazu commented on #38714
Apologies for missing that original issue! I very much did try to search but managed to miss it 🤦🏼 Thanks for connecting the dots.

[2022-04-04 05:27] gziolo commented on #39996
There is`wp-scripts start` command that doesn’t minify the code. Can you explain the reasoning and potential benefits of adding a new flag to `wp-scripts build`?

[2022-04-04 05:57] tellthemachines commented on #38719
Having read the excellent discussion taking place here and in #38998, I'd like to jump in with a couple of thoughts.

As far as I understand it (please correct me where needed), classnames-as-API are undesirable because:

* Plugins can output the same classnames using a different logic to core, with potentially unpredictable results if themes style those classnames directly;
* We want to encourage

[2022-04-04 06:07] jasmussen commented on #39585
Potentially a duplicate of #37387.

[2022-04-04 06:08] kohheepeace commented on #37019
Another similar issue https://github.com/WordPress/gutenberg/issues/18570

[2022-04-04 06:13] talldan commented on #39644
The ability to add CPTs isn't lost. You can still add CPTs.

Currently there isn't a way to add the CPT Archive in the way the old menu system supported, and that's what's being discussed here.

Please do make a seperate issue if you're having problems with links to individual CPTs.

[2022-04-04 06:30] landwire commented on #39992
Hi @ndiego,
thanks for taking the time to explain the workaround. I have three questions however:

1. Can we make sure that "settings.supports.align" is set to false in situations when a heading block (or any block really) that would normally support align is restricted in that way. Then I can show alternative block settings based on that check.

2. Is there a way to make sure whenever a cover blo

[2022-04-04 07:01] jasmussen commented on #28314
The design is a bit out of date, but in my mind it still makes sense to do this, including for other blocks where the color plays a prominent role, such as Cover.

[2022-04-04 07:22] ocean90 commented on #39986
Noting that the current request already generates a `X-WP-DeprecatedParam` header for this:

@TimothyBJacobs @spacedmonkey @youknowriad Do you have some ideas how we can detect whether `who` or `capability` should be used?

[2022-04-04 07:23] taraskhvyl commented on #39979
@ndiego Thank you for your response!

[2022-04-04 07:43] Luehrsen commented on #38719
But that is exactly what they are. By definition. That is what CSS classes have been built for and that is what their reason of existence is. For an obfuscated approach where theme.json is the only and singular source of truth, we could completely abandon css classes and just use IDs.

But we already know that this approach does not scale. I am aware, that a lot of JS first developers love the obf

[2022-04-04 07:54] ofry commented on #39996
Thank you. Sorry for disturbing.

[2022-04-04 07:54] #39996 closed, assigned to nobody

[2022-04-04 08:08] youknowriad commented on #39889
I've opened this https://github.com/WordPress/wordpress-develop/pull/2503 to backport the "global styles variations" related tests. This includes some parts of the theme.json class changes and some parts of the global styles controller changes as well.

[2022-04-04 08:15] youknowriad commented on #32842
This should be possible (you can get the blocks like we do in the "post content" block) and it should work (at least in the "edit" of the block. and yeah, it should be rendered dynamically if that's what we want to do.

I don't think there needs to be a dependency to "editor" to solve the issue here (`useEntityProp` is from core-data).  Now to answer your question specifically, we can't use dynami

[2022-04-04 08:17] #39207 closed, assigned to nobody

[2022-04-04 08:22] carolinan commented on #39207
Using do_blocks() still does not print the .wp-container-uniqueID CSS for the blocks.

[2022-04-04 08:41] ntsekouras commented on #39908
For me it makes sense to hide the highlighted part of your screenshot, yes.

[2022-04-04 08:49] AdsonCicilioti commented on #39187
If you want this to work just create a page template named `page-blog.html` and don't put it as a posts page in Reading Settings.

Just go to the edit or quick edit page and choose your page-blog template as it now appears in the page template selector, thanks to the nomenclature `page-blog.html`.

It is worth remembering that you will need a query Loop block.

[2022-04-04 08:58] Humanify-nl commented on #39187
Thanks for the tip. I'm aware that this is possible, we can put query loops on every page and call it a blog page.

But I've put this issue up to help make sure new WordPress adheres to its own template hierarchy in a consistent (and familiar) manner.

[2022-04-04 09:02] AdsonCicilioti opened #40014 "Fallback content for query loop block when there are no posts."
## What problem does this address?

The user does not see anything if there is no content in the query loop, especially in a template for the search page in FSE.
A bad UX. Which forces us to create a template in PHP and evidence that FSE is not yet mature.

### See, found posts:
![image](https://user-images.githubusercontent.com/6278398/161510099-4220da51-4f9f-4bb8-b69c-06cfc77fdaf6.png)

### When

[2022-04-04 09:02] github-actions[bot] opened #40015 "[Flaky Test] automatically uses the first Navigation Menu if only one available"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
automatically uses the first Navigation Menu if only one available

## Test path
`specs/editor/blocks/navigation.test.js`

## Flaky rate (_estimated_)
`0 / 0` runs

## Errors
  ● Navigation › Initial block insertion state › automatically uses the first Navigation Menu if onl

[2022-04-04 09:02] github-actions[bot] opened #40016 "[Flaky Test] shows button which converts submenu to link when submenu is not-populated (empty)"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
shows button which converts submenu to link when submenu is not-populated (empty)

## Test path
`specs/editor/blocks/navigation.test.js`

## Errors

<time datetime="2022-08-22T03:42:16.603Z"><code>[2022-08-22T03:42:16.603Z]</code></time> Test passed after 1 failed attempt on

[2022-04-04 09:14] AdsonCicilioti commented on #39187
Sure.
The naming doesn't have to be strictly `page-blog` but `page-{{any name}}`, define which blocks this template will have and reuse it as a page template. This at least solves the page title issue.

[2022-04-04 09:15] jameskoster opened #40017 ""Add to reusable blocks" menu item should use the reusable block icon."
It currently displays the transform icon:

<img width="296" alt="Screenshot 2022-04-04 at 10 14 08" src="https://user-images.githubusercontent.com/846565/161512907-9dd5f624-0779-4d46-9fe9-9ac8e7579b0c.png">

Proposal:

<img width="294" alt="Screenshot 2022-04-04 at 10 14 57" src="https://user-images.githubusercontent.com/846565/161513055-b55138d9-0165-4ccc-809b-4c5b96d38b66.png">

[2022-04-04 09:23] jameskoster commented on #36613
I think there's a decent argument for this change, if it's simple enough to implement. Not a strong opinion though, because it's unclear if this particular UI will persist in the long term (see https://github.com/WordPress/gutenberg/pull/39885).

[2022-04-04 09:26] carolinan opened #40018 "Hybrid themes: Block CSS is missing when using do_blocks()"
### Description

If you use do_blocks() to render a block, the CSS normally placed in a style tag for the wp-container-uniqueID inline in the _document_ is missing. Such as the flex, margins, widths and alignments.

### Step-by-step reproduction instructions

Use do_blocks() (in a front facing template file) to render a block with a layout setting like a group or template part.
Confirm that the CS

[2022-04-04 09:31] paaljoachim commented on #38498
@JustinyAhin Justin
Has made a draft PR here: https://github.com/WordPress/gutenberg/pull/40013

[2022-04-04 09:53] bradfrumos commented on #39207
A workaround to get the block support styles printed in the `<head>` seems to be to assign all your `do_blocks()` to variables before calling `wp_head()` and then print those variables where you need them.

[code]

[2022-04-04 10:10] carolinan commented on #40014
Hi!
In Gutenberg version 12.9.0 there is a new block that you can place inside the Query loop, called "no results".
The blocks that you place inside this container are shown when there are no results to show. You can place any blocks inside it.

[2022-04-04 10:48] ndiego commented on #40014
Hi @AdsonCicilioti, I just tested and confirmed @carolinan's recommendation above. The No Results block was added in 12.9, here is the relevant PR: #38806. Note that this block will only be an option when you are adding a block directly to the Query Loop block. If you try and add the block to the Post Template block, it will not show up as an option. The setup you want looks like this:

![image](h

[2022-04-04 10:48] #40014 closed, assigned to nobody

[2022-04-04 11:15] ntsekouras commented on #39395
Tried to understand what's going on in this [draft PR](https://github.com/WordPress/gutenberg/pull/40019). I have details in the description and any feedback is welcome.

[2022-04-04 11:15] ntsekouras commented on #38668
Tried to understand what's going on in this [draft PR](https://github.com/WordPress/gutenberg/pull/40019). I have details in the description and any feedback is welcome.

[2022-04-04 11:25] ciampo commented on #37506
Reopening — see details in #40021

[2022-04-04 11:36] youknowriad commented on #39207
I think the best solution would be to have a function that returns the output of blocks (style, JS and HTML) without relying on hooks. (`wp_head` or `wp_footer`). I think we discussed something similar related to the style engine work. cc @andrewserong @ramonjd and others.

Basically we need the APIs to render blocks to avoid relying on this hooks to be flexible enough. Right now rendering blocks

[2022-04-04 11:40] pratikgandhi14 opened #40023 "Page/Post URL slug generated incorrectly from Title containing certain non-English characters."
### Description

When I create non English Post/Page then URL slug auto remove some word from the provided slug.
Please check screen-cast for better understanding.

### Step-by-step reproduction instructions

1) Go to Add New Post/Page
2) Enter non English text in Title field e.g ( `अलग-अलग-प्रकार-के-प्लंबिंग-ट्रैप्स` )
3) Public / Update post

### Screenshots, screen recording, code snippet

Ref:

[2022-04-04 12:02] scruffian commented on #39189
@adamziel there are a few, but I have already added them to the board :)

[2022-04-04 12:24] #37181 closed, assigned to DAreRodz

[2022-04-04 12:28] andrea-calligaris commented on #15746
I should also point out that loading the page by hitting moderately fast the "Page down" key, results in loading the page rather fast and smoothly. So the issue seems to be more something about jumping in the middle of the page as demonstrated in the video, then the loading gets messy.

[2022-04-04 12:30] carolinan commented on #24952
It would be good to have a decision about if the author and avatar blocks are going to be in 6.0 and if that should include new patterns.

[2022-04-04 12:46] getdave commented on #37604
Reopened by my random branch. Closing again as I know why this failed.

[2022-04-04 12:58] #34611 closed, assigned to draganescu

[2022-04-04 13:03] ryanwelcher commented on #22151
I've updated this issue to reflect that all of the blocks in the [Gutenberg Examples](https://github.com/WordPress/gutenberg-examples) repo are using `block.json` files.

Additionally, we have generated a new release ( 1.1.0 ) that has an updated .zip that can be installed as a plugin.

There is a lot of work/planning going into the examples to restructure it to allow for:

1. A single build proce

[2022-04-04 13:03] paaljoachim commented on #28845
Ooooo this is interesting! Thank you for the issue Joen. I happen to bump into it.
@andrewserong @glendaviesnz @jameskoster (I think this could be interesting for you to know about this issue).

[2022-04-04 13:10] youknowriad commented on #39977
Any plans to stabilize some of these block supports. @aaronrobertshaw @andrewserong @ramonjd

[2022-04-04 13:18] paaljoachim commented on #39064
Thanks for adding this issue Rich!
(There was an earlier issue related to drop zones but I am not able to locate it.)

We should use similar drop zones that exist in Gutenberg today. Looking at drag and drop of image.
![Screenshot 2022-04-04 at 15 17 05](https://user-images.githubusercontent.com/5323259/161552189-99128106-ba0e-4338-a502-04fd5fc74a72.jpg)

Here is an example where I only added the

[2022-04-04 13:23] adamziel commented on #37582
Was this solved by #38646 @glendaviesnz @scruffian ? I'm asking because this issue is on the [WordPress 5.9.x](https://github.com/WordPress/gutenberg/projects/63) board and I am not sure whether it's already done, and will be a part of the Wednesday Gutenberg release that will become a part of WordPress 6.0, or is there still anything left to address here.

[2022-04-04 13:25] twstokes opened #40029 "[RNMobile] [iOS] Editor jumps when inserting a new block"
## Description
When pressing return to insert a new block, the editor jumps to a higher position and then scrolls down.

As pointed out by @fluiddot, this may be connected to the [React Native v0.66.2 upgrade](https://github.com/WordPress/gutenberg/pull/36328) that took place in WPiOS 19.0.

## Step-by-step reproduction instructions

1. Download WPiOS with a version greater than or equal to 19.0
2

[2022-04-04 13:27] youknowriad commented on #39977
cc @ciampo to see if there's any component that should be stabilized.

[2022-04-04 13:33] ndiego commented on #40023
Hi @pratikgandhi14, I am able to confirm this issue, but it appears to be a parsing issue related to specific non-English characters. The Editor seems to have trouble parsing the URL from a title containing the character `ट्रैप्स`. If you place this at the beginning of the title, it will also be stripped from the URL.

[2022-04-04 13:41] gziolo commented on #39977
Regardless of the WordPress 6.0 release cycle, it looks like we need to revisit the current approach to introducing experimental APIs. In my opinion, it's getting out of control because developers who authored those APIs way too often leave them documented only in the code and they rarely come back to promote them to final APIs.

[2022-04-04 13:55] fluiddot commented on #40029
This issue might be related to the changes introduced in [this PR](https://github.com/WordPress/gutenberg/pull/36914) to fix https://github.com/wordpress-mobile/gutenberg-mobile/issues/4069.

[2022-04-04 14:07] adamziel commented on #39889
I've combed through the files that didn't come up in the discussion and don't have anyone assigned in the issue description above. If your name or PR is on the list below, please reply with:

1) Do you want to include these changes in WordPress 6.0?
2) Do you have the availability to prepare a backport PR for [wordpress-develop](https://github.com/WordPress/wordpress-develop)?

### [lib/block-supp

[2022-04-04 14:17] adamziel commented on #39977
I think these two APIs can be stabilized.

I would like to make it a public API eventually, but it's internal for now so it doesn't matter for the 6.0 release.

[2022-04-04 14:45] MYIG opened #40030 "Fix this column bug right now please?"
### Description

I have been using Gutenberg for a long time, but it is the first time to me...
my column is so strange... what happened????

### Step-by-step reproduction instructions

I am just using columns to restrict my editor width. Because there is no certain feature about it in Gutenberg and Wordpress... if I am knowing about code much, it may not need to do it... Anyway, it works well but

[2022-04-04 15:11] scruffian commented on #37582
We still need to finish https://github.com/WordPress/gutenberg/pull/37728/

[2022-04-04 15:37] jasmussen commented on #36667
We’ve been exploring the proposals on this thread and trying to tie them them together in a dedicated _Design_ section. The basic idea centers around “Browse mode” (#23328), a viewport shown in a frame on the right that lets you navigate around your website. This is not a frontend view, but indeed the editor view, only with clickable links.

Tools that effect change site-wide, for starters Navigat

[2022-04-04 16:01] iamtakashi commented on #35955
+1 on this. Thanks for creating it, @kjellr!

[2022-04-04 16:45] cbravobernal commented on #39977
## packages/block-library
- [Avatar block](https://github.com/WordPress/gutenberg/tree/trunk/packages/block-library/src/avatar)

I guess we can promote the `Avatar` block to stable. I don’t know how much has been tested apart from the development, but it’s true that we received some feedback and a couple of fixes. Also, it would be great to create patterns for posts authors and will also become pa

[2022-04-04 16:49] github-actions[bot] opened #40031 "[Flaky Test] should undo asterisk transform with backspace"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should undo asterisk transform with backspace

## Test path
`specs/editor/blocks/list.test.js`

## Flaky rate (_estimated_)
`0 / 0` runs

## Errors
  ● List › should undo asterisk transform with backspace

    expect(received).toMatchSnapshot()

    Snapshot name: `List shou

[2022-04-04 17:55] Mamaduka commented on #40017
Fixed via #40020.

[2022-04-04 17:55] #40017 closed, assigned to nobody

[2022-04-04 18:59] annezazu commented on #24952
^ cc @adamziel and @gziolo for consideration and review as part of your sweeps :)

[2022-04-04 19:02] annezazu opened #40033 "Feedback on naming patterns and how to encourage best practices"
## What problem does this address?

This came up as part of the [twelfth call for testing for the FSE Outreach Program:](https://make.wordpress.org/test/2022/02/23/fse-program-testing-call-12-hyping-headers/#comment-2377)

For more context, the key here is that the default colors for a theme can now be overridden thanks to Styles. As a result, the naming of patterns like “Text-only header with gre

[2022-04-04 19:37] Mamaduka commented on #39977
There's a plan to stabilize Block Locking settings before WP 6.0 (#39809). We can also do the same for `__experimentalGenerateAnchors`.

[2022-04-04 19:59] Mamaduka commented on #39021
The fix will be part of 5.9.3 release.

[2022-04-04 20:26] ramonjd commented on #39889
[Block Supports: Allow skipping serialization of individual features #36293](https://github.com/WordPress/gutenberg/pull/36293)
cc @aaronrobertshaw @andrewserong @ramonjd

For the "Allow skipping serialization of individual features" feature, I've pulled across _most_ of the related changes for `lib/block-supports` in https://github.com/WordPress/wordpress-develop/pull/2500

@aaronrobertshaw might

[2022-04-04 20:27] AdsonCicilioti commented on #40014
Yes it's true! Thank you very much @carolinan  and @ndiego !

One more thing, could there be any hint in the documentation indicating the use of these related blocks.
![image](https://user-images.githubusercontent.com/6278398/161626210-11b88270-e099-47bf-8547-3ee9a97d09cb.png)

[2022-04-04 22:48] bradhogan commented on #39419
What about an option to add a custom icon (maybe via functions.php) or ideally directly in the editor / Gutenberg?  I am at a standstill from being able to start using FSE for new sites because there's no way to simply add a cart icon with cart count to the header nav / social icons block.  Please help :)

[2022-04-04 23:47] aaronrobertshaw commented on #39977
There's a [major update](https://github.com/WordPress/gutenberg/pull/37770) for `__experimentalBorder` that is close to landing. I think it will be best to let that settle a bit before we stabilize this one though.

As for the typography supports, I wasn't aware of any plans to stabilize them prior to 6.0.

We are [avoiding adopting the font family support ](https://github.com/WordPress/gutenberg/

[2022-04-04 23:48] andrewserong commented on #28845
Thanks for the ping! I think a minimum height block support for group blocks (in particular) would be really useful. There's been some prior exploratory work in #32499 and #33970 by @aaronrobertshaw and @ramonjd — perhaps we could revisit these approaches after 6.0?

[2022-04-05 00:15] johnstonphilip commented on #39021
I just had about 10,000+ users of an old theme (circa 2012) of mine get hit with this as well. Very full inbox for me for a very old, unrelated, intentionally opted-out-of-Block-Editor product.

[2022-04-05 01:30] carlomanf commented on #38376
The issue of breaking the appearance parity was touched on in the latest WP Tavern article at https://wptavern.com/fse-outreach-13-building-an-author-template-from-the-wordpress-site-editor

[2022-04-05 01:31] glendaviesnz commented on #39971
According to a [specificity calculator that understands Level 4 selectors](https://polypane.app/css-specificity-calculator/) `.wp-block-columns:where(.has-background)` has a specificity of `0 1 0` which is for the `.wp-block-column` class. In theory it would only be `0 3 0` in an environment that didn't support level 4 selectors, and so would take into account the second class name and the pseudo

[2022-04-05 04:30] ajlende commented on #39889
Yes and yes. I can make some time for opening a PR to backport duotone.php tomorrow.

[2022-04-05 04:46] Mamaduka commented on #39889
@ajlende, I think we backported those into a minor release, so they should be already in the WP trunk. At least the items I see on [that list](https://github.com/WordPress/gutenberg/issues/39889#issuecomment-1088256854). But I would recommend double-checking, just in case :)

[2022-04-05 05:16] ktmn commented on #32148
Additionally, elements with `[contenteditable="true"]` pass the `isTextField()` check, but `selectionStart` and `selectionEnd` seem to be always `undefined`, thus the `inputFieldHasUncollapsedSelection()` always returns `false` (making it impossible to cut text from CodeMirror editor in a block for example).

https://github.com/WordPress/gutenberg/blob/4bd51e16e00cf5bbc8ae81ed8712c6bde8a83a66/pack

[2022-04-05 06:11] #28446 closed

[2022-04-05 06:59] #39991 closed, assigned to Mamaduka

[2022-04-05 07:45] talldan commented on #39802
I'm getting a bit nervous about this with the release around the corner, so I've made a PR that hides the movers - https://github.com/WordPress/gutenberg/pull/40039.

[2022-04-05 07:48] andrewserong opened #40040 "Multi-select sidebar color controls spacing is rendering incorrectly"
### Description

When you select multiple blocks at the same time that can be altered via common color settings (e.g. select two paragraph blocks), the spacing of the color controls is off (there is too much space between the Text and Background controls):

### Step-by-step reproduction instructions

1. Insert two paragraph blocks
2. Select both blocks
3. Look at the block inspector — there is an

[2022-04-05 07:59] Mamaduka commented on #39889
I created PR to backport Post Lock fixes - https://github.com/WordPress/wordpress-develop/pull/2508.

[2022-04-05 08:06] webmandesign opened #40042 "Global styles: Lower selector specificity for declaring CSS properties (CSS variables)"
### Description

Currently [WordPress global styles](https://make.wordpress.org/core/2022/01/08/updates-for-settings-styles-and-theme-json/) declare CSS properties/variables on `body` selector:
[code]

This seems to be quite high specificity as themes and plugins can not use `:root` or `html` now to override those CSS variables.

It would be great if WordPress CSS variables in global styles are de

[2022-04-05 08:22] markhowellsmead commented on #40042
See also https://github.com/WordPress/gutenberg/issues/35840.

[2022-04-05 08:26] markhowellsmead commented on #36396
The use case is to allow the deactivation of block templates from the WordPress directory on sites where the layouts need to be more strictly managed. The users on these sites shouldn't be given the opportunity to import a block pattern from the Block Pattern Directory, as many of the patterns there wildly conflict with the layouts which conform to the CI/CD of the company/site.

[2022-04-05 09:03] bph commented on #40030
Hi @MYIG,
Thank you for reporting! It seems like a bug, indeed.
Could you please help us to research this bug:

- What are good steps to reproduce your experience.
- What are the language and environment settings?
- What browser are you using? What version?
- Are you using the Gutenberg plugin?
- Which WordPress version is installed?

[2022-04-05 09:05] kmadhak commented on #38651
Hello @kajalmultidots , @karmatosed,

I have tried to reproduce the same issue, and yes I am also facing the same issue, with and without Gutenberg plugin.

following are the version details

WordPress:- 5.9.2
Gutenberg Plugin Version: 12.5.4
Mac OS:- 12.3.1

Please review from your end and let me know if there is anything.

Thank you.

[2022-04-05 09:21] MaggieCabrera opened #40043 "Preset colors not working on classic themes"
### Description

On classic themes, colors that are defined in core's color palette won't show on the frontend unless the theme defines them.

### Step-by-step reproduction instructions

1. Activate Twenty Thirteen.
2. Add a Group block, make the background black (#000000 on the color picker)
3. Check the frontend, there's no background color applied

In the editor, we can see the color set as an

[2022-04-05 09:25] gziolo commented on #39889
Backported with https://core.trac.wordpress.org/changeset/53070.

[2022-04-05 09:49] fluiddot commented on #29048
I'm experiencing this issue every time I insert a text block from the block picker in the latest version `19.6-rc-1`, so maybe it shouldn't be considered as an occasional issue 🤔.

@mchowning I see we marked this issue as Low priority, however, since it's happening more often we might consider increasing the priority, wdyt?

[2022-04-05 09:50] jameskoster commented on #36609
Closed by https://github.com/WordPress/gutenberg/pull/38806

[2022-04-05 09:50] #36609 closed, assigned to nobody

[2022-04-05 10:00] fluiddot commented on #38636
I also experienced this in the recent version `1.73.0 (19.6)`, although I also spotted that lines overlap when saving and reopening the post. In any case, and as outlined in [the previous comment](https://github.com/WordPress/gutenberg/issues/38636#issuecomment-1072464642), I confirm that this only happens when using a block-based theme (I used the `Quadrat` theme).

<img src=https://user-images.g

[2022-04-05 10:03] youknowriad commented on #39889
This is now committed but when I compared the global styles controller files, I noticed the following small diff

https://github.com/WordPress/wordpress-develop/pull/2516

I wasn't able to find when we introduced this fallback in Gutenberg.

[2022-04-05 10:05] KAJALwp commented on #39403
Hello @maddisondesigns, @amustaque97

I have tried to reproduce the same issue, and yes I am also facing the same issue, with and without Gutenberg plugin.

following are the version details
WordPress:- 5.9.2
Mac OS:- Monterey 12.2.1
Chrome:- Version 99.0.4844.84 (Official Build) (arm64)
Please review from your end and let me know if there is anything.

Thank you.

[2022-04-05 10:06] Mamaduka commented on #39889
#38883

[2022-04-05 10:07] kmadhak commented on #39403
Hello @maddisondesigns, @amustaque97

I have also tried to reproduce the same issue, and I am also facing the same issue.

WordPress:- 5.9.2
Gutenberg Plugin Version: 12.5.4
Mac OS:- 12.3.1

Please review from your end and let me know if there is anything.

Thank you.

[2022-04-05 10:20] #16157 closed

[2022-04-05 10:22] KAJALwp commented on #39356
Hello @salcode, @karmatosed

I have also crossed verified the text and yes it shows true instead of false.

Thank you.

[2022-04-05 10:45] fluiddot opened #40044 "[Only Android] Unsupported block editor: Unable to load error message is not visible with dark mode"
## Description

On Android with the dark mode enabled, the "Unable to load the block editor right now" error message related to this [test case](https://github.com/wordpress-mobile/test-cases/blob/trunk/test-cases/gutenberg/unsupported-block-editing.md#editing-unsupported-blocks-is-disallowed-on-classic-enabled-atomic-sites) is not visible.

## Step-by-step reproduction instructions

1. On an Andr

[2022-04-05 11:04] markhowellsmead commented on #39971
The specificity calculators return different results. The one you've linked seems to be more up-to-date than https://specificity.keegan.st/, so I'll use that as a reference.

After further research and testing, the problem may not be due to the use of `:where` after all. (Although the use of `:where` at all is questionable because of browser support. [Over 12% of current browsers](https://caniuse.

[2022-04-05 11:25] ciampo commented on #39977
Thank you for the ping! We don't have any components to mark as stable at the moment

[2022-04-05 12:08] gziolo commented on #39889
This is now committed with https://core.trac.wordpress.org/changeset/53076.

[2022-04-05 12:12] gziolo commented on #24952
@carolinan, on the technical side of things I'm more than happy to promote Avatar blocks to stable state. Which new blocks are we talking about?

[2022-04-05 12:14] geriux opened #40045 "Spacer block - Crashes when changing the height value using the text input"
## Description
Changing the height value of the Spacer block crashes the app.

## Step-by-step reproduction instructions
1. Open the app
2. Create a post or page
3. Add a `Spacer` block
4. Open the block's settings
5. Change the height value using the keyboard

## Expected behaviour
You should be able to change the value using the keyboard

## Actual behaviour
The app crashes when trying to edit t

[2022-04-05 13:07] carolinan commented on #24952
The blocks are:
[Post Author biography (which is not marked as experimental) ](https://github.com/WordPress/gutenberg/tree/trunk/packages/block-library/src/post-author-biography)
[Post Author Name](https://github.com/WordPress/gutenberg/tree/trunk/packages/block-library/src/post-author-name)
Avatar

I still have concerns about the overlap between these and the existing post author block.
There is

[2022-04-05 13:09] mchowning commented on #29048
That makes sense. I'll go ahead and bump it up to high priority in light of "I'm experiencing this issue every time I insert a text block from the block picker", but go ahead change that if you think that something else is more appropriate.

[2022-04-05 13:23] ntsekouras commented on #39889
It was changed in core first and backported to GB here: https://github.com/WordPress/gutenberg/pull/38888

[2022-04-05 13:27] fluiddot commented on #29048
Thanks for updating it @mchowning, I think high priority makes more sense as it's happening more often 🙇 . I'm also going to update the title and description of the issue to reflect this change.

[2022-04-05 13:39] fluiddot commented on #40045
I've just followed the reproduction instructions with the WP-Android beta version `19.6-rc-1` and managed to reproduce the crash.

Here is the Sentry event related to the crash:
https://sentry.io/share/issue/f69cf2cbf05f4064a66748d515cab007/

[2022-04-05 13:48] SergeGusev opened #40048 "Clear theme.json cache after saving Styles in FSE"
## What problem does this address?

It is taking too long (for development) waiting for site's style changes after setting background color, for example. This is a video - https://drive.google.com/file/d/1h1Nn71QtCviAdPoruufSkC1rmKck_pON/view

## What is your proposed solution?

You can clear all caching after pressing Save button on Styles tab (well, on whole page too, I thinks)

[2022-04-05 13:57] getdave commented on #39802
Apologies I've been sidetracked fixing bugs in the Nav block itself.

[2022-04-05 14:21] scruffian opened #40050 "Navigation block: Delay creating entities until changes are saved"
## What problem does this address?
Following on from https://github.com/WordPress/gutenberg/pull/39883 it would be great if changes to navigation menus weren't converted to entities until the "Save" button in the Site Editor is clicked. This will avoid creating new navigation menus when the user is just making changes for testing, which should not be saved.

[2022-04-05 14:25] jffng commented on #40033
Thanks for the ping. It is a tricky problem, and the naming is not ideal when a user changes the palette.

I'm not quite sure how this should be addressed. Take for example the pattern _Header with centered logo and black background_. If we switched to semantic naming mapping to the way the color presets are named, this would become _Header with centered logo and foreground background_, which is m

[2022-04-05 14:54] paaljoachim commented on #39800
@getdave
What are the main goals for the Navigation Menu Sidebar?
I ask because from there one can begin to explore different names.

Such as....
I believe the main purpose is to edit an existing menu.
So one name could be "Edit Navigation (List)".

[2022-04-05 15:05] fabiankaegy opened #40051 "Add documentation for `object` key in `registerFormatType` settings"
The `registerFormatType` function from the `@wordpress/rich-text` package takes a settings object as the second parameter. This `settings` object is typed as `WPFormat` here in the code: https://github.com/WordPress/gutenberg/blob/a7e2895829c16ecd77a5ba22d84f1dee1cfb0977/packages/rich-text/src/register-format-type.js#L9-L20

however there are also other none documented settings that are being used

[2022-04-05 15:07] fabiankaegy commented on #40051
From what I can tell the `object` key is there indicating that the `tagName` is self-closing and therefore doesn't need a closing tag added. But that is only a very uneducated guess based on what it seems to be doing in the `core/image` format.

[2022-04-05 15:19] illycz commented on #39207
Any news about that? I'm trying to use virtual page template within block theme and render header and footer within `do_blocks()`.

Layout styles not loaded and inline blocks styles rendered before body so there is a specificity problem within custom styles which overrides blocks styles within standard block theme.

Thanks

[2022-04-05 15:23] getdave commented on #39977
@adamziel I've raised [this](https://github.com/WordPress/gutenberg/pull/40052) to promote `fetchLinkSuggestions`.

[2022-04-05 15:29] carolinan commented on #39207
The new issue is here:
https://github.com/WordPress/gutenberg/issues/40018
I have not tested yet but in theory, the solution @bradfrumos posted should work.

[2022-04-05 15:31] alexstine commented on #39801
@getdave Can I help in any way? We've got to land this one before this goes out in 6.0. Labeling issues we can live with, focus management is a must.

[2022-04-05 15:36] getdave commented on #38157
IN https://github.com/WordPress/gutenberg/pull/39883 weve now updated things so that Nav blocks that:

- are provided by a Theme template
- are inserted via a Pattern
- are created manually via Code View

...will only be converted to a Navigation Menu entity _if_ the user modifies the original blocks.

So if your Theme includes a Nav block it won't get saved as a Navigation Menu until you click on

[2022-04-05 15:37] kjellr commented on #40033
Yeah, this is a tough problem. 😩 I think after a while, these labels are relatively unhelpful anyway. I think we should switch to just "with background color" and avoid doing the A, B, C  thing.

[2022-04-05 15:42] timnicholson commented on #9357
+1 this is a very big problem for the theme I’m creating also. I very much want users to be able to reuse the same colors with different names (slugs). I want them to be able to select header, title, footer, primary, etc. colors that the theme uses. Users will definitely want the ability to specify the same color # for more than one of those.

Gutenberg already places the slug into the source HTML

[2022-04-05 15:43] getdave commented on #39801
@alexstine I'm painfully aware of this. I've been reaching out looking for additional support as I've been swamped with tasks. I'll circle back to this tomorrow to see if I can find a simple fix with a view to providing something more comprehensive in a future release.

[2022-04-05 15:44] Clorith commented on #39293
Those is an excellent question, and I understand the concept of "ready" is quite hard to get right, but some big hitters that are needed from my own experience (which may have been addressed, but leaving them for a release rotation to mature would be nice):
- Feature parity with the template hierarchy (if a theme should be able to be more or less empty to give full freedom, and let me make the tem

[2022-04-05 15:44] fluiddot commented on #40045
Looks like the issue was introduced in https://github.com/WordPress/gutenberg/pull/39577. The import of `MIN_SPACER_SIZE` constant is pointing to the native version of the `edit` file (i.e. `edit.native.js`), however, the constant is defined in the web version (`edit.js`). Simply updating the import statement should address the issue.

[2022-04-05 15:56] skorasaurus commented on #40042
Hi,

This overlaps quite a bit with https://github.com/WordPress/gutenberg/issues/35840 ; mind if I close this out and keep track of progress in that issue?

[2022-04-05 15:56] #40042 closed, assigned to nobody

[2022-04-05 15:56] scruffian commented on #39801
Given that this doesn't happen for the other sidebars, is it a blocker for 6.0?

[2022-04-05 15:58] alexstine commented on #39801
@scruffian

Absolutely. There is no way this should have happened for other sidebars.

[2022-04-05 16:14] stokesman commented on #39812
I think that Option 1 is where things are headed and for more reasons than the media query parity issue. Here are a couple related issues:
* #20797
* #33346

I'm not aware of any way to work around this currently.

[2022-04-05 16:24] ryanwelcher commented on #25188
The `@wordpress/scripts` package supports multiple blocks out of the box without any changes required. It just expects a certain structure is in place.

Inside of the `src` directory, create a directory for each block:

[code]

This structure will detect all of the block.json files and output each block in its own directory in `build` and copy all the appropriate files:

[code]

The important note

[2022-04-05 16:49] #39575 closed, assigned to scruffian

[2022-04-05 17:43] MYIG commented on #40030
It appears suddenly. I don't know why really.
When I am writing a post, it doesn't happen. It happens when I try to edit my post.
I tested by health check plugin, and I find it doesn't appear when I deactivate Gutenberg.

I am writing Korean but it appears the post translated by WPML. So I think it is not about the language.
I am using Vivaldi Browser mainly. I don't check it in other web browsers

[2022-04-05 18:41] webmandesign commented on #40042
@skorasaurus Sure, go ahead. I'll post a comment at #35840. Sorry for duplicate.

[2022-04-05 18:48] webmandesign commented on #35840
Hey guys. I was thinking that maybe the selector specificity for declaring CSS variables in global styles could be even lowered to `:where(:root)` as mentioned in #40042.

But if IE11 support with `css-vars-ponyfill` is a concern here, maybe in such edge cases one could simply [change the selector with code](https://github.com/WordPress/gutenberg/issues/38252#issuecomment-1024348024).

[2022-04-05 19:09] annezazu commented on #39916
Another item to consider: using the full lock when all options are checked vs using an outline to represent a passive state without any locking in place.

[2022-04-05 21:01] apeatling opened #40057 "BoxControlVisualizer: Create a new separate component, and fix existing issues"
## What problem does this address?

We'd like to add more visual feedback on the canvas when using Gutenberg design tools. Here's an example of how the existing BoxControlVisualizer can be used to display padding on an element on the cavas:

<img width="476" alt="Screen Shot 2022-04-05 at 1 52 10 PM" src="https://user-images.githubusercontent.com/1464705/161847022-bdaff8e4-0017-4cfa-ad63-dece7650c

[2022-04-05 23:17] critterverse commented on #29388
Hey all, I took a pass on a design that offers more granular saving options for Global Styles. This idea was mentioned in the [6.0 Product Walkthough](https://make.wordpress.org/core/2022/03/30/6-0-product-walk-through/) today in regards to style variations, and has been identified as an area with room for improvement in https://github.com/WordPress/gutenberg/issues/38333.

This is what we have cu

[2022-04-06 00:20] annezazu opened #40059 "Keep width settings when transforming to container blocks (row, stack, group)"
### Description

When transforming blocks with width controls to a container block, the width options are not retained. This was [found during the 6.0 walkthrough](https://make.wordpress.org/core/2022/03/30/6-0-product-walk-through/).

### Step-by-step reproduction instructions

1. Add a few cover blocks.
2. Select all of them.
3. Use the options in the block toolbar to switch between group, row,

[2022-04-06 00:43] annezazu opened #40061 "Apply duotone filter to placeholders for Site Logo & Post Featured Image blocks"
## What problem does this address?

When applying a duotone filter to a Site Logo or Post Featured Image placeholder, there's no visual indication that anything has been applied. This was [found during the 6.0 walkthrough](https://make.wordpress.org/core/2022/03/30/6-0-product-walk-through/).

https://user-images.githubusercontent.com/26996883/161873235-43729065-a0b4-4174-afbf-a07ac7d5a0cc.mov

##

[2022-04-06 00:44] ramonjd commented on #39889
Deprecated block supports functions deleted in

- https://github.com/WordPress/wordpress-develop/pull/2500

Now reinstated with deprecation notice in

- https://github.com/WordPress/wordpress-develop/pull/2522

[2022-04-06 00:50] annezazu commented on #38833
I can replicate this with WordPress 5.9.3 and Gutenberg nightly 13.0.20220404 with TT2:

https://user-images.githubusercontent.com/26996883/161874056-1e1c84b3-eb97-4ab3-b524-3fa4a3265f01.mov

Adding this to the 6.0 board to raise awareness and see what might be going on!

[2022-04-06 00:52] annezazu commented on #36664
Noting that this was [discussed during the 6.0 walkthrough](https://make.wordpress.org/core/2022/03/30/6-0-product-walk-through/) as something to explore.

[2022-04-06 01:10] annezazu opened #40063 "Multi-Select: hide grouping controls for when selecting text only blocks"
## What problem does this address?

When using multi-select, the block toolbar still displays the tooling to group/row/stack blocks:

https://user-images.githubusercontent.com/26996883/161875269-82bfb730-d2b7-4b5b-aa7e-03defac0f14a.mov

This was [found during the 6.0 walkthrough](https://make.wordpress.org/core/2022/03/30/6-0-product-walk-through/).

## What is your proposed solution?

When using

[2022-04-06 01:12] carolinan opened #40064 "Previews for custom block styles are not showing in the Site Editor"
### Description

I apologize if this has already been reported, it was not easy to search for these keywords in the GitHub repository.

In the block editor, if a block has a custom style registered, you can hover over the options in the style section to see a  modal/popup with a preview of the style.

But this preview is not present in the Site Editor. Nothing happens when you hover over the style

[2022-04-06 01:24] annezazu opened #40066 "List View: Consider hiding some of the ellipsis menus when mass selecting"
## What problem does this address?

When selecting multiple blocks, List View continues to show the ellipsis menu for each individual block, cluttering the interface unnecessarily. This was [found during the 6.0 walkthrough](https://make.wordpress.org/core/2022/03/30/6-0-product-walk-through/).

<img width="356" alt="Screen Shot 2022-04-05 at 6 23 58 PM" src="https://user-images.githubusercontent.

[2022-04-06 01:34] andrewserong commented on #40066
Thanks for the ping! I think it was raised at some point during the review phase for the multi-select behaviour, but to contain scope, we just made sure that clicking on any of the ellipsis items allows making changes to the whole set (e.g. removing or grouping), rather than making any more significant updates to it.

I'd love to see what designers think — there are a couple of potential challenge

[2022-04-06 01:36] annezazu commented on #40064
I can replicate this with! Adding as a bug.

[2022-04-06 01:46] annezazu commented on #38934
[During the 6.0 walkthrough](https://make.wordpress.org/core/2022/03/30/6-0-product-walk-through/), the prominence of switching styles was raised and I wanted to flag here since this seems to capture an overview of current refinements to the Global Styles panel:

<img width="283" alt="Screen Shot 2022-04-05 at 6 40 32 PM" src="https://user-images.githubusercontent.com/26996883/161878529-61c96788-d

[2022-04-06 01:51] ajlende commented on #39889
@Mamaduka  I confirmed the changes to duotone.php are already ported core. There were a couple things in core that weren't in the plugin, so I've opened https://github.com/WordPress/gutenberg/pull/40067 to bring them here.

[2022-04-06 01:52] annezazu opened #40068 "Allow for partial selection of Style Variations"
## What problem does this address?

[During the 6.0 walkthrough](https://make.wordpress.org/core/2022/03/30/6-0-product-walk-through/), the option to partially select Style variations was raised, since currently the options are all or nothing when switching between.

## What is your proposed solution?

Provide the ability to only partially select Style variations rather than the entire variation.

[2022-04-06 01:59] annezazu opened #40069 "When locking a container block, offer option to lock all blocks within"
## What problem does this address?

Currently, when locking blocks, the locking only applies to the block in question. However, in some cases, like a Group block, you might want to lock all blocks within it too. The only way to do this is to lock each block individually. [This came up during the 6.0 walkthrough](https://make.wordpress.org/core/2022/03/30/6-0-product-walk-through/).

## What is you

[2022-04-06 02:00] ramonjd commented on #40030
I've tried to replicate this using only the Gutenberg plugin and can't.

I wonder if WPML is adding, or failing to add, [writing-mode CSS](https://developer.mozilla.org/en-US/docs/Web/CSS/writing-mode) to the document.

Writing mode determines how text flows and can be vertical or horizontal.

We recently [updated Gutenberg's layout styles](https://github.com/WordPress/gutenberg/pull/38816) so tha

[2022-04-06 02:04] annezazu opened #40070 "List View: Show lock status"
## What problem does this address?

Currently, if a block is locked, it's not obvious or visible in List View. This causes confusion when, at a glance, it's not clear what might be locked down. [This came up during the 6.0 walk through](https://make.wordpress.org/core/2022/03/30/6-0-product-walk-through/).

## What is your proposed solution?

Pulling from this overview issue https://github.com/Wor

[2022-04-06 02:07] MYIG commented on #40030
You can't say easily. I said it doesn't appear when I write it first. And not every column has those bug. It appeared when I edited my post after publishing it first...

But I will test it again only without wpml then...

=> I tested it. I think is bug about my plugin oxygen... if I use both oxygen and Gutenberg, that bug appears... not WPML. hmm sorry about it.

[2022-04-06 02:12] annezazu opened #40072 "List View: disable dragging if a block is locked"
## What problem does this address?

Currently, if a block is locked, you can still begin to drag and drop it in List View. The dropping doesn't actually occur but this experience feels confusing since it allows you to begin the process:

https://user-images.githubusercontent.com/26996883/161881875-2f9b795a-83dd-447a-b267-1417410926c4.mov

[This came up during the 6.0 walk through](https://make.wor

[2022-04-06 02:18] annezazu opened #40073 "Enable the ability to customize placeholder content for blocks"
## What problem does this address?

There isn't a way to customize placeholder content in the site editor. For example, perhaps for a client you might want to use the placeholders as a way to guide them through creating a new template based on their specific site. [This came up during the 6.0 walk through](https://make.wordpress.org/core/2022/03/30/6-0-product-walk-through/).

## What is your prop

[2022-04-06 02:22] andrewserong commented on #40072
Good catch! I wonder if there should be a locked icon potentially in the list view, too? (Might need some design feedback, if so). Also CC: @Mamaduka has been doing a bunch of work with the locking behaviour, too 🙂

[2022-04-06 02:29] annezazu opened #40074 "Improve placeholder for Post Content block"
## What problem does this address?

The current placeholder for the Post Content block leaves a lot to be desired both in terms of the overall display and in terms of the space it takes up.

<img width="1133" alt="Screen Shot 2022-04-05 at 7 26 40 PM" src="https://user-images.githubusercontent.com/26996883/161883523-d50c25e0-70a7-4cc6-ba83-e54988c40840.png">

## What is your proposed solution?

It

[2022-04-06 02:44] annezazu commented on #40072
Opening too many issues and forgot to cross link ;)  https://github.com/WordPress/gutenberg/issues/40070

[2022-04-06 02:45] annezazu opened #40075 "Prevent site editor inception with latest posts block"
### Description

After adding a latest posts block to the Site editor, if you click on one of the latest posts, the editor begins to load within itself but stops short. In the case of the person who found this, it loaded all the way through. This was found as part of the [thirteen call for testing for the FSE Outreach Program](https://make.wordpress.org/test/2022/03/31/fse-program-testing-call-13-

[2022-04-06 03:30] talldan commented on #15105
This is now being worked on in #39795. It won't make WordPress 6.0, but I'll try to land something for 6.1.

[2022-04-06 03:35] carolinan commented on #40074
What if we displayed the default "Hello world" post with a dashed border around it?

[2022-04-06 04:05] maddisondesigns commented on #15105
Thanks for the update @talldan. Good to hear it's making some progress.

[2022-04-06 04:44] carolinan commented on #40074
Related:
https://github.com/WordPress/gutenberg/issues/37883

[2022-04-06 05:05] Mamaduka commented on #40072
Thanks for creating the issue, @annezazu.

This is on my to-do list, so going to assign it to myself :)

[2022-04-06 05:13] #39922 closed, assigned to nobody

[2022-04-06 05:14] github-actions[bot] opened #40079 "[Flaky Test] creates a group from multiple blocks of the same type via block transforms"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
creates a group from multiple blocks of the same type via block transforms

## Test path
`specs/editor/various/block-grouping.test.js`

## Errors

<time datetime="2022-09-29T05:14:49.550Z"><code>[2022-09-29T05:14:49.550Z]</code></time> Test passed after 1 failed attempt on <

[2022-04-06 05:15] #40040 closed, assigned to andrewserong

[2022-04-06 05:16] getdave commented on #38275
## Update April 6th 2022

* A PR was merged to [automatically set the first available Navigation Menu to be active on the Nav block if only a single one exists](https://github.com/WordPress/gutenberg/pull/39880). This should help the Theme switch experience be more intuitive for a majority of users.
* [A PR was merged](https://github.com/WordPress/gutenberg/pull/39883) which should help [avoid mul

[2022-04-06 05:20] getdave opened #40080 "Disable Navigation Menu Sidebar from WP 6.0 - retain in Plugin"
Given the number of outstanding Issues relating to the Nav Sidebar, and the lack of time for contributors to test and feedback on this feature it should probably not be included in WP 6.0.

We should

- ensure it is not included in code that will land in 6.0
- ensure it _is_ retained in the Gutenberg _Plugin_.

We can use info here https://github.com/WordPress/gutenberg/blob/trunk/docs/how-to-guid

[2022-04-06 05:20] andrewserong commented on #40072
Ah, perfect. Thanks, I missed that one!

[2022-04-06 05:27] carolinan commented on #40059
The cover blocks keeps the `alignfull` CSS class on the front when transformed, even though stack and row does not support "inherit layout" .
-The CSS for alignfull is applied
-There is no way to change the inner block width using the UI after transforming.

For rows, I think the expectation is for the inner block to no longer be full width, and for the "allow to wrap to multiple lines" to be togg

[2022-04-06 05:42] andrewserong commented on #40063
Interesting idea! Why do we want to hide the controls when text blocks are selected? Grouping text blocks can be useful if there are paragraphs and headings that someone wants to highlight together:

![highlighting-paragraphs](https://user-images.githubusercontent.com/14988353/161903070-d3a15bba-b0a6-45cb-80e3-ef959f37afcd.gif)

Or was it more about if text is only partially selected, then we shou

[2022-04-06 05:55] Mamaduka commented on #40069
It is already doable using the `templateLock` attribute on container blocks, and then you can use block lock for more granular control.

More details can be found in the dev note - https://make.wordpress.org/core/2022/01/08/locking-blocks-in-wordpress-5-9/#working-alongside-templatelock.

Edit: I watched the "Product Walk-Through" video, so now I've more context 😄  My question now is if we want to

[2022-04-06 06:34] jasmussen commented on #40066
Great observations. Some quick thoughts. Here's what we have today:

<img width="351" alt="before" src="https://user-images.githubusercontent.com/1204802/161909049-e97b6e24-007c-4621-97fe-677ae3c46ff0.png">

A quick win could be this:

<img width="351" alt="after" src="https://user-images.githubusercontent.com/1204802/161909066-5a0e1e54-3d5d-4a93-9be8-b0c1ce5b9027.png">

* Rounded radius only in t

[2022-04-06 06:35] jasmussen commented on #40061
Yes, this used to work. If we're okay with the upload button being colored when a duotone filter is selected — I think it's fine until further optimizations — then this could potentially be a quick win.

[2022-04-06 06:47] andrewserong commented on #40066
Thanks for diving in Joen!

Oh, I like that idea — I think that makes the path forward to improve this iteratively much clearer 🙂
I'm not sure _how_ hard it'll be to implement (I've made the mistake before of thinking changes to the List View will be simple), but it _feels_ like hiding the ellipsis menu for selected items, except if it's hovered / focused, or if it's the first item in the selectio

[2022-04-06 06:56] jasmussen commented on #40066
💯 — I wonder if it would be easier — both for hover/focus surfacing of the ellipsis and the radius —  if the item and ellipsis sat in a single table-cell rather than two table-cells? It can be a space-betweened flexbox. It might even make some of the eliding we have to do easier (such as when a HTML anchor is shown, or if a block title is long).

[2022-04-06 07:07] jasmussen commented on #39916
A third option 😅 : show the outlined option in the ellipsis menu for when the action is passive, and show the heavy duty lock when a block is locked. The bespoke lock/unlock icons still make sense to me.

In any case, here's a new outlined icon for implementation:
<img width="373" alt="Screenshot 2022-04-06 at 09 02 17" src="https://user-images.githubusercontent.com/1204802/161915782-287ae275-243e

[2022-04-06 07:24] ciampo commented on #38934
I'll let @pablohoneyhoney and @jasmussen digest the feedback here, including whether this should be handed in a separate issue

[2022-04-06 07:48] hypest commented on #40044
👋 @fluiddot , I think this is essentially the same ticket as https://github.com/wordpress-mobile/gutenberg-mobile/issues/4680. Perhaps we can close one or the other? Also, we probably need to add it to the "Known issues" for that manual testcase as well, wdyt?

[2022-04-06 07:52] fluiddot commented on #40044
Good catch, I'm afraid that I overlooked that issue when I look for duplicates. I'll close this one in favor of https://github.com/wordpress-mobile/gutenberg-mobile/issues/4680.

Good idea, I'll open a PR to include this 👍 .

[2022-04-06 07:52] #40044 closed, assigned to nobody

[2022-04-06 08:00] tomasztunik commented on #17718
@paaljoachim - I've just tested the fix with `-webkit-touch-callout: inherit` on iPad 15.2 (and 15.0 - don't have older versions) Simulator and can confirm it is working. Can you please confirm it was still broken for you after following the testing steps I've provided in the PR?

If there is another scenario where this fix doesn't work let me know!

[2022-04-06 08:07] JustinyAhin commented on #38268
@noisysocks I would like to work on this issue, but I don't have a clear clue about where to start. When I look at the widget screen inserter sidebar, I can see that `showInserterHelpPanel` is present https://github.com/WordPress/gutenberg/blob/30689b8de49cecc4ce2e9176a225b001ec4a21d8/packages/edit-widgets/src/components/secondary-sidebar/inserter-sidebar.js#L45

Shouldn't that shows the blocks pr

[2022-04-06 08:30] #40045 closed, assigned to fluiddot

[2022-04-06 08:39] casaschi commented on #37754
WP 5.9.3 did not fix this either.

[2022-04-06 08:44] illycz commented on #25188
Ah, OK, make sense. I will try it.

Thanks

[2022-04-06 08:50] jameskoster commented on #36664
We recently [added a 'Summary' panel in the post editor](https://github.com/WordPress/gutenberg/pull/39973) where you can edit the post excerpt. We should explore aligning with that pattern here.

[2022-04-06 09:17] navewi commented on #38718
I have the same issue. I'm not using blocks from generatepress but i have some own custom blocks made with Advanced Custom Fields in my reusable blocks. Everytime i open the editor there is this dot that indicates changes, but i have not made any.

I made a screencast on my test site:

![reusableBlock](https://user-images.githubusercontent.com/38751963/161943773-d310b813-3896-4c3d-8b68-cb1887f965a

[2022-04-06 09:21] #40072 closed, assigned to Mamaduka

[2022-04-06 10:06] KokkieH commented on #39339
In terms of left/right margins, I have a case [in the forums](https://wordpress.org/support/topic/youtube-block-overlaps-text/) where text wrapping around a right-aligned Youtube embed goes right up to the edge of the embed. This enhancement should help prevent this type issue.

[2022-04-06 10:17] mtias commented on #40074
I'd avoid any cosmetic effects that can mislead users into thinking they are actual styles. Reusing the hello world content could work as a start.

We should probably also do something similar for the excerpt.

[2022-04-06 10:32] adamziel commented on #39654
[DevNotes issue for WordPress 5.9 for inspiration and everyone's reference](https://github.com/WordPress/gutenberg/issues/36401)

[2022-04-06 10:37] jasmussen opened #40091 "Click/dragging in inspector deselects blocks"
The inspector shows up when you select a block. But if you click and drag anywhere inside the inspector, such as to select text, the block gets deselected, as showin in this GIF:
![deselect](https://user-images.githubusercontent.com/1204802/161956713-1276d6ea-18f4-413a-9a8b-9024ac448bd8.gif)

Steps to reproduce:

* Select a block
* Click and drag anywhere in the inspector

Observe that the block g

[2022-04-06 10:38] illycz commented on #39207
Yes, solution from @bradfrumos working.

Thanks

[2022-04-06 10:42] illycz commented on #40018
WP 5.9.3
Gutenberg 12.9.0

Problem still persist...

[2022-04-06 11:03] adamziel commented on #39654
Here's a data module related dev note, if there are more data module dev notes, they could potentially be grouped together in a post.

## Data Module

### Support for Handling Resolution Errors

WordPress 6.0 no longer ignores the exceptions thrown by the [resolvers](https://developer.wordpress.org/block-editor/reference-guides/packages/packages-data/#resolvers).

In WordPress 5.9 and earlier, an

[2022-04-06 11:09] quantumleap33 commented on #38062
After further testing on WP 5.9.3, I can confirm that the issue has **NOT** been resolved in any of the themes mentioned, and no plugins installed.

Step to reproduce:
1. Create a new page, write a title, and put a 5 paragraph Lorem Ipsum text (so it's quite long).
2. Switch to "Tablet" or "Mobile" view, then back to "Desktop".
3. Twenty Twenty-Two theme: The custom fields meta box covers the bott

[2022-04-06 11:32] t-hamano commented on #38062
Hi @quantumleap33,

This issue has been fixed in PR #38910.
It has been fixed in the Gutenberg trunk, but I think it hasn't been backported in WordPress 5.9.3.

I believe this PR should have been backported to 5.9.3, but my closing this issue might be the reason it was not backported.

@peterwilsoncc
@carolinan
If you have any advice on the best way to handle this, please advise.

[2022-04-06 11:35] Mamaduka commented on #38062
The PR wasn't labeled for backporting; it is why WordPress 5.9.3 didn't include it.

[2022-04-06 12:01] Robertght commented on #38381
There's still going on here, but I think it could be also very specific to some cases. This is what I saw on a user's site with a Layout Grid & Columns structure. The issue also remained once I took the images out of the Layout Grid:

![image](https://user-images.githubusercontent.com/6737345/161969625-56533d66-2d44-423e-b175-926860f019be.png)

I can confirm this remained a problem on self-hosted.

[2022-04-06 12:28] scruffian commented on #39095
It's on my list of things to look at :)

[2022-04-06 12:31] adamziel commented on #39889
**Checklist for the block-editor-settings.php:**

[Changes before the move to lib/compat:](https://github.com/WordPress/gutenberg/blame/b828f5a1774324cf28f7c835d9ae456c03611176/lib/global-styles.php#L15)
- [x] #36327 by @oandregal – it seems to be affecting the part that wasn't backported to 5.9. @oandregal, do you want it to be backported to 6.0?
- [x] #38883 by @oandregal ([direct file link](htt

[2022-04-06 13:05] joyously commented on #18593
I wrote a page that accepted an image upload, and used the `accept` attribute. Users of various mobile devices complained that they couldn't upload. I removed the `accept` and it fixed the problem.
Some time has passed, so this might work better now, but thorough testing is needed if you use `accept`.

[2022-04-06 13:09] hypest commented on #38407
Updated the parent post with:

### 🚀 Recently wrapped items
++ Address content uploading issues

### 🛠️ Recently fixed or improved
++ [Remove error banners from native media&text and audio blocks](https://github.com/WordPress/gutenberg/pull/39694)
++ [Detect GIF during render](https://github.com/WordPress/gutenberg/pull/39882)
++ [Fix Custom Palette colors and support multiple origins and theme ca

[2022-04-06 13:55] scruffian commented on #37255
Fixed by https://github.com/WordPress/gutenberg/pull/40097

[2022-04-06 14:12] #39781 closed, assigned to Mamaduka

[2022-04-06 14:30] timotheemoulin commented on #16342
Not sure if it's the right place for this thought, but... I can see some use cases in which this label might be wrong.
Look at the possibility to submit the post for further validation. The label would look more like "Save", "Send" or "Ask for validation", ...

I think that in some cases, we should even be allowed to change the label depending on the workflow. I think that would be helpful for the

[2022-04-06 16:01] dgwyer commented on #25188
You can use this utility I wrote to create multiple blocks automatically until it's available in core. It's a wrapper around the `@wordpress/create-block` script.

https://www.npmjs.com/package/create-wp-block

[2022-04-06 16:01] mirka opened #40102 "Icon: Reconsider color API for standard SVG icons"
## What problem does this address?

The most common use of the `Icon` component involves the standard SVG WordPress icons or similar single-color SVG icons. Currently, there is no official API to control the color of the SVG fill.

This often leads to subtle differences in blacks (e.g. if the SVG fill is by default `#000000` and the text color is a slightly lighter black). Or, it requires ad hoc C

[2022-04-06 16:21] critterverse commented on #40069
I think the simplest option from a UX point of view might be to directly apply the lock attribute to each inner block so that the lock icon is visible in the inner block toolbars, but make it so that you can't access the modal from the inner blocks when the option is applied on the container.

The UI could look like this, with an extra toggle at the bottom of the modal to "apply to inner blocks:"

[2022-04-06 16:58] #39400 closed, assigned to mirka

[2022-04-06 17:34] apeatling commented on #29145
Feedback from Matías is that it should just stick to covering one paragraph/empty block at a time.

[2022-04-06 17:40] danburzo opened #40109 "Add "menu order" option for Query Loop block."
## What problem does this address?

I am using a plugin to make it easier to reorder CPT posts and would like to use a Query Loop block to list them in the preferred order.

## What is your proposed solution?

Add the option _Menu Order_ to the _Order By_ option in the Query Loop block settings.

[2022-04-06 17:42] danburzo commented on #40109
Closed in favor of https://github.com/WordPress/gutenberg/issues/24934

[2022-04-06 17:42] #40109 closed, assigned to nobody

[2022-04-06 17:44] danburzo commented on #24934
These are exactly the two options that I currently miss the most. Note that switching to the code editor and adding `menu_order` manually as the sorting works (at least in WP 5.9.3). (Not so for `post_parent`.)

[2022-04-06 17:47] annezazu commented on #40063
Ah to be clear, this is to hide the controls when using the new multi-select feature where you can select text across multiple blocks. At least, this was my interpretation as having all of these controls while using multi select feels like overkill.

Current:

<img width="414" alt="Screen Shot 2022-04-06 at 10 45 47 AM" src="https://user-images.githubusercontent.com/26996883/162036372-ee794496-35b

[2022-04-06 17:55] annezazu opened #40110 "Expand retaining styles functionality across more blocks and situations"
Various efforts have allowed for style changes to blocks to be kept when adding an additional sibling block, like with the Buttons block https://github.com/WordPress/gutenberg/pull/37905, or when transforming https://github.com/WordPress/gutenberg/pull/37596. This issue seeks to start the conversation around ways of expanding the retaining of styles to more blocks where applicable. For example, sh

[2022-04-06 18:09] critterverse commented on #40068
I'm going to close this issue out because style variations could utilize the same Saving panel UI proposed in https://github.com/WordPress/gutenberg/issues/29388#issuecomment-1089507879. IMO, it can start to feel like competing/duplicated UI with the Saving panel when you start recreating these options elsewhere!

[2022-04-06 18:09] #40068 closed, assigned to nobody

[2022-04-06 18:26] ckeeney commented on #38637
Adding this filter will replace the `[obj]` in the post slug with some alphanumerics characters.

In my test cases, `post-slug[obj]` became `post-slugefbfbc`, and in my test case the url encoding of `[obj]` was
`%ef%bf%bc`.  This is obviously less than ideal, but far better than having the non-printable characters in the url.

[code]

[2022-04-06 18:37] skorasaurus commented on #40023
similar to https://github.com/WordPress/gutenberg/issues/26694

[2022-04-06 19:00] Mamaduka commented on #29777
I'm no longer able to reproduce this issue.

https://user-images.githubusercontent.com/240569/162048934-35f90765-146c-426d-a77c-d0b1e6423d96.mp4

[2022-04-06 19:12] mirka opened #40113 "Components: Update text colors"
## What problem does this address?

There are outdated (?) text colors in some components, such as:

- `Heading`: [Uses](https://github.com/WordPress/gutenberg/blob/30f900ec5e925bdd218a8845db533765834e9e0b/packages/components/src/utils/colors-values.js#L40) `#050505`, which is explicitly different from the default text color
- `InputControl`: Uses `#000000`
- `SelectControl`: Uses `#000000`

There

[2022-04-06 19:15] skorasaurus commented on #38299
was reopened by https://github.com/WordPress/gutenberg/pull/39966

As I understand from conversation , the intention of reverting the initial fix was to fix the code so that the default duotones are only loaded they are being used on a page.
Thoughts are at https://github.com/WordPress/gutenberg/pull/38681#issuecomment-1083439131 and https://github.com/WordPress/gutenberg/pull/38681#issuecomment-1

[2022-04-06 19:32] annezazu commented on #38967
More feedback has come in as a result of the [thirteenth call for testing for the FSE Outreach Program](https://make.wordpress.org/test/2022/03/31/fse-program-testing-call-13-authoring-an-author-template/#comment-2394):

Specifically, this is discussing the experience of adding a Header template part to a brand new blank template, using the "choose" option, and seeing the various template parts pr

[2022-04-06 19:41] annezazu opened #40114 "Template Part Modal: place recently used parts towards the top"
## What problem does this address?

Currently, when you go to add a new template part or replace, the modal that opens up doesn't seem to weight the results in any way. As a result, if you recently used one towards the bottom of the list, you have to scroll back down to find it.

This came up as part of the [thirteenth call for testing for the FSE Outreach Program](https://make.wordpress.org/test/

[2022-04-06 20:01] illycz commented on #25188
@ryanwelcher great!
@dgwyer thanks :)

[2022-04-06 20:03] ciampo commented on #37506
Opened #40107 with new tentative fix

[2022-04-06 20:14] annezazu opened #40116 "Improvements to Header pattern category to better clarify and guide usage"
## What problem does this address?

In a discussion in post status slack, Brin Wilson and I discussed the current categorization of Header Patterns in the Inserter, pattern directory, etc. It became clear that the current Header category including both items related to a Header for your site _and_ something more akin to Headings proved confusing.  In general, there are two problems:

- Inconsisten

[2022-04-06 20:19] annezazu opened #40117 "Improvements for Quick Inserter prioritizing patterns"
## What problem does this address?

Currently, the Quick Inserter prioritizes showing patterns in a few situations thanks to the work done in https://github.com/WordPress/gutenberg/pull/38709:

- We are editing a template either on site editor or post editor.
- The inserter is at the root.
- The content being inserted is between some block (not as first block nor as last).

However, there are a fe

[2022-04-06 20:24] ClarusDignus opened #40118 "Can't prevent addition of skip-link using PHP"
### Description

I'm creating a block theme from scratch using FSE.

I'm trying to understand how the skip-link is added: https://github.com/WordPress/gutenberg/pull/30336#issuecomment-810094082.

I want to stop the skip-link's script and style being added to each page.

I've tried the following in functions.php:

[code]

I’m not removing the skip-link; I’m replacing it because I need to wrap it i

[2022-04-06 20:33] annezazu commented on #27302
I am going to close this out with the introduction of @carolinan no results block: https://github.com/WordPress/gutenberg/pull/38806 If I missed something, let me know. Happy to reopen.

[2022-04-06 20:33] #27302 closed

[2022-04-06 20:33] annezazu commented on #32606
A new no results block has been implemented: https://github.com/WordPress/gutenberg/pull/38806 As a result, I'm going to close this out. Happy to reopen if there's an aspect of this issue not resolved by the recent work done here.

[2022-04-06 20:33] #32606 closed, assigned to nobody

[2022-04-06 20:49] annezazu commented on #24952
These blocks are also providing to be confusing as recent feedback from the [thirteen call for testing for the FSE Outreach Program shows:](https://make.wordpress.org/test/2022/03/31/fse-program-testing-call-13-authoring-an-author-template/#comment-2394)

[2022-04-06 21:03] justintadlock commented on #24952
I'd actually like to deprecate the old Post Author block, or at least remove it from the inserter.  The original output is more of a pattern.

[2022-04-06 21:34] audrasjb commented on #20309
Reopening the issue as a related ticket still exists on Trac.

[2022-04-06 22:01] paaljoachim commented on #29145
Drop zones for one paragraph/empty block at a time sound right! As it would give a more precise zone to where something is being dropped.

---

Btw there are a few existing drop zone issues. I noticed @richtabor has created a few.
The following is one that would be very helpful to get fixed.

Add visual cue when dragging a block into an empty Group block
https://github.com/WordPress/gutenberg/issu

[2022-04-06 22:19] ndiego commented on #20309
@audrasjb I was just catching up on the discussion in core Slack. I know the Trac ticket is on the 6.0 milestone, and it seems like the actual fix needs to take place in Gutenberg first. I will add this to the [6.0 Project Board](https://github.com/orgs/WordPress/projects/27) for discussion.

[2022-04-06 23:30] ciampo commented on #40113
I don't think we can / want / should do this — as you say, there's a high potential for breaking changes and unexpected behaviors.

This seems to be the correct short term solution, especially if we want to apply these changes in time for WP 6.0 — although probably good to get @jasmussen's (or other key stakeholders) blessing 🌟

I like this as it would also move us towards being ready to expose a

[2022-04-06 23:37] Otto42 commented on #39367
This seems like a good enhancement to an existing block.

[2022-04-06 23:40] andrewserong commented on #40063
Thanks for clarifying! I see, yes, looks like we've got two slightly different use cases to look after:

1. As a user, I want to select multiple text blocks to group them / re-arrange them in a particular way (add spacing / background colours, etc).
2. As a user, I'm editing the content I'm currently writing, and I only want the controls relevant to me as I copy / paste / cut / rearrange text.

Ad

[2022-04-06 23:50] mirka commented on #40113
Good point, I agree this is the quickest way to go if we want to land it in WP 6.0.

[2022-04-06 23:50] peterwilsoncc commented on #38062
@audrasjb Do you think there will be a 5.9.4 at this stage?

@Mamaduka If the answer comes back yes, are you able to apply the appropriate labels, etc?

[2022-04-07 00:13] michalczaplinski commented on #37182
I believe this should be fixed in https://github.com/WordPress/gutenberg/pull/40108