[2021-09-08 17:29] ryanwelcher opened #34665 "AlignmentControlMatrix display doesn't respect the `width` prop."
### Description

While updating the documentation for the `AlignmentControlMatrix`, I found that no matter what value I passed to the `width` prop, the display was always the same.

### Step-by-step reproduction instructions

1. Add the code snippet to a plugin
2. Change the `width` value to anything other than the default of 92
3. The widget of the component is unchanged

### Screenshots, screen

[2021-09-08 17:32] ryanwelcher commented on #34665
Discovered while working on #34662

[2021-09-08 18:10] getdave commented on #34602
Also able to replicate.

<img width="1122" alt="Screen Shot 2021-09-08 at 19 06 12 (1)" src="https://user-images.githubusercontent.com/444434/132561704-23370de7-963d-4d78-ab60-f03fc8d641ad.png">

Looks like the code that invokes `append` utilises a method called `fromFormat` to get the `child` argument. Unfortunately it doesn't return a `type` and thus `type` is undefined.

[code]

If we examine t

[2021-09-08 18:49] gziolo commented on #25188
@cr0ybot, thank you for sharing more details. It is very helpful to plan future iterations.

I agree that colocating JS, CSS, and `block.json` in one `build`'s subfolder makes everything so much simpler in terms of defining paths. The only downside is that you need to use `CopyWebpackPlugin` to ensure it all integrates nicely.

[2021-09-08 18:55] ryanwelcher commented on #25188
@gziolo @cr0ybot would it make sense to have an entry point for each block? If I am understanding the code here, it seems that all of the blocks are being combined into a single JS file. So in theory, calling the `register_block_type` for any block that uses the `index.js` file will register all the blocks on the client-side? This is probably fine in most cases, but might be worth calling out.

[2021-09-08 19:33] supernovia commented on #34392
I hope it will! It'd resolve this widget title issue people are seeing.

[2021-09-08 19:52] #31182 closed, assigned to nobody

[2021-09-08 21:17] gwwar opened #34669 "List View: Safari slow to update selected item"
### Description

Safari is slow to update the persistent list view when actions like selection, additions or removals occur.

### Step-by-step reproduction instructions

1. Navigate to the post editor `wp-admin/post-new.php`
2. Open list view:
![CleanShot 2021-09-08 at 14 15 53@2x](https://user-images.githubusercontent.com/1270189/132586737-ff9c84b1-dbed-404c-a03b-32c333e461d7.png)

3. Try adding

[2021-09-08 21:17] mkaz commented on #24007
@jasmussen @mtias Are you looking for something like this?

<img src="https://user-images.githubusercontent.com/45363/132586393-2c0af244-7686-4db8-bb1e-4a4f851a8343.png"
alt="QuickInserter for Navigation Block" width="536"/>

Do you want to be able to customize the message per parent block, or do you think a standard message and then just switch out the name of the block it applies to?

The implem

[2021-09-08 21:26] draganescu commented on #33716
My fear is that in situations with tens of widgets the experience could be a lot different compared to the mockup (scroll, scroll, scroll).

[2021-09-08 21:45] spacedmonkey commented on #34628
Hello @MohammedFaragallah  I am developer of this endpoint.

Let me explain these schema issues.

https://github.com/WordPress/gutenberg/blob/dd5fd6b2466d33177d46dcdc0733abd0217e044a/lib/class-wp-rest-menu-items-controller.php#L1067-L1070

This is not a mistake. A menu item can not be assigned to multiple menus. So I highjacked the schema, so that you only assign it to one endpoint.

https://githu

[2021-09-08 22:13] khristiansnyder opened #34671 "Can't update existing featured image on Gutenberg 11.4.1"
### Description

With Gutenberg 11.4.1 active, updating a post/page that has an existing featured image just results in a spinning icon and the image never updates within the editor. It does seem to update on the front end.

### Step-by-step reproduction instructions

1. Open the editor of a post with an existing featured image
2. Try and update that image in the editor. After selecting the image

[2021-09-08 22:15] khristiansnyder commented on #34671
This is the PR that introduced the issue, it seems: https://github.com/WordPress/gutenberg/pull/34034

[2021-09-08 23:13] MohammedFaragallah commented on #34628
@spacedmonkey thank you for your fast response

 maybe add `maxItems` to match the endpoint array response/or change the response to a number

[code]

[2021-09-08 23:51] timnolte commented on #34320
@brylie what version of Node/NPM are you using. I ran into this recently and it was due to using an incompatible version of Node/NPM.

[2021-09-09 00:01] timnolte commented on #34325
I will voice my desire to see this separated out as well. I've been trying to use `wp-env` and `wp-scripts` as a core development packages for plugin development instead of rolling my own local development setup. I too have had problems contributing to `wp-env` alone because of the massive build overhead of the entire Gutenberg project. IMO `wp-env` should be the defacto plugin/theme development e

[2021-09-09 00:13] noisysocks commented on #29693
Not sure I understand this. What would a "secure location" be?

[2021-09-09 01:35] lwangdu commented on #34671
I am having same issue with Gutenberg 11.4.1

[2021-09-09 01:58] westnz commented on #34594
I was able to reproduce this.

[2021-09-09 02:00] creativecoder commented on #34671
I do see this issue on 11.4.1.

However I _don't_ see this issue while running `trunk` (marked as 11.5.0-rc.1) on the same site, so I anticipate it will be resolved with the 11.5 release.

[2021-09-09 02:23] andrewserong commented on #20705
Just linked a PR, this issue will be addressed by #34608

[2021-09-09 02:24] andrewserong commented on #10730
Update: this issue should be resolved by: https://github.com/WordPress/gutenberg/pull/34630

[2021-09-09 02:35] stokesman commented on #34363
I can reproduce this in Firefox on macOS. Probably Firefox on any OS will be the same. I think what is happening is that in the RangeControl component, holding <kbd>Shift</kbd> changes the `step` attribute to `10` making any value that's not a multiple of `10` invalid and as stated on the [MDN docs for `<input[type="range">`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/range#at

[2021-09-09 02:36] andrewserong commented on #28356
Thanks for adding the discussion and design explorations, Joen! I think it makes sense to keep block gap (or spacing) close to margin and padding because those values will often be closely linked, as you mention. There's also the possibility that the `gap` support might be useful for some blocks that don't opt in to the Layout support. For example, any block that has internal elements that are not

[2021-09-09 03:32] talldan commented on #34671
Thanks for reporting. It looks like this was previously and reported resolved (#34506, #34583) and as mentioned will be fixed in 11.5.

[2021-09-09 03:32] #34671 closed, assigned to nobody

[2021-09-09 04:26] gziolo commented on #29693
I don’t know yet, too 😅 I understood that the value couldn’t be serialized to content as HTML, so it isn’t easily exposed. I also assume it should live somewhere in the database. I was trying to document potential options and their subtle differences.

[2021-09-09 04:56] MatzeKitt commented on #34631
Hi @Mamaduka

Unfortunately, I can also reproduce it with Gutenberg 11.4.1, which I installed just now.

The error message:

[code]

The original error in the console:

[code]

[2021-09-09 05:05] talldan commented on #31276
This has become more important since #34568 was merged.

Before that the navigation editor showed the FSE-style placeholder preview for an empty unselected navigation block:
<img width="444" alt="Screenshot 2021-09-06 at 3 49 11 pm" src="https://user-images.githubusercontent.com/677833/132179939-e133285a-449d-400c-9a01-e390c1cc233f.png">

That was undesired, but what happens now is there's just an

[2021-09-09 05:25] glendaviesnz commented on #34643
Changed the title to `Image block` as once experimental flag removed for refactored gallery the gallery images are Images blocks - so fix should primarily target the Image block. Switch it back @scruffian if I have misunderstood this.

[2021-09-09 05:52] kosiew opened #34676 "Embed Preview not unfurling for some links"
### Description

Rich Preview is not working for some links eg
https://vietnamhoonist.com/2021/08/31/tong-hop-tin-tuc-thang-8-2021/,

For links like:
https://wp20180808.com/contact/
https://wp20180808.com/about/

We get a message that `Sorry, this content could not be embedded.`

### Step-by-step reproduction instructions

1.  On the page editor, paste the link on a new line to a post. URL: [https

[2021-09-09 05:59] chthonic-ds opened #34677 "Social Icons: custom icon background colour does not persist when switching between block styles"
### Description

If a background colour has been set for a social icon using the Default custom style, it does not persist when switching between the block's custom styles: Default and Logos Only.

I was surprised to see the the Default background colour was not reinstated when switching between styles but am unsure if this is intentional behaviour.

### Step-by-step reproduction instructions

1.

[2021-09-09 06:21] getdave commented on #34658
Confirmed. I was able to replicate this. It's due to the usage of `currentColor` on Social Icon SVGs and the icon color setting not being applied.

Needs fix.

[2021-09-09 06:27] getdave commented on #34658
<img width="667" alt="Screen Shot 2021-09-09 at 07 26 26" src="https://user-images.githubusercontent.com/444434/132634120-86dd8928-8bf8-457e-afd4-8cf3de6f89e5.png">

Seems to be due to `!important` on this CSS rule which is injected into the DOM as a `<style>`.

[2021-09-09 06:52] getdave commented on #34612
Let's agree that portability of your navigations is absolutely _critical_ for the success of the new navigation paradigms in Gutenberg. This has to be solved.

Having also looked into reusable blocks and the way content is saved I believe I'm correct in saying that `core/block` (Reusable block) is only there for editor UI purposes (ie: it's a utility wrapper). It's never saved.

Rather as you poin

[2021-09-09 06:59] getdave commented on #33969
I understood this opt in was for the Theme to use block rendering as opposed to Walkers. The support for additional blocks was a nice side effect. This is as per the Nav Editor README docs. Can you confirm?

[2021-09-09 07:00] getdave commented on #33969
Related https://github.com/WordPress/gutenberg/issues/34612

[2021-09-09 07:01] mkkeck commented on #34677
The style "Logos Only" is for displaying the logos as styled by the logo designer.

You can adjust the styles in your themes style.css or register a new block style, which uses styles from your themes style.css.

[2021-09-09 07:07] gziolo commented on #25188
@ryanwelcher, I would say it depends on the use case. If you have a parent block that needs some child blocks to be fully functional then I'd say bundling them together makes sense into one JS file. In that case, you probably need to manually register a script and pass the used script handle as a reference in `block.json` rather than relative paths as in the example above. If you have completely i

[2021-09-09 07:12] mkkeck commented on #34658
If css elements referenced correct, then the `!important` flag is not required.

I think it has to do with merged styles, see #34575, why there now always the `!important` is required.

[2021-09-09 07:13] chthonic-ds commented on #34677
Thanks for the comment @mkkeck but it doesn't seem to address the issue I've described. I'm not concerned with the Logos Only custom style, at all. The issue I'm looking for clarity on is whether it's intentional for a user-selected or preset background colour to be cleared when switching between Default and Logos Only styles.

[2021-09-09 07:15] talldan commented on #33969
It does currently render a nav block:
https://github.com/WordPress/gutenberg/pull/24503/files#diff-68aa3e914d52bce59d8cfcac6c7a10cad3bb8dca6021d00be35bdf546a6ea161R313

But the reason for this feature is to increase the number of blocks available to users that are using non-block based themes. Using navigation block rendering is the means to achieve that. The walker can't arbitrarily support block

[2021-09-09 07:20] #34236 closed, assigned to nobody

[2021-09-09 07:20] #34239 closed, assigned to nobody

[2021-09-09 07:21] go3asy commented on #8322
I’d like to add to this request. We recently upgraded our intranet and in the process decided to dump the classic editor. The process in which to add inline links or lists of documents is completely unacceptable from a modern CMS. It’s such a step backwards for such a simple task.  We also noticed while using the file block it adds dashes to the file name download link - another step backwards and

[2021-09-09 07:35] mkkeck commented on #34677
I try to explain. The "logo only" removes the background colors based on the coded block style in the core/social-link. This behavior exist since the block exist.
Block styles 'default', 'logo only' etc. are predefined styles for quick setting colors, backgrounds, shapes, etc in batch mode. So user can select a predefined style, and need only adjust settings which are required for specific icons.

[2021-09-09 07:45] gziolo commented on #34636
I'm about to cherry-pick non-production change into the release branch:
- https://github.com/WordPress/gutenberg/pull/34264

I want to publish to npm WordPress packages based on the release branch and this PR included a bug fix for `@wordpress/scripts` that fixes backward compatibility issues.

[2021-09-09 07:50] Sandstromer commented on #34677
I think the confusing aspect of this behaviour is that with the default colors the default style background color becomes the icon color when switching styles from default to logos only.

When either a background color or an icon color is selected, then it behaves differently when switching from default style to logos only, the background color does not become the icon color. The icon color is ret

[2021-09-09 07:59] spacedmonkey commented on #34628
I don't like this idea, personally. Thoughts @TimothyBJacobs ?

[2021-09-09 07:59] Sandstromer commented on #34658
Yes, using browser inspector, removing `!important` rule fixes this issue, and does not break the text link color either.

[2021-09-09 08:00] talldan commented on #34612
Also thinking some more about the other option. With a parent block type, perhaps all the controls are absorbed by the child navigation block like https://github.com/WordPress/gutenberg/issues/26313. That actually seems close to being complete now.

Some more work could make it so that the parent block is invisible/unselectable.

I think this could be worth exploring, because a generic custom post

[2021-09-09 08:03] getdave commented on #34612
I see. So we need to explore:

1. Creating a generic "transparent" (ie: no UI) custom post type block and using that to persist the entire Nav block (this would be similar to how Reusable blocks currently works but without the perceivable UI and with all the block's controls made available on the wrapped Nav block.
2. Adapting and copying the mechanic used for Reusable blocks to perisist the entir

[2021-09-09 08:08] mkkeck commented on #34677
@Sandstromer Okay, now I see:

The block style 'Logo Only' should also reset the color?

[2021-09-09 08:09] paaljoachim commented on #24007
A perspective....
With the latest mockup I get the impression that it is only the 6 blocks one can insert into the navigation. A user might not even know (understand) that they can click Browse all to access additional blocks that can be inserted into the navigation.
The text takes about as much space as another row of blocks would do. Btw merging the Navigation editor and the Navigation block int

[2021-09-09 08:17] Aljullu opened #34681 "useConstrainedTabbing steals focus from elements with tabindex="-1""
### Description

If an element with `tabindex="-1"` is focused and is rendered inside a component using `useConstrainedTabbing()`, pressing <kbd>Tab</kbd> will not focus the next focusable element, but instead it will go back to the first focusable item.

### Step-by-step reproduction instructions

One way to reproduce this issue is to modify the `<Modal>` story:

https://github.com/WordPress/gute

[2021-09-09 08:21] javierarce commented on #31241
I've updated the top bar design with several new elements we've been discussing:

- The global inserter button: #34438
- The list view button: https://github.com/WordPress/gutenberg/issues/23583#issuecomment-903811098
- The menu switcher inside the dropdown: https://github.com/WordPress/gutenberg/issues/29102#issuecomment-912022091
- The "new menu" button: https://github.com/WordPress/gutenberg/is

[2021-09-09 08:27] #34646 closed, assigned to nobody

[2021-09-09 08:28] getdave commented on #34658
I suspect this could be coming from global styles? I did search on the entire GB codebase and found the only references were in global styles unit tests.

I've [asked in Core Editor in Slack](https://wordpress.slack.com/archives/C02QB2JS7/p1631176228390700).

[2021-09-09 08:34] scruffian commented on #34645
In Quadrat for example we are modifying the color and border of the textarea in the editor, so that it matches the forms in the front end:

<img width="704" alt="Screenshot 2021-09-09 at 09 32 50" src="https://user-images.githubusercontent.com/275961/132651927-07bae12e-d49c-4ca7-bf64-398bcfee5725.png">

Without this the HTML block is pretty hard to use:

<img width="716" alt="Screenshot 2021-09-09

[2021-09-09 08:35] gziolo commented on #34236
There is `@wordpress/scripts` v18.0.1 available with the fix.

[2021-09-09 08:35] gziolo commented on #34239
There is `@wordpress/scripts` v18.0.1 available with the fix.

[2021-09-09 08:37] javierarce commented on #34227
Here is the updated design for the top bar: https://github.com/WordPress/gutenberg/issues/31241#issuecomment-915871085

[2021-09-09 08:44] spacedmonkey commented on #31551
At a guess, all these custom fields are stored in post meta on the menu item. So have you considered using the `register_meta` function? For each field that is registered, register a new meta field. This would allow the existing menu item endpoint to save the data.

As for rendering form inputs, I have a couple of idea.

- For every registered field of post meta, render a div on the page with a un

[2021-09-09 08:45] talldan commented on #34612
Yep, I think they are the two potential avenues.

[2021-09-09 08:57] getdave commented on #34658
@oandregal Replied

In this case @oandregal how can we avoid playing specificity wars within the Social Links block?

[2021-09-09 09:09] getdave commented on #33969
FYI off the back of the discussion above I'm updating the Nav Editor docs to correct inconsistencies https://github.com/WordPress/gutenberg/pull/34682

[2021-09-09 09:12] gziolo commented on #25188
Let me also share the [guidelines](https://developer.wordpress.org/plugins/wordpress-org/block-specific-plugin-guidelines/) for The WordPress.org Plugin Directory related to single vs multiple blocks:

It's worth emphasizing that from the start the intention is to drive folks to submit their blocks to the Block Directory and this is why the documentation is organized around that idea. However, kno

[2021-09-09 09:24] getdave commented on #34399
Thanks for spotting this @spacedmonkey. It's really important we consider this sort of thing.

A few questions:

Did you have a vision for what you would consider "better" in mind? I've been thinking but I can't think of an optimal soluton that covers all use cases.

The Nav Editor saves data to the same CPT as the Menus screen. Therefore anything we strip out for the purposes of the Menus screen

[2021-09-09 09:26] getdave commented on #29102
Thanks for creating these! 👍

~@spacedmonkey Have you added these to the relevant sections above? If not then we'll need to look at that. I'll check now.~

**Update**: I marked ✅ next to [all your items](https://github.com/WordPress/gutenberg/issues/29102#issuecomment-915127526) which I've added to the relevant sections. One is remaining as I'm genuinely not sure about it and would like to discuss

[2021-09-09 09:28] gziolo commented on #22151
From https://github.com/WordPress/gutenberg/issues/22151#issuecomment-859462352:

https://developer.wordpress.org/block-editor/how-to-guides/block-tutorial/

From https://github.com/WordPress/gutenberg/issues/22151#issuecomment-912029825:

It feels like we should start with the old block creation tutorial and repurpose it more towards recipes of how to approach different aspects of building blocks

[2021-09-09 09:37] gziolo commented on #33344
I played with the command a bit in https://github.com/WordPress/gutenberg/pull/34685. One issue I noticed is that `npx browserslist@latest --update-db` changes the formatting of the lock file ...

[2021-09-09 09:38] brylie commented on #34320
My default node/npm versions are:

- node v14.17.0
- npm 7.21.0

I have nvm installed, so can switch to whichever version is compatible/recommended.

[2021-09-09 09:50] oandregal commented on #34658
I'm going to close this in favor of https://github.com/WordPress/gutenberg/issues/33437 Will continue the conversation there.

[2021-09-09 09:50] #34658 closed, assigned to nobody

[2021-09-09 09:52] jameskoster commented on #31241
I still have some slight reservations about re-using the title/dropdown in this context as a switcher primarily.

In the template editor this affordance reveals details about the template and offers no switching. In the site editor it also reveals details and offers a shortcut to view all templates (and switch) as a _secondary_ function. Ideally global elements like this should exhibit consistent

[2021-09-09 09:54] andersnoren opened #34686 "Social Icons block removes items-justified-x class when duplicated"
### Description

When you duplicate a Social Icons block set to a "Justify X" value other than left, the duplicate loses the justify setting or reverses to the setting the original had when the post was last saved. This also happens if you duplicate a group containing a Social Icons block with a justify setting.

### Step-by-step reproduction instructions

1. Add a Social Icons block
2. Set it to

[2021-09-09 10:13] Sandstromer commented on #34677
No, when the icon color is changed, and then you switch from default style to 'Logos Only', the icon color will stay the same as your selection.

[2021-09-09 10:20] kosiew opened #34688 "First-line indent slider option for paragraphs"
### What

A slider option in the paragraph's block menu to enable first-line-only indenting (like a tab in a classic document)

### Why

I've run across a few people lately who've requested this. Some people like the classic formatting look (like a book). Others may be used to writing in Word docs (where a tab or margin adjustment to top-line indents are readily available).

In any case, there sho

[2021-09-09 10:25] Sandstromer commented on #34686
I can reproduce and confirm this.

The duplicated block doesn't really revert to 'Justify Left' though.
The justify class `items-justified-x` is not carried over with the duplication, and is empty on the duplicated block.

[2021-09-09 10:27] chthonic-ds commented on #34677
Let me explain a different way: in the second gif above my expectation was that, on switching back to Default, I would not have to manually reset the background colour to return to the starting state. I haven't previously thought of block styles as encouraging destructive changes. The colour persists across the styles switch, and, while I appreciate the background colour picker disappears for the

[2021-09-09 10:48] Sandstromer commented on #34677
@chthonic-ds I agree that does seem like an issue that should be fixed.

[2021-09-09 10:49] javierarce commented on #31241
To me, having a way to switch navigations there feels intuitive, too (and has the side benefit of working well in narrower layouts). And even though the action in the Site Editor is secondary, it still feels consistent to me: users opening the dropdown will probably have the same intent (switching). I also think the [introduction of the template mosaic view](https://github.com/WordPress/gutenberg/

[2021-09-09 10:54] timnolte commented on #34320
@brylie can you do a switch to Node v12, delete the `node_modules` directory and try again? In your original report I don't see explicitly that you are doing an `nom install` but I assume you are, and likewise you are performing a `wp-env stop` in there as well? Your steps only mention executing multiple `wp-env start` commands. I guess I should note one difference between your setup and mine is t

[2021-09-09 10:56] Sandstromer commented on #33437
The "fix" for this is to add more `!important` rules to ensure the icon color and button text color display as intended.

However this would not be a proper fix as we then get into a seemingly never ending pathway of adding `!important` whenever new issues like this come up.
Have we already gone too far down this route? Is it too late to rethink the use of `!important` from the ground up?

[2021-09-09 11:12] jameskoster opened #34690 "List view: Selecting a block on the canvas should expose that block (or its lineage) in list view"
When a container block is collapsed in list view, selecting a child of that container on the canvas doesn't provide any visual feedback in list view. You must manually expand the relevant container. Video example using the Columns block:

https://user-images.githubusercontent.com/846565/132675120-95352208-e6db-40fa-b4a0-4791c5f4511a.mp4

A couple of potential solutions:

1. Automatically expand th

[2021-09-09 11:13] oandregal commented on #33437
I've got a potential fix at https://github.com/WordPress/gutenberg/pull/34689 and would like help in testing it. Does the PR list all the use cases that we need to take care of?

[2021-09-09 11:35] javierarce commented on #31104
This issue has been partially solved thanks to #34225 by @getdave and the introduction of the top bar, and I think we should just add some top and bottom margins.

Should we close it and open a new ticket to address that problem?

[2021-09-09 11:39] ciampo opened #34691 "Components: add composition, API consistency and performance sections to the contributing guildlines"
## What

Follow-up to #33960

## Why

The composition, API consistency and performance sections can help contributors to understand the core principles of the package.

## A/C

- [ ] Expand composition section
  - [x] Composition patterns (#34697)
  - [ ] (Semi-)Controlled components
  - [ ] Layout "responsibilities"
- [ ] Expand API consistency section
- [ ] Potentially add a "performance" sectio

[2021-09-09 11:39] ciampo opened #34692 "Components: reconcile multiple README and CONTRIBUTING into single docs"
## What

Follow up to #33960 — There are currently multiple README and CONTRIBUTING files in the `@wordpress/components` package — we should reconcile them into single files.

## Why

Keeping our docs clear and up-to-date

## A/C

- [ ] Only one README and one CONTRIBUTING file should be present at the root of the package
- [ ] Information should be consolidated within the same doc(s)
- [ ] Out-of

[2021-09-09 11:39] ciampo opened #34693 "Components: update JSDocs guidelines"
## What

As discussed in https://github.com/WordPress/gutenberg/pull/33960#discussion_r704632262, the JSDocs guidelines should be updated to acknowledge the TypeScript language and how that affects JSDocs

https://github.com/WordPress/gutenberg/blob/trunk/docs/contributors/code/coding-guidelines.md#javascript-documentation-using-jsdoc

## Why

Keeping our docs up to date

## A/C

- [ ] Update JSDo

[2021-09-09 11:39] ciampo opened #34694 "Components: add guidelines on how to write a component's README to the contributing guidelines"
## What

As requested in https://github.com/WordPress/gutenberg/pull/34624#issuecomment-915268479, it'd be great of the contributing guidelines had a section on how to write consistent documentation for components in `@wordpress/components`

## Why

Consistency is key, especially when multiple contributors are going to work on this package

## A/C

- [ ] Agree on a common format for docs and READM

[2021-09-09 12:30] getdave commented on #31104
If the menu still gets cut off then this Issue is still valid but we should/could update the main description with up to date info so it can be addressed.

Otherwise if it's now "UI margin tweaks" then let's go for a new issue.

Thanks!

[2021-09-09 13:09] mtias commented on #34645
This seems like the HTML block should force a white background. cc @jasmussen It's not meant to blend with the theme, it's a code view that will render the HTML on the front anyways.

[2021-09-09 13:37] markhowellsmead opened #34696 "Welcome message and full-screen editor keep resetting"
### Description

After clicking the editor welcome message away and turning off the full-screen editor layout, these reset at random intervals. The issue occurs sometimes when returning to edit a post which I've edited a few minutes ago. Sometimes the issue doesn't happen for a longer period of time. I cannot identify a sequence of actions which lead to the preferences being reset. The issue appea

[2021-09-09 13:52] richtabor opened #34698 "Simplify layout/dimensions controls across blocks into a unified Layout panel"
I've been thinking about how we can simplify panels in — and across — blocks and had another thought I'd like to riff on.

I started with #34558 (focused on the Group block), highlighting how we can start simplifying panels throughout the library. In theory, we could likely condense layout-esque controls into a more appropriate "Layout" panel that adapts based on the block.

### Auditing today's l

[2021-09-09 14:36] skorasaurus commented on #34688
related, previous discussion about this: https://github.com/WordPress/gutenberg/issues/28524 and https://github.com/WordPress/gutenberg/issues/14554

[2021-09-09 14:55] JiveDig commented on #9357
+1 here. Same issue with the same reasoning behind having duplicate colors.

[2021-09-09 15:07] jorgefilipecosta commented on #34286
Hi @ciampo,
I did not notice the color picker component was including a tinycolor object on the callback. I shared some thoughts on https://github.com/WordPress/gutenberg/pull/34014#discussion_r705432911. But in summary, I think we should not return that object, we never documented anywhere that we do it and even if there was no component library change I think we should do the change sooner rathe

[2021-09-09 15:14] JiveDig commented on #9357
@timelsass Did you find a workaround? I'm curious about slightly altering the syntax `rgb(0, 0, 0)` vs `rgb(0,0,0)` vs `rgb(0,0, 0)` each time it's duplicated. Feels super hacky but the still curious ;P

[2021-09-09 15:16] firstdivision opened #34701 "Prevent save/publish if ContrastChecker is showing warning/error"
## What problem does this address?
When editing a post, if the user selects colors that activate the `ContrastChecker`'s WGAG warning, I would like an option to have this be treated as an error that prevents the post from being saved/published. Currently it only displays a warning/notice in the inspector panel.

## What is your proposed solution?
Add an option somewhere in WP admin to edit the beh

[2021-09-09 15:31] jameskoster opened #34703 "Visualise box model properties on the canvas"
Spacing controls in the Dimensions panel are an exciting enhancement.

But one problem I've stumbled upon is that things can feel a little disorienting when working with more complex layouts consisting of multiple nested blocks – each with their own unique spacing configurations. Think Columns with nested Groups etc.

Additionally, labels like 'padding', and units like 'px', 'em', 'vh' etc are fai

[2021-09-09 16:05] overclokk commented on #29568
I found this video about font sizes https://www.youtube.com/watch?v=wARbgs5Fmuw
The interesting thing is how it creates the structure, using a syntax similar to the font weight.
I add it because it could be interesting as a method.

[2021-09-09 16:22] jorgefilipecosta commented on #34286
Hi @gziolo,

Yes one can extend with the same plugin multiple times
https://github.com/omgovich/colord/blob/9fe0e2b8c11ec2a6ed371137d52966f0a38dc890/src/extend.ts#L9-L16

If the plugin is already registered as an extension the call to extend does nothing.

So I guess the current approach scales and may work, but it is not ideal from the developer experience point of view it would be better to not

[2021-09-09 16:49] apeatling opened #34706 "Allow setting the height from the placeholder state."

[2021-09-09 16:49] apeatling opened #34707 "Expand the placeholder description to describe the different things that are possible."
<img width="669" alt="Screen Shot 2021-09-09 at 9 52 27 AM" src="https://user-images.githubusercontent.com/1464705/132729101-643551bb-739d-4ca9-9058-73db6dacf17e.png">

[2021-09-09 16:56] apeatling commented on #28385
I would add another here https://github.com/WordPress/gutenberg/issues/17953 -- to stop situations where the background color and text color are the same. For example with TwentyTwenty if I select a white background, the text color defaults to white and is invisible.

[2021-09-09 17:09] ciampo opened #34709 "Components: refining `ItemGroup`"
_This is an overview issue to track all of the tasks necessary to refine the `ItemGroup` component in the context of integrating with the new design and primitives._

## `ItemGroup` and `Item`

- [x] #35152
- [ ] Consider the best way to associate a `Heading` to `ItemGrop` (and to link it in a semantic way as the title of the group)
- [ ] Consider using the `@wordpress/components` `Button` element

[2021-09-09 18:20] ryanwelcher commented on #33263
@ciampo wondering if we have an example of documenting when props are passed to an underlying component? For example, in #34711, it would be great to have a line to the effect of **_"any other props are passed down the underlying `<Button/>`"_** - just looking to standardize that in some way.

[2021-09-09 20:26] iandunn opened #34716 "Unexpected CSS margins added to container blocks"
### Description

As of #33812, spacing gaps are automatically applied to FSE themes. That can cause unexpected results for theme authors in some situations.

I thought it'd be helpful to have an issue where we can post those use cases. Please add comments here when you encounter one.

### Step-by-step reproduction instructions

Both of these are with the default `24px` gap, rather than defining on

[2021-09-09 20:48] mrwweb opened #34717 "Implicit Text, Hover, Focus Colors as Part of Color Palette"
## What problem does this address?
The thing that will keep me from adopting `theme.json` for my color palette CSS is that I prefer to automatically set text color when a user sets a background color that has poor contrast. e.g.:

[code]

Current Experience:
![bad](https://user-images.githubusercontent.com/1238696/132760001-435dd837-00f5-4472-9bf2-b5b67e6bfae7.gif)

Better experience!
![good](http

[2021-09-09 20:49] spacedmonkey commented on #34399
It is not a new problem. The current nav menu screen allows you to input text / html and it is not stripped out. But the average user will likely not do because, 1. they do not know html. 2. do not know that it was possible.

The nav editor screen brings this functionality to the surface. Most custom walkers, require very strict html markup / match css selectors. Not sure what effect just putting

[2021-09-09 20:55] spacedmonkey commented on #29102
I also work like to flag this issue https://github.com/WordPress/gutenberg/issues/31551 . It is important that we maintain backwards compatibility and solve backwards compat for ACF, we likely cover lots of other use cases of users that have extended the current menu screens. i have posted my idea of compatibility https://github.com/WordPress/gutenberg/issues/31551#issuecomment-915886641. I would

[2021-09-09 21:01] sybrew commented on #34664
There was great advocacy for enabling "Top Toolbar" by default. I believe it was for this reason. But that's neither here nor there, and I cannot fantom a fix for this non-"Top Toolbar" feature that'd also be accessible. Perhaps, the time has come to remove features that didn't work out the way they were envisioned.

[2021-09-09 21:09] ivanjeremic commented on #21761
@DOUARA did you manage to get a working example of this? I try to do the same thing without success, can you provide me with an example maybe? Thanks

[2021-09-09 21:20] ivanjeremic opened #34718 "Make React work in the front-end with blocks out of the box."
I personally think the reason why React developers struggle with this is React is an amazing tool for building interactive UI and the fact that Blocks are not interactive in the front-end is somehow a missed opportunity considering how manny react developers are out there, something like this build in would not only boost the block development since more react devs would come in, it will also help

[2021-09-09 22:00] glendaviesnz commented on #34554
@ManniGH on looking into this further it seems that this is a [known breaking change](https://github.com/WordPress/gutenberg/pull/34489#issuecomment-912312107) that theme authors will need to account for. The best approach is probably to contact the Astra theme authors and see if they can release an update that accounts for this change. If you point them to https://github.com/WordPress/gutenberg/p

[2021-09-09 22:42] ManniGH commented on #34554
Thank you for your help, I've reported this to Astra just now, with a link to this thread so they can see the issue on my screenshots and a quote of your last post so they can look at #34489.

[2021-09-09 23:07] glendaviesnz commented on #34554
@ManniGH, I am going to close this issue for now, but feel free to re-open it if the Astra team have any trouble resolving this problem for you.

[2021-09-09 23:07] #34554 closed, assigned to nobody

[2021-09-09 23:32] andrewserong commented on #34698
Thanks for raising the discussion for this one, too, @richtabor, that's a really interesting idea slotting the Columns block's ad hoc controls into Layout along with the block supports, and arranging by priority. Just linking @jasmussen who's recently done some exploration into the Layout vs Dimensions panels in #28356 ([comment](https://github.com/WordPress/gutenberg/issues/28356#issuecomment-915

[2021-09-10 00:21] glendaviesnz commented on #29203
Just confirmed that this is still an issue with the new gallery format. Although with the new format the images are Image blocks anyway the images get stuck with loading spinner still if transformed during upload. They are not completely broken, and selecting between the images eventually causes them to complete, but probably still worth looking at disabling transform while uploads in progress.

[2021-09-10 01:37] glendaviesnz commented on #21247
Some additional background discussion on this on a PR that was started to add this to v1 of the gallery https://github.com/WordPress/gutenberg/pull/25321

[2021-09-10 01:48] glendaviesnz commented on #9184
Just confirmed that this still happens in WP5.8 and Gutenberg 11.4.1

[2021-09-10 01:52] nyanpasu64 commented on #34214
Seems fixed. I assume it will be fixed in a WordPress release (without the Gutenberg plugin) at some point?

[2021-09-10 01:52] #34214 closed, assigned to nobody

[2021-09-10 02:05] glendaviesnz commented on #13164
Just checked and this is still an issue with the refactored Gallery block where the images are now nested Image blocks.

[2021-09-10 02:12] glendaviesnz commented on #14946
I just retested with the refactored gallery, and now that the images are nested Image blocks the issues is not quite as bad. If the first image in the gallery is deleted the problem is the same and nothing is focused after the delete, but if one of other images is deleted focus moves to the caption of the previous Image block.

[2021-09-10 02:32] glendaviesnz commented on #16372
On WP 5.8 and Gutenberg 11.4, and with the [gallery block refactor merged](https://github.com/WordPress/gutenberg/pull/25940), and the [related upload issue fixed](https://github.com/WordPress/gutenberg/pull/34371) I was not able to replicate this with the gallery refactor experiment enabled, or with it disabled and using the old gallery block format. I uploaded 60 images, including some that were

[2021-09-10 02:32] #16372 closed

[2021-09-10 02:37] glendaviesnz commented on #17618
With the [gallery refactor merged](https://github.com/WordPress/gutenberg/pull/25940) the alt tag can now be set on each image in the gallery block so closing this.

<img width="795" alt="Screen Shot 2021-09-10 at 2 35 54 PM" src="https://user-images.githubusercontent.com/3629020/132790271-a9fa1463-3516-4048-b97f-e5cd54660678.png">

[2021-09-10 02:37] #17618 closed

[2021-09-10 02:41] nyanpasu64 opened #34722 "In a list, undoing delete then pressing Enter creates zero or two empty lines"
### Description

When editing text in a list block, undoing deletions and then pressing Enter may result in 0 or 2 lines being created.

### Step-by-step reproduction instructions

1. Create a list block with 3 elements, the middle indented. Save a draft and reload (this means you can't test these steps on https://wordpress.org/gutenberg/).
2. Place the cursor at the end of the indented middle lin

[2021-09-10 02:44] glendaviesnz commented on #24764
I think this is a duplicate of https://core.trac.wordpress.org/ticket/53169, which was fixed by https://core.trac.wordpress.org/changeset/51123, which is in 5.8, so closing.

[2021-09-10 02:44] #24764 closed

[2021-09-10 03:08] glendaviesnz commented on #21650
I wasn't able to replicate this in the refactored gallery so closing. Feel free to reopen if you can replicate in the new gallery format - enable the Gallery block experiment to test:
<img width="592" alt="Screen Shot 2021-09-10 at 3 08 14 PM" src="https://user-images.githubusercontent.com/3629020/132793243-932b8867-f437-47ee-93fa-cfabff98e405.png">

[2021-09-10 03:08] #21650 closed

[2021-09-10 03:20] glendaviesnz commented on #24605
I wasn't able to replicate this in the refactored gallery block:

![right-align](https://user-images.githubusercontent.com/3629020/132794019-76d61663-3f6a-4a6b-9f65-685448ba4617.gif)

Closing for now. Feel free to reopen if you can replicate in the new gallery format - enable the Gallery block experiment to test:
<img width="592" alt="Screen Shot 2021-09-10 at 3 08 14 PM" src="https://user-images.

[2021-09-10 03:20] #24605 closed

[2021-09-10 03:31] MohammedFaragallah commented on #34628
@spacedmonkey  just a question does the schema represent the response?

I'm asking because I'm generating typescript definitions from it to make the response typesafe

it's working fine even with third-party plugins

[2021-09-10 03:31] glendaviesnz commented on #33486
Fixed by https://github.com/WordPress/gutenberg/pull/34433

[2021-09-10 03:31] #33486 closed, assigned to glendaviesnz

[2021-09-10 03:50] chthonic-ds opened #34723 "theme.json: support a description value for templateParts"
## What problem does this address?

In theme.json `templateParts` supports two values: `name` and `area`.

`name` matches with the filename for a template part. When viewing Site Editor > Template Parts, available parts are described using the value for `name`. This can result in an "unfriendly" label for each part, especially if using overly descriptive names.

For example, the following in theme

[2021-09-10 04:33] khoipro commented on #29568
I think a video from @overclokk brings a great modern typography responsive set to the light. Currently we print out all CSS variables in CSS inline.

I also suggest:

[code]

The section spacing is great approach to match all spacing between blocks in vertical list. For example, we use this variable for setting up spacing between blocks.

<img width="855" alt="Screenshot_3" src="https://user-imag

[2021-09-10 05:19] andrewserong opened #34724 "ToolsPanel: Dimensions panel appears empty at first when duplicating a block with Dimensions"
### Description

While testing #34065, I noticed that if we duplicate a block that uses the Dimensions Panel, when the block is copied, the Dimensions panel appears to be empty. If you click away from the panel and back to it, it is no longer empty.

A possible culprit to investigate: when we duplicate the block, perhaps there isn't a clientId available yet when registering the ToolsPanel?

### St

[2021-09-10 05:24] ugenegrg commented on #34193
Hi Team, here is my suggestion. Not a good one :). But this is only - If I had to do by my way
https://screencast-o-matic.com/watch/crQ6h3VQKfT

[2021-09-10 06:11] jasmussen commented on #28356
Agreed. I was reminded again of how we still have some work to do on the visuals of the margin and padding controls (see mockups above), but also how visually close margins and paddings are. To the untrained eye, or just to people new to building websites, the nuance between margin and padding is not obvious at all. Things like #33221 will help here, but even when curating the inspector controls,

[2021-09-10 06:20] #34724 closed, assigned to andrewserong

[2021-09-10 06:40] jasmussen commented on #24007
The quick inserter definitely needs iteration as far as both curation of the default 6, but also how you explore additional ones. But even without that, the "Browse all" at the bottom means it isn't a dead end, so I think it could still be a quick win:

<div align="center">
<img width="510" alt="Basic" src="https://user-images.githubusercontent.com/1204802/132810637-99edda45-16c6-40b1-a025-9f6b2c7

[2021-09-10 06:46] jasmussen commented on #34645
Right, the HTML block should be considered "editor UI", and have the same materials and styling as the block toolbar. I'll see if I can increase the specificity of those styles to survive anything the theme throws at it.

[2021-09-10 07:17] andrewserong opened #34728 "Block Supports: Add additional PHP test coverage"
## What problem does this address?

Now that Block Supports are widely used for blocks in Gutenberg, let's investigate whether it'd be helpful to add additional block-level PHP tests to ensure the stability of the block supports and that we don't accidentally introduce regressions when we make updates to existing block supports.

## What is your proposed solution?

The Block Supports PHP code that

[2021-09-10 07:23] gziolo commented on #25188
Now I don't remember if there was some rationale behind the current implementation that was incorrectly documented, or that's a bug that needs to be fixed 🤔

Thank you for sharing the Trac ticket. This behavior has been around from the start - WordPress 5.5. I need to research the initial discussion.

_Edit:_ In the initial implementation in the Gutenberg plugin, you would always have to name the

[2021-09-10 07:46] Robertght opened #34729 "Patterns using VH units or fixed background vertically expanding their previews endlessly"
### Description

This is a replica of this issue: https://github.com/Automattic/wp-calypso/issues/56077

### Step-by-step reproduction instructions

### Steps to Reproduce

1. Start by opening a page to edit
2. Click the blue plus sign to open the blocks & pattern search sidebar
3. Go to Patterns → Headers (in the Patterns drop down)
4. Start scrolling. The second pattern, "Large header with text

[2021-09-10 07:57] jasmussen commented on #34698
Nice. Definitely pertinent to the discussion in #28356!

If we looked across a range of blocks, notably Group and Cover, what would a reusable layout panel look like for those?

I know "Stack on mobile" is an existing feature of the block, so not the focus of this issue. But it's pertinent to the discussion in that it feels like we can do better than such a toggle, and ensure that it doesn't just

[2021-09-10 08:05] paaljoachim commented on #24007
For the first option adding text it needs to be clear that those are the top 6 block options that can be used for the Navigation bar (+ editor).

The second option I did not even initially see the scrollbar until I read the text. I believe that scrollbars can easily be overlooked.

The third option uses the wide Browse all in a more practical way.

Brain storming. The Browse all is a big button wh

[2021-09-10 08:25] gziolo commented on #34286
Let's add those `extend` calls where necessary for now. We can abstract it later if necessary. In practice, this API prevents tree-shaking because the imported extensions are used in the code in `extend` call so tools will assume that they should be never removed even when they aren't used. It isn't an issue in Gutenberg, but it's a minor thing for 3rd party projects that want to use a subset of c

[2021-09-10 08:32] senadir commented on #5208
This is now partially addressed by https://github.com/WordPress/gutenberg/pull/32457

[2021-09-10 08:33] #34645 closed, assigned to jasmussen

[2021-09-10 09:02] obladon25 commented on #29885
I encountered the same issue.

The problem is related to the timeout somehow. We receive an API response from the `/wp-json/wp/v2/blocks/4528?context=edit&_locale=user`
but the content in `.block-editor-block-list__layout` remains unchanged.
When I do CTRL + SHIFT + R no HTML is added to `.block-editor-block-list__ayout` for any reusable block. When I load the page with CTRL + R, then some blocks

[2021-09-10 09:27] jameskoster commented on #31236
While a toggle could be a helpful secondary affordance, I wonder if the most intuitive heuristic would be to simply re-engage select mode whenever no block is actively selected.

We may also need to be careful about toggling modes on a single key, as it may be that there are more than two modes in the future. Dedicated shortcuts for each mode might be more scalable.

[2021-09-10 09:29] jasmussen commented on #31236
This could work, and it would allow us to let an additional Escape deselect all blocks something that in many apps is tied to that key already.

[2021-09-10 09:38] luminuu commented on #30982
I'd love to see the ability to put gradients on paragraphs and headlines too! Maybe a background gradient would be nice too but I'd prefer text gradient over background gradient.

[2021-09-10 09:52] Sandstromer commented on #34716
Would it be possible to have an option on all blocks that would allow the block gap to be toggled off in those instances where it is not required?

If that was an option, templates and parts could define when a particular block would have the block gap off, e.g. something like `"hasBlockGap":false`

[code]

[2021-09-10 10:00] paaljoachim commented on #29885
I am wondering if this Trac ticket might be associated:
https://core.trac.wordpress.org/ticket/52790

[2021-09-10 10:35] gziolo commented on #34622
It looks like it's exactly the same issue as reported in https://github.com/WordPress/gutenberg/issues/21872. It's just the context is different. `{ parenSpacing: true }` is a custom config from the Prettier's fork we use to follow WordPress coding standards.

The best way to move forward is to stop using the fork and use what the official Prettier has to offer. This is where it is heading, we jus

[2021-09-10 10:35] #34622 closed, assigned to nobody

[2021-09-10 10:36] gziolo commented on #21872
The same issue was reported in #34622. The context was `@wordpress/script` but the solution was also installing the npm alias for Prettier in the project.

[2021-09-10 10:46] TobiasBg commented on #34622
Thanks for finding the duplicate, @gziolo! Indeed, this seems to be the same underlying issue. Too bad that a custom fork of Prettier is needed. However, changing the WP JS coding standards doesn't sound too intriguiing either, as it would quite differ much from the WP PHP coding standards. But that's not for this thread :-)

[2021-09-10 10:47] gziolo commented on #34660
https://github.com/webpack/webpack.js.org/issues/2096 - thanks for sharing the recommendation. @sirreal, do you remember why you settled on `hash`? It looks like we should follow what @anomiex shared.

[2021-09-10 10:48] gziolo commented on #34622
Couldn't agree more 😅

[2021-09-10 10:59] jameskoster opened #34737 "Inconsistent text case when displaying template part names"
On my site I have a template part named "header". In the top bar, the block toolbar, and the Inspector this is capitalised and appears as "Header", but in the navigation sidebar it is not:

<img width="1468" alt="Screenshot 2021-09-10 at 11 54 08" src="https://user-images.githubusercontent.com/846565/132843099-b437bbfa-058b-43fd-bf61-afe2135ba32e.png">

Let's decide on the correct implementation a

[2021-09-10 11:06] gziolo commented on #34718
Thank you for opening this issue. There is already a similar discussion happening in #14446. I will close this one and copy your comment there.

[2021-09-10 11:06] #34718 closed, assigned to nobody

[2021-09-10 11:07] gziolo commented on #14446
@ivanjeremic opened an issue that I closed as duplicate: #34718.

[2021-09-10 11:21] davidmondok commented on #7960
I'd just like to add that if you're having this problem in a custom post type, you will have to change the meta-key accordingly. So for the post type `download` the command will have to be

[code]

[2021-09-10 11:24] getdave commented on #31551
One thing I'm considering is that [`wp_nav_menu_item_custom_fields`](https://developer.wordpress.org/reference/hooks/wp_nav_menu_item_custom_fields/) doesn't just cater for form fields. It's open to _any_ HTML.

I wonder whether if (as you suggest) we were to render the HTML within an iframe (like we do for Legacy Widgets) we might be able to provide backwards compatibility in all cases.

Trying t

[2021-09-10 11:28] SeanDS opened #34738 "PDFs embedded via File block disappear once published"
### Description

A few users of my internal WordPress instance have reported that the new [PDF inline embed feature](https://make.wordpress.org/core/2021/04/30/whats-new-in-gutenberg-10-5-28-april/) breaks when a post containing an embedded PDF document is published or subsequently edited.

Creating a new post, adding a `File` block then choosing a PDF document works in the editor - the PDF is sho

[2021-09-10 11:31] adamziel commented on #34399
If I understand the problem correctly, it is a matter of “can I upgrade to the new editor without breaking my current setup?", right? Walkers are there at all times, it's just that the new editor makes the use of HTML tags transparent for the user.

As long as things are opt-in, we have a lot of space to find if and how things break, +1 to what @spacedmonkey suggested here:

[2021-09-10 11:36] getdave commented on #34399
Can folks list some of these here so we can run some tests?

So would this be an option in the new Editor which disables the rich formatting toolbar if/when rendering using a Walker?

We could also introduce a filter on the _current_ Menus screen which would allow devs to opt out of HTML in labels. That way if their Plugin breaks they simply activate the filter in PHP to _strip_ any HTML in the la

[2021-09-10 11:50] SeanDS commented on #34738
Here's the console error when a post with this issue is edited:

[code]

And the abbreviated `core/file` object above:

[code]

[2021-09-10 12:10] thehenrybyrd opened #34740 "Button Block: Bottom Sheet too tall when insertion is limited to only one block"
## Description
Within the Buttons block, it's only possible to add another Button Block. This means the Button Block is the only block displayed when the block inserter is opened.
The block inserter bottom sheet takes up the whole screen, though only one block is displayed.

## Step-by-step reproduction instructions
Using the WordPress app on an Android device:
1. In a Page or Post, add a Button b

[2021-09-10 12:41] mtias commented on #34709
What would be the purpose of the organizational unit for grouping `ItemGroups`? Trying to understand what it'd represent.

As a general rule, tooltips should be applied to actionable items. So if the entire Item is the action, the tooltip should be general: "Link color red; hover color blue" or something.

[2021-09-10 12:59] sirreal commented on #34660
This is actually part of your contribution from https://github.com/WordPress/gutenberg/pull/17298 😆

This is intended to set the script or style `version`. It's used as the version for WordPress script and style dependencies via [`WP_Scripts::add`](https://github.com/WordPress/WordPress/blob/e175db4ae12056774d691f8b377cb61a4b9655aa/wp-includes/class.wp-dependencies.php#L226-L230):

https://github.

[2021-09-10 13:38] richtabor commented on #28356
What about one (a "Layout" panel)? Perhaps we should mock-up what each of these would look like?

[2021-09-10 14:31] #31502 closed, assigned to getdave

[2021-09-10 14:34] vtad commented on #34738
This error occurs only for not admin users (role author, etc.)

[2021-09-10 14:42] #32678 closed, assigned to ntsekouras

[2021-09-10 14:43] karmatosed commented on #34245
@paaljoachim it seems a little unclear what you are actually intending here, are you suggesting a state change on the actual icons? That could be confusing and I think it needs to be weighed up as to the usability benefit.

- Are you looking at the toolbar for the icon?
- Do you need to see a consistent state for icon and if it changes will it cause usability issues?
- What benefit does seeing a s

[2021-09-10 14:44] mrwweb opened #34741 "Add Support for Named Sections of Color Palettes"
## What problem does this address?
I'm currently working on a site with a very large official color palette that is broken down into Primary, Secondary, and Tertiary colors. It would be great if the UI provided a way to make these sections explicit to editors to help guide their color selections. I could imagine lots of uses for this when sites run sub-branded campaigns or a plugin adds some addit

[2021-09-10 14:49] karmatosed commented on #33138
I agree with @javierarce and I think that rethinking the behaviour of the sidebar is better than the proposed solutions. Adding a pin seems to add more cognitive load to me at this point. It might work with an iterated experience, but in the context of what we have, I am not convinced. I think we have enough feedback to close this and start thinking about other experiences around this area. Really

[2021-09-10 14:49] #33138 closed, assigned to nobody

[2021-09-10 15:22] nobleclem commented on #24605
Where are you finding the "Experimental settings"?

[2021-09-10 15:35] cbirdsong opened #34743 "Add ability to visually replace separator block with an image"
## What problem does this address?

When laying out a heavily art-directed post/page it's often nice to have a custom-designed separator element to make the whole thing feel a bit more cohesive. The current ways to accomplish this in Gutenberg are:

- **Changing the color of the separator block**. This is a nice option, but it's obviously pretty limited.
- **Using an image block**. This works visu

[2021-09-10 15:53] karmatosed commented on #34238
@richtabor I think reordering is a great idea. I took a quick run at mocking this up based on what we have today and what we might have coming in the future with the work that is incoming for the iteration.

![2021-09-10 at 16 51](https://user-images.githubusercontent.com/253067/132882029-efc66f4b-8852-47c5-87e7-108abe67aed9.png)

It is a little rough visually, but I think we can just bring in the

[2021-09-10 16:14] getsource commented on #33719
First, thanks for everyone's work on this! It's pretty amazing to have such an excellent automated starting point for the changelog.

A few notes so far from what I found while going through -- if some of these are intentional, apologies.
- Many 'Code Quality' items were not grouped by their package label.
- Things with 'Core Data' package label were commonly not put into a heading/category.
- 'Bl

[2021-09-10 16:17] getdave commented on #33719
@getsource Glad it was useful ✨

It would be great if you could consider opening a new Issue(s) to track these concerns.

Happy to address them in due course.

Thanks again for leading the release. Great job there 🚀

[2021-09-10 16:33] jhnstn opened #34746 "[RNMobile] Limit height of inserter menu when only a few blocks are available."
## Description

As of the 1.61.0 release of Mobile Gutenberg, the inserter menu on Android goes fullscreen. This is a workaround to find an acceptable keyboard open animation when starting a query in the inserter block search. When the search is not enabled , however, the inserter does not need to be full screen. Search is not enabled, for example, when there are only a few block options in the me

[2021-09-10 16:35] jhnstn commented on #34746
Duplicate of https://github.com/WordPress/gutenberg/issues/34740

[2021-09-10 16:35] #34746 closed, assigned to nobody

[2021-09-10 16:39] karmatosed commented on #30755
I think this might need design feedback over needing design because I think it's a matter of conversation if this is changed or not. There are 2 possible options:

- Leave as it is: accepting that social icons have colour as their branding.
- Make the social icons (embeds) have mono colouring where they are used in the library. I am reluctant to suggest changing sizes as it's a case of branding fo

[2021-09-10 16:44] karmatosed commented on #31522
Unless mistaken this doesn't need design as far as the interface goes but I could be wrong, I am going to remove that label now and we can always add it back.

[2021-09-10 16:51] karmatosed commented on #30633
I might be wrong but I don't seem able to replicate this as an issue right now on the latest build:

![2021-09-10 at 17 47](https://user-images.githubusercontent.com/253067/132888834-93292783-0adb-449d-a31c-0543d52af24f.png)

If this is a case that it's been fixed that's great, however, if it's a case I am just missing some steps to replicate I would happily do that @annezazu. For now, I will remo

[2021-09-10 16:53] priethor opened #34747 "Block Patterns: Add a "Featured" category to Block Patterns"
## What problem does this address?
In Gutenberg 11.4, the Patterns tab in the Inserter shows the Buttons category by default. This is currently an issue as there are more compelling Block Patterns to show by default. In the future, other Button patterns will be shown when they are fetched from the Pattern Directory as they are added.

## What is your proposed solution?
Adding a new `Featured` patt

[2021-09-10 16:58] karmatosed commented on #24221
@Copons just checking what still needs doing design-wise here as this is a little older issue. I currently see:

![2021-09-10 at 17 57](https://user-images.githubusercontent.com/253067/132890234-01418f6a-89f8-4260-8e87-a59e10d60e98.png)

Which is very 'lacking' so my belief is that showing an actual 'form' makes a lot more sense. But, just checking that is still the intention here and if so I can

[2021-09-10 17:26] fluiddot opened #34748 "Inserter: Block title is not center-aligned"
## Description

The block title is left-aligned in the inserter menu but it should be center-aligned.

## Step-by-step reproduction instructions

1. Create a reusable block in the web version of the editor and set a long name for the block.
2. Open a post/page in the native version.
3. Tap on the ➕ icon to display the inserter menu.
4. Navigate to the Reusable tab.
5. Observe that the reusable blo

[2021-09-10 17:38] fluiddot opened #34749 "Reusable block: Pluralize the message "Convert to regular blocks" depending on the number of blocks contained"
## Description

The action "Convert to regular blocks" is in plural form for all cases, including when the reusable block only contains a single block. It would be great if we detect the number of blocks contained and pluralize the message:
- Reusable block only contains a single block: `Convert to a regular block`
- Reusable block contains multiple blocks: `Convert to regular blocks`

## Step-by-

[2021-09-10 17:54] karmatosed commented on #31241
I am just finding my feet in navigation and wanted to pop my head into this issue as it seems lively. One flow that caught my eye is potentially a little confusing, at least to me as I find my way was this:

![2021-09-10 at 18 44](https://user-images.githubusercontent.com/253067/132896129-51c78d95-1983-4513-ad43-48fcdd8fa404.png)

 My biggest concern is multiple places for things and a fragmented

[2021-09-10 18:16] javierarce commented on #31241
I agree with you 100%, @karmatosed. However, that idea you mentioned was a super early exploration and wasn't really examined beyond that point.

There isn't really an official and comprehensive prototype. Still, you can find many designs and prototypes inside [this Figma file](https://www.figma.com/file/xvnD8SOGhQYvnHJLGXYWGJ/Menus-2021?node-id=1055%3A9180). There's also a tracking issue that out

[2021-09-10 18:17] karmatosed commented on #34698
+1 for simplification and unification of these controls.

@jasmussen this is an exciting possibility to even more simplification :)

[2021-09-10 18:26] stacimc commented on #29693
I've just opened #34750 borrowing the `internal` terminology from @gziolo 😄

I think this issue may be trying to do too many things, largely because of my use of the loaded term `unique`. To solve my own original use case, it's sufficient to have a way to prevent an attribute from being copied on block duplication. `internal` feels like a superior descriptor.

Per @ntsekouras I like internal as an

[2021-09-10 18:32] karmatosed commented on #31241
@javierarce, thank you so much for catching me up and having patience as I tried to put the pieces together finding issues - I'll dive into that Figma. I had found that tracking issue, which is how I got here, so I agree it's a great central point. Appreciate the offer of continued discussion - it's always appreciated. I will also bring my thoughts to any issues or conversations as they come up in

[2021-09-10 19:19] skorasaurus commented on #21302
This has been possible in the gallery block by modifying the media file option in the block.
![Selection_088](https://user-images.githubusercontent.com/955351/132905924-414c0bff-2a2e-4f89-84d3-7e2a4c6dd2c0.jpg)

Please reopen to clarify or I'm misunderstanding.

[2021-09-10 19:19] #21302 closed

[2021-09-10 20:04] skorasaurus opened #34752 "Document how to include to a 3rd party typeface in global styles"
### Description

Not sure where in the documentation it would go; but fellow users would benefit to have documentation how to include a 3rd party typeface (one that is not local to a user's device) into Global Styles/theme.json

I figured how to load a font that is locally hosted and included in my theme:

Global Styles reads the value from a `@font-face` selector in the theme's CSS.

(Example sce

[2021-09-10 21:44] iamthomasbishop commented on #34429
Apologies for the delay @dcalhoun ! That all makes sense, let's give it a try and see how it looks.

Yea, my bad. I had forgotten we were using ActionSheet for this on iOS; my brain went to the Alert, bc it's the iOS equivalent of Android's Dialog component 🤦‍♂️

[2021-09-10 23:03] syllie commented on #12420
With every project I seem to add more :not exclusions to my css. Almost all blocks can be targeted directly. We have no options to 'slip in' extra classes on core blocks via PHP and this issue is pending like forever.  I do understand the purist approach but with the freedom for users to include blocks in more locations, we do need means to target and style them accordingly. Some priority on this

[2021-09-11 00:37] tonyzeoli commented on #33078
I'm having the same issue. Can't copy and paste from a paragraph to a list block.

[2021-09-11 04:21] richtabor commented on #34752
I wonder if this could be useful as a core function. I suspect every theme using a Google font will copy/paste this.

[2021-09-11 04:40] richtabor commented on #33212
I'm running into this as well, within the Site Editor as well as with patterns loaded within the iFramed BlockPreview component (that's how I first noticed it). Seems like a bigger deal for third-party tools that extend core functionality that should be prioritized before 5.9 imo.

[2021-09-11 07:22] Lovor01 opened #34754 "Subscribe not working inside useEffect"
### Description

I am trying to use subscribe in a React way, by subscribing inside Edit component of the block in order to "catch" state when editor is saving. However, when placed inside useEffect hook, subscribe does not work.

This does not work:
[code]
However, this does:
[code]
Am I not subscribing too many times (each time component is rendered) if subscribe is not placed in useEffect? What

[2021-09-11 08:00] mkkeck opened #34755 "Allow special user defined settings to theme.json"
## What problem does this address?
It would be nice to have a section in theme.json for settings, which are used for kind of 'special user defined' which is not parsed by Gutenberg/WordPress.

Using workflows and build tools (Webpack, Babel, Sass) which could import the 'special user defined' (and of course other settings to) for getting these settings needed to build and compile. With this, a the

[2021-09-11 08:02] karmatosed commented on #34752
I think it would make a great core function so +1 to having it rolled in or a least documented.

[2021-09-11 08:28] mkkeck commented on #33437
That's not the perfect solution.
If there some `!important` used on nested selectors for example `.foo .bar > a`, perhaps the fix with `!important` still won't work.

Yes, I call this the "hell of `!important`".

Removing important on initial styles in core should help. See also #34575.

I've seen a css framework wich uses tons of classes for elements to adjust styles:
[code]

But the code above i

[2021-09-11 08:30] deborah86 commented on #30755
@karmatosed Not all the icons have the color of their branding. The Flickr logo does not. Also, some icons don't have the correct logo such as:

- SoundCloud
- CloudUp
- CrowdSignal
- Imgur
- Issu
- Kickstarter

These are using placeholder logos. If placeholder logos are going to be used instead of the official logos for some options then it is better to make all the logos mono.

[2021-09-11 08:54] SeanDS commented on #34738
Ah yes, I just checked and I can confirm that this problem appears for the editor role but not administrator.

[2021-09-11 09:53] Mamaduka commented on #34754
Hi, @Lovor01

It's not recommended to subscribe to a data store directly. Instead, it would be best to use the `useSelect` [custom hook](https://developer.wordpress.org/block-editor/reference-guides/packages/packages-data/#useselect).

Updated example:
[code]

[2021-09-11 10:03] Mamaduka commented on #34631
Thanks for the follow-up, @MatzeKitt.

I will add the "Needs Testing" label back and will tests during the Triage next week with other contributors.

[2021-09-11 10:04] Lovor01 commented on #34754
You are right! Thx

[2021-09-11 10:04] #34754 closed, assigned to nobody

[2021-09-11 13:38] JoshuaGoode commented on #34602
Encountered on 6 separate sites.

[2021-09-11 15:58] #30241 closed, assigned to nobody

[2021-09-11 16:14] tomjn commented on #30049
@kevin940726 was this reverted? The issue has reappeared and there is no trace of the fix in the `trunk` branch

[2021-09-11 20:28] getdave opened #34757 "Change excerpt length in post excerpt block"
## What problem does this address?

When listing out a set of posts a post-excerpt block is displayed. However there is no option to control the length of the text that is displayed.

## What is your proposed solution?
Provide a UI control to control the length of the excerpt.

[2021-09-11 20:37] getdave opened #34758 "Border color picker should default to currently selected color"
## What problem does this address?

When choosing a custom border color it always defaults to the same hex code (possibly the first color in your color palette?) even if you've got another palette color already selected.

## What is your proposed solution?

If I've got a border color from my palette already selected and I want to "tweak" that color then when I open "Custom color" it should default

[2021-09-11 20:43] getdave opened #34759 "Add expand/collapse all feature to List View"
## What problem does this address?
If you are building with the Site Editor it is often nice to hide/expand all the blocks so you can get a sense of the structure of your site. Also it makes it easier to navigation. Currently you have to do this manually. It's laborious!

## What is your proposed solution?

Add a UI control to allow auto expand/collapse all sections to the root level.

[2021-09-11 20:48] getdave opened #34760 "Ability to assign a custom label to Group blocks"
## What problem does this address?

Group blocks are often used to build up the structure of a website. You can even change the tagname to be `<section>` (or various other structural elements).

Currently in List View it can be difficult to remember which Group represents which part of the page.

## What is your proposed solution?

It would be nice to be able to assign an arbitrary label to a Grou

[2021-09-11 20:54] getdave opened #34761 "Footer copyright block"
## What problem does this address?

Many sites adopt the pattern of putting something like `Copyright {Author / Company name} 2021` in their footer.

To avoid the need to update this manually every year, in classic themes most developers would use PHP to programatically output the correct year.

With Site Editing there is no way to do this without creating a custom block.

## What is your proposed

[2021-09-11 21:36] getdave opened #34762 "More flexibility of date formats in Post Date block"
## What problem does this address?

There are many (non US centric) ways to format a date. The Post Date block locks you into 3 choices.

<img width="432" alt="Screen Shot 2021-09-11 at 22 34 09" src="https://user-images.githubusercontent.com/444434/132962160-39deccc0-129d-4871-bea5-ccf4af31030b.png">

## What is your proposed solution?

Provide more date options.

Alternatively - for full flexibi

[2021-09-12 01:10] richtabor commented on #34760
Here’s what I’ve proposed: https://github.com/WordPress/gutenberg/issues/33583

[2021-09-12 01:12] richtabor commented on #34758
Does this occur in the text or background color picker UIs? I think this may be localized to the Border Color but I’m not 100%.

[2021-09-12 07:28] amir2mi opened #34763 "FSE enqueue scripts for editor iframe [.editor-styles-wrapper]"
I'm searching for about a week when I started working with the FSE feature.
At the first sight, FSE was different than a regular post because the preview is in the **iframe** and it makes things e.g custom blocks difficult to be the same both in FSE and a regular post.
One of these difficulties is enqueuing scripts for the editor inside that iframe.
At this moment, it is possible to enqueue assets

[2021-09-12 08:45] ngdangtu-vn opened #34764 "Why Block Template uses HTML Comment Syntax?"
## What problem does this address?
I have a visual, semantical problems with HTML Comment Syntax:

[code]

To me, comment should always be comment. Even though I'm aware that this is not something new and has been used a lot in C, C++ and Rust (especially for WASM). But those are totally difference branch of languages. So using comment as sub notation syntax can be readable. However this is not th

[2021-09-12 11:02] ftoppi commented on #24282
Hello, the issue is still in present 5.8.1 . It also happens with square brackets.

[2021-09-12 14:12] kspilarski commented on #34602
I had a user case with the same issue.

[2021-09-12 14:51] #34162 closed, assigned to nobody

[2021-09-12 17:18] abder commented on #21761
@ivanjeremic
I didn't find any proper solution to that, but the only thing you can do now is to expose all blocks attributes data through WordPress API then consume it on your react app that you should build from scratch on the front-end.
you could benefit from your code on Gutenberg just by duplicating it, no proper way to render the same code on the front-end

here's the code you can use to expo

[2021-09-12 17:23] ivanjeremic commented on #21761
Thanks, I already found a solution it renders the same component to the front-end and not only does my front-end (save function) use react now and is interactive it is also using attributes as initialState for the front-end.

[2021-09-12 17:25] abder commented on #21761
@ivanjeremic sounds great!
Would really appreciate it if you can share the solution with us

[2021-09-12 17:28] ivanjeremic commented on #21761
Sure I will prepare a repo and post it here.

[2021-09-12 17:51] ivanjeremic commented on #21761
Here it is, please contribute if you or anyone else sees where it can be improved to build a solid boilerplate for the future. [https://github.com/ivanjeremic/gutenberg-front-to-back-react](https://github.com/ivanjeremic/gutenberg-front-to-back-react)

[2021-09-12 21:49] glendaviesnz commented on #24605
sorry @nobleclem, I should have made that screenshot a bit wider. It is under the Gutenberg  menu when you have the plugin installed:

<img width="605" alt="Screen Shot 2021-09-13 at 9 48 22 AM" src="https://user-images.githubusercontent.com/3629020/133003827-8d10f449-ecf7-4d87-8fa1-996642441224.png">

[2021-09-13 01:18] #18866 closed

[2021-09-13 01:29] annezazu commented on #30633
Cannot replicate either! Closing this out 🥳 Thanks for checking back in.

[2021-09-13 01:29] #30633 closed, assigned to nobody

[2021-09-13 02:31] #31276 closed, assigned to talldan

[2021-09-13 02:50] andrewserong commented on #34096
I'm just assigning myself to this one, I thought I'd see if I can come up with a fix for the Column block when the width is set to a value that isn't supported by the `spacing.units` value of the current theme's `theme.json` (e.g. percentage widths).

[2021-09-13 03:17] talldan opened #34765 "Remove use of mocks in Navigation Editor e2e tests and instead use REST API utilities"
## What problem does this address?
Currently the navigation editor end-to-end tests use response mocking to build up and tear down state for the editor. Example here -  https://github.com/WordPress/gutenberg/blob/f74bbde0468f02c494e9e4f2e862b41aed3440ee/packages/e2e-tests/specs/experiments/navigation-editor.test.js#L168-L181

There's some background around why this was done. Most other end-to-end

[2021-09-13 03:42] nickfmc commented on #14598
that's exactly what I was thinking here https://github.com/WordPress/gutenberg/issues/27384

[2021-09-13 04:06] #33815 closed, assigned to anton-vlasenko

[2021-09-13 04:12] kevin940726 commented on #30049
@tomjn Yep the fix is still there on trunk. It appears that it was not ported in 5.8.1 though, but should be available in Gutenberg 11.5, which hasn't released yet.

[2021-09-13 04:44] ramonjd opened #34766 "Block supports: margin/padding controls not showing in the Block Editor when enabled at theme.json settings block level."
### Description

Setting `customMargin` and/or `customPadding` to `true`  in `settings.blocks[ $block_name ].spacing` in theme.json has no effect in the Block Editor when trying to enable spacing block supports.

### Step-by-step reproduction instructions

Enable margin and padding spacing support for the Group Block in `packages/block-library/src/group/block.json`, e.g.,

[code]

Enable block sup

[2021-09-13 06:32] syllie commented on #33385
+1 This affects me too. Trying to work this out on a new project, which is a hybrid theme, attempt to embrace theme.json

[2021-09-13 07:02] gziolo commented on #29693
Thank you for a quick follow-up 👍🏻

Feel free to edit the issue title and description according to the current direction of the PR you opened. It sounds like a good idea to open another issue to continue the discussion for other common scenarios that block authors have to deal with.

[2021-09-13 07:41] lgladdy commented on #31551
Hey @spacedmonkey @getdave. I've been following this thread for the ACF team.

Switching to `register_meta` would be a significant undertaking for us, given the amount of flexibility users have with creating and removing fields, plus our backwards compatibility requirements.

We only had to make a small change for an issue with verifying nonces (as we don't have access to $_POST) with the new widg

[2021-09-13 07:54] noisysocks commented on #31551
Hm, very tricky!

Yes I think this is all that we can realistically do. Perhaps display the output of `wp_nav_menu_item_cusotm_fields` inside a `<form>` inside an `<iframe>`<sup>1</sup> inside a popover that you open from the Navigation Link's block toolbar or block settings.

The form would have to contain all of the same hidden `<input>` fields that exist in core. Similar to what Legacy Widget d

[2021-09-13 08:00] MD-sunilprajapati opened #34769 "Gutenberg Prev Props doesn't get updated"
### Description

Hello

Here is details about issue:

Consider I have paragraph block with text below ( I have added it as HTML for more clarity ):
`Contrary to <strong>popular</strong><strong> belief</strong>, Lorem Ipsum is not simply random text`

Now, when this block load, Here how it look:
`Contrary to <strong>popular belief</strong>, Lorem Ipsum is not simply random text`

Its combine two st

[2021-09-13 08:02] getdave commented on #34760
Thanks @richtabor. I'll close in favour of #33583.

[2021-09-13 08:02] #34760 closed, assigned to nobody

[2021-09-13 08:03] getdave commented on #33583
Having built a block theme over the weekend, in my opinion this is something we could/should be looking at implementing.

@gwwar has been working a lot on List View. I wonder if she has bandwidth to explore this?

[2021-09-13 08:04] getdave commented on #34758
Confirmed yes it happens only on border color. As that's experimental perhaps it has an issue. Will rename Issue now.

[2021-09-13 08:24] getdave opened #34770 "Home link block doesn't use `current-menu-item` class when on front page"
## What problem does this address?

When you create a navigation using the `core/navigation` block you often want to add a link to `Home`. It's great that we supply a "Home link" block for this purpose.

However, whilst normal Nav Link blocks output a `current-menu-item` class when you are on that page, the Home link block does not. This makes it impossible to style the current page consistently a

[2021-09-13 08:26] Mamaduka opened #34771 "Core Data: The "cacheKey" improvements"
### Sort `_fields` and `include` keys values

Both keys are normalized using the `getNormalizedCommaSeparable` function, but they aren't sorted. It results in having a different cache key if the order of values is changed, and triggering a new REST API request, even though we're requesting the same data.

Example:
[code]

### Update "hashing" method

Currently, we're using `addQueryArgs` to genera

[2021-09-13 08:35] getdave opened #34772 "Allow maximum width clamping of contentSize in theme.json"
## What problem does this address?

Currently if you set a `contentSize` in `theme.json` then any blocks which are direct children of the Group block (if "Inherit layout" is turned on) will output css such as:

[code]

In this case I'm using the Group block to divide up "sections" of my page. I want the group to be full width but the block contained within it to be visually centered and approx 70%

[2021-09-13 09:26] vyskoczilova commented on #32353
@mtias Yeah, that's cool. But still, a possibility to "lock" unwanted changes to reusable blocks (maybe it could be turned on/off in the settings) would be perfect. I could imagine that if the "Edit reusable blocks directly" is enabled, you will see this, otherwise, new CPT "Reusable blocks" will be added to the menu and users could edit reusable blocks there. At least this would solve a lot of he

[2021-09-13 09:40] Sandstromer commented on #34762
The date format options seems to be locked into the Site Language setting.

For example switch language from English (United States) to English (UK), and notice the available formats of the Post Date block change to day month year ordering.

So yes I too could see circumstances where a site owner may want to use e.g. English (United States) but have the post dates in another language format.

[2021-09-13 09:43] getdave commented on #31241
That PR is literally _just_ adding the global inserter. Refactoring the entire top bar is out of scope there but happy to look at that next 😄

[2021-09-13 09:44] jameskoster commented on #31241
It seems to me that there is more value in positioning the [+] and 'Save' button in a manner that is consistent with other editor views. We don't want to keep 'moving the cheese' 😅

Would it also be fair to say that if you have actively opened the dropdown, then it's likely your focus will inherently be there rather than on other parts of the screen? 🤔

I think the purpose of this issue is to simp

[2021-09-13 09:47] getdave commented on #31241
+1 to aligning with other editors.

[2021-09-13 09:52] github-actions[bot] opened #34773 "[Flaky Test] should load script and dependencies in iframe"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should load script and dependencies in iframe

## Test path
`specs/editor/plugins/iframed-masonry-block.test.js`

## Errors

<time datetime="2021-09-13T09:52:12.774Z"><code>[2021-09-13T09:52:12.774Z]</code></time> Test passed after 1 failed attempt on <a href="https://github

[2021-09-13 09:55] Sandstromer commented on #34761
A footer copyright block feels a bit too narrow in focus to me.

IMHO a more general "Site Info" block would be great.
This could pull in such things as Site Title, Tagline, custom text, current date (with format options to display e.g. just the year etc.), current theme name/author and so on.

Similar to how the Social Icons block works, select something like a "Site Info" block and add/order the

[2021-09-13 09:58] getdave commented on #31667
@javierarce I really like the idea of using a sidebar as it's more consistent with existing editor UI patterns. I see you've explored this in Figma. Am I 👍 to proceed with that route in code?

[2021-09-13 10:09] spacedmonkey commented on #31551
I strongly recommend you do this in general, not only for menu items, but for all data that you save in meta ( user / post / comment etc). I believe it would map pretty easily and would add some massive benefits to compatibility with core and your users. @lgladdy @elliotcondon , do feel free to reach out privately via slack or email, I can create a proof of concept PR for you, if you so wish.  I u

[2021-09-13 10:15] mtias commented on #34761
Closing as duplicate of #18895 and #33475.

[2021-09-13 10:15] #34761 closed, assigned to nobody

[2021-09-13 10:16] getdave opened #34775 "Ascertain whether it's possible to hook into and override theme.json settings in a particular editor context"
Part of https://github.com/WordPress/gutenberg/issues/30007#issuecomment-893575752

Please see the link above for _why_ we might we want to do this.

Currently the global styles settings are derived from x3 sources

1. Core
2. Theme (`theme.json`)
3. User (global styles UI - incomplete).

There is [a resolver which collates these disparate sources and merges them to form the final global styles se

[2021-09-13 10:19] mtias commented on #34757
For reference, the Latest Post block allows setting excerpt length:

![image](https://user-images.githubusercontent.com/548849/133067269-f0dcf452-eb36-407f-906c-a91364bbd84e.png)

[2021-09-13 10:21] mtias commented on #34752
Note there's some ongoing work to make font assets more recognizable across WordPress: https://github.com/WordPress/wordpress-develop/pull/1573

[2021-09-13 10:31] mtias commented on #32353
Yes, locking in general is definitely an important aspect to develop. It should be coming soon: #29864. The [initial infrastructure is there](https://github.com/WordPress/gutenberg/pull/32457), we need to develop a UI now so it can be controlled.

[2021-09-13 10:39] karmatosed commented on #31241
Oh, that's super helpful to know what to expect in what PR, thanks @getdave.

That makes sense in principle. The issue is that whilst you can say if you open the dropdown, your attention is there, with the way the interface is created - that's not the case. There's an overall problem with the current flow. Now, this might be aside from this issue, but it certainly is being made obvious by it, so w

[2021-09-13 10:52] ramonjd commented on #34766
cc @oandregal who might just know what's going on off the top of his head! 😆

also cc @aaronrobertshaw who noticed this problem as well and helped me test.

[2021-09-13 10:55] jsnajdr commented on #34771
`JSON.stringify` is not going to help with `_fields: 'name,id'`. The `'name,id'` value is a string, and no generic library can understand its internal structure and the fact that the order doesn't matter for `_fields`. I can imagine a very similar `_sort: 'name,id'` option where the order matters a lot.

We'll have to treat `_fields` specially to fix this.

[2021-09-13 11:03] javierarce commented on #31667
@getdave I need to update those designs and see how that option would integrate with the global inserter.

Let me refresh the designs and share them here so we can also have more feedback.

[2021-09-13 11:15] Mamaduka commented on #34771
Thanks for the feedback, @jsnajdr.

We're already converting comma-separated values into an array and then back to string for the `stableKey.` So we can sort them after array conversion.

See: https://github.com/WordPress/gutenberg/blob/1d93095ce8f2dc72e024cf58f93d6824438f7313/packages/core-data/src/queried-data/get-query-parts.js#L74-L83

I only mentioned `JSON.stringify` as an alternative to the

[2021-09-13 11:17] SiobhyB commented on #33396
Noting here that I'll be working on this week, for HACK week, with @iamthomasbishop. :) @iamthomasbishop, an initial question I have is whether you'd like to see this notice on both the colour picker's main sheet and sub sheet.

| Main Sheet | Sub Sheet |
| ------------- | ------------- |
| <img src="https://user-images.githubusercontent.com/2998162/133073820-d9b8eee9-0304-4639-85f7-ee26dc0f2f4c.p

[2021-09-13 11:20] talldan commented on #34773
#34776 is a potential fix.

[2021-09-13 11:26] getsource commented on #33719
Thanks much for the kind words!

Sure, thanks! I'll think about the best way to turn the observations into actionable issue(s).

[2021-09-13 12:01] aaronrobertshaw commented on #34766
I can't yet speak to what the exact issue or cause is but I can add some extra details around what I've seen so far.

- I believe the settings within the block editor store are correct
- Logging out the block specific values from `useSetting` begins as `true` then flips to `false`
- This change appears to be because we lose the `blockName` from the block edit context and end up with a malformed pa

[2021-09-13 12:08] karmatosed opened #34778 "Iterate menu creation screen to add content"
This is based on the latest trunk for this experimental feature, so I am aware that this might be a work in progress. Still, I think there are several areas where things could perhaps be improved and avoid confusing interaction patterns. I am going to create separate issues for these not to confuse them. The first of these is having 2 links (or more) on one screen.

<img width="1271" alt="original

[2021-09-13 12:14] dcalhoun commented on #34429
@iamthomasbishop thanks! I opened https://github.com/WordPress/gutenberg/pull/34666 and will await your design feedback before moving forward. Please review whenever you can. 🙇🏻

[2021-09-13 12:15] karmatosed opened #34779 "Link with one line looks out of line in interface on navigation"
The link looks out of line with the icon on the link screen. I saw this on Chrome running the latest build. I am aware it might be due to not having 2 lines of text, but when one line is there it looks a little weird visually.

![2021-09-13 at 13 12](https://user-images.githubusercontent.com/253067/133081373-ab230d05-dae4-4965-ab06-b7c49592f882.png)

[2021-09-13 12:21] javierarce commented on #31667
Here's a proposal for the bulk inserter inside the sidebar:

![image](https://user-images.githubusercontent.com/4933/133082671-56ff6e94-16e8-4508-be31-9b3e0514da55.png)

I think the image is self-explanatory, but here are the main ideas:

- The inserter allows adding: Blocks, Posts, Pages, and Categories
- Since we have a short number of blocks to add, we don't need to show the search field on the

[2021-09-13 12:21] karmatosed opened #34780 "Squiggly line looks like spelling mistake not link in interface"
I 'think' the squiggly line indicates that the navigation is a link, but typically a wiggly line would indicate that something, for example, might be a spelling mistake or problem, not that it's a link.

![2021-09-13 at 13 16](https://user-images.githubusercontent.com/253067/133081927-3327dca3-7550-49bb-b582-51b6469ceb6a.png)

I would recommend that another visual is used in this case, even going

[2021-09-13 12:30] getdave commented on #31667
Nice 😍

Just noting that we'll need to support all of the options currently available in the existing Menus screen. If you register a CPT then you'll have an option per CPT. So this **tab** UI will need to be able to accommodate those.

[2021-09-13 12:55] javierarce commented on #31667
Oh, you are totally right… here are a couple of ideas:

1) We could group Categories and the rest of the Custom Post Types inside an 'Other' item while maintaining the same interface (but losing the option to sort items)

![image](https://user-images.githubusercontent.com/4933/133084629-4e091075-4711-4bab-a3c0-cdf8cf3a9bc7.png)

2) We could assume that users are generally more interested in adding

[2021-09-13 13:01] #33437 closed, assigned to oandregal

[2021-09-13 13:02] karmatosed opened #34781 "Iterations to the manage locations screen for menus"
This is using the experimental screen, latest trunk build, so I am aware that things might be in a state of flux. With that in mind, I think several improvements can be made to the manage locations screen to make it easier to handle. For context, here is what this screen looks like with just 2 menus locations:

<img width="1097" alt="original02" src="https://user-images.githubusercontent.com/25306

[2021-09-13 13:13] Mamaduka commented on #31241
The menu name/switcher consolidation PR is almost ready for review.

@javierarce, based on this discussion https://github.com/WordPress/gutenberg/issues/31241#issuecomment-915976209, I removed the "Create new menu" item from the menu switcher dropdown.

Should we replace it with the "Delete menu" button? This is how "Template Mode" displays the delete action.

![CleanShot 2021-09-13 at 17 08 13](h

[2021-09-13 13:20] gziolo commented on #33378
Yes, you could in theory create a config per entry point if that is what you want to achieve. So you webpack config would looke like:

[code]

I don't know if it is technically possible to scope those plugins in such configuration, but it would definitely would be useful 😄

There is also another issue opened #25188 where discuss how we could support multiple blocks in one project. Depending on how

[2021-09-13 13:20] Sandstromer opened #34782 "Usage of !important rule by version/update"
Just tracking instances of the CSS `!important` rule in the various Gutenberg versions.

References to !important in .txt files (ie changelog) are excluded.

**Version - Instances of !important**
7.2.0     -    130
7.3.0     -    130
7.4.0     -    130
7.5.0     -    132
7.6.0     -    128
7.7.0     -    160
7.8.0     -    156
7.9.0     -    128
8.0.0     -    116
8.1.0     -    132
8.2.0     -

[2021-09-13 13:22] javierarce commented on #31241
Oh, but we agreed to keep it visible at all times. I think adding a delete button that only appears when in Desktop mode could be confusing.

[2021-09-13 13:24] ciampo commented on #34286
I quickly looked into `oldHue`, and found [this comment](https://github.com/WordPress/gutenberg/blob/a7e2895829c16ecd77a5ba22d84f1dee1cfb0977/packages/components/src/color-picker/utils.js#L38), which may be worth investigating to make sure that this issue wouldn't be there in the new version of the component.

On the other hand, I couldn't find any usage of the `source` prop 👌

The current legacy

[2021-09-13 13:28] Mamaduka commented on #31241
I thought it was agreed to keep direct action "New menu" visible at all times. Do we need to "Create menu" action buttons?

It's a small change so no problem to bring the Dropdown button back to the screen.

![CleanShot 2021-09-13 at 17 23 57](https://user-images.githubusercontent.com/240569/133092114-369cad5a-a89f-41f0-822a-9e04bd2e45a6.png)

[2021-09-13 13:34] oandregal commented on #34531
I've landed https://github.com/WordPress/gutenberg/pull/34704 a few days ago that was also relevant to this. https://github.com/WordPress/gutenberg/pull/34540 is still necessary.

[2021-09-13 13:37] javierarce commented on #31241
Let me try to explain the whole thing 😅

My initial idea was to have "New menu" visible in the top bar and hide it if the viewport is very narrow. In that case, we would also show a "Create new menu" button in the dropdown… but James pointed out that we could instead show "Create new menu" at all times in the dropdown, which makes sense to me (and I think it will also make the implementation easie

[2021-09-13 13:39] kjellr opened #34783 "[Navigation Block] Add option to use the "responsive menu" at all times"
Sometimes a site may want to hide menu items behind a hamburger even on large screens. When "Enable responsive menu" is active, we should add an additional checkbox that lets users enforce that behavior.

Example:

![Video Theme 2](https://user-images.githubusercontent.com/1202812/133093784-8475c3ed-cd6a-42f9-93f3-6f9bdd2fb12d.jpg)

_I was sure there was another issue for this, but I couldn't find

[2021-09-13 13:40] Mamaduka commented on #31241
It makes sense, and thanks for the explanation. I'm going to add "Create new menu" button back 😄

[2021-09-13 13:42] javierarce commented on #31667
I'm now wondering if the "Show all" toggle next to the "Select all" options could be confusing for the users 🤔

[2021-09-13 13:44] beafialho commented on #27617
Wanted to +1 here and give the example of a new theme we're designing where this would be a vital feature. Since this theme is aimed at videographers, it would contain galleries of videos and videos as featured images, displayed differently (as a full width background carousel, as a list of posts, mosaic grid, etc) as shown in the images below.

In this context, where a post would be a project, th

[2021-09-13 13:50] paaljoachim commented on #32522
@youknowriad merged this PR: https://github.com/WordPress/gutenberg/pull/34535

[2021-09-13 13:51] kevin940726 commented on #34773
Let's close this since that #34776 is now merged. If that doesn't solve the issue then the bot will automatically re-open this.

[2021-09-13 14:06] getdave commented on #30007
@draganescu I now have a PoC for using Theme JSON to control the Nav _block_ when used inside the Nav _editor_ **only**.

https://github.com/WordPress/gutenberg/pull/34784

[2021-09-13 14:23] draganescu commented on #33832
So I've been through the conversation here and in #34023 and I don't have a clear picture how could this be fixed. I understand that we need:

1. a way to disable `wpautop` for some editors (widgets, nav, site)
2. a way to disable `wpautop` for some `freeform` handlers

Can we filter parser "settings" and then pass a setting to not run `wpautop` or does it have to be more complicated? Sorry for as

[2021-09-13 15:24] annezazu commented on #33385
Just tagging in @oandregal on this conversation!

[2021-09-13 15:26] #31051 closed, assigned to fluiddot

[2021-09-13 15:29] myleshyson opened #34788 "Add option to filter specific blocks to specific widget areas"
## What problem does this address?
I would like to filter what blocks are available on a per widget area basis. Currently there doesn't seem to be a way to do this.

## What is your proposed solution?
Something like this would be ideal
[code]

[2021-09-13 15:32] gwwar commented on #33583
The UI for this is pretty straightforward, but the interesting part is where we decide to store the data. Have we given some thought to where we'd serialize this? For example is this a name attribute on a group block or something more generic like a named alias for any block (which might be stored as metadata).

I may free up later if I can help finish wrangling some perf/dragging issues.

[2021-09-13 16:33] anomiex commented on #34660
If you want the version hash to take into account any css and whatever, because the one hash needs to cover all the entrypoint's files, I wouldn't complain about that. You could combine the hashes of every content type in `runtimeChunk.contentHash` (sorted by type name) instead of only the `javascript` hash.

The problem we're having is that the current hash takes into account stuff that doesn't m

[2021-09-13 16:44] fluiddot opened #34792 "Embed block: URL is not updated when edited after setting a bad URL of a provider"
## Description

The embed URL is not modified when edited if a bad URL of a provider was previously set.

## Step-by-step reproduction instructions

1. Add an Embed block.
2. Set a bad URL of any provider (example: https://youtu.be/BAD_URL).
3. Observe that no error message is thrown because we're getting a valid preview response although the content is not.
4. Tap on the pencil icon located in th

[2021-09-13 17:00] karmatosed commented on #34780
@melchoyce just informed me that this squiggle means it could be a link but isn't linked up. That makes a little more sense and shows how confused I was in the first place about the squiggle. I think iterating on this makes sense as it seems very hard to understand what it is meant to infer.

[2021-09-13 17:30] fluiddot opened #34794 "Reusable block: Reusable block icon is not displayed in the block picker when the content is a single block"
## Description

Reusable blocks which content is a single block, display the icon of that block as the block's icon in the block picker. This behavior can be confusing to users so it would be nice if we use the reusable block icon in all cases.

**NOTE:** On the web version, this behavior is expected so this enhancement should only be applied in the native version.

## Step-by-step reproduction in

[2021-09-13 18:29] ciampo opened #34795 "Components: enable "copy to clipboard" functionality with keyboard"
Part of #34284

## What

Add keyboard support for the "copy to clipboard" functionality

## Why

Not all users interact with the color picker with a pointer device

## A/C

- [ ] The DOM element that can be currently clicked to copy to clipboard should be flagged as a button, and have a meaningful label (e.g. click to copy to clipboard)
  - [ ] This should work keeping in mind the already present

[2021-09-13 18:31] desrosj commented on #33424
Because this has only been happening when the `package-lock.json` file is updated (or so it seems), I think we can rule out caching issues.

When the lock file changes, the cache key changes and a 100% fresh `npm install` takes place. So I think this is definitely something inside NPM that occurs with large dependency trees.

In chatting with @gziolo just now, he mentioned that there were a few de

[2021-09-13 18:55] #32398 closed, assigned to nobody

[2021-09-13 19:11] #34740 closed, assigned to jhnstn

[2021-09-13 22:36] CandaceJohnsonDesigns commented on #34613
The reason for moving to more of a cascading styles approach (core -> plugin/theme -> user) is that content is highly dynamic and there are circumstances where the content requires slight adjustment. This does not mean that theme development should be lax and not style for different circumstances; after all, most users just want to add content as quickly as possible and wants everything to look go

[2021-09-13 22:55] jpantani commented on #34676
I noticed that those blog links point to WordPress.com hosted sites.
Do you have an example of a WP embed that doesn't work that is not WordPress.com based?
For example https://make.wordpress.org/core/2021/09/13/a-week-in-core-september-13-2021/ works.

[2021-09-13 22:58] samuelfarrell commented on #7604
While I understand the benefits of being able to just pull out the markup stored in the post content for display on the front end, trying to parse attributes from that content is just not a winning strategy for the long term. In practice, we end have 10+ versions of some of our blocks, and because it only updates on page edit, we have each and every one of those block deprecations living out in th

[2021-09-13 23:01] gwwar commented on #34676
I also see Make blog post links working. For the provided links noted in the issue, I see a 404 returned:

<img width="891" alt="CleanShot 2021-09-13 at 16 00 32@2x" src="https://user-images.githubusercontent.com/1270189/133167778-1ccad235-8eb5-423b-aae2-b15e030db657.png">

[2021-09-13 23:14] apeatling opened #34796 "Allow clearing / removing the media."

[2021-09-13 23:50] thomasplevy opened #34797 "Allow 3rd parties to configure the ARTIFACTS_PATH defined in the custom e2e test environment configured at jest-environment-puppeteer"
## What problem does this address?

I'm in the process of upgrading my testing suites (which use `@wordpress/scripts` for e2e testing) to stop using jasmine in favor of jest-cicrus for the test runner. I had implemented a screenshot reporter that takes screenshots when a spec fails and uploads them to an s3 bucket.

Since `@wordpress/scripts` v16.0.0 this functionality is redundant as of the intro

[2021-09-14 00:04] noisysocks commented on #34773
This is pretty cool 🙂

[2021-09-14 00:45] ramonjd commented on #34766
Aside from the reducing spacing around the input controls, it works as expected using #34725

![noice](https://user-images.githubusercontent.com/6458278/133172057-bd46f9aa-c4bd-4e5f-8099-ed5da1aadfc1.gif)

Sounds like you're on to something. When I set `bubblesVirtually` to `true` on the [InspectorControls.Slot](https://github.com/WordPress/gutenberg/pull/34725/files#diff-068538657061c47f0a58cfc33

[2021-09-14 00:51] aaronrobertshaw commented on #34766
There is a separate component for the [virtual bubbling Slot](https://github.com/WordPress/gutenberg/blob/5cca2e1a8021679aaf2fc713c1a2c1cce168c374/packages/components/src/slot-fill/bubbles-virtually/slot.js) which introduces a `<div>` so it can apply refs etc. This `div` breaks the layout for the `ToolsPanel` as shown in your screenshot. For a quick fix, I'll work on updating the ToolsPanel to han

[2021-09-14 01:29] talldan commented on #34773
I was wondering if it would re-open automatically—that's a cool feature.

[2021-09-14 01:58] ramonjd commented on #34706
I've had a play with this. Please ignore the layout.

<img width="668" alt="Screen Shot 2021-09-14 at 11 50 07 am" src="https://user-images.githubusercontent.com/6458278/133181359-9bbf92da-31be-4c95-921f-2bd6cd9f06c4.png">

In my mind, we could group the background color/media options in a single row + two columns, with the height control below.

Just noting down some considerations for when I, or

[2021-09-14 02:34] talldan commented on #34781
This was indeed something iterated on very recently (the update button was added just yesterday).

There was a brief discussion on the tracking issue (https://github.com/WordPress/gutenberg/issues/29102#issuecomment-912022091) about moving this UI elsewhere. I'm not sure if there are still plans to do this (cc @javierarce @kellychoffman)

My thought is that the main UI of the editor (everything be

[2021-09-14 02:43] talldan commented on #34782
@Sandstromer This issue needs some more information, the main one being the point you're trying to make?

Is it that `!important` is an indicator of code smell, or that it's hard for themes to override styles, or something else entirely?

If this is related to theming, it wouldn't make sense to analyse the entire codebase, as there's a lot of CSS completely unrelated to theming.

[2021-09-14 05:31] getsource commented on #33360
Hi @linuxstarter! Thanks for the report, and sorry it's taken a while to reply.

This was talked about in [a triage session](https://wordpress.slack.com/archives/C02QB2JS7/p1631596214433900).

It was noted that a lot has changed with the Widgets screen since this issue was created.

The blank screen is not reproducible for me with an install with no plugins (except for Gutenberg) activated and Twe

[2021-09-14 05:37] talldan commented on #31424
There is definitely top and bottom border:
https://github.com/WordPress/gutenberg/blob/a9fd325b18b2366331327e9d8d5c2811da9ffdbf/packages/block-library/src/separator/style.scss#L2-L3

Most themes I tested seem to override it or use the default block styles which seem to override it:
https://github.com/WordPress/gutenberg/blob/a9fd325b18b2366331327e9d8d5c2811da9ffdbf/packages/block-library/src/separ

[2021-09-14 05:48] mkkeck commented on #34613
I understand, but theme developers should have more control over all theses settings. There are some situations which require theme developers adjust theme styles, settings and allow or dissallow them.

On the other hand, I know users, which say that all the options stress them. They want only publish their content without to need to adjust every setting for every block.

That's not available and

[2021-09-14 05:50] Mamaduka commented on #32929
Hello, @Nikschavan

As @Luehrsen mentioned, wrapping command in quotation marks is required in similar cases.

The `wp-env run` commands help texts mentions this, but it's easy to miss.

I'm going to label this as a documentation issue.

Thanks for bringing this up.

[2021-09-14 06:08] Mamaduka commented on #33495
Hi, @ktmn. Thanks for reporting the issue.

We tested it during [bi-weekly triage](https://wordpress.slack.com/archives/C02QB2JS7/p1631598325457100) and were able to reproduce it for both Widgets and Post Editor.

I'm going to mark this issue as a bug for both editors. Ideally, we shouldn't render shortcodes inside the comment content.

[2021-09-14 06:10] andrewserong commented on #34096
I have a PR ready for review in https://github.com/WordPress/gutenberg/pull/34768 that attempts to deal with this issue by ensuring that the UnitControl will always display the current value's unit (if it's a valid CSS unit) irrespective of the theme's list of allowed units. If a theme provides a more limited list of available units, then once the unit of the current value is switched away from th

[2021-09-14 06:22] #34524 closed, assigned to andrewserong

[2021-09-14 06:29] ntsekouras commented on #34757
This is a related PR: https://github.com/WordPress/gutenberg/pull/33366 that removed for now this field, and I explain the inconsistencies with this field.

In a few words `excerpt_length` filter is used only when an `excerpt` is not explicitly set, so if we want to be consistent we need to trim the returned content with `wordCount` attributes and also somehow find the value in `js` and handle the

[2021-09-14 07:17] gziolo opened #34801 "Packages: Unify peer dependencies between React Native packages"
Part of [Upgrade node and npm to latest LTS versions](https://github.com/WordPress/gutenberg/issues/34801).

The following warnings were reported while migrating from npm 6 to npm 7 in https://github.com/WordPress/gutenberg/pull/33892:

[code]

It would be great to update all the dependencies reported that use either an older version of React Native or React.

I encounter also the following error,

[2021-09-14 07:55] tolkadot commented on #16006
I've just had to install the classic editor to overcome this issue on a new site.  So disappointing.
Will this be addressed before support for the classic editor plugin expires on December 31, 2021 ?

[2021-09-14 07:59] getdave commented on #31667
This is one of my pet peeves with this existing screen. 9 times out of 10 I just want to see everything by default.

I was wondering if we could have a 3 dots menu in place of the last tab (far right) which when clicked reveals more CPT options in a dropdown (if available). That way it can expand indefinitely but we still retain the essential utility of adding Posts and Pages as the primary UX.

W

[2021-09-14 08:00] todeveni commented on #16006
Classic editor support is [extended at least through 2022](https://wordpress.org/news/2021/08/an-update-on-the-classic-editor-plugin/).

[2021-09-14 08:13] talldan commented on #31667
I'm feeling a bit skeptical about how usable a tab per type will be. I wonder if it might be worth trying only a single tab that defaults to 'all', but can additionally be filtered by the type using a dropdown (like in the designs above). It might be nice if a user can retain selections across 'types', so a post, page, category could all be added in one go.

I'm not sure what the tab title would b

[2021-09-14 08:30] talldan commented on #33424
One observation recently is that it does seem to be happening more regularly with React Native jobs (check recent failures to `trunk` to see this trend). Those workflows don't seem to do anything different to other workflows when it comes to installing npm dependencies, but they do run on Mac OS instead of Linux.

Those workflows have repeatedly failed to do a fresh npm install. It seems like for

[2021-09-14 08:37] #34257 closed, assigned to aaronrobertshaw

[2021-09-14 08:42] ashucodiotic commented on #7474
dasad

[2021-09-14 09:02] gziolo commented on #33424
I'm trying to migrate npm v6 to v7 in https://github.com/WordPress/gutenberg/pull/33892. In the process, I discovered a few issues between React Native dependencies that are tracked in https://github.com/WordPress/gutenberg/issues/34801. As a temporary step, I also decided to remove `appium` from the dev dependencies and remove all references to `@wordpress/react-native-editor`. It helped me to mo

[2021-09-14 09:15] Mamaduka opened #34802 "Bogus undo and unsaved changes state"
## Problem
When you open the Navigation Editor or reload the page after saving (CMD + R), the page is displayed if you have unsaved changes. It also shows the active "Undo" button, which does nothing.

## Screencast

https://user-images.githubusercontent.com/240569/133230675-08fb9bfc-e3e4-4d79-b2c9-c7bccc54f243.mp4

[2021-09-14 09:38] paaljoachim commented on #34245
Hey Tammie. I will go ahead and close this issue.

[2021-09-14 09:38] #34245 closed, assigned to nobody

[2021-09-14 09:40] simison commented on #34099
@andrewserong @glendaviesnz you're describing two problems in this issue;

1. upload prompt opening right after media modal opening.
2. new images replacing old gallery

The [issue](https://github.com/WordPress/gutenberg/issues/33769#issuecomment-889621113) you're linking covers 2nd problem, but not the first one.

The upload dialog bug happens with both old core gallery, as well with new refactor

[2021-09-14 09:41] paaljoachim commented on #32353
Hey @mtias

We have this issue:
Reusable block: Add a lock to the parent toolbar to protect the inner content from accidental editing.
https://github.com/WordPress/gutenberg/issues/32461

Along with this PR:
https://github.com/WordPress/gutenberg/pull/32710

[2021-09-14 10:00] karmatosed commented on #34781
Thanks for the update @talldan and that context is super helpful.

That is a solid sense, with that logic I would advise moving those buttons out as until then it's still a combination. I actually like the idea of moving them out of the sidebar, but as so much was still there it felt better to add them as a section over another modal. Yet more modals to me aren't the best option.

I'm not super co

[2021-09-14 10:02] karmatosed commented on #34783
Oh my goodness yes +1 and so many +1's! I actually found myself this week thinking about how to do this in the code so would love this feature, thank you @kjellr for creating the issue 🙌🏻

[2021-09-14 10:36] karmatosed commented on #34703
Honestly, I am unsure. I do think visually seeing spacing is something should but the piece that I am unsure about is representing it in the editor. For example, I really like how Figma does this:

![2021-09-14 at 11 08](https://user-images.githubusercontent.com/253067/133238908-97cff4f2-3302-4b67-a6d0-8a1d1af36211.png)

There is of course the faithful representation that feels almost industry-sta

[2021-09-14 10:47] jorgefilipecosta commented on #34286
Good point, I guess we may need to have an oldHue in the state to avoid the issue but we should not pass it on to the onChange it may be relevant internally for the component but is not relevant for users of the component.

[2021-09-14 10:48] jorgefilipecosta commented on #34286
These should be taken care of when we remove tinycolor for the gradient-related components.

[2021-09-14 10:49] #34438 closed, assigned to nobody

[2021-09-14 11:12] HILAYTRIVEDI commented on #34677
@chthonic-ds that's true, but switching again to the default should have to work that way. Mean it has to clear all the changes on the icon.

[2021-09-14 11:14] ciampo commented on #34286
Absolutely — sorry if I didn't explain myself clearly!

Nonetheless, something to keep in mind — I assume that the refactor from `tinycolor2` to `colord` should apply to all components in the package (although of course it should happen in smaller steps across different PRs)

[2021-09-14 11:14] github-actions[bot] opened #34805 "[Flaky Test] Allow to switch to template mode, edit the template and check the result"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
Allow to switch to template mode, edit the template and check the result

## Test path
`/test/e2e/specs/editor/various/post-editor-template-mode.spec.js`

## Errors

<time datetime="2021-09-14T11:14:11.353Z"><code>[2021-09-14T11:14:11.353Z]</code></time> Test passed after 1

[2021-09-14 11:16] #34289 closed, assigned to jorgefilipecosta

[2021-09-14 11:29] ciampo commented on #34709
This is a screenshot from an early version of the Global Styles Sidebar prototype — here there are 2 different `ItemGroup`s components, grouped under the "Palette" and "Elements" headers.

<img width="272" alt="Screenshot 2021-09-14 at 13 20 47" src="https://user-images.githubusercontent.com/1083581/133248566-b9e85c99-60cc-4c0b-9c27-1c4159896bf6.png">

In that older prototype version, those `ItemG

[2021-09-14 11:43] HILAYTRIVEDI commented on #34769
In Gutenberg, preProps are the past image of the current version of that element or the attribute. So, yes it is supposed to behave that way. It's not a bug.

[2021-09-14 12:03] jd-alexander commented on #30987
Thanks for the investigation you did here @fluiddot so I can confirm what you have suggested. On the web, it seems the video content of the blocks is converted to an embed hence the failure.

An initial idea, I had was to utilize the `replaceBlock` functionality from the `blockEditorStore` to make the block compliant and valid ( [Done here](https://github.com/WordPress/gutenberg/commit/868f444a111

[2021-09-14 12:26] aristath commented on #33578
Using lighthouse client-side would be problematic because well... lighthouse is not available by default in all browsers. Perhaps it would be possible to use the [PerformanceNavigationTiming API](https://developer.mozilla.org/en-US/docs/Web/API/PerformanceNavigationTiming)? It's supported in all modern browsers so it should be possible to use it for some basic performance measurements...

[2021-09-14 12:49] jasmussen commented on #34275
After exploring the fix in #34379, conversation in the comments suggested that underline due to its unique nature on a technical level needs to be individually applied to each menu item, lest it will be inherited all the way down the stack.

Whether that also means we move the underline control to each menu item, or whether we can/should provide a nav-block global toggle is up for conversation. Bu

[2021-09-14 13:00] aristath commented on #34752
The patch on WordPress/wordpress-develop#1573 adds some generic functions like `wp_enqueue_webfont` etc. Once that one gets merged we can start implementing things for `theme.json` and allow adding webfonts from a 3rd-party API - or even from locally-hosted/embedded webfonts :+1:

[2021-09-14 13:03] #34531 closed, assigned to oandregal

[2021-09-14 13:04] ghost commented on #34602
I had a user case with the same issue.

[2021-09-14 13:06] gziolo commented on #33424
I think was able to narrow down the issue in https://github.com/WordPress/gutenberg/pull/34809 to package dependencies in `@wordpress/react-native-editor` package. When you remove all dependencies that point to git URLs then there are no `cb() errors` reported even though the lock files was updated.

[2021-09-14 13:10] mtias commented on #34709
It seems to me `ItemGroup` with a title prop, a heading sibling, or a heading child should be sufficient? Not sure I see why it'd need an extra layer of componetry since the group is already defined.

[2021-09-14 13:18] zdenys commented on #34602
I encountered another case on a WordPress.com site.

[2021-09-14 13:21] #25093 closed

[2021-09-14 13:33] sirreal commented on #34660
Absolutely, if there's a better alternative it would be a welcome change.

[2021-09-14 13:34] Mamaduka commented on #34802
I think this "side effect" causes the issue. If I comment out the `setAttribute`, there's no more unsaved state.

https://github.com/WordPress/gutenberg/blob/639a603bb47b5e2d6f8b3126225e3db0b1941480/packages/block-library/src/navigation-link/edit.js#L366-L373

Is it possible for `__unstableMarkNextChangeAsNotPersistent` not to work in context of Navigation Screen?

/cc @talldan.

[2021-09-14 13:47] ciampo commented on #34709
This makes sense — we don't have to necessarily group `ItemGroup` components the same way they were grouped in the early prototype. I've updated this issue's description with what's been discussed and agreed upon in the last exchange.

[2021-09-14 14:09] fluiddot commented on #30987
Good catch 🎊 !

I'm wondering why the `src` is not being included 🤔. I did a quick test and I saw that the `src` attribute was present when switching to HTML mode in the web version of the editor, so maybe the native version of the Video block is the one that is stripping out the `src` when loading the post, does it make sense?

Yeah, that's a good option although we should investigate potential s

[2021-09-14 14:34] getdave commented on #24282
Confirmed. Issue still present.

[2021-09-14 14:38] Sandstromer commented on #34782
Not making a point or trying to. This is for reference. If there is a better place or format for reference information, please any help would be appreciated.

Sorry I don't know the meaning of "code smell" so unable to answer that question.

Now you mention it, yes it can sometimes be difficult for themes to override styles.

If you propose this be narrowed in focus to theming, do you have any sug

[2021-09-14 14:47] jamiepalatnik commented on #34602
Experienced this bug on a page with extra spaces in the page title.

[2021-09-14 14:56] ciampo commented on #33263
Hey @ryanwelcher, while there isn't an official "rule" yet on how to do this, the `Card` component could be a good example to follow:

https://github.com/WordPress/gutenberg/blob/ae96676040b9f9dfb6a911b80fa8ab7c9867d8fd/packages/components/src/card/card/README.md?plain=1#L67-L70

[2021-09-14 15:25] david-binda opened #34814 "Prevent frontend SQL queries finding no block templates"
## What problem does this address?
The `gutenberg_get_block_templates` function looks for `wp_template` or `wp_template_part` custom post type objects on every frontend page load, no matter whether there are any template parts or not.

While related SQL queries are not expensive, they might not be actually finding any objects in case the current theme does not support block templates or FSE featur

[2021-09-14 15:43] myleshyson commented on #34788
This is related to #28517, and and I'm wondering if this should be included along with that issue?

For more context, this is important for us because some blocks don't make sense for certain contexts. For example, the columns block makes sense for a Footer widget area, but definitely should not be allowed for a Post Sidebar widget area. We need a way to force those distinctions for our editors.

[2021-09-14 16:04] #29746 closed

[2021-09-14 16:14] ciampo opened #34816 "Components: support `step="any"` in `NumberControl` and `RangeControl`"
## What

Accept `any` as a valid value for the `step` prop of the `NumberControl` and `RangeControl` components

## Why

The `input[type=number]` and `input[type=range]` HTML elements support `any` as a value for the `step` attribute ([#](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/range#attr-step), [#](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/number#attr

[2021-09-14 16:27] ciampo opened #34817 "Components: update the rounding logic for `shift` key increments in `NumberControl` and `RangeControl`"
## What

Update the rounding logic for when the user increments/decrements the value in `NumberControl` and `RangeControl` components while holding the `shift` key.

Currently, the result of a `shift` increment/decrement is rounded to the nearest multiple of the shift step value.

| Current behaviour | Target updated behavior |
|---|---|
| ![current](https://user-images.githubusercontent.com/90003

[2021-09-14 16:28] westonruter commented on #33578
Yes. Certain aspects of Lighthouse could be implemented client-side. For example `PerformanceObserver` can be used to determine:

* Cumulative Layout Shift (CLS): https://web.dev/cls/#measure-cls-in-javascript
* Largest Contentful Paint (LCP): https://web.dev/lcp/#measure-lcp-in-javascript
* First Input Delay (FID): https://web.dev/fid/#measure-fid-in-javascript

Calculating FID may not be practic

[2021-09-14 16:36] westonruter commented on #33578
I will note that this is an active area of research for the the [AMP plugin](https://github.com/ampproject/amp-wp) team. While up until now the AMP plugin has been attributing AMP validation errors to blocks in the editor, we are expanding to more general PX analyses given that the focus on “AMP validity” is lessening with development of [Bento](https://blog.amp.dev/2021/01/28/bento/).

[2021-09-14 16:39] ciampo commented on #34817
Hey @stokesman , can you please check this issue's description and confirm it's in line with what you initially described in #34542 ?

[2021-09-14 16:55] ciampo commented on #34363
Since the `max` is `6`, why doesn't the value get clamped to `6` when shift-increasing?

[2021-09-14 17:03] CandaceJohnsonDesigns commented on #34717
I agree with what you are saying. I love the idea of presets, but setting a default for the text inside "palette" might make sense, but hover and focus can be used in a variety of ways and may be impacted by block style. Hover color could be applied to border-color, background, text, etc and the block with a background color selected may not even need or want hover effects.

## Text Color Default

[2021-09-14 17:24] michaelbourne commented on #27629
This would be beneficial on so many projects. Right now we just use custom classes to alter alignment, but that's not the smoothest use of Gutenberg. And since users can't select multiple block styles, we're lacking any sort of UI based design features for alignment outside of the box.

A filter for `BLOCK_ALIGNMENTS_CONTROLS` would work great, as then my parent theme can supply additional alignme

[2021-09-14 17:32] spacedmonkey opened #34818 "Handle menu items with _invalid flag"
## What problem does this address?

A nav menu_item object returned from calling [wp_setup_nav_menu_item](https://developer.wordpress.org/reference/functions/wp_setup_nav_menu_item/). This object contains a property called `_invalid`. It is used for the following.

A menu item can be invalid for the following reasons.
- Linked post is post status trash
- Linked term does not exist
- post_type_arch

[2021-09-14 17:34] fluiddot commented on #33593
This issue is in fact related to a race condition between closing the post and images already uploaded, here is an example of a test I made that proves it:

### Preparation:
- Add the following code `print("Media processed: \(media)")` to [WordPress-iOS/WordPress/Classes/Services/PostCoordinator.swift#L332](https://github.com/wordpress-mobile/WordPress-iOS/blob/c26c2e341e44c70d81db92c5a4e807a55efe

[2021-09-14 17:38] fluiddot commented on #33593
This issue is in fact related to a race condition between closing the post and images already uploaded, here is an example of a test I made that proves it:

### Preparation:
- Add the following code `print("Media processed: \(media)")` to [WordPress-iOS/WordPress/Classes/Services/PostCoordinator.swift#L332](https://github.com/wordpress-mobile/WordPress-iOS/blob/c26c2e341e44c70d81db92c5a4e807a55efe

[2021-09-14 18:08] david-szabo97 commented on #29508
Yep, can't reproduce this anymore. Closing it.

[2021-09-14 18:08] #29508 closed

[2021-09-14 18:14] david-szabo97 commented on #31384
Looks like this is already fixed. Closing it.

[2021-09-14 18:14] #31384 closed, assigned to nobody

[2021-09-14 18:41] stacimc commented on #34796
When a user adds the Site Logo block and uploads an image, it is possible to _replace_ the image but not to clear/remove it:

<img width="308" alt="Screen Shot 2021-09-14 at 11 36 23 AM" src="https://user-images.githubusercontent.com/63313398/133314702-1c3d5894-a32f-426e-b880-256d4fc7e700.png">

If the user deletes the block, the Site Logo will still be persisted (assuming they saved before deleti

[2021-09-14 19:54] ryanwelcher opened #34822 "Update @wordpress/create-block documentation to explain usage of npx."
## What problem does this address?
The existing documentation for the `create-block` package does not explain what `npx` is or why it is being used instead of `npm`. This may be confusing to some users who are not familiar with the node ecosystem.

## What is your proposed solution?
A short explanation on why npx is correct for this usage with a link out to some official documentation such as http

[2021-09-14 19:57] pagelab commented on #20873
I imagine that a totally abstract icon, not based on the task at hand in any way, will require a high dose of good faith from the user to understand it, which is not ideal in this case.

It's definitely possible to learn the meaning over time, of course, but just like pretty much all other icons in use today ([Gutenberg icon library](https://www.figma.com/file/e4tLacmlPuZV47l7901FEs/WordPress-Desi

[2021-09-14 20:01] #19392 closed

[2021-09-14 20:25] shaunandrews commented on #31950
I think this half-baked idea is related to this issue, so I figured I'd share:

<img width="1458" alt="image" src="https://user-images.githubusercontent.com/191598/133328727-195533ca-ccd1-4bae-9d59-f6e6cb30f5df.png">

[2021-09-14 20:29] stokesman commented on #34363
While `step` is `10` it makes the `max` of `6` an invalid step so the UA won't go there. That can be tested with a plain HTML `<input type="range" min="0" max="6" step="10">`. So it's another consequence of altering the `step` attribute (and another thing the PR I've linked resolves 😁 ).

I may go ahead and re-title this issue as it can actually happen with any almost any `RangeControl`. Some exam

[2021-09-14 20:32] spacedmonkey commented on #34628
@MohammedFaragallah I have pushed a couple of fixes. The schema should match up now. Can you checkout trunk and see if fixes your issues.

[2021-09-14 20:53] stokesman commented on #34817
Thanks for making the issue @ciampo 👍  It captures the intent. I put in the minor edit to say the shift-step will be applied with the same rounding as the base step.

[2021-09-14 21:28] thekingsprojects commented on #34602
Just had a user case with the same issue on WordPress.com. Editing the post titles with Quick Edit seems to have resolved it, so that's a workaround if shuffling between Classic and Gutenberg isn't an option.

[2021-09-14 21:37] glendaviesnz commented on #34099
The issue was covered by this comment - https://github.com/WordPress/gutenberg/issues/33769#issuecomment-889621113 - but probably worth having this as a separate issue so will leave it open for now

[2021-09-14 21:39] glendaviesnz commented on #33769
The issue of the file picker opening is noted in this issue https://github.com/WordPress/gutenberg/issues/34099 - initially closed thinking it was a duplicate of this one, but probably worth listing as a separate issue in case it is a separate fix to the issue of the existing images being lost

[2021-09-14 22:12] glendaviesnz opened #34824 "Gallery block: no indication of selected image in refactored gallery"
### Description

In the refactored Gallery block there is no block selection indicator around the currently selected image as there is in the old Gallery block. This makes it difficult for the user to see which image is currently selected, especially if top toolbar option is selected.

![select-image](https://user-images.githubusercontent.com/3629020/133340818-5720e6a7-248f-4620-a703-575c9de67ffd.

[2021-09-14 22:17] sabernhardt opened #34825 "Do not embed PDF automatically in file block"
_Originally reported on a [Fixing WordPress forum topic](https://wordpress.org/support/topic/disable-pdf-settings-show-inline-embed-by-default/) and [Trac #54062](https://core.trac.wordpress.org/ticket/54062)_

By default, the new embeddable PDF option (PR #30857) is toggled on, so people who do not want to embed their PDFs need to uncheck the toggle every time.

![Show inline embed option is chec

[2021-09-14 22:18] jd-alexander commented on #33593
Good investigation here @fluiddot I want to add some context here that is related to the point below.

 When working on the Audio block we had to create processors in both platforms that detected the local URLs and replaced them with the remote versions.

https://github.com/wordpress-mobile/WordPress-Android/pull/13575
https://github.com/wordpress-mobile/WordPress-iOS/pull/15420

- Here are all th

[2021-09-14 22:20] sabernhardt commented on #34825
I'm hopeful this could be backported to the 5.8 branch.

For further consideration, though, could the toggle start with the user's choice from a previous PDF file block after the first?

[2021-09-14 22:53] glendaviesnz opened #34826 "Gallery block: aligned Image breaks layout"
### Description

If an Image block with an explicit alignment set is dragged into a Gallery block with the new nested Image innerBlocks structure the layout is broken in the editor and on the front end:

![align-bug](https://user-images.githubusercontent.com/3629020/133344194-a654ed0a-569e-49e4-bbc3-61dead1e89a7.gif)

[2021-09-14 23:16] chthonic-ds commented on #33273
I can confirm I'm seeing the same issue in a Windows environment. I didn't realise there was supposed to be a front-end script for the navigation toggle, so my theme has been supplying its own solution. Testing now in a Linux environment, I see `view.min.js` is present.

WordPress 5.8.1
Gutenberg 11.4.1

[2021-09-15 01:42] #34283 closed, assigned to getdave

[2021-09-15 02:04] glendaviesnz opened #34827 "Gallery block: improve UX of drag to reorder"
### Description

Currently it is not obvious that images can be dragged and dropped to re-order as it requires a knowledge of the block drag handles to do this, eg:

This:

![drag-no](https://user-images.githubusercontent.com/3629020/133358312-4fe2d58a-1c03-4cd1-9c1c-8c89719f1426.gif)

Versus this:

![drag-n-drop](https://user-images.githubusercontent.com/3629020/133358329-cdfdf3a0-b05e-4f6e-a39b-

[2021-09-15 02:51] glendaviesnz opened #34829 "Gallery block: caption encodes html entities"
### Description

If the refactored gallery block caption has html formatting added the tags are encoded when the caption is deselected.

![caption-bug](https://user-images.githubusercontent.com/3629020/133362395-f6fbfe3b-b614-498e-b54b-e7e7206cc39a.gif)

[2021-09-15 03:03] glendaviesnz opened #34830 "Gallery block: still upload valid image files if group includes invalid files"
### Description

Currently in the refactored Gallery block, if multiple files including an invalid format are dragged and dropped onto the gallery no files are uploaded and an error is displayed saying all files should be image formats. It would be good if all the valid files will still uploaded and an error shown to indicated that the some files were not uploaded because they were invalid.

[2021-09-15 04:21] github-actions[bot] opened #34832 "[Flaky Test] should replace, reset size, and keep selection"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should replace, reset size, and keep selection

## Test path
`/test/e2e/specs/editor/blocks/image.spec.js`

## Errors

<time datetime="2022-08-10T08:07:04.369Z"><code>[2022-08-10T08:07:04.369Z]</code></time> Test passed after 1 failed attempt on <a href="https://github.com/W

[2021-09-15 04:27] edwinho89 commented on #34602
Encountered another WordPress.com site having similar issue. Editing post titles with "Quick Edit" is an excellent workaround in removing the additional space behind post titles.

[2021-09-15 05:26] gziolo commented on #17972
@getdave, should we close this issue after all the iterations applied to the URL link tooltip?

[2021-09-15 05:28] gziolo commented on #30795
Now that #33498 and #33502 landed, the issue no longer exists 🎉

[2021-09-15 05:28] #30795 closed, assigned to nobody

[2021-09-15 06:04] Mamaduka commented on #34512
@javierarce Do you have a character limit in mind? We can have different for small screen and desktop.

[2021-09-15 06:35] jasmussen commented on #34783
Partially tracked in #30370, but I've turned that one into an overview issue, because this feels small enough that it's worth splitting out anyway and fixing.

[2021-09-15 06:35] jasmussen commented on #30370
Changed this one to an overview issue, where #34783 exists as a separate ticket. I'd love to pair on that one.

[2021-09-15 06:53] talldan commented on #34802
You're right, it doesn't seem to be working in the navigation editor. I'm not sure why that would be though. Looking into it.

An option might just be to get rid of `isTopLevelLink`. I'm not sure why it should be needed, I think it should be possible to determine using a CSS selector whether something is a top level link. Using an attribute for this isn't great.

[2021-09-15 07:09] jasmussen commented on #34780
The squiggly line is indeed in place to indicate: this menu item needs your attention because it doesn't link anywhere so if you publish, it won't show up. The common use case is to insert a block pattern featuring a call to action button which due to being from a pattern, doesn't link anywhere. The hope with the squiggly was exactly to be grammar-like, and while it's specific to the navigation bl

[2021-09-15 07:18] aristath commented on #21507
Closing this one, it was fixed in https://github.com/WordPress/gutenberg/pull/30336

[2021-09-15 07:18] #21507 closed

[2021-09-15 07:21] noisysocks commented on #32294
We've also discussed adding actions which are block dependent. For example in https://github.com/WordPress/gutenberg/issues/29148#issuecomment-814941699 @jameskoster describes an _Edit template part_ button that only appears on Template Part blocks.

[2021-09-15 07:31] Mamaduka commented on #34802
I'm not sure about `isTopLevelLink.` Based on #31149, we need that attribute to have different color options for submenus.

Side note: If we end up keeping `isTopLevelLink`, we should wrap `setAttributes` in if condition and only set it for actual top links.

[2021-09-15 08:14] ntsekouras opened #34838 "[Components]: MenuItem renders a wrapper with the same class with a child node conditionally"
While working on some PRs ([like this one](https://github.com/WordPress/gutenberg/pull/34710)) which included working with `MenuItem`, I noticed that if `info` prop is provided we render the components content in a structure that contains the same css class (`components-menu-item__item`) in the main wrapper and in a child node as well.

The code [is here](https://github.com/WordPress/gutenberg/blo

[2021-09-15 08:21] jasmussen commented on #34838
It seems there's a good opportunity to refactor and simplify how menu items work. The key effort of that PR wasn't to cause problems, but rather to default menu item labels to not wrap, and therefore organically expand the width of the dropdown as necessary, rather than relying on min-widths to define dropdown widths. What's a good way to approach this?

[2021-09-15 08:27] paaljoachim commented on #20941
This PR: **Show "none" as an alignment option and use contextual text to clarify settings**
is somewhat associated. https://github.com/WordPress/gutenberg/pull/34710

[2021-09-15 08:45] getdave commented on #17972
@gziolo I can see the same issue still occurs, namely that the Link UI doesn't expect this scenario and the UX is non-optimal.

<img width="825" alt="Screen Shot 2021-09-15 at 09 43 06" src="https://user-images.githubusercontent.com/444434/133401156-6fda281f-da91-46a1-88c4-7a9ffbdfbdf2.png">
<img width="524" alt="Screen Shot 2021-09-15 at 09 42 53" src="https://user-images.githubusercontent.com/44

[2021-09-15 09:04] fluiddot commented on #33593
Thanks @jd-alexander for the info 🙇 , I learned about the existence of the processors while testing, I haven't explored further how they work but I have a rough idea. As far as I investigated, the media that ends up with the local URL is not actually processed because technically it's already uploaded (see the explanation for this below).

Not exactly, all media items that are being uploaded or pe

[2021-09-15 09:08] talldan commented on #34802
So there are a couple of differences between the post editor and the nav editor in terms of this issue:

### 1. Block is loaded differently
In the post editor `isTopLevelLink` is saved as an attribute so when loading a post this value is restored. `setAttributes( { isTopLevelLink } )` has no effect because the attribute already has the correct value. Contrast this to the navigation editor, blocks

[2021-09-15 09:40] simison commented on #34099
Thanks Glen 👍  I also updated the title to reflect that this is current bug with old gallery block as well. Will your team handle the fix?

[2021-09-15 09:40] Mamaduka commented on #34802
Thanks for the detailed explanation.

The Widget editor also uses an in-memory post entity but does have the same issue.

[2021-09-15 09:46] javierarce commented on #31667
I would call it "Content".

That is a good idea. If we do this, I think the 'Select all' button will be less useful than an option to remove the current selection. The add button could also indicate how many items have been selected.

The nice thing about that idea is that the basic content types (Pages, Posts) are immediately accessible. We could also add 'Categories' to the tab bar, but in that

[2021-09-15 09:58] spacedmonkey commented on #34818
Related: https://github.com/WordPress/gutenberg/pull/31716

[2021-09-15 09:59] talldan commented on #34802
Just testing the widget editor, it does indeed have the same issue. Preventing the nav block from serialising `isTopLevelLink` (by deleting the attribute declaration) makes it become apparent.

I've put together a fix in #34839, but it introduces another issue. (edit: now fixed)

[2021-09-15 10:06] fluiddot commented on #33593
On iOS, I noticed that in case there are no media items being uploaded when saving a post, it actually updates the URL because it processes all current media items of the post 🤔 .

- [iOS reference](https://github.com/wordpress-mobile/WordPress-iOS/blob/c26c2e341e44c70d81db92c5a4e807a55efe5e5e/WordPress/Classes/Services/PostCoordinator.swift#L133-L149)

So a potential solution would be to process

[2021-09-15 10:11] talldan commented on #29102
## Update - 2021-09-15

- Work is still progressing on migrating the navigation editor fully over to the REST API. The REST API changes have been merged, and now the front end code is being updated.
- Lots of UI changes this week with the editor top bar being updated, the main block inserter added, and fixes to the block's styles
- Good discussion underway on [how to provide backwards compatibilit

[2021-09-15 11:09] youknowriad commented on #34716
Good point on this one, this one is more like a bug, maybe we can render the "skip-link" outside the "wp-site-blocks"?

[2021-09-15 11:09] mrkunau opened #34841 "Gutenberg Templates of post_type wp_template fullsite editor can't update slug( )"
### Description

I'm working on fse with wordpress 5.9-alpha-51813 and Gutenberg Version 11.4.1 but can't update slug(post_name) on post type 'wp_template'

/wp-admin/edit.php?post_type=wp_template
add new a custom template then change slug on input field then Update.
please look video : https://gyazo.com/2e9bb766e8e40c9528199d643fbcadd9
After saved then reload edit post slug is don't update

What

[2021-09-15 11:18] youknowriad commented on #34772
If we switch to `width` instead of `max-width` won't this break small screens? especially for folks relying on pixels and similar units.

[2021-09-15 11:23] fluiddot commented on #33593
I couldn't manage to reproduce the issue by following the same repro steps I used for iOS, however, I encountered local URLs by following the flow I [commented on some time ago](https://github.com/WordPress/gutenberg/issues/33593#issuecomment-884204221):

**Steps:**
- Open a post.
- Add a Gallery block.
- Insert 6 images from the device (we could insert more, the idea here is to have enough time t

[2021-09-15 11:24] youknowriad commented on #31424
@talldan That PR was about keeping the styles as they were but rewriting them in a way that the editor and the frontend look similarly for themes that don't provide any styles (emptytheme). So themes that add customizations, will see them also similarly in both frontend and backend. I think it's fine if we want to change these styles, we just need to make sure it's similar between frontend and edi

[2021-09-15 11:26] jasmussen commented on #34041
Based on the above discussion, I thought it helpful to fill out blank spots in the flow on transforms. The basic menu building remains the same: just click the plus to insert the default block type, a Page Link.

<img width="2680" alt="basic flow" src="https://user-images.githubusercontent.com/1204802/133423715-8c247334-5437-44ed-a2a1-c4300ce10890.png">

The following principles are important for

[2021-09-15 11:26] jasmussen commented on #31879
This one has been fixed.

[2021-09-15 11:26] #31879 closed, assigned to nobody

[2021-09-15 11:41] jasmussen commented on #30170
An important conversation about a more basic menu building experience is happening in #34041. Mockups to address that show [a simpler URL picker as part of that flow](https://github.com/WordPress/gutenberg/issues/34041#issuecomment-919934521):

<img src="https://user-images.githubusercontent.com/1204802/133423715-8c247334-5437-44ed-a2a1-c4300ce10890.png">

While putting those together, it became c

[2021-09-15 11:43] carlomanf commented on #34841
#32861 might be the same issue.

[2021-09-15 11:49] talldan commented on #34818
@spacedmonkey I think this is a duplicate of https://github.com/WordPress/gutenberg/issues/23573, which is a high priority on the tracking issue.

[2021-09-15 11:51] jasmussen commented on #34729
Thank you for the ticket. I can reproduce this in `trunk`. The issue is with the "Large header with text and a button" pattern under "Headers".

The pattern in question uses both the cover block's fixed-position property and the has a height of `100vh`. This is the element that expands:

[code]

![bug](https://user-images.githubusercontent.com/1204802/133428044-db032ddc-9f9d-4526-8c43-a5b0eefadb5c

[2021-09-15 12:29] carolinan commented on #33456
I retested, and I am also seeing different results in the editor vs the front now.
You are absolutely correct that the CSS for the background color padding is more specific on the front, while the theme.json padding is more specific in the editor 🤔

[2021-09-15 12:40] carolinan commented on #33456
So first a decision needs to be made about what the expected result is, if the theme.json default is intended to override the background color padding or not.

Thoughts @oandregal ?

[2021-09-15 12:50] karmatosed commented on #34780
@jasmussen I think the issue though is it's not a spelling mistake though, which is why I'd probably say even for missing links the squiggly line might not work.

This feels right to me. Although, I also think I might be on the side of wanting the squiggly line to go for every case.

[2021-09-15 12:54] OArnarsson commented on #28009
@DOUARA were you able to find a good way to achieve this?

[2021-09-15 13:11] abder commented on #28009
@oandregal
I do think that is the only way:

[2021-09-15 13:28] jasmussen commented on #34780
There's definitely an opportunity to explore other designs, including dots or other underlines, as well as supporting indicators in List View or pre-publish flows. But as an in-canvas indicator of an error, I think the squiggly line _can_ work, even if the current implementation isn't ideal. Consider that it's also used for grammar issues, as well as linting issues or compiler errors in VS code.

[2021-09-15 13:41] getdave commented on #34772
Yes you're right 🤔

But I still believe we need a mechanism to impose an optional max-width for your content. I can't see many Theme authors wanting to end up with content that spans `80vw` of a larger desktop monitor like the one I have.

It could be I"m using the feature incorrectly. If so do you have any advice to achieve a fluid width layout that doesn't get wider than (let's say for argument)

[2021-09-15 13:45] youknowriad commented on #34772
Well than you just set the content width to `1200px`. when does this break?

[2021-09-15 14:52] youknowriad commented on #33424
I justed wanted to share that these npm install issues are getting too frequent and are making our release process a lot harder (due to breakage...), would be cool if we find a way forward.

How can we improve the situation here? @fluiddot @hypest @dcalhoun

[2021-09-15 15:03] kosiew commented on #34676
I tested with https://wpstore102.mystagingwebsite.com/test/ and it does embed correctly.

I will raise this with WordPress.com.

Thanks @jpantani, @gwwar for looking.

[2021-09-15 15:06] brezocordero opened #34845 "Allow CustomSelectControl component to be used to extend a block toolbar"
## What problem does this address?

In the MailPoet plugin we extend the block toolbar of the RichText component using the [CustomSelectControl](https://github.com/WordPress/gutenberg/blob/trunk/packages/components/src/custom-select-control/index.js) component.
Because the button doesn’t have the property `'data-toolbar-item': true`, it doesn’t pass the [toolbar check](https://github.com/WordPress

[2021-09-15 15:15] getdave commented on #34772
Yep turns out I was using and understanding this using the wrong mental model. Now I set things as you suggested and the layout does seem fine across all breakpoints.

[2021-09-15 15:15] #34772 closed, assigned to nobody

[2021-09-15 15:25] getdave commented on #30170
@jasmussen Thanks for the update. Looking good ❤️

Can I confirm you're proposing redoing the design of the Link UI across Gutenberg to use this new layout (which also happens to utilise split text/URL)?

If so I'd be in favour of this. We should probably account for "Rich URL Previews" in the designs however.

In terms of the custom "Page" dropdown version - do you see this a unique to the Nav bl

[2021-09-15 15:28] fluiddot commented on #33593
The fix for iOS will be introduced in [this PR](https://github.com/wordpress-mobile/WordPress-iOS/pull/17157) 🎊 . I'd appreciate it if an iOS developer could take a look, @ceyhun could you spare some time for this? Thanks 🙇 !

[2021-09-15 15:30] gwwar commented on #34676
Thanks for double checking @kosiew ! I'm going to close this one for now, but let us know if there are other cases to look at.

[2021-09-15 15:30] #34676 closed, assigned to nobody

[2021-09-15 15:36] gziolo commented on #17972
I guess it's a correct assumption. We should show some hints to the user so they could fix it.

[2021-09-15 15:41] gwwar commented on #19476
This one should be fixed by https://github.com/WordPress/gutenberg/pull/30979

[2021-09-15 15:41] #19476 closed

[2021-09-15 15:42] gziolo commented on #34660
That's surprising 😅

From the WordPress core perspective it's the opposite. We want to maintain versioning for individual files/chunks. If a single chunk never changes then it's perfectly fine to keep the same version that is based on the actual content. I see now how the name the field can be confusing here.

That means that we would benefit from switching to “runtimeChunk.contentHash”.

[2021-09-15 16:19] schlessera commented on #33578
When using `PerformanceObserver` client-side, the following limitations should be kept in mind:

- the audit depends on your local machine's resources and network stack (so someone from India has completely different metrics than someone from the US, depending on where the server is)
- the audit is done on a logged-in user, which is different than what an anonymous visitor would get
- the audit me

[2021-09-15 16:21] markhowellsmead opened #34848 "Using a single non-pixel value for settings.spacing.units reverts to pixels"
### Description

Setting an array with `settings.spacing.units` containing a single value which is not "px" shows "px" next to the input field, and the values are in pixels. This makes it impossible to set the control to only allow e.g. REM.

### Step-by-step reproduction instructions

1. Set `settings.spacing.units` to `["rem"]`
2. Interact with the block spacing control. The indicator says "px"

[2021-09-15 16:25] markhowellsmead opened #34849 "Custom padding control doesn't accept float values"
### Description

It's not possible to set customPadding to e.g. 0.5vw using the editor control. Only integers are accepted.

### Step-by-step reproduction instructions

1. Try and set e.g. 0.5vw or 1.25rem as a custom padding value.

### Screenshots, screen recording, code snippet

_No response_

### Environment info

- WordPress 5.8.1
- Gutenberg plugin is not in use.

### Please confirm that you

[2021-09-15 16:37] javierarce commented on #17972
@getdave I think https://github.com/WordPress/gutenberg/issues/17972#issuecomment-622109556 is still a good solution but we could change the icon:

![image](https://user-images.githubusercontent.com/4933/133473715-920ba38e-d2a8-46e1-836d-e3dfbeab6443.png)

I also notice that it's possible to create empty links by inserting a space in the input field and the control will create an empty link with j

[2021-09-15 16:39] skorasaurus commented on #34849
Hi,
Thanks for reporting.

This was fixed in https://github.com/WordPress/gutenberg/pull/32692 .

I'm not able to reproduce this using the newest version of the Gutenberg plugin either so please reopen if you're able to reproduce this with the plugin. This probably should be included in WP 5.9. :)

[2021-09-15 16:39] #34849 closed, assigned to nobody

[2021-09-15 16:53] camilopbam commented on #34631
I'm getting this very same issue in WP 5.8.1 with both the columns block and other custom made layout blocks.

[2021-09-15 17:06] jd-alexander commented on #30987
Interesting. That's a hypothesis worth checking out. 👍🏾

[2021-09-15 17:16] websitegenii opened #34853 "Core/Button .is-style-outline overwrites theme.json padding settings for default button padding"
### Description

So utilizing theme.json I am able to add styles to the `core/button` as intended

Though when I change the button style to outline it now ignores my colors (obviously) but what I didn't expect is it overwrote my `theme.json` padding with its own padding.

Here is the part of my `theme.json` file

[code]

This applies everything as expected but if in the wp-admin area you go and sw

[2021-09-15 18:08] oandregal commented on #33456
https://github.com/WordPress/gutenberg/pull/34854 a try to fix this.

[2021-09-15 18:14] stokesman opened #34855 "RangeControl style issue in RTL"
### Description

While working on #34719, I noticed in RTL languages the "thumb" of our range control component appears to be just a bit offset from where it should be.

### Step-by-step reproduction instructions

1. With WordPress set to an RTL language, interact with a range control and observe the thumb does not center itself on the end of the filled portion of the rail.

### Screenshots, scree

[2021-09-15 19:11] skorasaurus commented on #34177
ran into this again (although it does not happen every time I copy several blocks), forgot to document how to reproduce more clearly:

1. create new page;
2. take the code snippet, paste into code editor (not a code block)
3. select the blocks, (make sure you select all 3) (snack notice at bottom of screen will state that 3 blocks have been copied to clipboard
4. exit page
5. create new page
6. co

[2021-09-15 19:23] critterverse commented on #33716
Good point @draganescu! Here's another variation that treats the List view as a drawer that slides out from the left like the Inserter. This version feels a bit more aligned with how the List view / Inserter work in the post editor (i.e. sharing the same sidebar area):

![Customizer List View](https://user-images.githubusercontent.com/77359364/133495862-1c7e99f5-9984-4471-8db1-42cd98d4ae1b.jpg)

W

[2021-09-15 20:01] westonruter commented on #33578
For one thing, the iframed page could be loaded with a query parameter to nullify the logged-in user. That will prevent the admin bar from being displayed and will make it look like a normal user accessing the page.

True, but this could actually be a good thing. Visitors will also have Chrome extensions and background processes running, so perhaps `PerformanceObserver` could reflect performance o

[2021-09-15 20:29] Yodapp commented on #29885
I'm also having issues with reusable blocks. I've tried a clean install with no plugin and the default thene as well as GeneratePress (only the theme). Almost everytime I try to use a reusable block it freezes the web browser. It works fine to save a reusable block, but once trying to add it, the block isn't showing or if it's showing the browser tab hangs the moment I hover over the block.

I've

[2021-09-15 20:37] spacedmonkey commented on #34818
@talldan Feel like it. Wanted to ensure we respect the value come from the REST API. If #23573 will do this, then I am happy to close this ticket.

[2021-09-15 20:37] kasparsd commented on #21872
I created this test repository https://github.com/xwp/gutenberg-issue-21872-scripts which attempts to isolate the issue and require just `@wordpress/scripts` at `^18.0.1` and runs `npm install` followed by `wp-scripts lint-js` using different versions of Node and different package lock files generated by different versions of Node. See the [GitHub action output](https://github.com/xwp/gutenberg-is

[2021-09-15 20:43] gwwar commented on #34602
I do have a patch for this, but the number of reports here make me suspicious. Is this character appearing in post titles as a side effect of another bug, or are folks actually copying this value over?

[2021-09-15 20:46] karmatosed commented on #34780
I agree in that case. Perhaps that might be the issue, I'm not sure I see not having a link as an error. I see it as more of an unset. Which I know might sound like a context issue but it feels like an important experience differentiator. I do feel like the anti-squiggler though :)

[2021-09-15 20:49] spacedmonkey opened #34858 "Add support for custom post type archive in navigation editor"
## What problem does this address?

As of [#16075](https://core.trac.wordpress.org/ticket/16075), it has been possible to add custom post type archives into menus. The new navigation screen should also support this.

<img width="753" alt="Screenshot 2021-09-15 at 21 48 58" src="https://user-images.githubusercontent.com/237508/133507376-a0fb84c0-6696-42dd-95aa-bf417351b5eb.png">

Related:  https://

[2021-09-15 20:59] glendaviesnz commented on #34099
Doesn't look like anyone else is picking this up in core so we have added it into our current sprint

[2021-09-15 21:27] spacedmonkey opened #34859 "Add preference panel to navigation screen"
## What problem does this address?

The current navigation screen, as screen options, that look like this.

<img width="1616" alt="Screenshot 2021-09-15 at 21 53 46" src="https://user-images.githubusercontent.com/237508/133510132-f602316a-ea49-41fe-a061-1552b4438142.png">

This allows users to hide / show elements of the navigation screen. The new navigation screen should have this functionality a

[2021-09-15 23:53] AetherUnbound opened #34860 "OEmbeds that return html missing the closing </iframe> tag do not render properly in the editor"
### Description

This forum post best describes the issue and resolution: https://wordpress.org/support/topic/embed-size-is-stuck-at-zero/

Summarized, if an oembed API returns an `html` field that contains an `iframe` tag that _does not_ have a closing `</iframe>`, it will not be rendered in the editor (although once published, it will be rendered fine).

### Step-by-step reproduction instruction

[2021-09-16 00:21] goblinartificer commented on #34602
Encountered another WordPress.com case today. This is really weird ⁠— it does make me feel like it's being added by another bug! It was added to the beginning or end of most but not all posts.

[2021-09-16 01:44] mrkunau commented on #34841
Yes - i think so, same issue.
We must add category-{post_type}.html then push to block-template folder in theme , edit it using SiteEditor and that will create new template with category-{post_type} slug, this is so inconvenient.
Thank you @carlomanf !

[2021-09-16 02:24] talldan commented on #34818
👍 I've added the details from this description to that one.

[2021-09-16 02:24] #34818 closed, assigned to nobody

[2021-09-16 05:01] tellthemachines commented on #17231
Is this issue still valid? I can't reproduce it, and from the conversation above it seems to no longer apply to the Navigation block. If it's still an issue for other blocks, it would be great to add specific steps for reproduction in the description, and remove it from the Navigation tracking issue.

[2021-09-16 05:03] andrewserong opened #34862 "Gallery block refactor: Replacing a captioned image with one without caption retains the caption"
During testing of the gallery refactor it was reported that if you replace an image with a caption with an image without a caption, the caption on the image is retained, which might not be the expected behaviour.

I could replicate this, and I had a couple of thoughts:

1. As a user I might have the right caption in mind, but be trying out a few different possible images. In this case, I'd want th

[2021-09-16 05:12] tellthemachines commented on #18395
With #33775 merged, is there anything still to do in this issue? The inspector toggles still need to be changed to `ToggleGroupControl` but that can be done as part of #30370.

[2021-09-16 05:13] andrewserong opened #34863 "Remove Block label: Update to include the name of the block to be removed"
## What problem does this address?

During testing of the new refactored Gallery block, it was reported that going to remove an image from the gallery, in the drop-down menu the label "Remove block" can be confusing — the feedback was, how can you be sure that the block you're about to remove is the Image block?

This is the view:

![image](https://user-images.githubusercontent.com/14988353/133553

[2021-09-16 05:37] sophiegyo commented on #34602
I spoke to someone who experienced this last week (including the inability to edit afterwards), but I haven't experienced it myself. They were copying the post title over from MS Word. I noticed the object replacement character showed as a blank space in the source HTML of their published post and when I mentioned this, they noted that there was also a space at the end of the post title in Word, w

[2021-09-16 07:04] noisysocks commented on #32294
I spent today learning about the options here and playing with a few different approaches.

### `treegrid`

The problem with `treegrid` is that it's really meant for tabular-ish data. Specifically, it's expected that you have an equal number of columns per cell. Right now this is okay for the List View but going forward it seems we will want to have a different number of controls depending on the

[2021-09-16 07:12] jasmussen commented on #34783
CC: @vcanales, happy to pair on this one.

[2021-09-16 07:15] carolinan commented on #34863
I would love to see this for all blocks: https://github.com/WordPress/gutenberg/issues/30740

[2021-09-16 07:17] andrewserong commented on #34863
Thanks @carolinan, glad to hear there's others who'd like this feature, too! Since your issue pre-dates this one, I'll close this as a duplicate 🙂

[2021-09-16 07:17] andrewserong commented on #34863
Closing as duplicate. Let's track the work in #30740 instead.

[2021-09-16 07:17] #34863 closed, assigned to nobody

[2021-09-16 07:20] andrewserong commented on #30740
Just adding from #34863 that this feature could be helpful in many kinds of situations with container blocks where it can be challenging for a user to discern whether or not they'll be deleting an individual block or a container. E.g. Button with a Buttons block, or Image within the refactored Gallery block. For quick reference here's a screenshot of the Remove block button in the refactored Galle

[2021-09-16 07:23] carolinan commented on #34783
so many +++ :)

[2021-09-16 07:50] Mamaduka commented on #34512
It looks like the character limit for Menu names is 200. It is the same limit as for term names.

The editor will display the error notice if you create a menu using a name > 200 chars. We have the same behavior on the current screen, so we don't have to change anything here.

I can create PoC PR that truncates menu names after a specific limit, and we can iterate on it.

[2021-09-16 07:52] Mamaduka commented on #31100
@javierarce, do you have mockups for the error inside the modal? Or should I use existing error notice styles?

[2021-09-16 08:14] Sidsector9 opened #34864 "Cmd + S and Ctrl + S does not respect lockPostSaving"
### Description

When using `lockPostSaving`, the Publish button is disabled but a user is still able to save using Cmd + S or Ctrl + S shortcuts. I am not sure if this is by design but IMO it would make sense to disallow posts from being saved using keyboard shortcut when lockPostSaving is used.

### Step-by-step reproduction instructions

1. Create your own Gutenberg block or a plugin
2. Paste t

[2021-09-16 08:15] javierarce commented on #31100
I'm trying to see how we have solved this problem in other places, but I haven't found anything.

My initial idea was to use the existing error notice and show it above the modal (which would also fix the problem we have in Desktop mode)… would that be possible?

[2021-09-16 08:15] carolinan commented on #34848
Hi!
With current trunk of Gutenberg **enabled**:

I tested this with the group block and site title, the spacing control is not displaying any unit until I change the value,
and then it displays the rem unit.

-When I tested with a block that had a padding already set in the block markup (in the HTML template file),
it showed the numeric value inside the setting, but no unit showed until I made ch

[2021-09-16 08:18] markhowellsmead commented on #34848
Is working as expected with the Gutenberg plugin (which we can't use).

[2021-09-16 08:18] #34848 closed, assigned to nobody

[2021-09-16 08:20] carolinan commented on #34848
Updates will be ported to WP eventually :)

[2021-09-16 08:20] andersnoren opened #34865 "Featured Image Block: Add support for fallback images"
## What problem does this address?
On archive pages, some posts lacking a featured image can lead to inconsistent looking layouts. For example, in the layout below, the third post is missing a featured image, resulting in that row being shorter than the other ones:

<img width="2007" alt="image" src="https://user-images.githubusercontent.com/8181091/133575787-2e29b7ac-956b-4916-8bff-6437d276d051.p

[2021-09-16 08:24] carolinan commented on #34865
+1 for this, this is common in classic PHP themes.

The option to enable and upload a fallback image can perhaps live in the global styles area?

[2021-09-16 08:33] jartes commented on #34602
I had another case in WordPress.com. The user copied the text from a MS Word doc and they had a blank space at the beginning of the post title.

[2021-09-16 08:42] Mamaduka commented on #31100
The only component I can remember is the `MediaPlaceholder` that displays errors locally.

![media-placeholder-error](https://user-images.githubusercontent.com/240569/133579921-b795692a-d072-440c-aeaf-9590322a7894.png)

It can be problematic because of the stacking context. Currently, even Snackbar is covered by modals overlay.

[2021-09-16 08:47] carolinan commented on #34717
This was a big pain point when developing Twenty Twenty-One.
It is important that the users choice is still respected, even if the theme designer would disagree with their choice....

Perhaps there should a palette type called "color pairs"?

[2021-09-16 08:51] them-es commented on #34552
Confirmed. But this issue can be closed as it already has been reported here https://github.com/WordPress/gutenberg/issues/33665

[2021-09-16 08:59] jasmussen commented on #30170
Yes, from exploring the mockups further, that seems to be the right interface for the split dialog.

Definitely, and in fact it might be worth lowering the priority of this one. It seems a good enhancement, but by virtue of being secondary, it seems less urgent.

The proposal for the lighter navigation in #34041 is to add a feature to the inserter where if the parent block has a default block defi

[2021-09-16 09:09] javierarce commented on #31100
Ok, the solution you mentioned works for me. We could have something like this:

![image](https://user-images.githubusercontent.com/4933/133584800-0e3e66e1-2fa7-40d3-8557-e40ef9123aff.png)

[Figma file](https://www.figma.com/file/xvnD8SOGhQYvnHJLGXYWGJ/?node-id=1173%3A13251)

[2021-09-16 09:14] getdave commented on #17972
This task is now on my radar to be worked on when I can.

[2021-09-16 09:17] getdave commented on #34602
This is now being worked on in https://github.com/WordPress/gutenberg/pull/34851. Essentially we'll not allow the character to be inserted at all.

[2021-09-16 09:30] ocean90 opened #34866 "wp-env: Set user agent header for ZIP downloads"
### Description

WordPress.org blocks requests which have not user agent header set. That's causing a 403 error when using `https://wordpress.org/wordpress-5.8.1.zip` as the download URL for the `core` setting.

The solution would be to pass a user agent header to `got`, see https://www.npmjs.com/package/got#user-content-user-agent.

### Step-by-step reproduction instructions

1. Create a .wp-env.

[2021-09-16 09:42] sirreal commented on #34660
Agreed, this is desirable. It would imply a change to the format of the generated asset file. They currently include exactly one version. The asset file would need to include the contentHash for all enqueue-able assets.

[2021-09-16 09:50] emendo-web opened #34867 "Add <meta charset="utf-8"> on copy / paste"
### Description

When you made a copy / paste. Gutenberg add a meta tag charset in the content. Test with header, paragraphe, ...

There is already a issue open for this in block link : #33585
But concerne a lot of block.

### Step-by-step reproduction instructions

1. Create a paragraphe or title block
2. Write text
3. Create a new block paragraphe or title
4. copy then content of the first block

[2021-09-16 10:03] hypest commented on #33424
Indeed @youknowriad. As we speak, @ceyhun is working on a spike to replace the npm deps defined as git-dependencies, since it looks like that helps with the `cb() never called!` error.

[2021-09-16 10:16] #32712 closed, assigned to mirka

[2021-09-16 10:17] carolinan opened #34870 "Add information about skip links to the block theme overview"
## What problem does this address?

It is not obvious that block themes support skip links automatically, if a block with a `<main>` element is used in a template.

## What is your proposed solution?

Add a short description of how the skip link can be used in block themes.
The block theme overview is a good place to add this.

[2021-09-16 10:46] oandregal opened #34872 "Migrate buttons & navigation to flex layout"
I've noticed that the buttons block and the navigation block both use the same "justification" options in the toolbar that are serialized to the post using the `justification-content` property.

Via the `layout` support we've developed a `flex` layout that already takes care of this for blocks.

This is to track that we need to migrate those blocks to the new layout support.

- [x] buttons
- [ ] n

[2021-09-16 10:47] oandregal commented on #34872
There's also some interest to get this in other blocks, such as https://github.com/WordPress/gutenberg/issues/32680

[2021-09-16 10:51] oandregal commented on #34872
JFYI @aaronrobertshaw @ramonjd @ntsekouras @youknowriad

[2021-09-16 11:07] #20873 closed

[2021-09-16 11:17] youknowriad commented on #34872
Hi @oandregal It makes sense to have this automatically applied but I don't think it's a separate or new block support. In a recent refactor to the social icons block @ntsekouras did, this control has been added to the "Flex Layout", in other words, any block that declares itself as a "flex layout container" will get this automatically. Do you think this address these use-cases?

[2021-09-16 11:24] ntsekouras commented on #34872
👋 - fun fact I was planning to start today the `QueryPagination` to use `flex` layout and will have the `justification` controls from the layout. Also thanks for pointing the issue!

For me the justification controls should be handled by layout and I have in plans to explore that for such blocks like `Buttons`. In my mind we should deprecate the `orientation` prop in these blocks.

[2021-09-16 11:25] oandregal commented on #34872
Ah, lovely. So, does that mean that buttons and navigation should be migrated to use the block supports instead ( `__experimentalLayout.default.type.flex`)? I see they manage this themselves in the edit function.

[2021-09-16 11:27] andrewserong commented on #34099
Just assigning myself to this one — I'll have a go at investigating, but don't let that stop anyone else from looking, too, of course!

[2021-09-16 11:35] ntsekouras commented on #34872
No, I don't think so.. I think we should make them work with `layout`

What do you mean? They now use `orientation` for this, no?

[2021-09-16 11:42] RolandHughes commented on #32649
All data was provided, with video. I, like most people, use Ubuntu for my primary desktop, not Windows.

[2021-09-16 11:48] aristath commented on #31365
Closing due to lack of activity for almost 4 months.
If you feel this should be reopened please feel free to leave a comment and I'll reopen it so the discussion can continue.

[2021-09-16 11:48] #31365 closed, assigned to nobody

[2021-09-16 11:54] oandregal commented on #34872
This is what I see:

- The buttons block [declare its own attributes](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/buttons/block.json#L10) (`contentJustification` + `orientation`), [serialize the classes itself](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/buttons/edit.js#L40), and add the [UI control](https://github.com/WordPress/gut

[2021-09-16 12:04] youknowriad commented on #34872
Yes ideally, all of Buttons, Navigation and Columns maybe as well should be refactored to use the "flex" layout and they'll inherit the controls automatically.

I think allowing layout changes in theme.json is probably something we need to work on at some point but it's not straightforward, it's a bit more complex that the current simple styles we have. (Also, how to reflect these default values a

[2021-09-16 13:00] getsource commented on #34636
Thanks everyone!

[2021-09-16 13:00] #34636 closed, assigned to getsource

[2021-09-16 13:17] swissspidy opened #34879 "Button has incorrect"
### Description

The `Button` component uses `uniqueId()` for the `aria-describedby` attribute to point to a `VisuallyHidden` element with that ID.

`uniqueId()` produces numeric IDs, however, IDs in HTML must not start with a number.

`uniqueId()` should be used with a prefix (or perhaps replaced by `uuid`) and ideally be memoized so it doesn't change on every render.

https://github.com/WordPres

[2021-09-16 13:19] oandregal commented on #34872
OK. Updated title and description to better reflect the conversation.

[2021-09-16 13:53] ceyhun commented on #33593
Hey @fluiddot 👋  I tried this quite a few times with different combinations but I couldn't reproduce. I tried on WPiOS's `develop` branch (https://github.com/wordpress-mobile/WordPress-iOS/commit/c67e4ad4f5c2c753b16ddec3d6ef3ad1c854adf4) and also on the WPiOS PR's branch (https://github.com/wordpress-mobile/WordPress-iOS/pull/17157) by commenting out the code in `PostCoordinator.swift`, .
I tried

[2021-09-16 13:59] javierarce commented on #34255
👋 Is this issue still relevant?

[2021-09-16 14:12] PypWalters commented on #16988
The AMP plugin currently adds a button to the right of the preview button
![Screen Shot 2021-09-15 at 9 07 52 AM](https://user-images.githubusercontent.com/23455618/133627314-95ad0373-cb72-4e67-a252-2a912af3eab3.png)

This is their solution for that: https://github.com/ampproject/amp-wp/blob/81b9df742d9f78fb5ee3657622d21eb8c7926f64/assets/src/block-editor/plugins/wrapped-amp-preview-button.js

[2021-09-16 14:21] #34552 closed, assigned to nobody

[2021-09-16 14:26] priethor opened #34881 "Taking the Gallery Block refactor out of experimental"
## What problem does this address?

The refactored Gallery Block was released in Gutenberg 11.4 as an opt-in experimental flag. Since its release, [a few bugs](https://github.com/WordPress/gutenberg/issues?q=is%3Aopen+label%3A%22%5BBlock%5D+Gallery%22+label%3A%22%5BType%5D+Bug%22) have appeared but, in general, no breaking feedback has been received. However, this might be either because the refac

[2021-09-16 14:31] karmatosed commented on #31667
Looking at this, I much prefer the bulk adding from the sidebar and strongly prefer the latest mocks so great work @javierarce.

I think there’s probably an expectation for that power control here, though, from those using menus. It’s a feature that existed before, and I think whilst it can be problematic, it’s something I’d consider some might want still.

I prefer the latest mocks as they seem t

[2021-09-16 14:35] sc0ttkclark opened #34882 "ServerSideRender does not handle usesContext"
## What problem does this address?

I have a block that supports usesContext and it works if you're dealing with client-side rendering.

For server side rendering via `ServerSideRender` -- that's where things drop off. When rendering the block on the frontend (output) it will receive context fine. However, the context is never passed into the REST API endpoint to receive the preview.

I have to ma

[2021-09-16 14:41] lwangdu opened #34883 "Error with navigation-link.php"
### Description

I am getting the following error in the front end.
Notice: Trying to get property 'post_status' of non-object in /Users/lwangdu/Sites/fullsiteediting/wp-content/plugins/gutenberg/build/block-library/blocks/navigation-link.php on line 133

### Step-by-step reproduction instructions

Create new post. Permalink section > click on view post.

### Screenshots, screen recording, code sn

[2021-09-16 15:27] javierarce commented on #34266
One idea to expose this help section could be under the ellipsis menu of the top bar.

![image](https://user-images.githubusercontent.com/4933/133771303-e005c728-52be-4789-9a07-503a5238ae5d.png)

[2021-09-16 16:04] iamleese commented on #9898
As of September 16, 2021 - this is still an issue. It seemed to have been resolved sometime at the end of 2020 but has reappeared.

[2021-09-16 16:44] #34602 closed, assigned to gwwar

[2021-09-16 16:54] #32680 closed, assigned to ntsekouras

[2021-09-16 17:24] ntsekouras commented on #34882
👋 @sc0ttkclark !

I'm not sure I understand your use case and the challenges you face. Can you expand a bit more?

In general [here](https://developer.wordpress.org/block-editor/reference-guides/block-api/block-context/) you can find some information of how `Block context` can be used.

Did you mean how to access the code in the `php` side? If it is you can access the context through `$block` para

[2021-09-16 17:28] #34270 closed, assigned to oandregal

[2021-09-16 17:38] sc0ttkclark commented on #34882
Hey @ntsekouras, what's up!

Thanks for getting back to me about this.

For clarification, I have a block that `usesContext: [ "postId", "postType", "query" ]` and I don't receive any of those values from the REST API `WP_REST_Block_Renderer_Controller` endpoint. The `attributes` are _the only thing_ that passes into `ServerSideRender` for the REST API request from the block. The `post_id` gets pa

[2021-09-16 17:53] sc0ttkclark commented on #34882
One more point to make sure it was clear -- if `usesContext` provides the correct context when doing a server side render -- then we ought to figure out how to pass context into the block preview REST API.

Using the `$block->context` is great on server side render, everything is there _except on block previews via REST API_.

[2021-09-16 18:53] jfdialogs commented on #10169
We have a project with 45k tags. There's pretty much no way to load that many 100 at a time and have it make sense. The fixes above don't resolve the issue (it confuses the tag downloader and just hits page 3 447 times), and the big sell on this update was Gutenberg, so switching to classic seems off the table. Would like to see the tag search not download everything off the top.

If that's suppos

[2021-09-16 19:00] karmatosed commented on #34825
I think having it remember the choice works, but I guess I would like to know really how many users want this option first. If it's more likely to be something people want embedded, then I'd say leave it on works - it also means it's discovered. If it is off it would need the discovery of the feature also.

[2021-09-16 19:44] Robertght commented on #34729
@jasmussen It looks like there are other browsers and OS's(& versions) affected by this: https://github.com/Automattic/wp-calypso/issues/56182

[2021-09-16 20:42] apeatling commented on #34706
@jasmussen Any thoughts on a good approach for this, or what Ramon has posted above? A large part of me wants to remove the placeholder entirely with the more intuitive color and image controls we have now via the toolbar.

[2021-09-16 20:45] apeatling commented on #20837
There is an example of doing this in the Navigation block.

[2021-09-16 21:20] glendaviesnz commented on #30002
Closing in favour of https://github.com/WordPress/gutenberg/issues/30740

[2021-09-16 21:20] #30002 closed, assigned to nobody

[2021-09-16 22:36] mreishus commented on #33712
In my testing, 1929e283c15af96e5cc94797fe04e4b232c04ca5 is the first commit with the bug. I am still unsure of the exact mechanism. Enough changes have happened since then that the commit no longer reverts cleanly on the current code.

[2021-09-16 22:42] ramonjd commented on #34706
My initial thoughts, now I've had time to think about the experiment, was that the placeholder was throwing up too much of a speed hump to editing. Without seeing the block in the editor, I don't really know which min height is appropriate for my image or whichever background and content I have.

At the very least, I'd skip adding more controls to the placeholder and, as Andy says, continue with i

[2021-09-16 23:12] glendaviesnz commented on #34881
Thanks for raising this @priethor. I think removing the experimental flag is currently dependent on two things:

- The version of the mobile apps that fixes the breaking/data loss issue with the new gallery format needs to be released across all the app platforms. @mkevins are you able to provide an update on the timelines for this?
- It turns our there is an issue with sites that may have the leg

[2021-09-16 23:45] glendaviesnz commented on #30361
Closing as duplicate of https://github.com/WordPress/gutenberg/issues/34824

[2021-09-16 23:45] #30361 closed, assigned to nobody

[2021-09-17 00:06] iandunn commented on #34463
Related: https://github.com/WordPress/gutenberg/issues/15105, https://github.com/WordPress/gutenberg/issues/34405

[2021-09-17 02:31] andrewserong commented on #34099
I have a fix ready for review in #34894. It looks like the regression was introduced in #33632 when an `event.stopPropagation()` was removed, because the parent `Placeholder` element has its own click handler for the `openFileDialog` which then fires as well. In the fix, I've suggested we remove the parent level click handler and move it down to the upload button, but happy for feedback on the PR

[2021-09-17 03:59] ajlende commented on #26955
I made a JSON schema for theme.json that I'm [adding it to schemastore](https://github.com/SchemaStore/schemastore/pull/1837). Schemastore is where all the popular schemas, like tsconfig, are stored, but we also have the option to host the schema ourselves and still add it to the schemastore catalog if we want to move the schema source into gutenberg.

I mostly use the schema for autocompletion in

[2021-09-17 04:34] SeanFordyce opened #34896 "Since Gutenberg updated editing order of pictures in a gallery no longer works"
### Description

I am wondering if other people are having the same issue. The arrows in a gallery allowing you to change the order of pictures in a gallery no longer work for me since the latest update today 9/16/21. I am wondering also if there is a planned fix as I can no longer edit the picture order in my galleries. This is an issue that started today and is an incompatibility with ultimate a

[2021-09-17 05:09] gziolo commented on #34882
I can see how it could get missed when the block context was introduced. I think the solution proposed is worth exploring.

Looking at https://developer.wordpress.org/rest-api/reference/rendered-blocks/, I see that `context` is already used so it has to be a different name. Otherwise, it should work.

[2021-09-17 05:38] Mamaduka commented on #34882
What do you think about `blockContext` as a new name?

[2021-09-17 05:57] jasmussen commented on #34729
I took the liberty of updating the title a bit.

[2021-09-17 06:29] jasmussen commented on #34706
Thanks for exploring. I share the instinct of wanting to use the `Placeholder` component more sparingly in general. They are necessary for blocks that do not function without a specific property set first, such as an embed block, an image, or a maps block that needs an API key. The downside is they look nothing like the end result, and they don't scale well to narrow container contexts.

The cover

[2021-09-17 06:41] carolinan commented on #33871
I tried using
[code]
The style from theme.json was applied.
When there was no style in theme.json, the block default of 0px margin was used instead of the block specific styles.

I think that both the bottom and right margins should be removed from the block style?
In the editor, this margin is already overridden. The parent has a `gap` style which already separates the next/previous and the numbe

[2021-09-17 07:06] gziolo commented on #34882
In the REST API endpoint for block types, it's `uses_context`: https://developer.wordpress.org/rest-api/reference/block-types/. It reminds me that we had to rename that field in PHP from `context` to avoid name clashing in REST API 😅

In this case, it isn't really `uses_context` because we have to pass computed values read from context, so maybe `context_values`? We can sort out the name later whe

[2021-09-17 07:07] ellenbauer commented on #33792
Amazing, I can't wait, I think to only show the notice on the themes page is a great solution.

[2021-09-17 07:16] Mamaduka commented on #33792
The update should be available in 11.5, which was released yesterday 🎉

[2021-09-17 07:20] carolinan opened #34898 "Query pagination does not output paged and paged-number body classes"
## What problem does this address?

In a PHP based theme the `<body>` includes the CSS classes `paged` and `paged-number` (paged-2) on archive pagination.
With the query and the query pagination block, these body classes are missing.

One use case would be to have a blog with one query for sticky posts, and one for regular posts, with different designs and inner blocks. And then hide the sticky po

[2021-09-17 07:21] Mamaduka commented on #34882
I like this approach more. The overriding controller would mean supporting it until the plugin requires WP 5.9.

I'll try to create both PRs next week if there are no other takers.

[2021-09-17 07:41] gziolo commented on #16988
There is a very promising PR #31984 from @delawski that makes the Preview dropdown extensible. In the future, the AMP plugin could use a more formal approach for preview when the functionality is available.

Anyway, that you for sharing the use case and the approach that plugins currently take.

[2021-09-17 07:45] gziolo commented on #21872
@kasparsd, thank you for doing a very in-depth investigation. That was my understanding, too. That's why I proposed we stop using the aliased fork and go with the official Prettier to save folks from all the hassle that it creates, even if that is independent from the WordPress packages.

[2021-09-17 07:57] tellthemachines commented on #34041
Hey folks, I just did rough draft of using the appender to add Nav links by default in #34899 . Feel free to have a play and let me know what you think!

[2021-09-17 08:09] talldan commented on #31241
What's left to do on this one?

From what I can see there's no editor 'more' menu, but I think that can come a bit later.

[2021-09-17 08:11] Mamaduka commented on #31241
I think that will be part of the #34859.

[2021-09-17 08:14] talldan commented on #34035
This should be improved quite a bit now with some recent styling fixes. I think the only things that's the same as the screenshot are the item placeholders.

@javierarce Would you be able to look at the latest version in `trunk` to see if there's anything you think can be improved?

[2021-09-17 08:31] getdave commented on #34266
Let's do it!

[2021-09-17 08:40] karmatosed commented on #34041
@jasmussen I like this iteration because it focuses on single tasks and takes me through the flow a lot more than previous versions of navigation. I think that might have been one of the roots of past navigation mistakes, trying to surface too much.

One concern I do have is knowledge of the term transform, but I think that might be negated with some expectations around the flow. I would probably

[2021-09-17 08:59] javierarce opened #34901 "Improve notices style"
### Description

While working [on this issue](https://github.com/WordPress/gutenberg/issues/31100) I noticed that we have a problem with the, well, notices. The current implementation differs noticeably (pun intended) from the original design.

Here's a comparison between the implementation (left) and the ideal version (right)

![image](https://user-images.githubusercontent.com/4933/133756694-f8c

[2021-09-17 09:05] #31100 closed, assigned to Mamaduka

[2021-09-17 09:15] fluiddot commented on #34794
Closing this issue as it has been addressed in [this PR](https://github.com/WordPress/gutenberg/pull/34873) and included in version `1.61.1`.

[2021-09-17 09:15] #34794 closed, assigned to nobody

[2021-09-17 09:53] fluiddot commented on #33593
Thanks @ceyhun for reviewing the PR ❤️ !

I tried both with and without metro. I also tried with simulator and a real device. Here's a recording of how it looks for me on iPhone 11 Pro, iOS 14.8, with metro connected, on free WP.com site. Let me know if I missed a step or if I should try with another combination.

It can be a bit tricky to reproduce it because you have to close the post right afte

[2021-09-17 10:00] javierarce commented on #34901
The notice that appears when there is a backup post looks better, by the way, ad I see why the X is not really black: that color is reserved for the hover version.

<img width="950" alt="Screenshot 2021-09-17 at 11 57 42" src="https://user-images.githubusercontent.com/4933/133764488-6dde78c6-82ae-47a4-9343-6863fd729585.png">

I now wonder if the problem with the notice error is only related to tha

[2021-09-17 10:11] #34879 closed, assigned to Mamaduka

[2021-09-17 10:15] javierarce commented on #34901
Here's another problematic notice that appears when you try to upload an unsupported file to the Media Block (the actual text should also be improved, by the way)

<img width="627" alt="Screenshot 2021-09-17 at 12 13 59" src="https://user-images.githubusercontent.com/4933/133766646-549fd08e-5060-46a2-91cf-6234a02d566a.png">

[2021-09-17 10:17] Mamaduka commented on #34901
The "X" button position is my fault in Navigation Screen. I will fix it in follow-up PR. 🙇

[2021-09-17 10:21] javierarce commented on #34901
Thanks, @Mamaduka!… I wasn't sure if that was a localized problem or something more general, I should have looked for more examples before creating this issue :/

[2021-09-17 10:53] Mamaduka commented on #34901
@javierarce fixed the button position issue in this PR #34903.

[2021-09-17 11:11] MillefoliumInk opened #34905 "Default Colors defined in functions.php do not work, but Custom Color does"
### Description

Hi Guys,

I removed the Wordpress Default Colors and added my own using [taken from this tutorial](https://wpdevelopment.courses/articles/gutenberg-colour-settings/):
`function wpdc_add_custom_gutenberg_color_palette() {
	add_theme_support(
		'editor-color-palette',
		[
			[
				'name'  => esc_html__( 'Coral Cloud', 'wpdc' ),
				'slug'  => 'coral-cloud',
				'color' => '#E2A9A1',

[2021-09-17 11:20] javierarce commented on #34778
Thanks for this review, @karmatosed!

There was a short conversation around that screen in this (already closed) [pull request](https://github.com/WordPress/gutenberg/pull/34568#issuecomment-913515320), so this issue is great to bring out some ideas from there.

In my opinion, we should get rid of this state and instead show an empty menu. That will simplify the process of creating navigations (bu

[2021-09-17 11:31] javierarce commented on #34901
@Mamaduka thanks! I reviewed it and saw that the fix works.

I'll leave this issue open to address the other problems I described.

[2021-09-17 11:32] #34905 closed, assigned to nobody

[2021-09-17 11:45] paaljoachim commented on #34529
I am thinking Isabel @tellthemachines Jorge @jorgefilipecosta and Andre @oandregal might have some CSS/Global and theme.json thoughts to share here.

[2021-09-17 11:48] karmatosed commented on #34778
I think I'd need to see that idea of using the welcome guide instead, but I'm super curious about it. I certainly think this screen isn't the best.

Whilst I understand that, it is an expected pattern in WordPress, I think we could find people therefore assuming it would be there to add all. That doesn't mean it has to be on this screen, though - I can't recall if there was an easy 'select all' on

[2021-09-17 11:55] mkkeck commented on #34782
That' not really true.

See #33436, #34575 or #34658 for example.

[2021-09-17 12:03] karmatosed commented on #34206
I don't think this needs design feedback as feels like it's on a non-interface level but I do like the idea of complete disabling myself. For now I am going to triage away that label though.

[2021-09-17 12:27] ciampo opened #34907 "Components: Update `Navigator` components — Tracking Issue"
_This is an overview issue to track all of the tasks necessary to introduce and refine the set of `Navigator` components, especially in the context of using it in the updated Global Styles Sidebar._

As discussed in numerous previous issues and PRs (#34885, #32923, #34904), the current set of Navigation components feels limited, as it is quite tailored to representing nested menus, and has a quite

[2021-09-17 12:34] scruffian commented on #34588
Yes I love this idea!

[2021-09-17 12:36] ciampo commented on #34907
A brief recap of what's happened so far:

- In #32923 we started to try and move the Global Styles Sidebar prototype from https://github.com/ItsJonQ/g2/pull/293 into Gutenberg as a Storybook example. We agreed to keep the Navigation/Routing set of components coming from the prototype, as they seemed to work well enough. The plan was to focus on other areas of the prototype, and come back to the na

[2021-09-17 12:57] fabiankaegy commented on #33378
Thanks for your thoughts here :) and yeah I went down the route of multiple webpack instances like you show in your code example.

I don't think here is anything actionable we can do here right now so agreed and closing (y)

[2021-09-17 12:57] #33378 closed, assigned to nobody

[2021-09-17 13:04] ndiego opened #34909 "Display issue with HTML Block inside of a Row Block in the Editor"
### Description

I was testing the new Row Block and discovered a small issue in the editor when using an HTML block. The HTML content is contained in an iframe and also seems to be wrapping in a `div`. This iframe and `div` obviously do not appear on the frontend. In the editor however, they both have a width of 100%. Under normal circumstances, this seems like a logical default. However, when pl

[2021-09-17 13:10] mkkeck commented on #19041
Here is a solution, how to overwrite, add, remove social services for the WordPress block `social-link`:

[Patched WordPress block `core/social-link`](https://gist.github.com/mkkeck/84fe5fda939002fcf210d66b99de7c0f)

This solution does not require to code the list for the social service more than once, and supports loading a JSON file with the social services from theme folder.

Example json:
[cod

[2021-09-17 13:16] sc0ttkclark commented on #34882
All this sounds great to me, for now I'm using my own custom URL argument that I look for in the REST API, in the future I will switch that to the new param name (and in a future WP version I can remove that custom handling).

[2021-09-17 13:21] ndiego commented on #34896
Hi @SeanFordyce, I just tested and this seems to be a conflict between Ultimate add-ons for Gutenberg and the newest version of Gutenberg. If you uninstall the plugin, the issues go away. Therefore, I would submit a support ticket in their [support forum](https://wordpress.org/support/plugin/ultimate-addons-for-gutenberg/) on WordPress.org. The plugin author will need to fix in their plugin.