[2022-05-30 16:53] markhowellsmead commented on #41431
Column or columns?

[2022-05-30 16:53] dennisheiden commented on #41431
single column

[2022-05-30 16:56] markhowellsmead commented on #41431
Using WordPress 6.0, the `display` value of the column block isn't overridden, so it's set to `display: block`. The columns block is set to `display: flex`, which is correct.

[2022-05-30 17:14] dennisheiden commented on #41431
Ok, thanks for the clarification. I get classes like "wp-container-44" on my blocks. I don't know if those come from the Gutenberg plugin or from another plugin. At least with your info I can check further. Display block, good to know. ty

[2022-05-30 17:15] markhowellsmead commented on #41431
They come from WordPress core and/or the Gutenberg plugin, but they don't always apply flexbox rules.

[2022-05-30 17:33] stokesman commented on #40692
Nicely detailed suggestions @Nyiriland. The main issue here should now be resolved by https://github.com/WordPress/gutenberg/pull/41222. The issue noted by @mghenciu should be resolved by https://github.com/WordPress/gutenberg/pull/41223.

It looks like this issue could be closed. The unaddressed suggestion is:

There may be another open issue to which the suggestion could be appended.

[2022-05-30 17:38] #39896 closed, assigned to nobody

[2022-05-30 17:52] critterverse commented on #41336
I thought a bit about Gutenberg's split between a block's primary tools (toolbar) and secondary/advanced tools (inspector sidebar) in [this blog post](https://critterverse.blog/2021/03/15/user-autonomy-and-block-controls/) last year, and looked at how other site builders handle secondary controls. A few of the builders I looked into group the bulk of their tools together, but it seems that most sp

[2022-05-30 17:52] coreyworrell opened #41440 "Allow custom order by options for query block"
## What problem does this address?

Currently you can only select from two order options (date or alpha). Allowing other options would be very helpful (modified date, menu_order, etc).

## What is your proposed solution?

Add a filter or something to be used to extend the options [provided here](https://github.com/WordPress/gutenberg/blob/f6a75904cbf4979be6213034e1459ff1c397a948/packages/block-lib

[2022-05-30 17:54] coreyworrell opened #41441 "Unable to add a class to query block list item"
## What problem does this address?

Pretty much all blocks allow a custom CSS class name to be provided. But query block does not allow you to set a list item class. This can be very useful for using utility classes and such. Currently you can add classes to the query block, the post template wrapper, and then each block inside, but not the actual direct child of the post template block, the `<li>

[2022-05-30 18:06] annezazu commented on #29388
Along the same lines of the above exploration, I wanted to include an idea from Ed Beck that was [shared in the FSE Outreach Program's slack channel. ](https://wordpress.slack.com/archives/C015GUFFC00/p1653570460134399?thread_ts=1653501320.621739&cid=C015GUFFC00). TLDR: what if style variations could be less "all or nothing" and instead split out into a few areas that users could pick and choose f

[2022-05-30 18:55] coreyworrell commented on #40516
Noticing this issue now as well. Having a block gap is very useful for use between elements inside of a block (buttons, gallery grid items, etc), but I do not think that it should be used for spacing between blocks themselves. A separate variable should be used for this purpose. I also don't think that the container CSS should be so opinionated (setting margins, max-widths, use of "owl" selector),

[2022-05-30 19:07] deborah86 commented on #41336
@critterverse General feedback from users is that WordPress is hard to use. Maybe having the tools there is beneficial for advanced users. For, beginners, having the tools in two separate locations makes the editor too difficult to use. A compromise is to add the tool in two locations. The block panel and the top bar.

Webflow, your biggest competitor, is often cited as being easier to use. Their

[2022-05-30 19:20] deborah86 commented on #41336
@priethor I understand your sentiment and how you imagine the use of the toolbar. You must understand that what makes sense for a developer will not make sense for average users. It is easier for an average user to find tools when they are all in the same place.

[2022-05-30 19:24] annezazu commented on #39663
cc @getdave in case you might have insight here!

[2022-05-30 19:31] deborah86 commented on #41242
@adamwoodnz Moving the issue over to Openverse depends on the focus of the tool. Is the focus on Openverse just images? Will it expand into fonts, or should it be a separate directory like ones available for plugins and themes? Fonts fall under a different type of license than media (images, audio, video, etc.). That also must be taken into consideration.

[2022-05-30 19:34] deborah86 commented on #41244
I created the ticket here: [The Manage Themes Screen Needs to Indicate Clear User Actions](https://core.trac.wordpress.org/ticket/55878#ticket)

[2022-05-30 19:35] #41244 closed, assigned to nobody

[2022-05-30 19:39] ockham commented on #40617
That might be a viable solution 🤔 and it would certainly _look_ nicer than the warnings do now 😅 Do we still need some kind of UI to inform the user about the reason why the block isn't present? (To avoid frustration if they're unaware that some kind of setting is preventing the block from being present and/or insertable.)

It does however mean that once the user has changed that setting, they'll

[2022-05-30 20:18] deborah86 opened #41442 "Separate Page Editor from Blog Post Editor"
## What problem does this address?

New users find it difficult to get blog posts out quickly because of all the options available in the Gutenberg editor. The options available are geared towards creating a well-designed page rather than writing blog post content. It is easier for a user to create a blog post on a website like Medium than it is for them to create a blog post on WordPress.
## What

[2022-05-30 20:32] deborah86 commented on #41250
I created the ticket here: [Add the Ability to Allow/Disallow Auto-Update for Multiple Themes on the Theme Page](https://core.trac.wordpress.org/ticket/55879#ticket)

[2022-05-30 20:37] gziolo commented on #41094
Yes, exactly that. Thank you!

[2022-05-30 21:19] adamwoodnz commented on #37692
Closing following triage policy

[2022-05-30 21:19] #37692 closed, assigned to nobody

[2022-05-30 21:20] adamwoodnz commented on #37896
Closing following triage policy

[2022-05-30 21:20] #37896 closed, assigned to nobody

[2022-05-30 21:21] adamwoodnz commented on #37960
Closing following triage policy

[2022-05-30 21:21] #37960 closed, assigned to nobody

[2022-05-30 21:23] adamwoodnz commented on #38223
Closing following triage policy

[2022-05-30 21:23] #38223 closed, assigned to nobody

[2022-05-30 21:25] adamwoodnz commented on #38159
Closing following triage policy. Please reopen if Gutenberg 12.4 did not fix the issue.

[2022-05-30 21:25] #38159 closed, assigned to nobody

[2022-05-30 21:25] adamwoodnz commented on #38499
Closing following triage policy

[2022-05-30 21:25] #38499 closed, assigned to nobody

[2022-05-30 21:43] adamwoodnz commented on #38878
I don't believe this is true. From my testing I too can add a class to a link using 'Edit as HTML', and it is able to be published.

The issue I see (and I think this is what @talldan found as well), is that if the link is edited afterwards (text or URL) the class is removed. As such I think it should be treated as a bug and in order to get this addressed the title should be changed to 'Link editi

[2022-05-30 22:09] adamwoodnz commented on #7806
Closing following triage policy

[2022-05-30 22:09] #7806 closed

[2022-05-30 22:18] adamwoodnz commented on #39375
Also not able to repro. Closing following triage policy.

[2022-05-30 22:18] #39375 closed, assigned to nobody

[2022-05-30 22:57] frogdesk commented on #38878
That may be a bug, but it was also a completely ridiculous move to remove the ability to add this via the GUI.

[2022-05-30 22:58] annezazu commented on #28175
Closing this out as the current notice does stick and, if you click on it, you can dismiss it :)

[2022-05-30 22:58] #28175 closed

[2022-05-30 23:01] annezazu commented on #27899
Going to close this out as other issues cover this dynamic in a more comprehensive and up to date way (like https://github.com/WordPress/gutenberg/issues/27847)

[2022-05-30 23:01] #27899 closed

[2022-05-30 23:09] mateuswetah commented on #36127
@mcsf, can't express how enlightening your comment was... I've been trying to do this for a while. I feel like there should be some mention to these dynamic blocks incompatibility with the client-side filters here:
https://developer.wordpress.org/block-editor/reference-guides/filters/block-filters.
It makes all sense once you now the internals, but really, for new developers that are just building

[2022-05-30 23:43] #40936 closed, assigned to nobody

[2022-05-31 00:00] adamwoodnz commented on #38878
We feel your frustration. A ticket tracking Link Control enhancement now covers this functionality: https://github.com/WordPress/gutenberg/issues/23011#issuecomment-1047766085

If you’d like this bug addressed separately I’d suggest updating the title and description to help our community maintainers work on it.

[2022-05-31 00:18] glendaviesnz commented on #41431
The addition of a css var to set the default could maybe be considered as part of [this work](https://github.com/WordPress/gutenberg/pull/41123) which adds a css var for the gap in a similar way to the gallery block.

[2022-05-31 00:56] glendaviesnz opened #41443 "Element block styles from theme.json not applied in frontend"
### Description

Since #41160 was merged, custom block element styles in a `theme.json` file are not being applied in the frontend, but are still applied in the editor.

### Step-by-step reproduction instructions

- In a block based theme add the following to `theme.json` styles.blocks section

[code]

- Add a columns block and within it nest an `h2` header, and see if it displays with black backg

[2022-05-31 01:05] ramonjd commented on #41431
Thanks for linking to that [PR](https://github.com/WordPress/gutenberg/pull/41123). I'm not sure it addresses this enhancement request because, while it does create a new CSS var to house the columns block gap spacing value `--wp--style--unstable-columns-gap`, I'm using it explicitly as an offset value in order to stack columns in a tablet view.

Not to say we can't extend it's usage, but it's not

[2022-05-31 01:13] glendaviesnz commented on #41443
@scruffian I will try and get some time this afternoon to take a look at this, but if not you may have some thoughts overnight as probably good to get a fix into 13.4 if possible

[2022-05-31 01:14] stokesman commented on #21370
I tested this using the snippet provided by @HardeepAsrani and this seems to no longer be an issue. The popover closes no matter where I click.

https://user-images.githubusercontent.com/9000376/171073768-2fb5f1c5-ef34-4e32-a438-8138c0549913.mp4

Tested with Gutenberg as running at wordpress.org/gutenberg on macOS/Firefox 100.

I'm closing this but let me know if I missed something and I'll reopen

[2022-05-31 01:14] #21370 closed

[2022-05-31 01:19] ramonjd commented on #41443
I'm seeing the following error:

[code]

Looks like the following line –

[code]

– is trying to grab a name from this object:

[code]

Not sure if the fix is in that method yet!

_Edit_:

I am very sure this is not the right fix, but it demonstrates that we need to handle block styles separately

<details>

<summary>Example</summary>

[code]

</details>

[2022-05-31 02:29] adamwoodnz commented on #39596
After debugging this I believe the issue is that the image previewed in the editor has no width applied. ie. the `64` in the settings has no effect. When I add `width: 64px` to the `.custom-logo-link` styles the issue is fixed, even with `position: fixed`. Maybe add that to your stylesheet?

![Screen Shot 2022-05-31 at 2 20 27 PM](https://user-images.githubusercontent.com/1017872/171080099-54bb08d

[2022-05-31 02:32] adamwoodnz commented on #39596
Please close if this resolves your issue

[2022-05-31 02:34] adamwoodnz commented on #29777
Closing following triage policy

[2022-05-31 02:34] #29777 closed

[2022-05-31 02:41] glendaviesnz commented on #41443
This fix works for me @ramonjd . The one issue with it I can see is that it outputs the styles even if the particular block/element combination is not in the content ... but it is difficult to see an easy workaround for that as with the example given parsing all the column blocks on the page to see if they contain an h2 would be expensive.

[2022-05-31 03:33] adamwoodnz commented on #38965
@LogicalHighs I managed to get something working similar to what you're after using Columns in Twenty Twenty-One:

![Screen Shot 2022-05-31 at 3 27 46 PM](https://user-images.githubusercontent.com/1017872/171087199-920e535e-6dc9-4f5c-ab7d-c2391921fdb5.png)

Hope this helps. If not please ask for more help in the [forums](https://wordpress.org/support/welcome/).

[2022-05-31 03:33] #38965 closed, assigned to nobody

[2022-05-31 03:37] adamwoodnz commented on #39203
Closing following triage policy

[2022-05-31 03:37] #39203 closed, assigned to nobody

[2022-05-31 03:40] adamwoodnz commented on #26760
Closing following triage policy

[2022-05-31 03:40] #26760 closed

[2022-05-31 03:52] AdsonCicilioti commented on #32644
+1
Negative values for spacing fields. Essential for layout building.

[2022-05-31 04:01] LogicalHighs commented on #38965
Thank you for the help. That will not allow text wrap to function. I did find a work around, I went to the site settings and made the text width and the wide width the same number. That forced the context to meet the wide width and the text wrap to look proper. If I need a page that will be more narrow, it will cause more issues, but at this point I don’t expect that to be an issue.

Chuck

[2022-05-31 04:10] adamwoodnz commented on #40813
Could you please show me some code for how you're styling paragraphs in theme.json (5)?

[2022-05-31 04:13] mirka opened #41447 "FormTokenField: Styling is broken when `isBorderless`"
When the `isBorderless` prop is `true`, the styling of the tokens are broken. The "delete" icon is jammed too close.

## Screenshot

<img width="46" alt="Broken borderless token styling" src="https://user-images.githubusercontent.com/555336/171091131-92cf6c99-d9b8-4564-bf14-933245bc4424.png">

## Screen recording

https://user-images.githubusercontent.com/555336/171091093-9f1c4fa6-5008-40d9-8259-d

[2022-05-31 04:42] adamwoodnz commented on #40492
Thanks @Khaos22 I can see the most used tags list on posts I create. You can click each of the most used tags to add them to your post so that you don't have to type them. I believe that's the main reason to have them displayed there, and should be pretty fast.

As for bulk applying tags the easiest way might be to have a string saved somewhere with all your tags comma separated ready to paste int

[2022-05-31 04:55] adamwoodnz opened #41448 "Gallery Block docs update: 'Edit as HTML' option no longer supported in 6.0"
The [docs for the Gallery Block](https://wordpress.org/support/article/gallery-block/) still include an `Edit as HTML` option, however this has been removed from the editor in 6.0, see PR https://github.com/WordPress/gutenberg/issues/39310.

Docs entry:
![Screen Shot 2022-05-31 at 4 52 17 PM](https://user-images.githubusercontent.com/1017872/171095401-ffc3cccb-ca3e-43be-813d-c4af5b965aef.png)

No

[2022-05-31 05:05] aaronrobertshaw commented on #41376
I appreciate the clarification and additional thoughts @bdurette 👍

I did have a look around within the editor and I couldn't find another instance where a simple popover menu needed a click to dismiss first. I do acknowledge that some menus in some applications function as you describe. Making this one menu function differently sounds like with some creative thinking we can keep that consistent w

[2022-05-31 05:56] simonwammerfors commented on #40813
Hi
[code]
This is what I use. The inline styles for the p elements also shows up front-end but is overridden by the margin-block-start and margin-block-end rules.

![Skärmavbild 2022-05-31 kl  07 54 23](https://user-images.githubusercontent.com/88452801/171102636-1a60a4bf-2c17-463b-88ff-a3a5cb4fd9b7.png)

[2022-05-31 07:21] andrewserong commented on #39336
**Update 2022/05/31:**

One of the main areas I've been looking into is how we can render out blockGap values at the block level in `theme.json` by using a classnames approach. The PR to implement this is still WIP, but folks can take a look at progress in: https://github.com/WordPress/gutenberg/pull/40875

The current goals / explorations of that PR are:

* Add a set of layout definitions to `the

[2022-05-31 08:18] jameskoster opened #41449 "Template panel: "Default template" can be a confusing option label"
<img width="296" alt="Screenshot 2022-05-31 at 09 14 20" src="https://user-images.githubusercontent.com/846565/171125794-2df80385-1d5a-4f5d-94e1-2e76ef3f33ae.png">

All options in the dropdown explicitly use the template name as the label, except for the "Default template" option. This can be confusing if you then go to the Site Editor to edit this template, only to find that "Default template" do

[2022-05-31 08:28] madhusudhand opened #41450 "Comments button block: doesn't inherit font family"
### Description

Unlike other buttons and inputs (of comments block), Comments button doesn't inherit the font-family.
It is set to default system font.

### Step-by-step reproduction instructions

Set a font-family of your choice to body
Observe that button block inherits the font, but not comments button.

### Screenshots, screen recording, code snippet

Button block:
<img width="387" alt="image

[2022-05-31 08:31] madhusudhand commented on #41450
Closing as its specific to few themes.

[2022-05-31 08:31] #41450 closed, assigned to nobody

[2022-05-31 08:37] ntsekouras commented on #40996
Thanks for the issue @madhusudhand!

That is intended and should be that way, as we have explicitly set the `Query` to inherit the global query. It's also true that if we toggle to `inherit`, we hide the `per_page` settings in the block toolbar. We also have logic in the block to get the value from settings if we create a new `Query` and the `per_page` option is not set and the `inherit` is `true`

[2022-05-31 08:39] #40431 closed, assigned to draganescu

[2022-05-31 08:46] draganescu commented on #38373
This is likely to never get a fix (see https://github.com/WordPress/gutenberg/pull/38748) as the solutions would be very fragile and the situation is very exotic.

[2022-05-31 08:46] #38373 closed, assigned to nobody

[2022-05-31 08:52] ntsekouras commented on #38373
I [have a POC](https://github.com/WordPress/gutenberg/pull/38662) from a while ago with another approach. It could use some feedback/thoughts 😄

[2022-05-31 09:01] draganescu commented on #21975
This does not appear to be an issue anymore as the text size control switched to a segmented control instead of a select.

[2022-05-31 09:26] SantosGuillamot opened #41451 "Comments blocks backports and fixes: Tracking issue"
Supersedes #34994

The goal of this issue is to list and keep track of some issues related to the Comments blocks that are planned to be included in 6.0.1. For full context about the Comments blocks, please take a look at the original [tracking issue](https://github.com/WordPress/gutenberg/issues/34994).

There is one PR that has already been merged but wasn't included in 6.0 so it needs a backpor

[2022-05-31 09:27] SantosGuillamot commented on #34994
Closing this in favor of #41451

[2022-05-31 09:27] #34994 closed, assigned to SantosGuillamot

[2022-05-31 09:28] jameskoster commented on #40617
Good question.

You know what, I'm going to go full circle here and suggest we stick with the errors. In addition to the point above, it seems very tricky to reliably handle the exclusion of relevant blocks because there are so many variables at play.

We need the errors as a fallback anyway due the fact that folks can directly paste blocks in. Sorry for the indecision! Maybe we can circle back to

[2022-05-31 09:44] draganescu commented on #17194
I believe it is time to close this issue. In the past two years:

* The navigation editor work has been sidelined in favor of introducing an isolated navigation editor for the site editor
* The classic menu block explorations were a dead end
* Adding blocks to classic menus did not seem like an achievable and worthwhile endeavour

Therefore the discussions here are obsolete.

[2022-05-31 09:44] #17194 closed

[2022-05-31 09:48] draganescu commented on #14687
Tested again and with the new color controls on paragraphs and other blocks (also tested the cover block) this does not seem to be a problem anymore.

[2022-05-31 09:48] #14687 closed

[2022-05-31 09:50] draganescu commented on #38373
@ntsekouras is https://github.com/WordPress/gutenberg/pull/38662 more likely to solve #22269 ?

[2022-05-31 09:53] jameskoster opened #41452 "Post editor: Template panel should adapt when explicit template exists"
Follow up to https://github.com/WordPress/gutenberg/pull/41189.

When a template exists that automatically resolves to display a specific post or page (e.g. `single-post-$slug`), the Template panel in the post editor will need some adjustments when editing the corresponding post:

* It should not be possible to create a new template – this is misleading as it suggests the new template could be app

[2022-05-31 09:55] draganescu commented on #29102
I will close this tracking issue for the time being. The work continues on the navigation block.

[2022-05-31 09:59] jameskoster commented on #41258
In situations where an explicit template exists the dropdown could behave like so:

<img width="640" alt="Screenshot 2022-05-31 at 10 59 08" src="https://user-images.githubusercontent.com/846565/171148035-cd615d1a-ebae-4767-9173-26188b3871a4.png">

[2022-05-31 10:13] ponderboy commented on #39596
No, it still shows up in different size. I use css clip-path for the link. That might be a reason. Guess it's sort of an edge case. Working with wordpress always gives me hurdles when I leave the common way of design / structure the system uses.

Lot's of other little issues with the wp editor in relation to the new theming (block mark up). But at the moment I have no time to investigate deeper in

[2022-05-31 10:38] eri-trabiccolo opened #41453 "WordPress 6.0 - Cannot add a block's variation when its `icon` attribute is an Object and the `scope` attribute includes 'transform'"
### Description

Hi there, I'm one of the developer of the [LifterLMS plugin](https://wordpress.org/plugins/lifterlms/). One of our customers [reported an issue](https://github.com/gocodebox/lifterlms-blocks/issues/170) as they were unable to edit one of our specific blocks since updating to WordPress 6.0.
We've been able to troubleshoot the issue and reduce it to something that happens with whate

[2022-05-31 10:53] madhusudhand commented on #40996
Thanks @carolinan @ntsekouras for the inputs and details of the behaviour 😄. This helps resolving my issue.
Please consider it as resolved.

[2022-05-31 11:30] Mamaduka commented on #29690
Hi, @skorasaurus

I'm no longer able to reproduce this issue, at least with the button block.

[2022-05-31 11:42] #40996 closed, assigned to nobody

[2022-05-31 12:04] shimotmk commented on #40463
Hi @ramonjd
I have reworked this branch to calculate the character limit from the character width.
Could you please take a look at it?
https://github.com/WordPress/gutenberg/pull/41455

[2022-05-31 12:33] mirka opened #41456 "Storybook: Add smoke tests"
## What problem does this address?

Sometimes the code changes in a PR can inadvertently break a Storybook story, but nobody notices until much later (e.g #41263). At this point, it gets much harder to pin down the cause.

Since the Storybook is filled with realistic usage examples, a story breaking can very much mean that third-party consumers will also be affected.

## What is your proposed solu

[2022-05-31 13:27] skorasaurus commented on #29690
Thanks for checking; although I'm still able to reproduce it on gutenberg 13.3.0.

[2022-05-31 13:50] #40693 closed, assigned to nobody

[2022-05-31 13:58] namithj opened #41458 "TextControls under PanelRow is not being set to full width in PluginDocumentSettingPanel"
### Description

If you create a Document Settings Panel and use PanelRow to seperate TextControls within the panel, the Text controls wont extend full width on the panel.  The behaviour changes back to full width if PanelRow is not used.
Potential CSS issue

### Step-by-step reproduction instructions

1) Create a Document Settings Panel
2) Add PanelRow and TextControls within it.
3) It wont be fu

[2022-05-31 14:01] mirka opened #41459 "ColorPalette: Contrast checking doesn't work with CSS variables"
The ColorPalette component uses the `contrast()` function of the  `colord` library to decide whether to render the text label of the color in black or white.

This does not work when the color value is a CSS variable. We'd probably need to do something like `getComputedStyle( bgElement ).getPropertyValue( '--my-color' )` to get the actual color value to pass to `colord`.

## Screenshot

<img src="

[2022-05-31 14:04] skorasaurus commented on #41416
Thank you for the responses @markhowellsmead

Interesting, this behavior is different than it is for me; what happens for me (and what is the intended behavior - I think, not 100%) is that when a current text selection (and is highlighted) and then you **press delete or backspace**, only the current text selection is deleted. It sounds like for you,  the entire block and all of its content, even i

[2022-05-31 14:08] markhowellsmead commented on #41416
No, the result is different, as explained above.

Brave (Chromium) on OSX (12.4).

I'd say that the chances are slim for a regular user finding this out. The regular behaviour in OSX outside Gutenberg is that the home button jumps to the top of the page, so this modification in Gutenberg isn't an established interaction pattern.

[2022-05-31 14:09] critterverse commented on #41336
Awesome, thanks for reading and sharing these examples @deborah86!

I didn’t include Figma in the audit part of my post for this reason, but just as a side note: Figma is a huge source of inspiration for many WP design contributors. While it's a very different tool, we share many of the same challenges and I find that we frequently reference their handling of design tools, interactions modes/model

[2022-05-31 14:44] ockham commented on #41451
We might wanna add [this issue](https://github.com/WordPress/gutenberg/issues/41308) which already has an in-progress [PR](https://github.com/WordPress/gutenberg/pull/41354).

[2022-05-31 15:03] Mamaduka commented on #29690
@skorasaurus, sorry, I think I missed the step in testing. Now I'm also able to reproduce this.

[2022-05-31 15:08] annezazu commented on #41436
@carolinan or @jffng would love your thoughts (and possible solutions) for this. I understand [TT2 requires 5.9](https://wordpress.org/support/article/twenty-twenty-two/) but I agree that there needs to be a better way of handling activation on an older version of WP.

[2022-05-31 15:09] mirka commented on #41276
After some testing, my impression is that this is a bug somewhere in process where the block commits the value to a block attribute. In the screen recording, it looks like the block attribute isn't updated at all on blur.

On the component side, it seems to be working as expected. Decimal precision is dictated by these `step` values:

https://github.com/WordPress/gutenberg/blob/77d5d9198851856c2c7

[2022-05-31 15:12] skorasaurus commented on #41416
Excellent, this is (at least) one bug then! Could you share if you also experience this on chrome and firefox?

This is tricky because this pattern vary across operating systems:

It is a common shortcut where in linux; `home` takes you the beginning of the line and control + home takes you to the beginning of the document (sublime, gedit, MS Visual Studio Code; and [bash](https://www.howtogeek.co

[2022-05-31 15:25] markhowellsmead commented on #41416
After cross-checking all current browsers, including Safari, it seems that I was mistaken. Using the delete button or the backspace button only deletes text which has been selected. The other issues, including cross-boundary selection, remain.

[2022-05-31 15:27] AlexxAccount commented on #41263
The issue is due to a change to __experimentalGetCoreBlocks which affects registerCoreBlocks. It was changed 24 days ago ([repo](https://github.com/WordPress/gutenberg/blame/trunk/packages/block-library/src/index.js)), which is why v13.1.0 works fine. It's a problem with the destructuring assignment of 'metadata', I have no idea for a solution.

[2022-05-31 16:07] fluiddot opened #41462 "Highlight text: Color of highlighted text is not preserved when setting text color in the text block"
## Description

On a text block (e.g. Paragraph block) setting a text color changes the color displayed for all its content, including the parts that are highlighted with a different color. This behavior differs from the web version of the editor.

## Step-by-step reproduction instructions

1. Add a Paragraph block.
2. Type some text.
3. Select a word.
4. Tap on the Highlight text format button lo

[2022-05-31 16:25] ALJ commented on #37943
@critterverse Considering the label "Template" is pulling a lot of weight in WordPress at the moment (block templates, page templates), should we use the already-defined "Template Parts", instead? Or is it intentional to refer to "Template Parts" as "Templates" in the context of PHP themes?

I'll echo Fabian's note: for the controlled client sites I work on, it's not necessary to allow editors to

[2022-05-31 16:32] kurtextrem opened #41464 "Slack emoji break Gutenberg/P2tenberg pasting text over from Slack"
### Description

I tried copying over a text from Slack to the P2tenberg editor, and for some reason nothing happened. The culprit seems to be the emoji in the HTML that is copied from Slack.

The following things are logged to the DevTools console:

<details>
<summary>Full HTML ("Received HTML")</summary>

[code]
</details>

<details>
<summary>Received plain text:</summary>

[code]
</details>

<d

[2022-05-31 16:38] fluiddot opened #41465 "Gallery block: Re-introduce `v1`"
## What problem does this address?

The Gallery block supports two different versions of the block:
- `v1`: The gallery item is rendered using a custom component.
- `v2`: The gallery items are rendered as inner blocks using the Image block.

The version to use is determined by the global variable `galleryBlockV2Enabled` that is populated using the editor setting named `galleryWithImageBlocks`. Due

[2022-05-31 16:46] ciampo opened #41466 "Components: explore using `ariakit`'s `Select` component to implement `SelectControl` & related"
Currently, there a few components in the `@wordpress/components` package that build onto / expand the vanilla HTML `select` element:

- [`SelectControl`](https://wordpress.github.io/gutenberg/?path=/story/components-selectcontrol--default)
- [`CustomSelectControl`](https://wordpress.github.io/gutenberg/?path=/story/components-customselectcontrol--default)
- [`ComboboxControl`](https://wordpress.gi

[2022-05-31 17:13] skorasaurus opened #41467 "Unable to Select a Richtext block that immediately follows a non RichText Block; when using the keyboard shortcut"
### Description

I attempting to select a heading and a paragraph, two RichText elements, using the `control + up` shortcut introduced in #38892; but when the preceding block is a column, I cannot select only the heading and the paragraph;

At 11 seconds in the video, only the paragraph is selected; I press up once more, expecting to select only the heading block; but the heading block and all of

[2022-05-31 17:22] mcsf commented on #36127
Thanks, I'm glad it helped. :)

Yes, those docs could use some improvement for sure. They work in the small but not so much in the large; they could be complemented with a high-level explanation (in the vein of Matías's old [How Little Blocks Work](https://make.wordpress.org/core/2017/05/05/editor-how-little-blocks-work/) and our [The Language of Gutenberg](https://lamda.blog/2018/04/22/the-langua

[2022-05-31 17:33] Khaos22 commented on #40492
Is there anyway I can change any of the most used tags?

[2022-05-31 18:19] vasartam opened #41469 "Block attributes docs: missing `Saved content` code block in example of `multiline` prop usage"
## What problem does this address?

In the [html section of Block Attributes page](https://developer.wordpress.org/block-editor/reference-guides/block-api/block-attributes/#html) there is a "Saved content" code block missing. Because of that, for a person who is at the stage of researching the Gutenberg capabilities it is unclear what `multiline` prop does when using `source: 'html'` in block attr

[2022-05-31 19:10] critterverse commented on #37943
Good to know about not needing a pathway to create new Template Parts, thanks @fabiankaegy and @ALJ. I've gone ahead and removed that aspect from the mockups above.

[2022-05-31 20:15] adamwoodnz commented on #40492
No, they are dynamic by design. Sounds like you want a 'favorite tags' list.

[2022-05-31 20:23] Khaos22 commented on #40492
Is there a way to get a favorite tags list?

[2022-05-31 20:46] cbirdsong commented on #39372
I don't think setting out to create an "unstable" set of colors is a good idea, and I also don't think that anything about this idea will necessarily be tangled up in current design trends. The fundamentals of choosing colors to ensure legibility have been the same since the days of "[web-safe colors](https://en.wikipedia.org/wiki/Web_colors#Web-safe_colors)", and as long as the structure is groun

[2022-05-31 20:47] adamwoodnz commented on #40492
Not out of the box, it would need a plugin.

[2022-05-31 21:35] Khaos22 commented on #40492
Ok thank you

On Tue, May 31, 2022, 4:47 PM Adam Wood ***@***.***> wrote:

[2022-05-31 21:57] adamwoodnz commented on #40813
Thanks, I have reproduced this, with or without setting `settings.layout.contentSize` and `settings.layout.wideSize`.

This is a [CSS specificity](https://developer.mozilla.org/en-US/docs/Web/CSS/Specificity) issue; `.wp-container-7 > *` is more specific than `p` so it takes precedence.

https://github.com/WordPress/wordpress-develop/tree/trunk/src/wp-content/themes/twentytwentytwo is a good resou

[2022-05-31 22:11] supernovia commented on #39598
Agreed. If there were lot of other color options I could see hiding them, but link color changes are a pretty common ask.

[2022-05-31 23:03] annezazu commented on #41440
Hey @coreyworrell! Thanks for opening this up. It appears to be a duplicate of this issue https://github.com/WordPress/gutenberg/issues/40170 so I'm going to close that out and recommend that you follow along there. If this is incorrect though and I've misunderstood, just let me know and I'm happy to reopen :)

[2022-05-31 23:03] #41440 closed, assigned to nobody

[2022-05-31 23:05] annezazu commented on #41442
Hey there! I'm going to close this out as the premise of having yet another editor is unlikely for the project. However, you might appreciate this work in progress PR to offer a fairly robust distraction free mode: https://github.com/WordPress/gutenberg/pull/38928 I think it'll accomplish what you're looking for :)

[2022-05-31 23:05] #41442 closed, assigned to nobody

[2022-06-01 00:16] adamwoodnz commented on #30491
Closing following triage policy

[2022-06-01 00:16] #30491 closed, assigned to nobody

[2022-06-01 00:52] richardmorrison opened #41473 "Add Image block, Initial state on popup incorrect."
### Description

Using the Image Block in Gutenberg, when selecting the Media Library option, the pop up starts on the Upload tab, not the Media Library tab. And also stays on the selected option, when closing and re-opening the pop up.

<img width="324" alt="Screen Shot 2022-06-01 at 12 39 01 PM" src="https://user-images.githubusercontent.com/61720320/171305568-b24582d2-34b2-4f17-97b4-ced849a54d8

[2022-06-01 02:57] adamwoodnz commented on #31647
This is still reproducible in WordPress 6.0, even without the Gutenberg plugin activated.

Also happens on post title.

[2022-06-01 03:18] t-hamano commented on #41276
Thank you for the test!
I agree with you about the component's behavior is the intended behavior.

However, I'm concerned that users might be confused if the block attributes are adjusted to the component specifications, because the values that could previously be entered on the block side will now be truncated.

For example, if the unit is a percentage, some users might enter two decimal places a

[2022-06-01 03:40] annezazu commented on #41442
Copying over what you shared in the PR ^. Right now, WordPress is and has been pursuing a block based approach so I'm afraid to accomplish specifically what you're looking for (no blocks), you'll likely need to pursue a plugin. Otherwise, the reduced interface, in my mind, does address some of what you described here:

I'm bummed you don't see it the same way but wanted to ensure you were aware th

[2022-06-01 03:43] carolinan commented on #41436
WordPress should prevent the activation based on the minimum required version, even if Gutenberg is active and regardless of theme type.
Was this prevention method not built into WordPress 4.8 ?

[2022-06-01 04:13] adamwoodnz commented on #21538
Does this need more technical detail added for development?

[2022-06-01 04:30] adamwoodnz commented on #41448
Maybe should be covered in https://github.com/WordPress/Documentation-Issue-Tracker/issues/276

[2022-06-01 05:16] mirka commented on #41276
First of all, there is a bug (likely in the blocks) that doesn't respect the canonical value given by the component. So this should be investigated and fixed. Should this issue here be about fixing this bug specifically?

For any custom usage of UnitControl, consumers are free to pass their own array of units, including a `step` precision of their choice.

If you would like to propose changes in t

[2022-06-01 05:37] johngodley commented on #41464
Does the same thing happen in core Gutenberg? If so then it's probably best to edit this to remove mention of P2 as that is not part of the Gutenberg project. If it is specific to P2 then please report it directly to P2.

[2022-06-01 05:45] Emilya55 opened #41474 "Table of Content Issue"
### Description

Hi There!
My table of content feature is not working. When I put table of content in my website the whole post get vanished and show unknown error. BUt when I remove table of content the whole post came back? Plz let me know what will be the issue?
Here is the [URL](https://theprintero.com/best-7-wide-format-sublimation-printers-all-in-one-high-quality/) of my post which is showin

[2022-06-01 07:03] EmSixTeen commented on #18213
Want this too and just tried this, but doesn't seem to be working here - with or without the current Gutenberg (13.3.0) plugin.

A little disconcerting if this isn't just user error on my part but is instead just something else that's now defunct.

[2022-06-01 07:30] #41453 closed, assigned to ntsekouras

[2022-06-01 07:58] SaxonF commented on #41379
**Inserter**
@pablohoneyhoney I've updated to utilise existing editor styles, including sidebar spacing of 16px. A couple of small exceptions is a softer border colour, a background colour for menu item hover states, and lighter chevron on menu items. Patterns sidebar could also just be white rather than slightly opaque grey.

https://user-images.githubusercontent.com/1072756/171351475-0c83717f-d7

[2022-06-01 08:07] markhowellsmead commented on #18213
This option is now best controlled using the theme.json file. https://fullsiteediting.com/lessons/theme-json-color-options/#h-how-to-disable-gradients

[2022-06-01 09:08] sergiu-radu commented on #41124
Totally agree with @ddryo, we need a way to keep the `.wp-block-group__inner-container` when using the `theme.json` file in a classic theme.

[2022-06-01 09:37] gregrobsonoxb commented on #23810
If you're just looking for a simple way to change the rendered output in the backend use `is_admin()` ... worked for my needs.

[2022-06-01 09:55] draganescu commented on #40809
I am unable to reproduce this on `trunk`:

https://user-images.githubusercontent.com/107534/171378128-9eae2481-91c2-4adb-819a-0b5abbe1fbf1.mp4

[2022-06-01 10:29] #41157 closed, assigned to mirka

[2022-06-01 11:06] github-actions[bot] opened #41477 "[Flaky Test] inserts a block should show a blue line indicator"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
inserts a block should show a blue line indicator

## Test path
`/test/e2e/specs/editor/various/inserting-blocks.spec.js`

## Errors

<time datetime="2022-06-01T11:06:05.830Z"><code>[2022-06-01T11:06:05.830Z]</code></time> Test passed after 1 failed attempt on <a href="https

[2022-06-01 11:19] MvS-IT commented on #38599
Since WP 6.0 this does not work anymore

[2022-06-01 11:33] #40528 closed, assigned to amustaque97

[2022-06-01 11:35] gziolo commented on #40528
I have just landed https://github.com/WordPress/gutenberg/pull/41439 from @amustaque97. We should have the regular npm publishing happening today (or maybe later this week due to WordCamp EU). I hope this change resolve the issue for everyone 😄

[2022-06-01 13:16] MvS-IT commented on #38599
In WP 6.0 the following JS code works:

var navMenu = {
    ready: (callback) => {
        // In case the document is already rendered
        if (document.readyState!='loading') callback();
        else document.addEventListener('DOMContentLoaded', callback);
    },

    subMenuLinks: '',
    subMenuContainers: '',

    writeToLog: (message) =>{
        console.log( message )
    },

    toggleSu

[2022-06-01 13:39] mateuswetah opened #41478 "Group/Row Vertical Alignment applied only on editor side."
### Description

It seems that Group/Row Block's vertical alignment is only being applied in the editor side.

It starts with `"align-items: center"` . If I change it to "Top", it does goes `"align-items: flex-start"` in the editor-side container. But if a publish the page and go check on the theme, the `<div "wp-block-group">` does not receive any change and it's CSS remains on the default `"alig

[2022-06-01 13:50] mateuswetah commented on #41478
Uhmmm just checked that this seems to be working with the Gutenberg plugin enabled. I'll close it then, probably will be ported to 6.1 Sorry!

[2022-06-01 13:50] #41478 closed, assigned to nobody

[2022-06-01 13:57] eduard-co commented on #41124
Following this thread and agreeing with the statements above.

There are many use cases in which classic themes are still in use and with very good reason. This new change breaks the flow when using such systems, so it is a regression pretty much. I vote to return to the old behaviour.

[2022-06-01 14:04] ghost commented on #41173
I totally agree with @ZebulanStanphill

I wanted to use the toc in one of my widget areas to create a navigation within my posts. Now it only shows the headings, that are used in my admin-widget-area in all of my posts ^^

I created a workaround via a script that injects all headings dynamically into the menu but that should be the default in my opinion.

[2022-06-01 14:28] oldrup commented on #41124
As an experienced end user, having created most of my content in Gutenberg for years, the removal of the .wp-block-group__inner-container does mess up my layouts big time. I'm used to markup changes as Gutenberg evolves, and I update my styling accordingly, but this is too big a change.

I know the developers of the classic theme I'm using, are embracing the changes coming with theme.json, as am I

[2022-06-01 14:35] hypest commented on #38407
Updated the parent post with:

### 🛠️ Recently fixed or improved
++ [Ensure post title gets focused when is notified from native side](https://github.com/WordPress/gutenberg/pull/41371)
++ [Add E2E tests for the Drag & Drop blocks feature](https://github.com/WordPress/gutenberg/pull/41368)
++ [Add integration tests to cover Drag & Drop functionality](https://github.com/WordPress/gutenberg/pull/413

[2022-06-01 15:13] kathrynwp commented on #41474
Hi @Emilya55 - thanks for the report!

I haven't been able to replicate the issue so far. I inserted a table of contents, and it worked well. No errors, and no content was erased, either when previewing or publishing the page.

Could you please provide the following information to help us better understand how to replicate the issue:

- What version of WordPress are you using?
- If you also have t

[2022-06-01 15:23] overclokk commented on #41453
Hey grazie per la segnalazione, bug confermato e fixato 🤣🤣🤣

[2022-06-01 15:27] skorasaurus commented on #25282
Thanks for reporting; sounds like a core ticket so I'm closing this.

[2022-06-01 15:27] #25282 closed

[2022-06-01 15:27] hellofromtonya opened #41479 "Server-Side Font Face CSS Generation and Printing: Ongoing Roadmap (formerly the Fonts API)"
This is an epic ticket to share the ongoing roadmap including:
 - the vision of how this supports typography features (e.g. see https://github.com/WordPress/gutenberg/issues/41232 and https://github.com/WordPress/gutenberg/issues/45271).
 - tracking of ongoing work and needs in preparation for WordPress 6.4.

Updates:
- 28 July 2022 After discussing with @mtias, added the Font Library and FAQ sect

[2022-06-01 15:34] skorasaurus commented on #26409
started at https://developer.wordpress.org/block-editor/how-to-guides/block-tutorial/creating-dynamic-blocks/

[2022-06-01 15:38] skorasaurus commented on #26758
done in https://github.com/WordPress/gutenberg/pull/27524 :)

[2022-06-01 15:38] #26758 closed

[2022-06-01 15:41] skorasaurus commented on #27394
Is this still an issue ?

[2022-06-01 15:43] torounit opened #41480 "Unit test is broken."
### Description

Unit test fails and a large amount of HTML for the calendar is output to the log.

https://github.com/WordPress/gutenberg/actions/workflows/unit-test.yml
https://github.com/WordPress/gutenberg/runs/6690118780?check_suite_focus=true

This is happening both in trunk and in the branch I am working on right now. (https://github.com/WordPress/gutenberg/pull/41216)

This error did not o

[2022-06-01 15:44] hellofromtonya opened #41481 "Webfonts API Architecture: Explore leveraging WP_Dependencies existing enqueuing, registration, and internal handling"
Part of https://github.com/WordPress/gutenberg/issues/41479.

Explore changing the current architecture to extend from the `WP_Dependencies` to reuse its implementations of enqueuing, registration, and internal handling.

Why?

The current implementation re-implements a lot of the concepts that are already handled by `WP_Dependencies` for the script and style loaders. The script loader classes alr

[2022-06-01 15:53] kathrynwp commented on #41473
Hi @richardmorrison – thanks for the report!

I was not able to replicate this issue with WordPress 6.0, either with or without the Gutenberg plugin active (v. 13.3.0).

Here's a screencast:

https://user-images.githubusercontent.com/7662449/171446685-cd793982-3b2f-4614-a614-5f51a6c17159.mov

Are you experiencing this only this one specific site, or on other sites running WP 6.0 as well?

[2022-06-01 16:15] hellofromtonya opened #41484 "Webfonts API Architecture: Remove external access to internal-only functionality"
Part of https://github.com/WordPress/gutenberg/issues/41479.

## Problem Statement

The current and some ongoing open work expose internal-only functionality through global private functions. Unlike private or protected methods, PHP does not support limiting functions for internal-only usage. Though documented in the function DocBlock as `private`, these global functions are not truly private, mea

[2022-06-01 16:36] EmSixTeen commented on #18213
I don't particularly want to convert my sites to using theme.json just to disable gradients, especially when the option was already previously there.

[2022-06-01 16:38] markhowellsmead commented on #18213
Then I'd suggest opening a new ticket to address the fact that the following theme support definitions don't work for you. (This ticket has been closed since December 2019.)

[code]

[2022-06-01 18:18] ulfemsoy opened #41485 "Featured Image area, Categories and Tags not visible in Post"
### Description

It is not possible to set the Feature Image, select any Categories, or specify any Tags in the Gutenberg editor. I have disabled all plug-ins.

Now and then the Categories and Tags sections displays, but never the Featured Image.

### Step-by-step reproduction instructions

1. Create new Post
2. Try to set the Featured Image in "Post" tab. No area called "Featured Image" visible.

[2022-06-01 18:20] #41485 closed, assigned to nobody

[2022-06-01 18:21] ulfemsoy commented on #41485
Duplicate

[2022-06-01 18:22] ulfemsoy commented on #40377
Not working for me. Both Featured Image, Categories and Tags don't show.
I have disabled all plugins. Running version WP 6.

[2022-06-01 18:46] amustaque97 commented on #40809
Volla 😃 , after a bit of cleanup (`git clean -xfd`) and installing everything fresh. I'm not seeing this issue on `trunk` branch. Probably we can close this issue.

[2022-06-01 18:56] skorasaurus commented on #28841
This was also requested in https://github.com/WordPress/gutenberg/issues/17462 where this additional notes and context.

[2022-06-01 18:57] skorasaurus commented on #17462
Thanks for reporting; this was also requested in https://github.com/WordPress/gutenberg/issues/28841 and you can follow its progress in that issue.

[2022-06-01 18:57] #17462 closed

[2022-06-01 18:59] Baelx commented on #14457
I agree with @mboynes in that this feature seems half-baked. And while I appreciate action was taken to make it possible to re-pin sidebar buttons, I think a setting buried in a menu is still not as friendly as it could be to users.

I think a separate issue should be opened to address the value delivered by such a prominent "unpin" button. I think it's way more likely that users will accidentally

[2022-06-01 19:18] amustaque97 commented on #17855
As per my understanding, it's a HTML block, I can write my own HTML block with a `style` attribute to apply custom styling as shown in the screenshot.

**Screenshots**
1. Custom HTML
<img width="708" alt="Screenshot 2022-06-02 at 12 46 25 AM" src="https://user-images.githubusercontent.com/21127788/171484511-36e7c59e-20a2-41f9-b4d8-8e8c51ed803d.png">

2. Preview of the block:
<img width="771" alt="

[2022-06-01 20:25] sabernhardt commented on #41370
The `justify-content` property was merged in #23578.

Instead of using `left` and `right`, could the value be `start` (or `flex-start`) for both LTR and RTL stylesheets?

_Note for props: alifaraji is wpvar on WP.org_

[2022-06-01 21:01] glendaviesnz commented on #39371
@WordPress/gutenberg-design it would be great to get some design feedback [on these points](https://github.com/WordPress/gutenberg/issues/39371#issuecomment-1129526774) when someone has time  - thanks.

[2022-06-01 21:03] kathrynwp commented on #10974
I’m going to go ahead and close out this issue, since there hasn’t been any activity on it in over three years and work has progressed on a new color picker component over the last year: https://github.com/WordPress/gutenberg/pull/35783.

If anyone feels it should still be looked at, please add a comment and I can take another look. Thanks!

[2022-06-01 23:40] adamwoodnz commented on #20079
https://github.com/WordPress/gutenberg/pull/19775 is merged, so this is unblocked.

[2022-06-02 00:48] #41480 closed, assigned to torounit

[2022-06-02 01:16] ramonjd commented on #41434
Thanks for creating this issue and for the example code. 🙇

Using CSS vars is definitely something to look into.

Folks are aware that the way layouts styles are expressed is a key area for improvement.

In my view it's related to the following:

- https://github.com/WordPress/gutenberg/issues/39336 (unifying how we define layouts)
- https://github.com/WordPress/gutenberg/issues/38167 (unifying wh

[2022-06-02 01:54] andrewserong commented on #41124
I've added this to the layouts tracking issue in #39336. From the discussion here, it sounds like we need a way for themes that have added in a `theme.json` file, but aren't yet ready to remove the group's inner container, to opt-in to preserving that inner container.

Currently, in the Layout block support, there's a check to see if [`theme_has_support()`](https://github.com/WordPress/gutenberg/b

[2022-06-02 02:46] github-actions[bot] opened #41489 "[Flaky Test] should show the edited content after revert and clicking undo in the notice"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should show the edited content after revert and clicking undo in the notice

## Test path
`/test/e2e/specs/site-editor/template-revert.spec.js`

## Errors

<time datetime="2022-06-02T02:46:04.692Z"><code>[2022-06-02T02:46:04.692Z]</code></time> Test passed after 1 failed att

[2022-06-02 04:27] #41370 closed, assigned to ramonjd

[2022-06-02 04:52] glendaviesnz opened #41491 "Add support for snap to grid with design tool adjustments"
The idea has been proposed to allow theme creators to define custom snap points for the likes of padding, margins, gap, and then to specify that block adjustments will `snap` to a grid of these snap points.

<img width="500" alt="grid" src="https://user-images.githubusercontent.com/3629020/171555787-710179c1-9d5a-4d38-b7e7-9e18fc683aaf.png">

Separate to this is another request to make it possible

[2022-06-02 06:08] HILAYTRIVEDI commented on #39675
I think we can replace the text with the icons and add the tooltip for each icon which can result in the better user interface for the user.

[2022-06-02 06:20] andrewserong commented on #41390
Fix for the icon positioning in https://github.com/WordPress/gutenberg/pull/41492 — it doesn't address the logic of when to hide the inserter as in real world usage, that appears to be slightly less of a problem with interacting with the component. Happy to look at that one separately if we get the time 🙂 (it'll be slightly more complex to deal with because the threshold currently deals in percent

[2022-06-02 06:28] matthiaspabst commented on #28115
I can't reproduce this in WordPress 5.9+. Seems like this is fixed now.

[2022-06-02 07:16] HILAYTRIVEDI commented on #40298
Giving width to 100% to the paragraph tag will solve this issue. But also it must be checked before implenting.

[2022-06-02 07:35] HILAYTRIVEDI commented on #40131
Hi @theminaldiwan, Insted of giving the float none. It will be more convenient to add the auto to the parent div
`.wp-block-group {
    overflow: auto;
}`

[2022-06-02 08:26] unicalus commented on #23510
I want to upload zip files and for me not helped: WP Add Mime Types and File Upload Types by WPForms plugins. Not helped adding line to wp-config: define('ALLOW_UNFILTERED_UPLOADS', true);

**But Helped: https://github.com/rjcalifornia/fixzip_upload**

[2022-06-02 09:32] jonathanelmgren commented on #32644
+1
Negative values for spacing fields. Essential for layout building.

[2022-06-02 09:44] cbravobernal commented on #35699
I will happy to take this with @bangank36 on WCEU2022 contributor day!!!

[2022-06-02 09:54] cbravobernal commented on #35699
Hi there!

I cannot reproduce the issue, as the size editor tool was updated after this Issue was created.

The tooltip seems to be there!

<img width="1320" alt="Screenshot 2022-06-02 at 10 51 08" src="https://user-images.githubusercontent.com/37012961/171604464-6bbc9149-0b95-4713-9e50-c2c232acd743.png">
.

[2022-06-02 09:54] #35699 closed, assigned to cbravobernal

[2022-06-02 10:05] draganescu commented on #40809
👏🏻

[2022-06-02 10:05] #40809 closed, assigned to amustaque97

[2022-06-02 10:20] twobyte commented on #38744
It’s delightful, and will be a very nice touch, as long as it does not impede on website load performance.

Personally prefer it contained in the sidebar.

One suggestion, instead of having the loading ring, how about a emoji party popper to build anticipation/intrigue?

[2022-06-02 10:27] RaitisSevelis commented on #30041
What I found is that using Tab to move around blocks make it hard to access Add Block button without going around a full circle. Partly related to the size, but in-between elements. What @sunnyssr is offering looks like a nice solution for both - the size and quick access.

[2022-06-02 10:48] RaitisSevelis opened #41500 "Can not scroll keyboard shorcut window with cursor"
### Description

When opening keyboard shortcut window, it is not possible to navigate with the cursor to review all the keyboard shortcuts.
![Uploading image.png…]()

### Step-by-step reproduction instructions

1. Go to Keyboard shortcuts window
2. Use Tab to and cursor to navigate
3. Observe the issue: no option to see all shortcuts

### Screenshots, screen recording, code snippet

_No response_

[2022-06-02 10:58] evrpress opened #41501 "Screenshots of components should look equally"
## What problem does this address?

Whenever you need the documentation of a component you most often like to see a preview of it. Since many components still have no screenshot at all I propose a standardized way to display screenshots.

Since block elements often lack of a visual border a mockup with an artificial border could help.

Without any padding the element often look plain and not recog

[2022-06-02 11:12] tellthemachines opened #41502 "Improve table caption accessibility"
## What problem does this address?

Table block originally implemented captions as `figcaption` elements, due to limitations with RichText output discussed here: #15554

These limitations no longer apply, so nothing prevents us from using an actual table `caption` element instead. This makes tables more accessible for screen readers, as the caption content will be announced at the start of the tab

[2022-06-02 11:12] RaitisSevelis opened #41503 "Defocus outside modal window does not allow navigating back with Tab"
### Description

If you open any modal window, then click on something within browser, you are not able to navigate back to the modal window using Tab key.

### Step-by-step reproduction instructions

1. Open modal window (ex. Welcome Guide or Keyboard Shortcuts)
2. Click on the address bar (Keep modal window open)
3. Navigate using Tab
4. Issue: You are not able to focus on modal window any more

[2022-06-02 11:14] rianrietveld commented on #41502
@tellthemachines thanks so much! One nice discussion and result at the WordCamp Europe contributor day :-)

[2022-06-02 11:15] franrosa commented on #41500
I was able to reproduce that error.
102.0.5005.61 / WP 6.0 / Mac

Once open, tab only goes to the closing cross, and scrolling with keyboard does not work at all.

[2022-06-02 11:17] Soean commented on #41502
I can start working on it. So we want this?

Old:
[code]

New:
[code]

[2022-06-02 11:21] fschroiff commented on #41077
Current behavior seems to be that the title of the linked post is used as an alt tag.
Query Block:
<img width="539" alt="Screenshot 2022-06-02 at 12 14 26" src="https://user-images.githubusercontent.com/660010/171617679-11a10e65-995b-4d35-aa22-3f2c05deb938.png">
One item in the query, the post "Hello World".

Source:
<img width="653" alt="Screenshot 2022-06-02 at 12 15 11" src="https://user-images

[2022-06-02 11:27] Caitboard commented on #41077
I think you have a post with an empty title somewhere, I've tried to reproduce this issue and that is the only way I'll get the Axe issue 'No discernible text'. Ensure all of your posts have a title and this shouldn't happen.

[2022-06-02 11:32] franrosa commented on #39700
From an accessibility perspective, apart from the speed of the animation, there is the issue of changing content and position of elements inside the square.

It would be a kinder approach if over the original resting state, the animation showed the colors as bars — ie. a wave animation — without ever covering the entirety of the square, and allowing the original content to remain in place without

[2022-06-02 11:38] t-hamano commented on #41276
As you explained, I would like to solve the following two problems in this issue:

- The block attributes are not updating correctly when blurred
- Is the component's step value appropriate?

Since it is complicated to address both issues at the same place, should I close this issue and propose each as a separate issue or PR?

[2022-06-02 11:41] mirka commented on #41276
Sounds good!

[2022-06-02 11:46] NicoHood commented on #33789
You can only choose the dimensions, not the image size type, right? Like medium, large, etc. It seems to be missing in WordPress 6

[2022-06-02 12:42] danieldudzic commented on #41200
Hey @spacedmonkey,

I'm trying to replicate this, and indeed I got the Query Monitor plugin to flag `render_block_core_post_template` as a 'potential troublemaker', but I'm struggling to understand where the duplication is happening. Would you mind elaborating a bit more on the nature of the issue? I'd really appreciate it 🙏

[2022-06-02 13:33] rianrietveld commented on #41502
@Soean, yes please.

[2022-06-02 13:45] paaljoachim commented on #38744
### Feedback from the design table at WordCamp Europe.

This issue was talked about in the Slack design channel (requires logging into WordPress Slack)
https://wordpress.slack.com/archives/C02S78ZAL/p1654164179773109

**Fotis Pastrakis**
"... my proposal is to give something more discrete as animation for the first post. Is it going to be only for the first post or for every new one?

@richtabor
"

[2022-06-02 13:48] skorasaurus commented on #28115
Neither am I able to reproduce; closing.

[2022-06-02 13:48] #28115 closed

[2022-06-02 13:49] RaitisSevelis opened #41508 "Placeholder of the block restricts access to the toolbar of the next block (using keyboard)"
### Description

When I have 2 blocks with placeholder for the first one and want to access a toolbar of the second block using keyboard - I am not able to do that.

### Step-by-step reproduction instructions

1. Add block with the placeholder (ex. image, gallery)
2. Do not add any content for that block (keep it with placeholder)
3. Add another block (text block)
4. Use keyboard (Tab+Shift) to ac

[2022-06-02 13:50] skorasaurus commented on #10117
still an issue on gutenberg 13.0.0.

[2022-06-02 13:52] RaitisSevelis opened #41509 "Wrong Tab+Shift focus order when using columns"
### Description

If I have column block with 2 columns added and followed by text and want to access toolbar of the text block with keyboard (Tab+Shift) the order is not working properly. First I have focus on the column and then back to the toolbar element.

### Step-by-step reproduction instructions

1. Add column block
2. Choose 2 columns
3. Add text block after the column block
4. Use Tab+Shif

[2022-06-02 13:56] carolinan commented on #41282
I agree, I think it would make it easier for theme authors to select exactly which patterns they want to feature from the directory.
And loading "your" patterns from the directory would reduce the amount of repetition and number of files in the theme. Especially if you have a set of themes all using the same patterns.

[2022-06-02 14:01] fluiddot opened #41510 "Highlight text: Highlight color is still applied when typing after reseting color"
## Description

After setting a color to highlight text, if the color is reset (i.e. sets the default text color), typing more text is displayed with the highlight color instead of the default.

## Step-by-step reproduction instructions

1. Open a post/page.
2. Add a Paragraph block.
3. Tap on the Highlight text button located in the toolbar (i.e. the (A) button).
4. Select a color.
5. Type some t

[2022-06-02 14:02] lasmit commented on #38744
It's a nice idea but there are a couple of use cases where this goes wrong:

1. A user made a mistake while publishing their first post (happens to my clients all the time), and then they want to undo the publishing but instead get a "Congratulations!" message. That will definitely frustrate them.
2. The website is posting in memoriam posts of people's deaths, and then you get a "Congratulations y

[2022-06-02 14:15] Julianoe commented on #41416
Does the cross-boundary selection you face is what I described in this other issue about the Classic block ? https://github.com/WordPress/gutenberg/issues/41432

[2022-06-02 14:16] lasmit opened #41512 ""Switch to draft" is confusing. "Unpublish" is more intuitive for newer users."
Now, when you publish a post and you want to undo it, it's very hard to find a way to unpublish the post. I have many clients who will post their first post, then view it, find a mistake in their blog or forgot to add a featured image and want to unpublish. The wording for this is now "Switch to draft" which does not really make sense. Switch what to draft? If almost looks like this allows yout to

[2022-06-02 14:17] markhowellsmead commented on #41416
@Julianoe I expect it's related in some way.

[2022-06-02 14:29] lleenna commented on #38744
We totally agreed with Liesbeth on the above comments and we move forward to a small descreate alteration for the snack bar you can see it in the below prototype.

https://www.figma.com/proto/NJEE2lUzbbtdY3HlXLbue8/Contribution-Day-02.06.22?node-id=25%3A4538&scaling=contain&page-id=0%3A1&starting-point-node-id=1%3A6474&show-proto-sidebar=1

The suggestions we made are:

1. A trophy icon for the us

[2022-06-02 14:29] tellthemachines opened #41514 "Preview dropdown menu missing accessible name"
### Description

In both the post and the site editors, clicking the "Preview" button opens up a dropdown menu, which uses the "menu" ARIA role. This menu should have an accessible name, using either `aria-label` or `aria-labelledby`, but currently it doesn't have one. The accessible name helps screen readers identify the purpose of the menu.

To fix this, a `label` prop can be passed to the Dropd

[2022-06-02 14:43] mirasusanna commented on #41077
I also tested this and I don't think anything needs fixing here. I could reproduce the missing link name issue only when the post title was empty. Otherwise the usage of alt texts seems fine to me.

[2022-06-02 14:44] delawski commented on #41293
@johnstonphilip Thanks for filing an issue.

While reviewing your ticket, I learned that in order to disable the color panel for a given block, you need to disable color-related properties in the `theme.json` on a **per-block basis**.

I.e. setting `settings.color. …` properties to `false` globally is insufficient. You need to specifically disable them for every block, like:

[code]

[2022-06-02 14:51] Benji-create commented on #41365
I have the same Problem. Does somebody have a fix?

[2022-06-02 15:00] DevinWalker commented on #38744
Interesting proposal and pretty designs!

Personally, I am a fan of gamification and it definitely works to encourage me to finish a setup process, reach a goal, keep a streak alive, etc.

We could sneak in this one bit of gamification into the editor, however as mentioned previously, **we don't know how the editor is being used.** Unlike a SaaS, WordPress is used for almost _infinite_ use cases.

[2022-06-02 15:07] ashleyleia commented on #41365
On the [Astra support forum thread](https://wordpress.org/support/topic/wordpress-6-0-image-alignment-not-working-2/) on this, they say: "Yes, we are aware of this issue and have planned to include the fix in the next release. Please consider reaching out to us through our [Support Portal](https://wpastra.com/support/) so we can provide you with the dev version that contains the fix."

As a workar

[2022-06-02 15:31] twobyte commented on #38744
Agree with comments, gamification/congratulatory feedback is best placed in a plugin.

As far as core goes, I think the suggested snackbar is an improvement – however it may be missed when you click the publish button at the top right of the screen and then the feedback message appears bottom left of the screen.

[2022-06-02 15:33] spacedmonkey commented on #41200
@danieldudzic The issue is this line

https://github.com/WordPress/gutenberg/blob/57a1daf7edad34c842181e28a60efbeab14b8fc1/packages/block-library/src/post-template/index.php#L63

Another `WP_Query` instance is being created, when it does not need to. There is one created as a `global $wp_query;` with the query already run.  So if we did this.

[code]

It would avoid it being re-run.

[2022-06-02 15:44] adambasa-dp commented on #30930
@adamziel @carolinan Could you take a look at my PR, please?

[2022-06-02 16:27] apeatling commented on #41491
The visuals above are not what I had in mind, or what I understood about this feature.

My understanding is that:

1. Theme authors would define the "spacing tokens" and their underlying units in theme.json. `small, medium, large` etc.
2. The user would see these spacing tokens in the UI where they could select `small, medium, large` and the spacing would adjust to the underlying unit associated w

[2022-06-02 16:50] bengs commented on #41365
In Wordpress 6.0 the core image block's output has changed to apply the `.wp-block-image` class to the same `<figure>` element as the `.alignright` and `.alignleft` classes are applied. The core CSS still only targets child elements though so the alignment styles are not applied.
Before Wordpress 6.0:
[code]
In Wordpress 6.0 the output changes to this (if you've upgraded, it will happen next time

[2022-06-02 18:36] michaelbourne commented on #30505
Seems like this only solved 1 side of the coin, alt text for non-decorative images. With the alt left empty however, the block still fails a11y audits.

I think that when the alt text field is left empty, the block should output `role="presentation"` and `alt=""`

Thoughts?

[2022-06-02 18:39] samxmunoz opened #41518 "FEATURE REQUEST: Display / Hide Blocks on Specific Devices"
### Issue

There are many instances where you may want a block to appear only on desktop, tablet, mobile - or a combination.

### Proposed Solution

Add display / hide settings for blocks and allow the user to select devices to apply the settings.

This could either be added in the dropdown options for the block or under the "Advanced" settings.

If applied to the dropdown options it could use a s

[2022-06-02 19:05] cngodles commented on #30505
I'm hesitant to suggest going straight to role="presentation" for an empty block. This doesn't solve accessibility but rather creates a blocker for automated accessibility testing. If users don't think it through, then it's failing to convey the text for a describable image, in which case you would want testing to catch it.

I think the best solution would be to add a checkbox for Presentation Onl

[2022-06-02 19:08] michaelbourne commented on #30505
Fair point about that, some users may not understand the impact of leaving the alt empty without context. I'd be fine with a toggle.

[2022-06-02 19:56] ndiego commented on #41282
@bph and @carolinan are you testing with Gutenberg active? I have been trying to diagnose this today and think I found a solution, but it depends on #40824 being resolved. There were changes made in core that have not yet been backported to Gutenberg.

I will write up a PR, but if you have a chance to test, can you try the following?

1. Setup a local site with 6.0 and Twenty Twenty Two installed

[2022-06-02 20:15] ndiego commented on #40824
@gziolo looking for some guidance here. This issue and the associated PRs backport some last-minute changes that made it into 6.0. These changes were never added back to Gutenberg itself. I am about to put together a PR that fixes #41282 but it relies on the PRs associated with this issue being backported. I cannot think of a reason we wouldn't want to backport these to Gutenberg, unless I am miss

[2022-06-03 03:00] aaronrobertshaw commented on #41376
#### Removing the panel menu

In the spirit of exploring ideas, I've experimented a little with completely removing the `ToolsPanel` menu, as seen in the first demo video below.

The UI is only a very rough approximation of a design but I think it illustrates well enough that such an approach still has a lot of its own problems and is a bit clunky. Hopefully, it might spur some new ideas or help u

[2022-06-03 05:16] github-actions[bot] opened #41525 "[Flaky Test] should be immeadiately saved on indentation"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should be immeadiately saved on indentation

## Test path
`/test/e2e/specs/editor/blocks/list.spec.js`

## Errors

<time datetime="2022-06-03T05:16:50.884Z"><code>[2022-06-03T05:16:50.884Z]</code></time> Test passed after 1 failed attempt on <a href="https://github.com/WordP

[2022-06-03 05:16] github-actions[bot] opened #41526 "[Flaky Test] should change the base list type"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should change the base list type

## Test path
`/test/e2e/specs/editor/blocks/list.spec.js`

## Errors

<time datetime="2022-06-03T05:16:51.666Z"><code>[2022-06-03T05:16:51.666Z]</code></time> Test passed after 1 failed attempt on <a href="https://github.com/WordPress/gutenb

[2022-06-03 06:16] julezrulez commented on #41502
Will caption be optional? Sometimes content writers choose for a heading (h2...h6) just before a table for reasons. What you don't want is double texts (or texts that are read out twice by a screenreader).

[2022-06-03 06:50] markparnell commented on #10235
We've run into this same problem today, and as others have said the Format API doesn't meet the need here. The difference is that we don't want to wrap a custom element around selected text - we want to insert a standalone piece of dynamic (inline) content. A simple example would be to display the user's IP address:

`<p>Your IP address is 127.0.0.1</p>`

This is simple with shortcodes as others h

[2022-06-03 06:59] Soean commented on #41502
Yes, the caption will be optional

[2022-06-03 07:44] paaljoachim commented on #41275
Thanks for checking Glen!

Hmm I am still getting this in 6.0. I got to check more into it, and see if I figure out what is going on.

[2022-06-03 08:33] github-actions[bot] opened #41531 "[Flaky Test] should merge into quote with correct selection"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should merge into quote with correct selection

## Test path
`specs/editor/various/multi-block-selection.test.js`

## Errors

<time datetime="2022-06-03T08:33:21.846Z"><code>[2022-06-03T08:33:21.846Z]</code></time> Test passed after 1 failed attempt on <a href="https://githu

[2022-06-03 08:56] github-actions[bot] opened #41532 "[Flaky Test] should prevent browser default formatting on multi selection"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should prevent browser default formatting on multi selection

## Test path
`/test/e2e/specs/editor/various/writing-flow.spec.js`

## Errors

<time datetime="2022-06-03T08:56:11.533Z"><code>[2022-06-03T08:56:11.533Z]</code></time> Test passed after 1 failed attempt on <a href

[2022-06-03 09:37] JoshuaDoshua opened #41534 "Filter to disable "downloadable block directory""
## What problem does this address?
I don't want to give my clients the ability to clog up their website with plugins and excessive blocks. I've developed blocks for them and other plugins could include blocks similar to those I've already developed leading to confusion. If a client has come to a developer to build a WordPress site, they shouldn't be proposed with decisions that could break the the

[2022-06-03 10:20] Smit2808 opened #41535 "In site title block, background color adding padding in Full Site Editing Editor."
### Description

In FSE(Full Site Editing) editor side, when we give background color to the site title block. Then it is adding padding: 1.25em 2.375em. I have checked in inspector tools and found out that this CSS is affecting.
[code]
And also found out that this CSS is only affecting in editor side only. In front it is working fine.

### Step-by-step reproduction instructions

1. Open FSE.
2. S

[2022-06-03 11:01] pablohoneyhoney commented on #41379
Nice!

The library itself could be a separate effort and issue all together. It also opens up a lot of other discussions and changing mental models (like the current synced blocks navigation and management versus being a property, which is interesting).

Re: the pattern inserter itself, I think we lost a bit of focus on the pattern insertion, instead of blocks' (which could remain as is for now).

[2022-06-03 11:16] cbirdsong commented on #10235
Adding another use case – I wanted to create a easy way for editors to insert `<wbr>` or `&nbsp;` into text to manage line breaks. You can add both by editing a block’s HTML without the block becoming invalid, but that’s a big lift for some editors, and it’s easy to forget where you’ve added them as there’s nothing to indicate those elements are present while editing.

[2022-06-03 14:24] spencer-j opened #41539 "Values: auto, css properties and calc values in spacer component"
## What problem does this address?
Actual the spacer component only allows unit based values  px, em, rem, %, vh, vw
https://developer.wordpress.org/block-editor/reference-guides/components/spacer/

## What is your proposed solution?
Allow whats possible in modern css. auto, css var properties, calc etc.

[2022-06-03 15:10] mrfoxtalbot opened #41541 "[Post Categories block] Include Support for Custom Taxonomies"
## What problem does this address?

The Query Block lets you select the custom post type you want to query... but the way the Post Categories block works at the moment, unless that CPT is associated with the default taxonomies (categories and tags) it will show a "No categories message".

![Screen Shot on 2022-06-03 at 15:51:19](https://user-images.githubusercontent.com/4452464/171880636-6df41a2a-

[2022-06-03 15:20] skorasaurus commented on #41500
does pressing the down arrow on the keyboard not scroll the content of the keyboard shortcuts for you?

[2022-06-03 16:48] sabernhardt opened #41543 "Separator Block: fix focus outline"
### Description

The following focus outline applies to a selected Separator block, and I do not think it belongs there.

https://github.com/WordPress/gutenberg/blob/2db51493b51c3b8f2187610491760d7e7f3a2e6a/packages/block-editor/src/components/block-list/style.scss#L155-L181

It looks particularly bad in Twenty Twenty. (The unselected block's styling can be fixed for the theme in [Trac #55910](htt

[2022-06-03 17:10] apeatling opened #41544 "ToolsPanel: Selected ToolsPanel menu options are not persistent"
Prior: https://github.com/WordPress/gutenberg/issues/41376

When using the ToolsPanel menu to select design tool options for a block, these selections are not remembered unless the value of a design tool setting has been selected. Simply setting the option as visible is not enough to persist it on block re-selection.

This GIF shows the issue:

![2022-06-03 10 08 20](https://user-images.githubuser

[2022-06-03 17:14] sabernhardt commented on #41543
Using Twenty Twenty-Two:

![separator block with Twenty Twenty-Two, selected and unselected](https://user-images.githubusercontent.com/17100257/171913427-778afd65-e1d9-4c5e-8804-dc62f0362efe.png)

[2022-06-03 17:14] apeatling opened #41545 "ToolsPanel: The ToolsPanel menu gets in the way of seeing what selected options look like"
Prior: https://github.com/WordPress/gutenberg/issues/41376

### Description

When using the ToolsPanel to select different design tool options, the ToolsPanel menu obscures the content behind. This means you can't select a design tool and get an idea of what it actually does without closing the menu first.

![2022-06-03 10 12 17](https://user-images.githubusercontent.com/1464705/171913433-7971108d

[2022-06-03 17:18] apeatling opened #41546 "ToolsPanel: It's difficult to close the ToolsPanel menu"
Prior: https://github.com/WordPress/gutenberg/issues/41376

### Description

With the changes in https://github.com/WordPress/gutenberg/pull/40716 the ToolsPanel menu now stays open when selecting a specific option. A byproduct of this is that the menu now has no clear way to be closed as previously it would close upon selection.

By clicking outside of the menu you may inadvertently select someth

[2022-06-03 17:20] apeatling commented on #41376
Thanks for all the comments and discussion so far. I've had a good look at this issue and experimented with the menus across Gutenberg. I've also looked at what happens in other tools like Gmail and Figma for reference.

For clarity it seems three problems need to be addressed:

- [ ] https://github.com/WordPress/gutenberg/issues/41544
- [ ] https://github.com/WordPress/gutenberg/issues/41545
- [

[2022-06-03 17:20] #41376 closed, assigned to nobody

[2022-06-03 17:25] apeatling commented on #41544
Persisting selected options has been discussed previously in https://github.com/WordPress/gutenberg/pull/39561#discussion_r830803440.

However this discussion was for persisting selected options across multiple blocks of the same type. That warrants caution, however persisting options in the same instance of a block is quite different. In my opinion this goes against user intent and expectation an

[2022-06-03 17:32] apeatling commented on #41545
Using Figma as a reference, their equivalent menus are position initially to the side. We already have prior art there in the form of the color selection controls.

Figma also allows you to drag around the menu and position it wherever you'd like. I think this is interesting, but an obvious first iteration would be to move it to the side.

My one concern there is the disconnect from the button you

[2022-06-03 17:38] apeatling commented on #41546
When I use this, I naturally expect to be able to click anywhere in the browser window to close the menu. @bdurette made the same observation in the previous thread.

This seems like a no brainer to me as a first iteration. Although we don't have any other examples of this in Gutenberg outside of modals -- I would bet most users would also naturally expect to be able to do this. Trying to do this

[2022-06-03 17:46] dabowman opened #41547 "Governing block settings and interactions"
## What problem does this address?
### We want to be able to control what block settings are offered to the user in more ways than core currently allows.

I work in the space of building WordPress applications for enterprises and large organizations. For those of us in this space, this makes our end-user a bit different from the individual or small business that might benefit from granular design

[2022-06-03 20:45] YusefLockwood opened #41548 "Support "Posts Per Page" override when inheriting the query loop"
## What problem does this address?
Currently it is impossible to change the posts per page setting on a taxonomy template in the full site editor without unchecking the "Inherit query from template" box. This negates the point of a taxonomy template because I have to explicitly choose the term (and post type) once I uncheck that box. Explicitly choosing a term would mean I'd have to create a templ

[2022-06-03 20:48] mateuswetah commented on #33905
Hey guys, really hoping for this to be solved one day. I'm creating a FSE theme that adds a lot of patterns using duotone. It also has global styles, but the changes won't be reflected if the duotone configuration does not accept css variables 😢

[2022-06-03 21:13] timsinc commented on #40744
@gziolo It appears that this does not work in 6.0 if a child theme is activated. Is that the intended behavior?

[2022-06-03 21:13] skorasaurus commented on #26519
Thanks for reporting;
This has been discussed and/or requested in https://github.com/WordPress/gutenberg/issues/27221 . Feel free to [add your reaction](https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/about-conversations-on-github#reacting-to-ideas-in-comments) and follow its progress in the issue.

[2022-06-03 21:13] #26519 closed

[2022-06-04 03:47] t-hamano commented on #37093
I found that this issue is not a bug, but a deliberate design change, as described in #40960.
Therefore, I would like to close this issue.

[2022-06-04 03:47] #37093 closed, assigned to nobody

[2022-06-04 04:03] t-hamano commented on #41365
Hi @ObviousInvestor,

I have addressed this issue in a previous PR #39594.

However, as [this comment suggests](https://github.com/WordPress/gutenberg/pull/39594#issuecomment-1073614564), the layout of blocks placed at the root level of content looks to be an issue that should be addressed by the theme.

So, I would like to close this issue as this is not a Gutenberg issue and a fix is planned acc

[2022-06-04 04:03] #41365 closed, assigned to nobody

[2022-06-04 08:47] klockfeber commented on #17099
This would be very useful for our category pages as well, see an example of how the content looks now when it is only text [here](https://klockfeber.se/seiko/). I am surprised that WordPress 6.0 was released without Gutenberg on categories.

[2022-06-04 09:06] Jabe64 commented on #17099
+1 I created an issue about it 4 years ago:
[https://github.com/WordPress/gutenberg/issues/12511](https://github.com/WordPress/gutenberg/issues/12511)

The issue was closed because Gutenberg was still in early stage. Full Site Editing improves but still no news about this.

Every update I hope to see something then my hopes varnish 😢

@mtias Is it still considered or will categories description be

[2022-06-04 12:09] mtias opened #41549 "Navigation Overview: Phase 2 priorities"
This issue captures the current priorities for Navigation which we are aiming to include in WordPress 6.2.

Some progress has been made in 6.1, particularly on the theme switching, fallback and new menu facets. Editing menus is now an area that now requires attention.

There's also a longer backlog used to more exhaustively track open issues, bugs, and pending tasks at #38275.

## Editing Menus

T

[2022-06-04 12:14] t-hamano commented on #41448
This document is covered by [WordPress Documentation Issue Tracker](https://github.com/WordPress/Documentation-Issue-Tracker#coverage) and does not appear to be under the gutenberg repository.

How about closing this issue and leaving a comment on [#276](https://github.com/WordPress/Documentation-Issue-Tracker/issues/276) about this?

[2022-06-04 14:29] gregm-mwb commented on #37589
Hi can we reopen this I have an alternative solution

[2022-06-04 14:35] gregm-mwb commented on #37589
Hi, you can intercept the Html and move the CSS block to the head using a Cloudflare worker,

It removes potential layout shifts and keeps WordPress w3c compliant and fast as it causes no browser errors.

First, wrap the CSS code from Guttenberg into a div. Here's my function to do this:

``
function my_cool_function () {

echo '<div id="inlinestyle">';

	 }

add_action('wp_footer', 'my_cool_funct

[2022-06-04 14:37] gregm-mwb commented on #37589
Next create a Cloudflare Worker to intercept the HTML and move the div element containing the CSS to the bottom of the head

Here's my code for the Cloudflare worker:

` addEventListener('fetch', event => {
   let { pathname } = new URL(event.request.url);

   // Allow "/ignore/*" URLs to hit origin
   if (pathname.startsWith('/wp-content/')) return;
   if (pathname.startsWith('/wp-admin/')) retur

[2022-06-04 14:39] gregm-mwb commented on #37589
All works very nicely, please collaborate to improve code, working example:

https://www.metaverseworldbuilders.com/

[2022-06-04 17:11] cuemarie commented on #28779
+1 - I'd love to see this implemented. Of course we don't want to make it impossible for folks to remove or customize these blocks, but some roadblocks to slow newer users down could help save them headaches in the long run!

[2022-06-04 17:35] SchecDev commented on #41158
I stumbled upon an issue with the new webfonts registration via `theme.json` and searching open issues I found this one. Which is at least very similar to my issues (I think it's actually the same, but due to another cause), so I decided to post here instead of opening a new issue.

Switching to WP 6.0 my Twenty Twenty-Two based theme (the original Twenty Twenty-Two is affected as well!) the headi

[2022-06-04 18:35] adrianoabreux commented on #41541
@mrfoxtalbot did the plugin you mentioned works for pages? I tried adding it to a page query loop, but it does not show my custom "negócio" taxonomy.

[2022-06-04 22:49] tf5bassist opened #41552 "More than three embedded WAV files (Audio Blocks) breaks Gutenberg"
This is an issue that I'm copy/pasting from the WP.org forums from this post:
https://wordpress.org/support/topic/more-than-three-embedded-wav-files-breaks-gutenberg

Apologies for how terrible this issue ticket is going to be, but I was told to post here, so....

Whenever I add more than three of these WAV files into a post with existing content (about 4k words) it breaks the editor almost comple

[2022-06-04 23:29] sybrew commented on #7960
I understand resolving this issue doesn't aid progression according to whatever philosophy this project necessitates. Still, long-standing obvious bugs like these make the experience negative for both user and developer. The fix in the PR seems simple enough to test and approve within 15 minutes.

[2022-06-05 01:47] daviedR commented on #39367
+1

[2022-06-05 01:59] daviedR opened #41554 "Post Author: Wrap author name as a link"
## What problem does this address?

Currently there is no option in the Post Author block to wrap the author name text as a link to the author's page (Author archive page). As far as I know, Post Author is the only block that could be used to refer users to the Author archive page. Without any link to the Author archive page, there is no way user can navigate to the Author archive page.

## What i

[2022-06-05 07:41] akasunil commented on #41447
Hello @mirka

I have fixed this issue in PR [41556](https://github.com/WordPress/gutenberg/pull/41556). Please review and let me know if there is any feedback.

Thanks.

[2022-06-05 08:30] paaljoachim commented on #17855
I will ping Isabell, Dan and George
@tellthemachines @talldan @Mamaduka as they might have some thoughts on this issue.

[2022-06-05 10:40] fotisps commented on #41546
Close icon with close text would be a good solution in order to close each popup that could accidentally lose the state by misclicking. It also makes it clear to the user how the primary closing works rather than giving the false impression that closing only comes from clicking outside.

[2022-06-05 13:16] ALJ commented on #41534
Hi @JoshuaDoshua check out the `remove_action( 'enqueue_block_editor_assets', 'wp_enqueue_editor_block_directory_assets' );` line from https://developer.wordpress.org/block-editor/reference-guides/filters/editor-filters/#block-directory. Hopefully that gives you what you need.

[2022-06-05 14:18] #41263 closed, assigned to nobody

[2022-06-05 15:25] JoshuaDoshua commented on #41534
Not sure how I missed that, it's right next to the patterns filter. 😂

[2022-06-05 15:25] #41534 closed, assigned to nobody

[2022-06-05 18:22] #32249 closed, assigned to nobody

[2022-06-05 19:09] Lovor01 opened #41559 "export React's useId hook"
I propose to surface `useId` hook from React, so it is available in block development.

[2022-06-05 20:35] klokie commented on #41087
It seems to me this may be related to #15646, wherein I'm seeing `<figcaption>` elements stripped out. `<img>` tags are parsed correctly but then an empty `<figure>` element is incorrectly left in as a code element.

[2022-06-06 01:54] mrkdevelopment commented on #41549
@mtias Is there a possibility of conditional headers being added to the roadmap?

Scenario: I have 10 header designs. 1 is a default, the other 9 are conditionally loaded on pages where I sent the condition.

I have a couple of simple examples to explain my thinking.

### 1. Landing Page
I have a landing page and want a different header for this landing page compared to the main site. How would th

[2022-06-06 05:30] SaxonF commented on #41379
I'd be happy to setup a dedicated issue for this. There are a few separate threads like [this](https://github.com/WordPress/gutenberg/issues/34352#issuecomment-1116300263) and [this](https://github.com/WordPress/gutenberg/issues/32682) that are worth pulling together.

Any thoughts on how to do this without fragmenting the block inserter? I feel pretty strongly that we need to be designing in a wa

[2022-06-06 05:37] github-actions[bot] opened #41560 "[Flaky Test] should navigate native inputs vertically, not horizontally"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should navigate native inputs vertically, not horizontally

## Test path
`specs/editor/various/writing-flow.test.js`

## Errors

<details>
<summary>
	<time datetime="2022-06-06T05:37:04.391Z"><code>[2022-06-06T05:37:04.391Z]</code></time> Test passed after 1 failed attempt o

[2022-06-06 06:19] ruchikothariinformatics opened #41562 "Can't type or add blocks in the WordPress editor"
### Description

I'm currently on WordPress version 6.0, using Block Theme on Google Chrome.

When I try to add/edit a page/post, the following occurs.

Added text appends before the placeholder "Add Title" in the title.

The editor does not allow typing in the "Type / to choose a block" part, but if I click below it, I can add text that is appended to the muted text.

Third-party cookies and Java

[2022-06-06 07:21] SantosGuillamot commented on #41451
Thanks for sharing 🙂 Although it is related to the comments, the Avatar is a global block. Should we include it here anyway or it is better to handle it independently? Any thoughts? I don't have a strong opinion here.

[2022-06-06 07:29] SaxonF commented on #39281
@jameskoster I wonder if we could draw inspiration from Figma's latest [component property updates](https://help.figma.com/hc/en-us/articles/5579474826519-Create-and-use-component-properties)?

When creating pure blocks you can define attributes, where those attributes are sourced and how they are set (e.g. in inspector or toolbar). For patterns, rather than automatically absorbing properties in t

[2022-06-06 07:54] MyWebmasterD commented on #38580
I have the same issue running WP 6.0. When adding a theme.json file, the full and wide width options disappear.

Has anybody found a solution to this?

[2022-06-06 08:36] Mamaduka commented on #41559
Hi, @Lovor01

The new hook will be exported after [React 18 update](https://github.com/WordPress/gutenberg/pull/32765). Meanwhile, you can use [`useInstanceId`](https://github.com/WordPress/gutenberg/blob/trunk/packages/compose/src/hooks/use-instance-id/README.md).

[2022-06-06 08:40] bph commented on #35364
In issue #41282 you'll find a suggested way on how to implement a curated list of patterns from the pattern directory.

[2022-06-06 09:36] jameskoster commented on #39371
Are you asking if we could update theme.json to allow for these standard spacing values without updating the controls in the UI?

To clarify, any spacing input needs to support:

1. Stepped changing of preset values (e.g. jumping between 10px, 20px, 30px, 40px, etc). There could be many values (more than seven).
2. In the case of margin / padding there could be up to 4 inputs for the same control.

[2022-06-06 10:05] fabiankaegy commented on #39371
@jameskoster regarding your last question id say yes. The theme author can specify the unit for each of the spacing presets. But you as the user can only change the unit or the value when you switch to a custom value.

[2022-06-06 11:27] jameskoster commented on #39281
That sounds very comprehensive. It would be good to specify defaults as well, for example the content of a Paragraph should default to editable where the size should not.

I struggle a bit to see a UI for handling toolbar properties. How would I disable the ability to change alignment on a Paragraph? 🤔  Perhaps a centralised view for toggling all block properties?

[2022-06-06 12:18] AdamWills opened #41565 "When a default value is an array of objects, field values change across multiple blocks."
### Description

When the default value of a block is set as an array of objects, field values change across multiple blocks.

My expectations would get that value updates are isolated to the block where the changes are actually made.

### Step-by-step reproduction instructions

1. Clone https://github.com/AdamWills/wp-blocks-default-array-issue (a basic reproduce case)
2. Enable the plugin
3. Cre

[2022-06-06 12:37] priethor commented on #41443
Hi @glendaviesnz ! I'm preparing cherry-picking for 13.4. Is this PR still intended to land before the 13.4 stable release?

[2022-06-06 12:49] ehausen commented on #36350
To clarify, I was thinking about adding a button right in the toolbar to directly open the Pattern Explorer modal, but wasn't skilled enough to figure out how to trigger the opening of the modal.

If anyone could suggest a code snippet that makes the Pattern Explorer popup (without the Inserter sidebar), I would be grateful.

I'm thinking that encouraging to use Pattern Explorer would be better fo

[2022-06-06 13:27] ALJ commented on #41547
@dabowman Your idea would be a wonderful advancement to the block editor, especially now that we're trying to use it for more than just `post_content`.

(Forgive me if I'm bolting something alien on to your main point.) In addition to context-specific _settings_, I would like more ability to set context-specific `allowedBlocks`. The current state of the block editor is a bit of a sledgehammer, all

[2022-06-06 13:43] fotisps commented on #41545
In our case, most of the fix menus are on the sidebar so using figma as a paradigm, I think it's not the best solution. I would just add a close text and icon as a button in order to close the window, in case the user needs to see all the options that are available after making his/her choice.

[2022-06-06 14:27] afercia commented on #41500
Firefox makes any block-level element with appropriate CSS overflow property value keyboard focusable. Edge, Chrome and Safari don’t. With these browsers, there's no way to move focus to the scrollable div and use the arrow keys. The scrollable div doesn't contain any focusable element as well.

This different browser behavior isn't new. It works this way since ages. There are techniques to remedi

[2022-06-06 14:48] akasunil commented on #16039
Please provide requirements for testing.
WordPress version
Gutenberg version
Browser you are using

and Make sure all plugins except Gutenberg deactivated.

[2022-06-06 14:51] stokesman commented on #39104
A couple PRs have landed and they may have resolved all the problems mentioned here:
- #40735
- #41492

A build of the latter (that also includes the former) can be tested at http://gutenberg.run/41492 if you'd like to confirm @maddisondesigns. If you do try that link, a Cover block is the only one I found that allows gradients.

[2022-06-06 15:02] skorasaurus commented on #41500
Thanks for the context @afercia ; I had only tested on firefox where the scrolling was enabled with down arrow and was unaware that this behavior varied across browsers; can confirm that, on chrome, that scrolling in the keyboard shortcut modal is not possible with the keyboard.

Although this is unique to some browsers, as @afercia mentioned, we can implement this to workaround it, possibly by al

[2022-06-06 15:22] eric-michel commented on #39371
This may not be necessary to stipulate, but it would be great if this was an option that could be disabled in `theme.json` in order to limit users to only the preset values.

[2022-06-06 16:01] skorasaurus commented on #12226
When trying to reproduce this, I took a 51000 word input; pasted it in to the link box (within a paragraph block) and received a block error message `This block has encountered an error and cannot be previewed.` ; I think that's a relatively appropriate feedback loop although perhaps the error could be clearer.

The console displayed a "regexp too big" error.

What would the next step to resolve t

[2022-06-06 16:36] huubl opened #41567 "Query Block: current_post is showing as -1 when using 'inherit query'"
### Description

When setting 'inherit query' in the query block it's not using the actual `wp_query`. This gives problems in some cases. For example `current_post` is not inherited and showing as `-1`.

I already made a pull request, but not sure if I should make this issue too?

Possible solution: https://github.com/WordPress/gutenberg/pull/41348

### Step-by-step reproduction instructions

1. U

[2022-06-06 17:05] #41514 closed, assigned to Mamaduka

[2022-06-06 17:19] #38935 closed, assigned to nobody

[2022-06-06 17:51] skorasaurus commented on #41432
I'm able to reproduce this on gutenberg 13.3 ; were you previously able to select text partial paragraphs in the classic block on WordPress 5.9?

https://user-images.githubusercontent.com/955351/172217137-d01a4fd6-c0ca-4b64-952a-40ba461ea7ef.mp4

[2022-06-06 18:13] Julianoe commented on #41432
I don't know for WP 5.9 but in 5.8 yes, there is no bug.

[2022-06-06 19:15] eric-michel commented on #33374
We've had several major versions of WP released without this issue being addressed.

Just a reminder as to how unusable this makes the editor: in the Twenty Twenty-Two theme, adding a `group` or `cover` block as full width (a very common use case for those blocks) causes all content within that block to ignore the `contentSize` property in `theme.json` and instead extend full width. This includes

[2022-06-06 19:58] eric-michel commented on #36082
I found this issue when searching for other discussions related to issue https://github.com/WordPress/gutenberg/issues/33374. There are a lot of really insightful comments in that thread, but I'll add my two cents here for visibility since this thread is tracked as part of https://github.com/WordPress/gutenberg/issues/39336. My apologies for folks who are subbed to both threads and see my comments

[2022-06-06 21:07] #41448 closed, assigned to nobody

[2022-06-06 21:17] glendaviesnz commented on #41443
It would be nice, but it would also be good to get some input from @scruffian on this first as we may be overlooking something that he had intended by not allowing for this in the original PR. I think he is back from AFK now so will see if he has time to verify it.

[2022-06-06 23:35] peterwilsoncc commented on #27597
@carlomanf I've taken a look at https://github.com/WordPress/wordpress-develop/pull/2342 but think there are a few architectural things to work out before this is ready for core.

Rather than discussing these on the pull request I think it's better to discuss them here or on [WP#53131](https://core.trac.wordpress.org/ticket/53131) to avoid multiple threads.

At the moment the WordPress capabilitie

[2022-06-07 02:09] SaxonF commented on #39281
Are there any insights into what challenges absorbing _toolbar_ properties on patterns would solve? I really like the idea of property absorption mainly when thinking about content based settings. e.g. clicking a hero pattern and being able to set heading, body and CTA without clicking through to child blocks would benefit low code users/editors. Do the people who struggle with navigating the bloc

[2022-06-07 02:34] carlomanf commented on #27597
What do you think of something like this:

[code]

This is a little bit similar to what happens with the privacy policy check.

[2022-06-07 03:06] ribaricplusplus commented on #41173
Yes please. I don't think it is currently possible to use the Table of Contents block in the Single Post template for example... I'd have to add it to every post. That's just silly. I want to add Table of Contents block to my Single Post template.

[2022-06-07 03:54] stokesman commented on #10235
I've blockified both in an example plugin https://github.com/stokesman/lineup/ and here's a quick demo:

https://user-images.githubusercontent.com/9000376/172286287-d833acf4-3ebd-4e7e-b39c-bec33ebab535.mp4

Since I've had this little hands-on with creating some inline blocks, I'll share my perspective. Creating one is basically the same as creating any other block. The inconvenience is—given what

[2022-06-07 04:52] maddisondesigns commented on #39104
@stokesman That new control seems to work a lot better and is more reliable. The angle control also seems to be fixed and doesn't constantly close 👍

One thing I would suggest though is making the position of the colour picker consistent.
When you select a custom colour when using a solid colour, the colour picker appears to the left of the control.

<img width="1920" alt="screenshot_937" src="htt

[2022-06-07 05:53] t-hamano opened #41571 "Browser Warning Error when focusing on input field"
### Description

In the block's sidebar control, a warning error appears in the browser console when the input field is focused.
This only occurs in development mode (`npm run dev`).
Furthermore, if the target element is given `touch-action: none,` this error will no longer appear.

I cannot determine if this is a bug that should be fixed, but I am reporting it just in case.

## Message

[code]

#

[2022-06-07 06:26] stokesman commented on #41571
This was introduced by #38840 and there's more about the possible approach to resolve it in #38865.

[2022-06-07 07:26] gturpin-dev opened #41573 "[iOS] Block Vidéo with autoplay not working"
Hi

## Description
A bug happens only on iOS device on the "video" block with autoplay enabled. The video never start.

I fix the bug by adding `playsinline` attribute to the video block

## Step-by-step reproduction instructions

1. To reproduce the bug you must go to a page or post.
2. You must create a video block and add a video
3. You must enable autoplay ( maybe repeat and sound off )

## Ex

[2022-06-07 08:18] drilichili commented on #41173
This is a great Issue, I've ran into the same use-case as @HoffErik-JohnerInst. Would be great if it could be implemented.

[2022-06-07 09:00] jameskoster commented on #36350
@ehausen I think there is some overlap between your idea and the work going on in https://github.com/WordPress/gutenberg/pull/41156.

[2022-06-07 09:10] jameskoster commented on #39281
I suppose images are one example – you can only change the source via the toolbar. It sounds like you're suggesting moving that control to the inspector for patterns?

[2022-06-07 09:37] jameskoster commented on #39371
When setting a custom value, should we account for fluid sizing?

Edit: And if so, would those fluid sizes be configurable per value? For example if I split margin into 4 inputs, would it be possible to set fluid values for some, but not others?

[2022-06-07 11:19] gamebits commented on #40597
Similar issue https://github.com/WordPress/gutenberg/issues/36967 indicates that the alignment options also disappear when the block is in a column.

[2022-06-07 11:31] SaxonF commented on #39281
Images are a great example. Not sure how to solve that one. Patterns could contain multiple images which would complicate toolbar absorption further.

Revisiting an older idea, it would be a lot easier technically if you could make entire blocks overridable rather than attributes. This is kinda the opposite of block locking. Pattern instances would have blocks locked by default unless author decid

[2022-06-07 11:52] kimclowa8c commented on #21584
Hi everyone.
I'm an account manager on Team 51; and would love to reopen this and try get an accordion into core.

From reading above, am I correct in saying we're stuck here:
- The details block functions nicely; but itsn't accessible, therefore we can't proceed with it?
- We ideally would like a block that doesn't rely too heavily on js, as this could get complicated if we were to have multiple

[2022-06-07 11:53] spacedmonkey commented on #39324
If I am understanding correctly, the theme switching process is changing. This will likely mean a rewrite in react and will require more REST API interactions. Currently the themes REST API is extremely limited, only be able to list single and all themes. The functionality to activate / deactivate / install / delete themes is not part of the REST API.  There is an existing ticket [#54293](https://

[2022-06-07 12:39] #41443 closed, assigned to glendaviesnz

[2022-06-07 12:40] scruffian commented on #41443
This has been merged. @priethor can we get it into 13.4?

[2022-06-07 12:44] kathrynwp commented on #30725
Definitely agree that this is confusing behaviour. It came up in this forum thread, when a user was confused by the large amount of padding added automatically the moment a background colour was put on a paragraph block within a column:

https://wordpress.org/support/topic/how-can-i-make-all-blocks-within-a-row-with-one-height/

[2022-06-07 12:54] Addison-Stavlo opened #41575 "Block Toolbar Regression - Toolbar obstructs selected blocks."
When a block is near the top of the canvas and selected, the block toolbar obstructs the block.

We previously resolved this in https://github.com/WordPress/gutenberg/issues/29464 by moving the toolbar beneath the selected block IF there is no room in the editor canvas to position it above the block without selected block obstruction.

Some recent change has caused a regression in this behavior, t

[2022-06-07 13:42] jameskoster commented on #39281
One thing I'm still not 100% clear on is how we want to evolve patterns here.

Are we talking about them becoming global entities (essentially reusable blocks) that allow local overrides?

Or are we talking about simply 'flattening' the editing experience so they feel like single units, without any global synchronisation?

[2022-06-07 14:25] johnstonphilip commented on #41293
Interesting. Despite that this is a bug though right? It should never be in this state where it shows but there's no controls within it, unless I'm missing something!

[2022-06-07 14:29] stokesman commented on #34795
Seems like this has been resolved by #41222. Maybe the only qualm would be that the new button’s label ”Copy” is too terse.

[2022-06-07 15:02] justintadlock commented on #41441
Note: It's possible to do this via the `post_class` hook on the front end but not via the UI: https://developer.wordpress.org/reference/hooks/post_class/

[2022-06-07 15:04] skorasaurus commented on #41318
very similar to discussion at https://github.com/WordPress/gutenberg/issues/470

[2022-06-07 15:12] skorasaurus commented on #41562
Hi,

Thanks for reporting. To better understand the problem and find its source:

- Are you able to reproduce this after you have installed and activated the newest version of Gutenberg that is available through [the Gutenberg plugin](https://wordpress.org/plugins/gutenberg/)?

- Could you share what block theme that you're using?

- Open the browser's console (by typing control+shift+j) and inclu

[2022-06-07 15:59] draganescu commented on #40156
@javierarce one issue with the media replace flow integrating the use featured image option is that use featured image is a toggle menu item, while the others are normal menu items that action something else. That means the only item that gets a pressed state is this one, while the others never are pressed.

[2022-06-07 15:59] kathrynwp opened #41579 "FSE: Alignment options missing on Columns block added to new or existing templates"
### Description

As expected, block alignment options (such as Full-Width) are present on Column blocks that already exist in templates and template parts or when added within blocks that already exist within the default content. However, if you add a **new** Column block to an existing template or to a new template part, the alignment options are not present.

I expect to be able to set an alignm

[2022-06-07 16:10] jameskoster commented on #40156
Why is that a problem? 🤔

I'd expect the menu to look something like this:

<img width="1031" alt="Screenshot 2022-06-07 at 17 08 41" src="https://user-images.githubusercontent.com/846565/172429453-7f06f5ce-9022-410d-a6c0-c17bbf422ca4.png">

Clicking the "Use featured image" menu item would toggle the option off – effectively its the same as clicking "Clear media".

Choosing either of the other op

[2022-06-07 16:38] TimothyBJacobs commented on #39324
I don't have much to add beyond what you mentioned @spacedmonkey. The REST API endpoints will need to be expanded following the patterns we introduced in the Plugins controller.

If this is going to be a priority for WordPress 6.1, it'd be great to get confirmation of that early in the cycle.

[2022-06-07 16:46] bph commented on #41282
@ndiego I just followed [your instructions](https://github.com/WordPress/gutenberg/issues/41282#issuecomment-1145284351) and the patterns from the directory showed up nicely.

[2022-06-07 16:51] rubycon opened #41581 "Unescaped HTML tag in post title break Block Editor"
### Description

HTML tags are left unescaped in post title. With a <script> tag, this can break the block editor in an unrecoverable manner.

This also lead to XSS but apparently this is not a security issue, because WordPress [allow some user to post unfiltered HTML](https://make.wordpress.org/core/handbook/testing/reporting-security-vulnerabilities/#why-are-some-users-allowed-to-post-unfiltered

[2022-06-07 17:10] bradhogan commented on #40486
Any updates on this?  This is a big issue as there is not currently a good UI solution for adjusting spacing between desktop and mobile so sites look super wonky on mobile.  For instance, a two column layout with the right column having 10vw spacing on desktop then has way too much spacing on mobile.

[2022-06-07 18:04] johnstonphilip opened #41582 "Integrate Block Inspector sidebar with List View sidebar"
## What problem does this address?
Right now there are 2 sidebars that I typically have open when using the block editor:
- The Block Inspector sidebar (on the right)
- The List View sidebar (on the left)

This ends up taking up a lot of screen space, and requires me to jump around a lot.

## What is your proposed solution?
Show the block inspector with the list view, toggling it open for the curr

[2022-06-07 18:05] cuemarie opened #41583 "Subscriber role shows nav links to screens the role doesn't have access to"
## What problem does this address?

When a user is invited to a site as a subscriber, their experience of the dashboard is confusing due to the visibility of many navigation links they don't have access to (for instance, Media, Jetpack, and so on).

Reported here: https://github.com/Automattic/wp-calypso/issues/62975

## What is your proposed solution?

When you're invited to a site as a subscribe

[2022-06-07 18:10] #41583 closed, assigned to nobody

[2022-06-07 18:13] cuemarie commented on #41583
Opened this feature request here but I don't think this is the right place for it, so closing out - disregard!

[2022-06-07 18:23] skorasaurus commented on #22339
I can confirm that the issue still exists; the content in demo page was last updated 2020 - https://github.com/WordPress/gutenberg/blob/trunk/post-content.php

Next step would be either to update the content of that page to use current markup (e.g. button block); or investigate why old block markup isn't being copied; I noticed the duplicate feature was not available when I selected that button bl

[2022-06-07 19:00] masperber commented on #26215
Requested by a WordPress.com customer in live chat.

[2022-06-07 19:00] priethor commented on #41443
Sure, I'll cherry-pick the commit 👍

[2022-06-07 19:02] ndiego commented on #41582
I use the List View heavily to manage blocks, i.e. reorder them, copy/duplicate, etc. This is an interesting approach, and I can see the benefit, but I just wouldn't want it to negatively impact block management in any way. Might also get tricky with heavily nested blocks, and blocks with lots of settings. Once you install a couple of block extension plugins, those block setting sidebars get might

[2022-06-07 19:18] spencer-j commented on #38299
Hello
`remove_action( 'wp_body_open', 'wp_global_styles_render_svg_filters' );`
works in WP 6,
BUT
theme.json should be the place where i turn this features on and off, and this DOESN'T WORK like mentioned here:
[https://fullsiteediting.com/lessons/remove-settings-in-theme-json/](https://fullsiteediting.com/lessons/remove-settings-in-theme-json/)
AND by default every bloating not 100% used stuff s

[2022-06-07 21:00] glendaviesnz commented on #39371
@jameskoster by fluid if you mean `vh`, `vw`, `%` then yes we need to account for these with custom - currently it is possible to set these with both single and split margin and padding inputs.

[2022-06-07 21:34] jbonlinea opened #41586 "FSE - Homepage is displayed with "Page" instead of "Home" template"
### Description

I'm using TwentyTwentyTwo.

I have selected a static page as home page.

Navigating to the site homepage in the broswer do display the expected page

however it use the "page" template and not the "home" template (my site is in french and the exact tempalte name is "accueil".

In FSE, when I try to edit the "home" template, I have something totally different from my actual homepag

[2022-06-07 22:01] richtabor opened #41588 "Cover block with a featured image does not render unless edited (from a block template)"
### Description

I found an odd issue that occurs when you add the Cover block to a block template. The image does not render on the front-end, unless the block template is edited within the Site Editor.

*Note that this only occurs when the block is added to a block template, not when adding the block within the editor.

*Also of note, the `useFeaturedImage` control does not _need_ to be toggled

[2022-06-07 22:32] #41296 closed, assigned to ramonjd

[2022-06-07 22:35] SaxonF commented on #39281
That depends on the outcome of [this conversation](https://github.com/WordPress/gutenberg/issues/34352). I personally like @luisherranz suggestion [here](https://github.com/WordPress/gutenberg/issues/34352#issuecomment-1116300263) in combination with overrides as its consistent with existing design tools and creates more of a constraint driven editing experience which I know is [something people d

[2022-06-07 23:25] chadbush commented on #33385
Now with WordPress 6, the div that was wrapped around the figure has been removed and all of the workarounds described here (and elsewhere as far as I can see) no longer work. Does anyone have a temporary solution that works with WP 6 to force left and right aligned images into the content area in the editor? I haven't been able to devise one.

Also, does this change the direction this thread is h

[2022-06-08 00:09] Gustavo-Hilario commented on #38409
I have seen this a couple of times when working on FSE templates with customers.

Here is a screencast:

https://user-images.githubusercontent.com/50875131/172504407-af5f6d9f-246d-4c92-967c-6d4731808327.mp4

[2022-06-08 00:17] cbirdsong commented on #10235
This is really the problem. It would be super confusing to tell editors "oh, to insert this special character/piece of data/whatever, you need to switch to this other block". Even discounting that, the other block wouldn't have all the settings, features and block styles of the equivalent native block. It's not really a workable solution.

[2022-06-08 05:55] mrfoxtalbot opened #41592 "[Shortcode Block] Output defaults to Full Width unless it is wrapped inside an HTML element"
### Description

If the output of a shortcode is unwrapped, or is wrapped inside a `display:inline` HTML element, it will default to full width, offsetting it from the rest of the entry content.

I have noticed this is happening in TwentyTwenty and TwentyTwentyOne & TwentyTwentyTwo:

![Screen Shot on 2022-06-08 at 07:14:24](https://user-images.githubusercontent.com/4452464/172540226-8c072897-e37d-

[2022-06-08 06:04] fklein-lu commented on #33385
@chadbush WordPress 6.0 resolved an inconsistency between the block markup on the frontend, and in the backend.

You pointed out that the `div` wrapper around the `figure` is now gone. So that part of my [previous comment](https://github.com/WordPress/gutenberg/issues/33385#issuecomment-893551418) as no longer valid.

Both the frontend and the backend now use this structure:

[code]

So going back

[2022-06-08 06:31] Azragh commented on #40486
I am also waiting quite impatiently for a solution. It just feels wrong to use the Gutenberg editor, but still have to assign spacing classes to the individual elements in order to get a clean responsive layout. In my opinion, the aim and purpose of the editor is somewhat missed if I, as a developer, have to pre-design all possible content or create various templates and explain to customers that

[2022-06-08 07:08] noisysocks commented on #41466
Summarising some of the thoughts I remember having during our conversation at WCEU 😀

Personally I think it's nice to use a `select` element when possible as it means that mobile devices show a native picker which feels more native and is consistent across websites. Maybe we can keep both `SelectControl` and `CustomSelectControl`? Or automatically switch from `select` to a custom implementation wh

[2022-06-08 07:21] noisysocks commented on #41078
From memory, the `react-dates` component we use has a `weekStartsOn` property, so this should hopefully just be a matter of hooking that up to the setting we get from `__experimentalGetSettings()` in `@wordpress/date`.

[2022-06-08 07:24] chadbush commented on #33385
@fklein-lu  I tried your updated workaround and it works perfectly. Thank you so much!

I do appreciate that it's a good thing the extraneous and inconsistent `div` has been removed from around the `figure`.

I'll update my themes accordingly with this simple and elegant fix.

[2022-06-08 08:30] Ayfri commented on #40481
Any update ?

[2022-06-08 09:44] jameskoster commented on #39371
@glendaviesnz ah, no I didn't mean fluid units, sorry for the confusion. I meant fluid sizes as they're [being implemented for type sizes](https://github.com/WordPress/gutenberg/pull/39529).

So if I want a custom bottom margin, should the UI enable me to choose between a static value, or a fluid min/max?

[2022-06-08 09:58] jameskoster commented on #39281
Do you think the 'parent-first' / 'flattened container' experience something we want to apply to all containers, or is it reserved for patterns?

If it is reserved for patterns, how do I dictate that one particular group is now a pattern, is it just a toggle in the inspector, or a flow similar to the creation of reusable blocks? Would it be confusing that some containers behave this way and others

[2022-06-08 10:42] SaxonF commented on #39281
Only patterns imo

If block types end up being merged "create reusable block" would essentially become "create pattern" or "add to library".

I don't think so, particularly if other block types go away leaving just local blocks and synced (patterns). As long as we indicate which blocks are synced/patterns and which are local via colorising like in [your concept](https://github.com/WordPress/gutenb

[2022-06-08 11:11] SaxonF commented on #41379
Not sold on this approach but you could split patterns out into their own panel so it becomes more of a "quickly access your library" type experience. I still prefer the single inserter approach above though, especially when considering search.

![image](https://user-images.githubusercontent.com/1072756/172600202-763d847d-5604-4b96-8498-4660a7168ebe.png)

[2022-06-08 11:42] jameskoster commented on #39281
This feels important, and makes me wonder whether we should prioritise things like https://github.com/WordPress/gutenberg/issues/34352 and https://github.com/WordPress/gutenberg/pull/40393?

[2022-06-08 12:12] jameskoster commented on #41379
I think that's essentially how it would work in the mean time, if this feature were introduced as a part of the [zoomed out](https://github.com/WordPress/gutenberg/pull/41156#) view:

https://user-images.githubusercontent.com/846565/172613128-bea1ba36-43b0-462f-85af-bab3f1167e52.mp4

[2022-06-08 12:28] #32715 closed, assigned to mirka

[2022-06-08 12:58] gigitux commented on #41062
For https://github.com/woocommerce/woocommerce-blocks/issues/5193 we are trying the solution with a `subscribe` callback. Maybe, could we try to contribute upstream to support these APIs? I guess that could be useful for other plugins too.

[2022-06-08 12:59] jameskoster commented on #41546
I agree, this feels like a good first step.

A dedicated close button already exists – re-clicking the ellipsis will close the menu. Perhaps there's something we can do to make that more obvious?

[2022-06-08 13:03] Humanify-nl opened #41597 "Navigation menu fails to mark page ancestor css class"
### Description

There is currently no `is-menu-ancestor`, nor is there a `is-page-ancestor` css-class in Gutenberg navigation.

Page children of a page-group are not marked in the menu, making it impossible to 'mark' where the user is, when working with many pages and page-groups.

As devs are being 'forced' to use the new menu in FSE mode, with no usable fallback to the old menu screen, it would

[2022-06-08 13:22] jameskoster commented on #41545
As an interim, perhaps we could reduce the menu width, and open it from the bottom-left of the ellipsis?

| Before | After |
| --- | --- |
| <img width="444" alt="Screenshot 2022-06-08 at 14 17 07" src="https://user-images.githubusercontent.com/846565/172626227-8cb2f0e0-7dd0-41f4-b3a0-71b60f373b01.png"> | <img width="526" alt="Screenshot 2022-06-08 at 14 17 16" src="https://user-images.githubuserc

[2022-06-08 13:28] SaxonF commented on #41379
I think it's important block and pattern insertion works the same regardless of how the canvas is presented, at least in core. Zoom to me is really just a zoom setting as opposed to a separate view. Eg I may want to insert blocks while zoomed out or insert patterns while zoomed in.

[2022-06-08 14:14] jameskoster commented on #41379
Oh I agree. I was just highlighting that we can potentially try this (in the plugin) in that 'view' since it lends itself to working with patterns already.

[2022-06-08 14:18] johnstonphilip commented on #41582
@ndiego I can definitely see that!

My initial thoughts:

- Nesting isn't really a problem because you still only ever have one block selected at any given time. The indentation of the block settings doesn't have to increase just because it's nested.
- I'm not sure sidebar length is really an issue either because it's either long on the right or long on the left.

[2022-06-08 14:23] sabernhardt commented on #38470
This seems to be fixed by #40530.

[2022-06-08 14:23] #38470 closed, assigned to nobody

[2022-06-08 15:00] eric-michel commented on #39371
@jameskoster

I don't know that I would personally ever use this option, but more flexibility is always better than less if it's not onerous to implement. Since font sizes seem to be heading that direction, maybe spacing should use the same implementation.

[2022-06-08 15:49] david-gonzalez-a8c commented on #40450
Hi folks.

Worked on a couple of prototypes, I'm sharing some videos. I think it's important to see this in movement for the fixed effect and because of the change in sizes of the top bar for the child/parent block, as this could bring some visual awkwardness.

Fixed top bar center-aligned:

https://user-images.githubusercontent.com/92024441/172657942-2dcabc91-5e2f-4b4a-80a6-c34e745774b2.mov

Fixe

[2022-06-08 16:37] dmsnell commented on #38637
can someone who is able to reproduce this please copy the offending content from Word and paste it into [my clipboard viewer](https://dmsnell.github.io/ghpages/clipboard.html) and then paste the full contents of that page here into this issue? you can [inspect the source code](https://github.com/dmsnell/ghpages/blob/main/clipboard.html) to verify that nothing nefarious is going on in that code.

h

[2022-06-08 17:41] mtias opened #41606 "Exploring how Patterns can be connected to Schemas"
_This idea was discussed in person at WCEU 2022 during contributor day: @youknowriad @aristath @gziolo @luisherranz_

Connecting schemas (https://schema.org/docs/schemas.html) with blocks is something that has been surfaced a few times in the past as an interesting use case. There are several plugins doing that already by creating custom blocks. This proposal aims at introducing a slight twist to

[2022-06-08 17:49] brookewp commented on #39073
Hi @richtabor, thanks for the example!

Are you referring to flex layouts as defined [here](33687)? The Search block is currently set to `display: flex`, so I might be misunderstanding the idea here. Do you have an example of what it might look like?

[2022-06-08 17:58] github-actions[bot] opened #41607 "[Flaky Test] should navigate correctly with multi selection"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should navigate correctly with multi selection

## Test path
`specs/editor/various/keyboard-navigable-blocks.test.js`

## Errors

<time datetime="2022-06-08T17:58:56.070Z"><code>[2022-06-08T17:58:56.070Z]</code></time> Test passed after 1 failed attempt on <a href="https://g

[2022-06-08 18:25] richtabor commented on #41588
@ndiego figured out it was due to the spaces added between the elements when exported.

[2022-06-08 18:25] #41588 closed, assigned to nobody

[2022-06-08 18:42] skorasaurus commented on #14694
Thank you for the detailed use case; this is overlaps with https://github.com/WordPress/gutenberg/issues/10235 and which would cover your use and you can follow along progress to implementation in that issue.

[2022-06-08 18:42] #14694 closed

[2022-06-08 18:48] skorasaurus commented on #20244
overlap with https://github.com/WordPress/gutenberg/issues/27107

[2022-06-08 18:50] skorasaurus commented on #27107
@jffng regarding fluid typography, that is actively being worked on at https://github.com/WordPress/gutenberg/pull/39529

[2022-06-08 18:53] mtias commented on #39439
I had another realization here that I believe simplifies things greatly: the auto-insert behaviour should work with file based templates, not with saved templates. If a user wants to remove the auto-inserted block, they remove it and save; since the template becomes a saved template at that point, the user choice would be honored. If the user wants to restore the block they can insert it or revert

[2022-06-08 19:19] bgardner opened #41608 "Extra spaces in search block / button markup"
### Description

Presumably with the addition of https://github.com/WordPress/gutenberg/pull/40260, an extra space is added before the wp-element-button class on buttons found in the search block:

### Step-by-step reproduction instructions

1. Go to front end of website
2. Inspect search form button
3. See below

### Screenshots, screen recording, code snippet

![image](https://user-images.github

[2022-06-08 19:30] eric-michel opened #41609 "Suggestion: Add .is-light or .is-dark class to any block with background color selected"
## What problem does this address?
This request was inspired by some conversation in https://github.com/WordPress/gutenberg/issues/38719

I am constantly trying to provide my content editors with sensible defaults that make editing as easy as possible. That includes automatically changing the foreground color from dark to light if the chosen background is dark, without the need for the user to als

[2022-06-08 19:39] nerrad commented on #39439
This is the primary concern I had as well. Once a template is customized and saved, the discovery process for auto-insertion of content any plugins activated after the fact want to do, is a critical piece imo. Especially for templates that may not be visited often by users (i.e. a checkout template for a commerce application). I think we'd need to think through discovery beyond just within the tem

[2022-06-08 20:01] bgardner commented on #41608
Noting that in the screenshot above, there are other instances of spaces after class names as well.

[2022-06-08 20:34] rubycon commented on #41581
This bug can be reproduce with an empty `<script></script>` anywhere in the title text.
It seems to happen when React tries to create the content editable H1 of the block editor.

The JS console stack trace points to `js/dist/rich-text.js` where the `append` function tries to append an invalid `Node` object to the DOM:
[code]
This object doesn't have a type and it looks like an anomaly (should it

[2022-06-08 21:13] cbirdsong commented on #39336
Expanding on what I said in https://github.com/WordPress/gutenberg/issues/40159: I think it would be best if the layouts used throughout the editor/front-end CSS were conceptualized/divided more cleanly. Ideally, every `.is-layout-` class should be designed to produce a clear end result in the way that [the different layouts on Every Layout](https://every-layout.dev/layouts/) are, and any customiz

[2022-06-08 21:26] cbirdsong commented on #41609
This would be super helpful. However, the cover block's implementation has issues with gradients, which would need to be fixed before rolling it out universally.
- https://github.com/WordPress/gutenberg/issues/28117

Also, the cover block should actually get an "is-dark" class instead of us using `:not(.is-light)`.

---

Related issues where this idea has been touched on:
- https://github.com/Word

[2022-06-08 21:29] cbirdsong commented on #23890
Can this be revisited? I've had to explain that buttons look like inputs and vice versa to several clients in training sessions.

[2022-06-08 21:33] glendaviesnz commented on #39371
Good question. I haven't seen any discussion on this. Currently, the UI only allows a static value. I guess it is worth considering how that might fit in with the other options.

[2022-06-08 22:12] jameskoster commented on #39371
Was chatting with Matias earlier and he mentioned it might be better if themes only supply two values; a base unit and a scale factor.

We can then use those two values to dynamically create a range of options in things like padding controls. There are a couple of benefits to this:

1. Padding settings can translate across themes (`base value * scale factor` is always going to work, whereas slugs

[2022-06-08 22:29] glendaviesnz commented on #39371
Thanks @jameskoster. This idea was [suggested above](https://github.com/WordPress/gutenberg/issues/39371#issuecomment-1075714440) by @mrwweb:

but it either got lost in all the discussion, or there are some gotchas with this approach - would be good to hear if people can see any immediate drawbacks with this approach.

In the meantime, I will see if I can open a parallel PR to #41527 that explores

[2022-06-08 22:40] glendaviesnz commented on #39371
At the moment the plan is to try and apply these presets via inline styles and custom properties, but to do this dynamically on the frontend, not via hardcoded inline styles in the static block content, using the new [style engine framework](https://github.com/WordPress/gutenberg/tree/trunk/packages/style-engine). This removes the need for a large number of utility classes to cover every variation

[2022-06-08 23:56] richtabor commented on #40621
One thought. What happens if I apply a style that’s limited to a variation, then switch variations? Does the style class get removed?

[2022-06-09 01:31] cbirdsong commented on #39371
I would be fine with an automatic scale being an option, but I also want the ability to define my own sizes/scale instead of being forced into using whatever system core decides on. A big benefit of presets, design tokens and the whole framework proposed in #38998 is that a theme developer can define them however they like while still maintaining compatibility with core blocks, patterns and other

[2022-06-09 01:47] glendaviesnz commented on #39371
Thanks @cbirdsong, that is helpful to know as we explore the various options.

[2022-06-09 02:04] fabiankaegy commented on #39371
I can echo that I can see a scale factor be something useful for some. But sadly in the world of existing design systems not everything adheres nicely to a programmatically generated scale.

Having the ability to define your own preset values in a theme would be crucial here for a lot of agency work.

[2022-06-09 03:50] CrazyEarthGuy opened #41613 "Gutenberg List View has limits on the length it can display"
### Description

It seems there are annoying limits on how may items the Gutenberg "List View" can display (using WordPress 6.0 on Win 10 system, latest version of Chrome browser). On long complicated pages, that contain many blocks, if I scroll far down my page, past many many blocks, and click on a block, that block often won't get highlighted in List View.  Lets refer to such a block as a "far

[2022-06-09 04:35] drwsmth opened #41614 "Non-core block styles defined in theme.json currently being filtered-out before rendering"
### Description

When adding block styles for non-core blocks in `theme.json`, I expect styles to populate in the editor and front-end in a similar fashion to core blocks.

Seems that since #40185 was merged into Gutenberg 13.1, this is no longer happening — is this intended behaviour?

### Step-by-step reproduction instructions

1. Install the Gutenberg plugin
2. Install a plugin which enqueues c

[2022-06-09 04:42] andrewserong commented on #39336
Thanks for sharing the ideas @cbirdsong!

Unfortunately there were a number of subtle issues at play when the blockGap behaviour relied more directly on CSS variables. The main issue tracking styling conflicts was https://github.com/WordPress/gutenberg/issues/36521 and it partially resolved in https://github.com/WordPress/gutenberg/pull/37360, which attempted to remove most used of CSS variables f

[2022-06-09 05:14] github-actions[bot] opened #41616 "[Flaky Test] creates a group from multiple blocks of different types via block transforms"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
creates a group from multiple blocks of different types via block transforms

## Test path
`specs/editor/various/block-grouping.test.js`

## Errors

<time datetime="2022-06-09T05:14:09.913Z"><code>[2022-06-09T05:14:09.913Z]</code></time> Test passed after 1 failed attempt on

[2022-06-09 05:20] glendaviesnz commented on #41473
@kathrynwp I was able to replicate this on WP 6.0 with latest GB trunk, but it only happens if you select the `Upload` tab in the media library modal and exit, an then click `Media library` again, eg. it remembers your last open tab:

https://user-images.githubusercontent.com/3629020/172769766-e01b7e0c-a5cf-447d-a28f-aae6bdd6eb82.mp4

I guess it could sometimes make sense to remember the last open

[2022-06-09 05:38] carolinan commented on #41586
Hi!
When you assign a static page as the homepage, the `home` template is used to display the blog, the list of latest posts.
This is for historical reasons, it can't be changed now without breaking sites. This behavior is the same in classic themes and FSE themes.
You can read more about it here: [Template hierarchy.
](https://developer.wordpress.org/themes/basics/template-hierarchy/#home-page-di

[2022-06-09 05:44] carolinan commented on #41592
I believe this works as expected, similar to the HTML block.
Because if your shortcode contains markup, the shortcode may be affected if the shortcode block wrapped that code inside another element.

[2022-06-09 05:51] simonwammerfors commented on #40813
Hi

Thanks for this. Using blockGap certainly mitigates this a lot!

If I understand things correctly, giving the p tag margin via the theme.json will always be overridden by other styles generated by WordPress core. Surely that can't have been the intention? Or are there use cases where this theme.json generated css actually will make any difference?

[2022-06-09 06:10] DeoThemes opened #41617 "Page templates are no longer displaying in editor"
### Description

Before Gutenberg 13.4 update we were able to choose page templates from the dropdown.
![_220609135830](https://user-images.githubusercontent.com/16485360/172775051-760e097b-c3c2-4c54-8798-d7d0ecf46c5c.png)

Now it's no longer working, page templates are not recognized by the editor.
![_220609140837](https://user-images.githubusercontent.com/16485360/172776563-88973590-e278-4889-8f

[2022-06-09 06:13] VadymPogorelov opened #41618 "The “Custom HTML” block slows down page editing"
### Description

The traverseCSS() function is called to process editor styles when the page is loaded into the editor.
I’ve added some console output for demonstration: https://prnt.sc/I79b2TpavAyo and https://prnt.sc/ejkHSM4_0RMF
This usually happens once when the editor is loaded: https://prnt.sc/hNhP4_Zg1FBv

But if you add the “Custom HTML” block to the page: https://prnt.sc/jOiThPb8V4X1 then

[2022-06-09 06:20] carolinan commented on #41579
Hi!
This is a known usability problem with how the layout and alignment settings work.
What you are describing is not a bug, it is intentionally created to work this way.

When editing a template or template part, alignments are available if the blocks are placed inside a group block (or for example a query block) with the setting "Inherit default layout" enabled.

I believe the most active discus

[2022-06-09 06:20] #41579 closed, assigned to nobody

[2022-06-09 07:06] carolinan commented on #41535
Hi!
I am closing this issue as a duplicate of [#30725 ](https://github.com/WordPress/gutenberg/issues/30725) and  [#36586](https://github.com/WordPress/gutenberg/issues/36586).
I encourage you to continue the discussions in your pull request, or in the open issue.

[2022-06-09 07:06] #41535 closed, assigned to nobody

[2022-06-09 07:15] github-actions[bot] opened #41620 "[Flaky Test] should respect default content"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should respect default content

## Test path
`/test/e2e/specs/editor/various/new-post-default-content.spec.js`

## Errors

<time datetime="2022-06-09T07:15:49.068Z"><code>[2022-06-09T07:15:49.068Z]</code></time> Test passed after 1 failed attempt on <a href="https://github.c

[2022-06-09 07:17] Humanify-nl commented on #40621
Good one. From a UX perspective I’d say yes. Otherwise end-users will learn that styles can linger. Instead we want to learn them that certain styles only become available when a variation is on or off.

This would make it so that variations live in a ‘higher hierarchy’ than styles, which makes sense because these are often structural changes (see: row, stack, group) and styles are how these ‘look

[2022-06-09 07:20] carolinan commented on #41541
Since the different taxonomies are variations of the post term block, would it make sense to display them as well, variations, instead of a sidebar option?

Aside: It should be possible to transform to a different variation.

[2022-06-09 07:24] MaggieCabrera opened #41621 "Comment Date Block: Editor markup is wrapped in a paragraph block"
### Description

The markup output in the editor is different than the frontend, in this case the date is wrapped in a paragraph tag and that causes inconsistencies if there are CSS rules for it.

### Step-by-step reproduction instructions

Install Blockbase
Insert the Comments Loop
Check the frontend and the editor

### Screenshots, screen recording, code snippet

Editor:

<img width="550" alt="S

[2022-06-09 07:34] carolinan commented on #41509
I can confirm this:

- It does not happen if the last column has a block inside it.
- It is not limited to a specific number of columns, and not limited to the paragraph. It affects the block placed after the column.

[2022-06-09 07:37] carolinan commented on #41508
We tested and confirmed this during the WCEU2022 contributor day.
Also see [#41509 ](https://github.com/WordPress/gutenberg/issues/41509).

[2022-06-09 07:51] carolinan commented on #41473
I am seeing the same result as Glen.

[2022-06-09 08:51] AlceoMazza opened #41622 ""Preview in a new tab" button not showing to user with only edit_published_cpt capability"
### Description

The "Preview in a new tab" button in a custom post type doesn't show to a user with `edit_published_cpts` as the only capability for a custom post type.
The `edit_cpts` capability is not granted in order to deny access to the `edit.php?post_type=cpt` page to the user.

### Step-by-step reproduction instructions

1. Register a custom post type `cpt` with these args
[code]
2. Regist

[2022-06-09 08:54] carolinan commented on #41290
I tried to test this but I am not sure I understood correctly.

Where: Post editor.

Group block set to "Wide width" as in the animation.
The group block has "Inherit default layout" enabled, as in the animation.

When the columns block has "none" selected in the width option, the columns block is centered inside the group, and the block is narrow.

-To make the columns fill the width of the group

[2022-06-09 09:02] carolinan commented on #41562
Do you have any browser extensions enabled on Chrome but not Firefox, that may be interfering?

[2022-06-09 09:13] jameskoster commented on #40450
Another thing to consider is the interplay between top toolbar and select mode. This doesn't feel right:

<img width="995" alt="Screenshot 2022-06-09 at 10 11 57" src="https://user-images.githubusercontent.com/846565/172811368-ce18f13b-cd91-40b5-8126-59eb9b649229.png">

[2022-06-09 09:14] carolinan commented on #41419
Hi
I have not been able to reproduce this using Gutenberg 13.4.0. Can you provide any more information about the legacy widget contents?

[2022-06-09 09:48] ellatrix commented on #22834
I tried the shadow DOM idea and it doesn't seem to work... as soon as you attach a shadow, the rest of the child elements are still in the DOM but they're no longer visible.
And a second problem is that some elements don't support shadow DOM, like `<hr>`.

[2022-06-09 09:51] scruffian commented on #39371
I agree. A base + scale approach would be great for those who want something to work out of the box, but we also need to have the flexibility to add custom sizes.

[2022-06-09 09:55] jameskoster commented on #40450
I'm curious to hear more of the thinking behind this. Merging seems like the most consistent approach given the array of different views that exist or are in development:

<img width="740" alt="Screenshot 2022-06-09 at 10 54 33" src="https://user-images.githubusercontent.com/846565/172820235-75c0b902-8d45-46e4-bb34-8b01aa7ee2b3.png">

[2022-06-09 10:17] alexflorisca opened #41623 "Typing ```js doesn't select the right language in SyntaxHighlighter Code block and causes block to crash"
### Description

When typing ```js to bring up a SyntaxHighlighter Code block, it creates the block, but the language is set to empty. Clicking on the language setting makes the block crash. I would expect it to create the SyntaxHighlighter Code block with the JavaScript language selected.

### Step-by-step reproduction instructions

1. Open up the editor
2. Type: ```js and hit enter
3. See that t

[2022-06-09 10:36] SaxonF commented on #41606
Love that this was discussed! I'm a big fan for a few reasons:
- Pattern switching would become more predictable
- It ties into the idea of [overrides on synced block instances](https://github.com/WordPress/gutenberg/issues/39281#issuecomment-1147139036)
- If we design a way for block attributes to reference schema properties (e.g. paragraph content pulls from `cookingMethod` ) then we can use the

[2022-06-09 11:16] tyxla commented on #17025
I'm planning to start working incrementally on removing Lodash completely from the repository. Usage is not so high, and the bundle size impact will be huge for some of the packages when used externally.

[2022-06-09 11:17] tyxla commented on #39495
I'm planning to start working incrementally on removing Lodash completely from the repository. Usage is not so high, and the bundle size impact will be huge for some of the packages when used externally.

[2022-06-09 11:22] mat-cable commented on #14356
The option would be really useful, i expected the option to be there, using it to direct users to latest post if they dont want to keep reading this post feels like a common enough thing, else you need to after a few more posts have been published then edit the old post to add in the latest posts section which seems awkward.

[2022-06-09 11:42] luisherranz commented on #39439
I was thinking about this as well. I haven't had time to settle on these thoughts yet, but I guess they are worth sharing, just in case.

Global Styles are a way to overwrite `block.json` properties. If Gutenberg embraces [@mtias' section's proposal](https://github.com/WordPress/gutenberg/issues/39281), sections will have "Global Styles" capabilities and, therefore, the opportunity to overwrite th

[2022-06-09 11:43] ntsekouras commented on #41617
Thanks for creating the issue @DeoThemes! I'll look into this.

[2022-06-09 11:45] fabiankaegy commented on #39495
@tyxla That is awesome to hear <3

The biggest hurdle for me when looking into removing lodash from the `@wordpress/url` package was that I couldn't find a great replacement for the [`deburr`](https://lodash.com/docs/4.17.15#deburr) function.

If you find a way to remove that dependency that will have a huge impact on the ability to use various `@wordpress/` packages on the frontend of a site.

[2022-06-09 11:51] tyxla commented on #39495
Good to know @fabiankaegy 👍 We'll most likely end up having to introduce either a few new utility functions or reusing some well-established implementations that are broadly adopted by the community. `deburr` is definitely one of those, but `throttle` and `debounce` also immediately come to mind when talking about this. We'll get to them all eventually.

[2022-06-09 11:52] fabiankaegy commented on #39495
I took a shot at https://github.com/WordPress/gutenberg/issues/39495#issuecomment-1069107816 but failed because I don't really have a good enough understanding of the underlying text encoding.

[2022-06-09 11:56] tyxla commented on #39495
Interesting. Luckily, a few years ago I did implement an almost exact replica of the WP core `remove_accents()` for a side project: [remove-accents](https://www.npmjs.com/package/remove-accents).

It seems to be used quite extensively, and I couldn't be happier to spend more time maintaining it than if it was used in Gutenberg. It could be one way to get rid of `deburr()` usage, even if it meant r

[2022-06-09 12:00] carolinan commented on #41592
I see that Twenty Nineteen does not center but left aligns content, but I don't know how.

For example when placing a group block with alignment "none", and one with "wide", both blocks are left aligned, the wide block is larger, but only expands to the right.

[2022-06-09 12:17] cbirdsong commented on #39336
Hmm, [I can see](https://codepen.io/cbirdsong/pen/rNJqveX) you're right about this in the case of inline styles and flow layout. I had solved that problem by applying the custom property to the child, but that can't work with an inline style:

<details>
<summary>View Code</summary>

[code]
</details>

However, it _does_ work for custom values in general. In my non-theme.json themes, I've successfu

[2022-06-09 12:28] carolinan commented on #41541
It is already a single block. I meant if you place a post categories block, it would have an option further up in the sidebar,
just like if you place a group block, you can choose between group, stack, row:

![image](https://user-images.githubusercontent.com/7422055/172846732-18846417-7750-4d3a-9c36-8dc36ea2fcb0.png)

And custom taxonomies would have some sort of generic icon.

[2022-06-09 12:31] MatzeKitt commented on #41293
By the way, it’s the same if you don’t use a `theme.json` (so if you’re not using a block-based theme) and disable it via `add_theme_support( 'disable-custom-colors' );`.

[2022-06-09 13:05] carolinan commented on #41026
I can confirm the problem on the front, not the editor.

I think it might be an issue with this piece of code in the [layout support.](https://github.com/WordPress/gutenberg/blob/trunk/lib/block-supports/layout.php#L194)

[2022-06-09 13:22] ciampo commented on #34795
Agreed — maybe we could change the text to "Copy to clipboard"?

[2022-06-09 13:23] ellatrix opened #41628 "List v2 + RichText: allow trailing non editable content"
## What problem does this address?

When nesting another list in a list item, this list is inserted *inside* the list item. Ideally this list item text should also be editable. To work around this, we wrapped the text in an editable div, but ideally we shouldn't have to do that.

The markup should look as follows:

[code]

The current markup is this:

[code]

## What is your proposed solution?

It

[2022-06-09 13:57] carolinan commented on #39266
We now have two separate tools, how do we move forward?
@matiasbenedetto https://github.com/matiasbenedetto/a11y-blocks-test
@JustinyAhin https://github.com/JustinyAhin/generated-blocks

[2022-06-09 14:09] luisherranz commented on #41606
I briefly touched upon this in a conversation with @dmsnell about his work with [inline tokens](https://github.com/WordPress/gutenberg/discussions/39831). I can imagine a `context.schema.cookingMethod` token that pattern creators could add to a paragraph or a header in their recipe patterns.

[2022-06-09 14:12] LukaszJaro commented on #41412
This is creating issues in non-fse themes as well, no option to add accessible text.

[2022-06-09 14:15] kathrynwp commented on #33917
Somewhat similar request here, requesting the an option to stack buttons, only on mobile:

https://wordpress.org/support/topic/buttons-stack-on-mobile/

[2022-06-09 14:33] kraftner commented on #38537
Please do not deprecate the block. It is very helpful to have a different block that has an intentionally very limited scope in contrast to the endless possibilities of a construct of nested other blocks.

At least not until there are ways to create something that enforces the various constraints this block offers like:

- only 2 columns
- one has to be media
- control stacking behavior on mobile

[2022-06-09 14:47] stokesman commented on #10235
For the particular use case you brought up I'm pretty confident a more workable solution could be produced with the Format API. It's the dynamic stuff that’s in need of some of the power of blocks. However, I think the big hurdle to allowing blocks inside of blocks like Paragraph is that it would complicate their common usage.

It seems like some ideas being discussed in #39831 might be more likel

[2022-06-09 15:21] Mte90 commented on #3144
it is surprising after 5 years of the release this support for something that is in wordpress since more years is not available in gutenberg and block the plugin development to invent other solutions...

[2022-06-09 15:33] ooksanen commented on #40813
@adamwoodnz  I think the actual problem here is the fact that blockGap is used for all blocks, even for paragraphs and headings, and your suggestion for setting blockGap doesn't exactly fix that, although it might've helped @simonwammerfors somewhat.

For example on a theme I'm currently developing, I've set the block gap to be `clamp(2rem, 5vw, 4rem)` so that if I use, say columns block, the marg

[2022-06-09 15:33] jbonlinea commented on #41586
Hi there,

Thank's for your quick reply !

Humm, you mean that with FSE, the home template will always be use to display the blog, weather I have chossen blog or static page as a home page ???

So you mean that if
- I select a static page as homepage
- and want this page to use a specific template
--> I have to create "new" dedicated template for that page and select it in the page editor ???

OK

[2022-06-09 15:48] richtabor opened #41636 "Units reset to px when resizing a Cover block"
### Description

In the current experience, if I set the Cover block to use any unit, other than `px`, then resize the block with the ResizableBox control, the units will revert back to `px`. Which means that when `vh` or `vw` is used, the direct mechanism for dragging the height of the cover block is no longer useful, as you are required to navigate back to the control and pick the unit again, an

[2022-06-09 15:56] richtabor commented on #41282
I'm thinking this may be the norm one day. Instead of including them in a single theme, having the patterns available within the theme — but also for everyone else.

[2022-06-09 15:59] joedolson commented on #39266
@JustinyAhin's tool is providing the front-end view that I was looking for, so that's a great start. It needs some work to make it really useful for testing: e.g., pre-populating the blocks with content suitable for testing. E.g., the comment block doesn't provide a great test case if it just indicates "no comments", ensuring the tag cloud is populated with tags, etc.

Justin - would you like thes

[2022-06-09 16:19] richtabor opened #41637 "Add method to name custom entity props"
## What problem does this address?
When `useEntityProp( 'root', 'site', 'title' )` is used, the entity is named "Title" within the confirmation step when saving changes.

Is there a method for naming custom entity props, to improve the UX of editing/saving them? Currently the `option_name` displays, instead of using a proper title, which makes it less clear what's actually being saved.

## What is

[2022-06-09 16:19] github-actions[bot] opened #41638 "[Flaky Test] converts uncontrolled inner blocks to an entity when modifications are made to the blocks"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
converts uncontrolled inner blocks to an entity when modifications are made to the blocks

## Test path
`specs/editor/blocks/navigation.test.js`

## Errors

<time datetime="2022-06-09T16:19:55.003Z"><code>[2022-06-09T16:19:55.003Z]</code></time> Test passed after 1 failed at

[2022-06-09 16:32] adamziel commented on #41637
It looks like each Site property is listed separately in that sidebar:

https://github.com/WordPress/gutenberg/blob/56df22dd163cd1823bcef7cbdfb8679eac8507b4/packages/editor/src/components/entities-saved-states/index.js#L57-L64

The culprit is that some properties use a human-readable label such as "Title", but the other ones are just passed verbatim, which is what you see. I wonder what a solution

[2022-06-09 16:36] benknight commented on #39937
I'm having the same issue. Alignment doesn't work at all, no classes or attributes are appended in the output HTML after toggling these settings.

[2022-06-09 16:37] adamziel commented on #41637
To document some thoughts from slack,

Rich said:

To which Adam replied:

[2022-06-09 16:47] adamziel commented on #41637
A minimal improvement would be adding more settings to this list:

https://github.com/WordPress/gutenberg/blob/56df22dd163cd1823bcef7cbdfb8679eac8507b4/packages/editor/src/components/entities-saved-states/index.js#L23-L30

Then, to allow plugin authors to supply their own labels, we'd likely need to create a new filter and then apply it to that list using `applyFilters` from `@wordpress/hooks`. Pe

[2022-06-09 17:02] slr1979 commented on #39054
Could @ajlende or anyone update me on the progress of the style engine/fixes in relationship to asynchronous contexts? It has been 4 months since I first reported this and I would appreciate further info.

I have just updated to WP 6.0 on my staging site and I am now experiencing similar issues with the block gallery even when reenabling global styles and layout support in the code below.

[code]

[2022-06-09 17:10] skorasaurus commented on #12420
Interestingly, for me, this is not the case.. When I registered a new block style for the core list block (via registerBlockStyle; I omitted the isDefault value), the class name `wp-block-list` is applied to all newly created list blocks; even those that do not use my newly registered block style .

[2022-06-09 17:24] ciampo commented on #41466
Thank you for summarizing our conversations here!

This is definitely a good point, and one that I don't have a definitive answer to for now. I'd like to explore both options (and potentially more alternatives) in the upcoming weeks. I'll probably start by trying to use `ariakit`'s components in `CustomSelectControl` and see how that goes.

Re. the amount of customisation, I partially replied to t

[2022-06-09 17:36] richtabor opened #41640 "Tweak group block description"
## What problem does this address?
"Layout" is mentioned three times within the top area of the Group block Inspector Sidebar. It's a bit overkill and not necessary. I propose we update the description to remove that reference.

## What is your proposed solution?
`Gather blocks in a layout container.` becomes `Gather blocks in a container.`

## Screenshots

Current:
<img width="276" alt="CleanShot

[2022-06-09 17:52] ajlende commented on #39054
@slr1979 It looks like refactoring duotone to work in the style engine is on the checklist in #38167.

Maybe @andrewserong can share some details?

[2022-06-09 18:45] richtabor opened #41643 "Inconsistent active states across the editor UI"
## What problem does this address?

Was reviewing the current UI and noticed a few inconsistencies across active states for controls. We have three standard states for indicating an active state, two shades of black and the admin primary color.

### Audit:

#### Uses `#2f2f2f`/ ($gray-800):

<img width="278" alt="CleanShot 2022-06-09 at 13 39 59@2x" src="https://user-images.githubusercontent.com/1

[2022-06-09 19:36] eric-michel commented on #41609
Man, there's always an existing thread; I'm just terrible at finding them!

I will close this in favor of https://github.com/WordPress/gutenberg/issues/34717 and add my comment there.

I agree the gradient issue for color determination should be fixed. I selfishly want this included as quickly as possible since I typically use solid color backgrounds and it would be really helpful even as-is, but

[2022-06-09 19:36] #41609 closed, assigned to nobody

[2022-06-09 19:50] eric-michel commented on #34717
[I posted a similar suggestion](https://github.com/WordPress/gutenberg/issues/41609) and @cbirdsong kindly pointed me to this one. I've closed my post in favor of this one.

@mrwweb

This is exactly where I was going with my suggestion. Gutenberg already has a way to assess lightness or darkness in the editor (although it could be improved to better understand gradients). The Cover block is automa

[2022-06-09 20:43] #41447 closed, assigned to nobody

[2022-06-09 21:25] ALJ commented on #41293
@johnstonphilip I experimented with the `color` object from your `theme.json` and just one inclusion successfully hid that broken Color panel. Try this; notice the inclusion of `"gradients": []`:

[code]

Having said that, I've come across a very similar bug (I _assume_ it's a bug). The `core/button` block's Border panel still displays even when disabling borders globally with:

[code]

Even with

[2022-06-09 21:30] eric-michel commented on #39371
Agreed. Perhaps the solution is a hybrid system in which the `base + scale` approach produces the standardized tokens used across themes and plugins, and extra tokens can be defined for use only with that theme.

This seems a bit overly complicated, though, compared to having a standard set of slugs (ie, `10`, `20`, `30`, etc) that are used across themes and leave room for easily adding theme-only

[2022-06-09 21:38] richtabor opened #41644 "Improve initial state of the Post Comments Link block"
## What problem does this address?
The Post Comments Link block should have a better placeholder state that allows a true visual, instead of a traditional editor placeholder UI. The "post" cannot be found within the Site Editor, but that should not stop you from seeing a true-to-form representation of the block.

## What is your proposed solution?
Use the actual "No Comments" state of the block, i

[2022-06-09 21:39] glendaviesnz commented on #39371
Just to add some context, the reason for exploring the scale approach is to easily allow the adjustment of the spacing across a whole site or page within the site editor/global styles, as in [this example](https://hihayk.github.io/shaper/). So this is thinking about it from the point of view of an individual end user who has installed a theme on their site and would like a little more/little less

[2022-06-09 21:56] eric-michel commented on #39371
I totally agree with this, and realize my question was really unclear. Let me rephrase.

Referring to my first comment in this thread:

My question was specifically in regards to the 2nd item there. How important is interoperability? Is it worth the work? Is it even truly viable given how much flexibility theme and plugin authors desire? What are the primary problems we're trying to solve (e.g. th

[2022-06-09 22:05] glendaviesnz commented on #39371
Thanks for clarifying, would be good to hear people's thoughts on this. One other aspect to add to this would be the transferability of blocks and patterns between sites - a standardised set of spacing presets would help to make this more seamless.

[2022-06-10 00:21] andrewserong commented on #39336
That's a great point, thanks for the example CSS, that very much highlights the improvement of moving to separate classes between `is-layout-stack` and `is-layout-row` 👍

I'm hopeful that if and when https://github.com/WordPress/gutenberg/pull/40875 is ready for review / looks viable, in a follow-up we can tackle the utility classes, and I think you've made a strong case for exploring seeing if we

[2022-06-10 00:21] noisysocks commented on #41062
When designing the `parent` attribute in the block schema there was discussion about allowing you to specify post types as well as block types. I could see it working for templates too.

Regarding a deny list, there was a proposal about allowing you to pass an object to `parent` which lets you control which blocks are explicitly allowed, explicitly denied, and what the default is. Have a look at h

[2022-06-10 01:00] noisysocks commented on #41466
I guess what I had in mind is that you give a list of objects to the component and it doesn't really matter _what_ that object is because what happens is completely up to `renderItem`.

You're right that some mapping is probably inevitable. I'm with you on transitioning to `children` but keeping `options` around for BC.

[2022-06-10 01:01] danieldudzic commented on #41200
Hi @spacedmonkey,

Thank you for clarifying.

I have tried the following:

[code]

But it didn't really take care of the 'potential troublemaker' warning in the Query Monitor. 🤔

[2022-06-10 04:57] MatzeKitt commented on #41293
This seems to be because there is a check beforehand if `__experimentalBorder` is supported:

https://github.com/WordPress/gutenberg/blob/046ca65b20b873a0d570dea3e31eee9dda6b8fca/packages/block-editor/src/hooks/border.js#L319-L323

However, you can disable it specifically for the button block:

https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-json/#settings-examples

[2022-06-10 05:22] glendaviesnz commented on #41623
I don't think that the `SyntaxHighlighter Code block` is part of the core Gutenberg project. Are you sure there isn't another plugin installed that is providing this block?

I tried a base GB install with P2 theme and I don't see the syntax highlighting block:

<img width="327" alt="Screen Shot 2022-06-10 at 5 21 32 PM" src="https://user-images.githubusercontent.com/3629020/172995835-191bca8c-8d48

[2022-06-10 05:29] andrewserong commented on #17025
Nice idea taking this on @tyxla! I was wondering if it's worth having a linting rule or something that prevents the methods you've removed from being re-imported? (I'm just imagining the potential whack-a-mole in case other PRs attempt to reintroduce any of the function imports you've removed 😅) Apologies if this has been discussed already!

[2022-06-10 06:35] carolinan opened #41649 "When Gutenberg is active, RTL styles are not loading correctly on the front."
### Description

Different RTL files and styles are loaded on the front of the website depending on if Gutenberg is active or not.
This breaks some RTL styles, for example for the query pagination and comment query pagination blocks.

The example page I am using to reproduce this is the front page of Twenty Twenty-Two, with enough posts to show the query pagination in the query loop.

WordPress tr

[2022-06-10 07:54] JustinyAhin commented on #39266
@joedolson it would be great to raise the comments as issues on the repo, yes.

As for adding more content on the blocks, yes, definitely a good idea. I am also discussing with @carolinan about having each block on a separate page.

[2022-06-10 07:56] JustinyAhin commented on #39266
@matiasbenedetto I really like how you structure your repo. I see that you are using Puppeteer. Have you considered using Playwright, since Gutenberg (and soon Core) tests are being migrated to that? https://github.com/WordPress/gutenberg/tree/trunk/test/e2e

[2022-06-10 08:26] #41621 closed, assigned to MaggieCabrera

[2022-06-10 08:45] #41617 closed, assigned to ntsekouras

[2022-06-10 09:01] t-hamano commented on #41623
[SyntaxHighlighter Code Block](https://wordpress.com/support/wordpress-editor/blocks/syntax-highlighter-code-block/) seems to be a block provided by WordPress.com.
I was able to reproduce the exact same problem in my environment.
Does anyone know where we should report this issue?

[2022-06-10 09:06] scruffian commented on #39371
This is the main pain point IMO. Using custom names in a theme means that when users switch themes all the patterns from their old theme will lose all styles - what we really want is for patterns to work in any theme.

Similarly, if blocks know that certain values will always be available they can integrate more fully with the theme.

[2022-06-10 09:20] tyrann0us commented on #41623
@t-hamano

Probably here: https://github.com/Automattic/syntaxhighlighter.

[2022-06-10 09:30] jameskoster commented on #41643
Agreed, with perhaps the exception of List View. There the theme color creates a visual link with the canvas that can be helpful, especially when we get around to https://github.com/WordPress/gutenberg/issues/32163.

Should we also consider toggles, checkboxes, radios? Maybe tokenfields too?

<img width="298" alt="Screenshot 2022-06-10 at 10 27 59" src="https://user-images.githubusercontent.com/84

[2022-06-10 09:38] mtias commented on #40450
@david-gonzalez-a8c thanks for sharing the mockups. I like the first one, it seems worth trying to see how it feels in practice, as it solves the most salient points right now.

[2022-06-10 09:47] fabiankaegy commented on #39371
I'm definitely not opposed to interoperability. It shouldn't come at the expense of creative freedom though in my opinion. In this case that means that whilst the default behavior may be a standard scale that gets generated automatically based on a scale factor, theme authors should always have the option to break out of that system and provide their own.

This especially comes true when we start

[2022-06-10 09:52] ockham commented on #41451
Since it's kind of prominently used in the Comments blocks (and impacted by that bug), I think it makes sense if we make sure a fix finds its way into 6.0.1 🙂

[2022-06-10 09:55] ockham commented on #41451
Here's another PR we should include: https://github.com/WordPress/gutenberg/pull/41631

It's been added to the [6.0.1 project board](https://github.com/orgs/WordPress/projects/31), and I've added the "Backport to WP Minor Release" label. We might not need to edit our list every time to include issues/PRs like that (since they're covered by that project board and label), and instead use the list as

[2022-06-10 10:05] mtias commented on #39439
@luisherranz Suppose we have the following block tree:

[code]

and we are interested in `block-b` as the anchor point, the options would be `start` / `end`:

[code]

And for `before` / `after`:

[code]

The first case requires block-b to have an inner blocks area. The second doesn't.

[2022-06-10 10:14] tyxla commented on #17025
Good call, thanks! It's been on my mind and I'm glad you brought it up! See https://github.com/WordPress/gutenberg/pull/41651 - the idea is to maintain that and grow it as we remove more and more of those methods.

[2022-06-10 10:46] carolinan commented on #41437
The EditTemplatePartMenuButton is a component under edit site, I do not know what the best practice is for making it available in the top level of the block toolbar?
If it is not going to be used in the block settings menu anymore, do we re-create it, but in a utility file for the specific block?

[2022-06-10 11:08] t-hamano commented on #41623
@tyrann0us
Thanks for letting me know!
I built and tested this repository and confirmed the same problem.

@alexflorisca
I have submitted a [PR](https://github.com/Automattic/syntaxhighlighter/pull/242).
I close this issue, and please check this PR for future status.

[2022-06-10 11:08] #41623 closed, assigned to nobody

[2022-06-10 12:09] vladolaru commented on #38547
Ping!

[2022-06-10 12:16] cbirdsong commented on #39371
As an agency dev building custom themes, my personal primary interest here is having spacing adjustable in the editor with consistent responsive presets instead of only via custom values, but I can also see how interoperable spacing, color and typography tokens would be useful for us. It could:

- Make reuse of code and block patterns between projects possible, since our editors could copy/paste a

[2022-06-10 12:28] carolinan commented on #22412
I am not able to reproduce this in Safari and voiceover **on mac.**
Voiceover presents the block as "Social icons, block. Document".
If I navigate to the inner add block button, it announces "Add block, menu popup collapsed, button, Social icons".
If I select an existing inner icon block it announces "(name),button, Social icons, block. Document"

I did **not** test with a touch device.

[2022-06-10 12:32] alexflorisca commented on #41623
Thanks for the PR @t-hamano. apologies for raising this in the wrong repo!

[2022-06-10 12:54] RatzeR commented on #35848
For some blocks, for example the navigation block, it would be great, if it would be possible to change the breakpoint where the block uses the mobile / desktop navigation.
And as it seems to be the goal to have everything configurable, it should be possible to change the breakpoint via the `block.json` or `theme.json` file.

[2022-06-10 13:10] johnHackworth commented on #38330
just noting this is also happening on the Tumblr's gutenberg instance:

![image](https://user-images.githubusercontent.com/1554855/173071463-78e221cf-63e2-4059-9f33-57a4e61ffd01.png)

[2022-06-10 13:20] John001-alt commented on #15349
hey @swissspidy !
I've just installed your posted plugin and ty btw for the effort, but I can find such option on your screen shot on Gutenberg editor, Can you help me out showing me where to find those option?

[2022-06-10 13:22] John001-alt commented on #15349
hey @swissspidy !
I've just installed your posted plugin and ty btw for the effort, but I can't find such option on your screen shot on Gutenberg editor, Can you help me out showing me where to find those option?

[2022-06-10 13:41] swissspidy commented on #15349
@John001-alt You'll need to build the plugin first (`npm install && npm run build`). If it still doesn't work, create an issue on that repository and I can take a look.

[2022-06-10 13:44] richtabor commented on #41643
That's the one I'm hesitant on most as well.

[2022-06-10 14:06] John001-alt commented on #15349
@swissspidy  Thank you for your kind reply, Unfortunately I'm a newbie at coding I just downloaded the files and added the .zip file as a new plugin to my  WordPress, because this is a critical need for my website :( I couldn't find a way to fix it as it seems Gutenberg doesn't support RTL inline text so far.
If you have a ready to use plugin for this issue I would appreciate if you can suggest me

[2022-06-10 14:31] room34 opened #41660 "Cover block HTML error using featured image, fixed background, minimum height"
### Description

When a cover block uses the featured image, is set to fixed background, and has a minimum height, the minimum height is ignored because the block is generating invalid HTML.

In this scenario, the front end `<div class="wp-block-cover">` tag contains two `style` attributes. This is because the editor inserts `style="min-height:nnnpx"` with “Minimum height of cover”, and the **cove

[2022-06-10 14:35] carolinan commented on #41586
_As far as I know,_ it is called home for historical reasons because when WordPress was first developed, the homepage was the blog.

The template hierarchy is the same in classic themes.

You can select an existing template from the select list in the Template section in the block editor, or create a new template.

When you want the page to **use a specific template**, the difference between a cla

[2022-06-10 14:36] carolinan commented on #41586
Please see https://learn.wordpress.org/workshop/creating-a-front-page-for-a-block-theme/

[2022-06-10 14:51] carolinan commented on #39071
Should the number or bullet also be aligned?

[2022-06-10 14:56] ALJ commented on #41293
Thank you @MatzeKitt for the context and look through the code 😄 ... my point was this behavior is unexpected to me. I expect **no** block to show Radius in a Border panel when that is specifically set to `false` in the global `theme.json` settings.

[2022-06-10 15:04] yanmorinokamca opened #41661 "PostTaxonomiesHierarchicalTermSelector in filter create infinite loop"
### Description

In packages/editor/src/components/post-taxonomies/README.md,
the last example says to use wp.editor.PostTaxonomiesHierarchicalTermSelector in the editor.PostTaxonomyType

While testing, I got infinite loop. I think the problem is that PostTaxonomiesHierarchicalTermSelector was exported as a wrapped component with withFilters('PostTaxonomyType') and seems to call the hook in a infi

[2022-06-10 15:08] stevebab commented on #40483
@skorasaurus , you are a blessing. Thank you, it works beautifully. I wish we could get this into a "Gutenberg Settings" feature at some point, but this is is exactly what most of my agency's workload requires.
Now to figure out how to disable the "Download" button by default!

[2022-06-10 15:09] akirk commented on #40316
I have to admit I haven't read all the comments up until now but I wanted to share an idea that I had around this: Could we by default hide experimental APIs behind a getter like in #41278 and add the Gutenberg version when it was introduced as a variable?

Then we could give experimental APIs a certain number of Gutenberg versions to mature (say 5) and after that it would start to `console.log()`

[2022-06-10 15:30] scruffian commented on #27760
This was closed by https://github.com/WordPress/gutenberg/pull/40260

[2022-06-10 15:31] scruffian commented on #36444
We still need element support for the input field.

[2022-06-10 15:37] MatzeKitt commented on #41293
I’m absolutely on the same side but just wanted to point out a solution, since I needed it. 😄

[2022-06-10 15:40] scruffian opened #41663 "Elements: Add a more usable API"
## What problem does this address?
We introduced a class name for button elements in https://github.com/WordPress/gutenberg/pull/40260, but to use this developers need to look up what the correct class name for each element is which is far from ideal.

## What is your proposed solution?
There was some discussion in https://github.com/WordPress/gutenberg/pull/40260 about the best way forward but we

[2022-06-10 15:43] luisherranz commented on #39439
Ohh, got it. Thank you, Matías!

[2022-06-10 15:48] fluiddot opened #41665 "Drag and drop blocks: Block can't be dragged after long-pressing on an arrow button (Only on iOS)"
## Description

On iOS and only after long-pressing any of the arrow buttons located in the block toolbar, the block can't be dragged although the chip component is displayed. This only happens one time as it allows dragging the same block after trying again to drag.

**NOTE:** This behavior on Android works as expected.

## Step-by-step reproduction instructions

1. Open a post/page.
2. Add multi

[2022-06-10 15:54] fluiddot commented on #41665
In relation to the triaging of this issue, the percentage of users that use the "Move to top" and "Move to bottom" actions, which are triggered by the long-press gesture, is quite low. The numbers are around 0.09%, so most likely this issue won't really affect a lot of users.

[2022-06-10 15:57] richtabor commented on #39370
I'm not 100% sure, but what if core applied slugs autonomously for font sizes — instead of the theme providing unique slugs (i.e. `small`, `medium`, etc)?

Core's "slugs" could be integers, `1`, `2`, etc  — so when a theme registers font sizes, it would register `1` as the smallest, and as many as they'd prefer (or there's a standardization cap, where if you go over it's unlikely to map to another

[2022-06-10 16:25] jg314 commented on #33385
Thanks a ton for the suggestions @fklein-lu. That CSS was incredibly helpful for making this look right in the backend editor. A few more items that came up for me:

- Media queries were needed to only adjust the left and right margins at certain minimum widths. Without those, the blocks were cut off on the sides when using smaller devices.
- Different media queries were required when using and no

[2022-06-10 16:59] fluiddot opened #41667 "Translations are missing for locales that include region (only on Android)"
## Description

On Android, the strings shared between the native and web version are not translated for the locales that include regions in their value (i.e. `zh-tw`).

## Step-by-step reproduction instructions

1. Change the device language to Chinese/Taiwan (i.e. `zh-tw`).
2. Open the app.
3. Open a post/page.
4. Tap on the ➕ button located in the toolbar.
5. Observe that the block titles withi

[2022-06-10 17:14] fluiddot commented on #41667
The list of potential languages affected by this issue are the following:
- `en-au` - English (Australia)
- `en-ca` - English (Canada)
- `en-gb` - English (UK)
- `en-nz` - English (New Zealand)
- `en-za` - English (South Africa)
- `es-ar` - Spanish (Argentina)
- `es-cl` - Spanish (Chile)
- `es-cr` - Spanish (Costa Rica)
- `nl-be` - Dutch (Belgium)
- `pt-br` - Portuguese (Brazil)
- `zh-cn` - Chines

[2022-06-10 17:24] houblon commented on #40289
Confirming that it's required to click whatever block style is set as default to add the corresponding class to the block, including for custom block styles set as the default. Basically, setting a block style as default in code (PHP or JS) does nothing except falsely indicate that the block style is in effect.

Given the decision to remove the "Default Style" select menu for blocks (which did app

[2022-06-10 17:34] CUBICinfinity commented on #38299
FTR, I'm liking the block themes concept; it just needs work. We need to keep the raw WP installation as clean as possible.
`remove_action( 'wp_body_open', 'wp_global_styles_render_svg_filters' );` works to remove the duotone svgs for me on 6.0, but it's also breaking fonts and font styles. For now, I'm going to leave the SVGs on my site alone. I don't have time to be supporting the removal. Hopef

[2022-06-10 18:05] houblon opened #41670 "Add a way to remove block styles (selected or default) in the block settings sidebar"
## What problem does this address?

For blocks which have block styles registered, once a style is selected in the block settings sidebar, either by being set as the default style or by manually selecting it, it's not possible to remove the style. If there is more than one style available for a block, whichever style is last selected cannot be removed, i.e., there must be a style selected once any

[2022-06-10 20:04] namithj opened #41671 "Panel Layout breaks if the Control label is short"
### Description

Add a text control in a sidebar panel as below
` <TextControl
                        label={'Title'}
                        value={postMeta._header_banner_heading}
                        onChange={(value) => setPostMeta({ _header_banner_heading: value })}
                    />`

 Now add another textcontrol underneath it with a longer label

` <TextControl

[2022-06-10 20:05] #41458 closed, assigned to nobody

[2022-06-10 20:06] namithj commented on #41458
Reopened with better instructions and description  https://github.com/WordPress/gutenberg/issues/41671

[2022-06-10 22:33] scruffian commented on #35099
In #34180 we added comments like this

[code]

[2022-06-10 23:39] iandunn commented on #35099
I've tried that workaround in other contexts, but they're often removed by encoders because they're duplicate and/or invalid keys (e.g., `package.json`). There may not be any encoders for `theme.json` yet that would cause a tangible problem, but there easily could be in the future.

My IDE also adds an inspection warning because of the duplicate key. If you disambiguate it with something like `//k

[2022-06-11 00:57] vena opened #41673 "Removing theme support for core-block-patterns breaks query loop block "replace" button"
### Description

In 6.0, when using remove_theme_support('core-block-patterns'), the query loop block still renders a "replace" button in its toolbar, however the functionality appears to depend on core-block-patterns. Clicking it will error and take down the query block.

[code]

### Step-by-step reproduction instructions

1. Use remove_theme_support('core-block-patterns') in your theme
2. Create

[2022-06-11 02:26] StudioAl commented on #34445
@SteveRyan-ASU the issue is that it is not possible to save distinct color palettes for use with background colors versus text colors. Currently, background and text colors can only use identical palettes. That has not been addressed in the linked documentation, as, as far as I can tell, there still appears to be no way to do so in theme.json.

[2022-06-11 03:55] ZebulanStanphill commented on #39619
Any update on this situation? One thing I've neglected to mention until now is that this library causes dependency issues since it does not support React 17: https://github.com/buildo/react-autosize-textarea/blob/master/package.json#L74

[2022-06-11 12:15] #33670 closed, assigned to draganescu

[2022-06-11 12:52] t-hamano commented on #28484
I tested again with the latest Gutenberg and WordPress and could not reproduce it with either theme.
I could not find a specific fix PR, but it looks to me that this issue has already been resolved.

## Twenty Twenty Two

| Editor  |  Frontend  |
| ---- | ---- |
| ![tt2_editor](https://user-images.githubusercontent.com/54422211/173188674-2a347178-3680-41b4-bc51-18e1e1e72317.png) | ![tt2_front](htt

[2022-06-11 15:59] supernovia commented on #40002
I'm realizing from this case that decoration may be important for this to be an option for individual links, too:
https://wordpress.com/forums/topic/making-groups-clickable/

[2022-06-11 17:20] arunsathiya opened #41676 "Editor preferences not saving as expected"
### Description

- Editor preferences are saved on the WordPress server since Gutenberg 13.2.0 but I am not able to get it working so far: https://github.com/WordPress/gutenberg/pull/39795
- I have tested several websites, all without plugins.

### Step-by-step reproduction instructions

- Start on a page and make changes to the editor settings, like enabling the "Top toolbar" or "Spotlight mode"

[2022-06-11 17:20] arunsathiya commented on #41676
This is my first time using this feature, so I am not too sure if something changed between the announcement and recent releases.

Including keyword for search reasons: "save editor preferences"

[2022-06-12 04:20] KoichaDev opened #41677 "target="_blank" is causing bug on "Attempt Block Recovery""
### Description

It seems like using the RichText Component `target="_blank"` is causing to crash for some odd reason.  Is there any reason why this is happening?

### Step-by-step reproduction instructions

A simple example here applies to the Edit and Save component:

[code]

### Screenshots, screen recording, code snippet

_No response_

### Environment info

_No response_

### Please confirm t

[2022-06-12 08:59] akasunil commented on #41473
Have fixed this issue in PR [41678](https://github.com/WordPress/gutenberg/pull/41678). Thanks

[2022-06-12 11:19] foysalremon opened #41679 "onAddBlock and onRemoveBlock event"
## What problem does this address?
When we add a block it should hit a `onAddBlock` event by using which we can do something globally like save something unique for this block to database. We should also use `onRemoveBlock` to reverse that save when this block is deleted.

## Example use case
Suppose, like creating a new email address, I want one of my inspector control field to hold a unique name

[2022-06-12 11:54] foysalremon commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2022-06-12 21:46] glendaviesnz commented on #39370
This would match better with what is being discussed for [standardisation of spacing slugs](https://github.com/WordPress/gutenberg/issues/39371), where a numeric slug seems to be the preferred approach. For spacing a `10,20,30` approach has been suggested for slugs to make it easier for themes to slot additional options between any core defaults.

[2022-06-13 02:57] bluefuton commented on #27221
You're also unable to use the keyboard shortcuts to do this. I often find myself doing Cmd-A to select all blocks, then Cmd-B to remove bold styling from all the blocks. Instead this opens the Bookmarks Toolbar on Firefox, which is pretty jarring. (originally posted on https://github.com/WordPress/gutenberg/issues/26519#issuecomment-871753270)

[2022-06-13 04:29] glendaviesnz commented on #39371
Thanks for the detailed input everyone! I think this has been a really useful discussion to try and get a better understanding of the various needs of different user groups in relation to getting some standardised spacing options into Gutenberg and core WP.

I am going to try and summarise the key points from the above discussion and then suggest a way forward to start getting something implemente

[2022-06-13 04:45] akasunil commented on #41679
Agreed. Few months ago, i was working on one project where i had to detect the New Added/Removed blocks. Had used Block client id and subscribe method for continuous execution to find removed block. which was affected performance of editor. even though we couldn't find solution for new added block. This two methods will help a lot to handle Gutenberg actions for advance operations.

[2022-06-13 06:21] thejaydip opened #41683 "Legacy widgets: Widgets load all the scripts/styles of the theme repetitively."
### Description

After adding more than two or two legacy Widget blocks ( Select `Meta` ) to the Footer sidebar and save changes and refresh it. scripts/styles of the themes loading repetitively and requests of the sources are increase. Please see the attachment for a better understanding.

### Step-by-step reproduction instructions

- Use Twenty Twenty-One theme
- Go to Appearance > Widgets
- Add

[2022-06-13 08:52] adamziel opened #41684 "Select Many Blocks Via Dragging"
Selecting multiple blocks by drag&drop seems like a natural interaction to have:

https://user-images.githubusercontent.com/205419/134696866-22aaf33a-acd7-4a5c-bcd2-eaa574391544.mp4

The idea was initially explored in a quick&dirty way in https://github.com/WordPress/gutenberg/pull/35117. The PR is closed now in favor of this issue. It is worth noting that @jasmussen [proposed with a number of gre

[2022-06-13 09:02] #41592 closed, assigned to nobody

[2022-06-13 09:49] carolinan commented on #41541
It does, but it is a recent change: [#39837](https://github.com/WordPress/gutenberg/pull/39837)

[2022-06-13 10:20] jameskoster commented on #41684
It's also important to figure out the interaction with containers. Oftentimes in design software, the container must be fully inside the selection box for it to be included, otherwise its children are selected.

[2022-06-13 10:36] tyxla commented on #39495
I'm interested to tackle this one as I'm currently focusing on Lodash removal.

[2022-06-13 10:58] zerosonesfun commented on #36632
This is still an issue. If you are posting anything more than regular text (adding blocks, video, etc.) you can only scroll so far on iOS. I assume it has to do with the virtual keyboard. Out of all iOS issues this really should get extra attention. I'm starting to accept the block editor, but if I can't do basics from my phone it makes it less appealing.

[2022-06-13 11:03] fluiddot opened #41686 "Drag and drop blocks: Crashes on iOS related to JSI"
## Description

On WP-iOS `19.9.0.0`, we identified a crash caused by `react-native-reanimated` and JSI when opening and closing the editor several times. This issue was hard to reproduce, as it looked like that only happened on specific devices and/or OS versions, but we managed to reproduce it almost consistently and released a hotfix (WP-iOS `19.9.1.0`) to address it ([reference](https://github

[2022-06-13 11:06] tyxla commented on #39495
This one should be resolved by #41687

[2022-06-13 11:13] #36632 closed, assigned to nobody

[2022-06-13 11:24] zerosonesfun commented on #36632
Closed because this seems to depend on plugins installed.

[2022-06-13 11:27] scruffian commented on #35884
I think can close this as it's part of https://github.com/WordPress/gutenberg/issues/35607

[2022-06-13 11:27] #35884 closed, assigned to tellthemachines

[2022-06-13 12:44] github-actions[bot] opened #41691 "[Flaky Test] allows all blocks if the allowed blocks setting was not set"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
allows all blocks if the allowed blocks setting was not set

## Test path
`/test/e2e/specs/editor/plugins/inner-blocks-allowed-blocks.spec.js`

## Errors

<time datetime="2022-06-13T12:44:30.701Z"><code>[2022-06-13T12:44:30.701Z]</code></time> Test passed after 1 failed atte

[2022-06-13 12:58] land0r commented on #40744
@gziolo in child theme it still doesn't work. Can you reopen the issue or create a new one?

[2022-06-13 13:04] land0r commented on #17632
Code above from people works during the whole save process and will be called multiple times. Wanted to share code that will be called only once during the save process:
[code]

Thanks to everyone who shared some code snippets. Still don't understand why Gutenberg has no necessary hooks for such small things which are really needed by the dev community

[2022-06-13 14:27] swissspidy commented on #41292
Block titles and descriptions are usually taken from block.json if available, but that only works for server-side registered blocks.

The `core/comment-query-loop` isn't server-side registered though, only on the client (it's absent from `register_core_block_types_from_metadata()`).

Registering it server-side fixes the issue, but there's probably a reason why it wasn't done like this. Plus, the s

[2022-06-13 14:28] beafialho commented on #30121
Just came across this and chiming in to say how this would be really neat to have.

Some aspects worth considering for this functionality would be:
- The ability to control the opacity of this sticky element background
- The possibility of it shrinking its height on scroll
- Being able to have an element be fixed not only at the top or bottom: here's an [example](https://iconicpreview.tumblr.com)

[2022-06-13 14:47] fluiddot commented on #41573
Hey @gturpin-dev 👋 ! Thanks for reporting the issue 🙇 .

I checked it further and I'm not sure if the behavior you describe is an actual bug. As far as I checked, the video autoplay feature is usually controlled by the browser and is only allowed under certain scenarios. For example, in Chromium browsers, a video is only auto-played if it has the attribute `muted`. On Safari, on the other hand, it

[2022-06-13 15:26] gturpin-dev commented on #41573
Thanks for explanations.

So would it be wrong to add `playsinline` to support safari everytime the muted attribute is added ?

I understand what you said about browser but do you think Safari will support it soon ?
I think it's also our job to support that kind of things.

Tell me if i'm wrong :)

[2022-06-13 15:29] druxstr opened #41695 "Add and "inline quotation" option to the paragraph block"
## What problem does this address?
You can't label a [short inline quotation](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/q) from the visual editor.

You have switch to the code editor and manually add a `<q>` element.

## What is your proposed solution?
Add an "inline quotation" option, similar to the "inline code" and "inline image" already available under the "more" button.

[2022-06-13 15:40] ntsekouras commented on #41214
👋 - thanks for reporting this @shadigaafar!  The problem seems to exist with our handling of non latin characters [here](https://github.com/WordPress/gutenberg/blob/trunk/packages/edit-post/src/components/sidebar/template/actions.js#L108).

Can you verify that it works properly with latin characters?

[2022-06-13 16:22] fluiddot commented on #41573
That would be one option but not sure if it should be automatically enabled. The content could be viewed with any browser, not just Safari, so this workaround might be not necessary in all cases. Besides, it might be a bit confusing for the user that changing one of the attributes of the Video block enables other ones at the same time 🤔 .

I'm wondering if we could inform the user and let them dec

[2022-06-13 16:32] bradhogan commented on #39371
@glendaviesnz I'm not entirely sure if this is covered in your outline of the key points, but in my opinion, allowing some sort of control for spacing on mobile is absolutely critical and the lack of mobile spacing right now makes designs in Gutenberg very difficult to look good across multiple devices.  I think allowing a min, max, clamp in the theme.json option would be a simple solution that co

[2022-06-13 17:08] wpsoul commented on #17632
This doesn't save perfomance problem. Because it's still using subscribe and isSavingPost() so will be called hundreds of times when you edit post