[2022-01-19 00:23] donalirl commented on #12684
+1 for this feature.

[2022-01-19 00:41] ramonjd commented on #33934
Closing for now until we can revisit the approach.

I've closed the attached [PR](https://github.com/WordPress/gutenberg/pull/34521), which explored a few avenues but ultimately couldn't achieve the desired design 1:1.

We can always reopen if folks think this feature is required and we can use what we've learned.

Thanks to everyone for their help on this one!

[2022-01-19 00:41] #33934 closed, assigned to ramonjd

[2022-01-19 04:15] Mamaduka commented on #29484
#37672 will be part of the 5.9, so I will close this issue.

Thank you everyone for contributing ❤️

[2022-01-19 04:16] Mamaduka commented on #37574
Hi, @carolinan

Are you still experiencing this issue?

[2022-01-19 04:40] talldan commented on #37950
I think we need to be careful about introducing inconsistencies along the lines of some menus only being editable using one editor and other menus only be editable using another. At least without it being clear to the user why that might be. So far there hasn't been a strong proposal for making only certain menus persisted and that probably needs to be in place before it's a consideration. Is ther

[2022-01-19 04:52] talldan commented on #38053
@danielhuesken Would you be able to provide some more detail on what you mean by a recurring block?

Are you referring to a reusable block?

[2022-01-19 05:33] carolinan commented on #37574
I had to stop using docker and wp-env/wordpress-develop because of this issue and have not retested since.

[2022-01-19 05:50] Mamaduka commented on #21678
This was fixed via #26355.

[2022-01-19 05:50] #21678 closed

[2022-01-19 06:12] uniquesolution commented on #12684
For making whole cover block clickable and go to a link, we can apply the approach bootstrap follow using "stretched-link" class https://getbootstrap.com/docs/5.1/helpers/stretched-link/ , for example how I have done it on this site https://valleyfootanklecenter.com/ ,  for these cover blocks https://nimb.ws/xgKLMT

So if there is an option like "make whole cover as link" choosing it, there will b

[2022-01-19 06:24] Mamaduka commented on #26714
I think we can close this issue since we removed the string in question via #27026.

[2022-01-19 06:24] #26714 closed

[2022-01-19 06:36] danielhuesken commented on #38053
@talldan Yes, sorry that block i mean.

![reusable-block_with_classic_missing_p_tags](https://user-images.githubusercontent.com/741847/150078813-ae5fee89-96da-42f0-9609-3a8211280543.gif)
Short recording about that.

[2022-01-19 08:29] conatus commented on #37550
Hello there!

Thanks for your work on all this.

### The Feature - Control UI for individual blocks

I've been tracking the movement of a specific use-case: controlling the visibility of UI controls in the Block Editor using `theme.json`.

For example: a theme editor wants people to be able to remove elements in the UI of the button block controls, e.g. size.

This is so they can restrict how much

[2022-01-19 08:38] oandregal commented on #37550
Hi @conatus If I understand correctly, the question is whether there's an issue for tracking modifications to theme.json? We had an overview task in the past to plan the work ahead. Now, they're created as the needs evolve to control more of the UI and involve changes to UI, theme.json, etc.

There's also [reference docs](https://developer.wordpress.org/block-editor/reference-guides/theme-json-ref

[2022-01-19 08:49] conatus commented on #37550
Hi @oandregal

Thanks for your help! I will take a look at those links, but to clarify this isn't about tracking modifications to the theme.json.

What this is about is: there is some control of the Block UI on an individual block we want to not show to the user.

For example, we want to remove the ability for them to control alignment on button blocks. This is so we keep the design consistent and

[2022-01-19 08:58] t-hamano opened #38062 "Metaboxes are placed in incorrect position when switching device preview"
### Description

The metaboxes are stuck over the content when I change the device preview to mobile / tablet and then change it back to desktop preview again.

### Step-by-step reproduction instructions

First, enabe Custom Fields metaboxes from 'options > Preferences >  Panels > Custom Fields.

![capture](https://user-images.githubusercontent.com/54422211/150096552-9da6a601-b3c1-4508-8122-18d81b

[2022-01-19 09:27] kirtangajjar opened #38064 "Pasting plaintext with HTML tags does not display them"
### Description

When we paste a plaintext with HTML tags, Gutenberg skips pasting the tag entirely and just shows the rest of the content.

### Step-by-step reproduction instructions

1. Copy the below text and paste as plaintext(`cnrtl-shift-v`) in Gutenberg:
[code]
2. The rendered text will be:
[code]

### Screenshots, screen recording, code snippet

![Screenshot](https://user-images.githubuser

[2022-01-19 09:43] jasmussen commented on #26716
I'm seeing this solved in trunk:
![dirty](https://user-images.githubusercontent.com/1204802/150105059-4598fb51-8435-49f5-b127-644b8e08d318.gif)

Is this one good to close?

[2022-01-19 09:46] jasmussen commented on #27789
I'm seeing this working as intended in both post and site editors:
<img width="1392" alt="Screenshot 2022-01-19 at 10 45 50" src="https://user-images.githubusercontent.com/1204802/150105658-b9eea6f4-75d9-48b0-b85a-fa54ed644c06.png">
<img width="1392" alt="Screenshot 2022-01-19 at 10 46 24" src="https://user-images.githubusercontent.com/1204802/150105668-27e0d1a6-24dd-4d3b-90c7-f7496435cf47.png">

[2022-01-19 10:05] ciampo opened #38065 "`ColorPicker`: allow customisation of the auxiliary controls"
With the recent updates, the `ColorPicker` component has a few auxiliary controls (collapsed by default) in its lower part.

![the color picker component, with the auxiliary controls highlighted](https://user-images.githubusercontent.com/1083581/150106563-40c6b912-03f0-479f-83b8-5e583b255a2a.png)

We should investigate the best way to allow consumers of this component more flexibility around the a

[2022-01-19 10:09] carolinan commented on #37574
In other words, I mean, I will retest it as soon as I can. I will not prioritize it since no one else can reproduce.

[2022-01-19 10:12] ciampo opened #38066 "`GradientPicker`: allow custom `ColorPicker`"
As stated originally in  #37599, it would be nice if the `GradientPicker` component allowed its consumers to pass a custom `ColorPicker` to be used instead of the default one. This would also, for example, allow the enhancements proposed in #38065 to be applied to the `GradientPicker` as well.

Currently, that is not possible since the `ColorPicker` is imported privately by one of the descendent c

[2022-01-19 10:13] jameskoster commented on #30641
We removed the ability to apply style to Template Part blocks directly in https://github.com/WordPress/gutenberg/pull/36571. This should eliminate the confusion around being able to style them in the regular editor, but not in focus mode (and the relationship thereof).

Do you think we can close this issue @annezazu?

To be clear, it should still be possible to edit template part properties like n

[2022-01-19 10:14] Mamaduka commented on #37574
Thank you, @carolinan.

Let's keep this issue open for now.

[2022-01-19 10:16] ciampo commented on #38065
Applying the enhancements discussed in this issue also to the `GradientPicker` requires more changes, discussed in #38066

[2022-01-19 10:22] ddryo commented on #38062
I was able to reproduce it too.

[2022-01-19 10:26] ciampo commented on #38065
One more thing: the two options highlighted above are also not mutually exclusive. We could, for example:

- in a first PR, add a `hideAuxiliaryControls` prop to `ColorPicker` in order to toggle the standard auxiliary controls on/off
- separately, evaluate also accepting custom auxiliary controls as `children` of `ColorPicker`

[2022-01-19 10:42] ciampo commented on #33263
Hey @evrpress , we really appreciate your help here! I marked those 2 components as done in this issue's description :) In case you feel like opening more of these PRs, please go ahead (and feel free to ping me / add me a reviewer!)

[2022-01-19 10:45] jasmussen opened #38068 "Image: Improve the inspector, adopt the unified dimensions panel"
Part of #28356 and related to #27331.

The inspector controls for the Image block have built up over the years, and could use a little love and unification:
<img width="360" alt="Before" src="https://user-images.githubusercontent.com/1204802/150113499-ccc5a797-5290-4ab5-b205-c9fc3cb5aad7.png">

- The dimension controls could adopt the unified dimensions panel to add consistency across blocks
- Alt

[2022-01-19 10:47] jasmussen commented on #38050
I created #38068 for some general design improvements to the image block, it includes some of the conversation around improving the Size selector as well.

[2022-01-19 10:48] jasmussen commented on #28356
I created #38068 which contains mockups for improving the Image block inspector, notably adopting the general Dimensions panel.

[2022-01-19 11:25] Mamaduka commented on #38068
I love the idea.

With the new Styles design, I think this would be a nice change. We already display variation transforms in the block card.

[2022-01-19 12:46] oandregal commented on #37550
Hi @conatus I don't think this is something that can be disabled via `theme.json` at the moment. If there isn't already one, you could create an issue with this specific need. Specific issues are easier to navigate than general ones.

[2022-01-19 12:49] paaljoachim commented on #27789
Hey @jasmussen Joen

I checked it out as well. It now looks correct.
Closing issue.

[2022-01-19 12:49] #27789 closed

[2022-01-19 13:13] ndiego commented on #34729
I wanted to circle back on this issue as it's a pretty important one, especially as patterns become a more integral part of the building experience.

I have been unable to diagnose the root cause, but I did want to highlight an incredibly easy way to reproduce this using native block controls.

1. Make sure you have the latest version of Gutenberg active.
2. Create a Columns block with two columns

[2022-01-19 13:19] ivanjeremic commented on #6808
This isn't really showing how to let the user add `InnerBlocks` on each slide.

[2022-01-19 13:45] #37969 closed, assigned to Mamaduka

[2022-01-19 14:05] derridHeidegger opened #38075 "Navigation block doesn't open on mobile, also sub menus on click"
### Description

i have a clean WordPress install with the TT1 theme. without any plugins except Gutenberg. i edit the header in the fse, and add navigation. the navigation doesn't open on mobile. there are no errors in the dev tools console. just to test things i also upgraded to 5.9 beta tester, and the same result.

any idea?

### Step-by-step reproduction instructions

1. add navigation block

[2022-01-19 14:16] conatus commented on #37550
Hey @oandregal

Rather than create a new issue, should we considate conversation over at https://github.com/WordPress/gutenberg/issues/33891?

There is a lot of conversation on this feature across GitHub, including by yourself - for example https://github.com/WordPress/gutenberg/issues/27295 - though you are suggesting this is not the same thing.

[2022-01-19 15:42] vcanales commented on #38075
Hi! Thanks for taking the time to report. This problem seems to be the same as https://github.com/WordPress/gutenberg/issues/37996 which was solved in https://github.com/WordPress/gutenberg/pull/38032 and backported to core for RC3. Let me know if the issue is persists after updating!

[2022-01-19 15:57] jonshipman opened #38078 "wp-scripts build fails on Linux when yarn -2 init on Windows"
### Description

Running a wp-scripts build with custom in points and output-path results in a silent fail. At the very least, a error should be logged in the console or, at best, the build should complete.

This occurs under Linux when the project was initialized on Windows (node 16.2, yarn 3.1.1). Causes pipelines to fail and moving projects across systems an issue.

So far, all attempts to inst

[2022-01-19 16:20] skorasaurus opened #38079 "URLinput suggestion's links overlap with each other in gallery and image blocks"
### Description

While using the gallery block (the refactored) or an image block, and edit an image's URL;
the link suggestions will overlap if you have verbose post titles in your database as indicated in the screenshot below

There may be additional blocks where this is used; but for other blocks like paragaph and list, that have inline rich-text links, a different link interface is used and th

[2022-01-19 16:28] cbravobernal opened #38080 "Duplicated settings in inspector controls on Comments Query Loop block"
### Description

When I add a Comments Query Loop, if we set more than 2 items per page. Most of the sidebars options of all inner elements appear `n` times, being `n` equal to `items per page -1`.

### Step-by-step reproduction instructions

1. Go to a page or a post with comments, you need to have at least 3 comments.
2. Use the toolbar option to change the comments per page.
3. Click on any inn

[2022-01-19 16:39] conatus commented on #37550
This seems to be exactly what is needed.

https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-json/#settings-for-the-block-editor

"Settings for the block editor...What customization options should be made available or hidden from the user."

Does this make sense?

[2022-01-19 16:40] derridHeidegger commented on #38075
hi thanks for answering, but it looks like her issue was the admin bar on mobile. in any case i have the latest gutenberg plugin.

[2022-01-19 17:03] fluiddot opened #38081 "Verse block: Block styling is different between Android and iOS"
## Description

Comparing the visual styles of the Verse block between Android and iOS, I noticed the following items:
1. Text caret is bigger on Android, in fact, looks even bigger than the text.
2. Vertical space between lines is smaller than the one when a line is broken with long text.
3. Selecting all text and pressing the backspace key removes the text style associated with the block.
4. Pla

[2022-01-19 17:20] fluiddot opened #38082 "Highlight text button: After selecting a color the text input loses focus"
## Description

When writing text on a text block (i.e. Paragraph block), tapping on the Highlight text button and selecting a color, loses the focus of the block's text input, which forces the user to tap again in the block to continue writing.

## Step-by-step reproduction instructions

1. Add Paragraph block.
2. Tap on the Highlight text button (A) and select a color.
3. Observe that the text i

[2022-01-19 18:01] fluiddot opened #38084 "Highlight text button: Undo applying a color breaks the undo history"
## Description

After applying a color via the Highlight text button, the next undo actions are removed from history after undoing applying the color.

## Step-by-step reproduction instructions

1. Add a Paragraph block.
2. Type some text.
3. Apply bold/italic/strikethrough formats to some words.
4. Select a word and tap on the Highlight text button (A).
5. Select a color.
6. Execute other actions

[2022-01-19 18:04] #34160 closed, assigned to nobody

[2022-01-19 18:05] #33985 closed, assigned to vcanales

[2022-01-19 18:05] AlecRust commented on #16484
Regarding Material Design icons (which sounds good to me) I believe this is the open source effort with a larger set:

https://materialdesignicons.com/

Used by large projects like [Home Assistant](https://github.com/home-assistant/core).

[2022-01-19 18:06] kraftner commented on #16484
I think the discussion if/what icon library to include is at best tangentially relevant to this issue. What would be important is the infrastructure to add a custom set of icons as defined by the site/theme. Adding a default set may be nice but is not strictly necessary for an icon block to be useful.

[2022-01-19 18:48] CalumChilds commented on #16484
I would support using this icon set if it is from this website and not the official icon set from Google since the one @AlecRust included contains 26,000 icons (more than enough for an average website!) and unlike the official Google set, contains brand icons for non-Google services/products (such as the Facebook icon, which I think would be widely used within blocks.)

[2022-01-19 19:18] annezazu opened #38086 "Scrollbars appearing in site logo and image block in Site Editor"
### Description

When adding in an image to the image or social icon block in the site editor (can't replicate when adding to page), scrollbars are showing up around the edges making it very cumbersome to interact with.  I think this is related to this issue: https://github.com/WordPress/gutenberg/issues/37573

### Step-by-step reproduction instructions

1. Open site editor.
2. Add an image block

[2022-01-19 19:51] hellofromtonya commented on #38086
Hmm, I'm not able to reproduce with a site logo or image block.

Env:
* WordPress: WordPress 5.9-RC3-52601 and on `trunk`
* Browsers: Chrome, Safari, Edge, and Firefox
* OS: macOS Big Sur
* Theme: TT2
* Plugins: none and with Gutenberg v12.4.0
* Localhost: wp-env, Local, and on my personal live website

[2022-01-19 20:15] ivanjeremic opened #38087 "attribute "boolean" is a string when used in block and needs eval"
### Description

[code]

in block.json

[code]

In the frontend it only works when I use `eval()`

### Step-by-step reproduction instructions

Same as above

### Screenshots, screen recording, code snippet

_No response_

### Environment info

_No response_

### Please confirm that you have searched existing issues in the repo.

Yes

### Please confirm that you have tested with all plugins deactiv

[2022-01-19 20:24] chthonic-ds commented on #38086
I'm seeing this consistently with a Site Logo block in a template part in the Site Editor.

![image](https://user-images.githubusercontent.com/29587253/150217556-1ae5a57c-6c82-411b-82ac-75bc9660c131.png)

- WordPress: 5.9-RC3
- Browsers tested: Chrome, Firefox
- OS: Win 10
- Theme: first noticed with custom theme active, confirmed same with TT2
- Plugins: none

[2022-01-19 20:25] walbo commented on #38086
Seeing the scrollbars here as well. Only getting the scrollbars when the styles are concatenated.

Env:
- WordPress 5.9-RC3-52601
- Browser: Chrome, Safari. (Firefox seems fine)
- OS: macOS Monterey
- Theme: TT2
- Plugins: none
- Localhost: Local
- SCRIPT_DEBUG: false
- CONCATENATE_SCRIPTS: Undefined

[2022-01-19 20:30] hellofromtonya commented on #38086
Retested locally and on live website and made sure `SCRIPT_DEBUG` is `false`. Still can't reproduce. No scrollbars. Hmm.

[2022-01-19 20:43] bph commented on #37796
@Wordpresslover
Here is the documentation page for the Keyboard shortcuts available for the block-editor.
https://wordpress.org/support/article/block-editor-keyboard-shortcuts/

Unfortunately. You are right that the shortcut that was working in the classic editor is not working on the block editor.

Here is a workaround I have been using, to change existing text from a paragraph to a heading:

- P

[2022-01-19 20:44] paaljoachim opened #38089 "Add Custom CSS to Global Style - similar to the additional CSS section in the customizer"
## What problem does this address?

As the customizer by default is not visible for Full Site Editing themes we need another way of adding general CSS to a site.
It can take over for the Additional CSS section seen in the customizer.

## What is your proposed solution?

Adding a CSS edit section to Global Styles.

Thoughts?

@jorgefilipecosta

[2022-01-19 20:59] audrasjb opened #38090 "New Welcome's panel "Edit styles" link does not seem to work"
### Description

The expected behavior would be to open the Global Styles panel on the site editor.

Original Trac ticket: https://core.trac.wordpress.org/ticket/54859

### Step-by-step reproduction instructions

1. On WP 5.9 RC3 Welcome panel, click "Edit styles" link.
2. It leads to the site editor, but it doesn't open the Global Styles panel, which would be the expected behavior.

### Screensho

[2022-01-19 21:05] skorasaurus commented on #34205
duplicate of https://github.com/WordPress/gutenberg/issues/24684

[2022-01-19 21:05] #34205 closed, assigned to nobody

[2022-01-19 21:06] hellofromtonya commented on #38090
As I noted in the Trac ticket, this issue may be a bad URL. The one used is: `wp-admin/site-editor.php?styles=open`. Is this correct to automatically open the Styles area in the Site Editor? Or is this a bug that needs fixing?

It would be great to have this issue fixed quickly in case another issue is reported that warrants a RC4. cc @noisysocks @Mamaduka

[2022-01-19 22:22] noisysocks commented on #38090
That URL is correct. It looks like this functionality was accidentally removed in https://github.com/WordPress/gutenberg/pull/36637. I'll open a PR to add it back.

[2022-01-19 22:26] annezazu commented on #30641
Yes :) Thanks for following up here. If this gets added back, we can revisit.

[2022-01-19 22:26] #30641 closed, assigned to nobody

[2022-01-19 22:53] glendaviesnz commented on #29917
Closing this in favour of https://github.com/WordPress/gutenberg/issues/38050 as this is not specifically a gallery issue

[2022-01-19 22:53] #29917 closed

[2022-01-19 22:57] glendaviesnz commented on #38050
This is also now relevant in the Gallery block which uses nested Images blocks, and [when the 'crop images' option is toggled on the size selector can appear to have no impact at all](https://github.com/WordPress/gutenberg/issues/29917).

[2022-01-19 23:00] audrasjb commented on #38090
Alright, thank you!

[2022-01-19 23:01] #26716 closed

[2022-01-19 23:21] glendaviesnz opened #38094 "Gallery block: enable the in-between inserter"
Now that the Gallery block is a wrapper around innerBlocks it should be possible to use the in-between inserter to add new images, as [noted here](https://github.com/WordPress/gutenberg/issues/21247#issuecomment-606504694).

This is dependent on [this PR](https://github.com/WordPress/gutenberg/pull/32615) being merged as there is currently a bug with the in-between inserter and horizontal layouts

[2022-01-19 23:22] JosVelasco commented on #10521
I want to add a PDF file for a magazine. This PDF is not hosted on the same server, but in a CDN.
Perhaps checking for the URL extension would make sure the link actually downloads something.

[2022-01-19 23:22] glendaviesnz commented on #21247
Closing as implemented in https://github.com/WordPress/gutenberg/pull/38036. The question of adding the use of the block inserter is covered in https://github.com/WordPress/gutenberg/issues/38094

[2022-01-19 23:22] #21247 closed

[2022-01-19 23:41] ramonjd commented on #35267
I noticed this effect when trying to layout a homepage in the Site Editor using stacked Group Blocks.

This is the effect I was after (the mixed units are just there so I can recognize my styles in the inspector 😄 ):

[code]

<img width="800" alt="Screen Shot 2022-01-20 at 10 06 29 am" src="https://user-images.githubusercontent.com/6458278/150233010-c63b2da1-af7c-4376-ba6b-1995642f6719.png">

When

[2022-01-19 23:59] bgardner commented on #38089
I love this idea and have already considered creating an issue for it. With customizer inevitably going away, I think this is a huge win for those who need to customize a few things via CSS.

[2022-01-20 01:57] strarsis commented on #20193
+1! A general, stackable, layered block would be great! One can add layers as child blocks and any block to it. Easy reordering, etc.
E.g. I want to put some text over a gallery block. Currently I need to use a tailored cover block that contains a paragraph for the text and the gallery block, absolutely positioned by a block style.

[2022-01-20 02:01] annezazu opened #38098 "Inserter: Scrollbars no longer visible with GB 12.4 in the Site Editor"
### Description

In the Site Editor, the scrollbars for the Inserter are no longer visible. This only seems to happen in the site editor and when Gutenberg is active.

Props to @justintadlock for this bug report!

### Step-by-step reproduction instructions

1. Head to Appearance > Site Editor.
2. Open Inserter.
3. Notice lack of scrollbars

### Screenshots, screen recording, code snippet

https://

[2022-01-20 02:04] ndiego commented on #38089
This would be a handy addition. Possible duplicate issue here: https://github.com/WordPress/gutenberg/issues/30142.

[2022-01-20 02:51] #38090 closed, assigned to noisysocks

[2022-01-20 02:59] ddryo commented on #37845
I can still reproduce it with 5.9-RC3.

[2022-01-20 03:16] skorasaurus commented on #38089
thanks for pointing out @ndiego ; let's continue discussion at https://github.com/WordPress/gutenberg/issues/30142

[2022-01-20 03:16] #38089 closed, assigned to nobody

[2022-01-20 03:40] carolinan commented on #37574
Retested with WordPress 5.9-RC3-52601. Whatever the problem was, the issue seems solved.

While site health is still showing rest api errors on the `localhost`, the template parts are working again.

[2022-01-20 03:40] #37574 closed, assigned to nobody

[2022-01-20 04:54] gziolo commented on #27481
This feature has just landed in Notion:
https://twitter.com/notionhq/status/1483884489235255297

They are still working with the Mozilla team to enable it in Firefox.

[2022-01-20 05:59] malavvasita opened #38103 "Save page button is not working within FSE if edited the content after Saving Changes"
### Description

Hello There,

I was just checking with FSE and built a demo store.
I have noticed that when we are changing content after Saving the content on-page, the Save button is not getting reactivated.

This can be crucial for v5.9.

Thank you.

### Step-by-step reproduction instructions

Steps to Reproduce:
1. Installed WP 5.9-RC3
2. Created a Page
3. Editing Page with Shortcode
`[video

[2022-01-20 06:29] #37904 closed, assigned to andrewserong

[2022-01-20 06:55] derridHeidegger commented on #38075
so yesterday i forgot to update to 5.9 after using the beta tester. it does work now. so will there be a workable navigation only after 5.9 will be released? or will there be an update before, so the navigation block can be used?

[2022-01-20 07:15] #34977 closed, assigned to ntsekouras

[2022-01-20 07:25] aristath commented on #38075
For sites that don't use the Gutenberg plugin, the navigation block will be working properly after the 5.9 WP release.
For sites that use the Gutenberg plugin, it should be OK after updating the plugin.

Since this has already been resolved, I'll go ahead and close the issue 👍

[2022-01-20 07:25] #38075 closed, assigned to vcanales

[2022-01-20 07:30] amustaque97 commented on #15791
Hi team, if this issue is still relevant I can take it up.

[2022-01-20 07:39] talldan commented on #38087
@ivanjeremic I don't really understand this issue. Please could add some more detail to the description.

[2022-01-20 07:42] rjchow opened #38105 "@wordpress/url isEmail fails a email that is considered valid by PHP Wordpress is_email"
### Description

Howdy!

I was working on https://github.com/woocommerce/woocommerce-admin/pull/8197 when I realised that the [`isEmail()`](https://github.com/WordPress/gutenberg/blob/trunk/packages/url/src/is-email.js) function from `@wordpress/url` has a slightly different behaviour from [`is_email()`](https://developer.wordpress.org/reference/functions/is_email/) in PHP Wordpress.

In particula

[2022-01-20 07:47] danielhuesken commented on #38053
For me it looks like that it has something to do with `wpautop()`.

[2022-01-20 07:48] ivanjeremic commented on #38087
I use the Interactive Block example from WooCommerce, https://github.com/senadir/interactive-block so maybe some issue there with the rendering or parsing of the attributes.

[2022-01-20 07:50] lefavilla commented on #22269
+1. I would love to see this feature. I initally thought its a bug that read more is missing.

[2022-01-20 07:59] evrpress commented on #33263
The one for the DashIcon (#37641) is still open

[2022-01-20 08:01] Mamaduka commented on #38103
I can reproduce the issue, but it only happens with a shortcode block.

@malavvasita, do you get similar results with any other blocks?

[2022-01-20 08:04] talldan commented on #37968
So Jest's `listTests` option only outputs the test files. I tested doing something like this:
[code]

Not very useful for finding stale tests.

The other idea I had is to use the test file path from the flaky test issue description and parse the contents of the file into an AST, and then walk the AST to find out whether a test is skipped. That would make it possible to capture wrapping `describe.s

[2022-01-20 08:49] SantosGuillamot opened #38107 "Comments Form blocks"
# 1. Goal of the project

The purpose of this project is to make the Comments Form customizable through blocks. In the same way that you can change the footer or the header with blocks and without code, it would be nice to do the same with this form.

Right now, in order to use the Comment Form in a FSE site, there is a [Post Comments Form block](https://github.com/WordPress/gutenberg/tree/trunk/p

[2022-01-20 08:54] mtias commented on #27481
Curious if there are any implementation details worth sharing!

[2022-01-20 09:01] jasmussen commented on #37573
Just cross-posting @ndiego's good comment from the VH units issue, possibly relevant to this discussion as well: https://github.com/WordPress/gutenberg/issues/34729#issuecomment-1016453489

[2022-01-20 09:25] paaljoachim commented on #15791
I believe it is still relevant.

Please do take it up @amustaque97
Thank you!

[2022-01-20 09:28] paaljoachim commented on #36657
Hey @karmatosed Tammie
I just see a lot of air and wonder why there is so much air.
That is why I mentioned truncation. To have a specific character width area and then use truncation for characters after that, or one could perhaps have the site title use a second line if needed. I can always ping @joedolson Joe and hear what he says.

[2022-01-20 10:28] fabiankaegy opened #38110 "Template Editor does not re render block after scripts have loaded"
### Description

Based on the Make WordPress post about [Blocks in an iframed (template) editor](https://make.wordpress.org/core/2021/06/29/blocks-in-an-iframed-template-editor/) blocks will get re-rendered once the corresponding script has been loaded in the iframe.

This works great in the template editor. The template part however does not rerender the component and therefore the callback in th

[2022-01-20 10:31] fabiankaegy commented on #33346
Cross-referencing a bug with the rendering in the iframe inside the template editor here: #38110

[2022-01-20 10:32] Mamaduka commented on #27481
Looks like it took a lot of work to add this feature - https://twitter.com/jitl/status/1483918085384028163.

[2022-01-20 10:52] kevin940726 commented on #37968
I see.

I think it depends on how often we want to run this. If we're only going to run this biweekly, I guess we can just run the whole test suites even though it's going to take longer to finish.

[code]

This command should output the `--json` result to `tests.json` so that we can parse it and find the tests. `2> /dev/null` is just a unix command to silent `stderr`, which we don't need.

The re

[2022-01-20 11:00] malavvasita commented on #38103
@Mamaduka I've tested the commonly used blocks, Although not all blocks.
I am facing an issue with the Shortcode block only.

I will update if I would face an issue like this with other blocks.

[2022-01-20 11:26] #33789 closed, assigned to Mamaduka

[2022-01-20 11:49] Mamaduka commented on #38103
I think the issue was fixed via #36887.  I couldn't reproduce the bug with Gutenberg 12.2 and later.

Cc @talldan.

[2022-01-20 12:21] gziolo commented on #37766
I personally have no idea how much useful types are for folks browsing the block editor handbook, but you see only text so anything more complex than primitives is hard to follow anyway. If you want to find out we can discuss it during the bi-weekly Core JS office hours and check whether we go as far as publishing at https://make.wordpress.org/core/.

[2022-01-20 12:45] malavvasita commented on #38103
@Mamaduka

I am using the latest RC for 5.9 i.e. RC-3.
And I can still see the reported issue.

Do WP v5.9 - RC3 have Latest Gutenberg integrated?

[2022-01-20 12:49] Mamaduka commented on #38103
No latest Gutenberg plugin shipped with 5.9 RC is 11.9 + some bug fixes.

I would appreciate it if you can confirm that the bug doesn't exists when using [Gutenberg 12.4](https://wordpress.org/plugins/gutenberg/).

[2022-01-20 13:02] sgomes commented on #36716
Thank you, @justlevine, that is definitely a good point that hadn't yet been discussed as part of this thread!

Some consideration needs to be given to versioning, and how a situation like the one you describe could be avoided, I agree. There are several options for that ranging from full semver awareness and version handling in WordPress, to pushing the version management aspects to developers an

[2022-01-20 13:12] malavvasita commented on #38103
Got it.

I have installed the latest version of Gutenberg and the issue doesn't appear anymore.
Thank you @Mamaduka for your help.

[2022-01-20 13:26] Mamaduka commented on #38103
@malavvasita, let's keep this issue open for now. We might decide to backport the fix to WP 5.9.

[2022-01-20 14:11] #38098 closed, assigned to Mamaduka

[2022-01-20 14:39] davilera opened #38113 "SelectControl doesn’t work if it’s wrapped in a Tooltip component"
### Description

In Firefox 96 (Linux and Windows), user can’t change the value of a `SelectControl` with their mouse when the `SelectControl` is wrapped in a `Tooltip` component. If they use the keyboard arrows instead, it works as expected.

### Step-by-step reproduction instructions

1. Create the following `Test` component:

[code]

2. Try to change the value of the `SelectControl` with your m

[2022-01-20 15:13] mchowning commented on #38084
I was also able to recreate this on the 18.9 version of the app, so it is not a regression since that release.

[2022-01-20 15:14] mchowning commented on #38082
Verified this occurs on 18.9, so it's not a regression since that release.

[2022-01-20 15:26] BenWittert commented on #32353
I would like to +1 this request, I have a large enterprise client who is experiencing significant issues as a result of this, they have many users accidentally/unknowingly are altering reusable blocks, as they think it is part of the page/post that they are on.

The client considers this to be a huge issue, they feel that reusable blocks are no longer fit for purpose in their current state.

[2022-01-20 15:38] kraftner commented on #35848
@cr0ybot I 100% agree that this is a terrible workaround which I'd love to get rid of. I see my blog post 50% as showing a workaround and 50% as an illustration of how terrible the current situation is and why it needs fixing. :wink:

[2022-01-20 16:11] simison commented on #36882
@ramonjd is this fixed and can be closed?

[2022-01-20 17:18] joedolson commented on #36657
For consistency, I feel like the menu should probably be the same width as either the customizer sidebar or the admin navigation; I think it would be nice if WordPress followed a consistent layout for all of these various toolsets.

I do think that there are challenges here in figuring out where to provide space; on smaller screens, there can be very little area left for the site you're editing.

[2022-01-20 17:37] Mamaduka commented on #38086
I think I've got the fix for this issue; I will create PR tomorrow morning.

[2022-01-20 18:51] dashkevych commented on #37670
The similar issue was posted here: https://github.com/WordPress/gutenberg/issues/37198

[2022-01-20 19:09] WraithKenny commented on #34325
Lets think about how identifying and patching the npm module `@wordpress/stylelint-config` currently vs having its own repo, for the issue in #38091

First, a user of the package would notice that it's broken, because it's breaking linting in their code editor. First thing they do, is go to https://www.npmjs.com/package/@wordpress/stylelint-config, and see that a simple Styling Config package has

[2022-01-20 20:06] grappler commented on #22048
This is something I am interested in looking into for defining the order of a list of posts.

[2022-01-20 20:15] dashkevych commented on #20606
I looks like the Quote block in the editor uses `cite` for citation; however the Pullquote block still uses `div`. It would be great to have consistency in these two blocks.

**Quote block**

<img width="1205" alt="quote-block" src="https://user-images.githubusercontent.com/3655965/150414944-aafee869-ee52-4c43-adaf-92f7ef250919.png">

**Pullquote block**

<img width="1191" alt="pullquote-block" sr

[2022-01-20 21:16] chthonic-ds commented on #37997
I can replicate this with WP 5.8.3, Gutenberg 12.3.2, and TT1 blocks following steps in https://github.com/WordPress/gutenberg/issues/37997#issue-1104380092.

Site editor works
![navigation-burger-not-opening-issue-37997-editor](https://user-images.githubusercontent.com/29587253/150422498-8318ec3b-4f8e-4f56-bf79-777716fbbe3e.gif)

Front doesn't work
![navigation-burger-not-opening-issue-37997](htt

[2022-01-20 21:35] ramonjd commented on #36882
Thanks for the ping. Yes, will close 🎉

[2022-01-20 21:35] #36882 closed, assigned to nobody

[2022-01-20 22:27] #18095 closed

[2022-01-20 23:00] boblinthorst commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2022-01-20 23:32] nick6352683 commented on #37598
If I understand correctly this issue is now "fixed" and merged with Gutenberg 12.4. On my end however, the issue still exists, so it should be reopened. They only thing that my testing environment has changes, instead of testing with WP 5.8.2, I'm now using WP 5.9 RC3.

Here is a 35 second video proof.

https://www.youtube.com/watch?v=ZHPO8rRfqvM

[2022-01-20 23:33] strarsis opened #38118 "Can't access navigation menu (post type) page in backend"
### Description

It is not possible to edit navigation menus (Gutenberg), even as an admin user,
as access to the `wp_navigation` post type page is denied.

An `admin` user (role) should be able to edit everything, including the navigation menus.
The `wp_navigation` post type declares its required capabilities as:
https://github.com/WordPress/gutenberg/blob/trunk/lib/navigation.php#L53-L64

Does a

[2022-01-20 23:56] glendaviesnz commented on #16479
Have [started a discussion here](https://github.com/WordPress/gutenberg/discussions/38119) about options for implementing this.

[2022-01-21 00:43] andrewserong commented on #37252
It looks like the removal of the `50/50` breakpoint was merged in #37436. @scruffian, does that mean we can close out this issue now?

[2022-01-21 01:00] talldan commented on #37479
Ditto.

[2022-01-21 01:08] colinduwe opened #38120 "Equivalent to has_block for use in templates"
## What problem does this address?
In a block theme, I would like to be able to determine if the template includes a block. In post content the has_block() function does that. My use case is to enqueue some JS in the case the pagination block is in the template.

This is similar to https://github.com/WordPress/gutenberg/issues/14758

## What is your proposed solution?
Is there a function that woul

[2022-01-21 02:25] timnolte commented on #34325
Why am I not seeing the recent posts here from @WraithKenny I know they posted twice today as I got the email notifications.

[2022-01-21 02:30] talldan commented on #34325
One thing I would say is this discussion is quite long form, and a lot of the points being made are hard to digest (requires a lot of reading). The description doesn't have a summary of the relevant pain points, so it's hard to actually understand where we can make improvements.

I think it's worth looking at the reasons for wanting to move to a separate repo and see whether any of them can be add

[2022-01-21 02:43] timnolte commented on #34325
Basically, all I'm hearing is that the idea of moving this package, or any other NPM package in this monorepo, has been permanently turned down by powers in control. You have effectively shutdown the conversation. You might as well close this issue altogether because you have no intention of ever considering moving out of this crazy unmaintainable monorepo. At this point I think I have my answer a

[2022-01-21 02:43] ramonjd commented on #25456
https://github.com/WordPress/gutenberg/issues/24957 is a similar issue, though it adds ideas for other Post Date block enhancements.

This could be a bit free-wheeling, with _great-power comes-great-responsibility-type_ of stuff, but I was playing around with a free-text formatter:

https://user-images.githubusercontent.com/6458278/150456177-6a6a1a28-6f93-42b5-99ad-3a742b94f8a6.mp4

With the right

[2022-01-21 02:45] talldan commented on #38118
@strarsis Would you be able to share which Gutenberg / WordPress version you're using?

I tested with 5.9RC3 (with and without latest Gutenberg) and it seemed to work ok, I could access the menus page.

[2022-01-21 02:48] timnolte commented on #25486
I'm moving on and will no longer be contributing to this package. There are too many unreasonable maintainers that I'm tired of them shutting down legitimate concerns for all of these NPM packages. I don't have endless hours to attempt to get this package working when huge libraries of unrelated tests fail due to unrelated changes.

[2022-01-21 02:49] #25486 closed

[2022-01-21 02:55] annezazu commented on #30159
The UI has come so far since I opened this issue and I find it to be MUCH more intuitive. I'm going to close this out as a result. I also believe the wider work around making blocks more context aware will inherently continue to trickle down into this experience.

[2022-01-21 02:55] #30159 closed, assigned to nobody

[2022-01-21 03:06] talldan commented on #34325
That's quite a strong reaction. Look at it on the other hand. A small group of contributors are only willing to discuss the idea of moving the package out of the monorepo, and unwilling to consider any other solution. This approach to diplomacy will only end in a stalemate. Nothing actually productive will come out of it.

The issue I'm seeing is that you have identified problems but are only will

[2022-01-21 03:06] annezazu opened #38121 "Improve relevance and ordering of search results in Link UI and Navigation block"
Update: I've revised this Issue to be focused on the relevance of the search results. I've spun out other concerns into a separate Issue.

**In summary** [the Post search results shown are sometimes counterintuitive and we may need to refine the REST API search endpoint to improve this](https://github.com/WordPress/gutenberg/issues/38121#issuecomment-2469783587).

<details>

<summary>Original Issu

[2022-01-21 03:38] andrewserong commented on #25456
Awesome idea, @ramonjd! I might be getting ahead of myself, but I think if we can use something like that as the underlying data for it (and possibly allow a toggle for folks to edit it manually for advanced users) but then build an interactive WYSIWYG behaviour on top of it, it'd be pretty cool to have a reusable component that we could use anywhere where a date is presented? Maybe a `DateTimeFor

[2022-01-21 04:18] gziolo commented on #38078
We plan to publish a new version of `@wordpress/scripts` with many packages updated related to `webpack`. Let’s see if that helps.

Actually you could test with the preview version by installing with;

`yarn add @wordpress/scripts@next --dev`

You might need to remove some of the `devDependencies` listed in `package.json` file in case they conflict with what `@wordpress/scripts` uses.

[2022-01-21 04:54] ddryo commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2022-01-21 05:54] WraithKenny commented on #34325
My comments aren't here anymore, because I wasted hours articulating the problems, only to remember no one here actually gives a shit about my time, and I'm only hurting myself by trying to contribute. Thumbs down isn't fucking friendly? Fuck you, you stupid piece of shit. Go fuck yourself, and fuck this project, and fuck all the maintainers. I've deleted all my patches and forks. I've deleted my

[2022-01-21 06:02] WraithKenny commented on #34325
I'm going to leave that one post until someone else deleted it and bans me from this Repo, because I'm fucking right, and these passive aggressive pricks are the barrier to contributions, with their false fucking civility and fake politeness.

[2022-01-21 06:21] talldan commented on #38121
Thanks for bringing this to attention. There have been some relevant discussions before. You mentioned the bulk linking interface which is one.

I remembered @jasmussen also had some proposals in this issue - https://github.com/WordPress/gutenberg/issues/34041#issuecomment-948597379.

[2022-01-21 07:24] jasmussen commented on #38121
The URL dialog is definitely a complicated piece of UI. Ideally it's remains a singular component that can be used across contexts in the UI, meaning it needs to be able to search across all buckets of content:

<img width="1220" alt="Searching" src="https://user-images.githubusercontent.com/1204802/150484524-474dec25-4079-4631-9cb3-5d2bb5a1eadd.png">

At the same time, some contexts like navigati

[2022-01-21 07:27] #38103 closed, assigned to nobody

[2022-01-21 07:56] talldan commented on #38087
cc @senadir, not sure if you're able to help with this one?

[2022-01-21 08:09] giannis-koulouris-bb commented on #37386
I have a similar concern when I use experimental components, I haven't figured out what is the best way to safely use them. I was expecting at least for the version of Gutenberg coming with WP Core to have a deprecation mechanism, a warning or something in the console letting you know that a certain component will change

[2022-01-21 08:52] talldan commented on #37386
@giannis-koulouris-bb One of the main purposes of the obtuse experimental prefix is to encourage developers not to use them, because there's a strong chance they'll break. The project is also not shy about making breaking changes to experimental APIs.

On the other hand, stable APIs are supported for a long time and will have deprecation notices.

So the best recommendation is not to use anything

[2022-01-21 08:55] ddryo opened #38126 "There is no way for the front side to determine that a Group Block is a "Row" variation."
### Description

Since WordPress 5.9, the `wp-container-{id}` class is given to the Group block, and the `flex` style of "Row" is written for this selector.

Class names that can be used to determine whether a block is a "Row" (such as `is-row`) are not output, so the theme cannot adjust the style for "Row" only.

#### Why do we need classes like `is-row`?

In some cases, Block Styles are register

[2022-01-21 09:21] markhowellsmead commented on #33212
Running Core 5.8.3 and plugin 12.4.1, I'm enqueuing block CSS with a theme I'm working on using `add_editor_style`. This works fine in the post/page editor.

However, this file isn't loaded in the new site editor, meaning that none of the blocks there have any of my own CSS applied. If I enqueue it using `wp_enqueue_style`, <s>as I have since 2018,</s> then the CSS is applied everywhere, but I get

[2022-01-21 09:21] ddryo opened #38127 "Is there any way to stop the wp-container-{id} class from being output in the Group block?"
For classic themes that are not FSE themes, I don't think `wp-container-{id}` is necessary.

I would like to have the ability to turn off this class, as I feel this makes the HTML look messy.

On the other hand, as I wrote in #38126, I need a class that can determine that it is a "Row" block.

[2022-01-21 09:24] rmorse commented on #33542
Just wanted to weigh in on this and add my support for allowing multiple scripts for both view and block.

There are two use cases that spring to mind:

**1. Using regular JS libraries + packages** (that are not package manager compatible)

This is my current situation - essentially, I have frontend scripts + css, and they expose an api on the window object, allowing you to generate various types

[2022-01-21 09:35] fabiankaegy commented on #33542
I'm on a similar page as @rmorse here. The most common reason for having to resort to php to register the script or style handle is because I need to add additional scripts to the dependency array.

[2022-01-21 09:43] gziolo commented on #33542
@rmorse and @fabiankaegy, thank you for the feedback and for reassuring us that this functionality is going to be helpful. @aristath, do you plan to iterate on #36176 during WordPress 6.0 release cycle?

[2022-01-21 10:11] rmorse opened #38128 "Request for `validateResolution...()` actions for the data api"
## What problem does this address?
When building more advanced stores using the data api, I'm finding it really useful to use the `invalidateResolution...()` actions.

So the resolution will be invalidated, and the resolver will be run again next time we ask for a piece of data via a selector.

_Ok, so far so good.  But what about the opposite?_

1.  Lets say I have a store, which interacts with a

[2022-01-21 11:09] jameskoster opened #38130 "Focus mode: List templates that consume the template part"
When editing a template part in focus mode, it's not always clear exactly where that template part is used, or indeed if it is used at all. This can reduce confidence in the consequence of any changes.

As block themes begin to bundle more templates / template parts (think templates for different archive types, multiple header options, content arrangements, and so on) this detachment could become

[2022-01-21 11:20] jameskoster commented on #38130
Quick example flow where this would be important:

* Theme bundles `content-one.html` and `content-two.html ` template parts for displaying post content.
* `archive.html`, `category.html`, and `search.html` all consume `content-one.html`.
* `index.html` and `author.html`  consume `content-two.html`.
* If you were to edit `archive.html`, select `content-one.html` and enter focus mode, you may inter

[2022-01-21 11:23] gziolo commented on #38080
I reported it also in a comment here: https://github.com/WordPress/gutenberg/issues/37154#issuecomment-998728016. I think it's related to the issue with rendering either a loop of the same blocks, or it's coming from the nested blocks. Anyway, we need to improve how we render the Comment Template block and its inner blocks. I think @michalczaplinski is looking into it already. We should find out w

[2022-01-21 11:39] oldrup commented on #24684
![image](https://user-images.githubusercontent.com/17141205/150520697-49dffa65-4da0-4390-829a-12c99deb698b.png)

I cannot say I'm thrilled to have such a massive block of inline styling on every single page. Could it maybe be moved to a stylesheet instead? I'd love to get rid of it.

[2022-01-21 11:44] senadir commented on #38087
Thanks for the ping @talldan, we can close this issue and I will answer it here https://github.com/senadir/interactive-block/issues/2 as it related to our frontend attribute parsing function, which isn't part of Gutenberg.

[2022-01-21 11:44] #38087 closed, assigned to nobody

[2022-01-21 11:50] markhowellsmead commented on #33212
Update: the warning isn't thrown when using the latest 5.9 release candidate.

[2022-01-21 11:52] jameskoster commented on #38130
We can also extend this to Reusable Blocks, Navigation Menus, and any other entity that may in the future be editable in focus mode.

[2022-01-21 11:57] carolinan opened #38131 "Allow using gradients as body background color in theme.json"
### Description

If I add a gradient or a gradient preset as the body background color in theme.json, the resulting CSS is invalid and the gradient not used.

[code]

Resulting CSS:
`body {
    background-color: var(--wp--preset--gradient--pale-ocean);`

In comparison if I apply the gradient to the body in Site Editor > Styles, the CSS used is
`background: var(--wp--preset--gradient--pale-ocean);`

[2022-01-21 12:07] carolinan commented on #37748
I may have misunderstood but I thought the plan was split the author block into smaller blocks, and that these would then replace the current block.
https://github.com/WordPress/gutenberg/issues/35596
The post author name block is already in Gutenberg and it has this link feature.

[2022-01-21 12:10] carolinan commented on #37814
This issue has resurfaced for me but only when Gutenberg 12.4.1 or Gutenberg [current trunk](https://github.com/WordPress/gutenberg/commit/8df93444e581111882c18c7ae343997579b71a66) is active.
With WordPress 5.9 alone, the remaining categories and patterns are loading.

[2022-01-21 12:14] scruffian commented on #37252
Yes I think so!

[2022-01-21 12:14] #37252 closed, assigned to nobody

[2022-01-21 12:17] carolinan commented on #37562
Yes I believe it would be better if the block and the existing comment navigation matched.

[2022-01-21 12:18] wpsoul commented on #37386
@talldan Problem here is that Gutenberg has huge amount of such experimental components and all of them are very useful and used in all complex Gutenberg plugins and themes. So, we need clear and safe migration guide in all new versions of Wordpress.

I am reading Field Guide 5.9 and there is nothing about many deprecations. It means that many plugins will be broken and developers of plugins have

[2022-01-21 12:52] carolinan commented on #37997
Still able to reproduce with current Gutenberg trunk.

This time I looked through the source and the script blocks/navigation/view.min.js is **not** present on the front in 5.8.3

[2022-01-21 13:06] carolinan commented on #37997
The view script is also not present for the file block.

[2022-01-21 13:31] aladin002dz commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2022-01-21 13:58] richtabor commented on #34729
I've been able to replicate this, but only with vh units set to `100`. If I set a pattern to `99vh` it seems to be working fine.. probably 😅

[2022-01-21 13:59] piotrbak commented on #38086
I'm also not able to reproduce the issue. Applied proposed fix to search for regressions, but everything looks just fine.

[2022-01-21 14:30] ryanwelcher opened #38138 "Create Block: Add consistency with the Edit/save components and how they are used."
## What problem does this address?
The default template that is used with the `@wordpress/create-block` package defines and uses the `save` and `Edit` components differently. This has caused some confusion in the past ( see #33613 and related #34548 ). I use the default package regularly to quickly scaffold up a block for any number of reasons and the first thing I do is to change the import for t

[2022-01-21 15:11] nekohayo commented on #22822
I don't know if it's any help to know this, but I'm also seeing slow performance (without even measuring it, you just feel it) using Firefox (any version) on Linux (with an Xorg session, AMD Radeon open source graphics, webrender enabled) and what I noticed is that performance is generally okay when "freshly" opening a post for editing, but **as time passes** performance degrades significantly; it

[2022-01-21 15:11] krupal-panchal opened #38140 "In Mobile view cancel button's bottom part is hiding behind the options block"
### Description

When you add a new section in the post, in Mobile view cancel button's bottom part is hiding behind the block editor's options block. There is a given focus property on a button, So it might need some space below the button to see the proper design.

### Step-by-step reproduction instructions

1. Add a new post.
2. Click to + icon button from the top left to add any blocks.
3. Aft

[2022-01-21 15:28] burnuser opened #38141 "Change Background color of paragraph block has different effect in styles and page-editor"
### Description

Test with 5.9-RC3 and Twenty Twenty-Two:
Asigning a background color in Styles => Blocks => Paragraph works
Asigning a background color in Pages => Edit => Paragraph works
But the result in the created webpage is different (see attached screenshot)

as reported in Core Trac: https://core.trac.wordpress.org/ticket/54865

![Different layout for background color](https://user-images.

[2022-01-21 16:07] ajlende commented on #37598
@nick6352683 unfortunately this didn't make it into 12.4, and it [wasn't able to be backported](https://github.com/WordPress/gutenberg/pull/37954#issuecomment-1014947085) for the initial WP 5.9 release because it depends of a more complicated change. However, it will be in Gutenberg 12.5 and WP 5.9.1 for sure.

[2022-01-21 16:11] mcsf commented on #22822
These things are difficult to observe, let alone measure. :) So thanks for the balanced and qualitative report.

This reasoning is sensible. A while back, based on sporadic reports, we tried to spot memory leaks by comparing heap snapshots in between common editor actions like selecting blocks and inputing characters, but nothing definite emerged. So I'll try to replicate your circumstances by ess

[2022-01-21 16:18] sabernhardt commented on #38140
The `.edit-site-editor__inserter-panel-header` container has padding on the top and right, and it might need bottom padding, too.

I also can get stuck tabbing between the Cancel button and the `block-editor-inserter__main-area` div when I have zoom at 200% on my laptop screen.

[2022-01-21 16:26] jameskoster commented on #37748
I suppose it depends on the implementation. If the plan is to replace the internal elements of the Post Author block with the dedicated atomic blocks (IE Post Author Name, Post Author Avatar, etc), then yes we can probably close this out.

[2022-01-21 16:33] grappler commented on #36504
As I have started to try and use the new filter, I have realized that attributes from the `core\query` block are passed individually to the `core/post-template` block, thus not allowing any new attributes. I was looking to add an `include` attribute to connect with `post__in`.

[2022-01-21 16:50] johnstonphilip commented on #37152
@talldan Do you know if this should this be updated in the [readme for the Block Editor package](https://github.com/WordPress/gutenberg/tree/trunk/packages/block-editor)? It seems to be broken without this addition.

[2022-01-21 17:07] nekohayo commented on #22822
I don't really know what I'm doing / looking at with the browser's web dev console perfs tab, but here are my observations where you can see the laggy typing occurring with Firefox... I hope this helps somehow: https://youtu.be/4sfGsPGupaA

This is by no means an underpowered machine; it is old, but we're talking about an eight-cores Xeon with a Radeon R270 ;)

My guess is that if you test with Fi

[2022-01-21 17:17] timsinc commented on #37811
Related to this I've noticed that when block gap is defined and you group the first element of the root container, a style tag is generated and inserted at the top of the root container, which then causes the `> * + *` top margin block gap rule to be applied to the newly created group, which shouldn't be the case.

[2022-01-21 17:42] strarsis opened #38144 "Cover block without forced color/image"
## What problem does this address?
Sometimes a `core/cover` block is heavily styled by a theme, e.g.
by adding complex decorative elements and background effects to it.

The `cover/block` currently forces a color or image selection at insertion.
The theme then has to forcefully hide any color or image before applying its own complex styles.
Alternatively the theme needs to rely on the end user coo

[2022-01-21 18:06] rajnish93 commented on #35744
Hello everyone :wave: I want to work on this issue. Can anyone tell me if I need to convert all js file to typescript. (example in **DropdownMenu** have `index.js` , `index.native.js`, `test folder` and `stories` folder) Do I need to change only `index.js` to typescript or all files.

[2022-01-21 18:12] skorasaurus opened #38146 "Keyboard shortcut to toggle settings/sidebar's display is not working"
### Description

The keyboard shortcut to [show/hide settings sidebar,](https://developer.wordpress.org/block-editor/explanations/faq/#editor-shortcuts) done by `Ctrl+Shift+,` for windows and linux users does not show/hide settings sidebar as expected.

### Step-by-step reproduction instructions

1. create a new post or page
2. Press `Ctrl+Shift+,` (press simultaneously the control button, shift,

[2022-01-21 18:23] nick6352683 commented on #37598
@ajlende , Thanks for the update, I was confused from the Closure of this issue and the fixed being labeled as merged, and yet, I was still seeing the problem. Thanks for correcting me, and looking forward for the next series of updates.

[2022-01-21 18:52] strategio commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2022-01-21 19:36] Hypnosphi commented on #31893
I irrevocably deny for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2022-01-21 20:03] yodiyo commented on #31893
I irrevocably deny for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2022-01-21 20:14] timwright12 commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2022-01-21 20:26] hansjovis commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2022-01-21 20:55] mtias commented on #38130
Isn't this a duplicate of #20476 ?

[2022-01-21 21:01] bph commented on #37796
@Wordpresslover I close this issue for now, unless my suggestion isn't a good replacement for your workflow. Please comment again here and I open up the issue again.

[2022-01-21 21:01] #37796 closed, assigned to nobody

[2022-01-21 21:41] karmatosed commented on #38022
I really like this idea and can see it being really useful.

[2022-01-21 23:31] noahtallen commented on #34325
Though I know this conversation has mostly come to a close, I did want to answer a couple of questions that came up. I also still think it's important to consider monorepo solutions to some of the problems which could (in theory) be solved by a separate repository.

Since Gutenberg is a complex WordPress plugin, it relies heavily on the underlying WordPress environment. If the underlying WordPress

[2022-01-22 01:41] ryo-utsunomiya commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2022-01-22 02:25] nagayama commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2022-01-22 02:31] guillaumer commented on #36242
To access parent attributes, use [context](https://developer.wordpress.org/block-editor/reference-guides/block-api/block-context/).

On the parent block, register a context attribute in block.json (it can only map to an existing attribute) :

[code]

On the child block, declare the context in block.json :

`usesContext: ["my-block/attributename"],`

You can then access the context in the render_ca

[2022-01-22 03:16] carolinan commented on #38144
I do run into this. Part of the problem is that the cover block is the only option we have for layering blocks over other blocks, and sometimes the block options are not suitable for what we are trying to create.

[2022-01-22 05:05] annezazu commented on #28327
Going to close this out since there's slightly more information in this duplicated issue: https://github.com/WordPress/gutenberg/issues/30055

[2022-01-22 05:05] #28327 closed

[2022-01-22 05:58] mavinothkumar commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2022-01-22 06:09] apeksha10 commented on #38146
Hi ,
I am able to replicate the above issue in Windows
Steps
Chrome browser
WordPress (5.9-RC3-52617) and Gutenberg 12.4.1.
Click (Press Ctrl+Shift+,)
 4.   The sidebar panel displaying a block's settings or the page/post's setting doesn't hide.
See the video: https://www.screencast.com/t/Tbtlww8S

[2022-01-22 07:02] isBatak commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2022-01-22 07:47] letasync commented on #38146
Hi @skorasaurus
Thanks for confirming & reporting.

My test env was
Chrome browser on Window 10
WordPress 5.9-RC3-52601 without gutenberg or any other plugin.
and WordPress 5.8 with gutenberg 12.04  without any other plugin.

[2022-01-22 08:31] paaljoachim commented on #34574
As the customizer is hidden from full site editing themes it would be very helpful to add a custom CSS area to the Global Styles panel. There is an issue for it here:
**Global Styles: an input for custom CSS**
https://github.com/WordPress/gutenberg/issues/30142

[2022-01-22 08:40] Otshelnik-Fm opened #38155 "constantly translating gutenberg versions gets into fuzzy"
Constantly translating Gutenberg versions gets into fuzzy http://joxi.ru/KAg9XvPINl88Bm and http://joxi.ru/DrlP95bCGNlN0r
change the link from https://github.com/WordPress/gutenberg/releases/tag/v12.4.1
on https://github.com/WordPress/gutenberg/releases/latest
and github will automatically redirect to the latest release

And replace the version with a placeholder. Thus, the version change will not

[2022-01-22 10:36] mrfoxtalbot opened #38156 "Refactored Gallery Block: Inconsistent last image width"
### Description

When using the "classic" Gallery Block, if there was a single image on the last row, it would scale up to use up all the available space. Example:

![Screen Shot on 2022-01-22 at 11:17:19](https://user-images.githubusercontent.com/4452464/150634523-624ad939-bb23-416c-8537-84af09dfb161.png)

This was also the case when the gallery block's width was set to "wide"...
![Screen Shot on

[2022-01-22 13:21] lumpysimon opened #38157 "Multiple navigation menus are being created"
### Description

I'm running 5.9-RC3 with Twenty Twenty Two theme. Gutenberg plugin is *not* installed.

Multiple navigation menus are being created even though I have not added any, when I go between the new site editor and the manage menus screen.

### Step-by-step reproduction instructions

* Click 'Edit site' in the admin toolbar.
* Click on the header navigation menu block.
* Click 'Select me

[2022-01-22 14:46] Mamaduka commented on #38157
/cc @talldan, @getdave

[2022-01-22 16:46] rakshans1 commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2022-01-22 18:12] pbiron commented on #37386
Thanx Dan!  This works like a charm for me.

I added a comment to the [Take more control over Inner Block Areas (as a block developer)](https://make.wordpress.org/core/2021/12/28/take-more-control-over-inner-block-areas-as-a-block-developer/#comment-42393) dev note linking to your comment.

[2022-01-23 02:43] vishalkakadiya commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

CC @jeffpaul

[2022-01-23 05:27] carolinan commented on #34944
I agree that using slug would make it more consistent.

[2022-01-23 08:49] liorken opened #38159 "Cannot preview the Spacer block and change space dimensions"
### Description

The Spacer block is not appearing in the Preview and you cannot change the space height. It shows an error message on the Preview, saying you cannot view it in preview.

### Step-by-step reproduction instructions

1. Add Gutenberg "Spacer" to post.

### Screenshots, screen recording, code snippet

_No response_

### Environment info

_No response_

### Please confirm that you have

[2022-01-23 08:52] waviaei opened #38160 "Cannot save "Make template part" when the template part name is in multibyte language"
### Description

In the new (theme) editor, one can save block(s) as template parts, accessed via the "three-dots" menu. It seems you cannot save it if multibyte language is used as template part name.

Looking at the console error, there seem to be something with creating slug from the input text? and JS has stopped there, resulting in "saving" to not finish.

I tried same thing with English temp

[2022-01-23 10:11] superbmario commented on #37640
After trying WP 5.9 RC3, I can see that the 'Appearance > Menus' page is not changed to Gutenberg like the 'Appearance >Widgets' page was. So if I understand correctly, a filter to disable that from happening will not be required. Therefore this issue could be closed if so.

[2022-01-23 10:27] maharzan commented on #9381
Similar thing was happening to me with WordPress 5.9 RC3. and changing permalinks to default helped. Tracking back to the issue, I found out that nginx.conf had this line

    location / {
        try_files $uri $uri/ /index.php?$uri&args;
    }

The $ was missing in args.. after I added $, the issue is resolved and there is no longer react dom error.

    location / {
        try_files $uri $uri/

[2022-01-23 14:03] carolinan commented on #26700
Hi, can this be closed?

[2022-01-23 14:40] linseybrander commented on #38127
I found it goes away if you remove the `wp_render_layout_support_flag` filter, like so in functions.php:

`remove_filter( 'render_block', 'wp_render_layout_support_flag', 10, 2 );`

This will also remove the inline css for align en flex in the footer:

`<style>.wp-container-61ed66e1ec861 .alignleft { float: left; margin-right: 2em; }.wp-container-61ed66e1ec861 .alignright { float: right; margin-le

[2022-01-23 15:18] lgersman commented on #30142
For those who can't wait :

At [Ionos](https://www.ionos.com/), we have developed a tiny plugin for the very same reason.

It simply replaces the input field with a tag-like-editor (similar to the `@wordpress/components` FormTokenField : https://developer.wordpress.org/block-editor/reference-guides/components/form-token-field/) to allow designers to apply a theme specific set of css classes.

Mayb

[2022-01-23 16:55] Mamaduka commented on #38159
Hi, @LKENL

Can you give us more details, like what version of the Gutenberg plugin and WordPress are you using?

[2022-01-23 17:07] #38086 closed, assigned to Mamaduka

[2022-01-23 18:00] courtneyr-dev commented on #34729
I have reproduced this issue as well when activating Gutenberg 12.5.x. I found it especially noticeable in Twenty Twenty One theme, and less apparent in Twenty Twenty Two.

https://user-images.githubusercontent.com/5519705/150691541-60021696-2df9-4933-8433-81966a4f6719.mp4

Mac Monterey, Chrome Version 97.0.4692.71, running site in LocalWP, 5.9RC3

[2022-01-23 20:50] aurooba commented on #30142
I was trying to build a little site for myself with FSE today, and within 5 minutes I needed to make a custom CSS change, and immediately needed this. I think it's seriously problematic this wasn't made a higher priority. What are the next steps for this?

[2022-01-23 21:41] bgardner commented on #30142
I love this idea and have already considered creating an issue for it. With customizer inevitably going away, I think this is a huge win for those who need to customize a few things via CSS.

[2022-01-23 22:04] ellenbauer commented on #37573
I can also confirm the issue, consistently both in the post/page editor and in the site editor (in the sidebar as well as in the Explore patterns view).

It's either a scrollbar or the patterns heights are either stretched or squeezed in which case the patterns preview are not visible. Still occurring in 5.9-RC3 without the Gutenberg plugin active.

I don't think it's a minor issue at all. It make

[2022-01-23 22:06] ndiego commented on #37573
Agreed, when a fix is found I personally think it's important enough to be included in the 5.9.1.

[2022-01-23 22:14] grappler opened #38163 "Query Block: Allow developers to extend the attributes"
## What problem does this address?
As raised in https://github.com/WordPress/gutenberg/issues/24934 not all the filter options are available to in the Query Loop Block. I understand that will take time. In the meantime, it would be useful to allow developers to extend the Query Block to add their own settings.

With a new PHP filter as mentioned in https://github.com/WordPress/gutenberg/issues/365

[2022-01-23 23:09] WhiteHeatherClub commented on #37573
Agreed. Makes 5.9 a non-starter here. Already using Patterns extensively in production sites, there's no way I could roll this version out. Having welcomed Gutenberg on it's arrival, then embraced Patterns, I can't help but feel disappointment with this release.

[2022-01-23 23:14] noisysocks commented on #34729
Can the folks here who are able to reliably reproduce the issue please go and test whether https://github.com/WordPress/gutenberg/pull/35841 fixes it?

[2022-01-23 23:19] aurooba commented on #32644
Hallo! Trying to work with FSE and this is a serious _serious_ oversight. We need to be able to set negative margins, it's a very common technique.

[2022-01-24 00:08] SaxonF commented on #36667
@jasmussen @jameskoster Could I accomplish the above using re-usable blocks (containing nav block) edited/created in isolation? There are already so many concepts to grasp when it comes to global elements (template parts, templates, re-usable blocks) that I fear introducing yet another will be overwhelming.

This opinion could just be because I'm used to working in design tools like Figma (with co

[2022-01-24 00:33] courtneyr-dev opened #38165 "Navigation Block Submenu Obfuscated by Block Toolbar"
### Description

When I add a submenu navigation item, I cannot see the block I am typing in. It remains hidden by the block toolbar.

### Step-by-step reproduction instructions

1. Go to Editor > Navigation Block
2. Create several navigation items
3. Select on navigation item and add a submenu

### Screenshots, screen recording, code snippet

https://user-images.githubusercontent.com/5519705/1507

[2022-01-24 00:36] hellofromtonya opened #38166 "Classic menus are not selectable in existing Navigation block requiring user to create a new Navigation block"
### Description

User story: As a user, I expect to be able to select a classic menu within an existing navigation block.

The "Classic Menus" section does not appear in an existing Navigation's block "Select Menu". Rather, it only appears in adding a new nav block.

Why is this a problem?

**_How will a user know that they must first delete an existing nav block and then insert a new one in order

[2022-01-24 00:43] hellofromtonya commented on #38166
This issue was found after @m asked how to select existing (classic) menu in TT2's header after upgrading.

This issue is problematic for 5.9 in that users will be confused as to what to do next in order to select their existing menus. The UI does not guide them. How will they know?

Possible solution: add the Classic Menus section on existing Navigation blocks.

Severity: major blocker for existi

[2022-01-24 01:12] andrewserong opened #38167 "Tracking: Add a Style Engine to manage rendering block styles"
This is a tracking issue for implementing a Style Engine as discussed in [improving our saving/rendering of block styles](https://github.com/WordPress/gutenberg/discussions/37495). The goal is to have a consistent API for rendering styling for blocks, across both client-side and server-side applications. The server implementation is preferred for a site's frontend.

Rather than a monolithic refact

[2022-01-24 01:48] talldan commented on #38157
Thanks for reporting this. To explain what's happening:
1. The theme provides some initial menu content
2. When selecting the navigation block with this content, a Navigation Menu is created
3. At the point, the changes to the template and the new menu need to be saved to avoid duplicates

The duplicates should only happen if when exiting the site editor the warning about unsaved changes is ignore

[2022-01-24 04:12] sagive commented on #4543
Can i just add "omg", it's 2022. four years - unusable buttons.

[2022-01-24 04:29] glendaviesnz commented on #38156
Thanks for reporting. I was able to replicate this, looks like it is because the alignment option are applying some max-width settings to all blocks that need to be overridden.

[2022-01-24 04:52] amustaque97 commented on #15791
@paaljoachim, looks like currently there is no option for indentation and outdentation.  Do we need to implement indent and outdent feature first(and part of this issue) then work on the shortcut keys?

If yes, what is the requirement for indent/outdent? Please share your ideas!

Thanks

[2022-01-24 04:55] talldan commented on #38118
I think we got to the bottom of this. It only happens in classic themes.

The post type has `'show_ui' => wp_is_block_theme()`  defined in [Gutenberg](https://github.com/WordPress/gutenberg/blob/34ed60b61251e3f655048859a1350493c59141b1/lib/navigation.php#L41) and [Core](https://github.com/WordPress/wordpress-develop/blob/6223e0cf1efa86995de9d78d39360a3b8efa0c45/src/wp-includes/post.php#L506).

[2022-01-24 04:58] ramonjd commented on #38167
We [already use](https://github.com/WordPress/gutenberg/blob/573cf8dbe7ebe6f423fda7627966dbedcf069a14/tools/webpack/shared.js#L80) [cssnano](https://cssnano.co/), which can do a lot of this stuff.

From basic testing, it seems like if we stored the styles (in a store?) and then ran them concatenated through cssnano we might get something useful. I can take a look at this further.

[2022-01-24 05:04] tellthemachines opened #38169 "Focus is lost after selecting option from "Select Menu" dropdown"
### Description

In the Navigation Block toolbar, the "Select Menu" button opens a dropdown from where a different menu can be selected. Selecting a menu from that dropdown causes the dropdown to close, but when it closes keyboard focus is reset to the document body.

Focus should instead go back to the "Select Menu" button in the toolbar, or perhaps to the block itself.

Possibly due to https://g

[2022-01-24 05:06] ixkaito commented on #34729
I share my video from [WordPress Core's Trac](https://core.trac.wordpress.org/ticket/54885). This bug exists with all bundled themes except Twenty Twenty-Two.

https://user-images.githubusercontent.com/5457539/150724011-807bd9be-ef3a-4b8c-bcc0-b35f618dd076.mp4

#35841 seems to provide a minimum fix. Blocks still expand vertically but stop at the aspect ratio 1:1.

https://user-images.githubusercon

[2022-01-24 05:09] noisysocks commented on #38118
https://core.trac.wordpress.org/ticket/54889 tracks fixing this in Core. We'll need to make the same change in Gutenberg for older WP versions.

[2022-01-24 05:44] #38166 closed, assigned to talldan

[2022-01-24 06:18] s56bouya opened #38171 "Enable & disable autogenerated anchors in heading blocks"
### Description

I want to remove the automatic html anchor for the heading block. There are cases where IDs are attached to heading blocks with hooks and plugins.

I also agree with the comments (https://github.com/WordPress/gutenberg/pull/30825#issuecomment-959051708).

Please consider that the html anchor can be enabled / disabled as an option or a filter.

### Step-by-step reproduction instruc

[2022-01-24 06:45] carolinan commented on #31999
Step 1-5 has been completed.
The [block theme section](https://developer.wordpress.org/themes/block-themes/) of the Theme Developer handbook has been published.
There is still room for improvements and more examples but it is a good start.

What remains is to remove some duplicate content from the block editor handbook and add a note explaining that the documentation in the block editor handbook a

[2022-01-24 07:37] talldan opened #38172 "Dashboard 'Edit styles' link doesn't work"
### Description

A new user switching to 5.9 will see an 'Edit styles' link on the dashboard encouraging users to check out the new styles feature.

<strike>Unfortunately it doesn't work as expected on small / medium sized viewports (phone / tablet). The intention is to launch the site editor with the Styles panel open and welcome guide visible. In testing, the sidebar is only open for a flicker o

[2022-01-24 07:42] noisysocks commented on #37573
Thanks for the reports everyone!

This issue is in the the WP 5.9.1 milestone along with other bugs that did not have a patch in time for the WP 5.9 code freeze.

It _might_ be that this is caused by https://github.com/WordPress/gutenberg/issues/34729,. @jasmussen and @Mamaduka are currently investigating whether that one can be fixed in time for the unscheduled WP 5.9 RC 4 release today.

[2022-01-24 07:46] aristath commented on #24684
This is a performance enhancement. If you want to disable inlining small assets, try adding this:

[code]
You can read more in this article: https://make.wordpress.org/core/2021/07/01/block-styles-loading-enhancements-in-wordpress-5-8/

[2022-01-24 07:51] aristath commented on #33542
Definitely!
As soon as WP5.9 is released we'll start working on performance improvements like this one for v6.0 👍

[2022-01-24 08:04] #26700 closed

[2022-01-24 08:30] talldan commented on #37573
I finally managed to reproduce this, but only with a few patterns. It happen in my normal development environment with this pattern and a couple of other 'Pages' patterns (with Gutenberg active):
![Screen Shot 2022-01-24 at 4 24 34 pm](https://user-images.githubusercontent.com/677833/150747374-4e0f362c-85a6-41e7-b1df-89eb7e417f0c.png)

edit: It seems like all the patterns that have this issue (for

[2022-01-24 08:39] glagonikas opened #38173 "Additional CSS class(es) not working for Widget Group"
### Description

As the title is saying, adding Additional CSS class(es) to a Widget Group doesn't appear to work.

### Step-by-step reproduction instructions

1. Go to Widgets
2. Add a Widget Group and insert a widget inside it
3. Go to "Additional CSS class(es)" of the Widget Group and enter a class name
4. Save and go to the front-end

**Expected Results**
The CSS class is added to the Widget G

[2022-01-24 08:42] youknowriad commented on #38167
These two styles are different than the others in the sense that the generated styles shouldn't be applied to the "block wrapper" but instead to the "inner blocks wrapper". The difference is subtle since for most containers blocks, these two wrappers are the same but for something like Cover, they are not the same and that's why it's not possible to enable the current implementation of Layout bock

[2022-01-24 09:09] scruffian commented on #26700
Thanks

[2022-01-24 09:13] juanmaguitar opened #38174 "Add file name and path to code examples in Block Editor Handbook"
## Issue Description
Code examples in [Block Editor Handbook](https://developer.wordpress.org/block-editor/) doesn't include the name  and path of the file the content is referring to

Also, references to real code related to the examples could be really useful for the final user

## URL of the Page with the Issue
Any code example in any page of the [Block Editor Handbook](https://developer.wordpr

[2022-01-24 09:31] oldrup commented on #24684
Thank you for this input @aristath. That would be sufficient for me, however I can not get it to work.

I tried both the snippet above, and the alternative
`add_filter( 'styles_inline_size_limit', function() {
	return 0; // Size in bytes.
});`

To no avail.

Let me clarify, that this block of inline styling first occurred on my WordPress 5.9 RC2/3 test installation. I'm not seeing it on my WordPre

[2022-01-24 09:35] getdave commented on #38157
Why do we have to save _immediately_ if there have been no changes? Why is there even a "dirty" state?

Is there a way we can adjust the flow so that we only save a new menu if there have been changes?

[2022-01-24 09:44] talldan commented on #38157
It would be good to try. Saving is asynchronous, so it would have to be pretty seamless and not interupt the user's editing.

It still only mitigates the issue though, the user can choose not to save changes in the site editor (which avoids assigning the `ref` in the nav block), and they would still get another menu when they next go to edit (because there's no `ref` assigned). Granted it does red

[2022-01-24 09:53] talldan commented on #37573
I've managed to reproduce this using the `SCRIPT_DEBUG` method now and that results in more patterns being affected. So it seems like the bug I observed before is a different but related problem.

This is a good point. The main difference in one of the patterns I checked seems to be that `a` and `div` elements have `outline: 0`. `iframe` elements have `border: 0`. These are both things that don't

[2022-01-24 09:53] aristath commented on #38120
In a block theme, all blocks are parsed before the `<head>`. What that means, is ou can hook in [`render_block`](https://developer.wordpress.org/reference/hooks/render_block/), and enqueue your script if the block exists.
Example:
[code]

[2022-01-24 09:53] #38120 closed, assigned to nobody

[2022-01-24 09:54] liorken commented on #38159
Gutenberg is version 12.3.0.
Wordpress is 5.8.3

בתאריך יום א׳, 23 בינו׳ 2022, 18:55, מאת George Mamadashvili ‏<
***@***.***>:

[2022-01-24 09:54] Mamaduka commented on #37573
@talldan pushed #38175 as a proposed fix.

[2022-01-24 09:59] Mamaduka commented on #38159
Thank you, @LKENL.

There was a similar issue #37758, but it should be fixed in 12.3.

Would it be possible to see a screenshot of the error message?

[2022-01-24 10:05] talldan commented on #37573
@Mamaduka I just spotted the issue. I don't know whether your fix is quite right, as it will result in patterns being cut off.

The offending style is this `height: 100%` on the body of patterns:
![Screen Shot 2022-01-24 at 6 02 36 pm](https://user-images.githubusercontent.com/677833/150762345-1699f3d7-84c6-473e-97af-8ad34204f551.png)

Kudos to @walbo for spotting the problem.

[2022-01-24 10:09] liorken commented on #38159
Hi,

Attached the screenshot. It's in Hebrew, but the block that appears on the
screen is the error message of the spacer.

‫בתאריך יום ב׳, 24 בינו׳ 2022 ב-11:59 מאת ‪George Mamadashvili‬‏ <‪
***@***.***‬‏>:‬

[2022-01-24 10:09] jameskoster commented on #38130
Pretty much :)

[2022-01-24 10:09] #38130 closed, assigned to nobody

[2022-01-24 10:10] aristath commented on #37562
It is possible to change the order of comments, so it can either be newer to older, or older to newer. That's why next/previous is easier. It doesn't depend on the order of the query and therefore always works properly.
If we do change the wording to newer/older, then we need to make sure that the labels adapt depending on the query order. We can't just string-replace the next/previous with older/

[2022-01-24 10:25] cbravobernal commented on #37562
Thank you all for the responses, is really great to have the opinions of more experienced contributors.

I guess that WordPress, depending on the order, switches the functions `get_next` and `get_previous`. Cause as far I've seen both in templates and in the core, previous is always default as older, and next is always default as newer.

Anyway, we are also working on adding a sort option to the q

[2022-01-24 10:26] jameskoster commented on #36667
Funnily enough Joen and I were chatting about this last week and yes – you could accomplish this with reusable blocks, or template parts for that matter 😅

I have begun wondering whether "reusability" could be a more abstract concept. So rather than providing multiple elements that all essentially do the same thing, perhaps _all_ blocks have a toggle to make them reusable or "[synced](https://gith

[2022-01-24 10:26] ixkaito commented on #34729
I noticed that this bug occurs with non-block themes. The bug is caused by the vertical margin applied to previews of `100vh` blocks. The vertical margin is set in the following file.

https://github.com/WordPress/gutenberg/blob/2484854b37ab5c138dab87743d1fc8f833074cd8/packages/edit-post/src/classic.scss#L28-L29

[2022-01-24 10:32] #37562 closed, assigned to cbravobernal

[2022-01-24 10:39] erikjoling opened #38176 "How to disable color settings in the cover block in WP5.9"
### Description

Prior to WP5.9 I disabled the color settings of the cover block using theme.json like this:

`"settings": {
    "blocks": {
        "core/cover": {
            "color": {
                "palette": []
            }
        }
    }
}`

It seems this no longer disables the cover settings (with color and transparancy options) in WordPress 5.9 (RC-3).

Update: this also seems to be th

[2022-01-24 10:43] talldan commented on #37190
It's definitely back again 😓 :
https://github.com/WordPress/gutenberg/blob/99c72bf584a6f0cf47d4db73f10998b8b7e1d1c3/packages/block-library/src/navigation/edit/index.js#L443-L458

Must have accidentally been brought back as the result of a bad conflict resolution.

[2022-01-24 10:57] Andrew-Starr commented on #38172
I have the same issue regardless of the viewport size, even on a large screen with browser full-width.

As above the welcome guide flickers visible for a very brief moment and then disappears, and the styles panel is closed.

The URL does have `?styles=open` appended, so could there be an issue with this?

[2022-01-24 11:02] talldan commented on #38172
@Andrew-Starr That's the thing that makes the styles panel open, but it does seem like something then causes it to close.

What width is your browser window when you experience it? (also, which browser / OS?)

[2022-01-24 11:05] talldan commented on #37190
While we're talking about code quality, something else I noticed today is that `useNavigationEntities` does a lot. As does `useNavigationMenu` now. I think we could divide them into separate hooks:
- usePages
- useClassicMenus
- useClassicMenuItems
- useNavigationMenus
- useNavigationMenuPermissions

One reason is that Pages don't need to be requested all the time, only when the placeholder shows.

[2022-01-24 11:11] Andrew-Starr commented on #38131
You can use a gradient background but it has to be written like so:

[code]

Having said that, it should be fixed so that the more expected usage of `var(--wp--preset--gradient--pale-ocean)` will also work.

[2022-01-24 11:13] niklasp commented on #32365
@youknowriad  Please write a dev note for #31375. I am totally lost with styling and hooking into the correct functions now.

[2022-01-24 11:18] aristath commented on #24684
Ah perhaps I misunderstood the issue then. I thought the comment above was about the fact that the styles get inlined as opposed to enqueued as a stylesheet.
In WP 5.9, for compatibility reasons, the default palette gets enqueued too. I haven't tested this, but I believe that you can remove these by adding some values to your `theme.json` file (`settings.color.defaultPalette` and `settings.color.d

[2022-01-24 11:25] fluiddot opened #38177 "Enable `@wordpress/jest-console` globally for mobile unit tests"
## What problem does this address?

Console logs are not being analyzed by mobile unit tests, which might be overlooking potential errors.

## What is your proposed solution?

Enable `@wordpress/jest-console` globally by adding it to the native Jest configuration ([reference](https://github.com/WordPress/gutenberg/blob/trunk/test/native/jest.config.js)). I tried this locally and spotted that the f

[2022-01-24 11:27] Andrew-Starr commented on #38172
OS: windows 11
Browser: firefox and chrome
browser window is same issue regardless, whether it's 480, 1920 or 3840px

[2022-01-24 11:28] carolinan commented on #38131
Since we _have_ to use it -where is that format documented?

It is not noted here, the only example uses a custom CSS property:
https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-json/#top-level-styles

[2022-01-24 11:30] Andrew-Starr commented on #38172
This is the logged `WP_DATA_USER` local storage data

`{"core/edit-site":{"preferences":{"features":{"welcomeGuide":false,"welcomeGuideStyles":true}}}}`

[2022-01-24 11:39] SaxonF commented on #36667
I really love the thinking behind @luisherranz suggestion in the synced block thread you referenced and believe the same simplification/unification principle could apply here.

Taking the idea to the extreme you could even argue that a navigation block isn't even needed. Just create a pattern containing a row with a logo and some links. If you need a submenu, add a generic dropdown block to your r

[2022-01-24 11:48] carolinan commented on #38176
Hi,
try combining it with `"defaultPalette":false`
See https://make.wordpress.org/core/2022/01/08/updates-for-settings-styles-and-theme-json/

[2022-01-24 12:02] carolinan commented on #38173
Confirmed, WordPress version 5.9-RC3-52619, with and without Gutenberg installed.

[2022-01-24 12:02] youknowriad commented on #32365
@niklasp Hi there! I believe the dev note for that PR is this one https://make.wordpress.org/core/2021/06/29/blocks-in-an-iframed-template-editor/

[2022-01-24 12:05] Andrew-Starr commented on #38131
Sorry I should have said it's not documented.

It's an issue that should be fixed.

After a bit more testing, using `var(--wp--preset--gradient--pale-ocean)` will work if the background gradient is defined in `styles.color.gradient`:

[code]

If we want to define `styles.color.background` then using `var:preset|gradient|pale-ocean` works:

[code]

[2022-01-24 12:08] carolinan commented on #38064
I can replicate this. WordPress version 5.9-RC3-52619.

And when I select "view html" on the paragraph block where I pasted the plain text, there is only an extra space where the tags would be:
`<p>Add width and height attributes to  elements</p>`

[2022-01-24 12:10] carolinan commented on #38131
Oh I did not know styles.color.gradient was possible.

[2022-01-24 12:19] carolinan commented on #38131
I see it is listed here in the new reference https://developer.wordpress.org/block-editor/reference-guides/theme-json-reference/theme-json-living/#color-2

[2022-01-24 12:21] carolinan commented on #38131
@Andrew-Starr Then I consider this solved. Thank you!
The theme.json how to guide doc still needs to be updated, making a mental note.

[2022-01-24 12:21] #38131 closed, assigned to nobody

[2022-01-24 12:37] jameskoster commented on #36667
Yes, if there was an option to mark patterns with semantic meaning (header, footer, navigation) then we could remove both the Navigation and Tempalte Part blocks.

[2022-01-24 12:40] ndiego commented on #37573
@Mamaduka and @talldan I do want to note that this issue appears to only be in WordPress 5.9. (The vh expanding issue is separate and is in both 5.9 and Gutenberg). As soon as you activate Gutenberg, the bulk of the issues go away. So it appears to be something specific in 5.9. Perhaps @tellthemachines comment above sheds some light on this?

[2022-01-24 12:48] youknowriad commented on #37573
Here's my wild guess:

The iFrame (which is now used in previews similar to the site editor) works by looping through the stylesheets loaded in the current page and trying to detect which ones target the blocks (.wp-block or .editor-styles-wrapper selectors). Depending on whether the styles are concatenated, the result is probably different: with style concatenation we probably end up including mo

[2022-01-24 12:55] Mamaduka commented on #37573
@ndiego, @youknowriad

When the plugin is active, we're overriding style load paths. Unfortunately, the plugin assets aren't concatenated, so we get different results.

It also makes debugging hard 😞

It would be great to fix the source of the issue in future releases. For WP 5.9, here's a proposed bandaid fix - #38175.

[2022-01-24 12:57] ndiego commented on #37573
Thanks for all your work on this @Mamaduka ❤️

[2022-01-24 12:58] kjellr commented on #38166
Is there something that the theme can do to make this more automatic? For example, can Twenty Twenty-Two automatically pull in your classic "Primary" menu for the main nav if present? And fall back to the page list if not? Would that be a good idea?

[2022-01-24 13:05] lukekowalski commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2022-01-24 13:06] courtneyr-dev commented on #36977
Removing the submenu removes parent still.

I also noticed when I add submenu and begin typing, it actually adds to the beginning of parent text.

WP 5.9-RC3-52619
Chrome Version 97.0.4692.71

https://user-images.githubusercontent.com/5519705/150787866-a6604ef6-9bc0-4b31-980a-8964bb0f1f91.mp4

[2022-01-24 13:09] courtneyr-dev commented on #36977
For comparison, I also tested in G12.5.20220122. Passes.

https://user-images.githubusercontent.com/5519705/150788490-8de0a49d-3245-4cfc-8251-19ec7b1efa13.mp4

[2022-01-24 13:14] hellofromtonya commented on #38166
@kjellr Yes, that would be a better experience IMO for users when first upgrading to TT2. It doesn't resolve the issue fixed in this ticket, but it does save users a step in their upgrade process.

[2022-01-24 13:21] Andrew-Starr commented on #38172
Apologies, tested again in a fresh install and it is working now on larger screens.

I can see the issue only on smaller browser widths where there appears to be some strange issue only on those narrower viewports.

Please disregard what I said previously.

[2022-01-24 13:50] kjellr commented on #38166
Yeah, I just don't think it's possible, unless there's markup I'm missing. 😅 cc @talldan for a gut check on that — I'll open up a separate issue if you don't know of anything.

[2022-01-24 13:52] ddryo commented on #38171
I was able to reproduce it as well.

[2022-01-24 13:56] #34729 closed, assigned to Mamaduka, ixkaito, alshakero

[2022-01-24 14:02] hellofromtonya commented on #34729
Hello all 👋  PR #38175 has been merged and will be backported to Core to include in 5.9 RC4 and final release. Thank you everyone for contributing!

[2022-01-24 14:03] hellofromtonya commented on #37573
Hello all 👋  PR #38175 has been merged and will be backported to Core to include in 5.9 RC4 and final release. Thank you everyone for contributing!

[2022-01-24 14:06] pstonier commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2022-01-24 14:21] kirtangajjar commented on #38064
I have identified the issue in code and will post a fix shortly

[2022-01-24 15:20] annezazu commented on #37634
This issue matches https://github.com/WordPress/gutenberg/issues/38166 which has been resolved ahead of a 5.9 RC4.

[2022-01-24 15:20] #37634 closed, assigned to nobody

[2022-01-24 15:31] getdave commented on #36977
Hi @courtneyr-dev. Thanks for coming back to this. Can you confirm that your expectation is:

- you add some items to you Nav block
- you choose one of those items and you convert to a submenu
- you add items to that submenu
- you remove the submenu _items_
- you remove the submenu
- you still expect the item that was originally converted into a submenu to be there

So the point is you want to get

[2022-01-24 15:48] ryanwelcher commented on #22151
Just a followup that all of the examples at https://github.com/WordPress/gutenberg-examples have been updated to reflect the most recent APIs'

[2022-01-24 16:08] #37766 closed, assigned to sarayourfriend

[2022-01-24 16:11] sahil48 opened #38184 "Allow In-Line Image to be Linked to Media File, and add more controls for in-line images."
## What problem does this address?
I insert small image files for a procedure. If the user needs to see a larger version of the inserted screenshot, they can click it to see the larger image and then go back. This works great when inserted a standalone image.

![image](https://user-images.githubusercontent.com/6100774/150819615-03c77991-db49-4d31-98d8-01eb38a912ee.png)

However, in a list element,

[2022-01-24 16:14] #37801 closed, assigned to nobody

[2022-01-24 16:20] pbking opened #38185 "Global Styles Customized Palette doesn't reflect changes"
### Description

UPDATE: This only seems to be happening in WP 5.8.2, not in WP 5.9

When using the Global Styles panel to change the Color Palette the values do not persist.

The values are stored in the CPT and the site is updated but the colors do not reflect the changes made in the editor.

This includes adding NEW palette colors as demonstrated with "Empty Theme" as well as modifying existing

[2022-01-24 16:27] ciampo commented on #35744
Hey @rajnish93 , thank you for your interest! I would ask you to wait before contributing to this issue, as I'm going to update the list of components that need refactoring. Some of the refactors are quite complex and it's probably better if we champion a few of them first to understand any caveat along the way.

We'd still love to get your help further down the line though, if that's ok!

[2022-01-24 17:06] courtneyr-dev commented on #36977
Your summary of expectations is correct. I like option 2.

Solving retaining the parent menu item in any form is good.

[2022-01-24 17:09] #22528 closed

[2022-01-24 17:20] colinduwe commented on #38120
Thank you!

[2022-01-24 17:32] BenWittert commented on #32461
+1 for this issue.

I have a large enterprise client who is experiencing significant issues related to content writers frequently accidentally editing reusable blocks as it is not clearly differentiated from their article content.

Our client considers this to be a huge issue, and they feel that reusable blocks are no longer fit for purpose in their current state and not usable for large enterpris

[2022-01-24 17:41] thomasplevy opened #38186 "`@wordpress/wordcount` planned support for Chinese, Japanese, etc characters?"
## What problem does this address?

I'd like to use the `@wordpress/wordcount` package in my plugin to provide word counting functionality, however based on my initial review of the package it only supports Latin-based character sets. For example, passing the following Japanese character string results to `count()` results in `2` being returned:

[code]

Ideally, too, I would like to be able to pa

[2022-01-24 18:42] kjellr opened #38188 "[Post Comments] Blocks under comments pagination do not clear floats"
Originally reported in https://github.com/WordPress/twentytwentytwo/issues/314.

---

When breaking the comments into pages, the comment navigation is missing CSS styles to clear those elements after float.

**To Reproduce**

Steps to reproduce the behavior:

1. Create a post and make a few comments, let's say 13 (why not?)
2. Activate Break comments into pages under Settings -> Discussion. Set to

[2022-01-24 19:14] megphillips91 commented on #27617
### For journalism as a use case

There are quite a few content creators particularly those in journalistic roles who may have an established, efficient workflow that involves composing text only articles and placing just one image into the featured image. If that is my workflow, I am relying on the theme (in this case the page template) to do something with the featured image that does not requir

[2022-01-24 19:34] megphillips91 commented on #37489
### Adding a use case
In the case of a WooCommerce store, Imagine I am a SAAS provider who builds pre-configured stores for merchants. The most convenient way to manage the parts and template parts that my internal designers can manage vs. the merchants at my clients is to simply provide only the 'store manager' capabilities...but I don't want to wall off ALL site editor functions from the merchan

[2022-01-24 19:37] skorasaurus commented on #38184
Thanks for reporting.  We should keep this issue open to track that you cannot change whether the inline image should be linked to a 3rd party or a 3rd party, like how the image block is.

Regarding the additional controls, there are several issues that this is included: https://github.com/WordPress/gutenberg/issues/19426 and https://github.com/WordPress/gutenberg/issues/18035

[2022-01-24 20:22] stacimc commented on #38156
Regarding the image being too wide on Twenty Nineteen in full-width -- I can reproduce that as well, but I think that's a theme issue and not a problem with the Gallery block. It looks like any block that supports full-width will exceed the size of the screen in the editor.

For example, I tried inserting a `Columns` block and setting alignment to full. It has the same issue; it works on the front

[2022-01-24 20:26] skorasaurus commented on #38186
Hi,

Thanks for reporting;
This has been discussed and/or requested in https://github.com/WordPress/gutenberg/issues/13796 . Feel free to [add your reaction](https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/about-conversations-on-github#reacting-to-ideas-in-comments) and follow its progress in the issue.

[2022-01-24 20:26] #38186 closed, assigned to nobody

[2022-01-24 20:29] skorasaurus commented on #38171
related https://github.com/WordPress/gutenberg/issues/36365

[2022-01-24 20:33] kjellr commented on #38166
A quick followup on this: It looks like the `"__unstableLocation"` attribute was created for this purpose, so @jffng and I tried it out in https://github.com/WordPress/twentytwentytwo/pull/348. It _generally_ worked, but it didn't match up with what the Site Editor showed. 😕

[2022-01-24 21:21] skorasaurus commented on #37756
(was about to close as a dupe and it took me a second to realize the difference ;))

[2022-01-24 21:22] thomasplevy commented on #38186
@skorasaurus my bad... I searched "wordcount" and that issue didn't come up (which I assumed it would). It didn't occur to me to check the package tag. My apologies for wasting your time on this.

[2022-01-24 21:26] skorasaurus commented on #23560
With the changes to the template editor, the first issue mention has been resolved;
; the 2nd part of this issue: changing the in the lower left hand corner, is still valid in gutenberg 12.4

[2022-01-24 21:31] skorasaurus commented on #31531
still an issue as of Gutenberg 12.4.

[2022-01-24 22:10] strarsis opened #38190 "Add caption/label to `core/site-logo` block"
## What problem does this address?
Sometimes one wants to add a caption/label/subheading (but not the site one) to a `core/site-logo` block.

## What is your proposed solution?
Add an optional caption/lable support to the `core/site-logo` block as it is already the case with the `core/image` block.

[2022-01-24 22:45] skorasaurus commented on #38186
no problem, the other issue didn't have the package tag on it until I just added it, I only remembered seeing that other issue a while back, so you may not have found it  anyways :)

[2022-01-24 23:40] BinaryMoon commented on #30142
IMO Custom CSS is essential for WP. There will always be situations that can't be addressed by global styles (plugins, theme styles held in stylesheets etc) and so I look forward to seeing a solution for this. Personally I would be happy for the customizer to be kept, and only show the Additional CSS box. It could even be rebranded as the CSS Customizer and have no panels.

[2022-01-24 23:54] andrewserong commented on #30121
Update: while I've made a start on exploring this issue in #38039, I'm switching over to focusing on helping move forward the styles engine (https://github.com/WordPress/gutenberg/issues/38167) in the shorter-term. My aim is to get back to this fixed/sticky position support once the styles engine has progressed a little further. (If anyone else wants to pick up this issue and explore it, don't let

[2022-01-25 00:10] aurooba opened #38192 "[Feature Request] Add the ability to duplicate a template in the Site Editor"
## What problem does this address?
There are scenarios where two templates might be pretty similar with just some changes. Being able to duplicate a template would save a lot of time and work.

## What is your proposed solution?
It would be super helpful if the kebab menu offered a `duplicate` option in addition to the reset option. I think duplicating a template is mostly only useful when it has

[2022-01-25 00:28] ellenbauer commented on #37573
Thanks so much for all the last minute work that has been done to fix this issue. Unfortunately I just tested RC4 with the Gutenberg plugin disabled and the issue persists, see screenshot:

<img width="596" alt="Screen Shot 2022-01-25 at 1 25 35 PM" src="https://user-images.githubusercontent.com/17613630/150887751-f78856db-6cd4-494f-b18c-ac2931486b46.png">

Now the scrollbars are gone, but the hei

[2022-01-25 01:38] talldan commented on #38172
Thanks for re-testing!

[2022-01-25 01:39] jeremyfelt opened #38194 "Use more specific naming in edit site export files"
## What problem does this address?

* The filename used when exporting templates from the site editor is `edit-site-export.zip`.
* The directory name used when extracting an `edit-site-export.zip` file is `theme`.

My current (still figuring this out) workflow is to start with a blank canvas in the site editor, add blocks, and then export the templates so that I can use the markup in the theme for

[2022-01-25 01:43] s56bouya commented on #38171
It was also reproduced in the following environment.

- WP 5.9-RC4
- Gutenberg 12.4.1

[2022-01-25 01:55] talldan commented on #38166
@kjellr There's no current way to do this, unfortunately. The plan at the moment is to switch the Navigation block to using slugs for menus. I would hope it will then be possible for a theme to define the block like this:
[code]

Then, if a 'header-navigation' menu already exists it'll be used instead of the predefined theme inner blocks. If not, the block will fallback to the inner blocks in the

[2022-01-25 02:11] talldan commented on #38165
Thanks for reporting.

There's an existing issue for this in https://github.com/WordPress/gutenberg/issues/36977, so I'll close this as a duplicate.

[2022-01-25 02:11] #38165 closed, assigned to nobody

[2022-01-25 02:31] talldan commented on #36977
I would go for the first option (Expose a button to revert a submenu to a standard menu item.). I'm not sure about option 2,  users might remove all items (e.g. via multiselect) in order to add some different submenu items. The submenu switching back to a link would make that process more complicated.

@Mamaduka Does that mean 6.0? Navigation focus mode would be a pretty heavy feature to ship in a

[2022-01-25 02:34] #38118 closed, assigned to nobody

[2022-01-25 02:45] peterwilsoncc opened #38196 "Editor: Global styles printed without default block styles."
### Description

When the block editor was introduced, the styles were split in to two sets:

* default styles, enqueued by default (with the handle `wp-block-library`)
* enhanced styles (with the handle `wp-block-library-theme` and behind the theme supports flag `wp-block-styles`)

This left it possible to remove all block editor default styles from a site with the code:

[code]

The introduction

[2022-01-25 02:58] strarsis commented on #38118
@talldan: Yes, I am also using the latest WordPress and Gutenberg plugin versions.

The theme is a classic theme in a sense, yes.

[2022-01-25 03:00] ddryo commented on #36365
I agree that there needs to be a way to turn off the automatic generation of anchors.

[2022-01-25 03:33] strarsis commented on #17017
Related issue:
Currently I can't click the "Exit Code Editor" button, I first have to scroll up. It is somehow obscured by other editor UI.

[2022-01-25 03:46] ddryo opened #38197 "The title of the Widget Group block becomes h2.widget-title."
### Description

Thank you for creating the widget group block.

However, I found one problem.

The title of the Widget Group block becomes `h2.widget-title`.

The class set in `register_sidebar()` is not used.

### Step-by-step reproduction instructions

1. For example, we can set the Widget Title to `div.c-widget__title` as follows

[code]

2. Use Widget Group block.

### Screenshots, screen rec

[2022-01-25 04:29] talldan commented on #37489
It's also worth considering the reusable block, which is a much older block and surprisingly seems to have no handling of permissions. A contributor can edit the content, but gets an unhelpful 'Saving failed' error when trying to save.

It'd be good to make sure it's not forgotten 😄

[2022-01-25 04:42] aurooba commented on #10967
^ Working on it!

[2022-01-25 05:40] ddryo commented on #38197
Additionally, there is a similar problem with https://github.com/WordPress/gutenberg/issues/33507

[2022-01-25 05:46] ddryo commented on #38197
So, the Title of the Widget area is a situation where various DOMs can be mixed as shown below.

- `h2.widget-title` (Title of the Widget Group block)
- `h2.widgettitle` (Title of the Legacy Widget manually placed in the Group block)
- `div.c-widget__title` (A class specified by the theme. Legacy widgets that have been installed in the past.)
- Just an `h2` tag. (A widget tile that is initially pl

[2022-01-25 05:58] Mamaduka commented on #36977
@talldan, it depends on the changing size; we don't want to introduce more bugs in the minor 😄 . So I think that means shipping small features and bug fixes only.

That would be great!

[2022-01-25 07:00] carolinan opened #38199 "Complete the remaining steps needed for creating themes without code"
## What problem does this address?
Changes made to block themes can be exported from the Site Editor. But the export it is not a complete working theme.
If the export was complete, users could create themes without knowing any code.

## What is your proposed solution?

The following is missing for it to be a complete theme:

**Short term:**

- Add an empty index.php file to the export..  Also see

[2022-01-25 07:56] paaljoachim commented on #10967
Thank you @aurooba
I went ahead and assigned the issue to you.

[2022-01-25 08:06] paaljoachim commented on #10967
Should the file name, button, and the file become inner blocks?
I assume so as each would have their own properties/options. As the user would then also be able to move each around, and align each as they would like.

I will also bring in this somewhat associated issue (which also could use a closer look):
PDF thumbnail preview
https://github.com/WordPress/gutenberg/issues/15097

[2022-01-25 08:09] jasmussen commented on #38045
Thanks for the ticket! We actually had the term "Never" used in earlier mockups and PRs, but changed it to "Off" based on feedback and confusion. I lean towards "Off", because the entire overlay menu is literally disabled when that option is chosen, and I'd like for the _contents_ of the overlay menu to be customized separately some day in the future, meaning it could be an entire separate screen.

[2022-01-25 08:12] juanmaguitar commented on #22151
### In favor of using only `JSX`/`ESNext` version of code examples vs using both `JSX` & `Plain`

Hi! :wave:  I see in the [Contributor Guide](https://developer.wordpress.org/block-editor/contributors/) of the [Block Editor HandBook](https://developer.wordpress.org/block-editor/) there's a section about [Code Examples](https://developer.wordpress.org/block-editor/contributors/documentation/#code-e

[2022-01-25 08:52] paaljoachim commented on #15097
I am hoping to see inner blocks for the File block taken care of by @aurooba in this issue:
**File Block: file name needs to use PlainText component**
https://github.com/WordPress/gutenberg/issues/10967

Having inner blocks will make it easier to extend the options. Hopefully also tackling replacing the file with a placeholder image.

[2022-01-25 09:21] jamiemarsland opened #38201 "Ability to have different links in the "mobile" menu vs the standard menu."
## What problem does this address?

In some circumstances it is useful to have different items in the navigation on "mobile" vs "desktop" screen sizes. Currently this is not possible using the Navigation block

## What is your proposed solution?

A means to select different menus to be displayed at different break points.

[2022-01-25 09:27] oldrup commented on #24684
Thank you, @aristath.

I attempted this approach both in my child theme folder and on the parent theme, with theme.json version 1 and 2, but was unable to succeed in removing the inline styling.  I have no prior experience with configuring themes using .json, and it is clear to me that I need that first. Thank you for giving me some direction.

[2022-01-25 09:47] getdave commented on #36977
I think your instinct is correct. Having things happen automatically seems like a great idea until it isn't. Then it just starts to feel confusing.

I'll draft a PR to make an explicit revert button and see what folks think.

[2022-01-25 09:51] kevin940726 commented on #37041
Personally, I'd very much like this to happen. Currently, our packages are basically unusable in ESM mode without bundlers. We could even consider publishing our packages as [ESM only](https://gist.github.com/sindresorhus/a39789f98801d908bbc7ff3ecc99d99c) for the next major versions.

[2022-01-25 10:03] Mamaduka commented on #9630
I've started working on this enhancement.

I think using notices to display error messages is our current best option. Plugins can use different slots or decide not to render, so they have no single point of rendering.

We have two options when it comes to dispatching the notices:

1. Dispatch them from the error boundary, but this would require adding a `data` package as a dependency.
2. Add the

[2022-01-25 10:14] gziolo commented on #22151
We dropped support for IE 11 last year, so we no longer have to limit developers to use ES5 when they prefer to avoid using build tooling. That's why ESNext vs ES5 is no longer a good distinction. It's mostly whether someone wants to use JSX when using React components. Another bonus is when folks want to use some of the most recent language features that aren't still implemented in all browsers s

[2022-01-25 10:30] ciampo commented on #35744
Alright, I've edited this issue's description and added all components/folders in the package.

There's still a couple of things of which I’m not sure yet:

1. so far, even with fully-typed components, we left a few files still in JS — in particular unit tests, storybook examples, and react native files. Is there a particular reason for each of those?
2. Where to draw the line in the refactor? On

[2022-01-25 10:33] carolinan opened #38204 "Icon in page list submenu is sometimes miss placed"
### Description

This is an edge case that I noticed in Twenty Twenty-Two.

When a page list is used in a navigation block, and the page list has submenus with submenus, the icon arrow that indicates the submenu is sometimes miss placed, slightly too far to the right. This places part of the the icon outside the background color of the list element.
This only seem to happen when you hover over the

[2022-01-25 10:37] carolinan commented on #38204
Both the button and the span inside the button uses the class `wp-block-navigation__submenu-icon` which adds a left margin.
I suspect the problem here is that the margin is duplicated.

`<button aria-label="Level 1 submenu" class="wp-block-navigation__submenu-icon wp-block-navigation-submenu__toggle" aria-expanded="false"><span class="wp-block-page-list__submenu-icon wp-block-navigation__submenu-i

[2022-01-25 11:58] mwnciau opened #38207 "RichText onSplit is passed an empty string immediately after an onMerge event when using the delete key"
### Description

Using the RichText block editor control, when you are at the end of one block and press the delete key, thus triggering an onMerge event, and then immediately press enter, triggering the onSplit, the new block that is generated is always empty.

### Step-by-step reproduction instructions

1. Create a Buttons block in the gutenberg editor
2. Create two buttons, the first with text

[2022-01-25 12:05] ddryo commented on #37845
I can still reproduce it with 5.9-RC4.

[2022-01-25 12:06] ddryo commented on #38062
I can still reproduce it with 5.9-RC4.

[2022-01-25 12:09] sarayourfriend commented on #35744
From a "value" perspective I don't think there's a compelling reason to spend contributor time on updating unit tests and storybook examples to use TypeScript.

React native is a separate beast altogether. I'm not sure what it would take to convert those to TypeScript or if it's even possible with the current tooling.

From a perspective of what will benefit the consumers of the components package

[2022-01-25 12:41] luminuu commented on #30777
I just came across something similar on Twitter, thinking of it it would be nice to see or have an option to enable seeing that spacer blocks are in use. I agree with @carolinan however, that depending on the chosen background color, a fixed color used for this could be hardly visible or invisible.

An idea could be to check out if a visible color could be calculated with some CSS magic or use mix

[2022-01-25 13:17] mtias commented on #38130
It can probably use an update since the designs are fairly old.

[2022-01-25 13:21] Mamaduka commented on #38159
Hello, @LKENL

It looks like email replies don't send attachments to GitHub.

You probably have to use the comment form on the website.

[2022-01-25 13:22] mtias commented on #37943
@fabiankaegy yes, correct, we are missing the ability to enter the site editor in the "focused template part" mode directly. We have the building pieces mostly in place, we just need to enable it for classic themes. It should be a good area of work for 6.0. A classic theme should not need to use full block templates to benefit from block template parts and a UI to manage them. The things to consid

[2022-01-25 13:36] jameskoster commented on #20476
This could use a bit of a design update to account for focus mode, and potentially things like reusable blocks and navigation menus.

[2022-01-25 13:48] ciampo commented on #35744
I see your point, although I liked the idea that a component would have all of its files in TypeScript, rather than a mix of TypeScript and JavaScript. But definitely not a priority when considering which order we should tackle components.

I'll be seeking more advice from mobile folks on this matter specifically and come back with updates

Thank you for the link! I would argue that a refactor to

[2022-01-25 14:25] #18392 closed

[2022-01-25 14:30] sdwire opened #38211 "Make Featured Image size controls available in Full-Site Editor (Template Parts)"
## What problem does this address?
[This PR](https://github.com/WordPress/gutenberg/pull/38044) added size controls to the Post Featured Image block. Those size controls are available within the block editor of a single post or page, but they are not available when editing a Post Featured Image block from the Full-Site Editor when adding the featured image to a template part.

## What is your prop

[2022-01-25 14:34] aurooba commented on #30142
Another thought: when this becomes part of Global Styles, perhaps CSS classes created here can be accurately reflected in the Editor when people use the **Additional classes** area on any block. That would really help as well.

[2022-01-25 15:10] jeffpaul commented on #36365
Here's a related Support Forum post on the Heading ID duplication issue as well, confirmed still happening on WP 5.9 RC4 and Gutenberg 12.4.1: https://wordpress.org/support/topic/automated-ids-on-headings-causes-duplicate-id-breaks-validation/#post-15288905

[2022-01-25 15:11] sebastiantheobald commented on #15094
Great! Thanks for that :)!!

[2022-01-25 15:20] aurooba commented on #10967
@paaljoachim I'm going to try two things today: innerBlocks is a good idea, you're right, why can't we make the block more flexible? Also I'm not sure the PlainText component is correct, I think RichText is still the right way to go with the link functionality exposed so it can be changed/edited. I have to test a bit more, because obviously we don't want the initial issue @ocean90 reported to be a

[2022-01-25 15:29] sarayourfriend commented on #35744
Yes! I think this is the clearest path forward for this issue, otherwise the scope is far too large!

[2022-01-25 15:32] paaljoachim commented on #10967
That is great! Thank you @aurooba

[2022-01-25 15:51] MadtownLems opened #38212 "Custom HTML Block Preview doesn't respect unfiltered_html capability"
### Description

When a user lacks the unfiltered_html capability, they cannot use tags such as 'iframe' in their posts.  A very common situation where users lack unfiltered_html is anyone but Network Administrators in a MultiSite.

However, then using a Custom HTML block, these users can still have their unfiltered_html rendered in the Preview of the block. This is, at a minimum, a poor User Expe

[2022-01-25 16:17] webmandesign opened #38214 "WP 5.9-RC3: Block patterns library issues"
### Description

I’ve noticed multiple issues with block patterns library in editor. This is related to WordPress 5.9-RC3 and does not happen on WordPress 5.8.3.

1. Patterns in the library **does not pick up theme styles**. I suspect this may be due to the theme adding editor styles via [`enqueue_block_editor_assets` action hook](https://developer.wordpress.org/reference/hooks/enqueue_block_edito

[2022-01-25 16:32] hellofromtonya commented on #38214
Hello @webmandesign 👋

To link everything together, these issues were reported [in the support forum](https://wordpress.org/support/topic/wp-5-9-rc3-block-patterns-library-issues/) and [Trac](https://core.trac.wordpress.org/ticket/54901). And thank you for opening the issue here.

Shortly before you opened this issue, @Mamaduka replied to you in the support forum topic. Capturing the reply:

Here'

[2022-01-25 17:10] webmandesign commented on #38214
Thank you @hellofromtonya for pointing me to the correct place where I can discus this issue.

That’s unfortunate. I know I had some issues with `add_editor_style` for my particular use in the past, but I will have to try it again then.

From top of my head, how could I enqueue customized CSS variables to editor with `add_editor_style`? My themes use customizer to customize colors and other option

[2022-01-25 17:31] priethor opened #38216 "Allow enabling/disabling autogenerated anchors in heading blocks"
## What problem does this address?
Gutenberg 11.8 introduced a mechanism to autogenerate HTML anchors in Heading blocks. While a useful enhancement, there are cases where it might desirable to disable the automatic generation of headings.

The desire to control this setting has been expressed a few times:
- [Original PR comment](https://github.com/WordPress/gutenberg/pull/30825#issuecomment-959051

[2022-01-25 17:37] fluiddot opened #38217 "Gallery block: Crash when adding images and selecting a gallery item"
## Description

**Sentry ticket:** https://sentry.io/share/issue/e9deb70195184b10bf08a31afb2bce7b/

Adding images to the Gallery block and selecting an item of the gallery, produces the following error and crashes the app:
[code]

**NOTE:** I spotted this issue while testing the beta version of WordPress-iOS 19.1 (19.1.0.0).

## Step-by-step reproduction instructions

1. Add a Gallery block.
2. Ad

[2022-01-25 18:00] Mamaduka commented on #38216
@priethor, let's add the "Needs Design" label as well.

I think this option can be placed in the "Preferences" panel, but I'm not exactly sure where.

[2022-01-25 18:01] jeffpaul opened #38218 "List View hides / obscures items attempting to display on the main block editor canvas"
### Description

[Originally reported in the Alpha/Beta/RC forum on WP 5.9RC3](https://wordpress.org/support/topic/5-9rc3-list-view-overlays-link-control-ui-and-rich-url-preview/), but has been replicated/confirmed still an issue on WP 5.9RC4 and Gutenberg 12.4.1.  The List View obscures things like the Link Control UI or Rich Preview as the leftmost edge of those items start "underneath" the List

[2022-01-25 18:02] markhowellsmead commented on #35151
The :not() selector is being used in many places in core, which has a comparatively high specificity and is therefore increasingly difficult to override. The use of this technique needs to be reviewed by whomever (or by the team) is “in charge” of Core/Editor CSS.

See also #36135, #35840, #34047, #29705, #17511.

[2022-01-25 18:10] Clorith opened #38219 "Unable to reset only font size from Typography block settings"
### Description

When choosing a font size in the new Typography selector, there is no way to return to the default value, without resetting all typography settings.

For comparison, the letter case setting lets you return to the default value by tapping the selected value once more to un-select it.

Initially reported at https://wordpress.org/support/topic/wordpress-5-9-beta-2-cant-reset-font-siz

[2022-01-25 18:16] skorasaurus commented on #38216
I'm a little confused why we should make another issue when there is already https://github.com/WordPress/gutenberg/issues/38171 open with this; please reopen and explain if this very different than the existing issue.

[2022-01-25 18:16] #38216 closed, assigned to nobody

[2022-01-25 18:46] priethor commented on #38216
I opened this as a feature enhancement proposing different solutions and consolidating previous discussions around the subject, as #38171 was reported as a bug. I'm happy to continue work on that issue but I would recommend clarifying the issue title and description in that case.

[2022-01-25 18:54] priethor opened #38220 "Allow prefixing autogenerated anchors in Heading blocks"
## What problem does this address?

The autogenerated HTML anchors introduced in Gutenberg 11.8 can create conflicts in some instances, like when duplicating Heading blocks or when users manually set an id, as it is not checked whether the same HTML ID exists on the page.

## What is your proposed solution?

[Adding a prefix](https://github.com/WordPress/gutenberg/pull/30825#issuecomment-973274089

[2022-01-25 19:24] RavanH commented on #15094
@scofennell

The transient is used to know if the ghi15094_my_updater was run before or not. This would happen if ghi15094_transition_action is called twice, frist by the REST request (with the REST_REQUEST constant) and then shortly after that by a possible legacy request (to accommodate plugins or theme). I just assume the time between these passes should be no longer than 10 seconds. I'm also a

[2022-01-25 19:43] amustaque97 opened #38221 "DateTimePicker: allow formatting the date via a separate prop"
## What problem does this address?

As discussed in [comment](https://github.com/WordPress/gutenberg/pull/37465/#issuecomment-1021217979) Introduce new prop to configure date format at the consumer end based on their requirements.

[2022-01-25 19:57] ricjcs commented on #33682
I also request this feature.

[2022-01-25 20:27] annezazu opened #38222 "Color Component: No color contrast warning for link color against background color"
### Description

Currently, in 5.9 there is not a color warning for the link color when compared against the background color. There is one in place for text color against background color and the same needs to exists for link color.

### Step-by-step reproduction instructions

1. Add a paragraph block/write some text.
2. Make the background black in block settings.
3. Make link color black.
4. Se

[2022-01-25 20:28] MarieComet opened #38223 "Block based theme : Image Block : Circle Style : 404 on mask url"
### Description

With a block based theme (using theme.json), the Circle Style on Image block give a 404 error on mask URL, and image is not visible at all.

The CSS rule :
[code]

Visible here (left column) https://mariecomet.fr/a-propos/

### Step-by-step reproduction instructions

1. Use a block based theme, for example TT1 Blocks
2. Inside editor, inset an Image Block and set style to "Circle"

[2022-01-25 20:37] ekazda commented on #13368
Upvote. This needs to be a feature.

[2022-01-25 20:42] MarieComet commented on #38223
Maybe I should move this issue to core.trac.wordpress.org ?
Let me know.

[2022-01-25 20:42] annezazu commented on #37573
Re-opening this having tested with 5.9. Right now, I'm seeing some odd behavior. At first, the pattern doesn't show the right height but, after adding it to a post or page, it then appears in the Inserter correctly. Here's a quick video:

https://user-images.githubusercontent.com/26996883/151056304-822258a4-8588-4d9e-a9d4-f033ce330549.mov

I think this is good to dig into for 5.9.1 cc @Mamaduka @n

[2022-01-25 20:43] SteveRyan-ASU commented on #34445
+1 for this idea. Surprised it's not being actively addressed. I don't think that theme/block developers will necessarily want to offer separate palettes within each block. But separating the text color and the background color palettes seems to be a no-brainer.

- If the same palette is defined for both the text and a background color, it will ALWAYS be possible to set the text color and the back

[2022-01-25 21:10] WhiteHeatherClub commented on #37573
It appears correctly on the page, but stays at the wrong height all the time for me in the inserter

[2022-01-25 22:03] michalczaplinski commented on #14446
I have created a [discussion](https://github.com/WordPress/gutenberg/discussions/38224) about blocks that can be rendered both on the client and server, which I have called "universal blocks". It summarizes most of the ideas mentioned in this thread.

There, I also show a [proof of concept](https://github.com/michalczaplinski/hydration-mitosis-demo) of a block that is authored using [Mitosis](http

[2022-01-25 22:06] annezazu commented on #38216
@priethor renamed the other issue to make it clearer - can you comment on that issue to consolidate all of this great information? Love your solutions.

[2022-01-25 22:52] brianhogg opened #38226 "Emotion styles for react components in blocks are broken in front-end editor"
### Description

Components like `react-select` (styled with the emotion library) do not have their styles applied when the block is added through the front-end editor. However, it looks fine in the back-end editor.

### Step-by-step reproduction instructions

1. Install a block that uses a react component with styling (ie. [the events calendar shortcode](https://wordpress.org/plugins/the-events-c

[2022-01-25 22:56] piermario opened #38227 "Duotone images disappear in non-block themes on Firefox, filter not applied on Chrome and Safari"
### Description

While testing patterns and filters on a fresh 5.9 installation, I added [this gallery pattern](https://wordpress.org/patterns/pattern/two-images-side-by-side/) and applied a Duotone filter on each picture. When I switched from Twenty Twenty-Two to Twenty Twenty and Twenty Twenty-one (that's a lot of Twenties, sorry!) to check if the image blocks were rendered correctly, I noticed

[2022-01-25 23:08] ethitter opened #38228 "Editor color palette with non-sequential keys triggers TypeError"
### Description

If a theme registers an editor color palette and the array of colors does not have sequential keys, Gutenberg errors with `TypeError: (u || []) is not iterable`. This is new in WP 5.9.

### Step-by-step reproduction instructions

1. Register an editor color palette with an array that does not have sequential numeric keys
2. Open the post editor for any Gutenberg-enabled post type

[2022-01-25 23:21] arinoch opened #38229 "forced paragraph tags when the HTML block is used as a widget."
### Description

Tags are added at the beginning and end of HTML code when those tags are not required. I expect instead that the custom HTML I entered will remain unaltered.

### Step-by-step reproduction instructions

1. Enter the widget area, either through Appearance > widgets or through the customizer.

2. Add a custom HTML block with any HTML code, preferably code that doesn't require \<p> a

[2022-01-26 00:03] Elgameel opened #38230 "Block Editor: CTRL + S is not working anymore if the keyboard language is not English!"
### Description

After updating to version 5.9 the `CTRL + S` shortcut is no longer working if the keyboard language is not English.

If the keyboard language is set to English, it saves changes as usual, but If I switch keyboard language to another language (i.e. Arabic) the shortcut is not captured by WordPress, and the browser's _save page as_ window appears instead.

### Step-by-step reproduct

[2022-01-26 02:53] annezazu commented on #38197
@kevin940726 any insight here?

[2022-01-26 02:55] annezazu commented on #38201
@jamiemarsland it sounds like you want a way to conditionally show nav items based on screen size. Is that right? Just want to ensure the description is filled out.

[2022-01-26 03:05] annezazu commented on #38223
I can't replicate this with 5.9 using TT2 or TT1 @MarieComet with the Post or Site editor! Can you share more info for replication?

[2022-01-26 03:06] annezazu commented on #38227
This is solved by a PR that will make it into 5.9.1. More information here: https://github.com/WordPress/gutenberg/issues/37598#issuecomment-1018646241

[2022-01-26 03:06] #38227 closed, assigned to nobody

[2022-01-26 04:17] agent-617 commented on #36834
Why it became or was "decided" to be a forced inline is (as skorasaurus says) "unfortunate". The decision to control and optimize assets should be a decision made by the developer IMO. There are plenty of developers who prefer to use alternate solutions to Gutenberg (and I'm not talking about gross page builders) #Lazyblocks

Also, minifying the injection doesn't make the pill any easier to swallo

[2022-01-26 04:37] cmstew opened #38231 "FSE Block Height for SelectControl fills whole View Height"
### Description

Something fishy is going on with the Full Site Editor and the HTML Forms Plugin. The block has a normal height in the regular Post Block Editor, but it has a massive height in the Full Site Editor.

It seems to be connected to the Browsers VH. I think it's quite possible that this issue affects other Plugins that use similar blocks.

I've also reported this on the HTML Forms Suppo

[2022-01-26 07:04] Mamaduka commented on #38223
I don't think we have a "Circle" style for the core image block. There's Rounded, but it doesn't use an image mask as seen in example markup.

[2022-01-26 07:23] Mamaduka commented on #38228
The `json_encode` in PHP will convert arrays with non-sequential numeric keys into objects instead of an array of objects - https://3v4l.org/95vBE.

I think we can add two safeguards:
* Use `array_values` to reset numeric keys in PHP.
* Check that the truthy value is an array on the client.

[2022-01-26 08:20] Mamaduka commented on #38160
Here's the error from the REST API response:

[code]

I also noticed that I could create Templates using multibyte string as a name, but then I'm getting the following error if I try to delete it.

[code]

[2022-01-26 08:36] ktmn commented on #33604
@talldan Still broken for me with WP 5.9:

![image](https://user-images.githubusercontent.com/6892634/151127952-f323d87e-9589-4fc2-b6cf-a87c3442f8c8.png)

[2022-01-26 08:38] jasmussen commented on #38204
This PR should fix it, but I could use advice on how to land it: https://github.com/WordPress/gutenberg/pull/37003

[2022-01-26 08:41] jasmussen commented on #38219
Is this flow working for you?
![reset font](https://user-images.githubusercontent.com/1204802/151130357-6aa83dc8-a199-4f9b-a403-e39249ba049a.gif)

There seems to be a bug with the panel, though, as the "plus" icon should be an ellipsis when there's a property there already, but I could be missing something. CC: @ramonjd @aaronrobertshaw

[2022-01-26 09:07] #37966 closed, assigned to anton-vlasenko

[2022-01-26 09:22] giannis-koulouris-bb commented on #37811
Also is it possible to not generate that CSS if I have opted-out from blockGap via theme.json? `.wp-container-61f11256b17eb > * + * {
    margin-top: var( --wp--style--block-gap );
    margin-bottom: 0;
}`

[2022-01-26 09:29] mtias commented on #33094
**Update**: added tracking issues for the comment related blocks.

[2022-01-26 09:31] ciampo commented on #38221
When discussing in #37465 around which values should this prop assume  one of the proposed solutions was to use [the PHP/WordPress syntax](https://wordpress.org/support/article/formatting-date-and-time/).

Here's my thoughts:

- While I see the advantages of using the same syntax, I think it would be best to use a formatting syntax that is more standard within the JS community and that aligns more

[2022-01-26 09:49] getdave commented on #35521
## Update 26th Jan 2022

* We're absorbing and collating feedback from WordPress 5.9 release.
* Work underway to refine the placeholder state in https://github.com/WordPress/gutenberg/pull/36775 and https://github.com/WordPress/gutenberg/pull/37099.
* We've started refactoring to [make the block more internally consistent](https://github.com/WordPress/gutenberg/issues/37190).
* Exploring an idea t

[2022-01-26 09:55] priethor commented on #38171
Some implementation approaches that need to be considered to achieve this:
- Adding a flag to opt-out of the automatic anchor generation.
- Rolling back the default automatic generation, and making it opt-in.
  - If the automatic generation is disabled by default, enable it if a ToC block exists in the current page/post.

[2022-01-26 09:55] Andrew-Starr commented on #38172
So testing again on a fresh install with core 5.9 and no Gutenberg or other plugins, and all local storage emptied.

Without `?styles=open` the site editor loads with a very brief flicker of the welcome guide which then disappears.
Local storage is then set as:
`{"core/interface":{"enableItems":{"singleEnableItems":{"complementaryArea":{"core/edit-site":"edit-site/global-styles"}},"multipleEnableI

[2022-01-26 10:00] grappler commented on #37743
The translations exist for the mentioned strings in German.
![image](https://user-images.githubusercontent.com/1785641/151142474-a949ea99-b345-419a-a4c7-37a3517130aa.png)

![image](https://user-images.githubusercontent.com/1785641/151142634-8a84ce8d-bcfb-4ae9-944d-e49fb591edf8.png)

[2022-01-26 10:06] mtias commented on #33447
**Update**: included #33687 in the list.

[2022-01-26 10:10] Mamaduka commented on #37743
Thanks for the confirmation, @grappler.

I think we can close this issue. It looks like this was a temporary issue with the translation file generator.

[2022-01-26 10:10] #37743 closed, assigned to nobody

[2022-01-26 10:12] mtias commented on #33094
**Update**: added "gradual adoption" section and "blocks" section.

[2022-01-26 10:13] aaronrobertshaw commented on #38219
Thanks for the ping @jasmussen and for submitting the issue @Clorith 👍

I think there might be some confusion over when the panel's icon should be a plus or a vertical ellipsis.

The icon was changed to include the plus icon in https://github.com/WordPress/gutenberg/pull/34107 with the aim to encourage users to explore that menu for additional options when all **optional** controls are hidden.

Th

[2022-01-26 10:25] jameskoster commented on #28737
Here's a quick riff on the ideas above that simplifies things a little, and makes use of more recent design concepts like surfacing patterns in the quick inserter, and the pattern explorer:

https://user-images.githubusercontent.com/846565/151147683-36db6231-183e-4043-a0d5-b7f3a416be74.mp4

Starting with an empty template part, the quick inserter can default to displaying patterns. The "Browse all

[2022-01-26 10:57] github-actions[bot] opened #38236 "[Flaky Test] is not created when we click away from the link input"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
is not created when we click away from the link input

## Test path
`specs/editor/various/links.test.js`

## Errors

<time datetime="2022-01-26T10:57:13.314Z"><code>[2022-01-26T10:57:13.314Z]</code></time> Test passed after 1 failed attempt on <a href="https://github.com/Wor

[2022-01-26 11:09] jameskoster commented on #28739
Once https://github.com/WordPress/gutenberg/pull/37258 lands, empty template states will only exist if a user manually deletes all the blocks on the canvas. So I think this might be the part to concentrate on initially:

I shared a concept in https://github.com/WordPress/gutenberg/issues/28737#issuecomment-1022063925 that we can reuse for this purpose. Here's a demo:

https://user-images.githubuse

[2022-01-26 11:24] Clorith commented on #38219
That's not a very discoverable route if I have to hit the plus (to me indicating "add a new field"), then hitting the minus next to the attribute i want to clear.

For comparison, if you add the _Letter Case_ attribute, you can click the same value twice to un-select it, which is a much more discoverable, and even an established pattern, in selection-scenarios.

I'm still thinking this is its own

[2022-01-26 11:29] getdave commented on #36667
This touches on the concept of "safe exploration" which I feel is a key use case driving the argument for some kind of standalone means to edit the "items" of a Navigation Menu (i.e. `wp_navigation`) in isolation from the Navigation block.

For example, I might have a variation of my primary navigation which I only wish to expose at a certain point in the future. With the current Navigation block

[2022-01-26 11:56] jasmussen commented on #28739
Nice. #36697 and the explorations there feel very complementary to this one.

[2022-01-26 12:11] piermario commented on #38227
Thanks @annezazu! :)

[2022-01-26 12:16] aaronrobertshaw commented on #38219
I agree. The discoverability of this could be improved and the use of the plus icon refined. Perhaps it would be better for it to only be used in place of the vertical ellipsis when the panel would be completely empty. cc @ramonjd for thoughts

My understanding of why the reset functionality was moved to the items within the panel's menu, is that as we got more and more controls available in the s

[2022-01-26 12:22] SantosGuillamot commented on #34994
This has been the progress in some of the issues/PRs mentioned in the previous comment:
- [Add sorting by newer / older first options](https://github.com/WordPress/gutenberg/pull/37297): @c4rl0sbr4v0 worked on this and it has already been merged.
- [Optimize the way pagination is handled for comments with replies](https://github.com/WordPress/gutenberg/issues/37153): @DAreRodz has started working

[2022-01-26 12:57] webmandesign commented on #38214
OK, I've found out these:

#### 1. `enqueue_block_editor_assets` still works in patterns

The `enqueue_block_editor_assets` action hook still works even in block patterns library/inserter. The issue was with my theme's block editor styles using `div.editor-styles-wrapper`, while the new block pattern previews are iframes with `body.editor-styles-wrapper`.

Fixed this by adapting my theme's block e

[2022-01-26 13:00] ntsekouras commented on #38219
I agree with all of you that the discoverability/handling of reset could be improved. In general we should aim for consistency and as far as I know the plan is to also change the other control like `letter case` to use the same internal component (`ToggleGroupControl`) with `font size picker`.

I don't believe there would be any problems regarding the font size control's values, but this comes dow

[2022-01-26 13:17] alirezarezamand commented on #36834
Thank you so [much](https://hamtamovie.asia).

[2022-01-26 13:23] agent-617 commented on #36834
Brilliant!! Thank you @brkcd for this contribution!

[2022-01-26 13:24] aristath commented on #38171
My 2c:
Cases where a plugin adds IDs to headers, or a script adds IDs are the exception and not the norm. A heading anchor can be extremely helpful in all cases except the exceptions described above, so making the behavior opt-out makes more sense than making it opt-in. Ideally, these plugins would be updated to use the anchors that core adds. However, since most of them will probably not bother u

[2022-01-26 14:02] brianhogg commented on #38226
Confirmed the issue exists on other block themes, ie. the FrostWP theme, so it's not specific to full site editing in the Twenty Twenty-Two theme.

[2022-01-26 14:03] webmandesign opened #38239 "WP 5.9: Block pattern preview does not apply correct `box-sizing` styles"
### Description

While in block editor, the `box-sizing: border-box;` style is applied, in block patterns preview in patterns library/inserter the style is missing, thus rendering block pattern previews inconsistent from block editor previews.

### Step-by-step reproduction instructions

Compared Media & Text content spacing in block pattern preview and in editor/front-end.

### Screenshots, scree

[2022-01-26 14:13] webmandesign opened #38240 "Can not load Google Fonts to pattern preview iframe"
### Description

I've noticed that `enqueue_block_editor_assets` action hook does not load all stylesheets I throw at it in a block pattern preview. I've found out it only loads stylesheets containing `.editor-styles-wrapper` string. Can anybody provide more info why this happens, and _can this be documented somewhere for theme authors_?

This means loading Google Fonts via stylesheet URL (such as

[2022-01-26 14:14] webmandesign commented on #38214
Closing this issue and opening new #38240 for the last issue found.

[2022-01-26 14:14] #38214 closed, assigned to nobody

[2022-01-26 14:14] #17970 closed

[2022-01-26 14:33] aaronrobertshaw commented on #38219
I was aware of this being raised previously and at the time being dismissed (at least temporarily) because of issues that radio button groups introduce. It would be good if the `ToggleGroupControl` could allow the toggle off behaviour out of the box and therefore be used more widely in these controls as proposed. Even if that means conditionally not using the `RadioGroup` component internally.

My

[2022-01-26 14:34] gziolo commented on #37997
I have just tested with WordPress 5.8.3 and the latest `trunk` and the frontend script for the Navigation block works correctly when I enable the overlay menu for desktop or mobile:

<img width="642" alt="Screenshot 2022-01-26 at 15 29 59" src="https://user-images.githubusercontent.com/699132/151182327-fa5daf0e-7571-4053-b7cc-d3f65c292d44.png">
<img width="1101" alt="Screenshot 2022-01-26 at 15 29

[2022-01-26 14:37] vcanales commented on #37997
I have found that the issue is not present in trunk as well, but it is present in the version of Gutenberg published to the Plugin Directory, with WordPress 5.8.3. Still looking into what might have happened there, as the script isn't even loaded in the first place, there is no 404 error that would make me believe that the file is not present; visual inspection of the build directory confirms this

[2022-01-26 14:47] Oxibug commented on #35087
Waiting for 5 months for WordPress 5.9 to fix the legacy widgets previews which consume the server's memory, and now after released what should we do to disable preview?

My Ticket: https://core.trac.wordpress.org/ticket/
The other ticket refer to github: https://core.trac.wordpress.org/ticket/54075

[2022-01-26 14:48] ciampo commented on #38219
Thank you for the ping!

To me this is an expected consequence of the switch to the `ToolsPanel` UX pattern (which caused the removal of the `Reset` buttons), and I appreciate that it may be counter intuitive for users.

Regarding the `ToggleGroupControl` component — as stated by @aaronrobertshaw, it uses a `RadioGroup` internally, which means that it's not possible to deselect an option by clicki

[2022-01-26 14:55] ciampo commented on #38219
Another thing that came to mind — the font size picker can also display a dropdown instead of the `ToggleGroupControl` and an input field (in case of custom values), and therefore fixing `ToggleGroupControl` alone wouldn't probably be enough.

[2022-01-26 14:57] gziolo commented on #37997
Is it included in the zip file uploaded to the GitHub release page?

[2022-01-26 15:01] grappler opened #38241 "Text Transform Control overflow for long legends"
### Description

In the typography settings of a paragraph block the overflow of the legend text of the "Text Transform Control" does not get cut down like with the Letter-spacing.

This issue can be seen in the German translation as the translations are longer than the English versions.
![image](https://user-images.githubusercontent.com/1785641/151187039-d36259b6-2e92-4859-9f5d-2ca08c4a57e6.png)

[2022-01-26 15:21] mrleemon opened #38242 "WP 5.9 theme.json schema doesn't allow setting the "version" property to 2"
### Description

The new Twenty Twenty-Two theme ships with a theme.json file with the "version" property set to 2, but the WP 5.9 theme.json schema (https://schemas.wp.org/wp/5.9/theme.json) just allows the 1 value.

### Step-by-step reproduction instructions

1. Open a version 2 theme.json file with VS Code
2. Add the WP 5.9 theme.json schema (https://schemas.wp.org/wp/5.9/theme.json) to it
3. T

[2022-01-26 15:26] priethor opened #38243 "Establish a first-time contributor props culture in Gutenberg"
## What problem does this address?

WordPress has a long history of giving props to first-time contributors in each release and keeping track of new folks joining the project. However, Gutenberg has only recently started acknowledging first-time contributors in [Slack meetings](https://wordpress.slack.com/archives/C02QB2JS7/p1642604332351300) and [Gutenberg release posts](https://make.wordpress.or

[2022-01-26 15:26] #38243 closed, assigned to nobody

[2022-01-26 15:34] mtias commented on #6808
For the slider case, I'd suggest treating every "Slide" as a child block, restricted to your Slideshow parent, and each Slide containing a single inner blocks.

[2022-01-26 15:35] t-hamano opened #38245 "Block Directory: Activation of a block with no title property will result in an error"
### Description

Adding a block plugin from the block directory will cause an error under certain conditions.
It will probably occur for all blocks that do not specify **the title property** in the `registerBlockType` function.

This is also happening in the block plugin I publish, but the title property is listed in `block.json` and is not specified in `registerBlockType`.

It determines that the

[2022-01-26 15:36] cbravobernal commented on #37883
Great job! I completely agree with improving the template editing experience.

I will provide some context for Comments Query Loop.

By default, Comments Query Loop gets `postId` block context in order to show the comments and global `$post->id` for the frontend.

We have a research PR in #38072, where we are trying to get those default placeholders on the site editor, but we are still having smal

[2022-01-26 15:45] #21245 closed

[2022-01-26 15:52] fluiddot opened #38246 "Highlight text: Format button doesn't match current color when moving the caret"
## Description

While testing the Highlight text feature, especially the changes introduced in https://github.com/WordPress/gutenberg/pull/37915, I noticed that the format button doesn't reflect the current color when placing the caret at the end of the text (see attached video capture).

## Step-by-step reproduction instructions

1. Add a Paragraph block.
2. Type some text.
3. Tap on the Highligh

[2022-01-26 15:57] ntsekouras commented on #38219
There is another way to 'reset' the other controls - for other inputs we can clear the input value, and in select controls we provide a `default` option.

Having said that, I agree with the above two points about what we should do.

[2022-01-26 16:16] jameskoster commented on #37883
I think text-based placeholders – to be consistent with things like Post Title and so on – is fine for now :)

For Comment Author Avatar, perhaps we could use whatever is configured as the 'Default Avatar' in the discussion settings?

[2022-01-26 16:19] skorasaurus commented on #38229
Hi,

Thanks for reporting;
This has been discussed and/or requested in https://github.com/WordPress/gutenberg/issues/33832. Feel free to [add your reaction](https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/about-conversations-on-github#reacting-to-ideas-in-comments) and follow its progress in the issue.

Please reopen and comment with additional details if your issue i

[2022-01-26 16:19] #38229 closed, assigned to nobody

[2022-01-26 16:29] agent-617 commented on #24684
Following @oldrup from his question over on [wordpress.org topic](https://wordpress.org/support/topic/how-to-disable-inline-styling-style-idglobal-styles-inline-css/#post-15293729) in the event this is helpful to others.

You can remove the Gutenberg theme library on the front-end (if not necessary) along with the inline injection, and save an additional 77.3KB in the DOM. As well as address WooCo

[2022-01-26 16:44] annezazu commented on #38239
Hey @webmandesign! Love seeing you open up some issues. I'm going to close this out as this overlaps with this currently open and worked on issue: https://github.com/WordPress/gutenberg/issues/37573 Mind commenting there?

[2022-01-26 16:46] annezazu commented on #38230
Wondering if this is related https://github.com/WordPress/gutenberg/issues/38146

@Elgameel can you confirm this was working properly before 5.9?

[2022-01-26 16:49] ghost opened #38248 "Enhanced functionality for table block"
## What problem does this address?
Limitations in using table block in the post. We updated our WordPress site to 5.9. However, we observed that there are no changes or enhancements in the table block added to the Post/custom post. The table block provided in WordPress is very very basic.

## What is your proposed solution?

We need the following features specifically for the table block:

* Custo

[2022-01-26 16:58] #38156 closed, assigned to stacimc

[2022-01-26 17:02] ghost opened #38251 "Auto continuity of a subsequent ordered list"
## What problem does this address?
When we need to break the list into separate lists for any reason (like adding a table or image or note), the starting number of the subsequent list is not automatically incremented or decremented.

## What is your proposed solution?
We need an option by which the subsequent list block should be auto-incremented or decremented based on the list items changed in t

[2022-01-26 17:02] jameskoster commented on #35503
If we're able to determine how many _things_ there are to load, and the status of each one, we could perhaps display a determinate loading indicator. Something like:

https://user-images.githubusercontent.com/846565/151210703-bc8ca029-2481-421c-a6ea-fa75ba3820f9.mp4

We may want to embellish it with a logo, or some accompanying text, but I kind of like the simplicity of the bar on its own.

Errors

[2022-01-26 17:07] stacimc commented on #38156
@mrfoxtalbot Nice find -- it looks like it might be. I'm also able to see the horizontal scroll bar in the editor as described in the ticket.

[2022-01-26 17:12] webmandesign commented on #38239
Hi @annezazu :)

Thanks for your comment. I'm not sure whether this is related to #37573 actually. Though I'm going to provide my 2 cents to that issue too, I think this one is different.

This issue is really related to `box-sizing: border-box;` style not being applied by Gutenberg plugin in block pattern preview.
Once I apply
[code]
in my theme's block editor stylesheet that is also being enqueu

[2022-01-26 17:17] billerickson opened #38252 "WordPress inline CSS doesn't respect editor-font-sizes"
### Description

In WordPress 5.9, inline styles are added with `!important`, generated by theme.json (for a discussion disabling `!important`, see #37590). If a theme does not contain a theme.json file, it uses the theme.json file in WordPress core.

This issue occurs with the Gutenberg plugin active or inactive.

Previous versions of WordPress allowed themes to define the editor font sizes using

[2022-01-26 17:30] TimothyBJacobs opened #38253 "Menu items used fixed URL/title when a dynamic link is available"
### Description

In `render_block_core_navigation_link` the stored menu item URL is always used. This causes problems if a post's permalink changes in such a way that it can't be automatically redirected to by WordPress.

Even if the redirecting was working, though, we should still try to output the correct menu item links so they will work without redirecting. For non-custom links we should be ab

[2022-01-26 18:49] webmandesign commented on #37573
Hi guys, I'd like to chime in as I think this may be related:

- I experience continual height change in block pattern preview for blocks with `100vh` height such as Cover block and also Media & Text block in my case (where I use custom helper CSS class to set height).
- Also, blocks with height of a different value, such as `62vh`, are not correctly sized in block pattern preview and seem to be l

[2022-01-26 18:52] Elgameel commented on #38230
@annezazu
Yes, it was working before the update.

I was even writing a post when I received the update notification.

I saved the changes using the shortcut and updated WordPress, then I came back to continue writing when I found that the shortcut is not working anymore.

I opened a different browser, cleared all cache, tried different posts and the result is still the same!

[2022-01-26 18:54] webmandesign commented on #38240
For illustration, here is a video with comparison to WP 5.8.3 behavior:

https://user-images.githubusercontent.com/2456735/151227953-6efab67e-9a9d-48ca-9243-be66eb28b16d.mp4

[2022-01-26 19:21] thelonewolf commented on #36834
Thank you!

[2022-01-26 19:48] webmandesign commented on #38252
Hi,

I can confirm this. My theme is "classic" one (non-FSE) and I've noticed the new WP 5.9 is adding `global-styles-inline-css` styles into HTML head such as:
`.has-large-font-size {
	font-size: var(--wp--preset--font-size--large) !important;
}`

This effectively overrides my theme styles as I also use "large" as one of custom block editor font sizes:

![wp5 9-global-styles-overrides](https://us

[2022-01-26 19:49] gallo2000sv commented on #15137
Some blocks on Elementor and Gutenberg not rendering correctly on the frontend for any user who is not a super admin. Multisite Wordpress 5.8.3

[2022-01-26 20:39] annezazu commented on #38252
@oandregal tagging you in here. This seems very similar to this previous issue that was resolved around font sizes
https://github.com/WordPress/gutenberg/issues/37617 Would love if you can dig in here to see what might be going on/what needs to be cleared up.

[2022-01-26 20:43] annezazu commented on #38230
Thanks so much for following up with more context!

[2022-01-26 20:47] annezazu commented on #38242
@mkaz @ryanwelcher can you all chime in here based on your work in this area?

[2022-01-26 20:54] alanef opened #38255 "5.9 Block Editor, paragraph text highlight fails when posting a hex code"
### Description

When editing a paragraph, highlight text, select text color and then open the hex editor and paste a code, the function loops better black #0000000 and the original code.

This is reproducible in Chrome and Firefox on sites using 2020 theme and no plugins.

The feature works in 5.8.3

It appears, based on the support forum, this is a bug in Gutenberg earlier release that has been

[2022-01-26 20:56] annezazu commented on #38230
I tried replicating this but was unable to:

https://user-images.githubusercontent.com/26996883/151245592-c9b86b1b-2185-4d0a-a77a-fe9366f6c935.mov

Flagging in core-test to see if we can get more help replicating!

[2022-01-26 20:58] cbirdsong commented on #37031
I've just encountered this issue on a production site when upgrading it to Wordpress 5.9.

[2022-01-26 21:07] Elgameel commented on #38230
I have retested it on a different English WordPress site, a different Windows 10 PC, and I still have the same problem.

[2022-01-26 21:28] ugljanin commented on #32966
@t-hamano I am facing the same issue as you described and my styles are not passing from https://github.com/WordPress/gutenberg/blob/wp/5.8/packages/block-library/src/html/edit.js#L39

Could you please explain how is this solved?

[2022-01-26 21:33] cbirdsong commented on #36135
Is there a filter to disable these? They're breaking layouts on existing non-FSE/theme.json themes.

[2022-01-26 21:38] ugljanin commented on #32966
Update: This is fixed with WP 5.9

[2022-01-26 21:39] mrwweb commented on #36135
Also related: #36053

[2022-01-26 21:56] annezazu commented on #38239
Gotcha! Let me re-open this then for good measure :)

[2022-01-26 21:59] cbirdsong commented on #38252
My current workaround for this on legacy themes is to just get rid of the entire theme.json variable block via `wp_dequeue_style( 'global-styles' );`. However, that doesn't remove all the `.wp-container-` classes generated in the footer (#36135).

[2022-01-26 22:04] ryanwelcher commented on #38242
Looks like it needs to be updated in the 5.9 branch - https://github.com/WordPress/gutenberg/blob/wp/5.9/schemas/json/theme.json#L1070.

[2022-01-26 22:21] aurooba opened #38256 "[FSE] Add option to display button labels instead of icons"
## What problem does this address?
Icons aren't always the friendliest way to interact with interfaces in general, labels and texts are often better at helping people acclimate to a new interface.

## What is your proposed solution?
 I'd love if the Site Editor also included the option to `Display button labels` like the Block Editor does in some sort of `Preferences` area – and in fact, these opt

[2022-01-26 22:36] aurooba commented on #37407
@jameskoster I enjoy the idea that core might provide a UI for CPT creation, sometimes I want a CPT, but don't want to have to pull out the code editor to do it, especially if it's going to have pretty much the same capabilities as a post.

I'd also like to mention that as the ability to make more templates (and variations) comes into play, the ability to duplicate a customized template (and in th

[2022-01-26 22:41] paaljoachim commented on #38192
Hi @aurooba

Here is an issue I made a while ago. There is some discussion there.
[Site Editor] Templates list screen - Adding duplicate to 3 dot menu.
https://github.com/WordPress/gutenberg/issues/36665

[2022-01-26 22:47] luminuu commented on #38252
I can confirm this as well on a staging site.

[2022-01-26 22:49] AnthonyLedesma commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2022-01-26 22:55] annezazu commented on #33864
Going to close this out since I agree that this is more of a help request :)

[2022-01-26 22:55] #33864 closed, assigned to nobody

[2022-01-26 23:11] aurooba commented on #38192
Thanks for flagging that, @paaljoachim, I did a search before, but didn't see that issue!

[2022-01-26 23:11] #38192 closed, assigned to nobody

[2022-01-26 23:12] aurooba commented on #36665
Hallo! I agree that it makes sense to start with custom templates. :) This was a little mockup I made a couple days ago in a duplicate issue:
<img width="639" alt="kebab menu for templates has a duplicate option" src="https://user-images.githubusercontent.com/6925260/151262651-6c521008-8635-4161-b847-ee787678d941.png">

The idea I had is that clicking on the duplicate option, pops open the same di

[2022-01-27 00:30] SaxonF commented on #36667
@getdave the idea @jameskoster and I are discussing definitely goes beyond the scope of this particular issue but its worth mentioning because it would solve the same "safe exploration" problem, but for all blocks, not just navigation/menu.

In Figma you can create a library that is detached from your main design. You're free to add components (e.g. nav menu) and styles to that library without the

[2022-01-27 00:30] ironprogrammer commented on #38230
I was unable to replicate this issue with the following test parameters:

- OS: macOS Monterey (12.1)
- Browsers: Safari and Chrome latest
- Keyboard Input Sources: US, Colemak, Arabic, Arabic - QWERTY

Something that did come up, which I hadn't initially considered, is that *the location of "S" **can** change between keyboard layouts*. On the US keyboard <kbd>S</kbd> is the 2nd character key from

[2022-01-27 00:31] tellthemachines commented on #38230
I can replicate this on Windows 11, on both Chrome and Firefox, with the keyboard layout set to "Arabic (Bahrain)". Instead of saving the post, Ctrl + S opens a "Save as" system dialog.

[2022-01-27 00:35] annezazu commented on #38230
Moving this to the 5.9.x board just in case this can be tracked down :) Thank you all so much for helping test.

[2022-01-27 00:58] tellthemachines opened #38257 "Inconsistent keyboard behaviour in post editor and widgets editor headers"
### Description

In both the post and the widgets editor, tabbing into the editor from the "skip to content" link lands us first on the block inserter toggle, and from there the next tab goes straight into the header settings section ("Switch to draft", "Preview" and so on). In order to access the "Document tools" section, we have to use the arrow keys after landing on the block inserter toggle.

[2022-01-27 01:00] wpsoul opened #38258 "Mobile and Tablet preview closes tabs in Inspector"
### Description

When I work on complex blocks and edit them in Inspector, I want to check how it looks in Mobile. But when I click to preview, whole Inspector reverts to initial state, so, I need to open all tabs again and scroll to option which I edit before. This makes very uncomfortable workflow. What I expect is that preview option will not change anything in Inspector

### Step-by-step repro

[2022-01-27 01:10] ramonjd commented on #38219
Thanks for the ping and the very neat summary @aaronrobertshaw.

I can confirm this was the original intention: to attempt to highlight that there are more controls available within the Tools Panel dropdown, other than those that are displayed by default.

If the plus sign is causing confusion, especially with the semantic opposition to the minus sign, then maybe that's a "sign" that we should rev

[2022-01-27 01:22] tellthemachines opened #38260 "Widget areas are difficult to navigate with keyboard only"
### Description

In the Widgets Editor, focusing on a widget area and then pressing Tab takes us to the Sidebar. In order to enter the widget area, we need to use the arrow keys, but that's not immediately clear, and there are no clues about it in the interface.

The widgets area doesn't have any sidebar settings, so transferring focus to the sidebar isn't as useful as it may be when a regular blo

[2022-01-27 01:48] tellthemachines opened #38261 "Inconsistent keyboard behaviour in Search block"
### Description

When moving through the Search block with the arrow keys, focusing on the "Add label" field and then pressing Arrow Down takes us to the "Optional placeholder" field, and Arrow Down again takes us out of Search and into the next block. However, navigating back with Arrow Up key, the first field to receive focus in the Search block is the "Add button text" field, followed by the "A

[2022-01-27 02:37] talldan commented on #33604
@ktmn Yes, unfortunately the issue #33479 is open and still needs a developer to work on it.

Please could you use that issue for commenting, as this one is closed.

[2022-01-27 02:39] talldan commented on #33479
It was mentioned on #33604 that this is still a problem in WordPress 5.9.

[2022-01-27 03:22] carolinan commented on #36135
I don't think that we can expect new features, which also documents the change of the markup,  to be non breaking.

[2022-01-27 03:27] jacobdubail commented on #38248
I would add

- ability to move/drag rows up/down, ability to re-order rows/column simply.

[2022-01-27 03:43] jacobdubail commented on #32400
A feature that would make life much easier is the ability to drag rows into a different position. I suppose the same would go for dragging a column into a new position.

[2022-01-27 03:46] talldan commented on #30468
This doesn't seem related to the table block, more with the HTML block and the way it validates HTML. It's just a coincidence that the example html contains a table, but it happens with any invalid markup (the provided HTML is invalid due to the `h3` elements inside a `th` (https://developer.mozilla.org/en-US/docs/Web/HTML/Element/th).

This seems very similar to https://github.com/WordPress/guten

[2022-01-27 03:49] tellthemachines opened #38264 "Arrow key behaviour inconsistent between widget areas"
### Description

When navigating inside widget areas with the arrow keys, Arrow Down doesn't always focus the "Add block" button at the very bottom of each widget area.

Testing repeatedly yields varying results: in my testing, on macOS with Chrome, Safari and Firefox, most often the "Add block" button is skipped in the active widget areas, and focused in the inactive widgets area, but @joedolson

[2022-01-27 04:15] tellthemachines opened #38266 "Visible focus confusing in closed widget areas"
### Description

When a widget area is closed, and in focus, the focus ring around it is indistinguishable from the focus ring around the widget area header. However, it's only possible to open the widget area with Enter or Space if the widget header is focused; not when focus is on the whole widget area. This makes it seem that Enter/Space keys randomly don't work when trying to open a widget are

[2022-01-27 04:30] talldan commented on #32400
There are some feature requests in this issue, which I've closed as a duplicate to avoid have multiple tracking issues: https://github.com/WordPress/gutenberg/issues/38248#issue-1115239627

The ideas mentioned were:

Some of these are already covered. I've added the idea about columns widths to the description.

[2022-01-27 04:31] talldan commented on #38248
@quickdraft Thanks for mentioning all these improvements. Generally it's good to create individual issues for enhancements. It becomes very hard for other users to search for something like adjustable column width when things are grouped together like this. Because of this I'm going to close the issue.

There's already what we call a 'tracking issue' for all the Table Block issues, which offers an

[2022-01-27 04:31] #38248 closed, assigned to nobody

[2022-01-27 04:41] talldan commented on #38258
I can confirm this. That seems like a frustrating bug. Thanks for reporting it.

[2022-01-27 05:12] talldan commented on #34325
Agree with your points Noah.

I think it's time to close this issue given this is clearly not going to happen, but also as the conversation became toxic and aggressive.

I did start one new pull request to help improve things based on one of the (now deleted) comments - https://github.com/WordPress/gutenberg/pull/38122.

I'm happy to also work on other ways to improve the contributing experience.

[2022-01-27 05:12] #34325 closed, assigned to nobody

[2022-01-27 05:13] EDynam commented on #35906
Hello,
I noticed this issue today on Chrome, but not with the Gutenberg, but with Elementor Gallery. Same issue, the drag and drop re-order is no longer working. I believe it must be related to WordPress 5.9

[2022-01-27 05:25] carolinan commented on #35596
We need to start thinking about how we are going to tie the individual blocks together.

[2022-01-27 05:28] TheSimArchitect commented on #10889
It would be nice to be able to turn that validation off for the block, permanently.

[2022-01-27 05:30] TheSimArchitect commented on #30468
Thanks. I'll look into it, but I'd like to be able to have an option to turn that feature off for a specific block (or in general), so wordpress doesn't try to validate the same block again and let us have our "bad code" alone 😉

[2022-01-27 05:47] andrewserong opened #38267 "Buttons: Add ability to apply styling from one Button block to all adjacent buttons in the same Buttons block"
## What problem does this address?

Following on from the UX improvement in #37904 to copy button styling from adjacent buttons when inserting a button block, it'd be nice to come up with a way to easily copy the styling from one button in a set of buttons to the rest of the buttons within that same set.

Currently if you make changes to one block in isolation, there's no easy way to immediately a

[2022-01-27 06:03] sangtlee commented on #17099
We would also love to see block editing enabled on term edit screens.  It's not uncommon to need block editing features on entities that need to function as taxonomy terms.  This is our current workaround to accomplish this:

- Custom post type called "Industry" with rewrite set to false << all of the "block" content is managed on these posts
- Custom taxonomy called "Industries" with slug of "ind

[2022-01-27 06:03] noisysocks opened #38268 "Widgets screen: Show block previews on hover in the inserter"
We currently do not show block previews when hovering over an item in the inserter on the Widgets screen. Implementing this would help clarify to the user what will be inserted, see https://github.com/WordPress/gutenberg/issues/25959.

![image](https://user-images.githubusercontent.com/612155/151300802-6890ab5b-77aa-432f-9bf4-32d52841457e.gif)

[2022-01-27 06:07] noisysocks commented on #25959
I tested this and searching for "widget" correctly shows all widget blocks including Legacy Widget variations.

It would help if we showed block previews in the inserter, as @mapk mentions above. I've created an issue for that here: https://github.com/WordPress/gutenberg/issues/38268

The goal is to consolidate the various content editing interfaces so that the same content can be inserted anywher

[2022-01-27 06:07] #25959 closed

[2022-01-27 06:16] noisysocks commented on #26040
I tested the color picker widget linked to above and everything seems okay. Running latest `trunk`.

https://user-images.githubusercontent.com/612155/151302252-9676bdb0-1a27-46c7-8282-82dd3c025b62.mp4

[2022-01-27 06:16] #26040 closed

[2022-01-27 06:18] noisysocks commented on #26170
@draganescu is correct. It's easy to fix this but we're blocked by #32952 which is more involved.

Just noting that we also will need to implement this for the inserter in the widgets customizer section.

[2022-01-27 06:21] noisysocks commented on #26240
Could potentially use `blockEditor.__unstableCanInsertBlockType` for this.

[2022-01-27 06:29] noisysocks commented on #26298
Here is where this pattern is documented:

https://developer.wordpress.org/themes/basics/conditional-tags/#variable-sidebar-content

Something like this should work as a block-based alternative:

[code]

[2022-01-27 06:32] noisysocks commented on #28517
Definitely need to sort this out now that there are three block editors (post, widgets, site). Relying on `$pagenow` is a bit obtuse.

[2022-01-27 06:49] hartsook commented on #15097
Perhaps a related issue? The UI for selecting the auto-generated pdf thumbnails needs help. In 5.8 and 5.9 I don't see the thumbnails in the Media LIbrary, and for example I can't choose a pdf thumbnail as the featured image for a Post that features that pdf. The 4 thumbnails are there in the /uploads folder but are not available through the expected image selection UIs.

[2022-01-27 06:51] noisysocks commented on #32607
I'll close this as it's a quirk of how widget areas are implemented and there's no "bug" per se. It's definitely an argument against using blocks to implement widget areas, though, which I'll note in https://github.com/WordPress/gutenberg/issues/33254.

[2022-01-27 06:51] #32607 closed, assigned to nobody

[2022-01-27 06:52] noisysocks commented on #33254
Using blocks makes it awkward for extenders: https://github.com/WordPress/gutenberg/issues/32607

[2022-01-27 06:58] noisysocks commented on #36597
I believe we can close this now that WP 5.9 is wrapped up. Nice work again, everyone!

[2022-01-27 06:58] #36597 closed, assigned to noisysocks, talldan, jameskoster, kevin940726

[2022-01-27 06:59] njbrown commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2022-01-27 07:41] webmandesign commented on #38252
Great workaround. As we are removing core functionality this way I'm just wondering whether it passes theme checks in Theme Check and Theme Sniffer plugins and WordPress theme review.

[2022-01-27 07:44] webmandesign commented on #38252
The question for me stays: why is this even produced? Isn't this a theme territory?

[2022-01-27 07:48] kubiqsk commented on #25330
actually, everything works on `wp.domReady`
but it's very important to use correct dependency
Currently it's a little bit tricky, like:
[code]

[2022-01-27 07:49] kubiqsk commented on #27607
actually, everything works on `wp.domReady`
but it's very important to use correct dependency
Currently it's a little bit tricky, like:
[code]

[2022-01-27 08:15] markhowellsmead commented on #25330
Still not working for me, even with these dependency rules. (Most recently tested in WordPress 5.9.)

[2022-01-27 08:22] mertafor opened #38271 "Making groups as default wrapper"
## What problem does this address?

Sorry if this is a duplicate or someone mentioned this before. I have this certain problem since Gutenberg released and I was hoping devs would look into this at some point. But I see that still there are no viable solutions after several years of development.

I understand the minimalist approach yet this is a page editor and users should easily select and edit

[2022-01-27 08:30] talldan commented on #38271
@mertafor There is now a row variation of the group block - https://github.com/WordPress/gutenberg/pull/34535.

It isn't a default or anything, though. That would be another step and I don't know whether it's something that's planned.

[2022-01-27 08:39] kubiqsk commented on #25330
@markhowellsmead  I'm using exactly this code in my plugin and it works for me
https://wordpress.org/plugins/disable-unused-block-editor-blocks/
Can you test it? ...and if it works, then you can take a look in my code, it can help you
Otherwise I would be very grateful when you let me know if it's not working for you so we can take a closer look on the problem

[2022-01-27 08:44] oandregal commented on #38252
:wave: We've made some changes to the default presets coming from WordPress, see the section "Changes to the global stylesheet > Default font sizes, colors, and gradients" in the [devnote](https://make.wordpress.org/core/2022/01/08/updates-for-settings-styles-and-theme-json/).

The TLDR is that themes with `theme.json` can modify the default values directly. Themes that don't have a `theme.json` n

[2022-01-27 08:44] markhowellsmead commented on #25330
That appears to be working, yes. Nice interface! But it uses PHP, not JavaScript, which is the subject of this issue.

[2022-01-27 08:46] kubiqsk commented on #25330
@markhowellsmead no, actually it use javascript to deisable blocks, just take a look in `/js/` folder
it's a very simple code
[code]

[2022-01-27 08:53] #32966 closed, assigned to nobody

[2022-01-27 08:54] mertafor commented on #38271
@talldan It's my bad. Yes now I noticed rows also. However what I was trying to mention is the difficulty of navigating between blocks in nested blocks due to lack of visual guides (lines, borders, settings buttons etc.).

In fact, I think it could be possible by using custom editor styling in a theme. But is there any way to changing the starter template of default Add new post / page? For exampl

[2022-01-27 08:55] kubiqsk commented on #33730
it would be great to create new filter

there is filter `allowed_block_types_all` so we would need `disallowed_block_types_all` or `disabed_block_types_all`

`allowed_block_types_all` is used to generate JS variable `allowedBlockTypes` that is used in conditional logic to filter blocks

exactly the same, just with opposite logic, needs to be done with new `disabed_block_types_all` filter

`allowed

[2022-01-27 09:00] erikjoling commented on #38176
Thank you @carolinan

I managed to disable the color settings with `"defaultPallete": false` and `"defaultGradients": false`.

With the following code I specify a custom color palette and disable it for certain blocks.

[code]

Extra remark: notice the difference in plurality of the keywords `customGradient` and `defaultGradients`.

[2022-01-27 09:13] #38217 closed, assigned to fluiddot

[2022-01-27 09:27] ghost commented on #31893
for the user dfle04 and danielf:
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2022-01-27 09:30] webmandesign commented on #38252
@oandregal Thanks for explanation and for the link.

I already use CSS custom properties in my theme but they are custom ones, not WordPress ones. It seems contraproductive to basically repeat the code for the new WP CSS custom properties - it adds redundant code to my stylesheets. Could you please explain why this is produced by WordPress even for classic themes that does not use `theme.json` fil

[2022-01-27 09:39] pablo-miralles opened #38274 "editor-style.css not working anymore + revert property overriding block styles"
### Description

I've updated to 5.9 in a WordPress theme that editor and content where 1:1 thanks to the editor-styles.

Now, I have the following issues:

1. editor-styles support not working anymore

I had this added to the theme:
```add_theme_support('editor-styles');```
and editor-style.css was used automatically to add styles to the editor. Now it doesn't work (the file is not enqueued). I'v

[2022-01-27 09:55] webmandesign commented on #38252
Another thing is, WordPress is using `body{ --wp--preset--...: ... }` and this is being enqueued after my theme's stylesheet. This effectively overrides my theme's `:root { --theme-css-variable: ...; --wp--preset--...: ... }` declarations. I now have to use more specific CSS selector or/and `!important`.

Also, the font size classes are now produced twice: by theme in theme stylesheet and by WordP

[2022-01-27 10:06] oandregal commented on #38252
Hey, I'm happy to expand on this. This is the issue we face: block & theme selectors can have higher specificity than user styles attached to blocks, for example:

[code]

User styles should prevail at all times over block & theme styles. We [considered alternatives](https://github.com/WordPress/gutenberg/pull/29533#discussion_r586724054) but none were satisfactory. It was also discussed in [this

[2022-01-27 10:57] getdave opened #38275 "Navigation Project Tracking Issue"
This issue captures ongoing work for Navigation project.

Here are some suggested guiding [principles](https://github.com/WordPress/gutenberg/discussions/45032) for work on this project.

This **isn't a tracking Issue for a specific WordPress release**. Rather it is somewhere to track the high level issues that need to be addressed for Navigation within the Editor as a whole.

This Issue is based

[2022-01-27 11:05] getdave commented on #38121
I agree with everything discussed here. I've renamed to make it a little clearer as to the purpose of the Issue and also added to the Nav block tracking issue.

[2022-01-27 11:10] getdave commented on #35868
Are we still interested in exploring this or does the CPT work well as it is? I'm curious as to whether we need to decouple the data any further than we have now?

[2022-01-27 11:22] getdave commented on #35521
As discussed with @priethor and [noted in the #feature-navigation-block Slack channel](https://wordpress.slack.com/archives/C01KDAZJMQ9/p1643116972033700) I'm closing this Issue in favour of a new Tracking Issue over at https://github.com/WordPress/gutenberg/issues/38275.

[2022-01-27 11:22] #35521 closed, assigned to nobody

[2022-01-27 11:29] getdave commented on #38201
Jame and I discussed this and yes that is what he's looking for.

Imagine the mobile menu needs to show slightly different items than the primary one. Currently you can't do that.

I do wonder about the a11y implications of this and whether what we actually need is a way to conditionally show/hide blocks depending on screen size. I don't think we'll be able to have different menus tied to the same

[2022-01-27 11:31] jamiemarsland commented on #38201
This is incredibly important for larger sites e.g ecommerce sites that have mega menus as the main menu.

In the past this was handled by themes by having different menus assigned to different locations.

[2022-01-27 11:41] getdave commented on #23573
@jasmussen Is this still something we are going pursue?

[2022-01-27 11:43] vcanales commented on #23573
@getdave @jasmussen If so, [this PR](https://github.com/WordPress/gutenberg/pull/31716) is ready for review again. It has an approval, but it was granted way too long ago.

[2022-01-27 11:48] getdave opened #38277 "Standardized way to modify interactive states (:hover, :focus .etc) for blocks"
## What problem does this address?

Currently it's not possible to modify the visual styles when the block items are in a given state (hover, focus, etc).

States (#57719) was designed as a solution that could work for this use case, including the hidden complexity that isn't immediately obvious. Consider a navigation menu, you'd want to be able to change colors of menu items in their neutral, hov

[2022-01-27 11:48] getdave commented on #38277
Also cc'ing @annezazu who suggested this idea.

[2022-01-27 11:51] #36745 closed, assigned to jorgefilipecosta

[2022-01-27 11:51] getdave opened #38278 "Ability to save Nav blocks locally without creating a wp_navigation post."
## What problem does this address?

Currently when creating a Navigation block a `wp_navigation` post is automatically created and all inner blocks are saved to that post.

It is therefore not possible to create a Navigation block that is local to a specific post context. This also means that anyone without the `edit_theme_options` capability cannot create Navigations even if they are only for the

[2022-01-27 11:59] getdave commented on #38201
That's what I'm thinking. Perhaps having two seperate Navigation blocks but with different rules governing the block's display at different breakpoints.

If they are completed different menus then that's pretty valid although I'd like some a11y feedback before we look to implement anything.

[2022-01-27 12:43] #31605 closed, assigned to ndiego

[2022-01-27 12:46] corbin-c opened #38279 "Examples on block variations"
### Description

Hi,

It looks like the feature allowing one to provide specific examples for block variations is not working properly.

As stated in the [official WP documentation](https://developer.wordpress.org/block-editor/reference-guides/block-api/block-variations/), we can supposedly use the `example` field to achieve this:

To my understanding, I should be able to produce a different examp

[2022-01-27 12:59] MatzeKitt opened #38280 "Don't render layout styles if block styling is not applied"
### Description

We explicitly didn't add theme support for `wp-block-styles` since we need consistency in our styles (that are output to multiple hundreds of websites. Since the layout styles in `gutenberg_render_layout_support_flag()` make only sense if you use the `wp-block-styles`, it's even harder to hold this consistency.

Thus, these layout styles should only be rendered if `add_theme_suppo

[2022-01-27 12:59] fluiddot opened #38281 "Range control: Keyboard remains open when navigating to a subscreen"
## Description

The keyboard is opened when tapping the text input of any range control element within a bottom sheet, however, it remains open when navigating to a subscreen.

## Step-by-step reproduction instructions

1. Add a Cover block and add an image.
2. Open the block settings by tapping on the gear icon button.
3. Scroll down the settings and tap on the text input of the opacity option.
4

[2022-01-27 13:09] MatzeKitt commented on #38280
Never mind, I simply remove the filter for `gutenberg_render_layout_support_flag `.

[2022-01-27 13:09] #38280 closed, assigned to nobody

[2022-01-27 13:39] MatzeKitt commented on #38127
This should do the trick:

[code]

This will remove the function that creates this class in the first place and then adds it again for every other block type.

[2022-01-27 13:59] cbirdsong commented on #38252
Use of `!important` means this just isn't the case. Previously, I could override `.has-font-size-large` with responsive sizes and now Wordpress overrides it. (#34575)

[2022-01-27 14:00] csalzano commented on #37761
@karmatosed how can I provide the testing needed? Would a link to a repo with a broken icon be sufficient?

[2022-01-27 14:03] shivapoudel opened #38284 "How to connect Nginx Proxy with wp-env?"
Currently I am using [Nginx Proxy Manager ](https://nginxproxymanager.com/) to connect project but didn't found how to connect localhost:8888 with that tool. It is not respecting localhost project for wp-env, if there is solution lemme know, my friend :)

Moreover, I want to connect localhost:8888 to connect with some domain name locally generated!!

[2022-01-27 14:26] #37202 closed, assigned to carolinan

[2022-01-27 14:27] ivanjeremic commented on #6808
I'm a bit confused with this because I thought InnerBlocks are child blocks how would an example of this kind of look like? Thanks.

[2022-01-27 14:47] ndiego opened #38286 "Improve a11y on SVGs throughout Gutenberg"
### Description

This issue stems from the work done in #38152

In many places throughout Gutenberg, we render SVGs with `role="img"` but we do not include an `aria-label`. At first glance this may seem ok because in all instances we also have something like this:

[code]

However in my reading about a11y, I don't believe `aria-hidden="true" focusable="false"` is sufficient here. Since we are incl

[2022-01-27 14:54] aurooba commented on #38286
@alexstine do you have thoughts on this?

[2022-01-27 14:56] mtias commented on #6808
You'd have a `slider` block with an inner blocks area, and then a `slide` block with an inner blocks area. `slide` would be setup so it's the only type available in `slider`. `slider` can have many `slide` blocks.

It's essentially how `columns` and `column` works. Imagine each slide is a single column: https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/column/block.json#

[2022-01-27 15:06] johnstonphilip commented on #38252
It would seem to me that if a theme doesn't have a `theme.json file`, than no `theme.json` things should be rendered on the front-end at all. Does anyone disagree with that? If so, why?

[2022-01-27 15:06] geriux opened #38287 "Gallery block - Adding images creates unexpected Image blocks"
## Description
Currently, there's a bug when adding images to a Gallery, where it would create the gallery itself and Image blocks from those images below the Gallery block. This is an issue happening on **Android only** so it looks like it's a native side bug with media selection.

This issue is happening on the WordPress Android version `19.0` and it affects that version and the on-going release

[2022-01-27 15:28] jonshipman commented on #38078
Same issue present with 20.0.1-next.33ec3857e2.0.

[2022-01-27 15:36] mwhiteley16 commented on #38252
I would agree.

To go further on this specific issue (as noted by Bill in the initial issue), if there is no `theme.json` AND `add_theme_support( 'editor-font-sizes' )` is being used, that should be respected, not overridden.

Seems pretty logical and straight forward.

[2022-01-27 15:36] billerickson commented on #38252
@oandregal For themes that don't have a theme.json file, why don't the font sizes defined in `add_theme_support( 'editor-font-sizes' );` take precedence over the default font sizes in WP core?

[2022-01-27 15:38] webmandesign commented on #38252
@oandregal But isn't this a theme territory anyway? If the theme overrides WordPress styles, maybe it is doing on purpose. WordPress should not force its own styles in my opinion.

In my opinion, the example you've provided seems to be an insufficient design on the theme's side. I personally deal with such things this way in my themes:

[code]

I 100% agree. But it should not be forced by WordPres

[2022-01-27 15:41] gziolo commented on #38078
There is a stable version `v20.0.0` from today which has more changes applied. I guess, the issue will be still present though. We need to investigate that issue.

[2022-01-27 15:42] paaljoachim opened #38288 "Transform Paragraph block into Code block."
## What problem does this address?

As I write tutorials I will multiple times discover that I need to transform from a paragraph block to a code block.
Currently that is not possible.

![Transform to code block](https://user-images.githubusercontent.com/5323259/151392268-c10f3a2a-3081-4b95-8c75-9b0b0a640760.jpg)

## What is your proposed solution?

Add Code to the Transform To drop down list.

[2022-01-27 15:59] alexstine commented on #38286
Maybe just remove:
[code]
and call it done?

CC @joedolson

[2022-01-27 16:01] ndiego commented on #38286
☝️ Yeah that was my thinking

[2022-01-27 16:08] MehbubRashid opened #38290 "Colorpicker onChange event doesn't fire"
### Description

If we bind any event in the onChange property of colorpicker component, the function doesn't fire.

### Step-by-step reproduction instructions

1.) Use the color picker component
2) Bind a function in onChange property
2) The function doesn't fire

### Screenshots, screen recording, code snippet

_No response_

### Environment info

- WordPress Version: 5.8
- Not using gutenberg (

[2022-01-27 16:52] wpfangirl commented on #15097
@hartsook It's never been possible to use the PDF image as the featured image. It doesn't respond to things like `get_the_post_thumbnail()` because you have to use `wp_get_attachment_image()`. To get around that, I've used the PDF Thumbnails plugin (premium), which generates separate images linked to the PDF file.

[2022-01-27 17:00] adamziel opened #38291 "Preserve the navigation on theme switch"
Switching from Twenty Twenty-Two to another block theme resets the navigation.

Technically, it's because the navigation data is stored inside the template parts, for example:

[code]

The next theme is not aware of any customizations made and comes with its own presets. One theme I saw was preset to render a classic menu:

[code]

A different approach would be to infer the location/slug from the

[2022-01-27 17:07] ndiego commented on #38286
From the #accessibility channel on WordPress slack:

The general concensus seems to be that removing `role="img"` is a perfectly valid solution to this issue. I will work on a PR for this later today.