[2021-04-09 17:35] paaljoachim commented on #30637
Block Editor Handbook in its name does also cover the Full Site Editing experience. As FSE would just be a new chapter/section in the Block Editor Handbook. Along with special mentions of the Widget screen, Customizer, Navigation screen, and any other wp-admin screen that gets blockified.

So my suggestion is to keep the name Block Editor as it includes any feature that uses blocks.

It is really

[2021-04-09 17:41] ockham commented on #30478
Ah no, that seems unrelated: `wp-env` only removes the `wp-settings.php` import from `phpunit-wp-config.php`, whereas in the call stack, `wp-settings.php` is imported from (`wp-phpunit`'s) `includes/bootstrap.php`.

[2021-04-09 17:47] ockham commented on #30478
Default theme fallback set here: https://github.com/wp-phpunit/wp-phpunit/blob/fefaaf8d086c0401d887661e21dc9e9afdfc0411/includes/bootstrap.php#L138-L145

[2021-04-09 17:48] jasmussen commented on #30680
Thanks for ticketing this!

On the one hand this seems like a logical extension of the stylesheet being loaded into the site editor iframe, and so the `editor-styles-wrapper` classes of the thumbnail component don't pick up those sandboxed styles.

On the other hand, I could _swear_ this used to be working, not that long ago. @ellatrix do you recall if this broke with the iframe and have been brok

[2021-04-09 17:54] ockham commented on #30478
Maybe this could help? https://github.com/wp-phpunit/wp-phpunit/blob/fefaaf8d086c0401d887661e21dc9e9afdfc0411/includes/bootstrap.php#L177-L188

I.e. using the `wp_tests_options` global to set the theme somehow? We're already using it here: https://github.com/WordPress/gutenberg/blob/3da717b8d0ac7d7821fc6d0475695ccf3ae2829f/phpunit/bootstrap.php#L73-L78

[2021-04-09 18:11] ockham commented on #30478
Yeah, so this seems to do the trick:

[code]

However, that'd mean we'd hard-wire the theme (initially) used for testing to TT1 Blocks. I'm not totally sure that's okay, but I guess it is?

[2021-04-09 18:36] thomashigginbotham opened #30685 "wp-env doesn't include plugin files"
## Description
When using the _.wp-env.json_ file to specify a plugin to install and activate, the plugin's files are not downloaded to the source folder like the default WordPress plugins are (e.g. Akismet).

## Step-by-step reproduction instructions
1. Create a .wp-env.json file with the following:
[code]
2. Run `wp-env start`.
3. Check your files, and notice that a _plugins_ folder has been cre

[2021-04-09 19:00] ockham commented on #30478
PR: https://github.com/WordPress/gutenberg/pull/30686

[2021-04-09 19:04] ockham commented on #30478
Updated the issue description to reflect the findings, and to provide better instructions for reproducing.

[2021-04-09 19:34] Steveb-p commented on #28680
In the upstream library (linked) we weren't able to reproduce the issue with argument escaping.

Could you please confirm that mentioned `run.js` script is affected by the space in path issue?

Your initial description sounds like it's just an assumption, not an actual execution issue, hence my question.

[2021-04-09 19:51] rebeccahum commented on #11373
I'm running into this issue with WP 5.7 currently.  It is reproducible on a local install with the above test steps.

[2021-04-09 20:19] mkaz opened #30688 "InnerBlocks: Create a clickable label or component to add additional context to an inserter"
## What problem does this address?

In #29851 we want to add some additional context to the inserter button for the social links. Using the selected state, and the placeholder prop, we can add the "Add link" text, however we want this text to truly be a label for the inserter so when clicked it will have the same action.

![](https://user-images.githubusercontent.com/1204802/111133059-60b65b00-857

[2021-04-09 20:57] noahtallen commented on #30478
It's definitely weird because we're using the phpunit library instead of the one from core. But it sounds like you figured it out. Related issue about improving phpunit: #23171

[2021-04-09 21:32] noahtallen commented on #28680
I'm working on replicating it on Windows PowerShell (Docker WSL2 backend):

[code]

This replicates the problem instantly. I'm doing more debugging to figure out exactly where this is going wrong!

[2021-04-09 21:42] paaljoachim commented on #6866
It is awesome that people post their Conditional plugins here!
Keep it coming!

Here is one more Conditional plugin. This one focused on a show and hide feature.
This one from @ndiego Nick. WPTavern also wrote about it here:
https://wptavern.com/show-and-hide-content-via-the-block-visibility-wordpress-plugin

[2021-04-09 21:54] ndiego commented on #6866
Thanks for the comment @paaljoachim! Lots of new functionality coming to [Block Visibility](https://wordpress.org/plugins/block-visibility/). If anyone has a feature request, let me know!

[2021-04-09 22:02] Steveb-p commented on #28680
@noahtallen please do note that `start.js` command does not actually run the `docker-compose` npm package. And actually, neither does `run.js`.

[2021-04-09 22:06] noahtallen commented on #28680
Could you clarify that? Maybe I misunderstand what this does: https://github.com/WordPress/gutenberg/blob/9f4c68623f5882f35e8f77edb16792db8e17184d/packages/env/lib/commands/start.js#L4

[2021-04-09 22:11] noahtallen commented on #28680
The problem was a direct call to docker-compose, fixed here: #30692. I should have investigated this further before creating the upstream issue, sorry about that!

[2021-04-09 22:11] Steveb-p commented on #28680
The line in question that you were refering to in the issue description does make direct call to `docker-compose` (that is, docker - not npm) binary.

`run.js` does not make use of `docker-compose` npm package (which threw me off just a second ago). `start.js` does indeed use it, but all those calls should properly work with spaces in directories. Tests done in the library indicate that they shoul

[2021-04-09 22:13] noahtallen commented on #28680
Yeah, we needed to call docker-compose directly in `run.js` to support running bash or other interactive commands inside of the services. IIRC, there were some problems getting it to work right when we did not call it directly.

[2021-04-09 22:16] Steveb-p commented on #28680
It's a long standing issue in the npm lib. We were unable to get interactivity to work, and I'm not a JavaScript specialized developer so I wasn't sure how to approach it. Maybe I'll try again :stuck_out_tongue_winking_eye:

It was after all some time ago and maybe I'll get the streams right this time.

[2021-04-09 22:24] carolinan commented on #29642
The need to add this missing short cut was also brought up during user testing on April 9.

[2021-04-09 22:33] paaljoachim opened #30693 "Buttons Block: Justify right and clicking right button the toolbar goes outside the layout screen,"
## Description
When "Justify items right" and the button moves to the right clicking the right button the toolbar goes outside the canvas/layout area.

## Step-by-step reproduction instructions
Please list the steps needed to reproduce the bug. For example:
1. Add a Buttons Block.
2. Click to Justify items right.
3. Click the right justified button.
4. Notice that the toolbar goes outside of the c

[2021-04-09 22:41] paaljoachim opened #30695 "Discussion: What should take over for the Theme Editor?"
In this issue:
https://github.com/WordPress/gutenberg/issues/29630
@jameskoster is exploring new drop down links within the Appearance menu that is related to Full Site Editing.

![Appearance-themes-screen](https://user-images.githubusercontent.com/5323259/114247465-6e061000-9995-11eb-8032-37c45de42ec7.jpg)

One of the links that is being removed is the Theme Editor the area where one can go direc

[2021-04-09 22:51] noahtallen commented on #28703
Thank you for raising this conversation Bernie; I definitely think it's valuable to talk about. I agree with a lot of your pain points. It is a pain to maintain. It is tricky to know what features to add.

However, I remember back to why this was introduced in the first place, and the reality was that if you wanted to use Docker, you either had to roll your own `docker-compose`, which no one wante

[2021-04-09 23:09] noahtallen commented on #28680
Yeah, it was definitely tricky when I looked into it too. 😬 This is how we handled it: https://github.com/WordPress/gutenberg/blob/cdf70c2692619cc83d25206c2366d0bcbc54f714/packages/env/lib/commands/run.js#L51-L84

I think possibly passing `stdio: 'inherit'` as an option was the important thing.

[2021-04-09 23:29] #30476 closed, assigned to carolinan

[2021-04-10 00:04] celloexpressions commented on #26012
The widget-block editor in the customizer needs to be equivalent to or better than the standalone screen as a prerequisite to considering consolidation. It's not there yet, but the vision could be there. Making a decision along the way would also allow focus on making one interface great.

I'm not convinced that the block editor belongs in a sidebar UI. In fact, I think a modal overlay or inline-p

[2021-04-10 00:08] carolinan commented on #30634
I just noticed that this prompt is also in the post editor. I had not seen this before. I'd like to track back to where this was added to see if there were any related discussions.

![An "Open publish panel" prompt is visible in the bottom right corner of the post editor screen](https://user-images.githubusercontent.com/7422055/114251500-8845eb00-99a1-11eb-942d-eccc4b1e7ec5.png)

As soon as someth

[2021-04-10 00:14] carolinan commented on #29630
I think repurposing the term widgets is a bad idea that will only cause more confusion.
If nothing else, consider how this will effect support when you are trying to describe and solve an issue.

[2021-04-10 00:16] paaljoachim commented on #15406
There is now a new PR by @Mamaduka George here: https://github.com/WordPress/gutenberg/pull/30598

It also tackles the bug in this issue.

[2021-04-10 00:19] carolinan commented on #29630
Also I feel strongly that these UX discussions should be public and not in private discussions.
So when available please provide links to Figma and public slack discussions.

I am asking this because this does affect what issues and pull requests to prioritize, as any fixes to specific areas will be short term and may just be a waste of our time.

[2021-04-10 00:23] paaljoachim commented on #21589
There is a tags PR here that can be tested and commented on:
https://github.com/WordPress/gutenberg/pull/30598

[2021-04-10 00:36] paaljoachim commented on #13282
Test out this new Tags PR https://github.com/WordPress/gutenberg/pull/30598 by @Mamaduka

It should likely fix the bug reported in this issue.

[2021-04-10 00:37] carolinan commented on #30634
It looks like this can be traced back all the way to 2018 https://github.com/WordPress/gutenberg/pull/7552
I really had no idea this prompt existed.

[2021-04-10 00:39] paaljoachim commented on #8867
Check out the new PR here: https://github.com/WordPress/gutenberg/pull/30598
By @Mamaduka

There is a simple way to test a PR. Follow the steps I mention here:
https://youtu.be/eJhgUjrTSF0

[2021-04-10 00:52] joedolson commented on #30634
Huh - I'd never seen that before, either. In the post editor, if you have the sidebar open, it seems to only appear if you tab all the way through the panel; seems pretty messy.

This probably needs some thinking through. When navigating through the block panel, you get a floating skip link panel that shifts focus to the selected block, then this 'open publish panel' block - the two behave similar

[2021-04-10 02:39] carolinan opened #30696 "Feedback: Confusing differences in template width in the editor"
Gutenberg version: Trunk at https://github.com/WordPress/gutenberg/commit/385d88745c0aa4a2f3911f76fc816247102cdd0d
Active full site editing theme: Armando
Template: Single.

**Site editor:**
Header template part is full width.

![site editor](https://user-images.githubusercontent.com/7422055/114255269-a9640700-99b4-11eb-90d9-278e0b507f99.png)

**Accessing template editing via the block editor >Sta

[2021-04-10 03:04] carolinan commented on #30647
I am not sure that is always the case. A link may be clicked by mistake, or it may be clicked because you are attempting to edit the text.

[2021-04-10 07:16] mushlih-almubarak commented on #22861
I had the same problem

[2021-04-10 07:59] manooweb commented on #28668
I created a github repository with a complete example to make the issue easier to test
https://github.com/manooweb/gutenberg-legacy-widget-test

I could start to explore Gutenberg code.

[2021-04-10 08:21] carlomanf commented on #30584
I wasn't saying it would be nice to be able to do it, I was saying it's already fully possible to do it. Can you show any evidence that it's not? The ticket you linked to appears to be about the site editor, which is not what we're talking about here.

That might be a regression? I remember a PR being merged last year that started using the excerpt for descriptions.

[2021-04-10 08:38] carlomanf commented on #30668
There is nothing on a strictly functional level that prevents a template part from working inside a post or page content. It's more a question of protocol, and while most would agree it's a good protocol to leave template parts out of post or page content, that should be left to site administrators to decide. Would there then be a filter or similar that could bring back template parts to the post

[2021-04-10 09:45] dgwyer opened #30697 "Any way to disable the console log comments"
## Description

Although useful, it's sometimes annoying to **always** have the log comments display in the console when the Gutenberg plugin is active.

## Step-by-step reproduction instructions

Install the Gutenberg plugin and open up a page in the editor and view the console.

## Expected behaviour
A way to optionally disable this.

## Actual behaviour
No obvious way to disable this.

## Scree

[2021-04-10 10:32] arcmicro opened #30698 "Classic Gallery conversion to Block Gallery is not done fully."
## Description
When converting from Classic Gallery to Block Gallery the converted Gallery is missing the captions i wrote for images and image size selection, which was available in Classic post.

## Step-by-step reproduction instructions
1. Go to post in backend.
2. Click on Edit (Block Editor)
3. The post appear in editor.
4. then i select the classic content.
5. and then i press Convert to Blo

[2021-04-10 10:37] klokie commented on #29498
I'm seeing what seems to be the same issue presented when following the [recommended practice for replacing editor content](https://github.com/WordPress/gutenberg/issues/28488#issuecomment-767503834), i.e. using `resetBlocks()`.

[2021-04-10 11:05] priethor commented on #30668
Thanks for chiming in! Adding a filter is an interesting approach, although I'm wondering what could be a benefit of adding template parts to posts and pages rather than using reusable blocks, as the latter can be created directly from the post editor, are meant to contain content, and belong to the post context. Template parts are created from the site editor and template editors, more geared tow

[2021-04-10 13:40] paaljoachim commented on #29871
EDIT
**Call the two versions as inspiration on alternative methods for saving, undoing and discarding changes.**

Here is a suggestion for a Save procedure. Where I also incorporate an undo button. (Actually the revisions icon. The proper icon to use would be the back undo arrow icon. Which I thought about when I posted this comment.)

It starts out with just having saved.

Publish panel:
One can

[2021-04-10 14:11] mkaz commented on #30637
Yes, I think you might be right, Block Editor is a generic enough term that it can cover the various editors: Post Editor (it also does Pages), Site Editor, Widgets Editor, Navigation Editor, and probably more to come.

However, the term "Block Editor" has been used consistently since the 5.0 launch to refer to the Post Editor. You can see this in [user documentation here](https://wordpress.org/su

[2021-04-10 14:51] paaljoachim commented on #30637
The "Block Editor" term which has been used up to this point is as you say focused on the Post Editor. As things change the definition will also naturally change.

This also means that talking about the "Block Editor" in relation to example Full Site Editing and other places. One could then mention something like the Block Editor in Full Site Editing, the Block Editor in the Navigation Editor, etc

[2021-04-10 15:30] paaljoachim commented on #30698
Hei @iTesla13

Thank you for creating the issue!

I am testing with WordPress 5.7.
Twenty Twenty One.
Gutenberg plugin 10.3.2.
Chrome

A local site.

Went to a post.
Added a Classic block.
Made a Gallery inside the Classic block.
Converted it to a block.
Captions are lost and the image size setting is also reset.

https://user-images.githubusercontent.com/5323259/114275180-d0a4ed80-9a21-11eb-881c-

[2021-04-10 15:47] arcmicro commented on #30698
Hello @paaljoachim
As you can see in my screenshot for me it even the Image Size Selection is not available after conversion to Gallery Block.
Maybe this is a theme issue but not sure, will test today with default or Astra theme to see if same and post back.
Thank you for your great help!

[2021-04-10 15:54] paaljoachim opened #30699 "Column block: Dropping block into an empty column using a drop zone."
## What problem does this address?

![Column-drop-zone](https://user-images.githubusercontent.com/5323259/114275861-76595c00-9a24-11eb-8552-d871373dc355.jpg)

https://user-images.githubusercontent.com/5323259/114276235-08ae2f80-9a26-11eb-985e-26866d31c030.mp4

Dropping happens "above" the main Column area (It looks like it).

## What is your proposed solution?

Adding a drop zone to the Columns bl

[2021-04-10 16:02] paaljoachim opened #30700 "Columns block: Dropping blocks below existing content."
## What problem does this address?

One can not drop content below the existing Column block content.
One needs to drop above and then use the arrow keys to move the content below.

https://user-images.githubusercontent.com/5323259/114276414-c9341300-9a26-11eb-8270-b16ebfe9fe70.mp4

## What is your proposed solution?

One should be able to drop blocks above OR below the existing content in the Col

[2021-04-10 16:07] paaljoachim commented on #30642
In Full Site Editing.
Using TT1 theme.
WP 5.7
Gutenberg plugin 10.3.2.

I have a Cover block selected.
Checking the Settings Gradient looks like this:

![Screen Shot 2021-04-10 at 18 06 41](https://user-images.githubusercontent.com/5323259/114276588-845cac00-9a27-11eb-9f32-6355b726045d.png)

(I do not have Global Styles open.)

[2021-04-10 16:17] paaljoachim opened #30701 "Site Title block: Not able to remove underline"
## Description
In Full Site Editing.
Site Title block.
I am not able to remove the underline.

## Step-by-step reproduction instructions
1. In TT1 Full Site Editing.
2. Add a Site Title.
3. Notice the underline.
4. It can not be removed.

## Expected behaviour
I expected there to be a way to remove the underline.

## Actual behaviour

This is what I see:

Backend:
![Site-title-underlined](https://

[2021-04-10 16:22] paaljoachim commented on #30698
I noticed that if I had selected for instance Medium for the Gallery images in Classic. On conversion to blocks the images would go to the default Large for blocks. So yes, I too noticed the change.

Btw I would assume the same result would be seen for really any theme.

[2021-04-10 17:14] cpi83 commented on #6824
i have the same issue. The console says cross origin read blocking. How can this be fixed?

[2021-04-10 18:21] kellychoffman commented on #29630
Agree. All links to Figma and discussions are in the comments above. One missing is a conversation that was started yesterday in Slack to discuss https://github.com/WordPress/gutenberg/issues/29630#issuecomment-814729489: https://wordpress.slack.com/archives/C02S78ZAL/p1617963102014400

[2021-04-10 18:26] Quintis1212 commented on #30697
Hi @dgwyer  ) I will try to implement yours enhansement )

[2021-04-10 19:54] celloexpressions commented on #24844
If #26012 goes in the direction of consolidating widgets into the customizer, we should strongly consider doing the same for menus. If it's a separate interface, we should make sure that menu management in the customizer and elsewhere is cross compatible.

The current menu management in the customizer works well in the sidebar. The ability to draft pages while building out a menu is extremely powe

[2021-04-10 23:13] celloexpressions commented on #29630
The features in FSE currently live together in a “site editor.” As #30496 explores, this interface is not a full replacement for the customizer yet. That issue proposes a few potential paths forward, each of which would impact the admin menu structure. A decision should likely be made on that issue before the menu approach is finalized.

There is discussion in #26012 about potentially consolidatin

[2021-04-10 23:33] celloexpressions commented on #30695
Is there a reason that the theme code editor wouldn't work with the new FSE features? The Additional CSS feature in the customizer was envisioned as a potential long-term replacement for the theme code editor. If there is consensus around deprecating the theme file editor, that could be a potential replacement. See [the original feature proposal for more information](https://make.wordpress.org/cor

[2021-04-11 01:10] ZebulanStanphill commented on #27783
@noahtallen I now get a different error, so progress has definitely been made:

[code]

[2021-04-11 01:22] carlomanf commented on #30668
To clarify, I'm not envisioning an ad-hoc filter specifically for this block, but some kind of universal system that controls the block inserter for the different contexts.

There have been many cases where it's been deemed that a given block should only appear in the inserter in certain context(s). This could be within another block (e.g. Column only inside Columns), or it could be only in certai

[2021-04-11 05:12] carolinan commented on #30701
I also noticed this yesterday: The site title is a link, but if I add
[code]
to the experimental-theme.json file, this rule is added only to the heading /p element, not the link.

@paaljoachim Unless you are using TT1 Blocks it is just an ordinary link underline that can be removed with CSS by targeting the class in the element wrapper.

(TT1 Blocks changes this because it is adding the link under

[2021-04-11 07:50] mushlih-almubarak commented on #22861
It seems that this is not only in gutenberg, but I tried uploading it using Elementor and media libraries, but it didn't work either

[2021-04-11 08:46] paaljoachim commented on #30701
I tested again this time using Gutenberg RC 10.4
WP 5.7 and TT1

From what I see the Site Title needs its own link decoration UI control. (Perhaps a link control panel in the sidebar.) Which should be the same on the backend and frontend. As one might want to not have any underlining or other text decoration effects, but still might want to change the hover color for just the Site Title.

https://

[2021-04-11 09:12] Hubdeb opened #30702 "Button Block seems Unremovable"
## Description
The Button Block inside a Group block is non-removable. So after delete, the next time I open the post in the admin, the button appears again. I can probably work around it by starting a group afresh without a button in the setup, but it's better to have it fixed,

## Step-by-step reproduction instructions

## Expected behaviour
No buttonif  it is deleted

## Actual behaviour

## Sc

[2021-04-11 10:26] arcmicro commented on #30698
I have test today with Default 2021 theme and both issues are present.

1. missing images caption i wrote
2. no image size selection settings

[2021-04-11 11:09] andersnoren commented on #30596
Not for themes, I think. At least not any major ones. If the element was changed from a `div` to a `cite`, it might inherit some styles from `cite` that aren't overwritten by `.wp-block-pullquote__citation` specific styles, so the styling of pullquote citations in the block editor might change slightly in themes that have block editor styles. But that seems like a worthwhile tradeoff for consisten

[2021-04-11 11:10] Clorith opened #30703 "WP-Env: XDebug requires configuration to support WSL2"
## Description
When developing on Windows, using WSL2 (a proper Linux kernel running under Windows, so you get native performance gains to web applications for example) is becoming more and more common.

the `@wordpress/env` package by default works great under WSL2, but the xdebug configuration requires special attention.

The current configuration added when the `--xdebug` flag is present adds t

[2021-04-11 12:41] florianbrinkmann commented on #23291
Yes, that seems to fix it @jasmussen!

[2021-04-11 13:24] Micu22 commented on #5240
How to use these php callbacks, what they are?
For now I am using this:
[code]
But I was interested why wasn't it working out-of-the-box for the audio block, that is how I got here.
Is there any plans to make it work?
And currently enqueuing this also enqueues some legacy files for support for IE 9, how can I opt out of this and only enqueue the newest file?

[2021-04-11 15:29] Lewiscowles1986 commented on #5240
Honestly you don't need it or PHP callbacks in 2021. Try to re-imagine what you are doing.

For my own uses https://github.com/CODESIGN2/media-playback-speed now works without mediaelement-js or jQuery, as well as with for legacy systems (you need to provide your own controls to work with HTML5, but there is a declarative convention. It's in the plugin repo & WordPress plugin support channels).

A

[2021-04-11 18:31] rmorse opened #30706 "Query Block - more advanced / multi select query options"
## What problem does this address?
Just adding another perspective to the conversations going on around the query block UI / inspector.

I've been seeing a lot of potential UI options but most focus around the single select options:

- If you want to filter by post type, choose your post type.
- If you want to filter a taxonomy, choose your taxonomy, and choose your term.
- Author, same thing, pro

[2021-04-11 21:04] jerrysarcastic opened #30707 "Heading block: Show all headings under "Change Heading Level" without scrolling"
When adding a heading in Gutenberg, to select the H6 level the user must "side scroll" to see it.  It is not shown in the popover due to the current width not being adequate.  Screenshot:

![Screen Capture on 2021-04-11 at 11-01-11](https://user-images.githubusercontent.com/1967448/114321203-4c9c4580-9ab5-11eb-9d4f-1ee7e033d844.gif)

Possibly a regression?  I see older screenshots of the heading b

[2021-04-11 22:47] glendaviesnz commented on #11373
Thanks for the ping - looks like this is an issue in the core wp media library which the gallery refactor doesn't touch, so the gallery refactor will have the same issue, and any fix in core wp for this will fix the issue in the gallery refactor.

[2021-04-11 22:51] glendaviesnz commented on #30698
thanks @paaljoachim, I have added this to the gallery refactor project board

[2021-04-11 23:55] glendaviesnz commented on #28478
Thanks for the ping @nerrad. This appears to be fixed by #30667, no longer happens after rebasing the gallery refactor PR.

[2021-04-11 23:55] #28478 closed

[2021-04-12 00:27] #30560 closed, assigned to nobody

[2021-04-12 01:17] noisysocks commented on #26154
I agree with @TimothyBJacobs about backwards compatibility needing to be excellent for this to be opt-out and that that it's maybe a bit too soon to make this call. (It is not too early to think about it though!)

If we can't achieve excellent backwards compatibility then I agree with @spacedmonkey. Having the default WordPress themes opt-in to this feature would go a long way as many themes copy

[2021-04-12 01:26] noisysocks commented on #30400
Thanks for the links @celloexpressions.

Agreed.

[2021-04-12 01:32] glendaviesnz opened #30708 "Gallery refactor: Captions from media library not copied to gallery image"
When adding images to the gallery from the media library on [refactored gallery PR](https://github.com/WordPress/gutenberg/pull/25940), if the image has a caption, this is not copied to the gallery block image:

![caption](https://user-images.githubusercontent.com/3629020/114329426-68761900-9b93-11eb-933c-3ec8b2943474.gif)

[2021-04-12 02:56] talldan commented on #30064
@fabiankaegy Would you be able to create a trac ticket for this, as the code is in WordPress core. Thanks.

[2021-04-12 02:56] #30064 closed, assigned to nobody

[2021-04-12 02:58] talldan commented on #30367
@EdwardBock Would you be able to add a screenshot, so that others no what part of the UI this ticket refers to. Thanks.

[2021-04-12 03:04] talldan commented on #30428
Just noting that the related trac ticket has a 'close' keyword added, so we may want to follow suit on this issue:
https://core.trac.wordpress.org/ticket/52956#comment:2

But probably worth seeing how the discussion develops there.

[2021-04-12 03:23] talldan commented on #30470
Thanks for reporting this in the right place.

[2021-04-12 03:31] talldan commented on #30702
@Hubdeb This sounds like a similar issue to https://github.com/WordPress/gutenberg/issues/28217.

Does the comment I left here help you remove the button?  https://github.com/WordPress/gutenberg/issues/28217#issuecomment-761967769

[2021-04-12 03:36] talldan commented on #30618
@napolitano Thanks for reporting this. There's an issue tracking a better way of storing these kind of preferences - https://github.com/WordPress/gutenberg/issues/15105.

I'll close yours as a duplicate.

[2021-04-12 03:36] #30618 closed, assigned to nobody

[2021-04-12 03:37] glendaviesnz opened #30711 "Gallery refactor: Arbutus theme compatibility"
The [Arbutus](https://wordpress.org/themes/arbutus/) theme as a number of incompatibilities with the gallery block refactor as [outlined here](https://make.wordpress.org/core/2021/03/23/gallery-block-update-call-for-testing/#comment-41032).

- .wp-block-gallery.blocks-gallery-grid.has-nested-images figure.wp-block-image img { width: auto; } breaks the layout/widths for some reason
- Custom theme s

[2021-04-12 03:39] talldan commented on #30582
Previously reported in #27166, so will close as a duplicate. Thanks for reporting.

[2021-04-12 03:39] #30582 closed, assigned to nobody

[2021-04-12 03:40] talldan commented on #28818
I see this is already tracked in https://github.com/WordPress/gutenberg/issues/27166, so will consolidate the issues by closing this as a duplicate.

[2021-04-12 03:40] #28818 closed

[2021-04-12 03:49] talldan opened #30712 "Make regular blocks more distinct from template parts in inserter menus"
## What problem does this address?
For the average user who is unaware of full-site editing and just wants to update a post, seeing template parts with similar names to regular blocks may be a confusing experience:
<img width="247" alt="Screenshot 2021-04-12 at 11 43 19 am" src="https://user-images.githubusercontent.com/677833/114337906-92740f00-9b84-11eb-9c7c-d834069215a2.png">

Here, seeing Head

[2021-04-12 03:52] glendaviesnz commented on #30708
Duplicate of https://github.com/WordPress/gutenberg/issues/30196

[2021-04-12 03:52] #30708 closed, assigned to nobody

[2021-04-12 05:34] talldan commented on #15916
My opinion hasn't changed. I still think the classic block is unrelated to the widget editing experience. It exists to provide legacy compatibility for post content, which is something the widget editor isn't concerned with.

It shouldn't be included for the same reason the legacy widget block shouldn't be included in the post editing experience. There are block-based alternatives now.

At least l

[2021-04-12 05:50] EdwardBock commented on #30367
## Close comments after x days

In the discussion settings `wp-admin/options-discussion.php` I can choose to automatically close comments after 14 days for example.

<img width="1104" alt="Bildschirmfoto 2021-04-12 um 07 34 49" src="https://user-images.githubusercontent.com/3862417/114345398-ed483f00-9b61-11eb-907d-b8098ffac884.png">

## In Gutenberg editor

After 14 days pass by I can still check

[2021-04-12 06:19] carolinan commented on #30701
So this is a duplicate of https://github.com/WordPress/gutenberg/issues/23011 ?

[2021-04-12 06:24] noisysocks commented on #26179
@shaunandrews: What should happen if you click away after typing into the form? Should the changes stay (equivalent to clicking _Apply_) or should the changes go away (equivalent to clicking _Cancel_)? Maybe we ought to stick with _Done editing_ so that there can be no confusion?

[2021-04-12 06:28] noisysocks commented on #26179
@shaunandrews: Could you link me to the Figma for that mockup so that I can measure paddings, font sizes, etc.?

[2021-04-12 06:32] carolinan commented on #30695
This menu item is still needed and should not be removed.
Adding new CSS only is not the equivalent to editing theme files.

There are theme files that are not related to templates or CSS like a functions.php file that is needed to include other functional files like:
register block patterns
register block styles, enqueue CSS for the block styles -_Block style CSS can not be created using theme.js

[2021-04-12 06:38] jasmussen commented on #27593
Checked off #29437 thanks to @gwwar's work!

[2021-04-12 06:57] carolinan opened #30716 "Feature request: Click to insert new columns when there is only one column"
## What problem does this address?

This was suggested during a contributor day at Yoast on April 9;

_It would be nice to be able to add a column by clicking the + in the columns block also when you only have 1 column._

The option to click to add new columns is only available when there is more than one column.

## Screenshots

With more than one column:
![Add column option is visible](https://u

[2021-04-12 06:57] tellthemachines commented on #15916
I agree with @talldan that we should leave the Classic block out at least for version 1.

[2021-04-12 07:00] talldan commented on #30367
Thanks, that's a really helpful addition to the ticket 👍

[2021-04-12 07:01] jasmussen commented on #30503
Question, as the new system is getting integrated, does it make sense to rename `--wp-g2-` prefix to simply `--wp-`, to match existing values?

[2021-04-12 07:10] paaljoachim commented on #15916
Those are good points, Dan!

[2021-04-12 07:13] Moooartin opened #30718 "Media & text: filter `render_block` missing link attributes (href, rel and classes)"
## Description
The attributes passed to filter `render_block` for `core/media-text` block are missing the link attributes if it is inserted.

## Step-by-step reproduction instructions
Add a media-text block, then insert a link through the toolbar, modify or not the options.
Use the `render_block` filter to see the block arguments.

## Actual behaviour
Using `render_block` the only new attribute av

[2021-04-12 07:29] jasmussen commented on #23291
Cool, thanks for testing. I'll request some reviews on that PR!

[2021-04-12 07:36] andrewserong commented on #29243
Possible fix in: https://github.com/WordPress/gutenberg/pull/30717

[2021-04-12 07:37] talldan commented on #25181
It seems like this is still a bug as discussed in slack, so reopening:
https://wordpress.slack.com/archives/C01KDAZJMQ9/p1618209525004800

I think the middleware works for REST API requests, but doesn't work for the Customize ajax request that's being used temporarily by the screen to save menu items.

[2021-04-12 07:37] carolinan opened #30719 "Feedback: Color options could be grouped for better consistency"
## What problem does this address?

This was brought up during a contributor day at Yoast on April 9;
When a block has a link color option, the color options in the block settings sidebar are displayed in the following order:

Text color
Background color
Link color

And when a block has a link color option but no text color option, the order is
Background color
Link color

## What is your proposed

[2021-04-12 07:45] ntsekouras commented on #30508
Hey 👋 - just keep in mind the the pattern integration is still experimental and is being worked on with the various issues/PRs about this, like patterns in Placeholder, transforms etc..

Latest update is that the experimental `scope` was removed and `blockTypes` has taken its place (https://github.com/WordPress/gutenberg/pull/30471). The rationale behind this is that every pattern should be availa

[2021-04-12 07:45] talldan opened #30720 "Blocks in Widget Customizer: Block toolbar not visible at small screen sizes."
## Description
This sounds like the same issue as experienced in the navigation editor (https://github.com/WordPress/gutenberg/issues/28875), the new widget experience is missing the 'fixed' version of the toolbar.

For this screen, we may want the fixed toolbar to appear just under the fixed customizer options (cc @critterverse):
<img width="348" alt="Screenshot 2021-04-12 at 3 40 38 pm" src="htt

[2021-04-12 07:52] carolinan commented on #30109
This was also mentioned during user testing on April 9.

[2021-04-12 07:53] maddisondesigns commented on #15916
I disagree. If a particular Block is supported in the main Block editor, then it should be supported everywhere. Telling users that you can use certain types of blocks in one part of the editor, but you can't use them in another part of the editor, makes for a really poor user experience, and is only going to confuse users even further.

[2021-04-12 07:54] Micu22 commented on #5240
That's a good idea, I actually don't care about shortcodes I am only trying to style the audio block. After looking at audio element API I have decided to code my own player.
I am willing to help coding a plugin for that, but I am a relatively new programmer and I don't think I could make it a versatile plugin myself, until now I was only coding plugins for single-site use.
Btw. your little plugin

[2021-04-12 08:03] #30278 closed, assigned to nobody

[2021-04-12 08:15] rmorse commented on #26316
Just thought I would add on here some ideas about the query building UI - and if we decouple the this from FSE, does that introduce new use cases.

Would it be safe to say, users of FSE are advanced users, and therefor can handle more advanced query controls (and possibly *need* them)?

And would it be a fair assumption that blocks available for general use (ie intalled everywhere), might *need* t

[2021-04-12 08:20] aristath commented on #29630
My 2c would be to leave the customizer out of it...
Personal opinion follows:

The site-editor is not a replacement for the customizer, nor is global-styles. They are just different interfaces, for different scenarios and use-cases. The fact that we have a UI in the customizer for editing some options doesn't mean that everything should be in there... not when we now have a UI that fits better wit

[2021-04-12 08:24] jasmussen commented on #30682
Great ticket, thank you. Fixed in #30721.

[2021-04-12 08:28] JustinyAhin opened #30722 "Paragraph block drop card disappears when editing the text"
This issue was originally reported by @benvaassen

## Description
Paragraph block drop card disappears when editing the text.

## Step-by-step reproduction instructions
1. Create a new page / post
2. Add a paragraph block and some text inside
3. Enable the **Drop cap** option in the block options panel.
4. Start editing the content of the paragraph block

## Expected behaviour
The letter in cap sh

[2021-04-12 08:30] andersnoren commented on #27831
I can reproduce the issue in Gutenberg 10.3.2 on WordPress 5.7, when editing a footer template part in the site editor and when editing the content of a page in the block editor. Running Safari.

[2021-04-12 08:33] talldan commented on #28123
Yeah, I think the template should be locked down for widget areas, so the bug might be that the indicator is displaying in locked template areas.

[2021-04-12 08:34] carolinan opened #30723 "Site editor: Error when removing navigation block with backspace"
## Description

This was reported by multiple users during a contributor day at Yoast on April 9.
_I removed the navigation with my Backspace button, and got this error: This block has encountered an error and cannot be previewed._

I have confirmed that this issue only happens in the site editor, not the post editor. JS errors below.

## Step-by-step reproduction instructions

Please list the ste

[2021-04-12 08:52] lgersman commented on #24772
It's not a solution for this issue, but accessing the `wp-env` Database using common mysql tools like

- mysqldump
- mysql client

can easily done using `docker-compose`.

Since the `wp-env` generated docker-compose file already provides the database password and database name, you only need to
 use docker(-compose) `exec` functionality.

Some examples (directly from my Linux terminal) :

- dump w

[2021-04-12 08:58] carolinan opened #30724 "Feedback: Width options and icons are unclear"
During a user testing session on April 9, following the FSE outreach program [testing call #4](https://make.wordpress.org/test/2021/03/25/fse-program-testing-call-4-building-a-restaurant-themed-header/), users worked with the columns block in the site editor. Several users described that the options for wide and full with alignments are unclear.

- It is not obvious that an icon with a black backg

[2021-04-12 08:58] talldan commented on #15916
The classic block isn't a fully fledged block as such. An example is that it doesn't have block comment delimiters for its HTML. It's shown as a block in the UI only as this is a handy way to display freeform non-block post content within a block-based editor.

Widgets don't have this problem since all former content in widget areas is already neatly parcelled into widgets. It's easier to convert

[2021-04-12 09:02] carolinan opened #30725 "Feedback: It is confusing that adding background color also adds padding."
During a user testing session on April 9, several users asked why adding a background color to a block also adds padding, this result was unexpected for them.

Comments included:
_Coloring the background of my text, the text automatically moves to the right. I can’t get it back._

_Why does the column change size when changing the color in the settings? At least it definitely seemed like it happen

[2021-04-12 09:04] talldan opened #30726 "Blocks in Widget Customizer: Block editor doesn't load for some themes"
## Description
When testing out some themes (Twenty Nineteen, Twenty Seventeen), the block based widget customizer isn't loading for me.

In the console, there's an error:
[code]

It seems that `wp.customize` (the object that has the `Section` property) is `undefined` causing initialization to fail.

## Step-by-step reproduction instructions
1. Enable the blocks in widget customizer experiment
2.

[2021-04-12 09:07] carolinan opened #30727 "Feedback: Site block text options are inconsistent"
During a user testing session on April 9, users expressed that it is confusing that different blocks have different text options.

Feedback included:
_Confusing: The H1 has a Letter case option, but the tag line has none. _(H1 refers to site title)_
Confusing: The H1 does not have the Letter case default configuration selected. _(H1 refers to site title)_
I cannot do bold or italic on the tagline.

[2021-04-12 09:08] JustinyAhin opened #30728 "When the screen width is not large enough, the blocks toolbars can exceed the editor's container"
This was reported by a user during a contributor day at Yoast on April 9.

## Description
When the screen width is not large enough, the blocks toolbars can exceed the editor's container.
This happens for instance when both the inserter panel and the block options panel are opened, and the block is near the right side of the screen.

## Step-by-step reproduction instructions
1. Create a new page /

[2021-04-12 09:09] jameskoster commented on #30695
Since Templates, Styles, Header, Footer etc can each be considered aspects of theme editing, might it be worth changing the label on this menu item? I worry that the "Theme Editor" link might inadvertently lure newer users to an unnecessarily advanced (and potentially dangerous) UI rather than the newer (user-friendlier) alternatives.

Perhaps something like Appearance > Advanced, or Appearance >

[2021-04-12 09:27] dhruvkb commented on #30523
Reproduced. Currently the filter logic (defined in `ComboboxControl`) is to filter by the `label` attribute on all options passed to it.

https://github.com/WordPress/gutenberg/blob/a4e1eb44f30027830bcef8ae1c2e3d099f6ee36a/packages/components/src/combobox-control/index.js#L71

In the case of parent page selector, this contains the page title.

https://github.com/WordPress/gutenberg/blob/a4e1eb44f3

[2021-04-12 09:31] carlomanf commented on #15916
[A comment that I left on another issue](https://github.com/WordPress/gutenberg/issues/30668#issuecomment-817230979) might be relevant to this discussion.

On another note, isn't there a widget that is identical to the Classic block? It used to be called the "Black Studio" widget before being merged to core a few years ago. Perhaps that widget could somehow be re-badged as the Classic block in thi

[2021-04-12 09:36] javierarce commented on #30426
The button would be placed at the bottom of the screen, right?

I agree with you about not needing the accordion and the text around. I'd go for the last option you suggested and update the alert box to remind the user there's no undo: "Are you sure you want to delete this menu? This action cannot be undone"

[2021-04-12 09:38] andersnoren opened #30730 "Site Title block: Ability to prepend/append text to the title, clarify consequences of changing the site title"
## What problem does this address?
Many websites display text around the site title, especially in the site footer. For example, on GitHub, the footer title has a copyright character and the current year displayed before the name of the site:

<img width="167" alt="image" src="https://user-images.githubusercontent.com/8181091/114365688-fbef2000-9b7a-11eb-869f-28a8f94ec63b.png">

In Twenty Twenty,

[2021-04-12 09:48] carolinan opened #30732 "Style changes made to template parts are only applied to one page"
During a user testing session on April 9, following the FSE outreach program [testing call #4](https://make.wordpress.org/test/2021/03/25/fse-program-testing-call-4-building-a-restaurant-themed-header/), users worked with the header template part in the site editor.

Several users described that when they changed the colors of the header (template part) and saved, the change was only visible on th

[2021-04-12 09:54] jameskoster commented on #29630
That's a good point.

I'm hesitant to throw another name in to the mix since we already have so many, but it is perhaps unavoidable. Even if we combined general template parts with top level (index etc) templates, a label would still be required in order to provide any kind of filtering.

Thinking semantically, something like "Template Sections" (or just "Sections") might work?

In this case the "

[2021-04-12 09:55] andrejcremoznik opened #30734 "Relative CSS units used in front-end, absolute in block editor"
## Description

From trac: https://core.trac.wordpress.org/ticket/52763

` .has-large-font-size` and `.has-small-font-size` are core CSS classes. On front-end, the font-size uses `em`s while in the editor, the units are in `px`.

If the cascaded `font-size` is `16px`, then it's not a problem but anything else obviously breaks everything if your goal is to visually match front-end and editor.

This

[2021-04-12 10:03] david-szabo97 commented on #30580
Any other instances that we can investigate? I ran the test file locally like 6 times and never failed. The 500 error is indeed related. Maybe there was a change that broke the site editor, or there was a change on WordPress develop branch that broke it a short time. I don't think this is related to the test file you mention here, it just happened to fail there for some reason because the site edi

[2021-04-12 10:03] maddisondesigns commented on #15916
The only people who know this are developers who work on Gutenberg. It's completely irrelevant to your "everyday" WordPress user (i.e. the other 99%+ users of WordPress). As far as they're concerned, it's no different to any other block and as such, it should be treated the same.

[2021-04-12 10:07] gziolo commented on #30082
I think we are aligned, let's make it happen 👍🏻

[2021-04-12 10:08] carolinan opened #30735 "List view does not update until autosave triggers"
## Description

Originally reported by @hedgefield.

When you change the number of columns in a column block, the list view does not update until the autosave is triggered, this is confusing.

## Step-by-step reproduction instructions

Please list the steps needed to reproduce the bug. For example:
1. Activate a full site editing theme.
2. In the site editor, add a column block
3. Open the list vi

[2021-04-12 10:16] javierarce commented on #30581
@annezazu @jasmussen do you want me to open a new ticket for this or is it ok to use this one to report the problem?

[2021-04-12 10:25] carolinan commented on #26036
The font sizes in the drop down used to match the number of pixels that were assigned to that font size.
But this broke the drop down because a size of 140px doesn't fit.

So if I understand correctly now, it would be better if all the text in the drop down is displayed with the same size.

[2021-04-12 10:26] ntsekouras commented on #30580
I'm closing this for now as it can't be reproduced and seems related to some `site editor` failure to load. Please feel free to reopen if needed.

[2021-04-12 10:26] #30580 closed, assigned to nobody

[2021-04-12 10:30] carolinan commented on #29398
This feedback was received during user testing at Yoast on April 9:

_It’s confusing that the Preview option is still not a real preview, there’s all the extra padding from the block editor that distorts how the page would look to visitors. I don’t see an easy way to view the actual page as it renders on the frontend._

[2021-04-12 10:32] jasmussen commented on #30581
Oh, thanks for the ping! This seems like one that I should just go ahead and fix as is, no need for new tickets. I can't today, but I'll put it on my list for tomorrow.

[2021-04-12 10:40] carolinan commented on #29529
This feedback was received during a contributor day at Yoast on April 9:

_I’m not sure how I can exit the Site Editor. The W menu opens the templates sidebar, that usually takes me out to the admin. There’s no clear Exit option otherwise. Ah, I clicked backwards a few times at the top of the W menu and then there’s the option to go to the Dashboard I guess._

[2021-04-12 10:59] #30665 closed, assigned to ntsekouras

[2021-04-12 11:10] manooweb commented on #28668
🤔 My example works fine with Gutenberg 10.3.2 but not with the trunk.
We've lost the hidden fields I mentioned in the description of the issue
[code]
So the script can't find anymore the checkbox fields because there are based on the `widget-id` field value.

Is there something I missed ? Is there something has been changed since the 10.3.x release ?

[2021-04-12 11:25] crs1138 opened #30736 "E2E Test Utils – Hardcoded administrator user/password"
## Description

The default administrator user used for E2E testing is hardcoded as `user: admin` and `password: password` in the [config.js](https://github.com/WordPress/gutenberg/blob/trunk/packages/e2e-test-utils/src/shared/config.js). This gets automatically used by the testing suite if the current user is anything else but `admin` as you can see in `switchUserToAdmin()` at [switch-user-to-adm

[2021-04-12 11:29] david-szabo97 commented on #28194
@jameskoster Is this safe to close? #28141 added an undo action in the snackbar.

[2021-04-12 11:36] carolinan opened #30737 "Feedback: The sidebars in the site editor are confusing. Options are difficult to find."
During user testing on April 9, several users tried to follow the instructions from the FSE outreach program calls for testing, but
the tasks failed because the sidebars, mainly the global styles sidebar and the block settings sidebar, got mixed up.

Several users tried to change colors of the site title, but were not able to because:
- The block settings sidebar did not open when they selected th

[2021-04-12 11:40] Lewiscowles1986 commented on #5240
Thanks @Micu22 When you say you want to code your own player, perhaps open a new repo and tag me in an issue, so we don't fill up mentions of people on this closed issue? it's `@Lewiscowles1986` and I'll get notified of the tag.

[2021-04-12 12:05] JustinyAhin opened #30738 "Site tagline should have options to make the text bold and italic"
This was reported by a user during a contributor day at Yoast on April 9.

## What problem does this address?
The site tagline is basically a paragraph which display the tagline. So, it makes sense that it has the options to make it bold and italic, like paragraph block.

## What is your proposed solution?
Add options to make site tagline bold and italic

[2021-04-12 12:09] carolinan commented on #30727
Related https://github.com/WordPress/gutenberg/issues/30738

[2021-04-12 12:17] gziolo opened #30739 "Blocks: Make it more flexible to match the currently applied block variation"
## What problem does this address?

It is possible to define multiple variations of the same block. Users can see in the UI a title, description, or icon if the currently applied block variation implements `isActive` callback and it returns `true`.

See more in: https://github.com/WordPress/gutenberg/blob/trunk/docs/reference-guides/block-api/block-variations.md

However, it looks like the majorit

[2021-04-12 12:18] DaisyOlsen commented on #30637
I've been pondering this topic for a bit, as I have been thinking quite a lot about the structure of the developer docs for block themes. I don't have any conclusions, but I have some thoughts taking shape.

One challenge I'm seeing with several areas related to developing for the block editor is that end user docs feel like dependencies to code reference docs. In a lot of cases, using the editor

[2021-04-12 12:21] carolinan opened #30740 "Use the block name in the "remove block" text in the toolbar setting"
This was suggested during a contributor day at Yoast on April 9;
_When I want to delete a column it’s called "remove block" instead of "remove column". It would make more sense to have the same name._

[2021-04-12 12:24] TomLewis commented on #17879
Why hasn't this been added yet?

[2021-04-12 12:26] carolinan commented on #30711
Pinging @celloexpressions in case you missed this

[2021-04-12 12:43] carolinan commented on #30737
Related:
https://github.com/WordPress/gutenberg/issues/29461
https://github.com/WordPress/gutenberg/issues/29372

[2021-04-12 12:46] carolinan commented on #30233
This feedback was given during user testing on April 9 as well:

_Confusing icon - is very similarly to a ‘location’ icon in Google maps._

[2021-04-12 12:47] aristath opened #30741 "[Feedback] Navigation Component doesn't reflect what is currently edited"
## Description

Came up as feedback during an internal contributors day at Yoast, by users testing FSE.
The "Content" section in the main navigation was a source of a lot of confusion and frustration, nobody understood exactly how it works and explaining it was troublesome. If we need to spend 10 minutes explaining what the menu does, then we're doing something wrong...

## Step-by-step reproducti

[2021-04-12 12:53] deborah86 opened #30742 "Add Checkbox in Link Panel to Set Links as nofollow"
## What problem does this address?

It is difficult to set links as nofollow. The user has to edit as HTML to make the adjustment.

## What is your proposed solution?

My proposed solution is to have a checkbox in the link panel under the "Open in New Tab" option that lets users set their links as nofollow.

![image](https://user-images.githubusercontent.com/12677420/114402258-7eb2b380-9b58-11eb-8

[2021-04-12 12:57] raaaahman commented on #25181
To add details to the issue:

- Tested with a clone of `WordPress/gutenberg`, commit `27f935` (10.4.0-rc.1) as well version 10.3.2 installed through WordPress plugin repository.
- URL of the website (LAMP virtualhost) is: `http://localhost/wordpress-5`
- With the _Gutenberg > Experiments > Enable Navigation Screen_ option checked.

When clicking on the `Save` button in _Gutenberg > Navigation (bet

[2021-04-12 13:05] carolinan commented on #29436
The styling of block patterns and block styles are missing from the previews in the site editor when I use either Chrome or Firefox.

[2021-04-12 13:05] JustinyAhin opened #30743 "Dragging the navigation block causes errors"
This was reported by a user during a contributor day at Yoast on April 9.

## Description
Dragging the navigation block around the editor causes errors

## Step-by-step reproduction instructions
1. Create a new page / post
2. Add a navigation block and menu items
3. Add others blocks as paragraphs
4. Try to drag the navigation block to another location

## Expected behaviour
The block should be in

[2021-04-12 13:15] javierarce opened #30745 "Navigation editor: it shouldn't be possible to add a menu to itself"
Currently, it's possible to create a menu and add it to itself when selecting the menu from the "Existing menus" dropdown.

I think this could be a minor bug since the backend seems to ignore the recursion, returns a 200 status, and the menu doesn't get broken.

## Step-by-step reproduction instructions

1. Create a menu using the Navigation (beta) option in Gutenberg.
2. Click on the placeholder.

[2021-04-12 13:27] deborah86 opened #30746 "Search Block: Change Button Position Does Not Show Indication of What is Selected"
## Description

The change button position on the search block doesn't show any indication of what option is selected.

## Step-by-step reproduction instructions

1. Add a search block to the editor
2. Select either no button, button inside, or button outside,

## Expected behaviour

The icon of the selected option to have a dark background to indicate that it has been selected.

## Actual behavio

[2021-04-12 13:28] jasmussen commented on #30637
Lots of thoughts here. A few high level thoughts:

- The editor is called the block editor. Whether it's used inside the post editing screen, or the site editing screen.
- We naturally refer to the post editor as the post editor, but the term isn't actually surfaced in the UI. There, it's "Add New Post".
- It's possible in the future that there won't be a separate Site Editor menu item, even for b

[2021-04-12 13:35] critterverse commented on #26179
@noisysocks Clicking away after typing should be the equivalent of clicking Cancel. This is similar to the way cropping tools work on an image block:

https://user-images.githubusercontent.com/77359364/114402782-2a1c3200-9b72-11eb-8866-5a4b27fb1b5b.mov

If you don’t apply the changes and click away, the legacy widget should go back to its pre-edited, unselected state.

Figma file is [here](https:/

[2021-04-12 13:51] deborah86 opened #30747 "Search Block: Add More Styling"
## What problem does this address?

It is difficult to style the search block to match certain aspects of a theme.

## What is your proposed solution?

Add additional options to customize the search block:

**Search Bar**
- Color Settings
- Border Settings

**Button**
- Fill and Outline Styles
- Color Settings
- Border Settings

![image](https://user-images.githubusercontent.com/12677420/114405345

[2021-04-12 13:53] deborah86 commented on #30096
I would like to see this too.

[2021-04-12 13:54] ntsekouras commented on #30647
One thing that is causing this is the `css-in-js` usage that doesn't play well in `site editor`, due to the `iframe` used (see: https://github.com/WordPress/gutenberg/issues/30553).

This is a general problem that applies here because `Query` block is using `Disabled` component and the css-in-js is not loaded. Besides the main css-in-js and iframe issue, some tweaks will be needed to apply `hover`

[2021-04-12 13:56] sarayourfriend commented on #30503
@jasmussen Yes I think ultimately that should be the goal. For now the new style system, as it is integrated, has the `--wp-experimental` prefix:

https://github.com/WordPress/gutenberg/blob/b53c5e51fdb0db517f71eb80740cf698db344b5b/packages/components/src/ui/create-styles/create-style-system/constants.js#L4

[2021-04-12 14:05] priethor commented on #30746
Thanks for reporting @deborah86 ! I can reproduce this issue with Gutenberg 10.4-RC1 as well.

[2021-04-12 14:08] shaunandrews commented on #30426
Sounds good to me.

[2021-04-12 14:14] deborah86 opened #30751 "Table Block: Background Color Styles from Theme not Showing"
## Description

The correct background colors from the theme are not present. It is just showing general background colors.

## Step-by-step reproduction instructions

- Insert a table
- Click on the tab for the block styles
- Click on the color dropdown

## Expected behaviour

I expect to see the background colors from the theme.

## Actual behaviour

Only 4 background colors are shown. They are

[2021-04-12 14:22] jameskoster commented on #28194
Yes 🎉

[2021-04-12 14:22] #28194 closed

[2021-04-12 14:35] Mamaduka commented on #30299
I was able to reproduce the issue with Gutenberg 10.3.2 and Safari 14.0.3.

Unfortunately, I'm not 100% sure what the next steps of debugging should be.

[2021-04-12 14:44] deborah86 opened #30753 "Column Block: Add More Styling"
## What problem does this address?

It is difficult to make the column block look nice without using additional CSS.

## What is your proposed solution?

### Color options for a single column
There are no options to change the color of an entire column. The only option is to change the color of either the blocks within the column or the entire color itself.

![image](https://user-images.githubuser

[2021-04-12 14:49] jameskoster commented on #30029
Is there any reason not to use the WordPress logo for the Site Logo block preview (when no logo is set of course)?

<img width="688" alt="Screenshot 2021-04-12 at 15 48 54" src="https://user-images.githubusercontent.com/846565/114414359-a597d680-9ba6-11eb-90ac-a4a2818e5e47.png">

[2021-04-12 14:49] skorasaurus commented on #30742
Hi,

Thanks for reporting;
This has been discussed and/or requested in https://github.com/WordPress/gutenberg/issues/13542. Feel free to [add your reaction](https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/about-conversations-on-github#reacting-to-ideas-in-comments) and follow its progress in the issue.

In the mean time, the yoast SEO plugin and [the editorskit plugin

[2021-04-12 14:49] #30742 closed, assigned to nobody

[2021-04-12 15:03] deborah86 commented on #29167
I would also like to see this.

[2021-04-12 15:07] deborah86 opened #30754 "Add a Contact Form Block"
## What problem does this address?

This is frustrating because a lot of blogs use forms as a way to communicate with users. There is no basic form block that adds a contact form to the website. There are only a handful of plugins that add a contact form to a website. This is something basic that should come with WordPress.

There is not a native form block in WordPress.

## What is your proposed

[2021-04-12 15:08] skorasaurus commented on #30751
Hi,

Thanks for reporting;
This has been discussed and/or requested in https://github.com/WordPress/gutenberg/issues/19659. Feel free to [add your reaction](https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/about-conversations-on-github#reacting-to-ideas-in-comments) and follow its progress in the issue.

[2021-04-12 15:08] #30751 closed, assigned to nobody

[2021-04-12 15:11] Mamaduka commented on #30249
I was able to reproduce the issue in Chrome by adding more blocks to the `template.`

It's more consistent in Safari, especially when using "Spotlight mode." In Chrome, delay happens once out of every 5 or 10 selections.

[2021-04-12 15:15] deborah86 opened #30755 "Embed Blocks: Unify the Styles for the Embed Block Icons"
## What problem does this address?

The icons for the Embed blocks are terrible to look at. There are too many different styles and colors. The icons are different sizes. It looks terrible.

## What is your proposed solution?

Pick a style for the embed block icons and stick with a single style. Create style guidelines for new embed blocks.

![image](https://user-images.githubusercontent.com/12677

[2021-04-12 15:17] Soean commented on #30754
Hey @deborah86,
thanks for opening this feature request. We already have a ticket about this feature, see #21443. So I am closing this one, please use the existing one for further discussions.

[2021-04-12 15:17] #30754 closed, assigned to nobody

[2021-04-12 15:28] skorasaurus commented on #9124
here are the ones that still need icons as of today:

Cloudup
Crowdsignal
Imgur
Issuu - probably no longer applicable; requires pro account to embed now.
Kickstarter
Meetup
Mixcloud
ReverbNation
Screencast
Scribd
Slideshare
SmugMug
SoundCloud
Speaker Deck
TED
VideoPress
WordPress.TV

[2021-04-12 15:30] gwwar commented on #30739
One thing I found a bit awkward was needing to define `isActive` per variation. Do we have an existing use case where we needed a different check on one variation but not another in the list? By default I think most variations in a list would use the same comparison. Since variations is an array, perhaps this was to avoid another top level item in settings?

Do you mean that if we're passed an arr

[2021-04-12 15:34] deborah86 opened #30756 "Button Block: Gap Not Showing When Inserted into Form Block in Editor"
## Description

The button block does not show the gap between two blocks inserted side-by-side when you are in the editor view if you place them in a column. The blocks are not aligned correctly in the editor.

## Step-by-step reproduction instructions

1. Add a column 50/50
2. On one side of the column add text
3. On the other side of the column add a button block
4. Add a second button block ne

[2021-04-12 15:46] manooweb commented on #28668
I think we've lost something since the #29960 iteration
What it was done here https://github.com/WordPress/gutenberg/blob/v10.3.2/packages/edit-widgets/src/blocks/legacy-widget/edit/dom-manager.js#L100-L131
seems to no longer exist.
Or I didn't see by what it has been replaced 🤔
https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/legacy-widget/edit/form.js#L23-L155

[2021-04-12 15:52] Sandstromer opened #30758 "Site Editor: use of 'default_template_types' filter removes 404 title & description"
## Description

When making use of the `default_template_types` filter - e.g. to rename template or give a custom template a pretty name/description - the _title_ and _description_ of the 404 template is removed.

## Step-by-step reproduction instructions

In a theme's functions.php file, add a filter to give the 'page-home' (a custom TT1-Blocks page template) a nice title and description:
[code]

[2021-04-12 15:59] deborah86 commented on #12168
I am also experiencing this issue.

[2021-04-12 16:05] deborah86 commented on #23288
The image block for me is resizing when using the alignment settings. I did not manually resize the image. I just placed a new image block. The only setting I changed was the image alignment.

[2021-04-12 16:05] jameskoster commented on #30029
I worked on designs for the text-based site blocks in [figma](https://www.figma.com/file/xMD1TfdiAl6nmS9opIlUya/Site-building-block-placeholders-previews?node-id=0%3A1). I removed the Post Comments Form, Query, and Template Part blocks from the OP for now as they are bit more complex and I suspect they will need dedicated issues to explore in detail.

### Site Logo
<img width="883" alt="Screenshot

[2021-04-12 16:08] nick6352683 opened #30759 "The Matrix Alignment Control Component toolbar icon does not show up in ACF Pro blocks after Gut. v10.3.0 update."
ACF pro has added support for the Matrix component from the beginning and it worked like a charm, until Gutenberg 10.2.1.

When updating Gutenberg to v10.3.0 or newer, the Matrix Alignment Icon on the toolbar for the ACF Pro created blocks simply does not show up.

This is how ACF Pro is referencing the component:

const BlockAlignmentMatrixToolbar = ( wp.blockEditor.BlockAlignmentMatrixToolbar ||

[2021-04-12 16:19] Sandstromer opened #30761 "Feature request: Global Styles - allow modifying alignment widths"
## What problem does this address?

In FSE global styles, it is possible to edit the typography and colors but some styles such as alignments are not available for editing.

## What is your proposed solution?

Open up global styles editing to more styles such as alignments, for example in TT1-Blocks theme, _contentSize_ is _610px_ and _wideSize_ is _1240px_.

Users should be able to change these a

[2021-04-12 16:29] pansamolot commented on #17879
@TomLewis, what hasn't been added? I definitely see this is available:

![image](https://user-images.githubusercontent.com/60975060/114428712-cff48e80-9bbc-11eb-9e1c-86a4dd511d5b.png)

And it was there since at least 2-3 past versions.

The only problem is that this is not supported by any keyboard shortcut, which makes this feature very unhandy. But, I believe that this is area of some other tick

[2021-04-12 16:31] jameskoster opened #30762 "In the Edit Content -> Edit Template flow replace the Document tab with Template tab"
When moving directly from editing a post or page to editing its template the Document tab currently remains unchanged.

https://user-images.githubusercontent.com/846565/114428101-b0a53380-9bb3-11eb-9b77-70dcdba5552e.mp4

Lets replace the "Post" / "Page" tab in template editing view with the "Template" tab from the site editor.

https://user-images.githubusercontent.com/846565/114428995-c6ffbf00-9b

[2021-04-12 16:40] TomLewis commented on #17879
Oh what, why can't I see that! Let me try disabling and re-enabeling. Is there a way to reset or re initialize the plugin?

[2021-04-12 16:44] Hubdeb commented on #30702
Yes, I wasn't aware of the container. Removed it and the bug has disappeared. Thanks for the quick reply.

[2021-04-12 16:44] #30702 closed, assigned to nobody

[2021-04-12 16:44] annezazu commented on #30747
@deborah86 thanks so much for opening this up! I'm going to close this out though as this is currently being tracked in this issue: https://github.com/WordPress/gutenberg/issues/22071 If you believe this issue should still be open though, just let me know :)

[2021-04-12 16:44] #30747 closed, assigned to nobody

[2021-04-12 16:50] #29222 closed

[2021-04-12 16:52] pansamolot commented on #17879
Make sure that you have the newest version of the plugin. Make sure that you have **Gutenberg as a separate plugin**:

![image](https://user-images.githubusercontent.com/60975060/114430989-4a261280-9bbf-11eb-8ab2-86db5e2b1f20.png)

Because the one that comes with Wordpress core installation is updated way too slower and on a very rare basis, so it can still be missing this.

Disable and re-enable

[2021-04-12 16:53] mtias commented on #30674
This will be an important server side function to retrieve a data-relational representation since the navigation block can have other blocks in the mix that are not relevant.

[2021-04-12 17:02] gustavo-roganti commented on #11681
I can confirm it still is an issue, and I think one side-effect of this bug could be related to the issue where blocks with `templateLock={false}` can't be converted to reusable blocks if a parent block has `templateLock=all`. See https://github.com/WordPress/gutenberg/issues/16008

Another side effect seems to be that you cannot insert patterns in innerblocks with `templateLock={false}`.

[2021-04-12 17:12] ntsekouras commented on #30739
Yes, by providing an array of attributes is proposed to make equality checks for each of them.

A custom check is used in `Template Parts` for now, but still an API that supports two types (array of attributes and function) seems worthy of exploration.

Correct. @gziolo had noted that a layer which translates strings into @wordpress/icons  should be provided.

[2021-04-12 17:17] deborah86 opened #30764 "Audio Block: Toggle to Remove Option to Download Music File"
## What problem does this address?

I am frustrated with the inability to share audio files without giving users the ability to download them. Also, some licensed music prevents me from allowing others to download the track.

## What is your proposed solution?

A toggle in the audio panel to remove the download option from audio files.

![image](https://user-images.githubusercontent.com/12677420/1

[2021-04-12 17:22] skorasaurus commented on #30504
Hi,
Thanks for reporting.

I'm unable to reproduce the condition that you reported using Gutenberg 10.3.2 plugin.
Could you confirm that you're experiencing this when you have the Gutenberg plugin installed?

Also, in step 4, did you upload a new image or did you select an image from the media gallery? (I uploaded a new image)

[2021-04-12 17:31] deborah86 opened #30765 "Verse Block: Add Captions"
## What problem does this address?

I am frustrated because I cannot add a caption to the verse block to give credit.

## What is your proposed solution?

Give the ability for users to add captions to the verse block so they can credit the source of the verse.

[2021-04-12 17:37] deborah86 opened #30766 "Cover Block: Deleted Inserted Button Block Keeps Appearing"
## Description

If you add a button block to the cover block and then delete it, it will reappear when you modify the block alignment settings.

## Step-by-step reproduction instructions

1. Insert a cover block into a post
2. Add a button block
3. Delete the button block
4. Modify the block alignment settings for the cover block

## Expected behaviour

The button block to stay deleted and not to

[2021-04-12 17:38] mtias commented on #21253
Closing, this is such a poor bug report :D

[2021-04-12 17:38] #21253 closed

[2021-04-12 18:05] Soean commented on #30764
This feature was discussed in the issue #25121.
Only chrome based browser support this option yet, see https://caniuse.com/mdn-api_htmlmediaelement_controlslist.

[2021-04-12 18:20] Nantris commented on #17879
I haven't tried this yet, but oh my god @pansamolot thank you for this tip!

Changing inline codes manually to kbd tags when the writing process was completed was an _awful_ workflow.

[2021-04-12 18:27] annezazu commented on #30637
Thanks so much for kicking off this discussion and driving this forward 🙌🏼 I have a few high level thoughts to the suggestions you shared:

I was originally convinced that this is a solid direction to go in. However, based on the feedback above, I'm convinced otherwise that it's okay for now to keep the name as is. I also worry a bit about any potential SEO hits there.

All of the above sounds gre

[2021-04-12 18:49] deborah86 opened #30767 "Categories Block: Add More Options"
## What problem does this address?

It is frustrating to use the categories block because there are a lot of options needed.

## What is your proposed solution?

**Add a Sort Function**
Allow users to sort the order in how the categories are displayed.  With options such as:

- Alphabetical Order Accending
- Alphabetical Order Descending
- Number of Posts Acending
- Number of Posts Descending

**A

[2021-04-12 18:51] deborah86 commented on #30766
@Soean I noticed the bug tag wasn't added. Is this a bug?

[2021-04-12 18:51] annezazu opened #30768 "[FSE] Setting gradient as background color doesn't match site editor view"
## Description

If you set the background color as a gradient in the Site Editor, it shows up differently on the front end of the site compared to what you see while editing. This breaks WYSIWYG currently.

## Step-by-step reproduction instructions
1. Setup a site with FSE and TT1 blocks
2. Open the Site Editor.
3. Open global styles > Root > Background Color > choose a gradient.
4. View the front

[2021-04-12 18:55] deborah86 opened #30769 "Tag Cloud Block: Ability to Convert the Tag Cloud Block Into a Categories Block"
## What problem does this address?

It is difficult to change the design when you cannot change the tag cloud block into a categories block.

## What is your proposed solution?

I would like to see the ability to change the tag cloud block into a categories block in the change block style or type options.

![image](https://user-images.githubusercontent.com/12677420/114446280-e9c6af00-9b85-11eb-9ed

[2021-04-12 18:59] Soean commented on #30766
@deborah86 I can reproduce the bug and added the label.

[2021-04-12 19:12] deborah86 commented on #13542
I also would like to see this feature.

[2021-04-12 19:17] deborah86 commented on #19659
_I appreciate the concern from a readability perspective, however limiting the table colour offering to four uneditable colours is very limiting, especially given that the colours all include grey. Users have the ability to create white on white text (or whatever they choose) elsewhere within the editor, so the readability argument doesn't really hold up._

I agree

_I think we should avoid overth

[2021-04-12 19:20] deborah86 commented on #21443
I would also like this. A contact form is a standard on websites. It should be a block.

[2021-04-12 19:25] melchoyce commented on #30631
I've been trying to work through some ideas, but I keep running into a mental barrier where everything I can think of is just... a block style.

For example, two variations I can think of for list blocks? Setting `ul` or `ol`. For quotes, I'd offer the default styles. For tables, row stripes or plain, or maybe one of the colors pre-selected. These don't feel any different from what we offer now as

[2021-04-12 19:27] TomLewis commented on #17879
![Screenshot 2021-04-12 at 20 25 24](https://user-images.githubusercontent.com/144046/114449969-52854a00-9bcd-11eb-9e17-01df4dc2fd17.png)

Aha I didnt have Gutenberg installed as a plugin! I thought I did! This fixed it! thank you.

Why does this have SUCH bad rating? When you search for Gutenberg its not even near the top...

Are there any other plugins worth adding to expand Gutenberg? or improv

[2021-04-12 19:37] annezazu opened #30770 "[Global Styles] Changes to Root styles should propagate to By Block styles"
## Description

If you remove a default color under Root styles for Global Styles, those same colors are still available in the By Block style options. This could be a problem if, for example, you were an agency and set specific colors for people to choose from only to have the by block settings offer a way to override that. I'm marking this as a bug as I don't think this is intentional but feel f

[2021-04-12 19:37] deborah86 opened #30771 "Latest Comments Block: Spacing Without Excerpt is Different in the Editor"
## Description

When you add a comment block to the editor and remove the excerpt the spacing is not correct. It shows correct on the website preview.

## Step-by-step reproduction instructions

1. Add a Latest Comments Block
2. Toggle the Display Excerpt Option off

## Expected behaviour

The layout of the block not to change drastically and to display like it does in the website preview.

## Act

[2021-04-12 19:38] Soean commented on #30445
You can't transform a Cover block into a Group block, only wrap a group block around the Cover block (This is possible for every block). You can use `ungroup` to remove the group around the block.

<img width="441" alt="Bildschirmfoto 2021-04-12 um 21 36 07" src="https://user-images.githubusercontent.com/695201/114451075-1c4cc800-9bd7-11eb-984e-a985d9ddeb84.png">

If we add the ungroup option to t

[2021-04-12 19:41] deborah86 commented on #27609
I would also like to see this feature.

[2021-04-12 19:49] annezazu commented on #30766
Hey all! Thanks so much for opening more issues @deborah86. Great snag. In this case, this is actually due to a wider problem with the block button itself rather than specifically in the Cover block. I'm going to close this out as a result in favor of the original issue that touches on this frustrating experience: https://github.com/WordPress/gutenberg/issues/28217#issuecomment-816054217

By the w

[2021-04-12 19:49] #30766 closed, assigned to nobody

[2021-04-12 19:53] deborah86 opened #30772 "Calendar Block: Change Block into Archives Block"
## What problem does this address?

It is difficult to change the blocks in the editor when you want the archives to display in the calendar view.

## What is your proposed solution?

Add the ability to change the calendar block into an archives block. Also, add the ability to change the archives block into a calendar block.

![image](https://user-images.githubusercontent.com/12677420/114453159-1e

[2021-04-12 19:58] annezazu opened #30773 "[FSE] Clarify what is being reverted when clearing template customizations"
## What problem does this address?

When reverting a template to the theme default, the initial expectation is that _everything_ you're looking at will reset when, in truth, only parts will. Here's a quick video showing this:

https://user-images.githubusercontent.com/26996883/114453474-cbb57a80-9b96-11eb-9b9f-cf309bd8fd4d.mov

Because it's not clear what's a template vs a template part, this make

[2021-04-12 20:14] pansamolot commented on #17879
It is a **development** version. It gets updated very often (I had auto-updates even once per day for some time), but it can handle some nasty things (for example we had a bad-looking Times New Roman font in editor for about 2 weeks). The official, core version gets updated on very rare basis (once per month or even less), but doesn't get that many bugs. This one is more like nightly build etc.

M

[2021-04-12 20:22] deborah86 opened #30775 "Verse Block: Change to Quote Block or Pullquote Block"
## What problem does this address?

It is frustrating that blocks cannot be changed into each other. The verse block should be able to be changed into a quote block or pullquote block.

## What is your proposed solution?

The verse block would show quote and pullquote under change block type or style as additional options.

[2021-04-12 20:31] deborah86 opened #30776 "Add Block: Uncategorized Should Be Hidden if There are No Blocks"
## What problem does this address?

It is frustrating that uncategorized is available when it doesn't contain any blocks.  It led me to believe there were missing blocks.

## What is your proposed solution?

Have the option to be disabled if there are no blocks under the category.

![image](https://user-images.githubusercontent.com/12677420/114457861-5f854780-9b93-11eb-9d0f-4464f7044f3e.png)

[2021-04-12 20:38] deborah86 opened #30777 "Spacer Block: Visual Indication the Block is In Use"
## What problem does this address?

I am frustrated because when I use patterns, there is no visual indication a space block has been used. the only way I am able to see this is by looking at the post outline.

## What is your proposed solution?

Have a visual indicator showing a spacer block has been added to the editor. Maybe a faint box that indicates it is present but not part of the main cont

[2021-04-12 20:42] coderaaron opened #30778 "Update loadPostTypeEntities to use `name` instead of `labels.singular_name`"
## What problem does this address?
I'm currently attempting to use an apiFetch middleware to use getEntityRecords on the front end for non logged in users by swapping the REST API context from `edit` to `view`.  However because the REST API schema only returns `labels` for `context=edit`, `loadPostTypeEntities` throws and errors on line 162 of `core-data/src/entities.js`.

## What is your proposed

[2021-04-12 21:36] annezazu opened #30781 "Query Block won't render when placed in 404 Template"
## Description

When adding a Query Block to the 404 template, it doesn't show up on the front end of the site. I tried moving it around to different parts of the template but it simply won't render.

## Step-by-step reproduction instructions

1. Setup a site with FSE and TT1 blocks
2. Open the Site Editor.
3. Use the Navigation component to go to the 404 template.
4. Add a query block into the 40

[2021-04-12 21:43] paaljoachim commented on #30701
I was thinking a sidebar link control panel. For text decoration in relation to hover and other link effects such as color.
I would likely also be in the Global Styles.

In general there should be an easy way to change text decoration through the UI. To turn off underline etc.

[2021-04-12 22:15] critterverse commented on #30720
Here's my take on this! I think the fixed position toolbar could appear underneath the editor "top bar" (where we have the undo/redo and inserter buttons):

![unscrolled-1](https://user-images.githubusercontent.com/77359364/114467414-e3e9c180-9bb7-11eb-90c0-3dc2dda4360a.jpg)

Because it needs to work on narrow viewport sizes and the block toolbar “overhang” solution won’t work in this scenario, I

[2021-04-12 22:36] #29804 closed

[2021-04-12 23:01] Nantris commented on #17879
I can't help but notice that the fact it's a beta is mentioned towards the end of the snippet. It seems like that should really be up front, and bolded if possible.

[2021-04-12 23:09] annezazu opened #30782 "[Columns Block] Make it clearer how to return to original width option after insertion"
## What problem does this address?

Currently, if you try to insert a column into the Site Editor, you're able to set two different width options: Wide or Full.  However, you're not able to return to the initial state a column block was in. This makes for a confusing experience if you just wanted to try out Wide & Full but decided to return to the initial setup. Here's a video to explain:

https:/

[2021-04-13 00:32] lukecarbis commented on #30142
I'd second this proposal. Not all third party blocks are supported by global styles, and if they were, there would still be unsupported properties.

My use case right now is overriding the default background colour of a third-party audio player block. There's no way to do this while using a block theme.

[2021-04-13 01:55] glendaviesnz opened #30785 "Gallery block refactor: alt text not copied from media library"
If an image has the alt text set in the media library, this alt text is not copied across to the image block that is inserted into the gallery.

![alt](https://user-images.githubusercontent.com/3629020/114485317-cff99a80-9c5f-11eb-842c-4ffe9ccea104.gif)

[2021-04-13 04:49] talldan commented on #21388
Closing due to a lack of reply

[2021-04-13 04:49] #21388 closed

[2021-04-13 04:56] Mamaduka commented on #30723
Related issue #29498.

[2021-04-13 05:08] #28814 closed

[2021-04-13 05:15] noisysocks commented on #26593
Hi @bobbingwide! I followed your reproduction steps but wasn't able to see any infinite recursion. Are you still seeing this? If so, maybe could you post a screen recording of you triggering the error?

[2021-04-13 05:27] noisysocks commented on #27658
@J0ker98: That link doesn't work. Could you share it again?

[2021-04-13 05:28] Mamaduka commented on #27279
Hello, @JustinSainton

It looks like the issue was fixed via #29287.

I'm not able to reproduce it with Gutenberg 10.3, only with WP 5.7.

[2021-04-13 05:28] #27279 closed

[2021-04-13 05:46] talldan commented on #28057
@jeherve We discussed this in a triage session in slack (https://wordpress.slack.com/archives/C02QB2JS7/p1618291685276800)

It looks like this issue is related to Jetpack, the core block doesn't have an uploading state like in your screenshot. This seems to be implemented in the jetpack code base here:
https://github.com/Automattic/jetpack/blob/master/projects/plugins/jetpack/extensions/blocks/vid

[2021-04-13 05:46] #28057 closed

[2021-04-13 06:02] carolinan commented on #28342
This is the result I get when I copy and paste the text from the doc to the post editor.
(Theme: Armando (FSE), Chrome, Windows 10)
![image](https://user-images.githubusercontent.com/7422055/114504017-7b89f700-9c2e-11eb-92a9-e8fb2e1ef4b9.png)

And in the code editor:
[code]

[2021-04-13 06:02] Mamaduka commented on #26226
I was able to reproduce this issue using the following steps:

1. Add Text widget in Classic Widget editor.
2. Activate the Gutenberg plugin.
3. Add Tag Cloud.
4. Dragged Tag Cloud over text widget and let go.

**Screenshot**
![CleanShot 2021-04-13 at 09 49 26](https://user-images.githubusercontent.com/240569/114503820-eba07900-9c3e-11eb-808f-4da2b8cea7ce.png)

We discussed this issue during the t

[2021-04-13 06:06] carolinan commented on #30777
The hover style can also be difficult to see on colored and dark backgrounds.

[2021-04-13 06:12] jasmussen commented on #30503
I appreciate you clarifying that to me, thank you!

[2021-04-13 06:17] gziolo commented on #26593
It was fixed with #28456. I didn't reference this issue properly. I will close this one, but I'm happy to work on a follow-up if something related pops up. It's a complex issue 😄

[2021-04-13 06:22] talldan commented on #28342
Hi @jeffpaul We had a look at this during a triage session in slack:
https://wordpress.slack.com/archives/C02QB2JS7/p1618293256296100

We had some mixed results. Most of us noticed that when copying all the text, it seems to work pretty well now.

But we were still able to reproduce the issue you had when copying and pasting part of the example content (https://wordpress.slack.com/archives/C02QB2J

[2021-04-13 06:25] getsource commented on #28342
A quick note for anyone trying to reproduce, from today's triage session:
I was able to reproduce if I copy starting at "Summary", down to the middle of the example paragraph.

It works okay if I include the entire example paragraph.

[2021-04-13 06:30] talldan opened #30787 "Add a clearer uploading state to the video block"
## What problem does this address?
When uploading a video to the video block, the uploading state isn't particularly clear if the network connection is slow.

There's an initial loading spinner, then the video appears to be uploaded, but sometime later the spinner shows again just before the upload completes.

## What is your proposed solution?
It'd be good to replicate what was done in the cover

[2021-04-13 06:34] jeyip opened #30788 "Content Import and Export: FSE and Global Styles CPTs don't load properly"
### Description
Theme stylesheet paths are referenced in FSE and Global Styles CPTs. These theme paths change depending on where the stylesheet lives relative to the wp-content/themes directory. That is to say, a theme stylesheet that lives in a subdirectory like `wp-content/themes/test/my-theme` will have a stylesheet that looks like `test/my-theme`, whereas one that lives in the default `wp-cont

[2021-04-13 07:15] carolinan commented on #30637
These are the discussions that need to be public, clarified, and finalized.

[2021-04-13 07:17] jasmussen commented on #30637
All of those are public, they are comments on github issues right here.

[2021-04-13 07:23] carolinan commented on #30637
Is that enough if contributors are not able to clearly see the direction? Is there an overview issue that I have missed?

[2021-04-13 07:29] #30682 closed, assigned to jasmussen

[2021-04-13 07:29] jasmussen commented on #30637
This is the overview issue: https://github.com/WordPress/gutenberg/issues/24551, and there is a conversation about the menu item name in #29630. Speculation about what might happen in the not-so-near future is all being explored in [the Full Site Editing label](https://github.com/WordPress/gutenberg/issues?q=is%3Aopen+is%3Aissue+label%3A%22%5BFeature%5D+Full+Site+Editing%22).

[2021-04-13 07:29] getsource commented on #24072
Thought of this later, so thought I'd add:
If user testing would be appreciated to A/B, I can ask to see if this is a possibility, or if there are any existing studies that might help with data.

[2021-04-13 07:52] carolinan commented on #29630
I'd love to see different visual flow charts of how users would get from step A-Z. I think for me that would make it easier to see where we might run into problems with current and proposed flows.

[2021-04-13 07:58] carolinan commented on #29630
There are so many things to consider. There already is a header menu item that takes users to the customizer. What happens when a hybrid theme, that has support for both, is installed? Would there be two header menu items in different positions?

[2021-04-13 07:59] jasmussen commented on #30743
CC: @talldan @vcanales does this ring any bells? I think we encountered something similar recently with submenus.

Thank you for the ticket!

[2021-04-13 08:18] talldan commented on #30743
I can't reproduce it, it worked fine for me (Chrome and Firefox, Mac OS).

Would be good to get some more specific steps to reproduce. Maybe if you can share the post content @JustinyAhin.

[2021-04-13 08:19] talldan commented on #30743
Ah, the fix only went into 10.4, so I think it's the same issue - https://github.com/WordPress/gutenberg/pull/30311

I'll close, but we can reopen if this can be reproduced in 10.4.

[2021-04-13 08:19] #30743 closed, assigned to nobody

[2021-04-13 08:21] jasmussen commented on #30743
Thank you for looking Dan!

[2021-04-13 08:28] ntsekouras commented on #30781
It has to do with context detection and previews. If we have a Query block with `inherit:true` to a `404` will not have any posts to output from the loop. If we do set `inherit:false` , Query will have output.

Related: https://github.com/WordPress/gutenberg/issues/30369

[2021-04-13 08:34] carlomanf commented on #29079
#27632 should be able to resolve this. For example, for a post type `posttype`, the capabilities `edit_single-posttype_templates`, `create_single-posttype_templates` etc could all be mapped to `do_not_allow`.

[2021-04-13 09:08] mtias commented on #23328
Fully agree the "preview" control for different viewports is orthogonal to whatever the interaction mode is (edit, select, browse). I think we are barely scratching what the different "views" could be, since they could offer things like member / non-member, ads / no ads for a publication, or even things like "design structure", rendering lines for the different alignments (content, wide, full).

I

[2021-04-13 09:09] aristath commented on #29630
I assume it would depend on _what kind of hybrid theme_ it is... because the term hybrid can encompass lots of things.
If it is hybrid in the sense that it uses a block-based template for the header/footer as per https://github.com/WordPress/gutenberg/pull/30345, then it would take them to the template-part editor and not the customizer

[2021-04-13 09:21] mtias commented on #30781
Also something we could do is add some more text when the setting is toggled on describing that it's reading from the current template, and what that template is.

[2021-04-13 09:21] jameskoster commented on #30773
This is a little bit tricky because we need to account for situations where the template parts are customised, but the parent template is not.

I think the clearest way to achieve this would be to list the template parts in the template details popover and provide a revert link there.

We actually have an issue for listing the parts [here](https://github.com/WordPress/gutenberg/issues/29147).

It

[2021-04-13 09:26] jameskoster commented on #29687
I shared a concept in https://github.com/WordPress/gutenberg/issues/30773#issuecomment-818588479 for reverting a template part _while editing the parent template_. I think it would be worth adding that here.

<img src="https://user-images.githubusercontent.com/846565/114529495-e8f35300-9c41-11eb-8bab-169559fa2820.png" width="500">

We'd need https://github.com/WordPress/gutenberg/issues/29147 to l

[2021-04-13 09:28] carolinan commented on #29463
For what its worth, during user testing on April 9, where the FSE outreach program call for testing was used,
many participants found the term "template part" confusing.
It was not obvious how or if the template part is different from other blocks, or how it related to the header and footer.

At the same time, header and footer were terms they expressed no concerns about.

[2021-04-13 09:37] gziolo opened #30795 "Tooling: Ensure consistent formatting in all scripts"
## What problem does this address?

Follow-up for #30714.

Follow-up for #30715.

## What is your proposed solution?

It looks like `npm run fixtures:regenerate` command conflicts with what `npx prettier --write **/*.json` does for all JSON files. We should update `npm run fixtures:regenerate` to produce output that is aligned with Prettier formatting.

`npx prettier --write **/*.md` doesn't play

[2021-04-13 09:37] mtias commented on #29463
@javierarce has also been looking at the save flow and presentation a bit. It's calling them "areas" here:

![image](https://user-images.githubusercontent.com/548849/114531947-a5521680-9c4c-11eb-96ea-45bb60206785.png)

The icons would also help make a connection.

[2021-04-13 09:42] jameskoster commented on #29630
Which flows in particular are you thinking of? I'm happy to work on more mockups :)

[2021-04-13 09:46] joehoyle commented on #24282
For anyone that might want a not-pretty workaround, when you need to do a JS less-than comparison in a HTML block: `Math.sign( a - b ) === -1` can be a substitute. I told you it wasn't pretty! h/t @rmccue

[2021-04-13 10:09] carolinan commented on #29630
All of them 😆

I thought the new navigation screen was meant for classic, not block themes, but I see it in the screenshot above.

This is going to be another rant, but all I want is to understand better.

- The benefit of having isolated views of the header and footer template part is that the UI can be less overwhelming.
**Is this the main reason why header would need to be its own menu item?**

[2021-04-13 11:10] jameskoster commented on #29630
I don't think that's the case? The navigation screen remains a place to manage all your navigation menus in one place. Whether those menus are block-based or not will depend on your theme etc.

That is the primary reason, yes. We're also perpetuating a historical menu item. "Appearance > Header" has always taken you to a view where you can customise your site header. So going back to your document

[2021-04-13 11:30] jasmussen commented on #28356
I ran into needing a margin today. This will be such an important tool to build great patterns.

[2021-04-13 12:00] preda-bogdan opened #30798 "Bug: ColorPicker Input values don't trigger state in specific cases"
## Description
The color picker input values don't update the state if the starting value is `rgb(0,0,0,0.5)` or any value that maps to `rgb(0,0,0)` where one r, g or b can be 0

## How to test
1. Create a Color Picker component with the default value set to (0, 0, 0, 0.5)
2. Try to change any input values to trigger an input change
3. Notice that the state does not change.

## Debugging
From my i

[2021-04-13 12:14] jameskoster opened #30800 "Refine save flow when editing template and publishing content"
As it is now possible to edit a template while drafting a new post / page, and even create a new template altogether, the resulting effects of the "Save draft" and "Publish" buttons could use some clarification in the UI.

I'd love some design explorations that include the following constraints:

* Only posts/pages can have drafts
* How/where to show the "pre publish" checks
* What happens if the

[2021-04-13 12:49] Mamaduka commented on #30160
It looks like a11y improvements were merged as part of #26135.

I can see `aria-label` and description in the Accessibility pane. Tested with VoiceOver tool as well, and best to my knowledge, labels are announced correctly.

I can create PR and update the description label text.

[2021-04-13 12:50] eduard-co opened #30803 "Various Gutenberg elements flicker on Safari 14.1"
On the latest Safari 14.1 the Gutenberg elements flicker while moving the mouse.

https://user-images.githubusercontent.com/25321905/114554928-e3146680-9c6f-11eb-89d6-3bf172ee6c01.mov

[2021-04-13 13:04] coderaaron commented on #30778
I just realized that this would grammatically incorrect, back to the drawing board.

[2021-04-13 13:04] #30778 closed, assigned to nobody

[2021-04-13 13:04] javierarce commented on #29463
We may not even have to use Areas or Template parts in the Save sidebar. We could arrange the templates under a Templates label, and it would still be easy to understand (plus we make the column a little more compact)

Here's a before and after design:

![parts](https://user-images.githubusercontent.com/4933/114556221-c7f22880-9c68-11eb-9d68-13cd31b3e0ff.png)

[2021-04-13 13:12] carolinan commented on #30454
I named my templates template-page-sidebar-left.html and so on and they show up under general.

[2021-04-13 13:17] carolinan commented on #30696
Feedback from a user testing session at Yoast on April 9, FSE outreach program [call for testing, template editing](https://make.wordpress.org/test/2020/12/23/fse-program-testing-call-1-template-editing/)

**Was it clear that when you were editing blocks in the Template that it would impact every page/post using that same Template?** _I’m familiar with how themes work and know what single means, b

[2021-04-13 13:17] kjellr commented on #30631
Yeah, I definitely understand the potential confusion between Block Patterns and Block Styles. Also, just the other day [I ran into a scenario](https://github.com/WordPress/gutenberg/pull/30530#issuecomment-816792315) where I think converting one of the current bundled Block Styles into a pattern would make more sense.

@jasmussen or @jameskoster do either of you have any philosophical thoughts on

[2021-04-13 14:10] javierarce commented on #29463
Regarding the main topic of this issue: I think we could try to add a tooltip to show the template description. I've seen that this general idea [has been explored here recently](https://github.com/WordPress/gutenberg/pull/30005).

I think that adding the full description "in plain sight" would be a bit redundant since we already show it in the Template tab and the navigation panel.

In general, I

[2021-04-13 14:44] bobbingwide commented on #26593
Hi @noisysocks. The problem has now changed. It doesn't go recursive in the server but it does in the editor.
I'd raised this as a new issue against my experimental theme Fizzie but have just reproduced it using the Phoenix theme.

https://github.com/bobbingwide/fizzie/issues/61

[2021-04-13 14:50] JustinyAhin commented on #30637
Thank you for putting together this information @mkaz.

First I would like to suggest that we keep the current name for the developer documentation "Block Editor Handbook".

Full Site Editing is both a project related to the block editor, but is also large enough to have a complete and dedicated documentation outside of the block editor documentation.

So I think it's relevant to have a section fo

[2021-04-13 15:27] gziolo commented on #26593
Let's reopen as we don't have the Post Content block covered. I almost forgot about it. Thanks for bringing it up again @bobbingwide.

[2021-04-13 15:54] jameskoster commented on #30631
I may be totally off-base, but I would anticipate that as more design tools (https://github.com/WordPress/gutenberg/issues/27331) come online, Patterns will largely replace Styles in terms of how they work under the hood.

This has the obvious benefit of enabling people to effectively create their own theme-agnostic block styles directly in the editor, then share them via the pattern directory, ac

[2021-04-13 16:10] serkan-asquared commented on #15994
@mwidmann , I have tried various solutions and filters but whenever I use the filter, I get an empty response. Are you still using the same filter?

[2021-04-13 16:32] mwidmann commented on #15994
@serkan-asquared yes, still using it and seems to work quite fine in WordPress 5.7. It is in the starter file of one of the plugins we have enabled. Not inside any hook or action. Maybe you call it at a wrong time?

[2021-04-13 16:36] oandregal commented on #30795
:wave: What would be some instructions to reproduce the issue?

Doing `npx prettier --format **/*.md ` results in a console output that I don't know how to interpret:

<details>
# Managing Packages

This repository uses [lerna] to manage WordPress modules and publish them as packages to [npm].

## Creating a New Package

When creating a new package, you need to provide at least the following:

1.

[2021-04-13 16:45] ninetyninew commented on #30504
I am using the editor in WP 5.7 - no Gutenberg plugin. Number 4 I have tried both an existing and new.

[2021-04-13 17:06] skorasaurus commented on #30504
I'm not able to reproduce this in WordPress 5.7 with and without the gutenberg plugin enabled.

See this video where the thumbnail being generated is 300x300 as expected. Perhaps I'm not following your steps to reproduce correctly.

https://user-images.githubusercontent.com/955351/114592067-8b1e3580-9c58-11eb-8281-4d8ecec7f313.mp4

[2021-04-13 17:39] gziolo commented on #30795
It should be `npx prettier --write **/*.md`, sorry about that 🙈

[2021-04-13 17:53] sawwd commented on #18595
How this can work? What you're saying is applied only for TinyMCE editor. I don't know why you have closed the issue. This is a issue related to Block Editor.

[2021-04-13 17:57] ninetyninew commented on #30504
What happens if you now change your thumbnails back to 150x150 in the media settings and then edit this page, then:

Does the image remain 300x300?
If you add the same image in a new image component and select the thumbnail option then what size is the image?

[2021-04-13 17:58] bobbingwide commented on #26593
Steps to reproduce in the newly re-opened issue.

1. Use an FSE theme such as TT1 blocks v0.4.5
2. Open Site Editor (beta).
3. Select the Group containing Post content
4. From the toolbar choose Options > Make template part
5. Create a template part called single-content
6. Return to the Dashboard ( Toggle navigation > Templates > Theme > Dashboard ) and confirm you want to leave.
7. Choose Appear

[2021-04-13 18:04] bobbingwide commented on #26593
Another part of the screen to consider...
what are the breadcrumbs supposed to do when block nesting exceeds
the window width?

![image](https://user-images.githubusercontent.com/2474435/114599450-0567ad80-9c8b-11eb-8d35-9ff612b1973a.png)

[2021-04-13 18:32] annezazu commented on #30773
Wow! Excellent thinking.

[2021-04-13 19:10] kjellr opened #30814 "Block Pattern Previews appear broken for full-height cover blocks with a fixed background image"
When the parallax option is active on a full-height block pattern's cover block, the pattern preview only displays a portion of the image:

Preview:
![Screen Shot 2021-04-13 at 3 07 01 PM](https://user-images.githubusercontent.com/1202812/114607081-194ee780-9c6a-11eb-8332-2502b085b156.png)

Live Pattern:
![Screen Shot 2021-04-13 at 3 07 11 PM](https://user-images.githubusercontent.com/1202812/1146

[2021-04-13 19:25] melchoyce commented on #27840
I'm encountering this issue in Gutenberg 10.3.2, creating a new block theme. I added a navigation block to the top of my page, but I can't edit it because the toolbar overlaps:

![image](https://user-images.githubusercontent.com/2846578/114609148-79df2400-9c6c-11eb-8996-64d0b5693189.png)

[2021-04-13 19:29] eric-michel opened #30815 "Maintain Block Options When Transforming To/From Heading & Paragraph"
## What problem does this address?
It's not unusual that we need to transform a Paragraph to a Heading block, or vice versa. When doing so, all block options are reset to default (unless I'm missing an option to keep them). It would be nice to take a Paragraph block with a set font size, color, and custom class, anchor, etc and convert it directly to a Heading block while maintaining those options

[2021-04-13 19:38] noahtallen commented on #27783
Interesting! That was supposed to be solved by #30053 🤔

[2021-04-13 19:49] noahtallen commented on #24772
Related is #29776 which discusses adding a WordPress import option.

[2021-04-13 20:46] glendaviesnz commented on #30196
fixed by https://github.com/WordPress/gutenberg/pull/30784

[2021-04-13 20:46] #30196 closed, assigned to glendaviesnz

[2021-04-13 21:19] gwwar commented on #20542
@priethor was there a PR here to help review?

[2021-04-14 00:26] stokesman commented on #19796
[Now in trunk](30194) (and to be released in Gutenberg 10.5) themes may opt out of border-radius support for the button block. They'll need to include an [`experimental-theme.json`](https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-json/) with the following:
[code]

[2021-04-14 02:50] carolinan commented on #27840
This was also found during user testing on April 9 using 10.3.2.

[2021-04-14 02:58] carolinan commented on #29463
Tooltips are less accessible than plain text.

There are so many flows that for some this will be the first time they see the term template.
It is fully possible to click "edit site", make changes to a block, and go into the save Panel.

[2021-04-14 03:10] johnstonphilip commented on #20797
@ellatrix I work with the Atomic Blocks and Genesis Blocks team. Is there anything we can do to help with this?

[2021-04-14 05:01] Mamaduka commented on #30782
You can go back to the original width by click the currently selected width. But I also find this UX a little confusing.

[2021-04-14 05:11] noisysocks commented on #15916
I don't think this is sustainable as we add more and more blocks and more and more types of block editor. There are lots of blocks in the site editor, for example, that don't make sense in the post editor: Post Content, Post Loop, etc.

The Legacy Widget block is analogous to the Classic block in that it is how existing content is edited via the block editor. A Legacy Widget block containing a Tex

[2021-04-14 05:32] annezazu commented on #30782
@Mamaduka can you clarify perhaps with a video or screenshot of how you might get back to the original width? I'm not able to find a way back.

[2021-04-14 05:39] Mamaduka commented on #30782
@annezazu Sure thing.

Here's a screencast:

https://user-images.githubusercontent.com/240569/114659803-4b615780-9d05-11eb-8b45-ccc2d12a9e89.mp4

[2021-04-14 06:24] jasmussen commented on #30631
I would echo Jay that the key here is that looking at what design tools we have available, and surfacing curated combinations of those, is our goal here. As usable as we can make the inspector, ultimately figuring out what combination of allcaps, line-height, letter-spacing, margin, font-weight looks good, is where these patterns can come in.

Perhaps a helpful way of thinking about paragraph patt

[2021-04-14 07:05] #30621 closed, assigned to dhruvkb

[2021-04-14 09:15] #30640 closed, assigned to nobody

[2021-04-14 09:28] priethor commented on #20542
There isn't, I explored the variation but didn't proceed with the new block @gwwar. It's open to being picked among the Navigation block priorities.

[2021-04-14 09:33] navxio commented on #23283
is `props.toggleSelection` supposed to toggle props.isSelected (and cause the entailing effects)? I've tried issuing it but to no avail..

[2021-04-14 09:34] csalmeida commented on #17632
Thanks, I was able to access the values that way. However, it still does not do it for me so I had to stick with my solution for now until I have the time to study Gutenberg's source better.

The following script does solves the "_how to run custom functionality on post save?_" question in this issue:

[code]

However, that's not quite what I'm looking for since this script completes running on a

[2021-04-14 09:43] navxio opened #30829 "props.toggleSelection doesn't work"
## Description

Issuing `props.toggleSelection(true);` does not select the block.

## Expected behaviour
`props.isSelected = true;`. And block should be focused.

## Actual behaviour
`props.isSelected` remains unchanged. Block does not focus.

## Code snippet (optional)

## WordPress information
- WordPress version:  5.7.0
- Gutenberg version: Not installed
- Are all plugins except Gutenberg deact

[2021-04-14 10:08] oandregal commented on #30478
Thanks for the [instructions](https://github.com/WordPress/gutenberg/issues/30478#issuecomment-816630565), Bernie. If I understood this correctly, it looks like there's an issue when a theme is switched _programatically_ but doesn't happen on a normal WordPress request. I understand this can be an issue beyond unit tests theoretically, although I'm not sure under what practical conditions.

Anyway

[2021-04-14 10:19] gziolo commented on #26593
Yes, those impressive fractals are all coming from how the Post Content blocks work. Once it is fixed internally, it should disappar.

[2021-04-14 10:23] johngodley opened #30832 "MEDIA_TYPE_VIDEO only defined in Gutenberg native"
I'm using Gutenberg in a setting outside of WordPress and where all the Gutenberg modules are bundled together, as opposed to being external.

I'm running into this compile warning (with a similar one for `MEDIA_TYPE_IMAGE`)

`WARNING in ./node_modules/@wordpress/block-library/build-module/cover/shared.js 36:52-68
export 'MEDIA_TYPE_VIDEO' (imported as 'MEDIA_TYPE_VIDEO') was not found in '@wordpr

[2021-04-14 10:29] johngodley commented on #30832
You can recreate this with a dummy project:

`package.json`
[code]

`src/index.js`
[code]

`webpack.config.js` <== this disables the dependency injection plugin
[code]

If you `npm run build` you will see the warning:

[code]

[2021-04-14 10:37] dhruvkb commented on #30734
Verified that Gutenberg Paragraph blocks have px-based font sizes when the font-size is set to values other than Default.

<img width="1244" alt="Screenshot 2021-04-14 at 4 06 52 PM" src="https://user-images.githubusercontent.com/16580576/114697355-71095380-9d3b-11eb-8c8d-1a0dd97575ca.png">

@andrejcremoznik I've marked this as a high priority issue because it adversely affects theming, which is a

[2021-04-14 10:39] bobbingwide commented on #26593
Any comment on my aside regarding the breadcrumbs? I haven't ever manually created that level of nesting nor used very long block names in a language other than English.

[2021-04-14 10:39] MaggieCabrera commented on #25612
Just a heads up, we are currently exploring block-based child themes and we found out an interaction that is a bit of an edge case but is relevant to this discussion. Having a parent theme that has a `template/index.html` defined and a child theme that doesn't, but instead uses an index.php file, we encounter two things:
- FSE is not active, which is what we expected to happen
- The index template

[2021-04-14 10:45] dhruvkb commented on #30829
Hey @navxio, could you please provide additional information such as which block you were trying to select that was not being selected?

[2021-04-14 10:57] gziolo commented on #26593
No clue, it's a separate issue though.

[2021-04-14 11:00] andrejcremoznik commented on #30734
@dhruvkb what you are looking at is not an issue.

I didn't look at the code from twentytwentyone but you are able to define font sizes for the styles in the dropdown with the `add_theme_support('editor-font-sizes', [])` function. If you select any style from that dropdown, a theme developer specific `class` will be applied to the element after which it's up to the developer to provide back and fr

[2021-04-14 11:12] manooweb commented on #28668
This PR https://github.com/WordPress/gutenberg/pull/30709 fixes the issue of hidden widget fields.

However a new issue appears now.
With an existing widget the `widget-id` and `widget_number` don't correspond on the other fields ids normally based on `widget-id` and `widget_number`

## Steps to reproduce
1. Add the `Legacy Gutenberg Test Widget` in the legacy widgets screen
2. See the HTML code o

[2021-04-14 11:22] carolinan commented on #30634
Here is a gif describing the two links in the post editor that Joe mentions above.
Note also that the skip link to the selected block covers the "Advanced" settings.

![Tabbing through the block settings panel, a skip link to the selected block is floating and blocking the view of the last setting in the panel. Tabbing again closes this skip link and focus is on a previously hidden panel with a li

[2021-04-14 11:24] #30160 closed, assigned to Mamaduka

[2021-04-14 11:33] gziolo commented on #30739
Yes, it would be great to add a way to be able to pass a string that resolves into a matching icon from `@wordpress/icons` package. @youknowriad, does it go along with the vision you had for the package? What could be the place where we introducing the mapping layer (at least) for WordPress core blocks so we could put strings in `block.json`.

Yes, in general, it seems disconnected when put as a t

[2021-04-14 11:39] #30581 closed, assigned to jasmussen

[2021-04-14 11:40] navxio commented on #30829
@dhruvkb trying to use this in my own custom block.

[2021-04-14 11:54] jasmussen commented on #26404
In https://github.com/WordPress/gutenberg/pull/30833 I made a small attempt at showing mostly just one appender at a time.

[2021-04-14 12:04] oandregal commented on #20331
This week in global styles:

**Landed**

- Parts of theme.json with elements https://github.com/WordPress/gutenberg/issues/29891
	- preparations to make changes easier https://github.com/WordPress/gutenberg/pull/30801 https://github.com/WordPress/gutenberg/pull/30610
	- i18n process: make it not depend on a particular path https://github.com/WordPress/gutenberg/pull/30604
	- add mechanism to migra

[2021-04-14 13:05] gziolo commented on #30679
This is very related to the previous comment https://github.com/WordPress/gutenberg/pull/13693#discussion_r291596485.

It's also being tracked in https://github.com/WordPress/gutenberg/issues/16209 which contains several proposals to enhance the block metadata stored in `block.json` files.

[2021-04-14 13:17] gziolo commented on #16209
@ryelle, I was thinking about this proposal again and it might be a great fit for extending what Block Directory can support. If we would ensure that the file you reference outputs the HTML for the block on the frontend and it can only use the same attributes that `render_callback` accepts. In general, `render_template` would work as a more limited version of `render_callback`.

[2021-04-14 13:24] #29459 closed

[2021-04-14 13:32] guarani opened #30836 "Mobile - Verse block editor styling should be similar to paragraph block"
## Description
The Verse block in the React Native editor uses a monospace font but it should be styled in the same font as that of the Paragraph block.

As noted [here](https://github.com/wordpress-mobile/gutenberg-mobile/issues/1886#issuecomment-585276207), the styles we want are:

- No additional padding
- **Text styled like a paragraph**
- No borders
- No background

I think all that's left is

[2021-04-14 13:38] gziolo commented on #30428
Quoting @TimothyBJacobs from the link in the shared comment:

I don't think we can do much about it, this is how`JSON.stringify` works with booleans:
<img width="188" alt="Screen Shot 2021-04-14 at 15 38 09" src="https://user-images.githubusercontent.com/699132/114719519-76649f00-9d37-11eb-9c9b-edf275c18e54.png">

[2021-04-14 13:43] drewwats commented on #29885
Having the same issue. Some blocks don't show up, some are showing the wrong block. Block editor is now useless.

[2021-04-14 13:45] mikegwhit commented on #12397
Bump, this is what I came here for.. it's pretty unthinkable that this hasn't been addressed?  Can I help submit a PR or similar?  Has anything been drafted for how to address this technically?  It sounds like there must be a hook when switching the edit mode to HTML at which point HTML can be beautified if it hasn't.  Then thereafter HTML can be preserved as developer left it, or minified if deve

[2021-04-14 13:54] #30478 closed, assigned to ockham

[2021-04-14 14:29] hedgefield commented on #29398
I agree, and I love @jameskoster's exploration, I was thinking something similar. It would be great if you could toggle from the FSE Edit mode into a true Preview mode, something that strips away all the FSE and block UI (and their extra padding!) so you can freely navigate your site like a visitor normally would. Currently FSE just isn't fully representative of what the site will look like once y

[2021-04-14 14:41] skorasaurus commented on #30504
When I change my thumbnails back to 150x150 in the media settings then edit that published page; the existing image's thumbnail remains 300x300 in the editor.

When I create a new image block and select that same image from the media library, the thumbnail is still 300x300.

When I create a new image block and upload a new image, the thumbnail is 150x150.

This is expected because:
When an image i

[2021-04-14 14:55] Sjardo commented on #16006
I would love to see an update on this issue!

[2021-04-14 15:03] dcalhoun opened #30839 "Navigating to nested Cover block bottom sheets logs warnings"
## Description
As discussed in https://github.com/WordPress/gutenberg/pull/30270#issuecomment-819545802, there is currently a warning that is logged whenever navigating to a nested bottom sheet that relies upon a callback. It would appear passing a non-serializable callback to the nested bottom sheet via props is not the best approach when using `react-navigation`.

## Step-by-step reproduction in

[2021-04-14 15:04] jameskoster commented on #27093
It might also be good to include the template information here, and a link to view all posts.

https://user-images.githubusercontent.com/846565/114733196-0d7f2600-9d3b-11eb-9a19-b6e7fa187c95.mp4

[2021-04-14 15:06] bookingwp opened #30840 "Prevent viewport shifts on block selection"
1. When the block is selected, viewport changes when any part of the block is outside of the view. This is mostly visible when selecting images that are partly outside of the viewport. No view change should happen here since users are irritated when something changes outside of their control. Simply disable this and the editing flow will be improved a lot.
2. Galleries: move new image upload butto

[2021-04-14 15:32] jameskoster commented on #30800
Matias suggested an elegant solution to this, which may only be temporary but I think makes sense for the foreseeable future:

Unless a post/page is published, it is not possible to access the template editor.

If we were to implement this change, I think the following flow is the only one that will need design attention:

* Edit published post -> Edit template -> Return to post -> Convert post to

[2021-04-14 15:33] ockham opened #30842 "Scripts: Try using cosmiconf for locating tool configs"
A number of our scripts in the `@wordpress/scripts` contain logic to find the relevant config and/or `ignore` file (or `package.json` entry) for a given tool by replicating that tool's logic in doing so. E.g. `lint-js` tries to locate the relevant config for `eslint` here: https://github.com/WordPress/gutenberg/blob/dd4cc1b65433fc1f55ae7b674726e85af5f13ff7/packages/scripts/scripts/lint-js.js#L23-L

[2021-04-14 16:07] gwwar commented on #30739
If folks don't have strong feelings, I'd say option 1 is likely most viable since it's the least amount of work + would match well if we added a string icon mapping.

[2021-04-14 16:47] pablohoneyhoney commented on #29630
Full disclosure I'm not caught up in all related conversations in all channels, and perhaps I'm missing a bit of context on strenuous cases in a transition-to-block-based-themes world.

From a more agnostic UX standpoint, my impression is that the taxonomy proposed is a bit complex to combine, terms have different means and semantic levels. It also provides a shallow interaction model (in and out)

[2021-04-14 16:49] javierarce commented on #30782
Interesting discovery, @Mamaduka!

I did a little research and I noticed that the column block [doesn't support](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/columns/block.json#L12) the `center` alignment property. The funny thing is that if I add it, I'm able to select the "Align center" option… but just for themes that aren't FSE ready (!)

For themes that support

[2021-04-14 17:01] youknowriad commented on #30800
It's not a great limitation though, I can imagine folks wanting to creating a new page and only published once they crafted its template.

I don't mind it as a start though.

[2021-04-14 17:19] chrisvanpatten commented on #27913
@ntsekouras I think the expected behavior would be that the link is just visible as text inside a paragraph, rather than being embedded.

[2021-04-14 17:54] annezazu commented on #30782
Wow! Mind blowing. That's definitely not intuitive 😆 so I'm going to leave this open but edit the title to make it a bit clearer that it's less about _allowing_ the option and more about making it clearer.

[2021-04-14 18:23] truetonegroup commented on #29178
Regarding @gizmo2501 ...

The "convert to regular blocks" option is a crucial feature for how I have organized my entire site and would love to have to back.

Furthermore, 5.7 won't let me publish a page if I edit the reusable block unless I also save it - even when that is absolutely not what I want to do.  I edited on this post it for the sole reason that I don't want it to be the revised reusab

[2021-04-14 18:29] stokesman commented on #30688
I got curious about this, gave it try, and applied it in the Social Icons block #30848. I'm not eager to see it land because if the main concern is the placeholder state of that block, I think there is probably a better way to improve it.

I think that would be getting too close to redundancy with `renderAppender`.

[2021-04-14 18:31] draganescu opened #30849 "The customizer block editor crashes in core themes"
With any other core theme except TwentyTwenty trying to edit widgets in the customizer fails with this error in the console:

[code]

To reproduce:

1. Have the latest `trunk` of Gutenberg
2. Install and activate TwentyTwelve
3. Go to Appearance > Customize > Widgets
4. Notice error

[2021-04-14 18:33] ayohdev commented on #16006
This is becoming a major issue. Clients are wanting both ACF and Gutenberg. Not be able to preview page content before publishing is not easy to sell to a client.

[2021-04-14 18:34] draganescu commented on #30849
Closed as duplicate of #30726

[2021-04-14 18:34] #30849 closed, assigned to nobody

[2021-04-14 19:21] DaisyOlsen opened #30850 "Change documentation references of Block Style Variations to Block Styles"
Since the Block Variations API has been implemented it is somewhat confusing to refer to Block Styles as Block Style Variations.

I recommend that the docs be updated to reflect the change in terms. It will help to distinguish them from Block Variations as more documentation is added to support that feature.

[2021-04-14 19:44] jmccall75 commented on #16006
It's an issue with post meta in general, right? Not ACF specific?

[2021-04-14 20:18] mrwweb commented on #19796
@stokesman That is very exciting! Will it be possible to disable this via a plugin ([example](https://wordpress.org/plugins/mrw-web-design-simple-tinymce/)) as well? (I guess that may be a broader/general question about `theme.json`.)

[2021-04-14 20:46] gizmo2501 commented on #29178
Yes, this is a massive problem. I really hope we can get the old way back - "convert to regular blocks" if you want to change it just for that page. Otherwise, any changes you make to it will apply to everywhere it has been used without being converted. It makes a lot more sense than the new way.

Also, we really need a better way of getting to the reusable blocks page, rather than having to start

[2021-04-15 00:36] noisysocks commented on #28668
Thanks for testing @manooweb. I'll work on a fix shortly.

[2021-04-15 00:41] johnstonphilip commented on #9898
I ran into this today on WP 5.7. It seems this is still an active bug, both that it transforms `viewBox` to `viewbox`, and also that it causes invalidation of the block.

[2021-04-15 00:50] critterverse commented on #29871
Thanks so much for continuing to explore this, @paaljoachim! One thing I really like about your design (and something you touched on in your earlier comments) is the POV that there should be an easy way to Discard changes that's not hidden beneath a layer of UI.

I wonder if it would make sense to incorporate Save/Discard functionality in the inspector underneath the “Revisions” panel (which is cu

[2021-04-15 01:50] fullofcaffeine opened #30854 "Latest Posts block shows content of password-protected posts when set to show the full post content"
## Description

Latest Posts block shows content of password-protected posts in its list.

## Step-by-step reproduction instructions
1. Create a new post, add some content and an excerpt to it and set it's visibility to "Password Protected"
2. Create another post and add two "Latest Posts" blocks to it - both should have the "Post Content" (under "Post Content Settings" in the settings pane) optio

[2021-04-15 02:41] talldan opened #30856 "Previews are broken for block patterns and block styles"
## Description
The previews for block patterns and blocks styles appear to be empty/broken.

## Step-by-step reproduction instructions
Block styles
1. Add a block with a style, like a quote
2. View the sidebar, note that the previews are empty

Block patterns
1. Click the + button in the top left of the screen
2. When the inserter sidebar opens, click the patterns tab
3. Note that only text is dis

[2021-04-15 02:51] andrewserong commented on #30553
Great point @sarayourfriend. I don't think it'll be too hard for us to override some of these issues within Jetpack as a short-term fix for the affected blocks. Nice to see you got https://github.com/WordPress/gutenberg/pull/30509 merged in, looks like things are coming along, so hopefully we won't need to do a direct revert in Gutenberg for those components 🙂🤞

[2021-04-15 03:46] kevin940726 commented on #30400
#30654 just got merged, which should pave the way for the step-by-step undo/redo feature. The core functionality is already there, we just need to implement the UI and improve the performance if needed.

[2021-04-15 03:49] #30787 closed, assigned to Mamaduka

[2021-04-15 03:55] talldan commented on #30720
Thanks for the awesome feedback, @critterverse.

I think there have been some prior work on making sections of the toolbar collapsible. Did some digging and there's https://github.com/WordPress/gutenberg/issues/9075 that covers some previous work, but there might also be other issues. (cc @jasmussen)

I'm not sure on the technical feasibility, but @youknowriad recently worked on some changes to bl

[2021-04-15 05:31] Mamaduka commented on #25805
I was able to reproduce the issue using WP 5.7.1/Gutenberg 10.4.

Steps:
1. Throttle network to 3G via DevTools.
2. Drag the image to the editor.
3. **While the image is uploading, change alignment.**
4. You should see duplicated images in the media library.

I can also see a second request in the Network tab.

<img width="1280" alt="image-block-duplicated-images" src="https://user-images.githubus

[2021-04-15 06:29] dhruvkb commented on #26666
I disagree with the assessment that the 'chase' and 'sorts' analogy is counterproductive. While the line provides additional help to those who are (or want to be) familiar with the terms, those who are not can safely ignore the analogy and move on. Understanding the analogy is not essential to the understanding of the rest of the article.

[2021-04-15 06:35] jasmussen commented on #30251
Can confirm, but it does appear to be a Firefox _only_ issue at the moment. The issue is a bit hard to reproduce. Observe in this GIF how when I initially start the viewport big, then resize, initially I don't see the scrollbar, and then it pops in after a while:

![ff](https://user-images.githubusercontent.com/1204802/114823726-326bab80-9dc4-11eb-81db-4c2cc13b1c03.gif)

It is easy to reproduce wi

[2021-04-15 06:43] jasmussen commented on #30720
Yep, we've been a bit back and forth on this. Both the top toolbar and the "breaking out of the box" toolbar have pros and cons, and both ultimately speak to the fact that the block editor was designed to be _the canvas itself_, not to be this abstracted copy shown in a sidebar.

I would agree that general efforts making the sidebar able to scale down further and collapse sections would benefit th

[2021-04-15 07:02] dhruvkb commented on #28763
@benlk while I agree with your point that the screenshots are not using the `RadioControl` component, I believe the purpose of the screenshot is not to show a visually accurate `RadioControl` component but to illustrate when the component should be used instead of checkboxes.

I think they serve this purpose very well. The screenshot at the very top of the article depicts how the `RadioControl` co

[2021-04-15 07:13] gherrink commented on #27913
@chrisvanpatten yes something like that. Also a info "This is not a valid embed URL. The URL will only displayed as Text." for the user how insert a not allowed embed URL would be nice too.

[2021-04-15 07:24] draganescu commented on #15916
I believe this the the main argument against adding a classic editor block in a widget area. Given all the other arguments above, it results that simple consistency on a high level item (All blocks should be Everywhere) is too weak of an argument for this to continue.

I will close the issue until we can find new information that would make the classic editor a requirement.

[2021-04-15 07:24] #15916 closed

[2021-04-15 07:26] ntsekouras commented on #30856
This is happening for me as well from yesterday and I asked some folks, but had no problem with the previews.

It seems that `useResizeObserver` which is import `useResizeAware from 'react-resize-aware';` returns `null heights/widths`. I didn't find any changes in the react-resize-aware recently..

Also I tried with Firefox and previews work okay.. In latest chrome the problem is there.. 🤔

[2021-04-15 07:41] Mamaduka commented on #25805
I want to work on this issue. Should I assign it to myself?

[2021-04-15 07:44] CodingJack commented on #14610
it was a permissions problem on LocalWP for me.  online it worked fine.

[2021-04-15 07:49] paaljoachim commented on #25805
Thank you, George!

[2021-04-15 08:15] jasmussen opened #30858 "Image Block: Drag and drop from desktop shows placeholder when processing"
## Description

If you insert an image block first and drag an image onto the placeholder, you see the placeholder pushed down below while the image is being uploaded:

![placeholder bug](https://user-images.githubusercontent.com/1204802/114836878-63071180-9dd3-11eb-82a8-d5b215aef7e0.gif)

While being uploaded, this placeholder should be invisible as it's no longer needed.

## Step-by-step reprodu

[2021-04-15 08:16] jasmussen commented on #30858
CC: @Mamaduka — probably unrelated, but I recall us chatting about a similar Cover issue, so in case you have any insights. Thank you for looking!

[2021-04-15 08:34] Mamaduka commented on #30858
@jasmussen happy to have a look.

[2021-04-15 08:40] jasmussen commented on #30858
Thanks, let me know if I can help. Happy to review.

[2021-04-15 08:41] goranalkovic-infinum opened #30859 "Exposing the createBlockCompleter() function"
## What problem does this address?
When creating custom (dynamic) blocks we might want to have the default _Press / to insert blocks_ functionality in blocks with RichText. While it's not difficult to add custom autocompleters, I had a hard time importing the `blockCompleter` (and the `createBlockCompleter()` function to generate one) so it can be added as an autocompleter.

## What is your propos

[2021-04-15 08:50] draganescu commented on #23745
I am here to support the idea that for making mega menus we'd need a blank canvas block to be added as submenu, be it a submenu block or a group block.

[2021-04-15 08:51] gziolo commented on #30842
We might have an issue with the same proposal already. It was surely discussed in the past but no actions were taken. If you look at the list of possible files used with different tools you will see that there isn't one standard enforced. Anyway, it'd be nice to have `cosmiconf` integrated 👍🏻

[2021-04-15 09:01] Chrico commented on #13794
Actually this should be doable by re-using the values from `register_post_status()` and localize those for re-use in Gutenberg. Those hardcoded ones in `components/post-visibility/utils.js` could still stay as "fallback" or for whatever reason.

Is there anything holding the issue back to implement this in Gutenberg? @youknowriad

[2021-04-15 09:13] jasmussen commented on #23745
I have some tentative doodles on what a mega menu editing interface might look like, but because I expect it to change, you have to <a href="https://user-images.githubusercontent.com/1204802/114844832-76b67600-9ddb-11eb-99e2-11764ffc31f2.png">click</a> to see it.

[2021-04-15 09:18] youknowriad commented on #13794
There's an issue about custom post statuses as this is not supported at all. (though I'm not sure if that has any priority at the moment) #3144

[2021-04-15 09:20] MatzeKitt opened #30862 "Reusable block in column gets removed after doing “undo”"
## Description
At least since WordPress 5.7 we encounter a problem that a reusable block in a column gets removed if we “undo” an action.

## Step-by-step reproduction instructions
1. Create a new post.
2. Add a columns block with 70/30 widths from the placeholder.
3. Add a paragraph in each of these columns.
4. Transform the paragraph of the second column into a reusable block.
5. Remove the para

[2021-04-15 09:41] jameskoster commented on #30357
Just driving by to add weight to the idea of putting the consumption locations in the top bar. I've been exploring something similar to indicate which items of content use the template being edited:

<img width="359" alt="Screenshot 2021-04-15 at 10 39 03" src="https://user-images.githubusercontent.com/846565/114848718-e4ac6e80-9dd6-11eb-8263-85238895cb80.png">

[2021-04-15 09:42] draganescu commented on #30006
In my head:

- when _classic themes_ (or hybrid/universal themes) opt in to display blocks in navigation locations we should not store the data in the old classic menu format, but instead store it as a CPT of type template/navigation.
- opting in to blocks in navigation locations will display the render result of the navigation block, and in the navigation editor we should show and use the block w

[2021-04-15 09:53] jameskoster opened #30865 "New template flow in the post editor: Ask the creator whether the template should be reusable or specific"
In the current flow...

https://user-images.githubusercontent.com/846565/114849153-656b6a80-9dd7-11eb-94aa-517632d0b167.mp4

... $custom templates (that can be applied to any content) are created. But in some cases a user might want the new template to only be used by the post / page being edited. E.G a cart or checkout template.

It also seems plausible that a specific template could be the expec

[2021-04-15 10:18] draganescu commented on #30007
I would start by adding a `supports:nothing` supports 😆

On one hand it looks amazing from the enumeration above how flexible the block system is. Using the documented filter API blocks are quite flexible in cherry-picking what to use from their array of features, and also to expand their available features.

On the other hand the final two items of the list point to us needing another block. Is a

[2021-04-15 10:39] CreativeDive commented on #29985
@nosolosw any new progress on this issue?

[2021-04-15 10:42] man4toman opened #30867 "Incorrect position of "add new block/block list" in rtl mode"
In rtl version of WordPress 57, there is a problem with **add new block/block list** position.
Please check the screenshot.

![block-editor-block-list](https://user-images.githubusercontent.com/935397/114856908-e721bf00-9dfc-11eb-93b8-0c6cb068dbd7.png)

- WordPress version: 5.7
- Are you using a default theme (e.g. Twenty Twenty-One)? Yes
- Operating system: Windows 10
- Browser: Latest version of

[2021-04-15 10:46] #30858 closed, assigned to Mamaduka

[2021-04-15 10:54] priethor commented on #26632
Block badges came as feedback during the Go/No-go demo on April 14th with the goal of marking block themes as "Lab" blocks, denoting they are stable (not beta) and can be used, but the user experience might not be polished yet.

[2021-04-15 10:55] carlomanf commented on #30865
They do exist, through the single-$posttype-$slug pattern.

[2021-04-15 10:58] oandregal commented on #30795
Ok, took a look at this, my braindump:

- Running `npx prettier --write **/**/*.md` gives a list of files modified. `packages/i18n/CHANGELOG.md` is unrelated to docgen, but the others are (the tools have different opinions about spacing and I learned that prettier formats code within markdown code blocks as well ― that's cool!).
- I understand we want to introduce this formatting step automaticall

[2021-04-15 11:03] ntsekouras commented on #30856
I just nuked my dev environment and restarted and Previews are back... 🤔

[2021-04-15 11:04] #30726 closed, assigned to talldan

[2021-04-15 11:06] gziolo commented on #30795
Thank you @nosolosw. It looks like we can collect updated files and run Prettier on all of them in one call or individually after each file gets updated 👍🏻

[2021-04-15 11:30] priethor opened #30871 "Site Title: Add a link to the block description instructions to go to the described location."
## What problem does this address?
The description in the Site Title Block mentions the Site Title can also be edited in "Settings > General", but the user needs to manually go to Settings, then to General, to see it.

![image](https://user-images.githubusercontent.com/27339341/114861750-f9483100-9ded-11eb-97a0-5d132cbea962.png)

## What is your proposed solution?

Link the "Settings > General" te

[2021-04-15 11:34] Mamaduka commented on #25805
I think the problem is with the "Upload a temporary image on mount" [effect](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/image/edit.js#L228). Changing alignment remounts component and triggers the second upload.

I'm not sure if there's a way to cancel the previous upload via the `useEffect` cleanp function.

The easiest solution here will be to hide Block Controls

[2021-04-15 11:35] priethor opened #30872 "Image Block: Improve "Alt text" attribute description."
## What problem does this address?
The sidebar option "Alt text" asks the user to describe the purpose of the image or to leave it empty, which can result in users not knowing the importance of the alternative text to leave it empty.
![image](https://user-images.githubusercontent.com/27339341/114862525-ee41d080-9dee-11eb-9025-ba074e1a8db1.png)

## What is your proposed solution?
As proposed during

[2021-04-15 11:37] jameskoster commented on #30865
Sorry I meant they do not exist in the site editing UI. Unless I am mistaken there is no way to create a specific template yet, outside of manually creating a .html file in your theme?

[2021-04-15 12:01] carlomanf commented on #30865
The latest version of trunk does expose the template post type in the Appearance menu, but there is also a long-unsolved bug that prevents the user setting their own slug, so on a practical level you are right. I do still like the added convenience of this proposal, but the single-$posttype-$slug pattern should definitely be used to implement it rather than any other means.

[2021-04-15 12:04] fklein-lu opened #30874 "Site Editor background color does not align with the frontend"
## Description

WordPress applies a background color to `body` through `common.css`. This style is not reset by Gutenberg, nor is `common.css` prevented from being enqueued in the site editor.

Therefore the site editor always has a grey background.

## Step-by-step reproduction instructions

**Option 1**
1. Open the site editor with any theme that does not set a background-color.
2. See that the

[2021-04-15 13:12] georgeh commented on #29963
I've been struggling to find a good way to add this to the existing color menu, and come up with 3 approaches:

1. Stop using `supports: color` and manually manage the colors in this block. Basically fork all the color UI for this block.
2. Add a second Inspector panel for "Submenu Color." I don't like this because it clutters everything up.
3. Add a filter to the color hook so that we can append

[2021-04-15 13:13] #30762 closed, assigned to youknowriad

[2021-04-15 14:16] vdwijngaert commented on #30872
FYI, this looks like it's identical to the WP Core Media Library.

![image](https://user-images.githubusercontent.com/772137/114882473-46370200-9e04-11eb-9e4c-07f959e51815.png)

This being said, I'm not sure that this description is the best place to convey importance of an alt text. A better place would be the documentation. Is there a guideline somewhere detailing what should and shouldn't be in

[2021-04-15 14:27] benlk commented on #28763
The reason I filed this bug was because I was trying to reproduce the screenshot's "labels with a header text followed by a description" behavior with a `RadioControl`. The documentation implies that it is possible: the post-visibility control screenshots are used in the documentation for an example of when to use a `RadioControl`, and they show a component with radio buttons and the more-complex

[2021-04-15 14:40] shaunandrews commented on #28217
I'm not sure this actually resolves the problem, though. With the "big and obvious" inserter button, its almost _harder_ to selected the parent Buttons block and delete it; As soon as you click it, your focus moves to the quick inserter and it becomes difficult to navigate to the toolbar, especially for keyboard users.

This is the behavior I would expect. If the Buttons block can _only_ support b

[2021-04-15 14:55] jasmussen commented on #29963
Thanks for surfacing those problems! The design showing multiple ways to add color controls beyond just _background and text_ is based on designs in https://github.com/WordPress/gutenberg/issues/27473#issuecomment-796773866, so this is not going to be a one-off "new color support" case and we might want to find which path is the path proposed in global styles and go that route.

For that reason, @

[2021-04-15 14:56] codebymikey opened #30876 "Table's figcaption/caption elements are not persisted when pasted into the editor"
## Description

When pasting raw HTML into the editor, the `figcaption` element isn't properly persisted.

This appears to be because the `figure` element isn't included when pasted in the first place, and this [piece of code](https://github.com/WordPress/gutenberg/blob/3da717b8d0ac7d7821fc6d0475695ccf3ae2829f/packages/blocks/src/api/raw-handling/figure-content-reducer.js#L68-L70) should have logi

[2021-04-15 15:44] critterverse commented on #30622
A relevant top bar menu exploration for Templates was shared here: https://github.com/WordPress/gutenberg/issues/30357#issuecomment-820285264

[2021-04-15 15:46] critterverse commented on #30357
Thanks @jameskoster, moved this discussion over to #30622 for the potential Reusable blocks and Template Parts implementation 🚀

[2021-04-15 16:55] dcalhoun opened #30878 "Switching between custom colors segmented control occasionally crops overflowing content on Android"
## Description
When toggling a segment control on Android, the scrollable, overflowing content is occasionally cut off. This was found in the steps within the [GB Mobile TC005 color settings test case](https://github.com/wordpress-mobile/test-cases/blob/trunk/test-cases/gutenberg/color-settings.md#tc005).

## Step-by-step reproduction instructions
1. Launch block editor on WPAndroid.
2. Add a Butt

[2021-04-15 17:32] chipsnyder commented on #30878
@antonis or @geriux would one of you be available to help look into this?

[2021-04-15 17:59] mcsf commented on #11789
This should be completely independent from the `render_callback` issue. That said, could you provide instructions for this? In my testing I found no issues. Here's what I did:

1. In a new post, add a Custom HTML block.
2. In its blank text area, paste the snippet attached below.
3. Hit _Preview_ to get the front-end result.
4. Observe that the browser presents an alert box, and that the page's so

[2021-04-15 18:08] mediaformat commented on #27166
There are additional problems with the default styles when using **multiple**

- Longer options are hidden, because of `white-space: pre`
![Screen Shot 2021-04-15 at 1 31 41 PM](https://user-images.githubusercontent.com/2895351/114914374-331a3700-9df0-11eb-9df7-ce501268521a.png)
- Options with text flowing onto a second line, can look confusing, there might be accessibility issues
![Screen Shot 20

[2021-04-15 18:32] thatdevgirl commented on #26386
Similarly, I think the "Color Settings" panel in the Inspector should also be removed, since it is also empty in this case.

[2021-04-15 18:52] antonis commented on #30878
@chipsnyder I reproduced this and I’ll have a look tomorrow during groundskeeping. It’s weird that it is happening only on Android and with the specific steps 🤷

[2021-04-15 19:13] paaljoachim commented on #19878
Testing with WordPress 5.7.
Twenty Twenty One.
Gutenberg plugin 10.4.1
A local test site.
Chrome

Made a new post.
Added characters that fill the box making it horizontally scroll.
![Screen Shot 2021-04-15 at 21 12 39](https://user-images.githubusercontent.com/5323259/114925396-56180b80-9e2f-11eb-87f0-3871102070fe.png)

It looks fine to me. I think we should leave it as it is. Even though the user

[2021-04-15 19:17] paaljoachim commented on #19476
Hey @tomjn Tom is this issue still valid?

[2021-04-15 19:24] paaljoachim commented on #19454
Testing using:
WordPress 5.7
Twenty Twenty One.
Gutenberg plugin 10.4
Safari

I tested similar to what @jasmussen Joen mentioned and to me it now seems to be working correctly.
As parent block is selected I can click directly into the paragraph block inside the columns block.
I believe this issue can now be closed.

[2021-04-15 19:28] tomjn commented on #19476
I don’t know, I switched back to chrome a long time ago and haven’t
retested this since

[2021-04-15 19:34] paaljoachim commented on #19225
Testing with WordPress 5.7
Twenty Twenty One
Gutenberg plugin 10.4.1

This is what I see:
Backend (Pasting the mp3 link kept it as a link. I did not even see the embed box.):
![Screen Shot 2021-04-15 at 21 31 43](https://user-images.githubusercontent.com/5323259/114927837-333b2680-9e32-11eb-8d85-a8b6ea1eff07.png)

Frontend:
![Screen Shot 2021-04-15 at 21 33 11](https://user-images.githubuserconten

[2021-04-15 19:44] paaljoachim commented on #19197
Testing using WordPress 5.7.
Twenty Twenty One.
Gutenberg plugin 10.4.1

Copy and pasting the word "Warum?" from the above linked Word document into a Paragraph block adds the word "Warum?

Pasting the word "Warum?" from the Word document into the caption area of an Image block shows this:
![Screen Shot 2021-04-15 at 21 43 14](https://user-images.githubusercontent.com/5323259/114929057-a09b8700-9e

[2021-04-15 19:50] paaljoachim commented on #20867
I am wondering if this issue is still valid or if it needs updating?
Is there anything here or in associated issues/PRs that contains information that should be added to the Block Editor Handbook?

Perhaps there should be a way through preferences to hide Patterns?

[2021-04-15 19:51] wwdes commented on #14744
The biggest difference between a group block and a cover block to me is that gutenberg does not add any "padding" to group blocks. The second thing is that groups don't allow images.

I am trying my best to come up with reasons to why I would need two blocks instead of one unified block. If someone has examples please do tell.

A merge of these blocks would be a move in the right direction in my o

[2021-04-15 19:52] FlyingDR commented on #19476
@paaljoachim Issue is reproducible in WordPress 5.7. Firefox Developer Edition 89.0b9 on Windows 7.

Steps to reproduce: Copy / paste several paragraphs of text (from lipsum.com in my case) and move them up / down using block moving controls. Result can be seen below:

![image](https://user-images.githubusercontent.com/822673/114929670-c5e0c300-9e3c-11eb-8639-99ca3f3ea81d.png)

Toggling of `privac

[2021-04-15 19:57] paaljoachim commented on #20855
Testing with WordPress 5.7.
Twenty Twenty One
Gutenberg plugin 10.4.1

I made a parent page.
Then I made a child page which then was associated with the Parent Page.
I trashed the parent page.
Went back to the child page and was able to make changes and save.

I would say that this issue as been fixed. Please let me know if I made a mistake. As the issue can always be reopened if need be.

[2021-04-15 19:57] #20855 closed

[2021-04-15 19:59] brentswisher commented on #29697
Ah, I was just adding the storybook integration so I am not sure about the experimental status of the component itself. Personally, I don't see any reason why it needs to be, but @ellatrix or @jorgefilipecosta would probably know more.

[2021-04-15 20:03] paaljoachim commented on #20764
Thank you for adding the issue Matias!

@glendaviesnz This is something to test in relation to the updated Gallery block.

[2021-04-15 20:06] paaljoachim commented on #20173
Is this issue still valid?
@retrofox Damian might have some input here.

[2021-04-15 20:09] ghost commented on #20173
oh wow, this is still open! :)

[2021-04-15 20:12] #28680 closed

[2021-04-15 20:14] paaljoachim commented on #20042
I just tested using WordPress 5.7.
Twenty Twenty One.
Gutenberg plugin 10.4.1

Pasted the above code into code view:
![Screen Shot 2021-04-15 at 22 12 06](https://user-images.githubusercontent.com/5323259/114932405-c034ae80-9e37-11eb-8f21-4cb8f40a9bed.png)

Switched back into the visual editor:
![Screen Shot 2021-04-15 at 22 12 23](https://user-images.githubusercontent.com/5323259/114932459-d3477e

[2021-04-15 20:22] paaljoachim commented on #19476
Ugh...not good... Hopefully someone can pick it up and fix it.
Thanks for testing @FlyingDR Alexander!

[2021-04-15 20:58] glendaviesnz commented on #20764
It doesn't happen with the refactored gallery as clicking on an image block just selects that image rather than the parent gallery:

![gallery-selection](https://user-images.githubusercontent.com/3629020/114937435-e7b86500-9e91-11eb-9340-c64175a57e93.gif)

[2021-04-15 21:25] retrofox commented on #20173
HI, there. I can take a look at it these days. :-)

[2021-04-15 21:50] sunnyssr commented on #30867
I was able to reproduce this error too. 👍

Here is the link to WordPress.org ticket which is related: https://core.trac.wordpress.org/ticket/52809

[2021-04-15 22:57] #27783 closed

[2021-04-15 23:44] peterwilsoncc opened #30883 "`.nvmrc` file incorrect in some older WordPress branches"
## Description

The branches `wp/5.1` - `wp/5.4` specify `lts/*` in the `.nvmrc` files.

During a commit run yesterday, I noticed this causes the build to fail in both the 5.3 and 5.4 branches and I needed to force version 10 (`nvm install 10`) for the builds to be successful.

I wasn't committing to the 5.0, 5.1 or 5.2 branches so these may also be affected.

## Step-by-step reproduction instruct

[2021-04-15 23:45] AmandaRiu opened #30884 "Mobile Web: Search block - long button text handling"
## What problem does this address?

Long button text makes it difficult to work with the Search block on the mobile web and it works differently than in the native apps.

## What is your proposed solution?

The Search block has recently been ported to the native mobile apps and [it handles long button text differently than on the mobile web](https://github.com/WordPress/gutenberg/pull/30855). If t

[2021-04-16 01:43] #30267 closed, assigned to noisysocks

[2021-04-16 03:26] critterverse opened #30886 "Customizer Widgets: Add missing ellipses Options menu in top bar"
Opening this issue to discuss adding the ellipses menu that's available in the top bar of the post editor to the Customizer Widgets screen. This is a companion issue to #27564, which is focused on the standalone Widgets screen.

The ellipses menu contains several accessibility/usability additions to the editor experience (like the ability to access Keyboard shortcuts and the Welcome Guide) so it w

[2021-04-16 03:29] critterverse commented on #27564
Seconding this menu as important functionality to add for both of the Widget editors. Opened a companion issue for the Customizer Widgets screen in #30886!

[2021-04-16 03:53] critterverse opened #30887 "Show Welcome Guide on first visit to Customizer Widgets screen and Appearance Widgets screen"
Hi all, opening this issue to discuss the possibility of showing the "Welcome to the block editor" modal that appears on first visit to the post editor upon first visit to the Customizer Widgets screen.

It would be great to add this for the standalone Widgets screen as well, but just focusing on the Customizer for now as the modal appearing on this screen is less straightforward in terms of sizin

[2021-04-16 04:08] talldan commented on #28217
Just to add some more detail, the buttons block uses a template currently—when a buttons block is empty the template is used to create an empty singular button inside of buttons. That template is also created when first adding a buttons block.

I think a goal should be more consistency. That similar blocks work differently is probably one of the confusing aspects for users. I don't think any other

[2021-04-16 05:52] talldan commented on #30006
How about if it becomes the only way to create a submenu? That seems to be what the issue proposes.

[2021-04-16 06:29] jasmussen commented on #19454
@gziolo in relation to https://github.com/WordPress/gutenberg/issues/30299, should this one or that be closed? Are they the same do you know? Thanks for testing Paal.

[2021-04-16 06:35] jasmussen commented on #28217
That seems maybe worth solving for every block that uses this big and obvious appender, actually! It'd be useful for the group, it'd be useful for columns. What do you think?

My concern with that is that we can't replicate this for every container block: you have to be able to insert an empty group block, or a columns block with empty columns. So the behavior between blocks would fragment further

[2021-04-16 07:44] Mamaduka commented on #25805
I went ahead and created PR using the second option.

[2021-04-16 07:55] #30179 closed, assigned to JustinyAhin

[2021-04-16 07:56] carlomanf opened #30892 "Templates and template parts appear in admin menu for all users"
## Description
Templates and template parts are meant to be editable only for users that have `edit_theme_options` as a capability. However, they are appearing in the admin menu for users who don't have that capability, such as Contributors and Authors.

## Step-by-step reproduction instructions

1. Sign in as a Contributor, Author or some role that does not have `edit_theme_options`
2. See that T

[2021-04-16 08:00] JustinyAhin commented on #30871
Are there any examples of where such a thing is done?

[2021-04-16 08:09] gziolo commented on #19454
It's very likely they are the same, see my comment: https://github.com/WordPress/gutenberg/issues/30299#issuecomment-808451499. There is also https://github.com/WordPress/gutenberg/issues/29678 that looks similar. Ideally, we test them all and close all that can't be reproduced. @jasmussen, can you still reproduce this one?

[2021-04-16 08:16] Mamaduka commented on #19454
There's also #30249, which I could reproduce on Chrome, but it's inconsistent compared to Safari.

Unfortunately, I'm not sure where to look next for the source of the issue.

[2021-04-16 08:19] JustinyAhin commented on #30872
I agree with @vdwijngaert about having this info somewhere in documentation. Maybe here?  [Alt Text, alternative text for images](https://make.wordpress.org/accessibility/handbook/content/alternative-text-for-images/)

[2021-04-16 08:33] priethor commented on #30871
Not that I can think of off the top of my head, since [the description](https://github.com/WordPress/gutenberg/blob/5a06916021e12b7cf04133c3b33aeffb0b618110/packages/block-library/src/site-title/index.js#L19) is a translatable string.

[2021-04-16 08:33] dhruvkb commented on #30876
Reproduced. Looks like the code responsible for this is
https://github.com/WordPress/gutenberg/blob/5a06916021e12b7cf04133c3b33aeffb0b618110/packages/blocks/src/api/raw-handling/figure-content-reducer.js#L24

Strangely enough, the markup generated for the table after adding the caption from the UI is identical to the one pasted into the editor.

[2021-04-16 08:35] priethor commented on #30872
I also agree it should link to wordpress.org documentation rather than relying on external references.

[2021-04-16 08:46] dhruvkb commented on #30883
@peterwilsoncc what should be the correct Node version to be mentioned in `.nvmrc` for these branches?

[2021-04-16 08:59] FlyingDR commented on #19476
@paaljoachim There is interesting nuance that can only be seen in action so I've recorded small video, see below.

Please notice that as soon as `privacy.resistFingerprinting` setting is turned off - all stuck animations are **automatically** get resumed and played till the end.

So probably the only thing that is required for the fix is to detect fingerprint resistance and either disable animatio

[2021-04-16 09:08] swissspidy commented on #30883
Probably whatever the LTS version was at the time. Which I suppose is `10` because that's what he needed to use according to the description :-)

[2021-04-16 09:11] talldan opened #30897 "Make block highlight/focus when clicking the pencil button or when moving to a different widget area"
## What problem does this address?
When using the block in widget customizer experiment, there are some situations where we want to focus or highlight the selected block.

- When clicking this thing in the preview area:
<img width="59" alt="Screenshot 2021-04-16 at 4 55 32 pm" src="https://user-images.githubusercontent.com/677833/115000967-d729de00-9ed5-11eb-8d17-9b4f57d5abf0.png">

- When moving

[2021-04-16 09:19] gziolo commented on #29963
I need to think about it, but UI wise it could benefit from using a subgroup:

- Color
  - Background
  - Text
  - Overlay
    - Background
    - Text

Now, with that in mind, I'm trying to better understand what we get as a final result. In practice, the overlay is rendered as part of the Navigation Link block (it's a bit confusing when you find out). As a first thought, I would expect to have th

[2021-04-16 09:21] gziolo commented on #30883
@dhruvkb, do you plan to take care of it?

We should also check `5.5` and `5.6, which might require Node 12.

[2021-04-16 09:23] gziolo commented on #30739
Yes, I agree it is a relatively simple change. We can always do both options discussed 😄

[2021-04-16 09:28] talldan opened #30898 "Block 'Move To' option doesn't allow moving after last block or into empty block lists"
## Description
The block 'move to' option seems to have two similar problems:
- It can't be used to move a block to an empty block list (e.g. an empty column)
- It can't be used to move after the last block.

## Step-by-step reproduction instructions
1. Add a paragraph
2. Add some columns after the paragraph
3. Select the block 'move to' option
4. Using the keyboard use the up/down arrow keys to m

[2021-04-16 09:30] dhruvkb commented on #30883
@gziolo I can surely give it a try. The process would involve trying to build the project on the branch with the specific Node version, right?

[2021-04-16 09:31] talldan opened #30899 "Block 'Move to' option keyboard controls are confusing."
## What problem does this address?
When using the block 'move to' option, the keyboard controls aren't very clear. The idea is that:
- up/down arrow keys to move before/after
- left/right arrow keys to move in and out of nested blocks (that are below the indicator).

The feature was mostly developed for screen reader users, but there's no reason it can't work equally well for everyone.

## What is

[2021-04-16 09:33] talldan commented on #25766
To summarise this issue, I think there are two things that have been noted as improvements:
- Improve using the block movers to move between container blocks (tracked in #24328)
- Improve the ease of use of the 'Move to' option from the block settings menu. I've made two issues for this—https://github.com/WordPress/gutenberg/issues/30899 and https://github.com/WordPress/gutenberg/issues/30898.

Fo

[2021-04-16 09:33] #25766 closed

[2021-04-16 09:35] mostl33 opened #30901 "API for adding a -top- Toolbar Button"
Hi there,

is there an API to add a Button to the Top-Toolbar? I can't find anything (just unanswered posts):

![image](https://user-images.githubusercontent.com/73604048/115005034-bcd90b80-9ea7-11eb-80a0-4d0cd8cfd410.png)

Thanks in advance & thanks for this _great_ project -!-
mostl33

[2021-04-16 09:38] jasmussen commented on #29963
UI-wise, I don't think a sub-group is necessary. I'm thinking a list of this visual treatment might work well:

<img src="https://user-images.githubusercontent.com/548849/110799320-54c95100-827b-11eb-9db0-e768a6d31a12.png">

So just a list of color properties.

I'm missing bits and pieces here, but for me it doesn't seem very complex at all.

There's a navigation block, and I can set a background

[2021-04-16 09:51] jasmussen commented on #29963
Perhaps a better way to think of it is as the background color for the burger menu from #30047. So just one color for the background, one for the foreground, and it's a property of the block itself, just like the burger menu is a toggle on the block itself.

[2021-04-16 09:55] gziolo commented on #30883
Yes, you install `nvm` locally and then you update `.nvmrc` in every branch following the instructions shared in the description.

[2021-04-16 09:58] Mamaduka commented on #29880
Hi, @rsmith4321

The "Media and Text" block doesn't add the `srcset` attribute to the image. This is done by `wp_image_add_srcset_and_sizes` function before content is rendered.

Unfortunately, there's no way for that function to know how an image is positioned.

[2021-04-16 10:03] karmatosed opened #30902 "Include messaging on template and template parts screens to show it's those you've edited"
## Problem
This is a really low hanging thing hopefully but helps with usability for those discovering full site editing and actually caught me for a moment due to the terms being used. I found myself when working on a theme for a moment confused that my templates in theme and parts didn't show in the templates and template parts interface until I'd edited them.

## Recommendation
Probably the eas

[2021-04-16 10:08] karmatosed opened #30903 "Global styles: Root as a term is too technical"
## Problem
Global styles currently has the terms 'root' and 'by block type' exposed. I would like to propose that these are iterated to be a little more non-technical user friendly. You don't find many people that don't code saying root unless talking about plants or haircuts.

## Recommendation
I would suggest framing this as 'site' and 'block' probably works better for translation and also under

[2021-04-16 10:12] simison opened #30904 "Add contextual help explaining what a "Featured image" is"
## What problem does this address?
At page/post settings, there's featured image section:

<img width="280" alt="Screenshot 2021-04-16 at 13 08 28" src="https://user-images.githubusercontent.com/87168/115009404-efd5cc00-9eb4-11eb-866d-f368aa5dd173.png">

We don't explain what this does, or why is it important.

## What is your proposed solution?

Add some explanation and link to the documentation.

[2021-04-16 10:12] gziolo commented on #30736
https://github.com/WordPress/gutenberg/blob/trunk/docs/contributors/code/testing-overview.md#end-to-end-testing

Can you check with:

[code]

[2021-04-16 10:12] karmatosed opened #30905 "Global styles: confusing as to which color is the one showing when closed menu"
## Problem
The menu for colors when closed simply shows:

![image](https://user-images.githubusercontent.com/253067/115009721-7afa9600-9ea4-11eb-9d2e-9acab69f15ae.png)

Whilst this is great, it is very confusing when you see even in a simple theme other options:

![image](https://user-images.githubusercontent.com/253067/115009683-72a25b00-9ea4-11eb-8fc7-10a1b07008aa.png)

## Solution
I am cautious

[2021-04-16 10:16] gziolo commented on #30832
The same issue was reported by @sarayourfriend on WordPress Slack in the #core-js channel:

https://wordpress.slack.com/archives/C5UNMSU4R/p1618497029294800

I can confirm that this issue exists. The constant shouldn't be exposed from `@wordpress/block-editor` in the first place.

[2021-04-16 10:16] Mamaduka commented on #29362
Hi, @tellthemachines

I think size settings were added to control image file size. See https://github.com/WordPress/gutenberg/pull/24795#issuecomment-686065552.

But I agree, it's a little confusing. Maybe we should add a description or change the label.

[2021-04-16 10:28] gziolo commented on #30859
What was the reason you couldn't use the default block autocomplete triggered when typing `/`?

[2021-04-16 10:59] ntsekouras commented on #30445
I personally can't find much value in this transform, as `Cover` block needs user input to initialize and we'll have to make arbitrary choices about them. This can confuse users I think. Maybe by having extra checks for having an Image block in group's InnerBlocks and use that as the Cover's background 🤔  ?

Even that would need more changes since the `isMatch` from `transforms API` would need to

[2021-04-16 11:02] karmatosed commented on #30904
@simison could you put the messaaging 'in' the block itself that says 'set featured image'? I wonder if there's an option here to combine both together over have 2 areas of text?

[2021-04-16 11:04] david-szabo97 commented on #30739
Taking this 😄

[2021-04-16 11:05] mtias commented on #30904
That text doesn't seem to add anything regarding why it's recommended?

[2021-04-16 11:06] karmatosed commented on #30887
I wonder what problem this is solving so would love to dig a little into that. My guess is you are looking to solve the first experience of wondering what the editor is now it's in this area? Is that correct?

I think the problem with reusing this in the size of space is that the space is smaller and also it was designed to be used in a different setting. That doesn't mean that the useful elements

[2021-04-16 11:09] karmatosed commented on #30886
I think keyboard shortcuts are an absolute win here but as you allude in your post it's important to maybe consider what is needed in this interface over bring everything. I'm not totally sold on all the tools as a result. What impact would only having keyboard shortcuts have? Is that a solid improvement and how much are the others needed? My thinking here is widgets are very confusing as they are

[2021-04-16 11:14] mcsf commented on #19476
Seems to be [fixed in `react-spring` as of `v9rc3`](https://github.com/pmndrs/react-spring/issues/664#issuecomment-801947139), so it should be a matter of upgrading that dependency in Gutenberg, if someone is interested.

[2021-04-16 11:20] mtias commented on #28744
Updated the issue to exclude the "comments" related ones, since those make more sense for `single` page templates and need a bit more work.

[2021-04-16 11:21] goranalkovic-infinum commented on #30859
We're making custom (dynamic) blocks, not connected to stock Gutenberg blocks.

In the Editor there's a `RichText` component.
The default `UserAutocomplete` is working fine, the _/ to insert_, however is not, and we would like to have it work to improve user experience.

[2021-04-16 11:21] mtias commented on #20764
Yes, I'm going to close this as it should be addressed there.

[2021-04-16 11:26] simison commented on #30904
@mtias I agree, text needs to be something better and/or link to more in-depth docs. That was just an example of AMP plugin adding that exact text currently.

[2021-04-16 11:28] priethor opened #30908 "Navigation Link Block: Improve link management experience"
## What problem does this address?
The navigation link block fully relies on popovers to manage the link settings (destination, target). Moreover, the popup needs to be opened even to see what link destination is.

https://user-images.githubusercontent.com/27339341/115016564-80141100-9eb5-11eb-8332-cf78e72847a4.mp4

## What is your proposed solution?
As suggested during the [FSE Go/no-go demo](htt

[2021-04-16 11:32] gziolo commented on #29963
It makes me wonder if we should introduce an official API that registers commonly used inspector/toolbar controls so we could cover some custom cases for colors that you can see in the Navigation, Buttons, or the Social Links blocks. I'm sure there is more, but the idea would be that a plugin can register a custom color for overlay, then a block enables it with some `supports` flag.

Well, it isn’

[2021-04-16 11:42] priethor commented on #30908
Closed as duplicate of #23375

[2021-04-16 11:42] #30908 closed, assigned to nobody

[2021-04-16 11:49] mtias commented on #25505
@kjellr do you think this is achievable now with patterns?

[2021-04-16 11:57] mtias commented on #30380
@kjellr this seems the same as #25462. Going to close so that we can consolidate conversation there.

[2021-04-16 11:57] #30380 closed, assigned to nobody

[2021-04-16 11:58] mtias opened #30910 "Query Loop Block Improvements"
These are some notes for tracking improvements to Query block.

**Prioritized for WordPress 5.8:**

- [x] Expand inline descriptions to help explain terminology and function better.https://github.com/WordPress/gutenberg/pull/32694

The "inherit query" setting is very obscure. There's a few things we need to address there:

- [x] **Don't** make it the default for patterns. https://github.com/WordPr

[2021-04-16 12:02] getsource commented on #30445
I'm not sure if it's better for me to reply here or in the PR.

It's worth noting that this does not require user input if there is an existing background of some sort, but I hear you.
I'm mostly thinking it might be easier for a user to take this path, if they started out with a group, and decided to move to a cover block. Could also only allow the transform when that's the case, but that blocks

[2021-04-16 12:13] mtias commented on #30406
Description updated in #30909

[2021-04-16 12:17] kjellr commented on #30445
Perhaps we only make this available for Group Blocks that have a solid color background set? Then there's a clear 1:1 cover block equivalent to transition to. (Once https://github.com/WordPress/gutenberg/issues/14744 is resolved, there should be more possibilities here too).

[2021-04-16 12:20] oandregal commented on #29963
Braindump about the structure of color properties:

- background, color, gradient, or link props map directly to a specific CSS property: background-color, color, background, and --wp--style--link-color, specifically.
- We also have the upcoming duotone block attribute, which is not serialized to the block's HTML markup but instead [we attach some styles in the server](https://github.com/WordPress

[2021-04-16 12:21] antonis commented on #30878
I'm able to reproduce this consistently on release builds but not on debug mode with metro. I was able to reproduce since 16.8-rc-3 and is probably older than that.

[2021-04-16 12:24] mirka commented on #28031
Duplicate of #18637?

[2021-04-16 12:25] ntsekouras commented on #30445
Handling `Group` blocks that have background/gradient should work well with the current API `isMatch`. Agreed.

Also I'm not aware if we can extract the theme's main background color programmatically to set as `background` to `Cover` if not one is set..

[2021-04-16 12:25] mirka commented on #18637
Related: #7591

[2021-04-16 12:49] youknowriad commented on #29963
I'm still wrapping my head around this but I think I feel like we shouldn't model reusable APIs around the use case of the Navigation block which is very advanced and very adhoc. So for me, the solution might be to not use the support flag in this block (doesn't mean it case use global styles settings and styles though)

(Sorry clicked the wrong button)

[2021-04-16 12:49] kjellr commented on #30445
Yeah, I'm not sure that we can. Though it might get easier to do that if the theme's defined a background via theme.json.

[2021-04-16 12:58] critterverse opened #30912 "Customizer Widgets: Make editor top bar visible on scroll"
Hi all, re-sharing an idea that came up in https://github.com/WordPress/gutenberg/issues/30720#issuecomment-818278219 around the scrolling behavior for the editor "top bar."

I'm wondering if the top bar should act as a sticky element on scroll — meaning the Customizer navigation area could scroll as normal and disappear out of view, while the editor top bar could lock into position directly under

[2021-04-16 13:07] draganescu commented on #27186
Howdy friends 👋  This seems to have been solved in #27777 so I will close the issue. Thank you for reporting and for all the helpful comments.

[2021-04-16 13:07] #27186 closed

[2021-04-16 13:10] Mamaduka commented on #15159
I think this can be closed since we're using Github actions now.

[2021-04-16 13:17] ntsekouras commented on #30871
Maybe an approach like this one: https://github.com/WordPress/gutenberg/pull/27732, with `createInterpolateElement`?

[2021-04-16 13:17] critterverse commented on #30886
Thanks @karmatosed! I'm not convinced we need everything in the Tools section either but I think this section contains most of the features of interest for the Customizer experience. If we were going to break down the options in that section further, I would vote for trying to include the items that are directly accessibility/usability related:

1. Keyboard shortcuts
2. Welcome guide
3. Copy all c

[2021-04-16 13:19] ntsekouras commented on #30856
@talldan is this still a problem for you? I think we can close this, as it seems it had to do with dev environment problems, no?

[2021-04-16 13:32] markhowellsmead commented on #30508
Not every post has a featured image; over half of our agency clients either don't have imagery or don't want to spend time trying to find stock imagery for their posts. It would be great if the layouts worked both with and without images in every post, either using a configurable fallback image, background color or pattern.

[2021-04-16 13:39] bkjproductions commented on #30695
The existing code/theme editor is one of those things that usually I have to disable for clients anyway. I would wonder why have it at all, now that the block editor seems to require more serious programming skills (if you're going to mess around in PHP/JS/React) and allowing the novice to willy-nilly change code might encourage sloppy coding.

[2021-04-16 14:02] davidperezgar commented on #30619
If I remove to 10 categories, it loads correctly...

[2021-04-16 14:09] #15159 closed

[2021-04-16 14:11] critterverse commented on #30887
This is super helpful feedback, thanks @karmatosed! ❤️

This Welcome Guide feels especially important for users who may not have encountered the block editor in _any_ context before.

I'm a fan of the Welcome Guide format because I think it's a nice layer of user-friendliness that's often missing in WordPress (plus amazing GIFs!). Just thinking out loud but I wonder if some of the weirdness around

[2021-04-16 14:31] mchowning commented on #29483
Test comment that will be deleted.

[2021-04-16 14:50] priethor commented on #30910
It could also be worth exploring a "click-through" interface like with reusable blocks in #29337

[2021-04-16 14:59] kjellr opened #30917 "The Featured Image Block can not be resized"
It's currently not possible to set a height or width for the featured image block. I expected to be able to resize this just like I can for the Image block.

Adding this will open up many possibilities in terms of query block patterns, and may also resolve https://github.com/WordPress/gutenberg/issues/27620.

---

Featured Image Block Settings:

![Screen Shot 2021-04-16 at 10 54 57 AM](https://use

[2021-04-16 15:00] paaljoachim commented on #19476
Perhaps @gwwar Kerry is able to check it out later on.

[2021-04-16 15:01] kjellr commented on #30917
On second thought, I'm just going to close this in favor of #27620 — they're really similar.

[2021-04-16 15:01] #30917 closed, assigned to nobody

[2021-04-16 15:11] ceyhun commented on #29008
@gziolo just created a fork [wordpress-mobile/gutenberg-rnmobile-monorepo-commit-history](https://github.com/wordpress-mobile/gutenberg-rnmobile-monorepo-commit-history/) to keep the history and deleted the `rnmobile/monorepo-commit-history` tag. Seems like this lowered the size even more:

<img width="600" alt="gutenberg-clone" src="https://user-images.githubusercontent.com/1845482/115045177-8f57

[2021-04-16 15:14] shaunandrews commented on #28217
Definitely. We've seen many times that the "big and obvious" button makes Columns very hard to use.

Oooh, what headaches?

[2021-04-16 15:18] paaljoachim commented on #11681
It sounds like we just need a person to work on this issue.
I will go ahead and add the "Needs Dev" label.

[2021-04-16 15:20] shaunandrews commented on #30700
Funny enough, I have the opposite problem; I can't drop a block at the top of a Column:

![column-block-dropping](https://user-images.githubusercontent.com/191598/115046605-a6ca4b80-9ea5-11eb-8a10-584d835fb3f8.gif)

[2021-04-16 15:27] priethor commented on #30701
It's worth noting that this doesn't happen when setting the Site Title to H1, as the blocks.css includes the following code:

[code]

Would there be any contraindication to directly removing the underline from all heading levels?

[2021-04-16 15:34] shaunandrews commented on #29951
This is already possible, but you have to insert a Post Link block:

<img width="127" alt="image" src="https://user-images.githubusercontent.com/191598/115048414-88fde600-9ea7-11eb-99b9-7bb1e78e3953.png">

<img width="393" alt="image" src="https://user-images.githubusercontent.com/191598/115048445-91eeb780-9ea7-11eb-8187-1ae75ecdee00.png">

If you insert the Page Link block or the Custom Link bloc

[2021-04-16 15:38] paaljoachim commented on #30700
That is weird.
It has a mind of its own.
It looks like a general fix is needed here.

[2021-04-16 15:41] priethor commented on #23228
As a status update of this issue as of Gutenberg 10.4, half of the ideas proposed above are already implemented:
- [x] Letter-case
- [x] Letter-spacing
- [x] Margin and padding
- [x] Font size and line-height
- [x]  Font style and weight (https://github.com/WordPress/gutenberg/pull/31734)

[2021-04-16 15:48] jasmussen commented on #28217
@annezazu has been running excellent usertests across the site editor, and some of those have surfaced feedback about how the 3 colored social links dots looked like the social icons were already inserted and that perhaps social network properties defined for the WordPress user had been leveraged to configure them. The latest attempt at addressing that was the "Click plus to add" prompt you see ab

[2021-04-16 15:48] priethor opened #30918 "Improvements to Site Title Block"
**High Priority (target WP 5.8)**
- [x] Whole title styling options:
  - [x] Bold, Italic (#31734)
  - [x] Letter-spacing (#31118)
  - [x] Margin (depends on #28356, fixed in #31728)
  - [x] Padding
  - [x] Font-size and line-height #23228, #29622
- [ ] Make the Site Title icon more understandable #30233
- [ ] Add option not to link to the site home in the frontend #31540
- [x] Normalize toolbar a

[2021-04-16 16:01] draganescu opened #30919 "Migration path for widgets to blocks for plugin and theme authors"
As one of the goals of introducing blocks to widget areas is to create a kind of stepping stone for block based themes adoption and classic theme migration, a mechanism that is aimed at moving away from widgets should be provided. Therefore I propose that we:

## Implement a way for plugins to convert the widgets they provide to alternative blocks they recommend.

Mechanism description:

1. The `L

[2021-04-16 16:16] annezazu commented on #30727
As I'm going through feedback from Yoast's contributor day and reviewing these issues for the FSE program, I noticed this one is a duplicate of an earlier issue: https://github.com/WordPress/gutenberg/issues/27830 I'm going to close this out in favor of the earlier one to help keep things organized :)

[2021-04-16 16:16] #30727 closed, assigned to nobody

[2021-04-16 16:24] priethor opened #30921 "Improvements to Site Tagline Block"
Similarly to the enhancements collected in #30918, the Site Tagline would greatly benefit from the following:

**High priority (target 5.8)**
- [x] General styling option:
  - [x] Letter-spacing (#31118)
  - [x] Margin (#31809)
  - [x] Padding (#31042)
  - [x] Letter-casing (#31042)
- [x] Normalize toolbar

**Low priority**
- [ ] Add an option to link to the site home in the frontend
- [ ] Make th

[2021-04-16 16:25] annezazu commented on #30719
@carolinan can you clarify a bit here what you want to see? Do you want a different order of color options? I'm not quite following this issue or the problem.

[2021-04-16 16:40] annezazu commented on #30722
As explained originally here https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/paragraph/style.scss#L18 and referenced in this previous issue https://github.com/WordPress/gutenberg/issues/12172 this is intended behavior! Closing this out as a result.

[2021-04-16 16:40] #30722 closed, assigned to nobody

[2021-04-16 16:44] annezazu commented on #30723
I'm going to close this out in favor of the issue @Mamaduka referenced here as it covers the same problem 🙌🏼

[2021-04-16 16:44] #30723 closed, assigned to nobody

[2021-04-16 16:52] annezazu commented on #30724
Just noting that the feedback here should be addressed by working underway here: https://github.com/WordPress/gutenberg/issues/28356

[2021-04-16 17:03] annezazu commented on #23937
I wasn't able to reproduce this with Gutenberg 10.4 and WordPress 5.7 using TT1 Blocks. Going to close this out as a result but, as always, feel free to reopen :)

[2021-04-16 17:03] #23937 closed

[2021-04-16 17:04] critterverse opened #30922 "Turn the Experiments screen in the Gutenberg plugin into Gutenberg Labs (a home for beta testing)"
There was a great discussion in the Making WordPress Design channel this week around making easier pathways for new contributors to get involved with testing and other ongoing work in core: https://wordpress.slack.com/archives/C02S78ZAL/p1618425099083700

I think there’s an opportunity to add a layer of user-friendliness around beta testing by transforming the “Experiments” screen in the Gutenberg

[2021-04-16 17:05] annezazu commented on #30728
Thanks for opening :) Closing this though as it's already been reported here! https://github.com/WordPress/gutenberg/issues/30398

[2021-04-16 17:05] #30728 closed, assigned to nobody

[2021-04-16 17:13] sarayourfriend commented on #30832
What's the correct way to solve this? Remove the import from `block-library` and just duplicate the constant across the packages? Just want to make sure it's clear before someone dives into fixing this.

[2021-04-16 17:14] annezazu commented on #30922
I would love to see this happen as it would make for a great education tool based on my experience with the FSE outreach program. Great thinking! This feels like a missed opportunity right now.

[2021-04-16 17:16] annezazu commented on #30741
Updated the title to match the feature :)

[2021-04-16 17:21] westonruter commented on #30904
Yes, the text should be better. It is too vague. In the AMP plugin context, the featured image is used in the Schema.org metadata that it adds to the page. So this will ensure that the post will have the expected image when it shows up in Search or when shared on social media. Jetpack and Yoast similarly use the featured image to determine what is included in the metadata for search/social.

Howev

[2021-04-16 17:29] joedolson commented on #30904
At the moment, I'm not sure what core can say about what benefits you can get from setting the featured image - does core, practically speaking, have a way of knowing how the featured image might be used?

[2021-04-16 17:32] draganescu commented on #24687
Updated to reflect the new focus on Backwards compatibility and extensibility.

[2021-04-16 17:35] kjellr commented on #25505
I love a Friday challenge! The answer is yes and no.

It is _not_ possible natively yet. These are the blockers there:

- As noted in https://github.com/WordPress/gutenberg/issues/27620, featured images have no width or height controls yet.
- Right now, blocks are all `block` elements that flow vertically, and there's no built-in way to change that. https://github.com/WordPress/gutenberg/issues/26

[2021-04-16 17:40] davidperezgar commented on #30619
Hello, Trying to solve the problem. If I deactive the plugin Gutenberg, I get different error:
TypeError: Cannot read property 'show_ui' of undefined

So searching the problem, I get this issue [#9912](https://github.com/WordPress/gutenberg/issues/9912), that sees that there is a problem with the configuration of NGINX.

If I deactivate permalinks it works and it loads the categories. How could I

[2021-04-16 17:41] paaljoachim commented on #30922
Hey Channing!
That is a very interesting idea! Extending the Gutenberg experimental screen is a really nice idea!
Gutenberg Labs. I like the sound of that..:)

[2021-04-16 17:45] westonruter commented on #30904
No. Not without rendering the theme's singular template for the given post and checking whether the `post_thumbnail_html` filter applies, for example. But even that wouldn't catch cases where the theme grabs the image via `get_post_thumbnail_id()` and renders it using `wp_get_attachment_image()`.

In practice, though, all themes will display the featured image prominently at the top of the post. S

[2021-04-16 17:54] chaion07 commented on #30922
'**Gutenberg Labs**' Pretty cool idea. Would love to see the concept put into test.
+1 from me 🙌

[2021-04-16 18:04] javierarce commented on #30922
This is a fantastic idea! I also like that the name evokes a certain combination of the Arts (Gutenberg) and the Sciences (labs).

[2021-04-16 18:11] annezazu commented on #29168
This was also reported as [part of the fifth call for testing for the FSE Outreach Program](https://make.wordpress.org/test/2021/04/14/fse-program-testing-call-5-query-quest/) by Justin Tadlock [in this article](https://wptavern.com/fse-outreach-round-5-venturing-out-a-query-quest), [by Susan here](https://make.wordpress.org/test/2021/04/14/fse-program-testing-call-5-query-quest/#comment-1490), by

[2021-04-16 18:14] antonis commented on #30878
I confirm that this was introduced in `16.8` since I was not able to reproduce it in [`16.7`](https://github.com/wordpress-mobile/WordPress-Android/releases/tag/16.7-rc-1). I wasn't able to pinpoint any relevant commits though.
I tried a couple of fixes ([e.g.](https://github.com/WordPress/gutenberg/pull/30915)) but nothing worked. I plan to revisit this next week. cc @chipsnyder, @geriux

[2021-04-16 18:32] annezazu commented on #29951
Ah ha got it! Makes sense. I'll close this out then as it does seem like, in general, most people will want to add a page and it's better to have some friction around adding a post.

[2021-04-16 18:32] #29951 closed, assigned to nobody

[2021-04-16 19:16] annezazu opened #30925 "Query Block: Make it easier to switch initial pattern"
## What problem does this address?

Right now, after choosing a pattern for the query block, the only way to choose a different pattern is to hit undo. This isn't terribly intuitive and, if you wanted to switch mid-way through with the query block, it makes it so you have to start from scratch. This came up during the [fifth call for testing for the FSE Outreach Program](https://make.wordpress.org

[2021-04-16 19:23] lyx commented on #11373
I hope this info can narrow down the issue - I did some testing as well.

It seems that this upload freeze only occurs after a gallery component has had images inserted into the component, by clicking the `Insert Gallery` button.

Theoretically, based on the test cases here and my testing, it stands to reason that something is affecting the uploading of images when images are inserted into a galle

[2021-04-16 19:49] kjellr commented on #30925
This should get better with contextual pattern transforms, as described in https://github.com/WordPress/gutenberg/issues/28736. This was enabled for simple blocks in #30469, but it's not available yet for the Query block.

Here's a GIF of the currently-merged feature to illustrate the idea. There's new UI that lets you transform a standard Quote block into a related block pattern that uses centere

[2021-04-16 19:59] georgeh commented on #29963
@gziolo

My thought was to wrap `<ColorPanel>` in the colors hook with a filter. Then in the Navigation block append the controls for submenus in the element array and they all get rendered together. I like this approach because it makes the UI of the hook extensible for other blocks.

An official API like the `wp.blockEditor.registerBlockControl()` idea mentioned would be better for my use case,

[2021-04-16 21:01] annezazu commented on #30925
Ah ha amazing! Thanks for connecting those dots. I'll leave this open for now but let's see how this evolves and whether it can be closed as patterns get integrated.

[2021-04-16 21:47] paaljoachim commented on #19077
Gary @pento opened a new PR here: https://github.com/WordPress/gutenberg/pull/30857
Test it out and give feedback.

Here is a fairly easy way to test out the PR.
Follow this testing method to download a special version of the Gutenberg plugin: https://make.wordpress.org/design/2021/03/03/testing-a-gutenberg-pull-request-pr/

[2021-04-16 22:49] wwdes opened #30927 "Consider giving blocks that support wide/full width a dedicated attribute/class"
## What problem does this address?
Let me explain,

I configure my themes so that blocks that do not support wide/full modes simply take up 100% possible width of its parent block. If such block has no parent block then it uses default width. It look's like this:

`.wp-block[data-align] .wp-block:not([data-align]) {
	max-width: 100%;
}`

Because of this I need a huge CSS selector that instructs bl

[2021-04-16 22:58] annezazu commented on #30700
@priethor thoughts on whether this is an enhancement request or a bug? To me, this feels like a bug :D

[2021-04-16 23:06] idea--list commented on #19077
Guys you seem to be somewhat stubborn...
By simply not understanding that only the minority of people need PDFs embedded into a _**designed**_ layout/content.

Most people
EITHER want something like ISSUU.com's pdf viewer with pagination animation
OR they want a cover image that opens the PDF file when the user clicks on the thumbnail

There is absolutely NO change in your mindset despite several

[2021-04-16 23:15] landwire commented on #13438
This issue has been open more than 2 years. Is there any movement on this? Is there any way to define different background and foreground colours?

[2021-04-17 00:13] fullofcaffeine opened #30929 "`Last Modified` date shows the scheduled date for scheduled draft posts"
## Description

`Last Modified` date shows the scheduled date for scheduled draft posts.

## Step-by-step reproduction instructions
1. Create a new post
1. Add some text
1. Change the date in the calendar to a future date
1. And click Save Draft

## Expected behaviour

I'd expect the `Last Modified` date to be the timestamp for the last time I saved the post *or* for it to show `Scheduled` instead

[2021-04-17 00:54] siddjain commented on #27370
we are running WordPress 5.5 and running into this issue where the argument to preloadingMiddleware is so big that the HTML response gets truncated resulting in a completely blank screen on the browser. The issue is described here: https://wordpress.org/support/topic/blank-screen-when-i-try-to-edit-any-post/#post-14329676 anyone knows how we can fix this? we have tried restarting WordPress (PHP-FP

[2021-04-17 02:25] siddjain commented on #27370
can someone explain us what is the purpose of ` wp.apiFetch.createPreloadingMiddleware`? what does it do?
https://core.trac.wordpress.org/browser/tags/5.7.1/src/wp-admin/edit-form-blocks.php#L70

[2021-04-17 03:49] wpfangirl commented on #19077
First, that gutenberg.run thing is cool. Made it very easy to test.

Second, I'm afraid @idea--list is right: while there may be use for an embed version of PDFs and it looked and worked okay as such, what I was actually looking for was just an option to display the PDF thumbnail with a choice of thumbnail sizes.

This was dead easy to do in PHP using ACF Blocks:
[code]

[2021-04-17 04:02] carolinan commented on #30233
I wonder if the new text label on hover and focus is enough here?
I guess it doesn't help when you are only glancing over the blocks.
![the site title is included in the label and the tooltip that is shown when hovering over the icon](https://user-images.githubusercontent.com/7422055/115101074-9c5d8f80-9f41-11eb-870d-d356a5227e3f.png)

[2021-04-17 06:14] carolinan opened #30930 "Make it easier to select "Edit visually" when in "Edit as HTML" mode"
## What problem does this address?

After selecting the Edit as HTML option for a block, you have to open the 3 dot menu to find the Edit visually option, and this option does not have a keyboard shortcut.

![The edit visually option is hidden under a menu](https://user-images.githubusercontent.com/7422055/115103617-907ac900-9f53-11eb-87d7-82bdbbbe8300.png)

## What is your proposed solution?

Whe

[2021-04-17 06:54] lakrisgubben opened #30931 "FlatTermSelector triggers JS warning when two terms have the same name"
## Description
The FlatTermSelector component does not work when two terms in the same taxonomy have the same name. The issue seems to be that it uses the name of the term for the key in the SuggestionsList component, instead of using something unique like the id or the slug of the term.

The issue exists in both latest WP and GB.

## Step-by-step reproduction instructions
1. Create two tags with

[2021-04-17 07:36] lakrisgubben opened #30932 "Searching in the FlatTermSelector can cause the editor to crash"
## Description
A specific type of search in the FlatTermSelector component can cause the block editor to crash with the JS-error `TypeError: undefined is not an object (evaluating 'elem.ownerDocument')`. It happens if you have selected a term from the dropdown list with the keyboard after searching and then type a letter in the search box which is not the next letter in the selected term.

The iss

[2021-04-17 08:24] gziolo commented on #29008
This is great. The only remaining task would be to improve the GitHub workflow that uses `gh-pages` to update Storybook to always recreate the branch from scratch to ignore its history.