[2022-11-09 16:37] ajlende commented on #44320
The CORS issue may have been solved by https://github.com/WordPress/gutenberg/pull/44552. I can't seem to reproduce the error in trunk right now.

[2022-11-09 16:47] kosakk opened #45633 "Page Template can't be saved or deleted when the page title is in Greek."
### Description

I have attempted to create a template for a page. The page's title is in Greek. When I attempt to save, I get the following error in the browser console: `POST https://mydomain.gr/wp-json/wp/v2/templates/twentytwentythree//page-%cf%84%ce%b5%cf%83%cf%84?_locale=user 404` The page's title is "τεστ" (Greek for "test"). Outside of the browser's console there is a Saving failed. error

[2022-11-09 16:51] ramonjd commented on #45504
There is nothing in the UI to communicate this. Do you think it would be a good follow up? We can add it as a proposed enhancement under https://github.com/WordPress/gutenberg/issues/44888

In theory, the change proposed by this issue will mitigate this, but maybe we could add something to the font size picker header hint.

<img width="281" alt="Screen Shot 2022-11-10 at 3 50 38 am" src="https://u

[2022-11-09 16:51] TimBroddin commented on #29673
I'll pick this one!

[2022-11-09 16:51] TimBroddin commented on #45435
I'll pick this bottle

[2022-11-09 16:53] dsas commented on #45155
Taking a look at this 👀

[2022-11-09 16:53] talldan commented on #42257
I mean the block in List View. (edit: oh wait, this wasn't in response to me, now I'm a bit confused 😄 )

I don't think this would cause an issue, it works in the main List View.

[2022-11-09 17:09] ajlende commented on #44320
And I can't seem to reproduce the error loop either. It isn't as clear what was causing that error, but if it was related to the CORS issue, that may have been fixed by https://github.com/WordPress/gutenberg/pull/44552 too.

[2022-11-09 17:09] #44320 closed, assigned to ajlende

[2022-11-09 17:19] jffng commented on #43418
Do you think it makes sense to surface these settings just for front-page? I think there are other cases or templates where it could be useful to surface the reading settings in the site editor.

[2022-11-09 17:21] getdave commented on #42010
This one was fixed in https://github.com/WordPress/gutenberg/issues/42010

[2022-11-09 17:21] #42010 closed, assigned to javierarce

[2022-11-09 17:22] paulopmt1 commented on #44196
Hey, I'm gonna work on this :)

[2022-11-09 17:23] DAreRodz commented on #38864
I think we can close this issue as this is not relevant anymore. To add some context, we decided a while ago to remove the settings from this block and inherit them from the WP settings. See https://github.com/WordPress/gutenberg/issues/39648 and https://github.com/WordPress/gutenberg/pull/39664.

[2022-11-09 17:23] #38864 closed, assigned to nobody

[2022-11-09 17:26] michalczaplinski commented on #45294
@yuliyan will work on this ! 🙂

[2022-11-09 17:28] yuliyan commented on #45294
I'll take the issue.

[2022-11-09 17:39] pkevan commented on #40481
The note around it being slow appears applicable when the dataset is large, so perhaps it can either be solved in a similar way to this example: https://github.com/Automattic/vip-go-mu-plugins/blob/ba5fcff8bf5ca5b717675cf75fcb427aab77b5d4/vip-helpers/vip-utils.php#L744-L780.

[2022-11-09 17:40] Thelmachido commented on #39727
Hi @jhnstn any plans for moving this forward?

[2022-11-09 17:42] fluiddot commented on #16193
We still have this issue about the scroll jumping when creating a new block after pressing `enter`, however, it's no longer as jumpy as described in this issue. I'm closing it as we are already covering it at https://github.com/WordPress/gutenberg/issues/40029.

[2022-11-09 17:42] #16193 closed

[2022-11-09 17:48] tellthemachines commented on #25360
@netzgestaltung I'm going to go ahead and close this issue; feel free to open a new one if you have any further questions!

[2022-11-09 17:48] #25360 closed

[2022-11-09 17:49] TimBroddin commented on #45435
Ready for review: https://github.com/WordPress/gutenberg/pull/45638

[2022-11-09 17:49] jhnstn commented on #39727
Hi @Thelmachido yes, I was able to review the work done so far but haven't been able to make some requested updates. I should have time next week to look into it.

[2022-11-09 17:57] getdave commented on #45294
@yuliyan Happy to review this when you're done.

[2022-11-09 18:03] ockham commented on #40826
Yeah, should be okay to close I guess :+1:

[2022-11-09 18:03] #40826 closed, assigned to amustaque97

[2022-11-09 18:05] glendaviesnz commented on #45562
@griffbrad are you able to provide some block markup that fails for you? I tried with:

[code]
and:
[code]
and the block was migrated ok when opened in 6.1

[2022-11-09 18:07] bph commented on #35258
@Stiofan I tried to install [the plugin ](https://github.com/AyeCode/wp-super-duper)from zip, and it ran into a 500 error.
@ agree with @carolinan, we need some updated steps for reproducing your issue without using a 3rd party plugin.

[2022-11-09 18:10] jffng opened #45644 "Templates List: consider showing which template is currently used for the site's front page"
## What problem does this address?

It can be difficult to understand which template is currently being used to display a site's front page, since it depends on both which templates exist and the site's reading settings.

## What is your proposed solution?

In the templates view, we could clearly mark the template that is currently being used to show the site's front page.

Not suggesting this is

[2022-11-09 18:11] tellthemachines commented on #26315
Actually, thinking better of this, there's already a way to do this in core blocks. For an example, check the implementation of [reusable blocks](https://github.com/WordPress/gutenberg/tree/try/group-variation-placeholder/packages/reusable-blocks), where the contents of a block are saved to a post type. A similar behaviour exists in the [Navigation block](https://github.com/WordPress/gutenberg/tre

[2022-11-09 18:11] #26315 closed

[2022-11-09 18:13] tellthemachines commented on #27357
I'm going to go ahead and close this issue now.

[2022-11-09 18:13] #27357 closed

[2022-11-09 18:15] tellthemachines commented on #34082
Closing this issue due to lack of response from OP.

[2022-11-09 18:15] #34082 closed, assigned to nobody

[2022-11-09 18:16] tellthemachines commented on #36970
I'm going to go ahead and close this issue; feel free to open a new one if you have any further questions!

[2022-11-09 18:16] #36970 closed, assigned to nobody

[2022-11-09 18:20] getdave commented on #38275
@Marc-pi Thank you for your feedback. It's much appreciated.

What we're finding that the moment from user testing in the FSE outreach programme is that users of the block are suffering from UX issues around **creating and editing menus**. This is clearly a _major_ problem as unless we resolve these issues everything else we do will have a (relatively) minimal impact. After all, if you can't succe

[2022-11-09 18:24] cdils commented on #40481
Noting for posterity's sake that some hosts, such as [WP Engine disable](https://wpengine.com/support/about-order-by-rand/) `'orderby' => 'rand'` by default unless a site admin explicitly allows it, which could lead to unexpected results for users that aren't aware.

A workaround solution such as the one @pkevan points to looks like a great alternative.

[2022-11-09 18:25] Addison-Stavlo commented on #29397
I think its safe to close this issue given content navigation has been removed from this panel for a long while now.

[2022-11-09 18:25] #29397 closed

[2022-11-09 18:27] Addison-Stavlo commented on #29461
Im going to close this issue related to a more specific solution, as this is a wider more general problem being discussed and addressed elsewhere.

[2022-11-09 18:27] #29461 closed

[2022-11-09 18:28] bph commented on #45576
I edited the page template for the front-page twice, the second time I used a custom template part, and I was able to see my changes when I was returning from the front end to the template editor.
@antpb What I am missing from your instructions? I, however, used Gutenberg 14.5. Could you try it again with the latest release?

[2022-11-09 18:31] #37549 closed, assigned to jorgefilipecosta

[2022-11-09 18:32] XanderCalvert commented on #45435
I guess my PR gets over looked then now

[2022-11-09 18:33] Addison-Stavlo commented on #29463
Circling back to this old issue, I think we can close this.

The design has been updated a bit, and while we don't include the individual template descriptions there has been other descriptor notes added for template items to help inform the user.

<img width="282" alt="Screen Shot 2022-11-09 at 11 31 03 AM" src="https://user-images.githubusercontent.com/28742426/200912156-142ab522-164e-4d18-9a56-

[2022-11-09 18:33] #29463 closed

[2022-11-09 18:34] tellthemachines commented on #43159
Closing this issue due to lack of response from OP.

[2022-11-09 18:34] #43159 closed, assigned to nobody

[2022-11-09 18:35] tellthemachines commented on #28137
I'm going to go ahead and close this issue; feel free to open a new one if you have any further questions!

[2022-11-09 18:35] #28137 closed

[2022-11-09 18:36] tellthemachines commented on #32943
I'm going to go ahead and close this issue; feel free to open a new one if you have any further questions!

[2022-11-09 18:36] #32943 closed, assigned to nobody

[2022-11-09 18:37] AllTerrainDeveloper commented on #44471
I can't replicate the issue, using latest version up to today.

1. I've created a bunch of new posts.
2. I've checked that all of them are showing in the main page (even there is a button to show "older posts")
3. I've went ahead and edited one of the first post that were shown when viewing "older posts"
4. I've checked the sticky post option
5. I've updated the post
6. I've checked that the post

[2022-11-09 18:44] tellthemachines commented on #32443
Closing this one in favour of #44557 which has more detailed tracking info.

[2022-11-09 18:44] #32443 closed, assigned to nobody

[2022-11-09 18:49] #44193 closed, assigned to jorgefilipecosta

[2022-11-09 18:59] #45155 closed, assigned to dsas

[2022-11-09 19:03] getdave commented on #45009
I was able to replicate this. I've learnt that the `range` value is different when you're cursor is within the block in the canvas vs when you are focused in an input in the inspector controls.

https://github.com/WordPress/gutenberg/blob/f6f7afe873febc29643e0f05cc0b835ed79dc48a/packages/rich-text/src/component/use-anchor.js#L48

The bounding rectangle (which is important for positioning) is there

[2022-11-09 19:05] SantosGuillamot commented on #40481
[WP_Query](https://developer.wordpress.org/reference/classes/wp_query/#order-orderby-parameters) already includes `rand` as an `orderBy` option. So another alternative, if you want to create a random Query Loop right now, could be to edit the `orderBy` parameter of the Query Loop block in [Gutenberg Code Editor](https://www.pair.com/support/kb/gutenberg-editor-how-to-access-the-code-editor/#:~:tex

[2022-11-09 19:08] mpkelly commented on #45399
I am going to take this on now

[2022-11-09 19:11] DaisyOlsen commented on #24634
@ianstewart It's been a minute or two since you posted this idea. Do you think it would still be necessary to document this specifically? It seemed pretty simple to create this in a template part with minimal fuss at this point with all the improvements since the time this issue was opened.

[2022-11-09 19:14] ravishanker commented on #26780
Is there a decision to definitely change the current icon to another one?  If so, which one and where is the icon asset?

[2022-11-09 19:14] #39916 closed, assigned to enejb

[2022-11-09 19:14] tellthemachines commented on #27205
I'm going to close this one in favour of #33891 which has more info.

[2022-11-09 19:16] tellthemachines commented on #22709
I'm going to go ahead and close this issue; feel free to open a new one if you have any further questions!

[2022-11-09 19:16] #22709 closed

[2022-11-09 19:16] tellthemachines commented on #32790
I'm going to go ahead and close this issue; feel free to open a new one if you have any further questions!

[2022-11-09 19:16] #32790 closed, assigned to nobody

[2022-11-09 19:25] skorasaurus commented on #45435
closed in https://github.com/WordPress/gutenberg/pull/45638

[2022-11-09 19:25] #45435 closed, assigned to TimBroddin

[2022-11-09 19:32] lynnbgriffith commented on #45562
Looking more closely at the original report, it looks like the user actually had an image within their citation:
[code]

[2022-11-09 19:42] smerriman commented on #45562
My example may have some connection with text color / a block ID being in the editor (not sure how the block ID got there, but it's in almost all of them).
[code]

[2022-11-09 19:50] Julianoe commented on #16513
Has there been some new discussions about icons in Button block recently? The "button with icon" component is very very very common in UIs and has been for years. Currently there is no simple way for users to do that without installing a plugin. Why?

[2022-11-09 20:06] Jabe64 commented on #16513
As @mtias mentioned #16484 goes first but it's true there hasn't been any update about it for a while 😔

[2022-11-09 20:21] Julianoe opened #45664 "Block button resize inline image UI is unusable when button has a link set up"
### Description

When you add an inline image to a button that has a link already set up, the link popover element is hiding the "size inline image" popover that is impossible to use.

You have to remove the link, resize the image, reset the link.

I'm not sure how much this is related to #23375
I want to point out that I was trying to make a "button with icon" element with default block editor op

[2022-11-09 20:25] Julianoe commented on #16513
Problem is that there is currently no way to do this in other way than inline image, a feature that seems to have been completely forgotten because it's all broken.

Apart from the very obvious bugs (see my just posted issue #45664), the inline image does not behave like an image block that would be contained inside the button which is, I think, the expected behavior. That prevents for example to

[2022-11-09 20:30] samiff commented on #45595
In my opinion, a pattern's title is _critical_ information that should always be displayed. A pattern preview (even at larger sizes) does not always fully encapsulate what a pattern provides to a user. Hopefully that has been illustrated by some of the examples (core included) shared here.

This would be an interesting compromise, though my personal vote would be to always display the title.

[2022-11-09 20:33] Julianoe commented on #16484
like @hacknug mentionned, devs in a design project situation would need the possibility to define their own set of icons from theme/plugin so that they can give their end users a limited list of icons to choose from.

Some WP use cases could maybe appreciate the possibility to have 7000 icons to choose from but sometimes less is better. In design projects where design tokens are predefined, icons

[2022-11-09 20:34] dkrape commented on #36785
Agreed on this. Querying by tag name would be very useful for syncing across working environments. In my case, I have dev, staging, and production environments and am using Git to sync templates. However, hard-coded IDs for categories (and also for navigation) makes my dev process very cumbersome.

Replicating the database across the environments just to address hard-coded numerical IDs isn't idea

[2022-11-09 20:50] glendaviesnz commented on #45562
Thanks for the extra detail @smerriman & @griffbrad, will take another look at it this afternoon

[2022-11-09 21:01] glendaviesnz commented on #45562
I can confirm that in 6.0.3 without GB plugin the following block code is valid:

[code]

with the latest trunk GB installed it invalidates unless the `id` attribute is removed.

[2022-11-09 21:03] smerriman commented on #45562
And just to iterate, with the block `id` removed, it validates, but all of the text is squished together and looks considerably different (and quite bad) from a design perspective.

[2022-11-09 21:07] #43416 closed, assigned to ramonjd

[2022-11-09 21:31] ramonjd commented on #24957
Implemented in https://github.com/WordPress/gutenberg/pull/35422 and https://github.com/WordPress/gutenberg/pull/34064

[2022-11-09 21:38] daledupreez commented on #43415
I am taking a look at this issue.

[2022-11-09 21:49] wojtekn opened #45668 "Unify user selection controls across the blocks"
## What problem does this address?

This is a follow-up to https://github.com/WordPress/gutenberg/pull/45640#issuecomment-1309204191.

Under that PR, we fixed the issue that limits the number of users displayed in the Post Author block to 10.

After the fix, we display up to 100 users, and if the number of users is higher than 25, we display `Combobox` instead of `Select`.

We want to do more refa

[2022-11-09 21:50] #44376 closed, assigned to vcanales

[2022-11-09 21:51] bph opened #45669 "Update the docs build script / files to implement redirects"
With the documentation expanding, the need to reorganize sections of the Block editor handbook might come up, that would also require to establish redirect rules for the WordPress site. In the sister meta trac issue: https://meta.trac.wordpress.org/ticket/6407 The manifest json is expanded to also hold the redirect information.

[code]

`redirect_from = array of pages to redirect to the new page.

[2022-11-09 21:54] #20972 closed

[2022-11-09 22:02] #40002 closed, assigned to scruffian

[2022-11-09 22:03] #44614 closed, assigned to jorgefilipecosta

[2022-11-09 22:15] justintadlock commented on #35258
**Edit no. 4:** (sorry for the edits---been a while since I've tested shortcodes).

I have tested this with a custom shortcode and haven't been able to reproduce.  I'd like to see more detailed steps too.  Here's what I tried:

1) Create a test shortcode in my theme's `functions.php`:

[code]

2) Used it within the Shortcode block in a theme template:

[code]

3) View output in the editor and fron

[2022-11-09 22:23] draganescu commented on #42257
The problem with clicking the list view item to edit is that it immediately replaces the inspector with the inspector of the newly selected block hiding the list view in the process. A slow drag and drop will also get this. Hence the idea to use an explicit action for edit in this case.

[2022-11-09 22:38] DaisyOlsen commented on #24634
Confirmed with @ianstewart that it's fine to close this.

[2022-11-09 22:38] #24634 closed

[2022-11-09 23:02] talldan commented on #42257
My idea is to replace the primary action of the item. Show the inspector controls for the block when clicking the item. There would be no way to select a block.

😕 What's a slow drag and drop? This sounds like a bug that should be fixed.

[2022-11-09 23:07] pbking opened #45675 "Provide Custom CSS per Style Variation"
## What problem does this address?
Certain style variations may be better enhanced by having CSS that isn't appropriate for other (or some other) variations (or the base theme) to contain.

An example of this might be a "System controlled Dark Mode color scheme" variation where additional CSS is needed or variations that need CSS to achieve design targets.

## What is your proposed solution?
When

[2022-11-09 23:09] bangank36 commented on #29673
I'll take over this issue

[2022-11-09 23:09] johnbillion opened #45677 "`register_legacy_post_comments_block()` uses invalid metadata key"
### Description

The `register_legacy_post_comments_block()` function registers the `core/post-comments` block. In its metadata array the `editorStyle` key is provided instead of `editor_style`, which means either this metadata isn't needed or the editor styles are currently broken. Needs testing to verify which is the case.

### Step-by-step reproduction instructions

1. View https://github.com/W

[2022-11-09 23:10] glendaviesnz commented on #45562
prior to #43210 the block markup with the `id` attribute set validates with the default save method. After #43210 this markup invalidates with the `v5` deprecation [save method](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/pullquote/deprecated.js#L97), which is the same as the previous default save method (deprecation attributes are also identical) 🤔  Can't see an o

[2022-11-09 23:17] getdave commented on #41771
Ok I verified this thank you @mreishus for reporting.

I think the fix is essentially

- grab the active format (that's the link you're replacing)
- find the index boundaries of the format
- split out the format as a value
- do the search/replace update on that value
- replace the original format with the new (replaced) one.

Unfortunately the tools in rich text don't seem that accommodating for t

[2022-11-09 23:21] ajlende commented on #40383
This is the correct way to disable duotone filters

[code]

Using all three options for `colors` and `gradients` in the same way will disable those features, respectively.

Even after all of that, there will still be the SVGs for the default filters output at the beginning of the `body`. Default colors, gradients, filters, etc. are always output to support block patterns which may use these defaul

[2022-11-09 23:21] ramonjd commented on #44138
I know @pbking has [a PR up](https://github.com/WordPress/gutenberg/pull/45657) to enable edit mode all the time.

Just in case, I have an alternative that opens edit mode and selects the color over at https://github.com/WordPress/gutenberg/pull/45681

![2022-11-10 10 11 43](https://user-images.githubusercontent.com/6458278/200963094-501708f7-d437-4e15-8476-525c4635a7e7.gif)

Happy to close mine.

[2022-11-09 23:22] #40383 closed, assigned to nobody

[2022-11-09 23:25] #43878 closed, assigned to nobody

[2022-11-09 23:29] yuliyan commented on #45294
The issue has been fixed with https://github.com/WordPress/gutenberg/pull/45647.

[2022-11-09 23:30] mrwweb commented on #40383
Thanks for this very good answer, @ajlende. I can confirm that even in WP 6.1, the `null` behavior still works, but I can switch to the PHP filter from now on. Appreciate you providing the reasoning behind that as well.

[2022-11-09 23:30] bph commented on #45629
@NicoHood I was able to make it work using the Custom HTML block.
I created a short video https://recordit.co/tETz2srkBy In the video, I also show which code I was used from the Tally site for this to work.

[2022-11-09 23:38] andrewserong commented on #43415
There's also https://github.com/WordPress/gutenberg/pull/45654 that's looking at implementing this

[2022-11-09 23:48] justintadlock commented on #45573
Can you describe what is happening when you say "does not work"?  Is the option appearing but not saving?  Is the option not appearing at all (this should probably be expected behavior)?  Or, is there another more specific issue?

[2022-11-09 23:58] #45088 closed, assigned to vcanales

[2022-11-09 23:58] justintadlock commented on #41438
I can confirm that this works now:

[code]

[2022-11-09 23:58] #41438 closed, assigned to nobody

[2022-11-10 00:06] jonmarkhall commented on #41414
If any further info is required from my end, please let me know.

[2022-11-10 00:10] tellthemachines commented on #44471
@AllTerrainDeveloper are you looking in the front end? This issue is only reproducible within the Query block in the site editor.

[2022-11-10 00:16] #43491 closed, assigned to aaronrobertshaw

[2022-11-10 00:18] galbaras commented on #40481
The main point here is consistency and function, not performance.

If `rand` is disabled, it can't be used anywhere in WordPress, so that's consistent. If it's slow, the person using the widget can decide to use something else. But the option should be there, in the UI, without resorting to code editing, because WordPress caters for it.

Resolving the performance issue is a matter for the core Wor

[2022-11-10 00:18] TimBroddin commented on #36523
It seems like this is fixed in Safari 16.1 (I can't reproduce it).

[2022-11-10 00:26] #45294 closed, assigned to yuliyan

[2022-11-10 00:30] #27723 closed

[2022-11-10 00:31] oandregal commented on #45171
Added a section about syncing Gutenberg and WordPress core.  https://github.com/WordPress/gutenberg/pull/45634 landed today.

There's been activity in core that has not been ported to Gutenberg, it needs an audit. I also like to suggest a different organization for the theme.json related APIs, so backports are more straightforward.

[2022-11-10 00:33] oandregal commented on #45171
Updated the section about performance. https://github.com/WordPress/gutenberg/pull/45679 is migrating the `gutenberg_get_global_stylesheet` method from transients (1 minute expiration) to object cache and manage invalidation.

[2022-11-10 00:34] #34206 closed, assigned to nobody

[2022-11-10 00:35] ThomasOwens opened #45688 "Allow for using rel="me" on links in the Social Icons Block."
## What problem does this address?
This became more apparent with Mastodon using rel="me" links to "verify" user accounts. I have a link to my Mastodon profile on my homepage using a Social Icons Block, but it doesn't appear to be possible to use this link in the Social Icons Block to perform that verification. Using rel="me" to point from one page about a person to another page about a person is

[2022-11-10 00:36] #36703 closed, assigned to Copons

[2022-11-10 00:40] pbking commented on #38860
Closing as fixed by #37072

[2022-11-10 00:40] #38860 closed, assigned to nobody

[2022-11-10 01:07] AllTerrainDeveloper commented on #31112
I have local changes with the following feature, I am unsure if it's good enough or not, but could you point me in the right direction? If you think it's good enough I can prepare a pull request 🙂  I'm newbie in Gutenberg 🙂

![Image](https://user-images.githubusercontent.com/5689927/200975410-424455de-fc96-4097-9ade-d86d300a562f.png)

[2022-11-10 01:20] AllTerrainDeveloper commented on #31112
PR Here:
https://github.com/WordPress/gutenberg/pull/45695

[2022-11-10 01:47] t-hamano commented on #45399
Thank you for addressing this issue, @mpkelly !

[2022-11-10 02:26] james58899 opened #45696 "`@wordpress/eslint-plugin` package does not support node.js 18"
### Description

Node.js 18 is LTS now.
But `@wordpress/eslint-plugin` dependency `eslint-plugin-jsdoc` version is too old.

Error:
[code]

Command `yarn why eslint-plugin-jsdoc` output:
[code]

### Step-by-step reproduction instructions

1. Install Node.js 18
2. `yarn add @wordpress/scripts`

### Screenshots, screen recording, code snippet

_No response_

### Environment info

Node version: 18.12

[2022-11-10 05:04] Mamaduka commented on #45240
This was fixed in the plugin via #45634.

[2022-11-10 05:04] #45240 closed, assigned to nobody

[2022-11-10 06:36] fabiankaegy commented on #45696
There is a PR for this currently: https://github.com/WordPress/gutenberg/pull/42656 Based on the latest feedback on that PR the approach that was used is not the right one for the project. But I spoke with @Antonio-Laguna and he was interested in creating a new PR based on the feedback that was shared in https://github.com/WordPress/gutenberg/pull/42656#issuecomment-1306503950

[2022-11-10 06:49] Antonio-Laguna commented on #45696
@fabiankaegy I will create this ASAP :)

[2022-11-10 07:11] NicoHood commented on #45629
Alright, that is a good workaround. But why does the normal wordpress embedding not work? The tally support told me:

My assumption was that wordpress wrote a custom embedd code for tally. Is that true, or how does the native embed work? Or is there some magick that transforms a website to an embedded block? Since it does not work for all website I would have expected some custom code. And that do

[2022-11-10 07:31] jasmussen commented on #44418
Noting that #44361 was just updated with mockups that include style copy/paste actions. Should we merge the issues, or would you like me to extract the copy pieces for this one?

[2022-11-10 08:10] jasmussen opened #45698 "All inputs and controls should have #949494 border colors, not #757575"
The border around inputs and control boxes currently have a text-contrast #757575 color (`$gray-700` in the SCSS system):

<img width="310" alt="border and radius" src="https://user-images.githubusercontent.com/1204802/201035735-3b76f09d-474e-4a6f-bfa9-6fee7643b955.png">
<img width="302" alt="font size slider" src="https://user-images.githubusercontent.com/1204802/201035760-77ae32bf-7fea-4f0e-ad35

[2022-11-10 09:26] #45625 closed, assigned to Mamaduka

[2022-11-10 09:44] Mamaduka commented on #45688
Hi, @ThomasOwens

I think this was resolved via #45469.

[2022-11-10 10:06] kosakk commented on #45633
I've explored options further. It appears that if I change the permalink to use English characters, then I am allowed to create a page template, edit, and save it. Returning to the templates page, I can also delete the page template.

**Steps to follow to reproduce:**
Please create a new page. Name it "τεστ", and change the permalink to "test". Save the page, and create a new page template for the

[2022-11-10 10:08] kosakk commented on #45633
On a different note, I converted the already existing pages' permalinks from Greek to English names. That allowed the pages to follow the general single page formatting. It did not solve the problem with deleting previously created templates though. The pages which I converted the permalinks of from Greek to English have now broken titles in the templates editor general page. They can not be delet

[2022-11-10 10:34] draganescu commented on #42257
A slow drag and drop is when the drag comes a bit too late after the mouse down, like... a batter name would be a failed drag and drop. And if you want to drag and fail and that causes the context to change is too jarring.

BUT I like the idea to _replace_ the action from canvas block selection to navigation. It could work and definitely should be tested. I think if this works it is better than cl

[2022-11-10 10:49] luminuu commented on #45271
Wouldn't it also be a good idea to have a separate admin page or a bigger modal (like for the settings) to view/edit/upload custom fonts, like in the Create Block Theme plugin? Just like @carolinan mentioned it here: https://twitter.com/carolinapoena/status/1590207811681935362

I feel like the fonts should not be squished into the right sidebar of Gutenberg.

[2022-11-10 11:04] jameskoster commented on #44417
Nice work, this looks like a great start.

I found the "Manage styles" label to be a little ambiguous – its proximity to the "Fill" / "Outline" options suggests I'd be taken _directly_ to a place where I can modify those, rather than the base button styles. I'm not sure I'd make the connection between those style options and the "Variations" menu item.

We could potentially solve this by having a

[2022-11-10 11:09] spacedmonkey commented on #45171
Created a related ticket - https://core.trac.wordpress.org/ticket/57057.

Improve performance by reducing the usage of `wp_get_theme`.

[2022-11-10 11:14] ThomasOwens commented on #45688
@Mamaduka It looks like it, yes. Just looks like it's not released yet. Definitely a duplicate of that PR and issue. I'll close this and watch for that to be released.

[2022-11-10 11:14] #45688 closed, assigned to nobody

[2022-11-10 11:15] Mamaduka commented on #45688
The feature should be part of Gutenberg 14.5 (released yesterday) and will be included in WP 6.2.

[2022-11-10 11:31] jasmussen commented on #44417
Good thoughts!

Oh that's a good point, less drilling down, yes!

[2022-11-10 11:41] jameskoster commented on #27847
I agree this is important, and while the solution suggested in this PR can work I'm thinking it might be better to concentrate on the site editor, particularly issues like https://github.com/WordPress/gutenberg/issues/44461.

The more pertinent UX issue then becomes making it clear and obvious which blocks are part of the template and which are part of the post.

[2022-11-10 11:44] carolinan commented on #45675
Hi, can I close this as a duplicate of https://github.com/WordPress/gutenberg/issues/43405 ?

[2022-11-10 11:45] jameskoster commented on #43418
It's a bit tricky. We might surface posts-per-page settings in the Archive template, but since that setting can affect _other_ templates it might be confusing?

That's the nice thing about homepage settings and the front-page template – it's totally self-contained. When front-page exists it will always display the homepage.

Did you have anything specific in mind?

[2022-11-10 12:04] jameskoster commented on #45595
Dare I suggest a switch in the Patterns panel to toggle title visibility?

[2022-11-10 12:09] fabiankaegy commented on #27847
@jameskoster I can see how it makes more sense to focus on reintroducing content editing in the site editing. In that case however I would really like us to pove forward with https://github.com/WordPress/gutenberg/issues/27093 remove the post title from the editor canvas. This would remove a lot of the confusion since the post content is always getting represented as it is being edited in the post

[2022-11-10 12:20] ghost opened #45700 "Preview error in Gutenberg when theme is set to full-width"
### Description

I am experiencing this bug in the Gutenberg editor (WP 6.1), even in completely new sites with no plugins: sometimes when I click on simple paragraphs (with no customization, just standard p blocks in WP) I get this message “This block has encountered an error and cannot be previewed”. The frontend is ok, and when I reload the editor the error goes away. Anyway, if I click again,

[2022-11-10 12:25] kavyagokul opened #45701 "Patterns selector border gets cut at the top"
### Description

The pattern picker which appears when clicking 'Explore all patterns' is cut off at the top.

### Step-by-step reproduction instructions

1. Edit a page
2. Click the + button and select Patterns
3. Click on `Explore all patterns`
4. Select a pattern category and try hovering over any pattern n the first row

### Screenshots, screen recording, code snippet

![image](https://user-im

[2022-11-10 12:36] jasmussen commented on #45595
Such would be the "Show labels" option, right? Perhaps that could show them always, otherwise they'd appear on hover/focus. Not sure.

[2022-11-10 12:38] tomjn commented on #36785
I've made a quick modification of the above code to do several things:

 - bugfix: it assumes only slugs are used, now it instead adds numeric slugs and converts string slugs
 - feature: made it taxonomy agnostic, it no longer assumes categories but instead runs on _all_ taxonomies specified
 - refactored the code to use guards instead and reduced complexity by returning early
 - WP coding standar

[2022-11-10 12:42] jameskoster commented on #45595
I was thinking more literal:

If the switch is on then titles appear beneath the patterns, like they do in the Explorer. If it's off then they're hidden entirely.

Positioned differently, but you get the idea:

<img width="650" alt="Screenshot 2022-11-10 at 12 41 36" src="https://user-images.githubusercontent.com/846565/201094286-a9d2c84d-30a9-4d83-af7d-f0a294f21fc1.png">

[2022-11-10 12:57] jasmussen commented on #44417
Another iteration based on this. Editing style variations, still not sure if there's a better way to link the GS page from the individual panels ([Figma](https://www.figma.com/file/vmHxwa8WhiyiP9poe2om9J/Inspector-Panels?node-id=13685%3A64289&t=YUChZEQv8YKmXxQn-1)):

<img width="1760" alt="Style variations" src="https://user-images.githubusercontent.com/1204802/201097091-aab3f74e-7e8e-4ce5-be35-04

[2022-11-10 13:13] kdr922 opened #45702 "Strange issue when adding links"
### Description

After upgrading to the latest version of WordPress, I suddenly encounter an issue when adding a link. It jumps down to the bottom of the page so I need to scroll back the position in the text to check it, and then I can’t see the new window/nofollow buttons properly in the dropdown – I wonder if it’s just on my PC since a colleague of mine doesn't experience this using the same WP

[2022-11-10 13:39] jameskoster commented on #44417
Yes good point. Breaking the link is definitely an option.

An alternative to consider: we might maintain the link but (somehow) mark the style as being edited locally. From there you can either leave the changes local, push them to the variation, or perhaps even create a new one. To make this work we'd probably need to include a "Default" option in the styles panel, meaning to use the base config

[2022-11-10 13:41] mtias commented on #41379
@jameskoster I'd still like to try the shortcuts in the main header when the inserter is open for text, image, etc.

[2022-11-10 13:46] jasmussen commented on #44417
There's already a default style, good point, I suppose all style can just be additive. I.e. this:

<img width="2836" alt="Overriding style variations" src="https://user-images.githubusercontent.com/1204802/201107944-a492cd0e-9681-41cd-9def-0f32cdac97ff.png">

— The link is still there, I just added a 4px border which wins.

[2022-11-10 13:52] jameskoster commented on #44417
If you saved there, would the border be applied globally?

I was thinking something more along these lines (but with something better than the *):

<img width="2836" alt="Overriding style variations" src="https://user-images.githubusercontent.com/846565/201109804-80bc9ecc-6425-42ce-aaf7-28532a82e4dd.png">

[2022-11-10 14:01] jasmussen commented on #44417
No, I don't think the link actually has to be more than what exists today in terms of base styles that get overridden, classic CSS style, by local changes. That would let us keep this and keep the "push to global" from 44361 separate. I'd agree, it should push to the active style variation, but that we wouldn't need to do more here.

Let me share an example. I've thought a bit about how solid and

[2022-11-10 14:12] mirka commented on #45698
Duplicate of #39425? It's been a while, but good news is that we'll be required to address this as part of the theming work (#44116) we are prioritizing right now 😄

[2022-11-10 14:12] AllTerrainDeveloper commented on #44471
Oops! You are right, I didn't test it in the proper way!

[2022-11-10 14:36] AllTerrainDeveloper commented on #31112
It also seems I went out of scope, I am not very used to Gutenberg. Seems the change needed to be done in another place! Oops!

[2022-11-10 14:40] draganescu commented on #45440
Yes. Let's close it.

[2022-11-10 14:40] #45440 closed, assigned to georgeh

[2022-11-10 14:40] draganescu commented on #45444
Yes.

[2022-11-10 14:40] #45444 closed, assigned to nobody

[2022-11-10 14:44] afercia commented on #44380
Seems to me this happens because the whole component is fully re-rendered. As it gets removed from the DOM, there's a focus loss. It then gets re-added but at that point there's no actual focused element.

Note that at a subsequent Tab key press, modern browsers attempt to start the Tab sequence from where it was before or from some previous focusable element. That's a browser feature known as 'se

[2022-11-10 14:44] jasmussen commented on #45698
Ack, sorry I missed that 🙈

[2022-11-10 14:44] #45698 closed, assigned to nobody

[2022-11-10 14:51] jameskoster commented on #44417
Yes that sounds fine to begin with, though it will recreate [this issue](https://github.com/WordPress/gutenberg/issues/45210), for block style variations. It's probably not such a big deal here though.

[2022-11-10 14:58] ghost commented on #45700
Probably it is a browser problem. I am currently on Firefox (snap) on Ubuntu Linux. In chrome works fine.
Range.setStart is the browser API call that seem to be problematic

[2022-11-10 14:58] #45700 closed, assigned to nobody

[2022-11-10 15:00] afercia commented on #43475
Worth reminding that WordPress has been progressively removing the title attribute from most part of the codebase. Title attributes are accessible to only a fraction of users. Keyboard users can't see them. Screen reader users may miss them, depending also on their screen reader verbosity settings.

For more details, please see https://core.trac.wordpress.org/ticket/24766
For all the work done in

[2022-11-10 15:05] draganescu commented on #43856
Is it really wrong if we mark in the DB the classic menus as imported? Then we can just go to Dan's idea above where they're accessible in a future manage menus screen.

[2022-11-10 15:12] jasmussen commented on #44417
Hmm, would it actually? Just working through a matrix for the Button example:

1. I have a default Fill button and change the border color to yellow, then switch it to outline. Border stays yellow.
2. Same, but I push the yellow border change to be global first. From outline, I clear the yellow border color, and it's black, because "Outline" sets it to currentColor. Switch back to "Fill", and bord

[2022-11-10 15:30] mtias commented on #44412
I cannot find where I mentioned this before, but we could also consider `:block` instead of `:self` for extra clarity.

We definitely want to make this very flexible and open ended, the only enforcing is the block class name being dynamically generated and the fact we only output this CSS if the block is used on a given request.

[2022-11-10 15:52] jameskoster commented on #44417
Oh, I misunderstood. I thought that switching styles would remove customisations. In this case you're correct there would be no loss.

However, don't the style buttons lose some meaning this way? Say for example the Outline style has yellow text by default, you make the text green, then switch to fill, then back to outline, your green customisation persists. So how do you reset back to the default

[2022-11-10 15:57] justintadlock commented on #45504
This is working as I would expect it to now, and the custom size is being used as the max when no explicit max is set.  I tested this via both `theme.json` and the interface.  I have also tested against both `px` and `rem` units.

I also agree that this change should mitigate some of the confusion for user-entered font-sizes, but adding the "(Fluid)" text to the label would help in a followup.

[2022-11-10 16:10] skorasaurus commented on #45702
HI,

Could you share what operating system, browser, and browser version that you are using?

[2022-11-10 16:13] skorasaurus commented on #45628
Hi @tomjn ; thanks for reporting; this is a duplicate of https://github.com/WordPress/gutenberg/issues/20213 and https://github.com/WordPress/gutenberg/issues/42634; please comment and if these issues don't cover your uses.

[2022-11-10 16:13] #45628 closed, assigned to nobody

[2022-11-10 16:17] skorasaurus commented on #42634
Thanks for your clear description @michaelmcandrew . This is a duplicate of https://github.com/WordPress/gutenberg/issues/20213 where you can track its progress.

[2022-11-10 16:17] #42634 closed, assigned to nobody

[2022-11-10 16:18] Chouby commented on #42561
IMHO, the localization of patterns may be even trickier than what it reported by @sebastienserre.
When I read the plugin code:
[code]
I expect that the title and description should indeed be in the backend language. But the content should be in the site's language. Since WP 4.7 the site's language is not necessarily the backend language of the content writer (typically I write in French and my the

[2022-11-10 16:19] skorasaurus commented on #20213
Copying [@michaelMcAndrew's description of this issue](https://github.com/WordPress/gutenberg/issues/42634#issue-1315144435) at who wrote his issue at https://github.com/WordPress/gutenberg/issues/42634

[2022-11-10 16:19] getdave commented on #44380
These debugging steps will be very helpful. Thank you.

[2022-11-10 16:29] Mamaduka commented on #45702
This could be a plugin compatibility issue. The core link popover only has the "Open in new tab" option.

![CleanShot 2022-11-10 at 20 28 20](https://user-images.githubusercontent.com/240569/201152032-563ef333-ad44-496e-8f6d-2b99255397d1.png)

[2022-11-10 16:56] carolinan commented on #45504
Would "responsive" be a word users are more familiar with?

[2022-11-10 16:58] mtias commented on #41379
We can still keep this close, it's a minor thing!

[2022-11-10 17:03] jffng commented on #43418
I was thinking that it could make sense to display these settings for `index`, or `home` since depending on what templates are provided, these settings could have an impact. But I see what you mean, I don't think it would make sense to display these settings in those templates since they are not always relevant.

What's still tricky about adding these settings to front-page — would it require by c

[2022-11-10 17:06] #45009 closed, assigned to getdave

[2022-11-10 17:07] jasmussen commented on #44417
It's hard to say without diving into a PR, but I think of the styles as literal variations that you _build additional styles upon_. But it may be there are intricacies coming into clarity when technical input lands.

[2022-11-10 17:21] huubl commented on #45504
I think 'responsive' and 'fluid' are slightly different when reading:
https://learn.onemonth.com/responsive-vs-adaptive-vs-fluid-design/

Or this post: https://ux.stackexchange.com/a/24408

[2022-11-10 17:53] priethor commented on #44418
I think it's better to keep them separated so that we can more clearly divide and parallelize the development work.

[2022-11-10 18:04] hannes-dolde commented on #26911
i was relying on this data
but now its gone - i am still selecting posts from a dropdown

seems something changed

any way to check why/where this happens  - apart from randomly deactivating plugins
or add these parameters to links again

seems to be default behaviour though
dont recall doing any plugin update recently

did not find much
https://wordpress.org/support/topic/strange-behavior-when-cr

[2022-11-10 18:22] carolinan commented on #45504
Users as in not developers and designers.

[2022-11-10 18:28] carolinan commented on #44412
It is difficult to estimate how the custom CSS fields will be used and what the different users types beginner, developer and designer expects without user testing.

Yes it will be used by people who understand SASS, nesting, :self (and know enough that `:block` is something custom), but wont the majority just use their search engine to find a code snippet that they will copy paste into this box,

[2022-11-10 18:33] ramonjd commented on #45504
PHP backport to Core (assuming no further changes to https://github.com/WordPress/gutenberg/pull/45536):

- https://github.com/WordPress/wordpress-develop/pull/3602

[2022-11-10 18:35] coreyworrell commented on #45608
Just a note for the simple fix mentioned above, it may be good to check that the `link.hostname` matches as well to prevent a link like `https://other-website.com/blog/#anchor` from being included while on `https://my-website.com/blog/`.

Then again, closing the modal when clicking an external link probably doesn't pose any issues either.. Honestly since submenus are triggered by buttons (afaik),

[2022-11-10 19:30] scruffian opened #45711 "Theme Templates: Give users an option to "deactivate" a theme template."
## What problem does this address?
If themes ship with templates, it is impossible for users to opt out of them. For example if a block theme contains a `front-page.html` file then users have no way to stop this template from being used on the front of their site.

## What is your proposed solution?
There should be a mechanism whereby users can opt out of a default theme template.

Here's just a r

[2022-11-10 20:02] albanyacademy commented on #42509
Update: this is also failing to load custom third party stylesheets, like Google fonts or Typekit. Kinda pressing.

[2022-11-10 20:25] getdave commented on #45608
@coreyworrell Thanks very much for the feedback and observations. That's really helpful.

I wonder, would you consider submitting a PR to fix this feature? I'm not sure whether it would be your first PR on this repo but I would be more than happy to help you through the process if that's of interest.

What do you think? All contributors received props on the Gutenberg Plugin releases and ultimatel

[2022-11-10 21:06] jeffpaul opened #45713 "`.is-layout-flex` broken"
### Description

As originally reported in [Core Trac#56970](https://core.trac.wordpress.org/ticket/56970):

### Step-by-step reproduction instructions

In reviewing during the [6.1.1 bug scrub on 10 November 2022](https://wordpress.slack.com/archives/C02RQBWTW/p1668102000441239), there were no clear reproduction steps nor ideas on the cause of the issue.  As @hellofromtonya noted: "The tweak in C

[2022-11-10 21:11] #45504 closed, assigned to ramonjd

[2022-11-10 23:12] jordesign commented on #45612
I'm happy for that decision to be made by someone with more design expertise... But off the top of my head...

* We could append a hyphen before child/sub-items. or
* Default back to left alignment when the mobile nav is used. or
* introduce tools to change styling/alignment at different break points

[2022-11-10 23:51] gyurmey2 opened #45714 "Gallery block: Invalid JSON response error when try to upload images"
### Description

I can attach images from media library but not via the direct upload in editor. Initially images seem to upload alright and a preview is shown on the gallery. A few seconds later an error message is displayed on the Gallery block: `The response is not a valid JSON response`.

### Step-by-step reproduction instructions

1. Add a gallery block.
2. Select all images from [WeTransfer]

[2022-11-11 01:02] spacedmonkey commented on #45171
@oandregal @felixarntz I have created a [PR](https://github.com/WordPress/wordpress-develop/pull/3604), that does a number of this. This add a new method to WP_Theme for detecting theme json exists.

- Makes logic a lot cleaner and easier to follow.
- Adds caching.
- Makes a clean api.
- Allows the ability to check  in-active themes support theme json.

[2022-11-11 01:31] dcalhoun commented on #44755
I explored this issue some. I did not identify the bug origin or a solution, but will capture what I did discover for posterity. Contributors more familiar with the code may already be aware of some of this information, but I'll share it nonetheless.

When moving the cursor into the second block (i.e. <kbd>Shift</kbd> + Click), both Chrome and Firefox trigger at least one invocation of [`handleSel

[2022-11-11 02:15] pbking commented on #45675
Oh thank you @carolinan yes this is a dupe, thank you for pointing out #43405

[2022-11-11 02:15] #45675 closed, assigned to nobody

[2022-11-11 05:29] s56bouya opened #45718 "Can't save and delete when using custom template for post with multibyte in site editor"
### Description

When a post containing multibyte characters is selected as a template, it cannot save and delete.

At a later date, I changed the slug thinking multibyte characters were affecting it, but now the template is not found and can't be edited. Still can't delete.

### Step-by-step reproduction instructions

1. Dashboard->Appearance->Editor
2. Editor->Templates->Add New->Single item: Po

[2022-11-11 06:39] Mamaduka commented on #45718
Related #45633.

The templates REST API only supports Latin characters for template slugs.

[2022-11-11 07:41] jasmussen commented on #44412
If `:block` or `:self` are locked in place, code snippets would presumably work, even if perhaps they'd require removing the element. But it seems important specifically for the per-group CSS styles to have some built-in scoping, lest you install a pattern from the directory and it bleeds into all surrounding blocks in an unfortunate way.

[2022-11-11 07:49] carolinan commented on #44412
Yes there needs to be built in scoping, my concern is how it is presented to the user.
Can we limit the first implementation to simple blocks first and consider patterns later?

[2022-11-11 07:53] jasmussen commented on #44412
I was thinking [this design](https://github.com/WordPress/gutenberg/issues/44412#issuecomment-1308605424) for the locked CSS code, and by patterns I'm not expecting any separate work at all, simply that if you create a pattern that includes a group with CSS, the pattern will have CSS.

[2022-11-11 07:55] theminaldiwan opened #45720 "Hover effect color not fully covered in block editor link control search item"
### Description

When we assign link to any text then link toolbar is appear.After adding link in toolbar then bottom link control search box is fully covered when we hover on it.This is occur in all themes of wordpress.

### Step-by-step reproduction instructions

1)Activate any theme
2)Select paragraph block and add link on it
3)After adding url in search link box
4)Bottom side of toolbar link p

[2022-11-11 08:05] carolinan commented on #44412
The field in the customizer has the following text:

Add your own CSS code here to customize the appearance and layout of your site. [Learn more about CSS ](https://wordpress.org/support/article/css/)

When using a keyboard to navigate:
In the editing area, the Tab key enters a tab character.
To move away from this area, press the Esc key followed by the Tab key.
Screen reader users: when in forms

[2022-11-11 08:21] jasmussen commented on #44418
I went ahead and updated the issue! Since it already has a dev assigned, it's mostly a formality.

[2022-11-11 08:21] jasmussen commented on #44361
For any dev picking this up, be sure to also see #44418.

[2022-11-11 08:24] jasmussen commented on #45271
Yes, I think there's an opportunity to do that, potentially as part of #45346, which explores moving the Styles tab to the left. That would afford opening a fonts management screen just like there's a templates screen. It would need a little exploration, and I like to think we can start with a modal, but it makes sense.

[2022-11-11 09:07] christofervas commented on #45573
I noticed that when accessing the block editor for example with the "Editor" role the padding is missing. Here are the output of classes using the Twenty Twenty-Three theme:

As an administrator:
`is-root-container is-layout-constrained has-global-padding wp-block-post-content block-editor-block-list__layout`

As an Editor:
`is-root-container is-layout-flow wp-block-post-content block-editor-block

[2022-11-11 09:26] carolinan commented on #44412
I will try again. I don't think that displaying :self, block or similar in the input filed will be helpful, unless you would consider having an advanced mode.

This is what I think will happen:
1. Why is there already text in the box?
2. Where is it from?, because I did not add it.
3. Why can't I remove it?
4. What does it do?
5. What do I do?

Having a code snippet already placed would be more co

[2022-11-11 09:28] jameskoster commented on #44417
I have a small concern that it won't be obvious when you're using a variation a la carte, and when you're using a customised version, and that could lead to inconsistencies across a site. But I agree it's hard to know how much any of this matters until we can get a feel for it. Apologies for the slight detour, I think your latest designs look good (pending any other feedback)!

[2022-11-11 09:31] jasmussen commented on #44417
Cool, good thoughts. I'll tentatively update the issue, add the uncertainties, and hopefully technical input can clarify a few things which I can follow up on.

[2022-11-11 10:08] Evakos commented on #40913
I noticed that setting the HTML block to preview doesn't work anyway. In my case I had added Font Awesome icons like this: <i class="fas fa-calendar-alt"></i> and also a <span>. However converting it to a <code> block does allow the preview although you have to then override the styling of .wp-block-code.   So a temporary solution appears to be converting the block.

[2022-11-11 10:22] gOuTM commented on #45702
Me too. I guess it is Editors Kit plugin issue. As well as many others, unfortunately.

But I'm forced to use this plugin since #12684 has no progress since 2018 — but the plugin has requested option and it works.

[2022-11-11 10:32] poof86 commented on #45501
Will minHeight also be added to the Column Block?
I'm asking because the Column Block has the options for vertical alignment.

Maybe we could include vertical alignment to the Group Block also?
It would go well with this minHeight setting.

Sidenote:
I was hoping to get this minHeight feature in my Gutenberg installation before the next milestone releases.
But I don't know how to get this into my

[2022-11-11 11:05] jameskoster commented on #41379
Okay I'll open a separate issue.

[2022-11-11 11:05] #41379 closed, assigned to nobody

[2022-11-11 11:10] jameskoster opened #45722 "Display block shortcuts in Top Bar when Inserter is open"
Extracted from https://github.com/WordPress/gutenberg/issues/41379

<img src="https://user-images.githubusercontent.com/1204802/185140173-deb7255e-53af-4447-9a3c-6644b33806f3.png">

When the Inserter is open, it could be nice to try replacing the document tools with shortcuts to insert common blocks. This will be most useful in situations where the Patterns tab is the default but you only want to

[2022-11-11 11:14] mtias commented on #42480
Indeed, this shouldn't be an issue if we go with the pattern category treatment for the blocks section as well.

[2022-11-11 11:16] jameskoster commented on #43418
Yes good point, a Query (that inherits from the template) is mandatory for the settings to have any effect.

I suppose another option could be to surface these settings on the Query block itself, but only when situated in the front-page template, and only when it inherits. That sound a bit finicky though.

[2022-11-11 11:45] slingshotdesign commented on #34825
I'm also in favour of an option to switch this on or off by default. It is really confusing for content creators and at the moment everyone I know switches off the Show Inline Emded.

Was this feature implemented for accessibility reasons? Is it better for accessibility than a link to a pdf?

[2022-11-11 12:29] drzraf commented on #20105
18 months later, I still believe in the usefulness of this feature but we lack guidance from upstream about how to implement it properly. I'd be happy to hear suggestions on which block to alter, how and at which level, ...

[2022-11-11 12:40] johngodley commented on #45595
A +1 to viewing titles - they are important, particularly if it's hard to tell what a pattern is visually (or to see what the difference between similar patterns is).

As an alternative suggestion maybe a pattern could supply it's own preview layout?

#28135

This means a mostly text-based or abstract pattern, where a direct preview doesn't really add any value (it will always be too small), could

[2022-11-11 13:47] ElementMedia commented on #26911
This is a known issue in Yoast:
https://github.com/Yoast/wordpress-seo/issues/17035

I am also depending on the data type fields and haven't found a workaround yet.

[2022-11-11 14:27] cbirdsong commented on #16909
Bumping this issue up to point out how Mastodon handles this after seeing it [praised by Matt Haughey, who wrote](https://a.wholelottanothing.org/2022/11/08/clever-thoughtful-software-design/):

Mastodon’s design is far from perfect[^1], but it’s exactly the direction I had in mind: An on-by-default text input that offers the user a reminder if they’ve not entered an image description without nagg

[2022-11-11 14:59] #45417 closed, assigned to afercia

[2022-11-11 15:10] oandregal commented on #43914
@mmtr has a PR that fixes this at https://github.com/WordPress/gutenberg/pull/45679

There's an issue with the test but we're looking at fixing that the next week (not in time for 6.1.1).

[2022-11-11 16:02] joedolson commented on #34825
This is definitely not for accessibility; the PDF previews are more likely to be harmful to accessibility.

Now that user settings can be stored in user meta (https://github.com/WordPress/gutenberg/pull/39795), getting the user choice to be remembered can be much more broadly applied, and this preference should definitely be registered there.

I'd still prefer the default state for new users to ha

[2022-11-11 16:05] nickvanballegooijen commented on #34825
Even when I re-upload a new PDF document for the same block, the previewer setting is enabled again. Very frustrating when you have to manage  documents weekly.

Has somebody find a workaround like a plugin or something for php functions?

[2022-11-11 16:46] Lovor01 opened #45723 "Hook for navigation menu icon"
I suggest a change in `core/navigation` block.

I think having a hook for changing (customizing) menu icon would be nice. In that way, menu icon could be changed natively, both in admin and front and without depending on "hacks" like `render_block` PHP hook.

[2022-11-11 17:01] monsieur-z opened #45724 "Button component with set variant doesn't wrap text"
### Description

When set as primary, secondary, or tertiary (via the `variant` prop), the [Button](https://github.com/WordPress/gutenberg/tree/trunk/packages/components/src/button) component doesn't wrap text on a new line when there's not enough space to display the full label.

This looks like a conscious decision, given [the component styles](https://github.com/WordPress/gutenberg/blob/trunk/p

[2022-11-11 17:23] ocean90 commented on #38299
As noted in [this blog post](https://geoffgraham.me/how-to-remove-the-svgs-wordpress-injects-for-duotone-support/), you can now set `"duotone": null` in [`theme.json`](https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-json/) which removes the default duotone palette, inline SVGs, and the CSS custom properties.
Though, the JSON schema validation will report a type error but it

[2022-11-11 18:43] #43724 closed, assigned to nobody

[2022-11-11 22:01] gilsonviana commented on #36127
Unfortunately I stumbled upon this issue today only to find out there's no way around using JS with filter hook.
But a solution I found was to apply the modifications to the `core/group` and then wrap my elements with it.

[2022-11-12 00:06] djotaku opened #45729 "wp-social-link block should have rel=me as part of the link"
## What problem does this address?

The social media sites that the user has on their blog or site with this block should represent social media sites that belong to the user. They should, therefore, have the rel=me as part of the link. In relation to the current migration to Mastodon, this rel=me link is required to validate the site (green checkmark on Mastodon)

## What is your proposed solutio

[2022-11-12 03:31] t-hamano commented on #45729
Hi @djotaku
I think this was resolved via https://github.com/WordPress/gutenberg/pull/45469.

This PR is included in Gutenberg 14.5 and has been released as a plugin, so you can check it.

[2022-11-12 03:31] #45729 closed, assigned to nobody

[2022-11-12 03:47] #45599 closed, assigned to nobody

[2022-11-12 05:31] t-hamano commented on #45602
Different results were obtained in my environment.
I was able to paste the image, but it is pasted as an "inline image". The browser console does not output any logs.

- Firefox version: 106.0.5 (64-bit)
- OS: Windows 11
- WordPress version: WordPress 6.2-alpha-54777
- Gutenberg version: 14.5.0

https://user-images.githubusercontent.com/54422211/201458908-173cc404-ac5b-4b09-8ccb-772cd01e0f28.mp4

[2022-11-12 06:27] t-hamano commented on #45629
WordPress core gives `sandbox="allow-scripts"` for embedded content.
You can check the code here:
https://github.com/WordPress/wordpress-develop/blob/d90013cdeb7832972f84648459bb3f9de4364e25/src/wp-includes/embed.php#L498

I believe this is so that if there is a problem with the embedded content, it will not affect the outside of it.

You can rewrite the HTML output by using the [embed_html](https

[2022-11-12 08:29] paaljoachim commented on #30701
Retesting using WordPress 6.1.
Gutenberg plugin 14.5

Various default themes.

### TT1.
Has the Site Title block text underlined.

![Screenshot 2022-11-12 at 09 12 19](https://user-images.githubusercontent.com/5323259/201465133-32f6330c-5027-44ff-b42d-5a9aeb7144d8.jpg)

Backend and frontend.

---

### Twenty Twenty Two
Has the Site Title block text underlined.

![Screenshot 2022-11-12 at 09 14 12]

[2022-11-12 08:29] t-hamano commented on #44129
I've submitted #45731 to add spacing supports to the Pullquote block.

Once margins are controllable, the default margin for blockquote will no longer be necessary, so I've added a style to reset the default margin at the same time.

[2022-11-12 08:35] t-hamano commented on #43566
@KAJALwp
Thank you for your contribution.

I have found that you have submitted a similar ticket to Trunk: https://core.trac.wordpress.org/ticket/56441

I would like to close this PR as I think this issue should be addressed on the theme side. If you have any clarifications, please feel free to reopen it at any time.

[2022-11-12 08:35] #43566 closed, assigned to nobody

[2022-11-12 09:32] t-hamano commented on #42570
@admturner
Thank you for your contribution.

I have confirmed that this process for Windows, added by #33607, caused the regression.

https://github.com/WordPress/gutenberg/blob/92d28ca4096457135dc7f213a900ec19ced1c8b6/packages/block-editor/src/components/rich-text/use-paste-handler.js#L91-L92

Received HTML data differs depending on the presence or absence of this process:

<details>
<summary>Wit

[2022-11-12 09:34] vijayhardaha opened #45732 "Shortcodes are executing in backend"
### Description

If I am adding a shortcode in shortcode blocks, it's code is executing in the backend, but the shortcode tag should be just raw text in the backend, they should not execute the inner code/query in backend.

### Step-by-step reproduction instructions

**Steps to reproduce the issue.**

1. Fresh install the WordPress
2. Create a static homepage
3. Install the WooCommerce plugin & im

[2022-11-12 09:45] t-hamano commented on #34235
@getdave

With fix #33607, it appears that pasting tables from MS Excel no longer works. More details can be found in #42570.

Before attempting to resolve #42570, I think it would be better to add the test #33607 suggested in this issue first.
I'm a Windows user, so I would be happy to help 👍

[2022-11-12 09:46] t-hamano commented on #42570
I think it would be better to add the test proposed in #34235 first, so that the resolution of this issue does not cause regression #33607 to the contrary.

[2022-11-12 10:28] NicoHood commented on #45629
Alright, and how does wordpress detect if a website can be embedded or not? Is there a list of supported website or a generic solution like structured data that I am not aware of yet?

Cause at the same time (a bit offtopic) I was wondering why google maps embed does not work.

[2022-11-12 11:43] Humanify-nl commented on #45713
Same as utility classes for “is-horizontal”. In 6.0, they just didn’t work on rows.

I suppose this is coupled to the fact that group and row are variations of the same block. It is creating complexity that shouldn’t be there, and now in 6.1 there is again a new utility class. But the underlying problem is not solved.

For a major structural layout block, a setting that is used in every site I eve

[2022-11-12 12:19] mjjwatson opened #45733 "Error with handleSuggestionLink on __experimentalLinkControl"
### Description

I've noticed since 6.1 updates that __experimentalLinkControl is erroring onChange:

[code]

`
const [ tempLink, setTempLink ] = useState( null )`

`
 <LinkControl
	value={tempLink}
	onChange={(newLink) => {
		setTempLink(newLink)
	}}
/>
`

The JS error is:
"Cannot destructure property 'id' of 'r' as it is null."

 at handleSuggestionClick

The example above is a simplified LinkCo

[2022-11-12 13:22] ghost opened #45734 "Using same custom block twice in edit(backend) only showing once in save(frontend)"
### Description

When I add two instances of the same block I am expecting it to show twice or however many times I insert the block in the backend. This block is rendered with php though i.e.: `save: () => null`

If I insert the block once then it works fine and as expected. If I add the block again it shows only once on the frontend instead of twice for example.

Here is the php

[code]

test-po

[2022-11-12 14:14] t-hamano commented on #45629
Sorry, I do not have an exact answer for that.
You might want to ask about those issues in [the gutenberg discussions](https://github.com/WordPress/gutenberg/discussions) or [support forum](https://wordpress.org/support/forums/).

[2022-11-12 14:27] t-hamano commented on #45713
This is another ticket reported on the core track: https://core.trac.wordpress.org/ticket/57007

[2022-11-12 20:22] beckej13820 commented on #41613
I was able to recreate this issue on a site running Wordpress 6.1 and Gutenberg 14.5.0

Specifically, when 50 blocks or more are nested inside a group, the list cuts off at around 50. If there are collapsed lists above the cutoff, expanding those lists will move the cutoff to keep ~50.

[2022-11-12 20:22] oliv-j commented on #38251
I will add to this that manually specifying the start attribute of the list item breaks the editor when you try to go back to visual editing. So there is no good work around right now. I get:
"This block contains unexpected or invalid content."

If I attempt recovery then all hell breaks loose with duplicated content and/or list items with strange line breaks in between them.
I've been trying to g

[2022-11-12 20:26] beckej13820 commented on #41613
Here’s a screenshot showing the cutoff. Main idea is that there more columns on the right than in the list view.

![4EF3AFEB-2DE7-4C13-895D-838D7238A21A](https://user-images.githubusercontent.com/29982981/201493186-8df10611-23ee-45aa-b918-dab45bb81988.jpeg)

The design of the page may be a contributing factor, where to put a shaded background behind the text, all 100 blocks are nestled inside a gr

[2022-11-12 21:28] paaljoachim commented on #41613
Reopening issue based on additional feedback.

[2022-11-12 23:20] annezazu commented on #43926
Noting that currently some [designs are showing as "Appearance > Design".](https://github.com/WordPress/gutenberg/pull/44770)

[2022-11-13 02:41] t-hamano opened #45738 "SpacingInputControl: Certain mouse movements leave the visualizer visible"
### Description

Related to: #45054, #44955

In the `SpacingInputContorl`, the visualizer remains after mousing out of the control when certain mouse actions are performed.

### Step-by-step reproduction instructions

- Mouse over the slide for padding or margin control. Here you'll see the visualizer.
- Drag the dots to change the value.
- Mouse out from the control.
- After a short time the visu

[2022-11-13 05:30] t-hamano commented on #25330
This may not be a straightforward method, but the `blocks.registerBlockType` hook allows you to control the block style in all editor instances.

`test-plugin/test-plugin.php`

[code]

`test-plugin/script.js`

[code]

[2022-11-13 08:54] abebeos commented on #14945
@jorgefilipecosta , this happens to me on github (e.g. when editing an issue). Forces me to switch away from Brave, due to work-flow interruption.

[2022-11-13 09:40] afmarchetti commented on #44717
All the WordPress dev want to create block with php, js, css **whitout** npm and build worflow.
In a small business web site we haven't the time and budget to create a block with that system (local build) to make small changes, we need something quick and easy like this:
https://blockstudio.dev/

If you make something like this all the community will love Gutenberg and WordPress again.

This could

[2022-11-13 09:41] afmarchetti opened #45740 "Easy Workflow to Create Custom Blocks"
All the WordPress dev want to create block with php, js, css whitout npm and build worflow.
In a small business web site we haven't the time and budget to create a block with that system (local build) to make small changes, we need something quick and easy like this:
https://blockstudio.dev/

If you make something like this all the community will love Gutenberg and WordPress again.

This could cha

[2022-11-13 09:49] paaljoachim opened #45741 "Adjusting link text and clicking to open in a new tab closes link modal without saving the adjustments"
### Description

When I open an existing link and adjust the text and then also click Open in new tab the link dialog box suddenly closes without the adjustments being saved.

I have to do two operations.
Open a link and change the link text. Click the enter symbol to close it.

Open the link again and then click the Open in new tab and then click the enter symbol to close it.

### Step-by-step re

[2022-11-13 10:07] t-hamano commented on #45733
@mjjwatson
Thank you for your contribution.

I was able to reproduce it. I would like to submit a PR in the near future.
Below is a temporary implementation of your code into the button block to reproduce the error.

https://user-images.githubusercontent.com/54422211/201516362-22077ea5-5ccb-4faa-8f8b-ec7f2c8b4197.mp4

[2022-11-13 12:09] carolinan opened #45743 "Create a component to replace the HeadingLevelDropdown toolbar option."
## What problem does this address?

The HeadingLevelDropdown is a toolbar option used to choose between H1-H6 in the heading block, comments title, query title, and post title. The files are in the heading block, and the other blocks import them.
The site title has its own similar option, and it adds a paragraph to the selection.
In addition, if merged, the proposed Details block would also use a

[2022-11-13 12:20] #45733 closed, assigned to t-hamano

[2022-11-13 14:15] kauaicreative commented on #40048
`define( 'SCRIPT_DEBUG', true );` or `define( 'WP_DEBUG', true );` in wp-config.php should fix the issue with theme.json
But I find styles unusable e.g. /styles/theme.json unusable. The cache never clears on my local environment.

[2022-11-13 14:57] cheestudio opened #45744 "Popover Component does not close when clicking outside Popover"
### Description

When a Popover is opened, if the user clicks outside the Popover's contents, it should close without having to re-trigger the open/close function. The "context" menu (three vertical dots) on BlockControls works this way already, which is the expected behavior.

### Step-by-step reproduction instructions

1. Create a block using create-block package
2. Implement a Popover
3. Click

[2022-11-13 17:58] bph commented on #45629
@NicoHood The Embed block relies on the [open format oEmbed](https://oembed.com/). If a site doesn't use that format, the embedding out-of-the-box doesn't work. Then you would need to use their site's instructions on how to embed the site or part of the site. For [Tally the instructions are here](https://tally.so/help/how-to-embed-a-tally-form-on-wordpress). You can learn more on the [history of o

[2022-11-13 17:58] #45629 closed, assigned to nobody

[2022-11-13 18:06] bph commented on #45740
The tool you might want to check out is the Create Block scaffolding script built by the Gutenberg team. The recent course on [Introduction to Block Development](https://learn.wordpress.org/course/introduction-to-block-development-build-your-first-custom-block/) gives a great use case for it.

You can also follow the [block editor handbook tutorial](https://developer.wordpress.org/block-editor/ref

[2022-11-13 18:06] #45740 closed, assigned to nobody

[2022-11-13 19:44] errotu commented on #33789
It's rather hidden: You have to click on the three dots next to "Dimensions" ("Größe") and select "Image Size".

[2022-11-13 19:53] thomaslc08 commented on #38226
Hi! Were you able to resolve this? I have this issue on WordPress 6.1 with styled-components. It works fine with the Gutenberg editor for a page or a post but not in full site editing mode

[2022-11-13 22:37] nick6352683 commented on #40048
Thanks I'll give it a shot - although it will be in a localhost Xampp php 7.4 environment.

[2022-11-14 01:50] t-hamano commented on #45744
Hi @cheestudio,

I think that nothing should happen when you click outside the popover unless you explicitly close it by `onClose`.

A basic implementation would be as follows:

[code]

[2022-11-14 01:55] cheestudio commented on #45744
Hm, so why does the Context Menu example in my screencast close when you click outside the popover? If that is an additional behavior attached to the Popover module, do you have an example of that implementation?

[2022-11-14 02:17] cheestudio commented on #45744
I see, I was not aware I had to explicitly set define a function for this. Using your example works great and does indeed clear the Popover when you click outside of the modal, but now if you click the Button again once the Popover is open, the Popover closes and re-opens instantly. Do you have an example of the two actions working in tandem? This is how I have my state handler set up:

[code]

[2022-11-14 05:27] carolinan commented on #45743
My own preference is the second design where the name of the element is visible.

[2022-11-14 08:07] t-hamano commented on #45744
Popover may need to be included in the button component. Then, since this is a question, not an issue, I'll convert it to discussion.

[2022-11-14 08:07] #45744 closed, assigned to nobody

[2022-11-14 08:22] anarieldesign commented on #45438
@draganescu it happens also in 6.0 and it's related to the multisite installations.

[2022-11-14 10:02] draganescu commented on #45482
I think we only need to implement the edit component using navigation link blocks. And to allow navigation link blocks to be uneditable. But by now I think we can do this with locking.

[2022-11-14 10:21] #39629 closed, assigned to nobody

[2022-11-14 10:32] jameskoster opened #45750 "Padding on paragraph not behaving as expected"
![padding](https://user-images.githubusercontent.com/846565/201636598-4e9c9ab0-4550-4524-bed8-5700d04b9181.gif)

My expectation is that the overall footprint of the Paragraph would remain the same, with the text being "squished" based on the padding value. As you can see in the gif above the Paragraph footprint grows to accommodate the padding.

I acknowledge that my expectation is likely biased,

[2022-11-14 11:37] jasmussen commented on #45750
Well, this is the box model challenge, right? While I personally would prefer that the text gets squished inwards (border-box), honesly I'd be fine if:

* The box model is the same in editor and frontend, so the result is the same
* The padding control and visualization is accurate to said box model

The alternative to the above would be to default to border-box across all blocks, editor and front

[2022-11-14 13:48] scruffian commented on #30701
I'd love to, but I am unlikely to have time to look at it until after 6.2.

[2022-11-14 14:04] ntsekouras commented on #45606
Filtering by `keywords` is already supported. Did you encounter a case that didn't work?

[2022-11-14 14:10] jasmussen commented on #44651
Here's a first stab mockup for this, and I would love your feedback. Starting with the work outlined in #45507, I took a look at how this could exist on a per-block basis in Global Styles. I imagine it would exist as a control accessible via Blocks → _Blockname_:

<img width="2466" alt="Managing drop shadows in Global Styles" src="https://user-images.githubusercontent.com/1204802/201679662-65da720

[2022-11-14 14:11] brianhogg commented on #38226
I ended up having to manually grab the CSS generated for each of the HTML elements and pull it over into a CSS stylesheet. So would need to grab an old version of The Events Calendar Shortcode to see the original issue from the screenshots.

[2022-11-14 14:13] jasmussen commented on #44651
CC: @WordPress/gutenberg-design

[2022-11-14 14:28] afercia opened #45753 "BlockVariationPicker visible text has useless ARIA role presentation"
### Description

Some blocks use the `BlockVariationPicker` to visually present variations, for example the Columns and Query loop blocks.

The visible text below the variation buttons is placed within a `<span>` element with an ARIA `role=presentation`. This role doesn't do anything, as it's only meant to remove native roles, if any. A span element doesn't have native role.

If the original inten

[2022-11-14 14:40] mtias commented on #45711
This is an important gap to address. In the future, it'd be good to group disabled templates in a filter. The view when a template is disabled lacks information, though. It should probably read "disabled" where the ellipsis shows.

[2022-11-14 14:55] jasmussen commented on #45595
I don't think we should have a toggle for titles — I think we need to decide on always, hover/focus, or otherwise.

[2022-11-14 15:15] jasmussen commented on #33094
May I propose adding these to the issue? These all have designs, and are "ready for dev".

* [ ] [Editor] #45271
* [ ] [Styles] #45371
* [ ] [Patterns] #44582
* [ ] [Patterns] #44581
* [ ] [Blocks] #43852
* [ ] [Templates] #41060
* [ ] [Editor] #27093
* [ ] [Styles] #44417

[2022-11-14 15:20] Mamaduka commented on #33094
@jasmussen, I think @kevin940726 already started working on #44581.

[2022-11-14 15:22] #45701 closed, assigned to t-hamano

[2022-11-14 15:24] paaljoachim commented on #44651
Hey Joen. It looks like a good start!

[2022-11-14 15:30] jorgefilipecosta commented on #33094
Regarding https://github.com/WordPress/gutenberg/issues/42325, I'm starting the work on it.

[2022-11-14 15:34] skorasaurus opened #45754 "Indented list item of ordered list now creates an unordered list item"
### Description

This has been tripping up some of our editors as we recently adopted WordPress 6.1 which included the adoption of list v2 block (admittedly, we missed it in some initial testing).

Previously, list v1 (in wordpress 5.9.x and wordpress 6.0.x, and before [Gutenberg 14.0](https://make.wordpress.org/core/2022/09/01/whats-new-in-gutenberg-14-0-31-august/#highlight-1)):

When an ordered

[2022-11-14 15:54] #11173 closed

[2022-11-14 15:56] fabiankaegy opened #45755 "Add ability to show `dropCap` tools panel by default"
## What problem does this address?

It is currently not possible to show the Drop Cap setting in the Settings sidebar by default. If your design system makes use of this option frequently it has become more difficult over time to actually add this control.

## What is your proposed solution?

All of the other typography supports which actually technically are block support options make use of the

[2022-11-14 15:59] Mamaduka commented on #45569
The fix was backported into WP 6.1.1. I'll close the issue.

[2022-11-14 15:59] #45569 closed, assigned to nobody

[2022-11-14 16:03] markhowellsmead commented on #33789
@errotu The controls for the Post Featured Image block in the Single template are completely different than in the Archive view. Hardly any of those controls are available and there's no option to choose the image size from the list of preset sizes.

[2022-11-14 16:25] spencerfinnell commented on #34853
Noting this is still an issue in `14.5.0`.

[2022-11-14 16:50] ryanwelcher commented on #44717
It is entirely possible to create a custom block without a build process now. You can scaffold a block using the `es5` template with the create-block tool  - ` npx @wordpress/create-block block-with-no-build -template es5`

[2022-11-14 16:55] afmarchetti commented on #44717
Ok but we still need node and a local environment, right?
We just want open a js-php-css file and make changes as a normal template / plugin...

[2022-11-14 17:16] ryanwelcher commented on #44717
You don't need node to build the block, there is no build process using the `es5` template. You will need `npx` available to run the `create-block` tool but that is also optional as you can manually create the files you need.

As for a local environment, typically you'd want to have a local WordPress installation set up and running to test your code changes, is that what you're referring to?

[2022-11-14 17:23] jorgefilipecosta commented on #42325
Hi, regarding the options to create a template. @jameskoster said:

The issue is that, as far as I'm aware, there is currently no association between a pattern and a template, something that is a must for this work.
So as part of this work, we will need to implement this association. Some options are:
- Use the same approach as template parts, e.g., include in block types something like core/templ

[2022-11-14 17:30] ryanwelcher commented on #44717
@afmarchetti you can have a look at these [examples in the Gutenberg Examples repo](https://github.com/WordPress/gutenberg-examples/tree/trunk/blocks-non-jsx) for blocks without a build process.

[2022-11-14 17:39] strarsis commented on #43369
Warming this discussion up again:
https://github.com/WordPress/gutenberg/issues/6608

[2022-11-14 17:43] strarsis commented on #27144
At least some filter should be offered that can be used to pre-process the templates. Many theme developers use Blade-PHP, and it would be nice if it can also be used as a block template language.

[2022-11-14 17:46] strarsis commented on #13318
Or as a middle ground, add a `code-comment` block that only shows up in the editor, and is stripped during rendering, or with an attribute that toggles that (frontend visible or not)?

[2022-11-14 18:06] github-actions[bot] opened #45756 "[Flaky Test] navigates forward and back again"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
navigates forward and back again

## Test path
`/test/e2e/specs/editor/various/a11y-region-navigation.spec.js`

## Errors

<time datetime="2022-11-14T18:06:05.716Z"><code>[2022-11-14T18:06:05.716Z]</code></time> Test passed after 2 failed attempts on <a href="https://github.

[2022-11-14 18:30] afmarchetti commented on #44717
@ryanwelcher  thanks :-) i tried and test the example here (recipe block):
https://github.com/WordPress/gutenberg-examples/blob/trunk/blocks-non-jsx/05-recipe-card/block.js

it's a lot of code to create such a simple html structure, in [block studio ](https://blockstudio.dev/) you can do  something like this to create block templates:

![Schermata 2022-11-14 alle 13 57 54](https://user-images.gith

[2022-11-14 18:59] jomurgel opened #45757 "User Post Takeover Notice Modal Missing."
## What problem does this address?
In the Classic Editor if a user was editing a post and another user took over that post the current editor would receive a notice that the post had been taken over. In the Block Editor, this notice was not added initially. A notice is present if the user refreshes the page, but the editor may try and save or continue working on the post only to have changes overw

[2022-11-14 19:45] RolfKyburz commented on #13318
I have now resorted to an HTML block consisting of inline HTML comment **only**. To me, this works for the purpose of embedding hidden search text in a blog post. That doesn't help, though, in hiding text **within** a paragraph. I often would like to do that in "live documents", i.e., blog posts that evolve over time, and where I'd like to embed text that I want to activate at a later stage, or wh

[2022-11-14 21:51] natirivero commented on #40481
+1

[2022-11-14 21:51] bph commented on #42963
@madhusudhand Glad that your issue seems to be resolved.

Your discussion on sub-menus is quite interesting and valid. Nice comparison and visuals!
It probably should be separate into a new issue, so it gets more developers to chime in. The navigation blocks seem to be still in flux and your thoughts would be worth discussing.
I am afraid, no many people will see beyond. "It's fixed with latest Gu

[2022-11-14 22:45] strarsis commented on #34641
And I also want to mention the `sizes` attribute for responsive `<img>`s that needs information about the absolute width of the element - which can be achieved in many cases by knowing the widths of its containers up to the root.

[2022-11-15 01:19] aaronrobertshaw commented on #30701
@paaljoachim I've gone on a bit of an exploration for some possible solutions here. They each have some quirks but I'll try and outline them clearly below.

### Problem

We want a means of setting text decoration (including `none`) on individual blocks as well as theme.json & global styles.

### Possible Solutions
#### Individual Blocks

1. Skip serialization of text-decoration and apply it to the

[2022-11-15 02:14] creativecoder commented on #29295
I've made another attempt at this in https://github.com/WordPress/gutenberg/pull/45764 -- reviews welcome!

[2022-11-15 02:27] t-hamano commented on #39020
Hi @lumaypl,

I think this is due to a plugin, like #45702. The only option that the core has is "Open in new tab", and no such issues have occurred.

![link_1](https://user-images.githubusercontent.com/54422211/201811216-e95915fd-1b5b-4f9d-a677-cca7dcb1c845.png)

![link_2](https://user-images.githubusercontent.com/54422211/201811226-a5263fc5-0ae8-4d69-96d9-e55dd2c7bbb3.png)

[2022-11-15 06:58] Ankush11S opened #45765 "Can we add Side Nav bar expandable"
## What problem does this address?

## What is your proposed solution?

[2022-11-15 07:00] Ankush11S commented on #45765
![sidenav](https://user-images.githubusercontent.com/33414888/201851258-8eede008-8fed-4601-a87f-06c3a9d3b296.jpg)
attaching the reference for proposed solution

[2022-11-15 08:06] bobbingwide commented on #33273
I've got the same symptoms again with WordPress 6.1 and Gutenberg 14.4.0 & 14.5.0.
Clicking on the hamburger menu does nothing in a Windows local development environment.
Clicking on the hamburger menu works for sites hosted on Linux.
Currently investigating as https://github.com/bobbingwide/written/issues/19

[2022-11-15 08:23] devanshijoshi9 commented on #45381
Hey @t-hamano 👋

It would be helpful if you provide the status of this issue. This issue is still present so does anyone working on this issue or can I create PR to resolve this issue?

Thanks

[2022-11-15 08:25] #45738 closed, assigned to t-hamano

[2022-11-15 08:50] madhusudhand commented on #42919
While #45719 addresses the Block Preview at Level 1, how shall it behave upon diving deep into the block structure?

<img width="754" alt="image" src="https://user-images.githubusercontent.com/1935113/201872010-6ef0c600-c0e1-4f4d-8f07-2372ddd191ae.png">

Questions to design:
* Is it a pop over on click of 👁️  icon?
* if so, can it be pinned?
(in scenarios such as box-shadow, having a live preview

[2022-11-15 09:05] jasmussen commented on #42919
Good question. In your box-shadow example ([fresh designs herer](https://github.com/WordPress/gutenberg/issues/44651#issuecomment-1313770873)), but also for a recent style variation example in #44417, it's actually useful to have that same top preview present not just on level 1 but on all levels.

Would it be possible to keep this preview on all those sub-levels as a starting point, omit the eye

[2022-11-15 09:46] mrleemon opened #45766 "Typo in table block styles in WP 6.1"
### Description

In WP 6.1 there's a typo in the following file:

`wp-includes/css/dist/block-library/theme.css`

[code]

Also posted to trac:
https://core.trac.wordpress.org/ticket/57112

### Step-by-step reproduction instructions

1. Open the `www.example.com/wp-includes/css/dist/block-library/theme.css` in any browser

### Screenshots, screen recording, code snippet

_No response_

### Environm

[2022-11-15 10:06] jameskoster commented on #45750
Yes it is all down to the `box-sizing` value.

This is the case currently, so perhaps this isn't an issue at all. I don't really know why, but I was surprised to see this behavior :)

[2022-11-15 10:06] #45750 closed, assigned to nobody

[2022-11-15 10:08] jasmussen commented on #45750
Yeah and I think it's valid: the un-intuitiveness of the default box model definitely has a long history in general web-design. So I guess it's mainly whether we change the default in the editor, or put the onus on theme develoeprs to do so.

[2022-11-15 10:11] jameskoster commented on #45606
Do you mean it's supported in the search? That's good to know. I was thinking more about surfacing specific keywords as filtering options in the UI in order to aid discovery.

It's certainly not a high-priority item, just something to think about as the pattern directory grows.

[2022-11-15 10:26] afercia opened #45767 "Focus loss when closing the block toolbar with the Escape key"
### Description

When closing the block toolbar with the Escape key, focus is lost.

Expected: to return focus back to the selected block, regardless of whether it's in 'Edit' or 'Select' mode.

This is a regression as the previous behavior was returning focus to the selected block.

See also https://github.com/WordPress/gutenberg/issues/41508 and https://github.com/WordPress/gutenberg/issues/4150

[2022-11-15 10:36] ntsekouras commented on #45606
Yes, that was what I meant.

[2022-11-15 10:44] gbaggaley opened #45768 "Broad selector for `figure` elements in WP 6.1"
### Description

Also posted to trac for reference:
https://core.trac.wordpress.org/ticket/57103

I've just updated a bunch of our websites to 6.1 and seen that there's an incredibly broad css selector for all figure elements introduced into `./wp-includes/css/dist/block-library/style.min.css`:
[code]
This has broken the styling on multiple themes we've developed for clients.
The same issue also h

[2022-11-15 10:56] paaljoachim commented on #33273
Reopening isse as @bobbingwide Herb reported that the problem has showed up again in Gutenberg 14.5.0 and WordPress 6.1 in a Windows environment.

[2022-11-15 11:13] bobbingwide commented on #33273
Problem reproduced today with TwentyTwenty-Three.
Neither `/navigation/view.min.js` nor `navigation/view-modal.min.js` are being enqueued.

[2022-11-15 11:28] madhusudhand commented on #44651
@jasmussen Thanks for the designs. They look great!

I like this idea and I would like to believe, a formula should transform these values to `X,Y` (apply in CSS) and also reverse transform them without issues.
I will work on this transformation (formula) and provide more detailed feedback.

I would like to imagine shadow presets to behave similar to `colors`.
There would be `Default Shadows` (def

[2022-11-15 11:51] #21717 closed

[2022-11-15 11:55] t-hamano commented on #33273
I also tested it in a local environment on a Windows OS.
In my case, when I activate the Gutenberg plugin, only `view-modal.min.js` is not enqueued.

- OS: Windows 11
- WordPress Version: 6.1
- Gutenberg Plugin Version: 14.5.0
- Theme: Twenty Twenty Three

<details>
<summary>Without Gutenberg Plugin</summary>

![wthout](https://user-images.githubusercontent.com/54422211/201913675-d8844719-e311-4d9

[2022-11-15 11:59] #42819 closed, assigned to afercia

[2022-11-15 12:17] mtias commented on #42919
Let's get the preview for the top level first merged, then follow up with the sub-levels.

[2022-11-15 12:30] kasparsd commented on #42286
Looks like `wpdev-docker-images` containers actually [do support Xdebug](https://github.com/WordPress/wpdev-docker-images/blob/2106858ec7c65fa4975f1880fd9d5d902837f1be/entrypoint/common.sh#L4-L11) as long as `LOCAL_PHP_XDEBUG` environment variable is set to `true`.

So we need to update the `env` package with a way to pass environment variables to all containers. Technically, it mean updating the

[2022-11-15 12:36] jasmussen commented on #44651
Thank you! If it becomes a headache, don't spend too much time on it, we can start simpler if need be. For example it hits me that it might not be possible to represent all box-shadow configurations with this setup, as the angle+depth components assume that the X and Y values will always be the same. We might need a different angle component, one that's more of a map/grid, for this to work 🤔

Yes.

[2022-11-15 12:45] mtias commented on #17738
@druxstr that's a good point, would be good to split.

[2022-11-15 12:51] Soean commented on #45766
I can reproduce the bug in 14.5, but not in trunk, so it seems already fixed?

[2022-11-15 12:53] getdave commented on #45438
Here is where the link of the Navigation Link block is set when rendered on the front fo the site

https://github.com/WordPress/gutenberg/blob/eb3faf6ffac764ef9b7293750c45fa94d1d6c348/packages/block-library/src/navigation-link/index.php#L174

It comes from the attributes set on the block. So I'm assuming the bug is likely to be found in the importer or exporter in relation to multi-site rather tha

[2022-11-15 12:55] jameskoster commented on #42325
That sounds like a good plan to me. Though I would say the pattern <> template association shouldn't be a blocker to merging the modal with the two start options. The visual preview therein still feels like an enhancement to me.

I don't know if it affects your intentions, but one thing to keep in mind is that it might be nice for the pattern directory on wp.org to enable folks to browse patterns

[2022-11-15 12:58] Soean commented on #45766
Fixed in https://github.com/WordPress/gutenberg/pull/45674

[2022-11-15 12:58] #45766 closed, assigned to nobody

[2022-11-15 13:06] t-hamano commented on #33273
I have identified the cause of the problem.
As you can see from[ this comment](https://github.com/WordPress/gutenberg/issues/33273#issuecomment-877304927), in places the path separator characters did not match.
I will submit a PR in the near future.

[2022-11-15 13:15] mrleemon commented on #45766
Thanks, I didn't see that PR, sorry.
Will this fix be backported to 6.1.1 or 6.1.2?

[2022-11-15 13:24] bobbingwide commented on #33273
@t-hamano thanks for the confirmation.

I've proposed a  new fix in https://github.com/bobbingwide/written/issues/19#issuecomment-1315267873
It's not quite the same problem as in my original quick fix.
I found I needed to use `wp_normalize_path()` more than before.
Would you care to try it? I don't have the capability to create a PR right now.

[2022-11-15 13:32] t-hamano commented on #33273
@bobbingwide
Thanks for the detailed analysis!
I am about to write a description of #45773 and am making almost the exact same changes you suggested.

[2022-11-15 13:38] vcanales commented on #33273
Thanks for looking into this! I'll be around to review :)

[2022-11-15 13:55] danielbachhuber opened #45774 "Raw Handling: unexpected results when pasting table with list from Google Docs"
### Description

I tried pasting a table from Google Docs and received unexpected results.

### Google Docs

<img width="687" alt="image" src="https://user-images.githubusercontent.com/36432/201934749-9beeaf3f-d078-4d13-bf7e-b25229f03e46.png">

### Gutenberg

<img width="766" alt="image" src="https://user-images.githubusercontent.com/36432/201934824-f8c3b740-5d6d-43aa-a527-30551c135523.png">

Nota

[2022-11-15 14:15] ndiego commented on #45757
This issue was reviewed in today's Editor Bug Scrub. In replicating the issue, I did find that the notice does appear for the original user, but it takes a while for it to appear and did not require a page refresh. For me, it took a minute or so. Definitely, some improvement is needed, but below is an example of the message that eventually appears.

![image](https://user-images.githubusercontent.c

[2022-11-15 14:21] danielbachhuber commented on #45774
To resolve this issue, I'd like to propose two separate PRs:
1. Support the `colspan` attribute on the underlying HTML (from https://github.com/WordPress/gutenberg/issues/15821#issuecomment-788211575) with a test case for pasting from Google Docs.
2. Transform unordered and ordered lists within tables to simple list representations on paste.

[2022-11-15 14:21] ndiego commented on #45741
This issue was reviewed in today's Editor Bug Scrub. I was able to confirm this issue. I do think some design feedback is needed on the correct way to handle this. My thought is toggling the "Open in new tab" should never close the modal. This would require an additional click outside the modal to close, but I think it's unintuitive that toggle the setting auto-closes the modal.

Quick note, this

[2022-11-15 14:32] richtabor commented on #45741
Agreed.

[2022-11-15 14:53] jasmussen commented on #44651
Having tinkered a bit with this now, it's clear that approach I had thought of with regards to layered shadows that I was thinking of, inspired by #39427, is unlikely to work for stacked shadows for us. Quite simply, the fact that a preset can contain all stacks, means the UI to control each layer, would need to be surfaced in the flyout. I think I need to explore an entirely different approach to

[2022-11-15 14:53] ocean90 commented on #45732
Also reported in https://core.trac.wordpress.org/ticket/57095.

[2022-11-15 14:56] afercia commented on #42738
Thinking a bit more in depth, I'm not sure the Placeholder can render a `fieldset` + `legend` element in the first place. That would only be appropriate when the placeholder content is made of form controls. However, there are cases where the content is not made of form controls. Some examples (there are more ones):

Latest Posts block. When there are no published posts, the informative text is re

[2022-11-15 15:02] annaBrasnar commented on #38218
How does one solve this issue please?

[2022-11-15 15:07] ndiego commented on #45713
@t-hamano has done some more investigation on this. [See the latest comments here](https://core.trac.wordpress.org/ticket/57007#comment:11). It looks like this might be related to caching, perhaps related to the caching issues we tackled right before the release of 6.1. @Mamaduka @ockham any thoughts?

[2022-11-15 15:09] t-hamano commented on #33273
@bobbingwide @vcanales

The PR #45773 is ready. If you can test this PR in a Windows environment, I would be glad to have you review it.

[2022-11-15 15:14] paaljoachim commented on #45741
As one has the link modal open and does does various things. It should close on clicking the enter symbol or clicking enter on the keyboard.

I too agree.

[2022-11-15 15:27] Humanify-nl commented on #45713
I looked through that thread, and indeed have the new separate asset loading.

I doubt however that this would interfere with the output of utility classes. It is also no classic theme.

[2022-11-15 16:26] swissspidy opened #45777 "Keycodes: Do not test for `keyCode` in `isKeyboardEvent`"
## What problem does this address?

#43147 had an issue testing keyboard shortcuts because `@testing-library/user-event` removed support for `keyCode` in version 14, but `isKeyboardEvent` still tests for it.

## What is your proposed solution?

If that util can be adjusted to test for `key` instead of `keyCode`, then workarounds like `fireEvent.keyDown()` are no longer needed.

[2022-11-15 17:01] ciampo commented on #45594
Hey @tomalec , thank you for opening this very well-written issue!

I agree that it would be great to have a way to ensure visual consistency between different components — in this case, a tablist + tabpanel component and tab-looking navigation component.

As @talldan mentioned, there have indeed been recent talks about reworking `TabPanel` in order to add some requested features — my suggestion t

[2022-11-15 17:43] jffng opened #45778 "Template Editing Mode view is cut short"
### Description

In template editing mode, the view is cut short.

### Step-by-step reproduction instructions

1. Go to the post editor, open the template editor
2. Verify the template editor view is cut off

### Screenshots, screen recording, code snippet

**Chrome 104.0.5112.101** | **Safari 15.3**
--- | ---
<img width="1624" alt="Screen Shot 2022-11-15 at 12 38 57 PM" src="https://user-images.g

[2022-11-15 18:36] Mamaduka commented on #45713
Was anyone able to reproduce this issue?

The themes can [opt-out the base layout styles](https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-support/#disabling-base-layout-styles). I wonder if this is the case with the reports.

Cc @andrewserong

[2022-11-15 19:03] annezazu commented on #33094
### November 15th Update

As a reminder, here's what each symbol means. The numbers in parentheses show the change week over week.

☑️ = work has completed - 4 (no change)
🟢 = means dev work is underway - 15 (+2)
🟡 🖌️ = means we’re in the design stage still - 0 (-1)
🟡 💻 = means a dev is assigned but hasn’t started or work hasn't continued in 14+ days - 4 (no change)
🔴 🖌️ = means design is blocked/

[2022-11-15 19:09] chad1008 opened #45781 "`GradientPicker` value gets cut off in block editor sidebar `Popovers`"
### Description

When using an `AnglePickerControl` to adjust a value like the angle of a gradient, the value displayed for the current angle gets cut off if it's more than two digits long, when you'd expect the entire numerical value to remain visible.

This isn't reproducible in Storybook when viewing `GraidentPicker` directly - it appears to be a result of the padding applied by the clock edito

[2022-11-15 19:36] jffng commented on #45271
This is exciting and I think most of this looks great.

I understand there is meaningful precedence to the idea of font pairings, but it's giving me some pause for the initial iteration of managing fonts. To make sure I understand the intention of the pairings — does this mean that only one "set" can be active at a time? Or that one set is the default, and if there are more fonts, they are still a

[2022-11-15 19:39] donnapep commented on #35480
Noting here that this is also an issue when you're trying to update the color of the icons in a style variation. Although `iconColor` is set to `primary`, the color doesn't update because `iconColorValue` is fixed.

[2022-11-15 19:43] georgeh commented on #45669
I'm not sure how best to represent this in `toc.json`. The current format is an array of objects, where the key is a Markdown file and the value is an array of more objects in the same format. `docs/tool/manifest.js` uses that to build `manifest.json` by looking for a Markdown H1 for the title.

My first thought is that there should be a reserved key `__meta` to set extra metadata about the file,

[2022-11-15 20:07] chairmanbrando commented on #45713
@Mamaduka That wasn't added until v6.1, and the original Trac thread came about because upgrading *to* v6.1 caused the issue. In my case, I didn't get `.is-layout-flex` because I'd removed `wp_enqueue_global_styles()` from `wp_enqueue_scripts`. My theme wasn't using `theme.json`, and up until v6.1 these "global" styles were seemingly generated from it -- or a bunch of unnecessary default colors an

[2022-11-15 20:40] linwoodlana opened #45783 "Block add browser extension blocks - wp block social links"
### Description

I think that would be good to acknowledge that Social links block -  get blocked when using browser extension “Adblock Plus”. Social icons/links do not show in frontend and in backend block can't be added!
I did not test with other ad blockers, so I don't know if it only happens with  “Adblock Plus”.

### Step-by-step reproduction instructions

1

### Screenshots, screen recording

[2022-11-15 22:05] jhned opened #45786 "Cover block: filtering in text color support sets color inline style instead of color CSS class in editor"
### Description

I'm filtering in support for Text Color on the Cover block. I can see the Text Color control, and the Text Color CSS class is applied on save. In the Editor, instead of a Text Color CSS class, I'm seeing an inline style applied.

I would have expected that the Editor would use the Text Color CSS class as well. As it is, I can't easily override the text color for the `.wp-block-cov

[2022-11-15 22:55] shoelaced commented on #25188
Trying this and I'm getting messages like `Skipping "./index.js" listed in "C:/path/to/plugin/src/block-a/block.json". File is located outside of the "src" directory` and `No entry file discovered in the "src" directory` when trying to re-structure the folders as @ryanwelcher mentioned. Has this functionality changed? I'm on Windows, could there be something breaking [#38781](https://github.com/Wo

[2022-11-15 23:21] iamtakashi opened #45788 "Site Logo: The placeholder stretches if the size is a non-default value"
### Description

The stretched placeholder is unpleasant, and it should scale to the size specified in the markup.

**Context:**
Let's say there is a header pattern with a site logo that is 100x100 px. When this pattern is added to a site that has no site logo, the placeholder stretches like the below.

![Screenshot 2022-11-15 at 23 03 04](https://user-images.githubusercontent.com/908665/202043206

[2022-11-15 23:36] polarstoat commented on #44242
The parent theme I'm using ([wpengine/frost](https://github.com/wpengine/frost)) loads a custom font family in `settings.typography` and applies it to the body in `styles.typography`. It behaves exactly as expected when not being used as a parent theme. I've checked, and there's definitely no user-level global styles in place that could be interfering too.

Through progressive downgrades until the

[2022-11-15 23:59] mpkelly commented on #45774
I am going to start this. You can assign this issue to me if you like (I can't do that myself).

[2022-11-16 00:00] ramonjd commented on #43433
Resolved by https://github.com/WordPress/gutenberg/pull/43496

[2022-11-16 00:00] #43433 closed, assigned to ramonjd

[2022-11-16 00:20] polarstoat opened #45790 "Font families not properly being added to `global-styles-inline-css` of child theme"
### Description

Font families declared in a parent theme's `settings.typography.fontFamilies` are not properly added to the `global-styles-inline-css` style block of a child theme. Custom font face declarations are loaded, but without respecting the specified slug - see #44242.

Through downgrading my particular setup until the issue is no longer present (as a few months ago I was not experiencin

[2022-11-16 00:22] polarstoat commented on #45790
Deleting theme.json, or replacing its contents with `{}` also allows the font families to be loaded properly,

[2022-11-16 01:02] andrewserong commented on #45713
Thanks for the ping. I haven't been able to reproduce the issue outside of dequeuing the global styles stylesheet.

The PR that introduced the change to where layout styles are output was https://github.com/WordPress/gutenberg/pull/40875. Prior to that PR, all layout styles were output at render time for each individual block, which resulted in duplicate and redundant styles (this issue: https://g

[2022-11-16 01:05] seothemes opened #45791 "Navigation block stuck on loading and importing classic menus"
### Description

This is only happening on the one site and is hard to reproduce.

Each time a menu is selected, WP imports a new nav menu and shows the notice "Classic menu imported successfully". After this, the menu cannot be selected or saved and it gets stuck loading.

When clicking **Manage Menus** and going to the Navigation Menus page, there are thousands of nav menus imported:

<img width

[2022-11-16 01:35] shoelaced opened #45792 "JS/CSS not compiling with multiple blocks in `create-block` when created in a symlinked directory."
### Description

If using `@wordpress/create-block` to create a new plugin with multiple blocks within a directory that is a symlink, the JS/CSS does not compile if the commands are run from within the symlink, rather than from within the original target directory. After investigating, I found that this was because in `@wordpress > scripts > utils > config.js` on line 236, there is this:

`if ( !

[2022-11-16 01:37] shoelaced commented on #25188
Nevermind, I've figured it out and created an issue: #45792

[2022-11-16 02:01] iamleese commented on #45792
What does your entire src file structure look like?

[2022-11-16 02:57] antpb commented on #45576
Thanks for taking a look. I'm not sure how, but after switching hosting (previously it was on a Digital Ocean droplet) the issue stopped happening. I'm not sure if there was some caching happening but it might be a case we want to cover as this was their recommended configuration for WordPress.

I have another site on the same configuration that I will test against and report back. If I can't repr

[2022-11-16 03:00] antpb commented on #45576
Yeah it must have been in a very strange stuck state that worked after migrating servers. Tried on another site with the same configuration and no luck reproducing. If I see it again I'll dig deeper and see if I can give better reproduction steps.

Closing for now as not even I can reproduce it now. :(

[2022-11-16 03:00] #45576 closed, assigned to nobody

[2022-11-16 03:45] maurisrx opened #45793 "ColorPalette doesn't respect `clearable` prop value in WP 6.1.1"
### Description

In WP 6.1.1, whether the `clearable` prop is set to `true` or `false` the clear button doesn't appear below the color placeholder like it used to until WP 6.1.

### Step-by-step reproduction instructions

This code should generate the problematic component:
[code]

### Screenshots, screen recording, code snippet

In WP 6.1:
https://monosnap.com/file/XThzj4mvmUqKW1ePK0dRqwB6zIYKcj

[2022-11-16 04:14] andrewserong commented on #44720
Update for 2022/11/16:

* There is now a variation picker UI in the Group block placeholder state (https://github.com/WordPress/gutenberg/pull/43496)
* The minimum height block support has been merged, and is now opted-in for both the Group and Post Content blocks. There is a follow-up issue for tweaks to the UI (https://github.com/WordPress/gutenberg/issues/45501), as well as feedback that there

[2022-11-16 06:09] t-hamano commented on #45792
@shoelaced
Thanks for the report.
I think this issue is exactly the same as #44937, so let's close this issue and focus the discussion on #44937.

[2022-11-16 06:09] #45792 closed, assigned to nobody

[2022-11-16 07:56] paaljoachim commented on #30701
Thank you for sharing your explorations @aaronrobertshaw !
I added your comment to [todays core editor agenda](https://make.wordpress.org/core/2022/11/14/editor-chat-agenda-nov-16-2022/#comment-44089) to give it more exposure.
I am wondering if @tellthemachines Isabel might have some additional comments to add to this issue.
I also went ahead and added the label "Needs Technical Feedback".

[2022-11-16 08:13] afercia commented on #45778
Thanks for reporting. My bad, this regressed in https://github.com/WordPress/gutenberg/pull/45369.

As @jffng mentioned in https://github.com/WordPress/gutenberg/pull/45369#discussion_r1023112262 I think it can be fixed. Basically, the content area is a flex item (and also a flex container). Being a flex item, it needs its parent to be a flex container. After #45369, there's now a new parent eleme

[2022-11-16 08:20] Mamaduka commented on #30142
I can start working on this probably next week.

@jasmussen, one question regarding the mockups. What options should be available in the "Ellipsis" dropdown?

[2022-11-16 08:36] jasmussen commented on #30142
Good question, sorry that wasn't clear. It was my slipstreamed visual response to Matías comment [here](https://github.com/WordPress/gutenberg/issues/30142#issuecomment-1297009676):

So the ellipsis menu would be where to put preprocessing toggles or anything that comes up during implementation. I would also think it fine to omit it, if not in general if nothing comes to mind, then at least for th

[2022-11-16 08:45] Mamaduka commented on #30142
Makes sense. Thank you, @jasmussen!

[2022-11-16 08:54] afercia commented on #45778
Submitted a ~dix~ fix in https://github.com/WordPress/gutenberg/pull/45799.
Sorry for the inconvenience :)

[2022-11-16 09:12] jasmussen commented on #45271
Those are good thoughts, thanks for sharing.

In terms of font pairings, I think it makes sense mainly for headings (primary) and _everything else_ (secondary), so we can provide some smart defaults that allows minimal customization required for users. For example, I would expect all the following blocks to have their font updated when changing the primary font:

* Heading
* Site title
* Post Titl

[2022-11-16 09:42] #45778 closed, assigned to afercia

[2022-11-16 09:45] straightvisions-matthias-bathke commented on #38299
_Tested and can confirm that this works now._

**Update**
Unfortunately, "duotone":null results in
`javascript error "TypeError: Cannot reat properties of null (reading 'default') in react-dom.min.js`
on Site Editor

![image](https://user-images.githubusercontent.com/4689792/202465039-77f2ed3d-b9ad-44c8-ac5a-095693a4f7ec.png)

[2022-11-16 10:12] jasmussen commented on #44651
Based on explorations, I have some new concepts to share, that should hopefully be simpler for the first version.

I would imagine we could start with a preset-first design:

<img width="3402" alt="Managing drop shadows in Global Styles" src="https://user-images.githubusercontent.com/1204802/202151051-9b27647d-0391-4bdf-bfa9-3afe1bdb20ca.png">

* Structure remains the same: Border & Shadow → Block

[2022-11-16 11:14] jameskoster commented on #44651
This seems to work well. We could even double-down further on the presets, and save the user a click by surfacing them in the + menu:

<img width="1904" alt="shadow" src="https://user-images.githubusercontent.com/846565/202165016-01f21506-3d5d-4d21-a9d3-6833a2868099.png">

This may work best with a dedicated section, similar to Figma's "Effects" panel. Perhaps that's worth considering if we intend

[2022-11-16 11:18] draganescu commented on #42257
@SaxonF @mtias @javierarce  are we set on that "edit menu" button in the navigation block's toolbar? I ask because:

- that action is replicating More menu > Show more settings
- the action does not do what it says (no editing is happening)
- did we decide the menu is read only in the canvas? If no, why would we have an edit menu button?
- it's a poor fit for the block toolbar in this shape, becau

[2022-11-16 11:41] draganescu commented on #42257
@jasmussen @SaxonF given the progress in #[45785](https://github.com/WordPress/gutenberg/pull/45785) do we want the manage menus thing to move _out of the advanced area_ and into the menu selector? I ask because:

- I believe the goal was to de-prioritize that action, as it really is an advanced situation
- The manage menus action _was_ in the menu selector when the selector was in the block toolb

[2022-11-16 12:17] aristath commented on #34641
I agree 100% that intrinsic design is the way forward...
We live in a world where the consumer device can be anything from a 1-inch smartwatch, up to a 100-inch smart-TV. "pixel-perfect" no longer works because a "pixel" no longer makes sense when the devices vary so much. It's too limited and extremely fragile.
It's time we move towards pixel-agnostic design principles, making things easier for e

[2022-11-16 12:22] shoelaced commented on #45792
Ah, sorry somehow I didn't find that report before. Cheers, hope it gets resolved. 👍

[2022-11-16 12:25] mtias commented on #45723
Yep! Closing as duplicate of #37930

[2022-11-16 12:25] #45723 closed, assigned to nobody

[2022-11-16 12:30] jasmussen commented on #44651
Nice, I can see further simplification work. Though I abandoned the idea of showing a shadow preset in that small 20x20 area in the ItemGroup, it simply didn't have space enough to be legible at that size, and there's a preview above, after all.

I'm not sure about the unlink, though: what what would the main action of the ItemGroup be?

[2022-11-16 12:36] RadND opened #45804 "Docs: Missing link to SVG primitive"
### Description

This issue should have a [Type] Developer Documentation label

The link is at https://developer.wordpress.org/block-editor/reference-guides/block-api/block-registration/#icon-optional -> wp.primitives.SVG component

I don't know if the original content of /src/svg/(https://developer.wordpress.org/block-editor/reference-guide/packages/packages-primitives/src/svg/) is still at somew

[2022-11-16 12:38] mtias commented on #44420
Approaching it from a demo post perspective makes sense to me, though I'd also consider it being a virtual page using the `example` definition from blocks.

[2022-11-16 12:41] paaljoachim commented on #44651
This looks really good!

[2022-11-16 12:48] fabiankaegy commented on #44420
I love the idea of this and it would be very useful for thinks like VRT testing and also client demos where they have one "Kitchensynk" that contains everything that is available to them.

I really liked the [blockbook](https://github.com/youknowriad/blockbook/) exploration @youknowriad did a few years ago. Especially the concept of ["Block Stories"](https://github.com/youknowriad/blockbook/blob/m

[2022-11-16 13:05] paaljoachim opened #45805 "Table block: Show shortcuts in Edit table drop down"
## What problem does this address?

I do not know how to add a table row with using the keyboard. It would be helpful to add the shortcuts directly into each line of the Edit table drop down options, making it possible to quickly add a new row or column.

![Screenshot 2022-11-16 at 13 04 20](https://user-images.githubusercontent.com/5323259/202185154-071d73f9-7c70-4e00-985b-25df93c98c0a.jpg)

## W

[2022-11-16 13:06] fluiddot commented on #38407
No updates this week as we are fully focusing on `🔎 Main focus` projects.

[2022-11-16 13:06] jameskoster commented on #44651
I suppose an alternative would be a remove/delete action. But then you couldn't create a custom shadow from a preset base.

Do you mean what happens on click? One option would be to just open the shadow menu:

<img width="223" alt="Screenshot 2022-11-16 at 13 05 45" src="https://user-images.githubusercontent.com/846565/202188409-881b628e-e460-4e3a-8dea-e75c4ac397ae.png">

[2022-11-16 13:24] afercia opened #45809 "Improve the Scrollable component accessibility"
### Description

Browsers have different native behaviors when it comes to elements made scrollable with CSS overflow:
- Firefox: the scrollable element is focusable.
- Webkit-based browsers (Chrome, Safari, Opera, etc.): the scrollable element is _not_ focusable.

For keyboard users, it is essential to be able to scroll a scrollable element to see all its content. When the element contains focusa

[2022-11-16 13:34] afercia commented on #45809
One more thing: if the Scrollable element is made focusable, there will be the need to check if and how that may impact the `focus.focusable` and `focus.tabbable` DOM utilities from the `@wordpress/dom` package.

[2022-11-16 13:38] javierarce commented on #44420
@annezazu I've been a bit busy with other things lately, but I'll take a stab at this. Thanks for the ping.

[2022-11-16 13:40] afercia commented on #41500
Noting that in https://github.com/WordPress/gutenberg/issues/45809 I'm proposing to improve the accessibility of the `Scrollable` component. That could be re-used for most of the instances where there's a need for scrollable elements.

[2022-11-16 14:05] jorgefilipecosta commented on #33094
Regarding https://github.com/WordPress/gutenberg/pull/44788 ( Move document information and outline to list view panel ) the follow ups were merged and all the feedback was addressed nothing is pending that I am aware of.

[2022-11-16 14:12] ciampo commented on #45777
We could also rewrite the source components being tested to use `code` or `key` instead, since `keyCode` is effectively deprecated.

We'd just need to be careful with IME composition (see https://github.com/WordPress/gutenberg/issues/45605)

[2022-11-16 14:22] ddryo opened #45810 "CSS for .wp-block-text-columns, which should not be needed, is still there."
### Description

Some CSS for `.wp-block-text-columns` remains in the file `/wp-includes/css/dist/block-library/style.css`.

<img width="558" alt="スクリーンショット 2022-11-16 23 20 32" src="https://user-images.githubusercontent.com/31400297/202205157-1ded75d5-2222-492a-8f46-d5a80e054eeb.png">

### Step-by-step reproduction instructions

1. See `/wp-includes/css/dist/block-library/style.css`.

### Screens

[2022-11-16 14:33] bgardner opened #45811 "Parent theme not recognized when child theme active"
### Description

When a child theme is active, the parent theme is not being recognized—and therefore not loading the parent's theme.json file, etc. This is only happening when Gutenberg plugin is active.

Conversation around this happening in WP Slack #meta channel: https://wordpress.slack.com/archives/C02QB8GMM/p1668569269811889

I first noticed this when I had my Powder News (a child theme) app

[2022-11-16 15:14] jffng commented on #45778
@afercia thanks for the quick follow up!

[2022-11-16 15:26] XanderCalvert opened #45812 "LinkControl in Components panel"
### Description

When using <LinkControl> in the sidebar it overflows and causes horizontal scrolling because of the width is being set as if it would be used in a modal and not for this use case.

### Step-by-step reproduction instructions

1. Add LinkControl to the sidebar in a block.
2. See how it causes it to scroll.

I have included a stripped down block, leaving the imports at the top in cas

[2022-11-16 15:30] scruffian commented on #45447
This should be covered by https://github.com/WordPress/gutenberg/pull/45483

[2022-11-16 15:32] ndiego commented on #45811
I have confirmed this with a simple TT3 child theme as well. Some theme.json styles from the parent seem to be coming through, but not all. Notably fonts.

[2022-11-16 15:43] XanderCalvert commented on #45812
Created a PR with the solution I have created for this Issue

[2022-11-16 16:03] getdave commented on #45439
# Info

- `packages/block-editor/src/components/block-inspector/index.js` is the component for the sidebar
- [Navigator component for nested views](https://wordpress.github.io/gutenberg/?path=/docs/components-experimental-navigator--default)
- [prior art](https://github.com/WordPress/gutenberg/pull/43037/commits/4ef07e9c11bb2220b0b18d6534f207429f3b19bf#diff-068538657061c47f0a58cfc331259bbeabe11bcc

[2022-11-16 16:28] richtabor commented on #44651
I like the idea of presets as well — we use them for font sizes, spacing, colors... may as well for shadows. Any reason why we wouldn't reuse the existing stepped range control pattern? And if the icon is pressed, you see a detailed edit view of that preset — basically like how border controls work.

And second, if we wanted to merge some of these panels, we could package them as tool belt items i

[2022-11-16 17:08] tohmjudson commented on #41500
@afercia Great plan! #45809 is definitely the right approach. I think you are right that this bug might be best corrected using the updated Scrollable component.

[2022-11-16 17:29] tohmjudson commented on #45809
This is a great plan and definitely needed. I agree with your statement about the `role="region"` and `aria-label` usage. I find silent tab stops mildly disconcerting, particularly in a workspace/editing environment or when focus has shifted, like in the keyboard shortcut modal.

[2022-11-16 17:34] anton-vlasenko opened #45817 "PHP code should not throw any `WordPress.NamingConventions.PrefixAllGlobals` type linter errors"
## What problem does this address?
There is an effort to make Gutenberg compatible with extended WordPress code style standards - `WordPress-Extra`, thus easing the backporting process.

Currently, Gutenberg's PHP code is not up to these strict standards.
This issue is created to fix code style errors that prevent enabling the `WordPress.NamingConventions.PrefixAllGlobals` linter rule.
Please see

[2022-11-16 18:21] gilsonviana commented on #12684
+1 ✨

[2022-11-16 18:28] polarstoat commented on #45811
This sounds like it's related or similar to #45790 that I reported too

[2022-11-16 18:52] ciampo opened #45824 "Snackbar: misc improvements"
Following up from #45472

 - [ ] `SnackbarList` is not very well-documented (it doesn't even have a README) and prior to this PR, didn't have Storybook examples either. We should re-organize the folder structure, improve the docs and come up with a better Storybook strategy (e.g. use subcomponents and merge `Snackbar` and `SnackbarList` in the same file)
 - [x] We should  refactor the `Notice` com

[2022-11-16 19:12] annezazu commented on #45811
cc @jffng in case you might have any insight here.

[2022-11-16 19:19] bgardner commented on #45811
Yeah, there's a lot of weird happening here. On my Powder News demo, it seems to be more of a font-only issue, yet the WP org theme preview demo, it's all of theme.json.

[2022-11-16 19:43] bph commented on #45812
Thank you @XanderCalvert for creating the PR #45813

[2022-11-16 19:52] bph commented on #45804
Thank you, @RadND, for flagging this! I confirmed the link is going 404

The information is available on this page in the repo
https://github.com/WordPress/gutenberg/blob/trunk/packages/primitives/src/svg/README.md

And on the documentation site is available, too
https://developer.wordpress.org/block-editor/reference-guides/packages/packages-primitives/#usage

[2022-11-16 19:56] bgardner commented on #45811
I don't know if this is helpful, but for some reason when Gutenberg plugin is activate, the font in global styles is reverted to "Default" and when Outfit is selected, it appears to work as expected. (Though Monospace isn't listed as a font choice when plugin is active.) Watch the video below to see what is happening:

https://user-images.githubusercontent.com/486261/202281181-562d2404-5ec3-4d8e-a

[2022-11-16 20:46] faelv opened #45825 "A block's save function doesn't work when using text or html in attribute's source property"
### Description

I'm trying to create a simple gutenberg block to render a heading following the guides from here https://developer.wordpress.org/block-editor/how-to-guides/block-tutorial/writing-your-first-block-type/ and here https://developer.wordpress.org/block-editor/reference-guides/block-api/block-edit-save/ and also the gutenpride sample plugin but when setting an attribute source to _text

[2022-11-16 20:46] danielbachhuber opened #45826 "Row Block: Add support for centering the middle item when the left and right are unequal"
## What problem does this address?

I recently recreated my brochure site using the Site Editor. On the original site, my 'Hand Built' site title was centered, even though the left and right items were unequal in size:

![image](https://user-images.githubusercontent.com/36432/202288517-8697e0c5-8a3d-482d-9782-afdc65345df4.png)

Using the Row Block with 'Space Between Items', the 'Hand Built' site

[2022-11-16 21:00] r-interactive opened #45827 "Block Gap value disappears if spacingScale steps set to 0"
### Description

I want to disable spacingScale, but doing this creates an issue. I believe it started on WordPress version 6.1. I have block gap set to true, and 'spacingScale' > 'steps' set to 0. in the theme.json file.
In the block editor page, every time I input a value to the block gap/spacing field, the value disappears.
Screenshot here: https://snipboard.io/GjqWS5.jpg
I think this is a core

[2022-11-16 21:01] faelv commented on #45825
Inside the **save** function you should use `useBlockProps.save()` instead of just `useBlockProps()`. My fault.

[2022-11-16 21:01] #45825 closed, assigned to nobody

[2022-11-16 21:37] coreyworrell commented on #45608
@getdave sure, just created a pull request #45829

[2022-11-16 21:44] getdave commented on #35503
I'm curious about any next steps here. @tyxla is there anything specific that needs to be addressed or is it ongoing work spanning across WP releases?

[2022-11-16 21:50] glendaviesnz commented on #44659
@scruffian It looks like this is still an issue with some themes unless the block content is resaved in the editor https://core.trac.wordpress.org/ticket/57126#comment:2

[2022-11-16 22:01] annezazu opened #45830 "Improving the List block with cosmetic list types"
Pulled from this prior issue around improving the overall list block https://github.com/WordPress/gutenberg/issues/17738#issuecomment-1304652567 this issue is specifically for cosmetic list types, like checks, stars, pins, emojis, etc. Specifically quoting @druxstr:

Let's continue the conversation here to better focus each for consideration.

[2022-11-16 22:01] annezazu commented on #17738
Changed the title of this issue and created a new one for cosmetic list types to better split things out: https://github.com/WordPress/gutenberg/issues/45830

[2022-11-16 22:20] jomurgel commented on #45757
@ndiego In tests I was never able to get this to pop, though I wouldn't have waited a minute or longer. That is too much time given that I, as a user, could still edit and save content. The classic editor always shows within 15 seconds or less which is what I would expect from the block editor as well.

[2022-11-16 22:53] seothemes commented on #45791
Deleting all of the nav menus from the db seemed to fix this. Not sure how so many were imported initially. Maybe a check is needed

[2022-11-16 23:26] annezazu commented on #45765
Hey there! I'm not clear what this issue is about exactly. Can you provide more context, including what problem it's solving, how you'd like to extend things, etc? Is this about the navigation component within the Site editor?

[2022-11-16 23:27] annezazu commented on #45790
cc @jffng once more (hope that's okay!).

[2022-11-17 00:09] spacedmonkey commented on #45171
Created a new PR #45831

[2022-11-17 03:21] ramonjd commented on #44420
I hacked something together using example content in packages/edit-site/src/components/block-editor/index.js, just to explore possibilities.

https://user-images.githubusercontent.com/6458278/202622257-8f2824bc-bdd8-4c48-9832-f8cb7becaf65.mp4

It temporarily replaces the blocks value in `BlockEditorProvider`

It assumes there's a better UI control somewhere to "toggle" example preview on. 😄

Code

[2022-11-17 05:28] ts-mz opened #45834 "Image Block: alignleft/alignright don't respect content width setting with theme.json in theme folder"
### Description

As soon as a theme.json file, regardless of the content, is present in the theme directory (hybrid theme/_s based) most editor defaults will no longer be applied to the editor (typography/width, etc), regardless of whether the respective settings are changed in the theme.json file.

This doesn't seem intuitive (and wasn't the case in previous tests I ran, I think), but there appea

[2022-11-17 05:42] shimotmk commented on #44659
Yes, I have.
Some styles were added in this branch, but we forgot to add `&:hover,&:focus,&:active,&:visited` etc. https://github.com/WordPress/gutenberg/pull/44334

[2022-11-17 06:15] dansdev opened #45836 "Multisite no featured image"
### Description

Hi there,

Sorry I'm unsure if this should be directed at Gutenberg or core. I have an issue/bug with the featured image meta box on a multisite installation in pages and posts.

Adding theme support for post-thumbnails in functions.php
`add_action( 'after_setup_theme', 'theme_init' );
function theme_init() {
    add_theme_support('post-thumbnails');
}
`
After enabling theme suppo

[2022-11-17 06:55] talldan commented on #45791
@seothemes Could I ask for some more info?

The screencap shows you clicking an option under 'Import Classic Menu', which will create a new menu. After you've created that menu, what happens? Do you then click to import the menu again? Or is there a bug that continually creates menus without you selecting anything?

Because of the way the gifs loop I have some trouble seeing where they start and e

[2022-11-17 07:34] annezazu commented on #43039
@ehti just seeing this and wanted to flag for you.

[2022-11-17 07:51] #40204 closed, assigned to aaronrobertshaw

[2022-11-17 08:04] viralsampat-multidots opened #45837 "Search placeholder not displaying on front-end"
### Description

While working with the Twenty Twenty-Three theme, I have checked that the Search block is look weired

The search block placeholder is displaying on back-end. But, its not working on front-end and not displaying.

Here, I have attached its screenshots.

### Step-by-step reproduction instructions

1. Install latest wordpress(6.1.1)
2. Create new page and select search gutenberg blo

[2022-11-17 08:17] #45608 closed, assigned to draganescu, getdave

[2022-11-17 08:38] jasmussen commented on #44651
I tend to think we should stick to the pattern of ItemGroups opening flyout menus, and since there's a preview in the canvas for the post editor, and in the top right of the inspector for global styles, the simple shadow icon feels like a better starting point to me. But perhaps we can follow the PR and see what feels right as we move closer?

Not sure I understand. Do you mean something like this

[2022-11-17 08:46] akasunil commented on #42286
do you think it because of this command in [package.json](https://github.com/WordPress/gutenberg/blob/trunk/package.json)
`"pretest:unit:php": "wp-env start",`

It is stated that we have pass Xdebug argument along with env command as below. But when we execute **npm run test:unit:php** command, docker env command executed without xdebug arguments.

`npm run wp-env start -- --xdebug=develop,coverag

[2022-11-17 09:18] jasmussen commented on #42257
I left some feedback on the "manage menus" in https://github.com/WordPress/gutenberg/pull/45785#issuecomment-1318324861, but also noted that it's not a strong opinion. Exactly for the reason you mention, the feature should not have prominence, they key bit here not being a blue link in the main panel.

[2022-11-17 09:43] draganescu commented on #33273
Closed by #45773

[2022-11-17 09:43] #33273 closed, assigned to nobody

[2022-11-17 09:53] tyxla commented on #35503
Thanks for asking @getdave - as mentioned [here](https://github.com/WordPress/gutenberg/pull/42525#issuecomment-1259286862) this experiment has been blocked by the React 18 upgrade that we're working on in https://github.com/WordPress/gutenberg/pull/45235. Once we've upgraded, we'd like to try with `startTransition` / `useTransition` and we're hoping it would solve the problems we're having, unblo

[2022-11-17 09:55] carolinan commented on #45837
I will add the same reply here as in the original trac ticket. The placeholder is optional, the text is not intended to show on the front unless the user adds a custom text.

[2022-11-17 09:59] dsas opened #45841 "Move the unwrap transform some container blocks have"
## What problem does this address?
Columns, quotes and groups all have an 'unwrap' transform which removes the block, replacing it with the contained content. Unwrap isn't really a transform in the sense that the other transforms are and is perhaps a bit unclear. Unwrap is closer to ungroup which lives in the ellipses menu.

See https://github.com/WordPress/gutenberg/pull/45666#issuecomment-131767

[2022-11-17 10:17] Humanify-nl opened #45842 "Featured image block has no size selector in Site Editor"
### Description

Recently I was happy to find that the featured image can finally be supplied with a preset image size.

However, this is only possible in the page-editor views, and not in the site / template editor. This defeats the whole purpose of setting featured image sizes for templates.

This is a major gripe as a featured image is probably the most-used block for singles, and having to res

[2022-11-17 10:51] getdave commented on #35503
Thanks for the update. I was curious from a Phase 2 perspective (i'm doing some research) as to whether this was still WIP. Looking forward to seeing the improvements 🤞

[2022-11-17 11:44] tatof opened #45845 "core/list enter to next row broken in editor"
### Description

When I filter the "core/list" as an allowed_block_type the list doesn't work like it suppose to anymore. The list is displayed in gutenberg editor but I can't press enter to go to the next row. Selecting a new List **is** possible.

When I disable all "allowed_block_type" rules the lists work fine.

See this video for a demo: https://devtof.nl/listvid.mp4

### Step-by-step reprodu

[2022-11-17 11:52] tatof commented on #45845
ps. same problem occurs with the not deprecated function "allowed_block_types_all"

[code]

[2022-11-17 11:57] t-hamano commented on #45845
I think it would work well if we allow `core/list-item` in addition to `core/list`. This is because, starting with WordPress 6.1 (and the latest Gutenberg), list items are blocks.

[2022-11-17 11:58] tatof commented on #45845
@t-hamano LEGEND! thank you for this.

allow -> core/list-item is the fix.

[2022-11-17 11:58] #45845 closed, assigned to nobody

[2022-11-17 12:07] t-hamano commented on #45381
@devanshijoshi9
Thanks for your interest in this issue. I know @sharukhkhanajm is trying to solve this problem, but if you can work on this problem, PR is welcome.

[2022-11-17 12:18] anarieldesign commented on #45438
@getdave is it possible to add something to .xml file to make this work for multisite?

[2022-11-17 12:18] tomektomczuk opened #45846 "filter hook for dynamic blocks doesn't add new attributes to the frontend"
### Description

I have a hook that add extra data attributes to some of my allowed blocks. The problems is the data attributes are not showing on the frontend for post-title block. In the editor everything is fine but not on the save function. I'm assuming that this hooks will not work for save function that is created dynamically (for example core/post-title).

There is also no instruction here

[2022-11-17 12:22] Humanify-nl opened #45848 "Row vertical alignment breaks when in column"
### Description

The row-block vertical alignment settings do nothing when the row is placed inside a column.

### Step-by-step reproduction instructions

1. Add a columns block with 2 columns (in my case this lives inside a fullwidth group block with layout constrained).
2. Place a row inside. In that row, add a paragraph (with one word), click +, add heading h1 (with one word).
3. The row now ha

[2022-11-17 12:31] t-hamano commented on #45732
I have tested it and I think it is indeed reproducible.

shortcode function:

[code]

Query Monitor result:

![shortcode](https://user-images.githubusercontent.com/54422211/202447027-33ecbc34-9f4b-4a51-a99e-516b758ba4d7.png)

[2022-11-17 13:18] getdave commented on #45438
@anarieldesign I'm not very familiar with the XML export / import features or the way the data is handled for multi-site.

I've tagged for triage so @ndiego and team will take a look and see who might be able to help out with this one.

[2022-11-17 13:45] danielbachhuber opened #45854 "Site Title Block: Add a toolbar shortcut to italicize the text"
## What problem does this address?

I recently recreated my brochure site using the Site Editor. On the original site, my 'Hand Built' site title was italicized:

![image](https://user-images.githubusercontent.com/36432/202288517-8697e0c5-8a3d-482d-9782-afdc65345df4.png)

Because it looks like rich text, I expected to be able to italicize my site title from the contextual toolbar. I eventually fig

[2022-11-17 14:12] krokodok opened #45855 "Pagination numbers block: Make "mid_size" parameter settable"
## What problem does this address?
Currently the pagination numbers block offers no way to set the `mid_size` parameter. Thus always the default value of 2 is used.

[code]
https://github.com/WordPress/gutenberg/blob/7ec665c6046ef6fbe326a3f71e872b2b332b32f5/packages/block-library/src/query-pagination-numbers/index.php#L41

## What is your proposed solution?
Please make the parameter settable with

[2022-11-17 14:41] ricjcs opened #45856 "Gallery Block: Add option to choose the number of columns on the phone"
Currently the gallery images are displayed on the mobile in two columns.

I'd like to have more control over the number of columns to show. In some cases, a gallery with 3 or even 4 columns looks great on the phone.

Also on desktop, if it were possible even at least 10 or 11 columns would be great.

[2022-11-17 14:47] richtabor opened #45857 "Add the new caption block toolbar control to the gallery block"
## What problem does this address?
The core/image block already has the new caption UX, which reduces unnecessary block movement when selecting - allowing for the caption RichText component to display, if the block toolbar control is toggled. The core/gallery block still behaves the old way and could use that same enhancement.

## What is your proposed solution?

We should bring that same UX to th

[2022-11-17 15:04] richtabor commented on #44899
Yea I agree that we should add block gap/spacing to the post template block, instead of the query loop itself (simply because there are so many controls already a part of the query loop).

One can change the gutters in the gallery/columns blocks, but not here — making for inconsistent full page designs when adding a grid of blog posts to the page.

Although, for some reason, there's a typography f

[2022-11-17 15:12] bobbingwide commented on #45732
The _problem_ can be confirmed without any plugins, not even Gutenberg.

1. Create a new post and add a shortcode such as `[caption]This is the caption[/caption]`
2. Open the inspector and look at the Network tab
3. Check the Preview or Response for the REST request to autosave/ save/ update post ID _nn_ eg `wp-json/wp/v2/posts/nn`
4. Look at `content.raw` and `content.rendered`.
5. You'll see tha

[2022-11-17 15:14] dsas opened #45858 "Restrict bundled footer/header patterns to template/template parts"
## What problem does this address?

The pattern inserter has several categories which each need expanding to explore. I think the list of categories could be slimmed down. I'm not certain that some of these categories make sense when creating a post and possibly page. Header and Footer are perhaps the obvious candidates, they feel like theme-level patterns not post-level patterns.

![image](https:

[2022-11-17 15:14] alekstrust commented on #13282
I'm on Wordpress 6.1.1 and this issue is still present.

[2022-11-17 15:19] bobbingwide commented on #45732
I  used my oik-bwtrace plugin to run some ad-hoc tracing against `the_content`.
Attached hooks:
[code]

backtrace
[code]

[2022-11-17 15:21] richtabor opened #45859 "Patterns with page post type do not render within the Site Editor"
## What problem does this address?
I'd expect that full page patterns, that are designed for pages — not necessarily posts, products, or any other custom post type (CPT), would be available within the Site Editor, to drop within templates.

Currently any pattern that declares a post type is ignored by the Site Editor, which is fine for most CPTs, but for pages - it means that full designs cannot b

[2022-11-17 15:23] richtabor commented on #45858
I agree with posts 100%, but for pages - I've seen plenty of use cases where publishers are leveraging the "Blank" template, and creating whole landing page designs (header + content + footer) that are abstracted from the rest of the site.

[2022-11-17 15:23] richtabor commented on #45858
Perhaps Headers/Footers should be allowed on page post types only?

[2022-11-17 15:26] bobbingwide commented on #45732
The simplest test to demonstrate `the_content` is being run is to create a post containing `Wordpress`

The rendered content will have a capital P in `WordPress`.

[2022-11-17 15:34] richtabor commented on #34757
Dropping a note that this would be pretty useful in improving the query block.

[2022-11-17 16:07] getdave commented on #38275
## Update 17th Nov 2022

The priorities for WordPress 6.2 (and Gutenberg "Phase 2") are being managed over at https://github.com/WordPress/gutenberg/issues/41549. Further updates for 6.2 will be posted there.

[This Issue](https://github.com/WordPress/gutenberg/issues/38275) will remain canonical for the _overall_ project tracking.

As mentioned the priorities for contributors is working on improv

[2022-11-17 16:08] getdave commented on #41549
## Update 17th November 2022

I posted an [update on the Tracking Issue](https://github.com/WordPress/gutenberg/issues/38275#issuecomment-1318862277) to alert folks that progress for 6.2 will be tracked on _this_ Issue. Read that update for details on progress.

Future updates on 6.2 progress will appear here.

[2022-11-17 16:08] artemiomorales commented on #43586
So I was speaking with @mtias about this issue, and we think that giving users the option to modify this style globally would probably be the best move. However, global block styles are not something that have been implemented on the dev side yet.

On the design side, there has been some initial exploration on what global block style variations might look like here: https://github.com/WordPress/gu

[2022-11-17 16:34] scruffian commented on #45442
This is covered by https://github.com/WordPress/gutenberg/pull/45815 for now.

[2022-11-17 17:03] fabiankaegy opened #45862 "Template Part Editor broken after updating to WordPress 6.1.1"
After updating to WordPress 6.1.1 the Block Based Template Editor is loading just a blank white screen. No console error or anything.

This issue was originally reported on the make blog https://make.wordpress.org/core/2022/10/04/block-based-template-parts-in-traditional-themes/#comment-44097

@Mamaduka was successfully able to replicate this issue and has narrowed it down to the changes that were

[2022-11-17 17:04] fabiankaegy commented on #45862
I'm not sure whether this should be tracked in trac or here in GitHub. So feel free to move over as needed.

[2022-11-17 17:07] bph commented on #45859
There is a feature that allows for the Page pattern to be loaded on Add New Page in the editor. Does that not work for you? Here is the Dev Note: [Page creation patterns in WordPress 6.0](https://make.wordpress.org/core/2022/05/03/page-creation-patterns-in-wordpress-6-0/)

Your idea would be similar so a theme developer can offer more page layout patterns for both, page editor and site editor?

[2022-11-17 17:07] fabiankaegy commented on #45862
Props: [karks88](https://github.com/karks88), [jeffmcnear](https://profiles.wordpress.org/jeffmcnear/), and [maurodf](https://profiles.wordpress.org/maurodf/) for reporting this

[2022-11-17 17:14] bystrzan commented on #13203
I still hate the pop-over buttons. I really enjoy the spectra plugin view (buttons always exists), so even jquery people could access to the dom and have fun with this component. For now it's impossible  to eg. make Advanced Custom Field Type to handle responsive mode.

[2022-11-17 17:56] mirka commented on #45781
Good catch! I think the direction we'll go is to first update the swatches to be the new 20px size (#43014), and then increase the popover width to accommodate 8 swatches in a row. This should allow more space so the AnglePickerControl fits 3 digits without overflowing.

[2022-11-17 18:09] ellatrix commented on #45408
Could we use https://developer.wordpress.org/reference/functions/get_allowed_mime_types/?

[2022-11-17 18:15] renatho commented on #22104
It seems the mentioned issues are related to capability. That error is behind [this conditional](https://github.com/WordPress/wordpress-develop/blob/6.1/src/wp-includes/class-wp-oembed-controller.php#L149-L151):
[code]

[2022-11-17 18:26] stokesman commented on #45613
It seems there’s no getting around the fact that the new feature is a greater level of locking than the existing `all` and any name is going to conflict with the concept of all. So wouldn't the fix be to surface the new feature separately and have it override `templateLock` when enabled. Something like:
`editOnlyContent: boolean`
Or maybe:
`editable = 'all': 'all' | 'content'`

If we really hate h

[2022-11-17 18:33] Mamaduka commented on #45862
Adding a simple `theme.json` file should resolve the issue for now. This is a temporary solution before shipping the fix in the next WP release.

P.S. I would recommend using the `theme.json` file for the classic themes that have this feature enabled, at least to define the layout. You find a great example by @justintadlock here - https://gutenbergtimes.com/building-a-block-based-header-template-i

[2022-11-17 18:41] fabiankaegy commented on #45862
Thanks @Mamaduka 😀

I do just want to note that adding a theme.json file comes with a few side effects that may surprise someone. For example the inner container div of the group block gets removed which can cause some issues if custom styling depended on the presence of that.

[2022-11-17 18:50] richtabor commented on #45859
That works fine and properly, but not exactly related.

My thought is that if a pattern is set to display on a Page Post Type, then it will not show up within the Site Editor (as its not that post type). I think it should be, as page patterns are useful for building out templates as well. :)

[2022-11-17 19:41] mtias commented on #35503
Yes, still very much an important part of phase 2.

[2022-11-17 19:42] bystrzan commented on #23430
Any (good) news to have a body class on toggle device state in editor?

To be clear: even newbie could make css conditionals based on body class of the editor, but for now it's impossible to target popover device toggle, as it is poprover dynamic element in dom.

[2022-11-17 19:56] ryanwelcher opened #45864 "Query Loop shows empty Filters section when no filters are enabled in variation"
### Description

When creating a Query Loop block variation, if the `allowedControls` does not contain any of the items found under the Filters section in the Inspector Sidebar, only the Filters heading appear.

### Step-by-step reproduction instructions

1. Register a block variation with a custom query and no allowedControls:

[code]

2. See that the Inspector Sidebar shows the Filters heading:

[2022-11-17 19:57] courtneyr-dev opened #45866 "Custom template for single post formats"
## What problem does this address?
If post formats are enabled on a site in WP 6.1.1, Site Editor users can create the archive template. However, there are still no block template options for single posts that are assigned a post format.
![post formats category block template](https://user-images.githubusercontent.com/5519705/202546358-d59d87fb-3eea-4c66-9cdf-f145e9b1d648.jpg)

## What is your pro

[2022-11-17 20:12] ryanwelcher opened #45867 "Query Loop block variation fails with custom query that contains perPage but not offest"
### Description

While creating a variation for the Query Loop block, I discovered that if I defined a `query` that contained `perPage` but no `offset`, that the query failed. This only seemed to be the case when I also defined the `innerBlocks`property  in my variation.

### Step-by-step reproduction instructions

1. Define a query loop block variation that contains a query and innerBlocks:
[code

[2022-11-17 20:20] iamtakashi opened #45868 "Stack Block: Add space between option"
It's not yet possible to make a design in the editor like this by distributing elements at the top and the bottom of a space.

![Pattern 8](https://user-images.githubusercontent.com/908665/202549709-f06ce7a8-f5f0-49d1-b9e2-3e16fe3c030e.jpg)

We already have a space between option in the row block, but it's missing for the Stack block.

| Row | Stack |
| ----------- | ----------- |
| ![Screenshot 2

[2022-11-17 20:50] richtabor commented on #45868
Agreed, I think this could be cool.

[2022-11-17 21:04] #39074 closed, assigned to nobody

[2022-11-17 21:12] jffng commented on #45811
I looked into this for awhile today and can confirm that some fontFamilies — ones that do not have any fontFace declarations but are "system fonts — are being stripped the merged theme.json data. I have yet to figure out where or why this is happening for child themes only.

[2022-11-17 21:19] bgardner commented on #45811
@jffng This issue (while fonts are definitely one aspect) is bigger and in some cases, loads nothing from theme.json—resulting in this, which I'm about to request temporarily removal: https://wp-themes.com/powder-news/

[2022-11-17 21:42] sabernhardt commented on #45837
Not a bug: the default placeholder needs to remain empty (or not included).

However, there are a few different possibilities to improve this:
1. "Placeholder" is the name of the HTML attribute so it could be too technical, unless the user knows "[a placeholder is not a replacement for labels](https://www.google.com/search?q=placeholder+is+not+a+replacement+for+labels)." Also, parentheses _might_

[2022-11-17 21:56] rufus87 opened #45870 "Plugin: viewScript does not work with multiple handles/files"
### Description

During block type registration from metadata ( `register_block_type_from_metadata` function ) there is a great possibility to edit block metadata as it passes threw `$metadata = apply_filters( 'block_type_metadata', $metadata );` filter. However there is a callback hooked in `block_type_metadata` filter in gutenberg plugin which registers all scripts ( handles or files ) but actua

[2022-11-17 22:25] bgardner commented on #45790
@polarstoat Can you try something for me in Frost theme.json? Try changing `"slug": "primary",` to `"slug": "outfit",` where the font is defined, and then down in typography, change `"fontFamily": "var(--wp--preset--font-family--primary)",` to `"fontFamily": "var(--wp--preset--font-family--outfit)",`.

[2022-11-17 22:37] bgardner commented on #45811
Ok, so I have (what I believe) resolved the font specific issue by doing this, which I suggested as a fix in https://github.com/WordPress/gutenberg/issues/45790:

I had a hunch that the slug being set to `primary` was somehow causing a conflict.

However, there is still a major issue being seen at my theme preview on WP.org, which is essentially not loading any theme.json from the parent theme: ht

[2022-11-17 23:11] polarstoat commented on #45790
Doing this results in the font being displayed correctly. It even displays correctly without changing the font's slug, @Humanify-nl identified this in #44242, the slug seems to be getting auto-generated from the font family.

[2022-11-17 23:14] maurodf0 commented on #45862
Thanks @Mamaduka i thought that was a releated theme.json problem cause the others users using this feature included the theme.json into their theme and commented with no problem at all.

Tested in my site and all works fine, even with empty theme.json file.

[2022-11-18 02:01] carolinan commented on #34757
Any help in moving it forward would be appreciated. I have not been able to reliably determine if an excerpt is generated automatically vs created by the user.
- When the excerpt is created by the user, the length limitation needs to be removed, otherwise their entered text will not show.
- It seems that once a post is saved, the excerpt is saved as if it is user generated, regardless if it has be

[2022-11-18 02:11] matiasbenedetto commented on #45271
Building [this prototype](https://github.com/WordPress/gutenberg/issues/45271#issuecomment-1304341505) I stumbled upon this question:

Do we have a truly-global styles/settings way to persist the custom font data (new fonts added) in a theme.json fashion? Do we need to implement infrastructure for it?

Considering that this manager should allow the user to:
- Add and remove font assets and font de

[2022-11-18 02:23] colorful-tones commented on #45271
Has there been any consideration for variable fonts and font-weight values like `font-weight: 118;` 🤔

[2022-11-18 02:43] aquaspy commented on #22822
I feel like this PR may fix it: https://github.com/WordPress/gutenberg/pull/45545

@Thelmachido to reproduce, try this:

1- Go to https://wordpress.org/gutenberg/
2- Put the mouse pointer below "Say Hello to Gutenberg, the WordPress Editor"
3- Spam the enter key with text:
![image](https://user-images.githubusercontent.com/49214136/202604042-4bbff4a5-eeea-4222-82d0-5931b3e66f15.png)
![image](https

[2022-11-18 02:54] srwrr opened #45874 "6037701726651810I really like the idea of expanding, but I wonder if that then needs easier ordering or something that doesn't surface everything at the same level? I worry a little about too long a list for example and problems even finding things. Something to explore!"
I really like the idea of expanding, but I wonder if that then needs easier ordering or something that doesn't surface everything at the same level? I worry a little about too long a list for example and problems even finding things. Something to explore!

_Originally posted by @karmatosed in https://github.com/WordPress/gutenberg/issues/37407#issuecomment-996943131_

[2022-11-18 04:10] dd32 commented on #45811
I've opened https://core.trac.wordpress.org/ticket/57141 as I believe at least part of the issue is contained within `WP_Theme`, I've been unable to duplicate any change in behaviour with/without Gutenberg on wp-themes.com, but with the PR to core above, I've been able to reliably fix the issue.

I suspect differing behaviour is due to the above issue, but potentially that it depends on which orde

[2022-11-18 04:52] andrewserong commented on #45868
+1 Great idea! There's a related issue for adding in vertical alignment options for stack / vertical orientations of flex layouts here: https://github.com/WordPress/gutenberg/issues/35849. I've added this to the tracking issue in https://github.com/WordPress/gutenberg/issues/44720

[2022-11-18 05:01] ramonjd commented on #38167
## Update Friday, November 18, 2022

The Style Engine is running in WordPress 6.1 🎉

Not much has happened since then aside from monitoring stability (there have been few, if no, bugs).

### Completed since 6.1
- https://github.com/WordPress/gutenberg/pull/43070
- https://github.com/WordPress/gutenberg/pull/45334

### In progress PRs
- https://github.com/WordPress/gutenberg/pull/45296
- https://gi

[2022-11-18 05:01] andrewserong commented on #45826
Thanks for opening this @danielbachhuber! There's a PR from @tellthemachines in https://github.com/WordPress/gutenberg/pull/45364 that looks like it should allow you to create a layout like that (by setting the first and last elements to "Fill"). If you have the time, it might be worth testing out that PR to check that it does what you're looking for.

[2022-11-18 06:22] seothemes commented on #45811
Ran into this as well, it appears the parent theme.json is not being loaded.

When testing locally, deleting all of the parent theme.json (except version number) produces the same result as the wp.org previews.

I was able to find a temporary fix by adding the following to the parent theme:

[code]

Another option is to add all of the missing parent theme.json to the child theme, however that also

[2022-11-18 06:50] mirka opened #45877 "InputControl: Fix Flex usage in wrapper"
## What problem does this address?

The outermost wrapper for InputControl uses `Flex`, which has a `height: 100%` by default. This can cause [unintended results](https://github.com/WordPress/gutenberg/pull/45364/files/c2d0cb4728f1529426878cc6030419d77bf75976#r1024758529) when used inside a Grid.

## What is your proposed solution?

We would normally use a VStack instead of Flex in a use case like

[2022-11-18 07:31] madhusudhand commented on #36444
I think this can be closed now.

[2022-11-18 08:09] madhusudhand opened #45878 "Navigation: sub-menu styles should apply to the sub link only"
## What problem does this address?

In the current behaviour, a sub-menu is a container with main navigation link + all the sub menu links.
But, the sub menu should only the container of all sub-links, so that the styles applied to the sub-menu doesn't effect the main navigation link.

## What is your proposed solution?

| Current | expectation |
| --- | --- |
| <img width="834" alt="image" src="h

[2022-11-18 08:12] madhusudhand commented on #42963
Created #45878 to discuss further on the sub-menu behaviour. closing this as resolved.

[2022-11-18 08:12] #42963 closed, assigned to nobody

[2022-11-18 08:23] #45095 closed, assigned to mirka

[2022-11-18 08:27] oldrup commented on #38167
Nice work! It's a huge improvement overall.

[2022-11-18 08:34] jasmussen commented on #45271
Good question, I've added a tag to hopefully elicit a good response for now, and we can expand the ping range if no responses land soon.

Serendipitously, I _just_ found a need to look into this! So I have on my todo list to refresh these mockups with an interface for controlling that. I've a bit on my plate so I'm not sure it'll be next week, and of course [the Figma](https://www.figma.com/file/v

[2022-11-18 08:48] fabiankaegy commented on #45271
Maybe the new Stepped Range Slider as used in the Spacing Preset Slider could be used for the font weight values. By default it just has the steps between 100 and 900 with increments of 100. But you could always toggle to the fine grain control where you can enter manual values.

<img width="303" alt="CleanShot 2022-11-18 at 09 44 41@2x" src="https://user-images.githubusercontent.com/20684594/2026

[2022-11-18 09:10] stellarwebworks commented on #29136
This would be a great improvement for Gutenberg. Is it under consideration? One should be able to wrap column blocks, cover blocks and group blocks with a link. It is currently possible using a plugin or hack (raw HTML block) but really this should be native functionality.

[2022-11-18 09:27] carolinan opened #45880 "6.1: Deleting the first block inside a group with backspace deletes the group"
### Description

Originally reported in [trac #57010](https://core.trac.wordpress.org/ticket/57010):

https://www.loom.com/share/275f988018b24145b7065d9f00e5c3cb
I only hit delete on my keyboard enough times to remove the headers letters but when you remove the last letter the group block goes too.

### Step-by-step reproduction instructions

In the block editor, add a group with a paragraph block

[2022-11-18 09:29] carolinan commented on #45880
I can reproduce the issue, but with the backspace key, not the delete key.

[2022-11-18 10:39] getdave opened #45883 "Scope inspector back button feature to the Nav block only"
In https://github.com/WordPress/gutenberg/pull/45852#issuecomment-1319742269 we added a "back" button to the Inspector Controls under the Nav block offcanvas experiment.

This is currently active on all blocks. Let's scope to the Nav block only.

@talldan left some good ideas in https://github.com/WordPress/gutenberg/pull/45852#issuecomment-1319729312 namely:

- hard code it for now
- create an op

[2022-11-18 10:44] getdave opened #45884 "Use <Navigator> component on Inspector Controls "back" button UX"
In https://github.com/WordPress/gutenberg/pull/45852#issuecomment-1319742269 we added a "back" button to the Inspector Controls within the Nav block offcanvas experiment.

This is currently implemented in a relatively simplistic fashion with a simple `<Button>` which selects the parent block if one is available.

However, it would be preferable to mirror the same pattern as the Global Styles UI an

[2022-11-18 10:47] scruffian opened #45885 "Navigation list view: Use the Navigator component for the back button"
In https://github.com/WordPress/gutenberg/pull/45852#issuecomment-1319742269 we added a "back" button to the Inspector Controls under the Nav block offcanvas experiment.

We should look at using the Navigator component, so that we get the animations and other behaviours for free rather than duplicating them.

[2022-11-18 10:49] scruffian commented on #45885
Closing in favour of https://github.com/WordPress/gutenberg/issues/45884

[2022-11-18 10:49] #45885 closed, assigned to nobody

[2022-11-18 11:02] scruffian commented on #45439
@getdave I think we can close this since we have the back button and follow up issues. what do you think?

[2022-11-18 11:20] costdev opened #45886 "14.5.3 - Fatal Error when installing plugins/themes."
### Description

With Gutenberg 14.5.3 active on WordPress `trunk`, installing themes produces a Fatal Error in `_wp_theme_has_theme_json_clean_cache_upon_upgrading_active_theme()`.

This is caused by the `$accepted_args` not being specified when hooking `upgrader_process_complete`.

In `lib/compat/wordpress-6.2/default-filters.php`, this line:
[code]

Should be:
[code]

Introduced in #45543.

###

[2022-11-18 11:20] Mamaduka commented on #45874
Thanks for contributing, @srwrr.

Can you update the issue title and description to provide more details?

Thanks

[2022-11-18 11:29] costdev commented on #45886
Just noticed this was fixed in https://github.com/WordPress/gutenberg/pull/45881 - Closing this issue.

[2022-11-18 11:29] #45886 closed, assigned to nobody

[2022-11-18 11:35] scruffian opened #45887 "Avoid automated behaviours in the Navigation block when in preview mode"
In https://github.com/WordPress/gutenberg/pull/44173 we introduced a fallback to classic menus. This is also triggered when the block is previewed in a pattern browser. We should detect whether we are in a preview state, using an `__unstableIsPreviewMode` attribute ( introduced [here](https://github.com/WordPress/gutenberg/pull/44784)), and if we are then we shouldn't import the classic menu.

[2022-11-18 11:38] srwrr commented on #37407
چیز براب۶کشف

[2022-11-18 11:38] srwrr commented on #37407
Ex

[2022-11-18 11:40] srwrr commented on #37407
[6037701726651810](مقصود رحمتی)

 ۱۸ta

[2022-11-18 11:40] srwrr commented on #37407
37407

[2022-11-18 11:40] srwrr commented on #37407
ryjaysrwr894@gmail.com

[2022-11-18 11:42] Mamaduka commented on #37407
I locked the conversations on this issue. Unfortunately, the last few comments look like spam.

[2022-11-18 11:42] mikachan opened #45889 "theme.json schema: `ref` is not supported"
### Description

In https://github.com/WordPress/gutenberg/pull/41696, we added the ability to reference values from other locations in the tree. However, currently, this isn't valid theme.json markup because the reference is an object rather than a string.

### Step-by-step reproduction instructions

Add the following markup to a theme.json file:

[code]

You should see a warning in your text edi

[2022-11-18 11:43] #45874 closed

[2022-11-18 12:26] ntsekouras commented on #45880
This is intended and was introduced here: https://github.com/WordPress/gutenberg/pull/42808. The group is removed only if there are no other blocks left in it. --cc @ellatrix

[2022-11-18 12:35] afercia commented on #45594
I'd totally agree. Tabs are meant to toggle visibility of content in the page (ie. in the same 'resource'). Navigation brings users to a new resource. It's not just semantics. More importantly, it's about the expected interaction behavior the semantics brings in.

Historically, WordPress hasn't made a great use of 'tab-looking navigation' UIs. Think for example at the WordPress About page. Users s

[2022-11-18 12:50] carolinan commented on #45880
In my test, the group is removed even if there are other blocks left inside it.

[2022-11-18 12:51] blaasvaer opened #45893 "How on earth do I change the post_name of a page (sample-page in this case)?"
### Description

I find it impossible to change the post_name of a page. I see NO way of doing this (cannot change the URL [permalink] either, as suggested in google searches). Now WHERE have you HIDDEN this feature in Gutenberg?

### Step-by-step reproduction instructions

Create page
Try to figure out how to change the post_name (I need this for adding it as a class to body_class() ) ...

### Sc

[2022-11-18 13:11] blaasvaer commented on #45893
Jesus f*** Christ. I was on the page that I had set to be Homepage ... which I cannot change the permalink for (for obvious reasons). Solution: change the default home page to any other page. Change the post name ... and reset to the default homepage – only for future reference.

[2022-11-18 13:11] #45893 closed, assigned to nobody

[2022-11-18 13:15] getdave commented on #45439
Yep the basic system is in place.

[2022-11-18 13:15] #45439 closed, assigned to nobody

[2022-11-18 13:27] scruffian commented on #45447
Closed by https://github.com/WordPress/gutenberg/pull/45483

[2022-11-18 13:27] #45447 closed, assigned to nobody

[2022-11-18 13:55] mtias commented on #34757
I feel trimming the text should be unrelated to whether the text is crafted by the user or pulled from the content. There could be instances were a user crafted excerpt works well in one query view, but there's another more condensed sidebar display that wants to show a single line, even if it's user generated.

[2022-11-18 14:04] bgardner commented on #45811
Thanks for the work/update @dd32. Where does this leave us—are we waiting on review of this: https://core.trac.wordpress.org/ticket/57141?

I'd love to start working on more (child) themes to submit to the repo, but figure it makes sense to wait this out. (Rather than having multiple themes with broken demos.)

[2022-11-18 14:07] jameskoster commented on #43412
Placing the handle at the end of the current value makes sense when we think of this as a traditional range, but it might be better for each step to act as a handle:

<img src="https://user-images.githubusercontent.com/846565/202722831-6c84a831-828c-4287-a358-598e4dc3c8a2.gif" width="280">

This makes it a bit more obvious that each step acts as an individual button for quicker jumping.

[2022-11-18 14:16] youknowriad commented on #45884
That's a great opportunity to support dynamic screens in the "Navigator" component to avoid having to loop over all the blocks. cc @ciampo

[code]

[2022-11-18 14:18] afercia opened #45899 "Improve the Document Overview panel accessibility"
### Description

Follow-up to https://github.com/WordPress/gutenberg/pull/44788

The List view, Document information and outline have been merged within a single panel: the 'Document Overview'.
There are a few accessibility issues that were discussed in #44788 that need improvements. Other accessibility issues pre-date before the refactoring.

In short:
- Initial focus goes to the list view. That'

[2022-11-18 14:22] danielbachhuber commented on #45826
@andrewserong Thanks! Followed up on the PR.

[2022-11-18 14:23] afercia commented on #45899
Note: I do realize the 'tabs' not really ARIA tabs are inspired by the similar tabs the Settings sidebar e.g. Post and Block. That's not a standard implementation. At that time we thought that using an ARIA tabs pattern for just two tabs was, in a way, overkill and maybe not efficient. From a keyboard interaction perspective, tabs make totally sense when there's a lot of tabs. When there are just

[2022-11-18 14:26] masperber opened #45901 "Embedded Instagram Links Display No Preview on Safari Mobile"
### Description

When using an Embed Block to display an Instagram URL, the preview is blank when viewing the Embed Block with the Safari browser version 15.7.1. The problem is not manifested on Safari version 16.1.1

### Step-by-step reproduction instructions

1. Compose a page or post
2. Insert an Embed Block with a valid Instagram URL
3. View the page or post with the Safari browser on a mobile

[2022-11-18 14:33] carolinan commented on #34757
Perhaps then the length option should only be available when in the site editor or inside a query.

[2022-11-18 14:57] afercia opened #45903 "Constrained Tabbing doesn't work reliably with all browsers"
### Description

Likely, this regressed with the component refactoring in https://github.com/WordPress/gutenberg/pull/34836

Constrained Tabbing seems to work well with webkit-based browsers. However. it's broken with Firefox. To my understanding, the current implementation relies on the way browsers implement specific behaviors. Specifically, _the amount of time_ browsers take to actually move fo

[2022-11-18 14:59] filipminev commented on #45629
@bph @t-hamano @NicoHood Tally Forms founder here 🙋‍♂️

We support the open oEmbed format: all forms contain a discovery link (for example, from the form mentioned above):
`<link rel="alternate" type="application/json+oembed" href="https://api.tally.so/oembed?url=https%3A%2F%2Ftally.so%2Fembed%2Fw5XbXE%3FhideTitle%3D1&amp;format=json" title="Partyborn Partyalarm Aufnahmekriterien">`

It returns an

[2022-11-18 15:13] mrleemon opened #45907 "It's not possible to style <cite> elements inside quote blocks via theme.json"
### Description

The `theme.css` file in WP 6.1 for the quote block styles the <cite> element using the following code:

[code]

But seeing the `class-wp-theme-json-6-1.php` file, the `cite` property inside `"styles":"elements"` only targets the `<cite>` element:

https://github.com/WordPress/gutenberg/blob/765f624944bcaf1bd7c6957fd864add6a6e73d89/lib/compat/wordpress-6.1/class-wp-theme-json-6-1.p

[2022-11-18 15:30] getdave opened #45909 "Reduce prop drilling in Offcanvas Inspector back button"
Let's explore reducing the prop drilling here by retrieving values directly from the stores instead.

-----

        It may simplify things if this component just received a "clientId" and handles everything using useSelect/useDispatch internally. There doesn't seem to be a valid reason for all the prop passing down (unless I'm missing something). For the record, I know this is not entirely introd

[2022-11-18 15:49] cbirdsong commented on #2515
I've just run into this exact issue twice this week, once when moving content between a staging server and a production server and once when a publication republished content (with permission!) from another site. At the _very least_ there should be an indication in the UI that the image is hosted externally that I can tell editors to look out for.

[2022-11-18 16:34] getdave commented on #45445
FYI the _end_ of [this video](https://github.com/WordPress/gutenberg/issues/42257#issuecomment-1284797475) has a small snippet where the expected UI is detailed

**Update**: here's a screenshot

<img width="653" alt="Screen Shot 2022-11-21 at 13 20 39" src="https://user-images.githubusercontent.com/444434/203065592-1952281c-fce6-43b9-b9a3-2b268cec09b1.png">

[2022-11-18 16:38] getdave commented on #45445
@SaxonF I wonder could you confirm how you see this appender working? Is it _always_ at the end of the list of items as per the prototypes? Or can it appear elsewhere?

Any other detail, mockups or guidance at this point before we go too far would be much appreciated 🙇

[2022-11-18 16:45] felixarntz opened #45912 "Control whether theme (e.g. `theme.json`) cache usage is enabled through a dedicated function"
## What problem does this address?
Several places (e.g. #45372, #45679, #45882) now check for the `WP_DEBUG` constant to decide whether to use `WP_Object_Cache` to cache expensive logic around `theme.json` parsing etc. It is still unclear whether that is the best approach, but most importantly, as this becomes more and more spread out, we should bring that into a single dedicated function. This fu

[2022-11-18 17:18] ciampo opened #45913 "`Navigator`: support pattern matching"
Currently the `Navigator` component can only show a `NavigatorScreen` component when the current `location` matches the screen's `path` _exactly_.

Following up a request in #45884, in order to enable more advanced patterns we would like to allow the `path` prop in `NavigatorScreen` to accept patterns (i.e `articles/:articleId`), in order to enable pattern matching

Plan of action:
- [ ] Re-archit

[2022-11-18 17:19] ciampo commented on #45884
Opened #45913 to track the "pattern matching" feature in `Navigator`

What the estimated timeline for this feature? Just trying to understand how to prioritize this task

[2022-11-18 17:26] ciampo commented on #37063
Closing as focus restoration was initially implemented in https://github.com/WordPress/gutenberg/pull/38149 and later refined

[2022-11-18 17:26] #37063 closed, assigned to nobody

[2022-11-18 17:35] ciampo commented on #45899
also cc @ntsekouras

[2022-11-18 19:01] ndiego opened #45915 "The alignment control displays in block toolbar of child blocks when it shouldn't"
### Description

When a block that supports alignment (None, Wide, Full) is placed inside of a container (i.e. Group) and "
Inner blocks use content width" is toggled off in the contrainer, the alignment controls in the block toolbar of the child block should not display since they do nothing. In Gutenberg trunk and WordPress 6.1, they still display. I believe this might actually be a regression.

[2022-11-18 20:30] SilasOtoko commented on #31429
What @nickfmc posted with having a style option for alignwide works for some cases, but unfortunately it doesn't work if you already have another style option you are trying to use on that element, since only one style option can be selected at a time. :(

[2022-11-18 20:59] marissa-makes commented on #45753
I can reproduce this, and agree that the attribute seems unnecessary. I'll also second the idea of:

I just opened #45916 for consideration, which simply edits `BlockVariationPicker` markup to remove the extra line, but does not attempt to hide the text from assistive technologies 😄

[2022-11-18 21:39] nickfmc commented on #31429
don't get me started on one style option! lol I've done that before too, had to do "align wide style one" "align wide style two" .

[2022-11-18 22:48] oandregal commented on #40048
Closing as duplicate of https://github.com/WordPress/gutenberg/issues/43914

It's been fixed at https://github.com/WordPress/gutenberg/pull/45679

[2022-11-18 22:48] #40048 closed, assigned to nobody

[2022-11-19 01:09] alexstine commented on #45899
We cannot do that because of a couple cascading events.
1. The `ListView` has a `role="application"` wrapped around it to prevent NVDA from switching in to browse mode when it encounters the options button in the `TreeGrid` component.
2. Even if the correct ARIA role is used, NVDA suffers from a bug where a qualifying browse mode element will still force the mode to switch even if it should not. T

[2022-11-19 04:24] alexstine commented on #45390
@ciampo Any idea when this might get some priority? I hate that this is now going to be a longer process and it is an active blocker for better implementation. Makes me wonder if we should patch this ourselves and make it a project for 6.2/6.3/beyond.

Thoughts?

[2022-11-19 04:58] alexstine commented on #45753
Thanks @marissa-makes for the PR!

@afercia I am not worried about duplicate text. It is using `label` on the `Button` component which translates to this.

packages/components/src/Button/index.js
`aria-label={ additionalProps[ 'aria-label' ] || label }`

The inner span text will likely never be read. May need a follow-up if you think it could be important. I personally find the default description

[2022-11-19 05:04] alexstine commented on #45753
@afercia Sorry, ignore me. That span falls out of the button tag so it will be read if user explores the content. Probably not worth using `aria-describedby` here because that is simply the non-descriptive title. Still, if you think it deserves a follow-up, feel free to open a new issue to restructure it.
- `aria-label` for title.
- `aria-describedby` for description. However, description is not s

[2022-11-19 05:05] #45753 closed, assigned to nobody

[2022-11-19 06:03] carolinan commented on #45907
The theme.css file is only used if the theme adds ` add_theme_support( 'wp-block-styles' )`, you probably want to remove that if you are using theme.json.

[2022-11-19 09:29] srwrr commented on #36665
6037701726651810

[2022-11-19 09:29] srwrr commented on #36665
مقصود رحمتی ممنون

[2022-11-19 10:22] t-hamano commented on #45870
Thanks for the report.

I think this is due to the handling of paths in Windows. I recently had a similar problem with a navigation block that has two `viewScript`, but this was resolved in #45773.

This is included in Gutenberg 14.7 but has not yet been released as a plugin. If you can build the latest trunk, I believe this issue has been resolved.

[2022-11-19 10:59] t-hamano commented on #45846
Thanks for the report.
I found the same information in [Discussions](https://github.com/WordPress/gutenberg/discussions/45745). Let's close this issue since I consider this to be a question, not an issue.

[2022-11-19 10:59] #45846 closed, assigned to nobody

[2022-11-19 11:04] t-hamano commented on #45629
Hi @filipminev,

As [this comment](https://github.com/WordPress/gutenberg/issues/45629#issuecomment-1312384981) states, the WordPress core grants `sandbox` and `security` attributes.

[2022-11-19 12:21] t-hamano commented on #45903
A similar problem was reported in #42652, and the PR for this is #42653. I believe this PR will resolve this issue as well.
@ellatrix Could you please re-review #42653 to see if it is appropriate?

[2022-11-19 14:19] RolfKyburz opened #45919 "List block removal fails"
### Description

In WP 6.1.1 (not in WP 6.1), removing a list block **appears** to work initially. However, a look at HTML reveals that the list block is not entirely removed, as a part of the code remains in the document, e.g.,

<ul></ul>

or, in a block with CSS additions,

<ul class="roman-list small-print">
<li></li>
</ul>

In the moment of the deletion, the list visually disappears, but when

[2022-11-19 15:23] pietschker opened #45920 "6.1.1 block editor removes ids?"
### Description

I used the block editor function to create block ids heavily (in the extended section of the tool sidebar, creates HTML id, as in `<p id="…" …>`).  this function is missing in the 6.1.1 block editor. When I save a page with such ids, the ids vanish.
WP 6.1.1, biuilt-in block editor, theme is Kaira Overlay.

### Step-by-step reproduction instructions

Take a page that has ids, adde

[2022-11-19 16:02] linwoodlana opened #45921 "Hamburger menu not working since last update!"
Hi,
Since last plugin update when clicking hamburger menu it doesn't work. When I deactivate, the menu works as expected!
It is not conflicting with other plugins because it is the only one activate!

[2022-11-19 16:17] srwrr commented on #45874
سلام ریال ایران

[2022-11-19 16:22] srwrr commented on #33094
######

[2022-11-19 16:22] srwrr commented on #33094
40######

[2022-11-19 19:11] rufus87 commented on #45870
@t-hamano , probably your issue is fixed, but the one described in this ticker still is not. Please refer to the screenshot. The `trunk` branch in the repository right now contain exactly same code as shown in the screenshot. The issue is still actual

[2022-11-20 00:03] #39941 closed, assigned to nobody

[2022-11-20 03:06] seothemes commented on #45791
@talldan sorry about the gifs being hard to follow. They are just showing the continuous loading, even without clicking anything in the editor it was happening.

Something caused the Navigation block to keep importing classic menus every time I opened the Site Editor, which ended up being thousands in the db.

After deleting all of the navigation menus the problem was fixed and I haven't been able

[2022-11-20 08:47] t-hamano commented on #45870
@rufus87
You're right,
When the Gutenberg plugin is enabled, it appears that multiple `viewScripts` are only available in the core block.

https://github.com/WordPress/gutenberg/blob/8795c6e336d7cdf69caa02762bb3a0f4681c6fa7/lib/compat/wordpress-6.1/blocks.php#L74

@aristath
I have found that you were the first to implement this feature in #36176. Should this feature be applied to other than core b

[2022-11-20 12:42] MGParisi commented on #26215
Yep, it would be a very necessary option.

[2022-11-20 15:18] damian-c commented on #45713
I am able to reproduce this issue using the core Twenty Twenty Two theme in 6.1.1.

[2022-11-20 21:22] ericmacknight opened #45926 "Traditional indented paragraphs"
## What problem does this address?

## What is your proposed solution?

[2022-11-20 21:32] ericmacknight commented on #45926
I have used WordPress for years to create class blogs where my students publish essays, poems, and stories. It is great, in so many ways.

However, it sucks when it comes to teaching students what a paragraph is.

I have been waiting for years for WP to include a way to indent the first line of a paragraph, or not, that is a simple as a word processor. Alternatively, a plug-in. It’s 2022, and stil

[2022-11-20 22:10] skorasaurus commented on #37421
Hi,

Thanks for reporting;
This has been discussed and/or requested in https://github.com/WordPress/gutenberg/issues/2518 . Feel free to [add your reaction](https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/about-conversations-on-github#reacting-to-ideas-in-comments) and follow its progress in the issue.

[2022-11-20 22:10] #37421 closed, assigned to nobody

[2022-11-20 22:16] skorasaurus commented on #45926
Hi,

Thanks for reporting;
This has been discussed and/or requested in https://github.com/WordPress/gutenberg/issues/37462 and https://github.com/WordPress/gutenberg/issues/34688 . Feel free to [add your reaction](https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/about-conversations-on-github#reacting-to-ideas-in-comments) and follow its progress in the issue.

Please r

[2022-11-20 22:16] #45926 closed, assigned to nobody

[2022-11-20 22:58] StevenDufresne commented on #45811
I understand it's not ideal but worth noting, if your parent theme has an `index.php` file it will work right now.

[2022-11-20 23:11] ericmacknight commented on #37462
Yes, please!

[2022-11-20 23:15] noisysocks commented on #45613
This isn't correct, is it? `all` locks everything but `contentOnly` allows the content to be edited. Hence my (bad) suggestion of renaming `contentOnly` to `allButContent`.

[2022-11-20 23:29] noisysocks commented on #24957
Could you elaborate on this? An icon of what? I'm curious what @jasmussen thinks too.

I'm kinda thinking we can close this issue in favour of future smaller enhancement requests.

[2022-11-21 00:10] alaczek commented on #24957
Having an icon for the post-meta items is a popular design pattern. This is what I had in mind:
<img width="533" alt="image" src="https://user-images.githubusercontent.com/4550351/202934026-dcbd403a-ad93-4697-8eb8-d6c7aada1500.png">
I think back when this issue was initially opened, we didn't yet have access to the row block, which makes it easier to achieve this than columns, so feel free to clos

[2022-11-21 00:35] noisysocks commented on #24957
Thanks, that makes sense. I'll close this out for now.

[2022-11-21 00:35] #24957 closed

[2022-11-21 01:41] andrewserong commented on #43404
Just an update to say I haven't forgotten about this one! I've opened up a fresh draft PR (https://github.com/WordPress/gutenberg/pull/45927 — it currently does not work) to try to dig into the issue of specificity of layout styles. Even with the reduction in specificity, it still doesn't work properly, so I'm wondering if there might be more to it than just specificity (for example, if the order

[2022-11-21 01:51] strarsis commented on #42600
@getdave: Is it possible to make a Gutenberg navigation menu the primary menu, or have slots, similar to what Block part areas do? Currently when I use a block part for the site header I have to manually select the primary menu for the first time, otherwise it shows the last menu that was added.

Currently a `core/navigation-menu` block would use an ID to reference to a specific Gutenberg menu:
[c

[2022-11-21 02:08] #45001 closed, assigned to nobody

[2022-11-21 02:14] bgardner commented on #45811
Thanks @StevenDufresne, updated Powder on repo and the demo seems to be working as expected. cc: @seothemes

It would be nice to have this fixed on the theme preview site, so that at some point, the index.php file can be removed from the parent theme for good.

[2022-11-21 05:00] #45441 closed, assigned to ajlende

[2022-11-21 05:10] akasunil commented on #45920
Hello @pietschker,
Can you send some more info with screenshots for better understanding of the issue you are facing ?

[2022-11-21 05:14] akasunil commented on #45919
Hi @RolfKyburz ,
Can you try the same with WordPress default theme ? if issue persist, can you make some sort of video/gif for better understanding of the issue ?

[2022-11-21 05:28] xconsau opened #45928 "ColorPalette: Clear button doesn't show when default colors array is empty"
### Description

I am developing a custom Gutenberg block, and using the [ColorPalette](https://developer.wordpress.org/block-editor/reference-guides/components/color-palette/) component for some color attributes. The ColorPallete doesn't show the clear button if the `colors` props is empty or not set. The `clearable` property is not honored in this case. Whereas if the `colors` is set to at least

[2022-11-21 05:28] noisysocks commented on #44412
@Mamaduka: I see you're working on https://github.com/WordPress/gutenberg/issues/30142. Do you think it also makes sense to take this one? They seem closely related 🙂

[2022-11-21 05:42] noisysocks commented on #45271
I'll look into implementing this.

[2022-11-21 06:02] pietschker commented on #45920
Contrary to 5.x, the List block does not have the „HTML anchor“ input field anymore („Extended“ now only shows „additional CSS classes"):

All id anchors in List blocks are gone (I had added them via the List block’s „HTML anchor“ function in 5.9.x). When I add them again to the <ul> element im HTML edit view (in 6.1), ithey stay.
The List block has also lost most of its other settings it used to

[2022-11-21 06:07] noisysocks commented on #45271
No, we don't have any way to persist this right now. Will need to do some investigation but I imagine some new endpoints may be required.

Why is this a problem? Currently user customisations to the theme styles are not carried forward if you switch theme. I don't imagine user customisations to the font sets would be any different.

[2022-11-21 06:40] StevenDufresne commented on #45811
Once @dd32's [patch](https://core.trac.wordpress.org/ticket/57141) you mention above gets merged, it will solve it for good. The fact that it works elsewhere without it being merged is a bit of luck and _probably_ cache magic.

[2022-11-21 06:49] SaxonF commented on #45445
@getdave let's start with always at the end but the "trigger" for the add menu item dialog should be able to appear anywhere so that we can play with its position easily in future.

[2022-11-21 06:58] Otto42 commented on #45811
[code]

Delete this code from Athena immediately, or your team will be removed from wordpress.org, and you will be banned. For life.

Under absolutely no circumstances should you make any attempt to change how wordpress.org works through themes or code that you can upload. That is a massive violation. If I find your theme before you remove it, you are done here.

[2022-11-21 07:06] Otto42 commented on #45811
[code]

@seothemes

Delete this code from your theme immediately, or your theme will be removed from wordpress.org, and you will be banned.

Under absolutely no circumstances should you make any attempt to change how wordpress.org works through themes or code that you can upload. That is a massive violation. If I find your theme before you remove it, you are done here.

We allow a lot of latitude

[2022-11-21 07:12] seothemes commented on #45811
@bgardner perfect, glad it turned out to be an easy fix.

@Otto42 removing it right now, I'll have it uploaded in a few minutes. Please note I'm not trying to change the behaviour in any way, it was just a temporary fix to get the preview working correctly as it only happened in theme previews.

[2022-11-21 07:14] Otto42 commented on #45811
@seothemes

I understand the reasoning. It kinda doesn't matter.

Essentially, you're targeting the wp-themes site and making it behave differently there than it does for everybody else. That's horribly bad. That's malware tactics.

Don't do it again.

[2022-11-21 07:43] seothemes commented on #45811
@Otto42 Understood, it's been removed. I've updated the code example above as well. The URL check was only there to avoid loading it when not needed, it didn't display differently in any way. It was the opposite if anything, making it display the same as it does elsewhere since only the previews were broken.

[2022-11-21 08:55] t-hamano opened #45933 "Media & Text Block: Undo history not generated when media width is changed"
### Description

Undo history not generated when "media width" is changed in the media and text block. If other controls are changed, undo will work correctly.

### Step-by-step reproduction instructions

- Insert a media & text block.
- Change the media width from the drag handle or sidebar.
- Confirm that the width of the image doesn't change when you press the Undo button.

### Screenshots, scr

[2022-11-21 08:59] ionutcalara opened #45934 "Api to transform a block directly from within the block code"
## I want to allow the user to select an image from a list of images and then convert the block to a full image component

I think there are use cases for blocks serving as a way to get data, for example, AI text generators or specific image libraries. This only serves as a generator, and it should lead in the end to a core block or multiple. I can't find a way to transform to a block automaticall

[2022-11-21 09:05] getdave commented on #45884
Currently we're working on a Nav block experiment (which is what is driving this) which we're hoping to have finalised by the end of this month.

If that experiment is successful in user testing then we'd be looking to merge the feature in WP 6.2. So ideally we'd need to have the panels system in place sufficiently in advance to allow us to implement in time 🙏

[2022-11-21 09:19] jameskoster opened #45935 "Template Part semantic areas are no longer recognised"
### Description

<img width="1597" alt="Screenshot 2022-11-21 at 09 15 37" src="https://user-images.githubusercontent.com/846565/203011711-50338f57-b174-48fc-9f55-d33318a93a00.png">

In the screenshot above note that the general template part icon is used for the selected Header, and the Footer in list view. Additionally the the block name in the Inspector is incorrect (may be related to https://g

[2022-11-21 09:25] getdave commented on #42600
@strarsis Absolutely. [Your request is already on the roadmap for 6.2](https://github.com/WordPress/gutenberg/issues/45512) 🤞

[2022-11-21 09:30] aristath commented on #45870
Hmmm the implementation was refactored in Core (see https://core.trac.wordpress.org/ticket/56408#no0), but from what I can tell here, the changes were not backported to Gutenberg.
Perhaps this should be moved to the 6.0-compat folder instead of the 6.1? 🤔

[2022-11-21 09:40] afercia commented on #45753
No problem @alexstine

I wouldn't use aria-describedby for this text until its usage is clarified and improved. For example, in the Query loop this text just repeats the aria-label. Using it for the description would be redundant. In the Columns block instead, it's used as a sort of descriptive text, even though I'm not sure it's that meaningful.

[2022-11-21 09:40] getdave commented on #45884
@youknowriad Can I confirm that looping over all the blocks' `<InsepctorControls>` just so we can push them into a `<Navigator>` stack would be a poor choice?

Obviously it will "work" but I assume in an ideal world we would have a system whereby the "parent" can be _dynamically_ added to the stack as a new block becomes selected and the history (.etc) will all "just work".

Am I understanding you

[2022-11-21 09:44] talldan commented on #45920
@pietschker The list block should still have HTML anchor support.

What might be confusing is that the List Block now supports inner blocks. When you first add a List Block, your focus is immediately upon the 'List Item' block and not the 'List' Block itself.

You can see this in the breadcrumbs at the bottom of the block editor:
![Screen Shot 2022-11-21 at 5 43 02 pm](https://user-images.githubus

[2022-11-21 09:48] matiasbenedetto commented on #45271
@noisysocks I'm currently working on this. I haven't assigned me the ticket because I'm partiallty afk this week.