[2021-07-21 09:47] #33126 closed, assigned to Mamaduka

[2021-07-21 09:49] antonyjsmith commented on #32402
Thanks @talldan. To clarify, this has been around for some time, it's not emerged with 5.8. I'd just wearily come to accept it, however it's getting increasingly worse as the popover continues to grow.

[2021-07-21 10:07] scruffian commented on #33475
Another opportunity I see is that it exposes a common design pattern in a theme which gives other services the opportunity to hook into. For example if I wanted to add a "Hosted by...." credit to my user's sites, this gives me a place to do that.

[2021-07-21 10:07] Mamaduka commented on #16520
@gziolo, should we close this issue?

[2021-07-21 10:11] adamziel commented on #33576
I managed to get it like that: `wp.data.select( 'core/block-editor' ).getSettings().__experimentalCanUserUseUnfilteredHTML`

[2021-07-21 10:14] Mamaduka commented on #19267
The `core/subhead` block was removed via #29627.

[2021-07-21 10:16] mtias commented on #33475
If it were to include a credit line and current year it'd be a nice thing to make dynamic. Maybe in that case the "powered by" is toggleable in case people want to show it. Maybe also a way to collapse into a W icon only?

[2021-07-21 10:21] adamziel commented on #33576
@bobbingwide

https://github.com/WordPress/gutenberg/blob/eaf3f8b58b26e30c9a77fb0e2bafeda8e0462c0e/packages/editor/CHANGELOG.md#L175-L181

[2021-07-21 10:34] karmatosed commented on #33583
I really like this idea and I would add one more request to add also other functionality like deleting to the list view. I find myself often wanting to remove a block using this interface and having a true layer interaction space would be very useful in the editor.

[2021-07-21 10:36] karmatosed commented on #33539
@richtabor there is https://github.com/WordPress/gutenberg/issues/27473#issuecomment-796773866

[2021-07-21 10:42] SiobhyB opened #33592 "Mobile: Android: "More" Toolbar Item Isn't Accessible from Unsupported Block Editor"
## Description

The "more" toolbar item isn't currently accessible from the Unsupported Block Editor (UBE). Tapping on it shows a flash of the dropdown but it instantly disappears.

## Step-by-step reproduction instructions

_**Precondition:** To follow these steps, you'll first need to create a post or page on the web that contains a block that's unsupported in the apps. At the time of writing, t

[2021-07-21 10:43] SiobhyB commented on #33592
Noting that, when I initially saw this report, I assumed it was caused by the recent changes I made [here](https://github.com/WordPress/gutenberg/pull/32395). However, I've confirmed this bug exists even if I revert those changes on my local setup. So, it seems this _isn't_ a recent regression. I'll dive further into this.

[2021-07-21 10:53] adamziel commented on #33576
@bobbingwide

You are absolutely right! I see how this transition may seem like an unnecessary hassle that just requires extra effort to deal with. I think I failed to provide more context here so let me make up for it now.

[@wordpess/editor](https://www.npmjs.com/package/@wordpress/editor) (or wp-editor) is a module you want to use when editing WordPress posts. This is what it says on the npm pa

[2021-07-21 10:53] gziolo commented on #16520
I don't know and that's why I didn't close this issue 😄

[2021-07-21 10:55] CreativeDive commented on #33379
@getdave basically it works if I use this content instead:

`<p class="has-medium-font-size">Lorem ipsum dolor sit amet consectetur adipiscing elit vulputate vehicula montes tortor nunc, varius curae ac tristique parturient sociis etiam duis mauris eros mollis.</p><div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>`

and changing `$block['innerContent']` to `$block['innerHT

[2021-07-21 11:03] getdave commented on #33379
Hi @CreativeDive. I've solved the problem and will post a solution shortly. 🤞 this will work for you.

[2021-07-21 11:04] fluiddot opened #33593 "Gallery block: Some images point to local URLs when closing the post with ongoing uploads"
## Description

Some images point to local URLs (example: `//private/var/mobile/Containers/Data/Application/...`) when closing the post with ongoing uploads and re-opening when they're finished.

## Step-by-step reproduction instructions

This can be reproduced by following the ["Close post with an ongoing image upload" test case](https://github.com/wordpress-mobile/test-cases/blob/trunk/test-case

[2021-07-21 11:26] getdave commented on #33379
@CreativeDive As this was become complex to fix in a GH issue, I've written up [a quick blog post on the solution that I found](https://aheadcreative.co.uk/articles/setting-default-wordpress-editor-block-templates-via-php-from-block-grammar/).

TL;DR - we needed to recurse into the `innerBlocks` and ensure they were all converted to the same array-based format. My previous example only handeld the

[2021-07-21 11:47] CreativeDive commented on #33379
@getdave really nice and thank you for creating this block post. Nice content for your website :-D

I will investigate this soon and will test different block contents with your solution. I will leave my feedback here.

To work with Template Editor and Block Templates are an other possibility.

But the work with the `block_editor_settings_all` filter requires to create custom templates, right? Or

[2021-07-21 11:47] lifesbrain commented on #19077
The original request doesn't seem complete at all, unless I'm missing something. Embedding the PDF is now part of the file block but I'm failing to find an option for a thumbnail. If you want to link to dozens or more PDFs then embedding them is incredibly clunky, not to mention not working on most mobile devices. Having the option of including the generated thumbnail, as you would when adding an

[2021-07-21 11:53] nachos5 opened #33594 "Ability to specify font size unit for generated classes in theme.json"
## What problem does this address?
In **theme.json** it's nice to define font sizes without units and you even do this in your documentation [here.](https://github.com/WordPress/gutenberg/blob/trunk/docs/how-to-guides/themes/theme-json.md) Then the variables can be used like this:

`calc(0.1rem * var(--wp--preset--font-size--normal))`

However this generates useless classes, like this for example:

[2021-07-21 12:02] paaljoachim commented on #19077
Hey @lifesbrain Michael and others.

It would be helpful to create a new issue and we can continue the discussion there. (I have not yet been able to look closer at what is needed here.) In the new issue we can add links to specific comments here (or just recreate them there).

[2021-07-21 12:15] #33550 closed, assigned to mkaz

[2021-07-21 12:19] ggordon-vispero commented on #29526
I’m baffled by your results with JAWS. I assume you mean JAWS 2021.210712 not 2020. With this build, the test page at http://fbj9chhn.gutenberg.run/wp-admin/post.php?post=4&action=edit works fine for me. Once focus moves into a paragraph block, I can arrow up and down and speak line by line, and arrow left and right by character and Word. Additionally, JAWS 2020 which didn’t work when the role of

[2021-07-21 12:20] MatzeKitt opened #33596 "Apply duotone filter without image breaks the image block"
## Description
If you create a new image block and immediately click on "Apply duotone filter" in the toolbar, the block breaks.

## Step-by-step reproduction instructions
1. Create a new post/page
2. Add a new image block
3. Click on the toolbar button "Apply duotone filter"

## Expected behaviour
Nothing happens, because there is no image yet.

## Actual behaviour
The block produces an error:

[

[2021-07-21 12:21] CreativeDive commented on #33379
@getdave I've tested your solution from your great blog post and see basically it works also with more complex block content.

But it seems there is something wrong. Here is my example. I use a simple heading block code like this:

[code]

After using your awesome convert to block array function, I get this wrong result if I create a new post:

[code]

The h1 tag existing multiple times. The same

[2021-07-21 12:23] MatzeKitt commented on #33596
It also breaks the block if I upload an image first.

If I remove `add_theme_support( 'editor-color-palette' );`, it’s working fine. So it is related to the editor color palette and doesn’t work correctly without it.

[2021-07-21 12:33] CreativeDive commented on #33379
@getdave It's possible that `$block['innerHTML']` and `$block['innerContent']` should  be inserted separately? But how we can do that?

[2021-07-21 13:34] anastis opened #33597 "WP_Widget::update() called multiple times, sometimes without any form data, when creating a widget"
## Description

It looks like the new block widgets screen (or the legacy widget block) doesn't work correctly when there are instance data returned from `WP_Widget::update()` that are not present as form fields in `WP_Widget::form()`.

This is usually the case with repeating fields, where you might have a few html array inputs e.g. name="text[]"
 and name="url[]" but want to store them in the wid

[2021-07-21 13:36] Mamaduka commented on #33596
I can confirm this is an issue with both WP 5.8 and Gutenberg 11.1.

If theme just adds `add_theme_support( 'editor-color-palette' );` without providing palette as second argument duotone toolbar item is still rendered and click on it causes an error.

Color Panel is also rendered a little broken:
![CleanShot 2021-07-21 at 17 29 22](https://user-images.githubusercontent.com/240569/126497153-7d2efd

[2021-07-21 13:42] getdave commented on #33379
@CreativeDive As it looks like the array format expects the content to be a plain string, how about trying to strip all the tags from the content?

[code]

[2021-07-21 13:48] fluiddot commented on #33593
I managed to reproduce this issue on Android too by adding a big batch of images and re-opening the post while the uploads are ongoing. It's harder to reproduce but I saw some images pointing to `file://storage/emulated/...`.

[2021-07-21 14:11] getdave commented on #33586
@mttindustries Could you possibly provide an example video or screenshot of this occurring? Also at what point would you consider the box to be wide enough? We need to be sure to strike a good balance.

Also @javierarce I wonder if there are any ways that we could allow users to preview ("quick peek") more of the URL if it is particularly long?

[2021-07-21 14:12] Jamiewarb commented on #27249
Just ran into this error now. It's quite a puzzling issue to solve as I imagine you would register your first block pattern before registering your block pattern categories, and the two don't seem connected at first.

[2021-07-21 14:20] getdave commented on #33571
<img width="1279" alt="Screen Shot 2021-07-21 at 15 14 32" src="https://user-images.githubusercontent.com/444434/126503588-c7e41f1f-5790-4cce-9ee7-b681018ea8c6.png">

Confirmed that the Widgets screen has the class around each Widget area but the Customizer doesn't.

Looking at a fix.

[2021-07-21 14:31] getdave commented on #33344
@nerrad this might be one for `#core-js` chat soon?

[2021-07-21 14:31] fluiddot opened #33600 "Gallery block: Empty caption element smaller on iOS than Android"
## Description

I noticed that on iOS the caption element when is empty it's smaller compared to the Android version (see attached screenshots), making the caption selection more difficult to users.

## Step-by-step reproduction instructions

1. Add a Gallery block
2. Add some images to the gallery
3. Tap on one image
4. Observe that the caption element is hard to tap

## Expected behaviour

The c

[2021-07-21 14:33] mchowning commented on #33593
Thanks for the detailed report @fluiddot !

👍  This sounds like https://github.com/wordpress-mobile/gutenberg-mobile/issues/1526.

[2021-07-21 14:35] fluiddot commented on #33593
Right, as per [that issue](https://github.com/wordpress-mobile/gutenberg-mobile/issues/1526) description, it looks like it's the same issue.

[2021-07-21 14:36] nerrad commented on #33344
Yup, I added to [the agenda](https://docs.google.com/document/d/1Y2Q1iZ89M88NA3iq0TyLzWn9wy6Zxob-wX3tJ4ivHPc/edit) for the next chat.

[2021-07-21 14:36] getdave commented on #33283
hi @pansamolot I just attempt to replicate this and was unable to succeed? What did I miss?

https://user-images.githubusercontent.com/444434/126506855-ee80556c-521d-4c23-8043-69829c255f23.mp4

Also can I verify you aren't using any WordPress Plugins, browser extensions or system level modifications that might alter your OS's pasting mechanics?

If it still happens for you, then perhaps you could

[2021-07-21 14:41] getdave commented on #32916
I'm not 100% but I suspect this is because you'd be better off adding the `wp-block-heading` via a JS filter

https://developer.wordpress.org/block-editor/reference-guides/filters/block-filters/#blocks-getblockdefaultclassname

That way you wouldn't need to modify the className when you define the template.

Also on the topic of templates you might like [this article I wrote on creating templates

[2021-07-21 14:43] mchowning commented on #33600
:wave: @mkevins ! Do you have any thoughts on this issue?

[2021-07-21 14:52] mchowning commented on #33592
Just noting that out of curiousity I tried loading up the tag-cloud block in mobile chrome, and didn't see this issue.

[2021-07-21 15:06] fluiddot opened #33601 "Columns block: Column width's percentage is NaN when using `,` character as decimal separator"
## Description

Looks like the percentage field only supports the `.` character as the decimal separator, using other characters like `,` leads to a NaN value. On iOS, depending on the device's region (in my case I used Spain), the keyboard only allows the option to use the `,` character as the decimal separator which prevents inputting decimal numbers (see attached screenshots).

## Step-by-step

[2021-07-21 15:26] skorasaurus commented on #25188
Been dealing with this on and off over the past couple months and @bosconian-dynamics has offered some solutions

https://wordpress.stackexchange.com/questions/390282/possible-to-use-wordpress-create-block-with-multiple-blocks

[2021-07-21 15:27] pansamolot commented on #33283
I have just quickly setup _as-clean-as-possible_ installation of Wordpress on Amazon Lightsail (to throw out any possible connections to my main hosting's configuration).

It has **nothing** except:

* Wordpress 5.8
* Twenty Twenty-One theme 1.3
* Gutenberg plugin 11.1.0
* single user
* single blog post

And I **can confirm** that this bug exits even from the very first line of text written. At th

[2021-07-21 15:34] alexstine commented on #29526
@ggordon-vispero When might you be available to have a meeting? I can block out time this week but next week will be limited.

Thanks.

[2021-07-21 15:52] getdave commented on #33283
Thanks for confirming - much appreciated. Let's see if we can get other folks to verify the bug and also perhaps some Windows users.

In the meantime any more detail and examples you can provide including those animated GIFs will really help.

[2021-07-21 15:55] ceyhun commented on #33601
Could be related to https://github.com/WordPress/gutenberg/pull/33434. I had encountered the same with `Button` block and `em` value on that PR, but it was fixed before getting merged.

[2021-07-21 16:06] getdave commented on #33283
I finally managed to get a BrowserStack login and gave this a spin on Windows 10 with Edge 91 and was able to replicate:

https://user-images.githubusercontent.com/444434/126521867-fdb613d2-6895-4490-bedd-7476fe09c83b.mov

[2021-07-21 16:10] ggordon-vispero commented on #29526
I’m just creating an empty text block by typing, pressing enter to start a new paragraph, etc. In that case things work right with JAWS. Haven’t done anything more advanced. Are you doing something different when things aren’t reading?

Feel free to write to me privately to schedule a time. Take my GitHub name, replace the dash with a period and add .com. I can make time this week.

From: Alex Sti

[2021-07-21 16:11] getdave commented on #33283
I can confirm it is the call to `create()` below that causes the spaces to be added.

https://github.com/WordPress/gutenberg/blob/059339d140f7be82ce52fa4eac559678f75e5ca5/packages/block-editor/src/components/rich-text/use-paste-handler.js#L110-L116

The copied content is correct upon copy but seems to be surrounded by HTML "fragment" comments. I wonder if these are somehow causing the issue?

<img

[2021-07-21 16:14] scruffian opened #33602 "Featured Image block: Add an option to link to the post"
## What problem does this address?
When used in the query block it would be useful to be able to link the featured image to the post.

## What is your proposed solution?
We should add an option to the block to link to the post like we do for the Post Title block.

[2021-07-21 16:14] fluiddot commented on #33601
Yeah, it's most likely related although the solution applied there looks didn't cover the case I mentioned. I see that for the Button radius field when I type the `,` character it's removed automatically, but that behavior is not replicated on the column width. In fact, I don't think we should discard the character but support convert decimals with the `,` character.

[2021-07-21 17:02] t-hamano commented on #33283
I tested in the following environment:

# Development Environment

Install npm package only `@wordpress/env`
`.wp-env` is set by default as follows

[code]

# WordPress information
WordPress version: `5.8`
Gutenberg version: `10.7`（without Gutenberg Plugin）
Are you using a default theme (e.g. Twenty Twenty-One)? Yes

# Device information
Device: Notebook PC, i5-1035G1 CPU, 16 GB RAM
Operating syst

[2021-07-21 17:06] alexstine commented on #29526
Sent an email to try to schedule a meeting. I'll update this issue once I have new information. :)

[2021-07-21 17:13] t-hamano commented on #33283
I don't know the cause as I don't have a deep understanding of Gutenberg.
However, I think that the following article may be the same case as this symptom.
I hope you find it helpful.
https://discuss.prosemirror.net/t/space-added-on-paste/1274

[2021-07-21 17:45] pansamolot commented on #33283
Thank you @getdave and @t-hamano for all the tests. It seems that I don't need to add a proof from my side as this is already confirmed by you many times.

Seems that the only thing we're left with is to wait for the dev team to pick this up. Thanks for your effort.

[2021-07-21 17:57] ktmn opened #33604 "Legacy Custom HTML widget CodeMirror has broken styles"
## Description
CodeMirror for editing the Legacy Custom HTML widget has broken styling. See screenshot below.

## Step-by-step reproduction instructions
1. Activate Classic Widgets plugin.
2. Add Custom HTML widget.
![image](https://user-images.githubusercontent.com/6892634/126535867-247fc913-76b8-4973-9db3-f1735b5513ef.png)
3. Deactivate Classic Widgets plugin.
4. Edit Custom HTML widget.
![image

[2021-07-21 18:19] getdave commented on #33283
You are welcome.

I think @t-hamano has it with this post which has details on that is going on with this fragment business.

https://discuss.prosemirror.net/t/space-added-on-paste/1274/7

As a member of the dev team, I'll see if I can look into a fix tomorrow.

**Update**: ok I lied. I have a fix PR available now in https://github.com/WordPress/gutenberg/pull/33607. It's not ready for full review

[2021-07-21 18:22] TheRadicalDreamer opened #33606 "Google Maps Block"
## What problem does this address?

It is really complicated to get a responsive google map iframe. Specially for common people.

## What is your proposed solution?

There should exist a google maps block that let you enter an address, confirm it, and then show a map with a pin.
This map should be responsive, because many solutions out there are not.

Second, it should allow you to set the type of

[2021-07-21 18:30] SiobhyB commented on #33592
In an effort to pinpoint exactly when this bug was introduced, I went back to install some older versions of the app.

I was able to replicate the issue on version 15.4 of the app (available [here](https://github.com/wordpress-mobile/WordPress-Android/releases/tag/15.4)), which was launched on August 10th, 2020. The UBE was introduced in version 15.3, but my sites wouldn't load correctly in that v

[2021-07-21 18:47] chipsnyder opened #33608 "Mobile Editor and web editor are out of sync after a theme change."
## Description
The web editor appears to be able to load certain color values from previous themes. This is the block HTML from the example below

[code]
It would be ideal if we can figure out where these values are pulled from so that the mobile editor and preview are in sync.

📓 I'm not sure that this is a bug on the mobile editor or a bug for GSS as a whole.

## Step-by-step reproduction instru

[2021-07-21 18:53] chipsnyder commented on #33608
@enejb @geriux

I’m not entirely sure yet which experience is “wrong” since the color displayed in the preview(and web) is now from an old theme selection but can we investigate this as part of GSS phase 2?

[2021-07-21 18:55] westonruter commented on #33591
Introduced in https://github.com/WordPress/gutenberg/pull/33102.

I suppose it should check if `adminBar` is `null`, and if so, use default values for `color` and `backgroundColor`.

IMO, the PWA icon shouldn't be using the WP logo anyway, but rather it should be using the site icon: https://github.com/GoogleChromeLabs/pwa-wp/issues/295#issuecomment-883886363

See also https://github.com/GoogleChr

[2021-07-21 19:06] TheRadicalDreamer opened #33609 "Social Icons Block should have Phone as an option"
## What problem does this address?

I know the mobile phone number is not a social network, but it is commonly used in the same place as social icons

## What is your proposed solution?

There should be a phone on the social icons list. Just like email is.
![image](https://user-images.githubusercontent.com/11801254/126545439-62e77557-f1c1-4555-b680-e5982f6978c4.png)

[2021-07-21 19:08] TheRadicalDreamer commented on #33609
And Whatsapp also by the way

[2021-07-21 19:25] TheRadicalDreamer opened #33610 "Dragging a couple of paragraphs to a column crashes gutenberg"
## Description

Dragging a couple of paragraphs to a column crashes gutenberg

## Step-by-step reproduction instructions

1. Create a column block with 2 columns
2. Create 3 paragraph blocks with text OUTSIDE the column
3. Press and hold Shift and select those 3 paragraph blocks
4. If you have the tool menu not fixed on the top, you should be able to drag and drop the whole 3 blocks with the 6-dot

[2021-07-21 19:29] nj0y opened #33611 "Issues with Gutenberg block placements"
## Description
After wordpress/gutenberg update the editor in back-end has blocks showing outside of the page margin/parameters, and other weird placements for the blocks. (see screenshot).

## Step-by-step reproduction instructions
1. Go to backend
2. Select new post
3. Problem immediately visible on empty post with placement of starting paragraph block
4. Upon adding other blocks they move about

[2021-07-21 19:58] sabernhardt opened #33612 "Disable spellcheck in permalink slug field"
From [Trac #50499](https://core.trac.wordpress.org/ticket/50499):

While that ticket is about the Quick Edit view, the same applies to the Permalink setting in the block editor (sidebar).

[2021-07-21 20:42] CreativeDive commented on #33379
@getdave very good idea. It seems this is working great and the block content is recreated like expected.

I have found one additional issue. Linked images, like in the "Media/text" block are missing after converting the content to the array. I'll take a look at this soon.

[2021-07-21 21:12] pansamolot commented on #33283
Blasting, light speed and amazingly fast! :> Thank you! :>

[2021-07-21 21:46] deborah86 commented on #33583
I like the new list view. I find myself intuitively wanting to go in and change the name of the groups, rearrange blocks, and name the groups. Having the ability to do this would make it more useful. I was about to request this feature and I see that someone already put in the work and included a beautiful graphic.

[2021-07-21 21:50] mrwweb opened #33613 "Create Block: Improve readability of `save` attribute in `registerBlockType` call"
## Description
When using the `@wordpress/create-block` package, the `registerBlockType` function is missing the `save:` property name before the save method. This leads to blocks failing to save (I learned an hour later…).

## Step-by-step reproduction instructions
1. Run `$ npx @wordpress/create-block test`

## Actual behaviour
In `/test/src/index.js`, I have the following (note the "save" line

[2021-07-21 22:12] mrwweb commented on #11681
I can't tell if I'm running into the same bug or a different one, but I'll mention it here first since it feels _very_ similar but is with `templateLock` on a parent block rather than a template.

I have an Accordion Block and an Accordion Content Block. Both use `InnerBlocks`. I want the Accordion Block to have a locked template that contains only a Heading block and Accordion Content block. The

[2021-07-21 23:18] mrwweb opened #33615 "Media & Text Focal Point Picker Producing Long Decimal Values"
## Description
When setting a focal point on Media & Text blocks, the `background-position` value sometimes isn't rounded correctly. For examples:

- `55.00000000000001% 50%` for what should be 55% 50%
- `56.99999999999999% 50%` for what should be 57%, 50%

It does not impact every number. In my testing, I got the weird long decimals for 55-58% in both the X and Y axes.

This is extremely similar

[2021-07-21 23:27] TylerBarnes opened #33616 "Draft posts are not previewable if the draft was previously published"
## Description
Content doesn't update when previewing a draft when that draft was previously public.

## Step-by-step reproduction instructions
1. Open the edit page for a brand new post
2. Add a title and hit preview in a new tab
3. Notice the preview works great
4. Publish the post
5. Update the title and preview a couple times
6. Notice preview still works great
7. Switch the post to a draft
8.

[2021-07-21 23:30] mrwweb opened #33617 "Deleting Focal Point Value Setting Crashes Block"
## Description
When deleting the value in a focal point input for the Media & Text or Cover block, the block crashes with the error "This block has encountered an error and cannot be previewed."

## Step-by-step reproduction instructions
1. Insert a Cover or Media & Text Block
2. Delete the value of the "Left" or "Top" focal point setting using `Backspace` or `Delete` keys
3. Block Crashes

## Exp

[2021-07-22 00:13] noisysocks commented on #33571
This is expected. The Customizer does not support editor styles because there is already a styled preview of the content in the preview iframe, so I wouldn't expect to see `.editor-styles-wrapper` anywhere.

[2021-07-22 00:17] #33571 closed, assigned to getdave

[2021-07-22 01:19] mttindustries commented on #33586
@getdave here's a screen shot: https://ibb.co/tczM3Y8
I've also included the old editor on the products section (on the right) for comparison.
For example the latest issue is I just get a bunch of copy and had told to hyperlink "Aussie volcano chiminea" - though there's multiple models of the Aussie volcano chiminea, and I can easily see that on the old system but not so much on the new system as

[2021-07-22 01:27] tellthemachines commented on #25070
Hi there! The handbook only has the basic example with a string, but you can find examples of how to register meta as arrays or objects [here](https://make.wordpress.org/core/2019/10/03/wp-5-3-supports-object-and-array-meta-types-in-the-rest-api/).

[2021-07-22 02:04] JJJ commented on #33443
The opposite of this is also true – the _new_ widget screen expects for all _non-admin_ widget related functions to be available from within the admin context.

In my experience, this means that plugins that use `is_admin()` to avoid including theme-side PHP files will not have their widget output functions loaded for the live preview that now occurs, resulting in the same type of fatal error that

[2021-07-22 02:07] JustinSainton opened #33619 "BlockFormatControls and related SlotFills now exist on secondary toolbar. No longer "Top Toolbar""
## Description

BlockFormatControls and related SlotFills used to be a part of the Top Toolbar when the "Top Toolbar" toggle was checked. Now, they all exist on a secondary toolbar, not the Top Toolbar. Lots of our publishing clients are finding this to be sub-optimal.

## Step-by-step reproduction instructions
I recorded a video showing exactly what I'm talking about. But essentially, you don't n

[2021-07-22 03:06] talldan commented on #19077
@lifesbrain Good point. @paaljoachim had already opened an issue open for pdf thumbnails before this so I think that's still relevant - https://github.com/WordPress/gutenberg/issues/15097.

[2021-07-22 03:10] talldan opened #33620 "Add error boundaries to the widgets screens"
## What problem does this address?
Some users are reporting JavaScript errors and white screens when loading the new widget screens in 5.8.

## What is your proposed solution?
I couldn't see any existing implementation, but it'd be good to add `ErrorBoundary` components to help users debug those kind of issues. This is what the post editor does when a JavaScript error occurs:
<img width="859" alt=

[2021-07-22 03:31] kevin940726 commented on #33610
I can confirm this issue. Here's a recording of the reproduction.

https://user-images.githubusercontent.com/7753001/126586517-1f8b20df-00ff-43b5-9be5-448cb31a0b40.mp4

[2021-07-22 03:37] talldan commented on #33619
@JustinSainton Thanks for reaching out. This change is intentional. The reason is that a lot of block toolbars were found to be overlapping other UI in top toolbar mode, particularly in the site/template editors where there's extra functionality in the top part of the screen, like the template options shown in this screenshot:
<img width="1442" alt="Screenshot 2021-07-22 at 11 31 24 am" src="https

[2021-07-22 03:40] talldan commented on #33604
Thanks for reporting this. This bug is already being tracked in #33479, unfortunately it was reported just a little late for WordPress 5.8, but a fix is being targeted for 5.8.1.

[2021-07-22 03:40] #33604 closed, assigned to nobody

[2021-07-22 03:41] alexstine commented on #29526
I wanted to update this after the meeting I had with @ggordon-vispero . During our testing, there was a new bug found with:

`role="document"`

effecting blocks in navigation mode. The JAWS version 2021.2107.12 seems to work fine for me. Whenever you enter a paragraph block, it will read the text as it should and allow you to edit the text.

I am still having a problem navigating blocks in navigat

[2021-07-22 03:47] talldan commented on #33596
So reading the comments, this is different to the problem that #33466 fixes?

It'd be good to update the title/description if so. Thanks.

[2021-07-22 04:09] alexstine commented on #29526
Here's a bit more information.

When working with Gutenberg, I've found Google Chrome to be way more stable. Actually, as a side comment, Firefox is painfully slow even on this very GitHub issue. Not sure why, but Chrome is certainly without a doubt faster.

One thing I noticed is for some reason when tabbing through the block list in Gutenberg navigation mode, the aria-live region is not picking

[2021-07-22 04:48] JustinSainton commented on #33619
@talldan Interesting perspective, for sure! I think the template editing point is a valid one, I hadn't considered that.

Most of these folks are _probably_ a year or more away from anything related to FSE or template editing in Gutenberg - so the concern from a publishing perspective is the change/shift in UI and it not being expected.

[2021-07-22 04:57] tellthemachines commented on #20708
Hi there! As of #29335, it is now possible for a theme to provide settings to constrain the width of all blocks inside a group block. In order to do so, you have to add a `theme.json` file to your theme, and you can find info on how to configure it [here](https://make.wordpress.org/core/2021/06/29/on-layout-and-content-width-in-wordpress-5-8/).

[2021-07-22 04:57] #20708 closed

[2021-07-22 05:05] #27151 closed

[2021-07-22 05:26] peterwilsoncc commented on #33576
Having thought about it for a few days, I think documenting a code snippet similar to this is the best solution over trying to add something to core -- as you say, it will be missing for versions 5.2 - 5.8.0 so there isn't much point.

Key points for the docs:

* Don't shim for plugins supporting a minimum WP version of 5.2 or later: use the new library
* I'd probably avoid suggesting using the sh

[2021-07-22 05:49] MatzeKitt commented on #33596
If the `add_theme_support` is taken into account there, it would resolve the problem since it wouldn’t be usable at this point anymore. So at least it’s related to me.

[2021-07-22 06:51] paaljoachim commented on #19077
Ahhh yes. Thank you Dan!

[2021-07-22 07:24] fklein-lu commented on #33594
This is a bug in the documentation, as font sizes always need a unit.

The documentation should be updated to be:
[code]

[2021-07-22 07:28] getsource commented on #29480
@johnbillion As always, thanks for the report!

I tested this today, and unless I missed a step, it looks like this may have been fixed.

Can you please test again to see if it works for you?

Here's a screencast:

https://user-images.githubusercontent.com/1034160/126603359-fb767dfb-71f2-4779-8fe4-90fb2df34df2.mov

[2021-07-22 08:13] Mamaduka commented on #33617
It looks like a bug with the `FocalPointPicker` component.

[2021-07-22 08:16] talldan commented on #33606
This is a tricky one @avagp because it means that WordPress, an open source project, is specifically endorsing and encouraging google maps over the other mapping products out there. There's a political aspect to that decision.

There's also a privacy aspect, since no doubt google would be collecting the data of WordPress users.

I think that's why this would generally be considered something to be

[2021-07-22 08:23] #33589 closed, assigned to torounit

[2021-07-22 08:41] Mamaduka commented on #16942
Fixed via #32524.

[2021-07-22 08:41] #16942 closed

[2021-07-22 09:20] nachos5 commented on #33594
Thanks for the reply. I may have worded issue badly, sorry for that. I understand that font sizes always need a unit, my issue is that I want the units to be dynamic. So I can choose what unit to use, not in theme.json but in css files. So that I can do `calc(0.1rem * var(--wp--preset--font-size--normal))` or `calc(1px * var(--wp--preset--font-size--normal))`. This already works fine but then the

[2021-07-22 10:00] alexstine commented on #29526
@ggordon-vispero I think I finally got this working.

What happens when you are pressing Tab in Gutenberg navigation mode is the button is dynamically changing under the screen reader cursor. I also found the wordpress/a11y.speak() function was ultimately not working, so turns out this would have also broken NVDA if NVDA was still having dynamic content issues. This is what I did.
1. I added `aria

[2021-07-22 10:03] #33552 closed, assigned to gziolo

[2021-07-22 10:08] gziolo commented on #33552
It was also backported to WordPress core: https://github.com/WordPress/wordpress-develop/commit/3f83b507435ec0c110ee89aadfa623af80275639.

[2021-07-22 10:18] gziolo commented on #33613
[code]

It's a valid syntax. It uses the object property value shorthand syntax introduced in ES2015 (ES6). See a related article:

https://alligator.io/js/object-property-shorthand-es6/

Can you share more details about the error you see in the browser when saving your custom block?

[2021-07-22 10:25] crgeary commented on #27984
I've updated the `@wordpress/dependency-extraction-webpack-plugin` package to `3.2.0` (latest) and this issue still exists.

I'm using the following packages (and others):

| package | version |
| --- | --- |
| webpack | 5.46.0 |
| webpack-cli | 4.7.2 |
| @wordpress/dependency-extraction-webpack-plugin | 3.2.0 |

This is the output:

[code]

And this is running on:

- Mac OSX 10.15.7
- Node 16.3.0

[2021-07-22 10:29] gziolo commented on #27984
Right, the changes landed this week so they weren't included in the last npm publishing round, there is no entry related to this PR in the changelog:

https://unpkg.com/browse/@wordpress/dependency-extraction-webpack-plugin@3.2.0/CHANGELOG.md

It should be published in the next round after Gutenberg 11.2 is released - in two weeks.

[2021-07-22 10:31] crgeary commented on #27984
I see. I checked the changelog, but as v3.2.0 has been released and that version is not mentioned anywhere the changelog, I assumed the changelog was wrong.

I'll keep an eye out for a future version. Thanks

[2021-07-22 11:05] youknowriad commented on #33566
Seems it's just an oversight, let's allow that.

[2021-07-22 11:06] #18661 closed

[2021-07-22 12:37] ggordon-vispero commented on #29526
@alexstine Thanks for spending so much time with this. I did test your change and it seems to work with both JAWS 2020 and 2021.
My  tests with JAWS 2020 on a stock WordPress 5.7.2, though continuing to fail in edit mode, worked in block navigation mode once I was able to successfully get into that mode. That's no easy process because of how JAWS handles forms mode and how WordPress edit and navig

[2021-07-22 12:44] Mamaduka commented on #25909
It looks like you can replace inline images, but action is just very obscure.

Maybe we can place the "Edit" or "Replace" button in the width popover.

If someone can provide mockups for the new UX, I'll be happy to do the rest.

## Screencast
https://user-images.githubusercontent.com/240569/126640291-415a14f3-f808-45e9-a80d-cfd27c4e7db9.mp4

[2021-07-22 13:00] johnbillion commented on #29480
Also looks good to me.

<img width="296" alt="" src="https://user-images.githubusercontent.com/208434/126642837-c2273bd6-911d-4824-ace7-eb79a3e3ac40.png">

[2021-07-22 13:00] #29480 closed

[2021-07-22 13:14] getdave commented on #33611
Thanks for the report.

Can you confirm whether this happens:

* When the Gutenberg Plugin is disabled?
* Using the latest Gutenberg Plugin?

Many thanks.

[2021-07-22 13:18] getdave commented on #33606
I agree with Dan here. I doubt a _Google_ Maps block will ever be in Core. An open source alternative might be however.

We could consider [MapLibre](https://maplibre.org/) which is the open source alternative to [Mapbox which recently rescinded it's open source license](https://wptavern.com/mapbox-gl-js-is-no-longer-open-source).

If you specifically need Google Maps then various Plugins offer an

[2021-07-22 13:20] mrwweb commented on #33613
@gziolo Thank you for this clarification. I now realize that in revising the code from create-block to try to support multiple blocks, I must have broken this. (I eventually figured the multiple blocks thing out thanks to a comment you left elsewhere, so thanks!)

So I guess this isn't a bug out of the box but it feels both easy to break and also confusing that it's inconsistent between `edit` and

[2021-07-22 13:20] getdave commented on #33594
@nosolosw Are you able to advise here? Can we make this unit-less?

[2021-07-22 13:52] locksoft commented on #31707
It happened again. No "article" section with Safari. :(

https://i.postimg.cc/rscr73bg/Schermata-2021-07-22-alle-15-51-00.png

[2021-07-22 13:54] getdave commented on #33300
I was also unable to get my custom property to output as I expected when using in the block scope.

Here's my simplified `theme.json`:

[code]

I expected the custom property to be created on the block selector but it was nowhere to be seen.

FYI this does work at a root level as the class is added corretly to the body.

<img width="1279" alt="Screen Shot 2021-07-22 at 14 48 19" src="https://user-

[2021-07-22 13:54] sarayourfriend commented on #30706
@mtias This would require the badge/tag component I believe, right?

[2021-07-22 14:13] gziolo commented on #33613
Right, we can do it if that makes it easier to follow the code 👍🏻

[2021-07-22 14:16] mrwweb commented on #33613
Since so many examples do explicitly include `save: ` and it's not consistently used in other places, I think it would help. It would definitely make the code more robust if people innocently want to rename the `save` function. Also, I checked and the transpilation adds `save: ` explicitly anyway, so I'm really not quite sure what the arguments in favor are.

[2021-07-22 14:57] pbrocks commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-07-22 14:58] Mamaduka opened #33631 "Editor: Render all Notices inside new interface skeleton notices area"
## Description
Recently I had to extract the Snackbar notice component and render them inside the new `.interface-interface-skeleton__notices.` container. It was necessary to resolve the `z-index` context issue with Block Inserter. See #33355.

Moving only Snacbar notices is a temporary solution. A more permanent solution should be to render all notices in the new area.

[2021-07-22 14:59] seanvarnham commented on #16056
Hi team, has there been any movement on this issue?

[2021-07-22 15:06] aristath commented on #33594
What you're describing is not exactly font-size though, it's more like a "font-size calculations multiplier", so doesn't exactly fall under font-sizes. Font-sizes can't be unitless (as opposed to something like `line-height`).
I fear that allowing unitless values here would most likely cause more issues than it would solve. If a user enters a unitless value, then their font-sizes will not be appli

[2021-07-22 15:11] TheRadicalDreamer commented on #33606
I get it, but how does that there is a youtube block and a vimeo block over
other video platforms?

El jue, 22 de jul. de 2021 a la(s) 09:18, Dave Smith (
***@***.***) escribió:

[2021-07-22 15:29] getdave commented on #33606
Those blocks are actually variations of the Embed block. Anything that exposes an [oEmbed API](https://oembed.com/) can be embedded in this fashion. The specific variations you mention are really just conveniences.

A map block would likely not function in the same way and would require a deeper integration. For example, Google Maps requires an API key which necessitates jumping through several la

[2021-07-22 15:33] getdave commented on #33586
That illustrates the problem perfectly. Thank you.

@javierarce I think this is one we'll need to look into.

[2021-07-22 15:39] getdave commented on #33606
I'm going to close out this Issue now as it's specifically about Google Maps. We can discuss an API Key free open maps solution in a new Issue if that's desirable.

[2021-07-22 15:39] #33606 closed, assigned to nobody

[2021-07-22 15:40] getdave commented on #33586
@mttindustries I wonder would something like this work? It simply allows the text to wrap.

https://user-images.githubusercontent.com/444434/126667621-ed50cc53-8066-43ea-b6b5-8b80fdbdce4c.mp4

I had a go at prototyping a solution which allows the items to expand the width fo the box but it caused a lot of layout shifts which was disconcerting and a poor UX. I'd also be concerned about the implicat

[2021-07-22 16:09] javierarce commented on #33586
@getdave I think the solution in your video could work well. We could also make sure that super long strings don't fill up the whole interface by truncating them in the middle:

Before | After
------------ | -------------
Super long title of a page here it is pretty long in order to force test the link UI which is not responding well | Super long title of a page here it… which is not responding we

[2021-07-22 16:40] TylerBarnes commented on #33616
I should add that this isn't an issue with the classic editor.

[2021-07-22 17:16] haemeulrich commented on #25021
For me as an editor/blogger, it would be helpful to have a shortcut to launch "View Page".

[2021-07-22 17:17] dashkevych commented on #33582
It would be great if such functionality was added to the Gallery block. In that case, we would be able to eliminate unnecessary space at the bottom of the gallery block. Also, it would simplify CSS of the Gallery block (no longer need to use `width: calc(25% - 0.75em);` and. `margin-right: 1em;`).

Each item in gallery adds side and bottom margins:

![Singular gallery item](https://snipboard.io/by

[2021-07-22 18:46] #33554 closed, assigned to gwwar

[2021-07-22 21:20] NasKadir123 opened #33636 "What happened to FontSizePicker?"
## Description
After update to WordPress 5.8 version FontSizePicker doesn't take number as type of value. Can you provide correct change log about it? Right now the value described as number | string which is not true. Or am I missing something?

## Step-by-step reproduction instructions
Create any custom block with attribute fontSize as a 'number' and check how FontSizePicker works.

## Expected

[2021-07-23 00:05] tellthemachines commented on #31018
This is happening for all blocks that use [Server Side Render](https://github.com/WordPress/gutenberg/blob/trunk/packages/server-side-render/README.md#L1), because the API request from that component includes the block attributes as query parameters. These get compared to a schema [that excludes any non-default block attributes](https://github.com/WordPress/wordpress-develop/blob/master/src/wp-inc

[2021-07-23 00:08] #25070 closed

[2021-07-23 05:23] #33617 closed, assigned to nobody

[2021-07-23 05:56] dikiyforester opened #33638 "Provide the widget preview iframe with a sidebar ID"
## What problem does this address?
There is no way for a block/widget to identify and get data on the sidebar it’s been placed on.

Prior widget editor, we could get the sidebar id by the widget id, but in block-based widget editor it's impossible since widget id in the editor is not the actual widget id.

For example:
1. Some would like to get the sidebar’s before_title and after_title variables

[2021-07-23 06:17] talldan opened #33640 "Copy - consider rewording 'overlay' color options in the navigation block"
## What problem does this address?
The navigation block now has two additional overlay color options:
<img width="282" alt="Screenshot 2021-07-23 at 1 59 20 pm" src="https://user-images.githubusercontent.com/677833/126743764-75a38e67-c2a4-4203-b404-5ba0c9e767f9.png">

My first instinct on seeing these was that I wasn't really sure what they do. I tried changing the colors and it had no effect.

I

[2021-07-23 06:17] talldan commented on #33640
cc @jasmussen @georgeh

[2021-07-23 06:21] Azragh commented on #33427
Im missing the template selection even on normal pages ..

![image](https://user-images.githubusercontent.com/15014142/126743959-55bb3612-a6f6-4e74-bb08-f73eff898998.png)

I only have a page.php and page-fullwidth.php (marked correctly with `Template Name:`) in my themes, no custom post types or anything special.

[2021-07-23 07:04] nj0y commented on #33611
Issue is solved. I set up a clean staging environment and problem is fixed. Must've been some theme residuals or other settings that I hadn't checked.

[2021-07-23 07:04] #33611 closed, assigned to nobody

[2021-07-23 07:50] getdave commented on #33283
@pansamolot Would you be able to try and [test the PR](https://github.com/WordPress/gutenberg/pull/33607) for me? You can use [these instructions](https://make.wordpress.org/design/2021/03/03/testing-a-gutenberg-pull-request-pr/) to do this pretty easily and quickly.

[2021-07-23 08:10] MaggieCabrera opened #33642 "Duotone filter: Allow theme.json to set default filters for blocks"
## What problem does this address?

It would be great to have the option to set a default duotone filter for the blocks from within the theme. That would allow theme authors to fit the images/media on the site to fit with the color scheme of the theme.

## What is your proposed solution?

Something like this on theme.json would be nice to have:

[code]

@ajlende

[2021-07-23 08:12] getdave commented on #33636
Can I confirm you are referring to `<FontSizePicker>` from `@wordpress/components`? If so then it doesn't appear to take an attribute called `fontSize`. There is an prop called `value` which accepts a unitless value such as `16` as well as a value with units such as `16px`.

You can see from the code how this is handled:

https://github.com/WordPress/gutenberg/blob/trunk/packages/components/src/fo

[2021-07-23 08:14] grappler commented on #28744
The postAuthor block was not included in WP 5.8 https://github.com/WordPress/gutenberg/pull/31983

[2021-07-23 08:17] TobiasBg opened #33643 "Scripts: The `build` command does not minify CSS files"
## Description
When using `@wordpress/scripts`, `npm run build` does not minify CSS files (from /src to /build) - but it does minify SCSS files.
Also see https://wordpress.slack.com/archives/C5UNMSU4R/p1626967073250600.

## Step-by-step reproduction instructions
Create a very basic project:
- `package.json`:
[code]
- `/src/index.css`:
[code]
- `/src/index.js`:
[code]
- Run `npm install`.
- Run `np

[2021-07-23 08:45] pansamolot commented on #33283
@getdave Just made a quick test of your PR on a brand new AWS Wordpress instance and from my perspective the issue is solved.

There are no spaces added in any scenario where they're not expected and there are spaces added when they are expected (i.e. when copy-pasting a piece of text that actually contains beginning and ending space).

Due to the limited time resources I only managed to test this

[2021-07-23 09:21] javierarce opened #33644 "Improve copy to clipboard interface"
While working on [this issue](https://github.com/WordPress/gutenberg/pull/33276) related to the publish panel, I thought we could improve the interface we use to copy text to the clipboard to avoid [the problem mentioned by @gwwar](https://github.com/WordPress/gutenberg/pull/33276#pullrequestreview-707668537) and make our interface less dependent on the selected locale (plus reducing the element f

[2021-07-23 09:34] youknowriad opened #33645 "Add frontend rendering metrics in the performance tests."
Our performance test currently tracks editor-centric metrics such as: editor loading time, editor typing time, time to select a block, time to open the inserter, time to hover an element on the inserter. While we did a number of iterations and improvements to the frontend rendering of Gutenberg, we don't have a metric to track. It would be a great addition to our performance numbers.

## Tasks

_V

[2021-07-23 09:38] youknowriad opened #33646 "Debug and enhance block selection and inserter opening metrics."
Recently we added some new metrics to the performance tests to ensure we don't regress for these particular metrics:

 - Block Selection Time
 - Global Insertion Opening Time.

That said, we didn't focus too much on improving their current state (like we did for the loading and typing metrics in the past). I think it would be good to do some work to analyse what's taking time for both these metric

[2021-07-23 09:52] mtias commented on #30706
Possibly! Not sure if it'd carry the same meaning as badges do in general, and whether the ability to remove one (the X) belongs in the component. We would need a proper design pass on these. I'm also not sure if it's the right use here.

[2021-07-23 09:55] gziolo commented on #33645
We can play with Lighthouse integration with Puppeteer for the frontend. Here is a recipe from @addyosmani shared on his blog:

https://addyosmani.com/blog/puppeteer-recipes/#lighthouse-metrics

[2021-07-23 09:56] NasKadir123 commented on #33636
@getdave Sorry for my roughness, I didn't want to insult anyone.
Let me try to show you an example where I'm using withFontSizes and getFontSizeClass HOCs https://github.com/NasKadir123/textBlock.
This block is working in previous versions, but not in the new one. When you change Font Size in FontSizePicker for example to "large" it works, but if you insert number inside Custom input, for example

[2021-07-23 11:11] diggeddy commented on #33610
This issue is not just with the Columns block. It affects all nested blocks eg. Group Block, Cover Block and any other 3rd party nestable block

[2021-07-23 11:49] javierarce commented on #29102
I'm reviewing the navigation issues & enhancements, and here are some tickets that don't appear in the list above:

- #30006
- #31100
- #31182
- #31276
- #31667
- #31813
- #33271
- #33272

[2021-07-23 11:52] mehov commented on #33558
Hello @getdave,

Thank you for confirming the issue. Below is my hotfix. As a result, the spaces are no longer being removed. I will see if I can have those lines disabled without commenting them out, hopefully by getting the wrapping `if`s evaluated to `false` somehow.

[code]

As for the edge case, while I agree this is not how the majority of people are using Wordpress, still I was under the im

[2021-07-23 11:52] CreativeDive opened #33647 "New Template Editor missing in WP 5.8"
Hey,

the new template editor is landed in the new WP 5.8 release. [https://make.wordpress.org/core/2021/06/16/introducing-the-template-editor-in-wordpress-5-8/](https://make.wordpress.org/core/2021/06/16/introducing-the-template-editor-in-wordpress-5-8/).

But the template editor is not included if I use the following to opt-in:

`add_theme_support( 'block-templates' );`

Only if the gutenberg pl

[2021-07-23 11:56] adamziel opened #33648 "Pasting RTL text in firefox results in LTR text"
## Description

Originally reported at https://wordpress.org/support/topic/rtl-text-pasted-into-paragraph-block-renders-ltr/#post-14693435

When I paste the following RTL snippet of text into Gutenberg, I end up with different results depending on the browser:

[code]

In Chrome, it works as expected:

<img width="606" alt="Zrzut ekranu 2021-07-23 o 13 54 26" src="https://user-images.githubusercon

[2021-07-23 12:15] getdave commented on #33636
@NasKadir123 Thanks for coming back here with more information.

I installed your block on my test site and the `FontSizePicker` is working correctly with no console errors.

https://user-images.githubusercontent.com/444434/126780044-f86c51fb-494e-4f48-86df-498a15128d82.mov

Bear in mind this test site is a fresh install of WordPress 5.8 with the latest Gutenberg Plugin installed.

If you continue

[2021-07-23 12:15] #33636 closed, assigned to nobody

[2021-07-23 12:26] getdave commented on #33647
Hi @CreativeDive. Thanks for your report, but I can confirm this feature is working as specified in the docs you referenced.

https://user-images.githubusercontent.com/444434/126780975-fee18bb0-c23c-400d-bbc9-573239f9b52f.mov

Have you tried using another Theme and/or a clean install of WordPress? Unfortunately this Issue doesn't seem to have followed the default bug reporting template provided in

[2021-07-23 12:26] getdave commented on #33647
Whoops! Forgot to close it 🤦

[2021-07-23 12:26] #33647 closed, assigned to nobody

[2021-07-23 12:27] amandarush commented on #29526
I will send an email later today to try and schedule a time, can work on this next week. Will try the other steps listed in further comments after the one that I left.￼

[2021-07-23 12:33] getdave commented on #33616
I was able to replicate this and it does seem to be a problem:

https://user-images.githubusercontent.com/444434/126782074-90a89e36-3e4e-4935-ab86-ccddd32e4929.mov

Once a post moves back to draft then the preview should be whatever is in the Editor, not what was previously published.

[2021-07-23 12:40] nnDjeff opened #33649 "Black "Add Block" button shifts to the left if no "Text" category blocks are allowed."
## Description
If you disallow all core "Text" category blocks, the black "+" (Add Block) button shifts to the left and the "Type / to choose a block" section disappears.
The pop-up with the different blocks is still centered, which makes for a jarring UI.

## Step-by-step reproduction instructions

1. Add the code snippet below to functions.php of a fresh install of Wordpress. I tested on 5.8, wi

[2021-07-23 12:59] CreativeDive commented on #33647
@getdave Thanks for the feedback. My issue is more related to the missing menu items on the left admin menu at "Appearance > Templates / Template Parts".

If Gutenberg is installed this menu items are visible all the time.

With WP 5.8. and deactivated Gutenberg plugin, this menu items are missing. Also if I use the "Twenty Twenty One" theme.

Is that an expected behavior?

[2021-07-23 13:00] adamziel commented on #33579
We have two ways of proceeding here:

1. Increase the batch size. The risk is that some slower hosts won't be able to process e.g. 150 batched requests and time out or run out memory in the middle.
2. Split e.g. 150 updates into 6 batches and send them to the server one after another. The risks: interrupted internet connection, validation error in batch 4.

In both cases there's a risk of data cor

[2021-07-23 13:04] getdave commented on #33616
Digging into this a little, removing this line appears to fix the problem...

https://github.com/WordPress/gutenberg/blob/aa22cd7714bbbd63b95dd9cfab0a894cba6d5ec2/packages/editor/src/store/selectors.js#L908

As the call to `getAutosaveAttribute` is deprecated I'm going to follow the upgrade path to see if we can fix this.

[2021-07-23 13:22] bph commented on #33647
@Creativedive in 5.8 the template editor was only added to the sidebar of the block editor when working on the page or a post screen. It took me a while to 'see' it, too.

[2021-07-23 13:32] NasKadir123 commented on #33636
@getdave OMG, I forgot to say that after changes of custom font size Update (in your case Publish) the page and refresh it.

[2021-07-23 13:38] karmatosed opened #33650 "Query block pagination and functionality missing when inheriting"
The moment you turn 'inherit' on in query block you lose a lot of functionality I would expect you still need.

![image](https://user-images.githubusercontent.com/253067/126788643-ffb717a2-6793-471f-b1a0-6554048f94d5.png)

![image](https://user-images.githubusercontent.com/253067/126789752-e545282f-5f1c-489d-8335-b1ecc6f9e33d.png)

There are 2 forms of inherit and they seem fairly clear, but what

[2021-07-23 13:54] ntsekouras commented on #31470
👋 - I can't reproduce this... Is this still happening for you?

[2021-07-23 13:54] NasKadir123 opened #33651 "FontSizePicker is not working with value type "number""
## Description
After update to WordPress 5.8 version FontSizePicker doesn't support value with type of number.

## Step-by-step reproduction instructions
https://github.com/NasKadir123/textBlock here is example of a custom block. This block is working in previous versions, but not in the new one. When you change Font Size in FontSizePicker for example to "large" it works, but if you insert number

[2021-07-23 14:10] CHEWX commented on #33583
Great idea!

[2021-07-23 14:12] CreativeDive commented on #33647
@bph thanks for confirming this. Perhaps it should be clarified whether it makes sense to make the templates menu item visible for WordPress by default? For now it's a missing page to manage all the created templates.

[2021-07-23 14:26] AnthonyLedesma opened #33653 "withFontSizes bug in WordPress 5.8 release"
With the release of WordPress 5.8 the `withFontSizes` HOC within '@wordpress/block-editor' has bugged behavior. The CoBlocks implementation of `withFontSizes` has remained unchanged for over two years yet is non-functional in 5.8.

https://github.com/godaddy-wordpress/coblocks/blob/4b6a23ebbca9a9702acf88316cf35aeedad8a5da/src/blocks/highlight/edit.js#L136

https://github.com/godaddy-wordpress/cobl

[2021-07-23 14:28] AnthonyLedesma commented on #33653
This might be related to the issue reported here as the problem is only visible after save and reload.
https://github.com/WordPress/gutenberg/issues/33636

[2021-07-23 14:28] mkaz opened #33655 "Deprecated block attributes not working?"
## Description

I struggled to update a block of mine to a new attribute, [following the documentation here](https://developer.wordpress.org/block-editor/reference-guides/block-api/block-deprecation/). I couldn't figure out what was going on so I created the siplest test block using the deprecated example code and still could not get it to work.

I'm not sure if there is an issue with the deprecat

[2021-07-23 14:41] sarayourfriend commented on #30706
Great, I've been asked to work on this so I'll wait until design takes a look.

[2021-07-23 14:46] mkaz commented on #33655
:thinking: I was able to get this to work, the class name gets auto added to the wrapping tag (even without useBlockProps) and if that is included in the post content it works as expected. The console log had the relevant info.

However, I don't think this is the same issue was running into with my other block.

Further testing is needed.

[2021-07-23 14:46] #33655 closed, assigned to nobody

[2021-07-23 14:54] dgwyer commented on #33583
This would be great for productivity and page management.

[2021-07-23 15:00] Mamaduka commented on #33651
Thanks for reporting the issue, @NasKadir123.

I'm able to reproduce it.

[2021-07-23 15:13] adamziel commented on #10251
A similar problem occurs when you save the post while some of the images are still being uploaded.

[2021-07-23 15:21] christianztamayo commented on #33643
Hi @TobiasBg I would like to take on this issue

[2021-07-23 15:21] Mamaduka commented on #33651
@NasKadir123

Here's temporary fix for the issue:

[code]

I will try to create PR for `withFontSizes` HOC shortly.

[2021-07-23 15:31] sajmes opened #33658 "[Widget Screen] Adding blocks to columns from 'Browse All' does not work as expected"
## Description

When adding a columns block in the widgets editor, adding blocks to the columns from 'browse all' does not behave as expected/how adding blocks to a column works in the regular editor. A block added from 'browse all' does not get added to the intended destination column where + was clicked. Instead it is added below the column block.

Adding blocks from the options presented in the

[2021-07-23 15:36] tomfinitely commented on #33583
Providing the ability to name blocks seems like a forgone UX conclusion: it would be next-level helpful, especially for creating bespoke tutorials for clients. I'm VERY excited to see this added to the list view.

[2021-07-23 15:40] JiveDig commented on #33583
I very much support this. It seems like, if this is added, the same field/label should also be available in the block sidebar (outside of list view) so you can name (let’s call it “label”) them while writing/editing/creating content.

[2021-07-23 15:41] thisissandip commented on #33644
Hey @javierarce, I cannot access the Figma file. Can you make it public?

[2021-07-23 15:45] javierarce commented on #33644
Sorry about that, @thisissandip! It's public now.

[2021-07-23 15:59] critterverse commented on #33583
Nice!

^ Sharing a previous sketch that could potentially compliment this proposal 😀

https://user-images.githubusercontent.com/77359364/126808120-c928a47f-6c34-4de7-b059-4065a3bed9a1.mov

[2021-07-23 16:00] karmatosed opened #33659 "Unable to edit URL of RSS if invalid"
Sometimes you make mistakes and have an invalid URL of a feed. The RSS block is a little too unforgiving.

![image](https://user-images.githubusercontent.com/253067/126809499-c7ce9197-873f-4013-a557-11d12c2b2a0d.png)

You are unable to edit it or do anything as far as I can see beyond remove the block and try again. Why can't I see? Because I don't know the pencil icon edits unless experienced use

[2021-07-23 16:02] thisissandip commented on #33644
Thanks @javierarce!

[2021-07-23 17:01] ndiego commented on #33212
@leeshadle did you ever get this working?

[2021-07-23 17:01] TobiasBg commented on #33643
Hi @christianztamayo! Sure, feel free to do so! Thanks a lot!

[2021-07-23 17:02] colorful-tones commented on #28714
This seems to be fixed in latest Gutenberg (11.1)

[2021-07-23 17:12] leeshadle commented on #33212
@leeshadle

@ellatrix

@ndiego no, this isn't currently possible.  For now, @ellatrix suggested extending the block editor settings instead.  I haven't tried doing this, it doesn't really make sense for my use case as I've got a lot of styles being compiled into a stylesheet...

[2021-07-23 17:22] NasKadir123 commented on #33651
@Mamaduka Thanks a lot, will be waiting the next update.

[2021-07-23 17:57] gwwar opened #33661 "Site Editor: Content Pane set to 150px"
With Gutenberg `trunk`/WP 5.8, I'm seeing the Site Editor height being set to 150px. This should fill to 100% of the edit-site-visual-editor div.

<img width="1186" alt="Screen Shot 2021-07-23 at 10 52 20 AM" src="https://user-images.githubusercontent.com/1270189/126822251-06320cb5-583c-49f3-8a2f-91c883693d03.png">

[2021-07-23 18:02] kjellr commented on #33661
I can reproduce in my testing as well:

<img width="1080" alt="Screen Shot 2021-07-23 at 2 00 44 PM" src="https://user-images.githubusercontent.com/1202812/126822769-684f2ea2-b168-44fe-ae74-9446eb4f0dd2.png">

[2021-07-23 18:09] bernhardklug opened #33662 "Easy Heading adding - highlight to create a heading block"
## What problem does this address?
I can't just insert my text and add headings when I highlight the part.
## What is your proposed solution?
Just add a Heading option to this menu and if I highlight it and then choose heading only this part will be a new heading block.
<img width="613" alt="Screenshot 2021-07-23 at 20 06 40" src="https://user-images.githubusercontent.com/81229174/126823559-f9e318

[2021-07-23 18:15] bernhardklug opened #33663 "Inserter: Allow user customisable 'favourites' for blocks in inserter"
## What problem does this address?
I always want to start scrolling when those 6 elements open.

## What is your proposed solution?
I would just need all blocks in there or an option to choose the most important ones.
<img width="503" alt="Screenshot 2021-07-23 at 20 13 06" src="https://user-images.githubusercontent.com/81229174/126824162-afa28e70-61cd-467a-98b0-263fb3a01c58.png">

It could only o

[2021-07-23 18:15] lucyllewy opened #33664 "@wordpress/scripts: v17.0.0 release didn't update package.json properly"
## Description
Installing `@wordpress/scripts@^17.0.0` installs `eslint-plugin-markdown@^1.0.2`. The 17.0.0 release __should__ have updated this dependency to 2.2.0, but seemingly has not done so despite the `package.json` file in this repository indicating otherwise. The `package.json` file that is associated with 17.0.0 from my system is below in the code snippet section.

## Step-by-step reprod

[2021-07-23 18:24] MVColombie opened #33665 "Shift-select in a group block doesn't select anything"
## Description
Impossible to edit text after selecting several words with SHIFT key.

## Step-by-step reproduction instructions
1. Make a "group" with a text block;
2. Try to select several words using SHIF key

## Expected behaviour
Be able to do something, delete selected text, edit text block, etc.

## Actual behaviour
It's freezing the block and all blocks around. Impossible to edit nothing.

[2021-07-23 18:38] tdesero opened #33666 "RichText Component not working with inline Toolbar inside InspectorControls because of z-index issue"
## Description
I am working on a custom block and I used the RichText component inside InspectorControls for this.
When I'm using my block, the Inline Toolbar for the RichText Component is not shown.
But when i disable the z-index of `.interface-interface-skeleton__content` inside the Chrome Dev-Tools it is working like expected again.

## Step-by-step reproduction instructions
Create a custom blo

[2021-07-23 19:02] mtias commented on #33391
Excellent writeup, @diegohaz. Agreed consistency is a crucial aspect of the library ergonomics since it provides a level of anticipation: if I learn one set of component APIs I can apply the same intrinsic patterns to a new set and expect it to work in similar ways. This allows for discovery and more joyful use of the components when they seem to _just work_.

For composition purposes this a must

[2021-07-23 19:19] codysmith44 commented on #33610
Can also confirm...starting writing a new bug report but figured I'd add my voice to this one.

[2021-07-23 19:37] gziolo commented on #33664
It wasn't included in the release and it's waiting for the next release:
https://github.com/WordPress/gutenberg/blob/trunk/packages/scripts/CHANGELOG.md#unreleased

You can learn more about the publishing process in the documentation:

https://github.com/WordPress/gutenberg/blob/trunk/docs/contributors/code/release.md#packages-releases-to-npm-and-wordpress-core-updates

We are using code from the

[2021-07-23 19:53] lucyllewy commented on #33664
Aah, I must have misread the commit logs. Sorry for the noise :-)

[2021-07-23 19:56] clfleury commented on #10745
@youknowriad This is something I just encountered as well. While it's not impossible to utilize the extra implementation as you said, I'm questioning the logic of just not including this in core. You said yourself it's not much or complex code; that negates the point that this would be a fully-fledged API that is difficult to maintain.

[2021-07-23 20:16] jeremyfelt opened #33667 "Legacy widget previews should include explanatory text"
## What problem does this address?

On a site with many existing widgets assigned to a variety of sidebars, the new block-based widget screen can be extremely slow to load. (For me, 29 seconds for 21 widgets across 5 sidebars)

The only feedback during this process is a series of spinning circles. I started to doubt that things were going to work and was about to navigate away from the widgets scr

[2021-07-23 21:08] gwwar commented on #33661
@ellatrix do you mind taking a look? I ran git bisect and it seems that this regession is coming from https://github.com/WordPress/gutenberg/pull/32323

Likely the iframe needs some updated event handling.

[2021-07-23 21:27] nixsee commented on #32438
I'd also make the same observation about dragging blocks within List View - you have to find a small sliver at the top and bottom of the list rather than anywhere beyond the first and last blocks.

[2021-07-23 21:28] bph commented on #33647
It will all come with the next iteration to core in 5.9. The template managing a screens and menus haven't been tested thoroughly yet - that's why their are only available in the plugin.

[2021-07-23 21:39] TimothyBJacobs commented on #33579
Didn't we have sub batching implemented at some point? It seems like it might've been lost in one of the refactors.

I'm fine with increasing the batch size, it was a fairly arbitrary number, but we have to keep in mind that the batch limit isn't currently per endpoint type, it's global. So I'd prefer to be conservative.

[2021-07-23 22:01] JoshuaGoode opened #33668 "Editor / Safari: Metabox panels floating over editor content area (10.7.0+)"
## Description
As of Gutenberg 10.7.0, and now WordPress core 5.8, metabox panels are no longer restricted to their editor region and are floating over the editor content area in Safari.

It seems `display` changes to `.edit-post-visual-editor` might be related.  Possibly from https://github.com/WordPress/gutenberg/pull/32581

## Prerequisites

* If the site is running a version below WordPress 5.

[2021-07-23 22:03] JoshuaGoode commented on #33668
## Workaround

One workaround, for now, is to hide the panels.

1.  Access your editor preferences while in the editor by clicking **⋮** > Preferences
2. Disable the additional panels within the Panels area.
![image](https://user-images.githubusercontent.com/4887830/126845696-d80ec864-2614-44b7-8f2c-0c6ca123f634.png)

[2021-07-24 03:26] chthonic-ds opened #33669 "Link color: multiple wp-elements-* classes and duplicate style elements"
## Description

Setting a link color for an element sets two unique classes on its parent element.

## Step-by-step reproduction instructions

1. Select some text and create a link.
2. In the Color panel, set a link color.
3. Observe something like the following:
[code]
Seems similar to #33005.

## Expected behaviour
To have a single class and style element added.

## Actual behaviour
Two classes

[2021-07-24 07:47] draganescu opened #33670 "Block manager hides blocks"
## Description
In the block manager I can see there are hidden blocks but I can see no way of unhiding them.

## Step-by-step reproduction instructions
1. On WordPress 5.8
2. Install the Lalita theme (not sure if this causes anything)
3. Edit a post
4. Go to the top right corner and click the dotted menu
5. From that menu choose block manager
6. Observe if bug is present: all blocks are enabled bu

[2021-07-24 08:55] carolinan commented on #33583
Maybe it should still show the block type? "Features area (Group)"

[2021-07-24 09:24] dgwyer commented on #33583
Or show block type when hovered over? It might add a lot of visual 'noise' displaying a custom label and the block type together?

[2021-07-24 09:25] dgwyer commented on #33583
Should a custom block label be a different color to the default block type label to indicate it has been changed? Or be italicized etc?

[2021-07-24 09:27] kspilarski opened #33671 "New Block Widget: Add Visibility Options"
## What problem does this address?
In the new block widget, there is no option to configure visibility.

**New block widget (without visibility options):**

<img width="297" alt="Screen Shot 2021-07-24 at 11 13 19 AM" src="https://user-images.githubusercontent.com/36863633/126863837-91f26343-04a8-4094-a2d7-ade05c783e9f.png">

<img width="595" alt="Screen Shot 2021-07-24 at 11 17 51 AM" src="https:

[2021-07-24 09:30] kspilarski commented on #33671
User report: 30758048-hc

[2021-07-24 10:24] mtias commented on #33671
Widget visibility is a Jetpack feature, not a core one. I believe it's supported for non-block widgets already, but you can follow up on https://github.com/Automattic/jetpack/issues/20057

[2021-07-24 10:24] #33671 closed, assigned to nobody

[2021-07-24 12:44] 4faster commented on #33078
In my case,
it is not only paragraph to list,
but also any other block type to list block.

However, it has no problem if doing copy-paste from a list to another list
https://wordpress.org/support/topic/version-5-8-gutenberg-cant-copy-some-text-from-a-block-to-list-block/

[2021-07-24 14:09] mkaz commented on #33664
I don't think it's necessary to do a bug fix release, unless it is causing a problem some how? The upgrade was just general maintenance to remove some deprecation warnings and to try to keep packages more up to date, there was not a specific fix or issue that required it.

@diddledan was there an issue, or did you just noticed the discrepancy?

[2021-07-24 14:14] lucyllewy commented on #33664
It's marked as a vulnerable dependency with severity "high" by npm audit

[2021-07-24 14:53] heyjoecampbell commented on #33583
#GreatIdea 👍🏽

[2021-07-24 16:27] mkaz opened #33672 "Can not deprecate and migrate attributes for a block that use filters"
## Background

My [code-syntax-block plugin](https://wordpress.org/plugins/code-syntax-block) extends the `core/code` block adding a language attribute that the user can set, it uses this with the Prismjs library to add color syntax on the front-end.

The markup I used looks lile: `<code lang="javascript"> // foo </code>`

This turns out to be an accessibility issue since the `lang` property shoul

[2021-07-24 19:27] dashkevych commented on #32473
It seems like this issue has not been fixed. It still shows two links in the Editor:

![Excerpt issue](https://snipboard.io/4kszqp.jpg)

I've tested it in WordPress 5.8 with Twenty Twenty-One (Version: 1.4)

[2021-07-24 19:53] CreativeDive commented on #21718
This same thing happened if I try to add a new "block template" in the block editor sidebar. In my case if have disabled the core block "`core/separator`" in the following way:

`wp.blocks.unregisterBlockType( 'core/separator' );`

But if the default template includes a "`core/separator`" block as a part of the template, this breaks all. The template editor dosen't work in this case. I get a white

[2021-07-24 21:11] bfintal opened #33674 "Export other React APIs in bundled React"
## What problem does this address?
I'd prefer to use the bundled React and ReactDom in Gutenberg which are both available in `wp.element`, as opposed to shipping another version of React into the scripts I load in the editor.

Some of the third-party libraries I use import React and/or ReactDom functions, and unfortunately because of this the whole React code gets joined into my codebase.

I reali

[2021-07-25 06:53] mathiasmadsen commented on #27809
I would love a feature like this. Here is my suggestion on how it should be setup in the theme.json file:

[code]

[2021-07-25 09:33] mkkeck opened #33675 "Making css class names for colors configurable"
## What problem does this address?
I am developing a theme based on a specific css framework, which includes predefined class names for colors. For example it uses `has-color`, to define if element has a color and with `has-color-success` to define a greenish text. The same class is used for buttons, means the button has only the class `has-color has-color-green`, which results in a button with gr

[2021-07-25 11:17] christianztamayo commented on #33643
Great @TobiasBg. I just became available today and have now submitted a PR. Thanks!

[2021-07-25 12:12] AlecRust commented on #31061
Is this workaround really what's necessary to bring back this inner container my layout relies on?

https://epiph.yt/blog/2021/wordpress-5-8-wp-block-group__inner-container-wieder-hinzufuegen/

[2021-07-25 15:06] eliawk commented on #24403
Same error con WP 5.7.2

[2021-07-26 04:13] tellthemachines commented on #29697
Gradient picker is stable as of #31440, so I'm going ahead and closing this issue.

[2021-07-26 04:13] #29697 closed

[2021-07-26 05:15] chthonic-ds commented on #31061
My understanding is `div.wp-block-group__inner-container` was intentionally removed some time ago, though there's a check that restores it if there's no theme.json file. In core, the function that handles this is in wp-includes/block-supports/layout.php: `wp_restore_group_inner_container()`.

Looking at the regex in that function, it assumes `div.wp-block-group` will be the parent. If you have a d

[2021-07-26 06:01] talldan opened #33678 "List view drag and drop - make it possible to drop at all levels of the hierarchy"
## Description
At the moment, there's a known issue when dragging and dropping in List View. It's only possible to drag a block where there's an adjacent block at the position you wish to drop to.

For example, in the following structure, a paragraph can't be moved to after the group because the drag and drop system uses the presence of other blocks to determine the drop target:
<img width="343" a

[2021-07-26 06:28] talldan commented on #33583
This was previously proposed for group blocks - https://github.com/WordPress/gutenberg/issues/16296, and there are some comments on that issue. It could be worth going back and closing that one as a duplicate if this issue gets more traction.

For some background, there have been some alternative ideas that have been explored along similar lines:
- Being able to edit parts of a block directly in L

[2021-07-26 06:41] tellthemachines commented on #23331
Theme support can only be set in the theme's PHP files, there's no way to change it in the editor. What you can do is create a child theme and [remove theme support](https://developer.wordpress.org/reference/functions/remove_theme_support/) for a certain parent theme feature. However, that'll work on a global level, it won't be template-specific.

The new [layout configuration](https://make.wordpr

[2021-07-26 06:58] talldan commented on #33610
Seems to be the multi-selection code that triggers the error. Right here the `startRef.current` and `endRef.current` are `null`:
https://github.com/WordPress/gutenberg/blob/trunk/packages/block-editor/src/components/writing-flow/use-multi-selection.js#L134-L135

`getDeepestNode` then throws an error.

[2021-07-26 07:04] Mamaduka commented on #33670
I'm not able to reproduce the issue on clean installation. I tested with Lalita and TT1 themes.

Do you have any other blocks plugins active on installation?

[2021-07-26 07:11] talldan commented on #29497
Doing some organization, and going to close this one as a duplicate of #24174 and #24750, which I think covers the two points.

[2021-07-26 07:11] #29497 closed

[2021-07-26 07:18] talldan commented on #32819
@critterverse I think this might be the same idea as #9783

[2021-07-26 07:21] fklein-lu opened #33681 "`theme.json` Global Styles: font family CSS not output on the frontend"
## Description

When setting a font family through `theme.json`, the necessary CSS is not output on the frontend.

## Step-by-step reproduction instructions

1. Given a website running TT1 blocks.
2. Add the following into the `styles` section of the `theme.json`:
[code]
3. Open the site editor, and see the font being applied.
4. Visit the frontend, and see the font missing.

## Expected behaviour

[2021-07-26 07:28] KokkieH opened #33682 "Block: Latest Comments - add filter for types of comments"
## What problem does this address?

Currently the Latest Comments block displays all comments, including approved pingbacks. But site owners might prefer to only have actual comments show, or they might be fine with pingbacks from other sites being included, but would like internal/self-pings to be excluded.

## What is your proposed solution?

It would be handy to have a filter to display any com

[2021-07-26 07:33] talldan commented on #23667
Closing as I think this is the same general problem as #29511.

[2021-07-26 07:33] #23667 closed

[2021-07-26 07:34] talldan opened #33683 "Block drag and drop tracking issue"
## Prioritised list of tasks (good to aim for in WP 6.5)

If possible, it'd be good to fix or explore solutions for the following for WordPress 6.5.

* [x] https://github.com/WordPress/gutenberg/issues/56463
* [x] https://github.com/WordPress/gutenberg/issues/56182
* [x] https://github.com/WordPress/gutenberg/issues/13202
* [x] Drag images onto image block to make a gallery ([Images: Support for d

[2021-07-26 07:40] talldan opened #33684 "List view drag and drop: expand collapsed parent blocks when dragging over them"
## What problem does this address?
The title is fairly self-explanatory. Currently when dragging and dropping, collapsed parent blocks stay collpased, so there's no way to drop into them.

## What is your proposed solution?
Expand a collapsed area when dragging over it. There's an example in this comment - https://github.com/WordPress/gutenberg/issues/29727#issuecomment-854493551

https://user-ima

[2021-07-26 07:44] ellatrix commented on #33661
Thanks! I'll have a look today

[2021-07-26 07:51] talldan opened #33685 "List view drag and drop: Highlight parent blocks when dragging into inner blocks"
The design (https://github.com/WordPress/gutenberg/issues/29727#issuecomment-854493551) for dragging and dropping blocks in list view shows parent blocks being highlighted when dropping into them:

https://user-images.githubusercontent.com/846565/120647790-e27b9d80-c472-11eb-8e6f-aa6f6709d61d.mp4

[2021-07-26 08:00] talldan opened #33686 "List view drag and drop: Make it more obvious blocks can be dragged"
## What problem does this address?
This was feedback on the PR that enabled drag and drop - https://github.com/WordPress/gutenberg/pull/33320#issuecomment-877323357

## What is your proposed solution?
A simple first option might be to show the 'drag' pointer when hovering over the block icon.

There might also be other visual improvements, though a drag handle might make things a bit visually busy

[2021-07-26 08:03] ntsekouras commented on #32473
Currently `PostExcerpt` block does show the rendered output in the editor, but if the theme uses `excerpt_more` filter, it's removed in the front-end. You can read the PR's description with these changes, where I explain some challenges to make this block consistent.

It will need more thinking and explorations in the future to make this as consistent as possible, but all the applied filters which

[2021-07-26 08:20] swissspidy commented on #33557
Do you know https://www.npmjs.com/package/devcert?

It seems to offer everything you seem to be looking for here and is hugely popular & stable.

I would not reinvent the wheel if this supports all requested features.

[2021-07-26 08:23] talldan commented on #33670
To reproduce:
1. Add a plugin that has a block collection
2. Uncheck the visibility for the blocks from the plugin
3. Disable/uninstall the plugin

The problem is that the hidden block names are persisted in local storage, but not displayed in the list or removed from the hidden count once the plugin is no longer active.

[2021-07-26 08:26] antonyjsmith commented on #27620
Just to weight in here to provide some end user perspective.

Rolling out a new block which is aimed at replacing blocks like 'Latest Posts' before reaching feature parity is a major pain in the ass as you keep having to relearn stuff, hit brick walls and end up at GitHub, which lets be honest, isn't somewhere your average Joe is going to want to start digging around to find out why they can't cha

[2021-07-26 08:46] youknowriad opened #33687 "Flex Layout Iterations"
In https://github.com/WordPress/gutenberg/pull/33359 we added the possibility for blocks to support multiple layouts: the default "flow" layout and the new "Flex" layout. In the future, we'll be also introducing other layouts like "Grid" or "Absolute positioning  container"...

**What is a layout?**

A layout is a configuration you apply to a container block that changes how its inner blocks are a

[2021-07-26 08:52] talldan commented on #33675
@mkkeck I don't think that's really feasible, as it'd mean re-writing the whole of WordPress core's block styles to fit the modified naming convention. This is a very niche use-case, it'd be a lot of work just to support one theme that wants a different naming convention.

[2021-07-26 08:52] #33675 closed, assigned to nobody

[2021-07-26 08:57] themeansar opened #33688 "Where to add Widget title in sidebar"
Hi,

Where to add widget title in sidebar like this: https://prnt.sc/1g37eyw

[2021-07-26 08:59] #24473 closed

[2021-07-26 09:13] antonyjsmith commented on #25450
Second this, being able to add a button to link to a post kind of feels like the most bog standard of requirements for MVP with this block.

I had high hopes for the query block in 5.8 but so far it's effectively unusable for me in the current state. Due to this issue and #27620

[2021-07-26 09:13] talldan commented on #33668
Also reported on the forums:
https://wordpress.org/support/topic/editor-issue-with-custom-fields-and-metabox-area/

[2021-07-26 09:18] talldan commented on #33688
@themeansar With blocks, there's no specific title.

A separate heading block can be used instead to serve as the title. The heading and the calendar blocks could be grouped together as well for a structure more like widgets had.

In future, there might be an easier way to do this, some background in this issue - https://github.com/WordPress/gutenberg/issues/32723.

[2021-07-26 09:18] #33688 closed, assigned to nobody

[2021-07-26 09:23] mkkeck commented on #33675
I don't mean rewrite the whole core block styles. I suggested an option to make it available to filter and/or configure to replace the default block color class names.
Is it really impossible?
And of course, many css frameworks use a different color class naming convention, instead Wordpress does, where the color name is the last part, ie `property-to-set-color`.

[2021-07-26 10:24] adamziel commented on #33681
Hey @fklein-lu,

Based on this documentation here:
https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-json/#settings

I think the property is actually called `fontFamilies` and not `fontFamily`. If you change that, would it fix the problem?

[2021-07-26 11:30] fklein-lu commented on #33681
@adamziel No, we're talking about two different things here.

`fontFamilies` is a setting and enabled the font family drop down. `fontFamily` is a style, and styles content.

[2021-07-26 11:38] alokispandey opened #33691 "Wordpress 5.7 Crashing "the editor has encountered and unexpected error""
## Description

 Every time I click on New  > "expand"  any in POST (like premalink or categories..etc"). Wordpress reports error

![image](https://user-images.githubusercontent.com/19645013/126979002-a7b6ba88-a6a7-45ff-baa4-87415338b7b5.png)

If i revisit this page (by clicking on back-button and then click on forward button),   i can see that section is expanded/open.

![image](https://user-imag

[2021-07-26 11:40] javierarce opened #33692 "Navigation editor: it's very difficult to unselect items"
If I click on an item to edit it, clicking outside the menu won't unselect it unless I click the space above or below the menu twice.

In the video, clicking above the menu doesn't work because instead of the content area, I'm interacting with the navigation header.

https://user-images.githubusercontent.com/4933/126982733-4486f996-f2b3-42e3-9833-2ad1fb257aaa.mp4

## WordPress information
- WordPr

[2021-07-26 11:54] javierarce opened #33693 "Navigation editor: pressing the Esc key opens select mode"
In the Navigation editor, it's possible to invoke the select mode by pressing the <kbd>Esc</kbd> key, just as in the Site editor. I'd like to propose removing this key binding since there's no indication in the UI of which is the currently active mode (or a way to switch between them).

This unexpected change is especially confusing when paired with this bug: https://github.com/WordPress/gutenberg

[2021-07-26 12:16] Addison-Stavlo commented on #29950
Create a new template part based on predefined block patterns
(Bonus button) Create a new template part from scratch

I feel that adding a 3rd button is a bit odd.  Since the patterns selector allows you to 'start blank', the bonus button doesn't add any new functionality but puts us in a state where we have 2 buttons for the same action (creating a new template part), alongside 1 button for selec

[2021-07-26 13:47] #33566 closed, assigned to Mamaduka

[2021-07-26 13:58] draganescu commented on #33658
I tested and can confirm this broken behavior.

[2021-07-26 15:09] ndiego commented on #33681
Thanks for reporting this @fklein-lu, I meant to do it, but never got to it. I believe it is basically everything that Gutenberg supports in theme.json breaks on the frontend if you are running 5.8 (which includes font families).

[2021-07-26 15:33] javierarce commented on #33538
I've been trying to find a Figma file with the original design for that field, and I've found some ideas [in this file](https://www.figma.com/file/5guogx5ebxfqJgUQNj5hta/Core-Navigation?node-id=149%3A1007).

<img width="347" alt="Screenshot 2021-07-26 at 17 06 21" src="https://user-images.githubusercontent.com/4933/127012438-bee0cbff-e14d-46ae-90a8-b2f7cfccc9a5.png">

On that page, the input field

[2021-07-26 15:56] javierarce commented on #33538
Besides the background color, the style of the search field is different from the one used to search blocks and patterns. So +1 to update its design.

![image](https://user-images.githubusercontent.com/4933/127020326-77fb9243-0c1d-4754-a500-ede5df048153.png)

[2021-07-26 16:59] #32099 closed, assigned to mschristo, thisissandip

[2021-07-26 17:33] kellychoffman commented on #31456
@javierarce - Option 2 is much more clear and draws a nice separation between the two types of actions. One thought - The "Discard all changes" looks like the main and intended action button. What do you think about adding an additional button that essentially closes the panel and allows users to more clearly take a non destructive action?

[2021-07-26 18:02] bobmixon opened #33700 "WordPress caught an error with one of your plugins, Gutenberg"
## Description
I received an email indicating an error was caught. This is at the bottom of the email.
Error Details
=============
An error of type E_ERROR was caused in line 12 of the file /var/www/wp-content/plugins/gutenberg/lib/full-site-editing/class-wp-block-template.php. Error message: Cannot declare class WP_Block_Template, because the name is already in use

## Step-by-step reproduction i

[2021-07-26 18:12] ellatrix commented on #33591
@pierlon Could you share a screenshot of the page? Is the admin **menu** visible on the page?

[2021-07-26 18:16] #33661 closed, assigned to ellatrix

[2021-07-26 18:19] westonruter commented on #33591
@ellatrix No, neither the admin menu nor the admin toolbar are shown on this page.

[2021-07-26 18:20] westonruter commented on #33591
It's a full-screen "wizard". In the AMP plugin, you can access it by activating and navigating to the onboarding wizard. I recall Yoast and WooCommerce have something similar.

[2021-07-26 18:42] karmatosed commented on #33681
I think I might also be experiencing this issue also. I am unsure because it's slightly inconsistent for me almost working on my local install but not on hosting. I had such a hard time trying to debug this over the weekend and ended up hardcoding font-family into theme.json which seemed a stepbackward. Everything was working for me before the update.

[2021-07-26 18:45] anton-vlasenko commented on #33649
I'm able to reproduce the issue.
With enabled "text" blocks:
![Screenshot 2021-07-26 at 20 34 39](https://user-images.githubusercontent.com/43744263/127041937-0c394dab-570f-4735-ab54-167c61417883.png)
With disabled "text" blocks:
![Screenshot 2021-07-26 at 20 34 58](https://user-images.githubusercontent.com/43744263/127042013-5af141e5-d18a-4896-9721-b33600f27c96.png)

[2021-07-26 20:21] gwwar commented on #33077
@vcanales have you had a chance to 👀 what might be happening?

[2021-07-26 20:28] #33591 closed, assigned to ellatrix

[2021-07-26 21:46] anton-vlasenko commented on #33700
@bobmixon It looks like this issue is specific to your WordPress installation.
It's happening because it tries to redeclare existing class twice.
I have Gutenberg plugin enabled and I don't get this error.
Could you please provide steps on how to reproduce this issue because I'm not able to do it?
BTW to resolve your issue you can try to rename your `wp-content/plugins/gutenberg` folder to `wp-con

[2021-07-26 21:49] bobbingwide commented on #31986
It's not just the site editor that breaks when `theme.json` contains invalid values.

I got the following Fatal error just visiting the site when I set `settings.color.gradients` to `false`.
Setting it to an empty array resolved the problem.

[code]

[2021-07-26 22:14] jffng commented on #33436
👋

From the snippet you shared, I think you are missing a "typography" key underneath the block, so it would look like:

[code]

Let me know if that helps...

[2021-07-26 23:09] chriscasper commented on #16560
Any update to this?

[2021-07-27 01:40] talldan commented on #33700
Seems related to this - https://core.trac.wordpress.org/ticket/53432, though it looks like that was fixed before WordPress 5.8 was released.

[2021-07-27 02:44] aaronrobertshaw commented on #33319
Closing this issue as the [PR](https://github.com/WordPress/gutenberg/pull/33485) addressing the ability to clear number controls has landed.

[2021-07-27 02:44] #33319 closed, assigned to aaronrobertshaw

[2021-07-27 04:31] pbking opened #33705 "Provide configured layout values from theme JSON as CSS variables."
## What problem does this address?

Sometimes it's necessary to use the values of `layout.contentSize` or `layout.wideSize` defined in theme.json in a theme's CSS.

## What is your proposed solution?

Render the `layout` values as wp-preset CSS variables:
[code]

[2021-07-27 05:41] talldan commented on #33675
@mkkeck Nothing is impossible, but feasibility isn't the same as possibility.

Feature requests have to be considered on a number of criteria like the following:
- Does it provide value to the majority of WordPress users?
- How much effort is it to develop and maintain?
- Is it a feature that can comfortably be made backwards compatible and compatible with plugins? (but also for this specific feat

[2021-07-27 05:43] chthonic-ds commented on #33705
Previously: https://github.com/WordPress/gutenberg/issues/33184

[2021-07-27 06:52] #33318 closed, assigned to aaronrobertshaw

[2021-07-27 08:32] talldan commented on #33700
Also reported on the forums here:
https://wordpress.org/support/topic/how-to-uninstall-plugins-manually/

[2021-07-27 09:15] ribaricplusplus commented on #31470
Couldn't reproduce it anymore either on WordPress 5.9-alpha-51415 no Gutenberg installed.

Closing.

[2021-07-27 09:15] #31470 closed, assigned to nobody

[2021-07-27 09:17] anton-vlasenko commented on #33705
Since this issue is a duplicate of https://github.com/WordPress/gutenberg/issues/33184 and https://github.com/WordPress/gutenberg/pull/30081, just as @chthonic-ds mentioned, I think it makes sense to close it.

[2021-07-27 09:17] #33705 closed, assigned to nobody

[2021-07-27 10:06] paaljoachim opened #33706 "Hide embed variations from in page (slash) inserter."
## What problem does this address?

It would be nice to remove the embed variations that show up in the in page / (slash inserter).

![Screen Shot 2021-07-27 at 12 01 15](https://user-images.githubusercontent.com/5323259/127135814-c3b955a8-e3f5-4657-8d53-872977f46b2a.jpg)

![Screen Shot 2021-07-27 at 12 00 52](https://user-images.githubusercontent.com/5323259/127135827-781845f5-c2b2-4309-984d-6ba6

[2021-07-27 10:13] paaljoachim commented on #25676
Hey @artifex404 Igor

Can you create an example of your code that for instance includes Imgur etc embed variation? For instance hiding Imgur, Animoto and Amazon Kindle?
Can I add this as a code snippet to the functions.php file?

[2021-07-27 10:38] ocean90 commented on #24485
@gziolo It looks like the React update wasn't documented in any changelog which means the change in `@wordpress/element` was released as a minor release while it should have been a major release I think. Now packages like `@wordpress/data` also require React 17 which doesn't mention that new requirement in the changelog. This is mostly an issue where the packages are used outside of the regular Wo

[2021-07-27 10:39] amongthestones commented on #33583
💯

[2021-07-27 10:58] #31515 closed, assigned to getsource

[2021-07-27 11:42] bobbingwide commented on #33681
After much tracing and debugging I found a workaround.
https://github.com/bobbingwide/written/issues/12#issuecomment-887435159

Set one or both of `WP_DEBUG` and `SCRIPT_DEBUG` to `true`.

in `wp-config.php`
[code]

[2021-07-27 12:11] gziolo commented on #24485
@ocean90, good catch. It's definitely a huge deal.

Do you think we could downgrade React to `16.13.x` and publish a patch release, then add an entry in the changelog and bump again to `17.0.x` to ensure that all other packages pick it up correctly next time we publish all changed packages?

We could also check if making React and React DOM a peer dependency would work in this case. Not sure what

[2021-07-27 12:32] #19940 closed

[2021-07-27 12:49] hellofromtonya commented on #33700
Hello @bobmixon, More information is needed for investigation:

- What is the WordPress' version number?
- What is the Gutenberg plugin's version?
- Did the fatal error happen during an upgrade process?
     - If yes, was it during a WordPress upgrade or plugin upgrade?

[2021-07-27 12:50] hellofromtonya commented on #33700
Context Notes:

- Older versions of the plugin (< 10.7) have incompatibilities with WordPress 5.8 which can cause a fatal error.
- As @talldan noted, a [fix was added to WordPress 5.8.0](https://core.trac.wordpress.org/ticket/53432) that deactivates an older version of the Gutenberg plugin.
     - If the plugin is reactivated manually, then the plugin's installation causes a fatal error and the pl

[2021-07-27 13:38] ashfame commented on #33691
Hi @alokispandey

I tried with a fresh WP 5.7.2 install with no plugins & Twenty Twenty-One theme. I couldn't reproduce your issue. I tried both on Mac (Safari) And Firefox (Linux) but I was able to open/close these sections (like permalink, category) and publish a post normally. This could be an issue with your browser extensions causing a conflict. Can you try in private mode? In another browser

[2021-07-27 13:45] draganescu opened #33709 "Add a "Block Title" attribute for List view and for contexts that need block title"
Part of the new widgets editor refinement (see #33242) is to add better support for implementing a traditional Title + Widget layout ([Context](https://github.com/WordPress/gutenberg/issues/32723)).

At the same time the List view in block editors (see #33583) seems to be less useful with the generic block names used, and a Block Title may be useful like a sort of human identifier in document's th

[2021-07-27 13:45] adamziel commented on #33583
I wanted to surface a discussion I had with @draganescu. Andrei asked:

To which I replied:

Which then became a matter of having either a invisible `<a name="Human readable name"/>`, or using whitespaces in IDs.

According to [developer.mozilla.com](https://developer.mozilla.org/en-US/docs/Glossary/Whitespace):

Still, technically this worked:

<img width="434" alt="Zrzut ekranu 2021-07-27 o 15 4

[2021-07-27 13:45] javierarce commented on #31667
I've been working on a couple of different new proposals for the UI of this feature. Here's a first idea based on a modal window:

![image](https://user-images.githubusercontent.com/4933/127162053-a3205059-1a7b-49d8-9b09-adb307dc7b9a.png)

Like in the original editor, users can use the dropdown to insert pages, posts, categories, tags, and formats. I haven't included  "Custom Links" because we cou

[2021-07-27 13:46] adamziel commented on #33709
Just surfacing this relevant comment: https://github.com/WordPress/gutenberg/issues/33583#issuecomment-887526402

[2021-07-27 13:55] adamziel commented on #33709
Some rough thoughts

* What if I want a single title for a few widgets?
* What if I don't want a title?
* What if I want a different font/color/size in my title or a part of it?

[2021-07-27 14:00] gziolo commented on #33664
Let's wrangle a release this week when the new RC version for the Gutenberg plugin is ready 👍🏻

[2021-07-27 14:01] Addison-Stavlo commented on #29950
Interesting Idea!  I think the downside here is that it removes the ability to see previews for mobile screen widths.  Although perhaps that is not a huge deal, as you noted the previews are small and hard to see as is.

A small improvement prior to a redesign might be adding a gray background and some outline to prevent them from running together as much. 🤔

[2021-07-27 14:25] vcanales commented on #33077
I have, and I've run into further environment-dependent errors. In the context of #31716, tests on `specs/experiments/blocks/navigation.test.js` fail on GitHub Actions, but not locally. This seems to be related to mocks though, although I'm not entirely sure why mocks would be racing. Still looking into this — at the moment, playing around with refactoring mocking functions; they are implemented d

[2021-07-27 14:32] draganescu commented on #33709
In the case of the widget editor we'd emulate with this attribute what the default title of widgets did, so you'd have one title per block. If you don't fill nothing in, no title. The appearance of the rendered title are only controled by themes in the classic context because `WP_Widget_Block` is the only thing that will even render this. For all the other contexts this attibute would be used inte

[2021-07-27 14:33] mtias commented on #33706
This would make it harder to select specific embeds, which is useful for many reasons. Forcing it to be an exact match could be fine, but also quite rough — typing `youtub` would list nothing until I type the final "e" and it can make it seem like there's no embed for it. I don't think this would be an enhancement.

[2021-07-27 14:35] paaljoachim commented on #33706
Yeah. I can see that. I am basically looking for ways to where we can hide the least used options from the slash inserter. Having the most used options show up initially and as the user adds additional letters other less used options could also show up.

[2021-07-27 14:36] kellychoffman commented on #33481
For the amount of content shown, it could be a bit disruptive. We should better utilize the block description area for informing and educating users. We can add a link off to learn more within there as well. I'd reserve this guide for something that is multi page or introduces a larger change.

[2021-07-27 14:40] mtias commented on #33706
We have discussed before the notion of having blocks "hidden" from the inserter but discoverable in search. Perhaps that can be a way to treat some of these embeds. Though at the same time a large part of the impetus of blocks was to unearth what was hidden for regular users.

[2021-07-27 14:52] sabernhardt opened #33711 "Allowing usemap attribute in image blocks"
[Originally reported on Trac](https://core.trac.wordpress.org/ticket/51897), `usemap` and `id` attributes are flagged and/or removed as "unexpected or invalid" content in an image block.

With the "Convert to Classic Block" option, at least you can keep the `figure` and `figcaption` markup from the block when the validation throws an error (it's better than switching to an HTML block). However, th

[2021-07-27 14:54] adamziel commented on #33540
The API request PR is not a draft anymore: https://github.com/WordPress/wordpress-develop/pull/1508

@noisysocks would you mind reviewing?

[2021-07-27 14:55] paaljoachim commented on #33706
An example.
Write / and see most used block show up.
Write / I and have any "high level" / "Most used" blocks will show up that contain the letter i.
Write / I and another letter and have more precis blocks show up that contain the specific letters.
Etc.
In a sense this would with create a more refined overview based on letters added. I assume somewhat similar to what we have today, only a bit mor

[2021-07-27 15:07] richward111 opened #33712 "Changing text in a paragraph block to bold doesn't work properly."
## Description
When I highlight text in a paragraph block and press B for bold, only part of the text goes bold. When I try again, a different part of the text goes bold. When I look at the HTML view, the 'strong' tags are randomly entered within the text rather than at the start and end of the text I highlighted.

Edit: this seems to have most consistently if, when you are making a selection, you

[2021-07-27 15:15] adamziel commented on #33576
Where would you document that? Personally I think that release notes + blocks docs on WordPress.org are both a good place for that. I'm happy to create a PR for that.

Wait, did you mean 5.8? @peterwilsoncc

Good idea! I just updated that snippet.

[2021-07-27 15:35] vcanales commented on #33077
Something else is that [removing `waitFor` from the `reload` call](https://github.com/WordPress/gutenberg/pull/31716/files#diff-0ac4f611dd5780841feef3669eb221b9fbd60857c609488f0de01fd4698c687aL635-R681) seems to fix the flakiness from the frontend file tests that were being previously skipped. [`waitUntil` defaults to `load`](https://github.com/puppeteer/puppeteer/blob/main/docs/api.md#pagereloado

[2021-07-27 15:51] bobbingwide commented on #33681
Digging deeper, it's a problem with the caching in `gutenberg_experimental_global_styles_get_stylesheet()`

[2021-07-27 16:10] MaggieCabrera commented on #33681
Can confirm that this is happening using emptytheme following the same steps from the issue. It can be seen on the theme directory preview, for example: https://wp-themes.com/quadrat/

[2021-07-27 16:25] karmatosed commented on #33681
The debug point rings true for what I was experiencing it being not on my local install and issue but on hosted an issue. So confirming that is the case for me also.

[2021-07-27 16:28] gziolo commented on #33344
It feels like some sort of integration with the release process of the Gutenberg plugin should ensure that the same version `caniuse-lite` is used by all tools that have it defined as a deep dependency. @youknowriad, do you think we could add `npx browserslist@latest --update-db` call at the time the RC of the Gutenberg plugin is published with the GitHub workflow? The result of the command could

[2021-07-27 16:49] critterverse commented on #33481
Like this idea! I've updated the issue title and description.

[2021-07-27 17:09] bobmixon commented on #33700
Hi Tonya,

I am not able to log into admin to see any of these details.

I haven't done anything to the site, no upgrades, no posts, etc in over a year. My blog is hosted by godaddy and they do updates, etc. I received the first email a week ago.

Thank you!

Bob Mixon
Microsoft SharePoint MVP
Senior Office 365/SharePoint Solution Architect and Administrator

Nothing in this message should be inte

[2021-07-27 17:16] richward111 commented on #33712
I have also tested by reverting to 5.7.2 (not a backup) and the problem disappears. I therefore believe this to be a bug in the 5.8 update.

[2021-07-27 17:34] bobmixon commented on #33700
Hi Anton,

Renaming the Gutenberg folder to Gutenberg-disabled worked. Is it safe for me to just remove this plugin?

Thank you!

Bob Mixon
Microsoft SharePoint MVP
Senior Office 365/SharePoint Solution Architect and Administrator

Nothing in this message should be interpreted as a digital or electronic signature that can be used to form, execute, document, agree to, enter into, accept or authenti

[2021-07-27 17:50] sagarnasit commented on #33681
Looks like global style loader is setting transient (https://github.com/WordPress/WordPress/blob/master/wp-includes/script-loader.php#L2313) which is causing this issue.

Setting up `WP_DEBUG` is skipping styles loading from transient cache https://github.com/WordPress/gutenberg/blob/trunk/lib/global-styles.php#L19-L33.

[2021-07-27 17:51] bobbingwide commented on #33681
Both Gutenberg and WordPress attempt to use the same key for the transient data.

Function `wp_enqueue_global_styles()` in `wp-includes/script-loader.php` gets and sets the transient
but the data structure doesn't include the `fontFamily` stuff.

Another workaround is for Gutenberg to use a different key. eg `global_styles_GB`.

[2021-07-27 17:53] anton-vlasenko commented on #33700
@bobmixon I can only guess.
If you simply delete the folder it should be fine, although that is not the best way to do it. There could be some tables and settings left in the database.
The proper way would be to delete the plugin from the plugins page (`wp-admin/plugins.php`).
![Screenshot 2021-07-27 at 20 02 50](https://user-images.githubusercontent.com/43744263/127205112-b95348f3-9c24-4d39-b97b-

[2021-07-27 18:14] alexclassroom opened #33715 "Disambiguation by context: the UI word "Offset""
## The different UI word "Offset" shouldn't be merged to the one
The block pattern name "Offset" and post query "Offset" are different, at least for zh_TW.
The block pattern name means the block layout is position staggered, and the post query means the posts need to be skipped.
For example (zh_TW), the block pattern name Offset should be "位移", and the post query Offset should be "需要略過的文章數量".
lib/

[2021-07-27 18:25] mtias commented on #33687
Do we need to establish some criteria for when Flex is better over Grid?

[2021-07-27 19:14] critterverse opened #33716 "Add List View in the Customizer Widgets screen"
Complimenting issue to https://github.com/WordPress/gutenberg/issues/32311

List view is such a huge usability improvement in the block editor — it would be great to add this feature to the Customizer Widgets screen. Ideally, we could add a "persistent" List view like the latest in the post editor but it will need some design exploration to see what can work best with the limited space available.

[2021-07-27 19:19] critterverse commented on #33242
Opened another List view issue in addition to https://github.com/WordPress/gutenberg/issues/32311 for the Customizer screen: [**Add List View in the Customizer Widgets screen #33716**](https://github.com/WordPress/gutenberg/issues/33716)

[2021-07-27 19:37] bobmixon commented on #33700
Hi Anton,

Thank you again for your help. I have the problem resolved.

  1.  I used FileZilla and renamed the plugin folder Gutenberg to Gutenberg-disabled.
  2.  Now I'm able to get to the admin dashboard. I see the Gutenberg plugin required an update. I ran the update.
  3.  Gutenberg updated without issue and my site is back running.

Thank you!

Bob Mixon
Microsoft SharePoint MVP
Senior Offic

[2021-07-27 20:42] skorasaurus commented on #33712
Thanks for your detailed report and gif.

I'm able to intermittently reproduce this on 5.8.0; with Gutenberg 11.1.0 activated... sometimes it worked as expected, other times, it did not.

Additionally, I was only able to reproduce this if you select all of the text in the paragraph before 'boldening' it.

[2021-07-27 22:22] rvpatel commented on #33580
This is working fine on development version 5.9-alpha-51272-src  with theme (Twenty Twenty-One).

[2021-07-27 22:28] noahtallen commented on #29658
Related: #15732

[2021-07-27 22:39] rodrigo-arias commented on #27760
This would be a nice improvement, currently if you select the option "Open in a new tab" for the text link, you have no way to select the same for the download button.

![CleanShot 2021-07-27 at 19 38 40](https://user-images.githubusercontent.com/11416255/127236632-40f13da1-f784-4a6f-b72e-804a231ec97b.png)

[2021-07-27 23:03] peterwilsoncc commented on #33576
No, I meant 5.2 as that is when the packages were split. It's only plugins supporting earlier versions of WP that need the shim.

Probably in the [backward compatibility section](https://developer.wordpress.org/block-editor/how-to-guides/backward-compatibility) of the block editor handbook. It'd be good to let the plugin team know too so they can link to it in the plugin handbook (I'm not sure whi

[2021-07-27 23:22] ehti commented on #33712
Was able to reproduce it once - couldn't do it again in a small number of tries that I made.

Like mentioned above, it happens but intermittently.

[2021-07-28 02:02] #33557 closed, assigned to nobody

[2021-07-28 05:03] talldan opened #33719 "Changelog creation: further improvements"
## Todos

- [x] Use subheadings (`####`) instead of list items (`-`) for subheading categories. This keeps all lists at a single level which is easier for maintenance and authoring. https://github.com/WordPress/gutenberg/pull/34040
- [x] Group all documentation tasks under one 'Documentation' main heading, instead of trying to subcategorize them. We had some under Tools that could/should be under

[2021-07-28 05:12] #33612 closed, assigned to nobody

[2021-07-28 05:30] alokispandey commented on #33691
Thank you..it appears to be a browser issue. It's working fine with other
browsers.

On Tue, Jul 27, 2021 at 7:08 PM Ashish Kumar ***@***.***>
wrote:

--
THANKS
ALOK PANDEY

[2021-07-28 06:17] #33691 closed, assigned to nobody

[2021-07-28 08:11] thetwopct commented on #33374
I guess this is related/the same, but for me `add_theme_support( 'align-wide' )` is ignored once theme.json is present.

If I remove layout{} from theme.json or do not specify content or wide sizes within layout{} then `add_theme_support( 'align-wide' )` in my theme functions is ignored and blocks do not support wide and full alignment.

I would expect `add_theme_support( 'align-wide' )` to still

[2021-07-28 08:16] ashfame commented on #33663
Hi @bernhardklug I am not sure I understand what you are reporting here. You *want* to scroll as soon as they open? Are you wanting to have the entire list scrollable in there? That wouldn't be ideal. And that's why we have "Browse all" button.

For me. as soon as I click on "+" button, the prompt has the search field in focus, so I can simply type the name of the block I want to get to it. Additi

[2021-07-28 08:33] getdave opened #33722 "UA string may cause URL Details endpoint request to fail"
## Description

Using the new "rich preview" feature when creating an external link sometimes results in no rich preview for links where you would expect there to be a rich preview.

Some high profile offenders:

* `www.google.com`
* `www.wordpress.com`

This doesn't happen for `www.wordpress.org`.

After some investigation I wonder whether this is due to either:

1. The requests originating from

[2021-07-28 08:33] adamziel commented on #33576
Right, I got confused :-) thanks!

[2021-07-28 08:43] ashfame commented on #33349
I was able to reproduce this on Linux/Firefox with `Twenty Twenty-One Version: 1.4` theme as well. Tried with both Gutenberg plugin enabled and disabled.

I added a small Image & by default it should be left aligned, as reflected in editor and as per the toolbar button state, but with the theme its center aligned. Perhaps this is a theme issue and not Gutenberg issue. I will investigate further in

[2021-07-28 09:10] youknowriad commented on #33687
I didn't think much about the Grid layout yet but it seems that "Flex" is easier/simpler when it comes to basic vertical blocks (social icons, navigation, buttons) but Grid would be a better choice for "page layouts", so an option on a generic container/group block (or variation) that you apply at the top level of your template.

I think what we're missing right now to start exploring Grid, is bet

[2021-07-28 09:38] webmandesign opened #33723 "Cover block: Text color"
## What problem does this address?

It is currently difficult to set a text color for Cover block inner elements easily in one place. Currently if Cover block content contains of Heading, Paragraph and List, for example, I have to set text color for each one of these.
Instead, the preferable solution would be to set text color on the Cover block itself, so the inner elements can inherit the color.

[2021-07-28 10:03] ashfame commented on #33349
Twenty Twenty-One theme has `text-align:center` on `.wp-block-image` by default and only when you explicitly align it left/right, it gets aligned and shown accordingly. So a theme can very well have the image as center aligned as a default behavior but the same should be shown in editor view as well. I will report this issue to the theme repo.

[2021-07-28 10:08] #33669 closed, assigned to Mamaduka

[2021-07-28 10:24] walbo opened #33724 "Screen reader text in block library shouldn't be visible on focus"
## Description
#30141 added `screen-reader-text` in the common block library CSS.

`:focus` on `screen-reader-text` has some unintended effects on some other focusable elements in core, and users' websites could have something similar on the front end. See core ticket https://core.trac.wordpress.org/ticket/53803

The focus styles are intended mainly for [skip links](https://make.wordpress.org/acce

[2021-07-28 10:40] ashfame commented on #33349
Reported - https://core.trac.wordpress.org/ticket/53809 Going to close this issue here.

[2021-07-28 10:40] #33349 closed, assigned to nobody

[2021-07-28 11:01] AdFisch commented on #9534
Hello everyone,

I'm new to discussion and have done my very best to read and understand all open issues around the subject "theme.json". As far as I understood, this is the "vision issue". That's why I wanted to contribute some thoughts hoping they're not a duplicate (if so I'm sorry but there is sooo much to read).

### Different themes - different demands

I know this has been stated before: I

[2021-07-28 11:01] javierarce commented on #31456
That's a great idea.

Here's a variation of that second screen. I've simplified the interface by removing the discard links. Adding a little bit of friction through the checkboxes will probably make more sense, because of the destructive nature of the action.

![image](https://user-images.githubusercontent.com/4933/127307233-10c9e3bb-75db-4ba7-9c8d-b1bd6fb112d4.png)

https://user-images.githubuser

[2021-07-28 11:14] adamziel commented on #33335
I propose we rename `retrieve_widgets` to `recover_lost_widgets`: https://core.trac.wordpress.org/ticket/53811

[2021-07-28 11:17] #22758 closed

[2021-07-28 12:06] #33643 closed, assigned to christianztamayo

[2021-07-28 12:51] mtias commented on #33687
I think the important aspect is that it's not just a different layout property and it's more about who has more control, the parent block or the child blocks when laying things out. And that's something we should take into account early on since it can dictate the kind of tools that get exposed and where (in the container toolbar/inspector or the children toolbar/inspector). Also [relevant](https:

[2021-07-28 13:19] getdave commented on #33379
@CreativeDive Any luck here or can we now close this one out?

[2021-07-28 13:33] MadtownLems opened #33730 "unregister_block_type doesn't work"
## Description
Calling unregister_block_type doesn't actually unregister a block type

## Step-by-step reproduction instructions
Call unregister_block_type during init.

## Expected behaviour
The block is no longer available in the editor

## Actual behaviour
The block is still available in the editor

## Code snippet (optional)

[code]

## WordPress information
- WordPress version: 5.8
- Gutenber

[2021-07-28 13:51] gziolo commented on #24485
I haven't figured out how to make the current version of `@wordpress/element` compatible with React 16 and 17.

However, I have PR with entries to all CHANGELOG files in packages that ship React components: https://github.com/WordPress/gutenberg/pull/33731. This will at least trigger a major version bump. We can try to fix @wordpress/element` v3.2.0 afterwards.

[2021-07-28 13:57] TimothyBJacobs commented on #33722
I'm still pretty opposed to WordPress falsifying a user-agent. If a server admin wants to block requests from WordPress, they should be able to.

[2021-07-28 14:09] CreativeDive commented on #33379
@getdave sorry for the missing feedback. Basically your method to convert the block content to an array is great. But at the end it's not a fully working solution.

If I use `wp_strip_all_tags( $block['innerHTML'])` to remove duplicated HTML tags, this also removes inline tags, like text color. Therefore we can't use wp_strip_all_tags() to solve this issue. :-(

I don't know how we can solve this

[2021-07-28 14:10] getdave commented on #33722
I understand and appreciate your position here.

However, from a practical point of view this does leave us in a bit of a bind with the rich previews feature.

I think the problem might be that some services are blocking the request because the UA is similar to the UA used in the request made by WordPress  for [Pingbacks](https://developer.wordpress.org/reference/functions/pingback/).

Here is the

[2021-07-28 14:26] bigskillet commented on #22861
Combining `define` with `upload_mimes` seems to be a workaround and/or temporary solution...

[code]

[2021-07-28 14:37] getdave commented on #33379
@CreativeDive Thanks for the feedback.

Given this then, it looks like it's not possible (or at least simple) to convert copied block content to the array format required by the `$post->template` argument. There appear to be too many edge cases.

Therefore as suggested the best option would be to simply update the template parsing to accept copied block content as well as the current array format.

[2021-07-28 14:42] #33700 closed, assigned to nobody

[2021-07-28 14:43] anton-vlasenko commented on #33700
You are welcome, @bobmixon.

[2021-07-28 14:45] #18463 closed

[2021-07-28 14:56] youknowriad commented on #33379
I'd love more opinions on this cc @mcsf @mtias but I'm hesitant a bit:

 - I like the JSON format for the current `template` API, it's easier to dynamically inject templates that way from php.
 - The current `template` API suffers from a fundamental issue though, deprecations don't run on it, so there's a potential of breakage for templates over time.
 - I like that you can just copy/paste the tem

[2021-07-28 15:34] draganescu commented on #33491
👋🏻 Hi! Is this problem that the Widgets editor does not respect `theme.json`?

[2021-07-28 15:47] adamziel commented on #33335
I poked around and it doesn't _seem_ like the Gutenberg plugin is affected by the problem. The call to `retrieve_widgets` was never added to update and delete endpoints in the `WordPress/gutenberg` repo. We're good to close this specific issue.

The logic of storing and reading widgets is still likely to cause more problems like this one so [I created an epic in Trac](https://core.trac.wordpress.o

[2021-07-28 15:47] #33335 closed, assigned to adamziel

[2021-07-28 18:04] TimothyBJacobs commented on #33722
IMO we can definitely change the user agent if we want, but I think it should be some variation of WordPress or WP.

[2021-07-28 18:14] skorasaurus commented on #23324
Is there anything actionable in this issue since theme supports are now included in theme.json ? https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-json/#backward-compatibility-with-add_theme_support

[2021-07-28 18:19] overclokk commented on #33524
So, I built my generator for theme.json file from a PHP array https://bit.ly/3xl5Gsh
It's still experimental but for now it works as expected I think.

It works as a composer plugin and also as WP_CLI command.

With this library you have to provide only a callback that returns an array with all config, nothing else, you are free to build the configuration as you wish, this is up to you.

[2021-07-28 18:19] skorasaurus commented on #33180
another example I anticipate with this is predefined margin and padding, controls; e.g. perhaps building upon `$block-bg-padding--v` ?
https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/group/theme.scss#L4

[2021-07-28 19:02] coreyworrell commented on #13811
@youknowriad How could one use `get_block_wrapper_attributes()` with a block that uses `withColors` HOC?

Example of a Card block:

[code]

If this wasn't a dynamic block, I could do:

[code]

Right now I am doing this, but of course this isn't as good as using a built in function like `getColorClassName()` is.

[code]

[2021-07-28 19:41] annezazu commented on #32846
Hey @rufus87 thanks for reporting this! I'm going to close this out in favor of this current discussion issue on support for child themes in general: https://github.com/WordPress/gutenberg/issues/25612

I also want to share this exploration in case it's helpful: https://themeshaper.com/2021/05/27/blockbase-a-parent-theme-for-block-themes/

[2021-07-28 19:41] #32846 closed, assigned to nobody

[2021-07-28 19:47] annezazu commented on #32851
Tried to replicate with 2010 and WP 5.8 with the latest of Gutenberg but couldn't replicate:

https://user-images.githubusercontent.com/26996883/127386186-50a0d254-116d-44e0-94a0-400a91b46ec5.mov

Going to close this out as a result but thank you for reporting <3

[2021-07-28 19:47] #32851 closed, assigned to nobody

[2021-07-28 19:54] annezazu commented on #33273
cc @jasmussen as a heads up in case you can replicate this/have more context!

[2021-07-28 19:55] ashfame commented on #33282
Hi @hedgehog90

PHP metaboxes don't exist in the same sense in post-Gutenberg world. It is encouraged to move towards porting your metabox to blocks instead. See - https://developer.wordpress.org/block-editor/how-to-guides/backward-compatibility/meta-box/

While some basic ones will work, as they don't require much functionality, but several will need to choose a transition path. That being said,

[2021-07-28 19:55] #33282 closed, assigned to nobody

[2021-07-28 19:56] Addison-Stavlo opened #33735 "Site Editor, Components, and Iframes - Style issues with components using emotion and Iframes."
## Description

In the Site Editor, certain components (such as Modals and Popovers) when applied from the editor canvas frame render without including necessary styles for other child components.

The few component's that have stuck out as having missing styles in this circumstance (the 'Disabled' component and the various 'Flex' components) all seem to use emotion / css-in-JS as their style deli

[2021-07-28 20:04] annezazu commented on #33385
@onetrev thanks for reporting this! I'm having a hard time following the exact problem you're describing. I just tested with WP 5.8 and the latest of Gutenberg. I can see that alignment works correctly. Can you share a video or an additional set of screenshots to clarify?

[2021-07-28 20:41] jeyip opened #33736 "Site Editor: Implement a settings object filter"
## What problem does this address?

The **post editor** has the `block_editor_settings_all` and `block_editor_settings` filters that allow us to modify the `settings` object injected into the block editor. A similar filter, however, doesn't exist for the **site editor**.

As a developer, I want to extend the `settings` object in the site editor because it will allow me to add google font families

[2021-07-28 20:52] critterverse commented on #33290
Hey @oldrup, wanted to share a few links to conversations about long toolbars and horizontal scrolling difficulties that might be relevant:

- https://github.com/WordPress/gutenberg/issues/32062
- https://github.com/WordPress/gutenberg/issues/30720#issuecomment-824108601
- https://github.com/WordPress/gutenberg/issues/32493#issuecomment-857874321

I'm sure others have done more thinking about the

[2021-07-28 21:40] paaljoachim commented on #23324
I believe this issue would be interesting for @nosolosw @jorgefilipecosta and @aristath to take a closer look at.

[2021-07-28 22:30] ghost commented on #33687
I really like where this is going. From a UX perspective, I think that Webflow does an excellent job with their Grid/Flex layout interfaces.

[2021-07-29 02:17] onetrev commented on #33385
Hey @annezazu thanks for the follow up. I realise now I forgot to include a key detail. This appears as soon as you add layout -> contentSize to your `theme.json`. But to save you time and make sure you can see exactly what I'm experiencing, I've made a [one minute video](https://drive.google.com/file/d/1yWPYeCSFlNxVLE5c3e40L_9xvbFHNWZ7/view?usp=sharing) (otherwise there would be a lot of screensh

[2021-07-29 03:50] talldan commented on #33730
Thanks for reporting this @MadtownLems. I tested and can also reproduce the issue.

[2021-07-29 05:47] guesttttttt opened #33741 "Gutenberg Gallery images not updating after delete"
I've started using the gutenberg gallery, but noticed when you upload the images to the gallery of gutenberg, and then decide to delete 1 image, it doesn't update it.

## Step-by-step reproduction instructions
1.Create a post
2.Insert gutenberg gallery block with several images which you upload after clicking upload files
3.Post it, then decide that one of the images are not correct
4.Go to Media>

[2021-07-29 06:43] #33524 closed, assigned to nobody

[2021-07-29 07:45] gziolo commented on #24485
We have new major version of packages published to npm in case they contain React components:  4e106dd6283fd742aeb521ebc0ae29f35d4274b4.

The remaining question is what we can do about `@wordpress/element` v3.2.0, any ideas?

[2021-07-29 08:01] gziolo commented on #33664
New version with the fix is now published to npm:

https://unpkg.com/browse/@wordpress/scripts@17.1.0/package.json

[2021-07-29 08:01] #33664 closed, assigned to nobody

[2021-07-29 08:03] getdave commented on #33719
Thanks so much for the feedback @talldan 🙌

Can I clarify that you understand that the automation only provides a _draft_ of the changelog. Typically then the release lead reorganises it as they see fit. Therefore the current RC may be more reflective of the release lead's changes rather than the changelog automation.

If you'd like to see what the automation generates for `11.2.0` then you can ru

[2021-07-29 08:13] getdave commented on #33379
I think that's a killer feature.

I'm not necessarily proposing we drop the existing array-based format in PHP, but if we could _also_ allow the user to provide the copied block content this would make it a tonne easier for folks to create complex templates rather than have to manually author them by hand.

If not then we at least need to provide a mechanism in our PHP API that allows us to _relia

[2021-07-29 08:36] mttindustries commented on #33586
@getdave that would be ideal, thank you. Sorry for late reply, busy week.

[2021-07-29 08:41] talldan commented on #33719
I realise there's not much detail in my notes, just things that I jotted down as I was doing the release

Yep, I was the release lead and organised the changelog.

It does make it a bit easier to re-organise things when all the bullet points are at the same level, and I think it might look tidier.

There's one that's like this, so you may have missed it. There's a documentation sub-heading under '

[2021-07-29 09:06] getdave commented on #31667
Love this @javierarce - thanks for developing it.

This is going to be a completely custom piece of UI and I'm not sure we can (easily) reuse the `<LinkControl>` so it's likely we'll need to develop from scratch. I know @youknowriad  added a `SearchControl` components recently so hopefully that can be a starting point?

I think that's great thinking and an important feature. How are you seeing tha

[2021-07-29 09:09] getdave commented on #33719
Nice - thanks for all that feedback. It's pretty clear and I think it should be actionable.

[2021-07-29 09:17] youknowriad commented on #13811
Hi @coreymckrill

We do have an experimental "border" support flag that would allow you do just that (border color support for both static and dynamic blocks). At the moment though, it is still experimental but in it will be made stable in the next couple WP releases.

Your solution seems like a good temporary measure.

[2021-07-29 09:27] gziolo commented on #32408
I opened https://github.com/WordPress/gutenberg/pull/33746 with the proposed fix.

[2021-07-29 11:20] #30330 closed, assigned to getdave

[2021-07-29 11:49] ocean90 commented on #24485
Is it possible two create a branch based on the publish commit for `@wordpress/element` v3.2.0? If so, we could try to revert the changes from #29118 only in this branch and do a patch release.

[2021-07-29 11:52] getdave opened #33754 "`url-details` endpoint doesn't look for `og:description` when searching for a `description`"
Currently the `url-details` REST API endpoint in Gutenberg does not find `og:description` when searching for a valid "description" in the remote site's HTML response.

Currently it looks for meta description only.

We should modify this to also find `og:description`.

--------

@hellofromtonya When testing this I've realised that the `url-details` endpoint doesn't look for `og:description` when se

[2021-07-29 12:13] jorostoyanov opened #33756 "Introduce lockWidgetsSaving as equivalent to lockPostSaving"
In the Post Block Editor, there is a `lockPostSaving` action useful to disable the "Update" / "Publish" button. Reference: https://github.com/WordPress/gutenberg/blob/e394488f194472d063a8d6b4dd03f103e7b17919/packages/editor/src/store/actions.js#L525

Can we add such action for the new widgets block editor?

Currently, the button is disabled only when there aren't any edits on the widgets. Referenc

[2021-07-29 12:52] cpapazoglou commented on #21191
Paraphrasing @dsas:

This problem reproduces only when you set the **Title** back to the original **saved** one. In that case, autosave doesn't pick up the change possibly because there is no actual change to the title and therefore it sends along the last autosaved one.

[2021-07-29 13:06] gziolo commented on #33719
Should we close https://github.com/WordPress/gutenberg/issues/30538 that is more higher-level and already got some improvements? We just should consolidate all issues related to the changelog and create a detailed todo list to make it all simpler to discuss further steps.

There are also other related issues:
- https://github.com/WordPress/gutenberg/issues/33568 and PR proposed https://github.com/

[2021-07-29 13:18] geriux commented on #33608
We'll investigate it 👍

[2021-07-29 13:43] cpapazoglou opened #33758 "Post Title in preview is wrong: using the last autosave rather what is in the editor"
## Description
Content doesn't update when previewing a draft when that draft was previously public.

## Step-by-step reproduction instructions
1. Open the edit page for a brand new post
2. Add "Title" as title and hit "Publish"
3. Hit preview in a new tab
3. Notice the preview works great
4. Update the title to "Autosaved Title" and preview
5. Notice preview still works great
6. Reload the page (

[2021-07-29 13:44] cpapazoglou commented on #33616
👋 @getdave! Do you think those are related:

https://github.com/WordPress/gutenberg/issues/33758
https://github.com/WordPress/gutenberg/issues/21191

[2021-07-29 13:56] pbking opened #33759 "User Theme JSON is inappropriately stripped of data"
## Description

In some environments (wpcom being the only that I have found) when the User Theme JSON is saved and retrieved relevant data is removed.

## Step-by-step reproduction instructions
* Activate a Blockbase theme.
* Using the customizer adjust the colors so that there are custom colors set and publish.
* Observe the User Theme JSON returned by WP_Theme_JSON_Resolver_Gutenberg (this is t

[2021-07-29 14:07] skorasaurus commented on #33706
If I recall correctly, the inserter doesn't take into account variations. For example, if a user often uses the vimeo variation, other embed variations will also appear as being used, so to speak;

relevant code at https://github.com/WordPress/gutenberg/blob/trunk/packages/block-editor/src/store/selectors.js#L1562

[2021-07-29 15:52] Manja-S opened #33763 "Sorting of search results for new plugins"
## What problem does this address?
It is currently difficult to choose an up-to-date plugin because the search results for a new plugin are (apparently) shown randomly. This increases the risk of choosing an outdated plugin.

## What is your proposed solution?
Sort the plugins by 'tested with version' and maybe add a second sort by 'number of installations'.

‘needs design feedback’

[2021-07-29 16:09] getdave commented on #33616
Very likely. I never managed to get the to the bottom of it.

[2021-07-29 16:14] pbking commented on #33759
Closing to move to a [more appropriate project](https://github.com/Automattic/wp-calypso/issues/55030).

[2021-07-29 16:14] #33759 closed, assigned to nobody

[2021-07-29 16:53] coreymckrill commented on #13811
cc @coreyworrell

[2021-07-29 17:02] youknowriad commented on #13811
oops sorry Corey for the wrong ping :)

[2021-07-29 19:29] carasmo commented on #15042
As of the update to 5.8, this `wp-block-group__inner-container` is gone and it's messed up EVERY SITE. That's where I put the max width and/or the relative position z-index so it's higher than the psuedo on the parent. UFR!

Update: This happens when there is a _theme.json_ -- even if it's empty, just having this in my theme removes the `wp-block-group__inner-container` on the front page, but not

[2021-07-29 19:30] swissspidy commented on #33763
Is this about the plugins page in WordPress admin? If so, you should report this at https://core.trac.wordpress.org/ since it's not related to Gutenberg

[2021-07-29 19:40] bph commented on #33436
Thanks for eagle-eye @jffng :-) It all starts working when I added it. I really would have hoped for some indication or error message, to say “You can't have customFontSize setting without a "typography" parent."  Lets think some more about how to make it easier to flag these rookie mistakes. I am closing this issue.
Thanks for @annezazu @bobbingwide and @jffng for helping me figure this out.

[2021-07-29 19:40] #33436 closed, assigned to nobody

[2021-07-29 20:58] htmgarcia commented on #32607
@noisysocks tried your [code suggestion](https://github.com/WordPress/gutenberg/issues/32607#issuecomment-861129652), however returned `getWidgetAreas is not a function`.
Did something changed recently?

[2021-07-29 22:18] lucyllewy opened #33768 "@wordpress/scripts vulnerable via webpack thru glob-parent"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you tried deactivating all plugins except Gutenberg?

- [X] I have tested with all plugins deactivated.

### Have you tried replicating the bug using a default theme e.g. Twenty Twenty?

- [X] I have tested with a default theme.

### Description

the `@wordpress/scripts` NPM package depends on a version o

[2021-07-29 22:45] pattyok opened #33769 "Gallery Block: Adding images to gallery removes all existing images"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you tried deactivating all plugins except Gutenberg?

- [X] I have tested with all plugins deactivated.

### Have you tried replicating the bug using a default theme e.g. Twenty Twenty?

- [X] I have tested with a default theme.

### Description

When adding images to an existing gallery block, any existi

[2021-07-29 23:24] kellychoffman commented on #33481
Not to open a can of worms but: Would this be even more clear if the name of the block was called something else that more reflected what it does? How about **Synced Block**?

[2021-07-30 01:03] sawirricardo commented on #19909
Hi, I think this feature is really important. One thing I would suggest is this. Just add conditional block options like this [https://github.com/extendify/block-options](community plugin)

I usually do this for example, if mobile, show Block A. If desktop show Block B. And so on. (also works with "hide")

I think just doing this will solve 90% case above. For example, like

@kjellr can make 2 blo

[2021-07-30 03:37] carolinan commented on #31660
This bug is back when I use WP 5.8 and Gutenberg 11.1, but only in the site editor.

[code]

[2021-07-30 04:34] talldan commented on #33769
Thanks for reporting. I could reproduce this. There also seems to be a bug with the Gutenberg plugin where the file picker is opened every time I click the Media Library button. 🤔

[2021-07-30 05:09] kmadhak commented on #27194
Hello @JustinyAhin and @tellthemachines

Greetings of the day!!!

I would like to know the progress of this issue, please let me know if you need more detail on it.

Thank you.

[2021-07-30 06:10] talldan commented on #33439
Closing this as it seems like the issue has been fixed in this repo.

[2021-07-30 06:10] #33439 closed, assigned to ciampo

[2021-07-30 06:24] kanlukasz opened #33772 "Option to disable “Transform to” in Gutenberg blocks"
## What problem does this address?
_The main problem is that everywhere is too much options that we can't remove as a developers who prepare our themes for our customers
End users who are regular non-technical users and use the edit panel are given too many options to click. This makes it likely that they will break something._

This applies, inter alia, to `Transform to` option
![image](https://u

[2021-07-30 06:25] kanlukasz opened #33773 "Possibility to remove some options from the `toolbar` in Gutenberg block?"
## What problem does this address?
It is basically the same situation I described in the [previous issue](https://github.com/WordPress/gutenberg/issues/33772). We need more control over what we can show and what we can hide in custom solutions like blocks but in **core blocks too**

For example, I would like to remove some items from here (I marked it in red)
![image](https://user-images.githubuse

[2021-07-30 07:17] kebbet commented on #33773
Some options can be removed with the   `wp.richText.unregisterFormatType('core/link');`, but I agree, add these types of adjustments to the theme.json, and open up for more modifications.

[2021-07-30 08:41] getdave commented on #18866
Just to say that we have [added an `Unlink` behaviour in the Post Editor](https://github.com/WordPress/gutenberg/pull/32541). I can add this to the Nav Editor as well.

Update: PR to implement this now ready for review in https://github.com/WordPress/gutenberg/pull/33777

[2021-07-30 08:43] talldan opened #33776 "Explore using CSS Grid in Interface Skeleton"
## What problem does this address?
Currently, all WordPress editors (apart from customize widgets) use the InterfaceSkeleton component from the interface package for the general layout of the editor:
https://github.com/WordPress/gutenberg/tree/trunk/packages/interface/src/components/interface-skeleton

It's a very simple React component that defines various areas for the layout (header, sidebar, n

[2021-07-30 08:52] gziolo commented on #33568
I believe we can close it now that https://github.com/WordPress/gutenberg/pull/33573 landed. Is there anything left to cover in the docs?

[2021-07-30 09:07] sabernhardt commented on #33769
Thanks! This was also [reported on Trac 53835](https://core.trac.wordpress.org/ticket/53835).

[2021-07-30 09:25] youknowriad commented on #33374
Hi There!

Thanks for opening the issue, this is an intended behavior, the logic is simple. If you define "widths" (content and wide) widths for your canvas, there's nothing that tells that these widths apply to the nested blocks of any container because that container can be smaller (think a column, a small group block, a buttons block...) meaning we can't just blindly allow nested blocks of thes

[2021-07-30 09:27] kebbet opened #33778 "Link broken in documentation `https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-json/#styles`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you tried deactivating all plugins except Gutenberg?

- [X] I have tested with all plugins deactivated.

### Have you tried replicating the bug using a default theme e.g. Twenty Twenty?

- [X] I have tested with a default theme.

### Description

The link to “block support mechanism” in the top section of

[2021-07-30 09:39] gziolo commented on #33736
By looking at the screenshot shared for the edit site, I think it should be possible to use the following check in the `block_editor_settings_all` filter:

[code]

Of course, it's something that would work only when the Gutenberg plugin is enabled. In the long run, we need a better way to detect the context like a screen: widgets vs post editor vs site editor. In the case of the post editor, the c

[2021-07-30 10:02] getdave commented on #33568
Closing as forgot to link this up with the PR

[2021-07-30 10:02] #33568 closed, assigned to getdave

[2021-07-30 10:03] #32689 closed, assigned to getdave

[2021-07-30 10:04] jeyip commented on #33736
Hmmm...I'm not sure I follow @gziolo.

From what I can tell looking at [edit-site-page.php](https://github.com/WordPress/gutenberg/blob/trunk/lib/full-site-editing/edit-site-page.php), the `block_editor_settings_all` filter is never applied when initializing the site editor, so we can't apply modifications to the `$settings` object before the page is loaded.

https://github.com/WordPress/gutenberg

[2021-07-30 10:14] gziolo commented on #33736
I wrongly assumed that the edit site page is using `get_block_editor_settings` (or `gutenberg_get_block_editor_settings` to account for WP 5.7 that doesn't have this function) like other screens. https://github.com/WordPress/gutenberg/pull/33737 would have to land first to align with the post editor and widgets.

[2021-07-30 10:52] mtias commented on #32548
@getdave @javierarce I'm also noticing that rendering a big placeholder for image and text is a bit annoying when the result cannot retrieve a preview, which seems to happen often. It seems it'd be better to only have a placeholder on the icon and then expand if there is image and description, instead of collapsing when there isn't, which seem odd.

[2021-07-30 11:13] javierarce commented on #32548
That was the initial idea, but there was an issue ([described here](https://github.com/WordPress/gutenberg/pull/31464#issuecomment-855827969)) where the popup moved suddenly when new content appeared.

[2021-07-30 11:16] AlecRust commented on #15042
This article explains how to add the container back (may require translation) https://epiph.yt/blog/2021/wordpress-5-8-wp-block-group__inner-container-wieder-hinzufuegen/

Not sure why this pretty important inner container was removed, but I sure would like to not have to use the hack mentioned in that article.

[2021-07-30 11:19] mtias commented on #32548
Ah, I see! Now we have the jump in the other direction in some cases. We should look at addressing it in the popover. I don't when it'd be not disorienting to have a rendered popover reposition itself when its content updates if there's no resize / scroll.

[2021-07-30 11:21] #33651 closed, assigned to Mamaduka

[2021-07-30 11:21] #33653 closed, assigned to nobody

[2021-07-30 11:32] getdave commented on #32548
I seem to recall that Popover is due a major refactor or replacement in the near future. Was there someone working on that? I can't quite recall. Perhaps @javierarce  or @jasmussen would know?

[2021-07-30 11:33] Manja-S commented on #33763
Thank you for pointing me to the right direction.

[2021-07-30 11:33] #33763 closed, assigned to nobody

[2021-07-30 11:34] mtias commented on #32548
@diegohaz was looking into it

[2021-07-30 11:44] getdave commented on #15042
@strarsis @carasmo @AlecRust Thank you for your feedback and for raising this concern. It's much appreciated.

As this issue is closed I would recommend raising a new Issue in order that it will be more likely to be picked up.

The more information you can provide in your bug report then the easier it will be to replicate and resolve. I appreciate it might seem like a simple regression, but having

[2021-07-30 11:52] getdave commented on #15042
I took a brief look into this. As I suspected the prescence of this inner container is now predicated on whether the theme supports the new "layout" setting.

https://github.com/WordPress/gutenberg/blob/1ba0bff018d8bef454320575daf17b67bfc2b9c4/packages/block-library/src/group/edit.js#L66-L73

For example, the screenshot below shows a Group block inserted (running latest WP and Gutenberg Plugin) us

[2021-07-30 14:03] RhnSharma commented on #33778
I would like to take this one.

[2021-07-30 14:07] #33722 closed, assigned to getdave

[2021-07-30 14:33] WraithKenny commented on #33557
Devcert seems totally awesome, thanks!

[2021-07-30 14:42] #33586 closed, assigned to getdave

[2021-07-30 15:04] getdave commented on #30538
I believe this has been addressed by https://github.com/WordPress/gutenberg/pull/33229. I'm going to close out as suggested by @gziolo https://github.com/WordPress/gutenberg/issues/33719#issuecomment-889127547.

[2021-07-30 15:04] #30538 closed, assigned to nobody

[2021-07-30 15:32] mwhiteley16 commented on #19796
Agreed. I don't think this should be closed out as you still cannot disable the `width`.

[2021-07-30 15:36] skorasaurus commented on #33776
ref/further background https://github.com/WordPress/gutenberg/issues/16271

[2021-07-30 15:39] pattyok commented on #33374
Oh wow. I feel like it made a lot more sense before. The language you are using in the interface is completely foreign to me, and after looking at it with this information, I am still having a difficult time grasping how the words match the concept, though I am pretty well-versed on the block environment...

It seems like you are putting a big burden on the user to set the layout of the group ever

[2021-07-30 15:41] skorasaurus commented on #32954
Hi,

This issue tracker is only for blocks that come with Gutenberg by default. There aren't any blocks named "post grid" that come with Gutenberg by default. There are several blocks created by others in the WordPress community that are named post grid including https://atomicblocks.com/blocks/post-grid-block/ and https://ultimategutenberg.com/docs/post-grid/
If you are referring to either of tho

[2021-07-30 15:41] #32954 closed, assigned to nobody

[2021-07-30 15:51] youknowriad commented on #33374
The problem is that a block can not break out of its container, if its container is not wide enough, putting it "full width" only means "full width" inside of its container.

[2021-07-30 15:54] overclokk commented on #27324
Inner containers is a problem I also highlighted here https://github.com/WordPress/gutenberg/issues/29228

[2021-07-30 15:54] pattyok commented on #33374
But as a theme editor I can set what full-width inside of wide width means...

[2021-07-30 15:57] youknowriad commented on #33374
It doesn't matter if you set it, if there's a div between your block and the place where the width is defined (the post content container for instance), your style won't apply properly. Theme authors struggled a lot with this previously, a lot of themes have broken styles and alignments in some situations because of this. Can you give an example of how you'd define that width?

[2021-07-30 15:59] skorasaurus commented on #32651
Thanks for the clear report; confirmed.

Possibly related to https://github.com/WordPress/gutenberg/issues/23970

[2021-07-30 16:06] pattyok commented on #33374
That part is fixed. They've removed the inner content container. So now you can simply use
`.alignwide > .alignfull { width: 100%;}`

[2021-07-30 16:10] youknowriad commented on #33374
I'm not sure I follow the CSS you just shared, let me give you an example:  Say you have an image block inside a group block inside a column block with a width of 50% and I apply "wide" or "full" on the image block what should happen?

[2021-07-30 16:14] youknowriad commented on #33374
Let me continue my reasoning:

 - In the example above, the full/wide doesn't make sense in the previous behavior, in some themes it breaks the layout entirely, in others it doesn't do anything because the column is limited to 50%.

- in the new behavior which I think is more correct, you don't have "wide/full" alignments options there unless the group block in the column says, the wide area for m

[2021-07-30 16:17] #33265 closed, assigned to rbrishabh

[2021-07-30 16:31] pattyok commented on #33374
I understand what you are saying. But I think that offering the one-sized fits all solution first with the option to override is preferable to forcing the user to have to set the widths every time they put a thing on the page.

When I deliver a theme for a client I put things in place to guide them towards consistency this does not allow for that.

[2021-07-30 16:36] Addison-Stavlo commented on #29950
A few smaller PRs that might help:

https://github.com/WordPress/gutenberg/pull/33733 - Adds some minor borders to the existing selection previews to help make the previews and their titles more clear until we can update this to use a better design in general.

https://github.com/WordPress/gutenberg/pull/33703 - Adds a title confirmation step when creating a template part through the placeholder.

[2021-07-30 16:47] pattyok commented on #33374
To further clarify - why can't you allow me to set wide and full on an inner block and also allow you to override what wide and fulll mean in a specific instance?

[2021-07-30 16:51] youknowriad commented on #33374
Because it's impossible to consistently style wide/full alignments properly by ignoring intermediate container divs. You end up with broken alignments/layout depending on the use-case.

[2021-07-30 17:14] jeyip commented on #33736
Ahhh I see -- that makes sense. Thanks for chiming in and clarifying 🙏

[2021-07-30 17:14] pattyok commented on #33374
I disagree that it's impossible but also that should be left to the theme
developer to solve. Not the platform...

I do still think some work on the language in the interface would be
helpful.

'Inherit default layout' - I still have no idea what that means - I expect
it to mean that it would follow what I have set for inner blocks that are
alignwide and alignfull.

Referencing Inner Blocks within

[2021-07-30 17:25] youknowriad commented on #33374
developer to solve. Not the platform...

With Full Site Editing, it's not the responsibility of the theme to define these structural styles, meaning the platform need to have a precise way to output these styles regardless of the used theme. Themes will be more about design, templates, and block patterns but less about figuring out how to style align left, align right, align center, or full width.

[2021-07-30 17:42] kellychoffman commented on #32394
Going to lock this issue as “final” design in that is ready for dev. This is an experiment for dev clarity and is not to dissuade further design contribution - open new issues or unlock if needed!

- [Comment containing final design](https://github.com/WordPress/gutenberg/issues/32394#issue-909352520)
- [Figma file](https://www.figma.com/file/Lac6TBUSZjbv3KyR26xiIi/Table-Block?node-id=281%3A1140&v

[2021-07-30 19:15] annezazu opened #33787 "Automate process for contributor license agreements"
## What problem does this address?

Over the last year, an effort was needed to dual license Gutenberg causing a fairly intense process of getting folks who have contributed to give consent: https://github.com/WordPress/gutenberg/issues/31913 & [Make Core post on dual licensing](https://make.wordpress.org/core/2021/03/05/dual-licensing-gutenberg-next-steps/ ). This is currently a cumbersome and ma

[2021-07-30 19:25] javierarce commented on #32556
Thanks!

It was an oversight 😅… I'll fix it and I'll also see if they work with more separation.

[2021-07-30 19:34] #12175 closed

[2021-07-30 19:35] skorasaurus commented on #33773
Hi,

Thanks for reporting;
This has been discussed and/or requested in  https://github.com/WordPress/gutenberg/issues/23619 . Feel free to [add your reaction](https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/about-conversations-on-github#reacting-to-ideas-in-comments) and follow its progress in the issue.

I've added your post in that issue.

[2021-07-30 19:35] #33773 closed, assigned to nobody

[2021-07-30 19:36] skorasaurus commented on #23619
In #33773, @kanlukasz  had asked:

[2021-07-30 20:03] #27620 closed

[2021-07-30 23:38] jeremyfelt commented on #32107
<img width="339" alt="Screen Shot 2021-07-30 at 4 36 09 PM" src="https://user-images.githubusercontent.com/286171/127721096-6df02321-15c9-44b0-b908-7e3c460ae9fd.png">

👍🏻 for making this more intuitive. It took me a while to find out how to rename this. I assumed because of the grey highlight around "Untitled Template Part" at the top of the page, that I would be able to edit there.

[2021-07-31 00:39] justintadlock commented on #27620
Should this ticket be closed by #31634?

I was under the impression that an Image Size control was a part of this, which is why I didn't open another ticket (it would also partially cover @antonyjsmith's concerns).  I don't think this is in the PR.

[2021-07-31 08:45] ntsekouras opened #33789 "[Post Featured Image]: Add image size controls"
## What problem does this address?
We should add image size controls to `Post Featured Image` block (e.g. full, thumbnail, medium, large, custom-theme-size, etc..). Here is @justintadlock 's [comment](https://github.com/WordPress/gutenberg/issues/27620#issuecomment-851016057) for reference.

Initial design from @jasmussen:

<img width="1440" alt="Featured Image i3" src="https://user-images.githubu

[2021-07-31 08:46] ntsekouras commented on #27620
The issue was closed automatically from the PR and addressed the initial proposed enhancements. There are more to come to this block (Featured Image) and we have [this issue](https://github.com/WordPress/gutenberg/issues/32332) for consolidating the 'posts list' blocks.

I created a new issue for the image controls here: https://github.com/WordPress/gutenberg/issues/33789

[2021-07-31 09:36] karmatosed opened #33791 "Unable to apply padding through theme.json on rss block"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you tried deactivating all plugins except Gutenberg?

- [X] I have tested with all plugins deactivated.

### Have you tried replicating the bug using a default theme e.g. Twenty Twenty?

- [X] I have tested with a default theme.

### Description

If you want to apply padding to the RSS block you are curre

[2021-07-31 10:05] ellenbauer opened #33792 "Add possibility to close the Full Site Editing theme notice banner"
## What problem does this address?
At the moment the Full Site Editing theme notice banner is permanent and users have no option to close the notice.

I fear that this will discourage theme users to try FSE themes as well as theme developers to put the work in to get started adding FSE themes to the repository.

<img width="1400" alt="Screen Shot 2021-07-30 at 7 42 56 PM" src="https://user-images.

[2021-07-31 12:13] karmatosed opened #33794 "Theme.json styling for image gets unexpected results for background and border"
I am currently experiencing some unexpected results for border and background on the image block when using theme.json. The following is what I have set:

[code]
The result is:

![image](https://user-images.githubusercontent.com/253067/127739375-8ff2918b-cc72-41d6-aac7-ad8a1ecd5618.png)

Whilst this is a certain 'look', I don't really want that space at the bottom. I tried the above to get around

[2021-07-31 12:17] karmatosed opened #33795 "Unable to set margin on headers using theme.json"
I seem to be able to set padding but setting the margin has no effect on header blocks. This is interesting to me as I would have thought I could do both. It doesn't seem to be something lurking in the theme I am using as that's super minimal, however, I would be curious to know if others have experienced this?

[2021-07-31 14:23] msshohan commented on #25123
remove_theme_support( 'widgets-block-editor' ) is not restoring the classic widget editor screen for me. Any explanation why this may happen?

[2021-07-31 17:11] carasmo commented on #15042
@getdave -- Thanks for looking into this.

Trac reply stated:

So I'm going to use the hack (https://github.com/WordPress/gutenberg/issues/15042#issuecomment-889823808) so I can have theme.json to remove all the stuff I don't want (drop caps, gradients, etc).

[2021-07-31 20:18] dingo-d commented on #20835
It would also be cool to add the gradient to the highlighted text in the `RichText` component. Currently, only the color can be added, either via inline `color:` style on `has-inline-color` span element or by referencing the color name registered in the global colors.

Since the inline color already uses a span to format it, and in order to apply the gradient to the text we'd need to add it as a b

[2021-07-31 20:23] jeremyfelt opened #33798 ".wp-site-blocks template HTML wrapper should be filterable"
## What problem does this address?

`get_the_block_template_html()` in WordPress and `gutenberg_get_the_template_html()` in Gutenberg build the template HTML for the current page view and then wrap it in `<div class="wp-site-blocks">` immediately before returning. This is a decision made in the original implementation, #17626.

## What is your proposed solution?

It should be possible for a theme

[2021-08-01 01:45] ashleyleia opened #33801 "Issue when adding links to paragraph block"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you tried deactivating all plugins except Gutenberg?

- [X] I have tested with all plugins deactivated.

### Have you tried replicating the bug using a default theme e.g. Twenty Twenty?

- [X] I have tested with a default theme.

### Description

In a paragraph block, if a text selection crosses from one

[2021-08-01 12:32] wpsoul opened #33803 "Hook for iframed block editor"
In current point, we have no access to iframe which is used in widget editor and template editor.

Let me explain. For example, we have option to choose custom fonts, colors in Customizer. Then, theme creates variables based on user choice. We load these css variables in header via wp_head and in admin panel via admin hooks. But this doesn't work in iframes.

In the current point iframes have only

[2021-08-01 14:43] overclokk commented on #33367
Even if you filter the theme.json the result will be sanitized with the schema from the core, but if you only want to have a dynamic theme.json you can follow this issue #33524 where I linked a library for generating the theme.json from a PHP array.

[2021-08-01 14:57] overclokk opened #33805 "Global styles: allow merging custom block settings with global settings."
## What problem does this address?
I see that if I add a color palette with 5 colors in global scope and only 1 color in block settings this block will have only the color I added in the settings, why not adding the possibility to also merge from the global scope, for example if in paragraph I want only change the primary color I have to copy/paste the entire color palette from the global scope an

[2021-08-01 15:28] overclokk opened #33806 "Create a CSS Library|Framework from SASS in Block Library for theme developers"
I know that with Global Styles we will change all block styles, but I think something like a CSS library/framework (named as you like) could be very usefull for theme developer that uses Bootstrap or Tailwind or other thing.

If we had such a library we could have an easy way to generate the remaining CSS that we need for ours themes, the one not generated by the global style.

With that library I

[2021-08-01 17:54] NekoJonez opened #33807 "Create a "recently used" or "most used" or "personal favorites" blocks section."
Currently, I'm admin of 5 different WordPress websites and all 5 of them are quite different.
One is my personal gaming blog, one is my school website, one is actually a teacher's inspiration website for students, one is for my theater group and one is just to mess around on and test the translations I do for nl_BE, nl_NL-(formal)

Now, you might expect that I don't use the same blocks often on th

[2021-08-02 03:20] #33620 closed, assigned to talldan

[2021-08-02 05:29] talldan commented on #32607
The issue seems to be that the `getBlocks` function uses the blocks api (`wp.blocks.getBlock`) to retrieve the deserialized inner blocks, but widget areas use entities for their inner blocks and so they're not serialized.

The block editor store does actually have all the data needed, but it's not exposed by the `getBlocks` selector.

An alternative workaround would be something like:
[code]

[2021-08-02 05:53] talldan commented on #33807
@NekoJonez There is a preference to show the most used blocks in the block library:
<img width="737" alt="Screenshot 2021-08-02 at 1 51 04 pm" src="https://user-images.githubusercontent.com/677833/127810604-fb5252c6-ff0f-4480-99b0-2d940345b698.png">

It looks like this when switched on:
<img width="340" alt="Screenshot 2021-08-02 at 1 52 05 pm" src="https://user-images.githubusercontent.com/677833

[2021-08-02 05:56] peterwilsoncc commented on #33580
Similarly `wp_head()` is called on each widget's preview too. This may also prove problematic depending on the script/styles enqueued by developers expecting the full front end context.

[2021-08-02 06:55] talldan opened #33808 "Release Gutenberg 11.2"
Some general notes for releasing 11.2

### To cherry pick:
- [ ] #33760

[2021-08-02 06:56] kevin940726 opened #33809 "E2E tests dashboard"
Build a web dashboard that shows which tests are the most flakey and/or slow. This might help show us which tests need the most attention. It might also let us measure our work's impact.

[2021-08-02 06:59] kevin940726 commented on #33809
So I clicked a button in #33532 just wanted to try it out and it created a new issue for me..., well, I guess there's no turning back now.

[2021-08-02 07:01] gziolo commented on #33532
Yes, it's super annoying, but it doesn't happen that often. It all depends on what we consider a priority here. The current setup enforces that the conflicts in the Gutenberg plugin are fixed as soon as possible. Some of those issues are obvious mistakes like duplicated function/class definition, others are related to changes in the default theme. There is definitely room for improvement in the pr

[2021-08-02 07:02] kevin940726 commented on #33809
I think we can use some OSS out there to build the dashboard. If you think about it, it's very much like a analytics dashboard. I found [ReportPortal](https://github.com/reportportal/reportportal) which seems promising. Or we can reuse whatever tools we have been using for other projects if there's any.

[2021-08-02 07:07] kevin940726 commented on #33532
I tried it once in my fork, and to my surprise, sometimes building the app from scratch is actually faster than downloading and unpacking them from GH artifacts. I'm still confident that there must be some way to reduce the execution time though, just have to do some more experiments.

[2021-08-02 07:09] #33372 closed, assigned to kevin940726

[2021-08-02 07:24] jasmussen commented on #24007
That seems like it could be a quick win, and potentially benefit other limited nesting containers such as Social Links.

@vcanales @mkaz any thoughts on the level of effort this would take to build? Seems simple enough.

[2021-08-02 07:41] gziolo opened #33810 "Plugin: Seek ways to improve the process of backporting PHP code to WP core"
## Context

[WordPress 5.8 ‘Tatum’ Retrospective](https://make.wordpress.org/core/2021/07/28/wordpress-5-8-tatum-retrospective/).

Gutenberg plugin historically offered the way to develop new features for WordPress core. For the PHP part, we can identify the following role of the code shipped in the plugin:
- experimental features in the active development that might or might not end up in WordPre

[2021-08-02 07:47] kevin940726 commented on #33638
If I'm not misunderstanding this, I think it's a duplicate of #32805?

[2021-08-02 07:52] talldan commented on #33491
This no longer happens with the Gutenberg plugin active:
<img width="279" alt="Screenshot 2021-08-02 at 3 50 15 pm" src="https://user-images.githubusercontent.com/677833/127823947-4616f43b-9fc8-455a-a84c-02815055d490.png">

So it may have been fixed at some point in the plugin.

[2021-08-02 07:56] jasmussen commented on #33332
Apologies for the AFK-induced delay in my response. This is a question about the Layout Grid block correct? In that case, @johngodley are you able to help elucidate here?

[2021-08-02 07:57] draganescu commented on #33491
Given this cannot be reproduced, let's close it because having it caused by `theme.json` does not look like it needs a backported fix.

[2021-08-02 07:57] #33491 closed, assigned to nobody

[2021-08-02 08:56] jasmussen commented on #33273
Thank you for the ping Anne. @vcanales does this ring any bells?

[2021-08-02 09:02] jasmussen commented on #33640
Good ticket, thanks for the ping. One of the tricky bits here is that at the moment, the color is used for _both dropdown menu background colors_, and _burger menu overlay menu colors_. I think the best solution is likely to let the latter inherit the former if unset, but also have its own separate color control.

(This in turn requires a collapsed color picker as mocked up in https://github.com/W

[2021-08-02 09:16] jasmussen commented on #33563
Labels above seem okay to do here. It's also a challenge I would hope could be addressed in a more holistic/generic way by leveraging #27331.

[2021-08-02 09:18] talldan commented on #33640
Potentially, yep. I definitely think this already exposes some shortcomings in the color system—it feels like overlay should be a completely separate element with distinct background and text color options, rather than having everything in one list of colors.

edit: Especially this swatch, it'd be nice to have a way to group background and foreground colors so that a user can see the contrast:
<im

[2021-08-02 09:20] ntsekouras commented on #33706
That used to be true yes, but has been fixed here: https://github.com/WordPress/gutenberg/pull/28663

[2021-08-02 09:24] jasmussen commented on #33640
Yes, that as well. This is going to resurface as we explore mega-menu design tools. Intuitively you'd open a specific dropdown menu and see the contents of just that dropdown. But if you then change the number of columns shown, or the background/foreground/link colors, do you change those for the selected dropdown only? Or for all dropdowns in the menu?

<img width="1540" alt="04 Navigation item"

[2021-08-02 09:25] jasmussen commented on #31337
Let's close it! I'm quite sure Jay will reopen if things aren't up to snuff :)

[2021-08-02 09:25] #31337 closed, assigned to nobody

[2021-08-02 09:31] ntsekouras commented on #33706
I guess a good alternative would be to handle this in the `block manager` (https://github.com/WordPress/gutenberg/issues/27708) by disabling specific block variations.

[2021-08-02 09:36] jasmussen commented on #29420
Excellent point. I created this ticket inspired by a personal use case, _behold_:

![punch](https://user-images.githubusercontent.com/1204802/127839688-aec96ef4-aff7-46c5-b68a-ee02e6dbe75b.gif)

Since then I haven't had much use for changing the color, though, which suggests that even if there was a use case for it, it might be better handled through extensibility or other blocks, like the separat

[2021-08-02 09:36] #29420 closed

[2021-08-02 10:01] paaljoachim commented on #27708
It would be very helpful to add back in the Embed variations to the Preferences/Options screen. Having an open/close arrow to open the Embed block to select which variations to uncheck would be nice (would also save a lot of space). Similar to how we open and close the List view today.

https://user-images.githubusercontent.com/5323259/127843799-5e084c69-1789-4e34-9537-bf3b2fde6567.mp4

[2021-08-02 10:15] paaljoachim commented on #33706
#27708 is a very good alternative to this issue!

[2021-08-02 10:43] jasmussen commented on #21992
I'm seeing some issues with beautificiation (specifically single quotes rewritten as quotes) in the HTML block ([reported here](https://wordpress.org/support/topic/prevent-changing-single-quotes-to-double-quotes/)). Is that in any way related/addressed by this?

Edit: Ticketed the issue https://github.com/WordPress/gutenberg/issues/33813

[2021-08-02 10:50] jasmussen opened #33813 "Single quotes are rewritten as quotes in HTML block and Shortcode blocks"
### Description

In some use cases one might need to use single quotes instead of quotes. It could be editorial (this bug report form suggests step by step instructions with `1. Go to '...'`) as one example. Or it could be technical, such as for use in shortcodes.

Originally reported [here](https://wordpress.org/support/topic/prevent-changing-single-quotes-to-double-quotes/), the following shortc

[2021-08-02 11:01] jasmussen commented on #33803
The iframe is a useful tool to ensure the correct behavior of device previews and media queries, as well as to protect the editing canvas from CSS bleed. But as you outline in this comment, there are lots of considerations to take in account, which is why the iframe project has a roadmap in #33346. The issues and pull requests linked from that road map are likely going to get more visibility. Some

[2021-08-02 11:07] gziolo commented on #33674
https://github.com/WordPress/gutenberg/issues/8118 was closed with a following note from @youknowriad:

So far we wanted to see how far we can get by exposing only React APIs from `@wordpress/element` that are used in Gutenberg. Some were omitted on purpose we had alternatives. However, your use case is a valid concern since it makes it very hard to integrate some 3rd party libraries. The challeng

[2021-08-02 11:13] jasmussen commented on #33735
Worth crosslinking this with #30503, which mentions a `StyleFrame` component to address this issue.

[2021-08-02 11:17] jasmussen commented on #33706
Untangling "mystery meat embed discovery" was a key principle of the block editor, so I'd avoid changing defaults to hide any of the embeds. On the contrary, the slash command to me feels like an egalitarian place that values core blocks the same as 3rd party blocks. #27708 gives user choice on top of that, which makes good sense. Should we close this one in favor of it?

[2021-08-02 11:20] jasmussen commented on #33686
While closed now, there are some mockups for how this could be handled in the original issue #29727 which I've copied here for easier reference:

**Note:** This change should apply to anywhere we use the List View component. Here shown for the Navigation block:

<img width="1440" alt="list view" src="https://user-images.githubusercontent.com/1204802/110657255-f6d83300-81c0-11eb-9d45-50aad95a20fb.p

[2021-08-02 11:24] jasmussen commented on #33683
One suggestion left in a comment is to default all nesting groups to closed by default, and persist that state between opening and closing the list view panel. If you then select a nested block in the canvas, the list view if open should expand that tree view, potentially even scroll to it. Are any aspects of this behavior tracked? The scrolling bit I feel has been discussed somewhere. Happy to op

[2021-08-02 11:31] cabrerahector commented on #33638
Not really, @kevin940726. What we want is for the block to be able to access its sidebar data (id, before_widget, after_widget, before_title, after_title, etc).

The issue you're referring to requests for blocks to get assigned a widget_id on the Widgets screen which is sort of similar but not exactly the same thing.

[2021-08-02 11:31] jasmussen commented on #33678
Google Keep has a somewhat unique handling of nested items, which could _potentially_ inspire some behaviors in the list view. Specifically it embraces the fact that it's a _list_, as opposed to a complex layout as is seen in the canvas. Nesting an item simply requires you to use the drag handle and pull it rightwards, literally _indent_ it with the gesture:

![list handling](https://user-images.g

[2021-08-02 11:42] jasmussen commented on #33668
Thanks for the report @JoshuaGoode. Do you have additional steps to reproduce? I can't reproduce it. Running Safari 14.1.2:

![saf](https://user-images.githubusercontent.com/1204802/127856587-06850c10-4d0e-4959-a6b2-9d727253f288.gif)

[2021-08-02 11:51] jasmussen commented on #33668
Looking further into it, I'm able to reproduce on older versions of Safari, such as version 13.

[2021-08-02 11:55] wpsoul commented on #33803
Checked your topics. Yes, I agree, improvements in add_editor_style with option to attach dynamic inline styles should fix most of problems. But, another good feature will be to add hook which works only in the Iframe context. Wordpress has hooks for everything, so, I am expecting to have them also for iframe. Something like admin_iframe_head which will be attached to Iframe head section.

[2021-08-02 12:00] gziolo commented on #33730
`unregister_block_type` unregisters the block on the server. If there is a `registerBlockType` call in JavaScript that registers a block under the same name – `core/categories` like in the description – then it still will be present in the inserter. This is why we advocate for passing the `editorScript` setting when registering a block on the server so we could stop enqueuing JS code when the bloc

[2021-08-02 12:02] jasmussen commented on #33803
Thanks for responding! Would you mind sharing that comment on the main thread instead? Then perhaps I can close this one so we keep it all in one place?

[2021-08-02 12:23] paaljoachim commented on #33706
Closing!

[2021-08-02 12:23] #33706 closed, assigned to nobody

[2021-08-02 12:27] wpsoul commented on #18571
Definitely, we need some universal functionality to load static and dynamic styles to all contexts of the editor.
add_editor_style can load only static files, but we have a lot of dynamic styles which are based on user selection in the customizer.

Additionally, to give more freedom, we need next improvements

1. Hooks which are exclusive for iframes. Something like admin_iframe_head. This allows

[2021-08-02 12:28] wpsoul commented on #33803
Sure, Added comment with my thoughts

https://github.com/WordPress/gutenberg/issues/18571#issuecomment-890985304

[2021-08-02 12:33] gziolo commented on #33768
`@wordpress/scripts` (and also Gutenberg) uses `webpack` 4.46.0 that is the most recent v4 version (7 months old). It looks like the only way to move forward is to finally upgrade webpack to v5.

[2021-08-02 12:38] Mamaduka opened #33815 ""Manage Locations" doesn't work on the Navigation screen"
### Description

Currently, it's not possible to assign menu locations to a different menu using the "Manage Locations" modal.

### Step-by-step reproduction instructions

Tested using TT1 theme.

1. Go to the experimental Navigation screen.
2. Create two menus.
3. Assign both locations to the first menu.
4. Open the "Manage Locations" modal.
5. Assing both locations to the second menu.
6. Save me

[2021-08-02 12:53] Mamaduka commented on #33815
I'm not sure if this action was ever possible. The `assignMenuToLocation` callback only changes data for the current menu.

https://github.com/WordPress/gutenberg/blob/f53785fbbf674d46101831206a5154d095e39d0d/packages/edit-navigation/src/hooks/use-menu-locations.js#L44-L62

I think these assignments should be handled by `__experimental/menu-locations`, which currently is read-only.

/cc @getdave,

[2021-08-02 12:57] jasmussen commented on #33668
I believe I have a fix in https://github.com/WordPress/gutenberg/pull/33817.

[2021-08-02 12:59] jasmussen commented on #33803
Thank you. I'm closing this one in favor of that and we can always revisit!

[2021-08-02 12:59] #33803 closed, assigned to nobody

[2021-08-02 13:06] getdave commented on #30170
@jasmussen I found a PR I worked on which tackled this very concept

https://github.com/WordPress/gutenberg/pull/19413

[2021-08-02 13:09] Mamaduka commented on #33789
This looks like a good enhancement for the [ImageSizeControl](https://github.com/WordPress/gutenberg/tree/trunk/packages/block-editor/src/components/image-size-control) component.

[2021-08-02 13:52] johngodley commented on #23138
You can use the filter `blocks.registerBlockType`. This will be passed the settings for every block when it is registered, and you can then return a modified copy that includes whatever changes you want to make.

Something along the lines of (untested!):

[code]

https://developer.wordpress.org/block-editor/reference-guides/filters/block-filters/#blocks-registerblocktype

You may also be intereste

[2021-08-02 14:00] SiobhyB opened #33819 "Mobile: Add "Set as Featured" Option to Image Block's "Edit" Menu"
## Description

It would be useful to have a "Set as Featured" option available from the image block's edit menu i.e. the menu available via the top right button in the block.

<img src="https://user-images.githubusercontent.com/2998162/127873600-ef23481f-f0b4-436f-943f-53dfe5e560c4.png" width="50%"/>

## Screenshot

The following sketch from @iamthomasbishop shows the end goal:

<img width="2102"

[2021-08-02 14:12] ciampo opened #33820 "Components: introducing `ColorSwatch` and updating existing color-related components"
In the context of working on the Global Styles Sidebar, we're looking to [move the prototype over to Gutenberg](https://github.com/WordPress/gutenberg/pull/32923). One component that is used in the prototype is the [g2 `ColorCircle` component](https://github.com/ItsJonQ/g2/tree/main/packages/components/src/ColorCircle), which currently only exists in the `g2` repository.

## The current situation

[2021-08-02 14:15] johngodley commented on #33801
I tried many times with different combinations of text, but was unable to reproduce this. Just to confirm that I've understood things, the example you gave above is a single paragraph block that spans multiple lines? You then selected two separate words, with one word at the end of one line, and the other at the start of the next (i.e. it's not a single word that is split across two lines, but two

[2021-08-02 14:17] SiobhyB opened #33821 "Mobile: Keep Settings Sheet Open After Setting a Featured Image via the Image Block"
## Description

When a user navigates to the image block's settings and taps the button to "Set/Remove as Featured", the settings sheet is dismissed. This could be viewed as a bit jarring and, as we've iterated on the design of the "Set/Remove as Featured" button, it'd be preferable to keep the user in the settings sheet when they tap it.

As discussed [here](https://github.com/WordPress/gutenberg

[2021-08-02 14:23] johngodley commented on #33741
Are you deleting the image from the media library? This would seem to be expected behaviour, and deleting media won't update the posts that reference that media. The same would apply to any block that uses media.

[2021-08-02 14:29] jasmussen commented on #30170
I'd be happy to pair with you on a resurrection of this one!

[2021-08-02 14:39] johngodley commented on #33665
I can confirm that using the shift key inside a group doesn't work. It doesn't freeze anything for me, or cause any subsequent problems, and once I release the shift key I can continue editing. However, given that shift-select works outside of a group then it seems something in need of attention.

[2021-08-02 14:44] ashleyleia commented on #33801
I had noticed it while working on a post, and to test it I created a new post and copied and pastedx2 a random string of text, then checked the paragraph in html view to confirm there was nothing other than the paragraph tags.

aFRDhirSoi arcmvFfaYq AlJCckBtdu MjOqwimtwF pnDriFVpIu fvOrtfsfKm WfDtnbQyOA WnOycWPBIw XlxhhlIzCA EjjgnroeVp aFRDhirSoi arcmvFfaYq AlJCckBtdu MjOqwimtwF pnDriFVpIu fvOrtfs

[2021-08-02 15:09] markhowellsmead opened #33822 "Preset colors from theme.json aren't loaded in the editor"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you tried deactivating all plugins except Gutenberg?

- [X] I have tested with all plugins deactivated.

### Have you tried replicating the bug using a default theme e.g. Twenty Twenty?

- [X] I have tested with a default theme.

### Description

I’ve added theme.json to my Theme and added some colors to

[2021-08-02 15:15] rjcalifornia commented on #23510
This can be easily solved with something like this:

https://github.com/rjcalifornia/fixzip_upload

[2021-08-02 15:17] rjcalifornia commented on #33187
For some reason, this is not being picked up by the ALLOW_UNFILTERED_UPLOADS. I made a small fix, may be that can help:

https://github.com/rjcalifornia/fixzip_upload

[2021-08-02 15:23] pansamolot commented on #23510
@rjcalifornia Thanks for your support and the development of a "fix" plugin. But rather than installing another plugin, I'd like to see this added to Wordpress / Gutenberg since this is a pure bug (I don't think that plugins are meant to fix plugins).

Any chance you can participate in writing a pull-request to any of corresponding tickets / report to get this solved in core code?

[2021-08-02 15:50] devfle commented on #26901
Do we need something like this the other way around? Things like the new border settings, or the margin feature can currently only be used by FSE themes.

[2021-08-02 15:54] stokesman commented on #33772
This duplicates #31905.

[2021-08-02 16:20] johngodley commented on #33801
Thanks. I wondered if there might be hidden characters that could be affecting things.

I still can't reproduce it myself, but others may be able to. Do you have another device or another site to see if it happens there too?

[2021-08-02 16:31] priethor commented on #33719
I don't feel strongly about a change of formatting, we can see how it looks and decide. However:

I can't agree more with this 😅. Having items at different indentation levels makes it harder to reorganize things and to [export the changelog to a spreadsheet](https://docs.google.com/spreadsheets/d/1rmI-beVEe7U3y64ZFG9tBe9j3Kdie8SRHnaqH1-BKqo/edit#gid=822793284).

[2021-08-02 16:32] dgaik-gg commented on #17221
What for example with arrow buttons where the arrow is added using a class and text is not necessary? Currently adding a space allows this button to be rendered but this is not a good way.

[2021-08-02 16:32] skorasaurus commented on #33768
Thanks for reporting.
For reference, npm audit may not always indicate an issue that needs to be immediately addressed or prioritized. to be clear though, I am not stating that the vulnerability in glob-parent is inconsequential for us; I have not examined it.

Again, thank you for reporting; I do not wish to deter your reports.

(this is an opinionated piece) - https://overreacted.io/npm-audit-br

[2021-08-02 16:36] priethor commented on #33719
I think we should avoid assuming all these PRs belong to the Post Editor. Apart from the Site Editor there is the Template Editor, even though it's accessed through the Post Editor, and there might soon be [isolated template part editors](https://github.com/WordPress/gutenberg/issues/29148).

[2021-08-02 16:37] guesttttttt commented on #33741
Yes, i am deleting images from the media library.

[2021-08-02 16:42] priethor commented on #33719
What would be the downside of sub categorizing documentation? For example, [Gutenberg 11.1](https://github.com/WordPress/gutenberg/releases/tag/v11.1.0-rc.1) had a lot of documentation updates, and grouping them in (at least) one level can help differentiate between package documentation and handbook updates.

As far as I have seen, the issue with having documentation PRs classified in other main

[2021-08-02 16:46] #33487 closed, assigned to mkaz

[2021-08-02 17:12] skorasaurus commented on #6941
Is this something still envisioned with the introduction of a custom palette through theme.json file ?

[2021-08-02 17:14] skorasaurus commented on #33772
Hi,

Thanks for reporting;
This has been discussed and/or requested in https://github.com/WordPress/gutenberg/issues/31905 . Feel free to [add your reaction](https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/about-conversations-on-github#reacting-to-ideas-in-comments), comment there, and follow its progress in the issue.

[2021-08-02 17:14] #33772 closed, assigned to nobody

[2021-08-02 17:32] NekoJonez commented on #33807
Oh I see, I was honestly looking for that in WP.com but I'm looking over it.

I think this is good enough to solve what I was saying in the first post... Don't you agree @talldan

[2021-08-02 18:21] #33592 closed, assigned to SiobhyB

[2021-08-02 18:37] blachawk commented on #31905
One use case I've been in relating to this request is when you have a single paragraph block, that needs to converted to a 2 column layout. In process of making that adjustment, we may need to quickly "transform" one of the column content areas to paragraph OR to image (maybe because you need an image to the LEFT of the content).

The longer way would be to take extra steps in creating additional

[2021-08-02 18:37] gziolo commented on #33768
We are working on weback v5 upgrade in https://github.com/WordPress/gutenberg/pull/33818 that should resolve this issue

[2021-08-02 18:40] wassim31 commented on #33778
I would like to take this issue as my first contribution to gutenberg if possible.

[2021-08-02 20:24] skorasaurus commented on #19847
Yes, I have this issue myself; it's still applicable in Gutenberg 11.1 and WordPress 5.8.

[2021-08-02 20:26] skorasaurus commented on #30596
Hi,

Thanks for reporting;
This is being discussed and/or requested in https://github.com/WordPress/gutenberg/issues/19847. Feel free to [add your reaction](https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/about-conversations-on-github#reacting-to-ideas-in-comments) and follow its progress in the issue.

[2021-08-02 20:26] #30596 closed, assigned to nobody

[2021-08-02 20:28] skorasaurus commented on #31558
Hi,

Thanks for reporting;
This has been discussed and/or requested in https://github.com/WordPress/gutenberg/issues/22784. Feel free to [add your reaction](https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/about-conversations-on-github#reacting-to-ideas-in-comments) and follow its progress in the issue.

[2021-08-02 20:28] #31558 closed, assigned to nobody

[2021-08-02 20:30] markhowellsmead commented on #19847
Yes, it’s still an issue.

[2021-08-02 20:37] skorasaurus commented on #27785
Thanks for following up @mwidmann.

Please reopen if you're you still experiencing this issue.

[2021-08-02 20:37] #27785 closed

[2021-08-02 21:02] dcalhoun opened #33828 "Inputting text into Image Alt Field causes keyboard to be dismissed after every stroke"
## Description
When attempting to set alt text for an image with the native mobile editor, the keyboard is dismissed after each character is entered. This makes it incredibly difficult to enter any text beyond a few characters. This issue appears to be present in WPiOS/WPAndroid 17.9, but not the current public release 17.8.

## Step-by-step reproduction instructions
1. Launch the editor.
2. Inser

[2021-08-02 21:10] ndiego commented on #30706
Just a quick thought on this... there are tons of uses for a mutli-select field component. Something akin to [React Select](https://react-select.com/home) would be awesome. I am using that in all my plugins at the moment, but styled to look more like core. It would great to be able to use a core component that was built explicitly for WordPress.

[2021-08-02 21:28] paaljoachim commented on #29747
Perhaps we can tie in the Accordion block issue (The issue is long): https://github.com/WordPress/gutenberg/issues/21584
As I believe the accordion needs to also become a component or in some way associated with a component. Then we have the component that can be used in various ways in various places.
@aristath @sarayourfriend

[2021-08-02 21:59] mreishus opened #33830 "EDITOR_SETTINGS_DEFAULTS makes it impossible to hide the custom fields toggle"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you tried deactivating all plugins except Gutenberg?

- [X] I have tested with all plugins deactivated.

### Have you tried replicating the bug using a default theme e.g. Twenty Twenty?

- [X] I have tested with a default theme.

### Description

### Summary

The "Custom Fields" settings is designed to be

[2021-08-02 23:06] sarayourfriend commented on #30706
I think [`downshift`](https://github.com/downshift-js/downshift) is the perfect tool for this job actually especially for getting something that "feels" like WordPress.

[2021-08-03 00:13] sabernhardt opened #33832 "Widgets: HTML block is formatted using `autop` and has its attributes removed"
### Description

In the new widget editor, Custom HTML widget blocks can get (additional) paragraph and line break tags.

Originally reported by jim5471 on [Trac #53778](https://core.trac.wordpress.org/ticket/53778)

### Step-by-step reproduction instructions

1. Go to Dashboard > Appearance > Widgets.
2. Insert a Custom HTML Block into the footer and insert this code:
[code]
3. Update and check i

[2021-08-03 00:25] azaozz commented on #33810
All of the ideas sound great! 👍

I'd like to chime in with couple more things that would improve the "situation" in the future:

1. Add some "bootstrap" code that will prevent loading of the Gutenberg plugin in unsupported versions of WordPress. Currently there's nothing stopping a user to install any Gutenberg version on any Core version. In these cases it would be best UX to not load the plugin

[2021-08-03 03:02] kevin940726 commented on #33638
@cabrerahector See https://github.com/WordPress/gutenberg/issues/32805#issuecomment-880376265, I think we ultimately want the same thing for preview iframes to have the sidebar ids. Am I missing something obvious? 🤔

[2021-08-03 04:56] peterwilsoncc opened #33834 "Media Library button misaligned on image block for small screens"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you tried deactivating all plugins except Gutenberg?

- [X] I have tested with all plugins deactivated.

### Have you tried replicating the bug using a default theme e.g. Twenty Twenty?

- [X] I have tested with a default theme.

### Description

The media library button is misaligned on small screens. It

[2021-08-03 05:13] peterwilsoncc opened #33836 "Between block inserter missing plus button on small/mobile screens"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you tried deactivating all plugins except Gutenberg?

- [X] I have tested with all plugins deactivated.

### Have you tried replicating the bug using a default theme e.g. Twenty Twenty?

- [X] I have tested with a default theme.

### Description

On small/mobile/narrow screens the between block inserter i

[2021-08-03 05:17] talldan commented on #30685
Hi @thomashigginbotham, apologies it took so long to reply to you here.

Just want to check, what's your goal here? To do local development on `theme-check`?

If so, I think the best option would be to clone the theme-check repo locally and then specify a path to the local folder in the plugins array. That's how local development for gutenberg works.

[2021-08-03 05:33] Mamaduka commented on #29711
Hello,

We tested this issue during the[ Editor Triage session today](https://wordpress.slack.com/archives/C02QB2JS7/p1627967697051500). While we couldn't reproduce the problem, it's clear that the `isPreviewingPost` selector could use some improvements.

Marking the issue as a bug, and I'll create PR shortly to handle cases when `options.isPreview` is undefined.

[2021-08-03 05:36] gavande1 opened #33837 "Post settings: Featured Image preview is too small"
## What problem does this address?
By default, the featured image preview uses the `post-thumbnail` version of an image. In Gutenberg, the featured image component first tries to use that value and otherwise uses the fallback value of the `thumbnail`. So, if `post-thumbnail` is not available the featured post thumbnail looks small and doesn't cover the full available area.

Before Screenshot:
![](

[2021-08-03 06:01] torounit commented on #31480
@bbertucc

By turning off "Inherit query from template" in the query block, you should be able to display the image.

If "Inherit query from template" is enabled, the image of the current post should be displayed, but it is not.

[2021-08-03 06:01] johngodley commented on #33741
Thanks. For me this seems to be expected behaviour. I wouldn't expect deleting an item from the media library to also update content - the image could be used in multiple blocks across multiple posts and to be consistent they would all need updating. That sounds like a lot of unexpected, and potentially damaging, changes to perform when deleting an image.

[2021-08-03 06:11] getsource commented on #31442
Hi @mishterk!

Thanks for the report. This was discussed in [a triage meeting today](https://wordpress.slack.com/archives/C02QB2JS7/p1627968584058600).

Folks present agreed that it was a bug, and @peterwilsoncc was able to reproduce, so marking it as such.

@Mamaduka mentioned that #33749 is related and might have changed the rendering behavior.