[2022-07-20 15:20] fabiankaegy opened #42566 "Blocks that have `supports.className` set to false still render block class name in editor"
### Description

Gutenberg has supported opting out of the auto-generated block name class name by setting the `supports.className` option to false. This is the mechanism core uses to not add the `wp-block-heading` or `wp-block-list` class names.

It also is very useful when you are doing very custom things with your markup and want to be in control over the class names.

I recently noticed that t

[2022-07-20 15:21] ellatrix commented on #40769
@courtneyr-dev This works. You can press Enter twice to exit the list block and inter a paragraph after it.

[2022-07-20 15:41] dcalhoun commented on #42515
Great investigative work, @derekblank.

It appears the web editor's conditional was refactored in https://github.com/WordPress/gutenberg/pull/19162. Subsequently, the same logic in the native editor was refactored in https://github.com/WordPress/gutenberg/pull/16331. The refactors are slightly different in regards to which attribute they rely upon — `id` or `src`.

https://github.com/WordPress/gut

[2022-07-20 15:48] jornfranke commented on #42513
Maybe this will help: https://github.com/reduxjs/redux/blob/master/docs/usage/structuring-reducers/BeyondCombineReducers.md
Also it seems that the code was also rewritten - not sure if this improves performance nowadays, but might be worth a try: https://github.com/reduxjs/redux/blob/master/src/combineReducers.ts#L125

[2022-07-20 15:56] skorasaurus commented on #42554
heavily related: https://github.com/WordPress/gutenberg/issues/20338 ; do these issues overlap close enough to close this?

[2022-07-20 16:19] loopmasta commented on #41877
@kathrynwp 👍

[2022-07-20 16:29] guidofd commented on #18010
This is still unbelievably unsolved.

[2022-07-20 16:55] annezazu commented on #30724
I agree with you here and am going to flag that as blocks adoption for now #36082. Thanks so much for sharing your insights so we can better have things labeled and addressed! Keep it coming.

[2022-07-20 17:24] #42565 closed, assigned to hellofromtonya

[2022-07-20 18:05] admturner opened #42570 "Raw Handling: Paste from MS Excel no longer creates a table block"
### Description

Pasting content from Microsoft Excel as a table is not working as expected. I expect to content copied from an Excel spreadsheet to create a table block when pasted in the editor. Instead, it pastes as a paragraph block.

Copying and pasting from Google Sheets works as expected -- it creates a table block in the editor. But copying and pasting from Excel appears to strip the HTML

[2022-07-20 18:22] kathrynwp commented on #42156
Copying over from the Trac thread:

[2022-07-20 18:31] kathrynwp commented on #12646
Looks like this issue was fixed in April 2019 in this changeset:

https://core.trac.wordpress.org/ticket/45495#comment:8

I'm going to go ahead and close this out, but if you are still experiencing the original issue, feel free to reopen with additional details, if needed.

[2022-07-20 18:31] #12646 closed

[2022-07-20 18:38] kathrynwp commented on #13426
I've removed the "WP Core Bug" tag since it looks like the upstream blocker was fixed a while ago.

If there's still a desire to add a Giphy block in addition to the core embed block, any developer is free to pick this up, though it doesn't look like there's been much momentum within a couple of years.

[2022-07-20 18:45] kathrynwp commented on #14134
I am no longer seeing this behaviour in the Classic block, with:

WordPress 6.0.1
No plugins active OR Gutenberg 13.6.0 active
Twenty Twenty-Two 1.2

I'm going to go ahead and close this out, but anyone's still experiencing the original issue, feel free to comment or reopen with additional details on how to replicate. Thanks!

[2022-07-20 18:45] #14134 closed

[2022-07-20 19:04] kathrynwp commented on #14630
@jaclyntan

There are now container divs around Classic blocks that can be targetted. I just tested and the container elements have classes starting with with `wp-container`.

Tested with:

WordPress 6.0.1
Twenty Twenty-Two 1.2
No plugins active OR just Gutenberg  13.6.0 active

Given that there are now container blocks, and that there's been no movement on this issue in over three years, I'm goin

[2022-07-20 19:04] #14630 closed

[2022-07-20 19:15] kathrynwp commented on #19692
As there's been no movement on this in several years, I'm going ahead and closing this out, since @youknowriad  mentioned this would be a feature to request in Core Trac rather than in this repo.

@strarsis You're still welcome to put in Trac ticket and link to it from here. Thanks!

[2022-07-20 19:15] #19692 closed

[2022-07-20 19:24] kathrynwp commented on #20557
I'm going ahead and closing out this issue, since the corresponding ticket was closed in Core Trac over a year ago, with the following comment:

[2022-07-20 19:24] #20557 closed

[2022-07-20 19:33] kathrynwp commented on #16297
Closing in favour of #18593

Related core bug as mentioned in above issue: https://core.trac.wordpress.org/ticket/39625

[2022-07-20 19:33] #16297 closed

[2022-07-20 19:36] eric-michel commented on #33374
I've read this a few times and I think I get what you're saying, but am not positive, so I apologize if I end up with an unproductive response!

I think what you're saying is that the Post Content block has a content width (meaning a max-width of its child blocks) set by default via `contentSize` in `theme.json`. And thus, its children get that max-width applied, and also have the `wide` and `full

[2022-07-20 19:46] kathrynwp commented on #38768
Thanks for the report and the PR!

Noting that I can still replicate this issue with:

WordPress 6.0.1
No plugins active
Theme: Twenty Twenty-One
PHP version 7.3.8

[2022-07-20 19:48] robertableson commented on #12646
It still seems to happen when you output a div tag containing everything. A span does not. Perhaps it's still an issue?

[2022-07-20 20:49] kathrynwp commented on #12646
@robertableson Thanks for the comment. I haven't been able to replicate this with the test case provided by @mattheu above.

Here's what I see, not spotting any extra `<p>` tags:

![Autop_Bug_Test_–_Self-hosted_Test](https://user-images.githubusercontent.com/7662449/180078603-1406a376-4fc6-43bc-8a9f-27950ec8414f.jpg)

WordPress 6.0.1
No plugins active OR just Gutenberg 13.6.0 or 13.7.0 active
Them

[2022-07-20 21:01] kathrynwp commented on #41474
@ZebulanStanphill Thanks for catching that! You're totally right; the Table of Contents block is still only available via the standalone Gutenberg plugin, which @Emilya55 confirmed above that they are not using.

@Emilya55 - At the moment I see `lwptoc` referenced in the code for your table of contents, which looks like it's coming from this plugin: [LuckyWP Table of Contents](https://wordpress.or

[2022-07-20 21:01] #41474 closed, assigned to nobody

[2022-07-20 21:16] jeffpaul commented on #13426
Looks like there's an ["official" Giphy plugin](https://wordpress.org/plugins/giphypress/) as well as [another that adds a block](https://wordpress.org/plugins/insert-giphy-block/), I'd recommend looking to see if those two developers want to work together and get the block into the "official" plugin for this

[2022-07-20 21:56] sabernhardt commented on #16400
In the Gutenberg 13.7 Summary panel, the button text is URL encoded. Also, that URL should have `direction: ltr`, and the link in the popup needs `display: inline-block` or similar for the direction to work.

![new Gutenberg Summary panel](https://user-images.githubusercontent.com/17100257/180088804-e4b77754-002b-42f6-b6ec-138ba600a584.png)

[2022-07-20 22:33] joshxduncan commented on #18595
I agree, there needs to be an easier way to remove these style resets. We use BEM and the specificity of these resets override our single-class system, breaking the layout in the backend.

So far the only way I've been able to dequeue those styles is like this:

[code]

AND

[code]

[2022-07-20 23:01] Nantris commented on #8921
It's been almost 4 years since this was reported Can we please get this simple quality-of-life feature back?

Nobody uses <kbd>Ctrl+Shift+Z</kbd> for redo on Windows, and it conflicts with a global hotkey we use which makes the lack of the <kbd>Ctrl+Y</kbd> hotkey all the more annoying. That leaves us with only the option of using the mouse to redo, which is a horrible workflow.

I'm not sure who

[2022-07-20 23:17] korynorthrop opened #42575 "Table Block: Adjustable column widths"
It would be great to have the ability to adjust individual column widths inside of the core Table block. As of now there is the default setting (which is some sort of dynamic width) and the toggle in the block setting for "Fixed width table cells". These two options do not satisfy everyone's needs and being able to set the width of columns (by dragging, typing a value, etc.) would be a great impro

[2022-07-21 01:31] derekblank commented on #42515
Thanks for the further investigation, @dcalhoun. I agree that aligning the conditionals to check for `if ( ! src )` would be the best option to start with. It would not affect the current web behavior, and it would certainly fix the issue in the case of using the Insert from URL option on mobile. I'll do some further testing on how this might affect the other media options, and open a PR if the re

[2022-07-21 03:11] annezazu commented on #41315
Noting that a similar issue was previously opened and later closed: https://github.com/WordPress/gutenberg/issues/36021 However, the PR that closed that issue has since evolved and the behavior has returned. Most recently, this came back up in the FSE Outreach Program's fifteenth call for testing:

I'm not quite sure how best to reconcile this, considering how much the W menu is in use and is need

[2022-07-21 03:23] annezazu commented on #37001
In the fifteenth call for testing for the FSE Outreach Program, [more feedback came in](https://make.wordpress.org/test/2022/07/11/fse-program-testing-call-15-category-customization/#comment-2612) that's relevant to this exploration:

In this case, one has to open that drown down, then select "browse all templates", and then pick the template of choice so there definitely seems to be an appetite f

[2022-07-21 03:51] annezazu commented on #41405
Is there any chance the following can be added under editing experience https://github.com/WordPress/gutenberg/issues/25198 Based on FSE Outreach program feedback over the last few years, it's clear that more needs to be done to reimagine the various division of settings and the language used https://github.com/WordPress/gutenberg/issues/31158. This feels similar to the work done recently to impro

[2022-07-21 03:54] annezazu commented on #30725
This continues to come up in the FSE Outreach Program as well, [including the fifteenth call for testing:](https://make.wordpress.org/test/2022/07/11/fse-program-testing-call-15-category-customization/#comment-2612)

Since we have more dimension controls, it would be interesting to iterate on this!

[2022-07-21 03:59] grappler commented on #42333
I just found out it is possible to opt-out of the columns block gap using the following in the `theme.json`.

[code]

https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-json/#what-is-blockgap-and-how-can-i-use-it

[2022-07-21 04:01] annezazu opened #42579 "Fix typo in category template creation"
This came up as part of the [fifteenth call for testing for the FSE Outreach Program](https://make.wordpress.org/test/2022/07/11/fse-program-testing-call-15-category-customization/#comment-2612) which explores using the category templates:

Right now, this is what appears:

<img width="366" alt="Screen Shot 2022-07-20 at 8 59 10 PM" src="https://user-images.githubusercontent.com/26996883/180127424

[2022-07-21 05:36] carolinan opened #42580 "Consider limiting the query pagination inner blocks"
## What problem does this address?

In the query pagination block, it is possible to place more than one previous page, number and next page. This is unexpected.
The block also has a "browse all" button even though no other inner blocks are allowed and even though all 3 inner blocks are already listed in the inserter.

![The query pagination block is selected in the Site Editor and the block inser

[2022-07-21 06:39] aristath commented on #26083
I agree, this does feel like plugin territory...
It should be possible to add a block that saves post-meta instead of content, and use that to store geolocation data, but I haven't seen such a block in the w.org repo 🤔

[2022-07-21 06:43] carolinan commented on #32268
@jameskoster Can you help me by clarifying in what way the query pagination does not work on a post or page?  It is working in my test.

If you are editing a page that you then set as a static home page, it also makes a lot of sense to have a query pagination.

[2022-07-21 06:49] carolinan commented on #27636
I have not been able to reproduce this with WordPress 6.0.1.

[2022-07-21 06:49] #27636 closed

[2022-07-21 07:06] carolinan commented on #27901
I am not able to reproduce this in WordPress 6.0.1, chrome, on mac os:

https://user-images.githubusercontent.com/7422055/180151297-76df4aeb-6f61-4fba-b8af-3d72fea8347b.mov

[2022-07-21 07:19] carolinan commented on #27901
Nor with a Youtube embed:

https://user-images.githubusercontent.com/7422055/180152039-00f71fa7-8b52-45df-9d01-754d58387260.mov

[2022-07-21 08:07] carolinan opened #42588 "ESLint does not accept spaces in the path?"
### Description

I am using _Local_ and the path to where I placed Gutenberg is:
`/Users/carolina/Local Sites/60/app/public/wp-content/plugins/gutenberg-git`

Using the _GitHub Desktop app_ to submit an update to a branch with a pull request, I received this error:

[code]

It seems to be splitting Local and Sites?

### Step-by-step reproduction instructions

1. Set up Local for WordPress developm

[2022-07-21 08:20] Mamaduka commented on #37220
This enhancement would be a requirement for #37943. Otherwise, users won't have access to the template part options.

[2022-07-21 08:20] madhusudhand commented on #24480
Is there a discussion or issue to extend the `fluid` support to fontSize under any block ?

`core/heading -> typography -> fontSize`,
`core/post-title -> typography -> fontSize` etc..

In many themes, the blocks/elements such as `headers`, `post-title` also needs fluid typography and defining all those sizes under `settings -> typography -> fontSizes` is unnecessary.
Also by defining everything un

[2022-07-21 08:30] #42579 closed, assigned to ntsekouras

[2022-07-21 08:33] carolinan commented on #29406
Hi
Can this be closed, since the full screen is forced since Mar 2, 2021?

[2022-07-21 09:08] tellthemachines commented on #33374
Not quite! Sorry if I was unclear.

Post Content is the same as the other block containers: by default, no content width is defined on it. What happens is that most block theme authors set the Post Content block on their themes to respect the theme content width. That's a two part process:

* The theme defines a content width (and usually a wide width too) in its `theme.json`
* The Post Content bl

[2022-07-21 09:13] carolinan commented on #29783
I not able to reproduce this using WordPress 6.0.1. The post title shows a box shadow with the correct size when the block is selected and you hover over the block toolbar, and also when you hover over the block in the list view.
It does not have a box shadow when the block itself is hovered over when it is not selected.

[2022-07-21 09:13] #29783 closed

[2022-07-21 09:16] carolinan commented on #20320
@strarsis I believe this is referring to the actual post and page title at the top of the editor, not the blocks?
This "post heading" ?

![the add title input field in the block editor](https://user-images.githubusercontent.com/7422055/180177731-a96be955-4db9-48b2-a397-e640ab5ee2eb.png)

[2022-07-21 09:22] maddisondesigns commented on #27901
@carolinan It seems to be working a lot better now than when I originally raised this issue

[2022-07-21 09:24] carolinan commented on #30549
I don't think having no tag would be possible, where would the block's attributes be added?
I think it makes sense to allow it to use a P tag just like the site title.

[2022-07-21 09:26] #42292 closed, assigned to t-hamano

[2022-07-21 09:45] jameskoster commented on #34352
Thanks @richtabor!

Hmm, if the template is blank how does the page content get displayed? The template would have to at least include a Post Content block, no? Wouldn't it be more sensible to have a 'Landing page' template that was comprised of Header / Post Content/ Footer? 🤔 It's a bit subjective, but for me it's important that the template / content boundaries are more clearly defined.

There

[2022-07-21 10:17] strarsis commented on #20320
Yes. I need "micro-formatting" of that text.

[2022-07-21 10:17] jameskoster commented on #42554
That issue seems to be more generic while this one concentrates on just the interaction between homepage settings + `front-page` template specifically.

Updating the Query to reflect those settings in this template feels like something worth fixing in isolation since it is kind of buggy right now, so it's probably ok to keep this issue open and consider it a part of 20338.

[2022-07-21 10:21] getdave commented on #42299
I really think that we're going to go down the wrong track here. We have an established expectation that the pseudo selector used in `theme.json` (e.g. `:hover`) maps to the equivalent in CSS (e.g. `:hover`).

What is being proposed here is that we circumvent this expectation for a single given use case (i.e. just because it's convenient for us to use `:current` to refer to a concept that is _not_

[2022-07-21 10:27] getdave commented on #42299
@WordPress/block-themers Do you have any opinions on this proposal? I've outlined the arguments above and we need to come to a decision about whom we're intending to optimise for here.

IMHO whatever we do in Theme JSON should be optimised for developers not site owners. Site Owners experience styling via the Global Styles UI and thus we can easily "shield" them from whatever we implement in the r

[2022-07-21 10:30] jameskoster commented on #20338
For the `front-page` template could we potentially bring some of the reading settings into the Inspector?

<img width="649" alt="Screenshot 2022-07-21 at 11 40 47" src="https://user-images.githubusercontent.com/846565/180195127-fd119dc7-dcca-4ca9-928a-d700682be7ee.png">

[2022-07-21 10:39] jameskoster commented on #28341
I shared an idea in https://github.com/WordPress/gutenberg/issues/20338#issuecomment-1191319722 which is somewhat relevant to this issue.

[2022-07-21 10:51] dsas opened #42593 "Weird transition effect when browsing the patterns carousel"
### Description

When using the Query Loop block and scrolling through the available patterns, there is a weird glitch when moving between patterns. This is most pronounced when scrolling backwards. When navigating backwards from current pattern n, it temporarily shows n+1 before correctly going to n-1.

This also happens on other blocks using the pattern selector, it's probably not a Query Loop s

[2022-07-21 10:52] jameskoster commented on #41315
I think there's conceptual consistency between the behaviors in the sense that in both cases you exit editing context and enter management context. We have quite some way to go in terms of aligning the UX though. Take a look at https://make.wordpress.org/design/2022/06/13/thinking-through-the-wordpress-admin-experience/ for a glimpse of where we might be headed in that regard.

[2022-07-21 11:05] gziolo commented on #42229
Technically speaking, the issue is about exposing this block for WordPress Core by removing the experimental flag that ensures Table of Contents block can be used only with the Gutenberg plugin.

We need to make the decision whether this block should be general purpose and work everywhere or we limit its usage to the post editor. One way to approach it could by setting in `block.json` the `ancesto

[2022-07-21 11:07] jameskoster commented on #37001
This continues to trip me up a bit even today. I think it's because the UI kind of hints at a select/dropdown behaviour. IE my eye sees this:

<img width="155" alt="Screenshot 2022-07-21 at 12 05 11" src="https://user-images.githubusercontent.com/846565/180199317-c5df7b30-2242-4a74-8ecb-08ad438d7896.png">

And my experience of interacting with the web over the years tells me it'll behave like one

[2022-07-21 11:08] colorful-tones commented on #42299
Yes, I follow this logic.

I think using `:current` would be a mistake and has the potential to cause conflict further down the line.

I like @getdave proposal for using `@current`. This seems like a nice compromise and does clearly indicate state (in naming).

[2022-07-21 11:11] jameskoster commented on #32268
Looks like it got fixed :)

[2022-07-21 11:23] M4N0JKUM4R commented on #21731
I am getting the same error. I even tried wrapping inside domReady. How was this fixed?

![image](https://user-images.githubusercontent.com/11471878/180202363-510da906-f49f-42f5-82c7-c5d4e45793f4.png)

[code]
Not sure if that's the right way because the Gutenberg documentation is limited.

[2022-07-21 11:23] jameskoster commented on #29406
I think so.

[2022-07-21 11:35] t-hamano commented on #42506
@lwangdu
Sorry, I didn't do enough research, but Social Links Block already has the capability.

#25468

We can set a batch of link openings, is this what you are looking for?

[2022-07-21 12:03] getdave commented on #42257
@SaxonF Thank you for raising this Issue. I think it's a really nice idea to expose the structure of the current Navigation in the block's inspector controls.

------

A quick note about Nav block Issue management...

I recognise the need to track and collate the high level concerns around the Nav block.

As you can imagine, given its complexity, there are a lot of Issues about the problems with t

[2022-07-21 12:06] madhusudhand commented on #42299
I agree that `:current` may not be appropriate and upvote the `@` prefix.
Also I suggest `@selected` instead.
More than a state, I would consider it as a variant of a block, which can have states such as `:hover` inside of it.
It may not make sense to have :hover inside of @selected for a nav menu, but thinking in a broader syntax for the prefix `@`.

[code]

Thinking out of the current context, f

[2022-07-21 12:06] getdave commented on #40382
Related https://github.com/WordPress/gutenberg/issues/42010

[2022-07-21 12:06] getdave commented on #42010
Related https://github.com/WordPress/gutenberg/issues/40382

[2022-07-21 12:11] getdave commented on #36667
Related https://github.com/WordPress/gutenberg/issues/42257

[2022-07-21 12:15] aristath commented on #22538
I can confirm the issue happens when there are 2 categories that have the same name.
After some debugging with @carolinan we confirmed that the issue is what @noisysocks mentioned above... Categories get added to an object and the category-name is the key, so there can only be a single item in the object with the same name.
Fixing this is very possible, but would require some refactoring in the wa

[2022-07-21 12:16] getdave commented on #39856
@javierarce @SaxonF If we have more up to date designs for this now then would it be possible for you to update the Issue description and link up any Figma files? Much appreciated.

[2022-07-21 12:16] ellatrix commented on #23428
@msurdi I tried this out and I can't reproduce. I tried this branch: https://github.com/WordPress/gutenberg/pull/42596. Could you have a look at that branch?
The video is also not loading for me.

[2022-07-21 12:26] getdave opened #42598 "Automatically insert a Page List block on insertion of Submenu block"
## What problem does this address?

When building a Navigation menu, a very common pattern is to have manually created top level items. For example:

* Home
* About
* Projects
* Contact

When adding submenus to these items however, it is often the case that these should be dynamically generated. For example in the example above the site may have created several "project" pages under the parent `Pr

[2022-07-21 12:28] ellatrix commented on #23428
@msurdi I do notice a problem that I can recreate consistently. If I try to select across two paragraphs, the selection disappears when I stop the selection.

If I change the code to the following, everything works again as expected:

[code]

So it seems to me that this is a excessive rererendering problem, caused by returning a new array on every call (`carets: []`). I don't think it has anything

[2022-07-21 12:29] getdave opened #42599 "Allow displaying only Pages which are a child of another Page"
## What problem does this address?

Currently the Page List has no configuration options and simply dispays all Pages. This is rarely what we want.

One common use case is to display only pages which are children of another Page.

## What is your proposed solution?

Let's update the Page List block to allow it to display only Pages which are children of another Pages which we choose.

Ideally this

[2022-07-21 12:29] getdave commented on #42598
This depends on https://github.com/WordPress/gutenberg/issues/42599

[2022-07-21 12:36] getdave opened #42600 "Automatically utilise classic menu when switching from classic Theme"
## What problem does this address?

When switching from a Classic Theme (with a Menu assigned to a Menu Location) to a Block Theme with a Navigation block, the block is currently empty.

This provides a suboptimal UX and could be improved.

## What is your proposed solution?

On theme switch, the block should:

1. Attempt to find the classic Menu that was assigned to the `primary` Menu Location.
2

[2022-07-21 12:37] getdave commented on #38291
Also related https://github.com/WordPress/gutenberg/issues/42600

[2022-07-21 12:42] getdave opened #42601 "Provide means to delete classic menus from within a Block Theme"
## What problem does this address?

Currently when you are using a Block Theme there is no way to remove an existing Classic Menu. Whilst this might seem like an edge case, it is surprisingly common.

For example, notice how when you have a Classic Menu it will remain in the block's `Select Menu` dropdown even after you have selected it to be converted into a block menu. Whilst this is intentional

[2022-07-21 12:43] getdave commented on #42600
Related https://github.com/WordPress/gutenberg/issues/42601

[2022-07-21 12:44] colorful-tones commented on #42299
I think we're digressing in mixing the discussions of variants and should focus the usage on state.

[2022-07-21 12:46] sweber83 commented on #42434
@talldan
Finally, I found the time to implement an example, which illustrates the issue.
The example implements a custom rich text format, that opens a popover, inside which a `RichText` component is rendered.
When one clicks on the rich text field inside the popover, the component `EditCustomFormat` is unmounted immediately by the outer `RichText` component.
This happens, because the selection mo

[2022-07-21 12:49] getdave opened #42602 "Move block Menu selection and "Start Empty" actions to inspector controls"
## What problem does this address?

When displayed on the editor canvas, the goal should be that the Navigation block should - as far as is possible - remain 1:1 with what is displayed on the front of the site.

[An effort is underway to improve the fallback states for the block ](https://github.com/WordPress/gutenberg/issues/42563)so that they mirror what is displayed on the front of the site and

[2022-07-21 13:08] getdave commented on #38275
## Update 21st July 2022

It's been a while since the last update, principally due to AFK.

- The `High Priority` issues have been updated to include some new Issues which add detail around fallback states and preserving the Nav on Theme switch.
- Additional issues have been added to track wider improvements to the overall system of managing "Navigation" on a WP site.
- Given that the list of cont

[2022-07-21 13:09] msurdi commented on #23428
Hi @ellatrix , thanks for your help with this.

That's not the branch where I modified the example, the branch where the modified example reproducing the problem exists is [this one](https://github.com/msurdi/gutenberg/tree/reproduce-issue-23428). I think you'll need to clone this other repository as I don't have permissions to create branches in this one.

Do you mean the video on my previous com

[2022-07-21 13:11] carolinan commented on #42598
This is only when the parent is a page, correct? Not for  *all* submenus?

[2022-07-21 13:15] getdave commented on #42598
I updated the description. Thanks for spotting that and the confidence check 🙇‍♂️

[2022-07-21 13:15] mikachan commented on #42299
Completely agree with this, and would also like to +1 the `@current` syntax.

[2022-07-21 13:22] carolinan opened #42603 "Define the default template for template creation in theme.json"
## What problem does this address?

When users create a new custom page template from the block editor's Template section, WordPress uses a basic template with a few selected blocks.

## What is your proposed solution?

I know there is a lot of ongoing work to improve the template creation flow ❤️. It would be an additional improvement for theme developers if they could define a template html file

[2022-07-21 13:39] kauaicreative commented on #42374
This is an issue again after the update Gutenberg 13.7.1

With Gutenberg on left, without on right.

<img width="2560" alt="image" src="https://user-images.githubusercontent.com/127033/180227612-d13737d5-d345-452e-ab03-7b3b6a4aa414.png">

[2022-07-21 13:45] javierarce commented on #39082
After excellent work led by @noisysocks and @Mamaduka, we are quite close to getting most of the original proposal implemented, but I'd like to get final approval from @WordPress/gutenberg-design, @mtias, and other participants on this thread before we go ahead and merge the following changes:

- [Add Featured Image, Title and Excerpt to top of the settings sidebar #42352](https://github.com/WordP

[2022-07-21 13:45] luisherranz commented on #38958
Initially, this looks to me like a subcase of https://github.com/WordPress/gutenberg/issues/42342 where the maximum number of blocks of a certain type is 1, instead of X.

@fabiankaegy: do you see different requirements?

[2022-07-21 13:46] ellatrix commented on #23428
I know, I just created one with the same example but to test in the normal setup.

I think I understand the problem now. This API is just not made for returning an object with multiple select results. It's made for only a single result. I'll see what I can do to allow it.

[2022-07-21 13:46] kauaicreative opened #42604 "Width-full no longer full width after Gutenberg 13.7.1"
This is an issue again after the update Gutenberg 13.7.1

With Gutenberg on left, without on right.

<img width="2560" alt="image" src="https://user-images.githubusercontent.com/127033/180227612-d13737d5-d345-452e-ab03-7b3b6a4aa414.png">

_Originally posted by @kauaicreative in https://github.com/WordPress/gutenberg/issues/42374#issuecomment-1191499068_

[2022-07-21 13:49] fabiankaegy commented on #38958
@luisherranz i had not thought of it from top down. Instead I always looked at it bottom up which brought me to think of it similar to the supports.multiple that already exists.

I think the main need here is that as a developer I may want to say that the post author block for example should only be able to be inserted one time as an ancestor of my post template block.

(Just taking them as exampl

[2022-07-21 14:07] ellatrix commented on #23428
@msurdi Does this solve your problem? https://github.com/WordPress/gutenberg/pull/42596/files

[2022-07-21 14:10] getdave commented on #38512
@mrfoxtalbot I think this one is specifically relating to allowing the existing Login block within the Nav block. The other one appears distinct in that it is about creating a Register/Log in/Log out _Button_ block.

[2022-07-21 14:26] lwangdu commented on #42506
@t-hamano Thanks for checking with me. I see in order get option 'open new window'. you have to select whole social area. If you click on individual social icon, there is no way you can check the option on or off. Thank you for your help!

[2022-07-21 15:24] getdave commented on #33583
I've started a [PoC for custom labelling of blocks in the list view](https://github.com/WordPress/gutenberg/pull/42605). Feedback welcome. Bear in mind it's an experiment.

[2022-07-21 15:26] Mamaduka commented on #42604
Thanks for contributing, @kauaicreative.

Can you provide steps for reproduction? I just tested with Image block, and full width works as expected.

[2022-07-21 15:30] Mamaduka commented on #42603
Probably a duplicate of #36086, but in this case, I think we can close the old issue.

P.S. I like the idea of using the `default` flag in the definition.

[2022-07-21 15:34] VladNov commented on #40481
+1

Would be great to have all the options we had in WP_Query.

[2022-07-21 15:46] kauaicreative commented on #42604
@Mamaduka Images have the same issue for me.
Chrome, Mac
Wordpress 6.0.1
Gutenberg 13.7.1
Twenty Twenty-TwoVersion: 1.2

<img width="1795" alt="image" src="https://user-images.githubusercontent.com/127033/180256993-4a647232-bf18-4102-9241-87e6ee237f56.png">

[2022-07-21 15:48] kauaicreative commented on #42604
@Mamaduka Note that the issue only appears on the front end. the editor view is never full width.

[2022-07-21 15:49] kathrynwp commented on #42604
@Mamaduka  Thanks for having a look.

### To replicate:

- WordPress 6.0.1
- Activate Twenty Twenty-Two 1.2
- Activate Gutenberg 13.7.0 (have not tested with other versions of GB)
- Add a Cover block to a static page using the default template
- Set the Cover block to full width
- Look at the page on the front end

### Result

With Gutenberg 13.7.0 active, the block is **not** full width

![Self-h

[2022-07-21 15:57] kauaicreative commented on #42604
@kathrynwp It's of interest that, with or without Gutenberg active, the editor always displays left and right margins. It could be argued that the front end showing 100% full width without Gutenberg is the bug. With that said, having 100% full width in a design seems important.

[2022-07-21 16:08] kauaicreative commented on #42604
e.g.  With Gutenberg on left, without on right. Front end on bottom.
(Also, note that Gutenberg is removing the bottom margin on the group block in the editor.)

<img width="1280" alt="image" src="https://user-images.githubusercontent.com/127033/180261497-6ed5f6a5-5060-447c-9d2d-1cb17175079b.png">

[2022-07-21 16:09] bgardner commented on #42604
I can confirm this issue, as I noticed the same thing on our Frost website.

**Pre-update to Gutenberg 13.7.1:**

![image](https://user-images.githubusercontent.com/486261/180261916-67f81237-6537-4711-b2d5-f7f927062f0a.png)

**Post-update to Gutenberg 13.7.1:**

![image](https://user-images.githubusercontent.com/486261/180261936-68118b1e-0646-4dda-897d-2f8d43e5bdfc.png)

[2022-07-21 16:09] kathrynwp commented on #42604
@kauaicreative I think in general full-width blocks are intended to be displayed full-width, both in the editor and on the front end. Thanks for the additional screenshots. :)

[2022-07-21 16:25] t-hamano commented on #42560
If used on full site editing, `PluginSidebar` must be imported from another package.

[code]

#34460 is the PR for this.

However, it isn't mentioned in the documentation and may be worth improving:
https://github.com/WordPress/gutenberg/blob/trunk/docs/reference-guides/slotfills/plugin-sidebar.md#example

This is also true for other plugin support documentation.

[2022-07-21 16:47] ndiego commented on #41021
@bph and @carolinan, I am going to pick this up for the [Block Editor Handbook page](https://developer.wordpress.org/block-editor/reference-guides/block-api/block-patterns/) if that's ok. I'll aim to have a PR put together by the end of the week.

[2022-07-21 17:08] johnstonphilip commented on #41582
I'd like to get a few more opinions if that's ok!

[2022-07-21 17:09] #42506 closed, assigned to nobody

[2022-07-21 17:11] johnstonphilip commented on #41582
I may also work up a PR for this

[2022-07-21 18:00] johnstonphilip commented on #41582
On second thought, I don't want to fight an uphill battle. Re-closing 🙂

[2022-07-21 18:00] #41582 closed, assigned to nobody

[2022-07-21 18:03] paaljoachim commented on #34352
A very good idea @jameskoster !

Thinking out loud...
I very much agree on incorporating Reusable blocks into Patterns!
I am wondering if there should be a Synced icon (plugin update spinner?) in the toolbar of patterns to where we can turn on/off synced status of a pattern.

We create a pattern. Define if it should be synced or not. We will need a way to notice which patterns are synced and not i

[2022-07-21 18:15] dsas opened #42608 "Patterns carousel displays stacked patterns in some themes"
### Description

When using the Pattern chooser carousel it displays all of the patterns on top of each other when using certain themes which looks like a mess. It happens in:
 * Twenty Twenty
 * Twenty Nineteen
 * Twenty Sixteen
 * [Skatepark](https://en-gb.wordpress.org/themes/skatepark/)

It doesn't happen on:
 * Twenty Twenty Two
 * Twenty Twenty One

I filed https://github.com/WordPress/guten

[2022-07-21 18:42] joedolson commented on #42229
The table of contents block also needs to add an `aria-label` attribute to the wrapping `nav` element. There will almost always be other nav elements present on the page (the main navigation, at minimum), so this needs to be made clear. The obvious choice for single post views is just 'Table of Contents', but if it's used outside of a single post view, it'll need further differentiation from other

[2022-07-21 19:10] LukaszJaro opened #42609 "Site Editor: Export template/parts markup made in the site editor UI to html files"
Frustrating to lose work if you click on clear customization accidently.

Current solution:  Copy and paste code from site editor to html files when changes made but is very tedious.

### Proposed Solution

**Click save:**

![image](https://user-images.githubusercontent.com/10998875/180293921-4fb25877-e20a-4d59-aba8-73cc5752588b.png)

**Markup is exported to html file:**

![image](https://user-ima

[2022-07-21 19:34] richtabor commented on #34352
Yea, I meant the Blank templates like this (https://github.com/WordPress/twentytwentytwo/blob/trunk/templates/blank.html) which only relay the post content — which you could add a header pattern to, to make a custom landing page (or whatever kind of page) for example.

It does, but this also takes the editor out of the page context. I'm not sure if introducing another layer of diving in/out is wor

[2022-07-21 19:36] richtabor commented on #34352
I also think that if a user indicates they want to make a pattern a synced pattern (and it shows up in the pattern library) then we could consider not asking them if it is to be synced when added to the page. If we had an icon, or color change for focus, then that would indicate the synced pattern is indeed synced and I can detach/unsync it if I'd prefer otherwise.

<img width="803" alt="CleanShot

[2022-07-21 19:54] sereedmedia commented on #31158
Per @annezazu's request to post my feedback here:

I feel that language like “Inherit query from template” is part of the problem for consumer adoption and provides some of the confusion over who FSE is being built for. The average WordPress _developer_ knows what a "query" is or what "inherit" means. The average WordPress _user_ does not (in my experience, which is, admittedly, primarily American

[2022-07-21 20:25] richtabor opened #42610 "Add visual cue for Group block HTML Elements (Header & Footer) to List view"
## What problem does this address?
There's no visual for which HTML element is chosen for Group blocks. The only way to know if by navigating to the block and opening the Advanced panel. This would help add understanding to the List view, highlighting the different HTML elements on the page. This initial proposal is around Header an Footer elements, but we could extend either of the ideas below to

[2022-07-21 20:26] richtabor commented on #42610
Related https://github.com/WordPress/gutenberg/issues/33583

[2022-07-21 21:04] TNHSAesop commented on #13070
I had this issue too and I noticed that when you copy/paste the embed code there is an ember loader is initialized with every copy of the embed code. This initializer only needs to be called once, so removing the initializer from subsequent embeds fixed the issue for me.

![image](https://user-images.githubusercontent.com/43328274/180314918-4d3492bf-ed16-4515-9f98-060329f197c4.png)

You can see th

[2022-07-21 21:43] wpsoul commented on #42560
Unfortunately, it's not working for me. console.log shows me PluginSidebar in wp.editSite, but when I import it, it's undefined. Also, it's still not allowing me to modify iframe elements because script is posted outside iframe and there is no hook to add it in iframe of FSE.

[2022-07-21 21:58] ellenbauer commented on #42603
That would be so incredible helpful to have. It's not a great experience for users to have to switch the template from default every time. For our block themes, we would much rather have our Header & Footer only Template be the default one.

[2022-07-21 23:21] Z3r0XG commented on #33832
Can someone provide the latest "up-to-date" workaround for fixing this issue?  I can't do a Custom HTML block for widget areas without coming back and seeing the code full of `<p>` and `<br>` tags.

[2022-07-21 23:27] tellthemachines commented on #42604
Seems that an overly-specific CSS rule coming from Core is overriding the negative margins defined by the theme:

<img width="308" alt="Screen Shot 2022-07-22 at 9 19 32 am" src="https://user-images.githubusercontent.com/8096000/180331342-e85173af-c54c-4d3d-a5ac-fa7ad3de1ab8.png">

The issue has since been fixed on trunk, but the fix hasn't been released yet.

[2022-07-21 23:58] annezazu commented on #42610
@WordPress/gutenberg-design for extra thoughts!

[2022-07-22 00:17] annezazu commented on #30773
Noting that this can be closed when this is merged: https://github.com/WordPress/gutenberg/pull/41765 cc @ntsekouras  for awareness

[2022-07-22 01:23] annezazu opened #42612 "Include nudge to pick a category for author and editor roles"
## What problem does this address?

This was noted as part of the[ fifteenth call for testing for the FSE Outreach Program:](https://make.wordpress.org/test/2022/07/11/fse-program-testing-call-15-category-customization/#comment-2627)

Here's a quick visual:

https://user-images.githubusercontent.com/26996883/180341329-b963c39a-fe99-49a0-b7e6-90452bd4daa7.mp4

## What is your proposed solution?

In

[2022-07-22 01:34] mjsdiaz commented on #40117
I would prefer to have the same experience each time. It’s confusing to suddenly see patterns when I was expecting blocks.
I would like to always see blocks first with a button or such to switch to the patterns.

Or even better, there could be a choice to set it to one or the other, just as we can change other editor settings (full screen, code vs. visual)

[2022-07-22 01:38] annezazu opened #42613 "Group contextual menu option: Ensure Cover block is wrapped in a Group block"
### Description

Using 13.7.1, after grouping a cover block, the cover block itself is removed. If you use 6.0.1, the cover block remains. This was found as part of the[ fifteenth call for testing for the FSE Outreach Program](https://make.wordpress.org/test/2022/07/11/fse-program-testing-call-15-category-customization/#comment-2627)

### Step-by-step reproduction instructions

1. Add a Cover bloc

[2022-07-22 01:46] t-hamano commented on #42560
Did you add `wp-edit-site` as a dependency?
It worked correctly in my environment.

As this is a separate issue from this issue, please refer to the following issue.

- #38673
- #41065

[2022-07-22 01:52] annezazu commented on #31158
Agreed on the complexity of the query loop block. The intent has been for it to be a more advanced user/developer tool but, until Query block, Latest Posts block and Post Lists block are consolidated to provide better alternatives for end users, we're still going to run into this exact confusion: https://github.com/WordPress/gutenberg/issues/32332 I'm going to see if we can get this emphasized mor

[2022-07-22 02:03] noisysocks commented on #26083
I'll close this out as `wontfix` for now. It would be a cool block to see in the block directory!

[2022-07-22 02:03] #26083 closed

[2022-07-22 02:06] noisysocks commented on #22538
Maybe Core should prevent creating a category with a name that's already taken.

[2022-07-22 02:09] ndiego commented on #42613
I can replicate. Interestingly enough, if you add an image from the Media Gallery and then group the Cover block, the Cover block remains inside of the Group (the expected result). There must be some logic in the grouping mechanism that's causing this.

[2022-07-22 02:35] annezazu commented on #42613
Ah ha -- I wonder if this has been impacted at all by the featured image functionality being added in. @draganescu just in case you might know.

[2022-07-22 02:39] annezazu commented on #41449
Noting that feedback came in from the [fifteenth call for testing from the FSE Outreach Program](https://make.wordpress.org/test/2022/07/11/fse-program-testing-call-15-category-customization/#comment-2632) about how confusing this current experience is:

[2022-07-22 04:19] ZebulanStanphill opened #42616 "`a:not(.wp-element-button)` CSS rule conflicts with theme styles"
### Description

Gutenberg is currently outputting the following style rule for themes with a `theme.json` file:

[code]

Prior to #42072 (which landed in Gutenberg 13.7.0), this rule only used a simple `a` selector. But now that it has higher specificity, I've found it overriding various styles in the theme I'm using (namely, a child theme of Divi... the issue would also happen with base Divi if

[2022-07-22 04:42] t-hamano opened #42618 "Docs: Add missing data module references"
## What problem does this address?
I noticed that the following packages with store are not explicitly mentioned in [the Data Module Reference documentation](https://github.com/WordPress/gutenberg/tree/trunk/docs/reference-guides/data).

- block-directory
- customize-widgets
- edit-navigation
- edit-site
- edit-widgets
- interface (experimental)
- preferences
- reusable-blocks
- rich-text

## What

[2022-07-22 04:58] andrewserong commented on #42604
@tellthemachines and I have merged a fix for this in #42614 to the `release/13.7` branch. It pulls in the fix from #42085 which is due to land in `13.8` (without all the features from the rest of that PR).

We've tagged and pushed a `13.7.2` point release here that includes the fix: https://github.com/WordPress/gutenberg/releases/tag/v13.7.2

I'm just about to wrap up for my week, but let us know

[2022-07-22 05:58] t-hamano commented on #17305
I have examined this issue again.

The post title was changed from `textarea` to richtext with `h1` tag by #31569, and `react-autosize-textarea` is no longer used.
As far as I've confirmed, the problem didn't occur even when the web fonts area applied.

I think we can close this issue, but is there anyone else who can test?

[2022-07-22 06:41] talldan commented on #41081
That's interesting. I guess Twenty Twenty Two composes headers this way to make things easier, but one of the problems is you end up with two nested HTML `<header>` elements (technically invalid html).

The inner one shouldn't really be a `<header>` element. It can be changed to a `div` in the advanced settings, while still being a `Header` area.

Another way to structure it would be to have `Head

[2022-07-22 07:07] carolinan commented on #41081
For this particular theme it becomes difficult to "un nest" because of the color settings and because changes to the existing template parts, compared to adding new un nested parts, might break existing sites.

[2022-07-22 07:43] #42236 closed, assigned to afercia

[2022-07-22 08:45] talldan commented on #35266
I'm going to reopen this as it isn't quite the same issue. The freeform handler is what triggers the behavior, but one problem is caused by the block serializer, one by the block parser. The fixes may be different.

I started with a fix for the parser (which doesn't fix this issue) - https://github.com/WordPress/gutenberg/pull/42623

[2022-07-22 08:46] ellatrix commented on #17305
This is no longer an issue because the problem was the text area, which we no longer use.

[2022-07-22 08:46] #17305 closed

[2022-07-22 08:54] markhowellsmead commented on #41431
@andrewserong Following on from @grappler's comments on https://github.com/WordPress/gutenberg/pull/40875#issuecomment-1191022723: it's come to light that leaving `settings.spacing.blockGap` as `null` (the default value) leaves the value 2em hard-coded as a specific inline rule, which cannot be overridden using e.g. `.wp-block-columns`.

Setting `settings.spacing.blockGap` as `false` and using `st

[2022-07-22 09:05] getdave commented on #42253
Currently this is the case. But I don't feel particularly comfortable that that's an acceptable approach.

I think we're going to have to come up with a solution for backwards compatibility. Perhaps for Themes that _don't_ output the global styles stylesheet we're going to need to build a blocks stylessheet _regardless_ and enqueue that. If we don't then it's going to cause regressions for Themes

[2022-07-22 09:08] talldan commented on #33832
I had a go at fixing this in #42623.

I had a look at this option @noisysocks, but the parser doesn't know if it's currently handling a paste or a normal parse of content, and it seems like a big refactor of some critical code to make that happen. 🤔

[2022-07-22 09:31] msurdi commented on #23428
It does solve the problem in the storybook example I provided, so I'm pretty sure it will fix it too in the real application.

I'm trying to get a custom build of this branch into our app so I can confirm 100% it does. But if these changes cause no harm and you want to merge that's good too, I'm pretty confident this solves it.

Thanks a lot!

[2022-07-22 09:38] rmorse commented on #17246
I also came up against this problem and managed to solve in a round about way.

Essentially, I'm generating an ID on the server, and assigning it to a block, but how the ID is generated shouldn't really matter.

With a bunch of effects and a custom store, I'm then tracking client IDs against their unique ID (I'm calling this field ID) and if I find a duplicate field ID amongst any of the blocks (c

[2022-07-22 09:54] carolinan commented on #41021
@ndiego @colorful-tones If it is not clear which handbook it should live in then there needs to be more discussions.

[2022-07-22 09:58] carolinan commented on #41021
The decision process for where this type of documentation should be placed seems very unclear.
-We need to avoid duplicate work
-We need to avoid duplicate content

[2022-07-22 09:59] getdave commented on #42253
I noticed that...

[code]

is not the same as the CSS that was originally part of the block CSS:

[code]

So whilst this might "work" the problem still remains that Themes that are not identified as "block themes" will be missing CSS styles which have been moved to JSON.

[2022-07-22 09:59] carolinan commented on #41021
I do not have the bandwidth to lead that discussion.

[2022-07-22 10:01] paaljoachim commented on #34352
I am seeing more and more modals show up in the Gutenberg UI. I believe we should look at UI methods that better incorporate decisions directly into the toolbar and/or sidebar settings. Instead of adding too much focus on modals. This is though more of a general feedback to the direction of design in the last few months.

[2022-07-22 10:02] ellatrix commented on #23428
Yes, I'm pretty confident. I wanted to add an e2e test, but it seems incredibly hard to write a test case that consistently fails in trunk. I tried to subscribe the test annotation format to the block editor store, which should cause a lot of re-renders on select, but the tests still pass.

[2022-07-22 10:08] getdave commented on #42616
cc @scruffian this looks to be a problem

[2022-07-22 10:09] ellatrix commented on #23428
So the problem here was subscribing to the block editor store, which will cause the useSelect callback to run a lot (on selection) and return a new object every time for each `__experimentalGetPropsForEditableTreePreparation` call. This was then returned in keys to the useSelect callback, the result of which no longer being shallow equal to the previous result, so all of RichText re-renders. Norma

[2022-07-22 10:24] msurdi commented on #23428
I solves the problem in the example I provided, but I'm still facing the exact same issue on our real use case.

But this is still making things better I think. I'll keep investigating what the problem could be and if it just something else we might be doing wrong on our application side.

If I managed to get another minimal example I'll reopen the issue.

Thanks again for your help.

[2022-07-22 10:29] geriux opened #42624 "Mobile - Supporting List block V2"
## Description

This issue highlights the needed work to support the new List block (V2), this is a general view of the first tasks to tackle but there might be other ones.

- [x] Add a feature flag in the main apps and Gutenberg to use the new format. Like we did for the [Quote block](https://github.com/WordPress/gutenberg/pull/40133).
  - [x] [Feature flag: WPiOS](https://github.com/wordpress-mo

[2022-07-22 10:32] msurdi commented on #23428
There's something extremely confusing to me in all of this, and it is that the problem exists only when selecting text from right to left. If you do the selection for left to right it works fine.

[2022-07-22 10:46] carolinan commented on #42603
Yes, it is the same issue, I could not find #36086 when searching :)

[2022-07-22 10:46] #36086 closed, assigned to nobody

[2022-07-22 10:51] ndiego commented on #41021
@carolinan it's a great discussion to have. At the very least I just want to ensure the [Block Editor Handbook page](https://developer.wordpress.org/block-editor/reference-guides/block-api/block-patterns/) is complete. It does not even mention that patterns can be registered in a `/patterns` folder. There are also dedicated sections on that page regarding contextual and semantic patterns, but no d

[2022-07-22 10:56] ellatrix commented on #23428
@msurdi I'm pretty sure that's because `formatCarets` in your format is returning a new array an each call.

https://github.com/Automattic/p2/blob/bb1ad221fdf02227a3f8fdb7f47e29c63af666f8/plugins/p2/src/client/core/editor/collab/lib/formats/selections/index.ts#L208

[2022-07-22 10:59] carolinan commented on #42609
Hi!
I'm sorry but I did not understand the last paragraph.

Did you mean, that you want an option to use the Site Export functionality in the Site editor to only export templates and parts, not the whole theme?

[Theme developer handbook: Site Editor export](https://developer.wordpress.org/themes/block-themes/creating-new-themes-using-the-site-editor/#block-272728d5-633a-4b12-87d2-d058a021dc6b)

[2022-07-22 11:02] msurdi commented on #23428
Yes, I was just looking at this, and found out that the root issue of that unnecessary creation of new arrays (despite the memoization) was because of unnecessary  changes of the `peers` dependency, up in the call stack.

I've already done a small refactor of what we return from `__experimentalGetPropsForEditableTreePreparation` to limit it to the minimum necessary for it to work, and can confirm

[2022-07-22 11:03] carolinan commented on #41021
Ok that sounds like a good plan!

[2022-07-22 11:07] paaljoachim opened #42626 "A better clarity to adding menu links to the Nav block"
## What problem does this address?

If one compares the Appearance -> Menus to the Navigation block.

The biggest difference as I see it is the Add menu items section.
![Screenshot 2022-07-22 at 12 31 30](https://user-images.githubusercontent.com/5323259/180421074-19fde26d-e104-4594-aacd-c16ebd3b6fab.jpg)

Comparing "Add menu items" to the one we see in the Nav block.

The Nav block has this to ad

[2022-07-22 11:41] getdave commented on #42626
@paaljoachim I know that @javierarce has been thinking about this so I'll allow him to respond here.

I've added to [the Tracking Issue](https://github.com/WordPress/gutenberg/issues/38275).

[2022-07-22 12:04] ellatrix commented on #8921
@Slapbox I created #42627. Could you test?

[2022-07-22 12:05] jameskoster commented on #42610
I'm kind of torn on this, somewhat due to https://github.com/WordPress/gutenberg/issues/33583. But also because the clarity-add seems to be skewed quite heavily towards the original author (where it is arguably less useful).

If I know I set a group as a `header` then I have the context required to interpret list view. Otherwise it kind of looks like another type of block which could cause some co

[2022-07-22 12:07] ellatrix commented on #8921
What program is using that combination?

[2022-07-22 12:37] ciampo opened #42630 "Components: label multiple / composed inputs correctly"
## What problem does this address?

_For more context: this topic was first pointed out in https://github.com/WordPress/gutenberg/pull/42118#issuecomment-1175921129 and https://github.com/WordPress/gutenberg/issues/42095, and recently discussed in https://github.com/WordPress/gutenberg/pull/42351#pullrequestreview-1039376506_

There are a few instances in the `@wordpress/components` package where

[2022-07-22 13:08] ellatrix commented on #33346
@cr0ybot I believe the duotone filter and layout filter add svg and style elements to the block canvas. Maybe have a look there for how it can be done?

[2022-07-22 13:09] ciampo commented on #42630
One idea that I though we could explore, is to:

- make sure all components in need of grouping multiple inputs are wrapped with the same component — could be the existing `BaseControl`, or a new `ControlGroup` (name TBD) component
- add functionality to `BaseControl` (or the new component) to optionally render a `fieldset` around the control
- leveraging the context system, `BaseControl` (or the

[2022-07-22 13:10] jameskoster commented on #34352
Yeah I still think adding headers (template parts) to content is a bit awkward. It can easily get confusing if you later change the template. If folks want a header for the current page, we should encourage them to add it to the template imo. Probably a discussion for another issue though :D

Or push upstream! Could work :)

Agreed. If you insert a pattern and sync it, subsequent insertions should

[2022-07-22 13:21] ockham commented on #41451
@DAreRodz and I have continued to work on the Block merge PR (#41807) for the past couple of days. We

- removed a now-obsolete block deprecation warning (on the server side)
- changed the way we remove the `legacy` block attribute by using `setAttributes` rather than replacing the monolithic legacy block with a freshly created modular one
- de-duplicated some of the warnings the user would get if

[2022-07-22 13:30] chrisvanpatten commented on #42442
Also pushed an example using a very simple example with Jest 28 and a custom config — fully removing wp-scripts — and the error persists, which I think really indicates it's an issue with how the packages are bundled. https://github.com/chrisvanpatten/wp-scripts-unit-test-case/pull/2

[2022-07-22 13:31] michaelmcandrew commented on #42566
Not sure that this is a bug as the API doesn't make any promises about markup in the editor - just when it is saved, see https://developer.wordpress.org/block-editor/reference-guides/block-api/block-supports/#classname states

(and of course there are plenty of other classes that don't make it into the saved markup.

What specifically are you trying to achieve here? Might be that there is another

[2022-07-22 13:44] mirka opened #42631 "Popover: `expandOnMobile` styling is broken"
`Popover` styling in mobile viewports is broken when the `expandOnMobile` prop is enabled. This also affects the `Dropdown` component, which depends on Popover.

In the block editor, this bug affects the quick inserter:

<img width="391" alt="Quick inserter popover is not full width in mobile" src="https://user-images.githubusercontent.com/555336/180451670-ed0b7f89-11ab-4559-b6ea-9150af23c547.png"

[2022-07-22 14:31] richtabor opened #42632 "Top-level patterns"
## What problem does this address?
Some patterns, like headers, footers and fullscreen hero areas are not meant to be placed within a parent block.

It's easy to forget to add a blank paragraph block, or hit "Insert after" before adding another pattern — which can lead to unintended placement of these patterns that meant to be placed at the top-level of a page.

## What is your proposed solution?

[2022-07-22 14:38] richtabor commented on #42610
I like the alias adjustment as then you wouldn't need to set a custom label per the HTML element chosen, unless you wanted to further. It's more clear what you have, without requiring you to act first to make it clear.

But it looks like another type of block (a standard Group block) — without that HTML element context. Perhaps adding an icon and an alias is a bit far (as it does look like the Hea

[2022-07-22 14:47] CloundNine commented on #39106
Seems to connected to Advanced Editor Tools (previously TinyMCE Advanced)  as Formatting and Text Color sections of Settings column don't even appear without that plugin enabled.  Work around is to change the settings in Advanced Editor Tools.  TURN OFF the "Enable setting of selected text color " and "Enable setting of selected text background color" and drag the Text Color functionality from the

[2022-07-22 15:22] jameskoster commented on #42610
Heh, we're getting back into that discussion around whether template parts should be placed inside content :D

I think this is where I get tripped up. Something like an article header feels conceptually different to a site header. I don't know that folks would group the two together, so if they have the same appearance it could be confusing.

cc @WordPress/gutenberg-design 👀

[2022-07-22 15:22] mcsf commented on #42513
I understand why browsers would flag this as unsafe code, though I'm not worried about `turbo-combine-reducers`.

Personally, I'm more concerned with occurrences like [parse-css-unit-to-px.js#L27](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-editor/src/utils/parse-css-unit-to-px.js#L27), where the attack surface is larger and we should be more conservative in the input.

Now, t

[2022-07-22 15:26] michaelmcandrew opened #42634 "Allow restriction of the heading levels available in the heading block"
## What problem does this address?

Currently the heading block allows users to insert _any_ heading level from 1 to 6. This is nice and flexible but in some instances, it would be good to be able to restrict this, for example, only allow 2-6 or 2-3 (in the same way that we can restrict spacing, colours, remove blocks etc.).

In the current implementation, the list of headings is hard coded here:

[2022-07-22 15:48] LukaszJaro commented on #42609
Hi @carolinan

I want the process to be automated when clicking 'save' and only export the template and template parts to my current working directory. So not exactly the way the site export functionality works, I don't want a zip file created but instead write it to my current working directory i.e., templates or parts.

For example:
[code]

[2022-07-22 15:54] ricjcs opened #42636 "Table of Contents: generate links with just the anchor instead of the full address"
When creating a Table of Contents, the links have the full address. Example: website.com/post-title/#anchor

Wouldn't it be better if the link was only with "#anchor", as is usually done manually, since it's enough to work and the rest is unnecessary? Is it not technically possible?

The full address causes problems. If the URL is changed in the editor, the link is generated. But if it is changed

[2022-07-22 16:07] ellatrix commented on #42624
Anything I can do to help?

[2022-07-22 16:36] ndiego commented on #42616
I can confirm this is causing issues in Twenty Twenty-Two as well.

[2022-07-22 16:40] wpsoul commented on #42560
You are a hero. Yes, now, it's working correctly.

It's bad that question from February about scripts in iframe was not resolved.

[2022-07-22 16:42] carolinan commented on #42609
OK. This was attempted, and you can read about why it was not added here: https://github.com/WordPress/gutenberg/issues/39194#issuecomment-1138294471

I will close this as a duplicate of #39194. Further discussion can continue in the original issue.

[2022-07-22 16:42] #42609 closed, assigned to nobody

[2022-07-22 16:45] #41940 closed, assigned to carolinan

[2022-07-22 16:47] ndiego commented on #42604
I am going to close this issue now that 13.7.2 has been released with a fix.

[2022-07-22 16:47] #42604 closed, assigned to nobody

[2022-07-22 17:03] apmatthews commented on #42535
I was able to reproduce this on `trunk` on macOS. It appears to only be a problem for blocks that use rich text. If I put a spacer block inside the group instead of a paragraph, the bug does not appear.

Still looking for a root cause, but [this comment](https://github.com/WordPress/gutenberg/blob/dceefb1d4ffaa07f879e6eccfb679fc91d83325c/packages/block-editor/src/components/rich-text/use-firefox-c

[2022-07-22 17:17] skorasaurus commented on #42599
closing this as it's a duplicate of https://github.com/WordPress/gutenberg/issues/37130

[2022-07-22 17:17] #42599 closed, assigned to nobody

[2022-07-22 17:29] ndiego opened #42640 "Social Icons: Additional opacity applied to buttons in template parts"
### Description

When placing the Social Icon block in template parts, additional opacity is applied due to the following global styles:

[code]

While useful in most cases, these styles negatively impact the Social Icon block, making icons display incorrectly in the Editor.

### Step-by-step reproduction instructions

1. Use Twenty Twenty-Two or another block theme
2. Open the Site Editor and add

[2022-07-22 17:59] DAreRodz commented on #41451
I've just merged https://github.com/WordPress/gutenberg/pull/41807 and left some [notes](https://github.com/WordPress/gutenberg/pull/41807#issuecomment-1192804470) for a follow-up PR. 😊

[2022-07-22 18:35] bgardner commented on #42616
Yes, I will echo the above. I had to implement the following in Frost, which doesn’t seem optimal:

[code]

[2022-07-22 18:49] bgardner commented on #42177
@t-hamano Circling back to confirm that https://github.com/WordPress/gutenberg/pull/42479 solves the issue with captions.

[2022-07-22 18:49] #42631 closed, assigned to mirka

[2022-07-22 19:22] richtabor opened #42644 "Move button block width control into Dimensions"
## What problem does this address?
Setting a width of a button should be considered a dimension, and moved to that panel.

Do we have insights on the frequency/usage of the width setting? Looking at the pattern directory it seems a width is applied less often. I'm thinking it may be better as turned off by default within the Dimensions tool-belt.

### Current:
<img width="595" alt="CleanShot 2022-

[2022-07-22 19:26] bgardner opened #42645 "Theme.json: Gradient / Solid Background (Gradient cannot be unset)"
### Description

I am designing a theme which sets the background with a gradient in theme.json, per the following:

[code]

This results in CSS that looks like:

[code]

The problem, however, is that there does not seem to be a way to programmatically disable the gradient set by the theme. One can attempt to do so by selecting a solid color in Site Editor > Styles > Elements> Background, but that

[2022-07-22 19:31] bgardner commented on #42645
It seems that a toggle function should be in place here, similar to how colors (Solid/Gradient) work in the block editor.

[2022-07-22 19:34] michaelbourne commented on #28915
I have this problem without even resizing images. `components-resizable-box__container` has a max height set that's shorter than the full size image, and the content after it overlaps it. Seems to happen any time I have a large landscape image and insert it as size full.

[2022-07-22 19:35] ndiego opened #42646 "Tracking issue for adding `font-family` support to all Core blocks with typography controls"
The goal of this tracking issue is to improve the consistency of typography support across core blocks, specifically `font-family`. `font-family` is impacted by the Web Fonts API and has been left off many blocks that already support some form of typography control. The ultimate goal is for all blocks with typography control to also support `font-family`.

Blocks with current PRs to add `font-fami

[2022-07-22 20:08] jornfranke commented on #42513
I understand that it might be more complex. I am skeptical about validation - first we will never find all possible strange keys (cf. for instance WAF rules for Log4shell - it is up to now impossible to find one that covers all cases of Log4Shell and also security experts say it is impossible). I think also validation rules will significantly hamper performance itself with little benefit related t

[2022-07-22 20:41] johnstonphilip commented on #41293
I was able to trace this down to 2 places.

The first place is here:
https://github.com/WordPress/gutenberg/blob/04802c3e1edef60a6df877d1a5006486564f65da/packages/block-editor/src/components/colors-gradients/dropdown.js#L141

Really, if there's nothing to show, that should `return null` instead of the `Dropdown` component. I wasn't able to find the right way to check what is available to show thou

[2022-07-22 21:57] apmatthews commented on #42535
I've traced this back to [this particular invocation of `onSelectionChange`](https://github.com/WordPress/gutenberg/blob/04802c3e1edef60a6df877d1a5006486564f65da/packages/rich-text/src/component/use-input-and-selection.js#L158) that does not execute during the reproduction in Chrome, but does in Firefox. When this function executes, it causes block selection to move back to the paragraph.

It seem

[2022-07-22 22:03] coreyworrell commented on #16911
Hard to believe this hasn't been addressed in almost 3 years. `px` media queries have been inaccessible for many years now. Our sites always use `em` media queries for the reasons @niaccurshi mentioned, and if want to change a style based on when columns wrap, we cannot use `em` at risk of styles being "out-of-sync" if a user has modified their default browser font size.

[2022-07-22 22:06] Nantris commented on #8921
@ellatrix thank you so much for your speedy response and PR to resolve this! I'm very appreciative for you taking a crack at this.

I'd be happy to test the changes, but I'm not sure how I can actually do that?

The program using that hotkey globally is [Recollectr](https://recollectr.io/). It's re-assignable, but it's a pain to re-assign it and revert it only when working in WordPress. Besides th

[2022-07-22 22:27] ndiego opened #42649 "Button element causing errors in Editor since Gutenberg 13.7.x"
### Description

Since upgrading to Gutenberg 13.7.x, errors are now being thrown in both the post Editor and the Site Editor. Screenshot below.

The button element code I have been using for testing is:

[code]

### Step-by-step reproduction instructions

1. Use Twenty Twenty-Two or similar block theme.
2. Add the code above in theme.json
3. Open the post Editor and see the error (need debug on o

[2022-07-22 22:51] carolinan commented on #42645
This is a duplicate of #42105.

[2022-07-22 22:51] #42645 closed, assigned to nobody

[2022-07-22 22:51] carolinan commented on #42105
As mentioned in the duplicate issue, this does not only happen with the body background but also other backgrounds.

[2022-07-23 00:08] mirka opened #42650 "UnitControl: Unit dropdown text is not centered in Safari"
Due to a [bug in Safari ](https://bugs.webkit.org/show_bug.cgi?id=40216)where `text-align` does not work on `<select>` elements, the unit text is not center aligned as expected.

## Screenshots

<img width="126" alt="The 'px' text is not centered in the dropdown button" src="https://user-images.githubusercontent.com/555336/180582140-f9223f99-4afe-419c-8b1e-7910a6bf4cfd.png">

[2022-07-23 01:56] t-hamano commented on #42560
I am glad to hear that the problem has been resolved.

Each contributor may have a huge task at hand and may not be able to respond immediately.
However, additional discussion and PR are welcome.

[2022-07-23 01:56] #42560 closed, assigned to nobody

[2022-07-23 03:26] t-hamano opened #42652 "Components: focus is lost from Modal on keyboard operation in Firefox"
### Description

In the Firefox browser, the focus sometimes goes out of the modal f you use the TAB key to move.
This issue is very unstable and seems to occur when the machine is under load or when tabs are moved at high speed.

### Step-by-step reproduction instructions

- Open one of the modal window from [the Storybook page](https://wordpress.github.io/gutenberg/?path=/story/components-modal-

[2022-07-23 05:20] alexstine commented on #30549
In the above PR, using the p tag I think is a tricky situation.
- This fixes the problem mentioned in this issue, 100%.
- It creates an issue where post titles could now be rendered as p elements. This would break accessibility if a user changed this because of logical heading structure. Site title, then post title or post title, then sub-headings for the post.

I do not trust users enough. Here a

[2022-07-23 09:43] #37856 closed, assigned to t-hamano

[2022-07-23 09:45] t-hamano commented on #37856
@erikjoling

We were able to solve this problem with #42483.
After testing again, we no longer reproduce this issue and would like to close it.
If the issue has not been resolved, please feel free to reopen it.

[2022-07-23 09:46] t-hamano commented on #38113
@davilera

We were able to solve this problem with #42483.
After testing again, we no longer reproduce this issue and would like to close it.
If the issue has not been resolved, please feel free to reopen it.

[2022-07-23 09:46] #38113 closed, assigned to nobody

[2022-07-23 09:46] t-hamano commented on #41845
@ryelle

We were able to solve this problem with #42483.
After testing again, we no longer reproduce this issue and would like to close it.

If the issue has not been resolved, please feel free to reopen it.

[2022-07-23 09:46] #41845 closed, assigned to nobody

[2022-07-23 10:28] t-hamano commented on #42636
Hi @ricjcs,
I think these two comments are helpful in explaining why the TOC block holds absolute paths rather than anchors.

- https://github.com/WordPress/gutenberg/pull/29739#issuecomment-1083463587
- https://github.com/WordPress/gutenberg/pull/29739#issuecomment-1083479563

[2022-07-23 11:08] t-hamano commented on #33108
This problem is not depends on languages, but also occurs when we have long post types or widget area names.
I think we need to apply styles to prevent wrapping and overflow.

## Long post type label with spaces

![long_1](https://user-images.githubusercontent.com/54422211/180602490-0d9d5992-3506-411c-b449-44972be4b3a0.png)

## Long post type label with no spaces

![long_2](https://user-images.git

[2022-07-23 11:09] ricjcs commented on #42636
Hi @t-hamano , thank you very much for your reply.

[2022-07-23 12:44] t-hamano commented on #42031
I found that this problem is not limited to columns or group blocks.

In the list view, if there are **31 or more nested child blocks**, the 31st and subsequent blocks are not displayed, including the next parent block.

https://user-images.githubusercontent.com/54422211/180605423-a02f1fcd-8a9e-4736-9c2c-294e2ccf2683.mp4

[2022-07-23 12:49] t-hamano commented on #42031
Looking at #35230, it appears that the initial rendering is limited to 30 blocks, which are rendered according to scrolling.
However, if there are more than 30 child blocks, I think the scroll rendering is not working for some reason.

[2022-07-23 13:13] t-hamano commented on #42636
@ricjcs

I'm glad you found it helpful.
I would like to close this issue, but if you have something to discuss, please re-opening it.

[2022-07-23 13:13] #42636 closed, assigned to nobody

[2022-07-23 13:57] BE-Webdesign commented on #42100
I think this can be closed out as it is fixed in trunk branch.

[2022-07-23 14:40] BE-Webdesign commented on #39645
I can take this on.

[2022-07-23 15:01] Shalice1218 commented on #22861
I have a lot of frustration with SVG as well.

I used the SVG support and set upload restricted to Administrator only, but it doesn't always work for me. Some sites are perfectly fine, but some sites I can't upload. The solution I tried was

**Go to Elementor -> Settings -> Advanced, enable the “Unfiltered Files Upload” option, and save changes.**

If still, it doesn't work for all, I use the code

[2022-07-23 18:38] ALJ commented on #42634
I agree; theme developers should be given the flexible ability to allow and disallow heading levels. It's such a common need when working on controlled design systems that its exclusion from the block editor is a recurring headache on the projects I see.

I suggest heading levels should be (dis)allowed by the context of the heading blocks. I.e. _a parent block_ should declare which heading levels

[2022-07-23 19:41] paaljoachim commented on #42610
I have not used the Advanced HTML element drop down yet. So I am testing it right now and sharing thoughts as they come up.

Changing the HTML element to define a specific area of the site or page/post should be reflected visually in some way or another.

If I define the HTML element as a header, main, section, article, aside or footer. How would that affect the site in relation to corresponding a

[2022-07-23 21:17] MarkRH commented on #39106
I just wanted to say thanks for this work around.  I have made a post in the WordPress.org support forum about it: https://wordpress.org/support/topic/text-color-custom-popup-below-side-bar/ around 5 months ago.

Anyway, I am using WordPress 6.0.1 with an up to date Twenty Twelve theme (child) and did have the Advanced Editor Tools installed.

[2022-07-24 08:49] tbdalgaard opened #42659 "Contain text cursor inside block checkbox does not restrict the cursor when editing text"
### Description

When the checkbox "Contain text cursor inside block" is checked normal keyboard navigation inside a block is restricted to the selected block.

But when a user edit the block content some unexpected results can be found. For example it is very easy to delete a paragraph block while editing the text of set paragraph.

### Step-by-step reproduction instructions

1. Make a new post.

[2022-07-24 10:12] ramonjd commented on #24480
None that I'm aware of. It seems like a reasonable progression. For now, would be it be acceptable to define them in theme.json?

[code]

[2022-07-24 11:08] ramonjd commented on #24480
Basic fluid font sizing added in https://github.com/WordPress/gutenberg/pull/39529

Closing for now.

Feel free to re-open, though I think we could create a new issue for fluid letter spacing and any other fluid typography features that folks think would enhance the functionality.

[2022-07-24 11:08] #24480 closed

[2022-07-24 12:40] t-hamano commented on #24611
The block style previews are now displayed as popovers, so I believe this issue will no longer occur.
How about testing again to see if we can close this issue?

[2022-07-24 12:45] t-hamano commented on #29840
@oldrup

Sorry for the very late reply.
I have tested this issue again and could not reproduce it.
Can anyone test this issue?

## My environment

- OS: Windows 11
- Browser: Firefox 102.0.1 (64bit)
- WordPress Version: 6.0.1
- Gutenberg Version: 13.7.0-rc.2 (with or without)

[2022-07-24 13:10] AndrewJDFerguson opened #42660 "Patterns: Spotlight Mode Option makes patterns in inserter look greyed out"
### Description

This appears to be a defect, as I cannot think of any reason why enabling Spotlight mode should affect the Block Inserter sidebar interface.

Below is the information I originally posted on the WordPress.org support forum. The response I got there confirmed the behavior.

Using the Gutenberg editor with Spotlight mode turned on is the way I like to work, as many times I cannot oth

[2022-07-24 13:12] kauaicreative commented on #5940
images with a caption (figcaption) are being converted to html blocks for me.

[2022-07-24 13:39] t-hamano commented on #40863
Hi @kblizeck,

Sorry for late reply.

I've tested it, but I can't reproduce this issue.
If you have not yet solved this problem, could you try the following?

- Activate a default theme (Twenty Twenty Two or Twenty Twenty One)
- Disable all plugins

Then I prepared a minimal code for testing.
Please try this code as well, as it should work if pasted into the theme `functions.php`.

[code]

### Cap

[2022-07-24 13:58] marceloaof commented on #42634
Heading levels are allowed in `core/archive-title`, `core/comments-title`, `core/heading`, `core/post-title` and `core/site-title`.

[2022-07-24 14:03] t-hamano commented on #42588
I also tested it and reproduced it when the directory contains spaces.
This same problem has been reported on ESLint and still seems to be unresolved.

https://github.com/eslint/eslint/issues/14025

It might be good to leave this issue open in the hope that it will be fixed by the library.

[2022-07-24 14:48] oldrup commented on #29840
Sure. Still got it. No changes there since originally posted. [22 sec screencast:](https://www.loom.com/share/77c47277d2d847e1a24d11775049052b)

- OS: Windows 10
- Browser: Firefox 102
- WordPress Version 6.0.1
- Gutenberg: Shipped with WP 6.0.1

Was able to [choose a narrower scroll bar](https://www.makeuseof.com/change-firefox-scrollbar-style/) using Firefox:config flags, and it sort of mitigate

[2022-07-24 14:57] t-hamano commented on #29840
Thank you for your replay.
I haven't been able to reproduce it yet, but I will first mentions #31858 because I think this PR probably has something to do with it.

[2022-07-24 17:23] gziolo commented on #42442
My bet is that we are dealing with the challenges of [Dual CommonJS/ES module packages](https://nodejs.org/api/packages.html#dual-commonjses-module-packages):

[2022-07-24 18:04] skorasaurus commented on #42644
somewhat related: a PR that moves the width setting to theme.json and give user the ability to disable the width control as well https://github.com/WordPress/gutenberg/pull/42079

[2022-07-25 00:12] andrewserong commented on #41431
Thanks for following up @markhowellsmead:

This area gets pretty nuanced, so I just want to make sure I understand the issue here. If you're setting `styles.blocks.core/columns.spacing.blockGap` to a particular value (e.g. `12px`) then the value will be output as `.wp-block-columns.is-layout-flex { gap: 12px; }` so in that situation there shouldn't be any need for the theme to provide its own CSS

[2022-07-25 00:14] glendaviesnz commented on #42613
Probably related to https://github.com/WordPress/gutenberg/pull/40293 where this was added as intended behaviour

[2022-07-25 00:18] andrewserong commented on #41431
@markhowellsmead alternately, I have an open PR in https://github.com/WordPress/gutenberg/pull/42544 that proposes adding a theme support `disable-layout-styles` that would allow themes to entirely opt-out of Layout styles. Is that something useful for this case, or is this one where the theme still requires Layout styles, but it's just the fallback gap that you want to get rid of?

[2022-07-25 00:41] andrewserong commented on #42613
Oh, this is a pretty interesting one. #42638 looks like a good short-term fix to me for dealing with the case of a Cover block that has the featured image set, thanks for getting that one up @ndiego!

In this case, I think there's a subtle difference between two potential user interactions when it comes to grouping things.

1. If a user has a Cover block selected, and selects to transform to Group

[2022-07-25 01:57] ndiego commented on #42613
Yeah, I was a bit surprised when I realized the "Group (verb) menu item" was using the transform functionality under the hood. I agree with all the transform logic in the Cover block (once the featured image bug is fixed), but I think it can be a bit unintuitive when you are trying to "group" blocks rather than transform a Cover block into a Group block.

[2022-07-25 03:30] tnchuntic commented on #22875
I think this one is not yet fixed. Currently, I am encountering this issue with "Not able to access reusable blocks" in Widget Block area.

[2022-07-25 05:37] aaronrobertshaw commented on #42095
A draft PR exploring [tooltips for inner `BorderControl` fields](https://github.com/WordPress/gutenberg/issues/42095#issuecomment-1183968034) within a `BorderBoxControl` can be found in: https://github.com/WordPress/gutenberg/pull/42661

[2022-07-25 05:53] talldan commented on #37604
I've personally seen this fail quite regularly with this error:
[code]

examples:
- https://github.com/WordPress/gutenberg/runs/7493638539?check_suite_focus=true
- https://github.com/WordPress/gutenberg/runs/7473918273?check_suite_focus=true

The artifact still shows the logged in user as admin (in the top-right corner it should say 'Howdy, contributor!'), so I think that's where the issue lies:
!

[2022-07-25 05:56] #33832 closed, assigned to talldan

[2022-07-25 06:27] ciampo commented on #42630
The same approach could be used to avoid displaying nested `Tooltips` (as discussed in https://github.com/WordPress/gutenberg/pull/42661)

[2022-07-25 06:28] mtias commented on #42257
Modified the title so that there's no confusion with the site structure work — this one should be about adding a way to edit the navigation block as a list in the block inspector.

[2022-07-25 06:33] talldan commented on #42659
That makes sense to me. Both enter and delete or backspace seem like they shouldn't create new blocks or delete blocks.

@alexstine what do you think about this?

[2022-07-25 07:27] SaxonF commented on #42257
@getdave I believe the current add new link dialog has a transform section at the bottom after selecting link type. I'm suggesting we remove that and just provide a way to go "back" to link type selection instead. I could be missing something here though so will leave it up to @javierarce to decide how to best move forward.

![image](https://user-images.githubusercontent.com/1072756/180721573-9ca6

[2022-07-25 07:39] talldan commented on #42610
There's potentially some overlap between this issue and https://github.com/WordPress/gutenberg/issues/20719 (which I unceremoniously closed 😄), in terms of having a better understanding of the document outline through List View.

If this change were made I would personally lean towards the second option (providing a better default for the alias), but without changing the block icon. I think those

[2022-07-25 07:51] talldan commented on #42598
https://github.com/WordPress/gutenberg/issues/31063 is related. There's also an old PR open for that which may be of some use - https://github.com/WordPress/gutenberg/pull/31471. It adds parent filtering to the page list block, but only based on the current page.

[2022-07-25 07:53] carolinan commented on #32100
Hi @paaljoachim
I am not able to reproduce this issue. I tested with Twenty Twenty-One, but not with a page template because the theme does not have template editing enabled. It does not support template editing.

[2022-07-25 08:05] carolinan commented on #32861
Hi!

The Appearance -> Templates screen does not exist anymore.

The template list in the Site Editor has an option for renaming the template. It does not separate "name" and "slug", it only has one option, and the option is only for user created templates:

![Template list, with the option for renaming the selected template](https://user-images.githubusercontent.com/7422055/180728566-1c62efc4-b32

[2022-07-25 08:12] mtias commented on #34641
The next step here should begin by having access to setting width on nested group blocks, so we can represent columns by a row + stacks. I'd love to explore min/max values for these width elements.

[2022-07-25 08:15] carolinan commented on #32595
I am not able to reproduce this. Columns now use a 2em gap style that was not implemented at the time this Issue was opened.

[2022-07-25 08:15] #32595 closed, assigned to nobody

[2022-07-25 08:45] carolinan commented on #33871
I am no longer able to reproduce this, closing as fixed.

[2022-07-25 08:49] paaljoachim commented on #32100
Hey Carolina @carolinan

Thank you for the feedback!

Testing with Twenty Twenty One. As you mentioned there is no template editing enabled.
Testing with TT1. (I might have made an error in the original issue.)

Removed Site Title, Site Tagline (and Group block) and Separator blocks.
Added a Cover block with an image. Set it to Full width.
![TT1-Page-template-Cover-block-full-width](https://user-i

[2022-07-25 08:50] carolinan commented on #28011
@catkit What is inside the content template part?

[2022-07-25 08:52] derekblank commented on #42624
To start, I'm working on testing @geriux 's changes so far, with a focus on switching between posts created on web and then mobile (and then vice versa) to note the HTML markup changes are all working ok.

[2022-07-25 08:54] fluiddot commented on #42624
Hey @ellatrix, thank you very much for offering your help 🙇. In relation to the following item:

We'd really appreciate it if you could help us with adding a flag to the block editor settings endpoint, very similar to [how it was done for the Quote v2](https://github.com/WordPress/gutenberg/pull/40089/files). This will help us to know when we have to enable the List v2 in the native version and co

[2022-07-25 08:56] giannis-koulouris-bb opened #42667 "Changes made to a duplicated block with attribute type of array affects the original block."
### Description

I have created a custom block that has an attribute with type of array. Everything works correctly except when I'm duplicating that block, the changes I make to that array attribute on the new block affects the original block as well. It doesn't happen if I copy & paste the block, only if I duplicate it.

### Step-by-step reproduction instructions

1. Create a custom block contain

[2022-07-25 08:56] #30930 closed, assigned to nobody

[2022-07-25 09:20] Mamaduka commented on #42667
It is probably related to #41565 but needs testing.

[2022-07-25 09:21] jameskoster commented on #42320
Another consideration; when a tab panel is the first child in an element that has padding it can look a little strange:

<img width="360" alt="Screenshot 2022-07-25 at 10 14 39" src="https://user-images.githubusercontent.com/846565/180743220-779c6c0f-bbae-4f3b-b95c-a0852bfaeb87.png">

It would be good to explore options whereby the tabpanel position can be offset without affecting the targetable a

[2022-07-25 09:24] giannis-koulouris-bb commented on #42667
For me it doesn't occur if I just add another instance of that block, or if I copy/paste the block. It **only** occurs when I duplicate the block.

[2022-07-25 09:35] Mamaduka commented on #42667
@giannis-koulouris-bb, I could reproduce both issues with the example plugin @AdamWills However, itovided. It only happens if the values of the array attributes are the same for blocks.

I'm going to close this issue and let's continue the discussion in #41565.

Thanks for contributing!

[2022-07-25 09:35] #42667 closed, assigned to nobody

[2022-07-25 09:36] Mamaduka commented on #41565
I could produce the issue with the provided sample plugin.

[2022-07-25 09:58] michaelmcandrew commented on #42634
@ALJ - since there are likely lots of different opinions views on _how_ heading levels should be restricted it might make sense to limit issue to just enabling the customization. We can then leave exactly when and how it happens to others (e.g. theme / plugin authors).

@marceloaof - thanks for listing those other blocks - I forgot about them!

It looks like all of them apart from use the [`Headin

[2022-07-25 10:01] #37699 closed, assigned to nobody

[2022-07-25 10:27] carolinan commented on #34047
I am closing this as a duplicate of #33956 since these margin styles are not specific to the query block.

[2022-07-25 10:27] #34047 closed, assigned to nobody

[2022-07-25 10:32] MaggieCabrera commented on #42300
Closing this, can't reproduce anymore, it might have been something weird with my environment.

[2022-07-25 10:32] #42300 closed, assigned to nobody

[2022-07-25 10:35] scruffian commented on #42253
While that was the case with #41898 it was addressed in #42005. In my tests the CSS is output in both block and classic themes.

[2022-07-25 10:40] carolinan commented on #33956
Updating the CSS examples since they have changed since the issue was created.
WP 6.0.1 Gutenberg 13.7.2.

Current CSS for regular width group block without alignment, front:

[code]
Editor:

[code]

Site editor, full width enabled on nested group:

[code]

[2022-07-25 10:49] carolinan commented on #36821
By now, after having used the Site Editor for some time, I have a habit of using the Site link a lot and I would prefer it it was not removed.

A regular flow can look like:
Open Site Editor. The index/home/front page template is shown.
I open the navigation sidebar.
Select Templates
Select the template I want to work on from the list.

Now when I have made the changes and saved,  if I want to go

[2022-07-25 10:56] carolinan commented on #32100
I still don't understand -these images are from the template editor, which is not supported by TT1. Are you using a third party plugin to enable it?

[2022-07-25 11:05] scruffian commented on #42616
I have a proposal for a fix here: https://github.com/WordPress/gutenberg/pull/42669/files

[2022-07-25 11:08] carolinan commented on #36967
I am able to reproduce this if the theme has a theme.json file.
It does not make a difference if I enable the layout setting on the column or not.

[2022-07-25 11:11] paaljoachim commented on #32100
I am using Gutenberg plugin + TT1 **Blocks**  (Forgot to mention the Blocks part...ops..)
I just updated the plugin and noticed that the full width issue has been fixed.
Double scrollbars. The first one is related to the template and the second to the sidebar settings. Seems that both should be as it is.

I appologize for the confusion Carolina.

Closing this issue.

[2022-07-25 11:11] #32100 closed, assigned to nobody

[2022-07-25 11:11] jameskoster commented on #42610
Could we use something similar to the anchor UI for this? 🤔

<img width="1191" alt="Screenshot 2022-07-25 at 12 09 36" src="https://user-images.githubusercontent.com/846565/180764103-950d42d5-a98e-43ab-a91e-22bd6802c7fa.png">

Edit: IE do something like this:

<img width="350" alt="Screenshot 2022-07-25 at 12 13 32" src="https://user-images.githubusercontent.com/846565/180764715-7c422050-9620-467f

[2022-07-25 11:15] #42640 closed, assigned to ndiego

[2022-07-25 11:17] paaljoachim commented on #42610
Interesting idea @jameskoster
Perhaps the Anchor field area could be a way to show different properties that should be visible. Such as the Group block defined as a Header or Footer etc.

[2022-07-25 11:18] carolinan commented on #20320
You can format the title, but not with controls in the block editor itself.

- Using theme.json, by adding styles to the post title block
- Using the global styles setting for the post title block
- using CSS applied to wp-block-post-title

[2022-07-25 11:19] Mamaduka commented on #42612
It happens because users with lower permissions roles like Authors cannot access site settings via REST API. We need site settings to get the default category ID in this case.

https://github.com/WordPress/gutenberg/blob/e28f4de40840b3d91abdf680238677f5627a2bf5/packages/editor/src/components/post-publish-panel/maybe-category-panel.js#L26-L29

There's a core patch that would help us resolve similar

[2022-07-25 11:40] strarsis commented on #20320
Formatting the title as a whole is possible. But sometimes I may want to format a part of it, as of making a part of it bold or italic.

[2022-07-25 12:01] corentin-gautier commented on #41438
It's been added in #41102 but weirdly enough I was not able to use it using :

[code]
It's used that way [here](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/cover/edit/inspector-controls.js#L26)

EDIT : I was not on the dev version of gutenberg, it works now even though the latest changes requires the `<ColorGradientSettingsDropdown>` to be used inside a `<ToolsPane

[2022-07-25 12:12] ALJ commented on #42634
@michaelmcandrew for a bit more visibility, consider adding your voice and suggested solutions to the older issue at https://github.com/WordPress/gutenberg/issues/20213 as this one is a (potential) dupe.

[2022-07-25 12:19] draganescu commented on #22875
@tnchuntic in the mean time the reusable block functionality was moved to require that the block editor handle entities, which is not the case for the widgets editor afaik. So this issue is too old and back then it _was_ fixed, but later a separate problem appeared which prevents reusable blocks or site blocks to be used in the widgets editor.

[2022-07-25 12:26] jameskoster commented on #34352
@richtabor I tried a quick prototype for the direct-manipulation-editing of rich text:

https://user-images.githubusercontent.com/846565/180776769-395bdea6-754f-471d-afac-4e4df225a7d4.mp4

I still think you need the dedicated editing view if you want to do anything beyond this (add / remove blocks, re-order, etc). There's also a question of how to handle non-text content overrides (e.g. images).

[2022-07-25 12:27] samxmunoz commented on #39997
I think you should be able to either turn off the notifications or it should be clearer that when you click them they go away.

Visual feedback like an "X" in the upper corner would be clearer that you don't need to just wait for them to disappear.

But I agree, this is a lot:

![Screen Shot 2022-07-25 at 8 25 36 AM](https://user-images.githubusercontent.com/43501707/180777262-d63e7c33-38a8-437e-9

[2022-07-25 13:01] alexstine commented on #42659
@talldan I think we have to keep the Enter key to create new blocks. Inserting a new block after seems like it would be tricky without a quick shortcut. However, I agree deleting the block would be super jarring. Do you have the time right now to open a PR? I believe most of that is done in writing flow use-arrow-nav hook. Happy to test, just do not have time to work on code ATM.

Thanks.

[2022-07-25 13:06] pedro-mendonca opened #42672 "Typo in translation string"
### Description

Hi, [this translation string](https://github.com/WordPress/gutenberg/blob/ebb4a8a031061410040625faa801981579880498/packages/editor/src/components/post-locked-modal/index.js#L200) has a typo:
`<strong>%s</strong> now has editing control of this posts (<PreviewLink />). Don’t worry, your changes up to this moment have been saved.`

"posts" should be singular -> "post".

Correct:
`<s

[2022-07-25 13:08] pedro-mendonca commented on #42672
Issue introduced in https://github.com/WordPress/gutenberg/commit/43f9ad7e3dbffd90a330229c2a731d368c95f2cf

[2022-07-25 13:34] t-hamano commented on #31624
I'm not able to reproduce the issue too.

- OS Version: Windows 11
- Browser Version: Firefox 102.0.1 (64*bit)
- WordPress Version: 6.1-alpha-53579
- Gutenberg Version: 13.7.2 (with or without)

https://user-images.githubusercontent.com/54422211/180789803-11f10e43-36e8-4602-87ff-496cd89ff533.mp4

[2022-07-25 13:38] #15881 closed

[2022-07-25 13:46] javierarce commented on #42626
Yes, I've been exploring several ideas to add content to navigation menus, with the goal to add the missing bulk insertion feature ([original issue](https://github.com/WordPress/gutenberg/issues/31667)).

My first impulse was to offer this functionality through a modal (here are [a couple of prototypes](https://www.figma.com/proto/mlOogoixVzCoGc4O5Qos1j?page-id=662%3A19842&node-id=662%3A19842&scal

[2022-07-25 14:01] critterverse commented on #39082
Thanks for the summary @javierarce! It's exciting to see how far this work has come so far.

I'd like to suggest a change to https://github.com/WordPress/gutenberg/pull/42352 because the current implementation shares many of the same issues with the previous exploration that was reverted (see @jasmussen's [summary of that exploration above](https://github.com/WordPress/gutenberg/issues/39082#issue

[2022-07-25 14:04] paaljoachim commented on #42626
I have in the back of my mind the Appearance -> Menus.
Having the popover one can scroll through to see all of the pages/posts/categories/etc will be very helpful.
Also having the navigation in the sidebar will also be of help.

It is totally fine to move for instance your comment @javierarce  directly to #42257 and close this issue, and just mention this issue. Btw the video I also mentioned havi

[2022-07-25 14:07] annezazu opened #42675 "Query Loop: show correct posts after setting "Inherit query from template""
### Description

After creating one of the new templates (categories, tags, date, author, etc), adding a Query Loop block, and setting it to "Inherit query from template", it's not clear that the query loop will correctly show posts based on the template. Instead, nothing changes in the editor (same posts are shown), despite the query loop working correctly on the front end. I understand this migh

[2022-07-25 14:11] draganescu commented on #42299
But what if we stick to `@` for all of them? `@hover`, `@current` ?

[2022-07-25 14:18] afercia opened #42676 "Buttons that have visible text should not use tooltips"
### Description

In the Site Editor, when the preference 'Show button text labels' is enabled, some buttons show text instead of icons. So far so good. However, these buttons still use a tooltip that appears on hover and focus. The tooltip just repeats the visible button text and:
- it clutters the UI
- it's redundant
- it's inconsistent with the Post Editor, where the tooltips appear only when bu

[2022-07-25 14:22] #42672 closed, assigned to pedro-mendonca

[2022-07-25 14:25] t-hamano commented on #37912
I have confirmed that this issue occurs not only with custom post types.

If `template_lock` is set to `insert`, the block should be locked and the inserter should be disabled.
But in the column block, it is unlocked and the editor crashes when the pattern is inserted.

I think blocks should not be able to be inserted at either level of hierarchy

## Testing Instruction

- Insert a column block an

[2022-07-25 14:47] bfren commented on #31624
I'm at a loss then - I don't see how it can be my Firefox settings if rich text paste works on other non-Gutenberg editors (it does).  But presumably it is something to do with my config if it works fine for others.

[2022-07-25 15:28] t-hamano commented on #31624
Is it only in Word that you cannot paste correctly into the Gutenberg Editor?
For example, if you copy a part of a web page and paste it into the Gutenberg Editor, does the same problem occur?

[2022-07-25 15:39] annezazu opened #42678 "Template List: Consider making "Add New" more prominent"
## What problem does this address?

This feedback came in during the [fifteenth call for testing for the FSE Outreach Program:](https://make.wordpress.org/test/2022/07/11/fse-program-testing-call-15-category-customization/#comment-2647)

## What is your proposed solution?

The same person who gave feedback shared the following when asked what might help from their perspective:

Here's a quick sens

[2022-07-25 16:08] Mamaduka opened #42679 "An incorrect template part slugs when the theme folder name ends with `parts`"
### Description

I noticed while working on #37943.

The `_get_block_templates_files` generates template name slugs that include directory names when the theme name ends with `parts.` As a result, it causes REST API requests to fail and prevents saving the changes.

I think the following lines are the cause of the issue - https://github.com/WordPress/wordpress-develop/blob/6.0/src/wp-includes/bloc

[2022-07-25 16:35] annezazu commented on #42678
Noting that this is particularly salient on a larger screen (ex a monitor) so it's likely more of an edge case to consider.

[2022-07-25 16:42] matiasbenedetto opened #42680 "Fluid typography in theme.json loads just the default size in the site editor"
### Description

When you use the fluid typography API recently introduced in Gutenberg, the min and max settings are ignored in the editor and it just loads the default value.

### Step-by-step reproduction instructions

1. Add a new fluid font size in your fontSizes array (`settings.typography.fontSizes`) in `theme.json` and save.
[code]
3. Set the fonstSize for a block in your theme.json (`styl

[2022-07-25 16:48] annezazu opened #42681 "Block Locking: Tabindex lost when lock icon is removed from the block menu"
### Description

This was noted as part of the [fifteenth call for testing for the FSE Outreach program](https://make.wordpress.org/test/2022/07/11/fse-program-testing-call-15-category-customization/#comment-2646).

cc @Mamaduka

### Step-by-step reproduction instructions

1. Lock a block.
2. Using your keyboard, go to unlock the same block that was just locked.
3. Notice that after locking, focus

[2022-07-25 16:57] annezazu opened #42682 "Site Editor: interface shift when tabbing to main editing area"
### Description

After creating a new template and tabbing through to add a block, the prompt to use the slash inserter shifts upon focus. This was found as part of the [fifteenth call for testing for the FSE Outreach Program](https://make.wordpress.org/test/2022/07/11/fse-program-testing-call-15-category-customization/#comment-2646). Feel free to rename this issue -- I struggled to come up with a

[2022-07-25 17:22] matiasbenedetto opened #42683 "Font size selector doesn't work if you have more than one font size with the same default value."
### Description

When you have more than one font size with the same value the font size selector doesn't work as expected. When you are not using fluid font sizes API probably it makes sense to consolidate both font sizes defined in only one, after all, it's exactly the same value. But, it's a different story when you are using the fluid typography API `theme.json`, because in this case you could

[2022-07-25 18:12] pagelab commented on #42683
Hi, adding `"fluid": true,` in `settings.typography` solved the issue for me ([ref](https://developer.wordpress.org/block-editor/reference-guides/theme-json-reference/theme-json-living/#typography)). Tested with Gutenberg trunk (13.8.20220725)

[2022-07-25 18:17] pagelab commented on #42683
I can confirm this. Tested with Gutenberg trunk (13.8.20220725)

[2022-07-25 18:20] pagelab commented on #42680
Did you add `"fluid": true,` to `settings.typography`? I can reproduce this issue only if it is removed.

[2022-07-25 18:39] matiasbenedetto commented on #42680
Hi @pagelab, thanks for testing. Please try using the template editor as suggested in the step-by-step reproduction instructions.

This seems to be working fine on the post editor but failing on the template editor (Appearance -> Editor from the WP sidebar menu).

[2022-07-25 18:55] #41038 closed, assigned to nobody

[2022-07-25 18:57] pagelab commented on #42680
I see. I confirm, it's not working in the template editor, just in the regular post editor.

[2022-07-25 19:52] sunnyt7 commented on #42535
I've been experiencing this as well ever since 6.0 came out. It's quite frustrating, so I'm hoping there will be a fix for it soon.

[2022-07-25 20:50] ndiego commented on #42649
@scruffian and @getdave, pinging you both on this since I believe you have been working on the button element.

[2022-07-25 20:59] hamakavula commented on #26223
Yes please!

[2022-07-25 21:27] mirka opened #42687 "ColorPalette: Transparent checkered pattern doesn't adhere to 4px grid"
## What problem does this address?

The `background` pattern isn't adhering to the 4px grid system (the squares are 25px). This can cause the pattern to be cut off at rather awkward positions when the container size adheres to the 4px grid:

<img width="407" alt="The checkered pattern being cut off awkwardly in a color picker popover" src="https://user-images.githubusercontent.com/555336/180876554

[2022-07-25 21:39] mjsdiaz commented on #42675
I see this issue too.

[2022-07-25 22:09] richtabor commented on #42687
Related https://github.com/WordPress/gutenberg/issues/42278

[2022-07-25 23:53] andrewserong commented on #42613
Thanks for merging #42638 @ndiego! I thought I'd re-open this issue so that we can keep it for tracking updating the "Group (verb) menu item" to wrap blocks instead of using the transform. Feel free to re-close the issue, though, if you think we should have a separate issue for it 🙂

[2022-07-26 00:20] ramonjd commented on #42680
Thanks for registering this bug.

It appears to be an existing bug, unrelated to the fluid typography changes, whereby the font size presets are printed twice to the page:

1. In a style tag in the document's head (`global-styles-css-custom-properties-inline-css`). The presets are printed _before_ any processing takes place.
2. And again, at the bottom of the page, in `wp.editSite.initializeEditor

[2022-07-26 04:10] fienen commented on #28444
Oof, just came across this. I have the same use case problem bringing in a pattern library for a WordPress site. The class being applied to the wrapper screws stuff up without a bunch of additional CSS work on the selectors (the pattern library is using BEM methodology, and adding in special options for WordPress dirties it up.) Was hoping a fix was already out there without overriding the core bl

[2022-07-26 05:43] ramonjd commented on #42683
I see... Fluid font size functionality is exposing an existing quirk. Here is the editor with fluid type completely removed:

![2022-07-26 15 38 47](https://user-images.githubusercontent.com/6458278/180931529-3b426b87-8c02-40cf-a4b3-5da5bfcc3d83.gif)

Maybe we should first address the quirk before we patch a fluid font size solution on top of it?

What's the preferred approach in relation to fluid

[2022-07-26 06:01] paaljoachim commented on #41274
Retesting with Gutenberg plugin version: 13.7.2. WordPress 6.0. **Twenty Twenty One.**
I was able to get the same result in the backend and frontend.

With Twenty Twenty Two. The result is the same that was reported.

[2022-07-26 06:18] paaljoachim commented on #40257
Resting.
WP version 6.0.1
Gutenberg plugin: 13.7.2
Twenty Twenty Two

Going to Editor. Home template.
Just above the Footer. I added a Comments block.
Clicked Comment Content (Comments > Comment Template > Columns > Column > Comment Content)
and changed the color to red: Link.

Clicked Comment Author ( Comments > Comment Template > Columns > Column > Comment Author Name)
and changed the color to r

[2022-07-26 06:18] #40257 closed, assigned to nobody

[2022-07-26 06:42] paaljoachim commented on #40255
I have gone ahead and edited the issue title and the issue content to reflect that changing color of the parent block Comments will also change inner blocks that have already defined inner colors.

[2022-07-26 06:44] paaljoachim commented on #40255
Hey @michalczaplinski
This might be an issue for you to take a closer look at.

[2022-07-26 06:57] paaljoachim opened #42689 "Color Panel: Add Clear option to Text and Background Color Panels"
## What problem does this address?

Lack of consistency.
Example from Text Color Panel in TT1 in the Side Editor. (WP 6.0 and Gutenberg plugin 13.7.2)

Color Panel: Text
![Screenshot 2022-07-26 at 08 53 22](https://user-images.githubusercontent.com/5323259/180942668-e4ca08e0-88c8-4af4-aa50-369d5e9bb917.jpg)

Color Panel: Link.
![Screenshot 2022-07-26 at 08 53 42](https://user-images.githubusercont

[2022-07-26 06:58] Humanify-nl opened #42690 "Document and clarify theme.json with a full example for latest WP releases"
## What problem does this address?

My experience of last half year is that it is generally difficult to keep up with all the settings that are introduced with theme.json in each patch. What is working? What is not? "Do I add an empty array to remove this? "Oh here it is a true/false instead."

I've seen quite a few issues where in the comments is said: "this doesnt work yet". But how do we develo

[2022-07-26 07:02] paaljoachim commented on #40224
Closing this issue as the other is similar to this.

[2022-07-26 07:03] paaljoachim commented on #40224
Actually I think I will reopen and just leave it open for now....

[2022-07-26 07:24] paaljoachim commented on #15847
Is this issue still valid?

[2022-07-26 07:28] ntsekouras commented on #42675
That's a quite hard problem.. For example if we have a Query Loop block in `index.html` what would be the correct posts? `index` is the fallback to everything and could be different in so many scenarios. Same goes for `category.html` etc... Maybe we could do something for more specific templates.. Also we could add a message about this when we inherit maybe? 🤔

[2022-07-26 07:30] paaljoachim commented on #30701
Associated issue:
FSE Link Styles: can we have an option to control underlines?
https://github.com/WordPress/gutenberg/issues/40002

From the looks of it it looks like WP 6.0 and Gutenberg plugin 13.7.2 do not have the Decoration area any longer.
I selected the Site Title block and see this:

![Screenshot 2022-07-26 at 09 27 39](https://user-images.githubusercontent.com/5323259/180948948-526ba51e-

[2022-07-26 07:31] carolinan commented on #42299
This is for styling a menu item that already has a CSS class that indicates that it is the current page, correct?
Then can't it be:

[code]

[2022-07-26 07:32] paaljoachim commented on #40002
Check out this issue:
https://github.com/WordPress/gutenberg/issues/30701

[2022-07-26 07:49] carolinan commented on #42690
Thank you for putting together this issue.

There is lots of confusion over the block editor handbook: Does it cover what is in core,  does it cover what's in Gutenberg, and if not, where are the Gutenberg only features documented?, when were the docs last updated? And so on.
-As a non English native speaker I also struggle with the complex language in parts of the documentation, needing to read

[2022-07-26 07:54] scruffian commented on #42299
[code]

My concern with this is that it might create an expectation that I can specify any class name here and expect it to work, which it wouldn't!

[2022-07-26 07:58] bfren commented on #31624
Unfortunately it's HTML as well - as per the clip [here](https://github.com/WordPress/gutenberg/issues/31624#issuecomment-841306519).

[2022-07-26 07:59] draganescu commented on #42299
This styling should be for `link` elements inside the navigation block. So the syntax we arrive at should apply in a generic manner to all link elements IMO.

[2022-07-26 08:04] carolinan commented on #42690
How do you define "works"? Do you mean works as in the block has a control?
Or works as in "I can add a _default_ text color to a block that has text, regardless of if the block has a control for it.

[2022-07-26 08:07] talldan commented on #37400
This test has been deleted.

[2022-07-26 08:07] #37400 closed, assigned to nobody

[2022-07-26 08:13] carolinan commented on #42299
Yes that is a valid concern: I don't find it unlikely that more (not all or custom) classes might be supported in the future.

[2022-07-26 08:18] getdave commented on #42299
Then we're back to [the original argument](https://github.com/WordPress/gutenberg/issues/42299#issuecomment-1191311118).

[2022-07-26 08:21] corentin-gautier opened #42692 "ColorGradientSettingsDropdown cannot be used outside of ToolsPanel anymore"
### Description

Since #41091 `<ColorGradientSettingsDropdown>` cannot be used outside a `<ToolsPanel>` since it's always wrapped inside a `<ToolPanelItem>`

It also means that __experimentalIsItemGroup is not used anymore (still used [here](https://github.com/WordPress/gutenberg/blob/af1ed5de38ed54f778608d722e3294669336a7e1/packages/block-editor/src/hooks/color-panel.js#L70))

Is that an intended

[2022-07-26 08:23] getdave commented on #42299
I've [added this to the Core Editor chat agenda](https://make.wordpress.org/core/2022/07/18/editor-chat-agenda-20-july-2022/#comment-43431) to see if we can get further input on this.

[2022-07-26 08:26] draganescu commented on #42299
My current opinion is that, while a great endeavor, we gain little from mapping CSS to `theme.json` in terms of pseudo classes. Having some props map to CSS via `:` and some not map via `@` adds complexity. Few people know those by heart and we'll be introducing a great opportunity to write `@hover` and `:current` and wonder what's wrong.

I fully agree that using CSS style `:` for props that don'

[2022-07-26 08:37] getdave commented on #42299
Ah I see @draganescu. So you're suggesting we use `@` instead of `:` in all cases (valid CSS pseudo selectors _and_ made up WordPress ones) in order to make it clear that there is no mapping between CSS and Theme JSON in _both_ cases.

That's an interesting alternative suggestion.

[2022-07-26 08:39] t-hamano commented on #31624
Hmmm, so this isn't a Word-specific problem.

Furthermore, I have also tested with the WordPress version (5.7.1) at the time this problem was reported and could not reproduce it.

Could you give me the browser console screenshot when you paste into the block editor?
You should see the result of parsing the HTML being pasted as follows:

![capture](https://user-images.githubusercontent.com/54422211

[2022-07-26 08:40] getdave commented on #37699
We've removed this screen from experiments so the bug no longer exists.

[2022-07-26 08:47] madhusudhand commented on #24480
@ramonjd

Defining all fluid fonts in theme.json settings and using them in blocks definitely works.
My only concern is, if a theme needs many such settings, fonts size dropdown would be overloaded, even though the variable used only once or twice.

In the view of better developer experience, I think it would be worth considering to extend the fluid typography to block level.

[2022-07-26 08:50] getdave commented on #42649
I believe @scruffian is now looking into this.

[2022-07-26 09:03] madhusudhand opened #42694 "Add fluid typography option at block level"
## What problem does this address?

This is an extension of #24480

In the scenarios where the blocks of the theme needs fluid typography, defining them under `settings` and using them as variable under a block, would overload the `font size` dropdown in the editor UI.

In multiple cases the defined typography is meant only for specific blocks such as `post-title` that doesn't have a size configur

[2022-07-26 09:07] carolinan commented on #42501
I would prefer the icon because I feel a bit overwhelmed by the size of the inserter in the example.

[2022-07-26 09:13] afercia commented on #42630
Thanks for creating this issue.

A few points I'd like to highlight:

I'm not sure 'base' components like `BorderControl` should have the responsibility to render a fieldset + legend. We should not assume that all base controls need to be grouped. That actually depends on the nature of the control and quality of the labels. For example, a set of inputs like the following:

- First name
- Last name

[2022-07-26 09:29] talldan commented on #37604
I'm going to skip this test (https://github.com/WordPress/gutenberg/pull/42693).

BTW, I had started migrating the nav block tests to playwright a couple of months ago, but haven't had time to finish this effort. I've pushed a draft PR - https://github.com/WordPress/gutenberg/pull/42695.

I actually got stuck on migrating the permissions tests because I hadn't been able to figure out a way to log

[2022-07-26 09:38] mtias commented on #41549
@mrkdevelopment sorry I missed the questions!

1. Unless I'm missing something, you'd just use a different header template for your landing page with whatever navigation items you need.
2. Not possible from the editor UI alone. Can you share how the menus would differ and what would they have in common (if anything) to clarify the need further? Would be good to open a new issue with this request s

[2022-07-26 09:41] muhammadtvk opened #42696 "Template drop-down is not showing for Editor role in the post create/edit page"
### Description

Hi Team,

Template drop-down is not showing for Editor role in the post create/edit page.

This issue is started appearing when we are upgraded to latest Gutenberg plugin (version 13.7.1).  Even same issue is appeared on version 13.7.2 (verified in development site)

Wordpress current version: 6.0.1

Below are the screenshot for Editor role User

![image](https://user-images.githu

[2022-07-26 09:52] carolinan commented on #37071
Tested again today with Gutenberg trunk.   This is enough to make one dizzy...

When editing individual site title blocks, all colors work correctly on the front, block editor, site editor. As long as there are no global styles saved.

When editing global styles > Site title:
- Only the background color and the text:hover color works in the site editor.
- On the front, the global styles overrides

[2022-07-26 10:04] javierarce commented on #39082
Thanks, @critterverse! This sounds good to me. The pre-publish panel could benefit from a small redesign, and it's a logical place to show the featured image and excerpt. I'll offer a design for this, open a new issue, and close this one if that's ok.

[2022-07-26 10:28] ciampo commented on #42687
This sounds like the correct and most sensible solution

[2022-07-26 10:32] tbdalgaard commented on #42659
Would a compromise be the following:

If the checkbox is checked the following keyboard shortcuts would work when in editing mode and the cursor is inside a block:

- shift+enter: Make an empty paragraph block. Where as enter now makes it by default.
- shift-delete: Delete the actual paragraph and move contents upwards.

[2022-07-26 10:38] jameskoster commented on #42501
I don't have a strong opinion, but do lean slightly towards the separation approach purely because it is consistent with other UIs that present the same content. We can explore how we might improve the experience holistically as a dedicated effort, rather than having several of different versions of essentially the same thing across the editor.

[2022-07-26 10:47] ciampo commented on #42630
A more concrete scenario (apart from `BorderBoxControl`) for which we need to agree on an approach is the following:

- [`NumberControl`](https://wordpress.github.io/gutenberg/?path=/story/components-experimental-numbercontrol--default) renders an `input[type="number"]`
- [`UnitControl`](https://wordpress.github.io/gutenberg/?path=/story/components-experimental-unitcontrol--default) renders a `Num

[2022-07-26 11:00] carolinan commented on #41194
Yes I would consider the removal of the class  is a regression, since theme authors has relied on this class.
I did not understand the logic behind keeping the text color class, when the setting we are changing is called background color.

[2022-07-26 11:03] scruffian commented on #42649
This is a tricky one. The problem comes from core not correctly checking that a key exists before trying to access it. I have proposed a fix for this in core here: https://github.com/WordPress/wordpress-develop/pull/3026, but this probably won't get into a release any sooner than 6.1, and in 6.1 we'll have the newer version of the Theme_JSON which already avoids this by iterating over the elements

[2022-07-26 11:06] ellatrix commented on #42624
@fluiddot Done in #42697.

[2022-07-26 11:30] ndiego commented on #42649
@scruffian the strange thing is that these errors do not display in Gutenberg 13.6, only in 13.7. Since the button element worked in 13.6, this led me to believe something changed in 13.7 that's causing this. That's just a guess though 🤷‍♂️

[2022-07-26 11:47] geriux commented on #42624
Thank you so much!

[2022-07-26 12:13] hz-tyfoon commented on #42649
Hey @scruffian,
I've checked your PR https://github.com/WordPress/wordpress-develop/pull/3026
Looks like the PR contains another error. I've added some comments there. please check. 🙂

[2022-07-26 12:31] afercia commented on #35928
I've been pinged on the associated PR and discovered this issue. Learned something new as I was unaware of this behavior.

I'm not sure the original change from #28275 / #13599 is a good choice in the first place. In my opinion, that introduced an accessibility and usability issue. The point is that the Editor is an editing interface. _It should show what is editable_. Instead, by hiding the defau

[2022-07-26 12:35] devfle commented on #35962
Same problem here as well. The preview mode of the HTML block is rendered in an iframe and therefore does not get the enqueued styles in the editor. Does the preview have to be done in an iframe?

[2022-07-26 12:55] mtias commented on #39887
Great, thanks!

[2022-07-26 12:56] hz-tyfoon commented on #42649
hey @ndiego ,

I've checked this with gutenebrg 13.6 & U're right. There's no php notice with 13.6
But, looks to me the issue was with 13.6 because, with that version the `get_style_nodes()` function wasn't picking up the contents of the `theme.json` file which it should.

But in the latest gutenebrg release, the `get_style_nodes()` function is picking them up properly & that's why the php error n

[2022-07-26 13:00] t-hamano commented on #42125
@ryanwelcher

I have added missing data module references by #42651.
Could you please add it to the task list as well?

- block-directory
- customize-widgets
- edit-site
- edit-widgets
- preferences
- reusable-blocks
- rich-text

And I would love to help add code examples too 😊

[2022-07-26 13:03] t-hamano commented on #42618
Fixed via #42651.

[2022-07-26 13:03] #42618 closed, assigned to nobody

[2022-07-26 13:04] matiasbenedetto opened #42698 "Fluid typography API makes impossible to set a fixed font-size"
### Description

If you add `"fluid": true,` in your `theme.json` you are not able to set static font size. I would expect to be able to set a fixed font size if I haven't defined, `min` and/or `max` settings. The current behavior makes it impossible to mix fluid and static font sizes definition as in the following example:

[code]

If you add a static font size, as the `default` font size defined

[2022-07-26 13:13] ndiego commented on #42613
@andrewserong yup, that sounds good. The issue got automatically closed and forgot to manually reopen. Thanks

[2022-07-26 13:25] mtias commented on #42632
This is extremely related to https://github.com/WordPress/gutenberg/issues/39281

[2022-07-26 13:27] aapatre opened #42699 "NumberControl accepts non-numeric values in Firefox"
### Description

[NumberControl](https://wordpress.github.io/gutenberg/?path=/story/components-experimental-numbercontrol--default) accepts non-numeric values in Firefox.

### Step-by-step reproduction instructions

1. Start Firefox
2. Open the [storybook link for NumberControl](https://wordpress.github.io/gutenberg/?path=/story/components-experimental-numbercontrol--default)
3. Try in non-numeric

[2022-07-26 13:35] mtias commented on #42610
I'm not sure this needs to be necessarily exposed in the list view. I would also avoid a capitalized `Header`, which is very confusing in the context of template parts, and favor presenting it as `<header>` instead.

[2022-07-26 13:42] mtias commented on #42644
The design should also probably switch to the segmented control

[2022-07-26 13:46] chandrapatel commented on #32861
@carolinan I have updated issue title and description. Previously I thought it might be possible if user can update template slug to add new templates as per template hierarchy but now there is no option to add/update template slugs. Only can rename template name.

Original issue was to have options to add new templates as template hierarchy so that user can have different template for different c

[2022-07-26 13:49] simison commented on #42363
@mcsf the bug (both this issue and https://github.com/WordPress/gutenberg/issues/42365) happen even with Gutenberg v13.2.0 so the regression must be coming from earlier changes than from https://github.com/WordPress/gutenberg/pull/40740 which went to v13.3.0.

[2022-07-26 13:53] alexstine commented on #42659
@tbdalgaard Just a couple questions.

1. Would this be okay on Mac with no Delete key?

2. I would rather not use this shortcut because generally Shift key signifies moving backwards. Enter truly does make sense in this context since you are moving forward, not backwards.

Thoughts?

[2022-07-26 13:53] ryanwelcher commented on #42125
This is fantastic! Thanks for putting that together. I've updated the list.

[2022-07-26 14:13] ockham commented on #40521
Fixed by #41807 🎉

[2022-07-26 14:13] #40521 closed, assigned to nobody

[2022-07-26 14:26] JakePT commented on #32896
This is something I'm also interested in. In ElasticPress we have a server-rendered block that should only display if there is a current post. So only on singular pages or inside a loop. The problem is that we surprisingly can't use `in_the_loop()` in the block's render function because it returns false inside the query loop block.

[2022-07-26 14:28] #42500 closed, assigned to ellatrix

[2022-07-26 14:58] awarner20 opened #42701 "Mobile Breakpoints with Styling"
## What problem does this address?

At specific breakpoints I would like to style nested blocks differently.

On desktop mode it looks like this:
<img width="1903" alt="Screen Shot 2022-07-26 at 10 54 33 AM" src="https://user-images.githubusercontent.com/485517/181039302-fe4a73a2-7ab7-4763-8b5b-f95e576b3dcb.png">

On mobile view, it looks like this. I would like define a few things:

- Image opaci

[2022-07-26 15:10] torounit commented on #35854
It appears to have been fixed in #39209.

[2022-07-26 15:11] #42380 closed, assigned to mirka

[2022-07-26 15:14] torounit commented on #34762
This issue seems to have been resolved in #39209, closed.

[2022-07-26 15:23] #21895 closed

[2022-07-26 15:55] MadtownLems opened #42707 "Block Style names truncate too aggressively"
### Description

When a Block style name is too long for the button, it is truncated and given a "..." at the end. However, it truncates too aggressively, replacing a single character with "..."

### Step-by-step reproduction instructions

1. Register a block style with the name "Subtle Border"
2. Insert the block and view the Style selection panel
3. See that "Subtle Border" has been truncated to

[2022-07-26 16:07] #23428 closed

[2022-07-26 16:39] mrwweb commented on #42707
Duplicate of #40331

[2022-07-26 16:46] huubl commented on #41567
~Fixed by:
https://github.com/WordPress/gutenberg/pull/40656~

See below

[2022-07-26 17:12] #35854 closed, assigned to ribaricplusplus

[2022-07-26 17:13] fluiddot commented on #42624
Awesome, thank you so much @ellatrix for helping us on this ❤️ , I really appreciate it 🙇 .

[2022-07-26 17:13] #34762 closed, assigned to ribaricplusplus

[2022-07-26 17:19] torounit opened #42709 "`Disabled` (`packages/components/src/disabled`)"

[2022-07-26 17:20] #42709 closed, assigned to nobody

[2022-07-26 17:44] mikeritter opened #42710 "Query Loop Block should offer 'order by' 'page attribute' 'order'"
Currently query loop block offers options for "post" and "page" post types.

For the "page" post type it offers "order by" "title" and "date" "asc" and "dsc".

In Page Editor I can edit "Page Attributes" > "Parent" and "Order".

I know Menu takes advantage of these attributes.

We should hook into the page attributes in the query loop block to add an option to order by order.

[2022-07-26 17:55] ndiego commented on #35376
@ramonjd this appears resolved when using the latest version of Gutenberg (13.7.3). See the screenshot below. Is this issue safe to close now?

![image](https://user-images.githubusercontent.com/4832319/181077393-61e96573-1fb8-4856-9f10-2c9765d74694.png)

[2022-07-26 18:26] ellatrix commented on #28251
Duplicate of #17052.

[2022-07-26 18:26] #28251 closed

[2022-07-26 18:29] ndiego commented on #33692
Since the Navigation Editor experiment is no longer being worked on and was removed, I am going to close this issue.

[2022-07-26 18:29] #33692 closed, assigned to ellatrix

[2022-07-26 18:30] ellatrix commented on #38251
@annezazu Nothing to do with nested blocks.

For now you'll need to manually change the start number of the list unfortunately. No plans to automatically update it based on a previous list, unless there's someone who wants to work on that.

[2022-07-26 18:31] ndiego commented on #34032
Since the Navigation Editor experiment is no longer being worked on and was removed, I am going to close this issue.

[2022-07-26 18:31] #34032 closed, assigned to vcanales

[2022-07-26 19:06] ellatrix commented on #42624
No worries! What's next?

[2022-07-26 19:12] dcalhoun opened #42713 "Quotes sentences spanning multiple lines display large, incorrect line height"
## Description
Quotes with sentences long enough to wrap multiple lines result in a line height that is far larger than expected. This only occurs for block themes (e.g. Geologist), where the editor renders type matching the font size for the theme. It would appear that the Quote block began displaying the theme's font size in the 20.4 release, leading to the outlined line height issue.

## Step-b

[2022-07-26 19:31] mikemcalister commented on #41345
I would love to see some movement on this. One of the most powerful features of the columns block is creating consistently sized content boxes. That often includes applying a background (and border radius) on individual columns.

[2022-07-26 19:35] dcalhoun opened #42714 "Highlight text color selection is not preserved when cursor is placed in the middle of text"
## Description
If the cursor is placed in the middle of Paragraph text, setting the color has no impact on newly typed text.

## Step-by-step reproduction instructions
1. Add text to a Paragraph block.
1. Move cursor to the middle of the text.
1. Set a different color.
1. Begin typing.

## Expected behaviour
The typed text is displayed in the selected color.

## Actual behaviour
The type text is d

[2022-07-26 19:47] annezazu commented on #42675
Yeah, this seems really tricky to think through. I'd be keen to hear from @WordPress/gutenberg-design in this sense as it does feel like a design problem almost. How do you indicate something has changed but that it might not perfectly reflect what you're seeing in the editor, especially when it aims to be WYSIWYG?

[2022-07-26 19:48] annezazu commented on #38251
Got it! Let's leave this open as now in that case.

[2022-07-26 21:22] mirka opened #42715 "ColorPalette: Allow checkered pattern to show through for semi-transparent colors"
## What problem does this address?

When a color with a `alpha` channel is selected, the user cannot tell that it is semi-transparent because it basically renders as a solid color.

<img width="581" alt="The checkered transparent background cannot be seen through a translucent red color" src="https://user-images.githubusercontent.com/555336/181067561-2d645f42-808f-4904-9366-32cd19a889bc.png">

(En

[2022-07-26 21:46] ramonjd commented on #42698
Thanks for reporting!

This is intended behaviour since https://github.com/WordPress/gutenberg/pull/39529/commits/00c51d1eacd4ac4afa532a190c257724b55411ae.

Related discussion starts around [here](https://github.com/WordPress/gutenberg/pull/39529#issuecomment-1155003959).

I had originally designed things to work as you describe in this issue.

What do folks think?

cc @mtias @scruffian

[2022-07-26 21:54] #42230 closed, assigned to danielbachhuber

[2022-07-26 21:57] ramonjd commented on #24480
I see you've filed an [enhancement issue](https://github.com/WordPress/gutenberg/issues/42694). Thank you @madhusudhand !! 🙇

[2022-07-26 22:38] ramonjd commented on #35376
Thanks for the ping @ndiego I've double checked and it appear to work for me too!

[2022-07-26 22:38] #35376 closed, assigned to andrewserong

[2022-07-26 23:05] mrwweb commented on #42699
I can reproduce those instructions on Windows 10 Firefox. It looks to me like this is an [implementation bug in Firefox](https://bugzilla.mozilla.org/show_bug.cgi?id=1398528) for `<input type="number">` rather than a problem with the component.

[2022-07-26 23:07] michalczaplinski commented on #40255
After taking a quick look I can indeed confirm the issue @paaljoachim

If you'd like to send a PR with a fix that would be awesome. I would be very happy to help 🙂

As mentioned by @carolinan, the issue is only present in the editor:

https://user-images.githubusercontent.com/5417266/181128004-97f7bf82-40a0-46b1-97cb-28f7c1076243.mp4

[2022-07-26 23:45] andrewserong commented on #35376
Oh, sorry folks, I should have added an update here — https://github.com/WordPress/gutenberg/pull/40875 added base layout styles so that `flex` and a fallback gap are now rendered correctly in the editor, which resolved the main issue here. We still need to add support for content justification / alignments which will be done in a follow-up and I'll post updates in https://github.com/WordPress/gut

[2022-07-27 00:23] mirka opened #42717 "Storybook: Write add-on to simulate effects of `forms.css` file"
## What problem does this address?

When components are used in a WordPress context, they will be affected by a lot of broadly scoped styles in the [`forms.css`](https://wordpress.org/gutenberg/wp-admin/css/forms.min.css) file, which is loaded in wp-admin pages. But as a component library, the presence of the forms.css file in any given use case is not guaranteed.

## What is your proposed solutio

[2022-07-27 01:33] alecgeatches commented on #41547
@luisherranz Thank you for the breakdown about how we might approach different types of enterprise governance needs above.

We've been discussing implementation of these block editor settings. It seems like we have two main options:

1. Extend `theme.json` to handle nesting, role-based [permissions settings](https://github.com/WordPress/gutenberg/issues/27597), and possibly [custom block settings]

[2022-07-27 02:56] #42707 closed, assigned to nobody

[2022-07-27 03:25] #31748 closed, assigned to nobody

[2022-07-27 05:39] paaljoachim commented on #40255
Thanks for going through @michalczaplinski

I am wondering if the fix would be a general fix for all parent blocks that affects the inner blocks that have already been modified and should not be overwritten by changes the parent block makes.

Hopefully a developer will show up that can fix the issue.
I will also ping Carlos @c4rl0sbr4v0

[2022-07-27 05:55] #42461 closed, assigned to afercia

[2022-07-27 05:55] derekblank commented on #42624
@geriux I've opened draft PRs for the feature flag in [WordPressKit-iOS](https://github.com/wordpress-mobile/WordPressKit-iOS/pull/535) and [WordPress-FluxC-Android](https://github.com/wordpress-mobile/WordPress-FluxC-Android/pull/2474), also linked above. Outside of normal code review, we just need to update the Gutenberg ref, too. Can you confirm which ref we should use at this point? Or, let me

[2022-07-27 06:07] #42696 closed, assigned to Mamaduka

[2022-07-27 06:08] Johanwalter opened #42720 "Button alignment issue after update 13.7.2"
### Description

After update Gutenberg to 13.7.2, button alignment on front end does not work
It is different than back end

### Step-by-step reproduction instructions

On front end buttons are always aligned left and cannot be changed whatever is settings on back end
On back end alignment is correct, center and change if we modify settings

FRONT END https://ibb.co/5TWTH42
BACK END https://ibb.c

[2022-07-27 06:49] paaljoachim opened #42724 "Feedback: regarding the blurred background surrounding the modal."
## What problem does this address?

For Gutenberg plugin 13.7 a blurred background was added to the modal design through this PR:
https://github.com/WordPress/gutenberg/pull/40781

The problem with the blurred background is that it loses all connection with the surrounding areas.
Some examples.

### Welcome guide

Before Gutenberg plugin 13.7 update.
![Screenshot 2022-07-27 at 08 21 15](https://us

[2022-07-27 07:08] geriux commented on #42624
We are wrapping up the implementation and we will begin testing, as of now all of the tasks are done unless any bugs come up. Once the PRs are ready for review we'll add you as a reviewer as there are some small changes needed to share some of the code with the web editor.

Thanks for the help!

[2022-07-27 07:09] geriux commented on #42624
Awesome! Thanks!

Let's use this reference of [this PR](https://github.com/wordpress-mobile/gutenberg-mobile/pull/5054), since it has all of the latest changes, so we can test it on devices. We will need to generate the bundles though.

[2022-07-27 07:41] talldan opened #42725 "Site editor: Block settings dropdown remains in place when scrolling"
### Step-by-step reproduction instructions

1. Ensure you're editing a template with enough content that a scrollbar displays
2. Select a block and open the block settings dropdown
3. Scroll the content

Expected: the block settings dropdown scrolls with the content (matching the toolbar's position)
Actual: the block settings dropdown remains in place while scrolling

### Screenshots, screen recor

[2022-07-27 07:51] talldan commented on #42725
I know why this happens, so I'll leave some details.

The block toolbar uses this logic to update its position when scrolling:
https://github.com/WordPress/gutenberg/blob/ddd61e42f27a4301f83a0f604df84bac724ec93c/packages/components/src/popover/index.js#L325-L332

The toolbar references the block for its position. `ownerDocument` in the code above is the document of the iframe that the block is ins

[2022-07-27 07:56] paaljoachim commented on #42720
Originally reported here: https://wordpress.org/support/topic/button-alignment-issue-after-update-13-7-2/

Testing as I understand it. Please adjust @Johanwalter

WordPress 6.0.1
Gutenberg plugin 13.7.3
Theme: Twenty Twenty One

1. Went to a current page.
2. Added two buttons.
3. In the top parent Buttons block I aligned right.
![Screenshot 2022-07-27 at 09 52 13](https://user-images.githubusercon

[2022-07-27 08:05] Johanwalter commented on #42720
You did testing right
Issue happened after update from 13.6 to 13.7.2 on my prod website
On my stagging website, I updated from 13.6 to 13.7 to 13.7.1 to 13.7.2, I didn't have the issue

On an other website with same template and WP + Gutenberg version,  I had issue on stagging website when updating from 13.6 to 13.7
issue disappeared when I edit the page and saved it.
On this other website, when

[2022-07-27 08:06] getdave commented on #42720
@Johanwalter Please can you try the same thing on a test site with another Theme installed? For example Twenty Twenty Two.

Also it's highly likely that this is a Plugin related Issue so I would also try (in a test environment) disabling Plugins and renabling one by one to identify the culprit.

[2022-07-27 08:10] Johanwalter commented on #42720
Issue happened right after update from 13.6 to 13.7.2, no issue while on 13.6 so issue is from  Gutenberg update

[2022-07-27 08:17] fluiddot commented on #42713
Looks like this issue is in fact related to the Quote block V2, which as far as I tested, is only available starting in version 20.4.

Marking this issue as a High priority because it breaks the experience of the Quote block.

[2022-07-27 08:24] mtias commented on #42715
It¡d also be good to improve the checkered design on the circle item which predates the color UI updates.

[2022-07-27 08:28] mtias commented on #42698
Yes, this is intended. Would an explicit `fluid: false` for a given size work to opt-out? We want to dial in fluid type heuristics as a general thing that work most of the time.

[2022-07-27 08:33] paaljoachim commented on #42720
What is sometimes difficult is that different sites with the same setup can behave differently.
As we are working on figuring out where the error is. It would be helpful to get feedback if you test with another theme, and also deactivate all plugins and then reactivate the Gutenberg plugin. Then check the results.

[2022-07-27 08:48] fabiankaegy opened #42727 "Export internal CSS Parser used to transform editor styles in order for external tools to use it"
## What problem does this address?

WordPress uses a forked version of [reworkcss/css](https://github.com/reworkcss/css) in order to parse the editor CSS stylesheet. You can find the fork [here](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-editor/src/utils/transform-styles/ast/parse.js) in the codebase.

https://github.com/WordPress/gutenberg/blob/ddd61e42f27a4301f83a0f604df84b

[2022-07-27 08:49] fluiddot commented on #42714
I also reproduced this issue in an older version (20.0), so looks like it was introduced several versions ago.

[2022-07-27 08:54] fluiddot commented on #38407
Updated the parent post with:

### 🔎 Main focus
++ [Supporting List block V2](https://github.com/WordPress/gutenberg/issues/42624)

[2022-07-27 09:31] Mamaduka commented on #37943
Hi, folks

I decided to share my current progress for this feature - https://github.com/WordPress/gutenberg/pull/42729. All feedback is welcome ❤️

[2022-07-27 10:03] scruffian commented on #42616
Should be fixed by #42669

[2022-07-27 10:03] #42616 closed, assigned to nobody

[2022-07-27 10:04] Mamaduka commented on #42226
It was initially fixed in #37394. Leave a note for future reference.

[2022-07-27 10:21] webdados commented on #40870
I think that before doing it at the columns block level, this should be easier to set globally at the theme level.
Not saying it's not useful to have it at the block level, but I think that should be a second feature. What we really need is a way to change the mobile>desktop responsive breakpoint globally on a website.

[2022-07-27 10:45] ghost commented on #38251
FYI

From: Ella ***@***.***>
Sent: 27 July 2022 12:01 AM
To: WordPress/gutenberg ***@***.***>
Cc: quickdraft ***@***.***>; Author ***@***.***>
Subject: Re: [WordPress/gutenberg] Auto continuity of a subsequent ordered list (Issue #38251)

@annezazu <https://github.com/annezazu>  Nothing to do with nested blocks.

For now you'll need to manually change the start number of the list unfortunately. No

[2022-07-27 10:54] samxmunoz commented on #32163
I'd still really love to see this - it's so confusing not having any sort of color-coding, bolding, or other visual queue for reusable blocks (aside from the icon that is the same color as everything else).

Even just making the reusable blocks icon stand out a little more in list view (highlighting would be amazing) would be helpful.

Without knowing it clients are going to make changes on their

[2022-07-27 10:56] geriux commented on #42713
It looks like this is happening for the Geologist and Quadrat themes. A line height value of `40px` is set for the Quote block in their [theme.json](https://github.com/Automattic/themes/blob/72d666fa7f218644672e3ad7dd85d5797c0fd16d/geologist/theme.json#L227) file, usually, there are only unit-less values so it can calculate the line height using the font size value. I've asked internally if this i

[2022-07-27 10:59] jameskoster commented on #42675
Related: https://github.com/WordPress/gutenberg/issues/42554, https://github.com/WordPress/gutenberg/issues/41947

I think this would be a good start.

[2022-07-27 11:05] jameskoster commented on #42675
Similarly it would be nice if the Archive Title block displayed a more contextual placeholder. E.g. in the `category` template it might display 'Category name'. In `category-recipes` it would display 'Category: Recipes', etc. This would be a lot more intuitive than the current generic 'Archive Title'.

[2022-07-27 11:17] fluiddot commented on #42713
Thanks @geriux for taking a look and providing the findings 🙇 , let's see if this can be fixed in the themes 🤞. However, I understand that if there are themes that already use units in the line height value, eventually, we might encounter the same issue on others themes in the future. Hence, it would be great to address this sooner than later. Being this said, I'd advocate keeping this a high prio

[2022-07-27 11:20] scruffian opened #42730 "Theme Export: Strip out site specific details"
### Description

The theme export process already removes theme slugs from template parts, as when templates come from files these aren't needed. Similarly we should remove other site/implementation specific details from templates on export, including:

- Removed the ref id on the Navigation block
- Remove IDs from the image block
- Remove IDs from the query block

There may be more like this that

[2022-07-27 11:29] scruffian opened #42731 "Templates: Focus mode: Constrain the view to the size of the template part"
## What problem does this address?
When editing template parts in focus mode, its hard to understand how they fit into the broader context of the site because there is so much white space:
<img width="1440" alt="Screenshot 2022-07-27 at 12 26 02" src="https://user-images.githubusercontent.com/275961/181235720-80b42caa-be66-4429-9873-94c222b9047c.png">

## What is your proposed solution?
Ideally th

[2022-07-27 11:32] scruffian opened #42732 "Template definitions don't belong in theme.json"
## What problem does this address?
The theme.json file should work for any theme and is meant to define the visual appearance of a site, it should not be coupled to templates in any way. We currently have keys for both `customTemplates` and `templateParts` in theme.json, but these don't belong here.

## What is your proposed solution?
This information should live somewhere else, not sure where!

[2022-07-27 11:44] Mamaduka commented on #42731
Duplicate of #42226.

[2022-07-27 11:47] scruffian opened #42734 "Add Layout Patterns for building new sites"
## What problem does this address?
Whenever we need to create a new layout for a site we have to build it from scratch. This can take time, and we can end up redoing a lot of work that someone has already achieved.

## What is your proposed solution?
We should add some common layouts as patterns to Gutenberg so that we users easily implement these layouts. Some example patterns:

- Full width head

[2022-07-27 11:49] geriux commented on #42713
This will be fixed once [these theme changes](https://github.com/Automattic/themes/pull/6290) are merged and released.

[2022-07-27 11:54] matiasbenedetto commented on #42698
Yep, I think that could work.

[2022-07-27 11:56] carolinan commented on #42732
I'm not so sure, I thought one of the goals were to move even more things to theme.json, for example the data in the style.css header?

[2022-07-27 12:04] mtias commented on #42226
We should prioritize this as it makes the view feel super weird and kind of pointless.

[2022-07-27 12:04] carolinan commented on #42730
Adding the dev documentation label because once this is solved this page in the theme developer handbook can be updated:[Creating new themes using the Site Editor](https://developer.wordpress.org/themes/block-themes/creating-new-themes-using-the-site-editor/)

[2022-07-27 12:08] scruffian commented on #42732
I think it depends on the things. The way I see it a theme.json file should work for any theme, so it can't be tied to templates.

[2022-07-27 12:08] Humanify-nl commented on #42690
Thanks for your reply.

With 'works', I mean that the setting is applicable for the specific block.

For example we can not set blockGap (settings: true, false or a value in styles) for all individual blocks.

Another example: in the "spacing" settings table in the living reference, you see the value 'spacingSizes'.
1. It would be really helpful if this had a link to a page describing what this do

[2022-07-27 12:09] Rvervuurt commented on #29401
This is still an issue.

[2022-07-27 12:15] #42731 closed, assigned to nobody

[2022-07-27 12:19] scruffian commented on #42299
@ is not without its own meaning: https://www.w3.org/TR/css-syntax-3/#at-rules

[2022-07-27 12:25] scruffian commented on #42290
When ch units are used for the content width, the site editor doesn't interpret this correctly and as a result short lines end up being aligned to the right.

[2022-07-27 12:33] ciampo commented on #42717
I'm starting to run out of emojis

[2022-07-27 12:39] Mamaduka commented on #42730
Maybe we can make this part of the `_remove_theme_attribute_in_block_template_content` so we don't have to parse template content multiple times during the export.

[2022-07-27 12:58] hellofromtonya commented on #41481
Great question @desrosj. How is it different?

tl;dr Users decide, rather than having plugins programmatically override the theme.

It's different because global styling typography is defined by the theme. A user can override the theme through the Global Styles UI using any of the additional web fonts defined by plugins. Plugins can offer their web fonts for selection, but users decide whether and

[2022-07-27 13:07] hellofromtonya commented on #41481
I'm not sure I follow. Are you thinking a web font could be programmatically enqueued through a shortcode?

Web fonts are for global styling, rather than individual blocks.

A shortcode block that needs a different family-font or variation could register its web font for user selection.

[2022-07-27 13:09] mtias commented on #38686
Closing as expected. Quotes now use concrete paragraph blocks in a nested fashion.

[2022-07-27 13:09] #38686 closed, assigned to nobody

[2022-07-27 13:10] mtias commented on #29503
Crossed:

### <del>Add nested blocks to Quote #25892</del>

[2022-07-27 13:12] mtias commented on #35573
Is this still relevant with the new shape of quotes?

[2022-07-27 13:22] mtias commented on #13054
This is addressed in the new quote with nested blocks. We are also considering adding a button to add the quote source instead of the placeholder.

[2022-07-27 13:22] #13054 closed

[2022-07-27 13:24] mtias commented on #22791
This was addressed in #25892.

[2022-07-27 13:24] #22791 closed

[2022-07-27 13:28] mtias commented on #5301
I think we can close this as it's supported in List view. We should fold the outline into it eventually, probably as a filtered down view (display only headings).

[2022-07-27 13:28] #5301 closed

[2022-07-27 13:30] mtias commented on #12311
Closed by #25892.

[2022-07-27 13:44] getdave commented on #38291
I've been looking into this some more and here's what I've learnt about how I think this will need to be implemented.

## The Problem

Currently the Nav block has a `ref` attribute. This is a reference to the ID of a `wp_navigation` post which contains the "inner blocks" for the Navigation (i.e. the navigation _items_).

However IDs will change across different WP installations and thus using a po

[2022-07-27 13:47] mtias commented on #25202
@paaljoachim is this still active?

[2022-07-27 13:57] afercia opened #42738 "Improve Placeholder instructions accessibility"
### Description

Follow-up to https://github.com/WordPress/gutenberg/pull/38366

To make screen readers read out the Placeholder `instructions` text, https://github.com/WordPress/gutenberg/pull/38366 changed the markup to wrap the contents in a `fieldset`, and the instructions in a `legend`. There are a few problems with this approach:

- it's semantically incorrect. The `legend` element is meant

[2022-07-27 14:04] dcalhoun commented on #35573
Great call out. Thank you!

I am unable to reproduce this issue in WordPress mobile app 20.4-rc-1, presumably due to the new usage of inner blocks within the Quote block. Closing this as resolved, but feel free to reopen if someone believes we still need this issue.

[2022-07-27 14:04] #35573 closed, assigned to nobody

[2022-07-27 14:38] getdave commented on #42535
~@ellatrix as this is related to RichText are you aware of any recent changes that could have caused this?~

Looks like this occurred with 6.0 so it isn't likely to be recent.

Nonetheless, we need to look into it.

[2022-07-27 14:44] renata-franco opened #42739 "Expanding list view covers the overlay menu items on navigation"
### Description

On Page/Post editor, when clicked to expand Navigation Block and select "Always" on the overlay menu options, the List View expands and covers the overlay menu items.

### Step-by-step reproduction instructions

1. Create a page or post.
2. Add a Navigation Block.
3. Fill in the Navigation with new items or an already made menu.
4. Open the extra settings of the Navigation Block.

[2022-07-27 14:53] scruffian commented on #42299
I'm not sure this is a valid concern. The way we have been implementing `:hover` and `:focus` so far is on link elements. I don't think using `:current` to control aspects of a link element would prevent us from using `:current` to control other aspects of a block when used at a block level rather than a link level, would it?

[2022-07-27 15:03] getdave commented on #38275
## Update 27th July

- A [summary of the challenge around preserving Navigation on Theme switch](https://github.com/WordPress/gutenberg/issues/38291#issuecomment-1196781907) has been posted. Feedback welcomed.
- We are continuing to [work on aligning the fallback behaviour of the block between Editor and front of site](https://github.com/WordPress/gutenberg/pull/42182#issuecomment-1195727452).
- S

[2022-07-27 15:07] paaljoachim commented on #19796
Check out this PR (did not locate a mention of this PR above.):
**Button: Add theme.json support for toggling Width settings panel**
https://github.com/WordPress/gutenberg/pull/42079

Take it for a spin and give feedback.

[2022-07-27 15:09] markhowellsmead opened #42741 "Custom React block saves different HTML according to user role"
### Description

_The code for this issue is in a Gist at https://gist.github.com/markhowellsmead/d9c4e0dc13292c8cdb88d0f2be6bfbee._

I have the following two components in custom React block code.

[code]
These are then used in the save function to render the content to be saved to the database.

[code]

If I save the post using an administrator role, the HTML is saved correctly and contains all

[2022-07-27 15:13] skorasaurus commented on #19796
As mentioned above, there's been working on solving this PR in https://github.com/WordPress/gutenberg/pull/42079

You can test it out, by downloading a ZIP file of it, and  plugin at https://github.com/WordPress/gutenberg/actions/runs/2631949211 ) :)

[2022-07-27 15:15] paaljoachim commented on #19796
Here is a detailed procedure: https://make.wordpress.org/design/2021/03/03/testing-a-gutenberg-pull-request-pr/

[2022-07-27 15:18] rafaelzaleski opened #42742 "Use username and password from shared config in call to `login` on `@wordpress/e2e-test-utils`"
### Description

E2E tests fail in environments where the default username and password are not `admin` and `password` because [these values are hardcoded in the login function](https://github.com/WordPress/gutenberg/blob/3595cc02fd5a3295c7db2b5a75d2a06314945b36/packages/e2e-test-utils/src/rest-api.js#L40). We need to use the values from the [shared config](https://github.com/WordPress/gutenberg/b

[2022-07-27 15:39] annezazu commented on #25202
Came here to ask the same after it didn't work this week :)

[2022-07-27 15:51] paaljoachim commented on #25202
It seems like we need an update.

I have not tested this out in a while. I have been been using the Gutenberg PR build to test PR's. https://make.wordpress.org/design/2021/03/03/testing-a-gutenberg-pull-request-pr/

[2022-07-27 15:53] kathrynwp commented on #17715
I’m going to go ahead and close out this issue, since there hasn’t been any activity on it in several years.

If anyone feels it should still be looked at, please add a comment and I can take another look. Thanks!

[2022-07-27 15:53] #17715 closed

[2022-07-27 16:31] mcsf commented on #3806
I'm not sure what needs fixing, and the last report from 2020 had no follow-up. Right now, it's possible to paste an inline shortcode into a paragraph and Gutenberg will paste it verbatim, mimicking the classic editor's behaviour and letting the server then render whatever. Gutenberg only creates a Shortcode block when the shortcode is pasted into an empty block.

Are you referring to some special

[2022-07-27 16:40] mikachan commented on #35740
This no longer seems to be an issue. Currently on GB 13.8.0-rc.1, I am seeing the same styles on the front end and in the editor, and they both look correct:

Front end:
<img width="469" alt="image" src="https://user-images.githubusercontent.com/1645628/181300431-64c22a5c-0c62-40de-84ec-152b20dced9d.png">

Editor:
<img width="532" alt="image" src="https://user-images.githubusercontent.com/1645628/

[2022-07-27 16:40] #35740 closed, assigned to nobody

[2022-07-27 16:50] javierarce commented on #42257
What I would probably add in that dialog is the possibility to filter by content type and a way to insert several links at once using checkboxes, which would give us the bulk inserting feature we missed from wp-admin (#31667)

![image](https://user-images.githubusercontent.com/4933/181302892-688ebdde-cdfc-4ff0-81c1-3927d35af825.png)

PS: I'm closing #42626 because I think it shares the same goals

[2022-07-27 16:54] #42626 closed, assigned to nobody

[2022-07-27 17:09] carolinan commented on #42732
It will never work for any theme unless the color and font size slugs are forced _and the custom option is removed._
That is a much larger discussion than template definitions.

[2022-07-27 17:19] markhowellsmead commented on #42741
Per https://wordpress.org/support/topic/gutenberg-custom-block-saves-different-html-according-to-user-role/#post-15864722: the issue may be related to the unfiltered_html capability. This is a multisite installation.

[2022-07-27 17:25] javierarce commented on #42257
Sorry, I deleted my previous comment which was:

![image](https://user-images.githubusercontent.com/4933/181310157-c93f678f-fda0-402c-aae4-104ae4c6bb07.png)

What I missed was the option to create custom links, which the filter interface of the search bar I designed would make confusing.

I think we can probably keep using the current Link Control UI (minus the transform section), so users can als

[2022-07-27 18:10] ironprogrammer commented on #39106
Thanks, everyone, for the additional details in tracking down the underlying cause 👍🏻

I'd recommend that this issue be **Closed** 🟣 for now, because:

- The issue has been identified as relating to [Advanced Editor Tools (previously TinyMCE Advanced)](https://wordpress.org/plugins/tinymce-advanced/), not Gutenberg.
- One of the plugin authors has indicated that [a future release will address this

[2022-07-27 18:23] supernovia commented on #28779
Now that blocks can be locked, could this be implemented?

[2022-07-27 18:32] azaozz commented on #41479
@adamsilverstein Yeah, support for preloading is needed, but not sure what "downloading" has to do here? Thought is was decided that this API is for local fonts only. This has [numerous advantages](https://fontsource.org/docs/introduction) as discussed before. Downloading what, and from where? :)

I'd also think that if a plugin wants to use external fonts from a CDN, like Google fonts, it would s

[2022-07-27 18:36] mrwweb commented on #42299
This definitely won't be the last time this issue comes up, and I agree that anything that creates a mismatch between CSS syntax and `theme.json` will add unnecessary mental overhead and—speaking for myself—decrease the likelihood of me going all-in on `theme.json` CSS. As @Marc-pi noted, `.current-menu-ancestor` is another requested class that could need styling soon and so whatever solution is u

[2022-07-27 18:39] #39106 closed, assigned to nobody

[2022-07-27 18:50] #8921 closed

[2022-07-27 19:58] scruffian commented on #38291
Why do you think this is inelegant?

[2022-07-27 19:59] mtias commented on #38291
We should use the most immediate template, like `index (main)`, `archive`, etc. The navigation block should not be available on the post editor.

Yes, that's fine.

We should still be passing the entire context to focused mode when we have it since it's useful to display in different places.

---

It's also important to note that the idea of using the template hierarchy to set default names is als

[2022-07-27 20:00] scruffian commented on #38291
At all? We should create an issue for this then.

[2022-07-27 20:05] mtias commented on #42724
Disagree here. The example shown for reusable block illustrates how confusing it can be to still be able to read text on the screen when the focus should be placed on the action at hand. This also follows how modals operate with keyboard navigation since they constrain focus within the modal. It's also much closer to how it'd work on mobile. If there's a need for extra context it should be present

[2022-07-27 20:11] kjohnson opened #42749 "Disabled items in the BlockTypesList should not be draggable"
### Description

Items, with `isDisabled` set to `true`, passed to the `BlockTypesList` component should not be draggable (so as to not be added to the BlockList).

The value of `isDraggable`, as it is passed to the `BlockTypesList` component, is passed directly to the `InserterListItem` component without accounting for the value of `item.isDisabled`.

Related https://github.com/impress-org/givewp

[2022-07-27 20:12] scruffian commented on #38291
This sounds like a good approach. Alternatively we could just pull them all down and search though them, but it would be nicer to do it on the server.

[2022-07-27 20:50] scruffian commented on #35735
Yes I do. Would you like to create a PR for it? :)

[2022-07-27 22:08] scruffian commented on #42732
I think that's why we're having these discussions about settling on a standard naming for spacing and typography. I don't think we need to remove custom, themes just need to be aware that things in there aren't transferable to other themes.

[2022-07-27 22:13] scruffian commented on #42649
Since this has a core patch now I'm not sure there's much more we can do here, so I'm going to close this.

[2022-07-27 22:13] #42649 closed, assigned to nobody

[2022-07-27 22:14] scruffian commented on #42698
Alternatively could you set a min and max which are the same?

[2022-07-27 22:32] paaljoachim commented on #42724
Yes in concept I agree that all the information should be contained within a modal, but it helps to have a connection with the new Reusable block and the background. For instance looking over again at the information that is written inside a block that becomes a Reusable block. As one is about to create a Reusable block it is helpful to take a quick look at what is outside the modal to get the las

[2022-07-27 23:31] #42680 closed, assigned to ramonjd

[2022-07-28 01:24] annezazu commented on #15335
@afercia since you opened https://github.com/WordPress/gutenberg/issues/9361 too that this is a duplicate of, can you decide which to keep open? It doesn't serve the project well to have two issues about the same thing and it would go a long way to have a "source of truth" for this important problem.

[2022-07-28 01:25] annezazu commented on #31011
Closing this out as a duplicate based on the above :) Let me know if this needs to be reopened though or if I'm missing something.

[2022-07-28 01:25] #31011 closed, assigned to nobody

[2022-07-28 01:26] annezazu commented on #39859
Going to close this out since there's a trac issue for this :) Let me know if that's wrong - happy to reopen.

[2022-07-28 01:26] #39859 closed, assigned to nobody

[2022-07-28 01:41] talldan commented on #42741
@markhowellsmead It looks like this has been reported in core trac. Originally reported 8 years ago and unfortunately still no resolution - https://core.trac.wordpress.org/ticket/29807. There are a few tickets for other html elements and attributes too.

There isn't anything that can be done in the Gutenberg codebase, so I'll close this issue.

[2022-07-28 01:41] #42741 closed, assigned to nobody

[2022-07-28 01:47] t-hamano opened #42753 "Tooltip: discuss simplifying the component"
## What problem does this address?
As mentioned in [this comment](https://github.com/WordPress/gutenberg/pull/42483/#issuecomment-1192574664), the purpose of this issue is to refactor the Toottip component and improve code readability.

## What is your proposed solution?
I haven't yet decided on a specific direction, but I launched it as an issue to clearly manage it as a task.

cc @ciampo

[2022-07-28 02:47] #42749 closed, assigned to kjohnson

[2022-07-28 04:35] t-hamano opened #42755 "Block Transform: Some attributes aren't carried successfully between image and gallery block"
### Description

When images with a custom size are converted to a gallery block, images may overflow because the custom size of images is retained.
Also, images in a gallery block don't allow resizing, so the size cannot be reset.

On the other hand, the custom size will be removed if images are converted to image blocks again.

I think the custom size should be removed when converting image bloc

[2022-07-28 04:51] carolinan commented on #42290
Is this in any way related to ch not being added to settings.spacing.units?

[2022-07-28 04:53] ramonjd commented on #42698
Good point. This also works out of the box. 🎉

I'm happy to throw a PR up so there's an explicit `fluid: false` check as well.

[2022-07-28 05:01] carolinan commented on #42732
Establishing a best practices is not the same as enforcing and not allowing any custom slugs though.
There are already strong opinions voiced about enforcing the set folder names.

[2022-07-28 05:03] carolinan commented on #42732
WordPress should handle templates and parts that are listed in theme.json but does not exist in the theme without any errors.
I haven't tested that though.

[2022-07-28 05:38] t-hamano commented on #42755
I have discovered that there are other attributes that are not kept  in the transformation between the image block and the gallery block.

| | Are attributes keeped? - Image to Gallery | Are attributes keeped? - Gallery to image |
| ---------------- | ----------------------------------------- | ----------------------------------------- |
| align | Yes (It will be carried as an attribute of the gal

[2022-07-28 05:55] github-actions[bot] opened #42758 "[Flaky Test] should be able to insert a reusable block twice"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should be able to insert a reusable block twice

## Test path
`specs/editor/various/pattern-blocks.test.js`

## Errors

<time datetime="2022-07-28T05:55:35.539Z"><code>[2022-07-28T05:55:35.539Z]</code></time> Test passed after 1 failed attempt on <a href="https://github.com/

[2022-07-28 07:04] afercia commented on #24797
Closing, as now this uses a `ToolbarDropdownMenu` component with a `role="menu"` and menu items. https://github.com/WordPress/gutenberg/pull/42273 recently added `role="menuitemradio"` to the menu items and `aria-checked="true"` to the selected heading level.

[2022-07-28 07:04] #24797 closed

[2022-07-28 07:15] sfgourav opened #42761 "SetNonce defaulting to admin and password as credential."
### Description

The setNonce function in rest-api.js, is making a login fetch request with defaulted credentials. Because of which we wish to run test on an environment where we don't have such user, the tests are failing.

### Step-by-step reproduction instructions

run the command in the following sequence.
1. Run a wordpress environment, serving on the hostname 'localhost:8080'
2. Make sure th

[2022-07-28 07:26] bfren commented on #31624
Literally nothing!  I tried pasting from another website and from Word, same result - it's like it's not recognising a formatted clipboard.

![Screenshot 2022-07-28 081959](https://user-images.githubusercontent.com/17511478/181445097-0617d711-17a4-493d-b187-e0cac19ff778.jpg)

So I end up with

![Screenshot 2022-07-28 082205](https://user-images.githubusercontent.com/17511478/181445497-696e01a1-d80

[2022-07-28 07:30] bfren commented on #31624
(I even disabled all my add-ons and the same thing happens - so it must be a setting somewhere related to copy / paste?  I can't see anything in about:config that looks likely though.)

[2022-07-28 07:39] bfren commented on #31624
Urgh I've cracked it - I was searching about:config for 'copy', 'paste' and 'script' - and then had a brainwave to search for 'clipboard'.  Somehow dom.event.clipboardevents.enabled was set to 'false', which is presumably what Gutenberg hooks into.  Resetting that to true, and finally pasting works as expected.

Other editors obviously have another way of detecting HTML paste.  So I guess after al

[2022-07-28 08:12] markhowellsmead commented on #42741
Thanks @talldan. For anyone else encountering this issue: using https://gist.github.com/kellenmace/9e6a6fbb92ec75940f23d2a6f01c9b59 as a workaround seems to resolve the problem.

[2022-07-28 08:21] getdave commented on #42299
Ok so I’m hearing that `@` might not be favoured. Is there an alternative syntax that _isn’t_ part of the CSS lexicon that might work here to denote “states”?

Whilst I appreciate the logic and find the suggestion highly valuable, I also share [@scruffian’s concern](https://github.com/WordPress/gutenberg/issues/42299#issuecomment-1195135668) that allowing particular CSS classes to be introduced he

[2022-07-28 08:53] scruffian commented on #42299
What about following the aria label and using `:current-page`?

[2022-07-28 08:57] Andrew-Starr commented on #42646
Shouldn't the Button block be in the _with_ list?

[2022-07-28 09:16] ciampo commented on #42753
Since these changes may end up being a non-trivial refactor, I think it would be a good idea to do some preparatory work in order to give us more confidence for a future refactor.

The two main actions that come to mind are:

- review existing unit tests, adding any missing scenarios and rewriting them to use `testing-library`
- convert the component to TypeScript

What do you think?

[2022-07-28 09:19] Andrew-Starr opened #42766 "Navigation links incorrectly underlined in editor"
### Description

In the editor, navigation links are always underlined, even when the text decoration is set to not be underlined.

In the front end all is OK. The issue is only present in the editor with Gutenberg active.
With Gutenberg inactive, all is OK.

### Step-by-step reproduction instructions

1. add a Navigation block with some menu items, or edit a post/page/template/part already contai

[2022-07-28 09:29] jameskoster opened #42767 "Template Editing: make content edit-ability consistent"
In the site editor, it is not possible to edit dynamic content pulled into Query blocks. You can move the blocks around, but not edit their contents. However, you _can_ edit dynamic content for pages (for example if you have a static home page). The same is true in the template editor – you can edit template and content simultaneously.

This can lead to confusing experiences where users struggle t

[2022-07-28 09:31] codebymikey opened #42768 "There is no raw transformation available for copy and pasting video element into the editor"
### Description

There is no "raw" transformation available for `video` elements.

### Step-by-step reproduction instructions

Attempting to copy and paste the following HTML into the editor should create equivalent Video blocks, however it pastes them into a Paragraph block and stops the user from editting them:

[code]

### Screenshots, screen recording, code snippet

_No response_

### Environm

[2022-07-28 09:41] ciampo opened #42770 "Popover: polish component after recent refactor"
The recent [refactor](https://github.com/WordPress/gutenberg/pull/40740) of the Popover component to use `floating ui` has caused a few regressions, and still feels partially incomplete.

**Known regressions (either issues, or PRs containing a fix):**

 - [x] https://github.com/WordPress/gutenberg/pull/41312
 - [x] https://github.com/WordPress/gutenberg/issues/41353
 - [x] https://github.com/WordP

[2022-07-28 09:44] Andrew-Starr opened #42771 "Provide a way for a pattern to be directly swapped for a different pattern"
## What problem does this address?

While recently showing someone how to insert a pattern into a page, they turned to me with the question "can I change this pattern for another pattern?"

As it is now, this would require removing all of the blocks that make up the previously added pattern, and then adding the other pattern.

Once a pattern has been added, this collection of individual blocks los

[2022-07-28 10:03] scruffian commented on #42253
These are the different scenarios we tested:

**Block theme with separate assets enabled**
The CSS is loaded in the header in a separate inline stylesheet:
[code]

**Block theme with separate assets disabled**
This case is the same as the previous one - it seems like block themes always load separate assets?

**Classic theme with separate assets disabled (twentyten)**
This CSS loads inline in the

[2022-07-28 10:12] scruffian commented on #42253
@adamwoodnz can you please confirm that this is still an issue on trunk, and if so which of the following cases you are in?

[2022-07-28 10:23] jameskoster commented on #42482
I agree this would be a useful enhancement. With all the work we're doing to better surface template part creation via patterns, it is easy for a proliferation of un-used template parts to occur.

[2022-07-28 10:46] dinhtungdu opened #42773 "[FormTokenField] Close the form when the number of tokens reach `maxLength`"
## What problem does this address?

When `<FormTokenField/>` is used as a dropdown selector, it's natural to collapse the suggestions and hide the input field when a token is selected (like the `<select>` behavior).

By the way, closing the form is also a good way to inform users that the maximum number of tokens is selected.

## What is your proposed solution?

We have two options:
- Create anoth

[2022-07-28 10:53] #35758 closed, assigned to nobody

[2022-07-28 10:53] #42316 closed, assigned to nobody

[2022-07-28 10:59] MaggieCabrera commented on #42097
After looking into this, I think part of the solution requires that we express [block styles variations differently](https://github.com/WordPress/gutenberg/issues/42297).

[2022-07-28 11:11] mtias commented on #38291
It's not very important right now, but we have said theme building blocks should not be exposed in post-editor / post-content before, or at least not be very prominent.

[2022-07-28 11:17] mtias commented on #42771
Thanks for the suggestion! Closing as duplicate since this is captured in these two issues:

- #39281
- #27575

It's an important part of the patterns roadmap — transforming patterns into other patterns, having collections / variations of patterns for an area like we do for headers, footers, queries.

[2022-07-28 11:17] #42771 closed, assigned to nobody

[2022-07-28 11:36] fabiankaegy opened #42775 "Add a mechanism for themes to prevent insertion of new blocks at root of block template part"
## What problem does this address?

This came up while testing #42729. When a theme provides a block template part there are cases where the theme wants to wrap a template part in a single element and only allow the insertion of new blocks within that root. Let's take a site-wide notification area or even a Cookie banner as an example. As a theme author, I want editors to be able to visually edit

[2022-07-28 11:41] fabiankaegy commented on #37943
As a follow-up for this feature itself I've also created a new issue to add the ability to lock the root level of a template part #42775

[2022-07-28 12:01] t-hamano commented on #31624
Thank you for getting to the bottom of what caused this!
I was finally able to reproduce it myself.

Upon examination, it appears that the paster handler is not firing and the browser default behavior is being executed.

https://github.com/WordPress/gutenberg/blob/8179690c4b79f49780a9e2ba94af00a98e85b97f/packages/block-editor/src/components/rich-text/use-paste-handler.js#L249

I don't know if this

[2022-07-28 12:13] tbdalgaard commented on #42659
Would this be okay on Mac with no Delete key?

Forgot the mention that I thought of backspace/delete here so both should work.

I would rather not use this shortcut because generally Shift key signifies moving backwards. Enter truly does make sense in this context since you are moving forward, not backwards.
Thoughts?

I certainly understand where you are coming from, and I would agree if it wasn'

[2022-07-28 13:18] ockham commented on #40223
We've now merged (#41807) the legacy Post Comments block into the new Comments block (formerly known as Comments Query Loop). This includes a button to transform the "legacy" version of the block (i.e. Post Comments) into the new version (Comments).

This is pretty similar in spirit to what this issue was requesting, so I think we can close it 🙂

[2022-07-28 13:18] #40223 closed, assigned to amustaque97

[2022-07-28 13:25] ellatrix commented on #42535
I am looking into this issue now.

[2022-07-28 13:41] ellatrix commented on #42535
Found the issue. Fixed in my PR https://github.com/WordPress/gutenberg/pull/42777.

[2022-07-28 14:04] t-hamano commented on #42753
It's a very good idea!

Does it mean that tests written in enzme should be refactored into testing-library?
Many people seem to be converting to TypeScript and rewriting to testing-lobrary at the same time, but it may be too hard for me, so I'd like to split it up and deal with it 😅

[2022-07-28 14:11] ciampo commented on #42753
Yes!

That's totally ok! Feel free to work on the unit tests and the TypeScript refactor in two separate PRs, and to tag @mirka and myself for reviews :)

[2022-07-28 14:31] renatho commented on #42770
Hey! I imagine it's probably related to what I'm facing with the Popover arrow.

Using WP 6.0 with Gutenberg plugin deactivated (working):

<img width="1508" alt="screen_shot_2022-07-28_at_11 13 12" src="https://user-images.githubusercontent.com/876340/181547181-1d28cc44-a202-43ee-8573-56b7db2f7b09.png">

With Gutenberg ([`trunk`](https://github.com/WordPress/gutenberg/tree/ed5813c1325b8d6a09df7dd

[2022-07-28 14:35] gziolo commented on #42375
One way to improve the workflow could be to automatically run `npm run docs:build` with the GitHub action. The commit will get created if the changes need to be applied by the same bot that we use to control releases for the Gutenberg plugin or npm publishing. Example of the code that adds commits:

https://github.com/WordPress/gutenberg/blob/ed5813c1325b8d6a09df7dd1bda00a8d90faf820/.github/workfl

[2022-07-28 14:54] padams commented on #41405
It would be wonderful if we could add the attachment post type as an option (or really any custom post type or taxonomy for that matter).

[2022-07-28 15:18] rmorse opened #42779 "Query block creates 3 WP_Query's by default"
### Description

When working with pre_get_posts and the query block, I noticed that 3 queries were being fired.

After some more digging, I realised the pagination blocks (numbered, and prev/next) consume the block attributes and create a new WP_Query, just get to get  `max_num_pages` from the query.

I realise if a server has object caching this wouldn't be a huge performance hit, but in other s

[2022-07-28 16:17] t-hamano commented on #42753
Realted issue: #35744

[2022-07-28 16:28] #42414 closed, assigned to mirka

[2022-07-28 16:28] #42717 closed, assigned to mirka

[2022-07-28 16:57] mirka opened #42781 "Components: Missing font-size declarations"
## What problem does this address?

#42747 uncovered that some components rely on a `font-size: 13px` being set in the surrounding CSS context. This is not a given, and we need that font-size to be explicitly set in each component for them to be self-sufficient.

## What is your proposed solution?

This could've been fine if the component library were designed with dynamic sizing in mind, but in r

[2022-07-28 16:59] #42535 closed, assigned to ellatrix

[2022-07-28 17:05] mirka opened #42782 "Components: Update control labels to the new uppercase styles"
The control labels need to be updated to the new uppercase styles:

<img width="329" alt="Mockup for the redesigned typography panel" src="https://user-images.githubusercontent.com/555336/181596453-653dd361-8c83-42bc-b39c-3f71978dc71c.png">

[2022-07-28 17:15] mrwweb commented on #42299
It feels like this issue could really use some high-level discussion—I hope there has been some already though I haven't seen it (update July 29, 2022: here's [a small discussion from last year](https://github.com/WordPress/gutenberg/discussions/35469))—about the overall planned scope of CSS support in `theme.json` (and therefore also global styles?). It's never seemed to me like it would be possi

[2022-07-28 17:17] mcsf opened #42783 "Pasting from Microsoft Word wrongly inserts screenshot image instead of content"
### Description

The general issue was fixed in #38992. This issue covers an edge case not covered by that fix.

See original report in https://github.com/Automattic/wp-calypso/issues/61295#issuecomment-1197904958.

### Step-by-step reproduction instructions

In short:

* copying a document from **Microsoft Word**
* said document contains text and **exactly one image**
* pasting onto the block edi

[2022-07-28 17:20] cuemarie opened #42784 "List Block: Editing a copy of a link applies changes to the first link, not the copy"
### Description

When you try to edit a link on a copied list item, it updates the link that was copied, not the pasted new link.

### Step-by-step reproduction instructions

1. Using the List block, add one list item with a link
2. Copy that first item and create a second one with it
3. Edit the link on the second item

### Screenshots, screen recording, code snippet

![Screen Capture on 2022-07-

[2022-07-28 18:01] hellofromtonya commented on #41479
@mtias and I discussed this roadmap for both block and classic themes. From that discussion, I've updated the description of this ongoing roadmap including the "font library" vision, technical details, and a new FAQ section.

The changes include publicly exposing `enqueue` and `remove` functionality.

[2022-07-28 18:09] johnstonphilip opened #42786 "Style Variations do not include all differences."
### Description

When I have a style variation in my theme that has a difference like `Allow users to set background colors.`, it doesn't allow me to select that style in the UI.

### Step-by-step reproduction instructions

1. Create a theme.json file in your theme that looks like this (reduced for simplicity to illustrate the issue):
[code]
2. In your theme's `styles` directory, create one called

[2022-07-28 18:12] hellofromtonya commented on #41479
Bundled in the API is a local fonts provider. It does not include remote font foundry handling. It does provide the means for plugin authors to create custom providers, such as to handle (a) an alternative local fonts approach or (b) remotely hosted fonts.

IMO I don't think Core should _force_ only local fonts.

cc @adamsilverstein @azaozz

[2022-07-28 18:19] johnstonphilip commented on #42786
Digging to find out why. Possible clue here:
https://github.com/WordPress/gutenberg/blob/33d84b036592a5bf31af05b7710f3b2b14163dc4/packages/edit-site/src/components/global-styles/screen-style-variations.js#L29

[2022-07-28 18:30] hellofromtonya commented on #41481
I withdraw my objections to this proposal. Let me explain.

Initially the plan was to move enqueuing to an internal only inner-workings. After discussing with @mtias in light of @desrosj well-argued points and when considering classic and block themes, [the vision changed](https://github.com/WordPress/gutenberg/issues/41479#vision) and was updated in the ongoing roadmap. Now `enqueue` and `remove`

[2022-07-28 19:00] richtabor commented on #42724
I agree.

[2022-07-28 19:04] Mamaduka commented on #42784
Hi, @cuemarie

Does this happen only when editing links in the List block?

[2022-07-28 21:12] stokesman commented on #42699
I've noticed this but I'd never considered it applicable to Gutenberg. It is a browser-level thing.

I'll digress a bit and also say it isn't clear to me which browser implementation is best or correct (spec-wise). At present, I like Firefox’s best but 🤷.

[2022-07-28 21:14] intelligence opened #42787 "Reusable blocks fail to load when used in a template"
### Description

Setting up a post template to include reusable blocks works at first save, but when the edit page is reloaded, the block fails to load. Same reusable block added regularly (not via template) works fine.

Related:
https://github.com/WordPress/gutenberg/issues/15542
https://github.com/WordPress/gutenberg/issues/14127

### Step-by-step reproduction instructions

Create reusable block

[2022-07-28 22:00] mirka opened #42788 "InputControl: Fix `LabelWrapper` line-height inconsistency"
Due to an extra wrapper, the labels on InputControl-based components render with a slightly different height than those based on BaseControl. This is currently necessitating a hack in ToolsPanel, where the such components are frequently rendered side by side:

https://github.com/WordPress/gutenberg/blob/e3136a4cae7bc27c3d842b73bafd6afa546cc497/packages/components/src/tools-panel/styles.ts#L124-L13

[2022-07-28 22:17] noahtallen commented on #25202
By the way, I've been using the `gh` [CLI tool](https://cli.github.com/) to test PRs from contributors without write access. Once installed, you just run `gh pr checkout 12345` in the repository. There's no need to set up extra remotes or anything. You just give it the PR number and it does everything else :)

[2022-07-28 22:22] michalczaplinski commented on #40255
I dig a little more here and the same issue appears in the Query Loop block. There are 2 twists though:

1. The correct styles are applied after reloading the editor page:

https://user-images.githubusercontent.com/5417266/181646582-38b7d846-89d9-424c-af0d-32127ff183a3.mp4

2. The editor is sensitive to the **temporal order** in which the styles are applied.
  - If we first change the styles of th

[2022-07-28 22:35] ltroya-as commented on #13998
Where do you put this code? @emanuellopes

[2022-07-28 22:40] emanuellopes commented on #13998
Can you be more specific?

Don't use $_GET variables directly!! You must filter the variables.

[2022-07-28 22:50] michalczaplinski commented on #40255
Hi @oandregal 👋 I have a question

In [this comment](https://github.com/WordPress/gutenberg/issues/37582#issuecomment-1000287580) you mention that:

This is precisely the problem that we see in the current issue. Do you know if this behaviour is intentional or can be considered a bug?

[2022-07-28 22:52] paaljoachim commented on #40255
Heya Nik @ntsekouras I believe this is an issue you might want to know about as well.

[2022-07-28 22:56] mrwweb commented on #42699
If you read the linked bugzilla thread, there's disagreement over the correct implementation and it seems like Safari, at least at the time, was as bad or worse (could someone test that)?

MDN (somewhat ironically!) [flags the issue](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/number#using_number_inputs):

I see no momentum on the upstream issue, so if enough people feel like i

[2022-07-28 23:29] carolinan commented on #42786
Is it a valid style variation if there are no **style** variations only settings? 🤔
If it is expected, then I guess, yes 🤷‍♀️

[2022-07-28 23:30] sabernhardt opened #42790 "Button block has zero height in editor when using left or right alignment"
### Description

The zero height intended for floated image blocks in "classic" themes also can apply to Button blocks and overlap content below it.

This was part of PR #30375:
https://github.com/WordPress/gutenberg/blob/e3136a4cae7bc27c3d842b73bafd6afa546cc497/packages/edit-post/src/classic.scss#L44-L45

_Thanks to @NidhiDhandhukiya74 (nidhidhandhukiya) for reporting this on [Trac 56300](https:/

[2022-07-28 23:32] carolinan commented on #42782
I know there are different research results and opinions, but has there at least been a discussion about the use of all caps and readability impact before this proposed change is merged?

[2022-07-29 00:23] mirka commented on #42782
Good question! First off, I assume the intent is to aid the user in perceiving the information hierarchy more easily by adding more visual differentiation. And labels are pretty short by nature, so I don't think it'll get to the point where readability is clearly harmed. Just my opinion though.

Given that we're decreasing the font-size to 11px, I would actually be more concerned about non-Latin c

[2022-07-29 01:03] annezazu commented on #41548
This was noted as a frustrating pain point in the fifteenth [call for testing for the FSE Outreach Program](https://make.wordpress.org/test/2022/07/11/fse-program-testing-call-15-category-customization/#comment-2654):

[2022-07-29 01:14] carolinan commented on #42790
This is difficult because different themes uses different _clears_ for alignments.

It is also difficult because if the intention is to place two different blocks horizontally you often need a row block (or a column or in case of data, a table), not an alignment. That complexity is not expected by users and the issue is valid.

[2022-07-29 01:40] mjsdiaz commented on #41548
Thank you, Anne!

[2022-07-29 01:44] mirka opened #42792 "Components: Audit use of `size` prop across components"
## What problem does this address?

Some components have a `size` prop that behave in slightly different ways. This may lead to confusion and bugs.

## What is your proposed solution?

Audit the usage of the `size` prop across components, and see if there are safeguards we can put in to prevent confusion and mistakes.

## Known components

- Control components (InputControl, SelectControl, etc.) h

[2022-07-29 01:45] mirka commented on #41973
`size` prop auditing will be tracked here #42792

[2022-07-29 02:51] #42698 closed, assigned to ramonjd

[2022-07-29 02:59] talldan commented on #42784
I think this was already reported in https://github.com/WordPress/gutenberg/issues/41771.

[2022-07-29 02:59] #42784 closed, assigned to nobody

[2022-07-29 02:59] tnchuntic opened #42794 "Button Style availability in Global block style"
## What problem does this address?
Missing style settings in Global Block Style, this would be really nice if its available that way all buttons can be styled in global in both outline and fill style.

## What is your proposed solution?
Add button Style in Global Style Settings for button blocks.

**Kindly see the screenshots.**

Button Styles in the button block
![Button Styles in button block](h

[2022-07-29 03:03] johnstonphilip commented on #42786
Right. If anything from theme.json is allowed in a style variation, than this is a bug.

On the other hand, if there is any value in theme.json that should _not_ be used in a style variation, then there should be a separate [schema](https://github.com/WordPress/gutenberg/tree/trunk/schemas/json) file for style variations so we know what is and is-not allowed.

[2022-07-29 03:46] glendaviesnz commented on #39371
Sorry about the long delay in any update on this. I have been exploring various approaches over on the PR for the [spacing presets UI PR](https://github.com/WordPress/gutenberg/pull/42173) based on all the feedback.

The latest iteration makes use of a segmented Range control if a theme specifies 7 or less steps in the `spacingScale` or 7 or less options in the `spacingSizes` array. The segmented

[2022-07-29 05:17] carlomanf commented on #41119
I won't comment on the confusion, but it would not be without precedent if #42729 is merged.

[2022-07-29 05:32] glendaviesnz commented on #42755
I started looking at this here, but ran out of time to work through the full list of attributes that are/are not being carried across successfully. @t-hamano feel free to add to that PR if you have time, otherwise I will have another look at it next week.

[2022-07-29 05:42] t-hamano commented on #42755
@glendaviesnz

Thank you for submitting PR.
I was also in the process of working on how to respond to this issue.

Ideally, I think the attributes of each block should be carried over in the block transformations.
(except that the `sizeSlug` should be unified when converting images to gallery blocks)

I will add it to that PR if I find a good way to handle this.

[2022-07-29 05:45] talldan commented on #42363
I just started reporting what I think is the same bug in a separate issue, then found this. I did some investigation.

In trying to diagnose this, I can spot two bugs. The first is that the dragged block is initially 'greyed out' when starting a drag, but when you drag past its position it suddenly reappears even though the user hasn't stopped dragging. The `BlockDraggable` is unmounted and `stopD

[2022-07-29 05:54] carolinan commented on #41543
This is what the selected block looks like in Twenty Twenty when contenteditable is false and the standard outline and shadow copied to the editor.scss file:

![separator block](https://user-images.githubusercontent.com/7422055/181689919-714adde5-2c55-4951-8554-39d87ddb3ca0.png)
Description: The default blue box shadow is visible around the block. Previously only the decorative "/" part of the cus

[2022-07-29 05:59] t-hamano commented on #42755
I may not have done enough testing on how the attributes are inherited, so I will test again.

[2022-07-29 06:10] carolinan commented on #41543
Here the box shadow is moved 3 pixels away from the separator.
Twenty Twenty:
![there is more spacing between the separator, but the shadow does not cover the decorative "/" part ](https://user-images.githubusercontent.com/7422055/181693904-e53f7fd0-223e-41eb-82e9-9d8adb046fe3.png)

Twenty Twenty-Two:
![](https://user-images.githubusercontent.com/7422055/181693740-3e8a797c-df41-473b-84b0-200805db7

[2022-07-29 06:11] carolinan commented on #41543
It is not close to 40px-ish that is recommended for a clickable area on mobile, is that a height we should target?

[2022-07-29 06:16] carolinan commented on #32129
I miss-read the dates -I have reassigned you again @ellatrix  😊

[2022-07-29 06:18] carolinan commented on #41543
I'll leave the clickable area to the open PR that will adress this ;)

[2022-07-29 06:50] scruffian opened #42799 "Fix Navigation block fallbacks and entity saving"
This is an overview Issue to track the requirements to fix and improve the fallback and entity saving states for the Navigation block.

Where possible, the aims are:

- always to have 1:1 parity between what is displayed in the Editor and what is shown on the front of site
- to have the block "just work" and automatically choose and appropriate fallback in lieu of a user defined menu.
- to simplif