[2021-11-10 07:28] tmdk commented on #34320
Please note that the **official** wordpress docker image has never, and most likely never will include xdebug.

AFAICS, the `FROM wordpress` directive in the Dockerfile ends up basing a new build on its own previous build result, instead of basing the new build on the official wordpress docker image. If this behaviour is fixed, this issue should go away.

[2021-11-10 07:39] #34404 closed, assigned to nobody

[2021-11-10 07:44] carlomanf commented on #36354
I did suggest moving both editors as Carolina mentioned, but then I tried out the latest implementation and changed my mind. What I noticed is the Templates item is now the primary way of navigating between templates, and the Editor item is nothing more than a shortcut to the default template. I now think it would be clearer to remove the new Editor item altogether and just rely on Templates, allo

[2021-11-10 07:54] kirstenschelper commented on #29269
Same here. I can't save the post (page in my case) properly.
The editor keeps indicating the Update button with a dot (screenshot) even when there were no changes on the page.  In addition to that I have to save the reusable block every time even when I didn't touch it. Looks like the screenshot @mtias posted above.
<img width="472" alt="Bildschirmfoto 2021-11-10 um 08 51 25" src="https://user-ima

[2021-11-10 08:58] hypest commented on #35357
👋 @kyleaparker and @dcalhoun ! Just checking in about the discussions progress around this ticket. Have we reached some consensus perhaps?

[2021-11-10 09:28] #36308 closed, assigned to nobody

[2021-11-10 09:28] getdave commented on #35521
## Update - 10th November 2021

* Work has continued on making Navigations reusable across a Site and between Themes.
* A [Navigation Area block was added](https://github.com/WordPress/gutenberg/pull/36178) to facilitate the reuse of Navigations between Themes. You can now switch Themes and (if the target Theme is configured correctly) your Navigation will be preserved.
* This works somewhat simil

[2021-11-10 09:52] getdave opened #36370 "Ability to unassociate Nav CPTs from Nav Areas via Navigation Menus UI"
## What problem does this address?

Currently once you assign a Navigation Post to a Navigation Area there isn't an easy way to remove the relationship.

## What is your proposed solution?

You should be able to go to `http://localhost:8888/wp-admin/edit.php?post_type=wp_navigation` and see a way to remove / edit the association as required.

<img width="1103" alt="Screen Shot on 2021-11-10 at 09-

[2021-11-10 09:57] ramonjd commented on #36096
Passing down the `setEntitiesSavedStatesCallback` prop to `<PostPublishButton />` creates the following effect:

https://user-images.githubusercontent.com/6458278/141091044-025abdf0-11ca-4eb9-aa88-914851126c00.mp4

I can't save the post without also saving the site entity.

[2021-11-10 11:23] markhowellsmead commented on #23092
Development of the Cover block has advanced since this ticket was raised. As no progress has been made on this layout option, and we already have our own block in use on many of our sites, I'll have to assume that we'll have to stick with a custom solution instead of one provided by core.

[2021-11-10 11:23] #23092 closed

[2021-11-10 11:24] carolinan commented on #36354
Hmm yes that is worth considering in my opinion.

[2021-11-10 11:32] markhowellsmead commented on #32815
Current status with WordPress 5.8.1 and Plugin version 11.8.3. The editor no longer crashes. The block which was formerly registered and filled with content is visible, but clicking on it removes everything except a simple, unlabelled control, which allows the user to remove the block. This is a good solution, but the interface needs to show some kind of label to indicate to the user what is happe

[2021-11-10 11:33] markhowellsmead commented on #34696
I cannot replicate this issue with WordPress 5.8.1 and Plugin version 11.8.3.

[2021-11-10 11:33] markhowellsmead commented on #36135
See also #17069.

[2021-11-10 11:39] markhowellsmead commented on #17069
This no longer appears to be an issue in the cases which I originally tested.

[2021-11-10 11:39] #17069 closed

[2021-11-10 11:41] gziolo commented on #32815
@noisysocks and @Mamaduka, I wanted to flag this issue for your consideration in the context of the upcoming 5.9 release. The last update shared in https://github.com/WordPress/gutenberg/issues/32815#issuecomment-965043554 is the only remaining concern.

[2021-11-10 11:47] markhowellsmead commented on #32815
Additional: this appears to only apply to core blocks. De-registering a custom block where content has already been created shows a suitable message and action control.

<img width="754" alt="Screenshot 2021-11-10 at 12 46 48" src="https://user-images.githubusercontent.com/1571592/141107621-daabceff-ec6e-46cc-bf8e-722774f51b9b.png">

[2021-11-10 11:57] StefanXhunga commented on #32815
I think is Ok, thank you for your assistance!

[2021-11-10 12:32] #36366 closed, assigned to kevin940726

[2021-11-10 12:39] ciampo commented on #35093
Hey @kellychoffman @critterverse @shaunandrews! Since this is a tracking issue, would you mind opening a separate issue specific to discuss the Color Panel changes, and link to it from here?

Thank you!

[2021-11-10 12:49] Mamaduka commented on #32815
Thanks for the ping, @gziolo.

We should display a similar message for core blocks as we do for custom ones - https://github.com/WordPress/gutenberg/issues/32815#issuecomment-965054089. What do you think?

[2021-11-10 13:03] jameskoster commented on #36354
That's not _quite_ true. If you have a static home page set, then the Editor will load that template with the relevant page content in situ, enabling you to edit both at the same time. This lays the foundation for the broader "Site Editor" ambition where you're able to edit all aspects of your site at the same time.

There are also issues like #36207 that will help make the Editor feel more like a

[2021-11-10 13:17] draganescu commented on #36370
Isn't this relationship automatically removed if from the editor you assign another navigatiion to the area?

[2021-11-10 13:28] tjcafferkey commented on #35994
Me and @dinhtungdu have been looking into this issue over the past day or so and have not come up with a suitable solution. Fundamentally the templates in this screen are being treated like they are for every other post type using the `WP_List_Table`. This means:

* Its data is being stored and loaded from the database **only**.
* They remain in the database and are presented to the user regardles

[2021-11-10 13:45] hypest commented on #36364
👋 @jhnstn! I'm trying to replicate the issue but I can't seem to find that "copy link" option in Chrome. Chrome actually looks different on an Android 12 emulator I'm trying locally. Here's how it looks on my side:

| Chrome | 3-dot menu open |
| - | - |
| <img width="300" alt="Screenshot 2021-11-10 at 15 39 57" src="https://user-images.githubusercontent.com/1032913/141123423-c67a607b-97d8-462a-9e

[2021-11-10 14:11] getdave opened #36373 "Ability to add custom Navigation area types"
## What problem does this address?

Currently, out of the box the Navigation Area block supports

- Primary
- Secondary
- Tertiary

Developers should be able to extend this list.

## What is your proposed solution?

Add a filter or provide some other means of extending the list of areas.

[2021-11-10 14:19] getdave commented on #36373
@anton-vlasenko Might you be able to help out with this one?

[2021-11-10 14:21] kyleaparker commented on #35357
Agreed with this and ideally we can find a way for mobile Twitter embeds to work.

I'm sure continued improvements could be made, but what we currently have on mobile feels like it sets the right expectations.

[2021-11-10 14:24] StefanXhunga commented on #36348
Thank you for your assistance!

[2021-11-10 14:38] #36319 closed, assigned to nobody

[2021-11-10 14:44] skorasaurus commented on #36365
I can reproduce this on gutenberg 11.8.3

[2021-11-10 15:04] Mamaduka commented on #35994
Thanks for the excellent summary, @tjcafferkey.

One alternative I can think of is to:

1. Disable default post-type UI.
2. Replace it with a custom dashboard page, say - `wp-admin/themes.php?page=templates`
3. Extend `WP_List_Table`
4. Use `get_block_templates` for fetching items.

[2021-11-10 16:02] github-actions[bot] opened #36376 "[Flaky Test] should undo typing after a pause"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should undo typing after a pause

## Test path
`specs/editor/various/undo.test.js`

## Errors

<time datetime="2021-11-10T16:02:15.116Z"><code>[2021-11-10T16:02:15.116Z]</code></time> Test passed after 1 failed attempt on <a href="https://github.com/WordPress/gutenberg/actio

[2021-11-10 16:05] dcalhoun opened #36377 "Improve notability of Embed placeholder failure messages"
## What problem does this address?
When attempting to embed an invalid URL, the error message that is shown is quite subtle. It is fairly small text with similar sizing and color to the rest of the Embed block placeholder content.

## What is your proposed solution?
For the web editor, we could increase the contrast of the error text (e.g. color, size) and/or reduce the amount of information/noise

[2021-11-10 16:09] dcalhoun commented on #35357
After reviewing this thread again and discussing with @kyleaparker, I am closing this issue in favor of three new issues that address the topics that arose within this original issue:

* [Support embedding Mobile Twitter URLs](https://core.trac.wordpress.org/ticket/54414#ticket)
* https://github.com/WordPress/gutenberg/issues/36377
* https://github.com/Automattic/wp-calypso/issues/57916

My hope i

[2021-11-10 16:09] #35357 closed, assigned to nobody

[2021-11-10 16:18] colorful-tones commented on #33956
I've been digging a bit and have come up empty. I'm curious how we arrived to using the `theme.json` entry for `layout`:

[code]

To output a bunch of these inline styles on the frontend: `.wp-container-61810012475e7 > * {max-width: 860px;margin-left: auto !important;margin-right: auto !important;}`

It seems like it would be a bit easier to work with the `layout` entries if they were just tied to

[2021-11-10 17:06] colorful-tones commented on #33956
Actually, @keithdevon _already_ proposed a similar approach in #36135 👏

[2021-11-10 17:10] dinhtungdu commented on #35994
@Mamaduka thanks for sharing the alternative, we considered the approach you mentioned but we haven't found the solution for pagination that approach introduces. If you have any idea to solve that issue, please let us know.

~By the way, did you mean [`gutenberg_get_block_templates()`](https://github.com/WordPress/gutenberg/blob/trunk/lib/compat/wordpress-5.9/block-template-utils.php#L545-L666) in

[2021-11-10 18:31] ibes commented on #33789
Oh wow - this is absurd.
Useless gutenberg blocks because a core function was not fixed in 11 years ...

Thanks for going down the rabbit hole @markhowellsmead

@markhowellsmead Would you be open to climb down the rabbit hole together to figure out where to put some tape?
Maybe there is a way to deliver  `wp_get_attachment_thumb_file` with the `$imagedata['thumbnail]` and than hook into that proce

[2021-11-10 18:50] Addison-Stavlo opened #36380 "`getEntityRecords` for `wp_template` returns `null` the first time it runs."
### Description

This seems to be a recent regression that I can not reproduce on 11.8, but is present in 11.9 RCs and current `trunk` branch.

Core `getEntityRecords` selector for `wp_templates` returns `null` the first time it runs after loading the editor

### Step-by-step reproduction instructions

1. Load the Site Editor
2. Open the console window and run the following: `wp.data.select( 'core

[2021-11-10 18:55] bph commented on #35812
So I was able to reproduce the issue using Twenty-Twenty-one Theme

<img width="485" alt="Screen Shot 2021-11-10 at 1 46 23 PM" src="https://user-images.githubusercontent.com/39980/141174482-d51b6350-758a-403f-812c-fd2c8f7968e7.png">

Here is a video to: https://recordit.co/STdY3r8Lr7
In TT1 the items on the image placeholder are all aligned well.

<img width="771" alt="Screen Shot 2021-11-10 at 1

[2021-11-10 19:00] bph commented on #35812
Oh and there was no difference in this behavior, when using the plugin build from PR #33494

[2021-11-10 19:14] youknowriad commented on #36380
Hi there! this is basically the behavior of any async selector. The first time the selector returns null and triggers a resolver. What might have changed is that the selector might not be preloaded anymore. And If I'm not wrong "templates" don't support pagination, so you should drop the `{ per_page: -1, }` from the call.

[2021-11-10 19:19] fullofcaffeine commented on #36380
Thanks for chiming in, Riad! Do we know why that's the case now? It seems counter-intuitive to return `null` without a way to await the actual fetched data.

[2021-11-10 19:29] bph commented on #35812
The last test was with 11.9 RC 4, and I still see the same issue in Twenty-twenty-one. :-)

[2021-11-10 19:33] shadigaafar commented on #36380
I have notice that before, this is way sometimes I don't use it. And prefer to use `apiFetch `when I have something to do after loading. sometimes you do want to await for the fetched data. and it is not possible with `getEntityRecords  `or `getEntityRecord`.

[2021-11-10 19:45] Addison-Stavlo commented on #36380
That makes sense. 👍

[2021-11-10 20:02] ockham commented on #36380
The relevant preloading happens here: https://github.com/WordPress/gutenberg/blob/1dc8d6d5cb736b82ff34a361f569c6e082958b2c/lib/full-site-editing/edit-site-page.php#L109-L128

The `templates` endpoint (which I think is the one in charge of the `wp_template` CPT) is preloaded: https://github.com/WordPress/gutenberg/blob/1dc8d6d5cb736b82ff34a361f569c6e082958b2c/lib/full-site-editing/edit-site-page.ph

[2021-11-10 20:06] BicanMarianValeriu opened #36381 "get_block_wrapper_attributes order of supported attributes"
### Description

I'm targeting all blocks wrappers with inline styles with a regex however when it reaches core/template-part, their order is reverted, eg: <tag style="style" class="some-class"> instead of <tag class="some-class" style="style"> as 99% of the core blocks outputs the html.

After inspecting the code, the problem is in get_block_wrapper_attributes() from class-wp-block-supports.php (

[2021-11-10 20:06] webprom opened #36382 "Pagination Bug in Query Gutenberg Block"
### Description

First item in paginated blog custom query doesn't have a link to page 1 when you're on next pages. I.e. ?query-15-page=6 wouldn't have link in pagination to ?query-15-page=1.

`<a class="page-numbers" href="">1</a>`

Previous and Next links work ok.

### Step-by-step reproduction instructions

1 )  Insert Query block and set a custom query, i.e. with some specific category and wit

[2021-11-10 20:12] ockham commented on #36380
To elaborate a bit more, preloading means that on the PHP side, we list REST API endpoints whose responses we want to make available upon first loading a given page (such as the site editor). WordPress will then embed those responses into the server-generated HTML, and make them available to the JS on the client side.

To inspect, navigate to the site editor, switch to "View Source", and Cmd+F `cr

[2021-11-10 20:23] ockham commented on #36380
FWIW, if I do that, I do see preloaded data for `/wp/v2/templates?context=edit`. So it seems like the issue might be on the client side (e.g. `apiFetch` or `createPreloadingMiddleware`). Since the core-data stack is somewhat big, it's a bit hard to guess where exactly.

Based on Addie's description, this might be a good candidate for bisecting:

cc/ @fullofcaffeine since you're experienced with us

[2021-11-10 20:26] ockham commented on #36380
Dug a bit and found a PR that _could_ be related: https://github.com/WordPress/gutenberg/pull/36044

[2021-11-10 20:32] carlomanf commented on #36354
Thanks for the clarification. If content editing facilities are present, then wouldn't it be more appropriate for it to be elsewhere than Appearance?

[2021-11-10 20:49] scofennell commented on #15094
[code]
Could you clarify what the purpose of the transient is, and how you arrived at 10 as a sensible value for lifespan?

This is very nice, it seems to work perfectly, but I want to understand it more.

[2021-11-10 21:05] jcoonrod opened #36383 "Gallery move items arrows disappear"
### Description

When a gallery block has more than 4 columns, the arrows for moving items does not show.

### Step-by-step reproduction instructions

1. Insert a Gallery block
2. specify a larger number of columns than 4, like 8.
3. Upload more than 8 images
4. Click on the image - normally < > arrows appear to move blocks but when the image is too narrow they do not appear.
![Screenshot 2021-11-

[2021-11-10 21:10] #33933 closed, assigned to ramonjd

[2021-11-11 00:17] ramonjd commented on #36188
Just jotting down some whacky ideas:

Add a class to the wrapper for each typography style in https://github.com/WordPress/gutenberg/blob/1e17b5a5b4a3117e843dde015c128361c5ae059e/lib/block-supports/typography.php#L68

Then overwrite the theme default styles for this particular block like this:

[code]

Resulting in the following markup:

[code]

This works, but has the downside of adding  to every

[2021-11-11 00:44] andrewserong commented on #36274
Closing out this issue now as 11.9.0 has been released: https://github.com/WordPress/gutenberg/releases/tag/v11.9.0

[2021-11-11 00:44] #36274 closed, assigned to andrewserong

[2021-11-11 00:52] talldan commented on #36287
This was addressed in #36368

[2021-11-11 00:52] #36287 closed, assigned to nobody

[2021-11-11 01:14] talldan commented on #36373
@getdave I think there's already a `register_navigation_areas` function that developers can call. It probably needs some testing to make sure it works ok for themes.

I don't know that a filter is needed given the function already exists. Could you add a use case for such a filter to the issue description?

[2021-11-11 01:32] tellthemachines commented on #34041
Is there anything left to address here? I've marked it done in the Navigation tracking issue because for 5.9 purposes all the high priority features have been implemented.

[2021-11-11 01:54] talldan commented on #36309
`trunk` should be ok now. Rebasing the branch should get the tests passing.

[2021-11-11 02:22] kevin940726 commented on #35994
It seems like we can't do much in the WP admin style list. If it's too tricky to do then I don't think it'd be worth it. I created #36379 as an alternative to implement the list from scratch. It also matches the ultimate design we had in https://github.com/WordPress/gutenberg/issues/29630#issuecomment-954159446.

[2021-11-11 02:31] talldan commented on #36067
It still doesn't work for me. Here's a screenshot:
<img width="385" alt="Screenshot 2021-11-11 at 10 25 00 am" src="https://user-images.githubusercontent.com/677833/141226205-4e86da92-5861-494f-b2e0-9ae9a64a49f2.png">

To reproduce this:
1. Run `npm run test-unit:watch`
2. Add a focus test in the `reducer` file
3. Change the name of a test in the `selectors` file.

Expected - only the `reducer` te

[2021-11-11 02:42] kevin940726 commented on #36067
Oh, I think this is expected? `only` only focuses tests in the same file, it doesn't prevent tests in other files from running.

[2021-11-11 02:44] ZebulanStanphill opened #36389 ""Paragraph" icon in Site Title level dropdown grows comically large on Firefox"
### Description

When the "Paragraph" option of the heading level dropdown of the Site Title block is selected, the icon in the toolbar grows once the block is unselected and reselected. Sometimes it grows even bigger upon further deselection and reselection, leading to comical results. This bug occurs in Firefox, but not Chromium.

### Step-by-step reproduction instructions

1. Use Mozilla Firefo

[2021-11-11 03:02] talldan commented on #36067
Ah, ok, fair enough, didn't realise that. Seems like a bit of a useless feature, and I don't think it previously worked that way.

[2021-11-11 03:02] #36067 closed, assigned to nobody

[2021-11-11 03:29] kevin940726 commented on #36067
I believe it always works that way though 😅 , or at least suppose to. I normally filter the files in watch mode if I only want to focus some of the tests.

[2021-11-11 05:16] ibes commented on #33789
[code]

this might help to set an default image size smaller than `full`

It replaces the unset `post-thumbnail` with `medium`.

Seems to work for me in the frontend, but not in the editor/backend.
Don't get why.

[2021-11-11 06:03] getdave commented on #36373
Hi Dan. If `register_navigation_areas` already exists (and works!) ~then we're all good and this issue isn't needed~. I was wrong. As per https://github.com/WordPress/gutenberg/pull/36178#discussion_r747371723 we should avoid functions that make it super easy to wholesale overwrite good solid defaults. Instead the filter based approach would be much better.

~I'll run some tests and document what

[2021-11-11 06:08] getdave commented on #36370
Technically you are rightt. However, as a user, I find it jarring that once I've assigned the menu the only way to _unassign_ it is to create an entirely new menu (or assign another menu). That doesn't feel right to me.

However it's achieved you should be able to undo the action of assigning a navigation to an area.

[2021-11-11 06:26] #34199 closed, assigned to davecpage

[2021-11-11 07:04] Mamaduka commented on #35994
@dinhtungdu The `get_block_templates` doesn't support pagination, so I don't think we can do much here at this point.

We can fake pagination by slicing results, but this still means we fetch every template. So I think it's okay to ignore it v1; we don't have data on how many templates sites might have.

@kevin940726 building SPA will probably be more time-consuming than using a custom `WP_List_Ta

[2021-11-11 07:11] gziolo commented on #35576
@simonhammes is working on the upgrade in https://github.com/WordPress/gutenberg/pull/36283 🎉

[2021-11-11 07:12] youknowriad commented on #36380
Yes, I think what I did on that PR is to remove the `per_page` argument from Gutenberg's code base and changed the preloaded URLs based on the API calls that I saw being called when first loading the site editor.

[2021-11-11 07:16] jasmussen commented on #35812
Thank you for the additional information, I was able to reproduce, though I wasn't able to get your "staircase columns block" effect, that seems like an additional bug!
<img width="772" alt="Screenshot 2021-11-11 at 08 11 35" src="https://user-images.githubusercontent.com/1204802/141254367-5b336dc7-10c5-4db6-b528-339dc0acac86.png">

As it turns out, TwentyTwentyOne has this rule:

[code]

that's p

[2021-11-11 07:36] #33585 closed, assigned to getdave

[2021-11-11 07:37] getdave opened #36392 "Improve automated regression testing for paste bugs for inline rich text"
In https://github.com/WordPress/gutenberg/pull/36356 we found a bug whereby internally pasted links were prefixed with a `<meta charset>` tag. When trying to add an integration test to cover this I discovered we're missing test coverage for any internally pasted content that comes from a rich text instance.

More info below:

------

I was looking at adding an integration test to cover this. Initi

[2021-11-11 07:54] markhowellsmead commented on #33789
I don't think it's a brilliant idea to remove the opportunity to use the post thumbnail in this way. (It might make sense for an individual developer to use this, if that's a project requirement.)

Replacing `post-thumbnail` with `thumbnail` using this filter works, returning the correctly-sized thumbnail image for the `post-featured-image` block.

[code]

[2021-11-11 08:08] markhowellsmead commented on #33789
For the post-featured-image block, I suggest modifying the call in the `render_block_core_post_featured_image` method from

`$featured_image = get_the_post_thumbnail( $post_ID );`

to

`$featured_image = get_the_post_thumbnail( $post_ID, 'thumbnail' );`

[2021-11-11 08:38] carolinan opened #36395 "5.9 Alpha: WordPress admin footer is visible in the site editor footer"
### Description

Please guide me if this is not the correct place to report this, then I can open a Trac ticket.

With WordPress trunk, (now at 5.9-alpha-51272-src),
at a browser window width above 782px, the WordPress admin footer is visible in the site editor.

### Step-by-step reproduction instructions

1. Using WordPress trunk, activate a full site editing theme like Twenty Twenty-Two.
2. Go t

[2021-11-11 08:42] carolinan commented on #36395
Update, if I activate Gutenberg, current trunk, the WordPress admin footer is not visible in the site editor.

[2021-11-11 09:00] carolinan commented on #36382
I am not able to reproduce this with Gutenberg trunk active:
[code]

Nor with WordPress 5.9 alpha without Gutenberg active:
[code]

[2021-11-11 09:23] markhowellsmead opened #36396 "Unable to remove block-templates support using remove_theme_support"
### Description

`remove_theme_support('block-templates');` (applied using the `after_setup_theme` hook with priority 20) doesn't appear to work when the plugin (v11.9.0) is in use.

### Step-by-step reproduction instructions

1. Add the following code to the theme or a plugin
2. The template selector is still visible on the edit post screen.

### Screenshots, screen recording, code snippet

[code

[2021-11-11 09:23] markhowellsmead commented on #33500
See also #36396

[2021-11-11 09:42] aristath commented on #35591
Since the API was not included in WP5.9, this is no longer relevant so I'll go ahead and close it.

A draft PR is in the works to port the API to Gutenberg as per the comment on https://core.trac.wordpress.org/ticket/46370#comment:111.

Draft PR: https://github.com/WordPress/gutenberg/pull/36394 👍

[2021-11-11 09:42] #35591 closed, assigned to nobody

[2021-11-11 09:57] talldan commented on #36286
👍 I think it's ok that it won't show that for classic menus. Looks like contributors can't access those menus anyway.

Also need to consider whether the user has access to the new `wp_navigation` post type. If they don't, they can't really edit a navigation block with the way it works right now.

Also, at the moment, wp admin shows the menu items for template parts and navigation menus for contrib

[2021-11-11 10:02] talldan commented on #36286
I was just checking how this might work for reusable blocks, and it looks like it doesn't 😬

A contributor can add a resuable block created by an admin, edit it, but they can't save it (tested in the post editor). Saving seems to throw an error:
[code]

So it seems there isn't much prior art for this kind of situation.

[2021-11-11 10:11] jameskoster commented on #36354
I'm not sure there is an appropriate section currently since this idea of cross-context editing doesn't really exist in WP just yet.

When the experience is much richer (you're able to navigate to different content/templates, edit site settings, etc – hopefully for 6.0) we might consider elevating it to the top level. But for now editing style and template feels very theme-oriented, so the Appeara

[2021-11-11 11:07] carolinan commented on #36396
If your theme has a a theme.json file then this is intentional.

[2021-11-11 11:09] Mamaduka opened #36401 "Dev Notes Tracking Issue for WordPress 5.9"
For WordPress 5.9, a Github project is being used to track dev notes and their progress. You can find the dev notes project view here - https://github.com/orgs/WordPress/projects/11/views/8.

Please share your notes here as comments or links to shared documents. The dev notes should be posted before WP 5.9 RC (30 November).

Please leave a comment if you're unable to write a note for your PR.

[2021-11-11 11:28] Mamaduka commented on #36395
I think this was fixed via #36390.

[2021-11-11 11:30] webprom commented on #36382
Upgraded to 5.8.2 but the issue is still there.
Again, no Gutenberg plugin, and a custom query.
Switched to theme Twenty Twenty-One and disabled all plugins again.
Permalinks structure:  `/%category%/article/%year%/%monthnum%/%day%/%postname%/`

![image](https://user-images.githubusercontent.com/3159046/141290854-ac5710f7-84da-491d-8eeb-896c292129f4.png)

[code]

[2021-11-11 11:31] DeoThemes opened #36402 "Navigation justification is broken"
### Description

After the recent update 11.9.0 navigation alignment is broken. No matter what alignment option is selected, the CSS variables are undefined

### Step-by-step reproduction instructions

1. Go to Editor (beta)
2. Add navigation block
3. Select justification option

### Screenshots, screen recording, code snippet

![gutenberg_1 19 0_justify_bug](https://user-images.githubusercontent.

[2021-11-11 11:32] Sandstromer opened #36403 "Provide some way of editing ALL theme templates and template parts"
## What problem does this address?

Prior to 11.9.0 one could edit all of the active theme's templates and template parts in the "Editor".

Now as of 11.9.0 we seem to be able to only edit Index template, and Header and Footer template parts.
Clicking 'Browse all templates' now takes us to 'Appearance' > 'Templates' where only the edited templates that previously been saved in the database are ava

[2021-11-11 11:38] Sandstromer commented on #36403
OK so I found these issues; https://github.com/WordPress/gutenberg/issues/36325 & https://github.com/WordPress/gutenberg/issues/35994

Is the intention to make all templates and template parts available at 'Appearance' > 'Templates' with the editing done in the post editor, rather than the site editor?

Will the site editor be removed, and we just have the styles editor in future?

[2021-11-11 11:49] Sandstromer commented on #36403
Apologies if this issue is just adding more noise and is not needed.

I now found this issue too; https://github.com/WordPress/gutenberg/issues/29630

It seems a little bit weird to drop template editing when this new way is not yet ready, forcing us to roll back to 11.8

If someone with better knowledge of these issues thinks this issue is not needed, please close it out.

[2021-11-11 11:49] webprom commented on #36382
But with the Gutenberg plugin installed it works. Was it fixed in 5.9 alpha?

[code]

[2021-11-11 12:05] Sandstromer opened #36404 "Columns with padding breaks responsive layout"
### Description

When adding padding to an individual column in the columns block, the layout is broken in medium browser widths (600px to 781px).

### Step-by-step reproduction instructions

Add a columns block with more than 1 column.
Leave the default 'Stack on mobile' option on.
Adjust the padding within each column to a value greater than zero.
View the columns at browser widths between 600 a

[2021-11-11 12:14] ockham commented on #36380
FWIW, I did try `wp.data.select( 'core' ).getEntityRecords( 'postType', 'wp_template' )` (without the `per_page`), and it showed the same behavior (`null` on first invocation), so I think it's not just that 🤔

[2021-11-11 13:05] #36309 closed, assigned to anton-vlasenko

[2021-11-11 13:17] fabiankaegy opened #36407 "Missing ability to remove/override "Core" color palette"
### Description

In the original tracking issue from Matias (#29568) it was outlined that

Looking at the implementation now that does not seem to be the case.

This is a big problem for custom builds with strict design systems where the litigation to certain brand colors is a very important need that is no longer met without the ability to remove / override that "Core" palette.

I do understand a

[2021-11-11 13:19] fabiankaegy commented on #36407
I would consider this to be a Bug that should be included in the WordPress 5.9 must-haves as it impacts Agencies and Custom builds very heavily. But of course I am biased that way because I am advocating for the Agency side. :)

[2021-11-11 13:30] github-actions[bot] opened #36408 "[Flaky Test] should be able to open the tags panel and create a new tag if the user has the right capabilities"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should be able to open the tags panel and create a new tag if the user has the right capabilities

## Test path
`specs/editor/various/taxonomies.test.js`

## Errors

<time datetime="2021-11-11T13:30:22.387Z"><code>[2021-11-11T13:30:22.387Z]</code></time> Test passed after 1

[2021-11-11 13:32] briceduclos commented on #36330
Hi @Mamaduka, @oandregal,

I've found out that Gutenberg 11.9 doesn't use `$settings['__experimentalGlobalStylesBaseConfig']` anymore. Is there a solution?

Thanks.

[2021-11-11 13:40] fabiankaegy commented on #36407
My proposed solution for it would be introducing a new key to the `settings.color` object in `theme.json` for `corePalette` and `coreGradients` that could then either be overwritten or set to an empty array to remove it completely.

[code]

[2021-11-11 13:53] fabiankaegy commented on #36407
To add some more context here. When you set the `settings.color.palette` to an empty array some of the blocks hide the Color options altogether. Which I think is the right behavior. But not all blocks adhere to that pattern. The `Sepperator` and the `Navigation` block for example do still show the color panel in the settings sidebar and just only show the Core palette.

As soon as you add any colo

[2021-11-11 13:54] tjcafferkey commented on #35994
As long as we're only returning the results that are related to the site in its current state (ie not returning templates from _deactivated_ themes or plugins) then I agree, I can't imagine there being lots of templates either.

I'm not super familiar with all the code involved, but I'd imagine building a SPA _from scratch_ would be more time consuming. @dinhtungdu would you agree?

[2021-11-11 14:08] jorgecontreras commented on #33616
I would like to work on this issue

[2021-11-11 14:20] jameskoster commented on #36403
Ultimately this feels like a duplicate of https://github.com/WordPress/gutenberg/issues/35994, would you agree?

[2021-11-11 14:24] Denis74F commented on #36403
Hi, in my opinion this is a problem to be solved, because not having the possibility to modify the templates, penalizes a lot its development and the development of the themes.
For example, I made a template for a homepage. I create a "Home" page and set this template, but then if the user does not have the possibility to modify it, it makes no sense to pursue this path.

[2021-11-11 14:25] jameskoster commented on #36403
Agreed, and #35994 will resolve that 🙂

Edit: Y'all may also be interested in this work-in-progress PR: https://github.com/WordPress/gutenberg/pull/36379

[2021-11-11 14:31] Mamaduka commented on #36389
Hi, @ZebulanStanphill

I cannot reproduce the issue on the current trunk — testing with the TwentyTwentyTwo theme and Chrome browser.

[2021-11-11 14:34] Denis74F commented on #36403
Hi @jameskoster ,
I have read the various comments, and I must say that I am very confused as to which is the best solution.
What I hope is that they will be given the opportunity to modify them.

[2021-11-11 14:45] ndiego commented on #36407
100% agreed, there needs to be a way to remove the core palette and only display the palette provided by the theme. Perhaps something like the following in theme json.

[code]

Or maybe:

[code]

[2021-11-11 15:14] pbking opened #36409 "Changing Block Template Content Width value doesn't dirty save state"
### Description

When modifying the content width/height of a Block Template Block the 'SAVE' button is not enabled.

<img src="https://user-images.githubusercontent.com/146530/141321249-1d4cdbc9-c53a-40b7-b010-96fa544e959f.png" width="300">

Making further changes to the template (such as a text change, etc) enables the save button and the layout width/height values ARE saved to the template.

Or

[2021-11-11 15:37] jameskoster commented on #36403
The main point is that #35994  – once closed – will also resolve the problems outlined in this issue. So I'll close this one for now. If y'all have anything to add please contribute in #35994 :)

[2021-11-11 15:37] #36403 closed, assigned to nobody

[2021-11-11 15:51] kevin940726 commented on #35994
I don't think we have to build a traditional SPA from scratch. We can just start by implementing client side router, so that we don't have to reload the page over and over again when we're inside the site editor. It will also paves the way for future improvements, as I believe SPA is a much better architecture for the site editor.

[2021-11-11 15:57] kellychoffman commented on #32844
WOW! I love these @javierarce 😍

[2021-11-11 15:58] fullofcaffeine commented on #36380
I'll have a look today 👀

[2021-11-11 16:57] mkaz commented on #36401
Thanks @Mamaduka for starting, I'm pinging the current assignees to notes below. The assignment is based on the merged PR. As George said above, if you're unable to write your Dev Note, let us know and we can help.

Also, several items listed might be covered in a single Dev Note, we can discuss here how to combine. Personally, I'd like to see fewer Dev Notes with more details in each, when possib

[2021-11-11 17:43] fabiankaegy commented on #36407
I tried some other options that may not be as nice to use but would still function but somehow even filtering the `block_editor_settings_all` hook doesn't remove the Core palette. I'm not sure why it still shows but it must be coming in somewhere after the `block_editor_settings_all` hook is called.

[code]

[2021-11-11 17:55] fabiankaegy opened #36414 "Add CSS Custom Property for layout width to editor and frontend"
### Description

Pretty much all the options that we set in `theme.json` are available to theme & plugin authors via CSS Custom Properties. That is not the case for the layout width settings.

It would be really useful to be able to access the `contentWidth` and `wideWidth` values as custom properties.

[code]

Based on the other properties the naming scheme would probably be something like:

[cod

[2021-11-11 18:09] annezazu commented on #36407
@oandregal tagging you into this :) Thank you all for kicking this off and flagging this so clearly.

[2021-11-11 18:10] sehqlr commented on #36219
Hey y'all, I was wondering if there was anything that I can do, or more information that I could provide, to help in solving this issue. Thanks!

[2021-11-11 18:59] thune commented on #22269
I agree. This is missing and I have to use an external block to show posts with Read more. I like to use the blocks included in Wordpress. More futureproof :-)

[2021-11-11 19:16] chthonic-ds commented on #36414
See https://github.com/WordPress/gutenberg/pull/30081.

[2021-11-11 19:25] fabiankaegy commented on #36414
Thanks for raising that ticket :) Closing in favor of #30081.

[2021-11-11 19:25] #36414 closed, assigned to nobody

[2021-11-11 19:37] ZebulanStanphill commented on #36389
@Mamaduka Ah, it looks like it only happens in Firefox. I can't reproduce it in Chromium. (Tested with Twenty Twenty-One.) I'll update this issue title/description to reflect that.

[2021-11-11 19:46] jeyip opened #36417 "Full Site Editing: Cannot persist changes to certain block settings"
### Description

Updating certain block settings (typography, text color, link color, etc.) will allow us to save the first set of edits.

Subsequent changes to the same block settings _**will not**_ refresh the save / update button, and **_will not_** let us persist modifications.

### Step-by-step reproduction instructions

1. Enable the full site editor
2. Navigate to full site editor
3. Select

[2021-11-11 19:59] fabiankaegy commented on #36407
I'm curious why the `block_editor_settings_all ` filter no longer gets applied here: https://github.com/WordPress/gutenberg/blob/b49b215f7b5682f61b42058349095449e089d17a/lib/global-styles.php#L109

The `WP_Theme_JSON_Resolver_Gutenberg::get_merged_data` function combines the raw data from the `theme.json` so there is no way of filtering it anymore.
https://github.com/WordPress/gutenberg/blob/b49b2

[2021-11-11 20:13] zaguiini opened #36418 "Full Site Editing: Hovering block padding and margin inputs are registered as changes"
### Description

Putting the mouse cursor on top of some block attributes inputs (e.g. padding, margin) enables the "Save" button on the top right, even though nothing changed.

This behavior exists because of the cover block padding and margin visualizer, introduced on #23041.

Note that we do want to keep the visualizer showing up when hovering over the input. What we don't want is to enable the

[2021-11-11 20:40] ramonjd commented on #20801
Closing this issue as I think the tools required to achieve the desired effects are there. Feel free to reopen if this isn't the case. Thank you!

[2021-11-11 20:40] #20801 closed

[2021-11-11 21:42] mchowning commented on #31913
Thanks for responding @nicolad ! :bow:

The commits listed in the issue description are actually from a different email address: vadim.nicolai@moduscreate.com. Can you let me know if you are the author of those commits?

[2021-11-11 21:46] v9ai commented on #31913
I am the author of all Gutenberg commits from vadim.nicolai@moduscreate.com

[2021-11-11 21:52] pansamolot opened #36421 "It is impossible to go to the first line of a text block, if you are in the beginning of line"
### Description

When you press <kbd>Up</kbd> while your cursor is in the middle or end of each line, you can easily go to any previous line, including first one.

On contrary, when cursor is before the first letter (i.e. you press <kbd>Home</kbd> before <kbd>Up</kbd>) then going to the first line is **not possible**. Pressing <kbd>Up</kbd> while having cursor at the first character of second line

[2021-11-11 21:58] pansamolot opened #36422 "It is impossible to set PM time using only keyboard"
### Description

It is impossible to set post's time to any afternoon or evening time using just keyboard, because (an example -- an attempt of setting hour to 6 PM / 18:00):

* If you set hour field to `18` and press <kbd>Tab</kbd>, field's value will be reverted to previous one, because field does not accept values higher than 12
* If you set hour field to `6` and press <kbd>Tab</kbd>, field's v

[2021-11-11 22:06] smerriman opened #36423 "Parent page dropdown almost unusable due to broken scrollbars"
### Description

When the parent page dropdown is focused, a dropdown of pages appears, most of which is offscreen (including the actual down arrow of the dropdown itself). It is impossible to scroll to this offscreen area without the parent page disappearing.

As an aside, the horizontal scrollbar also makes for a very messy look and gets in the way here too.

### Step-by-step reproduction instru

[2021-11-12 00:20] DeoThemes commented on #36409
The same bug happens in the opacity control of a Cover block.

[2021-11-12 01:57] samiff opened #36426 "Docs: root relative readme links broken on npm"
### Description

In various READMEs in the repo I see the use of something like `[some link](/packages/scripts)`. When viewing the README from GitHub, such links resolve correctly with `/` acting as reference to the root of the repo.

However, when viewing a README on npmjs.com, such links aren't resolved correctly and 404.

### Step-by-step reproduction instructions

1. Looking at the Create Bloc

[2021-11-12 02:02] fullofcaffeine commented on #36380
@ockham Bisect points me to https://github.com/WordPress/gutenberg/pull/35802. You can verify by:

1. `git checkout 630db5dcabe65dac3cc13808547a520a6d40853c`
2. `npm ci && npm run build && npm run wp-env start .`
3. Open a new post and then the JS console, run this: `wp.data.select( 'core' ).getEntityRecords( 'postType', 'wp_template', { per_page: -1, } )`. Verify that the return value is `null`.

[2021-11-12 02:11] tellthemachines opened #36427 "Nested Submenu block not rendering submenu/overlay colours on the front end"
### Description

If a custom or theme submenu/overlay colour is set on the Navigation block, any Submenu block it contains won't inherit those styles on the front end, because the colour classnames and inline styles aren't rendered in the block. In the editor the colours appear correctly.

### Step-by-step reproduction instructions

1. In a Navigation block, set Submenu & overlay text and backgrou

[2021-11-12 02:18] bph commented on #35812
Created [Trac Ticket ](https://core.trac.wordpress.org/ticket/54427) for Twenty-Twenty-One Theme and close this issue here.

[2021-11-12 02:18] #35812 closed, assigned to nobody

[2021-11-12 03:49] tellthemachines opened #36429 "Responsive Navigation overlay not changing colours when Submenu & overlay colours are set"
### Description

When Submenu & overlay text and background colours are set in the Navigation block, the colours take effect on submenu navigation links, but not on the overlay. The only way to change overlay text and background colours is to set them for the whole Navigation.

### Step-by-step reproduction instructions

1. In a Navigation block, change Submenu & overlay text and background to non

[2021-11-12 06:12] Mamaduka commented on #36380
Thanks for the ping, @fullofcaffeine.

It's weird that #35802 affected pre-loading at all. PR only adds an extra argument to the REST API endpoint.

I'm looking at the issue right now and will post my findings shortly.

[2021-11-12 08:33] Mamaduka commented on #36380
I did more testings, and I don't think this is a regression. You'll get similar results if you try to fetch pages in Site Editor and this path is also preloaded - `wp.data.select( 'core' ).getEntityRecords( 'postType', 'page' )`.

## What has changed
Gutenberg 11.9 removed `NavigationPanel`, which was using the same selector, and any additional calls to `getEntityRecords( 'postType', 'wp_template'

[2021-11-12 08:39] jeyip opened #36433 "Isolated template part editor: Block appender behaves unexpectedly when resizing"
### Description

The inline block appender overflows, jumps, and does not dynamically update its size while resizing the isolated template part editor.

### Step-by-step reproduction instructions

1. Enable the site editor by activating a site editor enabled theme
2. Navigate to Appearance > Template Parts
3. Select any template part
4. Create at least two blocks, one above the other, and render t

[2021-11-12 08:56] amustaque97 commented on #36426
:wave: Howdy! I can work on this. I checked the documentation [here](https://docs.github.com/en/github/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax#relative-links).

NPM side I went through this [link](https://docs.npmjs.com/about-package-readme-files) but it doesn't have the required info.

We should try using relative path using `./`

[2021-11-12 09:20] fabiankaegy opened #36434 "Core Image block doesn't use align support property for Block Alignement"
### Description

The default mechanism for adding alignment supports for blocks these days is specifying it in the block supports like so:

[code]

This comes with the nice benefit of being able to override the supported align properties for any block using the `blocks.registerBlockType` hook.

The Core Image Block does not use this newer API jet, but instead still uses the `BlockAlignmentControl`

[2021-11-12 10:30] TobiasBg commented on #34395
This is now working in WP 5.9-nightly.
The CSS file https://github.com/WordPress/gutenberg/blob/trunk/packages/components/src/form-token-field/style.scss is being loaded now.

[2021-11-12 10:30] #34395 closed, assigned to nobody

[2021-11-12 10:33] Sandstromer opened #36435 "Request: define font-weight for bold/strong text"
## What problem does this address?

In the editor, text that is bolded is given a font-weight of 600.

However, with a theme that does not provide it's own CSS, on the front-end there is no font-weight defined for bolded text.
This sometimes results in a mis-match between the appearance in the editor vs the front-end.
The bolded text can appear either bolder or lighter than the editor depending on

[2021-11-12 11:48] jameskoster opened #36437 "Site Editor: Option to highlight padding and margin on hover"
Related to #34703.

When working with heavily nested blocks in the site editor, it can sometimes be useful to see visualisations of padding / margin values on the canvas – much like how they are displayed by browser dev tools.

On a couple of occasions I've wanted to remove padding around elements that are nested in two or even three groups, but it doesn't always feel clear which group has the pad

[2021-11-12 11:53] Hug0-Drelon opened #36438 "404 Error on a preloaded route when creating a new template part."
### Description

When adding a new template part in the admin screen, with the request `https://myblog.local/wp-admin/post-new.php?post_type=wp_template_part`, WordPress preloads data [here](https://github.com/WordPress/WordPress/blob/489b33c97a8942e43c92f3d4a5efe069fecccb32/wp-admin/edit-form-blocks.php#L55). Then there is a call to the route `/wp/v2/template-parts/\d+` with a digit as template p

[2021-11-12 11:58] jasmussen commented on #36429
CC: @georgeh @vcanales in case you have any insight into what might have regressed this.

[2021-11-12 12:02] jasmussen opened #36439 "Navigation/Submenu block: Explicit overlay colors do not affect the Submenu on the frontend"
### Description

Possibly related to #36429. When setting an explicit overlay color using the "Submenu & overlay background" property, it applies to submenus and submenu blocks in the editor only.

Any submenu on the frontend will not inherit the color:

<img width="895" alt="Screenshot 2021-11-12 at 12 59 28" src="https://user-images.githubusercontent.com/1204802/141464030-d3709c5c-0ede-488e-b037

[2021-11-12 12:05] javierarce commented on #32844
An updated version for "Edit your site" focusing more on template manipulation:

### Edit your site
<a href="https://user-images.githubusercontent.com/4933/141464273-44c783b8-2d20-4a9f-8f76-c0d55cb9dc9a.gif"><img src="https://user-images.githubusercontent.com/4933/141464273-44c783b8-2d20-4a9f-8f76-c0d55cb9dc9a.gif" width="320"></a>

And here are the previous ones (adjusted to account for the close

[2021-11-12 12:08] jasmussen opened #36440 "Navigation: Space-between justification doesn't work"
### Description

Setting a navigation block to space-between does not have an effect:
![space between](https://user-images.githubusercontent.com/1204802/141464582-9b478883-c85f-46f8-89cd-700ad81e7de8.gif)

It appears to be related to the width of one of the containers:

<img width="786" alt="Screenshot 2021-11-12 at 13 06 22" src="https://user-images.githubusercontent.com/1204802/141464644-9c4db47

[2021-11-12 12:18] MartaPaola opened #36442 "How can I get gutenberg back to work?"
Hi,
I created my website with all my pages in gutenberg. I have installed Elementor and then disabled it. Then I installed Storefront and created its child theme. Now that I want to edit a page I have the classic editor, but I want to have Gutenberg again. The plugin is already installed and active, but within the pages it is not visible.
How can I get gutenberg back to work?

thanks

[2021-11-12 12:30] oandregal commented on #36407
:wave: oh, thanks for bringing this up, we need to fix it for 5.9. Following Fabian's suggestion, I think we could do:

[code]

This is, we allow themes to opt-out from the core solids & gradients but themes can't override the core colors. As I see it, the value of core colors is to provide a cross-theme palette that doesn't change.

@fabiankaegy (or anyone else) would you be interested in taking

[2021-11-12 12:36] Ezyweb-uk opened #36443 "Gallery image link to custom url"
## What problem does this address?
There is no 'Custom URL' option in WP v5.8.2 Gutenbery Gallery Block 'link to' options, I wish to link an image on mouse click to and external website. I've tried the 'Gallery Custom Links' plugin but that didn't add the option on my installation which uses the BuddyBoss Theme.

## What is your proposed solution?
Please add the option to link to an external url.

[2021-11-12 12:38] fabiankaegy commented on #36407
@oandregal That sounds great (y) and yes I do also think that it should be a boolean value and that you shouldn't be able to override the values of the core palette. I only mentioned it since it was in Matiases original comment :)

As far as taking it my main goal for it is that it can make the 5.9 deadline and I am not 100% certain I have a full grasp of everything that is needed in order to get

[2021-11-12 12:45] kjellr opened #36444 "Search: Block should provide default styles"
The form field and button used in the search field currently appear entirely unstyled:

<img width="757" alt="136254955-23f2b43a-12f9-4654-a6fd-a0022c7754b0" src="https://user-images.githubusercontent.com/1202812/141468892-b3b16567-f3d4-4d78-89af-7d4c36327a20.png">

These styles are largely not customizable via Global Styles or `theme.json`, which means that every block theme is forced to provide

[2021-11-12 13:08] Addison-Stavlo opened #36445 "(Site) "Editor (beta)" loads with wp-admin navigation in the background."
There is a recent regression in the 11.9.0 releases that has caused the site editor to load with the wp-admin nav bar in the background instead of the blank editor canvas.

Current behavior with the regression:

![site-editor-wp-admin-background-loading](https://user-images.githubusercontent.com/28742426/141471073-d5d6928a-fe7e-4ffd-9b4c-edc8947d0223.gif)

Notice that when the editor starts loadin

[2021-11-12 13:09] kjellr commented on #36124
@jffng / @carolinan what do you think about that workaround above? If that is generally ok then we can use it for Twenty Twenty-Two. Otherwise I think we need to have this issue prioritized for 5.9.

[2021-11-12 13:17] fabiankaegy commented on #36407
I started a draft PR but I am not jet confident I know where exactly to place the setting. I've been looking at #36246 as an inspiration but I am having the fundamental issue that this needs to execute after the two JSON files are merged.

[2021-11-12 13:38] ciampo commented on #35464
A few more examples:

- the `ColorGradient` and `ColorPalette` headings added in #35970
- https://github.com/WordPress/gutenberg/pull/35783#discussion_r736744350

[2021-11-12 13:51] steveangstrom opened #36449 "Tear-off block controls panel"
## What problem does this address?
Currently the block panel and the page panel share the same real estate in the right column, any block interaction hides the page controls.  This issue causes confusion for my client users as the only indication of changed state is a 5px underline. Both tabs are white, whether selected or not.  Clients are used to the right column being persistent  "setting the p

[2021-11-12 14:12] Level3Manatee commented on #36365
I ran into exactly this. Emptying the anchor field results in a forced auto-fill with the default anchor name, so I had to insert a random string instead to un-break my site. Thankfully I don't have a lot of headlines in this specific project, because this has the potential to turn into a nightmare fast.

[2021-11-12 14:35] matiasbenedetto opened #36450 "Post title lacks margin bottom in Tablet and Mobile preview modes of the Post Editor view"
### Description

**Post title lacks margin-bottom on Tablet and Mobile preview modes of the Post Editor view.**
![image](https://user-images.githubusercontent.com/1310626/141483755-1bde5352-cadc-44b3-bd02-9a9cfb370464.png)

On the other hand, in the Desktop view of the editor, Gutenberg adds a margin-bottom with [this CSS line](https://github.com/WordPress/gutenberg/blob/7da0f6d2620b315c64c6d11b7c

[2021-11-12 14:49] jffng commented on #36124
It works, though it looks like `_gutenberg_inject_theme_attribute_in_content` was renamed to `_inject_theme_attribute_in_block_template_content` in case you want to test it out.

I don't like the idea of adding this to the theme, since the utility function comes from [this file](https://github.com/WordPress/gutenberg/blob/trunk/lib/compat/wordpress-5.9/block-template-utils.php) which states:

[2021-11-12 14:56] shadigaafar commented on #35994
you will also need a way, to remove all customization.

[2021-11-12 15:05] Mamaduka commented on #36124
You should use `_inject_theme_attribute_in_block_template_content` in theme. But I agree it’s private utility and third parties shouldn’t depend on it.

[2021-11-12 15:09] #32555 closed, assigned to georgeh, getdave

[2021-11-12 15:17] jameskoster commented on #35994
This is possible whilst editing the template:

<img width="308" alt="Screenshot 2021-11-12 at 15 16 24" src="https://user-images.githubusercontent.com/846565/141489938-26162b9a-a48f-477c-997e-3be5bddea0d6.png">

But I agree it would be a handy affordance here as well.

[2021-11-12 15:24] youknowriad commented on #36445
This has been solved in WordPress trunk already and we should bring the same fix to the Gutenberg repo. Basically we need the `is-fullscreen` class added to the body classes. See https://github.com/WordPress/wordpress-develop/pull/1842

That's also the same technique used in the post editor.

[2021-11-12 15:50] CHEWX opened #36451 "Add new block styling"
### Description

Why are the block divider plus styled differently to the end divider? Shouldn't they be the same regardless of theme?

Attached example of both. The correct one is the one between blocks, but the end one isn't good.

![Screenshot 2021-11-12 at 15 47 56](https://user-images.githubusercontent.com/5207147/141494864-10cfa3ff-a54d-4bf8-a685-088374c94b5b.jpg)
![Screenshot 2021-11-12 at

[2021-11-12 15:59] CHEWX opened #36452 "Gutenberg List View hides inner block plus"
### Description

If you're using inner blocks and the inner blocks plus is far left, when you have the nav open it hides it. You should be able to add blocks with the nav open all the while, it's shouldn't hide any content? Attached is open and closed, you can see how the plus is missing then open, so a user wouldn't know how to add an inner block, it's just empty.

![Screenshot 2021-11-12 at 15 5

[2021-11-12 16:00] CHEWX commented on #36452
This might be related to https://github.com/WordPress/gutenberg/issues/36451 as the NEW BLOCK UI, should really be centered with a line, not aligned left. This would probably fix the issue as it would be visible then. Although the point still stands that the nav should cover any blocks.

[2021-11-12 16:10] kjellr commented on #36124
Ok, thanks for weighing in. @noisysocks — what do you think about prioritizing this for 5.9? It's preventing block themes from using theme-supplied template parts in the template editor.

[2021-11-12 17:12] Flameeyes commented on #35086
@youknowriad you may want to tag this as Regression as well — this works perfectly fine on older Gutenberg.

[2021-11-12 17:26] oandregal commented on #36278
This would be great to have :)

Splitting to have a reference doc with all the settings/styles and another explanatory one sounds great.

Whether to have a single reference file per version (theme-json-v1, theme-json-v2, theme-json-next) or having a single one where we mark in which version a given setting/style was added, I don't have a strong opinion about.

[2021-11-12 17:51] samiff commented on #36426
I wonder if this was working previously on npmjs.com and something has changed over there?

In the GitHub documentation I wasn't able to find mention of using `/` to reference the root of a repo. Maybe that is a widespread practice, but personally I would expect more explicit file navigation like `../` or `./` which I think would be more failsafe.

[2021-11-12 19:25] annezazu commented on #36383
@jcoonrod thanks for opening this issue! The Gallery Block has been refactored ahead of the 5.9 release and is available now using Gutenberg 11.9. I tried testing with this version and found the move items are still there, even after adding 8 columns:

<img width="796" alt="Screen Shot 2021-11-12 at 2 25 15 PM" src="https://user-images.githubusercontent.com/26996883/141523556-2426d027-4b45-48f6-a8

[2021-11-12 19:25] #36383 closed, assigned to nobody

[2021-11-12 19:40] annezazu commented on #36395
I think @Mamaduka is right :) Going to close this out for now. Feel free to re-open.

[2021-11-12 19:40] #36395 closed, assigned to nobody

[2021-11-12 19:43] annezazu commented on #36396
@markhowellsmead  can you confirm what theme you are using?

[2021-11-12 19:48] ndiego commented on #35994
I am late to the party here, but I am confused how I edit a template now in 11.9. If I do a fresh install of WordPress, Gutenberg 11.9 and TT2, how would I, for example, go about editing the 404 page template supplied by the theme? Because the template file has not yet been edited by me, it does not display in Appearance > Templates.

[2021-11-12 19:51] annezazu commented on #36402
This seems to be an issue with the Tove theme specifically as I just tested with both TT1 block and Tove:

TT1 Blocks:

https://user-images.githubusercontent.com/26996883/141526194-f294b447-99ce-4b1e-9b3d-471e4f0b8dfd.mov

Tove:

https://user-images.githubusercontent.com/26996883/141526229-e94ddd53-446a-458f-8e9c-2681ff6327d1.mov

I tried testing once more with Tove where there was more space for

[2021-11-12 19:51] #36402 closed, assigned to nobody

[2021-11-12 19:51] markhowellsmead commented on #36396
My own theme.

[2021-11-12 19:55] annezazu commented on #36443
Good news! In Gutenberg 11.9, a new gallery block refactor was released that allows you to link your image to an external website. You can read more about this change here and stay tuned for the 5.9 release where this is planned for inclusion: https://wordpress.org/news/2021/09/upcoming-gallery-block-improvements/

[2021-11-12 19:55] #36443 closed, assigned to nobody

[2021-11-12 19:55] annezazu commented on #30515
Another example of this behavior: https://github.com/WordPress/gutenberg/issues/36409

[2021-11-12 19:57] annezazu commented on #36409
@pbking would you be okay closing this out in favor of this overall issue? https://github.com/WordPress/gutenberg/issues/30515 I don't feel strongly either way but do want to consolidate where we can.

[2021-11-12 20:04] annezazu commented on #36349
This feels like the same bug as previously reported here: https://github.com/WordPress/gutenberg/issues/34729

Going to close this out as a result but let me know if this issue doesn't match what you've found!

[2021-11-12 20:04] #36349 closed, assigned to nobody

[2021-11-12 20:06] annezazu commented on #36120
I just tried to test this with Gutenberg 11.9, WordPress 5.8.2 and couldn't replicate. I'm going to close this out as a result for now!

https://user-images.githubusercontent.com/26996883/141528140-11e303f9-e46e-45d9-938c-727b3e371b31.mov

[2021-11-12 20:06] #36120 closed, assigned to nobody

[2021-11-12 20:07] annezazu commented on #36396
Got it! Do you have a theme.json file? Just want to get explicit to follow up on what Carolina said above :)

[2021-11-12 20:11] markhowellsmead commented on #36396
I do, yes. I’d hoped that I could continue to use theme.json without FSE, as I have done for projects built with 5.8, but this seems to be impossible. A shame.

[2021-11-12 21:23] ellenbauer commented on #35994
Hi there, I'm a bit confused right now as well. I always thought it's super helpful FSE feature for users to have a nice overview of all the available templates a theme or plugin provides. Will this be added again once FSE is further along?

[2021-11-12 21:25] ellenbauer commented on #35994
@ndiego From what I've gathered the overview list of all templates is gone right now, but users are still able to edit a template when they chose it for a page (Page Sidebar settings/Template: Choose your template has the option 'Edit').

[2021-11-12 21:37] TheRadicalDreamer commented on #33610
still crashes gutenberg and i cannot make my pages!

[2021-11-12 21:51] TheRadicalDreamer opened #36457 "Don't move the window while dragging a block"
## What problem does this address?

When taking and dragging a block around. At the moment i take the 6-dot mark, the window begins to scroll up or down depending on which half of the screen i am.
This is not only annoying on certain situations, but makes moving almost impossible on certain others.
For example, when i am trying to target a certain point in between blocks.

## What is your proposed

[2021-11-12 23:03] annezazu commented on #36161
I can replicate this with the stack on mobile option on using Gutenberg 11.9 with WordPress 5.8.2. As far as I know, this is by design to accommodate different screen sizes:

https://user-images.githubusercontent.com/26996883/141589585-7f4c8d1f-ea73-457f-8c96-d9db065ff846.mov

I'm not quite sure if this is an issue as a result rather than intended. I'm going to close this out as a result :)

[2021-11-12 23:03] #36161 closed, assigned to nobody

[2021-11-12 23:08] annezazu commented on #36422
Thanks for opening this issue! I tried to replicate with the same setup (WordPress 5.8.2 + GB 11.9) and found I was able to set the time to PM. I did notice it shifted to AM when I changed it to 6 but that I was still able to change the AM/PM to PM:

https://user-images.githubusercontent.com/26996883/141593663-a203dde4-9118-4af0-b1cf-e1e793fb51c5.mov

I'm going to close this out as a result but le

[2021-11-12 23:08] #36422 closed, assigned to nobody

[2021-11-12 23:20] simison opened #36458 "Image block: uploading an image replacement flashes old image before replacement"
### Description

When uploading an image file over image block that already has image, the old image flashes for a moment after uploading has finished:

https://user-images.githubusercontent.com/87168/141594383-23bc31c9-3beb-4bd3-b647-91cb5cb13e47.mov

### Step-by-step reproduction instructions

1. Add image block
2. Upload image
3. Drag and drop another image into the block
4. After loading, the

[2021-11-13 00:39] carlomanf commented on #36354
It appears you can say that again, because I notice that the Post Content block is not editable. I know it was editable in a previous version, so maybe this feature was removed, or maybe it's a problem on my end?

[2021-11-13 04:55] carolinan commented on #35994
That list only includes the page templates not 404, search, archive etc.

[2021-11-13 06:46] jamiemarsland commented on #35994
Hi, confused here also. The only template it looks like I can edit is the index. All others have gone (unless I edit from the page, or post - which seems an odd place to locate?

![template editing](https://user-images.githubusercontent.com/3070779/141609101-fc5eb6dc-e4ee-447f-a096-eb60e4af9f6d.jpeg)
)

[2021-11-13 08:00] Denis74F commented on #35994
Hi,
I completely agree. The only procedure I found to modify a page template was this:
I create a new contact page with a "contact" template
I set this page as my homepage
now I can edit it from the full site editor
It is too complex a procedure, also considering that if I have particular templates for posts, what can I do?

In my opinion the templates should appear in a list when the customer pub

[2021-11-13 08:06] Denis74F opened #36459 "The Color Palette are no longer in the editor"
### Description

With the addition of Gutenberg 11.9.0 the color palettes are gone in the full site editor, did I miss something?

### Step-by-step reproduction instructions

Edit site
Colors

### Screenshots, screen recording, code snippet

_No response_

### Environment info

_No response_

### Please confirm that you have searched existing issues in the repo.

No

### Please confirm that you ha

[2021-11-13 08:50] carolinan commented on #36459
Hi
I am not able to reproduce this. The panel is collapsed by default though.
Did you try with a different theme?

[2021-11-13 08:58] Denis74F commented on #36459
Hi,
I have tried with all the available themes, and they all don't show palette

<img width="1759" alt="Schermata 2021-11-13 alle 09 56 21" src="https://user-images.githubusercontent.com/60289158/141612764-843ac5e3-e5db-4df7-8b78-51d535c2dac8.png">
es

[2021-11-13 09:09] SeanDS commented on #34738
Thanks for looking into this. It seems like the fix is going to be non-negligible work, so can the developers consider rolling back this broken feature in the next release until it's fixed? The feature was dead on arrival. There must be thousands of regular users e.g. on WordPress.com running into this problem...

[2021-11-13 09:59] pento commented on #34738
Thanks for checking in, @SeanDS! I forgot to update this issue, here's the current status:

- The fix has landed in WordPress Core, it'll be included in the WordPress 5.9 release. WordPress 5.9 beta 1 is due out next week, if you're comfortable running a beta release on your site.
- Separately, the fix is currently being tested on WordPress.com, Automattic/wp-calypso#52728 will be updated when it

[2021-11-13 09:59] #34738 closed, assigned to nobody

[2021-11-13 10:07] SeanDS commented on #34738
Ah excellent, I agree no rollback needed! Thanks for the (comparatively - given WP release cycles) quick fix - much appreciated, also for the original work on PDF embeds!

[2021-11-13 10:41] ndiego commented on #35994
I presume this change was made because complete FSE is not coming to 5.9. And I understand why 5.9 should not have it. That said, I propose this change (the Site Editor sidebar being removed) be reverted in Gutenberg specifically asap for all the developers currently working on FSE. Once a suitable replacement is built, then it can be removed/updated as originally planned. The current setup makes

[2021-11-13 11:16] Sandstromer opened #36462 "Request: Social Icons: icon color, use variable instead of hex code"
## What problem does this address?

Currently when adding a Social Icons block and changing either the icon color or icon background color, the selected color is added using the color's hex code, rather than the global color variable.
## What is your proposed solution?

Use the global color variable instead of the hex code.

This would be hugely benefical for child themes, or when editing a global

[2021-11-13 11:16] jamiemarsland commented on #35994
I agree with Nick

[2021-11-13 11:41] Sandstromer commented on #36462
This is how the block markup currently looks:

[code]

The variable names `iconColor` & `iconBackgroundColor` are already present, so is there any reason why the corresponding `iconColorValue` & `iconBackgroundColorValue` are also needed?

Testing this in a theme template seems to work using the encoded variable in place of the hex code:

[code]

But this doesn't help with user added Social Icons

[2021-11-13 13:32] pansamolot commented on #36422
You are correct that additional 2 x <kbd>Tab</kbd> (to go to `AM` and then to `PM`) and then additional <kbd>Enter</kbd> (to confirm `PM`) does allow to set time to PM without touching the mouse. Thanks for this tip. I was always hitting <kbd>Esc</kbd> after setting hour and minute and thus my time remained at `AM`.

From this perspective you're right that we should keep this ticket closed.

Howev

[2021-11-13 14:53] lwangdu commented on #36459
I think you have to click on the background. You can see the color palette.

[2021-11-13 14:58] Denis74F commented on #36459
Unfortunately, even clicking on the background the palettes are not displayed. There is only the possibility of creating new palettes, but the default theme palettes are not displayed.

[2021-11-13 15:01] Denis74F commented on #36459
Here is an example

https://user-images.githubusercontent.com/60289158/141648559-d58a1f18-966a-4d4a-9c59-6a8708427c89.mov

[2021-11-13 15:41] jacobcassidy opened #36464 "Navigation Block: Submenu additional class duplication"
### Description

When adding a class to a submenu block under "Advanced", it gets duplicated in the HTML twice. If you add multiple classes, they all get duplicated twice.

### Step-by-step reproduction instructions

1. In the Editor, add a submenu block
2. Add a class for the submenu block in `Advanced > Additional CSS class(es)`
3. Save your page
4. Go to the live page and inspect the submenu bl

[2021-11-13 15:48] bethalessi opened #36465 "Allow ability to give innerblocks alignment control when using theme.json"
## What problem does this address?
If I use theme.json I lose the ability to give innerblocks alignment control.

I have a simple "section" custom block: it's fullwidth and has set vertical padding and a background color. That's it. It allows my client to choose the "section" block, choose a background color, and add innerblocks. This way they can group content together with a pre-styled look with

[2021-11-13 15:49] AdamBebko commented on #8322
Yes the missing "Add Media" button is not ideal. I just spent 20 minutes searching before I landed here and found out about the file block, which we need to add, then copy link, then delete, then add a normal link and paste. Not an ideal workflow compared to how easy it was in the classic mode.

[2021-11-13 16:37] erwanvivien opened #36466 "[block-library] SASS error"
### Description

The error is in CSS file located in `node_modules\@wordpress\block-library\src\cover\editor.scss`

SassError: "Error: Specified z-index `.wp-block-cover.is-placeholder .components-placeholder.is-large` does not exist in the mapping"

### Step-by-step reproduction instructions

Using this imports in my React component
[code]

Here is my react component:

[code]

### Screenshots, sc

[2021-11-13 17:06] Sandstromer opened #36467 "Unable to use template-part in a Pattern block"
### Description

~~When using a template-part block within a pattern, the template part renders empty on the front-end.~~

When using a template-part block within page/post content, the template part is rendered empty on the front-end.

### Step-by-step reproduction instructions

~~Create a registered pattern that contains a template part, e.g.:~~

~~register_block_pattern(~~

~~Use the pattern in

[2021-11-13 17:14] Sandstromer commented on #36467
Please ignore the part about putting a template-part within a pattern.

I have since realised this is not applicable, as it seems adding a template-part within a page/post content also renders empty content on the front-end, so it has nothing to do with the pattern block.

It looks to be an issue solely with the template part block when using it outside of a template, i.e. in a page or post.

[2021-11-13 17:37] Sandstromer commented on #36467
Okay, so what I was trying to do was create a page template with the site header inside a cover block.

This is possible when using the absolute path to the cover image in the header template, but I was attempting to make use of the new pattern block as with this we can include `get_template_directory_uri()` to get the image directory path.

Sadly, when using the pattern block this looks like it i

[2021-11-13 19:17] annezazu commented on #36422
Looks like this is already covered and others agree with you in this issue: https://github.com/WordPress/gutenberg/issues/29720

Thanks for following up :)

[2021-11-13 22:17] paulwilde opened #36469 "core/navigation no longer available on the Widgets screen"
### Description

Updating the plugin to 11.9.0 seems to have broken `core/navigation` on the Widgets screen. Previously it was an available block, but now it's no longer possible to be selected.

### Step-by-step reproduction instructions

1. Try to add a `core/navigation` block into the Widget screen
2. You will not see it is unavailable to add
3. If you had an existing block it now says `Your si

[2021-11-13 22:42] ellenbauer commented on #36459
I think it also seems that the theme's color palette can not be accessed in one overview list as before. Or am I missing something here?

Is there a new way theme authors can add colors to the Background/Test/Links list, so that general theme colors we want to make available to be changed can be changed right there?

[2021-11-13 22:48] ellenbauer commented on #36407
I'm a bit late here but I just want to thank you @fabiankaegy to take the initiative here since having the core color palettes everywhere in the editor is just a super confusion user experience and not needed at all. So I'm very very happy if we can get this updated asap.

[2021-11-13 22:49] stokesman commented on #18711
I looks like this should be closed since #27834.

[2021-11-13 22:49] #18711 closed

[2021-11-13 22:59] paaljoachim opened #36470 "Preferences: Adding a toggle to hide Patterns."
## What problem does this address?

Clients might insert patterns the web site designer/developer do not want the client to insert.

![Screenshot 2021-11-13 at 23 56 41](https://user-images.githubusercontent.com/5323259/141661401-61e979d0-32f5-468f-a012-da84f96cbd7a.jpg)

## What is your proposed solution?

For a web site designer/developer to have more control over a web site they might want to h

[2021-11-13 23:02] ellenbauer commented on #35955
I second that, I already had a few of our block theme users ask where they can change the theme's default width. This would be a very helpful addition to Global Styles.

Plus somehow Gutenberg 11.9.0 doesn't give access to general Layout settings. Is this intended?

[2021-11-13 23:08] ellenbauer commented on #36082
I think it's true that it would be helpful to have multiple width options per page template like @jameskoster suggested.

But as long as theme authors define a default layout width for content and wide blocks shouldn't it be possible for users to change these settings as well? I did have users ask about this.

For changing page template width: How would this work for users to change them in a sing

[2021-11-13 23:46] lwangdu commented on #36459
I am using twenty twenty-two theme. The theme colors are available. See the screen short
![Screen Shot 2021-11-13 at 3 39 26 PM](https://user-images.githubusercontent.com/24829573/141662200-7fda0490-ce45-40b1-b5d3-a5fb9a40f380.png)

[2021-11-14 00:40] Denis74F commented on #36459
Hi @lwangdu,
the problem that I have exposed is different from what you want to show.
I'll explain well:
With Gutenberg **11.8.3** you had the possibility to change the colors of the palette of the theme used, in this way the customer had the possibility to completely customize the site in all shades of colors. For example, if you set an element with color "color:var(--wp--preset--color--bubiblock

[2021-11-14 03:32] carolinan commented on #36459
I got you now, I did not understand from the original description that you meant the global styles. I thought you meant block color settings.

[2021-11-14 04:37] DeoThemes commented on #36402
Apparently, it works **only** with TT1 Blocks now, all other themes are broken.

[2021-11-14 05:09] annezazu commented on #36402
@tellthemachines In digging through the changelog for 11.9, it seems the likely cause is adding in flex layout: https://github.com/WordPress/gutenberg/pull/36169 Would this change require updates on the theme side? Would love your thoughts here!

[2021-11-14 08:08] steakpinball opened #36471 "Dependency Extraction Webpack Plugin fails on Node v17"
### Description

Running `wp-scripts build` to build a block results in this error:
[code]

The culprit is trying to use md4 hash: https://github.com/WordPress/gutenberg/blob/c695c3bf03b60442a3cc52ee80b927acabc0244d/packages/dependency-extraction-webpack-plugin/lib/index.js#L200

Node v17 upgrades OpenSSL to 3.0, which moved md4 hash to the legacy provider. i.e. md4 is disabled by default.

webpac

[2021-11-14 10:50] optimizewp commented on #32861
This issue is still actual, tested with both WP `5.8.2` and `5.9-alpha-52142`, and with Gutenberg `11.9.0` while testing for [FSE Program Testing Call #11: Site Editing Safari](https://make.wordpress.org/test/2021/11/08/fse-program-testing-call-11-site-editing-safari/#comment-2219).

No Template slug can be edited, existent or not, in reply to @carlomanf, and neither if associated with the theme i

[2021-11-14 10:54] tinjure20 commented on #35994
_Suggestion from DYI WordPress User_

To mitigate concerns that users messing up with FSE template editing features, these theming tools could be linked to the user's role.

Yet, a new **Theme Author** user  category (equivalent of admin) could be created and assign FSE theme authoring tools to theme authors only; auto disable them through `config.php` file.

[2021-11-14 12:30] mrseanryan commented on #9220
In case this helps, I got around this by:

1 - disabled a feature in JetPack plugin that was trying to block hacks
2 - cleared out cookies. close tabs. login again on a new tab

I had to repeat step 2 a couple of times....

[2021-11-14 14:13] vladoa commented on #7247
How can I access the attributes of a block within InnerBlocks? Let's say <InnerBlocks /> contains a `core/gallery` block inside which I want to render on my own. How can I get the gallery ID or the Image IDs in the server-side render.php?

[2021-11-14 16:56] ajlende commented on #35902
With https://github.com/SchemaStore/schemastore/pull/1930 merged, the SchemaStore file should reference this one. So we don't have to worry about opening a PR for both of them anymore, and I think this can be marked as complete 🙂

[2021-11-14 16:56] #35902 closed, assigned to nobody

[2021-11-14 19:09] annezazu opened #36473 "Add nudge to include name for Custom Color Palette"
## What problem does this address?

This is pulled from the [eleventh call for testing for the FSE Outreach Program](https://make.wordpress.org/test/2021/11/08/fse-program-testing-call-11-site-editing-safari/#comment-2217):

& another person:

https://user-images.githubusercontent.com/26996883/141694781-83192cfb-0e89-4e4f-8268-6bb19af6f5fe.mp4

## What is your proposed solution?

Rather than reset

[2021-11-14 20:04] skorasaurus commented on #36470
is this resolved by https://github.com/WordPress/gutenberg/pull/36108 ?

[2021-11-14 20:31] annezazu commented on #36082
This came up as part of the [eleventh call for testing for the FSE Outreach Program](https://make.wordpress.org/test/2021/11/08/fse-program-testing-call-11-site-editing-safari/#comment-2217) as a point of confusion:

Essentially, she was trying to set the overall width of all blocks within the template but couldn't find a place to do so. Here's a video showing the understandable confusion:

https:

[2021-11-14 21:00] getdave commented on #35618
This has now been fixed in https://github.com/WordPress/gutenberg/pull/34742

[2021-11-14 21:00] #35618 closed, assigned to nobody

[2021-11-14 21:03] getdave commented on #26351
@jasmussen Do you think we can safely close this one out? I seems we can but I would appreciate a second opinion.

[2021-11-14 21:10] smerriman opened #36474 "Copy and paste that includes a nested block duplicates first block"
### Description

Copying and pasting blocks regularly result in the first block duplicated. It appears as if this happens any time the copied block contains nested ones (at least, it occurs with default Buttons, as well as similar custom blocks I've written myself).

### Step-by-step reproduction instructions

In a fresh installation of WordPress 5.8.2, create a new page and paste the below conten

[2021-11-14 21:21] getdave commented on #24753
I think this has been fixed by https://github.com/WordPress/gutenberg/pull/35946 which stops the link from appearing if the current selection extends beyond the boundary of the link format.

[2021-11-14 21:21] #24753 closed

[2021-11-14 22:03] getdave commented on #20271
This got cleaned up as part of general code maintenance

[2021-11-14 22:03] #20271 closed

[2021-11-14 22:14] skorasaurus commented on #36465
Hi, unfortunately I think https://github.com/WordPress/gutenberg/issues/33374 may be very similar to what you're experiencing?

[2021-11-15 00:45] bluefuton opened #36475 "Gallery block: captions entered during upload process are lost"
### Description

When using the gallery block, if you enter an image caption while the image is still uploading, the caption is lost.

### Step-by-step reproduction instructions

1. Create a new gallery block
2. Select several larger images to upload to the block (my demo images are 8Mb each)
3. Before the first image has finished uploading, edit the caption for it
4. Wait for the image to finish

[2021-11-15 01:57] #36188 closed, assigned to ramonjd

[2021-11-15 02:53] tellthemachines commented on #36439
This is a duplicate of #36427, isn't it? I'm looking into it.

[2021-11-15 03:15] #23767 closed

[2021-11-15 03:24] #36187 closed, assigned to oandregal

[2021-11-15 03:36] carolinan commented on #36467
Does it not work if you place the pattern in the template part?

[2021-11-15 03:48] talldan commented on #36373
Lets move the conversation over here.

I think it's fine to let users change the public facing names of a navigation area (e.g. from 'Primary' to 'Header'). But we should do our best to promote keeping the 'keys' (`primary`, `secondary`, `tertiary`) that are used internally by WordPress the as non-modifiable. This is what theme switching depends on.

Perhaps something like this would make it clear

[2021-11-15 04:50] tellthemachines commented on #36402
I can't reproduce it when adding a new menu, but it's a known issue for existing menus, and there's a fix waiting for review in #36432.

[2021-11-15 05:58] talldan commented on #36466
@erwanvivien It is in the z-index file as of around 1 month ago.:
https://github.com/WordPress/gutenberg/blob/ce3373a7bdc92fa702ad4cd9b0065c22f8ef0c51/packages/base-styles/_z-index.scss#L40

You probably need to make sure your `base-styles` node module is up to date. `4.0.3` is the present version.

[2021-11-15 05:58] #36466 closed, assigned to nobody

[2021-11-15 05:59] talldan commented on #36467
Should the issue be renamed?

[2021-11-15 06:05] talldan commented on #36442
Hi @MartaPaola.

It'd be great if you could reach out about this on the WordPress support forums.
https://wordpress.org/support/forums/

This Github repository is for reporting bugs.

Your issue doesn't seem like a bug, but some combination of steps you've taken or plugins you've installed have resulted in the block editor becoming disabled.

[2021-11-15 06:05] #36442 closed, assigned to nobody

[2021-11-15 06:10] talldan commented on #36464
Looks like this should be a pretty simple fix. It has already been fixed in the navigation link block in https://github.com/WordPress/gutenberg/pull/35634 by deleting some code.

It should be possible to do the same in the submenu block.

[2021-11-15 06:51] gziolo commented on #35902
@ajlende, thank you so much 🎉

[2021-11-15 07:09] shimon246 commented on #35912
@aristath
Thanks for the fix.
I can confirm that WP 5.8.2 doesn't raise an Error!
But I think there is one problem.

I think this code only loads the css specified in style_handle when the core heading block is used.

https://github.com/WordPress/gutenberg/issues/35912#issuecomment-951888725
However, the script is loaded even when I'm not using the heading block.

Is this normal behavior?

[2021-11-15 07:21] github-actions[bot] opened #36480 "[Flaky Test] Save flow should work as expected"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
Save flow should work as expected

## Test path
`/test/e2e/specs/editor/various/multi-entity-saving.spec.js`

## Errors

<time datetime="2021-11-15T07:21:10.870Z"><code>[2021-11-15T07:21:10.870Z]</code></time> Test passed after 1 failed attempt on <a href="https://github.com

[2021-11-15 08:05] jasmussen commented on #26351
A vast amount of stuff has happened to the Link UI since this ticket:
![link ui](https://user-images.githubusercontent.com/1204802/141740479-bf2cd72e-91bb-4e85-b4a0-c92581bd9b31.gif)

Enough that in most cases it makes most sense to close out this ticket, and if need be, open new specific ones. In the case of this issue, one remaining task is the "Create new" item mentioned here:

That still appea

[2021-11-15 08:07] jasmussen commented on #36439
My apologies, I really did search first 🙈

Closing in favor of #36427.

[2021-11-15 08:07] #36439 closed, assigned to nobody

[2021-11-15 08:30] burnuser opened #36481 "Responsive Design needs no-break space as button!"
## What problem does this address?

In Responsive Design you can not control the line breaks in all text-containing blocks like Paragraph, List, Quote and so on. That's a big problem with possible breaks within (product-) names and similar use cases, where the meaning can be broken too!
So, sometimes you must be able to tell the system to make NOT a line break between two (or more) selected words.

[2021-11-15 09:42] agatheschmidkoenig opened #36482 "Click to ->Editor (Beta) or ->Styles nothing happens"
### Description

I've installed the similar Theme and Gutenberg at two different hosting platforms. On one platform the **editor** and the **styles** don't work at all - allthough the website-conditions seems to be pefect, see below.

[my first issue, forbearance please]

### Step-by-step reproduction instructions

Got to Dashboard
Click to Design
Click to Editor (Beta) / Click to Styles

### Scre

[2021-11-15 09:57] Sandstromer commented on #36467
Yes, pattern in a template part does work.

What I was trying to do was a template part in a pattern.

[2021-11-15 10:05] Sandstromer commented on #36467
Sorry for the confusion.

I renamed the issue a couple of times, and got myself confused thinking about whether it was an issue with patterns, template parts in patterns, template parts in page content, or template parts in patterns in templates. Got myself completely tied in knots.

I think I should be only using the inner blocks (Logo, Navigation etc) in a pattern and not using the already defin

[2021-11-15 10:06] #36467 closed, assigned to nobody

[2021-11-15 10:25] Sandstromer commented on #36459
I am also seeing this bug.

Under the 'PALETTE' heading it always says "0 colors" regardless of the theme and how many colors are actually defined by the theme, and then opening up the color palette it is completely empty.

[2021-11-15 10:42] jorgefilipecosta commented on #35955
So the issue here is on the block inspector of the normal post editor we should show the values that were set on theme.json?

I guess if so it is a matter of merging https://github.com/WordPress/gutenberg/pull/34178 that does not for line-height and expand to other styles.

[2021-11-15 10:44] Denis74F commented on #36459
Yes in my opinion it is inherent to the same bug.
If you add a color to the "PALETTE" it starts numbering them.

<img width="729" alt="Schermata 2021-11-15 alle 11 42 14" src="https://user-images.githubusercontent.com/60289158/141768118-aecd5cd8-999d-4949-a3fb-ad50717a2611.png">
.

[2021-11-15 10:50] samulimartikainen opened #36485 ""_edit_last" meta value doesn't appear to be saved at all with Gutenberg"
### Description

Saving in Gutenberg block editor does not seem to set the "_edit_last" to post meta values.
Tried using classic editor and "_edit_last" was set correctly, so is the problem REST API related?

Issue noticed when tried to show (in front end) the name of the user who made last revision but `get_the_modified_author()` function returns NULL. Also `get_post_meta($post_id)` function show

[2021-11-15 11:03] jameskoster commented on #36354
I think it depends. Post Content in a query can't be edited, but Post Content in a page can be.

[2021-11-15 11:09] jameskoster commented on #35994
There are details of how it will be added again in the OP :)

You can still access the Site Editor via Appearance > Editor.

[2021-11-15 11:20] adekbadek opened #36486 "useSelect - component not re-rendered on state change"
### Description

This is about pure usage of `@wordpress/data`, unrelated to the WP editor.

When a component uses `useSelect`, component does not re-render after state is updated. I've tried also with `withSelect`, but no dice.

### Step-by-step reproduction instructions

1. Open this codesandbox: https://codesandbox.io/s/great-ganguly-buy4b
2. Observe a random list of 10 emails loading
3. Click

[2021-11-15 11:21] javierarce commented on #36377
Another problem I've noticed is that the message disappears if the embed is left or right-aligned.

<img width="343" alt="Screenshot 2021-11-15 at 12 19 14" src="https://user-images.githubusercontent.com/4933/141773238-ce751653-7cec-45cd-824d-724c1155bc0a.png">

[2021-11-15 11:28] Denis74F commented on #35994
Yes, but you cannot edit the templates.

[2021-11-15 11:29] Aljullu commented on #14446
WooCommerce has a system to render React-based (or JS-based) blocks in the frontend. There is an explanation of how it works in this post: '_[How does WooCommerce Blocks render interactive blocks in the frontend?](https://developer.woocommerce.com/2021/11/15/how-does-woocommerce-blocks-render-interactive-blocks-in-the-frontend/)_'.

I'm sharing it here in case it's helpful for other projects until

[2021-11-15 11:33] jameskoster commented on #35994
Right. That is why we're updating Appearance > Templates to list all templates, as outlined in the OP.

[2021-11-15 11:35] shadigaafar commented on #35994
I agree, asap.

[2021-11-15 11:38] shadigaafar commented on #35994
it should not be removed  from first. you don't remove something very important unless the replacement is ready.

[2021-11-15 12:11] anton-vlasenko commented on #36373
Sorry for the delay.
I will take a look at it.

[2021-11-15 12:17] javierarce commented on #36377
The way we inform about problems [in the Gallery block](https://github.com/WordPress/gutenberg/issues/34901#issuecomment-921681443) is through error notices, so one possible solution could be to add one on top of the placeholder.

![image](https://user-images.githubusercontent.com/4933/141780568-b4ca54bf-2cd4-4038-b9d0-9e1a746e6f26.png)

[Figma link](https://www.figma.com/file/oTPqvedUxXEknR2jzmLN

[2021-11-15 12:30] pdewouters opened #36487 "Inaccurate PHP notice in WP_Block_Type_Registry::register when $name is a path"
### Description

When I use `register_block_type( __DIR__, ...)` to register a block, a PHP notice is thrown `PHP Notice:  WP_Block_Type_Registry::register was called <strong>incorrectly</strong>. Block type names must not contain uppercase characters.` if the path calculated by `__DIR__` contains uppercase letters. This doesn't seem right. A potential fix would be to make the check smarter ( dete

[2021-11-15 12:55] kjellr commented on #35955
Not quite — we don't show layout settings at all in Global Styles right now, but I think we should do so.

Today|Suggested
---|---
<img width="280" alt="138877953-20f1eb88-bb44-42fb-9ec0-1f5eb476aca9" src="https://user-images.githubusercontent.com/1202812/141785521-2b8c87cb-fd77-42fd-a0de-f15b0e345d7f.png">|<img width="280" alt="Frame 4" src="https://user-images.githubusercontent.com/1202812/14178

[2021-11-15 12:55] steveangstrom commented on #36407
I consider this to be a very serious show stopping bug.
I do not want my clients to see the "core" palette in any case.

Its important that the removal of core palettes is available from the PHP action too. Please don't assume that everyone is jumping into the json theming method on established sites

[2021-11-15 12:59] #36445 closed, assigned to Addison-Stavlo

[2021-11-15 13:04] paulwilde commented on #36407
Does this change happen to also remove all the inline styles that automatically get output on every page of the frontend? Might be something to consider if it doesn't disabled those as they just add to the pagesize with no way to disable them (from what I could find).

<img width="819" alt="Screenshot 2021-11-15 at 1 03 43 pm" src="https://user-images.githubusercontent.com/704594/141786721-8da9fde

[2021-11-15 13:12] steveangstrom opened #36489 "Core palette can no longer be overridden from PHP"
### Description

Setting brand colours no longer works in gutenberg it's working fine in WP 5.8.2  it is not working in Gutenberg Version 11.9.0

Core colours can no longer be removed.

Removing "core" colours is VITAL for branded corporate sites.

PHP support is VITAL for established sites and those being developed away from your bleeding edge

### Step-by-step reproduction instructions

METHOD

[2021-11-15 13:22] steveangstrom commented on #36489
The issue is not present in Version 11.8.3

Rolling back to Version 11.8.3 on problem websites temporarily masks the issue and hides "core" palettes until a more acceptable resolution is found.

[2021-11-15 13:44] bethalessi commented on #36465
@skorasaurus Ahh, it does indeed. Thank you. _But_ also doesn't solve the problem. My question then:

Does this mean I can't make a custom block that allows innerblocks to have alignment controls (if I use theme.json)? I see the group block allows it, but you have to toggle. I don't want my client to have to toggle.

I'm making themes for clients, not themes to be released to the world where all u

[2021-11-15 13:49] bethalessi commented on #33374
@pattyok Did you ever figure out how to handle this? I asked the same question #36465

It sounds like you wanted to create the same thing, a simple custom block: fullwidth background that allows your client to insert innerblocks that have alignment controls.

Did you have to stop using theme.json to do it?

[2021-11-15 13:59] dcalhoun commented on #36377
@javierarce thank you for the further research and proposal! 🙇🏻 The usage of the error notice definitely does improve the notability. The only concern I may have would be the legibility of the [contrast ratio](https://contrastchecker.online/1a7bb7/f4a2a2) of the blue text links on the red background. WDYT?

[2021-11-15 14:06] jameskoster commented on #29630
With https://github.com/WordPress/gutenberg/pull/36064 merged I _think_ we can close this particular issue.

There's still lots to do of course, but we've opened other issues that will execute the design outlined in https://github.com/WordPress/gutenberg/issues/29630#issuecomment-954159446 (and subsequent discussion).

[2021-11-15 14:06] #29630 closed

[2021-11-15 14:18] javierarce commented on #36377
Yes, me too… maybe we could use this ticket as an opportunity to improve that contrast for the whole project.

Another option could be to use the _alert_ color, which has better contrast (although is less noticeable). I think it also makes sense semantically.

![image](https://user-images.githubusercontent.com/4933/141797662-d1e7b19d-7d32-46bc-b892-6907260ca0e2.png)

[2021-11-15 14:58] skorasaurus commented on #36465
@bethalessi I don't know; I've also been trying to figure out how wide and full alignments interact with a 'hybrid' theme that is PHP based but also uses theme.json. (I'm not one of the core Gutenberg developers, just someone who occasionally helps triage issues on the tracker :) ) I'll close the issue since it overlaps with #33374 and encourage you to copy your reactions into that thread.

I've f

[2021-11-15 14:58] #36465 closed, assigned to nobody

[2021-11-15 15:08] javierarce opened #36491 "Improvements to pattern loading"
I'd like to suggest a couple of refinements for the Patterns feature. They are a bit related, so that's why I'm submitting them together:

1. Improve the apparition of patterns on the sidebar and the Explore modal using spinners or a loading state. We are loading the patterns immediately, and they look a bit rough and glitchy.

https://user-images.githubusercontent.com/4933/141802278-479d76d0-80ae

[2021-11-15 16:51] shaunandrews commented on #26351
I'd love to see a more thorough and wholistic design for the Link UI that covers all the scenarios and use-cases across the editor, it's blocks, and perhaps wp-admin. I'm all for small tweaks in various separate issues/PRs to incrementally improve the existing UI, but I'm still lacking a general end-goal or direction.

For instance, it seems there are now icons for different post-types, but I'm no

[2021-11-15 17:00] shaunandrews commented on #35274
I believe #35773 resolves the main issue here: You can open a larger preview of patterns in a modal.

Adding the ability to copy a pattern, or save it to your favorites is likely in the future as the WordPress.org/patterns directory continues to improve.

[2021-11-15 17:00] #35274 closed, assigned to nobody

[2021-11-15 17:05] jameskoster commented on #36491
Possibly related – https://github.com/WordPress/gutenberg/issues/35503

[2021-11-15 17:11] getdave commented on #26351
Thanks for this review 🙇 Given that all but one of the concerns have been addressed I'd personally I'd like to see a new Issue tracking  new improvements.

Let me look into this one.

I know that we can't easily do this because doing so makes it very hard to discern the different between certain results. We intentionally wrap longer items to ensure the user has full access to the information about

[2021-11-15 17:18] bethalessi commented on #33374
@youknowriad  Does this mean, if I use theme.json, I can't make a custom block that allows innerblocks to have alignment controls? I know the group block allows it, but you have to toggle. I don't want my clients to have to toggle.

I understand that with FSE, with a theme being released to many, that could be an issue. But I need this ability for custom themes for clients.

### My example situati

[2021-11-15 17:45] bethalessi commented on #33374
@youknowriad More succinctly: When I make a custom block, is there a way to say I want the innerblocks to have default alignment (and alignment controls) when creating it? Like the layout toggle for the Group block, but baked in.

To be clear, CSS isn't the issue. I can add that. It's purely the ability to give innerblocks alignment controls so the user can still choose wide/full.

[2021-11-15 17:52] mrwweb commented on #33374
@bethalessi My solution for now has been to set the Group block to use the "Inherit layout" option by default with a block variation:

[code]

I'd love to see this become the default behavior in WordPress, since it seems that defaulting to "just work please" rather than "select your widths every time" is a much better experience that significantly reduces the cognitive load on editors

[2021-11-15 17:55] adekbadek commented on #36486
It turns out that `@wordpress/data` handles nested updates to the store differently than [React-Redux](https://react-redux.js.org/). When the reducer returns state where a deeply-nested property has been updated, the component is not re-rendered. See the following reducer cases for comparison. The `set` is a [lodash's set](https://lodash.com/docs/4.17.15#set).

[code]

Not sure if it's a bug or ju

[2021-11-15 17:55] #36486 closed, assigned to nobody

[2021-11-15 18:01] abegit commented on #11339
I noticed this too in WordPress 5.8.2 (unsure which Gutenberg version)

It happened while I had a 3-column block layout with 1 List Block inside each column.
The lists blocks each had 1-bullet point, and two or three children each.

A quick workaround for people getting this:

Click on the options ( ⋮ ), then choose "Edit as HTML"
then click the options ( ⋮ ) again, and choose "Edit Visually"

The

[2021-11-15 18:02] pattyok commented on #33374
I did give up on theme.json as I felt it wasnt ready for a production site,
yet.

But of course the same behavior is applied to the group block in the block
widgets, with or without theme.json.

The odd thing is that you *can* set widths for inner blocks on a column,
and at long last we can have a one-column layout(!?!)  So I can build what
you are talking about with a single column layout. Though

[2021-11-15 18:22] github-actions[bot] opened #36495 "[Flaky Test] should display (capture the) text from the currently active link even if there is a rich text selection"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should display (capture the) text from the currently active link even if there is a rich text selection

## Test path
`/test/e2e/specs/editor/blocks/links.spec.js`

## Errors

<time datetime="2021-11-15T18:22:14.778Z"><code>[2021-11-15T18:22:14.778Z]</code></time> Test passe

[2021-11-15 18:24] fabiankaegy commented on #36407
@paulwilde No this would not remove these classes. The reason for this is, that the Core palette is only removed from the Editor view so editors are not able to select from the Core palette anymore.

However, the reason why the actual classes don't get removed is that if a block pattern from the core pattern library gets inserted it expects the core palette to be available. Editors could then chan

[2021-11-15 18:24] #36407 closed, assigned to nobody

[2021-11-15 18:26] #36409 closed, assigned to nobody

[2021-11-15 18:51] steveangstrom commented on #36407
Was this tested with PHP themes before being closed?

PHP themed sites will exist for many years and these sites also update their WP / Gutenberg. PHP themed sites are also seeing core .   If I try to activate theme.json on any of my legacy or current dev sites it will break the site, so I will continue to create and support PHP themes.

Please ensure that 99% of sites will function as per the doc

[2021-11-15 18:53] fabiankaegy commented on #36489
@steveangstrom the fix hat was done in #36492 only applies to `theme.json`.

I suppose you could probably filter the editor settings like so:

[code]

I haven't tested it though.

[2021-11-15 18:55] fabiankaegy commented on #36407
@steveangstrom I would treat your ticket here: #36489 as a follow up to this. The fix that was supplied here does not impact php themes and so it is correct to keep tracking the issue.

[2021-11-15 19:15] steveangstrom commented on #36489
No, that does not work

WP 5.8.2
Gutenberg 11.9
added filter above

RESULT
![color-fail](https://user-images.githubusercontent.com/8482649/141839727-8df3fff2-d233-467d-8a8b-1e788cca4f58.png)

The very major problem I have with Gutenberg and all recent WP development is this casual attitude to real world commercial sites.
This feature is relatively recently introduced:
https://make.wordpress.org/co

[2021-11-15 19:19] getdave commented on #30669
It looks like `__experimentalReusableBlocks` is not available on the editor settings in the Site Editor at the moment.

Try running this in Console on Site Editor to check:

[code]

However, I checked and running `wp.data.select('core').getEntityRecords('postType','wp_block')` _does_ return results so I hope it's just a case of wiring things up for the Site Editor.

I can take a look tomorrow.

[2021-11-15 19:56] skorasaurus commented on #36407
The ability to remove those classes had been requested at https://github.com/WordPress/gutenberg/issues/24684 but it was declined. :(

[2021-11-15 20:04] stokesman opened #36497 "Scripts: Breakage of multiple entry points of the same filename in separate folders"
### Description

The documentation for `build` and `start` demonstrates space separated paths for multiple entry points:
[code]

In a couple projects I used that approach but with each entry point in a separate folder:
[code]
After upgrading @wordpress/scripts from 17 to 19 running either `build` or `start` would build/bundle only the last of the files listed. After reading through #34264 I found

[2021-11-15 20:09] carlomanf commented on #36354
I wasn't able to edit post content even outside of a query loop.

[2021-11-15 20:16] carlomanf commented on #35994
I agree with these sentiments. Removing features from the plugin because they are not ready for core does not make sense. If they are not ready for core, then why not just leave them out of core but leave them in the plugin?

[2021-11-15 20:44] annezazu commented on #21245
I see this checked off currently:

However, when I look at the experience today, I only see the option to export items but don't see a specific help option in place. Since FSE is so new, it would be advantageous to have a link to support docs built into the interface. Is this something that can be added ahead of 5.9?

[2021-11-15 20:54] ockham commented on #31456
PR for the second part ("Discard changes" panel): #36185

[2021-11-15 21:06] kebbet opened #36499 "Remove gutenberg textdomain in calendar-block from @wordpress package"
### Description

https://core.trac.wordpress.org/ticket/54444

Incorrect textdomain was introduced in WordPress Core. Should be fixed upstream.

### Step-by-step reproduction instructions

See `src/wp-includes/blocks/calendar.php`, on line 22

Is:
`return '<div>' . __( 'The calendar block is hidden because there are no published posts.', 'gutenberg' ) . '</div>';`

Should be:
`return '<div>' . __(

[2021-11-15 23:11] ellenbauer commented on #35994
So by now I understand that this all default templates will be added to the Appearance/Templates list as a solution to the current issue that templates can't be edited as we were used to from the Site Editor menu.

I think many of us how have started to build for FSE are a bit confused that the Site Editor experience has changed quite significantly after being introduced already. I also don't real

[2021-11-15 23:56] Otto42 commented on #35994
Perhaps adding in something to the Add New button for templates would make the most sense. I spent nearly an hour trying to use that button to add a "Category" template today, fiddling with the slug, the naming, etc, to no avail.

I did figure a way to edit, for example, the 404 template properly, but only because that was a template in 2022 already, and the way I used through the Page editor is n

[2021-11-16 01:12] annezazu commented on #29388
This came up in the [eleventh call for testing for the FSE Outreach Program](https://make.wordpress.org/test/2021/11/08/fse-program-testing-call-11-site-editing-safari/#comment-2218) with @paaljoachim  expressing a desire to see more details around what exactly was being saved for Global Styles.

[2021-11-16 01:14] annezazu commented on #36136
As part of this effort, it would be neat if the duotone filters applied to the placeholder as well based on the feedback on trying to add the featured image block and a duotone filter in a template in the [eleventh FSE outreach program call for testing: ](https://make.wordpress.org/test/2021/11/08/fse-program-testing-call-11-site-editing-safari/#comment-2218)

[2021-11-16 01:22] annezazu commented on #36350
Another shortcut to add would be in the quick inserter based on the feedback from the [eleventh call for testing for the FSE Outreach Program:](https://make.wordpress.org/test/2021/11/08/fse-program-testing-call-11-site-editing-safari/#comment-2218)

Currently, when you search for patterns in the quick inserter you come up empty:

<img width="433" alt="Screen Shot 2021-11-15 at 8 17 53 PM" src="ht

[2021-11-16 01:59] talldan opened #36501 "Navigation area block uses same icon as template part block"
### Description

Currently the Navigation Area block uses the same `symbolFilled` icon as the template part (if it isn't a header or footer variation).

I imagine it'd be a good idea to differentiate the two, especially in the inserter and list view:
<img width="221" alt="Screenshot 2021-11-16 at 9 54 48 am" src="https://user-images.githubusercontent.com/677833/141881530-3409378b-58fa-4676-99a9-0f

[2021-11-16 02:21] #36464 closed, assigned to talldan

[2021-11-16 02:35] talldan commented on #36373
For reference, here's an example of how it works currently:
https://github.com/WordPress/wordpress-develop/blob/9b142dd26498392577d2ea4930fea45e61790a05/src/wp-includes/navigation-areas.php#L33-L39

Perhaps it's ok. We should definitely test that it works for themes. Maybe we can try it out in Twenty Twenty Two or one of the theme experiments.

I think it could be an idea to improve the docs to re

[2021-11-16 02:49] DeoThemes commented on #36402
If I remove width: 100%, it works as intended
![navbar_guten_bug](https://user-images.githubusercontent.com/16485360/141886929-69c48baf-f91a-4937-b6d4-4332a23cb8ac.png)

**Fix for Gutenberg 11.9 justify content bug.**
[code]

[2021-11-16 03:27] talldan opened #36502 "Page List block shows loading state often, doesn't seem to cache page data"
### Description

The page list block doesn't seem to cache the data it uses. When editing I notice it shows a loading spinner regularly, even if the data is unchanged.

Usually requests to the REST API via the core-data package's API (e.g. `getEntityRecords`) are cached, so I wouldn't expect this problem.

### Step-by-step reproduction instructions

1. Add a page list block and observe the loading

[2021-11-16 04:59] msaari opened #36504 "Add a filter hook to post template WP_Query or build_query_vars_from_query_block()"
The Relevanssi search plugin does not work with Query Loop and Post Template blocks. When there's a search results page built using the Query Loop and Post Template blocks, the results come up empty when Relevanssi is active. This is because Relevanssi cannot override the WP_Query used in the Post Template block.

This would be easy to fix by adding a single filter hook somewhere in the process. A

[2021-11-16 05:11] #32844 closed, assigned to Mamaduka

[2021-11-16 05:30] Mamaduka commented on #36502
The block uses `apiFetch` instead of the entity selectors.

[2021-11-16 05:56] talldan commented on #36502
I wonder why, I couldn't see any discussion about it on https://github.com/WordPress/gutenberg/pull/31670.

@noisysocks @georgeh any recollection?

[2021-11-16 08:12] sabernhardt opened #36506 "Navigation block view script JS console error"
### Description

In WordPress 5.9 trunk, with Twenty Twenty-Two theme, the navigation block view script does not use the correct URL.

This may be related to returning `false` on the `$is_core_block` check in [blocks.php](https://github.com/WordPress/wordpress-develop/blob/c3222105d83cca007b0e9ab583c9f4ed6643d166/src/wp-includes/blocks.php#L103-L106).

### Step-by-step reproduction instructions

1

[2021-11-16 08:56] paaljoachim commented on #36350
One could actually take it a few steps further.
User begins to write "pattern headers" and sees various thumbnails show up. Perhaps even scrolling the area. Browse all would be fixed in the bottom, so the user can at any time click the Browse all button. The text could perhaps also change to say "Browse all patterns" This means having the text change depending on the context of the search.

[2021-11-16 09:12] talldan opened #36510 "Template part block doesn't handle a missing template part entity"
### Description

When a template part block's associated template part entity/post is missing, the block is designed to show a warning to the user:
https://github.com/WordPress/gutenberg/blob/39f883e503f05aac223fe9d9d03a49d6279192a4/packages/block-library/src/template-part/edit/index.js#L120-L139

Unfortunately this is never shown since the code that determines `isMissing` doesn't work. It uses th

[2021-11-16 09:18] talldan commented on #32098
I just tested this and noticed the error no longer happens. Instead an Untitled Template Part is created:
<img width="541" alt="Screenshot 2021-11-16 at 5 16 57 pm" src="https://user-images.githubusercontent.com/677833/141957218-9734421f-3ded-4c08-9af0-a880b97ebec4.png">

From working on the navigation block, the feedback there was that calling things 'untitled' isn't desirable. It might be that t

[2021-11-16 09:33] anarieldesign commented on #36304
Hi, I couldn't agree more with the @kjellr. For example, if I want to create one theme with different demos, now if I change fonts and typography in the Global Styles and export the demo, import it to the new installation it doesn't import the changes in the Global Styles. So the only way is to use a child theme and this is exactly what I want to avoid or use Customizer for. It would be great if w

[2021-11-16 10:08] Sandstromer opened #36512 "Request: Block themes: link 'Customize' button to FSE 'Styles' instead of the old customizer"
## What problem does this address?

When activating a block/FSE theme in Appearance > Themes, the 'Customize' button links to the old classic Customizer.

As this is not applicable to a block theme, this button would be better if it takes the user to the Site Editor or 'Styles' when activating a block theme.

Not too sure whether this would be a Gutenberg enhancement or core WP.

[2021-11-16 10:10] fluiddot opened #36513 "Selected blocks get deleted when creating a reusable block and pressing backspace key"
### Description

When creating a reusable block via selecting multiple blocks, pressing the backspace key when typing a name in the "Create Reusable block" dialog leads to deleting the selected blocks and therefore the dialog to disappear. This behavior makes it very difficult to create a reusable block as removing characters when setting a name is very common.

### Step-by-step reproduction instr

[2021-11-16 10:23] Luehrsen opened #36514 "stylelint-config: Conflict with stylelint@14.1.0"
Stylelint 14.0 was released about a month ago and the official vscode stylelint plugin swiftly deprecated the 13.x branch. See https://github.com/stylelint/vscode-stylelint.

When using @wordpress/stylelint-config with stylelint 14.1.0 npm install cannot resolve dependencies, as @wordpress/stylelint-config requires a peerDependency of "^13.7.0", which excludes the 14.x branch.

https://github.com/

[2021-11-16 10:48] #36499 closed, assigned to kebbet

[2021-11-16 11:00] anarieldesign commented on #27528
Hi, this topic is soo important. I just asked @carolinan about this problem and she sent me a link to this ticket. We are thinking of switching our theme shop completely to an FSE theme with different demos but without this option to export Global Style settings it's not possible. I want to avoid using Customizer and child themes for fonts and colours and to be able to export settings from the Glo

[2021-11-16 11:07] anarieldesign commented on #27528
Totally agree with @DaisyOlsen. We are working on a new FSE theme that will offer different demos and this option would be soo useful.

[2021-11-16 11:12] Mamaduka opened #36515 "Stabilize Site Editor export endpoint"
The `wp-json/__experimental/edit-site/v1/export` endpoint needs to be stabilized and included in WP core.

Originally reported on Trac: https://core.trac.wordpress.org/ticket/54448

[2021-11-16 11:13] anton-vlasenko commented on #36373
Nothing stops us from disallowing developers to change the default keys via the filter programmatically while allowing them to change titles.

[2021-11-16 11:22] jameskoster commented on #36354
Interesting, it's working fine for me with multiple themes. That may be worth a dedicated ticket if you have the time?

[2021-11-16 11:33] jameskoster commented on #36350
These are interesting ideas, but I do wonder how frequently "pattern" comes up as a _search_ term in these interfaces. It seems a little unnatural – kind of like searching for "block".

[2021-11-16 11:34] jameskoster commented on #32098
Yeah we should probably make the name a required field.

[2021-11-16 12:11] Mamaduka commented on #36380
Hi, @Addison-Stavlo

I just wanted to check in to see if we can close this issue?

[2021-11-16 12:18] javierarce opened #36519 "Fix confusing ellipsis menu for the Custom Color Palette feature"
### Description

The ellipsis that appears in the Color Palette section of the Global Styles is very confusing and doesn't have consistent behavior.

When you reach the panel, the ellipsis behaves like a button that allows editing the custom colors. This behavior is not the default one for this kind of element.

https://user-images.githubusercontent.com/4933/141981925-712927b9-e330-4b8e-b84a-2c95e

[2021-11-16 12:19] Addison-Stavlo commented on #36380
Certainly!  If the consensus is that this is not a regression, feel free to close it.  I noticed it had changed, but didn't realize it was expected behavior since the nav panel was removed.  Thanks for the explanation!

[2021-11-16 12:21] #36380 closed, assigned to nobody

[2021-11-16 13:27] ndiego opened #36521 "Block Spacing setting causes conflict with blockGap (Columns, Navigation, etc.)"
### Description

When `blockGap` is enabled on a theme, the "Block Spacing" setting is enabled for a number of blocks, notably Columns and Navigation. With `blockGap`, the following CSS is added, which adds "block gap" via a `margin-top: var( --wp--style--block-gap );` to each block. (There are separate issues with this, which I will detail in another issue)

![image](https://user-images.githubuse

[2021-11-16 13:50] anton-vlasenko commented on #36373
Should we close this issue ( in the light of the recent news)?
cc @getdave

[2021-11-16 14:02] jorgefilipecosta commented on #35955
@youknowriad do you think we can expand the layouts panel in 5.9 with these additional styles?

[2021-11-16 14:09] #36087 closed, assigned to nobody

[2021-11-16 14:12] Mamaduka commented on #36515
@TimothyBJacobs Should we also extend `WP_REST_Controller` for this REST API?

[2021-11-16 14:22] TimothyBJacobs commented on #36515
I think that would be good yeah. While this is a simple route we don't have any other "free standing" routes in Core.

[2021-11-16 14:45] georgeh commented on #36502
Sorry I don't recall the specifics of why it's using apiFetch. Looking at the diff, I would guess it's because the existing code was already using apiFetch.

[2021-11-16 15:00] annezazu commented on #27528
This came up in the [eleventh call for testing for the FSE Outreach Program](https://make.wordpress.org/test/2021/11/08/fse-program-testing-call-11-site-editing-safari/#comment-2219), which included a focus on Styles:

[2021-11-16 15:19] javierarce opened #36523 "Unable to insert Patterns using Safari by drag and dropping them"
### Description

Inserting a pattern by drag and dropping it from the sidebar inserter doesn't work in Safari.

I was able to insert patterns this way using both Firefox and Chrome on a mac.

### Step-by-step reproduction instructions

Using Safari:

1. Go to the Site Editor.
2. Open the block inserter from the top bar.
3. Open the Patterns tab bar.
4. Try to drag a Pattern into the canvas.

### S

[2021-11-16 15:20] Thelmachido commented on #36066
The same issue was reported here: [32764618-hc]

I advised the user to try and click on the color they want and not use the drag function. The block didn't crush in this case.

[2021-11-16 15:23] bethalessi commented on #33374
@mrwweb Agree! Thank you for that solution. It's an annoying workaround for now, but it got me moving ahead.

@pattyok I hear you. I changed a theme to use theme.json and then discovered this at the end and now I'm in too deep to turn around. ;) Thanks for responding!

[2021-11-16 15:28] Mamaduka commented on #36502
Thanks for the clarification, @georgeh.

[2021-11-16 15:44] getdave opened #36524 "Navigation Areas are overly complex"
Having spent some time with Navigation Areas there is a concern that the concepts and UX we have introduced are going to be too complex.

In an informal discussion @mtias shared his concerns  which I've attempted to summarise below along with a potential solution that he proposed.

## Summary

The main problems are:

- Navigation Areas are mirroring a concept ("Menu Locations") that exists for cla

[2021-11-16 16:03] getdave commented on #34779
I think this is probably an edge case. Adding a valid link almost always ends up with multiple lines.

@karmatosed please could you advise on:

- how you can replicate this situation as a regular user
- your suggestions for how to handle such cases

Much appreciated 🙇‍♂️

[2021-11-16 16:06] getdave commented on #34125
@anton-vlasenko @spacedmonkey Are either of you familiar with any quirks of multisite which might make the `search` endpoint of the REST API not work? For example, would we need to pass a blogID when making the request?

[2021-11-16 16:08] getdave commented on #33850
<img width="611" alt="Screen Shot 2021-11-16 at 16 07 35" src="https://user-images.githubusercontent.com/444434/142021835-9ebf2e5d-d022-4a88-a21b-111c89229e2b.png">

Now fixed thanks to x2 options for unlinking.

[2021-11-16 16:08] #33850 closed, assigned to nobody

[2021-11-16 16:09] getdave commented on #30718
Removing LinkEditing because this is a Media Text block issue.

[2021-11-16 16:11] getdave commented on #29417
@jasmussen @shaunandrews Where are we with this one? I assumed Draft Pages should

- not show on the frontend
- not show up in the Link UI search

Is there a design above that is current enough to be worked on?

[2021-11-16 16:14] jasmussen commented on #29417
I think this PR meant to address this: https://github.com/WordPress/gutenberg/pull/31716 CC: @vcanales

[2021-11-16 16:25] nick-novak opened #36525 "class is no longer added to Navigation Block when choosing orientation"
## What problem does this address?
I am really disappointed in the new layout for the Navigation block. I see how the new navigation block utilizes the layout functionality, but it was nice to have a class I was able to target for CSS styling. Specifically when you select a navigation to be vertical it used to add a `.is-vertical` class to the navigation. This was great for themes where there were

[2021-11-16 16:45] priethor commented on #30910
Added prioritized items for WordPress 5.9, as the `Query block` will be instrumental in block theme building.

[2021-11-16 16:56] fluiddot opened #36526 "Text blocks: Caret displayed in wrong position on line breaking"
## Description

I noticed that in some cases related to how ~~the Heading block~~ text blocks (like Heading or Paragraph blocks) break lines when adding text, that the caret is displayed in the wrong position.

## Step-by-step reproduction instructions

1. Add a text block like the Heading or Paragraph block.
2. Add several words and try to make the last word to be long enough so the line is broke

[2021-11-16 17:01] youknowriad commented on #33374
you can do it by providing a layout to inner blocks, that said, the feature is still experimental at the moment, you should be able to pass `__experimentalLayout ={ { contentSize: '800px', wideSize: '1000px' } }` to your inner blocks, you can also pass `__experimentalLayout ={ { inherit: true } }` to your inner blocks as well to inherit whatever layout is defined.

That said, I personally think it

[2021-11-16 17:06] annezazu commented on #36512
Duplicate of this: https://github.com/WordPress/gutenberg/issues/30643

Thank you for opening though!

[2021-11-16 17:06] #36512 closed, assigned to nobody

[2021-11-16 17:15] jameskoster commented on #30643
<img width="1375" alt="Screenshot 2021-11-16 at 16 58 10" src="https://user-images.githubusercontent.com/846565/142033022-ed9dd2be-4a30-44ae-a7fa-c04099b65ac1.png">

We need to update the big blue button here as well – it could link to Appearance > Editor when a block theme is active.

[2021-11-16 17:17] fluiddot opened #36527 "Using HTML entity `&nbsp;` in text blocks removes part of the undo/redo history"
## Description

I realized when copying HTML content that, if a text block contains the HTML entity `&nbsp;`, the undo/redo history might be affected and some redo actions are lost.

## Step-by-step reproduction instructions

1. Create a post and add the following HTML code:
[code]
2. Save the post and reopen it.
3. Remove the first block, second block, and third block in this order.
4. Undo all t

[2021-11-16 17:19] Sandstromer commented on #36512
Thank you for pointing me to the original issue. Guess I didn't look back far enough!

[2021-11-16 17:19] ndiego opened #36528 "Using a user edited/created page template creates a duplicate viewport meta"
### Description

This is an odd one. If you assign a theme-provided custom page template to a page, the frontend output looks roughly like this.

![image](https://user-images.githubusercontent.com/4832319/142032474-9b766e43-62a0-4cfb-aa3f-66fdfa00dde9.png)

If you then edit the template in WordPress (not in the theme files) and save, the frontend output now has a duplicate meta viewport tag.

![im

[2021-11-16 17:40] creativecoder commented on #36418
FYI @apeatling and friends. I think you may have been working on these kind of controls, recently.

[2021-11-16 17:47] fluiddot opened #36529 "Media Text block: Text is rendered with a big font size when created in the web version"
## Description

I noticed when testing the Media Text block on both web and native editor versions, that when this block is created in web, in the app the text component is rendering the content with big font size, which might be not expected and doesn't match visually how is displayed on the web version.

## Step-by-step reproduction instructions

1. Open a post in the web version of the editor.

[2021-11-16 17:59] kellychoffman opened #36530 "Select mode: Broken icons"
Fixing the following icons
- [x] Archive title
- [x] Archive description
- [x] Query Pagination
- [x] Query pagination previous
- [x] Query pagination next
- [x] Query pagination numbers
- [x] Comment author avatar

[2021-11-16 18:08] fullofcaffeine opened #36532 "[format/highlights] Block-level color specificity issues when a text block has a block-level color set"
### Description

This issue is threefold:
1. Gutenberg had a bug ([issue](https://github.com/WordPress/gutenberg/pull/34680#issuecomment-934190177), [fix](https://github.com/WordPress/gutenberg/pull/35516)) in its recently-refactored `Highlight` tool that required a transparent background color to be applied to all `marks` by default if no background is set, to prevent the `mark`s default yellow b

[2021-11-16 18:09] kellychoffman opened #36533 "Make the UI more clear when you are editing a template part"
When you have a template part selected, it references the template and shows the template name in the dropdown and in the sidebar. There's no reference of the template part you are editing outside of chip the top bar.

<img width="543" alt="Screen Shot 2021-11-16 at 10 03 56 AM" src="https://user-images.githubusercontent.com/5835847/142040969-581b9120-136c-469b-806a-66e24dcbb9f9.png">

[2021-11-16 18:13] kellychoffman opened #36535 "Make it easier to unselect blocks"
Make it easier to unselect blocks.

- [x] Pressing escape in Select mode unselects blocks (https://github.com/WordPress/gutenberg/pull/36945)
- [x] Clicking on anything that is not a block or UI element unselects blocks
- [x] Consider adding the frame from template part focus mode (https://github.com/WordPress/gutenberg/pull/36995)

[2021-11-16 18:13] annezazu opened #36536 "Post Featured Image Block Consolidate double dimensions panel"
## What problem does this address?

This came up as part of the eleventh call for testing for the FSE outreach program from @paaljoachim:

<img width="272" alt="Screen Shot 2021-11-15 at 7 30 47 PM" src="https://user-images.githubusercontent.com/26996883/142041994-c04d8d8f-b3c1-49ac-b132-6cd502a1b17b.png">

## What is your proposed solution?

Consolidate these sections :D cc @stacimc as we chatted

[2021-11-16 18:21] fullofcaffeine commented on #36532
cc @ellatrix

[2021-11-16 18:21] jameskoster commented on #36530
Related: https://github.com/WordPress/gutenberg/pull/35837

[2021-11-16 18:23] #29148 closed

[2021-11-16 18:23] jameskoster commented on #29150
Closing for now.

[2021-11-16 18:23] #29150 closed

[2021-11-16 18:33] jeyip opened #36537 "Page List Block: No color customization options available in block settings"
## What problem does this address?

The traditional list block has color customizations available in the block settings sidebar. The same options, however, do not exist for the page list block.

![2021-11-08 11 53 03](https://user-images.githubusercontent.com/5414230/140808717-27e63330-75fc-4252-bdf4-0d6568e0fe01.gif)

## What is your proposed solution?

Expose options in the block settings menu t

[2021-11-16 18:37] annezazu opened #36538 "Navigation Block: align block toolbar closer to currently selected nested block"
## What problem does this address?

Seems a regression happened at some point as the block toolbar now doesn't align with the currently block being edited. Here's a quick video to demonstrate:

https://user-images.githubusercontent.com/26996883/142045018-9041960b-11e6-4d09-b88c-583a519bffd0.mov

## What is your proposed solution?

Have the toolbar align with the current nested block being edited w

[2021-11-16 18:37] jasmussen commented on #36136
PR here: https://github.com/WordPress/gutenberg/pull/36517

[2021-11-16 18:43] jeyip opened #36539 "Global Styles: Per Block list styles affect all list blocks"
## What problem does this address?

Currently, a variety of list blocks respond to changes in the per block global styles of the list block (Ex. page list, post list, list, etc.). What happens, however, when I'd only like to change the background color of my page lists across all views? It appears as if there isnt enough granularity in global styles to easily differentiate between different list b

[2021-11-16 18:56] jasmussen commented on #36535
Clicking the top-level breadcrumb deselects. Two other ideas for improvement:

1. Address #5803 and let clicking _below_ the blocks deselect, instead of create a new paragraph block. Could potentially be easy as it mostly disables code that intercepts it. Downside, it's mainly benefitting the post editor.
2. Escape enters select mode. We could make it so pressing Escape again deselects all blocks.

[2021-11-16 19:20] annezazu opened #36541 "Global Styles: enable the ability to edit gradient & duotone palettes"
## What problem does this address?

Currently, it's not possible to edit gradients and duotone palettes within Global Styles but this feels like a missed opportunity and something that users will want to do in the future.

## What is your proposed solution?

For now, would be great to show duotone palettes even if they can't be edited. Long term, would be great to have these both as options for us

[2021-11-16 19:28] annezazu opened #36542 "Global Styles: improvements to color picker design"
## What problem does this address?

Currently, the color picker opens over top of the rest of the color palette obscuring the ability to see the entire set of colors:

<img width="414" alt="Screen Shot 2021-11-16 at 2 17 41 PM" src="https://user-images.githubusercontent.com/26996883/142051532-111503c4-c27f-490c-b8f0-02ec3d65a54c.png">

Additionally, the target design doesn't have any padding.

##

[2021-11-16 19:30] kellychoffman opened #36543 "Color palette: Design updates"
Suggested improvements for 5.9

- [x] Add borders to the colour circles in the palettes (so the white color is seen).
- [x] #36542
- [ ] Reposition the “Reset” button  (#36519)
- [x] Never show “core” to a user, use “default” instead. https://github.com/WordPress/gutenberg/pull/36622
- [x] Palettes should be reordered by theme, default, user. https://github.com/WordPress/gutenberg/pull/36622
- [x]

[2021-11-16 19:31] kellychoffman commented on #35093
Added a design issue here: https://github.com/WordPress/gutenberg/issues/36543

[2021-11-16 19:40] annezazu opened #36544 "Add Welcome Guide to Styles More Menu"
## What problem does this address?

With the introduction of the Welcome Guide for the site editor https://github.com/WordPress/gutenberg/issues/32844, it would be great to have a way to trigger it once more.

<img width="298" alt="Screen Shot 2021-11-16 at 2 35 16 PM" src="https://user-images.githubusercontent.com/26996883/142053646-510e7541-e335-4486-a6e8-f1105ec184ba.png">

## What is your prop

[2021-11-16 19:43] kellychoffman opened #36545 "Font size: design updates"
Design updates needed for 5.9
- [x] Add tooltips that show “medium”, “small”, etc. to the font size segmented control.
- [x] Scrolling issues with appearance dropdown ([report](https://github.com/WordPress/gutenberg/issues/36545#issuecomment-976447915)). ([discussion/PR](https://github.com/WordPress/gutenberg/pull/36845))

Design updates proposed for 5.9
- [x] There are only 5-6 font sizes but the

[2021-11-16 19:43] shaunandrews commented on #36544
Seems like it should go in the top toolbar "..." menu instead, like the Welcome Guide is for the post editor:

<img width="436" alt="image" src="https://user-images.githubusercontent.com/191598/142054576-f689d8a7-34bc-4f11-b66c-ca2ffbc068b0.png">

We're getting a little carried away with all these different "..." menus. Worth noting the one you suggested is only visible if the Styles sidebar is op

[2021-11-16 19:46] kellychoffman commented on #36543
Reference image for when there is no color palettes:

![image](https://user-images.githubusercontent.com/27339341/142053654-7a84cda1-f534-472b-b4f6-a97cdb40e957.png)

[2021-11-16 19:47] annezazu commented on #36544
AFAIK https://github.com/WordPress/gutenberg/issues/32844 handles having it in the usual spot!

[2021-11-16 20:02] critterverse opened #36546 "Global Styles panel: Add elements support to “Typography” section"
Opening this issue to discuss adding elements support to the “Typography” section of the Global Styles panel. This could potentially just be Text and Links at first.

[2021-11-16 20:08] Mamaduka commented on #36544
I think the "Styles" ellipsis button has a different purpose, similar to Dimensions one. Welcome Guide might be a little out of place there.

@talldan also pointed out a few issues with the current spit Welcome Guide solution - https://github.com/WordPress/gutenberg/pull/36172#discussion_r750077181. I would love to hear more feedback on this one as well 🙇

[2021-11-16 20:13] mtias commented on #36544
The main "welcome guide" is for the site editor, not for styles. It seems styles invoke its own when it's opened for the first time, so it makes sense to reinitialize that it's there.

[2021-11-16 20:14] kellychoffman opened #36547 "Inserter: Reorder blocks in the Theme & Design sections"
Reorder so that the most common use cases are on top.

Reference images:
<img width="353" alt="Screen Shot 2021-11-16 at 3 04 20 PM" src="https://user-images.githubusercontent.com/5835847/142058442-e816ba7a-f18d-4b4c-90d0-8891d58048f8.png">

<img width="352" alt="Screen Shot 2021-11-16 at 3 04 33 PM" src="https://user-images.githubusercontent.com/5835847/142058633-72f21b33-34c6-47f7-bbee-2b4f813aa

[2021-11-16 20:17] mtias commented on #36543
And the target design reference:

![image](https://user-images.githubusercontent.com/548849/142059179-6c585456-982b-48b6-943f-453f48219d47.png)

[2021-11-16 20:19] mtias commented on #36542
The target design reference:

![image](https://user-images.githubusercontent.com/548849/142059422-74cd1aee-0729-4b2a-87a3-03347f4200c7.png)

[2021-11-16 20:26] Mamaduka commented on #36544
Another question: Do we want only to invoke Styles' welcome guide when a user visits Editor via "Appearance > Styles"?

P.S. I'll do a follow-up PR tomorrow.

[2021-11-16 20:41] mtias opened #36548 "Revise folder structure on themes made with blocks"
We are on the cusp of establishing a new organization of theme files that can help creators orient themselves. This is a relatively minor issue, all things considered, but it can still have fundamental implications for the experience of building themes and its perceived simplicity, so we should act now in accordance.

(There is a related discussion in #34550 that also raises some good points.)

I'

[2021-11-16 20:46] shaunandrews commented on #36544
I doubt this separation is obvious or makes sense to anyone outside of the people on this thread. The only way to see the styles is to use the site editor. 🤷

[2021-11-16 20:48] mtias commented on #34550
I linked a related proposal above. I also thought of allowing this to be filterable like other admin folders are, but it should not prevent us from establishing a baseline that works for most cases and can be enforced in the public directories.

[2021-11-16 20:56] mtias commented on #36547
For "theme" blocks, header, footer, navigation, post lists should all be coming ahead.

[2021-11-16 20:57] shaunandrews commented on #36535
I suggest we rethink this shortcut; It doesn't really work when you have nested blocks, as you can't go into or out-of a container block. To me, it makes much more sense for `esc` to deselect all blocks, and to find a different shortcut for (and generally improve) Select mode.

Outside of that, I also think that if you click anywhere that isn't a block or a UI element that it should deselect all b

[2021-11-16 21:13] glendaviesnz opened #36549 "Cover block: contrasting text not selected when video background used"
### Description

When an image background is selected the block will automatically select contrasting text color, eg. for a dark image the text will be set to white.

When a video background is used this does not happen initially, but does if the opacity is modified:

### Step-by-step reproduction instructions

1. Add a cover block and select a video background
2. Notice text is set to black by de

[2021-11-16 21:17] glendaviesnz commented on #36549
It seems related to the third party fast-average-color library that is being used to get the average background color - it doesn't seem to return a result when a video background is chosen

[2021-11-16 22:05] fabio-blanco opened #36550 "wp-scripts start used on block plugin conflicting with theme"
### Description

Hello,

I was following the tutorial on [Block Editor handbook](https://developer.wordpress.org/block-editor/getting-started/create-block/attributes/) and I had successfully created a plugin named "blocks-test" in a plugins folder from a test WordPress installation in my Ubuntu LAMP.
So I have made the attribute changes in the source code as instructed in the link above and when I

[2021-11-16 22:11] mkaz commented on #36506
🤔 I can not duplicate, I'm not sure if it is environment or with WP.

I checked out trunk from: https://github.com/WordPress/wordpress

Running latest without plugin, and it includes this JS file:

[code]

The link you have to blocks.php does seem like the right spot, because looking at the path it is trying to pull in your error, it is the full file system path, so it is not doing the replacement

[2021-11-16 22:27] fabio-blanco commented on #36550
I think that the problem was caused by my IDE importing the TextControl from the Kadence Theme. The tutorial didn't mention that this control is not on the package dependencies and should be installed.

[2021-11-16 22:35] supernovia commented on #13034
Just noting this isn't working in Chrome current on Mac current with command + U.

[2021-11-16 22:54] fabio-blanco commented on #36550
I have solved the problem removing the wrong `TextControl` import from the file `edit.js` file and running this on the console to install the missing dependency:

[code]

Note: This information is present on the Block Editor Handbook but just on the "References Guide" Chapter. In the "Create a Block Tutorial" on the "Getting Started" chapter this information is missing.

[2021-11-16 22:54] #36550 closed, assigned to nobody

[2021-11-16 23:29] paulwilde commented on #36525
Agreed. I found this to be an issue too. This is a step backwards for sure.

For vertical navigations I would style nav items to have a smaller gap (about .5rem), whilst now with the horizontal version I'm stuck with each navigation item having a gap around the same size as a space so it's no longer viable.

This change has ruled out me using the full-site editor in the future.

[2021-11-16 23:41] kellychoffman commented on #29630
@jameskoster: In light of [PR #36379](https://github.com/WordPress/gutenberg/pull/36379), and the confusing nature of the nav structure as is (see image below), I'm wondering if we should reconsider something closer to this approach: https://github.com/WordPress/gutenberg/issues/29630#issuecomment-954159446. (The reason we originally removed the W menu, was because this was [not possible](https://

[2021-11-17 00:27] tellthemachines commented on #36402
Hmm, we need that width set to `100%` otherwise `space-between` justification doesn't work.

[2021-11-17 00:27] fullofcaffeine commented on #36380
I'm still confused as to why https://github.com/WordPress/gutenberg/pull/35802 ends up causing the call to return `null` on its first call, while before it, it'd return the data. It might just be an (expected) side-effect from the changes that I still don't understand.

@Mamaduka What you mention in your comment [here](https://github.com/WordPress/gutenberg/issues/36380#issuecomment-966918726) mak

[2021-11-17 00:36] #36429 closed, assigned to tellthemachines

[2021-11-17 00:37] #36427 closed, assigned to tellthemachines

[2021-11-17 01:21] talldan commented on #36524
I had the same idea about using a slug to represent the location, but discounted it. The reason is that it prevents the reusability of menus. My CPT has an implicit relationship to where it's rendered and that's not beneficial. If I want to use the same CPT in my footer, what's the solution? Can the CPT have two slugs?

This is what I originally wanted, to use the concept of Template Areas for the

[2021-11-17 02:02] bethalessi commented on #33374
@youknowriad I added that to "supports" in block.json and the layout toggle appears, but the innerblocks still don't have wide/full alignment controls. Am I missing something? Is my code in the wrong place?

`	"supports": {
    "__experimentalLayout": {
      "contentSize": "800px",
      "wideSize": "1000px",
			"inherit": true
    }
	},`

I hear you, but this is a theme for a client with directi

[2021-11-17 02:21] mkaz commented on #36506
ok, I can duplicate this now using Local on Windows. I'll see if I can dig into more why.

[2021-11-17 02:40] chthonic-ds commented on #36506
I'm not sure if the diagnosis in https://github.com/WordPress/gutenberg/issues/33273#issuecomment-876965582 is correct, but  there was a similar script path issue in earlier releases of Gutenberg, too.

[2021-11-17 02:48] glendaviesnz opened #36554 "Gallery block: Image size select doesn't load if no image ids"
### Description

If a gallery consists only of external images, which have no WordPress id, then the Image size select in the settings panel gets stuck on loading.

### Step-by-step reproduction instructions

- Add a v2 Gallery  block (use Gutenberg > 11.9) with a couple of images
- Replace the images using the 'Replace' button in the block toolbar and enter an external image url
- Notice that the

[2021-11-17 02:59] mkaz commented on #36506
Good find @chthonic-ds thank you, that is the same issue. Working on a fix now.

I just confirmed in my test environment that:

 `ABSPATH . WPINC` => `C:/Users/marcu/Local Sites/wpbeta/app/public/wp-includes`

and

`$metadata['file']` => `C:\Users\marcu\Local Sites\wpbeta\app\public\wp-includes\blocks/navigation/block.json`

So the conditional check fails.

[2021-11-17 03:30] mkaz commented on #36506
I can't find the code in Gutenberg plugin, I'm not quite sure how it was migrated.
I created a ticket and patch with a fix on Trac at: https://core.trac.wordpress.org/ticket/54456

[2021-11-17 04:34] talldan commented on #36538
Thanks for the ping. Unfortunately, I don't know much about this, and can't recall how it works. I did do a search around the codebase and looked back through recent PRs, but can't locate anything relevant. Was it a setting in the block.json or the inner blocks? Also not sure if it was a setting on the parent or child block.

I think @getdave implemented the feature initially where the child block

[2021-11-17 04:35] bgardner commented on #36548
Huge fan of this suggestion. +100

[2021-11-17 04:40] talldan commented on #36535
It does work using arrow keys. I think the click-through overlay that template parts have is interfering with being able to select children. Maybe that shouldn't be active in select mode.

I understand the point though, escape does feel a lot more natural as a key for deselecting things, and I hear that a lot more computers have escape keys these days 😄

[2021-11-17 04:52] talldan commented on #36525
cc @tellthemachines @jasmussen. This seems like good feedback, I know there were recent changes to the way layout works, it this still a problem?

[2021-11-17 04:54] #36514 closed, assigned to Luehrsen

[2021-11-17 05:02] noisysocks commented on #36535
I'm very fond of how [Craft](https://www.craft.do) handles this. If you're typing, <kbd>Esc</kbd> enters select mode. If you're in select mode, <kbd>Esc</kbd> deselects all blocks.

https://user-images.githubusercontent.com/612155/142137137-395dc2a3-a95b-402b-9b0b-4463c6c53f15.mp4

When you combine this with <kbd>Enter</kbd> to edit a block and <kbd>Shift</kbd>+<kbd>Space</kbd> for _Insert Before_

[2021-11-17 05:05] noisysocks commented on #36473
We should also add validation to this field. Names containing a space don't work for me when I use the custom colour. (Might be browser specific, I'm testing with Safari.)

[2021-11-17 05:07] tellthemachines commented on #36525
Thanks for bringing this up!

Layout doesn't output these classes because we no longer need them to hook the styles to; the CSS is added dynamically. This is meant to save themes from having to create styles for all those classnames, but as always there are unintended consequences 😅

I'm thinking this is something that _could_ change, but it would be good to have some more concrete use cases for t

[2021-11-17 05:11] noisysocks commented on #30643
Yeah probably best to move this issue to Trac and fix it directly in Core.

[2021-11-17 05:35] #36502 closed, assigned to nobody

[2021-11-17 05:56] stevenjcoates commented on #12101
If this drives anyone as crazy as me here's some hacky admin css that _almost_ makes the meta box styling match the Gutenberg panels by matching font size/colour/weight and swapping to different dashicons for the toggles.

`.block-editor__container .edit-post-meta-boxes-area { border-bottom: 1px solid #e0e0e0;}
	.block-editor__container #poststuff .inside { margin-top: -6px !important; }
	.block-e

[2021-11-17 06:32] noisysocks commented on #35994
Just a note that we've restored the W menu in Gutenberg 11.9.1. This fixes the immediate problem people are having which is that they can't edit templates when running WordPress 5.8 + Gutenberg 11.9.

We're still exploring removing the W menu in favour of Appearance → Templates, etc. This will be a part of Gutenberg 12.0 and WordPress 5.9.

[2021-11-17 07:27] jasmussen commented on #36538
This used to be intentional behavior: docking to the parent block toolbar was important back when every block had a border around it, lest it became very noisy very quickly. The API created for it remains useful, I imagine, for a slew of blocks and use cases, so I appreciate that it was made.

Without the borders, though, there's definitely a disconnect in placement of the block toolbar. I think i

[2021-11-17 07:41] noisysocks opened #36556 "Overview of WP 5.9 pending issues and blockers"
# 👋 This list has served its purpose. Head over to the [WordPress 5.9 Must-Haves](https://github.com/WordPress/gutenberg/projects/62) project board to see block editor tasks for WP 5.9.

---

_Last updated: 14 December 2021_

🔺 Blocker for 5.9 Beta (_must_ be fixed before Beta1)
⚠️ Blocker for 5.9 Release (_can_ be fixed after Beta1, _must_ be fixed before RC preferably by Beta 4 to ensure include

[2021-11-17 07:51] turansadri commented on #36407
Things like this are extremely annoying when trying to create a site for clients with brand guidelines. No one wants the content editors to be able to use core colour palette for _anything_ and atm we are not able to remove it at all.

In how to guides theres option for "corePalette" and "coreGradients" showing but those are not included in JSON schema and they also don't work.

https://developer.

[2021-11-17 08:00] talldan commented on #36538
Ok, looked a bit more and found the change - https://github.com/WordPress/gutenberg/pull/34615

It seems like the change only affected the block when it's vertical. When horizontal the toolbar is still anchored to the parent.

So it isn't a regression, and I think we are now in feature freeze, but it is a small change so perhaps ok. I leave it up to the release lead.

[2021-11-17 08:10] fabiankaegy commented on #36407
@turansadri Hey there 👋

The fix to allow you to remove the Core Palette and Gradients has been merged into Gutenberg. That means that the next version of the Gutenberg Plugin will include that fix. It has also been marked as something that should get included in the WordPress 5.9 release.

The documentation in the Handbook is coming directly from the markdown files here in GitHub and therefore th

[2021-11-17 09:18] jameskoster commented on #29630
Certainly, when https://github.com/WordPress/gutenberg/pull/36379 is merged the Styles, Templates, and Template Parts links move from the Appearance menu in wp-admin to the W menu in the editor.

This was always the North Star, but it wasn't clear whether or not we could get it done in time for 5.9.

[2021-11-17 09:26] fluiddot commented on #36529
Not sure if this changed recently but I noticed that the HTML produced in the web version when creating a Media Text block is different from the one generated in the native version:

**Web version - Empty Media Text Block:**
[code]

**Native version - Empty Media Text Block:**
[code]

**Note that the web version introduces `"fontSize":"large"` attribute in the Paragraph component.**

[2021-11-17 09:32] oldrup opened #36560 "Copy Paste text into tabel, inserts space before and after pasted text."
### Description

I'm copying plain text into a table, and a space is inserted into the cell, before and after the pasted text. I then remove those spaces manually. Happens every time. It does not matter if I use Ctrl-C and Ctrl-V or use the context menu.

Is anyone able to reproduce that?

### Step-by-step reproduction instructions

1) copy some text from a paragraph
2) insert text into a table ce

[2021-11-17 09:50] oldrup commented on #36560
I just learned, that if pasting using Ctrl-Shift-V in Firefox, extra spaces are _not_ added. Not sure what to make of this - I would expect regular pasting a word or sentence, only to include exactly what I copied (no extra spaces), but it's a viable workaround to me.

[2021-11-17 09:54] hypest commented on #36526
I can reproduce on paragraph blocks as well, do you confirm Carlos?

[2021-11-17 10:00] fluiddot commented on #36526
Yes, I confirm it, I've just verified that it also happens in the Paragraph block too. Looks like the issue is affecting text blocks in general, probably the ones that use the `RichText` component. I'll update the issue's description to reflect this information, thanks for pointing it out 🙇 .

[2021-11-17 10:18] draganescu commented on #36524
Isn't that an explicit relationship if the block and the CPT share a string that links them?
Also what happens when the user creates more menus using the same block that has this single slug form? Do we increment them?

Should a theme author code in the slug? Since we infer this from the tree of parent blocks that should not be needed.

[2021-11-17 10:49] jameskoster commented on #36204
Now that it's confirmed that https://github.com/WordPress/gutenberg/pull/36379 will be included in 5.9 I think we can close this and its associated issues due to the fact that Appearance > Templates will no longer exist.

[2021-11-17 10:49] #36204 closed, assigned to nobody

[2021-11-17 10:50] jameskoster commented on #35991
Closing. https://github.com/WordPress/gutenberg/issues/36204#issuecomment-971457526

[2021-11-17 10:50] #35991 closed, assigned to nobody

[2021-11-17 10:50] jameskoster commented on #36352
Closing: https://github.com/WordPress/gutenberg/issues/36204#issuecomment-971457526

[2021-11-17 10:50] #36352 closed, assigned to kevin940726

[2021-11-17 10:56] jameskoster commented on #35994
Thanks to https://github.com/WordPress/gutenberg/pull/36516 it will be possible to edit templates once again in Gutenberg 11.9.1. And when https://github.com/WordPress/gutenberg/pull/36379 is merged for 5.9 the Appearance > Templates view will no longer exists. I therefore think it is safe to close this issue.

[2021-11-17 10:56] #35994 closed, assigned to kevin940726

[2021-11-17 11:04] #36205 closed, assigned to nobody

[2021-11-17 11:10] hypest commented on #36527
Hmm, I can't replicate on my iPhone 6s, iOS 15.1, WPiOS v18.7. Does it happen consistently for you Carlos?

[2021-11-17 11:19] jameskoster commented on #36535
While keyboard shortcuts can help make it easier to deselect blocks, they are not very discoverable. I'm not convinced that folks should be forced to rely on this, shouldn't there should be a more ergonomic mechanic?

It many software deselection is facilitated by clicking empty space. The problem in the Site Editor of course is that blocks at the root level generally span the full width of the la

[2021-11-17 11:32] fluiddot commented on #36527
Yeah, for me it happened consistently. Originally, I spotted this issue when copying/pasting the content from https://automattic.com/how-we-work/, specifically the block with text `Jobs` which contains this HTML entity.

<img width="900" alt="Screenshot 2021-11-17 at 12 26 21" src="https://user-images.githubusercontent.com/14905380/142192103-615e8685-7288-4ca3-93c3-26fe8a9bace1.png">

You could tr

[2021-11-17 11:37] Sandstromer opened #36563 "Site Editor: templates available in sidebar is limited to 10 in total"
### Description

With a theme that includes more than 10 templates, some of the templates are not available in the Site Editor left sidebar.

It seems to be that the templates are being sorted alphabetically, and all templates after the 10th item are dropped from the sidebar.

An example would be a theme that has the following 12 templates:
404
author
index
page
page-blog
page-contact
page-home
pa

[2021-11-17 11:38] javierarce commented on #36473
Depending on how much time we have to fix this UI, I can propose different solutions. Here's the quickest one:

Similar to what @annezazu proposes, I suggest adding a temporary color name using "color" plus the number of items on the list.

![image](https://user-images.githubusercontent.com/4933/142175524-cc045f9a-3962-42f9-af8e-512c8da5bba8.png)

The reason for this suggestion is that right now,

[2021-11-17 12:00] Sandstromer commented on #36563
Looks like in _core-data/index,js_ the `getQueryParts(query)` function has the _perPage_ attribute set at 10.

Don't know if increasing this number is something that can done, or we just have to live with some templates not being available for editing.

[2021-11-17 12:02] Sandstromer commented on #36563
Hopefully someone with more knowledge can answer whether increasing this would negatively affect performance elsewhere.

[2021-11-17 12:09] jameskoster commented on #30643
Trac ticket opened: https://core.trac.wordpress.org/ticket/54460

[2021-11-17 12:15] javierarce commented on #36545
If I'm not mistaken, we are not showing the segmented controls because of two problems related to the theme.json:

- We have a couple of items that use CSS properties to calculate their values (Large & Huge)
- We have a couple of items that contain a dot inside the size (Normal & Medium)

[code]

The first problem will require some design changes to show that those two values contain custom values

[2021-11-17 12:26] jameskoster opened #36566 "Make it possible to unset a featured image via the block"
I think we should revert #27291.

It seems perfectly reasonable to offer folks a way to unset the featured image via the block itself. Otherwise one has to go into the post settings of the Inspector to do so. That might involve quite a journey if you're editing something like a query in the Index template!

It would be much more convenient to do this via the block.

[2021-11-17 12:29] javierarce commented on #36545
Here's a couple of ideas:

The first one is more complicated technically (and maybe impossible to do). It would require calculating a value (in the case of a `clamp` function, the lower limit) and showing it with an asterisk to indicate that it's a special kind of number (= dynamically calculated).

The second idea is easier to implement: we simply show the initial letter of the name. In case two

[2021-11-17 12:34] bmehta commented on #29720
We are seeing the exact same behavior as shown in the giphy above. It is also reproducible at https://wordpress.github.io/gutenberg/?path=/story/components-datetimepicker--default after navigating to `Knobs` at the bottom and checking `Is 12 hour (shows AM/PM)`.

[2021-11-17 12:38] #31989 closed, assigned to carolinan

[2021-11-17 12:50] hypest commented on #36527
Hmm, still not replicating for me. Here's a video of my attempt copying from "how we work":

https://user-images.githubusercontent.com/1032913/142203516-6ddcf1d4-e969-4dfb-95f9-b7940fb855c9.mp4

By the way, I'm not seeing the "Jobs" heading, and looks like the "How We Work" bullet is repeated twice?

[2021-11-17 12:54] #36530 closed, assigned to jameskoster

[2021-11-17 12:55] carolinan commented on #36548
I disagree with changing the existing folders for one point only and that is the existing themes and existing documentation.
The folder structure is already established.

I agree that having a pattern folder is a good idea, but then again the same problems with the naming as in #34550 will happen, and some developers will feel limited by this.

Please consider that developers have been developing

[2021-11-17 13:02] paulwilde commented on #36525
One issue that the `blockGap` setting has is that you cannot tweak it for different breakpoints. This is a big problem with Gutenberg in general as it has no proper grid system or breakpoint specific settings, whereas with a CSS class you have full control in how that navigation will look based on the area of the page it's actually located or the current breakpoint you are viewing it at. A horizon

[2021-11-17 13:03] kafleg commented on #36548
I totally agree with @carolinan here.

[2021-11-17 13:12] a4jp-com commented on #30470
Is there anyone that can look at this problem?

[2021-11-17 13:16] ndiego commented on #27941
Post the 5.9 release, I feel this issue should be revisited. The ability to export Global Styles will be extremely useful in a FSE world.

[2021-11-17 13:26] anarieldesign commented on #27941
I agree 100% with @ndiego. I was preparing our theme shop to switch totally to FSE theme with different demos but without the ability to export and import Global Styles, this is going to be hard.  I'll try to find some other way around it :). I thought it would be possible to export it like post, pages, templates but unfortunately is not the case. Thank you all for your hard work.

[2021-11-17 13:33] jameskoster commented on #36533
We've tried a number of approaches here:

* A dotted outline on the ancestral template part container. (Removed in https://github.com/WordPress/gutenberg/pull/35637)
* A spotlight-esque effect that dims blocks outside the template part. (Still active)
* Displaying the template part name in the top bar. (Still active)
* A combination of all of these :)

At this point I would like to _try_ making it

[2021-11-17 13:34] Mamaduka commented on #36566
I can create PR for this shortly if no one else is working on it.

[2021-11-17 13:52] jameskoster commented on #36533
Related: https://github.com/WordPress/gutenberg/issues/35079

[2021-11-17 14:04] tex0gen opened #36568 "Saving post adds px unit when using useBlockProps.save"
### Description

I'm using a range slider to set a numeric value to control the opacity of a div.
Console.log shows a number when saving the attribute so no issue there.

When adding the number to block style using:

[code]

Therefore, output of the above should be...

[code]

Instead, when the post is saved, the value of `--opacity` becomes `1px` in the code.

[code]

### Step-by-step reproductio

[2021-11-17 14:14] kafleg opened #36569 "Global Styles: Make Blocks section more distinguishable"
## What problem does this address?
At first please see this image,
![image](https://user-images.githubusercontent.com/13062231/142216575-7c16e428-c603-4bda-90a9-e756b4f026fd.png)

In the style section of blocks, there is a text named Blocks but it is clickable and can open block list. But, it's not appearing like button or clickable things. It simply display like text. We can make it even better t

[2021-11-17 14:17] Mamaduka commented on #36380
@fullofcaffeine, the "Navigation Panel" was restored in 11.9.1 (#36516) and now running the following selector returns values from the state:

[code]

I've not done a git bisect for this issue myself, but I don't think #35802 changed anything based on this.

[2021-11-17 14:26] bajoski34 commented on #25417
is this still a thing?

[2021-11-17 14:31] adamziel commented on #36524
Great questions @draganescu and @talldan! I think the concept of slugs addresses these specific problems, but let's keep going – I'm just as curious as you.

It's the same as with numerical IDs. You'd just have two navigation blocks referring to the same slug.

Implicit/explicit thing is debatable. When you add a new navigation block in the header, it takes a slug like `header` by default. When yo

[2021-11-17 15:08] critterverse commented on #36546
I’m removing the `Needs Design` tag as this should follow the original design presented in [#34574](https://github.com/WordPress/gutenberg/issues/34574) and build off what's already been built for the Color panel.

Some notes from the original issue:

![132198372-2a31e45c-4e40-4acd-aae1-291528195b0f](https://user-images.githubusercontent.com/77359364/142219527-be4b6e93-1a5d-4060-9302-c51b9c19b0ad.

[2021-11-17 15:26] colorful-tones commented on #36473
There may be some overlap here with [Color naming conflict for theme variables #36360](https://github.com/WordPress/gutenberg/issues/36360). Especially with mention of color name validation.

[2021-11-17 15:27] ockham commented on #36096
PR to fix this behavior here: https://github.com/WordPress/gutenberg/pull/36573 (but that doesn't fix the issue entirely).

[2021-11-17 15:29] vcanales commented on #29417
It is, I'll try to wrap up ASAP — I got sidetracked while I was in the process of implementing some of the final suggestions.

[2021-11-17 15:30] xknown opened #36574 "WP_Theme_JSON_Resolver_Gutenberg::get_user_data_from_custom_post_type uses uncached SQL queries"
### Description

We noticed a few performance related issues in big multisite WP site related to the uncached queries used in `WP_Theme_JSON_Resolver_Gutenberg::get_user_data_from_custom_post_type()`. While there's some caching done at the class level, it'd be good to use object caching to avoid unnecessary SQL queries triggered by the call to `wp_get_recent_posts`.

### Step-by-step reproduction

[2021-11-17 15:36] mkaz opened #36575 "Navigation: Automatically name menus and remove "Save as" button from toolbar"
The navigation block saves its content to a custom post type, this helps persist it across classic and block theme switches. This mechanism to save should not impede the user flow when creating a menu.

This was discussed in a different PR, pulling out @mtias comment from https://github.com/WordPress/gutenberg/pull/36169#issuecomment-961082096:

Menus can be renamed in the inspector, not in the to

[2021-11-17 15:38] francescamarano commented on #36548
I can't comment on the technical solution, which seeing from the comments is definitely welcome.

But today, Beta 1 of WordPress 5.9 is being released and this is a Feature, which should have been proposed and merged before November 9th.
In addition, as @carolinan mentioned, developers - yes, not many - but some developers have been building block themes for a year now, and introducing this will b

[2021-11-17 15:48] spacedmonkey opened #36576 "Create a legacy menu block"
## What problem does this address?

The current navigation block is not backwards compatible with existing menu / menu item code. This means that current implementations that filter / change menus, will not work.

## What is your proposed solution?

Add a new legacy navigation block, that allows user to select menu a dropdown and have the menu be rendered server side with `wp_nav_menu` that would

[2021-11-17 15:52] fluiddot commented on #36527
Oh sorry, I think I overlooked that two blocks have the same title 😅. The blocks I was referring to are the ones selected in the following screenshot:

<img src=https://user-images.githubusercontent.com/14905380/142234056-6cd38bba-bc1f-475f-943f-537054246a6c.jpeg width=400>

[2021-11-17 15:55] Addison-Stavlo commented on #36556
Add templates list page for site editor #36379
 [FSE] Update "Customize" link from Appearance > Theme page for block themes #30643
 Move Theme Editor to Tools when a block theme is active #36354
 [Block Themes] Consider an FSE-compatible approach to starter content #35680
 Add a timeout for the in-between-inserter for cases where the onmouseout isn't invoked #35536
 Make it easier to unselect bloc

[2021-11-17 15:55] harisrozak commented on #15147
Nice catch!, so for now, we can programmatically toggle the "Tags" panel to achieve the right behavior, maybe something like this:

[code]

[2021-11-17 16:45] mtias commented on #36548
The volume of current block themes out there pales in comparison to what we'll see over the next year once it's released in core, so I think we should consider this a good time to evaluate our decisions so far if we can improve upon them without much disruption. We can retain aliases and ensure everything still works while establishing a better structure for the years to come. One of the main poin

[2021-11-17 16:51] mtias commented on #36544
@shaunandrews can you clarify what would open when clicking "welcome guide" in your suggestion? Because there's already a welcome guide attached to the site editor.

[2021-11-17 16:57] shaunandrews commented on #36535
Ah, maybe that's a bug then, because in the site editor select mode with arrows _feels_ broken.

We can definitely learn a lot from Craft. The way it handles edit/select modes is intuitive and also more abstract from a UI perspective; There are no buttons or anything for triggering modes, just a natural feeling combination of key commands.

I considered it at first, but I don't think its a good id

[2021-11-17 17:03] mtias commented on #34041
I think this is mostly covered. There are a few lingering things we can treat separately (name of menus, using the heuristic of only-link-items to determine whether a post type is created, etc).

Thanks for all the work here!

[2021-11-17 17:03] #34041 closed, assigned to nobody

[2021-11-17 17:10] jasmussen commented on #36535
Good list, Shaun.

If Escape deselects blocks, we can use any key without modifiers, such as `v` which in many apps is used for the Arrow/select tool.

That said, this could be a big change, and so if we need an interim step, we could just start with just this one:

With this in, you'd press Esc Esc (twice) to deselect.

[2021-11-17 17:22] shaunandrews commented on #36544
Its not clear to me what the distinction is between the two guides. Right now, when I click "Appearance -> Editor" and "Appearance -> Styles" I see the "Welcome to Styles" guide. It seems the only way to trigger the Site Editor guide is to close the styles sidebar. Its really finicky and the logic is not at all obvious. Here's the how I first encountered both guides:

1. I went to the "Appearance

[2021-11-17 17:22] #36136 closed, assigned to nobody

[2021-11-17 17:23] jameskoster commented on #36535
Agreed. It's worth noting that this issue is much less prevalent in that context as there is generally plenty of empty space to click:

https://user-images.githubusercontent.com/846565/142250239-cefb4042-f7f9-4418-8cb9-4f4fc247b80f.mp4

[2021-11-17 17:24] mtias opened #36578 "New user experience with TT2"
The first time experience of loading a new installation of WP trunk with TT2 is not great. The welcome message encourages the user to go to a screen that has been removed from the main navigation (customizer) and doesn't mention anything relevant about blocks, styles, and patterns.

![Screenshot 2021-11-16 at 11 21 50](https://user-images.githubusercontent.com/548849/142249324-ebaede68-5e0f-42df-a

[2021-11-17 17:26] mtias commented on #30643
I expanded more about it in #36578, but it's not just updating the big blue button, it's about revising the welcome guide in the context of what the new features are — blocks, patterns, styles. Several of the side links could be modified as well (like menus).

[2021-11-17 17:38] jameskoster commented on #30643
Oh I agree we should do all of that. But atm the the button(s) feel like a bug when you have a block theme active, and so perhaps warrant a dedicated effort?

[2021-11-17 17:58] javierarce commented on #36544
I like the idea of having two entry points for each guide since it's confusing that the same button triggers a different one depending on whether the styles are toggled or not.

Having just one guide could work, but there's a significant imbalance on the content right now: an inner functionality of the site editor (styles) presents more information than the general guide. So if we wanted to merge

[2021-11-17 18:07] overclokk commented on #34550
There is no need to be filterable, `get_template_part()` works as is without a filter, you just insert the relative path to a template you want to include an that function include it so why the behavior of `wp:template-part` is different?

I also add that `wp:template-part` adds an html wrapper outside of the template included when the `get_template_part()` does not, why?

[2021-11-17 18:39] overclokk commented on #36548
I'm suggesting to remove completely the needs to use any directory names in particular and let the theme developer to chose the one that works well for him/her, so `wp:template-part` can work similar to `get_template_part()` the only thing you can add is a deprecation notice for who still use the older structure (and the code to not break those themes), no filters needed.

Also for the other 2 poi

[2021-11-17 18:39] studionenontwerp commented on #28429
Also wp.data.select( 'core' ).getMediaItems( {include: ids } ) returns NULL if one of the ids does not exist any more.

[2021-11-17 20:00] ockham commented on #36096
Here's an e2e test for this issue that I wrote (based on an existing one). Note that it doesn't actually fail (it just prints the `TypeError` to the console from which it's run, but passes). I hope it'll still come in handy in attempting to fix this issue, and later prevent it from re-appearing.

(I _think_ that the runtime JS error is eaten by `@wordpress/jest-console`. I thus added `expect( cons

[2021-11-17 20:50] connah99 commented on #36578
I think we should be wary of changing the welcome banner too much, as it serves a good general purpose. By having a few, more relevant, links it should still serve as a good introduction.
If a what's new section was added, it would give an introduction to new features, and allow a short explanation of what they do. Otherwise, I don't think just adding a few extra links would do much to help an ord

[2021-11-17 21:33] ramonjd opened #36583 "List view: scroll to selected element"
## What problem does this address?

The Block List's current behaviour is to highlight the item in the list that corresponding with the selected block in the editor.

When using the Block List to navigate around very long posts however, especially those that have plenty of nested blocks, the highlighted Block List item might be hidden deep within the scroll overflow.

https://user-images.githubuse

[2021-11-17 21:52] dashkevych commented on #20801
I've tested this feature using **WordPress 5.9-alpha-5219**2, and it looks like the options adds `style="text-transform:uppercase"` to the element to change text to uppercase.

Is it possible to use CSS class instead of inline styling for the letter case?

Maybe something similar that we have right now for the **text alignment**: `has-text-align-left`, `has-text-align-center`, `has-text-align-righ

[2021-11-17 21:59] ramonjd commented on #36501
Should it be the same as the navigation icon, or a variant of it?

<img width="232" alt="Screen Shot 2021-11-18 at 8 56 04 am" src="https://user-images.githubusercontent.com/6458278/142288821-22248bce-061f-460e-a48e-52d8fd7976ad.png">

I can't see anything in the [available icons](https://wordpress.github.io/gutenberg/?path=/story/icons-icon--library) that would be the perfect substitute.

Somethi

[2021-11-17 22:08] ramonjd commented on #36418
I can confirm this happens in the Post Editor as well

https://user-images.githubusercontent.com/6458278/142290061-1495e0a7-cc2c-44e8-9c41-94cfb7c3c199.mp4

[2021-11-17 22:13] metropoliscreative commented on #36365
This functionality should be optional. I don't see any real benefit to forcing anchors on all headings automatically - it's very easy for conflicts to occur on short headings and very messy on long headings.

[2021-11-17 22:16] ramonjd commented on #36418
I think it's related to the [hover callbacks](https://github.com/WordPress/gutenberg/blob/034cd9f299fbdf6afb3dcc62ad7986df3ff5a840/packages/components/src/box-control/all-input-control.js#L111) on `<BoxControl />`.

[code]

After commenting them out I can no longer reproduce the issue.

You can see the effect for margin and padding support controls, but not spacing, which uses `<UnitControl />`

_

[2021-11-17 22:20] francescamarano commented on #36548
Sad but true 💔

Thanks for the clarification, I appreciate it!

[2021-11-17 22:47] jeyip opened #36586 "Full Site Editor: Applying background color also updates content padding"
### Description

Applying background color to blocks (list, paragraph, header template part, etc.) adds padding to the block's content area.

![2021-11-17 12 09 25](https://user-images.githubusercontent.com/5414230/142274917-1b2984bd-b0d4-475b-8fee-11b83b27a0a1.gif)

After some investigation, I discovered that this is intentional ([example for the list block](https://github.com/WordPress/gutenberg

[2021-11-17 22:56] ramonjd commented on #36418
I've thrown up a [PR](https://github.com/WordPress/gutenberg/pull/36587) just in case doing this is okay (for now). I can't see any side effects so far – I see no usage of `Visualizer`, but I'm not an expert. cc @aaronrobertshaw for advice.

[2021-11-17 22:57] jeyip commented on #36586
@jameskoster @jasmussen Not quite sure who the right folks are to tag for this, but y'all came to mind. Feel free to let me know if I should be getting in touch with other people 🙂

[2021-11-17 23:08] ramonjd commented on #20801
👋

Many of the block supports add inline styles to a block's container element, for example, padding, margin and other typography settings.

One advantage is that inline styles provide high specificity, which is great since user-defined values will override any theme defaults, which, I believe, is the intention.

Is there a specific reason for using a CSS class in this instance?

[2021-11-17 23:12] kellychoffman commented on #36545
Nice!

Some feedback:

If we can do the first version, I would remove the `*`. Even though it's dynamically generated, I'm not sure its imperative the user knows that. Unless I am missing something.

For the second version, I think mixing numbers in with letters in the same UI is a bit too confusing. I would do one or the other. Something along the lines of:
<img width="389" alt="Screen Shot 2021-

[2021-11-17 23:35] noisysocks commented on #30643
Thanks @jameskoster. Closing in favour of https://core.trac.wordpress.org/ticket/54460. Let's continue discussion there.

[2021-11-17 23:35] #30643 closed, assigned to jameskoster

[2021-11-17 23:40] noisysocks opened #36589 "Hide Navigation Menus WPAdmin menu item"
_Appearance → Navigation Menus_ isn't a particularly useful screen right now. For each Navigation, you can only edit the title or delete the menu.

We could consider hiding Appearance → Navigation Menus for WP 5.9.

Or, if possible, we could consider linking each Navigation Menu to an isolated template part editor.

<img width="1228" alt="Screen Shot 2021-11-18 at 10 43 24 am" src="https://user-im

[2021-11-17 23:44] noisysocks commented on #36589
Is this feasible? @talldan @adamziel @getdave

[2021-11-18 00:02] ndiego commented on #36545
@kellychoffman for the font size hints with decimal points, I already have a PR ready for that, just needs final approval: https://github.com/WordPress/gutenberg/pull/36420 Obviously a more technical solution for calculating values that include `var`, `clamp` etc is needed down the line.

[2021-11-18 00:11] noisysocks commented on #35680
I think as far as WP 5.9 goes we can bump this in favour of https://github.com/WordPress/twentytwentytwo/pull/243. We should continue to work on alternatives to starter content for future releases though.

[2021-11-18 00:16] noisysocks commented on #36578
Closing this in favour of:

- https://core.trac.wordpress.org/ticket/54460 for changing the Customize link and Welcome Box
- https://github.com/WordPress/twentytwentytwo/pull/243 for updating TT2 to have a better first experience

[2021-11-18 00:16] #36578 closed, assigned to nobody

[2021-11-18 01:24] talldan commented on #36524
So I have a slug `header-index-navigation` in my header, and `header-index-navigation` in my footer. How does this help my menu data transfer correctly when switching themes or inserting a new footer pattern/template area? It seems like the new footer will be expecting a slug of `footer-index-navigation`.

[2021-11-18 02:17] talldan commented on #36501
Lets hold off on this, as it looks like this block might be removed - #36524.

[2021-11-18 02:25] mkaz commented on #36575
Is this a duplicate of #36524? It looks like the proposed solution in that issue would solve this, we can close this since there is more discussion and background there.

[2021-11-18 02:43] talldan commented on #36589
I don't have a good understanding of how the isolated template part editor works, haven't been involved in it. But I'm guessing it shows an editor that uses `useEntityBlockEditor`.

If so, the things to solve are:
- The navigation block has specific constraints for its inner block types, defined using `allowedBlocks` and `parent` properties. A generic editor for the nav block's inner blocks curren

[2021-11-18 03:12] tellthemachines opened #36593 "Remove "Save as" button from Navigation block toolbar"
## What problem does this address?

If a theme inserts a Navigation block as part of a template, when viewing it in the editor, a "Save as" button appears in the block toolbar, like so:

<img width="434" alt="Screen Shot 2021-11-18 at 2 06 00 pm" src="https://user-images.githubusercontent.com/8096000/142344812-aa794a67-0cf3-444f-9dbe-069b5417376e.png">

This can be confusing for users (no other bl

[2021-11-18 03:15] tellthemachines commented on #36593
Closing as duplicate of #36575

[2021-11-18 03:34] talldan commented on #36575
@mkaz #36524 is about changing the menu id to be a `slug`, and automatically generating that slug based on where the block is rendered (I imagine from the template part area that the block is within).

At the moment, the menu name is a separate thing (a post title). It's unclear to me whether the idea is to remove the menu name and only have a slug. Maybe that's the case, if it is this can be clos

[2021-11-18 03:42] talldan commented on #36589
I see now you're probably talking about the isolated editor in the context of this - https://github.com/WordPress/gutenberg/pull/36379#issuecomment-971301214

[2021-11-18 04:22] annezazu commented on #36563
Apologies for the labeling chaos :D I didn't think I'd have time to test after initially being unable to replicate and then did have time.

I can replicate this and, further, the search functionality shows no results:

https://user-images.githubusercontent.com/26996883/142351246-c1b88b5f-7c1e-4e4f-8574-c84caa6ee651.mov

[2021-11-18 04:24] annezazu commented on #36563
@Copons do you have any insight here since you've done lots of work here? :)

[2021-11-18 04:26] annezazu commented on #36482
Hi @agatheschmidkoenig! Thanks so much for both testing this out and for filing your first issue. I tried to replicate this but am not able to. By chance, can you try deactivating all other plugins except Gutenberg and trying again? I can see in the screenshots you shared that other plugins are activated so it would be helpful to rule those out first :)

[2021-11-18 04:30] annezazu commented on #36469
Thanks for reporting this! Flagging for some devs who might be able to share some insight. I can confirm the navigation block isn't an option in the block widgets editor but I do see a Navigation Menu option that allows you to add in a menu. I wasn't able to see at a glance any PRs that might have impacted this recently but could be missing some insight!

[2021-11-18 04:37] zackkatz commented on #18523
I'm adding my vote for `Option + Space` on the Mac.

[2021-11-18 04:37] annezazu commented on #36563
Removing from 5.9 project since this approach is being worked on for 5.9 and it will resolve this issue by providing a different experience to view all templates: https://github.com/WordPress/gutenberg/pull/36379 Still feels wise to address going forward in the navigation component if the full blown component returns in the future.

[2021-11-18 04:39] annezazu commented on #36451
Hey @CHEWX! Thanks for opening this. There's a lot of discussion around the + block in general happening in this issue: https://github.com/WordPress/gutenberg/issues/26404 To better consolidate and move the conversation forward, I'm going to close this out as a result so the conversation can continue there.

[2021-11-18 04:39] #36451 closed, assigned to nobody

[2021-11-18 04:42] annezazu commented on #36487
@ryanwelcher not sure if you have some insights to share here?

[2021-11-18 05:06] #36515 closed, assigned to Mamaduka

[2021-11-18 05:27] aaronrobertshaw commented on #36418
Other than the spacing block supports, the Cover block also utilizes the box control's `Visualizer`.

I believe other blocks have already had their visualizers removed in favour of waiting for the general approach to visualizers to be updated. The plan there was to explore using popovers or something along those lines as visualization of margins is problematic at the moment and generally forced a

[2021-11-18 05:42] youknowriad opened #36594 "Full Site Editing: Ensure that the site editor canvas loads only after the global styles are ready."
### Description

An attempt to fix this has been done in #36044 that said, it seems it is still possible to experience this in some situations. Basically when you load the site editor, the canvas should only be rendered with the correct styles directly. While right now, it's possible to actually see the canvas unstyled for some milliseconds and then the global styles get applied.

### Step-by-step

[2021-11-18 05:52] youknowriad commented on #36418
I think the main issue here is that the visualizer relies on block attributes to keep its state which should be just local state. I believe @mcsf also had identified this and may have had solutions proposed somewhere.

[2021-11-18 06:07] aaronrobertshaw commented on #36418
Thanks, agreed. I should have added further detail to my comment, sorry.

The use of block attributes has been discussed as the cause of this issue on @ramonjd's PR: https://github.com/WordPress/gutenberg/pull/36587#issuecomment-972525467. It also causes a separate issue (https://github.com/WordPress/gutenberg/issues/31839) where that visualizer data is persisted within the block attributes on sav

[2021-11-18 06:11] Mamaduka commented on #28429
Hi, @studionenontwerp

This issue should be fixed in the latest Gutenberg plugin and will ship with WP 5.9.

P.S. `wp.data.select( 'core' ).getMediaItems( {include: ids } )` might return `null` on first invocation, if data isn't in state. Calling it second time will return results. This is automatically handled by `useSelect` hook.

[2021-11-18 06:13] Mamaduka commented on #15147
Sorry forgot to post an update here. The issue should be fixed via #33459 and available in Gutenberg 11.9.

[2021-11-18 06:13] #15147 closed

[2021-11-18 06:14] #36566 closed, assigned to Mamaduka

[2021-11-18 06:14] youknowriad commented on #36418
For me visualizers are very important in terms of UX and we should look at ways to increase their usage in our code base.

The reason they're not used more extensively is because the way they're implemented, they forces you to have extra DOM wrappers in a lot blocks if you want to add them. I'd love personally if we solve this and increase their usage either by using a "Popover" to render them or

[2021-11-18 06:18] fabiankaegy opened #36595 "The `block_editor_settings_all` filter does not get applied everywhere"
### Description

The `block_editor_settings_all` allows you to hook into the editor settings generated by the theme.json file and override them. It doesn't get applied everywhere though. For example when trying to change the `contentSize` and `wideSize` values for a specific post type that currently isn't an option in the `theme.json` file the setting doesn't make it's way to the editor correctly.

[2021-11-18 07:46] gziolo commented on #36096
@ockham, there is a code that should catch the errors and warnings printed on the Browser Console:

https://github.com/WordPress/gutenberg/blob/4384d9c942fe5e5e5767fc9c1c9db9b9ad526e6f/packages/e2e-tests/config/setup-test-framework.js#L106

The check you included in the example operates only on the test suite scope. It would catch issues triggered in the code executed by Jest. That’s why we listen

[2021-11-18 08:10] kevin940726 opened #36597 "[Site Editor] Templates list screen overview"
Based on the design in https://github.com/WordPress/gutenberg/issues/29630#issuecomment-954159446, derived from TODOs in https://github.com/WordPress/gutenberg/pull/36379. Here are the list of tasks we should do for the new Templates list screen.

👀 Needs design
🔺 Blocker for 5.9 Beta
⚠️ Blocker for 5.9 Release

### 🔨 &nbsp; Features

- [x] "Add New" button hasn't been implemented (#36592) (🔺 )

[2021-11-18 08:20] carolinan opened #36598 "page list submenu button is missing an accessible name"
### Description

When a navigation block does not have the option "Open on click" enabled, sub menu items open on hover.

Sighted keyboard users can open the submenu by tabbing past the link of the parent menu item to the button, and activate the button.

Screen reader users can navigate to the button, but the only notification is "button collapsed", which is not enough information.
The button has

[2021-11-18 08:38] jasmussen commented on #36586
I think the issue is valid and needs a good solution, but that there likely isn't a quick fix to this one.

The way I'd like to see it working is that the explicit border that is attached to the `has-background` is removed and deprecated, and instead that all of these blocks are given access to the Dimensions panel and the padding control it comes with. Instinctually I'd still think it valuable fo

[2021-11-18 08:40] #36440 closed, assigned to jasmussen

[2021-11-18 08:42] carolinan opened #36599 "Page list button inherits default button element styles"
### Description

When a navigation block with a page list has the "Open on click" setting enabled, menu items that have submenu items are HTML buttons. The buttons inherit the browser default HTML button style.

For navigation blocks without a page list, the following style is printed:
[code]
What I mean is that the CSS for the button style is not included for the page list.

### Step-by-step repr

[2021-11-18 08:51] ramonjd commented on #36418
I'd lean towards flipping them to "off" until we get https://github.com/WordPress/gutenberg/pull/33560 or whichever other solution across the line.

It's a small and inexpensive change to remove incongruent behaviour in the editor.

Moreover, if folks start using the Visualizer in its current state (beyond the current usage in Cover), then it might make implementing a potential, future solution mo

[2021-11-18 09:19] carolinan opened #36600 "The navigation block is difficult to locate and use with a screen reader"
### Description

This issue refers to the markup of the navigation block on the front of the website.
During the testing, the navigation block setting "overlay menu" is set to mobile which is the default.

When you use a screen reader to navigate between the elements on the page, the markup of the navigation block is unexpected and confusing.
The list appears to be inside a dialog, and there is no

[2021-11-18 09:25] aaronrobertshaw commented on #36586
https://github.com/WordPress/gutenberg/pull/34465 won't help much directly. It aims to leverage access to the Global Styles set [via a new proposed API in the block editor](https://github.com/WordPress/gutenberg/pull/34178). It needs access to those styles as the block editor otherwise wouldn't be able to intelligently determine when it should override a border style or not.

As Joen notes, the pa

[2021-11-18 09:41] carolinan commented on #28785
I am no longer able to reproduce this, closing.

[2021-11-18 09:41] #28785 closed

[2021-11-18 09:56] adamziel commented on #36524
It doesn't. Only the header navigation would transfer correctly and the footer one would require a manual intervention. I believe @mtias's argument is that:

* A fully automated transfer would have shortcomings anyway
* This is a larger FSE problem that would require a kind of "conflict resolution" feature in a future WP version
* Instead of automating as much as possible today, let's acknowledge

[2021-11-18 10:10] ntsekouras commented on #36470
There is `should_load_remote_block_patterns` filter that themes can use to hide the core patterns. I think having a flag in the preferences doesn't actually solves the issue described.

[2021-11-18 10:28] andrewstaffell opened #36603 "site logo block throws division by zero error when using SVG"
### Description

It's minor but seems to be a result of the attribute width / height being returned as false for SVGs.

The error is:
[code]

That line is:
[code]

### Step-by-step reproduction instructions

1. Install [Safe SVG](https://wordpress.org/plugins/safe-svg/) or any other plugin that allows SVG uploads
2. Insert site logo block
3. Try uploading an SVG
4. View on front end

### Screensho

[2021-11-18 10:34] Copons commented on #36563
@annezazu As @Sandstromer said, it's a matter of `per_page` when fetching the templates for the sidebar.
We originally used `per_page: -1`, which requests _all_ the templates (expensive, but back then we deemed it reasonable with the assumption that folks might not have hundreds of templates).

That parameter got removed in https://github.com/WordPress/gutenberg/pull/36044/files#r738414102 because

[2021-11-18 10:41] carolinan commented on #36306
I believe this issue can be closed since navigation areas are being reverted.

[2021-11-18 10:44] talldan commented on #36524
This is information that I personally am unaware of, the constraints here need to be made clearer so that developers can make better decisions.

[2021-11-18 10:45] #36306 closed, assigned to talldan

[2021-11-18 10:49] andrewstaffell opened #36606 "Site Logo: Align center doesn't work"
https://github.com/WordPress/gutenberg/blob/0c5e279cf4bb0e80d1b310dfbaf409046b2627a3/packages/block-library/src/site-logo/style.scss#L21

This leaves it left-aligned for me?

I don't get why it needs `display: table`. This seems to work better:

[code]

Also `aligncenter` is appearing twice in the classes for the block:
[code]

[2021-11-18 10:52] getdave commented on #36524
Dan I think this was my biggest take away. My (_previous_) understanding was that we needed a hands-free solution that would work automatically in all cases without user intervention.

What I'm hearing _now_ is that it's acceptable to require manual intervention (in the Editor) _if_ the **front end** (of the site) shows a sensible / practical fallback.

The overall thread is now:

* Theme switchin

[2021-11-18 11:03] Jamesiewaimsy opened #36607 "Block becomes unusable with error "This block has encountered an error and cannot be previewed""
Hi

im having an issue when I edit a page "This block has encountered an error and cannot be previewed" I have read all the forums and youtube

It was working last week and then just stopped.

Page
https://sevensoda.com.au/available-products/

[2021-11-18 11:08] getdave commented on #36576
Thanks for raising this @spacedmonkey.

So this would effectively be an opt out similar to `Classic Widgets`? It would allow the user to use a block in FSE that would render their menu as it was in a classic Theme using `wp_nav_menu()`.

## Questions:

- Do you see this living in Gutenberg Core or as a Plugin?
- What danger is there that by offering this, we lose (water down) the opportunity to pu

[2021-11-18 11:28] talldan commented on #36524
I don't think any of that means that encoding information in a slug is the best solution.

It is absolutely possible to achieve all of that, but still keep the `wp_navigation` decoupled from the block. The answer would be  to continue using site options as a map from template part area to menu id. That's the solution I actually wanted from the start ([#35750 (comment)](https://github.com/WordPress

[2021-11-18 11:28] agatheschmidkoenig commented on #36482
Thank you so much for your answer (unfortunately i made the shoots above too early, although i testet after that with turned-off-plugins). Anyway after the latest gutenberg-release now there appears nothing more than white - hmmm, formerly there still was the side-bar. But still this non-working is just at one of my two hosting-platforms. Please let me know if i kann add further information. ;-)
!

[2021-11-18 11:31] kjellr commented on #35680
That makes sense to me too. I think we’ve got it covered for now in https://github.com/WordPress/twentytwentytwo/pull/243.

[2021-11-18 11:38] Mamaduka commented on #36545
@javierarce, I'm moving this issue back to the To-do column. The "Needs Review" is mainly for PRs.

[2021-11-18 11:44] javierarce commented on #36545
Oh, thanks @Mamaduka, I didn't know that! 😓

---

The only problem I see with that approach (showing a number that was dynamically calculated without any indication of its nature) is that a user could select 48, visit the site and see a totally different size. Also, the result of calculating the dynamic value could be smaller or equal to any of the fixed values. So that's why I think it's importan

[2021-11-18 11:47] aristath commented on #35912
Yes, it's normal. We haven't (yet) applied to JS the same optimizations we've applied to CSS, that is a work in progress and will land at some point. 👍

[2021-11-18 11:48] getdave commented on #36524
I agree. I'm not advocating for slugs.

This sounds like a good objective.

How easy is it to explore this?

Lastly - should we prepare a revert PR for Navigation Areas in case none of this comes to fruition in time? I'm not clear on the protocol.