[2022-04-28 13:44] ciampo commented on #38934
Update:

From the [original issue description](https://github.com/WordPress/gutenberg/issues/38934#issue-1145007194), @mirka and I **tackled all points except the one about removing the heading separator**. I kept the original description up to date with references to all of the PRs that we merged for each point.

Regarding the heading separator, I agree with @jasmussen 's [message](https://github

[2022-04-28 13:44] #38934 closed, assigned to nobody

[2022-04-28 14:34] nextgenthemes commented on #40603
I had an error in my code, it actually _does_ work, just not as expected, maybe it's intended.

`enqueue_block_editor_assets` loads the CSS on the top level document of the FSE. And `add_editor_style()` injects it inside the iframe for the site.

[2022-04-28 14:38] jhnstn opened #40690 "Inserter: Inserting a block on a long post fails to scroll to the new block"
## Description
When inserting a block to the end of a long post the editor fails to auto scroll to the newly inserted block.
In some cases the auto scroll enables after manually scrolling the post for a few pixels. This can be noticed when inserting a paragraph block. In this case however the keyboard flickers open and closed. In other cases the block menu will open after manually scrolling but th

[2022-04-28 14:41] LukaszJaro commented on #40686
Just adding this as it's related with incorrect tab order, hopefully shared solution can be found https://github.com/WordPress/gutenberg/issues/38537

[2022-04-28 15:15] Nyiriland opened #40692 "Improve Colour Picker Copy and Pasting UX"
## What problem does this address?

**Better UX for pasting/copying colours within the colour picker. Below is a Figma mockup.**

![image](https://user-images.githubusercontent.com/3835008/165783922-94c0399f-c1b9-4d07-ba52-066d5f8e286f.png)

## What is your proposed solution?
**See above screenshot.** Essentially:

- Colour picker opens with "detailed inputs" mode already active
- "Show detailed i

[2022-04-28 15:18] jjarolim commented on #7247
What do you get via parse_blocks( get_the_content() ) ? You should get a iterable array with all blocks of the page incl. according attributes?

[2022-04-28 15:19] ryelle commented on #34977
This was added in the Gutenberg plugin in version 12.5, so if you have Gutenberg active on your site you should see the custom taxonomy under the Filters heading. If you're not using the plugin, this feature should come out in WordPress 6.0 🙂

<img width="309" alt="Screen Shot 2022-04-28 at 11 18 39 AM" src="https://user-images.githubusercontent.com/541093/165786536-74ec7ac7-0164-479b-95d2-701cb18

[2022-04-28 15:29] nekohayo commented on #7051
I'd like to throw in my 2¢ as a user story and perhaps (hopefully) this can be reconsidered in light of this additional information.

I'm struggling with this current behavior, not only because `Tab` and `Shift+Tab` to indent/unindent is standard in the majority of other applications I use (so I can't really unlearn that muscle memory shortcut) _including_ web apps like Google Documents and Google

[2022-04-28 15:31] Mamaduka commented on #40357
I was able to reproduce the issue with the latest Gutenberg trunk plugin. I think the problem is the Navigation blocks.

## Steps

* Using theme TT2/Empty theme, but any block theme should be good.
* Create large(ish) Navigation menus. I had a few with six top-level items and a sub-menu with 13.
* Slowlyness is noticeable as you add more menus, and eventually editor crashes.

cc @getdave, @talldan

[2022-04-28 15:33] ryelle commented on #40557
If the parent theme tweaks the colors, the child theme would also need to be updated. The benefit of using a child theme (IMO, of course) is that you can just magically inherit these kinds of settings.

I think the parent theme colors always need to be defined, since they might be used in parent templates (see the screenshots in the description).

What would be the drawback of merging? I would exp

[2022-04-28 15:38] MaggieCabrera commented on #40557
yeah, I see what you mean, if the slug is the same we keep the child theme value, that makes sense. I was thinking of having double the amount of colors.

[2022-04-28 15:49] jhanten opened #40693 "Gutenburg plugin breaks buttons url entry space for GenerateBlocks Button Block"
### Description

When using GenerateBlocks Version 1.4.2 and Gutenberg Version 13.1.0 are activated together the generate button block url area seems to become read only and inaccessible.

### Step-by-step reproduction instructions

1. Fresh install of WordPress with GenerateBlocks 1.4.2 and Gutenberg 13.1.0.
2. Add a Page
3. Add a GenerateBlocks Button block
4. No matter what you do you can't add

[2022-04-28 16:18] swissspidy commented on #15349
Just realized that an option to set the text direction already exists:

![Screenshot 2022-04-28 at 18 15 10](https://user-images.githubusercontent.com/841956/165798065-24ac75be-ca75-4723-a5f6-4507ad7ea20d.png)

But it's only shown if you're currently using an RTL locale 🙃

So that partially addresses the `dir` part of the issue, not the `lang` part.

[2022-04-28 16:21] joedolson commented on #15349
That option should definitely be available in both RTL and LTR. Odd bias, that RTL authors might want to use LTR, but not the reverse. Extending a related option to also set language would be a huge win!

[2022-04-28 16:26] fluiddot opened #40695 "React 18 support in React Native"
# Description

[React 18](https://reactjs.org/blog/2022/03/29/react-v18.html) is not supported yet by React Native, however, the web version might use it soon. The purpose of this issue is mainly to collect information around this topic and open discussion about the better way to proceed.

## Option 1 - Use React 18 in current RN version
The new React version comes with a React 17 mode in case the

[2022-04-28 16:56] #40601 closed, assigned to DAreRodz, cbravobernal

[2022-04-28 16:57] bradhogan commented on #20449
I'd like to follow up on this.  It seems odd that a plugin can't define it's own "theme.json" - or plugin.json - to set template parts, templates and other styles.  For instance, if I want to register a post type "books" using 5.9+, I should do this in a plugin (and not the theme - per WP public directory requirements you can't have a CPT registered in a theme) but if I register a CPT in my plugin

[2022-04-28 17:53] juanRabaa opened #40698 "MediaUploadCheck component should be usable outside gutenberg editor"
## What problem does this address?
The `MediaUpload` component that comes from the `@wordpress/block-editor` package needs to be wrapped around the `MediaUploadCheck` component to make sure that the current user has media upload permissions (as stated in https://github.com/WordPress/gutenberg/blob/trunk/packages/block-editor/src/components/media-upload/README.md).

To verify this permissions, the

[2022-04-28 17:55] juanRabaa commented on #40698
I pressed enter unintentionally and posted the issue before filling the data :(. Will reopen when edited

[2022-04-28 17:57] annezazu commented on #40669
I can also reproduce this. Thanks so much for finding and opening this issue!

[2022-04-28 18:12] juanRabaa commented on #40698
Completed the issue

[2022-04-28 18:27] annezazu opened #40699 "Style Variations previews on hover not properly reflecting fonts"
### Description

The style variations previews on hover aren't properly rendering the fonts for TT2.

### Step-by-step reproduction instructions

1. Open Appearance > Editor.
2. Open the Styles interface.
3. Select "browse styles"
4. Hover over the various style options and notice the previews are slightly off.

### Screenshots, screen recording, code snippet

What it looks like:

https://user-ima

[2022-04-28 18:28] pbking commented on #40432
@Humanify-nl Until this lands in core I've been using [this plugin](https://github.com/Automattic/create-block-theme) which has that very feature.  It [saves](https://github.com/Automattic/create-block-theme/pull/51) the templates and customizations in the active theme files and then clears those customizations from the user space.

Ultimately the most useful aspects of that plugin should make the

[2022-04-28 19:03] mtias commented on #40208
I mean prioritizing paragraph, heading, quote, list, etc for text based blocks. Only the first task, don't do anything to layout transforms.

[2022-04-28 19:17] iwasthesword commented on #40692
I agree with this. As a standard UX when clicking I expect it to be editable/selected so I can choose to either copy or paste it.

[2022-04-28 19:32] ndiego commented on #40357
Thanks @Mamaduka for the steps. I was able to crash the editor with a large Navigation block that I then duplicated a couple of times. See the video below.

https://user-images.githubusercontent.com/4832319/165831440-1426a813-d145-462b-bce8-5d23873ac200.mp4

[2022-04-28 20:33] skorasaurus commented on #39292
(needs to be tested if it's still present on WP 6.X)

[2022-04-28 20:52] MadtownLems opened #40703 "Buttons Block should have Color, Border, Style, etc Controls (overridable per button)"
## What problem does this address?

If I have a Buttons group of several identical looking buttons (which I imagine is a pretty common situation), and want to make a change to them, I currently need to manually update each and every Button individually. This can be very time consuming.

## What is your proposed solution?
The Buttons block could/should have various controls that impact all descende

[2022-04-28 20:58] MadtownLems opened #40704 "Maintain Text Alignment when Transforming Paragraph to Heading"
## What problem does this address?

Anecdotally, transforming a Paragraph to a Heading seems to be one of the most common block Transformations. It looks like a recent Gutenberg update (not yet in Core) helps this transformation maintain text color (yay!), but it still does not maintain any text aligntment.

If I have a Paragraph set to text-align Center, and transform it to a Heading, I would exp

[2022-04-28 21:14] MadtownLems opened #40706 "Columns Should be Able to Set to Stack Left on Top OR Right on Top on Mobile"
## What problem does this address?

Currently, the Columns block as a 'Stack on mobile' feature. It's great, but slightly limiting because the left column always stacks on top.  We have encountered lots of times where we'd like the right column to stack above on Mobile.  One of the most common uses is when we use columns to alternate types of content in a zig-zag fashion - perhaps an Image and a b

[2022-04-28 22:43] costdev opened #40708 "Global Styles: Typography > Text > Font Size animates when appearance is selected."
### Description

Originally reported on [Trac 55626](https://core.trac.wordpress.org/ticket/55626).

There is a minor CSS bug caused by the dynamic width set on the Font size button within the Typography -> Styles section.

Suggested fix from @igorradovanov: Switch from percentage width to fixed-width (like vw or px) resolves the issue.

### Step-by-step reproduction instructions

1. Go to Styles.

[2022-04-28 22:45] annezazu commented on #40619
Ah ha thank you @uniquesolution -- seems this is a duplicate of this issue which I just learned more about today thanks to you opening this one! https://github.com/WordPress/gutenberg/issues/40357#issuecomment-1112351314

I'm going to close this out as a result since this is a duplicate. Please follow along in the other issue to stay informed of the progress. Thanks so much for reporting this on.

[2022-04-28 22:45] #40619 closed, assigned to nobody

[2022-04-29 01:45] suyogagitayana commented on #40603
Yes, it does work for themes but I was talking about enqueuing custom css files from the plugin.
It still doesn't work.

Previously discussed in this issue #38673, we need to have a `.editor-style-wrapper` or `.wp-block` selector inside the css file so the file will be enqueued inside the iframe.

Here's the comment which explains it. You can find the whole code in `gutenberg/packages/block-editor

[2022-04-29 02:47] carolinan commented on #40686
The two blocks have different markup. But there needs to be a discussion about not moving elements with CSS only.

[2022-04-29 04:08] talldan commented on #40698
I think it has been implemented this way (by checking `mediaUpload` that's defined in the block editor settings) so that non-WordPress block editor implementations can support media uploading.

It is interesting the way this has been done. The `MediaUpload` component doesn't actually use the `mediaUpload` function, so I'm not sure why it's needed. `MediaUpload` is a slot, and checking permissions

[2022-04-29 04:49] glendaviesnz commented on #14304
This approach seems to work with the new innerBlocks Gallery @jasmussen  - [PR here](https://github.com/WordPress/gutenberg/pull/40713).

[2022-04-29 05:12] glendaviesnz commented on #28474
I couldn't replicate this on 13.1 on WP 5.9 so closing.

[2022-04-29 05:12] #28474 closed

[2022-04-29 05:19] glendaviesnz commented on #33582
Done in #38164

[2022-04-29 05:19] #33582 closed, assigned to glendaviesnz

[2022-04-29 05:21] juanRabaa commented on #40698
@talldan yes, the `MediaUpload` component works outside of the editor, but in the only documentation that there is about this block its recommended to be used inside the `MediaUploadCheck` component (see [here](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-editor/src/components/media-upload/README.md) )

Yes you could actually do like I did your own implementation of a component

[2022-04-29 05:34] talldan commented on #40698
Yes, it's the reason I said above 😄

The `block-editor` package can be used in non-WordPress implementations. For example another CMS or another application entirely can install `@wordpress/block-editor` from npm and implement their own block editor. When doing so, they can specify their own media uploading functionality by implementing a `mediaUpload` function in the editor settings.

`canUser` c

[2022-04-29 05:45] Hug0-Drelon opened #40714 "Pass parent block context during server side rendering"
## What problem does this address?
Currently, there is no way to use the `<ServerSideRender />` component with the block context. Only the rendered block attributes are sent ([see](https://github.com/WordPress/gutenberg/blob/28973718ac0e2685c7d0bb0ba3b3a1de78573f1a/packages/server-side-render/src/server-side-render.js#L91-L112)). It means it is not possible to render a custom block in the editor a

[2022-04-29 07:41] #40704 closed, assigned to glendaviesnz

[2022-04-29 08:41] getdave commented on #40357
Related PRs as potential fixes:

https://github.com/WordPress/gutenberg/pull/40696 and https://github.com/WordPress/gutenberg/pull/40700

[2022-04-29 08:51] #40636 closed, assigned to ntsekouras

[2022-04-29 09:29] ciampo opened #40720 "Decouple `ComplementaryArea` and `Panel`"
## What problem does this address?

Initially flagged in https://github.com/WordPress/gutenberg/issues/38934#issuecomment-1085804088

Currently, the [`ComplementaryArea`](https://github.com/WordPress/gutenberg/tree/6c4eb8d173028ce5f7c149d4a08045252cdd44c9/packages/interface/src/components/complementary-area) and [`ComplementaryAreaHeader`](https://github.com/WordPress/gutenberg/tree/6c4eb8d173028c

[2022-04-29 09:29] draganescu commented on #40357
After pulling https://github.com/WordPress/gutenberg/pull/40696 and https://github.com/WordPress/gutenberg/pull/40700 the remaining slowness for me remains adding submenus when having multiple medium size menus (5 top level with 2 sumbemus with 12 items each). This is visible only if I test with duplicated menus, not if the menus are different.

[2022-04-29 09:32] ciampo commented on #40720
@mirka how does the plan above sound to you?

[2022-04-29 09:35] jeherve opened #40721 "Keyboard shortcuts on macOS: consider using words in addition to the icons"
## What problem does this address?

Keyboard shortcuts are very useful in an editor like the block editor; they allow you to move faster and to keep focussing on writing content instead of having to stop typing and use a mouse whenever you want to do things like deleting blocks or adding new blocks before or after an existing one:

<img width="322" alt="Screenshot 2022-04-29 at 11 11 28" src="http

[2022-04-29 09:49] cbravobernal commented on #40576
I guess it is!

[2022-04-29 10:11] carolinan commented on #37752
Isn't this true for all theme.json settings? That none of them are reflected in the corresponding control?

[2022-04-29 10:15] jameskoster commented on #40208
Okay, ignoring styles and layouts for now, here are some options that make use of existing patterns:

<img width="1611" alt="Screenshot 2022-04-29 at 11 10 12" src="https://user-images.githubusercontent.com/846565/165925690-369704b0-88e0-424a-9a80-ee04780222f5.png">

[2022-04-29 10:18] carolinan commented on #34647
Is the suggestion to add generic color options to the whole block or to these two elements separately?

[2022-04-29 10:24] cbravobernal commented on #40541
I'm thinking about the best way to approach this fix and, as 'One response' is a just placeholder sentence, editable, which option could be better?

 - Add different placeholder depending on Show Comments Count (One response vs Response or whatever word). We would add a new string (we are in string freeze), and we would just change the default placeholder regarding showing the comment or not.
 - H

[2022-04-29 10:26] jameskoster commented on #32163
I made a [codepen](https://cdpn.io/pen/debug/NWXQdyR) to test the above hypothesis. It's difficult to truly interpret without proper context, but in lieu of the overlay, I think the colorisation _does_ help clarify when you're working with a 'special' block type.

One small addition is the dotted outline on the root ancestor when a child is selected. This illustrates the boundaries of things like

[2022-04-29 10:27] economiadigitalapps commented on #37982
Confirmed here too

[2022-04-29 10:56] ndiego commented on #40575
I have confirmed this. While we need to fix this bug, at this point in the release process, I think we should hold off trying to include in 6.0. We could always include in a minor release. Thoughts @Mamaduka @gziolo?

[2022-04-29 11:03] swissspidy commented on #15349
Here's a quick and dirty plugin I just whipped up:

https://github.com/swissspidy/gb-lang-dir

![Screenshot 2022-04-29 at 12 56 23](https://user-images.githubusercontent.com/841956/165932693-1132fdb1-6f2c-47a0-a2eb-11c40bfc9d83.png)

[2022-04-29 11:07] ndiego commented on #40675
I am able to reproduce this as well.

[2022-04-29 11:11] ndiego commented on #40525
This is an issue that needs technical feedback and perhaps a reworking of how block previews are managed. At this point in the release process for 6.0, I do not believe we will be able to get a reliable fix implemented in time for 6.0. I am going to remove it from the 6.0 Project Board, but this issue should still be picked up for future versions of Gutenberg and perhaps even a Core minor release.

[2022-04-29 11:12] aristath opened #40726 "Proposal: Allow defining a typography-scale in theme.json"
## What problem does this address?
Defining font-sizes for all heading levels is a tedious task and can lead to visual inconsistencies.
Using a typography scale is not a new concept... Typography scales have been used in print for centuries and they are harmonious and visually pleasing. Implementing typography-scales in theme.json would allow theme developers and designers to accomplish sane, cons

[2022-04-29 11:26] SiobhyB opened #40727 "BottomSheet height doesn't adjust to display low contrast error after tapping back button"
## Description

When adding text/background colours with low contrast to a block and then tapping the back button, it’s sometimes necessary to scroll to see the low contrast error message. This reduces the visibility of the error message, as it's not obvious you need to scroll.

This issue is only apparent when tapping the back button immediately after selecting the colours. The message is visible

[2022-04-29 11:27] #27771 closed

[2022-04-29 11:41] gziolo commented on #40575
Content loss is always a critical issue that should have maximum priortity.

[2022-04-29 11:42] priethor commented on #40139
Thanks for the feedback; I updated the opening post with the latest status update and de-prioritized it. Let's continue the #40059-specific convo there and confirm whether it can be fixed at the theme level.

[2022-04-29 11:45] Mamaduka commented on #40575
I will try to have a look at this issue in a bit 👍

[2022-04-29 12:00] ntsekouras commented on #40688
Could the alternative of using a `Navigation` block with the `Home Link` work for you? It has `rel="home"` as well. It adds an extra layer for sure, but Site Logo is about having a logo and not text. IMO it could create more confusion if there was some kind of text version.

[2022-04-29 12:10] ockham commented on #34994
This is being addressed by @c4rl0sbr4v0's https://github.com/WordPress/gutenberg/pull/40728.

[2022-04-29 12:10] mirka commented on #40720
Sounds good. This maybe obvious, but the only thing I'd add is that we'll want to add `ComplementaryArea` and friends to Storybook while we're at it.

[2022-04-29 12:17] #40541 closed, assigned to cbravobernal

[2022-04-29 12:18] jffng commented on #40059
Thanks for the ping, ideally we remove the offending padding CSS in TT2. As others have said, we can do that once #35607 is solved. A solution is close to landing but not in 6.0, and I think the theme should continue to ship with the alignment CSS until it does.

[2022-04-29 12:41] jameskoster opened #40733 "Refine default Navigation Panel appearance"
Today I set up a totally fresh install. Here's how the Navigation Panel looks in the Site Editor:

<img width="678" alt="Screenshot 2022-04-29 at 13 07 14" src="https://user-images.githubusercontent.com/846565/165945576-6a762ce4-12da-46f7-a78e-3dbbf13ce098.png">

I'm told that no navigation menus exist, but also that 'Navigation Menu' is empty. This is either contradictory or confusing.

I see an

[2022-04-29 13:36] #40074 closed, assigned to nobody

[2022-04-29 13:39] jasmussen commented on #40721
Seems worth a PR just to get a feel for it! I think we already have text instead of unicode symbols on Windows, as the actual symbols are rarely printed on the keyboard keys. (Though just personally, and specifically for ⌥ and ⌘, I find those more intuitive than Option and CMD).

The tricky part here is managing prominence! These keyboard shortcuts are permanently visible in the menu, which is nic

[2022-04-29 14:01] pbking commented on #40557
There are definitely scenarios where we would want FEWER colors.  Blockbase, for example, leverages 5 palette colors (primary, secondary, foreground, background tertiary) but many of its child themes have fewer (Quadrat, for instance, only has primary, tertiary and background).

I think it's important that Blockbase provide the OPTION to style elements with the control that 5 color options gives,

[2022-04-29 14:02] LukaszJaro commented on #40688
There's numerous WordPress sites I encountered that have just text based logo, so that's why I think some input on this would be good and to set a standard.

https://davidhoywp.com/
https://billbennett.co.nz/category/computing/

Maybe navigation block would do. I'm not sure how in demand something like this is but I do see it out in the wild.

[2022-04-29 14:30] ndiego commented on #40699
@annezazu in testing this, the font weights are getting pulled in. I think the problem is that the actual font is not getting applied. It is just defaulting to `serif`, `sans-serif`, and `monospace`.

Edit:
Yup, I confirmed using [Frost](https://github.com/wpengine/frost). The actual font is not getting pulled in. Just defaulting to browser defaults.

[2022-04-29 14:37] johnstonphilip commented on #40626
@Mamaduka This is showing itself for me again, though only for my own custom patterns. It looks like this change might have been the cause:

https://github.com/WordPress/gutenberg/pull/39493/files

I was adding my block patterns on the `current_screen` hook, which means they are now being loaded too late.

[2022-04-29 14:59] ciampo commented on #40720
Not obvious at all! That would be the first instance of a component from `@wordpress/interface` too 😄

Added to the original issue description 👌

[2022-04-29 15:12] johnstonphilip opened #40736 "Regression: Cannot register_block_pattern using current_screen hook."
### Description

On WP `5.9.4-alpha-53081` I was able to register block patterns using the `current_screen` hook.

On WP `6.0-beta3-53305`, the same code does not register block patterns any longer.

Example code:
[code]

### Step-by-step reproduction instructions

1. On WP `5.9.4-alpha-53081` use the example code above to register a pattern on the `current_screen` hook.
2. Go to "Posts" > "Add Ne

[2022-04-29 15:15] johnstonphilip commented on #40736
This might be related to https://github.com/WordPress/gutenberg/pull/39493/files but I am not 100% sure yet.

@Mamaduka

[2022-04-29 15:49] mirlanbekturov commented on #37982
Confirmed and as a short-term code-fix I use the following code:
[code]

[2022-04-29 15:51] priethor commented on #40139
Let's wrap this up. The only actionable item for 6.0 at this point is bug #35331, which has been partially fixed for the Site Editor and backported but still has a few loose ends ([further context here](https://github.com/WordPress/gutenberg/issues/35331#issuecomment-1102862654)).

[2022-04-29 15:51] #40139 closed, assigned to nobody

[2022-04-29 15:57] cbirdsong commented on #20941
I think it's odd for Media & Text to default to something other than "none". It always trips me up when I use it, and I think it's the only block like this?

[2022-04-29 16:05] #29909 closed

[2022-04-29 16:11] ocean90 commented on #40736
Patterns are now loaded through the REST API, see https://github.com/WordPress/gutenberg/commit/bdd024e0d57afefa7b83c6822da1e2c6d13cd795. `current_screen` is/was not really a proper action to register patterns IMO.

[2022-04-29 16:24] bradhogan opened #40738 "Add new block overlaps existing blocks"
### Description

I started noticing this when I added a spacer with VW units, but now I'm noticing it regardless even on the default install Sample Page with no plugins other than Gutenberg installed.  The + icon to add a new block overlaps whatever block is before it.  Seems to happen if you click just below a block.

### Step-by-step reproduction instructions

Better to see if you watch the vide

[2022-04-29 17:02] johnstonphilip commented on #40736
@ocean90 If that's true, should there be warnings thrown when using `register_block_pattern` with the wrong hook?

[2022-04-29 17:29] johnstonphilip commented on #40736
Also, with this new [REST API approach](https://github.com/WordPress/gutenberg/issues/39055), there seems to be no way of limiting which patterns load for specific post types. For example if I want to load "woocommerce specific" block patterns only on `product` posts, I can no longer do that with this change.

[2022-04-29 18:55] robglidden opened #40743 "Post Content behaves inconsistently in Query Loop block"
### Description

The Post Content block behaves inconsistently inside a Query Loop block.

For the first post displayed in the query loop, the content does not display at all.

Sometimes the excerpt instead of the post content displays in the query loop.

### Step-by-step reproduction instructions

1. Create an empty page.
2. For the empty page, create a new template ("Query Loop w Content and Exc

[2022-04-29 19:09] jakeparis opened #40744 "enqueuing a block via block.json's `editorScript` property doesn't work in a theme"
### Description

In a theme I'm building, I am attempting to use the `editorScript` key in `block.json` to automatically enqueue my block's assets.

However, that is resulting in messed up asset urls like: _https://example.loc/wp-content/plugins/shared/httpd/htdocs/wp-content/themes/jmc/build/blocks/myblock/index.js_, where the script _path_ is concatenated after the plugins url.

After some inves

[2022-04-29 19:25] westonruter opened #40745 "env: Unable to start environment when using PHP<7.1"
### Description

I'm attempting to start `wp-env` with PHP 5.6 but when I do so, I get an error:

[code]

### Step-by-step reproduction instructions

Run:

[code]

This happens with PHP 7.0 as well. The errors no longer occur with PHP>=7.1.

### Screenshots, screen recording, code snippet

_No response_

### Environment info

_No response_

### Please confirm that you have searched existing issues

[2022-04-29 19:41] annezazu commented on #40699
Thanks so much for confirming and testing.

[2022-04-29 23:49] westonruter commented on #40745
Perhaps related to #29323?

[2022-04-30 01:23] peterwilsoncc opened #40747 "Comment Loop: Comments displayed on password protected posts"
### Description

When a password protected post is created, the comment query loop will display comments prior to the password been entered.

In the legacy comment template, WordPress requires the password be entered before displaying comments.

[code]
([source in wordpress-develop](https://github.com/WordPress/wordpress-develop/blob/6742d0d7a65e37f24c67eeaae373f4c086c277a5/src/wp-includes/theme-c

[2022-04-30 01:33] annezazu commented on #40747
cc @SantosGuillamot and @ockham for good measure.

[2022-04-30 04:30] gziolo commented on #40447
We have a decent proposal to extend `block.json` capabilities for block assets summarized in this comment: https://github.com/WordPress/gutenberg/issues/33542#issuecomment-1044667182. The idea is to pass all the required information as an object when you don’t want to use the build step or when the default behavior is imperfect.

[2022-04-30 05:05] gziolo commented on #40744
This is going to be possible to register blocks a the theme in a way you presented as of WordPress 6.0. See related commit https://core.trac.wordpress.org/changeset/53091 and PR https://github.com/WordPress/wordpress-develop/pull/2494 for full context. @fabiankaegy might provide you an example of a useful filter you can use if you need it earlier.

[2022-04-30 05:05] #40744 closed, assigned to nobody

[2022-04-30 07:11] scruffian commented on #34647
Probably both, but just adding color options for the whole block would be a good first step.

[2022-04-30 08:07] AnupamKhosla commented on #40447
Thanks a lot for bring this up, I was learning through the tutorial and couldn't figure out why the custom block is registered but doesn't show in the Gutenberg editor. I tried to debug:

[code]

The output gives a proper registered block which has `bool(false)` as it's `editor_Script` property. Then I did go into the rabbit hole of the actual wordpress source code and goto https://github.com/Word

[2022-04-30 08:37] scruffian commented on #38199
We have made some good progress on this. What do you think about closing it in favour of https://github.com/WordPress/gutenberg/issues/39189?

[2022-04-30 08:38] scruffian commented on #38194
The export now has the name of the theme. I think we can close this.

[2022-04-30 08:38] #38194 closed, assigned to nobody

[2022-04-30 08:39] scruffian commented on #27941
I think we close this in favour of https://github.com/WordPress/gutenberg/issues/39189. Thoughts?

[2022-04-30 08:40] #39190 closed, assigned to nobody

[2022-04-30 08:41] scruffian commented on #39193
We now export all patterns when you export a theme, so I think we can close this.

[2022-04-30 08:41] #39193 closed, assigned to nobody

[2022-04-30 08:48] scruffian commented on #36444
I think the best way forward here is to use an "element button": https://github.com/WordPress/gutenberg/pull/40260

[2022-04-30 08:48] scruffian commented on #27760
I think the best way forward here is to use an "element button": https://github.com/WordPress/gutenberg/pull/40260

[2022-04-30 11:36] #38199 closed, assigned to nobody

[2022-04-30 14:28] StephenBugden commented on #7247
Hi,

@jjarolim thank you for your idea, sorry for the delayed response, I had problems with my laptop.

I tried the following:
`<h2>The content is </h2><p><?php echo var_dump(parse_blocks( get_the_content() )) ?>!</p>`

Output is as follows:
`C:\Users\Steve\Local Sites\mywebsitename6\app\public\wp-content\plugins\mywebsitename-cards\mywebsitename-cards.php:37:
array (size=5)
  0 =>
    array (size

[2022-04-30 20:02] crobertwatson commented on #37982
@mirlanbekturov Where are you placing the short-term code fix? Is it enqueued as a part of your website's theme?

[2022-05-01 09:33] mirlanbekturov commented on #37982
I created the js file and run `wp_enqueue_script` with `admin_head-post.php` and `admin_head-post-new.php` actions

[2022-05-01 09:46] Humanify-nl commented on #40486
From a developer perspective, I'd like a predefined set of values for spacing, same as we have for font-sizes now.

Letting clients push in values for spacing is asking for inconsistent design and going back to stone ages of having to manually input values in websites that are really hard to maintain / reset or override, and as an added bonus gives all us devs carpal tunnel in the long run.

Let u

[2022-05-01 11:31] Mamaduka commented on #28662
This should be fixed now. See #37579.

[2022-05-01 11:31] #28662 closed

[2022-05-01 11:32] Mamaduka commented on #30135
The issue should be fixed now. See #37579.

[2022-05-01 13:56] Gierand commented on #38329
@Mamaduka @gziolo Thanks for doing that. What's the next step? Do you have the capacity to work on PR, and maybe we can ship it with 6.0?

[2022-05-01 16:44] shula commented on #138
Oh, but it is needed:
The way you see it, RTL is the exception, such as **bold** text.
But in many situations RTL is the norm, or LTR / RTL are has equal importance.
Also, a wordpress editor interface direction can be different than the OS settings.

A single button is therefore ambiguous.
I know it for myself and for my non-tech authors.

When 2 buttons are shown, the user gets clear unambiguous

[2022-05-01 17:26] mauriac commented on #40431
I used to think that fix the _postId_ missing will fix this issue, this is due to my first understand of the block purpose; but now I guess you are right. I'll create a new issue related to my problem and I'll probably ship a patch according to your comment ========> _I think that drop-down should not show if there is not post._

[2022-05-01 19:01] spacedmonkey opened #40750 "Performance issue with navigation link block"
### Description

There is a performance issue with navigation link block. The navigation link block, does a call to `get_post`. This can result in a datatbase call if the post is not primed in cache. If you have a large menu, with 50+ item, this can result in 50+ queries. This is a scale and performance issue.

All posts should primed in one request.

Related to core issue, see - https://core.trac

[2022-05-01 22:07] DAreRodz commented on #39654
## New `ancestor` property in `block.json`

Block developers sometimes need to restrict where users can place their blocks. For that, developers already count on APIs like `block.json`'s [`parent` property](https://developer.wordpress.org/block-editor/reference-guides/block-api/block-metadata/#parent) or the `allowedBlocks` option of the [`useInnerBlocksProps` hook](https://developer.wordpress.org

[2022-05-01 22:26] mauriac commented on #32802
I have shipped a patch, but I think this comment worth to be taken account.

[2022-05-01 23:50] noisysocks commented on #40548
Yes but you would have to keep track of all previous `wordpress-develop` PRs regarding the experimental feature and base your new PR off the most recent PR. I'm not sure how practical that is. To clarify, I'm talking about long-running experimental features that require hundreds of PRs e.g. navigation screen, widgets screen, site editor.

[2022-05-02 01:33] talldan commented on #10235
The bot is only active on issues that have Needs More Info / Stale labels.

A 'Needs more info' issue will have the 'Stale' label applied after a couple of weeks of inactivity, and a 'Stale' issue will be closed after another two weeks of inactivity. If a new comment is left, the countdown for either of those things is reset. The idea is that someone with triage powers removes the label if there's

[2022-05-02 02:09] andrewserong commented on #34527
@bradley2083 there's a bit more context in https://github.com/WordPress/gutenberg/issues/39789, which is the current issue for tracking adding back in support for `blockGap` at the block level within `theme.json`. (There is a WIP PR to add the support in #39870)

[2022-05-02 03:59] peterwilsoncc commented on #40747
This is the only solution I could find that doesn't require a major refactor of the comment query loop.

While it does avoid having to modify the output of all the server side rendered inner blocks, it doesn't seem optimal from the perspective of how these things have been managed in the past.

In the experiment below, I decided not to display any content in the style of the screenshot for Twenty

[2022-05-02 05:10] trenzterra commented on #40738
I have this issue too and it's bugging me to no end.

[2022-05-02 05:54] fabiankaegy opened #40756 "Allow quickly opening "Preview in new tab..." by using modifier keys to change button behavior"
## What problem does this address?

One of the most common actions when trying to preview your content is to click the "Preview in new tab..." button. This currently takes two clicks to do. That isn't bad but it would be nice to get some way of reducing that to just one click.

## What is your proposed solution?

As a power user feature, it would be cool to introduce the idea of modifier keys. Hav

[2022-05-02 06:41] fabiankaegy commented on #39654
## Allowing the registration of Blocks from within Themes

Up until WordPress 6.0 building blocks inside plugins was the only way possible if you wanted to use `block.json`. And it remains to be the recommended way to do things going forward. Blocks add functionality and therefore should be built-in plugins that stay active even when the theme gets changed.

Even with that best practice in place,

[2022-05-02 07:58] talldan commented on #40720
My understanding is that any of the sidebars on the right of the editor are complementary areas.

So that's:
- Document settings / Block inspector in most of the editors
- The site editor's styles panel
- The site editor's navigation panel
- Plugin areas (the post editor is probably the best example of this)

I wasn't involved in the development, but I could take a couple of guesses at how this ca

[2022-05-02 08:37] ciampo commented on #40720
Thank you @talldan for the insights — this was also our guess.

The `Panel` component definitely seems a bit out of date and not very flexible, and that may be the primary reason why we see these "hacky" ways around it — although I would also argue that the best way to deal with this king of limitations would have been to improve the original component instead.

It would be great if someone with a

[2022-05-02 09:12] MattrCoUk commented on #36834
The above suggestion work for the css in the head and svg filters, but there are also inline styles at the end of the body lol
![Screenshot 2022-05-02 at 10 12 32](https://user-images.githubusercontent.com/14859894/166211736-237a4033-50d2-45f0-aecd-6068a26a17be.png)
How do we remove those?

[2022-05-02 09:59] KAJALwp commented on #40272
Hello @paaljoachim,

When I tried to change align to top, middle and bottom. it is not reflecting with edit link or date.
For better understanding I have provide video attachment link.
https://screencast-o-matic.com/watch/c3hnQMVYG4V

Following are the version details
WordPress:- 5.9.3
Theme: Twenty Twenty-Two
Gutenberg Plugin:- 13.1.0
Mac OS:- Monterey 12.3.1
Chrome:- Version 99.0.4844.84 (Offici

[2022-05-02 12:10] ockham opened #40758 "Comments Query Loop: SQL error for post with no comments"
### Description

With a certain comments pagination setting, the Comments Query Loop block produces an SQL error when viewing a post with no comments:

### Step-by-step reproduction instructions

1. Go to `wp-admin/options-discussion.php`
2. In the "Other comments setting" section, enable (and set) "Break comments into pages with 50 top level comments per page and the last page displayed by defaul

[2022-05-02 12:15] ockham commented on #40758
The syntax error is the negative integer in `LIMIT -50,50` — that doesn’t seem to be valid SQL. And that’s coming from pagination:

https://github.com/WordPress/gutenberg/blob/d0b600f44406d48fa8950fb3d519630aaf6bfea6/lib/compat/wordpress-6.0/blocks.php#L178-L180

The "and the last page displayed by default" setting is what sets `$default_page` to `"newest"`, which makes the above clause kick in. S

[2022-05-02 12:16] ockham commented on #40758
Note that this code has already been backported, so we'll also have to fix it in Core: https://github.com/WordPress/wordpress-develop/blob/e0837a8b18f2cee14af38051be12e6ebc5bacf2a/src/wp-includes/blocks.php#L1327-L1329

[2022-05-02 12:17] ockham commented on #40758
We already have some unit test coverage for the relevant function (`build_comment_query_vars_from_block`), so we should add coverage for this situation (to make sure `paged === 1` rather than `0`).

[2022-05-02 12:34] luisherranz commented on #40758
I was able to reproduce the problem 👍

[2022-05-02 12:36] ndiego commented on #40736
Hey @johnstonphilip, thanks for submitting this issue! Is the use of `current_screen` a specific approach that you discovered, or an implementation technique pulled from some other documentation? The [handbook](https://developer.wordpress.org/block-editor/reference-guides/block-api/block-patterns/) indicates that `init` should be used. If you did see `current_screen` somewhere else, I would like t

[2022-05-02 13:25] MattrCoUk commented on #36834
Found it! (I think)

`remove_filter( 'render_block', 'wp_render_layout_support_flag', 10, 2 );`

This also changes the HTML classes of the rendered blocks.

[2022-05-02 13:37] Gierand commented on #40469
@carolinan, @Mamaduka when enqueueing stylesheets via add_editor_style, they are also noticeably absent.

[2022-05-02 14:15] johnstonphilip commented on #40736
It's not something from any documentation, but just the only hook available where registering by `post_type` was possible.

I suppose it's fine to not do anything to fix this regression since it wasn't part of the official documentation, but anyone with knowledge of how WordPress hooks work under the hood might have done it this way to improve performance, and/or to filter patterns by any number o

[2022-05-02 14:46] zzap commented on #39654
Adding :tada: to published ones

[2022-05-02 15:07] Rushmark commented on #40018
This seems like  quite a big deal to me.  Trying to merge a site with custom post types and custom fields into FSE is going to be very problematic until this is resolved?
The do_blocks solution above works for including template parts.  But things get very messy if trying to pull in anything more complex?  Unless I'm missing something?

[2022-05-02 15:26] beafialho opened #40762 "Consider overlap tool for text and images"
## What problem does this address?

Overlapping elements is an interesting and recurring design choice that adds an extra layer of refinement not only to theme designs and patterns, but it is also used across many websites. I believe that currently there isn't such feature in Gutenberg, unless we use custom code or plugins.

## What is your proposed solution?

It would be great if there was an "ov

[2022-05-02 15:31] johnstonphilip commented on #40736
I opened a trac ticket to add `_doing_it_wrong` to `register_block_pattern` if not using `init` hook here:
https://core.trac.wordpress.org/ticket/55655

[2022-05-02 15:36] skorasaurus commented on #10235
I removed the status labels over the weekend as I was wondering about how to implement this myself and [thought the examples](https://github.com/WordPress/gutenberg/issues/10235#issuecomment-896211424) given by @pbiron were sufficient as use cases;

Another example/use case is that I have a custom post type with some custom fields and custom taxonomies; I want to be able to display these posts and

[2022-05-02 16:11] ockham commented on #40747
Fixed by #40755. Thanks a lot @peterwilsoncc!

[2022-05-02 16:11] #40747 closed, assigned to nobody

[2022-05-02 16:17] schutzsmith commented on #19796
So what is the solution if we do NOT want to have a theme.json file present in our theme? In my case, having that file completely breaks the current theme and would mean I'd need to rebuild the whole thing just to simply hide this one setting. We should have a solution for folks pre-theme.json. Thank you!

[2022-05-02 16:29] shula commented on #24916
Note that alignment and directionality are 2 different things, which give different results.

In this demo, both lines are right-aligned, but first has {direction: ltr;}, the second is {direction: rtl;}
- אאאאא בבבבב, RTL גגגגג דדדדד 123 !
- !גגגגגג דדדדד 123 אאאא בבבבב LTR

The **_direction_** completely changes the order of the sentence.

[2022-05-02 16:51] jorgefilipecosta commented on #39654
Adding the dev note for page creation patterns https://github.com/WordPress/gutenberg/pull/40034.

# Page creation patterns

When a user creates a page, the editor starts with an empty canvas. However, that experience may not be ideal, especially since there are often possible patterns the user can use when creating a page, e.g., an about page, a contact page, a team page, etc.

Starting with Word

[2022-05-02 18:10] wpsoul opened #40765 "Hook for saving/updating post in Gutenberg"
In current point we need to use hook like

`subscribe( () => {
  const isSavingPost = select('core/editor').isSavingPost();
  const isAutosavingPost = select('core/editor').isAutosavingPost();

  if ( isAutosavingPost && ! isSavingPost ) {
    return;
  }

  // Do action.
});`

But this trigger to get saving post function from core/editor on any changes in editor. I tried console.log to see when i

[2022-05-02 18:46] annezazu commented on #36860
Noting this remains a point of confusion for the Site Editor functionality and came up in the [fourteenth call for testing for the FSE Outreach Program:](https://make.wordpress.org/test/2022/04/28/fse-program-testing-call-14-rallying-recipe-reviewers/#comment-2462)

[2022-05-02 18:57] annezazu opened #40766 "List v2: add focus next list item after using sibling inserter"
### Description

When using the sibling inserter with the V2 of List view, the focus doesn't go to the next list item so you can't immediately start typing. This came up during the [fourteenth call for testing for the FSE Outreach Program](https://make.wordpress.org/test/2022/04/28/fse-program-testing-call-14-rallying-recipe-reviewers/):

### Step-by-step reproduction instructions

1. Turn on the

[2022-05-02 19:29] annezazu commented on #38381
Just noting that this came up with the Avatar block (another image related block) in the comments query loop when you manually resize (as noted above):

<img width="898" alt="Screen Shot 2022-05-02 at 12 26 20 PM" src="https://user-images.githubusercontent.com/26996883/166312331-4d5e3c1d-2e41-42a8-8cff-1c40d897f59a.png">

This was noted during group testing for the [fourteenth call for testing for

[2022-05-02 19:46] dogooddesignco commented on #29891
This might be a different issue, I don't have much experience raising issues on github, but now when I use the "elements" object in theme.json, those settings are inlined in the editor styles, and then my custom editor styles are loaded after this, which overrides the settings in theme.json. For example, I have the following in my theme.json:
`"elements": {

            "h1": {

                "t

[2022-05-02 19:58] annezazu opened #40767 "Feedback on return keyboard behavior for List V2"
## What problem does this address?

As part of the [fourteenth call for testing for the FSE Outreach Program](https://make.wordpress.org/test/2022/04/28/fse-program-testing-call-14-rallying-recipe-reviewers/), it was noted in a group call for testing that entering twice would be expected to outdent rather than indent.

## What is your proposed solution?

Consider having entering twice match what o

[2022-05-02 20:42] annezazu commented on #39887
This came up in the[ fourteenth call for testing for the FSE Outreach Program](https://make.wordpress.org/test/2022/04/28/fse-program-testing-call-14-rallying-recipe-reviewers/#comment-2467) with the List V2 as a requested item since part of the test included copy/pasting from a different site:

[2022-05-02 20:50] annezazu commented on #17738
The ability to have more options rather than bullets or `1,2,3` came up in the [FSE Outreach Program's fourteenth call for testing](https://make.wordpress.org/test/2022/04/28/fse-program-testing-call-14-rallying-recipe-reviewers/#comment-2467). Specifically, there was a desire to offer `a, b, c` options.

I think it would be interesting to explore as possible style variations for the block!

[2022-05-02 21:27] annezazu opened #40768 "Quote V2: show citation block at all times"
## What problem does this address?

Currently, when using the v2 of the quote block, if you add in child blocks to the quote (ie like a list block), the citation isn't visible until you select the overall quote block once more. Here's a quick video:

https://user-images.githubusercontent.com/26996883/166330440-0c79544b-89bd-4dc6-8c4b-49ff8f2e7f27.mov

## What is your proposed solution?

Show the c

[2022-05-02 21:48] annezazu opened #40769 "Feedback on sibling inserter experience in List V2"
## What problem does this address?

This came up as part of the [fourteenth call for testing for the FSE Outreach Program](https://make.wordpress.org/test/2022/04/28/fse-program-testing-call-14-rallying-recipe-reviewers/#comment-2467):

Specifically, the sibling inserter seems to look like the quick inserter and, at a glance, it seems like you could use it in order to add a new block below the lis

[2022-05-02 22:43] annezazu commented on #39654
For transparency, noting that I directly edited two dev notes above:
- The style variations note to include the webfonts handler information and some examples. It would be ideal to get more eyes on this.
- The Page creation patterns note to clean up some of the language, add a screenshot, etc.

For the comments block note @SantosGuillamot , I'd highly recommend listing out all of the blocks going

[2022-05-03 00:03] johnstonphilip commented on #30668
@priethor One potentially interesting use case: the Block Pattern Directory.

If I want to create Block Patterns that can be easily dropped onto page.html, single.html, etc, right now I cannot because I can't use the the template part block.

[2022-05-03 00:25] hellofromtonya commented on #40736
[The docs say](https://developer.wordpress.org/block-editor/reference-guides/block-api/block-patterns/):

"should" is not the same as "must". Changing the code to throw a  `_doing_it_wrong()` when not hooked to `init` means any block patterns not registered to the `init` hook will no longer work. In other words, it changes it to a "must be registered to `init` hard requirement.

Is this problemati

[2022-05-03 00:56] costdev commented on #40736
Here's some examples of extender usage from [this search result](https://wpdirectory.net/search/01G23NPN5S3Q5Z55C8448JECHT):
- [current_screen](https://plugins.trac.wordpress.org/browser/jetformbuilder/trunk/includes/form-patterns/manager.php#L10)
- [admin_init](https://plugins.trac.wordpress.org/browser/reusable-blocks-extended/trunk/reusable-blocks-extended.php#L522)
- [admin_init](https://plugi

[2022-05-03 01:18] glendaviesnz commented on #40699
Have tested this and it looks like the issue is that the specified fonts are not being loaded into the preview iFrame which is why it is falling back to browser defaults.

For example, by default, in the Pink style `Courier` is rendered for me instead `IBM Plex Mono`:
<img width="305" alt="Screen Shot 2022-05-03 at 1 14 50 PM" src="https://user-images.githubusercontent.com/3629020/166391386-c370f5

[2022-05-03 01:54] ramonjd commented on #40565
I've thrown up a [PR](https://github.com/WordPress/gutenberg/pull/40757) for this.

I'm not sure what the appetite for it is, so let's see 😄  It's something I'd personally find useful.

[2022-05-03 01:58] peterwilsoncc commented on #40316
To share my thoughts from Slack in a less ephemeral form.

WordPress Core is considered the stable version of the block editor. It has a long standing commitment.  to maintaining backward compatibility of public APIs. Any of the `__` prefixed items that have been exported from packages in WP Core will need to be maintained.

Discussing how the block editor is used by developers, in order to provid

[2022-05-03 01:58] carolinan commented on #40018
The only thing that changes is the position so I don't think it is necessarily more messy.
Less intuitive yes but that is because we are not used to placing the code there, are there any other side effects than that?

[2022-05-03 02:17] glendaviesnz commented on #40699
@scruffian  - this issue was mentioned in one of the comments [on the PR you did to load them for the site editor ](https://github.com/WordPress/gutenberg/pull/40262). Have you looked at all at how to load them in the preview iframes?

[2022-05-03 02:46] peterwilsoncc commented on #40736
I've put this on the WP 6.0 project as it's a regression.

[2022-05-03 03:05] alexdelgado opened #40771 "@wordpress/scripts requires block.json to live inside 'src' folder"
### Description

It's not entirely clear that if you're using `block.json` to create a Gutenberg block with `wp-scripts` that the `block.json` file MUST live inside the `src` folder as [defined here](https://github.com/WordPress/gutenberg/blob/ac5dd04c289977baf2a2fe37e8a9ed10f4e67b36/packages/scripts/utils/config.js#L200) in order for multiple and/or non-default entry points to be picked up (i.e.

[2022-05-03 04:00] talldan commented on #40672
@manooweb Would you be able to add some background on why these fixture files would be useful for you.

[2022-05-03 04:44] talldan opened #40773 "Improve full-content tests and possibly package them up as a testing tool for blocks"
## What problem does this address?
The [full-content](https://github.com/WordPress/gutenberg/blob/trunk/test/integration/full-content/full-content.test.js) tests and [associated fixtures](https://github.com/WordPress/gutenberg/tree/trunk/test/integration/fixtures/blocks) can be really useful for making sure blocks work as expected when making changes.

But they're undeniably hard to use. Even afte

[2022-05-03 06:16] talldan commented on #40720
Yes, it's used extensively (and correctly afaik) in the BlockInspector and the Document settings in the post editor. Also used by lots of plugins.

I think what I mentioned is pretty much the extent of the usage. The good thing is it would be relatively easy to see the outcome of any changes to ComplementaryArea. It's probably worth starting by trying to remove the broken styles and seeing what br

[2022-05-03 07:02] manooweb commented on #40672
We have a feature to be able to make translation on the fly for some blocks.
For example:
- reusable block if a translation exist
- categories in latest posts blocks
- media / gallery if translation is activated and translations exist
- etc

To check about any changes in them (as it happened recently with the gallery block), we wrote some PHPUnit tests based on these fixtures which are in a Gutenb

[2022-05-03 07:09] andrewserong commented on #40600
Thanks for opening up an issue for this one! It looks like the common / desired way to server-render attributes that are set via `RichText` components in the editor is to use `wp_kses_post` to sanitize output instead of escaping the HTML characters (based on earlier discussion in https://github.com/WordPress/gutenberg/pull/38649#pullrequestreview-876867685). I've opened up a small PR in #40776 to

[2022-05-03 07:10] #40661 closed, assigned to ntsekouras

[2022-05-03 07:40] Humanify-nl commented on #40706
I have to agree, currently all my themes have a block-style for this on the columns block (reverse-stack) as a standard.

[2022-05-03 07:44] aristath commented on #39663
PR: https://github.com/WordPress/gutenberg/pull/40778 👍

[2022-05-03 08:31] luisherranz commented on #39142
I think this could be elegantly solved without any ad-hoc implementation if:

1. We add the ability to configure different layers/states using blocks.

   - #38108

3. We allow any block to become a section capable of overwriting the global styles of their children.

   - #39281
   - #40317

[2022-05-03 08:31] dinhtungdu opened #40780 "Ability to exclude the blocks from Post Editor but include them in the Template Editor"
## What problem does this address?

In https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/6342, the Mini Cart block is excluded from the Post Editor and included in other screens. But if the store admins edit a page template using the edit link in the Templates Panel (which opens a Template Editor), the popup editor doesn't include the Mini Cart block because the screen is

[2022-05-03 09:52] SantosGuillamot commented on #39654
Thanks for the feedback, it totally makes sense 🙂 I have just updated the comment. Moreover, if I am not mistaken, the new Comments should be explained later in detail in a user-facing release note (not a dev note).

[2022-05-03 09:59] fabiankaegy commented on #38767
This is also something that comes up again and again on client builds. The ability to control which settings get presented to the editor via a mechanism like `theme.json` already is great for all the settings that can be shown/hidden that way. The width settings panel of the button block is one of the few remaining ones that doesn't have a way to show/hide it.

In a way, I see this setting as simi

[2022-05-03 11:07] fluiddot opened #40786 "RichText component: Global styles have higher precedence than parent block styles"
## Description

While testing changes introduced in https://github.com/WordPress/gutenberg/pull/40691, we discovered that styles set by a parent block, specifically the text color attribute, are not applied if global styles are provided by the current theme of the site. This behavior differs from the web version where the global styles have lower preference than the parent block styles.

More info

[2022-05-03 11:11] zzap commented on #39654
All dev notes from here are published or will be soon. Thank you to everyone who participated in making them, you are heros :heart:

[2022-05-03 11:29] bph commented on #39654
Thank you so much for shouldering the crunch time effort getting everything together! You are my hero @zzap 👏🎉🦸‍♀️

[2022-05-03 11:44] priethor commented on #30668
Hi @johnstonphilip , thanks for the feedback.

Let me see if I understand the scenario. Would you like to create Block Patterns in the Post Editor and submit them to the directory? If so, is there currently any blocker to create those same patterns in the Site Editor instead, where the Template Part block is indeed available and given those patterns are meant to be used in templates like `single.h

[2022-05-03 12:28] jameskoster opened #40791 "Template Part replacement modal – make results searchable"
When there are many options in the replace modal it can be difficult to find a specific template part you have in mind. This is already an issue in Twenty Twenty-Two:

https://user-images.githubusercontent.com/846565/166451322-69654855-b8eb-4c8f-8039-a130201552e8.mp4

Making the list searchable can help ease this pain point.

https://user-images.githubusercontent.com/846565/166452768-617fd330-6502

[2022-05-03 12:37] ndiego commented on #40736
@peterwilsoncc given the current/new implementation of patterns, I'm not sure that `current_screen` can be supported as a valid action to register patterns moving forward. @ntsekouras any thoughts on this? As Phil noted, I think the change might have happened here: https://github.com/WordPress/gutenberg/pull/39493/files

[2022-05-03 13:03] desaiuditd commented on #14515
Coming back to this. It is still not possible to change `allowedBlocks` dynamically for `InnerBlocks`.

I tested this on WordPress vanilla version 5.9.3 without Gutenberg plugin, as well as with Gutenberg plugin version 13.1.0.

I get below warning on the browser console as well.

[code]

https://github.com/WordPress/gutenberg/blob/df341a8/packages/block-editor/src/components/inner-blocks/use-nest

[2022-05-03 13:41] #39585 closed, assigned to Trapsta

[2022-05-03 13:43] courtneyr-dev commented on #40769
It becomes more confusing when the list block is the last thing in the post editor and hitting enter 2x to get out of the list doesn't work like other word processors.

https://videopress.com/v/4rbvJtcS?at=2545

[2022-05-03 14:05] cbravobernal commented on #38188
Hi @kjellr !

I cannot reproduce the issue. Could you please provide some more information? Has it already been addressed?

[2022-05-03 14:10] #39491 closed, assigned to fluiddot

[2022-05-03 14:18] getdave commented on #35257
Let's try closing again. It hasn't failed for a while.

[2022-05-03 14:26] johnstonphilip commented on #30668
@priethor Not completely. I would like to submit block patterns to the directory using the UI provided here:
https://wordpress.org/patterns/new-pattern/

Notice that it appears to be using the post editor, not the site editor, and therefore, the template part block is not available.
<img width="1789" alt="Screen Shot 2022-05-03 at 10 24 15 AM" src="https://user-images.githubusercontent.com/7538525

[2022-05-03 15:22] luisherranz commented on #40318
I was reading your conversation on https://github.com/WordPress/gutenberg/pull/40547#discussion_r857508021, but as that PR is already merged, I'll answer here 🙂

Have you considered going with the _by context_ algorithm but adding the ability to change all blocks at once with `"*"`?

@oandregal, in your example of https://github.com/WordPress/gutenberg/pull/40547#discussion_r859537860, instead of

[2022-05-03 15:53] yanceyk commented on #39187
@Humanify-nl  Thank you for opening this again. I saw your other one that was closed and then found this one. This will be helpful for those of us writing hybrid themes or updating a classic theme to play more nicely with WP 5.9 features. I've made page and archive header patterns for my theme and this issue affects their use. I insert the block pattern with the post title in the page that display

[2022-05-03 15:55] #40758 closed, assigned to ockham

[2022-05-03 16:32] luisherranz commented on #34352
I'm glad to see more ideas are forming here 🙂

I've been thinking more about this since @mtias proposed the idea of [sections](https://github.com/WordPress/gutenberg/issues/39281): patterns/blocks that can style and control their children using `theme.json` capabilities.

[My previous proposal](https://github.com/WordPress/gutenberg/issues/34352#issuecomment-964499762) had three different parts:

[2022-05-03 16:32] luisherranz commented on #39281
This is exciting 🙂

Some thoughts:

- Limiting sections to be only root-level would seriously undermine the number of issues they can solve:

  - https://github.com/WordPress/gutenberg/issues/27324#issuecomment-1064222382
  - https://github.com/WordPress/gutenberg/issues/39142#issuecomment-1115856080

  Sections need to be fractal by design, with the ability to cascade effects by adding sections w

[2022-05-03 17:15] LukaszJaro commented on #40688
Site title block can also be used:

https://fullsiteediting.com/site-creators/what-is-a-full-site-editing-template/
https://andersnoren.se/themes/miyazaki/2014/08/03/alfred-magazine-rack/

[2022-05-03 17:43] thekingsprojects commented on #40676
In addition to the styling options, this error also seems to apply when trying to "overwrite" selected text. If you select multiple lines of text and then try to type (in an attempt to replace what was selected with your new text), nothing happens—the selected text is not replaced.

Also, selecting exactly two lines (rather than just one or 3+) causes the selection to disappear entirely, and the c

[2022-05-03 18:05] shaunandrews commented on #40791
If you know the name of the template part, this might help. It would be nice to only show the search input if there are more than a few template parts.

Maybe, instead of a search box there were display options to show template parts in different views. For example, instead of just a stacked display of large previews you could switch to a grid of thumbnails, or a simple list with a focus on the la

[2022-05-03 18:42] ryanwelcher commented on #39654
Sorry for the delay on this @bph @zzap  - this covers https://github.com/WordPress/gutenberg/pull/38535, https://github.com/WordPress/gutenberg/pull/39723, and #38530

## Updates to the @wordpress/create-block templating system

A powerful feature of the @wordpress/create-block package is the ability to create templates to allow customization of how a block is structured.

WordPress 6.0 introduces

[2022-05-03 18:43] #40575 closed, assigned to Mamaduka

[2022-05-03 18:56] Mamaduka commented on #39654
This general dev note for Block Locking. The other items in Lock Settings list don't need a dev note.

# Block Locking Settings

WordPress 6.0 makes it easier to lock blocks using [the new controls modal](https://github.com/WordPress/gutenberg/pull/39183). The release also includes two new settings to choose who can access this option and when.

## Block Editor

The new `canLockBlocks` setting can

[2022-05-03 19:06] leclaeli commented on #14515
So the likely fix is to wrap the `allowedBlocks` variable in array.

[code]

[2022-05-03 20:52] shaunandrews commented on #39700
This definitely looks cool and might add some "delight" to the experience, but from a utility point of view I don't get it — as others have said above, the way everything changes when hovered is more confusing than helpful. I didn't understand that "Dark" was the label of the variation, and found the Netflix-style color bar animation disorienting.

I do think there's plenty of room for something f

[2022-05-03 21:00] shaunandrews commented on #39629
So this wouldn't randomly choose one of the existing styles, but rather create a new styles with random values for some set of properties?

I do worry this would preset bad combinations more often than good ones, but could see it being a fun way to find a starting point for further tweaking.

I imagine a "Randomize" button wouldn't be used very often (if at all), which makes me question its existe

[2022-05-03 21:15] glendaviesnz commented on #40699
@annezazu  It appears that currently there is no way to access the theme.json custom font settings in the js, they are only enqueued server side. Plumbing through this detail in the global styles settings in the frontend in order to inject them into the preview iframes is probably going to be more of a 'new feature' type job, than an RC quick bug fix, so this potentially needs to be punted to 6.1.

[2022-05-03 21:17] draganescu commented on #39167
Hi @9-tailed was the [problem you found](https://github.com/WordPress/gutenberg/issues/39167#issuecomment-1058374201) connected to your child theme? If so may we close this issue?

[2022-05-03 21:19] draganescu commented on #37705
With @aristath 's suggestion and your thumbs up @DJviolin may we close this issue?

[2022-05-03 21:51] LantosIstvan commented on #37705
I didn't had the time to implement yet, so I will close it.

If the community would want such feature in the far future, then they can reopen it.

[2022-05-03 21:51] #37705 closed, assigned to nobody

[2022-05-03 22:34] petitphp commented on #40675
I was able to reproduce the issue.

In [`gutenberg_resolve_template_for_new_post`](https://github.com/WordPress/gutenberg/blob/trunk/lib/compat/wordpress-5.9/block-template.php#L288) we are modifying the `wp_query` to allow the `auto-draft` post status when the URL contain the param "_wp-find-template".

The callback will only run for the first wp_query which trigger the `pre_get_posts` filter and

[2022-05-03 22:38] paaljoachim commented on #13795
As @draganescu made the PR for "Makes cover block dynamic and adds featured image binding" and went ahead and closed this issue. Is there something we should move over to a new issue that has not been dealt with here?

There is also this issue:
Fallback Featured Image
https://github.com/WordPress/gutenberg/issues/32447
Which I believe is associated.

Both issues are closed but fallback featured im

[2022-05-03 22:39] paaljoachim commented on #32447
Hey Nik @ntsekouras

I believe we might need to open this issue again, as the associated issue:
Add option to set as feature image to image / cover block - has been closed.
https://github.com/WordPress/gutenberg/issues/13795

I believe there still are aspects needed to be looked closer at in both issues.

[2022-05-03 23:05] carlomanf commented on #40675
Is there any chance of dropping the "_wp-find-template" workaround and implementing this properly through the REST API? Besides potentially solving this issue, it could have other benefits such as suggestion number 3 at #39767.

[2022-05-03 23:23] annezazu commented on #40699
Sounds good! Thank you for digging in. Heads up @ndiego.

[2022-05-03 23:59] johnstonphilip commented on #40736
@hellofromtonya Note that the changes  in https://github.com/WordPress/gutenberg/commit/bdd024e0d57afefa7b83c6822da1e2c6d13cd795 likely already broke every extender's implementations that do not use `init`. Therefore this change to add `_doing_it_wrong` is unlikely to be the cause of an actual problem, but rather will provide guidance as to why patterns are all the sudden not working on 6.0.

[2022-05-04 00:55] peterwilsoncc commented on #39285
When the main query is inherited, I think `build_query_vars_from_query_block()` needs to do an early return without modifying the default query.

[code]

For when users have set the query parameters, I think an additional option, `default`, will be needed in the ordering dropdown.

If the keyword/search term is set then the default value with be to order by relevance, if the keyword is not set the

[2022-05-04 03:49] ramonjd commented on #40463
I originally added the Text component in https://github.com/WordPress/gutenberg/pull/34522 so that Block Style buttons could take advantage of updates to the Text  or Truncate components. My original intention had been to apply the following CSS to the button:

[code]

This works everywhere

<img width="267" alt="Screen Shot 2022-05-04 at 12 30 34 pm" src="https://user-images.githubusercontent.com

[2022-05-04 03:54] peterwilsoncc commented on #40736
WordPress has a core philosophy to maintain backward compatibility, so neither a doing it wrong call or saying it's not possible is the answer. Something needs to be fixed.

bdd024e0d57afefa7b83c6822da1e2c6d13cd795 removed examples of Gutenberg registering block patterns on hooks other than `init`. Extenders learnt to use `current_screen` from Core & Gutenberg.

[2022-05-04 03:59] #40600 closed, assigned to andrewserong

[2022-05-04 04:40] #40669 closed, assigned to carolinan

[2022-05-04 05:51] annezazu commented on #40688
@LukaszJaro thanks for opening this! Is there a reason why the Site Title or Site Tagline block won't work for you? Curious to hear more about this use case.

[2022-05-04 06:48] shimotmk commented on #40463
Hmmm.

In the first place, why did `『...』` to put a character limit on block style titles?
Previously, all the characters were displayed like this.

<img width="278" alt="block-style" src="https://user-images.githubusercontent.com/42362903/166633914-e157b487-dde8-46db-b7f0-e4f04ae50772.png">

The design might be more beautiful if all the characters were available, but it might also be difficult to

[2022-05-04 06:55] ramonjd commented on #40463
Good question! I think because the block style labels are now contained within buttons, which appear neater when they're all the same dimensions. I understand titles may be more intelligible when they're not truncated though.

Possibly. If there were an alternative design that takes into account variable block style label lengths, and balances available space in the sidebar I'd be interested to se

[2022-05-04 07:19] MvS-IT commented on #38599
One thing to add: on mobile devices the submenu's won't open because of z-index: 2;
change this to:
.wp-block-navigation__submenu-container{
	z-index: 0 !important;
}
and it'll work

[2022-05-04 07:42] shimotmk commented on #40463
@ramonjd
Thanks for the quick comment.

I made this pull request for the style of title I think you're looking for, if you'd like to take a look.
https://github.com/WordPress/gutenberg/pull/40807

[2022-05-04 08:01] ellenbauer commented on #40562
I want to report the same issue, I loose all CSS styling of our AinoBlocks plugin (https://wordpress.org/plugins/aino-blocks/) blocks, as soon as I activate Gutenberg 13+, see screenshots below:

Gutenberg plugin 13.1.0 active with Aino Blocks and one of our premium themes, but you can use our Aino free theme (https://wordpress.org/themes/aino/) to replicate the issue as well:

<img width="1534" a

[2022-05-04 08:14] ntsekouras commented on #40736
I'm not really sure how to proceed with this one.. Any thoughts  @jsnajdr ?

[2022-05-04 08:21] gigitux opened #40808 "Global styles doesn't apply on blocks that not belong to Gutenberg (e.g: WC Blocks)"
### Description

With the new Gutenberg versions (from 13.0) the Global Styles for WC Blocks plugin doesn’t apply anymore. It seems that the PR that introduce this bug is [#39559](https://github.com/WordPress/gutenberg/pull/39559/files): in particular, [this change](https://github.com/WordPress/gutenberg/pull/39559/files#diff-a68821415230540a4e41b902b125c3cc8ed44851c6f5a84817d37160076c51aaR148).

[2022-05-04 08:44] gziolo commented on #38573
@adamziel should land this week https://github.com/WordPress/gutenberg/pull/40655 that introduces a way to mark core blocks as experimental. It should help also to distinguish blocks that are included in WordPress core or only in the Gutenberg plugin. Although, it would be great to have a way to define `since` in the `block.json` to make it clear.

[2022-05-04 09:01] gziolo commented on #38329
It's still an issue in WordPress 6.0 RC 1!

[2022-05-04 09:08] albarin opened #40809 "Cover block: focal point not working when 'Repeated background' is toggled on"
### Description

The focal point settings are not applied to the image when the `Repeated background` option is enabled.

### Step-by-step reproduction instructions

1. Create a new page and add a `Cover` block with an image.
2. Toggle on the `Repeated background` option.
3. Change the focal point settings and publish the page.
4. Go to the frontend and see that the focal point settings are not ap

[2022-05-04 09:13] ramonjd commented on #40463
cc @shaunandrews

[2022-05-04 09:50] ndiego commented on #40562
I have been able to confirm.

Testing steps:
1. Ensure you are running 6.0 or Gutenberg 13+ is active
2. Install and activate the [Aino](https://wordpress.org/themes/aino/) theme
3. Install and activate [Aino Blocks](https://wordpress.org/plugins/aino-blocks/)
4. Navigate to a new page and preview patterns in the Pattern Explorer, they will appear broken
5. Revert to 5.9.3 and disable Gutenberg
6.

[2022-05-04 09:51] simonwammerfors opened #40813 "Inline container css overriding css generated by theme.json"
I've started to try to get into developing block themes from scratch (using @carolinan excellent generator at fullsiteediting.com to generate an empty starter theme), and I've run into a problem I'm unsure how to solve. It would be great if someone with more insight could point me in the right direction.

It turns out that some inline css outputted by WP for the different block containers is overr

[2022-05-04 10:02] florianbrinkmann opened #40814 "Not possible to create single/singular template in site editor"
### Description

Maybe it is the wanted behavior, or I do something wrong, but I wonder why it is not possible to create a template for the single view of posts (single/singular template) directly from the site editor. I searched and found that it was possible to add the `single-post` template, but that was removed in https://github.com/WordPress/gutenberg/pull/29668 (the `single-post` entry is st

[2022-05-04 10:11] jsnajdr commented on #40736
Ideally we should add a `register_block_patterns` action (not there yet, tracked in #40305) that everyone hooks into, without caring where exactly in the WP lifecycle (`admin_init`, `current_screen`, `rest_dispatch_request`?) is the action executed. But that doesn't solve the back-compat issues.

To be able to still register patterns the old way, on the admin screen instead of in the REST endpoint

[2022-05-04 10:17] ndiego commented on #40562
In investigating this more deeply, I do no believe this is related to the REST API patterns implementation. Block styles in the [Aino Blocks](https://wordpress.org/plugins/aino-blocks/) plugin are enqueued in a single stylesheet with the `enqueue_block_editor_assets` hook. This was/is a very common implementation for adding custom styles in the Editor.

Something changed in 13.0+ and WordPress 6.0

[2022-05-04 10:21] Mamaduka commented on #40562
#40469 might be related to this issue. Unfortunately, I couldn't track down the source of the problem.

[2022-05-04 10:26] jameskoster commented on #40791
Good points. The display options are posed in https://github.com/WordPress/gutenberg/issues/39308, but still need some design exploration.

[2022-05-04 10:30] ndiego commented on #40469
Just confirmed this no longer works in 6.0 RC1 (without Gutenberg active). I'm elevating this issue as it's a breaking change.

[2022-05-04 10:34] ndiego commented on #40562
Thanks for pointing out #40469 @Mamaduka, I just tested that and confirmed that's also a major issue.

[2022-05-04 10:36] getdave commented on #40562
<img width="1553" alt="Screen Shot 2022-05-04 at 11 31 46" src="https://user-images.githubusercontent.com/444434/166665310-bc618c11-938c-4add-a88d-76c12d8080ee.png">

Testing this with the setup you provided (using RC 1 - no Gutenberg Plugin) I noticed that `aino-blocks` is enqueuing editor styles and they are being loaded. Continuing to investigate.

[2022-05-04 10:38] ndiego commented on #40562
@getdave yes, but they are not being loaded in the iframe where the pattern is rendering. This is true for the pattern previews as well as the Site Editor.

[2022-05-04 10:41] ndiego commented on #40469
cc @annezazu @priethor @gziolo @adamziel Unfortunately, this is another one. It's a significant breaking change that we need to get fixed before the 6.0 release.

[2022-05-04 10:47] gziolo commented on #40562
I guess it means that it's an issue with how styles/scripts are registered for 3rd party blocks that aren't compatible with the iframed version of the editor. Based on the report from @getdave, it's clear that styles are present on the page, so it must be something with passing them through to the iframe.

[2022-05-04 10:52] gziolo commented on #40469
As noted in https://github.com/WordPress/gutenberg/issues/40562#issuecomment-1117170676. It must be something with passing styles to the iframed editor. The following sentence is a great confirmation of that:

[2022-05-04 11:19] carolinan commented on #40469
Possibly related:
https://github.com/WordPress/gutenberg/issues/40603

[2022-05-04 11:22] ndiego commented on #40469
@carolinan yup, that looks to be the same issue. So it appears this was introduced in 13.0, I'm going to start going through the changelog there.

[2022-05-04 11:22] carolinan commented on #40469
wp_enqueue_block_style uses enqueue_block_assets to add editor styles, Gutenberg active, I need to combine wp_enqueue_block_style with add_editor_style to add CSS to the site editor.

[2022-05-04 11:26] ndiego commented on #40562
@gziolo could this code be related? https://github.com/WordPress/gutenberg/pull/40278

[2022-05-04 11:30] gziolo commented on #40562
Yes, it would be this logic but previous PR. The one you shared only moves code between files. One thing we struggled with before Beta 1 was the same logic missing in WP Core which caused missing styles in iframed editors. In effect, block styles for core blocks worked only in the post editor.

[2022-05-04 11:32] carolinan commented on #40469
:/ OK adding add_editor_style no longer works with 6.0 Rc1. It did work in beta 2.

[2022-05-04 11:33] hypest commented on #40690
Perhaps [this other ticket](https://github.com/wordpress-mobile/gutenberg-mobile/issues/2773) is related?

[2022-05-04 11:34] badg0003 commented on #35591
Just to echo on what @poof86 was saying, I'm seeing that when defining fonts within `theme.json` that it recognizes variable fonts only. For example, in attempting to setup various weights for the non-variable font Roboto (see snippet below), it ignores every entry after the initial one:

[code]

So in the above example only Roboto at `400 `weight works, while the `700` variation is ignored comple

[2022-05-04 11:44] hypest commented on #40485
I'm seeing the same "empty published post" behavior when pasting the gist content via the web block editor on a WPCOM Simple site so, my current understanding is that this is not a mobile app specific issue.

### More context

Reproduced on WPCOM Simple using
Gutenberg: v13.1.0
Editing Toolkit: 3.32212
WP AMP: 2.0.5
CoBlocks: 2.18.1-simple-rev.1

_Not_ reproduced on a Pressable selfhosted site usi

[2022-05-04 12:39] jsnajdr commented on #40736
A combination of https://github.com/WordPress/wordpress-develop/pull/2672 (Core) and https://github.com/WordPress/gutenberg/pull/40818 (Gutenberg) should fix this.

**How to test:**
On a WP box with both patches (patched Core and patched Gutenberg plugin), install also the Blockmeister plugin. In that plugin, create a block pattern (saved as regular post).

Then open a post editor for a post. The

[2022-05-04 12:43] hypest commented on #38407
Updated the parent post with:

### 🛠️ Recently fixed or improved

++ [Mobile - HTML View - Add a top margin for the title](https://github.com/WordPress/gutenberg/pull/40312)
++ [Add featured image settings to the Latest Posts block](https://github.com/WordPress/gutenberg/pull/39257)
++ [Buttons block: Display formatting buttons after closing the block settings (only Android)](https://github.com/Wo

[2022-05-04 13:29] johnstonphilip commented on #40305
With this hook, it would be great to know the `post_type`, and possibly even the whole post object for context about what is being edited. This way I could register block patterns that are `woocommerce specific`, and contain blocks that should only be used on a `product` post_type, for example.

[2022-05-04 13:36] jameskoster opened #40820 "Navigation Block: "Start empty" produces "Failed to create Navigation Menu" error."
Here's my experience inserting a Navigation block on a fresh install with no menus present:

https://user-images.githubusercontent.com/846565/166692554-245c811f-4a41-4d52-a293-ba9d4d4433cd.mp4

[2022-05-04 13:41] KAJALwp commented on #40222
Hello @PatelUtkarsh, @carolinan

I have tried to reproduce the same issue, and yes I am also facing the same issue, with and without Gutenberg plugin.

Following are the version details
WordPress:- 5.9.3
Theme: Twenty Twenty-Two
Gutenberg Plugin:- 13.1.0
Mac OS:- Monterey 12.3.1
Chrome:- Version 99.0.4844.84 (Official Build) (arm64)

Thank you.

[2022-05-04 13:50] LukaszJaro commented on #40688
@annezazu I think site title is one of the best solutions to this. I'll close this off and can be used for reference, thanks!

[2022-05-04 13:50] #40688 closed, assigned to nobody

[2022-05-04 13:54] jsnajdr commented on #40305
To make that work, the REST endpoint would have to have a few query params, like:
[code]
and the `register_block_patterns` hook would get that info as some "context" param.

This used to be possible with the `current_screen` hook and its `WP_Block_Editor_Context` object param, but the REST endpoint knows only its query params, nothing else.

[2022-05-04 13:56] johnstonphilip commented on #40305
@jsnajdr `post_id` might be enough, as I could do a `get_post` to check the post type.

[2022-05-04 14:04] Mamaduka commented on #40562
This is original PR that change asset resolving for iframed editors #37193.

[2022-05-04 14:19] ndiego commented on #40562
@Mamaduka that is what it seems like, but the issue only starts occurring in 13.0+. That PR looks to have been included in 12.2

[2022-05-04 14:22] SantosGuillamot commented on #34994
This is the progress of the latest Pull Requests. The changes made in the PRs that are backported will be included in 6.0 version. If I am not mistaken, the other ones will have to wait for future versions (6.0.1 is expected in June/July).

Feel free to correct me or add anything missing 🙂

## Merged and backported in beta/RC
- [Comments block: Fix glitches found while backporting](https://href.li

[2022-05-04 14:28] jameskoster opened #40821 "Navigation block: Convert to links not creating a menu"
To reproduce:

* Fresh site with no menus (unsure if this is necessary)
* Insert Navigation block with Pages List block inside, select Pages List
* Click "Edit" in the toolbar to invoke the "Convert to links" Dialog
* Save

At no point am I asked to save the navigation as a menu. And even after saving, no navigation menu is created. Here's a video:

https://user-images.githubusercontent.com/846565

[2022-05-04 14:31] adamziel commented on #40316
All great notes @peterwilsoncc! It's an interesting situation:

* We have APIs are called `__experimental` so they can be hard-deprecated
* Some of them made it to WordPress Core as public APIs so they cannot be hard-deprecated anymore

In other words, releasing an `__experimental` API as a public API in WordPress Core makes it de-facto not experimental. It's just the codebase doesn't reflect that

[2022-05-04 14:32] priethor commented on #40603
Hi @suyogagitayana , thanks for reporting this issue!

It appears the underlying issue here is the same as #40469, which is being worked on. If you don't mind, let's close this issue so that contributors have better clarity on what bug fixes need to be fixed and we don't duplicate efforts. The context provided here is very helpful for solving the issue! 🙏

[2022-05-04 14:32] #40603 closed, assigned to nobody

[2022-05-04 14:37] jameskoster opened #40822 "Navigation: New menus are locked by default"
To reproduce:

* Enable the Navigation experiment in Gutenberg settings
* Open "Navigation (beta)"
* Enter a name to create the menu
* Notice that you cannot immediately edit the menu because it is locked.

Video:

https://user-images.githubusercontent.com/846565/166704921-fa9e273e-4a19-41c3-ae11-007b2e4c820f.mp4

Edit: Possibly related, but even when unlocked I cannot add all pages or start empty

[2022-05-04 14:43] ouw-jvt commented on #34641
Gutenberg already crossed these thresholds - these things need to be there, and they should be extendable by theme developers and ready-to-go for end-users. Right now we still have all of the negatives you listed but none of the controls we need (and have in other platforms).

[2022-05-04 14:47] getdave commented on #40562
Looking into this a bit...

I have the following code in a test plugin active on my Gutenberg 13 enabled site:

[code]

Both are seen in the network tab so it looks like I'm enqueuing them correctly:
<img width="525" alt="Screen Shot 2022-05-04 at 15 41 10" src="https://user-images.githubusercontent.com/444434/166705703-7a018cb3-55aa-4f9e-a95a-27a36a678186.png">

...but when I debug `packages/edit

[2022-05-04 14:48] paaljoachim commented on #40814
Hey @florianbrinkmann

This issue might be associated to what you are talking about:
Site Editor: Add New - Custom/General template
https://github.com/WordPress/gutenberg/issues/36860

[2022-05-04 14:54] ndiego commented on #40562
Thanks for digging into this. I am becoming more and more convinced it is related to https://github.com/WordPress/gutenberg/pull/37193. It did not popup until 13.0 with 5.9.3, even though it was merged in 12.2, because of a missing backport that was never done: https://github.com/WordPress/wordpress-develop/pull/2564#issuecomment-1096885263. This backport was fixed, which seem to have then made th

[2022-05-04 14:58] gziolo commented on #40562
@getdave `wp_enqueue_block_style` was added to WP core 6 months ago with:
https://github.com/WordPress/wordpress-develop/commit/f034bc832eb091079e4130f6a206b4f496766796

I don't think it ever registered scripts/styles to the block type object in the registry.

[2022-05-04 15:03] gziolo commented on #40562
Here is the commit where we backported changes from Gutenberg 12.2 to WordPress core: https://github.com/WordPress/wordpress-develop/commit/1d086c57d5bb1da661d675fae8acca94390a4ffa. It resolved the issue with styles for core block in the iframed editors.

I'm still not sure how this could work correctly with WordPress 5.9.3 and Gutenberg 12.1 and earlier, because the old handler looks similar.

[2022-05-04 15:46] ofhouse commented on #11280
In case someone landed here, the current tracking issue is this: https://github.com/WordPress/gutenberg/issues/16006

[2022-05-04 16:12] DurandSacha commented on #23942
I found a quick solution : Install "Really symply SSL" for having a real SSL system !

[2022-05-04 16:14] LukaszJaro opened #40823 "Multiple Search blocks on same page with icon causing duplicate id with svg icon"
### Description

Adding multiple search blocks with icon displaying on same page causes duplicate ID.

![image](https://user-images.githubusercontent.com/10998875/166723146-b68849b6-ee2e-46b9-8002-4cd807a15c6f.png)

`<svg id="search-icon" class="search-icon" viewBox="0 0 24 24" width="24" height="24">`

### Step-by-step reproduction instructions

1. Add search block from inserter
2. Select use but

[2022-05-04 16:14] ellenbauer commented on #40562
Thank you so much for all your help and digging into the issue further. Please let me know if I should make any changes to adding the patterns for testing. I would love to be able to help further.

[2022-05-04 16:30] ryelle commented on #32939
I don't know that the `"hierarchy":[…]` solution really solves the issue in the description — or at least, it doesn't solve my issue 🙂  Even with this, you'd still need different `page.html` & `single.html` templates so you could define different fallbacks.

Maybe something like this, where the `part` value is one of a set of tokens that appends to the corresponding value to form a dynamic file pa

[2022-05-04 17:05] Mamaduka commented on #40822
Hi, @jameskoster

This is probably related to #40263. The editor uses template lock for main navigation block, so the lock status is inherited.

Second is known bug, but since screen development is on hold for now, I don't think it's priority to fix the issue.

[2022-05-04 17:05] florianbrinkmann commented on #40814
Hi @paaljoachim,

thanks for the link! As far as I understand, your ticket is about the creation of custom page/post templates? I mean the template that is used for single posts by default (singular.php or single.php in Classic Themes).

[2022-05-04 17:06] justintadlock commented on #32939
The `hierarchy` solution would only solve issues where possible template part names are known and can be hardcoded.  But, it won't solve everything because we cannot inject dynamic data into it.

I like the idea of having a set of tokens.  It would be an extensive set and need to cover pretty much all the variables of global template hierarchy and object level (post, term, user, etc.).

With that

[2022-05-04 17:12] anton-vlasenko opened #40824 "Backport fixes for `wp/v2/block-patterns/patterns` and `/wp/v2/pattern-directory/patterns` endpoints to Gutenberg"
## What problem does this address?
There have been 3 Core PRs that fixed a number of issues related to `wp/v2/block-patterns/patterns` and `/wp/v2/pattern-directory/patterns` endpoints.
These PRs have to be backported back to Gutenberg:

- [ ] Backport https://github.com/WordPress/wordpress-develop/pull/2591
- [ ] Backport https://github.com/WordPress/wordpress-develop/pull/2625
- [x] Backport htt

[2022-05-04 17:32] paaljoachim commented on #40814
Gotcha. The issue I made is mostly about creating custom templates, but it also crosses lightly into the single post default templates.

[2022-05-04 17:36] paaljoachim commented on #32447
I went ahead and reopened this issue.

[2022-05-04 18:00] amustaque97 commented on #40823
I'm able to reproduce the issue. Indeed I can see `id` attribute value as `search-icon` for multiple search blocks. As per [MDN docs](https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/id), `id` must be unique in the whole document.

Thank you for reporting 👏🏻

[2022-05-04 18:19] amustaque97 commented on #40823
After looking into the code I found issue is here
https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/search/index.php#L89

My 2 cents would be to either remove `id="search-icon"` or append some random string/number at the end of id value. For example: `id="search-icon-ABC"` and `id="search-icon-DEF"`.

[2022-05-04 18:33] amustaque97 commented on #40813
Hi @simonwammerfors, thank you for reporting this. I would appreciate if you can provide some more info in terms of reproduction steps so that we try to investigate and proceed further. Thank you.

[2022-05-04 18:45] alexstine commented on #40823
@amustaque97 Maybe you could use the index starting from 0?

* search-icon-0
* search-icon-1
* search-icon-2
This will ensure the id attribute is always unique. Other than that, you might be able to get away with using the wp_rand() function.
https://developer.wordpress.org/reference/functions/wp_rand/

One could make the argument that the max integer would not be enough but I think I would worry

[2022-05-04 18:52] amustaque97 commented on #40823
@alexstine, thank you so much for your input. I would love to understand more about performance concerns. Request you to please share some light on it.

[2022-05-04 18:54] ockham opened #40826 "Post Comments block: Whitespace on top of warning message"
### Description

Users that still have the now-deprecated Post Comments block in one of their templates (or elsewhere) will encounter a warning, suggesting them to use the Comments Query Loop block instead.

That warning has some ugly extra whitespace on top of it.

### Step-by-step reproduction instructions

1. The Post Comments block is currently hidden from the inserter. You need to remove the

[2022-05-04 18:55] alexstine commented on #40823
@amustaque97 My point was this.

[code]

This usage is fine. What I am getting at is how would performance be effected if someone actually added 999 search blocks to one page/post? Seems like performance would be the bigger issue here than say having 2,000 unique id attributes. It might be best to research if the search block is limited in anyway by how many times it can exist on a single page/pos

[2022-05-04 18:58] ockham opened #40827 "Post Comments Block: "Older Comments" and "Newer Comments" links mis-aligned"
### Description

Users that still have the now-deprecated Post Comments block in one of their templates will find that the "Older Comments" and "Newer Comments" links aren't left- and right-aligned like they should be, but stacked on top of each other.

Previously mentioned in the Loom video in #40484.

### Step-by-step reproduction instructions

1. The Post Comments block is currently hidden from

[2022-05-04 19:24] amustaque97 commented on #40823
First approach is simpler and faster as compared to `wp_rand` function. Also, it doesn't depend on the max number of search blocks. I will start working on draft PR and let's keep the discussion going there if required. Thank you once again for your input.

[2022-05-04 19:34] #39958 closed, assigned to jhnstn

[2022-05-04 20:02] getdave commented on #40562
Ah my mistake. I'm sure I saw one of the reports mentioned that being used. Looking an Aino Blocks Plugin they are just using `wp_enqueue_style` hooked on `enqueue_block_editor_assets` so I'll focus on that.

[2022-05-04 20:15] ndiego commented on #40562
Last update for today. I have narrowed down the issue to something that changed in 13.0. The issue does occur in 6.0 Beta 1 **without** Gutenberg active. So some change happened between 12.9 -> 13.0 and 5.9.3 -> 6.0 that is causing this. I wish I could be more sure about the cause, but currently, everything is pointing to https://github.com/WordPress/gutenberg/pull/37193. That said, that PR was me

[2022-05-04 20:16] 9-tailed commented on #39167
The problem is not directly connected to wordpress, so yes this can be closed.
It would have been nice to see any kind of error message, maybe when switching to the theme, but I think this is nothing for this issue. Thanks.

[2022-05-04 20:16] #39167 closed, assigned to nobody

[2022-05-04 20:42] westonruter commented on #22515
Why not just go ahead and `chmod -R 777 .` the whole directory tree? It's not like the file permissions need to be locked down in the container for development purposes, right?

[2022-05-04 21:12] ockham commented on #34994
@SantosGuillamot I updated your [comment](https://github.com/WordPress/gutenberg/issues/34994#issuecomment-1117376308) to add two links to issues that I created (plus one for a PR).

[2022-05-04 21:56] badfeather commented on #19796
@schutzsmith I've had similar issues with the theme.json file breaking other things, since my theme is not a FSE theme. This is how I've handled disabling some of these experimental features in my theme. I'm sure these are all bound to change in an core update though.

[code]

[2022-05-04 21:57] noahtallen commented on #22515
Apologies for the delay, been fairly busy!

I experimented with;

[code]

put right around here: https://github.com/WordPress/gutenberg/blob/1b9fe3868a1481dc39f3e49ede11ce6f1615d2d7/packages/env/lib/commands/start.js#L144

Essentially, right after downloading and starting the docker images, but before configuring anything else.

After trying this, it did work correctly -- everything has rwx permis

[2022-05-04 22:07] dmsnell commented on #14873
To my knowledge @paaljoachim nothing fundamental has changed in the project. You are invited to pick up individual data types which lack parsers when retrieving API responses and then add them.

@adamziel has been adding types for the core entities and parsers would fit in well with those types because as we move forward, we can eventually get to the point where any code which uses those types wil

[2022-05-04 22:10] kory-northrop opened #40831 "Global theme.json color settings can't be overriden at the block level"
### Description

Overriding the global color settings that are declared in theme.json is not working when I specify a block-level declaration for color settings.

### Step-by-step reproduction instructions

1. I disabled the color settings globally in my theme.json file so that the color panel is not visible when managing blocks, but I want to enable the color settings for the core Group block.
2.

[2022-05-04 22:15] paaljoachim commented on #14873
I went ahead and added the "Needs Dev" label. Not sure what else I am able to do with this issue.
I can ping @talldan Dan and @gziolo Greg as they might have some more knowledge to share.

[2022-05-04 22:22] schutzsmith commented on #19796
Thank you so much!!!

On Wed, May 4, 2022 at 5:56 PM Brad Thomason ***@***.***>
wrote:

--
Daniel Schutzsmith (He/Him)
Designer • Developer • Strategist
------------------------------------------
***@***.*** • 917-282-9037
------------------------------------------
http://daniel.schutzsmith.com

[2022-05-05 00:37] dinhtungdu opened #40833 "Template panel: Handle custom page for posts"
## What problem does this address?

In https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/6366, we hide the 'Template panel' for the Shop page by unregistering the block templates support for the shop page edit screen. While it works, it's not the best UX. I found we're handling nicely the Blog page:
- Display a message telling the user that the template can be changed => Cle

[2022-05-05 01:55] ramonjd commented on #40756
This is something that's irked me as well. 😄 It would be very handy just to preview work in a new browser tab and let the user manually control viewport widths there.

So I took a quick look at the components: [DevicePreview](https://github.com/WordPress/gutenberg/blob/4834fad30e39e47d71a93e2e08d31b3b856711e1/packages/edit-post/src/components/device-preview/index.js) ➡️  [PreviewOptions](https://g

[2022-05-05 03:17] gziolo commented on #40714
Thank you for raising the issue and offering your help. I think you should be able to implement all the necessary changes in one PR inside the Gutenberg plugin. For REST API call you should be able to use existing hooks to pass additional params. The worst case scenario would be overridden the existing endpoint by reusing the current one with `get_item()` reimplemented. I don’t know what has to ch

[2022-05-05 05:07] Mamaduka commented on #40675
@ndiego, there's PR with a possible fix - #40799. It would be nice to get someone from the core team to review it.

[2022-05-05 05:11] ramonjd commented on #39945
I threw up something over at https://github.com/WordPress/gutenberg/pull/40837

It tries to replicate Photoshop's layout behaviour:

![2022-05-05 12 10 41](https://user-images.githubusercontent.com/6458278/166866539-88633c79-148d-4e88-a78e-c83c4ea435a2.gif)

[2022-05-05 05:42] carolinan opened #40838 "Allow setting default site logo width in theme.json"
## What problem does this address?

Theme developers can set a site logo width in the HTML template markup, but can not set a default width via theme.json.

## What is your proposed solution?

Allow setting a default site logo width in theme.json.

[2022-05-05 07:31] #36471 closed, assigned to bliebek, gziolo

[2022-05-05 08:00] simonwammerfors commented on #40813
Sure.

1. Spin up a fresh install.
2. Create a blank block theme. I used the generator at fullsiteediting.com to create an empty theme.
3. Edit theme.json and add values to settings.layout.contentSize and settings.layout.wideSize
4. WP now output inline CSS like `.wp-container-7 > * {margin-block-start: 0;margin-block-end: 0;}`
5. Add some margin for paragraphs in theme.json
6. Go to the Hello wor

[2022-05-05 08:40] #32802 closed, assigned to mauriac

[2022-05-05 08:42] simonwammerfors commented on #40813
Do you have any thoughts on this @carolinan?

[2022-05-05 09:05] Mamaduka commented on #40286
Create PR to fix this issue - #40841.

[2022-05-05 09:40] simonwammerfors commented on #35591
I have the same problem loading multiple weights/styles of the same non-variable font. Only the first is getting loaded. Using the snippet below, merriweather-regular-webfont.woff2 and poppins-bold-webfont.woff2 is loaded.

[code]

[2022-05-05 09:58] zzap commented on #39654
Thank you @ryanwelcher and @Mamaduka , dev notes are published and Field guide updated.

- https://make.wordpress.org/core/2022/05/05/block-locking-settings-in-wordpress-6-0/
- https://make.wordpress.org/core/2022/05/05/updates-to-the-wordpress-create-block-templating-system/
- https://make.wordpress.org/core/2022/05/03/wordpress-6-0-field-guide/

[2022-05-05 10:02] gziolo commented on #40562
A potential fix is ready for testing: #40842.

[2022-05-05 10:02] gziolo commented on #40469
A potential fix is ready for testing: #40842.

[2022-05-05 10:13] adamziel commented on #40316
Actually, that doesn't seem to be possible. At least these two kinds of APIs cannot be made private before a major release:

* React properties
* experimental APIs exposed by package A to be used in package B

There must be a way to ship them and retain the ability to remove them. If anything that's made public cannot be easily removed, there's no point in maintaining Gutenberg as a separate repos

[2022-05-05 10:21] Clorith commented on #40316
I feel like @peterwilsoncc is much better at I than articulating here, but it should be noted that the handbook page you are referencing is the contributor guidelines for the Gutenberg plugin, and not the implementor guidelines for developers using what actually lands in core.

If the worry is that experimental features are needed for a feature to be put into core, would it then not stand to reaso

[2022-05-05 10:46] ntsekouras commented on #40474
Thanks for the issue @mwnciau ! I'll close this as a duplicate of https://github.com/WordPress/gutenberg/issues/33581

[2022-05-05 10:46] #40474 closed, assigned to mwnciau

[2022-05-05 12:01] getdave commented on #40822
Oh! Since when?

[2022-05-05 12:03] priethor commented on #30668
Thanks for the extra context! I think this is more of a limitation in the Pattern Creator rather than an issue with the Post Editor, so I've opened [an issue in the Pattern Directory repository](https://github.com/WordPress/pattern-directory/issues/489) accordingly.

[2022-05-05 12:09] Inwerpsel opened #40845 "`useDisabled` hook causes infinite loop"
### Description

Usage of the `useDisabled` hook can result in infinite loops. I found this on the Post Template block where it [disables the inputs of the none selected list items](https://github.com/WordPress/gutenberg/blob/ad2a96baac3351a0cc00d4113b2b60bcca03bbdb/packages/block-library/src/post-template/edit.js#L218-L231). It has a heavy impact on editor performance.

It seems like the listener

[2022-05-05 12:11] Mamaduka commented on #40822
I'm not sure when this change was introduced, but it's there :)

https://github.com/WordPress/gutenberg/blob/ad2a96baac3351a0cc00d4113b2b60bcca03bbdb/packages/edit-navigation/src/components/layout/index.js#L125-L128

[2022-05-05 12:24] ockham commented on #40827
Comparing to the Post Editor, it seems like the "Older Comments" and "Newer Comments" links have the `alignleft` and `alignright` classes assigned, respectively:
![image](https://user-images.githubusercontent.com/96308/166922138-2f77e28d-8c5a-4913-8fa0-7992cf31d7af.png)

That class seems to be coming from Core's `common.css`: https://github.com/WordPress/wordpress-develop/blob/b27069117eb22c39d523

[2022-05-05 12:25] #40469 closed, assigned to youknowriad

[2022-05-05 12:25] #40562 closed, assigned to youknowriad

[2022-05-05 12:28] scruffian commented on #40820
I can't replicate this. What versions of Gutenberg and WordPress are you running?

[2022-05-05 12:31] getdave commented on #37407
This is currently quite a jarring experience when you create a Category template. When we have the `category-$slug.html` functionality in the UI it would be ideal if the created template automatically used the block's from it's parent in the template hierarchy.

[2022-05-05 12:33] tomasztunik commented on #38329
Confirmed it in the latest trunk as well, I'll try to have a look at it if nobody is already.

[2022-05-05 12:34] scruffian commented on #40821
I also can't replicate this one. I see this once I convert to a navigation...
<img width="289" alt="Screenshot 2022-05-05 at 13 33 44" src="https://user-images.githubusercontent.com/275961/166923837-b84bd00f-f431-4018-a7f5-4f918dd305f4.png">

[2022-05-05 12:40] ockham commented on #40827
I checked the page source of the Site Editor, and `common.css` _is_ being loaded there:

[code]

My next best guess is that it has to do with the iframing of the Site Editor (which I know very little about 😅 ).
I just noticed a recent [issue](https://github.com/WordPress/gutenberg/issues/40562), which just had a [fix](https://github.com/WordPress/gutenberg/pull/40842) by @youknowriad committed. Un

[2022-05-05 13:01] ockham commented on #40827
Yeah, so this does seem to fix the issue:

[code]

I'll file a PR.

[2022-05-05 13:18] ockham commented on #40827
#40846

[2022-05-05 14:28] Naoell opened #40850 "Cannot add tags to post"
### Description

When trying to add a new tag, the tag disappears and won't be added.

When adding a tag the app send a XHR-request to check if the tag exists.
If this is true, then it does a search for that tag name.
The search has "per_page" set to 20.
![image](https://user-images.githubusercontent.com/9252222/166941729-d6ffda29-c818-4a07-8cd5-1590a81a5758.png)

If there are more than 20 results

[2022-05-05 14:29] Mamaduka commented on #40845
@youknowriad, I think you fixed the loop issue in #40649, correct?

[2022-05-05 14:32] youknowriad commented on #40845
I fixed one loop issue but I can't confirm 100% whether it fixes this one as well :P

[2022-05-05 14:34] jameskoster commented on #40820
Latest stable version of WP, latest Gutenberg trunk. It doesn't seem to be happening now though, so perhaps we can close this.

[2022-05-05 14:34] #40820 closed, assigned to nobody

[2022-05-05 14:37] jameskoster commented on #40821
Seems to be working for me now as well 🤷‍♂️

[2022-05-05 14:37] #40821 closed, assigned to nobody

[2022-05-05 14:56] amustaque97 commented on #40826
Hi, I would love to take this issue up. As per my investigation, this issue is theme specific. In twentytwnetytwo theme we have added a custom spacing. https://github.com/WordPress/twentytwentytwo/blob/trunk/theme.json#L141

I'm not sure how to fix this. Shall I directly add property `padding-top: 0 !important` in `packages/block-library/src/post-comments/style.scss` file? Or what would be the rig

[2022-05-05 14:59] tomasztunik commented on #38329
Narrowed it down to a conflict with `__experimentalTextTransform` - when this supports feature is removed it starts working as expected. Sharing in case somebody is aware of any issues around that - will continue investigating. It doesn't work also if `__experimentalTextTransform` is the only additional supports feature besides `fontSize`.

Tested and works ok in Spanish so something very peculiar

[2022-05-05 15:56] Mamaduka commented on #40845
I was able to reproduce the issue on both 5.9.3 without the Gutenberg plugin. I think it was the problem with the original `useDisabled` hook + loop issue fixed in #40649.

I'm no longer able to reproduce the issue when testing on the `update/block-overlay` branch.

[2022-05-05 16:18] tomasztunik commented on #38329
@gziolo it seems the problem is coming from a translation clash. In Polish, we have translated `Font size` and `Letter case` as `Wielkość liter` (actually as - `Wielko\u015b\u0107 liter`) because of that and that it compares against a label in many places rather than a field key/name it causes a clash where the latter to register gets ignored as Gutenberg thinks it's already registered.

Do we wan

[2022-05-05 16:29] fabiankaegy opened #40854 "Add a mechanism to use spacing presets"
## What problem does this address?

Currently in Gutenberg if a block & theme have declared support for margin/padding controls the user is presented with a spacing control that allows them to input raw CSS Unit values. This comes with two issues however:

1. **Lack of consistency.**
Editors have the burden of using consistent spacing values throughout the site. They have to remember the exact val

[2022-05-05 16:38] Mamaduka commented on #38653
Hi, @derridHeidegger

The new Styles panel design will be part of the WP 6.0 release.

[2022-05-05 16:38] #38653 closed, assigned to nobody

[2022-05-05 16:42] westonruter commented on #22515
Oh right. We should avoid touching the execute bit for files because that is tracked by Git. So So I think files should get 666 and directories should get 777:

[code]

Either that, or when cloning the repo the [`config.fileMode`](https://mirrors.edge.kernel.org/pub/software/scm/git/docs/git-config.html#:~:text=current%20sparse%20checkout.-,core,-.fileMode) could be disabled:

[code]

[2022-05-05 17:16] jffng opened #40856 "Build failure due to missing package `caniuse-lite`"
### Description

The plugin was failing to build for me because of a missing package: `caniuse-lite`.

### Step-by-step reproduction instructions

1. `rm -rf node_modules`
2. `nvm use`
3. `npm i && npm run dev`

Consistently resulted in the following for me:

`Error: Cannot find module 'caniuse-lite/...'`

Manually installing the package (`npm i caniuse-lite`) fixed the issue for me.

### Screensh

[2022-05-05 17:19] twstokes opened #40857 "Editing text for a URL edits another URL's text"
### Description

I have two URLs in the editor, URL A and URL B. When editing the text for URL B and clicking "ENTER" to commit the change, the change is applied to URL A instead.

I would expect the change to be applied to URL B.

### Step-by-step reproduction instructions

1. Start a new post and switch to the code editor
2. Paste the following into the code editor

[code]
3. Exit the code edito

[2022-05-05 17:47] amustaque97 commented on #40857
Closing this issue. Duplicate of #40348

[2022-05-05 17:47] #40857 closed, assigned to nobody

[2022-05-05 17:48] joemaller commented on #40170
Being able to filter `orderby` input choices would be a great first step, but supporting more [native ordering options](https://developer.wordpress.org/reference/classes/wp_query/#order-orderby-parameters) would be welcome. One very-common option that's missing is `menu_order` which is frequently used to sort page-like custom post types and also by several ordering plugins.

[2022-05-05 17:52] joemaller commented on #40170
Issue #24934 seems to be where this is tracking

[2022-05-05 18:13] amustaque97 commented on #40856
Hi there, I tried twice but still not able to reproduce the error.

[2022-05-05 18:16] jffng commented on #40856
Okay, I'll close this one out unless someone else can recreate it.

[2022-05-05 18:16] #40856 closed, assigned to nobody

[2022-05-05 18:47] amustaque97 commented on #40850
Hi @Naoell, thank you for reporting issue. I'm not able to reproduce the issue. I'm sharing my screen recording here! Let me know If I miss something.
Thank You

https://user-images.githubusercontent.com/21127788/167002014-cb96624c-5123-44dc-8bcc-296e04fc212a.mov

[2022-05-05 18:56] WhiteHeatherClub commented on #40562
Thank you for such great work with fixing this. First Class!

[2022-05-05 19:00] viktorix opened #40860 "Block editor doesn't filter user list using wp_dropdown_users_args"
### Description

wp_dropdown_users_args filter works as expected when Classic Editor is enabled but doesn't work when block editor is enabled. The following code should exclude user with ID 2 from showing up in the author dropdown on the post/page edit page:

[code]

This works in the classic editor, but not in the block editor. See screenshot.

If this is expected, then documentation for the filt

[2022-05-05 19:02] gziolo commented on #38329
"Rozmiar czcionki" is another option 👍🏻

It's a very interesting bug. I would say updating the translation will completely resolve it. There is this question whether having two different controls with the same name wouldn't be still confusing 😄

Anyway, I agree that in principle we should rather use machine generated unique ids to avoid this accidental issues.

[2022-05-05 19:31] skorasaurus commented on #31390
Several of these features mentioned in here have been implemented:
- filtering by keyword
- limiting the post count (done by selecting the number of pages to load in the query toolbar along with choosing the number of pages to display per page)

[2022-05-05 19:39] tomasztunik commented on #38329
"Rozmiar czcionki" sounds better 👍

Can you update that? don't have a translator's account.

Should we create an issue with using labels as keys? Or maybe I can bring it
up on the next meeting open floor.

I'd update the title of the issue to make it easier to find and not unique
to polish if something similar happens for other languages.

And agreed, it was a tricky one! Took a while to realise w

[2022-05-05 19:56] nextgenthemes commented on #36834
Can somebody help me how I specifically remove inline CSS for one block only?

[code]

Why TF is it even done this way that the HTML gets polluted with these many snippets of CSS where most of it seems NOT dynamic at all. The CSS should be loaded from files and CSS variables should be printed out inline for the dynamic parts. This is so stupid and inefficient. The browser will never cache the CSS

[2022-05-05 20:08] costdev opened #40861 "Improve the explanation for the "Layout" setting."
Originally reported on [Trac 55670](https://core.trac.wordpress.org/ticket/55670).
## What problem does this address?

In 6.0 there's is this text about the new layout setting:

That is a really confusing text. I would avoid the wording of "columns" cause that conflicts when users are inside a column block.

I do found this layout setting a complex setting; as it only has effect on "internal" bloc

[2022-05-05 20:44] costdev opened #40862 "Cannot see the Post Excerpt textarea while typing its value on iPhone 11 Pro (iOS 15.4.1)"
### Description

Originally reported in [Trac 55676](https://core.trac.wordpress.org/ticket/55676).

The Post Excerpt cannot be viewed while editing the textbox in the Settings pane.

### Step-by-step reproduction instructions

1. Go to `Posts > Add New`.
2. Click the `Settings` icon to the top right.
3. Scroll down to `Excerpt` and expand it.
4. Tap to enter the textbox. The keyboard covers the t

[2022-05-05 21:04] digitalsutton commented on #38637
Any update on this? Copy/pasting from word or Google is incredibly common. Yes, we can try to "train" our content creators, but I think it's fair to expect that title text to be properly filtered to avoid malformed characters appearing to users.

Does anybody have a workaround they can share? Thank you!

[2022-05-05 21:09] NoHopeRadio commented on #40059
Just want to note a few other other related issues to this at least from the .com side, as I've run into issues with alignment settings in nested blocks relatively regularly since the first time I saw an issue in February.

https://github.com/Automattic/wp-calypso/issues/61473

In this case, it was copying a block with alignment settings into a pre-FSE widget area that resulted in the strange beha

[2022-05-05 21:49] kblizeck opened #40863 "wp_editor() visual tab does not work when used in meta box"
### Description

Related to #5365 & #3302

Visual tab of `wp_editor` appears blank, and without ability to focus when used within a metabox
Text tab shows HTML content
If you click Text tab then refresh the page, the Visual tab then loads correctly

### Step-by-step reproduction instructions

1. `add_action` for Meta box in page
2. add `wp_editor` field
3. Visit page editor - Visual tab blank
4. C

[2022-05-05 22:17] noahtallen commented on #22515
Toying around with something like this:

[code]

The performance is really poor. There are a ton of files -- for example, it's doing stuff on `node_modules` in Gutenberg, and any `.git` directories.

I'm not loving this approach, partly because of the performance, but also because I don't love the idea of setting permissions on user's directories which wp-env doesn't "own."

So I went back to look

[2022-05-05 23:56] coreyworrell commented on #31629
Noticing issue mentioned here: #34509. I have `16x9` that is converted to `wp--custom--aspect--16-x-9`, which causes issues because we're reading from `theme.json` in PHP for autosuggest for class names as well as variables in Stylus. For PHP I can run the key name through `_wp_to_kebab_case` I suppose, but there is obviously no equivalent in Stylus/SCSS/etc. Not sure if there is any good solution

[2022-05-06 00:04] #39945 closed, assigned to ramonjd

[2022-05-06 00:08] flexseth opened #40866 "Symbolic link to site files for easier access to Filesystem from .wp-env directory"
## What problem does this address?

Currently, when you spin up an installation in the terminal, it gives you the option to admin the website. You can access the filesystem by clicking **Open In Visual Studio Code** in Docker, it takes a minute to mount, and you can see the files in VS Code. And I believe to be an obfuscated process (took a while to figure out where the `.wp-env` files were, to st

[2022-05-06 00:16] justintadlock commented on #31629
The only way I have found to handle this across the board is to name them in `theme.json` as WP would output them.  So, instead of using `16x9` in `theme.json`, literally type out `16-x-9`.

This will make sure it's consistent everywhere.

[2022-05-06 00:23] coreyworrell commented on #31629
@justintadlock yeah, that makes sense. But right now we use them for utility classes, like `aspect:16x9`, and it just isn't quite as nice to be forced to use `aspect:16-x-9`. But it kind of is an edge case I suppose.

[2022-05-06 01:35] DeoThemes commented on #33542
How to properly enqueue viewScript in render_callback? What is the correct script handle? I'm following examples of navigation and file blocks, but every time it fails.

**block.json**
[code]
I tried all these variations:

**render_callback.php**
[code]

[2022-05-06 01:44] itsthex opened #40869 "Shortcode block breaks when archive or category blocks used in header block"
### Description

When using the new theme editor for twenty twenty two, adding the category or archive blocks to the header block causes template shortcode blocks to not get parsed. Raw shortcode is printed to the page and ignored, even on vanilla theme.

### Step-by-step reproduction instructions

1. Add shortcode block to theme page (using caption code is good)
2. Add archive or category block t

[2022-05-06 02:06] StevenDufresne opened #40870 "Columns: add min and max width settings for responsive control"
## What problem does this address?
The `<Columns>` block is really useful in constructing responsive layouts, especially when they are nested together. However, there are times when you want columns to stack before the `mobile` breakpoint is triggered to avoid some awkward layouts.

## What is your proposed solution?
Add min and max support to the Columns block so a user could define a minimum num

[2022-05-06 02:08] peterwilsoncc opened #40871 "Cover block video can show when set to featured image."
### Description

If the cover block is changed from displaying a video to displaying a featured image, it will continue to display the video.

### Step-by-step reproduction instructions

1. Create a new post
2. Insert the cover block, set it to display a video
3. Save the post
4. Set the post's featured image
5. Change the cover block to use the featured image
6. Save the post
7. In the admin the

[2022-05-06 02:57] glendaviesnz commented on #9184
I couldn't replicate this on WP 5.9 and GB 13.1:

https://user-images.githubusercontent.com/3629020/167059468-8d915e49-e0eb-4d82-8046-926c7f4df9e6.mp4

Seems to have been resolved somehow, can't see any obvious fix anywhere, but going to close for now. Feel free to reopen if you can still replicate.

[2022-05-06 02:57] #9184 closed

[2022-05-06 03:35] #40286 closed, assigned to Mamaduka

[2022-05-06 03:57] talldan commented on #40822
There are quite a few issues with the navigation editor because of changes to the block. Maybe it's worth removing this setting and ensuring the editor isn't enabled for anyone (the code for the editor can stay, but perhaps the project is considered 'mothballed').

I don't think there's any active effort to solve the issues and my concern is that it's confusing or might break things for users.

I

[2022-05-06 04:08] thekingsprojects commented on #40676
Another case: 5190355-zen

[2022-05-06 04:17] glendaviesnz commented on #19921
PR for this here https://github.com/WordPress/gutenberg/pull/40872

[2022-05-06 04:37] glendaviesnz commented on #27194
I am not seeing this in WP 5.9 and Gutenberg 13.1, and since 5.9 there is a completely refactored Gallery block - @kmadhak can you confirm if you still get this in WP 5.9?

[2022-05-06 05:59] #35873 closed, assigned to kevin940726

[2022-05-06 05:59] #32872 closed, assigned to nobody

[2022-05-06 06:17] #19921 closed

[2022-05-06 07:21] carolinan opened #40876 "Default page and single post templates can be renamed in the template editor"
### Description

I am not sure if this is a bug, but it was unexpected for me.

While testing #40830, I noticed that if I activate a block theme that does not have a singular, post or page template, and I use the Site editor to create a page or a single template, then those templates can be renamed in the template editor.
(They can not be renamed when opened in the site editor.)

To clarify, these

[2022-05-06 07:41] gziolo commented on #38329
I guess you only need an account on WordPress.org. You can change translations at https://translate.wordpress.org/locale/pl/default/wp/dev/. I will try it now.

[2022-05-06 07:47] gziolo commented on #38329
Done, it was easy to propose changes for both 6.0 and 5.9 :)
<img width="1222" alt="Screenshot 2022-05-06 at 09 46 32" src="https://user-images.githubusercontent.com/699132/167089551-4164df5c-bb00-45dc-964b-7293ff5dbdae.png">

[2022-05-06 07:49] tomasztunik commented on #38329
Nice, clicked around the translations interface after you mentioned it and saw your change - will keep this in mind for the future 👍

[2022-05-06 07:51] Mamaduka commented on #38329
It might be a good idea to provide translation context to avoid similar issues in another language.

[2022-05-06 07:51] talldan commented on #40618
Could it also be locked, or is there a use case for removing Post Template?

[2022-05-06 07:52] carolinan opened #40877 "6.0 template creation in the Site Editor: New page template is not selectable in the Template section"
### Description

In WordPress 6.0-RC1-53356, **when Gutenberg is not active**, page templates created in the Site Editor are not used and not selectable in the template section when you create a new page.

### Step-by-step reproduction instructions

1. Activate a block theme that does not have a template for pages. For example https://wordpress.org/themes/miniblock-ooak/
2. Open the Site Editor, t

[2022-05-06 07:54] hypest commented on #29815
Reopening as not all settings have been covered yet.

[2022-05-06 07:55] sybrew commented on #27194
@glendaviesnz please try any browser other than Safari. This is not an issue with the Gallery Block, but with the overall styling of dropdowns.

![image](https://user-images.githubusercontent.com/7662236/167091665-0f44ed5a-ed73-4efa-8cee-12e738233ed7.png)

^ The last character of the Post Format dropdown is a `y`, and the Author's username is `pgyqj`.

This is using WP 6.0-RC1. Viewable with and w

[2022-05-06 08:11] mohanrangasamy commented on #23293
Hi Shaun please share some references for the same block

[2022-05-06 08:13] tomasztunik commented on #38329
Adding context is not going to invalidate translations right? Should we provide it on both ends for `Font size` and for `Letter case` and if we were to add it should we add it on every occurrence?

Proposing:

Though I'm thinking if this is not too defensive, I feel even if a translation clash like this occurs we should have ways to avoid issues like this one. Had a quick search for `label ==` and

[2022-05-06 08:15] gziolo commented on #40447
Yes, I see now where the confusion comes from. I’ll see how we could improve that.

[2022-05-06 08:19] Mamaduka commented on #38329
It won't, but usually a good way to avoid similar problems.

[2022-05-06 08:28] #40075 closed, assigned to ntsekouras

[2022-05-06 08:38] tomasztunik commented on #38329
Opened the PR with the translators' comments. I've added it only in the `TypographyPanel` file - let me know if you think this is enough or if we should put it all over.

[2022-05-06 08:38] jameskoster commented on #40618
Perhaps edge cases like elaborate designs where you want pagination in a different location to the posts list? 🤔

[2022-05-06 08:44] carolinan commented on #40877
Closing as duplicate of https://github.com/WordPress/gutenberg/issues/40675

[2022-05-06 08:44] #40877 closed, assigned to nobody

[2022-05-06 08:47] kmadhak commented on #27194
Hello @glendaviesnz ,

I have tried to regenerate the issue in WordPress 5.9.3 with and without Gutenberg 13.1 version plugin, and yes I am facing same issue, for more detail please view the attached video and let me know if there is anything.

Thank you.

https://user-images.githubusercontent.com/69349539/167098742-0889367d-967b-4801-8d04-dbff96574667.mp4

[2022-05-06 08:52] Inwerpsel commented on #40845
Using a mutation observer with React and letting that observer itself mutate the nodes it's observing seems like an inherently fragile setup. I'm not saying the linked PR doesn't address this concern, but it seems there's still good reason for prudence before starting to make wide us of `useDisabled`, especially on reusable blocks.

There's a lot of complexity involved in how it will in practice b

[2022-05-06 08:58] Mamaduka commented on #40876
This is a bug. Changing template name for built-in template should be disabled.

I will create PR shortly.

[2022-05-06 09:20] NicoHood commented on #10791
Is there a way to add more than 6 columns? I'd like to have 8, but that is not supported right now.

[2022-05-06 09:42] #40823 closed, assigned to amustaque97

[2022-05-06 10:13] jameskoster opened #40882 "Pages List: Add support in the Navigation panel"
Theoretically would it possible to re-order items in the Pages List block by updating Page `order`? If that is the case then we could potentially list the pages in the Navigation panel:

https://user-images.githubusercontent.com/846565/167107209-35e5b356-d17e-4371-bbe3-c977cd7784ff.mp4

We could then surface the "Convert to links" UX in a few additional ways, for example if you attempt to remove a

[2022-05-06 10:13] jameskoster commented on #40733
Closing in favor of #40882

[2022-05-06 10:13] #40733 closed, assigned to nobody

[2022-05-06 10:29] #40876 closed, assigned to Mamaduka

[2022-05-06 10:40] jameskoster opened #40884 "Navigation Panel: List pages not in the currently selected menu too"
## What problem does this address?
Two things:

1. It's not currently possible to add existing pages to menus directly in the Navigation Panel
2. In the future the Navigation panel will likely have a secondary function that enables folks browse the site inside the Editor. (See https://github.com/WordPress/gutenberg/issues/36667). But only pages present in the menu will be accessible which is a sig

[2022-05-06 10:49] jameskoster opened #40885 "Template Editor: Update "Delete template" to "Clear customizations" when appropriate"
Related to https://github.com/WordPress/gutenberg/pull/40881.

## What problem does this address?
If you have customised a theme template, then open that template in the Template Editor, the UI suggests that template can be deleted (and the padding is messed up):

<img width="391" alt="Screenshot 2022-05-06 at 11 44 59" src="https://user-images.githubusercontent.com/846565/167117640-12ad7cd6-57d7-

[2022-05-06 11:20] ntsekouras commented on #39187
I did some testing right now and it seems that the results are the same even without a Query Loop block. Also noting that if you set the same page as `Homepage` and not `Posts page` in reading settings, the title is correct..

It might be something with the Post Title block and or Posts page setting..

[2022-05-06 11:25] ockham commented on #40536
We now have two alternative PRs to fix this issue:

1. @DAreRodz' PR (#40847) tackles the problem at the level of the individual styles that can be modified from the Block Inspector. Folks have voiced the concern that if additional style options are added, we’ll also have to add overrides for those (i.e. requiring maintenance).
2. @michalczaplinski's draft PR (#40868) uses the Shadow DOM to encaps

[2022-05-06 11:37] #29560 closed

[2022-05-06 11:37] Mamaduka commented on #40885
I think this was mentioned in the original PR as well, but I forgot to do a follow-up.

I will assign this issue to myself and push an update next week.

[2022-05-06 11:45] youknowriad commented on #40845
The hook is also used in the Disabled component which is used in all block previews and in a few other blocks. I'm fine with a better implementation if you have any ideas on how to approach this without a mutation observer.

[2022-05-06 11:45] #40845 closed, assigned to nobody

[2022-05-06 11:48] ockham commented on #40826
Thanks @amustaque97, that's helpful information!

We shouldn't add `! important`, these are always problematic (and typically also fragile) 😅

It's a tricky question 😅 -- when I filed this issue, I wasn't really sure how we'd tackle it. I tried to think a bit more about it now and had an idea:

Both this issue and https://github.com/WordPress/gutenberg/issues/40536 stem from the fact that the Warn

[2022-05-06 12:41] scruffian commented on #39698
Another idea here: https://github.com/WordPress/gutenberg/pull/40889

[2022-05-06 13:38] jameskoster opened #40891 "Template Editor: Hide confusing 'switch to draft' button"
When you engage the template editor, assuming the document you were editing previous was published, the "Switch to draft" button persists in the top bar:

<img width="1449" alt="Screenshot 2022-05-06 at 14 22 20" src="https://user-images.githubusercontent.com/846565/167143930-8e17f85e-04b7-4da4-8413-58c5a9d2a6fd.png">

This could easily mislead folks into assuming they can make their template a dr

[2022-05-06 13:49] #35465 closed, assigned to nobody

[2022-05-06 14:29] #40871 closed, assigned to Mamaduka

[2022-05-06 14:30] joashrajin opened #40892 "New links get removed when setting the link to open in a new tab"
### Description

I am not sure if this is related to https://github.com/WordPress/gutenberg/issues/40243 and could not find any other similar reports.

While working on some P2 sites and making alterations, I noticed then whenever I change a link and then set it to open in a new tab, the link that I updated it to is removed. It looks like the changes aren't saved, and when we press 'Open in a new

[2022-05-06 15:46] #32148 closed, assigned to mcsf

[2022-05-06 15:51] shaunandrews opened #40893 "Border Tool: Inconsistent with other inspector inputs"
The (new-ish) border tools are pretty cool, and really open the door to creating some nice patterns and designs. I did notice that they look different from other inputs in the editor's Inspector sidebar. Here's a comparison between the Border tool and the Radius tool:

<img width="826" alt="image" src="https://user-images.githubusercontent.com/191598/167167631-f8182e3d-51ec-4053-8a3a-ecdf5f93978f.

[2022-05-06 16:27] shaunandrews opened #40895 "Border Tool: "Reset to default" appearing when unnecessary"
<img width="307" alt="image" src="https://user-images.githubusercontent.com/191598/167168787-c311f5f8-d775-49ff-a9ba-e0cc294e7dfd.png">

When editing a Border color this popover appears letting you select a color. At the bottom of this popover is a button to "Reset to default." This button appears all the time, even if the colors _are already set to the default_. In this state the button appears t

[2022-05-06 17:13] shaunandrews opened #40897 "Border Tools: Inconsistent focus borders"
The Border tool displays `:focus` in ways that don't match other controls in the Inspector sidebar:

<img width="1086" alt="image" src="https://user-images.githubusercontent.com/191598/167180009-a715b052-56e5-40cc-99d3-7a40155a72ee.png">

I'd expect the Border tools to use a similar treatment to other inputs and controls — thicker borders, avoiding doubled borders, etc — something like this:

<img

[2022-05-06 17:30] bfintal commented on #38723
I was investigating this and I don't think the issue is with `z-index`. When you bring up the link Popover from the block toolbar, and investigate the Popover, you'll see multiple `popover-slot` divs:

![Screen Shot 2022-05-07 at 12 56 43 AM](https://user-images.githubusercontent.com/1033611/167180559-c232617f-b3a0-4149-8fd6-5e838ed14928.jpg)

I labeled them 1, 2 and 3 in the screenshot above.

Th

[2022-05-06 17:56] westonruter commented on #22515
Oh, yeah, this should be excluding `node_modules` and `.git`.

[2022-05-06 18:34] skorasaurus commented on #36834
I can confirm that on 6.0 RC1; these two functions remove the preset colors and gradients global-styles-inline-css
for a classic php theme that does not have a theme.json.

[2022-05-06 20:42] pablohoneyhoney commented on #40208
Fantastic iterations and variations @jameskoster

Maybe this was done already, but do we need to list out the taxonomies and associations or the more prominent block types to we understand how many max might be listed and it could drive the decision on how best to represent it in the UI? An example, the Inserter style option, are there cases where they are four breaking this solution?

I like the

[2022-05-06 21:59] eric-michel commented on #38719
Two standard class names that I would give my left leg to see implemented are something like `.is-dark` and `.is-light` on any element with a background color selected.

I am constantly trying to provide my content editors with sensible defaults that make editing as easy as possible. That includes automatically changing the foreground color from dark to light if the chosen background is dark, with

[2022-05-06 23:21] ironprogrammer commented on #38723
In response to @bfintal:

Agreed, this was [essentially the conclusion reached](https://github.com/WordPress/gutenberg/pull/38893#issuecomment-1049123318) with the reverted `z-index` adjustment PR, which had quite a number of side effects given the already complicated z-axis contexts involved with various parts of the editor and tool surfaces.

I believe that the link popover is the only built-in

[2022-05-07 01:19] michalczaplinski commented on #40536
I've investigated a little bit and here's the summary of my findings (this is in addition to what Bernie mentions [above](https://github.com/WordPress/gutenberg/issues/40536#issuecomment-1119516263))

1. The third approach that Bernie tried in https://github.com/WordPress/gutenberg/pull/40898 I think would also suffer from the problem of style leaking if there is another parent block (e.g. Group)

[2022-05-07 02:01] MrVibe commented on #17099
How can WordPress be upgraded to FSE without supporting this feature ?

[2022-05-07 03:01] gziolo commented on #38078
Closing as there isn’t much we can do at the moment but we can always reopen when there is new details about the issue.

[2022-05-07 03:01] #38078 closed, assigned to nobody

[2022-05-07 03:28] gziolo commented on #38687
That’s a bit concerning that you see build errors in some Node.js versions but the good part is that it generally works with the most recent versions for LTE Node.js line. Let’s close this issue for now and reopen if we see newer reports.

[2022-05-07 03:28] #38687 closed, assigned to nobody

[2022-05-07 03:38] gziolo commented on #19777
It looks like a lot of tasks listed are done. Excellent work! There is only one left on the list that was initially marked as “likely to do”. @swissspidy, what would be your current recommendation on criteria to consider this issue finished?

[2022-05-07 03:56] gziolo commented on #21441
It’s definitely an edge case for the `jsx-a11y/anchor-has-content` rule. It’s something that is probably fine to disable when spotted in the code.

It would be also great to have a custom wrapping rule that is able to detect context and cover this specific case as an exception.

[2022-05-07 04:16] gziolo commented on #33344
It’s now a grunt task in WordPress core and the plan is to enable it by default when syncing Gutenberg changes in WP trunk. See https://github.com/WordPress/wordpress-develop/blob/e17a83df22f57016dec8e70c9a35f2cf113f2e4a/Gruntfile.js#L1684.

[2022-05-07 04:32] gziolo commented on #23514
Now that it’s possible to scaffold the plugin shell independently of the block when using `@wordpress/create-block`, it should open ways to implement this proposal without too much code duplication.

It could be beneficial addition knowing we maintain today more examples of JS-based packages enriching WordPress.

[2022-05-07 04:51] gziolo commented on #8981
It isn’t actively developed.

[2022-05-07 04:54] gziolo commented on #26313
I haven’t made any progress since the last update so I unassigned myself in case someone wants to take it over.

[2022-05-07 08:42] youknowriad commented on #33344
I think it's important to avoid running this command on "patch" releases though of WP as otherwise, we'd be changing the supported browsers of a WP release on patch release.

[2022-05-07 08:46] swissspidy commented on #19777
I was just thinking the pther day that a rule for catching trailing whitespace would be nice. See https://core.trac.wordpress.org/ticket/55669

This mistake wasn‘t caught in the Gutenberg code base.

[2022-05-07 09:00] gziolo commented on #33344
Yes, it's optional at the moment. I think the best way to move forward is to run it only when in `trunk` branch and when the `dist-tag` option passed to grunt is set to `latest`.

[2022-05-07 09:02] gziolo commented on #19777
I agree that it would be great to cover as much as possible from the cases that slipped through WP 6.0 Beta phase from the Gutenberg repository ❤️

[2022-05-07 10:56] DAreRodz commented on #40536
I re-read [Using Shadow DOM](https://developer.mozilla.org/en-US/docs/Web/Web_Components/Using_shadow_DOM#:~:text=You%20can%20affect,for%20handy%20encapsulation.) and, AFAIU, using a shadow tree doesn't prevent global styles from being applied inside _in any way_. What it does is the opposite. CSS styles defined inside the shadow tree are encapsulated there and ignored outside.

That's certainly h

[2022-05-07 11:46] filipanoscampos opened #40903 "Query Loop Block: Adding Multiple Query Loop Blocks with the option to not repeat posts already shown by previous Query Loop on same page"
## What problem does this address?

I have recently been playing around a lot with FSE and the Query Loop Block and became somewhat frustrated when trying to go wilder and add more than one Query loop Block to show my posts with different styles.

## What is your proposed solution?
At the moment we can add multiple Query Loop Blocks and style them separately but, if they all follow the same settin

[2022-05-07 12:57] draganescu commented on #40548
But these are experimental in gutenberg not in core. They land in core once, and that's when the core PR should be done.

[2022-05-07 13:08] courtneyr-dev commented on #40070
Updated. When https://github.com/WordPress/Learn/issues/739 is published, add an internal link within each other. On List View lesson plan, at the bottom add a link to the bullet point about Lock

[2022-05-07 13:49] courtneyr-dev commented on #38617
Just checking in with WP6.0 rc1 retesting this. No change yet where the cursor appears after inserting a child. I would expect the cursor to be in the child menu block.

![child nav cursor prompt](https://user-images.githubusercontent.com/5519705/167257167-0916efec-3cfd-40d1-92c5-0aa0505c3165.gif)

[2022-05-07 14:13] draganescu commented on #40043
Somehow I was not able to repro. What am I missing?

https://user-images.githubusercontent.com/107534/167258000-31cc5582-43ca-46e1-9fb5-1f60ec8754e8.mp4

[2022-05-07 15:16] bfintal commented on #38723
Thanks for pointing that out @ironprogrammer

Aside from the link popover, custom format types that use popovers are also get affected by this.. at least in my custom format type it's happening.

[2022-05-07 15:28] amustaque97 commented on #40826
Hi thank you for reply. I'm also going through all the related issues and PRs. I would like to add here is though we're trying to encapsulate warning block styling... In this issue, I thing we need some different fix. What I mean to say is I moved the `Warning` block outside of the [div](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/post-comments/edit.js#L105), just

[2022-05-07 16:05] bph opened #40907 "Enable formatting text highlighted over two paragraphs"
### Description

It seems that the multi-select of text doesn't work for formatting, as the formatting toolbar is switched out for the group toolbar.

For instance, if I select a text inside one paragraph, I can use bold, italic. I can't do that when selecting text over two paragraphs.

_It works with keyboard short cut `cmd + b` and `cmd+i`, though. 👏_

If I would like to also change the color fo

[2022-05-07 17:08] courtneyr-dev opened #40908 "Child Navigation default background with Dark Header"
WordPress 6.0 RC1, Twenty Twenty Two, Theme Unit Test Data installed.

![image](https://user-images.githubusercontent.com/5519705/167264511-f3f5f936-539e-4d4a-b0ae-ee1eace1a704.png)

## What problem does this address?
Default installs with Twenty Twenty Two active + child navigation item have a default background of white font on white background. The default header is a dark background. I can't s

[2022-05-07 18:12] bph commented on #40908
Great find @courtneyr-dev
I am not sure if that's a Gutenberg issue, though. It looks to me that this needs to be fixed via Twenty-Twenty-Two theme,  I filed [a trac ticket](https://core.trac.wordpress.org/ticket/55697) as well.
.. pinging @jffng

[2022-05-07 18:48] bph commented on #39654
There is only on open item in this tracking issue:

- [x] #37854

It's not necessarily a Devnote for 6.0 but while we have the attention of plugin authors, it might be good to add a note [to the Misc Dev Notes section about depricated APIs](https://make.wordpress.org/core/2022/05/03/block-editor-miscellaneous-dev-notes-for-wordpress-6-0/#removed-apis) for this PR as well.  #37854 - [See my comment

[2022-05-07 21:18] mauriac opened #40909 "Post Author block throw console error when there is no postId"
### Description

Changing author with Post Author block raise up console error

### Step-by-step reproduction instructions

1. Open Site Editor.
2. Choose Home template,
3. Add a Post Author block
4. In the block's setting, change the author from the current to any other author.
5. notice the error throw in the browser console
<img width="279" alt="Screenshot_gutenber_post_author" src="https://use

[2022-05-07 21:31] mauriac commented on #40909
Seems to be introduced here: https://github.com/WordPress/gutenberg/pull/19894 (looks like an oversight).

As per @draganescu's comment [here](https://github.com/WordPress/gutenberg/issues/40431#issuecomment-1109963115) <<_I think that drop-down should not show if there is not post._ >>; I'm going to ship a patch for that.

[2022-05-08 05:04] DevinWalker commented on #15374
☝️  helpful info, thanks!

[2022-05-08 05:06] Tropicalista opened #40912 "Components: Clicking on iframe in the content close the modal"
### Description

I'm trying to load a tinymce editor in a gutenberg modal. I'm using the oficial component: https://github.com/tinymce/tinymce-react#readme

The component load correctly the editor, however clicking or typing something will close the modal.

### Step-by-step reproduction instructions

1. Create a custom component as the one presented here: https://www.tiny.cloud/docs/integrations/r

[2022-05-08 11:11] paaljoachim commented on #13795
We now have an icon in the Cover block which we can click to add the Cover block image as a featured image.

![Screenshot 2022-05-08 at 13 08 28](https://user-images.githubusercontent.com/5323259/167293441-514ddf11-a165-436d-ba49-49069079fa9f.jpg)

We do not yet have this new feature (icon) added to the Image block.
![Screenshot 2022-05-08 at 13 09 32](https://user-images.githubusercontent.com/532

[2022-05-08 12:05] Gierand opened #40913 "Allow setting default preview for HTML blocks"
## What problem does this address?
It is not possible to set the default state to preview mode for HTML blocks.

## What is your proposed solution?
As we begin to brand our WordPress site within the FSE area of WordPress, it would be nice if the HTML blocks had a “mode” option to default its initial state to preview, rather than edit mode. This way we can get a “proper” visual of the site as we se

[2022-05-08 13:44] #40909 closed, assigned to mauriac

[2022-05-08 15:41] depwd commented on #14550
As stated above, the W3c definition of a figure element is:

Wouldn't the "figure" element cover far fewer use cases based on the definition? I understand that it is appropriate to use an "img" element in place of "figure", but not necessarily visa versa.

Multiple image blocks would indeed be confusing. The need for two blocks only arises due to using "figure" in the first place though. Ideally,

[2022-05-08 18:23] tobifjellner opened #40916 "Non-existent time in Block Library (String error in WordPress 6.0 RC)"
### Description

The cherry-picked Gutenberg blocks for WordPress 6.0 include the following string:
`January 1, 2000 at 00:00 am`

Note that IF am/pm is used, then there is no hour "00", but should be 12:00 am.
If this string is only displayed, then this is mostly a cosmetic problem, but if the string is going to be construed by software, then this might raise warnings and/or eyebrows.

I found st

[2022-05-08 23:55] StevenDufresne commented on #19660
Closing.... tutorial doesn't appear to exist anymore.

[2022-05-08 23:55] #19660 closed

[2022-05-09 00:02] StevenDufresne commented on #23733
This is outdated since UI updates were made in #25521. Let's close this ticket and reopen a new one should we need fixes.

[2022-05-09 00:02] #23733 closed

[2022-05-09 00:44] noisysocks commented on #40316
I believe that the intention of `__experimental` and `__unstable` was to mark an API as subject to breaking without warning _regardless_ of whether that API appears in Core or Gutenberg.

I know Core has historically maintained backwards compatibility for APIs marked private but I'd push back on that precedent a little bit as the majority of this has been for APIs written in PHP. Keeping PHP aroun

[2022-05-09 00:50] Tropicalista commented on #40912
The problem is partially solved by adding

`shouldCloseOnClickOutside={ false }`

However some glitch still remaining because cotextual menu need some css because the element are positioned on a lower z-index.

[2022-05-09 01:42] talldan commented on #40738
I see this was reported in the calypso repo, and https://github.com/WordPress/gutenberg/pull/40441 was highlighted as potentially where this was introduced.

I managed to reproduce this in the Gutenberg demo post, it seems to happen more reliably with content lower down in the post.

[2022-05-09 02:27] talldan commented on #40916
I think it was introduced here - https://github.com/WordPress/gutenberg/pull/40484

cc @luisherranz

[2022-05-09 02:43] talldan commented on #40882
There was a similar comment about that here - https://github.com/WordPress/gutenberg/pull/39087#issuecomment-1050659139.

[2022-05-09 03:35] aaronrobertshaw commented on #40895
Thanks for creating an issue to track this. I've put up a fix in https://github.com/WordPress/gutenberg/pull/40917

[2022-05-09 04:40] talldan commented on #40316
I think it's worth dividing it up into two things—the user facing feature and the developer API. The user facing feature is usually ready for release, but developer APIs still somewhat open to change. It's often possible to change developer APIs with no effect on the user experience.

On the other hand 'ready' is a relative term. User interfaces do naturally change over time. It can be difficult t

[2022-05-09 04:42] peterwilsoncc commented on #40316
I accept that was the intention but once these APIs started shipping in the stable product the promise to maintain backward compatibility was made. These APIs have only ever been documented as removed without notice in the plugin contributor guide.

* `__experimentalGetSettings` is used on 11 million plugin installs, the only way to get the sites date format
* `__experimentalLinkControl` is used o

[2022-05-09 04:54] kmadhak commented on #40144
Hello @ndiego,

Greetings of the day!!!

I would like to know the progress of this issue, please let me know if you need more detail on it.

Thank you.

[2022-05-09 05:35] youknowriad commented on #40738
I've opened #40919 which solves the issue in my testing but I'd appreciate help confirming that.

[2022-05-09 06:04] glendaviesnz commented on #27194
Thanks @kmadhak, I was able to replicate it today - just trying to work out why  that component sets a specific line-height of `1`. Removing this fixes the issue in the Gallery, but it  may break things in other contexts.

[2022-05-09 06:12] #40895 closed, assigned to aaronrobertshaw

[2022-05-09 06:13] noisysocks commented on #40316
The current policy is that `__experimental` and `__unstable` APIs have no backwards compatibility guarantee.

https://github.com/WordPress/gutenberg/blob/336748b39cc1e079806c87c2b8f30ed32d0ebb26/docs/contributors/code/coding-guidelines.md#experimental-and-unstable-apis

We don't really have a way of picking and choosing which code lands from Gutenberg into Core which is a large part of why `__expe

[2022-05-09 06:36] aaronrobertshaw commented on #40893
I've created two separate PRs to tackle this as how best to control the component height might change with a possible move to `36px` default height in the near future.

Updating height: https://github.com/WordPress/gutenberg/pull/40920
Updating border color: https://github.com/WordPress/gutenberg/pull/40921

[2022-05-09 07:06] kraftner commented on #33344
As mentioned in the original issue this is a two-part issue: Updating browser data and de-duplicating.
So concerning the updating I agree that it probably shouldn't be done for patch releases. But for the de-duplication I am not so sure if that is something that should be skipped for patch releases.

[2022-05-09 07:10] gziolo commented on #33344
@adamziel, any thoughts on how we can update the handling for browserslist update in WP core so it aligns with what @kraftner highlights in this issue? See, also my previous comment https://github.com/WordPress/gutenberg/issues/33344#issuecomment-1120169927 where I commented about possible changes to the default handling of when to trigger the update.

[2022-05-09 07:38] bhaveshd36 opened #40922 "Pullquote Block: Need UI in Editor to style citation text"
### Description

We have the option to change the casing of the Quote text in the Pullquote block settings but not for the citation text.
Screenshot: [https://prnt.sc/pMbEDbmOqSjW](https://prnt.sc/pMbEDbmOqSjW)

### Step-by-step reproduction instructions

1. Create or edit a new post/page.
2. Select the "Pullquote" block.
3. There is no option to change the casing of the citation text in block set

[2022-05-09 07:46] dsas commented on #26899
The post terms block on trunk (#40559) now supports a prefix and a suffix, so that's one step closer to @jasmussen's suggestion

[2022-05-09 08:23] #34660 closed, assigned to anomiex

[2022-05-09 08:29] #40624 closed, assigned to nobody

[2022-05-09 08:45] #39698 closed, assigned to scruffian, madhusudhand

[2022-05-09 09:24] jameskoster commented on #40208
To my knowledge no full list has been compiled, although I suppose it must exist somewhere in the code. I think there's a discussion to be had around what determines the number of prioritised transformations – the design, or the code. For example it could be a design decision that only 3 transforms will be prioritised regardless of block type or total number of transforms. This might be preferable

[2022-05-09 09:25] mtias commented on #40316
I think there can be a stronger commitment to not include `__experimental` and `__unstable` APIs in major releases, though as mentioned by @noisysocks that won't always be realistic. We should take those instances as practical occasions to force stabilization as much as possible. In any case, these APIs don't have a commitment to remain as is because they were designed to be changed (at the very l

[2022-05-09 09:27] mtias commented on #40208
Let's try the separated list as a first pass.

[2022-05-09 09:45] luisherranz commented on #40536
It's true that it doesn't prevent inheritance, but it prevents targeting its elements from the outside, though.

Look at how this `p` rule doesn't affect the paragraph inside the Shadow DOM.

[code]

https://codepen.io/luisherranz/pen/OJQNVVG

---

I didn't know `all: initial` could be used in the Light DOM. I think you're right; that's probably the best option here 🙂👍️

[2022-05-09 10:01] luisherranz commented on #40916
Yes, it's just for a placeholder, but I'll add a PR to fix it. Thanks for the heads up 🙂

[2022-05-09 10:12] imjlk opened #40928 ""couldn't find remote ref master" when `wp-env start` with plugin's github repo"
### Description

[New repositories use main as the default branch name](https://github.com/github/renaming#new-repositories-use-main-as-the-default-branch-name)

According to above link, Github repo's default branch name is main.

However, `wp-env` only works with the master branch. It seems that need to adding condition to find the main.

### Step-by-step reproduction instructions

1. Install wp-

[2022-05-09 10:14] luisherranz commented on #40916
PR opened: https://github.com/WordPress/gutenberg/pull/40929

[2022-05-09 10:39] javierarce commented on #40893
I couldn't find the designs for this tool, so I created a proposal in the [Design Library](https://www.figma.com/file/e4tLacmlPuZV47l7901FEs/WordPress-Design-Library?node-id=33859%3A24539).

![image](https://user-images.githubusercontent.com/4933/167393646-def1a1d6-2d1d-4fb5-b192-dce5d8c157b9.png)

[2022-05-09 10:55] #27941 closed

[2022-05-09 11:00] mtias commented on #37407
@getdave that's what #37258 aims for!

[2022-05-09 12:07] aaronrobertshaw commented on #40893
@shaunandrews is probably the best person to point to any official designs. You might find some extra details within https://github.com/WordPress/gutenberg/issues/35602 though.

[2022-05-09 12:12] iworks commented on #38329
This is completely odd to have to use latin1 letters without polish (or other languages) characters to avoid (wrong maybe?) string comparison.

I will change "Wielkość liter" into "Rozmiar liter" but I hope it will be only temporary.

As I understand it can cause more problems - anywhere we use polish diacritics? (js encoded strings)?

[2022-05-09 12:24] Azragh commented on #40501
@ndiego Moved my comment to the description.

[2022-05-09 12:34] DAreRodz commented on #40536
Thanks for your example, @luisherranz; pretty useful. 💯  I have to say that I don't know how styles are inherited yet, TBH. It looks like some rules are inherited, some others not?

If you, for example, add `color: red;` to the `.my-element` class, you will see that the paragraph inside the shadow tree turns red. 😅

![Screenshot 2022-05-09 at 14 31 18](https://user-images.githubusercontent.com/691

[2022-05-09 13:11] dianeco opened #40936 "Gallery block: the CSS generated for the block spacing is printed at the end of the page unlike other blocks"
### Description

Using a block theme, the inline CSS generated by a block is printed in the `<head>` of the page using `gutenberg_enqueue_block_support_styles()`
https://github.com/WordPress/gutenberg/blob/trunk/lib/compat/wordpress-5.9/script-loader.php#L63-L74

For example, when you insert a Columns block, the following CSS is printed in the `<head>`:
[code]

However, for the Gallery block, the

[2022-05-09 13:21] tomasztunik commented on #38329
@gziolo already updated the strings - the issue is not diacritics. The problem was two unique strings with different meanings were translated to Polish with the same translation and as this string/label was used as a uniqueness indicator it caused issues with UI not rendering as expected - it was more of a translation error.

~We will only need to approve the translation and release the new versio

[2022-05-09 13:27] javierarce commented on #40893
@aaronrobertshaw thanks! I actually used some of those designs to create the components above. I just wanted to mention that those components exist now in the library.

[2022-05-09 13:33] #40916 closed, assigned to nobody

[2022-05-09 13:41] willrowe commented on #38723
@ironprogrammer I must reiterate that it does not seem that the solution is to display them in a slot with a higher `z-index`. There are several contexts in which these popovers can be displayed as part of the editor, so trying to push the `z-index` higher and higher can conflict with other UI elements. I think a good first step would be to improve the placement of the popovers to not extend outsi

[2022-05-09 14:08] MaggieCabrera commented on #40043
yeah, something must have changed, I can't reproduce anymore! Closing

[2022-05-09 14:08] #40043 closed, assigned to nobody

[2022-05-09 14:09] adamziel opened #40938 "Double gutenberg_ prefix given to some PHP functions during the build"
## Description

Add the following code to `packages/block-library/blocks/navigation.php` and run the build:

[code]

It gets bundled in `build/block-library/blocks/navigation.php` as:

[code]

This is caused by the following webpack transform:

https://github.com/WordPress/gutenberg/blob/7c9286a1158a6a97d231d38430ce2f585e877cd7/tools/webpack/blocks.js#L122-L169

In short:

1. The transform finds f

[2022-05-09 14:11] adamziel commented on #40938
I initially thought of replacing `function $name` to `function gutenberg_$name` instead of `$name` to `gutenberg_$name`, but that would not handle cases like `$post_ids = array_map( 'block_core_navigation_get_post_ids_from_block', iterator_to_array( $inner_blocks ) );`.

The only other solution I can think if is checking each match for the presence of `gutenberg_` prefix right before replacing. Ot

[2022-05-09 14:22] #38329 closed, assigned to tomasztunik

[2022-05-09 14:42] ockham commented on #40536
Good catch, thanks @michalczaplinski!

This _could_ be considered a more generic issue (it might affect existing GB warnings, such as the "Invalid block content" one), but I agree that it kind of gets in the way of #40898 being an exhaustive fix that we can merge in the short term 😬

Edit: Yep, looks like it affects existing warnings. This is a Group with letter-case set to all-uppercase, containi

[2022-05-09 14:42] mtias commented on #40891
Should we move this to the sidebar in general (also for the post editor)?

[2022-05-09 14:49] jameskoster commented on #40891
Yes, it's probably a bit too prominent for a task that is fairly uncommon. Moving it to the Inspector would resolve this issue too. Perhaps it can be part of the work in https://github.com/WordPress/gutenberg/issues/39082.

[2022-05-09 14:50] jameskoster commented on #39082
The idea of moving the "Switch to draft" button to the Inspector came up in https://github.com/WordPress/gutenberg/issues/40891. Any ideas where that might fit in @javierarce?

[2022-05-09 14:59] ntsekouras commented on #39643
Thanks for the issue @ooksanen and sorry for being late to reply here.

We show an incremental sequence of numbers as a label of the font size when we have at most five font sizes and at least one the them contains a complex css value(clamp, var, etc..). We do this because complex css values cannot be calculated properly and the incremental sequence of numbers as labels can help the user better me

[2022-05-09 15:04] mtias commented on #40891
If that takes too long it might be good to just move it in the meantime

[2022-05-09 15:21] jameskoster commented on #32268
Depending on how much control over the query we want to offer, we might provide a 'query builder' interface – based on design tools UX patterns – that handles all manner of filters:

<img width="576" alt="Screenshot 2022-05-09 at 16 19 34" src="https://user-images.githubusercontent.com/846565/167442440-9d2bd4e7-e638-4460-a93e-da756349329e.png">

[2022-05-09 15:31] jameskoster opened #40941 "Dynamically generate Query variations for registered post types"
It was mentioned in https://github.com/WordPress/gutenberg/pull/39837#issuecomment-1121029310 that it would be good to dynamically generate Query variations based on existing post types.

In addition to generating the variations themselves, I hope that we can use the design concepts in https://github.com/WordPress/gutenberg/issues/32268 to also dynamically populate those variations with the approp

[2022-05-09 16:03] markhowellsmead opened #40943 "Unable to manually enter eight-digit hex color value in the color picker"
### Description

The hex value #ffffff50 is valid, but the color picker doesn't allow this to be entered in the manual color value field.

### Step-by-step reproduction instructions

1. Try to add #FFFFFF50 (or any eight-digit hex value) in the manual color value field of the color picker.

### Environment info

- WordPress 5.9.3 without plugin

### Please confirm that you have searched existing i

[2022-05-09 16:15] ooksanen commented on #39643
No worries @ntsekouras, thanks for taking the time to reply!

I completely get this and honestly it's not a huge issue for _me_, but I'm looking at this from the UX standpoint, specifically from the end user's perspective. The issue here, in my opinion, is that even if I define the font-sizes like this:

[code]
The end user, who might have no idea that em/rem etc type units even exist, only sees o

[2022-05-09 16:18] jameskoster opened #40944 "Do not allow placement of Query Loop inside Post Content"
Query Loop as it exists today has kind of been built as a block-based interpretation of `WP_Query`. While powerful, it has inevitably resulted in an overwhelming UX. For example the confusing and unpredictable "Inherit query from template" option exists because it's possible to place Query Loop in templates _and_ posts. Not to mention that blocks like Query Pagination simply do not work in posts a

[2022-05-09 16:20] t-hamano commented on #40928
Hi @imjlk,

You can specify a Github repository `ref` as described in [the document](https://github.com/WordPress/gutenberg/tree/trunk/packages/env#wp-envjson).

The following statement will make `wp-env` work properly:

[code]

_*Note: Since the repository is not built automatically, the plugin's settings page will probably result in an error._

The specification of `wp-env` seems to refer to `ma

[2022-05-09 16:25] stefanfisk commented on #25188
@cr0ybot Webpack supports sharing libraries between entrypoints if you use `optimizations.runtimeChunk = 'single'`. I've used it in several projects both for WordPress and random React stuff, and it works great as long as you have tooling to figure out which files need to be loaded.

[2022-05-09 16:29] SiobhyB commented on #23902
I'm going to go ahead to close this issue, as I see that https://github.com/WordPress/gutenberg/pull/23873 was iterated on and merged. There's now [a custom `hasNavigation` prop](https://github.com/WordPress/gutenberg/blob/033a06f731c333f2c3fe066cc01c543614c34c30/packages/components/src/mobile/bottom-sheet/index.native.js#L477) that determines whether content is wrapped in a ScrollView or not, as

[2022-05-09 16:29] #23902 closed

[2022-05-09 16:33] SiobhyB commented on #37559
Noting that [React Native Bottom Sheet](https://gorhom.github.io/react-native-bottom-sheet/) was brought up in an internal discussion recently, specifically related to the fact it'd help address the error related to VirtualizedList's described in https://github.com/WordPress/gutenberg/issues/23902.

[2022-05-09 17:02] #40750 closed, assigned to spacedmonkey

[2022-05-09 17:22] ockham commented on #40826
Yeah, that's a good point @amustaque97. In this case, I think we should file a bug against the Twenty Twenty-Two theme. Since TT2 is now part of Core, that probably means filing a Trac ticket.

I'm still not entirely sure what the correct fix (at theme level) will be. This is one of the first actual block themes, and I assume there's a reason for the [top padding](https://github.com/WordPress/twen

[2022-05-09 18:22] michalczaplinski commented on #40536
Exactly. [Some rules](https://gist.github.com/dcneiner/1137601) are inherited and others not. As you pointed out, the Shadow DOM prevents the styles _inside of it_ from leaking out, but the inherited styles still affect the content inside of the Shadow DOM.

That's also true! If we **only** use `all: initial` without the Shadow DOM, then technically some parent component could do something silly l

[2022-05-09 18:23] #40738 closed, assigned to youknowriad

[2022-05-09 18:24] iworks commented on #38329
ou... thank you for the explanation - then I can now return to proper translation, but I need to be careful to make it different for different base strings.

[2022-05-09 18:28] amustaque97 commented on #40826
This is the particular [commit](https://github.com/WordPress/twentytwentytwo/pull/127/commits/b2a150d1be310565115c786940cb3b1c331af5ed) when  team added the `padding-top` property. I'm not well versed with the themes 😅  so no idea how we can fix it in the themes.

I agree, as you said it has its own limitation.

This solution makes the best sense to me since user is free to decide the padding. He

[2022-05-09 18:36] paaljoachim commented on #39643
I too find it confusing with font size numbers. + There is no easy way to go back to the default size.

I added this comment to the latest Full Site Editing program testing.
https://make.wordpress.org/test/2022/04/28/fse-program-testing-call-14-rallying-recipe-reviewers/#comment-2473
Change the font size of the post title.
Going to Typography I see Size Default. Then I can choose to select size 1,

[2022-05-09 18:58] pablohoneyhoney commented on #40208
@jameskoster I guess that's a situation not to worry about yet based on the above conversation and priority, but if needed in the future (with more layout, style transforms), we could add an additional label too: "other transforms" if visible with separator, or "more" in the case of the flyout.

[2022-05-09 19:14] samiff opened #40946 "[Post Featured Image]: add option to display image caption/credit"
## What problem does this address?

When using a block theme that leverages `wp:post-featured-image` to display a post's featured image, there is no caption being rendered by that block, nor is there an option to do so.

Jetpack for example offers external media providers like Openverse and Pexels that users can select from when setting a featured image. Generally, the Caption field is used to cre

[2022-05-09 20:08] ockham commented on #40826
Thanks, great find!

Looks like the PR you found was basically doing the opposite of that -- removing Spacer blocks in favor of that hard-wired padding 😅

👍  I've now filed https://core.trac.wordpress.org/ticket/55704 to suggest this change 🙂

Not sure what you mean by "add[ing] `padding-top` property on block level"? 🤔  I thought there's some existing block-supports mechanism for padding that we

[2022-05-09 20:08] ironprogrammer commented on #38723
Hi, @willrowe -- The "# 3" slot referenced in @bfintal's screenshot is where the other editor controls surface their respective popovers, so this could also be considered a matter of consistency between editor-triggered popovers. That location is already being used to ensure the popovers are "on top" of the editor itself. This was my line of reasoning.

Here is a screenshot showing one example wit

[2022-05-09 20:42] dsas commented on #40608
I _think_ this is might be a general focus issue that happens to effect the Table block, rather than a problem with the Table block per se.

https://github.com/WordPress/gutenberg/issues/38548 looks to be a similar issue with the `ComboboxControl` component and possibly more widespread.

[2022-05-09 22:17] peterwilsoncc commented on #40316
@m @josephahaden  Has WordPress dropped the core philosphy to maintain backward compatibility? Is the project now willing to break millions of plugin installs per my [comment above](https://github.com/WordPress/gutenberg/issues/40316#issuecomment-1120635542)?

[2022-05-10 01:18] michalczaplinski commented on #40536
I have dug a little deeper still and updated https://github.com/WordPress/gutenberg/pull/40868 with the approach of using just `all: initial`.

There are some caveats that I have documented there.

[2022-05-10 03:03] amustaque97 commented on #40826
NO I didn't get chance to try it out. I got confused here! I mixed my previous findings in the last comment 😅 . Please ignore.

[2022-05-10 05:03] Mamaduka commented on #34092
The issue should be resolved now. Props to @walbo.

![CleanShot 2022-05-10 at 09 02 14](https://user-images.githubusercontent.com/240569/167546060-ed5695e2-3a22-49d9-b867-8b61273c815e.png)

[2022-05-10 05:03] #34092 closed, assigned to nobody

[2022-05-10 05:07] noisysocks commented on #40938
Lol nice. Could we use a negative lookahead? Haven't tested it but something like this.

[code]

[2022-05-10 05:17] Mamaduka commented on #29049
@annezazu, I think this particular issue got resolved when the "Block Manager" menu item was removed. But the "Block Manager" still isn't available in the "Preferences" modal.

Should we close this issue and create a new one?

[2022-05-10 05:25] peterwilsoncc opened #40952 "Regression: Columns CSS affects readability in WP 6.0"
### Description

This was reported on WordPress trac by the WordPress.org user [marctison75](https://profiles.wordpress.org/marctison75/). The original ticket was [WP#55703](https://core.trac.wordpress.org/ticket/55703).

The first part of the issue with the narrow gap seems more important to my mind.

### Step-by-step reproduction instructions

Non provided in the original ticket but I'm guessing

[2022-05-10 05:36] nextgenthemes commented on #20180
@danieliser I guess you have made special post setup docker group setup because in fact @noahtallen is correct that you can not run any `docker` command without sudo with a normal basic installation. I am just thinking about what to do because I end up with `Could not connect to Docker. Is it running?` even though I can run `sudo docker run hello-world` and it works, just not without sudo.

https:

[2022-05-10 05:45] Mamaduka commented on #38258
I'm no longer able to reproduce the issue. However, it might be due to the recent refactoring of some panels.

P.S. I think the switch from Desktop to Tablet/Mobile remounts the sidebar; this could be the cause of initial state loss.

## Screencast

https://user-images.githubusercontent.com/240569/167556008-4ab743e0-e0b7-40bf-bf0d-267d6a244784.mp4

[2022-05-10 05:47] imnavanath opened #40953 "Latest Posts block: Posts link wants to redirect in editor as well"
### Description

When Latest Posts block drag dropped in editor it triggers post links. In editor opening posts links is not UX.
Issue reproducible in - v5.9.3, 6.0.rc
With theme - All default themes

### Step-by-step reproduction instructions

1. Take Latest Posts block in editor.
2. Try clicking on title.

### Screenshots, screen recording, code snippet

Screencast for the issue - https://share.

[2022-05-10 06:02] JustinyAhin commented on #39301
Hello @getdave @youknowriad. I have been trying to debug this issue in order to fix it.

I've noticed that after the new navigation menu is created here https://github.com/WordPress/gutenberg/blob/2044a07f262d3829258c3ec78b150e4118a13569/packages/block-library/src/navigation/edit/index.js#L655 the focus immediately moves to the document body.

So, I have tried setting the focus to the navigation b

[2022-05-10 06:20] talldan commented on #38172
It seems like `?styles=open` is now stripped from the URL when opening the site editor, so it definitely won't display when following the dashboard link.

[2022-05-10 06:25] talldan commented on #38172
Given the dashboard will probably be redesigned for 6.0, I wonder if it'd be better to remove the `Edit styles` link. It's quite late in the release cycle to fix all the issues (I think there are two or three simultaneous bugs happening that prevent this from working).

[2022-05-10 06:35] ntsekouras commented on #40767
Resolved by this one: https://github.com/WordPress/gutenberg/pull/40939. Small naming mix up 😄

[2022-05-10 06:35] #40767 closed, assigned to nobody

[2022-05-10 06:36] Mamaduka commented on #40953
The issue was fixed recently #40593.

[2022-05-10 06:38] talldan commented on #38258
It does still seem to happen for any sections that expand/collapse and are collapsed by default. For example if you expand 'Advanced', and then change the preview.

It does seem a bit better now because many of the sections are not of that style.

[2022-05-10 06:45] TomPeak commented on #24934
How can iI filter current Category. Even wonder if there is wp:get_the_categorie for wp:query in Templateparts.

[2022-05-10 06:59] #40565 closed, assigned to nobody

[2022-05-10 07:04] ntsekouras commented on #27870
Resolved by: https://github.com/WordPress/gutenberg/pull/34522

[2022-05-10 07:30] #40953 closed, assigned to nobody

[2022-05-10 07:46] Naoell commented on #40850
@amustaque97 Hi, thanks for replying.

For the issue to appear the tag must be out of bounds of the 20 search-results.
If the tag is more in use than the other tags, it will get higher up in the search results.

If you look at the XHR-request "tags?per_page=20..." request, you will see if the tag is in the search results.

Best regards. =)

[2022-05-10 08:51] javierarce commented on #39194
Here's a simple flow based on a split button (which could be also useful to implement scheduling and drafting functionalities, as I proposed [here](https://www.figma.com/proto/Lr1b05mTHl9TFdNBgKUMob/FSE%3A-Playground?node-id=1217%3A17052&scaling=min-zoom&page-id=1217%3A16064&starting-point-node-id=1217%3A17052))

![image](https://user-images.githubusercontent.com/4933/167586994-2ab7f7f9-e25b-4702-

[2022-05-10 08:58] #40678 closed, assigned to Soean

[2022-05-10 09:29] mtias commented on #40316
@peterwilsoncc pardon me, but that seems quite the leap. Where do you see the argument to break millions of plugin installs? There's a nuanced discussion to be had when it comes to how much code we are willing to ship to users on the client in the name of keeping APIs working that's collateral to the discussion of how experimental APIs are introduced, how they are refined, how they are stabilized,

[2022-05-10 09:39] jameskoster commented on #40204
On balance I think this could be the way to go. There's a lot of context in https://github.com/WordPress/gutenberg/issues/27093, but in short:

* Displaying the title on the canvas can be confusing (it cannot be styled, doesn't always appear in the same location – or at all – on the frontend).
* We already do something similar for templates in the site editor / template editor.
* It's fairly commo

[2022-05-10 09:40] JustinyAhin commented on #38266
@noisysocks @annezazu maybe we can do something like in the menu editor here.

![CleanShot 2022-05-10 at 11 39 10@2x](https://user-images.githubusercontent.com/33403964/167599154-087a3769-8736-4935-83ec-ab5acc7b6c55.png)

That way, the focus will be only on the dropdown element and not on the whole header.

[2022-05-10 09:40] imnavanath opened #40960 "Color reset trigger is missing in 6.0-RC1"
### Description

In editor the color picker don't have "Reset" trigger in the version of 6.0-RC1.
Core trac - https://core.trac.wordpress.org/ticket/55707
Screenshot - https://share.bsf.io/2Nuz4q0o

- Issue reproducible in - 6.0-RC1
- With theme - 2022

### Step-by-step reproduction instructions

Check editor any color picker in WP-6.0-RC1

### Screenshots, screen recording, code snippet

https://

[2022-05-10 09:54] mtias commented on #40316
I'll try to summarize what I see as more concrete items.

- Indefinitely increasing client-side code is at odds with performance budgets, we need to be cognizant of this reality. We might have more room when async loading and native imports can be leveraged.
- When designing APIs, feedback from real usage is crucial. WordPress beta periods are not long enough or timely enough to gather wide feedba

[2022-05-10 10:05] JustinyAhin commented on #38261
@tellthemachines this seems to have been fixed (I guess in previous Gutenberg releases).

https://user-images.githubusercontent.com/33403964/167603941-4ea492e3-8efe-4981-bbf3-70be4b3818ce.mp4

[2022-05-10 10:18] ndiego commented on #40316
As a plugin author that is currently using _many_ `__experimental` APIs, I would love to see these stabilized. Most provide crucial functionality but building a product that relies on an `__experimental` API is always a bit disconcerting. So long as the process is exceedingly transparent, is well publicized, and we provide plugin/theme authors with a guide on how to migrate to stable versions, the

[2022-05-10 10:20] javierarce commented on #39082
@jameskoster I think we could put it inside the Visibility dropdown, since it controls who can see the post. We could have:

- Draft: Visible to you
- Public: Visible to everybody
- Private: Only visible to site admins and editors
- Password Only those with the password can view this post

[2022-05-10 11:13] ndiego commented on #40952
I have confirmed. This was introduced a long time ago in Gutenberg: https://github.com/WordPress/gutenberg/pull/37436. If a theme supports `blockGap` then the gap between columns will default to the `blockGap` setting in theme.json. Otherwise, it defaults to `0.5em`. It used to default to `2em`.

[2022-05-10 11:18] shimotmk opened #40963 "Blocks with SVG retained will show up as unexpected content when updated to WordPress 6.0."
### Description

Blocks with SVG retained will show up as unexpected content when updated to WordPress 6.0.

Perhaps the modifications in this branch have had an impact.
https://github.com/WordPress/gutenberg/pull/38936

### Step-by-step reproduction instructions

1. Prepare a standard PHP file in the plugin directory in WordPress 5.9 environment and write the following code.
[code]
2. Prepare my-

[2022-05-10 11:24] jameskoster commented on #39082
Yeah I thought the same, but that would mean you cannot mark a draft as private or password protected.

Still, we can probably move the "Convert to draft" link to that panel, but leave the radios as they are.

[2022-05-10 11:37] #39114 closed, assigned to nobody

[2022-05-10 11:40] jameskoster commented on #27093
The case for making this change is imo stronger than ever.

1. We don't want to display the document title on the canvas because it is not a true visual representation of the frontend.
2. Splitting document / block settings goes hand-in-hand with [splitting block appearance controls / settings](https://github.com/WordPress/gutenberg/issues/40204).
3. We've already implemented this pattern in the S

[2022-05-10 11:44] javierarce commented on #39082
Oh, that's a good point. Yes, we could have the option there but not as a radio button (maybe a toggle?)

[2022-05-10 11:56] adamziel commented on #40938
@noisysocks that would work, we'd just have to stop precomputing all the matches first:

[code]

And start matching and replacing in batches of one:

[code]

[2022-05-10 12:32] willrowe commented on #38723
@ironprogrammer would using this slot work with other UI elements like the dashboard sidebar when not in fullscreen?

[2022-05-10 12:41] ockham commented on #40826
@amustaque97 Would you like to give it a try? I think we basically need a PR filed against the [`wordpress-develop` repo](https://github.com/WordPress/wordpress-develop) that enables UI controls for `padding` in TT2's `theme.json` (see [docs](https://github.com/WordPress/gutenberg/blob/9709027170d76cb9184912572d7cb7327ccd3f86/docs/reference-guides/block-api/block-supports.md#spacing)) 🙂

[2022-05-10 13:27] ndiego commented on #40699
Thanks @annezazu, this has been moved over to the [6.0.1 Project Board](https://github.com/orgs/WordPress/projects/31) and we can triage from there.

[2022-05-10 13:32] ndiego commented on #38172
@talldan this is now on the 6.0.1 Project Board. I think we should try and tackle this once and for all in 6.0.1, it's just getting a bit too late for 6.0. Are you ok with that?

[2022-05-10 13:38] scruffian opened #40966 "Global Styles: Elements support tracking issue"
## What are elements?
Elements are a representation of HTML primitives that be used inside blocks. Some examples include `link`, `heading` and `button`.

## Why use elements?
Many different blocks can use the same elements. By using elements inside blocks we make it possible for all elements to share the same styles regardless of what block they are in. This is powerful for elements like buttons a

[2022-05-10 13:39] ndiego commented on #40357
Can we consider this closed with https://github.com/WordPress/gutenberg/pull/40696 and https://github.com/WordPress/gutenberg/pull/40700 merged? While there may still be some performance issues with the Site Editor, for me, those two PRs bring things back to where we were with 5.9.

[2022-05-10 13:50] adamziel commented on #33344
@gziolo I do agree with your conclusions here. For the purposes of `sync-gutenberg-packages` automation in `wordpress-develop`, let's restrict running `browserslist:update` to the `latest` dist tag on `trunk`: https://github.com/WordPress/wordpress-develop/pull/2679/commits/848ba383a7427c4ffbc6f76011c7c5053ceaad25

[2022-05-10 14:00] kraftner commented on #33344
@gziolo Wouldn't it then still be possible that duplicates of `caniuse-lite` appear on patch releases?

[2022-05-10 14:07] uniquesolution commented on #40357
I am still seeing a huge performance issue in site editor, when a big navigation block is available on the page we editing. I checked with the latest gutenberg version 13.1.0

[2022-05-10 14:19] shaunandrews commented on #40204
Rather than having multiple, nested tabs, or a complex drill-down, perhaps a segmented control would work better:

<img width="775" alt="image" src="https://user-images.githubusercontent.com/191598/167650749-b9c31a4e-50bc-4ba6-b249-0b66d7a0dd55.png">

[2022-05-10 14:23] #23576 closed

[2022-05-10 14:24] Mamaduka commented on #40357
@uniquesolution, the fixes will ship with Gutenberg 13.2.0.

[2022-05-10 14:25] jameskoster commented on #40204
Yup that could work too. The only slight drawback is that we use the SegmentedControl elsewhere as a selection tool:

<img width="301" alt="Screenshot 2022-05-10 at 15 24 34" src="https://user-images.githubusercontent.com/846565/167651997-d76d9558-3d55-40ae-89c5-2f5ff940b9cd.png">

[2022-05-10 14:35] LukaszJaro commented on #39946
Great, thanks for fix. I noticed this as well, seems to happen in my header which is wrapped in just a group but in body it is okay. Body search has group plus columns so maybe that is limiting the input from stretching beyond.

[2022-05-10 14:41] #40546 closed, assigned to SiobhyB

[2022-05-10 14:54] gziolo commented on #33344
Yes, that would be useful. Do you know how this can be done without upgrading the version?

[2022-05-10 14:57] mdrockwell opened #40968 "Gallery Block "Link To" Setting Not Creating Links for Images"
## Description
If you change a gallery's "Link To" setting to either "Attachment Page" or "Media File", neither is respected when viewing a preview or after publishing.

## Step-by-step reproduction instructions
1. Add a Gallery block to a post or page.
2. Add a number of images to the block.
3. Use the gallery block's gear icon to access it's settings (not an individual image, the whole block).
4

[2022-05-10 15:00] SiobhyB commented on #40968
👋 @mdrockwell, I coincidentally _just_ merged a fix for this bug in https://github.com/WordPress/gutenberg/pull/40947. :D The fix should be available in the beta for the upcoming release (19.9) next week.

[2022-05-10 15:06] Addison-Stavlo commented on #39981
Some blocks do have support for font families here (such as post title and site title), but I think more blocks definitely need to add support for this feature.

For example, [here is a PR](https://github.com/WordPress/gutenberg/pull/40970) I just opened to enable it for the `core/heading` block.

I don't think the plan is for all blocks to support this, but at the very least a list of blocks that

[2022-05-10 15:15] mkdgs commented on #33379
@getdave , @CreativeDive i've made a little improvement on convertBlockToTemplate()
Block image need an attachment id and url attribute.
The url attribute is not generated on parsing, so wee need to recreate one.

[code]
This can load the "html template block" (from a file) directly to a post_type default template.
To go further
In place of the file, it will be possible to create a post_type named

[2022-05-10 15:20] #40673 closed, assigned to Mamaduka

[2022-05-10 15:33] skorasaurus commented on #36031
Hi,

Thanks for reporting. This behavior is intentional: Highlighting features uses the [mark](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/mark) element which is provides inline styling and has priority over the paragraph element (a block level styling).

[2022-05-10 15:33] #36031 closed, assigned to nobody

[2022-05-10 15:40] OnitiFR opened #40973 "Silently failing to save template modifications (double slashes in URL)"
### Description

When saving a template (FSE), the `POST` request sent to the backend contains too many slashes (ex: `https://foobar/wp-json/wp/v2/templates/twentytwentytwo//404?_locale=user`).

Some webservers / reverse proxies will "rewrite" this request with a 301 response, and api-fetch will then request again with the "fixed" URL, but with `GET` method. As the result is 200, Gutenberg will di

[2022-05-10 15:50] ndiego commented on #40963
Hi @shimotmk, I can confirm. There was a bug in 5.9.3 that would cause SVG content to be rendered incorrectly. For example, in your plugin's edit/save, you have specified `viewBox`, but this gets rendered as `viewbox` in 5.9.3. This was fixed in Gutenberg via that PR you linked and is now also fixed in 6.0. I ran into this in my [Icon Block](https://wordpress.org/plugins/icon-block/).

[2022-05-10 16:04] luisherranz commented on #40536
That's also true, although not what I had in mind when I made that comment 😄

There are a lot of tiny details with these APIs, so I've made a [video to explain what I meant](https://www.loom.com/share/d686ac7c73fe473d9450657c8d50ffed).

But I think the current solution is great as it is, @michalczaplinski!

EDIT: Now that I read your comment again, I'm not sure anymore if what you meant was what I

[2022-05-10 16:16] annezazu commented on #39114
For iframing, I'd recommend checking out this issue @grogou: https://github.com/WordPress/gutenberg/issues/33346 Apologies for missing your ping earlier!

[2022-05-10 16:37] skorasaurus commented on #34867
Hi,
I'm not able to reproduce this in WordPress 5.9.3 either in chrome; please reopen and comment if you are still experiencing this.

[2022-05-10 16:37] #34867 closed, assigned to nobody

[2022-05-10 17:21] michalczaplinski commented on #40536
yes, I'm sorry, I think I typed out my previous response too quickly! 😅

What I meant is what you mentioned in the video! That when you use the light DOM, it can still be styled from the outside, even if you add the `inital: all`. But that's not a big issue in practice because probably nobody is going to target the specific classes that are applied in the Warning component nor would they usually w

[2022-05-10 18:06] #40536 closed, assigned to michalczaplinski, DAreRodz

[2022-05-10 18:09] MadtownLems commented on #40169
Came here to report the same bug. Windows 10 here with Chrome 101.0.4951.54 (Official Build) (64-bit). Also unable to reproduce in Firefox.

[2022-05-10 19:11] annezazu commented on #30635
This no longer happens with GB 13.1 and WP 6.0 RC2. Closing out :)

[2022-05-10 19:11] #30635 closed, assigned to nobody

[2022-05-10 19:13] annezazu commented on #27896
More usability feedback in general to pass along related to this issue from the [fourteenth call for testing for the FSE Outreach Program:](https://make.wordpress.org/test/2022/04/28/fse-program-testing-call-14-rallying-recipe-reviewers/#comment-2471)

This continues to be a bit of an awkward flow that would benefit from greater clarity.

[2022-05-10 20:33] annezazu opened #40978 "Radius controls: Show location on hover"
## What problem does this address?

When setting the radius for borders, it's hard to tell at a glance what each applies to:

https://user-images.githubusercontent.com/26996883/167716063-03233f56-c45d-4fbc-93e3-b65825c42784.mov

This came up in the [FSE Outreach Program's fourteenth call for testing:](https://make.wordpress.org/test/2022/04/28/fse-program-testing-call-14-rallying-recipe-reviewers/

[2022-05-10 20:45] annezazu opened #40979 "List: deleting sub items requires deleting twice"
### Description

When trying to delete sub items in the v2 of the List block, it requires deleting the block twice and you can only remove the block if you use the three dot menu (keyboard controls don't seem to work).  This was found as part of testing for the [FSE Outreach Program's fourteenth call for testing. ](https://make.wordpress.org/test/2022/04/28/fse-program-testing-call-14-rallying-rec

[2022-05-10 20:52] annezazu commented on #40768
cc @oandregal  based on your work with the quote block v2. Seems there's talk of having the citation block as a separate inner block but that hasn't yet been pursued so noting this for now :)

[2022-05-10 20:57] aurooba commented on #38554
That's an interesting idea @LukaszJaro. But what if you aren't creating an update but just want to create a similar page? That's a pretty common use case. I also know that the split button design pattern has been discussed for the update/publish button and has been soundly rejected a few times (I can hunt up the issues from 2018/2019 and add them in here later). So I'm not sure that would be welco

[2022-05-10 21:03] dmsnell commented on #40316
in my opinion crashing the editor or a block is a much bigger user experience burden than adding _a few extra tens of gzip'd bytes_ which is what the cost is going to amount to by leaving in deprecation notices on the old function names.

this also feels like quite the leap @mtias. we're discussing ~280 functions and a rename of those functions.

when we mark code as deprecated we don't really lea

[2022-05-10 21:03] dmsnell commented on #40316
should we start this work by purging old `deprecated()` functions?

[2022-05-10 21:12] annezazu commented on #40769
For the latter point @courtneyr-dev mentions, this also came up with [Justin's review on WP Tavern](https://wptavern.com/fse-outreach-14-building-recipe-posts-with-lists-and-quotes):

This seems like table-stakes at this point. cc @ntsekouras since you seem to be helping in this area <3 as a head up.

[2022-05-10 21:15] pinksharpii commented on #37031
We are also experiencing this on at least 2 sites we have developed. We define the color scheme for the site, only allowing brand colors to be used so it's not a question of color contrast. Selecting black or dark blue overlay should always output white text regardless of opacity.
Previously we handled this in our theme by stating .has-black-background-color { color: #fff; } but 5.9.1 removing the

[2022-05-10 21:20] annezazu opened #40980 "List v2: convert markdown based lists to list blocks"
## What problem does this address?

When using the List v2 experiment, it doesn't convert markdown to the list block automatically. This came up as part of the [fourteenth call for testing for the FSE Outreach program](https://wptavern.com/fse-outreach-14-building-recipe-posts-with-lists-and-quotes):

This includes ordered and unordered list. I tested by copying examples [from here](https://www.ma

[2022-05-10 21:58] eric-michel commented on #29173
Just stumbled across this issue when searching for ways to interact with the `postmeta` table via blocks.

In my (admittedly brief) experiments with FSE, there are theme blocks that represent things like post title, author, publish date, etc. Is it currently possible to create custom versions of those that a block creator could connect to a postmeta value? It would be awesome if custom block creat

[2022-05-10 22:24] bph commented on #40609
Closing it now as the [Field Guide was published and updated](https://make.wordpress.org/core/2022/05/03/wordpress-6-0-field-guide/) last week.

[2022-05-10 22:24] #40609 closed, assigned to bph

[2022-05-11 00:17] peterwilsoncc commented on #40316
@mtias

I don't think it's a leap because it's already happening and the tone of this discussion is that it's about to happen a lot more.

In my personal experience:

* unintentional backward compatibility breaks of stable, public APIs are not fixed, see https://github.com/WordPress/gutenberg/issues/38361 and the [backward compatibility label](https://github.com/WordPress/gutenberg/issues?q=is%3Ao

[2022-05-11 00:27] #40897 closed, assigned to aaronrobertshaw

[2022-05-11 00:40] lindsaywebstudio commented on #11211
Experiencing this today in 2022. Neither the classic editor block, nor the classic editor, will output `<p>` tags with `the_content()`. I can only get paragraphs if I convert to blocks.

[2022-05-11 00:51] carlomanf commented on #29173
No, it's not, and that's mostly what this issue is about. The tricky part is that each field has its own unique needs with regard to input and output, and that makes it hard to provide a generic API that is useful. For example, the publish date needs a date picker for its input and the post title needs heading tags for its output, and so on.

My request is more limited in scope and only seeks to w

[2022-05-11 00:59] aaronrobertshaw commented on #40978
Thanks for the ping 👍

I've added tooltips for the split border radius controls in https://github.com/WordPress/gutenberg/pull/40983.

[2022-05-11 01:21] ramonjd commented on #34529
Resolved by https://github.com/WordPress/gutenberg/pull/37736

Feel free to reopen if there are outstanding issues

[2022-05-11 01:21] #34529 closed, assigned to ramonjd

[2022-05-11 01:27] SaxonF commented on #40204
Tabs feel like the right pattern here but agree nesting looks weird. What about converting post/block tabs into breadcrumbs to better show the parent->child relationship, with "post" being the top level "block".

Could also play with typography treatment and input stroke colour to try and reduce competing elements.

![image](https://user-images.githubusercontent.com/1072756/167750314-13338915-5653

[2022-05-11 03:51] talldan commented on #38172
@ndiego Yep, agreed 👍

[2022-05-11 04:28] shimotmk commented on #40963
@ndiego
Thanks for the reply.

We observed the same phenomenon with [Icon Block](https://wordpress.org/plugins/icon-block/).
Is this a Gutenberg bug?

Please do not include it in the WordPress 6.0 release until the deprecation process is complete as it will be a hassle for users.

[2022-05-11 05:20] #40978 closed, assigned to aaronrobertshaw

[2022-05-11 05:41] Mamaduka commented on #30120
I think this issue was fixed via #32525.

[2022-05-11 05:41] #30120 closed, assigned to nobody

[2022-05-11 05:54] noisysocks commented on #40316
We can't put experimental functions and components behind a flag (e.g. `bleeding-edge` like you suggest or the existing `process.env.IS_GUTENBERG_PLUGIN` flag) because it's often the case that an experimental component or function is used by a new feature that we want to release in Core. We need the code to be there for use by the Core feature but not used by third parties.

This is what the `__ex