[2022-07-11 08:27] mikachan opened #42311 "Post Date: Consider adding 'M j' as a default format"
## What problem does this address?

The date format `M j` (e.g. Feb 3) is used quite frequently but is not available by default from the post date block.

## What is your proposed solution?

We should consider adding this as a pre-defined format so the user doesn't have to use the custom option.

[2022-07-11 08:33] mikachan opened #42313 "Heading element is not included in `theme.json`"
The heading element at `styles.elements.heading` has not yet been added to the theme.json schema. We should add this to provide a good developer experience.

[2022-07-11 08:39] Marc-pi commented on #41597
check https://github.com/WordPress/gutenberg/pull/40778

[2022-07-11 08:39] Marc-pi commented on #25575
https://github.com/WordPress/gutenberg/pull/40778

[2022-07-11 08:41] afercia opened #42314 "RTL paragraph: 'Left to right' toolbar menu missing label and selected state semantics"
### Description

When the admin language is a Right-To-Left language, the Paragraph block toolbar shows an additional dropdown menu to give users the ability to set the text direction to Left-To-Right:

<img width="884" alt="Screenshot 2022-07-11 at 10 04 44" src="https://user-images.githubusercontent.com/1682452/178221009-cf3f8398-9825-4c2f-9006-72dc0ead61b6.png">

- The toggle button is unlabell

[2022-07-11 08:41] talldan commented on #42227
Just to add some history - my recollection is that there was a desire to do this before when grouping was first introduced, but the problem is Cmd+G is already a browser shortcut for 'Find Next'. Cmd+Shift+G is also 'Find Previous', and usually it's good not to override browser shortcuts.

It's a shame as I would usually expect Cmd+G to group. I'm not sure another shortcut would be quite as unders

[2022-07-11 08:42] carolinan commented on #42300
Yes I removed it. Tested both with and without Gutenberg trunk active.

[2022-07-11 08:44] Marc-pi commented on #42299
relative to https://github.com/WordPress/gutenberg/pull/40778

[2022-07-11 08:47] afercia commented on #42314
Fixing the `ParagraphRTLControl` would be pretty simple:
- Pass a `label` prop with meaningful text to `ToolbarDropdownMenu`.
- Pass `role: 'menuitemcheckbox'` to the only control in the `controls` prop array.

However, I'm not sure a dropdown menu with only one menu item is the best option in the first place. Users are forced to click twice to activate this settings, while a simple button would r

[2022-07-11 08:50] carolinan commented on #39984
I am able to reproduce this.

[2022-07-11 08:59] M4N0JKUM4R commented on #37967
@dennisheiden Initially it was confusing in the documentation that we should not change it directly. Still confusing :D But anyway I will try that.

![image](https://user-images.githubusercontent.com/11471878/178225910-a55fcb3a-76fc-44f4-82c5-ae499d2d0f73.png)

[2022-07-11 09:07] jameskoster opened #42316 "Site Editor: Add a link to view the site"
To go from the site editor to viewing the frontend of your site is a long-winded exercise. It would be nice if there was a more direct pathway.

A couple of options:

**Add a link to the site title in the navigation panel**

<img width="383" alt="Screenshot 2022-07-11 at 10 05 53" src="https://user-images.githubusercontent.com/846565/178229021-88a77bf2-d8e6-4f50-a0e1-36c89a2b2dfb.png">

**Add a li

[2022-07-11 09:19] mtias commented on #42316
I think we should rename "Preview" to "View" in the site editor and add a section beneath desktop/tablet/mobile that is "View Site ->".

[2022-07-11 09:32] getdave opened #42318 "Categories block - hide prefix and suffix placeholders when not selected"
### Description

When Categories block is not selected the prefix and suffix placeholders are still displayed. It's confusing. They should be hidden until the block is selected.

### Step-by-step reproduction instructions

1. Add Query Loop
2. Add Categories block to template
3. Ensure Categories block is NOT selected.
4. See bug.

### Screenshots, screen recording, code snippet

<img width="434"

[2022-07-11 09:41] mikachan opened #42319 "Consider adding more options to `textDecoration` property"
## What problem does this address?
The `textDecoration` control is currently limited to the type of decoration (`underline` or `strikethrough`), with no further customization options.

## What is your proposed solution?
It would be nice to have further control over this property, for example by adding support for some/all of these values:

- `text-decoration-color` (color of the line)
- `text-deco

[2022-07-11 09:47] afercia commented on #42314
Looks like this control wrapper used to be a `ToolbarGroup` and changed to `DropdownMenu` in https://github.com/WordPress/gutenberg/pull/29863. Later, it changed to a `ToolbarDropdownMenu`. That may explain the lack of a label and semantic state, as the `ToolbarGroup` used to render a toggle button with a label and an aria-pressed state:

<img width="752" alt="Screenshot 2022-07-11 at 11 46 07" sr

[2022-07-11 10:12] jameskoster opened #42320 "Updating TabPanel"
Now that TabPanel usage is on the verge of becoming a little more widespead across the Editor (see https://github.com/WordPress/gutenberg/issues/38277#issuecomment-1170082093 and https://github.com/WordPress/gutenberg/pull/41937), it's a good time to consider some aspects of the component design:

<img width="324" alt="Screenshot 2022-07-11 at 10 38 41" src="https://user-images.githubusercontent.c

[2022-07-11 10:37] MaggieCabrera opened #42322 "Featured image: height set is not being inherited correctly on the frontend"
### Description

This is a tricky one to find. A featured image block with a set height will show correctly in the editor but the frontend will display something different. There's a couple of reasons to this:
- the img tag is not getting the height applied to the featured image block wrapper
- the editor has a different markup than the frontend (the anchor link when the featured image is a link i

[2022-07-11 10:39] gziolo commented on #41712
@amustaque97, were you able to reproduce the issue and figure out what's causing it?

[2022-07-11 10:43] gziolo commented on #40771
Is there anything we could add to the documentation to make it more obvious that it's possible to customize the directory where blocks live when using `@wordpress/scripts`? I see `--webpack-src-dir` flag referenced in the README file of the package in a few places.

[2022-07-11 10:43] #40771 closed, assigned to nobody

[2022-07-11 10:46] gziolo commented on #39435
See my comment in https://github.com/WordPress/gutenberg/pull/40660#issuecomment-1112868215. Decorators are at stage 3 in becoming the part of JavaScript language. Let's wait until the process is finished after promotion to stage 4.

[2022-07-11 10:50] gziolo commented on #19949
@t-hamano, now that you wrapped up all tasks to make tooling work with Windows OS, do you think we would benefit from standardizing script naming in `package.json`? I'm on the fence now because those commands are documented in so many places and they have been around for so long.

[2022-07-11 10:51] madhusudhand opened #42323 "Theme style variations work inconsistently"
### Description

Switching between style variations, mixes the styles from both variations.
It gets few styles from the previous style variation and few from current style variation.

This is happening in both **.wordpress.com** site and a local WordPress setup.
Behaviour is observed inconsistently, sometimes for the first change, and sometimes after 2nd or 3rd change of style variation.

### Step

[2022-07-11 10:58] MyWebmasterD commented on #38580
At the end mine is working, I had to set explicitally content and wide size:
"layout": {
      "contentSize": "1200px",
      "wideSize": "100%"
    }

[2022-07-11 11:00] carolinan commented on #42323
Hi, can this be reproduced outside wordpress.com, on a standalone WordPress install? I am not sure how else we can determine if it is a Gutenberg, theme,  or WordPress.com bug?

[2022-07-11 11:05] carolinan commented on #42316
I believe the second option, the preview/view menu, is what has been requested by users.

[2022-07-11 11:09] madhusudhand commented on #42323
I also have tested it with a local WordPress install, and the issue reproduced with our without enabling Gutenburg plugin.

Also, when the style variation is in inconsistent state, toggling (enable/disable) the Gutenburg plugin, and reloading frontend fixes everything. Style variation applies correctly.
And this behaviour is observed with multiple themes.

So, It should be a WordPress or Gutenberg

[2022-07-11 11:13] jameskoster commented on #39371
As with many tasks in the site editor, the challenge we face here is one of catering to both advanced users / theme developers, and the less technically inclined end-users. Generally speaking I feel we should be optimising the experience for the latter. It's important that folks can apply consistent values across contexts, but it's more important that someone can quickly and intuitively create the

[2022-07-11 11:44] jameskoster opened #42325 "Scaling the "Add template" menu / flow"
As we continue to expand the types of templates that can be added in the Site Editor (#37407) an issue with the template menu presents itself:

<img width="351" alt="Screenshot 2022-07-11 at 12 32 59" src="https://user-images.githubusercontent.com/846565/178256745-accab234-5e52-4800-93b7-355e47251525.png">

I have registered a couple of CPTs which make this example particularly egregious, but it's

[2022-07-11 11:59] t-hamano commented on #19949
Yes, I agree with you.

However, since npm script is used in various places (including GitHub Actions), I wonder how to proceed.
Which is better to standardize scripts in one PR or in stages?

[2022-07-11 12:12] M4N0JKUM4R commented on #37967
**Looks like this causes low performance as mentioned by @tiennguyenvan. So use it if you know what you are doing.**

@dennisheiden Another hack is to add in a dummy attribute like 'time' and update it so the editor catches the changes. The editor saved the attributes for me.

[code]
    let localStyles = {};
    function handleLineType(value) {
		setAreaStyles((prevValue) => {
			return { ...prev

[2022-07-11 12:25] drocks13 commented on #37967
@M4N0JKUM4R @dennisheiden thanks, glad to know there are a couple of other work arounds.

[2022-07-11 12:40] jameskoster commented on #42227
Thanks for the context @talldan. Not sure if this is a good idea or even possible, but I wonder if it would be acceptable in this case assuming that cmd+g still behaved as 'Find Next' when the search box (cmd+f) is open.

Also curious about the principles for overriding shortcuts, because we do have things like cmd+s already.

[2022-07-11 12:53] dennisheiden commented on #37967
That's what I said ;):

Conclusion for others:
The main issue is that attributes type object are not saved correctly (IMHO), Therefore you could either use a JSON (works very good, but you have to handle defaults and data types by yourself) or add every object property as single attribute to props.attributes (I recommend to prefix the attribute names  like "prefixSettingName", to prevent issues wi

[2022-07-11 12:59] Chrico opened #42327 "Build Tools: Reduce redundancy (and file size) for block registration"
## What problem does this address?
Right now Gutenberg allows to register via `block.json`-file the Blocks on server side. This data is printed as inline script in [/lib/experimental/editor-settings.php#L71](https://github.com/WordPress/gutenberg/blob/release/13.6/lib/experimental/editor-settings.php##L71) to [`wp.blocks.unstable__bootstrapServerSideBlockDefinitions()`](https://github.com/WordPres

[2022-07-11 13:37] via-lars commented on #18213
@EmSixTeen did you open a new ticket? which?

Apart from disbabling gradients not working for me without theme.json I noticed disabled colors are still delivered as CSS variables inline in HTML wp-head `global-styles-inline-css`

[2022-07-11 13:54] javierarce commented on #42325
The first idea that occurs to me would be to add a tab menu on top of the list to filter between base and CPT templates.

![image](https://user-images.githubusercontent.com/4933/178280019-445d0ec6-e808-45a8-aec3-4f5ccd3b99af.png)

For the CPT section we could also group items that belong to the same post type under a label.

[2022-07-11 14:02] afercia commented on #42158
@alexstine thanks for the hint. Not sure overriding the prop would be the best option as it would require to fix the role on a case by case basis, only when `useBlockProps` is used directly on `RichText`.

@talldan thanks for looking into this.

Yep, some block still use div elements or other elements as wrappers. I'm not sure that's the root cause though. It's just that `useBlockProps` is meant t

[2022-07-11 14:14] gziolo commented on #19949
Which is better to standardize scripts in one PR or in stages?

I hope it's possible to do it one PR and keep old aliases for some transition period.

[2022-07-11 14:25] scruffian opened #42330 "Site Title: Impossible to override theme.json setting with an instance of the block."
### Description

It is impossible to override theme.json setting with an instance of the Site Title block.

### Step-by-step reproduction instructions

Add this to your theme.json file:

[code]

Now add the site title block to a template/post and modify the color of the link. The setting from theme.json takes priority still.

### Screenshots, screen recording, code snippet

<img width="1417" alt="

[2022-07-11 14:39] t-hamano commented on #19949
I see, is this what you mean by keeping old aliases ? 🤔

[code]

[2022-07-11 14:54] Jeremy-Bolella commented on #37590
Absolutely once I get this wrapped up I'll jump over there with what my problem is and my fix. I'm hoping when the style engine is released this fix can just be rolled into that pretty seamlessly. Seems like the css parser route I'm taking to solve the hover/active issue is close to the idea around the style engine being developed.

[2022-07-11 15:09] scruffian opened #42332 "Post Comment Form: Low contrast on dark backgrounds"
### Description

The post comments form textarea is hard to read on dark backgrounds

### Step-by-step reproduction instructions

1. Add a group block
2. Give it a dark background
3. Add a "Comments" block
4. Notice that the form textarea (and button) are low contrast (is it because they are disabled?)

### Screenshots, screen recording, code snippet

<img width="801" alt="Screenshot 2022-07-11 at

[2022-07-11 15:10] grappler opened #42333 "Unable to opt-out of block gap styles for columns block"
### Description

Unable to opt-out of black gap styles for the columns block as of WordPress 6.0.

I am running a custom classic theme with a `theme.json`.

I would have expected that if not opted-in to the block gap styles, there would be no gap styles.

Seems like this was supposed to be the case based on https://github.com/WordPress/gutenberg/pull/34491, but the Gap CSS is outputted regardless.

[2022-07-11 15:11] aladin002dz commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2022-07-11 15:30] mrwweb commented on #39371
I'd love to know more about the research that's gone into establishing that the range slider is quicker and more intuitive, _especially on ranges with a high number of values_ since that is not obvious to me. The usability research I'm aware of on this subject suggests that range sliders are specifically ill-suited to a task about selecting specific values from a dense scale.

From the Nielsen Nor

[2022-07-11 16:02] #36860 closed, assigned to jorgefilipecosta

[2022-07-11 16:09] jameskoster commented on #42325
Yeah tabs could work well.

There are a group of 'base' templates that themes will tend to include, e.g. Index, 404, Search, Home, Singular, Archive. I think it makes sense to group these together.

For the remaining templates, arranging by post type is one option, another could be to split by single / archive. This could potentially enable us to reduce noise by removing the (somewhat repetitive)

[2022-07-11 16:35] mtias opened #42337 "On template creation, don't show search if not needed"
When creating a template for something like a Category, we should not render a search box if I have less than 4-5 items which can be shown directly.

<img width="634" alt="image" src="https://user-images.githubusercontent.com/548849/178313624-0a31fc46-25c1-4234-a68a-1cb5befb7504.png">

[2022-07-11 16:40] Nullception opened #42338 "Button Align Center Width"
For some reason, this CSS property is changing the width of a button block that is centered.

https://github.com/WordPress/gutenberg/blob/0b93618903e360b19ac14967dda7cdfeb0432447/packages/block-library/src/button/style.scss#L47

This is what it looks like in the block editor.
![image](https://user-images.githubusercontent.com/6423675/178313611-7353fb46-1d48-4625-a024-da5c5e93f076.png)

When you go

[2022-07-11 16:52] scruffian opened #42339 "Search block: Borders: Setting applies to container element"
### Description

The "border" setting in theme.json for the core/search block doesn't apply to the input, as it does when set via the inspector controls.

### Step-by-step reproduction instructions

1. Add this to your theme.json
[code]
2. Notice that the search block looks like this:
<img width="652" alt="Screenshot 2022-07-11 at 18 49 29" src="https://user-images.githubusercontent.com/275961/178

[2022-07-11 17:32] gziolo commented on #19949
Yes, that would work as a temporary solution for a few months 👍🏻

[2022-07-11 18:50] kathrynwp commented on #42338
Hi @Code-Bear - thanks for the report.

I haven't been able to replicate this yet with Twenty Twenty-Two and WP 6.0, with Gutenberg 13.6.0 either active or inactive.

Could you please let me know:

- If you have the standalone Gutenberg plugin active, and if so, what version is it?
- Is the issue present with all your plugins temporarily deactivated? You can use the Health Check plugin for this, w

[2022-07-11 19:02] annezazu commented on #37220
[Noting that this came up with the recent FSE Outreach Program's usability testing](https://make.wordpress.org/test/2022/06/20/fse-program-sign-up-for-usability-testing-by-june-24th/) as a big point of confusion. Someone created a new template part as a "general" item but named it "header new". Later, when in template part focus mode and when looking at the list of template parts, they tried to fi

[2022-07-11 19:28] annezazu commented on #42170
@ramonjd based on your previous work implementing the transparency option https://github.com/WordPress/gutenberg/pull/37731 do you have any insights you can share here?

[2022-07-11 19:34] kathrynwp commented on #42275
Pinging @carolinan, @ramonjd and @ntsekouras, for your thoughts.

[2022-07-11 19:35] annezazu commented on #41935
Heads up to the @WordPress/documentation crew -- not sure if this should be moved to https://github.com/WordPress/Documentation-Issue-Tracker/issues

[2022-07-11 19:48] alexspirgel commented on #11681
I am still encountering this issue on Wordpress version 6.0. I use ACF nested blocks and this error occurs when I change anything about the blocks involved, even things that should not invalidate the template.

[2022-07-11 19:56] annezazu commented on #42298
@MaggieCabrera can you share a bit more why you want to see this/how this would be advantageous?

[2022-07-11 20:10] fabiankaegy opened #42342 "Add ability to limit the number of items within an Inner Blocks area"
## What problem does this address?

Part of #41236.

When you have a custom tabs block for example you can build that to work similar to the core columns block. You have one wrapping block that contains individual tab item or column blocks that intern allow editors to place other blocks inside of them. The issue however is that you may want to restrict the ability of editors to add more than 5 tab

[2022-07-11 20:26] trinadin commented on #26645
@talldan This issue is being addressed in https://core.trac.wordpress.org/ticket/56197 and slated for a 6.0.1 release.

[2022-07-11 21:12] annezazu opened #42343 "Quick Inserter: push to "explore" option when searching for patterns"
## What problem does this address?

In the FSE Outreach Program's usability testing, one participant tried searching for "patterns" in the quick inserter but nothing appeared:

<img width="505" alt="Screen Shot 2022-07-11 at 2 06 42 PM" src="https://user-images.githubusercontent.com/26996883/178358629-a9e3b1d0-25e6-4fd3-82fd-1a5527ba5451.png">

This feels like an oversight, especially with recent

[2022-07-11 21:57] annezazu commented on #42343
This came up with an additional participants for usability testing: "Having to go to the + sign and then browse all and that’s the only way I know how to get to patterns is super cumbersome”

[2022-07-11 22:49] annezazu commented on #36350
Ended up opening a separate issue for discussion around being able to search for "Patterns" in the quick inserter: https://github.com/WordPress/gutenberg/issues/42343

[2022-07-11 22:53] annezazu commented on #40208
Noting that this came up as a request, particular for template parts, in the [usability testing for the FSE Outreach Program](https://make.wordpress.org/test/2022/06/20/fse-program-sign-up-for-usability-testing-by-june-24th/). Rather than selecting "replace", a participant expected to see patterns as options from clicking on the Header icon itself:

<img width="453" alt="Screen Shot 2022-07-11 at

[2022-07-11 22:57] adamsilverstein commented on #41479
Great to see this overview issue @hellofromtonya - this is super helpful as I've been struggling to keep up with the Fonts API proposals & progress.

I noticed several features I see in other font APIs that aren't mentioned here and wanted to know if these are on your roadmap at all or would be something to propose for a future iteration:

* Adding DNS prefetch/preconnect/preload tags to font enqu

[2022-07-11 23:07] ramonjd commented on #42170
I've tried to replicate this behaviour using PanelColorSettings on trunk but I haven't managed it.

I'm wondering if it's something to do with this [line](https://github.com/Automattic/wp-calypso/blob/17256c5b7b410d332188f1a13c4b3055c1ea9de0/apps/editing-toolkit/editing-toolkit-plugin/jetpack-timeline/blocks/src/timeline-item.js#L89)?

[code]

PanelColorSettings uses [PanelColorGradientSettings](h

[2022-07-11 23:49] #39789 closed, assigned to ramonjd, andrewserong

[2022-07-12 00:20] dknauss opened #42345 "Single quotes in content following bold text get curled the wrong way"
Apostrophes in content get curled in the wrong direction (to the right) in the screen output (not within the editor) when used after bold text. E.g., **He**'s will be rendered like this:

<img width="26" alt="Screen Shot 2022-07-11 at 6 01 18 PM" src="https://user-images.githubusercontent.com/273554/178379392-c5b06008-6cf4-4f11-9c0b-b6f104ff87dc.png">

**Probably related to ye olde `wptexturize` f

[2022-07-12 00:30] annezazu commented on #30164
Noting that this came up during the [FSE Outreach program's usability testing](https://make.wordpress.org/test/2022/06/20/fse-program-sign-up-for-usability-testing-by-june-24th/) with main menu items when deleting using 6.0 and Gutenberg 13.6:

https://user-images.githubusercontent.com/26996883/178381079-a486e616-56a4-42fa-ad7b-8a0a37c0eacd.mov

This felt like a broken experience to the participan

[2022-07-12 00:59] glendaviesnz commented on #39371
Thanks @jameskoster and @mrwweb for the additional feedback. To try and get to a decision on this I have implemented both the range control and the sliders so they can be seen in action side by side:

https://user-images.githubusercontent.com/3629020/178381447-d4022a8d-b315-42a7-9f45-11e594e4cd33.mp4

If you want to give this a try yourself, as the video doesn't give a full appreciation of the dif

[2022-07-12 01:20] andrewserong commented on #39789
Implemented in #40875.

[2022-07-12 01:30] andrewserong commented on #41434
As of #40875 much of the redundant `style` tags for Group blocks that use default settings are now removed.

The two next steps for this issue from my perspective (and following on from Ramon's earlier comment (https://github.com/WordPress/gutenberg/issues/41434#issuecomment-1144316034) are:

* Treat remaining layout properties that are of a controlled set as presets linked by semantic classes (in

[2022-07-12 01:34] ramonjd commented on #37590
Hello! Just a note to say that I'm not sure the style engine alone will be the whole solution - I think the work going on with pseudo selectors [mentioned above](https://github.com/WordPress/gutenberg/issues/37590#issuecomment-1179971078) will determine how we support active/hover styles on elements such as the button.

So that's the area to watch for now.

Once that logic and design is in place,

[2022-07-12 01:54] andrewserong commented on #39336
***Update 2022/07/12***:

The Layout refactor PR (#40875) has now been merged in. This PR implemented a centralised place for layout definitions to be stored, and to be output in the global styles stylesheet using semantic classnames based on the layout type, block-level support for blockGap in theme.json, and some de-duping of redundant `style` tags for blocks that use the default layout properti

[2022-07-12 02:02] andrewserong commented on #42333
Thanks for reporting this @grappler, I've added this as a task to the Layout tracking issue (https://github.com/WordPress/gutenberg/issues/39336), it sounds like we need a more explicit way for themes to opt-out of layout / blockGap styles.

The `2em` fallback gap was introduced in https://github.com/WordPress/gutenberg/pull/41098 to ensure backwards compatibility, as the Columns block's CSS used

[2022-07-12 02:38] glendaviesnz commented on #42240
@daviedR It looks like the duplicate flex definitions in the case of the gallery have been removed by [this PR](https://github.com/WordPress/gutenberg/pull/40875)

[2022-07-12 05:17] MatzeKitt opened #42347 "Search block generates duplicate IDs for search-icon if used multiple times"
### Description

Assume that you want to have two or more search bars on your page, e.g. one in the header and one in the content. If you use the search block both times, the search icon generates the identical ID `search-icon` both times if you use the icon button of the search button.

### Step-by-step reproduction instructions

1. Add a search button to the content.
2. Enable "Use button with i

[2022-07-12 05:32] t-hamano commented on #19949
Ok, then I would like to work on this issue.
I would like to temporarily install `scriptlint` and start by scanning the current script.

[2022-07-12 07:22] MaggieCabrera commented on #42298
yeah, I'm sorry for the one-liner! I was trying to track some discussions I had with @mtias and he suggested this so I opened the issue. I think it's mainly for convenience so you don't need to write `core/` every time, but both namings would work

[2022-07-12 07:27] Smit2808 commented on #41939
I have created PR for this ticket. PR link: https://github.com/WordPress/gutenberg/pull/42349, Please review it.

[2022-07-12 07:29] gziolo commented on #42327
[Import Assertions](https://github.com/tc39/proposal-import-assertions) - proposal for syntax to import ES modules with assertions for JSON is at stage 3, which means it will become a standard feature of the language pretty soon. I hope that it gets a nice integration with bundlers and that all unused properties of the imported JSON files would get eliminated during the phase of code minification.

[2022-07-12 07:33] Chrico commented on #42327
Thanks for your feedback.

One question which comes up: Does your code example even work? When looking into the [`/packages/blocks/src/api/registration.js#L265-L269`](https://github.com/WordPress/gutenberg/blob/release/13.6/packages/blocks/src/api/registration.js#L265-L269) function i can see, that only values are merged when you provide an object as first param to `registerBlockType()`. So your e

[2022-07-12 07:33] #41094 closed, assigned to fullofcaffeine

[2022-07-12 07:38] gziolo commented on #42327
https://github.com/WordPress/gutenberg/blob/f744f4fe0eb7e09e611b40d29a929d7b3831e249/packages/blocks/src/api/registration.js#L238

The first param takes the block name (`string`) or the block metadata (`object`). Both examples would work the same after all.

[2022-07-12 07:56] Chrico commented on #42327
yes, but the sync with the server side settings via `unstable__bootstrapServerSideBlockDefinitions()` only works when `blockNameOrMetadata` is an `object`, right? :)

[2022-07-12 08:01] gziolo commented on #42327
It's called on the server first. If it's called from `registerBlockType` for the second time, it's doing some checks to ensure it doesn't override values set on the server.

[2022-07-12 08:03] yashitamittal11 commented on #42256
I checked the background color for the submenu is working fine in the default Twenty Twenty Two and Twenty Twenty One theme. Should we handle this change in the Varia theme if it is not impacting other themes?

I noticed different themes are handling the colors differently.
For example - Twenty Twenty Two theme has an` !important `selector to override the fallback background color.

![2022](https:

[2022-07-12 08:05] swissspidy commented on #42126
Seems like the issue is that `@wordpress/scripts` uses Jest v27 while all other packages use v28:

[code]

Overriding the version in `package.json` to force v28 helped:

[code]

[2022-07-12 08:10] swissspidy commented on #24376
TIL about these additional tags and also the `wp-scripts packages-update` command! 💡

Seems like a very useful thing to add to the handbook. Could also be worth a blog post on the new developer.wordpress.org blog

[2022-07-12 08:17] aaronrobertshaw commented on #42095
Thanks for the breakdown @mirka 👍

I've created a couple of quick PRs hoping to address most of the tasks noted.

- https://github.com/WordPress/gutenberg/pull/42348
    - Should tick most of the boxes quoted above
    - I wasn't too sure what the labelling should be in a couple of places here, so I've left a question on the PR itself
- https://github.com/WordPress/gutenberg/pull/42351
    - The c

[2022-07-12 08:41] aristath commented on #42190
The use of `local()` fonts in the CSS is a bit debated... Google Fonts for years was defining it, and then only recently removed it (see https://github.com/google/fonts/issues/2620)
It's true, `local` _can_ cause the font-family to not be displayed as intended by the designer **if the user has a different variation installed on their system locally, with the same name as the one defined in the CSS

[2022-07-12 08:51] Mamaduka commented on #42347
Hi, @MatzeKitt

I think this was fixed via #40828.

[2022-07-12 08:52] t-hamano commented on #42126
Hi,
AFAIK Jest `v28` is not yet supported and will need to be adjusted to `v27`.
Here is the related PR: #33287

I have forked your repository and tested it, and I think the following steps will work.

- remove `node_modules/*`, `package-lock.json`
- remove `overrides` property from `package.json`
- `npm install`
- `npm run wp-env start`
- `npm run test:e2e`

[2022-07-12 09:06] mmtr commented on #11049
Looks like this was solved by https://github.com/WordPress/gutenberg/pull/22596, so we can close this one out!

[2022-07-12 09:06] #11049 closed

[2022-07-12 09:14] aaronrobertshaw opened #42354 "Border Radius: Invalid styles when unit is change without supplying value"
### Description

It is possible to generate invalid `border-radius` styles for blocks adopting the border-radius block support. The invalid styles consist of only a CSS unit e.g. `border-radius: rem;`

<img width="252" alt="Screen Shot 2022-07-12 at 7 01 06 pm" src="https://user-images.githubusercontent.com/60436221/178452883-3af5dcce-6b9d-4a1f-a34a-250213e0114b.png">

The `BorderRadiusControl` wa

[2022-07-12 09:28] swissspidy commented on #42126
I have tried these steps before and it didn't work, you'll end up with the same situation of mixed Jest versions.

[2022-07-12 09:31] MatzeKitt commented on #42347
Ah yes, it looks like this!

[2022-07-12 09:39] ajlende opened #42358 "Add item limit to categories block"
## What problem does this address?

On a site with many categories, the list can get quite long and there is no way to limit how many are shown.

## What is your proposed solution?

The category block should be able to limit the number of items shown similarly to how the latest posts block can.

[2022-07-12 09:40] #42347 closed, assigned to nobody

[2022-07-12 09:41] t-hamano commented on #42126
Can you test my repository with the forked and modified version?
At least it worked fine in my environment.
~https://github.com/t-hamano/preferred-languages~ Deleted

[2022-07-12 09:44] jameskoster commented on #42343
We can potentially use context to make a decent guess? E.g.

* In a header template part – show header patterns
* At the root of the 404 template – show 404 patterns
* At the root of a singular template – show post content patterns
* At the root of an archive template – show loop patterns
* At the root of an empty page – show full page patterns
* At the root of a non-empty page – show general cont

[2022-07-12 09:46] jameskoster commented on #40208
@annezazu I think @Mamaduka is going to look into this as a part of https://github.com/WordPress/gutenberg/pull/42221.

[2022-07-12 10:02] swissspidy commented on #42126
Ah, you're using an older version of npm, that's why. I'm using npm 8.

[2022-07-12 10:08] gziolo commented on #24376
Good timing. I have just published the post that covers this new functionality:

https://make.wordpress.org/core/2022/07/12/wordpress-packages-publish-to-npm-every-two-weeks/

I've been working on that for some time 😄

[2022-07-12 10:08] #42058 closed, assigned to talldan

[2022-07-12 10:18] t-hamano commented on #42126
Yes, node 16.x and npm 6.x would be recommended.

[2022-07-12 10:32] costasovo opened #42362 "Add support for adding templates and template parts for plugins"
## What problem does this address?
Currently, templates are defined within the theme (source theme) and can be edited in the site editor (source custom). There are some use cases where plugins could also use the possibility to add a template. WooCommerce blocks plugin already adds templates for Product Catalog page, Product Page, etc. At MailPoet, we are considering using templates and templates p

[2022-07-12 10:58] donalirl commented on #40059
I encountered a confusing issue related to this as well, with the following steps:

1. Insert a Columns block with text inside
2. Set the Columns to full-width alignment
3. Then put the Columns block inside a Group block
4. Set the Group block to full alignment
5. Insert another Paragraph inside another Column inside another Group block, but this time don't set full width alignment on the Columns

[2022-07-12 11:27] msurdi opened #42363 "Drag and drop performance regression"
### Description

When dropping an image on the editor, there are certain position intervals where the blue drop position indicator is added and removed from the DOM in an infinite loop. See the attached video.

### Step-by-step reproduction instructions

1. Write three paragraphs
2. Drag any image and, without actually dropping it, try to position it between two paragraphs as shown in the video
3.

[2022-07-12 11:35] ndiego commented on #21579
Closing out this issue per the conversation in the linked PR: https://github.com/WordPress/gutenberg/pull/21688#issuecomment-1179246917. This issue is a great lesson for any future block updates and the need to consider backward compatibility when it comes to block validation.

[2022-07-12 11:35] #21579 closed

[2022-07-12 11:37] msurdi opened #42365 "Drag and drop target marker not shown when there is only one paragraph"
### Description

When there's only one paragraph, the blue image drop marker is not being shown, which makes it unclear where the image is going to land when dropped.

### Step-by-step reproduction instructions

1. Write a post consisting of just a title and a single line (paragraph) of text
2. Drag and drop an image, try to drop it before or after the paragraph. It's unclear where it is going to

[2022-07-12 12:16] danielbachhuber commented on #42170
@ramonjd Yes, you are correct. The behavior occurs at the intersection of `PanelColorSettings` and the `default` value assigned to the block attribute:

[code]

Because the block uses `#eeeeee` when `background` is `undefined`, we need `PanelColorSettings` to return an explicit `'transparent'` value in order to "clear" the color.

Yep, I [discovered that yesterday](https://github.com/Automattic/wp

[2022-07-12 12:38] antonyjsmith commented on #12684
Definite +1, can't believe this is still rumbling on from 2018!

[2022-07-12 12:40] huubl opened #42367 "Post Template: show as one post selected, not all"
## What problem does this address?

The query block and the post template block currently show the same selection when selected/active. This can be confusing.

## What is your proposed solution?

I think when the post template block is selected it should only show the first post as selected and show the others as disabled. Something like this:
![Gutenberg - Idea Block Post Template](https://user-i

[2022-07-12 12:41] ciampo commented on #41575
I can also confirm that #40470 introduced the regression.

On top of this logic, another interesting change is that #40470 removed the `__unstableEditorCanvasWrapper` prop from `Popover`, which was previously used to let the `Popover` know about the boundaries of the editor:

https://github.com/WordPress/gutenberg/blob/b99e6688fba7037ccee46cb6b7d70917a5f2c418/packages/block-editor/src/components/b

[2022-07-12 12:49] #41170 closed, assigned to Mamaduka

[2022-07-12 13:02] critterverse commented on #39371
@mrwweb The resource linked above seems to be referring to dense sliders as those where users can select something like 100 different values at increments of +/- 1 or even at decimal increments, i.e. a continuous slider. Do folks have the same concerns for a discrete stepper control as shared in https://github.com/WordPress/gutenberg/issues/39371#issuecomment-1179955109?

[2022-07-12 13:02] amustaque97 commented on #41712
@gziolo, not yet. I will update this issue with my findings later today 🙂

[2022-07-12 13:26] bph commented on #41935
Thank you @Smit2808 for catching this.

We can always use more examples!

In the [**Usage** section](https://developer.wordpress.org/block-editor/reference-guides/packages/packages-server-side-render/#usage-2) on the existing page there is an example.

There is also an example on the [page about dynamic blocks](https://developer.wordpress.org/block-editor/how-to-guides/block-tutorial/creating-dyna

[2022-07-12 13:39] afercia opened #42371 "'Show template details' button label and text mismatch when the 'Show button text labels' setting is enabled"
### Description

Similar to https://github.com/WordPress/gutenberg/issues/42236 but with an additional issue about translations.

In the Site Editor, when the preference 'Show button text labels' is enabled, the Show template details button shows text instead of the chevron icon:

<img width="1792" alt="Screenshot 2022-07-12 at 15 13 31" src="https://user-images.githubusercontent.com/1682452/17849

[2022-07-12 13:52] afercia commented on #42371
I'd like to propose to simplify as much as possible. I'm not sure the visible text 'Details` is the best choice, to start with. Also, not sure using two aria-labels that distinguish between 'template' and 'template part' adds great value.

Actually, this button opens a panel that provides users with multiple functionalities:
- See the template description.
- Select and Edit template areas, if avai

[2022-07-12 14:07] afercia opened #42373 "Incorrect headings hierarchy in the Site Editor"
### Description

In the Site Editor Template browser, the headings hierarchy is incorrect:
- it starts with a H2
- it skips heading levels

### Step-by-step reproduction instructions

- Hint: use the Chrome extension `HeadingsMap` to quickly check the headings on the page.
- Go to the Site Editor.
- Click the 'Show template details' button (the one with the chevron icon in the top bar).
- Click 'B

[2022-07-12 14:10] afercia commented on #42373
Note: I _think_ the Component that uses the H4 heading with the template name is reused in other places (the Show tempalte details panel, the Settings sidebar). I'm not sure it should use a heading in the first place, though.

[2022-07-12 14:20] iamtakashi opened #42374 "Full-width aligned blocks are no longer full-width"
### Description

It looks like full-width aligned blocks are no longer full-width with the trunk. If I deactivate the plugin, it becomes full-width as expected. I remember full-width aligned blocks aren't full width in the editor for quite some time, and now the front of the site also displays it as non-full width. I tested with Twenty Twenty-two, but this is not a theme-specific issue.

### Step-

[2022-07-12 14:20] kathrynwp commented on #42345
Hi @dknauss - thanks for your report. So far I haven't been able to replicate this. Here's a front-end screenshot:

![Bold_Apostrophe_–_Self-hosted_Test](https://user-images.githubusercontent.com/7662449/178511876-7db83ab4-2a12-4024-9bd7-5fcea9a4af48.jpg)

My test setup:

- WordPress 6.0
- Gutenberg 13.6.0 - active or inactive
- No other plugins active
- Twenty Twenty-Two
- Paragraph block

Could

[2022-07-12 14:36] bph opened #42375 "GitHub Action for 'docs:build' step after documentation changes"
## What problem does this address?
On top of documentation pages in the block-editor handbook you'll find an "Edit" link, that leads you to this GitHub repo and you can make changes easily on a handbook page. It automatically creates a branch for contributors who already have a fork.
Once the edits are done, the contributor submits the changes.
However the changes can't be merged until the command

[2022-07-12 14:40] fabiankaegy commented on #42375
I also ran into this several times. I'm not sure what all the circumstances are where running the build command is actually required. But it would definitely be nice to remove that step especially since the documentation is something that should be approachable for first-time contributors and as easy as possible to maintain.

[2022-07-12 14:48] kathrynwp commented on #42358
Hi @ajlende - thanks for the suggestion for the Category block.

### Which Block

First I'd like to confirm, are you referring to the **Categories List block,** which lists all categories that have posts on a site, and which is equivalent to the old Categories widget?

![Editor__beta__‹_Self-hosted_Test_—_WordPress](https://user-images.githubusercontent.com/7662449/178517520-ac0f37f9-fa78-4165-a71

[2022-07-12 14:54] draganescu commented on #42300
I **cannot** repro this using a very minimalist block theme (Ames).

[2022-07-12 15:20] kathrynwp commented on #42365
I was able to replicate this with:

WordPress: 6.0
Gutenberg: 13.6.0
Theme: Twenty Twenty-Two

With Gutenberg **deactivated**, the issue is not present and the blue image drop marker does appear as expected.

[2022-07-12 15:35] joedolson commented on #39371
Why doesn't the select control show the change on the canvas, in the same way the range control does? I can't see any reason a user couldn't just arrow through the select control and see the changes rendered as they go. I did not verify that your statement is true; but I don't see any reason that it *must* be true.

Regarding the fine motor control question, I think you may be underestimating the

[2022-07-12 16:11] ricjcs commented on #14554
In my opinion there are other reasons to use paragraph indentation besides quote (although it is probably the most used), such as an introduction, to highlight a paragraph, etc.

Also, the plain quote style in many themes continues with the theme style instead of just the indented paragraph, and it also doesn't make sense to use this option if it's not a quote.

For me, and in my opinion, the plai

[2022-07-12 16:20] ndiego commented on #16026
@iandunn this issue came up in today's Editor Bug Scrub. Do you think this is still an issue? There have been some changes made to the Parent Page dropdown. It does not appear that some of the potential fixes detailed in this issue were ever finalized, but in my testing, the dropdown is now visible on page load while pages are being fetched.

I will be following up on the linked PR to see if we ca

[2022-07-12 16:22] mrwweb commented on #40381
Just reconfirming that this behavior is still present in WordPress 6.0. This is a problem because without `--wp--style--block-gap` defined in the editor, **there is no space between elements by default in the editor when `theme.json` is in use**. It should be possible to define a default gap without having to support editing that gap per block.

[2022-07-12 16:25] mvaleno commented on #40157
Thank you. So, the Gutenberg plugin code is ahead of the code in WP Core? Is that how it works? Do I understand this correctly?

Meaning, features are added to Gutenberg plugin, then later baked into WP Core?

[2022-07-12 16:38] ndiego commented on #24895
I have been able to reproduce this.

[2022-07-12 17:19] dknauss commented on #42345
Hi @kathrynwp, the output you are showing is actually (typographically) incorrect and exactly the same as my example. Yours is just much more subtle due to the font used by Twenty Twenty-two. I was fooled by this as well when I first replied. This comment has been heavily edited. :-)

I also realized "apostrophe" is not exactly the right term to use, so I updated the issue title as well.

The issu

[2022-07-12 17:47] mirka commented on #42150
For what it's worth, we are starting to explore (#41466) a more composable API for this family of components, which should allow use cases like this.

[2022-07-12 17:59] mirka commented on #42056
I can confirm that the `TextareaControl` component itself is preserving line breaks as expected. (See the "Actions" tab in this [Storybook story](https://wordpress.github.io/gutenberg/?path=/story/components-textareacontrol--default) and enter text with line breaks into the TextareaControl.)

The problem is likely happening somewhere after that point in the chain. Are you (or anyone else) able to

[2022-07-12 18:25] iandunn commented on #16026
It's definitely better than it used to be 🍻

IMO it's still not a great UX, though. The dropdown is empty until the data is loaded, which can take several seconds on a slower connection. If you open it during that time it can be confusing.

I think it's be better if the dropdown had a `disabled` attribute and a spinner until it has finished loading.

[2022-07-12 18:36] ndiego commented on #16026
Agreed, I will see if we can get some traction on the linked PR.

[2022-07-12 18:43] kathrynwp commented on #42345
@dknauss Thank you for the additional clarifications, super helpful – and tricky indeed! I was able to see the issue clearly in **Twenty Twenty**, with or without Gutenberg 13.6.0 active.

![Bold_Apostrophe_–_Self-hosted_Test](https://user-images.githubusercontent.com/7662449/178570366-08db7b83-314e-4eaf-b9b6-31865dc1f363.jpg)

I added a label requesting technical feedback from a developer to see

[2022-07-12 18:46] kathrynwp commented on #35705
Thank you for the report. Since you were able to find a workaround, and since there have been no other reports of this issue from others, I'm going to go ahead and close it out.

[2022-07-12 18:47] #35705 closed, assigned to nobody

[2022-07-12 18:53] kathrynwp commented on #9117
I'm going to close this in favour of https://github.com/WordPress/gutenberg/issues/17738

[2022-07-12 18:53] #9117 closed

[2022-07-12 19:02] kathrynwp commented on #10492
Heya @danielbachhuber – checking in to see whether this is something you'd like to pick up again if it's still an issue in 6.0.1? Thanks!

[2022-07-12 19:07] kathrynwp commented on #10413
https://user-images.githubusercontent.com/7662449/178574150-65923c52-103c-491c-90f5-6df18011fcdc.mp4

Adding the screencast here directly in case the third-party link goes dead.

[2022-07-12 19:11] danielbachhuber commented on #10492
@kathrynwp I'm not sure if it's still an issue. I imagine it would be helpful to have if it was, though.

[2022-07-12 19:14] kathrynwp commented on #10492
@danielbachhuber Please feel free to test to see whether it's still an issue, otherwise we can go ahead and close this out. Thanks!

[2022-07-12 19:15] dknauss commented on #42345
Thank you, @kathrynwp — you made me think it through more deeply and carefully. 👍

[2022-07-12 19:46] annezazu commented on #42298
Got it! Thank you :)

[2022-07-12 20:01] cbravobernal commented on #40157
Yes, kind of, it is early access to the Core editor. That means that it can fastly change before baking into the Core, ie, sometimes the community decides not to include some features due to many reasons (backward compatibility, not enough traction or testing, impact on the WordPress ecosystem, etc.)

[2022-07-12 21:01] cbirdsong commented on #39371
Showing the actual size might be helpful for simple values like `1.25rem` or `20px`, but responsive values like `clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem)` would probably only confuse people.

[2022-07-12 21:22] glendaviesnz commented on #39371
From the research I did into this it seems that mouseevents on the `<select>` `<option>` tags are not well supported across browsers so there is no way to easily hook a mouseover event into the user scrolling through the select list. But I didn't explore the use of the [CustomSelectControl](https://github.com/WordPress/gutenberg/tree/trunk/packages/components/src/custom-select-control) as I wasn't

[2022-07-12 22:27] ramonjd commented on #42170
It does take a few clicks, and seems more buried that it needs to be. Maybe a workaround would be to have a quick access button than opens the custom control with alpha immediately. 🤷

Could be a good one for design review @WordPress/gutenberg-design

8-value hex (RGBA hexadecimal notation) codes are valid, maybe not as common as 6-value ones. See:
https://developer.mozilla.org/en-US/docs/Web/CSS/

[2022-07-12 23:17] danielbachhuber commented on #42170
I learned something new! And apparently the last two digits (`00`) represent the alpha channel.

[2022-07-13 00:19] danielbachhuber commented on #10492
@kathrynwp Sure.

It appears the first two scenarios are resolved. When a server returns a malformed JSON response, or the REST API is disabled, the error message indicates such:

<img width="1598" alt="image" src="https://user-images.githubusercontent.com/36432/178616791-4b68a711-2307-4ad4-b4d1-311ad0cecc1e.png">

<img width="1595" alt="image" src="https://user-images.githubusercontent.com/36432/

[2022-07-13 02:00] glendaviesnz commented on #39371
Ok, so to level the playing field a little between Range versus Select, on @joedolson's prompting I had a closer look at Select component options, and it turned out there is a `CustomSelectControl` that would allow tracking of the scroll through the list if we modify the component to take an `onHighlightedIndexChange` prop.

I don't know if there will be any resistance to adding this prop, or if t

[2022-07-13 02:16] joedolson commented on #39371
There shouldn't be any issue with using a select this way that's any different from using the range control with dynamic updates. In either case, the accessibility issue would hypothetically come from having a context change automatically triggered by the change of value; but that doesn't happen, so it's fine. Making updates without changing context isn't a problem.

[2022-07-13 02:30] webmandesign commented on #39108
The issue still persist for me. Using WP 6.0.1 and Twenty Twenty-One 1.6.

[2022-07-13 03:46] talldan commented on #41575
@ciampo To restore the behavior that was in place before it should work a bit like this (using floating-ui terminology):
- Flip position when there's not enough space at the top of the editor canvas
- Shift during scrolling when there's not enough space at the top of the viewport (like it does right now in `trunk`)

What you mentioned here is one of the difficulties with implementing a fix. There

[2022-07-13 04:05] tellthemachines opened #42380 "FlexItem doesn't render children when used "as" another component"
### Description

When using a FlexItem "as" a component that is expected to have children, the children of that component may not get rendered. This happens because in the [`useContextSystem` hook](https://github.com/WordPress/gutenberg/blob/trunk/packages/components/src/ui/context/use-context-system.js#L75), `finalComponentProps.children` is set even if there is no value for it, so the component

[2022-07-13 04:33] #33994 closed, assigned to Mamaduka

[2022-07-13 05:46] talldan commented on #41575
I have something that I think works as expected now in #42086.

Turns out that I didn't need the `__unstableEditorCanvasWrapper` like I thought I would, I think floating ui automatically detects the canvas as the main scrolled element, and internally it seems to offset any coordinates against that element.

[2022-07-13 05:46] github-actions[bot] opened #42384 "[Flaky Test] We show no results message if there are no comments"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
We show no results message if there are no comments

## Test path
`/test/e2e/specs/editor/blocks/comments.spec.js`

## Errors

<time datetime="2022-07-13T05:46:49.347Z"><code>[2022-07-13T05:46:49.347Z]</code></time> Test passed after 1 failed attempt on <a href="https://gith

[2022-07-13 06:23] scruffian commented on #42054
I'm closing this on the understanding that we expect the opinionated block styles to override the styles set in theme.json.

[2022-07-13 07:04] markhowellsmead commented on #42333
See also https://github.com/WordPress/gutenberg/issues/41431.

[2022-07-13 07:10] SaxonF opened #42385 "Expanding and simplifying layout"
## What problem does this address?

When making a decision around how to implement a particular layout, multiple blocks need to be considered. There is group, columns, layout grid, row and stack, not to mention more specific blocks like cover and gallery. The tools within those blocks also limit what's possible, particularly when looking at inner block sizes and alignment

## What is your proposed

[2022-07-13 07:14] SaxonF commented on #42385
This issue touches on some of the concepts discussed in https://github.com/WordPress/gutenberg/issues/36082 and https://github.com/WordPress/gutenberg/issues/35607 and https://github.com/WordPress/gutenberg/pull/42085

[2022-07-13 07:17] carolinan commented on #42054
Is it really logicall that theme.json overrides all but one specific stylesheet?
Does it also override users global styles?

[2022-07-13 07:27] github-actions[bot] opened #42386 "[Flaky Test] should use registered grouping block for grouping interactions"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should use registered grouping block for grouping interactions

## Test path
`specs/editor/various/block-grouping.test.js`

## Errors

<details>
<summary>
	<time datetime="2022-07-13T07:27:17.544Z"><code>[2022-07-13T07:27:17.544Z]</code></time> Test passed after 1 failed att

[2022-07-13 07:31] simison commented on #42363
@mcsf @ellatrix could this and another similar issue in https://github.com/WordPress/gutenberg/issues/42365 popped up with changes in Rich text editing / text selections with more recent Gutenberg releases?

[2022-07-13 07:37] SaxonF opened #42388 "A themeable and scalable primitive system"
## What problem does this address?
As the editor expands in what it is capable of, so too will the complexity and density of its controls. The current UI language is quite heavy which can be distracting when faced with a dense panel of settings. There is also the ever present discussion of dark mode which is on its way to becoming expected in today's software.

## What is your proposed solution

I

[2022-07-13 08:03] #42310 closed, assigned to draganescu

[2022-07-13 08:16] scruffian commented on #42291
I suggested @adamziel add this as I was under the impression that themes shouldn't specifying their own block styles. However I was mistaken. I think @carolinan is right, this seems like a perfect case for themes to specify their own block styles.

[2022-07-13 08:16] #42291 closed, assigned to nobody

[2022-07-13 08:28] Mamaduka commented on #40791
@jameskoster, I was wondering if moving template part replacements into Block actions dropdown would make this modal obsolete.

P.S. Do we have mockups of how replacements should look in the block actions dropdown - https://github.com/WordPress/gutenberg/issues/40208#issuecomment-1180999591?

[2022-07-13 08:41] #40243 closed, assigned to ddryo

[2022-07-13 08:46] fluiddot commented on #38407
Updated the parent post with:

### 🛠️ Recently fixed or improved
++ [Add `react-native-fast-image` dependency (`FastImage` library)](https://github.com/WordPress/gutenberg/pull/42009)

[2022-07-13 08:51] goaround commented on #41078
@noisysocks Any chance to get the fix into WordPress 6.0.2? I thought it will be in 6.0.1 but unfortunately, it's not.

[2022-07-13 09:10] talldan commented on #41739
This issue also happens in other editors. I've worked on a fix for that - #42389.

I expected this to also resolve the issue in the customizer, but it seems now the Link Popover ends up off the other side of the sidebar 😱
![Screen Shot 2022-07-13 at 4 59 58 pm](https://user-images.githubusercontent.com/677833/178696160-cb4c9762-0fb9-41cf-965b-1a3842f10ae3.png)

I think it should overflow the sideb

[2022-07-13 09:29] Mamaduka commented on #42311
Fixed via #42317.

[2022-07-13 09:29] #42311 closed, assigned to carolinan

[2022-07-13 09:34] jameskoster commented on #39371
Given that our goal is to help people edit their site visually, my feeling remains that the range is the way to go. For folks who simply want to make their site look "just so" it seems like a far superior experience. And while it may not be optimal compared to a select, it does still communicate the values so that folks who need to interpret that level of detail can do so. Basically, it best satis

[2022-07-13 09:35] gziolo commented on #24376
PR to include the same details in the documentation: https://github.com/WordPress/gutenberg/pull/42390

It will be available at https://developer.wordpress.org/block-editor/reference-guides/packages/.

[2022-07-13 09:50] ntsekouras commented on #41575
Noting that site editor(iframe) has different handling/nuances from the post editor we need to take into account. The scroll update is an [example](https://github.com/WordPress/gutenberg/blob/trunk/packages/components/src/popover/index.js#L326).

[2022-07-13 09:51] t-hamano commented on #41712
I was able to reproduce this error on my test repository.

- [Repository](https://github.com/t-hamano/wp-scripts-memory-leak)
- [GitHub Action Result](https://github.com/t-hamano/wp-scripts-memory-leak/runs/7318406623?check_suite_focus=true)

Indeed, a memory leak does occur, but it still passes through the pipeline.
But I believe this is an error caused by the Node core and not a wp-scripts issue

[2022-07-13 09:58] tw-360vier commented on #41712
@t-hamano
The problem is not that it fails when it runs out of memory but that it does so with a zero exit code.

Because this means that no one notices that it failed and a following deployment step would deploy a broken build.

Increasing the memory does not solve that problem.

[2022-07-13 10:17] t-hamano commented on #41712
Do you mean that there is a way for npm scripts to catch memory leaks caused by node and return an arbitrary status code?

[2022-07-13 10:31] talldan commented on #41575
There is existing middleware that offsets the iframe position so that later middleware already has that offset:
https://github.com/WordPress/gutenberg/blob/f01f981c8934523b42531d1ddb03da4cf5cf45c9/packages/components/src/popover/index.js#L161-L182

I didn't notice any differences between the site editor and post editor, but let me know if you spot anything.

[2022-07-13 10:32] jameskoster commented on #42385
Big +1 from me on the idea of abstracting layout as a concept versus dedicated blocks like row/columns/group. I'm curious about the relationship with semantic blocks that require layout... things like navigation, social links, gallery. My assumption is that they would just 'support' `layout`, and users would find the same panel when working with those blocks.

How do you see fixed columns working

[2022-07-13 11:03] Lovor01 commented on #42277
I opened a trac with patch [#56184](https://core.trac.wordpress.org/ticket/56184), I hope it will be resolved soon?

[2022-07-13 11:09] jameskoster commented on #40791
Because we can't account for the appearance or quantity of headers I still think the modal makes sense.

Perhaps something like this could work:

<img width="434" alt="Screenshot 2022-07-13 at 12 09 24" src="https://user-images.githubusercontent.com/846565/178720191-874ad738-4bab-4f31-8691-d0075a48e09c.png">

[2022-07-13 11:23] tw-360vier commented on #41712
First off, let's keep the terminology straight:

The problem is not "memory leaks" (bugs that cause memory to be allocated but not freed up again)
but "JavaScript heap out of memory" situations where nodejs can't allocate any more memory.

In this situation i want the process to exit with an exit code that indicates a problem (exit code > 0).
With other scripts, this is possible. For example if i

[2022-07-13 11:28] ntsekouras commented on #41575
There are still discrepancies between the editors that we need to figure out to work well in all cases. One of the things that still puzzles me is why in site editor the block toolbar is limited in the block's limits and in post editor(screenshot) is having the more space..
<img width="840" alt="Screenshot 2022-07-13 at 2 24 22 PM" src="https://user-images.githubusercontent.com/16275880/178723113-

[2022-07-13 11:51] dennisheiden commented on #37930
- customizable burger and close icon
- adding text left / right to the icon

**Hint for everyone else looking for a solution now:**
Use CSS to hide the SVG inside the button and add your SVG e.g. via :before. Don't forget do add width / height dimensions to the button itself.

[2022-07-13 12:17] #40069 closed, assigned to Mamaduka

[2022-07-13 12:19] t-hamano commented on #41712
Thank you for your detailed explanation.
If `webpack` returns the correct error code, it means that `wp-scripts` could be able to return the same code.

@gziolo
If you have a good idea, please let us know 🙏

[2022-07-13 12:49] andreszs commented on #41739
**These grotesque GUI flaws could be expected from a Microsoft-owned website**, it's really sad to see them in Wordpress too. There's an alarming lack of testing of new features nowadays, who's rushing the WP team to add more and more features without proper testing?

[2022-07-13 12:58] gziolo commented on #41712
I have no idea, but clearly, the status code returned from the `spawn` call is incorrect:

https://github.com/WordPress/gutenberg/blob/5aa7baa040e24a1649f4809759b7c7fa2bfc21ad/packages/scripts/scripts/build.js#L30-L33

[2022-07-13 13:10] Mamaduka commented on #42285
Hi, @alexstine

I couldn't reproduce the issue using Chrome / MacOS. Are there any details I'm missing for reproduction?

[2022-07-13 13:13] richtabor commented on #39077
Can it only support PX?

[2022-07-13 13:25] amustaque97 commented on #41712
I'm not able to reproduce the issue. I'm getting the exit status code as `1`. Is it platform-specific? @t-hamano

Let me try it in the Ubuntu docker instance once.

Here is the screenshot for reference.
<img width="1082" alt="Screenshot 2022-07-13 at 6 51 27 PM" src="https://user-images.githubusercontent.com/21127788/178744012-c05429ae-b75b-4b65-957a-485703581b94.png">

[2022-07-13 13:27] ciampo commented on #42285
Hey folks, I'll keep an eye open for updates on this issue but at the moment I'm struggling to keep up with my notifications queue. I'll try to get to this one eventually, if no-one else can do before me.

[2022-07-13 13:30] t-hamano commented on #41712
Okay, my machine is Windows, so I will try it with Windows OS and WSL2 (Ubuntu).

[2022-07-13 13:47] alexstine commented on #42285
@Mamaduka I tested on Windows with Firefox. It may not be reproduceable on Mac.

[2022-07-13 13:49] vena commented on #41276
at some point, UnitControl appears to have broken the units value spec which uses an array of objects described in the documentation, and all units defined in such a way are treated as "px" with this step truncating.

https://developer.wordpress.org/block-editor/reference-guides/components/unit-control/
[code]

Both % and em values are rounded to an integer on blur when units are specified in this

[2022-07-13 13:50] amustaque97 commented on #41712
I found the issue.  In case of failure `status` value is `null`.  We need to handle it conditionally.

You can read more about it here: https://nodejs.org/api/child_process.html#child_processspawnsynccommand-args-options

Check the return values in the above link.

https://github.com/WordPress/gutenberg/blob/5aa7baa040e24a1649f4809759b7c7fa2bfc21ad/packages/scripts/scripts/build.js#L30-L33

Attach

[2022-07-13 14:14] afercia opened #42394 "Improve performance on Navigation view scripts"
### Description

Noticed while reviewing https://github.com/WordPress/gutenberg/pull/41986

In the navigation and submenu view.js there's room for performance improvements. See for example the [packages/block-library/src/navigation/view.js](https://github.com/WordPress/gutenberg/blob/58c78ec5200a38401281c14186095bced2f6f12a/packages/block-library/src/navigation/view.js#L36) file:

- The `load` eve

[2022-07-13 14:41] ghost opened #42397 "Filterable heading list in DocumentOutline component"
## What problem does this address?
I am building a block that contains headlines inside its output. I can detect its content and level by its block properties, but can't show up inside Block Editor's DocumentOutline component, cause we have no filter to extend the headings list by custom blocks or anything else.

## What is your proposed solution?
Inside the DocumentOutline component, we could wra

[2022-07-13 14:42] fabiankaegy commented on #42375
Here is an example of a PR where this caused friction: https://github.com/WordPress/gutenberg/pull/42276

You can see the failed static analysis GitHub Action here: https://github.com/WordPress/gutenberg/runs/7254588075?check_suite_focus=true#step:7:33

[2022-07-13 14:42] hellofromtonya commented on #41481
Thank you @desrosj for creating this POC in PR https://github.com/WordPress/gutenberg/pull/40556.

A lot of the functionality that is in the POC and currently in Gutenberg's implementation will be removed and/or changed as part of the [current vision in the ongoing roadmap](https://github.com/WordPress/gutenberg/issues/41479).

I have concerns about extending from `WP_Dependencies` to make it work

[2022-07-13 15:07] #24376 closed

[2022-07-13 15:19] MadtownLems commented on #8322
The ability to find existing Media Library files with the link creation UI is a huge help, but the ability to actually upload a new file from the Editor still seems like an absolute must-have.

Using a temporary File block to upload and get the UI is not really reasonable as a permanent solution, in my opinion. (Nor is telling people to open the Media Library in a new tab, or to be sure to go uplo

[2022-07-13 15:28] ciampo commented on #41575
I'm not understanding exactly what is the expected behavior — in particular this point here:

Here's my reasoning: if, when there's not enough space at the top of the editor canvas, the popover [flips](https://floating-ui.com/docs/flip) (and therefore moves below the block), why does it also need to [shift](https://floating-ui.com/docs/shift)? The flip should already fix the "not enough space at t

[2022-07-13 16:10] kathrynwp commented on #38043
I am still able to replicate this with:

WP 6.0.1 - local install
No plugins active
Twenty Seventeen 3.0

![Self-hosted_Test_–_not_just_another_fake_company](https://user-images.githubusercontent.com/7662449/178780755-ea9191fa-6653-4556-b599-ca5d85d085a1.jpg)

[2022-07-13 16:15] mrwweb commented on #39371
@jameskoster

It seems like both options do that in the newest demo  since interacting with both controls previews the padding in the editor. Both are also similarly compact (nice work, @glendaviesnz!). To be honest, I'm personally surprised by how much I like the `select` version. @cbirdsong Mentioned the font size UI as an interesting one that exposes all the options with a single click when the

[2022-07-13 16:34] davidwebca commented on #20797
Curious to know if there's an ETA on this? I remember following this issue to get notifications about this conversation and there's still lots of specificity issues with CSS added to the admin, especially with FSE, that makes it very frustrating for theme devs.

[2022-07-13 16:46] mwaterous commented on #38299
I can't wrap my head around why anyone thought this, of all things, was a thing that should be automatically enabled, let alone in core at all.

The ethos used to be "that belongs in a plugin or a theme!" and you had to prove prove prove why it belonged in core. Now we have duotone SVGs in core.

[2022-07-13 16:48] Addison-Stavlo opened #42398 "Button Block Global Styles for Font Family overrides individual block setting."
On current Gutenberg `trunk` branch with Twenty-twenty-two theme (reproduced on other themes as well), the Block specific global styles "font family" setting for the Buttons block overrides the individual block inspector settings.

## Steps to Reproduce

* Go to Global Styles -> Blocks -> Button -> Typography. Set a font family.
* Go to an individual button block and try to set a different font fa

[2022-07-13 16:52] cbirdsong commented on #39371
This seems like a great argument for just using a select-style interface, especially if the editor can live update on hover for each value like @glendaviesnz described above.

[2022-07-13 17:09] mirka commented on #41276
I'm not sure I follow about the spec having changed, but please do open a PR or issue if you think the docs can be improved. Is this specifically about the `step` property not being documented? I do think the example in the readme would be easier to understand if the units were more clearly "custom", like the ones in the [Storybook example](https://wordpress.github.io/gutenberg/?path=/docs/compone

[2022-07-13 17:20] desrosj opened #42400 "More conservative number of retry attempts for failed requests"
### Description

While testing to see if [Core-13779](https://core.trac.wordpress.org/ticket/13779) was still happening in WordPress 6.0, I found that it was, and actually causes potentially greater problems in the block editor.

TLDR of that ticket: When the WordPress files are in a directory and a site is set up to run as such (site.com/wp) and the site is changed to instead be visible from the

[2022-07-13 17:33] vena commented on #41276
Well, I'm not sure. If you implement the example I copied above from the developer.wordpress.org docs, both the % and em units are rounded on blur to an integer (so, i suppose, step: 1). It seems odd that % and em are treated as "custom" rather than inheriting properties they're missing, but this seems like a recent change. I have blocks using UnitControl with units defined similarly which did not

[2022-07-13 17:38] jameskoster commented on #39371
I just meant that they have been in production for a long time and are an established pattern within the block editor UI. Range inputs are new, and would need to be tested, refined, and perhaps even reverted if they do not prove to work well for everyone. It's easy to do this in the Gutenberg plugin.

The way I see it, we have the opportunity to try something which might be better for the majority

[2022-07-13 17:54] alexstine commented on #39371
One thing I have noticed recently in Gutenberg as a whole is this talk of "better for the majority". I just want to point out as someone with an actual disability who contributes to Gutenberg, we better not keep going that direction or else we could slip down a dangerous slope. I have lost too much context from this thread because I cannot see and there are too many designs and screenshots floatin

[2022-07-13 18:06] mirka commented on #41276
@ciampo Do you remember if the `units` prop ever "inherited" unit properties from [`allUnits`](https://github.com/WordPress/gutenberg/blob/d0973e7bf7b180eaf1ed41595e20aaebe504d5c6/packages/components/src/unit-control/utils.ts#L14)? Nothing in the current code suggests that kind of intent or behavior 🤔 The closest I can find is [`getUnitsWithCurrentUnit()`](https://github.com/WordPress/gutenberg/bl

[2022-07-13 18:17] joedolson commented on #39371
We all need to remember that "better for the majority" is not a good goal in and of itself; it always needs to be balanced against the potential of harm to the minority. A feature that improves the experience for 90 percent of users but makes it worse for the remaining users is a bug.

We'd call it a catastrophic bug if we introduced a fatal error that only impacted 1 percent of installations; we

[2022-07-13 18:44] georgeh commented on #27720
I have tried to recreate this in Twenty Twenty, Twenty Twenty One, TT1 Blocks, and Twenty Twenty Two with embed blocks for Spotify and YouTube. In all cases, there was no extra space under the embed blocks. I tested in the editor and the published page, and did not see this display bug.

Firefox Developer 103.0b2, macOS, Gutenberg `trunk` branch d0973e7b

<details>
<summary>Screenshots:</summary>

[2022-07-13 18:45] javierarce commented on #42325
Much better. I also like the descriptions on top. Maybe we could also add one for the Base category. Something like: "Base templates are used to display main sections of a site, like Search or Archive pages".

[2022-07-13 20:06] matiasbenedetto opened #42404 "core/site-title block: styles should be applied to anchor element when the block is displayed as a link"
### Description

There are some styles from core/site-title as `text-decoration` that can be duplicated or impossible to override when core/site-title block is displayed as a link instead of a h1.

### Step-by-step reproduction instructions

1. Activate emptytheme to discard other styles collisions.
2. Add these settings to your theme.json:
[code]
3. Check the site title block of your site, it wil

[2022-07-13 21:06] ciampo commented on #41276
I don't think so — from what I know, I've never seen `units` "inheriting" from `allUnits`.

That behavior / utility function was introduced in #34768 — but it looks like even before that PR, the general behavior of the `units` prop still didn't include inhering from `allUnits`(cc'ing @andrewserong who worked on that original PR in case I'm missing anything).

That could well be the case, good thin

[2022-07-13 21:10] vena commented on #41276
i'd say it's less that it inherited anything, more that it's only recently we've seen UnitControl with a units prop defined like the developer.wordpress.com doc examples rounding the units we often use floats with, like em/rem/%

[2022-07-13 21:14] annezazu commented on #42333
@markhowellsmead seems to correctly cover this use case. Can we close this out and link to https://github.com/WordPress/gutenberg/issues/41431 instead by chance?

[2022-07-13 21:39] #41882 closed, assigned to mirka

[2022-07-13 21:59] #42337 closed, assigned to ntsekouras

[2022-07-13 22:04] mateuswetah commented on #42190
Nice to know these details @aristath.

I personally don't get why the error occurred with my client since she was downloading the font file from Google Fonts itself... But I also agree that it is a nice thing to have _by default_. Would just be good to have a filter or something like that to either remove it or change the name passed to the `local()`

[2022-07-13 22:18] iamleese commented on #25188
It seems this issue has been resolved, for the most part. I was able to create multiple blocks using this method stated by @ryanwelcher.

The block registrations in the .php file just needs to point to the correct build directory.

`function create_block_root_init() {
	register_block_type( __DIR__ . '/build/block-one' );
        register_block_type( __DIR__ . '/build/block-two' );
}`

The document

[2022-07-13 23:48] andrewserong commented on #42333
Sure thing, I couldn't tell immediately from reading #41431 if it was the same use case (the desire to opt-out of blockGap styles for the column block altogether), but yes, it seems to be a double-up (or at the very least, best to consolidate the discussion and potential fix on the one issue).

Thanks for reporting this one @grappler (and for linking to the earlier issue @markhowellsmead)! I've up

[2022-07-13 23:49] #42333 closed, assigned to nobody

[2022-07-14 00:01] andrewserong commented on #41431
Just adding a bit of background / context surrounding using fixed values for block spacing / gap instead of CSS variables. The shift away from using CSS variables for gap was started in #37360 to resolve subtle issues of conflicts between blocks (and cascade) when using CSS variables for the gap value. More recently, a refactor of the Layout support has been merged (in https://github.com/WordPress

[2022-07-14 00:01] andrewserong commented on #42333
I've added a follow-up comment in https://github.com/WordPress/gutenberg/issues/41431#issuecomment-1183794924 — let's continue the discussion over there!

[2022-07-14 00:48] noisysocks commented on #41078
I think it's best to wait until WordPress 6.1 to release this as the fix is not trivial (there are some Core changes that need to be applied at the same time) and the bug is not a recent regression.

[2022-07-14 00:55] noisysocks commented on #39312
There's a technical limitation at play here which is that WordPress doesn't store the creation date of a post. What might work instead is if we instead show information about the earliest revision on record and the latest revision on record. I think it would be best to explore this as part of Phase 3 since this sort of information is essential when doing collaborative editing.

[2022-07-14 01:04] noisysocks commented on #39082
**Update**

The new designs for all popovers (_Visibility_, _Publish_, _URL_, _Template_) have been implemented and are live in the Gutenberg plugin.

Work is underway on adding new UI for _Featured image_, _Title_ and _Excerpt_ in https://github.com/WordPress/gutenberg/pull/42352.

Work is underway on rehoming the _Mark as pending_, _Revision history_ and _Trash post_ buttons in https://github.co

[2022-07-14 01:43] andrewserong commented on #42385
Fascinating exploration, thanks for sharing the great interactive demo, too!

For a bit of context surrounding the Group, Row, and Stack blocks — they're all the one Group block, but use the block variations API to be exposed as different conceptual blocks in the editor, based on their layout settings. At the moment the Group block appears to be the canonical container block in the editor, and it

[2022-07-14 02:09] talldan commented on #41575
@ciampo It seems as though the shift behavior I described happens in the post editor. Try the Gutenberg Demo post as the easiest way to test:

https://user-images.githubusercontent.com/677833/178882309-47cd8c7e-972b-4d88-8118-9fb91f6f5f06.mp4

That's the way it has worked for quite a while. The `flip` thing was only introduced for the site editor when it became possible to have blocks close to the

[2022-07-14 02:44] #42003 closed, assigned to talldan

[2022-07-14 02:48] carolinan commented on #42404
Can we assume the same goes for other linked items like post title?

[2022-07-14 02:50] carolinan commented on #42339
Related, but I thought this was expected, so I closed the issue: https://github.com/WordPress/gutenberg/issues/34216

[2022-07-14 02:58] tellthemachines commented on #42385
Thanks for sharing these thoughts!

One thing we need to account for is responsive behaviour. In the current Columns block, that manifests as a “Stack on mobile” setting, but also in the ability to set fixed widths in px units, and unset width altogether so that a column can take up the remaining space. This allows us, for example, to build classic fixed sidebar/responsive content area layouts.

I

[2022-07-14 03:03] annezazu opened #42407 "Cover block: changes to zoom ratio in previously created blocks using fixed background"
## Description

Currently, I'm seeing reports about users who had previously set up Cover blocks are now finding that the amount an image is zoomed in on has changed by zooming in further on an image than before. The first report of this happened 15 days ago as you can see here in this public repo: https://github.com/Automattic/wp-calypso/issues/65042 Reporting this here since oddities can be repl

[2022-07-14 04:11] Mamaduka commented on #37387
It was fixed via #39625.

[2022-07-14 04:11] #37387 closed, assigned to nobody

[2022-07-14 04:17] mirka commented on #42095
Good question. What I understood from https://github.com/WordPress/gutenberg/pull/42118#issuecomment-1175921129 is that, users of **speech recognition** software (not **screen reader**) need to know the actual name of the form element so they can use voice commands to navigate to it. So even if they can visually perceive that a control is for the top border, and even if it's accessibly labeled, th

[2022-07-14 04:22] aaronrobertshaw commented on #42095
Thanks for the explanation. Updating the `BorderBoxControl` PR https://github.com/WordPress/gutenberg/pull/42351 with feedback from https://github.com/WordPress/gutenberg/pull/42348 is on my todo list today or tomorrow, so I'll take a run at adding the Tooltips as part of those efforts.

[2022-07-14 04:29] annezazu commented on #42407
Digging into this more, I think the root cause is when using a very large image. When using Gutenberg 13.6 with WordPress 6.0.1, the image is zoomed in far more when using something 5000px wide vs 1500px wide:

- Large image: https://cloudup.com/c5Uwi07_2q1
- Small image: https://cloudup.com/c-_vZOGvCWY

If I deactivate Gutenberg 13.6, it works as expected. Of note too, when switching between turn

[2022-07-14 04:33] costdev commented on #42407
Testing on Gutenberg 13.6.0, 13.5.0, 13.4.0, and 13.3.0, the bug appears from 13.4.0 onwards.

Reviewing [the changelog for 13.4.0](https://github.com/WordPress/gutenberg/releases/tag/v13.4.0), the Cover block is touched by [40554](https://github.com/WordPress/gutenberg/pull/40554).

[2022-07-14 04:46] glendaviesnz commented on #42407
Thanks @costdev, #40554 looks like it could be it as it makes some changes to how the focal point is set it seems, will take a closer look.

[2022-07-14 05:04] github-actions[bot] opened #42410 "[Flaky Test] should show the publishing date if the date is in the future"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should show the publishing date if the date is in the future

## Test path
`specs/editor/various/datepicker.test.js`

## Errors

<details>
<summary>
	<time datetime="2022-07-14T05:04:06.860Z"><code>[2022-07-14T05:04:06.860Z]</code></time> Test passed after 1 failed attempt o

[2022-07-14 05:09] annezazu commented on #42407
Ya'll are the best. Thank you ❤️

[2022-07-14 05:33] glendaviesnz commented on #42407
Looks like the issue is that #40554 is adding a background position, eg. `style="background-position:50% 50%;background-image:url(...)"` whereas prior to this change the image had no position set, eg. `style="background-image:url(...)"`.

I am not going to have time to look at this further today, but can pick up again tomorrow - @matiasbenedetto or @ajlende you have any thoughts on whether we can

[2022-07-14 05:33] #38606 closed, assigned to nobody

[2022-07-14 05:36] andrewserong commented on #41276
That's my understanding, too @ciampo — I don't think there was ever any merging of missing properties in the `units` array.

[2022-07-14 06:38] Mamaduka commented on #42400
Probably related to #13509.

[2022-07-14 06:52] pooja-muchandikar commented on #34963
Hi Team,

Following up on this ticket, is there any update on this?

[2022-07-14 06:54] carolinan commented on #42398
I was able to confirm this.
The global style is applied to the link, wp-block-button__link.
The block style is applied to the wrapping div with a class name:
`<div class="wp-block-button has-monospace-font-family"><a class="wp-block-button__link wp-element-button">blah blah</a></div>`

[2022-07-14 07:13] carolinan commented on #16627
Still reproducible with 13.7.0-rc.1 if I select the text with the mouse and delete it.
If I place the text marker after the linked text and use backspace, the link is also deleted.

[2022-07-14 07:38] #41712 closed, assigned to amustaque97

[2022-07-14 07:40] gziolo commented on #41712
#42396 should fix this issue. We missed the window for npm publishing that happened yesterday, so it should be available on npm in 2 weeks.

[2022-07-14 07:55] markhowellsmead commented on #41431
Thanks for the explanation @andrewserong. The rabbit hole on this is too deep to follow; there are so many open, partially-merged and as yet unaddressed issues with core CSS, inheritance and specificity that it's all but impossible to debug until the next resolved version lands in public core. It's currently impossible to know what the next release will contain, and which of the many CSS problems

[2022-07-14 07:57] tw-360vier commented on #41712
Thank you very much for your help!
Soon i will be sleeping better knowing our pipelines will fail when they should. :zzz:

[2022-07-14 08:12] aaronrobertshaw commented on #41799
Hi @carolinan 👋

You might be interested in some of the current efforts to [improve the accessibility of the border controls](https://github.com/WordPress/gutenberg/issues/42095). In particular, some of the friction you've experienced might be lessened by the addition of a tooltip to the border control's color dropdown button via https://github.com/WordPress/gutenberg/pull/42348.

Originally, the

[2022-07-14 08:28] mirka opened #42414 "Storybook: CSS resets intended for the Block Editor Playground are leaking"
The [CSS reset file](https://github.com/WordPress/gutenberg/blob/trunk/storybook/stories/playground/reset.scss) intended for the [Block Editor Playground story](https://wordpress.github.io/gutenberg/?path=/story/playground-block-editor--default) is not sufficiently scoped, therefore leaking into all other component stories. This doesn't allow us to check if a component's styles are sufficient in i

[2022-07-14 08:29] carolinan commented on #13275
I have not been able to reproduce this with other types of embeds.

The end point for the video, linked above, says that the height is 720 which matches the result in the editor and the front.

`{"version":"1.0","type":"video","provider_name":"media.ccc.de","provider_url":"https://media.ccc.de","width":600,"height":720,"title":"Introduction to Deep Learning","author":"teubi","thumbnail_url":"https

[2022-07-14 08:34] getdave commented on #42299
Whilst I recognise the need for this, I really don't think we should be using the pseudo selector syntax. AFAIK `:current` is not a valid CSS pseudo class. I feel we should reserve the `:{selector}` syntax for valid selectors only.

If we want to style current we should consider an alternative syntax.

[2022-07-14 08:40] carolinan commented on #14861
I wonder if this should be closed in favor of #15636 which seems to be root cause?

[2022-07-14 08:44] carolinan commented on #14874
I am unable to reproduce this following the provided instructions, the latest posts blocks displays correctly.
(The setting is now labeled "Hide the excerpt on the full content page")

[2022-07-14 08:44] #14874 closed

[2022-07-14 08:49] carolinan commented on #14074
The list style type in editor and front matches, and I believe that is the expected result.
My personal opinion is that it is more important that the views match, than that one view matches the browser defaults.

[2022-07-14 08:49] mirka opened #42415 "Components: Some components are missing `box-sizing` reset styles"
## What problem does this address?

#42294 surfaced two problems:

- Pages in wp-admin generally don't have `:root`-level [`box-sizing` resets](https://github.com/WordPress/gutenberg/blob/88e911e717004f30316aa214140a121a0451a1ac/packages/base-styles/_mixins.scss#L374-L382). In fact, the resets are applied on [specific sections](https://cs.github.com/WordPress/gutenberg?q=%22%40include+reset%3B%22)

[2022-07-14 09:01] davidwebca commented on #36135
I just encountered this issue by enabling the align feature for the first time since 6.0. I'm having even more specificity than that here with a CSS selector of 050.

I'm genuinely curious as to how this ends up passing review. Is there no one in core developing themes with actual code anymore? Who wrote this horrendous function that generates inline CSS for every block? Why is this even a thing?

[2022-07-14 09:11] jameskoster commented on #39371
@alexstine as you quoted me I feel the need to clarify; by 'majority' I am referring specifically to technical expertise, not any physical ability. I do not think there should not be any significant trade-offs in that regard.

[2022-07-14 09:14] ajlende opened #42416 "Categories block has incorrect name in block editor tooltip"
When adding a categories block in the block editor, the name of the block shows "Post Terms" instead of "Categories" in the tooltip.

<img width="816" alt="Screen Shot 2022-07-14 at 11 07 58 AM" src="https://user-images.githubusercontent.com/5129775/178947239-63dd4b0e-c95c-4944-9753-1fc64180dc30.png">

[2022-07-14 09:23] MaggieCabrera commented on #42295
Looks like it was my environment! closing

[2022-07-14 09:23] #42295 closed, assigned to nobody

[2022-07-14 09:25] Azragh commented on #36135
I could understand the idea behind generating inline-styles for blocks with different settings than default, but I don't get this:

![image](https://user-images.githubusercontent.com/15014142/178947698-ce1a7d86-6c06-4d4b-b9ac-2785300404ba.png)

Isn't it possible to disable this, but still being able to use group blocks, margin and padding? I mean alignment classes exist in my themes (and in any ot

[2022-07-14 09:28] markhowellsmead commented on #36135
@Azragh @davidwebca See https://github.com/WordPress/gutenberg/pull/40875.

[2022-07-14 09:52] MrJnrman opened #42419 "wp-env doesn't use WP_TESTS_EMAIL nor WP_TESTS_TITLE from .wp-env.json"
### Description

According to the [documentation](https://github.com/WordPress/gutenberg/tree/trunk/packages/env#default-wp-config-values), I should be able to define my admin email and blog title per environment using `WP_TESTS_EMAIL` and `WP_TESTS_TITLE` respectively. This is not the case in practice. The blog title will default to the parent folder from which `wp-env` is called and the admin em

[2022-07-14 10:03] getdave opened #42420 "Add inline docs on generating API docs to block API verify error"
If you add an attribute to a block and then commit there is an error which asks you to update the Core Blocks docs and stage them. There is however no information provide on _how_ to update the docs.

The requisite command is: `npm run api-docs:blocks`. We should add that instruction into the error message so folks don't have to look it up.

The error is in: `bin/api-docs/are-api-docs-unstaged.js`

[2022-07-14 10:13] #34737 closed, assigned to Mamaduka

[2022-07-14 10:13] #41437 closed, assigned to Mamaduka

[2022-07-14 10:49] getdave commented on #42299
[Information I found](https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-classes) says:

I don't think that the currently selected Navigation element has "timing" in the sense the spec suggests. Have you seen a usage in the wild where `:current` is used in the context of Navigation?

[2022-07-14 10:55] jameskoster opened #42425 "Move template part replacement flow to the transform menu"
The template part replacement flow is currently initiated from the ellipsis menu on the block toolbar.

<img width="514" alt="Screenshot 2022-07-14 at 11 50 55" src="https://user-images.githubusercontent.com/846565/178966264-ca3beb87-8d76-4387-942b-5d119260aafb.png">

Conceptually this is closely related to transforms, and so could be moved to that menu instead, something like:

<img width="514" s

[2022-07-14 11:11] mcsf commented on #42363
Intuition tells me it isn't RichText (but Ella will know better), but Popover would be more likely. Could you regression-test against #40740?

[2022-07-14 11:12] hz-tyfoon commented on #42032
I think this issue should be closed as It's fixed by #42073

[2022-07-14 11:13] #42032 closed, assigned to nobody

[2022-07-14 11:18] wpsoul commented on #38673
I want to add that problem becomes more and more annoying because Wordpress has FSE priority in all updates. But still, we have no hooks, no functions to inject something inside FSE iframe.

For example, I also found that all hooks for [Plugin for Sidebar](https://developer.wordpress.org/block-editor/reference-guides/slotfills/plugin-sidebar/) is not working in FSE. And We also can't inject someth

[2022-07-14 11:19] Smit2808 commented on #41939
I have created another PR as per the reviewer's comment. PR link: https://github.com/WordPress/gutenberg/pull/42426, Please review it.

[2022-07-14 11:24] mikachan commented on #7551
This is another issue that probably needs to be transferred to here: https://github.com/WordPress/gutenberg/issues/42297

[2022-07-14 11:43] ajlende commented on #42358
@kathrynwp sorry for not responding sooner. We wanted the categories list block to list the top six categories in our sidebar.

@getdave and I worked on #42424 which adds controls similar to the Latest Posts block to sort by count and limit the number of items.

[2022-07-14 12:16] javierarce commented on #39312
Fine for me

[2022-07-14 12:19] scruffian commented on #42299
I don't think its necessary for theme.json syntax to match the CSS spec. theme.json is an abstraction of CSS into a system that Global Styles understands, so it's totally valid for us to implement things in a way that works for block themes, even if it doesn't map perfectly into to the CSS spec.

@mtias

[2022-07-14 12:54] afercia commented on #42373
Updating the issue title as the problem applies to the whole site editor.

[2022-07-14 13:17] ellatrix commented on #40768
@annezazu In my testing the it works as expected now. Feel free to reopen if I'm mistaken.

<img width="358" alt="Screenshot 2022-07-14 at 15 16 24" src="https://user-images.githubusercontent.com/4710635/178991249-e75bfe4d-dbb0-4641-a637-ef430ea163f8.png">

[2022-07-14 13:17] #40768 closed, assigned to nobody

[2022-07-14 13:28] kathrynwp commented on #42358
Thanks, @ajlende. When you say "top six categories" are you referring to the categories with the most published posts, or some other way of ranking the categories?

[2022-07-14 13:36] t-hamano commented on #42313
Hi @mikachan,
I examined `theme.json` and found that the following two elements are not defined.

- `heading`: #41981
- `caption`: #41140

#42433 is the PR for the solution 👍

[2022-07-14 13:41] cbirdsong commented on #39371
This seems like a separate issue we don't necessarily need to tangle up with adding spacing presets? Range inputs seem like a more natural fit for 100 point scales like adjusting the size of column blocks, so it might be best to test one in that context first.

[2022-07-14 13:43] cbirdsong commented on #39077
I imagine the issue is that Javascript natively [only understands pixel sizing when querying an element](https://developer.mozilla.org/en-US/docs/Web/API/CSS_Object_Model/Determining_the_dimensions_of_elements)? I've seen attempts at creating a function that will convert pixels to rems and ems, but I haven't used them extensively and I imagine the em one would be very convoluted.

It _is_ very irr

[2022-07-14 13:43] Mamaduka commented on #40791
@jameskoster, do we want to hide SearchComponent if there're fewer than X items (#42337)?

[2022-07-14 13:51] joyously commented on #14861
Both issues state the root cause and this one has a lower number...
The other issue is blaming `wptexturize`, when this issue specifically says that it is not.

[2022-07-14 13:55] sweber83 opened #42434 "Nested usage of RichText component"
## What problem does this address?
We have a use case, where we need to render a nested instance of the RichText component inside the Edit component of a custom rich text format.
Trying to select such a nested RichText instance causes it to disappear immediately, because the selection changes to the nested instance, which causes the outer instance to stop rendering the FormatToolbar component, whe

[2022-07-14 13:59] drdogbot7 commented on #36135
This is speculation, but I think there's 2 reasons.

(1) The core team are VERY focused on Full Site Editing.

They're looking at these containers in _that_ context and thinking that this is a unique, one-off layout element (e.g. a site header or footer), therefore these janky, oddly-specific internal stylesheets aren't a big problem… there's not gonna be like 15 of them on a page right?  Right??

[2022-07-14 14:25] jameskoster opened #42436 "Consider consolidating Editor view options"
Today I noticed that the editor option 'Spotlight mode' appears in two locations; the 'View' section of the Editor ellipsis menu, and the editor preferences modal:

<img width="339" alt="Screenshot 2022-07-14 at 15 18 12" src="https://user-images.githubusercontent.com/846565/179004283-d01a4bea-b569-4eab-ba97-a91eba635408.png">
<img width="747" alt="Screenshot 2022-07-14 at 15 18 25" src="https://u

[2022-07-14 14:29] jameskoster commented on #40791
Good question. I don't know if it's so important to hide the search component here... if the previews happen to be very tall, you may still want to search to avoid scrolling, even if there are only a few options.

[2022-07-14 15:09] desrosj commented on #41479
One thing that's been bugging me is that I feel like "Webfonts" is wrong when I read it. I did some searching around, and my findings seem to point towards "Web fonts" as the preferred way to refer to this. I know this is a nit, but I think it's important to get it right and be consistent. here are some authoritative pages I found pointing to Web Fonts:
- [Caniuse](https://caniuse.com/?search=%40f

[2022-07-14 15:16] desrosj commented on #41481
Thanks for looking at my proof of concept! I have some follow up questions to get some clarifications.

It's true that font faces do not depend on one another, but that's not how my proof of concept works. A font family gets registered with no source URL (which means it is an alias), and then the variations of each font are registered as dependencies of that alias. This practice has been in place

[2022-07-14 15:31] jorgefilipecosta commented on #42343
The problem comes from patterns having names and are not named "pattern" so when we search by name description etc "pattern" is not found. When we search for block some blocks appear just because they have "block" in their description.

I'm not sure the best solution here. Should we hardcode a special case for "pattern" search? In that case we should also hardcode for substrings like "patter"? If

[2022-07-14 15:45] jameskoster commented on #42343
That potentially seems a bit heavy-handed. A user might not want patterns depending on the task at hand. Anecdotally I find it kind of annoying how the root-level quick inserter sometimes doesn't show me blocks despite searching for it explicitly.

If there was a way to make the guesses appear when someone searches explicitly for 'pattern' that could be good, but it might be simpler to just redire

[2022-07-14 15:51] jameskoster opened #42439 "Site Editor Quick Inserter: Search results can be unpredictable"
Searching in the Site Editor Quick Inserter produces unpredictable results. Please observe the video below for an example:

https://user-images.githubusercontent.com/846565/179023884-67745f19-eec6-40b6-ad39-e2bbbdb292de.mp4

If you search for a block by name, _sometimes_ that block will be returned as an option, other times not. There doesn't seem to be any consistency with regards to when only pa

[2022-07-14 16:12] paaljoachim commented on #42343
Instead of the "No results found." (which is not helpful) adding some kind of general guide to help the user along the next step can help.

This would mean any time the "No results found." shows up we can have a specific guide show up.
Like a general placeholder that can mention blocks, patterns etc.

I am thinking something along the lines of this:
![No results](https://user-images.githubusercont

[2022-07-14 16:28] luisherranz commented on #41547
Thanks, Alec.

**Post type context**

It would be easy to achieve with descendant block styles/settings just by creating a new template for each post type, adding a Group block at the top, and configuring the `theme-json` overrides there.

Templates themselves [could also do `theme-json` overrides](https://github.com/WordPress/gutenberg/issues/27233), which would be even more straightforward for t

[2022-07-14 16:48] paaljoachim commented on #42325
I agree! Tabs is an interesting way of splitting up the long list!
Looks like this issue is going along a good path!

Regarding descriptions. As in the Base tab area. One can see a description below each option. It would be helpful to continue doing so in the other tab screens as well. As a description for each option can be very helpful to have.
A general description in the top is also good to in

[2022-07-14 17:17] hellofromtonya commented on #41481
Thanks for the feedback @desrosj. I'll answer this part today and will think on the others.

Theme specified fonts can be changed through the Global Styles Typography interface. For both of scenarios, a company or site admin could customize through a plugin and then select which to apply to the different typography needs.

[2022-07-14 17:46] annezazu commented on #40768
Woohoo! I just did a quick test and can confirm it's now working too. Leaving closed.

[2022-07-14 18:31] matiasbenedetto opened #42441 "Post title block: post editor always render post title as H1"
### Description

In the template editor, you can change the tag used to render the post title but when you go to the post editor this change is not applied. The title always renders as h1, no matter which option you selected in the template editor.

### Step-by-step reproduction instructions

1. Go to the template editor
2. Edit the single post template
3. Change the post title element from h1 to

[2022-07-14 18:43] chrisvanpatten opened #42442 "Issues mocking @wordpress dependencies in unit tests when using wp-scripts"
### Description

While using `wp-scripts` to run unit tests of a block, I've encountered an issue with mocking `@wordpress/data` dependencies. For instance I would expect the following to allow me to mock `useSelect`:

[code]

However, running the test returns the following error:

[code]

The [configuration in my test case](https://github.com/chrisvanpatten/wp-scripts-unit-test-case/blob/main/jes

[2022-07-14 18:50] danielbachhuber commented on #42170
Great! I've updated the issue description accordingly.

[2022-07-14 19:12] eric-michel commented on #30724
@annezazu

This is something that needs some serious attention. I've agitated about this a lot and I imagine folks are probably getting tired of me commenting on it so frequently, so I'll link these two threads that contain a lot of ideas and feedback about this issue:

- https://github.com/WordPress/gutenberg/issues/33374
- https://github.com/WordPress/gutenberg/issues/36082

This issue is single

[2022-07-14 19:42] ciampo commented on #42415
I'm also not exactly sure about how this issue hasn't been flagged before 🤯

Sounds good. In SCSS files, I would also add a comment pointing at that Emotion equivalent mixin for when the component is refactored to CSS-in-JS ?

Sounds good on paper — in practice it may need a bit more investigation, in case this change causes any regressions.

Sounds good

Not sure about this — I'm a big fan of con

[2022-07-14 19:43] ciampo commented on #42414
😱

[2022-07-14 19:47] eric-michel commented on #38719
I know there's been general agreement that improvements are needed, but it's been 6 months since this issue was raised and, for the most part, there hasn't been a ton of improvement. Below is the CSS output from WP on a sample page of one of my test sites that simply has 11 columns blocks on it:

<details>
<summary>Look at this</summary>

[code]

</details>

Just to pick a property definition at r

[2022-07-14 19:51] markhowellsmead commented on #38719
There are notable improvements already merged in https://github.com/WordPress/gutenberg/pull/40875.

[2022-07-14 19:59] annezazu commented on #30724
Hey @eric-michel - thanks so much! I'm very much aware of those other issues but I appreciate you linking to them and for your efforts to chime in in various places. Of the ones listed, if I were to mark one with the Blocking Adoption label, which would you pick? I'd like to make sure either clarity or a way forward is provided regardless of any solutions (I love to know if something is a "won't f

[2022-07-14 20:00] ciampo commented on #41575
As stated before, I am not experience in working on the site editor or the post editor, and I'm not very experience with the `Popover` component either (especially after its refactor) — but here's some thoughts on how we could move forward:

- I think that, as the first step, we should debug and find out the reason why the component [behaves differently](https://github.com/WordPress/gutenberg/pull

[2022-07-14 21:01] annezazu commented on #42277
@gziolo perhaps you might have some insights here?

[2022-07-14 21:05] danielcostadev commented on #38637
**Solution:** Windows (Chrome) CTRL + Shift + V (Paste as plain text)

[2022-07-14 21:08] eric-michel commented on #30724
@annezazu thank you so much for the links! It can be easy for me to miss some posts that may address my concerns already so I will definitely dig into those soon.

If it were up to me, I'd probably mark https://github.com/WordPress/gutenberg/issues/33374 as `Blocking Adoption` as it has the most conversation outlining the scope of the problem and how it's affecting theme developers.

However, http

[2022-07-14 21:17] eric-michel commented on #38719
Thanks @markhowellsmead! I will definitely take a look and try them out. Will be really glad to see some progress.

[2022-07-14 22:32] RenanLukas opened #42443 "[Video block] Showing the play button after inserting URL that doesn't exist"
## Description
When inserting a URL that doesn't exist to the video block, the play button can still be tapped (but nothing loads, since the URL doesn't exist).

## Step-by-step reproduction instructions

1 - Open a post or a page
2 - Add a video block
3 - Select the option "Insert from URL"
4 - Insert a URL that doesn't exist (e.g. `https://www.thisisnotavalidurl.com.br`) and tap "Apply"
5 - Obse

[2022-07-14 22:48] pablohoneyhoney commented on #42388
I'm not entirely sure how the above progresses what's currently up, to be honest. There are a lot of mixed details in the UI, and challenges with a11y. The breadcrumb isn't an ideal application in such a constraint space, and the compressed elements is overwhelmingly tight and make many UIs clash.

Aligning the uppercases could be a specific task to look at.

And the dark mode could be interesting

[2022-07-14 23:41] adamwoodnz commented on #42253
@draganescu I tried running 13.7.0 RC in my wporg sandbox, but wordpress.org still doesn't get this inline style rule like the gutenberg dev environment does when running at that tag:

![Screen Shot 2022-07-15 at 11 38 03 AM](https://user-images.githubusercontent.com/1017872/179118794-1feb9f9e-65fb-458c-ab7a-5f8fff7c2b3a.jpg)

Do you know how these styles get generated and how we might hook into g

[2022-07-14 23:45] mikachan opened #42444 "Navigation: styles for textDecoration on nav links are too specific"
### Description

The following CSS for handling `textDecoration` on navigation block links is too specific:

[code]

This prevents links inside the navigation block from being underlined by default. However, this should not take precedence if we set the global links to be underlined.

### Step-by-step reproduction instructions

Add the following to a theme.json file, under `styles.elements.link.ty

[2022-07-14 23:51] adamwoodnz commented on #42253
I can see code that looks like it would produce what's shown above here https://github.com/WordPress/gutenberg/blob/trunk/packages/block-editor/src/components/iframe/index.js#L105

[2022-07-15 00:28] SaxonF commented on #42388
@pablohoneyhoney This is just the start of the conversation so of course we can iterate and explore other options. Maybe a better starting point is looking at how our editor compares against other site builders and design tools, some of which are WordPress builders.

![image](https://user-images.githubusercontent.com/1072756/179123156-9554f912-16dd-4323-8a1e-6aa7e246adc1.png)

My concern right now

[2022-07-15 00:43] glendaviesnz commented on #42407
@annezazu there is a [PR here](https://github.com/WordPress/gutenberg/pull/42445) that I think takes it back to the pre 13.4 state, and duotone still seems to work ok, if you have time to give it a test.

[2022-07-15 01:58] andrewserong commented on #40381
@mrwweb, I think to resolve the issue described here, in the `theme.json` file you can set `settings.spacing.blockGap` to `false`. This will prevent the UI controls from being displayed in the editor, while still outputting `blockGap` styles stored in `theme.json`. Is that what you had in mind?

This is a departure from how other properties in theme.json are typed.

Yes, the behaviour of `blockGap

[2022-07-15 02:10] aaronrobertshaw commented on #38801
Hi @annezazu 👋

This issue will also be resolved as part of the introduction of more full-featured border support to images in https://github.com/WordPress/gutenberg/pull/31366.

[2022-07-15 02:13] andrewserong commented on #39122
Thanks for opening this issue @Humanify-nl. You've articulated nicely some of the issues of attempting to use CSS variables for spacing.

A refactor of the Layout block support has been merged in https://github.com/WordPress/gutenberg/pull/40875 which adjusts how the gap styles are output, so that direct values are used where possible instead of CSS variables.

Setting a `blockGap` value for a par

[2022-07-15 02:32] andrewserong commented on #41431
I hear you! There's a lot of parallel work going on, and it is hard to follow. Given that so much work is in progress, then, it might be worth it to review how much of these issues are addressed, and what still needs tweaking when we reach the beta phase for WordPress 6.1. It looks like the next release should include quite a few improvements that will hopefully addresses these issues, while allow

[2022-07-15 02:32] #42314 closed, assigned to afercia

[2022-07-15 02:39] noisysocks commented on #30904
The popover that https://github.com/WordPress/gutenberg/pull/42352 introduces gives us a natural place to place help text like this cc. @javierarce.

<img width="549" alt="Screen Shot 2022-07-15 at 12 38 01" src="https://user-images.githubusercontent.com/612155/179135981-d3b38fa1-543f-4e17-9008-add3f4a6cfd7.png">

[2022-07-15 02:45] noisysocks commented on #30579
I think we can mark this as find by https://github.com/WordPress/gutenberg/pull/42033 which made the URL more prominent by displaying it in the _Summary_ panel.

<img width="297" alt="Screen Shot 2022-07-15 at 12 40 25" src="https://user-images.githubusercontent.com/612155/179136560-2cb05351-53af-4b85-a0f0-63e81313d07f.png">

[2022-07-15 02:45] #30579 closed, assigned to nobody

[2022-07-15 02:45] github-actions[bot] opened #42448 "[Flaky Test] allows an empty navigation block to be created and manually populated using a mixture of internal and external links"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
allows an empty navigation block to be created and manually populated using a mixture of internal and external links

## Test path
`specs/editor/blocks/navigation.test.js`

## Errors

<time datetime="2022-07-15T02:45:54.526Z"><code>[2022-07-15T02:45:54.526Z]</code></time> Te

[2022-07-15 02:45] github-actions[bot] opened #42449 "[Flaky Test] creates an empty navigation block when the selected existing menu is also empty"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
creates an empty navigation block when the selected existing menu is also empty

## Test path
`specs/editor/blocks/navigation.test.js`

## Errors

<time datetime="2022-07-15T02:45:55.373Z"><code>[2022-07-15T02:45:55.373Z]</code></time> Test passed after 1 failed attempt on <

[2022-07-15 02:45] github-actions[bot] opened #42450 "[Flaky Test] does not show a loading indicator if there is no ref to a Navigation post and Nav Menus have loaded"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
does not show a loading indicator if there is no ref to a Navigation post and Nav Menus have loaded

## Test path
`specs/editor/blocks/navigation.test.js`

## Errors

<time datetime="2022-07-15T02:45:56.049Z"><code>[2022-07-15T02:45:56.049Z]</code></time> Test passed after 2

[2022-07-15 02:47] noisysocks commented on #26083
It's a neat feature but feels like plugin territory to me. Why should Core add this functionality?

[2022-07-15 02:48] noisysocks commented on #24536
Also unable to reproduce this.

[2022-07-15 02:48] #24536 closed

[2022-07-15 02:49] noisysocks commented on #24535
Could the Classic Editor do this?

[2022-07-15 02:57] noisysocks commented on #22678
Hi. Thanks for the issue. It's a nice idea, but I think the usage is too limited and technical to be included in Core where we try to design for the majority.

A plugin could add this functionality by making use of `PluginDocumentSettingPanel ` to add a new text field to the document sidebar, post meta to store the text that is entered, and then the `post_class` filter to output the text that is s

[2022-07-15 02:57] #22678 closed

[2022-07-15 03:05] noisysocks commented on #17407
The dropdown proposed in https://github.com/WordPress/gutenberg/pull/42030#issuecomment-1171646574 would address this.

https://user-images.githubusercontent.com/4933/176771391-8a450f38-068b-451d-af19-9430a7f51a20.mov

[2022-07-15 03:08] github-actions[bot] opened #42451 "[Flaky Test] should stay in block settings after making a change in that area"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should stay in block settings after making a change in that area

## Test path
`/test/e2e/specs/widgets/customizing-widgets.spec.js`

## Errors

<time datetime="2022-07-15T03:08:02.935Z"><code>[2022-07-15T03:08:02.935Z]</code></time> Test passed after 1 failed attempt on <a

[2022-07-15 03:09] noisysocks commented on #17725
What do you think about always showing the Author dropdown @javierarce? Personally I think it's unnecessary.

[2022-07-15 03:15] noisysocks commented on #17364
There's a new design by @javierarce for the _Author_ dropdown in https://github.com/WordPress/gutenberg/pull/41430#issuecomment-1157690629. Perhaps we could include username in the line underneath the display name alongside the user's role?

It's worth noting is that users are able to select how they want their name to appear in profile settings. This should be respected.

<img width="485" alt="Sc

[2022-07-15 03:17] noisysocks commented on #15039
Correct, this would need to happen in Core.

[2022-07-15 03:17] #15039 closed

[2022-07-15 03:20] noisysocks commented on #13795
Un-assigning @draganescu as I think this issue is waiting for someone to pick it up.

[2022-07-15 03:22] noisysocks commented on #12742
Closing this in favour of https://github.com/WordPress/gutenberg/issues/30904.

[2022-07-15 03:28] noisysocks commented on #3072
I like this copy. Posts can be displayed in lost of places now that we e.g. have a Query block.

I don't believe there is currently a way to disable this. WordPress Core would have to add this functionality. Please open a ticket in https://core.trac.wordpress.org/newticket.

[2022-07-15 03:32] joyously commented on #12742
The other issue (30904) doesn't even mention anything about the PHP filter.

[2022-07-15 03:36] joyously commented on #30904
This issue is supposed to handle 12742, which is about the existing PHP filter for this that doesn't work in the block editor.

[2022-07-15 03:42] talldan commented on #41575
I did some more delving. The root cause of the difference is the site editor using an iframe and a different scroll container for content. In the site editor, the blocks are inside the iframe and the toolbar outside. The blocks are also inside a scroll container element, and the toolbar popover outside of that scroll container.

When the content is scrolled, the toolbar popover isn't being scrolle

[2022-07-15 04:37] Mamaduka commented on #36164
This hasn't been updated for a while, so going to close it.

[2022-07-15 05:15] annezazu commented on #38801
Amazing news! Thanks for connecting the dots.

[2022-07-15 05:41] #38801 closed, assigned to nobody

[2022-07-15 05:44] derekblank commented on #42443
Confirmed as part of a few known issues related to displaying poster images and thumbnails within the video player. Also related:
- https://github.com/wordpress-mobile/gutenberg-mobile/issues/1152
- https://github.com/WordPress/gutenberg/issues/30987
- https://github.com/wordpress-mobile/gutenberg-mobile/issues/965
- https://github.com/wordpress-mobile/gutenberg-mobile/issues/1493
- https://github

[2022-07-15 06:51] #35607 closed, assigned to youknowriad, tellthemachines

[2022-07-15 06:57] kevin940726 commented on #8119
I had some time to dig into the problem of the gallery block and the "undo trap" issue in general. This “undo trap” issue can happen when these conditions meet:

1. The block calls `setAttributes` or any other updating methods that push to the undo stack (create an *undo level*).
2. The method is NOT called as an *“event”*, coined by the [`useEvent` RFC](https://github.com/reactjs/rfcs/blob/useeve

[2022-07-15 07:00] aaronrobertshaw opened #42455 "Inspector Controls: Inputs aren't clearing after control is reset via panel menu"
### Description

When resetting some of the more complex or compound controls via their panel's menu, their inputs aren't being cleared. This is affecting multiple controls in the Inspector Controls sidebar including padding, margin, borders and border radii etc.

A git bisect shows this regressed when https://github.com/WordPress/gutenberg/pull/40518 landed.

#### Expected Behaviour

When resetti

[2022-07-15 07:03] noisysocks commented on #12742
My mistake. Let's keep https://github.com/WordPress/gutenberg/issues/30904 for adding help text and this issue for respecting the existing Core filter.

[2022-07-15 07:17] Humanify-nl commented on #39122
Thanks for the compliment @andrewserong, happy to contribute. This change is a big step forward!

[2022-07-15 08:19] gikaragia opened #42458 "Make List View more extendable"
## What problem does this address?
We have a use case in our plugin where we want to mark some blocks with visibility tags. A block marked with a visibility tag basically means that in some cases the block will be hidden from the user. We are thinking to add these tags to the block list, to make it easy for the user to view which blocks might be hidden:

<img width="394" alt="178691588-c1b53ba4-7f

[2022-07-15 09:33] #38637 closed, assigned to ellatrix

[2022-07-15 09:56] Andrew-Starr commented on #42323
@madhusudhand I took a go at trying to recreate this issue but was unable to see any problems when switching styles.

You say that you tested with the Pendant and Remote themes, but as far as I can see these two themes do not have any style variations available to select.
See empty 'styles' directory in Pendant: https://themes.svn.wordpress.org/pendant/1.0.4/styles/ and same with Remote: https://t

[2022-07-15 10:08] Andrew-Starr commented on #42323
Ahhh now I see the wordpress.com versions of those themes do indeed have style variations whereas the wordpress.org versions as linked in the repro instructions do not.

[2022-07-15 10:26] afercia opened #42461 "FlexItem should not allow onClick prop when it renders a non-interactive element"
### Description

The `FlexItem` component renders a `<div>` element by default. It can render other elements via the `as` prop.

When it renders an element that is not operable with a keyboard, it should not allow an `onClick` prop. Maybe, it should _never_ allow an `onClick` prop.

An example of incorrect implementation is in `AddCustomTemplateModal`:

<img width="526" alt="Screenshot 2022-07-15

[2022-07-15 10:32] Mamaduka commented on #39308
I plan to work and apply suggested features to the Pattern Explorer modal first. Then, when I'm more familiar with the code base, I can give you a better answer if it's worth making an abstraction of this component.

[2022-07-15 11:07] gziolo commented on #42277
@Lovor01, thank you for opening the patch in WordPress Trac. I will review and land next week ❤️

[2022-07-15 11:16] madhusudhand commented on #42323
Ah! Thanks for pointing. It must be an issue with publish script.
Please use the themes from source to test in local install. https://github.com/Automattic/themes/tree/trunk/remote

[2022-07-15 13:24] jameskoster commented on #41397
Noting that patterns should probably be converted to template parts during the replacement flow as well. Or we should ask the user how they'd like to proceed (update current template part or create new).

At the moment, if you replace a template part, and select a pattern from the resulting modal, that pattern gets _inserted into the current template part_. This is obviously an _edit_, not a _repl

[2022-07-15 13:25] paaljoachim commented on #17725
I got a feeling that we should close this issue as a wont fix.
I do fint it helpful to see my own username in the Publish screen. It is a reminder about the username I have on a site. But I can also let it go.

[2022-07-15 13:38] Thelmachido commented on #42374
I'm unable to reproduce this on my end.

I checked this on [this test page](https://thelmatest.mystagingwebsite.com/sample-page), with the TT2 theme. I added a cover block and it was full width both when Gutenberg it active and deactivated.

<img width="1756" alt="Untitled 2" src="https://user-images.githubusercontent.com/41231764/179234066-a63952e8-c74a-4c23-ae3e-894e4ace6c3b.png">

**Environment

[2022-07-15 13:40] javierarce commented on #17725
I agree with the opinion that a dropdown with just one value is a frustrating UI, so I'm in favor of just showing the username in that case.

[2022-07-15 13:43] #42374 closed, assigned to nobody

[2022-07-15 13:45] matiasbenedetto commented on #42407
:wave:  thanks @annezazu @costdev @glendaviesnz for working on this!

I think [Glen's PR](https://github.com/WordPress/gutenberg/pull/42445) is re-introducing a bug already fixed. I think we can tackle this with a simpler approach so I submitted an alternative PR here: https://github.com/WordPress/gutenberg/pull/42470

[2022-07-15 13:48] afercia commented on #42373
The main H1 heading in the Site Editor is rendered by the `DocumentActions` component:

<img width="1792" alt="Screenshot 2022-07-15 at 15 33 44" src="https://user-images.githubusercontent.com/1682452/179234882-07877625-0ecb-4b62-a21b-8297d9666929.png">

There's some visually hidden text there. The actual heading text is, for example:

`Editing template: Home`

While the heading text is meaningful

[2022-07-15 13:49] mrwweb commented on #40381
@andrewserong Thank you so much for looking into this and clarifying.

I can confirm that the following _does_ correctly output the `--wp--style--block-gap` custom property in the editor and front end:

[code]

After reading the reasoning, I can understand why it was built this way. That said, the fact that someone can set a style in `theme.json` that is dependent on a setting feels weird. The doc

[2022-07-15 13:49] #40381 closed, assigned to nobody

[2022-07-15 14:07] jameskoster opened #42472 "Template part area: Add internationalised plural form"
When you replace a template part like a header or a footer, the following modal appears:

<img width="975" alt="Screenshot 2022-07-15 at 15 05 51" src="https://user-images.githubusercontent.com/846565/179239657-8d2857dc-e9ed-454f-8e83-53ea18bd956b.png">

The modal could also soon appear when you insert a Header or Footer block via the Inserter: https://github.com/WordPress/gutenberg/pull/42142.

I

[2022-07-15 14:12] jameskoster opened #42473 "It's possible to create template parts with duplicate names"
### Description

When creating a template part, either manually or via one of the automatic flows like inserting a header pattern, it's possible for duplicate names to be used.

### Step-by-step reproduction instructions

1. Create a template part and give it a name
2. Create another template part and give it the same name

### Screenshots, screen recording, code snippet

<img width="1070" alt="Sc

[2022-07-15 14:13] afercia commented on #42373
Created https://core.trac.wordpress.org/ticket/56228 for the core part.

[2022-07-15 14:15] jameskoster commented on #42473
When creating manually, there should probably be some validation on the name input which prohibits the creation of template parts with duplicate names.

In the automatic flows, we might consider appending `-1` to the end of the new template part name.

cc @WordPress/gutenberg-design

[2022-07-15 14:25] t-hamano commented on #42461
I looked into `FlexItem` and could not find any other component that has the onClick property and renders as a div element.
Therefore, the accessibility issues occurring in `FlexItem` should only need to be corrected in the `AddCustomTemplateModal` component.
(However, this is not a future measure, but a fix only for problems that are currently occurring...)

And one suggestion, how about applying

[2022-07-15 14:58] javierarce commented on #39082
I've been trying to find a good way to solve the problem that @ZebulanStanphill pointed out  about the label + value rows not being clear enough (and maybe even #470):

While thinking of a solution I came across [this tweet](https://twitter.com/simonbs/status/1536049033789202435) that shows how the new iOS version is solving a similar problem.

So in the same spirit, I'd like to get feedback on th

[2022-07-15 15:01] matiasbenedetto commented on #42407
https://github.com/WordPress/gutenberg/pull/42470 seems to be fixing also the problem described here: https://github.com/Automattic/wp-calypso/issues/64682

[2022-07-15 15:56] mtias commented on #17553
This should be fixed after #25892.

[2022-07-15 15:56] #17553 closed

[2022-07-15 16:47] iamtakashi commented on #42374
Thanks, @Thelmachido I can confirm this is no longer issue at this time. It seems the issue was fixed somewhere yesterday.

[2022-07-15 17:14] paulopmt1 commented on #40272
Following @carolinan's suggestion of adding a spacer block, I got the same result as her, it worked as expected :)

[2022-07-15 20:05] #23171 closed

[2022-07-15 21:41] #39863 closed, assigned to nobody

[2022-07-15 23:24] #42052 closed, assigned to matiasbenedetto

[2022-07-16 06:24] danieliser commented on #30703
Not sure what is going on but I think docs for this and these commands above are not correct any longer.

Running the following does generate the `directory nonexistent` issue for me, but if I simply use some escaped quotes for the inner command it runs through but since I first started troubleshooting this a week ago I've never gotten it to work.

` wp-env run cli "sh -c \"echo 'xdebug.client_hos

[2022-07-16 07:29] getdave commented on #42358
He's refering to the count of the posts the given category taxonomy term is assigned to. If you check https://github.com/WordPress/gutenberg/pull/42424 you can see it working and hopefully we have a good description.

[2022-07-16 08:37] t-hamano commented on #42177
I have confirmed that the same problem occurs in the caption element as well as the button block.
I believe #42479 will solve the problem 👍

[2022-07-16 08:59] paaljoachim commented on #40272
Thank you for the feedback everyone!

I am retesting and seeing that this is now working as it should.
The Edit link is not affected when changing the Alignment.

![Screenshot 2022-07-16 at 10 57 34](https://user-images.githubusercontent.com/5323259/179348197-2ee06c99-a7f3-41cd-ba35-c63556ea9f16.jpg)

Closing issue.

[2022-07-16 08:59] #40272 closed, assigned to nobody

[2022-07-16 09:14] paaljoachim commented on #42473
Adding a 1 or 2 etc at the end of the template part name would be similar to creating a folder etc on the computer and is something we are just used to seeing. Here is an example of creating two folders with the same name on OSX.

![Screenshot 2022-07-16 at 11 12 19](https://user-images.githubusercontent.com/5323259/179348629-fcd4aa41-41d4-4ec4-9937-602f801748e6.jpg)

So we could do the same thing

[2022-07-16 09:15] t-hamano commented on #42296
The search block has an option to set whether the button is placed inside or outside.
(However, the element markup does not change, just the `wp-block-search__button-{outside/inside}` class name...)

Would this solve what you are proposing ?
If not so, please let me know what you think.

![search-block](https://user-images.githubusercontent.com/54422211/179348692-15eca60c-9f71-42c8-b44b-1b28fc71dc

[2022-07-16 10:03] Stephan66 commented on #41324
This issue has NOT been resolved with WordPress 6.0.1, the frontend still behaves as Justin described.

[2022-07-16 10:26] paaljoachim commented on #11681
@talldan Dan I am pinging you about this issue as I believe it might be something you want to know about.

[2022-07-16 10:52] paaljoachim commented on #29295
That sounds like a good idea @jameskoster

[2022-07-16 11:49] mtias commented on #42458
Related #26632

[2022-07-16 12:50] spencerfinnell commented on #33583
A huge +1 from me. It's frustrating to utilize the power of full site editing but end up with this:

<img width="394" alt="Screen Shot 2022-07-16 at 8 46 18 AM" src="https://user-images.githubusercontent.com/491124/179355474-be59fda0-6d16-4229-80f3-3ebc95741976.png">

The reusabe block and template parts stand out as the only things that are easily recognizable. I don't believe automatically gener

[2022-07-16 13:22] spencerfinnell commented on #42458
Related #33583

[2022-07-16 14:53] bph commented on #42229
While you are looking at another iteration on the Table of Content Block,
I am pulling the issue of missing options to modify how the headlines are displayed from the many comments from the [original PR ](https://github.com/WordPress/gutenberg/pull/29739).
While testing in PR stage, I felt strongly that there needs to be a way for a user to change the style of the list created. Not everyone apprec

[2022-07-16 15:42] paaljoachim commented on #41275
I will close this issue for now.

[2022-07-16 15:42] #41275 closed, assigned to nobody

[2022-07-16 16:08] paaljoachim commented on #41946
Linking in the following issues I have earlier made which gives some UI suggestions.

Templates and Template Parts screens - Provide a way for users to add a description to custom templates.
https://github.com/WordPress/gutenberg/issues/36664

Templates screen - add the ability to sort by recently updated, alphabetical, or type (adding additional columns).
https://github.com/WordPress/gutenberg/is

[2022-07-16 20:48] annezazu opened #42480 "Site Editor: Consider placing theme blocks higher in the Inserter"
## What problem does this address?

As part of the fifteenth call for testing for the FSE Outreach program, [the following feedback came](https://make.wordpress.org/test/2022/07/11/fse-program-testing-call-15-category-customization/#comment-2608) in from @paaljoachim:

Here's a video of scrolling to find theme blocks if you don't search/don't know what to search for (likely the case for new users)

[2022-07-16 21:01] annezazu commented on #37936
Noting that this is still an issue with WordPress 6.0.1 and Gutenberg 13.6. [This was repeated during the fifteenth call for testing for the FSE Outreach Program](https://make.wordpress.org/test/2022/07/11/fse-program-testing-call-15-category-customization/#comment-2608) when @paaljoachim was trying to left align a featured image. After dimensions are changed, it seems as though aligning the block

[2022-07-16 21:19] annezazu opened #42481 "Unclear UX for how to get out of a locked block with headings & paragraph blocks"
### Description

After locking Heading or Paragraph blocks, the UX changes after hitting return where you are still within the locked experience rather than able to create a new block:

&

I realized for the second post that I needed to “Insert after” to add a paragraph, and that was OK.

This was found as part of the [fifteenth call for testing for the FSE Outreach Program](https://make.wordpress

[2022-07-16 21:48] annezazu commented on #37850
This was noted in the [fifteenth call for testing for the FSE Outreach Program](https://make.wordpress.org/test/2022/07/11/fse-program-testing-call-15-category-customization/#comment-2608), which has a focus on creating and editing the categories template:

& again in a [separate comment](https://make.wordpress.org/test/2022/07/11/fse-program-testing-call-15-category-customization/#comment-2612):

[2022-07-16 23:54] paaljoachim commented on #42480
Thank you for making the issue Anne!

A followup.
The block inserter should place the various sections in the context they are most likely needed.
For a post or page. Yes it feels natural to have the order we have today.
For the site editor we need the more general blocks much more visible for users to see. Meaning showing the Theme section at the top so one does not need to even scroll to see the

[2022-07-17 00:03] paaljoachim commented on #41379
I am been thinking even broader. Making a new Media Library where the above is integrated along with media. One would be able to go to the Media library and import/export patterns, template, images etc. Going to any post/page/template to open a kind of Media Library modal with tabs where one could go between various things to add.

Here is a what if rough sketch: https://youtu.be/NJt_94eAERY

[2022-07-17 03:18] TheSimArchitect commented on #3218
Nice! If/when implemented, will we be finally able to add shortcuts to things like superscript, subscript and strikethrough while editing, so we don't have to stop typing to use the mouse/menu?

That would be fantastic!

[2022-07-17 06:51] benjaminpwarren commented on #18523
Shortcut for Windows is ALT+0160.

[2022-07-17 13:24] jp-imagines opened #42482 "Site Editor Feature Request: See which templates use a given template part"
## What problem does this address?

On FSE/block themes, it's currently difficult to quickly determine which template parts are actively in use, or which templates use any given template part.

For example, if I want to update my site's header across all templates, and I have multiple custom header template parts available, I would need to either:

* Manually check every _template_ and update the

[2022-07-17 20:54] alkah3st commented on #3806
Question: is this closed as in not ever going to be fixed? I'd like to be able to type a shortcode into a paragraph block but this seems to be not possible.

For example, I'd like to type an icon <i class="icon-nameoficon"></i> inline in a paragraph, and so I created a shortcode [icon glyph="nameoficon" /] that pre-Gutenberg would then output my i tag. In Gutenberg today, it outputs the literal te

[2022-07-17 21:00] cuemarie commented on #42407
👋 Hey folks! Here's an example of the code from a cover block on a user's site who first reported the issue to HE's:

![Markup on 2022-07-17 at 13:45:03](https://user-images.githubusercontent.com/27249804/179424148-66e4a0e4-62b0-4803-9725-413fc63205fc.png)

Here's the full copiable code from that cover block, where I've just swapped the Image URLs with a free Pexels photo:

[code]

Hope this is he

[2022-07-17 21:59] glendaviesnz commented on #42407
It looks like https://github.com/WordPress/gutenberg/pull/42470 fixes this issue. @cuemarie while you wait for this fix to make it into a release it may be possible to fix it on individual sites frontend display by adding the following custom CSS:

[code]

[2022-07-18 00:07] DAreRodz commented on #41451
Another update:

- I've added a button ([#41807 comment](https://github.com/WordPress/gutenberg/pull/41807#issuecomment-1180747046)) to switch from the legacy version to the "editable" version.
- I worked on some tweaks ([#42406](https://github.com/WordPress/gutenberg/pull/42406)) after migrating the Comments block's e2e tests to Playwright.

I will work on adding the different test cases the bloc

[2022-07-18 00:43] SaxonF commented on #42388
On this point, I'm not a fan of the darker canvas elements we've introduced like the exploded view partly because they require us to use both light and dark variations of our components within the same environment.  I think we can learn from how Figma handles dark mode and how it affects the default colour of the canvas.

[2022-07-18 02:33] happychait commented on #42407
- [ ] Needs follow up in 5401674-zen

[2022-07-18 03:40] annezazu commented on #42407
@happychait I deleted a commented from you as a part of triaging this issue and keeping it focused as it references what seems to be internal tooling. Noting here for further transparency. Let's keep this issue focused on the solutions and/or specific examples of the problems so those finding the solutions can dig in 💥.

[2022-07-18 04:59] t-hamano commented on #39368
Hi @jotapardo,

Has your problem been resolved since then?
I believe the problem is due to the theme or your own customization, so I will close it once.

If you revert to the default theme or settings and still reproduce the problem, please feel free to reopen.

[2022-07-18 04:59] #39368 closed, assigned to nobody

[2022-07-18 06:56] abotteram commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2022-07-18 07:01] tellthemachines commented on #33374
This is a tough one because it’s not really a bug, but a known side-effect of the implementation, documented in the [theme handbook](https://developer.wordpress.org/themes/advanced-topics/theme-json/#a-theme-json-can-be-added-to-any-theme): `Additionally, the alignment mechanism for “full” and “wide” blocks works differently with a theme.json present and should be considered.`

Apologies in advanc

[2022-07-18 07:08] #41559 closed, assigned to nobody

[2022-07-18 07:23] talldan commented on #42482
This would also be nice in a warning message when deleting a template part that's in use.

Code-wise, my understanding is that it would involve parsing the block content of every template and template part to find out which template parts are within them.

It'd be challenging and probably quite expensive to do.

[2022-07-18 07:30] talldan commented on #42461
It might also be an option to add a linting rule for `as="div" onClick={ ... }`, similar to the one that's shown for `<div onClick={ ... }`, although they can be quite complicated to write:
![Screen Shot 2022-07-18 at 3 28 24 pm](https://user-images.githubusercontent.com/677833/179463308-0fba0ce8-fe8d-44eb-b98e-83523214be47.png)

[2022-07-18 07:32] talldan commented on #42434
@sweber83 Would you be able to expand on this, as I'm not sure what you mean by 'nested' here. Do you mean inner blocks?

Adding some pseudocode to the issue might be helpful. Thanks.

[2022-07-18 07:55] gziolo commented on #17025
Resharing my comments from PRs for visibility.

https://github.com/WordPress/gutenberg/pull/42467#issuecomment-1186863403

We need to ensure that new utilities introduced replacing `lodash` alternatives don't increase the overall size of JavaScript code in WordPress core. It should at least remain at the size of `lodash` when the entire refactoring is concluded.

https://github.com/WordPress/guten

[2022-07-18 08:17] #25158 closed

[2022-07-18 08:31] t-hamano commented on #15110
This problem seems to be the same as #28758.
As [this comment](https://github.com/WordPress/gutenberg/issues/28758#issuecomment-985027699) suggests, it seems to be a problem with `react-colorful`.

[2022-07-18 08:38] Robertght opened #42494 "Accessibility: Group block does not report contents to screen readers"
### Description

This has been originally reported here: https://github.com/Automattic/wp-calypso/issues/65510

A user without eyesight, using a screen reader with braille display to navigate FSE, reported Group blocks are confusing because they won't report nesting levels, nor their contents.

### Step-by-step reproduction instructions

1. Access Gutenberg using a screen-reader.
2. Open List View

[2022-07-18 09:11] talldan commented on #42442
@chrisvanpatten I've seen this approach used in the Gutenberg codebase:
https://github.com/WordPress/gutenberg/blob/0fa1141d41685835175aa5b8341b34378d83430e/packages/block-directory/src/components/downloadable-blocks-list/test/index.js#L17-L21

Does that help at all?

It may not if you're using the built code in your test 🤔

[2022-07-18 09:14] tyxla commented on #17025
Thanks, @gziolo, for bringing those up. Let's keep this issue open until we resolve those problems, as they're part of the responsible way to address the Lodash migration.

[2022-07-18 10:05] jameskoster commented on #42480
I think there could be some overlap with https://github.com/WordPress/gutenberg/issues/41379 and the discussion [here](https://github.com/WordPress/gutenberg/discussions/35800).

The _order_ of block categories may be less of an issue if they are all visible when you open the Inserter, like in the first video here: https://github.com/WordPress/gutenberg/issues/41379#issuecomment-1143246788.

Just

[2022-07-18 10:41] afercia opened #42496 "Fix the headings hierarchy in the Styles sidebar"
### Description

Follow-up to https://github.com/WordPress/gutenberg/issues/42373

The headings hierarchy in the Styles sidebar is less than ideal. It skips levels, doesn't follow a logical structure and it appears it was implemented more for visual purposes rather than for good semantics.

Suffice to say the first heading within the Styles sidebar is a H5, which doesn't make sense and it's totall

[2022-07-18 11:02] Humanify-nl commented on #39222
This problem would be solved if the Cover block and all other image-type blocks get an `image size select field`.

It is core WP functionality and I don't see any reasons why it is a bad idea for cover blocks.

- Cover images can now use featured-image (yay) but without size select it performs bad in query loops.
- We can use the image settings to control the size for performance reasons.
- We can

[2022-07-18 11:13] Humanify-nl opened #42497 "Image size select for cover block"
## What problem does this address?

Since we are now able to use cover block for featured-image; one feature is still sorely missed: the ability to select image sizes.

Controlling image sizes is a must for performance and when we start using query grids with many cover images, this becomes a problem.

It's simple features like this that impact developer experience.

## What is your proposed solut

[2022-07-18 11:28] Andrew-Starr opened #42498 "Option to remove a custom theme.json setting being printed as inline CSS"
## What problem does this address?

With the potential for theme.json being used for more than simply CSS, it would be good to have an option to remove a custom theme.json setting being printed as inline CSS on the front end.

For example:

[code]

Would be printed as inline CSS on the front end as `--wp--custom--option-a--image-size: medium` where it may not be required.

## What is your proposed

[2022-07-18 11:29] ellatrix commented on #39877
This seems to work now, let's create new issues for smaller problems.

[2022-07-18 11:29] #39877 closed, assigned to nobody

[2022-07-18 11:30] ellatrix commented on #39519
It seems to work? Let's create new issues for polish it.

[2022-07-18 11:30] #39519 closed, assigned to ntsekouras

[2022-07-18 11:34] ellatrix opened #42499 "List v2: merging two list items with nested list items deletes the list items"
### Description

There's a couple of different scenarios that should be polished. If the first list item has sub items, where should the second list item go?

### Step-by-step reproduction instructions

1. Create a list with two items and sub items for each of those two list items.
2. Place the caret at the start of the second list item and press Backspace.
3. The sub items are unexpectedly delete

[2022-07-18 11:37] ellatrix opened #42500 "List and Quote v2: Backspace in empty list should delete it"
Two options: delete the block or convert it to a paragraph

[2022-07-18 11:41] jameskoster opened #42501 "Site Editor Inserter(s): Prioritise Template Parts over Patterns, and indicate the difference between the two"
The quick inserter currently surfaces patterns, both by default and when you search:

<img width="429" alt="Screenshot 2022-07-18 at 12 00 00" src="https://user-images.githubusercontent.com/846565/179497745-37caad28-2b09-4833-bf33-8875d8ad15ed.png">

But it's not always clear whether the options (like in the screenshot above) are template parts or patterns, which can lead to folks mistakenly inser

[2022-07-18 11:50] ellatrix commented on #39519
Opened #42499.

[2022-07-18 11:50] ellatrix commented on #39877
Opened #42500 for the remaining issue

[2022-07-18 11:52] ellatrix commented on #42500
This seems to be an issue with quote v2 as well.

[2022-07-18 11:58] ndiego commented on #42229
I 100% agree with @bph and @ZebulanStanphill assessments. This block, while a great start, could use some additional love. To echo some of the previous comments:

1. The largest area of concern to me is the fact that it does not work outside of post content, thereby making the block unusable in the Site Editor. Without a fix here, I anticipate a lot of user confusion and frustration. You are able

[2022-07-18 12:02] girafffee commented on #24463
@ellatrix, is there any progress on this issue?

[2022-07-18 12:09] t-hamano commented on #28758
I am not sure if this is an appropriate fix, but I wrote [a PR](https://github.com/omgovich/react-colorful/pull/184) for the library.
Hopefully this PR works correctly 😅

[2022-07-18 12:20] afercia commented on #42095
@mirka thanks, yes that's exactly the point. Tooltips aren't ideal but without them the only alternative for these users (who generally have some form of motor impairment) would be inspecting the source in the browser dev tools to discover the name of a control 🙁

[2022-07-18 12:32] M4N0JKUM4R commented on #5506
I still don't get why we can't get the event object. I was trying to use [ColorPalette](https://developer.wordpress.org/block-editor/reference-guides/components/color-palette/) and then shifted towards using external react components like [react-color](https://casesandberg.github.io/react-color/) as they have the event object usage inbuilt. For example, let's say there are components generated thr

[2022-07-18 12:35] afercia commented on #42461
That would be a good start, as a `div` element is probably the most common case 🙂 However, not sure how to cover all the other cases.

[2022-07-18 12:45] DaisyOlsen commented on #42501
I can see merit in both the icon indicators and the separate sections. I'd lean toward separation because template parts and patterns are functionally different so a more obvious separation might be helpful. I also think that, in most cases, parts would be used more frequently in the site editor than patterns.

[2022-07-18 13:02] markhowellsmead commented on #41431
Thanks again @andrewserong. I'll certainly look into the Layout controls when 6.1 become publicly available. There have been issues with CSS specificity problems which are blocking theme developers from overriding inline styles - specifically #40159 - which I'm hoping are resolved by the upcoming improvements.

[2022-07-18 13:03] markhowellsmead commented on #40159
Related #41431.

[2022-07-18 13:25] Andrew-Starr commented on #42482
I have a local plugin I created that does this. It is very helpful to see at a glance what template part is in use in which template.

The code is a bit rough but it basically parses the content of every template, then "flattens" the parsed content using the core `_flatten_blocks` function, and finally checks all the returned blocks to see if any have a `blockName` of `core/template-part` and retu

[2022-07-18 13:26] ciampo commented on #41799
cc @WordPress/gutenberg-design

[2022-07-18 13:31] afercia opened #42505 "Improve the accessibility of the Templates browser 'Actions' column"
### Description

As a low vision user, I struggle to see the ellipsis in the 'Actions' column of the Templates browser.

At first, I didn't notice there were some buttons in this column. Even now that I know there are buttons, the ellipsis icon is so tiny that I struggle to see it and click reliably on it.

Besides the very light icon, there are other factors that make these buttons hard to see fo

[2022-07-18 13:45] dmsnell commented on #5506
Without speaking to why we _can_ or _can't_ get the object here's one way in which this can be accomplished through the WordPress component: we communicate from the parent to the child instead of from the child to the component. This is also a common idiom in a broad array of React-based designs as it plays well with React.

[code]

if taken to the extreme this leads to "prop drilling" which can b

[2022-07-18 13:55] lwangdu opened #42506 "Social icons links need option open a new window"
### Description

There is no way you can create social icons links option "open a new window". If someone could fix issue that would be great.
Thank you.

### Step-by-step reproduction instructions

Add social icon and add link. there is no option for open a new window.

### Screenshots, screen recording, code snippet

_No response_

### Environment info

 WP 6.0.1 and Gutenberg 13.6.0.

### Pleas

[2022-07-18 14:23] Andrew-Starr commented on #42482
I should also say that this is done in a separate admin page outside of the site editor for my own usage, and so if something like this was included in the site editor I do not know how resource intensive this would be and whether or not the site editor has the scalability for this.

[2022-07-18 14:24] jameskoster commented on #41799
I think this is a big part of the problem. I've been caught out by a similar issue in the past (https://github.com/WordPress/gutenberg/issues/37752).

If the swatch always represented the actual value (including the transparent texture when none is set) that would help a lot imo.

[2022-07-18 14:48] t-hamano commented on #42126
@swissspidy

Do you think limiting the node version is a fundamental solution to this issue?

I have confirmed that engines allow npm 8 in each package of gutenberg.
However, in the main package.json, the npm version is restricted as follows:

[code]

Should we introduce version restrictions in each package to prevent errors like this one?
If necessary, I would like to close this issue and open a

[2022-07-18 14:54] chrisvanpatten commented on #42442
@talldan Yeah unfortunately that only works when working with the source; there's a special module mapper in Gutenberg's own test config that maps the module path to the internal packages. When working with the built/distributed code from npm, it won't work. https://github.com/WordPress/gutenberg/blob/trunk/test/unit/jest.config.js#L13-L16

[2022-07-18 14:56] chrisvanpatten commented on #42442
(See also #14168)

[2022-07-18 15:30] albanyacademy opened #42509 "FSE script into iframe insertion needs to be less restrictive on how it determines whether to include a stylesheet"
### Description

In the Site Editor, Block CSS should be included without needing to use wp-block as a CSS selector in the built stylesheet, it should be included in the iframe by virtue of it being registered through enqueue_block_assets.

My suggestion would be to add to enqueue_block_assets a data-attr/some "block asset" identifier to just scan for instead, because whether or not the right sele

[2022-07-18 15:55] kathrynwp commented on #42358
@getdave Ah great, thanks for clarifying – I misread the above and thought the PR was for the Latest Posts block.

I will leave this for a developer to consider as a potential enhancement to the block.

[2022-07-18 16:08] swissspidy commented on #42126
Limiting the npm version is just a hacky way to work around the Jest version constraint and would seriously hinder any modern project from using Gutenberg packages, so a big -1 from me on that approach.

IMO the "proper" solution is to ensure that all packages can easily use the same Jest version. Adding it to `peerDependencies` should work.

Of course updating the version constraint also helps.

[2022-07-18 16:25] ndiego opened #42511 "Custom placeholder attributes not working in subsequent Paragraph blocks"
### Description

The `placeholder` attribute is a great way to prompt users on the type of content that needs to be added to a block. I have been using this a lot in patterns and layout designs for custom post types.

While this functionality works great, there is a bug that occurs when subsequent blocks both have a `placeholder` set. The placeholder content appears as expected for the first block

[2022-07-18 16:46] javierarce commented on #39082
And here's another idea to group the settings while at the same time making the connection between labels and values clearer.

In the image below the settings are grouped using a border around each item, in a table-like configuration. I've also added a version with an icon on the right side, as I did in my previous comment.

![image](https://user-images.githubusercontent.com/4933/179557885-4828cef

[2022-07-18 17:51] mrwweb opened #42512 "Query Loop Columns CSS Should use blockGap for Widths"
### Description

The Query Loops uses a hard-coded width to ensure columns work. Here's an example from the two column CSS:

[code]

However, this assumes that the gap between the columns will always be `1.25em`. That means that any `blockGap` greater than `1.25em` will break the expected number of columns.

These styles should use `blockGap` since that value can be dynamically set:

[code]

### S

[2022-07-18 17:55] mrwweb commented on #42512
I got very turned around, and I think I misunderstood this issue despite testing a fair amount. Closing for now and will reopen if needed.

[2022-07-18 17:55] #42512 closed, assigned to nobody

[2022-07-18 19:25] jotapardo commented on #39368
I tested with Twenty Twenty Two, also same problem. I fixed as I mentioned when I just forced the specific function to use Gutenberg. Thank you.

[2022-07-18 19:26] jornfranke opened #42513 "Use of Unsafe Javascript preventing usage of secure Content Security Policy (CSP)"
### Description

The wider context is written in: https://core.trac.wordpress.org/ticket/50997

The block editor uses in several places unsafe Javascript (amongst others the Function object) that prevents usage of secure CSP without allowing unsafe code. Some examples (might not be all):
Gutenberg is using turbo-combine-reducers (a not maintained package since 4 years): https://github.com/aduth/tu

[2022-07-18 19:33] dcalhoun opened #42514 "Scrolling to the end of a post containing an Embed block crashes the Android native editor"
## Description
When a long post contains an Embed block (e.g. Twitter, YouTube), the native editor will crash after scrolling to the end of the post.

## Step-by-step reproduction instructions
1. Create a new post within the Android native editor.
1. Copy a Twitter URL to your clipboard. (**Note:** [It cannot be a mobile Twitter URL.](https://core.trac.wordpress.org/ticket/54414))
1. Add a _Twitte

[2022-07-18 19:37] dcalhoun opened #42515 "Saving a Video block with a file URL displays placeholder text in the editor"
## Description
Saving a Video block that points to a raw file URL (e.g. a MP4 file, not a YouTube embed), the block's preview is removed as if the URL was not set. However, the file URL remains within the post's HTML content.

## Step-by-step reproduction instructions
1. Create a new post in the native editor.
1. Add a _Video_ block.
1. Tap _Insert from URL_.
1. Set the URL to an MP4 file.
1. Dism

[2022-07-18 20:43] eric-michel commented on #33374
@tellthemachines thanks for the summary of issues. It's really helpful! I have a few thoughts, but first let me just say:

I assume you mean the new default would set `Inner blocks use full width` to `off`. This would be enough for us to finally be able to adopt `theme.json`. Our theme is not a block theme and won't be for a very long time. But because of this issue, we're falling further and furt

[2022-07-18 20:58] ndiego commented on #42511
Upon further investigation, this is a CSS issue in the Paragraph block triggered by [this line](https://github.com/WordPress/gutenberg/blob/ec8b279887010c6437fe4130abb623732ce19f3e/packages/block-library/src/paragraph/editor.scss#L13).

[2022-07-18 21:18] bozzmedia commented on #27720
It seems this issue is exacerbated by either

(1) having the responsive mode enabled on the block
  and/or
(2) setting a max height for the embedded iframe via custom CSS.

In my instance the 4:3 ratio seems to really trip it up.

Thing is, setting a max-height for the CSS seems to be the most readily available way to control the size of these embed blocks which will otherwise be enormous given no

[2022-07-18 21:30] bph opened #42516 "Update Gutenberg plugin release documentation"
Current documentation: https://developer.wordpress.org/block-editor/contributors/code/release/

Gaps discovered during Gutenberg 13.7 release in collaboration with @priethor

- [x] add: How to map label changes for the changelog creator script
- [x] add: designer rotation: connect to design team to request assets for the release post. (_share draft release post with the highlighted items.)_
- [x]

[2022-07-18 23:46] lipemat commented on #8379
I came up with a workaround which seems to do the job while we wait for a stable event.
By passing a `LoadingResponsePlaceholder` component to `ServerSideRender` we can call an action when the "Loading" component unmounts, thus firing when loading has finished.

Something like this.
[code]

Note the loader contents was taken verbatim from the server-side-render package's `DefaultLoadingResponsePla

[2022-07-19 00:22] aaronrobertshaw commented on #37752
I believe it is not just theme.json but also Global Styles.

I'm not up-to-date on the inner workings at the moment but it was the case that the block editor doesn't get the merged theme.json/global styles in an accessible object within any data stores. That meant, short of inspecting every block and determining computed styles there was no way to determine what value a control should default to.

[2022-07-19 00:25] andrewserong commented on #41431
Thanks for linking through to that issue, I've added that one to the layout tracking issue, too (https://github.com/WordPress/gutenberg/issues/39336). I believe the current work should help progress that issue, too, in that base layout styles should wind up having lower specificity, and be easier to override (with less reliance upon inline styles/classname unless there is a "real" inline value). B

[2022-07-19 00:39] aaronrobertshaw commented on #41799
This is where the catch currently is. It appears that the block editor doesn't actually have access to the merged theme.json and global styles values that would determine the default value to be shown in the control here when the block itself doesn't have a selection.

There is an open PR (https://github.com/WordPress/gutenberg/pull/34178) that aims to address this however, it is rather old so tha

[2022-07-19 01:37] ndiego commented on #42511
Closing this as it's a duplicate of https://github.com/WordPress/gutenberg/issues/35928. Will add additional comments on that issue.

[2022-07-19 01:37] #42511 closed, assigned to nobody

[2022-07-19 01:39] ndiego commented on #35928
I just encountered this issue on a project I am working on. @jasmussen I like the idea of `data-custom-placeholder` attribute that can easily be targeted with CSS.

[2022-07-19 02:22] talldan commented on #42513
The maintainer of this one is a former contributor to Gutenberg (one of the top contributors), so there's probably some scope to change this package or move to a different solution.

I think this is used on the React Native project. It doesn't seem used by the web version of the block editor. It was introduced in https://github.com/WordPress/gutenberg/pull/34186. Unfortunately it seems to be expor

[2022-07-19 03:07] kevin940726 commented on #41031
I believe this issue is caused by having to do `setAttributes` in `useEffect` on changes of some external data.

As I mentioned in this [comment](https://github.com/WordPress/gutenberg/issues/8119#issuecomment-1185238067) of how and why "undo trap" is an issue, although this issue is technically not that kind of issue, they are similar in a way that most practices still apply.

If we edit a Headin

[2022-07-19 04:00] M4N0JKUM4R commented on #5506
@dmsnell Thanks for your time. Never expected a reply, so had some lazy edits in the first place :D If you see my fresh edit,
I was probably thinking the events way instead of realizing that the map way of doing things, I rewrote my earlier code:

[code]

[code]

Easy thing that I missed.

But let's say if I were to get the target of the color component, do I have to use the `querySelector` way in

[2022-07-19 05:45] t-hamano commented on #42126
Agreed.

If you don't mind, would it be possible to start a new issue?
You should be able to explain better than I can 😅

As far as the following PRs are concerned, the method of unifying with version 27 may be appropriate, since Jest's version upgrade has a large impact:

- #33287
- #27956

[2022-07-19 06:08] SaxonF commented on #36082
@eric-michel I'd love your thoughts on [this](https://github.com/WordPress/gutenberg/issues/42385) proposal as it touches on a few of your ideas

[2022-07-19 06:44] carolinan commented on #17432
Confirmed that this is still an issue in 6.0.1 with and without Gutenberg  13.7.0-rc.1 .
I did not use a third party plugin, but the default custom fields meta box.

[2022-07-19 06:47] carolinan commented on #17432
Similarly I can drag a meta box while it is inside the sidebar, but I can not drag it from the sidebar to the main area.

[2022-07-19 06:51] carolinan commented on #11976
Still reproducible in 6.0.1 with and without Gutenberg 13.7.0-rc.1

[2022-07-19 06:53] carolinan commented on #15881
Can we close this, since there are no other reported places?

[2022-07-19 07:13] carolinan commented on #18229
Cover:
I am not able to reproduce this with 6.0.1 with and without Gutenberg trunk (13.7.0-rc.1):
I created a new post and opened the code editor. I copy pasted the _before_ markup.
The blocks display with their correct assigned widths.

Video:
[code]

[2022-07-19 07:14] carolinan commented on #18229
@mrfoxtalbot Do you mind opening a separate issue for the video block?

[2022-07-19 07:25] carolinan commented on #21875
I am not able to reproduce this in Chrome, mac os, WP 6.0.1, with and without Gutenberg 13.7.0-rc.1.
( Of course I did need to toggle off the default full screen mode first)

[2022-07-19 07:42] kevin940726 commented on #41031
~~Well, I think we can listen to `isTyping` and only update the ToC block when the user stops typing. The ToC block will update itself with a delay though, but I think it's acceptable in most cases. I'll put up a draft PR using this method.~~

~~Scratch that, I don't think `isTyping` is the right property to listen to. But the idea is the same: defer the update. I'll keep looking.~~

Scratch that

[2022-07-19 07:49] carolinan commented on #24002
I am not able to reproduce using Twenty Twenty on WP 6.0.1, with and without Gutenberg Version 13.7.0-rc.1.
The text size is reduced correctly both in the editor and front.

[2022-07-19 08:10] carolinan commented on #24442
Hi @kmadhak !
Have you already tested if this is still a problem in WordPress 6.0? I am asking because I believe it has been fixed and it would be good to confirm it.

In 6.0:
The pull quote does not have built in style variations anymore.
The block also does not have a color option called "main". It has a background color and text color options.
If the theme enables borders, it also has a border

[2022-07-19 08:25] carolinan commented on #25665
I have not been able to reproduce this with WordPress 6.0.1 with and without Gutenberg.

[2022-07-19 08:44] tellthemachines commented on #33374
Thanks for the feedback @eric-michel !

Yes, that's what I mean.

Agreed! How it works currently, wide alignment is always the same value (say 1100px). But if the container of the wide aligned block is narrower than that value, the block will respect the width of the container, so it will be narrower than 1100px. If the container expands, those 1100px will be respected. I guess it works more as a

[2022-07-19 08:48] fluiddot commented on #42514
I think this might be also related to [this issue](https://github.com/wordpress-mobile/WordPress-Android/issues/15235), as on Sentry, the crash is reported as `Segfault` ([reference](https://sentry.io/share/issue/ab1e2ab600d540aa964a361d54a1dd5d/)). Besides the crash is affecting 95% of Android 12 users which is aligned with the [fix description that states that only affects the Android 12 version

[2022-07-19 08:58] ellatrix commented on #40979
#42503 also fixes this issue.

[2022-07-19 09:27] sweber83 commented on #42434
I'll add an example soon.

[2022-07-19 09:35] carolinan commented on #26386
I can reproduce this.
I also tested with defaultPalette: false and defaultGradients: false in theme.json

Testing with WP 6.0.1, the color panel in the block editor is not displaying when colors are disabled, but the inline color panel is showing, empty:

<img width="815" alt="Screen Shot 2022-07-19 at 11 23 31" src="https://user-images.githubusercontent.com/7422055/179716424-3af72772-e629-46e8-86

[2022-07-19 09:43] elosha opened #42523 "Columns Block: Make column count available in CSS"
## What problem does this address?
It's currently difficult to style _Columns_ et.al. blocks depending on their number of columns.
Examle use cases:
- Let 3+-column blocks break into stacked mobile layout much earlier than 2-column blocks.
- Automatically reduce padding, font-size or letter-spacing inside 3+-column blocks.
- Creative handling of odd column numbers in stacked mode (like 2 + 1 + 2).

[2022-07-19 09:57] stefanfisk commented on #25188
@cr0ybot Here's the code I was using at the time https://gist.github.com/stefanfisk/bb4e045f3d15829a377916dc5fee9acc

I am no longer using this as my needs changed, so YMMV.

[2022-07-19 10:08] ellatrix commented on #39887
@mtias I created a [PR](https://github.com/WordPress/gutenberg/pull/42524). Indentation level is also preserved.

[2022-07-19 10:12] ellatrix commented on #40980
This works now with #42524. This is the content I tried:

[code]

[2022-07-19 10:16] ellatrix opened #42526 "List v2: default blocks styles (margin) applied to list items"
We currently have the following CSS applied to all blocks:

[code]

But for list items this isn't a good default. I don't think this **generally** is a good default to have either. Themes should define margins, not us. I remember discussing this with @jasmussen once upon a time.

[2022-07-19 10:35] #31692 closed, assigned to nobody

[2022-07-19 10:36] Lovor01 commented on #42277
Glad to be of help - I am clossing this issue now.

[2022-07-19 10:36] #42277 closed, assigned to nobody

[2022-07-19 10:37] dinhtungdu opened #42528 "FormTokenField: Suggestion is expanded on load when `__experimentalExpandOnFocus` is set to `true`"
### Description

If `__experimentalExpandOnFocus` is set for `<FormTokenField>` component, the suggestion list is expanded after page load without any user interaction.

### Step-by-step reproduction instructions

1. Add the following story to `packages/components/src/form-token-field/stories/index.tsx`:
[code]
2. See suggestion list is expanded without focusing on the token input field.

Note: Th

[2022-07-19 10:58] dmsnell commented on #5506
I'm not completely following what you wrote here. _If_ we get a DOM instance of something in the event we can access it, but on the other hand, if we can accomplish what we need without reaching into the DOM that generally has a number of advantages in React.

Dataflow is hard though, and keeping things more "pure" involves some complications, like passing these event handlers down from parent to

[2022-07-19 11:39] t-hamano commented on #28484
I couldn't be able to reproduce the problem with the latest WordPress and Gutenberg, but just to be sure, I tested again in an environment similar to the one in which you reported the problem.

- WordPress version: 5.6
- Gutenberg version: 9.8.1
- Theme: Twenty Twenty
- Operating system: Windows 11
- Browser: Vivaldi 5.3.2679.68 (Stable channel) (64-bit)

As a result, I couldn't be able to reprodu

[2022-07-19 11:39] #28484 closed

[2022-07-19 11:44] afercia commented on #39124
Worth mentioning that also when _deleting_ a template (e.g. a custom template) there's no confirmation step. Is there a specific issue for that already?

<img width="1117" alt="Screenshot 2022-07-19 at 13 43 50" src="https://user-images.githubusercontent.com/1682452/179742351-4bc5535b-464e-4ded-9148-29e8eb4279e6.png">

[2022-07-19 11:50] RuuddM commented on #38917
I would love an update on this issue as well. Besides that this issue freaks out clients and does not reflect well we are working with website which have to adhere to accessibility standards and will go through an audit which will fail based on this issue. And it seems like I'm not the only one with this problem here. Any news?

[2022-07-19 12:00] tyxla commented on #35503
I tinkered a bit today with `useSuspenseSelect` with the site editor, here's a proof-of-concept:

#42525

I'm heading AFK until the end of next week, but when I'm back I'm happy to continue experimenting with this.

[2022-07-19 12:04] jameskoster commented on #34352
Here’s a design concept based on the discussions here and in other issues.

I’ve stripped things back to the bare minimum so that we might consider an iterative implementation. The steps necessary to get here feel _fairly_ manageable, and align with on-going work across other initiatives (template editing).

https://user-images.githubusercontent.com/846565/179743210-3ff78bcf-7820-413d-9dfb-ced704b

[2022-07-19 12:13] ntsekouras opened #42533 "[Query Loop]: Improve block variations in blocks with pattern setup flow"
### Description

Currently in Query Loop and Template Parts we use the pattern setup flow, where a user can choose and insert directly a semantic pattern or some default block variation(`scope: block`).

Right now we have only one variation that is exposed to the inserter(`Posts List`), but that is subject to change with [this issue](https://github.com/WordPress/gutenberg/issues/40941). The proble

[2022-07-19 12:28] t-hamano commented on #42419
Related PR: #42421

[2022-07-19 12:38] afercia commented on #42505
Additionally: the blue dot to indicate a template has been customized shows some info only on hover. There's no other indication available that informs keyboard users or assistive technology users a template has been customized.

<img width="882" alt="Screenshot 2022-07-19 at 14 35 05" src="https://user-images.githubusercontent.com/1682452/179751997-7df33cf6-df8d-49ff-b904-e89cc8215bc7.png">

[2022-07-19 12:52] t-hamano commented on #24931
As this issue has been properly handled by #39795, so we closed the related PR #25023.
Therefore, we would like to close this issue as well 👍

[2022-07-19 12:52] #24931 closed

[2022-07-19 13:08] t-hamano commented on #42506
**'Open in new tab'** option has been introduced in many core blocks:

- `core/avatar`
- `core/button`
- `core/comment-author-name`
- `core/comment-edit-link`
- `core/file`
- `core/gallery`
- `core/image`
- `core/post-author-name`
- `core/post-title`
- `core/read-more`
- `core/site-logo`
- `core/site-title`

Since social icon links are supposed to be external links, so this suggestion makes a lot

[2022-07-19 13:10] ndiego commented on #37582
I was just testing this, and a custom Paragraph link color seems to always be respected now over the Group link setting.

However, the following applies in the Editor, which is quite unintuitive:

[2022-07-19 13:10] mrwweb opened #42535 "Selecting Parent Block Selects Child Block in Firefox"
### Description

In WordPress 6.0 when using Firefox, there is a bug that makes it very difficult to select parent blocks.

When clicking the parent block (and explicitly outside a child block) the parent block is briefly selected and then the nearest child block is selected.

I have observed this behavior in the Group block, Columns block, and Media & Text block content container (clicking the im

[2022-07-19 13:14] ndiego commented on #32937
Removing the "In Progress" label as there is no active PR.

[2022-07-19 13:20] ndiego commented on #30246
In following the testing steps, this issue appears to no longer exist. @youknowriad are you comfortable with closing this issue?

[2022-07-19 13:26] gziolo commented on #42277
It's now resolved in the `trunk` in WordPress core. I'm checking how to propose it for inclusion in the potential 6.0.2 patch release.

[2022-07-19 13:28] ciampo commented on #41845
cc @andrewserong and @aaronrobertshaw

[2022-07-19 13:42] mrwweb commented on #42535
It's a little harder to replicate, but I think I just experienced this in the Buttons block as well (selecting the nearest button). I appreciate the High Priority label and agree. This really degrades the user experience. It's been both annoying and directly led to multiple errors (e.g. applying background to child block rather than expected parent).

[2022-07-19 13:49] mrwweb opened #42536 "Add space-around justification option to Buttons Block"
## What problem does this address?
The buttons block provides four alignment options which does not include all the potential values for `justify-content` in a flex container. I find that the `space-around` value in particular can be a really nice way of centering and filling available space, and so don't know why it's not available.

## What is your proposed solution?
Add support for `justify-con

[2022-07-19 13:55] #39887 closed, assigned to ellatrix

[2022-07-19 13:55] #40980 closed, assigned to nobody

[2022-07-19 14:29] ndiego commented on #29519
This issue was [reviewed today](https://wordpress.slack.com/archives/C02QB2JS7/p1658240254761419) during the Editor Bug Scrub. Given that it appears to be primarily related to the RTL testing plugin, we have decided to close this issue. If anyone feels differently, feel free to reopen and provide additional context.

[2022-07-19 14:33] ndiego commented on #30334
I just tested and confirmed this bug.

[2022-07-19 14:54] ndiego commented on #31839
I have tested, and this is no longer an issue in the latest version of Gutenberg. I believe this can be closed.

[2022-07-19 14:57] chrisvanpatten commented on #42442
Help me @gziolo you're my only hope 😅

[2022-07-19 15:24] #42514 closed, assigned to dcalhoun

[2022-07-19 16:20] ellatrix commented on #42499
Consider the following setup:

* 1
  * 2
* 3
  * 4

Place the caret before "3" and merge.

Trunk, Apple Notes, Apple Pages, CKEditor:

* 1
  * 23
  * 4

Google Docs only removes the bullet (strange), but if you press Backspace 3 times you get the result above as well.
Draft.js does something similar, but press Backspace twice and you get the result above.

TinyMCE:

* 1
  * 23
    * 4

So it seems

[2022-07-19 16:26] #39433 closed, assigned to mirka

[2022-07-19 16:48] annezazu commented on #25665
Thanks @carolinan for following back up. Going to close this out as a result of your recent testing :) Let me know if it needs to be re-opened and I'll be happy to do so.

[2022-07-19 17:08] cheestudio commented on #38917
@RuuddM This is certainly frustrating, and it sucks even more to have to do this: but if you use LiteSpeed cache, you can aggregate inline CSS to a file in the <head> and it will pass audits and validation. I imagine WP is going to need to address this rather soon, since it is now happening on all sites that use Core Blocks. I'm stunned at the sloppy and amateur implementation of the Block CSS.

[2022-07-19 18:30] cuemarie commented on #38409
Looks like specifically the navigation block and overlapping toolbars is being discussed/worked on here: https://github.com/WordPress/gutenberg/issues/40382

I'm not sure if this issue is the exact same, or a related issue but impacts other blocks as well, so leaving open for other to determine that.

[2022-07-19 19:39] eric-michel commented on #33374
@tellthemachines this is a super helpful conversation!

I'm glad you mentioned this specifically because I think it drives to the core of where folks differ between supporting the old mechanism (just having all alignment options always available) vs supporting the new paradigm (needing to define alignment options on a container-per-container basis).

We built our theme around the idea of width ali

[2022-07-19 20:10] eric-michel commented on #42385
This is a very cool demonstration! I love the sandbox to allow for testing of the features!

This is what I'm immediately curious about as well. Right now, Gutenberg doesn't really have a lot of options for controlling how things will shift when the screen size shrinks. In any case where I want something even remotely complex (like 3 column shifting to 2/1 instead of 1/1/1) I usually swap to a `ro

[2022-07-19 20:31] mirka commented on #42528
Confirmed, the bug is [here](https://github.com/WordPress/gutenberg/blob/ca9ece20cd7a4c954845034f18a505a10e745025/packages/components/src/form-token-field/index.tsx#L529-L530).

[2022-07-19 20:51] Simbaclaws commented on #33374
Question:

How do I add support for these types of layouts within my custom block theme that I am making?

Whenever I set a layout in a single post or single page. That single post or page doesn't have the styles applied it should (max-width for example).
Which class names am I missing to get this to work by default?

Is there any documentation on setting up custom layouts for your block themes?

[2022-07-19 21:00] mirka opened #42540 "Improve accessibility linting of styled/polymorphic components"
## What problem does this address?

As surfaced in #42461, our current [`jsx-a11y`](https://github.com/jsx-eslint/eslint-plugin-jsx-a11y) setup does not provide coverage for Emotion styled components and polymorphic (`as` prop) components. This is problematic as more of our codebase is moving toward styled/polymorphic components.

## What is your proposed solution?

Some possibilities:

- [eslint-

[2022-07-19 21:21] mirka commented on #42461
Thanks for raising this issue, it's not good that we basically have zero accessibility linting coverage on these types of components. I do generally think this type of problem should be addressed with linters, rather than blocking event handlers at the code level (mostly for scalability reasons, since there are a lot of `as` prop components and many conditions for things to cause accessibility iss

[2022-07-19 21:54] bph opened #42542 "New Block: Time to Read"
A  **Time to Read** block would allow for site owners and theme builders to display the estimated time to read of the particular post or page to the frontend on single post templates or from within query loops in Archive templates.

Maybe the [existing information form the table of contents panel](https://github.com/WordPress/gutenberg/pull/41611) can be stored into post meta key/value on save/pub

[2022-07-19 22:01] bph commented on #42516
- [ ] replace "Once the stable version is released, the release post is published, including a [performance audit](https://developer.wordpress.org/block-editor/block-editor/contributors/testing-overview/#performance-testing)." with "The performance audit runs automatically, but the numbers need to be pulled and included in the release post."
In case the GitHub Action fails, the performance audit n

[2022-07-19 22:04] bph commented on #42516
When releasing the stable version, a special GitHub action is executed running the performance suite for this GB version, the previous one, and the current WP version.

The performance audit rund approximately 50 minutes

Use rows `firstBlock` and `type` from the results.

**- Time to the first block = firstBlock
- KeyPress Event (typing) = type**

Performance audit results example:
([13.6](https:

[2022-07-20 01:53] tellthemachines opened #42543 "Can't add description to ToolsPanel as per readme example"
### Description

When adding a description inside the ToolsPanel component, using the syntax provided in the [component readme example](https://github.com/WordPress/gutenberg/blob/trunk/packages/components/src/tools-panel/tools-panel/README.md#usage), the layout appears broken:

<img width="277" alt="Screen Shot 2022-07-20 at 11 54 31 am" src="https://user-images.githubusercontent.com/8096000/1798

[2022-07-20 04:27] andrewserong commented on #42253
Separately to this issue, I've been looking at a bit of global styles loading lately, so thought I'd drop a few links here in case it helps with the debugging. I'll just ping @draganescu @scruffian and @getdave here, since they've been more involved in the `__experimentalStyle` feature, I believe! 🙂

I'm wondering if part of the issue here could be to do with how loading separate core block assets

[2022-07-20 04:36] t-hamano commented on #31839
I tested again, and it didn't reproduce in the latest Gutenberg.

I would like to close this issue as it should have been resolved by #40505.
(The PR was merged in 13.2, so it’s not include in WP 6.0)

Here are the test results:

## WordPress 6.0.1 without Gutenberg (Reproduced)

https://user-images.githubusercontent.com/54422211/179897061-f9f1637f-3259-4052-bc6f-50e5eeaa0b40.mp4

## WordPress 6.0

[2022-07-20 04:36] #31839 closed, assigned to ajlende

[2022-07-20 04:45] dinhtungdu commented on #42528
@mirka Tracing the history, I found that this issue is a regression introduced in https://github.com/WordPress/gutenberg/pull/41216.

[2022-07-20 04:49] adamwoodnz commented on #42253
I tested a few themes today and I’ve found that the moved styles are available in the block themes Twenty Twenty-Two and [Poe](https://wordpress.org/themes/poe/), but not available in the classics Twenty Twenty-One and Twenty Twenty, which seems to support this theory.

[2022-07-20 04:58] derekblank commented on #42515
I took a look at this one, and believe the issue is due to this [early return](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/video/edit.native.js#L239-L254) block before the render function that displays the MediaPlaceholder when no id is present:

[code]

Although the edit.native.js Video block file is setting the `id` attribute to be the new video URL [here](https:

[2022-07-20 05:01] t-hamano commented on #42292
The problem seems to be that `.wp-block-button__link` styles override the style by `theme.json`.
It may be effective to use `:where` to set the specificity to zero.

![button](https://user-images.githubusercontent.com/54422211/179900657-233e73cb-17ae-40b7-8e90-0f9744b22616.png)

[2022-07-20 05:47] andrewserong commented on #39336
***Update 2022/07/20***:

* The PR (#42085) to add in Core CSS support for root padding and factoring padding in when outputting `alignfull` styles has been merged.
* Determined in #42518 that for now the `body` element is still required for base layout rules. Will revisit that further down the track as the Layout support stabilises.

In Progress PRs:

The focus currently is on adding in a few new

[2022-07-20 07:21] #40791 closed, assigned to Mamaduka

[2022-07-20 07:25] t-hamano commented on #19192
@talldan

At the time this discussion, the JSON schema did not exist.
But now, validation can be done on the code editor.
Is validation with JSON schema worth resolving this issue?

![block json](https://user-images.githubusercontent.com/54422211/179922218-7824047a-a737-4683-866d-2213db568368.png)

[2022-07-20 07:34] carolinan opened #42547 "Buttons: Can not change global style font size if a size is added using theme.json"
### Description

If a theme adds a font size to buttons using theme.json, (styles.blocks.core/button.typography.fontSize)
the size does not change when the option under Styles > Typography > Buttons > Size is used.

Using Twenty Twenty-Two, this is the CSS output in the Site editor:

[code]

And on the front, I can not see that the font size from the global style setting is added at all, instead,

[2022-07-20 07:39] carolinan commented on #42547
Note this is the blocks.button not _elements_. I have not tested elements as part of this issue.

[2022-07-20 07:42] fabiankaegy opened #42548 "Add option to block API to only allow root level insertion"
## What problem does this address?

There are instances where a block should only ever exist at the root level of the block editor. It should never be nested within a Group or any other InnerBlocks area. Examples of this are things like the Page Header Template Part. Also when building custom blocks this is something that comes up here and there.
Often this is best paired with the `supports.multip

[2022-07-20 08:02] talldan commented on #19192
Thanks for pointing that out @t-hamano, I think that's a good enough reason to close this issue. The tooling is there now for anyone that wants it.

[2022-07-20 08:02] #19192 closed

[2022-07-20 08:07] jameskoster commented on #41060
I think headers and footers will be covered by the work in https://github.com/WordPress/gutenberg/pull/42142, so this issue can concentrate solely on templates.

[2022-07-20 08:28] tellthemachines commented on #33374
Sure, provided there is already a content width defined on the container (this is the case with the Post Content block in most block themes; that's why we usually have wide and full options available on top-level blocks inside the post editor). If there is no content width defined, all blocks go full width, because that's what HTML does by default. In that case, wide and full options are unnecessa

[2022-07-20 08:32] #35955 closed, assigned to tellthemachines

[2022-07-20 08:33] #42177 closed, assigned to t-hamano

[2022-07-20 08:54] #42420 closed, assigned to getdave

[2022-07-20 09:08] #40490 closed, assigned to fabiankaegy

[2022-07-20 09:32] Zodiac1978 commented on #10307
How about ignoring the query in comments @danielbachhuber like this:

[code]

[2022-07-20 09:45] jameskoster opened #42554 "Query in `front-page` template should respect homepage settings"
If you configure homepage settings to display a static page, then place a Query in the `front-page` template, that Query will incorrectly display posts, while the frontend correctly displays the page content:

<img width="1644" alt="Screenshot 2022-07-20 at 10 41 18" src="https://user-images.githubusercontent.com/846565/179951246-60a8b98c-31cf-44c7-a097-d69b80990d8c.png">

Ideally, any Query in th

[2022-07-20 09:50] getdave commented on #42229
As far as I'm aware there is no reason not to stablise this selector. Also noting [it is not widely used](https://github.com/WordPress/gutenberg/search?q=__experimentalGetGlobalBlocksByName).

[2022-07-20 10:04] #42313 closed, assigned to t-hamano

[2022-07-20 10:17] getdave commented on #37604
This could be because the endpoints no longer 403 for lower perm users:

[code]

[2022-07-20 10:23] #42318 closed, assigned to ajlende

[2022-07-20 10:40] afercia opened #42557 "Templates list: info on whether a template has been customized should be accessible"
### Description

Splitting this out from https://github.com/WordPress/gutenberg/issues/42505

In the Templates list, the blue dot to indicate a template has been customized shows some info only on hover. There's no other indication available that informs keyboard users or assistive technology users a template has been customized.

There should be some text to provide this information in an accessi

[2022-07-20 10:42] paaljoachim commented on #30121
As we are talking about sticky/fixed options....

### Sticky/Fixed option for the Navigation block.

I am these days redoing lots of older tutorials. One of them is for the old Genesis theme Altitude Pro one page child theme. Instead of the usual old Altitude Pro theme that uses widget sections. I decided to add internal links to the Navigation and Cover blocks with background images further down

[2022-07-20 10:51] Ezyweb-uk commented on #15084
In WP v6.0.1 I noticed that padding is only applied when the group style was changed from the default 'column' style to 'cover'. I had created the group and moved a shortcode block into that group. When I tried returning the group style to 'column' it added another group. I retested creating a group and adding a paragraph block, no padding was applied and no theme conflict evident in Inspector. Th

[2022-07-20 10:53] Mamaduka commented on #42229
I think styling enhancements aren't necessary blockers for stabilization. These can be done after.

The "Table of Contents outside of the post content" is nice to have but not a blocker, in my opinion. My best guess is that we'll have to use dynamic rendering and parse content blocks to achieve this.

The "undo bug" breaks editor history, so it probably should be fixed before we consider stabilizi

[2022-07-20 11:02] gziolo commented on #42548
@fabiankaegy, thank for raising the issue. It would be great to double check if we already have something similar tracked in https://github.com/WordPress/gutenberg/issues/41236. Otherwise we should add it to the list of tasks there.

It would be interesting to explore whether we can have more options for the `parent` and `ancestor` fields like:
- `core/post-content` – would be a good fit for block

[2022-07-20 11:09] gziolo commented on #42513
It was a design decision to use the Function object in `turbo-combine-reducers` to achieve 82x improved performance over what Redux offered at that time. We should evaluate alternatives and ensure that it doesn't impact the performance of the editor.

Aside: I don't think that this library needed any updates in the last 4 years as it does a single thing that was extremely optimised.

[2022-07-20 11:11] fabiankaegy commented on #41236
@gziolo I have reviewed the items that are already tracked here and I myself have created 3 issues recently that I think could all be added:
- https://github.com/WordPress/gutenberg/issues/42548 (the one you added the comment to)
- https://github.com/WordPress/gutenberg/issues/42342
- https://github.com/WordPress/gutenberg/issues/38958

[2022-07-20 11:24] gziolo commented on #42442
The following works:

[code]

Out of curiosity, why do you need to expose all other APIs from the mock?

[2022-07-20 11:32] ndiego commented on #42229
Yeah, I am all for stabilizing. I just don't think we should include it in Core until the block is a bit more full-featured. While a great step forward, it feels incomplete.

[2022-07-20 11:35] fluiddot commented on #38407
Updated the parent post with:

### 🛠️ Recently fixed or improved
++ [Inserter displays block collections](https://github.com/WordPress/gutenberg/pull/42405)
++ [Add `shouldUseFastImage` capability for the Image component](https://github.com/WordPress/gutenberg/pull/42474)
++ [Correct alt text footnote spacing](https://github.com/WordPress/gutenberg/pull/42504)
++ [Runner config - Update Xcode to 1

[2022-07-20 11:47] gziolo commented on #42442
The issue is that for some reasons the mock is evaluated twice when using `jest.requireActual`:

<img width="726" alt="Screenshot 2022-07-20 at 13 41 20" src="https://user-images.githubusercontent.com/699132/179973472-002ad2c7-5f87-411e-8966-d7b08ae1b7ea.png">

When I test with:

[code]

Some paths look surprising in the repository included to reproduce the issue (with all my changes removed):

<i

[2022-07-20 11:52] msurdi commented on #23428
I've just created a pure Gutenberg example, based on one of the existing storybooks.

Here are the steps to reproduce the problem:

1. Check out the `reproduce-issue-23428` branch from [here](https://github.com/msurdi/gutenberg/tree/reproduce-issue-23428)
2. Run `npm install` and `npm run storybook:dev`
3. Open a browser at `http://localhost:50240/?path=/story/playground-block-editor--default`
4.

[2022-07-20 12:00] wpsoul opened #42560 "PluginSidebar is not working in FSE environment"
### Description

I believe that [Sidebar plugin](https://developer.wordpress.org/block-editor/reference-guides/slotfills/plugin-sidebar/) should work on all Gutenberg pages, but currently it's working only on post types.

In the same time, I didn't find any documentation how to add plugins to FSE pages.

### Step-by-step reproduction instructions

1. Use [Sidebar plugin](https://developer.wordpres

[2022-07-20 12:08] jornfranke commented on #42513
I understand the motivation and the decision that was made years ago was probably valid at this time, but many enterprises nowadays want to enforce more strict CSP, which is also justified. One can look at different things  - is this library in any case needed, for what is it used in Gutenberg? Do you still have the code that it replaced due to higher performance?

[2022-07-20 12:18] gziolo commented on #42513
Sure, it's `combineReducers` from `redux`. (https://redux.js.org/api/combinereducers)

[2022-07-20 12:30] carolinan commented on #37997
This is still a problem, but with Gutenberg increasing the minimum required WP version, I don't see a way for this to be fixed for users on older WordPress versions.

[2022-07-20 12:30] #37997 closed, assigned to vcanales

[2022-07-20 12:34] #31378 closed, assigned to nobody

[2022-07-20 12:50] chrisvanpatten commented on #42442
@gziolo Removing the requireActual worked perfectly! Applying the Babel transformer from the Gutenberg repo did _not_ work — I was still getting the same error as before about "Cannot read property 'AsyncModeProvider' of undefined" but I'll re-review after Jest 28 is available and integrated into `wp-scripts`.

Thank you!

[2022-07-20 12:56] mrwweb commented on #40331
I do not like it and find that it's hard to write descriptive enough labels in the available space. I wouldn't say "encourage" but rather "enforce." I honestly think it should just be reverted to show the whole label, but some kind of override would be acceptable. If there is a huge concern about the space it takes up, using a select menu or a scrollable container would be an improvement over the

[2022-07-20 13:30] sebastienserre opened #42561 "Pattern localisation doesn't work"
### Description

Hello,

@MarieComet (@chaton666 on wp.org ) has reported a bug on wordpressfr.slack.com (French WordPress community Slack) and first thought if was a Polylang (I'm working at Polylang support) issue. This is why I'm opening this issue.

I've reproduced its issue without any plugin.

I'm attaching a plugin to reproduce the issue and also a video to understand it as English  is not

[2022-07-20 13:33] t-hamano commented on #30466
@gziolo

I added the option (`{boolean: true}`) and it appears to have parsed correctly.
Is this approach appropriate? 🤔

[code]

![minimist](https://user-images.githubusercontent.com/54422211/179995296-a27f667a-41ea-4504-b978-9fbf69825ced.png)

[2022-07-20 13:54] gziolo commented on #30466
@t-hamano, that looks promising. Let's try that approach 👍🏻

Good news is that native experimental args parsing came to Node 18.3:

https://nodejs.org/api/util.html#utilparseargsconfig

They develop it also as a package available on npm: https://github.com/pkgjs/parseargs.

[2022-07-20 13:58] getdave opened #42563 "Remove block placeholder in favour of list of Pages as fallback state"
We are [aiming to normalise the behaviour of the Navigation block across both the Editor and the front of the site](https://github.com/WordPress/gutenberg/issues/38291#issuecomment-1171582948).

Many Themes utilise the Page List block (as an inner block) as a _fallback_ experience to ensure the user sees some content if a `wp_navigation` is not assigned to the block.

In https://github.com/WordPre

[2022-07-20 13:58] #42499 closed, assigned to ellatrix

[2022-07-20 14:25] chrisvanpatten commented on #42442
@gziolo unfortunately I remembered why I wanted to use `requireActual`…

I've [updated the test suite](https://github.com/chrisvanpatten/wp-scripts-unit-test-case/commit/f7d2d78a3d60f624ab6c1bc9e6498fd5f6ef4bd7) to show an example of a component which imports from `@wordpress/components`. When you don't `requireActual` so the rest of the package is available, you start getting errors about other m

[2022-07-20 14:27] richtabor commented on #34352
Love where this is going @jameskoster; a few notes:

🔥

My hesitation is the with the use case of employing the Blank template for one-off page designs (such as landing pages). By assigning the Blank template, you can pick any header you'd like (or none) if they're added as patterns – not just template parts.

I this is great — I've been thinking along similar lines. We could start with auto-synci

[2022-07-20 14:32] chrisvanpatten commented on #42442
This StackOverflow answer about using a Proxy seems relevant: https://stackoverflow.com/a/70174052

[2022-07-20 14:55] hellofromtonya opened #42565 "Fatal error on PHP 5.6 for using `isset()` on class constant `WP_Theme_JSON_6_1::VALID_ELEMENT_PSEUDO_SELECTORS`"
### Description

Introduced with PR #41786 which added a class constant `WP_Theme_JSON_6_1::VALID_ELEMENT_PSEUDO_SELECTORS` to define an array of valid pseudo selectors for a list of elements.

When activating (or updating) Gutenberg plugin, a fatal error happens:
[code]

Why?

Before PHP 7.0, `isset()` does not work with constants (see it in action here https://3v4l.org/lrFo3#v5.6.40) and will th