[2021-11-18 11:49] jameskoster opened #36609 "Query block: Add a configurable "no posts found" state"
This is particularly important for the search template in block themes. Currently, if a search returns no results then the query renders nothing on the frontend:

https://user-images.githubusercontent.com/846565/142409239-4ef65876-86ce-43b4-bbda-dbfa91f8e7cb.mp4

Ideally it should at least inform the visitor that no results were found for their search term. But it would be better to offer folks a

[2021-11-18 11:59] jameskoster opened #36611 "Add "clear customizations" action to templates list"
In the template editor it's possible to clear customisations made to theme-supplied templates like so:

<img width="335" alt="Screenshot 2021-11-18 at 11 57 31" src="https://user-images.githubusercontent.com/846565/142411301-abd83fad-e328-4e60-a90a-844720fc734d.png">

When the template is reverted a Snackbar appears with Undo affordance:

<img width="277" alt="Screenshot 2021-11-18 at 11 58 26" sr

[2021-11-18 12:01] ntsekouras commented on #36545
This cannot be done, because now we don't have a way of calculating dynamic values (css vars, clump, etc...). So if we have at least one such value we show the `select control`. The current check for displaying the segmented control is if we have less than five options and if all of them are simple css values(no dynamic calculation).

The proper solution is to calculate the dynamic values which is

[2021-11-18 12:02] Mamaduka commented on #36544
Do we have the final design/specs for this issue? I can start working on follow-up PR.

[2021-11-18 12:15] jameskoster opened #36612 "Mark templates that are used for key pages"
It's often the case that a generic template (e.g. `page` or `index`) is the one responsible for displaying the site front page. In these scenarios it might be helpful to indicate the relevant template in the templates list.

[2021-11-18 12:16] getsource commented on #36589
Thanks for writing up this issue!

I agree. I was a bit confused when I was testing this feature. It wasn't clear when I clicked on "edit" (or "add") for a menu whether it was broken or working as intended, and what to do to move forward to edit menus, as is expected with the "classic" menu editing flow.

If the classic menu support/block ends up landing (not 100% sure if it'd be linked to that is

[2021-11-18 12:23] jameskoster opened #36613 "Replace "Template Parts" list with area-based alternative"
Part of #36597

The Template Parts list works well:

<img width="1503" alt="Screenshot 2021-11-18 at 12 17 20" src="https://user-images.githubusercontent.com/846565/142413947-a92224dd-d2af-46f7-805c-1211b650696d.png">

However, "Template Parts" is a fairly technical term that we arguably shouldn't be surfacing unless absolutely necessary. Since template parts can be associated with specific areas,

[2021-11-18 12:28] ghost opened #36614 "Not able to edit post title some time"
### Description

Not able to Edit post Title, It is happening some times only.

### Step-by-step reproduction instructions

Steps : Create a new post - Add post title - add font family, size, colour - save it - try to change post title

### Screenshots, screen recording, code snippet

Video : https://www.screencast.com/t/wGaa6Z2lFbMe

### Environment info

- WP version : 5.8.2
- Gutenberg : 11.9.1

[2021-11-18 12:51] manooweb commented on #36576
Hi @getdave,

I can answer to the latest question and maybe partially to the third one and as you saw in the conversation on slack.

In fact, in Polylang plugin we have a specific language switcher menu item we can use in the classic menu. It is specific because it is not a menu item as the other ones because it doesn't generate a simple link but several links (one per language).

The current migr

[2021-11-18 12:56] ockham commented on #36096
Thanks for replying @gziolo! I'm not sure I understand 100% -- can you clarify what needs to be done in order to have that console `TypeError` cause the test to fail? 😅

[2021-11-18 13:13] priethor opened #36615 "Verify classic templates work as a fallback to block ones"
### Description

For the WordPress 5.9 release, we need to ensure themes can work in a hybrid mode so that they load block themes when available but can also use PHP ones as a fallback. For example, a block theme with an archive PHP template but no HTML one should be able to find and use the PHP template.

### Step-by-step reproduction instructions

1. Install a block theme.
2. Create two versions

[2021-11-18 13:19] getdave opened #36616 "Allow for hooking into conversion from classic Menu to Nav block"
As per https://github.com/WordPress/gutenberg/issues/36576#issuecomment-972837892 there is a requirement for developers to be able to hook into the process which converts classic menus into navigation blocks.

Currently this is handled on the JS side in the following method of the Navigation block:

https://github.com/WordPress/gutenberg/blob/b8fd765d210daaf25967dd8ff86ad2de593ba4ca/packages/block

[2021-11-18 13:40] getdave commented on #36576
@manooweb Thank you for your replies. It's great to have this use case requirement clearly illustrated.

Let's keep _this_ Issue specific to your later point regarding the (possible) need for a Legacy Menu block.

I created a separate Issue in order that we can discuss [the requirement for hooking into the conversion from classic Menu to Navigation block](https://github.com/WordPress/gutenberg/iss

[2021-11-18 13:49] jhnstn commented on #36364
Thanks for checking this @hypest. You're right about this not being in chrome. It's the Google app (which I often forget is not chrome 😄  ) FWIW I use the beta version of the Google app.

I'll update the issue with this info.
Thanks!

[2021-11-18 14:46] hypest commented on #36364
Ah, I see, thanks for clearing it up. Yeap, I can replicate with copying via the Google app. For the record, I tried on Android 11, Google app v12.44.23.23.arm64.

Also, it's weird how I actually got it working once, that is, I got the editor to pick up the URL automatically, but can't replicate 🤔.

Anyway, this is indeed something we should look into.

[2021-11-18 14:52] getdave commented on #36616
@manooweb Apologies. I just re-read the above and actually I can't see how this would work. You would need to save your Menu Item in classic land with a `type` field of `block`. That's never going to be achievable as the UI will then look very strange on the classic Menu screen.

I'll ponder on this a bit more and see if I can come up with some concrete solutions. If there's a way I can setup Poly

[2021-11-18 14:55] hypest commented on #36364
Actually, I see that trying to paste the copied link doesn't work on Google Keep either! It does work on Chrome proper though. So, looks like the following cases are happening:
1. ❌ gutenberg-mobile/WPAndroid doesn't pick up the copied URL from the clipboard when we try to directly add a link to a paragraph block.
2. ✅ gutenberg-mobile/WPAndroid *does* work if you try to paste in the paragraph blo

[2021-11-18 14:58] shimon246 commented on #35912
@aristath
Thanks for the reply! I guess it was still impossible in the current situation.
I've created a ticket in the core with an idea to solve this problem, can you take a look here?🥺https://core.trac.wordpress.org/ticket/54457

[2021-11-18 14:59] ryanwelcher commented on #36487
@pdewouters what are the contents of the block.json file you are using for this example? I'm going to see if I can reproduce this locally.

[2021-11-18 14:59] Mamaduka commented on #36563
The problem here is that core data limits received items to ten when the `per_page` argument isn't provided. It is okay for most of the endpoints since they return ten items by default as well. But can cause unexpected behavior likes this for others.

You can find more details in this issue - https://github.com/WordPress/gutenberg/issues/15413#issuecomment-743800831.

I think the easiest way to re

[2021-11-18 15:16] mrwweb commented on #36057
Definitely in favor of Inherit Layout on by default. My first two Classic theme's that use `theme.json` have needed this.

While I think I understand the concerns about changing the default (back compat, non-body block areas), I can't get over the fact that m**y expectation is that layout is inherited and "just works" when I insert a group block when creating a post.** When inherit layout is not d

[2021-11-18 15:36] #36529 closed, assigned to geriux

[2021-11-18 15:40] vheinrich opened #36620 "Gallery: Add image to existing Gallery overwrites existing Images Selection"
### Description

When you already added a Gallery Block with some images and want to add more images, the new images arent added to the selection. instead these new images replace the whole former gallery image selection.

### Step-by-step reproduction instructions

1) Add a Gallery with images
2) Save the post / page
3) Edit the post and go to the Gallery Block to the Button "Media Library"
4) Se

[2021-11-18 15:56] torounit commented on #36401
Thanks ! @Mamaduka @mkaz

Where should I put my Dev Note? In the comments section of PR?

[2021-11-18 15:58] jameskoster commented on #36597
Overall the screen is responsive as demonstrated in https://github.com/WordPress/gutenberg/pull/36379#issuecomment-966271773. However it would be nice if the nav drawer automatically closed itself when you resize the window from desktop orientation down to mobile.

[2021-11-18 16:30] lbgitjp commented on #25717
I have the same problem.

[2021-11-18 16:34] shaunandrews commented on #35558
Maybe this could be simpler, and not treated so importantly. For these "dynamic" values, I think we could just dim the text color and update the unit to the "*".

<img width="561" alt="image" src="https://user-images.githubusercontent.com/191598/142456686-8767cc47-9896-4509-a2c6-ef41ced4b1e1.png">

Then we could use a tooltip to explain the "*" unit when hovered:

<img width="701" alt="image" src=

[2021-11-18 16:34] mkaz commented on #36401
Hi @torounit - yes, you can put it as a comment in the PR itself, or you can also add as a comment on this PR. I can help review and get it published when ready. Thank you!

[2021-11-18 16:35] #36489 closed, assigned to nobody

[2021-11-18 16:54] ndiego opened #36624 "alignRight/Left not displaying properly in Column and Cover blocks (maybe others as well)"
### Description

Many blocks include align left/center/right options, notably the Site Logo and Image blocks. If you add an Image block to a Group block and apply align right, the following CSS is applied.

[code]

The `.wp-container-25` is a unique reference to this specific Group block.

However, when you convert the Group block into a Columns block, this generated CSS is not there. The same is

[2021-11-18 16:56] mtias commented on #36524
In that case you'd just reference the one that's already created since you want it to be reusable.

It's not about decoupling, it's about not forcing a user to name and deal with an abstraction when it's not necessary. The place where a user first creates a menu carries enough contextual meaning to handle the naming we need for the CPT.

When a user is inserting a new navigation block, it's the bl

[2021-11-18 16:57] ndiego commented on #36606
@andrewstaffell thanks for posting this issue, you beat me to it! I am actually working on a fix for this right now.

[2021-11-18 17:20] jameskoster commented on #36594
I believe this is somewhat related: https://github.com/WordPress/gutenberg/issues/35503

[2021-11-18 17:35] mtias commented on #36575
Name and slug should match, we should generate a name "{Template Part Name} Menu" that WP also saves as a slug as it normally does. The name is useful for the focused template part display, etc.

Regarding the "save as" the idea is to align with other blocks that have saving flows (reusable blocks, etc). This last point is not targeted for 5.9 as it's an ongoing area of work and ideation.

[2021-11-18 17:37] kjellr commented on #35607
@noisysocks I think we should keep this in 5.9 must-haves for now. It's still a must-fix issue in Twenty Twenty-Two, and I don't think we'll be able to come to a solution there without a pretty weird workaround.

[2021-11-18 17:40] kjellr commented on #35558
I like that, @shaunandrews! Instead of "This value is calculated automatically", maybe something like "This is a custom dynamic value" or something like that?

Either way, that's a small detail that I think we can refine — I'd love to see a PR to try this out.

[2021-11-18 17:57] mtias commented on #36524
Writing some aims down in case it helps contextualize things:

- Keep nested structures as lean as possible. "Menu areas" are adding an extra layer of nesting that we should aim to reduce.
- The footprint of a block should be easy to read and align with the rest of the block library.
  - Instead of `wp:navigation {"navigationMenuId":8035}` align with template parts in `wp:navigation {"slug":"heade

[2021-11-18 18:05] mtias commented on #35680
One interesting aspect of patterns and templates is that starter content becomes a lot more flexible. They can be starting points for _new pages_ or _new templates_ at any point, not just an initial install as a whole.

I think templates should also be embraced more as providers of starting points. We should be seeing themes with opinionated `home.html` templates, given it's now trivial (or at lea

[2021-11-18 18:10] jameskoster commented on #35680
On that note, I shared some initial ideas for surfacing patterns whilst template editing [here](https://github.com/WordPress/gutenberg/issues/28739), but I agree this area is ripe for more exploration.

[2021-11-18 18:13] shaunandrews commented on #26404
The Design Team discussed this issue in our [Nov 2021 Show & Tell](https://make.wordpress.org/design/2021/11/16/show-and-tell-for-nov-2021/) call. Here's a list of things we discussed as next steps, some one which already have PRs:

- Remove the in-canvas [ + ] entirely from the site editor. (#36602)
- Explore a fixed-position [ + ] for container-type blocks. (#36037)
- Highlight container blocks

[2021-11-18 18:13] fullofcaffeine commented on #36380
@Mamaduka Thanks!

[2021-11-18 18:15] kjellr opened #36625 "Hide the inserter in pattern previews"
Currently, if a block pattern includes an empty column, it displays a giant inserter button in the editor:

<img width="1056" alt="Screen Shot 2021-11-18 at 1 13 14 PM" src="https://user-images.githubusercontent.com/1202812/142472886-ad8f7121-8fe1-4040-a935-53b264056e75.png">

This button also appears in the pattern preview:

<img width="333" alt="Screen Shot 2021-11-18 at 1 11 40 PM" src="https:/

[2021-11-18 18:16] jameskoster commented on #36597
Personally I am in favor of removing the styles link for now. I agree it feels very strange to actually use as implemented. We already highlight Styles in the welcome guide:

<img width="403" alt="Screenshot 2021-11-18 at 18 14 49" src="https://user-images.githubusercontent.com/846565/142473073-2afcbca8-0d77-4c92-b91a-0b5b3fc229e3.png">

And will no doubt surface it in any [adjustments we make to

[2021-11-18 18:18] kjellr commented on #36625
Possibly related to #26404.

[2021-11-18 18:23] annezazu commented on #36469
To follow up here, this was an intentional change to remove the navigation block from the widgets editor for the Gutenberg plugin:

https://github.com/WordPress/gutenberg/pull/35979

Since the navigation block was never ported to core, there has not been a core version in the widgets screen. When preparing for 5.9, some folks made changes to ensure that as the navigation block on it's own shouldn'

[2021-11-18 18:30] skorasaurus commented on #36615
there is an issue for this already at https://github.com/WordPress/gutenberg/issues/24834

[2021-11-18 18:35] skorasaurus commented on #36615
on second thought, I am reopening because this is on the 5.9 must haves board and don't have edit access to that; but should consolidate discussion of this into #24834 ; close this issue and then update the 5.9 board with that issue

[2021-11-18 19:21] priethor commented on #36615
Closing as duplicate of #24834

[2021-11-18 19:21] #36615 closed, assigned to nobody

[2021-11-18 19:21] mtias commented on #35503
@youknowriad and I discussed a broader issue of patterns and templates loading in stages that we should aim to address holistically. The end goal should be that things load like a "screenshot"; all fully loaded when you start interacting.

[2021-11-18 19:22] ndiego commented on #36545
Devil's advocate here, sorry 😉

Given the complexity of displaying a value that would be recognizable to the user, perhaps 5.9 just sticks with the dropdown regardless of the amount of Font Sizes registered? With a few minor tweaks to the "hits", as discussed here #36420, I personally think that would be sufficient. The dropdown may not be perfect, but it is easy grok with the clear names "Small,

[2021-11-18 19:52] ttahmouch commented on #36364
I'm not sure if any of this is going to sound coherent. I played around with this issue this morning, and forgot to post some of the videos I grabbed.

If you try to copy a link using `︙> Copy link` it does in fact copy the link to the `Clipboard`, but it doesn't "enable paste" in the OS. However, if you try to copy a link using `Share via > Copy to clipboard`, then it does also copy the link to t

[2021-11-18 20:04] dashkevych commented on #20801
Thank you very much for explanation 🙏 It makes sense now.

[2021-11-18 20:12] kjellr opened #36629 "Image Block: Consider allowing folks to provide backup image formats"
This may generally better suited to a plugin (or CDN), but raising here for discussion anyway. Should we consider an advanced control that lets folks supply an alternate fallback images?

Here's a use case:

- A theme bundles WebP images, but would like to ensure support for older browsers.
- That theme bundles both WebP and JPEG images in its patterns.
- The image block serves whichever image is

[2021-11-18 20:22] mtias commented on #29372
Yes, makes sense. I'd also like to consider switching to the block inspector when global styles is open and you select a block in the canvas.

[2021-11-18 20:25] desrosj commented on #36629
Related: [Add support for the picture element (Trac)](https://core.trac.wordpress.org/ticket/42920).

[2021-11-18 20:29] mkaz commented on #36575
Ok, I'm going to close this one and reopen @tellthemachines ticket #36593 that is specific to the "Save as" part, there more details and a screenshot in that ticket so better to work off.

So then ticket #36524 can cover both name and slug per Matias comment above.

[2021-11-18 20:29] #36575 closed, assigned to nobody

[2021-11-18 20:31] mkaz commented on #36593
I'm reopening this one. The other ticket #36575 was a duplicate but included two different issues with different priorities, so better to split out. Since this ticket has better details, it'll be a better one to work off.

[2021-11-18 20:43] ryanwelcher opened #36630 "Theme.json schema block properties: valid vs supported"
The theme.json schema indicates that each block supports all of the valid properties that are enabled globally for `color`, `spacing`, and `typography`. While these entries are technically valid they do not reflect whether or not the individual block supports or respects the value.

There are some blocks that either a) don't opt-in to using the control or b) don't actually respect the setting. In

[2021-11-18 20:44] ryanwelcher commented on #36630
cc @mkaz @ajlende @fabiankaegy

[2021-11-18 21:23] draganescu commented on #36589
I think that, unless we figure out all the problems mentioned by @talldan [above](https://github.com/WordPress/gutenberg/issues/36589#issuecomment-972464597), the immediate thing to do is hide the Navigation menus from under Appearance until it actually becomes useful.

[2021-11-18 22:39] pattyok commented on #36057
"Having the layout work differently depending on the context" is about 99% of the work that I am doing these days, in building out themes.

Most of my effort is in building out components that my clients can drop onto the page without thinking. That's is why they are paying me to build a custom theme. I bring guided flexibility to the table. They dont want to think about the width of a thing every

[2021-11-18 23:21] ramonjd commented on #36545
Agree here.

At first my mind turned to select controls with a "Please select" item at the top of the options list.

Selecting that option after having already chosen a font size would, I imagine, have the same effect as the current "Default".

The "Default" label, at least, communicates what is going to happen when we select it.

Unless... the  "Please select" item only appears _after unsetting v

[2021-11-18 23:25] dashkevych commented on #36161
This layout works great if we have only three items in a row.

However, if we have multiple rows -- let's say three rows -- then it can cause confusion for the user when viewing a grid in smaller views. Since there are extra spaces in smaller views, the user might think that the grid is broken.

For example, the user has created Services section on the page where a site visitor can find nine servi

[2021-11-19 00:05] annezazu commented on #36614
Hi @sudip-d! From what I gather based on your video, you are trying to edit the Post Title Block. I wasn't sure at first so added the needs testing label :D  Right now, this is purposefully the case -- one cannot edit the text itself of the Post Title block but can edit the appearance. This is because it will edit the actual post title and this isn't necessary obvious to users. Here's the original

[2021-11-19 00:05] #36614 closed, assigned to nobody

[2021-11-19 00:10] annezazu commented on #36603
Hey there! I tried to replicate this by installing the Safe SVG plugin, uploading an SVG image to the site logo block, and viewing it on my site. I had no problem doing so using Gutenberg 11.9.1, WordPress 5.8.2, and the Tove block theme:

https://user-images.githubusercontent.com/26996883/142516403-fde0d922-2572-4b9f-937a-483ae1a5ce8b.mov

Can you provide more context as a result so I can replica

[2021-11-19 00:13] annezazu commented on #36594
Just noting that I can replicate with a fairly empty install using the Tove theme, latest version of Gutenberg (11.9.1), and WordPress 5.8.2. Here's a short video both showing how it sometimes does and doesn't happen though:

https://user-images.githubusercontent.com/26996883/142516749-3de49e59-b541-4504-aec1-3ee0ac9cfe93.mov

I'm a visual person so thought the video would help others understand :

[2021-11-19 00:15] annezazu commented on #36569
Thanks for this idea! Rather than make it look like a button, I wonder if it would make more sense to give it an icon so it is similar to the other Global Styles options cc @kellychoffman. Going to add design feedback for now.

[2021-11-19 00:23] tellthemachines commented on #36598
This is an issue not only with Page List submenus but also with the actual Submenu block. Working on a fix now.

[2021-11-19 00:28] noisysocks commented on #36541
Is this really a WP 5.9 blocker? Could we not add it in WP 6.0? Or is there a forward compatibility concern I'm not aware of?

[2021-11-19 00:40] shaunandrews commented on #35503
Not sure I know what this means... are you suggesting something like progressive loading, where things are loaded as a low-resolutions (literally and figuratively) at first, and detail is added over time until complete?

[2021-11-19 00:43] Jamesiewaimsy commented on #36607
This happens only when I add the ALL PRODUCTS

[2021-11-19 00:45] annezazu commented on #36161
Thanks for the additional context. @kjellr  curious what your thoughts might be considering how much work you're doing with block themes and patterns that might be impacted by this kind of issue?

[2021-11-19 00:49] annezazu commented on #36541
I think it could be added for 6.0 personally :) @priethor do you have more context?

[2021-11-19 00:53] annezazu commented on #36482
That's so strange. Do you see any browser errors? Thank you for following up <3

[2021-11-19 01:32] kafleg commented on #36569
That might be the best option!

[2021-11-19 01:33] kafleg commented on #36569
That might be the best option!

[2021-11-19 01:33] kafleg commented on #36569
That might be the best option!

[2021-11-19 01:47] zerosonesfun opened #36632 "Unusable with iPhone"
### Description

When you try the scroll it jumps back to the original position.

### Step-by-step reproduction instructions

Use iphone.

### Screenshots, screen recording, code snippet

![057C0B4C-795B-4299-8946-D793333E3B5D](https://user-images.githubusercontent.com/41351317/142549484-7640657c-6efd-4c31-bd8a-124feec866b5.gif)

### Environment info

Fresh install of WordPress 6.0. Environment is

[2021-11-19 01:51] jorgecontreras commented on #36523
I would like to work on a fix for this bug!

[2021-11-19 02:24] talldan commented on #36524
Though as mentioned it does break with the idea of the slug being connected to the area. I would now have a `header` slug in my `footer` area. Some of the other behaviors that you describe, like automatically loading the correct menu when a new navigation block is inserted in a footer now won't work reliably.

It seems like a constraint that will be hard to solve, which is a shame as we already ha

[2021-11-19 03:09] talldan opened #36634 "Navigation block 'missing link' tooltip positioned far away from it's source in site editor"
### Description

It's easiest to show the screenshot rather than describe this:
<img width="379" alt="Screenshot 2021-11-19 at 11 03 42 am" src="https://user-images.githubusercontent.com/677833/142558290-52e179e4-c3f8-40e1-9e57-8b249c21fa63.png">

The 'This item is missing a link' text is far away from the 'Add Link' item it should be connected to.

In testing, I could only reproduce this in the s

[2021-11-19 07:12] #35980 closed, assigned to kasparsd

[2021-11-19 07:19] kevin940726 commented on #36597
I agree. Let's remove this from the list?

[2021-11-19 07:23] 9karamba commented on #6023
Hello, are you planning to solve this problem in Wordpress at least up to version 6?

[2021-11-19 07:35] MeisterLLD commented on #8322
I second that. Please add a "add media" button. I really can't see Gutenberg as a progress when it can't do simple common tasks as such, which could be done instantly (alt+shift+M) with classic editor

[2021-11-19 07:52] carolinan commented on #36613
I like the simplicity of showing only header and footer, it _looks nice._

The problem I see is user created template parts.
"General" is the default area for user created template parts, and I don't think it is obvious that:
- There is something called an area
- How to change the area

I think that is why the template part area setting is under the Advanced panel.

If the general template parts a

[2021-11-19 07:58] aaronrobertshaw commented on #36545
There's an alternate approach in #36636 that builds upon the work by @ndiego in #36420. I kept it as a separate PR in case I was on the wrong track.

The PR linked:
- Removes size hints from the select control options
- Allows for non-integer font-size values such as `1.5rem` to be displayed in the control's label/header hint
- Also allows non-integer values that are `< 1`. e.g. `0.75em` in header

[2021-11-19 08:18] talldan commented on #36597
@jameskoster I had a look at adding this column for the author or user that last edited, but it looks template parts and templates don't support the author field. We will have to make some changes to the REST API code already shipped to WordPress core to support this.

A lot of templates (and I think template parts) are also shipped with the theme as files, so won't have an author. Do you think it

[2021-11-19 08:22] getdave commented on #36524
[I mentioned above](https://github.com/WordPress/gutenberg/issues/36524#issuecomment-972753990) and [in the issue description](https://github.com/WordPress/gutenberg/issues/36524#issue-1055031832) that if a block requires resolution within the editor, the front of the site should always show _something_. We need a good default fallback for the front end. Something like listing the site's top 6 pag

[2021-11-19 08:51] oandregal commented on #36543
https://github.com/WordPress/gutenberg/pull/36622 fixed _Never show “core” to a user, use “default” instead_ and _Palettes should be reordered by theme, default, user_.

Note that the mockups use "Custom" instead of "User" so I did that as well.

[2021-11-19 09:02] talldan commented on #36597
#36638 tackles this.

[2021-11-19 09:15] jameskoster commented on #36597
Thanks for looking in to that @talldan. The basic principle of the "added by" column was to:

1. Clarify the original source of the template, whether that be
  * A theme.
  * A plugin.
  * A custom template created by a user at the site.
2. In the case of templates supplied by themes and plugins, inform the user whether those templates have been customised or not.

FWIW, here's the original design

[2021-11-19 09:49] oandregal opened #36640 "Users should be able to add a custom gradient when the default gradients are disabled"
### Description

The gradients panel doesn't allow user to add a custom gradient when the default gradients are disabled. The panel is empty but not hidden.

### Step-by-step reproduction instructions

## How to test

- Use a theme that does not provide any solids or gradients.
- Set `defaultPalette` and `defaultGradients` to false.

This is what I see for solids:

![Captura de ecrã de 2021-11-19

[2021-11-19 09:51] jameskoster commented on #36613
I suppose we could still have a "Template Parts" menu item, which is where general template parts would live.

<img width="338" alt="Screenshot 2021-11-19 at 09 51 29" src="https://user-images.githubusercontent.com/846565/142602591-b0dabc9f-cf26-45aa-9528-fdfeeae6bd20.png">

(ignore the icons)

[2021-11-19 09:54] talldan commented on #36597
Yeah, I think we can use the same logic that determines whether the clear customizations UI is shown, so that should be possible 👍

I'll do some more exploration into adding author support tomorrow (edit: I mean Monday 😄 ).

Thanks for the other clarifications, that helps a lot.

[2021-11-19 09:59] Aljullu commented on #35989
Closing this issue given that the UI has changed and it's no longer reproducible. Thanks to @dinhtungdu for letting me know.

[2021-11-19 09:59] #35989 closed, assigned to nobody

[2021-11-19 10:02] oandregal opened #36641 "Border color: only shows a single palette"
### Description

The color panel is able to show three different palettes: the theme, the default, and the user one. This works for text, background, and link colors. However, the border color only shows a single palette.

### Step-by-step reproduction instructions

## How to test

With theme colors:

- Use the TT1-blocks.
- Add a pullquote and open the border panel: it'll only show the theme pale

[2021-11-19 10:04] oandregal commented on #36556
Added a couple of bugs I ran into for the color component

https://github.com/WordPress/gutenberg/issues/36640
https://github.com/WordPress/gutenberg/issues/36641

[2021-11-19 10:07] Mamaduka commented on #36597
Yes, we can use `WP_Block_Template::$source` for this column. The plugins can change this value when adding templates.

https://github.com/WordPress/gutenberg/blob/d718cb0ae5571e9c6199a7eaacf8f063804f7d52/lib/full-site-editing/class-wp-block-template.php#L63-L68

The author support is something we can add after 5.9. I think most of the custom templates will have a single author.

[2021-11-19 10:19] #36599 closed, assigned to jasmussen

[2021-11-19 10:19] gziolo commented on #36096
It looks like you want to detect exceptions thrown. Do we have any [`onError`](https://developer.mozilla.org/en-US/docs/Web/API/GlobalEventHandlers/onerror) handler configured? There are also Error Boundaries from React that might intercept errors thrown.

[2021-11-19 10:43] andrewstaffell commented on #36603
@annezazu do you have debug mode on? (it's a warning rather than an error)

[2021-11-19 10:44] keithdevon commented on #12420
I'd like to add my vote to this issue.

Ideally, I'd be able to style 'List' block lists without using either reset styles on all other lists, or :not() selectors for all of the other lists.

I'd like a method to style List blocks that doesn't interfere with all of the other lists on a site. For example, menus, meta lists, footer lists, lists introduced by plugins (e.g. WP Job Manager), etc.

Ther

[2021-11-19 10:46] paaljoachim commented on #36597
I added feedback to the now merged PR: https://github.com/WordPress/gutenberg/pull/36379#issuecomment-973432382

Here are some of the things I noticed while giving feedback. (Let me know if this should be added else where.)
The WP black menu area is too wide and can be thinner. Site title can use truncation if needed.
< Dashboard font size is 13px and should be 14px the same as the Editor menu ite

[2021-11-19 10:50] youknowriad commented on #36563
@Mamaduka I agree, I forgot this when I removed the `per_page` argument from the query, that said when restoring it we should ensure that the right endpoints are preloaded (we might have to update the query string of some preloaded urls)

[2021-11-19 10:54] Mamaduka commented on #36563
Sounds good. I will start working on PR.

[2021-11-19 10:55] cbravobernal opened #36642 "Should we provide multi-query comments loops?"
## Summary of the question

If we take a look at the Post Query Loop. It is ready so the user can have multiple queries on the same page.

https://github.com/WordPress/gutenberg/blob/4d3fb72d301f26bcf13f3117cec7e5abe60f399e/packages/block-library/src/query/edit/index.js#L81-L86

 Then in PHP we read that queryId and get the info to be able to make different queries on the same page.

https://githu

[2021-11-19 11:04] markhowellsmead commented on #12420
I agree with @keithdevon. Adding a class to all of the core blocks (where they don't already have them) is a simple addition, and will allow developers to use much less (and much less hierarchically complex and less-specific) CSS.

[2021-11-19 11:11] briceduclos commented on #36556
Can this issue be added to the list: [The Group block's layout defaults break existing content #36057](https://github.com/WordPress/gutenberg/issues/36057). (it's inside the WordPress 5.9 Must-Haves project)

[2021-11-19 11:22] youknowriad opened #36644 "Global Styles: Iterations on the user global styles endpoint."
After reviewing some of the global styles behavior in WordPress 5.9, in association with the upcoming changes planned for Global Styles after 5.9, we noticed that the current behavior of the endpoint need some small changes in order to be future proof:

 - [ ] We want the ability to modify: "user", "theme" and "default" presets in the future, while right now we only update the "user" presets. This

[2021-11-19 11:29] tjcafferkey commented on #36597
@jameskoster yeah, [we check the db for any templates](https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/95ac903535b45674058148dacd255edc302fba39/src/BlockTemplatesController.php#L59-L70) that have been customized based on the template files we've provided. We then [set the property](https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/95ac903535b45674058

[2021-11-19 11:31] Jamesiewaimsy commented on #36607
Can someone provide any links that can help me?

[2021-11-19 11:57] oandregal commented on #36187
Second try to add this at https://github.com/WordPress/gutenberg/pull/36646

[2021-11-19 12:40] luisherranz commented on #36642
If I'm not mistaken, WordPress comment pagination is using this URL structure right now:
- `https://mysite.com/post/`
- `https://mysite.com/post/comment-page-2/`
- `https://mysite.com/post/comment-page-3/`
- ...

So, if we want to make this backward compatible with the existing URL structure, we need to use the `/comment-page-x/` path.

I guess we have a previous example of this. The WordPress arc

[2021-11-19 12:56] MaggieCabrera opened #36648 "Block Template creation is using empty content instead of the appropiate fallback"
### Description

This was brought to my attention by @carolinan over at https://github.com/WordPress/twentytwentytwo/issues/256

When a theme doesn't provide a template for a specific page (404, Search for example) we will always fallback through the hierarchy and show in the frontend an alternative existing template. In the case of TT2, if the search.html doesn't exist, the frontend will show ind

[2021-11-19 13:00] DAreRodz commented on #36642
Just a quick note. I think (not sure tho) that the `/post/comment-page-1/` URL would also work, and that `/post/` (the default one) would point to either the first page (`/post/comment-page-1/`) or the last one (`/post/comment-page-n/`), depending on the order configured in the comments settings.

Can anybody check that?

[2021-11-19 13:01] #36594 closed, assigned to youknowriad

[2021-11-19 13:07] kjellr commented on #36648
cc @jameskoster do you know if this is a bug or not? I'm not sure if the site editor used to be smarter about this or not.

[2021-11-19 13:15] jameskoster commented on #36597
@tjcafferkey I was more curious about _how_ y'all supply the templates, and whether how the API indicates that those templates were added by WooCommerce in any way?

@paaljoachim I think most of those warrant separate issues.

[2021-11-19 13:15] j-maas commented on #35705
I found a workaround: Using the "Custom HTML" block I can use `&apos;` to display the single quote without it getting converted.

[2021-11-19 13:27] github-actions[bot] opened #36649 "[Flaky Test] Should detach blocks from template part"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
Should detach blocks from template part

## Test path
`specs/site-editor/template-part.test.js`

## Flaky rate (_estimated_)
`15 / 16` runs

## Errors

<details>
<summary>
	<time datetime="2021-11-19T13:27:22.279Z"><code>[2021-11-19T13:27:22.279Z]</code></time>
		Test passed

[2021-11-19 13:27] github-actions[bot] opened #36650 "[Flaky Test] Should load navigate-to-links properly"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
Should load navigate-to-links properly

## Test path
`specs/site-editor/template-part.test.js`

## Flaky rate (_estimated_)
`12 / 13` runs

## Errors

<details>
<summary>
	<time datetime="2021-11-19T13:27:23.058Z"><code>[2021-11-19T13:27:23.058Z]</code></time>
		Test passed

[2021-11-19 13:40] jameskoster commented on #36648
Yup, this is listed as a todo on https://github.com/WordPress/gutenberg/issues/36597 :)

[2021-11-19 13:42] tjcafferkey commented on #36597
@jameskoster We use the `get_block_templates` filter to [add the templates from WooCommerce](https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/trunk/src/BlockTemplatesController.php#L56). We also indicate its from WooCommerce by setting `woocommerce` as the `theme` and `source` value [here](https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/trunk/src/Ut

[2021-11-19 13:46] kebbet opened #36651 "Remove reference to gutenberg_, swap with wp_"
### Description

https://core.trac.wordpress.org/ticket/54446
In https://github.com/WordPress/wordpress-develop/blob/trunk/src/wp-includes/blocks/calendar.php on line 103 (in the function block_core_calendar_update_has_published_posts) the option is named gutenberg_calendar_block_has_published_posts. Should it be called something else? The option is retrieved in the function block_core_calendar_ha

[2021-11-19 14:00] pansamolot commented on #33347
@getdave Is there any progress on this? Will there be any pull request / bug-fix to this, since it seems that you have identified the source of the problem quite precisely?

[2021-11-19 14:01] pansamolot commented on #33312
Is there any update or progress on this? Will there be any pull request / bug-fix to this?

[2021-11-19 14:03] ciampo opened #36653 "Components: display a chevron icon in `Item`"
There are a few ways we could go about displaying a chevron icon in the `Item` component.

Currently, the `Item` component is a very generic and un-opinionated component, that _doesn't care_ about its content — this makes it highly composable and reusable across many interfaces. We need to make sure that, whatever approach we end up taking, we don't make the `Item` component too opinionated or spe

[2021-11-19 14:05] pansamolot opened #36655 "Publication date incorrectly set to "now" when reopening very old saved draft"
### Description

I've started to digging-off my 5-6+ years old drafts out of Wordpress grave and to my surprise I noticed that for all of them, upon initial load Wordpress / Gutenberg shows: "Publish: Immediately" instead of correct date:

![image](https://user-images.githubusercontent.com/2903392/142633645-3304a3c9-19a6-4588-9460-4d507aab7bfc.png)

You have open up the calendar and click the date

[2021-11-19 14:06] ciampo commented on #36653
Hey @griffbrad @mirka @diegohaz @jasmussen @mtias , could you please have a look at this issue and share your thoughts?

In the meantime, I've also opened #36654 to illustrate Approach 1

Thank you!

[2021-11-19 14:16] ndiego commented on #36470
Yeah, also you can use the following to hide all core patterns.

[code]

If you combine this with #36108, you can hide all core patterns **plus** make any theme registered patterns hidden from the insertion UI. In doing so, the Pattern panel is hidden in the inserter.

This got me thinking though. I believe this info should be included in the [Patterns doc](https://developer.wordpress.org/block-ed

[2021-11-19 14:25] hypest commented on #36527
Aha, reproduced now, thanks for elaborating Carlos! Indeed, the redo list cuts short, less levels available than the undo ones. Interesting. And, only happens on iOS.

[2021-11-19 14:35] getdave commented on #33347
@pansamolot I'm afraid not. There's a number of competing priorities at the moment and so it's still open for anyone to pick up.

That doesn't mean I don't think it's important it's just I've been engaged elsewhere.

I will add to be list to try and get to it as soon as I can. I'll also raise in the next Core Editor chat to see if I can get some eyes on it.

[2021-11-19 14:46] bobbingwide commented on #36349
Agreed. Can someone chase the review of the PR that fixes this. https://github.com/WordPress/gutenberg/pull/35841

[2021-11-19 15:05] paaljoachim opened #36657 "[Site Editor] Templates list screen - make the screen thinner and add truncation to site title."
The following is based on testing the PR Gutenberg Build from this PR: https://github.com/WordPress/gutenberg/pull/36379#issuecomment-973432382

## What problem does this address?

The black WP left menu area is too wide, and takes too much space based on the items inside of it.

![Screenshot 2021-11-19 at 15 55 21](https://user-images.githubusercontent.com/5323259/142643140-fcc66234-74bd-443e-ac5

[2021-11-19 15:10] paaljoachim opened #36658 "[Site Editor] WP Menu area - Adjust < Dashboard text to 14px font."
The following is based on testing the PR Gutenberg Build from this PR: https://github.com/WordPress/gutenberg/pull/36379#issuecomment-973432382

## What problem does this address?

The < Dashboard link uses a 13px font size vs the menu items below use a 14px font size.

![Screenshot 2021-11-19 at 16 07 52](https://user-images.githubusercontent.com/5323259/142645097-5a1ccea4-33eb-47bd-b7df-8273bddd

[2021-11-19 15:17] paaljoachim opened #36659 "[Site Editor] Templates WP left menu area - Do not close menu area when selecting Site or Styles"
The following is based on testing the PR Gutenberg Build from this PR:
https://github.com/WordPress/gutenberg/pull/36379#issuecomment-973432382

## What problem does this address?

Clicking Sites and Styles make the screen jump and is a choppy experience, and it is also very slow.

https://user-images.githubusercontent.com/5323259/142646024-2c98dba5-d107-4339-a4c8-b7021df646b4.mp4

## What is your

[2021-11-19 15:17] pansamolot commented on #33347
@getdave Thank you! :>

[2021-11-19 15:21] paaljoachim opened #36660 "[Site Editor] Adding a shortcut to W icon to open and close the WP left menu area."
The following is based on testing the PR Gutenberg Build from this PR:
https://github.com/WordPress/gutenberg/pull/36379#issuecomment-973432382

## What problem does this address?

There is no quick way to open the W icon to open or close the WP menu area.

![Screenshot 2021-11-19 at 15 55 21](https://user-images.githubusercontent.com/5323259/142646890-9bd2c795-8a12-4e81-8556-45be6eb1ae97.jpg)

##

[2021-11-19 15:23] markhowellsmead commented on #27478
Many existing solutions inside and outside the WordPress ecosystem use `:root` as the base element, as intended by the [W3C Recommendation](https://www.w3.org/TR/css-variables-1/#defining-variables). I believe it's been a mistake to move away from this standards-based recommendation and assign the custom properties to the `body` element with no real reason or benefit. The argument is correct, that

[2021-11-19 15:24] Sandstromer commented on #36161
@dashkevych, sadly the columns block does not support a grid layout. AFAIK it was never intended to, and I'm not sure it ever will.

There has been some discussion about grid layouts, a recent(ish) one I came across is in relation to the group flex layout and the possibility of also including grid: https://github.com/WordPress/gutenberg/issues/33687

[2021-11-19 15:25] fluiddot opened #36661 "Columns block: Performance issues when adding a high number of columns"
## Description

Related to [Max limit of Column number - TC005 test case](https://github.com/wordpress-mobile/test-cases/blob/trunk/test-cases/gutenberg/columns.md#max-limit-of-column-number), I found that the block settings sheet gets laggy starting around 30 columns. Creating a high number of columns is an edge case, as most users won't create that many columns, but probably we could consider li

[2021-11-19 15:28] keithdevon commented on #35840
I agree with @markhowellsmead here.

It looks like this change was made here: #31302 to allow...

It would be great to know what this means and whether there is a way to use `:root` for custom properties and still allow margin and padding styles on `body` (if that was the original problem - it's unclear).

@colorful-tones are you able to expand on this? How does using `body` instead of `:root` imp

[2021-11-19 15:35] paaljoachim opened #36664 "[Site Editor] Templates and Template Parts screens - Provide a way for users to add a description to custom templates."
### NB! Refocusing issue from adding a column for published date to instead making it possible for users to add descriptions to custom templates.

-------

The following is based on testing the PR Gutenberg Build from this PR:
https://github.com/WordPress/gutenberg/pull/36379#issuecomment-973432382

## What problem does this address?

If the user has two similar templates it would be helpful to ha

[2021-11-19 15:41] cbravobernal commented on #36642
It seems that it gets the comment page from a query variable inside the `GET` petition. So it doesn't mind the URL permalink you are using. It works the same with `/comment-page-3/` or `?cpage=3`.

Sure, what they do is reset the query, so the main query does not interfere with the query loop. They use offset in order to set the first comment to show, instead of pagination variable:
https://github

[2021-11-19 15:42] paaljoachim opened #36665 "Site Editor: add option to duplicate custom template to three dot menu"
The following is based on testing the PR Gutenberg Build from this PR: https://github.com/WordPress/gutenberg/pull/36379#issuecomment-973432382

## What problem does this address?

It would be helpful to add a duplicate template into the 3 dot menu.

![Screenshot 2021-11-19 at 16 40 19](https://user-images.githubusercontent.com/5323259/142649960-c0de10d6-7602-475c-923d-e58b1a4e06c0.jpg)

## What i

[2021-11-19 15:43] paaljoachim commented on #36597
I made the following issues:

[Site Editor] WP menu area - make the screen thinner and add truncation to site title.
https://github.com/WordPress/gutenberg/issues/36657

[Site Editor] WP Menu area - Adjust < Dashboard text to 14px font.
https://github.com/WordPress/gutenberg/issues/36658

[Site Editor] WP left menu area - Do not close menu area when selecting Site or Styles
https://github.com/Word

[2021-11-19 15:47] fluiddot opened #36666 "Columns block: Nesting blocks starting at 4th level produce render issues [Only iOS]"
## Description

Related to [Columns - Deep nesting is possible (iOS only)- TC012 test case](https://github.com/wordpress-mobile/test-cases/blob/trunk/test-cases/gutenberg/columns.md#tc012), I noticed that starting at the 4th nest level, the content stops being rendered although it allows interactions.

## Step-by-step reproduction instructions

1. Open a post.
2. Switch to HTML mode and copy the f

[2021-11-19 15:49] jiteshdhamaniya commented on #36519
I’d just start working on a PR.

[2021-11-19 15:54] mtias opened #36667 "Introduce "Browser" and surface main navigation UI"
The latest work on the navigation block infrastructure has allowed us to isolate the inner link items of the navigation block into its own post type. This now allows us to have a focused interface for managing the site structure in addition to the presence of the navigation block on the canvas. This can take different views with the focused template part mode and the list view affordances native t

[2021-11-19 16:08] fluiddot opened #36668 "Media Text block: Post requires to be saved two times when canceling media upload [Only iOS]"
## Description

After canceling a media upload of the Media text block and saving the post, it's marked as modified although no modifications were done, and requires to be saved a second time. As far as I checked, this is caused by the `mediaId` attribute being set to `null` after canceling the upload, afterwards when the post is saved, the attribute is removed, probably by the native side, and le

[2021-11-19 16:18] fluiddot opened #36669 "[iOS] Knob shadow of the slider component gets cut off by left side"
## Description

The knob component of the slider used in the bottom sheet gets cut off when it's located at the minimum value (left side).

## Step-by-step reproduction instructions

1. Add a Spacer block.
2. Open the block settings.
3. Move the "Height in pixels" slider to the minimum value (left side).
4. Observe that the knob's shadow gets cut off.

## Expected behaviour

The knob's shadow shou

[2021-11-19 16:27] stefanfisk commented on #26494
I've needed this in several project for stuff like selecting color schemes per post. So far I've just given up on getting it to work while using `add_editor_style()` without resorting to hacks that modify the DOM behind React's back 😿

[2021-11-19 16:40] mrwweb commented on #26494
My experience matches those of others here. I'll add that any class added would hopefully be on a wrapper that includes the editor title field which I also frequently need to style based on post options or context.

[2021-11-19 16:48] kjellr opened #36670 "Navigation Block: Block patterns with overlayMenu set to always do not appear correctly by default"
When a pattern has the hamburger menu set to display "Always" via `"overlayMenu":"always"`, that setting is not reflected in the block preview, or in the editor until the user clicks on the block.

You can reproduce this by pasting some sample markup into the code editor:

[code]

When you exit the code editor, you'll see that this does not show the overlay menu button. But when you click on the b

[2021-11-19 16:52] richtabor commented on #36521
I confirmed this is happening (with Twenty Twenty-Two), and it creates a scenario that also breaks 1:1 between the editor and the front-end.

The desired result of the Block spacing control should be that it affects only the spacing between those columns — not the spacing applied to the columns block itself.

### Editor:

<img width="1666" alt="Screen Shot 2021-11-19 at 11 49 32 AM" src="https://u

[2021-11-19 16:56] github-actions[bot] opened #36671 "[Flaky Test] should open block tab by default if a block is selected"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should open block tab by default if a block is selected

## Test path
`specs/site-editor/settings-sidebar.test.js`

## Errors

<time datetime="2021-11-19T16:56:12.697Z"><code>[2021-11-19T16:56:12.697Z]</code></time> Test passed after 1 failed attempt on <a href="https://gith

[2021-11-19 16:56] github-actions[bot] opened #36672 "[Flaky Test] should show the edited content after revert, clicking undo in the notice and reload"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should show the edited content after revert, clicking undo in the notice and reload

## Test path
`/test/e2e/specs/site-editor/template-revert.spec.js`

## Errors

<time datetime="2021-11-19T16:56:13.323Z"><code>[2021-11-19T16:56:13.323Z]</code></time> Test passed after 1 fa

[2021-11-19 16:58] Andrew-Starr opened #36673 "Mobile menu not working in local Windows environment"
### Description

In a local Windows environment, the mobile navigation "hamburger" icon does nothing when clicked.

The required _/gutenberg/build/block-library/blocks/navigation/view.min.js_ is not loaded on the frontend, and is missing.

The file is present on a web hosted domain, but makes local theme development on a Windows machine very difficult.

### Step-by-step reproduction instructions

[2021-11-19 17:09] ndiego commented on #36521
It's a tricky one to solve since `--wp--style--block-gap` is used all over the place. I have not been able to conceptualize an elegant solution. Creating a one-off fix for the Columns block is one thing, but this currently impact multiple blocks, and likely more in the future as `blockGap` and expanded upon.

One half-baked thought would be for individual blocks to set a variable `--wp--style--blo

[2021-11-19 17:17] chthonic-ds commented on #36673
https://github.com/WordPress/gutenberg/issues/36506 might be relevant, presuming your path to view.min.js is mangled. This has been a problem since GB 11.0.0.

[2021-11-19 17:27] getdave commented on #36538
Ah yeh but what happens when you're in nested submenus? That's why the feature was created. If the toolbar follows the nested block then the UX is horrible.

If this gets changed then we should at least make it only for the top level.

Personally I think we're too close to a release to change this.

Yes I also implemented the PR which made the "pin to parent" feature only apply in horizontal mode

[2021-11-19 17:27] mtias commented on #35503
Sorry, I mean render the final state and don't show tearing (in progress, half-rendered states). Wait until everything is loaded.

[2021-11-19 17:28] Andrew-Starr commented on #36673
Yes thank you. That seems to be the same issue.

The .org theme review team are facing this issue (unable to fully test themes) when reviewing new themes submitted to .org https://github.com/WordPress/twentytwentytwo/issues/228

I'll close this issue as the previous one covers everything and it looks like a fix is on the way. :)

[2021-11-19 17:29] #36673 closed, assigned to nobody

[2021-11-19 17:31] ndiego commented on #36521
@jasmussen sorry for the ping, but the more I think about this, I feel it should be tackled prior to 5.9 Beta 1 and backported if a solid solution can be found. I am happy to work on this but am coming up blank, other than the idea mentioned in the comment above.

[2021-11-19 17:40] github-actions[bot] opened #36677 "[Flaky Test] should show the edited content after revert and clicking undo in the header toolbar"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should show the edited content after revert and clicking undo in the header toolbar

## Test path
`/test/e2e/specs/site-editor/template-revert.spec.js`

## Errors

<time datetime="2021-11-19T17:40:13.694Z"><code>[2021-11-19T17:40:13.694Z]</code></time> Test passed after 1 fa

[2021-11-19 17:55] richtabor commented on #36473
I like the idea of having the intiial label for a color being "Color $count", so the user doesn't _have_ to think of/provide a label, and it is required.

[2021-11-19 18:44] jiteshdhamaniya commented on #36473
I'd just create a PR for it.

[2021-11-19 18:51] richtabor commented on #36521
@ndiego I was thinking the same thing — gave it a shot on https://github.com/WordPress/gutenberg/pull/36680 — I'm pretty sure it works, but would appreciate another set of eyes on it.

[2021-11-19 19:09] richtabor opened #36682 "Clicking on an empty columns block inserter should open the block's settings"
## What problem does this address?
It's difficult to select a parent column block, unless there are child blocks within it. The current workaround to selecting an empty column block is to try and click between the columns (but you'll probably select the + inserter) or navigate to the List view, and select the block from there.

A common use case would be wanting to resize/color the colors of the c

[2021-11-19 20:21] apeatling commented on #36541
+1 for 6.0

[2021-11-19 21:28] BushnellWebWorks opened #36683 "Shift+Click in grouped blocks locks editor"
### Description

When a block having child elements (such as "core/table" or "core/list") is grouped with one or more other components, shift+clicking across child elements within the block, prevents further editing on any blocks.

### Step-by-step reproduction instructions

1. Start with a block editor panel having at least one paragraph
2. Add two blocks, one having child elements (consistently

[2021-11-19 23:18] stacimc commented on #36556
Should [Add an option to configure the site icon in general settings](https://core.trac.wordpress.org/ticket/54370) be included in this list? (Currently missing a discoverable way to update the site icon for blocks themes).

[2021-11-19 23:42] annezazu commented on #36603
Ah! No :) Just set it in wp-config `define( 'WP_DEBUG', true );`. I still can't replicate.

[2021-11-19 23:52] chthonic-ds commented on #36521
https://github.com/WordPress/gutenberg/pull/35454 may point at a more elegant possible solution? I also like how `--wp--style--block-row-gap` and `--wp--style--block-column-gap` align with their native CSS Grid counterparts.

[2021-11-20 01:53] mkaz commented on #36630
Yes, I think only having the properties the block actually supports as valid entries in the schema is best.

Agree, it will save some headache if someone updates their theme.json and shows as valid but then the setting doesn't show on the site for them.

[2021-11-20 02:29] carolinan commented on #36396
As far as I know, this did not change. Since 5.8, adding a theme.json has enabled the Template selector in the block editor.
https://make.wordpress.org/core/2021/06/25/introducing-theme-json-in-wordpress-5-8/

Maybe the issue would be helped by a longer description of the use case, an explanation to why this change is needed.

[2021-11-20 08:59] overclokk commented on #36548
@mtias

So, the decision was made without a discussion about it https://github.com/WordPress/gutenberg/pull/36647

Why?

[2021-11-20 14:38] kafleg opened #36687 "Edit site is not working"
### Description

While checking Twenty Twenty Two theme with the latest version of Gutenberg(org version) and while clicking on edit site, it isn't working. The blank page appears.

[code]

Screenshot of the issue,
![image](https://user-images.githubusercontent.com/13062231/142730279-ce8c69d4-93b3-4e4a-ac4f-e4e7f545a6d7.png)

### Step-by-step reproduction instructions

1. Install the latest WP
2.

[2021-11-20 15:00] kafleg commented on #36687
P.S.:
WordPress version used: 5.8.2
Gutenberg version: 11.9.1
Browser: Edge

None of the other plugins were installed.

[2021-11-20 15:09] kafleg commented on #36687
Also,
When checking from the Admin panel, it is not working from here too.
![image](https://user-images.githubusercontent.com/13062231/142731371-82fca44d-fba7-445e-b723-bb100c32f580.png)

[2021-11-20 15:48] mkaz opened #36688 "Docs request: How to create a block pattern"
There is not a how to document for creating a block pattern. The only documentation is in the [reference section for the API](https://developer.wordpress.org/block-editor/reference-guides/block-api/block-patterns/).

There is [a good /news article here](https://wordpress.org/news/2021/03/so-you-want-to-make-block-patterns/) with all the relevant info, this should also be in the docs themselves.

[2021-11-20 15:56] Andrew-Starr commented on #36687
It was broken in 11.9.0 (exactly same issue as in your attached screenshots) and then fixed in 11.9.1 https://github.com/WordPress/gutenberg/pull/36516

Now in 11.9.1 I am unable to recreate the issue and the editor is working correctly when I test it.

[2021-11-20 18:44] HardeepAsrani opened #36690 "Move PluginBlockSettingsMenuItem to @wordpress/block-editor package"
## What problem does this address?
We should consider moving PluginBlockSettingsMenuItem Spotfill from edit-post to block-editor as this breaks blocks/plugins that make use PluginBlockSettingsMenuItem on the Widget screen.

## What is your proposed solution?
Move it to block-editor or some package better suited, like wp-plugins?

[2021-11-20 23:10] illycz opened #36692 "Override parent blockGap"
I'm testing Blockbase child theme and is impossible disable blockGap feature.
When I set settings.spacing.blockGap to false editor still generate margins for elements.

I think it's because Blockbase also specify blockGap  in styles.spacing and in this place is possible only set this to zero.
But I don't want generate this margins at all.

Thanks

[2021-11-21 00:08] anver opened #36693 "CustomGradientPicker GradientPicker component not working"
### Description

I'm creating a new block plugin where I tried to use CustomGradientPicker from @wordpress/components but the component is not rendering and it throws an error

react_devtools_backend.js:2540 Warning: React.jsx: type is invalid -- expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely forgot to export your component

[2021-11-21 03:08] Alexius08 commented on #33374
I could also confirm this. I was making a custom block that uses InnerBlocks, and I wanted the root block's alignment setting to be applied to all blocks inside it. For both the Twenty Twenty and Twenty Twenty-One themes, the bug described above happens unless the inner blocks themselves have those settings (which can't always be guaranteed) and I pass to them the value set in the root block . Twe

[2021-11-21 12:31] agatheschmidkoenig commented on #36482
It is really strange and I tested lots, as good as I can do that…
One is different in the browser:
**at-non-working-host:** .../wp-admin/themes.php?page=gutenberg-edit-site
**at-working-host:**…wp-admin/themes.php?page=gutenberg-edit-site&postId=15&postType=page
Thanks for answering. I hope it is simple.

[2021-11-21 14:09] paynterf commented on #33078
Still happening with latest WP 5.8.2

[2021-11-21 16:47] mkaz opened #36695 "Docs: apply how to guide template to Format API guide"
## What problem does this address?

PR #36694 introduces a new how to guide template, it would be good to convert the existing content to use this template. Getting a few reference examples created shows future documentation a good starting point.

[The Format API guide](https://developer.wordpress.org/block-editor/how-to-guides/format-api/) is a good first candidate to convert, as it is a contain

[2021-11-21 17:57] mtias opened #36696 "Add description to List View"
The list view is a very useful component of the block editor but currently lacks guidance. It'd be good to explore some contextual text that can describe what it does, what functionality is possible with it (drag and drop, insert in place, discovery, focused mode, etc).

![image](https://user-images.githubusercontent.com/548849/142773405-8ece608b-00a5-415e-8922-54cc5a6515c5.png)

[2021-11-21 18:47] mtias opened #36697 "Prioritize patterns on quick inserter instead of blocks at the root of templates"
The quick inserter has been designed to accommodate a pattern-only view which has never been turned on yet. Let's try using it when the quick inserter is accessed at the top layer of a template. The top level means it's a direct descendant of the document, between any root template parts or existing blocks. In the following example of a block tree there would be two such places:

![image](https://

[2021-11-21 18:57] mtias opened #36698 "Hide "submenus" section in navigation block when there are no submenus"
If I have no submenus in my navigation we should not render the submenu options:

![image](https://user-images.githubusercontent.com/548849/142775284-0b26e869-7b15-40d1-b2ab-76c74fffbf3e.png)

[2021-11-21 19:00] mtias commented on #36698
Also when "open on click" is toggled on, let's try not hiding "show icons" but forcing to look disabled yet "on":

![image](https://user-images.githubusercontent.com/548849/142775381-e114b7af-f76b-4f93-b518-62f27d9703be.png)

[2021-11-21 19:01] mtias commented on #36698
Instead of "show icons" let's be more clear as well with "show arrow" or something like that.

[2021-11-21 19:05] mtias opened #36699 "Allow to wrap into multiple lines is really confusing"
The "allow to wrap into multiple lines" in the navigation block is really confusing and doesn't seem to work in most situations because it has no visible effect.

![image](https://user-images.githubusercontent.com/548849/142775269-98488c5e-c2fb-4b74-8ecc-2afb0aea8c0f.png)

In the short term, let's remove the UI for this feature. In the longer term, we should aim to expose it only when it does make

[2021-11-21 19:07] pablohoneyhoney commented on #36699
I'd advocate for showing it contextually only if the user inputs multiple nav instances.

And even then, recommend explicitly to use below 7 nav links (somewhat of a standard) at the higher nav level, an opportunity also to teach them how to use submenus.

[2021-11-21 19:10] mtias opened #36700 "Arrows used as submenu indicators don't scale with font size"
Submenu arrows can look bad at different font-sizes:

<img width="391" alt="Screenshot 2021-11-21 at 13 29 53" src="https://user-images.githubusercontent.com/548849/142775682-361f8a0b-117f-4a4f-a457-e04cacfb3edb.png">

[2021-11-21 19:12] mtias opened #36701 "Toolbar position in navigation's overlay is odd"
The position of the toolbar when working with the overlay portion of a navigation menu looks random:

<img width="1501" alt="Screenshot 2021-11-21 at 13 26 00" src="https://user-images.githubusercontent.com/548849/142775725-7ca79f50-cdb6-4313-b572-7845b162e8f7.png">

[2021-11-21 23:11] noisysocks commented on #36524
Can I suggest we revert Navigation Areas for WP 5.9 (https://github.com/WordPress/gutenberg/pull/36604) and then explore this problem of how to automatically select a Navigation during a theme switch in the Gutenberg plugin for WP 6.0? It feels to me that some iteration is needed, more than we ought to do in a week, and that it's not a huge problem if WP 5.9 ships with the limitation of having to

[2021-11-21 23:38] noisysocks opened #36702 "Site Editor: Use <table> in templates list page"
The templates list page added in https://github.com/WordPress/gutenberg/pull/36379 uses a `<ul>` for the markup that displays the templates available to edit.

<img width="1648" alt="Screen Shot 2021-11-22 at 10 40 57 am" src="https://user-images.githubusercontent.com/612155/142783681-c36f7fc4-c6a7-4f05-bdf8-5e58c6564b3c.png">

`<table>` is the more semantically correct element to use here as we a

[2021-11-21 23:59] noisysocks opened #36703 "Color Picker: RGB values reset to 0 when you delete text in one of the RGB fields"
### Description

It's really frustrating to manually enter RGB values into the Color Picker because, when you clear one of the RGB fields, the two other fields reset to 0.

### Step-by-step reproduction instructions

1. Open a Color Picker, e.g. select a block and modify its _Text color_.
2. Toggle _Show detailed inputs_.
3. Select _RGB_ in the dropdown that appears. (Bug also exists when using _H

[2021-11-22 00:06] noisysocks opened #36704 "'Edit site' admin bar button doesn't match other buttons"
The _Edit site_ button in the admin bar doesn't match other Core buttons in the admin bar.

- It is capitalised differently. (_Edit site_ versus _Edit Site_.)
- It doesn't have an icon.

<img width="468" alt="Screen Shot 2021-11-22 at 11 03 58 am" src="https://user-images.githubusercontent.com/612155/142784489-ad4e7684-926a-4db2-9e14-3ddc6923908f.png">

[2021-11-22 01:23] kjbenk commented on #34461
@mtias Any thoughts about whether the other MenuItem of `Add to Reusable Blocks` should be moved as well? Does it make sense to move the `Group` MenuItem from that MenuGroup and add it to the top of the list? This would mean that `Add to Reusable Blocks` would be the only MenuItem in that group.

[2021-11-22 02:47] talldan commented on #36664
This isn't part of the design that @jameskoster put together.

At the moment templates and template parts don't support a published date. Like the 'Author' field that would have to be something added to the post type. There's also the same situation with author that a lot of these templates are files, so won't have a concept of being published.

[2021-11-22 02:56] talldan commented on #36658
If it's unintentional I think it can be considered a bug.

[2021-11-22 04:00] glendaviesnz commented on #36620
Thanks for reporting this. It looks like it is a duplicate of https://github.com/WordPress/gutenberg/issues/33769, which was fixed by https://github.com/WordPress/gutenberg/pull/35070 - I just tested on Gutenberg 11.9 and can't reproduce this, so this will be fixed in WP 5.9.

I am closing for now, but if you can reproduce it with 11.9 of Gutenberg installed @vheinrich feel free to re-open this is

[2021-11-22 04:00] #36620 closed, assigned to nobody

[2021-11-22 06:03] andrewserong commented on #35376
Update: the approaches in both #35450 and #35863 turned out not to be viable for a variety of reasons. So, we're back to square one! 😅 I've been doing a bit more thinking about this issue, so to recap:

### The issue

Layout block supports styles are server-rendered [here](https://github.com/wordpress/gutenberg/blob/22cb8f67f845db3a6553681468c15a61705f61bf/lib/block-supports/layout.php#L37) and ge

[2021-11-22 06:52] tellthemachines commented on #35122
This was likely caused by the `aria-hidden` on the responsive container, and if so it should have been fixed by #36292. @TeBenachi could you check with Gutenberg 11.9 if you can still reproduce it?

[2021-11-22 07:04] tellthemachines opened #36710 "Empty inner block area isn't keyboard accessible when contain text cursor inside block preference is enabled"
### Description

If the "Contain text cursor inside block" preference is enabled in the post editor, it is impossible to add a block to an empty inner block area using only the keyboard, for example, inside a newly-added Group or Submenu block.

When the text cursor is contained inside the block, it's not possible to use arrow key navigation between blocks in Edit mode, and in Navigation mode the

[2021-11-22 07:50] ramonjd commented on #35376
One of your terrific "hmmm" moments! 😄

If I understand things correctly, we'd trade `n` style tags, which are related directly to `n` blocks via a unique id, for one style tag containing a finite set of class definitions.

Bootstrap anyone? :trollface:

If the above assumption I've made is true then I'd hope the reduction in rendered style tags would balance things out as you've already noted.

I

[2021-11-22 08:22] ntsekouras commented on #36547
What blocks do you think should be prioritized for the `design` category?

[2021-11-22 08:40] beatricekulcsar opened #36713 "Image Cropping does not use correct aspect ratio"
### Description

The image cropping tool of the image block does not work as expected when trying to change the aspect ratio.

### Step-by-step reproduction instructions

1. Add image to post
2. crop image
3. choose aspect ratio "square"
4. frame image
5. click apply

#### Expected behavior:
Image gets cropped to the square preview as selected

#### Actual behavior:
Image gets cropped to a weird 2

[2021-11-22 08:49] talldan commented on #32098
Fixed by #36592

[2021-11-22 08:49] #32098 closed, assigned to nobody

[2021-11-22 08:51] gziolo opened #36715 "Plugin: Start using JavaScript Modules and Import Maps"
## What problem does this address?

JavaScript Modules: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Modules

JavaScript has had modules for a long time. However, they were implemented via libraries, not built into the language. ES2015 is the first time that JavaScript has built-in modules. Older browsers like Internet Explorer 11 didn't support ES Modules. Earlier this year, Word

[2021-11-22 08:52] gziolo opened #36716 "Start using JavaScript Modules and Import Maps"
## What problem does this address?

Related WordPress Trac ticket: https://core.trac.wordpress.org/ticket/48654.

### JavaScript Modules

Resource: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Modules

JavaScript has had modules for a long time. However, they were implemented via libraries, not built into the language. ES2015 is the first time that JavaScript has built-in modules.

[2021-11-22 08:56] beatricekulcsar opened #36717 "Site Editor Styles Theme Gradients are missing Previews"
### Description

When trying to pick a theme gradient in the site editor the theme gradients are missing previews.

### Step-by-step reproduction instructions

1. click on styles
2. click on colors
3. click on background
4. click on gradient

### Screenshots, screen recording, code snippet

<img width="279" alt="Bildschirmfoto 2021-11-22 um 09 53 01" src="https://user-images.githubusercontent.com/

[2021-11-22 09:07] mirka commented on #36653
I'm leaning toward Approach 1 for now, and have a heavy reluctance for Approach 2.

When we are ready to commit to some specific usage patterns, I think higher-level components like Approach 3 are the way to go. By that point we'll have a better idea of what consumers need, or are struggling with.

The "accessory" naming is interesting. I like how generic it is, but it's also worth noting that we

[2021-11-22 09:21] #36715 closed, assigned to nobody

[2021-11-22 09:22] gziolo commented on #36715
Duplicate of #36716. Something went wrong on GitHub side when creating an issue 🤷🏻

[2021-11-22 09:24] getdave commented on #36524
I agree with this. Having used the feature for a good week or so, I don't think it provides a good enough user experience. It's too complex and requires the user to understand too many concepts.

I think we should [merge @adamziel's revert PR](https://github.com/WordPress/gutenberg/pull/36604) and look to address the concept of preserving Nav on theme switch in the 6.0 cycle when we have more time

[2021-11-22 09:28] youknowriad commented on #27478
Hi there @markhowellsmead I'm curious to know what kind of ecosystem usage is relying not the `:root` as base element here?

Personally, I don't mind moving some CSS variables back to the `:root` but wanted to clarify that I think styles should probably apply to `.wp-site-blocks` instead of `body` because that's the actual root for blocks. For instance if we do add a "layout" style to the root ele

[2021-11-22 09:32] getdave commented on #35521
## WP 5.9 "Must Haves"

Below is a collation of the Issues I'm aware of that are "Must Haves" for WP 5.9, for which [the Gutenberg feature freeze is the **26th November**](https://href.li/?https://make.wordpress.org/core/2021/11/19/wordpress-5-9-editor-update-19-november/).

**⚠️ Update: the list of tasks has been moved to [the 5.9 overview issue under `Navigation block`](https://github.com/WordPr

[2021-11-22 09:39] markhowellsmead commented on #27478
As I've mentioned above, the W3C recommendation is that CSS custom properties adhere to the same principles as all other CSS rules: that definitions begin on the `html` element and then cascade down from there. I mentioned in https://github.com/WordPress/gutenberg/issues/35840 that the decision to place the generated rules on the `body` breaks the cascade for developers who place their definitions

[2021-11-22 09:40] getdave opened #36721 "Provide suitable frontend fallback for the Navigation block when no Menu is selected"
## What problem does this address?

When the Navigation block is inserted there is a setup/placeholder state that requires the user to select a Menu to be used in the Navigation.

The result of this is that it is possible to insert a Navigation block and not have a Menu selected.

The most important scenario where this might occur is when switching Themes. As we cannot _guarantee_ the Navigation b

[2021-11-22 09:41] jasmussen commented on #36698
CC: @vcanales want to pair on this one?

[2021-11-22 09:42] markhowellsmead commented on #27478
One specific case of the need for custom properties to be applied to `:root` is [CSS Vars Ponyfill](https://www.npmjs.com/package/css-vars-ponyfill), which is in use on thousands of sites to allow custom properties to work in e.g. IE11. I appreciate completely that WordPress has dropped support for IE11, but sticking to W3C recommendations would allow a side-effect of this third-party solution to

[2021-11-22 09:45] getdave opened #36722 "Rename the `navigationMenuId` property to `id` in the Navigation block"
## What problem does this address?

The attribute `navigationMenuId` is overly verbose.

## What is your proposed solution?

Simplify to `menuId` or simply `id`.

[2021-11-22 09:48] markhowellsmead commented on #27478
Just as a quick clarification: having re-read your comment, I think you're primarily looking at this with regards to the editor. This issue is possibly more relevant to the rules which are auto-generated for the frontend of the website. I can see that applying the custom properties to the block root container in WordPress Admin could make sense, but it's important to note that some themes contain

[2021-11-22 09:50] #36702 closed, assigned to kevin940726

[2021-11-22 10:05] jasmussen commented on #36701
The way this is "fixed" in the post editor, is that the overlay menu has a higher z-index than the block toolbar, covering it, the idea being that the block toolbar isn't useful to editing content inside (the mover controls aren't right, etc). That solution breaks in the site editor, as that's iframed and creates a stacking order that doesn't allow the menu overlay to be elevated above the block t

[2021-11-22 10:05] jasmussen commented on #36701
CC: @georgeh @vcanales @mkaz

[2021-11-22 10:08] ntsekouras commented on #26036
I'm closing this as with the [updated Font Size picker](https://github.com/WordPress/gutenberg/pull/35395) we show all the available options with the same size.

[2021-11-22 10:08] #26036 closed

[2021-11-22 10:09] getdave commented on #36593
~I'm looking into this one but would welcome any help.~

Looks like this might be addressed by https://github.com/WordPress/gutenberg/pull/36522?

[2021-11-22 10:11] mtias commented on #36699
For the case of the collapsed menu it also seems we can establish some defaults that "just work". When the menu collapses, it should remain on the same line, when the menu is expanded we should probably just fall into the next line.

[2021-11-22 10:16] pablohoneyhoney commented on #36696
An attempt to provide context could be:
`Manage and reorder blocks and groups of blocks used in your page.`
Which could contextually adapt when it is on a template:
`Manage and reorder blocks and groups of blocks used in your template.`

![List View1](https://user-images.githubusercontent.com/25516611/142843522-602738ec-36d8-4f25-a5f5-1930f5d88b74.png)

![List View2](https://user-images.githubuser

[2021-11-22 10:24] spacedmonkey commented on #36524
I have never really understood why navigation areas are needed. We already have menu locations, navigation areas feel very very similar. We could reuse those, instead of reinventing the wheel with this new watch of locating mechanism.

What do we think of finding way to pin a menu block to a location? I would like to explore this idea more, so I believe that navigation areas should be reverted for

[2021-11-22 10:27] jameskoster commented on #36664
I wonder if there's a better way to do this. For the vast majority of templates the publish date is not useful information, indeed I'm not sure how we'd even determine the publish date for templates supplied by theme / plugin packages.

In this case, they should probably use the description field to elaborate. It's not currently possible to edit the description for custom templates, so perhaps thi

[2021-11-22 10:27] pablohoneyhoney commented on #36696
I could also see no divider:

![List View3](https://user-images.githubusercontent.com/25516611/142845258-8db3150c-fe6e-4749-8dc4-80ed6f1ea2f8.png)

[2021-11-22 10:37] paaljoachim commented on #36664
I am refocusing this issue. So users can add a description to the custom templates.

[2021-11-22 10:38] ciampo commented on #36653
I also personally agree with @mirka .

I also personally prefer Approach 1 over Approach 2. I personally like the simplicity of the `Item` component, which lets its consumer define the layout of its `children` without any constraints.

I like Approach 3 too, but we'd need to first get a good feeling for the right balance to strike when creating higher-level components.

This is great feedback. Ado

[2021-11-22 10:45] paaljoachim commented on #36664
My initial thought would be using the 3 dot drop down.

![Add-description](https://user-images.githubusercontent.com/5323259/142847677-528bed0a-13cf-4e01-a360-c42244a0976f.jpg)

When there is a description in place "Add description" would change to "Edit description".

[2021-11-22 10:45] ciampo commented on #35464
See also the `Subtitle` heading discussed in https://github.com/WordPress/gutenberg/pull/36718#issuecomment-975391614

[2021-11-22 10:48] jameskoster commented on #36664
Yeah I think that makes sense. It may also be good to offer a way to add/edit the description whilst editing the template as well:

<img width="661" alt="Screenshot 2021-11-22 at 10 48 14" src="https://user-images.githubusercontent.com/846565/142848349-447033f3-77a3-489b-9309-b264c205364d.png">

[2021-11-22 11:08] pablohoneyhoney opened #36725 "Updating the loading spinner"
As the editor's design language keeps advancing and modernizing, it is also relevant to look at less-visible instances, like the [spinner component](https://wordpress.github.io/gutenberg/?path=/story/components-spinner--default), that retains currently an aged form, perhaps inherited from general WP:

<img width="79" alt="Screen Shot 2021-11-22 at 12 02 19 PM" src="https://user-images.githubuserco

[2021-11-22 11:39] adamziel opened #36728 "Remove the Navigation Area block"
After the discussion was started in https://github.com/WordPress/gutenberg/issues/36524 and the block was soft deprecated in Gutenberg 12.0 (https://github.com/WordPress/gutenberg/pull/36727), it's time to remove it in Gutenberg 12.2.

I attached 12.1 label to this issue, let's bump it to 12.2 once that milestone is created.

cc @noisysocks @getdave @draganescu

[2021-11-22 11:41] adamziel commented on #36728
I implemented a revert in https://github.com/WordPress/gutenberg/pull/36604. It will probably be full of merge-conflicts by the time 12.2 is around the corner, but it could still serve as a blueprint.

[2021-11-22 11:41] beatricekulcsar opened #36729 "Changing the Post Title Font Family does not apply on front-end"
### Description

Choosing a font family in the site editor does not have any effect on the front-end representation.

### Step-by-step reproduction instructions

1. click on post title
2. open settings side bar
3. select font family under typography

### Screenshots, screen recording, code snippet

https://user-images.githubusercontent.com/71608597/142855481-bd95d7a7-b5cd-4845-95ed-137c97e0d638.mo

[2021-11-22 11:53] beatricekulcsar opened #36730 "Unable to see Separator Color while selected"
### Description

While the separator is selected you cannot see the separator color you choose in the side bar.

### Step-by-step reproduction instructions

1. select the separator
2. click on the settings side bar
3. change color of separator

### Screenshots, screen recording, code snippet

<img width="866" alt="Bildschirmfoto 2021-11-22 um 12 51 35" src="https://user-images.githubusercontent.co

[2021-11-22 12:01] fklein-lu opened #36731 "Post Title: Global Styles `elements` selector is not applied"
### Description

Given the following styles in `theme.json`:

[code]

This is the generated CSS:

`.wp-block-post-title h1 { font-size: 30px; }`

However the generated selector is wrong, as the post title block has the following markup:

`<h1 class="wp-block-post-title">A Post Title</h1>`

Therefore the correct selector would be:

`h1.wp-block-post-title { font-size: 30px; }`

### Step-by-step rep

[2021-11-22 12:01] beatricekulcsar opened #36732 "Separator Styles Preview is to small"
## What problem does this address?

The preview of the Separator Styles in the side bar are too small. When trying to select the Separator Style it is very difficult to see the appearance.

## What is your proposed solution?

Give the preview a smaller viewport width.

[2021-11-22 12:08] mirka commented on #30701
Can this issue be closed, given that it's been decided not to expose underline controls on the Site Title block?

[2021-11-22 12:12] CreativeDive opened #36733 "Wrong Viewport Width with Gutenberg plugin in the block pattern list"
### Description

Hey,

I have noticed the viewport width is showing incorrect, if I using the Gutenberg plugin.

Correct view with latest WordPress 5.8.2 without installed Gutenberg plugin:

<img width="326" alt="Bildschirmfoto 2021-11-22 um 13 02 55" src="https://user-images.githubusercontent.com/31563167/142858821-20c6da39-91e6-46de-8c56-4d55f73bdffb.png">

Wrong view with latest WordPress 5.8.2

[2021-11-22 12:20] paaljoachim commented on #30701
Hey @mirka Lena

It would be helpful to give the user somekind of easy to decide option on how they are to style the Site Title. Which includes the underline. It could of course could be added somewhere in a sub panel inside the Typography panel.

![Screenshot 2021-11-22 at 13 17 15](https://user-images.githubusercontent.com/5323259/142860665-c1bfcb71-bd77-4e43-8e1f-04185fd9c1b3.jpg)

Should we in

[2021-11-22 12:38] hypest commented on #36668
Marked this as "low priority" as there's no "medium priority" available. I didn't mark it as "high priority" as cancelling media upload wouldn't be too frequent of a user action.

[2021-11-22 12:40] hypest commented on #36669
I have the sense this might have the same root cause as [this other ticket](https://github.com/wordpress-mobile/gutenberg-mobile/issues/4261).

[2021-11-22 12:46] #36354 closed, assigned to youknowriad

[2021-11-22 13:01] mtias commented on #36722
Also worth considering reusable blocks are using `"ref":123`. Might be ok to align there.

[2021-11-22 13:05] mtias commented on #36721
List of top x pages might feel arbitrary and probably broken in some cases (why isn't my fifth page showing?). Using a saved  `wp_navigation` or a saved `wp_nav_menu` seems better. This one seems we should keep an eye on feedback during the beta period.

[2021-11-22 13:09] mirka commented on #30701
So the next steps for this issue would be to devise some kind of warning system, as described in https://github.com/WordPress/gutenberg/pull/31623#issuecomment-857448485 ?

We already have a system in place to optionally show the Text Decoration controls as part of the Typography panel, so my understanding is that a warning system is now being considered a prerequisite for this option to be added

[2021-11-22 13:20] fluiddot commented on #36669
Yep, most likely. Looks like one of the container views that render the content of the Panel component ([reference](https://github.com/WordPress/gutenberg/tree/trunk/packages/components/src/panel)) might be producing this issue.

[2021-11-22 14:01] mirka opened #36735 "TextTransformControl/TextDecorationControl: Balancing usability and accessibility"
There has been some complications in finding the correct implementation for the `TextTransformControl` and `TextDecorationControl` components (e.g. #26060 #31623). It seems like the difficulty is in making the implementation semantically correct, while also being intuitively usable for sighted users.

<img src="https://user-images.githubusercontent.com/555336/142867682-a578cdf4-582c-4c73-aa35-dce8

[2021-11-22 14:01] mirka commented on #36230
Mmm, good point. I'm going to break this one out into a discrete issue (#36735). If there aren't any clear solutions, it might be better to keep the existing implementation for now.

[2021-11-22 14:03] gziolo commented on #36716
We discussed the same topic during the bi-weekly WordPress Core JavaScript office hours (link requires registration at https://make.wordpress.org/chat/):

https://wordpress.slack.com/archives/C5UNMSU4R/p1637075934082700

A short summary:
1. We discussed if there is an overlap with a long-standing track ticket https://core.trac.wordpress.org/ticket/12009 about adding support for `async` and `defer`

[2021-11-22 14:17] kjbenk commented on #34461
@mtias After looking into this some more, it seems like the `Group` menu item is added to the general `BlockSettingsMenuControls` slot (which developers can extend and add other items as desired). Would it be useful to move this button out of this menu group and into the main group (i.e. where Copy and Paste are)?

Also, it might be ideal if the `Group` button remained in the same relative locatio

[2021-11-22 14:29] getdave commented on #36721
How about we:

- prefer picking a `wp_navigation` if one exists
- fallback to Page List

My understanding is that it's better to render _something_ but I'm curious to know if that isn't what folks are expecting.

I think either way it's going to be feel fairly arbitrary but possibly better than having no navigation rendered at all.

[2021-11-22 14:39] jameskoster commented on #36725
Related: https://github.com/WordPress/gutenberg/issues/35503

[2021-11-22 14:42] hypest commented on #36527
Marked this as "high prio" as there's no "medium prio" but this does break the trust on data safety.

[2021-11-22 14:43] kjellr commented on #35607
I spent a bit of time on Friday talking through this problem with @jffng, and I have an idea that I think would be worth trying out. This is very similar to @youknowriad's exploration in #36214, but it's broken into a couple new controls to give users/theme authors more flexibility around when and how things break out of the site padding.

The root of the idea is a simple one:

- **Add a single ne

[2021-11-22 14:45] andrewstaffell commented on #36687
I am experiencing the same problem with 11.9.1 and 5.8.2

[2021-11-22 14:48] gziolo commented on #36426
It's tricky. They changed how links work on www.npmjs.com a few weeks after they introduced `directory` field in the `repository` object in the `package.json`:

https://github.com/WordPress/gutenberg/blob/trunk/packages/create-block/package.json#L17

It looks like those URLs became relative to the place defined as `directory`.

We have a process in place which replaces those URLs from README files

[2021-11-22 14:50] kjellr commented on #36699
I think it's totally fine to remove this from the UI. We ran into [some issues working with it for TT2](https://github.com/WordPress/twentytwentytwo/issues/89#issuecomment-958125892). In short, we found that it is very useful in some cases, but does some harm in others. It's helpful to have, but not essential to show for most users.

[2021-11-22 15:02] gziolo commented on #36497
The build creates two entry points:
<img width="842" alt="Screenshot 2021-11-22 at 15 57 00" src="https://user-images.githubusercontent.com/699132/142883484-71177c3b-dcfc-4e40-ab53-7326054aed64.png">

It makes me wonder whether you started using `@wordpress/scripts` after we upgraded webpack from v4 to v5 but before we brought back the legacy behavior for backward compatibility in v18.0.1:

https:

[2021-11-22 15:04] #36700 closed, assigned to jasmussen

[2021-11-22 15:04] #36625 closed, assigned to jasmussen

[2021-11-22 15:15] TeBenachi commented on #35122
Thank you so much for the updates!

I can confirm the screen reader does not announce “empty” any longer, but it now reads “dialog” instead. I'm wondering if it's possible to have the screen reader read “Main navigation” or something similar to indicate these links are navigation menu.  Some screen reader users might think the link will open a modal.

I’ve tested using WP 5.8.2 + GB 11.9.1 on Fire

[2021-11-22 15:25] getdave commented on #36728
Did the Nav Areas PHP code get merged to WP Core already? If so how do we revert that prior to 5.9?

[2021-11-22 15:30] jameskoster commented on #36665
It's important to note that only custom templates can be duplicated. It should not be possible to duplicate primary templates (index, single, archive, search, etc).

[2021-11-22 15:32] mkaz commented on #35521
If we want to take a harder line for "must have" I think both #36593 and #36722 could be moved if not ready.

For #36722, yes, the property name could be simplified, but there is also a reason we moved the name from menu to navigation, so personally I like the more descriptive property name, but even if we want to change later we can deprecate.

For #36593, it's a better user experience without th

[2021-11-22 16:07] jameskoster commented on #36578
Trac ticket for the welcome banner: https://core.trac.wordpress.org/ticket/54489

[2021-11-22 16:29] kjellr commented on #36670
I'm going to add to must-haves for visibility. I think that's reasonable since this is used in multiple Twenty Twenty-Two patterns. Thanks! 🙌

[2021-11-22 16:32] getdave commented on #36721
Ok I have a followup PR in https://github.com/WordPress/gutenberg/pull/36740 which

- prefers using the first non-empty Navigation Post as the fallback.
- falls back to the Page List.

This mirrors what `wp_nav_menu()` does.

[2021-11-22 16:40] paaljoachim opened #36741 "Site Editor: Create consistency between Template and Templates Part - "Add New" modal/dropdown."
I tested the Gutenberg PR build. https://make.wordpress.org/design/2021/03/03/testing-a-gutenberg-pull-request-pr/ for this PR: https://github.com/WordPress/gutenberg/pull/36592

**Templates screen**
Clicking Add New I see this:

![Screenshot 2021-11-22 at 17 02 22](https://user-images.githubusercontent.com/5323259/142894566-35b38c68-2815-4fed-924e-43305818a824.jpg)

I am able to add a new templat

[2021-11-22 16:41] ciampo opened #36742 "Add more unit tests to `NumberControl` and `RangeControl`"
## What

Following up on #34817, we should add more unit tests to `NumberControl` and `RangeControl`

## Why

The work done in #35020 and #34542 showed how these components can be quite tricky to iterate on. We should add more unit tests to ensure that we don't introduce regressions when working on them

## Acceptance Criteria

- [ ] Go through past issues and PRs (starting with #35020 and #34542)

[2021-11-22 16:54] mtias commented on #36721
What to render also depends on how the template / pattern is built. If it uses specific link placement, the fallback should be more granular. That's where retrieving a single page could be fine.

[2021-11-22 17:14] ciampo commented on #36230
Thank you for looking into this, @mirka !

The changes that you're proposing definitely go in a good direction — standardizing our UI!

I have a few considerations:

- consistency across components: we should be careful about the "meaning" of a `size` prop, especially when used across many components:
  - what can a user expect when changing the `size` prop on a component? Different components may

[2021-11-22 17:17] kmarcy724 commented on #36525
Whether or not Gutenberg requires a conditional class that exposes the orientation to the front end; Gutenberg USERS need it.
I *need* to be able to determine the front end layout and tweak custom CSS accordingly, and I'm going to have to add a block style to shim the conditional class for orientation into the front end now.

Seeing this *CRITICAL* entry-point to writing custom CSS for blocks comp

[2021-11-22 17:21] ciampo commented on #36735
Inspired by https://github.com/WordPress/gutenberg/pull/31623#issuecomment-838131737,  I think the most correct option would be to use `ToggleGroupControl` and add an additional option for the "None" case represented with a ` — ` icon.

We could make sure that, when the control is supposed to be "reset" (initial value, and ToolsPanel reset), the "None" option gets selected.

Also pinging @jasmusse

[2021-11-22 17:40] youknowriad opened #36743 "Backport the link color move to the footer to WordPress Core"
### Description

Apparently, the fix in #35425 was not back portedproperly into core. The issue is here to track that work. cc @nois

### Step-by-step reproduction instructions

 - Try using 2022 theme
 - Notice the header doesn't have an extra margin at the top on Gutenberg but does so with just WP trunk.

### Screenshots, screen recording, code snippet

_No response_

### Environment info

_No r

[2021-11-22 18:08] spencer-j opened #36745 "Keep block font-size and color adjustments when change block type"
Hello Gutenberg team,
would be nice if the font-size adjustments and also color, or anything else could be kept when a switch of the block is made.
For e.G
When i switch a headline H2 with a color red selected to a paragraph block, it would be nice if this color adjustment would persist.
This would make an editors life much easier.
Greets spencer

[2021-11-22 19:15] ndiego opened #36749 "Add support for custom Block Editor settings"
## What problem does this address?
With the existing `block_editor_settings_all` filter, users can modify any supported Block Editor setting. However, if you add your own settings via this filter, they are ignored in the Block Editor. Allowing users to register support for their own custom Block Editor settings would greatly increase the extensibility of the Block Editor and provide developers wit

[2021-11-22 19:41] skorasaurus commented on #36749
interesting; could this also be applied to 3rd party settings that the use would supply, ref https://github.com/WordPress/gutenberg/discussions/34908 ?

[2021-11-22 19:44] gziolo commented on #35630
We landed the PR https://github.com/WordPress/gutenberg/pull/35106 from @tomalec that addes an optional feature to `@wordpress/dependency-extraction-webpack-plugin` that reports all used script dependencies. It should help as a temporary improvement to help navigating through the complexity of core dependencies.

We have now also an issue https://github.com/WordPress/gutenberg/issues/36716 for tra

[2021-11-22 19:51] stokesman commented on #36497
Thanks taking time to test this @gziolo 🙇 . I apologize that I missed the crucial point to reproduce this and that is using
 entry points that have the same filename and are in separate folders. I've updated the title and description to clarify and added some screenshots.

[2021-11-22 19:54] ndiego commented on #36749
Took a quick look at #34908. in theory, yes this would allow you add a custom setting for API keys or whatnot and then fetch it in the Block Editor using something like this:

[code]

[2021-11-22 20:07] gziolo commented on #36497
Thank you for providing more details. I will give it a spin tomorrow and report back on what I discovered. As far as I can tell the fact that both entry points use the same name `index.js` is probably the reason why it behaves differently between those two versions of `@wordpress/scripts`. Internally, they get mapped to the same entry point named `index` so only one of them gets included in the bu

[2021-11-22 20:09] blowery opened #36752 "block-library: Consider removing the default for registerCoreBlock to allow for better tree-shaking"
## What problem does this address?
In `@wordpress/block-library`, the `registerCoreBlocks` [takes the set of blocks to register with a default](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/index.js#L214) of `__experimentalGetCoreBlocks`.

This means that any usage of `registerCoreBlocks` also requires that all of the blocks included in `__experimentalGetCoreBlocks`

[2021-11-22 20:34] skorasaurus commented on #35928
That is an odd error; I am able to reproduce this on trunk last build from 2021-11-18.

[2021-11-22 20:56] mkaz commented on #36426
We really only have control over the handbook, so not much choice. Using full URLs to force them to work the same in GitHub and NPM and then we can modify the handbook import script to replace them properly.

Here's where the code is for the handbook, looks like it'd be relatively straight-forward to add an extra regex for full URLs: https://github.com/WordPress/wordpress.org/blob/master/wordpress

[2021-11-22 20:56] skorasaurus commented on #35928
That is an odd error; I am able to reproduce this on Gutenberg trunk last built on 2021-11-18;

Investigating this more; the cause is [this CSS in the paragraph bloc](https://github.com/WordPress/gutenberg/blame/3da717b8d0ac7d7821fc6d0475695ccf3ae2829f/packages/block-library/src/paragraph/editor.scss).

@jasmussen - could you shed some light for this decision?

[2021-11-22 21:08] danny-vanrooijen commented on #16319
I am trying to do the same, except that I also want my InnerBlock to be a dynamic block. When you use a mix of PHP rendered `$content` and setting the `InnerBlock.Content` in your save function, the `$content` is displaying what is built by JS. How do I extend this so that the InnerBlock is also rendered dynamically?

[2021-11-22 21:37] allysonsouza commented on #13390
+1

It's very weird that there's no way to access reusable blocks from main menu, this is the obvious and expected way from an user perspective.

[2021-11-22 21:52] ramonjd commented on #36521
Thanks for surfacing #35454

In that PR we're experimenting with adding `--wp--style--block-row-gap` and `--wp--style--block-column-gap`, and providing controls to manipulate the values of each.

With #35454, if I turn on axial block gap and play around with the row gap I can reduce the `margin-top` of the block container in the frontend.

<img width="731" alt="Screen Shot 2021-11-23 at 8 34 50 am

[2021-11-22 22:25] ramonjd commented on #36545
I've thrown up an attempt to show tooltips on the ToggleGroupControlOption in https://github.com/WordPress/gutenberg/pull/36726. Adding to Needs Review column as well.

[2021-11-22 22:26] tomalec commented on #36716
Maybe we don't need to drop bundling, and just import the bundle as a module, and let it export individual packages which could be then consumed as modules. I believe import maps could make it a bit easier.

[code]

See https://stackblitz.com/edit/import-map-to-bundled-esm-package?file=index.html for a POC / more code-like explanation of the idea. (Chromium / import-maps  env only)

[2021-11-22 22:28] andrewserong commented on #35376
Yes, that's the ultimate goal. Even if each class definition has its own `style` tag, it'd still be a finite set of style tags, rather than an `n` number of style tags 🤞😀

It'll probably look a little Bootstrap-ey and/or a bit like Tailwind CSS, so while it might not be the neatest, at least it's familiar 😄

Yes, I was thinking we'd re-use that and the existing `preg_replace` for injecting the cla

[2021-11-22 22:31] mtias commented on #36547
We probably need to move some of those in "design" to "theme" (site title, logo, etc).

[2021-11-22 22:32] chthonic-ds commented on #36521
Yeah, as noted in [33812](https://github.com/WordPress/gutenberg/pull/33812) it's following in the footsteps of the great work at https://every-layout.dev/layouts/stack/. The OP issue is partly a side effect of `blockGap` being treated as a universal spacing value instead of _only_ styling the vertical context — this usage seems to go beyond the original intention.

[2021-11-22 22:35] youknowriad commented on #36716
For me the biggest performance improvement here is not something we can measure 1-1 by switching to ESM packages but it's more related to us being smarter when loading things, some examples:

 - Only load the "syntax highlighter" module when needed (when switching to code editor or showing a code block)
 - Lazy load "edit" implementation of heavy blocks
 - Lazy load tinymce only if the classic edi

[2021-11-22 23:04] mtias commented on #36658
This is intentional to give some hierarchy to the rendering. The whole sidebar is still being tweaked, though.

[2021-11-22 23:04] #36658 closed, assigned to nobody

[2021-11-22 23:05] mtias commented on #36745
Hi there! Style properties that are shared between blocks should indeed be preserved when transforming blocks. @jorgefilipecosta can you look into this?

[2021-11-22 23:14] pablohoneyhoney commented on #36667
There’s also an opportunity to organize those taxonomies (Templates, Navigation, Styles) elevated to the persistent level of the W. Here are some explorations of what that could look and behave.

In one exploration (likely my preference) we can accommodate those architectural instances in a more visible UI that can be toggled and related more clearly. Here are some variants with slight permutation

[2021-11-22 23:30] mtias commented on #1651
Maybe the thing that makes more sense is to have a "Post" block and you could stack them.

[2021-11-22 23:32] mtias commented on #12420
Let's look into rendering classes but only server side, without serializing them.

[2021-11-22 23:49] iandunn opened #36755 "Social Link block missing popular podcast services"
## What problem does this address?

These services aren't supported by the Social Link block:

- [ ] Stitcher
- [ ] Pocket Casts
- [ ] Apple Podcasts
- [ ] Google Podcasts

## What is your proposed solution?

Add them, similar to the existing services.

If official SVG icons are hard to find, [the w.org/news mockup](https://www.figma.com/file/O9I8Jl7kaUMTX39LlRGbGO/News-Page?node-id=8551%3A32714)

[2021-11-22 23:59] jameskoster commented on #36547
+1 to grouping all theme blocks together. Then we can consider hiding that entire category in the post editor.

[2021-11-23 00:07] noisysocks commented on #35521
Thanks for summarising @getdave. I updated the "Navigation block" section in https://github.com/WordPress/gutenberg/issues/36556 to be the same as your list in https://github.com/WordPress/gutenberg/issues/35521#issuecomment-975327997. Let's try to use https://github.com/WordPress/gutenberg/issues/36556 if we can as that's the issue that the 5.9 squad is referring to.

[2021-11-23 00:16] tellthemachines commented on #35122
Ah, that's another bug. It should be fixed by #36617.

[2021-11-23 00:32] noisysocks commented on #36556
Let's use the [WordPress 5.9 Must-Haves board](https://github.com/WordPress/gutenberg/projects/62) for bugs. This list serves as a way to direct contributor focus _in addition_ to the project board.

I've added this, though without a ⚠️ since there is a workaround.

[2021-11-23 01:10] ramonjd commented on #35536
I've been toying around with adding an `onFocusOutside` to the [InsertionPointPopover](https://github.com/WordPress/gutenberg/blob/752d7759b373a1e748cabdc7f04cefcd99ccb684/packages/block-editor/src/components/block-tools/insertion-point.js#L284), then dispatching `hideInsertionPoint`. Seems like it might be worth trying.

[2021-11-23 01:46] franmastromarino opened #36756 "missing single and page templates in sidebar if page-xxx.html is included in the block-templates folder"
### Description

Single Post and Page templates are missing in the side editor templates sidebar

You can use this theme to check the issue

https://wordpress.org/themes/wowmall/

### Step-by-step reproduction instructions

1. Include 6 page-xxxx.html files in the /block-templates folder
2. Go to Editor / Browse all templates

### Screenshots, screen recording, code snippet

Sidebar -> https://sni

[2021-11-23 03:24] glendaviesnz opened #36758 "Block transform previews: editor crashes when previewing CoBlocks transforms"
### Description

When a CoBlocks plugin transform is previewed in the block transform menu the editor crashes. This has appears to have been broken since [this commit](https://github.com/WordPress/gutenberg/commit/03d43d8424730212004cdf1ed842176ee9eec603) that changed some of the block preview settings.

### Step-by-step reproduction instructions

1. Install the latest CoBlocks plugin and Gutenber

[2021-11-23 03:33] glendaviesnz commented on #36758
@ellatrix I ran out of time to try and work out why only CoBlocks seems to be affected by this change, so not sure if problem is at our end or theirs.

[2021-11-23 03:39] noisysocks commented on #36124
I'll add it to the board as a general bug to fix (not a blocker).

[2021-11-23 03:42] noisysocks commented on #34404
The fix https://github.com/WordPress/gutenberg/pull/36256 landed in Gutenberg 11.9 which means it's included in WP 5.9.

[2021-11-23 03:49] talldan commented on #36597
Hmm, it's a shame we didn't opt for something like `source: 'plugin'` to match the way `source: 'theme'` works. The current way makes it hard to detect whether a plugin is the source—the only option seems to be to check that the `source` is different to 'custom' or 'theme'. If other sources are added later this becomes brittle code.

Is the way this is defined likely to be consistent across plugin

[2021-11-23 04:00] noisysocks commented on #36743
Moved to https://core.trac.wordpress.org/ticket/54491.

[2021-11-23 04:00] #36743 closed, assigned to nobody

[2021-11-23 05:06] talldan commented on #36756
Thanks for reporting this @quadlayers.

I think this is a known issue. The UI for selecting templates is being replaced for Gutenberg 12 and WordPress 5.9, and from what I can tell, that will solve the problem. There's an issue tracking that here - https://github.com/WordPress/gutenberg/issues/36597.

The design for the new UI is shown in this comment - https://github.com/WordPress/gutenberg/issue

[2021-11-23 05:06] #36756 closed, assigned to nobody

[2021-11-23 05:08] talldan commented on #36632
@zerosonesfun Would you be able to provide more detail like which version of iOS and which version of WordPress / Gutenberg

[2021-11-23 05:25] talldan commented on #36693
@anver I'd check that GradientPicker is in the version of the components package you're using. It might be that you're currently using an earlier version.

Also there seem to be problems with the code example you provided. It imports `CustomGradientPicker` but tries to render `GradientPicker`.

[2021-11-23 05:27] talldan commented on #36607
@Jamesiewaimsy I'm not sure what 'ALL PRODUCTS' is. Which particular block is it that isn't working?

[2021-11-23 05:34] talldan commented on #36528
Looks like it could be the same issue as reported here - https://core.trac.wordpress.org/ticket/53743

[2021-11-23 06:47] carolinan commented on #36630
I am not sure I understand correctly.
Theme authors use theme.json to set defaults for blocks -including defaults for block styles that do not have a control.

Are you suggesting that setting a default value will not be valid unless there is also a user facing control in the editor?

If that is the case, I disagree. For example I may need to set a default font family to a block that does not have

[2021-11-23 07:07] kevin940726 commented on #36597
@jameskoster I noticed that there's currently no way to edit a template part's name, neither in the site editor nor in the list page. Is this feature planned?

In addition, I think we also need a way to delete a template/part in the editor.

[2021-11-23 07:14] talldan commented on #36597
@kevin940726 It is possible to edit the name/title in the 'Advanced' section of the block sidebar:
<img width="281" alt="Screenshot 2021-11-23 at 3 13 51 pm" src="https://user-images.githubusercontent.com/677833/142983652-0b8d4aed-80c7-4441-b28b-a1ea4368dcef.png">

[2021-11-23 07:41] khoipro commented on #12907
Could we reopen this ticket? Our Vietnamese language still has an issue with that slug. @swissspidy @earnjam @ocean90

Track my ticket https://core.trac.wordpress.org/ticket/54492

Thanks, @SergeyBiryukov for referring here.

[2021-11-23 07:51] kevin940726 commented on #36597
Oh I see! It's still counter-intuitive though and we should probably support that in focus mode.

[2021-11-23 07:53] tjcafferkey commented on #36597
@talldan I am going to look at seeing if I can make a change to update this so the `source` is `plugin` for our WooCommerce implementation, it makes much more sense.

[2021-11-23 08:15] talldan commented on #36597
Thanks @tjcafferkey, appreciate that. BTW, I have a PR as well that tries to implement showing the plugin name - https://github.com/WordPress/gutenberg/pull/36763, I'll update that.

I'll have a think about how we can make this work consistently across plugins too, this might need some documentation.

[2021-11-23 08:24] markhowellsmead commented on #12420
@mtias I was going to add a pull request to add classes to the headings, paragraphs etc. Should this also be server-side instead of in the editor? (cc @luminuu.)

[2021-11-23 08:26] jasmussen commented on #35928
Sure! It was added in #28275 to fix #13599. That is, if you create 10 empty paragraphs in a row, there's little value in seeing `Type / to choose a block` repeated ten times.

A very ugly hack we can't ship would be to do this:

[code]
<img width="813" alt="Screenshot 2021-11-23 at 09 24 55" src="https://user-images.githubusercontent.com/1204802/142990959-f6495ba7-8b8e-4061-9d86-7b8a8db44b76.png">

[2021-11-23 08:36] #36563 closed, assigned to Mamaduka, kevin940726

[2021-11-23 08:36] jasmussen commented on #35536
Definitely seems worth trying. The sibling inserter appears so easily now, that I think we can/should be pretty aggressive in dismissing it as well. Focus/click outside would be a good start, but honestly even _hover outside_ should dismiss it, and that's often not the case now.

[2021-11-23 08:55] jasmussen commented on #36735
Thanks for the ping! My instinct here is to embrace the approach we are taking with the tools panel. Which is:

- Text decoration and letter case controls should probably never be shown in a tools panel by default: they are something you add from the ellipsis menu.
- Since they are mutually exclusive, they'd have the same behavior as a radio group. Whether the underlying markup uses radios, I don'

[2021-11-23 09:05] talldan commented on #32952
This now extends to the navigation block, as that started using an entity recently.

[2021-11-23 09:20] tjcafferkey commented on #36597
Yeah, that would be great @talldan. As it might be confusing, because at the moment we have the `source` as `plugin` and then the `theme` as `woocommerce` when the templates are not coming from a theme. If you'd like me to read over the documentation when you have something, I'd be more than happy to do so.

I've also opened a [PR](https://github.com/woocommerce/woocommerce-gutenberg-products-bloc

[2021-11-23 09:40] jameskoster commented on #36667
I like the idea of dark areas of UI equalling global elements very much, it creates an environment for site settings to live as well. Exposing the site structure / navigation is particularly exciting because it means we can offer an intuitive way to navigate and edit different pages in the site editor.

The flyout approach solves potential scalability issues that may occur with the W button expand

[2021-11-23 09:45] talldan commented on #36683
Hi @BushnellWebWorks, thanks for reporting this. I think this was fixed in the Gutenberg plugin, and the fix should be in WordPress 5.9.

It looks like one or both of these pull requests solved the problem:
- https://github.com/WordPress/gutenberg/pull/35988
- https://github.com/WordPress/gutenberg/pull/35668

Lets check in with @ntsekouras to make sure though.

[2021-11-23 09:45] jasmussen commented on #35607
Thanks for thinking about this, and thanks for the very helpful codepen as well!

It's definitely a lot to wrap your head around. I think that may also speak to my primary concern with this approach: I'm not sure where to start, and it doesn't feel obvious how this would affect my theme. It's clearer when trying the codepen:
![single toggle](https://user-images.githubusercontent.com/1204802/142998

[2021-11-23 09:48] ntsekouras commented on #26905
I'm closing this as the first iteration has landed here: https://github.com/WordPress/gutenberg/pull/35773

[2021-11-23 09:48] #26905 closed

[2021-11-23 09:54] youknowriad commented on #35607
Personally I think #36214 is my preferred option for the moment, I need buy in and input from everyone there.

[2021-11-23 10:00] oandregal commented on #36330
Hey @briceduclos the code above still works for filtering `__experimentalFeatures`.

`__experimentalGlobalStylesBaseConfig` has been removed in favor of the rest API endpoint introduced at https://github.com/WordPress/gutenberg/pull/35985 The REST API already has a few filters in place, so it should be doable. I don't remember which one would be appropriate off the top of my head. I can try to inv

[2021-11-23 10:04] oandregal commented on #36187
https://github.com/WordPress/gutenberg/pull/36646 has been merged.

[2021-11-23 10:05] ntsekouras commented on #36683
Thanks for the issue @BushnellWebWorks.

Yes, this is fixed in the plugin and will be in WP 5.9 as @talldan said.

[2021-11-23 10:05] #36683 closed, assigned to nobody

[2021-11-23 10:31] jameskoster commented on #36597
In addition to renaming, we also need a way to add descriptions (https://github.com/WordPress/gutenberg/issues/36664). It may make sense to tackle these items together as they are closely related.

[2021-11-23 10:42] permanyer commented on #17382
I need to style text bigger when column is wider, so .has-2-columns, .has-3-columns, etc... would be useful for me

[2021-11-23 11:18] oandregal commented on #36543
https://github.com/WordPress/gutenberg/pull/36684 to address the CTA for when there's no colors has been merged.

[2021-11-23 11:22] oandregal commented on #36543
Added a few tasks that I've seen missing from the mockups or that folks suggested upon reviewing this component:

- The counter should count all the colors (default, theme, custom) and not only custom.
- Show gradients and allow to edit them.
- Show duotones (not editable yet).
- Call them "palettes" not "color palettes".

[2021-11-23 11:31] Jamesiewaimsy commented on #36607
![image](https://user-images.githubusercontent.com/94611263/143016574-bc984178-2efa-48c9-9a95-ca0a73a5319b.png)

![image](https://user-images.githubusercontent.com/94611263/143016707-618692ca-7cad-402e-b4cd-665ee1ecfee5.png)

Talldan thank you for the reply, please see two screenshots I hope they help.

[2021-11-23 11:33] oandregal commented on #36542
Added a comment/tasks to also remove the padding from the existing component, so it matches the target design.

[2021-11-23 11:33] Jamesiewaimsy commented on #36607
If I click the three dots these are my options
![image](https://user-images.githubusercontent.com/94611263/143016886-e0583742-555e-4bb2-88d0-a28c2a7f56fa.png)

[2021-11-23 11:46] franmastromarino commented on #36756
ok thanks @talldan

[2021-11-23 11:48] oandregal opened #36770 "Preset colors from the default palette are serialized as inline styles"
In testing the new color UI component that shows up to 3 different palettes (default, theme, custom), I've noticed that preset colors from the default palette are serialized as inline colors, instead of having their class applied, like the theme colors.

## How to reproduce

- Use a theme with `theme.json` support, for example TwentyTwentyTwo.
- Add a paragraph block with a link.
- Select a preset

[2021-11-23 11:54] franmastromarino opened #36771 "product category uses page.html insted of index.html, archive.html or taxonomy.html"
### Description

Hello

The block template routing is not working correctly

WooCommerce product category uses the page.html pages

https://wowmall.store/demo/product-category/t-shirt/

Please check at the bottom you'll see the comments block

You can use this theme for testing

https://wordpress.org/themes/wowmall/

[code]

### Step-by-step reproduction instructions

1. Install WooCommerce
2. Go

[2021-11-23 11:55] oandregal opened #36772 "Theme colors can override default colors"
In testing https://github.com/WordPress/gutenberg/issues/36770 there's an issue with the theme palette that may override the default palette, creating weird interactions in the editor.

## How to reproduce:

- Use the empty theme and add a color with the same slug as one in the default palette. For example (note that I use red as the color value for debugging purposes, the important bit is that I'

[2021-11-23 11:55] jameskoster opened #36773 "Site Editor: Provide a way to edit custom template names"
It should be possible edit the name of a template (or template part) that has been created from scratch.

One minimal approach would be to allow the template name to be clicked and edited directly:

https://user-images.githubusercontent.com/846565/143018310-5c5fe748-a8ad-46fa-b8e8-7746854e2f80.mp4

This action should be available on template list view as well:

<img width="1039" alt="Screenshot 20

[2021-11-23 11:58] oandregal opened #36774 "Enable transparency on elements by default"
Enable transparency on elements by default.

[2021-11-23 11:59] oandregal commented on #36774
Filling this for Jorge, who brought this up. He'll know more details about this.

[2021-11-23 12:05] oandregal commented on #36545
Another thing I've run into is that the appearance dropdown in the GlobalStyles sidebar is cut by some scrolling issues (Firefox browser, Linux operating system):

![Captura de ecrã de 2021-11-23 13-03-43](https://user-images.githubusercontent.com/583546/143021046-b3618a52-3447-499f-a3ba-d2fdc20bdd62.png)

[2021-11-23 12:09] priethor commented on #36541
The most important part here is managing the duotone palettes globally; unless I'm missing something, as important as it is, it would be a nice-to-have rather than a blocker for 5.9.

[2021-11-23 12:14] carolinan commented on #36717
Hi, I am closing this as a duplicate of: https://github.com/WordPress/gutenberg/issues/30642

[2021-11-23 12:14] #36717 closed, assigned to nobody

[2021-11-23 12:24] oandregal commented on #34574
Just wanted to unwrap this comment. I understand this means that the block list could be organized by block categories instead of being a flat list?

[2021-11-23 12:28] github-actions[bot] opened #36779 "[Flaky Test] should not populate edited post with default block for format"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should not populate edited post with default block for format

## Test path
`specs/editor/plugins/templates.test.js`

## Flaky rate (_estimated_)
`57 / 58` runs

## Errors

<details>
<summary>
	<time datetime="2021-11-23T12:28:51.957Z"><code>[2021-11-23T12:28:51.957Z]</code>

[2021-11-23 12:32] oandregal commented on #36772
We can also look at simplifying the merge algorithm, as presets no longer are merged but live under a different key (default, theme, or custom).

[2021-11-23 12:43] kjellr commented on #35607
The reason it's tied to a single block there (and not just set to 0) is because you probably don't want _all_ top-level blocks to ignore the site padding. If you did, you wouldn't enter site padding in the first place. 😄

I actually did originally build it so that the "site padding for children" styles were applied automatically when the "Ignore site padding" toggle was active. But that didn't wor

[2021-11-23 12:53] jasmussen commented on #35607
Forgive my silly question, consider it a provocation to make sure we look at all the corners of the problem: why wouldn't we want all top level blocks to ignore the site padding? Consider that this would be paired with said site-padding being applied _inside_ the block instead, at least in strawman option number 2 in [this comment](https://github.com/WordPress/gutenberg/issues/35607#issuecomment-9

[2021-11-23 13:22] kjellr commented on #35607
It's a good question! Technically, all blocks in the site editor are "full-width" by default, so why wouldn't we have them all ignore the site padding? I'm pretty sure this is basically the approach that #36214 takes — when I activate it, all root-level blocks in the site editor still go edge-to-edge.

Yes, that should be the case. 👍 The issue I have with #36214 is that it currently adds default p

[2021-11-23 13:35] #36651 closed, assigned to kebbet

[2021-11-23 13:44] kriskarkoski opened #36780 "Long URL forces link edit button outside display area"
### Description

When linking to a long URL the edit button is forced outside of the visible area, requiring you to scroll to see it. This only occurs with the Gutenberg plugin active and does not occur in the core block editor.

### Step-by-step reproduction instructions

1. Open the post or page editor
2. Add text
3. Link a long URL to the text, ex. wordpress.org/mz9dbSqC1TwS1hXFdWR6pa9GCqOEDfnL

[2021-11-23 14:02] vindl opened #36781 "Site Editor: undo problem with Cover block"
### Description

When you insert the cover block in the Site Editor, it takes two undo actions to remove it. This is not happening for other blocks that I tested.

### Step-by-step reproduction instructions

1. Go to `wp-admin/site-editor.php`
2. Insert the Cover block anywhere on the homepage.
3. Press Undo. Notice that the action is not reverted.
4. Press Undo again. The Cover block is now remov

[2021-11-23 14:06] vcanales commented on #36698
Absolutely!

[2021-11-23 14:16] ntsekouras commented on #36758
Thanks for reporting @glendaviesnz . I'll close this in favor of https://github.com/WordPress/gutenberg/issues/35229.

[2021-11-23 14:16] #36758 closed, assigned to nobody

[2021-11-23 14:23] annezazu opened #36782 "Post Title Block: Render error when setting Page to homepage"
### Description

After setting the homepage settings to show a Page, the Post Title block initially shows as an error. Upon refresh, it shows correctly. [Hat tip to Piotrek for finding this](https://wordpress.slack.com/archives/C03B0H5J0/p1637675441300900) as part of going through the FSE Outreach Program call for testing.

### Step-by-step reproduction instructions

1. Install the latest version

[2021-11-23 14:28] ryanwelcher commented on #36630
Not at all and perhaps my use-case was too strict 😄  What I am suggesting is that if a block setting doesn't actually have an effect on a block, then it should be removed from the Schema.

For example according to the schema, the `core/button` should support `borders.width` but setting that value doesn't actually do anything. Given that when other blocks use that setting, `core/code` for example,

[2021-11-23 14:37] mtias commented on #36774
We can target this one for later in the plugin.

[2021-11-23 14:49] anver commented on #36693
Hi @talldan I'm using the latest version and for the imports yes you are right, the imports are wrong but the code looks ok on my computer, it's just there for reference purposes, but you'll see when you create a simple react app and check it.

[2021-11-23 14:49] gziolo commented on #36426
The only downside is that links will point to `trunk` in PRs, but it's a trade-off we have to accept.

[2021-11-23 15:14] jameskoster commented on #36547
FWIW I find both "Theme" and "Design" to be a little blurry. I'm not sure the nuance will be interpreted so well by the average user. "Design" also feels a little loose as a definition... the arguments to classify the blocks therein can probably be made for the majority of blocks...

Here's the Design section with the Theme blocks removed:

<img width="349" alt="Screenshot 2021-11-23 at 13 45 33"

[2021-11-23 15:22] SiobhyB opened #36784 "iOS: When Heading block is split, some words change in boldness"
## Description

In the iOS app, when the Heading block is split into two, some words in the block change in boldness.

This only happens when a block-based theme is active on a site and is similar to the bug described in https://github.com/wordpress-mobile/gutenberg-mobile/issues/4063.

## Step-by-step reproduction instructions

* In the iOS app, navigate to the editor on a site that has a block-b

[2021-11-23 15:34] ajlende commented on #36630
One thing that should be noted is that some settings still generate CSS variables in the scope of the block that can be used by themes even if they don't have the UI in the block editor.

For example, this JSON generates this css for the `core/button` block.

[code]

[code]

[2021-11-23 15:39] ryanwelcher commented on #36630
@ajlende that makes sense and in this case, we'd obviously leave that in for the `core/button `block and perhaps all blocks as I assume `color.palette` has the same effect for all blocks.

[2021-11-23 15:56] ndiego commented on #36528
Yeah that looks like it's the same issue.

[2021-11-23 16:02] Andrew-Starr commented on #36687
Attached video of the Editor working correctly with WP 5.8.2 & Gutenberg 11.9.1

I realised after recording that I was using Firefox but it still works correctly in Edge and Chrome.

https://user-images.githubusercontent.com/94701043/143059025-3ba56f91-a5ee-4114-aed3-2b6409ffd301.mp4

[2021-11-23 16:11] skorasaurus commented on #29568
@overclokk
FYI, there's an issue for this at https://github.com/WordPress/gutenberg/issues/31629

[2021-11-23 16:12] SiobhyB commented on #36784
Closing after chatting with @twstokes and finding that this bug only emerges when some words have been auto-corrected, thus making this report a dupe of https://github.com/wordpress-mobile/gutenberg-mobile/issues/4063.

[2021-11-23 16:12] #36784 closed, assigned to nobody

[2021-11-23 16:14] carolinan commented on #36630
Thank you for explaining, it is clearer now and I agree :)

Yes, I have experienced that confusion myself, as there is no longer a list of which block supports which control.
I believe this will be remedied by planned improvements to the documentation.

[2021-11-23 16:18] ryanwelcher commented on #36630
These proposed updates could also help here as well.

[2021-11-23 16:20] overclokk commented on #29568
@skorasaurus should be solved by https://github.com/WordPress/gutenberg/pull/35751 I had already opened an issue https://github.com/WordPress/gutenberg/issues/35708

[2021-11-23 16:23] sgomes commented on #36716
I've looked into how modules are implemented in various browsers, and they follow the spec in this, with the use of the same origin policy.

Loading third party scripts will not be a problem, as long as they're served from the origin, but any module scripts served from a CDN or third-party provider would need the appropriate CORS headers in place, which is a new restriction when compared to classi

[2021-11-23 16:45] #35488 closed, assigned to carolinan

[2021-11-23 17:05] getdave commented on #35521
That's a good point. There are PRs underway to address those issues, but as you say if those aren't going to land then they could be dropped without compromising things.

[2021-11-23 17:22] luisherranz commented on #36642
I meant how does it work when the Query Loop query is inherited, because that's what we should do when the Post ID of the Comment Loop block is inherited as well.

[2021-11-23 17:29] luisherranz commented on #36642
Does this make sense?

- Query Loop block
  - URLs of inhertied queries
    - https://mysite.com/category/something/
    - https://mysite.com/category/something/page/2/
    - https://mysite.com/category/something/page/3/
  - URLs of non-inherited queries
    - https://myste.com/some-page
    - https://myste.com/some-page?query-X-page=2
    - https://myste.com/some-page?query-X-page=3

- Comments L

[2021-11-23 17:31] ciampo commented on #36653
Update: The PR illustrating Approach 1 has been merged.

This doesn't preclude us from iterating with other approaches later on (especially with the higher-order components proposed in Approach 3).

[2021-11-23 17:39] sgomes commented on #36716
I don't think we should try to unbundle, or attempt extreme levels of modularisation. At this point, I believe the right tradeoff is to provide and encourage the same level of bundling as we currently do, but expose these bundles as ESM for native browser loading. If anyone's interested in some outdated explorations into unbundling JS through ESM, [I ran benchmarks and wrote an article on the topi

[2021-11-23 17:42] adamziel commented on #36524
How would you connect the concept of a menu location, which is in a fixed place in classic themes, to block themes where nothing is fixed and users can create virtually any layout?

[2021-11-23 17:54] bgoewert commented on #35686
A fix has been merged in Micromodal v0.4.7
ghosh/Micromodal#479

[2021-11-23 17:56] iandunn opened #36785 "Query terms by slug"
## What problem does this address?

Currently the Query block requires hardcoding `categoryIds` and `tagIds`, which isn't always portable across development environments.

One example is when a limited set of content is exported from production, to avoid leaking private data into local environments. When only exporting a specific post type, the WRX export file won't include meta data for categorie

[2021-11-23 17:59] skorasaurus commented on #31629
@justintadlock can you confirm this has been fixed in the current version of Gutenberg; should have been fixed in https://github.com/WordPress/gutenberg/pull/35751 ?

[2021-11-23 18:13] BushnellWebWorks commented on #36683
Thank you :)

[2021-11-23 18:23] zerosonesfun commented on #36632
iOS 15.1, iPhone XR, latest version of WordPress and Gutenberg. And I don’t think this is new per se. I feel like I’ve never been able to use it without some sort of quirkiness on the iPhone.

But, I will say that Apple’s latest Safari updates cause issues at other sites too. So, this is a pretty tricky one.

[2021-11-23 18:55] zaguiini commented on #30701
Hi all!

What if we adapt to whatever the live site styles are?

The Blockbase theme, for example, does not add the underline style to the site title:

![image](https://user-images.githubusercontent.com/26530524/143084087-3d75e6c4-8da0-4357-a54a-f3e31c4fe985.png)

Look how "gutenberg" (the site title) does not have an underline.

But I am seeing it when using the `Site Title` block inside FSE:

![

[2021-11-23 19:04] nachos5 commented on #14215
I am trying to use react-query with the editor but it's really impossible without this feature since I can't wrap the editor/BlockList. I can create a container block utilizing inner blocks which wraps them with a react-query provider but it would be so much better to not be forced to rely on a block in every page/post for this functionality.

[2021-11-23 19:18] uniquesolution opened #36787 "Block Based Themes are not compatible with Certain plugins"
### Description

I have tested the same html form created by the html form plugin https://wordpress.org/plugins/html-forms/ with php theme and the new block theme (fse theme) , but in FSE theme the form is not submitting. So there is some kind of compatibility issue in new theme. I am using the default TT1 Block theme. Can anybody have idea what will be the issue? The form work just fine when usin

[2021-11-23 19:26] zaguiini opened #36788 "Grouping and ungrouping the Header block results in loss of data"
### Description

When you group the `Header` block and then ungroup it, all content inside the `Header` is lost and only the `Header` block itself remains on the page.

Apparently, the contents of the template part are lost. There is no way to re-select a template.

Adding another `Header` immediately below the affected header does not open the template part selector, resulting in another empty he

[2021-11-23 19:41] jeyip commented on #35602
@shaunandrews This is awesome.

I'm dropping in to say that I was looking for this exact feature when testing out site editing. I'm not sure if I'll have time to work on this in the near future, but I'm keeping this issue on my radar.

[2021-11-23 19:53] annezazu commented on #36788
Tested and confirmed this!

[2021-11-23 20:02] zaguiini opened #36789 "Image block content overflows boundaries inside editor"
### Description

When wrapping an `Image` block inside a layout block (i.e. `Columns`), the block contents leak the container.

That only happens if you specify custom dimensions to the image. Otherwise, it will just fit the parent's width.

Should we add a toggle that allows overflowing the parent's dimensions or is this totally expected behavior?

### Step-by-step reproduction instructions

1. O

[2021-11-23 21:04] zaguiini opened #36790 "Column reordering does not work when trying to move a column to the edges on select mode"
### Description

When trying to move `Column` to the edges using the select mode tool, the blue line does not appear and, by consequence, the `Columns` are not reordered.

It's especially frustrating when you have two columns since you can only reorder them using the list view.

### Step-by-step reproduction instructions

1. Insert the `Columns` block;
2. Add content in all three columns (just so

[2021-11-23 21:10] glendaviesnz commented on #36758
🤦 thanks  - no idea how I managed to overlook that issue in my search yesterday!

[2021-11-23 21:24] coreyworrell opened #36792 "Allow modification of theme.json global styles"
## What problem does this address?

There is currently no way (that I can tell) to modify the output of the global styles when using `theme.json`.

Example use case: creating a color system to allow for different opacity of text and background colors.

Example setup:

`style.css` (or equivalent)

[code]

`theme.json`

[code]

`global-styles` (`#global-styles-inline-css`)

[code]

## What is your p

[2021-11-23 22:52] slightlyfaulty commented on #24352
Actually, this breaks when _any_ entrypoints share a runtime, e.g. when using [`dependOn`](https://webpack.js.org/configuration/entry-context/#dependencies). Because `runtimeChunk` is used to determine the output filename instead of `entrypointChunk`, the output filenames clash and get overridden.

I've tested @stefanfisk's [PR](https://github.com/WordPress/gutenberg/pull/26214) and it works great

[2021-11-23 23:52] jeyip opened #36794 "Full Site Editing: Deleting block settings padding doesn't reset value"
### Description

When I want to reset padding in block settings, I can't simply delete the current value. I have to explicitly set the value to 0 to remove padding.

### Step-by-step reproduction instructions

1. Enable full site editing by activating the Gutenberg plugin and an FSE enabled theme (Ex. Quadrat)
2. Navigate to the site editor
3. Add a row block
4. Add two items into the row block
5.

[2021-11-23 23:58] jeremyfelt opened #36796 "Not able to add new blocks with "Enter" in Chrome on Android"
### Description

When I create a new post on an Android phone using the Chrome browser, type text in the first paragraph block, and then press enter, no new block is created. In order to add a new block, I must insert it manually. The behavior of the enter key is inconsistent. If I add several blocks, delete a few characters, and then try again, I am sometimes able to add a new block with the ente

[2021-11-24 00:03] jeyip opened #36797 "Site Editor: Can't remove group block margins"
### Description

When adding group blocks to the site editor, there's always an accompanying top margin. There doesn't appear to be an obvious way to remove it.

I stumbled across this issue while building a test site for the editor. I wanted add group blocks to the top level document to organize my page layout, but the margins kept introducing unwanted white space.

<img width="842" alt="Screen S

[2021-11-24 00:04] lwangdu commented on #36790
If you use the list view dragon and drop works.  Also if you use the arrow, you can move column around no problem. The column dragon and drop doesn't work with TT2 as same as above video.

[2021-11-24 00:12] jeremyfelt commented on #13000
Closing this because I'm pretty sure it's now https://core.trac.wordpress.org/ticket/49185

[2021-11-24 00:12] #13000 closed

[2021-11-24 00:45] tellyworth commented on #32939
I was able to hack together a filter that could be used to emulate a crude version of dynamic templates from a theme's functions.php.

[code]

Obviously it only handles simple string values and doesn't handle any of the hierarchical or truly dynamic ideas discussed above. But it does work for simple cases equivalent to `get_template_part( 'content', 'post' )` (ie ``). And I could imagine expanding

[2021-11-24 01:38] annezazu commented on #36787
Hey there! Thanks for opening this issue @uniquesolution. By chance, have you reached out to the plugin authors yet? If so, I'd recommend doing so as a first step. They will ultimately know more about the code required on their end and what might be interfering, including whether it's related to block themes!

[2021-11-24 01:42] talldan commented on #36607
Thanks for the extra information. The All Products block isn't one that WordPress or Gutenberg provides by default so it's not something that can be addressed here.

You'll need to find out which of your plugins provides this block and then reach out to the plugin developer for support. If this plugin was added through the WordPress plugin directory you should be able to go to the plugin page and

[2021-11-24 01:42] #36607 closed, assigned to nobody

[2021-11-24 02:29] talldan commented on #36693
@anver I tested it out in CodeSandbox and it didn't have any issues:
https://codesandbox.io/s/gradientpickerexample-pgj27

[2021-11-24 02:40] talldan commented on #29822
I believe this is resolved because there's now a 'None' option, and the options can't be deselected:
<img width="243" alt="Screenshot 2021-11-24 at 10 39 57 am" src="https://user-images.githubusercontent.com/677833/143161655-4941eedb-d197-4a10-bb79-384fb3da5a47.png">

[2021-11-24 02:40] #29822 closed

[2021-11-24 02:45] zaguiini commented on #36790
Sure, but we're talking about the select mode here. Users should be able to place the column on the edges as well via drag and drop without having to open the list view.

[2021-11-24 02:45] tellthemachines commented on #35521
I was given to understand that removing the dialog that forces users to name their navigation block before saving is a must have for this release. #36593 is the only issue tracking that work, since #36575 was closed.

It is important at this stage that we're all super clear about what needs to be done for 5.9, so let's please not create further confusion by mentioning issue numbers instead of expl

[2021-11-24 03:34] talldan commented on #36613
The icons look really nice though 😄

[2021-11-24 04:00] uniquesolution commented on #36787
Yes, I have already posted in forum support of plugin too. https://wordpress.org/support/topic/form-is-not-submitting-successfully/

But I am sure about this that this issue is only coming up with Block theme. For testing purpose I have also created a demo instawp wordpress setup to check it. https://togedu.us2.instawp.xyz/
Login detail:
Username: wp-admin
Password: 4yenISr^#^gmumBB)7

Currently T

[2021-11-24 04:05] #30669 closed, assigned to getdave

[2021-11-24 04:06] tmatsuur opened #36803 "About `access` of keycode modifiers"
### Description

In packages/keycodes/src/index.js, the content of `access` is specified as follows.
`access: ( _isApple ) => ( _isApple() ? [ CTRL, ALT ] : [ SHIFT, ALT ] ),`

I have two uncomfortable feelings about the above:
1. `CTRL` is applied when the return value of the isApple function is true.
2. there is no compatibility between [CTRL, ALT] and [SHIFT, ALT] applied by the return value of

[2021-11-24 05:53] andrewserong commented on #36554
I believe I have a fix for this in #36806 (for one of the cases, which was after migrating the v1 gallery using the Update button, there's also a fix in #36804 which should help with testing).

[2021-11-24 07:03] Mamaduka commented on #36781
@vindl PR is ready for review. I'm changing the "Site Editor" label to "Cover" since it's a general blog issue unrelated to the editors.

[2021-11-24 07:35] #36782 closed, assigned to ntsekouras

[2021-11-24 08:02] uniquesolution commented on #18095
I am not able to understand why can't we simply apply to group block, we already have it in cover block working perfectly, then why group not work the same way ? If we provide rgba format color in theme.json, then it should simply show opacity parameter too to change the color opacity.

[2021-11-24 08:16] carolinan commented on #36797
Are you confident that this is not the blockGap?

[2021-11-24 08:22] carolinan commented on #36794
Removing the value resets to the theme or block default, not 0.

[2021-11-24 08:27] carolinan commented on #36772
Duplicate of https://github.com/WordPress/gutenberg/issues/36360?

[2021-11-24 08:35] oandregal commented on #36360
Thanks for reporting.

This should be resolved by https://github.com/WordPress/gutenberg/pull/36674 which added a `custom-` prefix to any user-provided color to fix this use case, so there's no conflicts with theme or default colors.

[2021-11-24 08:35] #36360 closed, assigned to nobody

[2021-11-24 08:36] oandregal commented on #36772
Thanks for sharing, Carolina. That's the same sort of problem (colors from different palettes having the same slug) but the conflict, in that case, comes from user colors. The fix for that was different and part of https://github.com/WordPress/gutenberg/pull/36674

[2021-11-24 08:39] gziolo commented on #24352
Thank you for the reminder and for testing the patch proposed. Let's see what we can do to move it forward 👍🏻

[2021-11-24 09:11] Mamaduka commented on #36544
Hi, everyone

I just wanted to check in again, if we have the final design for this issue.

Side note: The separate "Styles" entry point was removed recently - https://github.com/WordPress/gutenberg/pull/36637.

[2021-11-24 09:27] gziolo commented on #36716
@sgomes, thank you for doing the research and sharing your findings.

100% agree with that. I filed the issue https://github.com/WordPress/gutenberg/issues/2768 to discuss options for lazy loading blocks (or their parts) back in 2017! We haven't been able to come up with any solution that would work seamlessly for WordPress core, not mentioning 3rd party blocks.

There was some progress with the B

[2021-11-24 09:45] jameskoster commented on #36613
We can try adding the icons too, but I suspect that would involve edits to the underlying component and so might be better handled separately?

[2021-11-24 09:58] gziolo commented on #22890
It looks like there is still a lot of components to update:

<img width="307" alt="Screenshot 2021-11-24 at 10 57 57" src="https://user-images.githubusercontent.com/699132/143216395-c1a41867-ac67-4338-970c-a258ffbf1cf9.png">

[2021-11-24 10:05] youknowriad commented on #22890
@gziolo If I exclude native code, tests, documentation, error boundaries... I find 38 instances. It's a bit better :)

[2021-11-24 10:12] #24352 closed

[2021-11-24 10:16] #23256 closed

[2021-11-24 10:19] #5055 closed

[2021-11-24 10:19] #5803 closed

[2021-11-24 10:46] CreativeDive opened #36812 "<!DOCTYPE html> is missing in the Block pattern preview IFRAME and breaks the design of blocks"
### Description

Hey together,

I have design differences between the editor output of blocks and the view of the block pattern preview.

I could figured out, that this issue comes from the missing `<!DOCTYPE html>` inside the block pattern preview iframe.

Please add this `<!DOCTYPE html>` to get the same design results like the block and frontend view.

### Step-by-step reproduction instructions

[2021-11-24 10:56] dinhtungdu opened #36814 "Custom icon for custom template part area"
## What problem does this address?
This issue comes from https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/5221

Currently, we only[ support 4 icons](https://github.com/WordPress/gutenberg/blob/c3c3466ef6cc04d590e03fba58f3997efc653cf6/packages/editor/src/utils/get-template-part-icon.js) for template part areas and there is no way plugins/themes can use custom icons for custo

[2021-11-24 11:08] jameskoster opened #36816 "Focussed destructive menu items inherit default styles"
When applying `isDestructive` to a `MenuItem` it inherits the default styles when focussed:

https://user-images.githubusercontent.com/846565/143227438-c3edff29-1f3d-4673-a0e4-04341eb76ec9.mp4

The thicker border seems fine, but a destructive action should probably always have the red highlight.

[2021-11-24 11:30] #36611 closed, assigned to nobody

[2021-11-24 11:41] gziolo commented on #36497
I can confirm that the issue is coming from the exact same name used for the file. One way to go around it looks as follows:

[code]

It will create two entry points in the build folder:
- `index.js`
- `timeslot.js`

So the difference is that `@wordpress/scripts@17.1.0` bundles those files together.

[2021-11-24 11:52] jeremyfelt commented on #36796
I'm confused. It's working now. Sorry for the noise! 🙃

[2021-11-24 11:53] #36796 closed, assigned to nobody

[2021-11-24 12:21] mrfoxtalbot opened #36818 "Dragging multiple images into the editor returns error message: "Editing this Gallery in the WordPress mobile app requires version 18.2 or higher."""
### Description

I uploaded a few images to a simple site by dragging and dropping them from my computer and it worked, but I got this message:

it does not make any sense since:

- I am not using the APP
- The upload worked just fine.

### Step-by-step reproduction instructions

1. Create a new post (or edit an existing one)
2. Drag multiple images from your computer into the editor
3. Images wil

[2021-11-24 12:27] Andrew-Starr commented on #36794
The value can be reset by clicking the three dots to the right of 'Dimensions' and then selecting the 'Reset All' option.

It's not immediately clear how to do this and I struggled for a while until I found it.

[2021-11-24 12:51] getdave commented on #35521
## Update 24th November 2021

* [A list of "Must Haves" for the Navigation block for WP 5.9](https://github.com/WordPress/gutenberg/issues/35521#issuecomment-975327997) were published.
* We're [tracking these items on the main 5.9 overview issue](https://github.com/WordPress/gutenberg/issues/36556).
* Navigation Areas (including the block itself) are **_not_** going to be in 5.9. In fact they are

[2021-11-24 13:11] #36546 closed, assigned to youknowriad

[2021-11-24 13:13] cbravobernal commented on #36642
When the Query Loop is inherited, if you mean when you are on a post or a page, the post id is got from the global object `$post;`

In case you have a Query Loop block, you assign a `queryId` in order to be able to create new queries and not be attached to that `$post`.

I'm not sure if I'm answering your questions 😅, we could consider creating some looms or videos if the communication feels uncle

[2021-11-24 13:20] mtias commented on #36538
Yes, this is more of a decision that's been pending for some time — the change is just changing a flag. Let's see what comes up in testing and we can make a call.

[2021-11-24 13:26] mtias commented on #12420
Yes, that'd be preferable as a first approach. It can also ensure it works for existing content.

[2021-11-24 13:46] Mamaduka commented on #36818
It was introduced in #36012.

/cc @glendaviesnz

[2021-11-24 13:58] SantosGuillamot commented on #34994
There has been some progress during the latest weeks regarding the Comments blocks:

- [Comment Query Loop block](https://github.com/WordPress/gutenberg/issues/34996) & [Comment Template block](https://github.com/WordPress/gutenberg/issues/35000): [@michalczaplinski](https://github.com/michalczaplinski) has been figuring how to handle nested comments and implementing it on [this Pull Request](http

[2021-11-24 14:10] DAreRodz commented on #36642
Uhm. 🤔   As far as I understood, the query ID would be a way to identify a specific query block, right? So, I would prefer something like `cquery-X` or `comments-query-X`, or even `comments`, as the name of the block is Comments Query Loop.

`cpage` is the query var that WordPress already uses for comment pagination, but, for me, it would only make sense in the context of a given post. Something l

[2021-11-24 14:16] ntsekouras commented on #36729
👋 thanks for reporting this. I couldn't reproduce this though 🤔

You changed the font family setting for a single Post Title block. If you wanted this to be effective for all blocks you should change the setting in Global Styles sidebar. Is this the case?

[2021-11-24 14:37] jameskoster opened #36821 "Site Editor: "Site" menu item is active when editing a template"
<img width="1096" alt="Screenshot 2021-11-24 at 14 35 38" src="https://user-images.githubusercontent.com/846565/143258083-cf438aca-7bf4-46c3-a5eb-c04224826ef0.png">

The "Site" menu item should not be active in this case.

[2021-11-24 14:43] fklein-lu commented on #36721
@getdave @mtias This approach does not mirror what `wp_nav_menu()` does, because this function allows theme developers to buy out of if the `wp_page_menu()` fallback. Which every theme developer that knows his craft does.

The first and main reason is that outputting a list of pages in today's WordPress makes zero sense. Maybe this was good when WordPress was still mainly a blog, and pages were th

[2021-11-24 14:47] shaunandrews commented on #36544
I guess the original proposal of adding it to the Styles sidebar "..." menu is still the best solution.

![](https://user-images.githubusercontent.com/26996883/142054181-1f695d8e-96db-4684-81c4-ca7301a8df58.png)

[2021-11-24 14:50] fklein-lu commented on #36721
Also I looked deeper at the PR, and just taking the first non empty `wp_navigation` post seems questionable at best. I'd rather have _no_ menu then some random menu.

Nothing is worse than software doing something you didn't want to do. And just willy-nilly displaying whatever menu happens to be pulled from the database is definitely software taking decisions it shouldn't take.

[2021-11-24 14:58] jameskoster opened #36823 "Site Editor: Inserter is pushed over too far when the W menu is opened"
<img width="506" alt="Screenshot 2021-11-24 at 14 56 39" src="https://user-images.githubusercontent.com/846565/143261597-4adf5468-3cba-4e6e-ac5c-d2b9a021712c.png">

When you open the W menu in the Site Editor, the padding on the top bar is too large which is pushing the Inserter button over unnecessarily.

[2021-11-24 14:58] PypWalters commented on #11852
I believe this ticket can be closed now that https://github.com/WordPress/gutenberg/pull/36799 has been merged.

[2021-11-24 15:02] alvinchevolleaux opened #36824 "DropZone component listeners not working on latest Chromium browser update"
### Description

The onHTMLDrop event listener on the `DropZone` component seems to have stopped working on the latest version of Chrome (Version 96.0.4664.45 (Official Build) (64-bit)) but only on Windows, this doesn't appear to affect Chrome on Mac OS.

It seems the `DropZone` component now only handles drag and drop as files rather than HTML.

In our particular case we have a raw transform hand

[2021-11-24 15:08] getdave opened #36825 "Add e2e test to cover Nav block front end fallbacks"
In https://github.com/WordPress/gutenberg/pull/36740 we added functionality to provide a fallback for the Nav block.

Let's improve test coverage around that by adding e2e tests.

I left a few suggestions related to naming, but otherwise this looks good to me! If you added a test or two, that would be absolutely stellar. Otherwise, 🚢

_Originally posted by @adamziel in https://github.com/WordPress

[2021-11-24 15:19] jameskoster opened #36827 "Site Editor: Hide appender in non-empty documents"
The appender inserter that appears at the root level of the document degrades the site editing experience, particularly when focussing on a template part:

<img width="1534" alt="Screenshot 2021-11-24 at 15 12 28" src="https://user-images.githubusercontent.com/846565/143264687-478ff4ca-4db7-4ad1-b9e9-65077372cae3.png">

The white space in the screenshot above is caused by the appender inserter.

S

[2021-11-24 15:19] jorgecontreras commented on #36688
I'm adding a How to guide based on The Good Docs Project template for Block pattern creation.

[2021-11-24 15:22] #36593 closed, assigned to tellthemachines

[2021-11-24 15:37] adamziel commented on #36728
cc @noisysocks who did the WP Core merge

[2021-11-24 15:38] pipetko commented on #20442
I am not testing this  https://www.wpexplorer.com/wp-auto-post-link-title-attributes/

[2021-11-24 15:45] skorasaurus commented on #26504
May want to consider this closed since the new recommended way of adding a custom color palette is now through theme.json (ref https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-json/#css-custom-properties-presets-custom) instead of through add_theme_support

[2021-11-24 15:50] jasmussen commented on #36697
I think this could work well.

One thing to consider is how to make it visually clear why the interface defaults to patterns here in the top level context. To help highlight that, I tried a mockup that zooms out the page into an exploded view:

<img width="2840" alt="Insert patterns i2" src="https://user-images.githubusercontent.com/1204802/143249270-187227c3-15f4-4eee-9241-10630ecc4bbf.png">

Thi

[2021-11-24 16:03] kubiqsk opened #36830 "Missing filters/possibility to change before_title for legacy widgets like nav_menu in new Gutenberg widgets editor"
### Description

currently it's not possible to change widgets `before_title` from `<h2>` to `<h4>` when you use new gutenberg widgets environment and legacy widgets like `nav_menu`
it's calling `the_widget` with `$arg` without any `apply_filter` in `wp-includes/blocks/legacy-widget.php`

### Step-by-step reproduction instructions

1. Go to `/wp-admin/widgets.php`
2. add Legacy Widget - Navigation

[2021-11-24 16:08] getdave commented on #36721
**Update**: I missed your comment here https://github.com/WordPress/gutenberg/issues/36721#issuecomment-977944153. Let me come back to you.

-------

Thanks for your feedback @fklein-lu. I understand why you say that. However, the fallback pattern implemented here is already in place in WP Core for classic Themes that use `wp_nav_menu`.

See https://developer.wordpress.org/reference/functions/wp_n

[2021-11-24 16:10] getdave commented on #36721
Re-opening as I want to track these final tasks:

- [x] https://github.com/WordPress/gutenberg/pull/36877
- [x] https://github.com/WordPress/gutenberg/pull/36849
- [x] https://github.com/WordPress/gutenberg/pull/36850

[2021-11-24 16:28] fklein-lu commented on #36721
@getdave So how can I as a theme developer disable this fallback in a block-based theme?

[2021-11-24 17:05] annezazu commented on #36741
Are there plans to extend?

+1 to this question. I originally had the call for testing setup to add a custom/general template but now see this isn't an option. Going to have folks select Archive to move the task along but ideally would like them to create a custom template.

cc @kevin940726

[2021-11-24 17:20] iandunn commented on #23626
I may be doing something wrong, but I do see the Shortcode block in the Inserter when editing block templates.

Shortcodes also work when I type them directly into a paragraph block (with the surrounding brackets), or add them directly to a `{template}.html` file.

That's the way it should be, IMO. Requiring people to re-write shortcodes or switch 3rd party plugins would make it _harder_ to switch

[2021-11-24 17:29] amustaque97 commented on #22890
I would like to refactor `SlotComponent` but not sure how to test it validate it to make sure if things are working correctly after refactoring! Can anyone please help with that?

[2021-11-24 17:49] paaljoachim commented on #36823
Associated issue:
[Site Editor] Templates list screen - make the screen thinner and add truncation to site title.
https://github.com/WordPress/gutenberg/issues/36657

[2021-11-24 17:50] paaljoachim commented on #36827
I believe that @shaunandrews and @jasmussen might want to take a look at this issue.

[2021-11-24 17:59] #36574 closed, assigned to xknown

[2021-11-24 18:03] jeyip commented on #36797
@carolinan If you're describing classname styling, then you're completely right. I do see a top gap described as `--wp--style--block--gap`.

<img width="1279" alt="Screen Shot 2021-11-24 at 10 10 08 AM" src="https://user-images.githubusercontent.com/5414230/143292727-9079a0c2-69d3-4c4f-8a64-01f77b757fb2.png">

If you're talking about using the block gap settings feature, from my understanding, it

[2021-11-24 18:04] anver commented on #36693
This is my component

[code]

I have the latest version 19.0.5

still getting the same error, tried deleting node_modules folder and compiling fresh but in vain.
other components from the packages are working fine just CustomGradientPicker and GradientPicker is not

@talldan

[2021-11-24 18:08] DAreRodz commented on #35010
I'm planning to work on this issue, so I've assigned it to me.

@c4rl0sbr4v0, for the design, I'll keep the same of the Query Pagination Numbers block.

[2021-11-24 18:24] jeyip commented on #36794
Thanks for chiming in @carolinan That doesn't appear to be the case for me. In gif above, I set the padding to 34px, and when I delete the values, the padding in the block remains at 34px.

Thanks Andrew! That's helpful 🙏. I still think there's a concern for me regarding how intuitive the existing reset option is. I've seen that deleting input content on other platforms will reset the value automa

[2021-11-24 18:31] jenfloods opened #36833 "Add str text to Gutenberg Table of Content block headings to use CSS attribute selectors"
We are using a Table of Content Gutenberg block and we needed to adjust where the jump links position jumps to on a page due to Sticky Header issue causing to hide part of the content.

It would be helpful to add a common 3-5 letters str prior to the dynamic classes added to h2 tags in the Table of Content block.
Example of the issues to call CSS dynamically would be helpful, [read here](https://w

[2021-11-24 18:33] wpgaurav opened #36834 "How to remove extra global-styles-inline-css?"
Hi team,
I am using Gutenberg with a non-FSE theme and there is some extra CSS on [my site](https://gauravtiwari.org) which I don't need.

`<style id='global-styles-inline-css'>
 body{--wp--preset--color--black: #000000;--wp--preset--color--cyan-bluish-gray: #abb8c3;--wp--preset--color--white: #ffffff;--wp--preset--color--pale-pink: #f78da7;--wp--preset--color--vivid-red: #cf2e2e;--wp--preset--col

[2021-11-24 18:51] shaunandrews commented on #36827
Agreed all around. Also better matches the reality of the partial when rendered in the template and front-end.

[2021-11-24 19:05] parsakafi commented on #16714
Any update?

[2021-11-24 19:24] skorasaurus commented on #36834
Hi, thanks for reporting.

Unfortunately, this has been decided to be included within Core Gutenberg regardless if you don't use the gradients, because there's the assumption that other themes and plugins may rely on though css variables.

More information is at https://github.com/WordPress/gutenberg/issues/24684 and you can share your reaction in there as well.

[2021-11-24 19:24] #36834 closed, assigned to nobody

[2021-11-24 20:08] markjaquith opened #36836 "Placeholder component does not correctly add margin-right for dashicons"
### Description

The `Placeholder` component adds `margin-right` to its icon:

https://github.com/WordPress/gutenberg/blob/8533ca10dac2c2aa1831fb65bc2cf5768b9615e5/packages/components/src/placeholder/style.scss#L43-L65

The `margin-right` is specified as `1ch`.

But when you supply a dashicon, like `<Placeholder icon="admin-links" label="Label" />`, this doesn't work, because `1ch` is defined as t

[2021-11-24 20:30] markjaquith commented on #36836
The simple fix for this would be to move to `rem`-based `margin-right`. Just have it be whatever `1ch` is for SVG icons.

[2021-11-24 21:00] jeremyfelt opened #36838 "Editor crashes when publishing a post type with no title support"
### Description

In the current Gutenberg plugin, when a post type has no post title support, the editor crashes when Save Draft or Publish are clicked. This does not happen in WordPress 5.8.2 without the Gutenberg plugin activated.

This seems similar to #29921, which crashed the editor when the code editor view was opened.

### Step-by-step reproduction instructions

1. Register a post type with

[2021-11-24 21:47] chthonic-ds commented on #36772
Is it possible to continue allowing theme colours to override the default ones if core palettes are disabled by the theme?

My use-case: I have a theme with "black" and "white" values that are not pure black and white. I originally set these up with custom colour names but later switched to overriding the default `--wp--preset--color--black` and `--wp--preset--color--white` properties. This allows

[2021-11-24 22:15] stokesman commented on #36497
Thanks again @gziolo. The projects in which I ran into this are all parent/child blocks so I prefer the single bundle and using `--entry` seems the best upgrade path. That it changes the built filenames (including CSS) isn't a really an issue. If it were, there's also the option to use the single default entry point (`src/index.js`) and inside it `import` the other directories’ indexes.

I'm think

[2021-11-24 22:24] paaljoachim commented on #36536
Thank you Anne and @stacimc Staci!

[2021-11-24 23:06] #36554 closed, assigned to andrewserong

[2021-11-25 00:49] cngodles commented on #31211
This is fixed by #34439. The problem still exists in the core, but it looks like a solution is coming with 5.9.

[2021-11-25 00:49] #31211 closed, assigned to nobody

[2021-11-25 00:52] noisysocks commented on #36728
Ah, yeah, good flag. I opened a ticket: https://core.trac.wordpress.org/ticket/54506

[2021-11-25 01:07] ramonjd commented on #35536
The inserter is proving to be fickle. While it might not cover all cases described, this might be a start: https://github.com/WordPress/gutenberg/pull/36798

[2021-11-25 01:17] glendaviesnz commented on #36824
Thanks for reporting this @alvinchevolleaux. For me on Chrome 96.0.4664.55  the onHTMLDrop method seems to be capturing the dropped HTML correctly:

![dropzone](https://user-images.githubusercontent.com/3629020/143334459-cc8e75a4-67b4-496a-b4d9-c2c980d1b991.gif)

I also tried with a custom dropzone in a block and it seemed to capture html drop as expected separated to a file drop:

![more-drop](ht

[2021-11-25 01:23] cngodles commented on #36789
In looking at the editor, it appears that the `<img>` element is actually overflowing the grandparent `<figure>` element. I say grandparent because there is a `<div>` as a parent to the `<img>` that has inline styles applied in response to the resizing.

I went further and attempted to manually change the width of the `<figure>`, but even with larger sizes, the columns won't budge in the editor.

[2021-11-25 01:41] cngodles commented on #36780
Wordpress 5.8.2, Gutenberg 12.0.1 (active)

Windows, Chrome latest. Might be why I have scroll bars in comparison.

<img src="https://user-images.githubusercontent.com/5685764/143343926-f88f86b1-db1b-4cad-9353-b19fe58b41ed.png" width="400">

<img src="https://user-images.githubusercontent.com/5685764/143344213-ca4b98a4-3c6b-4543-bf8d-c53e5ca3ffc8.png" width="400">

[2021-11-25 02:49] talldan commented on #36693
I tested again in a local project and it still worked, so I definitely don't think this is a bug, but more an issue with your project. Here's the project if you're interested:
https://github.com/talldan/gradient-picker-test

I'd recommend locating the `@wordpress/components` folder in the `node_modules` folder and looking at the package.json file to check the version you have installed. Dependenci

[2021-11-25 02:49] #36693 closed, assigned to nobody

[2021-11-25 03:00] annezazu commented on #36787
Very strange - I can replicate this! @jffng  do you have any insight here as to what might be causing this and where the problem lies (block themes or the plugin)?

[2021-11-25 03:35] #11711 closed

[2021-11-25 03:47] carolinan commented on #36797
BlockGap adds spacing both on top of a block and horisontal spacing between inner blocks, if inner block support has been added, like with the columns.

https://github.com/WordPress/gutenberg/pull/33812/files#diff-324697e41855298e2f2c74b078f174e0cbc9075cef736ce9c1e2c169bf64652eR66

A while back I opened an issue about adding documentation for blockGap because it is confusing -Nobody was able to pi

[2021-11-25 03:49] noisysocks commented on #36728
Patch to remove Navigation Areas from Core: https://github.com/WordPress/wordpress-develop/pull/1944

[2021-11-25 03:55] glendaviesnz commented on #36519
@javierarce  I have [added a PR](https://github.com/WordPress/gutenberg/pull/36842), so we can explore how your suggestion works in practice.

[2021-11-25 04:09] uniquesolution commented on #36787
@annezazu and @jffng , as per my investigation the form plugin is using `<?php wp_footer(); ?>` for output in file plugins/html-forms/views/form-preview.php , and in TT1 Block theme or any other block theme, templates are created through html files and wp_footer is directly handled by wordpress in this case, So it appears to be some conflict between wordpress default wp_footer and the plugins incl

[2021-11-25 04:20] ramonjd opened #36844 "DOM: tabbable throws an error while editor in Select Mode"
### Description

When tabbing through elements in the Post Editor, tabbable.js throws an error when it cannot find a target element in its "focusable" array, which is an array of elements that are eligible for focus.

<img width="376" alt="Screen Shot 2021-11-25 at 3 15 08 pm" src="https://user-images.githubusercontent.com/6458278/143378760-770c1022-80af-4c5e-8f15-9efdcc677c2c.png">

The issue cam

[2021-11-25 04:31] deckblad commented on #19278
I'm currently seeing the same behavior as described by carlomanf.

[2021-11-25 05:06] tellyworth commented on #36785
I found a way to work around this using a filter. It's a hack, and I definitely think this should be supported in core, but this might be of use for block theme development in the meantime:

[code]

That's only lightly tested, and I haven't considered security.

[2021-11-25 05:09] jeyip commented on #36797
Thanks for the context Carolina!

[2021-11-25 06:33] getdave opened #36846 "Improve docs around getEntityRecord query filters"
## What problem does this address?

`getEntityRecord` is a very important method. However it does not have much documentation.

https://developer.wordpress.org/block-editor/reference-guides/packages/packages-core-data/#getentityrecord

The main area I'd like to clear up is that, unlike it's pluralised cousin `getEntityRecords`, the `query` parameter of `getEntityRecord` does not actually allow you

[2021-11-25 06:46] getdave commented on #36721
You can't..._yet_. We will add a hook to allow for that and/or the ability to filter what is rendered as a fallback.

**Update**: here is a PR for that https://github.com/WordPress/gutenberg/pull/36850

[2021-11-25 06:52] carolinan commented on #36794
But don't you need to save those changes for them to apply?

[2021-11-25 06:54] carolinan commented on #36794
I understand, I apologies for not paying close enough attention to the gif :)

[2021-11-25 07:02] Mamaduka commented on #36838
Hi, @jeremyfelt

I could reproduce the issue with Gutenberg trunk/12.00. I tried with Firefox and Chrome.

Can you provide more details?

[2021-11-25 08:02] jasmussen commented on #36827
Generally agreed, but I think it's important for us to think of a clear and intuitive heuristic for when it shows and when it doesn't, one that ideally works across every instance of the editor. I'm not sure "non-empty" is enough. I know @youknowriad is busy as always, but he recently tinkered with this behavior a bit: what are your thoughts Riad?

[2021-11-25 08:10] ntsekouras commented on #36547
I removed myself from assignee because my first approach [wasn't the one](https://github.com/WordPress/gutenberg/pull/36719#discussion_r754088181) wanted and I understand the issue is time sensitive.

I'll still try to find a better approach but If anyone has something better in mind, please try this out.

[2021-11-25 08:45] #36772 closed, assigned to oandregal

[2021-11-25 08:48] youknowriad commented on #36797
If that group block is a top level item, than it's expected, the gap between blocks is added using margins (top margins) because there's no "gap" support in regular divs (no flex or grid).

That said, we do have a related that is being worked on here #36680

[2021-11-25 08:51] youknowriad commented on #36827
Well right now, when you focus the template part, the inserter shouldn't be visible (per the last changes), so the issue is less present. the inserter is still visible when nothing is selected but maybe that's an acceptable tradeoff for now (we also need to think about post editor, it's the same behavior)

[2021-11-25 08:52] youknowriad commented on #36827
If that behavior is a good one for everyone and a must have for 5.9, we should backport #36656 in that case.

[2021-11-25 08:54] aristath commented on #24834
This was done in https://github.com/WordPress/gutenberg/pull/29026 and further refined in https://github.com/WordPress/gutenberg/pull/31604

[2021-11-25 08:54] #24834 closed

[2021-11-25 08:55] aristath commented on #36556
Already done in https://github.com/WordPress/gutenberg/pull/29026 and further refined in https://github.com/WordPress/gutenberg/pull/31604

[2021-11-25 09:19] luuptekman commented on #25330
Just my two cents here...had a similar issue with `core/button` `outline` unregister.

Needed to add `wp-edit-post` as a dependency when enqueue script. This is working code:
[code]

[2021-11-25 09:44] #36818 closed, assigned to nobody

[2021-11-25 10:02] Mamaduka commented on #36818
Thanks for the follow-up, @mrfoxtalbot.

[2021-11-25 10:12] oandregal commented on #30642
I've got a potential fix for this at https://github.com/WordPress/gutenberg/pull/36851

[2021-11-25 10:12] Andrew-Starr opened #36852 "Core palette opt out not working in site editor"
### Description

With the new `corePalette` and `coreGradients` keys, themes can opt out of displaying the core color palette.

This works correctly in the post editor, but in the site editor the core color palette and gradients are still available.

### Step-by-step reproduction instructions

Add the opt outs to theme.json as detailed in https://github.com/WordPress/gutenberg/pull/36492 and https

[2021-11-25 10:23] overclokk opened #36853 "Remove the wrapper tagName for Template Part block wp:template-part"
@aristath Said to open a new issue about this and there it is.

The why to remove the wrapper tagName you can find all in this issue https://github.com/WordPress/gutenberg/pull/36571 but for the simpler version is to remove side effect generated by that wrapper, as I already said many times `wp:template-part` must work like `get_template_part()` only includes the template you want to include and n

[2021-11-25 10:29] Andrew-Starr commented on #36794
I agree. My thoughts are that deleting the input should reset the padding. That would be the most intuitive.

Also worth noting that _**if**_ the padding is defined as 34px for the group/row block - either in theme.json or user defined in the site editor - that this value does not appear by default in the input control and is still empty.
So when resetting, the input goes back to empty but the blo

[2021-11-25 10:36] youknowriad commented on #36853
Thanks for the issue.

If the idea is to remove the wrapper element entirely, then it's not possible to do so because of the way blocks are rendered on the editor. Blocks do need a wrapper to be aligned properly otherwise there's a difference between frontend and editor that causes important visual differences (especially when alignments are used). If it's just about removing the tagName attribute

[2021-11-25 10:41] jameskoster commented on #36827
This is actually the behaviour I think we need to change here. It is much less problematic in the post editor, and even the template editor to some extent, because the bottom of the document is not visually defined except by the browser window itself.

But in template part focus mode it makes it difficult to interpret whether the whitespace at the bottom of the document is added by the inserter, o

[2021-11-25 10:51] youknowriad commented on #36827
@jasmussen this makes me wonder why this appender is not "absolute positioned" like the ones in container blocks? That would solve the issue I believe.

[2021-11-25 10:58] jasmussen commented on #36827
Abs positioning would probably help here, yes. I think the challenge there is that it's actually _yet another appender_ that's different, but still the same, as the others, because technically it _is_ abs positioned. It's just abs positioned inside an empty paragraph that you're meant to be able to click to start typing. If that empty paragraph wasn't there, the appender wouldn't be either. I've r

[2021-11-25 11:12] jameskoster commented on #36827
That seems perfectly reasonable to me.

[2021-11-25 11:17] jameskoster opened #36857 "Selecting a block in a container, then pressing enter inserts an empty block at the top of the container"
### Description

I would expect pressing enter to insert the empty block directly beneath the selected one. But here's what currently happens in both the post and site editors:

https://user-images.githubusercontent.com/846565/143431853-11f65981-294d-4e90-b62e-3393929ca7bc.mp4

### Step-by-step reproduction instructions

1. Open a document in the post or site editor
2. Insert a group block
3. Inse

[2021-11-25 11:22] overclokk commented on #36853
It's about to remove also the div wrapper, this block is not a design block but only a block that include other file that have blocks inside, this block must not have any behavior alignment so should not have any issue about alignment, if editor has issue about alignment so it is an issue for the editor and should be solved there.

[2021-11-25 11:26] youknowriad commented on #36853
I agree with you on principle, but it's not something that can be fixed in the editor. Block UI require extra DOM node, I've thought for a long time about potential approaches to get rid of that DOM node in the editor but it's not possible IMO.

We have to make tradeoffs and I think this is a fine tradeoff, better than leaving all themes feel broken when loaded in the site editor.

[2021-11-25 11:28] paaljoachim opened #36860 "Site Editor: Add New - Custom/General template"
Associated:
[Site Editor] Templates list screen overview
https://github.com/WordPress/gutenberg/issues/36597

## What problem does this address?

In Templates.
When clicking "Add New". There is no option to create a general/custom template.

![Add-new-template](https://user-images.githubusercontent.com/5323259/143433529-93391a0f-dee8-428c-8de2-4558a2bce6f9.jpeg)

## What is your proposed solution?

[2021-11-25 11:30] paaljoachim commented on #36741
Hey Anne

I added a separate issue for adding a new custom/general template.

[2021-11-25 11:33] paaljoachim commented on #36860
@annezazu

I am able to add a new template for "Front Page", "Archive" and "Search" but not a custom/general template.
Are there plans to extend?

Anne made this reply:

Here: https://github.com/WordPress/gutenberg/issues/36741#issuecomment-978066339

[2021-11-25 11:38] youknowriad commented on #36853
I'm going to close this issue for now but if at some point in the future we find a way to render wrapper-less blocks, we should revisit it.

[2021-11-25 11:38] #36853 closed, assigned to nobody

[2021-11-25 11:40] overclokk commented on #36853
If it is not possible to remove the wrapper element entirely (I dont' know but there is only a way) then it can be made optional with a controller so if I want to remove the wrapper I don't have to filter the block.

[2021-11-25 11:41] youknowriad commented on #36548
I think the required changes for this issue for 5.9 are done. Styles and patterns should be explored later post 5.9. Let me know if we want to close this for now or move it out of the must-haves.

[2021-11-25 11:44] youknowriad commented on #36853
There's already a filter for [render_block](https://developer.wordpress.org/reference/hooks/render_block/) that you can use to filter any block if that's what you wish to do. Personally I wouldn't encourage it as the essence of FSE is to have the frontend match the editor and the user do visual editing for everything but it's up to you..

[2021-11-25 11:47] overclokk commented on #36853
I already used that filter and I know it is a hack, so this is the reason I think it needs to be resolved in the editor.

[2021-11-25 11:48] jameskoster commented on #36860
I think this goes hand-in-hand with both #36773 and #36664.

At the moment the name and description are hard coded. But custom templates will require those to be supplied by the user.

[2021-11-25 11:59] adamziel opened #36862 "Navigation block updates the wrong navigation entity record"
### Description

- Delete all menus.
- Site Editor.
- Create Nav block and create a Menu adding 1 item.
- Save.
- Go back to Nav block and Select menu -> Create new.
- Add some items to this new Menu.
- Save.
- Notice how both menus are now marked as dirty.
- Saving causes the original / first menu to loose all its items.

Found by @getdave  in https://github.com/WordPress/gutenberg/pull/36828#pul

[2021-11-25 12:31] premanshup opened #36864 "Proposal to use classic theme ( single theme ) either as complete FSE theme or classic theme ( with customizer )"
## What problem does this address?

It is currently difficult to use the legacy theme as both legacy theme  ( with customizer ) and FSE theme.

[Discussion] Hybrid themes: Templating hierarchies

https://github.com/WordPress/gutenberg/issues/29024

In the above discussion, It is proposed that theme developers can create a hybrid theme.

If the HTML template is not added by theme for FSE, it curren

[2021-11-25 12:34] scruffian opened #36865 "Navigation Block: Render nav items from `__unstableLocation` even if there is content inside the block."
### Description

At present if a Navigation block has content, the `__unstableLocation` attribute will be ignored. This makes it impossible to specify a default for the block and also allow users update the menu from the Classic dashboard.

 Instead, if the block has an `__unstableLocation` defined and there is a menu at that location, the contents of the block should be ignored.

When the user ed

[2021-11-25 12:50] scruffian opened #36867 "Remove margins from blocks in a flex container"
### Description

When items are stacked horizontally in a flex container the top margin causes wonky alignment:
<img width="247" alt="Screenshot 2021-11-25 at 12 46 46" src="https://user-images.githubusercontent.com/275961/143444868-5c01526b-28bf-4271-bb31-ef6e34e043cd.png">
<img width="512" alt="Screenshot 2021-11-25 at 12 46 54" src="https://user-images.githubusercontent.com/275961/143444875-a96

[2021-11-25 13:10] johnbillion opened #36868 "Add an explanatory header comment to files that get copied into WordPress core"
## What problem does this address?

Many files get unconditionally copied into WordPress core as part of commits to update `@WordPress` packages. Recent such commits can be seen here: https://github.com/WordPress/wordpress-develop/commits/trunk/src/wp-includes/blocks

A contributor to WordPress core has no way of knowing that certain files are copied from Gutenberg and any changes made to them in

[2021-11-25 13:16] aristath commented on #36864
Hey there @premanshup!

I don't think that having a "switch" would be the best option...
It is possible for a theme to start migrating its structure from "classic" to block-based.

The HTML templates are a starting point, but it's also possible to override the HTML templates with custom templates. With that in mind, a theme can create migration routines and start migrating their users to the new s

[2021-11-25 13:19] mtias commented on #36556
Thanks for checking @aristath, it was listed to ensure it got a proper look since it's been a while since it was worked on.

[2021-11-25 13:22] Mamaduka commented on #36722
This issue got fixed via #36739.

[2021-11-25 13:22] #36722 closed, assigned to vcanales

[2021-11-25 13:24] mtias commented on #36697
Yes, indeed, it connects well with that idea. In the context of the zoomed-out view we can also make the sibling inserter always visible between pattern sections, for example. In that context it'd be nice to render the inserter larger, maybe coupled with the carousel view. But one step at a time!

[2021-11-25 13:28] jameskoster opened #36870 "Hide Post Content block in the Post Editor"
It's currently possible to insert the Post Content block in a post, which creates this lacklustre outcome:

<img width="667" alt="Screenshot 2021-11-25 at 13 25 36" src="https://user-images.githubusercontent.com/846565/143449671-a0f41560-b856-4ce7-93ee-fc8b6c60cf36.png">

It would probably make more sense to simply not surface this block in the post editor, except in situations where it is applica

[2021-11-25 13:56] Mamaduka commented on #36597
@kevin940726 I started working on server-side page context/redirection, and I think it might be better to push this enhancement post 5.9.

I will create a separate issue for tracking.

[2021-11-25 14:12] premanshup commented on #36864
Thank you for the insight and detailed information @aristath! I will definitely explore [gridd](https://github.com/wplemon/gridd/tree/develop/inc/classes/Upgrades) theme migration. Though I have one concern, in case if users still want to use existing customizer options/hooks, the "switch" button could be helpful?

[2021-11-25 14:13] Mamaduka opened #36873 "Site Editor: Avoid client side redirection in initial load"
Site Editor sets current page context and handles context-based redirection on the client; see `URLQueryController.` Parts of this logic can be moved on server-side and passed to the editor during initialization.

* Create a function to generate context on the server. See the basic example below.
* Handle all context-related global state using a single action/selector, probably based on `setPage`.

[2021-11-25 14:18] ivan-ottinger commented on #2744
Apart from the possibility of having a setting for number of tweets to show - when a Twitter timeline is embedded (as described in https://github.com/WordPress/gutenberg/issues/19417), It would be great to have other settings available as well, e.g.: theme, language, width, height (settings available through https://publish.twitter.com/#) when embedding manually:

![Markup on 2021-11-25 at 15:12:5

[2021-11-25 14:35] fluiddot opened #36874 "Preformatted and Verse blocks have identical styling"
## Description

I noticed in the last version `1.67.0` that both Preformatted and Verse blocks have the same styling which makes it difficult to identify them on the editor. Looks like this has been recently changed as in version `1.63.0` the background color was different (see attached screenshots).

## Step-by-step reproduction instructions

1. Add Preformatted block and add text.
2. Add Verse b

[2021-11-25 14:39] fluiddot commented on #36874
After checking the changes introduced in [`1.64.0` version](https://github.com/wordpress-mobile/gutenberg-mobile/milestone/98?closed=1), looks like this PR https://github.com/WordPress/gutenberg/pull/35314 might be related to the issue as it updated the styles of the Preformatted block ([reference](https://github.com/WordPress/gutenberg/pull/35314/files#diff-6b99f07c23aa22f6e8ceaed64a4bcdf023989c3

[2021-11-25 14:42] adamziel commented on #36634
This seems like an issue with the Popover component. Site editor is in an iframe, post editor isn't. `.popover-slot` where the tooltips are rendered is outside of the iframe. It seems like `computePopoverYAxisPosition` or some other function in proximity doesn't account account for the iframe's `top` value.

[2021-11-25 14:43] franmastromarino opened #36875 "Different output in php/js for theme.json"
### Description

Hello

The output for this setting is different in the site editor and the frontend

theme.json

`{
	"version": 1,
	"settings": {
		"custom": {
			"preset": {
				"h1": {
					"color": {
						"default": "var(--wp--preset--color--color-four)"
					},
					"typography": {
						"fontFamily": "var(--wp--preset--font-family--pt-sans-narrow)",
						"fontSize": "3.33rem",
						"lineH

[2021-11-25 15:19] Andrew-Starr commented on #36867
This behaviour appears to be coming from the Blockbase theme.

I tested in other themes that don't add additional CSS to the paragraphs and this issue is not present.

In blockbase theme, see _/assets/ponyfill.css_ L207:

[code]

It may be worth opening an issue in the theme: https://github.com/Automattic/themes/tree/trunk/blockbase

[2021-11-25 15:23] adamziel commented on #36634
iframes are only considered in when `Popover` receives either `anchorRef` or `getAnchorRect`, but in case of the tooltip neither of these is present. The position is based only on on `anchorRefFallback`. I think a sensible solution would be to still consider that an iframe may be among the parents in that case.

https://github.com/WordPress/gutenberg/blob/53374ba92c379480659a7df5ac456756ad3a798c/p

[2021-11-25 16:04] jameskoster commented on #36667
It occurred to me that Reusable Block management could live in this global UI region too :)

<img width="1643" alt="Screenshot 2021-11-25 at 16 03 36" src="https://user-images.githubusercontent.com/846565/143473088-e3069474-c43e-4686-9a5f-8eed47ddd7c8.png">

[2021-11-25 16:29] #36634 closed, assigned to adamziel

[2021-11-25 16:36] ciampo commented on #29720
Opened #36878 with a potential fix

[2021-11-25 16:42] annettePixie commented on #8322
I'm a bit stunned that this is still an open issue. Just taken the plunge on Gutenberg and must say i'm beginning to regret it.

[2021-11-25 16:43] Mamaduka commented on #36773
@jameskoster, what do you think about using UI from Template Mode?

![CleanShot 2021-11-25 at 20 40 22](https://user-images.githubusercontent.com/240569/143478213-db5c2861-f051-4d11-b9b6-f52eb6314b48.png)

[2021-11-25 16:58] getdave commented on #35521
## Update for 5.9 merge day (26th Nov 2021)

Thanks to all the hard work we’re down to the last couple of items on the [“Must Haves” list](https://github.com/WordPress/gutenberg/issues/36556#:~:text=isn%27t%20invoked%C2%A0%2335536-,Navigation%20block,-Page%20List%20block).

We’d really appreciate any help with reviewing and/or coding on the following PRs/items:

- [Remove Navigation Area endpoints

[2021-11-25 17:24] kraftner commented on #35848
Related: #12299 including a possible workaround covered in https://github.com/WordPress/gutenberg/issues/12299#issuecomment-877347830

[2021-11-25 17:37] simison opened #36882 "Inserter stays fixed on the screen when scrolling"
### Description

When scrolling on the page and I hover to reveal an inserter, the inserter becomes fixed while I would expect it to scroll with the rest of the content.

It just feels jumpy when it doesn't stick to the place:

https://user-images.githubusercontent.com/87168/143483357-02a092c8-b71d-41ab-b7c3-ce342eee47ef.mov

https://user-images.githubusercontent.com/87168/143483569-b1a1425b-3b0c-

[2021-11-25 18:09] SiobhyB commented on #33856
Closing, as this was fixed in https://github.com/wordpress-mobile/gutenberg-mobile/pull/3818.

[2021-11-25 18:09] #33856 closed, assigned to SiobhyB

[2021-11-25 18:09] SiobhyB commented on #33857
Closing, as this was fixed in wordpress-mobile/gutenberg-mobile#3818.

[2021-11-25 18:09] #33857 closed, assigned to SiobhyB

[2021-11-25 18:40] oandregal opened #36886 "Highlight color palette only shows colors from the last source"
Related https://github.com/WordPress/gutenberg/pull/16014 https://github.com/WordPress/gutenberg/pull/36841

### Description

The color palette component used to highlight RichText content only shows colors from a single palette (default, theme, or custom). This has some weird side-effects such as when the user has added a custom color only that one will be shown.

### Step-by-step reproduction in

[2021-11-25 19:05] jasmussen commented on #36882
Thanks for the ping and the report. It is to an extent the same issue as #35536, which is crucially important for us to fix, and in the 5.9 list. The good news is, @ramonjd created a PR today that in my latest testing [appears to fix this really well](https://github.com/WordPress/gutenberg/pull/36798#issuecomment-979036010).

[2021-11-25 19:23] seanbelly commented on #34602
I encountered this on a Russian site. I copy and pasted into plain text editor, deleted the original title, and pasted it back.

This was originally copied from Microsoft Word as well.

[2021-11-25 21:10] ellenbauer commented on #36853
Ok, thanks for picking up the discussion about the template tag wrapper here in this issue. I have to admit I'm a bit confused now on how to proceed.

I want to create our block theme template files as stable as somewhat possible for now, so I'm not sure if I should use the `tagname` in the `wp:template-part` to add my header, footer slugs and so on or should I, as someone suggested in #36571 , ad

[2021-11-25 22:39] #11852 closed

[2021-11-25 22:42] altivero commented on #23011
Add media link as per the following [mock-up](https://github.com/WordPress/gutenberg/issues/8322#issuecomment-464841591) in #8322. Perhaps even an option to search for media already in the library.

[2021-11-26 00:05] steveangstrom commented on #36489
This is NOT FIXED in Gutenberg 12.0.1

Current status. No theme.json. Colours defined in functions.php.   Palette is a still mess on all sites using Gutenberg.

Sites on 12.0.1 are broken as shown below.  I assume the only "fix" is to roll back to Gutenberg 11.8.3

INCORRECT (Gutenberg 12.0.1)
![Screenshot 2021-11-26 at 00-01-00 Add New Page ‹ Sitename — WordPress](https://user-images.githubuserco

[2021-11-26 00:38] SaxonF commented on #36667
Some overlap with the thinking here https://github.com/WordPress/gutenberg/issues/32682

[2021-11-26 03:53] talldan commented on #36613
Here's a PR that tackles adding the icons - https://github.com/WordPress/gutenberg/pull/36893

[2021-11-26 05:26] #36781 closed, assigned to Mamaduka

[2021-11-26 06:05] andrewserong opened #36899 "Gradients: errors resulting from clearing or quickly selecting gradient colors in background color"
### Description

While working on a fix for #36640, I noticed a couple of errors being generated via the gradient color picker.

#### Issues to resolve

1. [x] With a blocks theme active, while I select between gradients, and then click the Clear button (or deselect the gradient) an error is thrown.
2. [x] If I go to select a custom color for one part of the gradient and then pan quickly while sel

[2021-11-26 06:08] andrewserong commented on #36640
I thought I'd start working on a fix for this one. I have a PR open in https://github.com/WordPress/gutenberg/pull/36900, but I also noticed a couple of other issues with the gradient that I've raised in #36899. I'm just at the end of my week now, so I'll do some more investigating next week (I don't _think_ it's related to my PR, but I'll do more testing next week to be sure).

[2021-11-26 07:09] overclokk commented on #36853
@youknowriad I just saw that reusable block does not have a wrapper on front-end but only on editor and they work fine, so this could be applyed also to wp:template-part block.

@ellenbauer From my point of view the thing is that using the tagName (or every other support|attributes) on `wp:template-part` is a bad design, because you will have to modify every file you imported the needed part if yo

[2021-11-26 08:28] ellenbauer commented on #36853
@overclokk Thank you so much for your reply. Yes, I totally understand the issue. At the moment neither option seems ideal, I think. I guess I wait a bit until I change our current template files and see how `wp:template-part` evolves further.

[2021-11-26 08:46] beatricekulcsar commented on #36729
I retested it myself and am no longer able to reproduce it either. Thanks for looking into it.

[2021-11-26 08:46] #36729 closed, assigned to nobody

[2021-11-26 09:04] youknowriad commented on #36853
Yes, and they actually don't work well, we have an issue there for some time and we are not able to find a solution for it. The issue only surfaced after the initial implementation of Reusable blocks so we were not able to add the wrapper there without impact. #8288 (3 years old)

There were several attempts to solve it and none of them worked so far.

[2021-11-26 09:05] ellenbauer commented on #36687
I'm following here, since I have an Aino theme user who is reporting the same issue. I tested it in Chrome and I see the issue, too.

[2021-11-26 09:15] weddje opened #36902 "Navigation block: vertical orientation not working"
### **Description**

I noticed that the vertical orientation isn't working for the navigation menu's.
When I create a navigation menu on a blank page, within layout - orientation, I select vertical. In the editor the menu's are displayed vertically. But on the front-end the menu's are displayed horizontally.

### **Step-by-step reproduction instructions**
Activate a blocks-based theme (e.g. Twenty

[2021-11-26 09:33] t-hamano opened #36903 "[Icons]: strokeWidth props does not output HTML correctly"
### Description

`strokeWidth` props is output as incorrect HTML `strokewidth` attribute on the save side.

### Step-by-step reproduction instructions

- Create a template for a plain custom block.
- Use the `Icon` component to render an icon that contains a strokeWidth props, both edit and save.

## Code (edit.js)

[code]

## Code (save.js)

[code]

After you build the code above and check it in

[2021-11-26 09:46] github-actions[bot] opened #36904 "[Flaky Test] allows rotating using the crop tools"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
allows rotating using the crop tools

## Test path
`/test/e2e/specs/editor/blocks/image.spec.js`

## Errors

<time datetime="2021-11-26T09:46:43.175Z"><code>[2021-11-26T09:46:43.175Z]</code></time> Test passed after 1 failed attempt on <a href="https://github.com/WordPress/g