[2021-05-18 01:30] #30720 closed, assigned to talldan

[2021-05-18 01:35] dd32 commented on #31893
_I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0._

[2021-05-18 01:41] kamataryo commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 01:46] noisysocks commented on #31916
The Classic block isn't supported in this editor. See https://github.com/WordPress/gutenberg/issues/15916.

Still, this is a bug, since it should not appear in the inserter.

[2021-05-18 01:49] talldan commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 02:00] carlomanf commented on #31397
Thinking more about this, the problem seems to stem from the way that two different concepts in the old theming paradigm are mapping to the same concept in the new paradigm.

In the old paradigm:

* Template parts were purely a convenience mechanism for theme developers, enabling them to reuse code between templates. The user didn't get advised of the theme's template parts at all.
* Widget areas

[2021-05-18 02:02] diegoreymendez commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 02:05] lsl commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 02:05] carolinan commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 02:06] isabellachen commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be
dual-licensed under the GNU General Public License v2.0 and the Mozilla
Public License version 2.0.

On Mon, 17 May 2021 at 22:34, Matt Chowning ***@***.***>
wrote:

[2021-05-18 02:06] carolinan commented on #31913
I am the author of all Gutenberg commits from hi@themesbycarolina.com

[2021-05-18 02:08] BronsonQuick commented on #31913
I am the author of all Gutenberg commits from bronson@humanmade.co.uk

[2021-05-18 02:17] geekpulp commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 02:25] faisal-alvi commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 02:39] t-hamano commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 02:50] ediamin commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 03:05] miminari commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 03:41] mnelson4 commented on #31913
I am the author of all Gutenberg commits from michael@eventespresso.com

[2021-05-18 03:42] talldan commented on #30912
I tried to implement the sticky aspect of the top bar as part of #31589, but it's complicated because the floating block toolbar anchors itself to the top of the scroll container when scrolling down. This implicit behavior caused it to sit underneath the top bar.

There were some potential solutions with trade offs:
- use the fixed toolbar only in the customizer editor.
- add an experimental offse

[2021-05-18 03:45] annezazu commented on #15406
@paaljoachim you linked to a PR that's been merged but I'm still able to replicate this problem in 10.6.1 which should have the fix:

https://user-images.githubusercontent.com/26996883/118587105-39863080-b759-11eb-9d7e-6e1ab53f3c56.mov

Tagging you in case you have more insight here! If not, let's keep this open since it doesn't seem resolved.

[2021-05-18 03:48] annezazu commented on #16627
Can still replicate in 10.6.1.

[2021-05-18 03:55] annezazu commented on #16958
Closing this out since I can't replicate both the original issue or what Paal described above in 10.6.1:

https://user-images.githubusercontent.com/26996883/118587766-638c2280-b75a-11eb-9b94-c4126f9096d7.mov

If that's incorrect, feel free to reopen! If it's related to the latter issue, I would recommend commenting here: https://github.com/WordPress/gutenberg/issues/30398 as they seem to be relate

[2021-05-18 03:55] #16958 closed

[2021-05-18 04:00] annezazu commented on #29228
Going to close this out at this point :) Thanks for the awesome discussion and feedback around FSE. This will still be searchable on GitHub but doesn't have any additional actionable information at this point.

[2021-05-18 04:00] #29228 closed

[2021-05-18 04:03] ramonjd opened #31922 "Patterns: provide a way to opt-out of Gutenberg patterns"
## The proposed feature

The proposal is that we provide a way to tell the block editor plugin to neither register its own patterns nor update core patterns.

At present, Gutenberg [registers new patterns and overwrites/reregisters existing core patterns](https://github.com/WordPress/gutenberg/blob/922143ee9f2699e43b115e9e73df119ad0293b44/lib/block-patterns.php).

## What would this feature addres

[2021-05-18 04:04] Shizumi commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 04:06] edmundcwm commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 04:10] annezazu commented on #26666
Looping back on this and am going to close this issue out as, beyond an analogy that isn't critical to understanding the documentation, there's not much more to go on here. With that said, I'd love to have more insight into what else could improve this specific page :) so, if anything else comes to mind, please share here and I'll be happy to re-open.

[2021-05-18 04:10] #26666 closed

[2021-05-18 04:10] jodamo5 commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 04:11] michaelsavchuk commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 04:14] annezazu commented on #25394
Noting that the same "click to edit" flow might be useful to consider here https://github.com/WordPress/gutenberg/issues/29337

[2021-05-18 04:17] annezazu commented on #31903
Thanks for reporting this. Using Gutenberg 10.6.1 and WordPress 5.7.2, I wasn't able to replicate this:

<img width="810" alt="Screen Shot 2021-05-17 at 10 16 04 PM" src="https://user-images.githubusercontent.com/26996883/118589382-85d36f80-b75d-11eb-8177-1f1f74deb433.png">

Closing this out as a result! Feel free to re-open if you can provide more information or additional steps to replicate.

[2021-05-18 04:17] #31903 closed, assigned to nobody

[2021-05-18 04:24] annezazu commented on #20430
@Chrico checking back in on this and am going to close this out for now. Know that we can _easily_ re-open if upon retesting you can re-confirm the issue. Thanks so much!

[2021-05-18 04:24] #20430 closed

[2021-05-18 04:28] annezazu commented on #21589
Noting that this still occurs in 10.6.1:

https://user-images.githubusercontent.com/26996883/118590159-237b6e80-b75f-11eb-9390-dd12ba815e61.mov

[2021-05-18 04:29] talldan commented on #27564
@critterverse This sounds good. I think 'Show Icon Labels' and 'Block Manager' could also be useful. I can look into how easy they would be to implement.

If it's mostly just re-using existing components, what do you think about those two?

edit: don't worry about this, looked into it and it turned out those two options are complicated 👍

[2021-05-18 04:33] annezazu commented on #22871
Closing this out now that Jay's PR has merged and this no longer occurs 🥳

https://user-images.githubusercontent.com/26996883/118590545-db108080-b75f-11eb-9834-cfd06793f1fa.mov

[2021-05-18 04:33] #22871 closed

[2021-05-18 04:37] imath commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 04:38] annezazu commented on #31505
Since Marcus chimed in with some context, I'm going to go ahead and close this out! Happy to re-open if anyone feels there's anything left to be addressed. Thanks for the kind words about the Gutenberg plugin :)

[2021-05-18 04:38] #31505 closed, assigned to nobody

[2021-05-18 04:47] rahulsprajapati commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 04:55] ramonjd commented on #31922
I was toying around with a proof of concept here: https://github.com/WordPress/gutenberg/pull/31924 just to see what works. Thanks!

[2021-05-18 05:07] nfmohit commented on #31913
I am the author of all Gutenberg commits from nfmohit49@gmail.com.

(This email was previously used in my GitHub account, before I changed it to my work/professional address `hello@nahid.dev`)

[2021-05-18 05:29] adekbadek commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 05:32] WPprodigy commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 05:40] preda-bogdan commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be
dual-licensed under the GNU General Public License v2.0 and the Mozilla
Public License version 2.0.

On Tue, May 18, 2021, 00:06 Jesse ***@***.***> wrote:

[2021-05-18 05:41] preda-bogdan commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be
dual-licensed under the GNU General Public License v2.0 and the Mozilla
Public License version 2.0.

On Mon, May 17, 2021, 19:29 Devin Walker ***@***.***> wrote:

[2021-05-18 05:42] stoyan0v commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be
dual-licensed under the GNU General Public License v2.0 and the Mozilla
Public License version 2.0.

[2021-05-18 05:43] preda-bogdan commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be
dual-licensed under the GNU General Public License v2.0 and the Mozilla
Public License version 2.0.

On Mon, May 17, 2021, 18:21 Ned Zimmerman ***@***.***> wrote:

[2021-05-18 05:44] hideokamoto commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be
dual-licensed under the GNU General Public License v2.0 and the Mozilla
Public License version 2.0.

[2021-05-18 05:48] vdwijngaert commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 05:50] talldan commented on #27564
As part of this, I think we need a dedicated widget editor user support page for the 'Help' link. This is what the post editor links to:
https://wordpress.org/support/article/wordpress-editor/

Lots of the content there isn't relevant.

[2021-05-18 06:00] mukeshpanchal27 commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 06:02] ixkaito commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 06:02] kevin940726 commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 06:05] gaambo commented on #31913
I am the author of all Gutenberg commits from fabian@fabiantodt.at

[2021-05-18 06:13] jennydupuy commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 06:15] maurobringolf commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 06:16] igorschoester commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 06:17] ntsekouras commented on #31601
--cc @nosolosw , @jorgefilipecosta

[2021-05-18 06:23] mkevins commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 06:23] mokagio commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 06:24] aharish commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 06:39] davilera commented on #31913
I am the author of all Gutenberg commits from david.aguilera@neliosoftware.com

[2021-05-18 06:44] fklein-lu commented on #31913
I'm the author of all commits from frank@humanmade.co.uk

[2021-05-18 06:45] pinarol commented on #31913
I am the author of all commits from pinar.olguc@commencis.com

[2021-05-18 06:51] janw-me commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

(and I will now unsubscribe from the notifications of this thread )

[2021-05-18 06:55] Designer023 commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 06:55] aristath commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 06:55] nickylimjj commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 07:03] atimmer commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 07:07] cpapazoglou commented on #31913
I am the author of all commits from [papazoglou.charalampos@gmail.com](papazoglou.charalampos@gmail.com)

[2021-05-18 07:19] geriux commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 07:20] oandregal commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 07:30] mohsinr commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 07:34] Lovor01 commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 07:37] jbinda commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 07:45] oandregal commented on #31601
:wave: @grogou This sidebar is going to be updated heavily as per https://github.com/WordPress/gutenberg/issues/27473 so we haven't invested time on opening up filtering for this for that reason. This would be best addressed after 27473 is implemented, so it's clear what sort of filters should be available.

[2021-05-18 07:45] #31601 closed, assigned to nobody

[2021-05-18 08:03] JustinyAhin commented on #31914
This should be fixed by this PR https://github.com/WordPress/wordpress-develop/pull/1220.
See also https://github.com/WordPress/gutenberg/issues/31023

[2021-05-18 08:10] dorsvenabili commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 08:22] melamity commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

I second a lot of the people here, there needs to be a better way at doing this (also, today I learned that Outlook splits email threads when they are 300 emails long... idk which email chain had me learn this information).

[2021-05-18 08:29] leutrimhusaj commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 08:33] ntwb commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 08:34] devfle commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 08:49] ellatrix commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 08:58] pookapaul commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 08:58] JarredKennedy commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 08:58] jhalvorson commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 09:08] danielFangstrom commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 09:11] Naerriel commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 09:22] talldan commented on #31918
@juanRabaa This sounds like a bug in the REST API.

The `canUser` function works by making an `OPTIONS` request to the endpoint in question and checking the `allow` header in the response. I can see that even though I'm an admin, the allow header only has `GET` and `POST`.

When an id is specified the function instead calls `GET` due to a previous REST API bug. The `GET` request seems to return th

[2021-05-18 09:22] #31918 closed, assigned to nobody

[2021-05-18 09:32] pinarol commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 09:33] pinarol commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 09:38] priethor opened #31930 "Navigation: Deleting the Page List block with the Delete key crashes its parent Navigation Block"
## Description
When deleting the `Page List `block within a `Navigation` block with the `Delete` key, if it is the only child block, the parent `Navigation` block crashes:

## Step-by-step reproduction instructions
1. Add a `Navigation` block
2. Click on "Add all pages"
3. Select the recently added `Page List` block
4. Delete it with the `Delete` key

This **doesn't** reproduce if:
- There are/wer

[2021-05-18 09:44] talldan commented on #31930
I think this is the same issue as https://github.com/WordPress/gutenberg/issues/29498

[2021-05-18 09:53] priethor commented on #31930
Thanks, closing this as duplicate!

[2021-05-18 09:53] #31930 closed, assigned to nobody

[2021-05-18 10:06] fluiddot opened #31932 "Translations missing from different parts related to blocks"
## Description

While testing the GB-mobile version `1.53.0`, I noticed that some strings are no longer translated but they were in the previous version `1.52.0`.

The problem is caused due to the localization files (`https://translate.wordpress.org/projects/wp-plugins/gutenberg/dev/<LOCALE>/default/export-translations?format=json`) that are downloaded from GlotPress for the Gutenberg plugin, whic

[2021-05-18 10:06] kuoko commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 10:26] #30322 closed, assigned to nobody

[2021-05-18 10:32] miya0001 commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 10:46] rramo012 commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 10:51] jameskoster commented on #31746
I've been thinking that it might be interesting to repurpose our semantic template part variations in order to serve as 'starter' blocks. IE:

* "Header" block becomes "New Header"
* "Footer" block becomes "New Footer"
* "Template Part" becomes "New Template Part"

The addition of the "New" prefix clearly defines the purpose of the block, and releases "Header" and "Footer" as names that folks (end

[2021-05-18 10:57] DietPawel commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 11:06] colorful-tones commented on #31914
Yes, this is a duplicate of #31023. We're good to close and I'll do a quick test with PR 1220.

Thanks @JustinyAhin 👏

[2021-05-18 11:13] simison commented on #31922
Related https://github.com/WordPress/gutenberg/pull/28800  cc @ryelle

[2021-05-18 11:16] diedexx commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 11:26] yscik commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 11:27] chinchang commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 11:43] avillegasn commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 11:44] grzim commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 11:48] WunderBart commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 11:50] carolinan opened #31935 "Legacy widgets are not visible on the widget screen until clicked"
## Description

If I place widgets and then activate Gutenberg, the legacy widgets are not visible in the widget areas until I click on the widget
(I don't mean clicking on the widget area to expand a closed widget area, but clicking inside it).

## Step-by-step reproduction instructions

1. Activate a theme with widget areas.
2. Place widgets.
3. Activate Gutenberg.
4. Go to the widget screen, se

[2021-05-18 11:54] eliorivero commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 12:04] aldavigdis commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 12:07] diegohaz commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 12:11] greatislander commented on #31913
I am the author of all Gutenberg commits from ned@bight.ca.

[2021-05-18 12:14] DaisyOlsen commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 12:40] zuk22 commented on #31913
I am the author of all Gutenberg commits from cebid_monkey2@mail.ru

[2021-05-18 13:09] codesue commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 13:15] javierarce commented on #30746
Also, shouldn't the icons be aligned to the left?

[2021-05-18 13:41] adamsilverstein commented on #29483
If dual-licensing proceeds, we need to consider the code that was brought over to Gutenberg from WordPress core, then published as npm packages and consumed by core from npm. I'm thinking about packages like a11y, api-fetch, dom-ready, hooks, i18n, url, wordcount and probably others I am missing.

For these packages, I feel like we would need to get approval from the original code authors for the

[2021-05-18 13:48] joemcgill commented on #31913
I am the author of all Gutenberg commits from joemcgill@humanmade.com.

[2021-05-18 13:49] javierarce commented on #31451
That's a good question. I didn't address it here because I wasn't thinking about touching the Page List block. If I'm not mistaken, in the Site Editor the only way to auto add new pages is through that block, while here there's also the option to check the "Add new pages" toggle.

Maybe I'm rationalizing this too much to suit my argument 😅, but I also think that the nature of this menu (which work

[2021-05-18 13:51] etoledom commented on #31913
I am the author of all Gutenberg commits from eduardo.toledo@automattic.com

[2021-05-18 13:56] grzim commented on #31913
I am the author of all Gutenberg commits from grzegorz.marzencki@a8c.com

[2021-05-18 13:58] jeffersonrabb commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 14:06] gziolo commented on #29655
#31936 temporarily removes the `data-no-store-string-literal` check for React Native files. It should be enabled again once this issue gets resolved.

[2021-05-18 14:13] nielslange commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 14:22] kjohnson commented on #31893
After much reading and due diligence, I respectfully do not consent to the re-licensing of my contributions.

However minor a _contribution_ may seem, a patch alone cannot represent the weight of the effort behind the change. Single line changes can represent hours of research, troubleshooting, and testing. Contributions are a facet of investment into a project such as WordPress.

Such contributio

[2021-05-18 14:26] PypWalters commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 14:32] devfle commented on #31811
Hi, I think the idea is great and I will try to implement it. :)

[2021-05-18 14:45] amir2mi commented on #27960
@mupic Probably forgotten. As I tried the color picker of experimental gradient picker supports this feature.

[2021-05-18 14:54] afercia commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 14:58] markjaquith commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 15:05] Morgunov-Vitaly commented on #24611
I have the very similar issue with patterns panel!

[2021-05-18 15:05] Morgunov-Vitaly commented on #21194
I have the same issue!

[2021-05-18 15:06] colorful-tones commented on #31914
Closing this out, as it is a duplicate of #31023

[2021-05-18 15:06] #31914 closed, assigned to nobody

[2021-05-18 15:15] coderkevin commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 15:15] dsawardekar commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 15:18] fluiddot commented on #31932
As a workaround, I'm thinking to include the missing strings related to blocks in the localization strings files ([`bundle/android/strings.xml`](https://github.com/wordpress-mobile/gutenberg-mobile/blob/develop/bundle/android/strings.xml), [`bundle/ios/GutenbergNativeTranslations.swift`](https://github.com/wordpress-mobile/gutenberg-mobile/blob/develop/bundle/ios/GutenbergNativeTranslations.swift)

[2021-05-18 15:18] Bannerman commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 15:25] kjellr opened #31942 "Navigation Block: Allow nav items to display horizontally on mobile"
On mobile screens, nav block items default to being displayed as a vertical list:

<img width="547" alt="Screen Shot 2021-05-18 at 11 19 40 AM" src="https://user-images.githubusercontent.com/1202812/118678642-3166d900-b7cb-11eb-9956-9ecba5d06d2f.png">

There's currently no way to override this and let the items appear in an inline horizontal list:

<img width="498" alt="Screen Shot 2021-05-18 at 1

[2021-05-18 15:27] Morgunov-Vitaly opened #31943 "Patterns panel flickering"
## Description
Often when I open the pattern panel it starts blinking or flickering.
The flickering depends on the size of the window. When I resize the window - flickering gone.

## Screenshots or screen recording (optional)
![ezgif-2-721e5f797a09](https://user-images.githubusercontent.com/19765202/118679558-a60b3900-b806-11eb-8df4-1ac2f48baf8d.gif)

## WordPress information
- WordPress version:

[2021-05-18 15:30] TimothyBJacobs commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 15:33] mchowning commented on #31756
It sounds like this issue is occurring when accessing Gutenberg from within Chrome (is that right @jetpen ?). For that reason, I'll remove the "Mobile App - i.e. Android or iOS" tag and replace it with the "Mobile Web" tag. Feel free to switch this back if I'm misunderstanding though.

[2021-05-18 16:01] TimothyBJacobs commented on #31918
@juanRabaa There is no blanket way to do check to see if a user can delete any post. Whenever the actual delete happens, WordPress checks that they can delete that specific post. If you want to check that they have a specific capability, you could do that thru the `wp/v2/users/me` endpoint, but again keep in mind that just because they have the `delete_posts` capability for instance, it won't be a

[2021-05-18 16:08] rachelmcr commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 16:09] jetpen commented on #31756
That is correct, @mchowning .

[2021-05-18 16:17] GaryJones commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 16:20] paaljoachim commented on #29031
"Design Editor" is a good strong name that most people can understand.

[2021-05-18 16:22] #31545 closed, assigned to fluiddot

[2021-05-18 16:35] annezazu commented on #31935
I also ran into this along with very strange spacing issues likely as a result of this bug. If that's a separate issue, happy to open a new one. I'm using WordPress 5.7.2, Gutenberg 10.6.1, and the Twenty Twenty theme:

https://user-images.githubusercontent.com/26996883/118689834-a682e000-b7c4-11eb-9bb6-5afd7940ee9b.mov

Will open a bug around the coloring and text color of the "Add a block" since

[2021-05-18 16:49] annezazu opened #31947 "Widgets Editor has CSS bleeding with Twenty Twenty Theme"
## Description

While testing the Widgets Editor with the Twenty Twenty theme, there's some pretty bad CSS bleeding happening with both the background and the text of the Add Block prompt.

## Step-by-step reproduction instructions

1. Install & activate Twenty Twenty
2. Install & activate Gutenberg Plugin
3. Under Gutenberg > Experiments, enable widgets experiments (both)
4. Go to Appearance > Wi

[2021-05-18 17:00] annezazu opened #31948 "Undo/Redo Behavior in Template Editing Mode is inconsistent/confusing"
## Description

If you change the template that a page or post is using before entering template editing mode and click undo, it causes the entire template selection to change back to the original template rather than undoing a change made in the template editor. If you try to hit the redo button, the new template selection does not return.

## Step-by-step reproduction instructions

1. Install an

[2021-05-18 17:05] kjellr opened #31950 "Consider new label and copy for Layout controls"
The current Layout control is powerful, but difficult to understand:

<img width="281" alt="Screen Shot 2021-05-18 at 12 50 45 PM" src="https://user-images.githubusercontent.com/1202812/118692302-e43d3400-b7d7-11eb-9a92-5dd746fa72cb.png">

In particular, I think the word "layout" may not be descriptive enough — we already deal with a lot of confusion around the difference between templates, templa

[2021-05-18 17:05] cgaits commented on #28736
Here is an idea I put together at the design meeting. Any further direction would be appreciated.
![patern](https://user-images.githubusercontent.com/12024323/118694138-be189380-b7d9-11eb-9137-0bf17ceacb5e.png)

[2021-05-18 17:13] youknowriad commented on #31950
Just wanted to add that ultimately, we'll be able to switch "layout types" that's why it's called "layout" for instance you should be able to choose a "grid" container or a "flex" container (much like social links or columns) and in these situations "widths" don't make sense any more.

That said, it's still not implemented yet so we could reconsider later. For the help text, I find the proposed on

[2021-05-18 17:22] jameskoster commented on #28736
Thanks for sharing @cgaits. The challenge in the UI here is twofold:

* Display preview thumbnails that are large enough to be useful
* Make it easy to navigate and select a pattern when there are many options

This concept is quite easy to navigate – although I'm not sure how it scales when there are more patterns – but the size of the thumbnails seems quite small to me, and I'm wondering how the

[2021-05-18 17:23] fluiddot commented on #31932
For the mentioned workaround, we would have to update the scripts we use to convert the POT files to the native files because they don't support localization context:
- https://github.com/wordpress-mobile/gutenberg-mobile/blob/develop/bin/po2android.js
- https://github.com/wordpress-mobile/gutenberg-mobile/blob/develop/bin/po2swift.js

[2021-05-18 17:41] jameskoster commented on #31950
Full-width relative to the container, right? I wonder if it's worth highlighting that because "full-width" might be interpreted literally, IE the full-width of the browser window.

Would it also be worth using a label like "Default" instead of "Content" for the first input? If I'm not using the theme default, my first thought is "what default _am_ I using?". "Content" doesn't necessarily transitio

[2021-05-18 17:42] draganescu opened #31951 "Navigation markup – overview issue"
We have a few competing problems around the navigation block’s markup, structure and use cases and it seems that it’s hard to find a good implementation.

Here is a list of the problems in no special order.

1. The navigation block has an improper wrapper element UL and it should be a NAV.
2. Users should be able to add links and nest lists of links as a first class action.
3. We want the block to

[2021-05-18 17:44] draganescu commented on #31951
I personally quite like this approach.

For the situation where the user will add a few adjacent links we'll end up with a nav and some anchor children, a good pattern for navbars. If the user creates nesting we'll end up with a nav and some ul children plus other elements from the other blocks.

[2021-05-18 17:45] draganescu commented on #31951
Using patterns removes some options such as:

- reusable menus that are ported over when switching themes
- importing from current menus (and syncing)
- menu specific things like the responsive menu variants

[2021-05-18 18:02] jhnstn commented on #31913
I am the author of all Gutenberg commits from jason@readysetandco.com and jason@o.lan

[2021-05-18 18:05] AmartyaU commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 18:10] bph commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 18:31] kjellr commented on #31950
Good point. Maybe something like "By default, inner blocks will take up the full width of their container." ? It's really hard to make this short and concise. 😅

Also, this may be total overkill (and goes well beyond the "labeling" title of this issue), but I wonder if it might help to gradually step into these controls a little bit:

![widths](https://user-images.githubusercontent.com/1202812/118

[2021-05-18 18:54] shiki commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 18:54] kellychoffman commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 18:55] juanRabaa commented on #31918
Im not sure if it is a bug though. I think it needs an ID because a user can have the capability to delete some posts, but not others. And as @TimothyBJacobs stated, checking against a capability isn't always accurate.

This is why I marked this as a documentation suggestion. If the ID is needed, then we should marked it as required. Also, when doing a check for `userCan("delete","posts")`, a warn

[2021-05-18 19:22] kellychoffman commented on #23087
@paaljoachim - I'm no longer able to replicate. Can you confirm this is still happening?

[2021-05-18 19:38] annezazu commented on #31798
Just replicated this with a brand new test site using Gutenberg 10.6.1 and WordPress 5.7.2:

https://user-images.githubusercontent.com/26996883/118712732-5c0e5d00-b7de-11eb-976f-639a1ff02704.mov

At first, I wasn't able to replicate until I started just trying to add, edit, remove, etc a few times.

[2021-05-18 19:44] steve6375 commented on #31011
I use current latest Astra theme and current latest WP
Steps to reproduce:
1. In any page, add a new Image block
2. Click on Media and select any image
3. Type in a caption in the editor - notice that the caption is shown centred in the editor, but the image is left-aligned
4. Now click on Preview - both image and caption are left aligned
5. Page can be saved - editor always show caption as centre

[2021-05-18 19:53] kellychoffman commented on #20957
We could, but it's not common to have a timestamp present in an interface that utilizes autosaving.

I would expect timestamps to be only visible as part of version history.

[2021-05-18 19:58] annezazu opened #31954 "Templates: Retain custom templates when switching themes"
## What problem does this address?

This is part of feedback from WP Tavern's coverage of the [sixth call for testing with the FSE Outreach program](https://wptavern.com/fse-outreach-round-6-building-a-wordcamp-landing-page-via-the-template-editor):

Currently, if you create custom block templates and switch to another theme (even if it's block based), these custom templates are lost.

## What is

[2021-05-18 20:00] kellychoffman commented on #20861
Looks like this one has been updated (Text color icon has been moved and is always present) and is no longer an issue. 🎉Reopen if I am mistaken.

<img width="423" alt="Screen Shot 2021-05-18 at 12 55 55 PM" src="https://user-images.githubusercontent.com/5835847/118715450-76ddd300-b7d8-11eb-8b1e-053d96663162.png">

[2021-05-18 20:15] kellychoffman commented on #25270
@paaljoachim - This feels like a dupe of https://github.com/WordPress/gutenberg/issues/16053, especially this particular exploration: https://github.com/WordPress/gutenberg/issues/16053#issuecomment-673162147. Should we close this and continue the design + discussion in that issue so its a bit easier to follow and track?

[2021-05-18 20:25] kellychoffman commented on #28920
@paaljoachim: Should we close this in favor of https://github.com/WordPress/gutenberg/issues/12997 and the associated issues you mentioned? Or add further info re: child block.

[2021-05-18 20:26] phwebi commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 20:33] pbking opened #31957 "Clicking Mobile Navigation Close Button triggers actions behind it"
## Description
When clicking on the CLOSE button for the mobile navigation block with the wp admin bar showing the "admin profile" is triggered as well as the close action.

## Step-by-step reproduction instructions
* Setup a navigation block with responsive controls.
* Go to the view and open the menu
* Close the menu
* Note that in addition to the menu closing the user has navigated to the admin

[2021-05-18 20:38] shaunandrews commented on #21692
<img width="1377" alt="image" src="https://user-images.githubusercontent.com/191598/118720223-5cffb880-b7f7-11eb-8517-fbb76eab7661.png">

Seems this issue still exists in one way or another — the bottom Breadcrumb UI doesn't gracefully handle deeply nested blocks and narrow viewports.

[2021-05-18 21:00] lukecarbis commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 21:33] annezazu commented on #26299
I'm going to close this out since there doesn't appear to be anything actionable at this point remaining. Feel free to reopen if that's not the case!

[2021-05-18 21:33] #26299 closed

[2021-05-18 21:35] paaljoachim commented on #28920
Heya @kellychoffman

Sure why not..:)

[2021-05-18 21:35] #28920 closed

[2021-05-18 21:36] annezazu commented on #24007
This feedback came up once more in the [sixth round of testing for the FSE Outreach Program](https://make.wordpress.org/test/2021/05/12/fse-program-testing-call-6-stick-the-landing-pages/):

I've even caught myself clicking + and then starting to type a page title forgetting to first select the Page Link block. This might just be something to adjust to but a visual prompt would go a long way.

[2021-05-18 21:36] critterverse opened #31958 "Customizer Widgets: small bugs and styling tweaks"
Hi all, I just completed the recent Widgets [Call for Testing](https://make.wordpress.org/core/2021/05/12/help-test-the-widgets-editor-for-wordpress-5-8/) and compiled a list of bugs I noticed within the Customizer Widgets editor. I'm adding images as external links to keep this list easy to read!

**Block-related:**

- Paragraph block: The [popover for adding a link](https://cloudup.com/id234qkxU

[2021-05-18 21:37] paaljoachim commented on #16053
I am closing the
"Rethinking the design of the Revisions Panel" issue I made:
https://github.com/WordPress/gutenberg/issues/25270
So that we can keep the discussion going here.

[2021-05-18 21:38] paaljoachim commented on #25270
Heya Kelly @kellychoffman

I added a comment to https://github.com/WordPress/gutenberg/issues/16053#issuecomment-843580886 and will close this issue.

[2021-05-18 21:38] #25270 closed

[2021-05-18 21:45] paaljoachim commented on #20861
Hey Kelly @kellychoffman

This is what I see:

https://user-images.githubusercontent.com/5323259/118727348-e7b1d900-b832-11eb-84e8-0484284dd304.mp4

Clicking the text that has the inline color shows the A with the red line below it. Clicking any other place the A is not seen.

WordPress 5.7.2.
Twenty Twenty One
Gutenberg plugin 106.1

[2021-05-18 21:53] paaljoachim commented on #16053
I am consolidating another issue:
No visible timestamp for autosave.
https://github.com/WordPress/gutenberg/issues/20957

From support forum: https://wordpress.org/support/topic/autosave-visual-feedback/
My Question is: How (or where) can I see (while writing) when the last Autosave has been executed. In the Classic Editor, there is a Indicator in the Status Bar “Last saved at nn:nn:nn”.

Describe

[2021-05-18 21:54] paaljoachim commented on #20957
I went ahead and consolidated this issue into the Autosave issue (linked to my new comment): https://github.com/WordPress/gutenberg/issues/16053#issuecomment-843590998
and will go ahead and close this issue.

[2021-05-18 21:54] #20957 closed

[2021-05-18 21:58] paaljoachim commented on #23087
Hey @kellychoffman

You are right this has changed. The Buttons block has been modified since I made this issue.
Thank you for noticing! Closing the issue!

[2021-05-18 21:58] #23087 closed

[2021-05-18 22:04] critterverse opened #31959 "Appearance Widgets editor: edits to widget area containers"
Hi all, I just completed the recent Widgets [Call for Testing](https://make.wordpress.org/core/2021/05/12/help-test-the-widgets-editor-for-wordpress-5-8/) and compiled a list of bugs I noticed within the Appearance Widgets editor. I'm adding images as external links to keep this list easy to read!

Here are a few things I noticed about the widget areas containers:

![widget-area-containers](https:

[2021-05-18 22:12] paaljoachim commented on #16958
Hey Anne @annezazu

I just retested with WordPress 5.7. Twenty Twenty One. Gutenberg plugin 10.6.1.

It looks alright now. I am not seeing the error I did back in April.

![Screen Shot 2021-05-19 at 00 13 08](https://user-images.githubusercontent.com/5323259/118729916-0619d380-b837-11eb-87ff-7cc227ed99ac.png)

[2021-05-18 22:16] annezazu commented on #16958
Thank you for retesting, friend <3

[2021-05-18 22:25] critterverse opened #31960 "Bugs in non-core legacy widgets (Appearance Widgets screen only)"
Hi all, I just completed the recent Widgets [Call for Testing](https://make.wordpress.org/core/2021/05/12/help-test-the-widgets-editor-for-wordpress-5-8/) and compiled a list of bugs I noticed with Legacy widgets in the Appearance Widgets editor. I'm adding images as external links to keep this list easy to read!

- Some functionality within SiteOrigins widgets doesn't work. For example, the [Site

[2021-05-18 22:33] annezazu commented on #30737
More anecdotal feedback from the [FSE Outreach Program's sixth call for testing to pass along](https://make.wordpress.org/test/2021/05/12/fse-program-testing-call-6-stick-the-landing-pages/):

[2021-05-18 22:46] apmatthews commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 22:49] vcanales commented on #31957
Hello! Progress on this is being tracked in https://github.com/WordPress/gutenberg/issues/31765

[2021-05-18 23:20] peterwilsoncc commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 23:41] supernovia commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-18 23:43] annezazu commented on #31943
@Morgunov-Vitaly thanks for chiming in here! Can you confirm this happens when you have other plugins disabled? I'm wondering if this is some sort of a conflict as I'm not able to replicate currently.

[2021-05-19 00:18] pbking commented on #31957
Hrm.  I'm not sure I see how it's related but I'll keep my eye on that one.  Thank you.

[2021-05-19 00:36] annezazu opened #31961 "Query Block isn't fully deleted after initial removal"
## Description

When deleting the query block after selecting one of the newer patterns, the Query Block isn't fully deleted. Instead it must go through an additional deletion process to properly remove it. cc @kjellr @ntsekouras as I think this is due to adding in patterns somehow. This only seems to happen if you browse through the different pattern options, select one, and then delete the query

[2021-05-19 00:40] annezazu commented on #31307
@rcio1 Thanks so much for your awesome and thorough reply + sleuthing. It's greatly appreciated! I'm sure the respective block creators are appreciative too.

For now since it's been over two weeks, I'm going to close this out as I believe the problem is with the actual plugins rather than the core editor itself. With that said, if you hear back and find the issue might be with Gutenberg, please d

[2021-05-19 00:40] #31307 closed, assigned to nobody

[2021-05-19 00:41] justintadlock opened #31962 "Post Author Block: Inconsistent Front/Back End Avatar Markup and Classes"
The `<img>` tag for the Post Author block avatar outputs the following on the front end:

[code]

In the editor, the HTML looks like:

[code]

The editor should at least have the same `.avatar` class.

Also, the `alt` text should match.  Is there a reason it's empty on the front end?

[2021-05-19 00:41] stacimc commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-19 00:44] annezazu commented on #31317
Since this can't be replicated and further information hasn't been shared just yet, I'm going to close this issue out. Feel free to re-open if you have more to share though @davouid ! Thanks for opening this and engaging around the core editor.

[2021-05-19 00:44] #31317 closed, assigned to nobody

[2021-05-19 00:47] annezazu commented on #29125
I tried to replicate this and was unable to do so with WordPress 5.7.2 and Gutenberg 10.6.1:

https://user-images.githubusercontent.com/26996883/118740523-57ab6980-b809-11eb-9216-c6544ae73790.mov

As a result, I'm going to close this out for now. If I missed something or you are able to still replicate, please let me know and I'll be happy to reopen :)

[2021-05-19 00:47] #29125 closed

[2021-05-19 00:49] annezazu commented on #28507
@allykmyta this appears to be a WordPress.com theme specific issue. Can you please report with them? I'm going to close this out for now :)

[2021-05-19 00:49] #28507 closed

[2021-05-19 00:50] annezazu commented on #28750
With two people unable to reproduce this and no further reports, I'm going to go ahead and close this out! @RafalSzrajnert if you can provide additional steps or information, those of us interacting on this issue can re-open and try once more to replicate. Thanks so much.

[2021-05-19 00:50] #28750 closed

[2021-05-19 01:17] roo2 commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-19 01:57] justintadlock opened #31964 "Spacing Controls Don't Allow Decimals"
When adding margin or padding, there is no way to add a decimal in the number.  These are useful for at least `rem`, `em`, and `%` values.

To replicate, open the margin/padding spacing control and enter a number with decimal like `0.5` or `2.5`.  After clicking out of the number box, the control will automatically change these to `1` and `3`, respectively.

Before:

![unit-control-decimal](https:

[2021-05-19 02:01] justintadlock commented on #31943
I can confirm this happening a few times over the past few versions. It seems to happen at random.  I can usually click out of the inserter and reopen it to fix.

Also running Chrome 90.0.4430.212 but on the latest Windows.

Edit: No other plugins and different themes at different times.

[2021-05-19 02:06] justintadlock commented on #31964
Also, negative values are not allowed either.  I'm not sure if that is related enough for this ticket or should have a separate ticket of its own.

[2021-05-19 02:30] talldan opened #31965 "Migrate editor preferences to new package."
## What problem does this address?
The editor more menu is entirely implemented in the edit-post package and not reusable across editors.

The site and widgets editors are duplicating a lot of code to implement more menus, and this seems unnecessary. Much of the options could be implemented in a more generic and reusable way.

## What is your proposed solution?
Either migrate the preferences to th

[2021-05-19 02:31] annezazu commented on #31943
Thank you for confirming this! If it happens again in the future, I'd love any details to help replicate (immediate actions taken prior, any errors in console, etc). Updating labels in any case.

[2021-05-19 03:19] shivapoudel opened #31967 "Upgrade husky package to the latest version"
^^

[2021-05-19 04:26] noisysocks commented on #31965
Maybe a seperate issue, but it's not great at all that https://github.com/WordPress/gutenberg/pull/31925 duplicates `images.js` as it's quite a large file. We need to refactor this to a common package or maybe to `wp-admin/images/`.

[2021-05-19 04:37] #27564 closed

[2021-05-19 04:44] jasmussen commented on #20861
Having lived with the current behavior for a while, I'm starting to think it's the best approach with the current design, and that simply showing the color icon always is not going to be a good user experience.

[2021-05-19 05:10] dimofte commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-19 05:17] jkmassel commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-19 05:50] #31383 closed, assigned to JustinyAhin

[2021-05-19 06:20] talldan opened #31972 "Escape key in customize widgets editor exits back to main customizer menu"
## Description
As the title says, escape key in customize widgets editor exits back to main customizer menu, which overrides some other uses for escape:
- Navigation/Select mode
- Using escape to close dropdowns (block settings, editor more menu)

## Step-by-step reproduction instructions
1. Open the customize widgets editor
2. Select a block

## Expected behaviour
Navigation mode is entered

## A

[2021-05-19 06:36] draganescu commented on #31139
Yea, considering some widgets have immense setup forms and tiny previews, ditching the preview would make the sidebar unusable. I will close this idea, that while it makes "sense" it would make things more rational but much harder to use.

My proposal, let's not change anything. \o/

[2021-05-19 06:36] #31139 closed, assigned to nobody

[2021-05-19 06:42] draganescu commented on #31126
Yes, if possible.

[2021-05-19 06:43] draganescu commented on #28673
Closed in favor of #31126

[2021-05-19 06:43] #28673 closed

[2021-05-19 06:46] etoledom commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-19 06:48] talldan commented on #31967
Contributions welcome!

[2021-05-19 06:51] jasmussen commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-19 06:52] jasmussen commented on #31913
I'm the author of commits from asmussen at gmail dot com.

[2021-05-19 06:59] #30886 closed, assigned to talldan

[2021-05-19 07:17] carlomanf commented on #31954
Thanks for opening the issue Anne. I have been trying to find a solution to this for many months, but the incorrect assumption was made that this is a low priority due to it being the enhancement of a "new" feature.

This is not actually true. The block-based nature may be new, but the ability for users to customise parts of their theme is nothing new. It has long been available through widget are

[2021-05-19 07:43] grappler commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-19 07:53] MohammedFaragallah commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-19 07:59] #30887 closed, assigned to noisysocks

[2021-05-19 08:27] talldan opened #31978 "Add user facing support docs for widget block editors"
## What problem does this address?
Currently, the Help links in the widget editors link to this support article - https://wordpress.org/support/article/wordpress-editor/.

But there's quite a lot of content in that article that isn't relevant in the widget editors. (fullscreen mode isn't present in the other editors, and all the screenshots don't match).

## What is your proposed solution?
Either

[2021-05-19 08:34] erikjoling commented on #31764
I found out I can disable colors and gradients by setting:

[code]

I believe this mimics the behavior of add_theme_support where you had to add:

[code]

But it's quite confusing and I haven't found a solution for duotone yet.

[2021-05-19 08:43] pauljacobson opened #31979 "Block toolbars: Option to rearrange toolbar buttons"
## What problem does this address?

Some users would prefer to have block toolbar options placed on the "main" toolbar, and not under a "more options" dropdown where they tend to use those particular options frequently. An example is the [Paragraph Block](https://wordpress.com/support/wordpress-editor/blocks/paragraph-block/) that has _Underline_ and _Text Color_ options under a dropdown, like thi

[2021-05-19 08:48] jameskoster commented on #28195
Closing this as it's essentially a duplicate of https://github.com/WordPress/gutenberg/issues/31076

[2021-05-19 08:48] #28195 closed

[2021-05-19 08:49] jameskoster commented on #27850
Closing in favor of https://github.com/WordPress/gutenberg/issues/31591

[2021-05-19 08:49] #27850 closed

[2021-05-19 08:53] ntsekouras commented on #31961
Hey I understand the confusion here as the `Query` and `Loop` blocks use the same icon. Yet, we haven't implemented a way of having some blocks as `passthrough` (although I'm not sure we would want to eventually for this one) and the icons had been changed to be the same.

So what you're deleting in these cases is the `Loop` and since the parent `Query` block doesn't have any innerBlocks, that's w

[2021-05-19 08:53] jameskoster commented on #27849
Once https://github.com/WordPress/gutenberg/pull/31330 and https://github.com/WordPress/gutenberg/pull/31678 are merged perhaps we can close this out? There will then be three UI patterns indicating that one has entered the template editor:

1. The welcome guide
2. The dark frame that appears around the template
3. The template name clearly visible in the Top Bar

[2021-05-19 08:55] Morgunov-Vitaly commented on #31943
I use Kadence Blocks plugin, Elementor and Crocoblock Plugins.
But it seems, that the issue related with rendering of the block patterns (I think it related with css rendering). It depends on size of the window, quantity of the patterns etc.
In my case I use custom block patterns, and `remove_theme_support( 'core-block-patterns' );` function to clearing all other patterns. (But I also tried to use

[2021-05-19 08:58] jameskoster commented on #26264
A rudimentary version of this has been merged so I'm going to close this. We can revisit later as required.

[2021-05-19 08:58] #26264 closed

[2021-05-19 09:03] erikjoling opened #31980 "Setting to disable Layout controls"
## What problem does this address?
I would like to be able to disable layout controls.

![image](https://user-images.githubusercontent.com/20614110/118785286-034bcc80-b891-11eb-9b6e-70c916cbbe87.png)

## What is your proposed solution?
Inside theme.json the layout setting (general and block) should decide whether the layout controls are visible. For example

[code]

[2021-05-19 09:08] erikjoling commented on #31980
#31950

[2021-05-19 09:13] jameskoster commented on #30454
I think the sections should work as follows:

* The Page Templates section should contain templates that are assigned to specific pages. These are the equivalent of `page-$id` templates in classic themes.
* The Post Templates section should contain templates that are assigned to specific posts. These are the equivalent of `single-post-$slug` templates in classic themes.
* The General Templates sec

[2021-05-19 09:25] fluiddot commented on #31932
After further investigation, I found out that the solution I proposed won't work 😞 .

## Explanation

Most of the strings we have in the editor have empty context, here is an example of the string "Button width" extracted from the Button block in POT format:
[code]

As you can see, it only defines the ID (`Button width`) which is used as the original value to translate. However, the missing string

[2021-05-19 09:39] jameskoster commented on #31980
I'm curious to hear the reasoning for this.

[2021-05-19 09:41] flootr commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-19 09:47] jameskoster commented on #31950
I don't think so. This concept already feels easier to understand. I like how the initial setting is simplified, and the associated complexity must be actively revealed.

[2021-05-19 09:48] erikjoling commented on #31980
I'm building custom websites for clients. And I would like to keep the interface as clean as possible. Currently I'm trying to disable as many controls as I can, mainly leaving only the color controls on block-level.

And I believe one of the goals of the theme.json is to configure "What customization options should be made available or hidden from the user." ([Handbook](https://developer.wordpres

[2021-05-19 09:53] ashiagr commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-19 10:01] erikjoling opened #31986 "Site Editor breaks when no color, gradient or font-size is configured"
## Description
When I try to disable colors, gradients or font-sizes I can't enter the Site Editor.

## Step-by-step reproduction instructions
Disable through theme-support:

[code]
or disable through theme.json:
[code]

## Expected behaviour
Have the controls disabled and being able to enter the site-editor.

## Actual behaviour
Have the controls disabled and not being able to enter the site-edit

[2021-05-19 10:01] ehg commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-19 10:02] erikjoling commented on #31764
#31986

[2021-05-19 10:32] bfiessinger opened #31988 ".has-inline-background CSS class styling adjustments for multiline backgrounds"
using inline backgrounds in text might need some styling adjustments to prove they are working multiline.

This is what the CSS class currently looks on multiline spans without adjustments:
![multiline-current](https://user-images.githubusercontent.com/41627893/118798666-2f217f00-b89e-11eb-9075-e29100796233.PNG)

But adding:
[code]

would adjust the styling to ensure multiline inline backgrounds w

[2021-05-19 10:40] getdave commented on #31466
I'm currently working on improving the endpoint parsing capabilities in https://github.com/WordPress/gutenberg/pull/31763

[2021-05-19 10:41] carolinan commented on #31986
Hi
For theme.json, try false instead of null.

[2021-05-19 10:42] erikjoling commented on #31980
Additional thought: by default _inherit default layout_. And if the theme-developer disables _custom content width_ than don't show the layout options at all.

Reference to design proposal: https://github.com/WordPress/gutenberg/issues/31950#issuecomment-843426326

[2021-05-19 10:49] erikjoling commented on #31986
Hi,

Thank you for your suggestion.

Unfortunately, that breaks the site-editor as well in my situation. `"palette": false`

[2021-05-19 11:01] jameskoster opened #31989 "Query pagination icons color is hard coded"
When selecting a block in list view, the row background turns blue and the block name and icon turns white. Since the pagination icon colors are hard coded they do not work as expected:

https://user-images.githubusercontent.com/846565/118802189-c1735400-b899-11eb-8547-6db86d678f01.mp4

[2021-05-19 11:13] carolinan commented on #31986
`"palette": [] ` ? (square brackets)

[2021-05-19 11:42] curtisbelt commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-19 11:45] jameskoster commented on #31950
I spent a little time playing with this too.

One of the big problems I found is that changes made in the control don't seem to update anything on the canvas, unless values are present in the theme (at least that is my understanding). So I think we should set some default values if possible so that all interactions have _some_ effect on the canvas. This will really help folks understand the purpos

[2021-05-19 11:55] kjellr commented on #31950
Yeah, I think using some defaults when people enable the custom width settings makes a lot of sense.

Additionally, I like the "inner block layout" framing here.

I'm not totally sure that these components register as clickable either/or options for me outside of a menu context, but I think I've seen them elsewhere in the UI, right?

<img width="253" alt="image" src="https://user-images.githubuser

[2021-05-19 12:06] jameskoster commented on #31950
Yeah I just used the menu item components for the prototype. If this approach makes sense we may need something new.

[2021-05-19 12:11] fklein-lu opened #31990 "theme.json: Global link color always overloads any block styles on the frontend"
## Description

When declaring a link color under `style:elements` and a link color under `style:blocks`, the global color always overrides the block specific selection.

## Step-by-step reproduction instructions

1. Open TT1 and add the following to the `theme.json`:
[code]
2. See on the frontend that the site title is pink.

## Expected behaviour

Blocks should be able to override the global lin

[2021-05-19 12:35] simison commented on #29736
Should be added to Block Widgets editor as well? It currently has the old version (tested in 10.6):

<img width="354" alt="image" src="https://user-images.githubusercontent.com/87168/118813467-d3fc8600-b8b7-11eb-9263-3d73cb3acae3.png">

[2021-05-19 12:43] joemaller commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-19 12:45] #30400 closed, assigned to kevin940726

[2021-05-19 12:47] #31869 closed, assigned to nobody

[2021-05-19 13:00] oandregal commented on #30191
This has been closed by https://github.com/WordPress/gutenberg/pull/31436

[2021-05-19 13:00] #30191 closed, assigned to jorgefilipecosta

[2021-05-19 13:00] javierarce commented on #30746
I found this issue is pretty similar to this older one: [Search Block: Button options needs indicator which option is active. #27330](https://github.com/WordPress/gutenberg/issues/27330).

@karmatosed's solution [here](https://github.com/WordPress/gutenberg/issues/27330#issuecomment-736023520), makes sense to me… so maybe we should close this issue?

[2021-05-19 13:15] oandregal commented on #20331
Status report ([core-editor](https://make.wordpress.org/core/2021/05/17/editor-chat-agenda-19-may-2021/)):

This week's focus was on getting things ready for Gutenberg 10.7 (landed most of the things we needed, there are a couple in flight) and start the merge process in core (got an initial PR for this).

**Shipped this week**

block supports:

- margin: fix for custom units https://github.com/Wo

[2021-05-19 13:24] gthayer commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be
dual-licensed under the GNU General Public License v2.0 and the Mozilla
Public License version 2.0.

On Wed, May 19, 2021 at 8:43 AM Joe Maller ***@***.***> wrote:

--
*Gary Thayer* • Associate Director of Engineering, 10up <http://10up.com/>

[2021-05-19 13:31] Aljullu opened #31995 "Post content block: 'the_content' filter is ignored if post content is empty"
## Description
Post content block [calls the `the_content` filter](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/post-content/index.php#L60), but only if the post content is not empty.

## Step-by-step reproduction instructions
1. Add a filter like this:
[code]
2. Go to a page with some text.
3. Verify the page content has the `Filtered --`  prefix.
4. Now, create a

[2021-05-19 13:44] skorasaurus commented on #31885
Hi,

Thanks for reporting. The tab and shift/tab combination because TAB is used as a keyboard shortcut to navigate to other parts of the block editor; there's discussion about this at https://github.com/WordPress/gutenberg/issues/8356 and https://github.com/WordPress/gutenberg/issues/7051

Secondly, you can go to the beginning of a line by using the keyboard shortcut Ctrl and the left arrow key.

[2021-05-19 13:44] #31885 closed, assigned to nobody

[2021-05-19 13:48] skorasaurus commented on #28035
Hi,

Thanks for reporting; I'm closing this because there's a similar issue that's a little more broader in scope that's also actionable and you can follow that issue to follow its progress - https://github.com/WordPress/gutenberg/issues/31964

[2021-05-19 13:49] madeITBelgium opened #31998 "Caption under image with square style"
## Description
When I add a image block with a caption and I give the image a square style the text is aligned above and behind the image and not under the image.

## Step-by-step reproduction instructions
1. Add image block to page and insert image
2. Add caption to image
3. Change style to square

## Expected behaviour
Text visible under the image

## Actual behaviour
Text is visible behind and

[2021-05-19 13:50] jameskoster commented on #31954
User preferences when switching block themes are likely to be highly subjective. Some folks will expect all customisations to be retained, others will want a totally fresh start. Some will probably want granular per-customisation control.

I opened https://github.com/WordPress/gutenberg/issues/25071 last year to discuss the switching UX, but didn't get any responses yet 😭

Maybe it's always been t

[2021-05-19 13:51] #31998 closed, assigned to nobody

[2021-05-19 13:57] skorasaurus commented on #23730
Hi @bph - Are you still experiencing this in the latest version of Gutenberg? What theme were you using?

[2021-05-19 14:18] DaisyOlsen opened #31999 "Discussion: Block Theme Developer Documentation"
As work ramps up to encourage creation of new Block Themes leading up to the Block Theme functionality rolling into core it seems like now is a good time to discuss the future direction and home of developer oriented block theme documentation.

I would like to recommend that block theme documentation be moved to the theme handbook for ongoing development. I imagine that this discussion will need t

[2021-05-19 14:22] justintadlock commented on #31201
This has been the bane of my existence for a while.  What I ended up doing to fix this (I hope) is split my `:first-child` rule between the front-end and editor.  I'm not sure if there are edge cases I'm missing.

Even if this is the ideal solution for now, the ultimate goal is for themes to have a single stylesheet for both the front end and editor.  I'd love to see this addressed.

Front end sty

[2021-05-19 14:23] MadtownLems opened #32000 "Block toolbar and classic block header awkwardly obscures Notices"
## Description
The Classic Editor block obscures notices.

## Step-by-step reproduction instructions
Create a post with a Classic Editor block at the beginning, and enough filler text below it to allow scrolling.
Publish it.
Type some random changes in the post, let it idle long enough to generate an auto save, then leave the page. (This step is just to get a notice displayed on the page when we r

[2021-05-19 14:30] skorasaurus commented on #22039
Hi,

Sorry for the delay in response. Somehow, this issue didn't show up in the list of unlabelled issues to be triaged.

Are you able to reproduce this after you have installed and activated the newest version of Gutenberg that is available through [the Gutenberg plugin](https://wordpress.org/plugins/gutenberg/)?

I was actually using the RangeControl yesterday and didn't experience this.

[2021-05-19 14:38] ajlende commented on #31764
So it sounds like for this, in order to be consistent with existing settings, there are a few things that need to happen:

1. The `DuotoneControl` needs to be disabled when `color.duotone === null` to hide the toolbar item.
2. The `ColorListPicker` in the `DuotonePicker` dropdown needs to be disabled when `color.palette === null`.
3. The `CustomDuotoneBar` in the `DuotonePicker` dropdown needs to

[2021-05-19 14:40] youknowriad commented on #31764
That makes sense yes.

[2021-05-19 14:42] priethor commented on #30746
I agree @javierarce, let's close it as duplicate.

[2021-05-19 14:42] #30746 closed, assigned to nobody

[2021-05-19 14:54] tdlm commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-19 14:58] TimothyBJacobs commented on #31918
So it's a bit more complex than that. The `userCan` function is just an abstraction over the `Allow` header. So while the third parameter may be required for some actions like `DELETE`, it isn't for others. But that info itself is contextual on the resource. For instance, you could have a collection endpoint that has a `DELETE` method, like the Application Passwords collection.

[2021-05-19 14:59] ellatrix commented on #31657
Is this for a specific theme? I can't reproduce.

<img width="834" alt="Screenshot 2021-05-19 at 17 58 51" src="https://user-images.githubusercontent.com/4710635/118835671-e08ad980-b8cb-11eb-977d-e82c2e7c7658.png">

[2021-05-19 15:04] carolinan commented on #31999
This has been discussed with the documentation team here:  https://make.wordpress.org/docs/2021/02/18/a-home-and-a-name-for-site-editor-documentation-full-site-editing-feature/
And in this issue https://github.com/WordPress/gutenberg/issues/29031#issuecomment-792753768

In my _opinion_, the theme developer handbook is not in a state where it can accept new content.  The current content is out of d

[2021-05-19 15:04] bobbingwide commented on #31798
See also https://github.com/WordPress/gutenberg/issues/26923

[2021-05-19 15:16] carolinan commented on #31999
Only a limited number of people have access to the theme developer handbook, compared to the documentation on GitHub that everyone can contribute to.

One of the big hurdles for writing documentation anywhere, is obvious from this pull request: https://github.com/WordPress/gutenberg/pull/31269
**There are too many options.** There are so many ways to create templates and template parts that both d

[2021-05-19 15:27] annezazu commented on #31961
Oh wow! Makes perfect sense. I could have sworn I was selecting the Query block rather than the Loop. Thanks for the wider context. I'll go ahead and close this out since it's more user error than anything else and anything that could be reported comes down to the experience of nested blocks, which is already well documented.

[2021-05-19 15:27] #31961 closed, assigned to nobody

[2021-05-19 15:47] scruffian commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-19 15:48] critterverse commented on #31972
We also have #31730 but can close that in favor of removing the "back" functionality altogether, let me know!

(We should take a look at the back functionality for `Enter` as well — this currently takes you back a step when you first open the Customizer editor before selecting anything, otherwise seems to be disabled)

[2021-05-19 15:49] felixarntz commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-19 16:09] critterverse commented on #31959
Not related to the widget area containers but adding one small styling tweak for the Appearance screen in case it's possible to fit it in here with these other changes. Could we adjust the spacing between the Update button and Settings toggle to match the post editor? Should be 16px between:

![button-spacing](https://user-images.githubusercontent.com/77359364/118846593-e0261a80-b89a-11eb-95f4-dea

[2021-05-19 16:14] critterverse opened #32004 "Remove "change widget" action from legacy widget toolbars"
This action feels unnecessary and like it could be removed entirely.

<img width="293" alt="image-14" src="https://user-images.githubusercontent.com/77359364/118847238-870ab680-b89b-11eb-982c-a1108afc4deb.png">

Originally noted by @shaunandrews while [completing the recent Call for Testing](https://shaunandrews.com/2021/05/testing-the-widget-editor-for-wordpress-5-8/).

[2021-05-19 16:28] helen commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-19 16:35] annezazu commented on #31943
Wonderful insight. Thank you.

[2021-05-19 16:41] carolinan commented on #31999
I will continue to think about this. I am struggling because I do not see a clear path for how the documentation can be kept separate enough to not cause confusion and contradictions. I am looking forward to reading input from others.

Maybe the theme developer handbook needs a decision tree and three separate sections:
PHP, HTML templates, and no code (export from site editor).
But this is made m

[2021-05-19 16:56] bobbingwide opened #32007 "Theme-json.md shouldn't include comments in the JSON examples"
## Description
In the examples for theme.json in docs/how-to-guides/themes/theme-json.md
there are a number of comments in the JSON examples.
If anyone tries to copy and paste the example verbatim into theme.json

1. It won't work
2. theme.json will not parse
3. the user may not understand why it doesn't work

There are two problems to solve. This issue is just about the documentation.

## Step-by

[2021-05-19 17:03] priethor commented on #31951
Regarding the power of the navigation block, I believe it might be helpful to take a step back and reevaluate what we are trying to achieve with a _single_ block. Do we want a single block to handle all those use cases and the complexity you mentioned above?

Given that Gutenberg already supports semantic template parts, I think we could try exploring a semantic Navigation template part approach,

[2021-05-19 17:07] gziolo commented on #31322
Gutenberg 10.6 synced with WordPress core:
https://github.com/WordPress/wordpress-develop/pull/1257

There are some follow-up items necessary:
- Site Logo block still needs to be exposed on the server with the related logic. @aristath explores alternative handling that doesn't conflict with the unit tests in WordPress core in #31994
- Post Author block needs to be removed when 10.7 gets synced
- N

[2021-05-19 17:16] bobbingwide opened #32009 "Failure to parse theme.json should be a lot more obvious"
## Description

A theme’s global styles are defined in a file called theme.json.

It’s a complicated file in JavaScript Object Notation (JSON ) format.

There are many settings which can have lots of values.

- You have to get the structure and the syntax correct.
- If you make any mistake with the syntax then the Global Styles aren’t set.
- You don’t get any messages.
- Everything just looks all

[2021-05-19 17:33] gziolo commented on #31868
Which version of npm do you use?

`npm --version`

[2021-05-19 17:37] MadtownLems commented on #32000
I've noticed that this extends beyond just obscuring Notices. The "Classic" box sits in front of other
![2021-05-19 12_23_11-Edit Page ‹ Conv7 — WordPress](https://user-images.githubusercontent.com/945157/118858596-f33ae980-b89e-11eb-8b85-23e5af0b3f07.png)
block controls as well. See attached screenshot.

[2021-05-19 17:37] steveangstrom commented on #27847
In my case this would be "Always".   They will _always_ want to "zoom out" and see the contents of the post in the page template, with all the styles, layout elements and graphical adornments.   That's my clients base expectation, and they are annoyed when they don't get it.

**Case Study.**
The clients I create sites for are decidedly non-technical, and also forgetful about instructions. They are

[2021-05-19 17:39] fardxd commented on #12657
I had the same issue with Newspaper theme and TagDiv composer that's the only solution that works. Thanks a world!

[2021-05-19 17:48] #31488 closed, assigned to jorgefilipecosta

[2021-05-19 17:54] Copons commented on #29736
@simison I'm not familiar with the Widgets editor, but it should be fairly easy from a code standpoint (see https://github.com/WordPress/gutenberg/pull/31047).
A good chunk of the code diff is about tests, but everything else is quite straightforward, as all have a very similar layout.
The persistent list view as I've developed it, basically needs the header and the interface's secondary sidebar t

[2021-05-19 17:54] annezazu commented on #31999
I personally love the idea of a decision tree setup and think that'll be advantageous especially as there will be various "types of themes" in the future:

- Classic = traditional theme we all are used to.
- Hybrid = traditional theme that opts into aspects of FSE features like opting into the block widget editor or theme blocks.
- Universal theme =  themes that can work in both the customizer (cl

[2021-05-19 18:08] #31700 closed, assigned to nobody

[2021-05-19 18:22] dcalhoun opened #32012 "Android blocker inserter entrance animation occasionally jumps to middle of screen"
## Description
When opening the block inserter on Android, the animation often flashes the blocker inserter UI onto the screen before subsequently hiding it and animating _upwards_ into place. Occasionally, the block inserter will even render detached from the bottom of the screen, leaving it floating in the middle of the screen before animating _downward_ into place.

The issue is fairly sporadic

[2021-05-19 18:28] dcalhoun commented on #32012
From reviewing [the 1.53 release changes](https://github.com/wordpress-mobile/gutenberg-mobile/pull/3506), it appears a few changes (#30291, #31655, #28495) were made to the block inserter. At this time, I am unsure if any of them are directly related. The next best step might be to individually revert each change to identify where the issue may have originated.

[2021-05-19 18:34] #31621 closed, assigned to ntsekouras

[2021-05-19 18:51] #31764 closed, assigned to ajlende

[2021-05-19 18:52] skorasaurus commented on #31868
7.7.6; I see a newer version is out; I'll upgrade momentarily.

[2021-05-19 18:53] brandonpayton commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-19 18:58] gwwar commented on #26141
I can take a look at this one, seems like we might be able to get some perf wins here too with the feature.

[2021-05-19 19:10] skorasaurus commented on #31868
I ran `nvm install-latest-npm` to update to the latest npm, and that installed node 16 for me.
npm if I installed node 16 (I use nvm); so I did;

I also created a fresh directory for a test case, entered it, ran `nvm use v16.2.0` then ran npm init , and then `npm install @wordpress/components@~14.0.0`
I ended up with different errors.
 node v16.2.0 ; npm 7.13.0
error log at https://gist.github.com

[2021-05-19 19:19] Addison-Stavlo commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-19 19:32] simison commented on #29736
Cc @draganescu for thoughts on above.

[2021-05-19 19:33] newoceans commented on #17678
Edit: forget about my comment below. I removed the captions by clicking on the 'Media Library' link of the gallery; hence I removed them from the media that is: the images. Just discovered I better double click on the caption itself and remove it. This way it gets removed from the images in the gallery, but not the images in the library. But might be confusing for other users too...

---

Regardin

[2021-05-19 19:41] imath opened #32019 "Duplicates, triplicates, quadruplicates widgets.. into the Legacy widget's block selectbox"
## Description

Hi,
First congrats for the work achieved so far about the Widget Block Editor. I've started working on migrating the [BuddyPress Legacy widgets](https://github.com/buddypress/bp-blocks/issues/37). So far it's going great. I just noticed something weird about legacy widget block: the select box is listing more than once widgets as soon as you add/remove a widget.

## Step-by-step re

[2021-05-19 19:49] DaisyOlsen commented on #31999
I'd hate to see new documentation not move forward because other documentation needs to be updated. That seems counterproductive. I want to think through the decision tree more also.

My initial feeling is that we will pave some paths for Hybrid and Universal themes but I don't think they should be a top level decision tree. I could see value in including details on how to opt into some aspects of

[2021-05-19 20:06] mlbrgl commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-19 20:09] critterverse opened #32020 "Add a snackbar with Welcome Guide on first pattern save in Patterns or in editor"
**Updated June 29th, 2023**

Previously, an idea came up around adding a snackbar that confirms when a reusable block has been saved from the toolbar https://github.com/WordPress/gutenberg/issues/29871#issuecomment-802039607. This experience has since evolved with patterns and reusable blocks merging into a single concept of patterns: synced (previously reusable blocks) and unsynced (patterns as w

[2021-05-19 20:10] amir2mi commented on #27917
@noisysocks Thanks! that worked for the list but when an item is selected input does not show text:
![combo](https://user-images.githubusercontent.com/64708228/118877545-d2f14600-b903-11eb-95ad-e8a580d06d2c.png)

[2021-05-19 20:12] Ipstenu commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-19 20:25] gwwar commented on #26141
https://www.w3.org/TR/wai-aria-practices/examples/treegrid/treegrid-1.html looks like a nice example/resource

[2021-05-19 20:49] Lewiscowles1986 commented on #31893
I don't 🙄 it's quite laughable really as it won't take too long to replace, but I refuse.

[2021-05-19 20:53] jgcaruso commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-19 21:12] JasonHoffmann commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-19 21:21] intronic commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-19 23:15] mkaz commented on #31999
I think in the near term we should add a link to the Theme Handbook to the current block themes tutorial so people looking can find the documentation.

For longer term, I think we should have a single spot for all Theme documentation regardless of theme type (PHP, HTML)

I personally prefer documentation in GitHub because it is easier and clear how to get access and contribute. The current Theme h

[2021-05-19 23:46] noisysocks commented on #32004
I'm not tied to it.

I suppose the only nice affordance it offers is if you accidentally pick the wrong widget type from the dropdown.

But:

- I doubt a user would even discover it.
- You can always press Undo.

[2021-05-20 01:17] apeatling commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-20 01:21] carlomanf commented on #31954
That's disappointing, especially because I believe the behaviour has changed since you opened it. At the time, user templates did persist after a theme switch, but now they don't.

I agree with you that neither of these blanket solutions are ideal, and it would be better to give the user some kind of discretion. Still, the lack of responses is somewhat understandable, because the underlying infras

[2021-05-20 02:00] carlomanf commented on #25071
There is a precedent here with widgets and menus, where you can create them in one theme and then bring them to another theme after switching. The difference between this and what you describe, is it happens after the theme switch, rather than upon the theme switch. In other words, there is a short window of time where the new theme might look "unfinished" because the user hasn't yet moved their o

[2021-05-20 03:57] kevin940726 opened #32024 "Widgets Customizer should work without animations and transitions enabled"
## Description

Possibly related failing tests: https://github.com/WordPress/gutenberg/runs/2620274056

Currently, the Widgets Customzier only works with "Disable the CSS animations" plugin disabled. It's because the customizer API rely on `transitionend` to work. We might want to find a new way to workaround that until we fixes it in core.

## Step-by-step reproduction instructions

1. Enable "Di

[2021-05-20 04:10] carolinan commented on #31999
This is also currently a blocker for the Documentation team (see more details in this post on Make). The sooner a decision is reached on the name, the sooner we can spin up proper documentation for it.

https://github.com/WordPress/gutenberg/issues/29630

[2021-05-20 04:25] carolinan commented on #31999
A new repository could be created for the new block theme documentation and the classic _(if that is really the name that is decided on)_ theme documentation can be be updated while it is moved over.

But that kind of decision is not taken here in the Gutenberg plugin GitHub repository. This decision doesn't primarily involve the core editor team but the docs, meta, and themes teams, and I assume,

[2021-05-20 04:35] talldan commented on #31972
Cool, I missed that one. I'll close this in favour of #31730 and mention about popovers there.

[2021-05-20 04:35] #31972 closed, assigned to nobody

[2021-05-20 04:43] talldan commented on #31730
Labelling as a bug now that we're approaching the point where the editors are considered stable. Select/navigation mode should be usable.

The customizer escape key handling is also causing an issue with popovers as described in the duplicate - https://github.com/WordPress/gutenberg/issues/31972.

[2021-05-20 04:49] critterverse commented on #30912
I can see what you mean @talldan. Due to a similar issue, I think we should also the remove the reappear-on-reverse-scroll that is currently applied to the Customizer description container (where it says "Footer" with the back arrow):

https://user-images.githubusercontent.com/77359364/118919460-8a855880-b902-11eb-9e86-5a29ca7f68aa.mov

^ Even when the fixed toolbar option is turned on, there are

[2021-05-20 04:50] mikeselander commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-20 05:03] technote-space commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-20 05:04] technote-space commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-20 05:14] #31648 closed, assigned to Mamaduka

[2021-05-20 05:52] j-falk commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-20 06:18] lukecarbis opened #32027 "Theme's color palette no longer returned via Block Editor settings"
## Description
`wp.data.select( 'core/block-editor' ).getSettings().colors` no longer returns theme colors.

## Step-by-step reproduction instructions
1. Disable Gutenberg
2. Enable a theme with a colour palette (like Twenty Twenty-One)
3. Open the Editor
4. Run this in the console: `wp.data.select( 'core/block-editor' ).getSettings().colors`

At this point, note the colours – they're the colours

[2021-05-20 06:19] lukecarbis commented on #32027
Context: My block relies on access to the theme's default colour scheme. If this is an intentional breaking change, I'd love if someone could help with a way to get the theme's default colours.

[2021-05-20 06:20] gziolo commented on #31056
I second what @talldan said. It's very tricky to use regular React components inside the `save` implementation that should contain code that generates HTML output saved in the post content. In theory, you can share code with `edit`, but as soon as you use data API interactions, React hooks, or lifecycle methods it either breaks or doesn't work as expected.

I would personally recommend using HTML

[2021-05-20 06:23] #30325 closed, assigned to Mamaduka

[2021-05-20 06:23] #31508 closed, assigned to Mamaduka

[2021-05-20 07:30] erikjoling commented on #31950
Are the layout controls tied to the block-alignments? Like alignfull, alignwide and default?

So parent containers can define layout widths (full, wide, default) and the children can override these widths through custom values?

[2021-05-20 07:44] youknowriad commented on #31798
I think this is now fixed. Anyone can do some tests and confirm?

[2021-05-20 07:45] #16307 closed

[2021-05-20 08:21] youknowriad opened #32032 "Investigate unstable Post Editor Template e2e test"
This test has been disabled in #32017

This is an important test to make sure the template mode works so we should try to investigate the failure and stabilize it.

cc @jorgefilipecosta

[2021-05-20 08:23] youknowriad opened #32033 "Investigate unstable navigation test."
This test has been skipped in #32031 because it's too unstable and has been failing too often in trunk.

cc @Mamaduka

[2021-05-20 08:24] youknowriad opened #32034 "Investigate unstable meta boxes test"
This test has been skipped in #32031 because it was too unstable in trunk.

cc @ellatrix @youknowriad

[2021-05-20 08:34] Mamaduka commented on #32033
Thanks, @youknowriad

I will have a look and try to fix it.

[2021-05-20 08:49] #31857 closed, assigned to ocean90

[2021-05-20 09:14] jameskoster commented on #31950
As I understand it the controls in the layout panel _only affect the children of that block_. It's basically a toggle, either:

1. Child blocks will _always fill the container 100%_, or
2. Child blocks will be narrower than the container, but can individually be set as wide width or full width _within the context of the container_.

For option 2, the values for "narrow" and "wide" widths should co

[2021-05-20 09:16] Mamaduka commented on #32033
@getdave I was wondering maybe I should update `assertIsDirty` and check against `__experimentalGetDirtyEntityRecords` instead of dialog.

Not sure if this is the cause of the issue, but response mocking sometimes fails during page reload.

https://github.com/WordPress/gutenberg/blob/b65583def3168fb481b2a776f892f2a38b10a616/packages/e2e-tests/specs/experiments/navigation-editor.test.js#L536-L554

[2021-05-20 10:26] yuliyan commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-20 11:21] Mamaduka commented on #32033
It looks like this was caused by missing `await` for `assertIsDirty` async function 🤦

[2021-05-20 11:24] xavivars commented on #20490
This is creating quite a lot of confusion for less-technical people. They don't know what escaped html entities are, and seeing that the title changes with _weird text_ suddenly is quite confusing for them.

[2021-05-20 11:26] youknowriad commented on #32033
nice catch @Mamaduka what about the other skipped tests in the same file? Do we have a similar error there?

[2021-05-20 11:30] Mamaduka commented on #32033
I'm still trying to reproduce those locally.

[2021-05-20 11:30] aristath commented on #31964
If I'm not mistaken this is already in trunk and will be included in v10.7. Related PR: https://github.com/WordPress/gutenberg/pull/30376

[2021-05-20 11:32] #31995 closed, assigned to Aljullu

[2021-05-20 11:32] gregrickaby commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-20 12:01] gziolo commented on #31322
I'm about to land renaming `construct_wp_query_args` to `build_query_vars_from_query_block` (#32041) in Gutenberg that will have to be applied to WP core as well.

@ntsekouras is planning to look at writing unit tests for `build_query_vars_from_query_block`. We also need tests for `block_has_support` and new block supports integrations added.

[2021-05-20 12:05] aristath commented on #31962
I think this block is about to get completely refactored and AFAIK the plan is to convert it to a wrapper with multiple inner blocks (I could be mistaken though). That's why it's also not going to be included n WP5.8, there's lots to be done here :+1:

[2021-05-20 13:06] kjellr commented on #29983
I think it's worth reviving this discussion in the context of the Query block, where it sounds like [we're likely to have two nested levels of container blocks](https://github.com/WordPress/gutenberg/pull/31833#issuecomment-844999956) (Query + Query Loop), each with their own Layout controls.

Some things I'd be open to exploring:

- Adding a setting for children with layout controls to mirror the

[2021-05-20 13:15] youknowriad commented on #32032
closed in #32035

[2021-05-20 13:15] #32032 closed, assigned to nobody

[2021-05-20 13:16] mcsf commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-20 14:02] skorasaurus commented on #32009
Want to share that this should be prioritized:

not creating any feedback loop or indications that a theme.json file is not working will create a really negative and frustrating experience for theme developers who will be unsure of how to fix their problem: they'll wonder: "is it a problem with my theme? is it a problem with gutenberg?"

I've ran into this a couple times as well and it was frustra

[2021-05-20 14:08] bph commented on #23730
I don't think so. I have been using Block Patters successfully for the last 8 months<g> Closing now.

[2021-05-20 14:08] #23730 closed

[2021-05-20 14:10] carolinan commented on #31990
🤔 `wp-block-site-title` is placed on the heading/p element, so the red link color is not applied to the actual link.

[2021-05-20 14:14] ocean90 commented on #31857
Thanks!

[2021-05-20 14:18] oxyc opened #32045 "Latest Posts grid layout throws uncaught ReferenceError and does not render"
## Description

When adding a Latest Posts block using the grid layout the editor throws the following error:

This is because [`hasPosts`](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/latest-posts/edit.js#L391) is defined after the `inspectorControls` are defined.

## Step-by-step reproduction instructions

Please list the steps needed to reproduce the bug. For exa

[2021-05-20 14:26] nasajones opened #32047 "Pre-defined background gradients on list blocks are still enabled after custom block coloring has been disabled in functions.php"
## Description
After disabling custom colors in the theme's functions.php file, users are still able to select pre-defined gradient backgrounds for list blocks.

## Step-by-step reproduction instructions
1. Install and activate a theme
2. Install and activate the Gutenberg plugin
3. Disable custom coloring in the theme's functions.php file:
`add_action( 'after_setup_theme', 'disable_custom_colors'

[2021-05-20 14:27] skorasaurus commented on #32045
Hi,

Thanks for reporting;
This has been reported in https://github.com/WordPress/gutenberg/issues/31847 . Feel free to [add your reaction](https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/about-conversations-on-github#reacting-to-ideas-in-comments) and follow its progress in the issue.

[2021-05-20 14:27] #32045 closed, assigned to nobody

[2021-05-20 14:28] skorasaurus commented on #31847
more details and the cause were listed at https://github.com/WordPress/gutenberg/issues/32045 ; thanks @oxyc

[2021-05-20 14:38] erikjoling commented on #31986
That doesn't break the site-editor, but at the same time it also doesn't disable the color controls (which is what I'm trying to test). The default colors are shown.

[2021-05-20 14:53] annezazu opened #32048 "Add option to Edit Template directly while viewing front end of site"
## What problem does this address?

Currently, with block themes, we show two options: "Edit Site" and "Edit Page". There's no way to edit the template directly while viewing a page or post:

<img width="528" alt="Screen Shot 2021-05-20 at 8 47 38 AM" src="https://user-images.githubusercontent.com/26996883/119000190-1cfc1b00-b948-11eb-8c6b-1eb0f50c16b1.png">

This came up in the [sixth call for te

[2021-05-20 15:05] bph opened #32050 "build-plugin-zip.sh doesn't include *.js files"
A user of today's Gutenberg nightly detected a missing files issue

"the front end is looking for `plugins/gutenberg-nightly/build/block-library/blocks/navigation/frontend.js`
And throws a 404 error.

Turns out the [build-plugin-zip.sh](https://github.com/WordPress/gutenberg/blob/4060caa5a4f3f053e90913b4ce1607ea8d63934c/bin/build-plugin-zip.sh) doesn't include *.js files
![Screen Shot 2021-05-20 a

[2021-05-20 15:11] youknowriad commented on #32050
cc @vcanales @jasmussen

[2021-05-20 15:18] vcanales commented on #32050
Thanks for the heads up — [fix is waiting to be merged here.](https://github.com/WordPress/gutenberg/pull/31917)

I'd appreciate some eyes, since checks have been refusing to run, and/or fail randomly.

[2021-05-20 15:19] jasmussen commented on #32050
@youknowriad does the above fix need to be in the RC?

[2021-05-20 15:22] erikjoling opened #32051 "Option to disable default block styles"
## What problem does this address?
The CSS of blocks gets inserted inline (I'm using gutenberg 10.6). But this also adds default styles for some blocks. In the case of galleries and columns it's complex to overrule them. And redundant I would say, because one of the goals of the new style approach is to reduce bytes.

[code]
https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/

[2021-05-20 15:36] microbit-mark commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-20 15:43] gziolo commented on #32050
@vcanales, this fix is not enough. The file needs to be listed in the script that builds the zip file.

[2021-05-20 15:44] jayshenk commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-20 15:45] vcanales commented on #32050
👍 indeed it looks like it's a two parter. I can add that change to the PR waiting to be merged.

[2021-05-20 15:55] skorasaurus commented on #12101
was reported at https://core.trac.wordpress.org/ticket/53194 ; referred reporter to here.

[2021-05-20 16:00] skorasaurus commented on #28094
This was completed in https://github.com/WordPress/gutenberg/commit/d37bcb48d7028aa7701ff129ad6e338c65d1666f

[2021-05-20 16:00] #28094 closed

[2021-05-20 16:03] walkersands opened #32056 "Unable to use shift-click to select multiple nested blocks"
## Description
Cannot select blocks together using shift-click if within innerblocks.

## Step-by-step reproduction instructions
1. Add Columns block
2. Add multiple blocks to a column
3. Attempt to select them with the mouse by shift-clicking

## Expected behaviour
Should show block toolbar with option to group.

## Actual behaviour
No toolbar. Sidebar says "No block selected".

## WordPress info

[2021-05-20 16:06] skorasaurus commented on #18418
heavily related issues: https://github.com/WordPress/gutenberg/issues/27560

[2021-05-20 16:12] bosconian-dynamics commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-20 16:17] gziolo commented on #31868
I have just tried with the latest version and npm 6:

<img width="1006" alt="Screen Shot 2021-05-20 at 18 16 43" src="https://user-images.githubusercontent.com/699132/119013817-a555dc80-b997-11eb-9972-cc82a5489b34.png">

It doesn't work with npm 7:

<img width="898" alt="Screen Shot 2021-05-20 at 18 18 49" src="https://user-images.githubusercontent.com/699132/119014036-df26e300-b997-11eb-864d-1b08

[2021-05-20 16:28] andfinally commented on #31885
Hm, I see! Thanks @skorasaurus, sorry about the duplicate.

[2021-05-20 16:29] fluiddot opened #32058 "Reusable block: Handle empty content case"
## Description

Reusable blocks with empty content are not displayed properly.

### Design proposed

@iamthomasbishop proposed a solution for this case in this [comment](https://github.com/WordPress/gutenberg/pull/31744#issuecomment-845306978), the idea is to use the `Warning` component when the block is selected but render an outlined empty box when is unselected.

<img src=https://user-images.gi

[2021-05-20 16:30] nick6352683 commented on #30759
ACF Pro v5.9.6 fixed this issue... thanks for all who made this happen !

[2021-05-20 16:43] fluiddot commented on #32012
That's interesting, as you pointed, most likely this was introduced on those PRs. I'll try to spare some time to investigate this further, thanks for opening the issue 🙇 !

[2021-05-20 16:57] stokesman commented on #29466
The regions navigation shortcut <kbd>Ctrl</kbd>+<kbd>~</kbd> would help with this but it seems a little broken in the Site Editor. There are times it doesn't seem to work at all (until "reset" by clicking in one of the regions) and it never cycles through all the regions as it does in the Post Editor. I suppose that merits an issue if there's not one already.

Here's an idea that more directly add

[2021-05-20 17:00] juanRabaa commented on #16164
This really helped me. What I was missing was adding the attribute definition through the hook `blocks.registerBlockType`.
I wouldn't use the `blocks.getSaveElement` filter though. The new attribute can be saved using the `blocks.getSaveContent.extraProps` filter.

Step by step, this is what you should do if you want to add a new attribute to an existing block:

1.  Define the attribute (filter: `

[2021-05-20 17:23] critterverse opened #32060 "Remove scroll behavior on the Customizer description container in Customizer Widgets screen"
Hi all, this bug has been spotted in a few different places like #31589 and https://github.com/WordPress/gutenberg/issues/30912#issuecomment-844689897 but splitting it off until it's own issue so it doesn't get lost 😁

Resolving this should get us a step closer towards implementing a solution like the one proposed in #32061

https://user-images.githubusercontent.com/77359364/119009689-64db6c00-b96

[2021-05-20 17:24] critterverse opened #32061 "Customizer Widgets top chrome: scroll away and return on reverse scroll"
Hi all, this issue is for discussing the treatment of the top chrome within the Customizer Widgets editor. There are several bars along the top area that all have individual behaviors:

<img width="798" alt="floating-toolbar" src="https://user-images.githubusercontent.com/77359364/119023200-85aabe00-b96f-11eb-9fb9-6ebb53e7b0b8.png">
<img width="798" alt="fixed-toolbar" src="https://user-images.git

[2021-05-20 17:26] critterverse opened #32062 "Customizer Widgets: default to floating or fixed toolbar?"
Hi all, creating this issue to discuss some issues around the Customizer top bar area. We're currently seeing some awkward overlap between the floating block toolbar and the top chrome of the Customizer Widgets screen:

https://user-images.githubusercontent.com/77359364/119016947-7f651380-b968-11eb-9eef-ec877c5ad089.mov

A long term solution has been proposed in #32061, and a short-term bug fix id

[2021-05-20 17:40] shaunandrews commented on #32062
Without a touchscreen, trackpad, or an Apple Magic Mouse, it is incredibly difficult to use a horizontally scrolling container. With my Logitech mouse I'm unable to scroll horizontally in my browser unless I turn on the "always display scrollbars" setting in Mac OS and drag the scrollbar. On Windows the scrollbar always appears, and the only way to scroll is to click and drag the scrollbar.

The h

[2021-05-20 17:43] kevin940726 commented on #31958
Thanks for testing! They're really helpful 😍. I did a triage for some of them below:

I'm seeing this too in the post editor though, can you confirm it's customizer only? Or maybe we can open a separate issue for it.

![image](https://user-images.githubusercontent.com/7753001/119024334-8a09c200-b9d5-11eb-90f0-acfc9cd3b62c.png)

It's opening during my testing though, can you confirm it's still happ

[2021-05-20 17:50] johnstonphilip commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-20 18:00] draganescu commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-20 18:02] annezazu commented on #31798
On my list for today and will loop back to confirm.

[2021-05-20 18:15] annezazu commented on #31798
I am still seeing some strange behavior. Here's as specific as I can get right now with the first item listed the bigger problem to solve:

1. Because the Post Content Block acts as a container of sorts in the Template Editor, it's very easy to accidentally delete the content of the post itself rather than just the block. Here's a video showing this happening where I think I'm deleting the post co

[2021-05-20 18:26] annezazu commented on #30759
So happy to hear that. Thanks for looping back to let us know :)

[2021-05-20 18:30] cngodles commented on #31211
Retested in 10.6.2, the issue still exists.

[2021-05-20 19:03] creativecoder opened #32065 "Site Logo Block: logo data source and block UX"
The Site Logo block is planned for release in WordPress 5.8.

It was created to use a dedicated option (`site_logo`) that interoperated with the `custom-logo` `theme_mod` used in the Customizer:

- If a `site_logo` option is set from the block, that logo is shown in the Customizer in place of the `theme_mod` (by hooking into `theme_mod_custom_logo`)
- If the `custom-logo` theme mod is updated or d

[2021-05-20 20:10] codebykat commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-20 20:39] mkaz commented on #31999
I wasn't making a decision it was just a thought, I even couched it saying I wasn't even sure if it was a good thought. But we have to raise the ideas to see what people think. If no one likes the idea, then fine.

A more productive response could've been, "ah that's an interesting idea I like it, maybe we should raise it in X, Y, and Z and see what others think." or the counter, which is still pr

[2021-05-20 20:39] sarayourfriend commented on #30503
## Migrating a G2 component into Gutenberg.

Helpful example PRs:
* https://github.com/WordPress/gutenberg/pull/31207
* https://github.com/WordPress/gutenberg/pull/31230

The rough outline of the process is as follows
1. Copy the component from the g2 repo into packages/components/src/component-name (use kebab case for the folder)
2. Add the folder to components/tsconfig.json#includes
3. Rename th

[2021-05-20 21:01] noahtallen commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-20 21:16] jffng opened #32069 "Template editor and front-end alignment styles do not match"
## Description
In template editing mode, the template editor and front-end alignment do not match by default.

## Step-by-step reproduction instructions
- Activate tt1-blocks (a theme that opts into the new layout system by providing [default content sizes](https://github.com/WordPress/theme-experiments/blob/master/tt1-blocks/theme.json#L111-L114) )
- Go to the post editor and create a new templat

[2021-05-20 21:46] derweili commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-20 22:19] DaisyOlsen commented on #31999
I wanted to circle back and mention that the reason I put my initial discussion here was because the documentation that does exist is located in the Block Editor handbook which is managed from this repo since the authors of those docs will be active here it seemed reasonable to ask my question here. I did not intend to omit any previous conversations so thanks for including them here for reference

[2021-05-20 22:36] azaozz commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-20 22:43] #31909 closed, assigned to vcanales

[2021-05-20 22:43] #32050 closed, assigned to vcanales

[2021-05-20 23:01] annezazu commented on #31798
Updated my comment above and the issue description to be more specific as the issue is more about how there is a parent/child dynamic between the Post Content Block and the actual contents of the post content (paragraph, image, etc).

[2021-05-20 23:05] cliffordp commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-21 00:14] noisysocks commented on #26240
Haven't investigated this but we may be able to do this simply by setting `supports.inserter` to `false` on the `core/legacy-widget` block when there are no widgets which can be selected.

[2021-05-21 00:24] noisysocks commented on #26297
https://github.com/WordPress/gutenberg/pull/31926 added this.

[2021-05-21 00:24] #26297 closed

[2021-05-21 00:27] noisysocks commented on #31126
I'll unassigned you so that somebody can pick this up and add filters for all the 🟧 items.

[2021-05-21 01:03] glendaviesnz commented on #29422
@georgeh are you still looking at this? I am happy to pick it up if not.

[2021-05-21 01:29] aaronrobertshaw commented on #31333
Work toward refining the border block support UI is currently in progress in https://github.com/WordPress/gutenberg/pull/31585.

The designs in https://github.com/WordPress/gutenberg/issues/31337 required some updates to the underlying block supports mechanism that are still pending review. Any help getting those reviewed will help move this forward.

- [Allow non-pixel units for border width & ra

[2021-05-21 01:30] aaronrobertshaw commented on #31337
Work toward refining the border block support UI is currently in progress in https://github.com/WordPress/gutenberg/pull/31585.

The designs in this issue required some updates to the underlying block supports mechanism that are still pending review. Any help getting those reviewed will help move this forward.

- [Allow non-pixel units for border width & radius](https://github.com/WordPress/gutenb

[2021-05-21 02:33] talldan commented on #32056
@walkersands Thanks for reporting this. I just tried testing in my dev environment (which has more recent code than 10.6.2)  and it seems to work ok:
<img width="653" alt="Screenshot 2021-05-21 at 10 28 15 am" src="https://user-images.githubusercontent.com/677833/119073182-60758880-ba1f-11eb-99de-f0b3aea54024.png">

So it could either be fixed or something else is causing the problem. How did you

[2021-05-21 02:45] talldan commented on #32000
The block toolbar also overlaps notices:
<img width="910" alt="Screenshot 2021-05-21 at 10 44 36 am" src="https://user-images.githubusercontent.com/677833/119074420-961b7100-ba21-11eb-893b-884c30680ee5.png">

[2021-05-21 02:51] vishnugopal commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-21 02:59] annezazu commented on #29031
Wanted to pass along some feedback from the[ sixth call for testing for the FSE Outreach Program](https://make.wordpress.org/test/2021/05/12/fse-program-testing-call-6-stick-the-landing-pages/) from @shaunandrews to keep in mind for future iterations:

TLDR:
- Have the snackbar appear afterwards.
- Improve the illustration for the generic WordPress page to be more in line with a template
- Make "G

[2021-05-21 03:14] annezazu opened #32073 "Improve sidebar settings after entering Template Editing Mode"
## What problem does this address?

When one opens up the template editor from the post editor, the focus causes the sidebar settings on display to be a dead end.  This feedback comes from the [sixth round of testing from the FSE Outreach Program](https://make.wordpress.org/test/2021/05/12/fse-program-testing-call-6-stick-the-landing-pages/):

<img width="393" alt="image-23" src="https://user-imag

[2021-05-21 03:23] Mamaduka commented on #29031
Thanks for the feedback, @annezazu

I think we can disable snackbar, if the welcome guide is enabled.

There's PR for graphic update - #32055.

I need to check if this is possible for the `<Guide />` component.

[2021-05-21 03:31] #26468 closed

[2021-05-21 03:36] talldan commented on #26186
I think it's ok to close this now, I haven't noticed it for a while.

[2021-05-21 03:36] #26186 closed

[2021-05-21 03:38] annezazu commented on #31046
This was also reported in the [sixth call for testing for the FSE Outreach Program](https://make.wordpress.org/test/2021/05/12/fse-program-testing-call-6-stick-the-landing-pages/):

![selecting-multiple-blocks](https://user-images.githubusercontent.com/26996883/119078596-be6c8680-b9b3-11eb-9315-22830b706c7c.gif)

[2021-05-21 03:41] annezazu commented on #29746
@StevenDufresne can you confirm that this is the same problem as described in the following feedback from the [sixth call for testing for the FSE Outreach Program](https://make.wordpress.org/test/2021/05/12/fse-program-testing-call-6-stick-the-landing-pages/)?

![duotone-how-to-close](https://user-images.githubusercontent.com/26996883/119078187-f1624a80-b9b2-11eb-9e5c-5ebc659448a2.gif)

It seems t

[2021-05-21 03:55] Mamaduka opened #32074 "Widget Screen: Dirty state is not reset after saving"
## Description
When adding a new block, sometimes you have to save changes twice to clear unsaved changes.

## Step-by-step reproduction instructions
1. Go to the new widgets screen.
2. Add a new block to a widget area.
3. Save changes.
4. See snackbar appear.
5. "Update" button isn't disabled.

## Expected behaviour
The "Update" button should be disabled after saving changes the first time.

## A

[2021-05-21 04:00] glendaviesnz opened #32075 "Gallery block: automatically migrate v1 blocks to v2 on edit"
At some point in the future we will want to automatically migrate the v1 block content to v2 format on edit and remove the v1 edit and save code.

Some work was done previously on setting up the deprecations for this, but the code was removed when the decision was made to continue supporting the v1 format. This removed code can be found at https://gist.github.com/glendaviesnz/b295c625e4dfe59c678ae

[2021-05-21 04:12] annezazu commented on #29031
Amazing! Thank you for the speedy reply - so glad to see that much of this is underway.

[2021-05-21 04:16] talldan commented on #31023
@JustinyAhin Just following up, do you still plan to work on this?

I think the endpoints will soon be ported to WordPress core, so where this is fixed may change.

[2021-05-21 04:32] stokesman commented on #29746
@annezazu, in the case of the Duotone button/popover, it's not strictly the same because it does not utilize the `Dropdown` component and it also behaves the same cross-browser. The other visuals you linked demonstrate the text alignment control which does utilize `Dropdown` and *is* an instance of this same issue.

Similar to the Duotone control there are a few other ad hoc dropdown-like componen

[2021-05-21 04:35] Mamaduka commented on #29031
@annezazu  Created PR for snackbar update - #32076.

[2021-05-21 04:43] RhnSharma commented on #31967
I would like to take this one.

[2021-05-21 04:56] tellthemachines commented on #31126
@draganescu @noisysocks I'm not sure what action is required for these three items:

🟧 supports widgets is required
🟧 user needs edit_theme_options permission
🟧 widgets_access user setting needs to be on

🟧 sidebar_admin_setup - this is already firing in both the widgets screen and the customizer, so I think nothing further is needed?

🟧 delete_widget - this can be added in the widgets controller,

[2021-05-21 05:37] aristath commented on #32065
I feel it should be mentioned here that changing themes is not something that a site-owner will do often.
Themes in WordPress are set-and-forget, and when a site-owner switches themes it's because they are either starting a new site (in which case they switch themes to find one that suits them), or they are redesigning/refactoring their existing site. In both cases, adding a logo is trivial after

[2021-05-21 06:28] jasmussen commented on #29729
@Copons the persistent list view is now available also in the post editor. Additionally, I see no reason we shouldn't also enable drag and drop in any other place where the list view is used, such as inside the Navigation block dialog:

<img width="562" alt="Screenshot 2021-05-21 at 08 25 22" src="https://user-images.githubusercontent.com/1204802/119092269-847c9e00-ba0e-11eb-99f6-3e8459dd5d03.png"

[2021-05-21 06:40] ellatrix commented on #31034
This was fixed by #31395.

[2021-05-21 06:40] #31034 closed, assigned to nobody

[2021-05-21 06:45] ellatrix commented on #31022
Fixed in #31873. Let's close this issue and create follow-up issue if needed.

@Addison-Stavlo Sure, there will be other challenges. We'll need to create a dev note once beta is out to clarify.

[2021-05-21 06:46] #31022 closed, assigned to nobody

[2021-05-21 06:48] ellatrix commented on #31008
I wonder if some gray padding like the template editor would be beneficial here. It would also ensure there's always some clickable area to clear selection. Cc @jasmussen

[2021-05-21 06:57] jasmussen commented on #31942
This is definitely a regression, and was not intentional. Let me take a look.

[2021-05-21 06:59] jasmussen commented on #31008
Is this a duplicate of https://github.com/WordPress/gutenberg/issues/29464? In that I also suggest that instead of adding padding, we can move the toolbar below the block. That lets us reserve the padding for indicating template editing, and it also takes up less space.

[2021-05-21 06:59] ellatrix commented on #30663
This should be fixed by #32057.

[2021-05-21 07:02] ellatrix commented on #30500
I completely agree. I'll look for a solution.

[2021-05-21 07:04] ellatrix commented on #31008
Yes, this is a duplicate of #31008.

[2021-05-21 07:04] #31008 closed, assigned to nobody

[2021-05-21 07:04] ellatrix commented on #29464
I think the same dark padding as the template editor would be a nice solution.

[2021-05-21 07:13] jasmussen commented on #31942
Fix in #32081.

[2021-05-21 07:19] ellatrix commented on #19454
Should be fixed after #30995. Please reopen if that's not the case :)

[2021-05-21 07:19] #19454 closed

[2021-05-21 07:19] ellatrix commented on #29678
Should be fixed after #30995. Please reopen if that's not the case :)

[2021-05-21 07:19] #29678 closed

[2021-05-21 07:20] ellatrix commented on #29677
Should be fixed after #30995. Please reopen if that's not the case :)

[2021-05-21 07:20] #29677 closed

[2021-05-21 07:22] ellatrix commented on #29370
Should be fixed after #30995. Please reopen if that's not the case :)

[2021-05-21 07:22] #29370 closed

[2021-05-21 08:13] ellatrix commented on #27221
This will be challenging because technically multiple rich text editors are selected. Not impossible though.

[2021-05-21 08:17] yanchuk opened #32082 "Activating AMP plugin in Reader mode crashes Gutenberg"
## Description
As I activate [AMP plugin](https://github.com/ampproject/amp-wp) in our setup in Reader more – I can't edit posts as Gutenberg crashes showing an error (see below).
The issue also [reported to AMP team](https://github.com/ampproject/amp-wp/issues/6304)

**Console:**
`data.min.js?ver=943087ae96d075f126df689839bb96b9:2 An error occurred while running 'mapSelect': Failed to construct '

[2021-05-21 08:24] DannyCooper commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-21 08:40] Quintis1212 commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-21 08:45] youknowriad commented on #32065
I added to the 5.8 board to at least get a conclusion/decision here before 5.8. Who knows the historic here about custom logo and why it was a theme specific setting in the first place?

Pinging some folks to have more thoughts. cc @jasmussen @azaozz @mtias @westonruter

[2021-05-21 09:00] bobbingwide commented on #32007
PR #32040 fixes this issue.

[2021-05-21 09:07] ellatrix commented on #10763
Let's close this for now.

[2021-05-21 09:07] #10763 closed

[2021-05-21 09:50] ellatrix commented on #30500
Solution in #32083.

[2021-05-21 09:54] kosiew opened #32084 "Media - Cropping images cannot be saved in wp-admin/upload.php"
### Steps to reproduce the behavior

1.  Go to Media (wp-admin/upload.php)
2.  Click on Edit Image
3.  Crop
4.  Save

#### What I expected to happen

Cropped image saved

#### What actually happened

Save button is inactive [https://d.pr/i/AcbMx2](https://d.pr/i/AcbMx2), it activates if I do another editing e.g. rotate, but after saving cropping is not saved, rotation yes.

#### Browser / OS versi

[2021-05-21 09:57] simison opened #32085 "Make it clearer how to remove a block"
## What problem does this address?

Removing blocks is a fairly hidden feature behind the three dots dropdown, and requires multiple clicks, making it a more tedious task with multiple blocks.

<img width="718" alt="Screenshot of menu item to remove block" src="https://user-images.githubusercontent.com/87168/119115736-2d87c080-ba30-11eb-93e1-c7dad082890c.png">

https://user-images.githubuserconten

[2021-05-21 10:24] erikjoling commented on #32051
I listened to the [Gutenberg Changelog podcast](https://gutenbergtimes.com/podcast/changelog-44-gutenberg-10-6-wordpress-5-8-theme-json/) and read these github issues: https://github.com/WordPress/wordpress-develop/pull/1236 and https://github.com/WordPress/gutenberg/pull/25220#issuecomment-734677515.

As a theme author I'm trying to get my head around this. Should I override the core block css by

[2021-05-21 10:31] getdave opened #32087 "Move `__experimentalFetchLinkSuggestions` to `core/data` store."
Following the discussion in https://github.com/WordPress/gutenberg/issues/31416#issuecomment-836921932_ let's discuss the possibility of moving `__experimentalFetchLinkSuggestions` to the `core-data` package store.

**Update**: I gave this a go over here https://github.com/WordPress/gutenberg/pull/32096.

## Rationale

_All_ of the implementations currently in use today in the various `edit*` pack

[2021-05-21 10:32] aristath commented on #32051
As it happens I am currently writing a post for these changes, and it will be published in a few days in the make.w.org blog.

Below is a neat function you can use in your theme to add styles for blocks. It works both for WP 5.8 as well as previous versions, and adds your block-styles both in the frontend and the editor.

[code]

If you want to remove default styles for a block, you could just de-

[2021-05-21 10:52] youknowriad commented on #31322
Core has been updated with the packages for Gutenberg 10.7.0 RC and the post author block is not removed from Core.

[2021-05-21 11:11] adamziel commented on #32087
We're in a weird situation where we have a package with "generic" blocks but no go-to procedure to integrate them with WP. It seems like there we don't need any super-specific integrations at the moment and `searchEntities` (previously `__experimentalFetchLinkSuggestions`) nicely fits my mental model of core-data. 👍  from me.

[2021-05-21 11:14] youknowriad commented on #31322
@ntsekouras just included the Query and Social Links block patterns to Core.

[2021-05-21 11:28] paaljoachim commented on #27093
As I logged into the Make WordPress Core web site to begin creating the Core Editor Summary.
I noticed this:

https://user-images.githubusercontent.com/5323259/119130122-0f25c300-ba38-11eb-837a-ff3e568a5cd6.mp4

I have not seen the "Add title" text button before, and I am wondering where it comes from. Then I begin wondering if this is something new that has been added, and began thinking about ho

[2021-05-21 11:40] paaljoachim opened #32089 "WP.org: Multiple weirdness/bugs happening."
## Description

I vaguely remember someone. I think it might be @desrosj mentioned that something was going on with wp.org.
Anyhow there are multiple things happening.

## Step-by-step reproduction instructions
1. Login to WP.org
2. Click to create a new post.
3. Add some paragraphs etc.
4. See the weirdness.

## Expected behaviour

That everything looked just as it should.

## Screenshots or scre

[2021-05-21 13:11] fabiankaegy opened #32094 "Image block shows toolbar button to "Add text over image" even when `core/cover` block is nor registered"
## Description

The Core Image Block recently added an option to "Add text over image" which under the hood transforms the Image block to a Cover Block. This button still gets rendered in the Blocks Toolbar in cases where the Cover Block is not registered.

Instances where this can happen is when a site uses white / blacklisting.

## Expected behaviour

When the Core Cover block is not registered

[2021-05-21 13:24] georgeh commented on #29422
@glendaviesnz I've been stuck on #31149, if you have the bandwidth feel free to grab it. I assigned this when I thought that was almost done, turns out it needed deeper changes than I had thought.

[2021-05-21 13:38] erikjoling commented on #32051
Great, thank you! I will try it out. If it works for me I'll close this issue and add a reference to your future blog post.

[2021-05-21 14:24] jameskoster opened #32098 "Creating a Template Part and not assigning a name creates an error"
When you create a template part via the ellipsis menu in the block toolbar, the following occurs:

https://user-images.githubusercontent.com/846565/119152708-764b7380-ba48-11eb-8ca6-86622b51afd4.mp4

[2021-05-21 14:47] paaljoachim opened #32099 "Publish panel: Add a Create "New Page/Post" button at the end of Pre-Publish check panel."
## What problem does this address?

The last panel we see after having published a page is this:

![Screen Shot 2021-05-21 at 16 36 16](https://user-images.githubusercontent.com/5323259/119154738-bf082a00-ba52-11eb-81a0-5199f761cffa.png)

To create a New page one needs to exit the page and create a new page.

## What is your proposed solution?

I am suggesting to add a "New Page/Post" button to th

[2021-05-21 14:49] mtias commented on #32085
There's definitely plenty of history here :) Notably https://github.com/WordPress/gutenberg/issues/7216

This action as added and removed from the toolbar a couple times in the past. The general thinking is removing is something that needs to work well with backspace when the block is selected.

[2021-05-21 14:55] manzwebdesigns commented on #32099
My first thought is this is very nice!  As I think about it, I am wondering if the "Copy Link" and "New Page" buttons should be swapped.

[2021-05-21 15:02] paaljoachim commented on #32099
Hey Bud. Thank you for the feedback!

My thinking is that "View Page" and "Copy link" are actions related to the current page. The "New Page" is not related to the current but a new page.

So by importance I view it this way.
"View Page" = The first thing a person would want to do after having published a page.
"Copy Link"  = If they want to share the link with someone.
When a person is finished w

[2021-05-21 15:07] Copons commented on #29729
@jasmussen feel free to do anything you want! 🙂

[2021-05-21 15:14] paaljoachim opened #32100 "Page Template: Cover full width shows gaps."
## Description

I made a Page Template. Removed the Site Title, Site Tagline and Separator (theme 2021).
Added a Cover block with an image. Then set it to Full Width.
There are gaps seen on the left, top and right area.

## Step-by-step reproduction instructions

1. Create a Page template.
2. Remove Site Title, Site Tagline and Separator blocks.
3. Add a Cover block with an image.
4. Set it to Ful

[2021-05-21 15:18] westonruter commented on #32082
I think there's a conflict with one of the other plugins you have active rather than the block editor and the AMP plugin. Since you've already reported to the AMP repo, I'll close this and we can continue investigating with you on our side.

[2021-05-21 15:18] #32082 closed, assigned to nobody

[2021-05-21 15:37] joedolson commented on #31378
This is an interesting question.  They're there to represent the content, and not intended for interaction, so having the link non-interactive seems totally reasonable to me; but whether a user should be informed of that, specifically, is a different question.

Technically, I'm not sure this is an accessibility issue - visually, the link also presents as if it were a link, but doesn't function as

[2021-05-21 15:40] intelligence commented on #23126
+1 For possibility to remove. Would also be nice to be able filter to change breakpoints and naming of the breakpoints.

[2021-05-21 15:49] westonruter commented on #32065
I recall that it's theme-specific mainly because it may depend on a theme's layout. If you have an area in the theme for the logo that is 400x200 pixels, but then switch to another theme that is designed to accommodate a 600x200 image size, then the image you picked for one theme won't just work in the other theme. So the intention was for the user to re-select the logo to re-crop it as required.

[2021-05-21 15:58] mcsf commented on #31365
(cc @aristath, per the introduction of automatic skip links in #30336)

[2021-05-21 16:00] sarayourfriend commented on #30503
Regarding base styles, I've added a new comment copied here for ease:

What do y'all think?

cc @ciampo @youknowriad

The goal is that we want reduced motion to be respected automagically, but maybe there's no way to do that and we just need to use the `useReducedMotion` hook everywhere 🤔 But I don't know how well that will work in CSS-in-JS as we don't want to depend on runtime changes 🤔 We shoul

[2021-05-21 16:06] mtias commented on #31951
I think there's a few things to clarify because we are going a bit in circles!

- Navigation is one of the most complex and diverse expression of websites. We should always be referring to patterns and design references we want to unlock for users or we risk solving abstract problems with loose resemblance to reality. So let's see a couple examples:

![image](https://user-images.githubusercontent.

[2021-05-21 16:16] mtias commented on #32065
I'd really love for us to get a bit further away from the theme-specific situation since we have an opportunity to start making the overall experience better and more meaningful, not tied to the constrains we had before. A theme can specify a desired size in the block attributes for their logo block, and we could make decisions based on whether the current logo the user has fits or not. Removing i

[2021-05-21 16:20] paaljoachim opened #32103 "Page Template: Remove grey border and instead use the Page/Post title link."
## What problem does this address?

There is a grey border around the Page Template to give a hint that one is in template mode. Containing a <- Back text link to return to the page.

The following is an example where I am also taking James @jameskoster suggestion from this PR: https://github.com/WordPress/gutenberg/pull/32037 and adding it here.

![Page-template-grey-border](https://user-images.g

[2021-05-21 16:39] jameskoster commented on #32103
Considering the Inspector can be closed, I'm not convinced that the top bar contents alone are adequate in communicating the context shift here.

It may not be perfect, but the gray frame does quickly and clearly indicate the significance of the transition from post editing to template editing. Removing it puts us back at square one. Did you have any ideas of things we could potentially _replace_

[2021-05-21 16:58] walkersands commented on #32056
Shift + arrow key seems works in all scenarios; shift-click works for top level items, but not innerBlocks, which leads me to believe this is unintended behavior?
Block type does not seem to matter. I've updated my original post to be specific to shift-click.

[2021-05-21 17:06] paaljoachim opened #32107 "Page Template: Renaming Untitled Template Part is not intuitive."
## Description

I added a template part to a Page Template.

It would be natural to click the name seen in the toolbar to rename the part. A learned behavior example from OSX.
Instead this happens:

https://user-images.githubusercontent.com/5323259/119170453-8c1a6200-ba63-11eb-9e9c-219a3524e948.mp4

--
--

With other blocks one only clicks the block icon to open the similar type popup/drop down.

[2021-05-21 17:14] paaljoachim commented on #32103
Hey James

Thank you for asking!
I wanted to add this issue, so we can leave it open to see what kinds of ideas show up. (I am blank for the moment.)
I am totally open to being mistaken. We will see what kinds of feedback that shows up.

[2021-05-21 17:25] jameskoster commented on #32103
The other option we explored in https://github.com/WordPress/gutenberg/issues/27849 was an inverted UI color scheme:

<img src="https://user-images.githubusercontent.com/846565/105716710-1d932080-5f17-11eb-8eb5-1dea86aea591.png">

But this is a lot of work, and raises questions around how future features like dark mode would be interpreted.

---

This is an old concept, but I'm sharing since it ha

[2021-05-21 17:31] #31942 closed, assigned to jasmussen

[2021-05-21 18:03] paaljoachim opened #32108 "Not able to re-select template part, Group block and Columns block before adding inner blocks."
## Description

I made a page template.
Added a Template part. But after adding the part I am not able to select the sidebar settings.
The only way I am able to select the Template part is by adding in an inner block.

## Step-by-step reproduction instructions

1. Create a Page template.
2. Add a Template Part.
3. Deselect. Try to re-select the Template Part.

## Expected behaviour

Having a way t

[2021-05-21 18:04] mattyrob opened #32109 "Progressively widening TextControl Components"
## Description
The sidebar inspector seems to implement TextControls that get progressively wider

This issue seems visually worst in Chrome, is slightly better in Safari and hardly noticeable in Firefox.
(Screen grab below is from Safari)

## Step-by-step reproduction instructions
Deploy a block with multiple TextCrontol elements.

## Expected behaviour
Text Controls should all be the same width

[2021-05-21 18:10] manzwebdesigns commented on #32099
That makes sense, I was looking at it from the perspective of common use.  I have never used the Copy Link, nor do I intend to. :)

[2021-05-21 18:21] carolinan commented on #32108
I am able to reproduce this. After the block is inserted, it has no toolbar.
Though I am using WordPress 5.8-alpha-50943.

[2021-05-21 18:22] dcalhoun commented on #30976
Updated the title and description, as this issue appears to occur regardless of the presence of a citation. I am unsure if it was merely overlooked originally or the problem has worsened.

https://user-images.githubusercontent.com/438664/119181668-89a21300-ba37-11eb-868f-0b67d9da194c.MP4

[2021-05-21 18:24] ntsekouras commented on #31629
--cc @nosolosw @jorgefilipecosta

[2021-05-21 18:25] paaljoachim commented on #29210
Hey how is the issues coming along @jasmussen and @stokesman ?
This is a bug which I look forward to getting fixed. Thanks!

Have a great weekend!

[2021-05-21 18:30] carolinan commented on #30620
I am experiencing the same problems with the navigation block.

[2021-05-21 19:10] aristath commented on #31365
`<style>` elements inside `<body>` have been allowed for a decade and they are used in multiple places. The group block uses inline style elements to add styles for layouts, block styles get inlined in the footer if they are small enough, the list goes on.

To put it simply, the validator is wrong and that is a false positive.
`<style>` elements were not allowed inside the `<body>` in HTML4, but t

[2021-05-21 19:29] thompcha commented on #31365
The WHATWG spec currently used by the W3C validator specifies that a style element is contained within the head:
https://html.spec.whatwg.org/#the-style-element

Why didn't Gutenberg print style elements inside the body until the 10.5.2 patch?

[2021-05-21 19:56] ghost commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-21 20:01] circlecube commented on #31862
Yes, I experienced this. I added a template part and dropped a column block inside, then I set up my column content and it seemed to look fine in the editor (without adjusting the alignment settings on either the custom template part or the columns block).
Here's the blocks in list view to be clear:
<img width="298" alt="Screen Shot 2021-05-21 at 15 50 19" src="https://user-images.githubuserconten

[2021-05-21 20:05] renatho commented on #18329
Just for reference, maybe the origin of this issue was what is being fixed here: https://github.com/WordPress/gutenberg/pull/29911

This could cause some weird errors like that by recreating the appender component instance.

[2021-05-21 20:59] priethor commented on #32062
I totally agree the horizontal scrollbar is challenging, probably creating more issues than the ones it solves. I think we should at least fix #32060 for 5.8 and, if possible, continue with #32061.

[2021-05-21 21:11] paaljoachim opened #32115 "Z-index error with Autosave and Classic block toolbar"
## Description

I happen to notice when there is an Autosave notification in the top and a Classic Toolbar is active, that the Classic Toolbar will go on top of the notification.

## Step-by-step reproduction instructions

Please list the steps needed to reproduce the bug. For example:
1. Create/use existing page/post add a Classic block.
2. I assume leave the post and return to see the Autosave n

[2021-05-21 21:12] aristath commented on #31365
https://www.w3.org/TR/html52/document-metadata.html#the-style-element

styles can be inside the body in HTML5, It was not allowed in HTML4.

Because it didn't need to. Now it needs to, and it does. This instance is not the only one, there are multiple elements that do this.For example layouts CSS is printed inline using a `<style>` element: https://github.com/WordPress/gutenberg/blob/v10.6.0/lib/b

[2021-05-21 21:45] mkaz commented on #19309
Tested as part of Triage.

I tested on 10.6.2 and cannot duplicate using TwentyNinetween, TwentyTwenty on Firefox or Chrome.

I'm closing; we can reoopen if can be duplicated.

[2021-05-21 21:45] #19309 closed

[2021-05-21 21:47] paaljoachim commented on #19304
Testing with WordPress 5.7.2. Gutenberg plugin 10.6.2. Twenty Twenty One.

1. Adding a new post.
2. Typed: /image
3. Added an image from the Media Library.
4. Styles section is expanded (open).
5. Added a caption.
6. I could not see any flicker of the Styles area.

I have come across something similar where I have the browser window at a specific size then multiple sidebar objects have flickered.

[2021-05-21 21:47] #19304 closed

[2021-05-21 21:50] paaljoachim commented on #19192
Hey @talldan Dan!

Is this issue still valid?
It would be great with a status update.
Thanks!

[2021-05-21 22:19] paaljoachim commented on #19921
Hey @glendaviesnz
Here is an issue to check out in relation to the new Gallery block.

[2021-05-21 22:36] paaljoachim commented on #21191
Testing.

WordPress 5.7.2. Gutenberg plugin 10.6.2. Twenty Twenty One.

Went to a published page. With the name: "A post - Reuse"
Changed the title to "A page - Reuse" -> previewed. I saw the new title. "A page - Reuse"
Went back and changed the title back to "A post - Reuse" -> previewed. I saw the old title. "A page - Reuse"

It seems that every second change I can also see the change on the fro

[2021-05-21 22:59] carolinan commented on #31862
I see the confusion now, I tested in the _site editor_ but both the image and video above is from the _template editor._

[2021-05-21 23:05] paaljoachim opened #32119 "Widget Editor: confusing Move to icon seen in toolbar"
## Description

There is a new icon in the Widget Editor block toolbars:

<img width="693" alt="Widget-screen-toolbar" src="https://user-images.githubusercontent.com/5323259/119205371-63f92600-ba98-11eb-823a-7aca652b8c2f.png">

The curvy icon which is used for the Move to is very confusing. It reminds me of a "slalom slope".

I went online and searched for a move to icon and here is one I located.

[2021-05-21 23:11] prashanttholia commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-21 23:17] paaljoachim commented on #32119
Conclusion is to remove the **Move to** from the toolbar, and instead have a similar version in the ellipsis drop down. Updating the Move to feature located there.

Here is a quick mockup (using the same feature as is located in the toolbar):
![Move-to-updated-feature](https://user-images.githubusercontent.com/5323259/119206744-55ad0900-ba9c-11eb-9b57-00143616be0d.jpg)

Here I removed the **Move t

[2021-05-22 02:40] annezazu commented on #31862
Thanks for following up @circlecube with more screenshots. That's correct, Carolina! I'll update the issue title to make that clearer.

[2021-05-22 05:58] #31837 closed, assigned to Mamaduka

[2021-05-22 05:59] aprea commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-22 08:03] waviaei commented on #28809
@talldan Thank you for taking time in triaging the issue. I had a quick check, and same issue still occurred. However, update npm from 7.3 to 7.14 and it now seem to work. It does give `Skipping "@wordpress/block-editor" npm dependency.` error, but it now do build.

I am currently not actively using `create-block` so please keep the issue closed. Thanks!

[2021-05-22 09:04] andersnoren commented on #30491
@kjellr This issue is more about the `root:typography:fontSize` being applied to the html element, preventing the use of the `html { font-size: 62.5% }` [structure](https://snook.ca/archives/html_and_css/font-size-with-rem) (which sets 1rem = 10 pixels). It means that any developers that currently use the 1rem = 10 pixels structure in their CSS will need to switch to pixel values instead when they

[2021-05-22 11:10] ntsekouras commented on #20867
This should be fixed with: https://github.com/WordPress/gutenberg/pull/31687.

[2021-05-22 11:10] #20867 closed

[2021-05-22 12:07] Mamaduka commented on #31706
The option to install missing blocks directly from an editor is excellent. But it's only available for admin users; everyone else will only see the "Keep as HTML" action.

A lot of blocks also come with custom styling, and without them, things might appear broken.

I like the idea of side-loading missing blocks. Is there an issue where this is discussed?

[2021-05-22 12:44] concept83 opened #32123 "RangeControl: icon prop doesn't do anything."
It looks like the "icon" prop from the RangeControl docs doesn't do anything. I have looked closer and I can't find any reference to that. I suggest to remove it or actually add it because currently is misleading.

[2021-05-22 12:59] #31785 closed, assigned to nobody

[2021-05-22 15:41] stokesman commented on #32109
Hi @mattyrob, thanks for the code snippet. It made testing this easy. It turns out the widths are progressive because those labels happen to be of progressive lengths. See this screenshot where I made the first label longer and the second shorter.
![image](https://user-images.githubusercontent.com/9000376/119213427-d0156300-ba73-11eb-9dad-8b277f4be125.png)

This does seem like an styling oversight

[2021-05-22 16:01] stokesman commented on #32115
Seems a duplicate of #32000

[2021-05-22 16:09] stokesman commented on #32123
Thanks for reporting @pixelperfinch. This looks like a regression.
From storybook ["With Icon After"](https://wordpress.github.io/gutenberg/?path=/story/components-rangecontrol--with-icon-after):
![image](https://user-images.githubusercontent.com/9000376/119233217-c70cac00-badc-11eb-858f-616f0fdc8838.png)

From storybook ["With Icon Before"](https://wordpress.github.io/gutenberg/?path=/story/compo

[2021-05-22 16:22] paaljoachim commented on #32000
I noticed the same bug. I added this issue: https://github.com/WordPress/gutenberg/issues/32115 (Which I will now close as a duplicate.)

[2021-05-22 16:22] paaljoachim commented on #32115
Great! I will go ahead and close this issue.

[2021-05-22 16:22] #32115 closed, assigned to nobody

[2021-05-22 17:06] #20211 closed

[2021-05-22 18:36] stokesman commented on #29210
Hi @paaljoachim, at present we've got a PR I've made for this #29263 that works well enough, but I've gone ahead and linked #31483 as well because it happens to fix this too. I'm favoring the latter PR since it progresses the border support feature.

[2021-05-22 19:16] celloexpressions commented on #30496
As written, this issue treats the "site editor" as a standalone interface, separate from the post editor and the customizer. Some site editing features will (likely) be available as an extension of the post editor in WordPress 5.8. However, we're not quite to the point of adding a third "place" to edit a site yet as of 5.8.

The bigger backwards compatibility problem will happen when "full" block-

[2021-05-22 20:45] cguntur commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-22 21:29] luis-movel opened #32127 "Post author field: when search is enabled, it shows some wrong results"
## Description
Issue 1: Author search field don't show the right results (properly retrieved by the API) on the top of the list.
Issue 2: When you scroll down to the end of this list, you can see the results, but you can't select them.

It may have some relation with this pull request: #5921

## Step-by-step reproduction instructions
1. Create more than 1000 different users, to make sure the post

[2021-05-23 02:51] lukecarbis opened #32128 "DropdownMenu popover doesn't close when it loses focus in a Modal"
## Description
When adding a DropdownMenu to a Modal, the menu doesn't close when it loses focus. When the DropdownMenu is added elsewhere, it does close when it loses focus.

## Step-by-step reproduction instructions
[code]
Here is a Sandbox demonstrating the issue:
https://codesandbox.io/s/wp-components-dropdown-modal-test-forked-pv9gv?file=/src/App.js

## Expected behaviour
When a dropdown menu

[2021-05-23 03:58] annezazu commented on #29950
Additional, related feedback from [the sixth call for testing for the FSE Outreach Program](https://make.wordpress.org/test/2021/05/12/fse-program-testing-call-6-stick-the-landing-pages/#comment-1607):

Once more, having the title/area more "hidden" under Advanced settings proved to be a confusing experience.

[2021-05-23 04:18] annezazu opened #32129 "Separator block is difficult to select due to small size"
## What problem does this address?

This feedback came in as part of the [sixth call for testing for the FSE Outreach Program](https://make.wordpress.org/test/2021/05/12/fse-program-testing-call-6-stick-the-landing-pages/#comment-1612):

Here's a quick video showing a bit how precise one needs to be in order to select it:

https://user-images.githubusercontent.com/26996883/119248015-68324b80-bb4b-

[2021-05-23 05:36] carolinan commented on #31999
That is my fear. By moving documentation for features that are under _ongoing development_ or still experimental and frequently updated, from the current handbook to the theme handbook, it makes it harder for the developers to update the docs will making changes to existing features and adding new features.
It will no longer be something that they can just include in their pull request.

Instead t

[2021-05-23 06:23] #11002 closed

[2021-05-23 06:34] carolinan commented on #23890
Since there is no progress reported on a new design for these buttons, can the change be reverted and the old style implemented while a new design is being worked on?

There doesn't seem to be any disagreement on this being a regression.

[2021-05-23 06:54] carolinan commented on #20757
Is this still something you want to do? Are there examples of other blocks with colors in the toolbar?

[2021-05-23 11:06] carlomanf commented on #30496
Thanks for opening this issue Nick. You echo a lot of my thoughts about the mis-steps of this project.

From all the excitement about "building the future!!!" there is a risk of throwing the baby out with the bathwater. The goal of this project is not to "build the future" or "re-imagine" but to basically replace legacy content formats (unstructured post content, shortcodes, widgets, PHP theme tem

[2021-05-23 11:44] mattyrob commented on #32109
@stokesman

Thanks for the tip, I'll work on fixing this issue in my code with some CSS.

[2021-05-23 11:47] Quintis1212 commented on #31773
Hi @stacimc  ) I will try to fix this bug )

[2021-05-23 15:36] netflowauditor opened #32130 "10.6.2 causes severe issue with inboundnow Emails"
Gutenberg update to 10.6.2 breaks the inboundnow Emails. After updating all emails preview and are sent with the websiute framework instead of the default email template. After deactivating Gutenberg it all works again.

[2021-05-23 15:54] stokesman commented on #32128
The logic added to prevent a dropdown from closing when it opens a modal https://github.com/WordPress/gutenberg/pull/16964#discussion_r312015746 is the culprit.
https://github.com/WordPress/gutenberg/blob/83e74256edc2440d9650c65d68e17ddd6df93ffd/packages/components/src/dropdown/index.js#L69-L71
Its intent is to enable return of focus to the dropdown after the modal is closed. We’ll have to smarten

[2021-05-23 16:18] stokesman commented on #32129
I mentioned this in #28682 and maybe should have lead the issue with it. That issue indicates the commits that brought the selection changes causing this. It should also any affect spacer blocks that very short. I think there is some oddness around left/right-aligned inner blocks as well but I'll need to see if I can still reproduce.

I just noticed that issue #28682 has been recently self-assigne

[2021-05-23 17:11] BenceSzalai commented on #19796
In Gutenberg v10.6.2 and together with the `"version": 1` part, which is required for other settings to work, it should look like this:
[code]
(`color` / `palette` is an example of one of the standard settings, which only work with `"version": 1` included)

[2021-05-23 17:30] Quintis1212 commented on #31773
I created PR to fix this bug  - https://github.com/WordPress/gutenberg/pull/32131

[2021-05-23 19:13] justintadlock commented on #31710
The term list functions already have a `separator` argument.  Can we just expose that as an argument for the block?  It doesn't necessarily have to be turned on in the block options panel, but theme authors could simply do:

[code]

Commas or no separator at all are the most common use cases in themes.

[2021-05-23 19:14] glendaviesnz commented on #19921
Seems like a duplicate of https://github.com/WordPress/gutenberg/issues/30698 which we already have listed on the [gallery refactor project board](https://github.com/WordPress/gutenberg/projects/56#card-58819263)?

[2021-05-23 22:42] BenceSzalai commented on #16319
Only problem is that this outputs the raw markup of dynamic blocks.
If dynamic blocks should be allowed inside the InnerBlocks, echo `do_blocks($content)` instead of `$content`.

[2021-05-24 02:36] talldan commented on #32056
@walkersands Thanks for updating. I see what you mean about the difference between top-level and nested blocks. It does look like a bug.

I made some further changes to the issue title and description as this seems like a problem more related to block selection than grouping—grouping does seem to still work if a user is able to select the blocks via other means.

[2021-05-24 02:42] talldan commented on #32119
Linking to the design from @critterverse - https://github.com/WordPress/gutenberg/pull/30826#issuecomment-843388434

[2021-05-24 04:04] talldan commented on #32130
@netflowauditor Thanks for reaching out. This isn't really enough information for any developer to be able to follow-up on your report (which is why we include a template for you to fill out).

Please could you fill out all the required information.

A few additional questions:
- What is inboundnow? Is it a plugin? I don't see it in the WordPress plugin directory. If this is a paid plugin, it'll b

[2021-05-24 05:21] Mamaduka commented on #31786
Hi, @bobbingwide

I merged PR (#31787) last week, so going to close this one now.

[2021-05-24 05:21] #31786 closed, assigned to nobody

[2021-05-24 06:56] deanoakley commented on #18010
How is this bad UX _still_ not fixed...

[2021-05-24 08:47] carolinan opened #32139 "Some block patterns do not show in the inserter"
## Description

When testing the block patterns that are [planned for Twenty Fourteen](https://core.trac.wordpress.org/ticket/51103),
I learnt that the patterns show correctly in 10.6.2 but not in 10.7 RC1.
With 10.7 RC1, only two of the patterns show (summary and contact).

I was able to reproduce this in my own themes. It seems to be related to spacing inside the `content`.

The following does n

[2021-05-24 10:03] aristath commented on #32007
#32040 was merged, closing this one.

[2021-05-24 10:03] #32007 closed, assigned to nobody

[2021-05-24 10:32] ntsekouras opened #32146 "[Discussion]: `gutenberg_block_has_support` validations"
While adding some unit tests for `gutenberg_block_has_support` in `core` here: https://github.com/WordPress/wordpress-develop/pull/1280, I found it pretty weird that we just check if the value of a `supports` flag can return true even if as an `empty array` here: https://github.com/WordPress/gutenberg/blob/trunk/lib/blocks.php#L413

Should this return true as it does now? Should we add some more b

[2021-05-24 10:48] torounit opened #32148 "When input[type="email"] or [type="time"] or [type="number"] / is used in a custom block, the input text cannot be copied."
## Description
When input[type="email"] or [type="time"] or [type="number"] / is used in a custom block, the input text cannot be copied.

This problem also occurs with jetpack's Repeat Visitor block, Business hour block, etc.

[type="url"] can be copied successfully.

I think it happens when using attributes that do not support `selectionStart` / `selectionEnd`.

## Step-by-step reproduction inst

[2021-05-24 10:57] ciampo commented on #30503
I may lack some perspective of the high-level strategy for the components package, but it makes sense to me that, whatever solution we may go for, we would be able to affect _all_ components. Having implementation discrepancies in between components would make it quite hard to maintain and implement features effectively.

Hopefully not a silly question, but — Can't we make changes so that _all_ co

[2021-05-24 11:31] kasperaamodt commented on #28152
Are there any updates on this problem? I'm running the latest version of everything, and I'm still getting the error:

[code]

Editor version (please complete the following information):
WordPress version: 5.7.2
Does the website has Gutenberg plugin installed, or is it using the block editor that comes by default? Plugin
If the Gutenberg plugin is installed, which version is it? 10.6.2

[2021-05-24 12:23] Bowriverstudio commented on #28152
Same here, I am using Postman to access the endpoint.

[2021-05-24 12:34] fluiddot opened #32154 "Wrong insertion point after selecting blog's title"
## Description

Selecting a block after having selected the blog's title, the insertion point (`Add block here` line) is displayed in the wrong position. It should be shown after the selected block but it's displayed between the title and the first block.

**NOTE:** If the selected block is text type (for example a Paragraph block), after editing the text, the insertion point is displayed in the p

[2021-05-24 12:46] Mamaduka commented on #32127
Hi, @luis-movel

I wasn't able to reproduce the issue, but I've my guess why this might happen.

Just to confirm: Do you see any errors in DevTool's console? You might want to enable [`SCRIPT_DEBUG`](https://wordpress.org/support/article/debugging-in-wordpress/#script_debug) for React to display errors.

[2021-05-24 13:00] Mamaduka commented on #30360
Hi, @orenwolf

I'm no longer able to reproduce this issue in WP 5.7.2.

I fixed a similar issue in April. PR #30218.

[2021-05-24 13:16] imawc opened #32157 "File Block:Adding a custom style to a file block will register two upload files."
## Description

If you add a custom style to the file block with register_block_style(), two upload files will be registered.

## Step-by-step reproduction instructions

1. Register a custom style in the file block with register_block_style()
2. Upload a file in the file block
3. Checking in the media, two files are registered.

## Expected behaviour

Register only uploaded files.

## Actual behav

[2021-05-24 13:23] pbking commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-24 14:11] Addison-Stavlo commented on #28802
Closing this as we have used the `blockTypes` array in pattern registration to link template part variations to patterns. https://github.com/WordPress/gutenberg/pull/31155

[2021-05-24 14:11] #28802 closed

[2021-05-24 14:20] Addison-Stavlo commented on #26599
At this point with the different block variations and icons applied within the editor, I think we are good to close this issue?  Obviously, feel free to reopen for further discussion if I am mistaken. 😁

[2021-05-24 14:20] #26599 closed

[2021-05-24 14:28] Addison-Stavlo commented on #27337
Now that template parts have their area terms and corresponding variations applied (giving context for patterns, semantic html elements, searching other like entities, etc.),  I am wondering if we should close this issue?  Or leave it open for further discussion on more ways to leverage these classifications?

[2021-05-24 14:41] jameskoster commented on #26599
Yup, we can continue refining Template Parts in https://github.com/WordPress/gutenberg/issues/31750

[2021-05-24 14:49] sarayourfriend commented on #30503
Not a silly question. All of the new components ultimately render a `View` of some sort, but along with that `View` they may render a `styled` component. I guess we could make the `styled` components all inherit from `View` (``` styled( View )`` ``` for example) but that's not semantic Emotion in any way at all and it would make getting semantic elements out of `styled` more difficult (you'd have

[2021-05-24 15:00] jameskoster opened #32163 "Colorise template parts and reusable blocks in the UI"
Other platforms successfully use colorisation to distinguish local / global entities within a document. We might explore doing the same for template parts and reusable blocks.

There's some backscroll in issue https://github.com/WordPress/gutenberg/issues/26599 for context. That issue was closed as it touched on many other related (and now resolved) template-part-related concepts.

### Colorisatio

[2021-05-24 16:18] mtias commented on #30496
@carlomanf it's good to reiterate goals from time to time so we do not lose sight of it but I think that formulation above falls a bit short. The goal is to have a customization experience based around direct manipulation and expressive design tools. Using blocks and consolidating formats to achieve it is more of a strategy than a goal, given blocks were conceptualized with direct manipulation fro

[2021-05-24 16:31] mtias commented on #27337
Theme switching is one area that is still not fully explored, but we can do that separately.

[2021-05-24 16:31] #27337 closed

[2021-05-24 16:52] Mamaduka commented on #32157
I was able to reproduce the issue.

Example code for custom File block style:
[code]

[2021-05-24 17:05] youknowriad commented on #31322
We landed the theme.json Global settings. @nosolosw and @jorgefilipecosta are focusing on the style part right now.

[2021-05-24 17:18] johngodley opened #32169 "Cursor positioning with nested unordered list"
If you have a nested unordered list then the cursor position when clicking the list varies depending on whether it's the last level, or the other levels. The difference only occurs when clicking to the right side of the list. When you click the text of the list then the cursor is placed where clicked.

Here's a three level deep list:

![image](https://user-images.githubusercontent.com/1277682/1193

[2021-05-24 17:43] Mamaduka commented on #32033
Reopening since tests still fail from time to time. I've created a new PR to explore more permanent solution #32122.

[2021-05-24 18:25] dancodedev commented on #11789
Try this case

[code]

[2021-05-24 19:02] creativecoder commented on #32065
The fact that users who are new(er) to WordPress are more likely to switch themes and thus more likely to encounter the logo disappearing from the block makes it more of a problem in my mind: I suspect that they will experience it as instability or unreliability in a platform for which they haven't yet built up trust or understanding.

---

Can anyone provide more context on what conflicts the sit

[2021-05-24 19:06] westonruter commented on #32065
There is no `site_logo` option. Rather, there is a `custom_logo` theme mod. The possible conflicts are due to differences the desired image dimensions for logos across themes.

[2021-05-24 19:22] creativecoder commented on #32065
@westonruter Sorry to be unclear--I mean the `site_logo` option that was used in the Site Logo block in the Gutenberg plugin, until it was changed in #31994 . I'm looking for more context on the technical reasons for that change.

[2021-05-24 20:04] annezazu opened #32171 "Site Logo Block doesn't load after previously uploading"
## Description

With Gutenberg Version 10.7.0-rc.1, the Site Logo block now just shows as infinitely loading without an option to replace the image in the block toolbar. This is a regression from 10.6.2.

## Step-by-step reproduction instructions

1. Use Gutenberg 10.6.2 and set a site logo in the Site Logo Block
2. Switch to Gutenberg Version 10.7.0-rc.1 and view where you previously added the Si

[2021-05-24 20:27] #31868 closed, assigned to gziolo

[2021-05-24 21:03] mtias commented on #25071
There's a few things we need to do here. The biggest new introductions we have are user templates and user global styles; these both open new possibilities and bring new challenges. First we should outline user flows that we anticipate or want to make possible. For example:

- Choosing a theme and wanting to switch everything to the new look (discard any user modifications in templates or styles).

[2021-05-24 21:08] dcalhoun commented on #30839
Related to #29655.

[2021-05-24 21:11] mtias commented on #31871
If the CPT doesn't support `content` then meta-boxes take a much more prominent place (the block editor itself is disabled since the assumption is that CPT is more data driven than display driven). Is that a flow you have tried? It seems a good fit for the use case you describe.

[2021-05-24 21:11] #31871 closed, assigned to nobody

[2021-05-24 21:22] netflowauditor commented on #32130
inboundnow is a gpl contact management system for WordPress available on Github.

<img width="1032" alt="image" src="https://user-images.githubusercontent.com/62791190/119408492-78366080-bcee-11eb-8106-dc928a9e1422.png">

<img width="1035" alt="image" src="https://user-images.githubusercontent.com/62791190/119408508-82f0f580-bcee-11eb-8dd2-6ee2b5defbab.png">

We upgraded to 10.6.2 on 19 May 2021.

[2021-05-24 22:34] imawc commented on #32157
@Mamaduka
Ah, so it was a bug after all.
Thanks for reproducing the test.

[2021-05-24 22:55] creativecoder commented on #29821
Here's an experiment that allows editing the Posts page template (and any other page template) when editing a page: https://github.com/WordPress/gutenberg/pull/32022

[2021-05-24 23:30] supernovia opened #32173 "Tag Cloud Block: Specify number of tags"
## What problem does this address?
Right now there's no way to choose how many tags are displayed by the tag cloud block. It might show too few ( see https://github.com/WordPress/gutenberg/issues/21951 ) or perhaps too many.

## What is your proposed solution?
The tag cloud widget let site admins specify how many tags to show. Can we add that option in this block?

User request is from this thread

[2021-05-25 00:15] cjyabraham commented on #30360
This issue is fixed for me in v 5.7.2.

[2021-05-25 03:12] miminari commented on #20569
I reproduced this at @wordpress/env@4.0.4 in M1 Mac

[2021-05-25 03:29] tellthemachines commented on #31935
I'm running into this issue only in the second of two available widget areas. Using TwentyTwenty theme, three legacy widgets added into each area, the first area displays fine in the new editor, but in the second none of the widgets are visible until focused.

[2021-05-25 04:14] talldan commented on #32130
Can provide some links to the plugin?

Do you recall which version you were using previously?

Please also fill out the bug report template as requested, particularly the steps to reproduce. At the moment there's very little information for any Gutenberg contributor to act on.

It's also definitely worth reaching out to the inboundnow developers. It may have been an issue triggered by a version bu

[2021-05-25 04:18] talldan commented on #32089
@paaljoachim I think this was fixed by https://github.com/WordPress/gutenberg/pull/31882. What version of the plugin is WP.org using? The screenshot says 10.3, the fix was apparently in 10.6.

[2021-05-25 04:38] annezazu commented on #32129
@stokesman thank you SO much for connecting all of this together! I will stay tuned on that PR and hope it resolves this open issue too.

[2021-05-25 04:53] paaljoachim commented on #32089
It has been fixed.
The screenshot says 10.3, as I took old information into the new Core Editor Summary.

[2021-05-25 04:53] #32089 closed, assigned to nobody

[2021-05-25 05:18] tellthemachines commented on #32019
I can reproduce this with both WooCommerce and SiteOrigin widgets, but only on the second delete. So my steps are:
1. Add a legacy widget, save page, delete widget.
2. Refresh the page, repeat process with same widget.
3. Refresh the page again and verify that widget is repeated in the legacy widget block dropdown.

I can also reproduce the issue by adding two identical legacy widgets in the same

[2021-05-25 05:43] Mamaduka commented on #28771
Hello, @davsev

I'm no longer able to reproduce this issue with WP 5.7.2 or the latest version of the Gutenberg plugin.

I'm going to close this issue. Feel free to re-open it if you encounter the same issue in the future.

[2021-05-25 05:43] #28771 closed

[2021-05-25 05:54] Mamaduka commented on #25130
I was able to reproduce this with WP 5.7.2 and Gutenberg trunk.

[2021-05-25 05:57] talldan opened #32178 "Block Toolbar doesn't remain anchored to block when scrolling"
## Description
In several editors (Widgets, Navigation, Storybook playground) the block toolbar doesn't maintain position correctly when scrolling, it drifts up the page.

## Step-by-step reproduction instructions
1. Add enough blocks in an editor to get a scrollbar
2. Select a block
3. Scroll

## Expected behaviour
The block toolbar remains anchored to the block

## Actual behaviour
The block too

[2021-05-25 05:58] talldan commented on #32178
#32177 fixes the issue in the widget editor, but I think there should be a more universal fix made to BlockTools.

[2021-05-25 06:06] #32060 closed, assigned to talldan

[2021-05-25 06:07] Mamaduka commented on #29077
I was able to reproduce the issue.

I just had to switch to "Slow 3G" throttling. Also noticed that issue mostly affects cases when a new tag is created on the fly.

[2021-05-25 06:45] jasmussen commented on #32163
As an _additional_ affordance to identifying block types, I think this can make a lot of sense. I don't think we should add too many new colors, though... 3 seems like a maximum. I look forward to fine tuning those colors to perfection as well 👌

[2021-05-25 06:50] jasmussen commented on #32163
Oh and don't think I didn't see that rainbow emoji as a Figma label 🌈

[2021-05-25 06:58] mrsjaved opened #32179 "Can't update widgets in the new - Gutenberg Widgets Editor"
## Description
After enabling the new Gutenberg widgets editor.  The new widgets page is not updating any changes.

## Step-by-step reproduction instructions

Please list the steps needed to reproduce the bug. For example:
1. Go to Appearance -> Widgets
2. Add some widgets on any core one for example Search and Archive.
4. Click on the update button on the editor page.

## Expected behavior
It sho

[2021-05-25 06:59] vinnykaur opened #32180 "Collapse Menu isn't working when Widgets Editor is enabled."
## Description

The collapse menu on the left sidebar doesn't collapse the menu on the left when we are on the widgets editor.

## Step-by-step reproduction instructions

1. Go to WordPress.com > My Sites > Appearance  > Widgets
2. Try to toggle the Collapse menu at the bottom.

## Expected behaviour

- The menus on the left should be collapsed and only icons visible.

## Actual behaviour

It jump

[2021-05-25 07:11] #31165 closed, assigned to nobody

[2021-05-25 07:17] pavel-mailpoet opened #32181 "Invalid CSS in the block editor styles for .block-editor-block-variation-transforms"
## Description
The styles for the rule `.block-editor-block-variation-transforms .components-dropdown-menu__toggle:focus:not(:disabled)` are not valid css.
And when I try to include the CSS in our plugin, our compilation fails because the stylesheet is not valid. See the error.

![Screen Shot on 2021-05-25 at 09-12-20](https://user-images.githubusercontent.com/29194603/119455108-907f9d00-bd39-11eb

[2021-05-25 07:38] them-es commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-25 07:41] youknowriad commented on #31322
Theme.json infrastructure is now fully backported.

[2021-05-25 07:43] fai-sal commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-25 08:02] oandregal commented on #25151
This has been fixed by landing https://github.com/WordPress/gutenberg/pull/31524

[2021-05-25 08:02] #25151 closed

[2021-05-25 08:43] youknowriad commented on #31322
And the widgets editor is in :)

[2021-05-25 09:37] dennisheiden opened #32184 "Add missing wp-block classes to all Gutenberg blocks"
## What problem does this address?
Gutenberg blocks are parsed with classes likes this:
`<div class="wp-block-columns">...</div>`

Those classes are a good starting point to provide CSS style through themes etc.

Some blocks don't get those classes like the list block:
`<ul><li>...</li></ul>` (same for OLs etc.)

**_This makes it harder to style those blocks without accidently overwriting other st

[2021-05-25 09:57] jackiepro opened #32185 "Gutenberg 10.62 background bug"
![20210525175551](https://user-images.githubusercontent.com/77946791/119478687-9483dd00-bd82-11eb-972b-ed6fdbd72ac2.jpg)
![20210525175617](https://user-images.githubusercontent.com/77946791/119478690-95b50a00-bd82-11eb-8874-ea93154b8857.png)

After upgrading to the latest version, Mobile and tablet modes will have a gray overlay background.

[2021-05-25 10:06] torounit commented on #32148
`inputFieldHasUncollapsedSelection` returns true for [type="text"] and false for [type="email"].

The function returns true for [type="text"] and false for [type="email"]. If the function returns true, the value can be copied successfully.

[2021-05-25 10:48] pvogel2 commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-25 10:50] oandregal commented on #31660
Thanks for sharing, Carolina, I'm looking into this one.

[2021-05-25 11:46] oandregal commented on #31660
Got a fix at https://github.com/WordPress/gutenberg/pull/32190

[2021-05-25 11:49] mrsjaved opened #32191 "Move to widget icon appears twice - New Gutenberg Widgets Editor"
## Description
While testing the widgets we noticed the move to widget icon in the quick toolbar appears twice.

## Step-by-step reproduction instructions

1. Go to Appearance -> Widgets (make sure the new widget editor is enabled)
2. Add any widget
3. Click on the widget and you will see two icons in the quick toolbar.

## Expected behavior
There should be one icon or it should be clearly labeled

[2021-05-25 11:59] mrsjaved opened #32192 "Widget information does not add correct apostrophe in sites (encoding issue) - new Gutenberg widgets editor"
## Description
In the widget's block settings, the widget info does not encode properly. It says "site&#8217;s" instead of
"site's"

## Step-by-step reproduction instructions

Please list the steps needed to reproduce the bug. For example:
1. Go to Appearance -> Widgets (make sure the new widget editor is enabled)
2. Add any widget. In this example, I tested with the recent posts widget and archiv

[2021-05-25 12:03] mrsjaved opened #32193 "Alignment options for calendar widgets throwing error - Gutenberg widgets editor"
## Description
When I click on the alignment option for the calendar widget it does change the alignment but throws the following error in the content.

"Error loading block: Invalid parameter(s): attributes"
## Step-by-step reproduction instructions

1. Go to Go to Appearance -> Widgets (make sure the new widget editor is enabled)
2. Add calendar widget
3. Click on the alignment option from the q

[2021-05-25 12:07] mrsjaved opened #32194 "Inactive widgets are invisible - Gutenberg widgets editor"
## Description
I can't widgets in the inactive widgets area. Those widgets are there but invisible.

## Step-by-step reproduction instructions

1, Go to Appearance -> Widgets (make sure the new widget editor is enabled)
2. Scroll down to the inactive widgets area.
3. The widgets are invisible.

## Expected behavior
The widgets are there but invisible due to having the same color as the background

[2021-05-25 12:27] Addison-Stavlo commented on #31033
This looks like it will be a good flow, a few Qs:

* How should the "X" in the top of the modal behave?  Should it act as another way to trigger 'start blank', or what should be the end result if that is clicked?
* Should clicking outside the modal work to close the modal as well?  Or should we probably lock users into selecting some option on the modal whether thats the "X" or any of the insert o

[2021-05-25 13:06] Mamaduka commented on #32171
I think #32092 should also fix this issue.

I see a spinner in `trunk`, but when I switch to branch from the PR, Site Logo Block works as expected.

[2021-05-25 13:22] carolinan commented on #32194
Related: https://github.com/WordPress/gutenberg/issues/31935

[2021-05-25 13:59] jameskoster commented on #31033
I think the "X" is analogous to a cancel button. Clicking it basically exists the insertion flow altogether.

Locking probably makes sense, otherwise we have to answer the question of what happens when one clicks outside... do we insert the first pattern? Start blank? Cancel the process altogether? None of those jump out to me as predictable experiences.

It's intended. On larger screens we can ar

[2021-05-25 14:21] youknowriad commented on #31322
Template Mode has been merged too.

[2021-05-25 14:25] lumpysimon opened #32202 "Block menu is transparent and unclickable"
## Description

The block menu often goes transparent and becomes unclickable. This is happening to me when the content has been copied and pasted from Google Docs. I haven't seen it happen for other non-Google Docs content.

## Step-by-step reproduction instructions

1. Paste some content from Google Docs into the block editor
2. Edit it and at some point sometimes (I can't work out any cause or

[2021-05-25 14:36] tw-360vier opened #32203 "@wordpress/scripts: loading async chunks using import fails when they import styles and webpackChunkName is used (FixStyleWebpackPlugin?)"
## Description
When building my project with @wordpress/scripts i encounter the following problem:
loading async chunks using import() fails when they import styles and webpackChunkName is used to give the chunk a proper name.

## Step-by-step reproduction instructions
Here i have created a minimal project to reproduce the issue: <https://github.com/tw-360vier/wp-scripts-FixStyleWebpackPlugin-chun

[2021-05-25 14:50] kjellr opened #32206 "Navigation Block: Prevent background scrolling when mobile menu overlay is active"
When the navigation's responsive navigation is active and the overlay is visible, it's possible to scroll the background. To prevent users from getting disoriented on the page, we should prevent scrolling of the background when the navigation is open.

## Screenshot:

![scrolling](https://user-images.githubusercontent.com/1202812/119518684-c0816d00-bd46-11eb-9164-b681c0649fc4.gif)

Tested with Gut

[2021-05-25 14:50] richtabor commented on #31033
I agree. It seems having one pattern display at a time is not a great use of the space - but if that were user-defined (perhaps a - ----- + scale, like in the Photos Mac app), then the user could decide how big they want the patterns to display at. I think that'd be an interesting approach if the whole pattern library were viewable as a modal.

Honestly, I'm not sure if there's much added value us

[2021-05-25 14:51] richtabor commented on #28312
I really like this idea, exploring patterns in the pattern library is still clunky - its definitely worth exploring this more.

[2021-05-25 15:09] jameskoster commented on #31033
A zoom scale could certainly be a future enhancement of the carousel/grid view.

During testing, the primary issue we saw with the placeholder state was that it made the flow _too_ seamless. It wasn't obvious enough that you still needed to perform a subsequent action in order to fully insert the block. Clearly there are ways to address that, but they all essentially involve adding more seams to t

[2021-05-25 15:20] deborah86 opened #32208 "Make SEO Meta Data Easy"
## What problem does this address?

Having SEO meta data is an important part of SEO. I am frustrated because in order to just add simple meta data to a page or post, a plugin must be downloaded or code must be inserted. Usually the plugin adds extra features that create additional notifications and bloat on the website.

Google sees proper SEO titles and descriptions as important that is why page

[2021-05-25 15:26] walbo opened #32209 "Removing innerblock with backspace breaks the parent block"
## Description
Using backspace on a innerblock breaks the parent block on saved posts.

## Step-by-step reproduction instructions
1. Create a new post
2. Insert a block that has innblocks (ex. groups block)
3. Insert ex image block into the group
4. Save the post and reload the page
5. Select the image block and press backspace.

## Expected behaviour
Block should be removed without breaking the p

[2021-05-25 15:45] mchowning commented on #29483
Thanks for bringing this up @adamsilverstein. It is an issue we need to address for sure.

That is the preferred way to handle it. The only other options I see are to remove/rewrite those parts of Gutenberg or, if these parts of Gutenberg would only be needed when Gutenberg is used as part of WordPress, we might be able to create two Gutenberg releases: one would be a GPL-only Gutenberg-for-use-wi

[2021-05-25 15:57] critterverse opened #32210 "Display wide widgets as modals in Customizer"
Hi all, this is an alternate solution to the issue being explored in #31736. We originally tried to use the popover component to display wide widgets in the Customizer, but it's proving to be difficult to wrangle in terms of positioning, size, etc.

A modal solution might provide a more consistent user experience:

![Customizer_XLwidgets](https://user-images.githubusercontent.com/77359364/11952927

[2021-05-25 16:08] #32209 closed, assigned to nobody

[2021-05-25 16:19] jffng opened #32211 "Specify which blocks to populate a new template with"
This issue relates to the recently introduced template creation / editing feature.

When I go to create a new template, the template appears to auto-populates with the following blocks:

- Site title
- Site tagline
- Separator
- Post Title
- Post Content

Example screenshot with emptytheme:

<img width="1904" alt="Screen Shot 2021-05-25 at 12 06 37 PM" src="https://user-images.githubusercontent.co

[2021-05-25 17:12] paaljoachim commented on #26905
Adding in Justin's article from WPTavern: https://wptavern.com/proposal-to-create-an-expanded-view-or-overlay-for-the-block-patterns-inserter

[2021-05-25 17:22] hacknug commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-25 17:22] luis-movel commented on #32127
Hi, @Mamaduka! Thank you for the reply.

I've just enabled SCRIPT DEBUG and it displays errors like this when I click at the post author field:

![image](https://user-images.githubusercontent.com/26234832/119540583-f6811a00-bd63-11eb-9518-cc7129e3776e.png)

It repeats for some different users.

Might it be related to the issue?

Thanks!

[2021-05-25 17:34] wdslatter commented on #11976
Has this been resolved? From what I can tell it persists in 5.7.2

[2021-05-25 17:44] simison commented on #29952
Checked in Gutenberg 10.5 and TwentyTwentyOne, still happens:

<img width="692" alt="image" src="https://user-images.githubusercontent.com/87168/119540593-437de400-bd96-11eb-8b01-f89e4a0b5051.png">

Blank Canvas:

<img width="694" alt="Screenshot 2021-05-25 at 20 43 49" src="https://user-images.githubusercontent.com/87168/119544029-0156a180-bd9a-11eb-97c4-71bf8d667062.png">

I think this can also

[2021-05-25 17:55] annezazu commented on #27851
As part of the [sixth call for testing for the FSE Outreach Program](https://make.wordpress.org/test/2021/05/12/fse-program-testing-call-6-stick-the-landing-pages/#comment-1617), some feedback came in from @bobbingwide that I wanted to pass along here as designs are explored going forward. Keep in mind that this is referring to the Template Editing Mode experience and not the Site Editor but the s

[2021-05-25 18:08] mattyrob opened #32215 "is_block_editor() returns inconsistent result in core versus in plugin"
## What problem does this address?
At the moment the logic required in plugins or themes for hooking block code for the new Widget Screen and Widget Customizer needs to be extended beyond simply checking if `is_block_editor()` evaluates to `true` because on those screens it  currently returns `false`.

## What is your proposed solution?
`$current_screen->is_block_editor()` should evaluate to `true

[2021-05-25 18:25] paaljoachim opened #32217 "Reusable block: Add "Convert to regular blocks" in the ellipsis drop down."
## What problem does this address?

In WordPress 5.6.2. We see text clearly in the toolbar how to convert a Reusable block back to a regular block.

<img width="668" alt="Screen Shot 2021-05-25 at 20 01 04" src="https://user-images.githubusercontent.com/5323259/119546209-f6990e00-bd93-11eb-873c-c0feec5da869.png">

In WordPress 5.7.2 we see the following toolbar for Reusable blocks. The icon does n

[2021-05-25 18:33] paaljoachim commented on #29178
I went ahead and recreated this issue:
(To make it easier to figure out one of two methods in how to convert a Reusable block back to regular blocks.)

Reusable block: Add "Convert to regular blocks" in the ellipsis drop down.
https://github.com/WordPress/gutenberg/issues/32217

[2021-05-25 18:36] justintadlock commented on #32211
There should probably be a hierarchy:

1. Let themes define a blank/starter template.
2. If no theme-defined template, fall back to single/page/singular template.
3. If no single* templates, fall back to index template.

[2021-05-25 18:56] NewYorkerLaura commented on #32217
All I have to add it to **STRONGLY** concur with everything @paaljoachim said above. We went from something with an elegantly simply and effective UX in WordPress 5.6.2 to massive confusion in its current state.  I'm am constantly helping people figure reusable blocks out in a multitude of Facebook groups and Slack channels.

Speaking of the current iteration, It's also darned inconvenient to name

[2021-05-25 19:00] jffng commented on #32211
That hierarchy makes sense to me.

The UI could also be refined to make it clear what the source template is, or allow the user to select / change it.

[2021-05-25 19:06] Addison-Stavlo commented on #31747
I think the modal design makes more sense for this flow and that the design noted in https://github.com/WordPress/gutenberg/issues/31033 also seems like it would really work well for this case too.

From the options you noted, I feel like the ellipsis menu might be the most fitting place to trigger this action. Although, I don't hate the idea of the transforms menu either.  🤔   I definitely agree

[2021-05-25 19:29] critterverse opened #32221 "Paragraph block: overlapping popover menus for link / inline text color"
Hi all, this bug was spotted in #31958 while testing the Widgets Customizer editor but looks like this is happening in the post editor as well.

If you have highlighted text that includes a link and try to change the inline color settings from the Paragraph block toolbar, it's possible to open both popovers at once that overlap each other:

https://user-images.githubusercontent.com/77359364/119548

[2021-05-25 19:42] critterverse commented on #31958
Thanks so much for going through all of these notes @kevin940726, and sorry there were a few false alarms! 🙈

Double checked all, and everything not mentioned below is working as intended 😁

**Overlapping pop-up menus:**
Confirming that this does happen in the post editor as well and opened a new issue, #32221

**Group block "add" button:**
I am still seeing this overlapping issue — here's a quick

[2021-05-25 20:06] critterverse opened #32222 "Widgets and Customizer Widgets: tweaks to ellipses menu"
Hi all, just recapturing a couple of notes left on merged PRs #31926 and #31970

We're missing the "Preferences" subtitle (same style as "View" and "Tools") before the last option so that each of the three sections has a header:

<img width="1074" alt="ellipses-menu" src="https://user-images.githubusercontent.com/77359364/119560305-c6d90e80-bd71-11eb-80b2-f1e75b00fe6c.png">

[2021-05-25 20:07] critterverse opened #32223 "Customizer Widgets screen: tweaks to Welcome Guide"
Hi all, just recapturing a couple of notes left on merged PR #31968

--

It looks like the GIF is squeezed horizontally in the default layout (when you resize to a narrow viewport window, the ratio of the image there is correct):

![118825164-73a22000-b888-11eb-8fed-494f245ec77e](https://user-images.githubusercontent.com/77359364/119560579-1a4b5c80-bd72-11eb-9b55-22398a6faa88.jpeg)

~On the narrow