[2019-10-23 13:19] #14852 closed

[2019-10-23 13:28] myleshyson opened #18080 "Add prop to richtext to remap newline to a different keycode"
**Is your feature request related to a problem? Please describe.**
We created a a custom table block using the RichText component in the cells that allows our users to navigate the table like excel, (tab/shift+tab to navigate columns, enter/shift+enter to navigate rows.). I have some custom code that filters out line breaks on shift enter, but we would like to allow users to create a new line if t

[2019-10-23 13:30] getsource opened #18081 "Allow all 5xx HTTP Errors to Resume Upload Post-Processing"
Following #17474, during a conversation with the hosting community team, it [was noted](https://core.trac.wordpress.org/ticket/48379#comment:4) that some platforms use HTTP error codes other than 500 or 502, which were whitelisted.

cPanel, for example, uses an HTTP error of 508 to describe running out of resources.

For this reason, core/the media library [was updated](https://core.trac.wordpress

[2019-10-23 13:32] bobbingwide commented on #18079
### Workaround

Move the More block back to where it should have been.

For the screenshot see https://seriouslybonkers.com/bigram/shallow-bugs/

[2019-10-23 13:38] nerrad commented on #17249
Are there any conversations etc you can link to that document what Airbnb found extremely inferior?  Having some context around this assertion might highlight some things we aren't aware of.

[2019-10-23 13:46] getdave commented on #14744
This was discussed in Core Editor chat in Slack https://wordpress.slack.com/archives/C02QB2JS7/p1571837618043400 (requires signup).

We agreed that we should incrementally improve Group and retain Cover for the foreseeable future.

Therefore adding this feature is valid.

[2019-10-23 13:59] n0ct commented on #9220
Same issue here.

[2019-10-23 14:07] erikjoling commented on #12680
I can confirm this works (Gutenberg v6.6). Thanks for sharing @raphaelportmann

[2019-10-23 14:12] GlennMartin1 commented on #12048
Is it correct that https://core.trac.wordpress.org/ticket/39953 addresses this issue?

[2019-10-23 14:18] bharath commented on #14744
That's good news @getdave . Thank you.

[2019-10-23 15:54] sailormary13 commented on #17262
I'm also running into this issue. I have a custom block that is very similar to the core group block-- many other types of blocks can be inserted into it.

I created a template for my posts that contains my custom block. I used template_lock = 'all' on this template because I don't want the authors to add or move or do anything but use the template.

Unfortunately, using template_lock = 'all' not

[2019-10-23 15:56] LuckyTime154 commented on #13624
Also for me, just one of several issues with Gutenberg. Another (most likely related) issue is that there are no internal link suggestions when I try to make a link.

[2019-10-23 16:15] youknowriad commented on #12577
I can't seem to reproduce these days. I think it's probably fixed. Let me know the exact steps if you can reproduce. Thanks.

[2019-10-23 16:22] youknowriad commented on #12683
This seems fixed by #9963

[2019-10-23 16:22] #12683 closed

[2019-10-23 16:24] youknowriad commented on #17355
@gziolo Is this still the case, I think you worked on related things lately?

[2019-10-23 16:35] azaozz opened #18082 "Fix automatic handling of failures during image upload"
Follow up from https://github.com/WordPress/gutenberg/issues/17474.

After testing this in WP 5.3 beta and RC it became apparent that some servers may be configured to set different error codes on PHP fatal errors, for example 508 or 504. To catch all of them it would be best to look at all HTTP `5xx` errors while post-processing images in https://github.com/WordPress/gutenberg/pull/17858.

This i

[2019-10-23 16:37] azaozz commented on #18082
The only change needed would be from
`( response.status === 500 || response.status === 502 )`
to
`( response.status >= 500 && response.status < 600 )`

[2019-10-23 16:41] youknowriad commented on #18082
Duplicate of #18081

[2019-10-23 16:41] #18082 closed

[2019-10-23 16:43] azaozz commented on #18082
Ah, sorry, didn't see https://github.com/WordPress/gutenberg/issues/18081 was just created for the same thing :)

[2019-10-23 17:47] mcsf commented on #18018
cc @ItsJonQ, you may be interested in this.

[2019-10-23 18:29] designsimply commented on #9220
Autosaving is an important feature, so if at all possible we should try to solve (or identify) the root cause of the problem instead of adding an option to disable.

For these cases, it would be good to try to nail down any common factors from everyone experiencing the problem, such as:

- Browser and OS version
- WordPress version
- Hosting provider
- Screenshot of console errors from right after

[2019-10-23 18:35] designsimply commented on #13624
@LuckyTime154 link suggestions are being worked on at https://github.com/WordPress/gutenberg/issues/17557, consider following along there.

[2019-10-23 18:37] TheTracyL commented on #9220
I do love autosave and would rather have it work than turn it off.

- Browser and OS version: Firefox developer edition and Windows 10
- WordPress version: Always the newest stable release.
- Hosting provider: Dreamhost & WPEngine
- Console Errors: I will revise this post the next time this happens with a screenshot.

Thank you!

[2019-10-23 18:52] epiqueras commented on #17512
A full page template can just be a pattern that gets applied automatically. Even if we decide to name them differently in the UI, I think they should share the same implementation.

[2019-10-23 19:17] enejb commented on #17973
Just added one for FormToggle Component https://github.com/WordPress/gutenberg/pull/18085

[2019-10-23 19:34] retrofox opened #18086 "URLInput: pressing key down key produces an error"
**Describe the bug**
When the `<URLInput />` field is empty and press the key down key it produces the following error:
[code]

**To reproduce**
Steps to reproduce the behavior:
1. Go to create a new post/page/whatever
2. Add a text in a paragraph block.
3. Start to add a link to the text
4. Once the popover appears, press the down key

**Expected behavior**
Not triggering the error message

**Scr

[2019-10-23 19:36] ljharb commented on #17249
No, I'm afraid it was all internal discussions - but in particular, serverside rendering is a best practice for many reasons, and any testing solution that requires a DOM be present is utterly failing to test "how a component server renders". You can certainly `ReactDOM.renderToString`, then add jsdom, then render the HTML via jsdom, and then hydrate it, but then you're only testing "how your app

[2019-10-23 20:04] strarsis commented on #16271
There is a great WordPress plugin for a Gutenberg grids block:
https://wordpress.org/plugins/grids/
The only one I was able to find that allows customizable grids.

[2019-10-23 20:15] obenland commented on #18086
I was able to reproduce that in 5.3-RC2 as well.

[2019-10-23 20:25] strarsis commented on #16271
IMHO the grid in Gutenberg shouldn't necessarily reflect CSS or HTML grids or its concrete implementation. Even sub-grids, if not supported could be emulated using JavaScript.
So the user interacts with a high-level grid, regardless of implementation or CSS support.

[2019-10-23 20:33] adamsilverstein commented on #13624
@LuckyTime154 can you give some more details about your install: how many pages/posts do you have? Does the link suggestion work if you type a few letters from a post title? Finally, do you see any errors in your browser's debug console?

[2019-10-23 20:40] estebanwaseaten commented on #15593
I stumbled over this problem again. I get the "The content of your post doesn’t match the template assigned to your post type." warning, whenever I open an old post that does not have the right blocks according to the block template and I can click "Reset the template". Manually this works perfectly well.

I would like to do this automatically as soon as the post loads. Therefore I registered and

[2019-10-23 22:39] robincornett commented on #18053
I can confirm this is happening with PHP registered metaboxes using checkbox inputs in the sidebar (metaboxes registered to show below the post are not affected) as well. Inputs in the sidebar seem to be getting styling from `wp-includes/css/dist/edit-post/style.css?ver=5.3-RC2-46574` and below the post are getting styling from `/wp-admin/css/forms.css?ver=5.3-RC2-46574` ... the "unchecked" appear

[2019-10-23 23:22] jpbelo commented on #18072
Can someone give me help here? I’m not sure why travis failed...

[2019-10-23 23:32] diegohaz commented on #17249
What do you mean by "no-change refactors"?

I [demonstrated](https://github.com/WordPress/gutenberg/issues/17249#issuecomment-544337655) that integration testing with `react-testing-library` and `react-dom/test-utils` provides much more value and confidence than testing with Enzyme, specially when using `shallow`. Maybe I used Enzyme incorrectly, so I would appreciate any feedback on that.

That s

[2019-10-23 23:45] azaozz opened #18089 "Overlapping controls when setting the width of Inline images"
Initially reported on trac: https://core.trac.wordpress.org/ticket/48388 by @burnuser.

When clicking on an inline image the button overlaps the input field for setting the width value. Seems caused by changing  `.components-base-control__label` from `block` to `inline-block` in https://github.com/WordPress/gutenberg/commit/f9a342acecb25032a3ea8dd85b83c3f04c11bada.

Please see the trac ticket for

[2019-10-24 00:12] AlchemyUnited commented on #10145
@designsimply - I believe the issue here is, when you highlight text (e.g., in a paragraph block) and click the link icon in the toolbar, the search / suggest box does not - afaict - allow someone to enter mailto:.

Perhaps I missed something but I had to switch the block to Edit as HTML. Then add the mailto:. Then swtich back to Edit Visually. Needless to say, that's a friction-y UX.

[2019-10-24 02:16] maddisondesigns commented on #12577
@youknowriad Can you please reopen this as it's still an issue.

Here's another vid I just created: https://cl.ly/5318c5aa8869

**Steps:**
1. Insert HTML block
2. Add html into block
3. Click Preview
4. Click outside of the block
5. When you click back on the block you no longer get the block toolbar

[2019-10-24 03:25] talldan commented on #18063
@iruzevic I haven't been able to reproduce this issue, but it might be because I'm using a newer version of Gutenberg. Are you using the Gutenberg plugin, or the version that comes with core?

[2019-10-24 06:06] LuckyTime154 commented on #13624
@adamsilverstein 500 pages, 100 posts, 150 custom post type pages.  Link suggestion does not work at all, also not after typing. I do see the loading circle, but no suggestions. I disabled all plugins.

I believe the JSON errors in the console are pointing to the issue
code: "invalid_json"
message: "The response is not a valid JSON response."
__proto__: Object

Once at /post.php?post=4572&action=e

[2019-10-24 06:32] DesignerThan95 commented on #16429
I have the same problem in this theme but also in my own theme. To get the colors the customizer sets, it is needed to update the color palette and I think, as soon as this happens, the pullquote with default styling gets somehow destroyed.

The twentynineteen Theme does update the colors while loading the editor, so after a reload it is destroyed. I in my theme do it when the customizer gets save

[2019-10-24 10:08] draganescu commented on #15422
@mapk should we also include the Media File and Attachment options that the image block's link control provides?

[2019-10-24 10:32] Headlab commented on #8286
@designsimply not only it was happening in 5.1, it's happening in 5.2.4.
add_theme_support( 'disable-custom-font-sizes' ); does absolutely nothing.

[2019-10-24 10:45] gziolo commented on #17355
I was working on different issues lately. This is still valid and it's blocking #14845 - use SCRIPT_DEBUG in end-to-end test environment.

[2019-10-24 10:45] gziolo commented on #14845
It's blocked by #17355 which should be worked on first.

[2019-10-24 10:46] gziolo commented on #17355
@talldan are you still working on it?

[2019-10-24 11:49] Soean commented on #10145
@AlchemyUnited Thanks for reporting this, can you open a new issue for it?

[2019-10-24 11:57] mtias commented on #16659
Let's add this functionality please, it doesn't make sense to force people to choose a block when there is only one block in the inserter.

[2019-10-24 12:09] mtias commented on #17539
Thanks for the discussion everyone. There are some good points being shared already, though I think we are conflating a few things. Choosing a menu item is the primary interaction of this block, and should be optimized for that (the label is subordinate); at the same time, the navigation block currently only supports a single block and should work as any other parent-child block set (no custom ins

[2019-10-24 12:46] AlchemyUnited commented on #10145
@Soean - I wish I had the time. I've opened issues on this project before and have gotten nothing but pushback, whining, and grief for the team's representatives. It's been too many shame-on-me at this point. I'm can't help those who don't want help. Thanks tho'. Have a nice day.

[2019-10-24 14:25] iruzevic commented on #18063
I'm not using a plugin. This is a version from core. WordPress version 5.2.4.

But I did some deeper research I now see that you have to have two core block enabled in the project for reusable blocks to work:

core/block; - This is used for reusable blocks
core/template; - This is used for my problem.

It would be great to have this in the documentation for the reusable blocks.

Tnx we can close t

[2019-10-24 14:49] #18063 closed

[2019-10-24 14:58] adamsilverstein commented on #13624
Hey @LuckyTime154 can you confirm your WordPress version and whether you are using the GB plugin?

The console errors are suspicious. This may be related to code in your theme - do you see these errors on page load, or only when trying to do a link search? I feel like the link suggestion issue may be worth a separate issue as this ticket is focused n parent page selection.

Regarding pages: if you

[2019-10-24 15:10] gziolo commented on #13778
@ellatrix can we add the item to make it consistent when pressing enter on empty line new Paragraph blocks is crated for all text blocks? It works for:
- Paragraph
- List
- Quote as of #17121

I experimented with Verse block in #16880 but it was far from production quality :)

[2019-10-24 17:01] ItsJonQ commented on #18018
@mcsf Thanks for the heads up!

@koke Awesome break down! And thank you for being so active with the discussions!

I would love to as well! As an experiment, maybe we can explore how we can refactor a single component, maybe `Panel`?, that can work well for web + native. With a balanced component API that's flexible and opinionated.

The tricky thing is, (for me), I don't know of all the ways we'd

[2019-10-24 17:19] ItsJonQ commented on #12260
@afercia Halloo! 👋

Those are some great points. `Tooltips` (and elements similar in nature, e.g. `Popovers`) are really tricky to get right.

Focusing just on the `Tooltip`, I took a look at the code, and it looks like there's some JS/React things we'll need to help with:

[code]

I'm happy to take a look to see what I can do 💪

Do you know of a good examples of this in the wild?
In any particula

[2019-10-24 17:58] #18012 closed

[2019-10-24 18:16] mnelson4 commented on #18047
This sounds like a cool new feature.

Having the server act as a middleman sounds like it will allow [Server Side Request Forgery ](https://www.acunetix.com/blog/articles/server-side-request-forgery-vulnerability/).

I created [a small plugin ](https://github.com/mnelson4/wp-rest-proxy) that does something similar: you send a request to one site's REST API, and it forwards the request onto another

[2019-10-24 18:25] #8803 closed

[2019-10-24 18:26] ellatrix commented on #8804
Fixed by #18032.

[2019-10-24 18:26] #8804 closed

[2019-10-24 19:36] timhibberd opened #18095 "Add background colour transparency to blocks that support background colour"
**Is your feature request related to a problem? Please describe.**
In modern design transparency background colour is used frequently (e.g. sub-blocks of text in a group block). On all blocks that provide a background colour the GUI control supports colour adjustment but not transparency adjustment. This forces the user to add custom CSS for a trivial action which is counter to the intention of GB

[2019-10-24 19:39] samhermes commented on #16482
It's frustrating to see this feature added without a proper way to disable it. For most of the WordPress projects I'm involved in, I need control over branding.

[2019-10-24 20:03] ItsJonQ commented on #12260
@mapk

Update! I think @ellatrix has a solution here:
https://github.com/WordPress/gutenberg/pull/17867#discussion_r333386340

(@ellatrix , please correct me if I'm wrong :D)

This update adds extra functionality to `Popover`, which adds the ability to add extra space via `anchorVerticalBuffer` / `anchorHorizontalBuffer`.

Once this has been merged, we can make sure it's available for `Tooltip`. W

[2019-10-24 20:40] rdswd commented on #17262
@sailormary13 I believe if you add templateLock="false" to your custom block, it will override the post template lock. So your top level will be locked but your custom block will not be. However, there is a bug that will show an error on save (with a workaround). Read this, it is exactly what you're trying to do. https://github.com/WordPress/gutenberg/issues/11681

[2019-10-24 20:50] mkaz commented on #18072
@gziolo I'm not quite sure how to deprecate, or if it is actually needed. Now that I talk it out, maybe it won't be an issue. The comment (also it was originally from @ItsJonQ , but I feel the same) is basically to not break anyone's code that might of previous done something like:
[code]
So inside of `date-time/index.js` we could include
import { DatePicker} from '../date-picker';
export { DatePi

[2019-10-24 21:30] ljharb commented on #17249
I mean a refactor that does not have any observable behavior change or bug fixes or new additions.

Certainly you should avoid passing a string to `.find` in enzyme; find by component reference, not by display name (which is indeed brittle, as you indicated). The issue there though is that you don't *need* to find anything "deep in the tree". In your example test for `Toolbar`, all you need to tes

[2019-10-24 22:26] ItsJonQ commented on #16652
@snnsnn Oof! That's a bummer.

@derweili That's a great suggestion! I create a PR to help resolve this :)

https://github.com/WordPress/gutenberg/pull/18097

[2019-10-24 22:28] jameslnewell commented on #17249
I've really enjoyed using `react-testing-library` in a small team of more junior developers because:

- smaller API/surface area means its easier to decide how to implement a test - there is often only one way to write a test which removes anxiety and indecision around making a decision and worrying about having to switch later
- it forces testing of the rendered output, the "public" interface of

[2019-10-25 00:05] jpbelo commented on #18072
@mkaz
I think you are correct on how external users import from @wordpress/components.

Regarding the import/export from date-picker, I think I covered that here:
https://github.com/WordPress/gutenberg/pull/18087/files#diff-52f4edceeb4c11275063e5868f3c66ff

[2019-10-25 01:28] eoinsav opened #18098 "Reusable Block: Embed block only shows URL on frontend"
**Describe the bug**
When some of the Embed blocks (YouTube, Vimeo, Twitter, and more) are turned into Reusable blocks, only the URL is displayed on the front end and not the embedded content. It does show as embedded in the edit screen, though.

This is the same as the following closed bug report: https://github.com/WordPress/gutenberg/issues/9937

That bug was fixed here: https://github.com/Word

[2019-10-25 05:33] gziolo commented on #8078
Let’s close this issue for the time being as we decided that promoting smaller utility methods to public APIs would introduce too much work to maintain them. At the same the benefits like decreased bundles size are way too small. Let’s reopen this issue later when there are new ways to optimize the setup we have or we find bigger libraries to extract, similar to what we did with react, lodash or m

[2019-10-25 05:33] #8078 closed

[2019-10-25 05:48] ddryo opened #18099 "Found a bug where styles were discarded in the list block In WordPress 5.3-RC2-46575."
**To reproduce**
Steps to reproduce the behavior:
1. Select a style for the list block
2. Use the Enter key to exit the list block
3. All settings such as styles will be discarded !

I Cheked WordPress 5.3-RC2-46575.

![list_bug](https://user-images.githubusercontent.com/31400297/67546123-741f1700-f736-11e9-9c1f-ff33bb1b7525.gif)

[2019-10-25 06:38] torounit commented on #18099
I also discovered the problem.
Additional CSS Class(es) becomes empty.

If an ordered list is used, "Reverse List Numbering" and "Start Value" are initialized.

[2019-10-25 06:44] torounit commented on #18099
![18099](https://user-images.githubusercontent.com/1908815/67549037-48a02a80-f73e-11e9-8c1d-29ff9bbeda70.gif)

[2019-10-25 08:15] LuckyTime154 commented on #13624
@adamsilverstein I tested this with all plugins deactivated and theme 2019 on my staging site. Errors are on page load. Parent page selector does not appear eventually.

I guess it's something in my code that lingers after I deactivate plugins and switch themes. It's not a big issue for me, I can use the classic editor without problems.

Just thought I'd let you guys know that it is an issue for s

[2019-10-25 09:59] estebanwaseaten opened #18103 "Hitting Enter in 'core/paragraph'-template with template_lock on deletes content"
**Describe the bug**
I have a post type with a block-template set to a single 'core/paragraph'-block and template_lock='all'.

When I edit a post and write a few words in the paragraph, then put the cursor in the middle of the written text and hit "enter", the content past the cursor disappears. In this case it would be great if "enter" would always insert a `<br>` instead of trying to create a ne

[2019-10-25 10:12] mtias opened #18104 "Navigation Menu should not show an appender on single root items"
Top level items shouldn't show an appender for creating sub-menus on selection.

![image](https://user-images.githubusercontent.com/548849/67563085-46c76e80-f720-11e9-9bb9-a36f7075090a.png)

Instead, to create a sub-menu there should be a toolbar item:

![62833108-709ce900-bc39-11e9-9b81-eb49dc358f20](https://user-images.githubusercontent.com/548849/67563129-63fc3d00-f720-11e9-82fe-96cd28cf88ed.pn

[2019-10-25 11:15] jasmussen commented on #18053
I created a fix in https://github.com/WordPress/gutenberg/pull/18108. It's not a pretty fix, but barring a last minute change to every checkbox and radio button in WordPress outside of the block editor, this is likely the best fix.

[2019-10-25 12:14] #17089 closed

[2019-10-25 13:08] mtias commented on #16482
This is an experimental feature that only works in the plugin so far and is unfinished. It will definitely have more controls and integrations (including `add_theme_support`).

[2019-10-25 13:14] chrisvanpatten commented on #14890
I am definitely encountering this problem but it seems to depend a lot on the exact placement of the text input, and also (seemingly) only impacts the block if you are subscribing to a store which would cause re-renders (effectively resetting the popover's state).

The fix of adding a className does work, but absolutely feels like a hack, especially since you subsequently need to unset those style

[2019-10-25 15:23] melchoyce opened #18113 "Add Font Picker component"
We provide a way for themes to declare color schemes, which goes a long way for allowing theme-curated customization of sites. I wish we had the same feature for fonts, where a theme could declare font files to enqueue. Then, themes could choose which blocks to add a font picker to.

I imagine you'd first have to enqueue the font, then the different variations/weights/styles in JSON.

We wouldn't

[2019-10-25 16:01] #18053 closed

[2019-10-25 16:06] sdixon194 opened #18115 "Social Links Block Underlining on Certain Themes"
On themes that use border-bottoms instead of regular text underlining for links, the Social Links block looks like this:

![Screen Shot 2019-10-25 at 11 56 52](https://user-images.githubusercontent.com/33553323/67586341-6742f900-f71f-11e9-9f24-003d4126e1b1.png)

Can we make global styles for `a `links not affect this button so the buttons don't have the weird underlining?

**Additional context**

[2019-10-25 16:33] korynorthrop commented on #7342
I'm curious if @elliotcondon's approach above https://github.com/WordPress/gutenberg/issues/7342#issuecomment-435724307 is still the best method to getting dynamic blocks' default values serialized into the HTML comments for the Post. I find myself in a situation where I need these default values available in the HTML comments.

[2019-10-25 16:44] sdixon194 commented on #18115
user asked if we could update them if this gets a fix in 2447675-zen

[2019-10-25 17:13] enriquesanchez commented on #17874
Here's another screen grab from Notion. While this is one of their help articles and not a welcome guide, I think they're making great use of images while keeping text to a minimum:

![screencapture-notion-so-Start-here-6c279d3e7e92400d93672bbdd7da1f8a-2019-10-18-12_12_27](https://user-images.githubusercontent.com/3276087/67590500-d5d48680-f720-11e9-8df6-33a430bea0e8.png)

[2019-10-25 19:58] dmark commented on #9474
I was getting the same error in a personal project and this resolved the issue for me. Remove the `node_modules/` directory and remove `package-lock.json`.

[2019-10-25 19:58] theMikeD commented on #16935
@bridgetwes Thats another good use case

[2019-10-25 21:14] adamsilverstein commented on #13624
Thanks for taking the time to do the testing and provide details @LuckyTime154 - it does feel like you have some other issues going on that might be causing this.

[2019-10-25 21:23] noahtallen commented on #17724
Hm it seems like it wouldn't affect my use case, right? I likely won't need to be debugging core WordPress, but I would be debugging Gutenberg and other plugins/themes.

[2019-10-25 21:30] epiqueras commented on #17724
Yeah, you probably won't use the flag. And even without it, you can always tweak the local clone of `wordpress/wordpress` and then patch `wordpress/wordpress-develop` manually.

[2019-10-25 23:58] strarsis commented on #16479
When a background image is set as background, it would be nice if also the dominant image color is automatically set as background image. Then the element already got a good color while the image still loads and when images are disabled.

[2019-10-26 05:42] gziolo commented on #14628
I’m sharing a related article about cross-platform SVG icons:
http://nicolasgallagher.com/making-svg-icon-libraries-for-react-apps/

[2019-10-26 08:30] arnvanhoutte opened #18119 "How to turn a block into HTML?"
I am using the [Block Editor](https://github.com/WordPress/gutenberg/tree/master/packages/block-editor) in my component. This block editor returns a list of blocks in their raw JSON format. Is there an API available where I can turn this into HTML, and vice versa?

[2019-10-26 08:54] #18119 closed

[2019-10-26 08:55] arnvanhoutte commented on #18119
Of course, minutes after posting this comment I found out how to do this.

I use `import { serialize, parse } from '@wordpress/blocks';` and it works well

[2019-10-26 14:28] arnvanhoutte opened #18120 "Combining EditorHistory with standalone BlockEditor"
Is it possible to combine [EditorHistory](https://github.com/WordPress/gutenberg/tree/4e9d9b3d36841c264bce35d4bf1ba3d9ff75f659/packages/editor/src/components/editor-history) with the standalone [BlockEditor](https://github.com/WordPress/gutenberg/tree/master/packages/block-editor)? This seems to be included in the default editor but they would be a welcome extra in the standalone editor.

[2019-10-26 15:34] GwynethLlewelyn commented on #17040
Seems to be a pity that we'll have to wait so long for such an important change... the beta version is still at 5.2.5, one has to run the bleeding edge version to get 5.4 (what happened to 5.3???) and cross fingers that everything else still works...

Anyway, thanks for implementing this for 2020...

[2019-10-26 17:12] gracie commented on #17091
We're working on getting specific ideas for [this issue here.](https://github.com/godaddy/coblocks/issues/817).

I'm excited about the initiative. In looking at the UI mock-up, I'm concerned the text will be ignore-able. It's small, largely black and white, and I didn't catch the lightbulb at the bottom until I looked for it.

I'm sorry for the critique without an alternative. Do you have ideas fo

[2019-10-26 21:15] noahtallen commented on #17724
I put up a PR which could add support for a .wpenv file as we discussed: https://github.com/WordPress/gutenberg/pull/18121. Open to feedback!

[2019-10-26 21:45] jcklpe commented on #17959
This issue was not handled very well @swissspidy   It's pretty clear from OP's post that they aren't trying to promote a plugin but that they are suggesting an improvement to WP core and simply don't know how to best go about contributing that change. Considering the size of the WP codebase I think that's probably pretty reasonable confusion to have.

[2019-10-26 22:31] jcklpe opened #18122 "Has the Gutenberberg wp-image-block been changed to have a wrapper div, and if so why?"
Context: I’m developing a website using React and WordPress as a headless CMS using the REST API.

I’m currently piping content data from my old blog: https://jackalope.tech/blog

I am noticing some inconsistencies between posts. Some of these posts were written wright after Gutenberg came out and some were written much later.

On earlier posts I see <figure class="wp-image-block"> but on newer po

[2019-10-27 12:07] GeckoLisa commented on #8009
Picking this up as my first ever open source issue. 🤞

[2019-10-27 15:18] swissspidy commented on #17959
My apologies for not interpreting the intent correctly. I clearly should have worded this better and added some more context / explanation.

I do think that we've got quite a few issues about media handling already as there are known fundamental problems. See #6177 and #11822 for example. They (and the issues they reference) cover these aspects of media handling / image sizes in WordPress and Gute

[2019-10-27 19:07] CreativeDive opened #18124 "Button Block with gradient: Border style issue"
Hey,

if I use the new gradient styles for the button block, so I get a small design issue in case of the button have a default border by the theme, like:

`.button { border-style: solid; border-width: 2px }`

<img width="924" alt="Bildschirmfoto 2019-10-27 um 20 05 07" src="https://user-images.githubusercontent.com/31563167/67639840-1a188000-f8f5-11e9-98e1-757b1e23a8e2.png">

<img width="324" alt

[2019-10-27 20:44] WayneAnderson commented on #13690
Would it be possible to accelerate the feature with an interim deployment of a part which simply deploys/displays an existing menu sourced from the WP menus functionality?

[2019-10-27 21:55] eduardoarandah commented on #17335
# A block and a layout should be DIFFERENT.

A layout should leverage the css framework it’s using.

Examples of layout:

- Column/row
- Grid
- A slider
- A container
- Tabs, accordions

A block May live inside a layout or not.

A pattern might be a layout + blocks ?

[2019-10-28 00:08] #18089 closed

[2019-10-28 00:23] #15805 closed

[2019-10-28 06:28] tobifjellner opened #18126 "Readme.txt is too big – move old changelog items to separate changelog.txt"
**Describe the bug**
Readme.txt for version 6.7.0 is 15 kbytes.
The readme parser may have problems handling files larger than 10 kbytes. Easiest fix is to migrate older items in the changelog to a separate changelog.txt.
A positive side-effect of this is that the number of readme strings in the translation project will be less.

[2019-10-28 06:48] gziolo commented on #8009
As commented in https://github.com/WordPress/gutenberg/pull/18123#issuecomment-546813694

@GeckoLisa - thanks for your help!

[2019-10-28 06:48] #8009 closed

[2019-10-28 07:13] gziolo opened #18127 "Components: Ensure that ExternalLink component doesn't show up visually hidden elements when rendered outside of WordPress"
**Describe the bug**
Discovered when testing the Storybook integration of the `ExternalLink` component. See the related comment https://github.com/WordPress/gutenberg/pull/18084#issuecomment-546817096:

**To reproduce**
Steps to reproduce the behavior:
1. Run Storybook: `npm run design-system:dev`.
2. Go to the `ExternalLink` section.

**Expected behavior**
`(open in a new tab)` text is only visib

[2019-10-28 07:58] gziolo commented on #18072
Yes, it's totally fine to have 3 components exposed. We can also put all of them in their own files if that helps. We don't have strict rules for exports from the `@wordpress/components` package, see some examples:

https://github.com/WordPress/gutenberg/blob/711f9ff1ee44208e3f18da441637db59e6891267/packages/components/src/index.js#L37
https://github.com/WordPress/gutenberg/blob/711f9ff1ee44208e3f

[2019-10-28 08:07] ellatrix commented on #17040
@GwynethLlewelyn WordPress 5.3 is coming 12 November, which includes this change. See https://wordpress.org/news/2019/10/wordpress-5-3-rc2/.

[2019-10-28 09:20] gziolo opened #18129 "Components: ColorPicker needs better styling when used outside of WordPress"
**Describe the bug**
Originally reported in https://github.com/WordPress/gutenberg/pull/18013#issuecomment-546818783:

**To reproduce**
Steps to reproduce the behavior:
1. Run Storybook: `npm run design-system:dev`.
2. Go to the `ColorPicker` section.
3. Use the arrow button to change the type of color format input and observe UI.

**Expected behavior**
Default styles should be more polished. /cc

[2019-10-28 09:45] CreativeDive commented on #15747
An other way to solve this issue:

[code]

[2019-10-28 09:53] youknowriad commented on #18127
Wes should do a global PR that replaces all usages of screen-reader-text className with VisuallyHidden component;

[2019-10-28 10:09] #18081 closed

[2019-10-28 10:30] getdave commented on #15972
@aduth When might be remove `__exeperimental`? Is there a process for this?

[2019-10-28 11:31] swissspidy commented on #18126
Where do you see that?

http://plugins.svn.wordpress.org/gutenberg/trunk/readme.txt only contains 1 changelog entry. So does http://plugins.svn.wordpress.org/gutenberg/tags/6.7.0/readme.txt.

[2019-10-28 12:37] kadamwhite commented on #12048
@GlennMartin1 that should take care of things from the API side; I believe a client side change would also be needed unless that’s already be tackled somewhere

[2019-10-28 14:02] mtias commented on #18018
I completely agree. Any current interface should be considered ephemeral from the perspective of _declaring the functionality_ of a block. The `InspectorControls` component is a good example because it purposely tried to avoid location references (as in: "Block Sidebar") under the assumption that whether the controls are displayed in a sidebar or somewhere else (a modal, the mobile bottom sheet, e

[2019-10-28 14:03] mikejolley opened #18134 "Block preview - SSR rendered block previews not vertically centered"
**Describe the bug**
During implementation of some previews for SSR blocks, I noticed that when the rendered block content is longer than the initial loading state, the vertical alignment (which appears calculated) is not re-calculated. This gives something like this:

![Screenshot 2019-10-28 at 13 58 57](https://user-images.githubusercontent.com/90977/67684441-1b948780-f98b-11e9-9217-21d364a603ba

[2019-10-28 14:11] getdave opened #18135 "Experimental Link UI - fix interface bugs and issues"
On testing, I've noticed a few things that might be improved:

- [x] On the first search, the loading spinner seems to be rendering partially outside of the popover. It's more noticeable when setting network speed to something slower in the dev tools.
- [x] The main input search input seems to have part of its bottom border cut-off when the list of suggestions appears #18292
- [x] The gradient at

[2019-10-28 14:28] nerrad commented on #18134
Assuming `BlockPreview` is used for this (I think it it is?), It appears that `triggerRecompute` would  cause the preview to re-render.  I wonder a couple things here:

Could we create a custom `<BlockPreviewProvider>` context exposing certain elements so that blocks in a preview can discover they are in a preview?  Feasibly you could have something like:

- `useIsPreview` which returns whether th

[2019-10-28 17:37] tobifjellner commented on #18126
I didn't actually read the readme. I just noted that its size is about 15 kb and know that some plugins have had issues with too big readme and it's been said that 10 kb should be regarded as the limit.
Anyway, if it still doesn't break things, then I guess it would not be high prio to "fix" this :)

[2019-10-28 17:48] swissspidy commented on #18126
It's indeed quite large even with only listing the most recent changelog.

I know some plugins remove the changelog entirely and just point to `changelog.txt` or the changelog on the GitHub release page.

We could do that here too. A quick test shows that it would reduce the size from almost 16KB to around 7KB.

[2019-10-28 18:24] azaozz opened #18143 "Improve code readability in latest-comments.php (and possibly other)"
Follow up from trac: https://core.trac.wordpress.org/ticket/48447#comment:5.

The code readability in `latest-comments.php` and probably other places can be better.

Generally having nested function calls with each param on its own line adds a lot of "vertical bloat" and "indentation bloat". These can be avoided by making the code a bit more "wordy" but the result is quite easier to read.

Also ea

[2019-10-28 19:21] mcsf commented on #18018
https://github.com/WordPress/gutenberg/pull/16384#issuecomment-545029533 bears similar stakes around the semantics—physicality debate.

[2019-10-28 19:23] enriquesanchez commented on #12260
I'm just seeing your lastest comment @ItsJonQ. Does that make my PR unnecessary then?

[2019-10-28 19:38] JJJ commented on #12260
GitHub. GitLab. macOS. Windows. Ubuntu.

Framework7. Bootstrap. Semantic UI.

See also: https://www.w3.org/TR/wai-aria-practices-1.1/#tooltip

----

----
@enriquesanchez Your PR is definitely an improvement, but the `5px` padding doesn't fully prevent the possibility of hovering over a tooltip.

[2019-10-28 19:39] ItsJonQ commented on #12260
@enriquesanchez Hai there!

https://github.com/WordPress/gutenberg/pull/18144

Just checked out your PR. It's related, but it doesn't make your PR unnecessary.

The awesome addition that in @ellatrix's [PR](https://github.com/WordPress/gutenberg/pull/17867) is to provide **the ability to add spacing** between the anchor and the popover box. But it doesn't look like it adds it by default.

The solu

[2019-10-28 20:23] bbertucc commented on #10057
+1

[2019-10-28 21:32] JJJ commented on #12260
That's exactly the problem, IMO. WCAG _is_ attempting to redefine what Tooltips are. They are easily lumped them together with Pop-ups and Pop-overs, but that's a mistake.

(Forks and spoons have a lot in common. We use them similarly, wash them at the same time, and they usually live in the same drawer. Their separate existences as utensils are solely based on addressing unique user needs – scoop

[2019-10-28 21:49] tpaksu commented on #10352
I don't want to re-open this issue, but if you could just list whatever is currently bound to WP Core, we could write some replacements when implementing the editor outside WP. For example, the gallery block and the image block is dependent on WP Media Gallery, thus we would fill those needs with other sources.

[2019-10-29 00:24] #16637 closed

[2019-10-29 04:20] nukaga opened #18151 "Sentences that are difficult to translate"
**Description**

Working on the translations for 5.3 we (Japanese polyglots) found some difficult passages to translate.

```content: Object(external_this_wp_i18n_["__"])('// A "block" is the abstract term used') + '\n' + Object(external_this_wp_i18n_["__"])('// to describe units of markup that,') + '\n' + Object(external_this_wp_i18n_["__"])('// when composed together, form the') + '\n' + Object(

[2019-10-29 04:42] talldan opened #18152 "Partially checked checkbox looks visually askew"
**Describe the bug**
Partially checked checkboxes need some styling tweaks.

**To reproduce**
Steps to reproduce the behavior:
1. Open the Block Manager
2. Uncheck an individual block
3. Observe that the checkbox for the category becomes partially checked but the horizontal line is off-center.

**Expected behavior**
The checkbox should appear correctly

**Screenshots**
![Screen Shot 2019-10-29 at

[2019-10-29 05:55] #18127 closed

[2019-10-29 06:33] gziolo commented on #15265
Are there more issues like that? If we were to offer this kind of functionality, we should come up with a general-purpose solution that would allow us to filter out all menu items and groups.

[2019-10-29 06:46] #16659 closed

[2019-10-29 06:59] youknowriad commented on #18126
@swissspidy I'd love more thoughts on the subject, but that seems reasonable to me, we would have to tweak the release tool a little bit for the change, but it should be minor.

[2019-10-29 07:41] juanRabaa commented on #12826
The `show_in_rest' => true` does the trick here. It seems like, for some reason, wordpress fetches the posts taxonomies via a REST request instead of rendering them with php. If `show_in_rest ` is set to `false`, the REST callback ignores that taxonomy

[2019-10-29 07:54] sourcediz commented on #18152
So while fixing this issue I ran across one more problem with the checkbox bar changing media queries to early (see related pics)
![Screen Shot 2019-10-29 at 5 39 19 pm](https://user-images.githubusercontent.com/21496039/67747078-b10b4680-fa73-11e9-8d41-1d3531971c97.png)
![Screen Shot 2019-10-29 at 5 38 24 pm](https://user-images.githubusercontent.com/21496039/67747080-b1a3dd00-fa73-11e9-9a25-fa6e

[2019-10-29 08:01] koke commented on #18018
@mtias I think that would be the ideal API, but is not clear to me how that would work in a CSS-in-JS solution yet

[2019-10-29 08:52] gziolo commented on #17249
I highlighted this issue as a topic for discussion in the WordPress weekly Core JS chat scheduled for later today at 14.00 UTC. See the full agenda at: https://docs.google.com/document/d/18cSUIb4pgrVMLRq87NlTzcGjHndrTW4ivYh2oIAVkUs/edit

[2019-10-29 12:39] JesserH opened #18161 "Individual Column(s) should be able to define allowed blocks"
**Is your feature request related to a problem? Please describe.**
Momently, an individual column can not define specific allowed blocks to be added. Furthermore, newly added columns from the slider in the columns settings also can not only allow certain blocks.

Use case - As a WordPress developer I want to be able to assign allowed blocks for individual columns in my custom block I am developing

[2019-10-29 12:56] CreativeDive opened #18163 "Custom gradient presets are not visible"
Hey,

I've added custom gradient presets by the theme (working with Gutenberg 6.8 RC1), but no preset gradients are visible in the block editor. Should that be possible now?

I've added this like:

[code]

[2019-10-29 13:21] retrofox commented on #17557
Just FYI: https://github.com/WordPress/gutenberg/pull/18062

[2019-10-29 13:23] mkaz opened #18166 "Base Control Component is missing a logical case for labels"
**Describe the bug**

The base control component at `packages/components/src/base-control` accepts an `id` and ` `hideLabelFromVision` properties.

The first case of an `id` being passed is complete, it should use a `label` tag and `htmlFor` property and then use the VisuallyHidden or shown label.

The missing case is when `id` is not passed and `hideLabelFromVision` is passed in the label will st

[2019-10-29 13:32] mkaz opened #18167 "Switch screen-reader-text to use VisuallyHidden"
**Describe the Issue**

This issue is to gather all the spots for changing spots using the `screen-reader-text` classname to using the VisuallyHidden component. Per comment in #18127

A good reference implementation is PR #18165 that converts within the components package the spots that use `screen-reader-text` to `VisuallyHidden` component.

**Why the switch?**

See #18022 which introduced the `V

[2019-10-29 13:40] youknowriad commented on #10114
I haven't tested in iOS but in Safari on MacOS, pasting markdown is working properly. Anyone able to test on iOS and close the issue if needed?

[2019-10-29 13:45] youknowriad commented on #7872
This is fixed by #12981

[2019-10-29 13:45] #7872 closed

[2019-10-29 13:48] youknowriad commented on #11221
This seems fixed for me, I can't reproduce anymore.

[2019-10-29 13:48] #11221 closed

[2019-10-29 13:52] youknowriad commented on #8892
I think this was fixed by a recent update to how nonces work cc @ellatrix

[2019-10-29 13:52] #8892 closed

[2019-10-29 14:03] youknowriad commented on #8564
We should just add an explicit border-box box sizing property. Ideally all components work properly without global resets.

[2019-10-29 14:05] youknowriad commented on #8376
I'm not able to reproduce this issue anymore.

[2019-10-29 14:05] #8376 closed

[2019-10-29 14:11] youknowriad commented on #11284
I'm not able to reproduce this issue. I used the same image name here. please reopen if you still experience the issue.

[2019-10-29 14:11] #11284 closed

[2019-10-29 14:13] youknowriad commented on #12204
I don't reproduce this anymore.

[2019-10-29 14:13] #12204 closed

[2019-10-29 14:13] NasKadir123 opened #18168 "button text color"
**Describe the bug**
Hi! I added my color palette by theme_support.
Everything is working, except button text color.
In backend it shows fine, but in frontend my text color is always white,
Because you have:
`.wp-block-button__link:active, .wp-block-button__link:focus, .wp-block-button__link:hover, .wp-block-button__link:visited {
color: inherit; }`
I can't understand why it crosses out my class s

[2019-10-29 14:20] youknowriad commented on #12290
I think that issue is fixed. I can access the movers properly in wide aligned images in TwentyNineteen.

[2019-10-29 14:20] #12290 closed

[2019-10-29 14:24] youknowriad commented on #9691
I can't reproduce this either. Let's close for now.

[2019-10-29 14:24] #9691 closed

[2019-10-29 14:29] youknowriad commented on #12274
I can't reproduce this anymore.

[2019-10-29 14:29] #12274 closed

[2019-10-29 14:37] youknowriad commented on #5784
This was a duplicate of #5868 and is now fixed.

[2019-10-29 14:48] youknowriad commented on #6897
This bug is related to our `react-autosize-textarea` npm dependency. We're using a very old version of that dependency, we should try updating it to see if it fixes the issue.

[2019-10-29 14:49] youknowriad commented on #18167
@mapk yes :)

[2019-10-29 14:53] ItsJonQ commented on #17249
My personal experience with Enzyme has been quite painful as well, especially as libraries and apps start becoming more complex. You really feel the pain with enzyme when context and/or any from of HOC is introduced. When you're there, you spend a lot of time mocking out stuff. Eventually, you reach a certain point where you've mocked out too much stuff, and you're barely testing anything (importa

[2019-10-29 15:03] draganescu opened #18169 "Navigation menu missing default items"
**Describe the bug**
Inserting a second menu in a page results in an empty block, even though there are top level pages available in the site.

**To reproduce**
Steps to reproduce the behavior:
1. Enable the navigation block experiment
2. Create a post
3. Create two sample pages and publish them. Make sure they do not have any parents.
4. Add a navigation menu block
5. You'll see the pages created

[2019-10-29 15:08] youknowriad commented on #17743
@aduth @nerrad @jorgefilipecosta @ellatrix @noisysocks @gziolo and others, if you worked on APIs that you think are worth considering stable, please consider opening a PR to propose it.

[2019-10-29 15:41] edisonake commented on #15265
I have been trying to figure out a solution for this same issue and was using the CSS approach to hide the block manager. Additionally though, I need to hide it based on user role for my project, so I think a general-purpose solution like you mentioned would be really great if menu items and groups could be hidden based on user role or post type.

[2019-10-29 16:24] youknowriad commented on #10301
I think this might have been fixed recently, right @jorgefilipecosta?

[2019-10-29 16:29] youknowriad commented on #11339
This seems like the correct behavior to me because in all these cases, the caret is not inside the RichText which means we don't really know where to apply the bold/italic/link format.

[2019-10-29 16:33] mkaz commented on #18167
I've added this as a Good First Issue and switched the list to checkboxes. If you would like to contribute feel free to take any items above as separate PRs, everything doesn't have to be done in a single PR if that makes it easier to develop and test.

[2019-10-29 16:52] youknowriad commented on #14069
I think this is fixed now after the refactorings to edits and dirty detection.

[2019-10-29 16:52] #14069 closed

[2019-10-29 16:55] youknowriad commented on #9072
this is invalid now as that button has been removed;

[2019-10-29 16:55] #9072 closed

[2019-10-29 16:56] #11030 closed

[2019-10-29 16:58] youknowriad commented on #9627
<img width="739" alt="Capture d’écran 2019-10-29 à 5 57 54 PM" src="https://user-images.githubusercontent.com/272444/67790198-a5208400-fa75-11e9-8f59-e69830541f0c.png">

This seems way better these days.

[2019-10-29 16:58] #9627 closed

[2019-10-29 17:08] youknowriad commented on #12942
We haven't seen any recent reports of this. So i'm going to close this, if you manage to reproduce it please consider opening a new issue with as many details as you can.

[2019-10-29 17:08] #12942 closed

[2019-10-29 17:09] benhuson opened #18171 "How to disable gradients?"
With the custom colour palettes it is possible to disable them by disabling custom colours:

`add_theme_support( 'disable-custom-colors' )`

...then defining an empty custom palette:

`add_theme_support( 'editor-color-palette', array() );`

Is there a similar way to disable/hide the gradients palette? eg.

`add_theme_support( 'editor-gradient-palette', array() );`

[2019-10-29 17:11] youknowriad commented on #14346
Could you share the code of your block?

[2019-10-29 17:15] youknowriad commented on #14065
I'm not able to reproduce this issue. Maybe it has been fixed already. It could be a theme issue too.

[2019-10-29 17:17] youknowriad commented on #14674
This is more a communication issue and I think we've been doing better at communicating how our CSS changes can affect plugin authors and third party blocks. We can always do better though.

[2019-10-29 17:17] #14674 closed

[2019-10-29 17:20] youknowriad commented on #18171
Thanks for the issue. Theme support for gradients is being worked on in #17774 and it will include the possibility to disable them

[2019-10-29 17:20] #18171 closed

[2019-10-29 17:20] youknowriad commented on #18163
Thanks for the issue. Theme support for gradients is being worked on in #17774

[2019-10-29 17:20] #18163 closed

[2019-10-29 18:38] afercia commented on #12260
Randomly quoting specifications that are work in progress doesn't greatly help in understanding the issue. As of October 2019 that specific ARIA Authoring Practices design pattern is marked as "work in progress" and points to the related GitHub issue https://github.com/w3c/aria-practices/issues/128 which shouldn't be considered in any way a recommendation.

At the beginning of this issue I recomme

[2019-10-29 18:53] scottaohara commented on #12260
It's worth remembering that WCAG is a normative specification.  ARIA Practices (APG) is a note, and is only informative.   APG is also in process of revising their WIP pattern to better adhere to WCAG 2.1.

[2019-10-29 19:22] kathrynwp commented on #805
Another request for an audio playlist from a WordPress.com user in 14595967-hc

[2019-10-29 19:55] LukaszJaro commented on #6023
Glad to hear 5.4 will include a solution to this, I was testing the latest WP nightly build new columns block, which now include column settings for column width:

https://github.com/WordPress/gutenberg/pull/15499

If you have a design style guide to follow this can cause issues, what would of been nice is if you can create your own style guideline for columns **without code**, example:

Column si

[2019-10-29 22:11] kkoppenhaver opened #18174 "Image overlapping the boundary of the image block as well as text underneath it"
**Describe the bug**
When I insert an image block between paragraph blocks and the image that is inside the image block is taller than it is wide, the image appears to overflow outside the bounds of the image block and overlaps the text underneath it. I am using the stock Gutenberg paragraph and image blocks.

**To reproduce**
1. Create a new post
2. Add an initial paragraph block
3. Add an image

[2019-10-30 00:52] talldan commented on #18152
Thanks for picking this up @sourcediz! I've assigned you 👍

[2019-10-30 02:06] galloppinggryphon commented on #13018
Any progress on this? ColorPaletteControl is a much more sophistocated component than ColorPalette, it would be nice to be able to use it.

A workaround is to reimplement the code behind it.

[code]
This works -- except, <BaseControl.VisualLabel> kept crashing with a React #131 error.

[2019-10-30 04:21] #17557 closed

[2019-10-30 06:52] nikoghosyanm commented on #17618
This functionality existed before and as I can see it was also an issue in the classic editor lately (fixed now) so it definitely needs to be fixed in Gutenberg too

[2019-10-30 08:42] bartczyz opened #18177 "Special characters in permalink not being properly converted"
**Describe the bug**
In Danish there are some extra letters - Ø Å and I've noticed that they are not being properly converted, so:

- "Ø" should be converted to "OE"
- "Å" should be converted to "AA"

Initially I thought that this might be an issue with Core, but after doing some tests the characters are converted properly when using Classic Editor:

![danish_special_characters_classic_editor](htt

[2019-10-30 08:52] getdave commented on #17249
@gziolo Did anything come out of this?

[2019-10-30 09:06] gziolo commented on #17743
Sure thing.
I'll resume my work started in https://github.com/WordPress/gutenberg/pull/17748 on `__unstableActive` introduced for `SVG` components next week.

In addition to that, I can explore what we can do about:
- `__experimentalBlockSettingsMenuFirstItem`
- `__experimentalBlockSettingsMenuPluginsExtension`
- `__experimentalInserterMenuExtension` - this one is brand new so we might want to let

[2019-10-30 09:48] ddryo commented on #18099
Thank you for fixing the bug!

I confirmed the fix in the RC3 version.

[2019-10-30 11:17] mtias opened #18179 "Show text placeholder when initializing a menu from scratch"
When inserting a menu from scratch we show a spinner:

![image](https://user-images.githubusercontent.com/548849/67853493-efa20f00-fb0e-11e9-9fb2-c6119809dc75.png)

It's not clear what is going on. We should say "Generating navigation menu from existing pages..." or similar.

[2019-10-30 11:33] mtias opened #18180 "Empty menu items in navigation block need to show a placeholder"
Currently empty menu items just sit there invisible:

![image](https://user-images.githubusercontent.com/548849/67854847-70faa100-fb11-11e9-8580-6b3cdfc12142.png)

It should instead show "Add menu item..." or similar.

[2019-10-30 11:54] afercia opened #18181 "Radio buttons broken layout within the meta boxes area"
**Describe the bug**
Also reported on Trac as it affects WordPress 5.3 RC 3, see https://core.trac.wordpress.org/ticket/48466

A very recent CSS change in Gutenberg that was merged yesterday in core breaks the radio buttons used by plugins within the editor meta boxes area. Specifically the newly added margin: -3px -4px; makes the radio buttons "blue dot" completely misplaced:

<img width="378" al

[2019-10-30 12:18] afercia commented on #18181
@youknowriad reminded me plugins and themes can add meta boxes into the default sidebar. See for example the "Astra" theme mentioned in the related issue #18053. Screenshot:

<img width="322" alt="Screenshot 2019-10-30 at 13 13 49" src="https://user-images.githubusercontent.com/1682452/67857602-82df4280-fb17-11e9-9087-f0c71442177c.png">

However, the new CSS should _not_ target the meta boxes area

[2019-10-30 12:43] mobby2561 opened #18184 "Translation references at translate.wordpress.org"
Is there a way to change the plugin references to a different source which is human readable?
Many of the strings are really hard to spot, so I hope that this could help a little bit.

I've seen different source for the Twenty Twenty theme which is pointing to it's GitHub, so maybe giving translators the wp/trung branch as an reference might be the solution.

Thank you in advance.

[2019-10-30 12:53] jasmussen commented on #18181
Changed the CSS to not target the meta boxes area below the post.

![Screenshot 2019-10-30 at 13 42 32](https://user-images.githubusercontent.com/1204802/67859649-6bef1f00-fb1c-11e9-9145-7ca44b25c5a4.png)

I noticed that radio buttons have regressed:

![Screenshot 2019-10-30 at 13 51 04](https://user-images.githubusercontent.com/1204802/67859700-89bc8400-fb1c-11e9-9c90-19e27c6f46c8.png)

I have no

[2019-10-30 13:23] Runemark7 opened #18186 "Block breadcrumbs overlapping toolbar WP 5.3 RC3"
**Describe the bug**
Im trying to change width on the image that is inside of a column as you see in the gif. The problem is that the columns breadcrum prevents me to click at the buttons in the toolbar.

NOTE: I can't press on any button in the toolbar (even the buttons that is outside of the breadcrumb)

How the blocks is structured:
Group
   -columns
       --column
          ---image <- trying

[2019-10-30 13:31] afercia commented on #18181
I'm not seeing changes to the the visibility radio buttons. Any special way to reproduce that? Browser?

`1 rem` still computes to 16 pixels. Are you sure the misalignment is not because of some other reasons e.g. a plugin that alters the CSS?

[2019-10-30 13:45] jasmussen commented on #18181
Excellent instinct. It's caused by Astra theme, it seems.

[2019-10-30 14:35] ezvr commented on #1686
@Swagatam1975 That is such a toxic and unproductive answer: "If YOu DOn'T LIke IT yoU CaN STOp uSINg It"

why even reply?

[2019-10-30 15:11] mtias opened #18190 "Navigation Block: Show block navigator in the sidebar as well."
Let's try showing the navigator in the sidebar as well. Right now the implementation uses a hook, so it could also be the one responsible to render it in `InspectorControls`.

![image (40)](https://user-images.githubusercontent.com/548849/67870853-c5147e00-fb2f-11e9-8dac-900c74bce575.png)

I wouldn't call it "Nested Blocks". Maybe "Navigation Structure".

[2019-10-30 15:46] mapk commented on #15096
@gziolo I believe so. It appears the List block doesn't include a dropdown for its options, but I think that's okay. Everything else is looking consistent.

(_wow, colors are off in my gifs. I've got to fix this._)
![Oct-30-2019 08-44-30](https://user-images.githubusercontent.com/617986/67874056-a1cade00-faf1-11e9-8af5-d1c809b5a189.gif)

I'm closing this issue. If I've missed anything, feel free t

[2019-10-30 15:46] #15096 closed

[2019-10-30 16:40] jsmoriss commented on #17400
I would like to include a list of possible solutions, and links to resources for those solutions (settings pages and FAQs, for example), in error / warning notices.

How can I do this if Gutenberg typecasts the content to a (non-html) string?

createNotice() used to handle createElement( RawHTML ) just fine before someone added that typecast, which seems completely pointless when reading the packa

[2019-10-30 16:49] SoftwaregeekNL opened #18192 "Template not found in version 6.8.0"
**Describe the bug**
When I updated Gutenberg to 6.8.0 the website brobe.
Use DIVI Theme.

**To reproduce**
Steps to reproduce the behavior:
1. Go to admin backoffice Wordpress version 5.2.4
2. Click on activate Gutenberg version 6.8.0.
3. Scroll down to website 'TEMPLATE NOT FOUND'
4.
**Expected behavior**
80.101.234.46 - - [30/Oct/2019:17:08:29 +0100] "GET /wp-content/uploads/2019/10/cropped-sof

[2019-10-30 18:15] jcklpe commented on #18122
Additional context added here: https://community.frontity.org/t/gutenberg-support/480/11

@swissspidy This was originally posted as a question, but above I've added some additional information from the community discussion board for the headless WP framework that I'm using and perhaps in light of some of the documentation there I think that I might want to reformat this issue as a feature request.

[2019-10-30 18:52] ChemicalSailor commented on #16478
+1

The table colour options need to be consistent with other blocks and respect `add_theme_support( 'disable-custom-colors' )`

Testing this on WP 5.3 RC3, these sort of consistency issues really should have been sorted out for a major release.

[2019-10-30 18:54] ChemicalSailor commented on #17801
Related: https://github.com/WordPress/gutenberg/issues/16478

[2019-10-30 19:44] desrosj opened #18193 "URLs without protocols are not detected when pasted"
This issue was originally reported against the Classic Editor in WordPress Trac (see [Trac-37805](https://core.trac.wordpress.org/ticket/37805)), but the behavior also exists in Gutenberg. Moving here for consideration. Note: I could have sworn that I have seen a similar issue here on GitHub, but couldn't find it.

Original report:

[2019-10-30 19:45] ChuckByram commented on #9474
I get this problem if my PackageA has a local path dependency on my PackageB (file:../PackageB), which has its own dependency list, and I don't do an `npm install` in PackageB prior to `npm install` in PackageA.

[code]
will give me this problem. If I `npm install` in PackageB before PackageA, then it's ok.

I solved this by using `yarn install`.

[2019-10-30 20:14] epiqueras commented on #17864
When saving an object property like meta. We merge in any changes to the current persisted object and send that.

In general, `PUT`ing an object edit like this should not depend on the previous state of the object.

The issue here is that the API is returning empty strings or false booleans for undefined meta keys and those are being sent back when saving, masking the difference between an actual

[2019-10-30 20:32] TimothyBJacobs commented on #17864
IIRC the last time @kadamwhite and I discussed default meta, we came to the conclusion that if you updated a resource with the default value, that it should save the default value.

It'd be a breaking API change to stop saving default metadata when it is posted back. But I can see how this would be frustrating in this use case. Something to discuss at an upcoming Rest API meeting for sure.

----

[2019-10-30 20:35] mikeyarce opened #18195 "Column Block: Movers for Full and Wide Images inside columns are not visible"
**Describe the bug**
When you add a Full or Wide image inside a Column Block, the movers are not visible:

<img width="816" alt="Screen Shot 2019-10-30 at 1 24 02 PM" src="https://user-images.githubusercontent.com/3220162/67895923-9808a100-fb18-11e9-8f35-86f853764aef.png">

**To reproduce**
Steps to reproduce the behaviour:
1. Create a new Column Block
2. Add an Image block inside a column
3. Set

[2019-10-30 20:36] epiqueras commented on #17864
I guess so.

But, then why doesn’t get_post_meta also return the default values?

On Wed, Oct 30, 2019 at 1:32 PM Timothy Jacobs <notifications@github.com>
wrote:

[2019-10-30 20:40] TimothyBJacobs commented on #17864
It does to the extent that it can. `get_post_meta` will return an empty string if the meta key does not exist.

Currently, you can't specify a specific default value for the underlying `get_metadata` APIs. We're looking to change that in 5.4 though. See [#43941](https://core.trac.wordpress.org/ticket/43941)

[2019-10-30 21:46] retrofox opened #18197 "Navigation Menu: SVG icon for ColorsSelectors"
It might be good to make the icon an SVG icon and replace the `Aa` text defined for the toolbar button of the colors-selector.

![image](https://user-images.githubusercontent.com/77539/67901288-3a3e7e00-fb45-11e9-96ed-6ed9d5776472.png)

Just FYI, the icon is just text for now:

[code]

[2019-10-30 22:51] epiqueras commented on #17864
I meant for the variant of `get_post_meta` that just takes a post ID and returns all keys.

[2019-10-30 23:59] TimothyBJacobs commented on #17864
If you are using a "multiple" meta key, then the REST API won't return default values either. This would change after 43941.

[2019-10-31 00:06] brentswisher opened #18199 "Components: Spinner is oddly floated to the right outside of WordPress"
**Describe the bug**
When accessing the Spinner component outside of WordPress, it is floated to the right in its container. Originally reported here: https://github.com/WordPress/gutenberg/pull/18145#pullrequestreview-308289448

**To reproduce**
Steps to reproduce the behavior:

Run Storybook: npm run design-system:dev.
Go to the Spinner section.
See that it is floated to the right

**Expected be

[2019-10-31 02:04] epiqueras commented on #17864
I see. What do you think the timeline for that change will be (43941)? I can hack this in the client for now if necessary.

[2019-10-31 02:46] talldan commented on #18169
Seems like this could be a similar issue to https://github.com/WordPress/gutenberg/pull/16717. From debugging it looks like `REPLACE_INNER_BLOCKS` updates the Navigation Menu's inner blocks first.

The `BlockEditorProvider` then triggers `RESET_BLOCKS` straight away, but the blocks it provides (sourced from `getEditorBlocks`) is missing those new inner blocks, which results in them being removed.

[2019-10-31 02:55] noisysocks commented on #18180
#18182 will fix this.

[2019-10-31 03:10] #18179 closed

[2019-10-31 03:25] P4ulJC commented on #8899
Took me a while to track down the issue causing Gutenberg to crash with `TypeError: "e.visibility is undefined"` but it turned out to be my Lighttpd rewrite rules for Wordpress.

The line causing the Gutenberg crash in my case was:
 `"^/(wp-.+).*/?" => "$0"`

I changed the above  to `"^/wp-admin/$" => "$0"` and Gutenberg no longer crashes.  So my virtual host  config now looks like:

[code]

[2019-10-31 04:31] talldan commented on #18169
Difficult issue to solve. The events that happen are as follows:
1. Nav menu Block is inserted. It's created initially without innerBlocks by the inserter.
2. The block-editor and core-data stores are updated with the inserted block.
3. The store updates trigger a re-render of the Editor and BlockEditor components.
4. The new block's edit component is rendered, the InnerBlocks component is passed

[2019-10-31 05:01] #18180 closed

[2019-10-31 05:11] noisysocks commented on #14701
I wasn't able to reproduce this in the latest Gutenberg plugin version. It may be that there's a plugin causing the extra markup to be inserted.

@chinmayrajyaguru: Could you try disabling all plugins and providing steps to reproduce this issue? Will then be happy to re-open the issue and investigate 😀

[2019-10-31 05:11] #14701 closed

[2019-10-31 05:17] noisysocks commented on #14825
This is a bug in Core (https://core.trac.wordpress.org/ticket/34560), so closing this issue out. Looks like the Trac ticket has some traction and may land in 5.4 🙂

[2019-10-31 05:17] #14825 closed

[2019-10-31 05:34] talldan commented on #15177
Hi @RobinRoelofsen. Thanks for reporting this. We discussed this issue during one of the core-editor triage meetings.

Out of interest, which theme were you using to reproduce the issue? It's likely the issue is very theme dependent.

When we tried to reproduce, we each got a myriad of issues depending on the theme.

In Twenty Nineteen we were seeing this:
*Editor*
<img width="634" alt="Screen Sho

[2019-10-31 05:39] noisysocks commented on #15542
This works when I try it in the latest Gutenberg.

![template](https://user-images.githubusercontent.com/612155/67921733-cf507e00-fbfc-11e9-8e5c-0bcad1c52385.gif)

I used this CPT to test:

[code]

Possibly was fixed by https://github.com/WordPress/gutenberg/pull/14367.

[2019-10-31 05:39] #15542 closed

[2019-10-31 05:40] santhoshoutright opened #18201 "'transition_post_status' hook not fired when post_status pending"
WordPress 'transition_post_status' action hook not fired when changed the post_status pending to publish on gutenberg, I tried the same in wordpress classic editor. It works fine and also "pending_to_publish" action hook not fired.

**To reproduce**
1. Go to dashboard create new post
2. Save as pending the created post
3. check the transition_post_status hook not fired when post status changed pen

[2019-10-31 05:51] noisysocks commented on #13862
Related: https://github.com/WordPress/gutenberg/issues/14687

Can confirm this is a bug:

1. Insert a Group block
2. Set an e.g. dark background colour on the Group block
3. Insert a Paragraph block into the Group block
4. Set an e.g. dark text colour on the Paragraph block
5. There's no contrast warning, even though the text is not readable

We probably need to make the colour contrast checker sm

[2019-10-31 05:59] ehti commented on #15824
I can reproduce this.

Single embed does scale (add an embed, open the post, zoom in. Then refresh).

If you add a second embed and do the same, it doesn't scale anymore.

[2019-10-31 07:26] jasmussen commented on #18181
I do agree it is unfortunate that themes can affect the UI as such. The lack of an iframe is causing this. Shadow DOM is an option, rewriting such rules using the built in editor style rewriter is another, but even then themes can enqueue styles globally so we can't fully prevent it.

There is some discussion in https://github.com/WordPress/gutenberg/issues/10178#issuecomment-539462094 on how to p

[2019-10-31 09:12] gziolo commented on #18199
You can see how it aligns currently here:
https://wordpress.github.io/gutenberg/design-system/components/?path=/story/spinner--default

[2019-10-31 09:22] #18104 closed

[2019-10-31 09:41] draganescu commented on #18076
We should not find a way to do it in IE, instead we could simply hide the color controls in IE.

[2019-10-31 10:30] getdave opened #18206 "Update `LinkControl` to handle multiple settings not only new tab"
Currently `LinkControl` hard codes "new tab" as the only setting. A simple change to iterate over the supplied `settings` array would allow these to be completely dynamic.

Also avoid hyphen case and use camelCase for setting keys. This will break `Nav Menu` so that will need fixing as well.

_Originally posted by @getdave in https://github.com/WordPress/gutenberg/pull/18062_

[2019-10-31 10:37] draganescu opened #18207 "Submenu items should be stacked vertically"
**Describe the bug**
When I insert submenu items in the navigation menu block, they all should be vertiacally stacked, now they're horizontal.

[2019-10-31 10:45] youknowriad commented on #10114
For me, if I copy the markdown from a regular input/textarea (like this comment box) and paste, it works great. So I think the issue might be on the source app?

[2019-10-31 11:03] mcsf opened #18208 "Navigation Block: Enter key shouldn't add line break in menu item"
**Describe the issue**
This is both a bug report and an enhancement request.

1. When the caret is inside a menu item, I had expected that pressing <kbd>Enter</kbd> would:
  * Add a new menu item in the same level as the item I was editing.
  * **or** at the very least add a subitem whose parent is the item I was editing.
2. In any case, defaulting to breaking the line feels like experiencing an u

[2019-10-31 11:10] phpbits opened #18209 ""No matching template found""
**Describe the bug**
After updating to latest Gutenberg plugin version the frontend is displaying "No matching template found"

**To reproduce**
Steps to reproduce the behavior:
1. Update the Gutenberg plugin
2. Go to any post

**Expected behavior**
Should display the post

**Screenshots**
<img width="1211" alt="Screen Shot 2019-10-31 at 7 08 39 PM" src="https://user-images.githubusercontent.com/3

[2019-10-31 11:16] aristath commented on #18209
In your plugin options there's checkboxes to enable/disable experiments.
I'm guessing you have enabled the templates experiment.
You can simply disable it, this experiment is under heavy development.
If you do want to test it, there's a new menu under Appearance on your dashboard where you can create templates. Templates should be named `index`, `page` etc. There's currently no blocks for `content

[2019-10-31 11:21] phpbits commented on #18209
@aristath I totally understand the there are `experiments` but those were checked before the plugin was updated and working fine. Are there reasons why there is no checker if there are templates or not to prevent this error? Thanks!

[2019-10-31 11:21] aristath commented on #18192
Make sure that the experiments are turned off in Gutenberg's plugin options.

[2019-10-31 11:23] aristath commented on #18209
More work is being done and released with each update of the plugin.
Previously there was not enough work done in this feature so it wasn't doing anything. Now that there's been more progress, it does.
It's not an error. It's an experiment. These should not be enabled on live sites

[2019-10-31 11:26] phpbits commented on #18209
@aristath I see. Thanks a lot!

[2019-10-31 12:02] gziolo commented on #11631
This triggers the error with the latest version of `axe-core`. See related comments:

https://github.com/WordPress/gutenberg/pull/18083#issuecomment-548336219

https://github.com/WordPress/gutenberg/pull/18205#issuecomment-548334642

[2019-10-31 12:11] gziolo opened #18211 "Font Size Picker: The selected preset doesn't change to Custom when picking a random value"
**Describe the bug**
Originally reported in https://github.com/WordPress/gutenberg/pull/18149:

**To reproduce**
Steps to reproduce the behavior:
1. Run Storybook: `npm run design-system:dev` or open https://wordpress.github.io/gutenberg/design-system/components/.
2. Go to the `FontSizePicker` section.
3. Pick the one named `Default`
4. Change the value of the picker to something which the select

[2019-10-31 12:14] gziolo opened #18212 "Font Size Picker: `disableCustomFontSizes` doesn't remove `Custom` option from the select box"
**Describe the bug**
Originally reported in #18149:

**To reproduce**
Steps to reproduce the behavior:
1. Run Storybook: `npm run design-system:dev` or open https://wordpress.github.io/gutenberg/design-system/components/.
2. Go to the `FontSizePicker` section.
3. Pick the one named `Without Custom Sizes`
4. Check the select box.

**Expected behavior**
There is no `Custom` option when `disableCusto

[2019-10-31 13:08] LuckyTime154 commented on #13624
@adamsilverstein I fixed it, the issue was mixed content. Found solution [here](https://wordpress.org/support/topic/mixed-content-http-https-failure/).

Deleting htaccess file and re-saving permalinks fixed it.

The link suggest dropdown box is a similar issue of mixed content, json/wp/v2/search is served over an http connection, but haven't figured out how to fix it yet.

[2019-10-31 13:40] afercia commented on #11631
Sometimes, some aXe rules are a bit opinionated or don't take into consideration legitimate use cases.

Reference:

**aria-hidden-focus**
https://dequeuniversity.com/rules/axe/3.3/aria-hidden-focus

When the Gutenberg modal dialog opens, it adds `aria-hidden="true"` to the body direct children (except the modal dialog itself and some special elements). This ensures all the rest of the page is not

[2019-10-31 13:53] markhowellsmead opened #18213 "Add theme support option to disable gradient picker"
In the same way that there is an option `add_theme_support('disable-custom-colors');`.

[2019-10-31 14:27] brentswisher commented on #18212
Thanks for filling these followups, this one was already reported in #17941 and has a fix in progress in PR #18049 so I'm going to close this one.

[2019-10-31 14:27] #18212 closed

[2019-10-31 15:21] laras126 commented on #9897
I'm experiencing the same problem when adding a block style to the core/cover block via `wp.blocks.registerBlockStyle`. I am able to apply the style successfully _before_ uploading an image, but when I open the "Change block style or type" panel after an image has been uploaded, the fatal error described above occurs.

[2019-10-31 15:24] stefanfisk commented on #8846
I just spent a good few hours chasing down how to do this as well. If there's no intention of adding the functionality it would at least be nice to add it to the documentation for `ServerSideRender`.

[2019-10-31 15:37] gziolo opened #18216 "Testing: Explore possible ways to integrate with React prerelease channels"
There was an announcement from the React team about official prerelease channels:

https://twitter.com/reactjs/status/1186721158210576385

https://reactjs.org/blog/2019/10/22/react-release-channels.html

At first glance, it seems like this is it mostly npm install'ing it and then poking around to make sure nothing explodes? Everything builds, all tests pass, etc.

According to the document, in our

[2019-10-31 15:50] gziolo commented on #17941
Copying over from #18212 which turned out to be a duplicate:

[2019-10-31 16:04] mikeyarce opened #18217 "Column Block: Toolbar positioning for wide and full images inconsistent"
**Describe the bug**
When adding Wide and Full-Width images inside the Column Block, the toolbar positioning is not consistent.

**To reproduce**
Steps to reproduce the behaviour:
1. Create a new Post
2. Add a Column Block with at least 2 columns
3. Add a Full Width image in one column
4. Add a Wide image in another column
5. The toolbar positioning seems off

**Expected behaviour**
The Toolbar sh

[2019-10-31 16:21] gziolo commented on #17249
Here is the summary of the meeting:
https://make.wordpress.org/core/2019/10/31/javascript-chat-summary-october-29nd-2019/

Related part:

Detailed discussion available on WordPress Slack (link requires registration):
https://wordpress.slack.com/archives/C5UNMSU4R/p1572359851227800

[2019-10-31 17:16] #18169 closed

[2019-10-31 17:21] Clarity-89 commented on #18211
@gziolo did you mean `withSlider` component since that's what corresponds to your screenshot? It seems like the slider isn't connected to input/select dropdown because it uses the `onChange` prop directly and not `onChangeValue` function.

I'm happy to submit a fix for it if that's ok.

[2019-10-31 17:29] gziolo commented on #18211
@Clarity-89 - feel free to work on it. I didn't investigate closer. It should be easier to integrate. If 2 Gutenberg team members didn't catch it, then it's very unlikely that it's going to be a smooth process for other folks.

[2019-10-31 17:43] #18190 closed

[2019-10-31 18:33] shaunandrews opened #18223 "Block Toolbars: Reposition block toolbars to ensure they render within the viewport"
<img width="616" alt="image" src="https://user-images.githubusercontent.com/191598/67975730-0b7ae300-fbeb-11e9-9efb-764d92ed083b.png">

Depending on the viewport width, the placement of the block, and the length of the toolbar — its not uncommon to see the toolbar renders outside the visible space on the screen. Right now this adds a horizontal scrollbar to the entire document.

Instead, I'd expec

[2019-10-31 18:38] NicktheGeek commented on #18050
Second to this. Currently the stylesheet is outputting even when gutenberg is disabled and it is breaking live sites that are on WP 5.3.

[2019-10-31 19:02] JuanVqz commented on #17588
Hi! I didn't see the mistake anymore.

If is ok, maybe you could close the issue.
Regards

![image](https://user-images.githubusercontent.com/7331511/67977870-87baf980-fbde-11e9-8c00-d08b8777a68e.png)

[2019-10-31 19:11] NicktheGeek commented on #18050
Follow up here as some folks may end up searching for a solution. In my case the styles shouldn't even be loaded because GB is not enabled on the sites this was breaking, so I just added `wp_dequeue_style( 'wp-block-library' );` to the wp_enqueue_scripts hook. I'm hoping to make that a temp change as I'd like to see GB support on these sites eventually, but this CSS needs to change.

[2019-10-31 19:14] #18207 closed

[2019-10-31 20:57] TimothyBJacobs commented on #17864
The goal is 5.4, I think were trying for 5.4-early to give it as much time to soak as possible.

[2019-10-31 22:50] federicojacobi commented on #18050
This works really nicely:
[code]
It is basically the reverse of https://github.com/WordPress/WordPress/blob/master/wp-includes/script-loader.php#L2831

[2019-10-31 22:54] TimothyBJacobs commented on #17864
I created a trac ticket with an alternate way to solve the problem: https://core.trac.wordpress.org/ticket/48478

[2019-10-31 23:00] swissspidy commented on #18184
Twenty Twenty is a bit special because development currently happens on GitHub and not on WordPress.org SVN.

The Gutenberg plugin is also special because the source files are here, but the WordPress.org translation platform only scans the final plugin that is uploaded to the plugin directory, which unfortunately means the references are not really human readable.

If you have an idea on how to ch

[2019-10-31 23:00] #18184 closed

[2019-10-31 23:01] swissspidy commented on #18151
Source code:

https://github.com/WordPress/gutenberg/blob/b5fe68187f94c0a204a336825e7c6aa6042c48aa/packages/block-library/src/code/index.js#L23-L31

[2019-10-31 23:33] junaidbhura commented on #18098
Looks like there's a Tract ticket for this: https://core.trac.wordpress.org/ticket/46457

[2019-10-31 23:42] retlehs opened #18227 "Using filemtime to cache bust editor assets is not reliable"
**Describe the bug**
Gutenberg is using `filemtime` in [several areas](https://github.com/WordPress/gutenberg/blob/5a5baed744a74bceb6542c0cfef8dd8a717a273e/lib/client-assets.php) when enqueueing assets, such as the editor CSS

When updating Gutenberg, you can run into a scenario where outdated assets are being served because [`filemtime` is cached](https://www.php.net/filemtime)

**To reproduce**

[2019-10-31 23:42] epiqueras commented on #17864
Thanks!

[2019-11-01 02:04] talldan commented on #17324
This thread seems to have the latest info from Github - https://github.community/t5/GitHub-Actions/Github-Workflow-not-running-from-pull-request-from-forked/td-p/32979:

[2019-11-01 02:24] talldan commented on #17161
I also can't reproduce the issue now, so closing this.

[2019-11-01 02:24] #17161 closed

[2019-11-01 05:42] Shizumi commented on #18079
It worked correctly in the following environments:

**Desktop**
OS: macOS 10.14.6
Browser: Chrome
Version:  78.0.3904.70（Official Build）

[2019-11-01 06:04] Santhoshoutright commented on #18201
**List action hook not working**:
1. post_updated
2. pending_to_publish
3. draft_to_publish
4. transition_post_status

[2019-11-01 08:01] maddisondesigns opened #18228 "Cover Image Block breaks when viewing HTML"
**Describe the bug**
I added a Cover Image block to a Page and after viewing the HTML for the Block, it then shows a "_This block contains unexpected or invalid content_" error as soon as I select the Block Toolbar again. How can it be invalid when I just inserted it?

<img width="1556" alt="screenshot_254" src="https://user-images.githubusercontent.com/2078245/68009374-ed3de180-fcd5-11e9-80ca-eda

[2019-11-01 08:40] maddisondesigns opened #18229 "Previously inserted Cover Blocks no longer display at their correct width in editor"
**Describe the bug**
I have 3 Cover Blocks within a page. Each one had a different width set. One block was just shown as 'normal/default' width, one was set to Wide and the third was set to Full.

When I edit the page now under 5.3 RC3, all three blocks just show as normal width within the editor. When I view the page in the browser, they're shown at the correct widths.

When I view the code in t

[2019-11-01 09:53] audrasjb opened #18231 "Image Block: Media URL is not updated when the image is replaced with another one"
**Describe the bug**
When an image has a target link to the Media file, this URL should be updated when the image is replaced with another one. Instead, the link remains the same and it's still targeting the previous media URL.

**To reproduce**
Steps to reproduce the behavior:
1. Use Image block to insert an image
2. Add a link to "Media file"
3. Click on the "Edit image" button and replace the i

[2019-11-01 10:39] niaccurshi opened #18232 "Heading block "encountered an error" since 6.8.0"
**Describe the bug**
Upon installing the 6.8.0 plugin update, all of my heading blocks returned the "This block has encountered an error and cannot be previewed." error in the editor.

**To reproduce**
Steps to reproduce the behavior:
1. Have a site where the headings exist in the editor, with extra classes defined (unsure if it is relevant but all of my headings do have extra classes defined)
2.

[2019-11-01 10:46] niaccurshi commented on #18232
The same happens when adding a new heading block, the following error is created

![image](https://user-images.githubusercontent.com/1426885/68019900-e347be80-fc94-11e9-82c3-524d6f1a939e.png)

[2019-11-01 11:43] turansadri commented on #18232
I had this in my theme setup (removes the colour palette) and noticed it now breaks the headings after 6.8.0 update.

add_theme_support( 'editor-color-palette' );

However it's easily fixed by giving an empty array instead of nothing.

add_theme_support( 'editor-color-palette', array() );

Hope this helps.

[2019-11-01 12:16] patrikhuber commented on #6923
Hi, are there any updates on the accessibility issues? I.e. being able to specify a table header and caption in Gutenberg.

Additionally I want to add my support for the "merge cells" feature - I am really disappointed by the Gutenberg table block - it is as basic as it can get, severely limiting its usefulness.

Looking forward to any and all improvements.

[2019-11-01 14:03] draganescu commented on #15422
This is now testable in #18139

[2019-11-01 14:35] jorgefilipecosta commented on #17974
Thank you all 👍 The usernames provided were added to the props spreadsheet available at the meta ticket.

[2019-11-01 14:35] #17974 closed

[2019-11-01 15:02] niaccurshi commented on #18232
Thanks this also resolved my issue, would be good to see an empty array applied as default to stop other themes crashing this way!

[2019-11-01 15:33] RobinRoelofsen commented on #15177
Hi @talldan,

Thanks for looking into this.

I was using the GeneratePress theme.

[2019-11-01 16:05] draganescu opened #18239 "Preserve selection when switching block editor tabs"
**Describe the bug**
This is probably an intended feature, but when switching tabs in the editor sidebar between document and block, the current block selection is lost.

The problem is easily recoverable on desktop, but it presents an almost empty screen on mobile, looking like an error.

**To reproduce**
Steps to reproduce the behavior:
1. Selet a block
2. Show the sidebar
3. Click on Document
4

[2019-11-01 16:15] draganescu commented on #18239
@mapk @jasmussen since fixing this is a matter of simply not clearing the selection anymore, by removing a single call to `clearSelectedBlock()` in the `openDocumentSettings()` handler of the Document Tab click, it seems to not be a technical need, so I wonder why is this interaction like this?

@jorgefilipecosta is there any technical reason to clear the block selection?

[2019-11-01 16:18] getdave commented on #13363
I've now merged:

* [`ResponsiveBlockControl` component](https://github.com/WordPress/gutenberg/pull/16790)
* [`DimensionControl` component](https://github.com/WordPress/gutenberg/pull/16791)

These lay the foundations for [enabling viewport specific controls for a given Block attribute](https://github.com/WordPress/gutenberg/pull/16730) such as `padding`.

[2019-11-01 16:25] #11054 closed

[2019-11-01 18:05] kr31n3r commented on #17406
I'm still (or again?) facing this overlapping issue with:

MacOS: 10.13.6
Chrome: 78.0.3904.87
WordPress: 5.2.4

None of the above CSS solution worked for me but adding this snippet to my `functions.php` seems to fix it:

[code]

[2019-11-01 18:32] strarsis commented on #17854
This would be nice - and it would require JavaScript to change the body class interactively.
But you still may want to have extra elements.
There is a solution I am also currently using on sites that need page template specific (block) styling:
https://discourse.roots.io/t/gutenberg-body-class-elements-by-template/15310/3

[2019-11-01 18:34] SheElf commented on #17406
I'm not an expert, but did you update Google? There were some updates that
resolved this issue.

[image: Mailtrack]
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality5&>
Sender
notified by
Mailtrack
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality5&>
11/01/19,
12:33:55 PM

On Fri, Nov 1, 2019 at 12:06 PM kr31n3r <not

[2019-11-01 21:01] DOUARA opened #18242 "I didn't find the navigation block in the dev version"
Hi,

I am planning to start contributing to [the navigation block project ](https://github.com/WordPress/gutenberg/projects/31), I have successfully setup the environment following the steps  [here](https://developer.wordpress.org/block-editor/contributors/develop/getting-started/) but I noticed that there's no Navigation block with it:

![Screen Shot 2019-11-01 at 9 52 34 PM](https://user-images.

[2019-11-01 21:03] #17774 closed

[2019-11-01 23:36] senadir commented on #18242
Hello Abderrahman, I'm really glad that you're considering contributing to Gutenberg, contributing had really a huge effect in my life but I know how tough it can be when you get started.

For your question, the Navigation block is available under the experimental features
https://github.com/WordPress/gutenberg/blob/85b07292622255f268c8a51c7a856344f3dac957/packages/block-library/src/index.js#L179-

[2019-11-01 23:36] #18242 closed

[2019-11-02 11:40] luminuu opened #18246 "Author dropdown too small"
**Describe the bug**
When having multiple authors on a blog, the author dropdown is currently too small. The caret on the left overflows on the author's name.

**To reproduce**
Steps to reproduce the behavior:
1. Have at least two authors in WordPress added.
2. Edit a post or a page
3. Once the author dropdown is loaded, the error appears.

**Expected behavior**
Expected some white space between t

[2019-11-02 11:50] luminuu commented on #18246
Found the CSS property which breaks it, in `build/edit-post/style.css/`:

`.components-modal__frame select,
.components-popover select,
.edit-post-header select,
.edit-post-sidebar select,
.edit-post-text-editor select,
.edit-post-visual-editor select,
.editor-post-publish-panel select {
 **padding:2px;**
font-size:13px;
 color:#555d66
}`

[2019-11-02 12:26] rthvanesa commented on #17895
Is there any update on this? I consider it to be a bug introduced in the beta versions of WP 5.3.

[2019-11-02 13:08] LuckyTime154 commented on #12795
I have the same issue. 500+ pages

[2019-11-02 18:29] katsar0v opened #18248 "New articles become "Auto Draft" after update to 5.2.4"
**Describe the bug**
As you can see in the screenshot, writing new articles and previewing them, even publishing them, changes the title and the slug into "Auto Draft". Even changing the theme to twentyeleven and disabling all plugins has zero effect.

**To reproduce**
I do not know if it reproducible, it happens on my system after updating to WP `5.2.4`

**Expected behavior**
Articles to be publi

[2019-11-02 18:36] #18248 closed

[2019-11-02 19:02] mtias opened #18249 "Alignment looks off in the pre-publish panel"
![image](https://user-images.githubusercontent.com/548849/68075663-06fd2880-fdab-11e9-921f-8a6cc3955468.png)

[2019-11-02 20:35] adamjrice commented on #5717
I'm also getting caught on this in version 5.2.3.

Also, interestingly, when I search posts from the admin interface for `&amp;`, that gets converted to `&` -- which makes it that much harder to look for those escaped ampersands.

[2019-11-03 06:53] jarretc opened #18250 "Cannot add new block in editor interface if enter is not pressed in paragraph block"
Replication

1. Create a new post
2. Add text into default paragraph block, click outside of the paragraph block without hitting Enter
3. A new block cannot be added below the paragraph block in the editor window

![gutenberg-paragraph](https://user-images.githubusercontent.com/1584764/68081460-9fa3a080-fdcb-11e9-98e3-8c9d986fa3bc.png)

However, it appears that when adding any other block type, th

[2019-11-03 07:08] jarretc opened #18251 "Block shortcuts change order after inserting multiple of same type"
![gutenberg-shortcuts](https://user-images.githubusercontent.com/1584764/68081552-ee9e0580-fdcc-11e9-8cfa-5466cffffdc0.png)

I'm not quite sure what to call the 3 icons on the far right of the new block input other than shortcuts, see above image for reference ( media, heading, page break )

Replication

1. Create a new post
2. Hover over default paragraph block below title block, click the 2nd ic

[2019-11-03 09:18] bobbingwide commented on #18079
@shizumi Please show what you tested. I retested using Twenty Nineteen and zero plugins with WordPress 5.2.4
Before conversion the more block is before the text.
![2CB5A7D7-8CBB-4CEB-8F75-78978533962F](https://user-images.githubusercontent.com/2474435/68082226-ee742900-fe11-11e9-86d0-0956ac289976.jpeg)

After conversion the paragraph comes first, then the more.
![6CD9FA9E-1FFD-4064-9AF2-1EDA4703EB

[2019-11-03 12:13] luminuu commented on #18246
I just checked my local environments again and this issue does not seem to happen anymore. I'm closing the issue now.

[2019-11-03 12:13] #18246 closed

[2019-11-03 12:56] yarovikov opened #18252 "How can i use get_categories inside transition_post_status action?"
Hi all.

I use wp 5.2.4.

I send email when new post.
How can i get cat_ID inside  transition_post_status action?
This not work with gutenberg. With classic editor is ok.
How can this problem be solved?

Thanks.

[2019-11-03 17:43] jg314 commented on #16006
A few of us are taking a look at this at WordCamp US Contributor Day. We're able to replicate this issue in a number of scenarios within WordPress 5.2.4.

- We tested with both an Advanced Custom Fields meta field, but also with a generic meta field added via `add_meta_box()`.
- We tested with the Gutenberg plugin v6.8.0 both activated and deactivated.

In every case, the preview works correctly w

[2019-11-03 17:52] m-alzam commented on #18232
Confirmed with a child theme.

[2019-11-03 18:52] MarkMarzeotti commented on #18167
I am working on this issue at Contributor Day. I am focused on the three files in `block-library`.

 packages/block-library/src/categories/edit.js
 packages/block-library/src/archives/index.php
 packages/block-library/src/gallery/edit.js

[2019-11-03 19:51] swissspidy commented on #18251
These shortcuts show the most commonly blocks, ordered by how often you've used them. So the icon moving to first position after using it multiple times is expected behavior.

[2019-11-03 19:52] brezocordero commented on #17947
Tested it with Chrome Version 77.0.3865.120 (Official Build) (64-bit)
Gutenberg 6.8.0

Couldn't reproduce the issue. Table button vertical alignment is correct.

![TableButton](https://user-images.githubusercontent.com/8002881/68091096-1a5ad300-fe41-11e9-953d-7225980025b9.png)

[2019-11-03 19:59] Dabalina commented on #17947
Tested on Firefox 70 on Windows 10, Gutenberg 6.8.0 and the vertical alignment is a bit off.

<img width="669" alt="Screen Shot 2019-11-03 at 1 53 25 PM" src="https://user-images.githubusercontent.com/4277676/68091176-1c716180-fe42-11e9-90dd-65b97a7995b1.png">

[2019-11-03 20:50] brezocordero commented on #17952
I could not reproduce the issue with the Cover block.
Gutenberg 6.8.0
Chrome Version 77.0.3865.120 (Official Build) (64-bit)

This seems to happen only on WordPress.com simple sites.

[2019-11-03 20:51] ChrissiePollock commented on #10251
I tested this in Firefox using a local environment. I downloaded four images from https://unsplash.com/s/photos/large. Their sizes were: 3.1 MB, 2.1 MB, 3.9 MB and 5.6 MB.
![bernard-hermant-CLKGGwIBTaY-unsplash](https://user-images.githubusercontent.com/2545184/68091641-acfe7080-fe47-11e9-8e0e-e534c6e439d3.jpg)
![tobias-fischer-ljp-ewA23lc-unsplash](https://user-images.githubusercontent.com/254518

[2019-11-03 20:55] emilyatmobtown opened #18255 "Inconsistent margin styling on audio blocks"
**Describe the bug**
A [styling bug](https://core.trac.wordpress.org/ticket/48448) was reported on Trac for Twenty Sixteen, but exists independent of theme. No bottom margin exists on audio blocks, which is inconsistent with other blocks, such as quote and image blocks.

**To reproduce**
Steps to reproduce the behavior:
1. Add an audio block to a post.
2. Add another block below the audio block.
3

[2019-11-03 21:00] emilyatmobtown commented on #18255
**For further context:**
The quote block provides bottom margin to .wp-block-quote in its theme.scss. The image block provides bottom margin to .wp-block-image in its style.scss. The audio block provides no bottom margin to .wp-block-audio in its block-library stylesheets, leaving it butting up against the following block, unless overridden by a theme.

Was the audio block developed without margin

[2019-11-03 21:01] morgandruscarr commented on #18223
Yes, that's a great idea.

[2019-11-03 21:03] dickmoomaw commented on #17834
Tested this on Gutenberg Version 6.8.0 with MacOS Chrome Version 78.0.3904.70.  Did not reproduce the problem.

[2019-11-03 21:12] roykho commented on #16847
I just tested this in the latest master (6.8.0) and I am not seeing this issue.

![](https://cld.wthms.co/zMYYGg+)

[2019-11-03 21:17] brezocordero commented on #17929
Reproduced with Gutenberg 6.8.0
Chrome Version 77.0.3865.120 (Official Build) (64-bit)

<img width="307" alt="FlexOverlap" src="https://user-images.githubusercontent.com/8002881/68091987-17191480-fe4c-11e9-9425-b6025d93f1d5.png">

Removing the CSS rule fixes it.

Without

[code]

<img width="308" alt="WithoutFlex" src="https://user-images.githubusercontent.com/8002881/68092074-061cd300-fe4d-11e9-9

[2019-11-03 21:19] dickmoomaw commented on #17291
Reproduced this issue:
MacOS Version 10.14.6
Gutenberg Version 6.8.0
Chrome Version 78.0.3904.70
Standard US English Keyboard

[2019-11-03 21:30] roykho commented on #17369
The time format I believe is dictated by the time format you have in your WP settings as seen here ![](https://cld.wthms.co/jbWxKf+) When it is set to the 24h time, it will show in that format and vs versa.

![](https://cld.wthms.co/JwqOGC+)

[2019-11-03 21:35] Dabalina commented on #17834
I was able to recreate this issue once I closed the sidebar and editor screen became wider. Not only was I able to recreate this with the cover block but I was also able to recreate it with the default placement block.

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/4277676/68092323-88a69200-fe4f-11e9-8acd-a4a4c71a1f61.gif)

[2019-11-03 21:37] brezocordero commented on #17622
Tested with Gutenberg 6.8.0
Chrome 77.0.3865.120 (Official Build) (64-bit)
Couldn't reproduce it. Color picker was not flipped and hue slider moves.
![ColorPickerRTL](https://user-images.githubusercontent.com/8002881/68092344-c3102f00-fe4f-11e9-90a3-c563abb00756.gif)

[2019-11-03 21:38] ChrissiePollock commented on #18079
I tested on Firefox and it worked as expected. The More came first in code and preview after switching to Block.

[2019-11-03 21:48] jarretc commented on #18251
Thanks for the response, I suppose that makes sense! Will close out this issue

[2019-11-03 21:48] #18251 closed

[2019-11-03 21:50] brezocordero commented on #16965
I was not able to reproduce it.
Gutenberg 6.8.0
Chrome Version 77.0.3865.120 (Official Build) (64-bit)

I added a paragraph, added special chars :
‘
%
&
(

I added a featured image. I was able to type the characters again.

I waited some time with the post opened, could type the chars again.

@Leon-APMMA is this still happening on your end?

[2019-11-03 22:05] suziwilson commented on #16372
I was able to reproduce the same behavior. I uploaded 44 images into a gallery block and it did NOT generate an error, but when I uploaded 45 images into a gallery block (the same images +1) I DID get the same error.

OS: macOS Mojave
Gutenberg: Version 6.8.0
Browser: Version 78.0.3904.70

[2019-11-03 22:14] dickmoomaw commented on #17834
Is the problem that changing the vertical alignment also changes the horizontal alignment?  That became apparent when I followed Dabalina's action.

[2019-11-03 22:22] suziwilson commented on #16273
Hi, How do you have your permalinks set in Settings?

[2019-11-04 00:00] glendaviesnz opened #18258 "User mention autocompletion fails if avatar_urls array is not set"
**Describe the bug**

Currently if a site is returning false for `get_option( 'show_avatars' )` the @ mentions autocompletion fails due to a `Cannot read property '24' of undefined` error.

**To reproduce**
Steps to reproduce the behavior:
1. Set the `show_avatars` option to false for a given site
2. Open dev tools console
2. In the given site add a new post and try to mention a user by typing @jo

[2019-11-04 00:42] noisysocks commented on #17743
Could we put all of the experimental / unstable APIs into a spreadsheet and collaborate on deciding which ones we want to promote?

[2019-11-04 07:47] gziolo commented on #12535
See also my related comment in https://github.com/WordPress/gutenberg/issues/11631#issuecomment-544858908:

I think this would be the best way to address this issue and it would allow creating a utility method fo a wider usage. I also agree that it should be similar to what `deprecated` from `@wordpress/deprecated` does.

[2019-11-04 08:34] JuanDBB commented on #8898
This is still happening with latest version under certain circunstances (I have not been able to reproduce it but it is happening to many clients of mine).

[2019-11-04 08:35] glendaviesnz commented on #16411
Have tried a very simplistic approach to what @HardeepAsrani suggested at #18260. It works and doesn't seem to break anything, but I need to do much more digging and testing to get a better understanding of what cases will return a parentName of null, in case it isn't only root level blocks that will do this - just noting here in case my explorations are helpful to others, rather than as a suggest

[2019-11-04 08:59] chdenat commented on #17369
No ! It was not due to the hour settings, mines were Ok !  It seems fixed in Gutenberg 6.8.0  (did not check in intermediate release), so I close the issue.

[2019-11-04 08:59] #17369 closed

[2019-11-04 10:47] trejder commented on #16172
Do we have any priorities for bugs and functionalities in Gutenberg development?

Yesterday an update to Gutenberg inside Wordpress was released (version 6.7.0) and some breath-taking functionalities (sarcasm intended) like gradients in blocks were added. Yet, still no resolution on something as stupid (and in the same time affecting millions) as adding spaces when pasting text.

Any estimate when

[2019-11-04 10:54] trejder commented on #13113
Is there any priority roadmap for bugs in Gutenberg development? Is there any general idea of resolving bugs before introducing new features?

I see a lot of discussions around here about new features or how to ease Gutenberg user's lives... Yet, still no resolution on something as stupid (and in the same time affecting millions) as adding spaces when pasting text (#16172).

To paraphrase the "[Up

[2019-11-04 11:00] sparanoid opened #18263 "Import/upload images from clipboard pasting instead of hotlinking"
**Is your feature request related to a problem? Please describe.**
When pasting images from clipboard, there seems to have two behaviors:

- Hotlink directly when you copy images from other websites to Gutenberg editor.
- Upload it to the media library and insert it to your editor when you copy images from the image viewer/editor.

In most cases when I copy and paste an image from other websites,

[2019-11-04 11:27] gziolo commented on #16283
I started working on the initial implementation. My plan is to have more iterations than discussed so we could rollout it quickly and start experimenting early. Potential steps:
1. Create an API for registering patterns very close to block styles.
2. Refactor Columns block to use this new API making the placeholder open for customization.
3. Explore how it could be embedded in the block inspector.

[2019-11-04 11:42] despecial opened #18267 "urls in content block are saved with escaped characters - breaks search&replace"
Case:
Enter a link in the editor and save it. In the database the link is saved as `https:\/\/www.google.com`

Problem:
If you want to move the site and replace all links, these stored values will be ignored because they don't match the normal pattern `https://www...`.

Reported also at the wp-cli git:
https://github.com/wp-cli/wp-cli/issues/5293

Why are these links escaped?

[2019-11-04 12:43] jorgefilipecosta commented on #10301
Hi @youknowriad, yes, this issue was fixed recently.

I'm closing the issue, thank you all for reporting it and providing additional information. 👍

[2019-11-04 12:43] #10301 closed

[2019-11-04 12:53] mtias commented on #16283
It'd be very important first to clarify if what columns currently use fit within the same concept as block patterns.

[2019-11-04 13:16] marbaque commented on #17787
I am having the same issue regardless of the theme. When image is set to 100%, it overflows outside the container.

[2019-11-04 13:53] bobbingwide commented on #18079
Hi @ChrissiePollock, that's not the same string as my original source.
Can you try to reproduce the problem by following these instructions.

- Open a new post
- Type title
- Tab
- Type /cl, Enter
- Click on classic block
- Click on Insert read more
- then type Seen before etc
- Click on vertical ellipsis
- Click on Convert to Blocks

[2019-11-04 13:56] Leon-APMMA commented on #16965
Hi,

No, the issue resolved itself a couple of weeks ago, after persisting for a couple of months. It was a strange little issue but I'm glad it's all sorted now.

Thanks

[2019-11-04 13:57] nicmare commented on #5292
if you have for instance a column block, it applies the wrapping div to the parent and child elements. is there any code to just wrap the very outer block and not the nested child elements?!

[2019-11-04 13:59] aduth opened #18269 ""Move to Trash" with metaboxes prompts about unsaved changes, 500 server error"
**Describe the bug**

The "Move to Trash" button does not work very well when meta boxes are present on the page:

1. The user is prompted about there being unsaved changes
2. In the browser Developer Tools Network log, a 500 error is shown for a failed request

It appears this is largely caused by a combination of:

- The meta box values try to save at the same time the browser redirect of a tras

[2019-11-04 14:02] gziolo commented on #16283
I think they do but the internal implementation will have to get updated slightly. I should push the API proposal soon.

[2019-11-04 14:15] #18181 closed

[2019-11-04 14:16] gziolo commented on #16283
I opened #18270 which proposes the initial API for Block Patterns. It needs some polishing but it covers all the requirements. I used the Column block as a way to distill what's necessary. The implementation is based on Block Style Variations.

[2019-11-04 14:21] zohar opened #18271 "Rich Text Controls buttons are broken when the content contains an <a> element"
Using Gutenberg I have a text paragraph with an <a> element inside of it.
If I choose the entire paragraph and use one of the Rich Text Controls (code, strikethrough...) the result is at least 3 different elements - one before the <a> element, one wrapping only the text of the <a> element and a third one around the third chunk of text.

See the attached image.

**To reproduce**
Steps to reproduce

[2019-11-04 14:26] LyleBennett opened #18272 "has_block doesn't return true when a block is inside a reusable block"
If a block is inside a reusable block, has_block doesn't return true.

Steps to reproduce the behavior:
1. Add a block inside a reusable block. (Let's say prfx/myblock)
2.  Add action in plugins php file to wp_enqueue_scripts

		if (has_block('prfx/myblock')) {

		wp_register_script('my-script', plugins_url( 'dist/assets/myscript.min.js', dirname( __FILE__ )), array(), null, true );

		wp_enqueue_

[2019-11-04 15:09] #15842 closed

[2019-11-04 15:42] obenland commented on #17542
Fixed in #18094.

[2019-11-04 15:42] #17542 closed

[2019-11-04 15:50] saas786 commented on #18192
It happens for me when I enable "Full Site Editing" in experiments tab.

Is it half baked? Is there any doc on this topic, feature? So we can properly utilize it.

[2019-11-04 16:08] CreativeDive commented on #17834
This problem occurs if the content is smaller than the width of the container block. You can re-create the problem by using the cover or group block with a selected background. Just use text like "Hello World" for the inner content.

[2019-11-04 17:25] obenland commented on #18135
Let's try and fix these issues in separate PRs?

[2019-11-04 18:07] luminuu opened #18274 ""Copy permalink" button only works when padding area is clicked"
**Describe the bug**
On the permalink options above the title, the "copy permalink" on the very left side only works on mouse clicks when clicking into the padding area between the SVG icon and the border.
It does work with focusing the element via the keyboard and hitting enter.

**To reproduce**
Steps to reproduce the behavior:
1. Go to a saved post or page, where a permalink is available.
2. Cl

[2019-11-04 19:24] phpbits commented on #18274
I was able to replicate the issue on FireFox as well. Version 69.0.1 and 70.0.1

[2019-11-04 19:28] Kelderic commented on #1761
I tried this with WP 5.2, and it did not work. However, after combining it with what I saw [here](https://stackoverflow.com/a/34743649/2111901), it did work!

[code]

[2019-11-04 19:42] retrofox commented on #18135
Taking this one, Dave

[2019-11-04 19:54] jcklpe opened #18276 "Add alignment classes to `<div class="wp-block-image">` for more accessible and clean styling rules in themes."
**Is your feature request related to a problem? Please describe.**
Images can be aligned center, left, right, wide, and full width in Gutenberg.

Image alignment styling rules are targeted based on css selectors like `.aligncenter`, `.alignleft` etc.

Images which are aligned to the center produce markup like this:

[code]

While images which are aligned right produce markup like this:

[code]

Th

[2019-11-04 20:05] soderlind commented on #15450
My findings so far are, if I want to modify the sidebar (i.e. remove elements from it), use:
- `add_theme_support` .. remove color palette and fontsizes
- `removeEditorPanel`
- `unregisterBlockStyle `

I written more about it at https://soderlind.no/hide-block-styles-in-gutenberg/

[2019-11-04 20:26] henryholtgeerts commented on #18056
I have tracked down the working link [here](https://github.com/WordPress/gutenberg/tree/master/packages/edit-post/src/hooks/components/index.js).

The bug was caused by an extra 'media-upload' in the URL.

I made the necessary changes and have created PR [#18277](https://github.com/WordPress/gutenberg/pull/18277) accordingly!

[2019-11-04 20:43] retrofox commented on #18135
Loading spinner https://github.com/WordPress/gutenberg/pull/18278 PR.

[2019-11-04 20:49] jorgefilipecosta commented on #14084
Fixed in https://github.com/WordPress/gutenberg/pull/15844.

[2019-11-04 20:49] #14084 closed

[2019-11-04 21:56] #16429 closed

[2019-11-04 23:26] plasticmind commented on #12606
@ahorndesign Thanks so much for the tip! Saved me some headaches...

[2019-11-05 02:54] noahtallen commented on #11681
It's really funny, I've been working on several tasks recently and everything seems to point back to this issue. I haven't yet created a PR because I'm still trying to piece together how everything works. I think this has to be a top priority so that we can make some progress. Flexible and powerful templates are super important for advanced block needs.

Since this has taken me a while to get my h

[2019-11-05 03:53] noahtallen commented on #8112
This is definitely very important. I'd appreciate some feedback on this comment I left on a different issue which is pretty related: https://github.com/WordPress/gutenberg/issues/11681#issuecomment-549641097

[2019-11-05 03:54] noahtallen commented on #8112
TLDR: since global template validation runs different code than InnerBlocks template validation, it's hard to fix bugs or make enhancements to how block templates work. What if, instead, validation happened at the BlockList level?

[2019-11-05 04:24] maddisondesigns opened #18280 "Block Toolbar Edit Icons inconsistent for Image & Gallery Blocks"
**Describe the bug**
Most blocks that require an image to be uploaded or an external URL to be entered, have an edit icon on their Block toolbar in the shape of a Pencil (<img width="33" alt="screenshot_25" src="https://user-images.githubusercontent.com/2078245/68177417-57a79800-ffdc-11e9-8db1-15a638b477d9.png">).

Here's some examples:
**Audio Block**
<img width="450" alt="screenshot_20" src="htt

[2019-11-05 04:44] lozinska commented on #15429
Hello there! May I work on this issue?

[2019-11-05 07:33] talldan commented on #16172
@trejder Please note that there's an etiquette guide - https://wordpress.org/about/etiquette/ - it specifically mentions unwelcoming behaviour. We're all smart enough here to understand what your sarcasm means, and it's not acceptable.

Please be professional in future. I understand you desperately want to raise the profile of this bug and that it's important to you, but it's just as important tha

[2019-11-05 07:45] trejder commented on #16172
Thank you for pointing out that my behaviour and wording may not be acceptable by some. True apologies for those that felt offended.

Yet, case remains unanswered. Are there any priorities, severity levels etc. or other ways or tools to rise awareness over a bug affected by most likely every user of Gutenberg and bring it closer to the resolution than some fancy new functionalities?

Are there any

[2019-11-05 08:13] maddisondesigns opened #18282 "Cover Block has multiple issues"
**Describe the bug**
The Cover Block has multiple issues.

After inserting a Cover block and adding some text to the default field, you can then click the Block Inserter to insert another block. After inserting a new Paragraph Block, I then tried to move it below the other text but couldn't. As soon as I tried to move it, the block broke.
- The Block Toolbar would no longer display when clicking o

[2019-11-05 09:27] draganescu commented on #18239
@mtias and @jasmussen for posterity, here is a sum up of what we discussed:

- we need to have the blocks selected when we switch back to the block tab in the inspector. I propose that instead of building a mechanism to restore selection, we simply don't clear it anymore.

The argument is this:

- the main reason deselection happens is because clicking the document tab is conceptually similar to c

[2019-11-05 13:04] gziolo commented on #16283
I opened a continuation of #18270. It is based on the `add/patterns-api branch`. This PR refactors Columns block to use this new API making the placeholder open for customization 🕺 See #18283.

[2019-11-05 15:14] WunderBart commented on #18135
Picking this one up!

[2019-11-05 15:59] ddryo commented on #16257
It has been found that this bug occurs when selecting and changing the style after registerBlockStyle is set to the paragraph block of the core block.

We were able to work around the bug by removing registerBlockStyle for paragraph blocks.

[2019-11-05 16:24] CODECRATER commented on #12987
This worked for me as well, but why?

Is there an intentional difference in Gutenberg between the_content() and get_the_content() ? Or is this a bug?

[2019-11-05 17:10] Shizumi commented on #18079
@bobbingwide
![issue18079](https://user-images.githubusercontent.com/3748763/68229334-6755c980-003a-11ea-8e20-5e26c209cf3b.gif)
I tried it again

[2019-11-05 17:54] retrofox commented on #18197
Hanlded here https://github.com/WordPress/gutenberg/pull/18222

[2019-11-05 17:54] #18197 closed

[2019-11-05 19:24] davewhitley commented on #7534
@afercia Because the specific discussion on whether or not to style links to look like buttons is a tangent and it affects not just Gutenberg, shall I create a separate Trac ticket for visibility, or is there an existing trac ticket to comment on? I only know of https://core.trac.wordpress.org/ticket/40470

I believe a trac ticket focused on this issue would help.

[2019-11-05 19:27] bengreeley commented on #18050
+1 Seeing this mess up ads that don't have explicit width/height attributes specified in the iFrame code. Disabling the Gutenberg plugin and relying on core functionality for now, but it would be great if this was fixed.

[2019-11-05 19:55] bengreeley commented on #18050
Actually, looks like it may be fixed 🎉 https://github.com/WordPress/gutenberg/pull/18287

[2019-11-05 20:01] mattsummers commented on #14221
@stratboy @kesiah I had to add the "stylesheet" button to MCE button row #1 for it to work. I can confirm this works as of 5.2.4. There is no need to disable Gutenberg, these filters execute just fine.

It is also documented in the codex. But many of the old tutorials that show up in google searches leave out this step.

https://codex.wordpress.org/TinyMCE_Custom_Styles

[2019-11-05 20:18] bobbingwide commented on #18079
@Shizumi
thanks for that. i’ll have to record the same. are you using Twenty Twenty and 5.3 something

[2019-11-05 20:49] epiqueras opened #18291 "Full Site Editing Design"
# `( state )` :notebook_with_decorative_cover:

**Per the Roadmap (#15068) and our current phase's, phase 2, scope (#13113), lots of work is being done to bring full site editing into Gutenberg.**

A lot of the foundational work for [Defining Content Block Areas](https://make.wordpress.org/core/2019/09/05/defining-content-block-areas), has been merged or is in progress (see [Label: Full-Site Editi

[2019-11-05 22:23] obenland commented on #18135
Gah, I'm sorry, I didn't see that 😔

[2019-11-06 00:37] obenland commented on #18135
The button margin is 10px and the suggestion list padding is 8px. So if we decreased that gradient from 20px to 18px, that should probably do it.

[2019-11-06 01:29] Shizumi commented on #18079
@bobbingwide
yes.

[2019-11-06 03:45] spacedmonkey commented on #2751
I have made a first pass for this API in a core trac ticket [here](https://core.trac.wordpress.org/ticket/47620). Can someone review and get back to me?

[2019-11-06 05:14] #17543 closed

[2019-11-06 05:30] talldan opened #18295 "Block Navigator appender doesn't respect allowedBlocks when `InnerBlocks` is conditionally rendered."
**Describe the bug**
Related https://github.com/WordPress/gutenberg/pull/18100

This is a very niche issue and hard to explain, but one that might become apparent if we start using the block navigator more.

https://github.com/WordPress/gutenberg/pull/18100 introduces a block appender in the navigator:
![Screen Shot 2019-10-25 at 3 03 34 pm](https://user-images.githubusercontent.com/677833/6755045

[2019-11-06 07:42] stratboy commented on #14221
@mattsummers thank you

[2019-11-06 08:17] CreativeDive opened #18296 "Media/Text block bug with nested Image block: Image is not visible"
Hey,

if I use the media/text block with the activated option "`Crop image to fill entire column`" and a nested image inside the text column, the image is still hidden.

The backend view:

<img width="913" alt="Bildschirmfoto 2019-11-06 um 09 11 15" src="https://user-images.githubusercontent.com/31563167/68280236-6d1cd080-0075-11ea-8cb7-20b3ee0ef385.png">

The frontend view:

![Nov-06-2019 09-13-5

[2019-11-06 08:35] bobbingwide commented on #18079
Can you try without pressing Enter between clicking on more. Just continue typing.
Alternatively, type the text, backspace to the start then insert the more.
In code editor the content should be on one line.

[2019-11-06 08:58] CreativeDive opened #18297 "Empty paragraph block should not be outputted on frontend"
Hey,

if a block has a empty paragraph block inside, like the following example:

<img width="1538" alt="Bildschirmfoto 2019-11-06 um 09 48 07" src="https://user-images.githubusercontent.com/31563167/68282813-a0ae2980-007a-11ea-8df3-346e18613857.png">

In this case, the block get an empty paragraph on the frontend view.

<img width="727" alt="Bildschirmfoto 2019-11-06 um 09 49 00" src="https://use

[2019-11-06 09:05] afercia commented on #7534
@davewhitley I don't think there's a Trac ticket about the visual styling of buttons vs links. I'd totally agree a specific ticket would greatly help.

In the new ticket, I'd suggest to mention prior work done on the buttons/links semantics see https://core.trac.wordpress.org/ticket/26504 and all the related tickets: https://core.trac.wordpress.org/query?keywords=~semantic-buttons though all the i

[2019-11-06 09:24] gziolo commented on #2751
Awesome, I will have a look closer to the end of the week 👍

[2019-11-06 09:48] talldan opened #18298 "Navigation Menu: handle overflowing Nav Items"
Currently when lots of items are added to the navigation menu, the block forces the editor container to widen, which adds a horizontal scrollbar to the entire editor:
![Screen Shot 2019-11-06 at 5 47 50 pm](https://user-images.githubusercontent.com/677833/68287395-9e20f380-00bd-11ea-9e72-fe8b57951efd.png)

It looks kinda terrible!

Instead, we might consider adding a horizontal scroll container wi

[2019-11-06 09:54] talldan opened #18299 "Navigation Menu: Nested menu-items are prepended instead of appended"
**Describe the bug**
A new toolbar button was recently added to navigation menu items, to allow adding other nested menu items underneath them.

![Screen Shot 2019-11-06 at 5 50 17 pm](https://user-images.githubusercontent.com/677833/68287861-623a5e00-00be-11ea-8ac5-a951189d3d5b.png)

However, this seems to prepending the nested blocks. Instead they should be appended. It's pretty apparent when us

[2019-11-06 10:08] talldan opened #18301 "Navigation Block: Caret isn't visible when menu item is selected but has no text"
**Describe the bug**
When adding a new navigation menu, it's not particularly clear whether the user can type, since no caret is visible when adding a block or when the text field is empty but focused.

**To reproduce**
Steps to reproduce the behavior:
1. Add a navigation menu (it'll need to be enabled as an experimental feature first.
2. Add a menu item to the nav menu
3. Observe that the caret i

[2019-11-06 10:42] tpaksu opened #18304 "Handling msgstr_plural in Jed format"
Hello, I'm trying to convert wordpress POT files taken from http://api.wordpress.org/translations/core/1.0/ zip files into Jed format, to use it in javascript i18n function of Gutenberg, but I couldn't understand how to convert this part into Jed.

[code]

The Jed format handles the pluralization like this:

for `plural_forms" : "nplurals=2; plural=(n != 1);`

[code]

And I suppose I can use

[cod

[2019-11-06 11:06] mtias opened #18305 "Navigation Block: highlight items missing a URL"
In the navigation menu block, it's possible to have a menu item without a URL set. There's nothing in the UI that indicates a menu doesn't have a link set.

![image](https://user-images.githubusercontent.com/548849/68293088-8762a880-008d-11ea-9c82-d4e117289fbd.png)

It'd be great to indicate that — could be as simple as a red bottom border on the item.

Likewise in this view, the link item in the

[2019-11-06 11:06] retrofox opened #18306 "LinkControl: Open modal when `CMD`/`CTRL` + `K` happens"
Let's open the `<LinkControl />` popover when the Nav Menu Block item field is focused and the user types the `CMD` / `CTRL` + `K` key combination

[2019-11-06 11:28] swissspidy commented on #18304
Hi there,

What part exactly doesn't feel right to you? That is just the format that Jed expects.

I suggest looking into how the WP-CLI [`wp i18n make-json` command](https://github.com/wp-cli/i18n-command/) converts PO files to Jed-compatible JSON files if you're interested in an automated way.

Also, I don't see why you need to convert existing WordPress translation files to JSON, as those langu

[2019-11-06 11:28] #18304 closed

[2019-11-06 11:29] mtias opened #18307 "Navigation Block: Improve initial state."
Right now adding a navigation block loads all top level pages. We should instead use the placeholder patterns to allow users to choose whether they want to start with existing pages, import an existing menu, or start from scratch.

@melchoyce created this mockups some time ago to address this need:

Some older mockups around the placeholder:

![image](https://user-images.githubusercontent.com/2846

[2019-11-06 11:33] mtias commented on #17231
Yes, this was the design decision included in the "make the block dynamic". I think it's still worthwhile to discuss what a fallback could be — a link to a sitemap, a link to the home of the site, etc.

[2019-11-06 11:34] retrofox opened #18308 "ColorSelector: wrap color palette in a fieldset"
Each colour palette should be wrapped in a fieldset with a legend instead of a plain div with a span for a label, so that screen readers can read out those labels.

[2019-11-06 11:39] retrofox opened #18309 "NavigationMenuItem: Close dropdown once option selected."
There's no way to close the dropdown once options are selected except for clicking outside or pressing Esc. Perhaps a close button would be useful?

[2019-11-06 11:41] tpaksu commented on #18304
@swissspidy I'm trying to integrate the localization outside WP environment. I'm trying to understand how to use `wp.i18n.setLocaleData()` outside WP, I've already generated the Jed file, but I couldn't make it work with `setLocaleData`. So I'm investigating if there are some errors on my Jed file. Or something else.

[2019-11-06 11:47] mtias opened #18310 "Navigation Block: sub-menu items design"
The design of the sub-menu should correspond to what is shown on the front-end (right now it's a dropdown on hover/focus). The editor is showing just an indented list:

![image](https://user-images.githubusercontent.com/548849/68295503-d828d000-0092-11ea-975d-0e62062c336b.png)

This is a block that should have opinionated styles (assigned to `theme.scss`) that themes can opt into.

[2019-11-06 12:46] yankiara commented on #16172
@michaelbruetsch Same problem here :-(

[2019-11-06 13:02] getdave commented on #13203
Noting that this is also related https://github.com/WordPress/gutenberg/pull/16730

[2019-11-06 13:10] CreativeDive opened #18311 "Cover Block: Default text color overrides each nested block text color"
Hey,

if I have a custom nested block inside the cover block, the default styles for heading + text of the cover block overrides all the colors of the headings + text from my custom nested blocks. In my case I use a nested block which is created with Advanced custom fields pro.

### Heading color issue:

![Nov-06-2019 13-59-36](https://user-images.githubusercontent.com/31563167/68300303-c8fb4f80-0

[2019-11-06 13:15] getdave commented on #18177
Looks like a good candidate for a PR. Here is the offending function

https://github.com/WordPress/gutenberg/blob/51fee9a045298a9c81e81675893c889e8df971cf/packages/editor/src/utils/url.js#L41

[2019-11-06 13:24] kajcula commented on #13503
In CSS `display` for .edit-post-layout__content element is set to `flex` but I think that it isn't necessary. All Gutenberg blocks are stacked one below the other inside this edit-post-layout__content, so this should fix the issue:  Set `display` to `block` for admin styles:

[code]

[2019-11-06 13:24] nayana96249 opened #18312 "Placeholder text should be display full in the link."
**Describe the bug**
Placeholder text should be display full in the link.

Version :

WordPress 5.3 beta

**To reproduce**
Steps to reproduce the behavior:
1. Go to 'editor'
2. Click on 'button'
3. Add Button block
4. See the link placeholder text.

**Expected behavior**
Placeholder text should be display full.

**Screenshots**
![image](https://user-images.githubusercontent.com/51028940/68301817-c

[2019-11-06 13:35] swissspidy commented on #18177
This is a longstanding and known issue. The main discussing is being tracked in #12907, but it also has been reported in #16695 before. I am therefore closing it as a duplicate.

That doesn't mean it's not a valid report or anything, it just helps us keep a better eye on things.

As for the `cleanForSlug` function, it already states in the docs that it is somewhat similar to `sanitize_title`. The

[2019-11-06 13:35] #18177 closed

[2019-11-06 13:48] nayana96249 opened #18313 "Gallery block padding :left and padding :right should be same when we add the gallery images."
**Describe the bug**
Gallery block padding: left and padding: right should be the same when we add the gallery images.

Version: 5.3 beta

**To reproduce**
Steps to reproduce the behavior:
1. Go to 'Editor.'
2. Click on 'Gallery Block'
3. Add the gallery images.
4. See the when adding the images.
5. See the Padding-right and padding-left.

**Expected behavior**
Gallery block padding: left and padd

[2019-11-06 13:58] nayana96249 opened #18314 "File Block : Copy URL button text vertical alignment is off."
**Describe the bug**
File Block: Copy URL button vertical alignment is off.

**To reproduce**
Steps to reproduce the behavior:
1. Go to 'Editor'
2. Click on 'File block'
3. Add File Block.
4. Add File and check the button alignment.

**Expected behavior**
Button text alignment should be in the center.

**Screenshots**
![image](https://user-images.githubusercontent.com/51028940/68304242-5ef99f00-00

[2019-11-06 14:06] mtias commented on #8112
When talking about these restrictions it's fundamental to separate the modification of the interface & interactions from what relates to validating that a block tree matches a specification.

This is important because restricting the interface doesn't really enforce any data structure — you could edit the source and change the order, remove elements, and so on, and `InnerBlocks` would not know wha

[2019-11-06 14:27] swissspidy commented on #18304
I see. Well, it would be helpful if you could provide the complete JSON structure you're using and then compare it with the one used by WordPress / Gutenberg / WP-CLI.

[2019-11-06 14:58] simboonlong commented on #1450
+ 1

[2019-11-06 15:08] getdave commented on #18135
@karmatosed @shaunandrews Can you advise if you agree with this?

[2019-11-06 15:11] myleshyson commented on #16396
Hey any update on this? We really need to use the ServerSideRender component for a block but can't since our data for it exceeds our apache url limit. Ideally we really don't want to update that apache setting.

[2019-11-06 15:24] karmatosed commented on #18310
💯 for this. I also notice that for example on front it shows extra characters

![nav-front-style1](https://user-images.githubusercontent.com/253067/68311456-7aec4900-00a9-11ea-87f4-16cc21dc4ce8.png)

[2019-11-06 15:25] karmatosed commented on #18307
I totally agree there should be a better placeholder. I will assign this to myself and work on some mockups today.

[2019-11-06 15:31] getdave commented on #18301
@talldan @karmatosed Is this still an issue now that the link UI is auto focused? Or is that just masking the problem. Is the question also whether the Link UI _should_ auto focus?

![Screen Capture on 2019-11-06 at 15-30-21](https://user-images.githubusercontent.com/444434/68312116-7bd1aa80-00aa-11ea-9d6d-a859fc113785.gif)

[2019-11-06 15:31] karmatosed opened #18315 "Navigation block: Consider reducing the interface on clicking in a menu item"
Currently, when you click to add an item you see this:

![nav-allon](https://user-images.githubusercontent.com/253067/68312056-665c8080-00aa-11ea-9f6f-8352852d64f8.png)

I would suggest that reducing what is shown by default to adding a link. Then when that's done the rest of the toolbar and items could appear. I know this isn't a behaviour we use everywhere right now but what we present is a lot

[2019-11-06 15:37] karmatosed opened #18316 "Consider different icon for menu item"
The menu icon confused me as it was very similar to the Star Trek one and on seeing for a single menu item I was unsure what it meant.

![nav-startrek](https://user-images.githubusercontent.com/253067/68312591-32ce2600-00ab-11ea-9d9f-62289848ce19.png)

I was so unsure, I ended up clicking it (which was a weird experience as didn't do anything). If you have the sidebar open you can see what it is,

[2019-11-06 15:38] getdave commented on #18310
Can I clarify the intent here:

Are we saying we want the Editor and Theme (front of site) to utilise a common set of "opt in" styles for the Nav Block whichL

1. Ensure it's a _horizontal_ nav on large screens (presumably "stacked" on small screens?).
2. Create dropdown menus for sub items.

Questions:

* what about sub-sub items?
* how do sub menus work/look on small screens?

[2019-11-06 15:40] getdave commented on #18298
cc @mtias because you've mentioned this as an Issue. It's already on the board and we will address it.

[2019-11-06 15:42] karmatosed opened #18317 "Should you be able to just add text to navigation menu?"
In the current implementation, you can just add text to the navigation menu. I personally wonder if this should be allowed or restricted? It seems weird to just have text but maybe there is a use case for this?

![nav-empty](https://user-images.githubusercontent.com/253067/68312936-b25bf500-00ab-11ea-99b2-2eb1ff332d96.png)

I am tentatively going to mark this as bug but would love feedback.

[2019-11-06 15:46] karmatosed opened #18318 "Navigation Block: Reduce toolbar options for menu item"
Right now you see a lot of options for menu items that I think could be reduced.

![nav-toomuch](https://user-images.githubusercontent.com/253067/68313265-2f876a00-00ac-11ea-98fe-30b23b35e38d.png)

I would suggest all 3 are removed.

[2019-11-06 15:51] karmatosed opened #18319 "Clicking into a menu item shows no style"
If you have a style selected for navigation it is lost when you are in the menu item.

![nav-clickin-nostyle](https://user-images.githubusercontent.com/253067/68313780-10d5a300-00ad-11ea-93ee-215942a09c21.png)

I would argue the menu item should still be styled.

[2019-11-06 15:55] karmatosed opened #18320 "Remove one place for open in new window on menu item"
With the recent changes, we now have 2 places for 'open in new window'.

![nav-doublenewtabs](https://user-images.githubusercontent.com/253067/68314288-d1f41d00-00ad-11ea-8129-4a1984f99e9d.png)

I would suggest we reduce this to only one location and have by the menu item, removing in sidebar.

[2019-11-06 15:58] karmatosed opened #18321 "Be consistent where we say edit or change"
The new link interface says 'change' and we say 'edit' in other places. I suggest we should be consistent about saying just one of these and do it throughout. I don't really mind which but we might want to explore which translates more elegantly.

![nav-linkstate](https://user-images.githubusercontent.com/253067/68314550-3e6f1c00-00ae-11ea-884a-38f4eb7bb104.png)

[2019-11-06 16:01] karmatosed opened #18322 "Adding link to menu item should change icon to unlink"
If you add a link, it would be great to then show the icon for link adding to 'unlink'. We had this in the previous link interface so I suspect it's just a case of bringing that back in.

![nav-linkstate](https://user-images.githubusercontent.com/253067/68314809-b6d5dd00-00ae-11ea-86aa-5d3eac479391.png)

[2019-11-06 16:03] karmatosed opened #18323 "Background empty state on navigation style reads like stripes"
The empty state being shown is:

![nav-nobackground](https://user-images.githubusercontent.com/253067/68314890-dbca5000-00ae-11ea-981a-4196e27b36a3.png)

We'd need to explore this but it for me reads like stripes. Maybe just a line crossed through a circle to show no would be better?

[2019-11-06 16:05] karmatosed opened #18324 "No contrast warnings on backgrounds for menu items"
The menu items have no color contrast warnings and I think if we have them elsewhere we probably should bring those in here too.

![nav-nowarnings](https://user-images.githubusercontent.com/253067/68315097-2f3c9e00-00af-11ea-9cb9-16e5bea982c1.png)

[2019-11-06 16:07] karmatosed opened #18325 "Color picker overlaps on color settings for navigation"
The color picker pops out of the settings and if it's due to size, maybe we can increase that block and centre?

![nav-colorpicker](https://user-images.githubusercontent.com/253067/68315273-6ca12b80-00af-11ea-853c-7711de0c858a.png)

[2019-11-06 16:08] karmatosed opened #18326 "RGB button placement is wonky"
Currently, the button placement in Chrome looks like this:

![nav-rgblink-buttonplace](https://user-images.githubusercontent.com/253067/68315489-c0ac1000-00af-11ea-8a0e-19bd98ee1d74.png)

[2019-11-06 16:12] karmatosed opened #18328 "Sub menu item icon iterations"
The current sub menu item looks like this:

![nav-addsub](https://user-images.githubusercontent.com/253067/68315772-2ef0d280-00b0-11ea-9cbb-c568736973fc.png)

In testing this, I wasn't at all sure this was for adding. I expected '+' or something not the loopy arrow. It also feels similar to me to navigators which are planned to be added to this toolbar.

[2019-11-06 16:14] mtias commented on #18317
See #18305.

[2019-11-06 16:16] karmatosed opened #18329 "Double clicking needed to add menu item"
The flow right now seems to not need the extra step of setting me out to then click in to add again. Here is what happened:

![nav-throwout](https://user-images.githubusercontent.com/253067/68315966-8e4ee280-00b0-11ea-858b-a749caf7c753.gif)

[2019-11-06 16:16] mtias commented on #18318
Inline image is useful if you want to add an icon before the text. I'd probably only remove the inline code. (Also this can be extended by plugins.)

[2019-11-06 16:16] mtias commented on #18319
I don't know why it has that gray border either.

[2019-11-06 16:19] karmatosed opened #18330 "Fade background to focus current interaction"
This idea came to me when using the existing navigation interface. As you add an item it focuses on that but the UI from the other elements is still on the same level.

![nav-fadeback](https://user-images.githubusercontent.com/253067/68316224-00272c00-00b1-11ea-873a-5c22ac7068f7.png)

What if the background faded/blurred or was someway dissolved a bit?

![image](https://user-images.githubuserconte

[2019-11-06 16:24] karmatosed commented on #18319
Yes, that was super confusing. I guessed it was a 'nothing' state but had to think about it a bit.

[2019-11-06 16:25] karmatosed opened #18331 "Clicking into menu item shows border"
Right now you see a border around the menu item when you click into it:

![image](https://user-images.githubusercontent.com/253067/68316842-0a95f580-00b2-11ea-8f7c-f8027906890b.png)

I would suggest having nothing is better?

[2019-11-06 16:27] karmatosed opened #18332 "Consider description text change to include posts on navigation menu item"
The description right now says:

I would suggest to add post there and perhaps say:

[2019-11-06 16:28] aduth commented on #13203
I'm not sure if there's any prior comments about the technical implementation, but to me, the primary challenge there is in forcing [media queries](https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Using_media_queries) to take effect artificially (i.e. when in-fact the viewport has not changed).

The options I could imagine for addressing this include:

- **Using an `iframe` for the p

[2019-11-06 16:30] karmatosed opened #18333 "Adding sub items to menu is confusing visually with all the + icons"
If you add a few sub-items you get this visual:

![nav-subconfuse](https://user-images.githubusercontent.com/253067/68317164-93ad2c80-00b2-11ea-9e66-a7afc3482b62.png)

I would suggest that seeing just one is better and this isn't a great experience for people, beyond the background not letting me see the '+' any way that well.

[2019-11-06 16:31] karmatosed opened #18334 "Unclear what description does in menu"
Right now adding a description seems to do nothing to menu items. I can logically work out why but it would be good to say that.

[2019-11-06 16:33] karmatosed opened #18335 "Spacing needed on navigation when displaying on front by default"
There is a bit of a lack of consistency between what you see on front and what you see in back on the menu. The biggest of these is the lack of spacing to one side:

![nav-addlink-empty](https://user-images.githubusercontent.com/253067/68317488-1fbf5400-00b3-11ea-90ab-ebfa43498bb1.png)

[2019-11-06 16:37] #18206 closed

[2019-11-06 16:55] karmatosed opened #18337 "Wrapping probably should happen for navigation"
This is a stress case but there is no wrapping so this can be created:

![image](https://user-images.githubusercontent.com/253067/68319315-0bc92180-00b6-11ea-9a13-5dceb8cd3ea9.png)

If we decide to just let someone do this, that's ok but it looks like this on front.

![image](https://user-images.githubusercontent.com/253067/68319365-226f7880-00b6-11ea-9833-cd30c58809de.png)

[2019-11-06 17:01] getdave commented on #18307
Happy to wrangle the dev on this one once we have a design.

[2019-11-06 17:03] fentron opened #18338 "Add full color hex information to parameters in getEditWrapperProps"
**Is your feature request related to a problem? Please describe.**
When registering custom blocks that use the withColors HOC, it's helpful to have an accurate preview of the color in the editor. The currently selected colors are passed into the edit function in a helpful object that includes the hex code of the color. This allows the block to display the selected colour without needing to know th

[2019-11-06 17:23] getdave commented on #18299
I tested this and items are being appended. It looks like this has been resolved @talldan do you agree?

![Screen Capture on 2019-11-06 at 17-22-52](https://user-images.githubusercontent.com/444434/68321751-29988580-00ba-11ea-9df4-a1920188676f.gif)

[2019-11-06 17:42] karmatosed opened #18340 "Remove one of places you view block navigator in navigation"
There are 2 places you can see the block navigator or structure of navigation. I would argue there should be only one and to remove from sidebar.

![image](https://user-images.githubusercontent.com/253067/68323169-ceb45d80-00bc-11ea-9c8f-9e69b6240236.png)

[2019-11-06 17:45] karmatosed commented on #18340
Another point why removing from sidebar might be good is the experience adding:

![nav-confusing-jump](https://user-images.githubusercontent.com/253067/68323366-37033f00-00bd-11ea-83cb-064d58b37685.gif)

[2019-11-06 17:51] karmatosed opened #18341 "Reduce settings available on link blocks"
I wonder if editing html and making reusable block should be limited for menu links?

![image](https://user-images.githubusercontent.com/253067/68323710-e809d980-00bd-11ea-8985-90c8cc4948c7.png)

[2019-11-06 18:28] aduth opened #18342 "WritingFlow: ArrowDown from last paragraph misplaces caret to the right"
**Describe the bug**

When pressing <kbd>ArrowDown</kbd> from a final paragraph block, the caret shifts to the right.

**To reproduce**

Steps to reproduce the behavior:
1. Navigate to Posts > Add New
2. Click the writing prompt
3. Press <kbd>ArrowDown</kbd>
4. Observe misaligned caret

**Expected behavior**

If the current selection is already within an "initial default block" (empty paragraph),

[2019-11-06 18:39] gziolo commented on #16283
Another experiment to integrate Patterns API with Media & Text block started in #18343

![Screen Shot 2019-11-06 at 19 37 01](https://user-images.githubusercontent.com/699132/68327170-1e9b2080-00cd-11ea-93a6-325e3e4f42d5.png)

[2019-11-06 18:40] mapk commented on #17922
Here's what's going on from a visual standpoint.

![Screen Shot 2019-11-06 at 10 39 27 AM](https://user-images.githubusercontent.com/617986/68327211-c25edf00-0081-11ea-8fa1-c6732f2cb9a1.png)

[2019-11-06 19:10] retrofox opened #18345 "NavigationLink: make the URL dynamic for links to Posts"
The link URL should be generated dynamically, instead of storing the URL as an attribute.

[2019-11-06 19:26] retrofox commented on #18310
is ti defined by the list-style?

[2019-11-06 19:32] retrofox commented on #18310
No, [it is not](https://github.com/WordPress/gutenberg/blob/master/packages/block-library/src/navigation-menu/style.scss#L101).

[2019-11-06 19:32] #16965 closed

[2019-11-06 19:33] mtias commented on #18329
This happens intermittently for me.

[2019-11-06 19:36] mapk commented on #17335
Here's how the Blocs App does this. It uses a much larger Inserter. Just sharing more research.

![blocs 2019-11-06 11_35_16](https://user-images.githubusercontent.com/617986/68331284-97788900-0089-11ea-9d7a-def492b9d846.gif)

[2019-11-06 19:38] mtias commented on #18322
I don't agree here. The link button is not a toggle and can be used to edit an existing link, so should remain as the same icon. It's the same behaviour as links for images:

![image](https://user-images.githubusercontent.com/548849/68331466-4e4e2680-00d5-11ea-8598-c4aca96ebc13.png)

[2019-11-06 19:54] mapk commented on #17335
More looking at what others are doing out there.

Qubely uses a button in the Top Toolbar to open a modal.

![qubely 2019-11-06 11_51_50](https://user-images.githubusercontent.com/617986/68332733-271f3700-008c-11ea-854b-67aaf28d49dc.gif)

[2019-11-06 19:59] aduth opened #18348 "Raw Handling: Cannot paste in inline boundary and retain style"
**Describe the bug**

When pasting text while within an inline boundary (i.e. an italicized segment of text), the inline styles are not applied.

**To reproduce**

Steps to reproduce the behavior:
1. Copy some text. Like this: `Hello world`
2. Navigate to Posts > Add New
3. Click the writing prompt
4. Press <kbd>Cmd+I</kbd> to italicize the text
5. Write something
6. Attempt to paste the contents

[2019-11-06 20:00] #18232 closed

[2019-11-06 20:04] pagelab opened #18349 "RSS Block: missing “has-dates”, “has-authors” and “has-excerpts” classes in <ul> tag"
**Describe the bug**
The `has-dates` class is missing in the RSS Block when the **Display date** option is activated.

**To reproduce**
Steps to reproduce the behavior:
1. Add a new **RSS block**.
2. Check the **Display date** option in the block settings.
3. Inspect the block's HTML and find the `<ul>` tag. The `has-dates` class is missing there.

**Expected behavior**
There should be a `has-date

[2019-11-06 20:08] shaunandrews commented on #18316
I don't think there is an icon that shouts "Navigation", but the current one seems to be the best I've seen so far. Regardless of what icon we use, I think it's going to be a little obtuse for some people.

That said, I'm not sure the icon is super important for the majority of use-cases with the Navigation block.

[2019-11-06 20:10] shaunandrews commented on #18329
I'm not able to reproduce this, and it seems more like a bug that a "design feedback" issue.

[2019-11-06 20:23] mapk commented on #18129
Looks like some of these styling issues may be happening within Gutenberg as well.

![color 2019-11-06 12_22_19](https://user-images.githubusercontent.com/617986/68334802-30120780-0090-11ea-99f5-6adad46983d4.gif)

@enriquesanchez you mind taking a look at this one?

[2019-11-06 20:49] Zalbatros commented on #18316
Would it help if the icon looked a little more like a compass? Maybe make the arrow smaller, put a circle around it. Or maybe just rotating it a couple of degrees counter clockwise will do the trick?

[2019-11-06 20:50] epiqueras commented on #13203
@aduth your CodePen is working pretty well for me.

[2019-11-06 20:54] aduth commented on #13203
@epiqueras It's meant to show 100%, 50%, and 33% column widths at mobile, tablet, and desktop respectively, which (at least in my testing) is not happening. I know the implementation is close but not quite correct, and I figured demonstrating the _idea of it_ was more important than finding the end of the rabbit hole it was quickly turning into 😄

[2019-11-06 21:56] enriquesanchez commented on #18129
@gziolo I have a couple of questions:

1. I'm noticing that there are some global styles missing, or at least I'm used to seeing them applied globally to Gutenberg. For example, `box-sizing: border-box;` does not appear to be included on this component. Are these missing on purpose? Can they be added globally to the components in Storybook?

2. How much can this component be changed?

Aside from t

[2019-11-06 22:15] jmichaelward opened #18351 "Surface user's visual editor preferences into the post editor settings panel."
**Is your feature request related to a problem? Please describe.**
As a WordPress user, if I have checked "Disable the visual editor when writing" option in my profile preferences, I may have a confusing onboarding experience once I'm finally ready to try the new block editor.

A friend of mine, who is an infrequent user of WordPress, long ago checked this preference in his user profile because he

[2019-11-06 22:42] karmatosed commented on #18307
I have been going backwards and forwards on this a bit tonight. I have settled I think on a potential direction which either works or can serve as idea fuel for an iteration tomorrow.

If we can link to existing menus here is my suggestion:

<img width="758" alt="navigation-placeholder" src="https://user-images.githubusercontent.com/253067/68344269-83af4000-00e6-11ea-8516-b2edd5db51a1.png">

I did

[2019-11-06 22:47] karmatosed opened #18352 "Iterate on message for no block found when experiment de-activated"
Currently, you get the following when for example you use the navigation block and then de-activate it.

![nosupport-message](https://user-images.githubusercontent.com/253067/68344642-7181d180-00e7-11ea-805b-591f5bc39894.png)

It could be good to review this copy and also maybe add some notice styling.

[2019-11-06 23:20] markarms commented on #18321
I can't speak to translation here but agree that "Edit" makes sense and if it already used across other areas then we should go with that.

[2019-11-06 23:21] noisysocks commented on #17539
Closing this one out as #17986 implemented the bulk of the functionality.

@mtias: Is this something that we still want? If so I'll create a new issue.

[2019-11-06 23:21] #17539 closed

[2019-11-06 23:23] markarms commented on #18332
This looks good.

[2019-11-06 23:49] mapk opened #18353 "Navigation block: Adding an existing menu needs design improvements"
### Describe the bug
When adding a Navigation block, it assumed my current nav as the default. This is okay, but needs some styling to improve the experience. The content for my navigation is from the Theme unit testing import.

I'm also not entirely sure why the `+` inserter is outside the block on the right side. The inserter icon that is outside and below the block adds blocks outside and below

[2019-11-06 23:57] mapk opened #18354 "Navigation block: Hover state for first item is lost"
**Describe the bug**
When hovering over Nav items, I see a grey left border appear. This is good because it indicates that there's an interaction that can happen. But when I hover over the first item in the Nav block, I don't see any left border. This is probably b/c it's tied in with the left border of the block, but I'm left without a visual hover state.

**To reproduce**
Steps to reproduce the

[2019-11-07 00:01] mapk commented on #18340
Adding an item from the sidebar does feel a bit awkward. This can be solved by just removing the "Add" option in the sidebar.

I'm not sold that we should remove the entire Nav structure from the sidebar though. It's nice to see it laid out without overlapping the block itself. For larger menus this might serve to be quite useful.

[2019-11-07 00:05] mapk commented on #18337
Should we solve for this with a design exploration around fading out long words into a smaller space?

I'm thinking of something like this specifically, but am completely aware it may not be a great solution.

![Screen Shot 2019-11-06 at 4 04 52 PM](https://user-images.githubusercontent.com/617986/68348621-454a5e80-00af-11ea-8d84-8a3c8b4524b4.png)

[2019-11-07 00:08] mapk commented on #18341
"Add to reusable blocks" can probably go away. However, "Edit as HTML" might be useful? Say if I had a link that I wanted to display differently than the others... maybe I can edit the HTML to do so.

[2019-11-07 00:11] mapk commented on #18333
Ooooh. Those trailing `+` icons are all over the place! Definitely needs help.

![Screen Shot 2019-11-06 at 4 09 55 PM](https://user-images.githubusercontent.com/617986/68348848-07016f00-00b0-11ea-9895-ab86ca12f0ac.png)

Can we drop those `+` icons completely since we have a block toolbar icon that adds more submenu items?

![Screen Shot 2019-11-06 at 4 11 32 PM](https://user-images.githubusercont

[2019-11-07 00:13] mapk commented on #18333
We could probably drop them from the sidebar too!

![Screen Shot 2019-11-06 at 4 12 36 PM](https://user-images.githubusercontent.com/617986/68348941-53e54580-00b0-11ea-80f6-bf6ab2b92fbe.png)

[2019-11-07 00:21] mapk opened #18355 "Navigation block: How to add a new, clean Nav block?"
**Describe the bug**
I was trying to add a brand new Nav block to my post, but every time it would automatically initialize with my current nav items already added. How do I add a new Nav without any items to my post?

**To reproduce**
Steps to reproduce the behavior:
1. Make sure you have a Menu already created.
2. Add a Navigation block.
3. Observe that items are already added to the block and t

[2019-11-07 00:22] mapk commented on #18332
It's quite a bit there, but works! Let's do it!

[2019-11-07 00:29] mapk opened #18356 "Navigation block: Removing the block causes an error"
**Describe the bug**
When removing a block, I get an error.

**To reproduce**
Steps to reproduce the behavior:
1. Add a Navigation block.
2. Remove the Navigation block.
3. Observe the error.

**Expected behavior**
I don't expect any errors to happen.

**Screenshots**

![error 2019-11-06 16_26_43](https://user-images.githubusercontent.com/617986/68349575-71b3aa00-00b2-11ea-9dc8-33659f6c2e42.gif)

[2019-11-07 00:37] mapk commented on #18331
I'm a little lost here, so bear with me...

**If you're talking about the light grey border around the input field**... that's necessary because it indicates an input field, but at the same time it's so light I can barely see it. My suggestion in this case is to keep the border around the input field and darken it for accessibility.

**However, if you're talking about the dotted border**... that's

[2019-11-07 00:40] mapk commented on #18330
As I fiddle with this block, you're suggestion here makes a lot of sense! 👍

I'd like to see something like this to help the user focus on the item they are editing. Right now it's a bit too difficult to figure understand the edited item's relationship to the whole.

[2019-11-07 00:43] mapk commented on #18329
I'm able to reproduce this. However, I have no idea what's going on and am completely confused by this interaction.

![add-item 2019-11-06 16_42_14](https://user-images.githubusercontent.com/617986/68350213-7aa57b00-00b4-11ea-8b8b-103419682009.gif)

[2019-11-07 00:44] mapk commented on #18328
I can see how this might be understood as "Move this top item to the bottom". We should look into a new icon for adding sub-menus. 👍

[2019-11-07 00:49] mapk commented on #18323
Do we have examples of how other UIs handle this? Google docs tends to separate out these two into their own icons.

![Screen Shot 2019-11-06 at 4 47 27 PM](https://user-images.githubusercontent.com/617986/68350437-2353da80-00b5-11ea-994f-ba415d6aacb9.png)

I don't think a line through the circle would work because that would indicate to me that there's no text or color. Maybe we don't show anythi

[2019-11-07 00:51] mapk commented on #18321
I agree that "Edit" should work fine here.

[2019-11-07 00:53] mapk commented on #18320
AND they're both written differently: One uses `Title Case`, while the other uses `Sentence case`. However we move forward here, let's use `Sentence case` for sure!

I'm okay with removing the one in the sidebar if we're removing one. The one in the popover aligns nicely with other link interfaces in the UI.

[2019-11-07 00:57] mapk commented on #18315
I'd also really like to see that input field to be larger 2 characters by default.

[2019-11-07 01:18] kiwipaulrob commented on #805
Any update on audio playlists in Gutenberg?

[2019-11-07 01:24] epiqueras commented on #13203
I went into the rabbit hole 😆

Here's how to fix it:

- It looks like like `insertRule` unshifts instead of pushing. So, for respecting the order of rules and therefore their specificity:

[code]

- The approach used to set the `iframe` width doesn't seem to work. All matches fail, even the ones that should pass. For some reason, reading/logging `iframe.contentWindow.innerWidth` inside the load ha

[2019-11-07 01:27] tellthemachines commented on #18308
This issue applies everywhere the `ColorPaletteControl` component is being used, so we need to look at changing it [in that component](https://github.com/WordPress/gutenberg/blob/master/packages/block-editor/src/components/color-palette/control.js). I'll update this issue's labels accordingly.

[2019-11-07 02:10] mapk commented on #15980
@getdave I believe we have a way forward. Can you work on this?

[2019-11-07 02:11] mapk commented on #17588
The problem still exists. I'll try to knock this out soon.

![Screen Shot 2019-11-06 at 6 11 12 PM](https://user-images.githubusercontent.com/617986/68354301-db3ab500-00c0-11ea-98b1-5858063c67ed.png)

[2019-11-07 02:20] JuanVqz commented on #17588
I could help but I didn’t see, what is the file? When selecting a block it shows?

[2019-11-07 02:42] mapk commented on #17588
@JuanVqz, which version of Gutenberg are you using? It looks like the keyboard shortcut panel reveals it might be an older version? Do you have the Gutenberg plugin installed and updated?

[2019-11-07 02:48] JuanVqz commented on #17588
Right now I don’t know what version I have but I think is a new version because I downloaded recently. (Like 6 days ago)
tomorrow I could share my version

[2019-11-07 03:07] Shizumi commented on #18079
that's it.
certainly happened.

[2019-11-07 04:24] talldan commented on #16172
As you probably know, this is an open source project, so we rely on contributions. The hard part is that there are a lot of people creating issues, but only a limited number of people helping to organise/triage those issues. It's unfortunate that there weren't more responses to the `Needs Testing` label on this issue (not for over two months), as those responses would have helped bring this to att

[2019-11-07 04:25] paaljoachim commented on #17640
Hey Jaakko @MainioMooses

I am working on a site right now and I am using the Gutenberg plugin version 6.8.0. I see no way to align the reusable buttons. As your saying they are automatically aligning to the left.

Has this been solved? How? If not can you reopen this issue?
Thanks.

[2019-11-07 05:29] paaljoachim opened #18359 "Bug: Not able to align all gallery images on one line on wide/full alignment"
**Describe the bug**
I added 8 columns for galleri images. They are seen like this:
(Yes the media library dialog box is showing up pretty weird as well.)

![Screen Shot 2019-11-07 at 00 22 16](https://user-images.githubusercontent.com/5323259/68362282-c1b36080-00f4-11ea-949e-e00b88dc37fe.png)

Adding 8 columns all the images should show up next to each other.

Checking the frontend:

![Screen Sho

[2019-11-07 05:58] tpaksu commented on #18304
I succeeded giving `wp.i18n.setLocaleData()` the correct form of data by debugging the code. I was giving the whole Jed object, but that function was accepting only the domain's `locale_data.domain` part. Now I need to merge the files which are related to gutenberg only. Because the `{locale}.po` file contains only some parts of gutenberg (doesn't cover block strings). Do you have any hint for tha

[2019-11-07 06:02] galbaras commented on #16172
The block editor is exciting to develop, and much less exciting to support, so thank you, @talldan , for taking the time and analysing.

What would you suggest? By "which aren't removed by any of the filtering the editor does", I'm guessing you meant "currently". Is this a matter of adding some filtering before adding the text to the block?

[2019-11-07 06:20] kxmp opened #18360 "[BUG]Post update/save fail when it contain this character"
I'm using WordPress 5.2.2
Is it same for you other guys?

Problem solved after using utf8mb4 character set in database

[2019-11-07 06:35] talldan commented on #16172
I think I have an idea on how to fix the second issue. It looks like stripping out the spaces that are outside of those `` and `` where they exist should resolve that. I think it could be done in a fairly browser/platform agnostic way. I'll work on a pull request.

The first one seems trickier, as there are potentially cases where newlines should be preserved. @ellatrix will know more.

[2019-11-07 07:42] bobbingwide commented on #18079
### Workaround 2
Generate the original content with a new line after the more.

[2019-11-07 08:15] jasmussen commented on #17335
Great shares, Mark.

I would note that the Qubely approach is one I would think we should avoid, and it's an approach a number of other block collections take. The approach assumes the user is on a desktop screen and isn't using the "Top Toolbar" option, or even the future "show labels for all icons" option. So if we were to add an actual separate button, we would likely want to add it in direct c

[2019-11-07 08:43] getdave commented on #18329
I have been able to replicate this and it's consistently one of the worst pieces of the interaction and UX. We'll look into the technical reasons behind this. Thanks for raising @karmatosed!

[2019-11-07 08:44] silvanarnet commented on #18311
same issue

[2019-11-07 08:47] draganescu commented on #18331
I am not sure if we need to treat the menu item as an input and add a border to it, because being a Rich Text you'd expect it to simply be editable text, not an input as there is no form to submit. I would remove the border altogether.

[2019-11-07 08:48] draganescu commented on #18307
@getdave I think the second option above is what we need at this stage right?

[2019-11-07 08:49] flemmingss commented on #10109
This problem still exist, I have an updated WP, and today 07.11.19 I have this issue on my site.
This is my forst youtube embed so i don't know how it worked before.
Anyway, removing the `wp-embed-aspect-4-3` from code worked here also.

[2019-11-07 08:50] draganescu commented on #18329
I wonder if the quick fix isn't simply not showing the appender when a menu item is being edited?

[2019-11-07 08:52] draganescu commented on #18319
Yes, I will remove the border and see how to preserve the style in edit mode.

[2019-11-07 08:57] Morgunov-Vitaly commented on #17406
hi! The same issue!
Windows: 10
Chrome:  77.0.3865.75
WordPress: 5.2.4

[2019-11-07 08:59] getdave commented on #18307
I would agree @draganescu.

It would be good it @mtias could confirm he's happy to skip the Menu piece for now, we can split that into a separate Issue.

Thanks for the design and thinking @karmatosed 👍

[2019-11-07 09:14] spencerbeggs commented on #7342
A little hacky, but you can just conditionally set the default value:

[code]

[2019-11-07 09:15] koke commented on #8685
Another instance of this is when you chose "Edit as HTML" for an individual block in an RTL context:

![Screen Shot 2019-11-07 at 10 11 05](https://user-images.githubusercontent.com/8739/68375610-71b1b980-0147-11ea-9267-2c06b0673dee.png)
![Screen Shot 2019-11-07 at 10 15 03](https://user-images.githubusercontent.com/8739/68375632-7c6c4e80-0147-11ea-92a7-04f6c7797ac4.png)

[2019-11-07 09:18] torounit opened #18362 "When using IME and Chrome, delete a new paragraph and enter a sentence, it is inserted in the wrong position."
**Describe the bug**

This problem occurs when inputting Japanese using IME and Google Chrome. ( not happen Firefox / Safari. Not yet tested on Edge or IE 11. )

Press Enter to create a new paragraph block. If you delete the new paragraph with the Backspace or delete key, the next text you type will be inserted at the beginning of the sentence or just after the <strong>.

**To reproduce**
Steps to

[2019-11-07 10:24] gziolo commented on #18129
I have no idea to be honest. @jasmussen, @karmatosed, @mapk or @melchoyce,  might be better suited to answer this question. Do those styles are defined in Gutenberg or WordPress?

Again, the same group I mentioned will know best. Ideally, they should look similar in Storybook and in Wordpress :)

[2019-11-07 10:28] maximebj commented on #18280
I went here for this.

I think we should keep the "pen" icon for now for every block.

For the Gallery block, it's an issue:  After creating a gallery, there is no way to change the pictures.
It works the first time.
Click on "Media Library" and "Edit Gallery". It's ok.

<img width="585" alt="capture 2019-11-07 à 11 26 09" src="https://user-images.githubusercontent.com/1785489/68381275-a4f94600-0

[2019-11-07 10:32] jasmussen commented on #18129
Arguably, `box-sizing: border-box;` should be applied everywhere and unset, as opposed to the other way around as is the case in browsers now. Because it is a much more logical way to work with paddings, borders and margins than the default box model.

However the reality is that we are stuck with a world where `box-sizing: content-box;` is the default. Given this fact, and the fact that we are no

[2019-11-07 10:49] #13218 closed

[2019-11-07 10:49] #16252 closed

[2019-11-07 11:12] mcsf opened #18364 "Verse: Block example should be a single string for translators to handle"
## Context

See context for _block examples_:
* Design issue #17488
* API implementation #17124
* First examples #17493

## Issue

Currently, the example for the Verse block is made up of distinct translatable strings:

https://github.com/WordPress/gutenberg/blob/59da6ed091222a0e3e9cabe188b37bfe92b77205/packages/block-library/src/verse/index.js#L24-L33

This harms the translating experience greatl

[2019-11-07 11:15] mcsf commented on #18364
Explored in #18365.

[2019-11-07 11:22] draganescu commented on #18335
@karmatosed what theme did you use? With the new twenty twenty and gutenberg starter I do have the spacing. However there are other issues which I've come accross:

- the front end styling does not apply to the back end editor
- there are some styling glitches when editing menu items
- there is some top padding missing in the menu block

A small screencast: http://cloudup.com/cNPklJRqXoH

[2019-11-07 11:25] mcsf commented on #17743
@koke, @pinarol, @hypest: anything from Mobile that should be listed here?

[2019-11-07 11:27] mtias commented on #18307
Yes, happy with that.

I have some feedback on the design.
* The button text seems a bit too long and repetitive ("Create..."), can we simplify?
* It should also be possible to fit the two buttons in a row with terser actions.

[2019-11-07 11:35] mcsf commented on #17640
As of today (`master`, post-6.8), I can't reproduce the issue.

[2019-11-07 11:37] Shizumi commented on #18362
Reproduced.

Desktop :
- OS: mac 10.14.6
- Browser chrome
- Version 78.0.3904.87

It reproduces even without plug-in.

[2019-11-07 11:40] draganescu opened #18366 "Menu colours are lost when switching themes"
**Describe the bug**
When switching themes the navigation block in posts does not retain the background and foreground colours previously set.

**To reproduce**
Steps to reproduce the behavior:
1. Create a post
2. Create a navigation menu block
3. Set background and foreground colors
4. Save and publish the post
5. Go to Appearance -> Themes and change the theme
6. Go back to the post you created

[2019-11-07 12:11] retrofox opened #18368 "NavigationMenuItem: Set placeholder when creating a new item."
When a new item is created and the LinkControl popover field focused, the RichText field should show the same text that when it's empty: `Add item...`

![image](https://user-images.githubusercontent.com/77539/68388097-a705d980-013e-11ea-9ef0-d4a2602fea4f.png)

[2019-11-07 12:13] paddylandau commented on #17406
@Morgunov-Vitaly

You must upgrade your Chrome to version 78.

[2019-11-07 12:18] karmatosed commented on #18307
<img width="758" alt="Frame 6" src="https://user-images.githubusercontent.com/253067/68388496-b134d180-0158-11ea-88f1-6401cc9b32fe.png">

This is a suggestion but we can have a copy review also.

[2019-11-07 12:20] mtias commented on #18355
Closing as duplicate of #18307.

[2019-11-07 12:20] #18355 closed

[2019-11-07 12:20] MainioMooses commented on #17640
Hello Paal @paaljoachim

Can confirm issue still exists. Here's a link to a video on YouTube, on which I show the issue.

[https://youtu.be/f9uJt7HWaWA](https://youtu.be/f9uJt7HWaWA)

Upon converting a block to a Reusable block, you loose the ability to align the items within - at least with a button. Even if you convert a block into a Reusable block AFTER you've aligned the content, the alignment

[2019-11-07 12:22] mtias commented on #18307
Maybe the first one could say "All Top Pages" or similar.

[2019-11-07 12:24] mtias commented on #18353
This is because of #18298 — it's only outside because the container has been exceeded.

What do you have in mind?

[2019-11-07 12:28] mtias commented on #18317
I think this should be allowed, we can improve how it's communicated in #18305.

[2019-11-07 12:28] #18317 closed

[2019-11-07 12:33] mtias commented on #18301
I don't think it's related to auto-focus, since if you focus on the label and remove the text the cursor also disappears.

[2019-11-07 12:34] mtias commented on #18368
This should be just a case of focus and selection. A good reference is how the image block handles the caption rich text field.

[2019-11-07 12:35] michelleweber commented on #18307
I feel like I want the button and link to say "Create page menu" and "Create empty menu" for parity and clarity.

Even better, maybe, would be something like "Create page menu" and "Create custom menu," with updated text above that says something like "Create a menu with all of your site's current pages, or build a custom menu with a mix of links."

(Which also makes me just want two buttons, to s

[2019-11-07 12:37] mtias commented on #18330
This is what "Focus Mode" does and works well with the navigation block since it uses child blocks. I don't think it should be forced on the default experience.

[2019-11-07 12:38] spacedmonkey commented on #18213
Related: #18171 #17774

[2019-11-07 12:40] mtias commented on #18351
This is a good point.

[2019-11-07 12:41] spacedmonkey commented on #17774
I think we should add `add_theme_support('disable-gradient-presets')`. See #18213

[2019-11-07 12:41] karmatosed commented on #18335
Twenty Nineteen was what I tested with, it should work with that though.

[2019-11-07 12:43] mtias commented on #18333
The plus is a trailing inserter when a sub-menu already exists. It should show only for the currently selected level.

[2019-11-07 12:43] karmatosed commented on #18331
I also feel it shouldn't be treated as input as we don't do this to typing area.

[2019-11-07 12:49] mtias commented on #18340
Related https://github.com/WordPress/gutenberg/pull/18203

[2019-11-07 12:50] karmatosed commented on #18315
I don't think the input is the issue here though. For me, it's showing everything on at once. For example, reducing the toolbar back and having it just load a link interface would be better for the cognitive load. I also don't see this as an input field as it's like typing for me.

[2019-11-07 12:55] mmtr opened #18370 "Social links: Inconsistent clicking behavior"
**Describe the bug**
When clicking on a social link logo, its position determines the behavior:
- If the logo is to the left of the mover, the address input shows up.
- If the logo is to the right of the mover, the address input doesn't show up.

![Nov-07-2019 13-52-26](https://user-images.githubusercontent.com/1233880/68390592-e693ec00-0165-11ea-88fa-90f81b009772.gif)

**To reproduce**
Steps to r

[2019-11-07 12:57] karmatosed commented on #18323
Problem with just circle like that it can look like 'white' is color selected.

[2019-11-07 13:09] mtias commented on #18331
The text is a Rich Text attribute, same as the text of a Button block, so shouldn't have any border unless it's part of the front-end design as well. The menu item as a whole should have a focus state (like when you press Escape).

[2019-11-07 13:10] karmatosed commented on #18330
Whilst I get that it did make me think about this being for nested blocks the default. Maybe something to explore or at least note in a Tip could help (if we have Tips include things like that later).

[2019-11-07 13:15] karmatosed commented on #18341
Editing HTML can very easily mess things up, do we want to expose that?

[2019-11-07 13:18] karmatosed commented on #18322
What about highlighting it has a link somehow? There is a lack of a visual indicator as that icon just doesn't change for link.

[2019-11-07 13:22] mtias commented on #18322
We should highlight when it doesn't have a link: #18305.

In the future, an exploration could be done to show the link directly in the toolbar:
![image](https://user-images.githubusercontent.com/548849/68392421-0decb800-016a-11ea-96d6-c600ca3b2fd7.png)

[2019-11-07 13:55] getdave commented on #18307
OK no problem. Unless @karmatosed gets here first, I'll give @mtias's feedback a go and she can critique it and provide amendments as required.

[2019-11-07 14:06] getdave commented on #18307
I've created this PR with a reasonable approximation of the design. Feel free to leave further feedback there for me to action.

https://github.com/WordPress/gutenberg/pull/18363

@mtias I have a technical query that I could do with some assistance on if possible.

[2019-11-07 14:25] getdave opened #18373 "REST API endpoint for Menu Post Types"
Currently there is no way to access Menu `Post` data via the REST API.

This will be required for the enhanced version of the Block placeholder for new Nav Menu Block where you need the option to select from an existing WP Menu. See [here](https://github.com/WordPress/gutenberg/issues/18307) for more context.

**Describe the solution you'd like**
A custom API endpoint in Gutenberg which provides a

[2019-11-07 15:02] trejder commented on #16172
Thank you @talldan for providing such a great review of this issue. However, there's one thing that I must correct (emphasis mine):

The above statement is not true, at least not in my environment (Chrome 78 + Windows 10 Pro), where this issue does exist and is observable by me with every text paste into Gutenberg.

I have just performed a quick test of pasting text into Gutenberg editor from:

-

[2019-11-07 15:24] GilCarvalhoDev opened #18375 "'@wordpress/base-styles@latest' is not in the npm registry"
I am trying to install Wordpress base-styles as per the command below:

`npm install @wordpress/base-styles --save-dev`

This command is recommended at the link:
https://github.com/WordPress/gutenberg/tree/master/packages/base-styles

Could you correct it please?

Thanks.

Problem screenshot:
![image](https://user-images.githubusercontent.com/3825188/68401872-38824500-0159-11ea-8548-bf9314c603ac.p

[2019-11-07 15:36] mapk commented on #18307
I remember [Matt saying we're getting away from calling this a "menu"](https://youtu.be/LezbkeV059Q?t=1276). Should this be something we reflect in this work? "Menu" does feel nice in context to how the wording is structured, but if moving away from that word is a goal, we should align that here too.

[2019-11-07 16:01] #18366 closed

[2019-11-07 16:18] richtabor commented on #17335
And here's a snapshot of how SquareSpace does has  **a separate interaction for page architecting and content editing**, providing context to [my earlier comment](https://github.com/WordPress/gutenberg/issues/17335#issuecomment-544727450).

And here's [a continued conversation (Slack)](https://wordpress.slack.com/archives/C02S78ZAL/p1573066376198400) that we discussed through yesterdays design mee

[2019-11-07 16:21] karmatosed opened #18377 "Navigation background color doesn't show and gets stuck"
I just had an interesting experience where the background color wasn't showing despite being set:

![image](https://user-images.githubusercontent.com/253067/68406649-12b96800-017a-11ea-8984-3de03d3eacb8.png)

I also just noticed on changing themes it seemed to be stuck on the color I'd set before. I wonder if that makes sense or it should reset?

[2019-11-07 16:24] gziolo commented on #16283
Re-sharing my own comment from https://github.com/WordPress/gutenberg/pull/18343#issuecomment-551148834:

We discussed it with @aduth on WordPress Slack in #cored-editor channel (link requires registration):
https://wordpress.slack.com/archives/C02QB2JS7/p1573132722147200

I will update this comment with a summary soon.

[2019-11-07 16:53] shaunandrews commented on #18307
Worked up a few more ideas around the Navigation block's initial state. The first uses two buttons with a skip to let you choose from either your existing pages or existing menus (if one or more exists):

![nav initial state 1](https://user-images.githubusercontent.com/191598/68408920-39fd3e80-0154-11ea-9529-3185d446acbb.gif)

The second mockup uses radio buttons to outline all the available optio

[2019-11-07 17:03] shaunandrews commented on #18307
After posting my comment above, I refreshed the page and realized I didn't see a bunch of comments. (Never trust Github to be up-to-date.)

That said, here's another option we could consider:

![nav initial state 3](https://user-images.githubusercontent.com/191598/68410401-a8430080-0156-11ea-8393-2a1332171c98.gif)

[2019-11-07 17:09] getdave commented on #18335
@wunderbart Will be taking this one on I believe.

https://github.com/wunderbart

[2019-11-07 17:17] draganescu commented on #18329
My initial idea was to hide the appender when the menu item is in edit mode. However the problem is that it is not immediately clear what to do to get the appender back.

So, I discovered the problem was the fact that when the appender is clicked the menu item UI shrinks because it is deselected and the appender moves away from below the cursor, and the focus event which should insert a new menu i

[2019-11-07 17:22] #13402 closed

[2019-11-07 17:43] ellatrix commented on #16172
I think #17470 might fix these issues. I was hoping to get that in WP 5.3, but it didn't get any reviews.

[2019-11-07 17:52] bbertucc commented on #17774
@spacedmonkey - I'm working on a site now with brand guidelines that specifically discourage using gradients, so yes- would love `add_theme_support('disable-gradient-presets')`

[2019-11-07 17:56] karmatosed commented on #18319
Related to this I get the following where the theme styling seems to vanish:

![image](https://user-images.githubusercontent.com/253067/68414352-ec022e00-0187-11ea-9662-ae0c275836d7.png)

[2019-11-07 18:08] trejder commented on #16172
It really sounds like #17470 could fix #16172 (and probably some more issues). Keeping fingers crossed to get these changes ASAP.

Who can review changes? Who, and under what conditions, can become a reviewer / accepting entity? From browsing quite a large number of issues reported here it clearly seems that you have a fixture for a really impressive number of bugfixes, but you seems to be lacking

[2019-11-07 18:09] retrofox commented on #18319
Please [try to get this one](https://github.com/WordPress/gutenberg/pull/18374) before to start to work on this.

[2019-11-07 18:24] retrofox commented on #18377
could you tell me what is the theme in these tests?

[2019-11-07 18:29] retrofox commented on #18377
Well, it applies the colors with inline style beyond if they were applied via the color palette or with customs ones. I'm not sure if it's easily doable.

[2019-11-07 18:50] ellatrix commented on #16172
The Gutenberg core team (excluding the PR creator) gives a final review, but it really helps final reviewers when any involved party tests the PR, gives feedback, and perhaps reviews the code. So anyone can review, which facilitates a required final check by the core team.

[2019-11-07 19:09] retrofox commented on #18377
Sorry, maybe I'm misunderstanding the issue here.

![image](https://user-images.githubusercontent.com/77539/68419117-61660280-0178-11ea-8bb6-521f5db0acb6.png)

Looking at your picture, what I see is not ok is the colors-selector icon. It shows background-color white (green circle). Btw, It's already fixed if I'm not wrong.
However, the background color of the menu seems to be consistent with the c

[2019-11-07 20:11] davidshq commented on #16889
I understand not showing all the formatting buttons due to importance, but it would be nice to be able to surface some buttons if the user desired. e.g., someone may find x button something they use frequently, having to click on a dropdown every time (assuming no keyboard shortcut, or user is not aware of shortcut) gets tedious.

[2019-11-07 20:38] stracker-phil commented on #1698
What a shame. More than 2 years after the problem was discovered it's still not working...

If you use Grammarly (you do, right?) then please head over to https://support.grammarly.com/ and open a new support request with them to address the urgency of the problem.

As an alternative, I found that https://languagetool.org/ also offers a free browser extension that works well with Gutenberg.

[2019-11-07 20:38] davidshq opened #18381 "Retain CSS Styling When Pasting Into Gutenberg"
When pasting into a Gutenberg blog (e.g., paragraph) Gutenberg retains only semantic markup and strips out CSS. Seems from https://github.com/WordPress/gutenberg/issues/15590#issuecomment-523794936 this is the expected behavior.

I think I understand the reasoning behind retaining only semantic markup - if CSS was included when pasting from sites it could result in some pretty confusing/odd result

[2019-11-07 21:08] TimothyBJacobs commented on #18373
@getdave The REST API team has been working on menu endpoints in [WP-API/menus-endpoints](https://github.com/WP-API/menus-endpoints). Read endpoints are pretty solid. Writes are more a work in progress.

cc @spacedmonkey.

[2019-11-07 21:25] karmatosed commented on #18322
Ok cool, closing this one out in preference of #18305 then.

[2019-11-07 21:25] #18322 closed

[2019-11-07 21:30] karmatosed commented on #18377
Oh so to be sure (because this confused me). The circle is showing 'if' something has been applied - it's got 'nothing if not'? I say because of these changes:

![image](https://user-images.githubusercontent.com/253067/68429296-b53b1080-01a5-11ea-9003-bc2bf8dadc69.png)

![image](https://user-images.githubusercontent.com/253067/68429317-bec47880-01a5-11ea-800b-6c0dce157fd2.png)

I really think we e

[2019-11-07 21:36] shaunandrews commented on #18377
I think this is/was a bug that seems to be fixed for me in the latest `master`:

<img width="348" alt="image" src="https://user-images.githubusercontent.com/191598/68429753-b1df5f00-017c-11ea-9734-849a13d23143.png">

All seems to be working as expected.

[2019-11-07 21:38] apeatling opened #18383 "Different style when selecting a navigation block item"
When I select a navigation block item, I wouldn't expect the text style to change so dramatically. The change in size make it easy to lose your focus point and is disorienting.

![2019-11-07 13 40 09](https://user-images.githubusercontent.com/1464705/68430044-307bd280-0164-11ea-82b2-c6459f7ff434.gif)

I think the selected style of the navigation block item should remain consistent so there is no j

[2019-11-07 21:53] karmatosed commented on #18323
One idea (probably not what we will end up on).

<img width="774" alt="tyr" src="https://user-images.githubusercontent.com/253067/68430944-04367500-01a9-11ea-876c-c792693f6a5a.png">

[2019-11-07 21:59] apeatling opened #18384 "Adding a nav item without a link does nothing"
If I type in a title for a navigation item, but then don't add a link to it, it looks like any other navigation item. When I look a the front end nothing shows:

![2019-11-07 13 53 16](https://user-images.githubusercontent.com/1464705/68431274-a8e39300-0166-11ea-9b07-9257c99ade6b.gif)

I would expect to see the item in the front end, but it not be a linked to anything.

[2019-11-07 22:04] apeatling commented on #18384
I would also expect links in the navigation block to look like links as they do on the front end.

[2019-11-07 22:09] apeatling commented on #18329
I can reproduce it consistently, just select a menu item then try and hit add:

![2019-11-07 14 06 21](https://user-images.githubusercontent.com/1464705/68431891-1fcd5b80-0168-11ea-8d58-2e2eb8405829.gif)

[2019-11-07 22:45] #18368 closed

[2019-11-07 23:01] retrofox commented on #18319
It seems it was tested with an old master version since now the background color is applied to the whole navigation menu.

[2019-11-08 00:01] mcsf commented on #18208
Added to the _Navigation block_ project for visibility, but please move it out or close if deemed unimportant.

[2019-11-08 00:26] elliotcondon commented on #7342
@spencerbeggs - This works, but causes a "double render" refresh.

[2019-11-08 00:29] spencerbeggs commented on #7342
@elliotcondon Only the first time you open the editor though. Like I said, it's a hack. My other solution was to double the needed attribute, keep them in sync and then destucture it out before saving. But I figure a slightly blinky UI was better.

[2019-11-08 00:37] paaljoachim commented on #17640
I made a reusable block in Gutenberg 6.8. Button block in itself has alignment but when changing it to a reusable block alignment goes away.

It looks like this:
![Screen Shot 2019-11-07 at 19 33 50](https://user-images.githubusercontent.com/5323259/68439498-c54af400-0195-11ea-98a1-2ab058cc74e2.png)

Comparison to saving a paragraph as a reusable block:
![Screen Shot 2019-11-07 at 19 36 20](https:

[2019-11-08 00:39] tellthemachines commented on #13203
The problem being addressed in this issue is allowing users to preview their site on different device sizes. This is easiest solved by changing the current preview functionality to render in an overlay with a bunch of toggles to make it resizable.

Whether we want to make the actual editor canvas resizable so that we can edit content on simulated device sizes should probably be dealt with as a sep

[2019-11-08 00:42] kmix-39 commented on #18362
Reproduced.
OS: mac 10.14.6
Browser: chrome 78.0.3904.87（Official Build） & 78.0.3904.87（Official Build）
Gutenberg 6.8.0

But, Not Reproduced.
Browser: safari

[2019-11-08 00:52] ombion commented on #9220
I notice that when leaving the editor mode open for a while with no activities (let's say I've been working on a page and have to step out for a lunch break,) and come back to continue editing the page again, the next time when I hit the Save button, I get the eternal "Updating..." status (see screenshot). This happens quite a few times.

This means that auto save works fine with the setup I have.

[2019-11-08 01:08] talldan commented on #16172
@trejder Yes, that's the second issue I described. The spaces within pasted text isn't an issue in Chrome (Issue 1), but the spaces around text is still an issue in Windows (Issue 2).

[2019-11-08 01:23] galbaras commented on #16172
@ellatrix maybe the core team will help if you put a call out to them. The block editor is now core, after all

[2019-11-08 01:26] talldan commented on #18299
@getdave Hmm, so there's now an appender there as well as the toolbar button. When I created this there wasn't an appender, but the issue with the toolbar button still seems present.

Here's a gif of the issue I'm referring to:
![prepending-toolbar-button](https://user-images.githubusercontent.com/677833/68441586-91111b00-0209-11ea-89fe-fd17c04fae3c.gif)

We may need to reconsider how that toolbar

[2019-11-08 02:12] paaljoachim commented on #14633
Hey

For instance I noticed today as I am working on a site that reusable buttons does not have alignment options. https://github.com/WordPress/gutenberg/issues/17640

Adding custom html such as a Google map the html block does not have alignment options.

For blocks that do not have alignment it seems one has these options:
1. Place the block into the group/columns something where one is able to

[2019-11-08 02:18] waviaei commented on #18362
Firstly, I have checked with combinations of the Core and the plugin. I found it only seems to happen when using the plugin. I am suspecting may be related to something that is in the plugin which are not yet merged into the core?

WordPress 5.2.4 = Not reproduced
WordPress 5.2.4 + Gutenberg 6.5.0 = **Reproduced**
WordPress 5.2.4 + Gutenberg 6.6.0 = **Reproduced**
WordPress 5.2.4 + Gutenberg 6.7.0

[2019-11-08 02:38] waviaei commented on #18362
I am going to restate the exact process which @torounit has written at the top. Because it seems to be very precise to reproduce it.

1. Paragraph block. Type something using IME, and press confirm key (e.g. space key) to confirm at the end.
2. Hit Return key, to start a new paragraph.
3. With or without typing anything, hit "delete" key. Which should move the cursor back to previous paragraph.
4.

[2019-11-08 05:32] #18360 closed

[2019-11-08 05:45] pento opened #18389 "Block API: pasteHandler() removes iframes too early."
**Describe the bug**

It's possible to register a block with a `raw` transform that converts an iframe to a block. This works as expected when transforming a Classic block into blocks.

However, when pasting a matching iframe into the block editor, `pasteHandler()` will run the `iframeRemover` filter before `htmlToBlocks()` is run, so the block transform isn't run.

**To reproduce**
Steps to repro

[2019-11-08 05:57] pento opened #18390 "Block API: pasteHandler() incorrectly treats single-line pastes as inline content."
**Describe the bug**

When pasting a single line of content that is transformed into a block, `pasteHandler()` will treat the resulting block as inline content.

**To reproduce**
Steps to reproduce the behavior:
1. Create a block with a `raw` transform which returns that block.
2. Paste content that matches the transform's `isMatch` rule.
3. Observe that the block is not inserted into the editor.

[2019-11-08 07:46] tpaksu opened #18392 "i18n: Include Tannin onMissingKey in i18n public API"
Is it planned to open `Tannin.options.onMissingKey` method to outside world like `wp.i18n.options.onMissingKey` or something? It would be nice for developers who want to debug their gutenberg translation related stuff, or gutenberg core translators.

[2019-11-08 08:09] tpaksu opened #18393 "Load translations outside WP"
Hello, I'm tinkering with GB outside the WP environment, and I'm trying to use different Jed formatted JSON configurations to translate the GB editor. But when I load the translations via `wp.i18n.setLocaleData`, some parts loaded before the setLocaleData don't change, for example the block titles and descriptions. I'm using this code to load translation into GB:

[code]

Even if I run the editor

[2019-11-08 08:42] ktmn opened #18394 "Question: Why are shortcodes from the post content evaluated on the block editor page?"
When you create a shortcode:

[code]

and add it to the classic editor, then the editor keeps working fine, but on the front end the site breaks, as expected.

But if you add the `[exit]` shortcode to block editor, then the block editor breaks as well.

Why are shortcodes evaluated in the back end when it didn't used to be the case?

[2019-11-08 08:55] jasmussen commented on #13203
Great discussion. Here's a slightly high level additional thought.

A goal of the editor is to **look exactly the same as the front-end**. If you've tried TwentyNineteen you know that even today, it's possible to get _quite close_ to that.

Barring any [magic](https://github.com/WordPress/gutenberg/issues/13203#issuecomment-550389126) happening, it is likely there's always going to be some discrep

[2019-11-08 09:11] waviaei commented on #18342
Hi. I would like to mention below issue which we have been looking into in Japanese community for past day. It involves Input Method Editor (IME) + Chrome, and "delete" key. **But similarly only seems to occurs in the last paragraph**. Possibility of relation?

https://github.com/WordPress/gutenberg/issues/18362

[2019-11-08 09:35] pinarol commented on #17743
`__experimentalGetAccessibilityLabel` is introduced by mobile team. It is providing a description of the block for VoiceOver feature. If you think it brings value to both platforms we can make it official. I guess we only need to open a PR to remove the `__experimental` part, right? Is there any other thing we should do?

I don't have any other additions on that list.

[2019-11-08 09:50] gziolo commented on #17743
It's part of the block definition so it should be included in JSDoc comments and developer docs. Ideally, it should be covered in the tutorials as well.

[2019-11-08 10:23] mtias commented on #18384
Related https://github.com/WordPress/gutenberg/issues/18305

[2019-11-08 10:24] mtias commented on #18383
This is being handled in https://github.com/WordPress/gutenberg/pull/18367.

[2019-11-08 10:30] tpaksu commented on #5168
IMO, a fallback to the "default" domain when the key doesn't exist in the given domain would also be a good feature for this.

[2019-11-08 11:06] mtias commented on #18383
For completeness, this was fixed before and regressed in https://github.com/WordPress/gutenberg/pull/18172

[2019-11-08 11:15] retrofox commented on #18331
Good to know, thanks. It was introduced by me 🤦‍♂ btw it has been already fixed, already on master.

[2019-11-08 11:20] retrofox commented on #18377
@karmatosed just for organizing purposes I'm going to close this one since it seems to be already fixed. Please feel free to re-open it if you keep seeing this bug.

[2019-11-08 11:20] #18377 closed

[2019-11-08 11:22] mtias commented on #13203
I agree with @jasmussen that building preview into a modal goes against the direction of making the editor itself feel like the real site, which we should do our outmost to improve and drive forwards. Specially in the context of full site editing, the "preview" button needs to evolve to be a more comprehensive tool to view and edit the page under various circumstances — including different device

[2019-11-08 11:37] mtias opened #18395 "Navigation Block: Allow configuring behaviour of dropdowns."
It'd be nice to be able to toggle the behaviour of dropdown menus to open on click / tap vs focus / hover. This could be a setting in the inspector controls.

[2019-11-08 11:41] mtias opened #18396 "Navigation Menu: Optionally use arrow for dropdowns."
It'd be nice to allow users to choose whether they want to show an arrow next to navigation items that have a dropdown. Probably off by default.

![image](https://user-images.githubusercontent.com/548849/68474144-f6263a00-0224-11ea-9725-731ee897f845.png)

[2019-11-08 11:41] spacedmonkey commented on #17774
@bbertucc Have you seen https://github.com/WordPress/gutenberg/pull/17603/files#diff-bda1f53deac273d361a56c63a5b90adeR146 ?

[2019-11-08 11:43] karmatosed opened #18397 "Style variations for menus"
Once the sub nav is completed in styling and everything is fixed with default styles, looking into adding some style variations would be good. For example:

- White background by default. Giving option of light/dark.

Other potentials are:
- On click appearing drop down over on hover.
- Without the arrow indicator.

[2019-11-08 12:10] mcsf commented on #17434
@epiqueras, could you revisit this? I'd like to be able to close the issue soonish. 🙏

[2019-11-08 12:12] pinarol commented on #17743
I did a quick check on that PR and saw that actually there's a different case there, dropped a [comment](https://github.com/WordPress/gutenberg/pull/18132/files#r344142282).

I've opened a new [issue](https://github.com/wordpress-mobile/gutenberg-mobile/issues/1559) to track the effort for making `__experimentalGetAccessibilityLabel` stable.

[2019-11-08 12:27] draganescu commented on #18384
this one is weird because the server side rendering code should show it with no href

[2019-11-08 12:29] getdave commented on #16283
I have an additional use case that I'd like to open up for discussion / consideraiton regarding Patterns and `InnerBlocks`.

The new [Nav Block requires a placeholder state](https://github.com/WordPress/gutenberg/issues/18307). This is only to appear if there are no existing Blocks.

It will allow:

* Create Menu from existing Pages
* Create Menu from existing Menu
* Create empty Menu / "Skip"

@m

[2019-11-08 12:33] #18331 closed

[2019-11-08 12:45] #18319 closed

[2019-11-08 12:49] ellatrix commented on #18390
Could you share (simplified) code?

[2019-11-08 13:12] draganescu commented on #18384
@apeatling I am unable to reproduce this behaviour, for me adding a menu item with no link results in an anchor tag with no href printed on the front end.

However, we could as @retrofox suggested not show an anchor anymore but another kind of tag, maybe a span since with no href, there is no link.

[2019-11-08 13:12] #18384 closed

[2019-11-08 13:23] draganescu commented on #18299
Yes this is happening because the position is hardcoded:

[code]

[2019-11-08 13:23] Soean commented on #18349
@pagelab Then we also should add `has-authors` and `has-excerpts`. Do you have an example why we need this styles or only for consistency?

[2019-11-08 13:42] draganescu opened #18401 "Navigation block item breaks on mobile"
**Describe the bug**
When inserting or editing a navigation item on mobile, the toolbar of the menu item breaks on multiple lines.

**Expected behavior**
It should stick to the bottom of the navigation menu block instead of being anchored to the navigation menu item.

**Screenshots**

<img width="310" alt="Screenshot 2019-11-08 at 15 30 56" src="https://user-images.githubusercontent.com/107534/684