[2022-08-18 19:24] annezazu opened #43394 "Image block: ensure boundary/border aligns with the image itself"
## What problem does this address?

When placing two images side by side, the image boundary when selecting the subsequent image overflows and takes on the space above. This is hard to explain so here are some visuals:

https://user-images.githubusercontent.com/26996883/185477298-89c2480a-b6f7-4caa-ac36-d58aab346758.mov

<img width="1168" alt="Screen Shot 2022-08-18 at 12 22 57 PM" src="https://us

[2022-08-18 19:32] mikachan opened #43395 "Global Style Variations: Changes to JSON file are not applied immediately"
### Description

When editing a style variation's JSON file, the styles aren't immediately applied when reloading the front end. In order to see the changes, you need to reload the Site Editor, re-select the variation from within Global Styles, and then reload the front end.

### Step-by-step reproduction instructions

1. Activate a theme with style variations, e.g. Twenty Twenty-Three
2. Go to Gl

[2022-08-18 20:34] kathrynwp commented on #32999
@bobbingwide Thank you very much for this report! I realize that I'm looking at this late, but I just tried to replicate the bug, going from 10.8.2 to the current version of Gutenberg, 13.9.0, with WordPress 6.0.1. I'm not seeing any error on the front end, and the query loop posts are all rendering as expected.

As there haven't been any other reports in the meantime, I'm going to go ahead and cl

[2022-08-18 20:34] #32999 closed, assigned to nobody

[2022-08-18 20:59] kathrynwp commented on #33079
I can still replicate this with:

WordPress 6.0.1
No plugins active

### Initial Document Outline

![Add_New_Page_‹_Self-hosted_Test_—_WordPress](https://user-images.githubusercontent.com/7662449/185493439-d10ba02b-7d46-4585-b854-0d7b381c5ffe.jpg)

### Outline After One Heading & One Paragraph made into a Reusable Block

![Add_New_Page_‹_Self-hosted_Test_—_WordPress](https://user-images.githubuser

[2022-08-18 21:07] kathrynwp commented on #33177
@creativecoder As it looks like this issue was fixed [in this PR](https://github.com/WordPress/gutenberg/pull/34820) I'm going to go ahead and close this out, but if you're still experiencing the original issue, feel free to add a comment with additional details and I’ll be glad to reopen it.

[2022-08-18 21:48] dsutoyo commented on #31208
@kathrynwp thanks for following up. I believe we can close this one. The issue was caused by me using a reserved word for a CPT.

[2022-08-18 22:17] annezazu commented on #37943
@Mamaduka how are you feeling about this work considering your WIP PR? Trying to check in ahead of feature freeze for 6.1 and this would be awesome to have progress on.

[2022-08-18 22:31] annezazu commented on #41451
Does this issue need to remain open? Seems the prior items listed for 6.1 have all been merged :)  https://github.com/WordPress/gutenberg/issues/41451#issuecomment-1176358358

[2022-08-18 22:43] annezazu commented on #41049
Can this be closed with this PR merged? https://github.com/WordPress/gutenberg/pull/43074

[2022-08-18 22:46] pbking opened #43397 "Element Font Family values written as values instead of variables"
### Description

When setting the Font Family for elements (Links, Headings and Buttons) the value written to the user Global Styles is the VALUE rather than the VARIABLE.  When the same action is performed on a block (for example the Button Block) or the base font family the VARIABLE is used instead.

This is a problem for Web Font Providers (like Jetpack's Google Font Provider and what Blockbase

[2022-08-18 22:54] #43234 closed, assigned to glendaviesnz

[2022-08-19 00:26] aaronrobertshaw commented on #43242
@ndiego you might already be aware, but there is a setting for theme.json that allows quick opt-in to all the standard supports, [`appearanceTools`](https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-json/#opt-in-into-ui-controls).

While I would also love to have a shorthand config option available at the moment, it obviously makes a lot of sense for the work outlined in this

[2022-08-19 01:52] github-actions[bot] opened #43400 "[Flaky Test] does not display the options to create from existing menus if there are no existing menus"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
does not display the options to create from existing menus if there are no existing menus

## Test path
`specs/editor/blocks/navigation.test.js`

## Errors

<time datetime="2022-08-19T01:52:48.600Z"><code>[2022-08-19T01:52:48.600Z]</code></time> Test passed after 1 failed at

[2022-08-19 01:56] #30519 closed, assigned to carolinan

[2022-08-19 02:05] t-hamano commented on #42542
Thank you!
Once the prototype is ready, I'd like to submit a PR as a proposal.

[2022-08-19 02:51] github-actions[bot] opened #43401 "[Flaky Test] should always focus select menu button after item selection"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should always focus select menu button after item selection

## Test path
`specs/editor/blocks/navigation.test.js`

## Errors

<details>
<summary>
	<time datetime="2022-08-19T02:51:08.322Z"><code>[2022-08-19T02:51:08.322Z]</code></time> Test passed after 1 failed attempt on

[2022-08-19 03:26] glendaviesnz commented on #39371
By way of an update on this work, we have now:

- Added the UI for using presets for [padding](https://github.com/WordPress/gutenberg/pull/42173) and [margins](https://github.com/WordPress/gutenberg/pull/43246) - this should be in the next GB release
- Add ability to [disable custom spacing sizes](https://github.com/WordPress/gutenberg/pull/43216) - this should also be in the next release

We will

[2022-08-19 03:36] glendaviesnz commented on #42961
Draft for [spacing presets](https://github.com/WordPress/gutenberg/pull/41527) available for review at https://make.wordpress.org/core/?p=98177&preview=1&_ppp=00c8d7730a

[2022-08-19 04:08] amberjones commented on #21516
Still happening in WordPress 6.0.1 with or without Gutenberg plugin Version 13.9.0

[2022-08-19 05:15] ramonjd opened #43404 "Layout: layout styles overriding block axial margin values in theme.json"
Possibly related to:
- https://github.com/WordPress/gutenberg/issues/39336

### Description

Blocks with top or bottom margin values specified in theme.json will have those values overwritten by flow layout CSS.

Layouts can specify [CSS in theme.json](https://github.com/WordPress/gutenberg/blob/04d57b34b8574e1f25de0f0bc5862e3da045c6ac/lib/compat/wordpress-6.1/theme.json#L229).

These layouts are

[2022-08-19 05:31] glendaviesnz commented on #43381
Getting consistent typography support across blocks is [currently being looked at here](https://github.com/WordPress/gutenberg/issues/43242).

[2022-08-19 05:56] carolinan opened #43405 "Add a way to identify which .JSON style variation that is in use"
There should be a way to identify which theme.json style variation that is in use:

- A unique identifier as a CSS class on the body, so that custom CSS can be applied to a variation. `is-variation-name`, `has-variation-name` or similar.
- A PHP function that returns true or false for variations, (similar to for example [is_page_template ](https://developer.wordpress.org/reference/functions/is_pag

[2022-08-19 06:02] andrewserong commented on #43404
Thanks for writing this up!

For a little more context, back in #42518 I had a go at removing the `body` prefix from the base layout rules. Unfortunately that resulted in individual block's margin rules that are shipped as part of the block CSS taking precedence over the Layout rules, which is undesirable — in that case, we want the wrapper / container block's block spacing settings to take priori

[2022-08-19 06:52] dennisheiden commented on #43378
Thank you for your clarification, looks like I was mixing up things but I'm aware of that now.

[2022-08-19 07:08] gziolo commented on #33542
@adamsilverstein, how is the work going on introducing strategies for loading scripts and styles? Once it's ready, I would be more than happy to look at integrating that with block assets in `block.json` file.

[2022-08-19 07:16] gziolo commented on #33542
I have a patch https://github.com/WordPress/wordpress-develop/pull/3108 ready targeting WordPress core that adds multiple assets support for individual script types in `block.json`: `editorScript`, `script`, and `viewScript`. It's also tracked in https://core.trac.wordpress.org/ticket/56408.

[2022-08-19 08:15] mtias commented on #34345
The semantic role of different heading levels is close to that of block variations:

<img width="337" alt="image" src="https://user-images.githubusercontent.com/548849/185575189-c774372c-99ce-45b2-97c5-148b8bca0560.png">

So maybe the issue is both visual and hierarchical, and heading level should go above the preview with more context around it.

[2022-08-19 08:21] #43198 closed, assigned to draganescu

[2022-08-19 08:31] mirka commented on #34345
I don't think so. The block variation switcher behaves like a `radio` — its **value is persisted**, and the values of its **sub-controls are discarded** when you change the block variation to another one. The heading level switcher in GS is purely a `tabpanel` switcher — its **value is not persisted**, and the values of all their **sub-controls are persisted** regardless of which tabpanel you last

[2022-08-19 08:47] mtias commented on #34345
I mean the semantic role in terms of how they are represent from the block API perspective — we have registered heading levels as variations of headings — which means accessing them could be presented as separate blocks or the quick variations selection. This also goes for selecting the right heading element in the block inspector on a block instance.

[2022-08-19 08:59] SantosGuillamot commented on #41451
I was waiting until 6.1 just in case some bugs arise while testing, but maybe it makes sense to close it and open new issues if needed. I'm closing it now, thanks for the heads up! 🙂

[2022-08-19 08:59] #41451 closed, assigned to nobody

[2022-08-19 09:17] #41049 closed, assigned to nobody

[2022-08-19 09:46] jasmussen opened #43412 "Stepped Slider: Followup changes and improvements"
A stepped slider recently landed, allowing you to set padding in multiples of a base unit. There are a few followups to look at.

## Fix artifact glitches 🚨

* [x] Fix artifact glitches with knob

Occasionally (exact steps to reproduce are unclear) but there's occasionally a white artifact on top of the blue knob:

<img width="317" alt="Screenshot 2022-08-19 at 10 44 47" src="https://user-images.g

[2022-08-19 09:49] Thelmachido commented on #33193
I added 3 columns to a page. I could easily see the inserter option, it wasn't being blocked by the toolbar as shown in the short video below:

https://user-images.githubusercontent.com/41231764/185592961-9c6a876a-9793-444e-b037-b3f3bf9dbbb2.mov

However, having an inserter directly on the toolbar is a good suggestion. I remove the bug label since right now this seems more of a feature request.

-

[2022-08-19 09:54] jasmussen commented on #34909
@alaczek I tried your fix in #43413. I'd appreciate a ton of testing of various cover patterns.

[2022-08-19 09:54] mirka opened #43414 "Replace Post/Block tab switcher with `TabPanel`"
Prerequisite for #41904 #42320

The Post/Block tab switcher in the Inspector (`.edit-post-sidebar__panel-tabs`) is currently implemented as a list of buttons, and is missing `tabpanel` semantics.

<img width="285" alt="The Post/Block tab switcher" src="https://user-images.githubusercontent.com/555336/185593707-8bc4570a-7e41-4e1f-92e8-aed493d2330c.png">

This should be replaced with the TabPanel co

[2022-08-19 10:01] fluiddot commented on #43390
It's interesting that this only happens on Android as the RTL support works similarly on both platforms 🤔 .

[2022-08-19 10:07] mirka opened #43415 "BlockVariationTransforms: Replace implementation with ToggleGroupControl"
These buttons (`.block-editor-block-variation-transforms`) should be replaced with the new icon button variant of ToggleGroupControl.

<img width="134" alt="BlockVariationTransforms component in the Group block inspector" src="https://user-images.githubusercontent.com/555336/185595480-209b53ab-83ab-4398-9638-0b956d66bda1.png">

This will improve consistency, reduce code duplication, and add visual

[2022-08-19 10:10] mirka opened #43416 "Justification/Orientation controls: Replace implementation with ToggleGroupControl"
These buttons (`.block-editor-hooks__flex-layout-justification-controls`, `.block-editor-hooks__flex-layout-orientation-controls`) should be replaced with the new icon button variant of ToggleGroupControl.

<img width="271" alt="The Justification/Orientation controls" src="https://user-images.githubusercontent.com/555336/185596714-6d423f1a-8ce0-464b-ad37-5858667077d5.png">

This will improve consi

[2022-08-19 10:16] #43348 closed, assigned to jasmussen

[2022-08-19 10:19] jameskoster commented on #43412
This convention works well for additive scales, e.g. an additive scale with a base of 8px creates:

* 1x = 8
* 2x = 16
* 3x = 24
* 4x = 32

Which makes sense.

However, when an increment is used to calculate values sequentially it falls down a bit. e.g: base= 8 + Increment= 2 creates:

* 1x = 8
* 2x = 16 (2x8)
* 3x = 32 (2x16)
* 4x = 64 (2x 32)

Here the 'x' doesn't make much sense.

---

Do we ne

[2022-08-19 10:20] carolinan commented on #42978
If we want new features to be tested before they are in core -which is one of the reasons why they are in Gutenberg first, they need to be documented before they are are in core.

[2022-08-19 10:23] github-actions[bot] opened #43417 "[Flaky Test] shows button to convert submenu to link when submenu is populated with a single incomplete link item"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
shows button to convert submenu to link when submenu is populated with a single incomplete link item

## Test path
`specs/editor/blocks/navigation.test.js`

## Errors

<time datetime="2022-08-19T10:23:54.195Z"><code>[2022-08-19T10:23:54.195Z]</code></time> Test passed after

[2022-08-19 10:29] jameskoster commented on #42325
I recently wrote about how we might deliver a more visual template creation experience over [here](https://jameskoster.design/2022/08/11/a-more-visual-template-creation-experience-in-the-wordpress-site-editor/). Hopefully this gives a bit of an insight into why the mechanism shared above could be a good direction for scaling the current menu. Video:

https://user-images.githubusercontent.com/84656

[2022-08-19 10:36] jameskoster opened #43418 "Display homepage settings in the front-page Template Inspector"
The front-page template is unique in that it will always display the homepage regardless of what the homepage is set to display in the reading settings.

Therefore we might consider pulling the homepage display settings directly into the Inspector panel for this template. Here's a rough example of how this could work:

https://user-images.githubusercontent.com/846565/185600840-c5f9cf7d-9c1d-420e-9

[2022-08-19 10:44] carolinan commented on #42955
@jasmussen Do you have time to also look at this issue?
I am getting different results in different classic themes.
For example, if I use Twenty Twenty, the navigation link spacing is fine -but that theme adds its own margin on `<li>`.

[2022-08-19 10:49] jasmussen commented on #43023
I took a quick stab at the plugin issue :

<img width="1160" alt="Stab at compression" src="https://user-images.githubusercontent.com/1204802/185597355-26199f0a-a3a2-461f-b8ff-55088fe44448.png">

☝️  this work is incomplete and not meant to replace the work provided in this ticket. It is, perhaps, a smaller interim step onto bigger and better things.

[2022-08-19 10:52] t-hamano opened #43421 "Ctrl+Y: doesn't work in the site / widget / customizer widget editor (#43392)"

[2022-08-19 10:53] t-hamano commented on #43421
This is closed due to an incorrectly submitted issue.

[2022-08-19 10:53] #43421 closed, assigned to nobody

[2022-08-19 11:05] jasmussen commented on #42955
Took as tab in #43422, but I'm not confident in the fix, so I'd appreciate a ton of testing. Also feel free to push directly to the branch if need be, as I have to move on to something else for the moment! Thank you for the ping.

[2022-08-19 11:15] mirka opened #43423 "Implement a standard "controls grid" component for sidebar"
## What problem does this address?

The controls in the sidebar should be laid out in a consistent grid, whether they are in `edit-post` (ToolsPanel) or `edit-site` (ad hoc layouts). Currently they each do their own styling for `rowGap`/`columnGap`, column count, and full-width items.

## What is your proposed solution?

Try making a standard layout component for this purpose, so they can be easil

[2022-08-19 11:16] ciampo commented on #17249
cc'ing @tyxla who has been recently migrating some tests to RTL

[2022-08-19 11:44] RavishaHeshanE25 commented on #15707
If someone runs into this issue in the future this can be achieved with

[code]

[2022-08-19 11:46] jasmussen commented on #43295
Whether expected or intentional or not, I'm afraid there isn't anything we can do here. So long as the border gets applied directly to the `img` tag, it will affect any borders or otherwise. The alternative would have to involve a wrapping container to set the border on that, which would likely reach a point of complexity to come with its own set of downsides.

An alternative approach would be to

[2022-08-19 12:00] tyxla commented on #17249
Here are the recent PRs I've been working on with regards to migration to `@testing-library`:

* #43380
* #43376
* #43275
* #43273
* #43176
* #43148
* #43147
* #42981

I'm planning to be putting more effort into this in the future, primarily motivated by the fact that `enzyme` is a blocker for upgrading to React 18.

[2022-08-19 12:09] gziolo commented on #17249
You can check https://github.com/WordPress/gutenberg/pull/32765 to see how Riad was able to unblock the upgrade. Actually, I see he refactored a huge number of tests. Maybe, it would make sense to cherry-pick those changes first 😄

[2022-08-19 12:14] tyxla commented on #17249
I did a quick pass on it, tl;dr: it's a rebase hell 😉  Also he did remove a few of them as well. Maybe we can do another pass soon when we advance a bit further with the `enzyme` migration.

[2022-08-19 12:18] paaljoachim commented on #38219
What about having a preset called inherit/default or something like that. As @glendaviesnz was working on [presets PR](https://github.com/WordPress/gutenberg/pull/42173) that was just merged a few days ago. It included an inherit/default preset.
So that we can click the inherit option to go back to what it was originally?

[2022-08-19 12:37] nerrad commented on #41707
The primary problem we're trying to solve for here is for plugins (such as WooCommerce) to have the ability to define _defaults_ for any blocks and/or templates it provides so that block themes don't have to _explicitly_ support those plugins (but can still override). With #41873 now closed, what alternatives are being explored, besides [what's proposed here](https://github.com/WordPress/gutenberg

[2022-08-19 12:49] geriux commented on #43146
Fixed with https://github.com/WordPress/gutenberg/pull/43244

[2022-08-19 12:49] #43146 closed, assigned to derekblank

[2022-08-19 12:55] ciampo commented on #43423
This could be an interesting exploration to inform some of the decision re. grid components discussed in https://github.com/WordPress/gutenberg/issues/43085

[2022-08-19 12:59] oandregal commented on #41707
https://github.com/WordPress/gutenberg/pull/41873 proposed to move the styles from one key to another and made that key stable. [My concerns](https://github.com/WordPress/gutenberg/pull/41873#issuecomment-1209304572) were that the initial work at https://github.com/WordPress/gutenberg/pull/34180 had been partially reverted and no other blocks or styles were using the API yet. If the core blocks do

[2022-08-19 12:59] via-lars commented on #34141
this should have been no discussion and is nothing to not understand. user customisation always last.

I see a question is "what is a user customisation?":

eg. Theme Builder adjustments by "user" (/editor) should override theme pre-styling.

but Site Editor "customisation" is basically building the site styling, that can all be before theme styling.
Post Editor style adjustments however are "user

[2022-08-19 13:04] jameskoster opened #43427 "Improving intuition of the 'Query' pattern category"
<img width="291" alt="Screenshot 2022-08-19 at 13 52 17" src="https://user-images.githubusercontent.com/846565/185622456-bc221979-83eb-4f00-af8c-ff78afcd2eaa.png">

One of these is not like the others. Unless you're familiar with the inner workings of WordPress, 'Query' is probably going to sound a bit alien.

Ideally Query variations should be dynamically built based on existing post types (https

[2022-08-19 13:06] mtias commented on #43427
100%, it's really unfortunate we still have this category exposed to users. Maybe Blog Posts for clarity or are we fine with just Posts?

[2022-08-19 13:11] ockham commented on #43333
If I'm reading the [real-world example](https://github.blog/2022-02-10-using-reusable-workflows-github-actions/#step-2-make-your-actions-accessible-across-your-organization) correctly, then it should be possible to run the re-usable workflow at job level 🤔

But even if that wasn't the case: I know GB currently has [one workflow](https://github.com/WordPress/gutenberg/blob/d79e59ffa61594ea7ad77763a

[2022-08-19 13:19] jameskoster commented on #43427
Yes I would be in favor of that. Appending/Prepending instances of "posts" with "Blog" is likely to be a requirement in other areas of the site editing UI to contextualise between generic 'posts', and the `post` post type.

[2022-08-19 14:08] georgestephanis commented on #37943
Honestly, if possible I'd be delighted for this to only be enabled in the next version as a "A plugin can opt in to the UI and create its own links to its defined template part" -- without having core create the menu ui that could lead to the confusion referenced?

I'm much more interested in having this be something plugins and the like can opt in to a limited functionality of, and am 100% comfor

[2022-08-19 14:29] mtias commented on #39066
We could also consider exposing these in the group block toolbar directly, like we do for multi-select:

<img width="400" alt="image" src="https://user-images.githubusercontent.com/548849/185640948-2b95aa5a-8040-464c-bcc1-d33e9c5da890.png">

[2022-08-19 14:43] jasmussen opened #43433 "Group: Add setup state to allow picking a variant (default/row/stack)"
The Row and Stack blocks are variants of the group block. The group is for standard flow based content, Row flexes horizontally, Stack flexes vertically. You can transform between the variants in the inspector, and transform into one of these variations when selecting multiple blocks:

<div align="center">
<img width="340" alt="block toolbar" src="https://user-images.githubusercontent.com/1204802/

[2022-08-19 14:54] anomiex opened #43434 "Require of ES Module is not supported"
### Description

When attempting to use some packages (e.g. `@wordpress/blocks`, `@wordpress/data`, `@wordpress/element`, `@wordpress/redux-routine`) outside of a bundler like Webpack, it produces an error like this:

[code]

### Step-by-step reproduction instructions

1. Begin in an empty directory.
2. `npm add @wordpress/blocks`
3. Try `node -e 'require( "@wordpress/blocks" );'` or `node --input

[2022-08-19 15:18] jameskoster commented on #43412
One other observation – the label in this control is using outdated type styles. Compare 'Padding' and 'Margin' to 'Size', 'Block spacing', and 'Radius':

<img width="289" alt="Screenshot 2022-08-19 at 16 16 37" src="https://user-images.githubusercontent.com/846565/185651342-aecaf06f-fadc-4802-a864-4e0c8da8f5dc.png">

[2022-08-19 16:13] ockham opened #43440 "Plugin: Backport PHP changes for WordPress 6.1 release"
## Description

Related [Trac ticket 56467](https://core.trac.wordpress.org/ticket/56467).

This is the tracking issue to coordinate the process of backporting all PHP changes added in the Gutenberg plugin that needs to be backported for the WordPress 6.1 release.

## Files listed for WP 6.1

### [`lib/block-supports`](https://github.com/WordPress/gutenberg/tree/trunk/lib/block-supports)

- [x] ~[

[2022-08-19 16:15] #41957 closed, assigned to ockham

[2022-08-19 16:21] lwangdu commented on #43336
@t-hamano Here is header-large-blue html

<div class="wp-block-cover is-light"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-20 has-background-dim"></span><img class="wp-block-cover__image-background wp-image-13" alt="Sierra Nevada Aquatic Research Laboratory" src="https://snarl.nrs.ucsb.edu/wp-content/uploads/2022/06/SNRAL-sunset.jpg" style="object-position:52% 63%

[2022-08-19 17:05] ghost opened #43443 "Feature request: Add support for font size presets in global styles"
Related to: https://github.com/WordPress/gutenberg/issues/34345

## What problem does this address?
Currently we can: edit/rename/add **color** and **spacing** presets in theme.json or global styles sidebar.

Currently, we can edit/rename/add **font size** presets only in theme.json.

**Problem 1:**
Font size presets added in theme.json as custom values are not accessible in the dropdown control.

[2022-08-19 18:36] dcalhoun commented on #43149
I was unable to reproduce this issue while testing https://github.com/wordpress-mobile/WordPress-Android/pull/16968#issuecomment-1220983967.

I tested [`pr16968-2b98958`](https://d2twmm2nzpx3bg.cloudfront.net/ea0ffdd4a98eeacfb5a47250241399da8490ef4e/wordpress-installable-build-pr16968-2b98958.apk) with a Samsung Galaxy S20 (Android 12). I added both _Image_ and _Gallery_ blocks a few times, and ro

[2022-08-19 18:38] github-actions[bot] opened #43447 "[Flaky Test] respects the nesting level"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
respects the nesting level

## Test path
`specs/editor/blocks/navigation.test.js`

## Errors

<time datetime="2022-08-19T18:38:13.056Z"><code>[2022-08-19T18:38:13.056Z]</code></time> Test passed after 1 failed attempt on <a href="https://github.com/WordPress/gutenberg/action

[2022-08-19 19:02] DaisyOlsen opened #43448 "Discussion: Should Theme Export include plugin provided templates"
I've discovered that when a plugin that provides templates that are compatible with a block theme (SenseiLMS, WooCommerce, LifterLMS confirmed) are present and a theme is exported from site editor the plugin provided templates are included in the downloaded theme.

I'd like to encourage a discussion regarding whether or not all plugin provided templates should be included in the export or only tho

[2022-08-19 20:08] Thelmachido commented on #33365
Hi @juanmaguitar As there hasn’t been any movement on this issue in two years, I’ve marked it as stale. Let me know if you think it should be kept open. Thanks!

[2022-08-19 20:34] paaljoachim commented on #37943
What about customizing the Author bio box and the Comments section in a Classic theme? Perhaps these elements in some way could also be added into a kind of template area in Classic themes...

Currently one would need in a Classic theme to go to a post and create a new page template and add the blocks there. One would need to remember to switch from the default page template to the custom page tem

[2022-08-19 21:04] Thelmachido commented on #33375
I couldn't reproduce this issue with Gutenberg enabled as shown below.

https://user-images.githubusercontent.com/41231764/185706445-977240ce-d9e3-4612-b2dd-5c70f5beacc1.mov

I will be closing this issue, please let me know if I missed something.

Gutenberg 13.9.0
WordPress 6.0.1
Twenty Twenty-Two

[2022-08-19 21:04] #33375 closed, assigned to nobody

[2022-08-19 21:22] Thelmachido commented on #33422
Hi! There hasn’t been any movement on this issue in a while, I’ve marked it as stale. Let me know if you think it should be kept open. Thanks!

[2022-08-19 21:47] bacoords commented on #37850
Because this is a UX pattern that we see pretty consistently in other page builders, I built a simple plugin (unaware of this open issue) to tackle this for myself. There's some holes in how we can determine the templates, so I think the final approach would require some better infrastructure to determine the active templates/template parts ([ #32309](https://github.com/WordPress/gutenberg/issues/

[2022-08-20 06:52] AlexanderBorysenko commented on #17231
I've faced such problem) I've been thinking about that for 3 days and found solution!)
May be it is not the best approach but it works =>

add innerBlocksData attribute to your Block

then inside EDIT function
`
Edit({ setAttributes, clientId })=>{

        const innerBlocks =
		select('core/editor').getBlocksByClientId(clientId)[0].innerBlocks;

	useEffect(() => {
		setAttributes({ innerBlocksDat

[2022-08-20 07:16] carolinan commented on #43192
It is not only on the button but on [any block that has color options.](https://github.com/WordPress/gutenberg/pull/42176#issuecomment-1201060165)

[2022-08-20 09:27] t-hamano commented on #37712
Maybe this issue should be tracked by #38275.
Also, I think "Needs Testing" label is no longer needed

[2022-08-20 11:45] colorful-tones commented on #43395
This was a huge pain point when developing all the style variations in the Extendable theme.

I'm glad to see an Issue for it. 🙏

[2022-08-20 15:40] paaljoachim commented on #37936
@draganescu and @ntsekouras would this be something for you to take a closer look at?

[2022-08-21 01:50] peterwilsoncc opened #43450 "Development guide: Recommend fnm as alternative to nvm"
## What problem does this address?

Currently the developer documentation [recommends using `nvm`](https://github.com/WordPress/gutenberg/blob/trunk/docs/getting-started/devenv/README.md#node-development-tools) as the node version manager.

While it is an excellent tool that does what it claims, it can be a little slow when initializing once the command line is opened.

## What is your proposed so

[2022-08-21 16:01] t-hamano commented on #42542
I am working on developing a block and have hit a major problem.
The Time To Read shown in the table of contents panel is a very complex process to calculate the time by `count` function from [@wordpress/wordcount](https://github.com/WordPress/gutenberg/blob/trunk/packages/wordcount/src/index.js).

I think this block should be a dynamic block, so to match the numbers on this panel exactly, the sam

[2022-08-21 17:51] ndiego commented on #34392
The Heading block now supports margin, so I am going to close this issue. I also just [opened a PR](https://github.com/WordPress/gutenberg/pull/43454) to add padding support.

[2022-08-21 17:51] #34392 closed, assigned to nobody

[2022-08-21 18:49] krysek76 opened #43459 "Request for a function (Shift+Alt+s)"
### Description

Hi
And it happened. I switched to a block editor. And for now I miss one function from a classic editor. The keyboard shortcut (Shift+Alt+S) works, but not quite. In the classic editor when I marked the whole table, which had many links and I pressed (Shift+Alt+S), it removed all links. In the block editor, it removes only one link in one cell from the table.
On this page: https:/

[2022-08-21 20:49] bhubbard opened #43462 "Database Block"
## What problem does this address?

It would make it possible for end-users to create custom databases without any coding knowledge.

## What is your proposed solution?
I have been testing notion (uses blocks) a lot recently and noticed that a lot of its power comes from the concept of a database block, and I think WordPress has the power to do the same. User would choose the block, and as they ch

[2022-08-21 21:14] glendaviesnz commented on #38219
There is an issue looking at this in the wider context of all the controls here https://github.com/WordPress/gutenberg/issues/43082

[2022-08-22 01:34] tellthemachines commented on #42978
Yeah, that makes sense.

So this is an interesting one. It turns out that the [theme.json docs](https://developer.wordpress.org/block-editor/reference-guides/theme-json-reference/theme-json-living/#spacing-2) already specify that the general padding under styles should be an object with top, right, bottom, left properties. So officially we _shouldn't_ be using a string whether we have `useRootPadd

[2022-08-22 01:42] alexstine commented on #42659
@tbdalgaard Would you be open to meeting with me via Zoom? I am not sure how much I can help with this, but it sounds like you may have feedback very similar to my own. Gutenberg is a very custom app with a lot of custom odd things that screen reader users would not normally expect. The whole concept of a block editor I think is bad for accessibility. However, getting some good action points on wh

[2022-08-22 01:59] #42755 closed, assigned to glendaviesnz

[2022-08-22 01:59] BrunoAHVincent commented on #24660
nearly 3 years now, any news on this? Trying to use pods for this

[2022-08-22 02:23] tellthemachines commented on #42978
Ok I've made  #43463 to address the documentation gap.

[2022-08-22 02:23] #40144 closed, assigned to ndiego

[2022-08-22 02:53] #37299 closed, assigned to ndiego

[2022-08-22 04:44] KAJALwp commented on #41085
Hello @carolinan ,

Yes, the post have comments enabled.
I am not able to reproduced the same issue with latest Gutenberg plugin. I think it is resolved with latest version of Gutenberg.

**Environment info**

WordPress:- 5.9.3
Mac OS:- Monterey 12.4
Chrome:- 104.0.5112.79 (Official Build) (arm64)
Theme: Twenty Twenty, Twenty Twenty-one, Twenty Twenty-two
Gutenberg Plugin: 13.9.0

Thanks.

[2022-08-22 04:55] #41085 closed, assigned to nobody

[2022-08-22 05:00] soumitra2021 opened #43464 "WordPress API error when trying to add tags"
### Description

In this video- https://www.loom.com/share/6671fc834c624e37940ba9ecf0398389 you can see that, even with all plugins deactivated and with a default theme, there is an error whenever we tried to add a new tag. As you can see in the video, there is a 400 server error related to the WordPress API.

WordPress API error when trying to add tags that already exist to a existing post or wit

[2022-08-22 05:03] #33374 closed, assigned to nobody

[2022-08-22 05:09] tellthemachines commented on #33374
#42763 should have solved the majority of issues mentioned in this thread. Group blocks will now have content width by default, so there won't be any jarring difference in alignment controls for blocks contained in them.

Note that I only applied the change to Group so far; this way we can see how the solution works before changing things for other blocks.

For the Cover block mentioned above, I o

[2022-08-22 05:35] glendaviesnz commented on #43412
Just a note that we would need to do some detection to work out what to show here, as it is possible for theme authors to add a static list of values that aren't calculated, in which case we would have to default back to the increment names.

As @jameskoster notes it is also possible to use `+` increment instead of a `*` so would need to work out how to indicate that as well. I don't think `1,2,3,

[2022-08-22 05:49] KAJALwp commented on #40219
Hello @carolinan ,

When I try to add text-color in paragraph block, It is only reflect with normal text and the link-text is shows default text-color. But it is reflected properly in front-side.

For better understanding I provide the video attachment link.
https://share.cleanshot.com/2XsvZxjD1Oh4sLvLR7AB

**Environment info**
WordPress version: 6.0.1
Google chrome version: 104.0.5112.79 (Officia

[2022-08-22 05:59] carolinan commented on #40219
The link color option was removed from classic themes. I have asked during meetings but there has been no interest in adding it back.
https://github.com/WordPress/gutenberg/issues/41857

[2022-08-22 06:08] jasmussen commented on #43412
Should this even be allowed? It seems like in these cases we should just fall back to the custom value control.

[2022-08-22 06:30] jasmussen commented on #38980
Moving towards a behavior where the placeholder is never shown with a fallback always in place, this is no longer relevant.

[2022-08-22 06:30] #38980 closed, assigned to nobody

[2022-08-22 06:46] glendaviesnz commented on #43412
Yep, absolutely - there was  discussion [with theme authors about this here](https://github.com/WordPress/gutenberg/issues/39371) - actual comments may be collapsed now, but there was a clear indication from them that they wanted the flexibility to define their own custom list of presets that may or may not consist of a calculable scale (eg. some are already using there own set list in order to su

[2022-08-22 06:48] andrewserong opened #43465 "Dimensions Design Tools Consistency Follow-up: Review box-sizing settings across blocks"
Related:

- https://github.com/WordPress/gutenberg/issues/43241
- https://github.com/WordPress/gutenberg/issues/43243

This is a stub issue to flag a follow-up task for the Tracking: Dimensions Design Tools Consistency issue (https://github.com/WordPress/gutenberg/issues/43243).

For padding (and border) support to work consistently across blocks, blocks need to have their own `box-sizing: border-

[2022-08-22 06:51] jasmussen commented on #43412
Right, makes sense, but I could see that being a dropdown list like it is for font sizes. The segmented slider to me indicates a clear delineation of values, and that assigning random properties on such a linear scale is likely going to confuse. A dropdown fallback is something we can explore, but it doesn't seem urgent to optimize the stepped slider for arbitrary values.

[2022-08-22 06:53] glendaviesnz commented on #43412
Yeh, for sure, not a blocker to looking at improvements, was just pointing it out so it was not overlooked as a requirement.

[2022-08-22 07:26] skysarwer commented on #28517
Hi @noisysocks ,

Do you know if the sub-item described in [#34788](https://github.com/WordPress/gutenberg/issues/34788) was included in this issue release? Could not find the allowed_blocks parameter in the register_siderbar() codex page. Just checking as it would be extremely useful for an upcoming phase in my project. Thank you!

[2022-08-22 07:27] fabiankaegy commented on #37943
@paaljoachim These are exactly the things that I was thinking about for this. There are areas in classic themes that can benefit from block customizability. And currently, the jump to full-on block-based themes is too drastic. Therefore it would be great to be able to edit just parts of the website (template parts) using blocks :)

[2022-08-22 07:30] paaljoachim commented on #24660
Currently we still are not able to easily select the Group block. (There is an issue for it.)

While for instance the Cover block has this placeholder. (Behind the Cover block tool bar we see the Group block.)
![Screenshot 2022-08-22 at 09 27 34](https://user-images.githubusercontent.com/5323259/185863995-e5678e09-ea4e-4bba-8bd6-0cea4a75fc9b.jpg)

Perhaps it is time for adding a placeholder to the

[2022-08-22 07:34] fabiankaegy commented on #37943
@georgestephanis I can see your point and think the idea of allowing developers to link directly to the template parts editor for a specific template part is really cool. That could definitely be an interesting exploration.

I personally think though that it would be more confusing than the template parts menu under appearance which brings you to the site editor template part list view. With that

[2022-08-22 07:35] Mamaduka commented on #37943
@annezazu, PR is primarily stable. I need to do small follow-ups, but that's it. We can land the new Welcome modal, suggested by @jasmussen, separately.

@georgestephanis, I agree with Fabian that this feature shouldn't rely on 3rd-party plugins to expose UI.

[2022-08-22 07:38] ayophanz opened #43467 "Allow to change the default font size in editor."
## What problem does this address?

In gutenberg Editor it would be nice to have capability to change the default font size.

## What is your proposed solution?

It would be great to `add_action` or `add_filter` in functions.php for this small enhancement.

[2022-08-22 07:45] MatzeKitt opened #43468 "Improve label "Wide" in layout settings"
## What problem does this address?

The current label "Wide" is not really clear what it means. It sets the width for the "Wide width" setting of any subblock. Additionally, only "Wide" as label is not properly translatable, at least in German, as a word-by-word translation would result in an information loss where the label would be not clear at all.

## What is your proposed solution?

Rename th

[2022-08-22 07:49] jasmussen commented on #24660
@paaljoachim Where's that group issue? The group block has a selectable state now in trunk.

[2022-08-22 08:01] #42978 closed, assigned to nobody

[2022-08-22 08:07] aaronrobertshaw commented on #43412
Thanks for exploring these follow-ups 👍

There's another aspect to this control that I think we could explore improving: the UI's complexity when manipulating all sides.

It wasn't too long ago we were undertaking a real push to clean up the sidebar and reduce clutter.  Even with only the padding control in an expanded state, the dimensions panel gets very busy quickly. Once we also have margin su

[2022-08-22 08:15] jasmussen commented on #43412
Yes! 100% that should be improved. It deserves some good ideas with mockups, plus its own ticket. A few ideas to consider for precedence, such as the border control:

<img width="279" alt="Screenshot 2022-08-22 at 10 10 52" src="https://user-images.githubusercontent.com/1204802/185872287-d9fc517c-dc3e-41f8-a199-6c553fdf3d2c.png">

Or perhaps even a more basic layout a la Figma:

![figma](https://u

[2022-08-22 08:16] paaljoachim commented on #24660
Hey @jasmussen Joen.

That is nice to hear! Will it be added to the next version of the Gutenberg plugin?

I will add in some issues and a PR which I believe are somewhat associated.

I feel when working on adding a background one should also have in the back of the mind of having a way to add a featured image. @draganescu Andrei has earlier worked on the Featured image controls for the Cover bloc

[2022-08-22 08:19] jasmussen commented on #24660
The clickable state will be in v14. #40664

The issues you shared are around background images, which is cool. Just wanted to see if there was an open ticket around the not being able to click to select an empty group block, because now you can.

[2022-08-22 08:21] scruffian commented on #33476
The only advantage I see is translation, but since we can handle that with patterns then perhaps we can close this.

[2022-08-22 08:21] #33476 closed, assigned to carolinan

[2022-08-22 08:26] #43269 closed, assigned to ntsekouras

[2022-08-22 08:36] carolinan opened #43470 "Empty Site logo block in navigation block results in empty li item on front"
### Description

When the site logo block is added to the navigation block, but no image is selected, there is a n empty `<li>` item in the navigation.

### Step-by-step reproduction instructions

1. Add a navigation block with two items.
2. Place a site logo block between the two items. The site logo block should not have an image assigned.
4. Save and view the front.
5. Confirm that there is a l

[2022-08-22 08:38] javierarce commented on #43023
Thanks for those alternatives, @jasmussen, and for pointing out the potential long sidebars we could end up having. My only comments about the designs you propose are:

- I think the design in the middle is a bit busy in the top section under the featured image. What do you think about removing the Visibility and Publish sections and integrating that information (without any interactivity) on the

[2022-08-22 08:41] ockham commented on #28476
Thanks for testing, @ramonjd and @kathrynwp!

I just tried again, and I'm afraid that I'm still seeing the issue 😕

This is with a local GB dev environment, using the GB demo content with TT1. Using the steps I posted in the issue description, the GB markup in the Code Editor starts with

[code]

(Note the conflicting `"align":"center"` and `"className":"alignwide"` attributes, and the resulting `

[2022-08-22 09:16] henriqueiamarino opened #43471 "Setting 'Border' styles separately"
## What problem does this address?
I'm always frustrated when I try to set border styles as design elements. To design strokes sitting next to other components I end up creating columns or rows and use images to emulate the image below. **As we’re currently developing a theme where this tool would be essential to achieve the design** I believe Gutenberg could benefit on a simple solution here.

<i

[2022-08-22 09:21] jasmussen commented on #43023
Great thoughts!

It's a feeling that those are some of the most important last minute things you want to check, so important they appear interactive. But it's not a strong opinion, and the primary goal of the mockup was to explore if there was a smaller interim step we could take.

Probably, yes. There could also be an opportunity here to consider the cases where a featured image has not been set

[2022-08-22 09:30] SiobhyB commented on #30457
👋 @kathrynwp, I'm still able to replicate this issue, but will label it as low priority. I plan to circle back to this at some point in the future to determine whether this is something that can be addressed or a "wontfix". It's not high on my "to do" list, but it's there! :)

[2022-08-22 09:44] Mamaduka commented on #43250
Thanks for the comment, @Andrew-Starr.

It is the same issue. The `inline_style` aren't loaded in iframed editors, which is also used by Block Preview pop-ups.

@t-hamano, tet's close this as a duplicate and copy your comment into the original issue.

[2022-08-22 09:44] Mamaduka commented on #43276
It is the same issue as in #39944 and #43250.

@richtabor, going to close this as a duplicate.

[2022-08-22 09:44] #43276 closed, assigned to nobody

[2022-08-22 09:49] fluiddot commented on #43149
@mkevins based on the [comments from David](https://github.com/WordPress/gutenberg/issues/43149#issuecomment-1220985342), I'm wondering if this issue might be related to a particular device and/or OS. It would be great if you share more details like the device and OS you used for reproducing it, thanks!

[2022-08-22 10:24] sebas77 commented on #21886
+1

[2022-08-22 10:32] Mamaduka commented on #43161
I can't recall any specific reason, but I agree that the matching button and popover link labels make sense.

I'm going to assign it to myself and push updates shortly.

[2022-08-22 10:58] lgersman opened #43475 "@wordpress/components : Add "title" attribute support to options of rendered select element"
## What problem does this address?

The SelectControl currently only supports `id`, `label`, `value` and `disabled` properties for the rendered `<option>` HTML elements.

There is no way to specifiy the `title` attribute for the rendered `<option>` elements.

For improving UX experience it would be nice to have the `<option>` `title` attribute   addressable.

In that case users could see a descrip

[2022-08-22 11:08] dgwyer commented on #43235
100% yes! I'm currently doing exactly this in a custom script I created. But I'd love to see it added as part of the `@wordpress/create-block` core script.

e.g. To create multiple blocks:

[code]

https://github.com/dgwyer/create-wp-block

[2022-08-22 11:16] hz-tyfoon opened #43476 "Docs: 'how-to-guides'->'Formatting Toolbar API' examples link not working"
### Description

In the following page 👇
https://developer.wordpress.org/block-editor/how-to-guides/format-api/#before-you-start
The github link for 'complete format-api example' is not working

Same wrong url used In format-api.md file in this repo https://github.com/WordPress/gutenberg/blob/abc3f02912ebd5a8a74a932c835bcb64d2ae7cbb/docs/how-to-guides/format-api.md#before-you-start

### Step-by-st

[2022-08-22 11:49] scruffian commented on #42828
I think we'd need to add some tools for themes to be able to define "light" and "dark" colors.

[2022-08-22 12:04] #37070 closed, assigned to Mamaduka

[2022-08-22 12:32] ockham commented on #43434
cc/ @tyxla as I think you've worked on this in #43179 and #43271 😄

[2022-08-22 12:57] #42563 closed, assigned to draganescu

[2022-08-22 13:14] mburridge commented on #43448
My feeling is that if even a single plugin-provided template has been modified, then all templates provided by that plugin should be supplied in the export. So for example, if the single product template from WooCommerce is edited then presumably the theme is meant to support WooCommerce so all WooCommerce template files, e.g. basket page, checkout page, etc..., should be included in the export ev

[2022-08-22 13:41] scruffian commented on #43227
I think this was fixed in https://github.com/WordPress/gutenberg/pull/42735/

It requires a double click to select the child though, I'm not sure if that's expected?

[2022-08-22 13:41] mkevins commented on #43149
Good idea! I just realized I hadn't done that originally 🤦‍♂️ . I originally encountered this on a Pixel 3a (physical device) on Android 12.

[2022-08-22 13:43] getdave commented on #42602
Thank you for this design @javierarce  🙇‍♂️ 🙇‍♂️ 🙇‍♂️

This has a least visual "noise". The create empty action is likely a 20% use case and so probably doesn't need to be visible at all times.

[2022-08-22 13:45] jasmussen commented on #38990
Nice, that looks good Rich. I took a quick stab at a remix based on your ideas:

<img width="1600" alt="aspect-ratio" src="https://user-images.githubusercontent.com/1204802/185935036-c5acaba2-90e2-479a-b1ab-05badac9ce4d.png">

As shortcuts to setting dimensions as well as applying `object-fit: cover;`, a single unified control is much simpler. I imagine the settings icon takes you to setting a cus

[2022-08-22 13:48] SeanDS commented on #29962
Sorry for the delay replying. Thanks for the update @ellatrix. I'll keep a hopeful eye on #41655 then!

[2022-08-22 13:48] #43476 closed, assigned to hz-tyfoon

[2022-08-22 13:50] jasmussen commented on #43227
I noticed this too, and I don't think this is to be expected. Do we actually have code in place to intercept a double click? It feels unintentional 🤔

[2022-08-22 13:56] github-actions[bot] opened #43483 "[Flaky Test] automatically uses the first Navigation Menu if only one is available"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
automatically uses the first Navigation Menu if only one is available

## Test path
`specs/editor/blocks/navigation.test.js`

## Errors

<time datetime="2022-08-22T13:56:34.965Z"><code>[2022-08-22T13:56:34.965Z]</code></time> Test passed after 2 failed attempts on <a href="h

[2022-08-22 13:59] t-hamano commented on #39944
I was able to reproduce it as reported in #43250.
I will describe the results of that test here as well.

---

## Step-by-step reproduction instructions

- Defines the following code in `functions.php`:
[code]

- Open the post editor and insert the button block.
- Apply "Test" style and confirm that a red border has been applied to the button.
- Confirm that the style disappears when you change to

[2022-08-22 13:59] #43250 closed, assigned to nobody

[2022-08-22 15:12] t-hamano commented on #43471
In the latest Gutenberg, #37770 introduces a new `BorderBoxControl` component in block support that allows for individual adjustments.
Paragraph and heading blocks are not supported, but wrapping in group blocks should work.
Is this your solution?

https://user-images.githubusercontent.com/54422211/185955805-c65d9765-1b5d-42aa-b36d-822487e2e03a.mp4

[2022-08-22 15:13] mikachan opened #43487 "Navigation: pseudo states do not apply to parent items that are buttons"
### Description

In the navigation block, with the 'Open on click' option enabled, parent menu items that have sub-menus cannot have their pseudo states styled via theme.json.

There is a specific example described [here](https://github.com/WordPress/twentytwentythree/pull/83#issuecomment-1221953299), using Twenty Twenty-Three.

When the 'Open on click' option is disabled, the parent items are lin

[2022-08-22 15:21] LukaszJaro opened #43488 "Fluid typography does not scale up to 200% - Fails 1.4.4 Resize text Level AA"
### Description

This was first brought up in the comments in this article https://make.wordpress.org/themes/2022/08/15/testing-and-feedback-for-the-fluid-typography-feature/

I can confirm, I tested this with FSE, latest gutenberg version. I added the new fluid keys, while they work great for responsiveness the text actually **shrinks** the more you zoom in on chrome. When not using clamp this do

[2022-08-22 15:21] bhubbard commented on #42828
@scruffian I agree, maybe this needs to be supported in theme.json for styles?

[2022-08-22 15:23] t-hamano commented on #43467
Thank you for submitting the issue.
You can change the default font size in the following way:

## On Classic Theme

Register a style sheet describing the following style via `add_editor_style()`.

[code]

## On Block Theme

You can configure this in theme.json.

[code]

[2022-08-22 15:26] geriux commented on #40695
FYI we are [currently working](https://github.com/WordPress/gutenberg/pull/43485) on the React Native upgrade that adds support for React 18. We will need to coordinate with the web team to align with these changes.

[2022-08-22 15:39] t-hamano commented on #43468
I agree with this proposal.
I think it is not currently consistent with the block toolbar.

![wide](https://user-images.githubusercontent.com/54422211/185961176-cf9619f0-53f1-4e11-b051-fd4f546de6d8.png)

However, in the current UI, text does not fit, at least in English. In other languages, WIDE may be the same.
If we proceed with this proposal, I think the UI needs to be changed.

![overflow](htt

[2022-08-22 15:47] skorasaurus commented on #37927
Hi,
Thanks for reporting; I believe the duplicate styles were mostly resolved in https://github.com/WordPress/gutenberg/pull/40875 ;
(also ref https://github.com/WordPress/gutenberg/issues/41434 )

Are you able to reproduce this after you have installed and activated the newest version of Gutenberg that is available through [the Gutenberg plugin](https://wordpress.org/plugins/gutenberg/)?

The SVG

[2022-08-22 15:56] t-hamano commented on #20260
I followed the history of #20261, and this issue should have been resolved by #25060, so I am closing it.

[2022-08-22 15:56] #20260 closed

[2022-08-22 16:03] t-hamano commented on #42753
The first step was cleared by #43061 🚀
The next step is a bit of a hurdle for me, but I am willing to try 😅

[2022-08-22 16:10] annezazu commented on #43203
Hah it is! Perhaps this?

As for this broader issue, who else can we involve to perhaps move this work forward/consider more ideas? I'll tag in @gziolo for now in case he has any thoughts. While this isn't necessarily a blocker for the theme being accessibility ready, it feels important to get right.

[2022-08-22 16:17] github-actions[bot] opened #43489 "[Flaky Test] automatically uses most recent Navigation Menu if more than one exists"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
automatically uses most recent Navigation Menu if more than one exists

## Test path
`specs/editor/blocks/navigation.test.js`

## Errors

<time datetime="2022-08-22T16:17:10.221Z"><code>[2022-08-22T16:17:10.221Z]</code></time> Test passed after 1 failed attempt on <a href="h

[2022-08-22 17:01] annezazu opened #43490 "Consider offering a visual indicator post block transform"
## What problem does this address?

When you transform a block to columns, it's fairly subtle that a change occurred. While the icon on the block changes and the block settings change, it's a bit strange that you can continue to just transform to columns. This was noted during the [sixteenth FSE Outreach Program call for testing](https://make.wordpress.org/test/2022/08/13/fse-program-testing-call-

[2022-08-22 17:37] annezazu commented on #39065
Noting that I found this as part of trying to determine another issue for the sixteenth FSE Outreach Program call for testing:

https://user-images.githubusercontent.com/26996883/185984138-0a254341-de72-4add-b1b4-76a600b15ca5.mov

This definitely feels very buggy and strange, especially considering you can generally drag/drop using the mover tools.

[2022-08-22 17:47] mrwweb commented on #36053
This was resolved in WordPress 5.8 +/- .1 and is no longer an issue.

[2022-08-22 17:48] annezazu opened #43491 "Various typography changes reset after moving paragraph block out of quote block"
### Description

If you set some typography changes to a paragraph block, like font size or letter spacing, drag it into a quote block, and then drag it back out of the quote block, those changes are lost. This seems to happen with letter spacing and font size but not with letter case, appearance, or line height.  I can't quite tell if this is a problem with the quote block, paragraph block, typog

[2022-08-22 18:10] ciampo commented on #42753
The second step will be also a partial discovery for us — happy to collaborate on it, if you're willing to do so!

Otherwise there's plenty of work still to be done in https://github.com/WordPress/gutenberg/issues/35744

[2022-08-22 18:24] supernovia commented on #13034
Re-opening; Command+U in Chrome on current mac still does not work. On Firefox, it opens a new tab with View Source.

[2022-08-22 18:26] supernovia commented on #13034
https://github.com/WordPress/gutenberg/issues/14031 -  linking to the proper issue

[2022-08-22 18:40] cuemarie commented on #36060
+1 This would be an awesome feature to see!

[2022-08-22 19:25] annezazu commented on #37943
Awesome! Great work, @Mamaduka. As we spoke about via DM, let's get a call for testing in place asap when this lands.

[2022-08-22 19:26] amustaque97 commented on #43470
👋🏻 , I had a chance to look into the issue.
As per my observation, it is a bit tricky problem to solve. I have no idea how to fix this. However, I will share my findings.

- In the navigation block we're adding `core/site-logo` or any other block using `useInnerBlocksProps` to build nested blocks in the [file](https://github.com/WordPress/gutenberg/blob/2bc40bb80539b4cd29505d553a1d510699467ffe/pac

[2022-08-22 21:21] ndiego commented on #43412
Hi all, I have a question about the actual variable names that are calculated. Perhaps I missed a previous comment, but it's a bit weird why the variables are 30, 40, 50, etc. when that does not match the actual value. See the screenshot below. Maybe something more generic, like 1, 2, 3, 4, etc? I do like how the variables are not tied to the value, as this allows you to do some cool things based

[2022-08-22 23:42] glendaviesnz commented on #43412
@ndiego there was a lot of discussion around this [here](https://github.com/WordPress/gutenberg/issues/39371) (some of the comments around it are probably hidden in that thread now as it was getting quite long). The choice of these slugs was based around wanting to make it easier for themes to insert additional options between the Core provided values, eg if a theme wants an extra value between `3

[2022-08-22 23:55] jethrodesign commented on #41441
Was just trying to do this myself. Assumed adding a class in Advanced area of Post Template block would add the class to each individual post (`<li> `item), not the parent container, since the Post Template block is the direct container of all of the block elements that can be added and displayed for each individual post item.

In my case, wanted to be able to animate each post item (e.g each fade

[2022-08-23 01:29] glendaviesnz commented on #43412
Except I have just noticed that values are merged into the Core settings for the generation of the CSS properties, but not at the UI level for the selection of the values, so need to take a look at that. `fontSizes` does the same, merges the theme and core values to produce the presets CSS properties, but then only shows the theme values to select from in the UI - not sure what the thinking is beh

[2022-08-23 01:35] talldan commented on #39065
@annezazu As mentioned above, you need to drag to the right side of a block to nest under it.

The reason it works this way is that List View needs a way to determine if you want to drop the block after the column or inside the column. I think the particular situation is confusing, because a user can't drop an imagine after a column. But it makes more sense with other blocks like empty groups.

I

[2022-08-23 02:33] carlomanf commented on #37943
Not sure whether this comment is better placed here or at https://github.com/WordPress/gutenberg/pull/42729, but I will put it here in case more people see it.

A potential issue with the implementation of https://github.com/WordPress/gutenberg/pull/42729 is that a theme might support both template parts and widget areas, meaning that both the Template Parts and Widgets submenu items are added to

[2022-08-23 02:46] carlomanf commented on #43448
My instinct is not only that it should be the plugin's responsibility to answer this question for its own case, but that it would be mostly futile for core to "mandate" it one way or another, since it probably would not be too hard for the plugin to "spoof" its templates as coming from the theme and thus get around the "mandate." There is currently not one official way for plugins to provide templ

[2022-08-23 03:05] annezazu commented on #39065
Ah apologies. I thought you were simply describing a workaround rather than an intended functionality. I'll list it as an enhancement. I'd be curious what @WordPress/gutenberg-design might do here.

[2022-08-23 04:05] noisysocks commented on #36735
To implement this behaviour where you click to un-toggle we'd have to make the controls a group of buttons instead of a radio. This isn't great as a group of buttons doesn't convey that the options are mutually exclusive to folks who are using assistive technologies.

The _Reset to defaults_ button resets **all** settings, no? I think it's too nuclear and could lead to user confusion/frustration.

[2022-08-23 04:48] noisysocks commented on #28517
Hi @skysarwer. `register_sidebar` does not have an `allowed_blocks` param, no. You'll have to use `allowed_block_types_all`.

[2022-08-23 05:36] digamber89 commented on #43465
+1 - there needs to be a level of consistency for the design of blocks

[2022-08-23 06:00] jasmussen commented on #43490
Good ticket. I would tend to think the simplest solution is to not allow a columns block to be transformed into a columns block. You can still insert a nested columns block inside. But transforming caters to an edgecase that doesn't seem worth optimizing for.

[2022-08-23 06:05] jasmussen commented on #36735
@jameskoster I feel like you've had some thoughts about a radio group with a minus reset button.

[2022-08-23 06:14] jasmussen commented on #39065
It's very clear the drag and drop experience in list view is not great, and the suggestion to highlight the container when dragging on top of it seems like it could work, especially if it's easy to implement.

My mind goes back to #34022, though, which implemented a vastly superior dragging experience:

https://user-images.githubusercontent.com/1270189/135886976-4a905428-918a-419f-9bc5-e9e0fd5518a

[2022-08-23 07:31] talldan commented on #39065
It seems like it would require a lot of precision from a user, as we'd essentially be packing in three drop zones vertically per row. (if that makes sense). A row is only 36px, so that means 12px high drop zones.

https://github.com/WordPress/gutenberg/pull/34022 worked a bit better, I think because of the way it allows a clearer visualization of where the block is being dropped to. It still essen

[2022-08-23 08:12] frizzant commented on #40289
is there a fix for this?

[2022-08-23 08:15] frizzant commented on #40289
I can do something like this to fix this issue:
[code]

[2022-08-23 08:38] #41640 closed, assigned to ramonjd

[2022-08-23 08:50] henriqueiamarino commented on #43471
Thanks @t-hamano that indeed solves the problem.

[2022-08-23 08:50] #43471 closed, assigned to nobody

[2022-08-23 09:13] jameskoster commented on #36735
I don't know if it's the right approach, but I lean towards building a UI which essentially replicates the CSS you'd write in order to achieve these things.

As an example, if I set all headings to be uppercase, but there's one heading that I want to display as typed, then I would target that heading and declare `text-transform: initial`.

So in this case, if we want to display the control regardl

[2022-08-23 09:30] Mamaduka commented on #42228
Do you think it makes sense to just fully lock the selected block with this shortcut instead of opening the modal?

[2022-08-23 09:37] jameskoster commented on #42228
Good question, probably yes... that seems like a good place to start anyway. In the future we could potentially have shortcuts for each lock type as well.

[2022-08-23 09:52] WunderBart commented on #43282
Unfortunately, some components still seem to fail with Playwright, even when the reduced motion is set **and** animations are disabled (natively). I recorded those components during the tests and noticed that they are animating into their default/initial state. I've checked if the `transitionend` event is fired for those components, and it is, just not instantly. This probably means that Playwrigh

[2022-08-23 09:55] javierarce commented on #42010
Circling back to this issue, I discovered that removing the `position: absolute` from the `.block-editor-block-list__block .block-list-appender` solved the problem, and the appender position was more consistent with the default case (where it appears right after the last item)

Here's a video that shows the default behavior and the result of removing the absolute position:

https://user-images.git

[2022-08-23 09:58] jasmussen commented on #36735
I think it can be a good baseline to start from. One of the challenges here is we will very often have an additional state: _unset_. That is: no choice has been made. `initial` would be an _explicit_ unset. Both can make sense, to be sure, especially in cases where you might inherit a text-transform from higher up the hierarchy and wanting to unset that. But it's worth keeping in mind that unset a

[2022-08-23 10:00] javierarce commented on #42010
Oh, well, I imagine this could be one of the reasons (pointed out by @talldan above)

https://user-images.githubusercontent.com/4933/186130117-fd853568-5060-45a1-a393-f560c0e3e6c7.mov

[2022-08-23 10:15] patrickwc commented on #38299
Others have already pointed this out but I wanted to reiterate the point. It seems very weird to me that the decision to output an extra ~260lines of HTML worth of SVG filters on every page, regardless of whether duotone's have been disabled in theme.json (or even if a block is used on a page!) was allowed to go live and still hasn't been fixed after months. No wonder a lot of WP sites rank badly

[2022-08-23 10:20] getdave commented on #43470
@amustaque97 Thank you for taking the time to provide this feedback. It is much appreciated.

We'd need to ensure as much consistency between what the block displays in the editor and what it shows on the front of the site.

Therefore we could consider:

- does the "empty" site logo block need to have a more appropriate default?
- how can we convey "empty block" within the editor whilst also not r

[2022-08-23 10:23] tyxla commented on #43434
I think that calls for replacing the package already. We're still using CommonJS in far too many places, so I think the best and less fragile way to go around this is to just replace it. We talked about it with @gziolo and agreed that if there's one more time this breaks, we're going to replace the package. Let me work on a PR for that.

[2022-08-23 10:24] getdave commented on #42010
I think a PR to test would be great if you have time/inclination 🙇‍♂️

[2022-08-23 10:42] tyxla commented on #43434
Here's #43511 to suggest switching to a CJS-compatible package.

[2022-08-23 11:24] draganescu commented on #42602
I am picking up this one. I erroneously based https://github.com/WordPress/gutenberg/pull/42987 on different designs but now I'm on the right track :D

[2022-08-23 12:10] #41575 closed, assigned to talldan

[2022-08-23 12:15] torounit commented on #40993
I tested it on my device and could not reproduce it.
I tried copy-pasting from Google Keep, but it is not reproduced.

Paragraphs were retained and lines beginning with `*` were converted to list blocks.

* Android 12
* Chrome 104
* WordPress 6.0.1
* Samsung Galaxy A53

[2022-08-23 12:24] ockham commented on #43203
Much better 👍 Thanks a lot. I'll file a PR with this change (maybe with a slight tweak to the "latest updates" part, since as a user, I wouldn't find that the most compelling reason to click that button 😄).

I was also thinking about this a bit more over the past week. I think I'd been caught up a bit too much with the feature parity question (getting the legacy block to make the "One response to.

[2022-08-23 12:27] draganescu commented on #43227
It is unintentional. I'll change the Issue accordingly.

[2022-08-23 12:44] t-hamano commented on #24085
Since I believe that it is expected behavior that files whose URL ends with `.zip` cannot be downloaded, I will remove the Bug label.
However, it might be good to check Content-Type with `http.request`, etc., since it only determines if the file is a zip file or not from a string.
Therefore, label it as an enhancement.

[2022-08-23 13:00] ndiego commented on #43490
I will take a stab at a PR this week.

[2022-08-23 13:29] Mamaduka commented on #43467
I think this issue is more suitable for [Discussions](https://github.com/WordPress/gutenberg/discussions).

[2022-08-23 13:29] #43467 closed, assigned to nobody

[2022-08-23 13:43] sweber83 commented on #42434
@talldan
Thanks for your help!
For now we will use a plain text input.

Maybe at some point in the future we will implement a PR, but not at this time.

[2022-08-23 13:43] #42434 closed, assigned to nobody

[2022-08-23 13:55] Mamaduka commented on #36025
Hi, @eirichmond

Based on your snippet, you're returing multiple elements to render. While React supports this method, you'll need to manually provide a unique `key` for each element. Alternatively, you can use [`React.Fragment`](https://reactjs.org/docs/fragments.html#keyed-fragments) to return multiple elements.

@rowinski, I don't think it's a related issue. If you're still experiencing this be

[2022-08-23 13:55] #36025 closed, assigned to nobody

[2022-08-23 13:58] Mamaduka commented on #39166
I think `templateParts` of a child and parent theme aren't correctly merged.

[2022-08-23 14:03] marko-srb commented on #43491
I have also tested and it seems like two additional conclusions may help when looking into the issue:

01. ‘Letter spacing’, ‘Size’, and ‘Drop cap’ are resetting to default and they aren’t shown when text is re-selected.
02. The ‘Cmd+z’ shows that resetting of the text features happened outside of the ‘quote block’
Check [this video](https://share.cleanshot.com/fHF5x7) for clarification.

[2022-08-23 14:05] MaggieCabrera commented on #34198
I think no one has picked anything up, but I don't think there's any blockers besides wanting to work on it? Working on the input or labels would be great, it would give themers and users much better control over the search block as a whole. Also, when we upgrade the comments form to a proper block it would be great to have them all be made with elements from the start.

[2022-08-23 14:09] draganescu commented on #37936
(edited) Tested this:

- the problem seems to only appear when the block is used inside a query loop
  - stand alone featured image block gets properly aligned
  - ~~featured image block in a query loop's post template does not get aligned~~ I think this is another issue. In the theme I tested the featured image was properly aligned in the query loop if it is in a group block in the post template.

[2022-08-23 14:15] myleshyson commented on #28517
it doesn't seem like `allowed_blocks_all` addresses https://github.com/WordPress/gutenberg/issues/34788. That issues was for restricting blocks _per registered widget_, not just for restricting blocks between editor contexts.

[2022-08-23 14:16] beafialho opened #43523 "Navigation: Mobile "Close" icon misplaced"
### Description

It’s frustrating that the `X` button doesn’t sit in the same place as the hamburger icon. I'd expect it would sit on the same area.

### Step-by-step reproduction instructions

1. Create a navigation menu
2. See the site on mobile
3. Notice how the icons are misplaced

### Screenshots, screen recording, code snippet

https://user-images.githubusercontent.com/65220155/186180949-2b0

[2022-08-23 14:20] ndiego commented on #39335
This is actually a theme design "issue" in Twenty Twenty-Two. Everything is technically working, but the Header template part has set the Link color to White, which causes them to "disappear" in the mobile overlay. This can be easily fixed by setting the text overlay color on the Navigation block, see the screenshot below. Since this is theme related, I am going to close this out.

![image](https:

[2022-08-23 14:20] #39335 closed, assigned to nobody

[2022-08-23 14:21] beafialho opened #43524 "Navigation: Consider animations for mobile menu"
Currently, the navigation block is not only buggy (see #43523) but also quite flat. The fact that it's not possible to add any animation to it, seems like a missed opportunity to enhance a website with a very simple, basic detail.

Animation in the header would already enhance the overall feel of a website. If it worked well, we could extend it to page transitions or even sections of the site. Oth

[2022-08-23 14:26] ndiego commented on #40993
@man4toman so far, we have been unable to reproduce. Would you be able to provide the language setup you are using?

[2022-08-23 14:29] ndiego commented on #41035
I am closing this issue in favor of the Trac issue, but can confirm the issue exists.

[2022-08-23 14:38] cbravobernal commented on #42850
This solution seems to be working but, also, creates duplicated navigation menus that could last forever on the DB (I cannot find an easy way to get to navigation menus as a user).

I will keep you updated!

[2022-08-23 14:42] draganescu commented on #27660
It's fixed to me! :)

[2022-08-23 14:42] #27660 closed

[2022-08-23 14:48] marko-srb commented on #28476
I’ve experienced the same issue. When selecting ‘align center’ the image shall be narrowed, while it isn’t. Here’s a repetitive [process recorded](https://share.cleanshot.com/4RtH1P). Thought this may help.

[2022-08-23 14:49] Mamaduka commented on #42247
The issue was fixed via #43188.

[2022-08-23 14:49] #42247 closed, assigned to nobody

[2022-08-23 14:55] ndiego commented on #42338
Hi @Code-Bear, this issue came up in this week's Editor Bug Scrub meeting. Attendees were unable to replicate with the latest version of Gutenberg and the Twenty Twenty-Two theme, so our thought is this might be a theme issue 🤔 The `width: 100%` style exists in Gutenberg, but does not generate the result you are seeing.

Would you be able to provide some more info regarding your setup?

[2022-08-23 15:01] antonyjsmith commented on #43427
But it's describing it for what it is, a query and the term can encompass multiple post types already without the need for additional logic. Feels like complexity for the sake of it rather than trying to educating a user.

Plus you need a pretty good grasp of Wordpress to get the best out of Gutenberg anyway and this'll be another one of those annoying changes that then change again.

[2022-08-23 15:36] javierarce commented on #42010
Of course, here is [the PR](https://github.com/WordPress/gutenberg/pull/43530)

[2022-08-23 15:44] antonyjsmith commented on #35320
Thanks for the feedback, I've not tested so unsure if it works since we decided to abandoned Wordpress as the CMS for the project anyway!

[2022-08-23 15:56] getdave commented on #42850
I don't fully follow this. So you're saying as a user you've clicked on one of the classic menus. The code has run the conversion to a block menu and then updated the block.

What's the problem? How does this manifest for the user?

[2022-08-23 16:03] ryelle commented on #20569
This issue also prevents loading editor styles from plugins (or themes if you're not paying attention).

For example, I have a plugin that sets up some font files, and it's added to the editor by `add_editor_style( plugins_url( 'style.css', __FILE__ ) );`

When the editor styles are loaded, it tries to `wp_remote_get` the file contents, but it's prevented by "cURL error 7: Failed to connect to loc

[2022-08-23 16:05] ciampo commented on #21977
cc @noisysocks as he's made some changes in #43005 related to this issue

[2022-08-23 16:34] annezazu commented on #43203
Adjust away! Thanks for being open to feedback on the message either way. I think this makes a ton of sense to follow the same pattern as other themes.

[2022-08-23 16:39] mirka commented on #38414
Does not reproduce anymore in current trunk.

[2022-08-23 16:39] #38414 closed, assigned to nobody

[2022-08-23 16:45] andreiglingeanu commented on #38667
Noticed that too. A very annoying issue that unfortunately cannot be fixed just from the components inside the block settings sidebar (only if we fully extract the state outside the components rendered here).

Also, another issue is, moving from `desktop` to `tablet` device feels very laggy due to the initial render of the iframe.

[2022-08-23 16:51] ciampo opened #43533 "`@wordpress/date`: Moving away from `moment` and the role of the package"
With PR #43005 merged, the `@wordpress/components` package replaced its dependency on `moment` with `date-fns`.

Since `moment` and `moment-timezone` are large dependencies, it would be great if we could migrate away from them entirely. [The only package left requiring them is `@wordpress/date`](https://github.com/WordPress/gutenberg/blob/02509c7d595827abf40edb70fca2347d0da9eb52/packages/date/pack

[2022-08-23 17:02] skorasaurus commented on #33940
I'm not able to reproduce this; the index template has been the default template when I tried to reproduce this (using the wei theme). please reopen if you're still experiencing this.

[2022-08-23 17:02] #33940 closed, assigned to nobody

[2022-08-23 17:08] gziolo commented on #43533
Great idea. We tried something similar before. Unfortunately, the previous attempt to replace `moment` was more difficult than we anticipated:

- [Use date-fns and date-fns-tz instead of moment](https://github.com/WordPress/gutenberg/pull/25782)
- [Revert date changes from branch 'replace-moment'](https://github.com/WordPress/gutenberg/pull/27550)

`@wordpress/data` is probably used by plugins. I

[2022-08-23 17:21] ciampo commented on #43533
Cc'ing @vcanales  and @swissspidy  who collaborated on the previous attempt

[2022-08-23 17:51] cuemarie opened #43535 "[Block] Buttons: Border color does not respond to text color in FSE themes"
### Description

In classic themes, a button set to the style `Outline` would have a border whose color would follow the color selected for the button's text.

In Block-based themes, the border does not respond to color selections for the Text, meaning there's no way to change the button's border color.

### Step-by-step reproduction instructions

1. Install and activate a Block theme, like TT2
2.

[2022-08-23 17:52] ciampo commented on #43282
Thank you @WunderBart !

We can look into removing initial animation from these components:

- `Popover`
- `ToggleGroupControl` (responsible for the `FontSizePicker` animations)
- `Navigator`

During your tests, were the rest of the `framer-motion` animations (i.e. the ones happening as the result of user interaction) detected correctly by Playwright ?

[2022-08-23 18:01] annezazu opened #43537 "Color contrast warning appearing incorrectly"
### Description

After setting color options for a nested block, the parent block seems to start showing the color contrast warning, even if none exist. I am still working out the circumstances for when this happens but have narrowed it down to at least one flow.

### Step-by-step reproduction instructions

1. Add a query loop block.
2. Change the colors of the post title block within it.
3. Notic

[2022-08-23 18:50] bradhogan commented on #41345
Any updates on this one?

[2022-08-23 19:15] justintadlock commented on #42054
Just ran into this issue with Gallery > Image font sizes.  Even drilling down with both of these options, and they are still overruled for gallery images:

[code]

[2022-08-23 19:53] #43434 closed, assigned to tyxla

[2022-08-23 21:44] annezazu commented on #18561
If you are open to helping with documentation, that would be awesome. You can open an issue here with a recommendation: https://github.com/WordPress/Documentation-Issue-Tracker/issues You can also get involved with the docs team here: https://make.wordpress.org/docs/ and the accessibility team here: https://make.wordpress.org/accessibility/

[2022-08-23 21:45] annezazu commented on #42659
Thanks so much for flagging this, Alex, and Thomas for opening this issue. Getting as specific as possible with feedback makes advocating easier so do let me know what I can do if/when you all meet.

[2022-08-23 21:52] diegosomar commented on #43535
Same here. In my case, in editor the border are not shown, but works fine in front page.

### Editor print (theme TT2):
![print1](https://user-images.githubusercontent.com/11670836/186272542-781752b7-fbf8-4504-9bbb-e9bae349329b.png)

### Front-page print (theme TT2):
![print2](https://user-images.githubusercontent.com/11670836/186272573-63d08898-be2c-4dc6-9ed2-381dc32410f5.png)

[2022-08-24 00:12] noisysocks commented on #43533
I wouldn't mind working on this, but not until after 6.1. I’m a little bit familiar with `@wordpress/date` from refactoring `DateTimePicker` and working on [#39670](https://github.com/WordPress/gutenberg/pull/39670).

[2022-08-24 00:35] noisysocks commented on #43533
I doubt we'd design a better API than `date-fns` or `Temporal` so with this approach `@wordpress/date` would likely become a wrapper around an existing library similar to how `@wordpress/element` is a wrapper around React. The advantage of this approach is that we can change the underlying library in the future without breaking backwards compatibility, but, to be honest, I think YAGNI!

Yeah at th

[2022-08-24 00:41] noisysocks commented on #43533
Regarding `Temporal`: I think it's a great fit but not ready just yet. Right now it will increase our bundle size because the polyfill defines classes (e.g. `Temporal.Instant`) that can't be tree shaken as effectively as the pure functions in `date-fns`. Also the authors do not currently recommend using `Temporal` in production. When a big browser ships `Temporal` and we don't need the polyfill as

[2022-08-24 02:25] tellthemachines opened #43541 "Block toolbar positioned under block in the site editor"
### Description

In the site editor, if the topmost block is longer than the viewport height, the block toolbar is disappearing under the block.

### Step-by-step reproduction instructions

1. In a new template, add a Query loop;
2. Make sure the Query has enough content that the block is longer than viewport height;
3. Select Query and see toolbar appearing behind it.

### Screenshots, screen rec

[2022-08-24 02:29] tellthemachines commented on #42770
👋  I just created #43541 for what seems to be a related issue; may be related to the recently merged #42887.

[2022-08-24 05:01] #39506 closed, assigned to nobody

[2022-08-24 05:31] glendaviesnz commented on #43537
In the example shown above this is due to the link text being set to white on the post title block, and the query block having a default background color of white.

To check the contrast of link text against block background the contrast [checker looks for the first child `a`](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-editor/src/hooks/color-panel.js#L40).

When you navigate

[2022-08-24 06:11] cbravobernal commented on #42850
I guess the problem here is that change (conversion from page list to block elements menu) happens automatically (which is cool) but also is autosaved.
Meaning that if the user reloads the page without saving or closes the tab, if he reloads the main site or goes back to the editor, they will see the changes applied (new custom menu) like if they had clicked on the "save" button.

[2022-08-24 06:50] areoimiles opened #43549 "ServerSideRender results in "Request-URI Too Long""
### Description

I have created a block that is rendered server side. This block is quite customisable and therefore has a lot of attributes. This works fine until I change too many attributes at which point the block displays "This block has encountered an error..." when editing in the block editor.

It looks as though server side blocks are rendered via this url endpoint "/wp-json/wp/v2/block-re

[2022-08-24 06:56] Mamaduka commented on #43549
Related issue #33879.

[2022-08-24 07:02] areoimiles commented on #43549
@Mamaduka I will close this issue and add to the existing one.

[2022-08-24 07:02] #43549 closed, assigned to nobody

[2022-08-24 07:02] areoimiles commented on #33879
I have created a block that is rendered server side. This block is quite customisable and therefore has a lot of attributes. This works fine until I change too many attributes at which point the block displays "This block has encountered an error..." when editing in the block editor.

It looks as though server side blocks are rendered via this url endpoint "/wp-json/wp/v2/block-renderer/block/name

[2022-08-24 07:05] Mamaduka commented on #43549
Thanks, @areoimiles.

Actually, I just remembered that you could change the HTTP method for the `ServerSideRender` component. See #21068.

[code]

[2022-08-24 07:11] areoimiles commented on #43549
Yep I think that will solve it for me, thanks @Mamaduka!

[2022-08-24 07:26] scruffian commented on #42850
The behaviour for creating a new menu and importing a classic menu are inconsistent. If I create a new menu, but don't save my changes, the front of the site is unchanged. If I import a classic menu then the frontend of the site is changed immediately without me saving anything.

[2022-08-24 07:33] mirka commented on #43282
Sorry, I was under the impression that ToggleGroupControl was migrated to framer-motion but I guess it's not? It does its [own `transition` handling](https://cs.github.com/?scope=repo%3Awordpress%2Fgutenberg&scopeName=Gutenberg&q=path%3Apackages%2Fcomponents%2Fsrc%2Ftoggle-group-control+transition).

[2022-08-24 07:53] fabiankaegy commented on #37943
@carlomanf I agree that having both at the same time is not the best experience. I personally think of the two a bit different because in my opinion template parts are more powerful than widget areas since they conceptually give you more control over the layout of a section. (I know technically speaking you could do very similar things in block-based widget areas)

Since template parts are clearly

[2022-08-24 08:01] ciampo commented on #43282
I had started working on it — I opened a [first attempt](https://github.com/WordPress/gutenberg/pull/40107), which was then superseded by [a second attempt using shared layout animations](https://github.com/WordPress/gutenberg/pull/40276), which couldn't be merged [because of a bug in `framer-motion`](https://github.com/WordPress/gutenberg/pull/40276#issuecomment-1108860997)

[2022-08-24 08:02] ciampo commented on #43282
I also had another thought — if we wanted to disable framer-motion animations, what if we mocked `framer-motion` components?(`motion.div` mocked to render a `div`, ...)

[2022-08-24 08:20] carlomanf commented on #37943
I think there are ways to lessen the confusion between template parts and widget areas without cutting off support for both at the same time.

- Why do they need to be accessed through separate admin menu items?
- Why do they need to use radically different interface designs?
- Why do they need to have different names?

[2022-08-24 08:28] t-hamano commented on #14881
It has been quite some time since the assignment was submitted, but I have been thinking about this issue again.

The answer to this issue is to use `BlockControls`, but there is no specific tutorial or sample code even in the latest Gutenberg.
I think it is a good idea to add a new step at the end of [Formatting Toolbar API](https://github.com/WordPress/gutenberg/blob/trunk/docs/how-to-guides/for

[2022-08-24 08:28] carolinan opened #43554 ""Browse styles" in the global style sidebar does not always show"
### Description

When a theme has theme.json style variations:
Normally I have to wait 15 seconds before the "browse styles" option is visible in the global styles sidebar. This feels too long.
But sometimes, it does not show up at all, and I have to refresh the site editor and wait again.

Tested in different themes, including Twenty Twenty-Three.

### Step-by-step reproduction instructions

I am

[2022-08-24 08:37] t-hamano commented on #14881
By updating the documentation, #29181 will be resolved at the same time.
Also related to this issue are #22663 and #30069 regarding the option to move the core format from the drop-down to the toolbar.

[2022-08-24 08:48] Aljullu opened #43557 "Block templates with specific postTypes that have been edited by the user can be selected for any other post type"
### Description

I originally opened [this issue in Trac](https://core.trac.wordpress.org/ticket/55881), but moving it here for better visibility.

When a block template provided by a theme has been edited by the user, the `postTypes` argument is ignored, so the template is available for the wrong post types.

### Step-by-step reproduction instructions

1. With a block theme (I used Twenty Twenty

[2022-08-24 08:54] tmatsuur opened #43562 "Error in calculateClientWidth function"
### Description

When the block inserter is displayed and the mouse pointer is moved from the Columns block to the Buttons block in the DESIGN category, the following error is output to the console.

`block-library.js?ver=dcc9ded9544ed588a6ecc6aee441005c:19989 Uncaught TypeError: Cannot read properties of null (reading 'clientWidth')
    at calculateClientWidth (block-library.js?ver=dcc9ded9544ed5

[2022-08-24 08:56] jasmussen commented on #43537
Thanks for the thorough context Glen!

It does seem mainly a UI issue. Essentially the color warning should only ever be shown in context of the problem source. I.e. when all of the colors are unset, you are not looking at the source of the problem and while you could take action there, it would only fix the problem locally.

This makes it sound like the contrast warning should appear in Global St

[2022-08-24 08:56] tellthemachines opened #43564 "Inline toolbar keyboard navigation should be consistent with block toolbar"
### Description

Currently, the block toolbar, once focused, is navigable with the Arrow keys, because it uses the `NavigableToolbar` component.

But the inline toolbar, such as appears for Image block captions, doesn't use the same component, so it can only be navigated with Tab key. Ideally, keyboard behaviour should be consistent across both toolbars. We could use `NavigableToolbar` for the inl

[2022-08-24 08:59] tmatsuur commented on #43562
The relevant source code is as follows:

packages/block-library/src/image/use-client-width.js L10
`	function calculateClientWidth() {
		setClientWidth( ref.current.clientWidth );
	}`

If ref.current is null, the setClientWidth function should not be called to avoid an error.

[2022-08-24 09:04] Mamaduka commented on #43562
Thanks for reporting the issue. It's a bit hard to reproduce constantly, but I've seen this error before.

I'm going to submit the fix shortly.

[2022-08-24 09:09] KAJALwp opened #43566 "Issue in Pullquote Block"
### Description

When we select Pullquote block in post or page, we can view Top and Bottom separator in editor side but we can't view separator in front-side.

For better understanding I provide video attachment link.

### Step-by-step reproduction instructions

1. Go to editor
2. Open page or post
3. Add Pullquote Block
4. Save page or post
5. See preview in front-side

### Screenshots, screen r

[2022-08-24 09:09] jameskoster commented on #36735
Going back to the 'replicate the code' concept, this would be equivalent to a style that has no `text-transform` declaration, correct? If so, I would not display the control at all. I think we've discussed this before, but the flow of adding a control to override an inherited default feels quite natural to me.

[2022-08-24 09:11] t-hamano commented on #40138
The `icon` prop of `RichTextToolbarButton` component can accept svg elements, dashicon names, etc.
For example, in the core format type, the button includes the icon as SVG since the icon is specified from the `@wordpress/icons` package:

[code]

The style as a drop-down icon and the active format style are then applied, as shown below.

![svg](https://user-images.githubusercontent.com/54422211/18

[2022-08-24 09:11] fluiddot commented on #38407
Updated the parent post with:

### 🛠️ Recently fixed or improved
++ [Disable FastImage on Android](https://github.com/WordPress/gutenberg/pull/43322) (it was disabled due to [this issue](https://github.com/WordPress/gutenberg/issues/43149), it will be re-enabled once it’s addressed)
++ [List block v2: Fix text color inconsistencies with list items](https://github.com/WordPress/gutenberg/pull/43244

[2022-08-24 09:20] sgomes commented on #43533
Thank your for all your work on this, @noisysocks! 👍

Regarding `Temporal`, I agree that it may be a bit too early to move in that direction given the current state of the polyfill, unfortunately. But it seems that we're in agreement that we should move to it eventually, once support is there.

As such, the decision we should make, as I see it, is whether we want `@wordpress/date` to serve as an a

[2022-08-24 09:21] jasmussen commented on #36735
The only gotcha there is in cases where we _do_ want to surface the control by default, to aid discoverability. In that case, toggle-buttons allow the natural unset state by not having any toggled, whereas you can't go back to this untoggled state in a segmented control (similar to radios).

[2022-08-24 09:29] jameskoster commented on #43427
Yes but patterns are generally designed with a certain post type in mind. If a user wants to insert a Products grid, it's not helpful that they have to sift through patterns designed for projects, recipes, blog posts, and so on.

So there's two approaches – have subcategories beneath 'Query', or just elevate those 'sub' categories to the top level and hide the generic 'Query'. I don't have a stron

[2022-08-24 09:39] antonyjsmith commented on #43427
Are they? In my experience patterns are generally agnostic. Plus only one pattern category in that drop down is for a specific post type and that's pages e.g buttons, gallery, columns etc can be used anywhere and not for a specific post type, under the assumption 'everything a block' so all patterns should work anywhere.

Finally, returning to the original rational, post type is a Wordpress concep

[2022-08-24 10:35] WunderBart commented on #43282
@ciampo I haven't tested any user interactions yet - just the initial part. Which components do you think could be problematic? I'd be happy to do some more testing to learn more about FM behavior 👍

edit: I guess I can start from the `FontSizePicker` as it seems to be a good starting point 😄

[2022-08-24 10:44] carolinan opened #43572 "Adding padding to the body in theme.json adds scrollbar to the style variation preview"
### Description

When theme.json adds padding to the body (spacing.padding), the padding is visible in the style variation preview in the global styles sidebar.

### Step-by-step reproduction instructions

1. Activate [Twenty Twenty-Three](https://github.com/WordPress/twentytwentythree)
2. In theme.json, add padding to the body (see example below)
3. Open the Site Editor and the styles sidebar

##

[2022-08-24 10:44] github-actions[bot] opened #43573 "[Flaky Test] renders buttons for the submenu opener elements when the block is set to open on click instead of hover"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
renders buttons for the submenu opener elements when the block is set to open on click instead of hover

## Test path
`specs/editor/blocks/navigation.test.js`

## Errors

<details>
<summary>
	<time datetime="2022-08-24T10:44:45.616Z"><code>[2022-08-24T10:44:45.616Z]</code></

[2022-08-24 10:51] Thelmachido commented on #33458
I wasn't able to replicate this, when I try to save the changes I would have made to the reusable block _as an author_ of the site I get an error.

https://user-images.githubusercontent.com/41231764/186400198-8b6c3d75-c9ca-49e5-a2c5-4e5d1a1ed995.mov

WordPress 6.0.1

Gutenberg 13.9.0

Theme - TT2

I will close this issue for now

[2022-08-24 10:51] #33458 closed, assigned to nobody

[2022-08-24 11:48] jasmussen commented on #43523
I have a potential fix in #43576, that needs a sanity check. If we're able to land it, it will require a theme to do a few things in order for it to work:

* The theme opts into root paddings (#42085), by adding `"useRootPaddingAwareAlignments": true` in theme.json under settings, and paddings to go with that either in global styles or under styles > spacing.
* The Header template part contains a

[2022-08-24 12:07] ciampo commented on #43282
You could test `FontSizePicker` as it's an interesting one (even if it doesn't use `framer-motion` for animations)

Of the ones you listed, `Popover` would be a good candidate, since it features often in the editor and is often animated

[2022-08-24 12:30] jonathanbossenger commented on #42732
Out of interest, can we make use of the current class template file header parsing for this? I would guess it would be a case of using that functionality when the theme loads, parsing the files in the templates and parts directories and then setting them up in the same way the theme.json parser would.

[2022-08-24 12:39] javierarce commented on #42922
After https://github.com/WordPress/gutenberg/pull/43115 the inserter looks like this now:

<img width="694" alt="Screenshot 2022-08-24 at 14 34 30" src="https://user-images.githubusercontent.com/4933/186419469-5fd24493-2ccc-4f30-9824-64d9964a328a.png">

[2022-08-24 12:53] Thelmachido commented on #33758
I can still reproduce this, the short video below shows step 7 to 10. The title isn't updated in preview as it should.

https://user-images.githubusercontent.com/41231764/186423049-e56287ed-4abb-4ef6-8719-714b54aac876.mov

WordPress 6.0.1

Gutenberg 13.9.0

Theme TT2

[2022-08-24 12:56] Thelmachido commented on #33791
Hi @karmatosed there hasn’t been any movement on this issue in 1+ years, I’ve marked it as stale. Let me know if you think it should be kept open. Thanks!

[2022-08-24 13:05] Thelmachido commented on #33813
I was able to reproduce this as shown below:

https://user-images.githubusercontent.com/41231764/186425887-732f45d1-ad52-4fda-8ff7-3fad4bff86d1.mov

WordPress 6.0.1

Gutenberg 13.9.0

Theme TT2

[2022-08-24 13:09] Thelmachido commented on #33834
I can also confirm that this is no-longer an issue, tested on a 300px wide screen

<img width="501" alt="Untitled 4" src="https://user-images.githubusercontent.com/41231764/186426552-5bd13346-dcab-49d7-b6e4-6ed800c0dd0a.png">

Closing this issue

[2022-08-24 13:09] #33834 closed, assigned to nobody

[2022-08-24 13:20] Thelmachido commented on #33886
It looks like the shortcode inside the group block becomes the same width as the one outside the group block if you make the group block `full width`.

https://user-images.githubusercontent.com/41231764/186428970-a646cabf-22c5-4596-8349-7eb1bfd8bd7b.mov

WordPress 6.0.1

Gutenberg 13.9.0

[2022-08-24 13:45] jameskoster commented on #36735
True, but while discoverability is improved, there is still a confusing trade-off... For example with the Row block, the 'Block spacing' control is visible but contains no value, despite the canvas clearly demonstrating a gap:

<img width="966" alt="Screenshot 2022-08-24 at 14 43 37" src="https://user-images.githubusercontent.com/846565/186434137-a89b4fe1-8685-44c7-9b79-798b00f71b54.png">

[2022-08-24 13:48] cbravobernal commented on #42850
I tried @talldan 's idea in #43580, it works, but it may cause duplicated draft menus.

[2022-08-24 14:11] MaggieCabrera commented on #41113
I think https://github.com/WordPress/gutenberg/issues/43241 has the same intention as this issue

[2022-08-24 14:28] ockham commented on #43470
FWIW, I think this is an example of a situation we might see more frequently in FSE. We had a similar case in the Comments block where we needed have all child blocks in the editor so they could be re-arranged and customized; OTOH, we had to deal with the situation where a post didn't have any comments (and didn't want to render any spurious empty elements).

The solution we decided on (#43383) is

[2022-08-24 14:33] scruffian commented on #41113
Closing in favour of https://github.com/WordPress/gutenberg/issues/43241

[2022-08-24 14:33] #41113 closed, assigned to nobody

[2022-08-24 14:48] ockham commented on #43203
Okay, so it's possible to implement [this suggestion](https://github.com/WordPress/gutenberg/issues/43203#issuecomment-1223996378) by using [my earlier solution](https://github.com/WordPress/gutenberg/issues/43203#issuecomment-1216928539) and tweaking it a bit. The following is a patch against WordPress:

[code]

I'll file a PR against `wordpress-develop`.

[2022-08-24 15:00] joedolson commented on #43203
Link it against #55172 and I can review & commit it.

[2022-08-24 15:13] flexerd opened #43582 "Table Block Edit as HTML converts to HTML Block when Edit Visually is clicked"
### Description

Added a Table block, selected 'Edit as HTML' then 'Edit Visually' Block becomes a 'Custom HTML'  block even if no changes are made to the code.

Old closed issue - https://github.com/WordPress/gutenberg/issues/23511

 With Gutenberg disabled this does not happen and the block behaves normally

### Step-by-step reproduction instructions

1. Add Table Block
2. Add some copy to cells

[2022-08-24 15:18] WunderBart commented on #43282
Huh, I should have checked myself, but I assumed that `FontSizePicker` does use the FM animation, hence problems with stability in Playwright as well. Why would Playwright fail handling those animations as well then? 🤔 This one's getting even more interesting. I'll keep digging. /cc @mirka

[2022-08-24 15:50] javierarce commented on #43023
Removing existing functionality is always difficult, but since users can change the date and visibility in the previous sidebar, if we make sure the information is easy to spot, we could have a good justification for the removal. The benefit of eliminating those fields is of course that we get back some space to use in the new sections.

I think making the blog information dependent on the Feature

[2022-08-24 15:57] jameskoster opened #43583 "Add Accessibility and other user preferences to the Editor on-boarding flow"
For full details, please take a look at [this post on the make blog](https://make.wordpress.org/design/2022/08/04/design-exploration-encourage-editor-configuration-during-on-boarding/).

Otherwise a **TLDR** is: **important user preferences are somewhat buried in the UI, and we could improve a users 'first-touch' experience if we gave them the option to configure these preferences right away**.

-

[2022-08-24 16:43] oandregal commented on #40808
Hi @gigitux I've reviewed this using the featured product block in WordPress 5.9 and 6.0 and I wasn't able to make it work in any version (tested frontend, post editor, and site editor: none worked). Plugins: latest WooCommerce but without Gutenberg.

This is what I've found:

- the global styles are correctly generated for all blocks in both versions, including the featured product block. The cla

[2022-08-24 16:51] WunderBart commented on #43282
OK, so I've been testing the `FontSizePicker` (non-FM) and `Popover` (FM) a bit more and it looks like they both respond well to explicit stability checks for their animated elements. Those elements would be the button highlight for the Picker and for the Popover, the popover element itself. Here's how a succesful interaction test could be written for the Picker:

[code]

...and for the Popover co

[2022-08-24 17:43] github-actions[bot] opened #43584 "[Flaky Test] encodes URL when create block if needed"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
encodes URL when create block if needed

## Test path
`specs/editor/blocks/navigation.test.js`

## Errors

<details>
<summary>
	<time datetime="2022-08-24T17:43:31.634Z"><code>[2022-08-24T17:43:31.634Z]</code></time> Test passed after 1 failed attempt on <a href="https://git

[2022-08-24 18:13] Aljullu commented on #43557
PR created in wordpress-develop: https://github.com/WordPress/wordpress-develop/pull/3131

[2022-08-24 18:15] #6394 closed

[2022-08-24 18:15] #21406 closed

[2022-08-24 18:15] #17052 closed

[2022-08-24 18:15] #32169 closed, assigned to nobody

[2022-08-24 18:15] #40348 closed, assigned to nobody

[2022-08-24 18:21] #37968 closed, assigned to talldan

[2022-08-24 19:18] Mamaduka commented on #43557
Thanks for the core PR, @Aljullu.

I had a WIP branch for the plugin, which is slightly different from your patch. So I will try to create PR tomorrow morning.

[2022-08-24 19:41] justintadlock opened #43586 "Image captions in galleries hide rounded border"
### Description

When an Image block within a Gallery has a `border-radius`, the caption background obscures the bottom corners of the Image.  The `<figcaption>` element's `bottom-border-left-radius` and `bottom-border-right-radius` should inherit from the Image block.

### Step-by-step reproduction instructions

Add a border radius to the Image block via `theme.json`:

[code]

Test by adding a Ga

[2022-08-24 19:49] justintadlock commented on #43194
This also affects the line-height.

For more context, the font-size is used, but the inner `<p>` style uses a relative unit for it:

[code]

Right now, theme authors have to kind of "hack" this by calculating what `1.75em` is relative to whatever size that they actually want and defining that in `theme.json`.

[2022-08-24 19:52] jp-imagines commented on #42103
Just noting here that I worked with a user today who had requested this.

In their case, the Separator blocks were showing as left-aligned within the Site Editor (`footer > Group > Columns > Column > Group > Paragraph + Separator`), but they were centered on the live site. We needed some custom CSS code to left-align them as a workaround.

[2022-08-24 19:59] matiasbenedetto commented on #43194
@justintadlock This recently merged PR (https://github.com/WordPress/gutenberg/pull/4319) should fix this, so I'm closing this issue. Feel free to re-open it if this is still a problem using the latest Gutenberg trunk version.

[2022-08-24 19:59] #43194 closed, assigned to nobody

[2022-08-24 20:08] justintadlock opened #43587 "Code block has duplicate background in editor"
### Description

The `<code>` element inherits the `background` value from its parent `<pre>` when using the Code block in the editor (not an issue on the front end).  Generally, this is not an issue with solid background colors.  However, if the Code block has padding and a gradient background, the duplicate background becomes apparent.

### Step-by-step reproduction instructions

1. Add a Code b

[2022-08-24 20:20] LukaszJaro opened #43588 "Browsing through insertor panel causes white screen error: The editor has encountered an unexpected error."
### Description

When scrolling in the insertor or selecting blocks, just being in the insertor after a period of time causes white screen with error message 'The editor has encountered an unexpected error.'

Dev console displays this error after the crash:

Error: Block type 'core/social-link' is not registered.
    at Bt (https://fse.test/wp-includes/js/dist/blocks.min.js?ver=658a51e7220626e26a9

[2022-08-24 20:32] LukaszJaro commented on #43588
Closing, it ended up being theme issue with unregistering blocks:

[code]

[2022-08-24 20:32] #43588 closed, assigned to nobody

[2022-08-24 21:39] NicoHood commented on #39612
Is it possible to remove this extra box around the image? My usecase is a bit different, I want to have this visual space, but only for the large, not the mobile gallery. I want each row to have the same column size, but that seems currently not possible, isnt it?

[2022-08-25 01:35] tmatsuur commented on #43562
Thanks @Mamaduka

I am thrilled with the quick response.

[2022-08-25 02:43] rku4er opened #43591 "Block pattern stops showing dynamic content after the page template update"
### Description

I am using a block pattern for showing a search query in a search page title. It does work well until I make any style changes to the search template in the site editor. After I save the page it starts showing the static placeholder value. The only way to fix that is to clear customizations via the top menu.

### Step-by-step reproduction instructions

1. Create a block pattern wi

[2022-08-25 03:13] BrunoAHVincent commented on #34757
Any updates on this, I'm trying to add excerpt text to dynamic header, and needs to be very short

[2022-08-25 03:24] BrunoAHVincent commented on #21943
Any solution to this yet?

[2022-08-25 03:24] #43562 closed, assigned to Mamaduka

[2022-08-25 03:40] glendaviesnz commented on #43537
One [possible fix for this specific problem here ](https://github.com/WordPress/gutenberg/pull/43592) ... but it is at the expense of missing contrast issues when colors are not explicitly set at the parent level and a link nested more than one level deep does have bad contrast. However, explicitly setting bad contrast colors on the block should still work, so it may be less confusing to not show

[2022-08-25 03:42] talldan commented on #43582
Thanks for reporting this. It should be fixed by https://github.com/WordPress/gutenberg/pull/43219, which will be in the upcoming Gutenberg v14.

[2022-08-25 03:42] #43582 closed, assigned to nobody

[2022-08-25 04:10] carolinan commented on #43203
I would like for other options to be explored, only because I am concerned that this will set a precedence for including a .php file which should not be needed in a block theme, in a default theme.
The default themes are often used as examples.

[2022-08-25 04:21] carolinan commented on #43203
Untested: By moving the comments area to a pattern, the blocks can be included conditionally depending on WordPress version.
The caveat is that it would only help installations where the single and page templates have not already been altered (markup saved to the database), and new installations.

[2022-08-25 04:21] #39645 closed, assigned to BE-Webdesign

[2022-08-25 04:36] noisysocks commented on #43533
Well put @sgomes!

There are only two parts of the entire codebase that have ever used `moment`: `@wordpress/date` and `DateTimePicker`. `DateTimePicker` now uses `date-fns`. So it's not actually a lot of code that needs to be migrated.

Also I don't think there will be any urgency to migrate from `date-fns` to `Temporal` as `date-fns` is a very lightweight tree-shakeable set of functions that use

[2022-08-25 04:50] github-actions[bot] opened #43593 "[Flaky Test] should change image when user is changed"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should change image when user is changed

## Test path
`/test/e2e/specs/editor/blocks/avatar.spec.js`

## Errors

<time datetime="2022-08-25T04:50:47.195Z"><code>[2022-08-25T04:50:47.195Z]</code></time> Test passed after 1 failed attempt on <a href="https://github.com/WordPr

[2022-08-25 05:15] Mamaduka commented on #35079
@jameskoster, do you think we can close this now that https://github.com/WordPress/gutenberg/pull/40649 is merged?

[2022-08-25 05:15] glendaviesnz commented on #43586
I remember we struggled with this when we converted the Gallery to nested Image blocks, before you could set the border radius, but with the Rounded style, and the only solution we could find at the time was to move the caption when the rounded style was set:

<img width="640" alt="Screen Shot 2022-08-25 at 5 13 04 PM" src="https://user-images.githubusercontent.com/3629020/186580463-5fb7fb50-58e3-

[2022-08-25 05:53] Mamaduka commented on #43440
I'll create a patch for changes in [`edit-form-blocks.php`](https://github.com/WordPress/gutenberg/tree/trunk/lib/compat/wordpress-6.1/edit-form-blocks.php) file.

The `gutenberg_add_site_icon_url_to_index` feature backport from `rest-api.php` depends if we merge #43514 or not.

@ntsekouras, correct me if I'm wrong, but the [`wp-theme-get-post-templates.php`](https://github.com/WordPress/gutenberg

[2022-08-25 06:22] Greatdane opened #43595 "Table of contents block – links don't work on initial page save"
### Description

If you add the Table of Contents block to a new page, when you publish the page, the links don't work properly and instead open a new page with a Page not found error. The URL is retaining an **auto-draft** in it. If you edit and Update the page, the links will then work properly. Alternatively, if you publish the page first, then add the Table of Contents block, they will work co

[2022-08-25 07:38] paaljoachim commented on #21943
Hopefully @andrewserong will bet able to get the first version in place by 20th September (beta 1).

[2022-08-25 07:46] jameskoster commented on #29503
Could [this](https://github.com/WordPress/gutenberg/issues/43583) be one to include here?

[2022-08-25 07:49] jameskoster commented on #27890
A possible consideration for inclusion here: https://github.com/WordPress/gutenberg/issues/43261

Edit: Tracked in https://github.com/WordPress/gutenberg/issues/43598 instead.

[2022-08-25 07:55] andrewserong commented on #21943
Thanks for the ping! Yes, the draft is still in https://github.com/WordPress/gutenberg/pull/32500 — it's a little lower in the priorities currently than design tooling consistency (https://github.com/WordPress/gutenberg/issues/43241), which I've been helping out with (particularly spacing support https://github.com/WordPress/gutenberg/issues/43243 and reviews), so not sure yet if I'll get enough t

[2022-08-25 07:56] jameskoster commented on #43241
Might it be worth considering https://github.com/WordPress/gutenberg/issues/43082 as a part of this work?

[2022-08-25 07:57] jameskoster commented on #42813
This is fixed now :)

[2022-08-25 07:57] #42813 closed, assigned to nobody

[2022-08-25 08:04] luisherranz commented on #43201
Our current idea is to replace the real React hooks with our own _pure_ implementation. For example, `useState` could be:

[code]

That way, we don't have to fix the serializer, and the same _export different code in different contexts_ mechanism could be used for other purposes:

- https://github.com/WordPress/block-hydration-experiments/issues/11

But we are also open to other ideas 🙂

[2022-08-25 08:06] jameskoster opened #43598 "Synced / Global blocks: Improving clarity in the UI"
We have a few open issues dedicated to addressing the lack of clarity around these blocks across different UI regions and flows. It would be good to track them all so that we don't end up with divergent / incompatible solutions.

- [x] https://github.com/WordPress/gutenberg/issues/42501
- [x] https://github.com/WordPress/gutenberg/issues/32163
- [ ] https://github.com/WordPress/gutenberg/issues/43

[2022-08-25 08:08] jameskoster commented on #39293
This might be one to consider here: https://github.com/WordPress/gutenberg/issues/42473
And this one: https://github.com/WordPress/gutenberg/issues/42439
Another: https://github.com/WordPress/gutenberg/issues/42154
Two more: https://github.com/WordPress/gutenberg/issues/41947 & https://github.com/WordPress/gutenberg/issues/42675 (both related)
Also: https://github.com/WordPress/gutenberg/issues/40

[2022-08-25 08:09] t-hamano commented on #43587
Thank you for submitting your issue.
I believe #43599 will fix this.

[2022-08-25 08:20] jameskoster commented on #35093
Possibly one for consideration here: https://github.com/WordPress/gutenberg/issues/41868. And this one: https://github.com/WordPress/gutenberg/issues/41866

[2022-08-25 08:21] t-hamano commented on #43572
Perhaps related to this issue, it also reproduces in the active style variation preview.

- Open global styles panel.
- Add Padding from layout menu.
- If you go back one step, a scroll bar will appear in the style variation preview.

https://user-images.githubusercontent.com/54422211/186613683-792c7fc6-0720-4f5b-8f10-097ff4809182.mp4

[2022-08-25 08:27] Mamaduka commented on #30373
I don't think sticky posts are limited by post visibility. You can stick Private and Password Protected posts, but those only will be visible for users with correct capabilities.

I searched the core Trac and couldn't find any ticket proposing to limit this feature to only Public posts.

[2022-08-25 08:29] jasmussen commented on #36735
Yep, that loops right back into #43082!

[2022-08-25 08:30] jameskoster commented on #38275
Possibly worth considering as a part of the work here: https://github.com/WordPress/gutenberg/issues/40884

[2022-08-25 08:32] jasmussen commented on #35093
Perhaps @jorgefilipecosta?

[2022-08-25 08:37] jasmussen commented on #43537
Nice fix. As I noted on the PR, it seems most correct to only show the contrast warning in context of explicitly set colors, as that would also be the best place to fix any color issue. Otherwise you might end up trying to fix a contrast issue in the wrong place.

[2022-08-25 08:44] getdave commented on #40884
@jameskoster Thanks for the Issue. I understand the Navigation sidebar being for the purpose of managing menus rather than a "Site Navigator" interface.

It sounds like the higher level goal behind your request is to make this interface be able to add/remove/edit menus. That is indeed it's purpose, but it has yet to be implemented.

I believe there are other issues which cover that off.

I may hav

[2022-08-25 08:49] Mamaduka commented on #33911
Now that we have a default fallback for Navigation block (#42735), I can no longer reproduce this issue.

cc @draganescu

[2022-08-25 08:59] carolinan commented on #43591
Once saved, it is only a plain heading block.
_Did you know that there is a search title variation of the query title?_

[2022-08-25 09:04] sgomes commented on #43533
Can we simply require these plugins to enqueue `moment` themselves, even if it is a breaking change? We can still ship the library, just not load it by default.

Having an implicit `window.moment` is a problem, as we're massively increasing our API surface area, and worse, delegating it to an external provider over which we have no control. Removing `window.moment` by default seems like an accepta

[2022-08-25 09:09] gziolo commented on #25188
In the the last version published to npm you can find 2 new CLI options that should vastly improve the experience for extending existing projects with new blocks:

## `--no-plugin`

With https://github.com/WordPress/gutenberg/pull/41642 from @ryanwelcher, you can scaffold only the block folder with:

[code]

This way you can add as many blocks as you need to your project. You will only have to rem

[2022-08-25 09:54] jameskoster commented on #35079
Yes, I think so :)

[2022-08-25 09:54] #35079 closed, assigned to nobody

[2022-08-25 09:56] #42848 closed, assigned to mikachan

[2022-08-25 09:56] Mamaduka commented on #30373
You're right, @mrfoxtalbot. I re-tested with many posts, and private ones don't stick to the top. But If I have less than ten posts, then they do.

I think it would be safe to hide or disable the checkbox if the user selects Private/Password Protected post visibility.

[2022-08-25 10:03] ciampo commented on #43282
I was reading about `waitForElement( 'stable' )` and [it looks like](https://github.com/microsoft/playwright/issues/4055) it will only work for animations that cause the element to "move", and therefore it shouldn't be able to support waiting for, i.e., opacity changes — not sure if that would cause any issues.

Out of curiosity, would the `.waitForElementState( 'stable' );` technique work also fo

[2022-08-25 10:07] jameskoster commented on #40884
I appreciate the browse component isn't functionality we have in mind for the navigation panel.

But given that menu editing is, it seems reasonable to provide a way to add menu items?

There's no way for me to add a link to this menu from within the panel:

<img width="280" alt="Screenshot 2022-08-25 at 11 03 31" src="https://user-images.githubusercontent.com/846565/186636671-131cca0b-491a-4b26-8

[2022-08-25 10:32] #43587 closed, assigned to t-hamano

[2022-08-25 10:46] gziolo commented on #36716
Leaving here a note with one possible way for updating existing WordPress packages to support ES Modules:
https://gist.github.com/sindresorhus/a39789f98801d908bbc7ff3ecc99d99c

[2022-08-25 10:50] Mamaduka commented on #43161
The PR is ready for review #43600.

[2022-08-25 11:17] ockham commented on #43203
Ah, I wasn't aware of that technique -- thank you @carolinan!

Still a net win I guess 😄

[2022-08-25 11:34] #14881 closed

[2022-08-25 11:34] colorful-tones commented on #43405
+1000 for this. Thanks for opening an Issue. 👏

[2022-08-25 11:35] #43572 closed, assigned to t-hamano

[2022-08-25 11:47] ntsekouras commented on #37407
All listed items have been merged.

[2022-08-25 11:47] #37407 closed, assigned to nobody

[2022-08-25 12:00] t-hamano opened #43605 "Block Toolbar position is misaligned in RTL language"
### Description

In the RTL language, the block toolbar shifts (physically) to the right when a block is selected in the editor.

- It is reproduced by clicking on a block while no block is in focus.
- Mouse over the right portion of the block toolbar or scroll up and down will be repositioned to the correct position.
- If you click on one of the blocks and then click on another, it will not repro

[2022-08-25 12:14] ellatrix opened #43607 "List: pasting after cutting list item does not work"
[220822-list-v2-cut-paste-into-new-block.webm](https://user-images.githubusercontent.com/583546/185894728-b119bdad-29b3-4c93-9e56-e38aef5bfa18.webm)

See https://github.com/WordPress/gutenberg/pull/42711#issuecomment-1222133313

[2022-08-25 12:16] jameskoster opened #43608 "Improving the inline template part editing flow"
The click-through overlay we added to the template part selection flow works well, but there are a couple of outstanding issues when it comes to editing that would be nice to address:

1. We never really solved how to indicate the template part boundaries once you begin editing the blocks within
2. The selection action feels a bit clumsy, because oftentimes immediately after selection you see outl

[2022-08-25 13:15] #43557 closed, assigned to Mamaduka, Aljullu

[2022-08-25 13:28] Mamaduka commented on #38851
I started working on the `editor/various/writing-flow.test.js` migration.

[2022-08-25 14:12] rku4er commented on #43591
Oh, I didn't know that, thanks Carolina! But I still can't find how to use that search title variations. Is that something that is available out of the box or I need to add some code to enable such variation for the query title block?

Also I can't find the query title block among the available blocks. I am trying to customize a search page template. Is it available there?

[2022-08-25 14:13] Aljullu commented on #43440
Heads-up that I opened a PR in wordpress-develop: https://github.com/WordPress/wordpress-develop/pull/3131 which implements the same fix as #43597 in `block-template-utils.php`.

Related track issue: https://core.trac.wordpress.org/ticket/55881#ticket

[2022-08-25 14:45] #34054 closed, assigned to nobody

[2022-08-25 15:00] #34271 closed, assigned to nobody

[2022-08-25 15:07] #34340 closed, assigned to nobody

[2022-08-25 15:16] #34913 closed, assigned to nobody

[2022-08-25 15:18] ghm-jpeterman commented on #27835
@annezazu Thanks for your response. Is there anyone else that may be able to pick this up since we haven't heard back from @ellatrix?

[2022-08-25 15:19] #34934 closed, assigned to nobody

[2022-08-25 15:34] #34963 closed, assigned to nobody

[2022-08-25 15:50] courtneyr-dev commented on #43566
This seems isolated to Twenty Seventeen theme.  I tested this with

- Twenty Twenty Two
- TT1
- Wabi
- Twenty Sixteen
- Twenty Twenty One

All were formatted with the lines on front of site as expected. I tested in Twenty Seventeen and reproduced it there.

[2022-08-25 16:01] Andrew-Starr commented on #43591
@rku4er, the default markup for the query title is:
[code]

To use it as a dynamic search title, change the `type` attribute to `search` like so:
[code]

There is no control in the block toolbar to change the query title from archive to search.
Instead the two variations are available in the block inserter as two separate blocks: **Archive Title** and **Search Results Title**.

[2022-08-25 16:02] draganescu commented on #42928
I think this is solved by #42735 because that PR adds this behavior:

- If a navigation block uses a block menu with ref X,
- and the associated navigation CPT is deleted,
- makinf X point to nothing
- the block will display a message that the menu is deleted
- and invite the user to create a new one

[2022-08-25 16:02] #42928 closed, assigned to nobody

[2022-08-25 16:14] rku4er commented on #43591
Thanks Andrew! It's clear now. I just installed the latest Gutenberg 13.9.0 as a separate plugin and now I have that search results title block :) I haven't realized that it's not bundled with WP 6.0.1. I think we can close this ticket.

[2022-08-25 16:28] #43591 closed, assigned to nobody

[2022-08-25 18:20] slpy9 opened #43618 "Image block margin/gap is overridden in the backend [Gutenberg 14 RC2]"
### Description

Block gap is being overridden on the backend.

**EDIT:** I just corrected the order in which the styles are applied, sorry!

Backend styles:-
[code]
Frontend styles:-
[code]

### Step-by-step reproduction instructions

1. Add a block
2. Add an image beneath that block
3. Check there is a top margin on the image block in the editor
4. Check if the margin exists on the frontend

###

[2022-08-25 18:29] creativecoder commented on #33177
Hi @kathrynwp, thanks for taking a look. This is actually a different issue than what that PR addressed.

The fundamental problem has to do with

- Gutenberg blocks that register functions on hooks that run before `init` (they will never be run b/c the files with those functions are included on the `init` hook).
- Gutenberg blocks that duplicate/override hooks that are now in Core blocks, but don'

[2022-08-25 18:33] slpy9 commented on #43618
I just refreshed my memory a bit on selector specificity.. I believe the issue is that this `.is-layout-constrained > * + *` has the same specificity as `.wp-block-image`, and since the `.wp-block-image` rule is applied later in the document, it's overriding the block gap margins.

[2022-08-25 19:30] jamiepalatnik opened #43619 "Block Widgets: Not possible to select a group block added to widgets without using the List View or adding content"
### Description

Once a Group block has been added to a block widget area, there is no way to select it to see the block toolbar without using the List View on the widgets.php page. This means block selection/editing/removal isn't available for empty Group blocks in the Customizer.

A workaround is to use the List View in Widgets to select the Group block, or add a block nested in the Group block,

[2022-08-25 19:36] aatanasovdev commented on #43464
@soumitra2021 I've tried reproducing the issue following the provided steps but adding tags works as expected without any WordPress REST API errors on my side.

Considering the error of the response shown on your videos, something happens on the server side. Can you please provide the following details:
- The headers of the response (available in the [Headers](https://wd.imgix.net/image/BrQidfK9ja

[2022-08-25 19:52] getdave opened #43620 "Remove the Navigation Editor Screen"
We should remove the code that comprises the experimental Navigation Editor screen (i.e. `@wordpress/edit-navigation` package).

I think that's reasonable.

_Originally posted by @getdave in https://github.com/WordPress/gutenberg/issues/40878#issuecomment-1227694458_

[2022-08-25 19:53] getdave commented on #43620
What do you think @draganescu @talldan @scruffian?

[2022-08-25 20:20] Nullception commented on #42338
I can no longer reproduce it myself, so maybe there was some kind of caching issue. Sorry to set up a ticket for a non-issue.

[2022-08-25 20:20] #42338 closed, assigned to nobody

[2022-08-25 20:39] CodeAdminDe commented on #41158
I can confirm the issue described by @SchecDev, it also occurs in WP 6.0.1 in the block editor. Is there an advantage to using `local()`?

By the way... I would like to help with WordPress development.... who would I need to contact to discuss the behavior so we can fix it?

[2022-08-25 23:20] bradhogan commented on #21889
@aaronrobertshaw Any idea what happened to the individual border options (so you could add/manage top, bottom, left, and right borders individually)?  It no longer seems to be an option.
<img width="294" alt="Screen Shot 2022-08-25 at 5 20 16 PM" src="https://user-images.githubusercontent.com/1781226/186785222-ff6268b6-e0b4-4147-b544-67410dc1f273.png">

[2022-08-25 23:39] aaronrobertshaw commented on #21889
@bradley2083 Individual borders are working ok for me. They've been in Gutenberg since [13.1](https://github.com/WordPress/gutenberg/releases/tag/v13.1.0), I believe. Which versions of WordPress and Gutenberg are you using?

Here's what I'm currently seeing:

https://user-images.githubusercontent.com/60436221/186787038-e2bfa074-4b0e-40f8-9010-741033926c36.mp4

[2022-08-25 23:44] bradhogan commented on #21889
@aaronrobertshaw AH.  Somehow GB got deactivated on the site I'm working on.  Thanks for the quick reply, all good!

[2022-08-25 23:48] aaronrobertshaw commented on #21889
Suspected it might be something along those lines. Glad it was easily resolved 👍

Anytime!

[2022-08-25 23:55] jonmarkhall commented on #41414
@ndiego here is some test JS code:

[code]

This creates an object format that is represented in the editor by a `span` tag with class `ags-test-object`. To replicate:

1. Insert a paragraph block, add some placeholder text
2. From the "more block tools" menu in the toolbar (down arrow, second item from the right), select the Test Format option. This should insert a 20x20 black square into the par

[2022-08-26 00:01] annezazu commented on #43203
Thanks for your guidance here @carolinan <3

[2022-08-26 00:16] annezazu opened #43621 "Moving an Image aligned left above Media & Text causes wrong formatting"
### Description

Moving an image block that's aligned left inside a columns block above a media and text block leads to a strange formatting issue and for the image in media & text block to be seemingly removed. This was found as part of the [FSE Outreach Program's sixteenth call for testing. ](https://make.wordpress.org/test/2022/08/13/fse-program-testing-call-16-back-to-basics/#comment-2678)

It

[2022-08-26 00:20] aaronrobertshaw commented on #43241
Thanks for flagging #43082 @jameskoster 👍

It's a little out of the scope I originally intended here. That said, the more widespread adoption of block supports does increase the exposure of the issue outlined in #43082. I agree it can be considered under the banner of "consistency".

As long as we allow themes or plugins to enqueue stylesheets, I don't think there is a quick win there. The low-han

[2022-08-26 00:39] annezazu commented on #27835
Hi @ghm-jpeterman! There are a lot of priorities in place right now ahead of feature freeze for 6.1 so I'll flag this in the Core Editor slack channel for now but keep in mind that this may not be a priority currently.

[2022-08-26 00:56] noisysocks commented on #43533
Yeah definitely something to explore. Probably something to discuss in a Core JS meeting. I know we've been flexible in the past about backwards compatibility when it comes to deprecated JavaScript libraries. For instance we "broke backwards compatibility" by upgrading jQuery but did it in a fairly slow methodical way.

[2022-08-26 02:09] noisysocks commented on #21977
In #43005 I updated the types to reflect reality, but agree it should always be a number.

Doing both sounds good to me 🙂

[2022-08-26 02:15] kevin940726 commented on #38121
Seems like the order of the results mentioned in the original issue is queried from the [search rest API](https://developer.wordpress.org/rest-api/reference/search-results/#list-search-results). Perhaps we can add `orderBy` to the API so that we can customize the suggestions query.

[2022-08-26 02:35] noisysocks commented on #34788
Reopening this as #28517 didn't add the exact API proposed here.

[2022-08-26 04:29] tellthemachines commented on #15348
Closing as this has been fixed by #43005, which implements a new DateTimePicker.

[2022-08-26 04:29] #15348 closed

[2022-08-26 04:44] #43161 closed, assigned to Mamaduka

[2022-08-26 05:01] tellthemachines commented on #15304
Closing as this one was fixed by #39176 which changed the old section markup to use `fieldset` and `legend`.

[2022-08-26 05:01] #15304 closed

[2022-08-26 05:15] #37668 closed, assigned to nobody

[2022-08-26 05:43] Mamaduka commented on #43619
The other editors have the same issue.

@jasmussen, will #43513 fix this issue?

[2022-08-26 05:45] flxspr opened #43623 "npx @wordpress/create-block stops with "Unexpected token '.'""
### Description

When running the npx @wordpress/create-block script it just returns "Unexpected token '.'"

I rolled back to version 3.8.0 and it worked so I think the issue was introduced recently.

### Step-by-step reproduction instructions

1. run 'npx @wordpress/create-block'

### Screenshots, screen recording, code snippet

npx @wordpress/create-block --template ../../../assets
npx: installe

[2022-08-26 06:11] tellthemachines commented on #15329
Closing as this was fixed in #41097 when DateTimePicker was refactored to use WP components, which handle focus programatically.

[2022-08-26 06:11] #15329 closed

[2022-08-26 06:25] Thelmachido commented on #34419
I was checking the read-more block on a test site, at the moment it looks like the frontend _(archive page)_ doesn't display any text to show that a post has the read-more block as shown below:

https://user-images.githubusercontent.com/41231764/186836259-8fdb6e87-a4b5-4538-8c53-dcd73a7eef9c.mov

WordPress 6.0.1

Gutenberg 13.9.0

[2022-08-26 06:58] Thelmachido commented on #34958
I am not able to reproduce this, on a test site:

1. I created a post, and checked the source code before publishing. The `original_post_status` was `auto_draft `as shown in the screenshot below.

<img width="1183" alt="Untitled 2" src="https://user-images.githubusercontent.com/41231764/186841584-8f7525e5-8027-4e3d-8055-155d95e36960.png">

3. After publishing the post I checked the source code wit

[2022-08-26 06:58] #34958 closed, assigned to nobody

[2022-08-26 07:05] Thelmachido commented on #35011
I checked this on a test site using the Twenty Twenty-Two theme and I am still getting the same results. The embed block doesn't show the option to resize for smaller screens as with the YouTube block.

https://user-images.githubusercontent.com/41231764/186842855-2d30fea2-c285-4023-a499-dae8021d3aa9.mov

Gutenberg 13.9.0

WordPress 6.0.1

[2022-08-26 07:17] Thelmachido commented on #35049
I'm still able to reproduce this

WordPress 6.0.1

Gutenberg 13.9.0

Twenty Twenty-Two theme

[2022-08-26 07:50] mikachan opened #43624 "`useRootPaddingAwareAlignments` is missing from theme.json schema"
### Description

The `useRootPaddingAwareAlignments` key is missing from the theme.json schema. We should include this to maintain a good developer experience when working with theme.json files.

More info about this setting: https://github.com/WordPress/gutenberg/pull/42085, https://github.com/WordPress/gutenberg/pull/43463

### Step-by-step reproduction instructions

1. Activate a theme with a t

[2022-08-26 07:50] #36237 closed, assigned to t-hamano

[2022-08-26 07:51] javierarce commented on #34036
Yes and yes, let's close this issue. Thanks for the ping!

[2022-08-26 07:51] #34036 closed, assigned to vcanales

[2022-08-26 08:16] t-hamano opened #43625 "Cover Block: Consider placing inner content in a physical direction"
## What problem does this address?
In #36237, there was a problem that the tooltip text shown by the matrix control of the cover block is the opposite of the physical arrangement in the RTL language. This is based on the fact that `AlignmentMatrixControl` flips dots left to right in the RTL language.

Therefore, in #43126, the `AlignmentMatrixControl` component was updated by adding `direction:ltr

[2022-08-26 08:21] suascat commented on #43464
Hi,

I was also able to replicate the issue as per the steps provided. The error basically seems to occur when trying to add already created tags (not at least for categories).

### **Headers**

Request URL: http://dev2.local/wp-json/wp/v2/tags?_locale=user
Request Method: POST
Status Code: 400 Bad Request
Remote Address: 35.209.87.45:80
Referrer Policy: strict-origin-when-cross-origin
Access-Cont

[2022-08-26 08:31] ciampo commented on #21977
Sounds good to me too!

Has anyone involved in this conversation got any capacity to work on this? It looks like some work had already been started in https://github.com/WordPress/gutenberg/pull/25684 (which got approved, but never merged)

[2022-08-26 08:39] nigel-maher commented on #41158
In addition to the local version of the font taking precedence, the setup of the local font file(s) can come into play here too.

My theme.json used "Inter" (Inter-VariableFont_slnt,wght.ttf) which worked fine while I had that very same file installed on my desktop, as expected there were no visual differences in the browser when it detected and called the locally installed (singular) file.

Howev

[2022-08-26 08:46] t-hamano commented on #43623
Thank you for submitting the issue, but I couldn't reproduce it with or without the template option.
Can you please provide us with the following information?

- Do you know the Node version? ( `run node -v` )
- If you don't use `--template` option, does it work correctly?
- What is your OS?

[2022-08-26 08:59] jasmussen commented on #42955
Turns out the fix above did not work, but the effort unearthed what's up:

* Navigation relies on `gap` for spacing (so we avoid first-child/last-child issues when items wrap)
* It inherits the gap from the root gap value, but can also be explicitly set using the block spacing control in the interface
* In classic themes, this root gap value doesn't exist, making it collapse.

The solution could b

[2022-08-26 09:07] flxspr commented on #43623
Thank you for the quick reply which immediatly made me recognize the source of the error. I was still using Node v. 12.22.12 which I had to switch to for a legacy project and forgot about switching back via nvm.

Sorry for taking up your time and thank you for the assistance!

[2022-08-26 09:07] #43623 closed, assigned to nobody

[2022-08-26 09:22] getdave commented on #38121
Let me check this.

@kevin940726 I don't see an order parameter available on [that endpoint](https://developer.wordpress.org/rest-api/reference/search-results/#arguments).

See also https://github.com/WordPress/wordpress-develop/blob/541b4eb6462c8f48e235590a9be79ebc4954f66e/src/wp-includes/rest-api/endpoints/class-wp-rest-search-controller.php

[2022-08-26 09:40] ntsekouras commented on #43440
Good catch @Mamaduka ! It seems so.

[2022-08-26 09:42] jasmussen commented on #43608
Looks good!

My first instinct was: if there's an extra Edit button, why not just go to full isolated mode? But this makes sense:

When inserting a pattern as a _section_ as discussed there, you'll want to see it in context, not edit it purely in isolation mode. So in that sense, the spotlight (or "scrim everything else") makes sense to me 👍 — we mainly want to avoid introducing too many new eleme

[2022-08-26 09:43] simison commented on #37470
The tooltip being visible might be side affect of another behavior described in older issue https://github.com/WordPress/gutenberg/issues/26401

[2022-08-26 09:43] #41787 closed, assigned to mirka

[2022-08-26 09:44] simison commented on #26401
This issue might have unwanted consequences when tooltips are present for first menu item: https://github.com/WordPress/gutenberg/issues/37470

[2022-08-26 09:44] mikachan opened #43627 "Use `styles.color.background` and `styles.color.text` as variables"
## What problem does this address?

In theme.json, we can currently set `styles.color.background` and `styles.color.text`, but I believe these are only used by default to set `background-color` and `color` inline styles for the body and certain blocks, and they're not made available as variables.

## What is your proposed solution?

It would be great if these two settings were also assigned to CSS

[2022-08-26 09:44] carolinan commented on #42330
I am not able to reproduce this with current Gutenberg trunk (14.0 rc).
The resulting CSS is:

[code]

_I did not use ref_

[2022-08-26 09:49] jasmussen commented on #26401
Actually, coming back to this one, I think we should close it in favor of #43082. The thing is: the size can be in an _unset_ state, and so it doesn't make sense to add a checkmark unless a size is explicitly set. 43082 discusses more holistic solutions to this unset state.

Secondly, focus being on the the first item inside a menu is expected behavior. That doesn't mean it needs to invoke the too

[2022-08-26 09:49] #26401 closed

[2022-08-26 09:49] ntsekouras commented on #40941
👋 - I've been toying with this and was wondering what convention we should use for the variation name's. The main problem comes from `pages`, as we already have a `Page List` block and is navigation related..

In addition I was thinking that if we have such variations in place we should also hide at least the `post type` control. Then maybe add some block transformation options to switch the post

[2022-08-26 09:51] jasmussen commented on #37470
Focus naturally lands on the first item in a popover. That'll announce it to screenreaders. But it isn't my understanding that this initial focus also needs to invoke the tooltip. Happy to be wrong here, from someone who knows with more confidence!

[2022-08-26 09:52] jasmussen commented on #43619
Thank you for the ping. Yes, 43513 (now merged!) should fix this. Including for other empty container blocks, such as Columns.

[2022-08-26 10:08] jameskoster commented on #43241
This is what I am afraid of. Hopefully there is a heuristic we can come up with (e.g. simply hiding controls when the value is inherited from css) and apply it across all tools.

Fair enough, this sounds good, thanks!

[2022-08-26 10:19] Mamaduka commented on #43619
I just tested on the current trunk, and the issue is fixed. Thanks, @jasmussen.

[2022-08-26 10:19] #43619 closed, assigned to nobody

[2022-08-26 10:20] aaronrobertshaw commented on #43241
If a control is not displayed by default, it will only be shown for a block if a user has toggled it on or customized its value previously. Is your concern primarily with default controls (the ones shown without the user having to toggle them on via the ellipsis menu)?

I believe the previous driver for having these default controls was that they should be the controls that users tweak often. Exac

[2022-08-26 10:30] jameskoster commented on #43608
Yeah this is the key point. To be clear I think we probably need to offer both – inline editing where you have context, and isolated view where you have absolute focus.

I _suspect_ the inline version would feel more natural as the primary flow in this context. Access to isolated editing could perhaps live in the more tools menu.

[2022-08-26 10:45] getdave commented on #34125
For clarity here is the endpoint being requested in the code

https://github.com/WordPress/gutenberg/blob/9d1d8e3e6ef956a5f2aa9d5863f535c7f55862a6/packages/core-data/src/fetch/__experimental-fetch-link-suggestions.js#L102

[2022-08-26 10:46] getdave commented on #39231
Closing again as tests are disabled for now...

[2022-08-26 10:46] #39231 closed, assigned to getdave

[2022-08-26 10:48] WunderBart commented on #43282
If the only thing we need to wait for is the element's opacity (its bounding box is static), then for the screenshot to be done at the right moment, I suppose we'd need a custom _waiter_. This should be doable as we can wait for the opacity via `getComputedStyle()` in a similar manner as the stability check.

Yes, as long as the bounding box of the element is moving, the stability check should kee

[2022-08-26 10:55] jameskoster commented on #40941
Good questions.

An initial thought here is that Page List could have a different name, especially as it renders as a _row_ rather than a _list_ when placed in the Navigation block. "Page Links" perhaps?

Continuing that line of thinking, perhaps we should avoid "List" altogether here... Queries are often arranged into grids after all. "Pages", "Posts", "Products" might be too simple, but are prob

[2022-08-26 10:57] ntsekouras commented on #40941
I'm exploring how extenders could make the most of it for specific use cases like that, but we still need to handle the 'plain' variations that would restrict results to just a specific post type.

That could be done independently.. Any thoughts @tellthemachines, @getdave, or any of the folks that have worked much in `Navigation` block and the `Page List`?

[2022-08-26 11:03] jameskoster commented on #40941
Hm, aren't they the same thing? 🤔

Here I'm thinking that you'd insert the "Products" block, then configure the appearance, number of products, etc.

For this one you'd insert the "Posts" block, remove all the inner blocks except Post Title, and set posts-per-page as 5.

I don't think we need dedicated variations for these kind of use cases – that feels like a job for patterns.

👍 cc @javierarce a

[2022-08-26 11:17] draganescu commented on #40941
One thing we tried to communicate by using "Pages list" is that it is a discrete entity in the menu, which has it's own functionality and independent features. Using "Page links" feels as if we're adding a bunch of links, but it's not true, one has to click "Edit" to decompose the Pages List to a list of page links - losing auto updates in the process.

The challenge with using single words "Pages

[2022-08-26 11:21] ntsekouras commented on #40941
There might be some more nuances with complex meta queries(not supported yet), so extenders might need explicit variations and 'hide' the implementation details by using `toggles` maybe and not adding new complex filters. We'll see.. 😄

[2022-08-26 11:48] jasmussen commented on #43608
Right. Just want to visually distinguish them, and generally reduce. We tried dotted borders in the past, that wasn't quite as succesful.

[2022-08-26 12:33] getdave commented on #42850
This is a really clear explanation of the problem. Thank you.

Now my question is _what_ makes that behaviour inconsistent? What specific process occurs that makes one different from the other?

[2022-08-26 12:45] ockham commented on #43440
Apologies for the mass ping -- I'd like to get the backports work off the ground 😊

_tl;dr: If you've added PHP code to Gutenberg's `lib/` directory since the WP 6.0 release, it will need backporting to [`wordpress-develop`](https://github.com/WordPress/wordpress-develop) in order to be included in WP 6.1. Backporting is typically easiest for the people who originally implemented the relevant feat

[2022-08-26 13:09] jameskoster commented on #36667
I’m sharing an updated design here, but it could just as easily be posted in #32682, #43142, or #39856 as well – there are many overlapping elements here, and it’s important to keep the broader landscape in mind as we work out how to proceed.

---

This concept takes things a step further than [the last](https://github.com/WordPress/gutenberg/issues/36667#issuecomment-1087711883), to explore how t

[2022-08-26 13:18] luminuu commented on #39598
Closing this issue. I've checked the latest Gutenberg 13.9 and the mentioned blocks all have the links option now shown by default.

[2022-08-26 13:18] #39598 closed, assigned to nobody

[2022-08-26 13:21] cbravobernal commented on #42850
The specific difference between those two processes is that creating a new menu starts with one **empty** (so then the frontend shows the fallback (page list) and the editor shows an empty navigation menu. And importing a classic menu creates one **with content**. In this last case, the frontend has a published menu with content (so it shows) and the editor also shows the menu with its content.

P

[2022-08-26 13:26] jameskoster commented on #43241
Yes that's it. It's really awkward to see empty controls when a value is clearly set (albeit via css). My hypothesis is that in these cases seeing no control would be less confusing, and makes adding the control feel more like what it is – a local override.

Indeed, and this is a good argument against simply hiding the controls when they inherit values from css.

But if the alternative requires us

[2022-08-26 13:32] jameskoster commented on #40941
I think the Page List block is probably something to discuss separately. There may even be an argument that it should just be a pattern for the "Pages" query variation 🙊

For these variations can use a different nomenclature to begin with, and refine in the PR.

[2022-08-26 13:44] ndiego commented on #41282
This fix will be included in WordPress 6.0.2, and I just added https://github.com/WordPress/gutenberg/pull/43634 to fix the 6.0 compat file in Gutenberg.

[2022-08-26 13:46] ockham opened #43635 "Audit Experimental APIs for WP 6.1"
_Based on @adamziel's #39977. Generated using @noisysocks' script from #28157._

This issue list all experimental APIs in the editor(s).

The script overreports, but I think it's a nice way to highlight API usage across the packages.

The list is long, and we don't have to go through all of the items. However, the suggestion is the same - if you have introduced/used one of the APIs, please follow

[2022-08-26 13:46] davidnb3 opened #43636 "Reusable Blocks disappear after quickly clicking on undo & redo"
### Description

**What is currently happening:**
After doing multiple changes in the page editor and then repeatedly clicking on undo and redo very quickly, some or all Reusable Blocks start to disappear. Right after saving they reappear though. They are also still there in the Preview. It happens with any blocks that are reusable.

**What I expect to happen:**
Reusable Blocks should not disappea

[2022-08-26 13:51] kevin940726 commented on #38121
@getdave Oh, I mean we should add the missing functionality of the `orderBy` parameter to the rest API to support this. 😅

[2022-08-26 13:54] #43523 closed, assigned to jasmussen

[2022-08-26 14:28] jasmussen commented on #36667
Nice work, Jay!

It feels substantially stronger to immediately see access to Styles and Typography right at the top of the hierarchy. It implies the global nature of those controls, and appeals to what you're probably going to change most of the time you enter this section.

The thumbnail view feels valuable enough that it could be default rather than two toggles in the top right corner.

It seem

[2022-08-26 14:56] rmarcano commented on #43464
This issue was also reproduced in the WordPress Core tracker [here](https://core.trac.wordpress.org/ticket/56410#comment:5):

_To reproduce it, you must quickly validate the entry of new tags before
the list of proposals appears. A solution I would suggest would be to
block any new request as long as there is an old one that is not
completed._

[2022-08-26 15:00] #41282 closed, assigned to ndiego

[2022-08-26 15:01] clubkert commented on #37850
This is an interesting idea when looking to edit a template for a post.

There are also times when there would only be an option to edit the template (i.e. there is not post), like the 404 page. In the below example, if I click "edit site" it just takes me to the main site editor (not the 404 template).

![Screen Shot 2022-08-26 at 9 00 23 AM](https://user-images.githubusercontent.com/2229643/1869

[2022-08-26 15:25] marianearchimbaud commented on #31446
+1! A user asked for this feature on a live chat session some weeks ago too

[2022-08-26 15:36] geriux opened #43639 "Investigate initial HTML content limit on Android"
Follow-up of https://github.com/WordPress/gutenberg/pull/43612

## Description
After we updated the initial HTML content to have the latest versions of the List and Gallery blocks, an issue started happening during the **Android** `Gutenberg Editor Blocks` test where the app would crash when setting this content.

It appears to be related to the number of blocks that are added during the test, if

[2022-08-26 15:37] aatanasovdev commented on #43464
Indeed, I was able to reproduce the issue while typing too fast and submitting an existing tag (before the tags list Ajax request completes). Preventing the submit action until the tags list is presented sounds like a good solution.

[2022-08-26 16:07] #41979 closed, assigned to nobody

[2022-08-26 16:07] Rostyk27 commented on #36135
For now, I've managed just to remove annoying inline styles with JS since there's currently no way to disable it with PHP:

    $('style').each(function () {
        let _t = $(this),
            _h = _t[0].innerHTML;

        if (_h.includes('.wp-container-')) {
            _t.remove();
        }
    });

[2022-08-26 16:08] alanef opened #43642 "Classic Block inconsistent on blank lines"
### Description

Classic block works differently if it is the only block on the page.

If you add blanklines and it is th eonly block, these get removed, however if  you add another block it they stay.

Latest WP 8.0.1 and with or without Gutenberg 13.9.0

### Step-by-step reproduction instructions

Create a clean site
Add a page
Add a classic block
Add two lines
Save
edit the block and add 4 blan

[2022-08-26 16:43] ghost commented on #43627
related to https://github.com/WordPress/gutenberg/issues/39372

[2022-08-26 17:12] ndiego commented on #43465
I am going to start auditing blocks for this. It's a shame we don't have a good solution for Paragraph and Heading blocks since users will likely run into this issue most commonly with these blocks. I just would be hesitant to have a `p { box-sizing: border-box }` in the block stylesheet. I do know that in my custom block themes, I am globally setting `box-sizing`. 🤔

[2022-08-26 18:04] jameskoster opened #43650 "Add justification option to Post Content block (and potentially other containers)"
I'm attempting to create the following layout in my single post template:

<img width="816" alt="Screenshot 2022-08-26 at 18 48 56" src="https://user-images.githubusercontent.com/846565/186962982-68e9cb2f-3954-4e2c-8978-12db0d76ae26.png">

Note how everything is left-aligned, and the 'wide' width image stretches outwards to the right.

To do this I have:

* Set 'content' and 'wide' width values in

[2022-08-26 18:07] jameskoster opened #43651 "Post Content block: Preview wide width content in the placeholder state"
Somewhat related to https://github.com/WordPress/gutenberg/issues/43650.

---

When the Post Content block has separate content/wide width declarations (either locally or from global styles), it would be nice to offer a way to preview wide-width content in the placeholder when template editing.

[2022-08-26 18:13] jameskoster commented on #36667
Yeah that's definitely something to consider, especially as it will probably be a while until we have Browse mode. Another option is that it 'remembers' your last toggle each time you open the site editor. We probably still need the toggle though, so that you're able to view your homepage (and access the Edit button).

Those toggle buttons are definitely something to noodle on some more, both in t

[2022-08-26 18:14] aatanasovdev commented on #43464
After looking into the code, it appears the error is intended because it was handled here: https://github.com/WordPress/gutenberg/blob/trunk/packages/editor/src/components/post-taxonomies/flat-term-selector.js#L69-L81

Even though there is a 404 response, another API request fetches the existing tag -- then it is assigned to the post. Perhaps the reason behind this is that the suggestions and the

[2022-08-26 18:58] ndiego opened #43652 "Calendar: Attribute classes/styles are printed twice"
### Description

In the Editor, styles and classes generated by block attributes are generated twice for the Calendar block, once on the block wrapper and again on the server-side rendered component.

Up until recently, the Calendar block had no attributes other than `className`. Therefore, this bug was not much of an issue. However, as we start adding [dimension](https://github.com/WordPress/gute

[2022-08-26 19:00] justintadlock commented on #43194
@matiasbenedetto Thanks for the update.  I'm pretty sure you meant to reference #43195.  It definitely seems to be working now.

[2022-08-26 19:05] justintadlock commented on #42246
@andersnoren Can you verify if https://github.com/WordPress/gutenberg/pull/43195 corrects this?

[2022-08-26 19:20] justintadlock commented on #43587
@t-hamano Thanks for putting in a fix for this.

[2022-08-26 19:22] fullofcaffeine commented on #40850
I've just stumbled upon this error. Seems to be an edge case and I couldn't reproduce consistently though.

[2022-08-26 19:26] aatanasovdev commented on #43566
It looks like a theme related issue. The border lines shown inside the Editor come from the theme itself (in our case Twenty Seventeen).

<img width="1245" alt="Screenshot 2022-08-26 at 22 09 19" src="https://user-images.githubusercontent.com/38669058/186974944-c7b83dfc-7435-4a20-a504-7ce704b1e763.png">

We can see the theme's styles overwrite the default Editor styles inside the Editor. However,

[2022-08-26 20:39] aatanasovdev commented on #43595
I was able to reproduce this issue following the steps.

The tricky part is that the public URL is generated after the publish action.

When a page is added, the links of the headings are set correctly to the block's store without refreshing the edit page, but the page requires to be updated to use the public URL inside its content.

As a solution, we can remove the page URL from the links and kee

[2022-08-26 20:52] luminuu opened #43660 "Separator Block: background color defined in theme.json is not applied correctly"
### Description

When defining a different background color for the separator block through `theme.json` or a style variant, the color is not properly displayed.

Through `theme.json`, only the `background-color` is defined. To actually change the color, the text color or the border color also has to change. Text color is deactivated in `block.json`, border controls are not available at the separa

[2022-08-26 23:28] fullofcaffeine opened #43661 "Legacy widgets preview: `Cannot read properties of null (reading 'offsetHeight')`"
### Description

This is a tough one to reproduce, and to be honest, I couldn't do it myself yet. However, we've seen thousands of reports captured by Sentry for our WP+GB 13.9.0 instance.

The exception originates in one of these lines here: https://github.com/WordPress/gutenberg/blob/trunk/packages/widgets/src/blocks/legacy-widget/edit/preview.js#L63-L66,  and happens when users access `wp-admin

[2022-08-27 01:55] #43624 closed, assigned to t-hamano

[2022-08-27 02:02] #42410 closed, assigned to nobody

[2022-08-27 02:02] #42386 closed, assigned to nobody

[2022-08-27 02:02] #42062 closed, assigned to nobody

[2022-08-27 02:02] #41560 closed, assigned to nobody

[2022-08-27 02:02] #41531 closed, assigned to nobody

[2022-08-27 02:02] #40408 closed, assigned to nobody

[2022-08-27 02:02] #40328 closed, assigned to nobody

[2022-08-27 02:02] #40031 closed, assigned to nobody

[2022-08-27 02:02] #40015 closed, assigned to nobody

[2022-08-27 02:02] #39828 closed, assigned to nobody

[2022-08-27 02:02] #39804 closed, assigned to nobody

[2022-08-27 02:02] #39649 closed, assigned to nobody

[2022-08-27 02:02] #39706 closed, assigned to nobody

[2022-08-27 02:02] #39314 closed, assigned to nobody

[2022-08-27 02:02] #39140 closed, assigned to nobody

[2022-08-27 02:02] #39040 closed, assigned to nobody

[2022-08-27 02:02] #39137 closed, assigned to nobody

[2022-08-27 02:02] #38583 closed, assigned to nobody

[2022-08-27 02:02] #37764 closed, assigned to talldan

[2022-08-27 02:32] andrewserong commented on #42955
Thanks for the ping! I'm travelling over the next week so mightn't be able to look at this closely until I'm back, but it looks like the Navigation block's styling is overriding the default flex gap in Classic themes:

<img width="1448" alt="image" src="https://user-images.githubusercontent.com/14988353/187010812-32497a7c-1b8c-47fb-acdf-0a1c6eb06a38.png">

The default flex gap recently had its spe

[2022-08-27 03:47] t-hamano commented on #43243
I think we need to be careful about blocks that are server-side rendered.
The following are blocks that are server-side rendered, some of which are already supported by Dimension.

- core/calendar
- core/tag-cloud: #43367
- core/archive: #43350
- core/latest-comments
- core/rss

The problem is that the hooks (`useBlockProps`) and server-side rendering cause styles to be applied twice.
The tag clou

[2022-08-27 04:44] t-hamano commented on #40743
I was able to reproduce this problem.

As the following steps show, I think the fundamental problem is not that the content of the first post in the query loop isn't displayed, but **that it is rewritten by the content of that page**.

---

Create multiple posts with content and excerpt as follows:

![post](https://user-images.githubusercontent.com/54422211/187014377-fd2ff6bc-404c-482a-a6f1-09529c

[2022-08-27 04:58] t-hamano commented on #40743
https://github.com/WordPress/gutenberg/blob/3b6a399cf5f2f82ea49a422d97adf46e8ef5dc01/packages/block-library/src/post-content/index.php#L39-L43

I haven't yet determined the exact cause, but it appears that before and after this conditional statement, the result of `get_the_content` is being rewritten to the content of the page instead of the post in the loop. Perhaps this conditional statement nee

[2022-08-27 08:03] digamber89 commented on #43465
@ndiego - on your comment about the global box-sizing, i think theme authors and at least the default twenty* themes should also do it - as it would be best practice. Why allow 3rd party plugins to create a bad design when it's almost ubiquitous.

Don't know how i could convey this but not having box-sizing set globally could potentially break design in a variety of scenarios.

[2022-08-27 09:04] vncntdvrs opened #43664 "Query Loop block: navigating between pages of posts causes page reload"
### Description

Recently I ran into an issue using the query loop block halfway down on the front page of a website I was working on.

Whenever I clicked on the ‘next page’ button to show more blogposts results, the click would cause the page to jump to to top and I would have to scroll down to go back to the blog overview window.

I expected the click to show me more more results yet stay in the

[2022-08-27 11:27] t-hamano commented on #35982
Hi @khoipro,
As @guarani mentions, I think this problem is not limited to `InnerBlocks`, but is the same as #23244.
I would like to close this issue to focus the discussion on #23244.

[2022-08-27 11:27] #35982 closed, assigned to nobody

[2022-08-27 12:49] Humanify-nl opened #43665 "The class "is-horizontal" is not added on front when row block (variation) is placed directly."
### Description

I am super happy with the addition of the group classnames: `is-horizontal` or `is-vertical` for the variations, but they are not yet consistent.

When placing a Row block directly these classes do not get added on the front end. Only when the layout/orientation 'vertical' is triggered, and then set back to 'horizontal', it will get added to the block in the front end.

### Step-b

[2022-08-27 12:56] t-hamano commented on #42984
@dashkevych
Thank you for submitting the issue.
I have submitted #43666 to bring the markup on the block editor in line with the front end.
I believe this PR will solve the problem.

[2022-08-27 14:10] t-hamano commented on #38804
I believe the root cause of this problem is that the Chronium browser has disabled mode switching with the Insert key.

- May 11, 2021: [Disable toggling of Overwrite mode by-default](https://chromium-review.googlesource.com/c/chromium/src/+/2885319)
- Oct 17, 2020: [Disable toggling of Overwrite mode when insert key is pressed.](https://chromium-review.googlesource.com/c/chromium/src/+/2473771/)

[2022-08-27 14:10] #38804 closed, assigned to nobody

[2022-08-27 15:09] bigaru commented on #43201
I looked at the code and it seems very interesting. I like your solution, it will definitely fix my problem :grin:

However, when I'm thinking about long term maintenance, I have concerns:
I've to admit that I have no clue with about the code and the intent of the serializer. As I understand, the serializer is based on the fast-react-render and fast-react-render was created before react 16. Theref

[2022-08-27 15:19] DeaJae commented on #13390
It'd be great to access these from main admin rather than opening up a post to get the menu link to get to the lost post blocks.

Would it be possible to have something like this under the Gutenberg plugin's menu list? along with the ability to see the templates, blocks and patterns for Classic theme users this way too?

[2022-08-27 17:44] masperber opened #43668 "Styles: Change wording for Blocks description"
## What problem does this address?
Styles allows users to change the appearance of *types of* blocks throughout the site, but the description of this feature is confusing. The description reads

This word *specific* makes it sound like the purpose of Styles is to change the appearance of *one* specific block.

<img width="281" alt="Screen Shot 2022-08-27 at 1 36 42 PM" src="https://user-images.git

[2022-08-28 03:24] andrewserong commented on #42955
I think I've got a fix for this. I've opened up #43669 to remove the `gap: inherit` rule from the outer wrapper of the Navigation block. The gap rule should always be applied to the outer wrapper via the layout block support (via an attached layout classnames), so I believe it's only child elements that should have that rule applied.

Please let me know if I've missed anything about how the Naviga

[2022-08-28 05:31] isocialtish commented on #38990
I was just speaking with a customer who was requesting this feature specifically in the Post Featured Image block.

[2022-08-28 05:41] t-hamano commented on #43384
I was also able to reproduce it.
When I open the duotone picker from the block toolbar in the image, the default duotone is not shown.
But it is always visible in the global style panel.

Furthermore, I think it odd that the duotone palette is in the global style gradient panel. Duotones and gradients are two different things.

This is an improvement suggestion not related to this issue, but I thi

[2022-08-28 06:26] nendeb commented on #32644
+1
Instead of allowing unlimited permits, why not allow up to -20?

[2022-08-28 06:28] nendeb commented on #32644
+1
Instead of allowing unlimited, how about allowing -20?

[2022-08-28 07:46] ypsilon-p opened #43670 "Add more flexible css styling for active format style buttons"
## What problem does this address?
If you use a custom format style button, you often had an CSS icon instead of an svg inline tag. In this case the active state is not recognizable for the user, because only the SVG path color changes.

Example:
[code]
The function on top creates a custom format style an its button. Is use the WP-Icon components for the icons. But if i activate the format style,

[2022-08-28 08:20] t-hamano commented on #43642
I was able to reproduce this symptom.
The strange thing is that the markup stored in the database is different depending on whether it is a classic block only or not.

I am not sure if this is what was intended, but I think this behavior is related.

- Classic block only:  Paragraphs in the Classic block are NOT enclosed in p tags.
- Classic block with paragraph block: Paragraphs in the Classic bl

[2022-08-28 11:14] t-hamano commented on #42862
I think this issue is very similar to #40743.

[2022-08-28 11:16] t-hamano commented on #42862
This issue is very similar to #40743.
Since I was able to reproduce the issue in [this comment](https://github.com/WordPress/gutenberg/issues/40743#issuecomment-1229122424), I will remove `Needs Testing` label.

[2022-08-28 12:20] t-hamano commented on #42907
As for the `RichText` component, `unstableOnFocus` can catch the focus being applied (it is non-stable).
Although it may not be ideal, the icons on the block toolbar can be switched depending on the focus state, as shown below.
It might be possible to control your own custom components as well `onFocus`.

[code]

[2022-08-28 13:26] masperber opened #43672 "Social Icons Block: Add Block setting for link target"
## What problem does this address?
In order to add a link to a Social Icon Block button, the user must click on the button to select it and then click again to produce the box to enter the link target.

<img width="828" alt="Screen Shot 2022-08-28 at 9 22 28 AM" src="https://user-images.githubusercontent.com/12906034/187076164-1912c18b-7a56-4d83-a104-7326255aaf7c.png">

This is confusing because t

[2022-08-28 13:44] goosechaser commented on #40745
In my case `wp-env` (5.2.0) only works with PHP 7.3+. I am getting the following errors for PHP 5.6-7.2:

[code]

MacBook Pro M1 / Docker (engine: 20.10.13 / compose: 1.29.2) / arm64 & x86

[2022-08-28 14:24] CreativeDive commented on #33374
@tellthemachines I can see in Gutenberg 14 RC2 the options "`wide`" and "`full`" are now available for nested blocks inside a `core/group` block. I wonder how we can test this for our custom blocks. "`wide`" and "`full`" are still not available for nested blocks inside a custom container block.

Is there a way to activate this experimental feature in the `block.json` file for our custom blocks?

[2022-08-28 17:53] bgardner opened #43673 "New layouts seem to lose .has-global-padding class"
### Description

On a theme of mine, I am trying to update things to use the new layout controls. When I replace this:

[code]

With this:

[code]

The result is that the original markup of:
[code]

Becomes this:

[code]

### Step-by-step reproduction instructions

See above

### Screenshots, screen recording, code snippet

_No response_

### Environment info

WordPress 6.0.1, Gutenberg 14.0 RC2

[2022-08-28 18:46] tschortsch commented on #41055
Sorry for the late answer. I updated the `@wordpress/env` package to the latest version `5.2.0` and the error seems to be gone. I tried to find the change which fixed it but without luck. So I guess it's all good now, thanks for your investigation!

[2022-08-28 18:46] #41055 closed, assigned to nobody

[2022-08-28 22:12] tellthemachines commented on #33374
@CreativeDive in your custom container block's `block.json`, you'll need to add `"__experimentalLayout": { "type": "constrained"}` inside the `"supports"` object.

One thing to consider: if the custom block is already being used out in the wild, this will break back compat for existing blocks, because it will set that layout type on them by default. If you wish to preserve back compat for existing

[2022-08-29 01:01] afragen commented on #15137
https://wordpress.org/plugins/unfiltered-mu/ might also fix the issue.

[2022-08-29 02:01] #37604 closed, assigned to getdave

[2022-08-29 02:27] andrewserong commented on #43243
Thanks for flagging the issue and laying out the different options @t-hamano!

Another potential option is that for blocks that are using the `ServerSideRender` component in its edit view, would be to try to strip the `style` key from `...useBlockProps()` in the rendering of the wrapper. That way for blocks that use the server rendering in the edit view, we can defer to that server rendered versio

[2022-08-29 02:34] priethor commented on #42229
Bringing this to @michalczaplinski and @ockham's attention as a decision needs to be made for 6.1.

While I'm all in for including this in core feature-wise, apart from that, it hasn't been released in Gutenberg in a stable manner yet and won't be before Beta 1.

[2022-08-29 02:56] kevin940726 commented on #37930
I'm implementing a partial solution in https://github.com/WordPress/gutenberg/issues/37930#issuecomment-1012965606. Will link the PR once it's out.

[2022-08-29 05:46] CreativeDive commented on #33374
@tellthemachines thank you. Yes, I tried that. But unfortunately that doesn't seem to work.

[code]

The "Inner blocks respect the width of the content" option is disabled by default as expected, but the "`wide`" and "`full`" options are still unavailable for inner blocks.

EDIT: I assume the "`wide`" and "`full`" options should be available by now, is that correct?

[2022-08-29 06:08] glendaviesnz commented on #43440
I can take care of all the spacing size preset related changes.

[2022-08-29 07:25] luisherranz commented on #43201
Yes, that's another option @gziolo and I briefly explored a while ago. If you want to give it a try, please do! 🙂

These are the primary unit tests that should pass: https://github.com/WordPress/gutenberg/blob/trunk/packages/element/src/test/serialize.js

[2022-08-29 07:34] CreativeDive commented on #33374
@tellthemachines Unfortunately I only got around to it later and for me there are a few questions and ambiguities.

## Layout definition

The layout definition always gives us two input fields:

`Content width`
`Width width`

<img width="340" alt="Bildschirmfoto 2022-08-29 um 09 15 03" src="https://user-images.githubusercontent.com/31563167/187144836-c9f1b846-e6a4-443b-b56f-a5e77c99d08c.png">

Fir

[2022-08-29 07:44] #42725 closed, assigned to talldan

[2022-08-29 08:23] javierarce commented on #34035
I'm closing this issue since the navigation screen is no longer actively developed.

Related: https://github.com/WordPress/gutenberg/issues/43620.

[2022-08-29 08:23] #34035 closed, assigned to nobody

[2022-08-29 08:23] javierarce commented on #33693
I'm closing this issue since the navigation screen is no longer actively developed.

Related: https://github.com/WordPress/gutenberg/issues/43620.

[2022-08-29 08:23] #33693 closed, assigned to nobody

[2022-08-29 08:23] javierarce commented on #31074
I'm closing this issue since the navigation screen is no longer actively developed.

Related: https://github.com/WordPress/gutenberg/issues/43620.

[2022-08-29 08:23] #31074 closed, assigned to nobody

[2022-08-29 08:23] javierarce commented on #31451
I'm closing this issue since the navigation screen is no longer actively developed.

Related: https://github.com/WordPress/gutenberg/issues/43620.

[2022-08-29 08:23] #31451 closed, assigned to nobody

[2022-08-29 08:23] javierarce commented on #31221
I'm closing this issue since the navigation screen is no longer actively developed.

Related: https://github.com/WordPress/gutenberg/issues/43620.

[2022-08-29 08:23] #31221 closed, assigned to nobody

[2022-08-29 08:23] javierarce commented on #31104
I'm closing this issue since the navigation screen is no longer actively developed.

Related: https://github.com/WordPress/gutenberg/issues/43620.

[2022-08-29 08:23] #31104 closed, assigned to nobody

[2022-08-29 08:24] javierarce commented on #30659
I'm closing this issue since the navigation screen is no longer actively developed.

Related: https://github.com/WordPress/gutenberg/issues/43620.

[2022-08-29 08:24] #30659 closed, assigned to nobody

[2022-08-29 08:25] jtnico commented on #42031
@t-hamano  I confirm the problem is not limited to columns or group blocks.
Test on wordpress 6.0.1 and also in gutenberg 13.9.0 (plugin)

Hope this bug will be fix soon because "List View" is very useful to build page/post containing lot of blocks.

[2022-08-29 08:34] #43607 closed, assigned to ellatrix

[2022-08-29 09:10] luminuu opened #43676 "Post Featured Image block: Enable gradient overlay"
## What problem does this address?

While creating a design for Twenty Twenty-Three, I noticed it's not possible to add a gradient overlay to the featured images of posts, as the Post Featured Image block is used, where this feature is not available. It would be possible with using a Cover block, which can also display the featured image; however it's not intended to change the markup of Twenty Tw

[2022-08-29 09:16] jasmussen commented on #30055
@ciampo do you know if #43332 fixed this issue? It seems like it might have! 🙏

[2022-08-29 09:52] t-hamano commented on #43243
Yes. I checked with you about #43497 that you mentioned in [this comment](https://github.com/WordPress/gutenberg/pull/43653#discussion_r956887109), and I think that approach makes sense.
However, I think only the margins should be applied to the block wrapper (useBlockProps), not rendered on the server side.

I think the block support `margin` is expected to override the block wrapper margin, so t

[2022-08-29 10:06] ciampo commented on #30055
I believe it should have! It would be great if you could also confirm that you can't repro this issue anymore.

[2022-08-29 10:12] jasmussen commented on #30055
I haven't seen it in a while! Wonderful, I'll close this one. Thanks again 🙏

[2022-08-29 10:12] #30055 closed, assigned to ellatrix

[2022-08-29 10:21] paaljoachim commented on #37652
That is a very good and helpful idea!
@glendaviesnz Glen what are your thoughts around having a lightbox in the Gallery block?

[2022-08-29 10:43] gziolo commented on #41707
I spent some time investigating what the plugin author can expect when shipping custom blocks. This is what I tested using customised [`emptytheme`](https://github.com/WordPress/gutenberg/tree/trunk/test/emptytheme) from Gutenberg and a block scaffolded with `npx @wordpress/create-block -t @wordpress/create-block-tutorial-template`:

`block/block.json`
[code]

The default setting coming from WordP

[2022-08-29 11:29] #34909 closed, assigned to jasmussen, ndiego

[2022-08-29 11:54] #43490 closed, assigned to ndiego

[2022-08-29 11:56] CreativeDive commented on #33374
@tellthemachines I think the different class names to detect layout option in the CSS way can be very helpful:

### OFF - Inner blocks respect content width

Default (Nested blocks will fill the width of this container.)

`is-layout-flow`

### ON - Inner blocks respect content width

Layout is on without defined sizes (Nested blocks use theme content width with options for full and wide widths.)

[2022-08-29 12:14] CreativeDive commented on #33374
@tellthemachines it seems there is a bug with the custom content width fields. If I enter a value the fields are displayed two times in the sidebar.

https://user-images.githubusercontent.com/31563167/187198490-a9151b48-fbb1-4a0c-835b-6347e334d492.mp4

[2022-08-29 12:19] JoryHogeveen opened #43678 "Popover component overlay not fully visible in Customizer"
### Description

Related: https://github.com/WordPress/gutenberg/issues/41739

The issue here is that in previous versions (current WP included version) the popover component was positioned `fixed` and with the latest Gutenberg updates it changes to `absolute` because the `is_expanded` class never gets added. I believe this might be the cause here. The popover to respect overflow and other contain

[2022-08-29 12:21] JoryHogeveen commented on #41739
As mentioned in #43678 the following commit is the cause: https://github.com/WordPress/gutenberg/commit/8b1492131355aa6d42272faba25b841f0cd4509d#diff-7895f8092f907d624abdbe647e2201f1cebe9198cd3fae6ba759b70a4c0bfef4

I believe this is because the `is-expanded` class is never added thus the popover stays in `position: absolute` by default instead of switching to `position: fixed`

[2022-08-29 12:29] WunderBart commented on #43282
Definitely for Playwright, which I think should be done by default. Are we disabling animations for Playwright as we did for Puppeteer? cc @kevin940726

[2022-08-29 12:36] adamziel commented on #41707
The styles are determined using the following hierarchy:

1. Core theme.json
2. Current theme's theme.json
3. User styles

One idea would be to add a few extension points to make it:

1. Core theme.json
2. Plugin-registered theme.json
3. Current theme's theme.json
4. Plugin-registered theme.json
5. User styles
6. Plugin-registered theme.json

[2022-08-29 12:55] SGr33n opened #43679 "Custom Block, theme.json definitions not loaded with latest RC Gutenberg Plugin"
### Description

Hi,
I'm just trying the latest Gutenberg RC and I can see that something is not working anymore.
The issue is that I created a custom excerpt block, called theme/single-post-excerpt and I added some css to the theme.json:

`			"theme/single-post-excerpt": {
				"typography": {
					"lineHeight": "var(--wp--custom--typography--line-height--small)",
					"fontSize": "var(--wp--prese

[2022-08-29 13:12] exstheme commented on #40516
@coreyworrell
Totally agree

Hello!

Gap between single columns, gallery images, buttons etc. should not be used to create vertical margins for inner elements like described here:
https://fullsiteediting.com/lessons/theme-json-layout-and-spacing-options/#h-blockgap

We should have two separate controls: one for a horizontal gap and second for vertical margins.

Thank you!

[2022-08-29 13:25] MarieComet opened #43680 "Recognize <b> markup as bold"
### Description

In old WordPress versions, it was possible to add "fake" bold in the TinyMCE editor, which generated `<b>lorem ipsum</b>` tags.

When editing this old content in gutenberg, the fake bold is not recognized as bold, and it's not possible to remove it.

It should be useful that Gutenberg recognize this fake bold as bold, to allows to remove it.

### Step-by-step reproduction instruct

[2022-08-29 14:01] gziolo commented on #41707
My experiment continued. I removed some styles from the custom block so they don't override settings in JSON files. I added the following changes to the `block.json` file to check how (default?) styles get applied:

`block/block.json`:
[code]

I also added similar styles in other places to find out how that hierarchy works.

`theme/theme.json`
[code]

I also tweaked the `theme.json` in WordPress C

[2022-08-29 14:31] ndiego commented on #43673
@tellthemachines and @andrewserong pinging you both on this. This seems like a bug but figured you both would know more. This issue is related to https://github.com/WordPress/twentytwentythree/pull/121

[2022-08-29 14:34] lukasniebler commented on #6132
In my opinion a contextual menu or button which appears before pasting would really help users who don't use Gutenberg frequently. I know many end users who only open their WordPress site once every few months to add a piece of text which they copied from old web pages, word or a random pdf. They won't remember the shortcut.

Our clients always inserted their copied content within the text-mode of

[2022-08-29 14:40] ockham opened #43681 "Post Comments Form: Make heading customizable"
## What problem does this address?

Required to fix #43203. Quoting the most relevant part:

H1 Site Title
H1 Sample Page
H3 One response to “Sample Page”
H3 Leave a Reply

While TT2 uses the (legacy) _Post Comments_ block, a similar issue applies to block themes that use the (newer) _Comments_ block, which in turn uses the _Comments Title_ and _Post Comments Form_ block: While the Comments Title

[2022-08-29 15:33] mikachan commented on #43673
Confirming that I can also see this happening on my local site: the `is-global-padding` class is removed when `"layout":{"type":"constrained"}` is enabled.

I'm using WordPress 6.0.1 and the latest GB trunk.

[2022-08-29 15:43] ockham commented on #43203
I've given this some more thought (see https://github.com/WordPress/wordpress-develop/pull/3136), but I don't think we can entirely avoid customizing the comments template via PHP. I've thus now filed https://github.com/WordPress/wordpress-develop/pull/3150. Curious to hear y'all's thoughts!

[2022-08-29 20:36] bgardner commented on #43673
If this is indeed a bug (which I believe it is, and a big one), I'd love to see this addresses and included in the 14.0 release. This significantly impacts Site Padding.

[2022-08-29 23:06] tellthemachines commented on #33374
Thanks for the feedback @CreativeDive !

If the block's layout is set to "constrained", then "Inner blocks respect content width" should be enabled. Is that working for you?

The wide and full options for the inner blocks will only appear if a content width is defined, which can be done by the theme, in the global styles interface or on the block itself.
Check if your theme's `theme.json` has some

[2022-08-29 23:31] glendaviesnz commented on #37652
It has been discussed, but not sure what priority currently is, have added this issue to the gallery improvements project.

[2022-08-29 23:50] andrewserong commented on #43673
Thanks for the ping! I believe I have a fix for this in https://github.com/WordPress/gutenberg/pull/43689 if folks would like to take a look.

I'm travelling at the moment, so apologies if I don't get back to feedback on the PR immediately! 🙂

[2022-08-30 01:08] noisysocks commented on #21977
I fixed the call to `setSettings()` in Core in https://core.trac.wordpress.org/ticket/56459.

[2022-08-30 02:01] #37485 closed, assigned to nobody

[2022-08-30 02:01] #37250 closed, assigned to nobody

[2022-08-30 02:01] #36906 closed, assigned to nobody

[2022-08-30 02:01] #36779 closed, assigned to nobody

[2022-08-30 02:01] #36650 closed, assigned to nobody

[2022-08-30 02:02] #36649 closed, assigned to nobody

[2022-08-30 02:02] #35613 closed, assigned to nobody

[2022-08-30 02:21] kevin940726 commented on #43282
Nope. We are not activating that plugin in Playwright tests.

If somehow something breaks while screenshotting, friendly reminder that we can always use [`expect.poll`](https://playwright.dev/docs/test-assertions#polling) to wait for something to happen as an escape hatch.

[code]

[2022-08-30 04:27] carolinan commented on #43203
I'd still prefer a new heading block. The text could just be "Comments". Even if that heading is hidden visually with a screen reader text.

[2022-08-30 04:32] talldan commented on #43679
Hi @SGr33n, would you be able to provide some more detailed steps for reproduction. Either fuller code snippets that a developer can paste, or a link to another repo/plugin that has the problem. Thanks.

[2022-08-30 04:35] apeatling commented on #9880
Still valid.

[2022-08-30 04:37] andrewserong commented on #43665
Tested and confirmed that the default horizontal orientation is not output as a classname by the Layout block support (around [this line](https://github.com/WordPress/gutenberg/blob/93e29bbe5ff854b59f1aa1841b505281aaeabd7d/lib/block-supports/layout.php#L309)). It looks like we'll need to add a conditional for the Flex layout type to ensure that the default values have their respective classnames o

[2022-08-30 04:38] talldan commented on #43678
This seems to be happening with some core blocks. A couple of examples:
- The link control on a paragraph block:
<img width="451" alt="Screen Shot 2022-08-30 at 2 35 12 pm" src="https://user-images.githubusercontent.com/677833/187350331-011d31e0-8a3e-441d-b9e5-9c4e01f78e79.png">

- The color control on a group block (in the block settings):
<img width="568" alt="Screen Shot 2022-08-30 at 2 36 16 p

[2022-08-30 04:39] apeatling commented on #41562
Closing because of no response. If more info comes to light please reopen.

[2022-08-30 04:39] #41562 closed, assigned to nobody

[2022-08-30 04:39] talldan commented on #42770
There are a couple of other issues here in the widgets customizer - [Popover component overlay not fully visible in Customizer](https://github.com/WordPress/gutenberg/issues/43678#top)

[2022-08-30 04:43] apeatling commented on #43636
I've reproduced this in the site editor and confirm it's an issue.

[2022-08-30 04:43] glendaviesnz commented on #43672
Was able to verify this. The Image block link dropdown is a good example of how it might work.

[2022-08-30 04:47] ramonjd commented on #43586
It looks like this could be addressed by adding `overflow:hidden` to the image's surrounding `<figure />`. At least in devtools.

[2022-08-30 04:52] andrewserong commented on #43218
Thanks! Switching over to the ToolsPanel could be a useful idea for the future, particularly for hiding the content and wide size controls by default, which @tellthemachines has mentioned (and seems to link nicely to https://github.com/WordPress/gutenberg/issues/36082).

After thinking about this a little further, it'd actually be useful for the Stack (or one day possibly Cover block) to still hav

[2022-08-30 04:52] aaronrobertshaw commented on #43595
Following the replication steps outlined in this issue, the ToC links worked for me on initial save. @Greatdane Could you confirm if this issue has been resolved or expand on the test steps?

https://user-images.githubusercontent.com/60436221/187351907-ef79f49f-3655-4bdc-98c1-c8eab16ea5e0.mp4

[2022-08-30 04:52] glendaviesnz commented on #43670
Was able to replicate. It would be good to see if the CSS can be updated to apply the same styles to the dash-icons as to the SVGS.

[2022-08-30 04:54] ramonjd commented on #42945
It looks the editor and frontend match when setting the width to 'full' for the Cover block and Gallery block. The Slideshow block is added by Jetpack and the issue has been reported there. https://github.com/Automattic/jetpack/issues/25305

[2022-08-30 04:54] #42945 closed, assigned to nobody

[2022-08-30 04:59] ramonjd commented on #41966
Looks like a specificity issue. The elements styles are being overridden by block styles, e.g.,

https://github.com/WordPress/gutenberg/blob/c1d065f2725ab57f2b77449499a4e0d6cc3f5552/packages/block-library/src/gallery/style.scss#L47

cc @glendaviesnz

[2022-08-30 05:01] talldan commented on #43618
Thanks for reporting this. I could reproduce it:
<img width="635" alt="Screen Shot 2022-08-30 at 2 57 12 pm" src="https://user-images.githubusercontent.com/677833/187352655-3fb8e92a-9b52-4c00-85ad-77e225adfba2.png">

@andrewserong mentioned that the margin is specified in the block.json of the image block:
https://github.com/WordPress/gutenberg/blob/b47a77df5632f3ed476a53337f475e0e2f5b074c/package

[2022-08-30 05:01] glendaviesnz commented on #41966
@ramonjd have you tried adding an `! important` 😄

[2022-08-30 05:06] ramonjd commented on #41825
Are there any changes in Gutenberg required here? Can folks still replicate the issue?

[2022-08-30 05:07] Mamaduka commented on #43661
@talldan worked recently with iframe resizers for Site Editor; maybe some of the safeguards can also be adopted here. PR #43408.

[2022-08-30 05:09] andrewserong commented on #43158
Thanks for opening this issue @AlchemyUnited! There's an existing discussion exploring this issue in https://github.com/wordpress/gutenberg/issues/42610 and a semi-related PR that's looking at improving the naming of blocks like the Group block in the List View: https://github.com/WordPress/gutenberg/pull/42605

I'll close this issue out as a duplicate, since it's already being discussed in #42610

[2022-08-30 05:09] #43158 closed, assigned to nobody

[2022-08-30 05:10] talldan commented on #43554
I haven't been able to reproduce the issue with it not appearing, but it doesn't seem ideal that it loads in asynchronously. It's probably also not great for accessibility, because there's a chance that a user may tab past it, not realising the button isn't present yet in the UI.

If it can't be loaded synchronously it should probably at least have a loading indicator and be focusable.

[2022-08-30 05:12] ramonjd commented on #41374
Can reproduce:
<img width="1435" alt="Screen Shot 2022-08-30 at 3 08 50 pm" src="https://user-images.githubusercontent.com/6458278/187354073-79528436-5a00-4a85-b334-87dcde8fd7d9.png">

I don't think there's a solution to this yet, but the question is: how do we retrieve individual styles for a block over the rest api? 🤷

[2022-08-30 05:16] apeatling commented on #42766
Confirmed this is an issue.

If you select the underline decoration setting, it's not possible to toggle it off again unless you remove the Decoration option and re-add it.

Edit: It looks like this is the expected behaviour, which is confusing because you'd expect to be able to toggle underline on and off in this UI. The toggle group control usage here strikes me as strange as you don't naturally

[2022-08-30 05:23] glendaviesnz commented on #43535
Seems to be working in TT2 in editor and frontend for me:

<img width="804" alt="Screen Shot 2022-08-30 at 3 22 07 PM" src="https://user-images.githubusercontent.com/3629020/187356083-1ddcac2a-8d74-49f2-9ed4-343fbba2b4d6.png">

This is also likely to be fixed when the Button block gets broader support for border styling, eg. width and color options.

[2022-08-30 05:23] noisysocks commented on #39923
This and the related issues have been a longstanding problem to do with using `setAttributes( { image: null } )` as how we indicate that the image is uploading. We ought to use `useState()` and then only call `setAttributes` once when the image is uploaded.

[2022-08-30 05:24] andrewserong commented on #43027
Thanks for opening this! There'd be lots of great design opportunities with both negative margins, and potentially the idea of one day being able to use absolute positioning.

Just linking through some previous discussion and work on negative margins that was explored in: https://github.com/WordPress/gutenberg/pull/40464#issuecomment-1111779685 — one of the challenges both with that PR, and that I

[2022-08-30 05:26] aatanasovdev commented on #43595
@aaronrobertshaw, which permalink structure did you use while recording the video?

If the **Plain** permalink structure is used, the block works.

However, it doesn't work for me when using other permalink structures such as **Post Name**. In that case, the links don't include the page's name, but `auto-draft` is added instead.

<img width="177" alt="Screenshot 2022-08-30 at 8 22 44" src="https:/

[2022-08-30 05:28] ramonjd commented on #39612
~What about adding the following in [render_core_block_image](https://github.com/WordPress/gutenberg/blob/7f0a211da6603b336b75b75d8235a50bf547e6f3/packages/block-library/src/image/index.php#L16)?~

Sorry, ignore my comment - only relevant to images in a gallery.

 I just saw https://github.com/WordPress/gutenberg/pull/39952

[2022-08-30 05:30] glendaviesnz commented on #43462
Thanks for the suggestion, this is probably [outside the scope of core Gutenberg](https://make.wordpress.org/core/handbook/about/philosophies/#design-for-the-majority) and something for plugin developers to pick up, so closing for now.

[2022-08-30 05:30] #43462 closed, assigned to nobody

[2022-08-30 05:33] apeatling commented on #36735
I wanted to flag this issue and my comment, as it raised the confusion of using the toggle group control and not being able to toggle an individual setting: https://github.com/WordPress/gutenberg/issues/42766#issuecomment-1231152370.

One other thing -- text-decoration is a shorthand property, so you can add multiple values. Meaning you can set line-through and underline at the same time, they are

[2022-08-30 05:33] Mamaduka commented on #39923
The image block uses state while image is blob.

https://github.com/WordPress/gutenberg/blob/b47a77df5632f3ed476a53337f475e0e2f5b074c/packages/block-library/src/image/edit.js#L170-L173

[2022-08-30 05:37] ramonjd commented on #38363
Error in the console:

[code]

[2022-08-30 05:41] andrewserong commented on #42935
Interesting idea! I imagine something like this would be very useful for folks building tile-like layouts. I wonder if something like a Link block that could be quite a simple wrapper block might work. The idea being you might add a link block, and then add a Group block (or any other arbitrary block) as a child, so that the whole thing is wrapped in that single `a` tag / link.

[2022-08-30 05:45] slpy9 commented on #43618
Hey thanks, I'm glad you found where it's coming from, I tried searching through the repository but gave up in frustration.

I think there are some other blocks affected by that style too.

[2022-08-30 06:10] alecgeatches commented on #33188
FWIW I was having a similar bug and error message on Firefox 104, but only when using Gutenberg on a single monitor on Mac OS. When multiple monitors were connected it worked fine. Also, same as above, Chrome did not reproduce.

The `Range.setStart: Argument 1 is not an object` error appears to be a Firefox bug in certain circumstances and not Gutenberg specific.

[2022-08-30 06:23] CreativeDive commented on #33374
@tellthemachines thank you, it's very important to know how the things should be working to test if everything is working fine or not.

Now I can get you the full bug report.

### Test Case 1: Custom container block

1. `"layout": { "contentSize": "840px", "wideSize": "1100px"}` is set in `theme.json`.
2. `"__experimentalLayout": { "type": "constrained" }` is set in the `block.json` inside the `su

[2022-08-30 06:46] CreativeDive commented on #33374
@tellthemachines Here is the same report, but instead I use the `core/group` block.

### Test Case 1: Core group block

1. `"layout": { "contentSize": "840px", "wideSize": "1100px"}` is set in theme.json.
2. `"__experimentalLayout": { "type": "constrained" }` is set in the block.json inside the support object.
3. Add a new block (in that case the core/group block).
----> "Inner blocks respect cont