[2021-05-04 14:25] Sandstromer commented on #31248
In TT1-Blocks we have meta data in a columns block with date & author in the left column, and categories & tags right-aligned in the right column.

![gutenberg-columns-50-50](https://user-images.githubusercontent.com/76742815/117015890-12a41500-acea-11eb-952b-02a72432059f.png)

On smaller screens the columns are forced to 100% width by `flex-basis: 100% !important`.
IMHO this looks horrible especi

[2021-05-04 14:32] getdave opened #31466 "Show "rich" meta data about remote URL when adding URLs as links"
## What problem does this address?

Currently when adding a link in the editor, you see a series of results based on whatever you type into the search field.

<img width="566" alt="Screen Shot 2021-05-04 at 15 24 14" src="https://user-images.githubusercontent.com/444434/117018873-d0300780-acec-11eb-8009-692df32ef9c5.png">

These are _different_ depending on what text you enter and the component tr

[2021-05-04 14:34] getdave commented on #31466
@javierarce I think this could be a really nice enhancement. I wonder would you be able to help with the Design UX here?

[2021-05-04 15:38] kjellr commented on #30918
The Site Title block is also missing Bold and Italic options. These seem expected, considering the block's similarity to the Heading block. Would it be possible to add these to the list?

Site Title Block|Heading Block
---|---
<img width="639" alt="Screen Shot 2021-05-04 at 11 36 14 AM" src="https://user-images.githubusercontent.com/1202812/117029903-1ecda980-accd-11eb-85b2-6251d795dcc1.png">|<img

[2021-05-04 15:42] kjellr commented on #31231
To get this started, I spent a little time on potential Header & Footer patterns. These are thematically based on the new patterns, however most of the blocks here would use dynamic blocks and would reflect the actual site they're previewed on.

I ran into a few issues while creating these:

- Lack of fine-tuned spacing controls between blocks (#28356)
- Lack of bold or italic styles for the Site

[2021-05-04 15:44] skorasaurus commented on #23549
Closing this ticket since it's already being tracked above at the core URL ^

[2021-05-04 15:44] #23549 closed

[2021-05-04 15:45] skorasaurus commented on #31466
ref https://github.com/WordPress/gutenberg/issues/27762

[2021-05-04 15:46] javierarce commented on #31466
@getdave I love the idea! I'll help you with the design.

[2021-05-04 15:50] getdave commented on #31466
https://user-images.githubusercontent.com/444434/117031687-bdbbcb00-acf8-11eb-8892-26bca208db9b.mov

Here's an example of use fetching details for the link _preview_ to provide a richer experience.

Obviously, it has some glitches, but essentially you see the `url` (which is what we store in the Gutenberg data) whilst the request goes out to fetch the "rich" data. Once that request completes then

[2021-05-04 15:55] bradhogan commented on #31342
I'm using the most recent version of WordPress (5.7.1) with no plugins active and the default Twenty TwentyOne theme (see below).  Other ideas?

![7d54253b-aa7e-45c6-aa56-23ceeed57be9](https://user-images.githubusercontent.com/1781226/117032579-70b70500-acb6-11eb-9ef9-d34833efd318.gif)

[2021-05-04 15:57] skorasaurus commented on #22361
Hi,

Thanks for reporting. @earnjam [determined it was an issue with flickr's oembed endpoint](https://core.trac.wordpress.org/ticket/50172#comment:2)

Should this be closed here or at trac or both issues closed?

[2021-05-04 16:07] paaljoachim commented on #31284
Being able to drag the full block chip and the block itself while in Select Mode sounds like a very good idea!

[2021-05-04 16:13] WraithKenny commented on #31322
There's a major regression in 10.5.3 that breaks User-facing Website Functionality (loading the wrong template for pages with a page template selected).

You should probably hold off merging this into core. See #31399

[2021-05-04 16:13] paaljoachim commented on #31337
Looking at the Cover block to see how it handles Padding of all sides compared to manually unlocking individual side adjustments.

![Screen Shot 2021-05-04 at 18 10 33](https://user-images.githubusercontent.com/5323259/117035066-31afa080-ad04-11eb-8765-002177a3292d.png)

Here one clicks the lock. (Tool tip is seen.)

![Screen Shot 2021-05-04 at 18 12 05](https://user-images.githubusercontent.com/5

[2021-05-04 16:24] cgaits commented on #31337
The After is a better UI/UX as it better aligns with design software UI/UX.

[2021-05-04 16:26] priethor commented on #30918
Thanks, added them to the list.

However, the site title is expected to be plain text, whereas enabling `core/bold` and `core/italic` styles in the Site Title block's RichText generates HTML markup, which would require significant changes as [commented above](https://github.com/WordPress/gutenberg/issues/30918#issuecomment-822279193) or [seen recently with the Post Title block](https://github.com/

[2021-05-04 16:38] paaljoachim commented on #27620
The controls suggested by @kjellr Kjell seems like a good first iteration/version.

![Screen Shot 2021-05-04 at 18 32 59](https://user-images.githubusercontent.com/5323259/117037850-417cb400-ad07-11eb-8276-78669979eecf.png)

I do have one question. Will the "contain" option in a way crop very tall images? So that all images look nice at the height and width suggested?

---

We do also have the pos

[2021-05-04 16:43] MaggieCabrera commented on #31399
Does this still happen for you after this was merged? https://github.com/WordPress/gutenberg/pull/31336

[2021-05-04 16:45] WraithKenny commented on #31399
I've found something that's part of the problem: https://github.com/WordPress/gutenberg/blame/trunk/lib/init.php#L181

This code seems to be for testing; for forcing theme support. Testing should have been done via actually using a theme, and registering theme support, but whatever. It's obvious this bit should be removed at least.

[2021-05-04 16:51] kjellr commented on #30918
Yeah, that makes sense technically. Adding them as block attributes to start with might be fine, but I do think it would be worth figuring out a way around that eventually. From a user's perspective, they just want the title to be bold — and they'll be looking for those controls in the same place they look for them for other blocks.

[2021-05-04 16:53] ockham commented on #31399
I think this was a deliberate addition; there's some discussion about it [here](https://github.com/WordPress/gutenberg/pull/30438#discussion_r625892418), plus some more background provided [here](https://github.com/WordPress/gutenberg/pull/30465#discussion_r606174487).

[2021-05-04 16:57] paaljoachim commented on #31276
This is what I see with Gutenberg 10.5.3 activated.

![Screen Shot 2021-05-04 at 18 54 37](https://user-images.githubusercontent.com/5323259/117040496-3ecf8e00-ad0a-11eb-8bde-bfea883de3a9.png)

EDIT:
I left the screen and came back again. This time no block inserter was seen by default.

![Screen Shot 2021-05-04 at 18 58 54](https://user-images.githubusercontent.com/5323259/117041019-cae1b580-ad0a

[2021-05-04 17:08] annezazu commented on #30770
Excellent user story. Thank you for adding that context in here.

[2021-05-04 17:13] paaljoachim commented on #31331
Hmm what about a switch in the sidebar.
As a lot of people might be using a Widget plugin that might or might not work in the new Widget screen.
There should be an obvious and easy option to switching to using the classic widget screen.
Perhaps something similar to this?

![Switch-to-Classic-Widgets-screen](https://user-images.githubusercontent.com/5323259/117043509-9cb1a500-ad0d-11eb-933f-b85344c

[2021-05-04 17:15] ockham commented on #31399
~I've been able to repro the issue using these instructions with GB 10.5.3. I'll now try to see if #31123+#31336 fixes it.~

~Edit: Spoke too soon -- I was looking at the wrong page, i.e. I didn't haven't repro'd with Argent yet.~

Edit 2: I've been able to repro with Argent now. Some notes (in case others are also struggling to repro):

- This is about _pages_, not posts 😬
- Open any page (e.g. W

[2021-05-04 17:18] bbertucc commented on #30770
I hope this feature gets implemented! 50 sites x 32 inputs where I have to change the color palette = 1600 interactions that can be implemented by linking all palettes to the root palette.

[2021-05-04 17:28] WraithKenny commented on #31399
I can replicate the issue simply by nesting a template file in a folder (templates/full-width.php), in a blank from scratch theme, or a default 2021 theme, etc.; It doesn't need to be a reserved word.

Please test that this case is also addressed, as putting templates in a folder named 'template's is widely considered best practice, and is even established by the Coding Standards.

[2021-05-04 17:30] ribaricplusplus opened #31470 "Post featured image overflows sidebar controls"
## Description

Uploading a big featured image causes it to overflow sidebar controls.

## Step-by-step reproduction instructions

1. Download this image that I used: https://unsplash.com/photos/hSh_X3kJ4bI
2. Setup a clean WordPress installation and open a post. You'll need to be able to upload big files which `wp-env` doesn't allow by default (for now). You can use [my fork](https://www.npmjs.co

[2021-05-04 17:41] stokesman commented on #31462
I agree with your critique. Just in case it might help, I'll mention I tend to keep the preview tab open and use keyboard shortcuts to save the edits, switch back to the preview tab, and refresh. Now that I'm thinking about this, it would seem ideal that a keyboard shortcut could be made for preview in a new tab (along with improved UI for clicking).

Closing as a duplicate of #24584.

[2021-05-04 17:41] #31462 closed, assigned to nobody

[2021-05-04 17:41] paaljoachim commented on #31283
Good idea, James!

[2021-05-04 17:42] ntsekouras commented on #31342
Yeah, as noted above this functionality was implemented in GB version 10.0.
WordPress 5.7.1 has GB versions `9.3-9.9`.

Reference: https://developer.wordpress.org/block-editor/contributors/versions-in-wordpress/

I'm closing this issue as it will be resolved with the new WP version (5.8)

[2021-05-04 17:42] #31342 closed, assigned to nobody

[2021-05-04 18:04] leph83 commented on #27620
@paaljoachim I'm not a huge fan of fixed pixel sizes. It's not responsive.

[2021-05-04 18:07] WraithKenny commented on #31399
I'm replicating this _**without**_ a Child Theme, and without Reserved Words, btw, tho the patches seem to be focusing on that.

[2021-05-04 18:08] ockham commented on #31399
Thanks! Yeah, I seem to be able to [confirm](https://github.com/WordPress/gutenberg/issues/31399#issuecomment-832105757).

Furthermore, it seems like the bug is still present on `trunk`...

[2021-05-04 18:23] vdwijngaert commented on #31399
I'll try to replicate and see if I can get it fixed, or at least point in the right direction!

[2021-05-04 18:42] ockham commented on #31399
I'm looking into a fix as we speak. I'm pretty sure the issue is in https://github.com/WordPress/gutenberg/blob/d1764758b42353fce76dbf7d355d99538d58642d/lib/full-site-editing/template-loader.php#L65

We need to get the fallback priority of templates that are returned right (which is a bit finicky -- we really need some unit test coverage 😅 ).

[2021-05-04 18:57] juanRabaa commented on #9937
Its happening to me too on 5.7. Not even reusable, just a simple Embed Block. Only shows the URL on the front (printed with `the_content`).

[2021-05-04 19:15] WraithKenny commented on #31399
Specifically,

When we have

[code]

https://github.com/WordPress/gutenberg/blob/d1764758b42353fce76dbf7d355d99538d58642d/lib/full-site-editing/template-loader.php#L70

Only gives us `full-width.php`, which is not `templates/full-width.php` and fails.

[2021-05-04 19:26] orvn commented on #9937
See if your issue can be resolved by forcing `apply_filters()`, as [described in this comment](https://github.com/WordPress/gutenberg/issues/14608#issuecomment-815460470) @juanRabaa?

The implementation in our use case might be different, but the issue definitely turned out to be one of frontend output, rather than a problem with the Gutenberg embed block itself.

[2021-05-04 19:27] strarsis opened #31474 "Full site editing enabled with no way disabling it (recent Gutenberg plugin)?"
## Description
After updating the Gutenberg plugin to latest release, Full Site Editing seems to be enabled by default.
The site doesn't work anymore, all pages result in a `no matching template found` error message.
How can I disable Full Site Editing again? I can't find an option in the Gutenberg experiments option page.

## Step-by-step reproduction instructions
1. Ensure that the latest Gutenb

[2021-05-04 19:36] vdwijngaert commented on #31399
This hack seems to fix it:

[code]

Here: https://github.com/WordPress/gutenberg/blob/d1764758b42353fce76dbf7d355d99538d58642d/lib/full-site-editing/template-loader.php#L70

Edit: not sure whether to use `get_template_directory` or `get_stylesheet_directory`, or both to make it work for child themes as well, need to test that. I'll make a WIP PR, if that's okay.

[2021-05-04 19:45] strarsis opened #31475 "Feedback on extending core blocks documentation"
## What problem does this address?
There is no trivial mechanism to extend a core block.

## What is your proposed solution?
Add an API mechanism to extend an existing core block.

Example: Custom block that should have the same features as a `core/cover` block (alignment, content position, ...) but custom/complex background content.

[2021-05-04 19:52] WraithKenny commented on #31399
I've been comparing the variables when a Block Template is set, versus when a custom theme file is set, versus when default is set...

It appears that $template is always blank if a theme file isn't selected, and $current_block_template_slug is always blank when a Block isn't set.

If these are correct assumptions, we can delete a lot of code and have a very clean and reliable function.

(@vdwijng

[2021-05-04 19:59] kellychoffman commented on #31076
I like adding the meta info in there, as it acts like a pre-emptive "are you sure?". It could be a bit more compact. My only thought is the nearly empty Template tab in sidebar. That is the location where you delete/trash a post. It might make more sense to stick it there.

[2021-05-04 20:05] glendaviesnz commented on #31443
Good question, I was hoping someone here would know. I will go ahead and open a ticket in Core and see what the response is.

[2021-05-04 20:11] ockham commented on #31399
Thanks @vdwijngaert and @WraithKenny -- I think we're on the right track here.

I  agree that the template resolution algorithm has unfortunately become a bit hard to reason about. The crucial point is probably indeed the way that some functions attempt to strip e.g. `.php` suffixes and directories (but don't take template subfolders into account).

If we get those right, we can probably strip the

[2021-05-04 20:23] ockham commented on #31399
Let's try to state what we know:

If a custom template is assigned to a page, it's always the first entry in the `$templates` arg (as @WraithKenny mentioned [here](https://github.com/WordPress/gutenberg/issues/31399#issuecomment-832180888)):

So if we can determine that `$templates[ 0 ]` is a custom page template (and maybe additionally that the `$template` that was found indeed matches it), we mi

[2021-05-04 20:24] WraithKenny commented on #31399
Yes, in trying to reason through the purpose of this code, the best I can grep about it is that the `$templates` loop is intended as a "source of truth" about the priority, allowing overrides.

The thing that's blocking me is that we already do a lot of the logic of child/parent, subdirectory templates inside of `locate_template` and related code. I think we are just duplicating too much effort.

[2021-05-04 20:29] hellofromtonya commented on #31331
The Classic Widgets plugin now lives in the WordPress GitHub repo https://github.com/WordPress/classic-widgets.

[2021-05-04 20:30] hellofromtonya commented on #31331
@paaljoachim Activating the Classic Widgets plugin disables the new block editor widgets management. No settings. Only need to install and activate. Then the previous ("classic") widgets UIs work. Does this address the concern?

[2021-05-04 20:35] ockham commented on #31399
Exactly my sentiment 👍

Sounds pretty good to me! @WraithKenny It'd be great if you could file a PR to that effect -- it's getting pretty late here, unfortunately 😅

I did a major refactor to this stuff about a year ago but haven't worked with it recently, so I'm not that familiar with the latest changes. Even back then, it was kinda hard to get it right -- the template hierarchy resolution algori

[2021-05-04 20:36] dreamwhisper opened #31479 "Issues with creation of custom block templates in classic themes"
## Description
In https://github.com/WordPress/gutenberg/pull/30438, `add_theme_support( 'block-templates' );` was added by default for all themes.

For a theme, especially those that are custom developed for customers/clients, block templates may _not_ display properly or have the same functionality.

## Step-by-step reproduction instructions

Please list the steps needed to reproduce the bug. Fo

[2021-05-04 20:40] WraithKenny commented on #31399
I've done a simple edit via the Github website UI, because I don't have a Gutenberg repo set up. (I tested via editing a local copy of the downloaded plugin.)

But at least folks can look at the code, and see if what I wrote makes any sense!

[2021-05-04 20:41] annezazu commented on #29452
This seems to have magically resolved itself at some point. I stopped using the test sites impacted by this, revisited them this week with the latest GB version, and everything works as expected now. I am closing this out a bit bummed the root problem wasn't determined but happy the issue is no longer present it seems.

[2021-05-04 20:41] #29452 closed

[2021-05-04 20:45] bbertucc commented on #31115
I found this same issue when deleting a block in the footer while using Site Editor. The block was the only block in the footer. When deleting it, this popped up..
<img width="481" alt="Screen Shot 2021-05-04 at 3 43 58 PM" src="https://user-images.githubusercontent.com/46652/117067479-afb57c80-acef-11eb-9ece-aa74739a763b.png">

[2021-05-04 20:45] ockham commented on #31399
Awesome, I'll give it a spin!

[2021-05-04 20:45] vdwijngaert commented on #31399
I was going for a fix for the issue that crept in 10.5. If the code responsible for the issue can be removed completely, as suggested, that's even better!

It's getting late here, too, so I'm not able to look into the full history to make sure nothing breaks, but it might be a good idea to ask @aristath to take a look as well.

[2021-05-04 20:57] glendaviesnz commented on #31443
Core ticket added at https://core.trac.wordpress.org/ticket/53156

[2021-05-04 21:14] dcalhoun commented on #29672
I happened upon this GitHub issue. I encountered the same issue while working #25810. Thanks to some guidance from @geriux, rather than immediately opening the second modal, we used `onHandleClosingBottomSheet` to "register" a callback to open the second modal once the first modal closed. We then closed the first modal.
 https://github.com/WordPress/gutenberg/blob/6ef9e821a8f88eac7bf93275965fe9f90

[2021-05-04 21:16] hellofromtonya commented on #31331
## Testing the Classic Widgets plugin

### Testing Environment

- Classic Widgets plugin:
     - downloaded it from the GitHub repo (soon will be available through the plugins UI as I submitted it today)
     - version 0.1
- Gutenberg plugin version: 10.5.3
- WordPress version: 5.7.1
- OS : macOS Big Sur
- localhost: WP Local

Then ran a side-by-side comparison with the plugin activated and deacti

[2021-05-04 21:28] glendaviesnz commented on #31443
Will close for now, will re-open if any issues with getting the tag added in Core.

[2021-05-04 21:28] #31443 closed, assigned to nobody

[2021-05-04 21:40] ockham commented on #31399
Here's a very basic unit test:

[code]

This fails on current `trunk`, but passes both for https://github.com/WraithKenny/gutenberg/commit/8a70acd76f2c23fece9658166dc37e04ae71a05e and https://github.com/WordPress/gutenberg/pull/31478.

[2021-05-04 21:45] ockham commented on #31399
Let's do the following:

- Merge @vdwijngaert's #31478 (since its surface of impact is actually smaller, which can give us more confidence that it doesn't have (m)any unwanted side effects).
- Cherry-pick to `release/10.5`, and cut a 10.5.4 release with the fix.

Once that short-term fix is out:

- File a PR based on @WraithKenny's https://github.com/WraithKenny/gutenberg/commit/8a70acd76f2c23fece

[2021-05-04 22:17] bbertucc opened #31480 "Post Featured Image not displaying when published"
## Description
A Post Featured Image in the query block displays perfectly when editing a page. When published, the image disappears.

## Step-by-step reproduction instructions
Here's what blocks I'm using..
<img width="605" alt="Screen Shot 2021-05-04 at 5 12 38 PM" src="https://user-images.githubusercontent.com/46652/117076539-29536780-acfc-11eb-8959-20b3655d39a4.png">

## Expected behaviour
The

[2021-05-04 22:18] vdwijngaert commented on #31474
Hey @strarsis, I think this might be related to https://github.com/WordPress/gutenberg/issues/31399. I encountered the same errors as you have while troubleshooting that issue. A fix is under way in https://github.com/WordPress/gutenberg/pull/31478, and should be published asap. Can you see if the PR fixes it for you?

[2021-05-04 22:28] bbertucc opened #31481 "Add Font Family Select to Headings"
## What problem does this address?
Many sites we support require a different font family for headings than paragraphs. There is currently no font-family selector for headings.

## What is your proposed solution?
Add a "Font Family" selector for headings, like the buttons block has a Font Family selector.

[2021-05-04 22:58] richardmtl opened #31482 "Link editor: Show full URL in picker"
## What problem does this address?

I have several URLs that start the same on my site.

<img width="378" alt="Screen Shot 2021-05-04 at 6 54 11 PM" src="https://user-images.githubusercontent.com/3676359/117079621-22cbec80-ad0a-11eb-98a4-c37c775eb9d9.png">

I'm looking for one in particular, but how do I know which one to pick between the 3 different `/metro/metro-line...` options? Trial and error

[2021-05-04 23:02] amooreTO commented on #21601
The following attributes don't seem to have any effect:

[code]
The panel is always in an open state when the editor loads.

[2021-05-04 23:26] stokesman commented on #17596
I'd made #29193 for this but now that the Button block’s border radius UI is provided by the block supports hook, it's no longer applicable. It could, I think, be redone to work even now but the alternative resolution for this #29210 is simpler and a definite improvement over what we have now (though it is apparently how things were when this issue was opened).

If we want to implement the intent

[2021-05-04 23:45] carlomanf commented on #26573
Yes, you're right. Another way to think about it is anything that simply manipulates the block markup should always be allowed (as they would have been able to do it with code view anyway) but anything that modifies a foreign entity should be restricted in alignment with the REST API controller for that entity.

[2021-05-05 00:28] aaronrobertshaw commented on #31337
Raising some [feedback](https://github.com/WordPress/gutenberg/pull/31366#pullrequestreview-651027251) on the existing border controls here in case it changes anything.

[2021-05-05 00:45] #31176 closed, assigned to noisysocks

[2021-05-05 03:39] carolinan commented on #31231
Yeah aligning a paragraph and site title to create a copyright or credit text in the footer isn't possible without additional CSS to force them to be inline.

[2021-05-05 04:22] #31179 closed, assigned to talldan

[2021-05-05 04:38] #22623 closed

[2021-05-05 05:38] LachlanArthur commented on #14608
I worked around this by changing the priority of the `do_blocks` function to run before the `\WP_Embed::run_shortcode` function.

[code]

It only applies with this exact configuration of priorities, so it should "deactivate" if the filters are modified in the future.

[2021-05-05 05:46] #26593 closed

[2021-05-05 06:42] #31249 closed, assigned to noisysocks

[2021-05-05 06:59] noisysocks commented on #28561
We can fix this the same way we did in the Customzier by converting the Legacy Widget block to a `block` widget when it is empty.

https://github.com/WordPress/gutenberg/blob/cc2e0782b53e55ae3c4c3ae81b5ec3e47ddbc1a5/packages/customize-widgets/src/components/sidebar-block-editor/use-sidebar-block-editor.js#L17-L21

While we're at it, we should move `blockToWidget` and `widgetToBlock` to `@wordpress

[2021-05-05 07:18] jasmussen commented on #31283
We've tried it in the past, and removed it quickly as it was too noisy. There's something to the idea, but we should be very careful with the implementation. One idea is to make it a tooltip, identical to all other tooltips in the editor — that is, it appears after a brief delay, in context of the cursor, and is a black strip with white text.

[2021-05-05 07:18] jasmussen commented on #27620
The blue px indicator is meant to be a unit selection dropdown, so you could choose other units, such as %, vw, vh, em, rem, etc.

[2021-05-05 07:18] #28668 closed

[2021-05-05 07:18] #31177 closed, assigned to kevin940726

[2021-05-05 07:19] #29891 closed

[2021-05-05 07:22] oandregal commented on #27230
https://github.com/WordPress/gutenberg/pull/30541 has landed, which introduced a `version` field in the theme.json and a mechanism to migrate to the latest schema in the server. The corresponding migration mechanism in the client is to be developed.

[2021-05-05 07:22] leph83 commented on #27620
So if I have 3 Columns with a picture inside of each, that I wanted to make square I could set the properties to 100% height and 100% Width to achieve that? That would work for me.

I don't see the possibility to choose the object position in your design, when I chose cover as my scaling option. That would be nice to have.

[2021-05-05 07:31] jasmussen commented on #27620
Well, if those 3 columns were part of a query, then setting the dimensions of one of the featured images to square would do it for all of them, yes.

I'd agree it would be nice to also have the focal point picker for the featured image block, but I'd think it would be a nice followup to do. Also keep in mind that themes could do it in the manually as well.

[2021-05-05 07:42] oandregal opened #31488 "Link Color: substitute the CSS Custom Property by the mechanism used in layout and duotone"
The link color is an experimental feature a theme can opt-in. At the user level, it works by attaching `--wp--style--color--link: <user selected value>` to the block wrapper. At the global level, it works by outputting a new ruleset such as `block selector { --wp--style--color--link: <theme_or_user_value>}`. They work because the framework also outputs this rule `<selector for links> { color: var(

[2021-05-05 07:55] oandregal opened #31489 "Font Family: make it work like any other block support with presets"
The block supports mechanism works by attaching classes (when the property has preset values such as colors or font-sizes) or inline styles (when it doesn't such as line-height or when the user selects custom values for colors or font-sizes).

The link color was an exception to this model because it addresses the inner markup of a block. We experimented with using CSS Custom Properties for that on

[2021-05-05 07:59] oandregal commented on #25151
Related https://github.com/WordPress/gutenberg/issues/31488 (will be fixed if/when that approach lands)

[2021-05-05 08:07] #31353 closed, assigned to jasmussen

[2021-05-05 08:08] paaljoachim commented on #31456
Additional mockups.

If the title/name of an object is long then it can wrap.

![Save-panel-Discard-wrap-long-title](https://user-images.githubusercontent.com/5323259/117112162-f3a89000-ad88-11eb-9f6f-8a7582b3621b.jpg)

Another option would be to use the 3 dot (ellipsis) drop down.
Also touched upon in this issue:
https://github.com/WordPress/gutenberg/issues/29871
by @critterverse Channing.

![Sa

[2021-05-05 08:12] paaljoachim commented on #29871
We do have a general improvement of the multi-entity saving method added to a new issue: https://github.com/WordPress/gutenberg/issues/31456
I have added various mockups to it. It could use additional feedback.

[2021-05-05 08:23] #31331 closed, assigned to hellofromtonya

[2021-05-05 08:24] paaljoachim commented on #30800
To not derail this issue. A general multi entity saving issue has been created here: https://github.com/WordPress/gutenberg/issues/31456
The general approach could use some feedback.

[2021-05-05 08:31] talldan opened #31491 "E2E test plugin blocks not loading in the Customize Widgets editor."
# Description
https://github.com/WordPress/gutenberg/pull/31406 seems to fix loading blocks from plugins in the customize widget editor.

But for some reason plugin blocks that are used for e2e tests aren't loading (https://github.com/WordPress/gutenberg/pull/31406#issuecomment-831093152).

This might indicate a similar problem will occur with some plugins.

When observing the block registration,

[2021-05-05 08:31] leph83 commented on #27620
Oh I missed the part, where it's a query. This feature would also be amazing for the Gallery Block and the Image Block itself too

[2021-05-05 08:52] #31129 closed, assigned to talldan

[2021-05-05 09:15] aristath commented on #23524
It would be safer to just build this as a separate block in a plugin if your site needs random order. Adding `rand` order in WordPress-core would introduce a lot of issues, so doing it in a plugin would be the safest and most future-proof way

[2021-05-05 09:18] oandregal commented on #20331
Status report for [core-editor meeting](https://make.wordpress.org/core/2021/05/03/core-editor-meeting-agenda-5-may-2021/).

**Shipped this week:**

block.json / block supports:

- Improve the typing performance by only rendering hook panel of selected blocks https://github.com/WordPress/gutenberg/pull/31381
- Update padding to allow configurable sides https://github.com/WordPress/gutenberg/pull/3

[2021-05-05 09:19] jameskoster commented on #31456
The ellipsis makes sense to me as these will be secondary actions in most cases.

I do question the need for the save action though. Isn't the duplicative of the big blue "Save" button at the top?

[2021-05-05 09:23] jameskoster commented on #31283
Yes I think in Edit mode this would be too noisy. And agree that we need to exercise caution with any elements that obscure the canvas. It probably makes sense to let this one stew a bit and revisit as we explore other Select mode iterations.

[2021-05-05 09:28] paaljoachim commented on #31456
We can go ahead and remove the "Save changes" in the ellipsis drop down. Like so:

![Save-panel-ellipsis-Discard](https://user-images.githubusercontent.com/5323259/117121531-01641280-ad95-11eb-8d0f-48b952639f9a.jpg)

The ellipsis drop down also gives us an opportunity to later on iterate with additional options.

[2021-05-05 09:28] jameskoster commented on #31337
If it is easy to re-purpose the existing padding control, that could serve as an interim. Ideally both the padding and border radii controls would be updated to use concepts outlined in #27331.

I think the solution here is to not allow a "none" border style. That way the presence of the border is governed entirely by the width control and (hopefully) scope for confusion is reduced.

[2021-05-05 09:31] youknowriad commented on #27230
Removed from the 5.8 project. The client upgrades are not required there.

[2021-05-05 09:41] jameskoster commented on #31456
Yeah, the "Select" affordance can potentially go in there as well.

[2021-05-05 09:41] paaljoachim commented on #14608
Hi @LachlanArthur
Perhaps you could open a PR and suggest this solution?
Thanks!

[2021-05-05 09:43] #31399 closed, assigned to vdwijngaert

[2021-05-05 09:49] oandregal commented on #27230
Oh, good call. Moved this to the backlog of https://github.com/WordPress/gutenberg/issues/20331 (removed from current iteration).

[2021-05-05 09:58] paaljoachim commented on #31456
Clicking "Select" selects the object in the Canvas. One should also be able to click the title and automatically have it selected in the canvas area.

I am also creating a mockup removing the checkboxes, so that the user can really decide to click the 3 dots and select discard. Removing the object from the Save panel.
Currently clicking a check box to uncheck still keeps the object in the Save pan

[2021-05-05 10:01] vdwijngaert commented on #31399
Thanks @ockham! Could you create these follow-up issue(s)?

[2021-05-05 10:22] designbuildtest opened #31496 "Link builder arguments - 'wp_link_query_args' filter is ignored"
## Description

Using the classic editor, it's possible to exclude post types and taxonomies from appearing in the link builder using:

`function my_custom_link_query( $query ){`
        `$query['post_type'] = array( 'post', 'pages', 'snippets' ); `
        `return $query;`
`}`
`add_filter( 'wp_link_query_args', 'my_custom_link_query' );`

Gutenberg does not appear to support this same level of fi

[2021-05-05 10:47] cgaits commented on #31337
A check-mark and x would also help in choosing a border state, and it would visually guide the user.

[2021-05-05 10:54] paaljoachim commented on #31456
Here is a prototype.
Adjustments:
I removed the checkboxes. (The question that comes up should or should not the checkboxes be removed? As we have the discard option inside the ellipsis drop down instead of of needing to uncheck the checkboxes.)
Added in the ellipsis drop down which gives the option to "Select" or "Discard"
Clicking Discard removes the object from the save panel.

https://user-ima

[2021-05-05 10:56] Sandstromer commented on #27528
Is the general thinking here that templates and global styles will be exported as a "new theme" completely detached from the base theme, or will the export be a sort of design to work with the base theme that the user started with?

I can see potentially a use for both scenarios, where a user is creating for themselves or a client.

1. a developer creating a bespoke theme
2. a designer leveraging

[2021-05-05 10:57] youknowriad commented on #31416
@nosolosw I think useEditorFeature is something we should stabilize, though I don't like the naming of the hook, maybe more `useThemeSetting`

[2021-05-05 11:53] ockham commented on #31399
I've gone ahead and created a PR draft for the unit tests: #31498.

[2021-05-05 11:58] #31422 closed, assigned to youknowriad

[2021-05-05 11:58] getdave commented on #14744
I agree that we should consider removing the Group `transform` action and instead create a new piece of UI such as "Wrap with" (I'm avoiding the word "Group" here). It's a little confusing saying you will transform to "Group" when that isn't actually what happens.

[2021-05-05 12:01] chdenat commented on #31399
Thanks to all of you  !!!

[2021-05-05 12:08] getdave commented on #30985
Closing this as I assume it's been fixed @kjellr?

[2021-05-05 12:30] kjellr commented on #30985
It has not been, but I'll check in on this later today. If it's still happening I'll open an issue for TT1 Blocks.

[2021-05-05 12:31] draganescu commented on #25877
I think we're ok!

[2021-05-05 12:31] #25877 closed

[2021-05-05 12:36] #28744 closed

[2021-05-05 12:41] kjellr commented on #31248
I thought we had another issue filed for this, but I can't find one. In any case, I fully agree — the enforced one-and-two columns layouts on smaller screens really limit what's possible with block patterns. I'd love to see this one prioritized, as I imagine it's a relatively simple feature to implement.

[2021-05-05 12:53] Mamaduka commented on #30391
Fixed via #31119.

[2021-05-05 12:53] #30391 closed, assigned to grzim

[2021-05-05 13:01] vdwijngaert commented on #31481
Hey @bbertucc, good news: work is already under way to implement in Gutenberg, with the _global styles_ feature.

[2021-05-05 13:01] #31481 closed, assigned to nobody

[2021-05-05 13:03] kjellr commented on #30985
I looked into this again, and it does still happen in Twenty Twenty-One and TT1 Blocks. But it also happens with a couple of the freshly added patterns from https://github.com/WordPress/gutenberg/pull/2997 (the "Two Buttons" pattern for example).

While we can update all these, this issue is likely to come up repeatedly for themes and plugins that bundle patterns. If the markup has changed at all,

[2021-05-05 13:04] gziolo commented on #31416
Oh, this would be very different to what was implemented at first. Does it mean that it no longer checks the settings in block `supports` and only uses `theme.json`? Looking at how `typography.dropCap` is handled, it looks like all the logic that processed also block type definition was removed. Example:

https://github.com/WordPress/gutenberg/blob/42c5fcdeb51ba2c70942d2f0cb9ca1efd2064bd7/packages

[2021-05-05 13:08] vdwijngaert commented on #31474
Can see if the last update fixes your issue?

[2021-05-05 13:10] youknowriad commented on #31416
It's the other way around:

 - Block authors can say that their blocks do support something by using the `block-supports` for instance or implementing it adhoc
 - Theme authors can decide to hide these customization options. (control what their users can do)

So ultimately, the final decision belongs to the theme author. My post also explains this a bit https://riad.blog/2021/05/05/introduction-to

[2021-05-05 13:11] amir2mi opened #31501 "Gutenberg does not change "_edit_last" post meta"
I discovered a bug while I was trying to show **a post, the last modification author name**.
Generally, WordPress uses `_edit_last` post meta to save the last modification author ID.

The problem is Gutenberg does not set or change this post meta and when a post is published by Gutenberg then modified WP functions like [`get_the_modified_author()`](https://developer.wordpress.org/reference/functio

[2021-05-05 13:22] desrosj opened #31502 "Add best practice guidance for the group block element selector"
## What problem does this address?
#28576 introduce an element selector to the group block to allow a user to change the container element within a user created template.

![106254186-19217d00-6221-11eb-892d-a35f4d2e2757](https://user-images.githubusercontent.com/359867/117145870-9d841e80-ad81-11eb-8270-f27b3d0645ba.png)

While this is great for flexibility, there is no guidance around purpose or

[2021-05-05 13:22] vdwijngaert commented on #31482
I agree. This needs to have a tooltip while hovering the URL. At first sight, this could be implemented by adding a `title` attribute to the element containing the URL: https://github.com/WordPress/gutenberg/blob/3da717b8d0ac7d7821fc6d0475695ccf3ae2829f/packages/block-editor/src/components/link-control/search-item.js#L46

I'm not sure about the accessibility best practices on this, so some feedbac

[2021-05-05 13:50] skorasaurus commented on #31482
related https://github.com/WordPress/gutenberg/issues/21100 ; perhaps could adopt some logic from this.

[2021-05-05 13:52] gziolo commented on #31416
From the post:

Thank you for sharing this post. It clarified all misconceptions I had based on the initial development efforts I was involved in. `useThemeSetting` seems to be a perfect match then 👍🏻

[2021-05-05 13:59] carolinan commented on #31480
Hi
I have not been able to reproduce this in the block editor+ front with Gutenberg version 10.5.3, version: 10.5.4 or current trunk.
I am using WP 5.7.1, Windows 10, Chrome. Theme: Twenty Twenty-One.

[2021-05-05 14:20] Addison-Stavlo commented on #24818
The semantic template parts bullets here seem complete now.  Checking off the remaining item:

As this is now being done with the `blockTypes` array in pattern registration.

[2021-05-05 14:51] desrosj commented on #31502
Related: #31421.

[2021-05-05 15:00] #8867 closed

[2021-05-05 15:02] #21583 closed

[2021-05-05 15:16] paaljoachim commented on #31331
I brought up this issue during the Open floor of the Core Editor Meeting.
Link to Slack: https://wordpress.slack.com/archives/C02QB2JS7/p1620226617289300

What is very helpful is adding information to the Welcome panel in the Widget Screen that one can switch to using the Classic Widget screen by installing the Classic Widget plugin. As there will very likely be a lot of people who want to stick w

[2021-05-05 15:21] ntsekouras commented on #27620
In order to use `object-fit` here we need to have set a `width` and a `height/min-height`. Should we have some defaults like `width: 100%` and `height/min-height: 200px` for example? Can we communicate this better by showing/hiding `scale` controls depending the existence of `width` and `height` values?

--edit: Maybe having only a `height` control makes more sense? Do we have use cases that we wo

[2021-05-05 15:27] grogou opened #31505 "Change blocks markup"
Hi guys. You do amazing plugin, thx for that so much.
## What problem does this address?
I need to understand, can we somehow change core blocks markup, both sides ( editor, front ).
## What is your proposed solution?
Do we have some filter to do that or it is not possible.

for example we have an image block.
[code]

can I chnage it like
[code]

I know we have `editor.BlockEdit` and `blocks.getSa

[2021-05-05 15:33] grogou commented on #31475
Hi @strarsis

It maybe can helpful for you.

https://jeffreycarandang.com/extending-gutenberg-core-blocks-with-custom-attributes-and-controls/

[2021-05-05 15:40] jameskoster commented on #31456
One drawback to this flow:

Let's say I've edited my header and my footer. I want to save the changes to the header immediately. I also want to keep the changes to my footer and continue working on it. With the removal of the checkboxes that is no longer possible.

I suppose the "Save changes" menu item in the ellipsis can help, but does that feel a bit awkward? 🤔

An inline save (like the one fro

[2021-05-05 15:50] getdave commented on #31502
This sounds like a reasonable idea to me. Different descriptive text per element with links to further information - ideally on WP.org but otherwise on another site.

[2021-05-05 15:51] getdave commented on #30745
This seems like something that needs to be fixed. Thanks @javierarce.

[2021-05-05 15:55] getdave opened #31508 "Navigation block should always be selected."
## Description
On the Navigation editor screen you can only add a `core/navigation` block at the root level. This is by design.

However, it is possible to end up with no block selected and `No block selected` being shown in the right hand side sidebar.

## Step-by-step reproduction instructions

* Go to `/wp-admin/admin.php?page=gutenberg-navigation`.
* Create Menu and add items.
* Click in the g

[2021-05-05 15:57] getdave commented on #30329
Couldn't replicate either @talldan. Happy to close if you are.

[2021-05-05 15:59] javierarce commented on #31466
Here's a first iteration for this feature's design:

<img width="2488" alt="Design@2x" src="https://user-images.githubusercontent.com/4933/117167558-a697de80-adc7-11eb-8161-b5f467fd8e41.png">

The most notable changes I'm introducing are:

- In the current design, the URL that the user is about to add is contained inside a card whose background changes on hover. I think we could get rid of the eff

[2021-05-05 15:59] getdave commented on #30324
Just tested and can no longer replicate. Assume fixed elsewhere at source.

![Screen Capture on 2021-05-05 at 16-59-10](https://user-images.githubusercontent.com/444434/117171969-443cdf00-adc3-11eb-8278-0b9b2a06c215.gif)

[2021-05-05 15:59] #30324 closed, assigned to nobody

[2021-05-05 16:00] getdave commented on #30137
Hi @OlaIola. Were you able to find any time to re-test this? It looks like perhaps it will have been fixed but I'd love to confirm. Much appreciated.

[2021-05-05 16:15] mtias commented on #31231
This a great start!

[2021-05-05 16:17] bradhogan opened #31510 "remove_theme_support('core-block-patterns') ignored"
I have the following in my theme functions file:

[code]

And all of the Patterns still appear.

WP: 5.7.1
Gutenberg: 10.5.4
Macbook Pro
Chrome 90.0.4430.93

Cheers,
Brad

[2021-05-05 16:24] creativecoder commented on #30406
Related to these improvements, this seems like a good time to get the logo option name and data type aligned with existing conventions: https://github.com/WordPress/gutenberg/pull/31511

[2021-05-05 16:33] bbertucc commented on #31480
@carolinan here is my block code:
[code]

[2021-05-05 16:33] TimothyBJacobs commented on #23524
This is already filterable using [`rest_{$post_type}_collection_params`](https://developer.wordpress.org/reference/hooks/rest_this-post_type_collection_params/). Gutenberg really should be reading from the schema for the post type and including/excluding those order by options based on the `enum` value.

[2021-05-05 17:05] jffng commented on #30406
Mentioning a small bug fix that will help for removing some logic from theme templates: https://github.com/WordPress/gutenberg/pull/31513

[2021-05-05 17:10] grand-lotus-iroh commented on #31462
I too, used to click the preview button and just tab over and click CTRL + F5 but I've noticed that does not work, and also, sometimes, when I add "reuseable blocks" those don't show in preview mode. It have to publish or save draft and than look to see the updates.

[2021-05-05 17:25] therealgilles opened #31514 "View Post link URL after ajax update should not hardcode site domain"
## What problem does this address?
When editing a post in the backend and clicking on 'Update', Gutenberg (I'm assuming) updates the 'View Post' link in the admin bar and displays a 'View Post' overlay (which by the way appears too early, i.e. clicking on it right away results in the browser asking if one really wants to discard changes). The updated link hardcodes the site domain name instead of

[2021-05-05 17:35] gabbsmo opened #31515 "Invalid CSS on inline images"
## Description
If I add a inline image to a list it is rendered in its native size as expected but the img tag will have a style attribute with the invalid value "width: px;".

## Step-by-step reproduction instructions
1. Create a page with block editor
2. Insert a list block
3. Add a list item
4. Add a inline image to the list item
5. Empty the width field and press enter

## Expected behaviour
S

[2021-05-05 17:55] kjellr opened #31517 "Search Block: Custom-width search blocks are not fully right-aligned"
It appears that they have some sort of extra margin or spacing to the right of them:

<img width="745" alt="Screen Shot 2021-05-05 at 1 41 55 PM" src="https://user-images.githubusercontent.com/1202812/117185752-2ada6980-ada8-11eb-99e1-94a881aed211.png">

(Screenshot taken with the [emptytheme](https://github.com/WordPress/theme-experiments/tree/master/emptytheme) to eliminate any theme styles. I t

[2021-05-05 18:00] skorasaurus commented on #22288
related https://github.com/WordPress/gutenberg/issues/31496 (filtering based on post_type)

[2021-05-05 18:14] skorasaurus commented on #31510
confirmed on
WP: 5.7.1 and gutenberg: 10.5.4 with twenty-twenty theme.

[2021-05-05 18:18] skorasaurus commented on #31496
Similar request at #22288 specifically for filtering taxonomies

[2021-05-05 18:54] ssakcoR commented on #30698
Hi,

I do experience the same bug. I want to convert more than 300 galleries from classic to Gutenberg, but due to the captions missing afterwards I hesitate to do that.

How long do you think this bug will take solving?

Would it be wise to convert the galleries now and expect the captions to appear after the update in the future? They are still visible for each individual image in Media Library.

[2021-05-05 19:09] #31254 closed, assigned to gwwar

[2021-05-05 19:31] javierarce commented on #31466
Ok, here's the first iteration of this feature's design.

This is the basic add flow where the user searches for an item and we show a list of results. If the text happens to be an URL, we fetch the metadata and render a card (at this point, I wonder if it would be OK to fetch the metadata when the search term doesn't begin with `www.`)

<img width="681" alt="Steps" src="https://user-images.github

[2021-05-05 19:48] #31351 closed, assigned to AmandaRiu

[2021-05-05 19:57] hellofromtonya commented on #31331
Classic Widgets plugin is now available for download https://wordpress.org/plugins/classic-widgets/ 🎉

[2021-05-05 20:57] danstramer opened #31521 "YouTube embed block not editable in Custom post type"
## Description
After inserting a YouTube embed block, clicking it does not open the editing options (to replace the embed URL)

## Step-by-step reproduction instructions
1. Go to a CPT in the site
2. add a YouTube embed block
3. add url to the block
4. Click embed
5. Update/publish page
6. Refresh the page
6. Go back to the block and click it in order to edit the embed link
7. block does not allow

[2021-05-05 21:07] ajlende opened #31522 "DateTimePicker Time Zone Selection"
## What problem does this address?

I want to be able to select a time zone for a given time in my [Event Block](https://wordpress.org/plugins/event/) which uses the DateTimePicker component.

Having a selectable timezone could also be applied to scheduling a post in a different time zone than yours or the server's (#29306).

## What is your proposed solution?

Add timezone selection to the DateTi

[2021-05-05 22:16] swinggraphics commented on #16877
Aaaargh. Gutenberg: making life harder in PHP, and requiring a lot more skill and hoop-jumping to access in JS. The linked issue #2751 is Closed, as well. 😢

[2021-05-05 22:22] paaljoachim commented on #31456
Good point. I am bringing back the checkboxes. Taking this adjustment one step at a time.
The focus is on adding the ellipsis drop down menu that includes the "Discard" and "Select" options.

https://user-images.githubusercontent.com/5323259/117217061-19717b80-ae01-11eb-966b-2c81fe9648ac.mp4

[2021-05-05 22:24] skorasaurus commented on #14531
This is being closed since this was decided to not be considered. Please comment if you have any questions.

[2021-05-05 22:24] #14531 closed

[2021-05-05 22:35] skorasaurus commented on #27696
A 500 error can be caused [by many different things ](https://kinsta.com/blog/500-internal-server-error/).

The link above has several strategies that you can try to resolve this.

Also, Are you able to reproduce this after you have installed and activated the newest version of Gutenberg that is available through [the Gutenberg plugin](https://wordpress.org/plugins/gutenberg/)?

[2021-05-05 22:45] dimalif commented on #27696
@skorasaurus

This happens within Gutenberg and nowhere else. And only under those circustances. I use WP latest but not with the plugin.

Anyways this error doesn't seem to do any harm, i'm able to do what i need to do.

My hosting provider pointed to WP and Gutenberg and they see no error in their logs. And since they are a small and dedicated company, they always have been right the last 8 year

[2021-05-05 23:18] noisysocks commented on #26222
Just "Search" is fine in my opinion.

[2021-05-05 23:18] #26222 closed

[2021-05-05 23:20] annezazu commented on #24952
Including feedback from the fifth call for testing for the [FSE Outreach Program as an additional idea/improvement](https://make.wordpress.org/test/2021/04/14/fse-program-testing-call-5-query-quest/#comment-1552): Vertical Alignment!

[2021-05-05 23:25] annezazu commented on #30475
This was raised in the [fifth call for testing for the FSE Outreach program](https://make.wordpress.org/test/2021/04/14/fse-program-testing-call-5-query-quest/#comment-1552) as well as a point of confusion.

[2021-05-05 23:34] strarsis commented on #31475
@grogou: Thanks, yes, this goes into the right direction.
However, I want to add something as sibling to the `InnerBlocks` element, like an element as a complex/custom background.
The encapsulation approach doesn't appear to add this is a sibling. But I need to try, maybe it still works in the DOM...

[2021-05-05 23:40] annezazu commented on #30724
Controlling width options came up once more in the [fifth call for testing for the FSE Outreach Program](https://make.wordpress.org/test/2021/04/14/fse-program-testing-call-5-query-quest/#comment-1552) and I wanted to pass along here for anyone as they consider improvements to width settings:

[2021-05-06 00:09] strarsis commented on #31474
@vdwijngaert: Yes, issue is fixed when I install the Gutenberg plugin built from `trunk`.

[2021-05-06 02:28] pierlon opened #31526 "Some items listed in changelog for v15.0.0 of @wordpress/scripts package not in release"
The following items listed in the [changelog](https://github.com/WordPress/gutenberg/blob/5fb790205a706cd69dca6cfd4d760d40a5d6b0b6/packages/scripts/CHANGELOG.md) for the `@wordpress/scripts` package are not included in the latest release (at the moment v15.0.1):

(Edit: Last item quoted above is confirmed to be in release)

There might be more but I haven't checked.

## Expected behaviour
To see t

[2021-05-06 02:59] dcalhoun commented on #31151
👍🏻 This approach makes the most sense to me. It leverages the API provided by React Native, rather than building complexity into our source.

Yeah, `Animated` may possibly worth exploring at some point to see if we can smooth out the remaining jumps on Android.

[2021-05-06 03:01] kevin940726 commented on #31194
@critterverse Very cool! A few questions:

1. What happens if we scroll the block editor when the legacy widget is active? I would assume that it would follow along with the block, but then we have to decide the z-index of the "popup", should it be above or beneath the section title for instance.
2. 50% of the height seems reasonable, but I think maybe we should also have a min-height so that smal

[2021-05-06 03:19] carolinan commented on #30724
Would it be possible to show the name (tooltip/label) "width" instead of "alignments", when only width options are available, and
"width and alignments" when both are available and so on?

[2021-05-06 03:42] carolinan commented on #30568
If you place the image block inside a group block (or query, or template part), the options depend on the layout settings in the parent block.

- Without changes to the layout settings, you can only align the image to the left, center, or right.
- When the layout setting inherits the width from experimental-theme.json, you can only set the image's width to default, wide or full width.
- When the c

[2021-05-06 03:52] carolinan commented on #31255
There is a suggestion to allow removing the link, so this block would have both text color and link color options.
I don't know if that is more or less confusing, because the link color option is always available even if the link option is disabled.

[2021-05-06 03:59] carolinan commented on #31502
This is used in 3 blocks, but with different elements available.
In case of the template part, the `<header>` element is not meant to be inside another element, it is meant to be the banner role, the site header. And the footer is for the site footer, the contentinfo role.
Since template parts are not always available, the header element is also available for the group.

[2021-05-06 04:45] #30473 closed, assigned to Mamaduka

[2021-05-06 04:58] talldan commented on #23953
'Add existing menu' is an interesting option on this screen, because it is the menu screen where these menus are created/edited.

I think it'd feel more like copying or duplicating an existing menu in this context.

A `widgets` package was recently added for sharing code between the customizer and standalone widget editors. So a `menus` package could be similar.

I also wonder if we're reaching th

[2021-05-06 05:16] jasmussen commented on #23953
Interesting the you should mention "Add existing menu", as https://github.com/WordPress/gutenberg/pull/31371 changes the phrasing to that in the block setup state.

For the block, the motivation is to make clear that it's just a starting point, a copy if you will, and that there's no connection between screen and block after that fact. Honestly, "Copy menu" might be even better phrasing to help su

[2021-05-06 05:18] kevin940726 commented on #31141
I believe this should have a higher priority as it basically block anything under the toolbar from being clicked.

Apart from clicking the preview, IMO clicking on anywhere outside the editor should clear the selection, like the section title or the empty space below the editor for instance.

[2021-05-06 06:17] talldan commented on #31526
@pierlon I just checked and it seems fine. I tested by installing the latest version locally in a new project and trying the format command:
<img width="571" alt="Screenshot 2021-05-06 at 2 14 19 pm" src="https://user-images.githubusercontent.com/677833/117250190-70b13380-ae75-11eb-8f52-9c25b1ba9d23.png">

I can also verify that jest-circus is installed though I didn't go as far as writing and run

[2021-05-06 06:26] draganescu commented on #31140
Yep thanks for the heads up @JustinyAhin! Tested and it's fixed now.

[2021-05-06 06:26] #31140 closed, assigned to nobody

[2021-05-06 06:30] #31454 closed, assigned to jasmussen

[2021-05-06 06:31] draganescu commented on #31331
Excellent news @hellofromtonya and @azaozz 🕺🏻

[2021-05-06 06:46] carolinan commented on #24952
If this block is included as is in 5.8, can it still be split into individual blocks later? I wonder if we need to reconsider including this.

@alaczek @kjellr do you consider any of these individual remarks as must haves for 5.8?
For example, making the author name a link to the author page.

[2021-05-06 06:56] draganescu commented on #31126
Yes I am :(

[2021-05-06 07:00] pierlon commented on #31526
@talldan I was mistaken about the `format` command, but the others still apply. In the `@wordpress/scripts@15.0.1` tagged release you can see there is no `testRunner` set in the `jest-unit.config.js` file, for example:

https://github.com/WordPress/gutenberg/blob/6f82f63e4708c72803862217b379b9e21f448290/packages/scripts/config/jest-unit.config.js#L11-L13

While in the `trunk` branch it is:

https:

[2021-05-06 07:03] getdave commented on #30985
I wonder if this happens with a production build of the Plugin. Lets check by using latest release from Plugin repo.

If it is then we could look into tailoring the verbosity of the console logging for the preview component via props. That way we could silence the errors when rendering previews.

[2021-05-06 07:35] carolinan opened #31527 "Site logo has the "Edit as HTML" option despite support for HTML being set to false"
## Description

The "Edit as HTML" option is available for the site logo block, but it is broken.
I don't believe it is intended to have this option, and in block.json, support is set to false:
[code]

## Step-by-step reproduction instructions

Please list the steps needed to reproduce the bug. For example:
1. Add a site logo block
2. With or without an image set, open the more (ellipsis) menu and

[2021-05-06 08:08] grogou commented on #31475
IDK i have one issue opened. https://github.com/WordPress/gutenberg/issues/31505

[2021-05-06 08:10] talldan commented on #31526
cc @kevin940726 @gziolo.

[2021-05-06 08:27] jasmussen commented on #27620
Excellent point. Without them they aren't that useful. One option: only show the image scaling properties if a width and height have been set:

<img width="1440" alt="no dimensions" src="https://user-images.githubusercontent.com/1204802/117266278-5ff0c580-ae55-11eb-811f-f43e3c0d2c41.png">

<img width="1440" alt="dimensions" src="https://user-images.githubusercontent.com/1204802/117266326-6e3ee180-

[2021-05-06 08:30] #31352 closed, assigned to jasmussen

[2021-05-06 08:34] jameskoster commented on #31456
Since discarding is a destructive action, did you think about how we might protect the user from removing their changes mistakenly?

Lots of existing tools to consider in that regard:

* Undo button could work for discards
* A confirmation modal could appear before discarding
* A snackbar confirmation with undo action

Discarding feels similar to the "Clear customizations" flow in the site editor,

[2021-05-06 08:43] carolinan commented on #31480
Tested with the sample code, It is only blank on the front if the post that is in the loop does not have a featured image.

[2021-05-06 08:49] #30614 closed, assigned to Mamaduka

[2021-05-06 09:03] paaljoachim commented on #31456
As discarding requires the user to first click the ellipsis menu and then selecting Discard. There are two steps required to make before a discard can be done.

The undo button located in the top left of the screen could as you say also work for discards. As it seems like the easiest method.

It can be done, but it requires an extra click for a user to discard an object.

I think we need to look a

[2021-05-06 09:16] #30286 closed, assigned to fluiddot

[2021-05-06 09:16] #31151 closed, assigned to fluiddot

[2021-05-06 09:21] vdwijngaert commented on #31474
Great! We already pushed a [new version](https://wordpress.org/plugins/gutenberg/) of the plugin, so I'd suggest using that one, as trunk can be unstable.

[2021-05-06 09:21] #31474 closed, assigned to nobody

[2021-05-06 09:32] inaikem commented on #8112
Adding in another use case:

- Post template with several custom blocks loaded in at the top of each page.
- These custom blocks provide post-specific header/meta information to readers.
- Based on their past use of the Classic editor, authors often grab raw text/code from other posts and drop it into the block editor's code view (links/images, etc.)
- In some cases, an entire article may be copie

[2021-05-06 09:39] jameskoster opened #31531 "Template selector: Active template is duplicated in options"
Scenario: Editing a page that uses the "Page" template. In the template dropdown the "Page" template is represented twice:

<img width="944" alt="Screenshot 2021-05-06 at 10 36 27" src="https://user-images.githubusercontent.com/846565/117276582-f2de2f80-ae56-11eb-8ffc-7910f2e085c1.png">

Instead of the duplicate, it might be better to list the "Page" template once, with a "(default)" suffix:

<img

[2021-05-06 09:44] gziolo commented on #31526
The changelog published to npm for 15.0.1 looks good:

https://unpkg.com/browse/@wordpress/scripts@15.0.1/CHANGELOG.md

We might have some sort of merge issue in the `trunk` branch. I will investigate and update. We need to automate the process of adding entries to the changelog files because it seems to be very unreliable – both in terms of depending on contributors to add entries in the first pl

[2021-05-06 09:44] jameskoster commented on #31456
In the site editor, customised templates can be reverted:

<img width="288" alt="Screenshot 2021-05-06 at 10 43 08" src="https://user-images.githubusercontent.com/846565/117277555-e60e0b80-ae57-11eb-911b-38d00d20451b.png">

I just checked – performing this action results in a Snackbar with undo action. So I agree it could make sense to utilise that same pattern here :)

[2021-05-06 09:47] gziolo commented on #31526
Opened https://github.com/WordPress/gutenberg/pull/31532 that should remove the confusion. I will inspect other packages as well.

@pierlon, the good part is that all those that are listed will be published next week 😄

[2021-05-06 09:54] jameskoster commented on #29821
This issue is especially pertinent now that it is possible to directly move from editing a page to editing a template:

https://user-images.githubusercontent.com/846565/117279241-6aad5980-ae59-11eb-9c4d-67bdbf49b895.mp4

Edit: Re-adding the needs design label. This needs some consideration to account for both classic and block themes.

[2021-05-06 09:56] hedgefield commented on #31456
That makes sense to me 👍  Checkboxes and Discard together enable all possible usecases of saving or not saving, and I would show a snackbar with revert/undo action after a Discard. Having to first click through a warning modal of some kind would get annoying after a while I reckon.

[2021-05-06 10:03] jameskoster commented on #29821
It's actually possible to "break" the functionality currently by assigning the "wrong" template. Using a general page template would result in the posts page no longer displaying posts.

Initial thought: Since the template for this page resolves automatically, It should not be possible to _change_ the template in the UI. Creating a new template should be possible once – this action spawns the `hom

[2021-05-06 10:21] paaljoachim commented on #31456
It could be something like this:

1. User clicks Save button. Then decides to discard adjustments done to the Footer Part.
2. Selects the ellipsis.Then selects Discard.
3. Notification is seen "Undo discard? Yes". User has a few seconds to decide here. If they later on want to undo/revert then they would need to click the top left undo icon.
4. Footer template Part is discarded.

https://user-imag

[2021-05-06 10:24] CreativeDive opened #31536 "Unexpected behavior: wp_enqueue_scripts is firing in the block editor if the Gutenberg plugin is active"
Hello together,

I ran into a strange issue with the Gutenberg plugin activated:

[code]

You can see with the upper function, I enqueue frontend assets and do additional things in this action with an additional function like: `my_function_is_doing_frontend_things();`

The "`wp_enqueue_scripts`" action is a frontend action only.

But I have detected, that my function `my_function_is_doing_frontend

[2021-05-06 10:26] CreativeDive commented on #31536
Tested with WP 5.7.1 and Gutenberg plugin 10.5.4

[2021-05-06 10:34] youknowriad commented on #30545
@bobbingwide

you can set; `padding: 0` in `theme.json`'s styles key already and it will clear the default padding for body. Margin is not yet supported in theme.json but there's a PR for it that is close #30608

[2021-05-06 10:45] scruffian opened #31537 "Global Styles: Alignments inside default layout blocks - regression"
## Description
There's been a regression in the way alignments works since the theme.json changes merged. When the post content has {"layout":{"inherit":true}} set then image blocks should have align full and wide options, but instead they have left, center and right. The problem is only in the editor

## Step-by-step reproduction instructions
1. Switch to emptytheme
2. Add an image in the editor

[2021-05-06 10:53] youknowriad commented on #31510
This sounds related to the addition of the new block patterns cc @MaggieCabrera

[2021-05-06 10:55] MaggieCabrera commented on #31510
Thanks! I'll have a look

[2021-05-06 10:59] vdwijngaert commented on #31536
Did this happen before the 10.5 update?

Would you mind doing a

[code]
In your function to get a backtrace?

[2021-05-06 10:59] #31526 closed, assigned to gziolo

[2021-05-06 11:09] CreativeDive commented on #31536
@vdwijngaert I've downloaded the Gutenberg 10.4.1 Release and it works as expected. "`wp_enqueue_scripts`" is not firing in the block editor.

The backtrace is outputting nothing in the backend block editor, because it's included in the "`wp_enqueue_scripts`" action. A frontend action can't output something in the backend, right?

But why my included function fires in the block editor if the Guten

[2021-05-06 11:23] CreativeDive commented on #31536
@vdwijngaert an easy use case for testing, create a function to create a file, like:

[code]

Then call this function inside the "wp_enqueue_scripts" action. Go to the backend and open the block editor. You can see, this file is created if you visit the block editor. But that shouldn't happen in this case.

[2021-05-06 11:31] oandregal commented on #31537
I've been trying to repro this for emptytheme and tt1-blocks in different scenarios:

- gutenberg `trunk` and theme-experiments `master`
- gutenberg `trunk` and https://github.com/WordPress/theme-experiments/commit/08b86b02dfa6a594ab501060aa0551fbaa01ae62 (the commit before the theme.json changes landed)
- gutenberg `v10.6.0-rc.1` and theme-experiments `master`
- gutenberg `v10.6.0-rc.1` and https

[2021-05-06 11:32] scruffian commented on #31537
This was happening because I hadn't rebuilt Gutenberg, sorry for the confusion.

[2021-05-06 11:32] #31537 closed, assigned to nobody

[2021-05-06 11:43] CreativeDive commented on #31536
@vdwijngaert tested, since the 10.5.0. Release, this error occurs.

[2021-05-06 11:47] vdwijngaert commented on #31536
Hey @CreativeDive, no worries, I can reproduce it and I traced it back to where it happens. At first glance it seems expected behavior, but taking a look.

[2021-05-06 11:51] hedgefield commented on #30406
Thinking about this some more I'm wondering where you would be able to set a site icon in the first place? I know where to find it in the old Customizer, but in FSE there's no block for it because it's not a visible element on the page, and I can't really find it under Templates either...

Ah I see that there's a separate issue for that https://github.com/WordPress/gutenberg/issues/29126. I'll com

[2021-05-06 11:55] hedgefield commented on #29126
This didn't cross my mind until I was looking at #30406, very good point, we need a place to set this. I'm not sure keeping it out of the Site Editor is what I'd do, that feels even more buried. But it's not exactly something visual in the sense that it fits into the site editor block paradigm. Thinking about where I'd go looking for this, iI think it would make sense if it was in the Template tab

[2021-05-06 12:13] vdwijngaert commented on #31536
Okay, the changes that cause this behavior are done here: https://github.com/WordPress/gutenberg/pull/30438/commits/40b15b5dd41bec229dd5f57e15dd4280b0ecfece. @youknowriad, maybe you can take a look? Looks like you've worked on that part.

Here's what I got:

The code I referred to is where logic was added for determining the template in use for the entity that's currently being edited. As far as I

[2021-05-06 12:16] CreativeDive commented on #31536
@vdwijngaert Thank you for quickly investigating this issue. Very nice response time :-)

[2021-05-06 12:27] fklein-lu commented on #24952
I found this issue, as I was recently experimenting with the Post Author block, and it's impossible to get looking even half-way decent in it's current state:

1. The CSS is _very_ opinionated, and does not allow common styling, see https://github.com/WordPress/gutenberg/issues/24952#issuecomment-722350797. I'm now on my third FSE test theme, and I dequeued the author block stylesheet every time b

[2021-05-06 13:09] javierarce opened #31543 "Navigation Screen: add padding around the canvas in mobile view"
In narrow viewports, the Nav Screen doesn't have padding, which makes the editor look quite unappealing and cramped.
Adding a 10px padding around the canvas (like in other dashboard screens) would make the editor looks nicer.

Also, setting a 10px padding around the `.edit-navigation-header` instead of the current` 12px 24px 12px 20px` would center it and improve its display.

| Before

[2021-05-06 13:12] arcmicro commented on #30698
No, better don't convert them, this looks irreversible, I still have some galleries to convert so it's better to wait.
Also the solving of bugs I think depends on how many people face this, so it will require more voices so the dev's fix it fast.

[2021-05-06 13:13] javierarce commented on #29100
Another issue for the responsive view: [Navigation Screen: add padding around the canvas in mobile view #31543](https://github.com/WordPress/gutenberg/issues/31543)

[2021-05-06 13:41] mtias commented on #30406
@hedgefield we should at least account for the flow of uploading a site logo when no site icon is set; there should be a way (or maybe it's automatic) to also use that image for the site icon.

[2021-05-06 13:55] fluiddot opened #31545 "Missing block: Displays undefined block name for some unsupported blocks"
## Description

The missing block is not showing the proper name of all unsupported blocks.

I checked the recently merged commits and looks like this bug was introduced in this [PR](https://github.com/WordPress/gutenberg/pull/31120).

**NOTE:** This issue happens on both platforms (iOS + Android).

## Step-by-step reproduction instructions

1. Add some unsupported blocks
2. Add a Table block, whi

[2021-05-06 13:55] jameskoster commented on #31456
I would change the language in the Snackbar a bit. It should be confirmatory rather than ask a question. So instead of:

Something like:

This would be consistent with other Snackbards offering an undo affordance.

[2021-05-06 14:12] paaljoachim commented on #31456
Adjusted the Snackbar language.

https://user-images.githubusercontent.com/5323259/117312969-c4c41400-ae85-11eb-9a77-22ff2d6eda2e.mp4

Link to prototype:
https://www.figma.com/proto/Kc4ptneSCZv8pwnI3mQB8c/Multi-Entity-Saving-process?node-id=1%3A7&scaling=min-zoom&page-id=1%3A5

[2021-05-06 14:26] pierlon commented on #31526
Thanks @gziolo!

[2021-05-06 14:28] kjellr commented on #31248
Here's another example of this being problematic:

One desktop, it makes sense for these footer columns to be side by side:

<img width="1023" alt="Screen Shot 2021-05-06 at 10 26 01 AM" src="https://user-images.githubusercontent.com/1202812/117315405-aa724200-ae55-11eb-9424-4fa01a5bb492.png">

... and I'd prefer they stay that way on mobile when there's room. But instead, they stack automatically

[2021-05-06 14:28] Sandstromer commented on #24952
I agree with @fklein-lu's comment that the elements should be individual blocks, with patterns suggested in a similar way to how the Query block does it.

The _optional "All posts by [author]" link_ suggestion by @alaczek could be accomplished by opening up the block-editor-link-control to return matching authors, much like how it currently returns other archives such as tags/categories. Would thi

[2021-05-06 14:30] gziolo commented on #31526
Thanks for catching it and reporting back 🙇🏻

[2021-05-06 14:37] kjellr commented on #19909
Just want to chime in to say that this sort of feature would solve a very common issue with header and footer template parts. On desktop, it's extremely common to want to align things to the left or right sides of the screen. But that may not make sense on smaller screens as well. In the following example from https://github.com/WordPress/gutenberg/issues/31231, the menu and social icons should id

[2021-05-06 14:45] Sandstromer commented on #27528
Sorry I went slightly off-topic here but to answer my own question, it seems that exports can be done both ways. The choice lies with the designer/developer.

When/if global styles, templates, and template parts are able to be exported in one package using the Site Editor export tool, this will be hugely helpful to theme devs.

If it is desired to use a design with the current theme, then template

[2021-05-06 14:47] justintadlock commented on #30732
This is a problem I've run into in recent days too.  In building a block theme's `header.html`, the template part call automatically adds a wrapper `<div>`.  So, to avoid _divitis_, I removed the wrapper `<header>` in my `header.html` and changed the `tagName` value to `header` in my template-part call.

[code]

This also meant applying my background color to this same block.  This quickly becomes

[2021-05-06 14:48] hypest commented on #31545
👋 @fluiddot , just to be sure, have you perhaps tried on Android too? I see iOS mentioned in the device info but not sure if it's iOS _only_. Thanks!

[2021-05-06 14:51] mchowning commented on #31545
I tested iOS 17.3.0.20210503 beta, and it doesn't show this issue, so I think this isn't a problem we need to address for the current release. I also wasn't able to reproduce the issue on Android's 17.2 release, so it seems like this may be a very recent issue.

[2021-05-06 14:55] kjellr commented on #31231
Adding a couple more issues that I ran into, specifically around getting these to work responsively:

- Specifying alternate alignments for small screens. (https://github.com/WordPress/gutenberg/issues/19909#issuecomment-833575572)
- Declaring that columns should not wrap on mobile. (https://github.com/WordPress/gutenberg/issues/31248#issuecomment-833568210)

[2021-05-06 14:56] jameskoster commented on #31076
I acknowledge this is a bit "in the clouds", but if we move more document attributes to the top bar then maybe we don't actually need the "Template" tab at all?

https://user-images.githubusercontent.com/846565/117319700-76ae1100-ae83-11eb-8fac-e0e5732ca827.mp4

[2021-05-06 15:02] #31527 closed, assigned to ntsekouras

[2021-05-06 15:13] paaljoachim commented on #31337
Pasting in the gif seen in the Dimensions settings area here: https://github.com/WordPress/gutenberg/issues/27331

![100462262-e7c1ef00-30c1-11eb-8274-09eaa3073c3e](https://user-images.githubusercontent.com/5323259/117322374-3e600000-ae8e-11eb-8471-89f5af42ec19.gif)

[2021-05-06 15:18] fluiddot commented on #31545
Yeah, this happens on Android too.

Right, the [PR](https://github.com/WordPress/gutenberg/pull/31120) that introduced it was merged after the `1.52.0` code freeze so fortunately this won't be released to users, but we should fix it for the next version `1.53.0`.

[2021-05-06 15:20] jameskoster commented on #27093
Earlier today I shared a concept that explores moving _template_ attributes to the top bar: https://github.com/WordPress/gutenberg/issues/31076#issuecomment-833590145

I decided to also explore how this pattern might be applied to _posts and pages_:

https://user-images.githubusercontent.com/846565/117320994-a90c3e00-ae84-11eb-842c-88906d16475d.mp4

I'm quite excited about this concept not only be

[2021-05-06 15:22] Mamaduka opened #31550 "Menu locations are incorrectly reassigned"
## Description
When setting a menu location that's already in use, sometimes a different location is assigned than the selected one.

## Step-by-step reproduction instructions
* Selected theme that has at least two menu locations, e.g., Twenty Twenty-One.
* Go to `/wp-admin/admin.php?page=gutenberg-navigation.`
* Create two menus.
* Assign both locations to the first menu.
* Select the second menu

[2021-05-06 15:43] cgaits commented on #31337
I made an example of what would be in my opinion the best for the border state.
![100461228-cc0e1700-30c8-11eb-8ac3-76d353dcc045](https://user-images.githubusercontent.com/12024323/117327031-34bfa380-ae60-11eb-9f62-b99ed770761a.jpg)

[2021-05-06 16:12] amir2mi opened #31551 "Navigation Screen: Menu item custom ACF options"
[Advanced Custom Fields (ACF)](https://www.advancedcustomfields.com/) is a popular plugin which developers use for their themes.
It has the feature to add custom options to each menu item, therefore, users can customize that menu item and the theme will show the menu depends on that settings, these options can be menu item color, icon, and so on.
I found that the new Navigation editor does not sup

[2021-05-06 16:19] AtrumGeost commented on #28820
I got this same issue. Noticed that when the Image Block is centered the <figure> tag is gone:

![Screen Shot on 2021-05-06 at 11-17-01](https://user-images.githubusercontent.com/3696121/117331826-be6d7200-ae5c-11eb-98f8-0cb728fbc8e9.png)

On the screenshot, you'll notice the second and third image don't have the <figure> element because they are aligned to the center.

[2021-05-06 16:36] waleedt93 commented on #18098
@junaidbhura Worked Perfectly, Thank You

[2021-05-06 16:47] annezazu commented on #29494
@ntsekouras reopening this as the undo option seems to be slightly broken if you choose "Start Blank" but then want to go back to choose from the new pattern selector. Here's a video:

https://user-images.githubusercontent.com/26996883/117335527-7cdac800-ae58-11eb-97af-5d7075afdd84.mov

This is using 10.6 RC

[2021-05-06 17:25] CreativeDive commented on #31551
@elliotcondon

[2021-05-06 17:31] amir2mi commented on #28031
I found `__unstablePastePlainText` in the [Code block](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/code/edit.js#L19) so it will solve the problem for now.

[2021-05-06 17:32] bobbingwide commented on #30060
I would have assumed this is a basic requirement.
Ditto for custom taxonomies.
And one day someone's going to remember to add Media to the list of things to be editable using the block editor.

[2021-05-06 17:32] AtrumGeost commented on #19149
It would be great to have this. Especially for when you edit a reusable block by mistake

[2021-05-06 17:54] cgaits commented on #24952
I am sorry in advance if this is not allowed, but I seen this and it reminded me of this post. https://www.honeybook.com/email-signature. I love the Author block directions and if it becomes something people can use as a signature, it would be a value added feature. For example, if the author can have access to it for their posts globally, maybe as part of their .org account.

[2021-05-06 18:06] ryelle opened #31557 "Configuration provided by eslint-plugin doesn't read local `prettierrc` file"
The recommended config provided by `@wordpress/eslint-plugin` tries to look for a local prettier config from `package.json`, but if the value is a file, it fails to load. This means the result from `lint-js` and `format` conflict, because format correctly follows the local prettier config, but eslint does not.

Personally I've run into this in [the pattern-directory project](https://github.com/Wor

[2021-05-06 18:07] bradhogan opened #31558 "Pullquote block missing center alignment option"
I believe this used to be an option but not seeing it now. Thanks!

<img width="563" alt="Screen Shot 2021-05-06 at 12 06 19 PM" src="https://user-images.githubusercontent.com/1781226/117345290-39ce2400-ae5b-11eb-8898-13ad682570da.png">

[2021-05-06 18:13] jameskoster commented on #31337
@cgaits it's worth looking at the "Display options" menu in the typography panel designs shared in https://github.com/WordPress/gutenberg/issues/27331:

<img src="https://user-images.githubusercontent.com/548849/100453148-c578a300-30ba-11eb-8a32-e50bfc2d0888.png">

It could be good to explore extending this heuristic up to the block level, making it possible to toggle panels (color, border, typogr

[2021-05-06 18:15] pbking opened #31560 "Theme.json configurations with styles not expressed in a block's block.json breaks FSE"
## Description
Not sure exactly the scenario but it can be observed in [this experiment](https://github.com/WordPress/theme-experiments/pull/256).

It appears that when a theme.json contains block styles not officially supported by a block the FSE stops working with the following errors:
[code]

NOTE: The VIEW renders just fine with these values in place.  It's just the FSE that blows up.

For exa

[2021-05-06 18:25] annezazu commented on #31352
Noting for now that I am seeing this in 10.6 RC:

<img width="1311" alt="Screen Shot 2021-05-06 at 12 25 15 PM" src="https://user-images.githubusercontent.com/26996883/117347283-24aac280-ae66-11eb-9fc4-be250cf4a4bc.png">

[2021-05-06 18:31] annezazu opened #31562 "Add Block prompt regression"
## Description

As reported by others in [core-editor slack ](https://wordpress.slack.com/archives/C02QB2JS7/p1619766350080600), there seems to be a regression in the add block prompt within the site editor. Rather than just showing a + button, there is now text saying "Add Block".

## Step-by-step reproduction instructions

1. Set up a site with FSE capabilities
2. Use either the site editor or t

[2021-05-06 18:33] bobbingwide opened #31563 "Site Editor Add Template action includes existing templates"
## Description
In the Site Editor beta, when you choose add template it should
- list templates that don't already exist
- and not templates that do exist
- regardless of where they already exist - theme or database.

## Step-by-step reproduction instructions

Set up steps
1. Create an archive template if one doesn't already exist
2. Export the template to the theme's block-templates folder
3. Del

[2021-05-06 18:42] annezazu opened #31564 "Template Editing Mode: difficulty editing blocks at the top of the editor"
## Description

When in template editing mode, the blocks added at the top of the editor are "smushed" together collapsing the toolbar settings with the block content making it hard to use.

## Step-by-step reproduction instructions

1. Set up a site with FSE capabilities
2. Add a new post > edit the template it's using
3. Once in template editing mode, try to manipulate/add blocks at the very top

[2021-05-06 18:49] youknowriad commented on #31560
cc @nosolosw @jorgefilipecosta

[2021-05-06 18:51] annezazu opened #31565 "Template Editing Mode: Save notice doesn't mention newly created template"
## Description

Using the new template editing mode, if you create a new post alongside a new template and publish while in template editing mode, the confirmation message upon saving only mentions that a new post has been published. This relates to this issue in some ways as it's still TBD what language to use that aligns with the multi-entity saving flow: https://github.com/WordPress/gutenberg/i

[2021-05-06 18:59] annezazu opened #31567 "Template Editing Mode: Preview doesn't reflect switching between templates"
## Description

Using the new template editing mode, if you change which template a post is using and try to preview it, the preview doesn't reflect the change in template.

## Step-by-step reproduction instructions

1. Set up a site with FSE capabilities
2. Add a new post
3. In the sidebar settings, change which template the post is using.
4. Preview the post and go back to the editor.
5. In the

[2021-05-06 19:18] annezazu opened #31568 "Feedback: Patterns don't scale down well"
## What problem does this address?

This was raised during the [fifth call for testing for the FSE outreach program](https://make.wordpress.org/test/2021/04/14/fse-program-testing-call-5-query-quest/#comment-1501):

Currently, I tried to replicate this with 10.6RC but wasn't able to find anything too jarring (cc @getdave if you're able to share an updated video). However, with the rise of more con

[2021-05-06 19:23] annezazu commented on #29498
Noting that I found this error when deleting the Featured Image Block inside a Query Block. This was found as part of the fifth call for testing for the FSE Outreach Program:

https://user-images.githubusercontent.com/26996883/117354155-3ee89e80-ae6e-11eb-9b27-b71d1677fdda.mov

[2021-05-06 19:29] critterverse commented on #31194
These are great questions, thanks @kevin940726!

I wonder if we should flip the legacy widget back over from editing mode to preview mode for any scroll activity that happens within the editor. Might need to play around with this in the PR but I think this would feel ok!

The modal treatment sounds good:

- Let's try it with the focus trap
- We probably don't want to block scrolling for the parent

[2021-05-06 19:56] skorasaurus commented on #31080
Hi (nice avatar of the dog!)

Thanks for reporting; I'm able to reproduce this in Gutenberg 10.5.4.

The specific error message that I obtain is:
[code]
It looks like 'sidebars' is a term used by the REST API now and probably should not be used by custom post types.

This led me to https://github.com/WordPress/gutenberg/blame/3da717b8d0ac7d7821fc6d0475695ccf3ae2829f/lib/class-wp-rest-sidebars-cont

[2021-05-06 20:02] getdave commented on #31568
@annezazu I tried to replicate this but I can't anymore. Apologies that my original video was lost 😞

[2021-05-06 20:05] eric-michel commented on #30505
Definitely seems like a missing piece. And I agree that having `role="presentation"` and `alt=""` as the default makes sense. Right now it just outputs `alt` (with no value) which I believe is not sufficient for telling screen readers that the `alt` attribute is `null`

[2021-05-06 20:18] bbertucc commented on #31480
Weird. Tried it on two different installs.

Here is what I'm seeing in the editor:
<img width="1365" alt="Screen Shot 2021-05-06 at 3 15 41 PM" src="https://user-images.githubusercontent.com/46652/117360233-241e2600-ae7e-11eb-89fe-dbb2a89ba31b.png">

Here is what I'm seeing when it's published:
<img width="1207" alt="Screen Shot 2021-05-06 at 3 16 09 PM" src="https://user-images.githubusercontent.

[2021-05-06 20:27] leph83 commented on #29052
When coding the header in my custom theme, I prefer to use flexbox or display grid instead of creating columns. That way I don't need a breakpoint, because the content will just wrap, if there's not enough space. Also no need to adjust the column width depending on the amount of navigation items.
But yeah, you still need at least one breakpoint to switch from mobile nav to desktop nav.

As a user

[2021-05-06 20:35] cgaits commented on #31337
Yes, it is very intuitive and I like it; I was the publisher of a few magazines, including Trivia Times we used to make some heuristic puzzles. Is this a proposition for all WordPress menu items under the Gutenberg full editor?

[2021-05-06 20:41] kmgalanakis opened #31571 ""onDismiss" option in "createInfoNotice" is not taken into account"
When using `wp.data.dispatch( 'core/notices' ).createInfoNotice` and trying to pass a function for the `onDismiss` option, the function is not triggered when the notice is dismissed.

Typing something like `wp.data.dispatch( 'core/notices' ).createInfoNotice( 'hello', { onDismiss: () => { console.log( 'dismissed!' ) } } );` is not logging anything in the console, when the created notice is dismiss

[2021-05-06 21:00] TimothyBJacobs commented on #31080
Yep that's exactly right @skorasaurus. Also from the `register_post_type` page:

If you can't change your CPT slug, you can set a custom `rest_base` when registering your CPT.

[2021-05-06 21:00] #31080 closed, assigned to nobody

[2021-05-06 21:32] mkaz commented on #19225
Confirmed this issue still exists, however it is not just for audio but any direct media links.
It attempts an oembed and will fail. A potential solution is when detecting an oembed failure instead of "Offering to Convert to Link" if we can detect the link is to a media item, suggest convert to the correct block.

Here is a screenshot trying to add direct image link:

![image](https://user-images.

[2021-05-06 21:38] paaljoachim commented on #18848
Testing with WordPress 5.7. Gutenberg 10.5.4. Twenty Twenty One.

The bug is still there even though it was fixed it showed up in another way.

Associated issues:
https://github.com/WordPress/gutenberg/issues/29988

PR:
https://github.com/WordPress/gutenberg/pull/27717

[2021-05-06 21:44] mrwweb commented on #18395
@jasmussen Glad you found that article I wrote!

In classic WordPress I've flipped back and forth between using redundant links (duplicate of first submenu link) or `href="#"` for the parent item. When using [a script that progressively enhances a link-only menu](https://codepen.io/mrwweb/pen/pXqKZO) to use `<button>`s for the parent element, it still probably makes sense to use a real link for th

[2021-05-06 21:44] paaljoachim commented on #18755
Could we get a status/summary of where this issue is at right now?
What is the next actionable step to take?

[2021-05-06 21:48] annezazu commented on #24953
Related feedback came up in the [fifth call for testing for the FSE outreach program](https://make.wordpress.org/test/2021/04/14/fse-program-testing-call-5-query-quest/#comment-1557):

To me, this touches on wider feedback around improving placeholders. To me, it makes sense to have text in place that people can then remove/customize as they see fit.

[2021-05-06 21:51] mkaz commented on #13268
I'm going to close as I'm not sure updating all JavaScript documentation across the numerous projects is really a block editor issue.

Reviewing, it does not look like anything in the documents listed above conflict with the block editor, they are mostly outdated, but also just different ways to do things in WordPress.

[2021-05-06 21:51] #13268 closed

[2021-05-06 21:51] annezazu commented on #24957
Related feedback came up in the [fifth call for testing for the FSE outreach program](https://make.wordpress.org/test/2021/04/14/fse-program-testing-call-5-query-quest/#comment-1557):

Making sure to close the loop here as part of enhancements to consider :)

[2021-05-06 22:04] paaljoachim commented on #17727
Testing with WordPress 5.7. Gutenberg plugin 10.5.4. Twenty Twenty One.

The bug is still there. I tested creating two page templates. Refreshing the page the new page templates showed up. As these do not show up automatically in the Page template selection drop down after having created these. The newest page template was seen on the frontend. Selecting another page template did not show the new

[2021-05-06 22:05] mkaz commented on #16437
I'm not sure there is enough value here trying to rename `InspectorControls` to `SettingsSidebar`

The component has been around for a couple years now, and there hasn't been much interest or support on renaming, so closing out this issue.

[2021-05-06 22:05] #16437 closed

[2021-05-06 22:06] annezazu commented on #30759
Hey @nick6352683 @CreativeDive! Thanks for bringing this to the GitHub repo. From what I can see, this is relying on an experimental API and is referenced here as part of a quality control effort with experimental APIs leading up to 5.8: https://github.com/WordPress/gutenberg/issues/31416 @youknowriad  might you be able to chime in here?

[2021-05-06 22:10] annezazu commented on #31017
@amir2mi Thanks for reporting this! I'm wondering if this might be related to this issue: https://github.com/WordPress/gutenberg/issues/30642 For now, labeling in case someone can take a look.

[2021-05-06 22:10] paaljoachim commented on #31558
Testing with WordPress 5.7. Gutenberg plugin 10.5.4. Twenty Twenty One.

This is what I am seeing:

![Screen Shot 2021-05-07 at 00 08 59](https://user-images.githubusercontent.com/5323259/117371644-856ae700-aec8-11eb-8140-1a44d1d514a8.png)

I see that Wide width and Full width alignment is missing.

[2021-05-06 22:15] mkaz commented on #24723
With dropping of IE11 support, the `fit-content` keywords is valid per [MDN Browser compatibility](https://developer.mozilla.org/en-US/docs/Web/CSS/fit-content#browser_compatibility)

[2021-05-06 22:15] #24723 closed

[2021-05-06 22:22] mkaz commented on #31505
Yes, you can alter the core blocks using block filters, ([documentation](https://developer.wordpress.org/block-editor/reference-guides/filters/block-filters/)), though this can be a bit tricky and maybe dangerous.

For example, hooking into the `blocks.registerBlockType` function you can alter any settings of a core block, allowing you to override attributes, edit, and save functions. I do this fo

[2021-05-06 22:27] mkaz commented on #31475
Though it may depend on your definition of trivial, see [Block Filters documentation](https://developer.wordpress.org/block-editor/reference-guides/filters/block-filters/) as a means to extend core blocks.

However, your example makes me think you really want to use standard components, see the [supports documentation](https://developer.wordpress.org/block-editor/reference-guides/block-api/block-s

[2021-05-06 22:29] annezazu commented on #31377
@Sandstromer thanks for reporting this! Are you able to share a screenshot or an example of a block theme to test this with?

[2021-05-06 22:37] paaljoachim commented on #31567
Older associated issue related to Page templates:
https://github.com/WordPress/gutenberg/issues/17727

[2021-05-06 22:41] annezazu commented on #31521
@danstramer Thanks for reporting this! While looking at your video, it looks like you have some additional plugins interacting with this YouTube embed and adding a container around that seems to likely be conflicting with the embed block. Can you try disabling all plugins temporarily to see if the problem persists?

[2021-05-06 23:20] danstramer commented on #31521
Hi, I have also tried this on a twenty twenty fresh install. Without plugins in a CPT.

Dan Stramer
www.dmdesign.co.il
647-544-2912
Sent from mobile

[2021-05-07 00:13] glendaviesnz commented on #11373
I have added a core ticket for this https://core.trac.wordpress.org/ticket/53169 and possible fix https://github.com/WordPress/wordpress-develop/pull/1235

[2021-05-07 00:19] peterwilsoncc opened #31574 "FSE Navigation sub-menu items are black-on-black"
## Description

Sub-menu items in navigation drawer are black on black.

## Step-by-step reproduction instructions

1. Install and activate TT1-blocks theme
2. Click Site Editor menu item
3. Toggle navigation open by clicking on WordPress logo
4. Click theme to return to the main theme menu
5. Observe Theme and Content menu items are visible
6. Observe sub-menu items are black on black

## Expecte

[2021-05-07 01:16] #30329 closed, assigned to nobody

[2021-05-07 01:55] noisysocks opened #31575 "Widgets REST API: Deleted widgets re-appear after accessing widgets.php"
## Description

The REST API endpoint for deleting widgets does not seem to properly delete widgets.

## Step-by-step reproduction instructions

For making REST API requests, I use https://httpie.io and have the Basic Auth WordPress plugin installed, but use whatever suits you.

1. Navigate to `wp-admin/widgets.php`.
2. Add a widget.
3. Find the widget's ID by hitting `GET /wp-json/wp/v2/widgets`.

[2021-05-07 01:57] carolinan commented on #30732
I also ended up removing the styling from the template part call and place it in the template part file.
Not only because of this, but because the user can then delete the content of the template part and add a pattern, rather than having to delete the template part and try to replace it with a new one.

The site header needs to be a `<header>` element, having an extra wrapper is still preferable

[2021-05-07 02:00] noisysocks opened #31576 "Widgets screen: Dispatching notices does nothing"
## Description

Notices don't appear to be hooked up to the Widgets screen. Calling `createNotice` does nothing. Many blocks, including Legacy Widget, use `createNotice` to display errors.

## Step-by-step reproduction instructions

1. Navigate to Appearance → Widgets.
2. Open DevTools.
3. Run this: `wp.data.dispatch( 'core/notices' ).createErrorNotice( 'error' )`

## Expected behaviour

A red ban

[2021-05-07 02:02] carolinan commented on #31231
For general template parts, it would be great to be able to use post meta information in template parts.
But it is not possible to place post date, post title, post author, tags etc in a template part because it will only show the information for the current item, it does not use context so it can not be used in a loop.

[2021-05-07 02:44] elliotcondon commented on #31551
Hi all 👋.

Elliot here representing the Advanced Custom Fields plugin. We are very interested to know what plans are in place to handle backwards compatibility for the PHP [wp_nav_menu_item_custom_fields](https://developer.wordpress.org/reference/hooks/wp_nav_menu_item_custom_fields/) action introduced in WP 5.4 allowing custom HTML to be added into menu items.

Please note that ACF is not the onl

[2021-05-07 03:34] talldan commented on #31571
Seems like this was implemented for Snackbar notices in https://github.com/WordPress/gutenberg/pull/26952, but the implementation wasn't extended to normal notices.

Hopefully it should be a simple matter of implementing the `onDismiss` in the Notice component, and the implementation in Snackbar can serve as a good guide.

[2021-05-07 03:38] vdwijngaert commented on #31571
Hey @talldan,

I checked it out yesterday when the question arose on slack, should be an easy fix. Something like replacing https://github.com/WordPress/gutenberg/blob/b77336986f109d89b8b6c6f450192fef7602bde3/packages/components/src/notice/list.js#L23 with

[code]

This is where `Snackbar` did it: https://github.com/WordPress/gutenberg/blob/c0cb7146273f1748304042ef33bc28c42692ad1f/packages/compone

[2021-05-07 04:05] nick6352683 commented on #30759
@annezazu , Thanks a million, we would appreciate any help here to point us in the right direction.

[2021-05-07 05:27] vdwijngaert commented on #30759
Actually, this is an issue that needs fixing in ACF Pro. I made a pull request to accommodate the change of `__experimentalBlockAlignmentMatrixToolbar` to `__experimentalBlockAlignmentMatrixControl`. Elliot will be able to handle the rest!

[2021-05-07 05:37] #30759 closed, assigned to nobody

[2021-05-07 06:26] annezazu commented on #30759
Thanks so much @vdwijngaert for jumping in here :)

[2021-05-07 06:50] grogou opened #31579 "Customizer hidden from the Appearence menu when experimental theme is used"
We can open customizer but it is hidden from menu.
![image](https://user-images.githubusercontent.com/10712881/117409032-c3e0c000-af21-11eb-8f57-572af0ab7503.png)

[2021-05-07 06:56] #26114 closed

[2021-05-07 07:15] carolinan commented on #31579
Hi
This is on purpose,  block themes are styled with global styles and block settings, not the customizer.

[2021-05-07 07:24] carolinan commented on #31558
@bradley2083 Hi! Please include information about which theme, what version of WordPress and Gutenberg you are using, and if all other plugins are deactivated.

[2021-05-07 07:29] jasmussen commented on #31352
Yep, I'm afraid the PR didn't land in time for 10.6. It's milestoned for 10.7:

<img width="351" alt="Screenshot 2021-05-07 at 09 28 48" src="https://user-images.githubusercontent.com/1204802/117413794-aeb26400-af16-11eb-930d-ff2db8289f19.png">

[2021-05-07 07:34] getdave opened #31580 "Add @wordpress/menus package to better share code between nav block and nav editor"
## What problem does this address?

Currently the **[Navigation _block_](https://github.com/WordPress/gutenberg/tree/trunk/packages/block-library/src/navigation)** and the **[Navigation _editor_ screen](https://github.com/WordPress/gutenberg/tree/trunk/packages/edit-navigation)** are separate codebases in separate packages.

In one way this makes sense as it follows the established pattern in Gute

[2021-05-07 07:34] getdave commented on #31580
FYI I'll spin up a POC of this for evaluation.

[2021-05-07 07:36] jasmussen commented on #31337
Most of the details are best outlined on the ticket itself, but it boils down to this:

- Global styles aims to provide themes a way to style most aspects of a page.
- For every such style, a design tool is needed. A design tool can be "font size" or "letter-spacing".
- Both because of the sheer amount of such design tools needed, and out of a need for block inspectors to be user friendly, we need

[2021-05-07 07:36] #31576 closed, assigned to nobody

[2021-05-07 07:37] getdave commented on #23953
Here's the proposal for a `@wordpress/menus` package.

https://github.com/WordPress/gutenberg/issues/31580

[2021-05-07 07:43] vdwijngaert commented on #31574
I'm not familiar enough with the styling part, but changing this line:

https://github.com/WordPress/gutenberg/blob/6b170517d62526c6e8f34f9a49f1a452e9e8163d/packages/components/src/navigation/styles/navigation-styles.js#L223

To
[code]

Fixes it for me. Otherwise default Text styles are used, and they have `#000` as color.

[2021-05-07 07:43] youknowriad commented on #31567
closing  this  as duplicate of #17727

Unfortunately thought, I don't expect this to be fixed soon. That's related to a very old behavior for autosaves in Core that is very unlikely to change. It might be better as a trac ticket actually

[2021-05-07 07:43] #31567 closed, assigned to nobody

[2021-05-07 07:48] grogou commented on #31505
Thank you @mkaz it will be helpful for me. But yes it is dangerous. We need to watch every block update to have up to date overridden block. Is you have plans to have some filters or something else to not override block in future?

[2021-05-07 07:56] carolinan commented on #30572
A basic version of this block as "Post Comment Author" was added in https://github.com/WordPress/gutenberg/pull/24824

[2021-05-07 07:59] carolinan commented on #30573
The first iteration of this block as "Post Comment Date" was added in https://github.com/WordPress/gutenberg/pull/24854

[2021-05-07 08:02] carolinan commented on #24952
I think a general avatar block would be a good idea https://github.com/WordPress/gutenberg/issues/30575

[2021-05-07 08:11] oandregal commented on #31560
Jason, thanks for the report and, especially, for preparing a reproducible setup. I'm looking into this.

[2021-05-07 08:12] laidbackindustries commented on #18095
Any news on that issue? Would love to see a fix as well

[2021-05-07 08:14] jameskoster commented on #31564
cc @ellatrix could this be due to the iframe change? 🤔

[2021-05-07 08:21] jameskoster commented on #31565
In https://github.com/WordPress/gutenberg/issues/30800 it was proposed that _for now_ we do not allow template editing for draft posts. That will address this issue as it would then not be possible to publish a post and a template simultaneously.

Aside from that, a more generic "Changes saved" message in the Snackbar when multiple entities are saved does seem to be worth considering. It probably

[2021-05-07 08:27] jasmussen commented on #31564
I don't think this is the fault of the iframe, and I think this is a version of the same issue the site editor faces, that is — blocks towards the top of the canvas overlap the content, because they have "sticky" behavior. If that's the case, I'd think this ticket is a duplicate of https://github.com/WordPress/gutenberg/issues/29464.

[2021-05-07 08:31] jasmussen commented on #31562
Definitely a bug, inspecting this I see that there's a "visuallyhidden" component, which is used when the text is meant as added context for screenreaders, but not meant to be _seen_:

<img width="1270" alt="Screenshot 2021-05-07 at 10 29 45" src="https://user-images.githubusercontent.com/1204802/117421951-59c71b80-af1f-11eb-9c8c-32432172a578.png">

Since the bug is present only in the site editor

[2021-05-07 08:33] Mamaduka commented on #31580
I like the idea and see the need for the common functionality package.

[2021-05-07 08:41] jasmussen commented on #31580
I'll defer to you on most of the pieces. Since I'm mostly focused on the CSS at the moment, I wanted to note that there's a great deal of incoming CSS with the navigation 🍔 menu (#30047), and after that, a separate overlay color set (#31149). Once these two land, in turn, I expect I will have to do a bit of CSS refactoring. And finally, there will be continued polish of the nav block setup state,

[2021-05-07 08:46] getdave commented on #31580
I don't anticipate the creation of this package affecting the CSS at all. Mostly it is moving shared logic and utilities to a common location to avoid duplication. I won't be touching the CSS.

If in the future we find the need to share CSS (I'd be surprised if it would be worth the effort or even possible) we can revisit the approach. I don't imagine that will happen prior to 5.8 though.

I hope

[2021-05-07 08:57] javierarce commented on #31456
I'd like to offer a prototype I worked on in the context of another issue some weeks ago: [FSE: Allow the ability to Save Draft and Schedule changes
](https://github.com/WordPress/gutenberg/issues/29575#issuecomment-813980798)

My prototype touches many of the functionalities listed in this discussion and adds a couple of extra things:

- Two-way highlights (from the sidebar to the canvas and vice

[2021-05-07 09:01] Mamaduka commented on #31575
Hi, @noisysocks

I'm not able to reproduce the issue using the current `trunk.`

Using Paw and Application Password for REST API requests.

[2021-05-07 09:03] oandregal commented on #31560
There's a fix for this at https://github.com/WordPress/gutenberg/pull/31588 Probably this should be backported to 10.6 RC.

I'm looking deeper into this because the root cause seems to be that some blocks appear as unregister (the quote), or perhaps they're registered at a later point. Not sure something changed in that area. Anyway, the fix is proper because we need to be cautious. It only affect

[2021-05-07 09:08] oandregal commented on #31560
Also found a smaller testcase. Add styles for the quote block to you theme.json:

[code]

[2021-05-07 09:22] oandregal commented on #31560
Got https://github.com/WordPress/gutenberg/pull/31590 ready to fix the root cause. We need to merge both fixes.

[2021-05-07 09:25] jameskoster opened #31591 "Refine template flows in the post editor"
Template exercises in relation to a single post are accessed through the following interface(s):

<img width="286" alt="Screenshot 2021-05-07 at 10 05 22" src="https://user-images.githubusercontent.com/846565/117426439-ce985680-af1b-11eb-86f1-3a8173534314.png">

<img width="526" alt="Screenshot 2021-05-07 at 10 19 56" src="https://user-images.githubusercontent.com/846565/117428246-cb9e6580-af1d-11

[2021-05-07 09:34] CreativeDive commented on #31536
@youknowriad I think a Must Have Fix for WordPress 5.8

[2021-05-07 09:34] CreativeDive commented on #30759
@elliotcondon

[2021-05-07 09:35] antonis commented on #30878
Fixed with https://github.com/WordPress/gutenberg/pull/30994

[2021-05-07 09:35] #30878 closed, assigned to antonis

[2021-05-07 09:37] priethor commented on #31113
It's worth noting that this came up during the [WP 5.8 FSE Go/No-go demo](https://make.wordpress.org/core/2021/04/15/full-site-editing-go-no-go-april-14-2021/) as well.

[2021-05-07 09:38] mtias commented on #31591
This is also a place to explain a bit what a template is or allows.

[2021-05-07 09:40] mtias commented on #31403
When you say "carousel" I assume you have something like Jetpack's feature in mind since core doesn't have any carousel functionality?

[2021-05-07 09:42] ntsekouras opened #31593 "Add a back button in `BlockVariationPicker` if used with `BlockPatternSetup`"
## What problem does this address?

If we use in a block  the `__experimentalBlockPatternSetup` and matching patterns are available, the user will be prompted to choose among the patterns. If the specific block has also block variations to be shown and uses `__experimentalBlockPatternSetup`  when the user chooses to `start blank`, they need a way (a `back` button) to go to the patterns picker view

[2021-05-07 09:43] ntsekouras commented on #29494
This not actually about Query because in this case we haven't yet created anything, so `undo` works properly. It's a combination of `__experimentalBlockPatternSetup` and `__experimentalBlockVariationPicker` to add conditionally a `back` button.

I've created an issue that describes the problem better here: https://github.com/WordPress/gutenberg/issues/31593

[2021-05-07 09:43] #29494 closed

[2021-05-07 09:45] jasmussen commented on #18395
I think that's an important point to consider.

So it seems there's this pros and cons. If we have a nav-level toggle for click or hover:

- You can't mix and match (almost certainly a good thing).
- We could potentially create a segmented control allowing you to choose between outputting a linked subheading, or showing a split button. TwentyTwentyOne [does the latter](https://user-images.githubus

[2021-05-07 09:46] jameskoster commented on #31456
Very interesting! I like a lot of this.

One part I'm not sure about is the "Undo last change" button in the save panel. I would expect the regular undo button to still work in this context, and we have the undo affordance in the snackbar, so do we need the extra undo button here?

I think I mentioned this elsewhere, but I'm also on the fence about allowing "Reset to initial state" here. It may ju

[2021-05-07 10:00] jameskoster commented on #27093
Here's how we could potentially take the concept from my previous comment and strip it back to an MVP in the context of this issue:

https://user-images.githubusercontent.com/846565/117433516-736a6200-af23-11eb-82a5-705aa0c0a610.mp4

[Figma prototype](https://www.figma.com/proto/AFcjNvD8LRiNcL0fpH1CnS/Conceptual-Document-attributes?page-id=860%3A0&node-id=860%3A1&viewport=308%2C661%2C0.44032564759

[2021-05-07 10:11] jasmussen commented on #27093
I'm curious why it should be a modal as opposed to a dropdown?

[2021-05-07 10:11] Sandstromer commented on #31377
Theme: TT1-Blocks

### LTR
![gutenberg-skip-link](https://user-images.githubusercontent.com/76742815/117434367-7e71c200-af24-11eb-8dec-ac36dc51b6e5.png)

### RTL
![gutenberg-skip-link-rtl](https://user-images.githubusercontent.com/76742815/117434461-9ba69080-af24-11eb-8ce7-130653f2527c.png)

`.skip-link.screen-reader-text:focus` has absolute positioning of 5px from the left.

It looks like we are

[2021-05-07 10:26] grogou commented on #31579
@carolinan Do it mean in future we don't have customizer?

[2021-05-07 10:43] Sandstromer commented on #31231
![gutenberg-pattern-header](https://user-images.githubusercontent.com/76742815/117437441-1f15b100-af28-11eb-905e-ef50852bf444.png)

### Blocks used in this pattern

![gutenberg-pattern-header-blocks-view](https://user-images.githubusercontent.com/76742815/117438322-4faa1a80-af29-11eb-8abf-563a9682ac94.png)

[2021-05-07 10:54] getdave commented on #31551
Thanks again for raising this @amir2mi.

@elliotcondon This is on the project board and we'll be testing this shortly in order to review ways in which we can support the `wp_nav_menu_item_custom_fields` action. Would you be interested in helping to test any PRs that relate to this feature?

[2021-05-07 11:29] javierarce commented on #31456
I hadn't noticed that the undo & redo buttons affect the changes made to the sidebar items, so I think you are right, and we don't need that new button.

And I also agree with you about the need to make the labels for those destructive actions more clear & distinctive (either through a change of text or with a description)

[2021-05-07 11:36] vdwijngaert commented on #27093
I was under the impression we were going to do a dropdown as well.

[2021-05-07 12:16] gziolo commented on #31322
Some updates:
- Gutenberg 10.5 changes landed to WordPress core with https://github.com/WordPress/wordpress-develop/pull/1226
- I'm looking now at the patch from @aristath that gives an option to load individual block styles for rendered blocks only https://github.com/WordPress/wordpress-develop/pull/1236
- File block contains now a script that is rendered only on the frontend, but it isn't handle

[2021-05-07 12:16] Mamaduka opened #31597 "Move `EditorNotices` from the `editor` package"
## Description
Currently, we're copying this component for the new Widgets and Navigation screens. It would good to move it to a more generic package and avoid code duplication across editors.

The `@wordpress/block-editor` package seems like a good choice.

The `notices` package is also an option, but then we have to add `components` as a dependency.

P.S. Based on discussion form #16020.

cc @yo

[2021-05-07 12:44] vdwijngaert commented on #31579
From [make.wordpress.org](https://make.wordpress.org/core/components/customize/):

Although some of its features like widget management are going to be replaced by block based alternatives, the customizer will remain available for themes that don't support Full Site Editing. So you don't have to worry about it disappearing any time soon.

I don't know about any plans to potentially drop support in

[2021-05-07 12:46] getdave opened #31599 "Unify implementations of converting WP menu items to Nav Link blocks between nav editor and block"
## What problem does this address?

Currently we have two locations within the codebase that convert WP Nav Menu items into `core/navigation-link` blocks:

1. Nav block - [when creating a block from existing menu items](https://github.com/WordPress/gutenberg/blob/054ff5a7c5319989c32c67c3abdbacd76ebd4c22/packages/block-library/src/navigation/placeholder.js#L38).
2. Nav editor - [when rendering a me

[2021-05-07 12:47] youknowriad commented on #31597
For me sometimes duplicating is better than a bad abstraction.

Looking at its code, it seems to not depend on anything aside the "notices" on the JS side but the "style" side is very opinionated and depend essentially on the layout of the page.

So for me, the best potential candidate could be "interface" but we'd need to remove any "editor" mentions from the component and potentially always rend

[2021-05-07 12:57] grogou commented on #31579
Thank you very much @vdwijngaert

[2021-05-07 12:57] #31579 closed, assigned to nobody

[2021-05-07 13:00] youknowriad commented on #31597
For instance I'm doing the opposite here 😬 https://github.com/WordPress/gutenberg/pull/30906

[2021-05-07 13:01] grogou opened #31601 "Add filters to Global Styles sidebar plugin"
## What problem does this address?
Can we add custom controls to Global Styles sidebar plugin?

![image](https://user-images.githubusercontent.com/10712881/117453171-b0e7e300-af55-11eb-9b0f-c9e128385d75.png)

## What is your proposed solution?
Had some filters to add our custom controls.

[2021-05-07 13:02] jameskoster commented on #27093
Modals scale better:

<img width="1647" alt="Screenshot 2021-05-07 at 13 56 37" src="https://user-images.githubusercontent.com/846565/117452764-1038f980-af3c-11eb-95a0-f62e872207b5.png">

We're using modals for names elsewhere:

<img width="380" alt="Screenshot 2021-05-07 at 13 57 44" src="https://user-images.githubusercontent.com/846565/117452909-38285d00-af3c-11eb-88d4-55cae492a4a6.png">

Modals

[2021-05-07 13:05] #31560 closed, assigned to oandregal

[2021-05-07 13:05] carolinan commented on #27620
Could the featured image be a variant of the image block, just with a different source?
The image block has more features and is tested, yet, trying to import controls from it to the featured image block or the custom logo has proven to be very difficult.

[2021-05-07 13:08] carolinan commented on #31323
@hedgefield Is this a duplicate of https://github.com/WordPress/gutenberg/issues/27620 ?

[2021-05-07 13:12] carolinan commented on #31317
Hi
I have not been able to reproduce this using:

WordPress version: 5.7.1
Gutenberg version: Not installed
Are all plugins except Gutenberg deactivated? Yes
Are you using a default theme (e.g. Twenty Twenty-One)? Twenty Twenty-One
Device: Desktop
Operating system: Windows 10
Browser: Version 90.0.4430.93

[2021-05-07 13:14] ntsekouras commented on #27620
I recently made some exploration for making it a block variation of `Cover` but it needs way more explorations as the flows become difficult to reason with. I'm not sure about the `source` attribute since this is a dynamic value and haven't worked with this handling before..

I believe landing at least a basic handling for now like the above would be okay for now and gives value, in order to make

[2021-05-07 13:20] jessepearson commented on #15434
Just wanting to note here that this happens when you hover over the X, as well. It was mentioned in #28311, but not noted explicitly here.

[2021-05-07 13:30] getdave commented on #31416
`__experimentalFetchLinkSuggestions` is heavily in use throughout the codebase in order to deliver search suggestions in the interface when you are adding a link.

![Screen Capture on 2021-05-07 at 14-28-33](https://user-images.githubusercontent.com/444434/117456865-948d7b80-af40-11eb-9bb7-877cdc8d17e9.gif)

This is used not only in richtext but also in the Navigation editor and block.

It is slig

[2021-05-07 13:35] gziolo commented on #31416
Right, the idea was to move into the place where it can be shared between all those places. The plan is to find it a better home in the future. @gwwar might have better insights on how to move forward with making it stable.

[2021-05-07 13:38] carolinan commented on #31457
Hi
I have not been able to reproduce this with WordPress 5.7.1 and 10.6 RC 1 of Gutenberg with Twenty Twenty-One

[2021-05-07 13:55] aristath commented on #31562
v10.5 works as expected, the regression is in v10.6 and the block-styles tweaks far predate these 2 versions :wink:
Using `git bisect` I tracked down the issue to this PR: https://github.com/WordPress/gutenberg/pull/31244

[2021-05-07 14:00] jasmussen commented on #31562
Thanks so much for doing that. CC @sarayourfriend in case you might have thoughts.

[2021-05-07 14:20] mkaz commented on #31505
For my code block, the other option would be to create my own block, instead of overriding core, there are benefits to that but I prefer the core method because it allows a fallback if the plugin is removed, plus easier to add the feature to existing code blocks. This isn't always the case, it'd depend on your needs.

[2021-05-07 14:20] leutrimhusaj commented on #31457
Oh wow yes, it seems like the bug is fixed with 10.6-RC1.
I still can reproduce this with 10.5.3 for example.
But then i will close this and wait for the new release :) Thank you for retesting @carolinan

[2021-05-07 14:20] #31457 closed, assigned to nobody

[2021-05-07 14:23] sarayourfriend commented on #31562
This is a problem with iframe support in Emotion. It seems to work in some cases (if you try a block like the Jetpack Google Calendar block you can see that the external link is rendered with the correct CSS-in-JS styles) but for some reason it's not working for the columns block appender. I'm not familiar with the architecture of FSE so I don't know why one is inside the `StyleProvider` and the o

[2021-05-07 14:33] youknowriad commented on #31562
I think all of these are supposed to be already inside a `StyleProvider` 🤔 It's not a Slot AFAIK

[2021-05-07 15:09] jasmussen commented on #27093
While I see the sense in putting document properties there, I'm not yet convinced we can put _all_ of it there. And the problem with the dialog is that it loses a bit of connection to the post title, whereas the dropdown has a clear connection to the title, giving a strong connection. Since both dialog and dropdown are technically modal (they trap tab inside and close with escape), the dropdown co

[2021-05-07 15:45] melchoyce opened #31605 "Social Block: Add option to display text label"
## What problem does this address?

To allow for greater design flexibility, it would be nice to allow the social icons block to also provide a text label. For example:

![image](https://user-images.githubusercontent.com/2846578/117475058-9dbf1e00-af29-11eb-99da-09f2698ad799.png)

## What is your proposed solution?

Add an option to toggle on/off the text label, or even display a label in lieu of

[2021-05-07 16:06] kjellr commented on #24952
I'm not totally sure about this, but maybe @youknowriad knows?

In general I think the current block is just too complicated and opinionated. I'd prefer that for 5.8, it _only_ showed the author name, and optionally linked to the author page. This would be a better 1:1 companion to the Post Date, Post Categories, and Post Tags blocks that it's going to be sitting next to most of the time. We could

[2021-05-07 16:14] bradhogan commented on #31558
Sorry @carolinan  forgot that didn't I.

WP: 5.7.1
Gutenberg: 10.5.4
Macbook Pro Big Sur 11.2.3
Chrome

Occurs with my own custom local theme but also with the default Twenty Twentyone theme (and no plugins installed other than Gutenberg).

@paaljoachim I do believe you aren't seeing the align wide and full only because they have to be turned on in your theme by adding `add_theme_support( 'align-w

[2021-05-07 16:14] ajlende commented on #30406
Adding cropping in #31607 and updated the description to reflect that.

[2021-05-07 16:25] annezazu commented on #31352
Ah! Bummer. I thought it was in for 10.6. Apologies!

[2021-05-07 16:27] annezazu commented on #31564
Awesome! Thanks for connecting those dots @jasmussen. I'll trust your read here and close it out as a duplicate.

[2021-05-07 16:27] #31564 closed, assigned to nobody

[2021-05-07 16:29] annezazu commented on #29464
Noting here that this same problem occurs in template editing mode (not sure how much code is shared between the site editor and template editing mode). Edited to add a quick video:

https://user-images.githubusercontent.com/26996883/119399318-f87ca780-bc95-11eb-8d71-6678f71e3b46.mov

[2021-05-07 16:29] annezazu commented on #31377
Ah ha! Thank you so much.  I'll update the labels appropriately.

[2021-05-07 16:30] pbking commented on #31580
Would something like #30852 be able to take advantage of this?

[2021-05-07 16:48] ZebulanStanphill commented on #26385
It seems to me that the solution here is to make it so that when you drag a lone Button block somewhere, it automatically creates a Buttons block at the desired location.

Additionally, I think it would make sense to automatically remove any empty Buttons blocks.

[2021-05-07 17:19] oandregal commented on #31560
Both fixes are merged in `trunk`

[2021-05-07 17:44] shaunandrews commented on #26116
I've briefly played with adding patterns to the `/` inserter:

<img width="1428" alt="image" src="https://user-images.githubusercontent.com/191598/117488118-04e4ce80-af3a-11eb-875b-ea641f6b19e0.png">

Considering that pattern names often include block names, I think it might be difficult to navigate with a keyboard.

--

Alternatively, I think it might interesting to try a _new_ `;` inserter for s

[2021-05-07 18:14] ghost commented on #26116
We don't think a preview needs to be provided for patterns with the "/" inline inserter option. If you want a preview, you can use the "Add Block" or "Toggle Block Inserter" option. The "/" is meant to be a quick shortcut from our experience.

[2021-05-07 18:56] skorasaurus commented on #22528
Thanks for the tip. If anyone is wondering how to access this:
Visit `https://the-url-your-wordpress-install.com/wp-admin/edit.php?post_type=wp_template_part`

[2021-05-07 19:09] #30475 closed, assigned to ntsekouras

[2021-05-07 19:12] jasmussen commented on #31352
Not at all. Pity we missed it!

[2021-05-07 21:36] worldsdream commented on #20315
If you create a new post with more than 20 images, it’s time consuming to select them one by one. It was much easier in the classic editor.

I really hope that we can use the multiple select button that we are used too.

Thanks for the workarounds @talldan.

[2021-05-07 21:39] johnbillion opened #31615 "Block API documentation: supports.color.link is missing"
In [the Block API documentation for color support](https://developer.wordpress.org/block-editor/reference-guides/block-api/block-supports/#color), `link` is missing from the subproperties list.

The `core/media-text` block [supports this property](https://github.com/WordPress/gutenberg/blob/caedfa346a64692ec9186a644f9986c201649940/packages/block-library/src/media-text/block.json#L94).

[2021-05-08 02:44] #26864 closed

[2021-05-08 02:45] carolinan commented on #30406
There is also a problem with the resizing. https://github.com/WordPress/gutenberg/issues/29217

[2021-05-08 02:47] carolinan commented on #31231
I think it would be good to have social icons in at least one of the footers?

[2021-05-08 02:49] carolinan commented on #31591
I liked the Figma example of the modal, but also the preview of the current template in the template section of the document sidebar.

[2021-05-08 03:23] carolinan commented on #24952
Splitting the blocks is a simple task.
But I got stuck when I tried creating a new attribute for the post author block to pass the author id or author details as _context_ to an inner avatar block 🤔

Ideas:

**Name:**
Toolbar: Left, center, right, bold, italic,  (element/Level?)
Sidebar: Show first name, last name, or nickname and link to the author page or website.
font size, line height, text co

[2021-05-08 04:26] carolinan opened #31616 "Theme.json: Make it possible to style more than one block using the same styles"
## What problem does this address?

In theme.json, I am adding the same style to multiple blocks, but I have to repeat the styles for each block.
In the example, I am only using one style, and it is not such a big problem, but I also have blocks that repeat 18 lines of code.
**At that point, I no longer see the benefit of using the .json over the style.css file?**

## What is your proposed solutio

[2021-05-08 04:40] carolinan opened #31617 "Post terms: Add a CSS class to identify the taxonomy"
## What problem does this address?

When you place a post term block, the CSS class used on the front is `wp-block-post-terms` for both categories and tags.
So it is not possible to style them differently without adding an additional CSS class.

## What is your proposed solution?

Add a CSS class to identify the taxonomy.

[2021-05-08 05:52] ssakcoR commented on #19851
"Uploaded to this post" is susch a time saver! This hasn't been solved still! :/

However, it doesn't appear when creating a "Gallery" block. On a single image it doesn't. I doesn't make much sense creating a gallery block for one image only...

[2021-05-08 08:10] #31206 closed, assigned to ntsekouras

[2021-05-08 09:47] draganescu commented on #31126
I think the initial audit is complete. The orange boxes are what _I could not find as being supported but can be added_ but I am 100% some are false positives.

[2021-05-08 11:10] j-mccarthy commented on #27107
@aristath Your approach looks great. But not only is what @jffng an important point. @media queries may also be useful and required for certain base elements and not just the min/max-width features.

It's clear that breakpoints are not required for an adaptive typography scale, which we certainly need to be able to set as theme designers/developers. Yet, I personally still see a need to make adjus

[2021-05-08 12:13] gziolo commented on #26993
I wanted share an excellent article on the topic from @cpojer:

https://cpojer.net/posts/dependency-managers-dont-manage-your-dependencies

One of many things we should consider from the article is setting up CI job to prevent `node_modules` growing further (cc @ockham):

Christoph also commented on my tweet with an interesting solution to consider:

[2021-05-08 12:23] bfintal opened #31620 "Expose BlockStyles in wp.blockEditor"
It would be great if the BlockStyles Component in `packages/block-editor/src/components/block-styles` can be exported in `wp.blockEditor` so devs can use the style picker in other scenarios.

Should be fairly easy to add in `packages/block-editor/src/components/index.js`:
[code]

[2021-05-08 13:37] fklein-lu opened #31621 "Query pagination block cannot be dragged into a group"
## Description

Query Pagination blocks cannot be dragged into Group blocks. This can only be done by manually changing the template markup. Query Pagination blocks need to be able to be placed into Groups for styling purposes.

## Step-by-step reproduction instructions
1. Create a Query with a Query Loop and a Query Pagination.
2. Add a Group block into the Query block.
3. Attempt dragging the Qu

[2021-05-08 13:48] fklein-lu commented on #30874
@hsingyuc This is not fixed, and the PR referred above is for something unrelated.

See https://youtu.be/9CEdVyYa83w for a demo on how to reproduce.

[2021-05-08 16:35] bfren opened #31624 "Pasting into Firefox removes new lines instead of inserting as paragraph blocks"
## Description
Pasting into Firefox removes new lines instead of inserting as paragraph blocks

## Step-by-step reproduction instructions
1. Log in to backend using Firefox
2. Copy text from (e.g.) Word
3. Paste into new post

## Expected behaviour
A paragraph block should be added for each new line (as it is in Chrome)

## Actual behaviour
New lines are stripped so text is pasted as one big parag

[2021-05-08 16:42] creativecoder commented on #30701
Note that I'm attempting to solve this for the Post Title block over in https://github.com/WordPress/gutenberg/pull/31623, using the relevant [block supports for typography](https://github.com/WordPress/gutenberg/blob/b9232527214cd3d523badc4a66b529b7efe615ca/lib/block-supports/typography.php#L8).

The post title and site title blocks are very similar--the solution should generalize to both blocks.

[2021-05-08 17:32] creativecoder opened #31626 "Post Featured Image: Block cannot be selected when used on single template"
## Description

The Post Featured Image block is not functional when used in a Single Post or Page template.

## Step-by-step reproduction instructions

- Using a block based theme like TT1 Blocks, go to the Site Editor and open the Single Post or Page template
- Insert a Post Featured Image block

## Expected behaviour

- I can select the block by clicking on it
- I can move the block
- I can del

[2021-05-08 17:36] draganescu commented on #31126
As part of the audit I have tested the following stack of "popular" widgets, based on top recommended lists all over the web:

- Awesome Weather Widget
- Astra widgets
- SiteOrigin Widget bundle
- Candy Social Widget
- Contact Form 7
- Contact Widgets
- Easy Table of Contents
- Feature a Page Widget
- Fixed Widget
- Image Widget
- Meks Easy Ads Widget
- Meks Smart Social Widget
- Opening Hours
- S

[2021-05-08 18:43] Oceanflynn commented on #16130
<p>[gallery ids="4415" type="circle" columns="1"]</p>
This worked for me in 2020 but not in 2021.

[2021-05-08 19:15] #31141 closed, assigned to kevin940726

[2021-05-08 20:13] justintadlock opened #31629 "Theme editor font-size with number creates mismatch between font-size slug and block class"
When registering a custom font-size that begins with a number in `theme.json`, the CSS output doesn't match the class name.  I tested this with a slug of `2xl`.

The CSS that Gutenberg outputs is:

[code]

However, when applying it to a block via the Font Size control under the Typography tab, it adds a hyphen between the `2` and `xl`.  The block CSS class becomes `has-font-size-2-xl` like so:

[c

[2021-05-09 04:01] carlomanf opened #31633 "Hybrid themes don't work if the fallback is block-based"
## Description

I understand that the support for hybrid themes was mostly tested on cases where the fallback template was `index.php` rather than `block-templates/index.html`.

When `block-templates/index.html` is present, and there is a mix of PHP and block templates, the support for hybrid themes is unclear.

## Step-by-step reproduction instructions

1. Add `single-post.php` to TT1 Blocks
2. O

[2021-05-09 05:12] niansanchujiu commented on #14725
5.7.1, Same issue here, the order is not saving

[2021-05-09 07:24] paaljoachim commented on #31567
I am pinging
@iandunn @peterwilsoncc @desrosj @audrasjb
To let you all know about this issue as well as the original one that Ian made.
It would be great if this could be transferred over to Trac.

[2021-05-09 07:25] paaljoachim commented on #17727
Riad mentioned that this issue would be better to add to Trac. https://github.com/WordPress/gutenberg/issues/31567#issuecomment-834142438
"That's related to a very old behavior for autosaves in Core that is very unlikely to change. It might be better as a trac ticket actually."

[2021-05-09 13:20] intelligence commented on #31361
Updating node to 15.14.0 (from 14) solved the issue for me.

[2021-05-09 13:42] deborah86 opened #31636 "Create a Register/Log in/Log out Button Block"
## What problem does this address?

I am frustrated because there is no way to add buttons to a page for users to log in, log out, or register for the website. I should be able to create a simple page using blocks and give them the ability to log in, log out, or register on the website.

I should also have a simple block where I can add this option to a menu in my theme.

It also frustrated me bec

[2021-05-09 13:48] deborah86 commented on #31605
I second this.

[2021-05-09 18:23] ntsekouras commented on #31636
Hey 👋 - have you checked the `loginout` block added here: https://github.com/WordPress/gutenberg/pull/29766?

It doesn't have all the things you describe you would like, but is definitely a start and will be refined.

[2021-05-09 21:52] paaljoachim commented on #31117
@creativecoder Grant has made a PR here: https://github.com/WordPress/gutenberg/pull/31623
It can use some feedback.

[2021-05-09 23:51] elliotcondon commented on #31551
@getdave Absolutely. Where can I sign-up and stay notified on these upcoming changes?

[2021-05-10 00:36] tellthemachines commented on #31194
I'm not sure about this. In the old customizer widget section, tabbing through an oversized widget takes us out and into the next widget, and opening the next widget closes the previous one. A focus trap will completely change that behaviour, and the overhanging widget doesn't look  much like a modal so it won't be expected that it behave like one.

On the other hand, testing with keyboard in the

[2021-05-10 02:50] talldan commented on #16396
Seems like this was fixed a while ago in #21068

[2021-05-10 05:49] #30442 closed, assigned to Mamaduka

[2021-05-10 05:49] prathamesh-gharat commented on #6132
When I use Ctrl + Shift + V to paste without formatting Gutenberg ends up adding `<br>` in place places for some reason.
I was copy/pasting single paragraph at a time from a PDF. This creates odd looking lines of text that end abruptly as I lower the viewport size.

[2021-05-10 06:30] jasmussen commented on #31605
Nice.

[2021-05-10 07:03] ramonjd commented on #31517
Hi there @kjellr ! Did you add anything specific to the theme.json or elsewhere to test this in empty theme?

The toolbar controls for left/center/right align aren't showing by default in a clean dev env. High probability it's just me :)

[2021-05-10 07:38] carolinan opened #31642 "Theme.json: Block specific CSS is printed even if a block is not used on the current page"
## What problem does this address?

When you set defaults for a block using theme.json, the CSS is printed in `.global-styles-inline-css` even if the block is not used on the current page.

## What is your proposed solution?

Only include the CSS if the block is used on the current page.

[2021-05-10 07:38] hypest commented on #26993
That's a cool idea! Probably not applicable yet though as we're using Hermes on Android only. Down the road, I expect to use Hermes on iOS too at which point I assume it will be doable to keep installing the Hermes package only.

[2021-05-10 07:43] aristath commented on #31633
The template fallbacks currently only work for the frontend, the site-editor is still a WIP and has not been taken into account. Since the site-editor will not be included in WP5.8 this was not a pressing priority.
But I agree, it should be fixed :+1:

[2021-05-10 07:52] hedgefield commented on #31323
It's related in the sense that it both problems have the same cause - the lack of size controls on query loop images - but I wouldn't exactly call it duplicates. I think 27620 talks about a different kind of block, and fixing that does not automatically fix this.

[2021-05-10 08:14] deborah86 commented on #31636
@ntsekouras I checked out the page. I was looking for an extra button to add to pages, not really a form. If the block's author incorporates some of the suggestions I made, that would be awesome.

[2021-05-10 08:26] mrfoxtalbot opened #31647 "Editor: Right Click Paste doesn't work on Empty block (Safari)"
### Steps to reproduce the behavior

1. Make sure you have something in your clipboard
2. Add a new page or post while using Safari 14.0.3
2. Click on the `Type / or select a block placeholder` and right-click
3. Note the Copy/Cut/Paste options are unavailable

<img width="789" alt="Screen Shot on 2021-05-10 at 10-10-00" src="https://user-images.githubusercontent.com/4452464/117628754-c63d5700-b17

[2021-05-10 08:31] getdave commented on #31416
Not sure if this is what you mean but it is already [in `@wordpress/core-data`](https://github.com/WordPress/gutenberg/blob/trunk/packages/core-data/src/fetch/__experimental-fetch-link-suggestions.js) and all the places it is used _shared_ that single reference. For example

https://github.com/WordPress/gutenberg/blob/53ef636aa481af986615d9e0b573d064f220c4b4/packages/edit-navigation/src/index.js#L

[2021-05-10 08:52] vdwijngaert commented on #27093
Pushed changes including a working panel to edit the current entity title. Functionality works, but needs clean-up and polishing. :)

![image](https://user-images.githubusercontent.com/772137/117632814-bb84c100-b17d-11eb-9bda-7bb384b951b1.png)

[2021-05-10 08:54] getdave commented on #31466
@javierarce This is really great - thanks so much for this work and insight.

I like the way the different card options allow for a progressively enhanced approach with increasing levels of fidelity. This is very important as it's not guaranteed that we can fetch metadata in every case.

For a v1 I'm going to propose we go with `Favicon + Title + Description`. This should be easy enough to parse b

[2021-05-10 09:03] Mamaduka opened #31648 "REST API: Menu response doesn't return locations"
## Description
The menu item response doesn't include assigned menu locations. The schema defines the `locations` property, but it's not included in the response.

## Step-by-step reproduction instructions
I'm using Paw and Application Password for making REST API requests, but any similar tool should work for tests.

1. Request API menu item. `GET /wp-json/__experimental/menus/:id`
2. See that `l

[2021-05-10 09:07] hedgefield commented on #30406
How's this?

![icon](https://user-images.githubusercontent.com/6073772/117635158-d7896200-b17f-11eb-979b-8927e3d87240.png)

[2021-05-10 09:41] youknowriad opened #31651 "The editor styles background is not applied properly."
When using a theme with a background like 2020, and on long posts, you'll notice that the background of the editor stops at `100vh` (See screenshot)

<img width="1423" alt="Capture d’écran 2021-05-10 à 10 39 04 AM" src="https://user-images.githubusercontent.com/272444/117639708-1f0def00-b17c-11eb-95be-a9a04fc712d5.png">

Could this be related to the recent changes to the visual editor to iframe th

[2021-05-10 09:41] javierarce commented on #31466
That's perfect!

[2021-05-10 10:03] Chrico opened #31652 "FSE - infinity loop when search_template_hierarchy is empty"
FSE causes following error:

```Xdebug has detected a possible infinite loop, and aborted your script with a stack depth of '256' frames```

with following Stack:

[code]

## Description

Our Plugin hooks into the search and replaces the template. As "micro"-optimization we added following code:

[code]

This will clean up the template hierarchy and skips a few `file_exists`-call from WordPress co

[2021-05-10 10:28] jameskoster commented on #30406
In https://github.com/WordPress/gutenberg/issues/28341#issuecomment-801911429 I shared a concept that could allow folks to manipulate homepage settings in the midst of an editor session, via modal.

I wonder if there is potential to connect some dots here? IE clicking the "Site icon settings" link in @hedgefield's concept could potentially open the same "Site settings" modal, at a section that con

[2021-05-10 10:37] fluiddot opened #31654 "Interactions are animated after closing the bottom-sheet"
## Description

This [PR](https://github.com/WordPress/gutenberg/pull/30291) introduced layout animations in the bottom-sheet component for the keyboard show/hide interactions. [One of them is dispatched when the layout of bottom-sheet's header changes](https://github.com/WordPress/gutenberg/blob/5f1a21c0ecf296ebb397d34b8c1db013cc6c2218/packages/components/src/mobile/bottom-sheet/index.native.js#L

[2021-05-10 10:41] javierarce commented on #30137
In case it helps, I haven't been able to reproduce this bug.

[2021-05-10 10:45] javierarce commented on #31104
There's a related issue regarding the padding here: https://github.com/WordPress/gutenberg/issues/31543

[2021-05-10 10:59] gmazzap commented on #31652
I think the fundamental problem is in core.

WordPress never had a representation in _code_ of its template hierarchy. The hierarchy has in fact a ["graphical representation"](https://developer.wordpress.org/files/2014/10/Screenshot-2019-01-23-00.20.04.png) without a correspondent _code_ representation.

In the years, I approached that issue several times (e.g. [here](https://github.com/Brain-WP/H

[2021-05-10 11:12] youknowriad opened #31657 "Aligning image blocks make resizing impossible"
**Steps to reproduce**

 - Insert an image block and pick an image
 - Notice that the resize handles are visible (you can resize the image)
 - Center or left align it.
 - The resize handles disappear and you can't get them back even if you restore the "no alignments" option.

[2021-05-10 11:23] #31654 closed, assigned to fluiddot

[2021-05-10 11:33] jasmussen commented on #31651
I'm not sure how to reproduce. I'm trying latest TwentyTwenty and not seeing the same:

<img width="1270" alt="Screenshot 2021-05-10 at 13 33 00" src="https://user-images.githubusercontent.com/1204802/117653079-4670b600-b194-11eb-857d-ba6a6556d7a8.png">

[2021-05-10 11:35] carlomanf commented on #31633
What would be the correct behaviour? I'm curious.

[2021-05-10 11:43] getdave commented on #31551
@elliotcondon That's great - thank you. Perhaps it's easiest if we use this Issue. I will ping you for review once we get to resolving this.

Also you might be interested in the [Navigation Editor](https://github.com/WordPress/gutenberg/projects/31) and [Navigation Block](https://github.com/WordPress/gutenberg/projects/58) project boards (but don't feel obliged to dive in there).

Thanks for agree

[2021-05-10 11:59] getdave commented on #31551
Just performed a quick test to illustrate what I believe we're discussing here.

https://user-images.githubusercontent.com/444434/117655219-afedc600-b18e-11eb-96fa-4f7ae38cbcaa.mov

Essentially with ACF (and other Plugins) you can register fields (of many types) to appear on the Menus screen. That data is then saved as post meta and rendered as required on the Menus screen or on the Theme front en

[2021-05-10 12:07] hedgefield commented on #30406
That sounds like a proper good idea 👍

[2021-05-10 12:25] vdwijngaert commented on #31657
Hmm. Had to switch to tt1 (non-blocks) to get the usual alignment options (other than wide and full), but looks like it still works over here. Is this in trunk?

In wide & full alignment, it looks like resizing gets [disabled by design](https://github.com/WordPress/gutenberg/blob/ee8b5a39b0189af153d205c3b493fa4e1e862ada/packages/block-library/src/image/image.js#L132-L139), but that's probably unre

[2021-05-10 12:28] youknowriad commented on #31657
This is related to #30568 (not necessarily a bug)

[2021-05-10 13:03] kjellr commented on #31517
Running a fresh site with Gutenberg 10.5.4, and the latest [emptytheme](https://github.com/WordPress/theme-experiments/tree/master/emptytheme), the controls show up in the post/page editor, but not in the site editor. Running TT1 Blocks, it's the opposite 😅. I'm not sure if there's a bug in there somewhere?

For the issue here — I was running `emptytheme` and using the post/page editor.

[2021-05-10 13:18] carolinan opened #31660 "Theme.json: Incorrect selectors are used when color palettes are added to blocks"
## Description

When adding a color palette to a block in theme.json, the incorrect selectors are used
and the color is applied incorrectly.

When I add the following to theme.json, all headings have a medium blue background color:

[code]

Results in the following CSS:

[code]

## Step-by-step reproduction instructions

Please list the steps needed to reproduce the bug. For example:
1. Add the th

[2021-05-10 13:23] #31550 closed, assigned to Mamaduka

[2021-05-10 13:25] #31543 closed, assigned to jasmussen

[2021-05-10 14:06] annezazu opened #31662 "Duotone doesn't work with fixed background"
## Description

The duotone filter resets and doesn't work if you select a fixed background for a Cover block.

## Step-by-step reproduction instructions

1. Add a cover block
2. Set one of the duotone colors combinations
3. In the block settings, toggle on "Fixed Background" under Media Settings

## Screenshots or screen recording (optional)

https://user-images.githubusercontent.com/26996883/117

[2021-05-10 14:15] annezazu commented on #31593
@ntsekouras would this by chance apply to the navigation block at all? Asking because I noticed I can't undo under specific circumstances namely if the existing menu I add is empty:

https://user-images.githubusercontent.com/26996883/117673251-dd734900-b167-11eb-8112-8b7a97a7a311.mov

[2021-05-10 14:26] ntsekouras commented on #31593
`Navigation` block  is using different components with different implementation, so this is a different issue.

--cc @draganescu

[2021-05-10 14:32] annezazu commented on #31626
Want to note that the UX matches what I found here and that I can replicate with a nightly build from May 10th: https://github.com/WordPress/gutenberg/issues/31256

Oddly, the featured image block works as expected if added within the Query Block. It seems to be breaking when placed outside of it. @ntsekouras do you have any insight here based on your work with the Query Block?

[2021-05-10 14:51] mtias commented on #31580
I'm not super fond of introducing and publishing packages just to share code between a couple screens if it doesn't have inherent value. Could you go further into what specific things are intended to be included? The placeholder state should really be part of the block, for example.

[2021-05-10 14:53] #31054 closed, assigned to DaisyOlsen

[2021-05-10 14:57] critterverse commented on #31456
Loving these explorations so far and can see this working really nicely in tandem with the Save button in the toolbar that's being looking into for Reusable blocks: https://github.com/WordPress/gutenberg/issues/29871#issuecomment-824152357

There were some earlier explorations around adding the Discard functionality into the block inspector within that issue, but I think incorporating it into the

[2021-05-10 15:01] ntsekouras commented on #31626
Currently if a `Post Featured Image` block is inserted in a context where a `postId` doesn't exist, like a Single Post or Page template, is not marked as a block and that why is non-interactive to any action.

Inside a `Query` block the `postId/context` comes from fetched results.

[2021-05-10 15:09] ooksanen commented on #18213
These don't seem to work with the latest plugin. Functions as expected when plugin is disabled.

[2021-05-10 15:16] youknowriad commented on #31662
cc  @ajlende @jasmussen in case you have an idea about this.

[2021-05-10 15:25] altivero commented on #30904
How about:
"This image represents this post or page usually in thumbnail form in a list of posts or pages"
This would cover the most used case and give new users a good example to visualize.

[2021-05-10 15:35] evakaneva opened #31665 "Media and Text Block is stretched at the frontend"
## Description
Images from the media and text block show as expected in the preview but are stretched on the frontend.

## Step-by-step reproduction instructions

1. Create a media and text block
2. Add image and text
3. Save/publish
4. Open post on the frontend
5. Observe it is stretched

## Expected behaviour
I would expect that the frontend looks exactly like the preview.

## Actual behaviour
A

[2021-05-10 15:43] danstramer commented on #31521
Any updates? Thanks

[2021-05-10 15:47] evakaneva commented on #31665
I noticed it doesn't happen with other themes. So it is a TT1 blocks specific issue. I created https://github.com/WordPress/theme-experiments/issues/259

[2021-05-10 15:47] #31665 closed, assigned to nobody

[2021-05-10 16:03] carolinan commented on #31621
Is it possible for a block to have more than one parent?
https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/query-pagination/block.json#L6

[2021-05-10 16:09] getdave opened #31667 "Option to bulk add entities of any type in Nav Editor screen"
## What problem does this address?

In the current Menus screen it's possible to add multiple entities at once pretty quickly (eg: Pages).

![Screen Capture on 2021-05-10 at 17-04-36](https://user-images.githubusercontent.com/444434/117689684-ed177f80-b1b1-11eb-858f-db141ab08260.gif)

In the new Navigation Editor screen doing this is somewhat laborious and cumbersome involving repeated clicks and

[2021-05-10 16:10] evakaneva opened #31668 "Missing loading indicator for media and text block"
## Description
 While waiting for the image to upload, there is no loading indicator.

## Step-by-step reproduction instructions

## Expected behaviour
 As a user I would expect to see loading indicator so I know the image is uploading.

## Actual behaviour
 There is no indication that the image is uploading.

## Screenshots or screen recording (optional)

![noloadindicatorr](https://user-images.g

[2021-05-10 16:13] paaljoachim commented on #31456
It feels like for version 0.1 PR we will add the "Select" and "Discard" option into the ellipsis drop down menu.
For version 0.2 PR we can include the "Save" button into the Reusable block toolbar etc.

Then for later iterations/versions one can look into extending the ellipsis drop down, as well as other things.
At the moment it would be best to focus on the first actionable item for 0.1 version.

[2021-05-10 16:14] #30425 closed, assigned to Mamaduka, grzim

[2021-05-10 16:26] gwwar commented on #31416
For `__experimental-fetch-link-suggestions.js` the core/data package is just a holding place, since there were no other packages that made sense at the time.

This function is a default implementation specific to WP, and passed through to editor settings on init (post/site/widget/navigation). Folks can currently override this in their custom editor instance, by passing through a different function

[2021-05-10 16:35] #31282 closed, assigned to nobody

[2021-05-10 16:46] javierarce commented on #31667
Instead of using a modal for this… would it make sense to support some sort of bulk actions from the current URL component?

I imagine something like a toggle that users activate which add checkboxes next to each result. Then, instead of selecting a single URL, they can tick some checkboxes from the result list or refine their initial search.

[2021-05-10 16:51] oandregal commented on #29568
I've prepared a PR that could be a first step for this https://github.com/WordPress/gutenberg/pull/31669

[2021-05-10 17:17] #20542 closed

[2021-05-10 17:18] carolinan commented on #31323
It is the same block, you can choose to place it inside a query, or anywhere else where there is a post-type context.

[2021-05-10 17:36] dashkevych commented on #29568
This is a great idea! I was recently looking for a solution on how to add additional colors to the default colors. I am happy to hear there will be a solution to it.

I am wondering, would it be possible to add additional colors via PHP in classic themes?

Will we be able to use, for example `add_theme_support( 'editor-color-palette' );` to extend default colors?

[2021-05-10 17:56] ockham commented on #31652
@gmazzap It's true that we've introduced `get_template_hierarchy()` in order to have a function that returns the template hierarchy by tapping into Core's existing template resolution logic (via the [`{type}_template_hierarchy` filter](https://developer.wordpress.org/reference/hooks/type_template_hierarchy/)).

FWIW, it's on the roadmap for WP 5.8 to move GB's block template resolution logic into

[2021-05-10 18:00] korynorthrop commented on #24710
Are there any updates on fixing this bug? It's kind of a big deal for those of us that run multilingual websites with non-Latin languages.

[2021-05-10 18:19] ockham commented on #31652
Draft PR: #31671.

[2021-05-10 18:23] annezazu commented on #31521
@danstramer No updates yet! I am going to change the labels though thanks to your additional information. Thanks for following up.

[2021-05-10 18:25] annezazu commented on #31626
This makes perfect sense and should have been obvious :D Thank you for clarifying there.

[2021-05-10 18:37] skorasaurus commented on #31629
related https://github.com/WordPress/gutenberg/issues/26940

[2021-05-10 18:39] ntsekouras commented on #31621
Query Pagination needs to be inside a Query block because it uses values from context to perform the proper pagination query. If we allow it in `Group` blocks it could create way more confusion IMO, if someone added by mistake.

I'm not sure about this but wouldn't solve the problem here, unless we had a mechanism to allow blocks exist inside some/any blocks, as long as the parent is a specific bl

[2021-05-10 18:58] paaljoachim commented on #27093
Here is the link to the PR which Koen @vdwijngaert is working on. It could use some feedback/advice.
https://github.com/WordPress/gutenberg/pull/31288

[2021-05-10 19:59] bph commented on #30904
I would add "The Featured image is also used when your post is shared on social media, i.e. Twitter, Facebook or LinkedIn".

[2021-05-10 20:01] bph commented on #31620
Benjamin, @bfintal can you elaborate more on the use case for 'other scenarios'?

[2021-05-10 20:26] gwwar commented on #31379
This one should be closed by https://github.com/WordPress/gutenberg/pull/31259

[2021-05-10 20:26] #31379 closed, assigned to nobody

[2021-05-10 20:47] #30814 closed, assigned to glendaviesnz

[2021-05-10 22:14] ramonjd commented on #31517
Thanks for the quick reply!

@aaronrobertshaw  set me straight by pointing me to [this PR](https://github.com/WordPress/gutenberg/pull/29335) (_Add a layout config to the group and theme.json and make alignments declarative_), and the align.js hook, which [filters valid alignment values](https://github.com/WordPress/gutenberg/blob/2211285672ae5131d49ff61d3e77773848b959a7/packages/block-editor/src/

[2021-05-11 00:01] aaronrobertshaw commented on #22071
Border block support now provides control over border color, style and width. https://github.com/WordPress/gutenberg/pull/30124

Also, if we are leveraging color block support for managing the background and text colors, I imagine the user would also expect to be able to control the button colors. Without the button being an inner block this might require some ad-hoc color controls being added.

[2021-05-11 00:46] anthernius opened #31680 "Gutenberg Not Loading Correctly"
Gutenberg seems to be having a problem on my end like it's corrupted or something.

The front-end doesn't seem to be affected nor any pages on the backend.

Here's how the post-new.php looks like on my end:

![gutenberg error](https://user-images.githubusercontent.com/27570470/117741458-20e7b900-b235-11eb-8474-51d211712d94.png)

On the other hand, if I use the classic editor, things seem pretty no

[2021-05-11 00:59] anthernius commented on #31680
Solved: I installed the Gutenberg plugin, which I think overrode the problem? Not sure, but it worked so case closed.

[2021-05-11 00:59] #31680 closed, assigned to nobody

[2021-05-11 04:26] jd-alexander opened #31684 "[RNMobile] Rich Text - Enter detection broken"
## Description

When you utilize a block that is powered by the `rich-text` component and you attempt to utilize the enter button to do splitting and new lines etc, it does not work as expected. This issue began when the [changes here](https://github.com/WordPress/gutenberg/pull/31644) were merged in.

## Step-by-step reproduction instructions

Please list the steps needed to reproduce the bug. Fo

[2021-05-11 04:37] ajlende commented on #31662
The fixed background uses `background-image` on the outer `div`, so the duotone style can't be applied or it will affect all the inner blocks. I think as a start, I'll disable the duotone button when using fixed background in #31519 and then we can follow up to refactor the fixed style to use a separate div that can be filtered.

[2021-05-11 04:43] unprintedch commented on #31317
Yes i'll try to fine out another reason.

[2021-05-11 04:53] ramonjd commented on #30680
I can replicate this for most patterns where the theme adds specific styling. I haven't confirmed, but I suspect that the theme css isn't being loaded in the iframe context?

This is tested with the current master branch (10.6.0-rc.1) using TT1 blocks, and no modifications:

| Site editor        | Block editor           |
| ------------- |:-------------:|
|<img width="353" alt="Screen Shot 2021-05

[2021-05-11 05:22] Mamaduka commented on #28708
Hi, @gwwar

[Discussed](https://wordpress.slack.com/archives/C02QB2JS7/p1620709944016300) this issue during editor triage today and agreed that `debounce` is better suited for this kind of things.

I'm going to assign this issue to myself and will create PR later today.

Thanks for bringing this up.

[2021-05-11 05:23] getsource commented on #28742
This was tested in [a triage session today](https://wordpress.slack.com/archives/C02QB2JS7/p1620710335023300), and several folks were able to reproduce it, so removing `needs-testing`.

[2021-05-11 05:30] carolinan commented on #26293
Firefox 88.0.1 on PC, Windows 10:
![Radio control has a blue border with a small border radius](https://user-images.githubusercontent.com/7422055/117763073-7cf91000-b22a-11eb-8be1-118750ab2141.png)

[2021-05-11 05:36] talldan commented on #26293
This was issue was discussed in a triage session in slack (https://wordpress.slack.com/archives/C02QB2JS7/p1620710555026800).

Everyone could reproduce the inconsistent focus style in one form or another when comparing Firefox to Chrome (or chrome-alikes).

What seemed more serious is that Safari currently shows no focus style (https://wordpress.slack.com/archives/C02QB2JS7/p1620710989036300).

[2021-05-11 06:05] talldan commented on #28809
Hi @waviaei, sorry for the delay getting back to you, are you still experiencing the problem?

We discussed this issue in a slack triage session (https://wordpress.slack.com/archives/C02QB2JS7/p1620711271039900), and none of us could reproduce the problem, so I think it has since been solved.

There's now a new issue though, described in https://github.com/WordPress/gutenberg/issues/31361. That ca

[2021-05-11 06:05] #28809 closed

[2021-05-11 06:09] gmazzap commented on #31652
I saw that, and that's IMO the problem. If something also listens to the same hooks using a later priority, what you store is not what people expect. Moreover, someone might have complex logic on [`{type}_template`](https://developer.wordpress.org/reference/hooks/type_template/) filters instead to determine the proper template, and so only using ` {type}_template_hierarchy` ignores all the logic i

[2021-05-11 06:14] #31510 closed, assigned to MaggieCabrera

[2021-05-11 06:16] jasmussen commented on #27593
Checking off "Add Home block (#20542)" courtesy of @gwwar 🎉

[2021-05-11 06:17] Mamaduka commented on #31597
Yes, I agree.

The `EditorNotices` also has the `TemplateValidationNotice` dependency, which has to be abstracted for specific editors.

At this point, duplication makes sense, and other editors might want to handle notices a little differently.

I will close this issue for now, and we can re-open it if there'll be a need to abstract the notices component in the future.

[2021-05-11 06:17] #31597 closed, assigned to nobody

[2021-05-11 06:22] Mamaduka commented on #31668
#29710 will fix this issue as well.

[2021-05-11 06:37] carolinan commented on #30985
I can confirm that this happens with the production build of the plugin.

[2021-05-11 06:59] carolinan commented on #30556
I am able to reproduce this, but I did not find any information about why the margin style was first added, what the intention was.
The template part has the same CSS.

[2021-05-11 07:06] carolinan commented on #30454
It looks like it is expecting the home template to be _home_, not _page-home_.

https://github.com/WordPress/gutenberg/blob/trunk/packages/edit-site/src/components/navigation-sidebar/navigation-panel/constants.js

The pr says that "page-home is an exception, it's set to shown up in General" https://github.com/WordPress/gutenberg/pull/28291

So I think it is working as intended?

[2021-05-11 07:07] jasmussen opened #31688 "Home Link: Allow setting as icon-only"
## What problem does this address?

Extracting [from the recently added Home Link](https://github.com/WordPress/gutenberg/pull/30926#issuecomment-836464651) block, it would be interesting to consider a setting to turn the link into a home icon, as that is a common use case for navigation.

## What is your proposed solution?

Add a segmented control to the Home Link block sidebar, to allow choosing

[2021-05-11 07:18] jasmussen commented on #30680
Well the popover is not part of the iframe. So even if the editor style is loaded inside the iframe, it's not loaded outside the iframe:

<img width="2404" alt="Screenshot 2021-05-11 at 09 17 30" src="https://user-images.githubusercontent.com/1204802/117774424-c6049080-b239-11eb-9626-bfc1bbed5725.png">

So it seems the solution is to either also load the editor style outside the iframe, in the sit

[2021-05-11 07:22] jasmussen commented on #31662
Connecting the dots here, there's a better solution we need to look into. Because as it turns out, the "fixed background" is unfortunately entirely broken in Safari and has been for a while (see #17718).

That's because `background-attachment: fixed;` apparently just doesn't work very well in Safari at all.

The solution to fixing that is to emulate the behavior; not use a background image at all,

[2021-05-11 07:34] ramonjd commented on #30680
Ah sorry for the red herring there. Thanks for the extra info.

[2021-05-11 07:47] carolinan commented on #30137
I have not been able to reproduce this with 5.7.1 using current trunk or 10.6 Rc1 of Gutenberg.

[2021-05-11 07:53] carolinan commented on #29912
I have been able to reproduce this on PC using Firefox 88.0.1.
I am using WP 5.7.1 and this also happens when Gutenberg is not active.

[2021-05-11 07:55] talldan commented on #30137
Lets close for now, we can always reopen if this reappears.

[2021-05-11 07:55] #30137 closed, assigned to nobody

[2021-05-11 08:10] youknowriad commented on #31651
Ok, this looks to be Safari specific.

[2021-05-11 08:47] mrleemon opened #31692 "Getting terms using getEntityRecords and _fields"
## Description
I'm using the following code to get all the terms of a custom taxonomy for a dropdown in a block I'm developing:

    const terms = useSelect( ( select ) =>
        select( 'core' ).getEntityRecords( 'taxonomy', 'my_taxonomy_slug', { per_page: -1, orderby: 'name', order: 'asc' } )
    );

As I want to optimize this call as much as I can, I added the `_fields` query arg to get just t

[2021-05-11 08:48] ellatrix opened #31693 "Rich text: a clear split between the core and the implementation for block context"
This refactoring is internally to rich text and not affecting public APIs.

We’d like to use core rich text without implementation specific things outside block context at some point.

I already started this separation when I created the rich-text package, but this separation was not complete as there was still much implementation specific logic left in the core rich text component. For example, u

[2021-05-11 09:10] #31626 closed, assigned to ntsekouras

[2021-05-11 09:20] Mamaduka commented on #31456
I find "Select" a little confusing.

Even currently, when it's just checkbox and "Select" button, it took me a few minutes to realize what button was selecting. Pairing it with the "Discard" button might make things a little confusing IMO.

I like @javierarce's mockup where labels are more descriptive.

[2021-05-11 09:26] getdave commented on #31580
@mtias @youknowriad @gwwar @Mamaduka @talldan @draganescu I've [revised the description of this Issue](https://github.com/WordPress/gutenberg/issues/31580#issue-878558366) to better illustrate why I believe it is necessary to introduce a shared `@wordpress/menus` package.

The _specifics_ of what this package will contain is still something that needs work, but I don't want to proceed too far alon

[2021-05-11 10:04] GalvinCn opened #31694 "Used npx @wordpress/create-block to create a block, fails with “sh: wp-create-block: command not found”"
Used npx @wordpress/create-block to create a block, it fails.   show  error info  below:"sh: wp-create-block: command not found"

[2021-05-11 10:08] talldan commented on #31580
I hadn't really thought of the implication of this being exposed as `wp.menus`—this code seems like internal implementation detail that would be best shared to reduce maintenance rather than something to expose so easily as a public API, but there's no grey area in the way the code is organised.

I definitely see the value of having this code shared in a separate package though, despite the fact t

[2021-05-11 10:13] youknowriad commented on #31580
We can have packages that don't translate to `wp.*` globals like "icons" and "interface" today. The setup to make this happen though is not straightforward, it requires some changes to webpack configs for both core and Gutenberg.

[2021-05-11 10:20] gziolo commented on #31322
Done. This patch contains more improvements like inlining CSS styles to avoid a ton of tiny CSS files downloaded in parallel. @aristath plans to share more in the detailed dev note. Awesome work 👏🏻 👏🏻 👏🏻 👏🏻 👏🏻

There might be a follow-up task required in the Gutenberg plugin. We are investigating it today.

That leaves JS handling for the File block on the front end.

We should also have another u

[2021-05-11 10:56] javierarce commented on #31667
Here's a quick design & prototype for the idea I mentioned earlier:

https://user-images.githubusercontent.com/4933/117831385-ca01d400-b274-11eb-9f54-d9604de10921.mov

- As the video shows, users search and check links. To see what they've selected, they empty the search field.
- In my quick example, the user doesn't have many pages that match the search term, but if that were the case, we could a

[2021-05-11 10:58] Sandstromer opened #31695 "Global Styles: H1-H6 headings missing, only one Heading available"
## Description

In 10.6.0-RC1, the global styles for H1, H2, H3, H4, H5, H6 are missing in the side panel of the Site Editor.

## Step-by-step reproduction instructions

Install 10.6.0-rc1 and a FSE theme.
Go into Site Editor and open the Global Styles side panel, and go to By Block Type

## Expected behaviour

Should be able to set font size, line height, color etc for each heading (H1 to H6) ind

[2021-05-11 11:17] Sandstromer opened #31697 "Site Editor: left panel items are black on dark background"
## Description

In 10.6.0-rc1 some of the items in the Site Editor left panel are black on a dark background, making them unreadable.

## Step-by-step reproduction instructions

Go into Site Editor.
Click the WP icon at top left to open the side panel.
Notice some of the items are black on the dark background.

## Expected behaviour

All the items should be readable against the dark background.

#

[2021-05-11 11:29] Mamaduka commented on #31580
I think @getdave makes a good point.

Having menu items to block attributions mappers out of sync will easily lead to more bugs.

P.S. I've worked with menu items data model before (migrations, custom menu items), and I won't be able to remember all of it now if I had to save my life 😅

[2021-05-11 11:35] marcuskober opened #31699 "Filter page_template stopped working with active Gutenberg plugin >= 10.5.0"
## Description
I've developed a plugin that provides a special page template for certain pages. The plugin uses the `page_template` filter. On activation of the Gutenberg plugin (version 10.5.4) the filter gets processed, but the template file that gets used is index.php from the theme and not that of the return value from the callback function for the filter.

With Gutenberg plugin version 10.4.1

[2021-05-11 11:36] carolinan opened #31700 ""vh" unit is not available in the unit control when added in theme.json"
## Description

When support for custom units is enabled in theme.json using this format:

[code]
then the `vh` is not available in the unit control in the editors.
The other units are available.

## Step-by-step reproduction instructions

1. Add the code above to a theme.json file in a theme.
2. In either editor, add a block that has support for custom padding like a group block or cover.
3. Sele

[2021-05-11 12:02] 5n opened #31701 "The editor settings object doesn't work properly"
## Description

Related #31027 (WordPress/wordpress-develop#1118), #31587, and so on.
Function 'getSettings' doesn't store the settings passed to the block editor.

## Step-by-step reproduction instructions

1. Install and activate Gutenberg plugin.
2. Install and activate Twenty Twenty-One or TT1 Blocks.
3. Upload and activate [sample-settings](https://github.com/WordPress/gutenberg/files/6458721

[2021-05-11 12:09] fklein-lu commented on #31621
I'm not sure it's easy as this. Let's consider this layout:

![le-corbusier](https://user-images.githubusercontent.com/1221942/117811546-f7448700-b260-11eb-9e81-25a212d6b37a.png)

It's straightforward:
- Main column with the posts: content-width.
- Pagination: Full-width background, links are wide width.

But this requires the following structure:

[code]

Which you can achieve by manually editing

[2021-05-11 12:14] jameskoster commented on #31591
Here are some initial ideas for the flows/UI. Inline with https://github.com/WordPress/gutenberg/issues/27093 I've moved the Template panel to the top bar in an effort to reduce reliance on the Inspector, and make moving between post/template editors feel smoother. I think this works well, but it's also worth noting that the overall UI could just as easily live in the Inspector instead, if that wa

[2021-05-11 12:16] youknowriad commented on #31701
Hi, thanks for the issue.

This is not a bug, this is actually the intended behavior. All editor settings don't make sense in the "block-editor" store which is basically something generic enough that can be used in any block editor instance (not WP or post editor specific)

[2021-05-11 12:16] #31701 closed, assigned to nobody

[2021-05-11 12:22] 5n commented on #31701
I see.
Thanks!

[2021-05-11 12:23] youknowriad commented on #31591
I don't know but I personally don't like that dropdown under the template title entirely. I think it's a bad non discoverable pattern and it splits the "document" settings between two places. I believe we should continue iterating the UI in its current place (the panel) until we move everything (all document settings) to the dropdown potentially.

[2021-05-11 12:29] ghost commented on #31591
It looks beautiful, but I agree with @youknowriad on keeping it in the Inspector. Maybe make it toggle to the top bar when you go to full screen mode.

[2021-05-11 12:29] rufus87 opened #31704 "FSE - Template meta information and post type support do not work"
## Description
Custom template configuration in `experimental-theme.json` file does not work neither in default themes nor in custom ones.

## Step-by-step reproduction instructions
1. Create `my-custom-template.html` file within current active theme's "block-templates" folder
2. Add configuration from `Code snippet` part to active theme's `experimental-theme.json` file
3. Go to admin panel and go

[2021-05-11 12:36] richtabor opened #31706 "Block patterns with unregistered blocks should not be available within the Pattern Library"
## Description
Currently block patterns show up within the Pattern Library UI, regardless of if the pattern is insertable. Sure, one could add a broken pattern to a page, but its obviously a subpar experience when the "Your site doesn't support.." message shows up.

I suggest that patterns with unregistered blocks are simply omitted from the Pattern Library, so that the experience of adding broken

[2021-05-11 12:44] jameskoster commented on #31591
No objection to that from me. As mentioned above, this whole UI can live inside the Inspector for now if necessary:

<img width="754" alt="Screenshot 2021-05-11 at 13 39 46" src="https://user-images.githubusercontent.com/846565/117816659-a92e8400-b25e-11eb-92e8-fcad1b863da3.png">

[2021-05-11 12:46] youknowriad commented on #31591
The other thing worth mentioning is that not all the templates are previewable. That select mixes block templates and non block templates in classic themes.

[2021-05-11 12:52] locksoft opened #31707 "Saving almost always stuck."
## Description

I'm using this plugin on Mac OS with Safari. At least once every 10-20 times the (auto)saving gets stuck and I need to reload the page, often loosing part of the changes.
Is there a solution for this? It seems to me Gutenberg is still too unstable to use on regular basis.
Thanks.

[2021-05-11 12:54] deborah86 opened #31708 "Editor View of the Cover Block Does Not Match the Front-End"
## Description

When editing the cover block, the position of the elements does not match what is on the front-end.

## Step-by-step reproduction instructions

1.  Add a cover block to a page
2.  Add elements like a title, paragraph, and buttons to the cover block
3.  View a preview of the page

## Expected behaviour

I expect to see the editor match the front-end.

## Actual behavior

The positio

[2021-05-11 12:54] paaljoachim commented on #31456
We could of course chance "Select" and "Discard" to add a little more description such as "Select template" (Reusable block/Etc) and "Discard changes". It gives a bit more clarity to what the options are.

[2021-05-11 12:55] jameskoster commented on #31591
Worth noting that putting this UI in the Inspector does marginally degrade the post <-> template editor UX (compared with the top bar implementation) due to the inconsistent placement of the pathways, as this video demonstrates:

https://user-images.githubusercontent.com/846565/117818029-1989d500-b260-11eb-8a26-44e4f622ae26.mp4

I demonstrated how we can (potentially) handle this in the template s

[2021-05-11 13:06] jamiemarsland commented on #31706
I agree with this 100% - the user experience would certainly be sub-par if patterns break.

One thought is whether we could give the user feedback on why block patterns aren't showing up. i.e if a customer is used to seeing patterns on site A, and then suddenly doesn't see patterns on site B they might get confused.  Maybe we could grey out patterns as a way of giving users feedback that the patte

[2021-05-11 13:16] richtabor commented on #31706
Thanks @jamiemarsland. I'm not 100% sold on graying out/disabling patterns visually, but perhaps a category to view broken patterns?

[2021-05-11 13:53] kjellr commented on #28921
I'm going to reopen this so we can use it to continue designing patterns for inclusion in the Pattern Directory at launch. Please continue sharing ideas!

[2021-05-11 14:00] mtias commented on #31706
The fundamental idea for this flow is that patterns using blocks from the block directory would allow side-loading those blocks at the time of insertion, the same way that when a block is missing the editor allows users to directly install those blocks. The discussions so far have tied this process with the block directory, so plugins that bundle blocks would need to have them published or linked

[2021-05-11 14:09] jffng opened #31710 "Styling the Post Terms divider"
It would be nice to be able to customize the divider between post terms, or at least render the divider as a pseudo element so it can be easily targeted via CSS:

Current state looks like this:

View | Mark-up
------ | --------
<img width="216" alt="Screen Shot 2021-05-11 at 10 09 10 AM" src="https://user-images.githubusercontent.com/5375500/117829653-d3b11a80-b227-11eb-8585-adbb12f9d93a.png"> | <

[2021-05-11 14:38] mtias commented on #19149
Revisions will be enabled for 5.8 https://core.trac.wordpress.org/ticket/53072

[2021-05-11 14:38] #19149 closed

[2021-05-11 14:41] a8bit opened #31712 "Latest Posts Block: Set featured image size in units other than px"
## What problem does this address?

At the moment when you insert a latest posts block, you have th eoption of displaying the featured image but you can only set its size in pixels, even if you use the %-age buttons it stores the size as that percentage of the full size in pixels. This means that the image never scales or chages size and can break the layout on smaller screens and mobile devices.

[2021-05-11 14:57] youknowriad commented on #31591
I wonder if the templates with "previews" is going to be the special case when using classic themes in which case we may want to use a regular "select" for these themes and maybe the visual templates for FSE themes.

[2021-05-11 15:05] #31684 closed, assigned to nobody

[2021-05-11 15:05] rodrigo-arias commented on #30071
Hi, thank you for your work here. I have seen that they continue to work on a PR, do they have an ETA of when it will merged? As a workaround I have rollback to 5.6 several sites.

[2021-05-11 15:14] kjellr commented on #31231
Yeah, definitely. I realized I didn't include a site tagline in any of the headers either. 😄 I'll iterate a bit as I try building these out.

[2021-05-11 15:17] ciampo commented on #30503
Opened https://github.com/WordPress/gutenberg/pull/31661 and https://github.com/WordPress/gutenberg/pull/31646

Opened draft PR https://github.com/WordPress/gutenberg/pull/31713

[2021-05-11 15:29] kjellr commented on #31710
Customizing this divider should definitely be possible. It also seems weird to me that the default divider is a pipe — I feel like the vast majority of themes use a comma here.

[2021-05-11 15:38] jameskoster commented on #31591
I think that will certainly be the case. But as soon as a single block template exists I think it is worth showing the previews as they clearly communicate the user-friendliness of block themes in stark contrast versus classic themes. It's like GUI vs command line :D

I think that's fine when no block templates exist at all. The designs above could be adapted by replacing the template selection mo

[2021-05-11 15:44] #28468 closed

[2021-05-11 15:58] gwwar commented on #31580
Would it be worth revisiting this idea from @noisysocks in https://github.com/WordPress/gutenberg/pull/29993#issuecomment-807836363

(Added a screenshot to save folks a click):
<img width="945" alt="Screen Shot 2021-05-11 at 8 54 26 AM" src="https://user-images.githubusercontent.com/1270189/117846839-a9b32480-b236-11eb-9685-49f2520a98b2.png">

We definitely have a need to share the code. I also th

[2021-05-11 16:28] Sandstromer opened #31717 "Bundle query-title and post-title into one block"
## What problem does this address?

When inserting the post-title block outside the loop - e.g. in a header template-part - the title of the first post in displayed when viewing an archive.
This is expected but it would be awesome if there was a "universal" title block that could be used anywhere.

Suppose a user wants to add the title to the header, this can currently be accomplished by creating

[2021-05-11 16:43] skorasaurus commented on #31706
similarly which requested to not display blocks that are filtered out through allowed_block_types https://github.com/WordPress/gutenberg/issues/23275

[2021-05-11 16:55] ghost commented on #31688
I think this would be really nice and could also be extended (credits to @paaljoachim ) to other menu items (like a phone or email for contact).

We would have to think about the icons though. You don't want to load too many icons as the libraries can get out of hand, but if you don't have enough icons, you get the Bootstrap issue where everyone directly sees the tool you used for the website.

An

[2021-05-11 17:17] richtabor commented on #31706
Related #30965

[2021-05-11 17:19] hedgefield commented on #31323
Ahh sorry yes I thought it was the gallery block they were talking about from that screenshot. Yes then they are duplicates in that sense.

[2021-05-11 17:21] richtabor commented on #31706
I think its an interesting concept. Alternatively, should the blocks be side-loaded if the corresponding pattern is registered? The initial previews would showcase the broken/unregistered block within the UI with this flow. 🤔

[2021-05-11 18:56] apieschel commented on #15993
I don't believe this issue will be solved with a docs clarification. I think it applies to some other properties in `core/editor` that haven't been reproduced in other data stores. I've been trying to use `wp.data.dispatch( 'core/editor' ).updateEditorSettings( { availableTemplates: whitelistedTemplates } )` to restrict certain blocks to certain page templates,  but dispatching `updateEditorSettin

[2021-05-11 19:18] ianstewart commented on #30904
Is there a great WordPress.org page that explains featured images and why one would want to use them from a writing/publishing perspective?

There's a start of an explanation in the themer/dev-oriented theme handbook.

https://developer.wordpress.org/themes/functionality/featured-images-post-thumbnails/

I don't think that page is the best to link to from the editor but if we take the intro paragr

[2021-05-11 19:27] marekdedic opened #31722 "[@wordpress/element] Typings clash with @types/react"
## Description
Hi, while using NPM with lockfile version 2 (although this might be accidental and just a result of an update around the same time) I get TypeScript errors:

[code]

## Step-by-step reproduction instructions
I am using `@wordpress/element` together with some `@types/wordpres__...` packages for its typescript typings in the following way:

[code]

## Expected behaviour
No build error

[2021-05-11 20:06] amir2mi opened #31723 "Column block: change primary space between columns"
In columns block when there is more than one column, there should be a space to make it obvious that they are separated, though there is no feature to modify this space.

I mean there should be box model settings to customize each column default margin and padding.
![guten-column-margin](https://user-images.githubusercontent.com/64708228/117877245-91d0b480-b2b9-11eb-913d-b3e2f9e4db4a.png)

Sometim

[2021-05-11 20:40] stacimc opened #31725 "Spacing Support: All features display in UI if one is enabled"
## Description

The Spacing block support has support for both padding and margin independently; it is possible for a theme to opt in to only one or the other. Currently the UI for both is displayed as long as the block supports that feature, and the theme supports _either_ feature.

## Step-by-step reproduction instructions

1. To test, you need a block that supports both padding and margin. Upda

[2021-05-11 20:56] azaozz opened #31727 "Widgets settings backup"
Been wondering if it makes sense to back up the old widgets settings before enabling the new editor. Generally the probability of some widgets settings going terribly wrong when switching editors vs. the chance to "overfill" the options DB table.

A backup is always nice to have when changing a lot of functions that handle/save user content. With WordPress' size and number of plugins and themes it

[2021-05-11 21:11] jorgefilipecosta commented on #31536
Hi @CreativeDive, @vdwijngaert,
I tried to replicate this issue and did not manage to replicate it.

I used the following test code:
[code]

When loading the post editor and the site editor nothing was written to the file. When opening the frontend the file was changed as expected.

Are you still able to replicate this issue in the Gutenberg trunk?

[2021-05-11 21:12] sommerper commented on #18010
Had to google this as well. All I can say is that this didn't work as I "expected".

[2021-05-11 21:13] rufus87 commented on #31704
Hi there,

Many thanks for your feedback, however it is not visible here.

Seams like you did not understand the issue correctly. The template appears in "Templates" dropdown in any post type, ie: "postTypes" restriction in `experimental-theme.json` file does not work. Right now "postTypes" is set to `['page']`, but template is available for selecting in `Templates` dropdown when I try to add `pos

[2021-05-11 21:25] paaljoachim commented on #31688
Linking in the Icons block issue. https://github.com/WordPress/gutenberg/issues/16484

[2021-05-11 21:59] paaljoachim commented on #20941
Joen @jasmussen I have a feeling we have earlier discussed this but I thought I would bring it up with you again.
Thanks!

[2021-05-11 22:36] paaljoachim commented on #21889
Hey @aaronrobertshaw I happen to come across this issue as well.

Associated issue:
**Add gutter, margin, and padding controls to the columns block**
https://github.com/WordPress/gutenberg/issues/24874

[2021-05-11 22:39] paaljoachim commented on #31723
Hey @amir2mi Amir

Check out this issue:
**Add gutter, margin, and padding controls to the columns block**
https://github.com/WordPress/gutenberg/issues/24874

The space between the columns would be the gutter area. This is something @aaronrobertshaw is looking into working on. Thank you for creating the issue. As it is a duplicate of the one above we can go ahead and close your issue. (I will let

[2021-05-11 22:43] paaljoachim commented on #31697
Hi @Sandstromer

Thank you for the report! I am seeing the same thing.
WordPress 5.7.1. Gutenberg plugin 10.6.0 - rc1. TT1 blocks theme.

![Screen Shot 2021-05-12 at 00 42 31](https://user-images.githubusercontent.com/5323259/117893626-0fe18b00-b2bb-11eb-865b-3b9b6a92c3b5.png)

[2021-05-11 22:45] paaljoachim commented on #31695
It sounds like a regression.
Can you take a look @nosolosw ?

[2021-05-11 22:46] paaljoachim commented on #31605
Totally agree!

[2021-05-11 22:54] critterverse opened #31730 "Esc and Enter keys: Modify behavior in Customizer > Widgets"
This issue is for taking a look at the keyboard behavior for `Esc` and `Enter` keys within the Customizer Widgets screen.

Since the editor and Customizer have different behaviors for these keys, I wonder if we could try a hybrid approach:

- If you have a block selected, `Esc` and `Enter` toggles between Select and Edit mode (default editor behavior)
- If you don’t have a block selected, `Esc` an

[2021-05-11 23:38] alaczek opened #31731 "Buttons Block: Add a way to control button padding"
It would be useful to have padding controls for individual buttons. We recently added font-size controls, which is a great start, but having padding controls would give us full creative freedom independent of the theme. This would be especially useful when the theme is setting large padding on buttons by default making it impossible to create smaller, compact buttons.

Here's an example from the [

[2021-05-11 23:51] chthonic-ds commented on #31706
Per https://github.com/WordPress/gutenberg/issues/31706#issuecomment-838808387, how will this work with themes utilising an allow-list via allowed_block_types? Is it intended this flow will override instructions to disallow specific blocks? If not, it seems reasonable to only show block patterns containing available blocks.

[2021-05-12 00:05] aaronrobertshaw commented on #21889
Thanks for rounding all of these up!

I have some pending changes to the borders block support UI that probably need to land before any PR addressing these issues can get approval. I'm hoping to make some progress on it in the coming week.

[2021-05-12 00:36] critterverse commented on #31194
This is a helpful reference, thanks @tellthemachines. I'm having troubling imagining exactly how this would feel on the new screen (which has a few extra variables like the toggle between Editing/Preview modes and having blocks interspersed throughout). But I might be overcomplicating it — I think it's worth trying your suggestion to see how it feels 😁

Also opened a new issue to look at `Esc` and

[2021-05-12 01:51] ramonjd opened #31733 "List block: allow transformation of text links lists into navigation blocks"
## What does this feature request address?

We've noticed that, sometimes, block editor users create unordered lists comprising links to site pages.

<img width="1110" alt="Screen Shot 2021-05-13 at 6 35 22 am" src="https://user-images.githubusercontent.com/6458278/118040827-68954e80-b3b5-11eb-9b93-47b3be054898.png">

In such cases, the navigation block might be a more appropriate way to structure

[2021-05-12 03:06] #28708 closed

[2021-05-12 03:39] #16853 closed

[2021-05-12 03:39] #17672 closed

[2021-05-12 05:07] garikaib commented on #31699
I have similar issue. I have a code snippet that calls custom snippets when certain pages are loaded. Since Gutenberg update, the templates get ignored and index.php is used instead.

[2021-05-12 06:34] CreativeDive commented on #31536
@jorgefilipecosta I don't know why you can't replicate this issue. This is happening since Gutenberg 10.5. and with the latest plugin version too. @vdwijngaert was able to replicate this issue. I think he can advise you, because he found the cause of it
 :-)

[2021-05-12 06:48] jasmussen commented on #31697
I think this is a duplicate of #31574, so closing as such. Please reopen if this was in error!

[2021-05-12 06:48] #31697 closed, assigned to nobody

[2021-05-12 06:53] aaronrobertshaw commented on #21889
A proof of concept PR is up ( #31737 ). It might not cover every design eventuality but I think it should help for a start. Any feedback would be greatly appreciated. Thanks.

[2021-05-12 07:02] carolinan commented on #28356
I saw that a PR for adding support for margins to the site title block was merged.
If this is now implemented, shouldn't margin controls be enabled by default for all blocks?

[2021-05-12 07:05] jasmussen commented on #20941
I don't personally have a strong opinion here. It seems like a PR can fix it.

[2021-05-12 07:10] jasmussen commented on #28356
I'm conflicted here. On the one hand, I deeply want this feature for better patterns. On the other hand, the current margin controls are very clunky, and there isn't a #27331 inspired design for how we surface margin/spacing in a user-friendly way yet. For example while we might know by heart the difference between margin and padding, this is not necessarily obvious for the average user — so do we

[2021-05-12 07:14] carolinan commented on #30918
Margin has been added with https://github.com/WordPress/gutenberg/pull/31728

[2021-05-12 07:36] Mamaduka commented on #26468
Sometimes I've to double click the "Update" button for it to be disabled and indicated that changes were saved. It is probably related to "dirty" state issues.

[2021-05-12 07:43] tijmensmit opened #31739 "Meta box can be dragged in the sidebar, but never back"
I maintain the [WP Store Locator](https://wordpress.org/plugins/wp-store-locator/) plugin, and have had several users report that the 'Store Details' meta box is draggable in Gutenberg and can be moved into the sidebar. But once it’s there it can’t be dragged back. I raised this issue on the wp forum yesterday, and it was [suggested](https://wordpress.org/support/topic/prevent-main-content-block-f

[2021-05-12 08:35] marcuskober commented on #31699
It seems that this issue is related to the handling of full site editing. Something seems to go wrong in function `gutenberg_override_query_template` in `lib/full-site-editing/template-loader.php`.

Furthermore, there is a conditional missing in function `gutenberg_add_template_loader_filters` located in the same file:

[code]

In plugin version 10.4.1 the function checks for  `! gutenberg_is_fse_

[2021-05-12 08:35] #31723 closed, assigned to nobody

[2021-05-12 09:30] paaljoachim commented on #20941
**Adjusting my initial idea to create a consistency with other blocks.**

Example. Adding a Group block or Columns block starts out with no alignment selected. One has to select either Wide width or Full width for the Group block to change alignment.

------

Back to the Media & Text block.
It should start out with no alignment selected so the user sees the default content view.

![Screen Shot 202

[2021-05-12 10:32] aristath commented on #31700
It looks like all `CSS_UNITS` values are currently hardcoded in all packages, investigating.

[2021-05-12 11:07] CreativeDive commented on #31536
@jorgefilipecosta , @vdwijngaert I can confirm this issue is still there with Gutenberg 10.6.

[2021-05-12 11:09] oandregal commented on #20331
This week report for [core-editor](https://make.wordpress.org/core/2021/05/10/core-editor-agenda-12-may-2020/).

**Shipped this week**

block supports

- margin: configurable sides https://github.com/WordPress/gutenberg/pull/30608
- spacing: hide UI for disabled properties https://github.com/WordPress/gutenberg/pull/31726
- rename and stabilize `useEditorFeature` to `useSetting` https://github.com

[2021-05-12 11:16] jameskoster opened #31746 "Make it possible to create a template part directly via the Inserter"
For new template parts that you want to assign to the Header or Footer `area` the process is a little convoluted and can be refined.

Current flow:

1. Insert Template Part block
2. Choose "New template part" in the placeholder
3. Insert blocks
4. Manually assign template part to the appropriate `area` in the "Advanced" panel of the Inspector
5. Give the template part a name

This can be simplifie

[2021-05-12 11:16] jameskoster opened #31747 "Polish the swapping interface for template parts"
The current Template Part replacement UI looks like this:

<img width="532" alt="Screenshot 2021-05-12 at 11 33 01" src="https://user-images.githubusercontent.com/846565/117961271-d68a3900-b315-11eb-942c-848dfa432a6c.png">

The popover doesn't really provide adequate space to differentiate one template part from another. We might consider using a modal instead, similar to what is being considered

[2021-05-12 11:16] jameskoster opened #31748 "Expose existing Template Parts in the Inserter"
To insert an existing template part you must endure the following flow:

1. Insert Template Part block
2. Click "Choose existing"
3. Find the template part

We should consider exposing any existing template part in the Inspector. IE if a template part named "Header" exists, I should see that as a block when I search the Inserter (or the quick inserter) for "Header".

A new section in the Inserter

[2021-05-12 11:16] jameskoster opened #31749 "Contextual icons for template parts"
There are a number of areas in the UI that we can make use of the contextual template part icons and semantic template part `area`s.

<img width="1727" alt="Screenshot 2021-05-12 at 11 49 18" src="https://user-images.githubusercontent.com/846565/117963311-1c480100-b318-11eb-8916-928f443889fe.png">

* List view
* Toolbar
* Inspector
* Parent selector

Template parts assigned to the "Header" `area`

[2021-05-12 11:17] jameskoster opened #31750 "Refining the Template Part block(s)"
Now that template parts can be associated with semantic `area`s like "Header" and "Footer" several opportunities to leverage this and improve the UX emerge:

- [ ] Expose existing Template Parts in the Inserter (https://github.com/WordPress/gutenberg/issues/31748)
- [x] Colorise template part instances (initially proposed in https://github.com/WordPress/gutenberg/issues/26599)
- [ ] https://github

[2021-05-12 11:47] CreativeDive opened #31753 "CPT single template isn't work if "single_template" filter is used"
I use the "single_template" filter [https://developer.wordpress.org/reference/hooks/type_template/](https://developer.wordpress.org/reference/hooks/type_template/) to include a custom single template file for each of my custom post types. For each CPT I have an own plugin, which contains this following filter, to load the custom single template directly from the plugin directory.

THIS IS WORKING