[2021-10-12 08:27] talldan commented on #34072
So in testing this seems to work ok now.

The caveat is that when updating the copied version an existing WordPress resource has to be selected as the link destination for the `id` to be changed. If a URL is entered the `id` is still retained by the block. This is tracked in #34224 though, so I'll close this issue.

[2021-10-12 08:27] #34072 closed, assigned to nobody

[2021-10-12 09:07] Tartamata commented on #28144
Im also interested in discussion, any news @chvillanuevap ?

[2021-10-12 09:18] jasmussen commented on #22801
Here's a GIF of how the inbetween inserter appears in trunk currently. It has a big blue line, which wasn't there when this ticket was originally created:

![inserter](https://user-images.githubusercontent.com/1204802/136928109-f5a621c6-78f6-48e0-85ca-d3bb94f57831.gif)

[2021-10-12 09:25] gziolo commented on #35282
It should be now published to npm with `@wordpress/keyboard-shortcuts@3.0.3` based on the code from the upcoming Gutenberg 10.7 release.

[2021-10-12 09:25] #35282 closed, assigned to nobody

[2021-10-12 09:26] jasmussen opened #35536 "Add a timeout for the in-between-inserter for cases where the onmouseout isn't invoked"
The in-between inserter shows up when you hover between two blocks, and disappears when you move the cursor out from that area:

![inserter](https://user-images.githubusercontent.com/1204802/136928503-7c302b7d-aa8e-4e6c-8f0f-a89783003f9f.gif)

However a number of actions can cause this inserter to linger and stay, presumably because mouse action to fade the inserter out again isn't fired. One easy

[2021-10-12 09:35] ntsekouras commented on #35383
Hey @sRahul-00 👋 - that's great! So did you try anything for the issue? Will you pick it up?

[2021-10-12 09:45] Mamaduka commented on #35407
I also noticed this bug, and Post Title remains uneditable even after deselecting the blocks.

[2021-10-12 09:47] sRahul-00 commented on #35383
I'm really sorry. I couldn't a thing as I was really busy due to the construction going in my home. I'm really sorry again.

[2021-10-12 09:50] ntsekouras commented on #35383
No worries at all! Do you want me to pick it up and find yourself another good first issue? I'd be happy to help either way - you can ping me in the `wordpress.slack` for anything you want 😄

[2021-10-12 09:54] sRahul-00 commented on #35383
yeah sure!! But after you're done, I request you to tell me how did you fix it. It'd be really helpful for beginner like me. Best of Luck btw

[2021-10-12 10:18] JustinyAhin commented on #35387
I can now reproduce

[2021-10-12 10:23] Mamaduka commented on #35498
I was able to reproduce the issue. It happens if I use the latest TT1 Blocks theme from the theme experiments repo.

[2021-10-12 10:32] hypest commented on #35357
Ah, I see your point, and thanks for the annotated screenshots! I don't have the full context about the WPCOM's flow and since this touches more on the design side of things, @iamthomasbishop can you help with this? Looks like there's a misalignment between WPCOM's and the mobile app in how they handle the mobile-URL variant. Can you find the right place to host this discussion? Thanks!

[2021-10-12 10:57] carolinan commented on #35522
I learnt that this is true not only for the post title but also paragraphs, navigation.

[2021-10-12 11:02] jameskoster commented on #35536
In addition to the timeout, would it make sense to hide the in-between-inserter on any keystroke, and any click not directly on the [+]?

[2021-10-12 11:05] jasmussen commented on #35536
Good thought, yes. Perhaps also on any hover that is outside the canvas.

[2021-10-12 11:10] Mamaduka commented on #35387
@JustinyAhin, let me know if you need help with testing or code to fix this issue.

[2021-10-12 11:13] mtias commented on #35503
Also the way different template parts can load at different times can be disorienting. I think we should consider loading everything before showing anything so that there are no jumps. Maybe also treat the gray as an overlay so we render in the background and then fade it out.

[2021-10-12 11:39] gziolo commented on #25188
I wanted to share my thoughts after watching the stream from @ryanwelcher. For full transparency, I discussed the same ideas with Ryan in a private chat to better organize my thoughts.

Let me emphasize first that I fully agree that we should refactor `@wordpress/create-block` so it is capable to support the case with multiple blocks. It's clear that there is some technical limitation that we need

[2021-10-12 11:49] mtias opened #35541 "Order of "supports" panels"
Right now the order of panels is not reflective of their importance, particularly border being so prominent. Let's revise it towards:

- Layout
- Color
- Typography
- Dimensions
- Border
- Advanced

[2021-10-12 11:51] a4jp-com commented on #22801
Try between Add Title and the 1st paragraph (Alice...)

[2021-10-12 11:53] jasmussen commented on #22801
Yes, it would be nice for it to be available there. I believe #30470 is the ticket to follow for that, though, with this one mostly about discoverability.

[2021-10-12 11:55] fabiankaegy opened #35543 "Layout Controls don't do anything when inside a section that already inherits default widths"
### Description

When using the `post-content` block inside of a `group` for example the `group` may already have the "Inherit default layout" option selected. If that is the case the setting still appears for the nested `post-content` block but it doesn't do anything and is therefore confusing.

### Step-by-step reproduction instructions

1. Navigate to the Site Editor
2. Insert a `Group` Block
3

[2021-10-12 12:03] a-danae commented on #35435
My pleasure!

Gotcha, makes sense. Thanks for the context, @ciampo!

[2021-10-12 12:05] abdul-alhasany commented on #8655
### Using hooks
I think a better approach with the introduction of hooks in react 16.8 (the question was asked before that) is to use useEffect hook in block edit function.
Basically you can add this:
[code]
Adding empty array as a second parameter to useEffect will trigger the event on initial render.

To check for block removal you can return a function in useEffect hooks:
[code]

### Comparing

[2021-10-12 12:50] scruffian opened #35549 "Navigation: Social icons on a new line"
### Description

When social links are added to a navigation block they are forced onto a new line, rather than being horizontal:
<img width="573" alt="Screenshot 2021-10-12 at 13 48 03" src="https://user-images.githubusercontent.com/275961/136959290-0b6f8fb7-502c-47e8-bbac-89737f35f018.png">

### Step-by-step reproduction instructions

1. Switch to emptytheme
2. Add a navigation block
3. Add some

[2021-10-12 12:59] annezazu commented on #30115
Based on the updates outlined above (thank you!), I agree that this can be closed for now. I can re-open if additional feedback comes in about the new experience through the outreach program.

+1 to having a larger issue.

[2021-10-12 12:59] #30115 closed, assigned to nobody

[2021-10-12 13:05] bgardner opened #35550 "FSE Theme: Custom Templates Drop-Down (Returning name, not title)"
### Description

I am developing a FSE theme and have a Custom Template with a file name page-no-title.html, which resides in the theme's /block-templates/ folder. In my theme.json file, I have registered it:

[code]

When I add a page and select the Template drop down (happens on edit/quick edit screens), the template is listed, though it appears to be output as the file name (page-no-title) as o

[2021-10-12 13:27] ntsekouras commented on #31158
I commented in the post by I think the above feedback refers to `Offset` Query Loop pattern that has two Query Loop blocks inside a Columns block.

[2021-10-12 13:31] kjellr opened #35551 "[Query Loop Block] Non-selected posts inherit incorrect max-width layout setting"
This only happens in the post/page editor — I'm unable to reproduce in the Site Editor. If a Query Loop block uses layout settings, the non-selected posts in the list incorrectly inherit the following rule:

[code]

This leads to any non-selected post appearing incorrectly.

## Screenshots:

<img width="1415" alt="Screen Shot 2021-10-12 at 9 08 42 AM" src="https://user-images.githubusercontent.com

[2021-10-12 13:48] annezazu commented on #31158
That's correct!

[2021-10-12 13:59] Mamaduka commented on #32818
Hi, @carolinan. Are you still working on this issue?

[2021-10-12 13:59] Mamaduka commented on #35550
Thanks for contributing, @bgardner.

I think this is a duplicate of #32818.

[2021-10-12 14:25] kjellr commented on #35550
Yeah, I think this one is a duplicate. It looks like that issue covers the notes from here, but if I missed anything new, feel free to add it over in #32818. Thanks!

[2021-10-12 14:25] #35550 closed, assigned to nobody

[2021-10-12 14:30] bgardner commented on #35550
Eeek, sorry for the dupe. I tried search and could not find anything.

[2021-10-12 15:14] franmastromarino commented on #35127
hello @carolinan

this is not a help request

is a bug report

please test with latest gutenberg trunk or version 11.6

as i've explained before if you include this filter, template parts will be replaced but not the templates

this is a wrong behavour

thanks!

[2021-10-12 15:16] github-actions[bot] opened #35554 "[Flaky Test] should insert mention between two other words"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should insert mention between two other words

## Test path
`specs/editor/various/mentions.test.js`

## Flaky rate (_estimated_)
`0 / 0` runs

## Errors

<details>
<summary>
	<time datetime="2021-10-12T15:16:57.731Z"><code>[2021-10-12T15:16:57.731Z]</code></time>
		Test pass

[2021-10-12 15:16] github-actions[bot] opened #35555 "[Flaky Test] should insert mention"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should insert mention

## Test path
`/test/e2e/specs/editor/various/mentions.spec.js`

## Errors

<time datetime="2021-10-12T15:16:58.302Z"><code>[2021-10-12T15:16:58.302Z]</code></time> Test passed after 1 failed attempt on <a href="https://github.com/WordPress/gutenberg/ac

[2021-10-12 15:21] Mamaduka commented on #35387
I also tried to debug this issue but wasn't able to find the solution. It looks like tests started failing on the trunk after #34731.

Based on artifact Preview dropdown isn't open after the post is published:
https://github.com/WordPress/gutenberg/blob/17bdf97b7ecfe579dfac10b415b84cf959865fdf/packages/e2e-tests/specs/editor/various/preview.test.js#L155-L161

cc @ellatrix

## Screenshot
![should o

[2021-10-12 15:22] franmastromarino opened #35556 "theme_file_path filter not working with templates"
### Description

I'm trying to hook in to the filter theme_file_path to replace the default theme templates via plugin
I'm working with the latest trunk version of gutenberg at the time im writing

    add_filter('theme_file_path', function ($path, $file) {

      error_log($file);
      $current_path = CUSTOM_DIR . $file;

      if (is_file($current_path)) {
        return $current_path;
      }

[2021-10-12 15:22] #35127 closed, assigned to nobody

[2021-10-12 15:54] kjellr opened #35558 "Improve treatment of custom values in Gutenberg form fields"
theme.json and block markup can accept a wide range of values that can't (and probably shouldn't appear in the Gutenberg UI. For example:

- CSS variables
- `calc()`
- `clamp()`
- `min()`
- `max()`
- `minmax()`
- etc.

All of these are valid block markup. When they are used, Gutenberg currently just shows an empty form field in the UI. For example, here's some sample markup that uses a `max()` val

[2021-10-12 16:13] ciampo commented on #34817
I personally agree with both opinions.

Next steps then look like:

1. Remove `useJumpStep` — done in #35561
2. Improve `NumberControl` and `RangeControl` by:
	- Rewriting in TypeScript
	- Hooking to the Context System
	- Using Emotion for styles
3. Add more tests to `NumberControl` and `RangeControl`

[2021-10-12 16:30] strarsis opened #35560 "Empty Website-Editor (JavaScript error) without explicit template selection"
### Description

When opening the Website-Editor (Full Site Editing (FSE)-supporting theme),
the editor area is greyed out and no blocks can be placed there, when no page template is explicitly selected.

After explicitly selecting a template from the sidebar (Selecting the logo at the top right opens the sidebar) fixes the issue.
But this shouldn't happen at all - also the page is a front page, s

[2021-10-12 16:49] priethor opened #35564 "Automatically migrate existing Gallery blocks to use the new format"
Relates to #34881

## What problem does this address?
Gutenberg 11.6 introduced a toolbar button to convert legacy Gallery blocks to the new refactored Gallery block that leverages inner blocks thanks to #34606. Although this button is useful to test the migration mechanism on demand, it is not clear for users its purpose and what are the benefits of doing this.

## What is your proposed solution?

[2021-10-12 17:11] colorful-tones commented on #35522
I believe this would require a larger rollout of `margin` support for pertinent blocks, correct? So, we would need to determine whether the Post Title is worthy of margin support.

I'm just trying to provide a bit further context.

Related Pull Requests and Issues
1. [Spacing Support: Add margin block support with configurable sides #30608](https://github.com/WordPress/gutenberg/pull/30608)
2. [Gr

[2021-10-12 17:25] TeBenachi opened #35567 "Navigation Block: Aria-current attribute to indicate the current page"
### Description

Aria-current can inform the screen reader users which page within the navigation  is currently active. It can also benefit the sighted users when the current page is visually indicated using css or preferably theme.json.

### Step-by-step reproduction instructions

1. Turn on the screen reader
2. Navigate to the currently open page in the navigation menu using the Tab key.

### Sc

[2021-10-12 17:40] carolinan commented on #32818
No, but you could start here:
https://github.com/WordPress/gutenberg/blob/trunk/lib/full-site-editing/block-templates.php#L222
https://github.com/WordPress/gutenberg/blob/trunk/lib/full-site-editing/block-templates.php#L225

[2021-10-12 17:42] carolinan commented on #32818
The HTML file itself never includes the name, only theme.json does, so the slug is used twice.

[2021-10-12 17:56] ellatrix commented on #35387
Hm, not sure how the PR affected this test. I guess we can revert it for now.

[2021-10-12 17:59] ellatrix commented on #35387
Let's see if @ntsekouras's PR fixes it :)

[2021-10-12 18:36] htmgarcia commented on #34405
Anybody knows how can we access the preferences for editor through console?

Update: tried with `wp.data.select('core/edit-post').getPreferences()` but that doesn't return all the preferences such as pre-publish checklist.

[2021-10-12 20:06] mtias commented on #30007
I see the work on #35418 more aligned with the nature of blocks and block parents. Generally, we should not have a need for _context_ that doesn't come from internal heuristics (i.e. the nature of the blocks placed within) or the configuration of the parent (attributes of various kinds). There's always a parent, whether implicit in the root of an Editor provider or in a more explicit wrapper like

[2021-10-12 20:56] gwwar commented on #35271
I'm pretty flexible with what folks decide to go with, provided that the behavior is consistent. 👍  I think these cases might be a little easier to debug if there's a code-view equivalent in the navigation editor that shows the menu item serialization, but otherwise it should be doable by observing the API requests.

Sounds like a similar category issue. It's mostly likely due to to logic here:

h

[2021-10-12 21:13] danyork commented on #28524
Hi all! Just curious about the status of this - any estimate on when this might be available? I see there is pull request #29856 but that is now flagged as stale. I had a case today where we wanted to indent four paragraphs in a blog post and the regular blockquote was not appropriate. And, it turned out we haven't styled the Classic block appropriately so I couldn't use that workaround.

[2021-10-12 22:40] ai2n commented on #35229
I ran into a pretty much identical issue today, except it seemed to be triggered consistently by hovering over the Tiled Gallery block.

During testing, the issue persisted until I disabled the Coblocks plugin.

If you prefer I create a new issue report for this, please @ me and I'll do that.

[2021-10-13 00:38] #34706 closed, assigned to ramonjd

[2021-10-13 00:44] glendaviesnz commented on #35564
This is a duplicate of https://github.com/WordPress/gutenberg/issues/32075, so we may want to close this one in favour of that as it includes details of work already done in relation to this.

[2021-10-13 01:05] iandunn opened #35572 "Search block submission URL can't be customized"
## What problem does this address?

The search block always submits to `home_url( '/' )`, but I'd like to submit to a custom URL.

In my use case, I'm building a header that will be used across all sites in a Multisite network. I want searches to go to a custom page that searches across all of the sites ([example](https://wordpress.org/search/jazz)).

I want to preserve the ability to search a sin

[2021-10-13 01:17] glendaviesnz commented on #35560
I wasn't able to replicate this on gutenberg 11.7.0-rc.1 and TT1 blocks theme. It loads the index template by default:

![fse-bug](https://user-images.githubusercontent.com/3629020/137050116-b5a071b3-c167-410d-b800-a6117a017f7b.gif)

Which FSE theme are you using?

[2021-10-13 02:10] dcalhoun opened #35573 "Pressing enter after auto-inserting a period in a Quote inserts an invisible new line on Android"
## Description
When adding text to a new Quote block, if a period is auto-inserted by pressing two spaces at the end of a word, then pressing <kbd>Enter</kbd> does not display a new line. Pressing <kbd>Enter</kbd> a second time splits the block, as expected, but the aforementioned new line is still not visible.

If at this point, one presses <kbd>Delete</kbd>, the currently focused Paragraph block

[2021-10-13 02:27] pento commented on #34738
Thanks for the ping, @getsource. That's a fun bug, I'm not sure how it got through: I thought the block fixture testing was supposed to catch things like this? @gziolo?

I have two suggestions for fixing this, neither of which are ideal, but they're both workable:

- Modify `render_block_core_file()` to check if the `<object>` tag is there when it's supposed to be. If it isn't, add it back in.
- M

[2021-10-13 04:19] ramonjd commented on #35541
I've swapped the styles supports order for now in https://github.com/WordPress/gutenberg/pull/35574

The Dimensions Inspector Controls group is, however, rendered as the [next to last Slot, before the Advanced controls](https://github.com/WordPress/gutenberg/blob/release/11.7/packages/block-editor/src/components/block-inspector/index.js#L132), so it'll always render in that position.

_**I think**

[2021-10-13 04:31] ramonjd commented on #35541
Answered here: https://github.com/WordPress/gutenberg/pull/35574#issuecomment-941909519

Thank you!

[2021-10-13 04:35] aaronrobertshaw commented on #35541
The other block support panels will be switched to use new inspector control groups when they are updated to use the `ToolsPanel`.

At this point, I've only updated the [typography panel PR.](https://github.com/WordPress/gutenberg/pull/33744) The [color](https://github.com/WordPress/gutenberg/pull/34027) and [border](https://github.com/WordPress/gutenberg/pull/33743) panel PRs will be updated in t

[2021-10-13 04:39] tellthemachines opened #35575 "Clicking on quick inserter or block toolbar does nothing when block library sidebar is open"
### Description

If the block library sidebar is open, clicking on a block inserter in the canvas, or clicking anywhere on a block toolbar has no effect but to close the block library sidebar and focus the clicked element.

This seems to be related to the layout reflow that occurs when the sidebar is closed, because changing the sidebar styles to absolutely position it over the editor instead of b

[2021-10-13 04:42] scinos opened #35576 "[@wordpress/eslint-plugin] Support for ESlint v8"
### Description

ESlint v8 [has been released](https://eslint.org/blog/2021/10/eslint-v8.0.0-released) and it includes a few breaking changes.

`@wordpress/eslint-plugin` should support it. At the very least it should:

- Declare `8` as a valid peer dependency
- Update 3rd party `eslint-plugin-*` dependencies to a version that supports ESLint v8

I haven't check if the provided rules must be updat

[2021-10-13 04:45] talldan commented on #35530
The plus button at the top does insert after the selected block, so it would insert another column here.

I agree it can be confusing for blocks that contain other blocks.

It also means that when there's an empty column the quick inserter is the only option for inserting blocks. I had a similar observation with the navigation block here:
https://github.com/WordPress/gutenberg/issues/34041#issueco

[2021-10-13 04:50] ramonjd commented on #35541
That's a good question, thanks for reminding me. I had screenshots I prepared earlier to raise this, but... you know, forgot :)

Here's what I'm seeing in the Site Editor:

<img width="283" alt="Screen Shot 2021-10-13 at 1 31 10 pm" src="https://user-images.githubusercontent.com/6458278/137069329-04949d38-95c5-43fc-ac33-867536fc74b6.png">

<img width="284" alt="Screen Shot 2021-10-13 at 1 32 02 pm

[2021-10-13 04:56] aaronrobertshaw commented on #35541
Yeah, so from those screenshots I'd take it that we won't be re-grouping all the panels, only swapping the positions of typography and layout from the first screenshot.

[2021-10-13 04:59] Mamaduka commented on #35522
@colorful-tones is right. The margin attributes won't be saved if the block doesn't support "spacing."

[2021-10-13 05:10] github-actions[bot] opened #35578 "[Flaky Test] preserves width alignment settings of selected blocks"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
preserves width alignment settings of selected blocks

## Test path
`specs/editor/various/block-grouping.test.js`

## Errors

<time datetime="2021-10-13T05:10:10.577Z"><code>[2021-10-13T05:10:10.577Z]</code></time> Test passed after 2 failed attempts on <a href="https://gith

[2021-10-13 05:51] #10994 closed

[2021-10-13 06:23] Mamaduka commented on #32818
Thank you, @carolinan.

[2021-10-13 06:26] SantosGuillamot commented on #30572
Sure! I've just assigned you the issue 🙂

[2021-10-13 07:35] mtias commented on #35541
Only for block supports for now. In global styles, only the per-block categories would reflect that order. The root level will remain as the design above.

[2021-10-13 07:58] hypest commented on #35573
I can't seem to be able to reproduce on WPAndroid 18.2-rc-3 (on Pixel 2XL, Android 11, Gboard 10.9.05.387080390-release-arm64-v8a). I also tried v17.0 and the latest beta at the time of writing (v18.4-rc-2) and cannot reproduce.

I wonder, since v17.0 is a bit old at this point @dcalhoun , can you also give 18.4-rc-2 a try?

Also, I noticed in the video that you seem to have needed to tap `Enter`

[2021-10-13 08:16] mtias commented on #28524
It's a simple patch that just needs a nudge along the way :)

[2021-10-13 08:20] ntsekouras opened #35580 "Make `publishPost` e2e util more resilient"
Recently [with a failure in e2e tests](https://github.com/WordPress/gutenberg/issues/35387) it was discovered that the e2e util `publishPost` can be augmented to make sure the publish post action has been performed.

Currently the util relies on [waiting for the snackbar to exist](https://github.com/WordPress/gutenberg/blob/trunk/packages/e2e-test-utils/src/publish-post.js#L19), but after #34731 a

[2021-10-13 08:29] sophiegyo opened #35581 "Social Icons block: reduce or remove gap CSS for logos-only style"
It'd be lovely if we could either reduce the `gap` CSS for the social icons `ul` container, or potentially reduce the padding on either/and the `li` and `a` elements when the block is set to show logos only.

I was pointed to this PR which refers to the spacing between icons in the block: #34493

When you set a Social Icons block to show as logos only, the same `gap: 0.5em` applies:

![socialgap1]

[2021-10-13 08:33] gziolo commented on #34738
Block fixtures testing in Gutenberg operates only on JavaScript codebase so as far as I know, KSES is completely ignored.

[2021-10-13 09:02] jasmussen commented on #35581
Nice one, I can take a look. Here are the two styles, side by side:
<img width="378" alt="Screenshot 2021-10-13 at 11 01 00" src="https://user-images.githubusercontent.com/1204802/137102054-b837695c-112b-4e27-b00e-c110c27a6cbb.png">

The gap is actually the same, but the social logos definitely feels more spaced out:

<img width="313" alt="Screenshot 2021-10-13 at 11 01 06" src="https://user-image

[2021-10-13 09:07] priethor commented on #35564
Closing in favor of #32075

[2021-10-13 09:08] #35564 closed, assigned to glendaviesnz

[2021-10-13 09:09] jasmussen commented on #35536
Another way to trigger the lingering inserter:

- Hover between two blocks to invoke the sibling inserter
- ⌘Tab or Alt Tab to go to a different window, then go back

[2021-10-13 09:51] Sandstromer opened #35584 "Categories block - top level only option"
## What problem does this address?

The Categories block is very basic and currently displays all categories, regardless of hierarchy.

## What is your proposed solution?

Introduce an option to display only the "Top Level" categories.

This would also make the Categories block a good addition to the allowed blocks in the Navigation block (https://github.com/WordPress/gutenberg/issues/35467)

[2021-10-13 09:53] TeBenachi commented on #35567
Thank you @talldan

Would you consider adding this ticket as well? #35122
The screen reader doesn’t read the name of the navigation links on Firefox on macOS. It reads “Empty navigation” instead.

Chrome and Safari work without any issues.

![Firefox](https://user-images.githubusercontent.com/30734209/137110597-77b0fb3d-9761-4cb4-b0a1-2733031e2220.gif)

[2021-10-13 09:56] jasmussen commented on #35581
#35586 fixes this one. In addition to making the spacing smaller, it also increases the icon size a little bit. That was the original intent, and appears to have been lost in one of the refactors. Happy to revisit that one if need be.

[2021-10-13 10:08] yahilmadakiya commented on #29477
This happens with custom post type registration as well.

During debugging I found something
----

In post publish panel. It replace `%postname%` with Slug [if post status is future](https://github.com/WordPress/gutenberg/blob/trunk/packages/editor/src/components/post-publish-panel/postpublish.js#L96). which is working fine with POST.

But for page and other CPT `%postname%` is not available to it

[2021-10-13 11:00] yansern commented on #34729
**Investigation note:**
1. `100vh` units causes the resize observer to go into a firing loop.
2. The component tree looks like this `BlockPatternsList > BlockPattern > BlockPreview > AutoHeightBlockPreview`.
3. The file to look at is `packages/block-editor/src/components/block-preview/auto.js`.
4. Quick fix: As there is no DOM event that could determine when a page is fully rendered, I think the q

[2021-10-13 11:18] JustinyAhin commented on #32034
The skipped test seems to be more stable now. @youknowriad does it make sense to enable it back?

[2021-10-13 11:20] jameskoster opened #35587 "When editing a template part in isolation the Areas UI is surfacing general template parts"
### Description

In my Footer template part I have a general template part for copyright details:

<img width="1635" alt="Screenshot 2021-10-13 at 12 08 16" src="https://user-images.githubusercontent.com/846565/137121715-e427e5c3-d536-4e6c-8054-39dcb7d3afcd.png">

As you can see in the screenshot, both in the template details popover and the Inspector, there's an empty button representing this nes

[2021-10-13 11:38] sophiegyo commented on #35581
Oh, increasing the icons a bit may be worth it! There is both a margin set both on the `a` element inside the `li` and on the `li` itself within the `ul`.  I didn't check closely if those two margins also exist for blocks where styles **other** than logos only, but they're definitely also helping to contribute to the larger gap. I was wondering if adjusting the margin on both `a` and `li` as well

[2021-10-13 11:51] talldan commented on #35567
@TeBenachi 👍 Done

[2021-10-13 12:13] mtias commented on #33094
@gingerling the above is available in the Gutenberg plugin paired with a block theme. It's currently targeted for inclusion in WP 5.9.

[2021-10-13 12:20] kjellr commented on #35522
@mtias do you know of a reason we don't just enable spacing globally (for block themes at least)?

[2021-10-13 12:21] youknowriad commented on #32034
@JustinyAhin That's fine by me, how do you know that it's stable now?

[2021-10-13 12:21] aristath opened #35591 "Webfonts API implementation in `theme.json`"
In WP5.9 a new webfonts API will be included (see https://github.com/WordPress/wordpress-develop/pull/1736).
The twentytwentytwo theme is a block-based theme, and it loads custom webfonts. There is a draft PR in the TT2 theme to implement the webfonts API (see https://github.com/WordPress/twentytwentytwo/pull/95) but ideally webfonts would be defined in the theme.json file.

In the current form of

[2021-10-13 12:25] dcalhoun commented on #35573
Sorry for the confusion. This issue does happen on the latest beta release, I was merely attempting to reference the _oldest_ point where I found the behavior occurring. I will update the description for improved clarity.

You are 100% correct. Your proposed description is much more accurate. Thank you for the consideration and thought you put into this explanation. I will update the description t

[2021-10-13 12:44] getdave commented on #34775
You are right. I explored this and it's not possible...yet. I'm no longer actively pursuing this route but it's possible it might be something that is considered in future.

[2021-10-13 12:59] TeBenachi commented on #35567
Thank you!!

[2021-10-13 13:07] JustinyAhin commented on #32034
I just pushed this PR (https://github.com/WordPress/gutenberg/pull/35594) with my changes. I've added a couple of assertions to ensure that the latest post block correctly appears.

[2021-10-13 13:23] ockham commented on #34648
I had a brief look into this. The reason is the following selector that includes the Navigation block class name twice, thus increasing specificity over the (elements-based) link color selector:

![image](https://user-images.githubusercontent.com/96308/137140589-543c92c6-9963-4b7b-ae2a-56cc3a2ceb72.png)

@getdave thankfully pointed me to the relevant code and comment: https://github.com/WordPress/

[2021-10-13 13:24] jasmussen commented on #34648
The inheritance, as I recall, is there to inherit colors set on the navigation block itself. I'll poke around a bit when I have a moment, see what we can do.

[2021-10-13 13:30] phil-sola commented on #25188
Thanks for this @gziolo, really helpful and I'm glad to see this is very much in the works to make create-block suitable for multiple blocks. This morning I have got to the point where I have been considering trying to build something separate for my own requirements without all the abstraction because it is extremely time consuming trying to make the current implementation bend to your will.

In

[2021-10-13 13:41] ockham commented on #35480
I don't recall the original rationale for the `iconColor`/`iconColorValue` pair, but maybe @aaronrobertshaw can help here? 😄

[2021-10-13 13:42] jasmussen commented on #26901
Fairly sure that `dark-editor-style` has been absorbed and retired as a separate feature.

[2021-10-13 14:10] Mamaduka commented on #31704
Created PR that should fix the `customTemplates` title issue - #35592.

I'm working on excluding templates based on "postTypes" PR should be ready shortly.

[2021-10-13 14:14] sdwire commented on #29568
Thinking more about my previous comment, I'm hopeful that the experience I described is something that I could offer in my theme by programmatically adding value/opacity sliders to the color picker. Perhaps this isn't something that would need to be built-in.

[2021-10-13 14:47] jameskoster opened #35596 "Split Post Author in to separate blocks"
Post Author currently serves as a monolithic block for displaying all information relating to the post author:

* Name
* Avatar
* Bio
* Byline (not entirely sure where this comes from, seems to be attached to the block)

<img width="726" alt="Screenshot 2021-10-13 at 15 42 42" src="https://user-images.githubusercontent.com/846565/137156259-e08dddc3-8196-4a9b-b06a-ff08495674b8.png">

It would be mo

[2021-10-13 14:58] arceoh commented on #13154
+1

[2021-10-13 15:06] fabiankaegy commented on #14446
I wonder whether the new SSR features in React 18 could be the way that we could use to start getting dynamic blocks to also be written in JS.

https://github.com/reactwg/react-18/discussions/37

One of the main downsides if we _just_ switch to rendering the dynamic content is the additional server requests and the initial render without the data. So the current approach of having it in PHP actual

[2021-10-13 15:09] #34006 closed, assigned to oandregal

[2021-10-13 15:12] annezazu commented on #34550
@jffng @carolinan could you all perhaps chime in here? This was brought up in today's core editor meeting and I'd be curious to get a wider perspective.

[2021-10-13 15:33] overclokk commented on #34550
This migth be related to the following issue, in case is not I will open another one:

#### About `wp:template-part` block:

That block should be a mirror to the `get_template_part()` so also with removing those directories for html template and let the developer choose where to put her/him files it shoud not add any `div` container as it does right now, and also should not have any behavior other

[2021-10-13 15:44] carolinan commented on #34550
The directories work well because they create a clear separation between "classic" themes and "block themes" and they are part of a solution for a problem, namely the lack of standards for classic themes.

When you open the folder of a block theme you will immediately identify that it is a block theme just by looking at the structure.

I believe in developer freedom. This is not about forcing anyo

[2021-10-13 16:16] #34783 closed, assigned to vcanales

[2021-10-13 16:54] truchot opened #35599 "getCurrentUser() REST API request"
### Description

Hi,

I'm using WordPress JavaScript packages to get current user infos from a custom settings page with the code below.
All scripts are loaded with the right dependencies and settings by default.
For example `wp-api-fetch` :

<img width="611" alt="Capture d’écran 2021-10-05 à 20 44 52" src="https://user-images.githubusercontent.com/36343370/137173256-3b2d77ad-f878-4d12-840c-4ad55f

[2021-10-13 16:56] oandregal commented on #35591
Can we use `settings.typography.fontFamilies` to register all the fonts?

I've also provided some thoughts on the use of `file:./` at https://github.com/WordPress/wordpress-develop/pull/1736/files#r728265713

I'll leave Jorge and others to provide any more details or thought, as they've looked into this in the past.

[2021-10-13 17:13] anton-vlasenko opened #35601 "Navigation Editor page makes duplicate REST API requests"
## What problem does this address?
For some reason, the Navigation Editor page makes duplicate REST API requests.
Please see the screenshot below.
The first time this request gets served from the cache (see `createMenuPreloadingMiddleware` middleware once https://github.com/WordPress/gutenberg/pull/35402 is merged).
The second time that page makes the same request.
It cannot be served from the mid

[2021-10-13 17:20] phil-sola commented on #21413
I second the comments above. Please do not remove the edit gallery link on the left. This is an incredibly helpful feature. Especially for Block developers who may want to create their own enhanced gallery block.

MediaPlaceholder component offers the desired functionality whereas MediaUpload seems to be the dated (pre-gutenberg) version of the same thing, without the edit gallery link. I have tri

[2021-10-13 17:38] #34358 closed, assigned to enejb

[2021-10-13 17:45] mtias commented on #35591
+1 for using something under `settings.typography` and keeping it all together

[2021-10-13 17:50] shaunandrews opened #35602 "Border Controls: Design Refinements"
The border controls for blocks allow themes and users to set a border width, style, color, and radius. These controls currently look like this in the editor's sidebar:

<img width="745" alt="image" src="https://user-images.githubusercontent.com/191598/137172013-fc603fd7-0b04-45e2-b7b5-fbf53f8af38c.png">

These controls take up a lot of spacing, and as such are hidden behind an accordion. Unfortuna

[2021-10-13 17:51] pbking commented on #31957
I can confirm that this continues to happen in Chrome when using the developer tools to simulate a mobile experience.  I have not experienced this on an actual mobile device.

[2021-10-13 17:54] skorasaurus commented on #35591
heavily related/previously: https://github.com/WordPress/gutenberg/issues/34752

[2021-10-13 18:08] overclokk commented on #34550
A clear separation is made by the theme.json file, if a theme has that file is a block based theme even if the theme has also php (and|or html) template because they are needed if you want to migrate at small steps.

Finding that solution another problem was added for example now `wp:template-part` can't include other file other than those in those folders, a simpler solution should be a `wp:templ

[2021-10-13 18:35] mehul0810 commented on #35602
@shaunandrews These designs are just amazing!

Also, I would like to point a rare scenario related to the representation of a border with a random maximum number like `50px` or `99px`. I know these numbers are not much used with borders. But, we should ensure that any random high number of border widths entered doesn't mess up the border representation in the admin.

What will happen to the border

[2021-10-13 18:59] apeatling opened #35604 "Typography Tools: Tracking defaults for blocks"
Part of https://github.com/WordPress/gutenberg/issues/34345

We want there to be consistency of typography tools across core blocks. This means making sure core blocks are opted into the correct typography tools, and have appropriate defaults set.

Active work related to this:

- [x] https://github.com/WordPress/gutenberg/pull/33744
- [x] https://github.com/WordPress/gutenberg/pull/34064
- [x] htt

[2021-10-13 19:07] apeatling commented on #35604
@mtias To be clear, should we be opting all core blocks above into all typography tools where it makes sense (counter example being font family for the code block), and then using the Tools Panel to set the smart defaults that show to users as per https://github.com/WordPress/gutenberg/pull/34064?

[2021-10-13 19:10] mtias commented on #35604
Yes, all text blocks should be supporting all tools (unless one doesn't make sense for some reason in a specific context, but I can't think of one right now) and we should use the defaults to emphasize the appropriate initial states for each. The lack of that control has been the main blocker to expand the tools to all blocks because it just made things a bit overwhelming. Now that we have the con

[2021-10-13 19:36] kjellr opened #35607 "Consider a root-level site padding solution that still lets some items go full-width"
The root-level padding introduced in https://github.com/WordPress/gutenberg/pull/35241 lets you add padding around your entire site. This works great, but only if you do not want anything on the site to ever appear edge-to-edge.

In https://github.com/WordPress/twentytwentytwo/pull/88, we tried to implement the site-wide padding value in Twenty Twenty-Two, but found it did not work for us for that

[2021-10-13 20:09] NekoJonez opened #35608 "Translation note requested"
https://plugins.trac.wordpress.org/browser/gutenberg/trunk/build/components/index.js#L52427

The string "Home and End" ... Is that refering to a homepage and it's ending OR the actual buttons on the keyboard "Home" and "End"?

I think adding a translation note here or having the "keyboard key" label would help translators.

[2021-10-13 20:16] jffng commented on #35607
Thanks for articulating it so clearly @kjellr, it's a problem we run into on every theme we've made. @jasmussen summarized it at a high level nicely over in [this comment](https://github.com/WordPress/twentytwentytwo/pull/88#issuecomment-941259362):

Rather than applying padding to the root container, what if there was a way for an individual block to opt in to (or out of) using the global padding

[2021-10-13 20:39] ajlende commented on #14377
@Stiofan I'm not sure `type="color"` should be used in `TextControl` even though the `type` property seems to accept any string. The name `TextControl` implies that this component is for textboxes, so the only valid types for it should be inputs with textboxes like `text`, `email`, `number`, etc.

I would suggest using `BaseControl` along with the basic `<input type="color>` as a child instead. Th

[2021-10-13 21:17] landwire commented on #14446
I really don't care whether a block is rendered with JS/React or PHP or whatever, but what I care about is that the block's markup is written in a well structured templating language. The blocks data is passed to the template and the template consumes it.

Therefore until now I mainly use ACF to build my blocks and PHP/Twig to render them. This gives me the freedom to override a block's markup in

[2021-10-13 21:28] synthetiv commented on #21741
Just to chime in, I'm running into the same issue with errors added using the `wp_handle_upload_prefilter` hook not being handled well by Gutenberg. The exact JS errors I'm getting aren't identical, but that may be the result of browser differences or other changes in Gutenberg or WP core since this issue was opened.

**To recreate the issue:**

- Hook into `wp_handle_upload_prefilter` and add an

[2021-10-13 21:30] phpbits commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-10-13 21:30] phpbits commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-10-13 21:53] mkaz commented on #17785
The `Is_IE` check was removed in PR https://github.com/WordPress/gutenberg/pull/34132 because as of WP 5.8 support for IE was dropped, see [news post](https://wordpress.org/news/2021/05/dropping-support-for-internet-explorer-11/).

Closing this issue as no longer needed.

[2021-10-13 23:15] chthonic-ds opened #35610 "Post pagination: duplicate inner wrapper"
### Description

The post pagination markup looked like this prior to the 11.7 release:
[code]
Since 11.7, there's a duplicate `.wp-block-query-pagination` attached to an inner wrapper `<div>`:
[code]

This means the flex styles managed by the `.wp-container-*` class are no longer applied to the intended target, `.wp-block-post-navigation-link`.

### Step-by-step reproduction instructions

1. Acti

[2021-10-13 23:36] chthonic-ds commented on #35610
Looking at a `single.html` template:

Prior to 11.7, it seems `<div class="wp-block-query-pagination">` was required to wrap the previous/next pagination blocks? Like so:
[code]
Since 11.7, it appears this is automatically handled by `<-- wp:query-pagination -->`. When the wrapper `<div>` is removed from the  template, the flex layout works correctly.

I guess this is not a bug and instead require

[2021-10-14 00:00] chthonic-ds commented on #35610
The two circumstances I'm seeing this happen with 11.7 active:

- When the markup in https://github.com/WordPress/gutenberg/issues/35610#issuecomment-942799171 has been used in a template
- When the template has been saved via the Site Editor, prior to updating to 11.7

The duplicate wrapper no longer appears once a template is saved via the Site Editor in 11.7.

[2021-10-14 00:11] ramonjd commented on #35604
Just to confirm the full suite of typography tools for text block block.json files:

[code]

- Font size
- Line height
- Font family
- Font style
- Font weight
- Letter spacing
- Text transform
- Text decoration

[2021-10-14 00:14] kyleaparker commented on #35357
I agree that the way native mobile and self-hosted are handling this is a better user experience. I could try to start a discussion or alternatively could we open an issue somewhere to propose including the same error handling on .com web? It may just be an oversight, or there may already be discussion/issues about this.

[2021-10-14 01:09] carolinan commented on #34550
Documentation is necessary, not comparable to ease of use.

_This is only code. It means that there are as many ways to achieve something as there are developers._
You can name your folders anything you want and create a build process that produces a theme that follows standards,
while still allowing beginners to have all the benefits from learning from a simple structure.

[2021-10-14 01:55] carolinan commented on #35610
Yes I noticed this too and needed to update the markup in the themes .html file.
I assume this change will be announced in the post for the plugin release.

[2021-10-14 01:58] carolinan commented on #35596
The question remains whether this should be a _user block_, with an author variation?
There is a long discussion here https://github.com/WordPress/gutenberg/issues/24952#issuecomment-840994975

[2021-10-14 02:38] carolinan opened #35612 "Navigation: Using different item justification on main menu and overlay menu"
## What problem does this address?

It is a common design for themes to have a site title or logo aligned to the left, and a menu to the right (and vice versa on rtl),
This is used in Twenty Twenty-Two. This is achievable because we can justify the menu items.

But when we justify the menu items, the overlay use the same justification. There is no way to have a right aligned main menu
and then use

[2021-10-14 02:51] #35383 closed, assigned to ntsekouras

[2021-10-14 03:06] github-actions[bot] opened #35613 "[Flaky Test] ensures custom html block toolbar uses roving tabindex"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
ensures custom html block toolbar uses roving tabindex

## Test path
`specs/editor/various/toolbar-roving-tabindex.test.js`

## Flaky rate (_estimated_)
`2 / 3` runs

## Errors

<details>
<summary>
	<time datetime="2021-10-14T03:06:54.205Z"><code>[2021-10-14T03:06:54.205Z]</

[2021-10-14 03:58] pento commented on #34738
I've written a fix for this in [WP54261](https://core.trac.wordpress.org/ticket/54261), though it does need thorough reviewing. #35611 implements some preventative testing that will help avoid issues like this one in the future.

[2021-10-14 05:21] Mamaduka commented on #35610
Sorry, this is my fault. The change was introduced via #35092 to fix the empty container issue.

[2021-10-14 06:01] amieiro commented on #35608
If you [review the source code,](https://github.com/WordPress/gutenberg/blob/9df736c678b2e8ef00c355e6cc9fb8092fe25484/packages/components/src/date-time/index.js#L138) I think the developer uses the "Home" and the "End" words as "the first (home) or last (end) day of a week". I think it needs a translation note, because the string it is not obvious. Would you like to make a PR with this change?

[2021-10-14 06:02] talldan commented on #34273
I think this may have been fixed by https://github.com/WordPress/gutenberg/pull/34565.

When I tested there's now no problem with undo/redo. I'll close the issue, but reply to mention if you're still having issues in the latest version of Gutenberg, @bbertucc.

[2021-10-14 06:02] #34273 closed, assigned to nobody

[2021-10-14 06:05] NekoJonez commented on #35608
I'm open in trying. @amieiro
But, just thinking out loud here... Why are the terms home and end used?
Wouldn't first and last/final day of the week make more sense?

[2021-10-14 06:11] aristath commented on #35591
Hmmm using `settings.typography` makes perfect sense. But we need to take some things into consideration and I'm not sure `settings.typography.fontFamilies` would be a good fit 🤔

I'll use what we currently have in the TT2 theme as an example (`settings.typography.fontFamilies`)
[code]

* The `fontFamily` there is the CSS value of font-family, which contains not only the main font but also fallbac

[2021-10-14 06:12] github-actions[bot] opened #35617 "[Flaky Test] can copy group onto non textual element (image, spacer)"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
can copy group onto non textual element (image, spacer)

## Test path
`/test/e2e/specs/editor/various/copy-cut-paste.spec.js`

## Errors

<time datetime="2021-10-14T06:12:26.469Z"><code>[2021-10-14T06:12:26.469Z]</code></time> Test passed after 1 failed attempt on <a href="h

[2021-10-14 06:22] overclokk commented on #34550
while still allowing beginners to have all the benefits from learning from a simple structure.

I know I can and I already did for the [theme.json](https://bit.ly/3xl5Gsh) fille with a json generator.

But the issue remains, it's not about to let the beginners learning from a simple structure, they can still learning from every structure in place, no matter what.

You can always make those directo

[2021-10-14 06:34] overclokk commented on #35591
I like this simpler version but I would have used `settings.typography.fontFace` instead, because `fontFamily` is a CSS property and `fontFace` is it too.

I would add also [`font-display`](https://developers.google.com/web/updates/2016/02/font-display) as property and make `src` an array if you have multiple font types.

[2021-10-14 06:38] tellthemachines opened #35618 "Shared state between two instances of Link Control in same block"
### Description

When there are two links in one block, opening the link control and clicking "edit" on one, without saving any changes, will cause the link control of the other one to open in edit mode too. Furthermore, making an edit in one of the link controls and not saving, will cause the edited value from the first link control to show in the second link control when opened.

### Step-by-ste

[2021-10-14 06:41] aristath commented on #35591
The code examples above are just examples and dont' include everything that's possible.
All properties that are valid for `@font-face` can be entered and they all work properly. When implementing the API we accounted for all descriptors listed in https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face#descriptors

When a webfont requires multiple font-files, you can use an array (that's alread

[2021-10-14 06:46] aristath commented on #35591
It's not the same... `settings.typography.webfonts` will be on the same level as `settings.typography.fontFamilies`, `settings.typography.fontSizes`, `settings.typography.customLineHeight` etc. None of those things is a CSS property. 🙂

[2021-10-14 06:48] amieiro commented on #35608
I don't know why the developer used this text. If you see [the blame](https://github.com/WordPress/gutenberg/blame/9df736c678b2e8ef00c355e6cc9fb8092fe25484/packages/components/src/date-time/index.js#L138) (git command), you can see that the developer is @ellatrix, so she could give us more information about the context.

[2021-10-14 07:42] munirkamal commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

Thanks, @bph for the reminder, I missed it earlier.

[2021-10-14 08:12] talldan commented on #35608
This is referring to the Home and End keys on the keyboard. The example given is that pressing Home takes you to the first day of the week and End to the last day of the week.

It's displayed here in the help for the publishing UI where a user sets a publish date for a post:
<img width="292" alt="Screenshot 2021-10-14 at 4 09 52 pm" src="https://user-images.githubusercontent.com/677833/137277525-b

[2021-10-14 08:21] github-actions[bot] opened #35623 "[Flaky Test] the resuling quote after transforming to a heading can be transformed again"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
the resuling quote after transforming to a heading can be transformed again

## Test path
`specs/editor/blocks/quote.test.js`

## Flaky rate (_estimated_)
`20 / 21` runs

## Errors

<details>
<summary>
	<time datetime="2021-10-14T08:21:26.196Z"><code>[2021-10-14T08:21:26.196

[2021-10-14 08:56] gziolo commented on #14446
@landwire, thank you for sharing your feedback. I think it very much aligns with what some other developers struggle with and that's why dynamic block rendering with PHP has been so popular in the community. In fact, it's also what many core blocks from the widgets or theme category use internally to account for their dynamic nature.

I can also see how blocks saved as static HTML might cause trou

[2021-10-14 08:57] hypest opened #35624 "Quote block's deletion doesn't persist"
### Description

Trying to delete a Quote block by backspacing, removes the block from the editor but the block is still there in "Code editor" mode. I'd expect the block to not be there after backspacing it.

Originally [spotted on the mobile app](https://github.com/wordpress-mobile/gutenberg-mobile/issues/4120) but we then noticed that it happens on the web clients too.

### Step-by-step reprodu

[2021-10-14 09:03] aristath commented on #35591
As a proof of concept, I created a draft PR on https://github.com/WordPress/gutenberg/pull/35625. The PR adds a simple function to register the webfonts if they are defined in `settings.typography.webfonts`.
It's probably not the best way to do it, but it can help with testing and experimentation to get the ball rolling 👍

[2021-10-14 09:19] javierarce commented on #35558
Here's an idea. We could indicate that all or some of the values are being calculated dynamically showing a message and replacing the calculated field with a button.

- Clicking the button would reveal the empty field.
- Instead of a label that could be too long in some languages, we could use an icon (I used the asterisk one in my example)
- The message could also link to a document giving more i

[2021-10-14 09:27] Mamaduka commented on #34723
I just created PR to add this enhancement - #35626.

[2021-10-14 09:38] getdave commented on #35618
Related? https://github.com/WordPress/gutenberg/pull/32320

[2021-10-14 09:39] getdave commented on #35618
In https://github.com/WordPress/gutenberg/pull/32320 I suggested forcing a remount of `<LinkControl>` when the `value?.url` changes. Feels quite drastic though.

Other options also listed there. Would appreciate more 👀 to help come to a good solution.

[2021-10-14 09:58] fluiddot commented on #35624
I think this might be related to the changes introduced in https://github.com/WordPress/gutenberg/pull/34241, I tried to reproduce this issue using the previous commit ([`d8808e8`](https://github.com/WordPress/gutenberg/commit/d8808e866ff760766c9eacbeb347c769fd7659ae)) of the PR merge commit ([`39806aa`](https://github.com/WordPress/gutenberg/commit/39806aa26f55b8b1ea246fcf56ba8afe7541bf64)) in `t

[2021-10-14 10:07] chiilog opened #35627 "Get a warning when I set `define( 'SCRIPT_DEBUG', true );`."
### Description

When I set `define( 'SCRIPT_DEBUG', true );` in wp-config.php, if I insert a block with a slash, I get a warning in the console. Note that the block will be displayed correctly.

[code]

If I insert a block from `Toggle block inserter`, the warning will not be displayed.

### Step-by-step reproduction instructions

1. Set `define( 'SCRIPT_DEBUG', true );` in wp-config.php
2. Open

[2021-10-14 10:13] ockham opened #35628 "Border Radius serialized with unit set to `undefined`"
### Description

When setting the border radius via the slider control for any block that supports it, but not changing the default unit (`px`), the latter is serialized in the corresponding block attribute as `undefined`.

Potentially relevant PRs: https://github.com/WordPress/gutenberg/pull/33017 https://github.com/WordPress/gutenberg/pull/33117 cc/ @aaronrobertshaw @ntsekouras @oandregal

Also

[2021-10-14 10:29] jasmussen commented on #35607
Good issue to discuss, good outline of the problem. If I understand it correctly you are suggesting a single value that controls the inner padding of all root level blocks, correct?

As suggested, this value would likely be useful enough for a wide range of themes that leverage the same sectioned design style you outline. At the same time, the behavior it's difficult to picture how the value would

[2021-10-14 10:57] tomalec opened #35630 "Dependency Extraction Webpack Plugin impaired DevX"
Forgive me for the generic title, but I'd like to tackle many interconnected issues related to Dependency Extraction Webpack Plugin (DEWP) and its DevX, as I believe we need a holistic view to solve those.

**TL;DR**
Plugin developers have no control or even introspection over the extracted dependencies. Not only the versions but also the packages being extracted. Which heavily decreases the quali

[2021-10-14 10:57] tomalec commented on #35630
#### L-2 policy
L-2/L-n policy means that the plugin should support only the latest `n` versions behind the current one.
In regards to WordPress & WooCommerce for sure would help to limit the number of combinations we test and check. I'd add one additional rule to that, to be able not to limit the innovation, use the root fixes, instead of working them around over and over again. I’d say we should

[2021-10-14 10:57] tomalec commented on #35630
#### Build/automate WP, WC, plugin version maps

I think that all the data is there (somewhere) we just need a nice and automated way to gather it all in a single place. As mentioned in the comment by @jsnajdr

I’d only add to make it machine **and human-readable**, and for WooCommerce as well.

Conceptually it’s gathering all `package.json`s for respective WP, WC, DEWP, and plugin versions and pu

[2021-10-14 10:58] tomalec commented on #35630
### Make Dependency Extraction Plugin handle dependency versions

I believe we have all the data in place to solve the problem, assuming we already have a way to get granular dependencies’ versions for a given WordPress version. The local `package.json` gives the versions for dependencies in us. WP version (range) is also given in the repo.

I’m not very experienced with Webpack. But to me, the fe

[2021-10-14 10:58] tomalec commented on #35630
#### Add runtime import map shim/resolver

This one could be the trickiest to implement, but if a given WordPress version knows its own granular dependency versions and receive the plugin's map, then theoretically it knows whether the versions match. If so it would do what it does today, and return the import from the WP bundle. If not could point back to the plugins bundle. So the "extended" bund

[2021-10-14 11:00] jameskoster commented on #35587
Related:

If you edit a template that includes no `header` or `footer` template part areas, you also see the strange blank buttons.

[2021-10-14 11:00] jasmussen commented on #35581
In the latest version of the block editor, those margins :should: be removed entirely and replaced by `gap`, which is a more ergonomic way of spacing the items out. I noticed the PR I created has been approved, so I'm tempted to land it, but I'm always happy to follow up on any side effects or missing pieces. What do you think?

Edit: I'm going to go with that for now, but I'm easy to find 👌

[2021-10-14 11:08] jameskoster commented on #35536
Another one that may be specific to template parts:

![inbetween](https://user-images.githubusercontent.com/846565/137306294-ea6ca342-35b0-4eed-84a2-a60bf766975f.gif)

[2021-10-14 11:13] #35581 closed, assigned to jasmussen

[2021-10-14 11:18] jameskoster commented on #35596
In the context of template editing, something like a Post Author block simply needs to output the author of the associated post / page. It should not have options to change the author and so on. So perhaps an all-powerful _user_ block isn't required in this case? Or at least, this would be a stripped-down variation of such a block.

It may be worth checking in with the comments loop block work (#3

[2021-10-14 11:22] kjellr commented on #35607
Classic themes already have an established way to do this for the post and page editor: Standard and wide-aligned blocks use what is essentially a "global padding value" on either side, whereas full-width blocks don't. The full-width blocks are effectively opting out of the global padding. We don't have a mechanism like that for the root-level blocks though.

Sort of. There are a lot of different

[2021-10-14 11:28] ciampo commented on #35464
Another example where updated Heading styles would have turned useful (thank @jasmussen) https://github.com/WordPress/gutenberg/pull/35568#issuecomment-942120232

[2021-10-14 11:28] kjellr commented on #35558
Yeah, I think this makes sense. I'm not sure of the label here — "dynamic" doesn't seem specific enough, and "*" feels maybe a little vague. Maybe "custom"? 🤔

In general, no — I think these values would confuse more users.

Yes, I think so. Some sort of "revert" would be great. I'm not sure if this is possible though, since the value might just come from a pasted-in block pattern. In that case, I

[2021-10-14 11:32] scinos commented on #35630
Just spitballing some ideas:

---

Sounds like [Webpack Module Federation](https://indepth.dev/posts/1173/webpack-5-module-federation-a-game-changer-in-javascript-architecture) could help here. The [official documentation](https://webpack.js.org/concepts/module-federation/) says

If we replace `application -> plugin` and `components -> main dependencies`, it really sound similar to the problem exp

[2021-10-14 11:34] #34723 closed, assigned to Mamaduka

[2021-10-14 11:52] priethor opened #35632 "Switch the Page List block to client-side rendering"
## What problem does this address?
The Navigation block is prone to a lot of direct manipulation to customize its look and feel. Because the Page List block is server-side rendered, its manipulation can offer a poor user experience: user interactions can take a few seconds to apply on certain conditions, and this issue only becomes bigger as more design tools are added.

https://user-images.github

[2021-10-14 11:55] jasmussen commented on #35607
The use case is definitely valid. I'm purely thinking in terms of a solution that carefully threads the needle between user expectation and technical implementation. To an extent, if we could build a nice codepen that extracts a single CSS variable as the padding, that might help iron out the details.

[2021-10-14 12:09] fabiankaegy commented on #34825
Looking at this I do think that it would be nice to have a way for theme authors to define wether they want to support the rich preview of files or not. There are many different usecases where it makes perfect sense to show the inline preview. But there also are many instances where from a design perspective it doesn't make sense. And being able to define that support in the settings of a `theme.j

[2021-10-14 12:30] fabiankaegy commented on #35630
I also have one thing that I think causes a lot of pain points when it comes to working with the DEWP. And that is the inability to tree shake. If you use a singular function from `lodash` for example it adds the dependency `lodash` and therefore the entire library gets loaded. Which is a lot of overhead for a small simple function. And since the request is an external running something like the W

[2021-10-14 12:53] franmastromarino opened #35635 "Cant add new colors in site editor"
### Description

Hello

There is a new issue in gutenberg 11.7.0

Is not possible to add new colors to the color palette

https://www.loom.com/share/c2f6d4ffe96f43c99a485b38508dafdf

https://snipboard.io/H6AsXc.jpg

### Step-by-step reproduction instructions

Go to Site Editor -> Sidebar -> Color -> Add new color

### Screenshots, screen recording, code snippet

_No response_

### Environment info

[2021-10-14 12:58] jacobcassidy opened #35636 "Navigation Block: Flip submenu indicator arrow icon on click/hover"
## What problem does this address?

Currently, when you open a submenu, the downward arrow icon does not change. Ideally, it would flip into an upward arrow when the submenu is open.

## What is your proposed solution?

Add a CSS transform to flip the SVG arrow icon. For example, using the following CSS for on-click submenus:

[code]
![closed-open_submenu](https://user-images.githubusercontent.com

[2021-10-14 13:14] madeinnordeste commented on #34320
To me, works when update wp-env version for ^4.1.2

**package.json**

[code]

is important remove **package-lock.json** case this have a previous version

[2021-10-14 13:21] javierarce commented on #35215
I had never done it before, and the experience of looking for the id was confusing. If we could add an id column to the comments table in the admin, it would be then trivial to explain how to get the ids. I think that could be a good first step.

An enhanced design could include a list of the last X comments plus a search form.

[2021-10-14 14:34] antpb commented on #17162
Is it possible the solution for this could be making the caption respect the alignment of the image? For instance, the image currently initializes left aligned. The caption initializes centered. Is there a reason they aren't the same alignment? It would greatly improve the experience if I added an image block with everything matching the default alignment.

More often than not when I add an image

[2021-10-14 15:37] javierarce commented on #35262
The "Move to" label is a bit confusing for me too, but I think the current behavior of that option could be categorized as a bug since it doesn't reveal the black toolbar right away.

[2021-10-14 15:43] javierarce commented on #34995
Linking to this other issue https://github.com/WordPress/gutenberg/issues/35503 since it's important we implement a common/similar solution.

[2021-10-14 15:58] marekdedic commented on #35576
Hi,
I initially got an error with something related to jest, now I'm getting
[code]

Hope that helps, thanks!

[2021-10-14 16:20] jorgefilipecosta opened #35640 "New color picker: Overview of the bugs"
### Description

- When slowly dragging the color picker the is some unexpected movement on the color picking circle.
- During the first interaction if we click right away on the color picker if it is inside a popover the popover closes unexpectedly.

### Please confirm that you have searched existing issues in the repo.

Yes

### Please confirm that you have tested with all plugins deactivated ex

[2021-10-14 16:25] Mamaduka commented on #35610
The note has been added to the [release post](https://make.wordpress.org/core/2021/10/14/whats-new-in-gutenberg-11-7-october-13th/).

[2021-10-14 16:27] github-actions[bot] opened #35641 "[Flaky Test] should be disabled when post is being saved"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should be disabled when post is being saved

## Test path
`/test/e2e/specs/editor/various/publish-button.spec.js`

## Errors

<time datetime="2021-10-14T16:27:56.542Z"><code>[2021-10-14T16:27:56.542Z]</code></time> Test passed after 1 failed attempt on <a href="https://githu

[2021-10-14 16:46] alpopp commented on #33891
This is so needed. It would also be nice to conditionally remove panels. For example, only certain block styles could get certain panels.

[2021-10-14 16:50] amieiro commented on #35608
Thank you @talldan for the information.
@NekoJonez I suppose you are sure of the context now. Would you like to send a PR?

[2021-10-14 16:51] NekoJonez commented on #35608
Yes. I'll attempt it later today.

[2021-10-14 17:00] mirka opened #35642 "Storybook: Add LTR/RTL switching"
## What problem does this address?

It would be easier to test for RTL language support in our components if there was a text direction switcher in the Storybook.

## What is your proposed solution?

Install an addon like https://storybook.js.org/addons/storybook-rtl-addon. We may also need a mock for `i18n.isRTL()`.

[2021-10-14 17:07] #34527 closed, assigned to nobody

[2021-10-14 17:25] johngodley opened #35643 "Inconsistent inserter and inspector behaviour on large viewport"
### Description

The behaviour of the block inserter and inspector is a little inconsistent when on a large viewport, and depends on the order in which you open them:

- Open block inserter and then open block inspector, and block inserter disappears
- Open block inspector and then open block inserter and both are visible

That is, what sidebars are open depends on the order in which they are open

[2021-10-14 17:25] github-actions[bot] opened #35644 "[Flaky Test] is transformed to a heading if the quote just contains one paragraph"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
is transformed to a heading if the quote just contains one paragraph

## Test path
`specs/editor/blocks/quote.test.js`

## Flaky rate (_estimated_)
`4 / 5` runs

## Errors

<details>
<summary>
	<time datetime="2021-10-14T17:25:12.348Z"><code>[2021-10-14T17:25:12.348Z]</code>

[2021-10-14 17:31] chthonic-ds commented on #35610
Thank you, @Mamaduka!

[2021-10-14 17:31] #35610 closed, assigned to nobody

[2021-10-14 17:46] skorasaurus commented on #35635
I'm able to reproduce this as well on 11.7 although my console error message is different than yours. https://gist.github.com/skorasaurus/89a054c49ce75baaca26bb4b2790d345

I'm using the quadrat theme.

[2021-10-14 18:36] colorful-tones commented on #28356
@youknowriad @aaronrobertshaw  - do you mind providing an update of where Margin support is at please?

I've dug through most of the linked and associated PRs (closed: #30371 and merged: #30608) and I'm still unclear as to the progress, or barriers.

@aaronrobertshaw - I'm thinking that this would not necessarily be targeted at Full Site Editor integration, correct?

@jasmussen - I think that this

[2021-10-14 18:39] colorful-tones commented on #35522
@kjellr I just dropped a request for update on parent Issue: [Consistent dimension controls across blocks. #28356](https://github.com/WordPress/gutenberg/issues/28356). Trying to keep the boulder moving. 😄 👍

[2021-10-14 19:21] kjellr commented on #35522
Thanks, @colorful-tones!

[2021-10-14 19:35] colorful-tones commented on #28356
(Oops, I have no idea _how_ I `closed` this Issue, and just reopened. 🤦  Glad I noticed my mistake.)

[2021-10-14 19:35] dkjensen commented on #31446
@ntsekouras I ended up having to put together a workaround but would love to see this incorporated natively at some point

https://gist.github.com/dkjensen/5190c554420ea2f19987a3f31ac95785

[2021-10-14 19:51] ockham opened #35647 "Migrations are extremely error-prone, and don't scale well"
### Description

I've brought this up before in Slack IIRC, but this time around, I think I have a clearer idea of the problem, and I think it's worth discussing it, so I'm filing this issue.

Migrations are really hard to get right: they're hard to write, to review, and to test. I think that this is mostly because, as [the docs](https://developer.wordpress.org/block-editor/reference-guides/block-

[2021-10-14 19:57] ockham commented on #35647
cc @WordPress/gutenberg-core

[2021-10-14 19:58] mirka opened #35649 "UnitControl: Storybook stories are crashing"
I'm guessing this is just a problem with the Storybook knobs, rather than the component itself. The stories probably need to be reworked a bit.

https://wordpress.github.io/gutenberg/?path=/story/components-unitcontrol--default

[code]

[2021-10-14 20:55] Shailee commented on #31893
I irrevocably consent that the contributions from @shaileesheth came from me and to dual-licensing them under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-10-14 21:54] scruffian opened #35650 "Duotone: User defined filters are ignored if the name matches theme origin filters."
### Description

If a user creates a setting in the `user` origin in theme.json, we override the value in the `core` and `theme` origins.

However with duotone filters, the filter SVG itself is created using `value_func` which calls `gutenberg_render_duotone_filter_preset`, which hooks the SVG to the `wp_footer` action. When a user has the same duotone filter defined in both the theme and user ori

[2021-10-14 22:49] #30422 closed, assigned to desaiuditd

[2021-10-14 22:54] coreymckrill commented on #33476
I would also add the Posts page. If the site is configured with static pages for the Homepage and Posts page, it should output the page title of the Posts page. If the site is configured to show "Your latest posts", perhaps it could default to just "Posts" but then also be customizable via a block attribute?

[2021-10-14 23:07] andrewserong commented on #35628
Interesting issue, thanks for the ping @ockham! I can only recreate this if I click a single time on the `RangeControl` for the border radius, without sliding left or right at all. If I enter a value directly in the `UnitControl`, or if I slide to adjust the range control at all, then the `px` unit is used and updated correctly in the code editor view.

I'll do a bit more digging, but I suspect th

[2021-10-14 23:23] coreymckrill commented on #33476
Also, I think ideally the `type` attribute wouldn't be necessary in this block, because it would be able to automatically identify which type of query it's in and output the appropriate title. That way the block could be used in a block template part that gets reused across multiple types of views.

[2021-10-14 23:30] andrewserong commented on #35628
I've opened a fix in https://github.com/WordPress/gutenberg/pull/35651

[2021-10-15 01:24] shadigaafar opened #35653 "The navigation block links does not work in the front..."
### Description

The navigation block links does not work in the front..., and this due to `pointer-events` set to `none` instead of `unset`.

### Step-by-step reproduction instructions

1. Add a the navigation black to site editor
2. Save and go to the front
3. Try click the nav links

### Screenshots, screen recording, code snippet

_No response_

### Environment info

gutenberg version: 11.7.0

[2021-10-15 02:00] donalirl opened #35654 "Navigation Block: Second-Level Submenus Do Not Work on Click"
### Description

Second-level submenu items are not working in the Navigation block when "Open submenus on click" is toggled on.

### Step-by-step reproduction instructions

1. Insert a Navigation block with a submenu item and a submenu-item of that submenu item
2. In the block's display settings, ensure "open submenu on click" is toggled on
3. View the menu on the site and notice the second-level

[2021-10-15 02:06] glendaviesnz commented on #35654
maybe related to https://github.com/WordPress/gutenberg/issues/35653 ?

[2021-10-15 02:09] talldan commented on #35653
@shadigaafar I can't see anywhere that pointer-events would be set to none in the front end, and I haven't been able to reproduce this issue.

The only thing I do see is that links are set to `none` in some cases in the editor's CSS, so it might be a problem where your theme is loading editor styles on the front-end.

Is there any further info you can provide to help debug this? Thanks.

[2021-10-15 02:15] aaronrobertshaw commented on #28356
Hi @colorful-tones 👋

Thanks for the questions.

Margin support is in place and currently working. It did land in the PR you linked #30608. It's also been adopted in a couple of blocks already e.g. Site Tagline and Site Title.

In case you haven't come across them yet, the following pages on [block supports](https://developer.wordpress.org/block-editor/reference-guides/block-api/block-supports/) a

[2021-10-15 02:20] talldan commented on #35654
I was able to reproduce this. Not sure it's related to #35653. The click event does seem to be triggering correctly and I see the `aria-expanded` attribute toggling correctly. Could be a CSS issue, but having a hard time figuring out exactly what it is. (cc @jasmussen @tellthemachines)

[2021-10-15 02:44] #35628 closed, assigned to andrewserong

[2021-10-15 04:57] Mamaduka commented on #28356
I didn't know this was possible. It might be worth mentioning in "Block Supports" docs.

@colorful-tones silly question, but did you rebuild the plugin after changing `block.json` settings?

A few weeks ago, I forgot that you have to rebuild after changing things in block's `index.php.` Lost an hour debugging a non-existing issue 😅

[2021-10-15 05:35] gziolo commented on #34547
Closed with #35645.

[2021-10-15 05:51] #35058 closed, assigned to aaronrobertshaw

[2021-10-15 06:01] kevin940726 commented on #33879
I believe this was introduced in #29197.

https://github.com/WordPress/gutenberg/blob/5b8bf518f66b2ba14132d533c00d1199aba2c8f6/packages/server-side-render/src/server-side-render.js#L93

I don't really understand this part though. Isn't it a good practice to define all the attributes when registering the block? `block.json` could help with this to share between both frontend and backend code. Could

[2021-10-15 06:33] ntsekouras commented on #31446
Thanks @dkjensen ! It would be great if you opened a PR here and try this out! This way more contributors will be involved and things will move forward.

[2021-10-15 06:45] kevin940726 commented on #30641
Agree. I don't think this is possible with the current architecture. We could perhaps solve this only for the template part focus mode though (when there's a back button), but I'm not sure if it's worth the effort.

[2021-10-15 06:47] kevin940726 commented on #33926
As mentioned in https://github.com/WordPress/gutenberg/issues/30641#issuecomment-944043239, I don't think this is possible now. I think we should mark it as `wont-fix` until we have a proper solution to the underlying architecture?

[2021-10-15 07:07] aaronrobertshaw commented on #35057
A PR has been created addressing as much as possible from the list in the description: https://github.com/WordPress/gutenberg/pull/35658

[2021-10-15 07:49] github-actions[bot] opened #35661 "[Flaky Test] Site blocks should save individually"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
Site blocks should save individually

## Test path
`specs/site-editor/multi-entity-saving.test.js`

## Errors

<time datetime="2021-10-15T07:49:26.796Z"><code>[2021-10-15T07:49:26.796Z]</code></time> Test passed after 1 failed attempt on <a href="https://github.com/WordPress

[2021-10-15 08:33] mtias opened #35662 "Series of bugs and shortcomings faced during 5.9 go/no go prep"
**Compiling a list of bugs, shortcomings, and enhancement ideas I run into when preparing for the go / no go demo.**

- [x] https://github.com/WordPress/gutenberg/issues/35632

There's a lot of small issues related to the roundtrip a `ServerRender` block needs to do for any change and a great showcase for why they should be avoided entirely for any interactive block.

https://user-images.githubuse

[2021-10-15 08:40] ciampo commented on #35628
Hey @ockham, if I understand correctly what you meant, @andrewserong and I discussed it in https://github.com/WordPress/gutenberg/pull/35138#discussion_r716533125 and decided to leave it as a loose `string` type

[2021-10-15 08:48] #35647 closed, assigned to nobody

[2021-10-15 08:49] jasmussen commented on #33091
Per conversation in #35094 there were concerns both with link behavior and the obviousness of patterns where the label is pre-set, so perhaps this is not the best path forward after all. As an exploration, this took it to the extreme, and now having tried it in a branch, we can pull back a little. I'll update the tracking issue as well.

[2021-10-15 08:49] #33091 closed, assigned to nobody

[2021-10-15 09:01] jasmussen commented on #30370
The recent #35568 PR actually accomplished most of what's on this list. Except for this one:

This item was added to embrace one of the patterns being explored for Global Styles in https://github.com/WordPress/gutenberg/issues/34574, but is arguably best tracked separately, as it is a pattern that can/should be applied to all blocks, not just navigation. In that vein, I'm going to close this one,

[2021-10-15 09:01] #30370 closed, assigned to vcanales

[2021-10-15 09:05] sabuz opened #35664 "Changes not saving in FSE"
### Description

When you change something in FSE e.g. add custom class, toggle layout settings etc. and click save, it does not save the changes. I'm facing the issue after updating to 11.5.0. The issue still exists in 11.7.0. If you switch back to 11.4.1 it works as expected.

### Step-by-step reproduction instructions

1. Open a template in FSE
2. Select Header/Footer
3. Add any custom class or

[2021-10-15 09:24] mtias commented on #30370
Another thing we don't have is the "preview". Also using it in practice I think we can add more contextual info for each state. (As in, update the help description based on what option is set to better communicate what is going on.)

[2021-10-15 09:41] mtias commented on #35604
I believe text-decoration has been a bit challenging before? Also font-family is one I'm not sure we should be exposing in local contexts, only in global styles.

If we can divide it in two passes, an initial set would be:

- Font size
- Font style
- Font weight
- Line height
- Text transform
- Letter spacing

With this other list probably needing a more specific revision:

- Font family
- Text de

[2021-10-15 10:53] MaggieCabrera commented on #35662
I suspect that is a Videomaker bug /cc @scruffian

[2021-10-15 11:12] Mamaduka commented on #25612
👋  Parent/child theme.json merging PR is ready for testing. I would appreciate more eyes on this one 🙇

[2021-10-15 11:30] fwazeter commented on #29568
I have a few new thoughts on this: lately we've been developing a lot within themes.json and creating flexible themes that all require similar elements (e.g. brand color, secondary color, monochromatic shades/tints of them, grayscale etc).

Splitting up HSL values in themes.json doesn't work too well in practice because you end up with A) an entirely way tooo huge json file and B) when a user inpu

[2021-10-15 11:30] mirka opened #35665 "Storybook: Migrate Knobs to Controls"
## What problem does this address?

New stories should be written using [Controls](https://storybook.js.org/addons/@storybook/addon-controls/), as this will make things much easier and [Knobs](https://storybook.js.org/addons/@storybook/addon-knobs) are now deprecated.

Because Controls and Knobs are shown in separate panels, to have them both enabled globally is noisy and confusing. It also encour

[2021-10-15 11:44] brylie commented on #34320
I am getting this error on a fresh project created with `npm` version 8 and `node` version 12.22.6.
![image](https://user-images.githubusercontent.com/17307/137482474-c03a16ba-5f85-4194-8b05-4c085117764d.png)

[2021-10-15 11:46] brylie commented on #34320
It seems like the line `RUN pecl install xdebug ‚‚ docker-php-ext-enable xdebug` is doing too much and not failing gracefully.

In my opinion, `xdebug` should be an optional dependency, only when it is explicitly enabled by the developer. I have opened a pull request to that effect: #34324

Granted, PR #34324 is just a work-around and won't resolve the underlying issue causing this error.

[2021-10-15 11:56] brylie commented on #34320
I can confirm @tmdk's observation that the `wordpress` image already contains `xdebug`

![image](https://user-images.githubusercontent.com/17307/137482894-ac48b6ba-6cf3-42bb-829d-be94a8d81719.png)

So, it seems like `@wordpress/env` should not attempt to install `xdebug`.

[2021-10-15 12:05] brylie commented on #34320
Following @tmdk's observation, I've opened a pull request to remove the Xdebug installation code from the `@wordpress/env` Docker container.

https://github.com/WordPress/gutenberg/pull/35667

[2021-10-15 12:34] #32638 closed, assigned to nobody

[2021-10-15 12:41] kjellr commented on #35604
In https://github.com/WordPress/twentytwentytwo/issues/108, we've been discussing strategies for styling hover/focus states for text links (which is more https://github.com/WordPress/gutenberg/issues/27075 territory). Part of that discussion involves implementing more specific `text-decoration` polish. For example, `text-decoration-thickness` and `text-underline-offset`.

Do we think specific rule

[2021-10-15 12:46] ockham commented on #35628
Thanks @ciampo! Yeah, that's what I meant 😄  That comment makes sense. However, I wonder how an `undefined` value could slip through if the type is set to `string`? 🤔  Maybe it's accidentally converted to an `'undefined'` string somewhere? 🤔

[2021-10-15 12:52] ntsekouras commented on #35662
Could we use a `help` text here if we have `ToggleGroupControl` and the value is set to default?

[2021-10-15 12:54] #34286 closed, assigned to jorgefilipecosta

[2021-10-15 13:03] SantosGuillamot commented on #34994
There has been some progress during the last weeks and I'd like to make a quick summary update. These are the issues we have worked on, and the status of each of them:

- [Comment Date block](https://github.com/WordPress/gutenberg/issues/30573): It has already been finished and merged! Thanks @carolinan  for the [Pull Request](https://github.com/WordPress/gutenberg/pull/35112).
- [Comment Author b

[2021-10-15 13:06] scruffian commented on #35662
This was fixed by https://github.com/Automattic/themes/issues/4842

[2021-10-15 13:29] ciampo commented on #35628
Judging by the fix in #35651, could it be that the file where the bug originated from was not type-checked?

[2021-10-15 13:31] Sandstromer commented on #35640
Not sure if same issue, but when I try to use the color picker in the Site Editor to edit a color ~~or add a new color~~, clicking anywhere in the color picker or slider control, the whole Site Editor crashes with a resulting WSOD.

Edit: when editing a color from the color palette, the Site Editor crashes when clicking in the color picker.
When adding a new color, the color picker works fine, but

[2021-10-15 13:34] JustinyAhin commented on #33580
I've just tested this following the steps here, and I can confirm the [patch](https://core.trac.wordpress.org/attachment/ticket/53801/53801_css03.diff) correctly removes the content outputted by `wp_footer()`.

### Testing environment

- WordPress 5.8.1 - Fresh install
- PHP: 7.3.5
- Localhost: Local by Flywheel
- OS: macOS Monterey 12.0
- Browser: Firefox Developer Edition (94.0b6)
- Theme: TT1
-

[2021-10-15 13:45] Sandstromer commented on #35635
Same issue for me too https://github.com/WordPress/gutenberg/issues/35640

When editing a color from the color palette, the Site Editor crashes when clicking anywhere in the color picker or the slider below the picker.

When adding a new color, the color picker works fine, but clicking "Save" button causes the Site Editor to crash.

[2021-10-15 14:03] ciampo opened #35675 "Components: `ColorPicker` "vibrates" when moving the circle slowly"
Initially flagged by @mtias in #35662

https://user-images.githubusercontent.com/548849/137453165-6a360e0c-2ae9-4272-804e-d65d2576af97.mov

[2021-10-15 14:04] julian-stark opened #35676 "Query Block: Current post ID"
Hello,
I would like to output an ACF field in each query loop item. Therefore I need the post_id of the current item. How can I get that?

Thanks,
Julian

[2021-10-15 14:11] #35608 closed, assigned to NekoJonez

[2021-10-15 14:13] ciampo opened #35677 "Components: `ColorPicker` closes randomly on occasions when trying to interact with it"
Initially flagged by @mtias in #35662

[2021-10-15 14:13] ciampo commented on #35677
Hey @mtias , do you have any additional details on how to reproduce this issue?

[2021-10-15 14:18] skorasaurus commented on #35677
overlaps with https://github.com/WordPress/gutenberg/issues/35640

[2021-10-15 14:30] ciampo commented on #35640
@jorgefilipecosta do you mind if we close this issue in favour of #35677 and #35675 ? This way, progress on these issues can be tracked separately.

Overall progress on the `ColorPicker` can be followed in the tracking issue #34284

[2021-10-15 14:59] kjellr opened #35680 "[Block Themes] Consider an FSE-compatible approach to starter content"
The legacy way of providing starter content for themes relied on users visiting the customizer after a fresh install:

Gutenberg currently hides the Customizer, so that's not possible for block themes. For Twenty Twenty-Two (https://github.com/WordPress/twentytwentytwo/issues/116), I'd like to at least have us set a static homepage on a fresh install of the theme, but there's no FSE-based way of m

[2021-10-15 15:54] ryanwelcher commented on #33263
Is there value to adding ES5 examples to each component? Most of the documentation in the developer handbooks have ES5 and ESNext examples and it might be a nice addition here as well.

[2021-10-15 16:12] colorful-tones commented on #28356
@aaronrobertshaw @Mamaduka I did not realize I had to run `npm run build` after. 🤦

Thanks for the helpful links and info and helped me debug further. Margin control is working as expected. 👍

[2021-10-15 16:37] ciampo commented on #33263
I don't think so, ES6 syntax is now supported in all evergreen browsers — although I believe @gziolo is the better person to answer this

[2021-10-15 16:42] colorful-tones commented on #35522
@kjellr I've got a PR opened to try and get margin spacing support in for Post Title block: [Post Title block - add spacing.margin support #35684](https://github.com/WordPress/gutenberg/pull/35684)

[2021-10-15 17:07] mkaz commented on #33263
I agree, I think having two examples is more confusing and all the code in Gutenberg is in ES6/JSX syntax so the quicker we can get developers to that format the easier it will be for them to look at example code across Gutenberg and other sites.

Most React tutorials and other places all use a JSX syntax, so its beneficial in the long run to learn it.

Here's a [reference in documentation about E

[2021-10-15 17:12] kjellr commented on #28356
I may be remembering incorrectly, but I think this runs counter to the way other new features have behaved. For example, when we were rolling out line height controls, I was able to use `lineHeight` in block pattern markup and that value would be respected regardless of whether or not the theme itself opted in.

Either way, I think there's a lot of value in allowing it to be have this way — margin

[2021-10-15 17:18] fluiddot opened #35685 "[Integration tests] Unexpected React state updates when rendering `LinkSettingsNavigation` component"
## Description

Related to [this comment](https://github.com/WordPress/gutenberg/pull/35476#discussion_r728250436), we identified that the React Native testing library is giving the following warning when rendering the `LinkSettingsNavigation` component:
[code]

## Step-by-step reproduction instructions

1. Apply the following patch diff:
[code]
2. Run the command `npm run native test -- link-sett

[2021-10-15 17:24] akmyta commented on #29436
Reporting that I've replicated this issue in [Chrome Version 94.0.4606.81](https://d.pr/i/lX17TA/CN14hDzKHc) and [FF Developer Edition](https://d.pr/i/Rn91ya/sZ9j92IomG) -  macOS Big Sur 11.6. Outcome appears fairly sporadic.
Block Pattern previews are either showing no images and only text or some images with others appearing only with text.

[2021-10-15 17:39] #24864 closed

[2021-10-15 17:49] robrobsn opened #35686 "Navigation Block mobile menu modal doesn't close"
### Description

The mobile menu modal doesn't stay closed after clicking the close icon when the hamburger menu icon is directly underneath the modal's close icon.

AFAICT, the reason is that the modal closes on `touchstart` which exposes the hamburger menu icon underneath and the `touchend` when releasing the mouse button triggers a click on the hamburger menu icon which then opens the menu agai

[2021-10-15 17:53] jakeparis opened #35687 "I would like InnerBlocks component to have the ability to "keepPlaceholderOnBlur""
## What problem does this address?
Currently when I have a block with an empty innerBlocks component, and the block loses focus, the innerBlocks component completely collapses. That causes everything below it to shift up. When performing a copy-paste job to update a page with a new bunch of these blocks, the constant up-and-down shifting of the content is a frustrating experience, and sometimes le

[2021-10-15 18:45] gwwar commented on #34729
I saw this with Skatepark too. BlockPreview already has a viewportWidth prop. Can we provide a similar default for viewportHeight? Patterns that use vh should probably explicitly set this when registering the pattern. In addition to this we can set a max height (so we don't get silly results).

https://user-images.githubusercontent.com/1270189/137536800-3e9057b1-d43b-4d83-9e6a-b9bdee20601c.mp4

[2021-10-15 19:03] Ipstenu commented on #30949
This issue still exists.

[2021-10-15 19:11] kev-mas commented on #33581
Any update on this?

[2021-10-15 19:22] sybrew commented on #33263
Removing ES5 in favor of ES6: I'm OK with that. Great!

Removing ES5 in favor of JSX only: No, please, I don't want to build my code; not all of it pertains to Gutenberg.

Not every one that interacts with Gutenberg creates blocks. This project is bigger than anyone dares to fantom.

[2021-10-15 19:33] annezazu opened #35689 "Featured Image block: enable option to upload an image within the placeholder"
## What problem does this address?

Currently, if you don't have a featured image set for a post, you are shown an empty, non actionable placeholder for the featured image. This makes for either a confusing or lackluster experience where one has to leave the editing experience to find and edit that specific post to add a featured image.

Current view:

<img width="759" alt="Screen Shot 2021-10-15

[2021-10-15 19:48] salcode opened #35690 "Broken link in MenuItem component README.md"
### Description

The link for `Shortcut's shortcut prop` points to `/packages/components/src/shortcut/README.md#shortcut`, which when viewed online creates the link (https://github.com/WordPress/gutenberg/blob/trunk/packages/components/src/shortcut/README.md#shortcut), which is a 404.

https://github.com/WordPress/gutenberg/blob/151b800139188760a3b165f2a665a409b1ff06e9/packages/components/src/menu

[2021-10-15 20:04] ockham commented on #35628
Ah, quite possibly! 😅

[2021-10-15 21:19] karmatosed opened #35692 "Post author: Byline too small"
I am unsure if this is due to the theme, but I don't think it is as seems across a few themes. However, I did see this in TT1 with the latest plugin and Chrome.

![2021-10-15 at 22 12](https://user-images.githubusercontent.com/253067/137554314-72eb8a9c-78ca-4126-89e6-7d092cf33fb2.png)

As you can see 'byline' is incredibly small. My recommendation would be for that to at least be increased by a fo

[2021-10-15 21:22] karmatosed opened #35693 "Post author: show author avatar placeholder"
If you have 'show avatar' selected but there is the placeholder showing, I think showing a placeholder avatar probably makes sense otherwise it looks a little unexpected:

![2021-10-15 at 22 20](https://user-images.githubusercontent.com/253067/137554949-b6812f95-1777-4c67-b5df-7ddae82480f9.png)

[2021-10-15 21:25] karmatosed opened #35694 "Post author: space shows when turn on show bio"
As you turn on the 'show bio' space appears even if the bio doesn't output as there isn't one. You can get this interesting effect:

![2021-10-15 22 23 04](https://user-images.githubusercontent.com/253067/137555237-87883f1f-7458-417d-93f0-66c6c32579f8.gif)

[2021-10-15 21:26] colorful-tones commented on #28356
I feel like this is worth cross-posting, as I already mentioned in #35684

I _really_ like the idea of having preset options for margin/padding, see: [Add a selection of preset spacing values to supplement/replace custom padding/margin options #35306](https://github.com/WordPress/gutenberg/issues/35306).

Similar to Font Size: Small, Medium, Large, Extra-Large. I feel like these values would be a

[2021-10-15 21:27] karmatosed opened #35695 "Post author: consider adding spacing controls"
This block would be great to add spacing controls to because you can add a background color but it ends up looking less than great:

![2021-10-15 at 22 26](https://user-images.githubusercontent.com/253067/137555371-b6a119d1-ab4a-4d8e-9595-7431632d99b7.png)

With just the spacing control it would enable this to have some more granular styling options.

[2021-10-15 21:37] karmatosed opened #35696 "Post comment form input misaligned"
On chrome the input isn't aligned to the action button:

![2021-10-15 at 22 35](https://user-images.githubusercontent.com/253067/137556319-9e9fb393-c8c8-4eca-8f64-d70be45034bf.png)

[2021-10-15 21:38] shadigaafar commented on #35653
@talldan Hi, nothing wrong with menu (except of the "open submenus on click"), you are right, not from the theme though, cos I was testing it on an empty theme. it turns out it was from one of the blocks I was developing which has `wp-edite-blocks` as a dependency and enqueued in the front....

[2021-10-15 21:38] #35653 closed, assigned to nobody

[2021-10-15 21:41] karmatosed opened #35697 "Post excerpt: bring in more controls"
The post excerpt is amazing but it lacks some of the styling options of other blocks and perhaps it could have a few more to make it even more useful.

As you can see when compared in the same place as the Post content block, because it doesn't have layout it sits to one side:

![2021-10-15 at 22 38](https://user-images.githubusercontent.com/253067/137556474-0c627acc-aa56-4133-a185-30d3c11d3350.pn

[2021-10-15 21:43] karmatosed opened #35698 "Post excerpt: add option to adjust length of excerpt"
There is no way to change the length of the excerpt currently for this block. It seems like a really useful feature to perhaps bring into the sidebar in this instance.

![2021-10-15 at 22 43](https://user-images.githubusercontent.com/253067/137556737-5dbae02a-cf10-4f5e-9f0d-78b3d29d35e0.png)

[2021-10-15 21:47] karmatosed opened #35699 "Custom Font Size: add tooltip to button"
The slider icon to show more in typography is very confusing because it doesn't have a tooltip and also isn't that clear as far as iconography goes to what it means.

![2021-10-15 22 45 23](https://user-images.githubusercontent.com/253067/137556945-7ab6420d-95b6-4da2-82c6-c4ca459ef06d.gif)

Once you find it, then you understand however the initial discovery is really hard to work out.

As a side n

[2021-10-15 21:50] karmatosed opened #35700 "Post excerpt: consider adding spacing controls"
One thing could be great to add to this block would be spacing controls because it has background color options and without those, it rapidly looks not so great:

![2021-10-15 at 22 48](https://user-images.githubusercontent.com/253067/137557292-b14a94bd-796a-44f6-80ca-41a3d1fc5f8a.png)

[2021-10-16 00:02] #27261 closed

[2021-10-16 00:17] mkaz commented on #33263
@sybrew No functionality would be removed, just a matter of documentation.

The debate isn't really ES5 vs. ES6, but do we include JSX and non-JSX examples which doubles the requirements for documentation which is already thin. Plus it requires more effort for the non-JSX documentation considering most of the code for Gutenberg is not written that way.

[2021-10-16 01:55] carolinan commented on #35700
🤔 How come it does not have the (.has-background) padding, that other blocks have when a background is added.

-Not saying that can replace proper spacing controls.

[2021-10-16 02:00] carolinan commented on #35698
Hi
I am closing this as a duplicate of https://github.com/WordPress/gutenberg/issues/34757

Here is why the option needed to be removed:
https://github.com/WordPress/gutenberg/pull/33366

[2021-10-16 02:00] #35698 closed, assigned to nobody

[2021-10-16 02:24] abder commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-10-16 02:34] jomurgel commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-10-16 02:51] ACBLDistrict21Webmaster commented on #35022
Actually, I provided the requested information 15 days ago. What else do I need to do? Also, I don't know how to comment on this thread without closing it, so here goes.

I can add that I paid for some WP support from GoDaddy on this issue. They believe that the Gutenberg plugin is conflicting with WP 5.8.1. Since I don't need more Gutenberg functionality than what WP provides, I can delete the pl

[2021-10-16 02:51] #35022 closed, assigned to nobody

[2021-10-16 03:36] chthonic-ds commented on #35607
Has there been consideration given to using a CSS Grid layout to solve for root-level padding? The approach I've been using to manage this very issue looks like this: https://codepen.io/chthonic/pen/mdMeoGN?editors=1100

There's just the single padding value, and no juggling of negative margin values or accidental scrollbar overflow. It's by no means a  perfect solution but it's the one I've kept

[2021-10-16 03:50] noahshrader commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-10-16 04:02] robertsky commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-10-16 04:34] saleehk commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-10-16 06:39] carolinan commented on #28356
Yeah I'm with Kjellr, I might be remembering incorrectly but I think that adding spacing (example) in the HTML file block markup _used to work_ even if the block did not have support for the control.

So where are we at? How do we move forward and complete the steps that are listed for the margin?
1. Enable the margin control flag in some experimental blocks (FSE blocks)

2.  Decide whether it sho

[2021-10-16 07:00] carolinan commented on #35664
Hi
Please include:
Which editor (block editor, template editor, site editor)?
And which block? Is it a specific block or are no changes saving at all?

[2021-10-16 07:03] carolinan commented on #35664
For template part changes to save you need to save the **template**, not the template part.
To save changes to content **inside** template parts, you need to save the template part.
I agree this is very confusing.
Duplicate of https://github.com/WordPress/gutenberg/issues/30732?

[2021-10-16 07:30] maheshwaghmare commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-10-16 07:59] njpanderson commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-10-16 08:32] AlexChariyska commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-10-16 08:34] Nemzag opened #35702 "Gutenberg block lost color icon, and edit show yellow color upon it (mark), saving replace valeur with mark tag & remove style."
### Description

Hi,

In wordpress.com blog,
Gutenberg block lost color icon,

<img src="https://raw.githubusercontent.com/Nemzag/2020-05-05_-_Git-Hub_Issues_shared-pictures_-_img/master/VorzPremsh/issues/bug/2021-10-16_-_10H23_-_color_style_remove_to_replace_with_mark_tag_03.PNG">

and edit show yellow color upon it (mark),
saving replace value with mark tag & remove precedent style.

<img src="h

[2021-10-16 10:31] sabuz commented on #35664
Got you @carolinan. I included a footer using footer block. Prior to 11.5.0, saving changes were effected to my index template which worked as expected. Since 11.5.0 saving changes of footer block are effecting to footer template part. Which is not expected.

[2021-10-16 11:08] strarsis commented on #35560
The site switched from a non-FSE/blocks theme to a FSE/blocks-supporting one, also with different templates.
It seems that the template selected for that page didn't exist in the newly activated theme, hence no valid template was selected for that page. It would be nice if the greyed out editor area could contain a hint for the user, that a valid template has to be selected from the sidebar first

[2021-10-16 11:43] israelshmueli commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-10-16 12:09] sybrew commented on #33263
Thank you for following up. Yes, I was speaking about the documentation. If it so happens that the code works on both ES`/[1-9][0-9]*/` and JSX, then I think it'd be helpful to annotate that. If the code needs different grammar for ES vs JSX, then I think we should still have the option to choose one over the other.

Providing an option would give us the buttons on the doc pages: `ES or JSX` (2 bu

[2021-10-16 14:05] overclokk commented on #34198
Also a `link` element could be a button (or at least styled like a button), so why not add a controller for the block to indicate a `type` of the element, the controller will add a css class to the block we can refer in the theme.json to apply the style, so we could have:

[code]

A CSS class name could be something like `is-type-button` or `has-type-button` or wethever.

This way we only have **o

[2021-10-16 14:10] overclokk commented on #33806
Let's start with some basic idea, styling buttons, for now I add 2 issue to follow here: https://github.com/WordPress/gutenberg/issues/34196 and https://github.com/WordPress/gutenberg/issues/34198

[2021-10-16 14:55] mkaz commented on #33263
To clear it up, we probably should to switch the toggle to "JSX" and "Plain" then it shows one needs a build step and the other is just plain JavaScript that could be run in the browser.

I agree, we should not remove any existing documentation or examples. To me the question is do we have to have a "Plain" example alongside a "JSX" example to merge in new documentation. My thought is no, it shoul

[2021-10-16 15:09] cburton4 commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-10-16 15:09] j-maas opened #35705 "Cannot enter `'` in paragraph block"
### Description

I want to enter bank credentials on the website for an association. The association's name contains an apostrophe, but since most banks only support ASCII, I'd like to write the name in the bank details with a single quote (`'`).

Single quotes get converted to apostrophes in the preview, and there is no way to escape the single quote.

This issue is related to #15816, but I'm con

[2021-10-16 15:10] j-maas commented on #35705
If there is a way I can contribute for this issue, please direct me to where to start looking. :)

[2021-10-16 15:13] octalmage commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-10-16 16:42] mkaz commented on #28812
Closed in #28811

[2021-10-16 16:42] #28812 closed

[2021-10-16 16:51] Clorith commented on #30496
I'll jump in here as well, as I noted this wasn't brought up in the [go/no-go discussion](https://make.wordpress.org/core/2021/10/15/wordpress-5-9-feature-go-no-go-october-14-2021/), nor in any of the [WordPress 5-9 Must-Haves](https://github.com/WordPress/gutenberg/projects/62), but is definitely important to address.

Currently a lot of plugins will (should?) have put settings relating to the vi

[2021-10-16 17:14] rileybrook commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-10-16 19:23] mkaz commented on #28524
Closed in #29856

[2021-10-16 19:23] #28524 closed

[2021-10-16 19:47] github-actions[bot] opened #35707 "[Flaky Test] is transformed to a heading and a quote if the quote contains multiple paragraphs"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
is transformed to a heading and a quote if the quote contains multiple paragraphs

## Test path
`specs/editor/blocks/quote.test.js`

## Flaky rate (_estimated_)
`1 / 2` runs

## Errors

<details>
<summary>
	<time datetime="2021-10-16T19:47:07.794Z"><code>[2021-10-16T19:47:07

[2021-10-16 21:01] karmatosed commented on #35596
Would the idea be to offer a pattern that 'binds' all the blocks together? I say this because whilst splitting makes sense for those that want that control, it also can be very confusing to have so many tiny block pieces everywhere. I think we might want to balance both.

[2021-10-16 21:04] karmatosed commented on #35465
I'm unclear what this means so want to check. Are you proposing that in the same screen you'd be able to switch between mosaic or list?

[2021-10-16 21:53] amustaque97 commented on #34242
:wave: @oandregal, I would love to work on this issue. Could you please highlight some ideas/areas on how to fix this issue?
As per my understanding, `register_block_style` can be called from any custom/user theme or plugin how can we add sanitisation/validation there?
Thank You

[2021-10-16 23:14] ellenbauer commented on #35405
I've been testing the Site Editor now for a while as well and it seems very confusing for me, even now.

I totally agree with Carolina's comment, it seems very difficult for users to get the entire Page Template to change when Replacing a Header or Footer Page Template Part, even though it it was one would think is happening.

[2021-10-17 00:39] Kluny commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-10-17 06:06] joshlmaxwell commented on #12299
Can we talk about everything changing with every update. HTML structure changing among other things. Gutenberg was meant for non-programmers to use, like my clients, but I fight to keep my clients out of Gutenberg because if they see broken blocks (broken because the markup changed in an update) they will blame me, and think my work is shoddy. If they click "attempt block recovery" and the front e

[2021-10-17 08:57] nitrajka commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-10-17 11:34] philohelp commented on #1761
Hi, encountering the same problem here, are there any updates ?

[2021-10-17 13:31] overclokk opened #35708 "theme.json and Global Styles: Bug in generating the CSS custom properties (variables) if the slug contains numbers and letters (e.g.: h1 - h2 - h3 etc)"
### Description

The generation of CSS custom properties (variables) if the slug contains numbers and letters (e.g.: h1 - h2 - h3 etc)) does not work properly for `core/site-title` and `core/post-title` (I do not tested all the blocks but for now I can see the issue in theese 2). The CSS variables generated in the `body` selector are ok but those variables or css class names applyed to post title

[2021-10-17 15:33] stokesman commented on #35687
Could this not be resolved by using a [`template`](https://developer.wordpress.org/block-editor/how-to-guides/block-tutorial/nested-blocks-inner-blocks/#template)? Blocks in the template can have a placeholder and it won't disappear when focus is elsewhere.

[2021-10-17 20:31] paaljoachim commented on #29562
How is this issue and associated PR's coming along?

[2021-10-17 21:56] ephox-mogran commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-10-17 23:04] tiny-james commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

I note that my work on Gutenberg was done contractually for Automattic (via the company Ephox) so they already had all rights to relicense any commits I made.

[2021-10-17 23:32] mirka opened #35709 "AnglePickerControl: Colors are hardcoded instead of admin theme"
The `AnglePickerControl` component uses a hardcoded accent color instead of using the admin theme color.

<img src="https://user-images.githubusercontent.com/555336/137648725-6ac216ac-f426-4d14-9584-ff42d98b2dfe.png" alt="Angle Picker Control with hardcoded accent colors" width="300">

[2021-10-17 23:37] mirka opened #35710 "AnglePickerControl: RTL layout of degree symbol"
Rendered in an RTL language, the degree symbol of the `AnglePickerControl` component is misaligned:

<img src="https://user-images.githubusercontent.com/555336/137648967-8f58e242-fc87-4dce-af18-de4be797ef4b.png" alt="Angle Picker Control in a right-to-left language" width="300">

I don't read any RTL languages, but from looking at Hebrew Wikipedia pages I'm guessing that the symbol is supposed to

[2021-10-18 02:51] gsallman opened #35713 "Image - Full Width Option Missing in Gutenberg 11.7.0"
### Description

When I upload an image I expect to see the Option 'Full Width' for the image. This is not present in Gutenberg 11.7.0, but if I disable the Gutenberg plugin the option is present.

### Step-by-step reproduction instructions

1. Upload an Image  with the 11.7.0 plugin installed
2. Attempt to set it to display 'Full width'
3. Disable the plugin
4. Now try and set the image to 'Full

[2021-10-18 03:31] noisysocks commented on #33926
I checked this one off now that https://github.com/WordPress/gutenberg/pull/35170 is merged meaning you can edit a template part via the ellipsis button in a List View. Perhaps we can revisit having a dedicated icon after WP 5.9.

[2021-10-18 03:38] noisysocks commented on #30641
I agree. These settings are stored in the _template_, it doesn't really make sense for the _template part_ editor to have them. Is there another way of addressing the confusion here? What do you think @mtias?

[2021-10-18 04:00] herewithme commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-10-18 05:13] chthonic-ds commented on #35713
I can see the full-width option with Gutenberg 11.7.0 and WordPress 5.8.1.

![gutenberg-11 7-image-full-width-available](https://user-images.githubusercontent.com/29587253/137671763-8627fea9-d078-4617-8c49-8cff8ed8f9d2.jpg)

(Note: Wide width is missing from my screenshot due to the theme disabling it as an option.)

Is your image inside a parent element with layout support: for example, a Group b

[2021-10-18 05:27] noisysocks opened #35714 "Legacy Widget: Add 'Convert to blocks' to transforms menu"
Great idea @gwwar. If we go with this approach, maybe this option could be separated with a divider line (similar to how Transforms and Styles are separated when they appear in the same popover):

<img width="100%" alt="Transform menu showing convert shortcut at the top of the list in its own section" src="https://user-images.githubusercontent.com/77359364/136969747-47822e6d-ab17-4b07-9443-6522fa7

[2021-10-18 05:30] gziolo commented on #33263
Now that we no longer support IE11, it is no longer necessary to have ES5 examples included. ES6+ or ES2015+ has also been around for more than 6 years, so it’s widely popularized, and it's about time to focus on it.

I agree that we should decide instead whether to include an optional non-JSX version when dealing with React components.

[2021-10-18 06:04] jasmussen commented on #35689
CC: @jameskoster as we just conversed on a separate PR about these placeholders. I also recall you mentioning that items in these loops should perhaps be inert, which might suggest the placeholder disappearing entirely in the shown example?

[2021-10-18 06:09] jasmussen commented on #35604
To expand on this: text-decoration is inherited [all the way down the stack](https://developer.mozilla.org/en-US/docs/Web/CSS/text-decoration), and cannot be unset on an ancestor. So for example if an underlined text decoration is applied to the navigation block, every child element including everything from search fields and other items, get underlines that cannot be unset.

So text-decoration sh

[2021-10-18 06:21] jasmussen commented on #35607
CSS grid [has indeed been considered](https://github.com/WordPress/gutenberg/issues/16998). There's a great deal of complexity to manage in order to strike a balance between intuitive UI and at the same time unlocking the full power of CSS Grid.

In this case, however, it would be a similar UX problem: currently the padding value is applied to the `body` element. Both CSS grid and negative margin

[2021-10-18 06:21] carolinan commented on #34550
@gziolo @youknowriad @jffng
A decision needs to be made about this -**at least short term, for 5.9**, because this proposed core change will depend on it:
[Allow block themes to be activated without index.php](https://core.trac.wordpress.org/ticket/54272)
(There needs to be a failproof way to identify a block theme.)

[2021-10-18 06:32] noisysocks commented on #26901
It seems then that the only action required here is to add a setting that equates to `align-wide`?

[2021-10-18 07:10] carolinan commented on #26901
Isn't `align-wide`  the layout setting? If you do not include that in theme.json, the wide and full width is not enabled.

[2021-10-18 07:23] gziolo commented on #35630
There are also some related issues to WordPress dependencies and their relation with npm packages published:
- Add hardcoded package versions to files (https://github.com/WordPress/gutenberg/issues/16623)
- dist-tags to associate package and WordPress versions (https://github.com/WordPress/gutenberg/issues/24376)

In practice, it is more complex because sites with the Gutenberg plugin installed wi

[2021-10-18 07:24] asvinb commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-10-18 07:24] #35642 closed, assigned to mirka

[2021-10-18 07:24] #35403 closed, assigned to audrasjb

[2021-10-18 07:27] noisysocks commented on #35680
Thinking about this... it's a tricky problem, excuse the rough notes! 😅

This is how starter content works currently:

- If the `fresh_site` option is set then we import a bunch of fake posts, widgets, menus into the current Customizer changeset on `after_theme_setup`.
- This appears in the Customizer because the Customizer will use the current URL to determine which templates to render. For examp

[2021-10-18 07:41] jsnajdr commented on #35630
@fabiankaegy If the `lodash` package is externalized, it means that the compiled JS is going to run on a WordPress page and will be loaded with `wp_enqueue_script()` that declares a `lodash` dependency. In other words, `lodash` comes from the WordPress platform which provides it only as the entire library, not as individual functions. There's no opportunity for any tree shaking.

Tree shaking is a

[2021-10-18 07:50] fabiankaegy commented on #35630
@jsnajdr Yeah I do understand the technical reason for it :) I only wanted to raise it here because I believe that since it happens behind the scenes it is not as obvious while you are developing and therefore a pitfall that you can very easily fall into.

And so either we can take a look at better ways of reporting the impact that your externalized imports will have on the end-user, or find a tec

[2021-10-18 08:10] youknowriad commented on #26901
yes `align-wide` is kind of deprecated for block themes.

[2021-10-18 08:10] youknowriad commented on #26901
Let's close this for now.

[2021-10-18 08:10] #26901 closed

[2021-10-18 08:13] jasmussen commented on #35662
Site logo fixed in #35718.

#35637 removes dotted lines on ancestors. That fixes, or starts work on it.

#35688 starts work on it. The issue is also tracked separately in #31127.

[2021-10-18 08:14] #35500 closed, assigned to nobody

[2021-10-18 08:17] jsnajdr commented on #35630
This kind of reporting is most useful if the developer can do anything about the reported issues, but here I'm afraid they can't do anything. It's a shortcoming of the WordPress platform. So, my plugin uses the `@wordpress/components` package, and the tool tells me that this package is a big monolithic blob -- there is nothing actionable about this report.

The only viable solution is to create sm

[2021-10-18 08:23] jdevalk commented on #34106
@gziolo @mtias this is a very dangerous issue, so please make sure the proposed fixes work with SEO plugins like Yoast SEO and others too. Currently it doesn’t seem to.

[2021-10-18 08:26] sathyapulse opened #35719 "Block editor performance issues with reusable blocks"
### Description

We encountered a situation where the block editor suffers from performance issues when used with thousands of reusable blocks. The loading approach of the reusable blocks has been changed with the newer version of WordPress for a better user experience. The older version of the block editor loads (from API) and renders the reusable blocks after the Inserter icon is clicked. The ap

[2021-10-18 08:36] khoipro commented on #13339
I believe this case is no longer need because with core/group we could wrap it well.

[2021-10-18 08:40] #35654 closed, assigned to jasmussen

[2021-10-18 08:51] CreativeDive commented on #12299
@joshlmaxwell I'm all with you. It's very hard to keep up to date when a website is based on the Gutenberg editor. Things that break after every Gutenberg release, and the list of Github problems keeps getting longer. I think the Gutenberg project is too complex and it is very difficult for the Gutenberg team to keep track of everything.

We can only hope that things will get better quickly and th

[2021-10-18 09:00] jasmussen commented on #35549
I couldn't actually reproduce this one, despite testing with trunk and empty theme. Can you try your steps again on latest trunk? Nevertheless there was an issue I discovered in trying to reproduce this, which _could_ potentially cause the issue you're seeing, so I pushed some tweaks in #35722 which might help here.

[2021-10-18 09:01] MaggieCabrera commented on #35522
This is happening with padding too, when applied to the markup of the template, it only shows up with padding in the editor, not the frontend.

[2021-10-18 09:03] chthonic-ds commented on #35607
The exploration in #16998 appears broader in that it conflates managing inner layout, too, whereas  https://github.com/WordPress/gutenberg/issues/35607#issuecomment-944848693 is solely concerned with how blocks should be constrained in relation to the edge of the browser. I've personally found it difficult to pass on having the ability to intrinsically determine a block's width without needing to

[2021-10-18 09:09] jasmussen commented on #35607
It's not necessarily a no-go, it's just a difficult UI challenge to surface this padding we agree on in a place that intuitively communicates that it affects the inner spacing of multiple blocks, just not full-wide ones.

That said, conceptually I appreciate how CSS grid has a "gutter" property which feels like something you should be setting in one place, not multiple (even though you can). This

[2021-10-18 09:57] jasmussen commented on #34648
I think #35725 fixes this one, and per @ockham's suggestion, it simply removes the extra specificity, which is always good to remove. The only gotcha is that I recall that specificity as being _necessary_, but I don't recall why, other than it being related to how colors were output by global styles at the time. But hopefully there are no ill side effects and this one gets addressed in the process

[2021-10-18 10:24] ntsekouras commented on #35689
Actually there is a way of uploading a featured image in the Placeholder. The above view is actually due to the not `editable` post blocks inside `Query Loop`. So maybe this issue is more related to the `editable/non-editable` post blocks?

[2021-10-18 10:30] gingerling commented on #33094
Thank you this is great, I'm planning now to wait for this feature rather than work around it. I'm hoping to be able to work on testing for storefront if it will be incorporating this block theme approach. Really impressed with wordpress development speed and direction right now.

[2021-10-18 10:37] ntsekouras commented on #35676
Hey @julian-stark 👋 - You can consume the `postId` in a block by declaring in that block's `block.json` it uses this context ([example here](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/post-date/block.json#L20)) and then consume it in [client](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/post-date/edit.js#L33) and [server side](https

[2021-10-18 10:51] ntsekouras commented on #35531
In such scenarios many blocks have similar problems like `Cover`, `Image`, etc... It seems we get back to the `Placeholders` patterns and usage.

[2021-10-18 11:06] uniquesolution commented on #12684
the cover block should also support an external image link as cover image, as how its provided in image block. Because basically when I create a pattern I simply use any external stock image url or https://picsum.photos/ image.

[2021-10-18 11:10] #31312 closed, assigned to nobody

[2021-10-18 11:11] Mamaduka commented on #30296
Fixed via #29916.

[2021-10-18 11:11] #30296 closed, assigned to Mamaduka

[2021-10-18 11:12] #32818 closed, assigned to Mamaduka

[2021-10-18 11:19] tomalec commented on #35630
In my opinion, it even adds more importance to this issue. As if the [README of DEWP](https://github.com/WordPress/gutenberg/blob/trunk/packages/dependency-extraction-webpack-plugin/README.md) would state:

Then I as a plugin developer would do everything to avoid it as much as I can. To be able to assert not only the quality of my product, security, and integrity of the data.

-----

Having it so

[2021-10-18 11:31] #35624 closed, assigned to youknowriad

[2021-10-18 11:43] tomalec commented on #35630
I think that kind of reporting still have some value ;) having it clearly stated, that "Hey, by using DEWP, your ``@wordpress/components`` could become anything" Could help the developer make a conscious decision whether to use it or not. Personally, it took me ~6 months of using DEWP [to realize](https://github.com/woocommerce/woocommerce-admin/issues/7810) that the package I externalized is not

[2021-10-18 11:45] jameskoster commented on #35596
More than one pattern, I hope!

[2021-10-18 11:53] oandregal opened #35727 "The style hook serializes every property independently from block support"
### Description

While working on migrating the font family hook from `style` to `class` I've noticed the style hook serialized to `style` any property that it contains, independently from the block supports.

### Step-by-step reproduction instructions

Steps to reproduce:

1. Add a block (for example, list) and set a custom color for the text (it's serialized within `style`). This is now the bloc

[2021-10-18 11:54] jameskoster commented on #35465
Yes, rough example:

![grid-list](https://user-images.githubusercontent.com/846565/137725354-7af95ac2-93af-4611-8566-455277a04122.gif)

[2021-10-18 11:56] oandregal commented on #35727
I'd argue that the block should not have the style serialized to `style` in that particular case, so it'll become invalid because the original content does have the `style`.

However, another thing to consider is filtering: if a third-party (theme through `theme.json`, a plugin, etc) disables the color, I wouldn't expect the block to be invalidated, though.

[2021-10-18 12:32] carolinan commented on #35727
Can it c) not have the color, but also not cause an error message? Can it self repair?

[2021-10-18 12:37] overclokk commented on #34550
I like that, and maybe the theme may have the html templates directly in the root of the theme folder (so, we don't need a block-template dir).

[2021-10-18 12:41] youknowriad commented on #35662
I've been trying but failing to reproduce this one. Any more details?

[2021-10-18 12:42] #35584 closed, assigned to ntsekouras

[2021-10-18 12:57] chad1008 opened #35730 "Editor styles are applied inconsistently for themes that do not support theme.json"
### Description

If a theme does not support theme.json, editor styles are not applied on some themes, and text is rendered in the browser's default font.

This appears to have been introduced in #35424, when the check for `WP_Theme_JSON_Resolver_Gutenberg::theme_has_support()` was removed.

In testing a few different themes, it does appear there are theme-specific variables at play as well, and n

[2021-10-18 13:06] yansern commented on #34262
I'm not familiar with Copy & Paste operations so this might be completely wrong. A quick investigation into `use-paste-handler.js` shows that the `create()` function returns plain text, ignoring the `multilineWrapperTags` param.

![image](https://user-images.githubusercontent.com/1287077/137736108-89639a9b-c6b8-4de0-ac56-8aee3dd6345f.png)

Will be digging into why `multilineWrapperTags` param is i

[2021-10-18 13:19] kjellr opened #35732 "[Post Comments Block] Displays "Comments are closed" messages on pages, even when comments have never been open"
Using any block theme, if you place a Comments block on a page template, you'll see a "Comments are closed" message to indicate that comments are closed.

This is expected when comments have been open in the past. However, the message also shows up when no comments exist for a page, and that page has never had comments open in the first place. This seems wrong, and there's no way for the user to h

[2021-10-18 13:20] oandregal commented on #35727
We'd need to do the same transformation for the front-end.

[2021-10-18 13:23] Mamaduka commented on #25612
Now that parent/child theme merging has landed in `trunk`; we can close the general issue.

@oandregal, what do you think?

[2021-10-18 13:39] carolinan commented on #35732
I think this would be solved "magically" when the block is split and no longer uses the comments_template function?
_But will it be split in time?_

[2021-10-18 13:41] audrasjb commented on #35732
Indeed Gutenberg could use its own Comments template wrapper, however honestly if it's only to remove this message, I think the filter I proposed in [#54283](https://core.trac.wordpress.org/ticket/54283) is the easier approach to get a quick and satisfying result.

But the way, we need the comment block proposed in [PR#127](https://github.com/WordPress/twentytwentytwo/pull/127) on page block templ

[2021-10-18 13:42] audrasjb commented on #35732
and thanks @kjellr for opening an issue here!

[2021-10-18 13:46] jasmussen commented on #35662
I'm seeing it happen in my block theme when toggling the editor styles off in preferences:
![colors](https://user-images.githubusercontent.com/1204802/137743873-8653557b-c7e1-480b-9c1e-21d32d2e5ed4.gif)

[2021-10-18 13:50] jameskoster commented on #35689
The Featured Image needs to entertain three scenarios:

1. Data source present, no featured image set.
2. Data source present, featured image set.
3. No data source present.

In scenario one we need to render a placeholder which illustrates where the featured image would appear if set, and serve as a method to set it. In scenario two it must be possible to replace, or unset the current featured im

[2021-10-18 13:57] julian-stark commented on #35676
thank you @ntsekouras
seems not too easy with my limited gutenberg dev experience 😃 would I "extend" the current query block?

[2021-10-18 14:26] guarani opened #35733 "[RNMobile]: Split pasted content correctly between title and body"
## What problem does this address?

In the native mobile editor, it's not possible to paste content into the editor title field and have it split correctly between the title and body.

| Web | Native Mobile |
| - | - |
| <img src="https://user-images.githubusercontent.com/1898325/137749698-224e1760-0970-4015-ae9f-d24370e8f7e1.gif" alt="Screen recording showing how pasted text in the title field of

[2021-10-18 14:31] oandregal commented on #35730
Hey, thanks for reporting.

I can indeed confirm that removing [this check](https://github.com/WordPress/gutenberg/pull/35424/files#r724332466) has caused this bug. I'm a bit puzzled as to why, though.

My best hypothesis at the moment is that removing this check has surfaced at an existing bug that was dormant. I checked and, for the Nucleare theme, if the `$settings['styles']` is empty after [th

[2021-10-18 14:36] ntsekouras commented on #35676
Can you describe more your use case? I thought you have created a block that would like to have `postId` inside `Query Loop`..

[2021-10-18 14:58] kjellr opened #35735 "[Quote, Pullquote Blocks] Allow theme.json customizations of the citation fields"
Currently, `theme.json` does not let you style the citation field for the Quote and Pullquote blocks.

It should be possible to (for example), set a font size for the main quote, and set a specific font size for the citation as well.  Or to use different fonts for each. Here's some pseudocode for example:

[code]

Here's an example of what we'd like to achieve for the pullquote block in Twenty Twe

[2021-10-18 15:04] ZebulanStanphill commented on #35735
It's worth noting that there have been plans to convert the Quote (and presumably also the Pullquote) to use nested blocks (#15486), and one of the things that would likely change alongside that is the markup of the blocks, in order to match the latest WHATWG spec. See https://github.com/WordPress/gutenberg/pull/25892/files#r589615279. Not sure if that has any effect on this issue, but I figured I

[2021-10-18 15:18] oandregal commented on #35730
mmm, I think I've got a lead. At https://github.com/WordPress/gutenberg/pull/34439 (Gutenberg 11.5) we added some styles for themes that didn't add any editor styles. Nucleare is one of such themes. However, by doing https://github.com/WordPress/gutenberg/pull/35424 all the themes provide _some_ styles: at least there are the core presets.

I'm exploring a potential fix at https://github.com/WordP

[2021-10-18 15:28] scinos commented on #35630
Could you elaborate on that? Does that mean that if I use `@wordpress/components@1.0.0` in my plugin, DEWP can replace it by a version that is not published anywhere?

[2021-10-18 15:35] tomalec commented on #35630
AFAIK, yes. At least for WooCommerce https://github.com/woocommerce/woocommerce-admin/issues/7628

But I'd appreciate a more elaborate explanation too. I'm curious what's the rationale behind it, and what value it brings? From a plugin developer perspective, I see a lot of downsides.

[2021-10-18 15:41] oandregal commented on #35730
Created a second PR at https://github.com/WordPress/gutenberg/pull/35737 I think this is a better approach, but would like to hear people's thoughts.

[2021-10-18 15:43] dougwollison commented on #13339
@khoipro could you elaborate? It sounds like you're suggesting manually wrapping an entire page's content in a group block and applying an arbitrary class to it, which I can't see as being a viable solution.

[2021-10-18 16:00] tomalec commented on #24376
As a plugin dev folk, I do see a great value in dist-tags, and think such tool is already there: [`npm outdated`](https://docs.npmjs.com/cli/v7/commands/npm-outdated)

Consider, I saved my dist-tag dependency as `{ "@wordpress/i18n": "wp-5.4" }` which resolved initially to `3.9.0`. Then `wp-5.4` line updates it to `3.10.0`, so I can call `npm outdated` in my plugin repo:
[code]
(With a nice red co

[2021-10-18 16:32] Sandstromer opened #35738 "Media & Text - image is stretched vertically on front end"
### Description

In the Media & Text block the image is stretched vertically on the front end.

The image is not stretched in the editor as the `.block-editor__container img` CSS contains `height: auto`.

However on the front end `height: auto` is missing from the block styling: `.wp-block-media-text__media img, .wp-block-media-text__media video`

### Step-by-step reproduction instructions

Add a

[2021-10-18 16:44] kjellr opened #35740 "[Quote Block] Indentation and left border is not in sync between the front-end and the editor"
By default (when a theme provides no styles), a quote block appears like this in the editor:

<img width="244" alt="Screen Shot 2021-10-18 at 12 41 06 PM" src="https://user-images.githubusercontent.com/1202812/137773129-b35e5ebf-980f-4dfc-9ac5-018285e5d64c.png">

Note the pink alignment guides I've added in the screenshot. The quote is indented inside of the surrounding paragraph blocks. This inde

[2021-10-18 16:48] annezazu commented on #25198
More feedback around this experience has come up [in the tenth call for testing for the FSE Outreach Program](https://make.wordpress.org/test/2021/09/29/fse-program-testing-call-10-pattern-party/#comment-2131). This seems to be a repeated point of confusion:

[2021-10-18 16:51] anteksiler commented on #13339
@khoipro it is not the same thing :)

[2021-10-18 17:00] annezazu opened #35741 "Post Title block: Consider having the "Make title a link" setting on by default in Query Loop context"
## What problem does this address?

This was brought up as part of the [tenth call for testing for the FSE Outreach Program](https://make.wordpress.org/test/2021/09/29/fse-program-testing-call-10-pattern-party/#comment-2131):

Currently, if you add a pattern built into the Query Loop block, the option is on by default. However, if you add the Post Title block in isolation to the Query Loop, the op

[2021-10-18 17:13] pbking opened #35742 "Navigation Block expands to fill all available space, breaks justification."
### Description

Seemingly due to this change the `wp-block-navigation__responsive-container`  class now has a `width:100%` which causes the container to fill all available space.  This breaks the justification of the menu layout, particularly right-aligned content such as Blockbase's header (as noted in [this related issue](https://github.com/Automattic/themes/issues/4860)).

### Step-by-step rep

[2021-10-18 17:58] julian-stark commented on #35676
I would like to use the default query loop block. For each post displayed by the loop I would like to output a custom field (ACF) which shows a date in the future (besides title, and content).

To accomplish that easily I would use a shortcode (I fear you don't like to read this 😨  ). In the shortcode I need to get the current postID of the query loop to use it in the get_field() function.

[2021-10-18 18:32] jasmussen commented on #35742
Thanks for the ticket. Can you try this against latest version of trunk? Just 5 hours ago I merged a change which I think might have fixed this: https://github.com/WordPress/gutenberg/pull/35722

[2021-10-18 19:30] jffng commented on #35322
When "sticky posts" are set to "Include" and "Inherit query from template" is also true, what is the intended behavior? Are the sticky posts supposed to appear first, or in the order they were published?

Currently it works like the latter, and I'm not sure if that's a bug related to this issue.

[2021-10-18 19:31] pbking commented on #35742
I pulled recent changes to /trunk and indeed the problem persists.

It is only an issue when the block is in a container with display:flex as illustrated here:
[code]

The problem is coupled with an attribute that Blockbase applies to the header to achieve the design target:
[code]
So the two things don't play nice together.

It may be that the same design target can be achieved using a  between t

[2021-10-18 19:46] jeff-be commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-10-18 20:25] anton-vlasenko commented on #35045
@adamziel

When you say it would be helpful to log warnings, do you mean simple browser console warnings?
Or do we need something more complicated?

[2021-10-18 20:29] Pulmunen commented on #35635
I'm coming across the same/similar issue to Sandstromer, here's my information:
Go to Site Editor -> Styles [navigator screen] -> Colors -> Palette and try to add a colour or edit a colour from the palette, the site editor crashes (styles panel closes, main content area goes blank).

Workaround: change/add colours in the relevant (child) theme's json.

https://www.loom.com/share/2caf3049157046209f

[2021-10-18 22:14] ZebulanStanphill commented on #34352
The term "synced" is definitely a massive improvement over the current terminology. "Reusable" is a term that could apply to almost every block you can copy-paste, and the older "shared" (remember that?) would have sounded like "sharing to the repository".

"Synced" brings to mind cloud storage, which is pretty close to how the feature works. Additionally, it is something that could not be applied

[2021-10-18 22:38] glendaviesnz commented on #35738
I wasn't able to replicate this on WP 5.8.1 & Gutenberg 11.7 with TwentyTwentyOne or TwentyTwentyOne-Blocks themes:

<img width="938" alt="Screen Shot 2021-10-19 at 11 34 06 AM" src="https://user-images.githubusercontent.com/3629020/137815827-2a700868-13a4-4918-8c5a-15dda3edfa03.png">

@Sandstromer which version of Gutenberg and which theme are you using when you get this problem?

[2021-10-18 22:59] bph commented on #34352
Thinking of other apps
"Stored Info Blocks"
"Canned snippets"
"Content snippets" (:-)

[2021-10-18 23:44] scheinercc commented on #13154
@javierarce do you know if there is any time estimate on this? I saw it is listed under "Bugs" in #32400 - but they don't have a obvious priority.

[2021-10-19 00:16] ndiego commented on #34352
I personally think that the word "synced" is a bit confusing. It makes sense when you know how these blocks work, but I don't think it really improves things for a new user.  It's also kind of a tricky word on its own and is not common vernacular.

What about a more general term that emphasizes that these blocks are used throughout the user's website.  I am thinking something like "Global" blocks?

[2021-10-19 00:36] #35057 closed, assigned to aaronrobertshaw

[2021-10-19 01:33] andrewserong opened #35744 "Refactor `@wordpress/components` package to TypeScript"
Related to #30503, #28399 and #27484

### Context ✨

We would like to refactor the entire `@wordpress/components` package to TypeScript.

Some components are already written in TypeScript, while the majority of the code is still written in JavaScript.

By refactoring the whole package to TypeScript, we would be able to take advantage of type safety, while also providing first-party types to the pa

[2021-10-19 01:58] michalczaplinski commented on #35000
A stub of this block is created in the https://github.com/WordPress/gutenberg/pull/35231 PR.

[2021-10-19 02:24] #34525 closed, assigned to ramonjd

[2021-10-19 02:59] noisysocks commented on #35480
`iconColorValue` and `iconBackgroundColorValue` exist as fallback attributes so that the colour remains if you switch to a theme that doesn't have a colour named e.g. `primary`.

https://github.com/WordPress/gutenberg/blob/b1d8f7af02f3c3bb5949efb702d0f3dd215e1185/packages/block-library/src/social-links/edit.js#L172-L174

The reason this bug happens is because Social Links passes the fallback attri

[2021-10-19 03:46] glendaviesnz commented on #35386
@talldan is correct that the current core gallery block does not offer a lightbox type function that allows you to open the full version of the gallery and scroll through them. It requires a plugin to do this, so probably the next step is to check your installed plugins and see if one of them is related to this, and if so post a question to their support forum.

@jinlarse one other thing you might

[2021-10-19 03:46] #35386 closed, assigned to nobody

[2021-10-19 03:54] glendaviesnz commented on #35366
I was able to replicate this. The video block was added as expected but the error still displayed:
<img width="1170" alt="Screen Shot 2021-10-19 at 4 53 45 PM" src="https://user-images.githubusercontent.com/3629020/137841224-d779db47-b0ed-459f-aabd-af15d1d7c017.png">

I think it is related to some of the changes with the refactored gallery block so have added to that project board.

[2021-10-19 03:55] noisysocks commented on #35662
I can look into this.

[2021-10-19 03:56] noisysocks opened #35745 "Pages List server-render component is ill-suited and needs to be converted to a proper editor block."
There's a lot of small issues related to the roundtrip a `ServerRender` block needs to do for any change and a great showcase for why they should be avoided entirely for any interactive block.

https://user-images.githubusercontent.com/548849/137452684-d2522c35-3f41-4749-8fcd-76e5fbfef0ad.mov

[2021-10-19 04:04] noisysocks commented on #35745
Oops, we already have https://github.com/WordPress/gutenberg/issues/35632 to track this.

[2021-10-19 04:04] #35745 closed, assigned to noisysocks

[2021-10-19 04:07] placoderm commented on #34352
I agree. For a non-specialist, this really doesn't have any meaning. I think global is an improvement. How about "site wide"?

What do the major page builders call them? Because they have had them for years before Gutenberg.

Aren't reusable blocks really a _collection of reusable blocks_? And is that collection really anything different from a widget area? I think if WordPress 5.x were to drop do

[2021-10-19 04:36] ZebulanStanphill commented on #34352
- Avada: [global elements](https://theme-fusion.com/documentation/avada/library/avada-builder-library-global-elements/)
- Beaver Builder: [(saved) global modules/columns/rows](https://docs.wpbeaverbuilder.com/beaver-builder/layouts/templates/save-a-row-column-or-module-for-reuse)
- Brizy: [global blocks](https://support.brizy.io/hc/en-us/articles/360031707651-How-to-use-global-blocks)
- Divi: [glo

[2021-10-19 04:44] Mamaduka commented on #35738
I think the issue was fixed via #30092 and should be part of Gutenberg 11.8.

[2021-10-19 04:48] github-actions[bot] opened #35748 "[Flaky Test] is transformed to a heading and a quote if the quote contains a citation"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
is transformed to a heading and a quote if the quote contains a citation

## Test path
`specs/editor/blocks/quote.test.js`

## Flaky rate (_estimated_)
`0 / 0` runs

## Errors

<details>
<summary>
	<time datetime="2021-10-19T04:48:09.355Z"><code>[2021-10-19T04:48:09.355Z]</c

[2021-10-19 05:07] Mamaduka commented on #35483
It should be fixed via #35534.

[2021-10-19 05:16] JosVelasco commented on #34352
Global blocks sounds better to me, reminds me about global variables with global scope. Synced blocks imply sincronization even for the first time of being created. Also, the word synced is too long for a lot of languages.

[2021-10-19 06:02] aaronrobertshaw commented on #35480
Sorry I'm late to the conversation on this!

From memory, the issue regarding the loss of a named color selection when switching themes was raised in the review of the PR [implementing the color options for the social links](https://github.com/WordPress/gutenberg/pull/28084) block. I don't feel strongly about maintaining this behaviour.

The current colors implementation for the social links was a

[2021-10-19 06:41] ntsekouras commented on #25198
@jameskoster any design input for this? 🙇

[2021-10-19 06:53] ntsekouras commented on #35741
Actually it is a bit as it seems we need to find a solution soon for dynamic block deprecations. See discussion: https://github.com/WordPress/gutenberg/discussions/35663.

The problem here is that while the client/editor deprecation is easy, in the server side we don't have a way to know what default value to set.. 😨

[2021-10-19 06:57] ntsekouras commented on #35676
So is this date a custom block of yours? If yes the [above comment](https://github.com/WordPress/gutenberg/issues/35676#issuecomment-945634661) should do.

[2021-10-19 07:11] svandragt commented on #34352
I maintain a reference page to explain the multiple block types. Hopefully this add context for those picking a name that is descriptive not just to authors but also compared to the other block-types. Naming is hard, so it’s great to see the effort here.

https://brain.vandragt.com/books/wordpress/page/blocks-in-simple-english

I would suggest as the aim is to surface content in multiple places, t

[2021-10-19 07:11] shadigaafar commented on #17965
I get the same error on custom block....

[2021-10-19 07:16] kevin940726 commented on #35269
Another way of thinking this is to investigate why it takes so long to initialize from scratch (cold start time), and focus on fixing that in our app since it's probably also affecting our end users as well.

[2021-10-19 07:17] jasmussen commented on #25198
There will likely be cases in the future where we have a particular control available both in the inspector, and in the block toolbar. I'm thinking for example background color options for the Cover block. Given that as a pattern, it could make sense to visualize what it might look like if a query options panel held these options, with the same contents of the panel duplicated in the block toolbar

[2021-10-19 07:50] pshemek commented on #34352
My vote goes to "global". It's intuitive even in non-English world.

[2021-10-19 07:50] julian-stark commented on #35676
My hope was that there is something like the get_the_ID() function for the query block that allows me to get the current query block post_ID in a php function used for a shortcode.

but thank you!

[2021-10-19 07:58] aaronrobertshaw commented on #28356
Towards the end of last year and the start of 2021, there was a wave of new block support features including borders and further typography tools. It led to a decision that all new block support features should require opt-in at both the block and theme levels.

This was aimed towards managing the proliferation of panels and fields within the Inspector Controls and Global Styles sidebars while als

[2021-10-19 08:05] MaggieCabrera commented on #28356
Just chiming in to say that although margin controls usually work fine on most blocks I've encountered some that give you errors such as:

[code]

<img width="750" alt="Screenshot 2021-10-19 at 10 05 19" src="https://user-images.githubusercontent.com/3593343/137868954-7894b2ac-7a6b-44df-95ca-dc1b469cf3d1.png">

While showing up correctly in the frontend.

[2021-10-19 08:07] placoderm commented on #34352
That's an interesting idea. Again I come back to the question of what, on a practical level, is the difference between a group of reusable blocks an a widget area made of blocks? If they are all just groups of blocks with content, how are they essentially different?

[2021-10-19 08:18] ntsekouras commented on #35676
I'm not sure if I was helpful here 😄 . Do you need any clarifications? If not, should we close this issue? 🤔

[2021-10-19 08:43] julian-stark commented on #35676
Yes you were, thank you. The thing is only that i need to start building something the gutenberg way and not the classic shortcode way :)

[2021-10-19 08:43] #35676 closed, assigned to nobody

[2021-10-19 08:45] jasmussen commented on #35742
I think I found steps to reproduce:

- Insert a row block
- Insert a navigation block inside the row block
- Justify the navigation block _right_

The navigation block will not be right aligned. In my testing using both Empty Theme and Blockbase, this was the case both in the editor and the frontend:
![nav](https://user-images.githubusercontent.com/1204802/137875124-de5ba122-8579-4b36-bedd-528232c

[2021-10-19 08:59] talldan opened #35750 "Navigation block - preserve navigation block data on theme switching"
## What problem does this address?
This issue is a follow-up to #34612. Currently, that issue has two PRs exploring solutions, one using template part post types (#35418) and another using a separate `wp_navigation` post type (#35746).

When switching themes, it'd be good to try to preserve navigation block menu data. The previously mentioned issue explores saving navigation block data to a post.

[2021-10-19 09:05] javierarce commented on #13154
@scheinercc I'm unsure about the time estimation, but I've just tried adding lists in HTML mode and they are correctly rendered. If that's the case, I think we could close this issue and open a feature request to allow adding tables visually.

What do you think?

<img width="671" alt="Screenshot 2021-10-19 at 10 59 16" src="https://user-images.githubusercontent.com/4933/137877867-30edd4b9-605e-4bd

[2021-10-19 09:09] #35587 closed, assigned to kevin940726

[2021-10-19 09:13] talldan commented on #35750
One problem is that the current implementations of #34612 all associate an instance of a navigation block directly with an instance of a navigation post. That is, the block has a `postId` attribute. When switching from a classic theme to block theme, there isn't an existing post type, one will have to be created. When that happens there's no easy option for re-writing the HTML of the navigation bl

[2021-10-19 09:18] oandregal commented on #35708
Hey, I've got a fix for this at https://github.com/WordPress/gutenberg/pull/35751 It turns dynamic blocks that use the `typography.fontSize` block supports have this issue (the class attached to them is not kebabCased properly).

Would you mind clarifying the second thing you mention? This is what I've done:

- Register the font size in the theme.json as you suggested.
- Added this bit to the styl

[2021-10-19 09:19] #34648 closed, assigned to jasmussen

[2021-10-19 09:47] Sandstromer commented on #35738
@glendaviesnz - Gutenberg 11.7 and TT1-Blocks theme.

I don't see the issue with TwentyTwentyOne or some block themes such as Blockbase and Tove, as it they have their own `img { height: auto; }` CSS, but with a block theme that does not have this e.g. Twenty Twenty-Two or TT1-Blocks, the issue is present.

@Mamaduka - thank you for pointing out the PR. This will fix it so I will close this issue.

[2021-10-19 09:47] #35738 closed, assigned to nobody

[2021-10-19 09:56] Sandstromer commented on #35741
Not sure it would be such a good idea to make the Post Title a link by default, as this block is also used in templates such as Single and Page where you wouldn't really need the title to link to itself by default.

[2021-10-19 10:02] gziolo commented on #35630
The webpack plugin (DEWP) doesn't replace import statements with different versions of the package in the build process controlled with webpack. Instead, it replaces import statements with references to `wp.*` globals:

[code]

becomes something close to:

[code]

So as long as the same public API is present in WordPress core through the scripts registered at `wp-components` handle exposing `wp.co

[2021-10-19 10:07] jameskoster opened #35753 "Site Editor: Clicking the gray background should deselect all blocks"
When editing a template part in isolation it will soon be possible resize the canvas viewport: https://github.com/WordPress/gutenberg/pull/35728

When working in a small view I found myself often clicking the gray background in an attempt to deselect blocks and view my creation uninterrupted by UI like the block toolbar. Currently this doesn't work, as seen in my crude editing simulation below:

h

[2021-10-19 10:08] carolinan commented on #35322
Related: When the query loop is not set to` Inherit query from template`, and sticky posts are set to include, the sticky posts are shown first on all pages when navigating through the paged results. They are repeated on every page instead of only showing once.

[2021-10-19 10:18] nerrad commented on #35630
This really stood out to me. I'm inferring from your statement that you have some examples of other platforms in mind (on a similar scale as WordPress/Gutenberg) that have wrestled with this problem. If so, what do these other platforms do to solve the problem? Are there things we could learn from those examples?

[2021-10-19 10:19] cbravobernal commented on #30577
@SantosGuillamot may I take this one? Thanks!

[2021-10-19 10:22] nahuai commented on #34352
+1 to Global Blocks.

[2021-10-19 10:25] luminuu commented on #34352
I think "Synced Blocks" is fine but something like "Global Blocks" would be fine too. Unless it would be too confusing with "Global Styles", which is already set?

Looking at other software, for example Notion, their terminology is "Synced Blocks" too for that type of content.

[2021-10-19 10:29] fabiankaegy opened #35755 "Add a way to modify what happens when you duplicate a block"
## What problem does this address?

When you duplicate a block it copies over 1to1 all the attributes and nested blocks. Which is exactly what it should do in 99% of cases. But when you for example duplicate a block that has a custom anchor set for your block that now causes an issue since the `id` attribute no longer is unique and you have multiple elements on the page that share the same ID.
Thi

[2021-10-19 10:36] getdave opened #35756 "Handle merging of URL Details REST API endpoint into Core for WP 5.9"
[Rich URL previews](https://github.com/WordPress/gutenberg/pull/31464) were introduced for the Link UI in Gutenberg Plugin version 10.9.0. This work is now due to be merged into Core for the upcoming WP 5.9 release.

Therefore we need to ensure the supporting infrastructure is also merged into Core. This is mainly the URL Details REST API controller that was introduced in https://github.com/WordPr

[2021-10-19 10:49] scruffian commented on #35549
I agree this seems to not longer be an issue.

[2021-10-19 10:56] paaljoachim commented on #27093
A status update. (**Edited to clarify**)

**Part 1.**

The PR: [**WIP] Move title to header toolbar**
https://github.com/WordPress/gutenberg/pull/31288  Has stalled. I am hoping @vdwijngaert Koen is able to continue working on the PR. If someone is able to step in and take over that would be really helpful. Here one needs to duplicate how Full Site Editing adds the title to the top bar, and implem

[2021-10-19 11:03] DAreRodz commented on #30576
Hey, @SantosGuillamot, I'm working on this issue, could you assign it to me while I create a PR? Thanks! :grin:

[2021-10-19 11:06] aristath commented on #34352
I agree that the name "reusable block" should be changed... But like all others above, I don't believe that "synced block" would be the best choice.
Reusable blocks are pieces of content that the user has customized and saved on their site so they can be reused & synchronized everywhere on their site. And it's also important to consider that it can be more than a single block. I can have a collect

[2021-10-19 11:14] oandregal commented on #34242
:wave: @amustaque97 You're very welcome to pick this up.

I presume there're two ways to address this:

- One approach would be fixing the issue when the style is registered. This requires fixing upstream, in WordPress core, where [that method is declared](https://github.com/WordPress/wordpress-develop/blob/master/src/wp-includes/blocks.php#L971). During registration we do some checks (such as mak

[2021-10-19 11:20] kevquirk commented on #34352
"Global Blocks" makes the most sense to me.

By using "synced blocks" it's inferred they're synced somewhere - is that off-site? Is it a backup mechanism?

By using something more descriptive, like "Global Blocks" I think it's more clearly defines what they are.

[2021-10-19 11:27] bgardner commented on #34352
Quick +1 for the term Global Blocks, for many of the reasons others have previously said.

[2021-10-19 11:27] jameskoster commented on #25198
Swimming the sea of Design Tools, I can't shake the idea that we might use that UX to create a query builder of sorts:

https://jameskoster.design/2021/10/07/concept-creating-a-query-builder-inspired-by-design-tools/

I know this is a much bigger thing, but I think we should be careful about arbitrarily moving things around without a clearer vision for where we want this block (and it's variations

[2021-10-19 11:34] LittleBigThing opened #35758 "Accessing the front-end from the site editor"
## What problem does this address?

If I am not mistaken, it is rather tedious to access the front-end of the website after editing it in the site editor. When a page/post is edited and saved, a view page/post appears in the left bottom corner. This is not the case in the site editor. One has to open the left top menu (WordPress logo), navigate back and navigate via the dashboard to view the websi

[2021-10-19 11:36] oandregal commented on #25612
Hey, absolutely. If this is working, we should close it. Just left a comment for clarifying one use case https://github.com/WordPress/gutenberg/pull/35459#issuecomment-946634917

[2021-10-19 11:42] Mamaduka commented on #25612
Sounds good, @oandregal.

Let's track the theme supports issue separately.

[2021-10-19 11:42] #25612 closed

[2021-10-19 11:48] jsnajdr commented on #35630
I sense there is some deep misunderstanding about the purpose of DEWP and what it means to "import `@wordpress/components`".

When using it in a WordPress plugin, the `@wordpress/components` import doesn't really import anything from `node_modules/@wordpress/components`. That package doesn't even need to be there. It's convenient to have it there maybe for typechecking and unit testing, but then i

[2021-10-19 12:08] ndiego commented on #34352
It's a user-created, personalized, site-wide, synchronized piece of content.
With that in mind, I'd propose the term Personalized Content.

I agree that "block" might also be confusing since it can be a collection of blocks as well as a single block. However, every block is/can be "user-created, personalized". So I do not feel that the "Personalized" gets to the root of what this type of content i

[2021-10-19 12:19] aristath commented on #34352
I'm mostly trying to think of what a new user, someone who has never seen WordPress or a builder will think.
Does the term "global block" make sense without having the context and experience of another, 3rd-party builder?
Is there maybe some other term we can use that will make more sense than something that a random page-builder chose a decade ago and then all other builders adopted because marke

[2021-10-19 12:27] oandregal opened #35762 "Child themes theme support do not override parent's theme.json settings"
### Description

Reported at https://github.com/WordPress/gutenberg/pull/35459#issuecomment-939989245

The settings for a theme are pulled from its `theme.json` and fall back to their theme supports if the equivalent `theme.json` setting is not present. When it comes to child themes we need to consider the whole chain of settings:

Options provided in the later stages of the chain should be able t

[2021-10-19 12:31] gziolo commented on #35630
@jsnajdr, thank you for a more detailed explanation of my previous comment https://github.com/WordPress/gutenberg/issues/35630#issuecomment-946570746. I love the reference to Node.js API. This is exactly how we should think about it.

It's also helpful for linting or hints in IDEs. When using the build tools with DEWP configured to handle all default externals, from the production code perspective

[2021-10-19 13:01] jonathanlundstrom commented on #32952
Hi! What is the current status of this? We're currently developing a site where access to reusable blocks within widget areas would open a new world of opportunities.

[2021-10-19 13:04] pshemek commented on #34352
Don't beat me but I'm starting to think that "reusable content" is the most accurate descriptor for this concept. The whole idea - from user's perspective - is about the content piece that can be used in multiple places. Not about the block-based construction (where patterns play their role).
_EN is not my mother language so I cannot judge if there's anything tasting bad in the word "reusable" in

[2021-10-19 13:09] Sandstromer commented on #35758
I've not really thought about this before, but yes I agree providing a way to access the front end directly from the site editor would be great to have.

After all, we can directly access the site editor from the front end via the "Edit site" link in the admin bar, but going back the other way is currently not possible, without first exiting to the dashboard.

[2021-10-19 13:09] pbking commented on #35742
No, that doesn't address our use case in the Blockbase header.  The content of the row can't be aligned right; some content is on the left (Site Title, logo, tagline) and some on the right (navigation).  The elements in that header are dynamic though; there's no guarantee that any of them will be there so the layout mechanism has to take that into account.

[2021-10-19 13:35] scinos commented on #35630
I totally understand the package will be provided by the host environment in production. I think that point is quite clear.

My original question is if I can pull in the _same_ dependency for my dev environment. There are many many benefits to it, some of them already mentioned (unit testing, typechecking, IDE hints, linting...)

I assumed that the answer was "yes", that there was a NPM package `@

[2021-10-19 13:44] mchowning commented on #35733
I'm a bit torn on what priority to give this. It feels like a bit of an edge case, but it's not that much of an edge case, and it is really annoying when it happens because of how jarring it feels. For that reason I'm marking it as high priority, but definitely open to other opinions.

[2021-10-19 13:46] scheinercc opened #35764 "Missing (visual) list styling in Table Block cell editor"
## What problem does this address?
Editors can currently not (easily) style lists of text as such within table cells of the Table Block element.
<img width="900" alt="image" src="https://user-images.githubusercontent.com/817856/137921041-2f0af0d5-ec22-4b0e-ad0d-595957c4b8b7.png">

As per https://github.com/WordPress/gutenberg/issues/13154#issuecomment-946510917 it is possible to add lists by editi

[2021-10-19 13:50] jasmussen commented on #35742
Understood, and if you use space-between, the site logo and site title will be spaced out as well:
<img width="1074" alt="Screenshot 2021-10-19 at 15 29 26" src="https://user-images.githubusercontent.com/1204802/137919761-eb4c274d-633c-40d1-b286-401e49f8c81c.png">

You could add an extra row wrapper around just the site logo and site title, combined with space-between on the topmost row:
<img widt

[2021-10-19 13:50] scheinercc commented on #13154
Re-read the initial ticket description and agree. I landed here today as content editors brought this issue to my attention. I now filed #35764 for adding the visual list editing tools.

[2021-10-19 13:51] MikeWhelan commented on #34352
What is the process for deciding these issues?

Picking up on the points raised so far:
From my experience, the main issue I've observed with 'Reusable Blocks' is that new/novice users edit them without realising they're changing other parts of the site.... and it could take a long time until they realise, if ever.

So: 'global', 'sitewide' or 'synced' are all an improvement - but I still think _s

[2021-10-19 13:57] gziolo commented on #35630
It's possible when working with WordPress core to match the same list of package dependencies that get externalized. However, the applicability is limited to the cases that we covered with @jsnajdr.

The block editor in WordPress core gets updated through npm packages so the publishing is tight to that. However, for the Gutenberg plugin, all the source is there so there is no need to publish to np

[2021-10-19 14:16] scinos commented on #35630
That would mean that the version of `@wordpress/components` provided by a host running WP 1.0.0 and GB 1.0.0 may be different form the version provided by a host running WP 1.0.0 and GB 2.0.0, right? (or any other plugin, of course). That's an interesting problem.

Is there anything stopping us to also publish each package to npm at that point?

[2021-10-19 14:25] Mamaduka commented on #35762
@oandregal, I think this works as expected.

### Step-by-step reproduction instructions

1. Remove `settings.color.link` and `settings.typography.customLineHeight` from TT1 Blocks theme.json file.
2. Register theme support for TT1 Blocks, since it doesn't use them:

[code]
3. Create a child theme without a theme.json.
4. Remove theme support  in child using the following snippet:
[code]

[2021-10-19 14:36] RobinRoelofsen opened #35765 "Merging two blocks then separating them does not work properly"
### Description

I run a newspaper site where people can send in press releases. When cleaning those releases, sometimes I need to merge two paragraphs and then separate them. I stand at the end of the first paragraph, press the Delete button to merge the first with the second paragraph and then press Enter to separate them.

When I press Enter, the text from the second paragraph is gone. When I p

[2021-10-19 14:38] jsnajdr commented on #35630
I also wanted to clarify that the plugin developer doesn't really have that much of a choice whether they want to bundle a `@wordpress/*` package or to use the one provided by the host environment. Bundling might work some of the time, but the only reliable approach is to externalize.

If this really happens and it happens often enough, it's just a matter of improving our NPM release discipline, i

[2021-10-19 14:45] #35644 closed, assigned to Mamaduka

[2021-10-19 14:45] #35707 closed, assigned to Mamaduka

[2021-10-19 14:46] jcasabona commented on #34352
I agree with the previous contributors who've stated "global" is a better term than synced. Synced, as noted, makes it seem like you're moving the blocks to and from some other server (ie Cloud syncing).

Global is a term that's been used by lots of page builders and other tools, and I think will properly invoke the idea that "this is a block that when I change it here, I change it everywhere."

[2021-10-19 14:48] ZebulanStanphill commented on #34352
It's also worth remembering the similarities between Reusable Blocks and the full site editing Template Parts. Come to think of it... what exactly are the differences between the two? A Template Part is basically just a glorified Reusable Block provided by the theme, isn't it? Or am I forgetting something?

[2021-10-19 14:53] placoderm commented on #34352
This is the point I was trying to raise.

I also question calling them reusable/global _**blocks**_ since they are really a group of blocks. At least they can be.

[2021-10-19 14:54] geriux opened #35766 "Cover block - Default overlay opacity is set to 100"
## Description
The default overlay opacity is set to 100 which covers any image/video that's added as a background. This is a regression from this [PR](https://github.com/WordPress/gutenberg/pull/35065).

## Step-by-step reproduction instructions
- Open the mobile editor
- Add a Cover block
- Add an image
- Once it finishes uploading, you can see the overlay is covering the image.

## Expected beh

[2021-10-19 14:58] draganescu commented on #35750
Yes, and that attribute should only be used for migration, right? Otherwise it would cramp users of the block editor from putting a navigation block wherever they want, I think. Or would this be a free text attribute? But even so, moving the block from header to footer but leaving the location to "top menu" would be very confusing.

There are at least two things about navigation persistence that I

[2021-10-19 15:04] kjellr commented on #28356
Yes, definitely — that's helpful. It seems like the issue described in https://github.com/WordPress/gutenberg/issues/35522 is due to this specifically being a dynamic block then. We can fix this by enabling margin controls for that block (https://github.com/WordPress/gutenberg/pull/35684), but is this something we could fix behind the scenes for _all_ dynamic blocks?

Can we try doing this in a PR

[2021-10-19 15:06] grogou opened #35768 "Navigation and Mini Cart blocks conflict"
### Description

## Describe the bug
The Mini Cart and Navigation blocks are using `window.onload` event, first for lazy load scripts, second one for init some MicroModal. So if I use these blocks on same page, only work the second rendered block action. In my case I have

![image](https://user-images.githubusercontent.com/10712881/137478512-59df0bb0-244b-42b3-99bf-a30debd46400.png)
this and mini

[2021-10-19 15:10] mrwweb commented on #14598
I hope everyone can agree that this issue is a love letter to the Block Styles API.

The amount of power Block Styles put in developers' hands with only a few lines of code and no build process is possibly unparalleled. Add auto-generated previews to that, and you have an extremely developer- _**and**_ user-friendly feature. So the big request in this issue is to let developers do more with the sa

[2021-10-19 15:22] Sandstromer opened #35769 "Post Tags - link color gives PHP error if post untagged"
### Description

When using the Post Tags block and setting a link color, the front end gives PHP errors, when a post is untagged:

`Notice: Undefined offset: 0 in C:\xampp\apps\wordpress\htdocs\wp-content\plugins\gutenberg\lib\block-supports\elements.php on line 47`

`Notice: Trying to access array offset on value of type null in C:\xampp\apps\wordpress\htdocs\wp-content\plugins\gutenberg\lib\blo

[2021-10-19 15:25] annezazu commented on #30910
Feedback from the FSE Outreach Program consistently points to confusion around what settings live in the block toolbar vs the settings in the sidebar. For example, folks seem to expect the ability to change the number of items shown in the sidebar rather than the toolbar. Could an audit of these various settings (including their naming) be added to this issue to help improve the experience?

[2021-10-19 15:36] annezazu commented on #35741
Thanks for the wider context @ntsekouras. As for the use case you shared @Sandstromer, I was wondering the same thing! That was the only other use case I could come up with that might make this a no-go.

I'm guessing this also ties into whether a block is context aware (post title block being added to query loop vs a template).

For now, I'll keep this issue open but will rename to make it specifi

[2021-10-19 15:37] #30572 closed, assigned to cbravobernal

[2021-10-19 15:39] strarsis commented on #14598
@mrweb: That's nice! I also would have an use case for this.
The user can select wavy-shaped group blocks. And then further specify in what direction the wave will go and what transition (splash; droplets; etc). Having a second block style selector just for this helps a lot with keeping the number of possible combinations low.

[2021-10-19 15:47] jameskoster commented on #34352
Currently the mechanics of Template Parts and Reusable Blocks are virtually identical, and for all intents and purposes one can be interchanged with another. But this probably wont always be the case.

The nuance is their intended purpose... Template Parts are reusable sections of layout that can be used across multiple templates. Consequently it is possible to assign semantic meaning to them, for

[2021-10-19 16:53] ZebulanStanphill commented on #34352
Technically, a reusable block could still be considered a "block", in the same sense that a Group or Columns is a block. It's just a block that is designed to contain other blocks. Additionally, the editor presents reusable blocks a lot like a Group or Columns: it is a single unit, complete with a single toolbar for moving, transforming, and performing other block-level actions. And on a technical

[2021-10-19 17:00] jameskoster commented on #34352
One thing I would say is that you can describe a navigation menu, a widget area, or a template parts as a "synced block" or "global block". They all fit the description. So in this context perhaps the label is one level above where it should be.

Since there is already some confusion amongst these concepts (Template Parts and Reusable Blocks in particular), could this be an opportunity to add some

[2021-10-19 17:06] nickfmc commented on #14598
I do love that idea of Style Groups, but I would still also love a modifiers too that could just be a set of true false toggles that are all classes that can work together no matter on or off.  Things like the WP columns block, I'd have Modifiers: no gutters/stack early/swap order on mobile , etc. these are are things that could all be added or none be added.  This is the main reason developers ar

[2021-10-19 17:20] mrwweb commented on #15077
See also: #19367

[2021-10-19 17:25] mrwweb commented on #14598
@nickfmc Your needs make a lot of sense. They also make me think of #15077 and #19367 as possible ways to handle that.

One thing I notice about your example is that the three modifiers might be just as appropriate (or better?) as 3 toggles instead of block styles since they don't have obviously unique visual previews or even impacts when editing (except for gap). Making registration of other bloc

[2021-10-19 17:36] nickfmc commented on #14598
Ahh yes, those would be very similar use case for sure and both would make sense for the issues I see with my clients. I was just thinking toggles to allow more of a description of what they do, giving you a ? to hover or something but ya basically just comes down to more class options.

[2021-10-19 17:42] mkaz opened #35776 "Docs: Rename code example toggles to better represent current state"
The code examples in the developer documentation, as well as the [gutenberg-examples repo](https://github.com/WordPress/gutenberg-examples), use a delineation between two types of code: ES5 and ESNext

With the dropping of support for IE11, the targeted browsers all support the ES6 syntax. So the distinction is no longer accurate, as it is not between ES5 and a newer syntax; but between not buildi

[2021-10-19 18:08] TimothyBJacobs commented on #35756
@getdave Let's make sure to stabilize the namespace first. I think this should go in `wp-block-editor/v1` to match the block editor settings route.

[2021-10-19 18:12] tomalec commented on #35630
@nerrad

My experience so far was with mostly native JS and HTML/ Web Components world, but I believe that the principle of the problem is the same regardless of the content of the dependencies. And we don't have to limit ourselves, to a readymade product in a form of a WebPack plugin. The case we have is:
A platform that delivers some functionality itself. Allows multiple vendors to contribute th

[2021-10-19 18:31] tomalec commented on #35630
@jsnajdr

I think you're right. Probably, there is.

Initially, I thought DEWP is a convenient plugin to optionally use to reduce the bundle size.
My understanding came from reading its README

I read it as "If WP happen to have your dependency available, it will remove it from the bundle and use them instead". To me `@wordpress/components: 1.2.3` is such a dependency, as that's what I stated in m

[2021-10-19 18:35] shaunandrews commented on #35602
Thats one solution. I think generally though, the representation might not have to actually reflect the width at all; The color might be enough to help enforce the connection to the controls.

[2021-10-19 18:35] alpopp commented on #19103
It would be great to get the image block to use the standard block supports here for alignment.

[2021-10-19 18:40] kjellr opened #35778 "Allow block markup to modify blockGap values"
We should allow block markup like this to modify the `blockGap` property for a single instance of a block. For example:

[code]

Ideally, we could modify the `row` and `column` gap individually. Not sure about the naming here, but for example:

[code]

This would be useful in block patterns and templates, when you need just a one-off adjustment.

[2021-10-19 18:42] tomalec commented on #35630
Is there a reason/value for not releasing NPM packages when releasing Gutenberg? Or was it simply no need to put an effort to sync those?

I hope the comments of @scinos and me here, give at least some reason to consider it in the future.

[2021-10-19 18:45] sabernhardt commented on #20309
This is on Trac now: https://core.trac.wordpress.org/ticket/53948

If we implement the first option, hiding the link until publish/save action, how could the editor remove the `hidden` class to show the link?

(Or if you think showing the link even before the URL resolves is acceptable, please comment about that on the ticket.)

[2021-10-19 19:05] ndiego commented on #26170
Is there any active work being done on this? Patterns really need to be available from the block based widgets screen.

[2021-10-19 19:08] ndiego commented on #32952
👆 I would like to echo the question above. This issue should also be considered related to #26170

[2021-10-19 20:33] paaljoachim commented on #34352
It is nice to see all the activity going on here! One major reason is this article by Sarah Gooding at
https://wptavern.com/gutenberg-contributors-propose-renaming-reusable-blocks
(There are additional naming comments under the article.)

[2021-10-19 20:53] spacedmonkey opened #35780 "Add a block transform from navigation widget to navigation block"
## What problem does this address?

Allow navigation widget to be transformed in navigation block in the block based widget editor.

<img width="1062" alt="Screenshot 2021-10-19 at 21 52 33" src="https://user-images.githubusercontent.com/237508/137988837-374f4673-816f-4b6e-9b9d-36b48ba8a73a.png">

## What is your proposed solution?

[2021-10-19 20:57] spacedmonkey opened #35781 "Hide legacy navigation menu widget when navigation block lands in core"
## What problem does this address?

When the navigation block lands in core in WP 5.9, also hide the option to create legacy navigation menu widgets.

<img width="737" alt="Screenshot 2021-10-19 at 21 54 37" src="https://user-images.githubusercontent.com/237508/137989332-e6260875-dc84-4140-be44-97fc6a398b8d.png">

## What is your proposed solution?

[2021-10-19 21:13] bgardner opened #35782 "Post Author Name Font Weight"
### Description

Calling this a bug because I think it is. I notice that the CSS for the Post Author Name is:

[code]

The `font-weight: 700;` feels opinionated to me and should be left for themes to style.

### Step-by-step reproduction instructions

Straightforward.

### Screenshots, screen recording, code snippet

_No response_

### Environment info

_No response_

### Please confirm that you h

[2021-10-19 22:02] mrwweb opened #35784 "Change Behavior of Conversion to Columns Blocks Depending on Number of Selected Blocks"
## What problem does this address?
When selecting multiple blocks to convert to columns, each block is converted to a single column:

- Select two consecutive blocks => 2 Columns
- Select 10 consecutive blocks => 10 Columns

I believe that this behavior makes a lot of sense for a low number of blocks but stops making sense at a high number.

## What is your proposed solution?
I believe it should b

[2021-10-19 22:27] ZebulanStanphill commented on #34352
One comment on that article that stood out to me was [this one by Yui](https://wptavern.com/gutenberg-contributors-propose-renaming-reusable-blocks#comment-399969):

<blockquote>
<p>What about “My blocks” ? It emphasises them belonging to personal (or site) library of blocks, somewhat personal to user.</p>
<p>We’re using this term in russian WordPress translation instead of ‘Reusable blocks’ , the

[2021-10-19 22:39] sabernhardt opened #35785 "Video block settings: Poster image label needs spacing"
### Description

In the Video block settings, the Poster image label has no bottom margin or padding. The margin was intentionally increased from 4px to 8px in #20754, but that has been missing since WordPress 5.6.

Should the label use `StyledLabel` instead of `BaseControl.VisualLabel`?
https://github.com/WordPress/gutenberg/blob/e192d5058b90cd906e4955a24640f0c94a541a77/packages/block-library/src

[2021-10-19 23:53] noisysocks commented on #32952
No update, sorry. The Gutenberg team is focused mostly right now on shipping the site editor as part of WP 5.9. If anyone would like to volunteer to work on this issue I'd be happy to help them get set up and answer any questions.

[2021-10-19 23:54] carolinan commented on #35782
Hi
This was removed in https://github.com/WordPress/gutenberg/pull/35513 and is fixed for 11.8.
The block will be split so there will be more updates. But it might not be split and tested in time for 5.9.

[2021-10-19 23:55] #35782 closed, assigned to nobody

[2021-10-20 00:10] ramonjd commented on #34766
Retested  now that #34725 is merged. I can no longer replicate. 👍

[2021-10-20 00:10] #34766 closed, assigned to nobody

[2021-10-20 00:37] glendaviesnz commented on #17162
Potential fix for this at https://github.com/WordPress/gutenberg/pull/35787

[2021-10-20 01:07] carolinan commented on #35322
The problem with the sticky posts being repeated on top of page two+ seems to be because `is_home` returns false on the paginated result, resulting in that the sticky posts that have already been displayed, are not removed by WP_Query.

[2021-10-20 01:26] carolinan opened #35788 "Show the query pagination block in the inserter block list when the parent block is query loop"
## What problem does this address?

When you add a query loop block, it has its own inserter for adding the inner blocks.
But when you open the inserter, the query pagination block is not among the first suggested blocks.
(Sorry but I don't know what this part of the inserter is called.)

![query loop suggested blocks does not include pagination](https://user-images.githubusercontent.com/7422055/1

[2021-10-20 03:33] tellthemachines commented on #35632
We'll want to test this with a large amount (hundreds) of pages, because the reason for using server side rendering initially was really bad performance with client side render.

I think @gwwar had some ideas about how we could improve performance on the client (there may even have been an issue at some point? but I can't find it 😅 ).

[2021-10-20 03:54] glendaviesnz commented on #35766
@geriux Because of the need to allow an opacity setting on the background color when there is no image, as added [here](https://github.com/WordPress/gutenberg/pull/35065), I think it might be confusing to users to set the default dimRatio to 50 as then the background color will have a default 0.5 opacity so users might wonder why they selected black but it shows more as a grey, etc.

It would be p

[2021-10-20 04:06] glendaviesnz commented on #34950
Similar to https://github.com/WordPress/gutenberg/issues/30262

[2021-10-20 04:22] carolinan commented on #35322
I think that for the sticky posts to display correctly for both the default **and** for the home/blog  when `Inherit query from template` is enabled, we need one query for the standard posts and one for the sticky posts.
I don't mean two blocks, but two separate queries.

[2021-10-20 04:35] glendaviesnz commented on #35366
I have added a potential fix for this at https://github.com/WordPress/gutenberg/pull/35790

[2021-10-20 04:42] aaronrobertshaw commented on #28356
Just for clarity, at the minimum, we'd only need to opt into the block supports not enable the controls in the UI. Which is what #35684 does.

It would be a matter of opting into margin support for each of those dynamic blocks. There are some issues still around how a block's margins play with [overrides enforced on top-level blocks by the layout support](https://github.com/WordPress/gutenberg/blo

[2021-10-20 05:04] carolinan commented on #31616
@oandregal Do you think this is a candidate for 5.9?
It is also a performance issue since the resulting CSS is repeated.

[2021-10-20 05:08] carolinan commented on #28356
I have no problem creating the small block support PR's for individual blocks, but I'd like there to be a decision about it and for 5.9 and TT2 there is not much time.

[2021-10-20 06:47] jonathanlundstrom commented on #32952
I see. Thank you for the update. Is there some experimental support, or some hook or filter that would enable it as of now? I would sincerely love to get involved as I have been developing for WordPress now for the better half of 12 years, focusing on extending the core functionality with pure and clean WP-centric code. But right now, at this point in my life, I unfortunately lack the time to do s

[2021-10-20 07:11] carolinan commented on #35521
I think this one is important to solve
https://github.com/WordPress/gutenberg/issues/29401

[2021-10-20 07:20] draganescu commented on #32952
No :) This is not a small update or tweak. Introducing support for entity powered blocks adds a new save workflow and also has the potential to disrupt the architecture of the entire screen. IMO, ideally, this will also bring saving widget areas themselves to a CPT and getting widgets out of the options storage they're in now, via some sort of forward compatible upgrade.

[2021-10-20 07:37] ntsekouras commented on #34242
Hey @amustaque97 👋 !

I think @oandregal 's first suggestion is the proper place for this fix. As mentioned above it requires a fix in WP core and specifically [here](https://github.com/WordPress/wordpress-develop/blob/40fd54aedee161cbfa10d352053082ccc1d2c02a/src/wp-includes/class-wp-block-styles-registry.php#L54). By having a client side fix in `BlockStyles` component will not prevent the same is

[2021-10-20 07:38] tellthemachines commented on #35662
Not sure how to reproduce this one, or even what's happening. Could we have more detailed steps please?

[2021-10-20 07:42] rubengc commented on #35107
I added more info here: https://github.com/WordPress/gutenberg/issues/35107#issuecomment-926528785

[2021-10-20 08:21] Luehrsen opened #35794 "wp-env: Codespaces compatibility"
With the advent of [GitHub Codespaces](https://github.com/features/codespaces) I guess there will be some desire to use a prepackaged solution like wp-env to generate a more or less standardised development solution. I am aware of the irony to spawn a docker container that spawns a docker container. But in my eyes are the advantages that come with wp-env greater than the drawbacks that you have to

[2021-10-20 08:23] Luehrsen commented on #32261
This is very related to #35794, as it faces similar challenges.

[2021-10-20 08:30] geriux commented on #35766
Hey @glendaviesnz 👋  thank you for working on a fix so quickly! This works for mobile with the extra change from this [PR](https://github.com/WordPress/gutenberg/pull/35792#pullrequestreview-784157848) 🎉

[2021-10-20 09:04] simison commented on #20797
@ellatrix I realized I didn't reply your question, better late than never! 😁  Thanks for patience.

I meant having a filter to turn the content iframe on for good ol' post/page editor, without enabling it for everyone by default.

I believe that would allow more controlled testing (think agencies, personal sites, opinionated site-builders on top of WordPress) and ease a bit @mtias' worries:

[2021-10-20 09:10] Mamaduka commented on #35623
Re-opened because the branch wasn't up to date with the trunk.

[2021-10-20 09:10] #35623 closed, assigned to Mamaduka

[2021-10-20 09:21] getdave opened #35795 "Link UI closing behaviour inconsistencies"
Currently the Link UI _implementation_ in RichText (and possible in Nav block) is inconsistent in when it remains "open".

The Link UI only stays open if the URL is _unchanged_. If I make any edit to the URL and then click "submit", the whole popup closes.

Note this isn't a bug in the Link UI itself but more likely in how it is utilised in the specific components. Nonetheless it still manifest as

[2021-10-20 09:29] kevin940726 commented on #35512
I'm not sure what the best solution would be. If you think of the canvas as a screen, then I think it actually makes sense to make it stretched to the full screen. The preview options in the header also make more sense this way.

Technically speaking, the height of the canvas is determined by the content inside. We could auto-stretch the height once the content is loaded. However, users can also a

[2021-10-20 09:41] markhowellsmead opened #35797 "Column block: invalid flex-basis saved"
### Description

After switching the unit type selector on a column block (px, % etc.), a flex-basis value is applied to the column even if the value field is empty.

### Step-by-step reproduction instructions

1. Add a columns block
2. Change the unit selector on a column block
3. Save
4. View the HTML in the frontend, where you will see the following.

[code]

### Screenshots, screen recording,

[2021-10-20 10:47] jameskoster commented on #35512
That makes sense in the context of a document, but when you're editing a template part like a header in isolation it feels a bit flaky. In this case the canvas is not a screen, in the sense that a visitor would never view the header on its own. Therefore the canvas should "hug" the contents vertically in order to effectively communicate the height of the isolated part.

[2021-10-20 10:49] getdave commented on #35521
There is currently an exploration underway regarding separating _presentation_ from the underlying _data_ (items) of a navigation. This is all to do with allowing navigations to be _reused_ across a site.

We should check out Dan's PRs and provide feedback:

- https://github.com/WordPress/gutenberg/pull/35746
- https://github.com/WordPress/gutenberg/pull/35418

Also related is [this issue about Th

[2021-10-20 10:58] getdave commented on #29102
## Update - 2021-10-20

* The Nav **_Editor_** will **not** be included in WordPress 5.9 - this is because:
    - changes to the block are required for the editor to be a success (see below).
    - we need to allow sufficient time to test the editor before any major release and allow for community feedback.
* Following the Hallway Hangout a [summary was posted](https://make.wordpress.org/core/2021

[2021-10-20 11:05] anton-vlasenko opened #35799 "Move `getStablePath` method into the "url" package"
## What problem does this address?
Both [createPreloadingMiddleware](https://github.com/WordPress/gutenberg/blob/trunk/packages/api-fetch/src/middlewares/preloading.js#L40) and [createMenuPreloadingMiddleware](https://github.com/WordPress/gutenberg/blob/trunk/packages/edit-navigation/src/utils/index.js#L98) functions need to be able to call the `getStablePath` method.
As of now, we have some dupli

[2021-10-20 12:36] #35766 closed, assigned to glendaviesnz

[2021-10-20 12:54] anton-vlasenko opened #35803 "Refactor `gutenberg_initialize_editor` function and remove `block_editor_preload_data` filter"
## What problem does this address?
This issue is a follow-up to https://github.com/WordPress/gutenberg/issues/24642.
We've added `block_editor_preload_data` filter to the `gutenberg_initialize_editor` function.
This filter is only needed to provide data for the `createMenuPreloadingMiddleware`.
It's not the best solution because we don't want to add filters whose only task is to solve a specific (

[2021-10-20 13:19] deborah86 commented on #28564
A better solution would be to make the page title part of the headings block and remove the static heading setting on every page. I don't understand why there are separate blocks for the page header and other headings. This is actually redundant. Users should be able to have multiple H1s on their page if they choose. The ability to have multiple H1s is ideal for single-page websites.

The page tit

[2021-10-20 13:26] jasmussen commented on #34511
CC: @vcanales Do you think it's time to look at this one? I think it could be!

[2021-10-20 13:35] pbking commented on #35742
Closing this as the design can be achieved as noted above.  Thank you!

[2021-10-20 13:35] #35742 closed, assigned to nobody

[2021-10-20 13:37] jasmussen commented on #35742
Thank you! And thank you for the ticket, it's helpful as we explore getting the flex rules just right 👌

[2021-10-20 13:38] joshdavenport commented on #5821
We often create templates for our clients where majority (but not all) of the pages is powered by block editor output, but aspects of the template are configured by fields in a metabox.

For example, the content of the page is from block editor but the header has options available on every page (header style 1, header style 2, header subtitle, etc etc) so it really sucks not being able to put meta

[2021-10-20 13:52] #35522 closed, assigned to kjellr

[2021-10-20 13:58] deborah86 opened #35806 "Allow Custom Variables in the Editor"
## What problem does this address?

There is no real way to add custom variables to pages from a database. The closest option in WordPress was to use custom fields but it seems as though that is being phased out. Other CMS's such as Webflow, SquareSpace, and Wix allows users to add custom information from a database to their pages.

## What is your proposed solution?

Give uses an easy panel to st