[2021-04-17 08:28] gziolo commented on #30832
Yes.  The constant shouldn't be exported from `@wordpress/block-editor` in the first place. The simplest approach would be to duplicate them for the Cover block.

[2021-04-17 09:00] carlomanf commented on #30922
This is a very bizarre conversation for me. If "experimental" is scary, then how is "labs" friendly? A lab is a place where experiments happen. Also, experiments in the plugin are very different from newly merged features in 5.8 and definitely can't have the same name.

[2021-04-17 09:05] SallyMoo commented on #19077
I agree wholeheartedly with @idea--list.

To summarise what I'm looking for ... the ability to upload a pdf (using the Media button?), and it displays (or gives me the option of displaying) a thumbnail of the cover of the pdf as a link to open the actual pdf. Flaffing around with blocks, zoom tools, download buttons etc etc may be of interest to some people, but not me.

P.S. I don't even use Gute

[2021-04-17 09:38] ntsekouras commented on #30925
Hey @annezazu - what would be the ideal handling for you and/or proposed by the feedback?

In `Query` and similar 'grouping' blocks (`Group`, `Columns`, etc..) a user could have inserted anything, after the initial pattern/variation selection. The most logical (and simpler and performant 😄 ) solution IMO, would be to change all the `Query` inner blocks. What this means is that possible changes/ins

[2021-04-17 09:46] anarieldesign commented on #30505
I'm just finishing our new WordPress theme based on block patterns and I noticed the same problem today. I added alt text to the cover block to pass the theme check and it breaks the pattern, it throws an invalid content error. Theme check shows empty alt so it would be useful if you can find the solution. Thanks

[2021-04-17 10:07] paaljoachim commented on #19077
Hey @idea--list Peter

The reason why I shared the PR here is to suggest adjustments to the PR that @pento Gary is creating.

Brainstorming here....
Let's say that one can extend additional options here:

![Screen Shot 2021-04-17 at 11 08 04](https://user-images.githubusercontent.com/5323259/115107774-3f77ce80-9f6d-11eb-9f84-c11cccebb6dd.png)

I suggest adding a toggle to "Show first page"
When it

[2021-04-17 11:04] priethor commented on #30700
I _could_ see this being limited on purpose but... it does seem like a bug to me, the dropzones are a bit hard to find 😅

[2021-04-17 12:10] matt-carboncoop commented on #19077
With those adjustments I'd say it would be perfect. Started working on yet
another legacy site, where the NGO staff are taking and cropping
screenshots to achieve just this, would really speed up workflow. What are
your thoughts @pento?

On Sat, 17 Apr 2021, 11:07 Paal Joachim Romdahl, ***@***.***>
wrote:

[2021-04-17 12:43] Quintis1212 commented on #30931
Hi @lakrisgubben ) I can not reproduce yours bug
![Знімок екрана з 2021-04-17 15-43-03](https://user-images.githubusercontent.com/34488718/115113570-b0ca7800-9f93-11eb-853d-52280b32fcf8.png)
Can you share video with bug ?

[2021-04-17 12:45] torbenkorb commented on #30505
Same problem here: with the new embedded image in the cover block (which is generally a good move) the alt text is empty.

In the JavaScript files packages/block-library/src/cover/edit.js on line 631 and in packages/block-library/src/cover/save.js on line 112 both it's set as empty string. Would be really great to have a field in block options to set or at least take over alt text if it is set in

[2021-04-17 12:57] wwdes opened #30934 "Setting layout settings in theme.json removes align left/center/right options from blocks like image/video/etc.."
## Description
When experimental-theme.json is used and layout properties are specified, blocks that usually support left/center/right alignment no longer have these options when they are top level blocks.

If this is somehow intended then this issue turns to: How can we disable wide/full width for a specific post type when using theme.json?

## Step-by-step reproduction instructions
code in exper

[2021-04-17 13:22] Quintis1212 commented on #30765
HI @skorasaurus  ! It needs design also

[2021-04-17 13:28] Lovor01 opened #30936 "Include filter for filtering default innerblocks template"
## What problem does this address?
Currently, I see no other way than to modify block edit function through `blocks.registerBlockType` or `editor.BlockEdit` filters in order to modify default template for a content which is inserted in block's InnerBlocks component. Since this action requires copying a lot of code from original block, I find it awkward to use.

## What is your proposed solution?
I

[2021-04-17 14:58] ballerburg9005 opened #30937 "elements flipping around, random nonsense interactions, and generally bad CSS"
These issues are a thing that I generally have experienced with all sorts of standard themes for Wordpress and Firefox or Chrome all alike. They always pop up in some form or the other. They are by no means exclusive. What I recorded in the videos was just whatever I experienced in this particular installation in this particular moment.

Generally it is not a question of whether or not a theme cou

[2021-04-17 15:49] karmatosed commented on #30887
I appreciate that, it's an interesting problem as there is a new discovery point by having the editor in the customizer.

I much prefer however more harmonious this can be, I also appreciate you are taking an interface designed for a different situation. I guess that's where I wonder about taking the copy over the entire welcome guide into this space.

In seeing this one thing struck me, I think c

[2021-04-17 15:53] karmatosed commented on #30922
I love this as an idea and as part of it whilst I am not convinced the naming matters, it is worth consider what it translates to and means across all users. I think the biggest piece not even done now and to do is making it far more appealing and friendly. Why would you want to test right now looking at that page?

[2021-04-17 16:40] paaljoachim opened #30938 "Page Templates: Remove Site Title, Tagline and Separator and move template title to top bar."
The very first version of Page Templates have been merged into the Gutenberg plugin and will be seen in version 10.5.
https://github.com/WordPress/gutenberg/pull/30438

Testing out the newest build.

1. In the Status & visibility panel.
Clicking new (Template) opens a name modal.

2. One then enters into the Template area.

It currently looks like this:

![Screen Shot 2021-04-17 at 18 28 40](https

[2021-04-17 16:52] paaljoachim opened #30939 "Page Templates: Adjust naming seen in Status & visibility panel"
Creating a page template. The Template name seen in the Status & visibility panel will be something like this:

![Page-template-naming](https://user-images.githubusercontent.com/5323259/115120401-92717600-9fad-11eb-83e4-6d51a0132721.png)

Template:
wp-custom-template-movie-template

I saved the template as Movie template. The Template name should list: Movie template

Like so:
![Page-template-corr

[2021-04-17 17:03] paaljoachim opened #30940 "Page templates: Click Template name to perform action. Similar to how clicking the word Public performs an action."
Here is a mockup of the Status & visibility panel.
Where the name (name has been adjusted) has become blue just like the words Public and Immediately.

![Page-template-name-action](https://user-images.githubusercontent.com/5323259/115120718-360f5600-9faf-11eb-9252-213d9150358d.jpg)

Questions that show up are what kind of actions should be performed when clicking the Template name?
While in the Te

[2021-04-17 19:03] wpfangirl commented on #19077
@paaljoachim That looks good. I would recommend setting up some means of adding an ALT tag, though, even if it's just coded to say "Screenshot of first page of `<filename>`."

[2021-04-17 21:36] joshm33333 commented on #20797
Editing to be more to the point as davidwebca points out i was complaining and not being constructive:

i think taking a system that is already in production on many thousands of sites, and then totally overhauling it to use a completely different backbone is a bad idea. i think taking the entire editor and putting it inside an iframe will break a ton of plugins.

i think my feelings represent tha

[2021-04-17 21:39] davidwebca commented on #20797
First if you would read about the actual content of the issue and discussion that's been going on, it won't break anything since it's just an iframe wrapper, mostly to guarantee that media queries will be respected correctly.

Second, there are plenty of ways to provide feedback and I can guarantee you that the WP core team listens to all, but they also have to make decisions about what's best for

[2021-04-17 21:39] joshm33333 commented on #20797
this

and this

either of these 2 ideas would solve my concerns

[2021-04-17 21:42] joshm33333 commented on #20797
my constructive criticism is in general gutenberg forces updates that cause developers a lot of grief and many hours of explaining to clients why it is not their fault. please be aware of this when making massive changes like this

consider the buttons to flexbox point, it could have at least required clicking "attempt recovery" instead of instantly breaking the front end

[2021-04-17 22:57] paaljoachim opened #30941 "FSE: Query block. Clicking the post title (link) leads to weirdness"
## Description
Site Editor:
Adding a Query block that also contains a Post title block. I clicked the title and it refreshed the Site Editor and showed some weird behavior. I had to exit the Site Editor and re-enter.

## Step-by-step reproduction instructions

Please list the steps needed to reproduce the bug. For example:
1. Go to the Site Editor (TT1)
2. Add a new Query block. Add Post title.
3.

[2021-04-17 23:30] paaljoachim opened #30942 "FSE Query block: Adding additional options to the placeholder screen."
## What problem does this address?

Customizing the Query block can be fairly tricky.
It is also difficult to know which blocks would be natural to add to the Query block.

## What is your proposed solution?

Adding additional options to the placeholder screen. Making it even easier to begin with the Query block.

![Query-block-placeholder-screen](https://user-images.githubusercontent.com/5323259/

[2021-04-18 00:15] carolinan commented on #30941
Closing as a duplicate of https://github.com/WordPress/gutenberg/issues/30647

[2021-04-18 00:15] #30941 closed, assigned to nobody

[2021-04-18 00:32] carolinan commented on #30938
It is not a "page (content) template.", the template mode shows the website.
The site title, tagline and separator were placed there temporarily to indicate that you can edit the header.

[2021-04-18 00:40] carolinan commented on #30934
Closing as duplicate of https://github.com/WordPress/gutenberg/issues/30934

[2021-04-18 00:40] #30934 closed, assigned to nobody

[2021-04-18 00:41] carolinan commented on #30930
It may also be a good idea to still show the information about which block your are editing.

[2021-04-18 00:50] carolinan commented on #30904
The current featured image block behavior is strange, because you can add a featured image block even without the theme_support. It is the theme_support that adds the featured image section to the post setting sidebar.

This section is (only) useful when you want a featured image in for example a query/loop but not the post content.
If you only want the featured image in the content, then you don'

[2021-04-18 00:51] nerrad commented on #29929
Sorry for the delay, it looks like this fixed this issue 👏

[2021-04-18 00:51] #29929 closed, assigned to nobody

[2021-04-18 00:58] carolinan commented on #30642
I am thinking out loud that this is something that may need to wait until the new UI for the global styles is implemented. It might be fixed then.

[2021-04-18 01:01] carolinan commented on #30634
While testing https://github.com/WordPress/gutenberg/pull/30873 I confirmed that the open save panel prompt does receive focus. I agree that the flow is still disruptive.

[2021-04-18 02:06] carolinan opened #30943 "Focus is not kept inside the multi-save save panel"
## Description

This refers to the save panel where you can select and save changes to template parts, site blocks, and the page/template itself either in the site editor, block editor or template editor.

When the panel is open and focus is inside the panel, it is possible to leave the save panel without closing it by tabbing backwards, or tabbing forwards from the last item.
The focus is not kep

[2021-04-18 02:12] annezazu commented on #30925
I think what Kjell described above makes sense for this approach to start!

This concerns me too. The only idea that comes to mind is to encourage a user to 1) know there are various options for the query block at the start 2) encourage them to swap between before moving on 3) understand that there might be lost changes if they do change later (as long as one can undo I imagine that'll be okay). I

[2021-04-18 02:29] carolinan commented on #30719
Yes, I interpreted it as the user wondering why the order of the color options is different for different blocks.

A more consistent order would be:
Background color
Text color
Link color

When there is no link color:
Background color
Text color

When there is a link color but no text color:
Background color
Link color

[2021-04-18 02:42] carolinan commented on #30701
All links _should_ be underlined by default, it is also the browser default, removing them would have a negative impact on accessibility, that I don't think should be encouraged.

I mean that not having an underline should not be the **default**.

[2021-04-18 06:28] lakrisgubben commented on #30931
@Quintis1212 Thanks for the reply! Here's a video

![flattermselector-duplicate-key](https://user-images.githubusercontent.com/1754954/115136412-dd2bd600-a01f-11eb-880e-b6ad46bbbaeb.gif)

On your screenshot above it does not look like any of the tags have the same name? The bug will only manifest if they have exactly the same name. :)

[2021-04-18 06:52] blairwilcox opened #30944 "Gutenberg Site Editor crashes permanently when clicking the "Global Styles" button."
## Description

Gutenberg Site Editor crashes permanently when clicking the "Global Styles" button.

After clicking on this button, the Site Editor stays in the crashed state even when exiting-in-and-out and deactivating-and-then-reactivating the plugin

## Step-by-step reproduction instructions

1. Click on the "Global Styles" button

The editor should then crash. I've been able to replicate this

[2021-04-18 06:56] blairwilcox commented on #30944
Update with a workaround: It looks like I'm able to get it back to its original state by deleting localstorage!

[2021-04-18 08:38] paaljoachim commented on #30647
https://github.com/WordPress/gutenberg/issues/30941
I happen to create a new issue for this. Carolina marked it as duplicate and closed it. (Thank you Carolina..:)
Just so you know I added the console error I noticed to the issue.

[2021-04-18 08:43] amarinediary opened #30945 "Removing custom post type title support partially hide first block floating option's menu"
Might be related to #30938.

## Description

Removing title support from a custom post type partially hide the first block option's menu.

## Step-by-step reproduction instructions

1. Create a custom post type.
2. Remove title support.
[code]
3. Create a new post.

## Expected behaviour

The first block floating option's menu should be fully visible and not outside the current window.

## Actual

[2021-04-18 08:47] StaggerLeee commented on #19077
For me it is fine with thumbnail extracted from PDF and click opens browser native PDF viewer (native fullscreen, most important).
But, if you want to extend it and make it with more options who I am to limit your creativity. :)

------------

Please do not forget to make it able to have real Post Thumbnail from extracted PDF image, not only as simple Post image. There are many websites that use i

[2021-04-18 12:33] JohnRDOrazio commented on #29566
The examples given show the usage of `onInputChange` alongside `onChange`, I believe this is an error?

https://github.com/WordPress/gutenberg/blame/trunk/packages/components/src/combobox-control/README.md#L52-L54

The instantiation of the Component allows for `onChange` and `onFilterValueChange`:
https://github.com/WordPress/gutenberg/blob/7c7f8663fb6f9cbcd6a070095308f0de52c3e855/packages/compone

[2021-04-18 13:21] paaljoachim opened #30947 "Inserter Panel: Going between Patterns drop down and then scrolling causes bug."
## Description
Opening the Inserter Panel. Selecting Patterns. Switching to another drop down option and then back again to default drop down option. Then scrolling causes bug.

## Step-by-step reproduction instructions

Please list the steps needed to reproduce the bug. For example:
1. Open a page.
2. Click the Inserter icon. Select Patterns.
3. Switch from the Twenty Twenty-One option to buttons

[2021-04-18 13:26] paaljoachim commented on #30700
Here is a suggestion for adding drop zone to the Columns block: https://github.com/WordPress/gutenberg/issues/30699

[2021-04-18 14:05] Quintis1212 commented on #30931
@lakrisgubben  I can not create two same tag names in wordpress , how did you create two same tags ?)
![Знімок екрана з 2021-04-18 17-04-37](https://user-images.githubusercontent.com/34488718/115148424-30297b80-a068-11eb-9bf4-7d68cc7d5582.png)

[2021-04-18 14:25] stokesman commented on #19796
@mrwweb, currently that doesn't seem possible but it looks like it's planned #27504.

[2021-04-18 14:52] JohnRDOrazio opened #30948 "Combobox documentation example"
The example code given for the `Combobox` component needs to be updated, `onInputChange` I believe should be `onFilterValueChange`. Related to #29566 and #28492.

If I define `onInputChange` as in the example, I get the console error `Uncaught TypeError: onFilterValueChange is not a function`. If I define `onFilterValueChange` instead of `onInputChange` I no longer get the error.

And I see that t

[2021-04-18 16:00] Ipstenu opened #30949 "Video Text Tracks does not accept SRT files"
## Description
While I can upload .vtt files and have them seen for video text tracks, SRT are not accepted/found by the tool.

## Step-by-step reproduction instructions

1. Upload a video.
2. Generate an SRT (you can convert one from VTT here - https://www.happyscribe.com/subtitle-tools/convert-vtt-to-srt )
3. Attempt to add SRT

You cannot upload it save via the regular media uploader, but if yo

[2021-04-18 16:04] ntsekouras commented on #30931
Hey @lakrisgubben - thanks for reporting this. While the problem exists as you describe, I feel this is a problem that should be handled differently and not in GB and in this way.

Having two terms in the same taxonomy with the same name is just wrong and confusing and should not be allowed. WordPress tries to prevent users from this with the above action and message @Quintis1212 shared.

So a pro

[2021-04-18 16:12] ntsekouras commented on #30942
Hey Paal 👋 !

I think the direction for `Query` block is here: https://github.com/WordPress/gutenberg/pull/29602. Since is a quite complex block, initialization through patterns might be helpful and will be tried. Please share your thoughts there as it's very related to your issue here.

Also check this issue for future improvements: https://github.com/WordPress/gutenberg/issues/30910 and this one

[2021-04-18 16:30] lakrisgubben commented on #30931
@Quintis1212 you need to explicitly pass a different slug when creating the tag, i.e. "test-2".

@ntsekouras Thanks for the reply! I've tried to find some history on this in WP and it definitely looks like this behaviour (i.e. allowing multitple terms to have the same name but different slugs) is intentional. See https://github.com/WordPress/wordpress-develop/blob/master/src/wp-includes/taxonomy.p

[2021-04-18 17:49] Quintis1212 commented on #30931
@ntsekouras  according to @lakrisgubben comment WordPress allowing multitple tagswith the same name . So issue is opened ? I think I can fix this

[2021-04-18 19:52] paaljoachim commented on #30942
Hey Nik!

I copied the full comment over to the PR you mentioned.
Should I close this issue?

[2021-04-18 23:29] wwdes commented on #30934
Hello, the ID you provided as reference for duplicate is actually this issue.

Hello, the ID you provided as reference for duplicate is actually this issue.

[2021-04-19 03:38] noisysocks commented on #30919
This already exists via block transforms. If a plugin sets `WP_Widget::show_in_rest_api` to `true` on their widget then they can add a new block and write a block transform that converts a `core/legacy-widget` into that block by accessing the widget settings from `block.attributes.instance.raw`. Users can then transform the Legacy Widget block into a regular block via the regular block transforms

[2021-04-19 03:50] #29616 closed

[2021-04-19 04:15] noisysocks commented on #26182
I would very much like the Widgets screen to have an actual _Preview_ button which opens the frontend of your site in a new tab with your unpublished changes. This can be implemented using Customizer changesets. See https://github.com/WordPress/gutenberg/issues/26012.

It's a significant undertaking though and not something that I think is necessary for WordPress 5.8 given that we will be defaulti

[2021-04-19 04:15] #26182 closed

[2021-04-19 04:30] noisysocks commented on #30897
Marking this as a bug since it's probably why the pencil icons don't work.

[2021-04-19 04:33] noisysocks commented on #26163
If we can do it easily then I'm very keen. It would be a really nice UX. I don't think this enhancement is necessarily a priority for WordPress 5.8, though.

[2021-04-19 04:52] talldan commented on #30856
Seems fixed now after `npm install`ing  and rebuilding. Maybe a dependency update?

[2021-04-19 04:52] #30856 closed, assigned to nobody

[2021-04-19 05:32] #27409 closed

[2021-04-19 05:43] crs1138 commented on #30736
I can confirm that tests run correctly when using the `wp-env` environment. However, that is not useful in our case as we have no WP instance running on http://localhost:8888 and in our set up we need to be able to run the tests right after deployment to stage. It is impossible (for security reasons) to have a user _admin_ with password _password_ in our set up, as the stage environment takes on t

[2021-04-19 06:09] #29803 closed

[2021-04-19 06:21] noisysocks commented on #27747
https://github.com/WordPress/gutenberg/pull/30709 fixed this. The problem was that widgets like Text and Custom HTML use jQuery to trigger the `change` event.

[2021-04-19 06:21] #27747 closed

[2021-04-19 06:22] noisysocks commented on #26232
I agree with @kevin940726. Could we use existing block editor patterns (select all) here? cc. @critterverse

[2021-04-19 06:29] carolinan commented on #30934
Thank you, the correct ID is #30568.

[2021-04-19 06:33] arthur791004 commented on #10117
Hi all, I think the current expected behavior described above is great but I have another thoughts. There is an external link icon which indicates it would open the new tab after clicking. Therefore, as a user, I might expect that when I clicked it, it would open the new tab and scroll to anchor. However, **the page should not be edit mode** because I want to test the behavior in other people's po

[2021-04-19 08:28] mtias commented on #30918
I don't think this can be achieved without some significant changes that could be considered breaking ones for the site title.

[2021-04-19 09:00] fabiankaegy commented on #21193
@ellatrix If there is anything that can be done to support your efforts on that  front let us know :) It is a great effort but I can only imaging how frustrating it must be...  :)

[2021-04-19 09:32] getdave commented on #30323
FYI looks like the data being returned from the API might be missing the attribute. Maybe it's not being persisted on save. Wrapping my head around the saving mechanics via a quick refresher on the @wordpress/data API.

[2021-04-19 09:52] carolinan commented on #30872
This page contains code examples and asks the reader to use CSS to insert images, it is not end user documentation, and in that sense the decision tree in the current link is easier to follow.
It also has an image of a screen that is not from the block editor, that can also be confusing.

[2021-04-19 10:02] talldan commented on #25945
Related to the above comment, https://github.com/WordPress/gutenberg/pull/30076 added `enqueue_block_editor_assets` in the standalone widgets page. I don't know if this fixes the issue.

[2021-04-19 10:10] mtias commented on #25505
It seems like inner-blocks should have a display option for "inline". Though I have no clue how much mayhem that may unleash on the block wrappers :) cc @youknowriad @ellatrix

[2021-04-19 10:11] youknowriad commented on #25505
This definitely seems like another "type" for the layout prop of "InnerBlocks"

[2021-04-19 10:23] draganescu commented on #30919
Ha, indeed, should have checked and yes block transforms is the better approach than patching widget registration, doh!.
I wonder if the best approximation conversion which effectively turns the rendered widget html to blocks is a valid use case and worthy of developing initially?

I'll split a documentation task from this issue around transforming plugin provided widgets to blocks.

UI wise, I be

[2021-04-19 10:29] getdave commented on #30323
Ok I have a fix. PR incoming.

[2021-04-19 10:35] #20764 closed

[2021-04-19 10:49] anselanza commented on #9220
This is definitely a problem still, on a self-hosted WP 5.7.1 site.

For me, Autosave works "most" of the time but occasionally - catastrophically - just doesn't.

Surely a simple fix would be to allow "Saving..." to FAIL (e.g. on connectivity issues, server error, whatever) and LET YOU TRY AGAIN. Right now, once you get stuck in "Saving..." you have no option to cancel, try again, Save a Draft, P

[2021-04-19 10:54] carolinan commented on #29168
I don't think it is possible to correctly add a title after an unknown text, and there may be problems with translations.

[2021-04-19 10:59] carolinan commented on #29168
<del>The heading placeholder says:
`Write heading...`
the quote placeholder says
`Write quote...`
`Write citation...`
and the post author byline placeholder says:
`Write byline...`
</del>
So I think the text should be "Write read more text..."
Or "Write read more link text...

The current aria-label is "Read more link text"

Edit: Ignore all of the above, I refreshed my page and it now says " Add

[2021-04-19 11:08] ellatrix commented on #25505
Why does inner blocks have to be concerned with "inline"? Inner blocks itself doesn't render any divs, it's up to the block to style all this.

[2021-04-19 11:31] carolinan commented on #29168
I am not able to reproduce the part where the cursor is a pointer, please confirm.

[2021-04-19 11:43] ntsekouras commented on #30942
I think we can keep it open for now for some discussion, probably after the landing/testing of the Query with patterns in `carousel`.

[2021-04-19 11:57] carolinan commented on #27214
Hi @bobbingwide, I am working on the post excerpt block, are there any actionable items left in this issue?

The post excerpt block does not use the more tag. It has a placeholder text for the read more link, and if this placeholder text is not replaced, it does not output a read more link text. -The block can not show a link on a new line if there is no link.

It also does not prevent other conte

[2021-04-19 12:31] carolinan commented on #28001
https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/post-excerpt/index.php#L24
I don't think that there is any scenario where $attributes['wordCount'] is not set? I'd like to remove the hardcoded value (55) because it is already set as the default for the attribute in block.json.

[2021-04-19 12:57] devfle commented on #29436
I am currently trying to fix this error. As @david-szabo97  had already correctly noted, there seems to be a problem with the calculation of the height. The whole thing is done here: https://github.com/WordPress/gutenberg/blob/3da717b8d0ac7d7821fc6d0475695ccf3ae2829f/packages/block-editor/src/components/block-preview/auto.js#L36

When inspecting it, I noticed that the 'contentHeight' is not being

[2021-04-19 13:15] sabrina-zeidan opened #30960 "UI option to disable Lazyloading for block"
## What problem does this address?
After [5.5](https://make.wordpress.org/core/2020/07/14/lazy-loading-images-in-5-5/) we have lazyloading for images provided out of the box using the native HTML `loading` attribute, which is applied to all images. Iframes are lazyloaded since [5.7](https://make.wordpress.org/core/2021/02/19/lazy-loading-iframes-in-5-7/) too.

**Currently, the only way to disable

[2021-04-19 13:32] gziolo commented on #30936
Related comment from @youknowriad on a PR https://github.com/WordPress/gutenberg/pull/30749#issuecomment-818670858 that is applicable here as well:

We need a more general way to control what is being passed to the `InnerBlock` component or with `useInnerBlockProps` hook.

[2021-04-19 13:40] gziolo commented on #30922
The only issue I see is that "Guteberg Labs" is different than what would be considered "WordPress Labs". In WordPress core we only include features that are no longer experimental in the plugin. To give an example, Query block is only enabled in the Gutenberg plugin and doesn't exist in WordPress core. During the Full Site Editing Go/No Go demo the discussion was about shipping the Query block in

[2021-04-19 13:41] priethor commented on #28744
Added to the list the 3 new theme blocks that landed in [10.3](https://make.wordpress.org/core/2021/04/02/whats-new-in-gutenberg-10-3-31-march/) (Login/Out, Term Description, and Archive Title) for tracking purposes, although they don't seem to make a lot of sense with the Landing page scope of 5. Moreover, without #30679 the archive blocks can be used in any template even if they are not meant to

[2021-04-19 13:46] gziolo commented on #30901
❤️

It isn't possible at the moment with the extension points that exist in the editor. It was discussed many times but it never happened mostly because the primary way to include an item in the toolbar is through the More Menu on the right side and the concept of pinned items. The reasoning always was to improve the current way of extending the UI before opening more places in the editor for exte

[2021-04-19 13:53] evakaneva opened #30962 "Image block: 180 degrees rotation forces the image to crop"
## Description
When the image is rotated to 180 degrees, a crop area appears.

## Step-by-step reproduction instructions
1.Insert an Image block
2.Upload image
3.Click the crop icon
4.Click rotation button twice
4.Observe image has crop

## Expected behaviour
I would expect the image to rotate without crop.

## Actual behaviour
The image cannot be rotated without it being cropped.

## Screenshots

[2021-04-19 14:12] carolinan commented on #30960
Is lazy-loading a term that most users will understand?

[2021-04-19 14:41] getdave commented on #29529
@jasmussen I've created [a proof of concept PR](https://github.com/WordPress/gutenberg/pull/30964). Implementation will need improving but it should give us a sense of how this interaction might feel. Let me know if you'd like me to iterate.

[2021-04-19 14:50] Clorith opened #30965 "Query Block: Don't add patterns when the block is unsupported"
## Description
On a site running the Twenty Twenty-One theme, if you search for `Query` in the block-inserters, you are only shown the three Query Block patterns, but the Query block is unsupported.

This leads to both the preview, and if you insert the pattern, only showing a message saying the `core/query` block is unsupported on your site.

## Step-by-step reproduction instructions
- Click to a

[2021-04-19 15:10] skorasaurus commented on #30945
Hi,

Thanks for reporting;
This has been reported in https://github.com/WordPress/gutenberg/issues/26239. Feel free to [add your reaction](https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/about-conversations-on-github#reacting-to-ideas-in-comments) and follow its progress in the issue.

[2021-04-19 15:10] #30945 closed, assigned to nobody

[2021-04-19 15:12] skorasaurus commented on #27597
ref https://github.com/WordPress/gutenberg/issues/27597

[2021-04-19 15:16] skorasaurus commented on #30872
Hi,

Thanks for reporting;

This has been reported and discussed in https://github.com/WordPress/gutenberg/issues/19068. (as well as the https://core.trac.wordpress.org/ticket/48939 and https://github.com/WordPress/gutenberg/pull/26520
Feel free to [add your reaction](https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/about-conversations-on-github#reacting-to-ideas-in-co

[2021-04-19 15:16] #30872 closed, assigned to nobody

[2021-04-19 15:16] gziolo commented on #30308
We discussed the same issue on WordPress Slack in #core-editor channel (link requires registration at https://make.wordpress.org/char):

https://wordpress.slack.com/archives/C02QB2JS7/p1618837744030100

I second what @priethor said:

[2021-04-19 15:24] priethor commented on #19068
Hi there! This issue came up during the recent [Go/No-go demo on April 14th](https://make.wordpress.org/core/2021/04/15/full-site-editing-go-no-go-april-14-2021/), with the following suggestions:
- Expand the description to explain why adding an alternative text benefits SEO.
- Link to a wordpress.org resource as further explanation instead of an external resource.

[2021-04-19 15:29] diedexx opened #30967 "Pseudo links cause nested instances of the FSE editor"
## Description

When you click an anchor with a fake placeholder link like this in the FSE, a new instance of the editor is loaded inside the editor.
[code]
This allows you to nest multiple editors:
![image](https://user-images.githubusercontent.com/5352634/115260680-451f1100-a133-11eb-9aea-cffbb14b55f4.png)

## Step-by-step reproduction instructions
1. Install a FSE capable theme (I use TT1 Block

[2021-04-19 15:33] skorasaurus commented on #30850
Thanks! closing since https://github.com/WordPress/gutenberg/pull/30911 has been merged

[2021-04-19 15:33] #30850 closed, assigned to DaisyOlsen

[2021-04-19 15:37] Sandstromer commented on #30454
Sorry, I should have clarified page templates beginning with 'page-'

It seems weird how templates that start 'page-' are grouped under page templates, yet 'page-home' is grouped under general.

How is it decided which page templates are 'Page templates', and which page templates are 'General templates'?

[2021-04-19 15:59] stokesman commented on #28737
That seems very likely and even once learned/expected may potentially be a nuisance.

What if there were a button to trigger the pattern choosing experience alongside the inserter button?

[2021-04-19 16:05] carolinan commented on #30967
Closing as a duplicate of https://github.com/WordPress/gutenberg/issues/30647

[2021-04-19 16:05] #30967 closed, assigned to nobody

[2021-04-19 16:15] gwwar opened #30969 "Components: Refine When Autocompleter Stops Matching"
The autocompleter can cause performance issues when trying to match values in long strings. In https://github.com/WordPress/gutenberg/pull/30649 the algorithm was updated to not attempt after a mismatch happened + providing ways to escape from that condition (to continue matching). This already covered most of the scenarios that caused a slow-down due to over-matching. It also will stop matching i

[2021-04-19 16:19] #29944 closed, assigned to sarayourfriend

[2021-04-19 16:25] stokesman commented on #29746
@StevenDufresne, I've taken the liberty to expand the scope of this issue a bit. The root of it is in `Dropdown` which `DropdownMenu` composes. So fixing it in the former will fix it in the latter (as seen in #30786). Besides that, I edited it to indicate the issue is also present in Safari and only on macOS.

[2021-04-19 16:28] sarayourfriend opened #30970 "docgen: Lacks support for TypeScript exported static variable documentation extraction"
## What problem does this address?
The following is unsupported by docgen when using TypeScript but is supported when using JSDoc:

[code]

In JSDoc TypeScript this is supported via the `@type` annotation:

[code]

In the TypeScript example, nothing will be extracted, just the description. In the JSDoc case, the type will be extracted as well.

## What is your proposed solution?
I think we need to

[2021-04-19 16:30] mkaz commented on #30850
Thanks @skorasaurus !

@DaisyOlsen If you include `Closes #30911` in the description it would've auto closed, I saw you had it in a comment, but it appears it has to be in the description. [GitHub docs on it](https://docs.github.com/en/github/managing-your-work-on-github/linking-a-pull-request-to-an-issue), looks like in a commit message will also do it.

[2021-04-19 17:01] cinghaman commented on #21315
Any updates on this?

[2021-04-19 17:02] AmandaRiu commented on #30562
Just a note that I was not able to reproduce this issue, but @dcalhoun [was with his iOS device](https://github.com/WordPress/gutenberg/pull/30855#issuecomment-820820456). When I tested it I did it with an emulator and simulator. I'll test again using physical devices today and see if I can reproduce the issue that way and report back.

[2021-04-19 17:48] AmandaRiu commented on #30562
@jhnstn I wasn't able to replicate this issue on any of my Android devices, but was able to do it with my physical iPhone 11 (iOS v. 14.4.2):

https://user-images.githubusercontent.com/5810477/115280397-e1d2b600-a115-11eb-88d5-b252de0ac058.mp4

[2021-04-19 18:14] sabrina-zeidan commented on #30960
Yeah. I was thinking of the Advanced section because of this. I guess it's someone who is comfortable using HTML anchor or CSS classes would know the term lazy-loading too and might find this useful.

[2021-04-19 18:25] ockham commented on #28703
Thanks @noahtallen for your thoughtful reply! I truly appreciate the work and thought you've put into `wp-env`. I'm also glad that we're having this conversation about potential improvements for `wp-env` to make it more easily maintainable while not compromising on Developer Experience 😄

Thanks for bringing that up, and great point 👍  I've long thought that it'd be great to have a standardized de

[2021-04-19 18:42] antonis commented on #30878
After investigating this further it seems that the changes introduced in [`1.47`](https://github.com/wordpress-mobile/gutenberg-mobile/releases/tag/v1.47.0) with [this PR](https://github.com/WordPress/gutenberg/pull/28740) are causing the reported issue. This seems also to be related with the [disappeared custom button](https://github.com/wordpress-mobile/gutenberg-mobile/issues/3104#issuecomment-

[2021-04-19 18:55] noahtallen commented on #28703
Fantastic reply Bernie, thanks! It sounds like we're on the same page about the desired DX -- so the question is what to do to get there. Thanks for opening that PR, I'll be happy to continue the conversation there.

Digging into this scenario a bit, I'm apprehensive about the docker-compose approach because it feels like it's not upgrade-able. Then, any fixes or improvements become the burden of

[2021-04-19 19:00] draganescu commented on #15220
\o/

[2021-04-19 19:05] paaljoachim commented on #19077
I added the Alt text field.
Here is version 2.

![Preview-PDF-file-ver2](https://user-images.githubusercontent.com/5323259/115289497-ecf80700-a152-11eb-9291-5bf5fca7de39.jpg)

[2021-04-19 19:18] wpfangirl commented on #19077
Alt text looks good. What I can't tell from your screenshot is whether you see the full first page in its natural ratio.

[2021-04-19 19:25] dcalhoun opened #30976 "Unable to redo text entry for Quote/Pull Quote block"
## Description
If a Quote/Pull Quote block is added with text, ~but not a citation~, it is not possible to undo and then redo the block addition and text entry. The act of entering text into the Quote/Pull Quote block is not redo-able. ~If the Quote/Pull Quote block in question _does have a citation_, the redo functionality works as expected.~

## Step-by-step reproduction instructions
1. Launch t

[2021-04-19 19:35] ockham commented on #28703
Would it? 🤔  We'd probably still be shipping a `docker-compose.yml` in `wp-env`, and a `docker-compose.override.yml` at the root level (of Gutenberg, or any plugins/themes that use wp-env), so those would be amenable for centralized fixes. But maybe I'm not seeing clearly; can you give a concrete example?

[2021-04-19 19:43] #30832 closed, assigned to sarayourfriend

[2021-04-19 20:15] paaljoachim commented on #19077
I "cut" the image to show the text link and button below.
It is supposed to be a large image. As that is what is selected in the Image Size setting. (It is though just a mockup made in Affinity Photo.) I am hoping that Pento will add these adjustments or something similar.

[2021-04-19 20:34] skorasaurus commented on #30568
confirmed with gutenberg 10.4.1

[2021-04-19 20:40] skorasaurus commented on #29802
Hi,

Thanks for reporting; there's additional discussion on this in https://github.com/WordPress/gutenberg/issues/29818 where you can follow its progress.

[2021-04-19 20:40] #29802 closed

[2021-04-19 21:34] critterverse opened #30978 "Changing opt-in options on the Experiments screen in the Gutenberg plugin"
Hi all, opening this issue to discuss making some tweaks to the Experiments screen in the Gutenberg plugin.

A couple of small changes we might consider making:

- Having options to opt-in/opt-out for each of the block-based Widget editors (opted-in by default)
- Adding “beta” tags to the experiments

![experiments-new](https://user-images.githubusercontent.com/77359364/115295617-f28c2780-a127-11e

[2021-04-19 21:39] idea--list commented on #19077
@paaljoachim
The screenshot of version 2 begins to make sense.
The only thing i still miss is the possibility to override the cover image.
Why that? Because some PDF files have a really boring cover page.

[2021-04-19 21:42] DaisyOlsen commented on #30850
Thanks I'll remember that for next time!

[2021-04-19 21:49] gwwar commented on #19476
Yes, this is still an issue. Tested on OSX/FF88:

https://user-images.githubusercontent.com/1270189/115307648-60cbec80-a11e-11eb-852b-1f2328704229.mp4

[2021-04-19 21:59] gwwar commented on #19476
I'm at EOD but here's a quick draft PR of the dep update: https://github.com/WordPress/gutenberg/pull/30979

[2021-04-19 22:11] critterverse commented on #30922
Thanks so much for the notes and feedback, everyone! Feels like there's a lot of excitement about revisiting the Experiments screen and this has been a great starting point for opening up the discussion.

The most important aspect of this idea is the added info about _what it is_ you’re testing — I’m hoping this can improve user understanding and generally help make the experiments more approachab

[2021-04-19 22:20] critterverse commented on #30912
Closing this issue for now as there are several ongoing conversations about adding functionality to the top area of this Customizer screen #30886 and #30720. No need to make this area more complicated while things are still being figured out!

[2021-04-19 23:35] noisysocks commented on #30978
Love this. Let's do this as the next step towards merging the Widgets editor and Widgets Customizer panel into Core.

[2021-04-19 23:55] noahtallen commented on #28703
I think I might misunderstand your suggestion! Let me see if I get this right:

Your thought is to have wp-env provide a default docker-compose.yml file, which is "hidden". (Like we currently do, though we won't generate it from the config anymore.)

The way users replicate ".wp-env.json" is by creating the `docker-compose.override.yml` file in their project, right?

In that case, I'm getting much

[2021-04-20 00:02] noisysocks commented on #30919
It's an item in https://github.com/WordPress/gutenberg/issues/25759. But maybe seperate issues would be better instead of one big issue with checkboxes.

Yes I don't think this bit of the UI is as prominent as it needs to be. (Even you missed it! 😛) A "Convert to blocks" button on every Legacy Widget block makes sense to me.

[2021-04-20 01:46] Gumbino commented on #30965
Thank you for documenting it. We saw the same issue and couldn't understand what was causing it.

[2021-04-20 01:53] talldan commented on #30329
I haven't been able to reproduce this in testing again, so I'm not sure what happened.

[2021-04-20 02:21] talldan commented on #30932
Thanks for reporting this, I tested to confirm the issue.

[2021-04-20 02:29] talldan commented on #30929
Thanks for the bug report, though this is a WordPress core issue, and being tracked in this ticket - https://core.trac.wordpress.org/ticket/32386.

[2021-04-20 02:29] #30929 closed, assigned to nobody

[2021-04-20 03:48] Mamaduka commented on #30782
Maybe we can add the "Remove Alignment" menu item at the bottom of the list.

Example from the CoBlocks animations menu.

![CleanShot 2021-04-20 at 07 44 46](https://user-images.githubusercontent.com/240569/115334583-b64eda80-a1ac-11eb-95c8-31e1bb4530e3.png)

[2021-04-20 04:59] pento commented on #19077
Thank you for the feedback, everyone! I've been experimenting with adding these additional options, I think they would be better handled in a separate PR, for two reasons:

There's quite a lot of additional complexity, both in implementation (this should likely be built as a child Image block, rather than partial re-implementation of the Image block features), and in UI (there are _a lot_ of addit

[2021-04-20 06:34] #29782 closed

[2021-04-20 06:58] carolinan commented on #30724
A few more comments from the users:

_Changing the alignment doesn’t give clear visual feedback if the browser window is small. There is no textual feedback, so it’s possible to see the change only if the browser windows size is changed._

_The icon to change the width doesn't match the context, nor the label at all._

[2021-04-20 07:01] talldan commented on #28995
I can confirm this one. It specifically happens when clicking into the visual editor area of the text widget. I guess that it swallowing the focus event.

[2021-04-20 07:15] carolinan commented on #17654
This is the same problem described here:
https://github.com/WordPress/gutenberg/issues/30724

I would really like to understand why this is problematic for the widths, but not for other options.
Why it is not clear that clicking the icon a second time disables the option.
For example, if you make a text bold, then you also need to click that icon again to remove the bold.

[2021-04-20 07:21] carolinan commented on #17510
Closing this, as it is confirmed to be a theme issue.

[2021-04-20 07:21] #17510 closed

[2021-04-20 07:32] carolinan opened #30982 "Add a text gradient block support"
## What problem does this address?

Paragraph blocks do not have a gradient color option.
This feature was requested during user testing.

EDIT: This was done for backgrounds in https://github.com/WordPress/gutenberg/pull/43119 but there is also a suggestion that we should be able to add graidents for text!

## What is your proposed solution?

Enable support for gradient controls for the paragraph

[2021-04-20 08:19] getdave opened #30985 "Block Patterns causing "updates" displayed in browser console for blank new Post (blocks are not used within editor content)"
## Description

With the latest `trunk` build, start a new Post and you will see a lot of output in the console relating to various blocks having successfully "updated" their content. This appear to be due to a change in the DOM used in the block which doesn't match what's "saved" in the post content.

However...

In this case these warnings shouldn't be showing because we haven't yet inserted any

[2021-04-20 08:28] fluiddot opened #30987 "Video block: Video is not displayed when post is saved in the web version"
## Description

**This issue was initially identified here: https://github.com/wordpress-mobile/WordPress-iOS/issues/15184**

When a video block is saved in the web version then the video can't be displayed in the mobile app and shows the message “Problem displaying block” within the block. Looks like there's some kind of incompatibility on the HTML produced when this block is used in the mobile a

[2021-04-20 08:29] talldan opened #30988 "Blocks in customize widgets screen: Contextual block toolbar goes offscreen"
## Description
For blocks that have a slightly longer block toolbar, a lot of the important toolbar options end up being off-screen due to the toolbar being right-aligned.

<img width="301" alt="Screenshot 2021-04-20 at 4 26 23 pm" src="https://user-images.githubusercontent.com/677833/115363587-2d0fc600-a1f5-11eb-887b-8b2cb50dfb33.png">

I'm not sure what the desired behavior is here, I've seen si

[2021-04-20 08:34] gziolo commented on #30969
@gwwar, thank you for creating a follow-up issue.

[2021-04-20 08:38] fluiddot commented on #30987
On Android, it produces a block validation error when testing with a debug build (see attached screenshot).

I saw that we already have an issue, in this case [related to the Cover block](https://github.com/WordPress/gutenberg/issues/28972), that shows a similar error, maybe both issues are caused by the same problem 🤔 .

<img src=https://user-images.githubusercontent.com/14905380/115365176-6c71ee

[2021-04-20 09:09] carolinan opened #30991 "Feature request: Move the control for the number of columns to the block toolbar"
## What problem does this address?

This was brought up during a user testing session. People expected to be able to change the number of columns in the toolbar and not in the sidebar.

## What is your proposed solution?

Move the setting to the toolbar.

[2021-04-20 09:22] ntsekouras commented on #30985
This happens because we have extended patterns functionality which needs to parse the patterns. In order to do it in a more performant manner, they are parsed during browser idle time and that's why the messages are shown on load of a post, even if there are no blocks in the content.

Most of these issues should be solved in this: https://github.com/WordPress/gutenberg/issues/28921, where the patt

[2021-04-20 09:27] ntsekouras commented on #28921
Just noting that the revisited patterns should keep in mind to avoid or minimize the deprecated markup used. Related: https://github.com/WordPress/gutenberg/issues/30985

[2021-04-20 09:35] gziolo commented on #29963
I agree that the Navigation block is one of the most advanced blocks so it obviously has some special cases. As the first step, it makes sense to start with something simpler so the plan that @georgeh outlined stays in line with what you said:

I still think that we should observe all the use cases we have with other blocks and try to identify common limitations so we could offer a more flexible A

[2021-04-20 09:45] atimmer commented on #29436
I can reproduce this issue exactly the same as the topic starter.

I can also confirm that it's not consistent. But it always pops back up after a while. Sometimes when I switch blocks the problem goes away. Then later the problem is back again. Edit: Firefox 88.0 on macOS 11.2.3.

My understanding is that every `index.native.js` always has a `index.js` alongside it. And that is the case here too:

[2021-04-20 10:04] mtias commented on #30982
Was this request for background gradient or for gradient mask on the text itself?

[2021-04-20 10:12] scrobbleme opened #30993 "Please re-add menu entry for converting a reusble block to a regular one"
After the latest update users started to complain, that they can't convert reusable blocks to regular blocks anymore...

At first we thought this was a bug...
The new icon is neither descriptive nor intuitive to use... we needed to search for this functionality. No one just clicked the icon...

→ why not just leave an explicit "written" menu entry (at the dot menu)?

If there is an icon button for

[2021-04-20 11:12] Lovor01 commented on #30936
I agree with you. How can I achieve this currently (i.e. changing what template will be inserted when user clicks on inserter plus button in `InnnerBlocks` , depending on block parent, user choice, state of the editor etc.)?

[2021-04-20 12:23] kjellr commented on #30985
I don't think that's related to https://github.com/WordPress/gutenberg/issues/28921, since the patterns there look like they're coming from TT1 Blocks. We should likely get those fixed over there.

[2021-04-20 12:25] kjellr commented on #28921
I'm going to close this one for now, since #29973 has merged. The second part of this will be merging into Core (and removing from Gutenberg), but we have [a trac ticket](https://core.trac.wordpress.org/ticket/52846) to keep track of when that needs to happen. 👍

[2021-04-20 12:46] ntsekouras commented on #30910
What do you mean here?

[2021-04-20 12:54] pbking commented on #28703
Interesting ideas and discussion.  I really like the idea of having the docker configuration closer to me and starting out might have been a little easier for my brain to understand.  Then I knew little of WordPress and only enough about Docker to tinker. .  .wp-env.*.json is comfortable to me now, though and I would really miss the feature of unzipping/unpacking resources, something I don't know

[2021-04-20 13:21] Mamaduka commented on #12429
I think we can close this one as PR #19916 introduced a similar feature.

[2021-04-20 13:25] priethor commented on #28744
Added the Login/Out as it can indeed be useful if added to a Widget Area thanks to the Widgets Editor project.

[2021-04-20 13:34] arcmicro opened #31000 "Add Additional Colors from (Adobe Illustrator: System Windows)"
## What problem does this address?
The Gutenberg Blocks lack versatility with premade colors, the custom colors are good but not useful when you create allot of posts with the same needed colors, it is a pain to made them again.

## What is your proposed solution?
I have found out that the best colors which i prefer to use are in Adobe Illustrator under (Swatches > Library > System (Windows) color

[2021-04-20 13:36] jameskoster commented on #28737
Yup, I think that is what we'll do, probably via the UI we implemented in https://github.com/WordPress/gutenberg/pull/30469, but a dedicated button next to the inserter is an interesting idea if we want to make it more prominent.

[2021-04-20 13:38] getdave commented on #29793
@gwwar This is related. I found the same issue.

https://github.com/WordPress/gutenberg/pull/30956

Perhaps we can try and persist the relevant fields from the block to those on the Nav Menu object.

https://core.trac.wordpress.org/browser/tags/5.7.1/src/wp-includes/nav-menu.php#L786

For example, `object` and `object_id` should be ideal for storing some of the data you refer to. Then when we hydr

[2021-04-20 13:41] dcalhoun opened #31001 "iOS block editor does not respect the in-app dark mode setting"
## Description
If the in-app Appearance settings is set to Dark, the iOS block editor _does not_ correctly apply the dark mode color scheme. The block editor _does_ correctly respect the OS-level dark mode setting.

## Step-by-step reproduction instructions
1. Launch the WPiOS app.
2. Open the My Site tab.
3. Tap the avatar in the top-right corner to open the Me modal.
4. Tap App Settings.
5. Set

[2021-04-20 13:51] walbo commented on #30931
The `SuggestionList` bug is not just in the `FlatTermSelector`. The same issue is in the `PostAuthor (combobox)` component. We have a site with two different authors that have the same name.

[2021-04-20 14:08] mtias commented on #31000
It is possible to register custom color palettes using the `add_theme_support( 'editor-color-palette' )` API https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-support/#block-color-palettes

This can be added in your theme's functions.php file and they will becomes available across blocks.

Alternatively, in the future, the default color palette will be editable directly in th

[2021-04-20 14:08] #31000 closed, assigned to nobody

[2021-04-20 14:10] zackkrida commented on #25947
Hello, I've also encountered this issue but was made aware of several shortcuts:

Indent: `cmd+m` Outdent: `cmd+shift+m`

and, a 'hidden' shortcut when on the first character of a new list item:

Indent: `space` Outdent: `backspace`

I would also expect the tab behavior, but I'm thinking what Gutenberg does may be the best approach. For reference, here's what happens in **Notion**:

https://user-i

[2021-04-20 14:30] carolinan commented on #30982
It was not specified so I assumed they meant background. Asking for clarification.

But gradient _headings_ could be nice...
https://codepen.io/leocampos/pen/pPwwNR
https://codepen.io/saclark/pen/EepFx

[2021-04-20 14:33] skorasaurus commented on #30962
Thank you for reporting and including clear steps and a screenshot.

I'm able to reproduce this; also on Version 10.4.1; using firefox/ubuntu and twentytwentyone theme.

[2021-04-20 14:33] getdave commented on #29793
Just noticed that there is just a single `core/navigation-link` block and that has several variations. So that should make this easier 🤞

[2021-04-20 15:00] jameskoster commented on #20477
In the interest of aligning the designs presented in my previous comment, with the latest concepts for other site editing features, I have a few small updates to share.

For now I think we can probably leave out the template search. The majority of sites will have only a few templates so we can revisit this separately when the need is more pressing.

The scale slider can also be omitted for now –

[2021-04-20 15:29] getdave commented on #29793
@gwwar I have [a PR up which I believe will address this](https://github.com/WordPress/gutenberg/pull/31004) but I'd be interested in your advice.

Essentially we have two places in code where we are creating `core/navigation-link` blocks from _menu objects_ stored in the database (as opposed to as serialized blocks as we do with standard blocks):

1. In the Navigation Editor:
https://github.com/W

[2021-04-20 15:41] fluiddot commented on #29928
👋 **Reviving this issue:**

I worked on adding the batched actions as @jsnajdr pointed in a [previous comment](https://github.com/WordPress/gutenberg/issues/29928#issuecomment-802682800). I created a [draft PR](https://github.com/WordPress/gutenberg/pull/31005) that adds these new actions and applies them into the `getEntityRecords` resolver, so far looks like it's working nice 🎊 .

Before proceed

[2021-04-20 15:45] leutrimhusaj commented on #28853
I revised my PR and made a new one, would be cool if you can look after it and tell me whats your opinion on this.

[2021-04-20 15:49] Sandstromer opened #31008 "Site Editor: block toolbar covers blocks that are close to top of header template"
## Description

In the site editor, when editing the header, any blocks that are close to the top of the template are obscured by the toolbar.
This is very apparent when removing the spacer block in the header of TT1-Blocks theme.
When the toolbar obscures the block it is almost impossible to edit that particular block.
Not all themes will contain a 70px spacer as the first block in the header, so

[2021-04-20 16:17] samtuke opened #31009 "Text formatting menu disappears on mouseover in block editor"
## Description
See video. It's impossible to use the contextual menu buttons as they constantly disappear.

## Step-by-step reproduction instructions
1. create a new post
2. create a paragraph
3. enter some text
4. highlight a word
5. try to add a link using context menu

## Expected behaviour
menu remains visible, link button clickable

## Actual behaviour
menu disappears when cursor moves, menu

[2021-04-20 16:18] paaljoachim commented on #24072
I do wonder if the Styles thumbnails should be made smaller, and that we have a preview on the left. Somewhat similar to what @shaunandrews is mentioning here: https://github.com/WordPress/gutenberg/issues/24072#issuecomment-662085339

Today we have the hover over blocks in the Inserter panel. Adding the same method to Style smaller thumbnails could be helpful. I do wonder about accessibility.

To

[2021-04-20 17:07] eduardozulian commented on #29441
@jasmussen do you know if there is a particular reason why we ended up with two separate blocks (horizontal and vertical) rather than a setting on a broader Navigation Block? I think it might work if we turn the "Transform to variation" option into a setting under "Display".

Thank you!

[2021-04-20 17:17] paaljoachim commented on #30572
Hey James

It looks like a good first iteration!
I think we can bring it over to "Needs dev" label.

[2021-04-20 17:17] davidperezgar commented on #30619
Hello, I have more information.
It keeps loading in ajax categories in a loop and does not stops... You could see it here:
https://www.loom.com/share/bf28aaac5983452f9d8f58b6e91eceef

This is the order that gets loop infinite /wp-json/wp/v2/categories?args=&page=2&_locale=user

And without permalinks works correctly.

[2021-04-20 17:17] jasmussen commented on #29441
I know the key bit here is to ensure that the mover control points in the right direction based on context, so primarily a technical consideration. @ntsekouras please correct any bits I might be missing here.

Keeping in mind that more blocks than Navigation (currently Buttons) are likely going to need a user-friendly interface for changing orientation, it's important we think in terms of an inter

[2021-04-20 17:21] paaljoachim commented on #30573
Hi James

It looks like you have the added options needed for this block.
One thing. I assume it will use the same date style as the rest of the WP backend.
As the date will change depending on the WP settings date and time settings.

[2021-04-20 17:21] mtias commented on #30982
Yes! Those would be neat to support

[2021-04-20 17:26] paaljoachim commented on #30574
Hey James

Here I am wondering if we should have color controls (text and background). Perhaps even typography controls.
The icon looks good.

"The content of the comment." Add the punctuation.

An additional control might be to add border control. As well as some padding.

[2021-04-20 17:32] paaljoachim commented on #30575
It would be nice to also give the opportunity to upload another default avatar image.
I assume that styles is a round or square style. Instead of style one can use a Border Radius control. Similar to the Buttons block Border settings. To go from a square and then a roundish shape and all the way to a circle.

[2021-04-20 17:41] priethor commented on #27814
Added _Allow themes to opt-in/out of the "Create new template" flow_ to the list.

[2021-04-20 17:59] TheMinimalistNinja opened #31011 "Images are centered in editor and aligned left in preview"
## Description

When I preview a post with WordPress images that are aligned center with the Gutenberg tool shows up as being aligned left in the preview.

## Step-by-step reproduction instructions

Picture should align-center when align-center is selected in the editor

## Actual behaviour

Picture aligns left in preview

This is the CSS rule which is causing the issue, which is located in https:

[2021-04-20 18:00] wpfangirl commented on #19077
That sounds like a problem with the PDF, rather than the block.

[2021-04-20 18:13] priethor commented on #28356
As @jasmussen says, margin support seems to be one recurring tool required by many theme blocks to build rich patterns.

[2021-04-20 19:16] annezazu commented on #30308
Closing this out based on the above in that case!

[2021-04-20 19:16] #30308 closed, assigned to nobody

[2021-04-20 19:40] LukaszJaro opened #31013 "Theme CSS being overridden and small styles not inlined using add_filter( 'load_separate_block_assets', '__return_true' );"
Hi,

I'm not using a FSE theme, just a standard theme trying to take advantage of the new improved CSS block loading(load only required block CSS if block is present on page) using latest version of Gutenberg and WP.

Two Issues:

- I noticed my theme styles are being overridden when using the filter add_filter( 'load_separate_block_assets', '__return_true' );
- Small block stylesheets are not bei

[2021-04-20 20:03] #29243 closed

[2021-04-20 20:31] #28853 closed

[2021-04-20 21:07] amir2mi opened #31017 "GradientPicker low opacity when value is not set"
Hi, I have checked the Gutenberg gradient picker I know it is still unstable but I have a problem.

**Step-by-step reproduction:**
it is obvious in its [story](https://wordpress.github.io/gutenberg/?path=/story/components-gradientpicker--default) just,
1- clear the gradient picker
2- select to create a control point

**Expected behavior:**
The gradient picker, color picker is opened and its opacit

[2021-04-20 22:25] landwire opened #31018 "400 rest_invalid_param -> rest_additional_properties_forbidden"
## Description
I am a plugin developer and I am extending all core blocks with an ability to hide them on certain device width: https://wordpress.org/plugins/responsive-block-control

A user recently reported the following error, when previewing certain blocks, which I could reproduce on calendar, archive, latest comments:

`{"code":"rest_invalid_param","message":"Invalid parameter(s): attributes"

[2021-04-20 22:26] pwkip commented on #28931
I agree that it should be less easy to accidentally edit reusable blocks. I switched off the Gutenberg plugin when seamless reusable blocks were introduced, trusting that it would be revised before making it to core.

Right now I think it's not obvious at all what is happening when you edit a reusable block. This change feels like a step in the wrong direction.

[2021-04-20 23:00] idea--list commented on #19077
@wpfangirl
Until the same person/organization authors the PDF that manages the website you are right.
However that is not always the case. For sure adding such a possibility does not break any other functionality of the block.
So i do not see why that should not be part of an implementation.

[2021-04-20 23:03] wpfangirl commented on #19077
@idea--list Fair enough. In use cases I've encountered so far it hasn't mattered a lot if the PDF is boring to look at.

[2021-04-20 23:12] peterwilsoncc opened #31019 "Link dialog jumps when changing formatting while it's open."
## Description
If the link dialog is open, changing the format of the highlighted word can cause the link dialog to move on the screen. I'm able to reproduce this in both Safari and Firefox.

This was [originally reported on WordPress trac](https://core.trac.wordpress.org/ticket/50327) by Wordpress.org user [bjornsennbrink](https://profiles.wordpress.org/bjornsennbrink/).

## Step-by-step reproduc

[2021-04-21 00:31] noisysocks commented on #30988
The toolbar should be left-aligned and allowed to overflow into the right hand preview area. See https://github.com/WordPress/gutenberg/issues/27343.

<img width="1054" alt="Customizer toolbar" src="https://user-images.githubusercontent.com/612155/115479825-9f7fb500-a28c-11eb-9456-8dddcb32c5b9.png">

[2021-04-21 01:11] #30050 closed, assigned to talldan

[2021-04-21 02:02] noisysocks opened #31021 "Widgets editor: Toolbar is not left-aligned with the selected block"
## Description

The block toolbar in the Widgets screen is not left-aligned with the selected block.

## Step-by-step reproduction instructions
1. Go to Appearance → Widgets.
2. Select any top level block in any widget area.

## Expected behaviour
Block toolbar should be left-aligned with the selected block.

## Actual behaviour
Block toolbar is indented.

## Screenshots or screen recording (optio

[2021-04-21 02:03] glendaviesnz opened #31022 "Site Editor: custom block editor javascript assets don't load in iframe context"
## Description
Where custom blocks rely on additional js script resources in the editor context, and where these scripts are dependant on being in the correct parent window context, the blocks fail to run correctly when added in the site editor context. This is because the scripts are loaded in the context of the main site editor window instead of in the editor iframe.

## Step-by-step reproductio

[2021-04-21 02:04] noisysocks commented on #31021
This happens because the selected block is a child of the Widget Area block. This means that `BlockContextualToolbar` applies the `has-parent` class which indents the toolbar. This is so that there is space for `BlockParentsSelector` to appear. But `BlockParentsSelector` never shows because Widget Area sets `__experimentalParentSelector` to `false`.

We should not apply the `has-parents` class if

[2021-04-21 02:05] noisysocks commented on #26261
Might be good to fix this at the same time: https://github.com/WordPress/gutenberg/issues/31021

[2021-04-21 02:32] noisysocks opened #31023 "Widgets editor: HTML entities appear in Legacy Widget's description"
## Description

HTML entities appear in the Legacy Widget block's description.

## Step-by-step reproduction instructions

1. Navigate to `wp-admin/widgets.php`. (The old screen.)
2. Insert an Archives widget.
3. Navigate to Appearance → Widgets. (The new screen.)
4. Select the Legacy Widget block corresponding to the Archives widget.
5. Open the block inspector.

## Expected behaviour

The widget

[2021-04-21 02:33] noisysocks commented on #31023
You can see that the HTML entity is coming down in the REST API response. We should run the description through `htmlspecialchars_decode` on the server.

https://www.php.net/manual/en/function.htmlspecialchars-decode.php

[code]

[2021-04-21 03:06] ramonjd commented on #31022
I'm facing a situation whereby a block enqueues core assets, e.g., `wp_enqueue_style( 'wp-mediaelement' );`. I'm not sure how to approach it.

For example, the Jetpack podcast player, and any media player that relies on [WordPress mediaelement ](https://github.com/WordPress/WordPress/tree/master/wp-includes/js/mediaelement) assets, it'd be nifty to somehow make `enqueue_block_editor_assets` aware

[2021-04-21 03:18] retnonindya opened #31024 "List block: Provide option to change the bullet point"
## What problem does this address?
More like an enhancement on the [List block](https://wordpress.com/support/wordpress-editor/blocks/list-block/), I guess? Just throwing ideas here 😅

I wonder if we can have some kind of option to change the bullet point to other symbols -- most notably, checkmark. Currently, the List block use bullet point-look (or numbers, on ordered list.)

This might be usefu

[2021-04-21 04:34] talldan commented on #29630
The navigation screen (as in this project -  https://github.com/WordPress/gutenberg/projects/31) has been developed for classic (non block-based) themes. It doesn't have any FSE functionality.

I would assume the proposal is a way to edit a navigation block in a template part (or something similar) more directly than just editing it in a full template (ie header)? In that respect, it sounds very s

[2021-04-21 05:33] stokesman commented on #31019
I can reproduce with Gutenberg from trunk and Chrome 89 on macOS 10.12. I've seen a similar thing elsewhere. It seems likely to be rooted in the `Popover` component.

[2021-04-21 05:59] aristath commented on #31013
In an FSE theme, blocks get parsed before the `<head>`, while in classic themes blocks get parsed on-render. The result of that is that in FSE themes stylesheets get printed in `<head>`, and in classic themes they get printed in the footer.
In order for your theme's styles to override them, you can either make them more specific, OR load them in the footer (you can accomplish that by hooking your

[2021-04-21 07:20] gziolo commented on #30970
I assume it can be closed now that #30971 landed.

[2021-04-21 07:20] #30970 closed, assigned to sarayourfriend

[2021-04-21 08:02] javierarce commented on #30922
As a reference, I'd like to point out how GitHub handles this. Their experiment section is called Feature Preview, and for each experiment, they show a title, a description, an image, a link to the documentation, and a link to give feedback.

Here's an image of the interface from an [old announcement post:](https://github.blog/2019-11-13-universe-day-one/#feature-preview)

![image](https://user-im

[2021-04-21 08:05] getdave commented on #30424
@talldan Should this be in the `PRs pending review` column?

[2021-04-21 08:12] talldan commented on #30424
I've moved it to the right place and linked the relevant PR 😄

[2021-04-21 08:18] ntsekouras commented on #29441
That's true but this was the first exploration about block variations transforms and I totally agree with Joen's comment:

[2021-04-21 08:33] paaljoachim commented on #31024
Hey @retnonindya Retno

There are actually a few issues related to this. Here is one of these:
https://github.com/WordPress/gutenberg/issues/17738

No one has worked on it yet.

I will mark your issue as a duplicate.

[2021-04-21 08:42] jameskoster commented on #30574
Excellent feedback. I agree on all points :)

If possible, it would be cool to use the design tools from https://github.com/WordPress/gutenberg/issues/27331 for the color, padding, and typography controls. But I don't know if they are ready yet.

[2021-04-21 08:43] jameskoster commented on #30573
Yup, the date format option should be respected here. But as in the Post Date block, it should be customisable:

<img width="284" alt="Screenshot 2021-04-21 at 09 43 24" src="https://user-images.githubusercontent.com/846565/115524465-12396200-a286-11eb-9107-9a4b5d553c2d.png">

[2021-04-21 08:44] ntsekouras commented on #31009
Hey @samtuke 👋 - I can't reproduce this..

Can you try with disabling the plugins and report?

[2021-04-21 08:46] jameskoster commented on #30575
That's an interesting idea. I suppose we could pull the options from the avatar settings:

<img width="1224" alt="Screenshot 2021-04-21 at 09 45 25" src="https://user-images.githubusercontent.com/846565/115524732-56c4fd80-a286-11eb-81aa-0cfdec459fd2.png">

into the "Advanced" panel on the block?

Since the block renders an image, I assume it will inherit styles from the image block. That may not b

[2021-04-21 08:51] paaljoachim commented on #30574
At the moment we can focus on what is ready. Taking one step at a time.
When additional controls are ready then these new controls can be added.

Of course the mockup can show controls that are not ready to be implemented, but when a developer picks up this issue and creates the block then he/she will see which controls are ready to be added.

[2021-04-21 08:53] jameskoster commented on #29630
Ah yes, some slightly crossed-wires there on my part.

Re-iterating what Dan said: It may be that we have a dedicated menu management screen for FSE themes in the future (similar to template parts). But it is unlikely that will be the current format of the existing block-based navigation screen :)

So going back to the original question, whether the Appearance > Navigation menu item appears would

[2021-04-21 08:53] getdave commented on #30426
@shaunandrews Coming to this all with fresh eyes as a "new" user, I was struggling to find where to delete my menus. Personally I think it's not helpful to divorce the primary action buttons, even if the intent here is to avoid making destructive actions too easy to find.

Looking at the existing Menus screen the `Delete` action is placed in the same plain as the `Save` action.

<img width="1094"

[2021-04-21 08:55] paaljoachim commented on #30575
Well the avatar settings show really really old avatars (as it has not been updated in many years).
It would be better to have the opportunity to upload an avatar, as set it as a new default avatar for the site.

[2021-04-21 09:17] sirreal opened #31030 "process.env: Use string values"
## What problem does this address?

Gutenberg uses number-typed values and strict equality comparisons for `process.env.GUTENBERG_PHASE` and `process.env.COMPONENT_SYSTEM_PHASE`. This is a convention that mimics `process.env` in Node.js, however it does not follow [the Node.js `process.env` spec](https://nodejs.org/docs/latest/api/process.html#process_process_env):

**I propose that values attache

[2021-04-21 09:30] retnonindya commented on #31024
Oh, thank you, @paaljoachim! Yep, I can close this issue too. Thanks again!

[2021-04-21 09:30] #31024 closed, assigned to nobody

[2021-04-21 09:30] youknowriad commented on #27814
That's already possible with the `block-templates` support flag. you can do `remove_theme_support( 'block-templates' );`

[2021-04-21 09:32] youknowriad commented on #27847
I shared my opinion on a different PR but I wanted to just add it here. Personally I feel this is not necessary because it's not very different from the edit mode itself, the distinction of the number of modes we're adding can become too difficult to understand for the user. We'd need ways to differentiate visually the different modes and sometimes the best way to do something is to avoid doing it

[2021-04-21 09:36] youknowriad commented on #28466
Right now, the template editor is a child of the post editor but this proposal make it different and it blurs the lines between the template editor and the site editor. For this reason, I think it's a bit too soon to do what's being proposed here. It also raises bigger questions like:  Why I'm being shown "Post A" when I'm editing "Post B".

If we want to consider the "template editor" as its own

[2021-04-21 09:38] youknowriad commented on #30545
I'm going to just close this issue as no action is needed for now.

[2021-04-21 09:38] #30545 closed, assigned to nobody

[2021-04-21 09:50] jameskoster opened #31033 "Display block pattern options in a modal rather than placeholder state"
When https://github.com/WordPress/gutenberg/pull/29602 is merged certain block placeholders will display contextually relevant block patterns to help users get started more quickly. This is especially useful for complex blocks like the Query. Here's how it works:

https://user-images.githubusercontent.com/846565/115531397-a4446900-a28c-11eb-9bd4-0b0f84c525c7.mp4

The design has not tested as well

[2021-04-21 09:56] getdave commented on #23953
@critterverse Are you happy with the approach shown in the video in the description? If so I can take this on.

[2021-04-21 09:56] hawkmusician opened #31034 "Site Editor / iframe: unwanted scroll when block settings panel overflows"
## Description
When using the site editor, if the blocks setting panel overflows vertically, when the user scrolls to access different settings in that overflow, the iframe scrolls at the same time. This makes it nearly impossible to edit in FSE since one has to adjust all the time the iframes vertical position.

## Step-by-step reproduction instructions

- Use a block theme, such as TT1 Blocks
-

[2021-04-21 10:02] jameskoster commented on #30575
That might be nice in the future, but for now it probably makes sense to work with what we have.

[2021-04-21 10:14] ntsekouras commented on #31033
Agreed and it will be removed from the initial `carousel` PR.

[2021-04-21 10:15] paaljoachim commented on #30938
Ahh.
The page template covers the full page. Header, sidebars and footer.
Great. Thanks!

I will go ahead and close this issue.

[2021-04-21 10:15] #30938 closed, assigned to nobody

[2021-04-21 10:18] jameskoster commented on #27847
I would agree that we probably don't need it _yet_.

But I still see a use case for composing a post with the template visible around it. Essentially a preview that doesn't engage the template editor. It will be helpful for understanding how things like the Featured Image fit in with the content.

I believe this use case will become most apparent for less visually elaborate content executions. Woo

[2021-04-21 10:53] talldan commented on #31030
Thanks for creating this, had no idea it had to be a string.

FWIW, I had planned on proposing a change from `process.env.GUTENBERG_PHASE` to a boolean `process.env.PLUGIN_ONLY`, so it's good to know this.

[2021-04-21 11:27] mtias commented on #29529
I agree we need some work here, but I don't want to rush the "x" which is not in itself entirely clear: would it close the editor?  Collapse the sidebar? It's ambiguous given the current state of the IA in the sidebar. We need to devote some attention to the top area of the sidebar before proceeding with changes.

[2021-04-21 11:30] carolinan commented on #29630
It seems like the easiest way is to let template parts be listed in a section of the template editor (not the current, but the view that does not yet exist and that replaces the site editor)
With the exception of the header link that leads directly to the single template part view, template parts has no menu item of its own.

Don't mind me, I am just a month behind everyone else ;)

[2021-04-21 11:34] iTesla13 commented on #31000
To bad that i can't tell you, that you are a dickhead moron.

On 2021-04-20 17:08, Matias Ventura wrote:

Links:
------
[1]
https://github.com/WordPress/gutenberg/issues/31000#issuecomment-823304278
[2]
https://github.com/notifications/unsubscribe-auth/ARZGN7GZBHTBQA2DX2KFOXTTJWDF5ANCNFSM43IFZWDA

[2021-04-21 11:36] oandregal opened #31037 "Add width to setting and styles"
Part of https://github.com/WordPress/gutenberg/issues/20331

There's a use case for themes to be able to set the width of the site logo block. See https://github.com/WordPress/gutenberg/pull/30907#discussion_r614763234

This value is used both as a [setting](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/site-logo/edit.js#L146) for the block and a [style](https://gith

[2021-04-21 11:38] arcmicro commented on #31000
Hello, i know about custom codes in the theme, i have used them.
The problem with this is if i change the theme, those colors are lost and everything i added is gone, no colors.
This will require editing every post again to add colors by default method, which is a pain.
Thanks.

[2021-04-21 11:42] davidperezgar commented on #30619
More info about the problem. I get this from log:
2021/04/20 16:43:16 [error] 170058#170058: *1097903 open() "/data/www/wp-json/wp/v2/categories" failed (2: No such file or directory), client: 90.170.161.229, server: ###.com, request: "GET /wp-json/wp/v2/categories?args=&page=1&_locale=user HTTP/2.0", host: ###.com

[2021-04-21 11:45] mtias commented on #31000
You can also register a color palette with a plugin so that it's independent of the theme. (That's what global styles will also allow.)

[2021-04-21 12:00] carolinan commented on #29630
What does this mean for the documentation? If we call it template editor, this is confusing because there are actually 3 views today and two views for 5.8:

Site editor
Editing via the appearance > templates menu
Editing via post editor -> edit template link

The last two are not the same views, and I don't know what the plan is for them.

[2021-04-21 12:29] oandregal commented on #20331
This week in global styles:

**Landed**

theme.json with elements https://github.com/WordPress/gutenberg/issues/29891

- extract sanitization method https://github.com/WordPress/gutenberg/pull/30809

Block Supports & theme.json properties:

- Added block support & theme.json support for: border-color, border-style, and border-width. https://github.com/WordPress/gutenberg/pull/30124

Bugfixes, code

[2021-04-21 12:56] Mamaduka commented on #30249
The issue should be fixed by #30995. I'm no longer able to reproduce the issue when testing with the PR.

[2021-04-21 12:57] Mamaduka commented on #30299
Same as #30249 and should be fixed by #30995

[2021-04-21 13:03] mkaz commented on #25505
The container block needs to be set to inline so all the `display:block` elements inside it can flow.

I'm not sure it should be done with `InnerBlocks`, my thought is it should be a layout prop for the `Group` block, (or maybe a variant). The issue I see with InnerBlocks is that each block will be required to implement to set that prop, a user can't insert an InnerBlock when building a block them

[2021-04-21 13:21] stefanfisk commented on #15391
`parseInt(value, 10)` is always a good habit to keep, even if any sane browser should be parsing `0101` as `101`.

[2021-04-21 13:26] paaljoachim opened #31043 "Page Template: Not able to cancel save of page template."
I am going through the process of creating an user interface for the new page template feature.
One thing that bugs me over and over is that I am not able to cancel the save of a template/reusable block etc etc.

It should be as simple as unchecking an option to not save it. Having it automatically revert back to nothing or to the last save.

Here is the Page template save process at the moment. I

[2021-04-21 14:05] jameskoster commented on #29630
The latest designs indicate that there won't be a single replacement for the Site Editor. We _could_ list general template parts on the Template Mosaic view, perhaps that's what you're referring to? :D

They'd still need a label though :)

Good question. My understanding from the [go/no go discussion](https://make.wordpress.org/core/2021/04/15/full-site-editing-go-no-go-april-14-2021/) is that onl

[2021-04-21 14:29] kjellr opened #31046 "Safari: "Sticky" inserters appear all over the site editor canvas sometimes"
I've been seeing this one regularly, but only in Safari:

When loading the site editor and moving the mouse around, I'll get a pile-up of inserters. Sometimes they go away after a while, but sometimes they stick around until I refresh. It's not clear that they're lining up with space where an inserter should actually even be appearing:

![inserters](https://user-images.githubusercontent.com/120281

[2021-04-21 14:31] critterverse commented on #30720
Thanks so much for these notes, @talldan and @jasmussen! This is definitely a tricky one.

Just thinking out loud but even with the floating version of the toolbar, we’ll need to account for the possibility of horizontal scrolling in a narrow viewport window, yes? Rather than trying to collapse the toolbar, I wonder if it’s worth taking a look at how to better improve the scrolling behavior since

[2021-04-21 14:54] Copons commented on #29736
I've updated the issue mentioning #31047, which is the PR that adds the persistent list view to the post editor.

[2021-04-21 14:54] mkaz commented on #25505
As in anything, there are ticket precedence, same inline issues raised in https://github.com/WordPress/gutenberg/issues/26899 and https://github.com/WordPress/gutenberg/issues/24473

[2021-04-21 15:24] dcalhoun opened #31049 "Double-tap and hold accessibility gesture is not supported by range cell slider"
## Description
When attempting to change the current value of a slider input for Columns, [the double-tap and hold accessibility action](https://www.youtube.com/watch?v=OvmkFfEbewg) is not supported. One can still modify the slider value by selecting the input and then swiping up/down, but it would be good to support the double-tap and hold gesture as well. This issue was identified in https://git

[2021-04-21 15:27] critterverse commented on #29871
This issue was discussed in the Making WordPress Design channel yesterday: https://wordpress.slack.com/archives/C02S78ZAL/p1618936992186300

Just wanted to note that several contributors suggested that the first version/implementation of the design might work better without the green color (which is still being explored more holistically):

![RB-save](https://user-images.githubusercontent.com/7735

[2021-04-21 15:41] dcalhoun opened #31051 "Column width control labels are not translated in the Column block edit bottom sheet"
## Description
The input label for each column within the Column block are not translated and always read `Column <index>` in English.

## Step-by-step reproduction instructions
1. Use a device with language other than English.
1. Launch the block editor on WPiOS or WPAndroid.
1. Add a Column block.
1. Open the block Settings bottom sheet (i.e. tap gear icon).
1. Select a column layout.

## Expect

[2021-04-21 16:01] #28153 closed

[2021-04-21 16:01] #30553 closed, assigned to nobody

[2021-04-21 16:03] jorgefilipecosta commented on #13438
This issue is being discussed in https://github.com/WordPress/gutenberg/issues/25613 and there are new insights there. I'm closing this issue in favor of the other one so we don't have two issues for the same task.

[2021-04-21 16:03] #13438 closed

[2021-04-21 16:05] critterverse commented on #30922
This is a great reference, thanks @javierarce! Exciting to see how others are approaching this 🎉

All of these elements would be great to explore and the callouts for feedback feel like they would be an especially big win for this screen — can imagine providing a link to create a new GitHub issue (possibly based on an experiment-specific template) as well as an invitation to join the ongoing conve

[2021-04-21 16:12] DaisyOlsen opened #31054 "Docs: Create Block Styles page in API Reference"
Currently Block Styles are covered in the Block Filter reference page. Since this is not, actually block filter a new page should be added in the appropriate place with the relevant content moved over.

[2021-04-21 16:32] mtias commented on #29568
@nosolosw one of the quick steps I imagine here would be to introduce a new `defaultColorPalette = true` property in theme.json, which themes can disable if they don't want default colors at all.

[2021-04-21 17:18] LukaszJaro commented on #31013
Awesome, thanks @aristath ! The filter you provided is now inlining the CSS, my http requests were reduced by half!

Thanks for the explanation, I'm actually using wprig starter theme, it has it's own unique way of progressively loading CSS through in-body tags and It's not using enqueue hook. Using print styles instead "wp_rig()->print_styles()" but same concept as Gutenberg, only load required s

[2021-04-21 17:22] rawrndres opened #31056 "Cannot read property 'components-spinner' of undefined on WordPress 5.7"
## Description
Adding the Spinner component to a custom block results in a blank post editor page. The block was compiled using create-guten-block: https://github.com/ahmadawais/create-guten-block
Block works properly in WordPress 5.6

## Step-by-step reproduction instructions
1. Activate plugin for a custom block with spinner component
2. Go to a post and add the custom block
3. Publish
4. Reload

[2021-04-21 17:33] jorgefilipecosta commented on #28913
Re-sharing a comment on https://github.com/WordPress/gutenberg/pull/30879#pullrequestreview-641302448 here for better visibility as this issue seems to include other support mechanism changes:

Our block.json supports API right now has inconsistencies in how we handle typography vs colors:

[code]
It is also inconsistent with theme.json given that there we have:
[code]

I guess we can change the s

[2021-04-21 18:20] CreativeDive commented on #30759
I love the response time here.

[2021-04-21 18:39] jameskoster commented on #27850
Here's a simpler design concept that considers in the idea of providing access to document attributes via the top bar (which is seemingly gaining some traction in https://github.com/WordPress/gutenberg/issues/27093).

<img width="1300" alt="Screenshot 2021-04-21 at 19 34 10" src="https://user-images.githubusercontent.com/846565/115603862-9288b300-a2d8-11eb-886e-a8fdcc277912.png">

The visuals need

[2021-04-21 19:09] skorasaurus commented on #30761
Does https://github.com/WordPress/gutenberg/issues/29506 cover what you're looking for?

[2021-04-21 19:18] oandregal commented on #29568
Thinking on UI: what do you think would be a good first step to match that change? Do we need to create separated palettes in the UI or can we start by having a long list of colors with what we have today (sorted: first core, then theme)?

So, the user can change all palettes (core, theme, user). In terms of theme.json shape/keys, everything can remain the same, we just need to change behavior (do

[2021-04-21 19:22] paaljoachim commented on #29871
Thanks Channing!
The main feature we have here is the Save button in the toolbar and the Save/Discard in the sidebar.
I believe we can go ahead and get a developer to create a PR for this, so we can try it out.
If that sounds alright. I will remove the "Need Design" and add the "Needs Dev" label.
@shaunandrews and @kellychoffman any thoughts on the direction before I go ahead and change the labels

[2021-04-21 19:40] DaisyOlsen opened #31059 "Docs: Revise and Expand API Docs for Registering Block Patterns"
It would be helpful to expand the Block Patterns docs to include some more detail and to refine the layout as well. Also suggest adding a simple Table of Contents to the top to make it more obvious that several helper functions are covered in the document.

[2021-04-21 19:57] eric-michel opened #31061 "Group Block HTML Element Selector Removes Inner Container When Not Div"
## Description
The standard Group Block includes the primary container with class `wp-block-group`, and an inner container with the class `wp-block-group__inner-container`. All `InnerBlocks` are contained within `wp-block-group__inner-container`.

When using the new HTML Element select drop-down, any options that aren't `Default <div>` do not have the inner container. They simply display all `Inne

[2021-04-21 20:27] ockham commented on #31056
It's weird that the [error](https://snipboard.io/5eVHR0.jpg)

[code]

is happening in `components.min.js` 🤔

Bit of a Hail Mary, but any chance this is related to CSS-in-JS/G2, @sarayourfriend?

[2021-04-21 20:41] emrikol commented on #31056
Hi @ockham! I've been helping out @rawrndres with this issue some, and here's a bit more details if it helps:

With unminified (`SCRIPT_DEBUG` as `true`) components, the error I'm getting in the console is:

[code]

in `components.js` the error is happening in this function (the file seems too big to deep link in GitHub, unfortunately):

[code]

`registered` is `undefined` at the `---ERROR HERE---

[2021-04-21 20:52] paaljoachim commented on #19077
The initial PR has been merged. A next step would be to focus on how the File block can use Inner/child blocks so we can get the features mentioned here in place. That would require a new issue. I will look into it.

[2021-04-21 21:20] skorasaurus commented on #30993
Thanks for reporting. Even as a pretty experienced Gutenberg user, I ran into this as well.

[2021-04-21 21:25] scofennell opened #31062 "Expose more data in WP_Block_Type_Registry render_callback()"
When using render_callback to add HTML classes to a block on the front end (for example when using Tailwind or Bootstrap for CSS), it would be very helpful to know...

- Is this the first block in the post content?
- Is this the first block of this type in the post content?
- Is this the last block in the post content?
- What was the previous block?
- What is the next block?

[2021-04-21 21:40] skorasaurus commented on #30357
re: **Toolbar** convert to regular block - there's an issue for that at https://github.com/WordPress/gutenberg/issues/30993

[2021-04-21 23:36] mkaz opened #31063 "Page List: Add parent parameter to show all child pages of current page"
## What problem does this address?

The goal is to allow a page to create a menu/list of posts of all the children page, sorted by menu_order.

The solution in PHP could something like this:

[code]

An issue with pages is there is no means to add additional tag or category information as another means of limiting what is returned by the query.

Possible this should just be added to: https://githu

[2021-04-21 23:43] hsingyuc commented on #31011
@TheMinimalistNinja  I couldn't reproduce the issue, may I know which theme you are using?

[2021-04-22 00:04] coreyworrell commented on #20581
@aacassandra it looks like there is no a scope option for `transform` which adds the sidebar option there. Not sure what `block` scope is supposed to do.

Not very clear what that means.

I also noticed though that if you specify `{ attributes: { className: 'is-style-whatever' } }` that you can no longer add additional classes via the Advanced sidebar panel, or else it "deactivates" the variation.

[2021-04-22 00:37] coreyworrell opened #31064 "Registering block variation transform with class name overrides existing classes"
## Description

When using `wp.blocks.registerBlockVariation()`, if you set `{ attributes: { className: 'is-style-example' } }`, any additional classes that had been set in the Advanced panel for the block are removed when using the "Transform to variation" option.

I would assume that the class would just be added/removed to any existing classes instead of completely overriding them.

## Step-by-

[2021-04-22 01:32] carolinan commented on #29630
I like areas or parts, but then the label does not indicate their close relationship with templates.

[2021-04-22 01:33] carolinan commented on #29630
The problem with the Post Editor -> Edit Template flow  is that there is no way to delete user created templates. (And to edit a template you first need to find a post or page that uses that template...)

[2021-04-22 01:34] glendaviesnz commented on #30785
duplicate of #30263

[2021-04-22 01:34] #30785 closed, assigned to nobody

[2021-04-22 01:36] glendaviesnz commented on #30263
Switched this to a bug as it was working, and does so in the current gallery. The alt text is copied to from the media library to the initial image block that is inserted but is then lost during a subsequent component rerender.

[2021-04-22 01:44] carolinan commented on #27814
Short term, are the template and template part menus under Appearance going to be in 5.8?

If not:
- How can user created templates be deleted?
- Editing templates is possible, but you would first have to find a page or post that uses that template, or create a new page or post just to access that template.
- How can users edit templates that are not post or pages, such as search, archive, and 404

[2021-04-22 01:52] carolinan commented on #29031
I wonder if the detailed guide could be something themes could provide instead because the theme author would know how the theme is intended to be set up.

[2021-04-22 01:59] mkaz commented on #29988
Closing as this issue was resolved with the revert to #27717

[2021-04-22 01:59] #29988 closed, assigned to nobody

[2021-04-22 02:05] andrewserong commented on #30553
Thanks for fixing this up!

[2021-04-22 04:32] #30036 closed, assigned to talldan, grzim

[2021-04-22 04:46] maddisondesigns opened #31067 "Pasting text into List Block turns it into a Paragraph block"
## Description
When you paste plain text into a List Block it turns into a paragraph block!! Why??

Since you refuse to add a Paste as Text button on blocks, I'm quite often forced to paste text into a plain text editor like BBEdit, to remove the formatting first. When I try and paste text into a List block, it turns it into a Paragraph block. The Paragraph Block offers the ability to transform it

[2021-04-22 04:57] landwire commented on #25613
I think it is crucial to be able to have the same colour palettes across all blocks that support it. If you design/specify a specific colour theme (background, text and link colours) for a client, you really want to register it in one place and not on all possible blocks.
I also think the differentiation per role (background, text, link, whatever else there might be) is necessary, as there will be

[2021-04-22 05:48] #29799 closed

[2021-04-22 07:28] andrewserong opened #31070 "Site Editor: CSS-in-JS regression in v10.5.0 RC 1 for components in the sidebar"
## Description

In Gutenberg 10.5.0 RC 1 there appears to be a regression in the CSS-in-JS styles within the sidebar of the site editor. Components using Emotion for CSS-in-JS don't appear to be applying their styles (thought they do in the regular post editor). The recent changes in https://github.com/WordPress/gutenberg/pull/31010 supports rendering these styles within the editor canvas, however

[2021-04-22 07:31] #30323 closed, assigned to getdave

[2021-04-22 07:35] jasmussen commented on #30720
The horizontal scrollbar is definitely pretty terrible for desktop interfaces. But it feels _okay_ on mobile, in that you can grab and slide more easily than pressing/holding an arrow. The arrow could be a good idea, but notably on physical mobile devices it should probably not _replace_ the scrolling feature. But the arrow would benefit both mobile devices and desktops with small viewports in tha

[2021-04-22 08:01] gziolo commented on #28913
Re-sharing from https://github.com/WordPress/gutenberg/pull/30879#issuecomment-824615316 my response to the question from @jorgefilipecosta:

It's already documented at https://developer.wordpress.org/block-editor/reference-guides/block-api/block-supports/, but it would be good to validate whether it was released in the previous major version of WordPress. If not then we can simply change it and k

[2021-04-22 08:15] ntsekouras opened #31071 "[Block Library - Query]: Show a spinner instead of the `Loading` text message"
## What problem does this address?

Based on comment: https://github.com/WordPress/gutenberg/pull/29602#issuecomment-823962040.
It would be better to show a `spinner` instead of the `Loading` text message in `Query` block.

[2021-04-22 08:22] getdave commented on #29529
Ok I'll leave this for now then. I'm hopeful we look to address this soon because the site icon is, IMHO, very much unclear as a toggle UX.

Just noting that we are already using `x` as a "close" UX in the list view panel.

[2021-04-22 08:37] youknowriad commented on #27814
I think these screens are not meant to be shipped at all. So yeah if the template editor makes it to 5.8, we need at least a "delete" template somewhere in the template mode or the template panel.

[2021-04-22 08:41] javierarce opened #31074 "Navigation Editor: Preview functionality"
I've been exploring some ideas to integrate a preview functionality inside the Navigation Screen.

Since the menu in this editor is an abstraction, the main benefit of this feature would be to have a contextual live preview to show how the menu would look once it's published. This could be especially useful for previewing complex menus (i.e. mega-menus).

From talking with several people and readi

[2021-04-22 09:12] jameskoster commented on #27814
Assuming dedicated template management (IE Appearance > Templates) doesn't ship in 5.8, it won't be possible to create these templates in the UI. So I think it's fair to assume there will not be an expectation of edit-ability either.

There is a revert affordance for customised block theme templates in the site editor. We can use that same design for deletion in the template editor. I'll make an i

[2021-04-22 09:16] carolinan commented on #27814
_it won't be possible to create these templates in the UI_
You meant in the appearance > templates UI?  Or not create templates at all via any sort of UI 😕

[2021-04-22 09:17] jameskoster commented on #27814
Not create the templates you mentioned specifically: search, archive, 404, etc.

[2021-04-22 09:29] #30739 closed, assigned to david-szabo97

[2021-04-22 09:29] fluiddot opened #31075 "File block: New lines between text and download button are not displayed (only Android)"
## Description

The new lines added between the text and the download button are not displayed in the editor, however, when previewing the post, they're shown. This issue only happens on Android, on iOS the new lines are displayed properly.

## Step-by-step reproduction instructions

1. Add a file block
2. Choose any file
3. Tap on the text above the download button
4. Move the caret to the end of

[2021-04-22 09:35] jameskoster opened #31076 "It should be possible to delete new custom block templates, and revert customised block templates in the template editor"
In the post editor it is now possible to:

* Create a new custom block template on the fly
* If a block template is used, edit it visually in the template editor

<img width="306" alt="Screenshot 2021-04-22 at 10 13 29" src="https://user-images.githubusercontent.com/846565/115689184-c2c16780-a353-11eb-8ca2-6effc0299a9c.png">

In the case of user-generated block templates, the UI should provide a w

[2021-04-22 09:41] jameskoster commented on #29630
Issue opened here: https://github.com/WordPress/gutenberg/issues/31076

[2021-04-22 09:51] karmatosed commented on #31076
I think the line seperates the action from it's connection a bit too much perhaps:

![image](https://user-images.githubusercontent.com/253067/115694277-9d832800-a358-11eb-86a4-db0055582330.png)

I really like the idea of at least the first time someone does this adding in a confirmation, but perhaps only the first time otherwise it could get a little much.

[2021-04-22 09:57] karmatosed commented on #31033
What I like about showing the patterns in a fuller modal is exactly that, the better space for display. It makes me think even if our entire library should be larger (or be able to be larger), mostly because that step from the library to the pattern browsing modal is still a cognitive break for someone. It could be smoother if everything was just a little less shy of taking up space in the interfa

[2021-04-22 10:00] karmatosed commented on #30712
I'm torn on this, on one hand I see it all 'as content' which makes me think it is all the same. As a user I add them both and use them pretty much the same. However, I totally understand they are different. I wonder though if they are to an end user and therefore if making them distinctly different would be useful or confuse? This is where I am torn on this and could go either way.

[2021-04-22 10:04] gziolo commented on #30739
@gwwar and @ntsekouras, should we open a new issue that makes `variations` setting more flexible? Example:

[code]

[2021-04-22 10:10] priethor commented on #27814
Added this to the list based on the recently created #31076

[2021-04-22 10:40] javierarce commented on #30426
I think the screenshot is contradicting the idea of the Delete action being primary 😅

Moving the button to the bottom of the screen is good: it's easily accessible and helps remove noise from the top elements of the sidebar.

A counter-argument could be that the Trash button in the Page editor is always visible and it's placed on top of the screen, so users will naturally expect it to be there:

[2021-04-22 10:41] fluiddot commented on #29928
I'm closing this issue since it has been fixed via https://github.com/WordPress/gutenberg/pull/31005 🎊 .

[2021-04-22 10:41] #29928 closed, assigned to nobody

[2021-04-22 10:55] beinoriusju commented on #6533
tagsdiv-{$tax-name} did not work for me. Using taxonomy-panel-TAXONOMY-NAME did work as described [here](https://stackoverflow.com/questions/59792175/how-to-remove-panels-from-gutenberg-in-cleared-way).

[2021-04-22 11:02] Big-wolf opened #31080 "Admin editor page blank when custom post type named "sidebars""
## Description
I have created new custom post type named 'sidebars'. When trying to edit or create new item  i've got 404 error in console.

## Step-by-step reproduction instructions
1. Create custom post type in functions.php your current theme:

[code]

2. Activate Gutenberg plugin
## Expected behaviour
Regular gutenberg block editor page

## Actual behaviour
White page - console 404 error with

[2021-04-22 11:18] jameskoster commented on #31076
Yeah without the template description (and other actions) the separator does seem a little heavy-handed. I included it because I believe it is already built in to the popover style in the site editor. It should be easy to remove though.

Another option would be to add some template  meta data in lieu of a description. I'm not sure how useful that would be?

<img width="411" alt="Screenshot 2021-04

[2021-04-22 11:39] ntsekouras commented on #30739
We could but I don't think that is needed (at least for now) and this involves lots of changes and keeping backwards compatibility. Do you think it would provide value if we implemented this now?

[2021-04-22 11:39] getdave commented on #8288
I have a PR up that starts on a way to potentially address this.

[2021-04-22 11:42] #25805 closed

[2021-04-22 11:47] paaljoachim commented on #27093
I think we should break this down into iterations.

First version/iteration: (With a focus of atleast getting the fist iteration into WP 5.8.)
Let's begin by getting the page title into the top bar along with a drop down where one can rename the page title.

![Screen Shot 2021-04-22 at 13 46 46](https://user-images.githubusercontent.com/5323259/115709205-3756cf00-a371-11eb-8062-009e1c4becb8.png)

[2021-04-22 11:51] jameskoster commented on #30800
I think something like this might be simplest:

https://user-images.githubusercontent.com/846565/115709483-2e61ff80-a369-11eb-8457-0c65b6c07143.mp4

In the video above I:

1. Edit a post
2. Switch to the template editor
3. Make a change
4. Return to the post editor _without saving_
5. Switch the post to a draft

A dialog appears stating that unsaved template changes will be lost.

This provides us

[2021-04-22 11:56] aristath opened #31084 "Buttons block: 1st button doesn't inherit the preferred default style"
## Description

Button blocks don't inherit the user-defined "Default Style".
It works for the 2nd, 3rd etc button in the buttons block, but not the 1st one.

## Step-by-step reproduction instructions
1. In the editor add a new block, set its style to "Outline", then in the "Default Style" dropdown below select "Outline"
2. Add a 2nd `buttons` block, and notice that the button is not an outline.
3

[2021-04-22 11:56] youknowriad commented on #30800
Worth nothing it's not just template changes, it's also reusable blocks changes, site changes...

[2021-04-22 12:05] paaljoachim commented on #25805
Yahhh!! It sure felt good to get this issue closed. Thank you again George!

[2021-04-22 12:10] jameskoster commented on #30800
True. I think the design can still cater to those changes as well though? The dialog would just need to be more verbose.

[2021-04-22 12:11] youknowriad commented on #30800
It's not the design that I'm concerned about, it's more the behavior. I mean it's possible that someone wants to update a reusable block even if they want to keep the post as draft.

[2021-04-22 12:13] #30988 closed, assigned to talldan

[2021-04-22 12:15] #28735 closed

[2021-04-22 12:23] jameskoster commented on #30800
Wouldn't they be able to do that via the multi-entity save flow?

So in the flow above, when the browser dialog appears you would click cancel. Then click save to see which entities have been edited. Save the ones you want to, _then_ click switch to draft.

[2021-04-22 12:33] youknowriad commented on #30800
Yeah, well I guess the fact that I didn't about this make it a bit complex, isn't it?

We can start that way and see how it goes.

[2021-04-22 12:34] youknowriad commented on #30800
Actually, I feel the current behavior is a bit better, we don't discard those changes, we just don't save them.

[2021-04-22 12:36] paaljoachim opened #31086 "Page template: Rename "Create a custom template" to "Create a page template""
I am working on adjustments to the Page template.

Clicking to create a New template brings up this modal.

![Create-a-custom-template-modal](https://user-images.githubusercontent.com/5323259/115714722-bbac5080-a377-11eb-9696-023c6c00580e.jpg)

A custom template does not explain. Does not give a location pointer to where it will be used.

![Create-a-page-template](https://user-images.githubusercon

[2021-04-22 12:43] javierarce commented on #23953
I'll answer for @critterverse since she is working on the widget editor, and I think this mention was meant for me (but @critterverse, please jump in if you have a different idea).

I like the approach shown in the video and @jasmussen's suggestion of skipping the skeleton preview state.
Regarding the "Existing menu" dropdown… would we get rid of it, or do you want me to add it to the design?

[2021-04-22 12:46] priethor commented on #27593
Added:
- Provide a better way to disable/enable nav block features for the nav editor #30007
- Sidebar/Inspector control improvements #30370
- Add separate overlay color option #29963
- Make it clearer how to delete a Link Block without a link #30116
- Improve flow for deleting submenu items #30115

[2021-04-22 12:48] jameskoster commented on #30800
Fair point. Neither are ideal, but I agree that current behaviour is ok.

So I suppose the only thing to do ito this issue is hide template-related links (edit/new) when the page is a draft. Again this is not ideal, but it's a starting point.

[2021-04-22 13:03] paaljoachim opened #31087 "Page template: Adjust snackbar notification text."
After having created a template one is moved into the Template editing mode.

![Page-Template-mode](https://user-images.githubusercontent.com/5323259/115896329-97c23b00-a45b-11eb-8deb-1c2add624684.jpg)

A few things.
1- Top bar: Should have the template name title. New issue here: https://github.com/WordPress/gutenberg/issues/31147
2- Adjust the snack bar text.

Adjustments:

3- Snack bar notifica

[2021-04-22 13:23] paaljoachim opened #31090 "Page template: Show template parts"
Entering the Template mode one will see the Site title and the tagline.
It would be helpful to add the Header, Content, Footer and other sidebars into template part blocks.

Going from (mockup from: https://github.com/WordPress/gutenberg/issues/31087 )
![Entering-page-template](https://user-images.githubusercontent.com/5323259/115721800-ab4ba400-a37e-11eb-803c-8bdccda241b9.jpg)

To:

https://user-

[2021-04-22 13:34] mchowning commented on #31049
Thanks for reporting this issue @dcalhoun ! 🙇

I marked this as "low" priority since it seems like there is a pretty straightforward workaround for this by swiping up and down, but if you think this may be a blocking issue for some of our users, let's make this a high priority issue. wdyt?

[2021-04-22 13:40] sarayourfriend commented on #31056
`getRegisteredStyles` is actually an `emotion` function. I don't see it being used directly by the `@wp-g2` packages or by Gutenberg at this point.

Likewise, the `spinner` is still just the regular spinner, not the one from `@wp-g2`: https://github.com/WordPress/gutenberg/blob/7dd25016af75632337424b4ce8b79fa78945c97e/packages/components/src/spinner/index.js#L7

(You can tell because there's no `n

[2021-04-22 13:40] paaljoachim opened #31091 "Page Template: Change button word "Apply" to "Save""
In an issue @jameskoster suggested we make a change to a button that said "Design" (in FSE) to "Save".
I am suggesting we stick to the word "Save".

Current:
![Page-template-apply](https://user-images.githubusercontent.com/5323259/115722679-84da3880-a37f-11eb-83f6-cc13e8a57850.jpg)

New:
![Page-template-Save](https://user-images.githubusercontent.com/5323259/115722705-8ad01980-a37f-11eb-8bfd-9b611

[2021-04-22 13:45] #30798 closed, assigned to preda-bogdan

[2021-04-22 13:49] paaljoachim commented on #31043
A simple solution would be to uncheck what one does not want to save.
An example. Discarding to save a page template would bring one back to the Pages screen with use of the default page template. As discarding to save a page template would also delete the page template one initially created but decided later on not to save.

https://user-images.githubusercontent.com/5323259/115725313-0763f780-a38

[2021-04-22 13:55] dcalhoun commented on #31049
@mchowning I think it is fine to mark it as "low" for now. I'm not sure which gesture is most common for controlling sliders, but the accessibility announcement for the slider directs users to use the swipe up/down gesture that does work. Hopefully that will prevent users from being blocked until we support the double-tap and hold gesture.

[2021-04-22 13:59] gziolo commented on #30739
It's mostly optimization as developers wouldn't have to inject `isActive` to every block variation if they are the same. It can wait for sure. We have the discussion documented so we can get back to it in the future if necessary 👍🏻

[2021-04-22 13:59] mchowning commented on #31051
Marking this as a high priority issue for the time being because it may be an issue that affects more than just these column strings. If this issue only involves these strings, then it could probably be reclassified as low priority.

[2021-04-22 14:03] Sandstromer commented on #30761
I think "Allow modifying the default values in Global Styles -> Spacing." does yes.

[2021-04-22 14:36] draganescu opened #31094 "There are no legacy widgets in the Customizer"
Here is a video showing the problem:

https://user-images.githubusercontent.com/107534/115732767-f373c200-a390-11eb-9837-3dab6b1cbde2.mp4

Problems:

- [ ] the legacy widgets provided by a plugin are not visible in the Customizer as variations of the `LegacyWidget`
- [ ] when I insert an empty `LegacyWidget` the Customizer crashes

[2021-04-22 14:53] Sandstromer commented on #27857
wpautop in template parts is also breaking the alignment styling that was added in  #29335

When using "Inherit default layout" on a block _within_ the template part

[code]

[2021-04-22 14:59] Sandstromer commented on #27857
Looks like fixed in #30552

[2021-04-22 15:01] draganescu commented on #31074
- Do we want to / can we use the `changeset` architecture in the Customizer to preview block based content from another place (cc @celloexpressions)? Or do we want to rebuild that for any reason (@mtias) ? Is there anything wrong with the implementation or the basic assumptions in the `changeset` Customizer API that does not work with block themes?
- Previewing unassigned navigation is impossible

[2021-04-22 15:10] gwwar commented on #30739
@gziolo I think it'd be worthwhile to create a new issue, if it's something we'd still like. (fine to mark as low priority). It can be a decent amount of work for someone to reason about what still needs to be done from a closed issue discussion

[2021-04-22 15:13] gziolo commented on #30739
We can keep it closed and see how quickly we run into a blocker that requires changes to the shape of `variations`. It looks like we should focus more on better handling for icons so we could define them on the server more often.

[2021-04-22 15:19] paaljoachim opened #31096 "Page Template: Saving template and going back to the post content screen."
After saving a page template one is returned to the post content screen.
I have mixed in multiple adjustments in this issue. These really need to be made into separate issues.

It currently looks like this:
![Page-template-screen-after-save-original](https://user-images.githubusercontent.com/5323259/115737390-62025100-a38c-11eb-826c-b390bd6e8e31.jpg)

Here are some variants.
Version 1.
![After-pag

[2021-04-22 15:23] paaljoachim opened #31097 "Page template: Overview/enhancements"
I am first adding this overview of Page Templates in relation to the current bare bones approach and how it can be improved.

The Page.

In the right sidebar we see a new Template panel.
New

![Page-screen](https://user-images.githubusercontent.com/5323259/115892224-3ef0a380-a457-11eb-9f86-595709aac04a.jpg)

We need to add the Page name into the top bar in this issue, as that will also help with t

[2021-04-22 15:28] Sandstromer opened #31098 "Site Editor: When editing a template part is NOT editing a template part"
Not sure whether to describe this as a bug, a feature request, or just a general discussion.

The issue is when editing a _template_ and making changes to a _template part_ (e.g. header), or what I think the average user may assume is they are making changes to a template part, the changes are not actually applied to the template part. The changes are actually applied to the template containing sa

[2021-04-22 15:43] carolinan commented on #31098
I believe this is a duplicate of https://github.com/WordPress/gutenberg/issues/30732

[2021-04-22 15:48] Sandstromer commented on #31098
Oops! My quick scan was too quick. I'll close this in favor of #30732

[2021-04-22 15:48] #31098 closed, assigned to nobody

[2021-04-22 15:52] jameskoster commented on #31086
I believe the "custom" label is a reference to $custom.php templates that exist in classic themes. The point being that these templates can be applied not only to pages, but to posts (and potentially custom post types) as well.

We should be cognisant of the fact that we'll need to make it possible for new templates to be either $custom or specific to a particular post or page as well.

So perhaps

[2021-04-22 15:56] paaljoachim commented on #31086
Good idea to just call it "Create template" as it then will embrace page/post and custom post types as well.

Updated:
![Create-template-modal](https://user-images.githubusercontent.com/5323259/115745841-1a7fc300-a394-11eb-8413-19d506848894.jpg)

[2021-04-22 15:57] gziolo commented on #29008
@ockham, how much work it would be to run on `gh-pages` branch in GitHub workflow something like:

[code]

I don't remember what I used exactly before, but it was similar and it remove all git history for `gh-pages` and ideally we would run it every time we update Storybook. The alternative would be to use another repository.

[2021-04-22 16:04] javierarce opened #31100 "Fix error notice appearing underneath the modal screen overlay on the Navigation editor screen"
If you create a menu using the name of an already existing one, an error notice appears under the modal screen overlay, making it difficult to see and impossible to close independently.

The error notice also appears partially covered by the left sidebar.

## Step-by-step reproduction instructions

1. Create a menu with the name you want
2. Create another one with the same name

## Screenshots or

[2021-04-22 16:05] paaljoachim opened #31101 "Page template: Automatically refresh page to add template drop down when there are multiple page templates available."
Template now has it's own panel outside the Page Attributes panel.

![Screen Shot 2021-04-23 at 16 42 39](https://user-images.githubusercontent.com/5323259/115888437-372f0000-a453-11eb-8614-9032f024b67a.png)

But when creating multiple page templates. I see no drop down to select which page template I would like to use.
The old Template section under Page Attributes had a drop down to select from

[2021-04-22 16:05] jameskoster commented on #31096
This is an interesting idea, but without actually seeing the contents of the template I'm not sure what the value is? Unless you're editing the template, or have expressly requested to see the template in the context of post editing (something like https://github.com/WordPress/gutenberg/issues/27847), then I worry this will only create unnecessary distractions in the post editing UX.

I think thes

[2021-04-22 16:10] paaljoachim commented on #31096
The reason for the Movie template is so visible in the post content screen, is that if the user decides on using a Page template it needs to be pretty obvious that it is there. Actually the content made in the Page template content area should be seen in the Post content screen as if it was a Reusable block. As it shows the content added in the Page template. The user might also add content in the

[2021-04-22 16:12] jameskoster commented on #31087
We already have this in the Site Editor, it may be worth opening a dedicated issue to transplant it across to the template editor?

I think when you switch to template editing, the document tab (Post or Page) should be replaced with the template details. This is how it works currently on trunk so I wonder if you're running the latest version? A snackbar already appears as you switch too:

https://

[2021-04-22 16:13] vdwijngaert commented on #31067
Can confirm this is the case. Looks like the logic to convert the plain text that was in the clipboard turns this input in a paragraph, with each line separated with a line break. This in turn gets converted to a `paragraph` block, which is probably why the conversion happens.

I've been looking into how the logic that handles pasting in a RichText component works, and so far, my most elegant solu

[2021-04-22 16:16] paaljoachim commented on #31087
I should open an issue for adding the template name to the top bar as you mention. When entering the template mode the name is not seen in the top bar, but when saving the template name is suddenly seen there.

Thanks for sharing what is now in trunk! I am not running the RC version of Gutenberg, so it looks like I missed out on a few things.

[2021-04-22 16:19] jameskoster commented on #31090
I can't find the PR now, but I recall suggesting that we spawn new Header and Footer template parts in this flow if they do not already exist.

@youknowriad had some good feedback as to why that was not a good idea, but since I can't find the PR, I can't remember what his points were 😅

[2021-04-22 16:21] youknowriad commented on #31090
My main point is that we might want to ship the template mode before actually shipping template parts in Core. That said, it's still a good idea to rely on the semantic "header" and "footer" template parts if they exist for a theme instead of creating random ones. So it would be a good follow-up to do at some point.

[2021-04-22 16:29] paaljoachim commented on #31090
Ahhh....
Ship the template mode first.
Then later add template parts.

So the first version we are focusing on being able to edit the full page - header, content and footer etc are mixed into one. I do wonder if there should be included some nuance between the various areas..... or maybe not...

[2021-04-22 16:30] gwwar commented on #29036
I think one of the simpler ways of fixing this would be to allow the Navigation block to render an li wrapper for each child. (We can also update navigation link to not render that top li wrapper). Since these are dynamic blocks I think as long as these changes happen in tandem things should mostly square out.

Are there any known blockers for that approach?

[2021-04-22 16:33] javierarce opened #31104 "Navigation Screen: long menus get cut"
I'm not sure if this could be considered an edge case, but if a user creates a reeeally long menu and then scrolls down to the bottom of the page, the menu gets cut by the navigation header, and the toolbar disappears.

Another minor detail: the menu doesn't have a bottom margin, and it touches the border of the page.

## Screenshots or screen recording (optional)

![Screen Capture on 2021-04-22 a

[2021-04-22 16:36] jameskoster commented on #31091
Since https://github.com/WordPress/gutenberg/pull/30793 the save flow between post and template editors has been unified, so we may be able to close this issue?

One thing we might explore is the label on the primary button in the post editor top bar now that these save flows have been connected. In the Site Editor we use a single "Save" button which works quite well. In the post/template editor(s

[2021-04-22 16:42] javierarce commented on #31100
A good fix for this issue could be to integrate the error message inside the "Create a new menu" modal screen.

[2021-04-22 16:47] jameskoster commented on #31043
I _think_ we can potentially close this one since https://github.com/WordPress/gutenberg/pull/30793 is merged :) In the video below I demonstrate editing a post and a template in the same session, but only saving the changes to the post:

https://user-images.githubusercontent.com/846565/115752433-ffac4f00-a391-11eb-8c30-86e0186137ea.mp4

To discard the template changes you simply exit the editor.

[2021-04-22 17:09] gwwar commented on #30674
Do we have an example of what this API looks like and what it might return (eg either a rest call / php or JS function signature)? This would help me understand the usecase

[2021-04-22 17:11] priethor commented on #29036
I think that's an even better approach than adding only the `<ul>` wrapper around the blocks, as it can make blocks like the Home Link Block work properly in other contexts as was mentioned in #30926

However, the Navigation Block and other parent blocks would need a way of knowing which inner blocks need a wrapper and which ones, like the Search Block, don't. Would a new property in the block met

[2021-04-22 17:17] mtias commented on #30674
I had in mind something similar to [the nav menu walker](https://developer.wordpress.org/reference/classes/walker_nav_menu/) but taking advantage of the built in object tree representation of nested blocks to be used in server-side context (could be exposed in REST as well), excluding any presentation specific elements.

[2021-04-22 17:28] priethor commented on #30674
Regarding what constitutes the content to be returned by this API, I'm thinking of linking blocks in any flavor (Navigation link, Social links, Home link, Site Title/Logo...), but not other functional blocks like Search, even if it is not a presentation-specific element. Does that make sense, @mtias?

[2021-04-22 17:36] ockham commented on #29008
Looks like it shouldn't be too much work; basically, any workflow that uses `@actions/checkout` automatically gets a GH token that enables it to perform `git` operations. Would we want to add that to the [`.github/workflows/storybook-pages.yml`](https://github.com/WordPress/gutenberg/blob/503c87f3713928566fc1a1f2814598adc3699e45/.github/workflows/storybook-pages.yml) workflow?

For me, the bigger

[2021-04-22 17:44] gwwar commented on #29036
The search block does need an li wrapper too. It's invalid markup otherwise

| without li | with li |
|-----|-----|
| <img width="1162" alt="Screen Shot 2021-04-22 at 10 49 18 AM" src="https://user-images.githubusercontent.com/1270189/115762631-88a69480-a358-11eb-8d6b-e5b4a484aaac.png"> | <img width="1220" alt="Screen Shot 2021-04-22 at 10 49 51 AM" src="https://user-images.githubusercontent.com/1

[2021-04-22 18:00] gziolo commented on #29008
Yes.

It was discussed as well. Whatever works best here 😄

[2021-04-22 18:04] supernovia commented on #17553
I run into this frequently as well. It seems most html block-level elements (lists, paragraphs, etc) can't survive the quote block.

[2021-04-22 18:24] priethor commented on #29036
That's right, I should have specified I was thinking of [this proposal (comment)](https://github.com/WordPress/gutenberg/issues/29036#issuecomment-814577265) where lists of links should only contain links, and therefore multiple `<ul>` elements could exist and the Search block would be outside any nav/ul/li wrapper 😅

[2021-04-22 18:47] arcmicro commented on #31000
HI, what type of plugins?
Not sure if i heard of such plugins.
Thanks.
On a side note, Where i can post different issues i face with blocks editing, there are many minor issues i find but to open here a topic fore each is too much time consuming.

[2021-04-22 19:18] gwwar commented on #17942
I can still reproduce the issue. For next steps I think we'll want to investigate if this is a more general issue. A unit test for the paste handler might make sense.

https://user-images.githubusercontent.com/1270189/115773080-bc87b700-a364-11eb-968a-4d142ef94f4d.mp4

[2021-04-22 19:43] gwwar commented on #17834
If folks are still seeing this issue, would it be possible to help document the use case? It looks like there might be more setup required to reproduce this.

One thing that'd be pretty helpful is copying the example block markup into a comment on this issue. We can do this by clicking on the three dots in the top right, then click on "code editor".

<img width="317" alt="Screen Shot 2021-04-22 at

[2021-04-22 19:50] gwwar commented on #18951
@jasmussen closing this one for you :D

[2021-04-22 19:50] #18951 closed

[2021-04-22 19:50] paaljoachim commented on #17834
I tested the examples that @CreativeDive Martin mentioned.

Using WordPress 5.7. Twenty Twenty One. Gutenberg plugin 10.4.1

Adding a 2 column wide Column block.
Added a Cover block into the first. Containing an image and some text in the middle of the Cover block.
Second column contained text. I was able to nicely align top, middle and bottom the Cover block.

Adding a 2 column wide Column block.

[2021-04-22 19:51] jameskoster commented on #28736
Driving by to leave a note that the modal pattern suggested in https://github.com/WordPress/gutenberg/issues/31033 can also be applied here.

Clicking the "Patterns" link in the menu item would trigger the modal carousel.

[2021-04-22 20:00] gwwar commented on #18079
This one is still an issue. In the code editor we can paste in the following:

[code]

Click on convert to blocks, and we see:

[code]

[2021-04-22 20:02] paaljoachim commented on #18229
Hey @maddisondesigns Anthony.
Can you please retest and see if this is still a valid issue?
Thanks!

[2021-04-22 20:15] paaljoachim commented on #19553
Testing using WordPress 5.7.1. Twenty Twenty One. Gutenberg plugin 10.4.1

Added a post with the site title: `<span>a title</span>`

![Screen Shot 2021-04-22 at 22 16 01](https://user-images.githubusercontent.com/5323259/115779509-5fb5ec00-a3b8-11eb-93ba-cbc1c5ff5470.png)

Added another post with a button. Linked to the above post title post. I noticed the span in the link before selecting the pos

[2021-04-22 20:18] laras126 commented on #8047
Tried this out just in the inspector and seems like a straightforward fix! Since browsers ignore CSS properties they don't support, I don't think there's anything we need for progressive enhancement here.

Also, the latest 5 versions of Chrome have full support for `auto`.

[2021-04-22 20:22] laras126 commented on #14055
According to [this recent discussion](https://make.wordpress.org/core/2021/03/04/discussion-dropping-support-for-ie11/), it looks like Core will be dropping support for IE11. If that is the case, can this issue be closed?

[2021-04-22 20:23] paaljoachim commented on #19553
Closing issue. If something was missed the issue can always be reopened.

[2021-04-22 20:23] #19553 closed

[2021-04-22 20:25] paaljoachim commented on #14055
I think we will just leave it as it is for now. Until additional discussions in relation to time line of when IE11 will be dropped.

[2021-04-22 21:05] mkaz opened #31111 "Site Editor: Focal Point Picker Size"
## Description

When using the Cover Block in the Site Editor, the image shown in the focal point picker is too large, likewise the picker itself appears to be ovesized and not placed properly.

https://user-images.githubusercontent.com/45363/115784909-96b5de80-a373-11eb-81f3-3978a4f9ff63.mp4

## Step-by-step reproduction instructions

1. Using site editor, editing a template
2. Add a Cover Block

[2021-04-22 21:12] bobbingwide commented on #19553
- In the editor I no longer see the markup in the link.
- It would appear that the button block no longer creates a `title` attribute for the link
- But editing an existing button block's link does not delete the title attribute.

Workaround: Delete the button and add a new one or edit the HTML.
Didn't expect this though. What's the link dialog doing where it is?
![image](https://user-images.githu

[2021-04-22 21:13] sabernhardt commented on #30324
That specific button has different padding on each side at narrower than 782:
` {
    min-width: 42px;
    padding-left: 6px;
    padding-right: 11px;
}`

And the padding is even at larger sizes:
`{
    min-width: 48px;
    padding-left: 12px;
    padding-right: 12px;
}`

[2021-04-22 21:29] ockham commented on #29008
I'm leaning towards the latter, TBH. Seems fairly straight-forward. The main questions are probably if creating a new `wordpress.github.io` repo (at org level) will collide with the existing `wordpress.github.io/gutenberg/` pages (at GB repo level, created from the `gh-pages` branch); and if we'll be able to retain the `/gutenberg` path somehow 🙂

[2021-04-22 21:35] ockham commented on #29008
Looks like we might even be able to continue using the same GH action we're using now: It supports both deploying [to a different repo](https://github.com/peaceiris/actions-gh-pages#%EF%B8%8F-deploy-to-external-repository-external_repository), and [to a subdir](https://github.com/peaceiris/actions-gh-pages#%EF%B8%8F-deploy-to-subdirectory-destination_dir) (not entirely sure if those can be combine

[2021-04-22 21:37] tellthemachines commented on #29036
That approach was explicitly not recommended by the a11y team, see points 2 and 3 [here](https://github.com/WordPress/gutenberg/issues/24364#issuecomment-670600067). The problem is essentially that lists should contain only items semantically related to each other, but there's plenty more info and resources on the topic in that comment.

I've had #30551 open for a while, looking for feedback on th

[2021-04-22 21:52] bobbingwide commented on #27214
Hi Carolina, I restated my requirements in my most recent comment ( November ).

How I envisage the Excerpt being created automatically, when there isn't a hand written one, is that it would be
the content prior to the _more_ tag.

[code]

In my shortcodes, when extracting the _excerpt_, my code respected the HTML, images etc.
I had an option to display the "read more" link after the **excerpt**.

[2021-04-22 22:07] gwwar commented on #29036
Thanks for the extra context @tellthemachines! That's a good point. 🤔 I do feel that whatever solution we come up with though should ideally align editor/published markup, and that the user won't necessary need to manage this level of detail themselves in UX interactions.

@priethor (or other folks) would it be possible update this issue summary to add an example of current markup, and an example(

[2021-04-22 23:10] annezazu opened #31112 "Query Block: select from a list for categories"
## What problem does this address?

As part of the [fifth call for testing for the FSE Outreach Program](https://make.wordpress.org/test/2021/04/14/fse-program-testing-call-5-query-quest/), the following feedback came in. Of note, this is was translated from Japanese and is not the original text:

Another person later brought up the same feedback:

## What is your proposed solution?

List the cate

[2021-04-22 23:29] annezazu commented on #30925
Just noting that 3 people out of 30 folks who tested this from the Japanese WordPress community all were confused by this. Here are translations of the feedback they gave:

[2021-04-22 23:55] annezazu commented on #25198
[As part of the fifth call for testing for the FSE](https://make.wordpress.org/test/2021/04/14/fse-program-testing-call-5-query-quest/#comment-1501), the experience around what lives in the toolbar vs the block's sidebar was mentioned as being quite confusing:

EDITED TO ADD: This came up during the [seventh call for testing as well as a point of confusion](https://make.wordpress.org/test/2021/05/

[2021-04-23 00:00] annezazu opened #31113 "Query Block: Change "Inherit query from URL" language"
## What problem does this address?

[This came up as part of the fifth call for testing](https://make.wordpress.org/test/2021/04/14/fse-program-testing-call-5-query-quest/#comment-1501) for the FSE Outreach program from @getdave and from a member of the Japanese WordPress community:

## What is your proposed solution?

Here are some ideas:

- Dave suggested “Use default query items for this page”.

[2021-04-23 00:20] tellthemachines commented on #29036
Yeah, we've had some back and forth about that in #30551 and #30430 😅

The other possibility is if we could iterate through the `children` returned by `useInnerBlocksProps`, we'd be able to match editor and front end markup without having to burden users with intermediate blocks.

[2021-04-23 00:20] lelas commented on #24770
Also a mere user here who's frustrated with blocks inability to drag & drop properly.

I second @joshm33333's idea for a toggle. Would be great with an option to disable scrolling while dragging + a scroll zone in the bottom/top. Working with columns where there is a need to drag content is currently nearly impossible. The slightest drag and the page scrolls and in far too many cases, the content

[2021-04-23 00:43] joshm33333 commented on #24770
All of my coworkers have the same complaint.

Honestly, this is why the classic editor plugin gets so many installs. Gutenberg feels like a step backwards. It limits creativity, slows down workflow, and forces us to relearn everything we already know. Even my clients/users who don’t know how to code understand HTML better than they understand Gutenberg

[2021-04-23 00:46] vindl opened #31114 "FSE: opening templates and template parts for post listing"
If you try to edit templates and template parts from the CPT listing, they will be opened in the post editor.

<img width="1616" alt="Screen Shot 2021-04-23 at 2 45 14 AM" src="https://user-images.githubusercontent.com/1182160/115801863-0bbdfe00-a3de-11eb-8fb6-d9068a344a6b.png">

Should we consider redirecting this to the Site Editor instead for consistency?

[2021-04-23 01:11] vindl opened #31115 "Post Title: deleting the block crashes the parent group block"
Steps to reproduce:

1. Open the Site Editor on a test site that has TT1 Blocks theme active.
2. Open the page template from the browsing sidebar.
3. Select the Post Title block and press `delete`.
4. Notice that the containing group block crashes and display "This block has encountered an error and cannot be previewed." error message.

Before:
<img width="1788" alt="Screen Shot 2021-04-23 at 3 09

[2021-04-23 01:24] glendaviesnz commented on #30250
Fixed by https://github.com/WordPress/gutenberg/pull/31068

[2021-04-23 01:24] #30250 closed, assigned to glendaviesnz

[2021-04-23 01:46] gwwar commented on #29036
@tellthemachines, definitely this one will be tricky to get right, and it could be the case that we need to build new mechanisms for this.

I'm happy to review both approaches, though I'd like to understand what target published html we're comfortable with before I dive in, and what needs the navigation editor has.

🤔 Some early thoughts from me is that a home link is likely to be a new block as w

[2021-04-23 02:36] sarayourfriend commented on #30503
**Note!** I've updated the issue to reflect the current plan. Please review when y'all have time @mtias @gziolo @youknowriad. Thanks!

[2021-04-23 04:26] glendaviesnz commented on #30363
This is existing behaviour with the current gallery, so since it isn't a regression will review after the first release of the refactored gallery

[2021-04-23 04:36] tellthemachines commented on #29036
In terms of semantics the aim should be to have only links inside the list element (so Home block should definitely be in there) and everything else - search, other lists such as page list, or social icons - outside as direct children of the `nav` element.

An exception is the Spacer block, which we need to allow inside submenus and between nav links. I think ideally Spacer shouldn't render any ma

[2021-04-23 04:36] glendaviesnz commented on #29917
As this is existing behaviour in the gallery block and not a regression will defer this until after the first release of the refactored gallery

[2021-04-23 04:46] mariohamann commented on #25198
As I reasoned in detail in https://github.com/WordPress/gutenberg/issues/25198#issuecomment-708222120 I still think it's much more intuitive to put every setting into the sidebar. Querying is complex, the block is complex, therefore hiding settings behind unfamiliar icons and distributing them across different places reduces usability.

(That's why I didn't use the toolbar in my prototypes.)

[2021-04-23 04:52] glendaviesnz commented on #29999
User testing feedback has differed on this point, with users initially finding it confusing that sometimes image drag and drop added the image and sometimes it replaced depending on exactly where it was dropped, so the replace option was disabled in the gallery context.

Because this issue really required some detailed design input and a rethinking of how drag and drop works in the gallery context

[2021-04-23 04:52] draganescu commented on #23953
That would add a bit of more clarity which would be helpful :)

[2021-04-23 05:02] #30327 closed, assigned to Mamaduka

[2021-04-23 05:05] glendaviesnz commented on #30698
FYI, in terms of the refactored gallery block, because this is not a regression caused by that work, we are going to defer looking at this until after the first release of the refactored gallery code.

[2021-04-23 05:08] glendaviesnz commented on #29957
This is going to take a reasonable amount of UX work to figure out how to best handle this, and it doesn't seem to be a critical bug so deferring until after the first release of the refactored gallery block.

[2021-04-23 05:10] glendaviesnz commented on #30002
This would likely required a modification to the core block menu code to allow passing in of a block name to the Remove menu option. This is not critical so deferring until after the first release of the gallery block refactor.

[2021-04-23 05:12] glendaviesnz commented on #30362
Any fix for this will most likely require a rethink of how the grid layout works for the gallery so deferring until after the first release of the gallery block refactor.

[2021-04-23 05:16] mrfoxtalbot opened #31116 "Image block: UI glitches during media upload"
## Description
The image block shows two glitches while the media/file is uploading.

## Step-by-step reproduction instructions
The two glitches are:

1. The "crop" icon gets replaced by a second "align" icon
2. An empty/duplicated image block placeholder can be seen below the image that is being uploaded.

None of the above should happen.

## Screen recording

![image upload glitch](https://user-

[2021-04-23 05:16] glendaviesnz commented on #30334
Because this is an existing Image block issue adding to the list of things to review after the first release of the refactored gallery block, but this can be fixed independently in trunk at any time anyway, so shouldn't be part of the gallery refactor PR.

[2021-04-23 05:47] maddisondesigns commented on #18229
@paaljoachim This is still an issue.

Looking at one of my old pages...

This is what it looks like in the browser.
<img width="1920" alt="screenshot_605" src="https://user-images.githubusercontent.com/2078245/115823947-92102980-a44a-11eb-9f34-c7a6eb664ec1.png">

This is the Code View of the three Cover Blocks.
<img width="1920" alt="screenshot_601" src="https://user-images.githubusercontent.com/2

[2021-04-23 05:54] getsource commented on #30445
Updated the PR to only offer transformation to cover when a background color or gradient is available in the Group block.

[2021-04-23 06:03] gziolo commented on #29008
I see https://github.com/peaceiris/actions-gh-pages#%EF%B8%8F-force-orphan-force_orphan. This is exactly what we want and it makes it so much easier to approach this way. I will merge directly to `trunk` and see if it works. Great discovery @ockham!

[2021-04-23 06:25] alaczek opened #31117 "Post Title: Add text styling options"
## What problem does this address?
Currently, the Post Title block does not have any text styling options, like bold (or make the text normal weight if bold is the theme default), italics, uppercase. It would be nice to have those as an option for creating more interesting blog pages.

Some visual examples:
![image](https://user-images.githubusercontent.com/4550351/115827176-4613b380-a44f-11eb-8ea

[2021-04-23 06:34] gziolo commented on #29008
It worked with https://github.com/WordPress/gutenberg/commit/d4bef28c06edd38d97dc0f6f649dbf8cf248c321:

<img width="994" alt="Screen Shot 2021-04-23 at 08 33 28" src="https://user-images.githubusercontent.com/699132/115828924-9b7ba080-a40e-11eb-89f5-67761fc96c84.png">

We are now at 200-ish MB, which is **10%** of the initial size:

<img width="379" alt="Screen Shot 2021-04-23 at 08 59 42" src="ht

[2021-04-23 06:34] #29008 closed

[2021-04-23 06:55] gziolo commented on #30503
Thank you for the update. It looks like everything is on track. 👍🏻

[2021-04-23 07:32] #30426 closed, assigned to nobody

[2021-04-23 08:06] #26219 closed

[2021-04-23 08:14] jasmussen commented on #29036
I'd like to see margin controls on virtually every block we have in the library, which would benefit notably the space-between option we have for justification, and enable truly magical things if we were to enable a horizontal display for groups (#24473).

But even then, I still see a place for the spacer block to exist. There's something useful in having just an empty block, for when you need to

[2021-04-23 08:21] #31071 closed, assigned to ntsekouras

[2021-04-23 08:28] priethor commented on #29036
Updated the proposal in the issue description with example accessible markup.

[2021-04-23 09:01] priethor commented on #30921
Thanks for tackling these, @carolinan 🎉

[2021-04-23 09:44] Sandstromer commented on #31113
My personal opinion would be for the Query Block to default initially to the "Inherit query from URL" state like it does now but there would be no mention of inheriting the query or using default query.
So, instead of deselecting this, the user would select an option something like "Customize the query" to change the query arguments.

Doing this the other way round feels more natural to me, and po

[2021-04-23 09:50] #31013 closed, assigned to nobody

[2021-04-23 10:25] oandregal opened #31124 "Presets used in patterns: register them as user presets?"
One issue we have with patterns is that presets (colors, font sizes, font-families) they may want to use (as classes) may or may not be available depending on which theme is active ― presets are registered by the theme itself and different themes register different presets. What end ups happening in most cases is that patterns use inline styles to make sure they work.

I was thinking about this in

[2021-04-23 10:47] draganescu opened #31126 "Audit of the extensibility available in the widgets admin screen"
Closes #28673

### Audit Widgets Screen third-party extensibility
I looked at three files implementing the current Menus screen in WP Admin:

- `wp-admin/widgets.php`
- `wp-includes/widgets.php`
- `wp-admin/includes/widgets.php`

I found, as expected a list of checks, filters and actions. Then I ran through the menus endpoint to check which of them are already fired by the REST API and so are alre

[2021-04-23 11:17] jasmussen opened #31127 "Search Block: Enable contextual defaults"
## What problem does this address?

When you insert a Search block, it comes with good basic defaults:

<img width="686" alt="Screenshot 2021-04-23 at 13 14 41" src="https://user-images.githubusercontent.com/1204802/115863552-e826a200-a435-11eb-9eb9-7038a95fc6f9.png">

But when the Search block is inserted in, for example, a horizontal Navigation block, those defaults are less useful:

<img width=

[2021-04-23 11:22] jasmussen opened #31128 "Search Block: Add icon-only option"
## What problem does this address?

The search block comes with a number of easily configurable defaults:

![search](https://user-images.githubusercontent.com/1204802/115863906-6daa5200-a436-11eb-8cd8-79d9c8d7515e.gif)

Including:

- It's resizable
- Label can be toggled
- Button can be an icon button
- Button can be toggled off, shown outside, or shown inside

One nice addition would be the abili

[2021-04-23 11:22] draganescu opened #31129 "Move to widget area available for innerBlocks"
In @talldan 's #30826 a button was added that allows moving a between widget areas. The problem is that we should not be able to move inner blocks only root blocks.

## To reproduce

1. Have latest Gutenberg `trunk`
2. Go to Appearance > Widgets
3. Add a buttons block
4. Add a second button
5. Notice that  in the second buttons toolbar there is a "Move to widget area button"
6. Click the "Move to

[2021-04-23 11:23] jasmussen commented on #22071
Split this one out, with some additions, to a separate ticket:

https://github.com/WordPress/gutenberg/issues/31128

Also created one for adding contextual defaults when inserting: https://github.com/WordPress/gutenberg/issues/31127

[2021-04-23 11:33] jameskoster commented on #31090
But if a block theme is active, you'll get access to template part editing as soon as you engage the template editor. I'm not sure I quite understand the concept of shipping template mode without template parts 🤔

Agreed, we should check if the parts exist in this flow, and include them if they do.

[2021-04-23 11:39] carolinan commented on #30406
The alignments are only available if the logo is placed inside another block. It is a feature or side effect of the new way to handle layout/width settings https://github.com/WordPress/gutenberg/issues/30568

[2021-04-23 11:42] danieldudzic opened #31135 "theme.json: Code block typography fontFamily isn't working"
Here's the markup for the code block:

[code]

When setting a fontFamily:

[code]

The style gets applied to `.wp-block-code`, but that's the `<pre>` tag, and this causes the **user agent stylesheet**
 to take precedence:

![code](https://user-images.githubusercontent.com/905781/115865946-4bfe9a00-a439-11eb-8b72-3253501bd925.png)

<hr>

The solution here would be to apply `font-family` to `.wp-blo

[2021-04-23 11:46] #31070 closed, assigned to youknowriad

[2021-04-23 11:53] priethor commented on #25067
Hey @talldan, is this issue in your near future plans, or is it available to pick?

[2021-04-23 11:56] youknowriad commented on #31090
Block themes are not being shipped in 5.8. Template mode for classic themes is considered.

[2021-04-23 12:01] vdwijngaert commented on #30943
I fixed this by adding the `withConstrainedTabbing` HOC, as is the case with the pre-publish panel in the post editor.

PR: https://github.com/WordPress/gutenberg/pull/31136

[2021-04-23 12:09] bobbingwide opened #31137 "Add transform between post-content and post-excerpt blocks and vice versa"
## What problem does this address?
I was working with a brand new FSE theme that starts with the absolute minimim.
In order to create some content for `index` I used the site editor and inserted the Medium Query pattern.
This used the `post-excerpt` block.
A while later I realised that I needed the `post-content` block.
I had to add the `post-content` block then delete the `post-excerpt` block.

I

[2021-04-23 12:18] draganescu opened #31139 "Legacy widget should not be "previewable" in the customizer"
It makes no sense to preview a legacy widget when using the `LegacyWidget` block in the Customizer since there is a better and full page preview on the screen.

<img width="1215" alt="legacy-preview-customzier" src="https://user-images.githubusercontent.com/107534/115869743-ffba5680-a446-11eb-85b0-4310c3d59194.png">

In the screenshot above the previews don't even match (and they probably won't no

[2021-04-23 12:22] draganescu opened #31140 "Buttons block looks bad in the Customizer"
When using the buttons block in the Customizer I noticed that the buttons had no background or button shape. Here is a screenshot:

<img width="486" alt="buttons-terrible-shape" src="https://user-images.githubusercontent.com/107534/115870134-80795280-a447-11eb-9535-d73b83b90df1.png">

- [ ] The "Google" text is actually a button and shown it looks like body text
- [ ] The link UI is clipped for so

[2021-04-23 12:24] draganescu opened #31141 "Clicking on the preview should deselect the block"
When a block is selected, because the block toolbar and other UI flows out of the sidebar like this:

<img width="486" alt="buttons-terrible-shape" src="https://user-images.githubusercontent.com/107534/115870371-d64dfa80-a447-11eb-9a72-801dea0ee671.png">

... it would be nice that clicking in the preview could hide the overflowing block UI by deselecting the selected block. I marked this as an enh

[2021-04-23 12:27] andrewserong commented on #31070
Thanks for fixing this up, Riad! 🙇

[2021-04-23 12:28] ddryo commented on #30352
I was able to achieve what I wanted with a different approach.

[2021-04-23 12:28] #30352 closed, assigned to nobody

[2021-04-23 12:29] youknowriad commented on #31070
👍 Let me know if you find anything weird, this is a tricky one.

[2021-04-23 12:29] priethor commented on #27593
I've created a [Project Board](https://github.com/WordPress/gutenberg/projects/58) as suggested by @gwwar to easier identify PRs needing review, and added all pending issues and most PRs to it.

Feel free to add/tweak columns as needed! 🙂

[2021-04-23 12:46] jameskoster commented on #31096
This sounds very similar to #27847. Worth reading Riad's latest reply there :)

[2021-04-23 12:51] jameskoster opened #31142 "Template dropdown in the post editor sometimes switches unpredictably"
It may happen in other flows, but this one particularly:

1. Edit post
2. Click "New" link in the Template panel in the Inspector
3. Give the new template a name
4. Click the "Back" button to return to the post
5. Notice the new template you just created has been replaced with another on the site

Video demo:

https://user-images.githubusercontent.com/846565/115873462-deec0400-a43a-11eb-8679-5da23

[2021-04-23 12:53] youknowriad commented on #31142
yes, I'm aware of this issue, basically the template list is a static list that is never refreshed and now with the template mode and the possibility to create templates, that list becomes dynamic. Refreshing the page should fix the issue for you temporarily :).

[2021-04-23 12:57] jasmussen commented on #18951
Thank you :)

[2021-04-23 13:01] ddryo opened #31143 "Switching allowedTypes in MediaUpload is not reflected."
Passing MediaUpload's `allowedTypes` as a variable and switching it to match other settings will not be reflected immediately.

For example, the following code will cause this problem if `allowedTypes` changes according to other settings.

[code]

## Screenshot.
Please see the following video.

![mediaUplaoder-bug](https://user-images.githubusercontent.com/31400297/115873861-6c9d1300-a47e-11eb-972

[2021-04-23 13:43] Addison-Stavlo commented on #29462
closed with https://github.com/WordPress/gutenberg/pull/30816

[2021-04-23 13:43] #29462 closed

[2021-04-23 13:43] pbking commented on #30496
Great write-up.  Thank you for the time it took to compile all of that.

I believe you're right: The customizer (in some form) is here to stay.  At least for a good long while.  The question to answer is what to do about that.

I think that it will be important to FIRST ensure that block-based themes are use-able in the existing customizer workflow, without a dependency on the FSE.  I think this c

[2021-04-23 13:49] paaljoachim commented on #31043
That is the best Discard suggestion I have seen. Discard text link seen beside each item that is to be saved.
Simple and straight forward approach. This can also be used for Reusable blocks. @critterverse
https://github.com/WordPress/gutenberg/issues/29871

(Users might uncheck first and then click the Discard link.)

One more thing Discarding also needs to result having the Publish dot removed, a

[2021-04-23 13:52] davidperezgar commented on #30619
Finally it was a problem of nginx setting. We were sure becaouse when we had disabled the permalinks, it was working correctly.

[2021-04-23 13:52] #30619 closed, assigned to nobody

[2021-04-23 14:07] skorasaurus commented on #30761
thanks, could you edit your title to reflect that so it's easier to find?

[2021-04-23 14:09] skorasaurus commented on #29506
"Allow modifying the default values in Global Styles -> Spacing." has an issue made for it at #30761

[2021-04-23 14:15] youknowriad commented on #6192
IE11 support is being dropped, context:

- https://make.wordpress.org/core/2021/03/04/discussion-dropping-support-for-ie11/
- https://make.wordpress.org/core/2021/03/25/discussion-summary-dropping-support-for-ie11/
- https://make.wordpress.org/core/2021/04/22/ie-11-support-phase-out-plan/

I'm closing this issue as it's not something we'll be investing in.

[2021-04-23 14:15] #6192 closed

[2021-04-23 14:15] youknowriad commented on #8595
IE11 support is being dropped, context:

- https://make.wordpress.org/core/2021/03/04/discussion-dropping-support-for-ie11/
- https://make.wordpress.org/core/2021/03/25/discussion-summary-dropping-support-for-ie11/
- https://make.wordpress.org/core/2021/04/22/ie-11-support-phase-out-plan/

I'm closing this issue as it's not something we'll be investing in.

[2021-04-23 14:15] #8595 closed

[2021-04-23 14:16] mtias commented on #29568
Yes, listing one after the other is fine for now.

Right, this is not planned to be changeable at first through themes. In the future we might unlock the values like you describe.

Agreed :)

[2021-04-23 14:16] youknowriad commented on #8607
IE11 support is being dropped, context:

- https://make.wordpress.org/core/2021/03/04/discussion-dropping-support-for-ie11/
- https://make.wordpress.org/core/2021/03/25/discussion-summary-dropping-support-for-ie11/
- https://make.wordpress.org/core/2021/04/22/ie-11-support-phase-out-plan/

I'm closing this issue as it's not something we'll be investing in.

[2021-04-23 14:16] #8607 closed

[2021-04-23 14:16] youknowriad commented on #14055
IE11 support is being dropped, context:

- https://make.wordpress.org/core/2021/03/04/discussion-dropping-support-for-ie11/
- https://make.wordpress.org/core/2021/03/25/discussion-summary-dropping-support-for-ie11/
- https://make.wordpress.org/core/2021/04/22/ie-11-support-phase-out-plan/

I'm closing this issue as it's not something we'll be investing in.

[2021-04-23 14:16] #14055 closed

[2021-04-23 14:17] youknowriad commented on #11183
IE11 support is being dropped, context:

- https://make.wordpress.org/core/2021/03/04/discussion-dropping-support-for-ie11/
- https://make.wordpress.org/core/2021/03/25/discussion-summary-dropping-support-for-ie11/
- https://make.wordpress.org/core/2021/04/22/ie-11-support-phase-out-plan/

I'm closing this issue as it's not something we'll be investing in.

[2021-04-23 14:17] #11183 closed

[2021-04-23 14:17] youknowriad commented on #17158
IE11 support is being dropped, context:

- https://make.wordpress.org/core/2021/03/04/discussion-dropping-support-for-ie11/
- https://make.wordpress.org/core/2021/03/25/discussion-summary-dropping-support-for-ie11/
- https://make.wordpress.org/core/2021/04/22/ie-11-support-phase-out-plan/

I'm closing this issue as it's not something we'll be investing in.

[2021-04-23 14:17] #17158 closed

[2021-04-23 14:17] youknowriad commented on #21389
IE11 support is being dropped, context:

- https://make.wordpress.org/core/2021/03/04/discussion-dropping-support-for-ie11/
- https://make.wordpress.org/core/2021/03/25/discussion-summary-dropping-support-for-ie11/
- https://make.wordpress.org/core/2021/04/22/ie-11-support-phase-out-plan/

I'm closing this issue as it's not something we'll be investing in.

[2021-04-23 14:17] #21389 closed

[2021-04-23 14:18] youknowriad commented on #15330
IE11 support is being dropped, context:

- https://make.wordpress.org/core/2021/03/04/discussion-dropping-support-for-ie11/
- https://make.wordpress.org/core/2021/03/25/discussion-summary-dropping-support-for-ie11/
- https://make.wordpress.org/core/2021/04/22/ie-11-support-phase-out-plan/

I'm closing this issue as it's not something we'll be investing in.

[2021-04-23 14:18] #15330 closed

[2021-04-23 14:19] youknowriad commented on #8620
IE11 support is being dropped, context:

- https://make.wordpress.org/core/2021/03/04/discussion-dropping-support-for-ie11/
- https://make.wordpress.org/core/2021/03/25/discussion-summary-dropping-support-for-ie11/
- https://make.wordpress.org/core/2021/04/22/ie-11-support-phase-out-plan/

I'm closing this issue as it's not something we'll be investing in.

[2021-04-23 14:19] #8620 closed

[2021-04-23 14:20] youknowriad commented on #17775
IE11 support is being dropped, context:

- https://make.wordpress.org/core/2021/03/04/discussion-dropping-support-for-ie11/
- https://make.wordpress.org/core/2021/03/25/discussion-summary-dropping-support-for-ie11/
- https://make.wordpress.org/core/2021/04/22/ie-11-support-phase-out-plan/

I'm closing this issue as it's not something we'll be investing in.

[2021-04-23 14:20] #17775 closed

[2021-04-23 14:21] youknowriad commented on #9759
IE11 support is being dropped, context:

- https://make.wordpress.org/core/2021/03/04/discussion-dropping-support-for-ie11/
- https://make.wordpress.org/core/2021/03/25/discussion-summary-dropping-support-for-ie11/
- https://make.wordpress.org/core/2021/04/22/ie-11-support-phase-out-plan/

I'm closing this issue as it's not something we'll be investing in.

[2021-04-23 14:21] #9759 closed

[2021-04-23 14:22] youknowriad commented on #18076
IE11 support is being dropped, context:

- https://make.wordpress.org/core/2021/03/04/discussion-dropping-support-for-ie11/
- https://make.wordpress.org/core/2021/03/25/discussion-summary-dropping-support-for-ie11/
- https://make.wordpress.org/core/2021/04/22/ie-11-support-phase-out-plan/

I'm closing this issue as it's not something we'll be investing in.

[2021-04-23 14:22] #18076 closed

[2021-04-23 14:23] youknowriad commented on #21616
now that we're dropping IE11 support, we need to investigate what poly fills are still needed for the browser we support and update the script on WP Core, this would require a trac ticket.

[2021-04-23 14:25] youknowriad commented on #28249
IE11 support is being dropped, context:

- https://make.wordpress.org/core/2021/03/04/discussion-dropping-support-for-ie11/
- https://make.wordpress.org/core/2021/03/25/discussion-summary-dropping-support-for-ie11/
- https://make.wordpress.org/core/2021/04/22/ie-11-support-phase-out-plan/

I'm closing this issue as it's not something we'll be investing in.

[2021-04-23 14:25] #28249 closed

[2021-04-23 14:26] youknowriad commented on #17723
IE11 support is being dropped, context:

- https://make.wordpress.org/core/2021/03/04/discussion-dropping-support-for-ie11/
- https://make.wordpress.org/core/2021/03/25/discussion-summary-dropping-support-for-ie11/
- https://make.wordpress.org/core/2021/04/22/ie-11-support-phase-out-plan/

I'm closing this issue as it's not something we'll be investing in.

[2021-04-23 14:26] #17723 closed

[2021-04-23 14:27] youknowriad commented on #26988
IE11 support is being dropped, context:

- https://make.wordpress.org/core/2021/03/04/discussion-dropping-support-for-ie11/
- https://make.wordpress.org/core/2021/03/25/discussion-summary-dropping-support-for-ie11/
- https://make.wordpress.org/core/2021/04/22/ie-11-support-phase-out-plan/

I'm closing this issue as it's not something we'll be investing in.

[2021-04-23 14:27] #26988 closed

[2021-04-23 14:30] paaljoachim opened #31147 "Page template: Add template name to top bar"
Creating a new page template and entering into the page template mode we see this:

![Page-template-mode](https://user-images.githubusercontent.com/5323259/115835548-ae926e80-a416-11eb-9a53-93c7316f5715.jpg)

It would be great if we can get it using the same method as is seen in the Site Editor.
![Site-Editor-screen-FSE](https://user-images.githubusercontent.com/5323259/115835871-15b02300-a417-11e

[2021-04-23 14:31] youknowriad commented on #6002
IE11 support is being dropped, context:

- https://make.wordpress.org/core/2021/03/04/discussion-dropping-support-for-ie11/
- https://make.wordpress.org/core/2021/03/25/discussion-summary-dropping-support-for-ie11/
- https://make.wordpress.org/core/2021/04/22/ie-11-support-phase-out-plan/

I'm closing this issue as it's not something we'll be investing in.

[2021-04-23 14:31] #6002 closed

[2021-04-23 14:34] paaljoachim commented on #31076
Here is a variation (Ratio is off).

![Screen Shot 2021-04-23 at 16 32 54](https://user-images.githubusercontent.com/5323259/115886940-b6233900-a451-11eb-9d84-f571d74edea3.png)

https://github.com/WordPress/gutenberg/issues/31147

[2021-04-23 14:43] paaljoachim commented on #31101
This issue is not valid any longer, as the Template has been moved in Gutenberg 10.5.

![Screen Shot 2021-04-23 at 16 42 39](https://user-images.githubusercontent.com/5323259/115888208-f33bfb00-a452-11eb-9d10-1fc15eb8465a.png)

[2021-04-23 15:15] gwwar commented on #27593
Awesome, thanks @priethor !

[2021-04-23 15:15] rodrigo-arias commented on #30071
Hi, is there any chance this will be released before 5.7.2 in the standalone plugin? I am not worried about the metabox ordering, but in my case using ACF, after selecting a taxonomy, the rest of the metaboxes do not respond. Going back to 5.6.3 solves the problem. Thanks

[2021-04-23 15:16] paaljoachim commented on #31101
I noticed that leaving the page and entering another page that the drop down showed up.

![Screen Shot 2021-04-23 at 17 16 09](https://user-images.githubusercontent.com/5323259/115892655-a6a6ee80-a457-11eb-85a2-168fde7ab59c.png)

Related issue:
https://github.com/WordPress/gutenberg/issues/31142

[2021-04-23 15:26] paaljoachim commented on #31091
I will go ahead and close this issue. Let's as you say continue the conversation in #30800 .

[2021-04-23 15:26] #31091 closed, assigned to nobody

[2021-04-23 15:33] getdave commented on #31009
I also tested this and cannot reproduce.

https://user-images.githubusercontent.com/444434/115894884-b02d5800-a451-11eb-8085-39dc7a33f838.mp4

[2021-04-23 15:38] paaljoachim commented on #30800
Reading through this thread..... Makes me think we need local saves that are not tied in with the draft or published page/post. Right now the save mechanism is in general difficult to handle, as things stop up when a user unchecks one of the items that are to be saved.

Thinking out loud.
There are talks about adding a Save button to the toolbar for Reusable blocks here:
https://github.com/WordPre

[2021-04-23 15:45] paaljoachim commented on #31087
I edited the original comment. I am focusing this issue only on the snackbar notification.

I have also added a new issue for Page template: Add template name to top bar
https://github.com/WordPress/gutenberg/issues/31147

[2021-04-23 15:53] getdave commented on #30450
@Jugibur Thanks for raising this. I can confirm that this is where those colors are added by the `example` definition on the Group block:

https://github.com/WordPress/gutenberg/blob/3ac3f5a1df5b77d4a6545ad214a07344192b383d/packages/block-library/src/group/index.js#L30-L38

Instead of using CSS to manipulate this you can manually override these examples via hooks. For example, if you want to chang

[2021-04-23 15:53] #30450 closed, assigned to nobody

[2021-04-23 16:05] MattBergerWP commented on #19149
+1 to this.

Our team uses Resusable Blocks to complete forms of content with standard sections of text to fill out. However new users often forget to "convert to regular block" and end up replacing all the placeholder copy with their specific content, and then publish. This makes the block unusable for the next person as they see the information left by the previous user.

It would be great to be

[2021-04-23 16:08] annezazu commented on #30634
@david-szabo97 wanted to be sure you saw this thread and feedback in case you might be able to follow up here!

[2021-04-23 16:33] javierarce commented on #23953
Here is the modal with the "Existing menu" dropdown. I've also updated the order of the options so "start blank" appears in the first position (which seems more logical to me) and remove the down arrow.

<img width="1152" alt="Placeholder" src="https://user-images.githubusercontent.com/4933/116065136-fa4b4f00-a686-11eb-8035-a7ffb858239c.png">

I also think it would be nice to use the same header s

[2021-04-23 16:55] lwangdu commented on #30669
I am using Wordpress 5.7.1 with Genesis theme. When I insert reusable block, it blank. It to used work fine before 5.7 updates. Could someone looking into this issue? Please see the screen shot
![Screen Shot 2021-04-23 at 9 53 12 AM](https://user-images.githubusercontent.com/24829573/115904748-0383b400-a41a-11eb-81fb-5c7d3a8826a1.png)
Thanks

[2021-04-23 16:58] jameskoster commented on #30800
My (perhaps incorrect) assumption is that actively discarding changes for a specific entity will be a fairly uncommon activity for most users. So for now, in order to be consistent across entities I feel like it would be ok to add this affordance to the multi-entity-save flow, if we do indeed need it.

I shared a design for that [here](https://github.com/WordPress/gutenberg/issues/31043#issuecomme

[2021-04-23 17:20] NewYorkerLaura commented on #29178
HI All,

Adding to the discussion here. This is a MASSVIE UX issue. It essentially renders the block as non-functional.

See attached video explaining. Literally rolling back sites to 5.6.3 to avoid this nightmare.

https://trainingvideoslaura.s3.amazonaws.com/reusable+block+not+working+on+PELC.mp4

[2021-04-23 17:22] mkaz commented on #31111
Using git bisect I tracked down this issue to: https://github.com/WordPress/gutenberg/pull/31010
But after an update and test it is now fixed in: https://github.com/WordPress/gutenberg/pull/31073

[2021-04-23 17:22] #31111 closed, assigned to nobody

[2021-04-23 17:28] NewYorkerLaura commented on #27890
Just adding to the discussion here. In 5.7.1 creating new reusable blocks experience is disastrous. Their primary functions have been stripped away. I've had to roll over 100 client sites back to 5.6.3. It is a UX disaster. The best feature and the strongest selling point to clients of the Block editor is now non-functional

- I have no ability to name a block
- Lots of "untitled blocks" doesn't l

[2021-04-23 17:55] fluiddot opened #31151 "Inserter menu: Visual glitch when activating search (only on Android)"
## Description

On Android when tapping on the search form, the device's keyboard shows up. This produces a visual glitch on the inserter menu at the end of the transition when the keyboard is fully displayed. The same happens when hiding the keyboard.

### Max height calculation on keyboard show/hide transition

The component used for rendering the inserter menu is the `BottomSheet`, this compone

[2021-04-23 18:03] priethor opened #31153 "Pattern Insertion Flows"
### Insertion UI
- [x] #33046
- [x] #36697
- [x] #35364
- [x] #28312
- [x] #31033
  - Depends on: #28574
  - Precedes: #28736)
  - Deprecates: #26905
- [x] #26116
- [x] #27494
- [x] #20867
- [x] #40117

### Discoverability

#### Pattern availability and restricting
- [x] #23275
- [x] #41398
- [x] #23803

#### Contextual suggestions (broader discussion in #27575)
- [x] #28735
- [ ] Block context: #

[2021-04-23 18:08] samtuke commented on #31009
Yes I disabled all plugins which would not bring down the production site but the problem remained. I will try and reproduce locally on a development server setup in order to disable 100% of plugins.

[2021-04-23 18:12] christianoliveira commented on #10994
Hi! I have a travel blog and recently started using Gutenberg. I write very long, detailed posts and this week I experimented for the first time with Gutenberg, the new blocks system and Jetpack Galleries, and it has been, unfortunately, a horrible experience :(

The post is very long (>30.000 words, >500 images), during the writing, there was usually a 2-5 seconds lag between the keyword input an

[2021-04-23 18:15] vdwijngaert commented on #31137
Transforming `post-content` into `post-excerpt` and vice versa seems reasonable indeed.

I tried simply converting to `post-excerpt` using block transforms, but this results in the excerpt not being properly aligned:
![image](https://user-images.githubusercontent.com/772137/115912773-0a3d1600-a470-11eb-9ecf-953f6e283d3e.png)

The `post-excerpt` block does not have the `layout.inherit` attribute, u

[2021-04-23 18:15] david-szabo97 commented on #30634
Focus works for me as it was mentioned throughout the thread.

Same question. It looks like that should be enough and this prompt seems unnecessary. It's really confusing when the sidebar is open 😕 On the other hand, I'm not really experienced in this area. For landmark navigation it makes sense, but we have the Save button in the header toolbar so we can just navigate there and trigger Save.

[2021-04-23 18:30] vdwijngaert commented on #31147
You're talking about the post editor that opens after adding a template using Appearance > Templates, right?

I could be mistaken, but I would think that this functionality would eventually move to the Site Editor all together. Related: https://github.com/WordPress/gutenberg/issues/29449.

edit: https://github.com/WordPress/gutenberg/issues/31114 seems to suggest a nice intermediate solution. http

[2021-04-23 19:37] ianstewart opened #31156 "Global Styles: Custom Font Size set by Theme defaults doesn't display in UI"
This may already be on a roadmap or in another issue but I wasn't able to find a note with search.

## Description

Custom font sizes set by theme defaults do not display in global styles.

## Step-by-step reproduction instructions

When clicking on a heading block in the TT1 in the index template in the Site Editor and then viewing the global style defaults I saw the following.

![image](https://

[2021-04-23 21:25] paaljoachim commented on #31147
Yes I am thinking about the Appearance -> Templates.
Clicking browse templates (seen in the mockup above) could open a modal or what has also been called a mosaic view.

Thanks for sharing @vdwijngaert Koen!

[2021-04-23 21:27] paaljoachim commented on #29558
Hey James. It would be great to see what this would look like in a modal.
Thanks.

[2021-04-23 22:19] annezazu opened #31158 "Tracking: Feedback on Query Loop Block settings"
## What problem does this address?

As part of the fifth call for testing for the FSE Outreach Program, [the following feedback was shared](https://make.wordpress.org/test/2021/04/14/fse-program-testing-call-5-query-quest/#comment-1501)  highlighting how confusing it is to have mentions of pages showing when working with posts:

This confusion led to not understanding how to use the setting itself

[2021-04-23 22:24] paaljoachim commented on #29178
Hello everyone.
An update. Selecting some comments from above:

"It’s now incredibly hard to select a reusable block and move it around a page as one unit. When you insert a reusable block with 5.7, you can now select individual elements of it without clicking “edit reusable block” like before 5.7......"

"On top of this, the new way reusable blocks save when you save a page is prone to errors, as

[2021-04-23 22:33] NewYorkerLaura commented on #29178
Oh boy, seeing this now. I'm primarily a content creator and YUCK, SUPER YUCK....HAVE I MENTIONED YUCK!?!?!?!

Who wants to got to the sidebar for what is basic functionality. To me the sidebar is gravy, cool extra features, but the basics that you want every time are on the toolbar right above. In other words in a paragraph, header block you can bold, italic, change color these are common basics.

[2021-04-23 22:36] NewYorkerLaura commented on #29178
Also as to why to throw in a group, it's a way to guarantee you have it  all. I find if you don't do to that way it's really easy to accidentally leave images behind and not realize it. You know right away if you've got it all if it's in a group.

[2021-04-23 23:11] ranthonysteele commented on #29267
The specific issue in question with this bug (for me anyway) is that there is a standard separator block in Gutenberg that overrides the more flexible settings in HTML. I want a separator that looks like this `<hr style="width:66%;height:3px" class="aligncenter">` which should an available configuration that you can set as a default inside of the editor itself for the default separator block. Deno

[2021-04-24 00:57] ivankruchkoff commented on #30428
@gziolo yes, this is how JSON.stringify works, and it's unfortunate that there is no standard for encoding boolean values in query strings. There are valid scenarios where we can't reasonably determine our rest schema and unable to utilise `rest_sanitize_boolean`

This does create a developer experience where using two WordPress projects/libraries to interface with each other to lead to unexpected

[2021-04-24 04:46] mkaz commented on #30061
I added a PR to remove the link and suggest to ping in Slack.

A bit unrelated, but I noticed when searching for a list of members that Editor should probably be a project on this [Team Reps page](https://make.wordpress.org/updates/team-reps/) and the team reps added there.

[2021-04-24 06:25] carolinan commented on #31156
I don't think that any of the options displays the theme defaults?

[2021-04-24 06:29] carolinan commented on #31147
The image above is not from the Appearance -> Templates, it is from the block editor > edit template link.
The Appearance -> Templates edit view does not have the padding and the back link.

[2021-04-24 06:37] carolinan commented on #31128
This setting was once removed, so is there anything that can be reused from the code that was removed?

[2021-04-24 06:38] carolinan commented on #31128
This might be obvious but the expanded input field also needs to be more visible than in the image above 😄

Displaying the input field on focus is not a good option, what if the person is trying to navigate past the search icon instead of opening it. It should only expand on explicit user action like pressing the button.

[2021-04-24 08:25] paaljoachim opened #31163 "Reusable block: A suggestion for a new revision."
Inspired by Lauras video here: https://github.com/WordPress/gutenberg/issues/29178#issuecomment-825802038
-Not able to figure out how to rename a Reusable block.

I decided to create a new Reusable block prototype based on experiences from WordPress 5.6 and 5.7.

### Features:
Inline toolbar block naming and Save button.
Inline toolbar lock/unlock icon to gain access to content. (Can be in relatio

[2021-04-24 09:48] paaljoachim commented on #29178
Hello everyone.

Another update: I have made a new Reusable block revision issue. I have added videos and a prototype made in Figma.
Do give feedback.
https://github.com/WordPress/gutenberg/issues/31163

[2021-04-24 10:08] amir2mi commented on #30046
I have had this problem both in Linux and Windows 10, also when I disable the Gutenberg plugin it seems to be solved.

[2021-04-24 12:06] carolinan commented on #31090
Please clarify this. It won't be possible to **activate** a theme like TT1 Blocks without Gutenberg in 5.8?

[2021-04-24 12:13] carolinan commented on #31090
Please understand that this type of information is **crucial** and **greatly** affects how contributors choose to spend their time.
For example, how the WordPress.org themes team, and the meta team to some extent, allocates volunteer time to make sure that block themes can be uploaded to the theme directory.

[2021-04-24 12:19] arcmicro commented on #30698
Hello, thank you for all the help.
I would like to report more bugs related to other types of Blocks in Gutenberg, but to open topics for each is too much to type and i must work, it would be easier to just comment them in some general Bug Report thread.

[2021-04-24 13:58] amir2mi opened #31165 "Settings panel overflow-x scroll"
This happens when the Gutenberg plugin is installed and updated I think I have seen this for more than a month.

You can see unnecessary overflow-x scroll when a settings panel toggle is opened.
![Gutenberg settings panel scroll problem](https://s18.picofile.com/file/8431699784/bandicam_2021_04_24_17_50_17_907_gif.gif)

To look further it happens when overflow-y has to scroll and in codes, it is h

[2021-04-24 14:25] #30061 closed, assigned to mkaz

[2021-04-24 14:38] #30637 closed, assigned to mkaz

[2021-04-24 14:41] paaljoachim commented on #30698
Hi @iTesla13 Filip

What you can do is as you say add one report, and others like myself can create separate issues where it is needed.

[2021-04-24 16:43] mrfoxtalbot opened #31168 "Image Block: hyperlinks added to Image blocks without http(s) prefix append to page/page slug"
1. Create new post or page
2. Add an image block, and insert an image
3. Add link to image block, using a URL without http:// or https://.

![68747470733a2f2f642e70722f692f73326d5177692b](https://user-images.githubusercontent.com/4452464/115966191-dbd14080-a52c-11eb-91cc-00737e3976cc.png)

**What I expected**
I expected the image to link to automattic.com and intuitively account for the lack of th

[2021-04-24 17:09] mrfoxtalbot opened #31169 "Latest Posts block: Post links/titles should not be clickable"
**Steps to reproduce the behavior**
Go to the editor and add the Latest Posts block
Click on a post title
Notice the link behaves like an actual link (forcing you to exit the editor), which is not an expected behavior inside the block editor

**What I expected to happen**
I was expecting to be able to select the post (or the block) to see the options the block provides me

**What actually happened

[2021-04-24 19:06] joshm33333 commented on #31163
lock unlock feature is in my opinion an absolute necessity
i can't tell you how frustrating it is since the last update that you can accidentally edit content inside a block, the save button is now in the same place as update, and there are no revisions on blocks so if you delete something it's gone forever

[2021-04-24 19:18] skorasaurus commented on #31168
Hi,

Thanks for reporting;
This has been discussed and/or requested in  https://github.com/WordPress/gutenberg/issues/6841 (the image block is also applicable here). Feel free to [add your reaction](https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/about-conversations-on-github#reacting-to-ideas-in-comments) and follow its progress in the issue.

[2021-04-24 19:18] #31168 closed, assigned to nobody

[2021-04-24 21:11] PaulBouisset commented on #31163
I have the exact same issue @joshm33333 multiple reusable block content were deleted + content editor by accident are putting reusable blocks in reusable block because they don't know that there are editing the inside a the block. Lock/Unlock would be a good solution to prevent this

[2021-04-25 04:46] carolinan opened #31171 "Feature request: Allow registering custom block styles for template parts"
I would like to be able to offer custom block styles for the site header, that are not available for other generic template parts.

[code]

[2021-04-25 08:30] pwkip commented on #31163
I'm very happy to see this proposal. The Lock/unlock action seems like something that could work.

Not sure the lock icon itself is 100% intuitive / would work in the long term:
 - seems to imply that the block is not editable, so maybe a pencil (edit) icon would be more appropriate?
 - I can image that at some point in the future, reusable blocks will be editable only by certain user roles (wp_bl

[2021-04-25 09:00] paaljoachim commented on #31163
Lock/unlock can of course be switched out with a pencil/edit icon. Then at a later point the pencil could be switched out with a lock (for user role purpose). What I tried to do was take elements from 5.6 (which worked very well) and mix these in with some of the newer elements in 5.7. There is work currently happening with a click through https://github.com/WordPress/gutenberg/pull/30156 so on in

[2021-04-25 10:11] Lovor01 opened #31172 "Block collection does not show"
## Description
I am trying to register and show collection, but it does not show in inserter.

## Step-by-step reproduction instructions
First, blocks are being registered with namespace _makeiteasy_:
[code]
After blocks are registered, collection is created:
`registerBlockCollection( 'makeiteasy', { title: 'Altius', icon: 'smiley' } );`

Finally all the blocks are added to common category in PHP:

[2021-04-25 10:20] Lovor01 commented on #31172
It was my mistake, `registerBlockCollection` was not imported from `@wordpress/blocks`

[2021-04-25 10:20] #31172 closed, assigned to nobody

[2021-04-25 11:05] paaljoachim commented on #18229
Hey @maddisondesigns Anthony

I am using WordPress 5.7.1. Twenty Twenty One. Gutenberg plugin 10.4 RC.

This is what I am seeing:
![3-Cover-block-alignments](https://user-images.githubusercontent.com/5323259/115990949-51d5b600-a5c6-11eb-8e2f-c42f80407d3c.jpg)

Options included.
![Cover-block-alignment-drop-down-options](https://user-images.githubusercontent.com/5323259/115991039-b85ad400-a5c6-11eb

[2021-04-25 12:48] vdwijngaert commented on #31165
I can't seem to be able to reproduce this issue. Can you provide some steps to reproduce, along with information on your OS, browser and resolution?

Also, please confirm:
* All plugins except for Gutenberg have been disabled
* Active theme is set to Twenty Twentyone
* WordPress, Gutenberg and Twenty Twentyone are up-to-date

Thanks!

[2021-04-25 13:15] bobbingwide opened #31173 "Keyboard shortcuts modal does not appear in Site Editor"
## Description
I was trying to refamiliarise myself with Keyboard shortcuts in order to attempt to complete Call 5 - Query quest using keyboard only. Imagine my surprise to discover I couldn't find what the keyboard shortcuts were.

## Step-by-step reproduction instructions

1. Open Site Editor
2. Click on "More tools & options"
3. Click on "Keyboard shortcuts"

or, on Windows, press `Shift + Alt

[2021-04-25 13:18] vdwijngaert commented on #31169
Also appears to be the case for the categories block. I can pick this up, but I'm not sure on the best solution. As far as I can see, I've seen this issue being solved elsewhere in different ways:

* Wrapping a `<Disabled>` around the component.
* PreventDefault `onClick={e => e.preventDefault()}`
* Using a _pseudo link_: `<a href="#post-date-pseudo-link">{ postDate }</a>`

The `Disabled` wrapper

[2021-04-25 14:45] vdwijngaert commented on #31147
Ah, I see it now. It's from the block editor > new template link. The edit link does show the template name, though. Editing a template that was newly created from the "create template" modal, does not show it.

![image](https://user-images.githubusercontent.com/772137/115998023-a0467d00-a5e5-11eb-9063-3c093e035afc.png)

[2021-04-25 16:37] vdwijngaert commented on #31169
I didn't know this could actually prevent clicking. Nifty! This would prevent being able to preview certain styles for pointer events, though.

Slightly less annoying, but to me that still feels more like a bug than a feature.

I'm starting to get the feeling that there's a need for uniformity, perhaps in the form of a dummy link component? This encapsulates all dummy links to one component, and m

[2021-04-25 16:38] celloexpressions commented on #30711
Thanks for the ping. Noting that I observed most of these issues in multiple themes that I tested. All of the theme-specific issues noted above occurred with the Arbutus theme, so it's a good one to test with.

[2021-04-25 16:55] amir2mi commented on #31165
@vdwijngaert Hi, I checked it with Chrome last version and it was OK (There was no problem), **the problem is Firefox.**
After disabling all plugins except Gutenberg and test it with Twenty Twentyone it was still there just in Firefox.

It is what happens in Win10 and Linux Firefox 88.0 (64-bit) with different sizes:
![bug in firefox88](https://s18.picofile.com/file/8431807900/bandicam_2021_04_25_

[2021-04-25 17:10] celloexpressions commented on #29398
The customize API (not UI, necessarily) provides a good technical framework for this and already exists in WordPress core. It includes a `customize_changeset` post type that can simultaneously be used to enable drafts, scheduled changes, and public preview links for site-wide editing changes. The Customize Posts plugin provides prior art for integrating post edits/previews with this API.

Like the

[2021-04-25 17:20] celloexpressions commented on #31074
The original proposal in #26012 can apply directly to the navigation screen as well. The best way to run a contextual live preview on the navigation screen is to use a freestanding instance of the customizer. The customize preview can be used directly and the screen's UI would be framed in a custom customizer panel with customize settings handling preview and savings. This inherently implements th

[2021-04-25 18:43] ckpinguin commented on #26421
Maybe I'm mistaken, but I don't have any option "convert to regular" block an ANY reusable block (be it standard or 3rd party)?

[2021-04-25 20:26] mtias commented on #31173
This is being tracked in https://github.com/WordPress/gutenberg/issues/21245. Should be picked up soon.

[2021-04-25 20:26] #31173 closed, assigned to nobody

[2021-04-26 01:56] noisysocks commented on #24949
@draganescu: Where are you seeing that error? When I enable the Gutenberg plugin, enable the Widgets screen in Customizer experiment, add `remove_theme_support( 'widgets-block-editor' );` to `gutenberg.php`, and browse to Appearance → Customize → Widgets I see the old interface and no error.

[2021-04-26 04:26] draganescu commented on #24949
That  was a while ago @noisysocks
Tested again, now there is no more PHP error, however, with the block widgets disabled from the theme functions file, I get the widgets panel back but currently on `trunk` opening that section or adding an image widget results in `Uncaught TypeError: t.onChangeSectionExpanded is not a function`

[2021-04-26 04:50] draganescu opened #31176 "Disabling block widgets via theme supports is unreliable"
## Description
When adding `remove_theme_support( 'widgets-block-editor' );` to TT1's `functions.php` after using the block editor to add some blocks to widget areas, all content is lost and I cannot see the blocks I added. Optin back in, by removing the opt out code does _not_ bring back the content.

Trying to demo how widgets worked in the Customizer drawer before the block editor, I switched t

[2021-04-26 05:13] maddisondesigns commented on #18229
@paaljoachim I'm definitely using WP 5.7.1, and it's been  5.7.1 since 5.7.1 was released.

<img width="610" alt="screenshot_611" src="https://user-images.githubusercontent.com/2078245/116030286-92a0fe00-a69e-11eb-935d-d76694bce68f.png">

This is a brand new page that I've just created and inserted some Cover Image Blocks on
<img width="1920" alt="screenshot_616" src="https://user-images.githubuse

[2021-04-26 06:12] noisysocks commented on #26236
When I test this I'm not able to drag and drop anything into a new widget area.

[2021-04-26 06:20] vdwijngaert commented on #31165
Problem seems to be that blink based browsers (like Chrome and Edge) add the width of the scrollbar to the container width, while Firefox does not. So in this case, as soon as the sidebar starts overflowing content, a scrollbar appears. In Chrome, the sidebar's width will grow from 281px to 296px in my case, so the sidebar width of 15px is added. This prevents the sidebar from overflowing on the x

[2021-04-26 07:05] jasmussen commented on #31124
Yes, this is a good one. It's adjacent to switching themes as well, and I encountered it in #30831 where the navigation block could not rely only on `has-background` to be sure that a background color was present, because `has-red-background` might have been present in one theme but not the next.

I think @pbking, @MaggieCabrera and @scruffian might have encountered related challenges and have ide

[2021-04-26 07:05] draganescu opened #31177 "Customizer widget editor does not publish changes"
## Description
When having a legacy widget added in the standalone editor saving works. However, when moving to the Customizer and editing the legacy widget, publishing changes fails with the error `Unable to save due to 1 invalid setting.`

## Step-by-step reproduction instructions
0. Have Gutenberg `trunk` and TT1 theme active
1. Install and activate the Site Origin widgets bundle.
2. Go to Appe

[2021-04-26 07:25] bobbingwide commented on #21245
@mtias Perhaps you could update the initial checkbox item "keyboard shortcuts" in the initial comment to reflect the fact that there  have been at least two separate issues raised and closed without a fix or any sign of a plan to fix them.
I would suggest either attaching #30294, since it's still open,  or re-open the closed issues until they have been fixed.

[2021-04-26 08:04] youknowriad commented on #31090
Yes, that's my understanding, I see no mention of block themes in https://make.wordpress.org/core/2021/04/20/full-site-editing-go-no-go-next-steps/ (I  mean anything aside theme.json)

[2021-04-26 08:08] draganescu opened #31179 "3rd party blocks appear unsupported in the Customizer widgets editor"
## Description
Adding a 3rd party block to a widget area using the standalone widgets editor works, but when moving to the Customizer the block is replaced with the block unavailable message.

## Step-by-step reproduction instructions
0. Have Gutenberg `trunk`
1. Have Jetpack installed and configured to offer widgets and the extra content features
2. Go to Appearance > Widgets
3. Add a Jetpack con

[2021-04-26 08:22] draganescu opened #31181 "Support extending all widget editing forms (like Jetpack visibility settings)"
## Description
This potentially affects  other widgets that use the action controls of their form for supplementary  features. We strip that when getting the widget form and hence lose them. In this case, Jetpack has an option called "Enable widget visibility controls to display widgets only on particular posts or pages", available in Jetpack > Settings > Writing > Widgets.

## Step-by-step reprod

[2021-04-26 08:28] javierarce opened #31182 "Fix snackbar component overflow on mobile on the Navigation editor screen"
The snackbar overflows in mobile or narrow (i.e. < 600px) viewports.

## Step-by-step reproduction instructions

1. Trigger a snackbar notification (for example, save a menu)

## Screenshots or screen recording (optional)

![Screenshot 2021-04-26 at 10 23 43](https://user-images.githubusercontent.com/4933/116052361-d46b7d80-a679-11eb-9829-b9cfc827db34.png)

## Expected behaviour

The snackbar shou

[2021-04-26 08:34] draganescu opened #31183 "Clicking on the pencil icon in the Customizer does not work anymore"
## Description
Clicking on the pencil icon in the Customizer does not work anymore. Normally clicking on the pencil icon in the preview should open in the sidebar the widget area that contains the corresponding widget.

## Step-by-step reproduction instructions
0. Have Gutenberg `trunk` and a theme with sidebars
1. Go to Appearance > Widgets
2. Add a block to any widget area
3. Go to Appearance >

[2021-04-26 08:39] javierarce commented on #29100
Another responsive-related issue here: [Navigation screen: snackbar component overflows in mobile #31182](https://github.com/WordPress/gutenberg/issues/31182)

[2021-04-26 08:41] MaggieCabrera commented on #31124
What happens if a pattern registers a preset that conflicts with one from the theme? Like a pattern would define red/primary differently than the theme would?

I like the idea of always having a default presets for things like font size and family that will always exist regardless of the theme

[2021-04-26 08:43] draganescu commented on #22765
In current Gutenberg `trunk` it looks like the block editor embedded in the Customizer is more compatible than the standalone one. For instance:

1. On `trunk` install the Site Origin widgets bundle and setup a theme with sidebars
2. Go to Appearance > Widgets
3. Add a legacy widget from site origin - e.g. the Button widget to any sidebar
4. Notice a lot of the controls in the Site Orign Button Wi