[2021-08-30 00:13] #11373 closed

[2021-08-30 00:17] ramonjd commented on #34257
PR for that here: https://github.com/WordPress/gutenberg/pull/34369

[2021-08-30 00:21] glendaviesnz commented on #16886
With the merging of the [gallery block refactor](https://github.com/WordPress/gutenberg/pull/25940) the gallery images are now Image blocks, which don't currently have an aria label so alt tag should be read by default.

[2021-08-30 00:21] #16886 closed

[2021-08-30 00:30] glendaviesnz commented on #20778
@paaljoachim I think these sizing issues seem to be resolved in the gallery format, but if you have time to double check that would be great thanks.

[2021-08-30 00:39] glendaviesnz commented on #11436
@paaljoachim can this one be closed now?

[2021-08-30 00:54] andrewserong commented on #34096
That's a compelling idea @ramonjd — it feels like the Columns block has been built expecting that the percentage unit will be available, so I quite like the idea of a block being able to define an immutable unit. I wonder what the consequences would be for theme authors? In the case of TT1-blocks, where the units value is set globally, having an individual block take care of its own _required_ uni

[2021-08-30 01:23] glendaviesnz commented on #29185
@paaljoachim I went through the above and closed some, and added some notes to others (italics)

[2021-08-30 01:34] #30711 closed, assigned to glendaviesnz

[2021-08-30 03:25] talldan commented on #11589
Table blocks should support captions since WordPress 5.4:
<img width="609" alt="Screenshot 2021-08-30 at 11 13 05 am" src="https://user-images.githubusercontent.com/677833/131279961-63852973-641a-4d86-9772-c3c3d762dcf5.png">

@michaelmcpeek The implementation does use a `figcaption`, but screenreaders should still announce this.

An implementation using the table `<caption>` element was attempted

[2021-08-30 05:02] noisysocks commented on #34335
It's just that `.raw` means different things in the two different contexts.

- `content.raw` in a post or a page refers to HTML with block markup as opposed to `content.rendered` which is the HTML without block markup. This is the HTML we want to feed into the block editor. That's why `getRawEntityRecord` selects `raw`.
- `instance.raw` in a widget refers to the un-serialized widget attributes as

[2021-08-30 05:54] noisysocks commented on #25982
Adding Needs Testing to this as I wonder if us calling `retrieve_widgets()` at the start of the endpoint has fixed this.

[2021-08-30 05:57] noisysocks commented on #32629
I wonder if we should disable the Legacy Widgets "preview mode" in the Customizer. It's not very useful because there is already a preview on the right hand side, and it's confusing that the two previews look different. What do you think, @critterverse?

[2021-08-30 05:58] noisysocks commented on #32024
Closing this as I see that https://core.trac.wordpress.org/ticket/53542 is now closed.

[2021-08-30 05:58] #32024 closed, assigned to nobody

[2021-08-30 06:08] tellthemachines commented on #18866
Hm, I think this was mistakenly closed; it's not possible to create navigation items that render on the front end without links yet.

[2021-08-30 06:51] aaronrobertshaw commented on #28356
There are draft PRs in place for [height](https://github.com/WordPress/gutenberg/pull/32499) and [width](https://github.com/WordPress/gutenberg/pull/32502) block support.

They have also been updated to remove the `custom` prefix from their theme.json properties as per [feedback](https://github.com/WordPress/gutenberg/pull/31366#issuecomment-907075652) and the [theme.json v2 tracking issue](https:

[2021-08-30 07:23] kimmenbert opened #34376 "Relative image urls in @wordpress/scripts 18.0.0"
### Description

Hey, In @wordpress/scripts 18.0.0 I understand that there is breaking changes.

I’m using this for compiling both js and scss. And I now get `TypeError: url.replace is not a function` when trying to compile a scss file that contains relative paths to image files, like `background-image: url('../images/image.svg');`

Thought it was because of me having a bit of a custom webpack con

[2021-08-30 07:43] gziolo opened #34377 "Build: `npm install` fails on CI because of `react-native-gesture-handler`"
### Description

Any change to the lock file breaks most of the CI jobs, example:

https://github.com/WordPress/gutenberg/pull/34350/checks?check_run_id=3442150008

Related PR:  #34350, #34373.

<img width="1253" alt="Screen Shot 2021-08-30 at 09 43 40" src="https://user-images.githubusercontent.com/699132/131304157-7cd55397-2b27-46e9-a2e8-245fd644c41b.png">

Full error:

[code]

### Step-by-step

[2021-08-30 07:48] jasmussen commented on #34365
Yep, placeholders are difficult, in part due to the space they take up. I do think that we need both a holistic rethink of the visual appearance of appenders (not just looking at a single block but looking across). But also that we need to use these more sparingly — a separate issue.

I did explore some designs on this topic a while back. I'm not completely in love with them so paused it, but shar

[2021-08-30 07:53] tellthemachines commented on #18395
That was actually the whole purpose of that PR; it started out as an alternative to #33351, in order to fix  #18866 😅  What styling should be in place to make this clearer?

Page List raises an interesting question, because it _always_ outputs submenus with parents that are links. That means in my Submenus PR, they are always rendered as split buttons. What would happen to them in a hypothetical c

[2021-08-30 08:18] youknowriad commented on #34335
Feels like this logic should move to the "entities" config array somehow (not sure how exactly)

[2021-08-30 09:06] mtias commented on #18395
Yes, regardless of the combinations we end up supporting, contextual text would be needed to explain some of the details.

I don't think this is wrong; it's not uncommon to create menus where the page that supports the children is mostly used as a breadcrumb and there's not much value (if any) in accessing it directly. For those cases, not having access to the parent page link on touch interfaces

[2021-08-30 09:17] #28600 closed

[2021-08-30 09:18] jasmussen commented on #34275
Good ticket. I have a "fix" in https://github.com/WordPress/gutenberg/pull/34379 that we might not want to merge. Another option is to simply remove text decoration support from the navigation block entirely!

[2021-08-30 09:18] mtias commented on #28600
Yes, we can close this now.

[2021-08-30 09:21] mtias commented on #20778
This should be solved indeed. Can reopen if there are any lingering problems.

[2021-08-30 09:21] #11436 closed

[2021-08-30 09:23] mtias commented on #29185
Thanks @glendaviesnz. Actually, we can close this whole issue because the main planned work is done and what remains can be handled in their own issues.

[2021-08-30 09:23] #29185 closed

[2021-08-30 09:24] mtias commented on #29503
Crossed:

### <del>Improvements to Gallery Block #29185</del>

[2021-08-30 09:24] Azragh opened #34380 "Add parameter to add_editor_style() to determine for which editor the styles are loaded"
## What problem does this address?

Currently I use the function `add_editor_style()` exclusively to load the styles for tinymce. Styles for Gutenberg are added via `enqueue_block_editor_assets()` so that I can use both editors and make individual adjustments. Due to the different structure of the content, this is unavoidable if you want to support both. If I add `add_theme_support('editor-styles'

[2021-08-30 09:37] andersnoren opened #34381 "Post Navigation Link: Add typography settings"
## What problem does this address?
Currently, the "Query Navigation Previous" and "Query Navigation Next" blocks (on the Index template) support the "Typography" settings dropdown in the right sidebar when you edit them, but the "Previous post" and "Next post" blocks (on the Single Post template) don't. Since these blocks are so similar, I think users might expect that they support the same typogr

[2021-08-30 09:43] mtias commented on #34367
Thanks for the feedback. See #17017 #10423 and #5614 that cover improvements to the code editor.

[2021-08-30 09:43] #34367 closed, assigned to nobody

[2021-08-30 09:45] mtias commented on #34381
Broadly speaking all text-based blocks should have consistent and familiar tools, diverging only when explicitly stated.

[2021-08-30 10:01] pwkip commented on #9719
Thanks for testing Paal. However, you would need to create your own custom group that only allows paragraph blocks before you can reproduce this. Creating your own Gutenberg blocks is still not something trivial as you will need to register the block trough PHP and include  some additional JS and CSS files. Explaining how to reproduce the error would mean writing a complete tutorial first. Instead

[2021-08-30 10:58] #30071 closed, assigned to ribaricplusplus

[2021-08-30 11:04] ramonjd commented on #34257
Thanks for all the work on this issue @aaronrobertshaw, and also for the communication and support along the way.

I've been thinking about how to visually express the latter, given that users would be able to toggle non-default controls, while also satisfying the former.

I know there's been a lot of thought and discussion invested already, and I don't want to derail the vision, so I'm happy for

[2021-08-30 11:20] WillSquire commented on #1761
If you're using Root's Bedrock, you'll want to strip away the `/wp` too in the `rest_url` filter. See: https://wordpress.stackexchange.com/questions/348992/headless-wordpress-issue-with-plugin-path

[2021-08-30 11:36] porada commented on #34297
Thanks for handling this, @renatho!

[2021-08-30 11:59] #34298 closed, assigned to spacedmonkey

[2021-08-30 11:59] senadir commented on #34377
This seems to happen for new installs as well, @nielslange was trying to setup the repo locally and couldn’t install it.

[2021-08-30 12:04] paaljoachim commented on #30071
Hey @peterwilsoncc

I assume this is the 5.8.x project board...:)
WP 5.8.1 RC is due September 1st.

[2021-08-30 12:06] EdithAllison commented on #16006
Following as I'm having the same problem. We are using ACF to add fields to page templates and Gutenberg editor for the main content part. Preview is broken due to missing ACF fields. Disabling Gutenberg is not an option as we also need to use custom blocks and patterns. I don't have a solution but a fix would greatly improve our usage of WP.

[2021-08-30 12:06] richtabor commented on #29568
I wrote some detailed thoughts on standardizing color entries in theme.json here, examples and all: https://richtabor.com/standardizing-theme-json-colors/

[2021-08-30 12:30] SiobhyB commented on #30410
## Developer Notes

The code for the dialogs currently live on the native side, in the following places:

**Android**

* `showFeaturedImageConfirmationDialog` call: https://github.com/wordpress-mobile/WordPress-Android/blob/develop/libs/editor/WordPressEditor/src/main/java/org/wordpress/android/editor/gutenberg/GutenbergEditorFragment.java#L371
* Strings: https://github.com/wordpress-mobile/WordPr

[2021-08-30 12:54] mtias commented on #33934
This would play well with the ability to register your own user styles once we get there.

[2021-08-30 13:57] nielslange commented on #34377
I went ahead and set up a brand new Mac Mini, installed `brew` and `nvm`, cloned the Gutenberg repo locally and run `npm i`. This lead to the following output:

[code]

[2021-08-30 14:32] mtias commented on #34257
To reiterate a bit the considerations for these panels:

- **First and foremost**, reduce the weight of block tools by showing only the most important tools by default (i.e. a paragraph block might have only font-size exposed by default).
- Respect blocks needs to accommodate different default tools and use it to better communicate what a block is about.
- Allow users to dive into and tweak furthe

[2021-08-30 15:12] adamziel commented on #34335
@youknowriad I proposed a solution in https://github.com/WordPress/gutenberg/pull/34388

[2021-08-30 15:27] nerrad commented on #34377
With a fresh clone of Gutenberg, I'm getting the same error using `npm install`. Using Node 14 and NPM 6.

[2021-08-30 15:28] jorgefilipecosta commented on #6941
Hi @paaljoachim,

The issue refers "Allow Saving Custom Colors to the Color Palette", and now users can save a custom color palette. It is not possible to have differences on that background and text color palettes, I guess for that we can have a different issue.

[2021-08-30 15:28] jorgefilipecosta commented on #6941
Hi @paaljoachim,

The issue refers "Allow Saving Custom Colors to the Color Palette", and now users can save a custom color palette. It is not possible to have differences on that background and text color palettes, I guess for that we can have a different issue.

[2021-08-30 15:32] TimothyBJacobs commented on #33815
A menu's location is managed via the menus endpoint. Is there a reason we can't use that endpoint here?

https://github.com/WordPress/gutenberg/blob/9b5a40106bd1814a03bbdb6544217402556b0327/lib/class-wp-rest-menus-controller.php#L566

[2021-08-30 16:43] ellatrix commented on #30660
Duplicate of #30155?

[2021-08-30 16:51] annezazu commented on #30660
I think it is since yours is a more umbrella issue for the behavior. Going to close this out to consolidate efforts :) cc @alexstine who asked about this recently. Please follow along on 30155!

[2021-08-30 16:51] #30660 closed, assigned to nobody

[2021-08-30 17:03] kjellr opened #34390 "Global Styles: Add the ability to set a background color for a specific post/page template"
Global Styles currently lets you set the background color for specific blocks, or for the entire site globally. In addition to those controls, we should allow users to choose colors for individual post and page templates.

For example, someone might want their homepage to have a different background color than their blog posts.

_Related:_ https://github.com/WordPress/gutenberg/issues/27233

[2021-08-30 17:12] mtias commented on #34390
Let's consolidate in #27233 as it captures the essence of the proposal. A theme.json object corresponding to a specific post or page would just be the implicit `page-{id}` or `page-{slug}` template. Would you mind adding the comment there instead?

[2021-08-30 17:12] #34390 closed, assigned to nobody

[2021-08-30 17:14] mkaz commented on #32307
@paaljoachim What's the current issue? From the update on Aug 26 it sounds like the SEO framework plugin has been updated which I assume mean it all works. Also from @sybrew comment it sounds like this issue outdated.

[2021-08-30 17:15] kjellr commented on #27233
Another use case here is the ability to set a specific background color (or frankly, entire palette) for a specific post/page template. For example, users might want to use a different background color for their homepage only, or they might want to use a specific accent color for certain post types.

[2021-08-30 17:34] mtias commented on #27233
Definitely, what the original proposal encapsulates for templates extends not just to the root one `page` but also to `page-{id}` or `page-{slug}`, with the cool addition that there doesn't need to be a concrete template defined as such, the theme.json object can still be attached.

[2021-08-30 17:36] supernovia opened #34392 "Heading Block: Add option to adjust spacing below"
## What problem does this address?
With blocks as widgets, users have to add a heading block if they want to keep their widget titles. But depending on the theme, that may result in a heading that has a big space underneath it that can currently only be solved with CSS:
<img width="1457" alt="Screen Shot 2021-08-30 at 11 24 31 AM" src="https://user-images.githubusercontent.com/3476361/131380708-08

[2021-08-30 17:49] jasmussen commented on #34257
Thanks for the outline above, Matías. Differentiating between default tools where unchecking doesn't do the same double-duty as it does for non-default tools is the difficult part, but as you note, it's important here to weigh pros and cons and to optimize for the most common use case, which is less about resetting, and primarily about accessing additional design tools.

In that vein, I took a sta

[2021-08-30 18:34] tedw commented on #15160
For anyone interested, here’s one way to convert H1 to H2:

[code]

I haven't done extensive testing yet so YMMV. Works locally 😉

If you really wanted to, you could also hide the heading-level buttons in the admin with CSS by targeting the `aria-label` attribute (see https://davidwalsh.name/add-custom-css-wordpress-admin for how to add a custom admin stylesheet):

[code]

Just note that this will

[2021-08-30 19:55] critterverse commented on #33481
Based on discussion taking place in https://github.com/WordPress/gutenberg/pull/32464, I wanted to revisit some of the different options available that would help with this issue's goal of providing information about the Reusable block before the point of saving:

- Linking to external documentation from the block description area (see issue description)
- Linking to the Welcome Guide from the blo

[2021-08-30 19:56] paaljoachim commented on #33481
A couple of things.

I suggest we add the snackbar notification with a Learn more to when the user initially creates a Reusable block. As suggested in this comment:  https://github.com/WordPress/gutenberg/pull/32464#issuecomment-907514583
Removing it away from when saving a Reusable block.

----

The sidetrack...
Regarding Synced block: Matias opened this issue: https://github.com/WordPress/gutenb

[2021-08-30 19:59] kellychoffman commented on #34352
Cosign! Its much more self explanatory.

:shipit:

[2021-08-30 20:05] TobiasBg opened #34395 "ComboxboxControl styling interfered with by theme CSS"
### Description

I'm developing a block that shows a `ComboboxControl` via its `Edit()` function (in the block editor content area, not in the settings sidebar).

Unlike other controls, like `TextControl`, the styling is off, in particular that of the `ul` wrapper, as apparently the theme CSS (even with default themes like TwentyTwenty or TwentyTwentyone) and the block reset.css overwrites some de

[2021-08-30 20:10] skorasaurus commented on #20778
@glendaviesnz @mtias

These issues have some differing characteristics and a strict interpretation of reported issue - "The Gallery block displays full-size images, rather than choosing the appropriate scaled image." - is no longer applicable.

However, as described https://github.com/WordPress/gutenberg/issues/18504 ; the underlying issue that is shared by these issues in the gallery and image bl

[2021-08-30 20:21] paaljoachim commented on #33481
Hey @critterverse Channing.

I would suggest in the description to only link to the Welcome Guide (getting people used to having it available).
Then in the Welcome Guide for additional information there can be a link to external documentation.

Having a Learn more in the snack bar for creating a Reusable block and perhaps also for saving a Reusable block gives people the additional chance to click

[2021-08-30 20:23] kjellr opened #34397 "Default line height is very tight"
### Description

When a theme does not provide editor styles, the default line height appears very tight:

<img width="1277" alt="Screen Shot 2021-08-30 at 4 05 44 PM" src="https://user-images.githubusercontent.com/1202812/131399380-bcd8830f-461c-4359-87a0-44609628005c.png">

This stems from the `reset` value here:

<img width="249" alt="Screen Shot 2021-08-30 at 4 15 08 PM" src="https://user-imag

[2021-08-30 20:25] kjellr commented on #34397
cc @jasmussen when you're around — I feel like you have more knowledge of these resets than I do.

[2021-08-30 20:46] paaljoachim opened #34398 "Moving the Undo/Redo buttons seen in the customizer widget area"
## What problem does this address?

Undo/redo buttons are just below the back button in the customizer. It makes it too easy to click the wrong button. Instead of clicking the back button I have clicked the undo button a few times because of the closeness of the two buttons.

![Screen Shot 2021-08-30 at 22 42 10](https://user-images.githubusercontent.com/5323259/131403124-b2c52b09-f17d-4caa-9f27-5

[2021-08-30 20:52] paaljoachim commented on #30777
I am adding some additional information.
Here is an example from the customizer. Where I used a spacer in the top.
(One can not see the spacer in use, but might believe it is just an empty space.)

![Screen Shot 2021-08-30 at 22 50 28](https://user-images.githubusercontent.com/5323259/131403734-3a63e3be-b287-4904-bf07-af2dd98692c6.jpg)

[2021-08-30 21:17] spacedmonkey commented on #25093
Okay, if existing menu screens do not do this level of validation, then I think we do not bother with this endpoint. I think we should work on converting the current screen to using existing apis with batching. From there we can do some testing, to see if this endpoint is even needed.

I would recommend doing validation like this in client.  Maybe before making request, saving a version of menu da

[2021-08-30 21:25] TimothyBJacobs commented on #25093
That works for me. Do you want to open a PR to remove that validation?

[2021-08-30 21:26] spacedmonkey commented on #33815
The menus endpoint should be used here. In my testing a request like this worked.

[code]

Menu locations are a static endpoint, like taxonomies or post types. Menu locations assignment happens at the menu level.

[2021-08-30 21:32] spacedmonkey commented on #25095
The lines are copied from [here](https://github.com/WordPress/wordpress-develop/blob/2382765afa36e10bf3c74420024ad4e85763a47c/src/wp-includes/customize/class-wp-customize-nav-menu-item-setting.php#L715-L722).

[2021-08-30 21:37] spacedmonkey commented on #25093
Let's create a ticket first, then I will work on the PR.

[2021-08-30 21:39] spacedmonkey commented on #24907
Re-sharing here for visibility.

1. The menu items endpoint, already supports batching and has done for a while.
2. Current thinking is we should just use batching functionally and not bother with the reordering endpoint. See https://github.com/WordPress/gutenberg/issues/25093#issuecomment-908704361

[2021-08-30 21:42] walbo commented on #34252
Related trac ticket: https://core.trac.wordpress.org/ticket/53609
Related PR: #33516

[2021-08-30 21:43] critterverse commented on #34398
One more option that would align the Customizer a little more closely with the Gutenberg top bar as it appears elsewhere:

![customizer](https://user-images.githubusercontent.com/77359364/131407609-07f449f6-03e1-4b80-b106-53481bf4fdb0.jpg)

A couple of cons to this direction are that the inserter button would no longer be right next to the drawer it opens, and this would mean switching things up i

[2021-08-30 21:48] spacedmonkey commented on #24642
Some preloading was added in https://github.com/WordPress/gutenberg/pull/34364

However, there are still a number of API requests that are not preloaded.

<img width="450" alt="Screenshot 2021-08-30 at 22 43 15" src="https://user-images.githubusercontent.com/237508/131409688-9f52f710-217f-4c41-b971-55f3239fed5b.png">

The one I could not work out in my testing was `'/wp/v2/types/?context=edit', `.

[2021-08-30 22:07] critterverse commented on #32629
Could we disable preview mode only when live previewing a different theme? I'm not opposed to making that change universally, just curious what the other possibilities are.

[2021-08-30 22:16] spacedmonkey commented on #31813
It is worth nothing, that there are menu and menu items, which are stored differently here. Do you mean saving multiple menu items at the same time. It is worth noting that menu items [already](https://github.com/WordPress/gutenberg/blob/trunk/lib/class-wp-rest-menu-items-controller.php#L47) supports batched rest api requests. Menus do not currently support saving multiple menus in batch requests,

[2021-08-30 22:27] spacedmonkey commented on #31276
Maybe the best solution to this problem, is to add the block inserter to navigation screen? This would keep the navigation screen inline other block editors.

#### Post editor
<img width="411" alt="Screenshot 2021-08-30 at 23 24 31" src="https://user-images.githubusercontent.com/237508/131413861-b0311785-de6b-4678-a9e0-7c91e732e569.png">

#### Widget editor
<img width="418" alt="Screenshot 2021-08

[2021-08-30 22:40] spacedmonkey opened #34399 "Improve handling of html markup in Navigation Label"
## What problem does this address?
The new navigation editor allows to text in navigation label to add markup, like strong and italic tags.

<img width="509" alt="Screenshot 2021-08-30 at 23 33 12" src="https://user-images.githubusercontent.com/237508/131414435-63fc8d06-d2af-449f-8c05-4c1dcb8cd542.png">

However, when switching back to current menu screens, this markup is not rendered correctly.

[2021-08-30 22:53] gwwar commented on #34377
🤔 is this still reproducible? A fresh install seemed to finish for me. For anyone that can repro, we could maybe try setting "types" or "typeRoots" to an allow list of types to use https://www.typescriptlang.org/tsconfig#types. Not sure why this defaults to pulling in 3rd party deps as visible but 🤷‍♀️

[code]

[2021-08-30 23:11] lettyskitchen opened #34400 "Code does not stick after updating or posting<title>"
### Description

I am unable to insert my Amazon ad custom code into a block.
I’ve tried inserting using the html block but In Preview it gives an error--"This block contains unexpected or invalid content." Also, when I edit an older "classic" post and convert to blocks, the ad code icons show but when I update, there is just a gap in between Paragraph and recipe blocks in the live post.

<img wid

[2021-08-30 23:33] azaozz commented on #34023
Perhaps something short like:

`Note that empty space between block delimiters is treated as non-block HTML content and will produce "freeform" blocks.`

to /packages/block-serialization-default-parser/README.md.

Then a bit more details, perhaps something along these lines:

`Inserting line breaks between block delimiters when saving (to prettify the output HTML) will produce empty block nodes wh

[2021-08-31 01:41] guarani commented on #34377
I just tried a fresh clone and `npm i` completed successfully on the laest `trunk` commit at time of writing, b72adf8aaa24afd1b1777c641806ad738c523486.

I'm not sure if the issue was fixed, or I don't have the correct steps to reproduce.

[2021-08-31 03:03] talldan commented on #33815
I think the issue is that the UI allows for assigning multiple menus to locations at once.

So I guess in this case it'd be best to batch multiple requests to the menus endpoint @TimothyBJacobs @spacedmonkey?

The modal should probably also have its own save button:
<img width="385" alt="Screenshot 2021-08-31 at 11 00 29 am" src="https://user-images.githubusercontent.com/677833/131434701-3a9cf29d-

[2021-08-31 03:39] #33483 closed, assigned to glendaviesnz

[2021-08-31 05:12] noisysocks commented on #32441
Related: https://github.com/WordPress/gutenberg/issues/28914, https://github.com/WordPress/gutenberg/issues/23262

This was a problem in the classic editor, too.

I suppose the image block could detect when loading the image has a 404 error and use the stored image ID to change the stored URL to a new URL.

It wouldn’t totally be automatic, the user would have to press _Update_, but that might be

[2021-08-31 05:14] glendaviesnz opened #34403 "Gallery block: explore alternative options for caption styling"
With the [upcoming addition of the ability to add borders to individual image blocks](https://github.com/WordPress/gutenberg/pull/31366), the default layout of the Gallery block captions needs to be looked at as it breaks with the addition of an image border:

<img width="217" alt="Screen Shot 2021-08-31 at 5 08 30 PM" src="https://user-images.githubusercontent.com/3629020/131445862-e2ee81c6-6a63-

[2021-08-31 05:21] noisysocks commented on #32629
We most certainly could!

[2021-08-31 05:26] fwazeter commented on #32649
Tested this issue in the following conditions:

Environment: Windows
Theme: Twenty Twenty-One
WordPress 5.8 Core Only (No Gutenberg Plugin)
WordPress 5.8 Core + Gutenberg Plugin Enabled

Theme: TT1 Blocks
WordPress 5.8 Core + Gutenberg Plugin Enabled.

Copy/pasting:

[code]

Displayed as intended with the <code> block on both the front end and within the block editor.

**Result**: Could not duplic

[2021-08-31 05:40] fwazeter commented on #33234
Three of us tried to replicate this during triage, [link to slack conversation here](https://wordpress.slack.com/archives/C02QB2JS7/p1630387400103600). Unfortunately, none of us could replicate.

It does however, appear that there was a fix in WordPress 5.8 to address this kind of issue, here's a link to the [Trac #53072](https://core.trac.wordpress.org/ticket/53072).

It would be great if we coul

[2021-08-31 05:49] fwazeter commented on #32603
@Mamaduka , @getsource and I tested [this in this slack triage](https://wordpress.slack.com/archives/C02QB2JS7/p1630388517113100). None of us were able to replicate the behavior.

Since the block is just returning HTML by the embed provider, likely this was a bug on Slideshare's end that was fixed since the time of posting.

Closing the issue.

[2021-08-31 05:49] #32603 closed, assigned to nobody

[2021-08-31 05:54] t-hamano opened #34404 "Group block: child group block has multiple inner container div"
### Description

The front-end side will output a container ( `.wp-block-group__inner-container` ) if the HTML element of the group block is the default `div` .
When group blocks are nested and the HTML element of the parent block is set to something other than `div`, the descendant group blocks will output multiple containers.

### Step-by-step reproduction instructions

1. Inserts a nested group

[2021-08-31 06:06] getsource commented on #31990
Hi @fklein-lu !

This issue was tested in [a triage session today](https://wordpress.slack.com/archives/C02QB2JS7/p1630388517113100).

A few of us tested with varying themes, and as @oandregal mentioned previously, were unable to reproduce it.

I suspect that this might have been fixed since the original posting.
As such, I'm going to close the issue for now, but if you're still having the issue,

[2021-08-31 06:06] #31990 closed, assigned to nobody

[2021-08-31 06:34] jasmussen commented on #34397
Hey, thanks for the ping. There's a bit of context in [this comment](https://github.com/WordPress/gutenberg/pull/34001#issuecomment-896646774):

The comment seems to suggest that the system fonts are only output for classic themes. Which means we might be able to output a line-height there as well. But this would likely require a core patch to output that same line-height in context of the rule th

[2021-08-31 07:22] TS6ix2GaH3q679h5 opened #34405 "Preferences for editor not being saved across sessions"
I prefer to use the default editor, so untick the "**Use theme styles**" options each time when composing a post. I also untick the **pre-publish checklist**.

However this settings change only is maintained for the session. Quitting the browser and restarting results in all toggles being reset to their original defaults.

<img width="731" alt="image" src="https://user-images.githubusercontent.com

[2021-08-31 07:52] ciampo commented on #34377
Experiencing this same CI fails in #34330  (see example [CI check](https://github.com/WordPress/gutenberg/runs/3470321493))

[2021-08-31 08:14] #30049 closed, assigned to kevin940726, anton-vlasenko

[2021-08-31 08:43] ajonestoast98 commented on #8643
Hi Guys,

I have written a plugin for this exact issue and it can be downloaded from the WordPress plugin repository. The sidebar should just be resizable (by dragging the left corner) and it will save for the next time that you load the page.

See here: https://wordpress.org/plugins/resizable-editor-sidebar/

[2021-08-31 09:00] talldan commented on #34405
@TS6ix2GaH3q679h5 The data is stored in browser local storage currently, so will only be persisted in that particular browser and computer. Any settings won't be shared across browsers or computers, though there's some work in progress to improve this and save the settings to the database.

I just gave it a test and didn't have any problem with the preferences being restored after quitting and reo

[2021-08-31 09:32] MatzeKitt opened #34409 "Drag’n’Drop inside a reusable block breaks the editor if the dragged content contains another reusable block"
### Description

If you drag multiple blocks where at least one of these blocks is a reusable block into another reusable block, the editor breaks with the following error message:

[code]

### Step-by-step reproduction instructions

1. Create a paragraph and transform it to a reusable block
2. Create a new paragraph
3. Create two new paragraphs and transform both to a reusable block
4. Drag the f

[2021-08-31 09:32] oandregal commented on #34328
I have a PR for this at https://github.com/WordPress/gutenberg/pull/34334 in case anyone is able to provide a review.

[2021-08-31 09:59] nerrad commented on #34377
Still happening for me on latest trunk with `npm install`:

[code]

I'm executing on Mac OSX native terminal. Fresh clone of GB trunk.

[`typeRoots` already specifies a list of types](https://github.com/WordPress/gutenberg/blob/521dbbb35e51914e0bea3fcd705f3345a8b9341e/tsconfig.base.json#L33) but my node_modules never gets past these installations:

<img width="341" alt="CleanShot 2021-08-31 at 05

[2021-08-31 10:12] nerrad commented on #34377
Since the error appears to be happening in a tmp folder, eg:

[code]

I tried deleting this tmp folder before attempting `npm install` again. Still no dice. I _suspect_ for folks this is installing fine with it's because you may have something in your npm cache that bypasses the error. I'm guessing this is only happening for people that haven't updated GB trunk in a while (like myself) or new folk

[2021-08-31 10:34] Mamaduka opened #34410 "The `mediaUploadMiddleware` is applied to every media endpoint request"
Currently the `mediaUploadMiddleware` is applied to every request for `/wp/v2/media` endpoint.

The middleware sets `options.parse` to `false`, which causes `fetchAllMiddleware` to bail early. The latter prevents doing `per_page=-1` queries for media items.

I discovered this while debugging a different PR https://github.com/WordPress/gutenberg/pull/34389#issuecomment-908836129.

We should update

[2021-08-31 10:53] dwatts3624 commented on #18519
@siddharth-thevaril I know it's been a *very* long time since your comment but wanted to document this since I found this thread first and it took me a while to find the solution.

There's actually a Webpack plugin that covers this!  It also handles the dynamic PHP file generation for version & dependencies:
https://developer.wordpress.org/block-editor/reference-guides/packages/packages-dependency

[2021-08-31 11:05] benoitchantre opened #34413 "Custom property for admin bar height"
## What problem does this address?

When the admin bar is displayed, elements using a `sticky` or `fixed` position in the header need some adjustments to accomodate from the admin bar height properly.

## What is your proposed solution?

I have found that a custom property describing the admin bar height is a nice solution.

Here's what I use

[code]

Then, when you have an element that need an ad

[2021-08-31 11:08] oandregal opened #34414 "Allow disabling `text` and `background` color via `theme.json`"
The new UI for the global styles sidebar is going to expose text and background as elements the user can modify. Themes should be able to enable/disable them as they do with the link color. Both at the global and per-block levels.

![image (1)](https://user-images.githubusercontent.com/583546/131493291-9bf0d634-d26c-4067-b14a-e00a514be266.png)

We don't need a specific key for gradients so far. Th

[2021-08-31 11:54] mtias commented on #18395
A theme would be able to specify through theme.json defaults and maybe settings it might want to remove. The latter is a bit more tricky because while useful for agencies, etc, we also want to avoid things working drastically different for users. Often being limited to the choices a theme made regarding how navigation works can be a deterrent from picking a theme even if everything else is spot on

[2021-08-31 11:56] kjellr commented on #34397
Hmm ok. Core _does_ provide a default line height, but Gutenberg's `reset` styles override it. 😕 Presumably we'd need to have core provide a more specific rule?

[2021-08-31 11:57] getsource commented on #20941
I've been thinking about this on and off since the previous comment.

From what I can tell, `wide` was picked by design here.

The primary issue seems to be that it's unclear to users that alignment can be removed/cleared, which I don't think would be solved by changing/removing the default on this block.

If I understand properly, any block that has a default other than "no alignment" would have

[2021-08-31 12:27] andrewstaffell commented on #33456
Thanks @carolinan for the reply and sorry for the slow acknowledgement, I got buried in another project and it took me a while before I could test this again. The problem for me seems to be that the `.wp-block-group` coming from `theme.json` doesn't get auto-wrapped in `.editor-styles-wrapper` as in your example, and therefore it gets overridden by the default block style. Here's a screenshot of t

[2021-08-31 12:29] paaljoachim commented on #32307
Ok. I am going to close this  issue. Do please reopen if I  am mistaken.

[2021-08-31 12:29] #32307 closed, assigned to nobody

[2021-08-31 12:35] WunderBart commented on #34377
I was able to repro locally after nuking the npm cache. These are the steps to repro that worked for me, @guarani:

[code]

[2021-08-31 12:47] jasmussen commented on #18395
Per the conversation above, I've taken a stab at some refreshed mockups. Parsing through the suggested matrix left me with a structure where the segmented click/hover control combined with the "show submenu indicators" toggle offered 3 different interaction models.

**Option 1: Hover & don't show submenu indicators:**

<img width="1440" alt="Hover   no indicators" src="https://user-images.githubus

[2021-08-31 12:57] jasmussen commented on #20941
I think I may have been the source of those original mockups! Yes, I do think that there could be a space for adding an explicit "no alignment" option which is shown as toggled by default in cases like these. The option was explored as being added back in context of making it clearer that wide and fullwide alignments need theme support, and perhaps even in context of CSS-grid-based positions as su

[2021-08-31 13:02] jaapwiering opened #34419 "More-links lack consistency in input (backend) and output (frontend)"
To insert a more-link in the block editor:
1. type `/more` in an article
2. a dashed line with capitalized **"READ MORE"** appears

In the frontend the text **"(more...)"** is printed by the function `the_content();` (without any arguments).

In the frontend the text **"some text"** is printed by the function `the_content(‘some text’);`.

## The problem
The read more-text prints inconsistently in

[2021-08-31 13:11] scinos commented on #34377
Can repro as well with latest trunk (35e16bbad1) and `rm -fr **/node_modules && npm install`

[2021-08-31 13:20] draganescu commented on #32629
I have heard (but unfortunately did not bookmark) others suggesting the same as an UX improvement for the customizer.

[2021-08-31 13:37] scinos commented on #34377
Using `git bisect`, looks like this has been a problem since b4623e3a83:

File `test.sh`:
[code]

Command: `git bisect run ./test.sh`

Log:

[code]

[2021-08-31 13:43] carolinan commented on #33456
I believe you need to set top, right, bottom and left values, instead of one single value.
Example:
[code]
(it would be nice if both worked but I don't think it does)

[2021-08-31 13:57] SeanMcMillan commented on #34377
I get the same error trying to build on Windows 10. Clearing the npm cache didn't help.

[2021-08-31 14:10] nerrad commented on #34377
I bumped the priority on this. It's a significant blocker to contributing to the repository right now.

[2021-08-31 14:19] desrosj commented on #33769
With WordPress 5.8.1 RC due out in less than 24 hours and no proposed fix, I've moved this to the 5.8.2 milestone.

[2021-08-31 14:36] scinos commented on #34377
I may have a theory of what is going on:

So `react-native-gesture-handler` fails to install because it runs `prepare` script. This script does `yarn tsc`. And why does it runs `prepare`? NPM docs says (https://docs.npmjs.com/cli/v7/using-npm/scripts):

(We consume that package from `git+https://github.com/wordpress-mobile/react-native-gesture-handler.git#1.10.1-wp`, so the above point should appl

[2021-08-31 15:23] ceyhun commented on #34377
Thanks for investigating @scinos 🙇 I hope this issue will be fixed by https://github.com/WordPress/gutenberg/pull/34422.

[2021-08-31 15:25] tedw commented on #29561
I’d also love to be able to get the anchor from the block when using `parse_blocks()`, e.g. `$block['attrs']['id']`. We can currently get the class name but not the anchor. My use case is dynamically generating a table of contents with jump links.

On a related note, does anyone know why the heading level is omitted for H2s (e.g. `$block['attrs']['level']`)? Seems odd.

[2021-08-31 15:41] loyukfai commented on #30378
Hi again...

[2021-08-31 16:07] andrewstaffell commented on #33456
Those are still getting overridden for me:

<img width="451" alt="Screenshot 2021-08-31 at 18 05 55" src="https://user-images.githubusercontent.com/696154/131537592-0b60320c-e15a-4ec2-9101-81e6200d57e8.png">

Why would that declaration be getting wrapped in `.editor-styles-wrapper` in your installation but not mine?

[2021-08-31 16:13] mtias commented on #34260
This should be absorbed entirely by #34345

[2021-08-31 16:25] andrewstaffell commented on #33456
Sorry, just realised the answer to that. My dev tools screengrab is from the front-end whereas yours was from the editor. Doh!

In essence, it's fine in the editor but not on the front end. The `.has-background` declaration overrides the values set in `theme.json` and there's no way to get them back [this goes back to the original reason for posting the issue].

Any suggestions?

This might indica

[2021-08-31 16:28] t-hamano commented on #34404
I suspect that the cause is that the closing tag in the `div.wp-block-group__inner-container` box of the Group block is being output in the wrong position.

Here's another example.

## Step-by-step reproduction instructions
- Inserts a group block.
- Inserts two group blocks in parallel into the parent group block.
- Sets the HTML element of the parent group block to something other than a `div` t

[2021-08-31 16:36] draganescu commented on #33926
@mtias / @jameskoster what is the use of this handle to resize? I see in later designs in #29148 that it went away.

[2021-08-31 16:49] skorasaurus commented on #31848
Hi,
Thanks for reporting; this has been fixed by https://github.com/WordPress/gutenberg/pull/33931 ; it should appear in Gutenberg 11.5.

I'm not longer able to reproduce this when using a newest build of Gutenberg that includes the changes from 33931.

[2021-08-31 16:49] #31848 closed, assigned to nobody

[2021-08-31 16:52] skorasaurus commented on #16333
I believe this has been fixed by #33931 ; the fix should appear in Gutenberg 11.5.

I'm not longer able to reproduce this when using a newest build of Gutenberg that includes the changes from 33931; the custom fields in the preferences does not appear :)

[2021-08-31 16:52] #16333 closed

[2021-08-31 16:55] mtias commented on #33926
We want to introduce viewport resizers through template parts to then scale it up to the whole editor for responsive previewing. (Similar to the pattern directory.)

[2021-08-31 16:59] mtias commented on #34414
Palette + custom color, and gradient + custom gradient are pairs of settings that affect the _content_ of color and gradient tools. Access to disabling specific elements (text, background) would be great. We need to contemplate if we need to support custom palettes for these areas, because that might change the signature a bit. Perhaps in that case we need to lean and replicate the `styles.element

[2021-08-31 17:09] mchowning commented on #33787
Thanks for this @annezazu ! Finding the right solution here is so tricky and the more ideas the better.

I think there are two issues here: (1) obtaining consent to license new contributions, and (2) obtaining consent to relicense past contributions.

### 1. Obtaining consent to license new contributions

I don't think we need to add any automation around licensing new contributions. Under [GitHub

[2021-08-31 17:38] #34377 closed, assigned to nobody

[2021-08-31 17:39] #34244 closed, assigned to walbo

[2021-08-31 17:40] gziolo commented on #34377
Let's see if #34422 helps :)

[2021-08-31 18:19] skorasaurus commented on #34205
@CHEWX

There's another issue about this at https://github.com/WordPress/gutenberg/issues/24684#issuecomment-900083774

[2021-08-31 18:26] nerrad commented on #34377
Can confirm this fixes things for me 👏🏻

[2021-08-31 18:35] skorasaurus commented on #27840
I'm no longer able to reproduce this thanks to https://github.com/WordPress/gutenberg/pull/33981 :)

This will be added into Gutenberg 11.5. :)

[2021-08-31 18:35] #27840 closed

[2021-08-31 18:39] gziolo commented on #34377
Most of the CI jobs pass now, but there are still some issues that might be related to caching. I restarted a few jobs to check it that helps, related commits:
- 4813ac8385dbeac67ac818725ca0c86bb609ed54
- 29f73f06812e83683894b64833bf4ea425b6c804

[2021-08-31 18:47] scinos commented on #34377
While pinning the `typescript` dependency upstream helps, personally I think that's paliating the symptoms and not fixing the root cause. It is totally legit for any upstream dependency to specify version ranges.

IMO the root problem is that Gutenberg is taking the job of _building_ an upstream dependency (which introduces a delay when running npm ci/i). As long as we continue to have git urls th

[2021-08-31 19:03] johnstonphilip commented on #20966
@cr0ybot I believe it is still an issue yes.

[2021-08-31 19:05] annezazu commented on #33787
Thanks for this excellent overview of why this might not be applicable going forward. Makes sense to me and I trust your read of it. Do you think it's okay to close this out as a result or shall we keep it open in case others might want to chime in?

[2021-08-31 19:26] gziolo commented on #34377
After restarting failed jobs for 4813ac8, everything turned green 🎉

Thank you all so much for fixing the issue 🙇🏻

This strategy has also other drawbacks. There are some incompatibilities between npm 6 and 7. Ideally, we should use only original npm packages.

[2021-08-31 19:31] gziolo commented on #20581
Yes, that sounds like a good clarification to include. It looks like there are only 2 core blocks that have it integrated:
- Columns
- Query Loop

@ntsekouras, can you confirm?

[2021-08-31 20:49] dcalhoun opened #34429 "Mobile: Prompt to keep or replace Featured Image when replacing Image block media that is set as the Featured Image"
## What problem does this address?
This enhancement request builds on the work done to implement a "set as featured" button in the image block's settings in wordpress-mobile/gutenberg-mobile#1011.

After setting an Image block as the post's Featured Image, if one replaces the media for that Image block, there is a disconnect as to what occurs to the post's Featured Image. Currently, taking this ac

[2021-08-31 20:52] mchowning commented on #33787
Let's go ahead and close this out. If anyone has strong feelings here though, go ahead and leave a comment so we can reopen this.

[2021-08-31 20:52] #33787 closed, assigned to nobody

[2021-08-31 21:50] richtabor commented on #34096
I've run into this issue as well — resetting to `px` when initially set to `%`.

[2021-08-31 23:51] tellthemachines commented on #18395
Thanks @jasmussen , those look great! One question, though: shouldn't the submenu icon toggle also be available when Click is selected? It would just be a visual change, but some folks might prefer having the icon there.

I've implemented the click/hover toggle in #33775, and it's working as described above, but for now it's just a toggle like the others:
<img width="280" alt="Screen Shot 2021-09-

[2021-09-01 01:51] ramonjd commented on #33933
I tried this out using a Popover. I had to rely on a [Popover SlotFill at the outer, Post Editor level](https://github.com/WordPress/gutenberg/blob/release/11.4/packages/edit-post/src/components/layout/index.js#L281) since the sidebar hides any overflow.

![Screen Capture on 2021-09-01 at 11-08-21](https://user-images.githubusercontent.com/6458278/131595881-1005c6d0-fed4-46a3-801d-e533e10a2df3.gif

[2021-09-01 02:34] glendaviesnz commented on #7963
#34402 didn't really fix this so reopening

[2021-09-01 02:40] talldan commented on #34368
Thanks for reporting. There are some existing bug reports (https://github.com/WordPress/gutenberg/issues/8288 and https://github.com/WordPress/gutenberg/issues/17640), so I'll close this as a duplicate.

[2021-09-01 02:40] #34368 closed, assigned to nobody

[2021-09-01 03:20] tellthemachines commented on #24370
This sounds like the less intrusive way of doing it, as implementing it won't change current user preferences. It's also how I would expect such a thing to work, if we had both global and local settings 😄

[2021-09-01 03:54] talldan commented on #30674
I'm not sure using this for rendering is the right track, because it's shifting away from the block rendering paradigm (which should itself be able to support this use case).

Perhaps this could be something that's not so much navigation block specific, but instead works on the basis of the HTML markup. That would ensure third-party blocks aren't left out of the mix.

It could build a hierarchy of

[2021-09-01 04:46] jasmussen commented on #30370
There are some fresher mockups for this one here: https://github.com/WordPress/gutenberg/issues/18395#issuecomment-909204467

[2021-09-01 04:49] jasmussen commented on #18395
In the mockups, the intent I wanted to convey was that you can't toggle _off_ the icon when it's set to click.

There's a new segmented control that's used for the Post Featured Image block that's used in the mockups. Since there are a lot of small tweaks for the navigation inspector, there's a separate issue for it in #30370.

[2021-09-01 05:25] talldan commented on #29102
## Update - 2021-09-01
- A plan has been formed for migrating from the customize API to the REST API in the navigation editor. The editor has been temporarily using the customize API for saving menus while some REST API design issues were resolved (see: https://github.com/WordPress/gutenberg/issues/25093)
- The navigation editor header has been refreshed to more closely match the styles used by ot

[2021-09-01 08:37] youknowriad commented on #24370
It sounds as if `preferences` could be its own package and be a dependency of all other screens with the possibility to have both global preferences and specific preferences made accessible.

[2021-09-01 08:41] #33986 closed, assigned to ntsekouras

[2021-09-01 08:41] talldan commented on #24370
I've already mostly migrated them to `interface`. Would have been good to get some feedback on a `preferences` package earlier - https://github.com/WordPress/gutenberg/issues/31965.

[2021-09-01 08:44] youknowriad commented on #24370
`interface` is becoming kind of bloated package, it shouldn't be seen as a package to contain anything that can be shared across screens. Its original purpose was to help build the interface/UI of the editor screens. Maybe its name is confusing and encourages for a "utils" kind of package

[2021-09-01 08:48] Inwerpsel opened #34436 "Sidebar trash button gets rendered late + does not require confirmation + takes long time to redirect, can lead to accidental deletion of a published (home) page without the user knowing it happened"
### Description

This is a description of a scenario that happened to me for the home page, luckily on a test environment, while trying to navigate to the revisions to restore an earlier version. I attached a video where I re-enacted this scenario. The first 20 seconds contain the following steps, after that are the steps needed to restore the home page.

1. I navigated to the home page just to fo

[2021-09-01 09:07] dratwas commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-09-01 09:07] ciampo opened #34437 "ESLint: disallow importing Enzyme for React testing"
## Why

We should recommend using RTL instead of Enzyme for all new tests

## What

We should add a ESLint rule to help enforce that

## A/C

- [ ] Add new ESLint rule
- [ ] Disable rule in all existing files importing Enzyme

_Originally posted by @gziolo in https://github.com/WordPress/gutenberg/pull/34423#discussion_r700015058_

[2021-09-01 09:11] spacedmonkey opened #34438 "Add block inserter to navigation editor"
## What problem does this address?
Bring the navigation editor more inline with other block editor, but adding the block inserter and undo / redo buttons to the top bar.

The current state of top bars to compare.

#### Post editor
<img width="411" alt="Screenshot 2021-08-30 at 23 24 31" src="https://user-images.githubusercontent.com/237508/131413861-b0311785-de6b-4678-a9e0-7c91e732e569.png">

####

[2021-09-01 09:16] talldan commented on #31965
The latest feedback (https://github.com/WordPress/gutenberg/issues/24370#issuecomment-910067146) is to create a new 'preferences' package. I don't really have the bandwidth to handle that, so I'll hand this over to another willing contributor.

[2021-09-01 09:18] talldan commented on #24370
That's fine - the timing is bad because I asked for feedback on the migration to interface a few weeks ago and got approved PRs. The code is most of the way towards migrated to the interface package.

Refactoring all that code again to a new package is something I don't really have time to do, so I'll remove my assignment from that. Happy for another willing contributor to pick it up.

[2021-09-01 09:20] glingener commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-09-01 09:25] nielslange commented on #32533
@mkaz As you updated the sass version in https://github.com/WordPress/gutenberg/pull/33433, this issue is no longer relevant and can be closed, can't it?

[2021-09-01 09:26] youknowriad commented on #24370
I'm sorry I missed that ping :( it's becoming very hard to follow everything and I understand that everyone has their own assignments and tasks to handle.

It's just an idea for now 🤷‍♂️

[2021-09-01 09:32] spacedmonkey opened #34440 "Add support for custom post types in navigation editor"
## What problem does this address?

The current menu screen, allows for custom post types to be added to menu. This includes both custom post type posts and archives. See screenshot from current editor.

<img width="299" alt="Screenshot 2021-09-01 at 10 28 48" src="https://user-images.githubusercontent.com/237508/131648021-2603f2f8-abe2-4472-b2b1-3f807d0a16f4.png">

However these custom post types

[2021-09-01 09:36] jasmussen opened #34441 "Enhance block spacing gap config to also target the first block in a container"
#33812 added a `blockGap` property to theme.json which enabled spacing blocks inside a container using a simpler set of rules:

[code]

In effect this simplifies margins to be _between blocks_ rather than both before and after, simplifying first-child/last-child rules and margin collapsing.

However at the moment, the rule only targets n+1 blocks:

<img src="https://user-images.githubusercontent.c

[2021-09-01 09:36] jasmussen commented on #34441
CC: @youknowriad, just as a followup to https://github.com/WordPress/gutenberg/pull/33812#issuecomment-910103764.

[2021-09-01 09:39] spacedmonkey opened #34442 "Add support for custom taxonomies in navigation editor"
## What problem does this address?

Follow up from https://github.com/WordPress/gutenberg/issues/34440.

The current menu screen, allows for custom taxonomies terms to be added to menu. See screenshot from current editor.

<img width="302" alt="Screenshot 2021-09-01 at 10 36 15" src="https://user-images.githubusercontent.com/237508/131649203-79c3a8de-86e4-4804-ab57-08e72900a342.png">

However thes

[2021-09-01 09:52] mtias commented on #18395
@tellthemachines there's a component, it's called `ToggleGroupControl` now.

[2021-09-01 09:56] spacedmonkey opened #34443 "Navigation editor should respect `show_in_nav_menus`"
## What problem does this address?

When registering custom [post types](https://developer.wordpress.org/reference/functions/register_post_type/) or [taxonomies](https://developer.wordpress.org/reference/functions/register_taxonomy/), there is a param called  `show_in_nav_menus`. This param is designed to control what CPT / taxonomies are shown in menu screen. Developers can also use `register_tax

[2021-09-01 09:57] spacedmonkey commented on #34443
CC @TimothyBJacobs as we will need to add new fields to the post types endpoint.

[2021-09-01 10:11] #34279 closed, assigned to ramonjd

[2021-09-01 10:27] paaljoachim opened #34445 "Allow Saving Custom Colors to the unique Color Palettes for color or background"
## What problem does this address?

One can save a custom color to one palette.

## What is your proposed solution?

It would be nice to save a color into a palette for text, background or other needed color palettes.

[2021-09-01 10:28] paaljoachim commented on #6941
Hey @jorgefilipecosta and @cr0ybot

I made this issue:
**Allow Saving Custom Colors to the unique Color Palette for color og background** (Might need to be renamed)
https://github.com/WordPress/gutenberg/issues/34445

[2021-09-01 10:29] paaljoachim commented on #28146
Hey @cr0ybot

I made this issue:
**Allow Saving Custom Colors to the unique Color Palette for color og background** (Might need to be renamed)
https://github.com/WordPress/gutenberg/issues/34445

[2021-09-01 10:49] #18894 closed

[2021-09-01 11:52] andersnoren opened #34448 "Button Block: Style the pseudo classes when outputting theme.json color"
## What problem does this address?
If you set the text color of the button block in theme.json, the CSS that gets output targets the `.wp-block-button__link` element. The Core styles also sets the text color of the button pseudo classes, like this:

[code]

The style generated by theme.json doesn't, so when you focus/hover/click or have visited a button, the text color is reverted to the white col

[2021-09-01 12:03] adamziel opened #34449 "Remove special handling of `raw` / `rendered` attributes from core-data"
## What problem does this address?

The REST API returns the following data shape for posts:
[code]

`core-data` has some special logic in place to flatten that into `{ id: 15, content: "abc" }`. It lives in [getRawEntityRecord](https://github.com/WordPress/gutenberg/blob/796d25c34cdf26d1dd788eb174b18a1b282770d2/packages/core-data/src/selectors.js#L202-L221) and [saveEntityRecord](https://github.c

[2021-09-01 12:08] adamziel opened #34450 "Remove post-specific autosaving logic from core-data package"
## What problem does this address?

This comment says it all:

https://github.com/WordPress/gutenberg/blob/35e16bbad16afb7209fb0e19b87d3a6f4108dd22/packages/core-data/src/actions.js#L425-L428

The autosaving logic [accounts for the majority of code in `saveEntityRecord`](https://github.com/WordPress/gutenberg/blob/796d25c34cdf26d1dd788eb174b18a1b282770d2/packages/core-data/src/actions.js#L424-L520

[2021-09-01 12:31] ntsekouras commented on #20581
Columns
Query Loop
@ntsekouras, can you confirm?

I can confirm that. I'll open a PR to update the docs a bit.

[2021-09-01 13:10] richtabor commented on #34441
+1 — I noticed the same as I explored blockGap this morning.

[2021-09-01 13:26] adamziel commented on #25093
This sounds like a good version 1. My only concern is the usual suspect: network problems and lost updates. Unlike widgets, it's not uncommon to have large menus. This means more requests to batch and, in turn, more actual HTTP requests. But that's not specific to this ticket – it's a general thing related to batching.

It may be a good reason to add a "preflight" validation check: If we need to s

[2021-09-01 13:48] TS6ix2GaH3q679h5 commented on #34405
@talldan OK, I was wondering if these settings were stored in the account settings or only in a cookie. Knowing they are stored locally clearly means something must be up with my home network settings. A cookie must be being deleted somewhere though I can't seem to figure it out. I've tried explicitly whitelisting wordpress.com, mysite.wordpress.com, and public-api.wordpress.com since (as far as I

[2021-09-01 13:49] jozs3f commented on #16986
Any updates on this ? we are having issues with <RichText> as well. On the paragraph block i get the following consoles and it works fine
![paragraph-block](https://user-images.githubusercontent.com/54510424/131682471-bf6c2c84-bcb5-4589-88e2-b858bf68b631.png)

However in a custom block where we have a RichText we get the following:

          tagName="p"
          placeholder={ __( 'Text' ) }

[2021-09-01 13:59] draganescu commented on #25093
I was wondering, since we don't support the built in transaction mechanism in Mysql, if there is an option that for batched requests to be implementing a simulated transaction:

- we send the batch objects
- we also send the length of the total batch operation
- we keep sending batch objects in subsequent calls
- when there are as many batch objects as the length initially received the batch is ex

[2021-09-01 14:07] richtabor opened #34452 "Move styles.blockgap to settings.spacing.blockGap"
I'm unsure what the logic is behind having `blockGap` within `styles` in theme.json, instead of `settings.spacing.blockGap`.

The value itself is used throughout the editor — instead of applied directory to the `body` tag, as the other styles that are currently added to `styles` are. Seems a bit confusing/harder to employ, when spacing configuration aspects of the theme.json file separated as such

[2021-09-01 14:16] richtabor commented on #31913
I am the author of all Gutenberg commits from hello@themebeans.com.

[2021-09-01 14:21] spacedmonkey commented on #25093
Just a friendly reminder here, you can only send 25 request at a time in a batched request. See this [line](https://github.com/WordPress/wordpress-develop/blob/3478f645bcef0402fc301ee45277c4fff0662f4c/src/wp-includes/rest-api/class-wp-rest-server.php#L118). Meaning only 25 menu items could be updated / deleted / created in one request. This means for a super large merge menu, like 200+ items, woul

[2021-09-01 14:25] richtabor opened #34453 "Add support for blockGap between each column in Columns blocks"
## What problem does this address?
With the new addition of `blockGap` support to theme.json, we should update the Columns block to reference that gap value — instead of a hard-coded value of `2em`.

## What is your proposed solution?
Updating the styles to use the generated CSS property `var(--wp--style--block-gap)` instead of the hard-coded value of `2em`, while still providing a fallback to the

[2021-09-01 14:26] grappler opened #34454 "Quote Block text alignment conflicts with added position alignment support"
### Description

I have added [align support](https://developer.wordpress.org/block-editor/reference-guides/block-api/block-supports/#align) to the quote block. The code that I used can be found below.

This conflicts with the [`align` attribute](https://github.com/WordPress/gutenberg/blob/7901895ca20cf61e402925e31571d659dab64721/packages/block-library/src/quote/block.json#L25-L27) in the quote bl

[2021-09-01 14:41] youknowriad commented on #34454
Indeed, I'm not sure that the Quote block is the only one in this situation. This is unfortunately "historic". Meaning when these attributes were added, block supports didn't exist yet and they evolved organically after that. We could consider renaming the existing attribute which would require a deprecated version I think. We may have to check what other blocks do the same.

[2021-09-01 14:45] youknowriad commented on #34452
The block gap is a style that is actually added to the generate stylesheet. The settings are just config values that are available in the editor.

[2021-09-01 14:51] richtabor commented on #34452
Isn't the idea that blockGap will be available within the editor — perhaps in Global Styles https://github.com/WordPress/gutenberg/issues/32366, but also at the block level in some parent specific https://github.com/WordPress/gutenberg/pull/33991 — similar to color palettes?

[2021-09-01 14:53] youknowriad commented on #34452
#33991 is a PR that allows you to define a specific block style for a given block. (so still a style).

And now adding block gap to `body` actually prints the CSS variable in the generate style based on theme.json (just like all other styles).

The `settings.spacing.blockGap` is a setting that is introduced in #33991 to allow the UI to tweak the spacing per container block to be visible or not (ju

[2021-09-01 15:36] mtias opened #34461 "Show "group" and variations (Row, Stack) in multi-select toolbar"
Let's surface the "group" action on the multi-select toolbar:

![image](https://user-images.githubusercontent.com/548849/131700652-f34e5dc8-5471-4cc0-9463-b9fe9a289b19.png)

It's a more common action to do when you multi-select and it's unnecessary buried:

![image](https://user-images.githubusercontent.com/548849/131700850-d1804788-663f-4c47-9c65-f6fa7d2ff5cd.png)

## To-do

* [x] https://github.

[2021-09-01 16:18] richtabor commented on #34452
Thanks for the clarity there, but why wouldn't #33991 be `"customBlockGap": true` — like the others?

[2021-09-01 16:19] youknowriad commented on #34452
I think that's good feedback, you could ask there. I believe it started as "customBlockGap" and was renamed. @andrewserong

[2021-09-01 16:24] fwazeter commented on #34452
for naming convention, I think it'd be best to keep things in alignment with whatever standard that ends up being - whether we go more verbose with customSettingName (customBlockGap) or settingName (blockGap), and the location placements to be consistent where other related elements are in place, otherwise it becomes a nightmare to dig through documentation on where you messed up a setting placeme

[2021-09-01 16:38] youknowriad commented on #34452
One small clarification is that customColor and customGradient.... make sense because these mean: folks are allowed to use "custom colors" or not. and "colors", "gradients" are about allowing and defining preset colors and gradients. In Blog Gap, there's no difference there, there's only custom block gap, there's no presets (at least at the moment, and I'm not sure if we'd have presets)

[2021-09-01 16:42] richtabor commented on #34452
In this model, by customBlockGap being `false`, would that remove the UI to modify blockGap values on a per-block basis? Say change the blockGap between columns in the Columns block?

[2021-09-01 16:53] youknowriad commented on #34452
Right now, it's still named just `blockGap` in the PR but yes it would (since we don't have presets, so custom values are the only way to define gaps per block)

[2021-09-01 17:01] fwazeter commented on #34452
I'd largely agree that customColor and customGradient makes sense because that explains explicitly the setting enabled.

[2021-09-01 17:07] gwwar opened #34462 "Block Editor: update callers to handle when getBlockType returns undefined"
Follow up to https://github.com/WordPress/gutenberg/pull/34346 the `getBlockType` selector may return undefined and not all callers handle this correctly. In some cases (for example when block types are unregistered) we can see JS errors similar to https://github.com/WordPress/gutenberg/issues/32815

I did a quick audit and the following usages should be updated. If y'all are interested in pitchin

[2021-09-01 17:42] iandunn opened #34463 "Persist list view toggle state across page reloads"
## What problem does this address?

When developing blocks and FSE themes, I frequently reload the editor after making changes. I have to re-open the List View every time, because the on/off state isn't saved. It's off every time the page opens, even if it was previously on.

## What is your proposed solution?

I think the toggle state should be saved when it changes, and applied whenever the page

[2021-09-01 17:50] annezazu opened #34466 "Feedback on using live preview with list view and sidebar open"
## What problem does this address?

Currently, if both the List View and Sidebar are open, the live preview for changes to the Columns block aren't visible:

https://user-images.githubusercontent.com/26996883/131718236-3c4f8a94-5d1f-4c02-b846-ab5498824cdb.mp4

I imagine this is true of other blocks too and is something we'll have to figure out how best to explore now that List View is a sidebar th

[2021-09-01 18:05] annezazu opened #34468 "Show changes to padding when entering changes in dimensions panel"
## What problem does this address?

This came up as part of the [ninth call for testing with the FSE Outreach Program](https://make.wordpress.org/test/2021/08/11/fse-program-testing-call-9-handling-highered-headers/#comment-1922):

Essentially, unless you're dragging up and down to change values, changing the value doesn't show a change in the editor. Tied to this, if one empties the value, it res

[2021-09-01 18:13] annezazu opened #34469 "Search Block: changes to width below 75% aren't reflected in editor"
### Description

This was found as part of the [ninth call for testing with the FSE Outreach Program](https://make.wordpress.org/test/2021/08/11/fse-program-testing-call-9-handling-highered-headers/#comment-1922):

https://user-images.githubusercontent.com/26996883/131722032-a41b5833-16ac-492f-9f4d-4ac359579888.mov

### Step-by-step reproduction instructions

1. Add a Search Block within a Navigat

[2021-09-01 18:24] annezazu opened #34470 "Navigation block: Home link option causes spacing issues"
### Description

When adding the Home link option to the navigation block, the next item added causes spacing issues. This is likely related to https://github.com/WordPress/gutenberg/pull/33021. This was found as part of the [ninth call for testing for the FSE Outreach Program](https://make.wordpress.org/test/2021/08/11/fse-program-testing-call-9-handling-highered-headers/#comment-1922)

### Step-

[2021-09-01 18:24] annezazu commented on #34470
cc @jasmussen

[2021-09-01 18:29] annezazu commented on #33640
This came up with the [ninth call for testing for the FSE Outreach Program](https://make.wordpress.org/test/2021/08/11/fse-program-testing-call-9-handling-highered-headers/#comment-1922):

Something to keep in mind is how the naming will impact what users expect these settings to do with the responsive menu option. Either way, excited to see more clarity included here and to see some ideas being s

[2021-09-01 18:48] spacedmonkey commented on #25093
we also send the length of the total batch operation
we keep sending batch objects in subsequent calls
when there are as many batch objects as the length initially received the batch is executed, otherwise we error out

In response to this. Let's think of responses why a REST API call might fail.

1. Database is down. Well if we batch requests, 25 a time. Some of them may work, but if the database

[2021-09-01 19:33] jmesserve commented on #28757
Any update on this?

[2021-09-01 19:34] westonruter commented on #33578
Programmatic access doesn't seem to involve running in the browser, does it? Since it's not feasible to expect Chrome to be installable as an executable on the server, any such analysis would have to be performed in the user's own browser, right?

[2021-09-01 19:51] ndiego commented on #33212
Is there any update on this? After upgrading to 11.4, I am now seeing this in the Block Editor as well as the Site Editor.

[2021-09-01 19:56] annezazu commented on #34352
Agreed - this makes a lot more sense to me! Thanks for kicking this off.

[2021-09-01 21:02] ryelle opened #34476 ""ReferenceError: CSS is not defined" when testing with wp-scripts test-unit-js"
### Description

When running a test with the default `test-unit-js` command provided by `@wordpress/scripts`, I'm getting this failure: `ReferenceError: CSS is not defined`

I can track it back to this line:

https://github.com/WordPress/gutenberg/blob/4623cf1e90db7373b63acd750380ee6ea0e60bac/packages/components/src/ui/utils/space.ts#L33

I can fix it by adding a local `jest.config.js` to define

[2021-09-01 23:26] kellychoffman commented on #31456
Going to lock this issue as a design in that is ready for dev. "Locking" is for dev clarity and is not meant to dissuade further design contribution - open new issues or unlock if needed!

- [Comment containing final design](https://github.com/WordPress/gutenberg/issues/31456#issuecomment-894205226) with prototype to illustrate flow [here](https://github.com/WordPress/gutenberg/issues/31456#issuec

[2021-09-01 23:29] tellthemachines commented on #24370
These preferences are all related to how the interface is presented, or to how it presents the content. Doesn't it make sense for them to be in the interface package? If we always use them together with interface components, there's not much to gain in splitting them out to another package.

[2021-09-01 23:44] Tropicalista opened #34478 "Registering block with block.json not load translation"
### Description

I have create a simple block using the command `npx @wordpress/create-block gutenpride` and I'm trying to load translations.

I have all string translated. The translation is correctly loaded and correctly set textdomain on block.json. However the translation are not loaded for the block.

This is the code I'm using.

[code]

### Step-by-step reproduction instructions

1. create a

[2021-09-02 00:32] kellychoffman commented on #23953
Locking this issue as design is ready for dev. "Locking" is for dev clarity and is not meant to dissuade further design contribution or discussion - open new issues or unlock if needed.

[Comment containing final design](https://github.com/WordPress/gutenberg/issues/23953#issuecomment-827446427)
[Figma file](https://www.figma.com/file/xvnD8SOGhQYvnHJLGXYWGJ/?node-id=530%3A194)
Designer to add to P

[2021-09-02 00:35] fullofcaffeine opened #34479 "Broken editor style in some themes (Twenty Twenty and Twenty Nineteen)"
### Description

I've stumbled upon a few styling oddities when trying Gutenberg v11.4.0 with some themes, namely `Twenty Twenty` and `Twenty Nineteen`. I assume this issue _could_ be more widespread and affect other themes in unexpected ways, too (?)

WIth `Twenty Twenty`, the page title input has shifted way to the left of the page, not aligning with the block list area horizontally:

<img width

[2021-09-02 01:33] aaronrobertshaw commented on #34468
Thanks for the ping @annezazu 🙂

The behaviour shown is consistent with the implementation of the `BoxControl`  and how it utilises the underlying `UnitControl` component. It [explicitly flags the control to require `enter` to be pressed](https://github.com/WordPress/gutenberg/blob/b5e0e421af1890577b3b45cff42d49610e1d82d9/packages/components/src/box-control/unit-control.js#L41) to commit a change.

[2021-09-02 01:48] guarani opened #34481 "[RNMobile] Bottom sheet not working with inner blocks"
## Description

The bottom sheet is empty when adding inner Buttons to the Button block. The same issue occurs with Gallery, Columns, Social, etc that use inner blocks.

## Step-by-step reproduction instructions
1. Insert a Buttons block
2. Verify that the default button block has focus
3. Tap the + button to open the bottom sheet
4. Notice that the bottom sheet is empty (it only opens a few pixel

[2021-09-02 02:55] talldan opened #34482 "Improve editor error boundaries and error messages"
## What problem does this address?
Whilst working through some issues on the forums lately, it's pretty clear the error boundaries in the editors  could be improved. Here's how it looks right now for reference:
<img width="894" alt="Screenshot 2021-09-02 at 10 35 08 am" src="https://user-images.githubusercontent.com/677833/131772260-6bda7d07-a3be-4abb-bf85-7c0f537e4d3d.png">

On the forums I've ob

[2021-09-02 02:59] annezazu commented on #34468
Thank you for the great context! I find the differences in experiences a bit jarring/confusing but I can also see why it's implemented as it is. Either way, I couldn't quite tell if this was a bug or future but will trust the design expertise Joen brings on this one.

[2021-09-02 03:42] mkaz opened #34483 "Setting styles.typography.fontWeight in theme.json crashes editor"
### Description

If I set the following in my `theme.json` file using a block theme, it causes an editor crash that it can not recover from.

[code]

If I remove the `fontWeight` line (correcting commas as needed) then the editor loads properly, adding it back in it breaks.

### Step-by-step reproduction instructions

- Use a block theme
- Edit theme.json and add `styles.typography.fontWeight`
- L

[2021-09-02 04:00] talldan commented on #34479
Thanks for reporting this! I also noticed yesterday that this is the situation in Twenty Seventeen:
<img width="915" alt="Screenshot 2021-09-02 at 11 57 53 am" src="https://user-images.githubusercontent.com/677833/131779595-a3f30e4e-9156-4e09-aa1b-4806fa6a670d.png">

Also had a situation where the toolbar also appeared underneath the first block because of the lack of space at the top 😱

[2021-09-02 07:00] jasmussen commented on #34470
Thanks for the issue. I can't reproduce in trunk:

![tt1](https://user-images.githubusercontent.com/1204802/131797184-9b141774-7acf-4059-8c26-d330f4c17e05.gif)

Furthermore, I'm almost certain that this issue has been fixed by #33918 and #33918, which together closed #33048. The motivation is best explained in [this comment](https://github.com/WordPress/gutenberg/pull/32677#issuecomment-861284806)

[2021-09-02 07:07] andrewserong commented on #34452
Thanks for the ping (and for starting the discussion, Rich, much appreciated)! Yes, the setting was renamed for consistency with the plan proposed in the [theme.json v2 issue](https://github.com/WordPress/gutenberg/issues/34349) that suggests removing the `custom` prefix from those spacing settings where the word isn't needed. My goal is to try to keep https://github.com/WordPress/gutenberg/pull/3

[2021-09-02 07:09] #34265 closed, assigned to anton-vlasenko

[2021-09-02 07:21] jasmussen commented on #34468
Very helpful context as well. I sense and suspect there are some accessibility considerations related to having to press enter when you manually type in numbers. It could perhaps even be related to performance, where if you accidentally type 10000 it might choke for a bit.

Worth noting we do have some affordances to make this experience nicer, including the fact that you can use up and down arrow

[2021-09-02 07:21] spacedmonkey commented on #34443
Created a core patch https://github.com/WordPress/wordpress-develop/pull/1650

[2021-09-02 07:30] Soean commented on #28757
@jmesserve No, not yet. You can work on a solution of this issue, if you want.

[2021-09-02 08:02] ciampo opened #34487 "Components: Support the `EyeDropper` API in `ColorPicker`"
## Why

Adding an Eye Dropper tool to the `ColorPicker` would enhance its UX and features set

## What

We should embed an Eye Dropper tool following the `EyeDropper` APIs:

- [explainer](https://github.com/WICG/eyedropper-api)
- [Draft APIs](https://wicg.github.io/eyedropper-api/)

*Note*: this API are not stable yet and, at the time of writing, is only supported in Chrome >= 95

## A/C

- [ ] Ge

[2021-09-02 08:36] #34291 closed, assigned to ciampo

[2021-09-02 08:42] gziolo commented on #33808
11.4 is out already so we can close this one 😄

[2021-09-02 08:42] #33808 closed, assigned to nobody

[2021-09-02 08:42] gziolo commented on #33134
11.4 is out already so we can close this one 😄

[2021-09-02 08:42] #33134 closed, assigned to getdave

[2021-09-02 08:50] gziolo commented on #34325
`@wordpress/env` is also used for development in Gutenberg so there are also pros of keeping the source code in the same repository. There is more to it, we use one way to publish packages to npm, there is a wider group of contributors that can learn about the tool. I'm worried that the overall maintenance cost is going to be higher if we were to extract a single package to a separate repository.

[2021-09-02 09:25] oandregal commented on #34414
Ah, nice. Yeah, it may be cool to have different palettes per element. I'd think it could work as you suggested. So far, with the elements we have (link and headings) and the way they are exposed in the UI, the rest of the settings wouldn't be used anywhere, though.

Regarding background & text. I was wondering what would you think of having a new element called "body"/"default"/"general" in the U

[2021-09-02 10:10] Sandstromer commented on #34483
I am also able to reproduce this issue.

I noticed also that if the Global Styles sidebar is initially closed, the Site Editor loads OK.
Opening the sidebar or if was previously opened state, the Site Editor crashes.

Interestingly if I also include "fontStyle" e.g. `"fontStyle": "normal"` the Site Editor does not crash, and functions as it should.

For example this works OK:
[code]

[2021-09-02 11:31] vindl commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-09-02 11:51] #34376 closed, assigned to walbo

[2021-09-02 11:57] draganescu commented on #34438
Yes I think this is going to happen as part of the navigation block's evolution to a lighter experience as @mtias 's describes in #34041 👌🏻

[2021-09-02 12:09] draganescu commented on #25093
I've given this some more thought (along with Jonny and Adam) in the context of eventual consistency problems b/c of batching limitations. In the end, I think moving ahead with the most common usecase is probably the best idea in terms of the API's resilience to failure.

Not many menus are outside of the 25-50 items bracket. While the number of operations can be higher than the number of menu ite

[2021-09-02 12:17] skorasaurus commented on #33852
related: https://github.com/WordPress/gutenberg/issues/16624

[2021-09-02 12:45] anton-vlasenko commented on #33815
Yes, I agree. That's the root problem.
What if we just fix how it saves menu locations so that we don't have to add another "Save" button to the modal?
Theoretically, if we fix this we won't have to change anything else.

[2021-09-02 12:47] belcherj commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-09-02 13:36] annezazu commented on #34470
Thanks as always for your lovely follow up. Confirmed that I can't replicate with trunk! Strange considering the PRs listed merged are shown for 11.4 (which I can replicate with). Closing this out either way.

[2021-09-02 13:36] #34470 closed, assigned to nobody

[2021-09-02 13:57] annezazu commented on #34468
Thank you for the extra details and for following up! Love how much one can learn in opening issues.

^ I think these exact affordance are part of why I expect being able to enter values to work in the same way. I agree though that the contextual padding controls very much will resolve this. Closing out the issue as a result.

[2021-09-02 13:57] #34468 closed, assigned to nobody

[2021-09-02 14:13] Soean opened #34506 "Error on replace image in Post Featured Image block"
## Description
If I use the featured image block and try to replace the image with another image, the new image will not be rendered and I get a warning in the error console

## Step-by-step reproduction instructions
- Add `Post Featured Image` block
- Select image
- Click on `Replace` and select another image

No image is rendered and a warning will be in the error console

[code]

[2021-09-02 14:34] oandregal opened #34507 "Disable the wide width control if the theme does not provide a `layout.wideWidth` value"
For themes that have a `theme.json` file, the visibility of alignment controls depends on whether they provide the `layout.contentWidth` and `layout.wideWidth` options.

What can happen:

1. If none is provided, there's a single column using the full width and no controls visible.
2. If `contentWidth` is provided but `wideWidth` is not we should only show the full width control.
3. If both are pro

[2021-09-02 14:51] #34328 closed, assigned to oandregal

[2021-09-02 15:22] brettsmason opened #34509 "Theme.json slug containing a number has a hyphen added"
### Description

I've been testing out `theme.json` to configure Gutenberg.
I'm using it in conjunction with Tailwind and am configuring Tailwind to use theme.json values, but want to use Tailwinds font size naming conventions, eg `text-xl`, `text-2xl` etc.

I've noticed if I include font sizes like this:

[code]

The css custom properties for 2xl, 3xl and 4xl are output like this (notice the hyph

[2021-09-02 15:24] oandregal commented on #34138
Second try at https://github.com/WordPress/gutenberg/pull/34510

[2021-09-02 15:32] ryanwelcher commented on #22151
@annezazu @gziolo I am planning on digging into the existing documentation over the next couple of weeks to get a real sense of where they stand in the sense of the changes with 5.8 that @gziolo called out above.

In the meantime, here's my $0.02 😄

Moving everything towards using the `block.json` drastically changes the approach to registering custom blocks and abstracts some items away ( i.e enq

[2021-09-02 16:02] annezazu commented on #22151
Absolutely love what you're thinking, @ryanwelcher. This sounds excellent and I appreciate you stepping in to drive this work forward 🤗.

[2021-09-02 16:03] oandregal commented on #34270
Hey Anne, I'm trying to reproduce the issue but I can't. Tried with `trunk` and `11.3.0` on WordPress 5.8. Using different browsers as well (Firefox and Chrome). My OS is Linux but I doubt that would have any impact on the issue at hand.

This is what I'm doing:

https://user-images.githubusercontent.com/583546/131878034-825ca9ec-e512-4fc2-b1c3-ce0e13829530.mp4

[2021-09-02 16:10] annezazu commented on #34270
Seems like it's somehow working when I use Gutenberg nightly (woohoo!) but I did notice a weird sizing change after altering the alignment:

https://user-images.githubusercontent.com/26996883/131878964-871a96a3-0329-48e8-a716-025009e1b7e8.mov

I filed this with 11.3 so not sure what PRs could have happened to address this.

[2021-09-02 16:24] annezazu opened #34511 "Navigation Block: Consider having the responsive option on by default"
## What problem does this address?

This was brought up as [part of the ninth call for testing for the FSE Outreach Program](https://make.wordpress.org/test/2021/08/11/fse-program-testing-call-9-handling-highered-headers/#comment-1928):

This seems worth exploring as the default state.

## What is your proposed solution?

Enable the navigation block to have the responsive menu on by default :) Cur

[2021-09-02 16:26] dcalhoun commented on #34429
@iamthomasbishop I notice the proposed solution includes what appears to be "A" and "B" image thumbnails, showcasing the current and potential replacement Featured Images respectively.

Our current implementation relies upon the default—and fairly rudimentary—[Android Dialogs](https://material.io/components/dialogs) and [iOS Action Sheets](https://developer.apple.com/design/human-interface-guideli

[2021-09-02 17:09] ntsekouras commented on #34270
The difference between the first video by @annezazu and all the rest is that in the first video the block is added in a `template` without any container (you can observer the block icon in toolbar and also the available alignments). In order for the alignments to work properly they need a wrapper container like `Group` that adds the proper styles for such alignments for its children.

[2021-09-02 18:01] skorasaurus commented on #34509
Hi,

Thanks for reporting;
This has been discussed and/or requested in  https://github.com/WordPress/gutenberg/issues/31629 . Feel free to [add your reaction](https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/about-conversations-on-github#reacting-to-ideas-in-comments) and follow its progress in the issue.

[2021-09-02 18:01] #34509 closed, assigned to nobody

[2021-09-02 18:08] skorasaurus commented on #24712
somewhat related https://github.com/WordPress/gutenberg/issues/15282 (only somewhat, in that it's possible that the slug is already exists because of an attachment with the same name).

[2021-09-02 18:27] ryanwelcher commented on #33263
@ciampo I'm not sure if there is an existing ticket for this but some of the components README don't have full documentation. For example [AlignmentMatrixControl](https://github.com/WordPress/gutenberg/tree/trunk/packages/components/src/alignment-matrix-control) has only example code.

I'm happy to create a new ticket and reference it in #34304

[2021-09-02 19:46] annezazu opened #34512 "Navigation Screen: put a limit on the name of the menu"
### Description

One can currently input an extremely long name into the menu title field causing a cascading number of issues wherever the name is used. It seems as though a limit should be put on the field.

### Step-by-step reproduction instructions

1. Head to the navigation editor.
2. Name the menu something really long.
3. See various errors :)

### Screenshots, screen recording, code snippe

[2021-09-02 20:15] kellychoffman commented on #29102
I did a review and noted UX items that should be addressed before we can move this out of experimental phase: (Will link them all up to issues)

- [x] "Switch menu" location is out of context from the current menu you are editing. We have solved this similar issue in template editor with a dropdown next to the name of the template you are on - we should reuse this UX.
- [x] Once you add a menu, th

[2021-09-02 20:26] mkaz commented on #22151
@ryanwelcher Great for digging in and looking forward working with you to help the docs. To explain the current structure of docs in place, it's mostly due to organic growth and the slow migration to a more organized setup. A big effort went in earlier to get the initial higher levels of documentation into [the four types of docs as explained here](https://documentation.divio.com/).

I have a PR r

[2021-09-02 20:58] mkaz commented on #32939
@iandunn I created a simple block to put the date in the footer. https://github.com/mkaz/copyright-block or https://wordpress.org/plugins/copyright-block I think it is even installable from the block directory.

So a potential solution for some of these micro dynamic pieces could additional blocks.

However, the ability to do logic and other conditionals based on tags, pages, and template hierarch

[2021-09-02 21:44] #10251 closed

[2021-09-02 21:45] fullofcaffeine commented on #34479
I also noticed that, but this appears to be an older bug. I just tested and it happens on v11.3.0, too, it's just that the bigger top margin on (most?) of the themes created more space for the toolbar and it didn't overlap with the top bar in the Desktop viewport.

[2021-09-02 22:46] iandunn opened #34514 "Navigation block's responsive modal can't be customized"
## What problem does this address?

I'd like to be able to implement a design like the following, where the responsive menu doesn't take over the entire screen, and contains more than just links:

<img width="415" alt="Screen Shot 2021-09-02 at 3 36 14 PM" src="https://user-images.githubusercontent.com/484068/131924812-efd8e2fb-0f32-41ab-aab5-8239bbd8530a.png">

That doesn't seem possible right no

[2021-09-02 23:42] andrewserong commented on #29098
Just re-opening this issue: #33991 added in the gap block support feature, but we'll need to opt-in to it for the Buttons block in a separate PR.

[2021-09-02 23:57] aaronrobertshaw commented on #34345
I noticed this while testing changes removing `custom` prefixes from theme.json properties that didn't need it.

~A fix is included in that PR: https://github.com/WordPress/gutenberg/pull/34485~

Fixed in https://github.com/WordPress/gutenberg/pull/34515

**TL;DR** When the typography tools were grouped the letter-spacing support key wasn't updated as per the others.

[2021-09-03 00:06] aaronrobertshaw commented on #32577
I noticed this while testing changes removing custom prefixes from theme.json properties that didn't need it.

~A fix is included in that PR: #34485~

Fixed in https://github.com/WordPress/gutenberg/pull/34515

[2021-09-03 00:55] supernovia commented on #18095
+1; someone contacted us [today](https://wordpress.com/forums/topic/changing-background-colour-on-pre-formatted-block/#post-3727711) for help with this. We couldn't find another way to fix it but to give them CSS.

[2021-09-03 02:04] #32577 closed, assigned to aaronrobertshaw

[2021-09-03 02:11] andrewserong commented on #32366
The gap block support feature has been merged in (https://github.com/WordPress/gutenberg/pull/33991). There's [a minor bug](https://github.com/WordPress/gutenberg/pull/33991#issuecomment-911265584) in Safari that I'll look into in a follow-up, but I think this might mean we can close out this issue now @jasmussen, unless you want to track follow-ups here?

[2021-09-03 02:53] supernovia commented on #24578
Just noting I was trying to help someone edit their gallery order today, and almost filed a feature request because I couldn't find the setting. (That's how I found this issue.) Can we make the edit gallery more easily discoverable... perhaps in the gallery block's toolbar?

[2021-09-03 03:26] #34481 closed, assigned to jhnstn

[2021-09-03 03:32] talldan opened #34518 "Dropdown menus are now very narrow"
### Description

This week I've spotted that dropdown menus have become very narrow. This feels like a very recent regression.

In some cases the UI is not functional, in other cases it's not making use of the available space as well as it could be.

### Step-by-step reproduction instructions

1. Add an image block
2. Resize the screen to a small size
3. Click the Insert From URL button

Expected:

[2021-09-03 05:13] stevenkussmaul commented on #34462
I am taking a look at this, appears to be good first fix. I will work on it in the morning.

[2021-09-03 05:29] talldan commented on #23953
@kellychoffman I'm not sure locking the issue is a good practice as a lot of contributors like to leave a comment volunteering to pick up an issue. That's a good idea as it prevents duplicate efforts.

I've unlocked it for now, could be worth a wider discussion on the practice.

[2021-09-03 05:29] ramonjd commented on #33934
I've made a first, and very rough, pass at this. The list won't show for blocks with no styles.

![Sep-03-2021 15-20-32](https://user-images.githubusercontent.com/6458278/131954521-3cd7ff2a-6640-4f33-8b60-bad8cfd9955d.gif)

I'm not also convinced it's necessary, but one argument for the feature would be that the editing styles class value is already connected to the styles controls.

![Sep-03-2021

[2021-09-03 06:14] jasmussen commented on #27593
For anyone reading, I wanted to tease that the task, "Allow insert before / after", will almost certainly be fixed as a side-effect of addressing #34041 and the proposed mockups, which entail creating a "default" block that you insert instantly.

[2021-09-03 06:37] andrewserong opened #34524 "CustomSelectControl: downshift warning in console about uncontrolled "selectedItem" prop"
### Description

Following on from #34520 this issue is to track a warning from `downshift` about `selectedItem` switching between being a controlled vs uncontrolled prop. It occurs in the global styles for the Site Title block when switching between different types of Appearance.

I previously made an attempt to fix it as part of #34520, but to get a shorter-term fix for in, I've created this iss

[2021-09-03 06:47] jasmussen commented on #34469
Looks like there's a 220px min-width applied to the search box, making it impossible to make it smaller than that. I'm happy to remove that min-width if there's agreement, but I'm wondering why that was added in the first place. @kjellr I recall you working a lot with the search block and width presets, do you have any insights?

[2021-09-03 06:56] jasmussen commented on #32366
Happy to close it. I'd like to see theme.json provided gap land in social icons, buttons, navigation blocks, but that requires refactors to migrate the margins and to ideally use the new theme.json provided flex layout as well. Ideally we also want to surface a UI for it, though hopefully the axial configuration of padding (show a single gap by default, click advanced to split into separate vertic

[2021-09-03 06:58] jasmussen commented on #34511
Thanks for creating this, yes, we definitely want this on by default. The reason it isn't yet, is that we wanted to make sure and work out any kinks in it first. But it's slowly stabilizing.

I do wonder if we want to address #33273 and #31957 first, though. What do you think, @vcanales? Happy to pair on all of this by the way!

[2021-09-03 07:01] andrewserong commented on #32366
Thanks, Joen. Yes, I think creating separate issues for tracking the next steps would be a good way to handle it.

The gap block support and UI for the single gap value has landed in #33991, so with each block we enable it for, we'll be able to look at what refactoring is required to get it to play nicely, and how we might eventually handle axial configuration. My hope is that we'll be able to lan

[2021-09-03 07:02] jasmussen commented on #32366
Definitely. Given the deeper understanding you have (sounds good to me as well!), want to create those tickets? Otherwise I can take a stab and then feel free to edit.

[2021-09-03 07:04] andrewserong commented on #32366
I'm just about to wrap up for my week, but I'm more than happy to create them on Monday. Feel free to get started before then if you'd like, but it's no trouble at all for me to start my week with it (and it'll give me a good chance to review where we're at again with a fresh brain, too! 😁)

[2021-09-03 07:06] gziolo commented on #34462
@stevenkussmaul, looking forward to seeing the first PR submitted 🎉

[2021-09-03 07:07] jasmussen commented on #32366
Have a great weekend, and thanks for your work!

[2021-09-03 07:09] lecoqlibre commented on #18095
Maybe this will interest someone here like @supernovia?

I made a filter to handle the opacity of the background color. One you have put it in your theme's function file, you just have to set the background color and add the CSS class `bg-opacity-<opacity percent>` to the block you want to set the opacity for (eg. `bg-opacity-80` to make it 80% opacity). It works with custom colors and also with t

[2021-09-03 07:22] jasmussen opened #34525 "Navigation: Support `gap` via theme.json"
## What problem does this address?

#32366 adds a theme.json mechanism to provide a a `blockGap` value to space out items in a container. Spacing using gap has the benefit of letting you not worry about the first or last elements in a container, or complex nth-child margins in containers that wrap.

#32367 refactored the Navigation block to already use `gap` CSS to space items out.

## What is you

[2021-09-03 07:22] jasmussen opened #34526 "Social Icons: Support `gap` via theme.json"
## What problem does this address?

#32366 adds a theme.json mechanism to provide a a `blockGap` value to space out items in a container. Spacing using gap has the benefit of letting you not worry about the first or last elements in a container, or complex nth-child margins in containers that wrap.

#34493 is already refactoring the social links block to use the new blockGap value.

## What is you

[2021-09-03 07:22] jasmussen opened #34527 "Buttons: Support `gap` via theme.json"
## What problem does this address?

#32366 adds a theme.json mechanism to provide a a `blockGap` value to space out items in a container. Spacing using gap has the benefit of letting you not worry about the first or last elements in a container, or complex nth-child margins in containers that wrap.

## What is your proposed solution?

As a next step, it would be nice to connect the block with them

[2021-09-03 07:26] jasmussen opened #34529 "Design Tools: Enhance Block Gap control to support axial configuration"
## What problem does this address?

#32366 adds a theme.json mechanism to provide a a `blockGap` value to space out items in a container. Spacing using gap has the benefit of letting you not worry about the first or last elements in a container, or complex nth-child margins in containers that wrap.

#33991 added a basic UI for it, with a single CSS variable to begin with.

## What is your proposed

[2021-09-03 07:28] jasmussen commented on #32366
Closing this one in favor of separate per-block tasks:

- #34525
- #34526
- #34527
- #34529

[2021-09-03 07:28] #32366 closed, assigned to andrewserong

[2021-09-03 07:28] talldan commented on #33815
I feel like a dedicated Save button could be a better experience, a bit like the current menu screen. But I'd defer to @javierarce's opinion.

I noticed this morning there was some design feedback on the tracking issue mentioning the location of Manage Locations - https://github.com/WordPress/gutenberg/issues/29102#issuecomment-912022091, so maybe this could be revisited anyway.

edit: There's an

[2021-09-03 07:33] youknowriad commented on #34518
cc @jasmussen

[2021-09-03 07:47] andersnoren opened #34531 "theme.json styles are not loaded when previewing a FSE theme in the Customizer"
### Description

If you have a non-FSE theme active, go to the Customizer, click the "Change" button next to the name of the active theme, and select a FSE theme to preview, the preview that gets loaded doesn't include any of the theme.json styles in the theme.

The preview does work if you have a FSE theme active (like Blockbase) and preview a different FSE theme (like TT1 Blocks), but not if you

[2021-09-03 07:48] jasmussen commented on #34518
This is almost certainly a result of #33995, which removed a min-width that every popover was born with. The reasoning is this: the popover should be agnostic to its content, and be able to accommodate both wide content:

<img width="326" alt="Screenshot 2021-09-03 at 09 43 59" src="https://user-images.githubusercontent.com/1204802/131969408-0b7f16ad-15a8-48f8-b129-8d021bbfa628.png">

... but also

[2021-09-03 07:58] jasmussen commented on #34518
Got a fix in #34532, which reapplies a min-width to the _menu item component_, which means most text menus should now not collapse beyond a basic minimum.

[2021-09-03 08:02] #34397 closed, assigned to youknowriad

[2021-09-03 08:21] getdave commented on #29102
Thanks @kellychoffman. Great to have some additional eyes on this ✨

For the purposes of ensuring the list of "Todo" items is actionable, it would be super helpful if we can:

* ensure all the Issues raised are specific / immediately actionable.
* dedupe them against existing Issues.
* add them to the appropriate place under the `High` section.

As I'm sure you're aware, it's very easy for this li

[2021-09-03 09:21] ciampo commented on #33263
Hey @ryanwelcher , thank you for reaching out — your help would surely be appreciated!

Feel free to use this issue (instead of a new ticker) to track components that need better documentation (for example, following your advice, I've just added `AlignmentMatrixControl` to the list!)

Let me know if you ever want to work on improving the documentation for some of these components — I can definitel

[2021-09-03 09:26] netzgestaltung commented on #32648
Hi there,

5 mins ago i updated one of my instances to WP 5.8 with activated Gutenberg and all custom HTML widgets show the same "Forbidden" message in the widgets admin page.

i also found results about htaccess reating to this and i use WPAIOS which has added rules to htaccess - may there be some relation to security plugins (using a restricted param name?)

how do i get to editable widgets agai

[2021-09-03 09:27] talldan commented on #29102
A lot of these are I think covered already, but maybe some things are missing from the tracking issue:

Covered in https://github.com/WordPress/gutenberg/issues/31241, but this isn't part of the tracking issue.

Covered in https://github.com/WordPress/gutenberg/issues/23953, already high priority

Good feedback, lets address this. Could be a Good First Issue.

Also part of https://github.com/WordP

[2021-09-03 09:37] talldan commented on #34518
@jasmussen The logic sounds good. My feeling is this should be considered a breaking change for the components package, so the changelog would need to be updated to say this.

[2021-09-03 09:42] jasmussen commented on #34518
Good point. I'll put together a changelog update in a little bit. Do you think it needs a dev note as well?

[2021-09-03 09:49] talldan commented on #34518
Not sure, it's probably ok just as a note in the package changelog. I think in terms of WordPress core it's probably very very minor, but to users of the package (given the package's remit) it's something they should have more control over when updating.

[2021-09-03 09:50] mupic commented on #34262
Inserting text also does not work in a quote block.

[2021-09-03 10:42] #34138 closed, assigned to oandregal

[2021-09-03 10:56] mvdhoek1 opened #34538 "Proposal: apply filter to value check in core/button block"
In our organization we use buttons without a value. Since 5.8 these buttons are not rendered anymore because of this [check](https://github.com/WordPress/gutenberg/blob/0d6a201ff902267dc7b48e9be355f70c2717e5ad/packages/block-library/src/button/save.js#L29).

Current situation:
[code]

Proposal:
[code]

[2021-09-03 11:03] jasmussen commented on #34518
Updated the changelog in https://github.com/WordPress/gutenberg/pull/34532/files#r701802151, let me know if that looks right.

[2021-09-03 11:52] draganescu commented on #33709
I'm going to close this issue since for widgets we went the route of a new block and for the list view, the problem is more around editing that tree and accessibility.

[2021-09-03 11:52] #33709 closed, assigned to nobody

[2021-09-03 11:53] draganescu commented on #33207
I think we should, yes. But for this issue, @critterverse how should this link look in the header? Like the "preview" button in the post editor?

[2021-09-03 12:04] draganescu commented on #23583
I think we should close this issue as we'll just inherit what the listview supports.

[2021-09-03 12:04] #23583 closed

[2021-09-03 12:11] gziolo commented on #33953
#34104 seems to be very similar. Can we consolidate under one issue? Which one should we go with?

[2021-09-03 12:46] sque89 commented on #26121
@landwire i am in the exact same situation and searching for a solution here. Do you have any news? Thanks!

[2021-09-03 13:01] gziolo commented on #33588
Any plans to update React Native to v0.65 (https://reactnative.dev/blog/2021/08/06/version-065) in the upcoming days?

[2021-09-03 13:03] gziolo commented on #34476
@ciampo or @sarayourfriend, any thoughts on how we can resolve this issue in unit tests?

Should we use a fallback in the code when `CSS` is not defined?

[2021-09-03 13:21] critterverse commented on #33207
This sounds right. But, IMO, this is a pretty disorienting link (i.e. why was I taken to a different editor and where am I now?) and I think this would be giving it way too much prominence by having it be persistently visible in the top bar. Just my two cents 😆

[2021-09-03 13:21] adamziel commented on #34335
Solved in https://github.com/WordPress/gutenberg/pull/34388

[2021-09-03 13:21] #34335 closed, assigned to adamziel

[2021-09-03 13:27] mkaz commented on #32533
I'm not sure it is an issue. Yes, a warning is giving when using `/` for division in, but that is to be expected.
Is the error showing in a project outside of Gutenberg code? The instructions to fix are given in the warning either switch to `math.div()` or use multiplication ie. `$content-width / 2` === `$content-width * 0.5`

This is already updated in the Gutenberg source, here is the relevant[

[2021-09-03 14:12] #34518 closed, assigned to jasmussen

[2021-09-03 15:05] ryanwelcher commented on #22151
Thanks @mkaz! I'll review the linked resource and get myself up to speed with the current efforts and direction. Looking forward to working with you as well!

[2021-09-03 15:21] ryanwelcher commented on #33263
@ciampo sounds great! I'll go through the rest of the Components, add any that need updates here and start on some PRs!

[2021-09-03 15:26] oandregal commented on #34531
Hey, I can repro.

Some info:

- The TwentyTwentyOne theme does load the `global-styles-inline-css` stylesheet. It does not have a `theme.json` but opts-in into link color, which needs the global stylesheet so we load it.
- I've pasted a `theme.json` in the folder of TwentyTwentyOne and I can confirm the global styles also work fine in this case.
- I've also tested switching from TwentyTwenty (no

[2021-09-03 15:48] iamthomasbishop commented on #34429
Ah, that's right, totally forgot about this constraint. In that case, would it be possible to move to a BottomSheet in this context? As I understand it, that would be a lot more flexible and a natural extension of the ActionSheet.

In the immediate term, I'm fine with implementing the "keep/replace" messaging within a Dialog/Alert as you mentioned (without images, of  course), with the preference

[2021-09-03 15:50] oandregal commented on #34531
I've got a fix at https://github.com/WordPress/gutenberg/pull/34540

[2021-09-03 16:01] kjellr commented on #34469
I think the min-width makes sense in general, but it becomes a problem when it interferes with the controls. Can we keep the min-width by default, but lose it/override it when someone chooses a specific width value?

[2021-09-03 16:04] TimothyBJacobs commented on #33815
Yep!

[2021-09-03 16:07] TimothyBJacobs commented on #25093
Just giving a +1 to what @spacedmonkey said.

[2021-09-03 16:14] ciampo commented on #33263
Excellent! Please keep me in the loop with those updates / PRs!

[2021-09-03 16:19] dcalhoun commented on #34429
Definitely. The BottomSheet is completely custom UI, which would allow us to render images.

~One caveat is that we will have to dismiss the Image block BottomSheet in order to display the Featured Image replacement BottomSheet. The BottomSheet relies upon `react-native-modal`, which is [incapable of displaying multiple modals](https://github.com/react-native-modal/react-native-modal/tree/42be52e7

[2021-09-03 16:36] adamziel commented on #25093
As for the way forward now, I agree. Let's do most out of what we already have and then iterate based on what we learn. I started a PR to migrate the editor to current REST API endpoints: https://github.com/WordPress/gutenberg/pull/34541

As for the top-down design discussion, some additional points:

Also network connectivity issues could lead to losing one of the requests.

We can't do that if "

[2021-09-03 17:28] ciampo commented on #34476
We can change the code to something like `CSS?.supports?.( ... )`, although that won't prevent an error if in the future another call to `CSS.supports` will be added to the codebase.

In addition to that, in order to prevent similar errors in the future, I would also consider adding the `CSS` global to the Jest configuration.

[2021-09-03 17:29] richtabor commented on #34538
I'm curious how you're using buttons without `text`. Mind posting an example?

[2021-09-03 17:51] gziolo commented on #34476
https://developer.mozilla.org/en-US/docs/Web/API/CSS/supports – it exists only on the web so it's similar to other usages of API that are present only in the browser. In other places, we add check to ensure that this code will run with Node.js, example:

https://github.com/WordPress/gutenberg/blob/ca67d603637950bc08291ed9208a3f2d2e3e67c2/packages/compose/src/hooks/use-media-query/index.js#L17-L18

[2021-09-03 18:16] Tropicalista commented on #34478
I found my answer here: https://wordpress.stackexchange.com/questions/394062/how-to-set-the-localization-for-a-gutenberg-block?noredirect=1#comment575990_394062

I think this should be added to documentation.

[2021-09-03 18:18] mkaz commented on #34478
I'm glad you found a solution, I've reopened it and labeled as documentation so we can capture it within the docs.

[2021-09-03 18:24] kjellr commented on #33934
Yeah, that's a good point. Seems like a good reason to give this a try at least.

[2021-09-03 18:54] kjellr commented on #33278
Just wanted to resurface the use case of putting social links inside of a navigation block — in many themes I'm working on, we're trying to show these next to the navigation block on desktop:

![Home-1](https://user-images.githubusercontent.com/1202812/132053195-b6f1bba8-b63f-4b1b-8037-e0b8bb8e71d3.jpg)

In this case, they're treated just like navigation icons, but they have icons instead of text.

[2021-09-03 19:50] vcanales commented on #33273
This happens because TT1-blocks loads scripts before the body in the DOM, which means that when the responsive menu initialization was ran, it couldn't find any menus. [Fixed here.](https://github.com/WordPress/gutenberg/compare/fix/tt1-blocks-responsive-menu?expand=1)

This does bring up an interesting question about lazy loading; it would be necessary to load any lazily loaded menus in this mann

[2021-09-03 19:56] vcanales commented on #33273
Something else to note is that the error may have been caused by failures to load the file in earlier versions, but [that has been handled.](https://github.com/WordPress/gutenberg/pull/32814)

[2021-09-03 20:10] vcanales commented on #31765
No longer an issue:

![Kapture 2021-09-03 at 16 09 59](https://user-images.githubusercontent.com/1157901/132060680-b3ad8c1d-2db0-4342-8deb-7c7a75b19cf7.gif)

[2021-09-03 20:10] #31765 closed, assigned to vcanales

[2021-09-03 20:14] vcanales commented on #31957
@pbking Could you confirm if this is still an issue. Testing manually, it looks like it's been fixed.

![Kapture 2021-09-03 at 16 12 51](https://user-images.githubusercontent.com/1157901/132061009-ce935914-47e0-4c42-a7e7-190d560757dc.gif)

[2021-09-03 20:17] porg commented on #9660
1) 👍 Good UI design to have the type-labels "#" "post" page" near the results.

2) ❗️  For huge sites there may be the need to add a layout row below the search box:
Match in: [√] Posts [√] Pages [√] Products  [√] Anchors
But I think that won't be necessary, the next point should solve it almost entirely.

3) 💡 More important than reducing search scope is
a) the intelligence of the search. Should

[2021-09-03 20:24] porg commented on #9660
As of Wordpress 5.8 this feature is not live yet.
- Is there already a alpha version of it?
- Can it be activated with a preference or feature-toggle?

I'm currently building a website with a lot of micro content accessible by #anchor-links and would benefit a lot from a linker dialog which matches #anchor-links too.

[2021-09-04 02:22] mkaz opened #34547 "Create Block: Allow specifying templates to a local directory"
## What problem does this address?

The create block script supports external templates but only those hosted on NPM. It would make it more flexible to test specifying templates from a local directory. This also would help when creating an NPM package of templates for testing without having to publish every change.

## What is your proposed solution?

Add an option to detect if a local directory i

[2021-09-04 03:47] fullofcaffeine commented on #34479
We found another issue that manifests with the `Twenty Twenty` theme on Firefox (`92.0b9 (64-bit), Linux`), `desktop`, and `mobile` viewports. The overflow rules for the title seem wrong or are not applying for some reason, and the title goes beyond the bounds instead of wrapping:

![Screenshot from 2021-09-03 13-48-15](https://user-images.githubusercontent.com/81248/132081435-0e25a189-1b74-4898-9

[2021-09-04 03:52] gziolo commented on #34547
I’m sure it works with local npm packages in the monorepo setup like Gutenberg. I have never tested it with local folders, but it should be only a few lines of code if necessary. The line that loads local template:

https://github.com/WordPress/gutenberg/blob/389a1cc273d629a089f4d28fb40eb39f6be371c5/packages/create-block/lib/templates.js#L127

[2021-09-04 04:30] mkaz commented on #34547
I did try getting it to work with local npm package, but the issue I ran into is that it calls `npm view ${templateName}` to check if the package exists. The `npm view` command only checks against the npm registry, so not local.

It will be relatively easy to code up to make flexible, but will just need some updates

[2021-09-04 07:03] #34348 closed, assigned to nobody

[2021-09-04 09:29] Mamaduka commented on #23705
Closing this issue as #20506 is merged now.

[2021-09-04 09:29] #23705 closed

[2021-09-04 10:19] saur8bh commented on #25483
Hi, It's not working for me... Is there any new code to disable the trash block widgets?

[2021-09-04 13:14] overclokk commented on #32939
I agree, having such system we could do what we do now with PHP templates.

[2021-09-04 13:59] overclokk opened #34550 "Proposal: Remove block-templates and block-templates-parts directories for FSE - Full site editing"
## What problem does this address?
Now we have a `block-templates` and `block-templates-parts` directories designed to integrate with the new FSE, those directories are not essential to make the FSE work, yes, I know that without a block-templates/index.html it does not display the "Site Editor" button, but the same behavior it can be obtained the same without those dirs for example using [File He

[2021-09-04 14:04] overclokk commented on #33512
@iandunn maybe yes, for now I close this issue in favor of https://github.com/WordPress/gutenberg/issues/25612

[2021-09-04 14:04] #33512 closed, assigned to nobody

[2021-09-04 14:16] mkaz commented on #28146
I updated the ticket to clarify that it is not just a documentation change but a feature to allow for specifying a palette is specific for background only colors, or text only colors.

[2021-09-04 14:56] spacedmonkey opened #34551 "Remove redundant calls to widget-type endpoint"
### Description

In the widget edit screen, there are many calls to the widget-type endpoint. Each widget that loads, hits the widget type endpoint to get it's type. However, this is not needed, as when widgets are requests, the api call that is made looks like this

/wp-json/wp/v2/widgets?context=edit&per_page=100&_embed=about&_locale=user

<img width="535" alt="Screenshot 2021-09-04 at 15 54 49"

[2021-09-04 15:49] passatgt opened #34552 "Stuck in select block mode when selecting text inside a block which is wrapped in a group"
### Description

If you have a block that has editable text which you are currently typing and you are trying to select the text with holding down shift and clicking on it, it will instead select the whole block and it will be stuck in this state until you refresh the page, preventing you to edit the text. Happens only if the block in question is wrapped in a group. More clear on a video i guess..

[2021-09-04 16:53] Mamaduka commented on #32594
I was also able to reproduce this via the DevTools console. This method has the same results compared to UI reproduction steps.

## Step by step
[code]

## My guess
The source of the issue might be the `getMergedItemIds`. The following test will fail:
[code]

Is it expected for `getMergedItemIds` not to return unique IDs?

[2021-09-04 22:09] ManniGH opened #34554 "14.1.1 breaks page/posts title in the back end (front end remains fine)"
### Description

Hi there,

This is just to report a bug/incompatibility in the latest version.

When I install 11.4.1, it breaks the title of every single page or post in the back end (only, the front end is fine).

In the admin panel, when editing a page/post:
- The font for the title is huge
- The margins for the title are very narrow
- The title always shows in bold, even when it should show i

[2021-09-04 23:40] carlomanf commented on #34550
The subdirectories are good because old themes could potentially have HTML files for other reasons and we wouldn't want them to be misread as block templates.

As you mention, the file header could achieve this in an alternate way, but it seems like a more complicated way to me. I don't see any real harm that the subdirectories do. I also don't see how the issues you linked are relevant.

[2021-09-05 03:17] khoipro opened #34555 "[Document] Update correct syntax for for prettier-config in README.md"
## What problem does this address?
Try to install npm "@wordpress/prettier-config" from a document: https://github.com/WordPress/gutenberg/blob/trunk/packages/prettier-config/README.md

## What is your proposed solution?

Alternatively, add this to `.prettierrc` file:

[code]

I believe correct syntax must be:

[code]

[2021-09-05 04:13] CandaceJohnsonDesigns commented on #26036
I do agree that the default should also reflect its scale in comparison to the other font size options. However, the default size option is generated by **not** adding a "has-{font-size-slug}-font-size" class to the block. Because the theme determines the default size for the block, typically in CSS, we cannot access this size to imitate it in the select menu.

On top of that, as @carolinan mentio

[2021-09-05 05:48] kevin940726 commented on #25483
@Mrskt We have an updated [doc](https://developer.wordpress.org/block-editor/how-to-guides/widgets/opting-out/) specifically for opting-out of Widgets Block Editor.

[2021-09-05 07:24] maddisondesigns opened #34556 "A Query Block is inserted when Inserting a Posts List Block"
### Description

When you insert a _Posts List Block_, it actually inserts a _Query Loop Block_ instead.

<img width="1440" alt="screenshot_146" src="https://user-images.githubusercontent.com/2078245/132118366-e8c2ff1d-98e1-482a-b874-54f0c82ba603.png">

If this block is simply a customised version of the _Query Loop Block_, then you need to tell users this. Inserting a completely different block t

[2021-09-05 07:47] maddisondesigns commented on #34556
Also, why does it exclude Sticky Posts, and why is there no option to include them? If this Block is supposed to be used within a theme template when FSE becomes available, then why would I want to exclude Sticky Posts?

[2021-09-05 10:39] andersnoren commented on #33385
Just want to 1+ this issue. Screenshot below running Blockbase, showing the differences in position of one alignleft and one alignright image between back-end and front-end.

![blockbase-align-left-right-issue](https://user-images.githubusercontent.com/8181091/132123801-2992e854-3d11-4c90-bef5-635777ae74e3.jpg)

[2021-09-05 10:41] MukulKolpe commented on #34555
Hey @khoipro, can I work on this issue?

[2021-09-05 12:34] mkkeck opened #34557 "Add variant classes to the button link"
## What problem does this address?
Reading changelogs and documentations there is described that button classes and styles have to be applied to `wp-block-button__link` instead of `wp-block-button`.
But selecting for example the button variant `is-style-outlined` is added to the `wp-block-button` instead as suggested to the `wp-block-button__link`.

## What is your proposed solution?
I think, this

[2021-09-05 12:37] richtabor opened #34558 "Improving the Group block Layout panel"
Let's organize around the Group block's "Layout" panel, will house the newer **layout**, **blockGap** and user-defined **child block alignment settings**.

This panel may very well be one of more significant experiences we create. Making this simple and delightful will empower users to lay out child blocks within a Group with more ease and control than they've ever had.

New layout-related control

[2021-09-05 12:39] richtabor commented on #33687
I riffed on some ideas as part of a big-picture proposal for the Group block's layout panel. Thoughts? https://github.com/WordPress/gutenberg/issues/34558

[2021-09-05 12:44] overclokk commented on #34550
So this can be simple solved with File Heading as is also done for custom template files.
Main template files like index, single, page and so on should be placed at the root level of the theme directory not inside an another subdirectory.

I don't know why in a theme there should be HTML files called index, single, page and other hierarchical names, every name used by core should never being used

[2021-09-05 13:20] overclokk commented on #29568
First of all I think that if I add colors, gradients or font sizes to a theme.json those generated by the core should not be loaded at all.
Core should add defaults only if theme doesn't have its own.

Second, the UI is primarly for who cretes the layout, who really uses the site is who inserts articles and media (so there should be also a role for theme.json settings).

And I agree with this:

@m

[2021-09-05 14:11] paaljoachim commented on #29560
It would be very helpful to get some movement on this PR!
Thanks!

[2021-09-05 14:13] paaljoachim commented on #29561
It would be helpful to get some movement on this PR!
Thank you!

I look forward to seeing the Table of Contents block included in the Gutenberg plugin.

[2021-09-05 16:47] mkkeck opened #34559 "Register new variation for social link does not work"
### Description

I have following code:

[code]

### Step-by-step reproduction instructions

1. Register a new variation for social link.
2. Search and insert the new variation
3. Now the icon of the new social link should be displayed, but the chain /share  is displayed.

### Screenshots, screen recording, code snippet

![screen1](https://user-images.githubusercontent.com/221248/132134727-a8162a8

[2021-09-05 23:50] andrewserong commented on #34527
There's a PR in progress that will address this — #34546 (thanks for picking that up, @stacimc!)

[2021-09-05 23:57] CandaceJohnsonDesigns commented on #26036
After more thought, adding a class on "hover" would restrict the devices to only those who handle pointer events (ie **not** mobile). This may not be a big deal, but with over half of internet usage being on mobile devices, who knows...

I still think that **scale comparison should be removed** if it is not consistent with the theme design. Some themes change type scale for responsive design as we

[2021-09-06 00:30] #34276 closed, assigned to glendaviesnz

[2021-09-06 00:48] andrewserong commented on #34529
Thanks for writing up the tracking issue for the next steps on this one, Joen! There's a couple of challenges to exploring how we can split out the values. I'll add some dot-points here to hopefully lay out where things are at now for any of us who might pick up this task!

***Note:*** The thoughts below are a little rambling, and other folks might already have better ideas about how to handle thi

[2021-09-06 01:06] mikeatamplify opened #34561 "TypeError: f is not a function"
Went to edit my pages in wordpress like normal and every time I click on a page it says "The editor has encountered an unexpected error." This is the error. Any help would be awesome! And in as simple language as possible because coding is NOT my thing, unfortunately!

TypeError: f is not a function
    at T (https://amplify-fitness.com/wp-content/plugins/gutenberg/build/rich-text/index.min.js:1:3

[2021-09-06 02:22] talldan commented on #10595
I re-tested this again today. I found it was possible to tab to the width control, but it wasn't particularly easy. It took several 'tab' key presses. This probably still needs improvement.

[2021-09-06 03:04] a4jp-com commented on #22801
The inserter isn't showing above the first div. Any way to get that fixed at the same time?

[2021-09-06 03:24] talldan opened #34564 "Undo/redo trap in the navigation block"
### Description

Observed by @getdave in https://github.com/WordPress/gutenberg/pull/34533#pullrequestreview-746168727.

Undo doesn't work as smoothly as it could often requiring mores steps than needed to undo.

It's also not possible to 'redo' adding link blocks.

I search for previous reports of this problem, #33911 may be related to this.

### Step-by-step reproduction instructions

1. Add x3

[2021-09-06 03:48] talldan commented on #33424
An observation is that I've been seeing this error in incredible frequency with this PR - https://github.com/WordPress/gutenberg/pull/34533.

Notably, that PR contains changes to the package-lock.json because it changes the dependencies of one of the packages. I wonder if these kind of changes could be a trigger for the problem in our CI.

[2021-09-06 04:31] talldan commented on #34564
This effect seems to be what causes the extra undo level when adding navigation links:
https://github.com/WordPress/gutenberg/blob/f0e66a18edc16c97136736dd08da5cf94a7ca138/packages/block-library/src/navigation-link/edit.js#L357-L358

When undoing the addition of a Page Link block, the following steps happen
1. URL and label attributes removed
2. `isTopLevelLink`attribute is removed
3. Link block r

[2021-09-06 04:46] talldan commented on #34564
Out of interest, I commented out the line that sets the `isTopLevelLink` attribute, and it seems to solve the issue with the redo trap. That code seems to have originated in this PR - https://github.com/WordPress/gutenberg/pull/31149.

I don't really know what this code does. The comment above the line says 'Store the colors from context as attributes for rendering', but that doesn't seem to be wh

[2021-09-06 04:51] glendaviesnz commented on #33484
@talldan, we ended up removing the `blocks-gallery-grid` class as it was superfluous in the refactored layout, and just added an extra level of specificity for theme authors to try and override [as noted here](https://wptavern.com/gallery-block-refactor-expected-to-land-in-wordpress-5-9) - do you think it is still worth renaming the `Gallery` component to `Grid` anyway - I think it probably is, be

[2021-09-06 04:59] tellthemachines commented on #33278
@kjellr it's already possible to add the Social Icons block inside the Navigation block. However, there are a few layout styling issues, discussed [here](https://github.com/WordPress/gutenberg/pull/32367#issuecomment-910053475) so there may be changes to how those blocks are added in the near future.

[2021-09-06 05:07] talldan commented on #34564
I'm think I have an understanding of this now:
1. User clicks undo, then redo
2. This triggers the side effect of modifying the `isTopLevelLink` attribute.
3. The `setAttribute` call in step 2 modifies the undo stack so that a 'redo' is no longer possible.

This is in essence the same thing as if a user clicks the undo button a bunch of times and then makes some changes manually, you lose the abil

[2021-09-06 05:19] noisysocks commented on #33207
Should we just remove the link altogether if it isn't solving any problem?

[2021-09-06 05:32] mvdhoek1 commented on #34538
No problem:
![132165484-1b5f4969-2e44-4f8f-a8ef-4064115a7639](https://user-images.githubusercontent.com/11852816/136014845-03e0c569-7e1e-441b-8822-6020ea295b7f.png)

[2021-09-06 06:08] talldan commented on #33484
You could do, but I don't feel strongly about it. Feel free to close this if the classname no longer mismatches the component name.

[2021-09-06 06:14] andrewserong commented on #34558
Thanks for raising the discussion @richtabor!

For block gap at least, we have a control that was introduced in https://github.com/WordPress/gutenberg/pull/33991 as part of the Dimensions panel, to sit alongside padding and margins for those blocks that opt-in to the `blockGap` support for controlling spacing at the individual block level. We have some follow-on issues to opt-in to the blockGap su

[2021-09-06 06:24] andrewserong commented on #34558
Here's a quick look at how it currently looks in the Group block if we set `"blockGap": true,` under `spacing` in the group block's `block.json`:

![group-block-gap-sml](https://user-images.githubusercontent.com/14988353/132170024-c06b97cf-fc3d-4f56-8d01-9f9374bd2bf6.gif)

[2021-09-06 06:40] talldan commented on #33969
Thinking some more on this, a fundamental factor of any migration would be to prevent data loss for the user.

I've been thinking that it might be preferable to leave the user's data completely in-tact.

Each menu could have a type of either 'classic' or 'block-based':
- Existing menus are classic menus that would be backward compatible (as much as possible) and always render using the current wal

[2021-09-06 06:56] talldan commented on #34559
@mkkeck The `icon` attribute is the block icon that you see in the inserter or sidebar rather than the social icon.

It looks like the icons shown in the editor are currently hard-coded:
https://github.com/WordPress/gutenberg/blob/44d1d3237948ef7c8a4e9a4f68773f89bf1b6bf1/packages/block-library/src/social-link/variations.js#L4-L47

So I don't think this is extensible. The only option is to complete

[2021-09-06 06:56] #34559 closed, assigned to nobody

[2021-09-06 06:57] talldan commented on #19041
A user reported #34559 (closed as a duplicate) mentioning they'd tried to register their own variation. I linked them to this issue.

[2021-09-06 07:00] overclokk commented on #29568
I forgot that `slug: "h1"` will be converted in `--wp--preset--font-size--h-1`
So the second approach correct for font sizes is this:

[code]

[2021-09-06 07:03] jasmussen commented on #34469
Good thought. It's a tricky balance of providing intuitive behavior along with smart defaults. CSS obviously has both min-widht and width properties to give you the control, a nuance probably best not surfaced here. Would a solution be to set _both min-width and width_ properties at the same time?

[2021-09-06 07:12] youknowriad commented on #34558
Hi Rich!

I agree that this panel needs some design explorations and iterations to get right. Related issues #31950 and #33687

First I'd like to react conceptually on the proposal above. For me it misses an important piece: alignments don't make any sense in the horizontal layout (or row) and each "layout type" (now we only have horizontal/flex and vertical/flow) can have completely different opt

[2021-09-06 07:23] cricalix commented on #9457
Hello. It's been a year since the last update on this work - has any progress been made that brings Gutenberg to parity with the older editor?

[2021-09-06 08:18] ellatrix commented on #34479
I cannot reproduce the issue in Firefox with Twenty Twenty. The text seems to wrap fine for me.

![image](https://user-images.githubusercontent.com/4710635/132184192-8094294a-7d4e-4c46-9cd3-f7bc5799b578.png)

[2021-09-06 08:30] gziolo commented on #33424
@talldan, you linked this issue. Is it related to the fix to the mobile dependency that is a forks of a package?

[2021-09-06 09:03] talldan commented on #33424
So I did! I've edited my comment.

[2021-09-06 09:05] maddisondesigns opened #34569 "Preview options don't actually show the page as it would appear in the browser"
### Description

The new Desktop/Tablet/Mobile Preview options are mostly useless and don't provide an adequate preview of the page.

For a start, clicking the "Desktop" Preview option does absolutely nothing. Clicking the "Tablet" or "Mobile" preview options simply reduces the width of the editor area. It doesn't provide a real representation of what the page looks like on the front end, in the b

[2021-09-06 09:17] mkkeck commented on #34559
Okay, that would not a problem to me patch the variations to display the correct icon in the backend, when I try to extend the variations json.

But on the front end pages the new added icon is still not shown, instead the share icon is displayed.

What I've done to get it work:
1. Extend the block with new variation
2. Rewrite and refactor the complete PHP code for rendering the social link into

[2021-09-06 09:23] harbran opened #34571 "Entire block's content deleted on single backspace in Vivaldi when the plugin is active"
Same issue as #13979 (Firefox), this time when using Vivaldi Browser (Linux).
Using Chrome or Firefox works fine.
Regards
Harald Brandstetter

[2021-09-06 09:34] talldan commented on #34559
@mkkeck Yes, you're right that the PHP rendering code is also hard-coded and uses an icon defined there, it seems like it needs to be replaced entirely.

I'm an atheist so I don't believe in that. 😄

This issue is closed, I think it'd be good to leave comments on #19041 as comments here are unlikely to be seen by anyone other than me.

I notice there is also a pull request that seeks to resolve th

[2021-09-06 09:55] ciampo commented on #34476
I've done some further investigation and also found out this related ticket — jsdom/jsdom#2026

I've also opened #34572 which adds a check to make sure that `CSS.supports` is only called in a browser environment, as discussed.

Should we also consider editing the Jest config and add `CSS` as a global, in order to prevent a similar issue from happening in the future?

[2021-09-06 09:58] andersnoren opened #34573 "FSE themes: Have theme.json handle minimum widths of blocks"
## What problem does this address?
I had a hard time searching for this, so apologies if I missed an existing issue for it.

I’ve been thinking about FSE themes and container widths – specifically, the width of blocks when the screen is thinner than the `max-width` set by settings.layout.contentSize and settings.layout.wideSize. By default, if you resize your screen to be thinner than these values

[2021-09-06 09:58] gziolo commented on #34476
With #34572, is that still necessary? I think it's a good thing as it helps us to catch some potential bugs with non-browser envs.

[2021-09-06 09:59] ciampo commented on #34476
Good point. Let's leave the config untouched, then.

[2021-09-06 10:27] mtias opened #34574 "The Global Styles Interface"
_In collaboration with @pablohoneyhoney. Not finalized._

Previously #27473.

This issue covers the broad design aspects of global styles, the upcoming user interface for `theme.json`. For the broader implementation roadmap check #20331. The global styles interface aims to allow managing design aspects of a site globally and across blocks. The current interface merged in the plugin is merely a ten

[2021-09-06 10:32] mkkeck opened #34575 "#34334 Breaks styles in theme's styles.css"
### Description

#34334 Breaks some styles in themes-name/styles.css.
For example responsive font sizes defined in theme's styles.css won't work.

### Step-by-step reproduction instructions

For example I 've follow rules in my CSS file which enables responsive font sizes:

[code]

But with the #34334 there's an inline style added, which merges WordPress default global styles with the settings fro

[2021-09-06 10:41] Mamaduka commented on #29102
The #34224 issue is listed in both High and Normal priority lists.

[2021-09-06 10:43] Mamaduka commented on #34555
Hello, @MukulKolpe

PR for this issue would be much appreciated.

[2021-09-06 11:02] nielslange commented on #32533
@mkaz What I meant is, that I think this issue can be closed as it's no longer relevant. I would close it, if I would have the necessary permissions. As I don't have them, I pinged you.

[2021-09-06 11:07] mtias commented on #27473
Moving over to #34574.

[2021-09-06 11:07] #27473 closed

[2021-09-06 11:08] mtias commented on #33094
**Update**: added "The Global Styles Interface" to the styling milestone #34574.

[2021-09-06 11:13] mtias commented on #27331
There's an updated overview issue focused on global styles that expands on this one to further detail: #34574.

[2021-09-06 11:20] NenadObradovic opened #34577 "Improve RangeControl with placeholder attribute"
Hello guys,

Could you please consider improving the RangeControl component with a placeholder option as we have in TextControl?

The placeholder can appear inside the input[type="number"] field.

Best regards,
Nenad

[2021-09-06 11:24] jasmussen commented on #33820
To visualize this, there are some good mockups in #34574 that illustrate the behavior above. Instead of duplicating all available color palettes for each a single item in a group is shown as a swatch plus a label:

![step1](https://user-images.githubusercontent.com/1204802/132209474-b98a1f92-b9f6-4f07-8e31-4ba93cfaa3a4.png)

Click an item in the group drills down to a dedicated subpanel showing al

[2021-09-06 12:34] CreativeDive commented on #34333
I can confirm, I get the same error messages by using the "enqueue_block_editor_assets" action.

In my case I have global block styles, which are not block specific.

Why this error messages are added with the latest release?

[2021-09-06 13:11] mkaz commented on #32533
:+1: Great, thanks!

[2021-09-06 13:11] #32533 closed, assigned to nobody

[2021-09-06 14:07] karmatosed commented on #34558
@richtabor, it’s great to see this explored visually and coming together with the iterated language. It looks like: https://github.com/WordPress/gutenberg/issues/34574 has a lot of advancements coming, which is really exciting to see.

Though there is still room for iteration around alignments, I’d be interested in the quick wins here and see what is left to work on. For me, I am not totally convi

[2021-09-06 14:11] draganescu commented on #33207
I think then maybe this should have its own trac proposal or something :D It is a very old link.

[2021-09-06 14:14] #34476 closed, assigned to ciampo

[2021-09-06 14:24] bph commented on #34577
Hi Nenad,
What would be the benefit of the feature? Do you have an example on how this could look?
Maybe you can elaborate some more.

[2021-09-06 14:29] bph commented on #34392
Is the heading block getting padding/margin support?

[2021-09-06 14:39] #33792 closed, assigned to Mamaduka

[2021-09-06 14:40] bph commented on #34218
@kopepasah Did you get any further with your investigation? If you are still think it's not a block-editor specific issue, maybe you can close it and open a trac ticket for WordPress Core?

[2021-09-06 14:43] oandregal commented on #34507
PR to fix this at https://github.com/WordPress/gutenberg/pull/34586

[2021-09-06 14:49] oandregal commented on #34317
Ran this by Riad and this is the context I've gathered:

- themes now define `layout.contentWidth` and `layout.wideSize` which already control the visibility of the alignment controls
- float options (left, center, right) are unaffected by the existing layout (they are always visible if the block supports it)
- disabling alignment options per block can be confusing to users
- we have different lay

[2021-09-06 14:55] richtabor commented on #34558
@youknowriad Gap seems more like a layout feature to me. If I set horizontal or vertical blocks, I would expect to next be able to adjust the space between them. But I understand the idea of standardizing the Dimensions UI across blocks that support blockGap.

For Dimensions, are there other plans aside from Margin and Padding?

I agree. Definitely needs some logic here, to perhaps remove those co

[2021-09-06 15:07] bph commented on #34571
@harbran I used the #13979 set of test instructions,

1. Go to A New Post with the Gutenberg Editor
2. Begin typing anything into the empty block
3. Hit backspace
4. Entire block's content deleted.

And I wasn't able to reproduce any content deletion on single backspace with this configuration:

- Vivaldi browser (4.1.2369.21 )
- on a Mac 10.15.7.
- using the Gutenberg plugin version 11.4.1 and
-

[2021-09-06 15:10] ciampo opened #34587 "`ToggleGroupControl`: backdrop doesn't update when changing `isAdaptiveWidth` prop"
### Description

the black highlight behind the currently selected item doesn't update when the `isAdaptiveWidth` is updated

### Step-by-step reproduction instructions

1. Open `ToggleGroupControl` story
2. Set `isBlock` property to `true`
3. Toggle the `isAdaptiveWidth` property
4. Notice how the background color of the selected item doesn't update to fit the new size of the item

### Screenshot

[2021-09-06 15:11] richtabor opened #34588 "Should blockGap be used to set padding for .has-background padded blocks?"
## What problem does this address?
Ultimately, inconsistent visual rhythm of a site's design.

Gap is the vertical/horizontal rhythm of content, of which is also relevant as the gap between these blocks that support background color, and the content within them. So instead of using arbitrary values for this padding, let's consider using the blockGap value to also define the padding in these blocks

[2021-09-06 15:16] richtabor opened #34589 "I should be able to set the Group block “inherit” setting to true from theme.json"
## What problem does this address?
This setting has a big impact in how child blocks within Groups display (either inheriting the parent block’s alignment width, or allowing individual blocks to set their own alignment).

Having the ability to set the default value here from theme.json would allow users t maintain the theme’s intended layout flow.

<img width="800" alt="Group 174" src="https://use

[2021-09-06 15:19] richtabor opened #34590 "Persist typography settings when transforming between blocks"
## What problem does this address?
Today, if I set a Paragraph block to have a font size of “Extra Large”, then switch to a Heading block, I loose that font size attribute on the Heading block, even though I intentionally set it previously. I’d expect that the settings I opt a block into, would be carried over to the new, transformed block (if that block supports those settings).

<img width="697"

[2021-09-06 15:20] Sandstromer commented on #34575
I have queried the use of the `!important` rule a few times in various issues.

It is quite often completely unnecessary, and with every new release of Gutenberg there seems to be more and more instances of `!important` being used.

Sorry I don't know what the answer is long term, as I don't think Gutenberg is going to stop using it any time soon.

[2021-09-06 15:22] richtabor opened #34591 "Persist colors when transforming between blocks"
## What problem does this address?
Related to #34590, but for colors. If I set a color to a Heading block, then transform it to a Paragraph block, I'd expect the color I choose to be used, to also be used on the transformed instance of the block.

Transforms are meant to be a quick method to get from one block to another; they should not be destructive. Currently the colors are omitted entirely fr

[2021-09-06 15:25] NenadObradovic commented on #34577
Hello bph,

Please watch this video example https://www.screencast.com/t/GcjzqXaKL

I created an Advanced range component that contains a screen switcher to easily change some option values between devices.

If you have a similar case, it will be a good feature to allow users to know at any time what the initial value of that option is, when they testing site responsive. ( In order to adjust optio

[2021-09-06 15:27] richtabor opened #34592 "Additional css classes should be applied to transformed blocks"
## What problem does this address?
When transforming blocks between each other, classes added through the Advanced Additional CSS field are not carried with the transform. Is there a clear reason behind this? Related to transforms explorations in #34591 and #34590.

## What is your proposed solution?
I’d expect that if I’ve added a class myself, that class would be persistent when transforming a b

[2021-09-06 15:28] NenadObradovic commented on #34577
I forgot, it can be the default placeholder attribute for HTML element https://www.screencast.com/t/lLHu6m2IA

[2021-09-06 15:35] Sandstromer commented on #34592
Is there any way of detecting whether a class has been added by the user, versus a class added by selecting a block style?

What I'm getting at is a block style and its CSS class will often be specific to that block, and keeping the class when transforming a block could possibly lead to confusion?

[2021-09-06 15:35] critterverse commented on #33716
Here’s a preliminary pass at how persistent List View might work in the Customizer. Since space is limited, I wonder if the sidebar area could be segmented vertically, with the top section featuring the List View and the bottom section containing the editor.

![list-view](https://user-images.githubusercontent.com/77359364/132238943-6555d9d3-dceb-4309-9fb4-032e2df238b3.jpg)

Note that in order to a

[2021-09-06 15:39] richtabor commented on #34592
Not 100% sure myself, but we could omit `.is-style-...` from being carried over.

[2021-09-06 15:46] javierarce commented on #33815
The sidebar (and its save button) should only affect the current menu, so I agree with @talldan: we need to have a save button inside the modal and we should also show a snackbar message to indicate that the locations were updated.

Otherwise, it gets super confusing if, for example, I reassign locations and then click the edit button next to an item. In that case, I'm not sure if I'll need to cli

[2021-09-06 15:48] mehov commented on #33558
@getdave Hi, thank you for pointing that out. I did find [the mention of `RawHTML`](https://github.com/WordPress/gutenberg/issues/24282#issuecomment-688260217) and have tried to remove it from my website's javascript code, for example in these places:

- in `wp-includes/js/dist/blocks.js` line 5436:
[code]
   I have tried to all kinds of ways to disable the RawHTML filter here, but it seems it ski

[2021-09-06 15:50] devfle opened #34594 "Image Block: Image scales too large during editing"
### Description

When using the crop function, the image is enlarged very much depending on the outer container. This happens because the image itself has been given a height and width of undefined.

If you resize the image it gets a height and width attribute and the image is easier to edit and is no longer enlarged.

### Step-by-step reproduction instructions

1. Add Image Block
2. Choose smalle

[2021-09-06 16:11] bph commented on #34577
@NenadObradovic,  looking at the [component Readme](https://github.com/WordPress/gutenberg/blob/14624ba070c9a7a9b18fddb22ba9b88a9ca304e8/packages/components/src/range-control/README.md), I discovered that there is already an implementation for the input field so a user can add the numbers.

See this video from the Group block implementation

https://user-images.githubusercontent.com/39980/13224239

[2021-09-06 16:14] nenad commented on #34577
@bph Wrong Nenad 😄 @NenadObradovic is who you need.

[2021-09-06 16:51] javierarce commented on #29102
Thanks for the review, @kellychoffman!

Regarding "How can I see how this looks? Or apply different layouts/styles?", I'd like to point out this exploration I did some time ago:

- #31074

[2021-09-06 17:13] Mamaduka commented on #33792
PR is merged, and the update should be available in Gutenberg 11.5. The notice only will be displayed on the Themes screen.

[2021-09-06 17:13] strarsis commented on #14744
Just ran into this issue again today. Well, I still have to use a cover block inside the column block.
One could philosophize that the job of the column block is to ensure the layout, and the cover block to show a background color/image behind its content.
On the other hand, the functionality of some blocks overlap and they differ in their meaning instead (heading and paragraph).

Re-usable blocks

[2021-09-06 17:33] mtias commented on #34590
Yes, this is a great point, style attributes that are supported in both the origin and target blocks could be preserved.

[2021-09-06 17:37] jasmussen commented on #29506
I have an update on the visuals. This one features the basic alignments, plus wide and full-wide. The center icon has been updated, and the previous icon for centering has been repurposed for indicating "None". There's help text for "None" and "Wide", to show the values for the content and wide area layout values.

<div align="center"><img width="444" alt="Group 259" src="https://user-images.githu

[2021-09-06 17:40] mtias opened #34597 "Show "none" as an alignment option and use contextual text to clarify settings."
Updates the design of the alignment dropdown to include "none" as an option (it's the same as unsetting). The center icon has been updated, and the previous icon for centering has been repurposed for indicating "None". There's help text for "None" and "Wide", to show the values for the content and wide area layout values.

<div align="center"><img width="444" alt="Group 259" src="https://user-imag

[2021-09-06 19:20] porg opened #34599 "When changing a slug offer options to update internal incoming links"
# Problem Scope
- I outlined the overall problems I see with link management and link healing in Wordpress in this [core feature request](https://core.trac.wordpress.org/ticket/54024).
- 10 days passed, I researched & tested a lot, got feedback from you the Wordpress community!  Conclusion:
  - 👍 All issues outlined in that feature request can be solved with plugins, see next section.
  - ❌ Except

[2021-09-06 20:12] jorgefilipecosta commented on #34286
It seems like colord combined with the names and a11y plugins provides the functionality we need. The readability from tinyColor that is widely used is the same number as contrast in colors. There is a function in tinycolor2 to return the most readable color from an array of colors that we also use in some cases including for providing a public API abstraction on top of (getMostReadableColor), tha

[2021-09-06 21:27] glendaviesnz commented on #33484
Given that the className clash is no longer an issue I am going to close this for now.

[2021-09-06 21:27] #33484 closed, assigned to glendaviesnz

[2021-09-06 21:44] mdrovdahl opened #34602 "Object Replacement Character in post title crashes Gutenberg 11.4.0/11.4.1"
### Description

I am able to create a new post with a post title containing the OBJ character, after saving or publishing it and exiting the editor, the editor crashes when trying to re-open the post for editing. I was unable to replicate the issue using Gutenberg 11.3.0

Sample post title: "This post title crashes Gutenberg `&#xfffc;`"

### Step-by-step reproduction instructions

1. Create a new

[2021-09-06 21:45] bph commented on #34561
Hi @mikeatamplify
This sounds like a plugin conflict with a 3rd party plugin. Did you double-check that this is happening with a default theme, and all other plugins deactivated?
You can do so via the [Health Check plugin ](https://wordpress.org/plugins/health-check/) (it's non-developer safe!) and its Troubleshooting Mode.

Without any details about your site (WordPress version, Gutenberg version

[2021-09-06 21:48] mdrovdahl commented on #34602
cc: @ellatrix as I think you may have experience in this area of the codebase. [Updated] Also seems possible related to https://github.com/WordPress/gutenberg/pull/34020

[2021-09-06 22:10] westnz commented on #15827
I included three Twitter URLs and the first link in the block is displayed in text.

![image](https://user-images.githubusercontent.com/89751452/132262761-b168074d-ebef-4cb7-a1b5-868997924e49.png)

![image](https://user-images.githubusercontent.com/89751452/132262919-84ca67d3-04d6-4c5e-86f0-222a001facab.png)

[2021-09-07 01:23] richtabor commented on #34333
I've run into this as well.

[2021-09-07 01:25] richtabor commented on #34597
May be overthought, but perhaps there's a way to dismiss (_localStorage_) the "Your theme doesn't support.." notice so that it brings awareness, but doesn't convey the theme being sub-par every time you see this?

[2021-09-07 01:42] richtabor opened #34607 "Improve search experience of the Quick Inserter"
## What problem does this address?
When searching blocks from the Quick Inserter, if I can't find what I'm looking for, I am presented with a "No results found" notice with the persistent "Browse all" button below it.

When selecting "Browse all" the Quick Inserter closes and the Block Library sidebar opens up in its default state. At this point, **the experience of not finding a block or pattern

[2021-09-07 02:11] tmatsuur opened #34609 "Tweak LabelWrapper's max-width."
## What problem does this address?

The 'Custom' label in the typographic properties translates to 'カスタム' in Japanese.
In my environment, the width of the label is just a little bit too short, so it is translated as 'カスタ...'. in my environment.
Is it possible to improve this problem?

![image](https://user-images.githubusercontent.com/495138/132445895-b8937f0b-1725-4dfe-bfd4-17434dd9f8c7.png)

My

[2021-09-07 03:56] westnz commented on #34215
I was able to reproduce this.

[2021-09-07 04:28] #32723 closed, assigned to noisysocks

[2021-09-07 04:56] noisysocks commented on #33207
Core-28032 is where the link was originally added seven years ago. It was intended to guide users to the Customizer because, at the time, the forecast was that Appearance → Widgets and Appearance → Navigation would go away in favour of the Customizer. I don't believe that is the current forecast. Both screens are here to stay and may be adopted by FSE.

[2021-09-07 05:02] #34564 closed, assigned to talldan

[2021-09-07 05:30] glendaviesnz commented on #34602
I was able to replicate this on latest trunk.

[2021-09-07 05:36] #34555 closed, assigned to nobody

[2021-09-07 05:37] glendaviesnz commented on #34554
@ManniGH, are you able to add some screenshots of what you are seeing, a comparison of the 14.1.0 versus 14.1.1 would be helpful if possible

[2021-09-07 05:39] #33533 closed, assigned to glendaviesnz

[2021-09-07 06:27] draganescu opened #34611 "Filter the nesting level of items in the navigation block"
Draft

We're currently hardcoding the nesting level of links in the navigation block to 5. I believe we should allow people to change this value.

[2021-09-07 06:30] draganescu commented on #33207
This is some bike shedding but it's fun. The use case it serves is that one may use the space of the full editor and then also switch to the customizer for "live preview". But this use case would be served if we also added a "switch to stand alone editor link" in the customizer version as well.

[2021-09-07 06:34] CreativeDive commented on #34333
@bph is this issue only related to "Backwards Compatibility" and "CSS Styling"? For me it sounds like wrong error messages.

This error message are also fired by styles which are included by `admin_enqueue_scripts`. But this styles are only related to the admin screen, not block related. It seems there is something wrong with this block styles check.

And on the other hand, the block style check s

[2021-09-07 06:44] talldan opened #34612 "Navigation Block: save data to a custom post type"
## What problem does this address?
One of the aspects of the navigation block discussed in the past has been how it saves its data.

In the past WordPress menus championed reusability, you can assign one menu to multiple locations on a site. When the navigation block was first envisaged, there was a discussion about whether the menu storage system (custom post types for menu items and I believe a

[2021-09-07 07:04] mkkeck opened #34613 "Please don't hardcode essential theme specific things."
## Block editor does not respect theme developers / designers work.
The Gutenberg editor has portential, is a great project and makes using WordPress really easier.

But some times its also really confusing and frustating, that the block editor does overwrite theme's styles or does not give theme developers and designers options to configure some block settings and features. Please let theme devel

[2021-09-07 07:37] NenadObradovic commented on #34577
Hello @bph ,

Yup, that's right but we misunderstanding :/

At this moment if you add the RangeControl component you can set the input field next to rails and you can also set a default value, that value will show inside the input field.

But that's not what I need, my idea is that there is a **placeholder** value for the input field not **value**

Imagine you have 3 options one below the other, w

[2021-09-07 07:39] gziolo commented on #34286
I see this call in https://github.com/WordPress/gutenberg/pull/34605:

[code]

How is it going to scale? Can you extend with the same plugin multiple times?

I would also argue if the bundle size is going to be the deciding factor with the plugin architecture, the core library is smaller than `tinycolor2` (5 kB):

<img width="509" alt="Screen Shot 2021-09-07 at 09 33 32" src="https://user-images.g

[2021-09-07 07:46] brylie commented on #34325
@gziolo, in what way(s) would the NPM package publication workflow be affected by having a separate project for `wp-env`? What are some ways we can raise contributor awareness of `wp-env`? What additional maintenance costs might the `wp-env` project incur by being in a separate repository?

[2021-09-07 07:52] brylie commented on #34325
Relatedly, a single-line pull request for `wp-env` documentation is [currently blocked by failing Gutenberg end-to-end tests](https://github.com/WordPress/gutenberg/pull/34322#issuecomment-914055014).

I still believe that moving `wp-env` to a separate project repository would make development more simple and clear. In effect, `wp-env` is a useful tool for general WordPress (PHP) developers as wel

[2021-09-07 08:04] #21553 closed

[2021-09-07 08:08] gziolo commented on #34325
I asked more folks on WordPress Slack to leave their feedback (link requires registration at https://make.wordpress.org/chat/):

https://wordpress.slack.com/archives/C02QB2JS7/p1631001940283000

[2021-09-07 08:08] ManniGH commented on #34554
Hi Glen,

Sure, here are two screenshots.

Here is one after creating a new page with 14.1.1 (the issue is there with all existing pages and posts, I just thought I'd create a new one so you can see it's not because of any existing content).

![1  Gutemberg test page with 14 1 1 (incorrect title formatting)](https://user-images.githubusercontent.com/14205865/132308503-73888541-7ab7-49dd-ac07-69c38

[2021-09-07 08:22] #23953 closed

[2021-09-07 08:22] #33999 closed, assigned to talldan, tellthemachines

[2021-09-07 08:22] #30745 closed, assigned to nobody

[2021-09-07 08:46] #33411 closed, assigned to Mamaduka, Patil2099

[2021-09-07 09:12] youknowriad commented on #34325
I'm on the opinion that a separate repository is just going to require more maintenance work for no real gains. The setup to publish npm is already in place here, there are already folks working and following this repo. A separate repo would require building new workflows, a new team dynamic that I don't think is worth it personally. I'm also of the opinion that all WP npm packages should just be

[2021-09-07 09:20] swissspidy commented on #34325
The same arguments here about running tests and finding issues could be made for other packages, not just `@wordpress/env`. And they are not un-solvable tasks.

https://github.com/WordPress/gutenberg is the de facto monorepo for all WordPress JavaScript packages (replacing https://github.com/WordPress/packages, if you remember that one). There are indeed benefits to keeping all these things in one

[2021-09-07 09:32] mtias commented on #34597
Perhaps we can reword it so that it's less of a "doesn't support" and more of a choice? We could use the same wording as on containers that don't have wide / full for various reasons, like columns or there being a sidebar.

[2021-09-07 09:34] getdave commented on #34232
I've pinged the contributors on https://github.com/WordPress/gutenberg/pull/16811 to see if there were good reasons why this approach was abandoned and also to see if we can restore the branch and continue to build on the approach there.

[2021-09-07 09:35] ciampo commented on #34286
From our initial investigation, I remember finding a potential (small) breaking change: https://github.com/WordPress/gutenberg/pull/34014#discussion_r687904062

@jorgefilipecosta, would you mind looking into it as well and confirming if our initial findings were correct?

~~It looks like the [`extend` function supports an array of active plugins](https://github.com/omgovich/colord/blob/master/src/

[2021-09-07 09:36] getdave commented on #34234
FYI the List View part of this puzzle looks like it may be addressed by https://github.com/WordPress/gutenberg/pull/34022.

[2021-09-07 09:36] #34587 closed, assigned to ciampo

[2021-09-07 09:49] youknowriad commented on #34558
I think folks were working on adding height, widths

[2021-09-07 09:59] #33474 closed, assigned to nobody

[2021-09-07 10:00] #34506 closed, assigned to Mamaduka

[2021-09-07 10:14] #20903 closed

[2021-09-07 10:22] oandregal commented on #34531
Meta trac ticket that may be related https://meta.trac.wordpress.org/ticket/5818#comment:4 (previews for themes with theme.json not working consistently in the theme directory)

[2021-09-07 10:53] #34507 closed, assigned to oandregal

[2021-09-07 11:01] #34414 closed, assigned to nobody

[2021-09-07 11:09] Mamaduka commented on #32594
Fixed via #34583.

[2021-09-07 11:09] #32594 closed, assigned to nobody

[2021-09-07 11:44] kjellr commented on #34469
I think so — in this case, when you set it to be 25%, you want it to be exactly 25%. So setting both rules would make that happen.

[2021-09-07 11:51] glagonikas commented on #34177
Hi @arjendejong12 does this only occur in the scenario you described?

In our case, it also happens for
1. A spacer block as the last element
2. A "Columns" block as the last element

If the page content ends in a "normal" element such as a paragraph, it doesn't duplicate.

Maybe it's worth testing the scenarios above and if you can reproduce, change the title, to widen the scope of the bug?

p.s.

[2021-09-07 11:56] arjendejong12 commented on #34177
Hey @glagonikas, this also happens here with both scenarios that you described.

[2021-09-07 12:04] glagonikas commented on #34177
Great, thanks for confirming.

@skorasaurus this seems to be an issue with more than one block types, not just "Group". Can you change the label to something more relevant? Possibly consider changing its priority, given it's probably more common than originally thought?

Updating the title to something more generic like "Copied blocks get duplicated when pasted inside empty page" might also help.

[2021-09-07 12:06] nerrad commented on #34325
Just voicing my agreement with comments that have already eloquently expressed by @gziolo, @youknowriad and @swissspidy. In particular, I appreciate the framing Pascal has put around identifying some indicators where a project _might_ be moved into its own repository and I agree that `@wordpress/env` doesn't meet that criteria currently.

[2021-09-07 12:06] kjellr commented on #33278
Ha, I missed that! Thanks for the heads up. 👍

[2021-09-07 13:08] Mamaduka commented on #34325
I agree with Pascal's point regarding the indicators. Currently `@wordpress/env` package doesn't meet the criteria.

Moving also might cause a little confusion. As mentioned above, this is the de facto monorepo for all `@wordpress/*` packages, and people are used to creating issues/PRs here.

[2021-09-07 13:14] richtabor commented on #34613
In theory, I agree with the sentiment that opinionated styles should be driven by the theme (likely via theme.json). That effort will continue to be worked on 100%.

I think this is a remnant of pre-Gutenberg/pre-FSE themes. We want to give users the ability to customize/styles — not lock them into the theme's decisions. I agree, there will be consequences of flexing a theme's design language for

[2021-09-07 13:53] #34453 closed, assigned to richtabor

[2021-09-07 14:04] oandregal commented on #34270
@ntsekouras Got it. So the bug is that the `align*` classes are scoped to `wp-container-*` so in this situation they won't be available. Can we make the float classes (left, center, right) unscoped from `wp-container-*`? cc @youknowriad

I see that the wide/full controls are working as expected already (hidden when no container). So, the other fix I can think of is disabling the controls in that s

[2021-09-07 14:16] amir2mi opened #34620 "block metadata frontStyle and frontScript just for front-end"
As it is suggested in the [block metadata documentation](https://developer.wordpress.org/block-editor/reference-guides/block-api/block-metadata/#editor-style) block.json is a big help for blocks and in this file styles and scripts can be set to be enqueued.

Currently, a block can have four types of assets:
`style` & `script` that will be enqueued for both **editor** and **front-end**.
`editorStyl

[2021-09-07 14:31] richtabor commented on #34558
Apart from the widths in the current Layout panel? Width applied the the selected block?

[2021-09-07 14:42] youknowriad commented on #34558
@richtabor yes, that's the idea, I think in some blocks like Cover, Media & Text, there's also min height.

[2021-09-07 15:11] u-till commented on #1761
Yo, how the frick is something fundamental as this not being addressed by Wordpress core team?? This renders Wordpress basically useless for headless use...

Also i had to append a "/" to the site URL for some reason..

[code]

[2021-09-07 15:23] oandregal commented on #34270
Discussed this with Riad: another alternative is to enqueue the float classes for the `site-blocks` container as well. This is actually more promising than the other two: while it may have value to only output the float classes once, we also want to make sure they don't affect different types of layouts such as flex.

[2021-09-07 15:27] Mamaduka commented on #34620
Hi, @amir2mi

Here's a tracking issue for proposed improvements #33542.

[2021-09-07 16:13] Addison-Stavlo commented on #29508
Im unable to repro on either browsers, are you still seeing this issue?  Im wondering if it has been resolved elsewhere in the meantime.

[2021-09-07 16:27] Shailee commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-09-07 16:29] draganescu commented on #33874
This has been solved by the introduction of the Widget Group block.

[2021-09-07 16:29] #33874 closed, assigned to getdave

[2021-09-07 16:37] draganescu commented on #26170
So effectively "enabling" patterns is just adding the
[code]
configuration to the initialization of the widgets editor.

However we don't support entity based blocks, so patterns such as the ones in the "Query" category won't work. So the main task here is to see whats up with the reusable and FSE blocks keeping them from working, see #32952.

[2021-09-07 16:53] codebymikey opened #34621 "Take the priority into account when attempting to merge transformation schema"
### Description

It's currently difficult to alter an existing transformation schema entry if the transforming block was registered/loaded before the target blocks were. The priority should probably be taken into account when handling this (working in reverse order where the lower priority transformations are merged last?).

Trying to create a custom transformation for a twitter block to allow new

[2021-09-07 16:58] amir2mi commented on #34620
Hi @Mamaduka, thanks. I'll wait for it undoubtedly changes will be cool!

[2021-09-07 16:58] #34620 closed, assigned to nobody

[2021-09-07 17:05] draganescu commented on #34227
@javierarce if we add the inserter the plus icon is gonna show up twice in the toolbar, once for the inserter sidebar and once for the create menu button. Can we just try text?

[2021-09-07 17:34] jd-alexander commented on #33396
Good idea! The `help` prop could be leveraged to include this notice below the colors.

<kbd><img src="https://user-images.githubusercontent.com/1509205/132387033-152c8617-af7b-4065-b60f-65f63d8c02e7.png" width="320"></kbd>

[2021-09-07 17:57] #34003 closed, assigned to ntsekouras

[2021-09-07 18:57] draganescu commented on #31706
I think that there should at least be a setting to toggle sideloading unregistered blocks on or off. Some editor implementations might choose on purpose to not support certain blocks and that should reflect in patterns that include them to not appear.

For instance, the widgets editor currently does not support block theme blocks and reusable blocks. It's debatable if adding entity saving to widge

[2021-09-07 19:51] javierarce commented on #34227
Yeah, we'll need to do that, good point… I'll update the designs.

[2021-09-07 20:13] bph commented on #34325
This seems to be the same issue Marius Jensen raised here #32584 @Clorith

[2021-09-07 20:18] TobiasBg opened #34622 "Scripts: `format` has unknown option `parenSpacing`"
### Description

I'm trying to use `@wordpress/scripts` for my plugin's JS code.
Calling `wp-scripts format src/index.js` results in warning like
[code]
and spaces after/before parentheses are removed, contrary to WP Coding Standards.

### Step-by-step reproduction instructions

1. In some project, run `npm install @wordpress/scripts --save-dev`.
2. Run `wp-scripts format src/index.js` (with `src/

[2021-09-07 20:29] bph commented on #34325
I like that it allows for Gutenberg contributors to have it all in one package.
I also can see that if someone wants to contribute only to `@wordpress/env` the additional payload of the fork might be an issue.
The two factors, make me lean towards keeping it in its current space:
- all the documentation and instructions, would need to be rewritten. There are not many people contributing to documen

[2021-09-07 20:59] TobiasBg commented on #34622
Ok, after some research, I found that
`npm install "prettier@npm:wp-prettier@latest" --save-dev`
is necessary in the project folder.
For some reason the declared dependency to this in the package.jsons of `@wordpress/scripts` and `@wordpress/eslint-plugin` is not sufficient?

[2021-09-07 23:19] westnz commented on #34262
I was able to reproduce this. Nothing happened when I tried to paste 'text' into a list block copied from a paragraph block.

[2021-09-08 00:27] stokesman commented on #34363
I tried to reproduce this with WP 5.8 and could not. I used Brave (Version 1.28.105 Chromium: 92.0.4515.131) on macOS 10.12.6.

@TeBenachi, it would be helpful if we could know the OS and browser you encounter this issue with. It could also help to know the versions of OS/browser and WordPress too.

[2021-09-08 01:42] westnz commented on #34213
I was able to reproduce this error.

[2021-09-08 01:45] glendaviesnz commented on #34554
@ellatrix it looks like this might be related to https://github.com/WordPress/gutenberg/pull/34489. Before this PR on TwentyTwenty the post title looks like:

<img width="1234" alt="before" src="https://user-images.githubusercontent.com/3629020/132432525-d54eb463-07fc-491e-b6b2-6209a84f5c47.png">

and after the PR:

<img width="1248" alt="after" src="https://user-images.githubusercontent.com/36290

[2021-09-08 03:52] MohammedFaragallah opened #34628 "schema for "/__experimental/menu-items" errors"
I'm not sure any if these cases are intentional but,

https://github.com/WordPress/gutenberg/blob/dd5fd6b2466d33177d46dcdc0733abd0217e044a/lib/class-wp-rest-menu-items-controller.php#L1067-L1070

this endpoint return array of numbers for `menus` not a number

https://github.com/WordPress/gutenberg/blob/dd5fd6b2466d33177d46dcdc0733abd0217e044a/lib/class-wp-rest-menu-items-controller.php#L1046-L1051

[2021-09-08 03:57] talldan commented on #34628
cc @spacedmonkey

[2021-09-08 04:01] talldan commented on #34611
This might be a silly idea, but what if it were a prop of the Edit component so that it could be filtered using the existing BlockEdit filter. e.g.:
[code]

[2021-09-08 05:09] MatzeKitt opened #34631 "Drag’n’Drop multiple blocks in a column breaks the editor"
### Description

If you drag multiple blocks inside a column block, it results in a broken editor with the following error message:

[code]

This symptom is similar to #34409.

### Step-by-step reproduction instructions

1. Create this structure:

[code]

2. Select the two paragraph blocks and drag’n’drop them into the first column of the columns block.

### Screenshots, screen recording, code sni

[2021-09-08 05:28] Mamaduka commented on #30522
It should be fixed via #33635.

[2021-09-08 06:00] noisysocks commented on #33926
Hi! @kevin940726 and I are going to start working our way through this list.

Quick question: What do you mean by "should be accessible from ... The Sidebar Menu"? What is the sidebar menu?

[2021-09-08 06:00] noisysocks commented on #29148
Hi! @kevin940726 and I were just discussing this.

We're wondering about how the isolated template part editor that this issue refers to ties in with the **isolated template editor** that you can get to from the post editor. This one:

<img width="1692" alt="Screen Shot 2021-09-08 at 15 49 29" src="https://user-images.githubusercontent.com/612155/132453585-88e339e3-5ed5-4364-8ca0-704031bca959.png"

[2021-09-08 06:00] noisysocks commented on #29147
Is it possible too have _nested_ template parts? If so, should we display a list of consumed template parts in the [isolated template part editor's](https://github.com/WordPress/gutenberg/issues/29148) dropdown as well?

[2021-09-08 06:51] mkkeck commented on #34613
That is right for themes, which requires customizable settings by the end-user (author, editor). But there are reasons, where options needed to disallow specific settings.
For example a big intranet blog with many authors and editors, which requires fixed settings and styles for coorporate identity, there should some not overwriten by authors or editors and of course never by Gutenberg.

That's no

[2021-09-08 07:26] brylie commented on #34325
Thanks, @bph, for pointing out that this is a duplicate of issue #32584. I may not have searched for duplicate issue(s) before creating this one, although I usually do. I'm not sure how to merge the conversations, as the previous issue seems to have garnered more agreement (in terms of thumbs up).

That said, I would like to explore further a few of the points raised so far.

The test cases that r

[2021-09-08 07:30] brylie commented on #32584
Hei @Clorith. Please accept my apologies for opening a [duplicate issue](https://github.com/WordPress/gutenberg/issues/34325) to the one you opened here (I may not have searched for existing issues before opening the duplicate.) I'm not sure whether/how to merge these two issues.

In any case, the duplicate issue has somehow sparked some discussion around the idea of separating `wp-env` from the G

[2021-09-08 07:38] draganescu commented on #33926
It's the menu that appears when clicking the "W" logo when editing a block theme.

[2021-09-08 07:41] kevin940726 commented on #33926
Oh okay I guessed it wrong 😅. I thought it's the right sidebar (inspector).

Isn't the editor already accessible in the sidebar menu then?

[2021-09-08 08:02] mtias commented on #33926
Yes, it was checked in the list but seems to have been unchecked since :)

[2021-09-08 08:05] mtias commented on #29148
We are not calling the template editor "isolated" because it has nothing to isolate: it's just the full template. They should converge visually in terms of the background color and the navigation ("<- Back").

Possibly yes, it's not yet established how exhaustive the template editor you invoke from a post / page view is going to be, but the ability to focus on a template part or reusable block sho

[2021-09-08 08:06] mtias commented on #29147
It's possible but we should not do anything extra to accommodate it — the user would be able to select the nested part and focus on it if necessary, like using the list view panel for example.

[2021-09-08 08:07] gziolo commented on #32584
Let's close this one and continue in the one that got comments. I will copy the original description to the other issue. Thank you @Clorith for opening this issue.

[2021-09-08 08:07] #32584 closed, assigned to nobody

[2021-09-08 08:08] gziolo commented on #34325
Great catch @bph, I closed the other issue and here is the comment from @Clorith:

[2021-09-08 08:20] ManniGH commented on #34554
Not @Ellatrix, but if the change in the width title is intentional after the PR, it doesn't work with all themes. With Astra, half my titles are unreadable in the editor because of this, it looks like trying to display them on a small mobile phone. There isn't even enough width to show some short words fully (see "page" in my first screenshot). Please revert to using full width as previously. Cent

[2021-09-08 09:16] oandregal commented on #34270
Prepared a PR to fix this at https://github.com/WordPress/gutenberg/pull/34635

[2021-09-08 09:21] draganescu commented on #34611
That's actually not a bad idea at all. We reuse a filter why add another one.

[2021-09-08 09:26] WORX-Developer commented on #27629
This is similar to something we would like to achieve. Most of the time we have a layout with a base content width, which is used nearly throughout all pages. But there are elements that need to be narrower. So what we would need instead of "no alignment (default), wide, full" is something like "narrow, no alignment (default), wide (maybe), full". I know this could be done by using the default wid

[2021-09-08 09:28] jasmussen commented on #28356
#34608 adds gap support to the Gallery block, and #34630 adds it to the Columns block. At the moment, the block gap control sits in a dimensions panel which doesn't feel quite right since it doesn't affect any dimensions. So I took a quick stab the three proposed Spacing, Layout and Dimensions panel, correlating them with the controls we have, to see where things might land.

_Note that the mockup

[2021-09-08 09:36] gziolo commented on #29693
The related PR https://github.com/WordPress/gutenberg/pull/28379. We discussed the potential new APIs for block attributes with @spacedmonkey on Twitter. Related thread:

https://twitter.com/thespacedmonkey/status/1435530281595846663

The conclusion in the discussion is that "internal" attribute is more something stored in the memory during the block editor's runtime and `__internalWidgetId` from

[2021-09-08 09:40] jasmussen commented on #33820
Here's an additional mockup that shows how the full flow for collapsible color swatches could work when used in editor inspector panels:

<img width="8920" alt="Color ItemGroup Flow i5" src="https://user-images.githubusercontent.com/1204802/132485764-cf3ac49c-0c71-4167-ad57-ef518744ab15.png">

**Please note that the precise visuals are subject to change per further work in #34574, so definitely de

[2021-09-08 10:10] gziolo commented on #25188
It looks like it is a recurring request from the community that I see more often these days. The most recent one happened on Twitter and was started by @cr0ybot:

https://twitter.com/cr0ybot/status/1435379030522478596

This requires that we add support to `@wordpress/create-block` the capability to provide a CLI option to generate more than one block and based on that let users fill in details abo

[2021-09-08 10:30] #34225 closed, assigned to getdave

[2021-09-08 10:31] getdave commented on #29102
## Update - 2021-09-08

* Everyone is focused on addressing the `High` priority issues on the Tracking Issue (see above).
* Work has continued on [the Submenu block](https://github.com/WordPress/gutenberg/pull/33775) and [preparing it ready for use in the Nav Editor](https://github.com/WordPress/gutenberg/pull/33775).
* The navigation editor header has gained more tools to better match other edito

[2021-09-08 10:34] getsource opened #34636 "Release 11.5.0"
Tracking issue to note/order which PRs should be pulled into release/11.5

Oldest to Newest ↓
- [x] https://github.com/WordPress/gutenberg/pull/34639
- [x] https://github.com/WordPress/gutenberg/pull/34651
- [x] https://github.com/WordPress/gutenberg/pull/34264

[2021-09-08 10:47] spacedmonkey commented on #29102
I created a number of issues related to menus.

- [Improve handling of html markup in Navigation Label](https://github.com/WordPress/gutenberg/issues/34399)
- ✅ [Add block inserter to navigation editor](https://github.com/WordPress/gutenberg/issues/34438)
- ✅ [Add support for custom post types in navigation editor](https://github.com/WordPress/gutenberg/issues/34440)
- ✅ [Add support for custom ta

[2021-09-08 11:08] mtias commented on #33933
One thing that stands out in terms of componetry — because this is a design pattern we don't have anywhere else — is that it looks fairly aligned with the new proposal for font pair selection in global styles:

![image](https://user-images.githubusercontent.com/548849/132498795-eebbccd5-273a-4095-9457-d314f60f85b1.png)

It might be good to be explicit about aligning there in terms of component sem

[2021-09-08 11:15] spacedmonkey commented on #34443
It is worth noting that a `show_in_nav_menus` should be true, but `show_in_rest` could be false. Not sure yet how we handle this. Thoughts @TimothyBJacobs ?

[2021-09-08 11:19] mtias commented on #33933
@shaunandrews have you thought about the "default style" dropdown and how it'd fit? It's even more pronounced now with the smaller footprint of the style selectors and seems off. Might make sense to think of a panel ellipsis menu to handle reset and setting a new default instead, like "set current option as default".

[2021-09-08 11:34] scruffian opened #34637 "Separator: Add support for opacity controls"
## What problem does this address?
The opinionated styles for the separator block set an opacity: https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/separator/theme.scss

It would be good to have these same controls in the block itself, so that they can be controlled by theme.json.

[2021-09-08 11:39] scruffian opened #34638 "Separator: Add support for width control"
## What problem does this address?
The separator block needs a width control, so that the user can change the width of the block in the UI or via theme.json.

[2021-09-08 11:44] scruffian commented on #34192
Font weight is now possible to set, but not the others

[2021-09-08 11:50] scruffian opened #34640 "Post Author: Add support for font weight"
## What problem does this address?
It would be good to be able to set a font weight for the Post Author name. The weight should only target the author's name, not the byline.

[2021-09-08 11:51] jasmussen opened #34641 "Responsive blocks & intrinsic web design"
In the [Preliminary Road to 5.9 post](https://make.wordpress.org/core/2021/08/13/preliminary-road-to-5-9/), intrinsic web design principles are outlined as a potential path forward for providing basic responsive defaults to blocks:

To distill that a bit, a lavish pattern featuring multiple columns and complex layouts might look great if inserted in a sufficiently wide theme, but it might fall apa

[2021-09-08 11:58] scruffian opened #34642 "Video block captions: Add support for margins and alignment"
## What problem does this address?
Themes need a way to style captions inside video blocks, especially margins and text alignment properties.

## What is your proposed solution?
We could do this by adding controls to the video block, so that users can edit them, or we could just make the controls available in theme.json.

Alternatively we could add support for the figcaption element to the element

[2021-09-08 12:01] jasmussen commented on #31373
@ajlende I updated this ticket to be checklist format. I also have some initial mockups for a longer term filter menu redesign that both revisits the shadow/highlight buttons, and adds the non-destructive text. The mockups need a bit more thought, but consider it a snapshot of work in progress:

<img width="5960" alt="Image Filters i15" src="https://user-images.githubusercontent.com/1204802/132526

[2021-09-08 12:12] scruffian opened #34643 "Image block: Add font size control for captions"
## What problem does this address?
Themes need a way to control font size of captions for image blocks.

## What is your proposed solution?
We could add a control for font size to the block and have it target captions with `experimentalSelector`. Alternatively we could add support for `figcaption` to the elements part of Global Styles.

[2021-09-08 12:15] Mamaduka commented on #34631
Hi, @MatzeKitt

I can reproduce the issue in WP 5.8, but I'm no longer able to reproduce it with Gutenberg 11.4.

Original error message:

[code]

The error was coming from the `useMultiSelection` hook. We recently updated this hook to fix the different errors, and it looks like we also fixed this issue. See #33896.

I would appreciate your confirmation that the issue no longer exists in the lates

[2021-09-08 12:17] Mamaduka commented on #34409
Like the #34631, I think this issue also got resolved.

[2021-09-08 12:19] talldan commented on #29102
#34232 was also in both, so I've removed it from high priority. I feel like we even said it was low priority in the hallway hangout, but can't remember for sure.

[2021-09-08 12:28] scruffian opened #34645 "HTML Block: Add support for color and border"
## What problem does this address?
Themes need a way to customize the HTML block, particularly the color and border properties.

## What is your proposed solution?
We can add support for color and border to block so that it can be changed via theme.json.

[2021-09-08 12:32] scruffian opened #34646 "Image Block: Add alignment support"
## What problem does this address?
Themes need a way to set alignments on image blocks. There are many other image block improvements being tracked here: https://github.com/WordPress/gutenberg/issues/28923

## What is your proposed solution?
We should be able to set this in theme.json, as well as in the image block itself.

[2021-09-08 12:38] scruffian opened #34647 "Latest Posts Block: Set color on post data and post author"
## What problem does this address?
Themes need a way to control the color of the post date and post author sections of the Latest Post block.

## What is your proposed solution?
We could add support for colors to this block so that they can be modified by theme.json.

[2021-09-08 13:02] scruffian opened #34648 "Navigation block: Add link color support"
## What problem does this address?
Themes need a way to control the colors of links inside the navigation block. Ideally sub nav items have separate controls too. It would be really good to be able to control the colors of the reponsive menu too.

## What is your proposed solution?
We should add support for link color to the block.

[2021-09-08 13:14] scruffian opened #34650 "Table block: Figcaption support"
## What problem does this address?
Themes need a way to target table block captions, particularly font size and text-align.

## What is your proposed solution?
We could add these controls to the block so that they can be customized by theme.json, or we could make figcaption an element which can be customzied by Global Styles.

[2021-09-08 13:20] scruffian opened #34652 "Table block: Margin/padding support"
## What problem does this address?
Themes need a way to customize the margins and paddings of the table block.

## What is your proposed solution?
We should add support for margin and padding so that they can be modified by theme.json

[2021-09-08 13:26] jameskoster commented on #32460
I think this can be closed as most of the issues have been addressed in https://github.com/WordPress/gutenberg/pull/32505, and will be further enhanced by https://github.com/WordPress/gutenberg/issues/32317.

The "Block cannot be rendered inside itself." error seems to have been fixed along the way as well 🎉

[2021-09-08 13:26] #32460 closed, assigned to nobody

[2021-09-08 13:44] ntsekouras commented on #34636
👋 - not merged yet but this one should be included: https://github.com/WordPress/gutenberg/pull/34639

-----
--edit:

This above got merged and would be good to also include: https://github.com/WordPress/gutenberg/pull/34651. They are both follow ups for Social List `flex` layout.

[2021-09-08 13:54] scruffian opened #34653 "Overview issues: Theme Supports for Blocks"
In order to connect block themes to Global Styles, aspects of the themes design need to be described in theme.json, rather than in CSS. To achieve this we need to add support for different properties to many of our blocks. Rather than just add support for every property to every block, this issue lists issues which arise from real world themes and their needs, specifically the Blockbase theme. Eac

[2021-09-08 13:54] dcalhoun opened #34654 "Native Demo app displays an erroneous transparent navigation bar"
## Description
When the Demo app content is scrolled to the top, the navigation bar is transparent causing the content to be illegible. This issue is referenced on [the React Native blog](https://reactnative.dev/blog/2021/09/01/preparing-your-app-for-iOS-15-and-android-12).

## Step-by-step reproduction instructions
1. Launch the native Demo app.
2. Ensure the content is scrolled to the top.

## E

[2021-09-08 13:57] drzraf commented on #19223
Image sizes are obviously not restricted to large & thumbnails !
One can define new ones that match a set of break-points and sizes (responsive images handled by Timber/Timmy). Setting an image size for that block is absolutely necessary in these cases.

[2021-09-08 14:01] eSilverStrike commented on #28063
This issue is driving me nuts. (at least I think it is the same issue she is having)

Here is my case:

For the Gutenberg Editor I created a new style of block using register_block_style for core/button

In Gutenberg for button colors you can only specify the text color and the background color (no hover color and no visited color)

With the css for the button there is no way for me to set the vis

[2021-09-08 14:03] mtias commented on #34646
I think these are covered in #29506.

[2021-09-08 14:04] mtias commented on #34645
Not sure I follow this one. The html block just renders the html on the front?

[2021-09-08 14:48] colorful-tones opened #34655 "Print CSS preview in editor"
## What problem does this address?
It is currently difficult for non-technical users to preview what Print CSS might look like. Since, there is an option to preview in Desktop, Tablet and Mobile. It seems it would be nice to add a Print preview as well.

## What is your proposed solution?
Add an additional button to the block editor preview dropdown for "Print".

<figure>
<img src="https://user-im

[2021-09-08 14:51] xpurichan commented on #34602
I experienced a customer with thi sissue as well. Their title was `USA Ryder Cup Captain’s Picks Revealed ￼` I must admit that I am not familiar with OBJ, but this "character" simply appeared as two empty spaces at the end of the page title.

The "Attempt Recovery" button had no effect. I had to enable the Classic Editor, rewrite the title, save, then I was able to re-open the blog post in Gutenbe

[2021-09-08 14:54] colorful-tones commented on #34655
Noting that there is potential overlap with #23126

[2021-09-08 15:03] scruffian commented on #34653
This is tracked in https://github.com/WordPress/gutenberg/issues/33447, closing.

[2021-09-08 15:03] #34653 closed, assigned to nobody

[2021-09-08 15:06] gziolo commented on #33424
It looks every time `package-lock.json` gets updated this errors strikes back. The most recent example is https://github.com/WordPress/gutenberg/commit/eb4c8e38f9bac57494b782f7699a5538a35dd6b8.

<img width="935" alt="Screen Shot 2021-09-08 at 17 05 20" src="https://user-images.githubusercontent.com/699132/132535232-3f8c30a5-4297-43f4-b92d-07d6b25ea23f.png">

<img width="374" alt="Screen Shot 2021-

[2021-09-08 15:13] Sandstromer opened #34658 "Social Icons - icon color overridden by parent group container link color"
### Description

When adding Social Icons within a Group block, the icon color is overridden by the link color set at the parent group level.

This only happens on the frontend, in the editor the icon displays correctly with the icon color.

### Step-by-step reproduction instructions

1. insert a Group block, set Link Color for this group block
2. add a Social Icons block within the group
3. chang

[2021-09-08 15:24] gwwar commented on #34564
Thanks @talldan for fixing this one!

[2021-09-08 15:56] anomiex opened #34660 "`@wordpress/dependency-extraction-webpack-plugin` should use content hash"
### Description

`@wordpress/dependency-extraction-webpack-plugin` outputs the equivalent of `[fullhash]`/`[chunkhash]` as the "version" rather than `[contenthash]`. Note that Webpack itself [now recommends using `[contenthash]`](https://github.com/webpack/webpack.js.org/issues/2096).

The use of `[fullhash]`/`[chunkhash]` can result in extraneous hash changes. For example, if the JavaScript is id

[2021-09-08 16:00] vcanales commented on #34032
Hi @javierarce — do you mean by this that if the Navigation menu hasn't been selected, the empty toolbar container shouldn't be shown? I interpret this part of the issue like this:

| Selected | Unselected |
| -- | -- |
| <img width="378" alt="image" src="https://user-images.githubusercontent.com/1157901/132542632-df82395a-fa81-46af-9158-de13b5d94fae.png"> | <img width="380" alt="Screen Shot 2021-

[2021-09-08 16:03] #34297 closed, assigned to renatho

[2021-09-08 16:04] gziolo commented on #34236
It looks like https://github.com/WordPress/gutenberg/pull/34264 will fix this issue.

[2021-09-08 16:04] gziolo commented on #34239
It looks like https://github.com/WordPress/gutenberg/pull/34264 will fix this issue.

[2021-09-08 16:05] javierarce commented on #34032
@vcanales yes, exactly, that's the issue

[2021-09-08 16:18] gziolo commented on #25188
It creates `block.json` in the top-level directory and it's independent from the selected template. We can definitely iterate on that when multiple blocks are supported as it won't scale 😄

Yes, they are copied (with webpack plugin) to the `build` folder:

<img width="277" alt="Screen Shot 2021-09-08 at 18 17 22" src="https://user-images.githubusercontent.com/699132/132546629-49e9055d-d6b2-4709-92

[2021-09-08 16:51] cr0ybot opened #34663 "Extend MediaReplaceFlow with additional options (toolbar icon, clear media)"
## What problem does this address?

I love that I have been able to use a premade component to handle adding & replacing media in my custom blocks, but the customization is a little bit lacking:

1. I can change the text of the toolbar button, but I can't set a custom icon with label. I have a custom block that handles 2 images, a background and a foreground, so the toolbar gets really long with "

[2021-09-08 16:56] annezazu opened #34664 "Feedback on problems with writing in the block editor"
## What problem does this address?

While drafting a longer post a few weekends ago, I found myself a bit distracted due to the interface in a way that I hadn't been previously. This was partially due to me throwing down sentences in chunks and trying to build them into paragraphs. Since I don't see this as an unusual way to start writing and do almost solely write in the block editor, I wanted to