[2022-09-20 09:52] talldan commented on #43729
@alexstine I tried a fix in https://github.com/WordPress/gutenberg/pull/44291. Let me know what you think. I don't have a lot of experience with NVDA, so it's possible this may have other unwanted side effects, but I thought I'd try it out.

[2022-09-20 09:56] talldan commented on #43729
Another option is that we can completely remove the options dropdown menu from being part of the TreeGrid navigation and leave it with `tabIndex=-1` so that it's not navigable. I imagine that would have similar results to `aria-hidden`.

[2022-09-20 10:04] scrobbleme commented on #39868
It is quite annoying that “someone” just decides which icons to include and which not, and there is something basic missing like a phone icon.

The “core” solution should just have a very narrow set of included icons, and it should be quite easy to add custom icons.

Even better there shouldn't be a "social icons" block anyway. It should be just be part of normal navigation behaviour.

[2022-09-20 10:09] druxstr commented on #19951
Not having multiple attachments also leads to accessibility issues.

Users who need to add multiples files may pile up File Blocks (`<div>`) instead of using a proper semantic list (`<ol>`,`<ul>`).

* If they pile up File Blocks, it's not accessible (see [WCAG 2.1 H48 Technique](https://www.w3.org/WAI/WCAG21/Techniques/html/H48)).
* If they use the List Block, they can't select a file from the Med

[2022-09-20 10:22] jameskoster commented on #36951
My instinct is that such an interface would present itself:

1. When initially creating the template "Start with a pattern"
2. When all blocks in the template are actively deleted

I'm not sure how it would fit into the Inspector, but there is some conceptual overlap with the template selection flow when editing a post / page, so perhaps we can take inspiration from / align around that.

[2022-09-20 10:22] jasmussen commented on #44193
Here's a first draft that puts the desired information into the panel:

<img width="1600" alt="Options" src="https://user-images.githubusercontent.com/1204802/191233592-78b6e073-f58b-433c-80e6-d641881f922b.png">

There's something about the balance and structure that isn't quite working, but sharing it here for thoughts, in case @WordPress/gutenberg-design has some ideas. [Here's a Figma file](htt

[2022-09-20 10:25] javierarce opened #44292 "Show a modal when dropping a file outside the dropzone"
In [this PR](https://github.com/WordPress/gutenberg/pull/43493) @mtias suggested showing a modal when a user drags a file to the editor but outside of the dropzone.

The text of the modal could indicate the type of the file the user is trying to add (image, video, etc.) or we could go with something more generic, like "media". Something else we could do is to show an error modal if the user drags

[2022-09-20 10:41] jasmussen commented on #44292
Nice, thanks for including the Figma! Just to remix your work here a bit, what if we reduced to a single needed click? Something like this:

<img width="1595" alt="Site" src="https://user-images.githubusercontent.com/1204802/191237147-5cc3d3af-16e9-416f-a432-694d156f376c.png">

I like the visuals, I wonder if we can make them more like icons and less like illustrations, mostly because a single coh

[2022-09-20 10:42] mtias commented on #36951
That seems to exclude the ability to modify the existing design, which should be the most common scenario, not starting from blank.

[2022-09-20 10:42] jameskoster opened #44293 "Display Snackbar when template part is created during replacement flow"
Follow-up to https://github.com/WordPress/gutenberg/pull/44221 cc @talldan.

When replacing an existing template part on the canvas and selecting a pattern in the resultant modal, it's not immediately obvious that a _new_ template part is created. It would be helpful to display a Snackbar confirming this.

(or similar)

[2022-09-20 10:55] SiobhyB opened #44295 "[RNMobile] Invalid blocks: Display raw source block"
## Description

It would be ideal to display a preview of invalid blocks within the app before a user determines whether they should attempt block recovery.

## Step-by-step reproduction instructions

1. Navigate to the post editor in the iOS or Android app.
2. Add a new block, making sure to fill out some content or upload media if appropriate.
3. Switch the editor to HTML mode.
4. Remove the wp-

[2022-09-20 11:02] jameskoster commented on #44193
Aren't we giving too much prominence to the overview by placing it at the top of the panel? I would imagine the other features of list view are used more frequently...

An alternative that places the details at the bottom of list view:

<img width="340" alt="Screenshot 2022-09-20 at 12 02 17" src="https://user-images.githubusercontent.com/846565/191241469-c9f29381-adcb-4d61-92c2-9d590db5381a.png">

[2022-09-20 11:04] jasmussen commented on #44193
Whether at the top or the bottom, I quite like that gray/compressed style 👌

If we _do_ put it at the bottom (need to still chew on it), then the top List View header can be replaced entirely by the tabbar, with the X on the right.

[2022-09-20 11:29] mtias commented on #44193
I can see it at the bottom, but the single line won't work in most languages. Can we try the split two column at the bottom?

[2022-09-20 11:36] paaljoachim commented on #44193
Looking at the screen today.

![Screenshot 2022-09-20 at 13 17 08](https://user-images.githubusercontent.com/5323259/191244838-c1fa174c-945f-4070-a102-06a16c998dfe.jpg)

List view - Canvas/document view
Bottom Breadcrumbs. (Which I have often found very helpful.)

---

A few explorations
![List-view-and-details](https://user-images.githubusercontent.com/5323259/191246356-c92fb293-af08-4cfd-9c9c-d2

[2022-09-20 11:43] #44156 closed, assigned to ntsekouras

[2022-09-20 12:04] CreativeDive commented on #44259
@talldan thank you for response. Yes I noticed that, we could use a `template_lock` and a fix `template` for a post type. In this way I can define specific blocks for the page / root level only.

But this has undesirable side effects.

1. I can't add other blocks to the page / root level if `template_lock => all` is used. However, the user should be able to add or delete a certain selection of blo

[2022-09-20 12:14] javierarce commented on #44292
That's a good point but wouldn't "something along the lines of the welcome guide in terms of graphics" is still a bit opinionated in terms of style? What about something like this, just with icons? (note: I'm aware that the paragraph one could be more descriptive and maybe it's not ideal)

![image](https://user-images.githubusercontent.com/4933/191255520-c7c3d791-dca1-4b90-96da-516988116c1c.png)

[2022-09-20 12:24] jameskoster commented on #36951
It's always important to consider context in these flows. A theme author building from scratch is unlikely to need this flow all that often. But I agree an end user will use it more frequently.

We should keep the zoomed out view in mind as well. That could be a natural place to surface full-template pattern selection/switching.

[2022-09-20 12:39] jameskoster commented on #44193
There is also https://github.com/WordPress/gutenberg/issues/36696 to think about. I'm not sure if that's something we still want to pursue?

<img width="368" alt="Screenshot 2022-09-20 at 13 40 40" src="https://user-images.githubusercontent.com/846565/191260011-2dea3dcc-ea62-4401-a3a8-627831c0458b.png">

[2022-09-20 12:40] Thelmachido commented on #21649
Closing this issue due to the Navigation editor project being moved to [an inactive status on the feature projects page](https://href.li/?https://make.wordpress.org/core/features/) in coordination with the project leads. _The developer documentation in the initial post are no longer accessible_

 If this work is picked back up, issues can be revisited and reopened as needed. Thanks for testing thi

[2022-09-20 12:44] Thelmachido commented on #24640
Closing this issue due to the Navigation Editor project being moved to [an inactive status on the feature projects page](https://href.li/?https://make.wordpress.org/core/features/) in coordination with the project leads. If this work is picked back up, issues can be revisited and reopened as needed.

[2022-09-20 12:44] #24640 closed

[2022-09-20 12:44] Thelmachido commented on #24640
Closing this issue due to the Navigation Editor project being moved to [an inactive status on the feature projects page](https://href.li/?https://make.wordpress.org/core/features/) in coordination with the project leads. If this work is picked back up, issues can be revisited and reopened as needed.

[2022-09-20 12:45] jasmussen commented on #44193
This is getting close, I like that ☝️. If we right-align the character/word counts, does that put them too far from the label?

<img width="404" alt="Screenshot 2022-09-20 at 14 44 33" src="https://user-images.githubusercontent.com/1204802/191260977-0416bc31-d34d-48d4-9541-103f76512d73.png">

I like that it acts as a framing device for the main grid of the panel.

[2022-09-20 12:47] Thelmachido commented on #24639
Closing this issue due to the Navigation Editor project being moved to [an inactive status on the feature projects page](https://href.li/?https://make.wordpress.org/core/features/) in coordination with the project leads. If this work is picked back up, issues can be revisited and reopened as needed.

The work will continue on the navigation block.

[2022-09-20 12:47] #24639 closed

[2022-09-20 12:48] Thelmachido commented on #24844
Closing this issue due to the Navigation Editor project being moved to [an inactive status on the feature projects page](https://href.li/?https://make.wordpress.org/core/features/) in coordination with the project leads. At the moment we have the navigation block, if this work is picked back up, issues can be revisited and reopened as needed.

[2022-09-20 12:48] Thelmachido commented on #24638
Closing this issue due to the Navigation Editor project being moved to [an inactive status on the feature projects page](https://href.li/?https://make.wordpress.org/core/features/) in coordination with the project leads. If this work is picked back up, issues can be revisited and reopened as needed.

At the moment we have the navigation block, the work can continue there

[2022-09-20 12:48] #24638 closed

[2022-09-20 12:56] mtias commented on #44193
I don't know that the number of blocks makes a ton of sense in the header. Can we bring it to the list below? Also, it seems these stats should be contextual to what you are doing — editing content or designing. When designing none of those three seem that useful, but blocks, template parts, etc, might be relevant.

[2022-09-20 13:08] jameskoster commented on #44193
I find it harder to trace personally, but it's not too bad as there are only 3 rows. If there were more it could become problematic.

I think the stats should only be present in the post editor list view (side note, we should ensure they're hidden in the template editor – currently they are not). We can figure out which stats (if any) to display in the site editor separately.

[2022-09-20 13:13] JiveDig commented on #44275
Both of those solutions seem to be aimed at removing the extra elements, right? From my understanding, there will still be at least one div necessary so the block editor toolbar and other things can work properly, so `display: contents;` will often be an elegant solution for layout here.

I think my hope is that it would be possible to use display contents on the element while still having the too

[2022-09-20 13:19] annezazu commented on #44257
Thanks so much for reporting and replicating. @poliuk as a heads up.

[2022-09-20 13:24] getdave commented on #33379
@jorgefilipecosta I light of the fact [it's going to be possible to register block patterns for any post type in WordPress 6.1](https://github.com/WordPress/gutenberg/pull/41791) is there any need to pursue [the option I suggested here](https://github.com/WordPress/gutenberg/issues/33379#issuecomment-888363918) to allow for block grammar to be used as the `template` property of a post as well as t

[2022-09-20 13:26] jasmussen commented on #44292
Nice iteration! I love the reduction and I actually think we can combine the compact headers with the compact actions:

<img width="530" alt="Screenshot 2022-09-20 at 15 21 14" src="https://user-images.githubusercontent.com/1204802/191268808-41478ef5-10cc-4ee6-9d56-63ff279b3957.png">

I also reduced the size of the icons, I'm not sure it works, but I'm also not sure the upsized icons used as illus

[2022-09-20 13:33] RahiDroid commented on #44262
Not related to this ticket, but #44276 fixes an issue with the featured image overlay's border colors.

@aaronrobertshaw @mikachan Would be great if you could help me with a review! If it looks good, maybe it can be cherry-picked with the above PR for this issue.

[2022-09-20 13:52] sergeybrava commented on #15137
Typeform wp plugin insert <script src="cdn_link_file.js"> Thx, we try to send a message for typeform developers and other plugin devs.

[2022-09-20 13:52] sergeybrava commented on #15137
Typeform wp plugin inserts <script src="cdn_link_file.js"> Thx, we try to send a message for typeform developers and other plugin devs.

[2022-09-20 14:00] wpmarmite commented on #23011
In Elementor, the link component looks like this:

<img width="282" alt="Capture d’écran 2022-09-20 à 15 42 05" src="https://user-images.githubusercontent.com/15243992/191274166-77a44d45-13af-470e-bfc2-97796515df53.png">

I don't believe that core needs to go this far as it could disturb everyday users.

However, plugin developers should be able to enhance this component (with a dedicated filter

[2022-09-20 14:10] amustaque97 commented on #44014
Yes @mrfoxtalbot, I believe we can close this issue.

[2022-09-20 14:16] ndiego commented on #38729
This issue was reviewed in today's Editor Bug Scrub. I replicated the issue when declaring a custom color in GeneratePress with the variable `--text`. All other variables worked, but there is some strange behavior with `--text`. That said, this does not appear to be an issue with Gutenberg or WordPress itself, but rather how the custom color classes are generated on the frontend by GeneratePress.

[2022-09-20 14:16] #38729 closed, assigned to nobody

[2022-09-20 14:16] #44014 closed, assigned to nobody

[2022-09-20 14:27] jameskoster opened #44300 "Add template for specific entity – suggestion list appears complete but is not"
When adding a template for a specific entity (e.g. a category) a list of suggestions appears beneath the search input in the modal:

<img width="520" alt="Screenshot 2022-09-20 at 15 24 00" src="https://user-images.githubusercontent.com/846565/191284112-ae9c6ac1-5eb5-44c8-9c50-c57a252a0006.png">

At a glance it's easy to mistakenly assume the list includes all entities, but this is not the case:

[2022-09-20 14:31] jameskoster commented on #44300
@ntsekouras @Mamaduka I think y'all have worked on this at some point. Do you recall how the list is generated / ordered? Is it last edited or something? 🤔

[2022-09-20 14:31] ndiego commented on #38905
This issue was reviewed in today's Editor Bug Scrub. Thank you for sharing. In the latest versions of WordPress and Gutenberg, it is not possible to place a Button bock on the page without being contained within a Buttons block. That said, what you described regarding inline styles is the correct implementation.

Inline block styles are only loaded when the block exists on the page. It looks like

[2022-09-20 14:31] #38905 closed, assigned to nobody

[2022-09-20 14:35] Mamaduka commented on #39282
I can still reproduce the issue, and below is the screenshot of an error I see in the console.

Recently @noisysocks implemented a similar UI in #42352. I would recommend checking the code for examples of how to use `MediaUpload` with the `Dropdown` component.

## Screenshot

![CleanShot 2022-09-20 at 18 29 54](https://user-images.githubusercontent.com/240569/191286405-fa4d2070-31c8-4c49-b984-2f41

[2022-09-20 14:36] ndiego commented on #39947
This issue was reviewed in today's Editor Bug Scrub. Thank you for submitting. I agree that the user interface could be clearer when editing a page template, as opposed to the page/post content itself, but everything appears to be working as intended. Therefore I am going to close out this issue.

[2022-09-20 14:36] #39947 closed, assigned to nobody

[2022-09-20 14:40] ndiego commented on #40203
This issue was reviewed in today's Editor Bug Scrub. We have been unable to replicate using the latest versions of Gutenberg and WordPress. Therefore, I am going to close this issue. If anyone can replicate it in the future, please feel free to reopen this issue with additional information.

[2022-09-20 14:40] #40203 closed, assigned to nobody

[2022-09-20 14:42] jameskoster commented on #41947
@oandregal Sorry for another ping :) I don't suppose you'd be able to look into this one? Now that we have contextual data in archive templates, it feels a little awkward to not have it in singular templates as well.

[2022-09-20 14:48] ndiego commented on #44238
Thanks for reporting, would you be able to share your current version of WordPress and Gutenberg?

[2022-09-20 14:50] arkabase commented on #41301
It seems that this issue has been corrected since I reported it three months ago.
I just tried with the last version of Gutenberg and the inner container has been removed, correcting the flex issue.

[2022-09-20 14:54] Mamaduka commented on #40222
I believe this issue was fixed by @carolinan in #43800.

I can no longer reproduce it with Gutenberg 14.1 or the current trunk.

[2022-09-20 14:54] #40222 closed, assigned to nobody

[2022-09-20 14:58] Mamaduka commented on #42761
I can confirm that values are hardcoded in the `login` method. Hence, removing the `Needs Testing` label and marking this as an enhancement.

https://github.com/WordPress/gutenberg/blob/2c29bff14b4f6503ecb40ad5dc97b3f8bf18a192/packages/e2e-test-utils/src/rest-api.js#L38-L41

[2022-09-20 15:05] Mamaduka commented on #44300
They are ordered by date (default) in `ascending` order.

I believe displaying the search control was supposed to indicate that there are more entities. See #42337.

Query:

https://github.com/WordPress/gutenberg/blob/2c29bff14b4f6503ecb40ad5dc97b3f8bf18a192/packages/edit-site/src/components/add-new-template/add-custom-template-modal.js#L78-L87

[2022-09-20 15:26] zero2webmaster commented on #44238
Hi Nick,
I'm not sure what you mean by Gutenberg version as I don't have a Gutenberg
plugin installed (I use the native wordpress editor). Wordpress is 6.0.2
Kerry

[2022-09-20 15:27] ndiego commented on #44238
Perfect, that's helpful, thanks @zero2webmaster.

[2022-09-20 15:33] annezazu opened #44302 "Improve organization of templates to reflect importance/hierarchy"
## What problem does this address?

Right now, when you're looking at the template list, there's no sense of what's important and the templates feel a bit scattered, especially after you add new ones that appear at the top:

<img width="1035" alt="image (24)" src="https://user-images.githubusercontent.com/26996883/191299711-78ae79a3-c223-4aa6-acec-16c15183c851.png">

It feels odd that you have to

[2022-09-20 16:29] bradhogan commented on #12684
Any updates on this?  This should really be added at this point.  We need to be able to link rows, columns, groups and cover blocks.

[2022-09-20 17:04] kaizen-lazevedo commented on #32087
Is there anyway of using the LinkControl outside the block editor due to the usage of __experimentalFetchLinkSuggestions  from the Settings ? I'd like to use the LinkControl on a custom admin page (wp_admin?page=my_custom_page) and used the following Javascript code:

[code]
The LinkControl loads and shows, but when I write anything it doesn't provide suggestions and I can't change the function it

[2022-09-20 18:27] kathrynwp commented on #41301
@arkabase that's great to hear! Given that the issue has been resolved, I'll go ahead and closed this.

[2022-09-20 18:27] #41301 closed, assigned to nobody

[2022-09-20 18:30] kathrynwp commented on #42720
@Johanwalter Thanks for re-testing and letting us know that you cannot replicate the issue.

Since it's not a theme-specific issue, I'm going to go ahead and close this out, but you're welcome to post in the WordPress.org support forums if you'd like further help with troubleshooting.

[2022-09-20 18:30] #42720 closed, assigned to nobody

[2022-09-20 18:46] #24844 closed

[2022-09-20 18:51] kathrynwp commented on #28856
Closing this issue due to the Navigation Screen project being moved to [an inactive status on the feature projects page](https://make.wordpress.org/core/features/) in coordination with the project leads. (The developer documentation in the initial post are no longer accessible)

If this work is picked back up, issues can be revisited and reopened as needed. Thanks for pitching in on this early fea

[2022-09-20 18:51] #28856 closed

[2022-09-20 18:52] kathrynwp commented on #29100
Closing this issue due to the Navigation Screen project being moved to [an inactive status on the feature projects page](https://make.wordpress.org/core/features/) in coordination with the project leads. (The developer documentation in the initial post are no longer accessible)

If this work is picked back up, issues can be revisited and reopened as needed. Thanks for pitching in on this early fea

[2022-09-20 18:52] #29100 closed

[2022-09-20 18:53] ajlende commented on #38557
@ValentinH was very responsive when I made some changes to react-easy-crop earlier, so unless he's especially busy, I think there's a good chance of landing the change.

@glendaviesnz it sounds like you have a plan for fixing it already, but I'll be here to help out with testing if you have a branch pushed up that I can take a look at.

[2022-09-20 18:53] kathrynwp commented on #29747
Closing this issue due to the Navigation Screen project being moved to [an inactive status on the feature projects page](https://make.wordpress.org/core/features/) in coordination with the project leads. (The developer documentation in the initial post are no longer accessible)

If this work is picked back up, issues can be revisited and reopened as needed. Thanks for pitching in on this early fea

[2022-09-20 18:53] #29747 closed

[2022-09-20 18:54] annezazu commented on #44274
@lwangdu thanks for opening this issue! I couldn't replicate. Here's my view with the list view open:

<img width="1466" alt="Screen Shot 2022-09-20 at 2 54 27 PM" src="https://user-images.githubusercontent.com/26996883/191341180-e1f0747b-407f-4475-ba7e-3b076d57508b.png">

Can you drop the markup in here so I can try to replicate?

[2022-09-20 18:57] kathrynwp commented on #30006
Closing this issue due to the Navigation Screen project being moved to [an inactive status on the feature projects page](https://make.wordpress.org/core/features/) in coordination with the project leads. (The developer documentation in the initial post are no longer accessible)

If this work is picked back up, issues can be revisited and reopened as needed. Thanks for pitching in on this early fea

[2022-09-20 18:57] #30006 closed, assigned to nobody

[2022-09-20 18:59] oandregal commented on #41947
I started taking a look at https://github.com/WordPress/gutenberg/issues/44158 the other day, but then had to switch to other things (backports, etc.). I'm still interested, though these days are a bit hectic :)

Is there a place where we can list all these issues, so it's easier to track?

[2022-09-20 19:35] ValentinH commented on #38557
Hey, `react-easy-crop` maintainer here 👋
Yes, I'm available to review a PR and provide guidance if needed. It would be a pity if you had to fork 😅

[2022-09-20 21:33] lwangdu commented on #44274
Thank you @annezazu checking one this. If you add cover image and menu in a group, that creates the white space above the cover image. If I take theme out the group, the space goes away. I think this is my user error.

[2022-09-20 22:28] bph opened #44306 "Docs: add note regarding curating patterns from directory"
With https://github.com/WordPress/gutenberg/issues/41282 implemented by @ndiego we would need a comment on the page about [Curating the Editor Experience](https://developer.wordpress.org/block-editor/how-to-guides/curating-the-editor-experience/) to highlight it.

[2022-09-21 00:09] glendaviesnz commented on #38557
thanks @ajlende and @ValentinH, if my cunning plan works I should have a PR up in the `react-easy-crop` repo sometime tomorrow - will be back in touch for help if my plan turns out to not be as cunning as I imagined 😄

[2022-09-21 00:48] cuemarie opened #44307 "Converting a Pullquote Block into a Quote Block causes Gutenberg to Crash"
### Description

When using the Block conversion feature, attempting to convert from a Pullquote Block to a Quote Block will cause Gutenberg to crash.

### Step-by-step reproduction instructions

1. Add a Pullquote Block to a page or post
2. Click on the block icon to convert to another block
3. Mouse over the "Quote" block option in the menu

### Screenshots, screen recording, code snippet

https

[2022-09-21 02:02] #43401 closed, assigned to nobody

[2022-09-21 02:02] #42449 closed, assigned to nobody

[2022-09-21 02:15] gOuTM commented on #44262
I would also apreciate if Cover block will have the ability to have hover effects as well..

[2022-09-21 02:23] #41739 closed, assigned to talldan

[2022-09-21 02:33] #44235 closed, assigned to talldan

[2022-09-21 03:00] annezazu commented on #38557
Love this cross collaboration. Thanks so much for chiming in and offering to help @ValentinH!

[2022-09-21 03:02] annezazu commented on #44274
Ah okay. Thanks for following up and confirming. I'll close this out in that case since this should indeed work. I also tested with a cover block in a template part and wasn't able to replicate. Thanks for using WordPress :)

[2022-09-21 03:02] #44274 closed, assigned to nobody

[2022-09-21 03:07] annezazu commented on #44243
Hmm by chance, have you tried using this plugin to create a child theme instead? https://wordpress.org/plugins/create-block-theme/ Perhaps @jffng  has some insight here :)

[2022-09-21 03:09] annezazu commented on #38529
@dugyen can you explain a bit more what you want to see? Feel free to DM me on slack (@annezazu on Make Slack) so we can talk out what you want and not detract from this issue. You are welcome to also open a new issue for this repo and tag me in it too :)

[2022-09-21 03:18] loxK opened #44309 "Scripts: regression - webpack config cannot be extended anymore"
### Description

Until [this commit](https://github.com/WordPress/gutenberg/commit/f20c355c3f8667264b84e13b19d20d708bd624e2#diff-cba9f881720fd03020570ce36ae5b8dde43c14d4a1d79fa857155beb6ef578d1R41) It was possible to extend the wordpress-scripts webpack config.

This change breaks it. I was using it to compile es6 files using WordPress libraries (eg. @wordpress/api-fetch). This way I am able to co

[2022-09-21 03:19] ZebulanStanphill commented on #44245
Copy-pasting a little conversation from https://github.com/WordPress/gutenberg/pull/44247#issuecomment-1251987678:

**jasmussen:**

**ZebulanStanphill:**

[2022-09-21 04:19] alexstine commented on #41500
I closed my PR and hopefully someone with vision can attempt a fix. It just does not seem feasible for me.

Thanks.

[2022-09-21 04:32] andrewserong commented on #42961
I've added a draft note for the layout refactor in this comment (https://github.com/WordPress/gutenberg/pull/40875#issuecomment-1253190670). The layout dev notes will likely all be consolidated with ones from @tellthemachines and @ramonjd into a single blog post, since lots of the individual PRs and changes are all related.

[2022-09-21 04:56] aaronrobertshaw commented on #44262
@RahiDroid I missed your ping until now, sorry.

While doing some extra testing yesterday I realised there were some problems with general implementation of the Post Featured Image block's overlays when it came to borders. I've only just pushed the fixes I had to https://github.com/WordPress/gutenberg/pull/44286.

My PR linked above also addresses some discrepancies in the rendered markup between

[2022-09-21 05:56] talldan opened #44311 "List View and Block Library regions are not always present in the DOM"
### Description

Mentioned to me by @alexstine, and I couldn't find an existing issue, so reporting it now.

The List View and Block Library regions are not always present in the DOM. This makes accessing them via the navigate regions shortcut difficult or impossible.

It'd be good to make them work more consistently, like the 'Editor Settings' region, where the container DOM element is always pre

[2022-09-21 06:28] kebbet opened #44312 "WP 6.1 alpha - Flanking whitespace in l18n strings"
### Description

In recent synchronization to WordPress core, two strings with flanking whitespaces was introduced. This is incorrect.

Files and lines:
Line 190 in `class-gutenberg-rest-block-patterns-controller.php`
Line 36 in `class-gutenberg-rest-templates-controller.php`

PR is incoming shortly. Hoping for inclusion in WP 6.1

See https://github.com/wordpress/gutenberg/blob/trunk/packages/esl

[2022-09-21 06:32] carolinan commented on #44257
When I disable the nested comments option, I also see a repetition, the comments are both on the first level, and nested.
Front:
![image](https://user-images.githubusercontent.com/7422055/191430961-dabda53d-2f8f-4fd1-8ba4-88c63fc65625.png)

[2022-09-21 06:46] ciampo commented on #43678
Hey @talldan , would #44282 be fixing this issue too?

[2022-09-21 06:47] carolinan commented on #44257
In the editor, when I disable the nested comments, I only see 1 comment, the replies that were created as replies to the first comment, does not show as top level comments.
Even though only one comment shows, the comment reply title says there are 3 comments.

[2022-09-21 06:57] tellthemachines commented on #42961
Oh, I think we need to add #42763 (Try "constrained" content width as new layout type) and  #42085 (Core CSS support for root padding and alignfull blocks) to this list. I'm writing dev notes for them, anyway 😅

[2022-09-21 06:59] janboddez commented on #44243
Just did, same result.

[2022-09-21 07:04] Zodiac1978 commented on #19533
Testing this on WordPress 6.1-alpha-54269 it looks like this is now working and the title is normalized to.

Therefore I close this issue. If anyone is still seeing this behavior, please re-open. Thank you!

[2022-09-21 07:04] #19533 closed

[2022-09-21 07:09] kraftner commented on #12484
So I was still able to reproduce this. Not if the unregistering happens right on `wp.domReady` but if it is done after that. Lets say something like

    wp.domReady( function() {
        setInterval(function() {
            unregisterBlockTypes();
        }, 200);
    });

It also doesn't crash immediately but any further interaction causes a `Uncaught (in promise) TypeError: blockType is undefin

[2022-09-21 07:32] gziolo commented on #44278
It's `false` by default according to https://webpack.js.org/configuration/devtool/#devtool. So what @noahtallen said might work. I'm not quite sure what role the source map loader plays in that:

https://github.com/WordPress/gutenberg/blob/148c816fabdb814ecb39aa238fcc642c60706465/packages/scripts/config/webpack.config.js#L302-L307

So maybe we should include that when `process.env.WP_DEVTOOL` is s

[2022-09-21 07:43] #44312 closed, assigned to kebbet

[2022-09-21 08:08] getdave commented on #32087
Hi @kaizen-lazevedo. The `<LinkControl>` is a component of the block editor and thus is designed to be used within that context. This is why it is not part of the `@wordpress/components` package. As a result there is not currently a way I'm aware of to pass a suggestions handler function into the component.

You could look at [creating a registry for the UI you are creating which is what IsolatedB

[2022-09-21 08:13] talldan commented on #43678
I'm not sure that PR is wide enough in scope to fix the bug for plugins or themes that use `@wordpress/components` in the customizer (which seems to be what's happening in the screenshot).

Those plugins/themes could implement similar fixes. I'm a bit short of ideas on how to fix it beyond that other than changing everything back to fixed positioning.

[2022-09-21 08:14] getdave commented on #43144
Although I can't be 100%, that _looks_ like a customised `<LinkControl>` implementation. I can see additional controls below `Open in new tab`. Some Plugins (e.g. Yoast) modify LinkControl and that is outside of Core's control.

If you have a clean WP install (no Plugins) does the issue persist.

[2022-09-21 08:20] #43729 closed, assigned to talldan, andrewserong

[2022-09-21 08:24] jasmussen commented on #44193
Just to follow up on this one, here's an idea of making the panel tabbed-only, which woudl put the counts solely in the outline tab:
<img width="1440" alt="Overview" src="https://user-images.githubusercontent.com/1204802/191454076-cb4c95aa-3a48-4388-a709-e349ddc9ce6e.png">

This could still be combined with showing the information at the bottom of both tabs, as an anchor:

<img width="1440" alt="O

[2022-09-21 08:29] getdave commented on #43144
Note that `<LinkControl>` is a controlled component and thus it that can be implemented differently depending on the usage context. For example, the standard links within paragraph text seem to exhibit different behaviour to the links on a Button block. This is because the logic that governs setting values is outside of the component itself.

- [Button handling](https://github.com/WordPress/gutenb

[2022-09-21 08:45] getdave opened #44318 "Extract hook for Navigation block fallback handling"
We've had several rounds of updates to the fallback handling for the Nav block. The edit js code is becoming very noisy and unwieldy due to the size of the `useEffect`.

Let's extract this to a dedicated hook which exposes the necessary information.

Related https://github.com/WordPress/gutenberg/pull/44173

[2022-09-21 08:46] alecgeatches commented on #41547
@mcsf Thank you for the summary and feedback! We're going to spend some time trying to reimplement the system via a plugin as you've suggested. This is very similar to [a previous implementation we suggested](https://github.com/WordPress/gutenberg/issues/41547#issuecomment-1196169421) with the bonus of a much cleaner hook.

One initial problem we've hit is that without the involvement of [`get_set

[2022-09-21 08:49] carolinan commented on #44211
I am not able to reproduce this, can you add any more details about the settings?
Maybe I misunderstood:

In any classic theme ( I used Twenty Seventeen)
Create two pages.
Go to Settings > reading.
Select "Your homepage displays A static page"
Assign one of the pages to the Homepage, and one to the posts page.

Switch to another classic theme, for comparison, and confirm that the homepage and the

[2022-09-21 08:52] jasmussen commented on #44245
I don't know of a way. I wouldn't personally mind a way, so long as it isn't the default.

[2022-09-21 09:06] jasmussen commented on #44302
I like to think there's an opportunity for a thumbnail view [in the not too distant future](https://github.com/WordPress/gutenberg/issues/36667#issuecomment-1228468407). But in the mean time, should we categorize? Maybe a main category holding home, index, archive, then an expanded category for category, 404, single, page, tag, etc, and finally a category for custom-made templates?

[2022-09-21 09:09] talldan commented on #42226
I noticed this one is still not working perfectly. Particularly when reloading the editor while in the focus mode:

https://user-images.githubusercontent.com/677833/191464237-dcea53df-fda6-428b-bff3-209fc60abcf4.mp4

Reopening the issue.

[2022-09-21 09:12] kabyanil commented on #40850
I'm having the same issue. I'm on WordPress version 5.9.3.

[2022-09-21 09:14] Thelmachido commented on #31316
This was labeled as the Navigation Screen however one of the solutions was to create Navigation Link Block. We currently have the navigation block, maybe the work can be continued there.

The Navigation Screen project is being moved to [an inactive status on the feature projects page](https://href.li/?https://make.wordpress.org/core/features/) in coordination with the project leads. I will close t

[2022-09-21 09:14] #31316 closed, assigned to Aljullu

[2022-09-21 09:16] Mamaduka commented on #40850
@kabyanil, the issue was fixed and the fix will be part of WP 6.1.

[2022-09-21 09:19] jasmussen commented on #43144
This is a very unique issue, thank you all for the helpful videos demonstrating the main problem: clicking outside the link dialog without applying first acts as a dismissal and doesn't save the value in the URL.

The toggle is a light-switch, with immediate effect, i.e. it saves and commits at the same time. As clarified by this ticket, this goes against the intentional dismissal of changes made,

[2022-09-21 09:20] jameskoster commented on #44074
Closing as this is a duplicate of https://github.com/WordPress/gutenberg/issues/43418

[2022-09-21 09:20] #44074 closed, assigned to nobody

[2022-09-21 09:27] paaljoachim commented on #44302
Ordering the template page into categories could be helpful.

[2022-09-21 09:34] Thelmachido commented on #31667
Closing this issue due to the Navigation Screen project is being moved to [an inactive status on the feature projects page](https://href.li/?https://make.wordpress.org/core/features/) in coordination with the project leads.

If this work is picked back up, issues can be revisited and reopened as needed. Thanks for testing this early feature and giving feedback so the wider WordPress project could

[2022-09-21 09:34] #31667 closed, assigned to javierarce, getdave

[2022-09-21 09:34] jasmussen opened #44320 "Inserter: CORS issue hovering Cover, and loop issue when hovering a few blocks"
### Description

When opening the inserter and hovering the Cover block, the console will read a CORS error. When inserting an empty paragraph and then hovering a few blocks, at some point, an endless error loop will occur.

### Step-by-step reproduction instructions

CORS issue

1. Open the inserter
2. Make sure your browser console is open
3. Hover the Cover block.

Observe a cors issue in the c

[2022-09-21 09:48] fluiddot commented on #38407
Updated the parent post with:

### 🛠️ Recently fixed or improved

++ [Buttons block - Add new tests](https://github.com/WordPress/gutenberg/pull/44223)
++ [Update Group block test snapshot](https://github.com/WordPress/gutenberg/pull/44261)
++ [Group block - Add Unit tests](https://github.com/WordPress/gutenberg/pull/44192)
++ [Capture state changes scheduled between render and effect](https://git

[2022-09-21 09:52] jameskoster opened #44322 "Contextual data in template blocks"
In https://github.com/WordPress/gutenberg/pull/43699 we merged a change to ensure that the Query blocks in templates for specific categories only display posts from the chosen category.

There's an opportunity to do similar things with other templates / blocks to provide a more consistent overall template editing / creating experience.

- [ ] https://github.com/WordPress/gutenberg/issues/44158
- [

[2022-09-21 09:53] jameskoster commented on #41947
I opened https://github.com/WordPress/gutenberg/issues/44322 :)

[2022-09-21 09:55] jameskoster commented on #39293
I would be tempted to include this here: https://github.com/WordPress/gutenberg/issues/44322

[2022-09-21 09:56] Thelmachido commented on #31813
Closing this issue due to the Navigation Screen project being moved to [an inactive status on the feature projects page](https://href.li/?https://make.wordpress.org/core/features/) in coordination with the project leads.

 If this work is picked back up, issues can be revisited and reopened as needed. Thanks for testing this early feature and giving feedback so the wider WordPress project could be

[2022-09-21 09:56] #31813 closed, assigned to nobody

[2022-09-21 10:01] jameskoster commented on #44193
I quite like the idea of only displaying the stats in the Outline tab. It does mean we'd need to design an 'empty' state for that tab though, for cases where a post/page contains no headings.

Another option could be to add a user preference which toggles the display of the stats. I don't know how many people use them but I suspect it's relatively small. This way, if the toggle is off and the post

[2022-09-21 10:04] ciampo commented on #44281
#44301 Fixes the incorrect positioning.

The disappearing will need a separate fix — I will look into it and see what I can discover

[2022-09-21 10:04] Thelmachido commented on #33271
Closing this issue due to the Navigation Screen project being moved to [an inactive status on the feature projects page](https://href.li/?https://make.wordpress.org/core/features/) in coordination with the project leads. If this work is picked back up, issues can be revisited and reopened as needed.

[2022-09-21 10:04] #33271 closed, assigned to nobody

[2022-09-21 10:05] Thelmachido commented on #33272
Closing this issue due to the Navigation Screen project being moved to [an inactive status on the feature projects page](https://href.li/?https://make.wordpress.org/core/features/) in coordination with the project leads.

If this work is picked back up, issues can be revisited and reopened as needed.

Thanks for testing this early feature and giving feedback so the wider WordPress project could be

[2022-09-21 10:05] #33272 closed, assigned to nobody

[2022-09-21 10:06] Thelmachido commented on #33969
Closing this issue due to the project being moved to [an inactive status on the feature projects page](https://href.li/?https://make.wordpress.org/core/features/) in coordination with the project leads. If this work is picked back up, issues can be revisited and reopened as needed.

[2022-09-21 10:06] #33969 closed, assigned to nobody

[2022-09-21 10:07] Thelmachido commented on #34224
Closing this issue due to the project being moved to [an inactive status on the feature projects page](https://href.li/?https://make.wordpress.org/core/features/) in coordination with the project leads. If this work is picked back up, issues can be revisited and reopened as needed.

Thanks for testing this early feature and giving feedback so the wider WordPress project could benefit from the less

[2022-09-21 10:07] #34224 closed, assigned to nobody

[2022-09-21 10:44] diegosomar opened #44324 "Consider add "text-align" option to core/post-excerpt block"
## What problem does this address?
Post/Page excerpt is a non-format string field and we can't center the text.
The core/post-excerpt block has no option to center the text, like core/post-title block.

## What is your proposed solution?
Add a "text-align" button to core/post-excerpt block

![text-align-option](https://user-images.githubusercontent.com/11670836/191484628-104c3536-14d7-4dc4-9069-2b

[2022-09-21 10:47] jasmussen commented on #44193
Would it be crazy to just not have the tab if empty?

[2022-09-21 10:51] jameskoster commented on #44302
There's some discussion in https://github.com/WordPress/gutenberg/issues/42325#issuecomment-1206455419 which might be relevant here.

[2022-09-21 11:02] jameskoster commented on #44300
I don't think it's quite adequate on its own. I just confused myself trying to find a category in the list 😅 I suppose it's a bit of an edge case since I have 13 categories on my site which is close to the limit. It seems strange for only 3 of them to not be there.

A couple of options for us to consider... a heading above the list indicating that they are only the most recent entries:

<img width

[2022-09-21 11:03] MaggieCabrera commented on #41966
We have two problems here: one is the specificity, which it's the easy part, the other is that the block is adding a gradient, and the elements are only overriding the background-color. Solving specificity will not solve this problem, it ends up doing something like:

<img width="954" alt="Screenshot 2022-09-21 at 13 01 58" src="https://user-images.githubusercontent.com/3593343/191488016-2a9093a4-

[2022-09-21 11:12] jameskoster commented on #44193
Then how would you see the stats?

[2022-09-21 11:20] jasmussen commented on #44193
Right, that would only work if the stats was a fixed anchor at the bottom of either tab.

[2022-09-21 11:57] #44307 closed, assigned to ellatrix

[2022-09-21 11:59] carolinan commented on #44324
Hi!
I can not reproduce this, I am able to align the text when I add the block.
Looking through the code, this was added two years ago.
Can you provide any more details?

[2022-09-21 12:07] RahiDroid commented on #44262
@aaronrobertshaw, I have shared my thoughts on your PR; looks great! 🎉

I believe the rendering of the overlay in the editor when opacity is 0 was the only issue. Though it doesn't affect the functionality, I agree it should definitely be removed for consistency in markup.

Sure, please go ahead. Also, add the Backport label on your PR to ensure it gets backported if we happen to push in any more

[2022-09-21 12:16] Thelmachido commented on #34227
Closing this issue due to the Navigation Screen project being moved to [an inactive status on the feature projects page](https://href.li/?https://make.wordpress.org/core/features/) in coordination with the project leads. If this work is picked back up, issues can be revisited and reopened as needed.

Thanks for testing this early feature and giving feedback so the wider WordPress project could ben

[2022-09-21 12:16] #34227 closed, assigned to nobody

[2022-09-21 12:30] diegosomar commented on #44324
Hello @carolinan, I recoreded a video to show.
Before recording, I tried to add the excerpt to a PAGE (post type) and it worked.

But when I went to create or edit a TEMPLATE (FSE), the option is no longer available. So the alignment option appears on the page, but not in the page template.

My env:

- WP: 6.0.2
- Gutenberg Plugin: 14.1.1

https://user-images.githubusercontent.com/11670836/1915038

[2022-09-21 13:07] Thelmachido commented on #34232
Closing this issue due to the Navigation Screen project being moved to [an inactive status on the feature projects page](https://href.li/?https://make.wordpress.org/core/features/) in coordination with the project leads.

If this work is picked back up, issues can be revisited and reopened as needed. Thanks for testing this early feature and giving feedback so the wider WordPress project could ben

[2022-09-21 13:07] #34232 closed, assigned to nobody

[2022-09-21 13:09] Thelmachido commented on #34233
Closing this issue due to the Navigation Screen project being moved to [an inactive status on the feature projects page](https://href.li/?https://make.wordpress.org/core/features/) in coordination with the project leads. If this work is picked back up, issues can be revisited and reopened as needed.

Thanks for testing this early feature and giving feedback so the wider WordPress project could ben

[2022-09-21 13:09] #34233 closed, assigned to nobody

[2022-09-21 13:10] Thelmachido commented on #34234
Closing this issue due to the project being moved to [an inactive status on the feature projects page](https://href.li/?https://make.wordpress.org/core/features/) in coordination with the project leads.

If this work is picked back up, issues can be revisited and reopened as needed. Thanks for testing this early feature and giving feedback so the wider WordPress project could benefit from the less

[2022-09-21 13:10] #34234 closed, assigned to nobody

[2022-09-21 13:12] Thelmachido commented on #34255
Closing this issue due to the project being moved to [an inactive status on the feature projects page](https://href.li/?https://make.wordpress.org/core/features/) in coordination with the project leads.

 If this work is picked back up, issues can be revisited and reopened as needed. Thanks for testing this early feature and giving feedback so the wider WordPress project could benefit from the les

[2022-09-21 13:12] #34255 closed, assigned to nobody

[2022-09-21 13:13] Mamaduka commented on #44300
I like the idea of heading. I think "Load more" might complicate the component logic.

@ntsekouras, what do you think?

[2022-09-21 13:13] Thelmachido commented on #34268
Closing this issue due to the project being moved to [an inactive status on the feature projects page](https://href.li/?https://make.wordpress.org/core/features/) in coordination with the project leads. If this work is picked back up, issues can be revisited and reopened as needed.

Thanks for testing this early feature and giving feedback so the wider WordPress project could benefit from the less

[2022-09-21 13:13] #34268 closed, assigned to nobody

[2022-09-21 13:18] Mamaduka commented on #29864
@mtias, can we close this issue?

[2022-09-21 13:22] Mamaduka commented on #35483
This was accidentaly closed by bot 🤖

[2022-09-21 14:31] marko-srb commented on #44300
My two cents. :)

Adding 'Recent Categories' in the manner you showcased would solve this for me. If we consider that too many categories on one particular website wouldn't allow us to review all categories, or if the feature did with 'Load More', it would be troublesome to go through all of them.

[2022-09-21 14:55] jameskoster commented on #44300
Good points. We can start with the heading, and revisit if the issue persists :)

[2022-09-21 14:58] Mamaduka commented on #44300
Sounds good. I'll push the update tomorrow morning 👍

[2022-09-21 14:58] github-actions[bot] opened #44332 "[Flaky Test] should allow a block with styles to be converted to a reusable block"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should allow a block with styles to be converted to a reusable block

## Test path
`/test/e2e/specs/editor/various/patterns.spec.js`

## Errors

<time datetime="2022-09-21T14:58:47.613Z"><code>[2022-09-21T14:58:47.613Z]</code></time> Test passed after 2 failed attempts on <a

[2022-09-21 15:09] #42894 closed, assigned to jorgefilipecosta

[2022-09-21 15:20] #29743 closed

[2022-09-21 15:53] gavin310 commented on #18010
WordPress - WTF?

[2022-09-21 16:10] #44220 closed, assigned to ciampo

[2022-09-21 16:58] mirka commented on #42285
I looked into this a bit, and unfortunately could not reproduce. I suspect there is a missing repro condition. Here is an E2E test I tried in both headed/headless mode, and in Desktop Chrome/Firefox:

<details>
<summary>E2E test code</summary>

[code]

</details>

I also inspected the relevant code paths (`editor/src/components/post-author` and `components/src/combobox-control`) and could not thin

[2022-09-21 17:38] ndiego opened #44335 "Spacing visualizers not displaying accurately when adjusting margin/padding using spacing steps"
### Description

In testing the Twenty Twenty-Three theme, I noticed that the margin and padding visualizers appear incorrectly or quite glitchy when adjusting spacing using the new spacing step functionality. Switching to manual sliders greatly improves the visualizers.

### Step-by-step reproduction instructions

1. In Twenty Twenty-Three (or another theme that supports spacing steps) add a para

[2022-09-21 18:05] ndiego opened #44336 "Root padding is not getting applied correctly in the Editor"
### Description

In testing the Twenty Twenty-Three theme, I noticed some issues with root padding in the Editor.

First, there is no root padding applied to the Editor itself. Secondly, root padding is applied incorrectly via the `.has-global-padding` class. On the Frontend, everything appears to be working correctly. See the video for complete information.

I believe that simply adding `.has-glo

[2022-09-21 18:07] getdave commented on #43897
I looked into this some more. I turns out it's [valid to have `a` elements without an `href`](https://html.spec.whatwg.org/multipage/links.html#links-created-by-a-and-area-elements).

I've created a PR which conditionally adds the `href` depending on whether it's not empty.

https://github.com/WordPress/gutenberg/pull/44337

[2022-09-21 18:08] ndiego commented on #44336
@tellthemachines, @richtabor, @bgardner given that you all worked on https://github.com/WordPress/gutenberg/issues/43095, I wanted to ping you on this one as well. If anyone can confirm these findings, it would be most appreciated 🙏

[2022-09-21 18:14] ndiego commented on #44335
@jasmussen and @glendaviesnz sorry for the ping, but I know you both have been working on step spacing and wanted to make sure you saw this. 🙏

[2022-09-21 18:17] ironprogrammer commented on #42285
Also confirming that I was unable to reproduce this on macOS / Safari or Chrome 😞. I've pinged [#core-test](https://wordpress.slack.com/messages/core-test/) to see if we can rope in any Windows users to help.

As @alexstine noted, once there are 25+ authors available, the Author `components-input-control` (a typical `<select>`) shifts to `components-combobox-control` (a JS-driven `<input>`).

For

[2022-09-21 18:22] ndiego commented on #42229
The TOC block was not included in the 6.1 Beta, so I am going to remove this PR from the 6.1 Project Board.

[2022-09-21 18:53] kathrynwp commented on #34399
Closing this issue due to the Navigation Screen project being moved to [an inactive status on the feature projects page](https://make.wordpress.org/core/features/) in coordination with the project leads. (The developer documentation in the initial post are no longer accessible)

If this work is picked back up, issues can be revisited and reopened as needed. Thanks for pitching in on this early fea

[2022-09-21 18:53] #34399 closed, assigned to nobody

[2022-09-21 18:53] kathrynwp commented on #34440
Closing this issue due to the Navigation Screen project being moved to [an inactive status on the feature projects page](https://make.wordpress.org/core/features/) in coordination with the project leads. (The developer documentation in the initial post are no longer accessible)

If this work is picked back up, issues can be revisited and reopened as needed. Thanks for pitching in on this early fea

[2022-09-21 18:53] #34440 closed, assigned to nobody

[2022-09-21 18:53] kathrynwp commented on #34442
Closing this issue due to the Navigation Screen project being moved to [an inactive status on the feature projects page](https://make.wordpress.org/core/features/) in coordination with the project leads. (The developer documentation in the initial post are no longer accessible)

If this work is picked back up, issues can be revisited and reopened as needed. Thanks for pitching in on this early fea

[2022-09-21 18:53] #34442 closed, assigned to nobody

[2022-09-21 18:54] kathrynwp commented on #34443
Closing this issue due to the Navigation Screen project being moved to [an inactive status on the feature projects page](https://make.wordpress.org/core/features/) in coordination with the project leads. (The developer documentation in the initial post are no longer accessible)

If this work is picked back up, issues can be revisited and reopened as needed. Thanks for pitching in on this early fea

[2022-09-21 18:54] #34443 closed, assigned to nobody

[2022-09-21 18:55] kathrynwp commented on #34778
Closing this issue due to the Navigation Screen project being moved to [an inactive status on the feature projects page](https://make.wordpress.org/core/features/) in coordination with the project leads. (The developer documentation in the initial post are no longer accessible)

If this work is picked back up, issues can be revisited and reopened as needed. Thanks for pitching in on this early fea

[2022-09-21 18:55] #34778 closed, assigned to nobody

[2022-09-21 18:56] kathrynwp commented on #34781
Closing this issue due to the Navigation Screen project being moved to [an inactive status on the feature projects page](https://make.wordpress.org/core/features/) in coordination with the project leads. (The developer documentation in the initial post are no longer accessible)

If this work is picked back up, issues can be revisited and reopened as needed. Thanks for pitching in on this early fea

[2022-09-21 18:56] #34781 closed, assigned to nobody

[2022-09-21 18:56] kathrynwp commented on #34858
Closing this issue due to the Navigation Screen project being moved to [an inactive status on the feature projects page](https://make.wordpress.org/core/features/) in coordination with the project leads. (The developer documentation in the initial post are no longer accessible)

If this work is picked back up, issues can be revisited and reopened as needed. Thanks for pitching in on this early fea

[2022-09-21 18:56] #34858 closed, assigned to nobody

[2022-09-21 18:56] kathrynwp commented on #34859
Closing this issue due to the Navigation Screen project being moved to [an inactive status on the feature projects page](https://make.wordpress.org/core/features/) in coordination with the project leads. (The developer documentation in the initial post are no longer accessible)

If this work is picked back up, issues can be revisited and reopened as needed. Thanks for pitching in on this early fea

[2022-09-21 18:56] #34859 closed, assigned to nobody

[2022-09-21 18:57] kathrynwp commented on #34933
Closing this issue due to the Navigation Screen project being moved to [an inactive status on the feature projects page](https://make.wordpress.org/core/features/) in coordination with the project leads. (The developer documentation in the initial post are no longer accessible)

If this work is picked back up, issues can be revisited and reopened as needed. Thanks for pitching in on this early fea

[2022-09-21 18:57] #34933 closed, assigned to nobody

[2022-09-21 18:58] kathrynwp commented on #34961
Closing this issue due to the Navigation Screen project being moved to [an inactive status on the feature projects page](https://make.wordpress.org/core/features/) in coordination with the project leads. (The developer documentation in the initial post are no longer accessible)

If this work is picked back up, issues can be revisited and reopened as needed. Thanks for pitching in on this early fea

[2022-09-21 18:58] #34961 closed, assigned to nobody

[2022-09-21 18:58] kathrynwp commented on #34987
Closing this issue due to the Navigation Screen project being moved to [an inactive status on the feature projects page](https://make.wordpress.org/core/features/) in coordination with the project leads. (The developer documentation in the initial post are no longer accessible)

If this work is picked back up, issues can be revisited and reopened as needed. Thanks for pitching in on this early fea

[2022-09-21 18:58] #34987 closed, assigned to nobody

[2022-09-21 18:59] kathrynwp commented on #34995
Closing this issue due to the Navigation Screen project being moved to [an inactive status on the feature projects page](https://make.wordpress.org/core/features/) in coordination with the project leads. (The developer documentation in the initial post are no longer accessible)

If this work is picked back up, issues can be revisited and reopened as needed. Thanks for pitching in on this early fea

[2022-09-21 18:59] #34995 closed, assigned to nobody

[2022-09-21 18:59] kathrynwp commented on #34999
Closing this issue due to the Navigation Screen project being moved to [an inactive status on the feature projects page](https://make.wordpress.org/core/features/) in coordination with the project leads. (The developer documentation in the initial post are no longer accessible)

If this work is picked back up, issues can be revisited and reopened as needed. Thanks for pitching in on this early fea

[2022-09-21 18:59] #34999 closed, assigned to nobody

[2022-09-21 18:59] kathrynwp commented on #35003
Closing this issue due to the Navigation Screen project being moved to [an inactive status on the feature projects page](https://make.wordpress.org/core/features/) in coordination with the project leads. (The developer documentation in the initial post are no longer accessible)

If this work is picked back up, issues can be revisited and reopened as needed. Thanks for pitching in on this early fea

[2022-09-21 18:59] #35003 closed, assigned to nobody

[2022-09-21 19:00] kathrynwp commented on #35100
Closing this issue due to the Navigation Screen project being moved to [an inactive status on the feature projects page](https://make.wordpress.org/core/features/) in coordination with the project leads. (The developer documentation in the initial post are no longer accessible)

If this work is picked back up, issues can be revisited and reopened as needed. Thanks for pitching in on this early fea

[2022-09-21 19:00] #35100 closed, assigned to nobody

[2022-09-21 19:00] kathrynwp commented on #35103
Closing this issue due to the Navigation Screen project being moved to [an inactive status on the feature projects page](https://make.wordpress.org/core/features/) in coordination with the project leads. (The developer documentation in the initial post are no longer accessible)

If this work is picked back up, issues can be revisited and reopened as needed. Thanks for pitching in on this early fea

[2022-09-21 19:00] #35103 closed, assigned to nobody

[2022-09-21 19:01] kathrynwp commented on #35157
Closing this issue due to the Navigation Screen project being moved to [an inactive status on the feature projects page](https://make.wordpress.org/core/features/) in coordination with the project leads. (The developer documentation in the initial post are no longer accessible)

If this work is picked back up, issues can be revisited and reopened as needed. Thanks for pitching in on this early fea

[2022-09-21 19:01] #35157 closed, assigned to spacedmonkey

[2022-09-21 19:02] kathrynwp commented on #35601
Closing this issue due to the Navigation Screen project being moved to [an inactive status on the feature projects page](https://make.wordpress.org/core/features/) in coordination with the project leads. (The developer documentation in the initial post are no longer accessible)

If this work is picked back up, issues can be revisited and reopened as needed. Thanks for pitching in on this early fea

[2022-09-21 19:02] #35601 closed, assigned to nobody

[2022-09-21 19:02] kathrynwp commented on #36110
Closing this issue due to the Navigation Screen project being moved to [an inactive status on the feature projects page](https://make.wordpress.org/core/features/) in coordination with the project leads. (The developer documentation in the initial post are no longer accessible)

If this work is picked back up, issues can be revisited and reopened as needed. Thanks for pitching in on this early fea

[2022-09-21 19:02] #36110 closed, assigned to nobody

[2022-09-21 19:03] kathrynwp commented on #37640
Closing this issue due to the Navigation Screen project being moved to [an inactive status on the feature projects page](https://make.wordpress.org/core/features/) in coordination with the project leads. (The developer documentation in the initial post are no longer accessible)

If this work is picked back up, issues can be revisited and reopened as needed. Thanks for pitching in on this early fea

[2022-09-21 19:03] #37640 closed, assigned to nobody

[2022-09-21 19:03] kathrynwp commented on #37698
Closing this issue due to the Navigation Screen project being moved to [an inactive status on the feature projects page](https://make.wordpress.org/core/features/) in coordination with the project leads. (The developer documentation in the initial post are no longer accessible)

If this work is picked back up, issues can be revisited and reopened as needed. Thanks for pitching in on this early fea

[2022-09-21 19:03] #37698 closed, assigned to nobody

[2022-09-21 19:04] kathrynwp commented on #37794
Closing this issue due to the Navigation Screen project being moved to [an inactive status on the feature projects page](https://make.wordpress.org/core/features/) in coordination with the project leads. (The developer documentation in the initial post are no longer accessible)

If this work is picked back up, issues can be revisited and reopened as needed. Thanks for pitching in on this early fea

[2022-09-21 19:04] #37794 closed, assigned to nobody

[2022-09-21 19:04] kathrynwp commented on #39246
Closing this issue due to the Navigation Screen project being moved to [an inactive status on the feature projects page](https://make.wordpress.org/core/features/) in coordination with the project leads. (The developer documentation in the initial post are no longer accessible)

If this work is picked back up, issues can be revisited and reopened as needed. Thanks for pitching in on this early fea

[2022-09-21 19:04] #39246 closed, assigned to nobody

[2022-09-21 19:05] kathrynwp commented on #40822
Closing this issue due to the Navigation Screen project being moved to [an inactive status on the feature projects page](https://make.wordpress.org/core/features/) in coordination with the project leads. (The developer documentation in the initial post are no longer accessible)

If this work is picked back up, issues can be revisited and reopened as needed. Thanks for pitching in on this early fea

[2022-09-21 19:05] #40822 closed, assigned to nobody

[2022-09-21 19:17] MrJnrman opened #44338 "Permission errors when a WordPress version is specified in the core field of `.wp-env.json` file"
### Description

When the WordPress version is specified in the `core` field of the `.wp-env.json` file, we may encounter permission issues when trying to manipulate the WordPress installation using the cli container.

### Step-by-step reproduction instructions

Scenario 1: Permalinks
1. Set the core field of your `.wp-env.json` to `WordPress/WordPress#tags/5.8.5`
2. Start your container using `wp

[2022-09-21 19:32] ciampo opened #44339 "Popover: assess all `position` to `placement` conversions, add unit tests"
With the refactor of `Popover` to using `floating-ui` internally (#40740), a new `placement` prop was introduced with the objective of replacing the legacy `position` prop.

Currently, there is [a function converting `position` to `placement`](https://github.com/WordPress/gutenberg/blob/ae31a593b7e954a4f4996140260fea02fde54a6c/packages/components/src/popover/utils.ts#L17-L41), but:

 - its logic i

[2022-09-21 19:46] ciampo commented on #44339
I went ahead and checked out the repository before #40740 was merged. I was therefore able to render a `Popover` for all possible values of the `position` prop (even the ones that don't really make much sense), simulating a `Popover` wider and taller than its anchor.

I then repeated the same thing on `trunk`, taking a screenshot of all possible `placement` values.

Here's the comparison:

## All

[2022-09-21 19:59] annezazu opened #44340 "Themes: Provide more resources to clarify what can be done in theme.json vs Styles interface"
## What problem does this address?

Right now, the process for determining which settings need to be done in theme.json vs the Styles interface is very manual. Tied to this, there's a regularly increasing amount of possibilities coming to each. For example, box shadow support was added to theme.json but it would be great to know when this can be controlled in the UI without needing to manually tes

[2022-09-21 20:05] ciampo commented on #44339
Based on the images above, this should be the expected conversion:

(disclaimer: for completeness, I listed all possible combinations of values for the `position` prop, even if some of them don't really make sense)

| Position | Placement | Notes |
|---|---|---|
| `middle` | `top` | There is no equivalent `placement` in `floating-ui`, use `top` as fallback |
| `bottom` | `bottom` | - |
| `top` | `

[2022-09-21 20:10] joedolson commented on #42285
I was able to partially reproduce this with NVDA/Firefox. On loading a post editor with the described conditions met, the last read text from NVDA announced the author combobox. However, it didn't seem like it actually had focus; when I navigated with tab, I landed on the Skip link at the top of the page, as normal. Could that load condition be getting fed to an aria-live region or alert?

[2022-09-21 20:25] github-actions[bot] opened #44341 "[Flaky Test] should not allow blocks to be inserted in inner blocks"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should not allow blocks to be inserted in inner blocks

## Test path
`specs/editor/plugins/cpt-locking.test.js`

## Errors

<time datetime="2022-09-21T20:25:19.908Z"><code>[2022-09-21T20:25:19.908Z]</code></time> Test passed after 1 failed attempt on <a href="https://github.

[2022-09-21 20:59] justingolden21 commented on #17358
+1 to this. We need to add a container class to only our parent elements, since otherwise the children keep getting more padding and the alignment gets messed up

[2022-09-21 20:59] annezazu commented on #44335
@talldan pinging you since you previously fixed https://github.com/WordPress/gutenberg/issues/41823 and might have some context on these controls too!

[2022-09-21 21:00] swinggraphics commented on #38637
Why is this issue closed? The problem still exists in 6.0.2 whether you use the block editor or Quick Edit.

This is a good **workaround** but not a solution.

[2022-09-21 21:07] justingolden21 commented on #27137
Is this still not possible? Saw something online using `isset($block['attrs']['hasParent'])` but `hasParent` doesn't seem to be set in any of my elements, neither parent nor child.

[2022-09-21 21:22] justingolden21 commented on #27137
I was able to use this `count($block['innerBlocks']) !== 0` to check for child blocks.

[2022-09-21 21:41] ironprogrammer commented on #38637
In response to @swinggraphics:

It was addressed in #42321, which shipped with Gutenberg 13.8. In the timeline that coincidentally appeared just below the workaround suggestion, but they're unrelated 😂

Today's [beta release of WordPress 6.1](https://wordpress.org/news/2022/09/wordpress-6-1-beta-1-now-available/) includes this fix. Alternatively, the fix is also included in the [Gutenberg plugin](

[2022-09-21 21:45] bph commented on #42961
@tellthemachines I updated the tracking section above.

[2022-09-21 22:12] swinggraphics commented on #38637
Gotcha, thank you! The line drawn between replies can be misleading…at least to me. :) I am helping out on a site where the authors run into this constantly. After fixing another half dozen for them today, we'll all be very glad when the fix ships.

[2022-09-22 00:10] seothemes commented on #44275
I think the issue there is that when setting a top level block to `display:contents`, it loses its positioning, so the toolbar will instead use the position of the parent element (`is-root-container`). That causes the toolbar to be hidden behind `edit-post-header` because of the negative `top` value. To make it visible again for testing you can add this CSS:

[code]

It's possible to add some JS t

[2022-09-22 00:52] JiveDig commented on #44275
In my scenario (ACF Blocks), and likely other native block situations, I'm not sure it's possible to remove the extra div. That would be ideal but I don't think it's always possible. Adjusting top positioning could help, I must have missed that in my debugging. I'll have to test and see how solid that fix will be for the ever changing block editor styles and markup.

[2022-09-22 02:49] seothemes commented on #44275
Here's another workaround, and probably a better way. You can set the block toolbar to always display at the top of the editor. I wonder if there's a way to force this for specific blocks:

<img width="640" alt="block editor top toolbar" src="https://user-images.githubusercontent.com/24793388/191647095-bfff9a12-8924-4de6-bdb0-b5be9d836270.png">

[2022-09-22 03:17] costdev commented on #42285
Tested on Windows 10 with NVDA and Narrator.
- On Chrome and Edge, I was unable to reproduce the issue.
- On Firefox: I reproduced the issue as described by @joedolson.
  - Also reproduced when adding a new post, so it's not just on existing posts.

I've attached a brief video which shows me navigating to edit an existing post, and the author box being highlighted by Narrator. I then press tab, wh

[2022-09-22 03:46] costdev commented on #42285
Did some further digging and the issue exists from WordPress 5.9 onwards. I installed WordPress 5.8.5 and stepped through Gutenberg versions. It was introduced in Gutenberg 11.4.0.

In that release, there's one item marked for accessibility, which is:

[See the full changelog for Gutenberg 11.4.0](https://github.com/WordPress/gutenberg/releases?q=11.4.0&expanded=true).

[2022-09-22 04:07] solaceten commented on #17738
Hello, I am wondering if this will get implemented and when?  It would also be nice to have the ability to add list style e.g. A) B) C) etc

[2022-09-22 04:09] alexstine commented on #42285
Thanks all for looking in to this. I think I finally found what is causing it.

https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Attributes/aria-activedescendant

The attribute itself does not seem to be the problem, but I believe the onChange is updating the currently selected index which causes a focus force because that is what the attribute is intended to do. Sadly, this is anot

[2022-09-22 05:26] glendaviesnz commented on #38557
@ValentinH [this approach](https://github.com/ValentinH/react-easy-crop/pull/410) seems to work for our iframed instance, but not sure if it has any potential issues/drawbacks in other contexts.

[2022-09-22 05:27] seothemes opened #44345 "TS2305: Module @wordpress/... has no exported member __experimental..."
## What problem does this address?

TypeScript is throwing an error because experimental features are not exported by `@types/wordpress__...` packages. Are there any plans to support experimental feature types, or should we not use them?

`TS2305: Module '"@wordpress/components"' has no exported member '__experimentalNumberControl'.`

<img width="763" alt="screenshot of typescript error" src="http

[2022-09-22 05:42] Greatdane opened #44346 "Allow Submenus in Navigation Overlay to respect "Toggle on Click""
### Description

In a navigation block with a submenu, when selecting Open on click and Always Overlay, the submenu items do not collapse and the open to show an arrow is not selectable. The arrow is also not present.

This behavior continues on the live page. It looks like there is a visibility rule that doesn't get toggled in this view. Here's a workaround with CSS:

[code]

### Step-by-step rep

[2022-09-22 06:21] alexstine commented on #42285
Well, my PR can in my opinion, only be described as a fun work of art. I have no idea why it works or how it works, but the important take away is this. I am simply manipulating at which point `aria-activedescendant` has a value. For example, the attribute should only exist when the user moves their focus to the combo box but not before this due to the setting of the default value. When the value

[2022-09-22 07:31] jasmussen commented on #44335
I have noticed a little bit of lag, and some height calculation issues. And from your visual here, it looks like margin goes inwards instead of outwards.

[2022-09-22 07:56] fabiankaegy opened #44349 "Custom property output by spacing sizes is incorrect for slugs containing numbers"
### Description

Using the new `spacingSizes` property in `theme.json` I noticed that the custom property that gets set as an inline style from the style engine are incorrect if the `slug` contains a number.

My spacing sizes look as follows:
[code]

They produce the custom properties:
[code]

But the inline styles that get generated in the editor look like this:
[code]

**The Inline styles are mi

[2022-09-22 08:06] fabiankaegy commented on #44349
Just a note for any theme developers that might be impacted by this:

Manually adding the `-` to the slug does resolve the issue:
[code]

[2022-09-22 08:19] fabiankaegy commented on #44349
@Mamaduka helpfully pointed out in slack, this older issue is somewhat related as it shows the trail of where this handling of adding `-` after numbers was introduced: https://github.com/WordPress/gutenberg/issues/39155

[2022-09-22 08:21] SantosGuillamot commented on #44257
Thanks a lot for filing the issue and testing it 🙂

I have just created [this Pull Request](https://github.com/WordPress/gutenberg/pull/44351) with a potential solution to fix it. I am not 100% familiar with the code so I am not sure it is the best approach. I've asked @c4rl0sbr4v0 and @DAreRodz to take a look at it because they were more involved in the Comments blocks code.

[2022-09-22 08:27] getdave commented on #42961
I added a [dev note for pseudo class support for `elements` in `theme.json`](https://github.com/WordPress/gutenberg/pull/41786#issuecomment-1254694174). It's being tech reviewed by @scruffian and @draganescu.

[2022-09-22 09:10] paaljoachim opened #44352 "Media & Text block: Change default value from Wide with to None."
### Description

I am adding this as a bug, but it is a default behavior which would be helpful to change.

I noticed on a client site that the Media & Text block width was on Wide width and did not align with the content above it.
The client had not discovered the width icon option in the toolbar.

Here is an example.
![Screenshot 2022-09-22 at 11 05 18](https://user-images.githubusercontent.com/

[2022-09-22 09:13] loxK commented on #44309
`process.env.WP_SRC_DIRECTORY` has be back to being optional, like it has always been, and it would be perfect.

[2022-09-22 09:14] Mamaduka commented on #44352
Is this similar to the previous issue, #20941?

[2022-09-22 09:15] paaljoachim commented on #44352
Ahhh yes. I knew I recognized it..:)
I even made the issue that time.
Closing this issue....

Thanks George..:)

[2022-09-22 09:15] #44352 closed, assigned to nobody

[2022-09-22 09:19] paaljoachim commented on #20941
I am reopening this issue as I came across it again. Even made an issue without realizing I had this old issue.
https://github.com/WordPress/gutenberg/issues/44352

[2022-09-22 09:21] paaljoachim commented on #20941
Default value today is Wide width. Default value should start out with None as width.
It would be helpful to have a developer look into this issue. Thanks!

[2022-09-22 09:24] paaljoachim commented on #44352
Reopened the other issue.

[2022-09-22 09:26] github-actions[bot] opened #44353 "[Flaky Test] should forward delete across blocks"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should forward delete across blocks

## Test path
`/test/e2e/specs/editor/various/multi-block-selection.spec.js`

## Errors

<time datetime="2022-09-22T09:26:02.590Z"><code>[2022-09-22T09:26:02.590Z]</code></time> Test passed after 1 failed attempt on <a href="https://github

[2022-09-22 09:26] github-actions[bot] opened #44354 "[Flaky Test] should multi-select in the ListView component with shift + up and down keys"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should multi-select in the ListView component with shift + up and down keys

## Test path
`specs/editor/various/multi-block-selection.test.js`

## Errors

<time datetime="2022-09-22T09:26:03.558Z"><code>[2022-09-22T09:26:03.558Z]</code></time> Test passed after 1 failed atte

[2022-09-22 09:30] #43897 closed, assigned to getdave

[2022-09-22 09:42] alexstandiford commented on #44186
I think this should be considered plugin territory. Building a post type for this would require that we also add an interface to view the data, and also require that we ensure the method in which the data is stored satisfies GDPR concerns. I think it adds a lot of complexity that, at least for version 1, should be skipped for now.

I'd suggest that WordPress comes with an email notification action

[2022-09-22 09:43] jameskoster opened #44357 "When dragging the resize handles, snap to wide / full widths"
For blocks that have resize handles for width (e.g. Image), it would be nice if the block 'snapped' to predefined widths like wide and full. Perhaps the different widths could appear as guide lines?

<img width="1520" alt="Grid" src="https://user-images.githubusercontent.com/1204802/203553939-5d689c42-73d5-43b4-87e1-1073ce660444.png">

<img width="7440" alt="Only vertical snap areas, tooltip if yo

[2022-09-22 09:51] jameskoster opened #44359 "Layout jumps when selecting an image"
Most on-select layout shifts have been removed from the editor, but the image caption and quote citation fields still cause a jump.  Let's move these field into a toolbar button, to avoid layout shifts.

<img width="1600" alt="Quote, Cite buttons" src="https://user-images.githubusercontent.com/1204802/194843858-43703aca-7ed2-49ee-a76c-f76242623a4e.png">

The toolbar button should only show when th

[2022-09-22 09:54] getdave opened #44360 "Nav block Page List fallback displays too many Pages"
By default the Nav block falls back to a Page List. However on a site with a lot of pages this is overwhelming.

<img width="1049" alt="Screenshot 2022-09-22 at 10 52 31" src="https://user-images.githubusercontent.com/444434/191716664-3f45d0d3-6681-4249-abcd-e1c1df1ca71a.png">

The Page List does have an `__unstableMaxPages` attribute but this doesn't appear to be respected by Page List even thoug

[2022-09-22 09:59] jameskoster opened #44361 "Make it possible to push local block styles to global block styles"
When editing a block in the post or site editor, it would be nice if there was a way to push the styles for that block to global styles so that all blocks across the site are updated. It could work like this:

The button in "Advanced" adds the "unsaved changes" dot:

<img width="1876" alt="Button in Advanced" src="https://user-images.githubusercontent.com/1204802/200558155-ecfc31c6-0207-44cb-bff7-

[2022-09-22 10:13] jameskoster opened #44362 "Consider making Post Template block a bundled template part with new semantic area"
It's common for archive templates like Index, Archive, Category, Tag to display post content the same way. At the moment, if you decide to change the design in one template, you then have to replicate that change across all the other templates as well. Traditionally themes would include a `content.php` template part to circumvent this.

If you try to do this in the block editor, the experience is

[2022-09-22 10:23] jonathanbossenger commented on #44186
I'd like to add my voice to the "wholeheartedly agree" camp, but with one small caveat

I'm sure we've all experienced having emails from a WordPress install being marked as spam. There's nothing I dread more than a client emailing to ask "is my contact form working, I've stopped receiving emails".

I'm sure many of us have dealt with either configuring a WordPress site to send emails via SMTP or

[2022-09-22 10:37] getdave commented on #44360
Noting that the Nav block currently specifies `4` as the fallback

https://github.com/WordPress/gutenberg/blob/42874766e492aacdee1fb73dd94dd7938acbf2a9/packages/block-library/src/navigation/index.php#L311

[2022-09-22 12:12] Mamaduka commented on #44300
@jameskoster, what's the size of the heading from your mockup?

[2022-09-22 12:17] ockham commented on #44349
cc/ @ramonjd b/c Style Engine 😊

[2022-09-22 12:39] jameskoster opened #44369 "Zoomed-out experience is a bit awkward in focus mode"
https://user-images.githubusercontent.com/846565/191749027-9f2b0ad6-7b7a-4504-8c25-08cff8b16b64.mp4

Should we disable the resize handles when you zoom? Should it even be possible to zoom in focus mode?

[2022-09-22 12:42] draganescu commented on #44360
The problem here is that the `'__unstableMaxPages'` is used only when rendering the block, but not in the editor.

[2022-09-22 12:46] ntsekouras commented on #44300
We need to be carefully with internationalization and what labels we should use. In addition the order of that list is different based on the entity. An example is [here](https://github.com/WordPress/gutenberg/blob/trunk/packages/edit-site/src/components/add-new-template/utils.js#L394) which means it's not always the same.

[2022-09-22 12:58] Mamaduka commented on #44300
That makes our label choice a bit complicated 😄

We also have to change the label when displaying search results.

[2022-09-22 13:22] ntsekouras commented on #43433
The plan here is to show this setup on all variations(group. stack, row) or just expose the `Group` in the inserter? Also if a user has clicked in one option from the placeholder and doesn't add anything at that moment, what would be the expected output on refresh? Should we show again the setup state?

[2022-09-22 13:29] paaljoachim commented on #35221
Current design:

![Screenshot 2022-09-22 at 12 21 45](https://user-images.githubusercontent.com/5323259/191722976-f94a9f40-12ec-45d5-bec7-6c1fa1f163b6.jpg)

Here is a look at the Cover block design:
![Screenshot 2022-09-22 at 12 24 17](https://user-images.githubusercontent.com/5323259/191759805-cb77f894-c658-447e-829c-c377834d9650.jpg)

Perhaps we could add the same UI which Cover block adds a Fea

[2022-09-22 13:48] t-hamano commented on #44336
I think #44209 would solve this problem.
However, we may want to consider adding a backport label to this PR.

[2022-09-22 14:05] corentin-gautier commented on #2515
Hi @ellatrix !

So here's the thing :

The following images is hosted on another wordpress instance, on another server. I just used the "copy all content" feature and pasted everything into a new post.

- I have no way of knowing it's not a locally hosted image (ie: in the media library)
- I have no way of making it a local file.

<img width="690" alt="Screenshot 2022-09-22 at 15 56 06" src="https

[2022-09-22 14:16] Thelmachido commented on #43881
Yes, it is quite difficult to reproduce this. However, I can still reproduce this with the same environment Anne shared

https://user-images.githubusercontent.com/41231764/191760368-9f2df510-810d-4d33-841a-a62ddf0b42bc.mov

WordPress 6.0.2
Gutenberg  14.0.2 active and deactivated
TT2

[2022-09-22 14:17] t-hamano commented on #27521
I was able to reproduce this problem with **the post editor**, not the site editor. I also think that this problem is not limited to audio blocks.
Some examples are described below.

After selecting media in the media library and pressing the Select button:

- Audio Block: Loses focus. However, if the Tab key is pressed, the block gets focus.
- File Block: Loses focus. However, if the Tab key is p

[2022-09-22 14:38] colorful-tones opened #44374 "Site editor iframe clips body styling"
### Description

Testing in 6.1 beta1 with Twenty Twenty-Three theme. This bug only surfaces in the latest beta and if you activate the latest Gutenberg then it goes away. So, did something not get ported into the latest 6.1 beta? Or should I move this over to Trac?

This affects the Twenty Twenty-Three theme: https://github.com/WordPress/twentytwentythree/issues/195

The `<body>` element styling

[2022-09-22 14:43] oandregal commented on #43440
I've prepared https://github.com/WordPress/wordpress-develop/pull/3313 to backport the changes at https://github.com/WordPress/gutenberg/pull/44363

[2022-09-22 14:48] ndiego commented on #44374
@ockham @michalczaplinski @annezazu I am able to confirm this. Note this issue does not occur when the latest version of Gutenberg is active. But as soon as you deactivate GB, the issue appears. Perhaps something did not get ported over to 6.1 🤔 So far I have been unable to isolate the issue.

[2022-09-22 14:53] bph opened #44375 "Enhance block recovery to fix basic markup errors"
### Description

When I copied content over from a different site, the list block showed an error, with the option to recover the block. When I clicked on **Attempt Block Recovery**, the feature only provided empty `<ul></ul>` tags and my content was lost.

### Step-by-step reproduction instructions

Copy/paste a list block to a different test site.

I used this
[code]

## Screenshot
On the top of

[2022-09-22 15:04] jameskoster commented on #44300
It's the same as the one we find here:

<img width="280" alt="Screenshot 2022-09-22 at 16 03 28" src="https://user-images.githubusercontent.com/846565/191783064-398f004f-b471-45f1-a38e-b162fa0d28dc.png">

[2022-09-22 15:10] Mamaduka commented on #44375
@bph, the example is missing the opening block comment and the `<ul>` tag. If I manually add them it works correctly.

Here's the fixed example:

[code]

[2022-09-22 15:14] Mamaduka commented on #14311
It is now possible with the List View. I'm going to close the issue.

[2022-09-22 15:14] #14311 closed

[2022-09-22 15:16] jameskoster opened #44376 "Zoomed out view – 'Move down' has a hover state when disabled"
The last block at the root level cannot be moved down, so the downward mover is disabled. However, hovering over it produces a hover effect which feels contradictory to its disabled state:

![move](https://user-images.githubusercontent.com/846565/191785905-e5b18a8a-53a5-47dc-989f-ab0fa8d60066.gif)

We should probably remove the hover effect.

The same thing happens with the first block at the root

[2022-09-22 15:22] Ezyweb-uk commented on #27766
Would it be feasible to add an option to extract a featured image from each `<description>` and create a thumbnail image for each item?

[2022-09-22 15:42] joedolson commented on #42285
Interesting. Reading the docs, this makes sense with what I was seeing. `aria-activedescendant` doesn't actually set focus, it just informs AT what element has focus. Which would align with getting information about focus, but having keyboard navigation be located at the top of the screen.

It seems to me like `aria-activedescendant` should only be set at all if the composite widget has focus. The

[2022-09-22 15:43] t-hamano commented on #43605
I have confirmed that this problem is not reproduced with the latest trunk.
I believe #42950 probably solved the problem.

[2022-09-22 15:43] #43605 closed, assigned to nobody

[2022-09-22 15:47] kathrynwp commented on #38703
@NicktheGeek Just checking in once more to see if this issue can still be replicated with the latest version of WordPress and Gutenberg, otherwise we'll go ahead and close it out. Thanks!

[2022-09-22 15:50] kathrynwp commented on #37927
Hi there @lwangdu - since we have not heard back from you since the last ping, I'm going to go ahead and close this out. If you feel it should be reopened, please comment here and I'll be glad to come back to it!

[2022-09-22 15:50] #37927 closed, assigned to nobody

[2022-09-22 15:51] javierarce opened #44379 "Scrolling down the list of patterns scrolls the editor instead"
### Description

Scrolling down the list of patterns after the last loaded pattern will scroll the editor instead.

Edited: Testing this again, I can also reproduce the bug scrolling down outside the sidebar (for example, scrolling down the content of a post or page)

Here's a video showcasing the problem:

https://user-images.githubusercontent.com/4933/191792770-072da5bf-ca57-4b8e-8bbf-5fbb37f4b6

[2022-09-22 15:53] kathrynwp commented on #37908
@derridHeidegger Checking in once more to see whether you'd be able to provide a complete code example that can be used to replicate the issue. Thanks!

[2022-09-22 15:55] kathrynwp commented on #37697
@TachafineAittoudaWebpick Checking in again to see whether you can still replicate with the latest version of WordPress, and whether you have any thoughts on a fix. Thanks!

[2022-09-22 15:57] kathrynwp commented on #37441
@rootkowsky  I'm going to go ahead and close this out as the issue seems to have been fixed, but if it's still valid, please comment and I'll be glad to reopen it.

[2022-09-22 15:57] #37441 closed, assigned to nobody

[2022-09-22 15:59] kathrynwp commented on #36452
@CHEWX Hi again - one more check-in to see whether you are still experiencing this issue with the latest versions of Gutenberg and WordPress, otherwise we'll go ahead and close this out. Thanks!

[2022-09-22 16:02] getdave opened #44380 "Focus loss from Navigation menu selector on repeated Creation of menus"
https://user-images.githubusercontent.com/444434/191795713-09f25e82-71f2-4be9-a2d2-e7b03038610c.mp4

When using the keyboard to create new menus in the Navigation block the focus can sometimes not be returned to the select menu.

This only seems to happen on the second time you create a menu. The initial attempt returns focus as expected, but subsequent attempts cause focus to be placed elsewhere.

[2022-09-22 16:11] kathrynwp commented on #35702
Hi @Nemzag,

If this is an issue only on WordPress.com and not with a self-hosted install, I'd suggest getting in touch with WordPress.com, so their support team can report the issue as needed. You can do that here while logged into your account:

https://wordpress.com/help/contact

I'm going to go ahead and close this out.

[2022-09-22 16:11] #35702 closed

[2022-09-22 16:13] javierarce commented on #44379
Testing this again, I can also reproduce the bug scrolling down outside the sidebar (for example, scrolling down the content of a post or page)

[2022-09-22 16:16] ciampo commented on #44339
In #44377 I introduced a comprehensive set of unit tests to assess the current status of the returned `placement` values for every possible position.

 _*: `bottom` placements marked with an asterisks are fallback values used when `position` has `middle center` values, since there's not equivalent `placement` value_

| `position` | `placement` expected by test specs | `placement` received (as on `

[2022-09-22 16:20] kathrynwp commented on #32751
I'm removing the "Needs testing" label, as it's been tested and replicated a few times now.

[2022-09-22 16:24] kathrynwp commented on #32648
I'm going ahead and closing this, since no one has been able to confirm that this is still an issue. If anyone gets back to this later and is able to confirm the following, please add a comment with details and I'll be glad to reopen it. Thanks!

[2022-09-22 16:24] #32648 closed, assigned to nobody

[2022-09-22 16:32] chad1008 commented on #44226
@fluiddot just wanted to update y'all, I came a cross a few more of these while working on some other components. We're nearing the end of the list, so I don't anticipate a ton more, but I'll continue linking related issues here if any more come up  🙂

[2022-09-22 16:53] github-actions[bot] opened #44382 "[Flaky Test] should select and deselect with shift and arrow keys"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should select and deselect with shift and arrow keys

## Test path
`/test/e2e/specs/editor/various/multi-block-selection.spec.js`

## Errors

<time datetime="2022-09-22T16:53:03.082Z"><code>[2022-09-22T16:53:03.082Z]</code></time> Test passed after 1 failed attempt on <a hre

[2022-09-22 16:54] lwangdu commented on #37927
Thank you @kathrynwp  Please closed the ticket.

[2022-09-22 16:57] t-hamano commented on #43732
@Umer-Farooq10
I believe this issue is not a bug, but a question about how to write code.
Therefore, I would like to close this issue, but feel free to re-open it if you have any problems.

[2022-09-22 16:57] #43732 closed, assigned to nobody

[2022-09-22 17:13] Tofandel opened #44384 "HTML block at the root is saved without any attributes"
### Description

When using the HTML blocks, if some plugins register attributes on the HTML block but the block is not nested within another element, the html block will loose all it's attributes

This is is caused by this line https://github.com/WordPress/gutenberg/blob/trunk/packages/blocks/src/api/serializer.js#L354 which is shortcircuiting the attributes output, even if there is some non defa

[2022-09-22 17:14] skorasaurus commented on #13074
I created a trac ticket to address this - https://core.trac.wordpress.org/ticket/56627

[2022-09-22 17:18] NidhiDhandhukiya74 opened #44385 "Button with alignment and width - not work as expected."
### Description

I can able to reproduce this issue with many wordpress themes so this is common issue.

### Step-by-step reproduction instructions

1. Choose button block.
2. Give button width 75% or 50% etc.
3. Give alignment to button.
You can able to see that button is not taking any width if we choose alignment.

### Screenshots, screen recording, code snippet

I have attached the video recor

[2022-09-22 17:19] alexstandiford commented on #44186
I think this is a good intentioned suggestion, but I fear it creates a fair bit of complexity (see my note about GDPR and storing the form data in my previous comment)

It also raises a curious precedent - is it WordPress' responsibility to ensure that an e-mail is sent successfully? I don't think it logs messages that fail to send in other contexts. I'm not sure this should be handled differently

[2022-09-22 17:39] CHEWX commented on #36452
Will take a look tomorrow.

[2022-09-22 18:23] annezazu opened #44397 "Remove ability to add a template part in the post editor"
### Description

Remove ability to add a template part in the post editor, including copy and pasting. This was previous in place https://github.com/WordPress/gutenberg/pull/37157 but seems to now be allowed to add once more.  I can replicate this with 6.1 beta 1.

### Step-by-step reproduction instructions

1. Use GB 14.1.1
2. Open post editor
3. Start to add a template part block however you'd l

[2022-09-22 18:26] annezazu commented on #44279
Closing out after finding this: https://github.com/WordPress/gutenberg/issues/43427 The title threw me :)

[2022-09-22 18:26] #44279 closed, assigned to nobody

[2022-09-22 18:35] kathrynwp commented on #44242
I was able to replicate this with:

- WP 6.0.2
- Twenty Twenty-Two 1.2
- Gutenberg 14.1.1 active or inactive (no other plugins active)

[2022-09-22 18:42] kathrynwp commented on #44236
Uploading the screencast directly to GitHub:

https://user-images.githubusercontent.com/7662449/191826307-837962de-aba1-4ecf-92ef-e6909be83d95.mp4

[2022-09-22 18:44] kathrynwp commented on #44236
Thanks for the report and screencast!

So far I haven't been able to replicate this with:

WordPress 6.0.2
Gutenberg 14.1.1 active or inactive (no other plugins active)
Twenty Twenty-Two 1.2

Your screencast shows quite a few plugins active. @zero2webmaster is this issue also happening with **all plugins deactivated**?  I know you answered yes above, but just wanted to double-check. Thanks!

[2022-09-22 18:49] ciampo opened #44401 "Popover: refactor all usages of the legacy `position` prop to the `placement` prop"
After #40740, there are two different props in the `Popover` component to affect is position: `position` (legacy) and `placement` (new)

In order to deprecate the legacy `position` prop from the `Popover` component, we should first migrate all current usages to the new `placement` prop:

 - [x] #44387
 - [x] #44388
 - [x] #44389
 - [x] #44390
 - [x] #44392
 - [x] #44394
 - [x] #44395
 - [x] #44396

[2022-09-22 19:47] alexstine commented on #42285
@joedolson This was super tricky to fix due to the conditional rendering. I just pushed some updates to my PR. Can you check those out? I actually eliminated a couple ARIA attributes and I think it works just as well. Just be sure to watch for visual regressions I introduced. Hopefully this did not change the way screen readers communicate the visual order.

[2022-09-22 19:50] kathrynwp commented on #44182
Hi @iamtakashi – thanks for the report. If I'm understanding this right, I think I can replicate this with Twenty Twenty-Two, but only if the Navigation block is set to right-aligned.

@jasmussen since it looks like you handled the PR Takashi referenced, would you be able to take a look, please? Thanks!

[2022-09-22 19:59] bph commented on #44375
@Mamaduka Thanks for double-checking.

Do you mean the List block or the Attempt Recovery?

[2022-09-22 20:00] kathrynwp commented on #44165
Thanks for the great testing steps, @chellestein

I was able to replicate with:

WordPress 6.0.2
Twenty Twenty-Two 1.2
Gutenberg 14.1.1  active
No other plugins active

I agree that the link behaviour should be consistent.

[2022-09-22 20:09] eric-michel commented on #39868
Simply renaming the block to "Icons" and including icon options outside of just social would be welcome as well (as long as this also included the ability to easily add custom icons).

[2022-09-22 20:09] Mamaduka commented on #44375
I mean copy pasting. It would be hard to recover invalid markup.

[2022-09-22 20:39] bph commented on #44375
Considering that the content is displayed below the error message, there might be a way. I don't remember  if it was @glendaviesnz or @dmsnell, who patched the UI before

[2022-09-22 20:51] annezazu commented on #43427
Removing from 6.1 editor tasks as we've entered feature freeze.

[2022-09-22 21:03] sc0ttkclark commented on #44186
I'd love to see this!

[2022-09-22 21:26] robrobsn opened #44404 "Root padding missing on nested alignfull blocks"
### Description

Follow-up for #43095
Might be relevant for #44336

When `useRootPaddingAwareAlignments` is set tot `true` in the theme.json, the double padding for nested `.has-global` blocks has been fixed 🙌 but the root padding is now missing for nested `.alignfull` blocks.

The main issue is that the padding of `.alignfull` blocks inside `.has-global-padding` blocks is missing because it is ei

[2022-09-22 21:30] afragen commented on #42961
I added a short dev note for this.

https://make.wordpress.org/core/?p=98980&preview=1&_ppp=56c57f986f

[2022-09-23 02:25] ramonjd commented on #44349
Thanks for reporting this!

It's a JS fix.

I've added the fix and test coverage over in https://github.com/WordPress/gutenberg/pull/44406

I've also added the `Backport to WP Beta/RC` label.

[2022-09-23 02:46] carolinan commented on #44324
Thank you. I can reproduce it for the block placeholder -when the block is not in a post or query loop context.

[2022-09-23 03:20] annezazu commented on #40382
Noting that this came up twice with the [seventeenth call for testing with the FSE Outreach Program](https://make.wordpress.org/test/2022/09/15/fse-program-testing-call-17-guiding-the-gutenberg-gallery/#comment-2724):

[2022-09-23 03:29] annezazu commented on #37930
As part of the [seventeenth FSE Outreach Program call for testing](https://make.wordpress.org/test/2022/09/15/fse-program-testing-call-17-guiding-the-gutenberg-gallery/#comment-2725), the following feedback was shared:

This touches on this issue as well around customizing the text: https://github.com/WordPress/gutenberg/issues/40580

[2022-09-23 03:42] glendaviesnz commented on #38557
A [PR in the 3rd party library](https://github.com/ValentinH/react-easy-crop/pull/410) is ready for review

[2022-09-23 04:32] #44349 closed, assigned to ramonjd

[2022-09-23 05:17] glendaviesnz commented on #38557
[PR to bring in the updated version of react-easy-crop here](https://github.com/WordPress/gutenberg/pull/44408)

[2022-09-23 05:39] adamziel opened #44410 "WP_HTML_Tag_Processor overview issue"
- Part of #41236.

The follow-up work once the https://github.com/WordPress/gutenberg/pull/42485 is merged:

- [ ] Handle HTML entities for the purposes of `get_attribute` and `set_attribute`. Define what should happen in cases such as `$p->set_attribute( 'id', 'My&dash;id' );` and `$p->get_attribute( 'id' )` when `id="My&dash;id"`.
   - [ ] https://github.com/WordPress/gutenberg/pull/47040
   - [

[2022-09-23 06:39] carolinan commented on #44360
Aside, I have had users asking why this is limited to four in support requests, asking for this number to be increased.
So I think it can be confusing if not all pages show.

[2022-09-23 07:55] Thelmachido commented on #30701
The Site Title still has the default text underline, however, l can see the Decoration settings under styles but they don't remove the default text underline.

<img width="1784" alt="Untitled" src="https://user-images.githubusercontent.com/41231764/191915069-29339d09-0910-4326-826e-878c79d29178.png">

WordPress 6.0.2
Gutenberg 14.1.1
TT2 theme

[2022-09-23 08:06] jameskoster opened #44412 "Global styles – per-block custom css"
When editing the styles for a specific block, it might be nice to offer an input for custom css. This way folks don't have to worry about finding / using the best selector.

Mockup: a "Custom CSS" button at the bottom of the Advanced section of a Group block, which slides the inspector to the right just as the content-only editing system, and Global Styles, does:

<img width="1856" alt="Group cust

[2022-09-23 08:09] Thelmachido commented on #22822
I wasn't able to reproduce the issue, with the following environment:

1. I am using [Chrome 105 on macOS (Big Sur)](https://www.whatismybrowser.com/detect/what-version-of-chrome-do-i-have) you can use the link to get more information about the browser
2. WordPress version 6.0.2
3. Gutenberg version 14.1.1
4. Twenty Twenty Two theme

[2022-09-23 08:11] Thelmachido commented on #44231
Hi @kraftner thank you for giving a detailed report on this one, can you please confirm that the issue is persistent on the recent version of WordPress and Gutenberg?

[2022-09-23 08:15] #44339 closed, assigned to ciampo

[2022-09-23 08:32] getdave commented on #44360
I've had a think about this overnight. I'm asking myself how many users will actually have this many top level pages? Answer is very few.

Let's optimise for the 80% use case here and avoid limiting the number of items shown. I'll raise a PR to remove the attribute from the Page List and another to remove the functionality from the Nav block.

Does that sound like a good course of action?

[2022-09-23 08:41] gziolo commented on #43440
I can confirm that all the changes are present in WordPress core.

We didn't include this new API in WP core in 6.1. PR that reflects that in the plugin is ready for review: https://github.com/WordPress/gutenberg/pull/44414.

[2022-09-23 08:44] getdave commented on #44360
OK folks I [raised a PR that will remove the max limit attribute from the Page list block](https://github.com/WordPress/gutenberg/pull/44415). Please take a look and let me know if we're happy to accept that if we merge the Navigation block fallback will render unlimited numbers of Pages.

[2022-09-23 08:52] getdave commented on #43144
One argument against this is that the submit button is very tied to the URL itself. There is no clear indication that the submit functions for the entire link.

<img width="629" alt="Screen Shot 2022-09-23 at 09 51 22" src="https://user-images.githubusercontent.com/444434/191925066-b67d2fdc-66be-48c1-8e9f-8ecd7d6385fe.png">

Notice how the toggles are divorced from the submit.

For this reason I w

[2022-09-23 09:34] getdave commented on #37582
I also just stumbled across this bug whilst fixing the Nav block.

[2022-09-23 09:53] phil-cariad commented on #30982
I would love to see some cool text gradients make their way into blocks. A powerful header gradient would be very nice!

[2022-09-23 09:54] phil-sola commented on #30982
I would love to see some cool text gradients make their way into blocks. A powerful header/paragraph gradient would be very nice!

[2022-09-23 10:00] ciampo opened #44416 "PHP fatal error about `gutenberg_style_engine_get_styles` when trying to install latest WordPress docker image"
### Description

When running `npm run wp-env start`, I get an error message

[code]

which stops the installation process, and prevents me from running WordPress on docker.

### Step-by-step reproduction instructions

1. Checkout `trunk`
2. Clean up node modules and install fresh dependencies: `npm run distclean && npm ci`
3. Make sure the Docker daemon is running
4. Stop any already-running inst

[2022-09-23 10:01] ciampo commented on #44416
Not really sure if this is the right repo, but tagging @gziolo @ockham @c4rl0sbr4v0 in case they know better how to handle this

[2022-09-23 10:02] ciampo commented on #44416
Also cc'ing @andrewserong as this seems related to the Style Engine

[2022-09-23 10:07] iamtakashi commented on #44182
Hi @kathrynwp, thanks for your help.

The contents in the Twenty Twenty-Two header are restricted to the wide width as default, but if I make it full-width, l was able to see the issue regardless of the alignment. I don't believe many users make the header fill-width in Twenty Twenty-two :), but in this way, we can emulate the situation where the themes with a full-width header have.

[2022-09-23 10:17] erdembircan commented on #13570
Using `disableLineBreaks` property instead of `multiline` solved the issue for me.

[2022-09-23 10:22] ockham commented on #44416
Thank you! I'm unfortunately AFK today, as is Carlos. Cc'ing @michalczaplinski @ramonjd.

@ciampo Can you test if this also affects a setup with Core `trunk` plus Gutenberg stable (i.e. 14.1?)

cc/ @mtias @mcsf in case this is bigger impact

[2022-09-23 10:37] ciampo commented on #44416
Not sure if this is what you mean, but:

1. I stayed on the `trunk` branch in this repo
2. Following [these docs](https://developer.wordpress.org/block-editor/reference-guides/packages/packages-env/#wp-env-json), I applied these changes:
[code]
3. I run `npm run wp-env destroy && npm run wp-env start`
4. I noticed that this time, the gutenberg image was also downloaded (together with the WordPress

[2022-09-23 10:45] annezazu commented on #44374
Noting that this issue feels similar to https://github.com/WordPress/gutenberg/issues/30768 so, when this is closed, I want to confirm it can be too.

[2022-09-23 10:47] ciampo commented on #44416
I also checked out the `release/14.1` branch on this repo, repeated the steps above, got into the same error.

It would be interesting to see if anyone else can reproduce this

[2022-09-23 10:48] kraftner commented on #44231
@Thelmachido Yes.

I just tried it with WordPress 6.0.2 and Gutenberg 14.1.1 on a fresh install. Same issue.

(Wasn't expecting anything else since the current code referenced above still has the issue.)

[2022-09-23 11:16] jameskoster opened #44417 "Style variations for block types"
Block style variations are preset block designs. A button defaults to being filled, but has an outline variation. We could expand this system so that it was possible to edit style variations, as well as creating new custom ones. For example, I might want to create a paragraph style with a slightly larger font size and a drop-cap for occasional use in my posts / pages. By creating a Style, I am emp

[2022-09-23 11:20] jameskoster opened #44418 "Make it easy to copy (and paste) block styles"
It would be nice if there was a way to copy styles for a block, and 'paste' them onto another. Currently the only way to do this is to duplicate the entire block which is not always convenient, or to manually copy the tools/settings one-by-one which is extremely tedious for heavily styled blocks.

Related to https://github.com/WordPress/gutenberg/issues/44417 and #38267, and this issue contains de

[2022-09-23 11:22] yanliom commented on #35906
Hello, any news yet on this bug?

[2022-09-23 11:29] ockham commented on #44416
Thank you! I meant running the `wordpress-develop` repo's `trunk` branch, and installing Gutenberg stable (14.1.1) from the WP.org plugin repo. I just did that, and couldn't repro 🤔

The `release/14.1` branch doesn't seem to have any commits that aren't already in the 14.1.1 release 🤔

My other theory was that maybe your wp-env was stale (and had conflicting functions), but since you ran `wp-env d

[2022-09-23 11:35] luminuu commented on #44340
Yes, please!

[2022-09-23 11:41] ellatrix commented on #13570
Yes `disableLineBreaks` is the correct prop.

[2022-09-23 11:46] scruffian commented on #43440
I think this one is missing from some of the backports above: https://github.com/WordPress/wordpress-develop/pull/3319

[2022-09-23 12:32] fluiddot commented on #44226
Great, thank you very much @chad1008 for letting us know, we'll keep an eye on this  🙇 .

[2022-09-23 12:42] jameskoster commented on #43142
Closing in favor of dedicated issues.

[2022-09-23 12:42] #43142 closed, assigned to nobody

[2022-09-23 12:46] jameskoster opened #44419 "Global Styles: Invoke zoomed-out view when selecting a style variation"
Now that we have the [Zoomed-out view](https://github.com/WordPress/gutenberg/pull/41156), we can consider some different ways in which this mode can be automatically invoked based on the current user action.

One such action is choosing a style variation. Zooming out helps give a better idea of the overall affect of the selected style. Observe a comparison below:

https://user-images.githubuserco

[2022-09-23 13:22] t-hamano commented on #44416
How about cleaning the gutenberg `build` directory and building  before `npm run wp-env`?
I think this function should not be duplicated in the build directory.

[2022-09-23 13:31] jameskoster opened #44420 "Global styles: Offer a way to view a document containing all blocks and styles"
It's not uncommon to find yourself styling a block in Global Styles without that block being present on the canvas. Consequently you're left unsure as to whether the desired outcome is achieved.

One solution to this could be providing a dedicated document containing all blocks, that users can observe on demand. Here's a crude example:

<img width="1305" alt="Screenshot 2022-09-23 at 14 26 00" src

[2022-09-23 13:54] ciampo commented on #44416
Manually running `npm run clean:packages` seems to fix the problem.

I'm going to close this issue, I will re-open in case I happen to stumble upon this problem again.

Thank you everyone and sorry for the extra pings 🙇

[2022-09-23 13:54] #44416 closed, assigned to nobody

[2022-09-23 13:59] adamziel commented on #42128
With [WP_HTML_Tag_Processor](https://github.com/WordPress/gutenberg/pull/42485) merged, reading and updating HTML attributes no longer requires regular expressions. This fulfills the original goal of this issue, so I'm going to close it even though `WP_HTML_Tag_Processor` isn't a full parser. Feel free to reopen if a need for a full parser arises.

[2022-09-23 13:59] #42128 closed, assigned to nobody

[2022-09-23 15:05] RahiDroid commented on #44115
Thank you so much @Ryokuhi and @joedolson, for the detailed evaluation of the issue raised and for sharing your thoughts on the possible solution!

Understood. Do we need any input from the design team for this? Else, I can raise a PR and you can review the visuals.

Could you please elaborate a little? Are you referring to the `aria-label` attribute on the upload button?

---
Aside, I found a blu

[2022-09-23 15:10] colorful-tones commented on #44340
Love this idea and am even fine with possibly aggregating it in a spreadsheet or something for now. Although, I'm sure there is possibly room for automation.

[2022-09-23 15:16] colorful-tones commented on #44374
@annezazu this is definitely a duplicate of 30768. However, I feel like I've maybe captured a bit more detail here. 🤷 I'm glad you pointed #30768 out though. ❤️

[2022-09-23 15:19] colorful-tones commented on #44374
@annezazu I also suspect that this has the potential to get booted to Trac since truly the issue lies in WP core, and with Gutenberg active the bug is resolved.

[2022-09-23 15:24] ndiego commented on #44374
@annezazu thanks for sharing, this is interesting because clearly, this has been an issue for a while. In the other issue, you had Gutenberg active and the issue existed. Today, if you activate Gutenberg, it goes away. I am wondering if this got fixed awhile ago, but never got ported to Core. I assumed there was a recent change in Gutenberg, but perhaps not 🤔

[2022-09-23 15:26] Thelmachido commented on #42458
Since this is related to [33583](https://github.com/WordPress/gutenberg/issues/33583) and there is more movement there, wouldn't it be better to close this issue and continue the discussion there @gkaragia

[2022-09-23 15:52] bhubbard opened #44421 "Gutenberg for Emails?"
Gutenberg has made great strides in WordPress. One thing that is lacking in WordPress Core is an email editor tool. There are hooks developers can use to modify the templates, but many go toward plugins to customize emails generated by WordPress for the ease-of-use as a user. Additionally, plugin developers like WooCommerce will build entire toolsets to create/manage email templates.

### Could Gu

[2022-09-23 15:54] sabernhardt commented on #37804
I checked the controls in the Post Content block with WordPress 6.1 alpha and Gutenberg 14.1.1.

The unit controls for dimensions in the Layout section are still the tiny 8px font size and uppercase. However, if I choose a custom font size in the Typography section, its unit control is lowercase with a font size of 13px.

![unit control for custom font size is larger than controls for width dimens

[2022-09-23 16:03] ajlende opened #44422 "Image Editor: Incorrect 180º and 270º rotation cropping area"
### Description

When using the inline image editor, rotating the image has the wrong aspect ratio for the cropping area. With a landscape image at a 180º rotation, the aspect ratio should be landscape again, but it is still portrait. And at a 270º rotation it should be portrait, but is landscape.

### Step-by-step reproduction instructions

1. Insert image block in site editor or post editor
2. U

[2022-09-23 16:23] stephymiehle commented on #43047
Came across your issue while researching something related and have two to share:

- #37930 (good thoughts since your post here, even if the idea originated there)
- #40580

Both have some good conversation and ideas about moving forward.

[2022-09-23 17:14] joedolson commented on #44115
In Options > Preferences > General, there's an option to 'Show button text labels'. The expected result of this is that all icon buttons should instead be represented by descriptive text; this doesn't happen with featured image button.

![image](https://user-images.githubusercontent.com/1686451/192017402-988c4cf8-b10b-417d-9ba5-56fb94c74e2b.png)
Relevant setting

![image](https://user-images.githu

[2022-09-23 17:38] annezazu commented on #44374
Oh definitely game to keep this open -- I wasn't trying to say "duplicate please close" by any means. More so trying to figure out what's going on, add more pieces to the puzzle, and make sure both issues get closed when completed. As @ndiego notes above, it seems like something has evolved since it was first reported and, perhaps, we can find the fix as a result.

[2022-09-23 18:40] dannyreaktiv commented on #44420
Could be a block pattern or part of the Theme Unit Test, unless you mean it to be something dynamic that loads everything available to the editor.

[2022-09-23 18:53] KevinBatdorf opened #44426 "Improve color contrast on destructive buttons"
### Description

The destructive button elements have a focus state that isn't visually pleasing.

Searched [for related issues](https://github.com/WordPress/gutenberg/issues?q=destructive+is%3Aopen) but couldn't find a similar one.

### Step-by-step reproduction instructions

1. Visit the button on storybook ([link](https://wordpress.github.io/gutenberg/?path=/docs/components-button--primary#is-p

[2022-09-23 18:56] azaozz commented on #44410
Frankly I think https://github.com/WordPress/gutenberg/pull/42485 was not ready for merging. Seems it lacks any security features, references, docs, how-to's, etc. Even doesn't mention what security and escaping requirements it has. It seems open to exploits in its current state.

This issue mentions some of that, but misses few things. For example validity of new attribute names. Also, it doesn't

[2022-09-23 19:36] JoeO20 commented on #43047
Thank you.
Issue already solved.

------

[CONFIDENTIALITY NOTICE]* This electronic transmission including
attachments, is for the exclusive use of addressee and may contain
information that is privileged, confidential and exempt from disclosure
under applicable law. If you are not the intended recipient, any use,
copying, disclosure, dissemination or distribution is strictly prohibited.
Please no

[2022-09-23 19:57] luminuu opened #44428 "[Block: Image] Allow overlay gradient"
## What problem does this address?

Currently, the Cover block and newly the Post Featured Image block allow gradient overlays to apply further styling to the image. The Image block however only supports duotones at the moment.

In my style variation I designed for Twenty Twenty-Three, I added default gradients to the images to create a unique design:
![image](https://user-images.githubusercontent

[2022-09-23 20:27] plaidpowered opened #44429 "Featured Image Block does not honor sizeSlug attribute when used inside multiple query loop blocks"
### Description

I realize the `sizeSlug` attribute is an undocumented feature, but I found its existence quite useful while building a hybrid block theme. So firstly, thanks for that.

Essentially, the problem is that if you have two query loop blocks within the same block theme template part, and both use the `wp:post-featured-image` block, if both use the `sizeSlug` attribute to specify the siz

[2022-09-23 20:51] kurtrank opened #44430 "Documentation for different release versions of Gutenberg (12.x, 13.x, etc)"
## What problem does this address?

Since there are fewer resources out in the wild for Gutenberg than traditional PHP WordPress things, I often use the Block Editor Handbook; if I need further examples I often dive into the packages themselves to look for instances of a component, store, etc. being used, which helps me a lot in understanding how they work. However, I have recently run into a prob

[2022-09-23 21:04] plaidpowered commented on #44429
I mistakenly thought the second loop was being displayed underneath the first loop, which is only supposed to show 1 post. It was showing 10 posts instead of the 1 specified in "perPage". So there's still a bug with this code but it's not with the featured image block.

[2022-09-23 21:04] #44429 closed, assigned to nobody

[2022-09-23 23:15] dmsnell commented on #44375
This is part of a much bigger issue and I'd like to get back to it but I can't remember where the appropriate issues or PRs are. Those recovery tools need a full overhaul, and one major design issue to resolve is that they don't address nested blocks in any way, which is I think why it wiped out the list contents in this case.

Related work in #38922

[2022-09-24 02:01] #43447 closed, assigned to nobody

[2022-09-24 02:02] #42448 closed, assigned to nobody

[2022-09-24 02:02] #41638 closed, assigned to nobody

[2022-09-24 02:02] #41778 closed, assigned to nobody

[2022-09-24 02:02] #39179 closed, assigned to getdave

[2022-09-24 11:17] RahiDroid commented on #44217
This refactor should happen before we go about adding the overlay for the image block in https://github.com/WordPress/gutenberg/issues/44428

I will try and bring this ticket up in the next editor chat to get input on this.

[2022-09-24 12:38] ulfemsoy commented on #40377
I am running Wordpress 6.0.2. The catories now show (18 of them). I have removed all tags, but when adding a new tag, it is automatically deleted when pressing enter.

[2022-09-24 14:19] rosa2 commented on #39951
Yes, very necessary because I have 10 post types and I have made templates for each one, and besides the ones from my child theme, i have extra ones when you create or edit a post. And functions to unset templates doesn't work.

[code]
The page template gets unset (I tried with the print_r), but it still shows in the edit post page.
Please resolve this. I will try by JavaScript in the edit page to

[2022-09-24 14:25] Drivingralle commented on #44243
Can confirm @janboddez report. Used the plugin to create child theme and get same error with Björk.

[2022-09-24 14:33] efc commented on #17758
Any progress on this? It is really unfortunate that the shortcode transform can't handle such a common shortcode use case!

@kadamwhite, the `pasteHandler()` workaround sounds very helpful. If you have written that up or have an example, I'd love a pointer.

[2022-09-24 14:59] RahiDroid opened #44434 "[WP 6.1] Block-specific global styles don't seem to save"
### Description

- Original trac ticket: https://core.trac.wordpress.org/ticket/56644 by @jorgefilipecosta
- Moving here along with some added visuals to help out better understand the issue.
- I could reproduce it with multiple blocks like `paragraph`, `heading`, `button`, `site title`, etc. It doesn't seem to be happening with all of the blocks, though.
- The issue isn't specific to only colors.

[2022-09-24 16:07] ndiego opened #44435 "Spacing step variables not getting generated properly with Block Spacing"
### Description

When applying Block Spacing to various blocks using the new spacing steps, often the variable is not generated correctly. Switching to manual spacing works as expected. This was tested using 6.1 and Gutenberg trunk. The same issue occurs without Gutenberg active.

### Step-by-step reproduction instructions

1. Use the TT3 theme or a similar theme that support spacing steps.
2. Add

[2022-09-24 16:08] ndiego commented on #44435
@glendaviesnz @annezazu FYI.

[2022-09-24 16:21] ndiego commented on #44435
A quick update after additional testing. This appears related to the new layout settings on container blocks. If you set "Inner blocks use content width" on the Group block, everything then works.

**Editor:**
![image](https://user-images.githubusercontent.com/4832319/192108379-8b2fa5a0-200e-4618-9afe-b92710afb644.png)

**Frontend:**
![image](https://user-images.githubusercontent.com/4832319/19210

[2022-09-24 17:51] annezazu commented on #44435
@tellthemachines might you have time to dig in here based on your work with that inner blocks width setting?

[2022-09-24 22:06] mcsf opened #44436 "List v2: Can't merge two consecutive List blocks"
### Description

See #42711, in which the List block was upgraded to support nested blocks and which was the starting point to subsequent fixes.

Now, merging two simple lists via <kbd>Backspace</kbd> or <kbd>Delete</kbd> doesn't produce a condensed list.

### Step-by-step reproduction instructions

1. In an empty editor, create a simple list by typing "- a", then Enter, then "b"
2. Press Enter tw

[2022-09-24 22:09] mcsf commented on #44436
(cc @ellatrix)

[2022-09-25 00:34] ramonjd commented on #44416
Hi folks! Seems like it's sorted, but yeah, as you've worked out the cause is old build files lingering about.

During the webpack build the style engine files are copied from `/packages/style-engine` over to the `/build/style-engine` directory.

There have been a lot of code changes in the last few weeks so I've run into this too and have had to nuke the local build directory to get things to wor

[2022-09-25 02:02] #43584 closed, assigned to nobody

[2022-09-25 02:02] #43573 closed, assigned to nobody

[2022-09-25 02:02] #43417 closed, assigned to nobody

[2022-09-25 02:02] #43400 closed, assigned to nobody

[2022-09-25 02:02] #42973 closed, assigned to nobody

[2022-09-25 02:02] #42450 closed, assigned to nobody

[2022-09-25 02:03] #40016 closed, assigned to nobody

[2022-09-25 02:03] #39679 closed, assigned to nobody

[2022-09-25 02:03] #37479 closed, assigned to getdave, talldan

[2022-09-25 02:03] #35257 closed, assigned to nobody

[2022-09-25 02:03] #35235 closed, assigned to tellthemachines

[2022-09-25 03:33] kevin940726 commented on #27260
Now that we're using Playwright and its built-in [role selectors](https://playwright.dev/docs/selectors#role-selector), I think this can now be closed.

[2022-09-25 03:33] #27260 closed

[2022-09-25 03:36] kevin940726 commented on #28185
We can now target the indicator by `testid` (in Playwright: `data-testid=block-list-insertion-point-indicator`) since #43798. Some tests haven't been migrated yet though (`inserting-blocks` and `editing-widgets`)

[2022-09-25 03:36] #28185 closed

[2022-09-25 03:44] kevin940726 commented on #17249
I did a quick search and seems like there are only 3 tests left that are still using `enzyme`:

- [x] [`block-switcher`](https://github.com/WordPress/gutenberg/blob/a78f644875849b41ca9344a3fd6c1dcc9f40fd9d/packages/block-editor/src/components/block-switcher/test/index.js#L4)
- [x] [`autosave-monitor`](https://github.com/WordPress/gutenberg/blob/a78f644875849b41ca9344a3fd6c1dcc9f40fd9d/packages/edi

[2022-09-25 10:30] phil-sola opened #44441 "Header & Footer Template Parts Auto Added to new Templates"
## What problem does this address?

Currently in the site editor, if you add a new Template, you are met with a blank template.

Soon in WordPress 6.1 and as of Gutenberg 13.9 you’re now given content from the closest related template in the hierarchy as announced in the news article (https://make.wordpress.org/core/2022/08/25/core-editor-improvement-refining-the-template-creation-experience/)

Ju

[2022-09-25 10:41] phil-sola commented on #44417
This definitely sounds like a nice addition to Global styles in the site editor. I can see that being powerful and enabling users to completely change the look of their sites with the blocks they are using with one click.

Imagine your buttons all changing, or as mentioned above a specific paragraph style being implemented site-wide with this type of settings.

[2022-09-25 11:08] t-hamano commented on #44374
I would like to explain this issue as best I can. (However, I may be wrong on some points.)

First, I believe the root cause of this problem is the application of `height:100%` to the `html` and `body` elements, and #30768 is the same problem. Turning off this style in the browser console solves the problem:

![capture](https://user-images.githubusercontent.com/54422211/192140149-47b6d2e6-fe3b-46d

[2022-09-25 14:25] t-hamano opened #44442 "theme.json schema: Incorrect validation on `filter`, `outline`, `shadow`"
### Description

Related to:

- #43526
- #41972
- #41920

JSON schema validation does not work correctly for `filter`, `outline`, and `shadow`, which are style supports recently added to `theme.json`.

These properties are considered invalid properties after entry, even though they are displayed as a list of input candidates by the code editor. This would mean that the JSON schema definitions are

[2022-09-25 16:37] RahiDroid commented on #44115
Gotcha! @joedolson, I have raised a PR (https://github.com/WordPress/gutenberg/pull/44437) for the accessibility issue you pointed out, it also addresses one UI bug seen in your screenshot and adds consistency in the spacing of those items.

Would be great if you could take a look and help me with any feedback.

[2022-09-25 20:18] annezazu commented on #44420
Noting that this feels very similar to this prior issue: https://github.com/WordPress/gutenberg/issues/32682

[2022-09-25 20:35] annezazu commented on #39266
Following up here, I stumbled on https://github.com/abstractwp/block-unit-test from a Gutenberg Times newsletter (shout out to @bph) and noticed that this _might_ solve what's being asked for here. @joedolson mind taking a look?

[2022-09-25 21:25] anrghg opened #44444 "URL slug front-end validation competes with back-end sanitization"
### Description

The Block Editor (as well as the Classic Editor) has an input field to edit the URL slug. As soon as this gains then loses focus, the slug is damaged in an uncontrollable way. While the `sanitize_title` filters are still applied in the back-end, the front-end preempts a number of simplifications, namely by removing diacritics and non-letter characters, defeating as much the purpos

[2022-09-25 21:30] anrghg opened #44445 "Title input field to convert HTML special chars"
## Problem
While the Block Editor’s (and the Classic Editor’s) rich text area converts at least less-than signs and ampersands to HTML entities, the title input field does not.

When using HTML formatting in the title, it is stripped off but only after reloading the editor.

On a side note, the title input field’s inactivity singularly contrasts with the hyperactive editor’s slug input field repor

[2022-09-25 23:27] brezocordero commented on #34845
Hi @mirka

Thank you for the snippets.

It works but the deprecation warning `Using custom components as toolbar controls is deprecated. Please use ToolbarItem or ToolbarButton components instead.` is still there.

I have also tested the snippet outside our plugin, to rule out some conflict. I still got the deprecation warning.
This is a snippet of code I used for testing:

[code]

Did you get the

[2022-09-26 01:57] tellthemachines commented on #44435
Thanks for reporting this @ndiego! I can confirm there's a missing bit of logic that should convert the preset values into CSS custom properties, and will have a fix up soon.

[2022-09-26 02:01] #44096 closed, assigned to aaronrobertshaw

[2022-09-26 03:06] #29145 closed

[2022-09-26 03:23] carolinan commented on #39266
That will not work because the markup is hard coded in the plugin files. Meaning when there is a change to a block, the block in the plugin is no longer correct.

[2022-09-26 03:40] carolinan commented on #40377
Automatically delete from where? That seems like a separate issue.

[2022-09-26 03:54] #44435 closed, assigned to tellthemachines

[2022-09-26 06:16] ramonjd commented on #44397
I only got so far as to realize that `rootClientId` returns `null` at this point in the template part block init(): https://github.com/WordPress/gutenberg/blob/4f7c19e37d55bb6a419cc8eca94c634f1e71852e/packages/block-library/src/template-part/index.js#L67

So the tests are failing and the filter will return `true` (allow the block to be inserted)

I can't see much that might have changed in the mea

[2022-09-26 06:51] #44257 closed, assigned to SantosGuillamot

[2022-09-26 07:10] maccyd10 commented on #44259
@CreativeDive

I have also experienced this issue.
I found that restricting the blocks at the root level is not a very workable solution. If like me, one of the blocks you want to restrict is the `core/paragraph` block, this introduces problems with the editor.
The issue is the `core/paragraph` block, besides being the paragraph block, is also the editor's default block, aka the block inserter. By

[2022-09-26 07:42] tellthemachines commented on #42961
Hey folks, there's a draft post for all Layout-related dev notes here: https://make.wordpress.org/core/?p=99019&preview=1&_ppp=992173a9ba

[2022-09-26 07:44] gikaragia commented on #42458
Hey @Thelmachido 33583 would not fit our use case as we wanted to be able to fully customize the content of the List View, e.g to add a button that would modify the block. I think that this issue is about allowing users (and possibly plugins?) to modify the name of the blocks only.

[2022-09-26 07:50] Mamaduka commented on #44397
I think the filter stopped working after #42258 got merged.

## Testing
* ✅  The commit before merging the filter is working - 9620bae6fef4fde7cc2b7833f416e240207cda29
* ❌  The merge commit the filter stops working - 4f7c19e37d55bb6a419cc8eca94c634f1e71852e

It might be a good idea to audit other blocks that are using [side-effects](https://github.com/WordPress/gutenberg/blob/trunk/packages/side-e

[2022-09-26 07:56] Mamaduka commented on #9018
I'm going to close the issue. I can no longer reproduce it.

Feel free to re-open it if you're still experiencing the problem.

[2022-09-26 07:56] #9018 closed

[2022-09-26 07:56] Mamaduka commented on #11742
I'm going to close the issue. I can no longer reproduce it.

Feel free to re-open it if you're still experiencing the problem.

[2022-09-26 07:56] #11742 closed

[2022-09-26 08:17] jameskoster commented on #41060
Cross-posting a design shared in https://github.com/WordPress/gutenberg/issues/42325#issuecomment-1220515552 because it's very relevant here:

https://user-images.githubusercontent.com/846565/185599910-2f49c633-bd2b-4b8f-be72-bd420bdff2de.mp4

When creating a template the user is presented with a grid of thumbnail previews as options. One of these will be the closest template in the hierarchy, one

[2022-09-26 08:25] a4jp-com opened #44451 "6.1 Accessibility Update Please: Can you permanently code in a plus mark that stays at the top and makes the whole line clickable?"
### Description

Can you permanently code in a plus mark that stays at the top under the title and it always just adds a block to the top as its function please?

There should always be a plus mark under the wp-block-post-title. When you first add a block there is a plus mark at the top and then it gets clicked it goes missing after adding the first block. The other plus marks are all okay when yo

[2022-09-26 08:29] fluiddot opened #44452 "Paragraph block can't be transform into Quote block"
## Description

The Paragraph block in the web version can be transformed into a Quote block, however, this option is not available in the native version.

## Step-by-step reproduction instructions

1. Add a Paragraph block.
2. Type some text.
3. Tap on the "..." button to open the block settings.
4. Tap on "Transform block..." option.
5. Observe that the option for Quote is not displayed.

## Exp

[2022-09-26 08:37] #38836 closed, assigned to nobody

[2022-09-26 09:08] gziolo commented on #44397
@Mamaduka, I guess it means that the filter should get applied globally rather than only when the Template Part gets registered. It might be related to the order of execution, too.

[2022-09-26 09:09] #40173 closed, assigned to nobody

[2022-09-26 09:19] stewardccm opened #44454 "Dynamic block cannot save and use InnerBlocks content"
### Description

I want to add InnerBlocks support in dynamic blocks.

I added InnerBlocks support in edit.js after creating dynamic blocks using @wordpress/create-block.

In the editor, any block can be added to the custom block, but it cannot be saved, and the render function shows empty content.

### Step-by-step reproduction instructions

1. Use @wordpress/create-block to create a dynamic bloc

[2022-09-26 09:22] adamziel commented on #44397
Unfortunately I don't :( @Mamaduka and @gziolo seem to be on the right track, though. It sounds like `canInsertBlockTypeUnmemoized` receives null as `rootClientId` on some occasions. It would be nice to have some assertions in place, e.g. `assert( rootClientId )` – that way we'd find such problems right away.

[2022-09-26 09:42] Mamaduka commented on #44397
That might be the case for filter side effects. Would it be okay to add filters directly in the `init.js` file but outside the `init` method?

[2022-09-26 09:47] jameskoster commented on #44420
I think #32682 is more architectural / high level.

That's the sort of thing I had in mind. Blocks added by plugins etc should be included.

[2022-09-26 09:49] jasmussen commented on #20941
It seems fine to default to none.

[2022-09-26 09:53] gziolo commented on #44397
`init.js` exists only for 3-rd party usage when devs want to init individual blocks. In the case of WordPress core, we call `init` from `index.js.

I think I identified what has changed:

The filter from the block library got applied first, and then it would get overridden by the following version in post editor:

https://github.com/WordPress/gutenberg/blob/7829913ae117dfb561d14c600eea7b281afd6556

[2022-09-26 09:56] nicmare commented on #32644
please give the freedom over negative values to the users NOW 👍

[2022-09-26 09:57] carolinan commented on #44420
This seems related to the suggestion to add a "style guide":[ Block pattern directory: Consider adding a Style Guide category](https://github.com/WordPress/pattern-directory/issues/483)
@colorful-tones

[2022-09-26 09:59] jasmussen commented on #44292
@javierarce we can probably update the main ticket here with your latest iteration, then swap out the tags and send this over to a dev. What do you think?

[2022-09-26 10:01] kevin940726 commented on #36457
Seems like this is the desired behavior introduced in https://github.com/WordPress/gutenberg/pull/23082. I personally found it counter-intuitive too but it seems like others are happy about the change. Would love to know what improvements or trade-offs we can make, maybe we should only trigger the scroll in a narrower threshold? c.c. @gravityrail and @talldan

[2022-09-26 10:01] jasmussen commented on #44419
Excellent! The idea has already been brought up in a few disparate comment threads, that a specific button to invoke the zoom mode is a temporary affordance, and things like invoking it automatically when the context shifts (browse styles, or insert pattern) is a better contextual way to do it.

Let's try it!

[2022-09-26 10:02] jasmussen commented on #44360
I [left a comment on the PR](https://github.com/WordPress/gutenberg/pull/44415#issuecomment-1257719117), but should've probably left it here. So copying it over:

[2022-09-26 10:03] carolinan commented on #44420
Also related is that the accessibility team is asking for a post with all the blocks -but they need it to be published, available on the front for testing.
Perhaps it could be an actual post that can be published, like the Gutenberg demo ( wp-admin/post-new.php?gutenberg-demo)

[2022-09-26 10:05] Mamaduka commented on #21977
@noisysocks, does this mean we can close #25684?

[2022-09-26 10:13] Mamaduka commented on #26645
The issue was fixed in #37914 and should be part of the WP 6.0 release - https://core.trac.wordpress.org/ticket/55238.

[2022-09-26 10:13] #26645 closed

[2022-09-26 10:14] carolinan opened #44458 "Transform page list to navigation block and list block"
## What problem does this address?

After adding a page list block, I would like to be able to transform it into a navigation block with the page list placed inside it,
and also to a list block.

## What is your proposed solution?

The page list has very limited features compared to a list block. If I could add the page list, and then convert it to a list where the links are already included for m

[2022-09-26 10:22] Mamaduka commented on #34284
@ciampo, can we close #22890 and #26770? I think refactoring is no longer needed after #33714.

[2022-09-26 10:33] aksthelion commented on #24953
So what is that status of this issue? Is it going to be implemented? I've been looking a block to display comment count but it is not available even in some of the top block plugins. Does anyone know how to do it right now in 2022 theme?

[2022-09-26 10:57] carolinan commented on #24953
The post comments count block is available in the Site Editor when Gutenberg is active. As far as I am aware it is still experimental and there are no plans to include it in WordPress in 6.1.

[2022-09-26 10:58] Mamaduka commented on #44397
@gziolo, I'm not sure if that's the case.

Even if I move the edit post filter after the `registerCoreBlocks` call or comment it out, I can still insert the Template Parts block.

[2022-09-26 11:06] jasmussen commented on #44182
Thank you for creating this issue! Yes indeed: right now the content inside the modal is restricted to the wide width, which happens to match TT3. This is a bandaid that makes it possible for themes to ensure the overlap of the two buttons, but the hard-coded limitation to just wide is one we need to remove, to be sure.

An interim solution here, it seems, would be if the navigation overlay could

[2022-09-26 11:14] jasmussen commented on #43433
This setup should mainly (only probably) show on the Group variation, and only when it's empty. It's a good layout starting point.

If you just click "Group" in the flow illustrated, you should get the group as it exists today, i.e. with the inserter. If you then don't add any blocks inside and deselect, we can revert back to the setup state as shown. Does that make sense?

In most flows, I would

[2022-09-26 11:15] carolinan commented on #44346
Hi!
This is the intended behavior of the navigation block. I mean it is intentional that submenus are never collapsed in the overlay, regardless of the block settings.

Perhaps the issue could be rephrased slightly, and be a _feature request_ for the behavior you want the submenus to have?

[2022-09-26 11:22] jasmussen commented on #43144
Yes, that's a good point indeed. Another option is to remove the toggle from that state entirely, and have it something you are only able to do after the fact, here:

<img width="538" alt="Screenshot 2022-09-26 at 13 19 33" src="https://user-images.githubusercontent.com/1204802/192263917-f7384e72-439b-492c-8ed4-cf71910c2996.png">

To me that seems like a quick and good fix, since opening in new ta

[2022-09-26 11:31] Mamaduka commented on #44182
Thanks for the ping, @jasmussen.

The inner blocks are usually wrapped in Group(s) for alignments. The TT2 is an excellent example of this. What happens if the Navigation block isn't a direct child of the template part? Which alignment should it inherit?

We can probably use the context to pass down the alignment, but as you mentioned, it would be a band-aid fix.

@getdave, @draganescu, any though

[2022-09-26 11:35] jameskoster opened #44460 "Contextualise placeholders"
A follow-up to the new placeholder styles (https://github.com/WordPress/gutenberg/pull/44190).

<img src="https://user-images.githubusercontent.com/846565/190405874-67e14f4e-0638-4df2-92b6-ecbb81344856.png">

Let's figure out a way to make it clearer when a placeholder is for an image, or a video, or audio, etc.

Here are some ideas that came up in the original PR:

### Use block icons
<img src="h

[2022-09-26 11:39] jasmussen commented on #44182
Can "only ever inherit from the template part" be an answer?

[2022-09-26 11:48] Mamaduka commented on #44182
I need to run some tests, but I think it can be done. I will post the update.

[2022-09-26 12:00] jameskoster opened #44461 "Re-Introduce Content Editing in the Site Editor"
## Visual
<img width="1394" alt="pages" src="https://github.com/WordPress/gutenberg/assets/846565/eb41b99b-3622-46be-83d8-ec04e6274156">

## Tasks

- [x] https://github.com/WordPress/gutenberg/pull/50857 (@noisysocks)
- [x] https://github.com/WordPress/gutenberg/pull/50463 (@youknowriad)
- [ ] Mark Front page and Posts page according to site's home page settings
- [x] https://github.com/WordPress/

[2022-09-26 12:02] TheRadicalDreamer commented on #36457
Yes exactly!

I do like the movement, but not immediately.

It should be over a threshold. Maybe top 20% of the screen and bottom 20% of the screen?

[2022-09-26 12:02] jasmussen commented on #44182
Actually, that wouldn't make sense, since the TP would be the top level one. My bad. To turn it: can it instead be "only ever inherit from the immediate parent"? That seems like it should cover this issue 🤔

[2022-09-26 12:09] Stiofan commented on #31815
Still no way to reference theme images in template files?

[2022-09-26 12:09] jameskoster commented on #44461
One option (which overlaps with [Browse Mode](https://github.com/WordPress/gutenberg/issues/23328)) would be to present the web site in a frame upon entering the Site Editor (a concept first introduced in https://make.wordpress.org/design/2022/06/13/thinking-through-the-wordpress-admin-experience/). The frame could feature a dynamic address bar, allowing folks to search for content to display and

[2022-09-26 12:12] github-actions[bot] opened #44462 "[Flaky Test] should filter results properly"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should filter results properly

## Test path
`specs/site-editor/global-styles-sidebar.test.js`

## Errors

<time datetime="2022-09-26T12:12:52.060Z"><code>[2022-09-26T12:12:52.060Z]</code></time> Test passed after 1 failed attempt on <a href="https://github.com/WordPress/gut

[2022-09-26 12:13] jameskoster commented on #37001
If we were to make content editing possible in the site editor (https://github.com/WordPress/gutenberg/issues/44461), then template editing may be slightly de-emphasised in the Site Editor. IE instead of immediately being dropped into template editing, users would consciously navigate to edit a specific template. Consequently when editing a template we can make the W button behave the same way it

[2022-09-26 12:17] tomjn commented on #31815
If there was this issue would have been closed, links to the relevant implemented issues would show, and the latest default theme would showcase how it's to be done

[2022-09-26 12:19] aksthelion commented on #24953
I've 6.0.6 version. I can't find it from search, I searched for comment and count.

[2022-09-26 12:23] a4jp-com commented on #44451
Thank you @carolinan

[2022-09-26 12:32] zzap opened #44464 "New list block (with items being separated blocks) is very difficult to use with keyboard"
### Description

Hello, I assume we got this new version in Make sites. I write [Team updates for Docs team](https://make.wordpress.org/updates/tag/docs/) every week and this week was frustrating using list block.

1 problem - I needed 3 keystrokes of arrow down to navigate to next list item in order to edit it.

2 problem - copy/paste nested list from previous post's editor resulted in subitems b

[2022-09-26 12:38] #44309 closed, assigned to loxK

[2022-09-26 13:03] jameskoster opened #44465 "Improve the Group placeholder"
<img width="727" alt="Screenshot 2022-09-26 at 13 56 23" src="https://user-images.githubusercontent.com/846565/192282142-45a3437d-32e2-43a4-bfbf-16fcd03b2808.png">

When we think of the Group as an empty container, it fair to assume that the user will want configure some kind of layout with the blocks they place inside it, the current placeholder doesn't facilitate this very well. We can surface s

[2022-09-26 13:29] mukeshpanchal27 commented on #29323
👋 Is there any update on this? I'm facing similar issue in Performance repo.

[2022-09-26 13:29] t-hamano commented on #44454
If you want to use the innerBlock in a dynamic block, I think you need to save the innerBlock with the save function.:
[code]

Also, I think this is a question, so I will convert it to a Discussion.

[2022-09-26 13:29] #44454 closed, assigned to nobody

[2022-09-26 13:30] jameskoster opened #44467 "Make it possible to set the width of blocks within Row"
A small part of #42385. Regardless of the Justification setting on the parent, child blocks within a row will always "hug" their content (except for blocks like Image that can have a fixed width applied).

<img width="1215" alt="Screenshot 2022-09-26 at 14 07 24" src="https://user-images.githubusercontent.com/846565/192285210-c78a271c-74fc-48ae-8f73-e4efa5828523.png">

If it were possible to apply

[2022-09-26 13:34] bobbingwide commented on #42782
@mirka The problem is that the text in the `<label>` is being uppercased by the block editor, which makes it fairly unusable as a text entry field.
Assuming no one else is going to attempt to answer @carolinan's concern, I still believe the CSS should be more appropriately targetted to the block editor's labels in the settings area.

BTW: I've since found more blocks that have been adversely affec

[2022-09-26 13:56] ndiego commented on #44434
I can confirm this issue. It's a pretty major one 😬
![global-style-no-saving](https://user-images.githubusercontent.com/4832319/192294999-a8c3be98-a3d8-4f54-b774-9341bb43af4f.gif)

[2022-09-26 14:01] tyxla commented on #17249
This is still on my list, I've been doing a bunch of those before my AFK last week, and I'm planning to work on these last ones this week.

[2022-09-26 14:17] mtoensing opened #44469 "Gutenberg: Function to refresh a server-side-render block without altering its contents"
## What problem does this address?

I currently refresh my server side rendered block by passing the current timestamp as an attribute. I do this when the post is saved to reload some data. That leads to the issue that the editor thinks that there is some changed content in the post.  The changed attribute results in a changed post and triggers the message "Changes you made may not be saved." How

[2022-09-26 14:19] ciampo commented on #34284
Hey @Mamaduka !

- https://github.com/WordPress/gutenberg/pull/26770 can be closed, as you pointed out
- https://github.com/WordPress/gutenberg/issues/22890 should be kept open, since there are still a few React Class components in the `@wordpress/components` package (`ColorPicker` was only one of them)

[2022-09-26 14:22] Mamaduka commented on #34284
Thanks, @ciampo!

[2022-09-26 15:01] fluiddot commented on #44452
I debugged this issue and found that was introduced when Quote V2 was introduced, specifically when the transforms logic was updated due to using inner blocks ([reference](https://github.com/WordPress/gutenberg/pull/25892/files#diff-aae5b36f45a467214ca6c674e0c40aa6d67afb6886af52bccac00d78d56d79db)). In Quote V1, we had a `from` transform for `core/paragraph` block, now that block is transformed us

[2022-09-26 15:19] Mamaduka commented on #30697
Hi, @dgwyer

I think this is similar to #33148. There was a proposal to remove logs from the production builds (#33153), but eventually, we grouped them to reduce the noise - #34163.

Let me know if we can close this issue.

[2022-09-26 16:55] jameskoster opened #44471 "Query block doesn't display sticky posts when inheriting from template"
## Description
Here's my home page on the frontend:

<img width="869" alt="Screenshot 2022-09-26 at 17 50 49" src="https://user-images.githubusercontent.com/846565/192335751-850fea90-aa0a-4b9a-8270-99ecf4ff20a1.png">

Note the sticky post. It doesn't appear in the Query loop in the Site Editor:

<img width="1575" alt="Screenshot 2022-09-26 at 17 51 11" src="https://user-images.githubusercontent.co

[2022-09-26 16:59] annezazu commented on #44471
@jameskoster does this occur with 6.1 beta 1? Wondering if we need to add it to the project board.

[2022-09-26 17:23] cdils commented on #40481
+1

[2022-09-26 17:30] skorasaurus commented on #13517
I came across this while troubleshooting some taxonomy issues with a custom post type that I have.

The cause of this is that the rest_base parameter for registering the custom taxonomy is incorrect. In the code above, it is incorrectly set as "types".
If you remove that line and rely on the default parameter for [rest_base](https://developer.wordpress.org/reference/functions/register_taxonomy/#pa

[2022-09-26 17:30] #13517 closed

[2022-09-26 17:53] tcmulder commented on #37671
I'm confused, does this mean we're unable to use [BEM](https://en.bem.info/methodology/css/) class names for blocks? I have a select box that lets the user select multiple classes to apply to their block, which it saves as an array of class names, and right now my client is getting the "attempt block recovery" warning because classes like `carousel--dark` get converted to `carousel\u002d\u002ddark

[2022-09-26 17:55] seanvarnham commented on #39246
Can I just ask, why does WordPress release docs on their website for unpublished packages ([@wordpress/edit-navigation](https://developer.wordpress.org/block-editor/reference-guides/packages/packages-edit-navigation/)), yet many functions in some existing packages aren't even acknowledged in the docs...?

[2022-09-26 17:58] priethor commented on #42229
Let's aim to have this for 6.2 🙏

[2022-09-26 18:03] hamishmb commented on #44117
Hmm, okay, I'll give it another shot soon.

I'm using Xed from Linux Mint as my text editor. I'll try a different text editor and then I'll try with a local install and add my plugins one by one.

If this does turn out to be plugin-related, is it going to be possible to fix it?

[2022-09-26 18:33] dgwyer commented on #30697
Seems much better now. Thanks for the heads-up.

[2022-09-26 18:33] #30697 closed, assigned to nobody

[2022-09-26 19:03] kathrynwp commented on #39246
@seanvarnham Good question! I'm guessing that since documentation efforts (as with development) are all volunteer-driven, not all features are documented evenly. If you see something undocumented or unacknowledged, please feel free to report it here: https://github.com/WordPress/Documentation-Issue-Tracker/ Thanks!

[2022-09-26 19:32] GaryHeaven opened #44476 "Unexpected rendering of Ampersand into #038; in shortcode"
### Description

On Wordpress 6.0.2 I am seeing the odd case of the && operator within in-line scripts being rendered as #038; rather than as &&.

This seems to be only where there is a complex if() within a for() loop.

`  if (1==1) {
	if ((1 != 2 && 2==2 ) || 3==3) { null}
  } // Works
  for (var i=0; i < 2; i++) {
	  if (1==1) {
		if ((1 != 2 && 2==2 ) || 3==3) { null}
	  }
  } // Does not work

[2022-09-26 19:55] janboddez commented on #44243
TL;DR
The issue is with the theme(s), but maybe this could still be documented better?

Some details:

In the original theme's `bjork/templates/front-page.html`, there's references to three template parts:
[code]
The one above works OK.

These two, however, error out:
[code]
See how they explicitly mention `"theme":"bjork"`? Well, remove that bit, and everything works.

Found out by adding a coupl

[2022-09-26 20:04] janboddez commented on #44243
Left a message on the WP.org support forum, too: https://wordpress.org/support/topic/child-theme-and-template-parts-issue/

Not closing the issue, yet, as it could still be caused by theme creation tooling or whatnot.

[2022-09-26 20:15] glendaviesnz commented on #38557
Fixed by https://github.com/ValentinH/react-easy-crop/pull/410 & https://github.com/WordPress/gutenberg/pull/44408

[2022-09-26 20:15] #38557 closed, assigned to glendaviesnz

[2022-09-26 20:33] ALJ opened #44477 "Unable to get `core-editor` data in Site Editor for Templates or Template Parts"
### Description

I regularly use `select('core/editor').getCurrentPostType()` to read the type of post currently being edited in the block editor. I use this to tailor the editor and allow certain blocks for ease of editing. This works wonderfully on `post`, `page`, and any custom post type. But, this does not work in the Site Editor when editing a **Template** or **Template Part**.

I'm eager to

[2022-09-26 21:40] MadtownLems commented on #19981
Hi there. This is the closest ticket I could find for my issue. I'm also experiencing different behavior between Classic Editor and the Block Editor when it comes to user_has_cap filters.  I've put together a proof of concept plugin.

In the Classic Editor, this allows Authors to Edit pages they are the author of.
In the Block Editor (6.0.2, no Gutenberg), Authors can not edit pages they are the a

[2022-09-27 00:06] peterwilsoncc commented on #40316
With the introduction of the `@wordpress/experiments` package to make it very, very difficult for theme and plugin developers to use new experimental developer APIs, I think there now exists a robust solution for allowing function signatures that will change.

Thanks @adamziel for figuring out a solution that allows for an early-access channel to co-exist with the stable product.

[2022-09-27 00:35] glendaviesnz commented on #44434
Looks like the values are being saved to the styles custom post type, but are not being retrieved for some reason, will see if I can work out why that is.

[2022-09-27 01:07] ramonjd commented on #44397
Hmm, this appears to work for me, thanks everyone!

I've thrown up a PR just in case it works for everyone else too 🤣  https://github.com/WordPress/gutenberg/pull/44480

[2022-09-27 02:10] ramonjd commented on #42961
I've thrown up a first draft for the Style Engine dev note here:

https://make.wordpress.org/core/?p=99063&preview=1&_ppp=10ef94cb0b

Thank you!

[2022-09-27 02:17] tellthemachines opened #44481 "Post editor crashes when clearing customizations in template editing mode."
### Description

When editing the template for a new post from the post sidebar, saving changes to the template and then clicking "clear customizations" in the top toolbar causes the editor to crash.

I've reproduced this several times, and there are two different errors that alternately appear in the console:

`Uncaught TypeError: Cannot read properties of null (reading 'removeEventListener')` in

[2022-09-27 03:22] #42911 closed, assigned to tellthemachines

[2022-09-27 03:23] glendaviesnz commented on #44434
It looks like in wordpress-develop [this call](https://github.com/WordPress/wordpress-develop/blob/trunk/src/wp-includes/class-wp-theme-json-resolver.php#L438) is not returning the custom global styles data. The correct data is there in the [preceding config var](https://github.com/WordPress/wordpress-develop/blob/trunk/src/wp-includes/class-wp-theme-json-resolver.php#L433), ran out of time to try

[2022-09-27 03:55] talldan commented on #36457
It should be that if you move your mouse up above the point on the screen where you started dragging from the page starts scrolling up, and if you move it down below where you start dragging from the page starts scrolling down. I think that's similar to how a middle-click to scroll used to work on Windows (it may still work like that, I haven't tested it in a while).

Yeah, I proposed that as an o

[2022-09-27 04:59] talldan commented on #44335
I'm not sure about the calculation, as I haven't looked at that part of the code.

When I tested `trunk` it seems like there's another new regression that has been introduced:

https://user-images.githubusercontent.com/677833/192435411-a983f347-9552-4aa6-a31c-d5d732c4b504.mp4

This time in both the post and site editor.

edit: found a fix for this - #44484. AFAIK, it's only a gutenberg plugin bug,

[2022-09-27 05:00] andrewserong commented on #44110
Just closing this one out now, too, since it's resolved as of #44258. Thanks @tellthemachines!

[2022-09-27 05:00] #44110 closed, assigned to tellthemachines

[2022-09-27 05:15] andrewserong commented on #39583
Support for using CSS variables for the blockGap value in block attributes was introduced across #43296 and #43466, via the form `var:preset|spacing|20` which will be output on the site frontend in the form `var(--wp--preset--spacing--20)`. For example, here's the markup for a Group block as edited in `trunk` by using the default spacing presets:

[code]

I believe that resolves the issue describe

[2022-09-27 05:15] #39583 closed, assigned to nobody

[2022-09-27 05:56] gyurmey2 commented on #44404
I confirm that the problem still exists.

[2022-09-27 06:09] fabiankaegy commented on #42961
I moved the draft of the block-based template parts devnote from the Google Doc to a draft post: https://make.wordpress.org/core/?p=99068&preview=1&_ppp=25529485e7

[2022-09-27 06:14] andrewserong commented on #44434
Interestingly, in wordpress-develop I can save styles for server rendered blocks in global styles (e.g. site title), but not static blocks (like Group). Just in case that points in any particular direction for this one or the linked [trac issue](https://core.trac.wordpress.org/ticket/56644).

[2022-09-27 06:48] andrewserong commented on #44434
I _think_ this one will likely need to be fixed from the core side, but I noticed (and commented [here on the trac issue](https://core.trac.wordpress.org/ticket/56644#comment:2)) that if we update the priority of the `register_core_block_types_from_metadata` callback on the `init` action to have a priority of `1`, that appears to resolve the issue ([this line](https://github.com/WordPress/wordpres

[2022-09-27 06:52] draganescu opened #44486 "Move navigation error state to the inspector"
### Description

[Originally](https://github.com/Automattic/themes/issues/6634) found by @jordesign this is a Gutenberg UX bug not a theme implementation issue. There is no clear programmatic fix, I think we need a better state for this edge case:

### Step-by-step reproduction instructions

- user has no pages
- user has no menus
- user switches to a block theme
- user sees the error message: "Pa

[2022-09-27 06:53] draganescu commented on #44486
@javierarce @jasmussen would you say defaulting to one "home link" is better than this situation?

[2022-09-27 07:04] tellthemachines commented on #41324
The updated layout code has now been backported to Core and testing shows it working correctly in trunk:

<img width="1160" alt="Screen Shot 2022-09-27 at 5 01 20 pm" src="https://user-images.githubusercontent.com/8096000/192456406-8b3957cc-e439-4ff0-bfae-32c78008c4f8.png">

I'm going to go ahead and close this issue for now.

[2022-09-27 07:04] #41324 closed, assigned to nobody

[2022-09-27 07:10] draganescu commented on #42961
Howdy here is the draft dev note for the navigation block fallback updates in 6.1 https://make.wordpress.org/core/?p=99073&preview=1&_ppp=82bfc16fed

[2022-09-27 07:16] ingeniumed commented on #41547
@mcsf Building on what @alecgeatches mentioned, there's an approach we have in mind but it requires some confirmation.

Essentially, we would want to have a filter that's applied at the end of the sanitize function so that anyone can modify the output of the processed theme.json. [This is the specific line](https://github.com/WordPress/gutenberg/blob/trunk/lib/compat/wordpress-6.1/class-wp-theme-j

[2022-09-27 07:18] talldan commented on #44335
I've put together a fix in https://github.com/WordPress/gutenberg/pull/44485, though I'm not seeing the exact same issues as in the screen cap.

[2022-09-27 07:37] stefanfisk commented on #39833
This is still not implemented.

[2022-09-27 07:43] javierarce commented on #44486
@draganescu I'd say yes, it's better to show something users can change than that error message, which doesn't help you to solve the issue.

[2022-09-27 07:45] jordesign commented on #44486
I'd say yes as well. I'd also be really keen to see the editor view match the front-end view as much as possible, especially in the default state.

[2022-09-27 08:02] getdave commented on #39854
This Issue has been completed by https://github.com/WordPress/gutenberg/pull/42735 and others. Closing as complete.

[2022-09-27 08:02] #39854 closed, assigned to getdave

[2022-09-27 08:03] getdave commented on #39855
This Issue is still valid and should remain open.

[2022-09-27 08:05] getdave commented on #43144
I quite like the idea of separating the editing of a link from the changing of settings. We could explore the first option.

I would agree. A _lot_ of work for the potential ROI.

[2022-09-27 08:31] #44262 closed, assigned to aaronrobertshaw

[2022-09-27 08:37] andersnoren commented on #44243
I fixed this in Björk (and in my other block themes) by removing `"theme":"bjork"` from the `<!-- wp:template-part --/>` options.

I couldn't find any documentation for the `"theme":"{theme-slug}"` option for `<!-- wp:template-part --/>`, so I'm not sure what its intended behavior is.

[2022-09-27 08:52] SiobhyB commented on #44452
I agree that enabling the missing transformations seems like a good path, so that we're matched up to the web as closely as possible. I think users would expect the functionality to work the same across platforms.

If we feel that some transforms are illogical or confusing, I think it'd be best to open issues for wider community discussion, rather than diverging in the apps.

[2022-09-27 08:53] matthiaspabst commented on #28115
The bug still exists (or exists again?) in WordPress 6.0.2.

[2022-09-27 08:53] jameskoster commented on #44471
Yup, same experience on 6.1 beta 1.

[2022-09-27 08:53] #44335 closed, assigned to talldan

[2022-09-27 09:25] talldan commented on #44335
Have merged that PR now which closed this, but let me know if there are any other issues you spot in testing.

[2022-09-27 09:28] ciampo commented on #39615
This issue is still relevant, but we'll need to assess the status of the components mentioned above as we're in the process of introducing `SlideControl` (and later deprecate `RangeControl`) as per https://github.com/WordPress/gutenberg/issues/40507

[2022-09-27 09:34] janboddez commented on #44243
Cool!

I do agree that either WP should be more robust for this, or the documentation improved (or both).

[2022-09-27 10:08] tyxla commented on #17249
Got an update here: the last 3 ones are being addressed here:

* https://github.com/WordPress/gutenberg/pull/44470
* https://github.com/WordPress/gutenberg/pull/44492
* https://github.com/WordPress/gutenberg/pull/44493

and the `enzyme` removal is being suggested here:

* https://github.com/WordPress/gutenberg/pull/44494

[2022-09-27 10:18] NekoJonez opened #44495 "Microsoft Forms embedding fails"
### Description

When you copy and paste an embed copy of a Microsoft Form, it fails. It shows the url and doesn't embed the form with the embed block. If you use a Custom HTML block and input the HTML code there, it does work.

### Step-by-step reproduction instructions

1. Copy the embed code of a MS Forms form.
2. Just paste it in Gutenberg and it will change into the embed block.
3. Publish an

[2022-09-27 10:22] andrea-calligaris commented on #39878
Still relevant.

[2022-09-27 10:22] andrea-calligaris commented on #39861
Still relevant.

[2022-09-27 10:24] mtias opened #44496 "Inserter: Add Media tab and explore basic Openverse integration"
The inserter currently has tabs for Blocks, Patterns, and Reusable blocks. You can drag and drop content from these tabs into the canvas to build your pages. #44028 further redesigns this with a two-column split, and clearer categories.

This convenient way of adding content translates well to media as well. It'd be nice to starting exploring a "Media" tab for easy access to your library. The Medi

[2022-09-27 10:30] jameskoster commented on #44496
A PR exploring the Openverse integration: https://github.com/WordPress/gutenberg/pull/44424

[2022-09-27 10:34] #42761 closed, assigned to Mamaduka

[2022-09-27 10:35] getdave commented on #38275
## Update 27th Sept 2022

Some key features have landed in time for WP 6.1. If you want to learn more about them then you can checkout @draganescu's [Dev Note on the changes to the block's fallback mechanics](https://github.com/WordPress/gutenberg/pull/42735#issuecomment-1254963751).

Or if you prefer I have made a quick [video covering all the changes to the Navigation block in WordPress 6.1](htt

[2022-09-27 10:55] jasmussen commented on #44486
Ah, this is an interesting one, because an empty page list is accurate when there are _no pages_, whereas a "home link" would not be, and it might not even be user intent. Given a new WordPress install defaults to adding "About", that seems to further reinforce that if these pages are intentionally deleted, the user probably _wants_ an empty menu. So I would avoid adding any home links or otherwis

[2022-09-27 11:36] Mamaduka commented on #3072
The wording was updated to `Stick to the top of the blog` in #13120.

[2022-09-27 11:39] millerf opened #44499 "Componentize PostVisibility and PostVisibilityChoice"
## What problem does this address?

We were trying to reuse the same choice component for a jetpack plugin we are developing, and we could have used the same component, but we had to copy the code.

It could be handy to have PostVisibility more customizable.

[2022-09-27 11:44] Mamaduka commented on #6064
@davidperezgar, try using the following snipped for post types:

[code]

[2022-09-27 11:46] madhusudhand commented on #42323
@kathrynwp I tested the same scenarios on self-hosted install. Style changes between variations are working properly.

[2022-09-27 12:10] Mamaduka commented on #9013
I think we can close this issue. The query block can be used to display posts from different post types.

[2022-09-27 12:10] #9013 closed

[2022-09-27 12:23] Mamaduka commented on #30468
I am closing this as a duplicate of #10889.

Thanks for commenting on the original issue @TheSimArchitect!

[2022-09-27 12:23] #30468 closed, assigned to nobody

[2022-09-27 12:24] Mamaduka commented on #10963
Fixed via #10964.

[2022-09-27 12:24] #10963 closed

[2022-09-27 12:25] #42922 closed, assigned to nobody

[2022-09-27 12:41] Mamaduka commented on #12565
The issue was fixed via #43666. Props to @t-hamano!

[2022-09-27 12:41] #12565 closed

[2022-09-27 12:44] jameskoster opened #44501 "Revisiting / contextualising pattern categories, and default inclusions"
The [Patterns Directory](https://wordpress.org/patterns/categories/columns/) has grown enormously over time, and now could be a good time to consider how patterns are organised (categories), and which patterns are included in those categories by default.

<img width="421" alt="inserter pattern tab" src="https://user-images.githubusercontent.com/1204802/200532636-00377349-79aa-4da3-876b-3b6d0ee520c

[2022-09-27 12:47] Mamaduka commented on #13027
Thanks, @eriktdesign.

I will close the issue in favor of "Query Block."

[2022-09-27 12:47] #13027 closed

[2022-09-27 12:51] t-hamano opened #44502 "theme.json: The `outline` property does not work properly on the editor"
### Description

 The `outline` property does not work properly in the editor. The following are either not applied or incorrect values are applied on the editor:

### `styles.outline`

Not work on the **site** editor.

### `styles.blocks.{namespace/blockName}.outline`

Not work on the **post** / **site** editor..

### `styles.elements.button.outline`

The incorrect `outline-color` property is app

[2022-09-27 13:03] jasmussen opened #44503 "Template inspector: Surface revisions panel"
Templates and template parts [support revisions](https://github.com/WordPress/wordpress-develop/blob/b4acf193d1cac4b287492b762dfc2344b0942cbe/src/wp-includes/post.php#L388). We should surface these in the inspector for Templates and Template Parts, especially because those inspectors are already so empty.

It could be surfaced in the same way as it is in the post editor, just as a link to the revi

[2022-09-27 13:21] WindowsMod commented on #40676
Also, when selecting blocks, you cannot delete them either with backspace button or the delete button.

[guten-bug-delete-from-classic-editor.webm](https://user-images.githubusercontent.com/25566550/192538393-aa7c92f4-23fa-4fa9-8a06-68e26eba13a7.webm)

[2022-09-27 13:30] cbravobernal commented on #27835
Bumped to 6.2 as mentioned in the PR https://github.com/WordPress/gutenberg/pull/43930.

[2022-09-27 13:58] TheRadicalDreamer commented on #36457
@talldan and @gravityrail i am honestly fine with any percentage is set. But I believe 20% for the top and bottom is fine, because it leaves you 60% of the center screen to move around freely with the screen scrolling, ultimately allowing you to precisely move the block.

Who do we need to call to make this a feature?

[2022-09-27 14:00] ulfemsoy commented on #40377
Yes, it is probably another issue.

[2022-09-27 14:07] draganescu commented on #44182
My opinion is the band aid is skippable :) and we should focus on figuring out how to edit the overlay.

[2022-09-27 14:19] kathrynwp commented on #42323
@madhusudhand Thanks for reporting back. Since this is only happening with WordPress.com themes and can't be replicated otherwise, I'm going to go ahead and close out this issue, as it does seem to be specific to WP.com themes and not a WP-wide issue.

[2022-09-27 14:19] #42323 closed, assigned to nobody

[2022-09-27 14:27] ndiego commented on #44041
After a bit of investigation, there were a handful of Query Loop changes made in 6.0.2 here: https://github.com/WordPress/gutenberg/commits/wp/6.0.

@gziolo @draganescu would you guys have any insight into this issue?

[2022-09-27 14:33] ndiego commented on #43939
This issue was reviewed in today's Editor Bug Scrub. We have been unable to replicate using the latest versions of Gutenberg, WordPress, and the Twenty Twenty-Two theme. Therefore, this seems to be a theme-specific issue, and I am going to close this. If anyone can replicate it in the future, please feel free to reopen this issue with additional information.

[2022-09-27 14:33] #43939 closed, assigned to nobody

[2022-09-27 14:39] ndiego commented on #43922
This issue was reviewed in today's Editor Bug Scrub.

@SGr33n does this accomplish what you are looking for? If not, can you provide any addition info? Thanks!

[2022-09-27 14:39] draganescu commented on #44041
Howdy @sb726  I think this is the bit that changed. You were using a weird behavior which more recent versions of the query block attempt to fix: once you set inherit query it will _only_ use the global query on that page, so all settings get ignored.

[2022-09-27 14:46] Mamaduka commented on #44063
This is a duplicate of https://github.com/WordPress/gutenberg/issues/19805.

Quoting the answer from the previous issue - https://github.com/WordPress/gutenberg/issues/19805#issuecomment-580428211

[2022-09-27 14:50] ndiego commented on #43660
I was able to get a color to show up by setting `text` color in theme.json. But clearly there are still issues here.

[code]

![image](https://user-images.githubusercontent.com/4832319/192560034-2710a214-d15b-432f-87d3-b1dcad48d694.png)

[2022-09-27 14:55] jameskoster commented on #44501
One idea would be to name categories based on the different content sections folks typically add.

The following categories would have universal application (no particular order):

* Call to action
* Team
* Testimonials
* Services
* Contact
* Posts (query)
* Products (query – dynamically added when a plugin like WooCommerce is activated)
* About
* Portfolio
* Media _or_ Galleries / Video / Audio
*

[2022-09-27 15:03] Mamaduka commented on #43464
Those errors are correct, and there's nothing wrong with them.

Using enter key or using a comma after a text in the "Add New Tag" field will try to create a new tag. If the tag with the same name already exists (returned as 400 error), the editor will assign that tag to a post.

https://github.com/WordPress/gutenberg/blob/8aa2aa23124670e4081408a64e6cd5d0072b8553/packages/editor/src/components/pos

[2022-09-27 15:06] #44422 closed, assigned to ajlende

[2022-09-27 15:10] SGr33n commented on #43922
Hi @ndiego , thanks for your help and for taking care of this issue. This doesn't accomplish what I'm looking for. The main query should be the one which is obtained by the permalink structure. If I add a block to the single page e.g., a query loop to show the latest post inside the sidebar, in a single post template, the is_main_query() conditional function is returning true, even it's a second q

[2022-09-27 15:10] joshuatf opened #44508 "Add the ability to disable block selection clearing"
## What problem does this address?

Building a rich text editor solution based on the block editor can lead to unexpected interactions.  On deselection of a block, we lose the toolbar and UI for the text editor.

This would be useful so that WooCommerce can use the block based editor for its new rich text editor solution.

**Before deselection:**
<img width="289" alt="Screen Shot 2022-09-26 at 12

[2022-09-27 15:18] annezazu commented on #44140
Noting that I chatted with @andersnoren about his new theme and great post layout: https://wordpress.org/themes/beaumont/ He said he's game to have it reused for a core pattern for the query loop. Noting here so we can add this in perhaps to your PR @critterverse.

[2022-09-27 15:26] trinadin commented on #26645
Again, the issue was not corrected in that original ticket. This particular issue mentioned here was not fixed until ticket [#56197](https://core.trac.wordpress.org/ticket/56197), and will not be present in 6.0. You need 6.0.1 for this fix to be applied.

[2022-09-27 15:26] trinadin commented on #26645
The issue was not corrected in that original ticket. This particular issue mentioned here was not fixed until ticket [#56197](https://core.trac.wordpress.org/ticket/56197), and will not be present in 6.0. You need 6.0.1 for this fix to be applied.

[2022-09-27 15:29] Mamaduka commented on #26645
Thanks for the clarification, @trinadin!

[2022-09-27 15:51] mikachan opened #44510 "theme.css is included in editor even if `wp-block-styles` is not enabled"
### Description

It seems that theme.css is included in the editor whether `wp-block-styles` is enabled or not. However, on the front end, theme.css is only included if the theme opts into `wp-block-styles` (which I believe is correct).

I noticed this because it looks like the default separator block is limited to a width of 100px (unless it is set to wide style or dots style) in the editor, but

[2022-09-27 15:58] kathrynwp commented on #39510
As it sounds like the issue was fixed a while back and no longer reproducible, I'm going ahead and closing this out.

[2022-09-27 15:58] #39510 closed, assigned to michalczaplinski

[2022-09-27 16:12] kathrynwp commented on #39544
As @carolinan mentioned, selecting the parent Pagination block gives you options to change the foreground, background, and link colour. I think that should take care of this issue, as I can't really see a need to change the Next/Previous link colours independently.

![Editor__beta__‹_Self-hosted_Test_—_WordPress_and_nvALT_and_Slack_____comet___A8C___1_new_item_and_Calendar](https://user-images.git

[2022-09-27 16:12] #39544 closed, assigned to nobody

[2022-09-27 16:16] kathrynwp commented on #39552
Thanks for the suggestion. I'm not sure if this is something the developers have considered – @talldan @annezazu do you have any thoughts, or might know who to ping? Thanks!

[2022-09-27 16:19] kathrynwp commented on #39588
@mchowning Hi! Could you please confirm that this is still an issue in the latest version of the app on Android? Thanks!

[2022-09-27 16:28] beafialho commented on #44501
At the time, I believe this category's purpose was to showcase the initial set of patterns we created for the directory. I'm not sure that purpose makes much sense now, however I could see this as a category to showcase a featured section, article or page from a site, that usually has a special emphasis, usually on a site's front page at the top. Here's an [example](https://themeskingdom.com/demo/

[2022-09-27 16:30] jameskoster opened #44512 "Clicking the 'Open list view' button on the Navigation block feels broken when list view is already open"
https://user-images.githubusercontent.com/846565/192582778-1ce51ef2-f611-4ff7-bbf9-3fb1f3a23940.mp4

Should we make it a toggle so that it opens _and_ closes list view?

[2022-09-27 16:33] beafialho commented on #44501
Oh, and forgot to mention wireframe patterns. I took the liberty to [create a "Wireframe" category](https://github.com/WordPress/pattern-directory/issues/525) as an effort to add those patterns to the directory. We could later subfilter them by use case using `tags` so that users can find them more effectively.

[2022-09-27 16:42] Romaixn opened #44513 "@wordpress/env: unable to launch wp-env start"
### Description

Hello, when I launch wp-env start I have this error :

[code]

I just have a wp-env.json with that inside :
[code]

I thought it might be due to the update of docker compose and its integration into the new version of Docker.

When I enter the generate folder in .wp-env and run the docker compose up -d command, everything launches correctly.

### Step-by-step reproduction instruct

[2022-09-27 16:43] mchowning commented on #39588
I just reproduced this on WPAndroid 20.8-rc-2. I'll knock the priority down from normal to low though since this seems like an edge case that isn't really that bad.

[2022-09-27 16:46] fluiddot commented on #44452
My only concern about this change is that we'd need to check all transform combinations in case there are any unsupported or lead to errors. Apart from this, I agree that this seems like a good path.

Good point! I think we haven't reviewed the UX of transforming blocks since [the original change](https://github.com/WordPress/gutenberg/pull/28453) was released. But definitely, if we identified som

[2022-09-27 17:07] jameskoster commented on #44501
Oh yeah, there could be some overlap with sticky posts 🤔

It's not a perfect fit but I thought that pricing tables could potentially go in the Services category. A top-level category might be better though.

I was thinking about different arrangements of Archive Title and Term Description. These blocks can live outside of the Query, but perhaps it would make sense to include them in those categori

[2022-09-27 17:14] kathrynwp commented on #39616
This is still a valid bug. I was able to replicate this with:

WordPress 6.0.2
Gutenberg 14.1.1  active or inactive (no other plugins active)
Twenty Twenty-Two 1.2

@jorgefilipecosta would you be able to take a look, as it does seem related to https://github.com/WordPress/gutenberg/pull/38964 as mentioned above. Thanks!

[2022-09-27 17:22] kathrynwp commented on #39657
Hi there - @CyberDomovoy - thanks for reporting the issue. So far I haven't been able to replicate this, as the test function is giving a fatal error.

If you could please expand the step-by-step reproduction instructions more fully in order for anyone to be able to test the issue, it would be appreciated. Thanks!

[2022-09-27 17:29] kathrynwp commented on #39673
@madhusudhand Hi there! I haven't been able to replicate this yet; the image does not shrink, no matter whether right- or left-aligned.

Tested with:

WordPress 6.0.2
Gutenberg 14.1.1 active or inactive
No other plugins active
Twenty Twenty-Two 1.2

Could you please confirm whether you're still able to replicate, and if so, confirm the testing steps? Thanks!

[2022-09-27 17:30] annezazu commented on #44243
cc @DaisyOlsen and @justintadlock on the documentation front!

[2022-09-27 17:38] kathrynwp commented on #39734
Thanks for this suggestion!

@talldan or @annezazu or @carolinan – perhaps one of you might know if this is something on the radar or not? If not, we can close it as a "maybe later" item for now. Thanks!

[2022-09-27 17:46] kathrynwp commented on #39761
Thanks for this issue and related PR, @xaviranik! Looks like there are some comments on your PR https://github.com/WordPress/gutenberg/pull/39786 that need addressing before it can be merged, if you're able to take a look there and move things along, that would be great. Thanks!

[2022-09-27 17:50] dashkevych opened #44514 "theme.json: Add support for description in customTemplates"
Default templates, such as Single, Page, Index, ect, come with a description text, while custom templates do not have such text.

<img width="581" alt="editor-tempaltes" src="https://user-images.githubusercontent.com/3655965/192598880-4981409b-cae5-4c27-8180-c76be663f1fd.png">

It would be great if we were able to display a description text in custom templates, set via `theme.json`, to provide mor

[2022-09-27 17:54] kathrynwp commented on #39825
I'm still able to replicate this with WordPress 6.0.2 (no plugins active) but with Gutenberg 14.1.1 active, the Latest Posts block does show up in the list of blocks:

![Editor__beta__‹_Self-hosted_Test_—_WordPress](https://user-images.githubusercontent.com/7662449/192600755-0af11e5b-08e8-4c8e-95a1-ccd660e53532.jpg)

Closing this out as this should be fixed in core shortly.

[2022-09-27 17:54] #39825 closed, assigned to nobody

[2022-09-27 18:02] annezazu opened #44515 "TT3 Style Variations show a scrollbar for one variation"
### Description

When using 6.1 beta 2 with the new TT3 theme, one of the style variations shows a scrollbar in chrome. FYI @ndiego .

### Step-by-step reproduction instructions

1. Use beta 2 for 6.1
2. Activate TT3
3. Open Site Editor
4. Open Styles
5. Notice whisper variation has a scrollbar

### Screenshots, screen recording, code snippet

<img width="288" alt="Screen Shot 2022-09-27 at 2 00 2

[2022-09-27 18:04] davidperezgar commented on #6064
Thanks. Let me try.

[2022-09-27 18:07] ndiego commented on #44515
Yes I can confirm. The reason is that variation has a site border, which is reflected in the Global Styles preview.

![image](https://user-images.githubusercontent.com/4832319/192603182-d39423fd-eb7c-4fef-9c46-64197803ec26.png)

![image](https://user-images.githubusercontent.com/4832319/192603251-2f877cd3-fcea-423d-aa3b-0395045ebb97.png)

[2022-09-27 18:10] ndiego commented on #44434
I can confirm that this issue does not occur with Gutenberg active. Only in 6.1 Beta. So it seemly like something might not have been ported over properly? 🤔

[2022-09-27 18:28] hellofromtonya commented on #43440
I removed all of the Webfonts API files from the backport list. Why? The API is being re-architected, ie still in development. It will not be ready for WP 6.1. 🔴

Please leave these files in the `lib/experimental/` directory. Thanks.

[2022-09-27 19:00] annezazu commented on #39552
Please view the Webfonts API work https://github.com/WordPress/gutenberg/issues/41479 for this specific ask!

[2022-09-27 19:31] skorasaurus commented on #29581
Hi,

I believe this was fixed in https://github.com/WordPress/gutenberg/pull/43666 ; please reopen this if this is still an issue on Gutenberg 14.1

[2022-09-27 19:31] #29581 closed

[2022-09-27 20:37] oandregal commented on #44434
I've done some testing: go to the global styles sidebar and set the global background color and the background color of the heading block. This is how I'm tracing this data usage:

- the database has the actual user data

[code]

- the result of [calling](https://github.com/oandregal/wordpress-develop/blob/bb7ddf5b569de07448b130d0ef374e8dffe93cea/src/wp-includes/class-wp-theme-json-resolver.php#L4

[2022-09-27 21:11] carlomanf commented on #44503
This was already requested at #36060

[2022-09-27 21:13] GaryHeaven commented on #44476
Enclosing the inline script in HTML comments results in correct rendering of the content. This also only seems to impact code deployed into a Windows environment.

[code]

[2022-09-27 21:13] #44476 closed, assigned to nobody

[2022-09-27 21:33] oandregal commented on #44434
What happens is that, at some point, the theme.json class receives the data saved in the database. It wants to [sanitize](https://github.com/oandregal/wordpress-develop/blame/bb7ddf5b569de07448b130d0ef374e8dffe93cea/src/wp-includes/class-wp-theme-json.php#L516) it. One of the things it does is removing data for blocks that are not registered. And, apparently, the `core/heading` is not, hence its d

[2022-09-27 21:36] jsit commented on #40163
It seems to me the correct thing would be for `is-style-large` to be removed from the HTML when switching to "Plain"; but barring that, maybe to reduce specificity, some `unset` styles can be set on `.is-style-plain`? As shown in this commit: https://github.com/WordPress/gutenberg/commit/8cfc83a4ec73254aebe7dabfd66a0745308aa2a9

Also, should this label be changed to `[Type] Bug` since this breaks

[2022-09-27 22:06] oandregal commented on #44434
I've quickly looked at the places where we require global styles data. Inspected the usage of the `wp_get_global_stylesheet` (and similar functions) as well as the classes (`WP_Theme_JSON` and `WP_Theme_JSON_Resolver`). I wanted to learn if we had changed the places where we use this code (`script-loader.php`, etc.) and made it so it runs earlier than block registration. I haven't found anything m

[2022-09-27 22:16] #44397 closed, assigned to ramonjd

[2022-09-28 00:04] Ciantic commented on #40289
@aristath but it still does add the class if you click the button with isDefault as true, it's just doesn't do it by default.

Removing the class is not usually wanted behavior. Imagine I have spacer with: small, medium and large. Where medium is default, then user adds 100 spacers all around the site, all without the style set because by default it doesn't.

Then one day I want to change the defa

[2022-09-28 00:29] #44502 closed, assigned to t-hamano

[2022-09-28 01:11] seothemes commented on #32644
There is a workaround to allow negative margins, but without responsive controls they may not be the answer.

Please see https://github.com/WordPress/gutenberg/pull/40464#issuecomment-1260263890

[2022-09-28 01:17] tellthemachines commented on #35849
Do we want these controls in the sidebar, or is it enough to have them in the block toolbar?

<img width="575" alt="Screen Shot 2022-09-28 at 11 14 28 am" src="https://user-images.githubusercontent.com/8096000/192665248-858faef0-46e0-43a4-af9b-c3fad62eae7d.png">

Also, do we want them to be available for all blocks with flex layout? (I'm thinking of Navigation where these tools are currently disab

[2022-09-28 01:19] andrewserong commented on #44434
Thanks for writing all that up @oandregal — I think I've found where the caching issue is occuring:

After a git-bisect on wordpress-develop that pointed to [this backport commit](https://github.com/WordPress/wordpress-develop/commit/3b63a75108b7f6d5e9112c556285ab1bc80ddbcf#diff-19f8095f13b47e6d366be46c37c142fb971a4ce9c514607a86e1e1a2382b6235), I tried looking through the backported server-rendere

[2022-09-28 02:02] #43483 closed, assigned to nobody

[2022-09-28 02:02] #42972 closed, assigned to nobody

[2022-09-28 02:46] talldan commented on #39489
I'm happy to close this, I think there are a number of other issues on the subject or related subjects already.

Here's a link to the Nav block tracking issue for anyone interested in keeping up with progress - https://github.com/WordPress/gutenberg/issues/38275.

[2022-09-28 02:46] #39489 closed, assigned to nobody

[2022-09-28 03:00] noisysocks commented on #21977
I think https://github.com/WordPress/gutenberg/pull/25684 addresses the first option in https://github.com/WordPress/gutenberg/issues/21977#issuecomment-639541141.

[2022-09-28 03:24] talldan commented on #44434
A short term fix isn't a bad idea for 6.1. A longer term fix should also be investigated as this code is too fragile. `get_block_templates` is a public function, and it's one that plugins could very well be interested in calling, so while there's some ability to fix this internally, the deeper problem is exposing brittle APIs for public consumption.

Possibly a quick fix would be to add a way to g

[2022-09-28 03:40] talldan commented on #44515
I think a developer may need design feedback on the right way to fix this, so I've added the label.

Should the preview show the variation's border? I suppose that's possible but it might be difficult to account for any border and still fit the contents of the preview neatly in the rectangle.

Possibly a better option would for the border not to be shown, the preview iframe could have a reset for

[2022-09-28 03:58] #44481 closed, assigned to glendaviesnz

[2022-09-28 04:08] Tropicalista commented on #29693
Any update on this?

[2022-09-28 04:10] alexstine commented on #42285
Pushed another large batch of changes. Since I apparently cannot read, I fixed my mistakes. Instead of using the `value` to show the changing items in real time, I removed the `aria-label` so `value` could communicate the selected label directly to screen readers.

@joedolson My PR is now in line with what I think you were intending to communicate. Testing should be much easier now. 👍

[2022-09-28 04:36] alexstine commented on #27521
Wow, how sad. This issue is assigned to me and I forgot all about it. I thought for sure this would be fixed after some adjustments in `useBlockProps`, but I guess not.

@annezazu By any chance, do you know of anyone with bandwidth right now to look in to this one? That person just is not me.

[2022-09-28 05:21] talldan commented on #44495
Whether this is supported or not depends on whether Microsoft supports the oEmbed protocol (https://oembed.com/). oEmbed is the only protocol that WordPress supports for embedding via URLs.

I'd recommend creating a support ticket with Microsoft to ask whether they support that. I couldn't find any information on it when searching the internet.

For now, using the HTML block is an absolutely fine

[2022-09-28 05:28] sb726 commented on #44041
Many thanks @draganescu @ndiego for this reply. This was actually my concern.

The "weird behaviour" was actually very useful. It allowed you to use a global query (e.g. a category query) but to then filter this according to whatever custom taxonomy you happened to be using. In principle, to be able to organise a category page, index page etc.  according to other custom taxonomies or even tags see

[2022-09-28 06:36] andrewserong commented on #44434
Thanks @talldan, you raise some great points! Ideally `get_block_templates` wouldn't have such potentially risky side-effects 👍

In order to try to find a pragmatic short-term fix, I've opened up a core PR in https://github.com/WordPress/wordpress-develop/pull/3352 to try adding a comparable `clean_cached_data` static method to the `WP_Theme_JSON` class and call both it and `WP_Theme_JSON_Resolver

[2022-09-28 06:42] tellthemachines commented on #44404
Thanks for your report @robrobsn!

This only happens with .alignfull blocks which also have the .has-global-padding classname, and I'm afraid it's a necessary side-effect of fixing #43095 so that no blocks get double the amount of padding.

That's because the rule is overriding `'.has-global-padding :where(.has-global-padding) > .alignfull { margin-right: 0; margin-left: 0; }'` (part of the fix fo

[2022-09-28 06:42] #44404 closed, assigned to nobody

[2022-09-28 07:07] tellthemachines commented on #44336
Closing this issue as the fix from #44209 has been backported to Core.

[2022-09-28 07:07] #44336 closed, assigned to nobody

[2022-09-28 07:16] markhowellsmead commented on #40163
@talldan I've mentioned such problems in multiple Github issues (which I was encouraged to create), discussed the problems with (what seem to be) several key developers on Gutenberg, and in a discussion in the Slack weekly to which I was invited. If that isn't sufficient to get anyone to pay attention, then I can't see much point in contributing any further. Although the work being done by core de

[2022-09-28 07:23] markhowellsmead commented on #17511
Closing this due to a lack of activity over the last three years.

[2022-09-28 07:23] #17511 closed

[2022-09-28 07:33] gaambo commented on #39457
The issue still exists on trunk. I added a PR to fix the issue.

[2022-09-28 07:41] youknowriad commented on #44374
I think we need to identify what solved the issue exactly as otherwise we'd be back porting things that could potentially introduce new bugs. Potentially we could do a targeted fix for this branch only, maybe adding a `minHeight: 100%` to the iframe `html` element or something.

[2022-09-28 07:41] jasmussen commented on #35849
I think @youknowriad asked some questions about an interface for this a while back, and in response we made this inspector mockup for _container_ blocks ([Figma](https://www.figma.com/file/vmHxwa8WhiyiP9poe2om9J/Inspector-Panels?node-id=13371%3A33411)):

<img width="688" alt="Container" src="https://user-images.githubusercontent.com/1204802/192717754-142b8d97-ffcf-4f19-b585-caf6487db5d9.png">

I w

[2022-09-28 07:43] jasmussen commented on #35849
Sidenote on labels-only mode, that's a good opportunity to trim and revisit the verbiage for the labels, both to enhance glancability and toolbar-width. Instead of `Change items justification`, perhaps it could just be `Justification`, and instead of `Change vertical alignment` it could be reduced to `Vertical alignment`. What do you think?

[2022-09-28 07:52] straightvisions-matthias-bathke commented on #44166
You shouldn't remove or edit lines in core code, as it's not update save. Changing this default behavior is theme territory.

Disable **default link text decoration underline** _injected by Gutenberg_ via theme.json:
`{
   "version":2,
   "styles":{
      "elements":{
         "link":{
            "typography":{
               "textDecoration":false
            }
         }
      }
   }
}`

output