[2022-04-17 07:12] justintadlock commented on #40264
I put together a rough block plugin for this: https://github.com/x3p0-dev/x3p0-comments-title

It needs an icon.  I'd be happy to test out variations on it.

[2022-04-17 07:33] nextgenthemes opened #40403 "Create Block: Continue even when Node not detected correctly"
### Description

Ubuntu 21.10
Snap verson of Node. Tried 12, 14, 16, 17 same issue with all of them. Detection fails And it claims I do not  have it correct version installed.

This may be an issue with the snap version of node and/or the library you are using for the detection. It worked perfectly fine, until now. A simple switch to just skip the version detection would be a good workarround I th

[2022-04-17 22:10] WhiteHeatherClub commented on #40305
I also have the same issue - Patterns containing non-core blocks are losing styling moving from Gutenberg 12.9 to 13:
![gut13](https://user-images.githubusercontent.com/97255524/163733962-e6e11091-f5dd-4d42-a842-7af3e69015bd.jpg)

[2022-04-18 03:07] carolinan commented on #40401
Hi,
I am closing this issue as a duplication of  https://github.com/WordPress/gutenberg/issues/40018

There is a temporary(?) solution in https://github.com/WordPress/gutenberg/issues/39207#issuecomment-1087347901

You need to place your content (`'<!-- wp:template-part {"slug":"header",",...`) before `wp_head()`;
And then echo it in the body after wp-site-blocks where you want to output it.

[2022-04-18 03:07] #40401 closed, assigned to nobody

[2022-04-18 03:15] carolinan commented on #40240
@justintadlock Can you help me understand what the grammatical error in the text is?

[2022-04-18 04:27] justintadlock commented on #40240
Sure. "Add a text" in the following should just be "Add text":

[2022-04-18 06:46] jasmussen commented on #36789
Is this the same issue as #36789?

[2022-04-18 07:11] sabernhardt commented on #40338
This can happen in both the Post Title and Site Title blocks (when using the link option).

[2022-04-18 08:02] youknowriad commented on #40305
Can we create a separate issue for the patterns losing styles. It's not clear at the moment if it's the same problem.

[2022-04-18 10:56] Mamaduka commented on #40395
I was only able reproduce the issue in Firefox.

[2022-04-18 11:25] github-actions[bot] opened #40408 "[Flaky Test] should undo asterisk transform with backspace after selection changes"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should undo asterisk transform with backspace after selection changes

## Test path
`specs/editor/blocks/list.test.js`

## Flaky rate (_estimated_)
`0 / 0` runs

## Errors

mes":0,"totalCommits":0} -->
**Flaky test detected. This is an auto-generated issue by GitHub Actions.

[2022-04-18 12:25] ndiego opened #40414 "Patterns with `Inserter: false` are visible in Inserter with Gutenberg 13.0"
### Description

Prior to Gutenberg 13.0, you could register patterns with `'inserter' => false,` in JS or the `Inserter: false` comment in PHP (the new method in 12.9) and the pattern would not be visible in the inserter. In 13.0 this no longer works. My guess is this has to do with some recent changes to the Patterns API, but not sure.

### Step-by-step reproduction instructions

1. Make sure 13

[2022-04-18 12:36] ndiego commented on #40402
I can confirm.

[2022-04-18 12:38] oandregal commented on #39654
This PR has been part of 5.9, and the corresponding devnote has been published at https://make.wordpress.org/core/2022/01/08/updates-for-settings-styles-and-theme-json/ Does that devnote need any further clarification, perhaps?

[2022-04-18 12:39] oandregal commented on #39654
This is just a bugfix/code quality thing that doesn't introduce or modify any behavior. I've just marked it as done.

[2022-04-18 12:42] ndiego commented on #40382
I can confirm that the current UI makes it very difficult to edit Navigation blocks. I included a gif of my testing.

![navigation](https://user-images.githubusercontent.com/4832319/163809795-c64fb1e2-a233-437b-be1d-db4b00e80dfc.gif)

[2022-04-18 12:50] ndiego commented on #40398
Thanks for pointing this out @ALJ, I think this might be a documentation error. I have never used `filter` and have no idea what it was intended for. 🤔

[2022-04-18 13:18] Mamaduka commented on #40402
@paaljoachim, I think you also created a similar issue. Can you confirm, and we can close one as a duplicate?

[2022-04-18 13:27] github-actions[bot] opened #40417 "[Flaky Test] should remember initial vertical position"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should remember initial vertical position

## Test path
`/test/e2e/specs/editor/various/writing-flow.spec.js`

## Errors

<time datetime="2023-02-27T19:57:33.172Z"><code>[2023-02-27T19:57:33.172Z]</code></time> Test passed after 1 failed attempt on <a href="https://github.co

[2022-04-18 13:27] github-actions[bot] opened #40418 "[Flaky Test] should remove at most one paragraph in forward direction"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should remove at most one paragraph in forward direction

## Test path
`/test/e2e/specs/editor/various/splitting-merging.spec.js`

## Errors

<time datetime="2023-09-28T17:05:32.473Z"><code>[2023-09-28T17:05:32.473Z]</code></time> Test passed after 1 failed attempt on <a hre

[2022-04-18 13:47] github-actions[bot] opened #40420 "[Flaky Test] Inserts the filtered hello world block even when filter added after block registration"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
Inserts the filtered hello world block even when filter added after block registration

## Test path
`/test/e2e/specs/editor/plugins/block-api.spec.js`

## Errors

<time datetime="2022-04-19T08:51:53.123Z"><code>[2022-04-19T08:51:53.123Z]</code></time> Test passed after 1 fa

[2022-04-18 13:47] RajkiranBagal opened #40421 "Assets Files do not load inside the responsive editor iframe after WP 5.9 update."
### Description

We have used the `enqueue_block_editor_assets` hook & enqueued a CSS file inside that.

That CSS file successfully loads inside the editor on Desktop preview.

When we switch the preview to Mobile/Tablet then all the Markup is loaded inside an iframe, but the CSS file is not loaded inside it.

Due to which, it breaks things on responsive mode.

### Step-by-step reproduction instru

[2022-04-18 13:57] cbirdsong commented on #38719
I used a block filter to restore the previous classes.

[code]

[2022-04-18 14:22] Addison-Stavlo commented on #40386
Remembering @mtias 's comments (please correct me if wrong) from last week, IIRC we do not want this to be the case.

From my understanding programmatically registered webfonts should not show up in the block settings options (and we should create an issue to fix this), only global styles. Only theme fonts should show up in the block settings pickers, and the enqueuing for those should already be

[2022-04-18 14:26] Addison-Stavlo commented on #40363
Should this be part of the scope of this PR: [Webfonts: enqueue fonts listed in theme.json](https://github.com/WordPress/gutenberg/pull/39988) ?  IIRC the goal was to enqueue fonts that were saved in theme json (global styles cpt is the saved theme json customizations), so fonts in the base theme.json or saved theme.json/global-styles cpt should be enqueued?

[2022-04-18 14:45] cbravobernal commented on #40264
Hi @justintadlock

I added a PR to add the block in Core. I will take some code from your plugin. Feel free to edit or add comments to the PR!

[2022-04-18 15:18] ndiego commented on #40240
@carolinan currently Block Visibility still displays all blocks in the Editor, it only conditionally displays them on the Frontend. I have plans to build some sort of live preview functionality in the Editor, but haven't had a chance to tackle that 😅

[2022-04-18 15:26] paaljoachim commented on #40402
Hey @mohmed98
Here is the issue I made:
https://github.com/WordPress/gutenberg/issues/40224

Can you close your issue as a duplicate of the one I made?

[2022-04-18 15:28] #40414 closed, assigned to Mamaduka

[2022-04-18 15:29] mohmed98 commented on #40402
Yeah, sure I didn't see it when I was searching for similar issues

[2022-04-18 15:30] #40402 closed, assigned to nobody

[2022-04-18 15:48] cbirdsong commented on #23892
A view mode that reveals more of the content structure would be extremely welcome. I've found that users will often add many unnecessary wrapper blocks because they don't understand the structure of the page, and one thing that has helped to make that more clear is adding CSS like this:

![A screenshot of the block editor with labeled outlines around group and column blocks](https://user-images.gi

[2022-04-18 15:48] Mamaduka commented on #34930
It probably failed because old braches didn't rebase.

[2022-04-18 15:54] benplum commented on #38719
We're also including more of these custom render functions to deal with the shifting API, but they should be unnecessary. WP has historically stood by backwards compatibility (almost to a fault), making the constant changes on point releases unnerving.

[2022-04-18 15:55] fluiddot commented on #32699
I've just tested using the latest changes from `trunk` and I confirm that this issue is already resolved 🎊.

Thanks @Mamaduka for the heads up 🙇.

[2022-04-18 15:55] #32699 closed, assigned to nobody

[2022-04-18 16:01] skorasaurus commented on #39754
Thanks for reporting and including video

I'm not able to reproduce this on chrome; ubuntu with a screen of 1900x1200, 100% scale ; gutenberg 13, wp 5.9.3.

![image](https://user-images.githubusercontent.com/955351/163836318-8128dc0f-15e3-4566-b371-2953b7a684b7.png)

Maybe related to a Mac OS X issue?

[2022-04-18 18:39] desrosj commented on #40288
I've been thinking about this a bit today. Here are some thoughts!

First, I agree that this is important and a high priority to solve. However, I think that I would not necessarily classify this as a blocker for including this in WordPress 6.0 provided only the fonts _used_ are enqueued and there are no significant performance pitfalls.

I don't think the end-user should ever need to be aware of

[2022-04-18 18:46] loganwisniewski commented on #38875
Since "Minimum Height" is fairly self explanatory and as @jasmussen mentioned

 is there even a need for any sort of helper text? Perhaps this task should be closed?

[2022-04-18 18:51] pattyok commented on #38719
Thank you @cbirdsong for the [filtering example](https://github.com/WordPress/gutenberg/issues/38719#issuecomment-1101428945)!

With the added wp-container-x class, I just had to change the search and replace to use regular expressions.

[code]

[2022-04-18 19:09] annezazu commented on #38875
I'm game to close this out and can re-open if further feedback comes in. I do think that the minimum height option, when placed with other tools, will become clearer as well. Currently, having it as a one off dimension control _might_ be part of what's making a helper text feel advantageous.

[2022-04-18 19:09] #38875 closed, assigned to nobody

[2022-04-18 19:24] annezazu commented on #40155
👋🏼 Thanks for starting this convo. IMO, this is already nicely covered in other issues you linked to. As a result, I'd focus this issue around finding ways to connect how a new template that's created can be viewed. Currently, after someone creates an author template or date template, they would have to know the relative link for their site and it would be great to connect the dots a bit more in t

[2022-04-18 19:30] annezazu commented on #40286
This was replicated by a participant in the[ thirteen call for testing for the FSE Outreach Program:](https://make.wordpress.org/test/2022/03/31/fse-program-testing-call-13-authoring-an-author-template/#comment-2436)

[2022-04-18 20:10] ALJ commented on #40398
Hi @ndiego, [this Core Make post](https://make.wordpress.org/core/2022/01/08/updates-for-settings-styles-and-theme-json/) from a few months ago mentions this new `filter`:

But I couldn't find any information about what it does 🤷 The best I could find for any help/context is [this fullsiteediting.com page](https://fullsiteediting.com/lessons/theme-json-color-options/). If you search for `"filter"`

[2022-04-18 21:14] dmsnell commented on #40316
when I recently added `__unstableBlockSource` I did so because there wasn't clear guidance on intentionally-internal APIs. had there been, and had there been documentation, I would have used `__internal`.

notable [we don't list `__internal`](https://github.com/WordPress/gutenberg/blob/f4a031d1af9fd196a6cb1e0c5172da658431221d/docs/contributors/code/coding-guidelines.md#experimental-and-unstable-ap

[2022-04-18 21:43] ramonjd commented on #36844
Thanks for the ping @alexstine

Looks like this was resolved by https://github.com/WordPress/gutenberg/pull/38961

[2022-04-18 21:43] #36844 closed, assigned to nobody

[2022-04-18 22:12] mtias commented on #40316
Can we approach this in a more gradual manner from oldest to newest? Doesn't make sense to treat APIs introduced in the last couple releases the same as those introduced a couple years ago. APIs that are already part of major releases should be prioritized.

Which ones? Identifying those seems like a good start to me.

[2022-04-18 22:13] ALJ commented on #40421
This might be a duplicate of https://github.com/WordPress/gutenberg/issues/38673

[2022-04-18 22:17] amberhinds commented on #5784
Has this been fixed in WordPress core? We're seeing the "post updated" message before save of post meta has completed (button still reads "updating...") and if editors click the view post link in the success message, it's interrupting the saving of post meta.

[2022-04-18 22:52] annezazu commented on #34757
This was mentioned in the [latest FSE Outreach Program call for testing](https://make.wordpress.org/test/2022/03/31/fse-program-testing-call-13-authoring-an-author-template/#comment-2438):

It does feel odd that the controls exist in the Latest Posts block but not here. When thinking about expanding functionality, this seems like a high impact quick win.

[2022-04-18 23:07] annezazu commented on #38256
This was handled in a PR that landed in Gutenberg 12.9 and it'll land in 6.0 :)

https://github.com/WordPress/gutenberg/pull/38317

Closing this out as a result.

[2022-04-18 23:07] #38256 closed, assigned to nobody

[2022-04-18 23:30] annezazu commented on #40358
Updated the title to make this a bit clearer and have included a screenshot below of how the settings duplicate/double when selecting between post excerpt options:

<img width="1425" alt="Screen Shot 2022-04-18 at 4 29 47 PM" src="https://user-images.githubusercontent.com/26996883/163892721-22721548-3e55-4a8e-ae0a-845479479c59.png">

[2022-04-18 23:38] annezazu opened #40430 "Query Loop block setup state missing the option to choose patterns"
### Description

With 6.0 Beta 1, the Query Loop block only shows the option to start blank whereas before it showed the option to Choose & Start Blank.

cc @jorgefilipecosta based on this work: https://github.com/WordPress/gutenberg/pull/38997

### Step-by-step reproduction instructions

1. Open Site Editor
2. Add a Query Loop block
3. Notice setup state only allows you to start blank.

### Scree

[2022-04-18 23:49] #21889 closed

[2022-04-18 23:50] annezazu opened #40431 "Post Author Block doesn't display when author has no posts"
### Description

If you add a Post Author block to the Author template and view the template for an author without any posts yet, the post author block doesn't display. This was found as part of the [thirteenth call for testing for the FSE Outreach Program](https://make.wordpress.org/test/2022/03/31/fse-program-testing-call-13-authoring-an-author-template/#comment-2439):

### Step-by-step reproduc

[2022-04-19 00:08] aaronrobertshaw commented on #21889
Hi @bradley2083 👋

Support for individual borders ( e.g. border-left or border-top etc. ) was added via https://github.com/WordPress/gutenberg/pull/37770 which merged about 5 days ago.

If there is any functionality you feel is missing or there is something that could be refined, feel free to create an issue and I'll take a look.

https://user-images.githubusercontent.com/60436221/163895686-778036

[2022-04-19 00:14] bradhogan commented on #21889
@aaronrobertshaw Nice, that looks perfect! Cheers.

[2022-04-19 01:18] vitaliikaplia commented on #21193
same question here

is there any option to force iframe preview for desktop?

thanks! @ellatrix

[2022-04-19 02:59] talldan commented on #38169
@getdave That's not a very scientific test, because there can be more than one cause of a bug. That's exactly the case in the navigation block, lots of DOM elements are unmounted/remounted, and that's one cause.

In a past attempt to solve this I removed as much code that causes unmounting/remounting as I could and the Recursion Provider was still an issue.

[2022-04-19 03:51] talldan commented on #40309
The 'Backport to WP Beta/RC' label is just for PRs, not for issues, so I've removed it.

[2022-04-19 04:35] talldan commented on #38851
I started looking at the second most flakey test (`site-editor/template-part.test.js`).

I hit a roadblock that I think is worth trying to solve early on while there's a chance to put the right structure in place.

The site editor is using an iframe for the editor canvas. Because of this, none of the existing test utils for interacting with the editor canvas can be used for site editor tests. That

[2022-04-19 04:38] noisysocks commented on #39082
Thanks for the exploration @ntsekouras and @jasmussen! I'm back at work now so will get going on this.

I think it's pretty clear how to _add_ a title, excerpt, and featured image because we show a placeholder.

<img width="290" alt="Screen Shot 2022-04-19 at 14 33 35" src="https://user-images.githubusercontent.com/612155/163920784-6f782aed-8bf4-4d6c-87cc-01f5a205d439.png">

But you're right that,

[2022-04-19 04:44] noisysocks commented on #38268
Hi @JustinyAhin. Yes that sounds right. You'll need to investigate why `showInserterHelpPanel` isn't working in this case. No doubt it's a bug. Try putting a breakpoint in `InserterPreviewPanel` to see what's going on.

[2022-04-19 04:48] noisysocks commented on #28157
Haha, nice.

We could also improve the script so that it only outputs the token if that token is _declared_, not merely used. I'm not sure how to do that though. Maybe we could abuse `ctags` 😀

[2022-04-19 04:52] noisysocks commented on #40316
Getting the age of these tokens would be useful. Could probably hack my script to do this using `git log --oneline -S $TOKEN_NAME`. I'd say anything that's been in the codebase for more than 12 months should be marked stable or `__internal`.

[2022-04-19 05:03] talldan commented on #40430
There was briefly a bug that prevented the `Choose` button and patterns from being shown, but my understanding is that it was fixed before the beta - https://github.com/WordPress/wordpress-develop/pull/2580.

But maybe it wasn't, I don't know and I'm not sure how to tell.

[2022-04-19 05:10] talldan commented on #40430
Actually I see now the fix was only committed after Beta 1, so it will be in Beta 2 😄

I'll close this as fixed. If it is still a problem in beta 2 the issue can be reopened. I tested `trunk` and I can see it works as expected, so I'm confident it shouldn't be a problem.

[2022-04-19 05:10] #40430 closed, assigned to nobody

[2022-04-19 06:41] SaxonF commented on #39281
Looking good @jameskoster!

To summarise challenges that I've observed two specific segments face:

**Non-technical/no-code users** want to minimize the time it takes to build their site but struggle to understand the block hierarchy, layout tools and just find design hard in general.

**Enterprise users** want to minimise reliance on developers, increase how quickly they publish content, and only

[2022-04-19 07:44] aaronrobertshaw commented on #40358
I've done some digging into this.

To reliably replicate the bug, I needed to not only select the Post Excerpt but also click into the "read more" link within it, then select a new Post Excerpt. I believe this is where recent partial block selection updates might be causing a problem.

Git bisect appears to indicate the bug was introduced via [#38892](https://github.com/WordPress/gutenberg/pull/38

[2022-04-19 07:45] Humanify-nl opened #40432 "Clear customizations after template export & adding to theme files"
## What problem does this address?
My workflow with the site-editor currently is:
- Change the templates according to project requirements
- Export the templates from database and copy them in the theme (repo)
- Press clear customizations for 10+ template & parts manually.

## What is your proposed solution?
There needs to be some way for the editor to 'recognise' an import is done and that the th

[2022-04-19 08:10] talldan commented on #40388
I suppose this could alternatively be a setting of the Post Date block. It could default to displaying the publish date, but have a setting that causes it to show the modified date.

[2022-04-19 08:20] Aljullu opened #40434 "Add a user-friendly explanation to why a block can't be re-added if it has `multiple: false`"
### Description

When trying to re-add a block which has `multiple: false`, the icon is disabled in the inserter, but there is no visual feedback about why. It would be nice to have some text explaining: "This block can't be added because it's already in the post/page/template" or something along these lines.

### Step-by-step reproduction instructions

1. Create a post.
2. Add the _More_ block.
3

[2022-04-19 08:20] talldan commented on #40382
This isn't the first time this has been reported:
- https://github.com/WordPress/gutenberg/issues/36335
- https://github.com/WordPress/gutenberg/issues/36977

Both issues seem to have been closed when they shouldn't have been, which means the issue has been untracked for some time 😞 .

[2022-04-19 08:24] talldan commented on #36977
It seems like this shouldn't have been closed. The issue with the block toolbar overlapping the submenu is still a problem.

There's now a new bug report in https://github.com/WordPress/gutenberg/issues/40382 for this - please don't close that one without fixing it 😄 .

[2022-04-19 08:30] jasmussen commented on #39082
One idea I think could be interesting to explore:

* Keeping the summary panel truly _inert_ — literally a summary.
* Don't show any placeholders at all, see how it looks if we summarize only that which has been filled out. If you haven't filled out an excerpt or a featured image, you'd get only the Title and the Author.
* This summary could play a key role in the pre/post-publish flow.
* Excerpt

[2022-04-19 08:46] talldan commented on #38172
Adding this to the 6.0 project board as it was something that was never solved on the 5.9 board.

[2022-04-19 08:52] talldan commented on #35079
I've reported the Safari issue upstream - https://bugs.webkit.org/show_bug.cgi?id=239486

[2022-04-19 09:03] jasmussen commented on #40091
Just to add: this issue happens if you click and drag inside block toolbar submenus as well:
<img width="340" alt="Screenshot 2022-04-19 at 11 02 52" src="https://user-images.githubusercontent.com/1204802/163969478-592693ce-95ef-43b1-b9fe-4f23ed3dd2cb.png">

[2022-04-19 09:05] fabiankaegy commented on #40091
Just noting here that this issue is also present in WordPress 6.0 Beta 1

[2022-04-19 09:08] markhowellsmead opened #40436 "wp_head duplicates HEAD tags in non-FSE sites"
### Description

The following code in header.php now outputs the `head` tags twice. It's unclear how long this error has been evident.

[code]

### Step-by-step reproduction instructions

Check the HTML source of a website using WordPress 5.9 without FSE.

### Screenshots, screen recording, code snippet

_No response_

### Environment info

- WordPress 5.9

### Please confirm that you have search

[2022-04-19 09:15] markhowellsmead commented on #40436
Nevermind, it's an issue with a caching plugin.

[2022-04-19 09:15] #40436 closed, assigned to nobody

[2022-04-19 09:35] kraftner commented on #40194
I think this would be the preferable approach since it would be problematic to only be able to control this in legacy themes by starting to use `theme.json` since that again will trigger some other unwanted side-effects like #33385.

[2022-04-19 09:44] fluiddot commented on #38407
Updated the parent post with:

### 🔎 Main focus
++ Bug fixes and polishing items collected from negative app reviews

### 🚀 Recently wrapped items
++ [Improving the editor's "default view"](https://github.com/WordPress/gutenberg/pull/39726)

### 🛠️ Recently fixed or improved
++ [Display 'expanded' inserter when title is selected](https://github.com/WordPress/gutenberg/pull/40341)
++ [Updater picke

[2022-04-19 10:06] kraftner commented on #40194
I think this sounds attractive. Would this then also remove all the other settings like colors, gradients, font sizes, spacing units,…?

When I read `appearanceTools` I think of really absolutely everything that affects the appearance in any way, returning the block editor again to an actual *content* editor with no way to individually affect anything that goes beyond text and media.

So for examp

[2022-04-19 10:47] gziolo commented on #40241
Closed with #40242. We still need to apply the same change in WordPress core. I'll take care of it shortly.

[2022-04-19 10:47] #40241 closed, assigned to nobody

[2022-04-19 11:15] dugyen commented on #40338
@ndiego I do agree with you and great thanks.

[2022-04-19 11:21] oandregal commented on #40194
Added `defaultDuotone` to the list.

[2022-04-19 11:30] carolinan opened #40440 "Locking: Disable movement does not disable all movements"
## What problem does this address?

When I lock a block and select "disable movement", the block can still be aligned to the left/center/right/wide/full width/none from the block toolbar.

## What is your proposed solution?

Clarify the text so that it is obvious that it only means _moving blocks in relation to other blocks_: Or actually disable all movement.

[2022-04-19 11:33] javierarce commented on #39082
@noisysocks:

Those two ideas are also present in my prototype, so I'd say let's go for it :)

@jasmussen:

The problem I see with this approach is that, even if this could be useful (which I think it could be), we would be adding more elements to the interface instead of removing stuff. For me, this idea could be a good middle point only if we end up implementing the editable version.

[2022-04-19 11:50] #39444 closed, assigned to nobody

[2022-04-19 12:04] jasmussen commented on #39082
To expand a bit, I mean for that suggested approach to be a stepping stone, not the final destination. It may be easier to implement in steps, and doing so may unearth challenges along the way. The ellipsis to add/subtract properties seems promising enough!

[2022-04-19 12:32] javierarce commented on #39082
Oh, perfect then!

[2022-04-19 12:44] SantosGuillamot commented on #34994
After receiving a lot of great feedback in the [Help Test the Comments Blocks for WordPress 6.0 post](https://make.wordpress.org/test/2022/04/08/help-test-the-comments-blocks-for-wordpress-6-0/), there is some work needed to include the Comments blocks in WordPress 6.0. This is a summary of the issues/PRs that are currently considered (thanks @ockham for the help here 🙂 ):

### List of blockers
As

[2022-04-19 13:17] mtias commented on #40194
That's how `appearanceTools = false` should work, but if there's a more granular addition that enables back some tools, those would supersede. Since WordPress ships with a default set, to achieve a completely blank slate on which all appearance tools are disabled there'd be a need for not loading the bundled theme.json at all. It might a case to supply that setting in wp-config.

[2022-04-19 13:20] NidhiDhandhukiya74 commented on #40395
Hello @noahtallen yes i was also able to reproduce this issue in Firefox,
And noticed one another thing that in firefox when you cut and paste in title it will add one another div for that paste text between our actual content that's why this issue is happen.
In chrome the stucture remains same when we cut and paste the text in title so that's why this issue is only happen in firefox.

[2022-04-19 13:37] kraftner commented on #40194
Since this is something that is urgently needed for a certain group of users, but admittedly not relevant for a standard user, I am not sure if adding a wp-config constant isn't a bit to prominent as well as limited since it will probably only allow a boolean switch.

What about having a filter to load another `theme.json` as the default set?

Maybe here ([here in core](https://github.com/WordPres

[2022-04-19 13:53] github-actions[bot] opened #40442 "[Flaky Test] should show the New Post page in Gutenberg"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should show the New Post page in Gutenberg

## Test path
`/test/e2e/specs/editor/various/new-post.spec.js`

## Errors

<time datetime="2022-04-25T15:28:47.070Z"><code>[2022-04-25T15:28:47.070Z]</code></time> Test passed after 1 failed attempt on <a href="https://github.com/W

[2022-04-19 13:53] markhowellsmead commented on #40280
That's not possible: the padding and margin controls have to be disabled for most of our projects. The sizing and spacing has to be controlled by CSS. **Addendum**: almost all of our clients explicitly don't want editors to have access to layout or typographic controls.

[2022-04-19 13:57] ndiego commented on #35331
@ajlende can this be closed now that #37727 is merged?

[2022-04-19 14:14] gziolo commented on #40241
I landed a temporary fix in the WordPress core with https://core.trac.wordpress.org/changeset/53214.

@peterwilsoncc, should we reopen the issue to work on a better approach for WP 6.1?

[2022-04-19 14:30] ndiego commented on #39395
@costdev is this still something we are trying to land in 6.0. If not, I will remove from the [project board](https://github.com/orgs/WordPress/projects/27/views/1). Thanks!

[2022-04-19 14:39] ndiego commented on #35607
@kjellr  and @tellthemachines this issue is on the [6.0 Project Board](https://github.com/orgs/WordPress/projects/27/views/1). I see we have a PR that is being actively worked on, but it looks like it adds some new functionality to theme.json, which would disqualify it for inclusion in 6.0 at this point. Can you confirm that this is not intended for 6.0? If so, I will remove it from the board. Tha

[2022-04-19 14:42] ndiego commented on #39789
@andrewserong is this still something we are trying to get resolved in 6.0. If not, I will remove from the [project board](https://github.com/orgs/WordPress/projects/27/views/1). Thanks!

[2022-04-19 14:50] costdev commented on #39395
@ndiego I haven't had a chance to test the draft PR just yet - if anyone else is up for testing it, that would be great!

Since the PR is still a draft approach that needs feedback from others familiar with the component, it might be best to take this off the milestone to give it more time.

[2022-04-19 14:59] Andrew-Starr opened #40443 "Patterns: core 'featured' category not registered"
### Description

As of 13.0 the core `featured` pattern category does not seem to be registered, and the category is missing from the pattern section of the block inserter.

If trying to recreate this issue with Twenty Twenty-Two theme you will need to comment out L17 of `/twentytwentytwo/inc/block-patterns.php` as this theme registers the category itself.

[code]

Prior to Gutenberg 13.0 the core

[2022-04-19 15:09] kraftner opened #40444 "Fix or replace CSS Parser that transforms editor styles"
## What problem does this address?

The currently used CSS parser implementation to transform editor styles is fragile and breaks on multiple kinds of perfectly valid CSS.

Since there are currently multiple issues and PRs with varying descriptions that seem to all point back to this very problem I thought I'd summarize and consolidate them here to streamline further steps.

### Examples / Other i

[2022-04-19 15:10] kraftner commented on #40444
## Possible workaround

A big chunk of the issues seem to stem from the fact that nested `)` inside a CSS declaration [cause parsing to greedily include following declarations](https://github.com/WordPress/gutenberg/blob/1e06cba9287a964505bb84b05500c558d919ed71/packages/block-editor/src/utils/transform-styles/ast/parse.js#L257). This can often be worked around by adding a line break and or a comme

[2022-04-19 15:17] jorgefilipecosta opened #40445 "Improve Global Styles Post type verification"
Currently, we rely on the global styles CPT being a JSON string and having the flag isGlobalStylesUserThemeJSON equal to true.

We should try to remove the dependency on this flag and rely on the post being wp_global_styles CPT exclusively. That means the object is sanitized on the REST endpoint post creation and update instead of on the content filters.
This removes the checks each time a post is

[2022-04-19 15:30] annezazu commented on #40358
@mcsf tagging you in since I know Ella is out for a bit :)

[2022-04-19 15:34] Herm71 commented on #40357
I'm the Lead Developer for UC Santa Cruz my dev team and I are having the same issue as @MoOx with Gutenberg 13 (apologies if I should be making a new issue bout this but this issue describes what I'm experiencing almost perfectly). The main difference is that we're developing against WP 5.8.4 with the Gutenberg plugin.

We're switching to WordPress from a proprietary "university cms" and developi

[2022-04-19 15:59] jffng commented on #35607
I believe the ideal was for it to be included with 6.0, but at this stage it seems hasty since the PR is still open and could use more testing.

[2022-04-19 16:04] kmonahan opened #40447 "Blocks without asset.php file cannot be registered"
### Description

Blocks without an .asset.php file, such as the Hello, World block from the Building a Basic Block tutorial, result in a PHP notice during the registration process.

[code]
results in $script_asset_path being set to an empty string when no .asset.php file exists, triggering the _doing_it_wrong error.

If this is the intended behavior, the tutorial steps should probably be updated t

[2022-04-19 16:08] ndiego commented on #35607
Agreed, thanks @jffng!

[2022-04-19 16:28] bhubbard commented on #40388
@talldan Making it an option in the same block would work.

[2022-04-19 16:39] ajlende commented on #35331
https://github.com/WordPress/gutenberg/pull/37727 solved the problem for the site editor, but I've confirmed that there are still issues with the block/pattern previews.

<img width="1024" alt="Screen Shot 2022-04-19 at 11 19 44 AM" src="https://user-images.githubusercontent.com/5129775/164052646-ff05601b-b1c0-456b-b814-7c671548d426.png">

I haven't investigated why yet, but it seems some of the p

[2022-04-19 17:17] coreyworrell opened #40449 "Button block opens new tab after setting link with enter key in Firefox"
### Description

After typing or selecting a link for a button, hitting the enter key opens that link right away. It should simply save the link and allow you to continue editing.

### Step-by-step reproduction instructions

1. Insert Buttons block
2. Click the link icon for the button
3. Type out a URL
4. Hit enter key

### Screenshots, screen recording, code snippet

https://user-images.githubus

[2022-04-19 17:20] letasync commented on #40382
@ndiego Thanks for testing and confirming the issue.
Indeed it's difficult to edit navigation block.

I have been tracking the development  of Navigation Block and related issues continuously and as per my understanding it might take longer time to get this #38275 completed. Till that time we need some kind of temporary quick-fix for Navigation Block.  I hope @getdave may be the right person to su

[2022-04-19 17:42] Mamaduka commented on #40449
@draganescu, do you think this is related to #38950.

[2022-04-19 17:47] mtias opened #40450 "Top Toolbar improvements"
The top toolbar has stagnated a bit while the feature set of the editor has evolved. The following design addresses the most pertinent issues including:

1. The lack of parent selector for nested blocks
2. The overall increase in editor UI footprint

<img width="632" alt="Screenshot 2023-01-04 at 11 35 42" src="https://user-images.githubusercontent.com/846565/210546838-3ea8ba01-6391-4024-8421-cc8e

[2022-04-19 18:34] beckej13820 commented on #37850
Just dropping by to add a +1. I have found myself doing a lot of clicking around going into and out of Full Site Editing. The two biggest issues are the preview button not working in FSE, and not being able to get directly back to the template I am looking at from the front end.

[2022-04-19 18:58] SamuelMiller commented on #27107
Allowing media query in theme.json would also make it easier to integrate Bootstrap 5 values into theme.json.

For example, bootstrap-reboot.css (Bootstrap Reboot v5.0.2 (https://getbootstrap.com/docs/5.1/content/reboot/#css-variable)) defines h1 property as this:
h1 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  h1 {
    font-size: 2.5rem;
  }
}

For now, I'll use CSS Max

[2022-04-19 19:10] n3f commented on #20325
I'd like to revisit this issue, specifically as I've found having the git protocol (ssh) is valuable for private repos & authentication.  I found a simple change to `parse-config.js` worked.

[code]

Would it be OK to reopen? Or should I create a new issue?

[2022-04-19 19:31] annezazu commented on #40430
Thank you so much for connecting these dots!

[2022-04-19 19:36] johnstonphilip commented on #39281
@annezazu Yes that is helpful! It confirms my understanding of patterns. And really it means we aren't talking about patterns here at all. Perhaps this issue should be renamed from `Patterns as Sectioning Elements` to be `Introduce Sectioning Elements` for clarity?

[2022-04-19 19:38] noahtallen commented on #20325
I think it's reasonable to support SSH authentication for git. Is there a way we could support it without making it GitHub specific? (E.g. it'd be nice to support auth for other git providers as well without having to list them all :))

[2022-04-19 19:39] johnstonphilip commented on #39281
Just thinking it probably would also be good to make sure we add "Sections" to[ that doc](https://wordpress.org/support/article/comparing-patterns-template-parts-and-reusable-blocks/) if/when this concept is merged in.

[2022-04-19 19:53] #40264 closed, assigned to cbravobernal

[2022-04-19 20:11] jakobwiens7 opened #40453 "Webfonts API outputs only the first @font-face of a theme.json defined font-family in frontend"
### Description

While working on a project, i noticed that my font styles were not displaying as they should (italic style was simulated and font weights other than regular weren't working at all).
I then realized, that apparently only the first `@font-face` declaration of a webfont is being output in frontend when you register them via `theme.json`.
It works as expected in the editor, where ever

[2022-04-19 20:32] iandunn commented on #39230
There's a new discussion in #39621 about the larger problem

[2022-04-19 20:35] htmgarcia commented on #16523
About cloning a block, these steps may help:

1. `getBlock`
2. `cloneBlock`
3. `insertBlock`

[2022-04-19 20:45] crobertwatson commented on #37982
I just now confirmed this with a fresh install of WP 5.9.3 with no plugins and default Twenty Twenty Two on my local machine (MacBook M1 2021 running Chrome 100…see [https://www.whatsmybrowser.org/b/G105U](https://www.whatsmybrowser.org/b/G105U) for details).

1. Add new post
2. Type (not paste) “test” as the title
3. Type (not paste) “test” as the first paragraph
4. Type (not paste) “test” as the

[2022-04-19 21:36] ramonjd commented on #39789
I've removed this issue and the [PR](https://github.com/WordPress/gutenberg/pull/39870#issuecomment-1103195772). Thanks!

[2022-04-20 00:16] noisysocks commented on #39082
Could you elaborate on this a bit? Would we show the summary in the pre-publish panel as well?

[2022-04-20 00:23] mtias commented on #34352
@luisherranz I think there's something to that line of reasoning. For practical purposes, we still need to map all the possibilities related to where things are stored, where they come from, and who has access to edit them.

For example, a pattern would have these different representations:

- Created by the theme:
  - As a template pattern (currently `/parts`).
  - As a content pattern (currently

[2022-04-20 00:31] mtias commented on #34994
Transforming the monolithic `Post Comments` block into a block made of blocks is the equivalent of the work that occurred on Galleries, Quote, etc. We should aim to replace the block as transparently as possible. For example, can we have a default template (inner blocks setup) that mimics the layout of the current post comments block? What if it just works as a fallback when no children are passed

[2022-04-20 00:44] duke-mediavine commented on #18010
The Wordpress Core issue was also merged and closed as complete. Yet, the crop + save button use case was missed, which was enumerated in the [defect description](https://core.trac.wordpress.org/ticket/30155) as such:

[2022-04-20 02:40] inaikem opened #40456 "Display HTML anchor link for Group block in List View"
## What problem does this address?

Improving consistency and user experience in the List View.

Currently HTML anchor text is shown as a grey label in the List View for only some blocks (eg Heading, Spacer), but not others. See below:
&nbsp;

![Annotation on 2022-04-20 at 10-37-08](https://user-images.githubusercontent.com/66711744/164135969-f19e3328-3756-4e97-9e7e-d4f2f037b047.png)

## What is y

[2022-04-20 03:33] annezazu commented on #40456
This _might_ be able to be closed out since it overlaps so much with the following two issues: https://github.com/WordPress/gutenberg/issues/16296 https://github.com/WordPress/gutenberg/issues/33583 What do you think? Adding labels to be safe either way :)

[2022-04-20 03:34] annezazu commented on #40432
cc @scruffian as this seems in line with some work you've been doing around exports.

[2022-04-20 03:44] inaikem commented on #40456
#33583 especially looks super interesting! This request might well be superseded but it's a nice to have in the interim if its an easy enough addition to make 🤞

[2022-04-20 04:12] carolinan opened #40457 "SVG's inside buttons are visible on the front but not in the editor"
### Description

I want to add an SVG in a button block like in the following example:

[code]

But the SVG is not visible in the editor, only on the front.

### Step-by-step reproduction instructions

1. Copy the button markup above
2. In the editor(s), open the code editor view and paste the code
3. See that the SVG is not visible in the button.
4. Save and view the front. Confirm that the SVG i

[2022-04-20 04:42] Mamaduka commented on #40456
I think this is a bug. I can confirm that Group doesn't display anchor, while other blocks do. The original feature was added via #31992.

[2022-04-20 06:18] annezazu commented on #40456
Great sleuthing per usual @Mamaduka! Thanks for a PR as well <3 Updating the title to reflect the bug too.

[2022-04-20 06:32] jasmussen commented on #39082
Sure, and this wouldn't necessarily have to be part of any near-future PRs, it's just a general idea. Essentially, the following area of the pre-publish dialog (press Publish) is currently the closest thing we have to a Summary panel today:
![prepublish](https://user-images.githubusercontent.com/1204802/164164951-e9560c90-4219-485e-b0fc-3e23ceebf537.gif)

Designwise, it could make good sense to sh

[2022-04-20 06:33] inc2734 opened #40459 "The wp:pattern is not expanded in the modal iframe."
### Description

The wp:pattern is not expanded in the modal that "Replace" the template part, so the content of that part is not displayed.

### Tried and tested environment
- WordPress version: 6.0 beta2
- WordPress version: 6.0 beta2 + Gutenberg 13.0.0

### Step-by-step reproduction instructions

1. Activate TwentyTwentyTwho
2. Go to "Site Editor"
3. Click header template part.
4. Click "Replac

[2022-04-20 06:54] Mamaduka commented on #40459
Thanks for reporting the issue, @inc2734.

I think this is a duplicate of #39732.

[2022-04-20 06:59] talldan opened #40460 "Color design tools - accessibility issues"
As part of #36165, I thought I'd see if I could spot any accessibility issues with the color panel UI.

I'm not an accessibility expert, so these are more topics for discussion where it'd be great if those with more experience could offer an opinion.

I did testing using Safari and Voiceover. It'd be good to get feedback using other screenreaders.

I inserted a quote block and then accessed the to

[2022-04-20 07:55] Soean opened #40461 "Locking: ServerSideRendered block error"
### Description

If I lock a server side rendered block, I see an error.

### Step-by-step reproduction instructions

1. Add a server side rendered block like `Latest comments`
2. Lock block
3. See error `This block has encountered an error and cannot be previewed.`

### Screenshots, screen recording, code snippet

[code]

### Environment info

- WordPress 6.0 nightly
- Gutenberg 13.0

### Please

[2022-04-20 08:04] Mamaduka commented on #29864
A summary based on the Block edit locking discussion from the [#core-editor Slack channel (needs login)](https://wordpress.slack.com/archives/C02QB2JS7/p1650367388054399):

* The general feeling is that the feature should be available for all blocks, not restricted to Reusable.
* We need a generic method to disable editing. For example, the content overlay treatment might not work for every block.

[2022-04-20 08:34] tsiger commented on #40357
I have the same problem in templates with query block(s).

Using:

WordPress 5.9.3
Gutenberg 13.0.0
TwentyTwentyTwo
Chrome 100 on Windows 10

[2022-04-20 08:37] #40456 closed, assigned to Mamaduka

[2022-04-20 08:41] ramonjd commented on #40460
Would the color contrast checker be eligible for inclusion?

There are a few open issues https://github.com/WordPress/gutenberg/issues?q=is%3Aissue+is%3Aopen+color+contrast+

Furthermore, I ran into some peculiarities while enabling it for [alpha](https://github.com/WordPress/gutenberg/pull/37731#issuecomment-1017090056) and [link colors](https://github.com/WordPress/gutenberg/pull/38100).

For ex

[2022-04-20 08:52] deveasin commented on #9811
I have solved it by checking the current modified block is used/saved in the current post/page. Below the example code.

[code]

[2022-04-20 09:08] shimotmk opened #40463 "Block Styles preview name: Character limit is not working correctly for some languages."
### Description

Block Styles preview name is not working properly with character limit depending on language.
Please see the following screenshots.

![style](https://user-images.githubusercontent.com/42362903/164191384-fa384d09-6cdd-48df-8578-1a37edf1af8e.png)

https://github.com/WordPress/gutenberg/tree/trunk/packages/components/src/text#limit

### Step-by-step reproduction instructions

1. Refe

[2022-04-20 10:08] jakobwiens7 commented on #40453
And i'm having even more trouble using `wp_register_webfonts` to add webfonts.
In frontend the inline style with the `@font-face` declarations is **not being printed out at all** - but again, in the editor this is working properly, as all font-faces seem to be enqeued and displayed.

I am really not sure what i could be missing here since i followed the testing instructions in #37140 very closely

[2022-04-20 10:09] Collie-IT opened #40465 "Buttons: wp-block-button__link not showing link button text in Safari + IOS"
### Description

If wp-block-button__link  is used the link text is disapearing because of not hornering the display settings in Safari + IOS.

### Step-by-step reproduction instructions

Add a link button to the page.
Show page in Safari.

### Screenshots, screen recording, code snippet

Looks in Safarie/IOS so:

![2022-04-20_11h54_38](https://user-images.githubusercontent.com/40590185/164204131-

[2022-04-20 10:14] EdithAllison commented on #33374
Just adding that I've come across this thread after a lot of googling and find the theme.json with the layout panel unworkable. I'm an experienced WP developer but the language in the layout panel makes 0 sense to me. All I wanted was to enable padding on blocks. But there's no way I can hand this current mess over to my client. So now I'm stuck, I can't enable padding without also enabling the la

[2022-04-20 11:07] pablohoneyhoney commented on #38934
Apologies @ciampo mind clarifying what you mean with this – I'm not sure I understand or link it to your notes above:

Regarding the rest, all of those suggestions and tweaks are already good progress and worth doing as a next iteration. We can keep this issue open for further improvement notes, or create a separate one once all is addressed or nuanced.

I agree with this @annezazu and believe I m

[2022-04-20 11:12] juhi123 commented on #38851
Hi @kevin940726 @JustinyAhin 👋

I have migrated [image-size.test.js ](https://github.com/WordPress/gutenberg/blob/trunk/packages/e2e-tests/specs/editor/plugins/image-size.test.js) to Playwright, can you please review it and share your feedbacks https://github.com/WordPress/gutenberg/pull/40467

[2022-04-20 11:12] jasmussen commented on #40450
Three quick options:
<img width="1440" alt="top center" src="https://user-images.githubusercontent.com/1204802/164218077-69a6e7ea-5b38-41a4-ba1a-f26f95cabc94.png">

<img width="1440" alt="top center alt" src="https://user-images.githubusercontent.com/1204802/164218088-9c7a4d52-d564-4690-91f2-881699b66c9b.png">

<img width="1440" alt="top center alt 2" src="https://user-images.githubusercontent.com

[2022-04-20 11:28] ciampo commented on #38934
Sure! My reasoning here is that @annezazu's [feedback](https://github.com/WordPress/gutenberg/issues/38934#issuecomment-1089642706) is still quite at a high-level (differentiate the design of the "Browse styles" and the "Blocks" sections), and so I proposed that we may move it to a separate GitHub issue, where folks can discuss and work on a design spec until it's ready to be executed and tracked

[2022-04-20 11:28] jasmussen commented on #38934
Agreed there are lots of small fixes we can make that will benefit the UI as it exists today and for the foreseeable future.

One additional consideration is how global styles can evolve in the future. For example, #36667#issuecomment-1087711883 suggests moving it to the left on a dark background and shown in context of other site-wide tools such as "Navigation". That would absorb the "Templates"

[2022-04-20 11:52] carolinan opened #40469 "wp_enqueue_block_style no longer adds styles in the site editor if Gutenberg 13.0 is active"
### Description

In WordPress 5.9x, a block theme can use [wp_enqueue_block_style](https://developer.wordpress.org/reference/functions/wp_enqueue_block_style/) to add additional stylesheets to blocks.

But when Gutenberg 13.0 is active, the styles are no longer applied in the site editor or template editor, only in the block editor and the front.

### Step-by-step reproduction instructions

Activa

[2022-04-20 11:59] adamziel opened #40470 "Iterate on new Pull Request template to make PRs even easier to review (through additional clarity, context, and purpose)"
## What problem is this issue solving?

The following feedback to the new `What? Why? How?` PR template (introduced in #39229) was [recently discussed in the `#core-editor` slack channel](https://wordpress.slack.com/archives/C02QB2JS7/p1650450832457319):

* `What? Why? How?` may read abrupt
* Achieving additional clarity seems easy
* #39229 took 4 days to merge and there was no related core-editor

[2022-04-20 12:11] hellofromtonya opened #40472 "Move webfonts handling to internal only (not accessible) - WP 6.0 Stopgap"
## What problem does this address?

Part of WordPress 6.0 is style variations to empower themers to define webfonts in their `theme.json`.  Twenty Twenty-Two (TT2) introduces different styling options within its `theme.json`. Within this scope, `theme.json` defines its webfonts  and needs mechanisms to (a) expose the fonts to the typography pickers for user customizations and (b) generate the `@fo

[2022-04-20 12:24] aezazs-multidots commented on #40222
Hello @PatelUtkarsh

I have tried to reproduce the same issue, and yes I also got the issue of the Wrong navigation active link.

**Following are the environment info**
WordPress:- 5.9.3
Active Theme:- Twenty Twenty-Two
Mac OS:- Monterey 12.2.1
Chrome:- Version 99.0.4844.84 (Official Build) (arm64)

Please review from your end and let me know if there is anything.

Thank you.

[2022-04-20 12:40] ndiego commented on #40443
I have confirmed this. The "Featured" category did used to exist by default. @Mamaduka do you know if something may have changed with the updates to the Patterns API or perhaps the Patterns Directory integration?

[2022-04-20 12:49] gziolo commented on #39388
I landed #39739. There are 3 commands left from the list 🎉

[2022-04-20 12:56] mwnciau opened #40474 "Cannot add a subset of tags to the Query Block query controls if there are over 100 tags"
### Description

Currently, the query controls for the query block will only bring through 100 of each type of taxonomy. See https://github.com/WordPress/gutenberg/blob/4d9af43e91d50853b4da0627863e008ae0b74a5d/packages/block-library/src/query/edit/inspector-controls/taxonomy-controls.js#L41

Once, e.g. you have more than 100 tags, there will be some tags that you are unable to add because they're

[2022-04-20 12:59] Azragh commented on #39836
Had this behaviour since the editor switched to iframe previews. I fixed it with some CSS (backend only):

[code]

This worked fine until now. Now I get the bug again when images are inside a .wp-block-group (wrapping disabled). The first image scales to 0 and the others overflow the container (in frontend all three scale equally).

Frontend:
![image](https://user-images.githubusercontent.com/1501

[2022-04-20 13:00] Mamaduka commented on #40443
@ndiego, it looks like related to the new API changes.

The category is registered before loading remote patterns. Now, this function is only called via REST API, so it's not available during the normal WP lifecycle.

[2022-04-20 13:03] ockham commented on #34994
Thanks @mtias! A few thoughts (in different order):

We're kind of doing that already. This is what you get after inserting a Comments Query Loop block:

![image (1)](https://user-images.githubusercontent.com/96308/164236271-f5cbe524-c995-4256-be1c-ba1bbec0fa69.png)

There's one difference: Post Comments is (fortunately!) a pretty basic _dynamic_ block, unlike those (rather complex) _static_ block

[2022-04-20 13:07] ndiego commented on #40443
Hmm, I am on the fence about whether we should consider this a "bug", or simply a "change". It will impact themes that are currently using the "Featured" category without registering it themselves and place patterns in the "Uncategorized" category, but perhaps all categories that a theme wants to use should be registered by the theme itself. 🤔

It's hard to tell if this was an intentional change o

[2022-04-20 13:10] ockham commented on #34994
Adding a list of PRs that we’ll also want to include in WP 6.0 (which aren’t in my post because I missed them, or they were filed later as follow-up bugfixes):

- #40284
- #40455
- #40471
- #40527

(I’ll update this comment with more PRs if needed.)

[2022-04-20 13:24] critterverse opened #40478 "Global Styles panel: iterating on the "Browse styles" button"
This issue is an offshoot of https://github.com/WordPress/gutenberg/issues/38934

One topic that came up in the recent [6.0 walkthrough](https://make.wordpress.org/core/2022/03/30/6-0-product-walk-through) is that the "Browse styles" button placement on the main Global Styles panel currently feels a bit out of place. See https://github.com/WordPress/gutenberg/issues/38934#issuecomment-1089642706

[2022-04-20 13:27] critterverse commented on #38934
Shared a few ideas for iterating on the Browse styles button in https://github.com/WordPress/gutenberg/issues/40478 :)

[2022-04-20 13:28] Mamaduka commented on #40443
Probably an oversight on our part. The category is also used for featured patterns from Patterns Directory.

[2022-04-20 14:25] jbreitenbucher opened #40481 "Add Random to Order by options in Query Loop Block"
## What problem does this address?

The ability to have dynamic content on a page/post/site template. In current themes I often use a widget that returns random posts from a category to create a dynamic front page.

## What is your proposed solution?

The query loop supports the ability to return random posts and I would suggest adding Random to the Order by options for the Query Loop Block.

[2022-04-20 14:28] adamziel commented on #29864
@Mamaduka I agree, let's punt block editing locking to the next release. Would you please prepare a PR for that?

[2022-04-20 14:50] #35485 closed, assigned to nobody

[2022-04-20 14:56] scruffian commented on #24952
This feature is available in the new Post Author Name block:
<img width="319" alt="Screenshot 2022-04-20 at 15 53 02" src="https://user-images.githubusercontent.com/275961/164259262-afac2769-8462-4f87-88b8-ece5e8e897d5.png">

I don't think we should add this to the Post Author block too, as this block should be retired in favour of the new Post Author Name, Post Author Bio and Avatar blocks...

[2022-04-20 15:25] #40113 closed, assigned to mirka

[2022-04-20 15:25] jawinn commented on #30703
Thanks for that @gaambo , that saved me from a huge headache in trying to figure out why VS Code + WSL2 + the wp-env docker was not connecting / stopping at any breakpoints. A "black hole" indeed. I tried every config and recommended launch.json setting I could find until I found this thread.

Could this be documented in the [Xdebug section of the README ](https://github.com/WordPress/gutenberg/bl

[2022-04-20 15:59] gziolo commented on #25188
@amjadr360, I can reproduce the same issue when using two blocks (entry points):

<img width="986" alt="Screenshot 2022-04-20 at 17 58 19" src="https://user-images.githubusercontent.com/699132/164273122-01ab542b-9932-4b7f-b8c2-a3fb8dea34bd.png">

[2022-04-20 16:11] #37516 closed, assigned to nobody

[2022-04-20 16:13] skorasaurus opened #40483 "ZIP files for Pull Requests are no longer made"
### Description

In https://github.com/WordPress/gutenberg/pull/26746 ; build tooling was adopted so that a zip file of Gutenberg for every Pull request changes were created for each pull request.

**The zip contains the gutenberg plugin built and ready for use,**

- This greatly lowers the barriers & obstacles for users to test out pull requests:
- git and extensive configuration is no longer nee

[2022-04-20 16:33] TimothyBJacobs commented on #39986
I'm not sure what the progress is on the client having knowledge of the REST API schemas, cc @youknowriad. But the best way would be to look at the schema for the endpoint and check for the presence of the `capability` property in the `GET` args.

[2022-04-20 16:41] grappler commented on #39986
The only reason that I can see why we would need to check for the support is to be able to run the Gutenberg plugin on WordPress 5.8. Depending on the time it takes for a patch, WordPress 6.0 will have been released.

It might make more sense to increase the minimum required WP version.
https://github.com/WordPress/gutenberg/blob/956a836ce8fcdd61b186cf1c2d1047b48126898d/gutenberg.php#L6

[2022-04-20 16:55] twstokes opened #40485 "[RNMobile] Pasting HTML content with inline data URL results in blank Post"
## Description
Pasting HTML content that contains an inline data URL:

[code]

May render fine in the block editor but result in blank content when published. No error is shown to the user when publishing.

## Step-by-step reproduction instructions
This was tested on a .com Simple site:

1. Start a new post in WPiOS
2. Copy the [content from this gist](https://gist.githubusercontent.com/twstokes/c

[2022-04-20 17:35] cbratschi commented on #36471
I ran into this issue after upgrading from Node 16.x to 18. OpenSSL was not updated. How can we solve this issue?

[2022-04-20 17:38] cbratschi commented on #36471
Workaround (for now):

[code]

[2022-04-20 17:45] bradhogan opened #40486 "Mobile spacing issues"
## What problem does this address?
Most blocks have some sort of spacing options in the Dimensions panel (margin, padding, blockgap).  The problem is setting these values for desktop makes things pretty wonky in mobile.

## What is your proposed solution?
Option 1 - allow `clamp() `to be used or some sort of min,max.
Option 2 - when switching Preview from Desktop to Tablet (or Mobile), allow the v

[2022-04-20 18:07] pbking opened #40487 "Webfonts: Multiple Typeface resources not loaded"
### Description

As noted elsewhere when multiple targets are defined via theme.json for the webfonts API only the first is loaded.  This seems to be true both for italic variations as well as typefaces for various font weights.

### Step-by-step reproduction instructions

With the following fonts defined in theme.json:

[code]

Note that only the following is rendered:
[code]

whereas entries for

[2022-04-20 18:58] johnstonphilip commented on #15993
The recommended alternative here seems to not be working. The code I am attempting to use:

[code]

While this does update the state and can be confirmed by calling:
[code]

There is no update/change in the UI.

[2022-04-20 19:18] skorasaurus commented on #40487
thanks for reporting; it's a duplicate https://github.com/WordPress/gutenberg/issues/40453 ; so I'm closing this to consolidate discussion.

[2022-04-20 19:18] #40487 closed, assigned to nobody

[2022-04-20 19:18] annezazu commented on #40478
Thank you for splitting this off and providing a few directions <3

[2022-04-20 19:19] skorasaurus commented on #40453
PR for this at https://github.com/WordPress/gutenberg/pull/40489

[2022-04-20 19:36] Mamaduka commented on #40481
I just wanted to note that random queries are [slow by default](https://docs.wpvip.com/technical-references/code-review/vip-warnings/#h-order-by-rand). So it might not be good to offer this option without pointing out the risks.

[2022-04-20 20:15] Lovor01 opened #40490 "Update help docs and schema file with block variations"
# "variations" field in block.json

It is available since **WP 5.8**, (I tested the feature with WP 5.9.3) however docs are not updated to reflect this change.
Further, [schema](https://raw.githubusercontent.com/WordPress/gutenberg/trunk/schemas/json/block.json) file is not updated to contain variations field with its subfields.

[2022-04-20 20:45] talhaimam commented on #8802
@dana-ross I am running 5.9.3 with PHP FPM and apache2, and I am still seeing this error. Cant seem to make it work, any idea about apache2?

[2022-04-20 21:30] 0aveRyan opened #40491 "Use `title` in default theme.json to override "Default" label in Site Editor Style Variations"
## What problem does this address?
Currently, only Style Variations [support the `title` attribute ](https://github.com/WordPress/gutenberg/blob/d2923691445f35f6c1af31afcce6d884e96d5893/lib/compat/wordpress-6.0/class-wp-theme-json-resolver-6-0.php#L154) not the default `theme.json`.

In the Global Styles panel in the Site Editor [`Default` is hard-coded](https://github.com/WordPress/gutenberg/blob

[2022-04-20 21:35] mauriac commented on #40431
**TEST REPORT**
- Go to WordPress customize page, ensure that the option "Your latest posts" in homepage settings is set.
<img width="118" alt="wp_settings_home_page" src="https://user-images.githubusercontent.com/41555145/164324492-6614e376-0e40-44f1-bfcf-e4d58028ba59.png">

- Open Site Editor.
- Add a Post Author block
- In the block's setting, change the author from the current to any other aut

[2022-04-20 22:25] Khaos22 opened #40492 "Modifying Tags"
## What problem does this address?
When I make a post on my blog there is a tag section where I add tags to the post. Below that section there is a section called most used tags.

## What is your proposed solution?
I would like to modify the most used tags or create something like a bulk tags used often. So I don't have to type every tags each time.

[2022-04-20 23:27] hellofromtonya commented on #40472
Current status: PR #40493 is ready for review and testing.

[2022-04-20 23:29] annezazu commented on #24952
From what I can tell, this block is not going to make it into [6.0 based on this discussion in core editor](https://wordpress.slack.com/archives/C02QB2JS7/p1650465218675929). From @adamziel: "The author name block has a generic version coming after 6.0. It will be usable in posts, comments, and outside of these. But it’s not there right now." I currently don't see it in 6.0 Beta 2.

Is that correc

[2022-04-21 00:08] caraya opened #40494 "Block core/post-author-name no longer available"
### Description

The `core/post-author-name block no longer works in 6.0 Beta 2 using Gutenberg 13 (if that matters) and it worked on 5.9.

This may be related to #24952 but there is no resolution to the fact that themes using post-author-name are broken until the block is either reinstated or something equivalent is added to Gutenberg or core.

The `post-author` block may provide a way to show wh

[2022-04-21 00:16] caraya commented on #40494
This is resolved in 13.1.0 RC1

Sorry for the noise

[2022-04-21 00:16] #40494 closed, assigned to nobody

[2022-04-21 00:20] inc2734 commented on #40459
Wow, thank you, I was not aware of the existing issue. I am closing this issue.

[2022-04-21 00:20] #40459 closed, assigned to nobody

[2022-04-21 00:51] glendaviesnz commented on #40483
I am not sure why the jobs are showing as skipped on the likes of [#40410](https://github.com/WordPress/gutenberg/pull/40410), but the zip file is still available under the Checks tab:

https://user-images.githubusercontent.com/3629020/164350009-e83411f7-f26f-4931-a1df-633f36ea3fee.mp4

[2022-04-21 02:19] noumaan opened #40495 "Filter to Modify Output of Categories Block"
Previously if users wanted to modify the results of the categories widget they had a filter to do that. However, that filter now doesn't work with the Categories block.

In the legacy Categories widget, users and developers were able to use the
`widget_categories_args`

filter to modify the results. For instance, they were able to exclude specific categories or display empty categories.

Would be

[2022-04-21 02:45] stokesman commented on #40457
This is a bit more general than the Buttons block. The rich text component is what handles the markup inside the button. The same thing applies to other blocks that don't accept inner blocks.

I made #24582 well over a year ago that addresses this but now I've reopened that as #40496. Here's what I see on that branch when pasting the snippet you provided (other than I changed the alignment);
<img

[2022-04-21 02:52] talldan commented on #40492
@Khaos22 Would you be able to update the description and add as much information as possible (including screenshots).

It's a little difficult to read at the moment.

[2022-04-21 02:58] carlomanf commented on #34352
@mtias Do you think the content and template distinction is important to users? I would think that ultimately it's all just blocks, and this distinction is just arbitrary. It could even be argued that the template itself is a pattern, which I will touch on at the end of this comment.

For some background, I remember that one of the original goals of the Gutenberg project was to reduce the number o

[2022-04-21 03:07] talldan commented on #40483
It's a bit confusing because there are multiple 'build plugin' jobs and some are skipped because they're only triggered as part of the actual release workflow. I'm not sure if there's a way to hide them given they're irrelevant for most PRs.

On all of those PRs linked there's still a 'Build Gutenberg Plugin Zip / Build Release Artifact (pull_request)' job that's required. It's near the bottom, an

[2022-04-21 03:15] talldan commented on #40460
@ramonjd Yep, I think it's worth including it 👍

Thanks for the reminder.

[2022-04-21 03:33] SamuelMiller commented on #35934
As a said note, there are critics of anti-aliasing font smoothing (-moz-osx-font-smoothing: grayscale;
-webkit-font-smoothing: antialiased;) who say that it actually degrades the clarity of fonts on computer screens, particularly the typical dark text on a light background. It switches rendering from subpixel-rendering to pixel level rendering:
https://usabilitypost.com/2012/11/05/stop-fixing-font

[2022-04-21 05:40] marceloaof commented on #40481
Related:
https://github.com/WordPress/gutenberg/issues/23524

This issue was and is relevant.
To show advice/warning/tip regarding performance risk when selecting this option on Query Loop Block👋

[2022-04-21 06:06] marceloaof commented on #40450
Related: 2.4.1.1 and 2.6.1 https://github.com/WordPress/gutenberg/discussions/36331

[2022-04-21 06:13] Greatdane opened #40500 "FSE: Image block in Site Editor looses alignment options unless in a another block"
### Description

When I add an image on an FSE theme (in Editor or in pages/posts) the image toolbar does not show the control to edit the alignment. This only changes when the image is added to a group.

### Step-by-step reproduction instructions

1. Start with FSE theme
2. Add image to page.
3. To add the missing alignment command, add the block to a group.

### Screenshots, screen recording, co

[2022-04-21 06:23] Mamaduka commented on #40500
Hi, @Greatdane

It is intended behavior. The following comment explains the reasoning behind it - https://github.com/WordPress/gutenberg/issues/38802#issuecomment-1040353976.

[2022-04-21 07:22] Azragh opened #40501 "Logical margin properties on .alignleft and .alignright"
### Description

Just fount this in the editor stylesheet:
[code]

Edit: So in my opinion, the classes `.alignleft` and `.alignright` should also have `margin-left` and `margin-right` properties (none that depend on the reading direction), because even on a Chinese website, for example, left remains left. If the functionality of `.alignleft` and `.alignright` were completely adapted to the reading

[2022-04-21 08:21] gziolo commented on #36471
Let's try a simple fix by changing the OpenSSL provider: https://github.com/WordPress/gutenberg/pull/40503.

[2022-04-21 08:51] gziolo commented on #25188
I did some investigation on the case with multiple blocks (entry points) and it's fixable but there are some technical challenges. It's also why this feature needs to be activated with `--hot` flag.

There is an explicit mention for the same use case in the React Fast Refresh Webpack Plugin documentation https://github.com/pmmmwh/react-refresh-webpack-plugin/blob/main/docs/TROUBLESHOOTING.md#compo

[2022-04-21 09:22] gziolo commented on #24228
Node.js v14 is going to become the minimum LTS version in about a week. Let's close this one as no longer actionable.

[2022-04-21 09:22] #24228 closed

[2022-04-21 09:50] Azragh commented on #40486
In my opinion the usage of max() could be nice too.

Suggested here: https://github.com/WordPress/gutenberg/issues/40344

[2022-04-21 10:01] Azragh commented on #38351
Kinda same issue here. In my theme.json i got

[code]
I assumed that the order here translates to the selectable values, but I always get px first:

![image](https://user-images.githubusercontent.com/15014142/164430768-59f71120-541d-491e-a33a-4957e19dd90d.png)

Is there a way to change the default order?

[2022-04-21 10:06] ciampo opened #40507 "Components: better, modular slider-related controls"
## What problem does this address?

The `RangeControl` component is a slider + (optional) `NumberControl` and icons. Its monolithic approach has a few limitations — for example, it doesn't allow for a `UnitControl` component to be used instead of `NumberControl`.

The new approach aims at isolating the "slider" part to a separate component, so that we can more easily compose it with different comp

[2022-04-21 10:10] ciampo commented on #40507
cc @aaronrobertshaw  and @mirka , let me know if there's anything in the plan outlined above that you'd like to discuss / change.

[2022-04-21 10:10] dsas opened #40508 "Hard error on WP5.8 on PHP<8 using gutenberg plugin"
I'm getting a hard error when using the gutenberg plugin on a WordPress 5.8 site running PHP 7.4 and gutenberg plugin 13.0.0

The error is due to this line added in #39559:
https://github.com/WordPress/gutenberg/blob/0680124da4065de819a6e389c8b4bfd3cd6670a6/lib/experimental/register-webfonts-from-theme-json.php#L71

The `str_starts_with` function is available in PHP8, or via a [polyfill introduced

[2022-04-21 10:22] #40461 closed, assigned to Mamaduka

[2022-04-21 10:41] EdithAllison commented on #33564
I second the need to remove the bottom margin. If Gutenberg adds in a margin, I'd like to see the layout panel enabled so I can over-ride it. The wider issue I see here is that Gutenberg IMO should not make design decisions for me, but give me the tools to make my own. Presets / defaults are great for "just add it" use case; but the option to over-ride should be there.

[2022-04-21 11:42] gziolo commented on #24376
I opened https://github.com/WordPress/gutenberg/pull/40514 to let folks choose a specific `dist-tag` from npm when updating WordPress packages.

It's also worth mentioning that for WordPress 6.0 Beta we started publishing packages to npm with `wp-6.0` dist tag and we will continue that for all other future updates.

The next step would be to update older `wp/*.*` branches in the Gutenberg reposito

[2022-04-21 11:54] Azragh opened #40516 "Use other variable than --wp--style--block-gap for button spacings"
### Description

The problem is that within grouped blocks, the spacing of the elements is set by this variable, just like the distance between the buttons. If I now change this value for `.wp-block-buttons` in my base CSS, it also has the same distance to the top:

![image](https://user-images.githubusercontent.com/15014142/164448766-94446788-8850-4016-8b3b-4aacb8462c89.png)

Without the standard

[2022-04-21 12:07] jbreitenbucher commented on #23524
Probably naive, but why can't the Query Loop Block implement the method that is currently being used in  a number of widgets such as the Genesis - Custom Featured Posts widget that allow your to order by random and a number of other things?
![cfpw](https://user-images.githubusercontent.com/593356/164454510-2f47a6b4-97d3-4cdc-b30a-0b4a3e680a88.jpg)

[2022-04-21 12:09] jbreitenbucher commented on #40481
I'm wondering why the method used by several Widgets like the Genesis - Custom Featured Post widget can't be used in the Query Loop Block?
![cfpw](https://user-images.githubusercontent.com/593356/164455000-8f05e940-8fbe-498c-9e6c-2b0577ef50f1.jpg)

[2022-04-21 12:13] Khaos22 commented on #40492
![image](https://user-images.githubusercontent.com/104107010/164454862-1396e831-4e9e-4e33-aa91-8ce60651309d.png)

I have attached a screenshot of the most used tags box. It is right below the add new tag box.

[2022-04-21 12:15] flmuel commented on #40138
same here...

[2022-04-21 13:38] ockham commented on #34994
For reference, this is what inserting a (posts) Query Loop block looks like:

| With pattern | Start blank |
|-------------|-------------|
| ![post-query-loop](https://user-images.githubusercontent.com/96308/164468578-1f317eb8-9cde-4458-9e66-9823cf368568.gif) | ![post-query-loop-pattern](https://user-images.githubusercontent.com/96308/164468597-0d206cd9-8679-4a66-85f8-f64c95ae9e8a.gif) |

I imagin

[2022-04-21 14:30] SilverMira opened #40520 "add_editor_style should perform wp_remote_get with headers"
### Description

Faced a minor annoyance with the block editor.

While developing a new theme using Vite to compile the editor styles, I can link the dev server URL of the css directly with `add_editor_style('http://localhost:3000/src/editor-styles.scss')`. Normally, it will fetch the css content from the dev server and embed it in the `wp.editPost.initializeEditor()` js function in the block edit

[2022-04-21 14:37] scruffian commented on #31642
Here's an alternative version: https://github.com/WordPress/gutenberg/pull/40513

[2022-04-21 14:42] scruffian commented on #24952
This is an unfortunate consequence of the author name block not making it into 6.0. Maybe for now we just have to accept that this means that author template won't be that useful for now.

[2022-04-21 15:16] ockham opened #40521 "Post Comments block: Merge Comments Query Loop block"
As per discussion with @mtias [here](https://github.com/WordPress/gutenberg/issues/34994#issuecomment-1103299112) and via DM, we should merge the Comments Query Loop block into the existing Post Comments block, with the following behavior:

- If it doesn’t have any child blocks: Use the current Post Comments behavior, i.e. render the “monolithic” WP `comment_form()`. In the editor, we’ll display [

[2022-04-21 15:18] ockham commented on #40521
Living TODO list:
- [x] Un-deprecate Post Comments block
- [ ] Merge Comments Query Loop code into Post Comments block
   - [x] Solve the static-dynamic rendering of Post Comments block
   - [x] Move the `edit.js` code from Comments Query Loop block to Post Comments blocks
   - [x] Change `parent` attribute of comment blocks from Comments Query Loop to Post Comments
   - [ ] Update unit and e2e te

[2022-04-21 16:37] #36418 closed, assigned to youknowriad, ramonjd

[2022-04-21 16:37] #40057 closed, assigned to kevin940726

[2022-04-21 17:43] zachatkinson opened #40524 "No Option to Set Parent in Custom Post Type Editor"
Hi All,

Recently a client was trying to set a CPT as a child and noticed there is no drop down option for parent in the page settings when in the Gutenberg editor. This is also discussed here:

[https://wordpress.org/support/topic/parent-page-missing-in-page-attributes/](https://wordpress.org/support/topic/parent-page-missing-in-page-attributes/)

It seems like this has been a bug for a long time

[2022-04-21 17:46] larodiel opened #40525 "All blocks files loading every time that a block is previewed"
### Description

I've started to use gutenberg, but after insert a few blocks on it it gets really slow.
When I was digging to discover what was happening I found out that all **css files are requested every time that we click on a block** and it slowdown the editor a lot.
I've tried to find a solution but I couldn't as its request are made by the react on wp core.

### Step-by-step reproduction i

[2022-04-21 19:50] skorasaurus commented on #34405
this should be mostly moot and covered in https://github.com/WordPress/gutenberg/pull/39795 when such preferences are saved to the database instead of the browser

[2022-04-21 19:50] Marc-pi commented on #39663
@gziolo any chance to have this shipped in with upcoming 6.0/6.1 ? i know features are freezon on beta cycles but :
* **Such regression fix is indeed a quick win addition ... and make the core navigation block more usable / finalized on real projects, other wise we need menu extensions or custom code...
* Would permit to hightlight parent entry when child is active, so that common non dev user can

[2022-04-21 20:58] mtias commented on #34352
@carlomanf good questions! The distinctions are not necessarily important to users (or most users) but is not merely arbitrary. While everything is represented as blocks as the main unification force, it's necessary to structure them along different sets to make better use of permissions, targeted capabilities, semantic flows, etc. An author on a major publication should not be able to modify the

[2022-04-21 21:37] jg314 commented on #40447
Thanks for creating this issue @kmonahan. I had been working on this for a few hours before realizing that the missing `asset.php` file was the issue.

We'd love to avoid building that file using `@wordpress/scripts`. Our team is using a custom Webpack implementation and are worried about long term confusion if we're using two different build approaches.

[2022-04-21 22:26] admturner opened #40528 "Scripts: `plugin-zip` does not include root-level files"
### Description

When I run the command `wp-scripts plugin-zip` the resulting zip file does not include root-level files, only directories (and their containing files). I expect the resulting zip file to include either the defaults (the entrypoint, Readme, etc.) as described in the documentation, or the files specified in the package.json `"files": []` list. Instead the zip file contains only the

[2022-04-21 22:41] mtias commented on #40470
I don't think this should be a goal as it won't be reasonable to achieve. I think PRs should be more about proposing and articulating an implementation — the context of which should be captured and discussed in issues. For example, I'd expect PRs to include screenshots or videos of the implementation, not to repeat the mockups that should be present with more depth on an issue.

[2022-04-21 23:22] mattortega opened #40529 "Poster image URL in core/video block is not directly accessible"
## What problem does this address?
I would like to retrieve the poster image URL from the core/video block but the only way to do is through regex of the entire inner HTML.

[code]

## What is your proposed solution?
Make "poster," specifically the URL of the image, an accessible object. It may be useful to access the caption as its own object as well.

[2022-04-22 00:09] ALJ commented on #40524
Hi @zachatkinson on a clean install of WordPress 5.9.3 (no Gutenberg plugin), the custom post type parenting hierarchy works for me.

When I add the following config to `register_post_type()`, I get a panel in the content editor labeled "**CPT Attributes**" allowing me to set a parent (where the "CPT" is the name of your custom post type):

[code]

Another thing to check is whether you have the pa

[2022-04-22 01:56] ALJ commented on #37943
Fabian's proposed suite of features for a template-part-first adoption of Full Site Editing is the one thing I'm most excited about in WP's near future. I understand v6 is now in feature freeze, but I haven't yet seen any work towards this:

My current experience of adding an `index.html` file in `/templates` is an inoperable white screen for a site editor, and then the baffling realization that I

[2022-04-22 02:21] ramonjd commented on #40030
Thanks for testing!

I'll close for now given that you've tested with oxygen plugin.

If the problem persists with Gutenberg only, feel free to reopen the issue.

[2022-04-22 02:21] #40030 closed, assigned to nobody

[2022-04-22 03:35] talldan commented on #40492
@Khaos22 Could you edit the original description to improve it. At the moment all the text is in the headers.

It could also do with more information, like how a user gets to the Most Used tags UI that you're describing.

Here's a guide that will help you understand how to use markdown formatting in github issues - https://docs.github.com/en/get-started/writing-on-github/getting-started-with-writi

[2022-04-22 04:28] carolinan commented on #30706
It would be good to prioritize being able to do a query that finds both posts, pages and custom post types, especially for the search results.

[2022-04-22 04:49] easilyamused commented on #36127
I know I might be coming across as rude but this has been blocking several people for 6 months now.

@ellatrix, can you please explain why blocks.getSaveContent.extraProps doesn't work with apiVersion v2 anymore?

[2022-04-22 05:01] glendaviesnz commented on #40326
I was only able to replicate this by manually setting a taxonomies visibility property to undefined. I have a [fix here for it](https://github.com/WordPress/gutenberg/pull/40532) - even though it is hard to replicate, and it would be good to know how a taxonomy could end up in this state, I don't think there are any downsides to just including this defensive patch in the meantime.

[2022-04-22 06:25] jasmussen commented on #38934
One quick note worth considering. The borderless heading as designed looks great and makes the whole panel feel a bit more like a cohesive unit.

Actually removing that border might require a little extra effort, however. On very small viewports, or as soon as you click into a sub-section, the header stays fixed at the top and a scrollbar can appear — in those cases keeping the border might be use

[2022-04-22 08:06] scruffian commented on #39931
@youknowriad curious what you think about this one.

[2022-04-22 08:12] scruffian commented on #40432
Yes! Our suggested workflow is to allow you save the edits directly to the files as per: https://github.com/WordPress/gutenberg/issues/39194

[2022-04-22 08:15] luisherranz opened #40536 "Block styles affect the message inside the Warning component"
### Description

I expect that UI warning messages (created using the `<Warning>` component) are not affected by the block styles (Block Supports and Global Styles).

### Step-by-step reproduction instructions

1. Add a block that contains a warning. For example, the current version of Post Comments: ``
2. Change the typography of the block.

### Screenshots, screen recording, code snippet

https:

[2022-04-22 08:16] youknowriad commented on #39931
Now that index.php is not mandatory anymore as well, maybe we could add something like `|| ! "index.php"` in the check?

[2022-04-22 08:19] scruffian commented on #39931
People might still want to include an index.php for security reasons...

[2022-04-22 08:23] Humanify-nl commented on #39194
The idea of a ‘developer mode : true’ and all the possibles this could potentially open up to enhance the developer experience… is very exciting!

[2022-04-22 08:33] withinboredom commented on #40326
This blog is 10 years old... so anything could have happened.

[2022-04-22 09:01] EdithAllison commented on #20706
Hope this is the right place to add a comment. I've registered two custom block styles via register_block_style() one of which is set as default. But I'm still seeing a "default style" dropdown in the style panel. I'm unsure how this actually works (is this the default per page, per user or gobal) but in any case I want to remove it as I don't want authors on the site to be able to set a new defau

[2022-04-22 09:17] EdithAllison opened #40537 "Disable the dropdown for "default style" in block style panel when new styles are registered"
## What problem does this address?
I don't want auhors to be able to set a style default. The default should be set in the code for the site; and authors should only be able to over-ride on a per block basis. This is to protect the site design and to avoid accidental changing of defaults by inexperienced users.

### Description of my use case

I've registered two custom block styles via register_b

[2022-04-22 09:32] javierarce commented on #40281
Maybe instead of adding a new button, we could add a new option inside the dropdown. It would save us some space and simplify the UI.

![image](https://user-images.githubusercontent.com/4933/165091213-2ce2bd9f-c44f-4f5b-80f3-96e242f131d4.png)

Updated on 25 Apr: replaced the media icon with the upload icon.

[Link to the Figma file](https://www.figma.com/file/yPkeBrBJMpgXiI1sMuWZxY/Comment-Author-

[2022-04-22 09:32] oandregal commented on #27075
Braindumping some thoughts regarding a particular detail we should address is how user choices affect states.

A theme may want to set the blue color for the rest state and the yellow one for hover. Is the user sets the rest color to a yellowish base, is it still good to have yellow for hover? A related though is that different states may require any CSS property to update, like for example paddin

[2022-04-22 09:35] scruffian commented on #40327
Fix here: https://github.com/WordPress/gutenberg/pull/40539

[2022-04-22 09:53] #39999 closed, assigned to iansvo

[2022-04-22 10:01] ciampo commented on #38934
I agree — removing the border from the heading feels still very much an idea that needs more exploration before it can be implemented (plus, it wouldn't be a trivial change, as explained [before](https://github.com/WordPress/gutenberg/issues/38934#issuecomment-1085804088)).

I am in favour of delaying the work on this potential change until it feels ready for implementation.

[2022-04-22 10:14] #40508 closed, assigned to Mamaduka

[2022-04-22 10:17] fluiddot opened #40540 "Dependencies referenced from a GitHub repository can't be installed using npm 8"
## Description

Related to https://github.com/WordPress/gutenberg/pull/36041#issuecomment-1033398521.

Installing dependencies via `npm install` using npm 8 fails with the following error:
[code]

This makes the upgrade of the `package-lock.json` file to format version 2 fail. However, I managed to fix it by doing the following steps:
1. [Using npm 6] Remove the dependencies referenced from a GitH

[2022-04-22 10:19] jameskoster opened #40541 "Comments Title: Count toggle working in 'Singular' editing mode"
Best explained with a video:

https://user-images.githubusercontent.com/846565/164689000-3ea49e5c-ba96-42cd-8dea-2e43a878d6db.mp4

[2022-04-22 10:25] dennisheiden commented on #37967
If I have to guess (have the same issue right now), type object is limited to what is described in the handbook, otherwise validation would be a lot harder I think. I would like to have an object with multiple values ({width, style, unit}) but that is not working right now.

What I'm going to do is to split those sub values into 3 dedicated attributes, kinda messy if you do that for responsive ste

[2022-04-22 10:26] ockham commented on #34994
Update: Matías clarified via DM how he wants the Comments Query Loop logic to be merged into Post Comments, and how they should behave. I've filed #40521 with the details.

[2022-04-22 10:30] #26999 closed

[2022-04-22 10:33] #40225 closed, assigned to SantosGuillamot

[2022-04-22 10:46] ndiego commented on #40537
Hi @EdithAllison, this functionality appears to have been removed in the latest version of Gutenberg and is also removed in WordPress 6.0 Beta 2. So when WordPress 6.0 comes out officially in May, users will not longer be able to set a default style, which should resolve this issue for you. If you want to test out the new block styles UI, you can activate the Gutenberg plugin on your site.

Since

[2022-04-22 10:46] #40537 closed, assigned to nobody

[2022-04-22 10:59] ndiego commented on #40524
I can confirm this is working for me as well in the latest version of WordPress. @zachatkinson here is the demo code that I am using:

[code]

And as @ALJ mentioned, make sure to double-check that the  "Page Attributes" panel is enabled.

Since this functionality has been confirmed to work as expected in the latest version of WordPress and Gutenberg, I am going to close this out. But please let us

[2022-04-22 10:59] #40524 closed, assigned to nobody

[2022-04-22 11:11] ndiego commented on #40501
Hi @Azragh are you able to elaborate on this issue a bit more?

[2022-04-22 11:16] ndiego commented on #40421
Yes, this appears to be a duplicate of #38673. Since more discussion is taking place on that issue, I am going to close this in favor of #38673. Thank you for reporting this @RajkiranBagal! Keep an eye on the other issue as we work towards a solution.

[2022-04-22 11:16] #40421 closed, assigned to nobody

[2022-04-22 11:20] ciampo commented on #40392
As we work on this, we should also go through the steps highlighted in https://github.com/WordPress/gutenberg/pull/40526#discussion_r856006044 regarding border colors

[2022-04-22 11:36] Azragh commented on #40501
@ndiego I can try. So in my opinion, the classes .alignleft and alignright should also have margin-left and margin-right properties (none that depend on the reading direction), because even on a Chinese website, for example, left remains left. If the functionality of .alignleft and .alignright were completely adapted to the reading direction, one could use these properties. However, this would mea

[2022-04-22 11:38] mcsf commented on #36127
@easilyamused: I'm sorry about the silence. Ella is on extended leave, so @gziolo and I are looking at this. We'll get back to you.

[2022-04-22 11:54] jameskoster commented on #39281
To @SaxonF's point above, I don't think the aim is to introduce a dedicated section 'element'. It's more about providing intuitive ways to handle root-level blocks, containers in particular. They can be groups, template parts, columns, you name it.

On that note, I share the sentiment that there's a lot we can do to simplify the myriad existing containers, along with concepts like patterns and reu

[2022-04-22 12:01] t-hamano opened #40543 "Icon: Proposal to create a new icon for "Post Comments Link""
## What problem does this address?

"**Post Comments Link**" block currently uses the same `postCommentsCount`  icon as "**Post Comments Count**" block.

![block](https://user-images.githubusercontent.com/54422211/164710076-f239212c-7b26-4b48-8235-b12793f6d849.png)

I would like to propose that a new icon be created for this block, as we think it is unnatural to have a number displayed on the icon

[2022-04-22 12:20] #40453 closed, assigned to nobody

[2022-04-22 12:45] SamuelMiller commented on #38998
How about incorporating an already existing universal nomenclature Bootstrap-5 framework, and its presets, into WordPress There is a recently released WordPress plugin, "All Bootsrap Blooks" by Areoi (with which I am not affiliated) which does this to a certain degree. The developer(s) will apparently release a bootstrap theme, their own theme.json to go with the plugin. I am curious to see the no

[2022-04-22 14:00] fluiddot opened #40545 "Quote block V2: Crash when changing font size or line height"
## Description

The v2 of the Quote block is crashing when changing its font size or line height properties.

## Step-by-step reproduction instructions

**Precondition for enabling v2:**
- Use a self-hosted site and install the latest Gutenberg plugin version >= 13.0.0. You can install the latest version [here](https://github.com/WordPress/gutenberg/releases).
- Go to your site's admin page > Gute

[2022-04-22 14:07] fluiddot commented on #40545
@geriux @jhnstn I encountered this crash while beta testing version `19.7-rc-1` of WordPress-Android. However, I couldn't reproduce it using WordPress-iOS `19.7.0.1`.

[2022-04-22 14:14] paaljoachim commented on #40281
Hey Javier. @javierarce
That sounds like a very good idea! It would create an even better integrated experience with selecting an avatar.

[2022-04-22 14:26] fluiddot opened #40546 "Text block: Extra `+` toolbar button in self-hosted sites (Only Android)"
## Description

I noticed that on self-hosted sites, when selecting a Text block (e.g. a Paragraph block), there's an extra `+` button located at the end of the toolbar. Tapping on the button does apparently nothing but it can be confusing to users.

## Step-by-step reproduction instructions

1. Open a post/page on a self-hosted site.
2. Add a Paragraph block.
3. Scroll the toolbar, located at the

[2022-04-22 15:08] ndiego commented on #40516
Hi @Azragh! Based on my understanding, `blockGap` is designed to be controlled via theme.json or through block attributes in the UI. For example with the Buttons block, the space between each button can be controlled directly in the Editor by the user, or you can set block-level defaults in theme.json (this in addition to the global gap setting). Manually setting the `blockGap` using CSS can have

[2022-04-22 15:12] oandregal commented on #40318
Miguel and I started looking into this and prepared https://github.com/WordPress/gutenberg/pull/40547 I've updated the issue description with a preliminary list of tasks.

[2022-04-22 15:17] adamziel opened #40548 "Remove 90% of the last-minute effort required to backport PHP changes to wordpress-develop"
## What problem does this issue want to solve?

Releasing WordPress requires investigating all the Gutenberg PHP changes made since the last release.

Me and @gziolo led that effort for the 6.0 release. It was hard, time consuming, and the mistakes turned into stressful last-minute fixes. And I mean not for just us, but also for the authors of the related PHP changes.

We believe there's a way to

[2022-04-22 15:31] geriux commented on #40545
I found what the issue is 😅 , I'll work on a fix for this.

[2022-04-22 15:51] mcsf commented on #36127
Alright, I spent some time looking at this to refresh my memory.

The matter of `apiVersion` and `lightBlockWrapper` is a red herring. Those APIs are not affecting the `blocks.getSaveContent.extraProps` and other filters. Moreover, those filters are working as expected. Let me explain.

## Save-time filters

`blocks.getSaveContent.extraProps` is a **client-side filter**. Specifically, it fires upo

[2022-04-22 15:52] skorasaurus commented on #35962
Thank you for the very detailed report;

I can reproduce this in Gutenberg 13.0.0/WP 5.9.3.

[2022-04-22 15:55] #36127 closed, assigned to nobody

[2022-04-22 16:23] hellofromtonya commented on #40472
Status Update:

1. [As agreed upon by @gzilio, @adamziel, and me](https://wordpress.slack.com/archives/C037DD0CLHY/p1650617641163939),PR #40493 will not be merged into Gutenberg. Why? Only Core needs the stopgap, not the plugin.
2. The backport PR is created https://github.com/WordPress/wordpress-develop/pull/2622.
3. A PR to turn off the stopgap in Core is coming for Gutenberg, i.e. allowing the

[2022-04-22 16:55] oandregal commented on #40318
We aim to introduce a new source for settings (& partially to styles), in addition to what we already use, the `core/block-editor` store. How do they should work together?

Let's take a given setting, say `color.palette`, and unwrap how it should work for a children of the section. I see two alternatives

**By source algorithm** (settings coming from block attributes first, settings coming from th

[2022-04-22 17:00] oandregal commented on #40318
Another detail is: if the section is a group block and it has the following settings:

[code]

The link color should be disabled for any group that is a children of the section. But, given the section is a group itself, what its behavior should be?

I think the link should be enabled. This is, the `settings.blocks` only affect the children of the section but not the section itself.

[2022-04-22 17:32] easilyamused commented on #36127
Thanks for the feedback @mcsf. I will review with my dev team and report back.

[2022-04-22 18:08] ryelle opened #40557 "Setting a `color.palette` in a child theme wipes out parent colors"
### Description

When the parent and child theme `theme.json` files are merged, [the array values are not merged, but rather overwritten](https://github.com/WordPress/gutenberg/blob/ace064391f2ce2d96c30a0c8761a5d2a985b9c5b/lib/compat/wordpress-6.0/class-wp-theme-json-gutenberg.php#L385). So if you have a parent theme with a set of 10 colors in `color.palette`, and a child theme that adds a single

[2022-04-22 19:25] ryelle commented on #35270
I can reproduce this— if you try to call `get_block_wrapper_attributes` inside the `render_block` or `render_block_{$this->name}` filter, it triggers a PHP notice "Trying to access array offset on value of type null", and the attributes are returned using the parent's properties (like classname).

This is enough to trigger the notice — though sometimes the `block_to_render` is set, I think it has

[2022-04-22 19:33] MadtownLems opened #40558 "wp_render_elements_support does not properly add class names when classes are wrapped in single quotes"
### Description

The filter wp_render_elements_support is designed to insert a class of wp-elements-X to the first element of blocks that contain a custom link color.

The logic assumes that the block's markup would be written with double quotes around the class, such as class="foo". If your block markup uses single quotes, such as class='foo' , the wp-elements-X class is never applied, and thus t

[2022-04-22 20:35] skorasaurus commented on #40483
Thanks @glendaviesnz ; I didn't look there. I don't know whether this feature (getting zips of pull requests for easy testing!)
has been documented anywhere or where the best place would be to document this; maybe @ryanwelcher or @annezazu would have ideas; otherwise, I'll close this.

[2022-04-22 20:35] #40483 closed, assigned to nobody

[2022-04-22 20:43] skorasaurus commented on #39203
Hi,

I'm not able to reproduce this; both the ability to customize a font-size and do not appear in a theme when i have the following snippet in my functions.php

Make sure that you have it hooked in using the after_setup_theme; this should still work even if you are not using a child theme.

Could you share what theme you are using?

[code]

[2022-04-22 20:45] LukaszJaro commented on #37930
Also I don't see option to add inline text to the icon, either right, left, below or top. It's either icon with no text or just text.
Would also be nice if the "Menu" text can be edited.

![image](https://user-images.githubusercontent.com/10998875/164790733-65a1b9a7-e746-4970-a70c-ab10256edeb1.png)

[2022-04-22 22:00] clubkert opened #40561 "Style Variations: Add warning when custom styles will be lost"
## What problem does this address?

If a user creates a custom style and then switches to another style variation, the previous customizations are lost.

In the below video, I switch the background color to a gradient. However, if I then try out different style variations, my previous settings are lost with no warning.

https://user-images.githubusercontent.com/2229643/164800702-2905ca70-c6f8-4565

[2022-04-22 22:03] clubkert commented on #38333
I'd give a +1 to this feature. As I've been testing 6.0 and creating some interesting styles, I've been wanting to save them in the editor :)

I also found that I've lost my changes when switching to new variations. I created a separate [issue](https://github.com/WordPress/gutenberg/issues/40561), since I think a quicker solution to that problem might just be a warning. But perhaps they can be con

[2022-04-22 22:10] WhiteHeatherClub opened #40562 "Patterns containing non-core blocks are losing styling in the Inserter with Gutenberg 13"
Patterns containing non-core blocks are losing styling moving from Gutenberg 12.9 to 13.0 in the Inserter - they are placed and display fine on the page Editor, it's the Inserter Previews that are affected.

This happens in either a classic theme (i.e. Twenty Twenty One) or FSE theme (Twenty Twenty Two)
![gut13](https://user-images.githubusercontent.com/97255524/163733962-e6e11091-f5dd-4d42-a842-7

[2022-04-22 22:13] westonruter commented on #22515
I'm trying to get wp-env working on a Linux environment and I'm facing this issue as well, although the issue seems more severe than is being described here. Namely, the files aren't even readable by the `xfs` user, let alone writable. When I run `npm run wp-env start` I get:

[code]

It seems when running docker-compose like here:

https://github.com/WordPress/gutenberg/blob/ace064391f2ce2d96c30a

[2022-04-22 22:31] noahtallen commented on #22515
Nice investigation! That could explain why it's not happening to everyone. Depending on your .wp-env config, the default is to just use the WordPress files from the `docker` image, so wp-env wouldn't be doing anything to obtain those files itself in that scenario. I think Gutenberg uses this: https://github.com/WordPress/WordPress. I think the way that works is:

- wp-env has `git` clone WordPress

[2022-04-22 22:45] westonruter commented on #22515
I'm trying this with the Gutenberg repo.

I was able to get `start` to complete by shelling into the `wordpress` and `tests-wordpress` containers and doing:

[code]

Once that was done then WP-CLI was able to read the files properly.

So it does seem like insufficient file permissions are indeed the problem. I don't know why either, however.

[2022-04-22 22:53] noahtallen commented on #22515
For reference, here are the permissions on my working copy (on macOS):

[code]

Should we then add `chmod -R 755 .` as a post-install step for any source? That would also assume that the command could work via docker-compose without shelling in

[2022-04-22 22:54] westonruter commented on #22515
Sounds good to me, but I'm no authority on these matters 😄

[2022-04-23 10:37] ennohyttrek opened #40565 "Add option in editor settings to show open list view as default"
## What problem does this address?
For people (like me) who work with the list view in the editor all the time, it could be very helpful and a time saver, if there was a setting to make an open list view the default setting when entering the editor.

## What is your proposed solution?
Add an option to options > settings to have the list view open by default

[2022-04-23 12:49] franmastromarino commented on #35270
thanks @ryelle ! Do you know when this fix will be merged?

[2022-04-23 13:24] PeopleInside commented on #14421
I still have this issue, never resolved.
I see support topics on WordPress about this plugin never get replies as this topic too, no replies from the team.
No solutions since 2019

https://wordpress.org/support/topic/wrong-video-size-in-the-editor/

The issue is caused by https://it.wordpress.org/plugins/tinymce-advanced/

[2022-04-23 16:40] kevin940726 commented on #40303
Hi, @ntsekouras 👋. Seems like the test is pretty flaky since introduced in #40098. Do you know what might have gone wrong here?

[2022-04-23 16:46] kevin940726 commented on #40307
Hi, @ntsekouras 👋. Seems like the test is pretty flaky since introduced in https://github.com/WordPress/gutenberg/pull/40098. Do you know what might have gone wrong here?

[2022-04-23 22:23] mauriac commented on #33900
Going to close this, since the PR is merged.

[2022-04-23 22:23] #33900 closed, assigned to nobody

[2022-04-24 02:32] carolinan commented on #39281
The way I use patterns to "cascade styles" right now is to add a custom CSS class to the blocks in the pattern or to the container block, if the pattern uses one. Controlling this with theme.json -or similar - would be an improvement.

For flexibility, I add template parts that only use one pattern block. That way the template parts which are repeated across the site can start out with the default

[2022-04-24 06:31] carolinan commented on #40562
Hi
Please include detailed information about the non-core blocks, such as the name of the block and plugin, so that we can try to reproduce the problem.

[2022-04-24 06:36] carolinan commented on #40557
It is the same with the style variations, if I add any color value, it overrides the theme.json and if I want "eveything+1" I have to add "everything+1"

I am not sure what the best solution is though, because both scenarios are valid.

[2022-04-24 06:49] carolinan commented on #40516
When was this added back? - I thought this PR was meant to add block level block gap back to theme.json, and it is not merged: https://github.com/WordPress/gutenberg/pull/39870

[2022-04-24 09:34] ndiego commented on #40516
Ahh you're right @carolinan, we do need that PR for block-level gap control in theme.json.

[2022-04-24 10:48] helpfulcolin commented on #40357
I updated Gutenberg to 13.0.0 as soon as it was available but only came across the problem on 23/04/2022 when I went to the site editor. Previously with earlier versions of Gutenberg and WordPress 5.9 and the 2022 theme I had modified my site using the site editor with considerable success. If I want to do that now I have to rollback Gutenberg to 12.9.0 but I don't get to deploy the latest feature

[2022-04-24 17:23] ryelle commented on #35270
@quadlayers That isn't a fix, it's just a workaround I've used in other projects (sharing it just for reference).

[2022-04-24 17:44] skorasaurus commented on #15610
not able to reproduce either; please reopen if you're still experiencing this.

[2022-04-24 17:44] #15610 closed

[2022-04-24 21:37] MarcusAnthonyDev commented on #13624
This problem started occurring for me today, for no reason, but your workaround is a solution I can work with for now. It's actually more stable with the dropdown there, versus the flakey selection area that is under Page Attributes on the editor screen.

[2022-04-24 23:47] mtias commented on #38998
Indeed, the UI would follow suit. I've been hoping to make the slider UI component support presets so you can slide through guided steps. I'm not worried about adding this layer of interface once things are in place, the current UI that optimizes for discrete values can always sit behind a toggle (like custom font size does today) or be entirely disabled by a theme.

No, I'm referring to a theme l

[2022-04-24 23:57] mtias commented on #38998
- I agree with @glendaviesnz identification of #38719 as a discrete task. I'd also include there printing block type classes for elements that might be missing them.

- The nomenclature of tokens and presets is not entirely clear, and it seems it should be broken down per structural topic (typography, colors, layout/dimensions, border, etc) because they are all in different states (some support pr

[2022-04-25 00:05] peterwilsoncc commented on #40521
@mtias @ockham @gziolo, I presume this is to be targeted for 6.1 rather than 6.0, is that correct?

[2022-04-25 00:15] mtias commented on #38719
There's been some roundabout discussions here that I think we need to untangle. It's obvious we need semantic classes and that premise doesn't conflict with the use of `theme.json`. The presence of obfuscated classes (essentially IDs) should be seen as a temporary state as the style engine is tweaked and its attributes standardized. @cbirdsong I see CSS variables as orthogonal since they will need

[2022-04-25 01:25] cbirdsong commented on #38719
I would add:

- **Standardize classes that can be universal**.

  For example, flex alignment: on buttons, it was `is-content-justification-<direction>`, the columns block uses `is-vertically-aligned-<direction>`, and the cover block uses a more complex `.is-position-<vertical direction>-<horizontal direction>`. The row/stack group block variations will also need one of these, and there’s no reaso

[2022-04-25 01:40] cbirdsong commented on #38998
Does it necessarily have to be this way for CSS classes? The fact that a block’s CSS needs to simultaneously support every set of markup and classes that block has ever used makes adding and modifying styles _extremely complicated_. Larger changes to markup like the gallery block revamp obviously would still need the full “open-in-editor-and-save-post” block migration, but simpler changes like swi

[2022-04-25 04:23] carolinan commented on #40469
I confirmed that this is still happening with 6.0-beta2-53249 and current Gutenberg trunk.
Does not happen with 6.0-beta2-53249 only.
Does not happen on 6.0-beta2-53249 or 5.93 with Gutenberg 12.9.

Can someone confirm if this was an intentional change or a bug?
I don't know who to ask, @Mamaduka?

[2022-04-25 05:11] bilalimran1412 opened #40574 "Yoast SEO FAQ get stucks when activating Gutenberg"
### Description

The yoast SEO faq block hangs and get uneditable/freezez when gutenberg is active.

### Step-by-step reproduction instructions

Install Yoast SEO
Install Gutenberg

1) Add new post
2) Add new block
3) Choose FAQ Yoast block

### Screenshots, screen recording, code snippet

https://www.awesomescreenshot.com/video/8569881?key=29452fd62c46a259afa62297f2fe0128

### Environment info

G

[2022-04-25 05:26] carolinan commented on #40574
Hi!
Can you provide any more details that can help us reproduce this?
Do you know how to use the browser devTools to check if there are any JavaScript errors?
What steps did you perform to unfreeze it, or did it start to respond again after a few seconds?

Did you deactivate all other plugins? I am asking so that we can try to exclude other plugin conflicts, and because there are many other plugin

[2022-04-25 05:26] sabernhardt opened #40575 "Content loss when switching between code and visual editor with the keyboard shortcut (Ctrl+Shift+Alt+M)"
### Description

As @angelxube reported on [Trac 49795](https://core.trac.wordpress.org/ticket/49795):

### Step-by-step reproduction instructions

1. Create a new post or page.
2. Switch to Code view (on PC, `Ctrl + Shift + Alt + M`).
3. Start typing in the post content area.
4. Use the keyboard shortcut again to exit Code view.
5. Notice that what you typed is gone.

### Screenshots, screen reco

[2022-04-25 05:27] sabernhardt commented on #40575
@Otto42's comment:

[2022-04-25 05:39] carolinan commented on #40357
@MoOx does this only happen locally on the M1 or also on other installations (if you have access to testing that).

[2022-04-25 05:44] MoOx commented on #40357
Sorry I only have a M1 macbook atm.
Just in case: the wordpress instance is not running on my MacBook, it's running on Gandi.net

[2022-04-25 06:25] shelbypereira commented on #13282
this is still happening on the latest 5.9.3,  I see the issue is labeled open but the latest changes show "merged".  Is this fix already in a released version of WP?

[2022-04-25 06:26] ardelmedia commented on #13282
-- Please reply above this line --

Thanks so much for contacting Ardel Media

We're not usually around at this time today, but you can expect us to
get back to you during normal office hours. 

This reply is just to let you know that your message has arrived
safely in our inbox and we'll be with you soon.

Thank you!

Ardel Media

Ardel Media Limited is a company registered in England (company
nu

[2022-04-25 06:36] Azragh commented on #40516
@ndiego Thanks for the tip. I haven't tried defining the BlockGap for individual blocks in theme.json yet. I will try a combination of both. i.e. set the gap value in theme.json to true, a default value via CSS and individual defaults to blocks where necessary.

Unfortunately, I don't want to have to define the BlockGap in the theme.json, as it is calculated via SCSS to create a kind of "baseline

[2022-04-25 06:47] carolinan opened #40576 "Post comments form text alignment does not work"
### Description

The text alignment setting on the post comments form block does not work correctly. I believe this is a regression after #40368.

In the editor, the heading "Leave a reply" remains aligned to the left (not tested on rtl!),
The label and button below the form are aligned according to the setting.

On the front, none of the text is aligned anymore.

### Step-by-step reproduction ins

[2022-04-25 06:48] carolinan commented on #40576
Is it worth solving this before the block is [split into its inner blocks](https://github.com/WordPress/gutenberg/issues/38107)?

[2022-04-25 07:25] axadr opened #40577 "Shortcut Ctrl-Alt-Shift-M does not work in editor"
Page editor - wp/wp-admin/post.php?post=1234&action=edit
Hot key to switch the editor mode Ctrl-Alt-Shift-M works only if you take a mouse and click on the edit area.
Moreover, after the trigger, it does not work again.

[2022-04-25 07:42] javierarce commented on #40434
I'm not super happy with any of the solutions I've thought of, but here's an idea:

We could show a message on hover (or on tap) that momentarily replaces the block element on the sidebar. Here's a mockup with and without an icon:

![image](https://user-images.githubusercontent.com/4933/165041775-b3755897-9aae-496a-8728-380dcdd8b83f.png)

The reason I'm not very happy with this solution is that if

[2022-04-25 07:53] MvS-IT commented on #38599
Hello,
You mention "the default submenu behavior".
I'm not exactly sure if my solution below covers you're issue, but I give it a go ;-):

What I noticed was that on a white background I did not see the submenu button which has a svg image for a down-arrow, the socalled chevron.
With some css styling I changed
.wp-block-navigation__submenu-icon {
     display: none;
}
to:
.wp-block-navigation__sub

[2022-04-25 08:04] MaggieCabrera commented on #40557
/cc @WordPress/block-themers for opinions!

[2022-04-25 08:28] carolinan commented on #36548
I believe that all suggestions in the issue description has been solved, can this be closed?

[2022-04-25 08:56] carolinan commented on #40381
In (6.0-beta2-53249) without Gutenberg:
I can confirm that for classic themes with theme.json, `--wp--style--block-gap` is defined.

In the code example for theme.json above, block gap is not enabled in `settings`, so it would be undefined.
https://developer.wordpress.org/block-editor/reference-guides/theme-json-reference/theme-json-living/#spacing

@mrwweb Mark, does that help solve the issue?

[2022-04-25 08:58] efu98 commented on #13282
Hello, I am still experiencing this issue on version 5.9.3. Sometimes, the tag disappears after I type it.

[2022-04-25 09:07] carolinan commented on #40377
I can sort of reproduce this: both fields load for me, but it does take longer than I would expect.

[2022-04-25 09:16] Mamaduka commented on #40469
Pinging @adamziel and @gziolo.

I’m offline today, but can have a look tomorrow.

[2022-04-25 09:18] getdave commented on #38169
I guess I didn't include my nuance here. What I meant to say was there doesn't appear to be a single cause here.

[2022-04-25 09:18] jameskoster commented on #40281
We'll also need to consider flows to replace a previously uploaded custom avatar image.

[2022-04-25 09:19] gziolo commented on #40469
It doesn't look like it's an issue with WordPress core.

[2022-04-25 09:22] getdave commented on #39533
Hasn't failed for a while. Let's close and see if it reopens.

[2022-04-25 09:26] getdave opened #40580 "Customise Nav block mobile menu toggle text"
## What problem does this address?
Under the display option in the site editor, you can choose to replace the hamburger icon by the word `Menu`. However you cannot customise this text.

## What is your proposed solution?

It might be useful to allow users to customise the text used here if they so wish.

[2022-04-25 09:40] seebz commented on #40528
I confirm this issue.
Root files are stored in a `.` (dot) folder.

![gutenpride-zip](https://user-images.githubusercontent.com/694570/165062799-a3ba9c8c-67d7-4496-a093-bff84a4f97b9.png)

**How to reproduce :**

1. Generate the [Gutenride plugin](https://developer.wordpress.org/block-editor/getting-started/create-block/wp-plugin/#generate-plugin-files)
[code]
2. Move into the plugin folder
[code]

[2022-04-25 09:44] carolinan commented on #40271
I am able to reproduce this if I move the avatar outside the default column and place it directly in the comment template.
The text alignment also does not work for the other text based inner blocks, with the exception of the
comment content:

Editor:
![Avatar and text elements are aligned to the right](https://user-images.githubusercontent.com/7422055/165063835-f90c0dd4-6bf7-42ff-a733-c9f6794f120

[2022-04-25 09:45] carolinan commented on #40271
Aha, Looking at the source, there is a space missing between the CSS class names:

`<div class="has-text-align-righthas-small-font-size wp-block-comment-author-name">`

[2022-04-25 09:49] getdave commented on #36977
This was my mistake. In my defence this appeared to have become a dual issue and I lost sight of the first part which was the overlap with the submenu block.

Whilst I take responsibility, it does point to the need to have Issues that track one thing.

[2022-04-25 09:53] youknowriad commented on #39654
# Block markup updates

## Image block alignments

Historically, the image block with left, right or center alignments used to have an extra div wrapper around the figure tag to help with alignment styling.

    <div class="wp-block-image alignleft"><figure><img src="someimage.jpg" alt="" width="100" height="100"/></figure></div>

In WordPress 6.0, for themes that support the layout feature, this

[2022-04-25 09:56] carolinan commented on #40269
Did you mean the alignments on the comments query loop, or on the inner blocks?
When I test the block today, I see the wide and full width alignments on the comments query loop, but the left/right/center alignment on the comment template, and text alignments on the inner text based blocks.

[2022-04-25 10:03] ciampo commented on #35744
**Update**:

a first version of the TypeScript refactoring guidelines has been added to [the `@wordpress/components` package guidelines](https://github.com/WordPress/gutenberg/blob/trunk/packages/components/CONTRIBUTING.md#refactoring-a-component-to-typescript).

From now on, we will be starting to accept help on this task — please follow the guidelines, open a draft PR and either post about it in

[2022-04-25 10:13] ntsekouras commented on #40307
I'm wondering if it's related to https://github.com/WordPress/gutenberg/pull/39807/. Locally I cannot reproduce and both flaky tests seem to fail only once and then always pass.

I could see that in the migrated util there were changes like [here](https://github.com/WordPress/gutenberg/pull/39807/files#diff-0794b2502a8f956ba51f83bca005a590be631c3ac88be27b38dacc234d3c1851R45) that didn't match the

[2022-04-25 10:15] ntsekouras commented on #40303
Same comment with [here](https://github.com/WordPress/gutenberg/issues/40307#issuecomment-1108369343).

[code]

[2022-04-25 10:16] jameskoster commented on #39281
As a part of this work, it could be nice to allow renaming of containers. This can be useful in its own right, but in terms of working with patterns/sections it would enable us to use the pattern name for the inserted block(s), which would help with orientation.

[2022-04-25 10:24] tomasztunik opened #40583 "Search Block extensibility: search query vars"
## What problem does this address?

It should be possible to easily create custom search blocks as **core/search** block [variations](https://developer.wordpress.org/block-editor/reference-guides/block-api/block-variations/) with the ability to control [public search query variables](https://codex.wordpress.org/WordPress_Query_Vars#Query_variables) and ability to provide custom taxonomy query vars

[2022-04-25 10:27] carolinan commented on #40251
Is this something we need to fix before the new generic "name" block is created?

[2022-04-25 10:40] kevin940726 commented on #40307
The `undefined` keyword was a bug and was fixed in https://github.com/WordPress/gutenberg/pull/40384 (unrelated to the test itself).

As for the `clipboardData` question, I answered it in the original [PR](https://github.com/WordPress/gutenberg/pull/39807/files#r857489983) :).

[2022-04-25 10:49] paaljoachim commented on #40269
Thanks for asking Carolina!
Ahhh. Looking at this again. I believe I was talking about the inner block "Comment Template".
As it has the None, Align left, Align center, Align right alignment options.
The backend and frontend shows no adjustments switching between these alignments.

[2022-04-25 10:51] carolinan commented on #40255
The edit link and comment reply link are always links and their color is changed by the link color option, not the text color option.

I do see a related issue:

Editor
When I change the link color of the comments query loop, the color of the edit link and the reply link inherit this color, even if they already specify their own link color in their own block setting.

Front
The edit and reply link

[2022-04-25 10:53] carolinan commented on #40257
The inner block setting should always be applied, if it is set. If it is not set, then it should use the parent block setting.

The comment author should only be colored by the text color setting if the option "link to authors URL" is toggled off. When it is on, which is the default, it is colored by the link color setting.

[2022-04-25 10:57] ndiego commented on #40309
Given that the "edit locking" functionality is not going to make it into 6.0 (see #40498), I am going to remove this from the 6.0 Project Board.

[2022-04-25 10:58] getdave commented on #40382
I think [this comment](https://github.com/WordPress/gutenberg/issues/36977#issuecomment-992513795 ) by @Addison-Stavlo has the best summary of options.

I took this for a spin and sought to try and identify the Nav Submenu and place the toolbar according to it's height. This is what I ended up with

https://user-images.githubusercontent.com/444434/165075928-3e1f8ed8-ef45-4c54-a1b7-63d7102434bd.mp4

[2022-04-25 10:59] cbravobernal commented on #40251
That would be great, as I guess `Comment Author` will land before the generic `Author` (we can create an automated migration later)

[2022-04-25 11:03] kevin940726 commented on #40307
The debug artifacts aren't that helpful since traces are not recorded for the first failure 😅. I proposed a PR in #40586 to change that.

[2022-04-25 11:11] youknowriad commented on #34352
Interesting discussion here. I really like where this is going. Luis makes the distinction between "blocks" and "patterns". I'd even consider pushing the unification/simplification even further: Everything is a block, and depending on some metadata and context for that block, it can "behave" differently a bit.

For instance:

 - Why a "name" is only needed for patterns (or synchronized blocks)? I

[2022-04-25 11:28] kevin940726 commented on #40291
#40336 is merged, I'll close this now but feel free to re-open if it doesn't solve the issue :)

[2022-04-25 11:28] #40291 closed, assigned to nobody

[2022-04-25 12:25] ockham commented on #40521
@peterwilsoncc We'd actually like to include it in 6.0 😊  We're hoping to get the [PR](https://github.com/WordPress/gutenberg/pull/40522) ready for inclusion in Beta 3 (or RC1, at latest) so there'll be still a couple of weeks to test and polish them.

The major driver here is avoiding polluting the block namespace, as per Matías' list that I quoted in the issue desc, which will in turn help avoid

[2022-04-25 12:32] endresol commented on #38718
My issue was with GenerateBlocks. They have now fixed this and the problem is gone so I will close this issue. For those experiencing similar problem, look at the blocks you are using, the problem might be there, as it was in my case.

[2022-04-25 12:32] #38718 closed, assigned to nobody

[2022-04-25 12:41] javierarce commented on #40281
Since the upload option would be always visible, I'm not sure if we really need that flow.

[2022-04-25 12:45] ndiego commented on #39527
Yes, this is an issue that has existed for some time. Layout settings in Templates are not actually reflected in the Page Editor. This is a larger issue due to the fact that the Page Editor is not really "aware" of the template that has been applied to a post/page and is beyond the scope of 6.0 at this point. Therefore, I am going to remove it from the [6.0 Project Board](https://github.com/orgs/W

[2022-04-25 12:49] ndiego commented on #39323
While this issue needs to be addressed for completeness, @oandregal do you think this is something we can reasonably fix by 6.0 with Beta 3 scheduled for tomorrow? If not, I will remove it from the project board. Thanks!

[2022-04-25 12:49] mirka opened #40591 "ItemGroup: Focus outline in borderless usage does not match standard outline"
## What problem does this address?

When `ItemGroup` is used with the border-free settings, the focus outline on `Item`s are noticeably thinner compared to other visually similar components.

### ItemGroup

<img width="392" alt="ItemGroup" src="https://user-images.githubusercontent.com/555336/165091360-eb36dc35-96b6-490b-b1d6-11baa9f7b82d.png">

### NavigatorButton

<img width="244" alt="Navigator

[2022-04-25 12:51] ndiego commented on #40091
This is an issue we really should try and get resolved for 6.0. This might be related to the new functionality that lets you select text across multiple blocks 🤔

cc @annezazu @priethor

[2022-04-25 12:54] ndiego commented on #40443
This is an issue we really should try and get resolved for 6.0. I know anecdotally, there are many FSE theme authors that are using the default "featured" category.

cc @annezazu @priethor

[2022-04-25 12:56] ndiego commented on #40059
This seems like this might be a theme styling issue? Can anyone confirm? If so, I will remove from the 6.0 Project Board. Thanks!

[2022-04-25 13:13] #40327 closed, assigned to nobody

[2022-04-25 13:23] skorasaurus commented on #13282
@shelbypereira , the fix that you mentioned - https://github.com/WordPress/gutenberg/pull/30598 has been included in released versions of WP for sometime now (my guess is 5.8) but that did not fix the issue; so I'm keeping this as open.

[2022-04-25 13:34] jameskoster commented on #40281
I don't know why but I was assuming that additional uploads would create more options. But if each upload replaces the last, that would be fine 👍

[2022-04-25 13:36] philhoyt commented on #40323
This is not okay. To explain to a client they would need to wrap their image in a group to accommodate alignments is unacceptable. Are posts imported from previous themes not taken into account for backward compatibility? The block already wraps the image in a div as explained in previous iterations of the block editor. Your "expected behavior in block themes" results in "not ideal" behavior in th

[2022-04-25 14:01] adamziel commented on #40470
@mtias Good call! The word "all" may indeed suggest bringing in all the intermediate mockups and such that aren't even relevant for a particular PR. I replaced it with "Summarize the relevant context".

[2022-04-25 14:15] ciampo commented on #40591
Added to #34709

I think we soon have to have a deeper look at `ItemGroup` and iron out as many issues as possible, it seems like it will become an important component for our UIs

[2022-04-25 15:07] cbirdsong commented on #27075
Updating properties that affect layout on hover/focus is [generally considered a very bad idea](https://web.dev/animations-overview/#layout). Would we really want to encourage that?

[2022-04-25 15:38] fluiddot opened #40595 "Paragraph block: Input gets locked for a second after typing several words"
## Description

I noticed while typing a lot of words quickly in a Paragraph block that the input, like pressing the enter key or dismissing the keyboard, gets locked for around one second. Probably this is related to potential performance issues related to the `RichText` component or Aztec.

**NOTE:** **I experienced this issue mostly on Android**, as on iOS this behavior is not noticeable.

## S

[2022-04-25 15:38] cdils commented on #40381
I can confirm (5.9.3 with 0 plugins) that defining `settings.spacing.blockGap` sets a custom property for `--wp--style--block-gap`.

[code]

That's interesting as I originally tested this (with `settings.spacing.blockGap` defined) and still did not get the expected outcome. After testing more and confirming the above code works, I'm attributing that phenomenon to caching.

What is the appropriate

[2022-04-25 16:24] apeatling commented on #35602
Closing this one out since all the work here is done! 🥳

[2022-04-25 16:24] #35602 closed, assigned to aaronrobertshaw

[2022-04-25 16:25] apeatling commented on #36165
I think all the follow up work in terms of this issue is done for this cycle. Height/min-height/width and future issues can be refreshed and looked at down the line in a new issue.

[2022-04-25 16:25] #36165 closed, assigned to aaronrobertshaw

[2022-04-25 16:34] skorasaurus commented on #20618
Thanks for reporting; this has been fixed in https://github.com/WordPress/gutenberg/pull/38740

[2022-04-25 16:34] #20618 closed

[2022-04-25 16:40] fredy31 commented on #40018
Same problem here. The CSS related to the blocks is not included.

Would there be a way to just basically include all CSS of the possible blocks (and thus fix our issue?)

[2022-04-25 17:21] camya commented on #21886
Today is the 2nd anniversary of this feature request! 🥳

I still think, this is could be an important feature for the block editor.

[2022-04-25 17:30] mtias commented on #40194
A filter that can also return `null` for the included theme.json could make sense.

[2022-04-25 17:35] mrwweb commented on #40381
@carolinan So to confirm: The `styles.spacing.blockGap` custom property is only output if `settings.spacing.blockGap` is true? That is unexpected and feels like a bug to me.

[2022-04-25 17:46] Khaos22 commented on #40492
I updated that post.

[2022-04-25 18:14] annezazu commented on #40240
Noting that I updated the original text of this issue to include some additional feedback around considering including the No Results block by default in the Query Loop block:

I think including by default will depend on how intuitive it is to know it's shown conditionally and is just a container but wanted to include that piece of feedback for the sake of comprehensiveness in case it comes up in

[2022-04-25 18:48] WhiteHeatherClub commented on #40562
Hi, I'm using [Getwid](https://wordpress.org/plugins/getwid/) blocks - in my case patterns are made with the Media & Text Slider, Section and Image Slider (but I'm guessing it would affect the others as well).

Also on this post [#40305](https://github.com/WordPress/gutenberg/issues/40305) another Dev is mentioning it is happening with AinoBlocks as well.

[2022-04-25 19:54] skorasaurus commented on #26349
Could you clarify if the space is necessary? You state _but it should be (empty space) followed by the expected class wp-block-archives-list wp-block-archives._ but then later state _The class should not include the extra space._

I notice on the front end the space is still there on Gutenberg 13 -
![image](https://user-images.githubusercontent.com/955351/165164251-e6dcde25-77bd-4cd3-a8ad-bbf01c89

[2022-04-25 19:58] codente commented on #38357
I'm getting the same as @[muzafferkaya-gokalpay](https://github.com/muzafferkaya-gokalpay) using this tool and trying to create a new project.

[2022-04-25 19:58] annezazu commented on #40286
cc @scruffian since it seems you worked on implementing the additional template types in case you can help move this forward: https://github.com/WordPress/gutenberg/pull/39353

[2022-04-25 20:14] LukaszJaro commented on #38554
What about having these options as a dropdown in the 'Update' button:

![68747470733a2f2f642e70722f692f61657671497a2e676966](https://user-images.githubusercontent.com/10998875/165167353-853693d7-74fb-4b21-a87e-b8c28c0822db.gif)

source: https://github.com/WordPress/revisions-extended

[2022-04-25 20:18] kangabell opened #40597 "Cannot change alignment of Media & Text block in Widgets"
### Description

When editing a post I can change the alignment (e.g. "Wide width", "None") of a Media & Text block, but in Widgets the control to do this is missing. This makes any of these blocks stuck forever on "wide width" which is the default and I can't find any way to change it.

### Step-by-step reproduction instructions

1. Go to Appearance -> Widgets.
2. Add a Media & Text block.

### S

[2022-04-25 20:24] kangabell commented on #40597
linking https://github.com/WordPress/gutenberg/issues/20941 as it would be helpful in this situation.

[2022-04-25 21:04] jorgefilipecosta commented on #38934
Hi @ciampo,

For this task, I think the solution "manually override the styles of the header (and remove the border) only in the Global Styles sidebar" is the right one. We have a class for the global styles sidebar we can use specific styles to customize that sidebar specifically because it has very specific needs.

[2022-04-25 21:25] jorgefilipecosta commented on #40117
Hi @annezazu,

This is already happening if one searches for a block one can insert a block:
![image](https://user-images.githubusercontent.com/11271197/165177483-06ec4993-4eb1-4735-8a6a-610851f93225.png)

Is this behavior not working as expected in your tests?

[2022-04-25 21:26] aurooba commented on #38357
@muzafferkaya-gokalpay and @codente this could be because you are on node 17+, there have been some webpack issues that aren't yet fully resolved, maybe try downgrading node to v16?

[2022-04-25 21:48] jorgefilipecosta commented on #40117
Regarding "Consider updating the + button to have it show as "add pattern" when it's prioritizing patterns." I opened a PR to do that thank you for catching this issue 👍

For "Consider adding in some sort of intro text to the Quick Inserter panel to clarify that these are patterns one is looking at." I think we would need some design help, maybe @jameskoster or @jasmussen have some insights?

[2022-04-25 22:06] annezazu commented on #40117
Ah ha. There's some inconsistency but I can replicate this works for some blocks. For example, here's what happens when I search for quote or heading:

<img width="479" alt="Screen Shot 2022-04-25 at 3 04 59 PM" src="https://user-images.githubusercontent.com/26996883/165182726-fd61fee9-7df9-4516-96fc-ce2ea932cdcb.png">

<img width="476" alt="Screen Shot 2022-04-25 at 3 05 50 PM" src="https://user-

[2022-04-25 23:20] dsas opened #40600 "Post author: Byline encourages HTML but it is sanitised"
### Description

The post-author block allows entering a byline using a `RichText` component. When entering a byline I have buttons for emphasis, strong and so on.

When viewing a byline these tags are escaped.

In Gutenberg I have this mark-up:
[code]

which looks like this in Gutenberg:
![image](https://user-images.githubusercontent.com/93301/165189334-5fa4df56-4eb0-4068-913b-53b69b14e774.png)

[2022-04-25 23:35] #40326 closed, assigned to glendaviesnz

[2022-04-25 23:39] peterwilsoncc opened #40601 "Comment Query Loop: Unmoderated previews do not display."
### Description

In the comments template, WordPress displays a preview of unmoderated comments to the commenter.

These are either displayed based on cookies or a moderation hash if the commenter didn't consent to cookies during the commenting process.

https://github.com/WordPress/wordpress-develop/blob/77561d0a3010ff014de0b2210f39a59f0c4db01e/src/wp-includes/comment-template.php#L2145-L2153

Th

[2022-04-25 23:41] peterwilsoncc commented on #40521
WordPress has been in feature freeze since Beta 1 and I think this is a major enhancement that should not be put in. I can't see it been close to ready in time for the final beta on Tuesday.

I noticed on Friday the new comments block is missing a few features that would prevent 1:1 transformation, for example the pre-moderation preview is not shown to new commenters.

See #40601

[2022-04-26 00:23] DeoThemes commented on #25188
I'm not sure if this is the right place to ask, but I'm struggling to find any information about how to include external libraries as dependencies.

Let's say I have a few blocks that rely on the Swiper slider. Swiper slider provides a way to import only specific modules, which reduces the final bundle. So if I import only specific modules inside of each block I'll end up with multiple copies of t

[2022-04-26 01:49] codente commented on #38357
Thank you.  That resolved it for me.

[2022-04-26 02:51] t-hamano commented on #40371
Related Issue: #40557

[2022-04-26 03:39] talldan commented on #35079
Just removing my assignment as https://github.com/WordPress/gutenberg/pull/40339 is only a partial fix. I don't plan on continuing to work on this any more than that PR, further contributions are welcome though if that can be improved on.

edit - https://github.com/WordPress/gutenberg/pull/40339 is now merged.

[2022-04-26 03:44] suyogagitayana opened #40603 "Enqueue styles with hook `enqueue_block_editor_assets` not working on Gutenberg 13.0"
### Description

On WordPress 5.9.x with Gutenberg 13.0 activated, when other plugin enqueue styles using the action hook `enqueue_block_editor_assets`, the enqueued styles didn't show up inside the FSE iframe.
This is not the case if Gutenberg 13.0 is not activated.

Need more confirmation on this issue just in case if i did my implementation wrong or there is a new way to enqueue styles inside F

[2022-04-26 04:05] glendaviesnz commented on #38998
@mtias I am happy to do that. I initially avoided doing so [due to this comment](https://github.com/WordPress/gutenberg/issues/38998#issuecomment-1048331818), but there is probably enough interest in this topic from enough people for it not to get lost in the discussions at this point.

Currently the following separate issues have been forked from, or were already closely related to, this wider is

[2022-04-26 05:10] noisysocks commented on #40548
For changes to existing features that exist in Core this makes sense but I'm not sure how it would work for new or experimental features. For example, if I open a Gutenberg PR that changes something about the Navigation screen, I can't open a corresponding Core PR because the Navigation screen doesn't exist in Core.

[2022-04-26 05:47] carolinan commented on #40018
The solution right now is to:

I am not sure that is the long term solution that we want....

[2022-04-26 05:57] ramonjd commented on #40516
It's been held up due to questions over implementation. Do you folks think it would help in this case?

[2022-04-26 06:10] talldan commented on #40091
I've put together a fix at #40604.

[2022-04-26 07:10] shimotmk opened #40605 "Request a hook that can change the default value of the block manager."
Hi there.

## What problem does this address?
I want to change the default value of the block manager.
I want to change the default value of the block manager instead of turning off block registration with `unregisterBlockType`, etc.
because we want to leave the ability to turn off blocks to the user.

It turns out that you can add a hide block by specifying it like this.

[code]

However, this wi

[2022-04-26 07:16] kevin940726 commented on #40303
I think I've found the issue of this one. The part of code that causes the problem is this:

[code]

If all works according to plan:

1. (a) selects a range of the content. (`block\nB ` in particular)
2. (b) moves the caret cursor to the start of the line. (Before `A`)
3. (c) inserts a new line above the first line. (Above `A block`)
4. (d) moves the caret cursor to the line above.

However, for s

[2022-04-26 07:22] #40545 closed, assigned to geriux

[2022-04-26 07:22] talldan commented on #40303
Nice work tracking down what was happening.

That sounds like a plan 👍 .

A code comment could be added above this line of code linking to this issue comment.

[2022-04-26 07:26] Azragh commented on #40516
@ramonjd Pretty sure yes. =]

[2022-04-26 07:45] ntsekouras commented on #40303
Good findings @kevin940726!

I'll open a quick PR with the suggestion to await for the caret for now, thanks!

[2022-04-26 07:59] #40091 closed, assigned to talldan

[2022-04-26 08:23] JustinyAhin opened #40608 "Allow changing a table rows/columns number using arrow keys"
### Description

While creating a table block, when defining the number of rows and columns, it is not possible to change the inputs using the arrow keys on the keyboard.

### Step-by-step reproduction instructions

1. Create a new post
2. Add a new table block
3. Try to change the number of rows or columns in the inputs using the arrows keys
4. Notice that this does not work

### Screenshots, scr

[2022-04-26 08:41] jameskoster commented on #40117
Perhaps we can make it more obvious by optimising the dimensions for patterns. At the moment the previews aren't all that helpful because they're so small. I don't know if that means switching to a single column, or making the popover larger.

There's some work to be done around which patterns we surface too. In template editing, the patterns should be contextual to the current template. Also, doe

[2022-04-26 08:47] oandregal commented on #39323
Hey all, I've given this a test. This is what I did:

- Use TwentyTwentyTwo.
- Created a style variation under `styles/custom.json` that only modifies the values of the `custom` section in use by TwentyTwentyTwo:

[code]

- Go to the style variation list and pick the "Custom" one. This is what I see:

https://user-images.githubusercontent.com/583546/165260459-16e0805f-b1a1-4412-af8d-23dcad3afea3.m

[2022-04-26 08:51] draganescu commented on #39194
I am glad that sounds like a good idea. In https://github.com/WordPress/gutenberg/pull/40385 I am exploring adding this `wp-config.php` constant to enable this functionality.

[2022-04-26 09:05] talldan commented on #40605
@shimotmk Would you be able to share some more information on what your use case is for making a block hidden by default? Is this to hide core blocks or other blocks?

I think you can already filter `allowedBlockTypes` using the block editor settings filters:
https://developer.wordpress.org/block-editor/reference-guides/filters/editor-filters/#block_editor_settings_all

`defaultAllowedBlockTypes`

[2022-04-26 09:12] draganescu commented on #40548
It could work for new code as well, if we want that new code to land in the next version you could open the PR that adds the code in the correct core place.

[2022-04-26 09:19] cbravobernal commented on #40601
Using `Comments Query Loop` displays the message as expected.

![Screenshot 2022-04-26 at 11 12 39](https://user-images.githubusercontent.com/37012961/165265988-45258fe0-16eb-483d-9258-d359070c661a.png)

It seems that `Post Comments` block is the one having this one. That block has been in Gutemberg for a lot of time and uses default WordPress functions to show the comments, I will take a look at

[2022-04-26 09:26] bph opened #40609 "Outreach to component maintainers for Field Guide "But Wait, There is More!" section (WordPress 6.0)"
[Publishing Field Guide](https://make.wordpress.org/core/handbook/tutorials/publishing-the-field-guide/)
"Each Component team is sent a group direct message in Slack, pulling the list of maintainers from the [individual component pages](https://make.wordpress.org/core/components/)"

Example message:
_It’s that time again `Component Name` component maintainer(s)… are there any tickets in the 6.0 re

[2022-04-26 09:50] ockham commented on #40521
Fair enough 😅  I was probably a bit over-optimistic, but since https://github.com/WordPress/gutenberg/pull/40522 has hit a few bumps, we'll punt that and won't try to get it into 6.0.

Thanks for flagging, we'll look into this!

[2022-04-26 09:53] ockham commented on #34994
Per [discussion](https://github.com/WordPress/gutenberg/issues/40521#issuecomment-1109589648) on the issue, and due to the [problems](https://github.com/WordPress/gutenberg/pull/40522#issuecomment-1109046302) we've encountered, we've decided not to attempt having the Comments Query Loop merged into the Post Comments block for WP 6.0. We'll revisit after it's released.

[2022-04-26 10:04] DAreRodz commented on #40601
@c4rl0sbr4v0, I was able to reproduce the bug using the steps shared by @peterwilsoncc.

I'm taking a look at the issue as well. 👀

[2022-04-26 10:09] Mamaduka commented on #40469
I am marking this as a regression. I will try to debug the issue later this week.

[2022-04-26 10:16] EdithAllison commented on #21540
👍 from me!  I'm actually pretty surprised this isn't part of the editor yet. Dualtone for image block seems a really weird thing to prioritise over borders.

[2022-04-26 10:55] jameskoster commented on #34352
The UI for this can theoretically be very simple:

<img width="721" alt="Screenshot 2022-04-26 at 11 49 02" src="https://user-images.githubusercontent.com/846565/165284039-3cc7b395-c083-4655-9c63-83bf602c8980.png">

Without wanting to go too far down a rabbit hole, perhaps there is only one container type, and it absorbs the options from all existing containers. Then transforms can be much more dy

[2022-04-26 11:17] #40251 closed, assigned to carolinan

[2022-04-26 11:32] jameskoster commented on #40450
Aligning with the [+] might be safer than aligning to the content due to its variable width. Without that geographical relationship, the floating/docked iteration might not work so well. Option 2 looks quite good to me.

[2022-04-26 11:41] ockham opened #40614 "Comments Blocks Warnings: Add buttons to resolve warnings"
Based on https://github.com/WordPress/gutenberg/pull/40563#issuecomment-1108719610 and https://github.com/WordPress/gutenberg/pull/40563#issuecomment-1109049178.

The Comments Query Loop block (soon to be renamed to just "Comments") and its child blocks currently use the `<Warning />` component in a few places, in order to indicate that what the user will see on the frontend might not match their

[2022-04-26 11:42] sirreal commented on #26349
The leading whitespace that's apparent in your screenshot should not be present in the HTML. That's the issue I've attempted to describe.

The description was unclear, I've attempted to clarify it.

[2022-04-26 11:43] ockham commented on #40614
Live comment to track Warning that need action buttons.

**Comments Pagination:**

https://github.com/WordPress/gutenberg/blob/c5b9ca14e68ad6ee2aefa2973589f36cac388a7e/packages/block-library/src/comments-pagination/edit.js#L81-L85

**Post Comments Form:**

https://github.com/WordPress/gutenberg/blob/2d62d1ca6f60c2b8609175732a31bf08883aca79/packages/block-library/src/post-comments-form/edit.js#L62-

[2022-04-26 11:48] shimotmk commented on #40605
@talldan
Thanks for the reply!
Indeed, I was able to restrict the selection to only that block by running the following code.

[code]

But what I want to do is change the default value of the block manager.

The use case is that I want to use it to deprecate custom blocks as Gutenberg evolves.
I know there are ways to deprecate it, such as using the hooks mentioned above or setting [inserter to fa

[2022-04-26 11:51] ockham commented on #34994
As a corollary to the [above](https://github.com/WordPress/gutenberg/issues/34994#issuecomment-1109592618), and per Slack discussion with @priethor:

The Post Comments block has been deprecated and removed from the inserter for a while, so people won’t be able to newly insert it. UX-wise, this is not so different from what the block merge would’ve achieved (where we would’ve retained the childless

[2022-04-26 12:24] ockham opened #40617 "Comments blocks warnings: Better UX"
The Comments Query Loop block (soon to be [renamed](https://github.com/WordPress/gutenberg/pull/40506) to just "Comments") and its child blocks currently use the [`<Warning />` component](https://github.com/WordPress/gutenberg/tree/56004234692f61dac01f511189f2d9ea3b74a8ea/packages/block-editor/src/components/warning) in a few places, in order to indicate that what the user will see on the frontend

[2022-04-26 12:27] shazahm1 commented on #39323
I've attached both the `theme.json` and the style variation `dark.json` for you to use and hopefully replicate.

In the `theme.json` file, I have colors set in the `settings > custom > color` section:

[code]

In the `dark.json` style variation, I have the same custom properties but with different values:

[code]

When the `dark.json` style variation is used and I inspect the page source I find `-

[2022-04-26 12:42] jameskoster opened #40618 "Warn users prior to removal of critical blocks in blog templates"
In the site editing context there are certain blocks that you shouldn't delete outside of edge cases – Post Content and Query Loop can cause a lot of damage if removed. It would be good to display a confirmatory modal when the user attempts to remove them.

<img width="788" alt="Screenshot 2023-05-19 at 15 41 22" src="https://github.com/WordPress/gutenberg/assets/846565/ddd57e93-3344-4457-9ec2-8d3

[2022-04-26 12:48] gziolo commented on #34994
We caught two issues during backporting the latest changes to WordPress core:

1. A simple fix to sort out whitespaces to follow WP coding standards:
https://github.com/WordPress/gutenberg/blob/1e830c288322b3de97d679a1bf0ad34e2ef85f1a/packages/block-library/src/comments-title/index.php#L56-L68
2. The hook that is added globally in the Post Comments Form will also impact the Post Comments block:
ht

[2022-04-26 12:52] uniquesolution opened #40619 "Navigation block making block editor super slow"
### Description

Whenever we create a navigation using block editor and it become a bit bigger with some dropdowns added, the block editor start lagging and become super slow to response. To even able to click and select anything in the editor.

### Step-by-step reproduction instructions

1. Go to any page
2. add some section group or any blocks
3. Now add a navigation block
4. Add some pages in i

[2022-04-26 12:52] Humanify-nl opened #40621 "Block style for specific block variation"
## What problem does this address?
After using (custom) block variations in a larger scale project, block styles seem to miss fine-grained control over _when_ they appear in relation to variations.

Use case:
- I have added a new group variation called 'section'.
- I want to add a block style for the section but _not_ for the other variations of the group block.

This is possible with a few lines

[2022-04-26 13:11] gziolo commented on #34994
Another small thing caught while testing in WordPress core.

Post Comments block on the front end:

<img width="639" alt="Screenshot 2022-04-26 at 15 09 54" src="https://user-images.githubusercontent.com/699132/165307292-35b3d545-44c6-47c3-b73c-9951469e715a.png">

Comments Query Loop on the front end:

<img width="635" alt="Screenshot 2022-04-26 at 15 09 48" src="https://user-images.githubusercont

[2022-04-26 13:19] cbravobernal commented on #34994
Regarding the `title size`, is because we used h2 instead of h3. As @justintadlock recommended. We can go back and set the h3 as a default.
https://github.com/WordPress/gutenberg/pull/40419#issuecomment-1101769218

Regarding the `date`, we have a selector in the block that allows you to choose the date format. We can set with hours and minutes by default. Adding the 'at' would be trickier though.

[2022-04-26 13:31] shazahm1 commented on #39323
As a quick follow-up...

I guess this is not an issue after all. I added `"title": "Dark",` to the style variation, and it worked correctly. I noticed that in your working example, so I thought I would try adding it. So, I guess the `title` key has significance as to whether the custom properties are used in the style variation.

I have `$schema` set `https://schemas.wp.org/trunk/theme.json`, and

[2022-04-26 13:36] ndiego commented on #39323
Great find @shazahm1! Thank you for following up, was just about to test. Do you feel comfortable closing this out? I can look into adding a separate issue for the schema update if it's not already taken care of in 6.0.

[2022-04-26 13:43] gziolo commented on #34994
Please note also "3 **R**esponses" vs "3 **r**esponses".

[2022-04-26 14:08] bph commented on #40609
[Mentioned in async release check-in 2022-04-26 ](https://wordpress.slack.com/archives/C035NHLFUSY/p1650981807263339?thread_ts=1650971160.803229&cid=C035NHLFUSY)

[2022-04-26 14:12] davipontesblog commented on #21889
Great, thanks for implementing!

[2022-04-26 14:12] #17718 closed

[2022-04-26 14:16] shazahm1 commented on #39323
Yeah, I'll close. It turns out this is not related to the `title` prop at all. It seems choosing the "Default" variation and saving in the Site Editor and then choosing the style variation and saving is what resolved the issue. Perhaps something changed since I opened the issue that fixed this because that is an action I took many times while working with the style variations. Since I hit that roa

[2022-04-26 14:16] #39323 closed, assigned to nobody

[2022-04-26 14:31] matiasbenedetto opened #40624 "Separator block doesn't render as in the editor"
### Description

The separators in the editor look different from the public version rendered.
If you add a custom color to a wide separator, you lose the height defined in `theme.json,` and you always get a line of 1px tall.

Example from `theme.json`
[code]

### Step-by-step reproduction instructions

1. Go to the admin
2. Create a new post
3. Add a separator block
4. Activate the wide option of

[2022-04-26 14:35] johnstonphilip opened #40626 "Block Patterns unavailable on Gutenberg latest"
### Description

Block patterns are not available for me on Gutenberg latest trunk.

When I deactivate gutenberg, block Patterns are available again

### Step-by-step reproduction instructions

1. Install Gutenberg v13.0.0
2. Go to "Posts" > "Add New", and try to insert a block pattern.
3. It should work fine.
4. Pull gutenberg latest on `trunk`
5. Refresh your post in the editor from step 3.
6. N

[2022-04-26 14:46] colorful-tones commented on #40357
I am not able to replicate this. Here are my testing scenarios:

- OS: macOS Monteray 12.3.1
- Hardware: MacBook Pro 2020 / Processor: 1.7 GHz Quad-Core Intel Core i7
- Safari Version 15.4 (17613.1.17.1.13)
- WordPress 5.9.3, Gutenberg 13, TwentyTwentyTwo 1.1
- Open Site Editor for home page which contains a Query Loop block, and no perceivable performance issues

I also tested on Chrome Version 1

[2022-04-26 14:53] hellofromtonya commented on #40472
Update: The stopgap implementation has been committed into WordPress Core's `trunk` ahead of 6.0 Beta 3 via commit https://core.trac.wordpress.org/changeset/53282.

All tasks are completed. Closing this issue.

Thank you everyone for contributing!

[2022-04-26 14:53] #40472 closed, assigned to hellofromtonya

[2022-04-26 14:58] Mamaduka commented on #40626
Hi, @johnstonphilip

The example code to reproduce the issue is missing from the description.

[2022-04-26 15:12] colorful-tones commented on #40525
I tested and was able to replicate this with the following scenario:
- OS: macOS Monteray 12.3.1
- Hardware: MacBook Pro 2020 / Processor: 1.7 GHz Quad-Core Intel Core i7
- Brave Version 1.37.116 Chromium: 100.0.4896.127 (Official Build) (x86_64)
- WordPress 5.9.3, TwentyTwentyTwo 1.1

Every time I added a core block the stylesheets were called again. This did not have perceivable impact on the ed

[2022-04-26 15:19] mchowning commented on #38407
Updated the parent post with:

### 🛠️ Recently fixed or improved
++ [Set "expanded" version of inserter's "add blocks" text to title case](https://github.com/WordPress/gutenberg/pull/40550)

[2022-04-26 15:27] fluiddot commented on #39955
Issue fixed in https://github.com/WordPress/gutenberg/pull/40615.

[2022-04-26 15:27] #39955 closed, assigned to fluiddot

[2022-04-26 15:40] johnstonphilip commented on #40626
@Mamaduka Hey - there is no example code required to reproduce this.

[2022-04-26 15:50] draganescu commented on #40431
@mauriac the problem you reported seems different from the one in the issue. Changing the author outside of a post has no effect since there is no post to edit. I think that drop-down should not show if there is not post.

[2022-04-26 15:56] ockham commented on #34994
Thanks @gziolo! Working on fixing those here: #40628.

[2022-04-26 16:15] mrwweb commented on #38998
@glendaviesnz @mtias Whatever you two think keeps this conversation moving forward sounds good!

[2022-04-26 16:18] mtias commented on #40521
I'm fine with punting since this is running into some issues, but I'm still fairly concerned about the namespace issue — offering multiple blocks that do the same with no strategy for consolidating is not very reasonable. What are the options to minimize the impact there?

[2022-04-26 16:27] Mamaduka commented on #40626
Sorry got confused by this step - `Add the above code to a plugin or theme to register a block pattern.`.

I'm not able to reproduce the issue on the latest trunk (2bbbcf58f1a05113267030f0ac884f6b814d5a85).

## Screenshot
![CleanShot 2022-04-26 at 20 24 50](https://user-images.githubusercontent.com/240569/165348045-45ff1ceb-a216-45c6-b308-65310146a59f.png)

[2022-04-26 16:31] Andrew-Starr commented on #40621
Thank you for addressing this @Humanify-nl, variation conditional styles would be super useful.

[2022-04-26 16:38] ntsekouras commented on #39149
This seems to have been resolved by @alexstine here: https://github.com/WordPress/gutenberg/pull/37934/files#r816489682

[2022-04-26 16:48] richtabor commented on #39500
I've noticed this as well. TT2's patterns are actually not loading with priority, even with the default categories being re-rendered. I also think a theme's patterns should be given a higher priority than core/remote patterns.

[2022-04-26 16:55] creativecoder commented on #39149
Confirming this seems to be fixed for me.

[2022-04-26 16:55] #39149 closed, assigned to nobody

[2022-04-26 17:03] ockham commented on #40617
I discussed this with @jameskoster and @priethor today, and @jameskoster brought up an interesting point:

Essentially, Jay and Héctor referred me to #31830. Jay suggested we might implement this for the Comments Query Loop block (which would essentially bypass problems like this issue or #40614), and later roll it out to other blocks.

I like the idea, but I'm not sure we'll manage to get this ch

[2022-04-26 17:18] johnstonphilip commented on #40626
Ah yeah I left that in by mistake!

I just pulled latest again and the patterns are loading again, so something in a recent commit must have resolved the issue. Closing, thanks for testing.

[2022-04-26 17:18] #40626 closed, assigned to nobody

[2022-04-26 17:56] arnaudbroes commented on #12635
We're having this issue as well with a block that we are developing. Has anyone figured out the root cause of this yet?

[2022-04-26 17:59] jeremyfelt opened #40632 "Clarify next steps when a block is installed from the editor"
### Description

When a block is installed from wordpress.org using the add block interface in the editor, I expect it to be immediately available for use.

If the block is not immediately available for use, I expect to see instructions with the next action I should take to use the block.

When a block is installed now, it is immediately added to content and an error message appears:

Ideally, the

[2022-04-26 18:21] ockham commented on #40614
Note that we might avoid most of these changes if we decide to implement this proposal: https://github.com/WordPress/gutenberg/issues/40617#issuecomment-1110040233

[2022-04-26 18:30] jakobwiens7 commented on #40357
I can confirm the issue on my end as well. As soon as Gutenberg plugin was updated to v13 the site editor performance on my more advanced sites dropped to a point where it was almost impossible to work with, as stated by others.

I noticed this on local installations as well as online websites. Its not much of a problem on a fresh wordpress install with just the Gutenberg plugin and the default th

[2022-04-26 19:12] skorasaurus commented on #40528
ran into this a few minutes ago as well; can confirm the above that it lists all of the files as being added but they are not; great, detailed report @admturner

[2022-04-26 20:19] nextgenthemes commented on #40603
You can use `add_editor_style` like the TT2 theme uses. I lost time over this, it's not documented, and I am not sure if this is intended.

Did you find out that `enqueue_block_editor_assets` still works post editing mode? Does it work for the frontend?

[2022-04-26 21:36] nextgenthemes commented on #40603
I can confirm it's not working at all from TT2 theme, not even in post editor or frontend. And not with GB 13.1.0-rc.1 either.

Added this to TT2 functions.php
[code]

and commented these 2 lines out:

[code]

[2022-04-26 22:19] beckej13820 commented on #40068
Hi,

This was closed as duplicate, but I wonder if it could be reconsidered. It seems to me that the ability to save changes to styles might be very different than the ability to divide styles in meaningful ways that can help site creators.

The example that I have in my head comes from an older "customizer" style theme named Go from GoDaddy. The creators made two simple choices, "Style" which the

[2022-04-26 23:06] peterwilsoncc commented on #40521
I think hiding one or the other from the inserter makes sense, I'll leave it to y'all to decide which.

I suggest:

* provide a filter to reverse the hiding for developers wishing to use the legacy block (I guess this exists already)
* document how to reverse the hiding in a dev-note

This avoids migrating too early and alienating some of the biggest external advocates for block themes.

Once ther

[2022-04-27 00:04] peterwilsoncc commented on #34994
As Beta 3 was the string freeze (no new strings), could the comment's title block use the same ones as in the template. This will avoid breaking the freeze & reduce the number of strings requiring translations.

[code]
-- [source](https://github.com/WordPress/wordpress-develop/blob/6742d0d7a65e37f24c67eeaae373f4c086c277a5/src/wp-includes/theme-compat/comments.php#L34-L49)

I think the logic will n

[2022-04-27 00:08] kangabell commented on #40597
https://github.com/WordPress/gutenberg/issues/35468 would help too.

[2022-04-27 01:29] suyogagitayana commented on #40603
I think `enqueue_block_editor_assets` is an action hook for the editor only, i don't think it supposed to work on frontend.

What confused me is that i'm not sure if this hook supposed to enqueue assets inside the editor **iframe** (full site editor) or not because previously enqueuing assets using this hook worked, but now it's not if Gutenberg 13.0 activated.

The assets only not enqueued inside

[2022-04-27 01:30] ndiego commented on #40059
I have confirmed all these issues are related to custom styling in Twenty Twenty-Two. I have not tested with the updated version coming with 6.0, just the version in the repo.

@jffng are you still working on Twenty Twenty-Two? If so, I just wanted to make sure you were aware of this issue. Thanks!

[2022-04-27 01:53] ndiego commented on #40525
I am able to confirm as well in both Chrome and Brave. See the video below. While likely the expected behavior, is this ideal? I am sure this is due to the block previews that are rendering. It is worthwhile to note that this also happens in WordPress 5.9.3.

https://user-images.githubusercontent.com/4832319/165421588-fdf1f526-5f4b-4576-9aee-a4182b88bdb0.mp4

[2022-04-27 02:00] glendaviesnz commented on #40624
This is because of the following

[code]

in the separator [theme.scss](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/separator/theme.scss#L19). Do you know what the reasoning is behind resetting the height like this when there is a background color set @scruffian ?

[2022-04-27 02:02] peterwilsoncc commented on #40601
I've edited the description to document the anti-spam features added for previews via the moderation hash. It turns out spammers are smart.

[2022-04-27 02:44] ndiego opened #40636 "Selecting multiple non-text blocks using the shift key is no longer possible"
### Description

Previously, you could hold down the shift key and select multiple blocks at once. This still works if you "start" with a paragraph or similar text-based block. However, if you try and select two non-text blocks using the shift key, such as two images, it is no longer possible. This is a bit hard to explain, so see the video below.

I believe this may be related to the new function

[2022-04-27 02:47] ndiego commented on #40636
@annezazu @priethor @gziolo @adamziel sorry for the ping, but wanted to get more eyes on this given how tight we are getting on time.

[2022-04-27 03:27] annezazu commented on #40636
Testing with just WordPress 6.0 beta 3 and can confirm the above. Here are some specific use cases to save some time:
- Selecting an image + holding down shift > can only select other text blocks (can't select another image, cover, or group block)
- Selecting a group block + holding down shift > can only select other text blocks (can't select another image, cover, or group block)
- Selecting a cov

[2022-04-27 05:06] #15105 closed

[2022-04-27 05:06] #34405 closed, assigned to nobody

[2022-04-27 05:36] gziolo commented on #40403
https://github.com/WordPress/gutenberg/blob/ec43ad66dc1719075ad23c89cb9e369cc30a8cf3/packages/create-block/package.json#L36

There is a newer version of https://www.npmjs.com/package/check-node-version v4.2.1, maybe that would help?

[2022-04-27 05:39] gziolo commented on #40403
I see now that it’s an issue with `snap` according to https://github.com/nodejs/snap/issues/31#issuecomment-1102121422. It doesn’t look like it can get fixed.

We could add a prompt asking if you want to proceed anyway with a message that it didn’t detect the correct version of Node.js.

[2022-04-27 06:11] #40358 closed, assigned to ntsekouras, aaronrobertshaw

[2022-04-27 06:29] kevin940726 commented on #40307
It's probably reopened because of some outdated branch. Let's close it again.

[2022-04-27 06:30] kevin940726 commented on #40303
It's probably reopened because of some outdated branch. Let's close it again.

[2022-04-27 06:44] talldan commented on #40632
When I read this, my impression was that this happens for every block and it sounded like a really bad bug. But I tested and other blocks seem to work ok, like the first Todo List block and that 'SV Block for Twitch'.

Would you be able to update the description?

I'm not sure if this is just an issue with that one plugin. A different error message for block directory blocks does sound like a good

[2022-04-27 06:48] ramonjd commented on #24480
Hi folks! It'd be great to get some feedback on https://github.com/WordPress/gutenberg/pull/39529

It's trying to be everything to all, so there's probably some room for self restraint 😄

[2022-04-27 06:54] talldan commented on #40605
My understanding of `defaultAllowedBlockTypes` is that it achieves the same thing as `allowedBlockTypes` so that may not help.

I think this is a little tricky to achieve with how the block manager is implemented right now. Currently, there's a `hiddenBlockTypes` array that contains the names of any blocks that are hidden. e.g.
[code]

If it were possible to provide a default, it might look someth

[2022-04-27 07:26] fabiankaegy commented on #40636
Could this possibly be related to the changes in #40604 ?

[2022-04-27 07:29] gziolo commented on #40139
@priethor, is there anything actionable left for WP 6.0? Should we update it to target 6.1 instead?

[2022-04-27 08:55] scruffian commented on #40624
By default the color of a separator is applied to the border. When we set a color for a separator block we apply it to the background and remove the border. This inconsistency fees like its going to cause more problems in the future, so I'll see if we can change the approach.

[2022-04-27 09:16] talldan commented on #40636
I just gave the code from before that commit a test, and the bug was still present, so I don't think it's related to that.

From what I can tell, multi-selecting blocks now only seems to work when clicking on text.

[2022-04-27 09:20] jameskoster commented on #40617
In terms of design I don't think this needs to be anything elaborate. Just a simple message informing the user that the block doesn't work accompanied by an action to remove it could be adequate for now:

<img width="1540" alt="Screenshot 2022-04-27 at 10 11 39" src="https://user-images.githubusercontent.com/846565/165484505-2fa31b56-c76a-4ff6-8006-8c6577b2eea1.png">

An alternative approach would

[2022-04-27 09:30] luisherranz commented on #40617
I'm usually against imposing arbitrary restrictions/constraints on how things can be used/composed. Especially now that users can customize comments texts and styles to almost anything imaginable, I can envision users using classic WP comments to request all sorts of _user feedback_ using carefully crafted per post/page text and styles even in-between the article, not just "blog comments at the en

[2022-04-27 09:32] draganescu commented on #40431
Trying to see if it's trivial to bring over the feature the query block has to get post from query.

[2022-04-27 09:34] cbravobernal commented on #34994
Now with the block, we are allowing some more options like:
- Show/Hide the comments count.
- Show/Hide the post title.
- Choose the text wanted for the string between the comments and the title.

Covering all those different options with different strings for uppercase/lowercase would be hard to maintain. I put it as an uppercase to cover when the Comments Count is hidden, but we can do it the ot

[2022-04-27 09:53] jameskoster commented on #40208
Perhaps mis-interpreting, this list seems very long to me. Unsure of the value vs noise of the sub-divider.

<img width="458" alt="Screenshot 2022-04-27 at 10 48 21" src="https://user-images.githubusercontent.com/846565/165491728-8ae937a8-cafd-46d6-a917-4ca8c914a72f.png">

Another option is to use flyouts for methods we don't want to prioritise:

<img width="758" alt="Screenshot 2022-04-27 at 10 5

[2022-04-27 10:00] shimotmk commented on #40605
@talldan
Thanks for the reply.

It is still difficult with the current code.
As I wrote in the first

[code]

to be executed only once when the block editor is displayed.

[2022-04-27 10:18] ntsekouras commented on #39654
## Global Styles variations

Theme authors can now create multiple theme.json variations and place them into their theme’s `/styles` folder. From there, users can switch between the various presets to something that suits them best.

Custom JSON files should follow the standard theme.json schema and their filename is going to be used as the variation's label in the UI(example `blue.json`).

## Web

[2022-04-27 10:23] scruffian commented on #40624
I found a very old PR that makes the height of the separator an attribute: https://github.com/WordPress/gutenberg/pull/26764

This raises more questions though - if we make height a block attribute then there's no way to modify it using theme.json. Would it be better to make height part of the theme.json spec so that it can be modified in that way?

[2022-04-27 10:30] draganescu commented on #40431
So the problem here is that when there are no posts, the author block does not get any post id from the context. This is a quirk of how block context works on the server-side, for some reason if there are posts, the contextual post type and post id are set to the 1st one in the list of posts from the query block.

[2022-04-27 10:34] fabiankaegy commented on #38787
This is a great enhancement that makes it much less daunting to start creating a new page.

Working with the current implementation from #40034 I noticed that the modal currently only appears to be available for the Page Post Type. I think this would be a great feature to also get support for custom post types.

It would also be great to have a way to determine which patterns should get shown for

[2022-04-27 10:39] jameskoster opened #40646 "Template Parts: Remove forced Spotlight Mode on selection"
We've tried a few experiments in the Site Editor to clarify the boundaries of Template Parts. There are currently three hints:

<img width="1253" alt="Screenshot 2022-04-27 at 11 34 01" src="https://user-images.githubusercontent.com/846565/165499613-c43d476b-0274-4dba-ba35-41cb623c28e0.png">

1. The template part name is displayed in the top bar when it – or any of its child blocks – is selected
2

[2022-04-27 10:41] carolinan commented on #38520
Hi,
I am only able to reproduce this partially.
The image source width is set to 1024 (large), if I select an image that is larger than 1024.
But the CSS class name is not missing in my test, it is `size-full` if a pick an image larger than 1024 but also if I pick an image smaller than 150 (thumbnail).

Tested using WordPress 6.0-beta3-53290 and WordPress 5.9.3 with and without Gutenberg.

---

I

[2022-04-27 10:48] getdave commented on #39654
This is a super minor change so it might not even be worth including IMHO. If you want to however, here's a quick explaination.

_The List View shows a list of each block in the editor canvas by name. It's now easier to target the block's name via CSS thanks to the addition of a wrapping element._

[2022-04-27 10:53] jameskoster commented on #32163
Lately @youknowriad has been taking stock of the different selection/hover states in the site editor UI:

I've opened #40646 to discuss removing the "focus on active template part" effect.

The overlay pattern has proven problematic to get right due to a browser bug in Safari ([context](https://github.com/WordPress/gutenberg/issues/35079)).

I hypothesise that we can try using the ideas in this is

[2022-04-27 11:13] ockham commented on #40521
Thanks @peterwilsoncc, that sounds like a good strategy!

Yeah, one of the [registration-level block filters](https://developer.wordpress.org/block-editor/reference-guides/filters/block-filters/#registration/) should do the trick. We'll write up a note!

[2022-04-27 11:30] ockham commented on #40617
As for implementation, here's how the Template Part block is preventing from being rendered inside the post editor. (Thanks @priethor for the pointer!):

https://github.com/WordPress/gutenberg/blob/48e2e8378840675fb8fb9b5ae70d77ceb352dd0e/packages/block-library/src/template-part/index.js#L57-L83

(This works because IIRC, the Post Editor uses a "virtual" `core/post-content` that wraps all its edit

[2022-04-27 11:42] priethor commented on #40636
Thanks for the thorough testing and detailed instructions. I did some of my own and I agree it seems related to the partial block multiselection.

One extra use test case:
- Partially select text in a paragraph -> Shift+click on an Image/Cover block that has an image -> it doesn't work
- Partially select text in a paragraph -> Shift+click on an **empty** Image/Cover block -> it works

It's also wo

[2022-04-27 11:48] Mamaduka commented on #40525
Thanks for testing.

@ndiego, I think we should update the issue title/description. The bug is caused by block previews and not by the Inserter.

[2022-04-27 11:51] SantosGuillamot commented on #40521
I assume the [`block_type_metadata` filter](https://developer.wordpress.org/reference/hooks/block_type_metadata/) should do it right? I've quickly test this code and it seems to work:

[code]

What do you think? Does it make sense?

[2022-04-27 12:10] stefanfisk commented on #38548
I this caused by some parts of the code attaching the event listener directly to the DOM instead of handling the event via React?

Doing this and passing `ref` instead of `onKeyDown` to `<input>` fixes the issue for me:

[code]

[2022-04-27 12:23] jameskoster commented on #40617
@luisherranz that does sound like a valid use case. But achieving it with comments seems rather convoluted, especially if you want regular comments and 'feedback' on the same post / page. The backend experience probably isn't the best either. Overall it sounds more like plugin territory?

It's probably easier to hide the blocks for now, and re-enable them later, rather than the other way around. D

[2022-04-27 12:40] draganescu commented on #38979
Another problem here is that when `Inherit query from template` is set the sticky preferences should either be hidden or they should be merged in the global query. Which one is more expected for the user? Given how the sticky behavior works in WordPress (`get_option( 'sticky_posts' );`) I think we should keep the sticky settings and merge them into the global query.

[2022-04-27 13:02] #40646 closed, assigned to youknowriad

[2022-04-27 13:16] priethor commented on #40139
With the Webfonts API alternative merged in #40472, the only remaining high-priority issue is #40059. Considering it's a bug, I would say we are in a good place. cc @ndiego for awareness of this issue, too

At this late stage, the other nice-to-haves should be punted to 6.1.

[2022-04-27 13:24] ndiego commented on #40139
@priethor see my latest comment on #40059. This is an issue in the Twenty Twenty-Two theme. It should be addressed in the theme by the 6.0 release but is not Gutenberg specific.

[2022-04-27 13:32] youknowriad commented on #40059
Hi there! this is not really a new bug but more of an unsolved conceptual issue. (I touched upon this on other issues)

Basically, when you transform blocks or just move blocks between different containers, the "align" attribute might not make sense anymore. It's the container that defines the available alignments for its children, so if I move from a container that supports "wide" alignment to on

[2022-04-27 13:47] draganescu commented on #38979
The problem with sticky posts not sticking is because `$query->is_home` is not true. Only if `is_home` is true the sticky posts logic is executed. it is weird b/c `is_home()` returns `true`. It is not home because by default there is an `s` query arg which makes the WP_Query think this is a search.

[2022-04-27 13:50] skorasaurus commented on #33588
0.66.2 is now used; can this be closed?

[2022-04-27 13:58] #40443 closed, assigned to Mamaduka

[2022-04-27 14:18] jffng commented on #31446
cc @scruffian I was chatting with @beafialho about some of our theme designs, and thought this would still be useful.

[2022-04-27 14:24] draganescu commented on #38979
#40656 fixes the rendering I think, in a new PR the editor side should be also fixed.

[2022-04-27 14:33] priethor commented on #40139
@youknowriad also shared some insightful feedback that explains it's not a bug, but a conceptual issue; solving it holistically in the editor doesn't seem feasible for 6.0.

In any case, at this point, it doesn't seem to me that this unexpected behavior should be a blocker to shipping the new block variations in 6.0, and I'd lean towards downgrading its severity here.

Any thoughts or objections,

[2022-04-27 14:41] luisherranz commented on #40617
Sure. Sounds good 🙂

[2022-04-27 14:59] matiasbenedetto commented on #15110
This is still an issue today. Testing with WordPress  5.9.3 + Gutenberg latest dev version.

https://user-images.githubusercontent.com/1310626/165548675-bf6d8060-cd76-494f-b79a-ed41dd71417f.mp4

[2022-04-27 15:02] poof86 commented on #35591
This doesn't seem to work though. I had to download a variable font to get weights working

[2022-04-27 15:34] ockham commented on #29002
Another regression: https://github.com/WordPress/gutenberg/pull/40643

[2022-04-27 17:33] annezazu commented on #40619
Hey there! Can you share what version of WordPress and Gutenberg you're using in order for folks to replicate this? I'd also love to know what you're doing to measure the change in performance. Thanks in advance.

[2022-04-27 18:01] annezazu commented on #40139
I agree with your read and don't think this should be a blocker, especially after reading the insights from Riad (thank you, as always).

[2022-04-27 18:51] kmonahan commented on #39435
Opened https://github.com/WordPress/gutenberg/pull/40660 to add support for decorators.

[2022-04-27 20:00] jasmussen opened #40661 "Gradient Tool: Clicking the angle control closes the popover"
The gradient tool comes with an input field for angle, and a separate angel control. When clicking the angle control in the flyout, the entire flyout closes, as shown here:

![gradient](https://user-images.githubusercontent.com/1204802/165621239-25c1b261-3fd5-4e4b-b526-388d736d7daf.gif)

Steps to reproduce:

* Insert a cover block
* Add a background gradient
* Turn the angle control knob

[2022-04-27 20:47] jasmussen commented on #21477
In light of the List block receiving nesting, I'm going to close this one as essentially obsolete. There are still aspects of the conversation here that may be relevant, so they're crosslinked from the nesting work in https://github.com/WordPress/gutenberg/pull/39605#issuecomment-1073644254.

[2022-04-27 20:47] #21477 closed

[2022-04-27 20:48] jasmussen commented on #27496
Revisiting this one in light of many of the alignment refactors that have happened since this conversation, I actually tend to think we should keep the button as-is, at least for now, and then revisit/reopen if a need arises.

[2022-04-27 20:48] #27496 closed

[2022-04-27 20:54] jasmussen commented on #31373
I've edited the title and description of this issue:

* One issue — a description to note the filter is non destructive is already fixed
* The other issue, that duotone should not be available in the setup state, was recently made _intentional_ for the Featured Image block, so it's clear that a filter will be applied. There are opportunities to expand that for the Image block itself, but I removed

[2022-04-27 21:39] coreyworrell commented on #36469
@annezazu Navigation block is now in core, so shouldn't it be allowed on the widgets screen? Does not work still in 5.9.3

[2022-04-27 21:47] jasmussen commented on #38982
As of recent changes, the empty navigation block doesn't collapse as shown in the GIF above, and while it doesn't show the big white appender as suggested, in effect this solves the issue!
<img width="823" alt="Screenshot 2022-04-27 at 23 46 21" src="https://user-images.githubusercontent.com/1204802/165636595-7be021eb-6bfe-4fbc-9523-e9a3036568ba.png">

Therefore, closing this one 🎉

[2022-04-27 21:47] #38982 closed, assigned to nobody

[2022-04-27 23:46] uniquesolution commented on #40619
I am using Wordpress 5.9.3 and gutenberg plugin version 13.0.0, I am just measuring it as visible lagging in time. For example let two separate pages one with a navigation block (with a big menu in it) and another without any navigation block, Put same content in both pages and compare block editor how much more effort you have to take to make any changes on the page.

[2022-04-28 02:27] costdev commented on #40248
## Test Report

### Environment
* Server: Apache (Linux)
* WordPress: 6.0-beta3-53290-src
* Browser: Chrome 100.0.4896.127
* OS: Windows 10
* Theme: Twenty Twenty-Two
* Plugins:
  * Gutenberg (trunk)

### Steps
1. Post three comments: 1) A single line comment. 2) A multiline comment. 3) A comment with multiple paragraphs.
2. Notice that the line breaks are not respected. Wall of text.
3. Apply #40

[2022-04-28 03:47] talldan commented on #40605
The underlying data for hidden blocks was recently rearranged a bit and moved to the `core/preferences` store (the `hideBlockTypes` action still works though).

That store does have an API for defaults:
[code]

But this default is only applied when `hiddenBlockTypes` is `undefined` (when a user hasn't interacted with the block manager at all). As soon as a user toggles a single block in the block

[2022-04-28 04:22] hagege opened #40669 "Navigation Block - submenu menu font styles appear incorrectly when switching to "Open on click""
### Description

There seems to be an issue with the navigation block: If I switch SUBMENUS to "Open on click" in the properties on the right, the set Appearance is obviously not taken into account, see the following video.

### Step-by-step reproduction instructions

I think in the video you can see the issue very well

### Screenshots, screen recording, code snippet

![issue_navigation](https://

[2022-04-28 05:04] talldan commented on #40669
@hagege It's always helpful to include text instructions as there are contributors to this project that have visual impairment and may be unable to see the video.

Anyway, I tested and can confirm the bug, though with slightly different results. I guess it may differ depending on the active theme. In Twenty Twenty Two, the font weight looks ok in the editor, but on the front-end it's broken like y

[2022-04-28 05:05] carolinan commented on #40669
I can reproduce this. When we enable open on click, the menu item is a button, not a link text, and it looks like the browser /user agent styles for the button is overriding the inline _appearance_ styles which are on the parent `<nav>` item.

Chrome, PC

[2022-04-28 05:15] hagege commented on #40669
sorry, I will add a description next time 😓

[2022-04-28 05:18] shimotmk commented on #40605
@talldan
Thanks for the reply.

I see...
You made some changes around here.
https://github.com/WordPress/gutenberg/issues/31965

`setDefaults` is a very nice function!

The issue is open. Looking forward to seeing the functionality added!

[2022-04-28 05:24] talldan commented on #40669
Thank you for reporting the issue though, I don't mean to sound ungrateful!

[2022-04-28 06:12] carolinan commented on #40580
Should this be a text field in the display panel?

[2022-04-28 06:21] carolinan commented on #40574
Just letting you know that at Yoast we have received additional bug reports about this issue, we are looking into it.
Because this is not a Gutenberg issue, I will close this issue but I will keep you updated when I learn anything new.

[2022-04-28 06:21] #40574 closed, assigned to nobody

[2022-04-28 06:21] glendaviesnz opened #40672 "Test fixtures: Look at options for sharing block test fixtures"
## What problem does this address?
Currently there is some duplication of block test fixtures between Gutenberg plugin and WordPress core, and 3rd party plugins can't easily access and make use of these fixtures in their own tests.

## What is your proposed solution?
Look for a way to make the fixtures shareable, and decide where the one source of truth for these should be.

[Related discussion](h

[2022-04-28 06:21] Greatdane opened #40673 "FSE Template Parts: On mobile viewport, long usernames run over "actions" button"
### Description

In the Template Parts list in the FSE, if you have a longer username, it will run over the three-dots "actions" button on mobile viewports.

The button is still clickable, it's just hard to see.

### Step-by-step reproduction instructions

1.  Go to the site editor
2.  Go to Template Parts (from nav sidebar)
3.  Have a long username (you can just update the DOM directly in dev too

[2022-04-28 06:32] fabiankaegy commented on #26688
I am no longer able to replicate this in Gutenberg 13.0 :)

[2022-04-28 06:32] #26688 closed

[2022-04-28 06:34] #35222 closed, assigned to nobody

[2022-04-28 06:48] kebbet opened #40675 "WP 6.0 Beta 3 – new post defaults to 404-template"
### Description

When creating a new post, the sidebar UI says Template: 404. When saving, the UI is updated with the correct template (Single Post). This is a change from beta 2.

If i save the post as a draft, the UI still says Template: 404, but leaving the editor and returning gives me the correct template (Single Post).

### Step-by-step reproduction instructions

1. Install WP 6.0 beta 3.
2.

[2022-04-28 07:05] Mamaduka commented on #40675
I was able to reproduce the issue.

The `__experimentalGetTemplateForLink` resolver returns 404 for new posts. The resolution works correctly when the Gutenberg plugin is active.

[code]

[2022-04-28 07:07] aristath commented on #32644
Reopening this one because #40464 is getting reverted.

[2022-04-28 07:14] Greatdane opened #40676 "Classic Block: Can't select multiple lines of text and style them all at once"
### Description

When selecting multiple lines of text in a Classic block and then styling it using one of the toolbar options (like Bold, Italic, Alignment options) it only affects the first highlighted word or line.

### Step-by-step reproduction instructions

1.  Create a new post
2.  Add a Classic Block
3.  Enter several lines of text separated by a Return
4.  Highlight all of the text
5.  Cli

[2022-04-28 07:56] dejliglama commented on #34977
Putting my +1 on this feature as well. The Loop block is amazing - just up untill this point:) As of now, I need to hand code or use a different loop-feature plugin to accomplish this.

[2022-04-28 08:08] carolinan commented on #38537
I believe that since we want to avoid JavaScript on the front, the markup of the block needs to change.
We can change the order of the markup depending on the image position in the edit and save, but in my test, I was not able to make it backwards compatible through deprecation...

[2022-04-28 08:11] npmmirror opened #40678 "Git.io deprecation notice"
Hello, I've found that some of your files in this repo is still using https://git.io/, and this service will be discontinued in the future. (ref: [Git.io deprecation](https://github.blog/changelog/2022-04-25-git-io-deprecation/))
Theses files are: packages/react-native-editor/metro.config.js

[2022-04-28 08:28] #40248 closed, assigned to peterwilsoncc

[2022-04-28 08:45] carolinan commented on #35221
We can reproduce this design with rows or columns. But I think it may still be easier for many users to place the featured image in the media & text block.

[2022-04-28 09:31] fabiankaegy commented on #40618
This feature would also be great for 3rd party blocks.

I can think of 2 different ways of approaching it.

### 1. On a Block Level
The first thing that came to mind was building this out as a block support property that blocks can define.

`block.json`
[code]

[code]
_Note: Not an actual API. Just as an example

### 2. On a Template Level
Another option is to expose this level of control on the t

[2022-04-28 09:44] Azragh opened #40679 "Don't add "huge" and "normal" font-size variables to global styles if a theme registers them"
### Description

Not a big thing, but according to this post https://make.wordpress.org/core/2022/01/08/updates-for-settings-styles-and-theme-json/ the presets for huge and normal font sizes were moved to global styles for backwards compatibility and removed from the editor. When I define them by myself now, I get the assignment twice.

Could this be avoided somehow?

### Step-by-step reproduction

[2022-04-28 09:54] jameskoster commented on #40618
The block level approach sounds good as it would allow us to cover things like removing Post Template from Query Loop – something that can happen in both the site editor and the post editor.

[2022-04-28 09:58] fluiddot commented on #40540
It would be great to focus on this sooner than later because, by the end of May 2022, Node.js 12 will be deprecated. This means that only version 14 will be the one that still supports npm 6, which will be deprecated in May 2023.

<img width="600" alt="Screenshot 2022-04-28 at 11 50 43" src="https://user-images.githubusercontent.com/14905380/165728207-ef5cddd0-b722-4317-9872-56ed1092acd9.png">
<im

[2022-04-28 10:05] carolinan commented on #15668
Block themes: The spacing is now equally large in the editor and front thanks to the block gap.

Classic themes without theme.json: The difference is still visible. I think we may run into backwards compatibility problems with classic themes that have made up for this by adding their own styles. Is changing this margin still something that we want to do?

[2022-04-28 10:27] ockham commented on #40617
I'm overall on board with @jameskoster's [rationale](https://github.com/WordPress/gutenberg/issues/40617#issuecomment-1110936440) -- and it sure would declutter the UI from a ton of (rather ugly) warnings that a user would encounter in those edge cases.

The one thing that's giving me pause is that is has been possible to insert the Post Comments block into the Post Editor -- which we've now depre

[2022-04-28 10:55] StephenBugden commented on #7247
Hello, Does anyone have an answer to the last question from @vladoa ?

I'm trying to access the attributes from the innerblocks and can't find a way to do it.

[2022-04-28 11:06] jjarolim commented on #7247
If you can't find any reference to your parent block, you could maybe get the current post content, use parse_blocks to get the whole block structure as an nested array, search for your block id and go from there ...

[2022-04-28 11:13] StephenBugden commented on #7247
Hi @jjarolim,
Thanks for the idea, I'll take a look.
Assume one of the fields in the post content will contain the attributes.

[2022-04-28 11:24] SantosGuillamot commented on #39654
# Comments blocks

## Enable legacy Post Comments block

With WordPress 6.0, there is a new [set of blocks to show the Comments of a post](https://github.com/WordPress/gutenberg/issues/34994):
- [Comments Query Loop](https://href.li/?https://github.com/WordPress/gutenberg/tree/trunk/packages/block-library/src/comments-query-loop): An advanced block that  displays  post comments and allows for vari

[2022-04-28 11:28] ockham commented on #40521
@SantosGuillamot kindly posted the dev note here: https://github.com/WordPress/gutenberg/issues/39654#issuecomment-1112088158

[2022-04-28 12:03] Mamaduka commented on #37671
Hi, @scruffian

Since you worked on recent export updates, do you remember if this is still an issue?

[2022-04-28 12:27] jameskoster commented on #40617
Good catch. Hmm. Iirc that block would only display the comments of the current post. Could there perhaps be a simplified variation of Comments Query Loop which replicates the old Post Comments block? IE it only contains Comments Template and the associated blocks. No title, pagination, form, etc.

There's a case to be made for doing this with the Query block too (https://github.com/WordPress/gute

[2022-04-28 12:36] anton-vlasenko commented on #40548
In my opinion, the solution proposed by @adamziel is totally valid.

We had the same process on one of the open-source projects I was involved in.
There was a requirement to create a separate PR to backport the changes to the open-source version of that project each time we submitted a PR to the "commercial" repository of the project.

Speaking of WordPress, there must be a requirement to backport

[2022-04-28 12:41] scruffian commented on #37671
We decided that this is the correct behaviour, see https://github.com/WordPress/gutenberg/issues/39576

[2022-04-28 12:41] #37671 closed, assigned to Mamaduka

[2022-04-28 12:41] Mamaduka commented on #37671
Thank you, @scruffian.

[2022-04-28 12:45] scruffian commented on #40557
IMO the two arrays should be merged.

[2022-04-28 12:47] MaggieCabrera commented on #40557
I'm not so sure, if you want a child theme to override all the parent's colors, there's no way for you to do that. If you want both, you still can do that even if you have to copy manually the parent's colors. What about having a new option to select if we want to merge or override?

[2022-04-28 13:13] StephenBugden commented on #7247
Hi @jjarolim,

I tried accessing the content via the $content variable and via get_the_content().

In both cases I don't see the attributes.

This is my callback function:
[code]

This is was the output
Attributes
The number of columns is 3!
`The content is <div class="wp-block-mywebsitename-generic-cards has-3-columns"> <div class="wp-block-blocks-course-team-member"><img src="https://mywebsitena

[2022-04-28 13:25] jasmussen opened #40686 "Latest Posts: Incorrect tab-order when featured image is linked and floated right"
Steps to reproduce:

* Have several published posts each with a featured image attached
* Insert a latest posts block
* Toggle showing featured images, linking featured images, and floating those featured images right

Observe in the above case that the tab order goes to the featured image first, then the title, which is a tab order that doesn't match the dom order.

Potential solutions:

* Move t

[2022-04-28 13:33] LukaszJaro opened #40688 "Full-site-editing: Allow to add text to site logo block"
I wanted to add just plain text to the site logo block instead of an actual image. I could probably just use a paragraph or heading block but then you lose the markup like aria-current, rel=home and custom logo link class plus potentially other hooks not working with custom logo.

I wanted something like this:

`<div class="wp-block-site-logo"><a href="https://home.test/" class="custom-logo-link"