[2021-06-08 08:07] hypest commented on #24425
For clarity, @SiobhyB is working on the Android side of the fix.

[2021-06-08 08:17] jasmussen commented on #32493
This is a wild and fun exploration, thanks for doing that!

I recall we actually did explore a vertical block toolbar in [the 18667 explorations](https://github.com/WordPress/gutenberg/issues/18667), for exactly that reason: constrained contexts. Ultimately that wasn't the path taken, primarily because it required a minimum _height_ of the viewport, rather than a minimum _width_, and for 1-line pa

[2021-06-08 08:18] dennisheiden opened #32507 "Width alignment options for paragraph, lists and quote"
## What problem does this address?

Paragraphs, lists and quotes don't have width alignment options. This is somehow weird because headings and pullquote have.

![image](https://user-images.githubusercontent.com/25924499/121147179-ee83a880-c840-11eb-8092-8fa6a90b78bc.png)

![image](https://user-images.githubusercontent.com/25924499/121147231-fb080100-c840-11eb-9c18-91e3e68cebe3.png)

## What is yo

[2021-06-08 08:27] tomjn commented on #29115
This sounds fair, title updated!

[2021-06-08 08:43] zzap commented on #32365
Hello friends, I come bearing gifts and praises ❤️ Not sure if you hear this often enough but you're all heroes and, personally, I admire your work, dedication and, especially, patience with us who wants more docs.

Now business. We have 3 Trac tickets for Editor component marked for dev note. Reviewing everything in this thread, I believe they're not mentioned (correct me if I'm wrong) but think

[2021-06-08 08:48] youknowriad commented on #32365
hi @zzap thanks for highlighting these.

@aristath would know more, I believe we did a post about it (maybe a dev note in the previous release or something but I'm uncertain). If there are changes in the behavior, a dev note would be needed yes.

Good one yes, I'll add to the list cc @gziolo

This one is already covered by:  "Consolidate block registration using registerBlockType #32030 #30293"

[2021-06-08 08:52] gziolo commented on #32365
I'm planning to provide this week both dev notes @zzap and @youknowriad discussed above 👍🏻

[2021-06-08 09:14] johngodley opened #32509 "Spaces removed or changed to &nbsp; when pasting HTML with links"
If you rich text copy some HTML from a web page and paste into Gutenberg it sometimes removes spaces, or changes them to `&nbsp;`.

**Edit - see [follow-on comment ](https://github.com/WordPress/gutenberg/issues/32509#issuecomment-857492170)for a better example**

For example, if the web page contains this HTML:

`<p><a href="https://apple.com">+something</a> <a href="https://pear.com">+somethinge

[2021-06-08 09:43] getsource commented on #29115
Awesome, thanks!!

[2021-06-08 11:59] grogou opened #32511 "Broken theme mods option"
## Description
When activating Anyone can register option from wordpress settings, theme_mods options goes broken on db.
It's i guess can be with FSE.

## Step-by-step reproduction instructions
1. Activate some FSE theme for example TT1 Blocks theme.
2. Go to General settings and activate Membership ( Anyone can register )

## Screenshots or screen recording (optional)
![image](https://user-images

[2021-06-08 12:20] mcsf commented on #32504
Hm, I wasn't aware of the special treatment of scripts linked via the `bin` property in `package.json`. The [docs](https://docs.npmjs.com/cli/v6/configuring-npm/package-json#bin) even stress:

Which leads me to think that Node must do some special dance in Windows runtimes in order to handle these well.

In that case, I withdraw my recommendation to remove shebangs. I think trying to discern good

[2021-06-08 12:25] deborah86 commented on #31708
@ramonjd I will do more testing.  Maybe it is an issue with the Twenty Twenty theme?

[2021-06-08 12:27] dorzgi opened #32515 "@wordpress/env: Add Support for Environment Variables in wp-config.php"
Hello,
We know we can add custom constants to `wp-config.php` using `.wp-env.json`, however we would like to be able to change the value using environment variables.

For example,
If we define the constant `BASE_API_URI` we would like the ability to have the value of the constant be populated with an environment variable we will pass.

Thanks!

[2021-06-08 13:40] skorasaurus commented on #21060
Hi,

I'm closing this since you have reported that this has been fixed in the latest version of Gutenberg. Please reopen if  you are still experiencing this.

[2021-06-08 13:40] #21060 closed

[2021-06-08 13:48] interglobalmedia commented on #27028
Hi, POSTCSS 8.3.0 is not working for me. Have no errors, but when I updated all npm packages yesterday including webpack to 5.38.1, my styles are not being added to the head in html. So No styling and no JS that depends on the styles to work. No errors in the console, though.

[2021-06-08 13:48] reageek commented on #32515
Look into [roots bedrock](https://roots.io/bedrock/). It has a [means to do this](https://roots.io/docs/bedrock/master/environment-variables/#wp-env).

[2021-06-08 14:02] skorasaurus commented on #32434
Thanks for reporting.

The third error ( .wp-block-separator.is-style-dots); I cannot reproduce with the validator using wp-includes/css/dist/block-library/style.min.css found in WordPress 5.7.2

The first two errors, I can reproduce with the w3 validator, are specifically from the buttons block, and the code is in build/block-library/blocks/buttons

I don't have time right now to continue with th

[2021-06-08 14:39] ockham commented on #25173
Sorry for the late reply, I only saw this now. The fact that the customizer is disabled for FSE themes is relevant in that it makes it impossible to delete the custom logo from there -- see the repro instructions in the original issue description. If that's no longer possible, the site block becomes the only way to change the site logo.

Seems like 😅  -- see #32229, #32229, and @pablinos' [comment

[2021-06-08 14:43] ockham commented on #25173
One thing I'd recommend at this point -- since the Site Logo has seen so much back and forth -- would be some solid unit test coverage to define the desired behavior. I think it's partly covered by unit tests in `wordpress-develop` already, so it might be a matter of "just" running those tests with GB enabled.

[2021-06-08 14:47] johanhermansson commented on #29332
@Mamaduka Yes, it works in Gutenberg plugin 10.7.4, but I still have the problem in Wordpress 5.7.2 when only using core block editor. Great that it's on it's way to next core version. Thanks! 👍

So what's the workflow here? Should I close this issue? 🙃

[2021-06-08 14:58] #32504 closed, assigned to nobody

[2021-06-08 14:59] gziolo commented on #32504
Interesting learning about the recommendation for `package.json` setup related to scripts linked via `bin` 👍🏻

[2021-06-08 14:59] Mamaduka commented on #29332
I will close this issue as resolved. Feel free to re-open it or create a new one if you stop anything similar in the future.

[2021-06-08 14:59] #29332 closed

[2021-06-08 15:29] #32470 closed, assigned to ellatrix

[2021-06-08 15:30] Sandstromer commented on #32511
I had a similar issue that may be related.

Was trying out a membership plugin in conjunction with a FSE theme and all was working good before 10.7.3.

After updating Gutenberg to 10.7.4 (not 100% sure whether the error appeared in 10.7.3 or 10.7.4 as they were released very close together) I got the `Warning: Illegal string offset 'custom_css_post_id' in ..\wp-includes\theme.php on line 1063` err

[2021-06-08 15:35] Sandstromer commented on #32511
Just to add that all my another installations that did not have any membership plugins nor the 'Anyone can register' option selected, were okay after updating to 10.7.4

[2021-06-08 15:59] ttencate opened #32519 "wp-env: Keep uploads on a Docker volume"
## What problem does this address?
After re-creating the Docker containers, for example after modifying `.wp-env.json`, the database is kept, but uploads are not. This surprised me. It is pretty annoying behaviour when working on a plugin that relies on uploaded images, because now the image files are all gone.

## What is your proposed solution?
A persistent Docker volume could be mounted on `/va

[2021-06-08 16:02] tomjn opened #32520 "Add text to image button is shown even when the cover block cannot be inserted"
## Description

There is a transform on the image block that has been turned into a button so that there is an easy shortcut. This button is shown when the cover block is registered.

However, if the cover block settings are filtered so that support for insertion and transforms are removed, the button persists, resulting in broken things ( this site does not support the cover block in these contex

[2021-06-08 16:09] melchoyce opened #32521 "Media & Text: Add Full-Height & Alignment Options"
## What problem does this address?
I often use the Media & Text block and am disappointed when I don't have the same full-height options, with text alignment, that I get in the Cover block.

## What is your proposed solution?
Add full-height & alignment options to the Media & Text block.

See #16385, #26615.

[2021-06-08 16:19] melchoyce opened #32522 "Add a Row Block"
## What problem does this address?
The Columns block allows you to do interesting layouts like this, where there are columns of text with different alignments:

![image](https://user-images.githubusercontent.com/2846578/121221310-6fe43680-c853-11eb-8f42-cd1996a0c8f0.png)

But there isn't an equivalent way to handle this vertically:

![image](https://user-images.githubusercontent.com/2846578/121221

[2021-06-08 16:48] jorgefilipecosta commented on #29864
If we could have edit locking as a general thing instead of a block-specific implementation it would have some advantages. For example, post-content may have multiple blocks inside and have an edit locking the edit locking should affect all the blocks inside even if they don't implement an edit lock. A general solution may be having the editor put an invisible overlay to make things unclickable an

[2021-06-08 16:53] pablinos commented on #25173
@grantmkin I found some notes I made about this issue when we went through it together in December! I think we decided the main part of the solution is for the behaviour to change based on the type of theme that is active, or being activated.

- Traditional themes should display the `custom_logo` option
- Block themes should display the `sitelogo` option
- On theme activation, the option should be

[2021-06-08 17:39] manooweb opened #32523 "Legacy widget preview iframe request is sometime cancelled by the browser"
## Description
When we choose some options in our language legacy switcher legacy widget, its preview doesn't render anything because the preview iframe request is cancelled by the browser.

## Step-by-step reproduction instructions
1. Go to Appearance > Widgets
2. Open the browser developer toolbar on the network tab
3. Add only the language switcher legacy widget
4. Delete all the requests in th

[2021-06-08 20:04] stokesman commented on #32497
After testing this some more, it seems to be an issue in react-use-gesture. I was able to make a [minimized reproduction](https://codesandbox.io/s/draggable-number-dvqi6) of the issue without any Gutenberg code. Simply adding the `useDrag` handlers on a `<input type="number"/>` will do it.

If we want banish this bug from Gutenberg we could replace the drag handling with another solution.

[2021-06-08 20:24] skorasaurus commented on #29662
Thanks for submitting these. These all appear to be functioning as intended. Please reopen if there are additional broken links or I misunderstood the issue.

[2021-06-08 20:24] #29662 closed

[2021-06-08 20:45] skorasaurus commented on #24280
I'm able to reproduce this in Gutenberg 10.7.4 with Firefox 89. This is applicable across different blocks' sidepanels that accept custom units as well in the site editor.

I'm unable to reproduce this in Chrome.

[2021-06-08 20:51] iamthomasbishop commented on #32409
@Guarani I can't remember off the top of my head, but I will try to find an example. 😄

[2021-06-08 23:51] makc commented on #19756
@SeanDS cant you like make an svg and put that into \<img\> src attribute

@jerryjee I do not remember enough to answer that

[2021-06-08 23:53] glendaviesnz commented on #32509
I wasn't able to replicate this on latest trunk in Chrome or Firefox

<img width="600" alt="Screen Shot 2021-06-09 at 11 51 43 AM" src="https://user-images.githubusercontent.com/3629020/121272118-468dde00-c919-11eb-8334-38a3918fb097.png">

<img width="563" alt="Screen Shot 2021-06-09 at 11 52 57 AM" src="https://user-images.githubusercontent.com/3629020/121272126-4b529200-c919-11eb-959d-844655d0ab

[2021-06-09 00:24] glendaviesnz opened #32526 "RichText paste breaks with multiple pastes"
## Description
When trying to paste into a rich text block like Paragraph, if multiple pastes are done in a row, or sometimes when content is deleted and new content pasted, a console error is thrown and the content of second paste does not appear in the editor.

## Step-by-step reproduction instructions

- In the editor try and paste some text into a paragraph block, and then paste the same text

[2021-06-09 01:18] talldan commented on #32419
I think this is the same bug as https://github.com/WordPress/gutenberg/issues/32056 - shift clicking to multi-select doesn't seem to work in nested blocks (e.g. widget areas).

[2021-06-09 01:45] stokesman commented on #22047
I was just testing this in Safari 12 and 14 and could not reproduce it in either. I tested trunk with Safari 12 and https://wordpress.org/gutenberg with Safari 14.

[2021-06-09 01:50] alaczek opened #32529 "Could we have Read more link as a stand alone block?"
At the moment a "Read more" link is a part of the Post Excerpt block. The minimum length of Post Excerpt is 10 words, so it's not possible to create a "Read more" button or link that way. This is where I got the idea of a stand-alone Read more block, and I'd love to hear other people's opinions.

Here are some design ideas this would enable:

![image](https://user-images.githubusercontent.com/4550

[2021-06-09 02:48] kevin940726 commented on #32061
@stokesman That is awesome! My concern about that draft PR is probably that the block toolbar will stay visible even if we scroll down pass the block. This is not happening in the post editor, and could unfortunately be seen as a bug. I'm not strongly against it though if @critterverse think it's a better trade-off.

In theory I think it could work, but it probably requires adding/refactoring some

[2021-06-09 03:20] tellthemachines commented on #31250
Pretty sure this has been fixed by  #32450, could you double check?

[2021-06-09 03:53] alaczek commented on #30522
I wasn't able to reproduce but I might be missing something.

How exactly did you create/set up the blog?

[2021-06-09 04:16] alaczek opened #32531 "Query block: Nicer URLs for paged query."
I noticed that URLs of a paged query results have a structure looking something like this: `https://mylocal.test/test-page/?query-7-page=2`. Would it be possible for the link to look nicer and be more easily readable?

Steps to replicate:
1. On a site with a few blog posts, create a new page and add a Query block.
2. Configure the Query block so that not all of the posts would be shown, and add a

[2021-06-09 04:16] Mamaduka commented on #32520
Thanks for reporting this, @tomjn.

Can you share the code for filtering cover block settings?

[2021-06-09 04:19] talldan commented on #32436
It's worth considering how plugins might work. A block might have a setting for `allowedBlocks`. A plugin has no way of modifying that. If a plugin wants to add a new supported inner block type to the navigation block, the only option is the `parent` property.

So I think the current behaviour is correct. Making `allowedBlocks` have precedence would severely limit what plugins can do.

It's been m

[2021-06-09 05:15] kevin940726 commented on #32418
I wonder if we would want to add the same thing for the customizer editor?

[2021-06-09 05:49] kevin940726 commented on #2768
The React core team recently shared their top-level overview of how SSR would look like in React 18: https://github.com/reactwg/react-18/discussions/37

It might worth a read, and be taken into consideration when designing our async loading strategy.

[2021-06-09 05:51] sabernhardt commented on #21126
[Trac #53366](https://core.trac.wordpress.org/ticket/53366) has another request to use the "default" font size for these paragraphs.

[2021-06-09 05:56] sabernhardt commented on #21126
Could it be as simple as removing the one line from gutenberg/packages/block-library/src/media-text/edit.js?

[2021-06-09 06:24] justintadlock commented on #32529
I'd be open to this as long as we could still show the read more link as part of the excerpt too.  If the user selects "read more on a new line," it could generate an inner block for the excerpt.

[2021-06-09 06:34] shawngrona opened #32533 "[Block-Library] - Sass: DEPRECATION WARNING: Using / for division is deprecated and will be removed in Dart Sass 2.0.0"
## Description
With Sass v 1.34.0+ we receive the error

[code]

## Step-by-step reproduction instructions
Compile the @wordpress/block-library with sass package 1.34.0+
[Bootstrap is experiencing similar issue](https://github.com/twbs/bootstrap/issues/34051) as are many other projects if you search for the warning text above.  Users is github threads report downgrading to sass package 1.32 remove

[2021-06-09 07:27] #24984 closed

[2021-06-09 07:58] ntsekouras commented on #25394
Closing in favor of https://github.com/WordPress/gutenberg/issues/32317 which explores the flow for 'locking' the Post blocks.

[2021-06-09 07:58] #25394 closed

[2021-06-09 08:03] aristath commented on #32511
This was a bug in a couple previous versions and it was fixed. @Sandstromer is right, this was due to changes in the site-logo block. https://github.com/WordPress/gutenberg/pull/31994 is the PR that broke it,  #32229 is the PR that fixed the issue.

[2021-06-09 08:20] johngodley commented on #32509
Thanks for looking @glendaviesnz. Did you copy rich text or plain text?  Based on your console output I think you copied plain text. To be clear, this problem only exists when copying rich text. That is, you select and copy from a web page, not just the plain text HTML. I've edited the original issue to make this clearer.

After trying to create a better example I think it involves copying more th

[2021-06-09 08:27] anteksiler commented on #16613
@andfinally I am not able to retrieve the width and height attributes to pass to responsiveWrapper

[2021-06-09 08:41] talldan commented on #32335
@KGrand78 (just dropping a direct ping to make sure you get a notification about the above message)

[2021-06-09 08:45] talldan commented on #32533
Would have expected the package to have a major version bump, that seems like a big breaking change.

[2021-06-09 08:48] talldan commented on #32476
There's a custom HTML block.

[2021-06-09 08:48] #32476 closed, assigned to nobody

[2021-06-09 09:00] getdave commented on #24099
I'm still in favour of retaining `<LinkControl>`. I don't think we should underestimate how much this has allowed us to unify the experience of creating/adding a hyperlink within Gutenberg.

By removing this control we'd be going backwards towards asking developers to manually wire together several highly complex components. This will likely return us to a fragmented user experience and add additi

[2021-06-09 09:05] getdave commented on #32436
I'm thinking this might be just a limitation of the block supports API (ie: it's not filterable)? It feels like we're allowing `parents` to take precedent purely in order to allow Plugins to modify where a block appears. To me as a developer if I set a whitelist of `allowedBlocks` on my `InnerBlocks` I'd expect that to be honoured. I certainly wouldn't expect this to be overridden because of anoth

[2021-06-09 09:08] talldan commented on #23864
I couldn't reproduce the issue, testing with two users:
<img width="277" alt="Screenshot 2021-06-09 at 4 51 42 pm" src="https://user-images.githubusercontent.com/677833/121324146-09d6dc80-c943-11eb-9c62-8cdf8ca90d31.png">

@rodolphebertozzo How many users are on your site? There is some logic that hides the field if there's only one user, and also some logic that changes the field to a combobox fo

[2021-06-09 09:11] gziolo commented on #27088
I started https://github.com/WordPress/gutenberg/pull/32537 which tries to tackle the remaining issues.

[2021-06-09 09:12] talldan commented on #31739
@tijmensmit Please could you fill out the bug report template (you can edit your description and update it with these details - https://github.com/WordPress/gutenberg/issues/new?assignees=&labels=&template=Bug_report.md).

This is unlikely to be looked at without that.

[2021-06-09 09:14] #30937 closed, assigned to nobody

[2021-06-09 09:15] #6966 closed

[2021-06-09 09:15] #19780 closed

[2021-06-09 09:17] talldan commented on #30937
@ballerburg9005 I've closed the issue—if you can't use professional and responsible language then you're not welcome.

If you'd like to act more responsibly you can fill out individual bug reports for each of the issues. Making sure to use the bug report template we have will lead to more chance of the issue being looked at.

[2021-06-09 09:17] #31988 closed, assigned to nobody

[2021-06-09 09:19] talldan commented on #31988
@bfiessinger Please could you report this again, but this time using the provided issue templates. This issue is lacking lots of information—I'm not sure what block it refers to as a start.

[2021-06-09 09:24] talldan commented on #32084
Thanks for reporting this @kosiew. I've seen this mentioned before, and I believe before clicking 'save' you have to click 'crop' a second time to complete the crop operation. It isn't intuitive, I do think it'd be clearer if there were an 'Apply' button.

BTW - the media library isn't part of the Gutenberg codebase, this issue would have to be reported in trac (the bug tracker for WordPress core)

[2021-06-09 09:24] #32084 closed, assigned to nobody

[2021-06-09 09:29] talldan commented on #32301
Handling the space as you mention sounds like a good idea. Contributions are definitely welcome on this.

[2021-06-09 09:29] Aljullu opened #32539 "Navigation block collapses to the left when selected"
Originally reported in https://github.com/Automattic/themes/issues/3975.

## Description
When selecting the Navigation block, all its contents collapse to the left. This is reproducible in Navigation blocks which are center or right-aligned.

_Navigation block unselected:_
![imatge](https://user-images.githubusercontent.com/3616980/121328991-180e0400-c915-11eb-9360-8cee65199244.png)

_Navigation b

[2021-06-09 09:32] manooweb commented on #32523
I complete the description of the issue above in the case that the language switcher legacy widget already exists before the new block-based widgets screeen.
It simulates a WordPress 5.8 update from an older version.

**NB:** with WordPress 5.8 [Classic Widgets plugin](https://wordpress.org/plugins/classic-widgets/) is needed and activated to be able to access to the old widgets screen. It must  b

[2021-06-09 09:35] talldan commented on #32336
@Alexius08 I believe that when doing something like `<ToolbarItem as={ MyCustomComponent } />`, the custom component has to properly handle some additional props that ToolbarItem passes through. I'm not sure which ones, possibly `tabIndex`, and maybe a couple of others. You should be able to see by debugging your component or logging out the props. These props will need to be passed to the underly

[2021-06-09 09:43] ntsekouras commented on #32531
👋 - what do you propose as nicer URL?

Currently the `query-7-page=2` parts define:
1. query - the block name as there is no special labeling/naming per Query block instance
2. 7 - a unique numeric id per block instance
3. page=2 - the page number

We need all the above info (page and query identifier) because this way multiple Query Loop blocks are supported in the same page, with their own pagin

[2021-06-09 10:04] grappler opened #32540 "Nested Reusable Blocks do not render on undo"
## Description
After undoing an action nested reusable blocks do not render making it look like they have been deleted.

## Step-by-step reproduction instructions
Please list the steps needed to reproduce the bug. For example:
1. Add a column block with a paragraph and reusable block
2. Make a change like adding a new paragraph block or delete an existing block
3. Click the undo button to reverse

[2021-06-09 10:10] #31571 closed, assigned to nobody

[2021-06-09 10:19] sanzeeb3 commented on #8379
Thanks @codersantosh for sharing the solution. Post title text area id is now `post-title-1`?

[2021-06-09 10:26] senadir commented on #29864
We use `<Disabled>` to prevent interactions but this still doesn't prevent settings from showing up in the sidebar, do you want to prevent both?

[2021-06-09 10:29] mrfoxtalbot opened #32542 "Uploading a media file inside a reusable block adds duplicates of the file to the Media Library"
## Steps to Reproduce:

1. Create a reusable block.
2. Add several instances of this new reusable block to the post
3. Drag a media file from your computer and inside the reusable block.

Multiple instances of the file will be uploaded to the Media Library (instead of just one), one for each time the reusable block is being used on the post.

![Kapture 2021-06-09 at 12 24 48](https://user-images.g

[2021-06-09 10:56] bfiessinger commented on #31988
@talldan it is not a block per se it is about the inline background formatting option for textual content.
But sure I can reinit this issue with more information.

[2021-06-09 11:01] bfiessinger commented on #31988
@talldan I'm sorry just noticed that this is not a formatting option by Gutenberg rather it comes from the editorskit plugin...

[2021-06-09 11:23] tobifjellner opened #32544 "Time to refresh Gutenberg plugin description."
gutenberg.php:5 currently reads:
` * Description: Printing since 1440. This is the development plugin for the new block editor in core.`

However:
- I'd suggest to change the verb from "Printing" to "Publishing" in order to better connect with WordPress.
- The block editor isn't new anymore.
- Gutenberg is already about more than adding the block editor.

Therefore I suggest that we change this li

[2021-06-09 12:44] sagarnasit opened #32545 "Site Editor crashes when customPadding is enabled"
## Description
Site editor crashes when trying to open block styles for a group block. I also noticed that it is only happening when `customPadding` setting is enabled in theme.json. Not having this issue when `customPadding` setting is disabled.

This is happening for the group, cover, column, templatePart, and verse blocks.

## Step-by-step reproduction instructions
1. Install the latest Gutenbe

[2021-06-09 12:49] Nic787 opened #32546 "Possibility to use vh and % for cover image height"
## What problem does this address?

Consistency of web design and responsiveness. Sometimes, you want the cover image to fit the full height of the page or 60-70% of it. It's much easier to do when using 70vh  than ___ px.

![image](https://user-images.githubusercontent.com/11185348/121357248-a4153100-c8ff-11eb-9f6b-2d7817e8f4b4.png)

## What is your proposed solution?

Have the possibility to sel

[2021-06-09 12:53] getdave opened #32547 "Hide LinkControl rich preview placeholders if no content available"
In https://github.com/WordPress/gutenberg/pull/31464#issuecomment-857600248, when discussing rich previews, @javierarce suggested hiding the placeholders if there is no data returned for that placeholder from the API.

Here's the Figma for that https://www.figma.com/file/OXOmvYcX0Gpwgt7FB5LlKA/Rich-URL-metadata?node-id=0%3A1

This will need implementing as a follow up once In https://github.com/Wo

[2021-06-09 13:08] #31958 closed, assigned to nobody

[2021-06-09 13:11] getdave opened #32548 "Link control rich preview - improve image placeholder"
## What problem does this address?

In https://github.com/WordPress/gutenberg/pull/31464 @javierarce mentioned the following...

Currently, if an image in the `<LinkContorl>` rich preview isn't available we show a placeholder. However, it may not be clear that this is a placeholder.

## What is your proposed solution?
To improve this we can add the URL to the placeholder as shown in this mockup

<

[2021-06-09 13:12] getsource commented on #29109
I was able to reproduce this.

The default media and text block content from 5.3.8 generates the error, as does one with basic contents (image+text, no other modifications) added.

Here's the default block contents for testing:
[code]

[2021-06-09 13:21] Nic787 opened #32549 "Add a "sharing" option for social media icons"
## What problem does this address?
It's currently possible to add social media icons on our webpage via the Gutenberg Block and links them to our social media page. But how can people really share the content on their page is unknown. I know there are some plugins that can add share icons all over the place, but since the social icons from Gutenberg are pretty and already built-in, why not just ad

[2021-06-09 13:47] critterverse opened #32550 "Add a notice to the block inspector to indicate how “style” settings work when theme styles are disabled in the editor"
Opening this issue based on some discussion in #32449 around what should happen when changing block styles while the "Use theme styles" option is disabled in the editor (within Preferences -> Appearances). @tellthemachines did a great job explaining some of the complexities around this: https://github.com/WordPress/gutenberg/issues/32449#issuecomment-856382093

While it does feel somewhat like a b

[2021-06-09 13:48] getdave commented on #30007
## Attempt to unify modifications via Block Supports (abandoned)

Let's proceed with a round of PoC PRs with the aim of taking as many of the items listed above and trying to enable/disable them via the Block Supports API. This will act as a feasibility study. If it's possible then we can use this one API to control all elements of the block.

- [x] Constrain Allowed Blocks https://github.com/Word

[2021-06-09 13:49] critterverse commented on #32449
Opened a new issue with a small fix for the current behavior in #32550.

I'll plan to share some design explorations for introducing theme styles in the Widget editor(s) as they come together over in #26163, so we can probably close this issue. Thanks all 😁

[2021-06-09 14:05] aristath commented on #31739
If I'm not mistaken this is a duplicate of https://github.com/WordPress/gutenberg/issues/7960, and there's a pending PR in https://github.com/WordPress/gutenberg/pull/25187

[2021-06-09 14:21] critterverse opened #32551 "Create a block equivalent of the Meta widget"
It was recently noticed in https://github.com/WordPress/wordpress-develop/pull/1331 that we don’t have a block equivalent of the classic Meta widget. This seems like a useful widget to have a block version of!

![Screen Shot 2021-06-08 at 3 04 03 PM](https://user-images.githubusercontent.com/77359364/121368444-150d1680-c909-11eb-8864-74e740c3bba8.png)

Here’s an icon that could potentially work fo

[2021-06-09 14:28] johngodley commented on #32468
I'm also seeing this, although it seems to trigger every time. I think it might be fixed by #32527

[2021-06-09 14:57] Mamaduka commented on #32511
I think we can close this issue.

[2021-06-09 15:32] getdave opened #32554 "Implement client side caching of REST API responses for Link Control rich previews"
## What problem does this address?

With the introduction of rich previews for URLs in https://github.com/WordPress/gutenberg/pull/31464 we are potentially making multiple requests to the `url-details` REST API endpoint for the same URL. This would happen, for example, if we create a link and then repeatedly clicked on it thereby causing the rich preview to appear.

## What is your proposed soluti

[2021-06-09 15:36] getdave opened #32555 "Enable rich previews for custom links in the Navigation Block and Editor"
## What problem does this address?

The introduction of rich previews for remote URLs in https://github.com/WordPress/gutenberg/pull/31464 only applies to the post editor and only then to usage within `core/paragraph` (strictly anything that utilises the `@wordpress/format` library package).

We should enable this feature in the Nav Block and Editor to provide a rich user experience.

## What is y

[2021-06-09 16:12] colorful-tones commented on #32468
I just hit this bug. I hope #32527 fixes it 🤞

[2021-06-09 16:27] HardcoreGames commented on #32476
Compared to the classic, the blocks are 4x larger, unclear and there are 5x more blocks so it's unwieldy for a sidebar

[2021-06-09 16:37] javierarce opened #32556 "[Table Block] Improve existing table icons"
While working on [improving the Table Block](https://github.com/WordPress/gutenberg/issues/32394) I noticed that the icons we use to insert and remove rows and columns were obsolete (for example, they don't use the current border-radius… and even more, they don't appear in the WordPress Design Library).

I also thought that we could improve the icons so users can read them faster. Compare, for ins

[2021-06-09 16:38] scruffian commented on #32365
_Dev note for Deprecating the dark theme support flag #28233_

**Dark theme support is now automatically detected**
It is no longer necessary to opt in to dark mode support in the editor if your theme has a dark background. Now Gutenberg will automatically detect whether your site is dark and load the editor in dark mode if necessary. The `dark-editor-style` theme support can be removed from all t

[2021-06-09 17:05] critterverse commented on #32493
Hey @stokesman, this is great work! I really appreciate the fresh thinking here — thanks for jumping in to contribute to some of the trickier toolbar issues in the Customizer, both here and in #32490.

I think we will likely run into some of the same issues here that we’ve run into with the fixed version of the toolbar — particularly around scrolling the toolbar (touched on this a bit in #32062).

[2021-06-09 17:14] Levi-70 opened #32559 "Put phone number under the Contact area"
This is kind of a suggestion...
phone number isn't really part of a shipping address (I know sometimes companies want a shipping number so i get that)
but I think it would make much more sense to put the phone number under the contact details (where the email address is) because that's what it is (contact details)

we use woocommerce subscriptions and we require a phone number and obviously email

[2021-06-09 17:32] critterverse commented on #32061
Agree that the proposal from @stokesman is super interesting but I was spotting the same issue that you mentioned, @kevin940726 — I think it might be confusing to see the toolbar appear over other blocks after the selected block has scrolled out of view. Granted, this is how the fixed toolbar works — but the fixed toolbar is a bit more separate so it doesn’t seem like as much of an issue there.

T

[2021-06-09 18:55] stokesman commented on #32546
The latest versions of Gutenberg allow this but I do believe the theme can influence the available units. This is a screenshot using Twenty Twenty One.
![image](https://user-images.githubusercontent.com/9000376/121411991-0e869b00-c919-11eb-9047-60b21b562e41.png)

There's also a button in the toolbar to quickly toggle `100vh`
![image](https://user-images.githubusercontent.com/9000376/121412335-7210

[2021-06-09 19:06] wpjames opened #32562 "Gutenberg link module search is hiding pages that should only be hidden from non-admin users"
I have added the following code to my functions.php file to block pages from showing up in search results on the front end of my website (I only want posts in the search results, not pages).

[code]
This code works as intended, but it also excludes all pages from the Gutenberg link module search, making it difficult to create internal links to those pages. This should not happen because the exclus

[2021-06-09 19:09] stacimc commented on #29758
The experience is a bit confusing. I'm able to confirm that if you only make design changes to a template part, you are not prompted to save the template part -- but the design changes _are_ persisted when you do save the template.

In fact it seems that design changes to template parts are only persisted when saving the template, and non-design changes are only persisted when saving the template

[2021-06-09 20:25] creativecoder opened #32565 "wp-env: add ability to follow only PHP error logs"
## What problem does this address?

Currently when using wp-env, the `logs` command aggregates the logs from all services (because this is what [docker-compose logs](https://docs.docker.com/compose/reference/logs/) does).

When debugging PHP, it can be hard to parse the PHP specific logs from everything else, particularly the http traffic.

## What is your proposed solution?

Add a command to wp-e

[2021-06-09 20:33] Nic787 commented on #32546
Weird, because I have 5.7.2 and I use everything as default since I'm making my own theme.

[2021-06-09 20:43] glendaviesnz commented on #32509
🤦 Doh, plain text, sorry - misread your initial description, will take another look with richtext html today.

[2021-06-09 21:23] #32511 closed, assigned to nobody

[2021-06-09 22:14] justintadlock commented on #32339
We already add a `<span>` when a gradient is in use, at least when there is media:

[code]

It shouldn't be a stretch to just use that same technique without media.

Honestly, it'd probably be better for us to go with consistent markup across the board going forward.  The different markup based on whether there's an image, a fixed image, etc. makes for bloated CSS accounting for the various scenar

[2021-06-10 00:30] glendaviesnz commented on #32509
I was able to replicate this with rich text html.

It appears that the spaces are converted to `&nbsp;` by the browser at https://github.com/WordPress/gutenberg/blob/trunk/packages/blocks/src/api/raw-handling/utils.js#L135, where a temp html doc is created and its innerHtml is replaced with the pasted html. Haven't worked out yet why in some instances they end up back as normal spaces in saved con

[2021-06-10 00:30] #32449 closed, assigned to tellthemachines

[2021-06-10 01:14] dmsnell commented on #2768
hi @kevin940726 - thanks for the link. was there something specific in there that you thought was important for this issue?

[2021-06-10 01:36] stokesman commented on #32546
Looks like `vh` is not one of the default units. It can be added via [`add_theme_support`](https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-support/#support-custom-units) or [`theme.json`](https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-json/#settings)

[2021-06-10 01:41] #31739 closed, assigned to nobody

[2021-06-10 02:03] #32056 closed, assigned to talldan

[2021-06-10 02:03] #32419 closed, assigned to talldan

[2021-06-10 02:10] #32407 closed, assigned to tellthemachines

[2021-06-10 02:12] talldan commented on #19192
It's still a good developer experience improvement, but it's low priority.

[2021-06-10 02:14] talldan commented on #31988
Ah ok, that's why I wasn't sure what it was about 😄

[2021-06-10 02:50] talldan commented on #32436
I'm not sure, it seems a bit of an existential question—if `parent` is set shouldn't that also be honoured? I think of `parent` as the equivalent of a `from` transform, where a block developer shouldn't have to modify other blocks to specify a transform, they should be able to make it work from a single block specification. In the same way, if a third part developer wants to make a block for use o

[2021-06-10 03:06] rpldom commented on #17099
We use Woocommerce category pages as a main landing pages in our store. This structure is pretty common for many stores. And abundance of Gutenberg editor on category pages really restricts further development of our site, I think category and taxonomy pages should be treated as posts and pages and have similar functionality to them.

Also when I want to add a link Gutenberg isn't showing Woocomer

[2021-06-10 03:17] stokesman commented on #32061
Thanks @kevin940726 🙇

Agreed and it'd be rad to see you find an alternative. As a fallback, for a just the sticky top position offset, the changes to `Popover` [can be pretty light](https://github.com/WordPress/gutenberg/pull/32490/commits/0a44242b319f6df52b54504e4b9cbd2925d1e99d#diff-afbc365e3b220c93528fb5ced625536dbcaa8cfcd0858aa028908ab22d6d0488). Merely plumbing it through `BlockTools` -> `Bl

[2021-06-10 03:23] Nic787 commented on #32546
Ok thank you :)

[2021-06-10 04:28] talldan commented on #30007
There were some other thoughts on this that might have been missed. One option is to make the nav editor's block styles become part of the block itself—I think @shaunandrews mentioned this could potentially be how vertical menus work by default. The nav block's submenus would need to be able to open using a click instead of a hover, which previously wasn't possible, but now should be. I think that

[2021-06-10 04:35] noisysocks commented on #31181
It works for me now. Not sure what happened 🙂

Automattic/jetpack@9f7ce71/projects/plugins/jetpack/modules/widget-visibility/widget-conditions.php

Thanks for pointing me here. It looks like Jetpack is only hooking into `in_widget_form` when `is_admin()` is true. `is_admin()` will return false in REST API requests like the one which the Legacy Widget block uses to obtain the form markup.

Sadly, t

[2021-06-10 04:35] #31181 closed, assigned to nobody

[2021-06-10 04:37] #32418 closed, assigned to ramonjd

[2021-06-10 04:57] tellthemachines opened #32570 "Undoing a change after saving in the Widgets editor takes multiple clicks"
## Description

When undoing a change after saving in the Widgets editor, the first few clicks of the "Undo" button have no apparent effect. It takes at least as many clicks as there are blocks in the editor for the change to actually be undone.

Before saving, the undo object in state shows the expected amount of changes.

After saving, it adds an entry for each block, and a couple for the sideba

[2021-06-10 05:04] peterwilsoncc commented on #32461
Thanks Paal,

I've been coordinating the 5.7.x minors and it would be great if this could be done as a half way step between the larger proposal to be backported in to the wp/5.7 branch. There have been a few issues raised on trac about difficulties people are having in 5.7 so putting in some improvement would be most helpful.

[2021-06-10 06:38] jasmussen commented on #30007
There's some conversation on how we might accomplish this in https://github.com/WordPress/gutenberg/issues/18395#issuecomment-831792413. The best path forward isn't yet quite obvious, when for WordPress sites the top level menu item usually also links somewhere.

[2021-06-10 06:49] #31466 closed, assigned to nobody

[2021-06-10 07:00] jasmussen commented on #32539
I have a fix in #32574.

By the way which extension are you using that adds those red underlines @Aljullu?

[2021-06-10 07:03] #27756 closed

[2021-06-10 07:17] andrewserong commented on #32366
I think this is a great idea @jasmussen, and could be useful across a number of current and future blocks. I thought I'd start having a go at hacking in a Gap block support, so have a draft PR that I'm working from in #32571. It's quite buggy at the moment, but I'll keep chipping away at it. I think this would be a great feature to have as a prerequisite to #32137.

An observation from hacking aro

[2021-06-10 07:25] kevin940726 commented on #32061
@critterverse After thinking and trying it for a bit more, I think the approach in this PR won't work, at least not perfectly 😅

https://user-images.githubusercontent.com/7753001/121481074-592e1300-c9fe-11eb-8ef4-f154715f2a0c.mp4

Notice the very end of the video, when scrolling up, the customizer top bar and the editor top bar will appear first, meaning they will cover up the block toolbar. I thi

[2021-06-10 07:33] jeherve commented on #31181
We'll take care of that. Thanks for taking a closer look!

[2021-06-10 07:36] jasmussen commented on #32366
Well, perhaps _horizontal gap_ and _vertical gap_, but yes — and perhaps it doesn't need to wrap onto a new line like the 4 padding options do, but maybe it can fit between.

[2021-06-10 07:51] #32546 closed, assigned to nobody

[2021-06-10 07:51] thisissandip opened #32577 "Letter Spacing Control for Site Title and Site Tagline is not visible in Sidebar"
## Description
Letter Spacing Control for Site Title and Site Tagline is not visible in Inspector Control (Sidebar)

## Step-by-step reproduction instructions
1. Enable letter spacing in theme.json for site title and site tagline by following the steps in #31118 or use this [gist](https://gist.github.com/thisissandip/c4b2f359b5441572140507464b57b979)
2. Add Site title and Site tagline blocks
3. Se

[2021-06-10 07:59] talldan commented on #26181
I still can't reproduce this, I have plenty of content in the second footer and the cover block still looks the same:
<img width="1187" alt="Screenshot 2021-06-10 at 3 58 49 pm" src="https://user-images.githubusercontent.com/677833/121487574-cba1f180-ca04-11eb-84f0-b7b35f37c57f.png">

[2021-06-10 08:07] talldan commented on #28123
#32576 should fix the issue in locked widget areas, and I saw there's #31896 that covers everything else.

[2021-06-10 08:49] Mamaduka commented on #26181
I followed the steps and also not able to reproduce the issue.

Cover block has the default `min-height` defined in block styles. So not specifying min-height shouldn't be an issue.

[2021-06-10 09:02] andrewserong commented on #32366
Excellent, I’ll have a play around tomorrow. Cheers!

[2021-06-10 09:23] jasmussen commented on #32366
Sweet deal!

[2021-06-10 09:43] Mamaduka commented on #26221
It looks like Facebook for WooCommerce plugin used inline style to show notices. It overrides widget screen styles to hide notices.

I don't think we should fix this issue on our side since the widget editor screen does not cause it.

Notice added using default method are hidden and don't overlap with the header. Example:

[code]

[2021-06-10 09:59] Mamaduka commented on #32545
Hello, @sagarnasit

I was able to reproduce the issue with version 10.7.4 but not with 10.8. I think this got fixed in the latest version.

[2021-06-10 10:18] talldan commented on #32559
@derher I'm not sure this is in the right place, do you mean to create this in one of the WooCommerce github repositories? (e.g. https://github.com/woocommerce/woocommerce)

[2021-06-10 10:18] #32559 closed, assigned to nobody

[2021-06-10 10:25] talldan commented on #32486
Judging by the comments, looks like this is now fixed as of Gutenberg 10.8, but let me know if I'm wrong.

[2021-06-10 10:25] #32486 closed, assigned to nobody

[2021-06-10 10:34] Aljullu commented on #32539
Nice! I tested it and it's working great on my end.

I think that's the default Firefox spellchecker, for some reason it was set to a language different than English so everything was red. :red_circle:

[2021-06-10 10:39] jasmussen commented on #32539
Cool, I'm just looking into [wavy underlines](https://codepen.io/joen/pen/mdWxjry), so I was curious :)

[2021-06-10 10:46] oandregal commented on #32027
This has been fixed by https://github.com/WordPress/gutenberg/pull/32358

[2021-06-10 10:46] #32027 closed, assigned to jorgefilipecosta

[2021-06-10 10:48] Mamaduka commented on #31250
I tested on the trunk, and I'm no longer able to reproduce this issue.

[2021-06-10 11:23] Mamaduka opened #32583 "Widget Screen: Unable to remove inactive widgets"
## Description
Currently, it's not possible to fully remove inactive widgets.

## Step-by-step reproduction instructions
1. Go to `Appearance > Widgets`
2. Add or move widgets to the "Inactive Widgets" area. Save widgets.
3. Delete all widgets from the "Inactive Widgets" area. Save widgets.
4. Switch theme. Widgets are visible in the inactive widgets area.
5. Switch back to the original theme resu

[2021-06-10 11:36] #32478 closed, assigned to aristath

[2021-06-10 11:42] gziolo commented on #32365
I started a gist with the dev note for changes in Block API since it might get lengthy:

https://gist.github.com/gziolo/cbea77500316a243e445d509ced3c231

[2021-06-10 12:00] Clorith opened #32584 "Consider splitting out `wp-env` to its own repository"
Currently, the Gutenberg project is a monolith of tools and features, one of these features is `wp-env`, a node module for managing, and working with, WordPress plugins and themes.

Given the nature of `wp-env`, it is a tool with a much borader reach and audience than the Gutenberg monorepo, and as such does not (in my opinion) properly fit in here.

By splitting it out to its own repo, it becomes

[2021-06-10 13:10] paaljoachim commented on #32119
Another option instead of the icon is use the words "Move" (@jasmussen Joen's idea)
In general using a word instead of an icon where it is possible feels like the best choice (or might be the best choice).

Close up:
![Widgets-tool-bar-Move-text](https://user-images.githubusercontent.com/5323259/121530216-7d3d2480-c9fd-11eb-8aed-6ec793dc1721.jpg)

Farther away:
![Widgets-move-text-2](https://user-

[2021-06-10 13:26] Azragh commented on #25552
@pagelab I Just recognized that the link to Classic Widgets (provided in the little tutorial pop-up on widgets screen) points to the Classic Editor plugin page.

[2021-06-10 13:28] paaljoachim opened #32586 "Reusable block: Replace "Convert to regular blocks" icon"
## What problem does this address?

The following "Convert to regular blocks" icon does not convey the symbolic meaning of convert.
It looks more like an icon that will duplicate.

<img width="678" alt="Screen Shot 2021-06-10 at 15 15 56" src="https://user-images.githubusercontent.com/5323259/121531649-ec674880-c9fe-11eb-822d-265230efba9e.png">

## What is your proposed solution?

We need to switc

[2021-06-10 14:03] sagarnasit commented on #32545
@Mamaduka Correct!

Updating the plugin to 10.8 solved the issue for me too. I'm closing the issue, Thanks! for checking.

[2021-06-10 14:03] #32545 closed, assigned to nobody

[2021-06-10 14:11] j-nicolas commented on #14744
Hi there!

**"Section":**

What we have is:
[code]
What we need is:
[code]
**What means:**

The `.wp-block-group__bg-container` has _no_ width-restrictions,
fills the complete outer container (and has z-index: -999 by default)
and can be
- CSS-background
  - color
  - gradient
  - image
- HTML-canvas (!)

The best would be: with _additional_ overlay like cover-block already has.

Yeah!  :)

[2021-06-10 14:14] stephendwolff commented on #14744
I just ended up using a Cover Block in the end with a background, then inserted a Group Block inside it. The UI isn't intuitive which is why i completely missed it. You have to hit return to add another block inside the Cover, then the + appears. The Group Block can be picked the (or Column or whatever), and content added as desired. The extra text block (from the return) can be deleted.

[2021-06-10 14:15] amir2mi opened #32587 "Box-control component allowReset=false does not work"
I checked `boxControl` component and set `allowReset={false}` but did not work!

My example:
[code]
with this false, I still have the reset button.
I also checked [this commit](https://github.com/WordPress/gutenberg/commit/bce9630437f4dea1f572d9dc6bae13c86818e147) related to this feature.

Note that I'm using Version 10.8.0

[2021-06-10 14:16] j-nicolas commented on #14744
I tried this (inserted a group including columns into the cover) but the UI failed (it didn't appear)
but
I'LL TRY AGAIN  :)

[2021-06-10 14:21] stephendwolff commented on #14744
good luck! i think it took me a while to realise it had actually worked. The UI needs work!

[2021-06-10 14:55] j-nicolas commented on #14744
WORKS! Thank you!

[2021-06-10 15:21] Nic787 commented on #32546
Hi, similar to this topic, I saw that there is a support for custom padding, but is there something for custom margin? Also, is there a support to justify text (but the last line could be centered or left)?

[2021-06-10 15:48] #32265 closed, assigned to ntsekouras

[2021-06-10 16:19] oandregal commented on #27504
@mrwweb there are a few things:

- Front end styles can be filtered by tapping into the `wp_styles` mechanism, [see example](https://github.com/WordPress/gutenberg/blob/trunk/lib/global-styles.php#L65) in Gutenberg.
- To the editor we pass two things that can be filtered via hooking into the block editor filters in place:
  - Global settings: stored in the `__experimentalFeatures` key and [this](h

[2021-06-10 16:33] ginunn opened #32590 "List item addition error"
## Description
I want to add an item to a list. I copy the item to the clipboard, go to the last list item, return to add a new item and paste. Nothing happens. If I enter one character from the keyboard and paste the paste then works. I delete the added character. Now I want to add a link to the added text item. If I select the text from left to right and add the link it is added to only part of

[2021-06-10 17:22] skorasaurus commented on #27857
Closing this since it's been fixed in #30552 ; please reopen if it's still applicable.

[2021-06-10 17:22] #27857 closed

[2021-06-10 17:39] dashkevych commented on #32473
Additionally, I've noticed that if the Read More link is wrapped within `p` tag and added using the `excerpt_more` filter, the block creates additional empty `p` tag:

![Query block issue with more links](https://snipboard.io/HtZIDn.jpg)

[2021-06-10 18:11] critterverse commented on #32061
No worries @kevin940726 — thank you so much for investigating and trying to make it work 🙏

Left some notes over in #32490!

[2021-06-10 18:33] annezazu opened #32591 "Block Pattern Directory: Provide documented way to disable"
## What problem does this address?

Similar to this issue related to the block plugin directory https://github.com/WordPress/gutenberg/issues/23961, there needs to be a documented and official way to disable the Block Pattern Directory. For example, an agency may not want clients adding in patterns, especially since they are theme agnostic.

This is somewhat related to this PR https://github.com/W

[2021-06-10 18:42] priethor commented on #32591
Thanks, @annezazu, this looks like something pretty important to get in place before 5.8.

[2021-06-10 19:13] youknowriad commented on #32591
There's already a way to disable `core` block patterns and AFAIK the patterns loaded from the Directory in 5.8 are only the ones considered "core", so I think we're good. cc @ryelle for confirmation though.

[2021-06-10 19:30] annezazu commented on #32591
Ah ha, got it. I made an assumption there that was wrong. Seems like this can be punted for 5.9 in that case :)

[2021-06-10 19:35] ryelle commented on #32591
I added a filter when this was merged into core, [`should_load_remote_block_patterns`](https://core.trac.wordpress.org/browser/trunk/src/wp-includes/block-patterns.php#L64), assuming that people will want to disable remote calls. I didn't port it back to GB, but like @youknowriad said, removing support for the core patterns will also disable it.

[2021-06-10 19:37] thomasplevy opened #32593 "Regression in dismissible notices no longer "sticky""
## Description

My plugin [LifterLMS](https://wordpress.org/plugins/lifterlms/) uses dismissible notices to report validation issues with custom blocks. Perhaps not the intended use case for notices but it's the best solution I've come up with for reporting validation issues client-side in the block editor.

I noticed today while testing WP core 5.8 nightlies that dismissible notices are no longer

[2021-06-10 19:38] priethor commented on #32591
Thanks for the reminder of such an important detail! Let's take this out of the 5.8 board and leave it open until the filter is backported.

[2021-06-10 19:57] johnbillion opened #32594 "`getEntityRecords()` returns stale values when subsequent calls reduce the number of records"
## Description

If you call `select('core').getEntityRecords( .. )` with an argument which causes the number of results in the set to be reduced from its previous value, for example via the `include` parameter, unexpected stale values will be present at the end of the array.

## Step-by-step reproduction instructions

See below for what seems to be the minimum code to reproduce the issue as a whol

[2021-06-10 19:59] paaljoachim commented on #32556
Awesome job, @javierarce !

In general this is a nice refresh! Symbols are nice and clear!

I do want to point the logic of the **Comparison between versions** overview.

Example before:
**Insert row before** we see a + sign and the row that follows after the + sign.

<img width="272" alt="Screen Shot 2021-06-10 at 21 46 16" src="https://user-images.githubusercontent.com/5323259/121587647-54d11c80

[2021-06-10 20:04] Nic787 opened #32595 "Padding and margin issues for columns and text + media blocks on tablet/mobile"
## Description

I don't know if it's a bug, but it's clearly a CSS issue of the block design.

When reaching the table or mobile breakpoint, the "blocks" don't have correct margin or padding to clearly see the separation of the content.

## Step-by-step reproduction instructions

**Columns**
I chose a 50/50 column and added the image on the right.

![image](https://user-images.githubusercontent.co

[2021-06-10 20:29] getdave commented on #30007
Yes I think this is the most logical and most maintainable solution with the caveat that those styles will still be somewhat divorced from the "Nav Editor" and still rely on someone not changing them without considering the impact on the Nav Editor.

That said, I did suggest we could make the Nav Editor styles a [block style](https://developer.wordpress.org/block-editor/reference-guides/block-api/

[2021-06-10 21:41] andreamiddleton commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-06-10 21:52] mkaz opened #32598 "Widgets Screen: wp.editor.initialize is not a function notice"
## Description

When loading the Widgets Screen two error notices appear at the top with the message:

`wp.editor.initialize is not a function`

![image](https://user-images.githubusercontent.com/45363/121601718-2a626d80-c9fb-11eb-921b-cdf4280d28b4.png)

## Step-by-step reproduction instructions

- WordPress 5.8-beta1
- No Gutenberg plugin
- Twenty Twenty One Theme
- Load Widgets Editor (no existi

[2021-06-10 21:58] critterverse opened #32599 "Misaligned custom title in block toolbars"
Hi all, I spotted a small misalignment in toolbars that contain a custom block name. This is what I'm seeing currently, which causes a visual jump when moving from parent selector to parent toolbar:

![custom-name-trunk](https://user-images.githubusercontent.com/77359364/121601781-6950ed00-ca14-11eb-8ab9-178d9b945ae3.png)

^ Also looks like the Reusable block icon is being stretched horizontally.

[2021-06-10 22:08] justintadlock opened #32600 "10.8 Update Warnings on Typography Support"
Upgrading to 10.8 with `WP_DEBUG` enabled produces these warnings:

[code]

**Screenshot:**

![10 8-warnings](https://user-images.githubusercontent.com/1816309/121603471-7074fc80-ca0e-11eb-9f49-13492b0333b8.jpg)

[2021-06-10 22:32] annezazu commented on #31255
Noting that this came up in the [seventh call for testing and caused additional confusion](https://make.wordpress.org/test/2021/05/26/fse-program-testing-call-7-polished-portfolios/#comment-1703) as it seemed as though one should be able to change the color of the post title using the text color options.

[2021-06-10 22:57] annezazu commented on #31565
Noting that more feedback around this has come in through the[ seventh call for testing through the FSE Outreach Program](https://make.wordpress.org/test/2021/05/26/fse-program-testing-call-7-polished-portfolios/#comment-1703):

[2021-06-10 23:13] cameronvoell commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-06-10 23:32] mkaz opened #32602 "Social Links: Foreground color not being when used from Widgets Editor"
## Description

Social Links foreground color is not showing when added to the Widgets Editor

![image](https://user-images.githubusercontent.com/45363/121602589-621de500-c9fc-11eb-9a90-65ee2f771df7.png)

## Step-by-step reproduction instructions

0. Using TwentyTwentyOne theme
1. Go to Widgets Editor
2. Add Social Links block and add a couple of links
3. Use the default icon color of white or oth

[2021-06-10 23:51] samueljseay commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-06-10 23:53] ggordon-vispero commented on #29526
Reporting in from the JAWS development side, this is because JAWS currently doesn't  offer proper edit semantics for  ContentEditable="true"  when paired with certain ARIA roles. In particular, role="group". Starting with 5.6 this role seems to be gratuitously assigned to ContentEditable <p> elements.  These elements along with <div> already have proper edit semantics and do not need a specific AR

[2021-06-10 23:59] ggordon-vispero commented on #29526
Seems that using HTML tags in comments gets them stripped out when posted. My previous comment refered to role=group being assigned to paragraph elements in 5.6+. These along with divs already have proper ContentEditable semantics and do not need a role explicitly assigned for them to work.

[2021-06-11 00:18] dmsnell commented on #31893
It appears that Github did not post my comment before I closed the tab and did not warn me when I closed it, or some other glitch prevented my response from posting. in case I'm still seeing a glitch and this is a double-post from me I'll resort to summarizing what I wrote; sorry if this ends up being duplicated.

I'm consenting here, largely because I'm not strongly persuaded for or against this

[2021-06-11 00:18] annezazu commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-06-11 00:28] lancewillett commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-06-11 00:39] donalirl opened #32603 "Embed Block: Slideshare Embeds don't play the final few slides"
## Description
Slideshare embeds via the embed block and shortcode don't advance to their final  2-3 slides.

## Step-by-step reproduction instructions
1. Open a new page
2. Paste a slideshare link on a new line. Example: https://www.slideshare.net/BlogGrowth/how-to-build-your-brand-like-a-ppo
3. Preview or publish the page
4. Use the navigation arrows to advance to the next slide, going all the w

[2021-06-11 00:49] tellthemachines commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-06-11 00:51] #32074 closed, assigned to noisysocks

[2021-06-11 01:02] #32263 closed, assigned to Mamaduka

[2021-06-11 01:16] stokesman commented on #32593
There’s #32488 that would fix this. We'll have to see how that's received.

[2021-06-11 01:23] noisysocks commented on #32523
I tried testing this locally and didn't see any cancelled requests. Maybe something about the HTTP server in your dev environment is blocking the request? Just a guess: Maybe because the URL is too big? They're very large URLs which is a known issue.

https://user-images.githubusercontent.com/612155/121617080-871b6200-caa7-11eb-94a6-12f3a8df436e.mp4

I did see that the "No preview available." mess

[2021-06-11 01:29] codetot commented on #22732
I found an error with compiled postcss source. https://github.com/WordPress/gutenberg/pull/22735

[2021-06-11 01:46] noisysocks commented on #32523
I've fixed the "No preview." mechanism in https://github.com/WordPress/gutenberg/pull/32605.

[2021-06-11 02:10] noisysocks commented on #32583
Confirmed, though it's hard to narrow this down to a small test case as there's buggy behaviour surrounding moving a block to Inactive Widgets.

[2021-06-11 02:13] noisysocks commented on #32598
I don't see this. Are you running 5.8 beta 1 from the published zip?

[2021-06-11 02:26] noisysocks commented on #32348
Hi! I wasn't able to see this by following the steps in Chrome on macOS. Maybe it's Linux specific? Are you still seeing the problem in the latest 5.8 alpha? Any additional info you have would be helpful!

https://user-images.githubusercontent.com/612155/121621802-3a885480-cab0-11eb-9537-caa8b682d05c.mp4

[2021-06-11 02:52] talldan commented on #30007
I'm not sure about a block style, because the submenus need to be made to open on click, and JavaScript logic typically isn't coupled with block styles. But it could definitely be presented using a similar UI.

Some supports attributes declare an attribute, like classNames does here - https://github.com/WordPress/gutenberg/blob/5940426a811b05b2893a890ee1b6744d3cd260b6/packages/block-editor/src/hoo

[2021-06-11 03:24] stokesman commented on #32546
Yes, for the custom margin though it's probably recent enough that you'll have to install the Gutenberg plugin. I don't know about the justifed/last-line text-alignment, but I don't think so.

[2021-06-11 03:50] jordesign opened #32606 "Query Block: Better default text when there are no results for query"
## What problem does this address?

Currently when there are no results for a query - a generic 'No results found' message is shown. This could be improved to provide users with better direction on how to make sure there _are_ results.

This is particularly relevant if the query block is loaded when the user has _no_ published posts - the message appears as soon as the block is added with no indic

[2021-06-11 03:56] #31250 closed, assigned to nobody

[2021-06-11 04:17] tomusborne opened #32607 "Widgets screen: getBlocks() doesn't return innerBlocks"
## Description
When on the Widget screen, using `wp.data.select( 'core/block-editor' ).getBlocks()` only returns the top-level widget areas. `innerBlocks` is an empty array even when inner blocks (widgets) exist.

## Step-by-step reproduction instructions
1. Go to the Widgets area in WP 5.8
2. Add a few widgets to a widget area.
3. In the console, run `wp.data.select( 'core/block-editor' ).getBloc

[2021-06-11 04:34] manooweb commented on #32523
@noisysocks Thanks for testing 👍

🤔 Even if I'm on Windows apache server, it's strange because it doesn't work only with some kind of previews. For all the other  it works correctly.
Thank you for the track I will look for on that way

Edit: I remember that my colleagues is on Linux Mint and have the issue too.

👍 Yes, our language switcher can output only `<img>` content with base64 encoded image

[2021-06-11 04:54] Mamaduka commented on #32598
I'm able to reproduce this using the 5.8 beta1 published zip and using "nightly."

WP CLI commands:
[code]

[2021-06-11 04:55] alexstine commented on #29526
@ggordon-vispero You are saying that all that needs to happen is removing:

`role="grid"`

and then this will work with JAWS? I just tried this while using NVDA in the browser inspector and I cannot notice it causing any issues. Happy to make a code change and see if others spot issues in testing.

Would be great to get this fully working. Is there anything JAWS users can do right now to help with

[2021-06-11 05:11] noisysocks commented on #32598
Thanks for testing. I can't repro when building and running from source. I wonder if it was a problem with the packaging process? There are new files added in 5.8, maybe one of them was missed when creating the .zip? cc. @desrosj @jeffpaul

[2021-06-11 05:19] kevin940726 commented on #32061
I wonder if we can just do something like this to dim the toolbar when it's out of view?

https://user-images.githubusercontent.com/7753001/121634689-9d311e80-cab7-11eb-9c91-035858175b80.mp4

[2021-06-11 05:24] noisysocks commented on #32583
I _think_ all of the weirdness I saw in my own testing is due to the one bug which is fixed by https://github.com/WordPress/gutenberg/pull/32608. Give it a test and let me know if that fixes this for you.

[2021-06-11 05:30] noisysocks commented on #32598
@mkaz @Mamaduka: Are there any 404s in the Network tab of your dev tools?

[2021-06-11 06:01] Mamaduka commented on #32598
@noisysocks, I don't see any 404s.

[2021-06-11 06:36] #32570 closed, assigned to tellthemachines

[2021-06-11 06:37] carolinan commented on #29758
Related: https://github.com/WordPress/gutenberg/issues/30732

[2021-06-11 06:48] andrewserong commented on #32366
I've had a go at updating the BoxControl to support grouped vertical / horizontal controls when the BoxControl is unlinked (I'm imagining the Gap support as the main use case at the moment). I think it's ready for review or for feedback at https://github.com/WordPress/gutenberg/pull/32610 🙂

[2021-06-11 06:53] Chouby commented on #32348
It's indeed now fixed in 5.8-beta1-51137.

[2021-06-11 06:53] #32348 closed, assigned to nobody

[2021-06-11 06:56] daniloercoli commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-06-11 07:13] fklein-lu commented on #26154
After having spent quite some time with the new Widgets Editor, I consider that it's a big step forward.

However it's also clear that enabling this by default will lead to poor results. I tested with the latest Trunk, and using the Twenty Twenty-One theme.

This is what adding a List block looks like:

![block-widget-admin](https://user-images.githubusercontent.com/1221942/121644828-d061b680-ca93

[2021-06-11 07:43] kevin940726 commented on #2768
Nothing specific, it's just a reminder 😅 . since SSR in React will get a significant update, I just want to make sure that we're leveraging the best practices and not re-inventing the wheels. :)

[2021-06-11 08:03] #27391 closed

[2021-06-11 08:26] ghost opened #32612 "Allow changing URL on sidebar"
When clicking on a Button block, the URL must be set from the quick tools bar, and the "rel" attribute from the side.

There is an inconsistency, since the "Open in new tab" checkbox appears both for the Quick tool and for the side bar.

To keep consistency, the URL itself should be changeable from the sidebar too.

[2021-06-11 08:37] fluiddot opened #32614 "Add support for duotone filter in mobile version"
## Description

Duotone filter is not supported in the mobile version, when it's applied in the web version, the app is not displaying the changes. This feature is available in the Image and Cover block.

## Step-by-step reproduction instructions

1. Open a post/page in the web version:
    1. Add an Image block or Cover block.
    2. Insert an image into the block.
    3. Click in the duotone fil

[2021-06-11 09:02] fluiddot opened #32616 "Reusable block: Add convert to regular blocks button in the unsupported block message"
## Description

When editing a reusable block, the block only displays the message `Reusable blocks aren't editable on WordPress for <Platform>`, however, we provide an alternate way to edit it only for the current post/page via converting the block into regular blocks. As an improvement, we could add the convert button in the bottom sheet to let the user convert it easily.

Additionally, it would

[2021-06-11 09:20] Mamaduka commented on #32598
I think I was able to narrow down the issue. I had a legacy "Text" widget in one of the areas. If I remove it error notice disappears.

[2021-06-11 09:57] gziolo commented on #22151
@annezazu – where are we with this issue? It's hard to tell after over a year of constant refinements applied to the block editor handbook 😄

We have three pieces that work quite nicely:
- Create a Block Tutorial – https://developer.wordpress.org/block-editor/handbook/tutorials/create-block/
- Block API Reference Guides – https://developer.wordpress.org/block-editor/reference-guides/block-api/
- B

[2021-06-11 10:04] #26072 closed

[2021-06-11 10:04] #26177 closed

[2021-06-11 10:51] #31617 closed, assigned to carolinan

[2021-06-11 11:18] youknowriad commented on #32600
Mmm I believe that warning has bee added at the same time as the refactoring that hides them for core blocks, so I'm a bit surprised to see them show up for core blocks for you.

Would you mind sharing more about your setup, what WP version are you using?

cc @jorgefilipecosta

[2021-06-11 11:42] herregroen opened #32620 "Unfiltered user REST API requests"
## Description
There are two places where Gutenberg sends unfiltered requests for literally ALL users.

On large sites this can be hundreds of thousands of users and thus causes a noticeable load on your server for seemingly no use at all.

These happen in the latest posts block:
https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/latest-posts/edit.js#L53

And in the user

[2021-06-11 13:13] aristath commented on #32620
<details>
<summary>Details on how to replicate</summary>

I'm sure there's easier ways to create 10k users, but since I was not in a rush and working on other tickets at the same time I added this code in a new `mu-plugins/test.php` file

[code]
then went to my users page and just kept refreshing until I got to 10k users (takes a while for each pageload).
</details>

After I got to 10k users, I cr

[2021-06-11 13:28] MrCarlLister commented on #11981
Happens using `get_template_directory_uri()` too.

Worked fine locally but got the traversing error on server.

That's an hour of my life I'm never getting back 😭

[2021-06-11 13:58] piotrbak opened #32624 "Error messages are displayed in legacy widgets in 5.8beta1"
## Description
When there's an error happening while block editor is loaded + debug log is enabled, we're displaying the error in each instance of legacy widgets.

## Step-by-step reproduction instructions
1. Enable debug log, set WP_DEBUG_DISPLAY to true
2. Install Imagify and Yoast
3. Make sure there are some legacy widgets
4. Go to the Widgets section
5. See errors present in each widget sectio

[2021-06-11 14:10] Nic787 commented on #32595
Here is a small fix for the columns block.

`.wp-block-columns{
justify-content: space-evenly;
gap:3em;
}
.wp-block-column{
margin-left:auto !important;
margin-right:auto !important;
}`

Instead of using a left margin, it add a gap automatically.
I think gap should also be used on the `.wp-block-media-text`.

Thank you

[2021-06-11 14:13] mkaz commented on #32598
I have no 404s in the Network tab, and had no existing active widgets initially, I added the social inks and it still shows. I do have several Inactive widgets, include a Text widget. The error goes away when I remove the Inactive widgets, looks like the Text widget might be the culprit.

![image](https://user-images.githubusercontent.com/45363/121700262-91783480-ca84-11eb-851d-4a11d5869380.png)

[2021-06-11 14:16] ggordon-vispero commented on #29526
I’m talking about removing role=”group” on each of the ContentEditable p tags. I’m seeing role=group on each p tag in 5.7.2. Did you say grid when you meant group or are we talking about different items?  Assuming we’re talking about the same thing, then yes, just removing the explicit role should fix JAWS.

We’ll have a JAWS 2021 update mid-July that will include a fix to accommodate role=”group”

[2021-06-11 14:19] herregroen commented on #32620
I think the real performance problems mainly start for those using multisite, that adds a join to the usermeta table for each query which includes a `LIKE` on the meta_value there. That part is mostly extremely expensive.

[2021-06-11 14:47] kraftner opened #32626 "Add an option to disable the Drag Handle for Inner Blocks"
## What problem does this address?

Currently if `templateLock` for `InnerBlocks` has any value but `all` a Drag Handle is shown.

Sometimes though dragging doesn't make sense for an inner block.

In my specific situation the inner blocks are panels inside a tabs block. But since only one panel is visible at any time you can't really drag the panel around. The arrows are fine though.

![grafik](ht

[2021-06-11 14:59] aristath commented on #32620
Makes sense... Multisite didn't even cross my mind. :+1:
What do you think would be the best way to do this?
Adding `who=authors` may not be suitable... non-authors may be able to create posts for other post-types, or they may have authored 100 posts before being "demoted" and are no longer an author - in which case they should still be in the list :thinking:

[2021-06-11 15:18] herregroen commented on #32620
Unfortunately the REST API doesn't support the `has_published_posts` option. Filtering that into the allowed parameters would likely be the cleanest solution here.

Although turning it into an autocomplete dropdown that only searches when typing and always displays only a limited list of up to 25 or so results is probably the simplest.

[2021-06-11 15:21] kraftner commented on #32626
As an ugly, _ugly_, **ugly** (have I said **UGLY**?) workaround for this you might be able to hide it with CSS.

[code]

☠️ Really, don't do this unless as a temporary workaround in code that is not distributed.

[2021-06-11 15:35] oandregal commented on #29985
@ryelle I haven't seen any PR for this so I went aheand and prepared the proposal you mentioned at https://github.com/WordPress/gutenberg/pull/32627 so people can offer feedback.

[2021-06-11 15:48] #32602 closed, assigned to jasmussen

[2021-06-11 15:51] tjcafferkey commented on #32301
Just been looking into this issue as a means of learning the Gutenberg codebase.

It looks like the solution referenced in the description won't work as this function isn't being used, but if it was, this would still return `true` [here](https://github.com/WordPress/gutenberg/blob/3da717b8d0ac7d7821fc6d0475695ccf3ae2829f/packages/format-library/src/link/utils.js#L82) as it wouldn't meet any of the

[2021-06-11 16:02] draganescu commented on #26154
The ecosystem of WordPress is huge so it's hard to have a definite opinion and a bullet proof measuring system. I personally believe that currently the Legacy Widget block is ensuring stellar backward compatibility and hence strongly support having the widgets editor as opt-out (the default experience starting with WordPress 5.8).

So far in my testing all the problems that appear are usually beca

[2021-06-11 16:07] alexsanford commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-06-11 16:10] draganescu commented on #31951
This is a solved overview / discussion so closing.

[2021-06-11 16:10] #31951 closed, assigned to nobody

[2021-06-11 16:17] draganescu opened #32629 "When previewing themes the style of the widgets don't match"
When previewing themes using the Customizer the style of the widgets in the widgets editor sidebar is the one of the currently active theme.

### To reproduce:

1. Have WordPress 5.8 and latest Gutenberg
2. Have TwentyTwenty and TwentyTwentyOne installed
3. Set TwentyTwentyOne  as active
4. Go to Appearance > Customize
5. From the top bar of the Customizer header choose Previewing theme > Change
6

[2021-06-11 16:20] draganescu opened #32630 "Remove "top toolbar" setting for small screens"
On mobile the top toolbar setting does not make any sense - the post editor hides it.

### To reproduce:

1. Use a mobile phone
2. Go to Appearance > Widgets
3. Click on the options menu in the top right
4. Notice the "Top toolbar option"

### Expected behavior:

This option should be hidden on mobile since on mobile the block toolbar is always on top.

### Screenshot

![image](https://user-images

[2021-06-11 16:22] draganescu opened #32631 "On small screens the top toolbar has a black background on scroll"
Sometimes when scrolling the widgets editor the top bar becomes transparent.

### To reproduce

1. On an iPhone in Safari
2. Using Twenty Fourteen as a theme
3. Go to Appearance > Widgets
4. Make sure to add some blocks to be able to scroll the page
5. Scroll slowly
6. Notice the black top bar sometimes appears

### Expected behavior:

No change in the background of the top bar

### Screenshot

![

[2021-06-11 16:27] draganescu opened #32632 "Keep only one widget area open at a time"
Maybe we should replicate the behavior in the customizer classic widgets panel on mobile and only allow one widget area open?

On small screens scrolling can be very daunting. Also accidental tapping makes the contents zoom in or new things appear on screen. While this is hard to mitigate all at once, it'd be a good idea to minimize the "risk" and effort and only expand one widget area at a time.

[2021-06-11 16:27] nasajones commented on #32047
It looks like this may have been fixed with the release of Gutenberg 10.8.

[2021-06-11 16:46] justintadlock commented on #32600
That was on 5.8-alpha-51066.  I just pulled in 5.8-beta1-51138, and the warning only shows for third-party blocks now.

[2021-06-11 16:49] jorgefilipecosta commented on #32047
Hi @nasajones, thank you for reporting this issue it was fixed in https://github.com/WordPress/gutenberg/pull/32358, and on the next Gutenberg release the issue should not be preset.

[2021-06-11 16:49] #32047 closed, assigned to nobody

[2021-06-11 16:50] joedolson commented on #15349
It would be great to see some progress on this issue! We should be able to set the language of a block or the language of a specific string of text within a block. This is a fairly significant accessibility issue, so I'd love to see something move forward with this again.

Is it possible that we could do language detection to limit the number of items suggested for content? Obviously, that would o

[2021-06-11 16:59] jorgefilipecosta commented on #32600
It seems now the behavior is correct, provided the block.json of the third party blocks in fact defines typography supports outside the typography key, it is expected that these warnings appear.

[2021-06-11 17:13] joedolson commented on #30876
Just want to draw attention to https://github.com/WordPress/gutenberg/issues/24205, and note that the table caption really shouldn't be using the `figcaption` element, as well.

[2021-06-11 17:30] TimothyBJacobs commented on #26154
I agree @draganescu, I personally thing it's fine for this to be opt-out at this point. I do think we should probably make sure that with the settings @bph had in the Classic Editor that the widgets block editor is also disabled out of the box. But that probably needs to happen in the [wordpress/classic-editor](https://github.com/wordpress/classic-editor) repo, not here.

[2021-06-11 18:28] alexwoollam commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-06-11 19:13] dmsnell commented on #2768
Thanks for sharing @kevin940726 - I don't think these two systems will overlap much. I'm not even sure there's any likely scenario in which we would apply SSR to this stage of Gutenberg loading, or if that would be practical/possible/beneficial.

[2021-06-11 19:29] amir2mi opened #32635 "Box-control component considers 0 as null"
It was a bit weird at first I tried to explain well:

1- Set 0 for all sides.
2- Close and open settings panel.
3- Now box-control shows nothing instead of that 0.
![1](https://user-images.githubusercontent.com/64708228/121739295-a6020e80-cb10-11eb-89d1-76671c1be24d.png)

When it is null instead of 0, that will make problems for developers who use these values for serverside or generate styles dep

[2021-06-11 19:48] #32587 closed, assigned to nobody

[2021-06-11 20:19] annezazu commented on #22151
This issue is in a place of needing an update :D I know @DaisyOlsen has been digging into documentation as well and it's my hope to have more time in the future, depending on the FSE Outreach Program.

That sounds fantastic. Thank you for following up here and nudging. It's on my list to loop back on but I welcome others to jump in here too.

[2021-06-11 21:37] bobbingwide commented on #32211
In my response to an FSE outreach call #6 I wrote

https://sneak-peek.me/2021/05/23/call-6-template-editing-and-navigation-block/#more-429

The Create new template dialog would be:

[code]

An additional benefit of cloning an existing template is that the attributes of the template-parts used in the template would be copied. I noted, during call #7, that I needed to (re)define the attributes for e

[2021-06-11 21:56] justintadlock commented on #32211
Cloning an existing block template is a good idea.  With block themes, users can select and edit an existing template, but there's no way to give it a new slug (AFAIK).

For 5.8 and non-block themes, I don't think there'd be a good way to do that since they are built on PHP.  But, for block templates, I'd love to see that as an option.

[2021-06-11 23:51] annezazu opened #32638 "Increase number of items per page for default Query Loop Block"
## What problem does this address?

As part of the seventh call for testing for the FSE Outreach Program, [this item of feedback came in](https://make.wordpress.org/test/2021/05/26/fse-program-testing-call-7-polished-portfolios/#comment-1707):

Specifically, I can replicate that only one item appears upon adding the Query Loop Block. Here's the current process:

https://user-images.githubuserconte

[2021-06-12 00:10] WillPorter commented on #32599
Starting on this!

[2021-06-12 01:23] dashkevych commented on #22759
I support the idea of adding a class to indicate that the posts contain full posts or excerpts.

Currently, the block adds additional classes when date and author options are enabled:

![HTML markup of the block](https://i.snipboard.io/g6rqGS.jpg)

However, no classes are added when the content option is enabled.

[2021-06-12 02:24] dechov commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-06-12 03:31] idpokute opened #32640 "word break options for paragraph"
## What problem does this address?

Some languages such as Japanese don't use space between words, So the long sentence in paragraph block mostly overflows the container. I often use additional class or inline-styling, and it works on frontend.  However it doesn't fix the block in editor.

## What is your proposed solution?

It would be better have the word-break option.

[2021-06-12 04:12] kevin940726 commented on #2768
It's not only related to SSR though, React 18 will also include Concurrent Rendering and Suspense etc. These are not separate features though, they are related to each other and we should pay attention to how we integrate them into Gutenberg.

For instance, we should really use `React.lazy` and `<Suspense>` for asynchronously loading components by default, rather than creating our own `<LazyLoad>`

[2021-06-12 05:33] ghost opened #32641 "Ideas for Gutenberg and WordPress future"
## What problem does this address?
Pain points to be explored by WP teams on their activities.

## What is your proposed solution?
Hello! As a fan of WP, I enjoy design PRs. I read them now daily as a hobby simply to know what's to come on the Gutenberg project. =) (even though I am not a skilled developer.)

The latest WordPress updates were great, and WP is harvesting its crop. WP5.8 is coming a

[2021-06-12 06:40] carolinan opened #32642 "Template editor header area is difficult to navigate with screen readers"
## Description

In the template editor:
Starting from the top left (ltr), the "View posts" button (WordPress icon/ site icon). If you navigate forwards using the tab key,
you first reach the toolbar and then the settings (switch to draft, preview, update etc).

For users with vision, it means that the "template top area" is skipped completely, because visually, it is not connected to the toolbar.

[2021-06-12 07:03] carolinan opened #32643 "Template creation: Templates without names are blank in the template select list."
## Description

When you create a template without a name, a slug is created automatically, but the slug is not
shown in the panel "title button" or in the template select list, it is blank.

## Step-by-step reproduction instructions
1. In the block editor, create a new template but do not enter a name,
2. Update and refresh the page so that the template select list is refreshed.
3. See that there

[2021-06-12 07:09] carolinan opened #32644 "Negative margin in dimension controls"
## What problem does this address?

It is not possible to use negative margins in the margin control.

## What is your proposed solution?

If negative margins were allowed, designers could overlap blocks easier without having to create custom block styles.
This would also open up for more varied block patterns -the block pattern directory can not use custom block styles.

[2021-06-12 07:20] carolinan opened #32645 "Feature request: Allow decimals in padding controls, or, update the padding for blocks with background colors."
## What problem does this address?

**This is very much an edge case.**
The default padding for blocks with background color is:
[code]
But if I want the padding to be consistent I can not add 2.375 em using the control.
It is reset to the closest number without decimals.
So my only other option is to override this default padding.

## What is your proposed solution?

Allow decimals in padding con

[2021-06-12 08:17] margarita-boomCodes commented on #31943
@annezazu I have the same issue in Chrome, when I have exactly three patterns in a single pattern category. Less or more than three is no problem.

[2021-06-12 08:44] carolinan commented on #31616
Hi
Does this example work for you?
Because according to the documentation, elements is limited to headings and link:
https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-json/#element-styles

[2021-06-12 16:06] bobbingwide opened #32646 "Template editor panel: Edit link not appearing for some templates"
## Description
While attempting to complete Call 7: Polished Portfolios I encountered problems where some of the templates had an edit link  but others did not. It was not at all obvious why this should be the case. Perhaps the store only supports 10?

## Step-by-step reproduction instructions
Using TT1 blocks and Gutenberg 10.8.0

1. Add 4 new block-template files eg call-7.html, call-7-2.html, c

[2021-06-13 07:19] lamosty commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-06-13 09:20] lordmatt opened #32648 "Custom HTML widget "Forbidden" error"
The 10.8 line has improved the issue I have been seeing. Now, instead of all widgets showing Forbidden to the super admin, only some do.

## Step-by-step reproduction instructions
1. Have custom HTML widgets in use
2. Re-enable Gutenburg 10.8
3. Try to edit widgets - see forbidden messages.

## Expected behaviour
Ability to edit and interact with those Custom HTML widgets given I have all the righ

[2021-06-13 13:13] RolandHughes opened #32649 "Code and Preformatted blocks no longer correctly accept pasted text/code"
## Description

Source file ending like this:
[code]
pastes like this:

https://www.logikalsolutions.com/wordpress/wp-content/uploads/2021/06/broken-preformatted-block.png

Does not matter what text editor is used on either Windows 10 or Ubuntu Linux.

Code for shell script content has also developed the truly annoying problem of putting first line against left margin then indenting all other line

[2021-06-13 13:29] justintadlock commented on #32645
Related: https://github.com/WordPress/gutenberg/issues/31964

[2021-06-13 15:41] critterverse commented on #32061
There was also another approach (previously explored in #32062) where the block toolbar could go in front of the header bar rather than behind, as is happening currently with the footer controls at the bottom of the sidebar:

https://user-images.githubusercontent.com/77359364/121812901-c082d780-cc37-11eb-86b6-d1edb0bca808.mov

https://user-images.githubusercontent.com/77359364/121812865-8b768500-c

[2021-06-13 18:48] cpsyctc commented on #32461
I am not a programmer but a very frustrated user who has now lost hours trying to use reusable blocks for an obvious task for them where they should have saved me hours.  I am sure the following are vital:

- The ability to create unnamed reusable blocks was dangerous and should be removed.
- I think there's a fundamental mistake in treating editing reusable blocks as something not much different

[2021-06-13 20:04] wpjames commented on #32562
Hey, I was just wondering why this issue was labelled a "question"? Isn't this a bug and not just a question?

[2021-06-14 00:45] becdetat commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-06-14 01:59] talldan commented on #32631
@draganescu Please could you add which browser and theme you used for testing? Thanks.

[2021-06-14 02:05] talldan commented on #32590
Here's the JavaScript error I saw when testing:
[code]

[2021-06-14 02:38] matthewmcvickar commented on #19851
Any idea when this might be addressed?

[2021-06-14 03:21] talldan commented on #32301
I did write that `isValidHref` function, so I should know, but it was a little while ago. 😄

From memory, I think it was more about validating something that's already expected to be a URL, it should be currently used when the user tries to manually enter a URL after clicking the link button on some (non-link) text.

I just tried adding a unit test:
[code]

and it seems to return `false` correctly

[2021-06-14 04:02] glendaviesnz commented on #32590
Duplicate of #32526 & #32468 - immediate fix to the issue at #32527, but this either needs expanding to include a fix to prevent `activeFormats` from ending up undefined, or that could be handled in a follow up PR if we want to get a fix for the problem in quicker - this defensive fix doesn't appear to have any side effects.

[2021-06-14 04:13] talldan commented on #32590
Duplicate of #32468

[2021-06-14 04:13] #32590 closed, assigned to nobody

[2021-06-14 04:15] talldan commented on #32468
The description in https://github.com/WordPress/gutenberg/issues/32590 might help with reproducing. It seems to happen whenever pasting into a new list item, but as soon as text is entered pasting works ok.

[2021-06-14 04:34] talldan commented on #32640
@idpokute Is this the same thing being discussed in #11956? If so, would it be ok to close this as a duplicate?

I think the solution in that issue is still a little unclear, so input is welcome.

[2021-06-14 04:38] talldan commented on #32645
Duplicate of #31964

[2021-06-14 04:38] #32645 closed, assigned to nobody

[2021-06-14 04:52] talldan commented on #32626
Could a user reposition it by dragging between the tab titles? Or is it a tab content block that has the drag handle?

Even if that's not possible, I'm not sure about hiding the drag handle. This seems like an edge case where the drag handle isn't useful, but also isn't harmful—a user would probably just choose not to use it. Or they would try to use it and realise it doesn't help, and choose not

[2021-06-14 05:30] carolinan commented on #31964
It is not solved in trunk 🤔

[2021-06-14 06:08] imawc opened #32651 "The category set in Default Post Category is not selected in the display when posting a new post."
## Description
The category set in Default Post Category is not selected in the display when posting a new post.

## Step-by-step reproduction instructions
1. Go to Writing Settings in Settings
2. Select any category in Default Post Category
3. Add New Post

## Expected behaviour
The category you checked in Default Post Category is checked when you submit a new post.

## Actual behaviour
The categ

[2021-06-14 07:17] #31135 closed, assigned to carolinan

[2021-06-14 07:59] jasmussen commented on #32641
There's a wealth of enthusaism and ideas here, thank you. I've added a label so it's easier for folks to find and perhaps chime in on.

For a high level thought: there's a lot of work to still be done on many aspects of the block editor, on the writing flow, on block extensibility, on template editing. Roles and user flows can bring big improvements, and is something we should look at in the futur

[2021-06-14 08:01] #32433 closed, assigned to aristath

[2021-06-14 08:12] JustinyAhin opened #32652 "Unable to drag a widget from one sidebar to the second when the last is not selected"
## Description
This issue was noticed during the test scrub of June 11.

In the widget screen, when dragging a widget from one widget area to the another, the drag & drop only work if the second widget area was previously selected. If it is not, nothing happens.

## Step-by-step reproduction instructions
1. Install and activate a theme that have at least two widgets areas.
2. Go to Appearance > Wi

[2021-06-14 08:19] cpsyctc commented on #29178
I have been advised by gizmo2501 to put my comments that are in https://wordpress.org/support/topic/5-7-reusable-blocks-are-a-backwards-step-2/#post-14552579 here ... so I am.

"I am deeply frustrated by reusable blocks. The idea is clearly excellent but my experience, in both 5.7.1 and 5.7.2 is that, at least for what I want to do, that they are fundamentally broken and I suspect that is because

[2021-06-14 08:33] kraftner commented on #32626
It's the tab content block that has the handle. There is a tabs block with inner blocks for the tabpanels which again has inner blocks. The outermost can be dragged, the innermost can be dragged, but the tabpanels of which only one is visible can't really.

I agree that it's not disastrous or blocking. JUst cluttering the UI. And since the drag handle is hidden under other circumstances where it i

[2021-06-14 08:45] getdave commented on #25093
Useful context https://github.com/WordPress/gutenberg/issues/21964#issuecomment-621096378

[2021-06-14 08:55] getdave commented on #31551
As part of this discussion, let's also explore the alternatives that the Nav Editor / Gutenberg can expose which will mirror the same functionality.

[2021-06-14 09:02] #29498 closed

[2021-06-14 09:31] MeiKatz commented on #32342
Okay, solved the problem by myself: in the theme I am using I defined the `editor-color-palette` in a separate JSON file. For this task I use `json_decode`. And there was the error: I loaded the associative array as an object and not as an array. Therefore Gutenberg broke.

[2021-06-14 09:31] #32342 closed, assigned to nobody

[2021-06-14 09:49] ntsekouras commented on #29693
I've been thinking about this and a possible solution I had in mind to try out involves these:

1.  Set the unique attribute value on load only if it doesn't exist and mark this change as persistent or not depending on your needs (add undo level). Something like this: https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/query/edit/index.js#L94
2. Use the `__experimentalRole

[2021-06-14 09:49] leutrimhusaj commented on #31115
I think after merge of #32088 this could be closed.

[2021-06-14 09:55] getdave opened #32657 "Link UI briefly shows unwanted rich preview for internal URLs"
## Description
Due to the introduction of loading placeholders towards the end of #31464, internal URLs will now briefly showing a "loading" state. This is not desirable.

This PR fixes this by testing against a base URL which is used to test if the URL being previewed is an internal URL. If it is then we bail out.

This baseURL has been added to the @wordpress/editor block editor settings as we c

[2021-06-14 10:03] malavvasita commented on #32586
@paaljoachim How about this icon?

I have searched about the icons and I found this with correct meaning (I Guess).

![Convert to regular blocks](https://user-images.githubusercontent.com/25079043/121875111-b50dda00-cd25-11eb-9781-b8f58d28f3d1.jpg)

[2021-06-14 10:03] getdave commented on #32657
One means to solve this - which I'm currently working on - is to make the whole concept of "rich previews" less focused on external URLs and more just a generic thing for all types of URLs.

By doing this we can abstract away some of the complexity and it will make the previews easier to extend to support internal previews in the future.

[2021-06-14 10:07] talldan commented on #29693
This could also be relevant for the widget editors, which store an internal `widgetId` as an attribute. (cc @kevin940726 @noisysocks).

[2021-06-14 10:13] geriux commented on #32456
Sounds good! Totally missed that other ticket, I'll update this issue to make it non-mobile specific. 👍

[2021-06-14 10:58] draganescu opened #32660 "The media library looks broken on mobile"
While testing the new Widgets editor I found that browsing the media library while using a small screen device is unuseable. Initially I thought that it's a problem of the Wdgets editor. However the bug exists in the post editor as well.

### To reproduce

1. Using latest Gutenberg trunk
2. On a mobile device with a small screen (phone)
3. Create a new post
4. Add an image block
5. Click the "medi

[2021-06-14 11:31] paaljoachim commented on #32586
Hi @malavvasita Malav

Yeah. Something like that conveys the conversion meaning.
We will see what @keoshi Filipe can come up with as well..:)
Thank you for adding the suggestion!

[2021-06-14 11:44] draganescu commented on #29102
Updated and deprioritized a couple of issues.

[2021-06-14 11:55] aristath commented on #32620
I pushed a PR to fix the issue for the latest-posts block in #32662.
As for the user auto-complete, I believe that one only gets triggered when we type `@username` for mentions, so I don't think we need to (or should) change anything there :+1:

[2021-06-14 12:22] gziolo opened #32665 "Performance: Split Classic block and Meta Boxes to their own package"
## What problem does this address?

We still have some legacy dependencies present in the block editor that were added to bridge the Classic Editor:
- Classic Block
- Meta Boxes

They are always present in the post editor even when they are never used on the website having a huge impact on the size of assets that every user has to download to edit content, example:

https://github.com/WordPress/wo

[2021-06-14 12:55] MDWolinski commented on #28490
This issue also seems to affect other embeds as well.  For example, embedding a NYTimes article gets cut off.

<img width="945" alt="Flying_Taxis_and_ATC__–_PositiveCTRL" src="https://user-images.githubusercontent.com/22196395/121894941-b58a7e80-cced-11eb-8b48-1e91078eec9a.png">

Issue seems to be the iframe generated is not expanding to include all of the content from the embed.  If I manually se

[2021-06-14 13:18] javierarce commented on #32556
Thanks for the analysis, @paaljoachim!

That change of direction with the plus symbol was precisely one of the things I wanted to share and open for debate. As I pointed out in my first comment regarding my new icons, the weight of the elements is responsible for indicating where the action will happen. In my opinion, that allows reading those icons faster.

That said, I totally understand the cur

[2021-06-14 13:38] sagarnasit commented on #31616
This is not working for me!

Any plans to extend support for more elements? Some block equivalent elements like `button, hr, blockquote...` would be nice to have on the list.

For Example, Currently, we can style blocks like `core/button, core/separator, core/quote` from theme.json but have to add separate styles for their equivalents HTML tags like `button, hr, blockquote`.

[2021-06-14 13:42] #31115 closed, assigned to david-szabo97

[2021-06-14 13:58] Mamaduka commented on #32094
I pushed the PR to fix issue #32666.

[2021-06-14 14:06] Mamaduka commented on #32620
I only see ten users returned by Users autocomplete.

@herregroen, is this behavior different on multisite? If yes, we can explicitly set `per_page` for that fetch request.

[2021-06-14 14:07] draganescu commented on #32631
Updated! On an iPhone in Safari. Let's see if I can remember the theme 🤦🏻‍♂️
Later edit: I did. It's Twenty Fourteen.

[2021-06-14 15:08] mrfoxtalbot opened #32668 "Image Block: missing title attribute (regression?)"
There is no way to add a title attribute to an image block, the way the "alt text" _can_ be added.

This PR https://github.com/WordPress/gutenberg/pull/11070 was created in late 2019 to add a title attribute to images, but it looks like either it was never merged or it was lost later on due to a regression (I could not find it mentioned anywhere later).

This was noticed by @carinapilar here https

[2021-06-14 15:11] piotrbak opened #32669 "Make dropping the widgets into an empty sidebar easier"
## What problem does this address?
When trying to drop a widget to not empty sidebar, the nice blue line is displayed that's showing the place where we could drop the widget. When the sidebar doesn't contain any widget so far, the line is not displayed and it might be hard to drop the widget in a correct place. Here's the video related to this problem:
https://www.loom.com/share/a2c82947946542188f

[2021-06-14 15:13] Mamaduka opened #32670 "Migrate old typography shape warnings on WP version older than 5.8"
## Description
Currently, typography migration warnings are displayed/logged when using the Gutenberg plugin with WP version 5.7.2 or lower.

I think this happens because warnings are triggered before Gutenberg reregisters core blocks.

Example warning:
[code]

## Step-by-step reproduction instructions
1. Install Gutenberg version 10.8 or later on WP 5.7.x
2. Enabled [debug mode](https://wordpress

[2021-06-14 15:23] creativecoder commented on #25173
Thanks @pablinos, I mentioned this to you last week, but adding here as well for anyone following the issue. Because the Site Logo block will now be available in the post/template editor in WP 5.8, it no longer makes sense to divide how the logo works based on theme type. You'll be able to use the Site Logo block and access the custom logo settings in the Customizer with "non FSE" themes.

[2021-06-14 16:06] Mamaduka commented on #32669
Hi, @piotrbak

Saw this issue earlier today, #32652. Do you think they're related?

[2021-06-14 16:06] gwwar opened #32671 "Global Styles warning in Navigation Editor"
<img width="1529" alt="screen_shot_2021-06-11_at_10 31 18_am" src="https://user-images.githubusercontent.com/1270189/121922976-50378d00-ccef-11eb-945b-62b95a2a4c83.png">

I noticed a PHP warning being thrown when visiting the Navigation Editor while running on Gutenberg trunk (17fd83be8b36b5338f36fa332e0892db2c260a8e) and WordPress Develop master (848a678861b4f6796ae31795b26eff013cd7559a).

To Rep

[2021-06-14 16:22] #32362 closed, assigned to jorgefilipecosta

[2021-06-14 16:32] jaswrks commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-06-14 16:37] mdrick opened #32672 "Improvement : use image in block preview area"
Hi to the Gutenberg developer community,

Regarding Gutenberg improvements, to give the possibility to add an image instead of the preview of a block ?

<img width="692" alt="Capture d’écran 2021-06-14 à 18 07 27" src="https://user-images.githubusercontent.com/17281519/121927804-c2d05900-cd3f-11eb-9212-ab9f0b994202.png">

Why does `example` property don't offer this simply? I tried to use `cover

[2021-06-14 16:42] mrfoxtalbot opened #32673 "Uploading a PDF breaks the File Block"
**Steps to reproduce**

1. Add a file block with a PDF into a post
2. Publish the post.
3. Reload the post in the editor

**What Happens?**

1. With the plugin (10.8) active, the file block renders the PDF preview just fine:

![Screen Shot on 2021-06-14 at 18:28:09](https://user-images.githubusercontent.com/4452464/121926474-4a1ccd00-cd3e-11eb-94da-250face257a4.png)

2. As soon as the plugin is de

[2021-06-14 17:29] thomasplevy commented on #32593
@stokesman thanks for the draft, I just tested it out and it looks good from my perspective. Hope that can get merged in!

[2021-06-14 17:42] javierarce commented on #22071
Hi! I've been looking at the current state of this block and the main suggestions in this thread, and I'd like to bump this issue with some refreshed designs.

[Here's the original Figma file](https://www.figma.com/file/ULWDWBaxA5S61RnDYAFQ6W/Search-Block?node-id=379%3A336) shared by @shaunandrews a while ago. I've updated the designs to the latest version of the UI and introduced some changes. I'

[2021-06-14 19:45] justintadlock commented on #31171
I've been thinking about this a bit.  What about doing this based on the template part "area" too?

What I find myself needing is the ability to register styles for all header template parts and not just one.

[2021-06-14 19:47] justintadlock commented on #32670
Related: https://github.com/WordPress/gutenberg/issues/32600

[2021-06-14 20:05] sagarnasit opened #32678 "Query Pagination center alignment is not working"
## Description
Query Pagination block alignment center is not working expectedly. Previous/Next or Numbered paginations should be centered.

## Step-by-step reproduction instructions
1. Add query block with `inherit default layout` set to off.
1. Add pagination block and update alignment to center from toolbar.

![image](https://user-images.githubusercontent.com/25276905/121952416-d00a3980-cd79-11

[2021-06-14 21:54] stokesman commented on #32437
I can't imagine this is unique to macOS but I haven't tested on other platforms. I'm also pretty sure it's due to the widgets editor and thus should meet the criteria for inclusion in 5.8, so I've added it to the project.

I'd ended up creating an issue for this too before I saw this one and I'm pasting in the screen recording I made since it's show the scrollbars appearing/disappearing depending

[2021-06-15 01:39] alaczek opened #32680 "Query Pagination: Add justification options"
Query Pagination block has three child elements:
* Query Pagination Previous,
* Query Pagination Next,
* Query Pagination Numbers,

While it offers alignment options, justification is missing. It would be nice to have options similar to Social Icons block:
![image](https://user-images.githubusercontent.com/4550351/121292819-e9e8ee00-c92d-11eb-8560-f58b5163dd88.png)

That way we could create design

[2021-06-15 02:40] noisysocks commented on #32629
What precisely do you mean by "they should match". Is this a dupe of https://github.com/WordPress/gutenberg/issues/26163?

[2021-06-15 02:47] noisysocks commented on #32632
Wouldn't this make it hard to drag and drop between areas?

[2021-06-15 02:52] noisysocks commented on #32607
Hey @tomusborne. This is an unfortunate side effect of how widget areas are implemented. Each widget area is a block that connects its `InnerBlocks` directly to the widgets area entity's `blocks` which sits entirely outside of the `@wordpress/block-editor` store.

I'd like us to revisit the architecture of this after 5.8 (I think that Widget Area possibly shouldn't be a block) but for now a workar

[2021-06-15 02:57] noisysocks commented on #32598
Thanks for the extra info. It sounds like we are not enqueueing the script assets that the Text widget needs. Probably this needs to be fixed in Core.

[2021-06-15 03:03] peterwilsoncc opened #32681 "Query block: Notice thrown if template includes post content."
## Description
Including the post content block within a query block will cause a notice to be thrown both within the block editor and when the post containing the query block is viewed on the front end.

The notice is approximately 100K per post (so 500K with five posts, etc).

I've taken the liberty of labeling this a blocker as I pretty quickly worked up a 17MB log file when I first noticed thi

[2021-06-15 03:08] #31023 closed, assigned to nobody

[2021-06-15 03:10] noisysocks commented on #31023
Yes you'll need to fix this in Core. Please open up a ticket and submit a patch! We can still merge https://github.com/WordPress/gutenberg/pull/32503 however as it fixes the issue in the plugin for sites running WP 5.7.

[2021-06-15 03:29] pento commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-06-15 03:32] tomusborne commented on #32607
@noisysocks Thanks for letting me know. Really appreciate the workaround as well, I'll play around with it.

[2021-06-15 03:49] SaxonF opened #32682 "A dedicated space for all things global"
## What problem does this address?
It can be difficult to differentiate between what’s being edited at a local level (e.g. a post, styles affecting a single block instance etc) vs at a global level (e.g. global styles, editing template parts, reusable blocks etc). There is also a lack of feedback on what global style changes actually look like in the context of your site unless the page you're edi

[2021-06-15 03:51] patricklindsay commented on #16478
Looks like this was closed in https://github.com/WordPress/gutenberg/pull/30791

[2021-06-15 04:45] chthonic-ds opened #32684 "Pullquote block: alignment options differ between "classic" and "block" themes"
## Description
The alignment options for the Pullquote block are different depending on the active theme.

## Step-by-step reproduction instructions
Starting with Twenty Twenty-One as the active theme:

1. Add a Pullquote block to a new page.
2. Click the Alignment icon to reveal four options are available: Align left, Align right, Wide width, and Full width.
3. Change the active theme to TT1 bloc

[2021-06-15 05:22] lgersman commented on #25077
Hi Kevin,

i have done a very small example project transforming js/scss into js/css code distributable in wordpress :

https://github.com/lgersman/ix-article-esbuild-2021

The bundling transforms the sourcecode (including scss imports and `@wordpress\*` js packages) into ES2021 source code and css. The project just demonstrates how easy esbuild can be used for wordpress plugin development.

I uti

[2021-06-15 05:39] alaczek commented on #32531
I don't have a specific structure in mind. I was expecting something that would align with the custom permalinks settings.

![image](https://user-images.githubusercontent.com/4550351/121998243-edc5b600-cdee-11eb-8360-2c3f65ecc354.png)

If we're giving users these settings, it makes sense they should be applied universally.

[2021-06-15 07:01] draganescu commented on #32632
Good point @noisysocks. It would simplify dropping in a widget area but it would hinder dropping in the actual place. I find this particula interaction to not work all right anyway in very long UIs, so I think it's a good tradeoff.

The luxury idea would be to have two drop modes on collapsed widgets. Short drop (right after hover) places the item at the end of the list, but long hovers while drag

[2021-06-15 07:02] KokkieH commented on #32526
@glendaviesnz On WordPress.com's end we've had a report of this [via Twitter](https://twitter.com/dreduphd/status/1404674709468364804) that mentions pasting with AppleScript also doesn't work. Do you think it might be the same issue, or something different? I'm afraid testing this is beyond my skillset - no idea how AppleScript works :D

[2021-06-15 07:45] youknowriad commented on #32681
Do you happen to have the message of the notice?

cc @ntsekouras

[2021-06-15 07:53] jasmussen commented on #22071
Lots of good ideas, Javi!

I wanted to rewind a bit and just show the block in GIF form, because a little nuance and detail are lost in the initial block toolbar mockups:

![search](https://user-images.githubusercontent.com/1204802/122012784-d4f0dc80-cdbd-11eb-926c-650bd527a74f.gif)

- The block's alignment tools are none, left, center, right, and in block themes that control is only surfaced when

[2021-06-15 08:18] #32523 closed, assigned to nobody

[2021-06-15 08:21] christincooper commented on #18510
It's bigger than that unfortunately. _All_ images that are not uploaded by the author themselves will fail. For example, using an author account, try inserting an image you did not upload yourself. And then click on it. You will see that some block settings are missing, like image sizes. This is because it is failing to fetch the image.

I have been trying to push this to the higher ups at WordPre

[2021-06-15 08:26] Mamaduka commented on #32681
This is the notice I saw when I tried to reproduce the issue.

I can see a lot of notices, but nothing close to 100K.

[code]

[2021-06-15 09:16] herregroen commented on #32620
Ah you're right. That one doesn't include a `per_page` at all so it gets the default 10 results that's set in the REST controller.

I mistakenly assumed it would have used the default -1 from WP_User_Query.

[2021-06-15 09:32] tomjn commented on #18510
I believe this is not a block editor issue but a REST API issue, and that the trac ticket was incorrectly closed by @garretthyder due to the misunderstanding of the nature of the bug.

I would also note that issues like this stay like this unless somebody champions them. Long standing tickets that haven't been fixed in a long time stay unfixed unless you bring them to attention. SImply _bumping_ t

[2021-06-15 09:52] Mamaduka commented on #32670
I can think of two options to resolve these notices.

1. Skip old typography shape migration for core blocks.
2. Add this filter after the Gutenberg plugin reregisters core blocks.

The second options are a little tricky. We're re-registering the block on the default `init` priority and might be too late to catch the issue in third-party blocks.

/cc @nosolosw

[2021-06-15 09:52] ramonjd commented on #31023
~Looks like there was already a [core patch proposed.](https://core.trac.wordpress.org/ticket/53138)~ That was reverted I believe.

I have [thrown mine up](https://core.trac.wordpress.org/ticket/53407) as well just in case, since I've taken a different approach.

[2021-06-15 09:59] Mamaduka commented on #32673
Hi, @mrfoxtalbot

I think this is expected behavior. Gutenberg 10.5 introduced PDF previews, including new markup with `<object>` - #30857.

So if a user uploads PDF with the latest version of Gutenberg and then switches to a version that doesn't support PDF previews, validation should fail.

[2021-06-15 10:11] paaljoachim commented on #32586
I went ahead and adjusted the icon in your suggestion, Malav.
It might be too detailed, but I am thinking about a more detailed visual going from one Reusable block and converting it back into (might be) multiple blocks. (It is not there yet.)

![Reusable-block-new-convert-icon](https://user-images.githubusercontent.com/5323259/122034802-2a36e900-cdd2-11eb-84cd-5cd2264c155a.jpg)

[2021-06-15 10:17] Mattgh91 commented on #25330
Same, as mentioned above can force it with a timeout but not very pleasant.

[2021-06-15 10:24] markhowellsmead commented on #25330
@Mattgh91 @nasif-co If the issue with `wp.data.select('core/editor').getCurrentPostType()` is that it returns null when you call it for the first time, and the correct value when you call it a second time, then this is because this call is asynchronous. You will need to use `wp.data.subscribe`.

[2021-06-15 10:36] Mattgh91 commented on #25330
@markhowellsmead that was indeed my issue, thanks!

[2021-06-15 11:03] TremiDkhar opened #32688 "Links from Card component to sub-components and vice-versa return 404 error."
## Description

- All the links Card in the [Sub-Components](https://developer.wordpress.org/block-editor/reference-guides/components/card/#sub-components) section are broken.

- The `<Card />` in the [CardBody](https://developer.wordpress.org/block-editor/reference-guides/components/card-body/), [CardDivider](https://developer.wordpress.org/block-editor/reference-guides/components/card-divider/),

[2021-06-15 11:18] getdave opened #32689 "Show rich previews for internal URLs in Link UI"
## What problem does this address?

With https://github.com/WordPress/gutenberg/pull/31464 we introduced "rich previews" for external URLs only.

It would be great if we could now do the same with internal URLs.

## What is your proposed solution?

**Update**: after some discussion with @azaozz we've decided that Docker is blocking requests to itself when the requests come from within the containe

[2021-06-15 12:03] kmadhak commented on #27198
Hello @George Mamadashvili,

Greetings of the day!!!

I would like to know the progress of this issue, please let me know if you need more detail on it.

Thank you.

[2021-06-15 12:05] Mamaduka commented on #27198
Hi, @kmadhak

The PR is ready and waiting for a review.

[2021-06-15 12:29] spetrey commented on #14630
Looks like all classic blocks have the blockName set to null for some reason. That doesn't seem very helpful.
Relevant: https://github.com/WordPress/WordPress/blob/master/wp-includes/blocks.php#L697

[2021-06-15 12:37] gziolo commented on #32365
I have another gist opened with the dev note for changes related to the block editor configuration and filters used there:

https://gist.github.com/gziolo/a947dc52eb2604c77a0a5b0797b2e781

[2021-06-15 13:00] getdave commented on #32282
Interestingly it looks like the format library _does_ in fact preserve both the link type (ie: post type) and entity `id` if provided. However we don't really make use of them.

[2021-06-15 13:28] ddryo commented on #29581
We've confirmed it's fixed in 5.8 beta 1!
Thank you!

[2021-06-15 13:35] getdave commented on #32689
Something like this might work but we're already doing x2 APIs requests and that's without fetching the feature image

[code]

[2021-06-15 13:39] simison commented on #32673
Yep +1, expected.

This would cause issues with any block that has changes done in the plugin but not yet in the core WordPress.

[2021-06-15 13:56] LeoSeyers commented on #26901
+1 for alignement controls in theme.json (not only wide)

[2021-06-15 14:06] LeoSeyers commented on #20588
Would really appreciate to control other support options such as alignment (for any specific blocks) and others. I'm thinking of the heading level (disable ability to have H1s) or columns variation (theme support only for 50/50 - because of design specs).

[2021-06-15 14:10] ddryo commented on #29581
Oh, sorry, it was only Problem 2 that was fixed.

[2021-06-15 14:25] ddryo opened #32695 "In 5.8, files loaded in the footer using wp_enqueue_script are loaded in the widget"
The script that is loaded in the footer by setting the 5th argument of `wp_enqueue_script()` to `true` is loaded in the `iframe` of the widget block.

I understand this specification, but is there any way to determine that it is a widget and control the loading?

## WordPress information
- WordPress version: 5.8 beta1

[2021-06-15 14:26] justintadlock opened #32696 "Pattern Directory API: Provide Hook for Third-Party Directories"
As more and more theme/plugin developers transition to using patterns, many will want to serve up custom patterns to their users and customers.  While we certainly want devs putting their patterns into the official directory, that is not the only way they should be served to users.

In some cases, patterns rely on a theme's Block Styles, so they are not suitable for the directory.  In other cases,

[2021-06-15 14:35] LeoSeyers opened #32698 "Disable or tweak Columns Black Variations"
Hello,

## What problem does this address?

As both designer and developer, I create and follow design specs that I expect to be followed by editors
In most themes I developed these days I let editors use the Columns Block but I'm frustrated cause I only want them to use the 50/50 variations for instance.

From an UX editor point of view, it's annoying to have options when they're actually not sup

[2021-06-15 14:53] fluiddot opened #32699 "Reusable block: Convert to regular blocks actions stops working after undoing a reusable block to regular blocks"
## Description

Convert to regular blocks action doesn't work if the reusable block was already converted and the action was undone.

**Potentially related to issue https://github.com/WordPress/gutenberg/issues/28519.**

## Step-by-step reproduction instructions

1. Add a reusable block to a post/page
2. Tap on the three dots button to display the block actions menu
3. Tap on "Convert to regular b

[2021-06-15 15:06] geriux opened #32701 "Buttons block - Border radius changes are not being stored"
## Description
While sanity testing the [Gutenberg mobile release](https://github.com/wordpress-mobile/gutenberg-mobile/pull/3609#issuecomment-861338275) `1.55.0` an issue was found when changing the border radius of a button within the Buttons block. It looks like it's a breakage from [this PR](https://github.com/WordPress/gutenberg/pull/30194).

## Step-by-step reproduction instructions
1. Open

[2021-06-15 15:08] jorgefilipecosta commented on #29864
I guess if we add a general API to the core the slot fills of the sidebar and toolbar would not render if the block is disabled.

But at the start, we may opt for a block-specific implementation as you referred using disabled and a condition to not render sidebar and toolbar. This solution is simple and also covers the child block case because with <Disabled> one can not select the child blocks.

[2021-06-15 15:41] draganescu commented on #25759
I am working on a dev note.

[2021-06-15 15:42] #32670 closed, assigned to nobody

[2021-06-15 16:06] skorasaurus commented on #23965
I was wondering about this myself and about to make an issue for this. Has any discussion about this arisen since this issue was made?

My use case is very similar to @fabiankaegy ; it's a URL/API key that would globally apply across each use of that block.

[2021-06-15 16:11] #32673 closed, assigned to nobody

[2021-06-15 16:12] draganescu commented on #28517
Adding this later would come after people add the unallowed blocks already :)

[2021-06-15 16:24] anomiex opened #32703 "Intra-monorepo dependencies are too broad and often break"
## Description

It seems fairly common that you introduce an "experimental" API in one module and use it in others, then later on remove the experimental API (e.g. by promoting it to stable) while updating the other modules to use the new version.

That's ok. The problem is that the dependencies between your modules do not reflect this. For example, I recently had some trouble in a project with a

[2021-06-15 16:25] justintadlock commented on #31629
Just confirming that #32352 fixed this.

[2021-06-15 17:08] ddryo commented on #29019
@draganescu

I'm testing the 5.8 beta.

I noticed that all the blocks I placed in the widget area are wrapped with  `.widget_block`

The `.c-widget` class specified in the `'before_widget'` of `register_sidebar()` is given to this `.widget_block`.

But there is a problem here.

In the past, specifying `'before_title'` would output the widget title with the structure of `.c-widget > .c-widget__titl

[2021-06-15 18:18] msilbers opened #32704 "[Widgets Screen] Double "Move to" icons display on all widget areas"
## Description
When testing the Widgets Screen/widgets editor, I see two "move to" icons for each Widget.

## Step-by-step reproduction instructions
1. Activate the widgets editor
2. Navigate to wp-admin > Appearance > Widgets
3. Click any widget

## Expected behaviour
For one icon to display

## Actual behaviour

<img width="340" alt="Screen Shot 2021-06-15 at 2 14 42 PM" src="https://user-images

[2021-06-15 18:25] azollafox opened #32705 "[Widgets Screen] Unable to Update to Save"
## Description
When editing the Widget area under Appearance> Widgets changes can't be saved. An error message appears when you try
![Screen Capture on 2021-06-15 at 14-21-13](https://user-images.githubusercontent.com/7907292/122104156-5e67d500-cde5-11eb-81f1-47ceeecd210e.gif)

## Step-by-step reproduction instructions
1. Follow guide to enable Widget Editor
2. Click to Appearance> Customize
3. Ed

[2021-06-15 18:28] apeatling opened #32706 "Widget Blocks: Customizer live preview does not load CSS/JS for a block"
## Description
The live preview API in the customizer does not pay attention to newly enqueued scripts and styles. When you add a block to a widget area, the live preview pane in the customizer will not load any frontend CSS or JS for that block. This means the block will render incorrectly. Only when you save and reload the customizer will they be enqued correctly. Here is an example using the im

[2021-06-15 18:29] davipontesblog opened #32707 "Block Widgets: Unable to use the theme Customizer to edit"
After enabling block widgets on my test site, previous widgets do not show in the Customizer:

<img width="1106" alt="Screen Shot 2021-06-15 at 15 11 12" src="https://user-images.githubusercontent.com/31009008/122104740-637d5200-cdee-11eb-8602-f3ef2c0059c9.png">

However, they do show in the Appearance > Widgets area in WP Admin.

I am also not able to add or edit any widgets in the Customizer now

[2021-06-15 18:35] AtrumGeost commented on #32707
Got the same behavior. Here's a video.

https://user-images.githubusercontent.com/3696121/122105509-7c7e0700-cdde-11eb-9303-10dc773130d3.mp4

This happened on a site with pre-existing widgets.

Test site environment:

Apostrophe 2 theme
WordPress.com simple site
Gutenberg: v10.8.0
CoBlocks: 2.10.1
Editing Toolkit: 3.8300
WP AMP: 2.0.5

[2021-06-15 18:39] azollafox opened #32708 "[Widgets Screen]Resizing Images Blocks Preview Broken"
## Description
Image block preview in Widget Block area is broken

## Step-by-step reproduction instructions

1. Follow guide to enable Widget Editor
2. Click to Appearance> Customize
3. Add an image block
4. try adjusting the size to anything larger than the pixels for the widget column

## Expected Behavior

I expected image adjustment on the widget editor to match image adjustment in a page or

[2021-06-15 18:57] chad1008 commented on #32669
It does look like theres some UI feedback when dragging, a small green **+** symbol appears on the cursor. It does have a very narrow area where that activates on an empty widget area though.

![Screen Capture on 2021-06-15 at 14-34-13](https://user-images.githubusercontent.com/13856531/122105730-1cd82980-cde7-11eb-84f5-8883fb4d1163.gif)

That sweet spot being so small makes it easy to miss, and t

[2021-06-15 19:31] #32094 closed, assigned to nobody

[2021-06-15 19:34] MadtownLems commented on #9056
This bug seems to persist on 5.7.2.
Clicking "Convert to Blocks" on some content that contains javascript continues to add <br/> to the end of each line, thus breaking the javascript of course.

[2021-06-15 19:35] thisissandip commented on #32461
Unlock Icon is not available in @wordpress/icons package.
So as of now, I have used plain text to display the lock and unlock state in the toolbar.

[2021-06-15 19:52] chthonic-ds commented on #32698
Your JS option already exists, try `wp.blocks.unregisterBlockVariation('core/columns', 'variation-slug')`.

[2021-06-15 19:59] critterverse opened #32711 "Add Preferences modal to the Widgets screen"
Opening this issue based on feedback in https://github.com/WordPress/gutenberg/pull/32569#issuecomment-860480681.

When we first introduced the ellipses menu into the Widget editors, only one Preference was available (compared to 10+ available in the post editor), so it was introduced as an inline option within the ellipses menu. Now that we are starting to adding more Preferences, we should look

[2021-06-15 20:27] mirka opened #32712 "Writing flow: Arrow key navigation gets stuck on non-text inputs"
## Description

Block navigation with arrow keys can get stuck on `input` element types that don't support selection ranges, such as `checkbox`. This effectively makes it a "focus trap", and the rest of the writing flow content cannot be accessed by keyboard.

## Step-by-step reproduction instructions

1. Add a `<input type="checkbox" />` to the edit component of a Core block, such as `Code`.
2. T

[2021-06-15 20:27] mirka opened #32713 "Writing flow: Select all doesn't work when focused on a non-text input"
## Description

"Select all" doesn't select all blocks when focused on an `input` element type that doesn't support selection ranges, such as `checkbox`.

## Step-by-step reproduction instructions

1. Add a `<input type="checkbox" />` to the edit component of a Core block, such as `Code`.
2. Move keyboard focus to the checkbox.
3. Do a "Select all" (e.g. <kbd>⌘A</kbd>).

## Expected behaviour

All

[2021-06-15 20:47] mirka opened #32715 "Writing flow: Horizontal arrow navigation doesn't work on non-text `input`s"
Related #32712 #32713

## Description

Writing flow navigation with the left/right keys does not work with non-text `input` elements, such as `checkbox` and `button`.

https://github.com/WordPress/gutenberg/blob/108633a0cac6c9e5ea541f72b467337372dd8de1/packages/block-editor/src/components/writing-flow/use-arrow-nav.js#L48

## Step-by-step reproduction instructions

1. Add some `<input type="button

[2021-06-15 21:50] jetpen commented on #31756
I have just encountered this same issue in an text editing control of another Web application not platformed on Wordpress. I now suspect this is not specific to Gutenberg, and it may be a flaw in Android or Chrome.

[2021-06-15 21:50] #31756 closed, assigned to nobody

[2021-06-15 22:15] vena commented on #4671
is there a current method now that the render_callback only receives an attributes array? $block->name only throws an error.

[2021-06-15 22:27] augustoleder opened #32716 "Gutenberg and Gutentor"
I use the Gutentor and Gutenberg to build my pages.
When I use the Container block, I click on advanced and later on backgroud and color, an error appears.

"This block has encountered an error and cannot be viewed"

I disabled all the plugins I have and re-enabled one by one and tested. And I realized that the error was only shown when activating the gutenberg.

So the problem is in the gutenberg

[2021-06-15 22:27] bph commented on #4671
The above documentation about creating dynamic blocks has moved to https://github.com/WordPress/gutenberg/blob/trunk/docs/how-to-guides/block-tutorial/creating-dynamic-blocks.md

[2021-06-15 22:38] peterwilsoncc commented on #32681
Log files attached:

Opening the post with the query block > content [editor-open.log](https://github.com/WordPress/gutenberg/files/6659060/editor-open.log)
Saving the post with the query block > content [editor-save.log](https://github.com/WordPress/gutenberg/files/6659061/editor-save.log)
Visiting the post containing the query block: [visit-front-end.log](https://github.com/WordPress/gutenberg/f

[2021-06-15 22:44] vena commented on #4671
Thank you, I had found the new location earlier... but the problem is the render_callback no longer appears to receive a WP_Block instance which was relevant to resolving this issue.

[2021-06-15 23:58] KennySing commented on #12791
So how do i detach a single instance of a reusable block from its global "symbol".

For example

Page 1
- Reusable Block 1

Page 2
- Reusable Block 1

Page 3
- Reusable Block 1 (i want to convert this into a static version of Reusable Block 1)

[2021-06-16 00:09] #28123 closed

[2021-06-16 00:46] #32630 closed, assigned to Mamaduka

[2021-06-16 04:02] ddryo commented on #29019
@draganescu

I have shown the problem in the image.

<img width="857" alt="スクリーンショット 2021-06-16 12 57 18" src="https://user-images.githubusercontent.com/31400297/122155704-80735d00-cea2-11eb-81de-e92cd47a2489.png">

Currently, I can use group blocks to handle titles and content as a set, but this is very different from the previous structure.

<img width="906" alt="スクリーンショット 2021-06-16 13 01 38" s

[2021-06-16 04:03] noisysocks opened #32718 "Latest Posts and Latest Comments blocks don't look great when editor styles are disabled"
## Description

With "Use theme styles" turned off, the Latest Posts and Latest Comments blocks don't look great.

## Step-by-step reproduction instructions

1. Go to Posts → Add New.
2. Go to Preferences → Appearance and turn off "Use theme styles".
3. Insert a Latest Posts and Latest Comments block.
4. Select the Latest Comments block and turn off "Display avatar", "Display date", and "Display e

[2021-06-16 04:13] glendaviesnz opened #32719 "Content load fails if number passed as fontSizeSlug"
## Description
With Gutenberg 10.8.1 block content fails to load in the editor if a number is passed to `getFontSizeClass` instead of a string. Previously lodash kebabCase was forgiving of this misdemeanor.

## Step-by-step reproduction instructions
Run jetpack blocks in local env with 10.8.1
Insert following code into code view of editor
[code]
Switch back to editor view and
The content will not

[2021-06-16 04:13] noisysocks commented on #26163
Closing in favour of https://core.trac.wordpress.org/ticket/53344.

[2021-06-16 04:13] #26163 closed

[2021-06-16 04:17] ddryo commented on #29019
For example, how about implementing a block that can be titled with a name like "**Widget Box**"?

Then, within the block editor of the widget area, limit the number of blocks that can be placed directly under the area to only two.

And in the block editor of the widget area, limit the number of blocks that can be placed directly under the area to two: the "**Widget Box**" block and the "**Legacy

[2021-06-16 04:25] noisysocks commented on #32708
Thanks for the issue. Looks like a bug. One shouldn't be able to resize an image to be larger than the widget area.

[2021-06-16 04:27] noisysocks commented on #32669
Thanks for the report! I'm going to close this in favour of https://github.com/WordPress/gutenberg/issues/32652 as fixing that should fix this.

[2021-06-16 04:27] #32669 closed, assigned to nobody

[2021-06-16 04:28] noisysocks commented on #32652
Thanks for the report. Looks like a bug. The blue line should appear on hover.

[2021-06-16 05:04] #32583 closed, assigned to noisysocks

[2021-06-16 05:59] glendaviesnz opened #32721 "getColorClassName change cause invalidation of existing block content"
## Description
The removal of lodash kebabCase from getColorClassName meant that special characters where not being stripped from the resulting classnames, so blocks that were passing in `#ffffff` as the color slug were expecting to see `has-ffffff-border-color` as the classname, but method is now returning `has-#ffffff-border-color`

## Step-by-step reproduction instructions
Run jetpack blocks in

[2021-06-16 06:00] Mamaduka commented on #32704
Thanks for reporting the issue.

I'm not able to reproduce it on the latest version of the Gutenberg plugin. But I found similar issue #32191, and it looks like this is WordPress.com related.

[2021-06-16 06:05] #32704 closed, assigned to nobody

[2021-06-16 06:09] ntsekouras commented on #32681
The errors/warnings you're getting are in the case where you have a `Query Loop` with `Post Content` block, and the results also contain the current post. This can lead to an infinite loop trying to load the same dynamic content.

The specific message which is also shown to the editor is a sign about what the user is trying to do, which is not correct, and should be handled by the user, for exampl

[2021-06-16 06:32] ddryo opened #32723 "Widgets: Add a 'Widget Box' container block"
I am testing the new Widgets Editor at 5.8 beta-2.

Now, I have set up the sidebar in my theme as follows.

[code]

We then have the following CSS applied to `.c-widget` and `.c-widget__title`.

[code]

For example, if I have a "Text" widget and a "Category" widget in place, it would look like this

<img width="480" alt="スクリーンショット 2021-06-16 16 24 42" src="https://user-images.githubusercontent.com

[2021-06-16 06:41] edwinho89 commented on #32719
Initially reported on #21259015-hc

[2021-06-16 06:45] jasmussen commented on #32461
Which "unlock" icon are you referring to?

I found this lock icon in the icons package:

<img width="444" alt="Screenshot 2021-06-16 at 08 44 49" src="https://user-images.githubusercontent.com/1204802/122170760-3af16880-ce7f-11eb-9b05-0bd9f2c5e435.png">

<img width="907" alt="Screenshot 2021-06-16 at 08 43 43" src="https://user-images.githubusercontent.com/1204802/122170796-45abfd80-ce7f-11eb-845b

[2021-06-16 06:59] thisissandip commented on #32461
In the example video above,
To display the lock state, the lock icon from Dashicons is used.

![image](https://user-images.githubusercontent.com/69596988/122171529-713de080-ce9d-11eb-9296-8f435a941214.png)

And for the unlocking state, the unlock icon is used.

![image](https://user-images.githubusercontent.com/69596988/122171595-86b30a80-ce9d-11eb-8eff-d177b2aac22f.png)

I was looking for similar

[2021-06-16 07:04] talldan commented on #32716
@augustoleder I'm going to close this. Please could report this again, but properly fill out the bug report template that you see here:
https://github.com/WordPress/gutenberg/issues/new?assignees=&labels=&template=Bug_report.md

Also please explain what 'Gutentor' and the 'Container' block are when creating the new issue. Thanks.

[2021-06-16 07:04] #32716 closed, assigned to nobody

[2021-06-16 07:11] talldan commented on #32672
There are other factors that can affect the block appearance in the preview, like the specified theme and block styles, so a static image wouldn't be sufficient for the preview.

[2021-06-16 07:11] #32672 closed, assigned to nobody

[2021-06-16 07:12] ddryo commented on #32723
This is due to the following structural problems

<img width="1185" alt="スクリーンショット 2021-06-16 16 11 25" src="https://user-images.githubusercontent.com/31400297/122174263-8aef2000-cebd-11eb-8647-b0aa76afb531.png">

[2021-06-16 07:32] LeoSeyers commented on #32698
Oh my! I've been looking for this extensively. Thank you!

[2021-06-16 07:37] #32657 closed, assigned to getdave

[2021-06-16 07:42] #30632 closed, assigned to ockham

[2021-06-16 07:43] getdave opened #32725 "Find better location for `__experimentalFetchRichUrlData` function"
## What problem does this address?

In https://github.com/WordPress/gutenberg/pull/32658 we created a WP-specific function that abstracts away the logic of fetching rich preview _data_ for a given URL. This function is then added as a block editor setting called `__experimentalFetchRichUrlData` and then consumed by `<LinkControl>`.

Currently this function resides directly within the [`packages/ed

[2021-06-16 08:33] paaljoachim commented on #29178
Please check out these Pull Requests:

**Add Reusable block save button, snackbar on save and Welcome Guide**
https://github.com/WordPress/gutenberg/pull/32464

**Add lock feature for Reusable Blocks to protect inner blocks**
https://github.com/WordPress/gutenberg/pull/32710

[2021-06-16 08:35] paaljoachim commented on #31163
Please check out these Pull Requests:

Add Reusable block save button, snackbar on save and Welcome Guide
#32464

Add lock feature for Reusable Blocks to protect inner blocks
#32710

[2021-06-16 09:10] grogou opened #32728 "Woocommerce templates and FSE"
## What problem does this address?

How we can create templates for woocommerce? Is there a way to do that?
For example products archive page.

[2021-06-16 09:13] draganescu commented on #32624
I tested this and it's as described. Just installing Imagify and Yoast (no configuration just activation) creates errors. If some plugin causes an error:

a) without `WP_DEBUG`

<img width="744" alt="Screen Shot 2021-06-16 at 12 08 50" src="https://user-images.githubusercontent.com/107534/122192031-f1fbdd00-ce9b-11eb-877d-fc81394bbdc3.png">

b) with `WP_DEBUG`

<img width="846" alt="Screen Shot 20

[2021-06-16 09:19] gizmo2501 commented on #29178
Those look great, thanks for that.

One thing I am not clear on - is there/will there still be an option to convert a reusable block to regular blocks, so that any changes made do not overwrite other instances of the reusable block, and, likewise, any changes to what was that reusable block would not affect it (as it would have been converted to regular blocks)?

Essentially so we can use reusable

[2021-06-16 09:22] paaljoachim commented on #32461
EDIT: I moved my reply to @cpsyctc  to this issue:
https://github.com/WordPress/gutenberg/issues/31163#issuecomment-862282230

I am working on keeping feedback to issues that already has various feedback.

[2021-06-16 09:27] ntsekouras commented on #31113
Resolved here: https://github.com/WordPress/gutenberg/pull/32694

[2021-06-16 09:27] #31113 closed, assigned to nobody

[2021-06-16 09:27] kevin940726 commented on #24949
`remove_theme_support( 'widgets-block-editor' )` doesn't seem to work at all now. I opened [trac-53424](https://core.trac.wordpress.org/ticket/53424#ticket) to track it.

[2021-06-16 09:31] paaljoachim commented on #29178
In WP 5.7 without the Gutenberg plugin activated:
The icon seen in the toolbar that looks like a duplicate icon is actually the Convert to regular blocks icon.

<img width="115" alt="Screen Shot 2021-06-16 at 11 32 01" src="https://user-images.githubusercontent.com/5323259/122195265-806d6000-ce96-11eb-9482-1f3e57162e2f.png">

Not obvious at all.  That is why I got this PR merged:
Add Convert to re

[2021-06-16 09:47] draganescu commented on #26040
To get the open source (free) Genesis Framework you have to register with an email. However, to get Refined Pro, it's impossible? The Link to refined pro from the [Genesis Themes](https://www.studiopress.com/themes/) [page](https://www.studiopress.com/themes/refined/) is a [404 page](https://shop.restored316designs.com/product/refined-feminine-wordpress-theme/) from Restored 316.

It looks like th

[2021-06-16 09:58] draganescu commented on #26040
Testing with the Genesis framework alone:

- the widget editors work
- there are some Notices and Warnings that show up b/c of `WP_DEBUG`:

<img width="752" alt="Screen Shot 2021-06-16 at 12 56 42" src="https://user-images.githubusercontent.com/107534/122199147-78b3b880-cea2-11eb-92b7-dfc13ae87291.png">

These seem unrelated to the Widgets editor or the rest API widget endpoints.

[2021-06-16 10:13] draganescu commented on #32707
I cannot reproduce this using WordPress core trunk or 5.7 and migrating to Gutenberg's block widgets. Looking at the details it may be an implementation issue for WordPress.com, so this issue should be moved to an Automattic project.

Closing for now, but feel free to comment/reopen if this is core related in the end.

[2021-06-16 10:13] #32707 closed, assigned to nobody

[2021-06-16 10:23] chthonic-ds opened #32730 "Heading block: toggling heading level alternates between displaying content and placeholder label"
## Description
Toggling the heading level of a Heading block containing content will alternate between the content and the block's placeholder label.

## Step-by-step reproduction instructions
1. Add a Heading block.
2. Add some text.
3. Change the heading level via the block toolbar and observe the text is replaced by a placeholder label for the block.
4. Change back to the initial level and obse

[2021-06-16 10:31] aristath commented on #31964
PR #32692 fixes this :+1:

[2021-06-16 10:51] getdave commented on #32652
Just tested on 5.8 beta with the Gutenberg Plugin enabled and I got this which seems ✅

https://user-images.githubusercontent.com/444434/122206233-07233c80-ce99-11eb-8357-a5b51fb5456c.mp4

I'm not sure if this is the expected behaviour but I can drag and drop between Widget areas.

[2021-06-16 10:57] davipontesblog commented on #32707
Thank you for triaging @draganescu. I've now recreated the issue in https://github.com/Automattic/wp-calypso/issues/53741

[2021-06-16 10:58] paaljoachim commented on #31163
I am bringing over @cpsyctc comment made here: https://github.com/WordPress/gutenberg/issues/32461#issuecomment-860254074 into this issue instead. I am trying to keep the general feedback in just a few issues.

Thanks for the feedback, @cpsyctc Chris
We are working on improving Reusable blocks in multiple ways.

That has changed in the Gutenberg plugin through this PR: https://github.com/WordPress

[2021-06-16 10:59] draganescu commented on #32706
Using the latest WordPress trunk and Gutenberg trunk I could not reproduce this. Here is a video:

https://user-images.githubusercontent.com/107534/122207611-fda2d000-ceaa-11eb-8465-232d7b20a9b2.mp4

[2021-06-16 10:59] #32706 closed, assigned to nobody

[2021-06-16 10:59] getdave commented on #32631
Confirmed I can still replicate on the iOS Simulator

https://user-images.githubusercontent.com/444434/122207642-42723b00-ce9a-11eb-9d72-1a2cc7b4721b.mp4

I'll take a look into this one.

[2021-06-16 11:02] draganescu commented on #32705
From the screenshot this also appears to be a WordPress.com related issue. Testing using WordPress Core and latest Gutenberg I could not reproduce this. Closing for now but feel free to reopen if the problem ends up being core related.

[2021-06-16 11:02] #32705 closed, assigned to nobody

[2021-06-16 11:02] paaljoachim commented on #32461
A PR has been added here:
https://github.com/WordPress/gutenberg/pull/32710

[2021-06-16 11:18] draganescu commented on #26181
I also could not reproduce this. It may be one of the incipient problems which have been solved in the meantime. Given the date of the issue and the number of attempts to repro I'll close.

[2021-06-16 11:18] #26181 closed

[2021-06-16 11:50] draganescu commented on #32004
@critterverse @noisysocks there is a PR which removes the button. I think it's a good idea, because I was about to open another issue that once that is clicked there was no way back.

[2021-06-16 13:18] youknowriad commented on #32730
mmm 🤔 I'm not able to reproduce this personally. Anything specific about your install?

[2021-06-16 13:24] #32698 closed, assigned to nobody

[2021-06-16 13:32] draganescu commented on #26156
Is [this](https://github.com/WordPress/gutenberg/pull/32501) fixing this?

[2021-06-16 13:37] #32620 closed, assigned to aristath

[2021-06-16 13:46] youknowriad commented on #4747
I think the crux of this issue is now solved with the "layout" feature. A dedicate dev note will be published soon.

[2021-06-16 13:46] #4747 closed

[2021-06-16 14:17] getdave commented on #25093
@spacedmonkey Just flagging this one for you here as you asked me to keep you in the loop on REST Menus API items. This is high on the priority list for the Navigation Editor in Gutenberg and I'm hopeful that someone will be able to take a look into it very soon.

[2021-06-16 14:20] youknowriad commented on #6639
As shared by @gziolo not adding this class to all blocks has been a conscious decision, some blocks also don't have wrappers (shortcodes, embeds)...

I think for the use-cases mentioned here, our approach lately have been to add settings to theme.json to define things like block margins, layout... and avoid CSS as much as possible.

I'm going to close this issue for now as for me the ship has sail

[2021-06-16 14:20] #6639 closed

[2021-06-16 14:40] skorasaurus commented on #26955
has this been resolved with https://github.com/WordPress/gutenberg/pull/32404 ?

[2021-06-16 14:44] oandregal commented on #26955
#32404 surfaces existing syntax errors to users. However, we still don't do type validation for the data that comes from `theme.json`.

[2021-06-16 14:50] mcsf commented on #32681
It would be good to identify the cause of such a high volume of notices in @peterwilsoncc's report, in case that's a red flag for something else.

In my testing with a post containing a Query Loop block whose query encompasses the post itself, I see just **1** warning upon rendering the front end, and **2** upon loading the editor for that post.

[2021-06-16 14:56] critterverse commented on #32461
Hi all, just left a note in https://github.com/WordPress/gutenberg/pull/32710#issuecomment-862445687 but also wanted to highlight a potential improvement available in https://github.com/WordPress/gutenberg/pull/31109. In my opinion, the clickthrough approach doesn't resolve all of the known issues with the Reusable block but it's a big improvement over where we are currently!

[2021-06-16 15:10] oglekler opened #32740 "List view: show anchors in brackets for easier to find a certain part in content and to view clearly which parts have HTML anchors"
## What problem does this address?
When you have a long post it's difficult to find the right part in the structure.

## What is your proposed solution?
To add HTML anchors in brackets to blocks in the List view.

HTML anchors are widely used for internal post navigation, it will be good to have them visible in the three:
![2021-06-16_18-03-55](https://user-images.githubusercontent.com/16874687/12

[2021-06-16 16:40] oandregal commented on #32347
Reopening as we have to revert the PR that fix it https://github.com/WordPress/gutenberg/pull/32742

[2021-06-16 17:03] ockham commented on #32347
I think it's fine to continue to use `kebabCase` in the editor. On the frontend, let's aim to cover the case where a number is followed by a string (`slug1` -> `slug-1`) or vice versa (`2slug` -> `2-slug`), or both; and maybe the camel case conversions.

It's probably okay to ignore the special treatment of ordinals for now -- it's enough of a edge case to tell people "don't use those" maybe 😬

[2021-06-16 17:14] laurelfulford commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-06-16 17:44] ockham commented on #32347
We can approach this by adding unit test cases (both JS and PHP) for the scenarios described in https://github.com/WordPress/gutenberg/issues/31629 and https://github.com/WordPress/gutenberg/issues/26940.

[2021-06-16 17:46] dreamwhisper commented on #26040
I work with the Genesis team and was originally able to replicate the reported issue independent of Genesis/Refined by activating various plugins.

The issue no longer displays `This block has encountered an error and cannot be previewed.` for all widgets, but there are some script errors associated. From the OP's screenshots at the time, I installed and tested https://wordpress.org/plugins/social

[2021-06-16 17:54] mkaz commented on #32365
Published [Template Editor Dev Note](https://make.wordpress.org/core/2021/06/14/introducing-the-template-editor-in-wordpress-5-8/). I marked off the item above and linked to the dev note also.

[2021-06-16 17:54] #32701 closed, assigned to enejb

[2021-06-16 17:59] fklein-lu commented on #32211
PHP themes should be able to provide a template without needing to add a block-based template.

It will be impossible to transition most PHP themes to being block-based while keeping the same design and functionality. So you can't expact authors to add `single.html` or `page.html` templates as they would be used for content rendering.

But authors still would want to offer something better than th

[2021-06-16 18:13] dreamwhisper commented on #26040
Also adding that the above tests were with the Gutenberg Version 10.8.1 on WP 5.7.2. The color picker appears to be working in WP 5.8 Beta 2.

[2021-06-16 18:33] oandregal commented on #32719
Closed by https://github.com/WordPress/gutenberg/pull/32742

[2021-06-16 18:33] #32719 closed, assigned to glendaviesnz

[2021-06-16 18:33] oandregal commented on #32721
Closed by https://github.com/WordPress/gutenberg/pull/32742

[2021-06-16 18:33] #32721 closed, assigned to glendaviesnz

[2021-06-16 18:43] draganescu commented on #32689
How about making a new search handler for this specific thing? Look at the handlers for formats or taxonomies.

[2021-06-16 18:50] draganescu commented on #26040
@dreamwhisper hi! I didn't realize you actively work on this. Thank you!

[2021-06-16 19:31] paaljoachim opened #32748 "Reusable block: Making it easier to understand that one is removing the Reusable block from a page."
The problem: It is not clear that one is removing a Reusable block or removing the inner content. As it will say Remove block at any level one is on.

Reported here:
https://core.trac.wordpress.org/ticket/53434

From my understanding of the above report the user is wondering how to delete a Reusable block from a page without it affecting all other instances used of the Reusable block.

----

Here

[2021-06-16 19:33] critterverse opened #32750 "Swap the Legacy Widget block icon (with version that matches icon template more closely)"
The Legacy Widget block icon stands out from other icons due to it being slightly bigger. I've recreated the icon at the correct scale based on the Design Library icon template:

<img width="168" alt="legacy-widget-icon" src="https://user-images.githubusercontent.com/77359364/122280082-cc300180-ceb6-11eb-9311-9b7686cee119.png">

This will especially help when seeing lots of icons together in the I

[2021-06-16 19:50] mkaz commented on #32365
Published @gziolo new [Block Editor APIs for Multiple Admin Screens](https://make.wordpress.org/core/2021/06/16/block-editor-api-changes-to-support-multiple-admin-screens-in-wp-5-8/). I marked off the item above and linked to the dev note.

[2021-06-16 20:16] michaelbourne opened #32751 "Classic Block wrapping <cite> with <p> tags"
## Description
When HTML content is added to a post via PHP, and that post is viewed in the block editor, some tags will have paragraphs wrapped around them. When viewing the content in the database, these paragraph tags don't exist. When viewing the post in the block editor's code editor view, these paragraph tags don't exist. They are only present inside the Classic Block (viewable when editing

[2021-06-16 20:36] michaelbourne commented on #32751
Additional context: this happens with the HTML markup for both Pullquote and Quote blocks. Both get a `p` tag wrapping their `cite`.

However, the Quote HTML properly converts to blocks, where as the Pullquote does not. This is not the issue at hand, but the Pullquote block is missing a `raw` matching rule for transforms (since a pullquote isn't really a valid HTML element, it's a style of blockqu

[2021-06-16 20:40] critterverse commented on #32748
Since this is the current behavior, it seems like this user is mostly unclear about when the parent Reusable block is actually selected — I think your advice there will help a lot, @paaljoachim! It also helps that the "remove block" action as it works currently is non-destructive, not the reverse 😅

There has been some exploration in https://github.com/WordPress/gutenberg/issues/30357 about how to

[2021-06-16 20:57] youknowriad opened #32752 "API to define a default template for the template mode"
WordPress 5.8 will introduce a template mode in the post editor https://make.wordpress.org/core/2021/06/14/introducing-the-template-editor-in-wordpress-5-8/

That mode allows users to create block templates and assign them to posts and pages. A default starting template is used to repopulate newly created templates.

Ideally, themes should be able to define the content of the initial template. Let

[2021-06-16 20:58] chthonic-ds commented on #32730
@youknowriad, thanks for taking a look.

I don't think there's anything unique about the install, it's a simple test site with only Gutenberg active. When I have Gutenberg deactivated changing levels works as expected.

- The theme in the screenshot is TT1 Blocks but I first experienced this with a different theme active.
- Have tested with a fresh install of WordPress and Gutenberg.
- There's a f

[2021-06-16 21:01] youknowriad commented on #32730
Thanks for following up, indeed it sounds intriguing.

What kind of chrome violation?

I should also clarify that I'm not testing on Windows, so that could be a factor, would be good to get more folks testing this as well.

[2021-06-16 21:09] chthonic-ds commented on #32730
Here's the Chrome violation notices I see when inserting the Heading block, adding content and switching levels:

`[Violation] 'keydown' handler took 153ms index.js?ver=3dca987…36a0a9b5e818474df:1`
`[Violation] 'input' handler took 250ms index.js?ver=07cd2ee…e490bc9bb6cf04bd:44`
`[Violation] Added non-passive event listener to a scroll-blocking 'wheel' event. Consider marking event handler as 'pas

[2021-06-16 21:37] justintadlock commented on #32347
So, `has-font-size-2xl` is reverting to the broken `has-font-size-2-xl` on the front end now?  I've had to maintain a hacky workaround for my theme users to fix this.  I literally just sent out an update since it was fixed in the last Gutenberg release.

If a slug is not actually invalid, it should not be altered.

Can we get a flag or hook for handling this on our own?

[2021-06-16 22:42] eduardozulian opened #32753 "[Widgets Screen] Text disappears when Heading Block level is changed"
## Description
When you add the Heading Block to the new Widgets Screen,

## Step-by-step reproduction instructions
Please list the steps needed to reproduce the bug. For example:
1. Go to the new Widgets Screen
2. Add the Heading Block
3. Type something in that Heading Block.
4. Change the level (for example, from the current one to h3 or h4)

## Expected behaviour
To always see what I typed in t

[2021-06-16 23:04] chthonic-ds commented on #32730
Seems related: https://github.com/WordPress/gutenberg/issues/32753

[2021-06-16 23:08] peterwilsoncc commented on #32681
I'm seeing this happen when the post I am editing is in `draft`, so it doesn't include the post being queried. It also happens when I click the preview button. It doesn't happen when I reload the page.

![log](https://user-images.githubusercontent.com/519727/122305509-5e351a00-cf4a-11eb-872f-f0924b14bfe7.gif)

Even when the post is published, I think this is something we ought to handle as an auth

[2021-06-17 00:13] iandunn opened #32754 "api.w.org needs locale for pattern translation"
## What problem does this address?

#28800 moved Core's block patterns out of Gutenberg and into the w.org Pattern Directory, which means they're no longer translated by Gutenberg. api.w.org will handle translation, but needs to know the user's locale.

Knowing the WP version might also help with caching, and let the API avoid sending newer patterns to old WP versions which don't have the dependen

[2021-06-17 00:38] azaozz commented on #32282
Wondering if it's worth it going a step further like having a `data-wp-postid` attribute on internal links. Another reason is that the `url_to_postid()` [(PHP) function](https://developer.wordpress.org/reference/functions/url_to_postid/#source) is bad, slow, hacky, etc. :) Having a good, reliable way to avoid it would be pretty nice.

[2021-06-17 00:49] noisysocks commented on #32695
Hi @ddryo. Does checking the `IFRAME_REQUEST` constant help in this case? Or how about checking for the presence of `$_GET['legacy-widget-preview']`? Alternatively we could look at adding a new constant e.g. `WIDGET_PREVIEW`.

https://github.com/WordPress/gutenberg/blob/f1f0cd7adceeecce546641dafdb2a1d0844f2bb2/packages/widgets/src/blocks/legacy-widget/index.php#L80

[2021-06-17 00:52] noisysocks commented on #29019
Closing in favour of https://github.com/WordPress/gutenberg/issues/32723.

[2021-06-17 00:52] #29019 closed

[2021-06-17 01:05] noisysocks commented on #32723
Hi @ddryo. Thanks for the explanation and excellent diagrams. It will help to contain conversation about this to one issue thread so I'll close https://github.com/WordPress/gutenberg/issues/29019 in favour of this one.

Re-sharing what you wrote in https://github.com/WordPress/gutenberg/issues/29019#issuecomment-862025880:

I think this is a neat idea and might be the best way forward.

Some quest

[2021-06-17 01:10] noisysocks commented on #32624
I'm surprised to see that `get_current_screen` is undefined. Perhaps intercepting the iframe request in `init` is too early. We need to intercept the request before headers are sent but after most of WordPress has loaded.

https://github.com/WordPress/gutenberg/blob/f1f0cd7adceeecce546641dafdb2a1d0844f2bb2/packages/widgets/src/blocks/legacy-widget/index.php#L120

[2021-06-17 01:23] talldan commented on #32753
This is possibly a duplicate of #32730, which has just been reopened. @eduardozulian does this only happen in the widget editor for you? #32730 seems to show this in the post editor as well.

[2021-06-17 01:40] talldan commented on #32723
It does seem fairly late for the release process.

A pattern seems like a reasonable option, though the widgets screens don't seem to support them currently.

I could also see users needing a way to wrap a block already inserted. Maybe an option like the Group option, or a transform.

[2021-06-17 03:34] talldan opened #32756 "Blocks that use entities are not saved in the widget editors"
## Description
When using a full site editing block (e.g. Site tagline) or reusable blocks in the widget editors, changes to those blocks are not being saved.

I imagine the issue is that the widget editor doesn't save all the edited entities. This also exposes the question of whether the editor now needs to replicate the UI that the post and site editors have for entities. I think the answer to t

[2021-06-17 04:22] ddryo commented on #32723
@noisysocks

Here are my thoughts.

## Point 1
The most important point is that the "Widget Box" should be prepared separately from the Group Block.

This is because their roles are distinctly different.

Currently, all blocks are automatically wrapped in `.widget_block`, but I would like to make this a block in itself.

For example, the structure of a "Widget Box" block would look like this

[cod

[2021-06-17 04:29] ddryo commented on #32723
- I think we should quit automatically wrapping the blocks placed directly under the widget area with `.widget_block`.
- And "**instead**", I think we should allow the user to place the "Widget Box" block at will.
- And it should ideally be able to output a title.

[2021-06-17 04:42] ddryo commented on #32723
I would also like to add the disadvantage of having the blocks in the widget area automatically wrapped with `.widget_block`.

1. First of all, this is unpredictable when a user edits a block.
Users who don't have access to developer tools will be very confused as to why the content doesn't look the way they want.

    For example, you might think you have two simple "paragraph" blocks, but each o

[2021-06-17 05:02] talldan commented on #12791
@KennySing There's a button on the toolbar of the reusable block:
<img width="175" alt="Screenshot 2021-06-17 at 1 01 20 pm" src="https://user-images.githubusercontent.com/677833/122334351-2fc83680-cf6c-11eb-9979-71fa35b297e5.png">

[2021-06-17 05:06] noisysocks commented on #32598
Moved to https://core.trac.wordpress.org/ticket/53437.

[2021-06-17 05:06] #32598 closed, assigned to nobody

[2021-06-17 05:08] talldan commented on #32711
Relevant to this is https://github.com/WordPress/gutenberg/issues/31965. We could do with a bit of a refactor of editor preferences, as they're all implemented as part of the post editor.

I have started work on this, but I'm not prioritising it until 5.8 is shipped.

[2021-06-17 05:37] talldan commented on #32740
Good news. This was implemented already in https://github.com/WordPress/gutenberg/pull/31992.

[2021-06-17 05:37] #32740 closed, assigned to nobody

[2021-06-17 05:53] Mamaduka commented on #32730
I think this got fixed via #32432.

I can reproduce the issue with Gutenberg 10.8.2, but not with 10.9.0-RC or the current trunk.

[2021-06-17 05:54] oglekler commented on #32740
Cool, thanks! I wasn't looking at closed issues )

[2021-06-17 06:13] aristath commented on #32752
Using the `block_editor_settings_all` filter would make sense...
The 1st thought that came to mind was introduce a `block-template-default.html` file, but the filter sounds more versatile, and it can still be used with a file using something like
[code]
so using the filter does not exclude using a file... it makes sense to do something like that since it leaves the door open for other future imple

[2021-06-17 06:15] draganescu commented on #32718
There is a long standing problem with styling the list item in the Customizer: it is missing its bullets:

<img width="1442" alt="Screen Shot 2021-06-17 at 09 13 58" src="https://user-images.githubusercontent.com/107534/122341836-976e8980-cf4c-11eb-86b1-fc350f4bc281.png">

[2021-06-17 06:29] noisysocks commented on #32756
Just noting we could consider disabling these blocks in the widgets editors as a temporary solution for 5.8.

[2021-06-17 06:51] draganescu commented on #24099
This was heavily based on this

which never materialized because of the difficult a11y issues. I'll close this, we can come back to this idea once we have a clear alternative in place of `LinkControl`

[2021-06-17 06:51] #24099 closed

[2021-06-17 06:56] draganescu commented on #32629
It's not a dupe I believe. The problem here is that the editor in the Customizer styles the widgets and blocks to match the active theme not the one being previewed. If we eventually drop editor styles from the Widgets editor, hence the Customizer as well, then this issue won't exist anymore.

[2021-06-17 07:04] xsonic commented on #21954
This wouldn't be so much of an issue, as the theme could easily overwrite it. But I noticed that as soon as I add a `theme.json` file, all these styles (`has-vivid-green-cyan-background-color` etc.) get added inline with `!important`.

[2021-06-17 07:05] talldan opened #32758 "Main editor region outline does not display when navigating regions"
## Description
When navigating regions, each region is expected to have a blue outline when focused.

This doesn't seem to happen in the post or widget editors due to another element overlapping the region.

## Step-by-step reproduction instructions
1. Use the shortcut for navigating regions (Ctrl+Opt+N on a mac)
2. Note the blue outline on most regions
3. Focus the editor region

## Expected beha

[2021-06-17 07:08] talldan commented on #32758
Oh, looks like a duplicate of https://github.com/WordPress/gutenberg/issues/21717.

[2021-06-17 07:08] #32758 closed, assigned to nobody

[2021-06-17 07:10] talldan commented on #21717
I accidentally created a duplicate (#32758). When testing more recently it looks like the main editor area and publish panel link are the only two that don't have outlines.

For the main editor area, there are other elements overlapping the region. The CSS for the regions is here:
https://github.com/WordPress/gutenberg/blob/trunk/packages/components/src/higher-order/navigate-regions/style.scss

It

[2021-06-17 07:15] #32616 closed, assigned to fluiddot

[2021-06-17 07:22] draganescu commented on #24687
I have updated this issue with new info (props @noisysocks) about blockers as we head into the code freeze for WP 5.8 RC 1.

[2021-06-17 07:29] jasmussen commented on #32748
This is one of the reasons why I believe the "clickthrough" interface is a good interface here. By clickthrough I mean a colored overlay that indicates when you click this block, you click the parent first: the reusab le block itself. Meaning if you need to remove it, you just press Delete, just like if you select an image and it's focused.

[2021-06-17 07:48] getdave commented on #32756
I'd say that would be reasonable for 5.8.

Whilst it's not ideal to lose these blocks, it seems like given its scope this could be quite a large issue to solve in such a short space of time.

[2021-06-17 07:53] #32437 closed, assigned to stokesman

[2021-06-17 08:26] getdave commented on #32756
In case we need it (which I think we will) here is a PR that disables all the FSE blocks in the Customizer. I'd appreciate some input on which blocks we can safely retain (if any):

https://github.com/WordPress/gutenberg/pull/32761

[2021-06-17 09:05] youknowriad commented on #32752
yes, that make sense maybe it should be named more something like `default_block_template`?

[2021-06-17 09:09] youknowriad commented on #32730
That explains it I guess :)

[2021-06-17 09:09] #32730 closed, assigned to nobody

[2021-06-17 09:10] aristath commented on #32752
Yes, that would make sense. Or even `default_block_template_content` if we want to be more verbose/accurate :+1:

[2021-06-17 09:11] Mamaduka commented on #32753
Should be fixed in 10.9.0-RC - https://github.com/WordPress/gutenberg/issues/32730#issuecomment-862947769.

[2021-06-17 09:11] #32753 closed, assigned to nobody

[2021-06-17 09:14] talldan commented on #30700
I think the original issue has been solved, I could definitely drag to the bottom of a column. Dragging to the top works as well, but the blue indicator doesn't show.

I also can't reproduce the widgets issue, just the thing I mentioned before—the blue drop indicator doesn't show at the top and the area that can be dragged into is smaller than expected (see https://github.com/WordPress/gutenberg/i

[2021-06-17 09:36] talldan commented on #32756
Thinking about what other options there are.
- Adding the entity saving flow to the standalone widget screen might not be too difficult. Mostly a matter of copying the post/site editor implementation.
- In the customize widget screen, there are two separate problems.
    - First the saving flow. To fix this would mean hooking into the customizer's publish button, and right now I'm not sure how pos

[2021-06-17 10:24] oandregal commented on #32347
Got an in-progress PR to fix this at https://github.com/WordPress/gutenberg/pull/32766

[2021-06-17 10:26] ddryo commented on #32723
Let me add an additional explanation for my opinion that **"it's not a good idea to implement this in a Block Pattern**".

- Yes, it may be possible to implement the same thing with the block pattern, but it is not smart to have groups inside `.widget_block`(which in my case also has `.c-widget`), because it would output too much useless HTML.

- "Group" and "Heading" are **too generic and can eas

[2021-06-17 10:33] kevin940726 opened #32769 "[Widgets screen] Clicking on the bottom of the screen doesn't unselect block"
## Description

Clicking on empty spaces in the Widgets Screen should unselect the currently selected block. It works when clicking on the left/right side of the screen, but not when clicking on the bottom of the screen. Seems like the event is bound to the root element of the editor, but the editor's height is not stretched to the full screen.

## Step-by-step reproduction instructions

1. Go to

[2021-06-17 10:33] oandregal commented on #32347
@justintadlock I hear your frustration and I feel it myself. I wish we didn't have to do this.

To clarify direction: the front and the site editor are going to behave like the post editor has been behaving since the beginning. This is, a slug such as `2xl` for font sizes is going to become the class `has-2-xl-font-size` and a slug such as `2nd` is going to become `has-2nd-font-size`. The exact be

[2021-06-17 11:09] youknowriad commented on #32642
Just FYI the label "backport to WP beta" is used for PRs and the project for issues.

[2021-06-17 12:02] ntsim commented on #13998
This is actually genius, thank you for this! This works a lot better than other solutions I've seen around previewing :grimacing:

I would just add that rather than doing this in `functions.php`, you can do it in the `singular.php` template. Think it ends up being a bit cleaner as you can also call `wp_head` and `wp_footer` which gives you the WordPress admin bar, making it a lot more like the nat

[2021-06-17 12:40] Mamaduka commented on #15147
I'm able to reproduce the issue.

The `FlatTermSelector` fetches term objects on `componentDidMount`. When post tags are updated terms programmatically new term object isn't fetched.

If you close/open the "Tags" panel new term should be visible since component remounts.

[2021-06-17 12:43] Mamaduka commented on #12271
I'm no longer able to reproduce this issue.

https://user-images.githubusercontent.com/240569/122398609-184c7600-cf8b-11eb-93be-42143acc6acc.mp4

[2021-06-17 12:43] #12271 closed

[2021-06-17 12:48] kjellr commented on #30568
This definitely seems like a bug to me. @jasmussen / @youknowriad, can you confirm though? I don't know why left/right/center alignments would need to disappear regardless of the layout settings.

[2021-06-17 12:59] aristath commented on #32211
Linked this issue to https://github.com/WordPress/gutenberg/pull/32771 which adds a way to define the default templates. When that PR gets merged this one can be closed :+1:

[2021-06-17 13:14] Mamaduka commented on #19289
Tested using example code from the issue, I'm no longer able to reproduce this issue.

[2021-06-17 13:28] youknowriad commented on #30910
Removing this from the 5.8 broad as I believe we got all the 5.8 targeted improvements in already.

[2021-06-17 13:34] justintadlock commented on #32347
I'm just asking that we have an easy way for those of who wish to fix this on our end be able to do so.  Please just add filter hooks in the appropriate areas as part of the changes or a way to flag a slug with a number in it from being mangled.

[2021-06-17 13:39] Mamaduka commented on #21408
The issue should be fixed now, #30891.

[2021-06-17 13:39] #21408 closed

[2021-06-17 13:44] getdave opened #32779 "On controlling blocks and the scope of the Block Supports API"
## TL;DR

* Blocks often have features that are only relevant/suitable in specific editor (ie: Nav, Widgets, Post, Site...etc) contexts.
* Current APIs to control these are imperative and somewhat disparate - eg: utilising various different filters.
* We've been exploring controlling all block features via the Block Supports API - this has worked well.
* **Problem**: involves adding block supports

[2021-06-17 13:48] aristath commented on #32184
Closing as duplicate of https://github.com/WordPress/gutenberg/issues/6639. There is a discussion there including the reason why these have not been added :+1:

[2021-06-17 13:48] #32184 closed, assigned to nobody

[2021-06-17 13:49] justintadlock commented on #32347
I'm not really familiar with the JavaScript side of things, but looking over the JS hooks system, something like this could suffice for colors:

[code]

And, for font sizes:

[code]

The proposed `gutenberg_experimental_to_kebab_case()` function would also have a similar hook.

[2021-06-17 14:40] youknowriad commented on #32779
A few things that come to my mind when reading this:

 - Block Supports API are not an API to enable/disable things, they are APIs to share composable behaviors across blocks without replicating the same logic over and over in different blocks.
 - This logic in block supports can make use of `useSetting` in order to hide/show features and these settings have the theme.json file (or the BlockEditor

[2021-06-17 14:43] youknowriad commented on #30568
The reason we removed these alignments from containers with a layout defined is because "float left" and "float right" here will behave differently than what folks are used to: the blocks will be aligned completely at the left or right of the container and not at the left of the "content size" area. If that's something folks are ok with, we can bring these back, it's a small change.

[2021-06-17 14:59] kjellr commented on #30568
I think we might as well include it — some themes handle floats like that anyway, and I found it confusing to see these options missing.

[2021-06-17 15:03] igorradovanov opened #32784 "wp-env - Unable to install WordPress CLI Packages"
## Description
wp-env Docker environment is unable to install new WordPress CLI packages due to a permission denied issue.

## Step-by-step reproduction instructions
1. wp-env start
2. wp-env run cli package install 10up/mu-migration

## Expected behaviour

The package should be installed and ready to be used via WordPress CLI.

## Actual behaviour

An error occurs: Error: Composer directory '/etc

[2021-06-17 15:16] bph opened #32785 "10.9 RC Error message: Failed to open stream: No such file or directory"
## Description
After install of Gutenberg 10.9.rc1 I see the warning on Wp-admin and front end:
` warning: g: file_get_contents(/public_html/wp-content/plugins/gutenberg/lib/../build/widgets/blocks/legacy-widget/block.json): Failed to open stream: No such file or directory`

## Step-by-step reproduction instructions

1. Enable WP Debug
2. install Gutenberg 10.9 rc1 on a clean install
3. Activate T

[2021-06-17 15:20] bph commented on #32785
Reproduced it with local site as well. Here is the stack trace
![Screen Shot 2021-06-17 at 11 19 50 AM](https://user-images.githubusercontent.com/39980/122426210-0d2f2100-cf5e-11eb-960d-78ed999d1874.png)

[2021-06-17 15:21] #32211 closed, assigned to nobody

[2021-06-17 15:21] #32752 closed, assigned to youknowriad

[2021-06-17 15:31] enejb opened #32786 "rnMobile: BottomSheet padding is to long"
The bottom sheet padding is too tall. This issue needs more investigation)

## Description
Currently, the padding in the bottom sheet is about 24px it should be about 8px.

## Step-by-step reproduction instructions
... Open up the bottom sheet notice the large spacing at the bottom.

## Screenshots or screen recording (optional)
See https://cloudup.com/ceJ4KYk9WcL

## Device information
- Device:

[2021-06-17 16:41] justintadlock opened #32787 "Gradient backgrounds should be set with `background-image` instead of `background`"
I have been attempting some work with `background-clip: text` like so:

[code]

To create a gradient effect on text like this:

![gradient-text](https://user-images.githubusercontent.com/1816309/122438598-7e6fd380-cf60-11eb-81a4-186fd4ed04ba.jpg)

However, this does not work when using either gradient presets or a custom gradient.  Both use `background: $gradient` instead of `background-image: $gr

[2021-06-17 17:46] optimizewp opened #32789 "Gutenberg 10.9.0 RC1 breaks Site Editor (Beta)"
## Description

After installing Gutenberg `10.9.0 RC1` on an `FSE` enabled theme, like `TT1 Blocks` or `Armando`, `Site Editor (Beta)` opens with empty content.

Please note that Gutenberg works with no issue to edit post/pages.

I am aware of this issue https://github.com/WordPress/gutenberg/issues/32785, which is actual on my local testing environment.

## Step-by-step reproduction instructions

[2021-06-17 17:59] gibrown commented on #22071
Love that this is moving forward. Thanks!

One case I noticed missing is an option for displaying text or an X when the search box has text in it. Latest version of Jetpack Search (moved from an X to "Clear"):

<img width="1262" alt="Screen Shot 2021-06-17 at 11 53 32 AM" src="https://user-images.githubusercontent.com/820871/122449693-63529300-cf63-11eb-9877-123ec4f93bcc.png">

[2021-06-17 18:14] draganescu commented on #32779
Yes, `useSetting` is actually the stabilized form of `useEditorFeature` which IMO was a clearer name, so it's, like `supports` a global way to share configuration of editor features/settings between blocks.

So my understanding is that the block API does not have a standard way to create "settings that apply to only one block" and which can be used to configure the block based on where it is used.

[2021-06-17 18:19] alanps opened #32790 "Using Gutenberg outside of WP"
I have the Gutenberg library that I got from Github and would like to know how to select Gutenberg language outside of Wordpress ? I saw that the translation files exist, I just didn't find a way to select them...

[2021-06-17 19:00] hollypryce commented on #32529
I completely agree! A lot of the builds I work on require the "read more" link to be styled like this and a separate block would be very handy.

[2021-06-17 20:15] gchtr commented on #24616
In the use case that I have, I need to remove text alignment for paragraph blocks for a certain post type only, and not globally. Would that be possible with theme.json?

[2021-06-17 21:09] bosconian-dynamics opened #32791 "@wordpress/scripts: path-based webpack entry points produce inconsist output file structure"
## Description
When extending `@wordpress/scripts`' `webpack.config.js` to add to `entry` using chunk/entry point names containing forward slashes, the `style-{chunk name}.css` files produced are output to a directory disparate from the rest of the assets and bundles built for that entrypoint.

## Step-by-step reproduction instructions
1. Override `@wordpress/scripts`' `webpack.config.js` file to

[2021-06-17 21:19] ghost opened #32792 "Pagination query block issue"
The pagination query block previous pages work. But going back to the 1st page from any of the others fails. Instead, it reloads the current page.

[2021-06-17 21:30] ambienthack commented on #28809
I had the same problem. What seems to cause the problem is the fact that my whole project (including the whole wp install) has its own package.json & node_modules in the root directory of the project. Temporarily renaming of node_modules & package.json did the trick for me.

[2021-06-17 21:38] justintadlock commented on #32723
See: https://github.com/WordPress/gutenberg/issues/25174

[2021-06-17 21:56] #32330 closed, assigned to johnstonphilip

[2021-06-17 23:38] bosconian-dynamics commented on #32791
As it turns out, this is simply how Webpack v4's `splitChunks` automatic naming scheme works. It seems it could be overridden by specifying a `splitChunks.name` property, but [the documentation](https://webpack.js.org/plugins/split-chunks-plugin/#splitchunksname) recommends against doing so in production.

It would be nice if `FixStyleWebpackPlugin` could support such user-supplied splitChunks nam

[2021-06-17 23:49] hsingyuc commented on #32688
I'll push a PR shortly.

[2021-06-17 23:53] marcosignacio opened #32794 "Same site embed looses floating toolbar on blur"
**Description**
Same site embeds looses floating toolbar on blur

**Step-by-step reproduction instructions**

1. Create a new post (besides defaults Hello World).
2. Copy that post's link.
3. Edit "Hello World!".
4. Add some paragraphs.
5. Insert embed. Paste (2) link.
6. Click on title or other paragraph.
7. The embed toolbar disappears, and doesnt show again even clicking inside embed box.

**Ac

[2021-06-18 00:34] youknowriad commented on #32779
I'm hearing here that you want a way to change the behavior of "block types" depending on screens.

For me, a block type should be consistent and work the same way across screens and I don't think building block editor abstractions and concepts based on the Navigation screen use-case is a good approach because that feels very much as a very special case for me. I think we can get more clarity on t

[2021-06-18 00:42] bosconian-dynamics commented on #32791
For anyone who might stumble upon this later, this appears to a be a functional work-around which maintains compatibility with `FixStyleWebpackPlugin`:
[code]
It seems fragile though.

[2021-06-18 00:56] paaljoachim opened #32795 "Errors: Activating special Gutenberg Build PR plugin"
## Description

I have for a while used this approach: https://make.wordpress.org/design/2021/03/03/testing-a-gutenberg-pull-request-pr/
In PR: Going to the tab Checks -> clicking Gutenberg build -> then downloading the Gutenberg plugin -> unzipping -> zipping it up again -> uploading to a test site. Results in multiple fatal errors. So that I have to deactivate the plugin.

## Step-by-step reprod

[2021-06-18 02:06] lear2012 commented on #15147
I experienced the same issue.
wp.data.dispatch('core/editor').editPost({tags: [3]}) invoked in component class, it doesn't work as expected.

[2021-06-18 03:51] alexstine commented on #29526
Hello @ggordon-vispero

Sorry about the delay here, I got busy with other tasks in my personal life. I made a PR which removes `role="group"` from the blocks. Could you please test with JAWS and let me know the results? You can test by clicking the link below.

https://gutenberg.run/32799

Also, if you are available @amandarush , the more testing, the better.

Thanks.

[2021-06-18 03:52] Mamaduka commented on #32785
It looks like the `blocks` directory is missing from the widget package when Github builds release artifacts.

Here's another example build for PR: https://github.com/WordPress/gutenberg/actions/runs/947360778.

[2021-06-18 04:34] vanduc1102 opened #32802 "No newline at the end of *.assets.php"
## What problem does this address?

I'm suggesting a new feature for this repo: https://github.com/WordPress/gutenberg/blob/trunk/packages/dependency-extraction-webpack-plugin/

I have to add a final newline for the file `*.assets.php` when using this sniffer https://docs.woocommerce.com/document/create-a-plugin/#error-1008

I think it is better to have final newline by default or with an option.

[2021-06-18 05:41] Mamaduka commented on #32802
Hi, @vanduc1102

It's usually good practice to exclude third-party or auto-generated code from CodeSniffer.

The documentation example includes `vendor` and `node_modules`. You can also exclude the `build` or directory you're using for compiled assets.

[2021-06-18 06:18] vanduc1102 commented on #32802
Hi @Mamaduka , i have excluded the `build` folder already, but when i submit the plugin to WooCommerce Store, they check the file and give me an ERROR

[code]

[2021-06-18 06:23] jasmussen commented on #30568
I don't have a strong opinion, but wanted to note that if we are able to bring some CSS grid to the block editor at some time in the future, floats will have to be wrapped in containers such as group in order to work. So it's something to revisit in case the `layout` becomes aware of that.

[2021-06-18 06:54] #31964 closed, assigned to nobody

[2021-06-18 07:11] draganescu commented on #32779
Gutenberg on the front end, Gutenberg used in non CMS apps based on WP ... :) any usecase where the environment might be dictating limitations. Basically the editor might have special cases where certain features of the block are incompatible.

I don't think we'd be altering the block type, we'd be configuring behaviros. The type is consistent and works the same way, but it behaves slightly differ

[2021-06-18 07:41] manooweb commented on #32750
Starting on this 😉
Is there someone to assign me to the issue?

[2021-06-18 08:09] kevin940726 commented on #32718
It seems to be explicitly added in #14627. Not sure about the design decisions there though 🤔, maybe @getdave has some thoughts?

[2021-06-18 08:20] #32347 closed, assigned to oandregal

[2021-06-18 08:36] nendeb opened #32805 "Provide an API to conditionally style the Legacy Widget preview iframe"
Widgets:Legacy Widget Preview

## What problem does this address?

In my theme I have multiple widget areas, and I use CSS to change the design of each widget area, even for the same widget.
However, the widget editor, legacy-widget-preview, can't distinguish between widget areas, so I get the same design.

## What is your proposed solution?

I would like the widget editor legacy-widget-preview to

[2021-06-18 08:36] kevin940726 commented on #32756
Might be worth mentioning that the "Preview" feature also doesn't work for FSE blocks even in the post editor. This might be related, as the problem could be in the FSE side but not in the widgets screen. Maybe we should fix it there, not sure though. I know very little about FSE 😅.

https://user-images.githubusercontent.com/7753001/122532470-1ea62500-d053-11eb-9b90-6cd43e4d16b1.mp4

This should b

[2021-06-18 08:51] gziolo commented on #32703
I listed it as a topic to discuss in the weekly Core JS chat on [WordPress Slack](https://make.wordpress.org/chat/) in the #core-js channel.

Meeting dates can be found at https://make.wordpress.org/meetings/:

<img width="367" alt="Screen Shot 2021-06-18 at 10 52 32" src="https://user-images.githubusercontent.com/699132/122534964-5ac19180-d023-11eb-8a8f-969dbea3a677.png">

[2021-06-18 08:56] gziolo commented on #32802
I guess we can just add a new line out of the box to follow WordPress conventions 👍🏻

@vanduc1102, would you like to take care of this task?

[2021-06-18 09:07] getdave commented on #32718
Gosh that was a long time ago. My brain seems to suggest we removed it because when you add the Latest Posts Block to the main content you didn't want bullet points for each entry in the list, especially if you had the full excerpt and content turned on.

That said it does seem like perhaps that should have been behind a guard to only happen if there is except and content being shown in the list.

[2021-06-18 09:20] gziolo commented on #32408
@galloppinggryphon, are you proposing that we add:

[code]

for the case when TypeScript is not installed? Would you mind opening PR with the changes that fix your use case?

[2021-06-18 09:22] getdave commented on #32718
I've spun up https://github.com/WordPress/gutenberg/pull/32806 as a PoC to see if we want to take this approach.

[2021-06-18 09:41] fluiddot commented on #32699
As far as I investigated, looks like the issue is caused by the memoization of the selector `getBlock`.

The selector is [memoized using a cache object](https://github.com/WordPress/gutenberg/blob/a1eac43ce47852fdf0d92187f8d6de79a3dc5e0d/packages/block-editor/src/store/selectors.js#L158-L165) that contains a list of client ids, each one with an empty object that is updated when there has been any

[2021-06-18 10:05] Xilonz commented on #32748
This is a snippet I just created that simulates the "click first on reusable block, then on the contents". Wouldn't be too hard to add a ::before element that does the colored overlay.
[code]

[2021-06-18 10:19] aristath commented on #32802
Shouldn't this be fixed in the WooCommerce Store's phpcs configuration instead, adding something like this? This is ultimately an issue with the phpcs config, is it not?
[code]

[2021-06-18 10:34] chthonic-ds opened #32811 "Request: a way to retrieve layout values from theme.json"
## What problem does this address?
I'm working on a FSE theme that uses CSS Grid for layout. To ensure theme defaults can be edited via the Layout panel I would like a way to retrieve the `contentSize` and `wideSize` layout values from theme.json. These are currently not exposed as custom properties, as far as I'm aware.

For context, here's a reduced snippet of CSS targeting a Group block:
[code]

[2021-06-18 10:35] gziolo commented on #32802
Ideally, it should. Realistically speaking, it won't have any impact on the projects when we add a new line.

[2021-06-18 11:08] Jamiewarb commented on #14242
Hey there!

Any recent thoughts on this? It looks like this is still the way to be adjusting the editor UI

[2021-06-18 11:10] aristath commented on #31710
Pushed a PR in #32812 adding the missing `separator` attribute if anyone wants to test & review it :+1:

[2021-06-18 11:12] colorful-tones commented on #29568
@justintadlock @kjellr and I [discussed this in #themereview](https://wordpress.slack.com/archives/C02RP4Y3K/p1623860031493800) the other day.

I've come to appreciate @justintadlock approach and naming convention.

I think this lays a solid foundation for theme authors to work with. Standardizing on these variable names is critical to setting up a scaffolding for themes to operate, while allowing

[2021-06-18 11:24] getdave commented on #32779
I (think/hope I) understand the arguments but I'm not currently in favour of a _separate_ "Simple Navigation" block. Whilst it sounds like a great solution I feel it may add extra overhead where it is not warranted (something I know we're keen to avoid as a project).

In my opinion I think a configurable Navigation block is the way to go. Why? Because I believe we're actually going to be forced to

[2021-06-18 11:28] colorful-tones commented on #29568
I've also gone ahead and put this on the radar for #core-css weekly, as we're currently having ongoing discussions about CSS Custom Property naming conventions.

Recently we've been focused on @ryelle experimental work on WP Admin color schemes with Custom Properties. Here is our single source of truth in shared Google Doc: [WordPress Core CSS custom property naming](https://docs.google.com/docume

[2021-06-18 11:38] jaclyntan commented on #6639
Hello, can we please reopen this issue? I do not feel this is adequately resolved using just`[class^="wp-block-"]`.

Not only is this very limited in scope, this workaround excludes blocks like headings and paragraphs which by default do not get any gutenberg specific classes at all. This can be very problematic if people are using custom blocks and interspersing them with core blocks in their the

[2021-06-18 11:39] Azragh commented on #32787
Agreed. `background:` affects
[code]
IMHO it's bad practice to use shorthand properties in inline styles alltogether.

[2021-06-18 11:42] getdave commented on #32689
Note that I've tried allowing the `url-details` endpoint to request internal URLs. Unfortunately this only works for URLs that are accessible over HTTP and exposed to the public internet.

We could say `localhost:8888` (or similar) is an exception and it's ok not to show previews to folks who are running WP on a non-web accessible URL.

However, the use case of this feature for previewing internal

[2021-06-18 11:44] youknowriad commented on #6639
I agree that alignments inside containers in the biggest use-case for this. This is something we solved using the "layout" config in theme.json by making sure theme authors don't have to provide this kind of CSS at all.

[2021-06-18 11:52] colorful-tones commented on #32051
I'm super curious on a write up on all the neat changes that @aristath has helped introduce here in #32051, and #31239, _and_ even #32275. These all seem to have a great impact on how styling can be applied by theme authors.

@aristath is there a post looming please?

Also, huge thanks for all your work! 👏

[2021-06-18 12:07] youknowriad opened #32813 "Improve the feeling of jumpiness when entering the template editor"
When entering the template editor, and after creating a new template, there's a couple of seconds (or milliseconds) where you see the screen updating itself, replacing the block list shown (from the content of the post to the content of the template).

I think we should try to improve that to make the transition more seamless. I think some debugging is needed to understand exactly what changes are