[2022-03-16 13:49] cbirdsong commented on #37590
I can set up a sample theme later this week, but for now I can describe some issues.

For font sizes, responsive typography is a big one. Even in theme.json themes you can only accomplish it through a `clamp()` value, which is much less straightforward than media queries and has other issues. _(see below)_

For block editor themes, another issue is that you can only supply pixel units for fonts in

[2022-03-16 13:56] fabiankaegy commented on #39495
@Mamaduka I didn't know that PHP function existed. If we were to port it to JS where should it live? 🤔 Would it be it's own `@wordpress/` package or should it live under `compose` / `i18n` ?

[2022-03-16 13:58] Azragh commented on #36135
I just ended up spamming !important all across in my _blocks.scss which is damn annoying. I can live with such overrides in backend, but on frontend it just feels bad.

[2022-03-16 14:00] joyously commented on #13795
Cool! Going back to shortcodes? This really underscores the need to keep the content separate from the extra stuff that describes it, like taxonomies and featured image.
I don't think the featured image should be shown in the editor's content area, since the theme or plugin (even blocks) can do lots of different things with it dynamically.

[2022-03-16 14:02] markhowellsmead commented on #36135
It's been several months now, but I still think that the suggestion by @keithdevon (https://github.com/WordPress/gutenberg/issues/36135#issuecomment-957315733) is the best solution which could be implemented by core. For now, I, too, am having to live with using `!important` in many more places than should be necessary.

[2022-03-16 14:12] jasmussen commented on #13795
Not so much shortcodes, as you wouldn't write them, you'd pick them from a list. I can't find the issue right now, but something like this:

<img width="777" alt="Meta chips" src="https://user-images.githubusercontent.com/1204802/158609443-5d826f1d-6084-4215-92f5-ea257c737ae2.png">

[2022-03-16 14:30] frg-tech commented on #36135
Thanks for the replies. I'm using the twenty twenty-two theme and don't seem to have a _blocks.scss.

I'm trying to get rid of a bottom margin on an img block. I can override it easily in dev tools, but using the same rules in style.css has no effect whatsoever.

[code]

I've also tried defining it in theme.json, but I don't think you can add !important to those statements.

[code]

I know this is

[2022-03-16 14:40] pagegwood commented on #18595
@ligne13 thanks for sharing. Also, block_editor_settings will throw a deprecation notice whereas block_editor_settings_all does not.

Is it just me, or does every attempt to override or extend Gutenberg's default behavior feel like a fragile hack?

[2022-03-16 14:47] lwangdu commented on #39466
You can click on  the "Start blank" or "Choose" blue button above right side of screen. So you can see different layout options.

[2022-03-16 14:47] github-actions[bot] opened #39506 "[Flaky Test] should select previous block after removing selected one"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should select previous block after removing selected one

## Test path
`specs/editor/various/list-view.test.js`

## Flaky rate (_estimated_)
`57 / 58` runs

## Errors

<details>
<summary>
	<time datetime="2022-03-16T14:47:18.244Z"><code>[2022-03-16T14:47:18.244Z]</code></tim

[2022-03-16 15:05] davipontesblog commented on #39466
Hi @iwangdu 👋  The "Start blank" or "Choose" are only there when the block is first inserted - on a Pattern, or any theme default content already placed in the editor the option is no longer visible/accessible. Here is an example with the default Twenty Twenty-Two theme's home page patterns:

<img width="1711" alt="Screen Shot on 2022-03-16 at 12-02-34" src="https://user-images.githubusercontent.c

[2022-03-16 15:32] paaljoachim commented on #39490
Discussed during the Open Floor of Wednesdays Core Editor Slack meeting.
https://wordpress.slack.com/archives/C02QB2JS7/p1647441596700679

@jorgefilipecosta could you add some comments to this issue?
Thanks!

[2022-03-16 15:36] afercia commented on #39292
Note: this issue has been reported also on Trac, see https://core.trac.wordpress.org/ticket/55244 and can be reproduced on latest trunk with no plugins activated. It appear to happen after selecting all blocks with Ctrl (Cmd) + A.
It would be great to confirm this has been fixed in latest Gutenberg.

Maybe related: https://github.com/WordPress/gutenberg/pull/38820

[2022-03-16 15:44] mrwweb commented on #38998
Thanks to everyone who has weighed in so far. Amazing ideas and energy here! (Pardon my delay in responding. I've been away from the computer for a few weeks.)

---

@glendaviesnz's [recap comment](https://github.com/WordPress/gutenberg/issues/38998#issuecomment-1064702483):

Thanks for the good recap. What I really want to emphasize with those examples is that there doesn't seem to be a clear set

[2022-03-16 15:58] adamziel commented on #31456
Related: [Multi-entity permission management #37489](https://github.com/WordPress/gutenberg/issues/37489)

[2022-03-16 16:08] webmandesign commented on #37590
@cbirdsong

Indeed, I experience the same issue here, but this was true also pre-WP5.9 unfortunately. I approach it similarly as you do. I kind of made peace that `add_theme_support( 'editor-font-sizes' )` will not be updated to work with relative units or even with CSS variables.

Sorry, I don't have enough experience with `theme.json` themes. But I can see your point. I hope this will be fixed i

[2022-03-16 16:13] gziolo commented on #39495
Do we use it outside of `@wordpress/url`? Otherwise, it can be internal for now.

[2022-03-16 16:23] mtias commented on #39028
Yes, the color panel looks like this now precisely to reduce the cognitive weight when multiple color areas are available:

<img width="413" alt="image" src="https://user-images.githubusercontent.com/548849/158638138-ac1f5004-b708-4a3b-8c3b-5ec0a77aa3c8.png">

[2022-03-16 16:23] michalczaplinski opened #39510 "Selecting an inner block in Comment Template is unreliable and requires two clicks."
### Description

The selection of inner blocks of the Comment Template sometimes requires two clicks and is unreliable.

When the block is inactive, and the user clicks on one of the inner blocks of one of the comments (e.g. Comment Date or Comment Content) the **first** click selects the Comment Template and only the **second** click selects the correct inner block.

~~Additionally, _occasionally

[2022-03-16 16:47] jonschr commented on #37590
@glendaviesnz The remaining issues for me are, like others, around responsive styles. I use a [sass mixin](https://codepen.io/MadeByMike/pen/vNrvdZ) for smooth scaling up and down font sizes between a desktop size and a mobile size, and the !important declaration overrides it, resulting in a normal experience on desktop and incorrectly-sized text on mobile for any text that's set to small, large,

[2022-03-16 16:47] fabiankaegy commented on #39495
`deburr` seems to be used in 9 files across the entire repo: https://github.com/WordPress/gutenberg/search?q=deburr

https://github.com/WordPress/gutenberg/blob/3da717b8d0ac7d7821fc6d0475695ccf3ae2829f/packages/components/src/navigation/utils.js#L4

https://github.com/WordPress/gutenberg/blob/ebb4a8a031061410040625faa801981579880498/packages/url/src/clean-for-slug.js#L4

https://github.com/WordPre

[2022-03-16 16:51] Mamaduka commented on #39495
We could potentially replace most of them with updated `cleanForSlug`.

[2022-03-16 16:54] gziolo commented on #39495
The question would be if making `@wordpress/url` a dependency makes sense in all cases.

[2022-03-16 17:26] eric-michel commented on #38998
@mrwweb

The only way I'm aware of (and have done limited testing with) is `wp_get_global_settings` and `wp_get_global_stylesheet`. But this simply introduces the problem of: "Ok, I can iterate through a list of colors in the theme's color palette, but how do I know which one to use for my form plugin's submit button?" Having standardized tokens, of course, fixes this problem, because the plugin a

[2022-03-16 17:29] eric-michel commented on #38998
@markhowellsmead

This is cool, thanks! I've considered looking into block filters for this purpose, but have held off so far in favor of a simple utility class - mainly because of the learning curve but also because I'm somewhat reluctant to add more invasive changes to blocks for a feature that I suspect will probably eventually make its way into Gutenberg proper.

[2022-03-16 17:35] #37560 closed, assigned to nobody

[2022-03-16 17:36] marcorroma commented on #39292
It's the exact same problem. Thank you

[2022-03-16 18:05] skorasaurus commented on #39292
Thanks @marcorroma ; could you edit your issue's title to something that more clearly describes your issue like "Unable to edit the post title in the post editor?

[2022-03-16 18:23] ockham commented on #37717
Here's a follow-up spec of sorts that details what kind of extension mechanism could be implemented in order to retain a similar User Experience as offered by the legacy hooks (i.e. auto-append Login/out block upon plugin activation): #39439

[2022-03-16 18:34] skorasaurus commented on #39292
thanks for the detailed reproduction instructions in the trac ticket;

Like @afercia ; I am able to reproduce this consistently when the gutenberg plugin is deactivated; but I am unable to reproduce this when Gutenberg plugin ( 12.7.2 ) is installed and activated.

Would whatever fixed this be worthy of  5.9.x inclusion?

[2022-03-16 18:36] Mamaduka commented on #39292
My best guess is that this PR fixed issue #38821. But it would be nice to get confirmation from @ellatrix.

[2022-03-16 19:06] AnthonyLedesma commented on #39474
Good call @talldan. It looks like passing in `as={ MenuItem }` as you have proposed in your example code does the job of rendering a `MenuItem` as expected.

I can work on a PR to make that MenuItem a default unless overridden.

[2022-03-16 19:10] afragen commented on #37717
I do appreciate the efforts though it seems more complicated than my suggestion on one simple filter.

[2022-03-16 19:22] ethanclevenger91 commented on #28117
The easy solution here is to have a manual toggle. This feature also doesn't seem to work very well with images that are dark to start with and don't need a heavy overlay.

[2022-03-16 19:41] markhowellsmead commented on #38998
That’s all this block filter does: add a selection interface to apply a pre-defined class name. All one would have to do (technically) is remove the control and update the content when (if) a parallel setting arrives in core.

[2022-03-16 19:43] eric-michel commented on #38998
Cool! I will definitely check it out!

[2022-03-16 20:09] michaelbourne commented on #38545
With `.is-style-solid-color` being depreciated, the offending CSS should simply be removed. This is affecting themes that aren't using theme.json as well, even setting a background color in the editor is overridden by this CSS.

https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/pullquote/style.scss#L49-L52

[2022-03-16 20:15] cbirdsong commented on #37590
This is true, but that doesn't set a progressively enhanced fallback for browsers that don't support custom properties.

More importantly, it doesn't fix all the existing themes that don't have anyone actively developing them and assumed no one would be coming through and adding "!important" to these classes.

---

Actually, these are `!important`-ed with theme-supplied font size presets and custo

[2022-03-16 20:20] ellatrix opened #39516 "List v2: indent/outdent"
It should be possible to indent and outdent list items with buttons and the Space/Backspace shortcuts (when at the start of a list item).

[2022-03-16 20:24] ellatrix opened #39518 "List v2: ordered/unordered switch, start and reverse attributes"
Add a toolbar option to switch between `ul` and `ol`.
Also add start and reverse controls to the block inspector.

[2022-03-16 20:26] ockham commented on #38107
I think even if we want the (first iteration of) the Comments Form block(s) to strictly reflect the functionality of the `comment_form()` function (including the redirect upon submit, which is kinda ugly 😝), we still need to present the form inside of the Comment Template (and thus, inside of the Comments Query Loop) -- in the same position as the Reply link that the user clicked. Here's what that

[2022-03-16 20:30] ellatrix opened #39519 "List v2: splitting/merging"
It should be possible to split list items (use RichText's `onSplit`).
When splitting an empty list item, the list as a whole should split.

It should also be possible to merge list items (use RichText's `onMerge` and and `merge` in the block type).
It should be possible to merge a paragraph into a list, but this could be done separately as it will require #39520.

[2022-03-16 20:36] skorasaurus commented on #39107
Hi,

Thanks for reporting; sorry your issue didn't get attention until now; there's already another issue - https://github.com/WordPress/gutenberg/issues/39457 that's been made requesting it and you can follow its progress there.

[2022-03-16 20:36] #39107 closed, assigned to nobody

[2022-03-16 20:40] ellatrix opened #39520 "List v2: transforms"
Restore all list [transforms](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/list/transforms.js) including the `* ` shortcut and paste transform.

[2022-03-16 20:42] skorasaurus commented on #38860
similar to https://github.com/WordPress/gutenberg/issues/37071 ?

[2022-03-16 20:45] ellatrix opened #39521 "List v2: migrate function"
We should add a migrate function for old markup. The multiline list value should be parsed and nested lists need to be taken into account. This migrate function will need some integration tests.

[2022-03-16 21:22] paaljoachim commented on #39490
Chrome dev tools - Elements. Checking the HTML and CSS.

Notice the element.style

[code]

![Screenshot 2022-03-16 at 22 18 36](https://user-images.githubusercontent.com/5323259/158692960-a3b287ca-57a4-476e-8905-7d390cd86144.jpg)

Turning off the above resulted in a much smaller header.

![Screenshot 2022-03-16 at 22 18 51](https://user-images.githubusercontent.com/5323259/158693163-ad31ea57-c3c3-

[2022-03-16 21:41] bradhogan commented on #37036
Just want to see what the status of this issue it.  It seems odd that alignwide and alignfull are removed from blocks inside a cover.  If, for example, I have two price boxes inside a cover block, I wouldn't want them to take up the entire width inside of the cover block.

[2022-03-16 22:28] dmsnell commented on #13795
Not at all, if my understanding is correct. Specifically, that this feature request has nothing at all to do with tokens or indicating that when rendering, a given image should show the featured image for a post.

In my understanding this feature request is specific to the image and cover blocks and amounts to a shortcut function: "go ahead and set this one as the featured image for the post."

Ju

[2022-03-17 00:21] dkoo commented on #37982
Can confirm that this is replicable in a core 5.9 site without any other plugins active.

[2022-03-17 01:32] andrewserong commented on #39427
Ah, apologies, yes! I've been looking at the Group block too long, and was too quick in my testing. The Cover block indeed doesn't have color controls for text. Though, like with the Group block, maybe it'd be good to be able to cascade down a text color / link control. I suppose we'd like both blocks to be great and versatile container blocks that are a foundational part of designs, so having all

[2022-03-17 03:39] noisysocks commented on #28517
Just closing the loop on this...

https://core.trac.wordpress.org/ticket/55301 has been closed and you'll be able to access `$context->name` in WordPress 6.0 to achieve this.

[code]

[2022-03-17 03:45] onetrev opened #39527 "FSE: Discrepancy between back and frontend if changing content width in templates"
### Description

I've noticed that if you change a Group Block's width in a page template, the changes work on the frontend but are not reflected in the backend. Instead, the backend continues to rely on the theme.json setting for `contentSize`.

Here's a screenshot from my editing the Group Block for the content area of the Page Template. I've changed the width to 980px.

![Screenshot 2022-03-17

[2022-03-17 03:48] andrewserong commented on #38872
Just adding the UI Components label, as it might be something for us to look at in the `UnitControl` component directly to see if there's a way to solve it across all instances of the component 🤔 (not sure if it's possible but just an idea).

[2022-03-17 04:28] tellthemachines commented on #39392
Good point! Let's change the copy to say "Transform to submenu".

[2022-03-17 04:46] glendaviesnz commented on #37590
Thanks for the extra details and sample themes, everyone. I am just trying to get a couple of other unrelated PRs finished off and will hopefully have a closer look at this tomorrow.

[2022-03-17 04:59] #20705 closed

[2022-03-17 05:13] #34677 closed, assigned to nobody

[2022-03-17 05:16] Mamaduka commented on #39495
Probably not, but we don't need to replace them all. We can start with cases where strings are used for slugs.

[2022-03-17 05:36] alexstine commented on #30620
@MarcoZehe What is your opinion of the columns block now? After a couple PRs were merged, screen readers should at least get some help on the setup stage. After that, the columns block only has inner blocks with the parent columns block being empty of any content.
1. Open the post/page editor.
2. Insert a columns block.
3. Notice how the screen reader will place focus on the block variations panel

[2022-03-17 06:40] tellyworth opened #39530 "PHP Notice in gutenberg_get_block_editor_settings()"
### Description

In certain contexts when using Gutenberg as an editor on the front end of a WP site, it's possible to get this PHP notice:

`Trying to get property 'id' of non-object in wp-content/plugins/gutenberg/lib/global-styles.php:21`

This is because the code assumes `get_current_screen()` always returns an object:

https://github.com/WordPress/gutenberg/blob/trunk/lib/compat/wordpress-6.0

[2022-03-17 07:26] github-actions[bot] opened #39533 "[Flaky Test] uploaded images' captions can be edited"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
uploaded images' captions can be edited

## Test path
`/test/e2e/specs/editor/blocks/gallery.spec.js`

## Errors

<time datetime="2022-03-17T07:26:58.411Z"><code>[2022-03-17T07:26:58.411Z]</code></time> Test passed after 1 failed attempt on <a href="https://github.com/WordPr

[2022-03-17 07:31] MarcoZehe commented on #30620
I think this could work. Alternatively, if you cannot get an element to work for aria-describedby, modern browser versions also support the newer aria-description property, which, similar to aria-label, just takes a translatable string. The other alternative would be an announcement via live region, but that has all sorts of problems, like being easily muted, drowning out other important announcem

[2022-03-17 07:43] quakeboy commented on #39000
This is ruining the writing experience. Is there a way you guys could add test cases to avoid such editor bugs?

[2022-03-17 07:59] gziolo commented on #39495
`@wordpress/url` alone is 3.78 kB without `lodash` according to https://bundlephobia.com/package/@wordpress/url@3.5.1.

I think that would be a good first step. We can decide later whether it makes sense to extract to its own package.

[2022-03-17 08:16] JustinyAhin opened #39535 "Accessibility improvements to the query pagination block"
### Description

There are a few changes that could be made to the query pagination block to improve its a11y.

- The pagination output should be wrapped inside a `<nav>` element
- The `<nav>` element should have a meaningful aria-label to distinguish this navigation from other ones.
- There should be a meaningful, visually hidden heading before the navigation.

See https://www.a11ymatters.com/pat

[2022-03-17 08:30] Azragh commented on #36135
Sorry for the confusion. _blocks.scss is the part in my own base theme that contains all the CSS overrides for blocks in the frontend. I have a separate _gutenberg.scss which is responsible for overrides in the editor. This is already riddled with !important rules, but as mentioned I could live with it.

The reason why it doesn't work may be that the specificity of inline styles is always higher.

[2022-03-17 08:56] jasmussen commented on #39427
Awesome feedback. I'd love to be pinged on any work on this (and @javierarce too I'm sure), I definitely think we can implement pieces in a very incremental way, such as:

* Moving the image inside an itemgroup item under the first overlay layer, and move focal point management inside a flyout. Subheadings in a "Background" panel if need be.
* Explore whether the Alternative text control needs to

[2022-03-17 09:51] mtias commented on #39439
There are many vectors to this challenge. From an extender perspective we want to make it trivial to create blocks that can show up in their semantic places in both the editor and the front-end. Easy to use, easy to discover without user intervention, but also easy to modify. I don't like the term "ghost" to refer to them because in the front-end they are as real as any other block. It's only in t

[2022-03-17 10:16] marcorroma commented on #39292
I have the same problem if I go through the procedure it says here step by step:
https://core.trac.wordpress.org/ticket/55244#comment:4

[2022-03-17 10:45] aezazs-multidots commented on #39419
Hello @daviedR

I am working on adding all these social icons.

Thanks

[2022-03-17 10:51] getdave commented on #37717
Having read @ockham's proposal I'm broadly in favour as it addresses both the original concern (ability to append an item(s) upon Plugin activation) and those raised by others (retaining direct manipulation paradigm).

My understanding is that your Plugin would hook into a single filter which would

- append a Nav item in a given position on the front of the site
- append a "ghost" item (_not_ ser

[2022-03-17 11:16] theminaldiwan opened #39544 "Need to add text color setting for post template pagination"
## What problem does this address?
Need to add text color setting for post template pagination.Because there is only background color setting are given.if anybody wants to change text color of pagination then at that there is need for text color panel setting.

## What is your proposed solution?
Need to add color panel setting

<img width="1377" alt="pagination-screenshot" src="https://user-images

[2022-03-17 12:31] priethor commented on #39293
Apologies for the late reply and any confusion caused. As @annezazu mentioned above, adding this issue to the 6.0 board doesn't mean the `beta` label will be removed, but that need to make a decision in either direction based on the feedback you are all providing, so thanks for chiming in! 🙏

[2022-03-17 12:41] thomasplevy commented on #28517
this looks great thanks @noisysocks

[2022-03-17 12:52] dugyen commented on #16484
I would agree with you.

[2022-03-17 13:00] dugyen commented on #16484
It would be great if we could drag and drop icons and move any position ( middle, right, left, up, down) because current option cannot let us to locate the icon where user like to position it or drag icons.

[2022-03-17 13:11] Andrew-Starr commented on #39490
Assuming this is the page.html template with the header.html part, and it looks like it from the screenshot.

Setting the padding of the ~~inner-most~~ inner group (row) - Header > Group > Row - to zero will remove the large top and bottom padding.

There is an issue in that because TT2 defines this padding with custom values `var(--wp--custom--spacing--small, 1.25rem)` and `var(--wp--custom--spac

[2022-03-17 13:15] illycz commented on #36135
Why column block (in columns block and also group block nested in row block) get margin 0.
Inlined like in example bellow.

[code]

I'm just curious which problem is solved by this code.

Thanks

[2022-03-17 13:18] Andrew-Starr commented on #39490
Sorry not the inner-most group. There is actually another inner group (row) containing the site logo and title. It is the row above this.

[2022-03-17 15:30] dugyen opened #39548 "Create New Templates Not Working from TT2 FSE editor"
### Description

When user try to create new template from TT2 theme editor with active latest Gutenberg, it's not function... the (Add New) button freeze.

### Step-by-step reproduction instructions

1. Open the site editor
2. Select Template to create new template
3. Click Add New Button to create new template
3. Here you could see that it doesn't redirect to create new template.

### Screenshot

[2022-03-17 15:32] lwangdu commented on #39466
If you uncheck "inherit default layout toggle button" on right sidebar, you can see all options.

[2022-03-17 16:19] zaguiini commented on #39332
Regarding "Remove internal properties from the generated CSS":

Because of https://github.com/WordPress/gutenberg/pull/39399/commits/1518daa8b1ee7e987e7a12d8baeecfea904c0807, we now have `id` and `provider` properties in the CSS output. `provider` was already there, `id` is new.

Here's a diff showing how I would remove it from the output:

[code]

[2022-03-17 16:38] ndiego commented on #39393
Just chiming in here. The code block is a good one to look at. All of the styling from WordPress core is coming through, even though substantial enhancements/changes have been made in Gutenberg. As you mentioned, it seems as though both the Gutenberg and WordPress styles are being loaded.

Note this also seems to impact block.json. In 12.8, we changed how theme.json styles are applied to the code

[2022-03-17 17:00] matiasbenedetto commented on #39266
:wave: [I submitted a PR ](https://github.com/WordPress/gutenberg/pull/39437)trying to implement the nice ideas you discussed in this issue
I would love to have your feedback :smile_cat:

[2022-03-17 17:32] nerrad commented on #38409
A couple more examples:

Header template part focused in the context of the full index template with a block in the header selected:

<img width="1617" alt="CleanShot 2022-03-17 at 13 23 26@2x" src="https://user-images.githubusercontent.com/1429108/158860547-2753031b-b30e-49a7-92c2-c5572f7d3aa9.png">

Just the header template part with the same block selected:
<img width="1624" alt="CleanShot 2022

[2022-03-17 17:54] SamuelMiller opened #39552 "Add web safe fonts by default to editor"
Please consider adding safe web fonts by default in the typography section of the global styles panel in the Editor, or provide an easy way for theme creators to include them in their themes--for example, as toggle command in the theme.json file.

W3School lists the best safe fonts  for HTML and CSS as the following:

-     Arial (sans-serif)
-     Verdana (sans-serif)
-     Helvetica (sans-serif)

[2022-03-17 18:28] mchowning commented on #37275
👋  @jd-alexander ! Wondering if you might have any thoughts on this ticket. I know it's been quite a while since you worked on this, so no worries if you don't remember anything about this. 🙂

[2022-03-17 19:51] bobmatyas opened #39555 "Paragraph Block doesn't Render Custom Backgrounds when in Column Block"
### Description

Paragraphs with custom background color don't render with the background color on frontend when inside a column block.

### Step-by-step reproduction instructions

1. Create a new page and add a column block w/3 paragraphs
2. Add custom background colors to each block using color picker
3. Backgrounds render in the editor, but not on the front end.

### Screenshots, screen recordi

[2022-03-17 20:21] audrasjb opened #39556 "Bug in the site editor in configurations with multiple theme directories"
### Description

This issue was previously reported on Trac: https://core.trac.wordpress.org/ticket/55015

In configurations with multiple theme directories, we have a blank screen when loading the Site Editor.

This was also reported upstream on Bedrock repository: https://github.com/roots/bedrock/issues/74

### Step-by-step reproduction instructions

See the above Trac ticket for more informatio

[2022-03-17 21:31] vijayhardaha commented on #23510
I suggested your plugin to a user in this WP forum https://wordpress.org/support/topic/uploading-file-not-working-zip-rar/#post-15470118
He confirms that it works fine.

[2022-03-17 23:05] mryudha commented on #34994
Hi im new here on github. I don't know if its right to post my issue here or not.

My issue is with comment pagination, i already open ticket on https://wordpress.org/support/topic/comment-pagination-got-mixed-when-i-try-option-break-comment-to-50-top-level/. Please check it. If im wrong to post here, do let me know the right way to post it.

Thanks.

[2022-03-17 23:18] bradhogan commented on #37433
+1 on this.  @oandregal's screenshot looks great.  I'd also add a custom option in the Elements for Buttons if possible.

[2022-03-17 23:28] alexstine commented on #30620
@MarcoZehe I just found a problem. I think we're going to require the aria-live region for this.

http://gutenberg.run/39558

If you check my PR #39558, it all seems to work fine up until you add a paragraph block to the column in a columns block. I believe what is happening is since the aria-description attribute gets added on one parent div, then another parent div, and finally the deepest div,

[2022-03-18 00:08] landwire commented on #35099
Hi there,
as the theme.json is getting more and more complex and the single source of truth, I created a plugin called Theme Yaml. Exactly for the same reasons that have been discussed in this threat.

It's very simple and converts an existing theme.yaml file to theme.json. Basically it's for people who know what they are doing and obviously you should not touch the theme.json file manually.

You

[2022-03-18 00:25] landwire commented on #35099
But obviously I would prefer if theme.yaml would be supported by core Wordpress and not via a plugin/workaround.

[2022-03-18 04:39] #39434 closed, assigned to Mamaduka

[2022-03-18 06:05] paaljoachim commented on #39490
Thanks Andrew!

I have been coloring the various areas to see what each looks like.

![Screenshot 2022-03-18 at 06 53 42](https://user-images.githubusercontent.com/5323259/158945587-aabb8c73-1058-4c67-9242-6a0357e6a525.jpg)

Adding Padding 0 to the Site title row.

![Screenshot 2022-03-18 at 06 56 26](https://user-images.githubusercontent.com/5323259/158945750-f08d0862-c7cf-4e31-9d3c-edfd93764ff9.

[2022-03-18 06:15] Mamaduka commented on #29864
I create a new PR for system lock settings - #39566.

[2022-03-18 06:25] talldan commented on #34759
It seems like collapsed by default is possible now with @getdave's PR - https://github.com/WordPress/gutenberg/pull/39486.

[2022-03-18 07:10] talldan opened #39567 "Post Date block doesn't display the `S` format for displaying the english suffix of a month number in the editor"
### Description

Observed while testing #39209. If you enter a custom format with a month number like `jS` as a custom format, the `S` is ignored.

This is probably an issue with the `dateI18n` function that the post date block uses.

I tried ensuring my locale is set to English (UK), just in case that was the cause, but the problem seems to persist.

### Step-by-step reproduction instructions

1.

[2022-03-18 07:12] #38751 closed, assigned to noisysocks

[2022-03-18 07:16] Sisanu commented on #38904
Additionally, the letter-spacing cannot be controlled globally, if it relies on hardcoded values, and this generates inline styles for each of the occurrences. In my opinion, the letter-spacing should be controlled from the settings defined in the theme.json, just like the font size does.

[2022-03-18 07:36] NicoHood commented on #37036
This is possibly related to:
https://github.com/WordPress/gutenberg/issues/33374

It is an absolutely nogo. Can anyone from the gutenberg community please help? So many people are lost.

[2022-03-18 07:48] paaljoachim commented on #39298
That sounds helpful!

[2022-03-18 09:04] christincooper opened #39570 "Bug: Author role can't see image sizes drop-down on images uploaded by someone else"
### Description

Previously, I posted a [bug report](https://github.com/WordPress/gutenberg/issues/18510) on author role not being able to add a featured image uploaded by someone else:

It was fixed [here](https://github.com/WordPress/gutenberg/pull/33567) by @Mamaduka

However, upon investigation, it appears it is not properly resolved yet.

Currently, users on author role can't see the image si

[2022-03-18 09:09] getdave commented on #34759
Hmmm...possibly. Except that [my PR](https://github.com/WordPress/gutenberg/pull/39486.) sets the default state. To reset the state you'd have to reach into the internal state of the component where it tracks what is _currently_ collapsed/expanded 🤔

[2022-03-18 09:10] getdave commented on #34759
I'll raise a PR to auto-collapse List View by default and see how folks feel about it.

[2022-03-18 09:10] Mamaduka commented on #39570
Thanks for reporting the issue, @christincooper.

I will try to have a look at this next week.

[2022-03-18 09:20] #39474 closed, assigned to AnthonyLedesma

[2022-03-18 09:23] scruffian commented on #31642
I had a go at this here: https://github.com/WordPress/gutenberg/pull/39571

[2022-03-18 09:40] #39530 closed, assigned to Mamaduka

[2022-03-18 09:42] hypest commented on #39491
Marked as `[Priority] High` as it's a regression to basic functionality for a block.

[2022-03-18 10:02] getdave commented on #34759
Ok I've raised an experiment to collapse all nodes by default

https://github.com/WordPress/gutenberg/pull/39573

We could add a UI button to toggle to auto expand / collapse all nodes. I experimented with this and it was relatively simple but we'd need to wire up to blockEditor Redux state so that we can trigger the behaviour from _outside_ the component itself.

For now let's decide whether we'r

[2022-03-18 10:07] jasmussen commented on #34759
Nice one Dave. [It works so well](https://github.com/WordPress/gutenberg/pull/39573#issuecomment-1072259488) I don't think we need to make this an option. But if we ever need to revisit that, we can put it in preferences.

[2022-03-18 10:29] liviopv commented on #30767
It would be good to have an option in the Block Settings to show the Category hierarchy visually with indentation, instead of showing a single list with categories and subcategories together.

[2022-03-18 10:44] maffi-git commented on #33212
I'm also having trouble to dynamically inject my color-variables to the iframes. enqueue_block_assets just doesn't do the trick. Is there any way to append/inject my styles to any of the other styles loaded inside the iframe? I can manage to load a css-file, but no inline-styles.

I'm also seeing an empty <style>-tag after the last link-resource.

[2022-03-18 10:44] scruffian commented on #38998
We need to be careful with this...

If we use theme CSS to style something that _can_be achieved using theme.json and specifically the Global Styles interface, then if a user tries to edit this setting using the Site Editor the theme CSS might be stronger, and override the Global Styles setting which would:
1. Make it look like Global Styles doesn't work
2. Make it impossible for a user to edit th

[2022-03-18 10:46] markhowellsmead commented on #33212
I have the same issue as @maffi-git across all my sites.

[2022-03-18 10:52] scruffian opened #39575 "Theme Export: Add missing schema attributes"
### Description

The theme.json file is missing this from the original theme:

- The schema: "$schema": "https://schemas.wp.org/trunk/theme.json",
- "appearanceTools": true, inside settings

### Step-by-step reproduction instructions

1. Export a theme from the Site Editor
2. Check for the existence of the `$schema` and `appearanceTools` attributes in the `theme.json`.

### Screenshots, screen rec

[2022-03-18 10:56] fabiankaegy commented on #38998
@scruffian In an ideal world yes. But since responsive controls and pseudo-selectors currently are not something `theme.json` allows you to target the only way is in CSS. And we need to be able to target the elements sufficiently in order to override their values based on the states they are in.

There also are several additional context-based settings that currently don't exist in `theme.json` li

[2022-03-18 11:02] scruffian opened #39576 "Theme Export: CSS variables encoded on export"
### Description

The templates that had CSS variables when exporting turn into:

### Step-by-step reproduction instructions

1. Export a theme from the Site Editor
2. Find a template that contains a CSS variable
3. Notice that the CSS variables are encoded

### Screenshots, screen recording, code snippet

_No response_

### Environment info

_No response_

### Please confirm that you have searched

[2022-03-18 11:24] christincooper commented on #39570
Fantastic! As a sidenote, I believe there are other areas where it fails as well. For example, if the current user is an author, and we try to `.getMedia` on an image that they didn't upload, it will probably fail. You can use this to test (set `image_id` to an image the author user hasn't uploaded themselves):

`const mediainfo = wp.data.select('core').getMedia( image_id );`

I'm yet to confirm t

[2022-03-18 11:30] mtias commented on #37407
Now we need to prioritize creating templates for specific slugs (like category-travel, or custom post type templates). I'd imagine we could start with a modal that includes a selector for available terms or post types.

[2022-03-18 11:43] rufus87 opened #39578 "Use component state data as value of createRegistry"
### Description

Hi there,

Regarding to official document [here](https://developer.wordpress.org/block-editor/reference-guides/packages/packages-data/#registryconsumer), `createRegistry`, `registryProvider`, `registryConsumer`, `useRegistry`, `withRegistry` are intruduced as custom implementation of React's `context API` in gutenberg, which is great: `createRegistry` method is an alternative impl

[2022-03-18 11:52] Addison-Stavlo commented on #39548
I can reproduce this as well on `v12.8.0`. It looks like it has since been resolved on the `trunk` branch as I can no longer repro there.

Are we able to get this fix into a point release for 12.8?  cc @priethor (or if you may know who else to ping related to this)

[2022-03-18 12:21] pbking commented on #39575
#39464 was opened to address absent appearanceTools though $schema wasn't mentioned.

[2022-03-18 13:20] johnstonphilip opened #39581 "I'm not sure appearanceTools in theme.json is the right idea."
I am seeing a new setting for theme.json called `appearanceTools` that turns on a bunch of things with a single setting. While I can see the appeal in reducing the size of a theme.json file, I feel like this might cause more confusion than it's worth.

The goal of the setting is purely to reduce the size of theme.json, is that correct?

This is ultimately an abstraction that makes theme.json less

[2022-03-18 13:28] johnstonphilip commented on #39581
Wondering if you might have more insight @carolinan

[2022-03-18 13:30] Mamaduka commented on #39570
I created PR for the Image block and will do an audit for other core media blocks next week.

[2022-03-18 14:11] #39570 closed, assigned to Mamaduka

[2022-03-18 14:25] JuanDBB commented on #38637
Hello
This is a big problem for a newspaper, where journalists copy/paste titles from word and similars. We have this problem since wordpress 5.9. You can see the OBJ even in the permalink.

[2022-03-18 14:28] geriux commented on #38636
To add a bit more context, this issue affect block-based themes **only**, where font size and line height are supported.

It looks like there's an issue on Aztec Android in the [chooseHeight](https://github.com/wordpress-mobile/AztecEditor-Android/blob/trunk/aztec/src/main/kotlin/org/wordpress/aztec/spans/AztecPreformatSpan.kt#L62) calculations of the `AztecPreformatSpan`. Where changing the font

[2022-03-18 14:32] jameskoster commented on #37407
Unless we curate, there could be _many_ available terms, and some could even have the same name. A standard select could get unwieldy.

A modal would be fine, but I still think a search input will generally work best in this flow. If you're creating a specific template you probably have a target in mind. A search input enables you to find that target very quickly.

<img width="601" alt="Screenshot

[2022-03-18 14:40] Copons opened #39582 "Inserter: Preview panel not showing up"
### Description

The `InserterPreviewPanel` component is not showing up when hovering or focusing a block item in the inserter.

#### Notes

- The preview in the Block Transform tool works fine.

- This only happens with the Gutenberg plugin.
WP Core is unaffected, so it's a regression introduced after the merge into 5.9.2.

### Step-by-step reproduction instructions

1. Open the inserter.
2. Move

[2022-03-18 14:49] t-hamano commented on #39555
I could not reproduce it in my environment.
Could you check if each paragraph block has a style attribute on the front end with browser developer tool ?

### Editor

![editor](https://user-images.githubusercontent.com/54422211/159025471-79857e26-b1d9-49e2-a05b-932d141e6723.png)

### Frontend

![frontend](https://user-images.githubusercontent.com/54422211/159025485-80d7cb6b-dff9-47e8-a24c-2212e5b30

[2022-03-18 14:52] cthollaway commented on #33583
This would be very helpful as we are moving towards building sites using only the block editor. I find it very easy to get lost when working with several covers and groups. Would love to see this come in a future update!

[2022-03-18 15:06] jffng opened #39583 "Block Gap: supplying a variable does not work in the view"
### Description

If I supply a CSS variable value to the blockGap attribute for a block that supports gap, it is not respected in the view. It does in the editor.

### Step-by-step reproduction instructions

1. Using Twenty Twenty-Two, add the following markup containing a navigation and group (row) block using a CSS variable for `blockGap`:

[code]

2. Check the editor, verify the variable values

[2022-03-18 15:39] mikachan commented on #39266
I've also just [submitted a PR](https://github.com/WordPress/gutenberg/pull/39584) using the Storybook idea. I'm not convinced, but it was fun trying it out 😅  If anyone thinks this is a good solution, I'm happy to put more time into it.

@matiasbenedetto's PR looks like a great idea too 👍

[2022-03-18 15:57] bph commented on #24480
@priethor @jasmussen This  was removed from 5.9 project board.  Do you think it could make it into 6.0?

[2022-03-18 16:09] mirka commented on #39266
Could @youknowriad's [BlockBook](https://riad.blog/2020/07/22/introducing-blockbook-for-wordpress/) be a perfect fit for this? It's basically a Storybook for Gutenberg blocks.

[2022-03-18 16:12] joedolson commented on #39266
@mirka That does look like it has the pieces we were looking for - seems promising! Glad to see all this ideas coming out of the wood work here!

[2022-03-18 16:17] mikachan commented on #39266
Yeah this looks ideal! This is basically what I was trying to aim towards. Awesome! We should give this a spin with some automated tools (I'm happy to try this, but also happy if anyone beats me to it.)

[2022-03-18 16:26] ironprogrammer commented on #39582
Hi, @Copons:

This looks like it may have been introduced by https://github.com/WordPress/gutenberg/pull/38893, where `.interface-interface-skeleton__content` is now set to `z-index: 91`. (Original issue: https://github.com/WordPress/gutenberg/issues/38723.)

I tested reverting that PR and the preview is visible again, so this can likely be addressed by adjusting the z-axis position or the slot/fi

[2022-03-18 16:30] JosVelasco opened #39585 "Close overlay menu when clicking an anchor link"
## What problem does this address?
Clicking an anchor link inside an overlay menu won't close the menu in the navigation block. Anchor links work but the overlay should hide to make the content visible without having to click on the Close button.

[2022-03-18 16:43] #39581 closed, assigned to nobody

[2022-03-18 17:28] mchowning opened #39588 "Gallery Block removing empty image blocks on upload"
## Description
On Android, upon completion of uploading a new image to a gallery block, all of the empty blocks in the gallery block are removed.

## Step-by-step reproduction instructions

1. Open a new post in WPAndroid. The issue does **not** occur on WPiOS.
2. Add a gallery block.
3. Add a new image block to the gallery using the gallery block's appended. The issue does **not** occur if you se

[2022-03-18 17:33] skorasaurus commented on #7806
Been a couple years since last updated; this component is now known as PanelColorSettings; is this still applicable?

[2022-03-18 17:41] Addison-Stavlo commented on #39548
It looks like the fix for this went live with `v12.8.1` a couple hours ago.

Im closing this issue, but if you still experience on 12.8.1 please feel free to reopen.

[2022-03-18 17:41] #39548 closed, assigned to nobody

[2022-03-18 18:15] bobmatyas commented on #39555
I'm not sure what is going on here. I re-entered the backgrounds and 2 out of the 3 worked:
<img width="1515" alt="Screenshot on 2022-03-18 at 13-57-21" src="https://user-images.githubusercontent.com/45246438/159060201-3004c02a-95d5-4458-84bd-812de6b8299b.png">

The middle one has a class rather than the inline style attributes.

[2022-03-18 18:17] dugyen commented on #39548
thanks for the release and fix @Addison-Stavlo would take a look

[2022-03-18 18:22] dugyen commented on #39548
@Addison-Stavlo thanks it's working

[2022-03-18 18:36] bobmatyas commented on #39555
I tried another test and it looks like the color `#8ed1fc` is being converted to the class `has-pale-cyan-blue-background-color` and then it isn't working on the frontend.

<img width="1472" alt="Screenshot on 2022-03-18 at 14-33-57" src="https://user-images.githubusercontent.com/45246438/159063284-68d28325-d2b6-4836-b9ee-9184db1330a1.png">

[2022-03-18 18:39] frg-tech commented on #36135
@Azragh
Thanks for the reply. Turns out it I had the [wrong function to load my child theme style.css](https://developer.wordpress.org/themes/advanced-topics/child-themes/#enqueueing-styles-and-scripts). I had just copied over my old functions.php and once I figure that out I was able to override with the !important tag.

Appreciate the follow-up!

[2022-03-18 19:00] jd-alexander commented on #37275
Hi @mchowning Thanks for the ping. I am just seeing this because I am mainly using Github enterprise for Tumblr work. Your [investigation here is spot on](https://github.com/WordPress/gutenberg/issues/37275#issuecomment-991341292). The refactor to include `INSERT_BLOCKS` was done with @fluiddot so he may have as much context as me in terms of an appropriate fix. Wdyt @fluiddot ?

I am not sure how

[2022-03-18 19:01] scruffian commented on #39575
Fixed in https://github.com/WordPress/gutenberg/pull/39590

[2022-03-18 19:01] scruffian commented on #39464
Fixed by https://github.com/WordPress/gutenberg/pull/39590

[2022-03-18 19:20] mchowning commented on #31913
Thanks so much @pstonier ! Are you also the author of the commits from pstonier@salient.com?

[2022-03-18 19:30] metalandcoffee opened #39591 "RangeControl: Does not support half step increments (i.e. 0.5)"
### Description

I am using the RangeControl component and it doesn't support half steps (i.e. setting the `step` attribute to `0.5`)

[code]

When I test the slider after making this update, the slider increments by 1, not by 0.5.

### Step-by-step reproduction instructions

1. Create a Gutenberg block.
2. Use the RangeControl component in your edit function and set the step attribute to 0.5.
3.

[2022-03-18 20:18] ivcreative commented on #28860
One more vote here for this to add Youtube and Vimeo to cover

[2022-03-18 20:23] mtias commented on #37407
Not sure such a generic search would be easier to grasp. Users are used to their categories, tags, post types being a concrete thing. I think we should lean towards the UIs we have in place on the post settings rather than the link UI.

[2022-03-18 20:30] mtias commented on #24480
It might! #33543 and #39529

[2022-03-18 20:39] skorasaurus commented on #30756
Hi,

Thanks for reporting; I think this may have been fixed; the gap appears for me in the editor as well as on the front end.

![Selection_161](https://user-images.githubusercontent.com/955351/159080181-d43fa287-0cc9-4a46-941a-b023cc1a85dd.jpg)

Using WordPress 5.9.2. and gutenberg 12.7.1, twentytwentyone

Please reopen if you are still experiencing this issue.

[2022-03-18 20:39] #30756 closed, assigned to nobody

[2022-03-18 20:43] skorasaurus commented on #39266
Regarding **Update Gutenberg’s Demo content to show all blocks/create another demo page for testing**:

I run a customized version of [block-unit-test ](https://github.com/godaddy-wordpress/block-unit-test); the plugin, when activated, creates a draft page with all of the blocks and block content that you specify in the code.

It's definitely a limited solution because you have to continually add

[2022-03-18 21:04] mauriac commented on #39466
@lwangdu when I uncheck the setup pattern does not get back.
<img width="640" alt="Screenshot at Mar 18 21-59-36" src="https://user-images.githubusercontent.com/41555145/159082768-8ef9d6bf-1a42-4087-97f1-02204bdd7253.png">

<img width="640" alt="Screenshot at Mar 18 22-00-38" src="https://user-images.githubusercontent.com/41555145/159082776-c73917b5-4528-41d6-94ac-02e8d3cf7a0d.png">
if it's work o

[2022-03-18 21:14] vijayhardaha opened #39592 "Block image html is same after using the plugin."
### Description

I found an issue during solving a support forum issue https://wordpress.org/support/topic/images-will-not-align-center-2/page/2/#post-15473517

So when I am not using the Gutenburg plugin and using the default WP Block editor, I create an Image Block and then I set the image and set it to align. and save it.

so in frontend I have HTML output like this
`<div class="wp-block-image"

[2022-03-18 22:19] mrwweb commented on #38998
@fabiankaegy nailed it with this:

This is why I'm encouraging us to think about `theme.json` as a "carrot" that rewards people for using it correctly but doesn't punish people who need to go beyond it or around it for specific reasons. If misusing custom CSS or `theme.json` causes problems or makes things harder, that's fine and a place where developer education can help over time.

As people con

[2022-03-18 23:43] michalczaplinski commented on #39443
This will be fixed in https://github.com/WordPress/gutenberg/pull/39472

[2022-03-19 00:00] paaljoachim commented on #39466
Does this PR by @jorgefilipecosta cover the needs in this issue?

Update query block creation and replacement flows
https://github.com/WordPress/gutenberg/pull/38997

[2022-03-19 02:28] t-hamano commented on #39555
The `pale-cyan-blue` color is defined in the WordPress core `theme.json`.
If your theme does not have a `theme.json`( like Twenty Twenty One ), you should not be able to use that color:

![editor](https://user-images.githubusercontent.com/54422211/159103354-fe33898e-1ef4-435a-8d04-3aeae13afc85.png)

Have you customized the theme or added `theme.json`?

[2022-03-19 05:17] t-hamano commented on #39592
Hi. @vijayhardaha.

On #38657, the wrapper div are now removed in the theme with layout support.
("Astra" mentioned in the support forum is a classic theme that supports layouts in `theme.json`.)

Therefore, the change in HTML structure is not a bug.

However, I think that theme image block is not centered on the front-end side is a bug, so I have submitted a PR #39594.

I beleave this PR will fix

[2022-03-19 05:56] vijayhardaha commented on #39592
That PR makes sense. Thanks for the information.

[2022-03-19 07:37] t-hamano commented on #39591
Hi, @metalandcoffee

I have not been able to reproduce it.
Here is the code I used for the test:

[code]

https://user-images.githubusercontent.com/54422211/159112241-4cb8894a-ea9e-43d2-919d-1c2c3420eadf.mp4

Could you try this code once ?

[2022-03-19 08:19] vijayhardaha commented on #39592
I am closing this Issue as PR https://github.com/WordPress/gutenberg/pull/39594 by @t-hamano will fix all the things.

[2022-03-19 08:19] #39592 closed, assigned to t-hamano

[2022-03-19 08:35] jamiemarsland commented on #37746
Hi, just to jump in here - we have a plugin that lets you customize a block theme woocommerce category pages - https://www.pootlepress.com/storefront-blocks/ We updated it last month so it works with block themes and fse - there's an explanation here https://youtu.be/V0uWuXXOjr4.

[2022-03-19 12:39] ponderboy opened #39596 "position: fixed via style.css breaks appearance in Editor"
In header template part:
``

in Stylesheet:
`.custom-logo-link {
	    position: fixed;
}`

Now in the Editor it shows up scaled up.

[2022-03-19 15:21] bobmatyas commented on #39555
I have not customized the theme nor have I added a `theme.json` file.

# Twenty Nineteen

I tested on a newly installed default theme (Twenty Nineteen) and got the same result:
<img width="1411" alt="Screenshot on 2022-03-19 at 11-10-23" src="https://user-images.githubusercontent.com/45246438/159126712-9f853a2b-344e-4d74-8703-334fcb5b1e60.png">

# Twenty Twenty Two

If I switch to the Twenty Twent

[2022-03-19 15:22] bobmatyas commented on #39555
Thanks for taking the time to look into this.

[2022-03-19 16:23] t-hamano commented on #39555
First, the color palette variation is depending on the theme.
When a color is selected from the color palette, a slug corresponding to the selected color is assigned.

This causes the problem that  the color is not reflected when the theme is switched, because the style corresponding to that class is not defined.

If a block appears whose color is not reflected after switching themes, select the c

[2022-03-19 18:51] metalandcoffee commented on #39591
Hi @t-hamano ! Thank you for getting back to me. Testing your code made me realize that I had an issue with my block.

Here is my attribute:
[code]
And here is my onChange function is as follows:
[code]

I was using `parseInt` to convert it from a string to a number but I missed the fact that it was converting it specifically to an integer, not a decimal point. So I updated the `onChange` function

[2022-03-19 19:34] bobmatyas commented on #39555
I'm having trouble selecting the color (`#8ed1fc`) from the color picker to test your solution:

https://user-images.githubusercontent.com/45246438/159135625-eda04bf8-91eb-4388-bbaf-1464bd70d276.mp4

That said, it seems like the behavior you are describing is less than ideal (if I am understanding it right). If I had a site that had dozens of blocks configured with custom block colors and I lost t

[2022-03-20 00:19] t-hamano commented on #39591
Glad to see it resolved.
I will close this issue, so if you have any problems, please reopen or start a new issue.

[2022-03-20 00:19] #39591 closed, assigned to nobody

[2022-03-20 00:32] t-hamano commented on #39555
Thanks for the info.
I was finally able to reproduce the symptoms.
I think the problem is that when a specific color is specified, it is forced to be converted to a class instead of a style attribute.
(e.g. `#f78da7` / `#ff6900` )

This problem also occurs with text colors or other blocks.
I will try to summarize this issue in more detail and submit another issue.

That said, it seems like the beh

[2022-03-20 03:16] carolinan commented on #36595
I can reproduce this partially.
In WP 5.9.2, without Gutenberg active, the width is adjusted in the editor but not the front.
With Gutenberg 12.8 active, only the sizes set is theme.json are used.

[2022-03-20 09:27] Trapsta commented on #39585
Thanks @JosVelasco for catching and reporting this. I was able to reproduce this in v12.8.1 and Chrome v99

https://user-images.githubusercontent.com/276316/159156105-fe396942-b3f3-48bc-96b5-f7ad35de2e2f.mov

Will start working on a fix

[2022-03-20 13:40] luminuu opened #39598 "Inconsistent default display of link color option"
### Description

For blocks that have text and background color options, sometimes the link color option is shown by default and sometimes it's hidden behind the "View options" menu. This can be confusing for new users or even experienced users. While I do think it makes sense to hide away certain options, the link color should be available by default.

Selection of blocks that hide the link color

[2022-03-20 14:05] ndiego commented on #19847
#39414 fixes this issue by standardizing the markup in the Editor and Frontend so both use `<cite>`. That PR has been merged.

[2022-03-20 14:05] #19847 closed

[2022-03-20 14:31] priethor commented on #39548
Thanks for reporting this! As @Addison-Stavlo mentions, it was fixed in trunk and 12.8.1 thanks to #39331

[2022-03-20 16:06] priethor commented on #39427
Thanks for the exploration, @javierarce .

Just to connect some dots, this design direction would supersede #20837, wouldn't it?

[2022-03-20 16:09] ClarusDignus opened #39599 "Make .wp-block-post stylable via theme.json"
## Problem

I can style various aspects of the Query Loop block via theme.json.

E.g. core/post-template styles .wp-block-post-template, core/post-title styles .wp-block-post-title, etc.

[code]
However, core/post doesn't style .wp-block-post.

[code]
.wp-block-post is the container of each post outputted by the Query Loop block, i.e., it contains each post's title, featured image, date, excerpt,

[2022-03-20 17:34] CyberDomovoy commented on #36135
I just stumbled on that one too.

First let me say this:
I was excited to start working with blocks and FSE, imho it is a wonderful idea. BUT the more i use it, the more i feel the time spent to understand it and work around its quirks is not worth the added value.

- Documentation is sparse, and inconsistent (different _official_ sources will sometime give contradictory information)
- A _lot_ of

[2022-03-20 23:06] andronocean commented on #36135
I'm also developing a new FSE theme, and I can sympathize with a lot of the frustrations expressed here.

First off, to everyone struggling with this — you _can_ remove most of these styles if you need to. @carolinan has a lifesaver guide that goes through how to remove all the different styles Gutenberg creates here: https://fullsiteediting.com/lessons/how-to-remove-default-block-styles/ (thank y

[2022-03-20 23:14] CyberDomovoy commented on #36135
Great post @andronocean , thanks for all this.

[2022-03-21 00:18] vijayhardaha commented on #28636
Similar issue reported on forum https://wordpress.org/support/topic/latest-posts-block-does-not-show-embeds/#post-15477750

I debugged it so I found the same reason described by @ndiego above.

Right one current code for full content it like this:
[code]

But if I render the post content using `the_content` filter, every thing is fine frontend but not in backend.
[code]
**WP Block Editor produces

[2022-03-21 00:30] CyberDomovoy commented on #36135
Ok, this is what i came up with:

[code]

And my CSS:

[code]

A few things to notice:

- The global layout is _not_ applied, this should be done maybe in a filter that sets it on `<body>`
- Most of it is done with classes: we only really need to set user values as specific element styles (max-width), everything else can be generalized with classes
- As a consequence of the above, wordpress could

[2022-03-21 01:33] talldan commented on #39578
@rufus87 Where did you read that?

Within this codebase, React's context is still commonly used.

The `wordpress/data` APIs are closer to redux, but supporting multiple named stores in a registry, which suits the way Gutenberg is divided up into packages.

[2022-03-21 01:36] metalandcoffee commented on #33990
Mind if I work on this ticket?

[2022-03-21 02:53] glendaviesnz commented on #38998
@mrwweb, the intention is to keep that issue clearly focused on the semantic classnames on the block wrapper in order to minimise the scope and make some progress hopefully.

From the discussions here it didn't seem to me that there was a clear consensus on the need to enforce the addition of strictly named class names on every element in a block, so mixing this into the same issue would likely sl

[2022-03-21 03:44] talldan commented on #39567
Duplicate of #15221

[2022-03-21 03:44] #39567 closed, assigned to talldan

[2022-03-21 04:27] vijayhardaha commented on #28636
### Update
I am working on this issue, my above-proposed solution seems to work fine so far. If anyone finds any issue with those changes please let me know.

### New bug
I have discovered a small problem while working on this issue.

Steps for the new issue.

- Create only 2 posts on the website, there should not be more than that.
- Then create a new page and use the latest posts block.
- Then s

[2022-03-21 06:15] Mamaduka commented on #33990
Hi, @metalandcoffee

Thanks for contributing. I'm going to assign the issue to you.

P.S. I would recommend reading discussion in #38283.

[2022-03-21 06:20] theminaldiwan opened #39602 "Change the navigation menu add block button tooltip"
## What problem does this address?
While using navigation block and when we adding new menu on that we facing problem adding menu from where because menu add block button tooltip is same as other block button.

## What is your proposed solution?
Need to changing add block button for navigation block menu item and 'Add block' button tooltip name to 'Add Menu Item'.
screenshot:
<img width="1377" alt

[2022-03-21 06:59] jasmussen commented on #39427
I still think there's value in surfacing the first overlay as a color option in the block toolbar, as it'll likely be useful in 80% of the cases. If you want any additional layers, it's okay to do that in the inspector. Do you foresee any additional complications between the two?

[2022-03-21 07:45] rufus87 commented on #39578
Hi @talldan ,

Many thanks for your answer. Based on it, we need to redux store to provide data to child components. But:

1. In case of using `<InnerBlocks />` - child blocks are not rerendered once store data is changed.
2. Using useEffect in child block via `<InnerBlocks />` also fails, because parent block's some state value set as value for provider like `<Context.Provider value={parentStateV

[2022-03-21 08:09] talldan commented on #39578
Are you using `useSelect` and `useDispatch` within your components to interact with the registry? Those React effects will ensure your blocks re-render any time data changes.

[2022-03-21 08:34] github-actions[bot] opened #39607 "[Flaky Test] Should navigate inner blocks with arrow keys"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
Should navigate inner blocks with arrow keys

## Test path
`/test/e2e/specs/editor/various/writing-flow.spec.js`

## Errors

<time datetime="2022-03-21T08:34:03.528Z"><code>[2022-03-21T08:34:03.528Z]</code></time> Test passed after 1 failed attempt on <a href="https://github

[2022-03-21 08:54] #33291 closed, assigned to ciampo, stokesman

[2022-03-21 08:55] javierarce commented on #39427
@priethor I agree with @jasmussen that, for the general use case where you have a solid layer (or a solid layer plus a media layer), it'll be helpful to have a way to change the main overlay from the toolbar… but if you happen to have more than two colors, it could end up being confusing: which color should the toolbar control? The one closer to the bottom of the stack or the one on top? And thing

[2022-03-21 09:10] markhowellsmead commented on #36135
Thank you @andronocean for such a good explanation, and for referring to the specificity calculator, which should help to explain why such precise style rules are so problematic for theme and plugin developers trying to work around core rules.

[2022-03-21 09:29] getdave commented on #39585
This seems like a worthwhile issue. Thanks for raising.

[2022-03-21 09:33] rufus87 commented on #39578
Please look at the following example:

This is an edit function from parent block

[code]

As you can see, once `Click Me` button is clicked, parent component's state value is switched to its opposite value. The context's provided value is an object looking like `{ someKey: TRUE | FALSE }`.

And this is an edit function from child block (a block rendered as an inner block of above parent block)
[c

[2022-03-21 09:57] hypest commented on #39588
Looks like the description is cut off there @mchowning?

[2022-03-21 10:19] jameskoster commented on #37407
It's not just categories and tags though, we'll also need to list every single post and page as well. Not to mention authors, custom post types and taxonomies. The selection process could be quite convoluted / overwhelming:

<img width="872" alt="Screenshot 2022-03-21 at 10 13 54" src="https://user-images.githubusercontent.com/846565/159241450-99068171-8dfb-4feb-b4e4-402a5f5ce5a8.png">

Isn't it u

[2022-03-21 10:34] hidde commented on #24205
This is an older issue, but came in to echo @joedolson's point that a `caption` in a table is essential, as it names a table and tables without names are harder to find for end users, especially users with screenreaders.

I wonder if this has been explored: a caption field in the block settings that doesn't display in the editor, but does show up as a `caption` in the outputted HTML? This way edit

[2022-03-21 12:18] mtias commented on #39582
@ironprogrammer can we revert that PR first and address the fallouts separately? It's a significant regression compared to the relatively minor original issue it's trying to solve.

[2022-03-21 12:22] #38872 closed, assigned to nobody

[2022-03-21 12:30] mchowning commented on #39588
Thanks. I filled it in.

[2022-03-21 13:21] cbirdsong commented on #35306
Moving discussion of this to #39371.

[2022-03-21 13:21] #35306 closed, assigned to nobody

[2022-03-21 13:34] cbirdsong commented on #38998
I'll close mine and summarize it in a new reply to yours.

[2022-03-21 13:43] SiobhyB opened #39612 "Gallery block: Empty space on front-end when an empty image block is added"
### Description

When an empty image block is added to a gallery and saved, it creates an empty space, both in the editor and on the site's front-end.

My expectation would be for empty image blocks to have no impact on the gallery's appearance on the front-end.

This was first brought up in https://github.com/wordpress-mobile/gutenberg-mobile/issues/4317. It can be replicated in both the mobile a

[2022-03-21 13:49] cbirdsong commented on #39283
FYI, there is already discussion of this very confusing design here: https://github.com/WordPress/gutenberg/issues/38219

It's worth noting that if you register more than five font sizes then the control reverts to a `<select>`-style design and this problem goes away entirely:
![CleanShot 2022-03-21 at 08 51 05](https://user-images.githubusercontent.com/1672206/159275250-dc7604a3-adfc-47b2-8486-6f

[2022-03-21 14:11] cbirdsong commented on #38219
Echoing that the + button method for reseting any of these is super confusing if you don't know about it and super cumbersome if you do.

In the case of font sizes, this would either apply the `has-medium-font-size` class to every paragraph or only apply it to paragraphs that have had the font size changed, even though the control would be visually identical. I don't know the details about these d

[2022-03-21 14:33] javierarce commented on #39082
Here's the [Figma file](https://www.figma.com/file/8vEDwRwmzWhxvcvhc6yaQk/Status-%26-visibility?node-id=1%3A2) for my exploration. It includes [an interactive prototype](https://www.figma.com/proto/8vEDwRwmzWhxvcvhc6yaQk/Status-%26-visibility?page-id=1%3A2&node-id=1%3A2&scaling=min-zoom&starting-point-node-id=343%3A2605&show-proto-sidebar=1) that explains the whole concept and gives some context t

[2022-03-21 14:33] cbirdsong commented on #39371
Summarizing my points in #35306, most of which are mirrored in #38998 and its accompanying blog post:

- Custom spacing values are difficult to keep consistent as a site grows and burdensome for non-technical editors.
- Storing spacing values as inline styles make content less portable since you can never revise your choices systemically.
- There is no good way to deal with these issues as it stan

[2022-03-21 14:43] DAreRodz commented on #39510
Hi @michalczaplinski 👋 , I've been taking a quick look at this issue and I have a couple of comments:

What I see is that, by default, you can select the first comment's inner blocks ― i.e., when you hover the mouse over the comment's inner blocks, they are highlighted and selectable. Inner blocks of other comments are not selectable unless you click first on that comment (you would need two click

[2022-03-21 15:03] getdave commented on #38275
## Update March 23rd 2022

* [PR to add a dedicated Navigation sidebar](https://github.com/WordPress/gutenberg/pull/39290) has been simplified as far as possible so as to reduce scope. It is ready for review.
* @draganescu continues to [iterate on maxNesting for the Nav block](https://github.com/WordPress/gutenberg/pull/38621).
* [A fix was needed for a block crash](https://github.com/WordPress/gu

[2022-03-21 15:54] skorasaurus commented on #39419
being worked on in https://github.com/WordPress/gutenberg/pull/39609

[2022-03-21 16:16] bobmatyas commented on #39555
Thanks for sticking with this. Feel free to close this once you create the new issue.

---

As for the other item with losing background colors on theme change, I think that merits an issue. I can make the issue if that's helpful.

[2022-03-21 16:34] daviedR commented on #39419
Thanks @aezazs-multidots @skorasaurus !

[2022-03-21 16:44] ciampo opened #39615 "Components: rework focus/blur callback behavior across composite components"
## What problem does this address?

We should align composite components with focusable sub-components (e.g. `UnitControl`, `RangeControl`, ...) so that they share the same behavior when it comes to how the `onFocus`/`onBlur` callbacks are fired

See https://github.com/WordPress/gutenberg/pull/39589#pullrequestreview-916026139 for more details

## What is your proposed solution?

- List components

[2022-03-21 16:49] eric-michel commented on #39371
@cbirdsong

I completely agree. I regularly want to set margin to zero on things like two group blocks with background colors when I want to have no gap between them. Or (same as you) want to have no gap between columns in the `columns` block.

[2022-03-21 16:50] ts-mz opened #39616 "Embed: Block transformed to a paragraph keeps classes"
### Description

I noticed this on multiple occasions, here described for a youtube embed block transformed to a paragraph.

### Step-by-step reproduction instructions

1) Embed a youtube embed block into any block editor post.
2) Check if the appropriate classes have been assigned to the block as "additional CSS classes" - "wp-embed-aspect-16-9 wp-has-aspect-ratio" should be present
3) transform

[2022-03-21 17:16] palmsout commented on #39280
I just also want to add, in the event this becomes a feature -- it's essential that there's an option to have the full post content in masonry layout -- all the masonry plugins I've found limit you to post excerpts (and can't properly parse html within the post, like iframes and other blocks within the post content).

[2022-03-21 17:43] michalczaplinski commented on #39510
yes, I have noticed that too - good catch 🙂

You're right about that! I can't reproduce it anymore either 🤔 It's possible that I've tested it on the branch before adding the fix... Will remove that line from the issue description.

[2022-03-21 18:19] jorgefilipecosta commented on #39466
Yes, https://github.com/WordPress/gutenberg/pull/38997 should address this issue.

[2022-03-21 19:03] jeyip commented on #39332
## Status Updates

### [~#39361 Change class properties from static to instance members (Merged)~](https://github.com/WordPress/gutenberg/pull/39361)

### [#39327 Expose enqueueing method instead of directly enqueueing fonts on registration](https://github.com/WordPress/gutenberg/pull/39327)

We've since added a few updates and addressed all code review.

1. We returned to auto-generation of webfo

[2022-03-21 20:37] ZebulanStanphill opened #39619 "`react-autosize-textarea` dependency seems to be abandoned; what does this mean for `<PlainText>`?"
[`react-autosize-textarea`](https://github.com/buildo/react-autosize-textarea), a dependency of `@wordpress/block-editor`, appears to be abandoned. It has not received any updates since July 2020, and a PR made by someone on December 2020 to add support for React 17 has been entirely ignored.

As it turns out, there's a very similar package called [`react-textarea-autosize`](https://github.com/And

[2022-03-21 20:54] glendaviesnz commented on #39612
This is replicating the behaviour of the Image block, which also adds an empty `figure` and `img` tag to the frontend markup if no image is selected for the block - it is just more noticeable in the Gallery due to the grid layout:

https://user-images.githubusercontent.com/3629020/159361894-b54ef28b-7861-476e-bbcc-2257fb708e76.mp4

I wonder if we also want to remove the empty tags for the standalo

[2022-03-21 21:12] mrwweb commented on #38998
I want to quote @andronocean at length from their comment on #36135 because it's extremely relevant to this discussion (original emphasis):

This is a great, concrete proposal that is perfect for illustrating the benefits of CSS utility classes for **_both_** core block setting needs (e.g. center alignment, dashed border) and `theme.json` "tokens" (e.g. large gap, primary color, heading font famil

[2022-03-21 22:45] andrewserong commented on #38900
Just linking a PR from @noisysocks that will address documenting the current project structure for PHP files: https://github.com/WordPress/gutenberg/pull/39603. Thanks Rob! 🙇

[2022-03-21 23:12] bradhogan commented on #34033
Hey all.  Any updates on this feature?  This is heavily utilized in themes we create for online course creators who only want to show top-level "courses" on their courses archive page (and not all of the lessons / child posts within the courses CPT).  We can't really update our themes to a full site editing theme until this is put back in place in the query block (roughly 1k users of our theme).

[2022-03-21 23:59] ironprogrammer commented on #39582
#39620 has been created to revert the change that introduced this issue. I'll keep an eye on things and touch base on this item once it drops.

[2022-03-22 00:08] pgooch commented on #26667
Thanks @tcmulder dropping that knowledge in the issue, I was wondering why the were sticking around.

[2022-03-22 00:11] cuemarie commented on #38409
I ran into this issue as well and submitted it over in https://github.com/Automattic/wp-calypso/issues/60971

Here's the recording I took that shows my experience trying to add/edit Social Icons within a Navigation Block, when editing just the header template part of my site (which is quite short):

https://user-images.githubusercontent.com/27249804/159382745-da756aa0-fb69-4dad-ae96-60ace934816c.m

[2022-03-22 00:25] noisysocks commented on #38851
I reformatted this issue a little bit, added some links, and un-checked all the checkboxes since, to my knowledge, we haven't merged anything that migrates any tests yet. (https://github.com/WordPress/gutenberg/pull/38570 is just the infrastructure.)

[2022-03-22 01:41] #38080 closed, assigned to michalczaplinski

[2022-03-22 01:41] #39443 closed, assigned to michalczaplinski

[2022-03-22 02:10] noisysocks commented on #38851
It would be nice to flag 🚩 which tests are [flaky](https://github.com/WordPress/gutenberg/issues?q=is%3Aopen+is%3Aissue+label%3A%22%5BType%5D+Flaky+Test%22) so that we can prioritise them. That will show us if Playwright offers any improvements there.

[2022-03-22 03:32] andrewserong commented on #38167
Update (2022/03/22):

A quick status update: we're currently exploring options for how the style engine might be implemented on the server. While the [initial style engine PR](https://github.com/WordPress/gutenberg/pull/37978) landed a simple approach focusing on just one of the existing block supports within the editor (padding), we've been keen to explore some ideas at the other end of the spect

[2022-03-22 03:53] glendaviesnz commented on #37590
Update: Thanks for all the extra detail around how to replicate the specific issues caused by this change everyone. I am coming fresh to this from both the theme perspective, and the editor change side, so I have just been taking a bit of time to make sure I understand the issues correctly from both ends. I have been able to replicate the issue caused by the `! important` at the theme end (thanks

[2022-03-22 03:58] talldan commented on #39578
@rufus87 I took the time to implement your code and it works just fine:
![Screen Shot 2022-03-22 at 11 48 23 am](https://user-images.githubusercontent.com/677833/159404144-d0e3c848-0e0d-4f72-a3ae-36ef7b611789.png)

For my test implementation I used the buttons/button blocks. I pushed up the code in a pull request so that you can check it out and try it yourself - https://github.com/WordPress/guten

[2022-03-22 04:15] noisysocks commented on #39082
Looks great @javierarce!

I prefer the variation where everything is underneath _Summary_ and not split into _Summary_ and _Publish settings_. It means that we don't have to try and label the settings which can be unintuitive. For instance, why is _Template_ a "publish setting"?

The mockups show the ability to have multiple authors, but I don't think that you can do this in WordPress without usin

[2022-03-22 04:37] noisysocks commented on #39082
Updated _Changes required_ in the description to reflect how I'd break down implementing the updated design. I probably won't be able to start on development until I'm back from vacation in mid April, though 😅

[2022-03-22 06:02] aezazs-multidots commented on #39375
Hello @minaldiwan

I tried to reproduce this issue but I could not create any such issue.

WordPress information

- WordPress version: 5.9.2
- Are all plugins except Gutenberg deactivated? yes
- Are you using a default theme:Twenty twenty two theme

and I have added the video link below.
[https://www.loom.com/share/d4255cb5315e476885071472541d9228](https://www.loom.com/share/d4255cb5315e4768850714

[2022-03-22 06:43] gziolo commented on #33810
Closing after @noisysocks landed #39603 that describes the current revised folder structure and code recommendations.

[2022-03-22 06:43] #33810 closed, assigned to nobody

[2022-03-22 06:50] derekblank commented on #35733
Hello 👋 I'm happy to take a look at this one.

[2022-03-22 06:55] gziolo commented on #39411
Hello, there is no high-level API to use at the moment that I would be aware of, but I can share an example in the codebase where a workaround exists:

https://github.com/WordPress/gutenberg/blob/cb63e4e88af991366703f01ef5831f8ed8359e3c/packages/block-library/src/comment-template/hooks.js#L105-L119

@adamziel, it's something that would be great to integrate in the `@wordpress/core-data` package.

[2022-03-22 07:37] ntsekouras opened #39628 "List v2: Add a different icon for List Item"
## What problem does this address?
Currently the experimental new `List` and `List Item` blocks share the same icons. We should have different icons to differentiate them easier.
<img width="597" alt="Screenshot 2022-03-22 at 9 36 37 AM" src="https://user-images.githubusercontent.com/16275880/159430697-bf9df5d1-8663-4daa-97a8-7c2d94efd980.png">

--cc @jasmussen

[2022-03-22 07:48] youknowriad commented on #39619
Maybe this could be a two steps project. Can we first make the v2 stable and deprecate v1? That way we'll be reducing the impact of the v1 removal (that can probably happen in a future WP release)

[2022-03-22 07:53] HILAYTRIVEDI commented on #38651
Hi @kajalmultidots, Thank you for this ticket. But even by following the above steps, I can't be able to reproduce the issue. I think it is fixed now 👍.

Testing video : https://www.awesomescreenshot.com/image/24452395?key=bf214446286acae06476d503d136d571

[2022-03-22 08:02] HILAYTRIVEDI commented on #38441
I think we can close this ticket as the UI is proper in the latest release.

[2022-03-22 08:04] jasmussen commented on #37407
Even if that's a pertty big modal, I kind of appreciate how it shows the breadth of customizability of the templating system. It makes discoverable what is otherwise mystery meat.

Should we move the taxonomy icon to the heading instead of duplicating it for each line inside? Potentially this could also allow us to use the list view inside these boxes, perhaps even starting auto-collapsed, as a me

[2022-03-22 08:09] jasmussen commented on #39628
For now and as we're still exploring, could we use these two icons depending on whether the parent container is set as ordered or unordered?

<img width="259" alt="Screenshot 2022-03-22 at 09 08 37" src="https://user-images.githubusercontent.com/1204802/159435726-14062fa9-633a-4c16-a208-1c4b0102387f.png">

[2022-03-22 08:15] #38441 closed, assigned to nobody

[2022-03-22 08:21] #39518 closed, assigned to youknowriad

[2022-03-22 08:34] HILAYTRIVEDI commented on #39249
Hi @Smit2808, Thank you for this ticket. I think it's not possible to do the pull request through the Gutenberg plugin for the Twenty Twenty Two theme. But by adding the following code to teh style.css in the theme the issue will be resolved. I tested the code and was confident about it.

`.wp-block-columns.alignfull .wp-block-column p:not(.has-background){
	padding-left: 20px;
	padding-right: 20p

[2022-03-22 08:38] javierarce commented on #39082
Maybe we could find a better name for the section. My only worry is that we end up with more than 5 or 6 options in there (the idea for the ellipsis menu for the "publish settings" would be to configure the items that appear there).

I'm totally OK to leave it out of this project, it was more of an exploration for the future. I'll add a variation that only shows one user and can be implemented eas

[2022-03-22 08:45] jasmussen opened #39629 "Style variations: Add "Randomize" button"
The Global Styles system has a new "style variation" system that allows you to add named copies of `theme.json` into a `styles` folder in your theme. For example, `twentytwentytwo/styles/blue.json`. These style variations are saved copies of a style configuration, meaning they can change colors, fonts, borders, radiuses, and more.

As the system gets refined, it would be interesting to leverage ju

[2022-03-22 08:45] jasmussen commented on #38333
Tangential to this effort, #39629 details style randomization. And if you happen upon a really sweet random style, it'll benefit from the work here, so you can save it.

[2022-03-22 08:46] jasmussen commented on #39629
CC: @vcanales as I think you've been looking into some of this stuff.

[2022-03-22 08:56] youknowriad commented on #39582
It seems the inserter previews are not something we're e2e checking at the moment, might also be a good addition to our testing pipeline.

[2022-03-22 08:58] JustinyAhin commented on #38851
I removed the e2e-utils checkboxes from the issue description, since they will be added if necessary when we are migrating tests.

[2022-03-22 09:33] getdave commented on #39231
Ok this is interesting. I wrote the test so I'll take a look.

[2022-03-22 09:33] #39582 closed, assigned to nobody

[2022-03-22 09:47] mtias commented on #37407
Why would we need to combine it all in a single modal? I was hoping that when you create a category template you'd have the option of narrowing it down to a specific category. Same for an archive, etc.

[2022-03-22 10:00] ntsekouras commented on #39628
I don't think that's possible right now. While this is similar to block variations we don't have a way to know the parent's attributes in the places we need to show the icon.

It's not urgent issue for sure though 😄

[2022-03-22 10:23] vijayhardaha commented on #33521
Is anyone working on this issue?

[2022-03-22 10:33] HILAYTRIVEDI commented on #39335
#39635 This PR will fix the issue.

[2022-03-22 10:41] getdave commented on #39179
Debugging this one.

[2022-03-22 10:59] javierarce commented on #34962
I haven't been able to reproduce this issue… if someone could confirm that, I think that we could close this ticket.

[2022-03-22 11:44] tomasztunik opened #39639 "Standalone Gutenberg installation doesn't redirect/load the site editor"
### Description

We are seeing regression in E2E tests for Full Site Editing in WooCommerce Gutenberg Products Block against latest Gutenberg version installed as a standalone plugin.

With Gutenberg 12.7.x when accessing the template editor via `site-editor.php` we'd correctly load the site-editor using locally installed Gutenberg and the `themes.php` access via query params  would work along it.

[2022-03-22 11:50] Mamaduka commented on #39639
Thanks for creating the issue, @tomasztunik.

Does Site Editor load correctly if you access it via `wp-admin/themes.php?page=gutenberg-edit-site`?

[2022-03-22 12:12] tomasztunik commented on #39639
Yes it does, themes.php works ok. Though as mentioned some tests fail because of the `SELECTORS.visualEditor` not always resolving when using the `visitSiteEditor` helper. This uncovered bug on our side and we shouldn't be using the `visitSiteEditor` util there as it waits for iframe to be present and when we access the main tab with list of templates it is not present so will fail or maybe we sho

[2022-03-22 12:26] Mamaduka commented on #39639
When using the Gutenberg plugin correct Site Editor path is the `themes.php` custom page. This is because the plugin has to support an older version of WP (5.8) where `site-editor.php` doesn't exist, and it was the only way to make it compatible.

After WP 6.0 is released, we'll stop using the custom page, and there will be a single path for Site Editor.

Yes, most of the time, but it's hard to av

[2022-03-22 12:52] tomasztunik commented on #39639
Thanks for the insights @Mamaduka!

So as we target current versions with our CI we should skip using `themes.php` and after 6.0 lands the tests should start working properly again - did I get this right?

For non `site-editor.php` navigation we were already using visitAdminPage so this was working as intended and this is why we did not see these navigation errors earlier - will loop the team in o

[2022-03-22 13:02] Mamaduka commented on #39639
If you want to test with the Gutenberg plugin active, I recommend using the `themes.php` custom page to get the latest Site Editor working.

WP 6.0 is a few months away, but `visitSiteEditor` will be updated to use the correct path when it lands.

[2022-03-22 13:04] tomasztunik commented on #39639
Would you recommend the best way to detect on E2E side if plugin is active or if we are using core?

[2022-03-22 13:13] Mamaduka commented on #39639
I don't think we have got util for that. Usually, we active/deactivate plugins as needed before the specific test runs.

I've not very familiar with WooCommerce Blocks, but does it require or depend on features shipped in the Gutenberg plugin?

[2022-03-22 13:18] tomasztunik commented on #39639
Version included in Woo core is using only what is in core but for installed version we try to consume what edge provides as we want to push with FSE as much as we can. We do feature detection when enabling features to see what version of Gutenberg is available if we pick something from latest. That's where the tests against Gutenberg latest on top of core come from.

We'll figure a way to do the

[2022-03-22 13:20] Mamaduka commented on #39639
Thanks. Let's keep this issue open for now.

[2022-03-22 14:12] github-actions[bot] opened #39641 "[Flaky Test] should select next block after removing the very first block"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should select next block after removing the very first block

## Test path
`specs/editor/various/list-view.test.js`

## Errors

<details>
<summary>
	<time datetime="2023-01-25T06:38:54.508Z"><code>[2023-01-25T06:38:54.508Z]</code></time> Test passed after 1 failed attempt on

[2022-03-22 14:23] jameskoster commented on #37407
There are many, many ways to slice it, and they all have trade-offs. It sounds like you're suggesting something like this:

![Add post category template](https://user-images.githubusercontent.com/846565/159777857-a829bd06-d41d-4229-b866-42a2cda842e9.png)

It can certainly work. The trade-off is that the popover needs to permanently list all the different types of template a user can create – it co

[2022-03-22 14:44] ooksanen opened #39643 "fontSizes labels in editor"
At the moment editor shows fontSizes as a number without unit, so 24px = "24" and 1.5rem = "1.5", which can be quite unclear for users.

For example a scenario I have at the moment is that I have two custom font-sizes on top of the default value, 1.25rem. Small font-size, which is 1rem and large font-size which is 1.5rem so the user only sees 1 and 1.5 (unless I define a size "Default" as well) wh

[2022-03-22 14:47] djave-co commented on #15160
We also regularly need granular control of which headings are required. The title of our pages tend to be an h1 of the page title, and the following headings need to sit beneath this. We would like to at least remove h1s, and also the option of removing one or more of the h4-h6 elements which rarely have visuals supplied by the designers.

We'd like the flexibility to control this at theme level.

[2022-03-22 15:01] ncc1701v commented on #34825
Strongly in favor

[2022-03-22 15:41] ZebulanStanphill commented on #39619
Since `<PlainText>` v2 just forwards all its logic to `<EditableText>`, wouldn't it make the most sense to just deprecate `<PlainText>` as a whole and recommend using `<EditableText>` instead? It's worth noting that `<EditableText>` is not currently exported from the package.

Actually, I think the debate of what to do here is why things ended up the way they are. I guess the question is one of na

[2022-03-22 16:20] eric-michel commented on #38998
Regarding CSS specificity, I wonder if it does make sense to start looking at CSS layers, as @adamziel suggested. Current versions of all 4 major browsers now support it, and by the time anything related to this project is ready to merge, it's likely layers will enjoy broad support for most users.

[2022-03-22 16:31] bradhogan opened #39644 "Navigation block: unable to add CPT archive page as link"
### Description

I have a "Courses" CPT and I'm unable to add this to a navigation block when simply search for "courses" as you can if you say want to add a Blog link (assuming that is your posts front page).

### Step-by-step reproduction instructions

1. Create CPT "courses"
2. Edit Site
3. Edit Header Template Part
4. In Navigation Block, click + button and search for "courses"
5. Nothing appe

[2022-03-22 16:39] zaguiini commented on #39332
## Status Update

### Separation between registration and enqueueing

The first version of the Webfonts API is a big monolith -- we're registering a font face and directly emitting the registering font family in which the font face belongs to the front-end, regardless if they're being used or not. That's why this issue exists in the first place: it quickly adds up in the size of the file that's se

[2022-03-22 17:02] #31962 closed, assigned to carolinan

[2022-03-22 17:02] #38456 closed, assigned to cbravobernal

[2022-03-22 17:06] youknowriad commented on #39619
EditableText is just an internal component that serves as a base for both RichText and PlainText. I still prefer the RichText and PlainText naming, EditableText is a bit confusing IMO.

[2022-03-22 17:13] ockham opened #39645 "e2e Tests: Add test coverage for Avatar block"
Introduced in #38591. Some basic test coverage could e.g. check if setting the avatar to a different user really shows the correct image for that user.

[2022-03-22 17:20] iandunn opened #39646 "block.json default attributes aren't passed to PHP render callback"
## What problem does this address?

If a block declares default attribute values like this:

https://github.com/WordPress/gutenberg/blob/3739bd76e236ff6ed5431022dbd5684fc7f93ade/packages/block-library/src/comment-author-avatar/block.json#L11-L18

...then it doesn't seem like it should have to duplicate them in the PHP logic like this:

https://github.com/WordPress/gutenberg/blob/3739bd76e236ff6ed5

[2022-03-22 17:21] CyberDomovoy commented on #36135
Some simple thing just crossed my mind...

Shouldn't setting a new layout be the purpose of a block?
I mean, it _is_ something quite specific, you're not going to change the maximum space allowed to blocks that often, are you?

[2022-03-22 17:25] apeatling opened #39647 "Orientation Support: Not showing consistently across editors in Row block"
### Description

It's been reported that the orientation settings are not showing consistently. For example using the skatepark theme and adding a row block in the post editor results in orientation settings now showing at all:

<img width="459" alt="image" src="https://user-images.githubusercontent.com/1464705/159539314-0cfa0738-634b-4330-8adf-821a154f5851.png">

Skatepark does not have anything

[2022-03-22 17:29] michalczaplinski opened #39648 "Remove the `inherit` option from the Comments Query Loop and Comment Template"
## What problem does this address?
https://github.com/WordPress/gutenberg/pull/39227  either introduces breaking changes to existing comment pagination functions, OR introduces Gutenberg-dedicated functions that are reliant on how core comments utilize pagination URLs.

But there are underlying challenges brought on when pagination between core comments and comment blocks are out of sync. Both sha

[2022-03-22 17:45] mtias commented on #39647
The block is actually being inserted with the flag set to false in some circumstances. It also seems this should be a block / theme config not a block attribute.

[code]

[2022-03-22 17:46] github-actions[bot] opened #39649 "[Flaky Test] should undo asterisk transform with backspace setting isTyping state"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should undo asterisk transform with backspace setting isTyping state

## Test path
`specs/editor/blocks/list.test.js`

## Flaky rate (_estimated_)
`1 / 2` runs

## Errors

mes":1,"totalCommits":1,"baseCommit":"23f11a18726bf69717595451ab3250cb67b426f6"} -->
**Flaky test detec

[2022-03-22 17:52] markhowellsmead commented on #38998
I love the sound of CSS layers, but the tech. is only 20 or so days old. It will be a while until this is supported in 90%+ of active browsers and core must maintain support for the large majority of visitors.

If CSS layers were to be added as a basis on which core CSS works, working around it for older browsers will likely either create a huge amount of work for theme developers - especially tho

[2022-03-22 17:57] apeatling opened #39651 "Flex layout: Wrap multiple lines as default"
### Description

With the row block and using orientation and justification in layout settings the "Allow to wrap to multiple lines" setting is set as off by default. This means the typical user experience will go like this:

https://user-images.githubusercontent.com/1464705/159545013-16a3038a-ec1a-4627-8410-671ae6574827.mov

By setting the wrap setting to on by default you'd automatically get som

[2022-03-22 18:04] ironprogrammer commented on #38723
The PR to address this issue was reverted in #39620 (see PR for details).

Please re-open this issue.

[2022-03-22 18:11] youknowriad commented on #39651
I think this means that we should also add a "column" variation to the "group" block. Changing the orientation of a row block should be the same as "transforming it to a column variation"

[2022-03-22 18:24] Skatox commented on #8379
Why is this issue closed? This is a required feature for many developers.

[2022-03-22 18:25] eoinsav commented on #37385
I am still able to recreate this on a few sites.

[2022-03-22 18:26] SiobhyB commented on #32912
The help button was hidden from view in https://github.com/WordPress/gutenberg/pull/37221, following a discussion in https://github.com/wordpress-mobile/gutenberg-mobile/issues/4339, where it was decided that hiding was the best course of action for the time being. I'll go ahead to close this issue, as the button is no longer accessible.

[2022-03-22 18:26] #32912 closed, assigned to nobody

[2022-03-22 18:53] gaswirth commented on #25330
@kubiqsk Thank you! It all came down to dependencies for me -- your dependency logic is working wonders for me.

[2022-03-22 19:08] bph opened #39654 "Dev Notes Tracking Issue for WordPress 6.0"
### Description

For WordPress 6.0, a GitHub project is being used to track dev notes and their progress. You can find the dev notes project view here - https://github.com/orgs/WordPress/projects/28/views/1

Please share your notes here as comments or a link to a shared Google document. The WordPress 6.0 Documentation team  (@zzap, @abhansnuk @aurooba and I, @bph) will be happy to assist in wordin

[2022-03-22 19:10] creativecoder commented on #39332
I've been thinking a lot about our approach here while testing the related PRs over the past week+. Here are some thoughts on the implementation:

### Font enqueuing for block typography settings should happen at the block level

The font family settings for blocks are provided by the block supports typography module (https://github.com/WordPress/gutenberg/blob/3739bd76e236ff6ed5431022dbd5684fc7f9

[2022-03-22 19:12] fluiddot commented on #37275
Sure, I hope I can provide further context regarding this issue. The idea behind the `lastBlockInserted` state was to provide a way to detect when a block was recently inserted via a specific source, especially for detecting when a media block was added and automatically opening the media picker options. However, we only wanted to do this when the block was added from the block picker, so, the res

[2022-03-22 20:42] CyberDomovoy opened #39657 "gutenberg_get_global_settings returns all settings when requested is not found"
### Description

gutenberg_get_global_settings return all settings when required one is not found.

Returning all settings when none in particular is requested is quite right, but when we ask for some, and it is not found, imho the function should return an empty value.

Otherwise, how are we supposed to know if the setting is set?

### Step-by-step reproduction instructions

[code]

### Screensho

[2022-03-22 20:53] CyberDomovoy commented on #39657
An example of situation where this is troublesome:

[code]

[2022-03-22 21:45] gziolo commented on #34660
#34969 is ready for the final review. Can someone help to test and validate the changes proposed?

[2022-03-22 21:45] gziolo commented on #34660
#34969 is ready for the final review. Can someone help to test and validate the changes proposed?

[2022-03-22 21:50] glendaviesnz commented on #38252
Sorry for the delay in replying. Although the main suggestion in #37590 is to add a toggle in the theme.json, or a filter, that is only a 'suggestion' at this point, hopefully a number of solutions can be compared against the feedback on this issue, and over on that issue before a decision is made on an actual solution.

[2022-03-22 22:33] mrwweb commented on #39371
@cbirdsong amazing writeup. Thanks for that!

I agree that following the existing options supported by Font size makes sense since that is the closest existing system to what's proposed here. It should definitely be possible to only use the scale and not enable custom values.

---

The main purposes of adding this feature are:

1. Increase consistency from page to page by making it easier to selec

[2022-03-22 22:50] critterverse commented on #38333
👋 Here's a quick sketch for a user-modified styles section below the theme-provided style variations. Within the modified styles section, the thumbnail previews could include a "more" menu (possibly on hover/focus only) with an option for saving the modified version as a proper style variation:

<img alt="modified styles" src="https://user-images.githubusercontent.com/77359364/159588633-6bed1519-b

[2022-03-22 22:54] CyberDomovoy commented on #36135
In an effort to keep my theme clean, i made a plugin to fix this issue.
It also makes it simple to disable other styles.
You can find it [here](https://gitlab.com/ErrLock/wordpress/plugins/rlk-styleman/-/tree/dev).

The thing will probably become more in the future (add inline styles to handles, filters, replace styles, admin UI...), but for now i have to resume work on my theme.
If any of you wan

[2022-03-22 23:02] sabernhardt commented on #34825
[Using JSON](#issuecomment-943295054) may be better, but I made a PR for the simpler method.

[2022-03-22 23:05] critterverse commented on #39629
Awesome!! This seems to work well locked to the bottom of the panel. Also agree that the color and typography attributes identified above would be a great place to start 🚀

[2022-03-22 23:31] glendaviesnz commented on #37590
@webmandesign it was actually difficult to find a clear definition of what constitutes a `Classic` versus a `Block`, versus an `FSE` theme, so I have added [some detail about this to the handbook](https://developer.wordpress.org/block-editor/how-to-guides/themes/) (But I noticed I left out details about FSE, so [PR here](https://github.com/WordPress/gutenberg/pull/39662) for that).

In terms of th

[2022-03-22 23:35] cbirdsong commented on #38998
100% agree. If the editor is going to ship important structural CSS it needs to be _conservative_, and `@layer` will be bleeding edge for many years.

[2022-03-22 23:57] ramonjd commented on #24480
As mentioned [above,](https://github.com/WordPress/gutenberg/issues/24480#issuecomment-1072775737) I've started looking at a backend option for fluid typography based on existing `fontSizes` presets in theme.json.

- https://github.com/WordPress/gutenberg/pull/39529

When fluid typography is "activated" in theme.json, we generate `font-size` values using `clamp()`.

The resulting font sizes can be

[2022-03-23 00:02] ramonjd commented on #34345
#### Update: _Wednesday, March 23 2022_

I've endeavoured to dive into a backend option for fluid typography based on existing `fontSizes` presets in theme.json.

- https://github.com/WordPress/gutenberg/pull/39529

When fluid typography is "activated" in theme.json, we generate `font-size` values using `clamp()`.

The resulting font sizes can be applied to any text block in the editor UI, and the

[2022-03-23 00:41] andrewserong commented on #39647
Just following up, the fix that @youknowriad put together in #39650 ensures that it's hidden in all cases for the Group / Row block — it looks like the "Transform to variation" should be used to switch orientation in this case, as the Group block needs to support floated layouts.

As of https://github.com/WordPress/gutenberg/pull/39532 the visibility of the orientation control can be set per-block

[2022-03-23 00:43] glendaviesnz commented on #37590
So in order to move this issue forward, I have put together a very draft PR with one solution, which takes into account the preference stated a few times that this change shouldn't be automatically applied to pre5.9/non-theme.json themes.

This is just one possible approach, and there may be some `gotchas` that I am overlooking, so no guarantees that we could move forward with an approach like thi

[2022-03-23 00:43] #39267 closed, assigned to alefesouza

[2022-03-23 01:21] hoangvs opened #39663 "wp-block-navigation do not support "current-menu-ancestor current-menu-parent " for parent items when the sub item is active ?"
### Description

Hello Everybody,

I have a problem with wp-block-navigation when I use Twenty Twenty-Two theme. It's not assign "
current-menu-ancestor current-menu-parent" to parent menu like old wp_nav_menus system. So It's hard to me detect current parent menu .

I wish someone can help me on this .

[2022-03-23 02:58] juhi123 commented on #38851
@JustinyAhin Can you please update the `README.md` and `MIGRATION.md` links in the description

https://github.com/WordPress/gutenberg/blob/trunk/test/e2e/MIGRATION.md
https://github.com/WordPress/gutenberg/blob/trunk/test/e2e/README.md

[2022-03-23 03:57] talldan commented on #39644
@bradley2083 Would you be able to share the code you're using to register the CPT?

If you're using a plugin for that, then maybe don't worry so much.

[2022-03-23 04:15] bradhogan commented on #39644
No problem @talldan here it is...
[code]

[2022-03-23 04:56] talldan commented on #39644
Thanks, I'll give this a test a little later.

[2022-03-23 05:15] #38795 closed, assigned to carolinan

[2022-03-23 05:31] theminaldiwan commented on #39375
Hi @aezazs-multidots
i have again checking this issue in our local setup but same problem is happened.

[2022-03-23 05:51] Smit2808 commented on #37071
Hi @Andrew-Starr

I checked this issue and now it is working fine for the page, but if we edit the FSE and then change the site title link color and publish it, in the editor it will work but on the front side, the color is not changing.

My environment:
-> WP V5.9.2
-> GB V12.8.1
-> Browser chrome
-> MAC OS

Thank you.

[2022-03-23 05:52] Smit2808 commented on #38860
Hi @pbking

I checked this issue and now it is working fine for the page, but if we edit the FSE and then change the site title link color and publish it, in the editor it will work but on the front side, the color is not changing.

My environment:
-> WP V5.9.2
-> GB V12.8.1
-> Browser chrome
-> MAC OS

Thank you.

[2022-03-23 06:04] HILAYTRIVEDI commented on #39344
Hi @Smit2808, Thank you for the ticket. But I think it's a bit of a theme problem instead of Gutenberg. So the below code will fix the issue. As it is only appearing in the Twenty Twenty Two theme.

[code]

[2022-03-23 06:27] andrewserong opened #39671 "List View: Multi-select follow ups (de-selecting blocks, accessibility wording)"
Following on from #39272 where multi-select support was added to the List View for shift + Home and End keys, this issue tracks a few items of feedback that didn't make it in the scope of that PR, but would be good to follow-up on and implement.

## Issues to follow up on

* [ ] Allow blocks to be de-selected via keyboard. Currently you can hold the shift key down to select blocks with the up and

[2022-03-23 06:35] kevin940726 commented on #38851
@juhi123 Updated! Thanks!

[2022-03-23 06:37] gziolo commented on #39646
Yes, it looks like an obsolete step here when the default value is provided in `block.json`. In JavaScript, the default value would get automatically set for the attribute. Maybe, it also works this way in JavaScript.

I looked through PHP tests in WP core and it looks like it works the same in PHP:

https://github.com/WordPress/wordpress-develop/blob/d7f9f4405b30be28c026e6a3162b5e0b24f9c8e4/tests

[2022-03-23 07:03] gziolo commented on #39648
I see that the block works now only when the `$post` object is set on the page.

https://github.com/WordPress/gutenberg/blob/ec2ac147e3e06c64f79d08b3ebc6ff770c263dbf/packages/block-library/src/comment-template/index.php#L56-L59

Otherwise, it renders nothing.

Maybe the user-facing name of the block should also change to better align with what is capable of doing. It's a Post Comments List with al

[2022-03-23 07:08] theminaldiwan commented on #39598
Hi @luminuu
As we know we add only permalink for post term or navigation item or link
so here is link color option is properly given for post title block.
I think there is no confusing for anyone.

Thanks

[2022-03-23 07:08] madhusudhand opened #39673 "Image block: left and right alignment shrinks image because of the extra margin"
### Description

Left or right aligned image adds extra margin. When parent has fixed width, it shrinks image because of the extra margin.
Center or no alignment works good.

### Step-by-step reproduction instructions

1. add a column layout block with two columns
2. Set the width of first column to 60px
3. add image block in first column and set the width to 50px.
4. change the alignment of the i

[2022-03-23 07:28] #39647 closed, assigned to youknowriad

[2022-03-23 07:37] jasmussen commented on #39082
This is looking good! This part alone feels potent:

<img width="670" alt="top of the status and visibility panel, showing featured image, title, excerpt and author" src="https://user-images.githubusercontent.com/1204802/159647089-e36decf6-530c-48ed-800b-149d819dd2af.png">

This segment reads almost like a "colophon", an inscription of publication facts that you'll usually see at the end of a book

[2022-03-23 07:42] theminaldiwan opened #39675 "Image block design issue inside column block"
### Description

While adding image block inside column block then image block media uploader design showing disturbing when we reduced the column width below 20%.

Need to check design of media uploader upto 5% of column width

### Step-by-step reproduction instructions

1.Select column block adding width 15 % to 1st column
2.Adding Image block
3.Check media uploader dessign

### Screenshots, scr

[2022-03-23 08:16] luisherranz commented on #39648
Do you mean dropping the word "Query" from the "Comments Query Loop" name in the block [title](https://github.com/WordPress/gutenberg/blob/ec2ac147e3e06c64f79d08b3ebc6ff770c263dbf/packages/block-library/src/comments-query-loop/block.json#L5)?

[2022-03-23 08:25] jasmussen commented on #39628
A thought:

Since a list item can only ever be used inside an ordered or unordered list, could we actually not show any icon in that toolbar? I would expect main list transformations (transforming to a ToDo list, for example), to happen on the parent list block, and there wouldn't ever be any transformations on list items. Like so:

<img width="849" alt="Screenshot 2022-03-23 at 09 23 53" src="htt

[2022-03-23 08:55] github-actions[bot] opened #39679 "[Flaky Test] loads the frontend script only once even when multiple navigation blocks are present"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
loads the frontend script only once even when multiple navigation blocks are present

## Test path
`specs/editor/blocks/navigation.test.js`

## Errors

<time datetime="2022-08-04T11:16:52.510Z"><code>[2022-08-04T11:16:52.510Z]</code></time> Test passed after 1 failed attempt

[2022-03-23 09:02] gziolo commented on #39648
Maybe. I'm mostly confused at the moment what's the current plan for the block. It's much simpler than all the initial explorations and has limited application. Still, it's a great replacement for the existing Post Comments block that shipped in WordPress 5.9. Well, it also makes me realize that at the moment we have two similar blocks 😄

[2022-03-23 09:12] jasmussen commented on #34994
I took a quick look at the inspector for the comments query loop:
<img width="680" alt="Comments Query Loop, before" src="https://user-images.githubusercontent.com/1204802/159663334-82f9b7e2-02be-4a04-a306-809267d20717.png">

I think we can do some small things here to refresh it a little bit:

<img width="688" alt="Comments Query Loop i2" src="https://user-images.githubusercontent.com/1204802/159

[2022-03-23 10:58] Chrico opened #39685 "Allow customize fontWeight (and fontStyle)"
## What problem does this address?
Currently it is only possible to configure via `theme.json`  following:

[code]

But it is not possible to define the allowed fontWeights.

If this is not set, all (from 100 - 900) are available as defined here: https://github.com/WordPress/gutenberg/blob/trunk/packages/block-editor/src/components/font-appearance-control/index.js#L19 and combined here: https://gi

[2022-03-23 11:00] hypest opened #39686 "[RNMobile] Adding a link to a selected word doesn't linkify the word if an other block was originally focused"
### Description

When we tap on the link button to add a link to a selected word, it should linkify the word. That works OK if the same block was in focus, but doesn't work if a difrerent block was originally focused. Instead, the link appears next to the selected word.

### Step-by-step reproduction instructions

1. On the Android demo app, type some words in a paragraph block
2. Create a new par

[2022-03-23 11:05] mtias commented on #39647
@apeatling @andrewserong @youknowriad thinking a bit more about this, I think the orientation should be showing for the Row block. There's nothing inherent about rows being purely horizontal, and there's value in a vertically organized flex container that do stuff like space-between, etc. Maybe we want the name of the block to change to "Stack" or something like that for extra clarity, but I feel

[2022-03-23 11:09] tomasztunik commented on #39639
We've prepared a fix for now so we are stable https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/6080. We will access `site-editor.php` or `themes.php` based on ENV var telling if Gutenberg is coming from core or if it's installed.

[2022-03-23 11:15] #37166 closed, assigned to amustaque97

[2022-03-23 11:33] herregroen commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2022-03-23 12:17] aristath commented on #33542
Using something like the examples described above would make sense...
[code]
^ That seems like a nice format, and one we can extend in the future.
`path` and `handle` would be the obvious default keys that we'd initially have to implement (`handle` in case we define the handle of an already loaded script instead of a path), and then we can add things like `strategy` etc.
Though tbh, I think `strat

[2022-03-23 12:27] cbirdsong commented on #39371
I would also throw in the sequential numbers variant of 10, 20, 30, which leaves a natural place for additional spacing values to be added.

[2022-03-23 12:47] cbirdsong commented on #38167
Question – is the end goal here to generate all styles dynamically and apply them using inline `<style>` blocks instead of shipping any normal `.css` files?

[2022-03-23 12:53] youknowriad commented on #39647
@mtias I'm trying that in https://github.com/WordPress/gutenberg/pull/39690

[2022-03-23 13:11] github-actions[bot] opened #39691 "[Flaky Test] should move the blocks down"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should move the blocks down

## Test path
`specs/editor/various/block-editor-keyboard-shortcuts.test.js`

## Errors

<time datetime="2022-03-31T17:28:55.258Z"><code>[2022-03-31T17:28:55.258Z]</code></time> Test passed after 1 failed attempt on <a href="https://github.com/Wor

[2022-03-23 13:32] mchowning commented on #38407
Updated the parent post with:

### 🔎 Main focus
++ Improving the editor's "default view"

### 🛠️ Recently fixed or improved
* [Improved reliability of Audio and File Block tests](https://github.com/WordPress/gutenberg/pull/39381)
* [Fixed regression in separator block tests](https://github.com/WordPress/gutenberg/pull/39636)

[2022-03-23 13:54] webmandesign opened #39692 "Cover block reports color contrast accessibility error"
### Description

Since WordPress 5.9.1 the Cover block background setup was moved from block container HTML element into a child element. So, the container element has left with no background color set, while the text color is set to white by default.

Accessibility evaluation tools such as Wave now throw color contrast error.

The solution would be to set the Cover block background color by defau

[2022-03-23 14:24] tjcafferkey commented on #37407
I've been looking into this from the perspective of Woo and merchants needing to add WooCommerce specific templates.

Aside from the issues already discussed in this thread regarding creating specific taxonomy/CPT templates (which would also be an issue for merchants). I have noticed that even though we are able to extend the default templates list via [this filter](https://github.com/WordPress/Wo

[2022-03-23 14:42] Trapsta opened #39696 "In development mode, view.js script inside the build in the navigation block is not loaded in the browser"
### Description

Stumbled across this while looking at #39585. Any changes made to `gutenberg/build/block-library/blocks/navigation/view.js` are compiled into the build but not reflected on the frontend. This is because the minified and bundled script in `/wp-includes/blocks/navigation/view.min.js` is the one that is loaded in the browser instead of the updated file inside the build.

### Step-by-

[2022-03-23 14:47] jameskoster commented on #37407
There are a few initiatives to tackle this, notably:

* https://github.com/WordPress/gutenberg/pull/37258
* https://github.com/WordPress/gutenberg/pull/39147 (this one is a bit tangential)

[2022-03-23 14:48] eric-michel commented on #39371
@mrwweb I really like your list of questions and think it's a great place to start. If this were only a discussion of adding preset spacing options, it would be pretty simple - do it like we do font sizes. Full list of options, custom naming and values, WP just generates the classes based on that (`has-[name]-font-size` just becomes `has-[name]-margin` or maybe something shorter like `m-[name]` et

[2022-03-23 14:50] ntsekouras commented on #39380
At first thanks for the video Paal! These kind of 'experiments' are great to find missing things and functionality!

The examples that are shared above about wrapping the blocks in a `Group` are good ones and a temporary workaround, for at least some of the things you needed.

Regarding the spacing between the posts what should be the goal IMO is to implement a new `grid` layout and migrate Query

[2022-03-23 15:09] getdave commented on #39533
Interesting that this failed again. I'll take a look if it's still erroring on `trunk` tomorrow.

[2022-03-23 15:20] pbking opened #39698 "theme.json `styles.blocks.core/heading` values take precedence over `styles.elements.h1`"
### Description

When values are provided in both
`styles.blocks.core/heading` and `styles.elements.h1` the values provided in the "blocks" portion are leveraged rather than the "blocks" section.

It would be helpful to be able to style all of the "common" things in the headings in the `styles.blocks` portion of theme.json while tweaking only some of those values in `styles.elements`.

For instanc

[2022-03-23 15:57] karolgrudzinski commented on #8322
I'm currently building site for a client and they wanted easy way to add links to PDF documents in the middle of a paragraph. They will be very disappointed that they need to do copy-link-from-file-block-fu for such a basic thing.

[2022-03-23 16:13] iandunn commented on #39646
Doh, you're right! We weren't registering the block correctly, so `block.json` wasn't recognized. Thanks and sorry for the invalid report!

[2022-03-23 16:13] #39646 closed, assigned to nobody

[2022-03-23 16:31] creativecoder commented on #39152
Looks like this has been resolved by recent commits on trunk.

[2022-03-23 16:31] #39152 closed, assigned to nobody

[2022-03-23 16:38] franmastromarino opened #39699 "BlockPreview not loading __unstableResolvedAssets"
### Description

Hello

The BlockPreview is not loading the block scripts declared in the __unstableResolvedAssets.scripts setting

Is working correctly in edit site and edit post iframes

`function test( $settings ) {

	$settings['__unstableResolvedAssets']['scripts'] .= '<script id="test-script" src="./test.js"></script>';
	$settings['__unstableResolvedAssets']['styles'] .= '<link href="./test.c

[2022-03-23 16:38] creativecoder commented on #37504
It appears this is now at least consistent, if not expected. Left or right aligned images now escape the container on the front end, as well.

[2022-03-23 16:38] #37504 closed, assigned to nobody

[2022-03-23 16:49] webdados commented on #8322
@baskettcase @karolgrudzinski welcome to the club

[2022-03-23 16:50] critterverse opened #39700 "Global Styles variations: Refining hover animation"
This issue is related to the work being done in https://github.com/WordPress/gutenberg/pull/39322 to introduce a hover frame containing extra information about individual style variations. I'm sharing a revised version of an animation idea that was originally shared in https://github.com/WordPress/gutenberg/pull/39322#issuecomment-1075251944.

The goal of this animation approach is to try to show

[2022-03-23 17:00] getdave commented on #8322
@karolgrudzinski @webdados Whilst I'm not saying it's perfect (it's still a Draft) would something like https://github.com/WordPress/gutenberg/pull/39701 go someway to improving this situation?

[2022-03-23 17:11] cbirdsong commented on #39371
Thinking about this more, I don't think the difference between these would be easily explainable to users, which would mean that they need to be based on the same scale. For instance, in the case of gap and margin, choosing between the two is often an implementation detail, and if the defined gap and margin values differ then the choices presented to a user would vary by block in a seemingly arbit

[2022-03-23 17:19] karolgrudzinski commented on #8322
@getdave This is exactly what I'm looking for. I guess it'll take weeks (months?) before it gets to users and I need something working today :(.

[2022-03-23 17:21] karks88 commented on #8322
One temporary workaround I've done is create a little custom block using Advanced Custom Fields. It's a repeater field that lets me upload a file and give it a title.

[2022-03-23 17:25] slr1979 commented on #38167
@cbirdsong @andrewserong

This is also something I would like to know as this would most likely satisfy asynchronous page loading as per my issue https://github.com/WordPress/gutenberg/issues/39054. Duotone in WP >= 5.8 worked fine with my asynchronous dev site when styles were applied inline. I had to backport wp_render_duotone_support() in 5.8 to 5.9 to get duotone to work in my asynchronous dev

[2022-03-23 17:38] kjellr opened #39702 "[Styles] Webfonts enqueued using styles JSON files are not loaded"
Webfonts declared in custom styles json files are not enqueued. No error is thrown, but the fonts are not loaded in.

---

To reproduce:

1. Add a style variation to emptytheme.
2. Add font file(s)
3. Declare the font using fontFace under `settings.typography.fontFamilies`.
4. Open the Site Editor.
5. Select the variation, notice that the correct font is not loaded.

Example PR here: https://githu

[2022-03-23 17:44] buckmanhands commented on #8322
I have been using the featured image sidebar to gain access to the media.

Rudy

On Wed, Mar 23, 2022 at 10:21 AM Eric Karkovack ***@***.***>
wrote:

--
Tiny phone, fat fingers. please excuse my misspellings and brevity.

[2022-03-23 17:44] webdados commented on #8322
@getdave It's looking good

[2022-03-23 18:05] alexstine commented on #39671
Added a couple suggestions but everything looks good here so far.

[2022-03-23 19:29] eric-michel commented on #39371
That's a good point. Using a single scale for all spacing would certainly make things simpler all around.

Without utility classes, what are you thoughts on how customizations would be applied? Right now, blocks can have top and bottom margins customized independently (albeit with fully custom units) and top, bottom, left, and right padding customized independently:
![image](https://user-images.gi

[2022-03-23 19:48] cbirdsong commented on #39371
Hmm, yeah, I'd like no more inline styles than is absolutely necessary, which leaves us with utility classes.

My lack of post-theme.json theme experience is showing – is it possible to disable padding/margin values for individual directions, leaving only a single control for all sides or pair of controls for horizontal/vertical? If so, that could be taken into account and cut down on the number o

[2022-03-23 19:48] skorasaurus commented on #38926
Thanks for the detailed report and screenshots;

I am able reproduce this as shown in the first screenshot; with 5.9.2; no gutenberg plugin activated
![Selection_164](https://user-images.githubusercontent.com/955351/159783463-e158698c-910a-46ca-8533-dfc74b744faa.jpg)

in the second screenshot, the gutenberg plugin is activated and the issue appears to be solved and doesn't have the padding issue:

[2022-03-23 19:54] #38926 closed, assigned to nobody

[2022-03-23 20:07] paaljoachim commented on #31163
Here is the issue which is a base from where Pull Requests are being created:
**On Locking and TemplateLocking**
https://github.com/WordPress/gutenberg/issues/29864

There are a few PRs mentioned in the above issue.

[2022-03-23 20:21] cbirdsong commented on #39692
I think it would be best to set a complementary background color on the cover block element itself, which would also be good progressive enhancement for cases like a [bleeding-edge gradient syntax](https://caniuse.com/css-conic-gradients) or the image not loading in fast enough/at all.

Obviously a cover block with a simple color tint could also just apply that color as a background color to the c

[2022-03-23 20:23] glendaviesnz commented on #39533
@getdave I have a [draft PR](https://github.com/WordPress/gutenberg/pull/39666) that will hopefully fix this, will try and get it finalised today.

[2022-03-23 20:24] glendaviesnz commented on #39533
ah, I now see your other PR for this @getdave  which you created after mine, will have a look at both and see if there is still something strange happening.

[2022-03-23 20:32] github-actions[bot] opened #39706 "[Flaky Test] should split rich text on paste"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should split rich text on paste

## Test path
`specs/editor/various/rich-text.test.js`

## Flaky rate (_estimated_)
`0 / 0` runs

## Errors
  ● RichText › should split rich text on paste

    expect(received).toMatchSnapshot()

    Snapshot name: `RichText should split rich

[2022-03-23 20:42] eric-michel commented on #39371
I know from my perspective, having independent control over all 4 directions of both margin and padding is really important.

Our parent theme contains some utility classes for margin and padding that I use all the time since spacing is not currently a feature in Gutenberg. These utility classes allow me to set 5 standard spacing amounts (plus 0) for margin and padding. I can set those spacing amo

[2022-03-23 20:44] webmandesign commented on #39692
That would be great to have a dedicated Cover block container background option. It would resolve the issue for the most if not all the cases.

And while we are at it, it would be great to have also a text color option for Cover block. (I personally enable this in my themes already so it is easier to set text color for nested blocks within the Cover block content at once.)

[2022-03-23 21:49] ramonjd commented on #30701
Just adding some context:

We added Typography default controls for the Site Title block over at https://github.com/WordPress/gutenberg/pull/34064

It was decided to hold off on adding text decoration controls due to the challenging nature of inheritance and accessibility; issues already mentioned above.

See the discussion: https://github.com/WordPress/gutenberg/issues/35604#issuecomment-94415263

[2022-03-23 22:08] ramonjd commented on #38167
As I understand, while things are still fluid, the initial goal is to centralize the generation of styles that are already dynamically generated, e.g., layout, block supports. Where and how they're outputted to the frontend won't change.

Using this centralized pipeline, the longer term ambitions are to look at the classname nomenclature, process the outgoing CSS, design a leaner output structure

[2022-03-23 22:10] mauriac commented on #36339
Hello @inc2734  thanks for the report, I'm able to reproduce the bug thanks to @skorasaurus plugin. I found that the error is due to users with "Editor" role has not _unfiltered_html_  capability that means the post content will be filtered and striped by using _[wp_kses](https://developer.wordpress.org/reference/functions/wp_kses/)_ (WordPress core function). And there is the problem _wp_kses_ tr

[2022-03-23 22:13] mauriac commented on #36339
This one is appear even when your plugin is disable. It's appear for user with role _Editor_  so I don't think it is related to the main issue here, may be it's worth another issue. I don't find the cause though.

[2022-03-23 22:53] franmastromarino commented on #39699
hello mate
thanks for your feedback
however this is not the same issue, this issue is related to the embed scripts in the BlockPreview

[2022-03-23 23:36] glendaviesnz commented on #39533
@getdave it seemed like the Gallery link in the list view was a bit fussy about where the click landed, ie. in the browser it will only expand if you click on the expander span within the anchor tag. I have narrowed it down [in this PR](https://github.com/WordPress/gutenberg/pull/39666) and seems to be passing more reliably

[2022-03-24 00:28] andronocean commented on #38998
Hey y'all, and thanks @mrwweb for mentioning me on this. There's so much in this thread that I haven't read it all in detail yet, so apologies if I'm missing context or repeat something.

I also agree that `@layer` is far too experimental to use in production. The "layers" I suggested in my comment (quoted above) would be a sequencing mechanism or API inside of WP, to control the order in which st

[2022-03-24 02:05] glendaviesnz commented on #39651
`Allow to wrap to mulitple lines` is set to on by default for me when adding a Row:

https://user-images.githubusercontent.com/3629020/159827429-7952f71d-077b-446a-9634-9692832c418b.mp4

Which [matches with the code](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-editor/src/layouts/flex.js#L214).

I wonder why it is showing off by default for you?

[2022-03-24 02:28] andrewserong commented on #38167
Yes, while longer term we'd love to be able to address issues like #39054 and #35376, the first step is to consolidate the current style generation for block supports and layout. The hope is that once we've consolidated things, it'll be easier to then tackle problems like how do we access generated styles in ajax / asynchronous contexts. If anyone has a solid idea for how they think the async prob

[2022-03-24 02:31] t-hamano commented on #39555
Yes, I think it is worth discussing and I hope you will create issue.

I would like to close this issue after clarifying the problem and making a new issue.

[2022-03-24 03:54] #15221 closed

[2022-03-24 05:25] HILAYTRIVEDI commented on #38277
I think it's better to add the option for the hover state effect to the inspector controls. As it will allow user to make it more persnolized.

[2022-03-24 05:40] talldan commented on #39644
I gave it a test, and I see what's happening. As you mention you can add individual courses. The search system doesn't really support searching for a single custom post type, the same as searching for 'post' doesn't only show posts.

Something I'd recommend doing is adding `item_link` and `item_link_description` labels to your CPT. When you do that there will be a block variation for courses avail

[2022-03-24 06:10] bradhogan commented on #39644
Thanks for taking a look. The old menu system had a clear way to choose a
post types archive page for a menu. It seems odd this isn’t included at the
moment.  It almost seems like there needs to be a way to create placeholder
pages like you would for “shop” if using Woo or “blog” for a posts front
page for CPTs so the page wouldn’t have any content functionality but would
then populate when search

[2022-03-24 06:34] costasovo commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2022-03-24 06:40] talldan commented on #39644
I see, sorry, for some reason I missed that it was the archive page you were looking for. Re-reading now, you did mention it, so my mistake 🤦

That is indeed something you can't do from the search. The only option is to add is as a a custom link.

I'll relabel this as an enhancement request as that might be worth supporting.

[2022-03-24 07:07] Mamaduka commented on #24859
The classic RSS widget limit is 20, and it will fall back to default 10. Should we increase `max` to 20 as well?

I'm not sure if there's a historical reason for these limits.

[2022-03-24 07:23] ughimire commented on #8379
I am also searching for the same feature. It's already available ? Why it's closed now ?

[2022-03-24 07:39] jasmussen commented on #39700
As with all animation in the interface, it is automatically disabled if the "reduce motion" accessibility setting is enabled in your operating system or browser.

[2022-03-24 08:59] getdave commented on #8322
That's good to hear. I can't get something to you today but the Gutenberg Plugin is updated every 2 weeks with the latest from `trunk` so if you're using that then you might get the upgrade sooner (at the cost of less stability).

[2022-03-24 09:03] getdave commented on #39533
Yeh I noticed this as well. I ended up using keyboard to trigger the expansion. That's good that the test is passing better now. Thanks for working on it.

[2022-03-24 09:05] #38918 closed, assigned to nobody

[2022-03-24 10:02] Chrico commented on #33215
Any update here? @talldan 🤔

[2022-03-24 10:03] scruffian commented on #39576
Update: I don't think this happens on export it happens when you save the content in the template editor...

[2022-03-24 10:14] karolgrudzinski commented on #8322
I decided for now to leave text without download links and put them in File Blocks (with preview disabled) on the bottom instead and wait for official Gutenberg/Wordpress release.

[2022-03-24 11:30] surajkrsingh commented on #36127
All new theme blocks support apiVersion:2 and the filter `blocks.getSaveContent.extraProps` support has removed for them.

Here commit - https://github.com/WordPress/gutenberg/commit/c0c8ca055b0e8d018b2de5cab55320dc99d608a0#

Can somebody explain, why support for this filter removed for apiVersion:2 supported blocks ?
And is there any other way to extend the theme block properties?

![image](https

[2022-03-24 11:46] Mamaduka commented on #18349
Created PR to add missing classes #39716.

[2022-03-24 11:50] gziolo commented on #36127
@ellatrix, can you explain why `blocks.getSaveContent.extraProps` doesn't work with `apiVersion` v2 anymore?

[2022-03-24 11:56] jasmussen commented on #39702
@youknowriad @aristath @jorgefilipecosta have you worked with fonts, or have an idea what might be up here?

[2022-03-24 11:59] #38854 closed, assigned to tomasztunik

[2022-03-24 12:00] rufus87 commented on #39578
Hi @talldan ,

Many thanks for your efforts for helping me to solve described issue. I was able to fix it by using `useEffect`.

And here is a quick overview of how I did it.

I would not go into details of how to create a context provider and how to manage it state, however I am using `useState` for provider state management, but it works exactly the same if we try to implement `useReducer`

Let'

[2022-03-24 12:23] #18349 closed

[2022-03-24 12:37] fwazeter commented on #38167
Rather than using a bunch of utility classes to change styles based on user input, we should leverage CSS Custom Props as design tokens. In essence what this allows for is each block that supports a specific feature is loaded up with a single generated CSS class, using Custom Props as values for changeable properties. Then, when a new value is input by the user, the custom prop is overridden in st

[2022-03-24 12:40] youknowriad commented on #39702
I guess we only load the fonts that are on the main theme.json and not the variations. It's going to be important to solve this in a way that lazy-loads these fonts. (In case variations will come from a directory later)

[2022-03-24 12:54] getdave commented on #39533
@glendaviesnz I merged https://github.com/WordPress/gutenberg/pull/39687 which wraps the block name in a `<span>`. This invalidated your changes so I updated them with a new test helper which seems to do the job.

[2022-03-24 13:03] Mamaduka commented on #29864
@critterverse, I plan to continue work started in #32710 and add edit locking support for Reusable Blocks.

Should blocks have any other indicators that editing is disabled besides the lock icon? I'm asking this because when UI is disabled, it might be confusing why the user can't edit block.

[2022-03-24 13:16] dennisheiden commented on #8379
This works. I use this to register a block style for all available blocks at once.
Just enqueue a js file in editor screen view within your plugin / theme.

[2022-03-24 13:32] sandeshjangam opened #39721 "Playwright config path issue in Git Bash on Windows"
### Description

Here is an error message.
`Error: Cannot find module '/C:/Users/Sandesh/Local%20Sites/gutenberg/app/public/wp-content/plugins/gutenberg/test/e2e/config/global-setup.ts'`

Full screenshot

![a6818792-507d-4111-9205-b540cc3dce21](https://user-images.githubusercontent.com/15683894/159926154-43a7061c-9a30-4e18-a44b-f988080e077d.jpg)

--------------------
Quick fix  - I have changed 2

[2022-03-24 13:55] t-hamano commented on #39721
Hi @sandeshjangam.

I'm Windows (11) user too, so I will test to see if it reproduces.
If it turns out to be a problem specific to WindwosOS, I would like to submit a PR for a fix.

[2022-03-24 14:15] gziolo commented on #39388
I landed the first batch of changes. I tested them from the `trunk` branch on macOS to ensure it still works there :)

[2022-03-24 14:25] t-hamano commented on #39388
Thanks for confirming ! I will continue to work on another task 👍

[2022-03-24 14:50] ryanwelcher opened #39722 "Allow devDependencies to be defined for a template"
## What problem does this address?
Currently, the template system for `@wordpress/create-block` package allows the definition of `dependencies` but not `devDependencies`. There are many times that a block may need `devDependencies` defined.

## What is your proposed solution?
Add a `npmDevDependencies` variable to the template to align with the existing `npmDependencies`

[2022-03-24 15:06] jg314 commented on #24463
I'm running into a very similar issue with block patterns. Here's the code I'm using:

`this.descendantBlocks = select( 'core/block-editor' ).getBlocksByClientId( clientId )[0].innerBlocks;`

And it returns this error:

`TypeError: Cannot read properties of null (reading 'innerBlocks')`

When the block pattern is actually added it works totally fine. The issue seems to only appear when previewing

[2022-03-24 15:16] paaljoachim commented on #39700
I find the animation confusing not knowing why it is animated. The colors flash by too quickly so that I do not get any use of seeing these.

"The line of color swatches is revealed by a simple wipe from right to left:"
It would be better to skip the animation and go straight to seeing the end result, or atleast having a much more subtile touch to it.  It would be nice to focus on having a UI that

[2022-03-24 15:22] Garconis commented on #38299
TL;DR. Why is this junk in the body of every page?

[2022-03-24 15:29] Jugibur commented on #39643
Good point! Unselecting a font size would behave the same way as selecting a color – the "Reset all" menu item is a bit too hidden and cumbersome in my opinion.
It would be ideal to name the font sizes themselves, e.g. according to T-shirt sizes (XS, SM, MD, LG, XL).

[2022-03-24 15:31] critterverse commented on #39700
Thanks for the notes @paaljoachim.

The goal of animating the style variation tile is to be able to include additional information (such as more swatches from the variation color palette) than is currently possible to show in the resting state. The limited size of the thumbnail tile inspired the "color fill" approach we've been experimenting with, with the idea being to showcase a maximum amount o

[2022-03-24 15:33] retlehs commented on #38299
@Garconis

1. there was a bug
2. it was fixed already in the gutenberg plugin, and the fix is coming to core soon
3. there are different workarounds/fixes you can apply to your own install depending on which version of wp you are using.

fix for wp 5.9 via @mkkeck https://github.com/WordPress/gutenberg/issues/38299#issuecomment-1025520487

fix for wp 5.9.1 via @Mamaduka https://github.com/WordPres

[2022-03-24 15:46] paaljoachim commented on #39700
Use of animation to show colors is difficult, as colors are easily blurred because of the animation.
What the animation is trying to get across we could instead bring into the resting state. Making it easier for folks to use time to study each color that will be used for the specific style.

![dark](https://user-images.githubusercontent.com/5323259/159956067-59b17c5b-72e9-4f7d-bc91-1047ad431f66.jp

[2022-03-24 15:50] simison commented on #39281
Have you considered surfacing different UI optimized for "sections manipulation" for _anything_ that is at root level and has child blocks, without need for specialized container?

It could be confusing for layouts which have lots of small blocks at root level (e.g. paragraphs) but otherwise it could work well if it's contained to just site editor, and not be available to page/post editors.

[2022-03-24 15:57] apeatling commented on #39647
"Stack" is common across other platforms (for example interface builder for iOS), and comes without the assumption of orientation. Thumbs up for that.

[2022-03-24 16:12] lwangdu commented on #38299
I am still seeing the issue. I am using WP 5.9.2, Gutenber plugin 12.8.1 and theme TT2 version 1.1
![Screen Shot 2022-03-24 at 9 07 30 AM](https://user-images.githubusercontent.com/24829573/159960943-71c24e96-6aa1-43b2-a9de-c720a5355901.png)

[2022-03-24 16:19] mike-sheppard commented on #27614
100% agree with @colorful-tones on this, would be great if we could disable the slider (inc. inline height style) and provide a few style variations / presets 👍

[2022-03-24 16:26] jhnstn opened #39727 "[RNMobile] Numbered list crashes with very large"
## Description

Adding a very large starting number to an numbered list crashes the editor. (cc @twstokes )

## Step-by-step reproduction instructions

1. Add a numbered list to a post
2. Open the block settings
3. Enter a very large number as the start value e.g. 10000000000

## Expected behaviour

The editor should not crash.

## Actual behaviour

The editor crashes

## Screenshots or screen rec

[2022-03-24 16:29] hellofromtonya commented on #39332
I'm concerned about the some of the proposed changes in the Webfonts API as it's being shifted away from being source agnostic to being solely specific for only theme.json themes. The original intent of this API is for it to become a Core API that supports web fonts regardless of if they are registered by a theme.json powered theme, a legacy theme, or a plugin(s).

The API IMO should not be aware

[2022-03-24 16:31] #39648 closed, assigned to michalczaplinski

[2022-03-24 16:40] hellofromtonya commented on #39332
Awareness: Webfonts API will grow into more than only supporting local font file assets. It will have bundled remote font factory / foundry providers too such as Google Fonts.

I raise this point for awareness as improvements made ~~need to~~ should not block additional providers being bundled within Core or added by extenders.

[2022-03-24 16:52] pablohoneyhoney commented on #39700
Sweet stuff!

I'm unsure if the second state needs to deliver a different view. If the added value is the name/label, perhaps just the name in the specific font and leveraging the colors in that comp playing simply with the font color and bg, rather than a new preview with another way of delivering the information?

Additionally, I wasn’t following up closely and it's likely part of a different th

[2022-03-24 17:53] illycz commented on #25188
Is there official documentation or tutorial how to use create block for plugin with multiple blocks? Thanks

[2022-03-24 17:58] skorasaurus commented on #38299
@lwangdu

A couple issues:
[the TT2 theme explicitly includes its own gradients in theme.json](https://core.trac.wordpress.org/browser/trunk/src/wp-content/themes/twentytwentytwo/theme.json#L37)

You also need to include: `"defaultDuotone": false`, under settings.color in your theme.json to disable the default duotones as well.

Note: if you have duotones enabled, they'll always load on the page;

[2022-03-24 18:43] bradhogan opened #39730 "core/categories no way of displaying custom taxonomies registered to a CPT"
### Description

If I create a custom template in my theme for my CPT (Books, for example) and I want to loop through the books and show the title, excerpt and custom taxonomies (Genre, for example), I have no way of doing this with the current core/categories block.

### Step-by-step reproduction instructions

1. Register CPT (e.g. Books)
2. Register custom tax to that CPT (e.g. Genre)
3. Add cat

[2022-03-24 19:11] skorasaurus commented on #24679
I'm still able to reproduce this in a vanilla setup using wordpress 5.9.2., gutenberg 12.8.1

as noted https://github.com/WordPress/gutenberg/issues/24679#issuecomment-678147806 ; the publish button is inactive
for new posts.

[2022-03-24 19:15] michalczaplinski commented on #34994
Thanks for the mockups @jasmussen ! 🙂 They definitely make for a better UI/UX!

That said, we have (for now) [removed the "inherit discussion settings" option](https://github.com/WordPress/gutenberg/pull/39664) altogether. The Comments Query Loop is now going to **always** inherit the settings from the core Discussion Settings.

The main reason for this change is explained in https://github.com/Wo

[2022-03-24 19:23] bradhogan commented on #39730
Looks like I was using the wrong block.  This seems to do the trick...

`  `

[2022-03-24 19:23] #39730 closed, assigned to nobody

[2022-03-24 20:07] jhnstn commented on #39727
@hypest Looks like this is an integer overflow issue. Give `2147483647`(`(2^31)-1`) a try and it works, add 1 to get `2147483648` and 💥
The error is [from this `toInt()` call](https://github.com/wordpress-mobile/AztecEditor-Android/blob/trunk/aztec/src/main/kotlin/org/wordpress/aztec/spans/AztecOrderedListSpan.kt#L85) in Aztec.

2^31 works fine on an iPhone, guessing since they are 64bit. The UI d

[2022-03-24 20:48] apeatling commented on #39651
This was straight from @mtias's report. I've tested this and can confirm it's turned on by default both in the post and site editor, with the Skatepark theme being used.

[2022-03-24 21:14] richtabor opened #39732 "Allow patterns within patterns to render in BlockPreview"
## What problem does this address?
We should be able to reuse patterns that are already created inside another patterns, using the `core/pattern` block.

When I add a pattern inside of another pattern, it does not render properly within the BlockPreview of the Pattern Library — but once inserted, the pattern called by the core/pattern block does get successfully applied.

To test, I added the patt

[2022-03-24 21:17] gziolo commented on #25188
Create block doesn’t support scaffolding multiple blocks but we work on it as discussed in this issue.

It’s definitely possible to use `@wordpress/scripts` with multiple blocks. @ryanwelcher, can you recommend one of your streams where you explain how to do it?

I hope that we finish development in the next weeks and document everything in a detailed way.

[2022-03-24 22:28] ramonjd commented on #35884
Adding https://github.com/Automattic/themes/blob/trunk/archeo/style.css as an example of how themes have worked around current issues

props @scruffian

[2022-03-24 22:36] scruffian commented on #39576
After talking about this to @dmsnell I think this is actually the intended behaviour. We should be escaping these values to ensure that we avoid the risk of breaking things in the site editor. I'm going to close this one for now.

[2022-03-24 22:36] #39576 closed, assigned to nobody

[2022-03-24 23:17] andrewserong commented on #35884
Just in case it helps for whoever picks up this issue, we currently output styles for the root block selector at this line in the theme JSON class: https://github.com/wordpress/gutenberg/blob/trunk/lib/compat/wordpress-6.0/class-wp-theme-json-gutenberg.php#L106, so that (`get_block_classes`) could be a good place to put additional styles?

[2022-03-24 23:50] andrewserong commented on #39336
Update 2022/03/25:

We've been digging in and exploring a few potential longer-term options for how we might render out common layout styles to consolidate how things work (e.g. https://github.com/WordPress/gutenberg/pull/39374 and https://github.com/WordPress/gutenberg/pull/39708) — these are some experiments to think about how we might solve for issues like [Global Styles: Make the default layou

[2022-03-25 00:17] AdsonCicilioti opened #39734 "[DX] Type definitions to write theme.json in JS/TS modules"
## What problem does this address?

Huge `theme.json` file

## What is your proposed solution?

Type definitions to write `theme.json` in JS or TS files in a more modular and friendlier way.

JavaScript has the JSON API (stringify|parse) capable of generating a `theme.json`.

I can certainly already write my parts of theme.json definitions in JS/TS and set up a nodeJs script to output theme.json,

[2022-03-25 00:19] critterverse commented on #29864
Nice! For user locking, we could include the “restrict editing” option in the modal for Reusable blocks:

<img alt="Locking" src="https://user-images.githubusercontent.com/77359364/160022072-81a723ce-f2fd-42e9-acc2-7b94bee46ca0.png">

Once locked, are we thinking it would work like https://github.com/WordPress/gutenberg/pull/32710#issuecomment-862247159 where you can’t select the inner blocks?

It

[2022-03-25 00:40] mikachan commented on #39583
I've spent some time looking at this, and I think I can see where the difference sits between how the editor handles the blockGap value and how it's output by layout based blocks.

In `lib/block-supports/layout.php`, we're using the following regex to reject certain blockGap values: `'%[\\\(&=}]|/\*%'` ([here](https://github.com/WordPress/gutenberg/blob/trunk/lib/block-supports/layout.php#L169)).

[2022-03-25 01:35] tellthemachines commented on #35884
I'm not sure what the intended goal for this issue currently is. The classic theme regression has been fixed, which [this comment](https://github.com/WordPress/gutenberg/issues/35884#issuecomment-963220520) and following imply is the major concern here.

It would be good to at least be clear about the scope of the problem we're trying to fix: do we want a default padding added for block themes jus

[2022-03-25 02:06] talldan commented on #39578
Everything in the block editor is implemented using normal React code. There isn't any difference. 😄

[2022-03-25 02:06] #39578 closed, assigned to nobody

[2022-03-25 02:41] carolinan commented on #30276
The original behavior continues to be a problem, even if it was intended.

I have 8 templates. One of the differences is that each template has it's own sidebar with a menu, where only one menu item is the same for all templates. The menu design is the same, it has the same class names to add some CSS for styling.
But there is no way for me to copy a menu. Instead of duplicating and renaming or co

[2022-03-25 02:42] carolinan commented on #30276
I think the copy and duplicate options should be removed.

[2022-03-25 03:13] tellthemachines commented on #39266
The advantage of Storybook is it comes with inbuilt a11y testing; of course that can also be added to BlockBook, especially if it becomes a WordPress package 🙂

Regarding fixtures, I don't think they're the best way forward here; I left a comment on #39437 with a bit more context on that. E2e would be better suited to run comprehensive automated tests against block markup.

If I understand the pro

[2022-03-25 03:30] carolinan commented on #39266
I want to highlight that from conversations with theme developers, and from seeing the themes that are submitted, this "we'll expect theme authors to work with what's in Core and not in Gutenberg" is not what is actually happening.

[2022-03-25 03:43] tellthemachines commented on #39266
It may not be what's happening _now_, because the site editor is still in beta, and theme authors need to work to _what's coming_ instead of what is already in Core, but once it becomes stable we'll go back to our usual process. Theme authors should not have to follow the development process; they should have a stable API in Core they can work with, with good documentation on best practices etc..

[2022-03-25 03:57] carolinan commented on #39698
Did you test placing elements H5 and H6 inside the core/heading?

[2022-03-25 03:59] carolinan commented on #39685
I believe the plan was for this to be built into the webfonts api, it just hasn't been completed yet.

[2022-03-25 04:12] carolinan commented on #39544
Hi
You can change the text and link color by selecting the parent block (Pagination).

[2022-03-25 04:17] carolinan commented on #39095
@scruffian Who might we be able to ping to try get this looked at for 12.9 / 13 ?

[2022-03-25 04:26] carolinan commented on #24952
We now have separate author name, avatar and biography blocks.

We do not have separate bylines or "view all posts by" blocks. -Experienced users will be able to add these manually, but do you think we need a "view all posts by" block? 🤔

I think that core should include some block patterns for this. We could start with some based on the designs in the first post.
What do you think @kjellr?

[2022-03-25 04:48] carolinan opened #39740 "Avatar block alignment is not displaying correctly in the editors"
### Description

When an avatar block is placed in the post editor, align center does not work in the editor, only on the front.
Left and right works correctly.

When the block is placed in the site editor inside a container block (group, or post template) no alignments work in the editor, all alignments work on the front.

### Step-by-step reproduction instructions

1. Create a new post or page.

[2022-03-25 05:14] carolinan commented on #39412
I believe this is a duplicate of https://github.com/WordPress/gutenberg/issues/34075.
You may also be interested in
https://github.com/WordPress/gutenberg/issues/25502
https://github.com/WordPress/gutenberg/issues/25501

[2022-03-25 05:14] #39412 closed, assigned to nobody

[2022-03-25 05:23] carolinan commented on #35596
I raised a question here about if we also need a "View all posts by..." block? Where the correct link to the author archive is already included.

https://github.com/WordPress/gutenberg/issues/24952#issuecomment-1078642344

[2022-03-25 05:30] RehanAlicharolia opened #39741 "In Multi Purpose Block , under wrapper Tag settings two buttons not looks proper"
### Description

In Multi Purpose Block , under wrapper Tag settings two buttons sticks to each other no spacing found.
Need to add some spacing between two buttons....

### Step-by-step reproduction instructions

1. Added Multipurpose Block in a page.
2. Click on wrapper tag settings
3. under wrapper tag settings , you will see two buttons (Header,Section)

### Screenshots, screen recording, code

[2022-03-25 05:32] carolinan commented on #39266
Maybe a stupid question, but can't Playwright do that?

- Login
- Create new page
- Add one of each block
- Save
- Go to front

But how can that page content then be stored for both automated and manual testing?

[2022-03-25 05:51] tellthemachines commented on #39266
Not stupid at all! An e2e framework could be used to generate content and save it as a post. Run it in whatever instance we're using to test, and we have content ready to go. It should be a separate script from our actual e2e tests though, and preferably contained in a plugin that can be installed on the site we want to test themes on.

[2022-03-25 05:55] rufus87 commented on #39578
@talldan , one additional question. I was able to implement what I needed using redux store or context API. However, could you please briefly explain what is `registry`, `createRegisty` and all related functionality created for and how to use it in some small example?

Thanks in advance.

[2022-03-25 06:08] theminaldiwan opened #39744 "In Wordpress 5.9 accessibility issue is coming in block editor panel color setting"
### Description

In Wordpress 5.9 accessibility issue is coming in block editor panel color setting when we open the color palette same time setting panel highlighted "Text" with foreground and background color.
we faced issue is the contrast between foreground and background colors meets WCAG 2 AA contrast ratio thresholds.
Elements must have sufficient color contrast.

To solve this issue we nee

[2022-03-25 07:14] Mamaduka commented on #39741
Hi, @RehanAlicharolia

The "Multipurpose Block" isn't a core block. Please reach out to the plugin support - https://wordpress.org/support/plugin/multipurpose-block/

[2022-03-25 07:14] #39741 closed, assigned to nobody

[2022-03-25 07:48] jasmussen commented on #34994
Even better!

[2022-03-25 08:00] Mamaduka commented on #29864
That's an interesting idea. So I will start with that, and let's see how it works in practice.

[2022-03-25 08:30] Smit2808 opened #39754 "Color palette overlap issue when there is a Paragraph or heading block added with less text."
### Description

Added the paragraph block and added some 2-3 lines of text only. Now I want to color the text by using the "Highlight" tool. So opening the highlight tool now selects the RGB color setting but it is overlapping so can able to edit the RGB color.

So need to adjust the top offset of the color palette to solve this issue.

### Step-by-step reproduction instructions

Steps to reprodu

[2022-03-25 08:34] github-actions[bot] opened #39755 "[Flaky Test] Pagination links are working as expected"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
Pagination links are working as expected

## Test path
`/test/e2e/specs/editor/blocks/comments.spec.js`

## Errors

<time datetime="2022-03-31T15:46:02.141Z"><code>[2022-03-31T15:46:02.141Z]</code></time> Test passed after 1 failed attempt on <a href="https://github.com/Word

[2022-03-25 09:11] HILAYTRIVEDI commented on #39740
Hi @carolinan, I am not able to find this block. Can you please tell me where I can find it?

[2022-03-25 09:16] tellisbethel commented on #37628
Hey there, @alshakero! If you're still on this particular case, did you get a chance to take another look at this issue? If not, is there anyone else we should ping? Thanks!

[2022-03-25 09:24] mtias commented on #39651
Interesting, not sure what happened there.

[2022-03-25 09:45] mtias commented on #37943
It seems we need some more documentation on how to use these from a PHP template.

[2022-03-25 09:56] Mamaduka commented on #36969
Thanks for contributing, @DanielRuf.

I create PR to resolve this issue https://github.com/WordPress/gutenberg/pull/39756.

[2022-03-25 09:58] carolinan commented on #39740
It is available in the development version of Gutenberg.
https://github.com/WordPress/gutenberg/tree/trunk/packages/block-library/src/avatar

[2022-03-25 10:35] k1sul1 commented on #38219
Who thought this was a good idea? Literally ANY competetent designer would've gone NO GOD PLEASE NO NOOOOOOOOOO over this bullshit UI.

[2022-03-25 11:52] github-actions[bot] opened #39757 "[Flaky Test] should select separator (single element block)"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should select separator (single element block)

## Test path
`/test/e2e/specs/editor/various/multi-block-selection.spec.js`

## Errors

<time datetime="2022-03-26T09:03:42.518Z"><code>[2022-03-26T09:03:42.518Z]</code></time> Test passed after 2 failed attempts on <a href="ht

[2022-03-25 11:56] Mamaduka commented on #27902
I created PR to prepend HTTP when a protocol is missing https://github.com/WordPress/gutenberg/pull/39758.

[2022-03-25 13:21] t-hamano commented on #38062
I tested again on the latest branch after #38910 was merged, and all of the following themes work fine:
- Twenty Twenty Two
- Twenty Twenty One
- Twenty Twenty

So I am closing this issue.

@carolinan
Thank you for your work !

[2022-03-25 13:21] #38062 closed, assigned to nobody

[2022-03-25 13:29] critterverse commented on #29864
@Mamaduka It could be nice to start minimal and see if the clickthrough or anything else is needed from there!

[2022-03-25 14:17] xaviranik opened #39761 "Scripts: Add new command which replaces the version string of doc-blocks like `@since` and `@deprecated` for the plugin"
## What problem does this address?
For a newly added function:

[code]

for a modified function:

[code]

Notice the `@since`. We have to manually track which version to put in the docblock.
If the PR is not merged in that next version, we have to manually change everywhere we used that version string.
This is a problem for PRs those are WIP or Draft.

## What is your proposed solution?
Plugin dev

[2022-03-25 14:26] metalandcoffee commented on #33990
Looking at the discussion from [#382](https://github.com/WordPress/gutenberg/pull/38283), it looks like adding a block-specific filter is not ideal (since `pre_render_block`, `render_block_data`, `render_block` do exist already). However, I do think we should add these options to the block settings sidebar.

Right now the Tag Cloud block options are as follows:

![image](https://user-images.github

[2022-03-25 14:35] pbking commented on #39698
That was a good idea, but I just tried that out and it's not working as I would expect (hope). None of the customizations I made in `styles.core/heading.elements.h1` seem to apply anything to the `<h1>`.

[2022-03-25 14:36] github-actions[bot] opened #39763 "[Flaky Test] should handle Enter across blocks"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should handle Enter across blocks

## Test path
`/test/e2e/specs/editor/various/multi-block-selection.spec.js`

## Errors

<time datetime="2022-03-29T13:42:56.215Z"><code>[2022-03-29T13:42:56.215Z]</code></time> Test passed after 1 failed attempt on <a href="https://github.c

[2022-03-25 15:14] andronocean commented on #32443
It's worth noting that, with IE out of the picture, a `display:grid` implementation would actually have _better_ browser support than `display:flex`. Currently Gutenberg is using the `gap` property to add space between items in the layout, but browser support for [gap in flexbox](https://caniuse.com/flexbox-gap) is several percentage points worse than [gap in grid](https://caniuse.com/mdn-css_prop

[2022-03-25 15:56] DAreRodz commented on #37181
Hi there 👋, it’s been a while since the last time I wrote. I wanted to share a possible API to quickly solve this issue (not meant to be the final one in any way). I’ll greatly appreciate any feedback or comment you may have, so thanks in advance for sharing them. 🙏

I’ve decided first a set of requisites for this API, which I list below. After that, I introduce some possible, slightly different o

[2022-03-25 15:57] badfeather commented on #36834
@vijayhardaha  @alirezarezamand Thanks for these. While these successfully remove the 'container-' inline styles on the front-end, they are still getting loaded on the back-end in the editor, overriding styles in my editor styles. Is there any way to also remove them on the back-end as well?

Separately, echoing sentiments expressed by @agent-617, @vyskoczilova, and others - As a developer who sim

[2022-03-25 16:22] matiasbenedetto commented on #39266
:wave: I just want to point out that the https://github.com/WordPress/gutenberg/pull/39437 PR implements what you are proposing in the latest comments using the e2e infrastructure that exists in Gutenberg (Puppeteer + Jest Puppeteer + [@wordpress/jest-puppeteer-axe](https://developer.wordpress.org/block-editor/reference-guides/packages/packages-jest-puppeteer-axe/) ). @carolinan @tellthemachines

[2022-03-25 16:29] luisherranz commented on #37181
I don't have much experience with these APIs, so I hope others chime in, but these are my two cents:

- It doesn't make sense to put it in a different place than where `"parent"` is:

[code]

    We should update the schema.

- It should be independent of `"parent"`, because both can be used at the same time (so your second option):

   - _I want this block to appear only if "xxx" is the parent bl

[2022-03-25 16:31] vijayhardaha commented on #36834
### For backend
[code]

[2022-03-25 16:51] badfeather commented on #36834
Thanks! Appreciate it.

On Fri, Mar 25, 2022 at 12:32 PM Vijay Hardaha ***@***.***>
wrote:

--
badfeather.com

[2022-03-25 17:07] badfeather commented on #36834
@vijayhardaha Just tried these out. The `.editor-styles-wrapper .wp-container-1234` inline styles are still showing up for me in the admin with the `remove_action( 'enqueue_block_editor_assets', 'wp_enqueue_global_styles_css_custom_properties' );` hook in place, unfortunately.

[2022-03-25 17:24] #39722 closed, assigned to nobody

[2022-03-25 17:25] vijayhardaha commented on #36834
I don't think you can remove those, I guess those get generated from Block Editor JS on load or change, not from PHP.

[2022-03-25 17:29] Paul-Hebert commented on #6394
Hey, thank you all so much for working on this! We're working on a block-based blog for a client and they reached out with a request related to nesting blocks within list items. I had a couple questions about this effort:

1. I see a PR was merged to allow nesting lists within lists (in list block V2). Will the current development efforts allow nesting other blocks within list items? (Our client w

[2022-03-25 17:41] strarsis commented on #16484
An icon block would ideally be an inline block that can be placed not only between blocks but also inside text.
Related issue: https://github.com/WordPress/gutenberg/issues/10235

[2022-03-25 17:43] badfeather commented on #36834
@vijayhardaha Got it. Ok, thanks for the follow-up.

[2022-03-25 17:49] iansvo commented on #35390
I'd note here that I don't think you'd need to introduce a templating engine into the mix. You could just leverage PHP and expose the attributes the same way they'd normally be exposed via the `$args` variable.

But in general, I think this would solve a lot of problems and it would ultimately jive with conventions in plugins like WooCommerce and others that do template overrides. Furthermore, thi

[2022-03-25 17:59] carolinan commented on #39266
The difference as I understood from the comments on that PR is that the above relies on fixtures, where the block may be empty.

[2022-03-25 18:54] pendantry commented on #33521
_Assignees
No one assigned_

Doesn't look like it :(

[2022-03-25 19:21] anarieldesign commented on #38998
I couldn't agree more @mrwweb 👌. As a theme author this would be sooo useful. Thank u soo much for writing this amazing blog post 👌. And would be useful to have css classes instead of inline styles for some blocks.

[2022-03-25 19:46] paaljoachim commented on #39380
Hey Nik.

From what you are saying I assume the next step is to explore the new grid layout approach with the Query Loop?
Where can we find more information about the "new grid layout approach"?

Thanks!

[2022-03-25 20:16] paaljoachim commented on #39187
@ntsekouras Nik perhaps you can take a look at this issue?
Thanks!

[2022-03-25 20:19] paaljoachim commented on #38917
I believe these are associated in some way.

HTML in Post Title causes error in the block editor.
https://github.com/WordPress/gutenberg/issues/39395

HTML tags in post titles are gone when editing existing posts
https://github.com/WordPress/gutenberg/issues/38668

Home.html displays title from query loop instead of post-title
https://github.com/WordPress/gutenberg/issues/39187

[2022-03-25 20:21] paaljoachim commented on #39395
It sounds like a depreciation was introduced in Gutenberg 11.4.
I assume I might ping @youknowriad about this issue. I also added it to the [WP 6.0 Project board.](https://github.com/orgs/WordPress/projects/27/views/1)

I believe these are associated in some way.

HTML Validation Error: Element style not allowed as child of element body in this context
https://github.com/WordPress/gutenberg/issues

[2022-03-25 21:55] AdsonCicilioti opened #39776 "Media Library input dont't show on Site logo block"
### Description

Site logo block dont show the media library interface for upload a logo image.

my theme.json:
[code]

### Step-by-step reproduction instructions

1. Go to Appearance > Editor
2. Click on site logo block icon on header part

### Screenshots, screen recording, code snippet

![image](https://user-images.githubusercontent.com/6278398/160206849-16ef06cc-f53a-4a94-8a9c-96be7cf56f77.png

[2022-03-25 23:18] gziolo commented on #39388
We could also look at standardizing names for scripts executed with `npm run` while we test all of them. See related issue: https://github.com/WordPress/gutenberg/issues/19949.

[2022-03-26 02:33] t-hamano commented on #39721
Hi @sandeshjangam.

I found the cause and submitted a PR #39765.
If possible, could you check out the `e2e/playwright-cross-platform` branch and see if it works properly in your environment?

[2022-03-26 03:49] carolinan commented on #39698
oh maybe it ends up trying to target h1 inside h1

[2022-03-26 06:15] carolinan opened #39778 "gallery block spacing changes the size of images and ignores the column setting"
### Description

With Gutenberg trunk, if you add a value to the block spacing setting in the gallery block, the size of the images change.
Instead of fitting the images inside the columns set in the gallery, the image size is drastically changed and the images are displayed one by one, vertically. The effect is the same no matter the number of columns that are set, or the image size.

### Step-by

[2022-03-26 06:51] carolinan commented on #39778
@glendaviesnz
As I continued testing this, I found a PHP warning in the editor. I am using PHP 7.4.1.
`Warning: preg_match() expects parameter 2 to be string, array given in gutenberg\build\block-library\blocks\gallery.php on line 51`

[Line 51](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/gallery/index.php#L51)

(-I did a dump of `$gap` and it is an array containin

[2022-03-26 09:28] pimschaaf commented on #38299
Repeating @Mamaduka's suggestion like @retlehs, as it's already been buried a bit in here.

`remove_action( 'wp_body_open', 'wp_global_styles_render_svg_filters' );`

It seems to fix my issue with WP 5.9.2 where, for me, there are still duotone filter SVGs bloating the HTML just after the _opening_ `<body>` tag.

What a hot mess this is.
My two cents worth of sentiment: developing custom themes wi

[2022-03-26 13:47] dgwyer commented on #25188
@illycz It's actually very easy to create multiple blocks using `npx @wordpress/create-block test` with a little bit of manual processing.

Once you have the single block created just add it to a folder e.g. `./src/block1` and rename all references to the block to `block1`. Then it's just a case of duplicating the block folder for multiple blocks and updating all `block1` string instances. Don't f

[2022-03-26 14:09] dgwyer commented on #25188
@gziolo @ryanwelcher How about adding support for a `--name` (alias `-n`) CLI option to specify block names? Apologies if this has been proposed already.

Single block:
`npx @wordpress/create-block test -n block1` would create a single block with `block1` for the block slug/name etc.

Multiple blocks:
`npx @wordpress/create-block test -n block1 block2 block3` would create multiple blocks, each one

[2022-03-26 15:05] AdsonCicilioti commented on #39776
![image](https://user-images.githubusercontent.com/6278398/160245344-e8cfe235-7a26-4ee4-8bb2-56e5c39ac54d.png)
![image](https://user-images.githubusercontent.com/6278398/160245380-62556a18-e6cb-4860-83a0-649085dd3105.png)

Probably something related to my nginx server.

It is worth remembering that my environment uses PHP-FPM 7.4, NGINX and Mysql.

So I'll investigate to see if my Nginx definition

[2022-03-26 15:40] AdsonCicilioti commented on #39776
A directive I enabled in Nginx to make the `/wp-json/` route be rewritten to `/?rest_route=` somehow caused the `OPTIONS` requests made by the component to fail.

Fortunately I found that I don't need to override `/wp-json`, knowing that it won't work if permalinks are disabled, now I know that I always need to use `?rest_route=` which works in all cases.

This could be better documented, but ok.

[2022-03-26 15:40] #39776 closed, assigned to nobody

[2022-03-26 16:11] whimsyniche commented on #38014
I just realized that Query Loop block's items are not clickable in all modalities.

I'm looking for an alternative until this is fixed.

**Update:** I had to remove Query Loop Block 🙁 and insert it again; fixed it. I lost whatever settings I had from previous Query Loop Block.

Nevermind here's the template of the Query Loop Block that is not clickable. It's the last option called offset.

<img wi

[2022-03-26 22:07] BinaryMoon opened #39781 "Post terms block has confusing title in editor"
### Description

The post category and post tags blocks are both displayed in the editor with the same name "Post terms". This makes it difficult to know which block does which.

### Step-by-step reproduction instructions

1. Go to the site editor and edit the "single" template
2. Insert the post categories block
3. Insert the post tags block
4. See what is displayed in the editor.

### Screenshot

[2022-03-26 22:35] github-actions[bot] opened #39782 "[Flaky Test] should move the blocks up"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should move the blocks up

## Test path
`specs/editor/various/block-editor-keyboard-shortcuts.test.js`

## Errors

<time datetime="2022-03-31T10:10:25.761Z"><code>[2022-03-31T10:10:25.761Z]</code></time> Test passed after 1 failed attempt on <a href="https://github.com/WordP

[2022-03-27 07:27] t-hamano opened #39783 "Certain colors are not reflected in classic themes without theme.json"
### Description

In classic themes without `theme.json`, certain colors are not reflected on the frontend.
This occurs when a HEX color defined in the core `theme.json` is used.

If the editor uses that custom color, the block will be given its own class name.
(e.g. `#0693e3` to `vivid-cyan-blue` class name)
However, colors are not reflected because inline styles like `.has-vivid-cyan-blue` are no

[2022-03-27 07:30] t-hamano commented on #39555
@bobmatyas
I have submitted a new issue #39783, so I close this issue.
If you need further discussion or have questions, please do not hesitate to reopen this issue or create another one.

[2022-03-27 07:30] #39555 closed, assigned to nobody

[2022-03-27 11:57] github-actions[bot] opened #39784 "[Flaky Test] Should navigate between inner and root blocks in navigation mode"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
Should navigate between inner and root blocks in navigation mode

## Test path
`/test/e2e/specs/editor/various/writing-flow.spec.js`

## Errors

<time datetime="2022-03-31T09:24:02.248Z"><code>[2022-03-31T09:24:02.248Z]</code></time> Test passed after 1 failed attempt on <a

[2022-03-27 14:39] arunsathiya opened #39785 "Full site editing: Template set for a blog archive page is "Home" while it could be "Archive""
(Prefacing this report by saying it's more of a question than a bug; is the current behavior expected?)

### Description

On a site with Full Site Editing enabled, a page that's marked as the blog archive gets the "Home" template instead of the "Archive" template. The latter is ideal because it's an archive page designed to show blog posts, and is not the homepage of the site. The homepage is an e

[2022-03-27 20:47] illycz commented on #25188
And compilation will be working within subfolders?

[2022-03-27 21:14] github-actions[bot] opened #39787 "[Flaky Test] should always expand single line selection"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should always expand single line selection

## Test path
`/test/e2e/specs/editor/various/multi-block-selection.spec.js`

## Errors

<time datetime="2023-03-30T09:02:10.961Z"><code>[2023-03-30T09:02:10.961Z]</code></time> Test passed after 1 failed attempt on <a href="https:/

[2022-03-27 22:21] shivapoudel commented on #38739
@gziolo Can you help me with the ^ comment? Thanks in advance!

[2022-03-27 22:45] ramonjd commented on #39778
Looks like https://github.com/WordPress/gutenberg/commit/ce74a0d4924e34f6ca146834e4a5e52d148bb07b borked things. I'm looking into getting a fix in today. Thanks for flagging @carolinan and @glendaviesnz

[2022-03-27 23:15] andrewserong commented on #36197
I've come up with a potential fix for this in https://github.com/WordPress/gutenberg/pull/39743, which passes the `layout` attribute down from the Group block to the Spacer block via `context`. The Spacer block then attempts to get `orientation` or `layout?.orientation` from the context. If it cannot find that, then if the `layout?.type` is set to `flex` it infers horizontal orientation. It seems

[2022-03-27 23:25] annezazu commented on #39405
Noting that I wasn't able to replicate this per the slack thread mentioned above but am keen to see if others can. Thanks so much for reporting this in such a detailed way here either way!

cc @kjellr in case you have time to try to replicate/any insights.

[2022-03-27 23:54] andrewserong opened #39789 "Layout blockGap / spacing: Add support for gap set at the block level in theme.json and global styles"
Following on from #39601 where we removed the blockGap / block spacing controls in global styles (since the gap value is not currently supported at the block level in global styles), this issue proposes a way to add it back in!

As of https://github.com/WordPress/gutenberg/pull/37360 where the CSS variable approach for `blockGap` was removed, we haven't had support for `blockGap` at the individual

[2022-03-28 00:51] talldan commented on #39283
Thanks for pointing that out @cbirdsong. This issue looks like a duplicate of https://github.com/WordPress/gutenberg/issues/38219, so I'll close it.

[2022-03-28 00:51] #39283 closed, assigned to nobody

[2022-03-28 01:10] #39778 closed, assigned to ramonjd

[2022-03-28 04:51] glendaviesnz commented on #35607
@kjellr, @youknowriad  do you know if anyone has explored using [a transform like this](https://github.com/WordPress/gutenberg/pull/39738) to force a `.alignfull` to ignore root level padding?

This avoids having to know the padding in order to calculate negative margins, but there may be some other gotchas that I am overlooking.

[2022-03-28 05:12] github-actions[bot] opened #39791 "[Flaky Test] permits tabbing through paragraph blocks in the expected order"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
permits tabbing through paragraph blocks in the expected order

## Test path
`specs/editor/various/keyboard-navigable-blocks.test.js`

## Errors

<time datetime="2023-07-05T14:07:31.038Z"><code>[2023-07-05T14:07:31.038Z]</code></time> Test passed after 1 failed attempt on <a

[2022-03-28 05:16] hagege commented on #39405
thanks @annezazu for answer
to clarify the issue again here is a short video I created today.
![issue_global_style_variations_3](https://user-images.githubusercontent.com/27292550/160330767-4da09f58-7400-4fe5-a3d9-b37b1b2fd1a2.gif)

[2022-03-28 05:16] #39405 closed, assigned to nobody

[2022-03-28 05:47] gziolo commented on #38739
Yes, it still need a fix for your use case. I commented about a potential solution here: https://github.com/WordPress/gutenberg/pull/39618#discussion_r835647250. It’s only a message, your code should work correctly.

[2022-03-28 06:30] kmadhak commented on #27194
Hello @JustinyAhin,

Greetings of the day!!!

I would like to know the progress of this issue, please let me know if you need more detail on it.

Thank you.

[2022-03-28 06:31] kmadhak commented on #24442
Hello @annezazu ,

Greetings of the day!!!

I would like to know the progress of this issue, please let me know if you need more detail on it.

Thank you.

[2022-03-28 07:30] gziolo commented on #37181
@DAreRodz, thank you for sharing all your ideas. It looks like you explored a few different interesting ideas which make the decision process only simpler 😄

I echo most of what @luisherranz commented. I think we have enough historical data to make the new API stable from the beginning. We simply didn't have so pressing requirements to allow ancestors for core blocks before. For the initial implem

[2022-03-28 07:40] github-actions[bot] opened #39793 "[Flaky Test] should select default paragraph block after removing all blocks"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should select default paragraph block after removing all blocks

## Test path
`specs/editor/various/list-view.test.js`

## Errors

<time datetime="2022-03-28T19:28:34.166Z"><code>[2022-03-28T19:28:34.166Z]</code></time> Test passed after 1 failed attempt on <a href="https://

[2022-03-28 07:47] youknowriad commented on #35607
@glendaviesnz the main problem that I see there is the `width: 100vw`. Align full might not been 100% of the viewport if used inside a column or something like that.

[2022-03-28 07:51] youknowriad commented on #6394
@Paul-Hebert Hi there and thanks for your interest here. It's going to be very hard for me to give you precise answers thought, the reason is that there's still some unknowns for us. Basically, we're working on that block indeed, we don't really know if we will allow other blocks as list items, but the main question for us right now is whether we will be able to provide a UX that is on par with th

[2022-03-28 07:54] luisherranz commented on #37181
@gziolo: how would you do `ancestor A AND B`?

[2022-03-28 08:06] HILAYTRIVEDI commented on #39740
#39794 this is the PR that can fix this issue.

[2022-03-28 08:20] youknowriad commented on #39395
Trying debugging this but it's an internal RichText thing. I wasn't able to follow properly. @ntsekouras  or @ellatrix might know better.

[2022-03-28 08:28] youknowriad commented on #38330
unfortunately I don't have iOS to test this but on Mac OS (Safari 15.4), I'm not able to reproduce.

[2022-03-28 08:38] Clorith commented on #39293
I'm going to jump in with some thoughts as well, I've intentionally let this sit with me a little bit first :)

I feel some crucial points are still missing from the feature to be considered ready, and past experiences tells me we will see many iterations over it still, which are probably going to lead to some changes in behavior/functionality. As soon as that "beta" label is gone, we are saying t

[2022-03-28 08:51] gziolo commented on #37181
Yes, it would be an edge case we can’t express with the API proposed for `block.json.` Do you have an example where this type of support would be applicable? We can continually iterate and introduce an additional function alternative handled in JS registration that offers complete flexibility.

[2022-03-28 09:46] dgwyer commented on #25188
Yup, works right out of the box. `wp-scripts` is very flexible.

[2022-03-28 09:47] #27481 closed

[2022-03-28 09:48] ellatrix commented on #27481
This feature was added with https://github.com/WordPress/gutenberg/pull/38892. Would be good to get more testing in trunk before it's in the next Gutenberg release and the next WP release.

[2022-03-28 09:50] jameskoster opened #39797 "Disable the 'Replace' affordance on generic template parts"
The 'replace' affordance on template parts makes it easy to quickly swap out one header (or footer) for another:

<img width="1626" alt="Screenshot 2022-03-28 at 10 41 23" src="https://user-images.githubusercontent.com/846565/160371332-8c4ece3e-1db8-485b-8e38-050a774ba571.png">

It's much less useful when the template part has no assigned area. For example in my theme I have a `content.html` templ

[2022-03-28 10:11] getdave commented on #8322
https://github.com/WordPress/gutenberg/pull/39701 has been merged which means that once it's released you will be able to see Attachment posts in the Link UI search results. See the PR for more details.

[2022-03-28 10:16] webdados commented on #8322
https://media.giphy.com/media/dsGcvvBPzXJ9KSnLPg/giphy.gif

[2022-03-28 10:19] getdave opened #39800 "Navigation Menu Sidebar: improve block toolbar button naming"
See https://github.com/WordPress/gutenberg/pull/39290/#issuecomment-1078648412.

As suggested there let's improve the name to make it less confusing with the primary List View.

[2022-03-28 10:21] getdave opened #39801 "Nav sidebar: improve focus management on toggle of sidebar"
See https://github.com/WordPress/gutenberg/pull/39290/#issuecomment-1078648412.

As suggested there let's improve the focus management to transfer to/from the sidebar.

[2022-03-28 10:22] getdave opened #39802 "Nav Sidebar: Improve arrow key navigation and focus"
See https://github.com/WordPress/gutenberg/pull/39290.

As suggested there let's improve the navigation using arrow keys.

[2022-03-28 10:23] getdave opened #39803 "Reduce length of text label for Navigation Menu sidebar header button"
See https://github.com/WordPress/gutenberg/pull/39290#issuecomment-1080463373

As suggested there let's shorten the text based label so that it's not taking up so much room.

[2022-03-28 10:24] github-actions[bot] opened #39804 "[Flaky Test] should be inserted"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should be inserted

## Test path
`specs/editor/blocks/classic.test.js`

## Flaky rate (_estimated_)
`0 / 0` runs

## Errors
  ● Classic › should be inserted

    expect(received).toMatchSnapshot()

    Snapshot name: `Classic should be inserted 1`

    Snapshot: "test"
    R

[2022-03-28 10:37] github-actions[bot] opened #39805 "[Flaky Test] results in two remaining blocks and positions the caret at the end of the second block"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
results in two remaining blocks and positions the caret at the end of the second block

## Test path
`specs/editor/various/block-deletion.test.js`

## Errors

<time datetime="2022-03-31T09:19:47.932Z"><code>[2022-03-31T09:19:47.932Z]</code></time> Test passed after 1 failed

[2022-03-28 11:49] tomasztunik commented on #38647
This can be closed now, fixes got merged but relation was not tagged correctly.

[2022-03-28 11:50] gziolo commented on #34994
How does this functionality look in the terms of intent to ship in the upcoming WordPress 6.0 release? My understanding is that the development is almost finished and it's only a few final touches necessary. All blocks are still behind the experimental flag in the Gutenberg plugin:
https://github.com/WordPress/gutenberg/blob/1223f9309f48b3165427d1b3afbcc9f233de0e6f/packages/block-library/src/index

[2022-03-28 12:11] mtias commented on #13026
Cross block text selection has been merged in #38892.

[2022-03-28 12:11] #13026 closed

[2022-03-28 12:19] mtias commented on #15440
I'm closing this given the lack of further feedback, but feel free to reopen or create a new issue if there's something to follow up with.

[2022-03-28 12:19] #15440 closed

[2022-03-28 12:44] oandregal commented on #12311
The PR to allow inner blocks to quote is being worked now https://github.com/WordPress/gutenberg/pull/25892 and it's landing by pieces. I've just tested this flow with the PR that adds transforms https://github.com/WordPress/gutenberg/pull/39718 and this will be no longer an issue:

https://user-images.githubusercontent.com/583546/160400453-873ed91e-4784-4b82-aab6-8e03d650bf46.mp4

[2022-03-28 12:55] kjellr commented on #24952
I'm not sure that we need a "View all posts by" block, but it might make sense to suggest author archive pages in the links panel:

![joesmith](https://user-images.githubusercontent.com/1202812/160402046-789f56d4-4f20-4397-a09c-8426678f6ca7.png)

We do that for categories and tags, but (at least for me), I'm not seeing authors show up there.

[2022-03-28 12:58] ellatrix commented on #16206
I changed my mind on this. I actually think we can make (partial) multi select on touch devices too.

[2022-03-28 12:59] Mamaduka opened #39809 "Stabilize Block Lock settings"
#39566 and #39568 introduced a new experimental block lock editor setting and support flag. We should consider stabilizing them before WP 6.0 release.

[2022-03-28 12:59] kjellr commented on #35884
I think this could be addressed globally as part of #35607, if that issue implemented a default that wasn't `0`.

[2022-03-28 13:02] illycz commented on #25188
This is my actual folder hierarchy:
<img width="184" alt="image" src="https://user-images.githubusercontent.com/2109984/160402223-d871b3b5-a3aa-4961-b67a-92192c077cd1.png">

I don't want copy also node_modules which has 250MB for each block and package.json.
But actual build looks to src folder in root. Is it somehow possible set build which looks to subfolders src folders?

Thanks

[2022-03-28 13:09] #36969 closed, assigned to Mamaduka

[2022-03-28 13:20] ellatrix commented on #16206
We can make this work. The only annoying thing is that I don't know if it's possible to emulate touch for e2e tests.

![image](https://user-images.githubusercontent.com/4710635/160406465-cda71418-98eb-4ab3-83ba-41bb04bf9b3a.png)

[2022-03-28 13:39] ellatrix commented on #12311
I'm still seeing the paste issue when copying the content here: https://codepen.io/iseulde/pen/eYyvJbd

There's no quote and the two paragraphs in the quote disappear.

[2022-03-28 13:40] ellatrix commented on #12311
When I remove the image, it works as expected indeed. Let's try to figure this out separately then.

[2022-03-28 14:06] courtneyr-dev commented on #39293
What specific criteria can we identify that feels "not ready yet"? What do we mean by "ready"?

I don't have good answers, but want to find a common consensus on these questions.

[2022-03-28 14:07] anomiex opened #39810 "@wordpress/eslint-plugin dependencies on other eslint plugins should be peer dependencies"
## What problem does this address?

Having these other plugins as dependencies of `@wordpress/eslint-plugin` only works due to npm/yarn/pnpm "hoisting" dependencies. If this hoisting does not happen (e.g. with yarn's PnP or pnpm configured to disable the default compatibility hoisting that's intended to support broken dependencies like this), eslint does not find the depended plugins.

If a packag

[2022-03-28 14:16] roryashfordbentley opened #39812 "Media query parity between frontend and the editor"
## What problem does this address?
Currently CSS media queries are used to style blocks at different screen width breakpoints however there is a fundamental limatiation of CSS media queries in that they are relative to the current window size. This can be quite problematic in WordPress due to the sidebars in the editor.

This is more apparent now we are exploring FSE themes where blocks can be the

[2022-03-28 14:38] getdave commented on #39801
Ok I had a look at this. This is a problem for all the secondary sidebars because it isn't handled in the `@wordpress/interface` package. I believe the reason for this is that it's very difficult to have a one-size-fits-all for choosing which element to focus.

I'll keep working on this.

[2022-03-28 14:43] ZebulanStanphill commented on #39082
I really like these mockups from a visual and organization perspective, but I question the accessibility here. There seems to be a lot of buttons that are labeled with the value of a setting, rather than an actual description of what the button does. Granted, the current design already has this problem, but these mockups make the issue even more prevalent by extending it to stuff like the author a

[2022-03-28 14:45] ZebulanStanphill commented on #39082
I really like these mockups from a visual and organization perspective, but I question the accessibility here. There seems to be a lot of buttons that are labeled with the value of a setting, rather than an actual description of what the button does. Granted, the current design already has this problem, but these mockups make the issue even more prevalent by extending it to stuff like the author a

[2022-03-28 15:31] Hug0-Drelon opened #39814 "Allow third party to feature its own blocks in the link control panel"
## What problem does this address?

For the moment, the list of available blocks in the transform section of the link control panel is hardcoded [here](https://github.com/WordPress/gutenberg/blob/v12.8.1/packages/block-library/src/navigation-link/edit.js#L448-L455). It's not possible for a third party plugin to feature a custom block for navigation.

There is still a workaround by adding a random

[2022-03-28 15:33] nickfmc commented on #33374
well alignment is just class driven, so the workaround would be theme specific, I've added patterns with classes applied for things that I can't do the same way. So you create the patterns for all the different container/wrapper layouts you think you will need.

[2022-03-28 15:34] mtias commented on #16998
We've moved most of these concerns into global styles as an implicit root. We'll probably keep expanding its capabilities form there.

[2022-03-28 15:34] #16998 closed

[2022-03-28 15:44] gziolo commented on #27941
I see that https://github.com/WordPress/gutenberg/pull/39202 landed with a follow-up #39471. Is there anything else planned for WordPress 6.0? What's missing to consider this issue done?

[2022-03-28 16:17] Paul-Hebert commented on #6394
@youknowriad , thanks for taking the time to respond!

That makes sense. I know it can be hard to give precise answers while still answering unknowns. I can also understand how keyboard interactions could get tricky for that block.

I'll circle back with our client and see how they'd like to proceed here. I'll also subscribe to this thread. Are there any open PRs I should track as well?

Thanks

[2022-03-28 16:22] scruffian commented on #27941
I'd like to get these ones in for 6.0:
https://github.com/WordPress/gutenberg/pull/39590
https://github.com/WordPress/gutenberg/pull/39775

[2022-03-28 16:59] #39516 closed, assigned to jorgefilipecosta

[2022-03-28 17:12] youknowriad commented on #6394
You might want to check the [List block](https://github.com/WordPress/gutenberg/pulls?q=is%3Aopen+is%3Apr+label%3A%22%5BBlock%5D+List%22) label as this is being worked on on multiple small PRs.

[2022-03-28 17:17] Paul-Hebert commented on #6394
Thanks @youknowriad !

[2022-03-28 17:24] ZebulanStanphill commented on #39619
I've started #39817 to stabilize `<PlainText>` v2 and deprecate v1. However, there's a bit of a roadblock: several places in the project still use v1. Of these places, they all seem to be cases where the component is used as an editor-only auto-resizing textarea, such as the "HTML" view of the Custom HTML block, or the shortcode field of the Shortcode block.

I'm guessing these are all misuses of

[2022-03-28 17:29] youknowriad commented on #39619
I don't know, one could argue that both use-cases are valid, in which case we'd need a "plain text" without borders and such and one that is more like a regular text area. could be a `variant` prop instead of `version`. I'd love to have @ellatrix's opinion though.

[2022-03-28 18:07] annezazu commented on #24442
Hi there :) Still no progress. If there were, you would see it on this issue itself. For example, a pull request would reference it.

[2022-03-28 18:26] ethanclevenger91 commented on #4747
@youknowriad not sure what a Gutenberg "layout" is, and Google isn't providing much. Any chance you have a link to this dev note?

[2022-03-28 18:36] youknowriad commented on #4747
Sure, here's the dev note: https://make.wordpress.org/core/2021/06/29/on-layout-and-content-width-in-wordpress-5-8/

[2022-03-28 19:26] michalczaplinski commented on #37181
Nicely summarized @DAreRodz 👏 Some of my comments were already mentioned by others, but I'll repeat them here for show of support.

1. Option 2. (`__experimentalRequiredAncestor: string[]`) seems like a better choice.
   -  probably renaming it to simply `ancestor` or `__experimentalAncestor` if we really need to mark it as experimental for now.
2. Like Luis said, we should change the schema and a

[2022-03-28 19:41] ciampo commented on #11430
Regarding points no. 2 and 3 from the issue's description, it looks like the main issue being discussed was around focus management (and in particular, moving the focus to the first tabbable element inside the popover).

It looks like thie feature is now achieved through the [`useDialog` hook](https://github.com/WordPress/gutenberg/blob/d5915916abc45e6682f4bdb70888aa41e98aa395/packages/compose/src

[2022-03-28 19:41] #11430 closed

[2022-03-28 19:53] hagege opened #39825 "Customizing Block Latest Posts in Editor"
In the list of blocks that can be customized when editing the templates, it would be useful if the "Latest Posts" block is also offered. Please have a look at the GIF file
![issue_missing_latest_posts](https://user-images.githubusercontent.com/27292550/160475915-43a80e96-f863-4e8a-a335-45d8adab7eae.gif)

[2022-03-28 20:06] illycz commented on #25188
OK, it's possible but:
- it's impossible set for build task different path to block.json
- when I change scripts task to new entrypoint in subfolder, block.json wasn't copied to build folder. Here is example from my new hierarchy: `"build:upto-price": "wp-scripts build blocks/upto-price/src/index.js --output-path=blocks/upto-price/build"`. And I moved block.json from src to parent folder. Paths ne

[2022-03-28 20:19] illycz commented on #25188
I think, the best solution would be setting glob rule for all block.json files. And in block.json set not only scripts and styles paths but also build path. Or generate build folder on same level as src.

So
root-folder
-- block-folder
---- src-folder within block.json, js and css files and php templates
---- build-folder with same content as src

And in packace.json something like this:
`"build":