[2021-12-08 16:27] priethor commented on #36860
@kevin940726 Although it can feel strange to the most advanced/tinkerer users to be able to add custom templates in the Template Editor and not in the Site Editor (less advanced users won't use the Template Editor), this will be the first version of the templates list, so although a nice to have, I don't think this is a blocker.

There is already a lot of work and testing in the works in #36488 an

[2021-12-08 17:20] mchowning commented on #34749
I'm not that familiar with reusable blocks, so let's hold off on this until we get @fluiddot 's thoughts to see what he had in mind here.

[2021-12-08 17:21] ndiego opened #37232 "In 12.1, blockGap appears partially enabled when it shouldn't be"
### Description

In 12.1, something changed (still trying to locate) that enables `blockGap` related CSS even if `blockGap` is not enabled in theme.json. I can also confirm that this issue exists in 5.9 Beta 2 without the Gutenberg plugin active.

In Gutenberg 12.0.2, I have a Group block with a Paragraph and Buttons block inside. It looks something like this:
![image](https://user-images.githubus

[2021-12-08 17:23] #36544 closed, assigned to Mamaduka

[2021-12-08 17:25] bgardner commented on #37232
I can confirm that this is happening. Updated to Gutenberg 12.1 to work on updating Frost, but found it impossible because of what @ndiego reported. Had to revert to Gutenberg 12.0.2 and unfortunately have to wait.

[2021-12-08 18:09] hellofromtonya commented on #36556
Following the discussion https://github.com/WordPress/gutenberg/issues/37075#issuecomment-988329949, #37075 is no longer considered a blocker for 5.9. Can the ⚠️ be removed from its title and from the blockers list above? @noisysocks @priethor

[2021-12-08 18:20] bgoewert commented on #35686
This issue seems to have been a duplicate of #31957.
#36837 updated the Micromodel version which fixed this issue.

For whatever reason it still seems to be an issue for me testing on Edge at work with a brand new env. That may just be me though.

[2021-12-08 18:46] ndiego commented on #37232
Upon more investigation, this issue might have something to do with this commit: https://github.com/WordPress/gutenberg/commit/96a0dafa1c06d3785e5616a775e82df0c07403ad. Not 100% sure, but regardless, this is the line in the file that controls the `blockGap` styling: https://github.com/WordPress/gutenberg/blob/9faa63ec01c7db4e4d57823af2db5c54bb6d6660/lib/block-supports/layout.php#L157

If you simpl

[2021-12-08 18:49] edujca commented on #37158
Hello. Yes, The problem was at first time without Gutenmerg installed. After it, as Andrew Atar says,on the first click of 'remove button' nothing happens. It was necessary to click it a second time to remove the button.

[2021-12-08 19:19] mkaz opened #37236 "Improve Site Editor error state - prevent blank screen on REST API error"
## What problem does this address?

If there is an API error loading templates for the site editor, the user is left with a completely blank screen. No visible error messages or ability to click towards next steps.

Original ticket: https://core.trac.wordpress.org/ticket/54507

From @noisysocks:

### Testing

One way to trigger an API error, though there are others I'm sure, is to misconfigure you

[2021-12-08 19:35] bgardner commented on #37232
It appears the CSS you shared above is coming from this:

https://github.com/WordPress/gutenberg/blob/61de10636cca2869269db2c20315b763d11927fc/lib/compat/wordpress-5.9/class-wp-theme-json-gutenberg.php#L732

Which is also using `$has_block_gap_support` from the layout.php file.

The code in full:

[code]

[2021-12-08 20:03] ndiego commented on #37232
Sorry for the ping @oandregal, but it appears that perhaps some of the changes in https://github.com/WordPress/gutenberg/pull/36907 might have caused this issue? Happy to keep investigating, but thought you might be able to spot it quicker if it is indeed related 😉

[2021-12-08 20:15] kjellr opened #37237 "[Post Comments] Input fields can extend beyond the edges of the screen"
### Description

Because `box-sizing: border-box` is not set for the input fields on the comment form, the fields can extend beyond 100%, causing a vertical scroll.

### Step-by-step reproduction instructions

This can be reproduced in Twenty Twenty-Two, running WordPress 5.9, Beta 2. Using a small screen, visit any single post that has comments enabled, and scroll down to view the comments form.

[2021-12-08 20:17] kjellr commented on #37237
Related issue: #35704

I'm not sure, but this may need to be fixed in both the [Post Comments](https://github.com/WordPress/gutenberg/blob/4881e18c7fcd224b33b4e92ea3f447836afb9540/packages/block-library/src/post-comments/style.scss) and [Post Comments Form](https://github.com/WordPress/gutenberg/blob/4881e18c7fcd224b33b4e92ea3f447836afb9540/packages/block-library/src/post-comments-form/style.scss)

[2021-12-08 20:18] kjellr commented on #37237
Adding to 5.9 Must-Haves since this effects Twenty Twenty-Two.

[2021-12-08 20:19] priethor commented on #36556
#37075 is still considered a top priority, although we agree it should not jeopardize the release timeline. It is being addressed in #36488, and because Beta 2 is already out I think it's important to keep the ⚠️ and highlight it to get contributors to test it as much as possible.

[2021-12-08 20:36] hellofromtonya commented on #36556
While I appreciate it as priority, ⚠️ is a flag that it blocks 5.9 RC. But that's not the case now. It's something to get into the release if possible, but it no longer a blocker to stop 5.9 RC from happening.

@priethor the list is already prioritized, right? Removing the ⚠️ lets everyone including the release squad, community, etc. know that this issue will not block 5.9 RC or its final release.

[2021-12-08 23:10] vena commented on #36568
This is happening in my tests regardless of using blockProps or accessing an attribute, a raw number will do it. It's not specific to css vars, but it does appear specific to quoted, non-js properties.

For instance, { lineHeight: 2 } will save as 2, but { 'line-height': 2 } will save as '2px'

[2021-12-08 23:23] vena commented on #36568
looks to be a React behavior
https://reactjs.org/docs/dom-elements.html#style

edit: workaround for me, since inline custom variables are super interesting, is to cast the value as a string.

`style={{ '--customvar': '' + attributes.custom }}`

[2021-12-08 23:31] gziolo commented on #37153
One more thing that I discovered while testing enhancements to how we handle pagination is documented in https://github.com/WordPress/gutenberg/pull/37196#discussion_r765303730. By default, the REST API endpoint for comments returns 10 results which doesn't play along nicely with the UI controls that allow to set up to 100 top-level comments per page.

[2021-12-08 23:33] noisysocks commented on #36141
More canvas height weirdness here: https://github.com/WordPress/gutenberg/pull/37213#issuecomment-988661302

[2021-12-08 23:33] #36827 closed, assigned to nobody

[2021-12-08 23:57] Rolilink opened #37240 "Synced Patterns: Focus name text field when opening new reusable block modal"
## What problem does this address?
Users need to click the name text field to input the name of the reusable block, this feels odd since is the only input in the modal.

## What is your proposed solution?
I think we should autofocus the input when the modal is opened.

This issue was reported on the `wp-calypso` repo by a user in this [issue.](https://github.com/Automattic/wp-calypso/issues/52506)

[2021-12-09 00:01] Rolilink opened #37241 "[Reusable Block]: Save button should go before cancel button."
## What problem does this address?
Having the cancel button as the first option feels odd.

## What is your proposed solution?
Swapping the save and cancel button positions.

This was enhancement was asked by a user in the `wp-calypso` repo in this [issue](https://github.com/Automattic/wp-calypso/issues/52506).

[2021-12-09 03:02] ChristianMMacy commented on #35576
Hello! Thank you for bumping the ESLint version. I see that the version is updated in TRUNK, but the current version on NPM is 9.3.0 and still has a peer dependency of ^6 | ^7. What does the release schedule look like for `eslint-plugin`? I.e. when will the current version be available via NPM?

If 9.3 should have the correct versions, I'd love help figuring out what might be going on that I keep

[2021-12-09 03:27] talldan commented on #37194
I've edited the description. The original text was in HTML comment tags, so wasn't visible.

[2021-12-09 06:04] ianlin commented on #35258
There is a similar findings that was reported in WordPress/twentytwentytwo/issues/280, but turns out it's more like the behaviour described in this issue.

[2021-12-09 06:33] #37075 closed, assigned to nobody

[2021-12-09 06:50] carolinan commented on #30276
I am updating this issue because I am experiencing the same with the navigation block.
If I select a navigation block, duplicate it, and make changes to the new duplicate, the original block changes as well.
I get the same results when duplicating as when I use "Copy" from the toolbar menu.

[2021-12-09 07:23] CalumChilds opened #37246 "Block patterns section sometimes glitches"
### Description

When I go into certain categories of the Block Patterns section of the block inserter, it sometimes glitches back and forth quite rapidly. A video of it is shown here: https://calumchilds.com/videos/wordpress-gutenberg-issue.mp4

### Step-by-step reproduction instructions

1. Click the "Add" button on the top-left of the screen.
2. Click the "Block Patterns" section.
3. Click on t

[2021-12-09 07:38] CalumChilds opened #37247 "Add a feature allowing a "Read more" button block to be added at the bottom of each query block"
## What problem does this address?

Using the full-site block editor, it is currently impossible to add a "Read more" button block below each post. It currently only allows you to add a link at the bottom of each query.

## What is your proposed solution?

My proposed solution is to add the ability for a button to be added at the end of each query block.

[2021-12-09 08:32] aristath commented on #36569
@youknowriad should we do this in 5.9? It looks like an easy fix and a good enhancement... We'd just need a suitable icon 🤔

[2021-12-09 08:33] youknowriad commented on #36569
I'll defer to designers for this, I just followed the design from the initial issue. cc @mtias @pablohoneyhoney @jasmussen

[2021-12-09 09:04] mtias commented on #36569
The full design is not yet implemented:

![image](https://user-images.githubusercontent.com/548849/145366141-cd54a5ca-c8e9-48a5-97bf-80aaacde2c74.png)

Note the chevron, proximity to the descriptive text, etc.

[2021-12-09 09:08] tex0gen commented on #36568
Casting value to string is the same workaround I used. Thanks for confirming.

[2021-12-09 09:10] kevin940726 commented on #36860
Works for me! Thank you @priethor!

[2021-12-09 09:23] youknowriad commented on #36569
@aristath I added to the 5.9 board, should be an easy one indeed.

[2021-12-09 10:36] jameskoster commented on #28737
Just leaving a comment to highlight the experience in template part focus mode when no blocks are present:

<img width="1616" alt="Screenshot 2021-12-09 at 10 36 24" src="https://user-images.githubusercontent.com/846565/145380884-10ae439c-b8fc-4707-9e17-61635188dad3.png">

This could certainly use some love and seems like an opportunity to implement some of the ideas above.

[2021-12-09 10:52] github-actions[bot] opened #37250 "[Flaky Test] Should load customizations when in a template even if only the slug and theme attributes are set."
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
Should load customizations when in a template even if only the slug and theme attributes are set.

## Test path
`specs/site-editor/template-part.test.js`

## Flaky rate (_estimated_)
`13 / 266` runs

## Errors

<details>
<summary>
	<time datetime="2021-12-09T10:52:31.948Z"><

[2021-12-09 11:13] getdave commented on #36286
@talldan What @spacedmonkey outlines is what I'm experiencing. You can create a post and "save" it but because you cannot publish the `wp_navigation` Post is never available for reuse once you reload the page. You will see a request going out but it returns 403 explaining you have insufficient permissions to _publish_.

[2021-12-09 11:25] #37172 closed, assigned to ntsekouras

[2021-12-09 11:39] akirk opened #37251 "Make it easier to select other templates"
## What problem does this address?
Right now, if you want to choose another header template, you need to know that you need to select the header inside the Gutenberg editor and click "Replace":

![Screenshot 2021-12-09 at 12 17 05](https://user-images.githubusercontent.com/203408/145386837-c71fc257-ebec-4d54-9c55-f9170407271e.png)

## What is your proposed solution?
Think about adding the ability

[2021-12-09 11:44] getdave commented on #36286
Also if we find a way to reliably determine that the user _cannot_ create Navigation we should remove the Navigation block from the block picker (but _not_ unregister it).

That way they never even have to see the "You don't have permission to create" message, but they'd still be able to view (but not edit) existing Navigations.

[2021-12-09 11:57] scruffian opened #37252 "Columns Block: Disable the 50/50 view"
## What problem does this address?
At "tablet" sizes, the columns block snaps to a 50/50 view:

<img width="749" alt="Screenshot 2021-12-09 at 11 52 05" src="https://user-images.githubusercontent.com/275961/145392045-735c1a74-2938-45f4-9906-4978750a3951.png">

(From the Stewart theme: https://github.com/Automattic/themes/pull/4369)

When columns are used for structural elements of the page this is

[2021-12-09 12:12] priethor commented on #36556
The list is prioritized but visual indicators are most useful. Since you are right about the non-blocking nature and the issue is already fixed by #36488 , I've added a different icon instead to denote testing is required. How does that sound?

[2021-12-09 13:28] oandregal commented on #37232
:wave: I've bisected between 12.0.2 (worked well) and 12.1 (no longer works) and it started failing at https://github.com/WordPress/gutenberg/pull/36646 Thanks for providing that info, btw, it makes debugging a lot easier.

I've started a bugfix at https://github.com/WordPress/gutenberg/pull/37254 (needs more work).

[2021-12-09 13:36] bgardner commented on #37232
@oandregal FWIW, here's what I have found. If you remove support for `"appearanceTools": true,` (in other words, do not include that at all in theme.json), the following seems to disable `blockGap`:

[code]

While the following does not:

[code]

Which basically means that once `"appearanceTools": true,` is added to theme.json, no solution seems to disable `blockGap`. Neither of the code blocks ab

[2021-12-09 13:48] kjellr opened #37255 "Consider allowing themes to opt in to wp-block-styles via theme.json"
`wp-block-styles` was considered and removed from #35593, as per @jasmussen's [comment here](https://github.com/WordPress/gutenberg/pull/35593#issuecomment-942317331).

This seems ok to omit by default, but I do think it would be helpful for themes to have the option of using theme.json to opt into this feature in general. Currently, they must do so via `add_theme_support()`. Currently, this is [t

[2021-12-09 13:48] bgardner commented on #37232
Also worth noting... even without `"appearanceTools": true,` being in theme.json, `blockGap` seems to be turned on.

[2021-12-09 13:55] franmastromarino opened #37256 "Post title and toolbar should be outside editor-styles-wrapper in the post editor"
### Description

Hello

The post title and tinymce toolbar should be outside editor-styles-wrapper in the post editor

Otherwise the theme styles like button and headings affect the interface elements

https://snipboard.io/sfu5pT.jpg

### Step-by-step reproduction instructions

https://snipboard.io/sfu5pT.jpg

### Screenshots, screen recording, code snippet

https://snipboard.io/sfu5pT.jpg

### En

[2021-12-09 14:55] Blogthetech commented on #13049
_Some fix everyone_

Permanently trash the imported posts without paragraphs.

Install and activate classic editor (No setting required after activation)

Re-import the posts again and you won't experience any paragraph loss.

This is what I did after experiencing this issue using the WordPress export/import.

Good Luck.

[2021-12-09 15:06] hellofromtonya commented on #36556
I like that 🧪 emoji (will borrow it). Thank you @priethor for updating it!

[2021-12-09 15:17] mchowning commented on #36266
Seems like this might not really be a mobile issue. I notice that on the web, the following happens

1. Create an image block with an image block from the media library
2. Set the link type to be attachment page
3. "Replace" the image with an external image url link
4. **_View the source code for the block and observe that it still has a `linkDestination` of "attachment"_**

[code]

_Assuming "Att

[2021-12-09 15:24] fluiddot commented on #34749
A reusable block is very similar to a Group block, where a set of blocks are rendered within another one, so I think we could determine the block count by checking the inner blocks rendered within a reusable block ([reference](https://github.com/WordPress/gutenberg/blob/c386fd09299aab83df2b9da2dbab59016c6dba50/packages/block-library/src/block/edit.native.js#L210)) and hence, we probably won't need

[2021-12-09 15:35] dcalhoun commented on #36266
@mchowning I agree now that you share your findings.

I would imagine the expected behavior is that the when the image is replaced to an external URL that either (1) `href` and `linkDestination` are cleared or (2) the `linkDestination` is set to `custom` — probably the latter. WDYT?

[2021-12-09 15:50] #36147 closed, assigned to getdave

[2021-12-09 15:51] getdave commented on #36147
Gutenberg PR: https://github.com/WordPress/gutenberg/pull/36960

Core patch: https://core.trac.wordpress.org/ticket/54550

[2021-12-09 16:08] zaguiini commented on #37255
It would be awesome if Gutenberg by itself figured out which styles it needs based on block usage and loaded them on demand.

Example: I'm using the Image block. It makes sense to include the Image styles, while still not needing to load all the other styles.

[2021-12-09 16:59] oandregal commented on #37232
https://github.com/WordPress/gutenberg/pull/37254 is now ready and fixes this issue.

This is how it works:

1. When `appearanceTools` is false or doesn't exist and the theme doesn't set `blockGap`: the styles are not enqueued.
2. When `appearanceTools` is `true`
  2.1 And the theme doesn't set `blockGap` or sets it to `true`, the styles are enqueued.
  2.2 And the theme sets `blockGap` to `null`,

[2021-12-09 17:00] ndiego commented on #37232
Thanks so much for working on this @oandregal!

[2021-12-09 17:34] ciampo commented on #37063
I've implemented a potential solution in a draft #37223. It still requires polishing, but it's definitely at a stage where we can judge if it's an approach that we want to implement or discard

[2021-12-09 17:45] g-elwell commented on #36785
Querying by slug instead of term ID would mean that if a term slug is updated by a user existing query blocks referencing the term would no longer run the correct query.

Querying by term ID offers some protection here, since this cannot be changed by users.

[2021-12-09 17:53] youknowriad commented on #37232
This is the expected behavior btw. The reason is that there's a difference between:

 - Adding support to block gap entirely (enqueuing styles)
 - and allowing users to define block gap per blocks (show the block gap UI for blocks)

This difference between `null` and `false` is only available in the `blockGap` setting but it's something we might also need for future additions.

[2021-12-09 17:58] jffng opened #37262 "Global link font size overrides block level settings"
### Description

Setting a global font size for links overrides the block specific font sizes for blocks that contain links. This is true if the font size is set via theme.json (Styles > Blocks > Block > Typography) or in the block editor inline controls.

I tested Post Title, Post Date, Post Categories, Paragraph.

Originally reported in TT2: https://github.com/WordPress/twentytwentytwo/issues/28

[2021-12-09 18:23] ndiego commented on #37232
I have tested #37254 and it works as expected! 🙌

The `null` versus `false` thing is strange, but it does work with `null`. This issue can be closed with the merge of #37254. Thanks again @oandregal!

[2021-12-09 18:41] bgardner commented on #37232
Yes, thanks to all who helped resolve this issue!

[2021-12-09 18:49] #34870 closed, assigned to carolinan

[2021-12-09 18:55] #37046 closed, assigned to stacimc

[2021-12-09 19:03] chthonic-ds commented on #37255
@zaguiini this has been possible since WP 5.8, more info here: https://make.wordpress.org/core/2021/07/01/block-styles-loading-enhancements-in-wordpress-5-8/. It's still required for a theme to opt in as of WP 5.9beta2 but https://github.com/WordPress/gutenberg/pull/35593#issuecomment-942267837 suggests it will eventually be enabled by default.

[2021-12-09 19:47] ndiego commented on #36692
See https://github.com/WordPress/gutenberg/issues/37232, it's related. You can disable `blockGap` with `null`. For some reason `false` does not work.

[2021-12-09 19:55] #17162 closed

[2021-12-09 20:05] kjellr commented on #37262
Should links even have a font size control? It seems weird to change the font size for all links globally. For reference, here are the settings that are currently visible in the Links panel:
<img width="280" alt="Screen Shot 2021-12-09 at 3 06 29 PM" src="https://user-images.githubusercontent.com/1202812/145468054-50bbb0e5-51e9-4598-a193-57d69b3e36cd.png">

[2021-12-09 20:44] illycz commented on #36692
Great, thanks for that!

[2021-12-09 20:45] jonshipmannwmg opened #37263 "Peer Dependencies missing in NPM packages"
### Description

Yarn 2 (Cherry) implements Plug'n'Play versus the node_modules node linker. One major issue that I have noticed is many packages inside gutenberg are missing peerDependencies on several libraries. This is frequently react, react-dom, or redux. In a traditional npm or yarn 1 environment this is a non-issue as the library will be present in the node_modules folder.

Potential soluti

[2021-12-09 20:47] paaljoachim commented on #17162
A big thank you to @glendaviesnz and @andrewserong !

[2021-12-09 20:47] jonshipmannwmg commented on #37263
Closing as its posted via my incorrect account.

[2021-12-09 20:47] #37263 closed, assigned to nobody

[2021-12-09 20:48] jonshipman opened #37264 "Peer Dependencies missing in NPM packages"
### Description

Yarn 2 (Cherry) implements Plug'n'Play versus the node_modules node linker. One major issue that I have noticed is many packages inside gutenberg are missing peerDependencies on several libraries. This is frequently react, react-dom, or redux. In a traditional npm or yarn 1 environment this is a non-issue as the library will be present in the node_modules folder.

Potential soluti

[2021-12-09 21:35] skorasaurus commented on #32688
Thanks for reporting; since the issue was made; there were significant changes made to the Card Component in https://github.com/WordPress/gutenberg/pull/32566 and those broken links have been fixed.

[2021-12-09 21:35] #32688 closed, assigned to hsingyuc

[2021-12-09 21:45] alexstine commented on #36597
@kevin940726 My PR ##37265 should take care of this hopefully.

"Move focus to the navigation toggle button or a custom "skip to content" link when navigating"

[2021-12-09 21:47] skorasaurus opened #37266 "Card Component Docs are not properly formatted"
### Description

Docs for the [card component](https://developer.wordpress.org/block-editor/reference-guides/components/card/#context) are not rendering correctly in the handbook; likely in an issue in the markdown syntax used.

### Step-by-step reproduction instructions

n/a

### Screenshots, screen recording, code snippet

![image](https://user-images.githubusercontent.com/955351/145480759-849ef

[2021-12-09 23:48] #30668 closed, assigned to adamziel

[2021-12-10 05:22] Mamaduka commented on #36937
Hi folks, I tried to debug this issue but failed 😞

Here are my findings so far:
* Started happening in Gutenberg 12.0
* The template part block's Edit component is rendered, but inner blocks aren't.
* We've all props required to render inner blocks, but they refuse to do so.
* When testing with TT2, I remove Site Logo and Navigation blocks from the header. Go back works as expected.

[2021-12-10 05:37] noisysocks commented on #36937
Pinging @WordPress/gutenberg-core for technical feedback.

[2021-12-10 07:36] michaelbonert commented on #36687
Since Gutenberg Update 12.1.0 the editor is working again. Thanks.

[2021-12-10 08:31] #37232 closed, assigned to oandregal

[2021-12-10 08:49] ntsekouras commented on #36141
This issues depend on each theme. For example in `Quadrat` there is this style.

`.editor-styles-wrapper .wp-site-blocks { min-height: 100vh... }` which makes the template part big. Could a simplistic solution of adding some styles like `min-height: auto !important` in the iframe (or by maybe first detecting such cases of vh) be enough? 🤔

The scrolling issues are related to [this line](https://gi

[2021-12-10 08:57] fluiddot opened #37275 "Media options are not automatically opened when inserting a media block from the slash inserter"
## Description

When adding a media block from the inserter menu, the media options are automatically opened, however, this behavior is not being replicated when adding the blocks from the slash inserter.

The blocks that support this feature are:
- Image block
- Audio block
- Video block
- Gallery block
- File block

**NOTE:** The embed block uses a similar mechanism to request the embed link, pr

[2021-12-10 10:08] scruffian opened #37276 "Template area: Allow themes to specify default templates for headers and footers"
## What problem does this address?
Assume we have a block theme which contains several different header template parts. This theme uses the `header.html` template part in most of its templates, but it also contains a template called `post-with-large-header.html` which uses a different template part called `large-header.html`.

Now imagine I want to create a child theme which is identical to the pa

[2021-12-10 10:16] Aljullu opened #37277 "Provide a get_site_editor_url() function so plugins can link to the site editor"
### Description

The Site Editor URL changes depending on the environment. On WP 5.9 it's `site-editor.php`, while on WP 5.8 + GB it's `themes.php?page=gutenberg-edit-site`. Currently, if a plugin wants to link to the Site Editor or to a specific template or template part, they need to check the version of WP to be able to generate the correct URL.

It would be ideal if WP had a function that retu

[2021-12-10 10:37] oandregal commented on #37232
Got it, thanks for sharing the rationale.

As a data point for future additions, I don't find the current system very obvious. In my view, to encode three different states I'd avoid using booleans + null. I'd use strings or something like that. Something along the lines of "disabled", "only-enqueue", "enabled" is more obvious.

[2021-12-10 10:42] getdave commented on #36286
## Current state

The Navigation block allows users to control Navigation on a website. This block is potentially used for "site wide" Navigation such as in the header of the site.

The block saves its inner blocks to an entity of Post type `wp_navigation`.

Currently this block is available to be interacted with in the (Post) editor by _all_ users. That's a problem because historically only "admi

[2021-12-10 10:48] MoazAlkharfan commented on #29776
This is important. please consider.

[2021-12-10 11:18] Robertght opened #37278 "Image block: alignment doesn't work when heading block is below"
### Description

This is a replica of https://github.com/Automattic/wp-calypso/issues/58732

### Step-by-step reproduction instructions

Add image block to page or post
Add heading block below
Align image to left or right
See that float doesn't work and heading stays below image

### Screenshots, screen recording, code snippet

![image](https://user-images.githubusercontent.com/6737345/145565647-0

[2021-12-10 11:36] ndiego commented on #37232
☝️ Agree with the above `null` versus `false` is confusing.

[2021-12-10 11:52] spacedmonkey commented on #36286
For some extra context here, we had to tweak the permission for `nav_menu_item` to look like [this](https://github.com/WordPress/wordpress-develop/blob/db30405f478e9813b0cc59f81992f16eb0a29ced/src/wp-includes/post.php#L141-L158).

We can create a custom REST API controller / tweak permissions so that navigations posts public to read by limited in who can create them. This means that navigation blo

[2021-12-10 12:27] MarcoZehe commented on #30620
Has this ever gone anywhere? If using the "grid" role, make sure `aria-readonly="false"` is also set, since grids no longer get the editable trait applied automatically, as per the newest ARIA spec. That should cause NVDA to remain in focus mode. Note that if `grid`is used, the children must be rows, and those children must be gridcell or similar. See the ARIA spec for the allowed children.

[2021-12-10 12:31] Mamaduka commented on #37236
You can also comment out this line to reproduce the issue:

https://github.com/WordPress/gutenberg/blob/1b15cf17199126b73aeb3644be7527e7806e22fc/lib/compat/wordpress-5.9/block-template.php#L78

[2021-12-10 13:20] #37237 closed, assigned to pbking

[2021-12-10 14:13] mkaz commented on #37266
Fixed in #37268

[2021-12-10 14:13] #37266 closed, assigned to nobody

[2021-12-10 14:28] getdave commented on #36286
I can do that. I'll spin up a dedicated PR.

[2021-12-10 14:29] #37276 closed, assigned to nobody

[2021-12-10 14:37] ntsekouras commented on #37278
👋 - thanks for reporting this. I couldn't replicate it. Could be something specific to a theme having `clear` to `Heading` blocks?

[2021-12-10 14:41] ndiego commented on #36797
A little later to the party here, but as @youknowriad mentioned, this is due to `blockGap`. I believe the simplest solution is to just add margin control to the Dimensions UI for Group blocks. Then `blockGap` can be easily overridden as needed. `blockGap` is awesome most of the time, but not always 😉

[2021-12-10 14:44] spacedmonkey commented on #36286
Another idea, would be treat navigation post the same as attachments and use the [Inherit](https://wordpress.org/support/article/post-status/#inherit) post status. This would make the navigation post a child post of the post/page/template_part. When capability checks are done, there are not then done on the navigation post but on the parent. In our case, this solve the private post and contributor

[2021-12-10 14:50] getdave commented on #36286
This is an interesting idea. I had no idea this concept even existed.

Whether we pursue it is determinate on whether we agree that Navigations should be considered to be connected to an individual Post/Page. There's no existing precedent for this in Menus as far as I know.

Also, what happens when we're in the Site Editor? How is the capability determined then? Based on the Template Part?

My ins

[2021-12-10 14:51] skorasaurus commented on #37266
thanks :)

[2021-12-10 14:51] draganescu commented on #36286
I find this appealing, even short term. What is the purpose of using a navigation block _as it is today_ in any other place but template parts?

Longer term, from the description of the problem I understand that permissions do work, but a user without the right perms has a poor UX. Ideally,

- as a user that cannot create/save/publish navigation posts, on which the block relies entirely, the conte

[2021-12-10 14:56] getdave commented on #36286
Can I check whether this means

- Hide the block from the inserter in any but the Site Editor?
- _Unregister_ the block in any but the Site Editor?

[2021-12-10 14:57] spacedmonkey commented on #36286
@draganescu It isn't just a case of create/save/publish it is also read the a couple of cases where a post could not be accessed.

- User does not have rights to read / edit others posts.
- Navigation post is embedded in private post, so should not have access.
- Navigation post is marked as draft.

The key thing is, we need the navigation block in site edit, but we can remove/unregister it from o

[2021-12-10 15:03] gigitux commented on #37277
I started to work on this issue. I have more details to share with you.
I noticed that the URL is `site-editor.php` only when GB is disabled and WP version is 5.9.
From what I understand FSE will merge in `core`, but maybe GB will start to diverge from WP 5.9. So in the end I think that we should redirect to `themes.php?page=gutenberg-edit-site` if GB is enabled and to `site-editor.php` otherwise.

[2021-12-10 15:08] geriux commented on #37168
Hey there 👋 I'm working on a [fix](https://github.com/WordPress/gutenberg/pull/37285) for this issue, as @dcalhoun mentioned this is behind a development flag so this is not happening on production. Thanks for finding this bug! 🙇

[2021-12-10 15:29] zaguiini commented on #23086
So wouldn't it be better to hide the block instead of displaying it on the list? It's still a problem...

[2021-12-10 15:39] zaguiini opened #37287 "Embed blocks: Full-width in the block editor, content-fit on the live site"
### Description

The Soundcloud embed displays wide in the block editor but has a fixed width of 500px while browsing the live site. The same thing happens with the Kindle embed block.

### Step-by-step reproduction instructions

1. Open FSE;
2. Insert Soundcloud or Kindle embed block;
3. Save the page.

Verify that it's inconsistent between the block editor and the live site.

### Screenshots, sc

[2021-12-10 15:44] zaguiini opened #37288 "Wolfram Cloud Block: embedding doesn't work"
### Description

The Wolfram Cloud block doesn't work. Passing an object URL, such as https://www.wolframcloud.com/obj/49564e91-774a-4df0-9d0d-261616db8fe8, reverts the block to a paragraph instead of embedding the page.

### Step-by-step reproduction instructions

1. Open FSE;
2. Add the `Wolfram Cloud` block;
3. Put any object URL.

Verify that you get a `Paragraph` block instead of the requeste

[2021-12-10 16:12] Mamaduka commented on #37288
Hi, @zaguiini

Wolfram embed will be supported after WP 5.9. Unfortunately, it won’t work with 5.8.

[2021-12-10 16:25] getdave commented on #36286
@spacedmonkey @draganescu Please see https://github.com/WordPress/gutenberg/pull/37291.

Also note

- https://github.com/WordPress/gutenberg/pull/37286
- https://github.com/WordPress/gutenberg/pull/37289

[2021-12-10 16:26] jffng opened #37292 "Previews appear un-styled when using a block theme"
### Description

Block pattern previews in the pattern inserter, as well as mobile and tablet content previews, are appearing un-styled when using a block theme. I've tested using Twenty Twenty-Two and tt1-blocks. Also verified this is not happening in core trunk.

### Step-by-step reproduction instructions

1. Activate a block theme like Twenty Twenty-Two
2. Go to a post and insert a pattern
3. V

[2021-12-10 16:39] kjellr commented on #37292
cc @noisysocks so we can make sure this regression doesn't make it into the next Beta. 😅

[2021-12-10 16:46] youknowriad commented on #37292
@oandregal could this be related to the recent change to how we load styles?

[2021-12-10 17:04] Andrew-Starr opened #37295 "Request: Query Loop columns, switch width & margin values from em to rem"
## What problem does this address?
I've noticed sometimes with the Query Loop when setting the columns to more than 1, resizing the browser window can cause the columns to be stacked when they should be in the same row.

It is very subtle when the browser width is changed just a fraction, but when it happens it makes the last column suddenly jump to below the 1st column, leaving a big empty space

[2021-12-10 17:10] oandregal commented on #37292
Yeah, it looks like https://github.com/WordPress/gutenberg/pull/36851 introduced this regression.

From a quick glance, the thing that previews and block patterns have in common is that they're rendered within an iframe. It makes sense that https://github.com/WordPress/gutenberg/pull/36851 introduced this regression because it changed how _some_ styles (the global styles presets) were loaded.

I p

[2021-12-10 17:22] oandregal commented on #37292
Got a potential fix at https://github.com/WordPress/gutenberg/pull/37296

[2021-12-10 17:23] alexstine commented on #30620
@diegohaz Do you have time to work on this or do you want me to give it a shot?

[2021-12-10 17:24] Robertght commented on #37278
Hey @ntsekouras !

Thank you for checking this!

I re-tested this and it appears to happen with TwentyTwentyOne and Varia(and the child themes).

[2021-12-10 17:25] diegohaz commented on #30620
@alexstine Please, feel free to give it a try. I made some experiments with the grid role, but couldn't find a model that wouldn't feel as confusing.

[2021-12-10 17:27] alexstine commented on #30620
@diegohaz Alright, I'll give it a shot. I'm good with accessibility but really still learning with JavaScript. We'll see how it goes.

[2021-12-10 18:00] #34748 closed, assigned to mchowning

[2021-12-10 18:36] ntsekouras commented on #37278
I'll close this as it seems it's just theme specific issue. For example in TwentyTwentyOne there is the `clear:both` style.

<img width="588" alt="Screenshot 2021-12-10 at 8 34 59 PM" src="https://user-images.githubusercontent.com/16275880/145624531-f34108d7-fe98-437c-ba3d-074c666f415d.png">

[2021-12-10 18:36] #37278 closed, assigned to nobody

[2021-12-10 18:50] fluiddot commented on #34938
After checking both web and native version behaviors related to the calculation of the active format ([reference](https://github.com/WordPress/gutenberg/blob/d3b1327465cd9fa00489a3578d3c42bc6a597ede/packages/rich-text/src/component/index.native.js#L612)), looks like there are some differences but I couldn't find yet the culprit of this issue. I'll keep exploring the web version ([reference](https:

[2021-12-10 20:22] ndiego opened #37299 "Margin support for Paragraph blocks is desperately needed."
## What problem does this address?
Paragraph blocks are fundamental to the design of any website. As we move closer towards Full Site Editing, the need for full control over paragraph margins has become increasingly apparent. In fact, theme developers (myself included) are resorting to "magic classes" to zero out, or modify, margins on blocks. Allowing themes to opt-in to paragraph margin support

[2021-12-10 20:35] bgardner commented on #37299
I have wanted this for months now, and have had several scenarios in which I've had to handle margins with magic classes. Given how fundamental paragraphs are to publishing content, I would vote 100% to include support for margins.

[2021-12-10 20:49] julian-weinert commented on #28842
Can I please bump this again?
Where in the world does this make sense?
Simply try adding a photo in one "block column". It simply doesn't work...

This thing needs serious rethinking and rewriting. There's just so much wrong, but Wordpress completely pushes this thing. I tried using Gutenberg in my latest project again. It's just pain and grief.

Next website I do with Wordpress will replace Guten

[2021-12-10 20:52] alexstine commented on #30620
@diegohaz Do you happen to know where the block markup is handled in the editor? Looks like it uses list block for columns?

[2021-12-10 21:02] spacedmonkey commented on #36286
I have a possibly solution here. https://github.com/WordPress/gutenberg/pull/37302

I would love a review.

[2021-12-10 21:59] masperber commented on #26123
I've had two instances of this come in the the past two days: 32849925-hc (brand new user) and 32059838-hc.

[2021-12-10 22:09] diegohaz commented on #30620
@alexstine There are two blocks: Columns and Column. You can find the code on `packages/block-library/src/columns/edit.js` and `packages/block-library/src/column/edit.js`, respectively.

[2021-12-10 22:13] diegohaz commented on #30620
Just to add more context to this issue, I recorded a video with some thoughts about browse and focus modes on NVDA. At the end of the video, I propose that we render the whole editor as a tree view (without changing how it's visually presented). I still think that's a good idea to explore, but that would require several changes and a lot of effort: [Screen reader browse/focus mode video](https://w

[2021-12-10 22:16] mchowning commented on #37275
Dug into this a bit today, and this is what I have figured out to this point. The way we know to pop-up the media options menu is by checking if the gallery/image/etc. ("media") block was the `lastBlockInserted`. For example, [the image block has](https://github.com/WordPress/gutenberg/blob/40ecb0b9751b57b597257a55dd674d9e374fe00a/packages/block-library/src/image/edit.native.js#L815-L818):

[code]

[2021-12-10 22:50] TimothyBJacobs commented on #36286
I'm not sure we should be introducing more usage of `inherit` in WordPress Core, it adds quite a bit of complexity because a lot of `inherit` handling is special-cased to the `attachment` post type. Beyond that, the use of `inherit` already poses us problems in the REST API when the "parent" post gets deleted or has it's post status transitioned.

I like the approach of setting the capabilities to

[2021-12-11 00:17] stacimc opened #37303 "Spacer Block: Update UI to support editing complex height & width"
## What problem does this address?

#36186 adds custom units to the Spacer block. Because the `height` and `width` attributes are now strings, it is also possible to set complex values for these attributes, for example:

[code]

This is only possible in the block editor by editing the values in the Code Editor, as the UI is a simple UnitControl that doesn't support complex values. If a block has a

[2021-12-11 00:40] chthonic-ds commented on #37299
I agree with this proposal in broad terms: ideally _any_ element that inherits the `blockGap` margin will also offer a way to modify that margin on a case-specific basis. For example, I'm really looking forward to the day when there's an Editor-level solution to prevent an unwanted margin between a couple of full-alignment Group block siblings. For now I absolutely have to choose "hacks"—one for t

[2021-12-11 03:57] alexstine commented on #30620
@diegohaz So, here's our essential problem. Instead of being able to render this as a grid, each column is it's own block. Another issue is when you enter navigation mode (Gutenberg navigation mode), you can access all the columns where if you try to arrow around in the (Gutenberg edit mode) it really doesn't work.

The biggest problem is the block-list in block-editor is one size fits all. The cu

[2021-12-11 05:08] alexstine commented on #30620
@MarcoZehe Would you be up for giving this a test?

http://gutenberg.run/37304

I don't think it is perfect, but I do think it is slightly better.

Can you let me know if I'm going in the right direction?

Thanks.

[2021-12-11 05:14] alexstine commented on #30620
I will note that this seems to not be working in Google Chrome but it works fine in Firefox. When pressing Right Arrow in Firefox, it will announce the aria-label and tell me exactly which gridcell I am on. In Google Chrome, it is completely silent.

[2021-12-11 12:43] spacedmonkey commented on #36286
I personally agree with you @TimothyBJacobs but I am not sure I see another way around this. If I build a private, draft or scheduled a embed a navigation block in it, if that data is public, it could be seen as leaking information, as if any users can access any navigation, you could see what was in a private post. Consider the following example.

Boss of company writes a blog post, saying they a

[2021-12-11 12:50] spacedmonkey commented on #36286
Another very simple workaround, is to only save navigation posts, if you are in the site editor and save the navigation block data into the contents of the current post you are editing. That would mean, blocks are not available to select unless you created the in site editing.

[2021-12-11 14:26] mascheihei commented on #12872
Same behaviour in WP 5.8.2

[2021-12-11 15:20] overclokk opened #37306 "Documentation version request"
## What problem does this address?
From the [documentation](https://developer.wordpress.org/block-editor/) it is currently difficult to find information about older version of the API, for example if I need to create a plugin that support older version of Gutenberg if I search on the docs I can only find information updated to the last release.

## What is your proposed solution?

To add different

[2021-12-11 15:55] MarcoZehe commented on #30620
This appears to be an NVDA bug. For some reason, because it doesn't get a row number, something causes a crash while handling the focus on the cell, that's why speech is silent in Chrome. If I use JAWS, your build works with both Firefox and Chrome.

Having said that: The problem is indeed that the columns/grid cells are directly below the table, but according to the correct ARIA spec, need to be

[2021-12-11 16:53] ryelle commented on #36600
I've also noticed an issue where VoiceOver gets trapped in the nav (https://github.com/WordPress/wporg-mu-plugins/issues/29), making it seem like the nav is the only thing on the page. I can't navigate to anything else, even the rotor link list only lists out the menu items, etc. My best guess is something about the dialog role makes VoiceOver think that everything else on the page should be hidde

[2021-12-11 18:08] mkaz commented on #36279
Related: #24422

[2021-12-11 19:04] TimothyBJacobs commented on #36286
I don't think we necessarily need to solve for that case in the initial release as long as it is clear to the user that menus are available to be selected to all authors. There is a similar issue with Reusable Blocks. I think a solution for both would be to allow publishing privately with the `private` status.

I think this is a good solution as well.

[2021-12-11 21:05] ndiego commented on #37299
Conceptually, I agree with everything you said @chthonic-ds. My argument for margin control is that there will always be designs that necessitate control beyond anything `blockGap` can and should provide. This change allows users to stop writing custom CSS and design directly in the Editor, which is a true joy.

On the topic of `blockGap`, it still needs a lot of work, but it's very promising and

[2021-12-11 22:42] zaguiini commented on #37288
Right! What if we hide this block on <=5.8?

[2021-12-11 23:57] amustaque97 commented on #37166
Hi, I would love to work on this issue.
Thanks :smile:

[2021-12-12 07:09] alexstine commented on #30620
@MarcoZehe Do you have any suggestions on how to fix it?

Right now, Columns block gets:
[code]
and Column blocks which is child of Columns block gets:
[code]
Can I do this differently with roles?

Also, have you watched @diegohaz YouTube video? I like that much better and the whole editor would become much more accessible having a tree view type navigation to it. In my opinion, that would be more

[2021-12-12 08:48] MarcoZehe commented on #30620
@alexstine The only way to fix this would be to insert an additional div that has the "row" role. And yeah, that might totally throw off styling and only wallpaper over the bigger problem. The reason why I didn't answer to the tree view proposal was that you specifically asked me to try out your approach, and that's what I provided you feedback for. 😉

I have now, and totally love the concept. For

[2021-12-12 18:01] bobbingwide commented on #27402
Just over a year has passed since I wrote this proposal.  Disappointed that no-one's attempted to review it.

Rather than enabling support for extracting and translating strings from HTML files and writing new HTML files for each required locale it would appear that the current method uses a convoluted process of implementing strings in patterns which are written in PHP. See Twenty Twenty Two for

[2021-12-12 18:46] BicanMarianValeriu opened #37312 "Shortcodes/Emojis are NOT rendered in WP:Pattern"
### Description

WP Pattern should work the same way as template part, rendering shortcodes and smilies.
Bellow there are 3 screenshots showing before/after changing the behaviour.

### Step-by-step reproduction instructions

1. Create a pattern
2. Add shortcode in it
3. Try to use it on a template

### Screenshots, screen recording, code snippet

![image](https://user-images.githubusercontent.com

[2021-12-12 20:10] alexstine commented on #30620
@diegohaz Do you have a POC PR for the tree view you described in your video? I think it would be well worth our time working on that instead of this issue specifically. It would fix this and so many more.

Thanks @MarcoZehe for the review. I'm hoping we could just implement the tree view and focus our energy on something that will really make a difference.

Thanks all.

[2021-12-12 22:13] adamsilverstein commented on #29483
All of the packages I mentioned above are entirely JavaScript, so yes you can safely assume that for the packages I mentioned. I'm not aware of any other code that was imported.

[2021-12-12 23:07] noisysocks commented on #37277
When the Gutenberg plugin is updated to require WP 5.9 at minimum we will remove `themes.php?page=gutenberg-edit-site` and the URL will always be `site-editor.php`. I therefore don't think adding `get_site_editor_url()` is very valuable.

I'd recommend just switching based on the version.

[code]

[2021-12-12 23:21] noisysocks commented on #36286
Shouldn't we be using `canUser( 'create', 'navigation' )` instead of `canUser( 'update', 'navigation' )`?

`update` requires an ID because it's analogous to `PUT`.

https://github.com/WordPress/gutenberg/blob/2e04e2631a3933c6642f7e8540dfe05175260d93/packages/core-data/src/resolvers.js#L268-L273

**edit:** Never mind, Johnny explained in https://github.com/WordPress/gutenberg/issues/36286#issuecomm

[2021-12-12 23:39] #37292 closed, assigned to oandregal

[2021-12-13 00:35] #24587 closed

[2021-12-13 01:08] ramonjd commented on #36816
I've tested this on trunk in Safari, FF and Chrome (MacOS) and can't replicate.

![Kapture 2021-12-13 at 12 05 13](https://user-images.githubusercontent.com/6458278/145737564-216c401a-b0fc-4a1c-873a-499d666245b7.gif)

Did you fix this in https://github.com/WordPress/gutenberg/pull/36915?

[2021-12-13 01:15] talldan commented on #36286
There's a `getLastEntitySaveError` selector that should help with that..

[2021-12-13 01:19] alexstandiford commented on #36926
So, I _thought_ I had updated the version locally before opening this, but evidently I did not.

After updating to the latest version, everything worked without a hitch.

Thanks for your time, @gziolo and @skorasaurus. And THANK YOU for your contributions.

[2021-12-13 01:19] #36926 closed, assigned to nobody

[2021-12-13 01:31] ramonjd commented on #36569
In case the full design ([mentioned above](https://github.com/WordPress/gutenberg/issues/36569#issuecomment-989648889)) isn't ready or not implemented in time, I've added the default "block" icon as used in the BlockIcon component in this [PR](https://github.com/WordPress/gutenberg/pull/37313).

<img width="293" alt="Screen Shot 2021-12-13 at 12 25 08 pm" src="https://user-images.githubusercontent

[2021-12-13 03:06] harisrozak commented on #15147
@edufolios-matt Just in case you haven't find the solution, you can try to create a new array to store the term ids instead of using the `selected_term_ids`. Please check my gist here: https://gist.github.com/harisrozak/64764a84cd4b3bd7845084572850ba78

[2021-12-13 03:09] edufolios-matt commented on #15147
@harisrozak thanks for that. Are you thinking that is so the array will be seen as totally new data and saved differently?

[2021-12-13 03:19] harisrozak commented on #15147
@edufolios-matt Yes, I don't know either why it's not working when it using the `selected_term_ids`, maybe it's not an array, or I did wrong with the adding the term_id into it.

[2021-12-13 03:25] edufolios-matt commented on #15147
@harisrozak - you legend!! That worked!!

[2021-12-13 05:06] tellthemachines commented on #36107
@ciampo the issue is not the ability to choose the tag rendered by FlexItem, it's with FlexItem rendering a tag at all. We shouldn't need an extra markup element wrapped around each flex child.

The other issue is we often need to add specific properties to one or more of the flex children, e.g. `flex-grow` or `flex-basis`. Using Flex and FlexItem, we can pass those properties as inline styles to

[2021-12-13 05:12] carolinan commented on #36286
Please help me understand better.
If users, including admins, are not able to create new templates and customize all parts of that template using template editing, -including the header and footer area with their navigation menus -then what use is the template editing for classic themes?
Not being able to create _new fully working_ templates would be a big step backward.
If I want a template for a

[2021-12-13 05:17] talldan commented on #36107
I don't think this would be an issue. Something like:
[code]

becomes:
[code]

[2021-12-13 05:21] tellthemachines commented on #37000
The original line is, I think, [this one](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/navigation/index.php#L236), but the same issue can now be found in Navigation Link, Submenu, Home Link and Page List blocks. It's essentially the same function that has been copied over to the other blocks, so perhaps we should extract it and put it somewhere where it can be used

[2021-12-13 05:55] aaronrobertshaw opened #37316 "Shortcuts: Delete multi selection shortcut triggered when clearing sidebar controls"
### Description

#### Current Behaviour:

While multiple blocks are selected, clearing values from inputs in the `BlockInspector` using `del` or `backspace`, will trigger the keyboard shortcut to delete blocks, unexpectedly removing them.

#### Expected Behaviour:

Using delete or backspace to clear values in a control such as the `UnitControl` would only clear that input's value not trigger remov

[2021-12-13 06:49] tellthemachines commented on #36107
Oooh, can we pass actual components to `as`? Interesting. I suppose the wrapper is a non-issue then.

[2021-12-13 06:56] talldan commented on #36107
Hopefully! That's how I've seen it work in other places. Props should be forwarded to the `as` component too (which is something I always forget).

[2021-12-13 07:40] gziolo commented on #35576
See: https://github.com/WordPress/gutenberg/blob/trunk/docs/contributors/code/release.md#synchronizing-wordpress-trunk

We are in the process of releasing the next major WordPress version (5.9) so we don't do regular npm publishing every two weeks.

I plan to run [the development release](https://github.com/WordPress/gutenberg/blob/trunk/docs/contributors/code/release.md#development-releases) with

[2021-12-13 07:56] diegohaz commented on #30620
@alexstine I don't. The POC in the video was a simple prototype I made to demonstrate how the tree view could work. The blocks are hardcoded there.

I also think the tree view pattern is a nice solution, but there's a catch. A tree view will reflect the block hierarchy really well, but not the layout. As a keyboard user, when a group of blocks was displayed horizontally, like the columns or naviga

[2021-12-13 08:13] MarcoZehe commented on #30620
Yeah that depends largely on the browser. Safari _should_ be the best in class on OS X, since it is made by Apple, but while implementing VoiceOver support in Firefox in 2020, the team found that a lot of the stuff was poorly documented, if at all, and implementation was largely guess work, and in some cases, digging through WebKit code. Chromium also has its own implementation which also has gaps

[2021-12-13 08:27] diegohaz commented on #30620
Yeah! That makes a lot of sense. Thank you!

[2021-12-13 08:39] gziolo commented on #37096
Thank you @kimmenbert for the report and @ryelle and @premanshup for sharing your fixes. I will give it a try to embed similar handling inside the `@wordpress/eslint-plugin` when there is no Babel config provided.

I also know that @ryanwelcher run into a similar issue and his workaround was adding a `babel.config.json` with:
[code]

[2021-12-13 09:09] hypest commented on #37204
Thanks for the report @dcalhoun! I've marked this one as "high priority" as it's a bad broken window for the editing experience.

Can you try diving in for a fix David? Thanks!

[2021-12-13 09:10] #36788 closed, assigned to Mamaduka, youknowriad

[2021-12-13 09:11] #36937 closed, assigned to youknowriad

[2021-12-13 09:15] gziolo commented on #37264
Some of the issues listed are surprising.

I can see why Yarn complains about Redux:

https://github.com/WordPress/gutenberg/blob/18410051d766eff5617b137d58597fbe0342cb94/packages/data/package.json#L44-L46

It's listed as a peer dependency and I don't remember why it isn't set as a regular dependency. It feels like it should be a regular dependency.

React and React DOM shouldn't be listed there b

[2021-12-13 09:39] #36569 closed, assigned to ntsekouras

[2021-12-13 10:01] jameskoster commented on #36816
Yes :)

[2021-12-13 10:01] #36816 closed, assigned to nobody

[2021-12-13 10:03] chthonic-ds opened #37319 "Categories block: content can differ between editor and front-end"
### Description

A Categories block can be configured to unintentionally display different content for the editor view and front-end view.

### Step-by-step reproduction instructions

The reproduction steps here use the following set-up:
- Parent category: _Collection_
- Child categories of _Collection_: _Bat_, _Cat_, _Hat_

_Collection_ should not be assigned to a post, while each child category

[2021-12-13 10:19] getdave commented on #36286
Hi @carolinan. This particular issue is focusing on the Navigation block and how it behaves/presents itself for users with lower capabilities/permissions (e.g. `contributor` role users).

Specifically in terms of Nav Menus, [the concerns I highlighted](https://github.com/WordPress/gutenberg/issues/36286#issuecomment-990845661) are that some users shouldn't have permission to edit certain key areas

[2021-12-13 10:31] dinhtungdu commented on #37277
@noisysocks It makes sense to me. Thanks for the suggestion. @Aljullu I think this issue can be closed.

[2021-12-13 10:34] #37277 closed, assigned to nobody

[2021-12-13 10:36] carolinan opened #37320 "The code editor is available in template editing mode but only shows the post content"
### Description

The code editor is available when editing a template in the template editor (accessed from the block editor).
The code editor shows the post content and the post title and nothing else -even if both blocks are removed from the template.

-I thought the code editor was not yet supported and that it was meant to be disabled both in template editing and the site editor.

### Step-by-

[2021-12-13 10:40] SantosGuillamot commented on #34994
There are now a few more pull requests opened related to the comments blocks which could make it difficult to keep track of the whole project. Trying to summarize it as much as possible, there is work being done in mainly two areas:

1. Wrapper blocks ([Comment Template Issue](https://github.com/WordPress/gutenberg/issues/35000) & [Comments Query Loop Issue](https://github.com/WordPress/gutenberg/

[2021-12-13 10:53] carolinan commented on #36286
But the current solution in 37291 is to remove it for all users of template editing, not only non admins.
Users of existing themes that are not converted to block themes are now going to get a significantly less useful template editing experience.

[2021-12-13 10:57] carolinan commented on #36286
If I want a template for a page or post, but I can't have a navigation menu, then how is that template going to be useful?

[2021-12-13 11:09] koraysels opened #37322 "Add new ratios in ImageBlock AspectRatioDropdown"
## What problem does this address?
Add extra aspect ratios to crop the images.

## What is your proposed solution?
A filter that we can use to add more aspect ratios in the editor.

## possible other solution:
can we  enable free crop ? With draggable borders, without constraining to an aspect ration?

[2021-12-13 11:16] carolinan commented on #36286
Referring to https://github.com/WordPress/gutenberg/pull/37291, I had not even seen 37286.

[2021-12-13 11:34] getdave commented on #36286
Ok understood. Perhaps we can discuss the concerns about disabling in Site Editor over at https://github.com/WordPress/gutenberg/pull/37291.

The reason I didn't merge this is that I want to get more feedback on cases such as those which you mention. We may require more nuance that blanket "disable in everything but Site Editor". Consider the PR a proposal for review and feedback.

Appreciate your

[2021-12-13 11:39] ciampo commented on #36107
That should be the case — let us know in case it's not (@tellthemachines the couple of examples that I [listed above](https://github.com/WordPress/gutenberg/issues/36107#issuecomment-982709763) should also help)

Noted, thank you for the feedback!

[2021-12-13 11:40] carolinan commented on #37071
I am able to reproduce this on 5.9-beta2-52361, **but** only with a full site editing theme active, **after** changing the global styles site title link color.

When I change the global style for the link color, then the color I added for the block in the editor is ignored, it is supposed to be the opposite. 🤔

[2021-12-13 11:57] ramonjd commented on #37316
I have a very naive attempt at a fix in https://github.com/WordPress/gutenberg/pull/37326

It's based on the premise that we should execute block-specific side effects where the focussed keydown target is not in the block editor.

There are probably use-cases that defeat this premise though 🤷

The curious thing is the block inspector search box does not trigger the keyDown event handlers.

[2021-12-13 12:18] Andrew-Starr commented on #37295
Video showing the issue.

https://user-images.githubusercontent.com/94701043/145810841-805cc548-3794-4503-a228-c4b29c2ce6b7.mp4

[2021-12-13 12:42] aristath commented on #37295
I'm not sure that using `rem` would be appropriate... 🤔
The benefit of `em` vs `rem` is that `em` units are relative to their parent, so if the blocks are nested inside a container that changes the font-size, `em` allows the blocks to adapt so their sizing is consistent with their surroundings.

Are we sure this is not a browser bug? I'm unable to replicate it on my system...

[2021-12-13 12:48] #37228 closed, assigned to kebbet

[2021-12-13 12:53] adamziel opened #37327 "Restore the "Save flow should work as expected" E2E test"
https://github.com/WordPress/gutenberg/pull/37157 removed the template parts support from the post editor, and added `.skip()` to the two e2e tests relying on that feature:

* Multi-entity saving – Save flow should work as expected
* Template parts – Should insert new template part on creation

The former is useful, but needs to rely on a block different than the template part. The latter doesn't

[2021-12-13 13:00] aristath commented on #37000
Related: https://github.com/WordPress/gutenberg/pull/26762. There was an identical issue there, so I assume the fix would be similar 👍

[2021-12-13 13:03] guarani commented on #37275
Hi @mchowning, I'm curious what's the reason the slash inserter uses `REPLACE_BLOCKS` instead of `INSERT_BLOCKS`. I'm sure it's done for a reason, but do you have any insight into that? Intuitively, it seems like `INSERT_BLOCKS` would be used for both the block inserter and the slash inserter.

[2021-12-13 14:02] mchowning commented on #37275
It might just be because, technically, the slash inserter is always replacing a paragraph block.

I think it's worth considering whether we want these kinds of actions (i.e., automatically opening the media options) triggered in other instances where a block is "replaced". For example, if we transformed an empty gallery block into an empty image block, would we want th media options menu to automa

[2021-12-13 14:04] Andrew-Starr commented on #37295
Yeah it could be a browser bug. The issue does not appear in Edge or Chrome, only Firefox.

I don't know anywhere near enough about how browsers go about calculating these values, and why Firefox would seem to be different.

I should also say that in my testing I'm using a variable `contentWidth` like this `min( calc(100vw - 2rem), 80rem)` to give some padding and prevent content bumping right up

[2021-12-13 14:05] Addison-Stavlo commented on #36977
I think there are a few (20 maybe) pixels you could squeeze out of the top sticky position to fit it above on some of those edge cases, but it will also wedge the sticky positions closer to the top bar which could be a bit ugly. Or by 'edgebuffer' do you mean above the template in the editor canvas? As that may get rid of the need for the below option altogether, but may look a little funky.

True

[2021-12-13 14:14] jasmussen commented on #36977
I did mean those maybe 20 pixels might be enough in many cases.

One of the challenges with allowing the toolbar to overlap the top bar in the past was when you would scroll the page enough that the toolbar would scroll off the page, it would sit above the top toolbar. But I wonder if that would behave differently with the recent refactors (iframe, popovers, etc.) 🤔

[2021-12-13 14:20] Andrew-Starr commented on #37295
Closing this issue.

The variable `contentWidth` is fine, but it seems Firefox does not play nicely with variable font sizes.

Back to the drawing board!

[2021-12-13 14:20] #37295 closed, assigned to Andrew-Starr

[2021-12-13 14:28] gziolo commented on #37264
Opened PR that should address the issue for `@babel/core`.

[2021-12-13 14:35] andrewstaffell commented on #36687
It's still broken for me under 12.1.0 (Appearance > Editor results in a blank screen with the `Cannot destructure property` error in Console).

Workaround is to append `&postType=wp_template` to the URL manually. Then it loads.

In other words:
Blank screen at `/wp-admin/themes.php?page=gutenberg-edit-site`
Editor loads correctly at `/wp-admin/themes.php?page=gutenberg-edit-site&postType=wp_templa

[2021-12-13 14:42] gziolo commented on #37264
@youknowriad or @jsnajdr, do you know why we have `redux` set as a peer dependency here? It's set as a regular dependency in `@wordpress/redux-routine`:

https://github.com/WordPress/gutenberg/blob/ac34d15b70efc5fb77c3a517b94e083c2b54df98/packages/redux-routine/package.json#L35

We don't even define `redux` in the top-level `package.json` so I guess something is wrong here.

[2021-12-13 14:51] paaljoachim commented on #36096
It would be helpful to get an update on how this PR is coming along.
Thank you!

[2021-12-13 15:03] ndiego commented on #28356
Hi all, looking to continue this discussion. Now that things are much more solidified as we get closer to 5.9, I believe it makes sense to explore adding additional dimension controls (the editor UI) to more block types for post-5.9 releases. I have begun by creating a PR for paragraph blocks https://github.com/WordPress/gutenberg/pull/37300 and here is the related issue https://github.com/WordPre

[2021-12-13 15:13] Andrew-Starr opened #37330 "Responsive vw font sizes & query columns flex layout with em margins. Alternatives?"
## What problem does this address?

In an attempt to provide responsive font sizes, I've noticed that using viewport width `vw` breaks the layout of the Query Loop columns in the Firefox browser.
Video here: https://github.com/WordPress/gutenberg/issues/37295#issuecomment-992422353

Examples of font sizes I have tried:
[code]
[code]
[code]

and many other variations each with a `vw` value, all bre

[2021-12-13 15:35] Bysander opened #37331 "Allow the block transform function to be called programatically"
## What problem does this address?
During activation of a plugin I'd like to be able to run a batch transform of existing blocks in the database. This allows plugin developers to keep a competitive ecosystem and seamless user migration experience between different solutions available without losing content or increasing workload.

## What is your proposed solution?
Something that I can access that

[2021-12-13 15:38] Addison-Stavlo commented on #36977
Probably for many initial cases, but as soon as a user wants a header that has their navigation as close to the top of it as possible we will encounter the conflict again. It seems like it would be better to find a more robust way to go about it?

[2021-12-13 16:26] #37331 closed, assigned to nobody

[2021-12-13 16:28] Bysander commented on #37331
Something like `switchToBlockType` 🤦‍♂️

[2021-12-13 17:05] draganescu commented on #30276
I tested this with the navigation block and can confirm. Ideally  on duplication, an independent copy of blocks should be created.

[2021-12-13 17:41] youknowriad commented on #37264
I guess the reasoning is that when you use the data module, you don't necessarily use redux-based stores but that reasoning is a bit flawed to be honest as we'll be using redux in 80% of the time (if not more). Anyway, this was also one of the issues (among other missing dependencies) that were highlighted by attempting to move to pnpm in #37324 :)

[2021-12-13 18:01] tomalec commented on #35630
I think it's a pretty accurate description of the source/path that lead (at least me) to those problems.
But IMO the fact _"that developers do not learn/understand […] DEWP […]"_ is not because devs are doing something wrong, but because the platform is not doing something good enough, or not being described and documented good enough.

That's why the title of my OP is about **impaired DevX**. As

[2021-12-13 18:17] olafleur-godaddy commented on #36919
So, is my understanding correct that we should expect a fix to Gutenberg where the changes of #36605 will be modified to be only applied to the default version of the appender @youknowriad ?
That way, it would solve our issue?

[2021-12-13 18:27] mrwweb commented on #5037
@karmatosed @youknowriad It seems odd that this issue is closed, since it's still an problem and feels very much like a bug (the title could be rewritten to read "Document Outline only includes heading blocks when it should include all headings"). This is related to #33079 where the outline doesn't see Reusable Blocks. I'm currently working on an accordion block where I would expect the headings (

[2021-12-13 18:27] stacimc commented on #37303
Linking #35558 which discusses the design for supporting custom values in form fields. I'll leave this open to track the issue for the Spacer, since its height/width fields are implemented ad-hoc and not coming from a shared block support.

[2021-12-13 18:29] #36695 closed, assigned to mkaz

[2021-12-13 18:37] alexstine commented on #30620
@diegohaz How hard would it be if the block layout stayed the same but the List View was converted in to a tree view? Might that avenue be one worth exploring?

[2021-12-13 18:38] zaguiini opened #37336 "Code block: focus is lost when pressing Tab key"
### Description

When pressing `Tab` inside a `Code` block, the focus is lost and I can't ident the code.

### Step-by-step reproduction instructions

1. Open FSE or block editor;
2. Type a line of code;
3. Press `Enter`;
4. Press `Tab`.

Verify that focus is lost.

### Screenshots, screen recording, code snippet

https://user-images.githubusercontent.com/26530524/145869105-4d455353-d74d-46f6-a2ff

[2021-12-13 18:38] webprom commented on #33832
unfortunately, it's not working for me :(

[2021-12-13 18:42] guarani commented on #37275
I see, the slash inserter is always invoked from inside a paragraph block.

It seems from what you're saying that the slash inserter is very similar to the block transform operation in that it essentially replaces blocks. By extension, if you made the media options appear when using the slash inserter, that might also make the options appear when using block transforms. Is that correct?

Looking a

[2021-12-13 19:11] jsnajdr commented on #37264
This is a mistake introduced in #21313. Look at this discussion thread:

https://github.com/WordPress/gutenberg/pull/21313/files/2b21f859560b1c5059da220c05d10ca262cfe20e#r657773258

It was proposed to set `redux` as peer in `redux-routine`, but the change was done in `data` instead.

`@wordpress/data` calls `createStore` and `applyMiddleware` from `redux`, it's an implementation detail of the pack

[2021-12-13 19:15] galloppinggryphon commented on #37096
I ran into this unwelcome issue after refreshing packages with `npm install`. @gziolo, the `babel.config.json` fix did not work for me, but including `parserOptions` did.

For reference, my `.eslintrc.js` now looks like this (sans modifications):
[code]

I also discovered I could not use an ESlint JSON file, it couldn't find '@wordpress/babel-preset-default'  without the `require.resolve`.

[2021-12-13 19:47] flexerd commented on #33832
Try this remove_filter('widget_custom_html', 'wpautop' , 10, 3 );

This really should be fixed, if it's not in the pipeline IMO anyway.

[2021-12-13 20:20] webprom commented on #33832
unfortunately, no luck :( thanks for the help!

[2021-12-13 20:54] zaguiini commented on #29167
Some blocks do use actual `input` and `button` elements instead of anchors. Not having a reset/visual parity on both kinds of buttons make them inconsistent.

More information: https://github.com/WordPress/twentytwentytwo/issues/295

[2021-12-13 21:38] moonmeister commented on #1761
@danielbachhuber  Can you explain why this was an intentional decision? Why would purposely break WP?

[2021-12-13 22:51] Julianoe commented on #33302
This would be a great addition. I've had the issue with all my recent complex sites. Not having a universal taxonomy terms is painful for project that use the full versatility of Wordpress. And doing variations like you share [on your blog](https://nickdiego.com/displaying-custom-taxonomies-in-the-full-site-editor/) @ndiego does not work anymore, I can't manage to find how to make a variation of t

[2021-12-13 22:57] marcosrego-web commented on #36127
I see this is still with the label Needs testing, here's an easier way to whoever test this:

On this page of [Wordpress Block Editor Handbook](https://developer.wordpress.org/block-editor/reference-guides/filters/block-filters/#blocks-getsavecontent-extraprops), the following code is mentioned:

[code]

Its said: **"Adding a background by default to all blocks."**

But in fact, also this code doe

[2021-12-13 23:25] aaronrobertshaw opened #37339 "Tracking: Refining Border Controls"
This issue aims to map out what may be required to implement the proposed border control refinements in https://github.com/WordPress/gutenberg/issues/35602.

Additional background on the process behind the current border controls design can be read in the following post:
[Thinking Through: WordPress Border Controls](https://shaunandrews.com/2021/10/gutenberg-border-controls/)

## Potential Tasks

[2021-12-13 23:55] annezazu opened #37340 "Page List: allow a maximum number option"
## What problem does this address?

As part of the [eleventh call for testing for the FSE Outreach program](https://make.wordpress.org/test/2021/11/08/fse-program-testing-call-11-site-editing-safari/), [feedback came in from a WP Tavern article](https://wptavern.com/fse-outreach-round-11-going-on-a-site-editing-safari) around a desire to set a max number of pages shown:

Later, in the comments, a

[2021-12-14 00:11] annezazu commented on #22071
Just wanted to note some feedback from the [eleventh call for testing for the FSE Outreach program](https://wptavern.com/fse-outreach-round-11-going-on-a-site-editing-safari) that shows interest in more advanced customization mentioned in this overview issue!

[2021-12-14 00:18] annezazu commented on #36797
[This came up in the eleventh call for testing for the FSE Outreach Program:](https://wptavern.com/fse-outreach-round-11-going-on-a-site-editing-safari)

Noting here as a more explicit +1 to Nick's suggestion to add this to the Dimensions UI for the Group block!

[2021-12-14 00:20] annezazu commented on #21540
This came up as a request for the [eleventh call for testing for the FSE Outreach Program](https://wptavern.com/fse-outreach-round-11-going-on-a-site-editing-safari):

Updated to include a desire for this in the [All Things Media exploration too](https://make.wordpress.org/test/2022/02/02/fse-program-exploration-all-things-media/):

Passing along so folks are aware this is still being asked for :)

[2021-12-14 00:34] annezazu opened #37342 "Converting Group Block to Cover Block removes content"
### Description

This came up as part of the [eleventh call for testing for the FSE Outreach Program](https://wptavern.com/fse-outreach-round-11-going-on-a-site-editing-safari):

Unclear if this might be resolved by this PR that addresses a similar emptying effect with grouping/ungrouping: https://github.com/WordPress/gutenberg/pull/37280

When testing, I found that hitting undo _twice_ brought ba

[2021-12-14 00:36] annezazu commented on #37342
Adding to 5.9 board so it can be triaged :)

[2021-12-14 00:48] annezazu commented on #36985
Closing this out :)

[2021-12-14 00:48] #36985 closed, assigned to nobody

[2021-12-14 00:58] annezazu commented on #37143
Perhaps this issue? https://github.com/WordPress/gutenberg/issues/26190 :)

[2021-12-14 01:03] mkaz opened #37343 "Docs: Update Plugin Sidebar to a single page how to guide"
Update Plugin Sidebar to a single page how to guide, [using the existing multiple page guide content](https://developer.wordpress.org/block-editor/how-to-guides/plugin-sidebar-0/).

Several of the older how to guides use multiple steps and include a lot more detail than focusing on just the problem/solution they are documenting. A [how to guide template](https://developer.wordpress.org/block-edito

[2021-12-14 01:35] ndiego commented on #36797
@annezazu I just created https://github.com/WordPress/gutenberg/pull/37344  that adds margin support for Group blocks 😉

[2021-12-14 02:02] mkaz opened #37345 "Docs: Update Meta Boxes to a single page how to guide"
Update [Meta Boxes guide](https://developer.wordpress.org/block-editor/how-to-guides/metabox/) to a single page how to guide.

Several of the older how to guides use multiple steps and include a lot more detail than focusing on just the problem/solution they are documenting. A [how to guide template ](https://developer.wordpress.org/block-editor/contributors/documentation/#templates) was recently

[2021-12-14 02:48] Mamaduka commented on #37342
I was able to reproduce the issue on the current trunk. I will see if I can track it down further.

[2021-12-14 02:52] noisysocks commented on #36644
Let's close 🙂 it's getting too late to really do anything now that we're in between beta 3 and beta 4.

[2021-12-14 02:52] #36644 closed, assigned to nobody

[2021-12-14 02:53] noisysocks commented on #36556
I hid the non-blockers underneath a `<details>` since it's not realistic that we'll be looking at them now that we're past beta 3.

All that's remaining is https://core.trac.wordpress.org/ticket/54489 and https://github.com/WordPress/gutenberg/pull/37038.

[2021-12-14 03:22] noisysocks commented on #37190
Is this a bug or a code quality task? Wondering if we can punt it from the 5.9 board. Help me out by adding a `[Type]` label 😄

[2021-12-14 03:54] ScotsScripts commented on #13368
This is a real issue. Easy example is putting in text-decoration-none when using a bootstrap 5 theme. That has to be a link class.

[2021-12-14 04:42] talldan commented on #37340
For anyone looking to pick this up, this is already half implemented (the block has an `__unstableMaxPages` attribute), but it only affects how the block appears on the front-end and not the pages shown in the editor. There's also no way to set a value in the editor.

https://github.com/WordPress/gutenberg/pull/36877 has more info.

[2021-12-14 04:46] talldan commented on #37340
What's the background on this? I don't think I've ever seen anyone be disparaging of feature requests for Page List as described here, but maybe I missed a conversation.

[2021-12-14 04:56] annezazu commented on #37340
Thanks SO much for connecting the dots here!

Ah apologies. This comment referenced this previous issue: https://github.com/WordPress/gutenberg/issues/36721

[2021-12-14 05:19] talldan commented on #37222
@kjellr I made an issue related to this too - https://github.com/WordPress/gutenberg/issues/36510, it might be possible to close one of them as a duplicate.

The message doesn't seem to work when I test it, but maybe that depends on what kind of template part it is (file vs post). It looks like I'm testing the latter and you're testing the former.

[2021-12-14 05:23] talldan commented on #37222
BTW, my instinct was that the block could show its placeholder instead of the message so that a user can at least pick a different template part, but there might be other options.

[2021-12-14 05:23] talldan commented on #36510
#37222 mentions a similar issue with slightly different results.

[2021-12-14 05:36] mypacecreator opened #37350 "Only Media + Text Block has a different breakpoint"
### Description

The breakpoints for Column Block and Gallery Block are "@media (max-width: 599px)".
On the other hand, only the breakpoint for Media + Text Block is "@media (max-width: 600px)".
This is very inconvenient and has been a problem among the theme developers I know.
I think the value in the scss was wrong.

### Step-by-step reproduction instructions

see https://github.com/WordPress/gu

[2021-12-14 06:11] #37000 closed, assigned to Mamaduka

[2021-12-14 06:12] getsource commented on #24072
#34522 is merged, which changes the behavior / UX here.

Does that seem like enough to solve this issue, or should be leave this open?

[2021-12-14 06:20] gziolo commented on #37264
Thank you, that explains everything. It's an obvious mistake that needs to be addressed according to your explanation 👍

[2021-12-14 06:23] getsource commented on #23122
It looks like a decision was made here not to fix this issue, because the behavior is dependent on user workflows, and individual Blocks:
https://github.com/WordPress/gutenberg/pull/33823#issuecomment-892443035
https://github.com/WordPress/gutenberg/pull/33823#issuecomment-900913909

Should this issue be closed based on that?

[2021-12-14 07:13] carolinan commented on #36506
The patch in the trac ticket is merged, can this be closed?

[2021-12-14 07:37] talldan opened #37354 "Navigation block no longer supports inner blocks in its markup"
### Description

It should be possible to insert a nav block with the following markup:
[code]

This is important for backwards compatibility. Instances of the block that were inserted before the existence of the wp_navigation post should be retained, but also for patterns that define the block in this way.

Unfortunately this seems to have regressed (I think in #36880 and possibly partly in #3676

[2021-12-14 07:56] Mamaduka commented on #37342
I'm getting slightly different behavior when testing with Reusable Blocks:

* The content isn't lost during transformation, but only if I undo transformation action.
* Saving the post doesn't trigger a reusable block update
* After refreshing the page, the content is back.

## Screen reconding

https://user-images.githubusercontent.com/240569/145956216-464426f8-55f9-4c16-889c-0ef82b0ca257.mp4

/cc

[2021-12-14 08:24] youknowriad commented on #5037
@mrwweb Right now the headings/blocks highlighted are hardcoded, if we want third-party (and reusable blocks) support, we'd need a dedicated Block API potentially that takes all of the use-cases into consideration.

[2021-12-14 08:34] Mamaduka commented on #37320
That's correct. FSE currently doesn't support Code Editor mode, and we should probably disable it in Template Editing Mode since it doesn't work correctly.

[2021-12-14 08:37] jasmussen commented on #36977
Yes, it increasingly seems like adding the dark frame around it might be the longer term solution, but for that to land it needs to consider some context making it a 6.0 or later thing. And so I was just wondering if a small buffer fix could be a mitigation in the mean time.

[2021-12-14 08:55] ciampo opened #37355 "`Navigator` component and the client-side router in side editor"
In https://github.com/WordPress/gutenberg/pull/37223#issuecomment-993095821,  @kevin940726 wrote:

And in https://github.com/WordPress/gutenberg/pull/37223#issuecomment-993304783 @youknowriad  answered:

[2021-12-14 08:55] ciampo commented on #37355
No, I wasn't aware of it, and thank you for letting me know!

It is indeed not ideal that we have many routing solutions within the same repo. Out of curiosity, did you consider `@wordpress/components` and `Navigator` before deciding to build a new routing solution? I know that `Navigator` doesn't currently offer all the features that you needed, but it would have definitely been a good conversati

[2021-12-14 09:19] kevin940726 commented on #37355
No I didn't even know it exists when first implementing the custom CSR 😅 .

I was not there in the discussion, so I'm obviously biased here, but IMHO it's a missed opportunity that we didn't choose to implement a more robust solution. Especially given that it's not impossible nor very difficult to support both situations.

Many challenges we're facing in this `<Navigator>` component also apply to

[2021-12-14 09:30] getdave commented on #35521
## Update for 14th December 2021

* [A number of bugs](https://github.com/WordPress/gutenberg/projects/62?card_filter_query=block+navigation) have been discovered during the Beta period. These must be resolved asap as [the RC is on 4 January 2022](https://make.wordpress.org/core/5-9/).
* Many of the bugs have already been fixed 🥳 🎉 **_But_**...there's more work to do:
* Feedback and reviews requir

[2021-12-14 09:48] youknowriad commented on #37355
Some missing point of discussions here:

 - We want the global styles navigation (and navigation elsewhere like preferences panel) to not impact the browser URL at all.
 - We want the navigation components to be cross platform as UI components are supposed to work on native apps as well.

I think these are solution indications that the current approach is sound. A lightway navigator that we can pl

[2021-12-14 10:02] gjedeer commented on #3948
For me it was a 3rd party plugin, deactivating it helped.

Looks like this is a catch-all error message, whether you have a bad plugin, wrong htaccess or a HTTP error...

[2021-12-14 10:19] kevin940726 commented on #37355
If we want the implementation to be cross-platform, shouldn't we take browser's history stack into account from the start as well? [`history`](https://github.com/remix-run/history/blob/main/docs/api-reference.md#creatememoryhistory) supports both `createBrowserHistory` and `createMemoryHistory` with almost the same API, so that if we want to plug it into browser's history, we don't have to impleme

[2021-12-14 10:34] Mamaduka commented on #36510
I am assigning this to myself.

I think resolving `isMissing` is the smallest fix we can ship with 5.9. Then, we can discuss a better alternative for the "missing" state for the next release.

P.S. Adding a block to a missing Template Part also triggers an error:
[code]

[2021-12-14 10:35] alex-dev-junior commented on #8150
![image](https://user-images.githubusercontent.com/59199470/145981736-d09f2204-3a97-4abc-91f2-a66b947c1491.png)
Faced this problem. Could you describe in more detail how to solve it?

Error text:
Error: Minified React error #31; visit https://reactjs.org/docs/error-decoder.html?invariant=31&args[]=object%20with%20keys%20%7Brendered%7D&args[]= for the full message or use the non-minified dev enviro

[2021-12-14 10:40] tomalec commented on #35630
I think one, devX improvement we could have is that it could be explicitly stated, which dependencies are externalized absolutely MUST be externalized not to lead to conflicts, and which simply are externalized to the same traffic.

Currently, as plugin developers, we need to maintain for months a local copy of a few `@…/components` or other package exports because we need bug fixes sooner. Waitin

[2021-12-14 10:44] carolinan commented on #37123
This has been solved, so I am closing this issue.

[2021-12-14 10:44] #37123 closed, assigned to nobody

[2021-12-14 10:50] jameskoster opened #37361 "Site Editor: Template Part gets emptied on undo"
This is a strange one. Take a look at the video below:

https://user-images.githubusercontent.com/846565/145984278-585920fc-aa1f-447a-8973-6ed155cd7d40.mp4

The Group block in my template has a padding value applied by my theme. If I reset the padding via design tools and then undo that action, my template parts are mysteriously emptied of all blocks.

[2021-12-14 10:51] jameskoster commented on #37361
_Possibly_ related to https://github.com/WordPress/gutenberg/issues/36937?

[2021-12-14 10:55] gziolo commented on #21008
I landed https://github.com/WordPress/gutenberg/pull/28273 today. It works with the `start`  command from `@wordpress/scripts` when the `--hot` flag is passed. In addition to that you will need either the Gutenberg plugin activated on the site and `SCRIPT_DEBUG` set to `true` or React Developer Tools installed in your browser.

The package should be published to npm with the `next` dist-tag at the

[2021-12-14 11:02] jasmussen commented on #36698
This should be fixed!

[2021-12-14 11:02] #36698 closed, assigned to vcanales

[2021-12-14 11:03] tomalec commented on #35630
In [Google Listings and Ads](https://github.com/woocommerce/google-listings-and-ads) plugin we started using `import something from '@woocommerce/settings';` statement, either:
- as we had to clone one of the `@woocommerce/components`, therefore we needed its dependencies
- as we make our own components that we try to keep aligned with the way WooCommerce components are made.

Naturally, instantly

[2021-12-14 11:27] jorgefilipecosta commented on #34445
As far as I know, there are no plans to have different palettes for text, background, etc. The plan is still to have all the palettes the same.

[2021-12-14 11:32] Andrew-Starr commented on #37330
I thought about defining a fixed font size for the Query Loop or Post Template, and then defining each inner block font size (Post Title, Excerpt, Post Author, Post Date etc) separately with the responsive global font size.

This would fix the layout breaking issue, but neither the Query Loop or Post Template blocks have typography support in the editor.

So how about wrapping the query in a Group

[2021-12-14 11:34] aristath commented on #37330
Have you tried an approach like this? https://github.com/aristath/q/blob/7e034026b335fbd6659d1ad9413dad12313e7cc9/theme.json#L4-L56

[2021-12-14 11:35] Andrew-Starr opened #37363 "Provide typography support at the Group block level."
## What problem does this address?

Currently the Group block does not have typography controls.

Please see https://github.com/WordPress/gutenberg/issues/37330 for details of the issue.
## What is your proposed solution?

Consider adding typography support at the Group block level.

[2021-12-14 12:16] gziolo commented on #37264
I opened https://github.com/WordPress/gutenberg/pull/37364 to fix the issues with `redux` configuration in `package.json` files.

[2021-12-14 12:41] github-actions[bot] opened #37366 "[Flaky Test] should group and ungroup a controlled block properly"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should group and ungroup a controlled block properly

## Test path
`specs/editor/various/block-grouping.test.js`

## Errors

<time datetime="2021-12-14T12:41:27.697Z"><code>[2021-12-14T12:41:27.697Z]</code></time> Test passed after 1 failed attempt on <a href="https://github

[2021-12-14 12:44] gziolo commented on #37264
@diegohaz or @ciampo, do you know why `reakit-utils` is listed as a peer dependency in `@wordpress/components`:

https://github.com/WordPress/gutenberg/blob/d6ec4d1781e2a2cc1a19c7807bd31d90dee26406/packages/components/package.json#L71-L73

I don't see any reference in the code other than in code comments next to TypeScript types.

[2021-12-14 12:47] #37320 closed, assigned to Mamaduka

[2021-12-14 12:48] paaljoachim commented on #24072
Well let's do a before and after.

Before:
![Screenshot 2021-12-14 at 13 45 25](https://user-images.githubusercontent.com/5323259/146001166-4915eb3b-bdd8-4d5e-bdab-8ff97be7853c.jpg)

After:
![Screenshot 2021-12-14 at 13 46 03](https://user-images.githubusercontent.com/5323259/146001176-ab74b1ab-729d-4dd0-aa9f-b1f41f3baef9.jpg)

The new Styles Panel takes a lot less space than the earlier one. It i

[2021-12-14 12:53] diegohaz commented on #37264
I think we've forgotten to remove it after a refactor. We shouldn't depend on that package.

[2021-12-14 13:03] getdave opened #37368 "Page List block infinite spinner if user has insufficient permissions to access Pages"
The Page List block will show an infinite spinner/loading if you add it as a Contributor role users. This is because certain users don't have perms to access certain entities.

Needs an error message to display.

------

_Originally posted by @getdave in https://github.com/WordPress/gutenberg/issues/37286#issuecomment-993516301_

[2021-12-14 13:09] kjellr commented on #37222
Hmm. These seem similar, but might be slightly different? In the case here, I'm mostly concerned about these messages showing up to front-end visitors.

[2021-12-14 13:15] getdave commented on #36286
## Recommendations for WP 5.9 Beta 3 or 4

I've been working with others on a range of solutions to [this problem](https://github.com/WordPress/gutenberg/issues/36286#issuecomment-990845661) around lower permission users' interactions with the Nav block.

I now believe that in order for a fix to be in place for WP 5.9, **the best and most expedient option is to display a UI warning to the user** e

[2021-12-14 13:15] ockham commented on #36096
Right, apologies for the lack of updates. The relevant code is unfortunately rather complex (nested callbacks etc) -- I think it's a result of the Publish/Update/Save logic requiring more and more of implicit state as multi-entity saving etc were implemented, and trying to fit that into the existing framework. Arguably, it could use a refactor with a somewheat different architecture (more explicit

[2021-12-14 13:23] Andrew-Starr commented on #37330
That's really interesting, thank you.

It still breaks the layout in Firefox because of the one instance of `1vw` which is fundamental to all of the font size slugs.

Replace the `1vw` with something like e.g. `19px` and the layout doesn't break, but then of course the font sizes stay fixed and don't respond/scale to the viewport.

[2021-12-14 13:23] mkaz commented on #36688
@jorgecontreras I see the commit on your fork for adding the pattern, do you want to submit that as a PR?
Let me know if you need any assistance, here is [the GitHub documentation on creating a PR from a fork](https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/creating-a-pull-request-from-a-fork).

[2021-12-14 13:26] paaljoachim commented on #36096
Hey Bernie

The PR and various refactors will come along in its own pace...:)
Thanks for the update!

[2021-12-14 13:29] gziolo commented on #37264
I opened https://github.com/WordPress/gutenberg/pull/37369 to fix the issue with `reakit-utils`.

@jonshipman, I think I addressed most of the issues from the list you shared. The biggest remaining question is whether we can do anything about reports for `react` and `react-dom`. In theory, they all should be satisfied through `@wordpress/element` so I would argue that the validator is too strict.

[2021-12-14 13:30] jasmussen commented on #36286
I left a comment on #37286, which — of the two suggested — feels like the best path forward to me: no layout shifts, and clearly announced error.

[2021-12-14 13:48] spacedmonkey commented on #36286
I believe we missed the cut off for beta 3 already. I believe it is due out Wednesday. Beta 4 is 100% possible.

[2021-12-14 13:49] paaljoachim commented on #17718
I was told that this site when checked on the Ipad (perhaps also iPhone) just showed a blue sky (seems zoomed in) instead of the regular image. https://opsalgard.no/

It uses the Cover block with a fixed image.

[2021-12-14 13:59] annezazu commented on #36905
Is this the same?! https://github.com/WordPress/gutenberg/issues/37340 If so, happy to close mine out :D

[2021-12-14 14:12] Andrew-Starr commented on #37330
In case anyone wants to recreate the breaking layout, this is the very basic html page I created for testing with the same CSS that Gutenberg uses for the Query Loop.
You'll notice the font size is defined with `vw` to make it scale according to the viewport width.

Resize the viewport slowly and notice the breaking layout in the firefox browser.

[code]

Guess I'm going about this the wrong way i

[2021-12-14 14:12] annezazu commented on #36655
Hey @pansamolot ! I can replicate this. Here's a draft from May 2021:

<img width="527" alt="Screen Shot 2021-12-14 at 9 10 11 AM" src="https://user-images.githubusercontent.com/26996883/146014304-d5e5b541-5320-4bbc-9396-fe42c75ffba1.png">

Here's a draft from October 2021:

<img width="432" alt="Screen Shot 2021-12-14 at 9 11 36 AM" src="https://user-images.githubusercontent.com/26996883/14601454

[2021-12-14 14:13] ice9js opened #37374 "Image block not resizing correctly"
### Description

I noticed the image block breaks when you attempt to resize it if `Insert from URL` feature was used and the image is using left, right or center align.
The image appears fine in the editor but you'll notice negative values for `width` and `height` in the sidebar - once you reload the editor or go into the preview the image will be sized differently.

### Step-by-step reproduction

[2021-12-14 14:19] annezazu commented on #36864
@premanshup I'd recommend reviewing this discussion! https://github.com/WordPress/gutenberg/issues/30496 For now, I'm going to close this out since it's not directly related to the functioning of the Gutenberg project. I'd recommend perhaps bringing this to the next block theme discussion in Make Slack for further thoughts if you need them :) More details about meetings can be found in the sidebar

[2021-12-14 14:19] #36864 closed, assigned to nobody

[2021-12-14 14:23] annezazu commented on #36812
Tagging @ryelle in case you have any insights here :)

[2021-12-14 14:24] paaljoachim commented on #17718
I tried the fix mentioned by @depthoffocus but from what I see it is not working.
If anyone has a newer fix (should work with Ipad version 15.1) do please add it here (or add a link to a fix).
Thanks!

[2021-12-14 14:24] annezazu commented on #36830
@kevin940726 any thoughts here?

[2021-12-14 14:25] annezazu commented on #36875
Tagging @oandregal to share any insights :)

[2021-12-14 14:44] Mamaduka commented on #37361
I think this is a regression after #37283.

[2021-12-14 14:47] Andrew-Starr commented on #37330
The issue does not appear with an odd number of columns, only even e.g. 2 or 4 columns.

The width of each post (2 columns) is defined like so: `width: calc(50% - .625em)`

If this is rounded up e.g. `width: calc(50% - .63em)` it fixes the issue and the actual on screen difference in each column is approx a tenth of a pixel narrower, which does not look noticeable to the human eye.

Would this be

[2021-12-14 15:11] mtias commented on #24072
@getsource yes, this addresses the main inconveniences we had before more reliably than initially collapsing.

[2021-12-14 15:11] #24072 closed

[2021-12-14 15:22] kjellr opened #37378 "Update the editor's default font sizes"
As per the comments in https://github.com/WordPress/gutenberg/pull/37038#issuecomment-993599138, we should update the default font-size presets provided by Gutenberg [as defined here](https://github.com/WordPress/gutenberg/blob/61de10636cca2869269db2c20315b763d11927fc/lib/compat/wordpress-5.9/theme.json#L196-L221). This will drop down to 4 sizes, eliminating the "Normal" font size.

[code]

When w

[2021-12-14 15:48] sabernhardt commented on #36506
The Trac change works for me.

[2021-12-14 15:48] #36506 closed, assigned to mkaz

[2021-12-14 16:05] Andrew-Starr commented on #37330
It would be tricky to round up the `em` value like in the previous example, so an alternative would be to simply take away another 0.1px from the calculated value in the relevant SCSS file.

This:
[code]

Could be changed to this:
[code]

[2021-12-14 16:09] #36166 closed, assigned to tellthemachines

[2021-12-14 16:11] mrwweb commented on #5037
@youknowriad Thanks for reopening! I hope this can get some eyes on it in the coming versions!

I wonder if it would be possible to make the outline by parsing the rendered editor contents? Between the Classic block, HTML block, Reusable Blocks, and 3rd-party blocks, it seems that making this change would likely make the outline more useful in a significant number of cases and also help highlight

[2021-12-14 16:12] skorasaurus commented on #36926
@alexstandiford from a fellow Ohioan, thank you for your appreciation :)

[2021-12-14 16:18] hellofromtonya opened #37379 "Rename WP_Theme_JSON_Resolver methods to replace `custom_post_type` references"
### Description

This issue is opened in to resync Gutenberg with WordPress Core. Core does not use `custom_post_type` naming as it's not custom to Core. In [Core's Trac ticket 54517](https://core.trac.wordpress.org/ticket/54517) and [changeset 52372](https://core.trac.wordpress.org/changeset/52372), the following methods were renamed:

* `WP_Theme_JSON_Resolver::get_user_custom_post_type_id()` re

[2021-12-14 16:21] #34822 closed, assigned to mkaz

[2021-12-14 16:33] carolinan commented on #36286
Beta 3 is the string freeze, so 4 would be too late to add a new error message.

[2021-12-14 16:37] mchowning commented on #29483
Noticed that [stylelint-config-wordpress](https://github.com/WordPress-Coding-Standards/stylelint-config-wordpress) was [copied into Gutenberg last year](https://github.com/WordPress/gutenberg/pull/22777), but I don't think that's an issue for the dual-licensing because that code was MIT-licensed in the original repo, which liberally permits relicensing and is GPL-compatible.

[2021-12-14 16:39] getdave commented on #36905
Oh man this was a poorly created Issue. My bad. Let's keep https://github.com/WordPress/gutenberg/issues/37340

[2021-12-14 16:39] #36905 closed, assigned to nobody

[2021-12-14 16:41] ryelle commented on #36812
@CreativeDive What browser are you seeing this in? Do you see the same issue with the "Pricing Table" or "Three columns of text" patterns?

[2021-12-14 17:02] oandregal commented on #36875
Thanks for sharing and tagging! I've got a fix for this at https://github.com/WordPress/gutenberg/pull/37380

[2021-12-14 17:08] ntsekouras commented on #37143
Yes! That's the one I was referring to, thanks Anne!

[2021-12-14 17:19] oandregal commented on #37378
PR for this at https://github.com/WordPress/gutenberg/pull/37381

[2021-12-14 17:48] jorgecontreras commented on #36688
hi @mkaz sounds good! I'll send a PR shortly. Thanks!

[2021-12-14 18:26] ntsekouras commented on #35498
👋 Thanks for reporting this!

I couldn't reproduce the issue with the latest `tt1-blocks` and Gutenberg `trunk`. In general this sounds more like a theme specific issue (misconfiguration at block level or theme.json 🤔 ). Can you still reproduce this problem? If not I guess we can close this issue 😄

[2021-12-14 18:27] #37327 closed, assigned to ntsekouras

[2021-12-14 18:37] ribaricplusplus commented on #35498
Yes, makes sense that it got fixed through one of the various changes. I'll close the issue. Thanks for taking a look!

[2021-12-14 18:37] #35498 closed, assigned to nobody

[2021-12-14 19:39] thomasplevy commented on #13024
I'm seeing this issue on WP 5.8.2 & WP 5.9-beta2-5236

Video from 5.9. I haven't tested the latest Gutenberg but reading the code I don't think it would have any different behavior

https://user-images.githubusercontent.com/1290739/146067593-9a42974f-b8e9-4bb0-a3dc-7a641164a72c.mp4

[2021-12-14 19:46] iandunn commented on #36785
Are you referring to https://core.trac.wordpress.org/ticket/22023 ? It seems like https://core.trac.wordpress.org/changeset/30238 protects against duplicate slugs within a taxonomy, but I'd be interested in hearing more. Can you link to a ticket or post that goes into detail?

Otherwise, that seems like a situation that Core doesn't support.

xref core changes: [4.1](https://make.wordpress.org/cor

[2021-12-14 19:49] annezazu commented on #36967
I can replicate this with 5.9 Beta 2 and don't see any recent PRs around this ahead of future Betas. It's unclear to me what's intended here though!

[2021-12-14 20:35] wolffe commented on #13024
I was never able to delete a post or a page from the block editor since Gutenberg came out (years ago). I always have to go to Posts (or Pages), select the post and delete from the dropdown. On all my sites and my clients' sites, hundreds of them.

It's something I live with.

[2021-12-14 20:40] stacimc commented on #36096
I took a look at this and I think I was able to get it working. I understand if a refactor makes sense moving forward, but #37383 has a possible fix for the meantime and some notes for what I think is happening here, so hopefully it's helpful!

[2021-12-14 20:54] dcalhoun commented on #29358
I have not found a solution to this, but spent time researching this and wanted to capture my findings.

It would appear this may be related to [the `pointerEvents="box-none"` attribute](https://reactnative.dev/docs/view#pointerevents), and a potential bug in its implementation.

The Gutenberg project leverages `react-native-modal` for the bottom sheet. `react-native-modal` includes an absolutely-

[2021-12-14 20:55] eoinsav opened #37385 "Block styling disappears for single block when multiple are highlighted"
### Description

When highlighting text in a Paragraph Block, the following controls are available:

<img width="432" alt="Markup 2021-12-14 at 12 50 29" src="https://user-images.githubusercontent.com/35590156/146077283-6c5361a5-73df-40f2-b08b-c450ffdbd819.png">

--------

If you accidentally highlight another Block with your curser and then move it back, the above controls are gone, as shown here

[2021-12-14 20:56] eoinsav commented on #37385
Probably related: https://github.com/WordPress/gutenberg/issues/37188

[2021-12-14 21:10] wpsoul opened #37386 "__experimentalUseInnerBlocksProps is not available in Wordpress 5.9?"
### Description

Today I tested beta version 2 for Wordpress 5.9 and found that this module is not available

TypeError: (0 , _wordpress_block_editor__WEBPACK_IMPORTED_MODULE_4__.__experimentalUseInnerBlocksProps) is not a function

Will it be available in final release? Is any way now to make inner blocks without wrappers "block-editor-inner-blocks"?

### Step-by-step reproduction instructions

1

[2021-12-14 22:39] adamsilverstein commented on #6652
I noticed recently that when inserting an image from a URL we don't set height and width in the HTML. Is that covered in an existing issue or trac ticket somewhere? cc: @joemcgill

[2021-12-14 22:45] Enchiridion commented on #35099
I would also like to see the default format changed.  Between JSON5 and YAML, I'd strongly prefer YAML.  It's much easier for humans to read/write, no commas or quotes to worry about.

I tried using the $schema with JSON, but it leaves a lot to be desired.  I just created a YAML version of theme.json and documented it (including the new/experimental stuff that's missing from $schema) for the other

[2021-12-15 00:10] noisysocks commented on #36556
I'm hearing feedback that it's confusing to have both this issue and the [project board](https://github.com/WordPress/gutenberg/projects/62). Given most of the items here are checked off, and the two remaining items are also in the project board, I'm going to close this out.

Let's work on closing out as many items as we can in the project board before RC 1.

[2021-12-15 00:10] #36556 closed, assigned to nobody

[2021-12-15 00:29] ramonjd commented on #28914
I think https://github.com/WordPress/gutenberg/pull/35973 closes this as well.

[2021-12-15 00:31] paaljoachim commented on #28914
Thank you @ramonjd Ramon and @glendaviesnz Glen!

[2021-12-15 00:45] glendaviesnz commented on #32815
On GB trunk on WP 5.8 if I deregister the `core/image` block and then load an image block into the editor it shows the standard unrecognised block error message:

![no-core](https://user-images.githubusercontent.com/3629020/146101911-d8306674-093b-4105-a42b-591fa7e618e6.gif)

@markhowellsmead, how did you deregister the block in order to get the [empty block toolbar](https://github.com/WordPress/g

[2021-12-15 01:36] cometgrrl opened #37387 "Navigation Block: improve page jump experience in responsive modal"
### Description

When using a navigation block with a page jump, the page jumps aren't working on mobile.

### Step-by-step reproduction instructions

1. Create a navigation block menu
2. Add a page jump to the menu
3. Open the site on a mobile device
4. Open the menu, tap on the page jump item in the menu

On the example site, this menu item is #after-image.

Expected: tapping the menu item for t

[2021-12-15 02:26] talldan commented on #37386
@wpsoul I believe the API is stable from WordPress 5.9 onwards, so your code would just be:
[code]

However, for backwards compatibility with older WordPress versions you'll want to import both and check which one is defined.

[2021-12-15 02:26] #37386 closed, assigned to nobody

[2021-12-15 02:51] annezazu opened #37388 "Global Styles: Setting color for List block impacts Post Template block"
### Description

This was found as part of the [eleventh call for testing for the FSE Outreach Program](https://make.wordpress.org/test/2021/11/08/fse-program-testing-call-11-site-editing-safari/#comment-2254):

This is the PR referenced: https://github.com/WordPress/gutenberg/pull/36676  cc @oandregal as a heads up.

### Step-by-step reproduction instructions

1. Open site editor and ensure a Que

[2021-12-15 02:52] annezazu commented on #36606
I _think_ the same issue came up with the [latest call for testing for the FSE Outreach Program](https://make.wordpress.org/test/2021/11/08/fse-program-testing-call-11-site-editing-safari/#comment-2254) (let me know if this is a different issue though and I'll open a new one):

Excited to know a fix is already in the works! Thanks, Nick!

[2021-12-15 03:13] glendaviesnz commented on #37374
I wasn't able to replicate this on the latest GB trunk:

![resize](https://user-images.githubusercontent.com/3629020/146116246-dfe7e266-58ed-4ff2-89f1-1f9b02816dcd.gif)

I wonder if it was fixed by #37210, @ice9js is it possible for you to retest in an environment with a build of the latest GB trunk?

[2021-12-15 03:28] annezazu opened #37389 "Post Comments Form Block error upon updating to 5.3 beta"
### Description

This might be quite an edge case but, to be safe, reporting here. After using GB + beta 2 or 5.8.2 and adding in the Post Comments Form block, upon updating to 5.3, I see an error and the block does not load. I recognize this might be due to some happenings with the Comments Loop work potentially https://github.com/WordPress/gutenberg/issues/34994. cc @SantosGuillamot for any insi

[2021-12-15 03:31] annezazu commented on #37072
@ntsekouras  any chance you can share any insights here? :)

[2021-12-15 03:33] annezazu commented on #37093
@apeatling might you know someone who might be able to check this out based on recent work on this UI?

[2021-12-15 03:34] annezazu commented on #37126
Adding to the 5.9 project to be triaged further :)

[2021-12-15 03:35] annezazu commented on #37173
Closing this out thanks to @Andrew-Starr  excellent guidance 💥

[2021-12-15 03:35] #37173 closed, assigned to nobody

[2021-12-15 03:38] annezazu commented on #37124
Curious if @jffng might have thoughts here.

[2021-12-15 03:41] annezazu commented on #37111
From what I can see, this is intended :) @oandregal can you confirm and close out if so?

[2021-12-15 03:44] annezazu commented on #37177
I wasn't able to replicate this with WordPress 5.9 beta 3 using the Twenty Twenty-two theme. Closing this out as a result!

<img width="1147" alt="Screen Shot 2021-12-14 at 10 43 29 PM" src="https://user-images.githubusercontent.com/26996883/146119355-c62a8488-e195-4b73-bea9-ad802a565f2e.png">
<img width="491" alt="Screen Shot 2021-12-14 at 10 43 39 PM" src="https://user-images.githubusercontent.c

[2021-12-15 03:44] #37177 closed, assigned to nobody

[2021-12-15 03:50] annezazu commented on #37206
Likely related is the API for Global Styles: https://github.com/WordPress/gutenberg/pull/34843

[2021-12-15 03:52] annezazu commented on #37387
I can replicate this with 5.9 Beta 3. Thanks so much for your report!

[2021-12-15 03:54] #36510 closed, assigned to Mamaduka

[2021-12-15 03:57] talldan commented on #37222
Yes, I didn't quite catch that this was on the front-end of the site. 👍

Do you think this should be fixed for 5.9? My feeling is that it probably should be, so I'll add it to the project board.

[2021-12-15 04:19] kevin940726 commented on #36830
I'm not really experienced with WP PHP filters, maybe @noisysocks knows?

[2021-12-15 05:05] carolinan opened #37391 "PHP notice when activating Gutenberg trunk on WP trunk (5.9 beta 3)"
### Description

When I try to activate Gutenberg (trunk) on WordPress 5.9 beta 3 (a git clone of [wordpress-develop](https://github.com/WordPress/wordpress-develop))
I see the following PHP notice:

`Notice: WP_Block_Type_Registry::register was called incorrectly. Block type "core/gallery" is already registered. `

### Step-by-step reproduction instructions

Install WordPress 5.9.0 beta 3
Install

[2021-12-15 05:23] gziolo commented on #37389
Post Comments Form block is still experimental inside the Gutenberg plugin. It isn’t part of WordPress 5.9 release as well. The only block related to comments that WP 5.9 ships is the Post Comments block.

[2021-12-15 07:20] Mamaduka commented on #37361
The same happens with Reusable blocks and I'm also able to reproduce this by running following code in console:

[code]

I think the `tree[ 'controlled||' + clientId ]` is lost when running `RESET_BLOCKS` action.

[2021-12-15 07:38] jasmussen commented on #37387
Thanks for reporting the issue! As I understand, when you're linking to an HTML anchor (for example a link to `#after-image`), you'd like the menu to close and navigate you to the particular item? Here's a GIF showing 3 types of links to an anchor:
![link to subheading](https://user-images.githubusercontent.com/1204802/146142778-2121d954-b144-4636-b398-d23464ccab80.gif)

I don't know that this one

[2021-12-15 08:00] jasmussen opened #37397 "Nested blocks: right-clicking causes errors, can crash"
Right clicking a selected block that has editable text causes errors. In this GIF I'm right clicking editable text inside Button blocks and Groups:
![error](https://user-images.githubusercontent.com/1204802/146146229-69fa06f9-6535-4c81-be68-1eb06882be8f.gif)

_Edit: The easiest way to reproduce this is to insert a navigation block and build a menu that has at least one submenu, then right-click an

[2021-12-15 08:03] jasmussen commented on #37397
It appears to be easier to reproduce the crash by inserting a navigation block with a few menu items.

[2021-12-15 08:04] mitradranirban opened #37398 "Unified Payment Interface [UPI] links corrupted by Gutenberg"
Unified Payment Interface or in short UPI is a revolutionary digital payment method created in India which has made digital payments simple, accessible, safe and secure. One way a person can simply pay through upi is to click a upi protocol url such as upi://pay?pa=MyVPA&pn=MyName&am=Amonunt&cur=INR . Though such urls work perfectly in vanilla webpages when clicked, by opening up upi enabled app f

[2021-12-15 08:08] mitradranirban commented on #37398
Necessary links for consideration
https://www.npci.org.in/what-we-do/upi/product-overview
https://en.wikipedia.org/wiki/Unified_Payments_Interface
https://www.mygov.in/digidhan/pages/pdf/sbi/NPCI%20Unified%20Payment%20Interface.pdf

[2021-12-15 08:17] jasmussen commented on #9184
I'm seeing this button appear unrelated to the media placeholder component. Just select the title block, then the another block, then the title block:
![buttons](https://user-images.githubusercontent.com/1204802/146149118-4caa0b23-e870-42c8-968d-4f388fd91292.gif)

[2021-12-15 08:22] #35445 closed, assigned to mkaz

[2021-12-15 08:41] kubiqsk commented on #36830
I think there are two possibilities

1. We can add some filter only for `render_block_core_legacy_widget` function in `/wp-includes/blocks/legacy-widget.php`, like:
[code]

2. or to make it more global and universal add filter to `the_widget` function in `/wp-includes/widgets.php`, like:
[code]

[2021-12-15 08:43] ramonjd commented on #28914
Just tested on trunk. The placeholder will now appear where an image has been deleted 🎉

[2021-12-15 08:52] markhowellsmead commented on #32815
<s>Please refer to https://github.com/WordPress/gutenberg/issues/32815#issuecomment-965054089 in which I confirm that this relates to custom blocks, not core blocks.</s>

`unregisterBlockType('core/image')`

[2021-12-15 08:53] carolinan opened #37399 "The animation in the welcome guide for the template editor hides the close button"
### Description

In the welcome guide for the template editor, the animation has dark grey background.
Once the animation stops, the close button which is also dark grey or black (#1e1e1e), is barely visible.
The contrast ratio for the background color and the icon is only 1.1.1.

### Step-by-step reproduction instructions

1. Activate a theme with support for template editing.
2. Create or open a

[2021-12-15 08:58] markhowellsmead commented on #32815
Note that you have to add the block, save the post, then amend the code to deregister the block which is already placed in the content, then reload the editor.

[2021-12-15 09:05] talldan commented on #37398
@mitradranirban Please could you add some steps to reproduce this issue.

I had a go at testing, and there were no issues with the protocol being replaced.

[2021-12-15 09:22] #37378 closed, assigned to oandregal

[2021-12-15 09:29] youknowriad commented on #37361
In my thinking that should have been fine because "resetting" means the controlled blocks should bring back their content again from "core" store. I guess it doesn't work though because these controlled blocks are not "remounting" in this case.

So yeah, I guess we have two options:

 - Try to compare the incoming list of blocks with the blocks already in state (and retain all the controlled block

[2021-12-15 09:46] carolinan commented on #37128
I am able to reproduce this. I wonder if it is related to https://github.com/WordPress/gutenberg/issues/36124

To test, I added this code to functions.php in Twenty Twenty Two:
[code]

Note: Template parts are no longer allowed (they can't be placed) inside the post template.
See https://github.com/WordPress/gutenberg/pull/37157

[2021-12-15 10:12] EmSixTeen commented on #26223
This is both infuriating and confusing, and is one of the many off-putting things about Gutenberg. It's bad enough that 'Fullscreen mode' is enabled by default. Please, oh _please_ add this preference setting.

[2021-12-15 10:17] mitradranirban commented on #37398
I set url to upi://pay/?pn=... which is converted after saving the page in gutenberg to https://pay/?pn=... however the UPI payment function will only work if the url starts with upi:// as in my vanilla html page
![Screenshot from 2021-12-15 15-22-41](https://user-images.githubusercontent.com/67600799/146168093-68cfabd1-91fa-485c-9b11-7c32820763e2.png)
![Screenshot from 2021-12-15 15-23-31](https:

[2021-12-15 10:18] github-actions[bot] opened #37400 "[Flaky Test] shows a warning if user does not have permission to edit or update navigation menus"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
shows a warning if user does not have permission to edit or update navigation menus

## Test path
`specs/editor/blocks/navigation.test.js`

## Flaky rate (_estimated_)
`1 / 2` runs

## Errors

<details>
<summary>
	<time datetime="2021-12-15T10:18:13.692Z"><code>[2021-12-15T1

[2021-12-15 10:19] carolinan commented on #37128
The template part is missing because the theme attribute is "undefined".
But can we safely assume that if the theme attribute is missing, it is always the active theme?
Right now we can't mix template parts between themes, but we "should" be able to do that in the future.

[2021-12-15 10:24] carolinan commented on #37128
Perhaps it makes sense to fall back to a template part in the active theme, if no exact match is found?

[2021-12-15 10:35] #36875 closed, assigned to oandregal

[2021-12-15 10:35] Humanify-nl commented on #12420
NB. For those still struggling with this, until this is added / solved.

Adding a style to the list block generates the 'is-style-default' class to the unstyled list. For now, i've found this is the easiest way to solve the problem of splitting CSS code for generic ul applications like menu, gallery etc, in my custom theme. Since lists are quite often styled with a block-style in practice, this is

[2021-12-15 10:54] Aljullu opened #37401 "Gutenberg_Block_Template 'theme' property is confusing, because templates might be added by plugins instead of themes"
### Description

Currently, the `Gutenberg_Block_Template` has a [`theme` property](https://github.com/WordPress/gutenberg/blob/8eb1f341285362f6a131fcba81a8d054b6b5b5c5/lib/compat/wordpress-5.9/class-gutenberg-block-template.php#L21-L26) that is used to indicate which theme the template belongs to. That works great for themes, but it's confusing when plugins add templates: should plugin devs set t

[2021-12-15 11:06] mtias commented on #28356
Thanks for looking into this followup @ndiego. Out of all the dimension tools, margin is the trickiest to expand, particularly to non-layout blocks, because it's not easy to grasp how it works or how it interacts with adjacent margins. It also makes it difficult to reason about when it comes to boundaries — like deciding where to add a margin within or outside template parts.

Towards 6.0 I'd like

[2021-12-15 11:15] antonis opened #37403 "[RNMobile] Columns block: Column background color is not visible on the mobile editor"
## Description
If you have a Column with child Heading & Paragraph blocks, then I apply a background-color to the Column, a visible background fill is only applied to the children — not to the parent.

## Step-by-step reproduction instructions
1. Open the editor
2. Add a columns block
3. Add a paragraph block in one of the columns
4. Change the background of a a column
5. *Notice* that the column

[2021-12-15 11:32] ndiego commented on #28356
Thanks for the thoughtful response @mtias! I completely agree that the spacer block is much more intuitive and is great when users need to add spacing between blocks. The use-case that the spacer block does not solve is removing margin, particularly in `blockGap` scenarios where `margin-top: X` is added to every block. Similarly, for paragraphs in particular, most themes and even browser defaults

[2021-12-15 11:54] blaasvaer opened #37405 "OK, guys. Back to the drawing board!"
### Description

Image size do NOT work in any useful way. If you simply want to add an inline image you have to spend the whole day pulling hair and messing around with obscure settings that do NOT make it easy (actually impossible inside the Gutenberg Editor alone) to simply have an image follow the width of the text and maintain its proportions. Now, HOW could a simple case like that be complet

[2021-12-15 12:03] Mamaduka commented on #37126
Hi, @carlomanf

The templates REST API endpoint uses `edit_theme_options` for permission checks, and if I remember correctly, this is why we don't check meta caps.

Pinging @spacedmonkey in case my knowledge isn't up to date.

[2021-12-15 12:15] BicanMarianValeriu commented on #37128
I switched to wp:pattern inside wp:pattern until further updates - that works atm.

[2021-12-15 12:21] mtias commented on #12420
@markhowellsmead all blocks can have a render callback attached. They are used in core to hook many behaviours, like responsive images, etc.

[2021-12-15 12:47] gziolo commented on #37096
I opened #37406 with a fix.

[2021-12-15 12:50] jameskoster opened #37407 "Expand the types of templates that can be added in the Site Editor"
Currently it's possible to add the following Primary templates in the Site Editor:

* Front page
* Single
* Page
* Archive
* Search
* 404
* Index

It's a good start, but the WordPress template hierarchy allows for much more expression. It would be good to explore flows that allow the creation of:

- [x] Custom/general templates https://github.com/WordPress/gutenberg/issues/36860
- [x] Template for

[2021-12-15 12:56] ockham commented on #36096
Filed draft PR with e2e test based on https://github.com/WordPress/gutenberg/issues/36096#issuecomment-971926623: https://github.com/WordPress/gutenberg/pull/37408

[2021-12-15 13:05] gziolo commented on #37143
Thank you for linking the related issue!

That part of the issue applies to the Comments Query Loop block, too. However, my biggest concern was the use case where users edit the Single Post template and they see placeholders (block names) for the blocks like:
- Post Content
- Post Date
- Post Author
- Post Terms

It happens because there is no post id selected in the editor so there is no data to

[2021-12-15 13:12] #33248 closed, assigned to andrewserong, ntsekouras

[2021-12-15 13:18] gziolo commented on #37154
A quick update, I have just merged https://github.com/WordPress/gutenberg/pull/36431 that radically improves the experience around the block selection for the Query Loop block.

It's a very tricky issue we deal with here because we mostly show block previews but at the same time we have to support full interactivity for the currently selected block. Let us know when you have a prototype ready so w

[2021-12-15 14:19] sajpro commented on #13645
@hanyseyedy Could you please share the source code as a gist that how have done this? I am having trouble with the same issue.

 Thanks

[2021-12-15 15:19] oandregal commented on #37379
Thanks, Tonya, for tracking the changes back to Gutenberg.

[2021-12-15 15:24] spacedmonkey commented on #37126
There is already a core ticket for this [https://core.trac.wordpress.org/ticket/54516 #54516].

I have work in progress fix for this here - https://github.com/WordPress/wordpress-develop/pull/2026

[2021-12-15 15:33] oandregal commented on #37111
I'd cc @ntsekouras or @youknowriad for thoughts on this one as it seems layout-related styles.

[2021-12-15 15:52] dumitrub opened #37411 "Implement Logical CSS Properties"
## What problem does this address?
Logical CSS Properties make layouts LTR and RTL compatible by default.

## What is your proposed solution?
For reference: [https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Logical_Properties](https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Logical_Properties)
Replace all occurrences of CSS properties that include the keywords "-left", "-right", "-top" an

[2021-12-15 16:00] annezazu commented on #37389
I somehow missed this :) For reference, pulled up this discussion: https://github.com/WordPress/gutenberg/pull/35979#issuecomment-956937732 Closing this out as a result. Thanks for connecting the dots!

[2021-12-15 16:00] #37389 closed, assigned to nobody

[2021-12-15 16:03] BicanMarianValeriu commented on #37128
@carolinan I can confirm that adding theme attribute ("theme":"wecodeart"), the block renders correctly - but you are right - it makes sense to fallback to the active theme if that is undefined.

Note: after https://github.com/WordPress/gutenberg/pull/37370 I noticed that the "not found" message does not appear anymore, instead it renders the empty template-part container.

[2021-12-15 16:03] adamziel commented on #37190
@noisysocks I would say it's both :D but if I have to choose, it's more of a Code Quality thing. It should be fine to fix it in 6.0. I intuitively sense a larger refactor would be needed here, which means new bugs, which isn't great during the Beta period.

[2021-12-15 16:06] skorasaurus commented on #37411
Love to this; it's now (finally) possible since gutenberg is no longer supporting IE 11 which didn't have support for all of those properties.

[2021-12-15 16:13] annezazu commented on #37126
Thank you both for chiming in and connecting dots. I'm going to close this out and defer to the core ticket to reduce confusion.

[2021-12-15 16:13] BicanMarianValeriu commented on #37411
Love this - this should apply to block generated classes as well like: "has-text-align-left" => "has-text-align-start"? or flex alignments?

[2021-12-15 16:16] dumitrub commented on #37411
Renaming CSS classes will have larger consequences that changing the properties. So I can't really ask for that :)

[2021-12-15 16:25] ndiego commented on #36606
@annezazu yup this is the same issue that you quoted!

[2021-12-15 16:56] #37379 closed, assigned to Mamaduka

[2021-12-15 17:11] kjellr commented on #37222
Yeah, I think it should be. Thank you!

[2021-12-15 17:13] Mamaduka commented on #37222
@kjellr, PR is ready for the review :)

[2021-12-15 17:32] youknowriad commented on #37111
This is intended yes, but I think we can improve the situation by making the layout work like any preset. For this reason I'm closing this in favor of #36944

[2021-12-15 17:32] #37111 closed, assigned to nobody

[2021-12-15 17:53] kjellr opened #37413 "[Navigation] The responsive menu contents flow oddly when using the Page List block"
I'm seeing menu items flow in an unexpected left-to-right way when a page list block is involved. If the navigation block fills up most or all of the viewport, subsequent individual items float off to the right.

In the GIF below, the "Testing" items are individual pages, and the rest of the content is a single "Page List" block.

![navigation](https://user-images.githubusercontent.com/1202812/146

[2021-12-15 17:53] kjellr commented on #37413
cc @jasmussen in case you know what's causing this.

[2021-12-15 18:07] skorasaurus commented on #36150
Hi @tomjn ;

I'm not able to reproduce this on Gutenberg 12.1 and WP 5.8.2; there are now inline rules that take precedence over the reset.css as shown in the image below. (Now, whether Gutenberg should be using so many inline rules, is another opinion :( )

I used the popper theme to test this.

![image](https://user-images.githubusercontent.com/955351/146241225-c81fd2fd-f382-4986-848d-51e67db7aa

[2021-12-15 18:07] #36150 closed, assigned to nobody

[2021-12-15 18:08] jasmussen commented on #37413
Huh, that's curious indeed. I'll take a look, thanks for the ticket!

[2021-12-15 18:22] Otto42 commented on #37407
This would seem to be a necessary item for a viable release.

The very first thing I attempted to do when switching to the new theme and editor was to try to find how to create a Category Archive template. Couldn't find it.

Eventually I worked out that copying archive.html to category.html in twentytwentytwo did the trick, but that is very unintuitive.

Seems like the existing Template Hierarchy

[2021-12-15 19:03] zaguiini commented on #33678
It's not only un-nesting... It's also not possible to move a block to the end of a group. It always becomes a child of the last node, instead of becoming the last node itself. It sounds confusing, so let me add a recording:

https://user-images.githubusercontent.com/26530524/146248792-65e4f0aa-dab9-4fc5-a367-cf758b73d8a6.mov

Look how I can make `Group` the previous sibling of `Layout Grid`, but I

[2021-12-15 19:21] zaguiini opened #37417 "Detach panels from the main editor flow"
## What problem does this address?

The panels (i.e. layout view, block settings, global styles) take up space from the page flow and squeeze the editor width. That makes for a misleading preview of the page inside the editor.

Look how the spatial disposition changes within three different scenarios:

| Editor with panels open | Editor without panels | Live site |
| ------------------- | --------

[2021-12-15 19:26] bgoewert commented on #31849
Can we also have the option of including image captions for featured images? The regular image block can do this why not featured images?

Not as a default like the regular image block, but have the ability to enable them on featured images like on single post templates specifically. Or maybe selectively? — depending on how it is displayed people might want captions for featured images, like in th

[2021-12-15 19:31] zaguiini opened #37418 "Allow preview breakpoints customization"
## What problem does this address?

Right now, preview "devices" are not self-explanatory. We see:

- Desktop (full-width);
- Tablet;
- Mobile.

But the user has no idea of the dimensions for each preview device.

## What is your proposed solution?

Add an option to customize the breakpoints for each viewport. We might also display the breakpoints in a lighter gray color right next to its name so

[2021-12-15 19:37] zaguiini opened #37419 "Site editor: Allow on-the-fly device preview customization"
## What problem does this address?

We're using two fixed-width device preview dimensions (tablet and mobile) and a wide one (desktop).

When on desktop, resizing the window reflects the dimension change immediately.

However, tablet and mobile don't have such controls, but we have multiple screen dimensions for them, and having a fixed one doesn't have much.

## What is your proposed solution?

A

[2021-12-15 19:45] zaguiini opened #37420 "Improve feedback on impossible actions"
## What problem does this address?

Sometimes the user is attempting to perform an impossible action (e.g. trying to add two blocks that can't live together, or trying to nest un-nestable blocks) and there's no feedback at all that the action cannot be done.

That happens on both list view and the editor itself.

## What is your proposed solution?

- Change the cursor to `not-allowed`;
- Change th

[2021-12-15 19:50] zaguiini opened #37421 "Selectively change font size inside Paragraph"
## What problem does this address?

Allow font size change by selecting a range of already existing text:

![image](https://user-images.githubusercontent.com/26530524/146255199-e05285f0-71c4-4c13-9b36-af3d3b481c46.png)

Right now, changing the font size in the block settings changes the whole block's text size, not only the selected area.

## What is your proposed solution?

Split the selected ran

[2021-12-15 20:34] psorensen commented on #34977
Similar situation as the OP. A lot of our clients rely on custom taxonomies to curate content. Providing any mechanism for devs to extend would be super useful. As a dev, I'd be happy the filter proposed here https://github.com/WordPress/gutenberg/issues/36504

[2021-12-15 20:45] althe3rd opened #37423 "Gutenberg Pattern Previews and Style Variant Previews broken when Grammarly Browser Extension Enabled"
### Description

When editing a post/page the Gutenberg pattern previews and style variant previews that normally appear in a small iframe are broken when the Grammarly Browser Extension is enabled.

**Versions**
WordPress: 5.8.2
Chrome: Version 96.0.4664.110
Grammarly for Chrome Extension: 14.1042.0

With Grammarly Extension Enabled
![Screen Shot 2021-12-15 at 2 38 10 PM](https://user-images.gith

[2021-12-15 20:58] althe3rd commented on #37423
I have also filed this bug with Grammarly as well hoping that one or the other party can take some action on getting this resolved. Many of our editors utilize grammarly in their day to day work.

[2021-12-15 21:04] skorasaurus commented on #37418
Thanks for reporting;
This has been discussed and/or requested in  https://github.com/WordPress/gutenberg/issues/21235. Feel free to [add your reaction](https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/about-conversations-on-github#reacting-to-ideas-in-comments) and follow its progress in the issue.

[2021-12-15 21:04] #37418 closed, assigned to nobody

[2021-12-15 21:08] fabiankaegy commented on #34977
This is something that I've seen come up again and again on client projects.

I hadn't found this issue then but added a comment about it in this PR that would allow for developers to extend the block manually to get the desired result.
https://github.com/WordPress/gutenberg/issues/36504#issuecomment-983844036

A native Support in core would of course make this even better :)

[2021-12-15 21:10] annezazu commented on #32861
Related issue just opened :) https://github.com/WordPress/gutenberg/issues/37407

[2021-12-15 21:25] skorasaurus commented on #16654
I came across while debugging an unrelated issue with URLs.
my interpretation of the original poster was requesting to provide some signal or validation that when &preview=true included in an URL, it would be marked as invalid.

Currently it is possible for a content editor to copy and paste the preview editor from Gutenberg's post-preview toggle
(e.g. `https://yourwebsiteaddress.test/?page_id=128

[2021-12-15 22:00] althe3rd commented on #37423
This is looking more and more like a issue Gutenberg will need to address rather than the extension makers. Other extensions that also inject markup into the DOM seem to also cause a similar effect. I am testing other extensions and will report on those as they are evaluated.

[2021-12-15 22:00] ramonjd commented on #18768
I stumbled across this issue as block cell selection/merging was something I am missing too! 😄

I was wondering, would we need to migrate to inner blocks before we look at the selection/merge cell functionality?

A script that tracks and manages a table matrix (cell states, merges etc), along with DOM events to detect selected cells, might be useful to look at first.

A "cell" today is a `td` or `

[2021-12-15 22:03] glendaviesnz commented on #32815
I get the same result doing this as when unregistering in the terminal and pasting the block markup into the editor terminal view. Below I add a quote block, then in a plugin add `unregisterBlockType( 'core/quote' )` and reload the editor, and the same message appears as for non-core blocks:

![no-quote](https://user-images.githubusercontent.com/3629020/146271855-d78724d6-4104-45ec-8e12-afd92fb9dd

[2021-12-15 22:44] andrewserong commented on #37154
Will do! Thanks for approving and merging in #36431 for me — now that we have that PR in, it should be easier to focus on this problem in isolation 🤞

[2021-12-15 23:09] annezazu opened #37427 "Template Editor toolbar dropdown broken"
### Description

When editing a template via the template editing mode in the post editor, the dropdown in the toolbar appears to be broken.

### Step-by-step reproduction instructions

1. Use a block theme or theme supporting template editing mode
2. Head to a post or page
3. Under Templates in sidebar > Edit
4. Try to click the dropdown in the toolbar.

### Screenshots, screen recording, code sn

[2021-12-15 23:33] michaelbourne commented on #28517
The Woocommerce workaround is good for me for now but a core solution would be ideal. If anyone hasn't seen it linked above, it relies on a simple `$pagenow` check, which can be used to also remove blocks from the widget/customizer context.

https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/4225

[2021-12-15 23:39] glendaviesnz commented on #36519
@javierarce with #36842 merged are you happy for this issue to be closed?

[2021-12-16 00:01] danger89 commented on #34367
Maybe see also Monaco editor: https://github.com/microsoft/monaco-editor

[2021-12-16 00:01] melroy89 commented on #10423
Maybe see also Monaco editor: https://github.com/microsoft/monaco-editor, which could be used by Gutenberg.

[2021-12-16 01:12] glendaviesnz commented on #36979
@annezazu are you still seeing this on beta 3? I just gave it a try and custom colours seem to apply as expected:

![custom-colors](https://user-images.githubusercontent.com/3629020/146290275-a6090439-03bb-4f78-a746-950ad628c646.gif)

The above is in the content/footer area of the TwentyTwentyTwo theme - in the header area, some of the colour changes don't apply as they appear to be overridden by

[2021-12-16 01:20] talldan commented on #37411
It's my first time hearing about these. It sounds like a good idea. If we want to enforce it in the code base, it could also be worth looking at a linter rule to encourage the logical properties.

[2021-12-16 01:27] talldan commented on #37405
@blaasvaer Could you update the issue title to something more appropriate? Ideally a brief description of the bug. Otherwise readers won't know what it's about when seeing it in the list of issues.

[2021-12-16 01:28] Darchorse64 opened #37431 "please make the image box clickable. Currently it does not work"
## What problem does this address?

## What is your proposed solution?

[2021-12-16 01:32] Darchorse64 commented on #37431
If I have an already created "Image Box Block" I cannot select the image after the first time. I also cannot make the "whole Image box block" clickable.

It should be as simple as selecting the image block block and selecting from a drop down menu an "add URL" or something like that.

[2021-12-16 01:33] Darchorse64 opened #37432 "If I have an already created "Image Box Block" I cannot select the image after the first time. I also cannot make the "whole Image box block" clickable."
If I have an already created "Image Box Block" I cannot select the image after the first time. I also cannot make the "whole Image box block" clickable.

It should be as simple as selecting the image block block and selecting from a drop down menu an "add URL" or something like that.

_Originally posted by @Darchorse64 in https://github.com/WordPress/gutenberg/issues/37431#issuecomment-995359144_

[2021-12-16 01:35] talldan commented on #37398
Ok. It looks like you tried the same steps as I did. I'm seeing a different result on a clean installation of WordPress (5.9 beta) with only Gutenberg enabled.

Editor:
<img width="533" alt="Screen Shot 2021-12-16 at 9 29 45 am" src="https://user-images.githubusercontent.com/677833/146291462-4831b5e0-6146-4b3c-b8d5-22df7362a30d.png">

The resultant post:
<img width="546" alt="Screen Shot 2021-12-1

[2021-12-16 01:37] talldan commented on #37431
Closing as a duplicate of #37432

[2021-12-16 01:37] #37431 closed, assigned to nobody

[2021-12-16 01:39] talldan commented on #37432
@Darchorse64 Would you be able to clarify what you mean by Image Box Block? That isn't something provided by the Gutenberg plugin. It might be that you have another plugin installed that adds this block. If so, I'd recommend reaching out to that plugin developer.

[2021-12-16 01:46] talldan commented on #37247
@Wingo5315 Just to clarify, is the distinction here that you'd like to see support for a button in addition to a link?

[2021-12-16 01:50] talldan commented on #37312
@BicanMarianValeriu Would you be able to provide a code snippet for a pattern that has this issue? Thanks.

[2021-12-16 01:56] talldan commented on #37419
@zaguiini Is this for the site editor? The post editor does have a similar feature, but I don't think the breakpoints are customizable (as requested in https://github.com/WordPress/gutenberg/issues/21235).

[2021-12-16 01:58] talldan commented on #37420
@zaguiini Is this for drag and drop? If so, I think there's another request for such a feature - https://github.com/WordPress/gutenberg/issues/24174, and this can probably be closed as a duplicate.

[2021-12-16 02:08] mitradranirban commented on #37398
![Screenshot_20211216-073158_Chrome](https://user-images.githubusercontent.com/67600799/146294464-fe84f376-23e6-47ca-86f5-a3bc9e496c5b.jpg)
I am using Wordpress 5.8.2 which is shows is up to date
The details are
`
### wp-core ###

version: 5.8.2
site_language: en_GB
user_language: en_GB
timezone: +05:30
permalink: /%year%/%monthnum%/%postname%/
https_status: true
multisite: false
user_registration

[2021-12-16 02:51] talldan commented on #33678
Thanks @zaguiini, yes that's another instance of the issue. It's hard to describe!

[2021-12-16 02:57] annezazu commented on #36979
Huzzah! I cannot replicate anymore either with beta 3. Thanks for following up. Closing this out :)

[2021-12-16 02:57] #36979 closed, assigned to nobody

[2021-12-16 03:00] talldan commented on #37401
Thanks for creating the issue. I've been meaning to create one along the same lines.

It's probably a bit too late to change this in the release cycle for WordPress 5.9, and the REST API for templates has been available since WordPress 5.8, so there will be backward compatibility concerns with any change.

I think what we do need is some documentation outlining exactly how plugins can add template

[2021-12-16 03:06] annezazu opened #37433 "Styles: Changing typography doesn't apply to Headings"
### Description

In talking with Ana Segota (block theme author), she mentioned the following:

I could replicate this with WordPress 5.9 beta 3! Tied to this, I noticed too that changing the font size under Styles > Blocks > Headings > Typography that it changes the size of all Headings and there's no room for granularity. This seems to be by design for now but happy to open another issue if not.

[2021-12-16 03:10] #37222 closed, assigned to Mamaduka

[2021-12-16 03:10] glendaviesnz commented on #37427
It looks like part of the issue here is that if a template has a template file then the drop down is supposed to display the template description:

<img width="369" alt="Screen Shot 2021-12-16 at 3 59 48 PM" src="https://user-images.githubusercontent.com/3629020/146300662-eb67324a-15a8-4a55-afa5-b7563afcb182.png">

... but some templates don't have a description:

<img width="255" alt="Screen Shot

[2021-12-16 04:01] glendaviesnz commented on #37399
Fix for this at #37435 - the only thing I wasn't sure about was how important the hover state color change is, ie. with the default dark grey icon the hover state is white, but with switching default to white there is now no change on hover. I don't think it matters but can add in some sort of difference on hover if others think it is important.

[2021-12-16 04:20] glendaviesnz commented on #37423
Thanks for reporting this @althe3rd. I wasn't able to replicate it on the latest Gutenberg trunk on either WP 5.8.2 or 5.9, with the same versions of Chrome and Grammarly that you used:
![grammerly](https://user-images.githubusercontent.com/3629020/146307102-110c15ef-beaa-4761-b690-f225890fad0d.gif)

There were intermittent display issues if I ran WP 5.8.2 without the Gutenberg plugin. Are you in

[2021-12-16 04:44] amustaque97 commented on #33839
Hi :wave: @talldan, I would like to take this forward :smile:. It would be really helpful if you can share steps to reproduce this behaviour in order to verify and test my changes.

[2021-12-16 05:57] Mamaduka commented on #37427
I think I know the reason for the regression. I will push the fix for the issue shortly.

[2021-12-16 06:31] tellyworth commented on #36785
I agree, supporting both IDs and slugs allows theme devs to choose appropriately. IDs make sense when a theme is used on a single site. Slugs make sense for a downloadable theme that's designed to work anywhere.

[2021-12-16 07:11] carolinan opened #37439 "In the template part list, there are text strings that use "template" instead of "template part""
### Description

In the Appearance > Editor (beta) > Template Parts list:
- The heading above the list says "Template" instead of "Template part"
- The delete action says "delete template" instead of "delete template part"

### Step-by-step reproduction instructions

1. Activate a theme with support for fill site editing
2. Go to Appearance > Editor (beta) > Template Parts
3. Create a new custom t

[2021-12-16 07:34] aaroncommand commented on #34977
This issue came up in one of our client projects today. Specifically we were evaluating use of the Query Loop block to display a custom post type, but like many custom post types it relies on an accompanying custom taxonomy. Without the ability to filter by that taxonomy we are not able to use the block.

#36504 would enable us to address the issue, but support for filtering by any taxonomy which

[2021-12-16 07:39] jasmussen commented on #18768
Last we experimented with this, the challenge was primarily the amount of extra markup that the editor creates when nesting is involved. Since then the situation here has vastly improved with the "lighter DOM" explorations, possibly making it more feasible. So as a rule of thumb, I'd say that if the elements in the editor match the elements on the frontend (give or take a few classes), stylewise w

[2021-12-16 07:53] carolinan opened #37440 "Use the same modal for creating new template parts in the editor and the template part list"
### Description

When you create a new template part in the site or template editor you can only add a name. To add an area, you must go to the Advanced section in the block settings sidebar.
And when you create a new template part in the template part list in the site editor, you can add a name and choose the area.
The help text also differs.

I think the larger modal with the area selection shou

[2021-12-16 07:53] #29886 closed

[2021-12-16 07:57] carolinan commented on #37440
@jameskoster Also, looking at the screenshots above -are two cancel / close buttons needed here? I have not noticed it before.

[2021-12-16 08:00] aristath commented on #37411
The main benefit of this change would be that we wouldn't need separate RTL styles, and the same stylesheet can be usable in all languages.
I started working on this one today, but before I move forward and commit the hours needed I think we should have a plan in place because as I go through the files, I realise it's not a simple switch.
How I started exploring this:
[code]
Things like margins, p

[2021-12-16 08:06] rootkowsky opened #37441 "`@wordpress/base-styles` changes without package version update"
### Description

Commit [300ea2fa8629c47c7613535ca0be3f83dc925896](https://github.com/WordPress/gutenberg/commit/300ea2fa8629c47c7613535ca0be3f83dc925896) has changes which are not published with new package version of `@wordpress/base-styles` (it has still `4.0.4` version)

### Step-by-step reproduction instructions

1. Install the latest versions of `@wordpress/base-styles` and `@wordpress/block

[2021-12-16 08:11] ntsekouras commented on #37247
I think @Wingo5315 is talking about a brand new `read more` block that could be used inside `Query Loop` to automatically extract each posts link. This has been discussed before and could involve the removal of  the `read more` inside `Post Excerpt`.

[2021-12-16 08:19] CalumChilds commented on #37247
That is correct.

[2021-12-16 08:36] Mamaduka commented on #37361
@youknowriad, I started working on suggested options (or tried) but soon realized that I wouldn't be able to come up with the fix in time for the last beta.

[2021-12-16 08:44] Mamaduka commented on #37397
Hi, Joen

I'm having a hard time reproducing the issue on the current trunk. Tried with a dozen buttons and a navigation block with a few items in it.

[2021-12-16 08:46] youknowriad commented on #37361
I'll try to find some time to take a look as well, I wonder if we should revert in the meantime?

[2021-12-16 08:46] jasmussen commented on #37397
Can you try with nested submenus? Right clicking an editable menu item trivially crashes it for me:
![test](https://user-images.githubusercontent.com/1204802/146338162-2bf601eb-8116-42ed-a5a9-3cf8e4a72c5e.gif)

Using Chrome on Mac in case that makes a difference.

[2021-12-16 08:56] Mamaduka commented on #37361
Let's revert for now. This issue will affect more users. The previous one only affects the Site Editor in specific conditions.

[2021-12-16 09:07] Mamaduka commented on #37397
Here is my result Chrome/OSX

https://user-images.githubusercontent.com/240569/146341507-fdf99140-837f-4bd5-83fe-8fa905135c4c.mp4

[2021-12-16 09:11] jasmussen commented on #37397
Very curious! From the perspective of this being an annoying bug, I'm happy you can't reproduce.

I'm not sure why, but if I have a Page List in the navigation, either _only_ a page list or a page list with a mix of menu items, it's working me. It's only when there's _no_ page list that it's crashing for me.

[2021-12-16 09:13] carolinan opened #37443 "Template part areas display as "undefined" in the template editor"
### Description

When you add a template part in the template editor, (either template part, header, or footer aliases) and select "Choose existing",
the area displays as "Undefined".

### Step-by-step reproduction instructions

1. Activate a theme with support for template editing, for example Twenty Twenty-Two
2. Open a template in the template editor
3. Add a template part. Select "Choose exist

[2021-12-16 09:32] youknowriad opened #37445 "Writing Flow: Hitting Enter creates a new block at the beginning of a container block instead of after the current block."
### Description

Generally blocks that are not textual (images for instance) have a specific behavior that allows you to hit "Enter" when the block is selected to create a new block right after it.

That behavior is not working properly when the selected block is inside a container block (group for instance), while it works properly if the block is at the root level of the editor.

### Step-by-ste

[2021-12-16 09:39] talldan commented on #36600
I found this issue a little bit hard to follow when testing #37434. It'd be good to have some clearer sets of steps to reproduce for each problem.

Once thing I noticed is that in the editor, once the dialogue is open keyboard navigation doesn't seem intuitive. It's a vertical menu, but horizontal arrow keys seems the best way to navigate:
1. Set the block to Overlay Menu - Always.
2. Open the ove

[2021-12-16 09:47] javierarce commented on #36519
Yes, I think we can close it. This part of the UI still needs a lot of work to improve, but your fix solved the awkwardness I reported. Thanks for fixing it!

[2021-12-16 10:17] Aljullu commented on #37401
Makes sense, thanks for clarifying this part, @talldan:

Based on that I will close this issue assuming it works as expected. Looking forward to the documentation. :slightly_smiling_face:

[2021-12-16 10:17] #37401 closed, assigned to nobody

[2021-12-16 10:22] CreativeDive commented on #36812
Hello @ryelle @annezazu

this video demonstrate how are the differences between the view with and without the `<!DOCTYPE html>`.

https://user-images.githubusercontent.com/31563167/146352888-acfe6844-3de1-4f45-b179-b2ed22d90c4f.mp4

In my case I work with the Safari browser (Version 15.1 (17612.2.9.1.20)) on MacOS.

The view of the default patterns "Pricing Table" is the same in both cases, but th

[2021-12-16 10:46] jameskoster commented on #37440
I think this could be a good enhancement, but there is a lot to consider. For example how can we make better use of patterns as a part of the creation flow for headers and footers? And how can we streamline the insertion flow for existing template parts? Relying on the monolithic "Template part" block for all these flows doesn't seem very efficient or intuitive.

Just to connect some dots – I expl

[2021-12-16 10:49] sagarnasit opened #37449 "Theme color palette not showing colors with conflicting slug in default color palette"
### Description

Two different color palettes are shown on the editor, one with the default color palette of core and another with the theme's color palette set via theme.json.

The problem occurs when the theme color palette includes the same color slugs as the default color palette options. In this case, the theme color palette should take precedence over the default color palette of the same sl

[2021-12-16 10:53] BicanMarianValeriu commented on #37312
Try to place any shortcode (I dont know any core shortocodes - maybe [audio] ) inside a pattern and try to render them - it will show as shortcode tag instead as rendered markup.

[2021-12-16 11:10] erikjoling opened #37452 "Can't see template list when avatars are disabled"
### Description

When using the Site Editor and heading over to the templates list I encountered a white screen. I noticed an error in the console relating to avatars. It turns out I have them disabled. When enabling the avatars I can view the template list as expected.

### Step-by-step reproduction instructions

1. Disable avatars through Options > Discussion
2. Go to the Site Editor and head ov

[2021-12-16 12:05] ntsekouras commented on #37072
Hey @Andrew-Starr, thanks for reporting this. I can reproduce the problem with `Query Loop` patterns and `TwentyTwentyTwo`.

In general patterns are really hard to handle in terms of performance as they can contain many many blocks and we not only have to parse and render them, but also do some recursive checks about the allowed blocks settings.

More things should be done there and there are alre

[2021-12-16 12:26] KokkieH commented on #33948
Cmd/Ctrl-U for underlining also isn't working. In Firefox it opens `view source:`, and on Chrome it simply doesn't do anything.

Reported in the [WordPress.com forums](https://wordpress.com/forums/topic/shortcuts-issue/?view=all)

[2021-12-16 12:32] youknowriad commented on #33948
I'm temptatively adding this to the 5.9 board. I guess it's fine if we can't solve it on time.

[2021-12-16 13:30] #37445 closed, assigned to ellatrix

[2021-12-16 13:31] Mamaduka commented on #37443
I think we forgot to backport this part of the editor settings into the WP core. I'm not able to reproduce this with the Gutenberg trunk.

https://github.com/WordPress/gutenberg/blob/b3837134a6ecea321b70362b1ce2ab27ef601e96/lib/editor-settings.php#L27-L29

[2021-12-16 14:27] Andrew-Starr commented on #37330
Another possibility would be to use grid layout for the query loop columns instead of flex.

For example:
[code]

With grid layout, the width and spacing is taken care of by the parent `<ul>` container, and we don't need to specify a width and margin for the `<li>` posts, and no need for `:nth-child` pseudo-classes to "fix" the right margin of the last column in the row.

Also in testing I'm not s

[2021-12-16 15:03] Andrew-Starr commented on #37433
It does seem strange that we can define typography for headings at the _element_ level but not at the specific _block_ level.

So in `theme.json` we can for example define the typography for the h2 _element_
[code]

and we can also define typography for the heading _block_
[code]

but not specifically for the h2 heading _block_ for example this does not work:
[code]

The result of this is that a t

[2021-12-16 15:13] mchowning commented on #37275
This isn't urgent, so it feels like the best course of action may be to just wait until Joel has a chance to chime in since he has the most context.

[2021-12-16 15:21] #37156 closed, assigned to mkaz

[2021-12-16 15:22] Andrew-Starr commented on #37363
Closing as will be fixed in https://github.com/WordPress/gutenberg/pull/37456

[2021-12-16 15:31] bethalessi commented on #33142
This is a major problem for me too. It drives me crazy that I can't target the block. I wish `:has()` was able to be used. Instead I'm using margin hacks and it feels wrong.

[2021-12-16 16:05] #37413 closed, assigned to jasmussen

[2021-12-16 16:45] wpsoul commented on #37386
Unfortunately, there is no option to check. Once you load both, one of module will break the code and there is no conditional import functionality.

Some methods must be added to core to prevent breaking, for example __experimentalUseInnerBlocksProps must load proper module on both versions of Wordpress.

[2021-12-16 16:46] cloudinstone opened #37461 "disable block theme support will not disable block template."
### Description

for example, I create a block theme 'test' and did some 'edit site' things to my website, then I decided to disable block template by remove 'block-template' and 'block-template-parts' folder. but it will not disable block template, block templates will still using by some archive pages.

why not just rename theme name? because I want to create a theme for users have choice to ena

[2021-12-16 16:47] ntsekouras commented on #37143
I'm wondering if we can find a way to utilize `fake` examples for this isolated editing or retrieve just the first available post/comment to get that data.

There is also the related performance issue of rendering  block patterns with such blocks. Right now even if we have the needed prop to render a preview it can be really bad, depending on the inner blocks and the number of entities we use(perP

[2021-12-16 17:20] kjellr opened #37462 "Add text indentation support at paragraph block type level"
Currently, paragraphs in the editor have vertical space to differentiate one paragraph from the next:

<img width="375" alt="Screen Shot 2021-12-16 at 12 17 34 PM" src="https://user-images.githubusercontent.com/1202812/146418412-40199a63-ba0d-4182-b599-5fead7e9ed95.png">

To allow for an optional, more "literary" treatment, we should consider adding an option to Global Styles that would collapse t

[2021-12-16 17:45] adamsilverstein commented on #31913
Hi @mchowning - I am the author of all Gutenberg commits from adam@10up.com.

[2021-12-16 17:52] mtias commented on #37462
Yes! I'd been wanting to do this for a while, but needed more of the global styles infrastructure in place. I also want to allow justification (with localized hyphens and such) to happen at this level globally so it can be undone easily.

It can also be an opportunity to include some other typographical flair, depending on what the fonts support (discretionary ligatures, etc).

[2021-12-16 18:30] walbo opened #37463 "Previewing single post changes frontend doesn't work on block based themes"
### Description

The preview functionality on block based themes doesn't work.

Inspecting on the editor page console, I do see a successful autosave fire right when the new tab opens, but somehow the preview isn't using the autosave data.

The preview works fine on non block bases themes (tested twentytwentyone).

Related core ticket: https://core.trac.wordpress.org/ticket/54635

### Step-by-step

[2021-12-16 18:36] chthonic-ds commented on #37449
See https://github.com/WordPress/gutenberg/issues/36772 and https://github.com/WordPress/gutenberg/pull/37008 for how this is being managed in WP 5.9.

[2021-12-16 18:42] #36096 closed, assigned to stacimc

[2021-12-16 18:46] hellofromtonya opened #37464 "Add `comment-form` and `comment-list` to default `html5` theme support (backport from WordPress Core for parity)"
### Description

Follow-up to PR #35593.

 In WordPress Core's [changeset 52369](https://core.trac.wordpress.org/changeset/52369), two additional `html5` theme supports were added: `'comment-form'` and `'comment-list'`. This issue seeks to backport the changeset from Core to Gutenberg to resync for parity.

The difference between Gutenberg and Core causes differences in Twenty Twenty-Two's comm en

[2021-12-16 18:54] kjellr commented on #37464
Please note that in addition to adding those two supports, there are some visual issues that will need to be fixed.

Gutenberg (Current)|Core (Current)
---|---
<img width="639" alt="Screen Shot 2021-12-16 at 1 53 09 PM" src="https://user-images.githubusercontent.com/1202812/146431490-5e9c5438-ce7c-43d8-b62d-9b100199331a.png">|<img width="640" alt="Screen Shot 2021-12-16 at 1 53 29 PM" src="https:/

[2021-12-16 18:57] skorasaurus commented on #37462
related https://github.com/WordPress/gutenberg/issues/34688

[2021-12-16 19:06] annezazu commented on #37128
@ockham might you have any insights here?

[2021-12-16 19:21] kjellr commented on #37464
Adding to the must-haves because of the indentation issue demonstrated above.

[2021-12-16 19:49] #36519 closed, assigned to glendaviesnz

[2021-12-16 20:02] westonruter commented on #6652
To cite my https://github.com/WordPress/performance/issues/49#issuecomment-995343996:

[2021-12-16 20:05] cagrimmett opened #37467 "YouTube blocks do not render inside of reusable blocks"
### Description

When a YouTube block is inside of a resuable block, it only renders as a link on the front-end rather than the embedded video. The same video renders just fine outside of the reusable block.

### Step-by-step reproduction instructions

1. Create a new post.
2. Add any public YouTube video as a YouTube block.
3. Make that block a reusable block.
4. Publish and view the post.
5. The

[2021-12-16 20:29] adamsilverstein commented on #37463
I verified the same problem with another block theme ("Alara") to verify the issue wasn't twentytwentytwo specific.

[2021-12-16 22:22] simison opened #37468 "Add attribution to image block"
## What problem does this address?

In State Of The Word 2022 we saw [Openverse](https://wordpress.org/openverse/) introduced, and how attribution was copied from Openverse to the editor ([video at 7min](https://www.youtube.com/watch?v=OpiH_P9aGhQ&t=420s)):

<img width="1141" alt="Screenshot 2021-12-16 at 23 38 17" src="https://user-images.githubusercontent.com/87168/146453021-10159b88-b414-4d81-a

[2021-12-16 23:05] #37094 closed, assigned to jorgefilipecosta

[2021-12-16 23:14] simison opened #37470 "Duotone: when opening dropdown menus (e.g. duotone), tooltip shows up by default"
### Description

When opening the duotone menu in an image block, the tooltip shows open by default:

<img width="319" alt="image" src="https://user-images.githubusercontent.com/87168/146462728-4bb8c995-bd05-4149-af3a-f34e4554916c.png">

https://user-images.githubusercontent.com/87168/146462444-c9dd9bbe-dddc-461d-b5e7-6a74f305d315.mov

### Step-by-step reproduction instructions

- Add image block

[2021-12-16 23:25] SaxonF commented on #36667
Thinking about this some more, navigation structure within the left sidebar does feel a little strange to me personally because it is so detached from the navigation itself. I would expect it to be part of the block settings on the right, consistent with other blocks. Technically navigation structures might be global, but I'm assuming you would rarely have one set used in multiple places on your s

[2021-12-17 00:09] audrasjb opened #37471 "Wrong usage of `_n()` in WP 5.9 beta 3 translatable strings"
### Description

_This issue is copy pasted from https://core.trac.wordpress.org/ticket/54638.
Thanks @tobifjellner for the report._

---

The new code for WordPress contains three instances where the "Template Part"/"Template Parts" string pair is used.
However, this is usage of _n() is incorrect.

If you want to handle just the singular and plural terms, then this should be handled in the code (

[2021-12-17 00:30] noahtallen commented on #37264
Thanks for working on this; I also should have raised an issue several months ago! As a work-around, we have a significant number of overrides in our `.yarnrc.yml` file here: https://github.com/Automattic/wp-calypso/blob/trunk/.yarnrc.yml

[2021-12-17 00:40] #36606 closed, assigned to nobody

[2021-12-17 00:44] #37399 closed, assigned to glendaviesnz

[2021-12-17 00:45] #36670 closed, assigned to talldan

[2021-12-17 00:45] #37354 closed, assigned to talldan

[2021-12-17 01:17] cometgrrl commented on #37387
I can see your point about having anchors within the modal. However, it seems broken to have a menu item that appears to do nothing.

[2021-12-17 02:31] annezazu commented on #37082
@oandregal tagging you in here in case you have some context :)

[2021-12-17 03:35] talldan commented on #37386
That isn't true. Imports for things that don't exist resolve to `undefined`, so you can use a simple ternary to handle backwards compatibility.

[code]

[2021-12-17 03:53] glendaviesnz commented on #37470
Confirmed that this still happens on WP 5.9 Beta 3 and latest Gutenberg trunk.

[2021-12-17 05:15] talldan commented on #37363
Usually we keep issues open, but link the PR to the issue. Then means when the PR is merged github will automatically close the issue.

[2021-12-17 06:15] mitradranirban commented on #37398
I installed a fresh version of Wordpress in another domainand found that it is working fine with upi link. SO probably some plugin in my installation is the reason for changing the protocol. Please close this issue now. However my request for inclusion of a dedicated payment link button for upi remains

[2021-12-17 06:16] #37391 closed, assigned to Mamaduka

[2021-12-17 07:02] jasmussen commented on #36667
One aspect I like about surfacing a dedicated navigation is that it provides an obvious default for the (presumably majority) of sites that have only a single navigation menu. Such a default can be loaded by default as well, for example in the navigation block.

[2021-12-17 07:20] #37398 closed, assigned to nobody

[2021-12-17 07:31] talldan opened #37476 "Add documentation describing how plugins can add templates"
Related #37401, #36597

## What problem does this address?
It was mentioned in https://github.com/WordPress/gutenberg/issues/36597#issuecomment-973992841 that plugins can add templates via a filter. Setting some template fields (setting the `source` to 'plugin', and `theme` to the plugin slug) helps to indicate where the template came from.

Support for this has since been added to the template li

[2021-12-17 07:40] talldan opened #37477 "Template list page: Header 'jumps' in causing reflow when reloading the page"
### Description

This doesn't always seem to be consistent, but I've noticed it mostly when reloading and sometimes when switching between Templates and Template Parts

### Step-by-step reproduction instructions

1. Visit the template list page
2. Reload the page
3. Observe the page reflows awkwardly due to the way the header appears

### Screenshots, screen recording, code snippet

https://user-i

[2021-12-17 08:10] ocean90 commented on #37471
The same applies to https://github.com/WordPress/gutenberg/blob/5604b2323e57f0125ad8fb8dc5423c067978b128/packages/editor/src/components/entities-saved-states/entity-type-list.js#L19-L37.

[2021-12-17 08:33] koraysels commented on #20321
@NickGreen

no this is just cropping, that is not preferable., we need focal point for responsive images that use object-fill.. so cropping is out of the question

[2021-12-17 08:46] mtias commented on #30719
I think this is more clear with the latest implementation:

![image](https://user-images.githubusercontent.com/548849/146515932-efc41882-0ed2-4cf8-8b9e-b8217fc3d966.png)

[2021-12-17 08:47] mtias commented on #30719
Though inconsistent capitalization, and "color" feels redundant :)

[2021-12-17 08:50] github-actions[bot] opened #37479 "[Flaky Test] allows pages to be created from the navigation block and their links added to menu"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
allows pages to be created from the navigation block and their links added to menu

## Test path
`specs/editor/blocks/navigation.test.js`

## Errors

<time datetime="2021-12-17T08:50:53.241Z"><code>[2021-12-17T08:50:53.241Z]</code></time> Test passed after 1 failed attempt o

[2021-12-17 09:19] gziolo commented on #37264
Thanks for sharing @noahtallen. It pretty much aligns with what @jonshipman reported. I expect that most of the issues are resolved with all the recent changes included. The only thing that bothers me here is React dependencies. It raises the question of whether we should declare it as a peer dependency using "^17.0.0" range in every package that uses any external React library and accesses it dir

[2021-12-17 09:33] jameskoster commented on #36667
Centralised menu management is also useful when

1. There are many menus – the one you want to edit next may not necessarily be on the current canvas.
2. You want to work on a menu but not attach it to a template yet. Like a draft.

It does pose an interesting question though. If we say that the contents of global elements like menus are managed in a distinct interface separate from the canvas, do

[2021-12-17 09:43] jasmussen commented on #36667
I imagine what we currently do for isolated template part editing being a pattern to be leveraged for a majority of UIs like these, reusable blocks, perhaps even for editing the contents of the navigation modal.

[2021-12-17 10:01] #37363 closed, assigned to nobody

[2021-12-17 10:23] #37096 closed, assigned to gziolo

[2021-12-17 10:30] matt-carboncoop commented on #34825
Auto-embedding PDFs is a huge step backwards in terms of accessibility, speed and cross platform compatibility. There were already a number of quality third party plugins that provided this functionality for those that needed it, so not sure it brings any benefit to counterbalance it's disadvantages.

[2021-12-17 11:04] koraysels commented on #20321
@cr0ybot
I try to load the snippet in the admin but it seems I cannot load in React code..  It results in a Syntax error
![image](https://user-images.githubusercontent.com/2418853/146535184-1cd860a8-1182-41d9-b9e3-decb8a94d30e.png)

[2021-12-17 11:07] github-actions[bot] opened #37485 "[Flaky Test] should load editor styles through the block editor settings"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should load editor styles through the block editor settings

## Test path
`specs/editor/plugins/iframed-editor-style.test.js`

## Flaky rate (_estimated_)
`0 / 0` runs

## Errors

<details>
<summary>
	<time datetime="2021-12-17T11:07:14.428Z"><code>[2021-12-17T11:07:14.428Z]

[2021-12-17 11:17] priethor commented on #33212
Hi there! A PR that provides a solution to avoid these warnings, #37466, is ready for review. We are close to Beta 4, so testing and feedback is more than welcome 🙏

[2021-12-17 11:33] koraysels commented on #20321
had to rewrite it like this... probably am doing something wrong...

[code]

[2021-12-17 11:45] ndiego commented on #33212
That's great @priethor, I am happy to test. Are there any recommended testing steps for #37466. It's a bit unclear to me.

[2021-12-17 11:57] mtias commented on #37470
The more annoying part is the repositioning of the tooltip

[2021-12-17 13:28] gziolo commented on #37153
I discussed this issue with @spacedmonkey and this is what I learned.

There is no simple way to get all comments in one request (even when bound to a smaller number of top-level items and their replies). You would need multiple requests, as it is an enforced performance optimization. You shouldn’t really be querying 10k items from MySQL in one request which is why requests are limited to 100 item

[2021-12-17 13:39] getdave commented on #37368
Ok this bug is much more involved that I first thought.

The reason the spinner shows is basically because **lower permission users cannot retrieve ("read") the Pages from the API using `getEntityRecords`**. This means that the pages data always remains as a falsey value thus causing the component to render the `<Spinner>` indefinitely:

https://github.com/WordPress/gutenberg/blob/a92586c6ba83e735

[2021-12-17 13:42] #37227 closed, assigned to geriux

[2021-12-17 13:53] koraysels commented on #20321
If you want it to be displayed in wp-graphql i wrote this:

[code]

[2021-12-17 13:54] NewYorkerLaura commented on #37467
Upon further testing the identical issue also arises in the following blocks:

- Vimeo Block
- Embed Block

[2021-12-17 14:01] adamziel opened #37487 "Saving the post using keyboard shortcut (cmd+s) doesn't save the related entities"
In the old, single-entity editing world, there was only the editor and the post. Pressing `cmd+s` (or `ctrl+s`) saved a draft, and it made sense.

In the new, multi-entity editing world, there is the editor, the post, the template area, the navigation, and other entities. Pressing `cmd+s` (or `ctrl+s`) still affects only the post, and that's confusing. It is easy to press it, trust the notificatio

[2021-12-17 14:44] jiteshdhamaniya commented on #34461
Created a PR https://github.com/WordPress/gutenberg/pull/37488 for this.

[2021-12-17 14:51] adamziel opened #37489 "Multi-entity permission management"
## What problem does this address?

In the multi-entity editing world, a low-permission user may edit a post that contains high-permission entities like Navigation (see [the report](https://github.com/WordPress/gutenberg/issues/36286) by @spacedmonkey, and @getdave's PR with a navigation-specific fix: https://github.com/WordPress/gutenberg/pull/37454).

Let's find a way of dealing with permissions

[2021-12-17 14:58] getdave commented on #37489
Thanks for raising. My notes about the problems in `getEntityRecord` and `getEntityRecords` in https://github.com/WordPress/gutenberg/issues/37368 are particularly noteworthy it basically means many entities are not readable by lower permission users (due to `edit_posts` requirement) despite them having the `read` capability.

[2021-12-17 15:08] skorasaurus commented on #36474
Hi,

Thanks for reporting. I am able to reproduce this without having the Gutenberg plugin activated; but I am not able to reproduce this when I have the Gutenberg plugin activated; the gutenberg plugin has newer fixes and features that will eventually be imported into the core version of WordPress.
I can't find the issue at the moment; but I do recall this had been reported and fixed.

If you're

[2021-12-17 15:08] #36474 closed, assigned to nobody

[2021-12-17 15:33] ockham commented on #37128
I can have a look, but I'm not too familiar with the code that adds the theme attribute to template parts. AFAIR, @jeyip or @Addison-Stavlo might have more insight into this.

[2021-12-17 15:37] ockham commented on #37128
This seems to make a lot of sense to resolve the current issue, but I believe there were some considerations around theme switches that lead us to introducing the `theme` attribute for template parts in the first place. In other words, if we fall back to the active theme, this might have some unwanted side effects, especially when a theme switch happens 😅

[2021-12-17 15:46] skyshab commented on #27107
Just noting that the fluid typography approach mentioned above as a solution, does not in fact work with the Block Editor preview modes, as it is based on the width of the viewport. It also does not take the editor UI sidebars into consideration.

[2021-12-17 16:24] jeffpaul commented on #34977
I'd also love to see this gain some traction as we're looking to add some Block Patterns to a plugin and utilizing the Query Loop block with CPT support would be necessary to have this work as we've planned.  For more on that see here: https://github.com/10up/simple-podcasting/issues/84.

[2021-12-17 16:39] jorgefilipecosta commented on #30719
Fix proposed at https://github.com/WordPress/gutenberg/pull/37493.

[2021-12-17 16:55] ZebulanStanphill commented on #37264
Logically, any package accessed directly by the files of a package should be declared as a dependency of that package, right? By definition, accessing exports from `react` means that `react` is a top-level dependency. If we were truly relying solely on `@wordpress/element`, we would be accessing the exports through that package (which could re-export them). But in many cases, we're not. Therefore,

[2021-12-17 17:07] eric7186 opened #37494 "Global style Utility Classes"
## Instance of a block provides Advanced: add class that can be used with Simple CSS to add a utility class but that only affects the front-end not the site editor.

Utility classes have become very important to efficiently create professional websites. But they are created with CSS which only affects the front-end. If we could add custom Utility Classes as Global Styles (theme.json) and associate

[2021-12-17 17:14] youknowriad commented on #37489
I've discussed this with @getdave a bit as well, can we try switching the `loadEntities` calls to `view` context and see the impact?

[2021-12-17 17:53] getdave commented on #37489
I gave that a try but even within the limited scope of the Nav block there seem to be several knock on effects. Data missing on responses...etc.

That said, a PR exploring that in more detail would be helpful in order that we can all assess the impact together 👍

[2021-12-17 18:26] adamsilverstein commented on #37463
I spent some time digging into this. I found that in this check https://github.com/WordPress/wordpress-develop/blob/954e9c153fe9d1b4f74d76bab9dd5175fd36cebc/src/wp-includes/class-wp-query.php#L3205
The call to `current_user_can` winds up breaking the review (even though it returns true). removing that check, the preview works fine. Still not sure why, these are my findings so far.

[2021-12-17 18:41] karmatosed commented on #37322
An interesting idea @koraysels. Let me put some labels on this for some consideration.

[2021-12-17 18:47] karmatosed commented on #37407
I really like the idea of expanding, but I wonder if that then needs easier ordering or something that doesn't surface everything at the same level? I worry a little about too long a list for example and problems even finding things. Something to explore!

[2021-12-17 19:15] okadots commented on #16006
Having the same issue where ACF fields that are _not_ blocks don't update in preview once a page is made live.

The solution posted here (the one from darkly77 at the bottom) is working for me.
https://support.advancedcustomfields.com/forums/topic/custom-fields-on-post-preview/

[2021-12-17 19:20] jameskoster commented on #37407
For sure, this is not a trivial project!

I'm also wondering if we'll see some overlap with https://github.com/WordPress/gutenberg/issues/36667. If / when it is possible to work on a _specific post category_ in the site editor, it seems plausible that we'd offer a way to spawn a new template for that category as a part of the overall flow.

[2021-12-17 19:24] jameskoster commented on #37407
Adding the secondary `category` template as an option for folks to create would obviously be a simple change we could make any time.

I think what you're describing is being worked on [here](https://github.com/WordPress/gutenberg/pull/37258).

[2021-12-17 19:27] wpsoul commented on #37386
"for things that don't exist resolve to undefined"

Unfortunately for me, it generates error in webpack instead of undefined and all code crashed. I will check, maybe it's because of webpack settings

[2021-12-17 20:46] CreativeDive commented on #36812
@ryelle is this description and screen recording helpful for you to get a overview about this issue here?

[2021-12-17 22:50] #35776 closed, assigned to nobody

[2021-12-17 23:02] #36208 closed, assigned to oandregal, ajlende

[2021-12-17 23:14] github-actions[bot] opened #37503 "[Flaky Test] should render embeds in the correct state"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should render embeds in the correct state

## Test path
`/test/e2e/specs/editor/various/embedding.spec.js`

## Errors

<time datetime="2021-12-17T23:14:15.373Z"><code>[2021-12-17T23:14:15.373Z]</code></time> Test passed after 1 failed attempt on <a href="https://github.com/W

[2021-12-17 23:52] #37343 closed, assigned to mkaz

[2021-12-18 02:26] creativecoder opened #37504 "Image left/right alignment escapes it's container in the editor"
### Description

When an image is left or right aligned, how it looks on the editor does not match the actual site.

### Step-by-step reproduction instructions

1. Create a new post or page
2. Insert an image block, make it relatively small, and set it to left aligned
3. Insert a spacer block after it
4. Insert some text after that

I expect that the image is left aligned with the text, but it's n

[2021-12-18 03:03] KevinBatdorf opened #37506 "Color select component backdrop render and animation opportunities"
### Description

The rendering on the backdrop is inconsistent when rendering inside an animating parent. The current implementation has a delay of 100ms but it's not very reliable, and is also dependent on the parent animating for 100ms.

### Step-by-step reproduction instructions

1. Add a group block
2. Open the color settings
3. Press Background color
4. Toggle gradient and solid items

### Sc

[2021-12-18 03:04] KevinBatdorf commented on #37506
Will submit a PR shortly

[2021-12-18 06:08] jiteshdhamaniya commented on #33900
@swissspidy @skorasaurus Created PR https://github.com/WordPress/gutenberg/pull/37508

[2021-12-18 06:27] jiteshdhamaniya commented on #34461
I think I misunderstood and just moved up Group Menu in my PR.

@mtias in order to add it to multi-select toolbar, we need an icon, is there any existing icon we can use?

[2021-12-18 15:05] Mamaduka commented on #37468
I think this might be easier if we start using inner blocks for citation, and then we can have separate inner blocks for attributions—related PR #31823.

[2021-12-18 17:41] rvdsteege commented on #36603
I stumbled upon the same issue today and understand WordPress does not allow SVGs by default, but wanted to add that since PHP 8 this results in a fatal error instead of a warning. As site logo is usually at the top of the page, this prevents the whole page from loading.

`
Fatal error: Uncaught DivisionByZeroError: Division by zero in /wp-includes/blocks/site-logo.php on line 20
`

The issue only

[2021-12-18 21:02] aurooba opened #37509 "Provide an option to make the Block Appender text always visible"
## What problem does this address?
In a lot of scenarios with complex blocks (nested blocks, etc), there are a lot of Block Appenders visible at the same time (at least 2). Within a couple projects, where we've user-tested folks using the editor, we've seen a lot of confusion over which Appender to use at which time.

## What is your proposed solution?
Although the updated positioning of the appen

[2021-12-18 21:55] mkaz opened #37510 "Docs: Move Backward Compatibility to Explanations, combine Meta Boxes"
The how to guide section has a section for Backward Compatibility, including a list of project deprecations. This document is not showing how to do something but explains the project philosophy and history of changes. So, it should be moved under the explanations section.

Additionally, there is a "Meta Boxes" document nested under this section that is duplicated in another document in the How to

[2021-12-19 00:25] simison commented on #37470
This could be a more wider-spread issue? Just noticed the same with heading size dropdown when H1 gets autofocused:

<img width="106" alt="Screenshot 2021-12-19 at 02 26 55" src="https://user-images.githubusercontent.com/87168/146659193-10e4e6ce-bb4d-4bf2-b438-10dea2b03e56.png">

It was really annoying to try switching to H2 from H3.

[2021-12-19 04:58] sabernhardt opened #37511 "Code block: editor styles override custom text colors"
### Description

_Originally reported in [Trac #54644](https://core.trac.wordpress.org/ticket/54644)_

Custom color options do not apply when using the block editor's theme styles, either within the editor or on the front end. The color classes apply to the `pre` element, but the `code` element can have text color settings from the themes.scss (and/or the chosen theme).

### Step-by-step reproduct

[2021-12-19 05:04] sabernhardt commented on #37511
## Options

### 1. Remove the text color from editor styles

This is the simplest edit, but a text color apparently has been in the codebase since before the block editor became the default in 2018.

### 2. Add a simple inherit style

This seems to fix the color in Twenty Seventeen, Twenty Nineteen and Twenty Twenty-Two. Twenty Twenty-One would still need a separate change.

[code]

### 3. Add a m

[2021-12-19 14:59] TimothyBramlett commented on #2515
Any more updates on this?  I don't want to have to click upload on every image.

- Could there be a button to do it all at once for an article?
- Perhaps even better, could there be a setting to auto-upload external images when the post is published?

[2021-12-19 19:53] aurooba commented on #37509
I just found an in-progress issue that addresses this, #30688, so we can close this one.

[2021-12-19 19:53] #37509 closed, assigned to nobody

[2021-12-19 21:03] aurooba commented on #12830
Can confirm I'm seeing the same issue. Would love to see this resolved in core!

[2021-12-19 23:12] mrfoxtalbot opened #37514 "List View: Enable multiple block selection using CMD + Click"
## What problem does this address?

It is currently possible to select multiple blocks in the list view by pressing "Shift + UP" and "Shift  + DOWN":

![Kapture 2021-12-19 at 23 52 56-](https://user-images.githubusercontent.com/4452464/146694241-60d871de-2ba8-4928-8289-1b6c5060792a.gif)

The problem is that if you are trying to select a lot of blocks, it can take a while to select all of them.

##

[2021-12-20 00:59] creativecoder opened #37515 "Right aligned blocks: toolbar can be very far away from inner content"
### Description

When a block's content is right aligned, the block toolbar can be very far away from the inner content on wider screens.

I saw this trip up new users in recent testing with the navigation block, which is often right aligned in the header.

### Step-by-step reproduction instructions

- With a block based theme that has a navigation block in the header, set the nav item justificati

[2021-12-20 02:07] waviaei opened #37516 "@wordpress/prettier-config 's jsxBracketSameLine config is now deprecated"
### Description

When setting up our project's esllint using @wordpress/eslint-plugin, specified in `.eslintrc` as per:
`"extends": [ "plugin:@wordpress/eslint-plugin/recommended" ],`

I get this error notice `jsxBracketSameLine is deprecated.`

I found that this error notice is Prettier related, and comes from [this line in @wordpress/prettier-config](https://github.com/WordPress/gutenberg/blob/0

[2021-12-20 02:13] glendaviesnz commented on #37400
This should have been fixed by https://github.com/WordPress/gutenberg/pull/37469

[2021-12-20 02:32] glendaviesnz commented on #35555
Was fixed by [this change](https://github.com/WordPress/gutenberg/pull/36982/files#diff-22f625b7f58d20e86113b06f48c212bff1b895c37d17f867ee8c6547cc5e4308) - user account was not being created correctly every time.

[2021-12-20 02:32] glendaviesnz commented on #35554
Was fixed by [this change](https://github.com/WordPress/gutenberg/pull/36982/files#diff-22f625b7f58d20e86113b06f48c212bff1b895c37d17f867ee8c6547cc5e4308) - user account was not being created correctly every time.

[2021-12-20 02:32] #35554 closed, assigned to nobody

[2021-12-20 02:38] glendaviesnz commented on #35502
Seems to be passing reliably now. Potentially fixed by [this PR](https://github.com/WordPress/gutenberg/pull/36982)

[2021-12-20 02:38] glendaviesnz commented on #36904
Seems to be passing reliably now. Potentially fixed by [this PR](https://github.com/WordPress/gutenberg/pull/36982)

[2021-12-20 02:41] glendaviesnz commented on #34930
Passing reliably now. Probably resolved by the merging of the new gallery block which handles caption focus better.

[2021-12-20 04:06] #36286 closed, assigned to spacedmonkey

[2021-12-20 06:34] JingshanDu opened #37518 "Pasting list items that begin with a character and a dot --these characters are missing"
### Description

We have a numbered or unnumbered list in Word or some other word processing software, which contain items like this:

- E. xxxxxxxxxxxx

The first character is different in each item and it does not represent a number.

Expected behavior: when copy-pasting this text to WordPress, a list item should be generated with the following content:
- E. xxxxxxxxxxxx

Current behavior: "E."

[2021-12-20 07:48] aristath commented on #37471
Before making any changes to this behavior, please keep in mind that not all languages have the same concept of singular/plural as English. For example, there are languages where the plural for 2 is different than the plural for 3 and so on.

[2021-12-20 08:00] aristath commented on #36603
Please report these issues in the [Safe SVG support forums](https://wordpress.org/support/plugin/safe-svg/). These issues should be fixed in that plugin and not in Gutenberg 👍

[2021-12-20 08:17] rvdsteege commented on #36603
I'm not using the Safe SVG plugin, but just allowing upload of `image/svg+xml` mime type via the `upload_mimes` filter in my theme instead.

No issues with setting the image width in the default image block with the same SVG upload, so I'm sure the issue is in the site logo block and not in a 3rd party plugin.

[2021-12-20 08:17] lukecarbis commented on #36687
Reporting in that I'm experiencing the same problem.

- WordPress `5.8.2`
- Gutenberg `12.1.0`
- Twenty Twenty Two `0.5`

@andrewstaffell's workaround works for me to show a list of templates, but I can't edit any.

[2021-12-20 08:19] #35008 closed, assigned to cbravobernal

[2021-12-20 08:34] gziolo commented on #35576
It's now available for testing on npm with:
[code]

The stable version should be available in the second half of January.

[2021-12-20 08:43] gziolo commented on #37264
@ZebulanStanphill, I think that reasoning makes sense. It's a bit unfortunate that we have to track down peer dependencies of dependencies and repeat them in our packages, but maybe it's worth the hassle.

I published to npm a development version of npm packages. It should allow us to test all the latest improvements applied to WordPress packages. A good example would be installing `@wordpress/blo

[2021-12-20 08:53] jsnajdr commented on #37264
Yes, there are some consistency rules that all packages should satisfy.

If a package does `import from 'react'` directly, it must have `react` in its own dependencies. It's not enough to depend on `@wordpress/element` which in turn depends on `react`, because then `react` can be installed in a directory like:
[code]
And the `./component.js` module won't find it there. That package is findable onl

[2021-12-20 09:00] gziolo commented on #37264
@jsnajdr, thanks for a detailed summary of how Yarn approaches the problem. It's a bit unfortunate that we need to put extra care here, but it's manageable. Let's put `react` and `react-dom` as peer dependencies in all places where Yarn compalains 👍🏻

[2021-12-20 09:10] MaggieCabrera commented on #37252
I think this issue uncovers the real problems of not having control over what happens on certain viewports. I know that themes can use CSS to achieve what the editor can't, but when it comes to designing the layout of the site this becomes a glaring issue. I can think of a few cases besides what this issue is explaining, for example, on a two-column layout for a site, with the sidebar being on the

[2021-12-20 10:07] aristath commented on #27671
Everything outlined in this ticket has already been implemented so I'll go ahead and close this 👍

[2021-12-20 10:07] #27671 closed

[2021-12-20 10:36] aristath commented on #37252
Ideally we'd have a "minimum column width" control... I explored that option about 6 months ago (prototype code can be found on https://github.com/WordPress/gutenberg/pull/33330) and it can work fine.
The idea would be that each column can have a minimum width, so we can say that a column can be a minimum of 30em, 500px etc. That can work in conjunction with the existing implementations, allowing

[2021-12-20 10:49] gziolo commented on #27671
Awesome work @aristath 👏🏻

[2021-12-20 11:01] mtias opened #37522 "Color circles should not use gray"
The color circles in global styles, palettes, and items should not be using static gray as borders but a shade of the main color. If we cannot use opacity because of how it's built we should generate it ourselves using the current color:

![image](https://user-images.githubusercontent.com/548849/146756941-961ab94a-bf67-4e48-b9da-7b0e1c846892.png)

[2021-12-20 11:02] mtias commented on #37470
Yes, it's widespread and has been there for a while.

[2021-12-20 11:04] mtias commented on #34461
@jiteshdhamaniya Yes, the group icon can be used:

![image](https://user-images.githubusercontent.com/548849/146757519-132666d3-ade8-43c0-aa7a-c26c6f364841.png)

[2021-12-20 11:18] mtias opened #37523 "Improve embed flow"
The current visual flow for embeds is quite unrefined. When there's an attempt at an embed we render a big white box that generally looks unstyled. The box then might collapse into a smaller thing if 1) embed didn't work 2) final embed is smaller than the box.

<img width="532" alt="Screenshot 2021-12-20 at 11 57 28" src="https://user-images.githubusercontent.com/548849/146759137-95016973-e04e-489

[2021-12-20 11:18] jiteshdhamaniya commented on #34461
alright, thanks. I will create a new PR.

[2021-12-20 11:44] carolinan commented on #37443
Would that be in get_default_block_editor_settings()? https://github.com/WordPress/wordpress-develop/blob/trunk/src/wp-includes/block-editor.php#L154

Or get_block_editor_settings() https://github.com/WordPress/wordpress-develop/blob/trunk/src/wp-includes/block-editor.php#L300

[2021-12-20 11:51] mtias commented on #37514
List View also should support drag and drop for multi-selections. cc @priethor for tracking with list view improvements.

[2021-12-20 12:12] carolinan commented on #35452
This has been solved, closing.

[2021-12-20 12:12] #35452 closed, assigned to nobody

[2021-12-20 12:40] carolinan opened #37524 "Missing block inserter when creating template parts from the template part list in the site editor"
### Description

If I activate a block theme, and go to Appearance > Editor (beta) > Template parts, and select "Add New",
the template part opens in isolation and there is no block inserter in the editor "canvas".

Eventually, I figured out that I could still click on the blue + icon in the top toolbar, and insert a pattern, but the experience was confusing.

### Step-by-step reproduction instruc

[2021-12-20 13:00] koraysels opened #37525 "Focal Point Picker in media detail browser"
## What problem does this address?
Focal point on media browser

## What is your proposed solution?
a filter so we can add the Focal Point Picker to attachement detail in the media browser

[2021-12-20 13:39] juliemoynatPro opened #37527 "Column block - Removing the column layout without removing content"
## What problem does this address?

I'd like to be able to remove the columns layout without removing the content. This is really frustrating and I did not understand well how it works at first so, I've created columns in columns… No way to deactivate the columns whereas we can ungroup groups, we can't uncolumn columns.

(See also #9009 about the content being deleted when removing columns - but w