[2022-09-10 03:44] t-hamano opened #44042 "Component: Order and spacing issues for text and icon in Button component"
### Description

On `Button` component with the icon, there are perhaps unanticipated issues regarding the order and spacing of text and icon.

Button text can be specified with the `text` prop or as a child element, but in that variation I see the following problem:

- **Button with text prop**: no space between text and buttons
- **Button with text children**: `iconPosition` prop is not reflecte

[2022-09-10 04:07] t-hamano opened #44043 "Component: Button text is hidden in certain variations"
### Description

In the `Button` component, the button text is cut off when the following conditions are met:

- Specify text with `text` prop
- Specify the icon with `icon` prop
- Enable `isSmall` prop

When the above condition is met, the width of the button is fixed at 24px, regardless of the length of the text.
I think the cause is that the `has-text` class is not applied when text is specifie

[2022-09-10 04:10] dashkevych commented on #24934
I agree that having a tag filter would be very useful for highlighting special posts on a page (functionality that is similar that Jetpack has for Featured Content).

However, it would be also very useful to have a functionality in Query block to exclude posts by tag to avoid duplicates.

For instance, the page has two Query blocks:

1. Query block that displays featured posts (based on tag)

2. Q

[2022-09-10 05:24] #42984 closed, assigned to t-hamano

[2022-09-10 05:26] t-hamano commented on #43999
@SGr33n
Thank you for submitting the Issue.
Issue #43666 was not merged at the time you commented, so it was not reflected in the latest `trunk`.
I have just merged it and would like to close this issue.

If you pull the latest `trunk`, you should see that this issue has been resolved.
If the issue has not been resolved, please do not worry about it and reopen.

[2022-09-10 05:26] #43999 closed, assigned to nobody

[2022-09-10 07:13] SGr33n commented on #43999
Thanks @t-hamano and @carolinan!

[2022-09-10 07:47] SGr33n commented on #43999
I can confirm, #43666 solved this.
Thanks!

[2022-09-10 08:37] bfintal opened #44045 "Add a way to add a custom Group button in toolbar when multiple blocks are selected"
## What problem does this address?

I want to add a custom toolbar button that shows up when multiple blocks are selected. Using the `BlockControls` + `ToolbarGroup` will allow you to add a custom button to the toolbar, but when multiple (non-same) blocks are selected, this doesn't work. And there is currently no way to add a button for multiple selected blocks.

## What is your proposed solution?

[2022-09-10 09:19] ntsekouras commented on #43922
👋 - As I understand it [is_main_query](https://developer.wordpress.org/reference/functions/is_main_query/) doesn't accept any params and checks against the global one, so the above to me seems expected. If you go somewhere around [here](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/post-template/index.php#L57) and check if the actual block's query(from Post Template)

[2022-09-10 10:09] mtias commented on #38990
Can we explore a design that combines the number presentation of the crop tools and a more visual symbol of what the rectangle looks like?

[2022-09-10 10:45] mtias commented on #37943
This should be closed for project tracking purposes as the main implementation is merged. Let's open follow ups to narrow down experience gaps or improvements.

@carlomanf I think that's a great point. It's also true generally for customizer / site editor or customizer / styles. The semantic space is generally the same between widget areas and template parts. We had on the backlog the idea of intr

[2022-09-10 10:45] #37943 closed, assigned to Mamaduka

[2022-09-10 10:55] cnote76 commented on #39395
Hi! This problem is still present in 6.0.2. How can I solve this?

[2022-09-10 11:04] mtias commented on #44024
I think the preview being an interactive element is a bit of an obscure interaction, so improving that would be useful. Instead of a toggle for "Use icons" can we try another segmented control that says "Icon / Text" that toggles between the options? I'm not sure we should allow picking the menu and close set ups separately, it seems to add a bunch of cognitive complexity.

Also, when the label is

[2022-09-10 11:07] mtias commented on #40205
@scruffian can we add a follow up to add the UI for it in global styles?

[2022-09-10 11:09] mtias opened #44048 "Communicate more clearly when a synced pattern has unsaved changes (in the canvas)."
_Extracted from tracking issue_

I think the simplest form of this could be a blue dot in the block icon in the toolbar, list view, and inspector control.

[2022-09-10 11:23] mtias commented on #40208
@jameskoster can we add a mockup that just does the splitting, please? Without styles or anything extra.

[2022-09-10 11:33] mtias opened #44050 "Add a "reset all attributes" to the block inspector"
It should be easier to reset all appearance attributes (i.e. non `role: content`) for any block. I'd imagine this could exist in an ellipsis menu next to the block description in the inspector, or by clicking on the block icon in the inspector.

On text blocks this could include clearing inline formatting as well but preserving semantic tags. Related to #8869.

[2022-09-10 11:37] mtias commented on #43261
Inferring how much a block is used throughout a site is not a trivial task, so I'd suggest a description that avoid saying that.

[2022-09-10 11:38] mtias commented on #42501
Where did we end up with this?

[2022-09-10 12:07] mtias commented on #41707
#44015 is very relevant as it might allow plugins to effectively define its own theme.json by hooking and modifying. This is a lower level API, but it might allow a pathway to then formalizing registration of theme.json extensions.

[2022-09-10 12:13] mtias commented on #39270
I'm bumping the priority of this for visibility.

[2022-09-10 12:14] mtias commented on #39189
@scruffian should this be closed and moved to wherever the create-block-theme plugin home is?

[2022-09-10 12:26] mtias commented on #34757
@ntsekouras can we revisit this and try to find a more straightforward solution? I'm not sure what consistency you are referring to with wordcount, but it seems like a minor concern compared to the ability to control length when setting up a design.

[2022-09-10 12:42] mtias commented on #34198
All form element need a lot more thinking before being considered for the elements API, including how they are going to be controlled, and how they are going to be leveraged by block authors.

[2022-09-10 12:57] mtias commented on #21558
Yes, I was hoping the new list refactor would fix it, but appear to still be an issue

[2022-09-10 12:59] mtias commented on #27614
The spacer should also be able to work with the new spacing presets.

[2022-09-10 13:01] mtias commented on #10386
We need to evaluate if it makes sense to continue carrying pullquote around. Seems fine to close this.

[2022-09-10 13:01] #10386 closed

[2022-09-10 13:03] mtias commented on #28779
It also seems regardless of locking we should show a modal for confirmation "Are you sure you want to remove the content block? The content is what allows ...".

[2022-09-10 13:13] mtias commented on #42299
I definitely think we should start by limiting to classes core wants to honor and commit to generating on its own. One of the issues for supporting any class is that we don't control the output of the classes, which would fail the contract we have on theme.json, which is things that are fundamentally supported across the board and for which you don't need to concern yourself on whether they are be

[2022-09-10 13:33] mtias commented on #20338
@jameskoster that makes a lot of sense to me. I can also see it being useful for templates that inherit query to be able to manage some reading settings like posts per page, etc, from there.

[2022-09-10 13:43] mtias commented on #42298
Also for consistency with the HTML markup, where we allow core blocks to have the form of `wp:heading` and don't require `wp:core/heading`

[2022-09-10 13:44] t-hamano commented on #43724
I have submitted a PR regarding the refactoring of tests: #44051

[2022-09-10 13:46] mtias commented on #38719
@glendaviesnz what do we have pending here?

[2022-09-10 13:51] mtias commented on #41544
I'd consider this low impact for the likely complexity it'd entail to keep track of unmounted component state. We can revisit if it becomes a wider concern.

[2022-09-10 13:54] mtias commented on #37717
Yes, it seems fine to me. cc @adamziel @gziolo

[2022-09-10 15:18] mtias commented on #40893
@aaronrobertshaw sorry missed the ping — I'm fine with some inconsistency as we work through it. By systematically I mean not abandoning it or trying to do it in one go, which is unlikely to happen. We should focus one panel at a time and get it to match the designs as soon as possible.

[2022-09-10 18:00] mtias commented on #44007
Duplicate of #30761 ?

[2022-09-10 19:33] asolopovas commented on #25077
@simono I have managed to make build process to work properly. But whenever I try to do dev mode, everything loads, all block assets, but no block appear in the list of blocks.
https://github.com/asolopovas/vite-gutenberg

[2022-09-10 20:06] senadir commented on #34198
I'd love to see any docs around this?

[2022-09-10 20:36] amustaque97 commented on #44014
I believe PR https://github.com/WordPress/gutenberg/pull/41517 fixes the current issue.

[2022-09-10 21:20] ryanwelcher commented on #33365
I think this is functionality that is missing in the docgen tool. I may be mistaken, but I believe that the docs are generated based on docblock tags. I can talke a look at this during the WCUS 2022 contributor day,

[2022-09-11 04:22] t-hamano commented on #43679
I was able to reproduce it.

<details>
<summary>Test Code</summary>

`plugins/my-custom-block/src/index.js`

[code]

`plugins/my-custom-block/src/block.json`

[code]

`themes/twenty-twenty-two/theme.json`

[code]
</details>

My test results show that when I activate the latest Gutenberg, the styles defined in `theme.json` aren't applied to the custom block only on the front-end.

https://user-imag

[2022-09-11 06:00] lgersman commented on #25077
Hello @asolopovas,

(1) Not sure if someone can/would/may help you until you provide a full/working example.

=> Your project references in `https://github.com/asolopovas/vite-gutenberg/blob/master/vite.config.js` a file/module `import gutenberg from '../vite-gutenberg-plugin/dist/index'` which is neither contained in your project nor listed as package dependency (but i figured out it's yet anothe

[2022-09-11 06:52] mtias commented on #38291
What's the status of this after the updates to what we load in the placeholder?

[2022-09-11 06:54] SGr33n commented on #43679
@t-hamano exactly what happened to me.

[2022-09-11 08:45] t-hamano commented on #43679
@SGr33n
Thank you for the reply.
I believe #44053 will fix this issue.

[2022-09-11 08:59] t-hamano commented on #42125
I noticed that the selector and actions in the `annotations` package are all experimental too.

[2022-09-11 10:35] mtias opened #44054 "Introduce option to auto-convert freeform content upon opening the editor"
It's about time we start looking into further smoothing out the transition points from classic content to blocks. We have some pending refinements to do [on validation](https://github.com/WordPress/gutenberg/issues/21703) and generally being more permissive about attribute spread, but there are also some steps we can start formalizing before we consider ways to do bulk conversion of content in the

[2022-09-11 11:37] mtias commented on #5805
@ellatrix I've been thinking that for the <kbd>⌘ &uarr;</kbd> case, the first press works fine (moves to the top of the current block) but we should make it so the subsequent press moves to the top of the previous block. What do you think?

[2022-09-11 11:42] mtias commented on #43650
I've also ran into this. There's also no access to margins so the centered layout cannot be reset. It'd be great to figure out a way to address this, it really hinders the expression you can achieve on themes.

[2022-09-11 11:46] mtias commented on #43608
I'd also like to try some overlay text that says the name or type of the template part.

[2022-09-11 11:47] mtias commented on #43608
@pablohoneyhoney this might be similar to what we discussed for the navigation block.

[2022-09-11 11:49] mtias commented on #43468
Doesn't the longer text above the controls provide enough context that it's about the different widths? We shouldn't have to repeat the "width" suffix on each label.

[2022-09-11 11:51] mtias commented on #43295
I think this is an ok tradeoff right now and not worth complicating the implementation further.

[2022-09-11 11:51] #43295 closed, assigned to nobody

[2022-09-11 11:57] MatzeKitt commented on #43468
Unfortunately, no. Even with multiple people in the team we needed quite some time to make sure we understood the settings correctly.

[2022-09-11 12:28] mtias commented on #4543
This should be covered by #43088.

[2022-09-11 14:42] rxnlabs commented on #32644
This is definitely needed. I was trying to show a client how to add margins to a block and could not add negative margins when they asked about overlapping a block on top of another. This is a limitation for block themes in being able to achieve certain layouts

[2022-09-11 15:13] asolopovas commented on #25077
@lgersman thanks for spending so much time precious responding to my questions I really mean it and appreciate it.
I have been fighting with this issue for a good part of the month and have found the projects [vite-for-wp]( https://github.com/kucrut/vite-for-wp) and [wp-bunlder](https://github.com/adambrgmn/wp-bundler).
`import gutenberg from '../vite-gutenberg-plugin/dist/index'` - this part come

[2022-09-11 16:37] ithinkandicode opened #44055 "Arrow keys won't move to next paragraph until after scrolling down"
### Description

If you have your cursor in a paragraph, and there are other paragraphs below it, you can press the *down* arrow key to move the cursor pointer down the paragraph, but it stops at that paragraph if it's at the bottom edge of the window. You have to use the mousewheel/scrollbar to move the view down, then it lets you press *down* again to move to the next paragraph.

### Step-by-ste

[2022-09-11 16:54] ryanwelcher commented on #42125
It probably makes sense to exclude packages that are fully experimental.

[2022-09-11 18:09] kkoppenhaver commented on #34292
@ciampo I've put together a PR for this over at https://github.com/WordPress/gutenberg/pull/44057. But I see the third item in your checklist is `Update the schematics` and I'm not sure if there's more to be done on this one or if the PR is ok as-is.

[2022-09-11 18:37] adamsilverstein commented on #5936
This should be fixed by https://github.com/WordPress/gutenberg/pull/41120

[2022-09-11 18:54] adamsilverstein commented on #16030
This should be fixed by https://github.com/WordPress/gutenberg/pull/41120

[2022-09-11 18:55] amustaque97 commented on #44055
I'm able to reproduce the error. Attaching a screencast for reference.

https://user-images.githubusercontent.com/21127788/189544294-2a17cf2f-f98b-42ce-961d-7e1f8b44279d.mov

In the video, I"m using an input capturing tool to display me pressing the "down" button

<details>
<summary>Text shown in the screencast</summary>

[code]

</details>

[2022-09-11 19:06] adamsilverstein commented on #39223
@Mamaduka https://github.com/WordPress/gutenberg/pull/41120 is ready for another review

[2022-09-11 19:15] paaljoachim commented on #16030
Thanks for letting us know in this thread Adam @adamsilverstein
I will go ahead and close this issue. It can always be reopened if that is needed.

[2022-09-11 19:15] #16030 closed

[2022-09-11 19:45] lgersman commented on #25077
Hi @asolopovas,

It's actually not a hack :-) Any bundler does it this way if you transpile JavaScript for Gutenberg.
Most `@wordpress\*` packages (except a very few like `@wordpress/icons` and `@wordpress/primitives`) are loaded in Gutenberg. To make it accessible to dynamicly loaded JavaScripts like blocks and Gutenberg extensions they are mapped to sub objects of the global variable `window.wp.

[2022-09-11 21:06] asolopovas commented on #25077
Great, I am already look up Storybook...

(1) I am 101% sure that everything is loaded in the browser as I can console log from the script right before registerBlock function.

(2) Everything is fine with mimetypes as everything inside the script works but the registerBlock type, it also demands to add title to the component in the console, which it doesn't do when you build it for production.

I

[2022-09-11 21:19] jeremyescott opened #44060 "Conditionally Include Custom Styles/Stylesheets for Templates and Template Parts (akin to wp_enqueue_block_style())"
## What problem does this address?

When developing block themes, I've found myself wishing I could add styles for templates and template parts akin to how we `wp_enqueue_block_style()`. With the block editor including only necessary CSS for performance, this pattern was one I want to be available for templates and template-parts.

For an example from a real-world project, [Wikimedia Enterprise](h

[2022-09-11 21:41] glendaviesnz commented on #39371
@bradley2083 You can [manually set `clamp` values for the spacing presets in the `theme.json`](https://github.com/WordPress/gutenberg/issues/39371#issuecomment-1210095976), but you can't currently add or edit them in the editor UI - not sure what the timeframe it for getting adding/editing of these into the UI.

[2022-09-11 22:56] t-hamano commented on #43679
On behalf of #44053, #44018 will fix this issue.

[2022-09-11 23:04] aaronrobertshaw commented on #40893
Thanks for the clarification @mtias, I'll revisit this and update https://github.com/WordPress/gutenberg/pull/41860 as soon as possible.

[2022-09-11 23:18] Ryokuhi opened #44062 "Content before the More button is truncated and unavailable if it's too long and if the excerpt is hidden on full page"
### Description

When the More block is added to a post, only the content before it should appear on the archives page. This is true only if the content before the More block isn't too long: if it's long enough, it's instead truncated and only the beginning of it appears on the archive page (possibly, together with the "Read more link text" that can be set in the editor).

The problem is that, whe

[2022-09-11 23:54] wileycoyote78 opened #44063 "Cannot set post formats in Page post type"
### Description

I am developing a theme for WP, and I am tinkering around with post formats. It works great on regular posts. However, when I try to add post-format support for pages, I run into a bit of a snag. From the drop down, I select a different format than 'Standard,' but after saving/updating the page, the selection reverts back to 'Standard.'

Upon querying the post format for the page

[2022-09-12 01:00] andrewserong commented on #43440
Thanks for the ping @c4rl0sbr4v0! There's one other change that needs to land before we can backport `layout.php` in its current form, which is this backport for the style engine: https://github.com/WordPress/wordpress-develop/pull/3199 — In the meantime, I've started a WIP backport PR for the foundations of the Layout support in https://github.com/WordPress/wordpress-develop/pull/3205 (it's a bit

[2022-09-12 01:48] talldan commented on #42365
This is fixed as of https://github.com/WordPress/gutenberg/pull/43135.

There's one situation where is still doesn't work, which is the default block appender that appears when first creating a post (the text that says "Type / to choose a block"). There's also https://github.com/WordPress/gutenberg/pull/42722 that may end up being a reasonable way to fix that.

I'll close this and report that prob

[2022-09-12 01:48] #42365 closed, assigned to nobody

[2022-09-12 01:52] glendaviesnz commented on #38719
As far as I am aware the main pain point of Layout supports relying the random container ids was the main focus for 6.1 and [this has been resolved](https://github.com/WordPress/gutenberg/pull/40875). Post 6.1 the aim is to extend the scope of semantic class names and/or design token expressions in the style engine, and encapsulate rules into stable utility classes, [as noted here](https://github.

[2022-09-12 02:05] talldan opened #44064 "No drop indicator appears when dragging a file into an empty post or block list"
### Description

Related #32880, #42365, #42722

Dropping a file does work, but there's no indicator to show that it will work.

This seems to happen because there are no blocks in the post. The 'Type / to choose a block' text is part of a React component called the `DefaultBlockAppender`, so the usual block drop indicators don't work (and they wouldn't be the right thing to show anyway).

There's

[2022-09-12 02:07] ithinkandicode commented on #44055
Thanks for looking at this @amustaque97 .

Another few issues, I'm raising them here as they're related to keyboard navigation and scroll position. (Should these be added as separate issues?)

- PageUp/PageDown don't work as expected, they only move up/down a short distance
- An issue with pressing *up*:
  - If there's a paragraph above the one with the cursor pointer, and that paragraph is mostly

[2022-09-12 04:23] flexseth opened #44066 "Using Adobe web fonts in theme.json"
## What problem does this address?

Background: As an Adobe Creative Cloud subscriber, I pay for access to this web font so I do not want to have to pay to download the font to install it on a WordPress 6.0+ website.

![cXWYmLGHziPecoTjPTDzrJ5J](https://user-images.githubusercontent.com/3792502/189573277-a42a4cbc-c77b-4ec6-bf5c-7b7649aef2db.png)

https://fonts.adobe.com/fonts/carta-marina

## Exam

[2022-09-12 04:27] #44066 closed, assigned to nobody

[2022-09-12 04:27] flexseth commented on #44066
Duplicate: Added to the correct repo (WordPress Twenty Twenty Three Theme?)

https://github.com/WordPress/twentytwentythree/issues/162

My first feature request!

[2022-09-12 05:23] lgersman commented on #25077
One last guess ... you told me your code runs fine in production mode (=> where `registerBlock` and friends will be called **just once** per block/filter).

I am not sure if `registerBlock` (and the bunch of filter registrations you do for columns and column block) work as expected if called again and again (=> everytime your block changes HMR will reload the block in the browser and your `registe

[2022-09-12 06:10] carolinan commented on #30761
The ability to change the content width and wide width values is already possible under the layout panel in the styles
sidebar ( so only for themes that support the global styles)

[2022-09-12 06:12] carolinan commented on #44007
I meant left/right/center alignments.
For example, setting the post title to be centered by default. This was proposed by @critterverse for the style variations in TT3, but it is not possible today.

[2022-09-12 06:37] s56bouya commented on #44026
Can someone please reproduce it?

[2022-09-12 06:46] luisherranz commented on #43664
If you mean my anchor (id) suggestion, sure 🙂

If you mean avoiding a page reload, there are already experiments to implement client-side navigation, like [this](https://github.com/WordPress/gutenberg/pull/38713) or [this](https://github.com/WordPress/gutenberg/pull/44034), but they are very preliminary, and they would require more challenges than just figuring out how to replace the HTML, like:

[2022-09-12 07:07] ntsekouras commented on #40208
I can work on this one. @jameskoster I'll see to create a simple PR to get things started.

[2022-09-12 07:13] talldan commented on #43760
Don't ask me how I figured it out, but the problem seems to go away if I comment out this `setAttributes` call in the group block's code:
https://github.com/WordPress/gutenberg/blob/7a6d9525434fecf9c84b46ca8f0d7d4bfef0449d/packages/block-library/src/group/edit.js#L76-L81

So I think this is actually a group block bug. That's probably why it couldn't be consistently reproduced.

To test this I dupl

[2022-09-12 07:26] talldan commented on #43760
TBH, I don't really understand what that code does. It seems to set the attribute to the value it already has.

That was observed in the PR review here - https://github.com/WordPress/gutenberg/pull/42763/files#r947365766, but I think we need a deeper understanding of why the effect was added.

cc @tellthemachines , @glendaviesnz.

edit: took a deeper dive and left some advice on the comment thread

[2022-09-12 07:45] carolinan commented on #44041
Hi, are you able to you provide testing instructions that does not involve third party plugins (ACF)?.

[2022-09-12 07:52] getdave commented on #38291
## State of preserving Navigation on Theme switch for WP 6.1

The current status as I understand it (cc @draganescu and @scruffian for confidence check) is:

- fallbacks for empty Navigation blocks are now the same across both front of site and editor - use the most recent Navigation Menu or use list of pages, via a page list block.
- No need for Themes to include Page List block as default fallba

[2022-09-12 08:06] carolinan commented on #44062
If the archive page is set up to show the excerpt, then displaying the excerpt is the intended behavior.

[2022-09-12 08:06] andrewserong commented on #43440
Update: I believe the first part of the Layout support backports (the foundational changes without `layout.php`) is ready for review in https://github.com/WordPress/wordpress-develop/pull/3205. It might need a look from folks who've also worked on the recent factor, so I've pinged @tellthemachines on the PR, too.

[2022-09-12 08:16] carolinan commented on #44040
Hi!

The settings in the styles sidebar are defaults. If a block has already been edited, the styles do **not** apply to that specific block, unless that block is reset, manually.

If a theme has a template in which the heading has a line height set, then the line height option will not work for that block, because it counts as having been edited.

But add a new heading block, then the line height

[2022-09-12 08:18] MaggieCabrera opened #44071 "Global Styles: add Caption element UI controls"
https://github.com/WordPress/gutenberg/pull/41140 Introduced the Caption element to be controlled via theme.json, we should [introduce a UI in Global Styles](https://github.com/WordPress/gutenberg/issues/40205#issuecomment-1242705814) so it can be editable by users too, the same way we did for the [heading](https://github.com/WordPress/gutenberg/pull/42176) and button elements.

[2022-09-12 08:19] MaggieCabrera commented on #40205
I created the issue [here](https://github.com/WordPress/gutenberg/issues/44071)

[2022-09-12 08:29] jameskoster commented on #40208
Here we go:

<img width="423" alt="Screenshot 2022-09-12 at 09 26 56" src="https://user-images.githubusercontent.com/846565/189607673-0824c5ff-977b-414f-b7b3-c2daa3dfc1fe.png">

[2022-09-12 08:32] scruffian commented on #39189
I think we can just close it.

[2022-09-12 08:32] #39189 closed, assigned to nobody

[2022-09-12 08:34] MaggieCabrera commented on #39189
For reference in case someone comes looking, this should be tracked in [the plugin's repo](https://github.com/WordPress/create-block-theme)

[2022-09-12 08:43] carolinan commented on #43192
How can we improve this?
Is there a way to create an allowed list, and only include the option if the block is on that list?
And can that list be automated, so that we do not need to update it repeatedly?
Or perhaps a check if the block allows inner blocks?

[2022-09-12 08:53] jameskoster commented on #43261
Since synced blocks are `post`s in their own right, could basic usage be saved as meta data to make it more trivial?

If not, it would be nice to do _something_ to differentiate between local/global blocks, as it's a pretty big pain point right now. It could be something like this, or https://github.com/WordPress/gutenberg/issues/32163, or a combination :)

[2022-09-12 08:57] jameskoster commented on #43608
Do you mean on hover?

[2022-09-12 09:01] mtias commented on #43608
Yes

[2022-09-12 09:06] mtias commented on #43261
Not really, the problem is figuring out how to keep it updated. Every time you embed a reusable block you'd bump the usage? What happens when it gets removed? What if you duplicate a post, or unpublish a page, or remove a template that referenced one? It gets unwieldy quickly. The right way to do it would be to query for its presence with `has_blocks`, which would need to be done performantly and

[2022-09-12 09:09] mtias commented on #40208
Thanks! We can expand from there for layout, media, etc, in the future. One thing to consider, for example, is that layout tools are a lot more useful for multi-block selection, and we already expose them more prominently in the toolbar in those cases. We should probably include Cover in those transforms.

[2022-09-12 09:10] mtias commented on #40205
Thanks!

[2022-09-12 09:12] ciampo commented on #44042
The `Button` component definitely feels a bit out of date and could do with some tweaking of the styles, especially about the different combination of text and icons, and with all of its variants.

It's a tricky set of changes because the component is so widely used across the WordPress ecosystem, and I'm sure in many instances with style overrides.

I wonder what the best approach could look like

[2022-09-12 09:15] jameskoster commented on #42501
Seems we're looking for consensus on how to present everything. These are the options we have atm:

<img width="1052" alt="Screenshot 2022-09-12 at 10 10 13" src="https://user-images.githubusercontent.com/846565/189616200-3e2b2c64-04f8-4452-8bf8-4e21cdee60eb.png">

Now that I think of it, another option would be: Clicking the root-level inserter engages the zoomed-out view with the main Inserter p

[2022-09-12 09:21] javierarce commented on #44024
I agree with you about the preview being problematic. Here's an iteration based on your feedback:

![image](https://user-images.githubusercontent.com/4933/189618145-987904db-7c37-407a-a1aa-ea71966893cb.png)

- The preview is expanded using a simple toggle
- We use a segment control to choose between icon and text modes
- The segment control acts as the labels for the components below
- [Prototype]

[2022-09-12 09:22] sb726 commented on #44041
Dear Carolina,

I am not but let me try dig a bit deeper. I am not sure if the filtering problem also happens with tags (my set up uses a custom taxonomy - I have no tags).

However, all I can say is that I could not get rid of the problem with 6.0.2. I had to roll back to 6.0.1 and then everything was fine again. So something has happened between the two versions.

My more basic question was whet

[2022-09-12 09:23] jameskoster opened #44074 "Add reading settings to front-page template inspector"
This has come up tangentially in a couple of larger issues already, but may be worth tackling in isolation.

When editing the front-page template, it would be useful to offer manipulation of the reading settings via the Inspector:

<img src="https://user-images.githubusercontent.com/846565/180195127-fd119dc7-dcca-4ca9-928a-d700682be7ee.png">

This can pave the way for other template-based query ma

[2022-09-12 09:24] ockham commented on #43907
Thanks for flagging! Should be easy enough to rename 😄 Just to clarify, this is the block name, so it'll also change e.g. in the block inserter.

What should we call it?

Some ideas:
- "Next Comments Page"
- "Comments: Next Page"
- "Comments Next Page" (no colon -- more consistent with "Comment Pagination", but kinda ugly IMO)

Do we have precedent for something like this? I.e. naming "subordinate

[2022-09-12 09:38] jameskoster commented on #43261
I was thinking the 'count' would be updated when the parent document is updated / published. But yes I suppose that will be tricky considering imports etc.

I agree, this would be a worthwhile update on its own.

[2022-09-12 09:46] ellatrix commented on #5805
@mtias Maybe. I think that behaviour may make more sense for Alt+Arrow?

[2022-09-12 09:48] talldan commented on #43829
Thanks for the hint! That helped immensely. I stumbled across a solution for this in #44076.

edit: also put together a fix for the scrollbar issue in #44079.

[2022-09-12 09:58] mtias commented on #5805
Would command+arrow then move to the start of the document? I think the issue now is that once on a block boundary, command+Arrow feels erratic.

[2022-09-12 10:02] ellatrix commented on #5805
Yes, Cmd+Arrow should move to the start of the document then, Alt+Arrow block by block.

[2022-09-12 10:08] ellatrix commented on #43923
Looking into it

[2022-09-12 10:32] ciampo commented on #44043
cc'ing @mirka for visibility

[2022-09-12 10:38] vncntdvrs opened #44080 "Query loop next page button not working as expected"
## What problem does this address?

Recently I ran into an issue using the query loop block halfway down on the front page of a website I was working on.

Whenever I clicked on the ‘next page’ button to show more blogposts results, the click would cause the page to jump to to top and I would have to scroll down to go back to the blog overview window.

I expected the click to show me more more resu

[2022-09-12 11:36] jameskoster commented on #43608
I think we explored before having something like a tag attached to the overlay. Since template parts can be quite small, it may have to appear outside.

<img width="324" alt="Screenshot 2022-09-12 at 12 35 08" src="https://user-images.githubusercontent.com/846565/189643626-82d9da50-0b32-45d3-ae96-c254c37d312d.png">

[2022-09-12 11:47] mtias commented on #44074
Should we include access to the "latest posts" setting in the index / archive / home templates?

[2022-09-12 12:10] asolopovas commented on #25077
Ok to simplify things, vite js just uses rollup js under the bonet, but does few different things than rollup.

Consider block like this:

[code]

In production because of  [vite-gutenberg-plugin](https://github.com/asolopovas/vite-gutenberg-plugin), particularly of this [file](https://raw.githubusercontent.com/asolopovas/vite-gutenberg-plugin/master/src/resolve-wp.js), this code turns to somethin

[2022-09-12 12:30] Soean commented on #41124
@MatzeKitt or use a copy of `wp_restore_group_inner_container` without the JSON support check.
https://github.com/WordPress/wordpress-develop/blob/6.0/src/wp-includes/block-supports/layout.php#L246-L273

[2022-09-12 13:23] mtias commented on #38719
That's great, we should ensure this gets to be communicated properly in dev notes and theme notes.

[2022-09-12 14:16] amitpatel0702 opened #44092 "Providing a validation UI for unexpected or invalid content issue"
## What problem does this address?
Usually when a user enters any invalid tag in the Gutenberg editor, one may encounter with "This block contains unexpected or invalid content." and then it makes extremely difficult for a user to fix or resolve that issue. All option to fix the block or convert to block or classic editor breaks the tags and all the HTML part if lost.

## What is your proposed sol

[2022-09-12 14:19] paaljoachim commented on #44092
Thank you for adding this issue @amitpatel0702 Amit!

[2022-09-12 14:43] sophiegyo commented on #24934
I was going to add the exact same thing; it'd be very nifty to have a method of excluding a taxonomy from a query loop, to have a few 'featured' posts at the top of a template, that are then not repeated in the query loop below.

[2022-09-12 15:31] mirka commented on #40392
I'm not exactly sure, but I think we'll be doing inventory/cleanup work on the `UI` object when we start to make those items themeable, starting with the border colors. I'm fine with leaving it for now (and it being continued to be used in new places) because it captures some semantic meaning that will likely be useful when doing any future refactor work (including theming).

[2022-09-12 15:32] #37312 closed, assigned to nobody

[2022-09-12 15:46] bjtitus commented on #37525
Sorry @mrfoxtalbot, I don't think I have any history with this ticket so I'm not sure how much help I can be.

If I had to guess, I think @koraysels was talking about this [Focal Point Picker](https://developer.wordpress.org/block-editor/reference-guides/components/focal-point-picker/). Maybe a tool like the crop/rotate which would allow you to select a rectangle to be applied for cropping?

My ap

[2022-09-12 15:47] #37538 closed, assigned to nobody

[2022-09-12 15:54] #43470 closed, assigned to amustaque97

[2022-09-12 16:21] MaggieCabrera commented on #34198
Elements are documented [here](https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-json/#element-styles)

[2022-09-12 16:21] lgersman commented on #25077
Have you seen that in dev mode your  vite-gutenberg-plugin
<https://github.com/asolopovas/vite-gutenberg-plugin>  plugin doesnt
translate the ***@***.***/blocks' import to window.wp.blocks ?

That's what I talked about in my last comment... and thats the problem.
Your mappings are just applied in build mode.

Am Mo., 12. Sept. 2022 um 14:10 Uhr schrieb Andrius Solopovas <
***@***.***>:

[2022-09-12 16:43] mburridge opened #44095 "Project scaffolded by @wordpress/create-block does not enforce WordPress Coding Standards"
## What problem does this address?
The project scaffolded by `@wordpress/create-block` is consistent with the [WordPress Coding Standards](https://developer.wordpress.org/coding-standards/wordpress-coding-standards/), but it doesn't enforce them in subsequent development.

If you deviate from the WordPress Coding Standards the linter will adapt, e.g. if you put double quotes around a string in a `

[2022-09-12 16:46] jasmussen opened #44096 "ToolsPanel: Improve ellipsis menu with subheadings and separate reset button for default tools"
The [ToolsPanel](https://wordpress.github.io/gutenberg/?path=/story/components-experimental-toolspanel--default) component comes with an ellipsis menu. This ellipsis menu serves two purposes:

1. To make available design tools that are occasionally but not always useful
2. To clear various such properties back to their default state

This panel is in part created to allow more design tools in a le

[2022-09-12 17:05] iamtakashi opened #44097 "Allow themes to add custom templates description"
Themes can add custom templates, but there doesn't seem to be a way to add descriptions. @jffng kindly looked into this for me, and it seemed like `name`, `title`, and `postTypes` are allowed at the moment. https://github.com/WordPress/gutenberg/blob/40efcbe548e7579a436912bd12740212cf305cdc/schemas/json/theme.json#L1559

The screenshot was from a site with Twenty Twenty-Two, but many other themes

[2022-09-12 17:24] franmastromarino commented on #37923
Hello @mrfoxtalbot

Thanks for reviewing this issue
We sorted this out a few months ago, not sure now what was the issue
But it's necessary to use all these filters to create custom template

add_filter( 'get_block_templates', array( $this, 'get_block_templates' ), 10, 3 );
add_filter( 'pre_get_block_template', array( $this, 'pre_get_block_template' ), 10, 3 );
add_filter( 'pre_get_block_templates

[2022-09-12 18:04] annezazu commented on #44096
@aaronrobertshaw @apeatling might this be something ya'll can prioritize for 6.1 as an initial iteration/tweak, ahead of broader work on refinement in the future? I know there's a very similar discussion underway in https://github.com/WordPress/gutenberg/issues/43082 and there was previous in the original consistency issue for design tools https://github.com/WordPress/gutenberg/issues/43241#issuec

[2022-09-12 18:53] asolopovas commented on #25077
In dev mode this plugin does not do anything it only works in production. In dev model it takes the original node package and transpiles it,

As I mentioned earlier this plugin was hack borrowed from someone's code to fix the production stage, I can't figure out the dev stage.

If @wordpress/blocks is loaded and transpiled from original package, it should work the same as I was able to achieve it

[2022-09-12 18:57] lgersman commented on #25077
Exactly thats the problem Andrius - in dev mode the plugin MUST ALSO
transpile  ***@***.***/blocks' import to `window.wp.blocks` (and all other
imported wordpress packages too)

Am Mo., 12. Sept. 2022 um 20:54 Uhr schrieb Andrius Solopovas <
***@***.***>:

[2022-09-12 19:00] asolopovas commented on #25077
It cannot do that, thats not what vite does... I was able to do globals replace for @wordpress/blocks in production because it builds assets with rollup

[2022-09-12 19:20] Ryokuhi commented on #44062
:wave: @carolinan
I agree with you. There are two problems, though.

- The issue I'm reporting is about what happens when the user doesn't add a custom excerpt to the post: in this situation, the excerpt is automatically generated from the post content, truncating it and possibly hiding part of the post content itself.
- If the archive page is set up to show the excerpt, the page contains a custom

[2022-09-12 19:30] ajlende commented on #44060
This also seems conceptually similar to the [`style`](https://github.com/WordPress/gutenberg/blob/77b940d669217fc917d246df44dd087cf6345b08/schemas/json/block.json#L477) property on block.json just applied to templates and template parts

[2022-09-12 20:04] lgersman commented on #25077
I am pretty sure that you can do that using

https://vitejs.dev/config/shared-options.html#esbuild

since you can configure esbuild in vitejs to do anything you want.

and using esbuild you can for sure replace imports with globals (google for
it, multiple plugins available for this option)

Am Mo., 12. Sept. 2022 um 21:00 Uhr schrieb Andrius Solopovas <
***@***.***>:

[2022-09-12 20:07] #40392 closed, assigned to mirka

[2022-09-12 20:52] anton-vlasenko commented on #43440
FYI @gziolo @aristath
I've [submitted a PR](https://github.com/WordPress/gutenberg/pull/44100) to rename `wp_enqueue_block_view_script `to `gutenberg_enqueue_block_view_script` and deprecate the old name (`gutenberg_enqueue_block_view_script `).
IMO all PHP functions in the `lib/compat` folder should have the `gutenberg_` prefix to ease the backporting efforts and ensure good naming practices.

[2022-09-12 22:15] franmastromarino commented on #37923
You're welcome!

I think this will very help full, It was very difficult to find a way to create custom templates

Best regards

[2022-09-12 22:57] carolinan commented on #44062
I don't think it is an issue, you make a decision when you choose to add the block and enable or disable the option.

[2022-09-12 23:49] andrewserong commented on #38719
I think the main change was in https://github.com/WordPress/gutenberg/pull/40875, so I'm happy to write up a short dev note for that (basically, expanding on the idea that blocks that use Layout no longer have a random container id class when they use default settings, so that the container id is only in use when the block utilises non-default settings / has unique settings set at the block level)

[2022-09-12 23:51] noisysocks commented on #43440
Very very open to a discussion about how to improve this (it's a mess!) but just noting that currently our stated approach is to use `wp_` with a `! function_exists()` guard. This lets plugins and theme developers use the `wp_` function and have their code work when running in WordPress 5.9 + Gutenberg, WordPress 6.0 + Gutenberg, and vanilla WordPress 6.1. For non-public APIs a `gutenberg_` prefix

[2022-09-13 02:56] #43829 closed, assigned to talldan

[2022-09-13 03:16] andrewserong commented on #43942
Updated in #44101, thanks to @ndiego!

[2022-09-13 03:16] #43942 closed, assigned to ndiego

[2022-09-13 03:50] talldan opened #44102 "Query Loop: Carousel pattern selector is confusing to use"
Potentially related - #41379 (I'm not sure if the Query Loop block is in that issue's scope).

## What problem does this address?
The Query Loop carousel pattern selector is a little confusing to use, as it works differently to every other similar interface in the editor.

At first I thought the interface was broken (and I ran it past a couple of other people who thought the same thing):
![Screen

[2022-09-13 03:55] talldan commented on #44092
@amitpatel0702 I fixed some problems with the issue description, the text you added under 'What is your proposed solution' wasn't being shown.

I notice this sentence seems unfinished:

Is there something that you were going to add?

[2022-09-13 04:04] talldan commented on #44048
There was a previous PR that was close to being merged - https://github.com/WordPress/gutenberg/pull/32464

Some parts of that could be extracted. I don't think the contributor was available to work on it any more.

[2022-09-13 04:10] amitpatel0702 commented on #44092
Hi @talldan, Thanks for Bringing it to my attention.
Let me add the sentence once again here to provide more understanding.

**Usually when a user enters any invalid tag in the Gutenberg editor, one may encounter with "This block contains unexpected or invalid content." and then it makes extremely difficult for a user to fix or resolve that issue. All option to fix the block or convert to block or

[2022-09-13 04:11] talldan commented on #44092
Thanks - I've updated that.

[2022-09-13 04:32] kevin940726 commented on #37976
Closing to make sure it's not a false positive.

[2022-09-13 04:53] talldan commented on #43760
Fix in #44103

[2022-09-13 05:07] #43650 closed, assigned to tellthemachines

[2022-09-13 05:27] #43863 closed, assigned to Mamaduka

[2022-09-13 05:27] #15755 closed

[2022-09-13 05:42] anton-vlasenko commented on #43440
~~to rename wp_enqueue_block_view_script to gutenberg_enqueue_block_view_script and deprecate the old name (gutenberg_enqueue_block_view_script ).~~
I've [reverted](https://github.com/WordPress/gutenberg/pull/44100/commits/54da4412d486f1e7b4e3aa45cf9418a1f15fac94) this change so that the code is in [accordance with the guideline](https://github.com/WordPress/gutenberg/blob/trunk/lib/README.md#pref

[2022-09-13 05:53] #37923 closed, assigned to nobody

[2022-09-13 06:18] #38053 closed, assigned to nobody

[2022-09-13 06:47] scruffian commented on #44060
I'm not sure about this. One of the goals of block themes is to reduce the need for loading lots of custom CSS. This seems to encourage an approach which uses CSS rather than relying on Global Styles and block settings to provide the styles. Is there an example of the kind of CSS you'd want to include?

I see https://github.com/WordPress/gutenberg/issues/43347 as a slightly different idea as to me

[2022-09-13 07:05] #38351 closed, assigned to nobody

[2022-09-13 07:08] Mamaduka commented on #35483
Assigning this to myself and will try to migrate to Playwright.

[2022-09-13 07:22] Mamaduka commented on #37938
Hi, @mrfoxtalbot

I believe this is intentional. The change was introduced in #36656.

[2022-09-13 07:30] carolinan commented on #43347
Closing in favor of https://github.com/WordPress/gutenberg/issues/40318.

[2022-09-13 07:39] #37938 closed, assigned to nobody

[2022-09-13 08:05] MonteLogic commented on #41679
Unless I am missing something it appears that the code you added is fired everytime the page is reloaded. Thus, it appears I am going to have to use the selectors and Redux functions to accomplish the task of an event that fires on block addition to Gutenberg editor.
![fires-everytime-reload](https://user-images.githubusercontent.com/30337368/189846238-908100cc-f663-48e5-b567-78219699239d.png)

Wh

[2022-09-13 08:06] javierarce commented on #40580
I added a new and more simple iteration [here](https://github.com/WordPress/gutenberg/issues/44024#issuecomment-1243453686)

![image](https://user-images.githubusercontent.com/4933/189851948-a3dcaf1a-a27d-44dd-b725-b0dc9b361954.png)

[2022-09-13 08:31] gziolo commented on #37717
Yes, it sounds like a good idea. There are already block-specific filters included in the Navigation block and it is the most complex one 👍🏻

[2022-09-13 08:31] javierarce commented on #44024
Added a final iteration based on @jasmussen suggestion: instead of a toggle, use the settings icon as we do in other sections.

![image](https://user-images.githubusercontent.com/4933/189852144-213d9ddf-9e3a-4aaf-bf47-1dbbaa139a8b.png)

[2022-09-13 08:36] jasmussen commented on #42257
Reopening this one as it was closed by mistake.

[2022-09-13 08:41] jameskoster opened #44110 "Post Editor doesn't reflect justification on the Post Content block"
With https://github.com/WordPress/gutenberg/pull/44065 merged it's possible for Post Content layout to be inherently more expressive.

Here's my single template:

<img width="1529" alt="Screenshot 2022-09-13 at 09 38 18" src="https://user-images.githubusercontent.com/846565/189854026-3ad14b15-0a96-48b5-9eb5-fc9039a6eaa9.png">

Notice how all blocks within the post content are left-justified. This

[2022-09-13 08:48] carolinan commented on #40908
Can confirm that this is still an issue in current Gutenberg trunk (14.0.3+).

[2022-09-13 09:05] Mamaduka commented on #43440
Backport PR for #42729 is ready for testing - https://github.com/WordPress/wordpress-develop/pull/3234.

[2022-09-13 09:05] oandregal commented on #42204
:wave: The vertical bar syntax (`var:preset|color|black`) is an internal format used in some situations (user data: inline styles and global style) to bypass kses restrictions. It's not intended to be used by 3rd parties.

I don't remember that we have document it anywhere. Reviewed the [how to guide](https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-json/) and the [reference

[2022-09-13 09:22] geriux opened #44113 "Add E2E tests for List V2 block"
**Related issues**: https://github.com/WordPress/gutenberg/issues/43873

Now that we have the new List V2 block enabled by default we need to update the E2E tests since we had to [disable the old ones](https://github.com/WordPress/gutenberg/pull/43648) since were breaking CI.

We also need to add a test to take into account pasting an empty list block in the editor, to cover a possible edge case t

[2022-09-13 09:22] geriux commented on #43873
Closing since the fix was already addressed and we will track adding E2E tests in this issue https://github.com/WordPress/gutenberg/issues/44113

[2022-09-13 09:22] #43873 closed, assigned to geriux

[2022-09-13 09:26] #37717 closed, assigned to afragen

[2022-09-13 09:28] gziolo commented on #39439
While we work on the general solution, https://github.com/WordPress/gutenberg/pull/37998 adds a way to modify inner blocks for the Navigation block with a PHP filter. This is going to be included in WordPress 6.1.

[2022-09-13 09:29] jasmussen commented on #42257
A thought:

* Building your menu in the inspector is likely a better experience in most cases. We should probably disable clickthrough on the nav block itself, so that you always select the whole navigation block by default, surfacing the inspector controls.

[2022-09-13 09:54] RahiDroid opened #44115 "Accessibility issue with the Overlay functionality"
### Description

Pull request https://github.com/WordPress/gutenberg/pull/43838 introduces an improved UX for the Post Featured Image block by incorporating the Overlay changes reflected on the image placeholder as well.

The upload button has a blurred background which is being removed in the mentioned PR to ensure it's visible what the overlay will look like. However, this has a drawback, if a u

[2022-09-13 10:06] ciampo opened #44116 "Add basic theming to the `@wordpress/components` package"
## What

Allow the components package to be themed by its consumers

## How

The components package would allow theming by exposing a few CSS variables (e.g "primary color", "text color", "background color", "border radius"...). The package would have default values for each variable, but any consumer of the package would be able to override those values.

These variables would be applied to all c

[2022-09-13 10:36] hamishmb opened #44117 "Pasting lists with asterisks for bullet points doesn't work"
### Description

Pasting lists with asterisks for bullet points doesn't work - instead of a nicely formatted list (like you get when you paste a list with dashes for bullet points), I get the message:

"Block has encountered an error and cannot be previewed."

I cannot really test without gutenburg unless I set up a second wordpress install, as this issue is on my production site. I think it is pr

[2022-09-13 10:51] getdave commented on #42257
Unfortunately the expectations seem to be different depending on context. We spent a while recently allowing for click-through to happen on inner blocks.

I wonder whether we could surface the controls _even if_ you select an inner Navigation block?

[2022-09-13 11:03] CreativeDive opened #44118 "register_block_pattern() --> PostTypes restriction NOT working"
### Description

Hello, I'm wondering if anyone has noticed this issue before? Whenever I want to register a block pattern for one or more post types using `postTypes`, it doesn't work. The block pattern are always available for all post types.

But mentioned like in the documentation, it should work: [https://developer.wordpress.org/block-editor/reference-guides/block-api/block-patterns/#register

[2022-09-13 11:20] tlindig opened #44119 "Synced Pattern: Undo/Redo not focus/scrolling properly"
### Description

There seems to be various problem with the redo and undo function related to reusable blocks, which can be called via the editor toolbar button.

I have only investigated text changes in core/paragraph block for now.

A) blocks inside a reusable block don't get a focus by Undo/Redo and browser doesn't scroll to it.

B) blocks below a reusable block are not always scrolled into the

[2022-09-13 11:33] jasmussen commented on #38990
Here's an iteration that focuses on a single aspect ratio dropdown with 6 preset sizes:

<img width="3120" alt="AR Dropdown" src="https://user-images.githubusercontent.com/1204802/189890170-1c52d03e-cbae-4bae-b08a-fcf345e61050.png">

The dropdown affords a richer visual shape representation of the aspect ratio numbers. When an aspect ratio is applied, the Height input field says "Auto", to indicat

[2022-09-13 11:45] jasmussen commented on #38990
I went ahead and updated the ticket name and description with the latest mockups.

[2022-09-13 11:47] asolopovas commented on #25077
I understand what your saying, and it woiuld definitely solve the problem, same way as it did for production stage. Unfortunately there is not info on how to do that.

[2022-09-13 12:09] jameskoster opened #44121 "Update spacing in exploded padding control"
Part of https://github.com/WordPress/gutenberg/issues/43412

The current spacing is poor because the range is equidistant from the label before and after, which can make it hard to understand which control and which label are related:

<img width="262" alt="Screenshot 2022-09-13 at 13 06 02" src="https://user-images.githubusercontent.com/846565/189896577-f34d9ccb-e192-4006-b6f4-acfb250d5996.png">

[2022-09-13 12:13] Robertght commented on #43939
Sorry for the delay here @carolinan !

This was a simple paragraph block. I tried testing with the [Emptytheme](https://github.com/WordPress/theme-experiments/releases/tag/emptytheme%401.0.0) theme, but I got a missing style.css error during instalation

[2022-09-13 12:50] mirka commented on #44116
I'm thinking of starting with something like (in order of priority):

1. accent color
2. background color
3. foreground color

Very simple, three official variables. Everything else (borders, shadows, darkened accent colors, etc.) we can try and automatically generate internally based on the given colors. It might be possible that we can manage without even exposing the foreground color (i.e. text

[2022-09-13 12:55] mirka opened #44123 "Components: Update the default accent color"
As requested in https://github.com/WordPress/gutenberg/pull/43994#issuecomment-1241569396, we want to update the default accent color of the package from `#007cba` to `#3858e9`.

This will only affect consumers outside of a WordPress context.

[2022-09-13 12:58] richtabor commented on #38990
Looking good. ✨

[2022-09-13 13:13] #43676 closed, assigned to nobody

[2022-09-13 14:09] ndiego commented on #22822
This issue was reviewed in today's Editor Bug Scrub. We have been unable to replicate using the latest versions of Gutenberg and WordPress. Has anyone else been able to replicate or is able to provide some additional information?

[2022-09-13 14:14] ndiego commented on #37809
This issue was reviewed in today's Editor Bug Scrub. We have been unable to replicate using the latest versions of Gutenberg and WordPress. Therefore, I am going to close this issue. If anyone can replicate it in the future, please feel free to reopen this issue with additional information.

[2022-09-13 14:14] #37809 closed, assigned to nobody

[2022-09-13 14:19] ndiego commented on #37908
This issue was reviewed in today's Editor Bug Scrub. Would you be able to provide a complete code example that can be used to replicate the issue? Thanks!

[2022-09-13 14:23] colorful-tones commented on #37908
It may be helpful to focus on a specific block in reporting this issue and then test and verify against other blocks as we go. 🤔

[2022-09-13 14:25] ciampo commented on #44116
Agreed. The simpler we start, the better IMO.

Based on personal experience with implementing a similar system, I'm a bit skeptical that we'll manage to find a formula that auto-generates colors in a way that is pleasing and well "proportioned" to the human eye for all possible colors — but we should definitely give it a shot, see where we get, and iterate.

I liked the idea of using vanilla CSS v

[2022-09-13 14:26] koraysels commented on #37525
Hi,

A focal point picker would come in handy if we could enable that functionality in the Media attachement editor. We can already scale and rotate media, and with `object-position` being widely used in responsive designs, it would make sense to add the feature somewhere in wordpress.

[2022-09-13 14:31] matiasbenedetto commented on #43347
I worked on a quick experiment yesterday: https://github.com/WordPress/gutenberg/pull/44126
Re-opening this issue to discuss if this is still something useful or not.

[2022-09-13 14:35] ndiego commented on #38664
This issue was reviewed in today's Editor Bug Scrub. We have been able to replicate this situation. It's not a bug per se, but more of an implementation choice. I do think having the classes at the `<ul>` level would be very helpful. Therefore I have added the Enhancement label.

[2022-09-13 14:36] Mamaduka commented on #38664
@jasmussen, @tellthemachines, do you remember if this was the design choice for the submenu block?

[2022-09-13 14:46] wpsoul commented on #38673
This issue is far more than just problem of assets. I found that all scripts which we add in editor (no matter how, with enqueue_block_editor_assets or with importing libraries in blocks) have no access to iframe because they are loaded outside iframe.

Scripts which will not work properly in Mobile preview and FSE:

1. breakpoints for sliders, carousels - because scripts track general window and

[2022-09-13 14:52] Mamaduka commented on #38673
The ability to load custom scripts in the iframed editor should be resolved via #37466.

@wpsoul the Site Editor exports it's own `PluginSidebar`, `PluginSidebarMoreMenuItem` and `PluginMoreMenuItem` components.

[code]

There's also a dev note on how libraries used by blocks can adapt to iframed editors - https://make.wordpress.org/core/2021/06/29/blocks-in-an-iframed-template-editor/.

[2022-09-13 14:54] ndiego commented on #38703
This issue was reviewed in today's Editor Bug Scrub. Are you able to confirm if this is still an issue in the latest version of Gutenberg and WordPress?

[2022-09-13 14:59] wpsoul commented on #38673
@Mamaduka Plugin Sidebar was fixed already. It's just missing documentation information.

My message is about scripts in iframe.

https://make.wordpress.org/core/2021/06/29/blocks-in-an-iframed-template-editor/

This is not working. Problem is not in getting document, body, etc, I use Ref there. Problem is that many libraries require to load them in iframe to track iframe's data like breakpoints,

[2022-09-13 15:02] colorful-tones opened #44128 "Navigation block: allow search toggle with overlay option"
## What problem does this address?

It is a common pattern to have a search overlay toggle in the main navigation of a site. Similar to the experience seen here (see the search icon in top-right corner of the site): https://demo.studiopress.com/monochrome/

Here is a gif of interaction:
![search-toggle](https://user-images.githubusercontent.com/405912/189934366-43b96609-de91-49e2-821d-346cb438ffef

[2022-09-13 15:06] mirka commented on #44116
I was thinking we don't even need context, just render a ThemeProvider as `<div class="asdf">` and inject the generated CSS variables as CSS `.asdf { --color-foo: #eee; --color-bar: #fff; }` etc.

[2022-09-13 15:08] colorful-tones commented on #42204
I feel like I've seen questions around this syntax surface a few times lately in a variety of theming contexts. It seems like it would be super helpful to extend the support for it, as opposed to deprecating or removing support for it. 🤔

[2022-09-13 15:08] jffng commented on #43955
Fixed by https://github.com/WordPress/gutenberg/pull/43925

[2022-09-13 15:08] #43955 closed, assigned to nobody

[2022-09-13 15:25] asolopovas commented on #25077
I should be able to come out with something like this,

[code]

But that would mean that all of the blocks that I would use the would use wordpress core modules rather than latest ones available on npm.  Basically my problem can get solved both ways, If I solve dev, then production will not need a hack and will basically do similar stuff that dev server does but compressed. If I do same global rep

[2022-09-13 15:26] ciampo commented on #44042
Thinking about it, I'd be tempted to see if we can deprecate all icon-related props on `Button` (`icon`, `iconSize`, `iconPosition`) — consumers of the component can easily just add and position icons as `children`, which would definitely encourage composability and remove complexity from `Button`.

@mirka what do you think?

[2022-09-13 15:36] jameskoster opened #44129 "Unable to remove margin in Pullquote"
The Pullquote block outputs a `blockquote` inside a `figure`. The issue is that the `blockquote` inherits a default margin, and since the editor does not allow you to target it specifically, it's not possible to remove that margin. Here's the result:

<img width="1515" alt="Screenshot 2022-09-13 at 16 32 52" src="https://user-images.githubusercontent.com/846565/189944368-3352a307-c9d2-4ca8-8877-c8

[2022-09-13 15:41] beafialho opened #44130 "Improve link styles settings"
Currently, it's possible to manage the typography settings for different separate elements, including Links and Headings, but if I select a typeface with links such as post terms in mind, this will also adopt that typeface in a paragraph with a different font, which isn't intended. Here's an example:

<img width="525" alt="Captura de ecrã 2022-09-13, às 16 37 52" src="https://user-images.githubu

[2022-09-13 16:22] mirka commented on #34845
Ok, thanks for the additional information!

Here is a snippet of two ways I can make it work:

[code]

Let me know if either of those still don't work.

The documentation is definitely outdated in the [render function case](https://github.com/WordPress/gutenberg/blob/trunk/packages/components/src/toolbar-item/README.md#render-prop), so I'll get that fixed up along with #32336.

[2022-09-13 16:25] carolinan commented on #43347
As far as I understood, the deadline for including enhancements in 6.1 has already passed.

[2022-09-13 16:37] carolinan commented on #43939
Empty theme in the Experiments repo is not the same files as in the Gutenberg repository. The experiments repo is not maintained.

[2022-09-13 16:51] Joshgrygiel opened #44132 "Gutenberg: Double Click after using Block Inserter"
### Description

You have to click twice to access the block's settings after adding to the editor through the block inserter, the layout also moves on your first click.

### Step-by-step reproduction instructions

To replicate:

1. Click on the + icon from the Block Inserter on the top left
2. Click on a block to add it - you will notice that the Block Inserter won't close
3. Try using an option

[2022-09-13 17:15] mirka commented on #44042
@t-hamano I agree with this spec 100% 👍

@ciampo Hard to say without taking better inventory of the current in-app usage, but I imagine the "icon + text" pattern to be common enough that it warrants some kind of designated API, if only for consistent styling.

I'm hoping that, by streamlining the existing CSS and providing [padding wrappers like we did for Dropdown](https://wordpress.github.io/gut

[2022-09-13 17:22] jorgefilipecosta commented on #42204
It was not kses restrictions that were the main concern. It was because when serialized as a var would be:
[code]
So to void the unreadable markup, we decided on that format.

There were no issues found with the format. Some people even prefer it. I think we could consider this case of not supporting it a bug and include support for it. If there is no one against the change I can try to propose a

[2022-09-13 17:38] dmsnell commented on #44092
it's possible to enter invalid HTML through the text/code editor in Gutenberg and to create "invalid" or unrecognizable markup. when leaving that text field with the serialized HTML the editor will show that warning because it can't make sense of the block. it's possible to go back into that text view to correct the HTML.

Some parts of your prompt are unclear to me @amitpatel0702 - where are you

[2022-09-13 17:49] t-hamano commented on #44042
In my experience, the `icon` prop is very useful when I want to add text with an icon to the `Button` component. This is because we don't need to use the `<Icon />` component as a child. I think many developers might believe that only dashicons can be specified for the `icon` prop 😅

As shown in the query results on WP Directory, `iconSize` and `iconPosition` also appear to be used by many consume

[2022-09-13 18:28] fullofcaffeine commented on #44040
Hi @carolinan, thanks for reaching out!

You're right about this scenario. However, the actual issue I wanted to report is another one that I couldn't reproduce consistently at first, so this feature confused me. I finally managed to reproduce it and updated the issue. It's a different issue and seems related to `kses`. I added another screen-recording to illustrate it.

https://user-images.github

[2022-09-13 19:04] bph commented on #42961
@scruffian Thanks for the Dev Note! and the link!

[2022-09-13 19:20] ironprogrammer commented on #43440
Submitted [#3237](https://github.com/WordPress/wordpress-develop/pull/3237) as refresh of [#3203](https://github.com/WordPress/wordpress-develop/pull/3203), primarily to resolve failing PHP unit tests once style engine is in place.

[2022-09-13 19:30] annezazu commented on #43877
This just got wildly worse with the 14.1 RC: https://github.com/WordPress/gutenberg/releases/tag/v14.1.0-rc.1

To the point that I got an unresponsive warning when trying to replace my header template part for a demo and a white screen of death. Even on refresh, I can't get the Site Editor to load still. I had to open a new tab to gain access once more. I tried this in Chrome in an incognito windo

[2022-09-13 19:36] annezazu commented on #43877
To get the page to crash, I have to pause before selecting a template part or try to scroll a bit. This makes me think it is indeed related somehow to this: https://github.com/WordPress/gutenberg/pull/44103 @talldan what do you think?

https://user-images.githubusercontent.com/26996883/189993438-dfcd2f08-792d-4e24-9e96-c1ecacdb3417.mov

[2022-09-13 19:39] lgersman commented on #25077
wordpress core modules rather than latest ones available on npm.

Exactly that is the truth. You got it.

And you cannot change that except you deliver your own bundled version of
Gutenberg with your blocks (which is not the case as I guess).

Remember : Almost every @wordpress/* module (except icons imported from
@wordpress/icons and similar things) are provided by the Gutenberg plugin
in WordPre

[2022-09-13 19:43] ndiego opened #44133 "Spacing step controls do not aways displaying accurate information with custom steps"
### Description

The new spacing step controls do not always display accurately when configuring unlinked spacing.

After some thorough testing, this appears to happen when custom spacing steps are created. Using the following should reliably allow you to replicate the issue.

[code]

### Step-by-step reproduction instructions

1. This occurs on any block, but test using a Paragraph block
2. Add u

[2022-09-13 19:59] annezazu commented on #43877
Here's a video with Safari using 14.1 RC1. The lag at first again seemed better but then VERY strange things started happening, including at the very end where the editor has a mind of its own and takes a bunch of actions all over that I didn't do:

https://user-images.githubusercontent.com/26996883/189997453-364e5470-31d2-4481-86d3-f7e96031eefc.mov

[2022-09-13 20:00] ndiego commented on #44133
@glendaviesnz and @jasmussen sorry for the ping, but I know you both have worked on the spacing steps. 🙏

My guess is the issue has something to do with the custom slugs used in my spacing example. The Twenty Twenty-Three theme is just using the 30, 40, 50, etc. slugs, but it appears that you should be able to specify anything in a custom theme.

[2022-09-13 20:07] #43564 closed, assigned to nobody

[2022-09-13 20:53] iandunn opened #44134 "Parent menus shouldn't require an `href`"
## What problem does this address?

The Navigation block assumes that parent menus will always have links, but [sometimes](https://github.com/WordPress/wporg-mu-plugins/issues/264) a site's information architecture doesn't provide a good "section overview" page to link to.

In those cases, requiring there to be a link can creating a confusing UX.

## What is your proposed solution?

Users should b

[2022-09-13 21:11] ironprogrammer commented on #43877
I am experiencing similar behavior in the modals that @annezazu has reported. This test report refers to Gutenberg 14.1 RC1 (`trunk`).

## Test Report

### Environment
- Hardware: MacBook Pro (16-inch 2021), Apple M1 Pro
- OS: macOS 12.5.1
- Browser: Safari 15.6.1
- Browser: Google Chrome 105.0.5195.102
- Server: nginx/1.23.1
- PHP: 7.4.30
- WordPress: 6.1-alpha-53344-src (`trunk`)
- Theme: twenty

[2022-09-13 21:17] annezazu opened #44135 "Styles: remove "beta" label"
## What problem does this address?

Similar to other renaming issues https://github.com/WordPress/gutenberg/issues/39293 https://github.com/WordPress/gutenberg/issues/43926, the Styles interface also has a temporary beta label on it that, at this point, should be considered for removal:

<img width="299" alt="Screen Shot 2022-09-13 at 2 14 12 PM" src="https://user-images.githubusercontent.com/2699

[2022-09-13 22:10] glendaviesnz commented on #44133
Thanks @ndiego, I have a [fix for this here](https://github.com/WordPress/gutenberg/pull/44136).

One thing to be aware of is that if you don't use the `10,20,30` slug format you won't be able to take advantage of the cross theme fallbacks that we will be hopefully adding post 6.1, ie. if templates or patterns that contain spacing presets are copied between themes, and a theme does not have a matc

[2022-09-13 22:53] andrewserong commented on #44110
Thanks for writing up this issue and including the screenshots @jameskoster! The fix for this will likely also be a fix for https://github.com/WordPress/gutenberg/issues/42911, so we may want to consolidate the issues.

[2022-09-13 22:56] andrewserong commented on #42911
There is a related issue open in https://github.com/WordPress/gutenberg/issues/44110 for the justification of post content.

I'm wondering if an ideal fix for both of these issues would be to see if it's possible to (somehow) extract the Post Content block that is in use in the currently selected template for the post being edited, and use those attributes in the styling of the post editor. That w

[2022-09-14 00:02] annezazu commented on #43877
I was trying to record a video for a different bug 😓 when I found this performance problem is also impacting the ease with which I can create new templates. Here's the video showing the editor kind of going a bit wild due to lag with the performance issue:

https://user-images.githubusercontent.com/26996883/190030104-dacafbf2-3d90-46fe-9120-0f5ff2ddbc8a.mov

This all feels entirely unusable. Using

[2022-09-14 00:09] noisysocks opened #44138 "Global Styles: Can't open Colour Picker by clicking on colour circle"
### Description

In Global Styles one can't open the Colour Picker by clicking on the colour circle. You need to first click on the ellipsis and then press Edit which is confusing since the colour circles are interactive but do nothing. It's okay for editing the name to be buried but changing the colour should be quicker.

### Step-by-step reproduction instructions

1. Go to Site Editor → Global S

[2022-09-14 00:09] noisysocks commented on #44138
@ramonjd said this might be due to dynamic ref resolution in theme.json which he was looking at in https://github.com/WordPress/gutenberg/pull/43249.

[2022-09-14 00:19] annezazu commented on #43907
I'm not sure if we do! I'd recommend asking in Core Editor to see if anyone might have some insights there. I'm afraid I don't have capacity to dive in deeper this week.

[2022-09-14 00:26] ndiego commented on #43877
I was able to replicate it. The easiest way to reliably replicate, which I have found, is to just open the Site Editor and keep opening and closing different modals. For me, the lag is not very noticeable at first, but then it slowly increases until the page just crashes.

[2022-09-14 00:29] glendaviesnz commented on #43877
@annezazu I have rebased [the PR with blur removed](https://github.com/WordPress/gutenberg/pull/43929) so it should be pretty much the same as 14.1 RC1 now, can you give it a try again and see if it resolves these worse performance issues?

If you could also try [this PR](https://github.com/WordPress/gutenberg/pull/44139) - this one removes something that is causing underinglying performance issue

[2022-09-14 00:38] ndiego commented on #44133
Thanks @glendaviesnz, just tested and approved. There definitely is a drawback to custom slugs when it comes to theme switching, but the ability to customize slugs is fantastic, especially for those theme developers building their own "design system" for managing sizes.

[2022-09-14 00:52] annezazu commented on #43877
That PR is strangely working really well (ran into some weirdness with the template creation experience, will open another issue). I tried everything I could think of to get it to break. Paused, searched, clicked around a bunch, etc.

https://user-images.githubusercontent.com/26996883/190034579-1ed2c749-582f-474f-8889-be71a2a10366.mp4

Edit to add: I say strangely because it does feel like the per

[2022-09-14 00:55] tellthemachines commented on #43877
The problematic code that #44103 is trying to fix was released in 14.0. Not saying it's unrelated 😅  but if the performance got worse with 14.1 then there may be more than one cause.

[2022-09-14 00:59] glendaviesnz commented on #43877
@annezazu there was a copy and paste error in my comment above, second PR link should have pointed to https://github.com/WordPress/gutenberg/pull/44139, but they both point to the original blur removal PR, if you have a minute to try this second PR sometime also that would be great thanks.

[2022-09-14 01:03] tellthemachines commented on #43877
@glendaviesnz #44103 does essentially the same as #44139 so either will work for testing.

[2022-09-14 01:20] glendaviesnz commented on #43877
Looks like there might be some other memory leak issues  - even with the [Group useEffect issue](https://github.com/WordPress/gutenberg/pull/44139) removed toggling between the site editor and the templates list, and not doing anything else caused the tab memory usage to slowly grow from 1.4GB to 3.1GB

[2022-09-14 01:27] #44133 closed, assigned to glendaviesnz

[2022-09-14 01:46] glendaviesnz commented on #44133
Yeh, we thought it was important to provide the flexibility here, so glad that is proving useful.

[2022-09-14 01:50] talldan commented on #44132
I think this is fairly common across the web and other applications, and not necessarily something that needs fixing. The first click dismisses the sidebar and after that the user is free to click elsewhere.

The same thing exists in github:

https://user-images.githubusercontent.com/677833/190040393-0e291f09-876c-422f-97af-0768e421d058.mp4

And I see the same in slack and Mac OS too.

[2022-09-14 01:59] annezazu opened #44140 "Query Loop block: Bundle more text focused patterns"
## What problem does this address?

During the 6.1 walkthrough @mtias noted the large number of image heavy patterns for the Query Loop block and shared a desire for more text focused patterns to balance out the mix.

## What is your proposed solution?

Add more text focused patterns to the Query Loop block initial setup state/bundled pattern options cc @WordPress/gutenberg-design

[2022-09-14 02:24] stokesman commented on #41679
Right. The blocks parsed from a saved post are added to the editor each page load. I'm not sure what would be the best approach to filter those out. [`wasBlockJustInserted`](https://github.com/WordPress/gutenberg/blob/5cbfe819b098b5e89ae313f2c6fb7fd2ba430bf3/packages/block-editor/src/store/selectors.js#L2649-L2657) might be a good selector to experiment with.

[2022-09-14 02:26] talldan commented on #43877
I think this is explainable - every time one of those buttons is clicked, the browser makes a request to the server to create a template post type. I think ideally you shouldn't be able to click multiple times while a template is already in the process of being created. There should be a loading spinner or something for slow connections. I think it's worth creating an issue for this and fixing it

[2022-09-14 03:49] annezazu commented on #23086
Tested this with 14.1 RC1 and an error occurs. Adding to 6.1 board. I think we should remove this from usage in the Site Editor until there's a fix or a more well thought out solution cc @michalczaplinski @ockham as a heads up.

[2022-09-14 04:15] glendaviesnz commented on #44121
@jameskoster I have a [PR for this here](https://github.com/WordPress/gutenberg/pull/44141). It was hard to get the exact dimensions you specified due to the way the range control is absolute positioned, but let me know what you think and let me know if you think it needs further px adjustments.

I also added a slight indent when in unlinked mode which I think really helps to indicate which dimens

[2022-09-14 05:18] #35954 closed, assigned to carolinan

[2022-09-14 06:09] NicoHood commented on #41405
Please also add this one: https://github.com/WordPress/gutenberg/issues/33789 I dont know why it is closed, but it seems not yet working.

[2022-09-14 06:13] carolinan commented on #44140
One of the difficulties with adding more text is creating a sentence like "Posted by (author name) on (date) in (category)",  in the post template since it uses 6 separate blocks (that also need to be translation ready).
The blocks can only be spaced for example by placing them in a container block and setting `blockGap` on the container to use `ch`, a unit that is not available in the spacing con

[2022-09-14 06:15] CreativeDive commented on #44118
It was first introduced with version 14.1 RC1.

[2022-09-14 06:15] #44118 closed, assigned to nobody

[2022-09-14 06:34] jasmussen commented on #44133
Thanks for tickets and quick fixes!

It's worth noting that the "XL, 2-XL" etc names should be retired in favor of 1x, 2x, 3x, 4x, etc, as outlined in #43412. It seems like the sooner we do this, the sooner we can set expectations of the control.

[2022-09-14 06:48] jasmussen commented on #42257
The "clickthrough" term causes me to stumble more often than not 😅 so just to be super clear about the idea, I mean this:

![clickthrough](https://user-images.githubusercontent.com/1204802/190081522-39299ca2-782f-432e-9f33-d44aff5b9249.gif)

Shown here, the first click on the Header selects it, and the entire block is the hit area. As soon as it's been selected, it's "unlocked" and you can select

[2022-09-14 07:02] jasmussen commented on #38664
I recognize that there's some complexity in the current default "border or no border" behavior. This is one of the challenges of the the block not being able to know what the site colors are, until you set at least one. For example:

* a dropdown menu will by definition cover content below, so it has to have a background in order to be legible
* we can't inherit a background unless a background is

[2022-09-14 07:14] Thelmachido commented on #37288
Looks like this is now supported, I cannot reproduce this issue as shown below:
<img width="1090" alt="Untitled" src="https://user-images.githubusercontent.com/41231764/190084496-4bb18e17-90b6-4da3-a4bb-e191eec05c07.png">

WordPress version 6.0.2

Gutenberg version 14.0.3

Closing this issue

[2022-09-14 07:14] #37288 closed, assigned to nobody

[2022-09-14 07:19] amitpatel0702 commented on #44092
Hi @dmsnell, Thanks for sharing your thoughts.

I agree with you and thought the same - That I would be able to fix the markup by choosing resolve or convert to HTML block option. But the issue I identified arised while working with List block and nesting lists. While a user clicks on resolve or convert to block, it erases entire list content instead of preserving markup.

Yes, I can understand th

[2022-09-14 07:24] mtias commented on #44140
With more text focused patterns I meant more cases that don't use featured images so prominently and just compose the elements in different ways with interesting typography choices. For example:

<img width="858" alt="image (60)" src="https://user-images.githubusercontent.com/548849/190087682-c8ed7908-827d-47e5-9330-c66c44905262.png">

Or uses featured images as a small thumbnail / square.

It mig

[2022-09-14 07:42] mtias commented on #38291
Thanks for the overview, @getdave. Looks like it's in a much better place. What happens if I have a single classic menu and no new menus and switch to a block theme? Would it use page list or automatically import the classic menu?

[2022-09-14 07:51] glendaviesnz commented on #44133
Jay is correct in [his comment here](https://github.com/WordPress/gutenberg/issues/43412#issuecomment-1220506107) that this doesn't really work with the way the default spacing scales are structured. They currently use a perfect fifth multiplier so can't really be equated to a `1x, 2x` label, ie. each step is 1.5x the previous step so showing those as labels is probably just going to confuse users

[2022-09-14 08:15] jameskoster opened #44147 "Selecting a pattern in the Template Part replacement flow is editing rather than replacing"
In the template part replacement flow, if you select an _existing template part_ then the original one is replaced as expected. However, if you _select a pattern_ then the original template part is _edited_ which feels unexpected. Here's a video demo:

https://user-images.githubusercontent.com/846565/190099050-314cad43-b5bf-4510-91fd-44ddc2c3c822.mp4

@talldan I'm sure we merged a PR that enabled

[2022-09-14 08:18] Thelmachido commented on #38731
I wasn't able to reproduce this with Gutenberg only + Slim SEO 3.13.1 plugin

I added two paragraph blocks and an image, and I was able to undo all three blocks using cmd+z on a MacBook.

https://user-images.githubusercontent.com/41231764/190098681-df7b66be-7bb5-43af-92a8-4ac88eb729a0.mov

Because I cannot reproduce this I will close the issue, please feel free to open if you think this should be

[2022-09-14 08:21] Thelmachido commented on #38736
At the moment he separator block's styles are shown from what is below. The styles are clearly added to buttons i.e Default, Wideline, and Dots. Clicking on each button gives you the style you want.

https://user-images.githubusercontent.com/41231764/190100836-5560141a-a100-4099-940d-80163ac29782.mov

I think this is pretty clear, I will close this issue for now

WordPress 6.0.2

Gutenberg 14.0.3

[2022-09-14 08:21] #38736 closed, assigned to nobody

[2022-09-14 08:24] mtias commented on #44133
The `1x, 2x, 3x` is not about their multiplying factor but about their sequential nature. If you check a tool like [modularscale.com](https://www.modularscale.com/), these would coordinate with the `text_m1`, `text_m2`, `text_m3` classes. In that sense, I agree the `x` would be misleading. For spacing, where we have a lot more granularity, it's irrelevant to say if it corresponds to a label of `2-

[2022-09-14 08:27] Thelmachido commented on #38823
There hasn't been much activity on this issue in a while,  are you able to take a look at this @kevin940726

[2022-09-14 08:52] aristath commented on #43897
Hmmm if empty we could make it `#`. Would that make sense?

[2022-09-14 09:25] t-hamano commented on #38736
This issue targets the block style preview, not the inserted block. However, as shown below, the latest Gutenberg seems to have improved the situation.

![separator_default](https://user-images.githubusercontent.com/54422211/190116370-d06333c6-d773-43e1-9732-4a6392ea98da.png)
![separator_wide](https://user-images.githubusercontent.com/54422211/190116381-0ae11929-e021-40d3-8f07-0113cee083f4.png)
![

[2022-09-14 09:34] glendaviesnz commented on #44133
Thanks @mtias, removing the `x` helps clarify the thinking around this for me. Currently the `2-XL` style labels are simply UX labels and they aren't saved to the preset vars/block content. They are generated at runtime when the scale is created, so relatively easy to switch out at any point.

[2022-09-14 09:37] Humanify-nl commented on #43665
There is a weird bug here.

I tried to fix this temporarily by adding a overriding block variation to add a class for it. This also doesn’t work anymore. But used to in 6.0. (Maybe this helps to identify it)

I’d say it is a pretty high priority bug if editor and front-end have such a discrepancy on WordPress core release. Every row will not work properly. How did this sneak through?

[2022-09-14 09:58] t-hamano commented on #28011
@carolinan
How about submitting the another issue about reusability of template parts and UI improvements regarding warning?
If the bug in this issue has been fixed, I think this issue should be closed.

[2022-09-14 09:58] sb726 commented on #44041
Dear Carolina,

Were you able to find any evidence of the issue I reported?

Thank you

[2022-09-14 11:09] Soean commented on #33367
I think we can close this issue:

PR: https://github.com/WordPress/gutenberg/pull/44015
Docs: https://developer.wordpress.org/block-editor/reference-guides/filters/global-styles-filters/

[2022-09-14 11:09] #33367 closed, assigned to nobody

[2022-09-14 11:24] getdave commented on #38291
Currently it would use page list.

[2022-09-14 11:32] anton-vlasenko commented on #36046
https://github.com/WordPress/gutenberg/pull/36151#issuecomment-960730127

[2022-09-14 11:33] anton-vlasenko commented on #36046
https://github.com/WordPress/gutenberg/pull/36151#issuecomment-960730127

[2022-09-14 11:33] #36046 closed, assigned to amustaque97

[2022-09-14 11:50] gziolo commented on #33542
Now that [Allow registering multiple items for all supported asset types](https://github.com/WordPress/wordpress-develop/pull/3108) landed, we have achieved a good level of consistency. The only remaining task now is to document all changes and compile a dev note.

I consider this one nice to have, and it's being tracked in #41236, so I'm going to close this issue as resolved.

[2022-09-14 11:50] #33542 closed, assigned to aristath, gziolo

[2022-09-14 11:53] t-hamano commented on #38548
I am investigating, but have created code to temporarily enable the block so that anyone can reproduce this issue.
If you run this code in your browser console, a custom block will be added and you should be able to reproduce this issue.

<details>
<summary>Code</summary>

[code]
</details>

https://user-images.githubusercontent.com/54422211/190146520-0f3c649d-9405-4635-a5ee-d214eede7268.mp4

[2022-09-14 12:02] mtias commented on #38291
That's a bummer, can we address the simplest case where it's 1 classic menu and no block menus so that it uses what exists? This should be much higher priority than sorting out the slug hierarchy. I'd also go as far as saying 1 menu || "primary" menu from classic should be used if you don't have block menus yet.

[2022-09-14 12:03] mtias commented on #44133
Indeed, so it should be straightforward to address and it's more a matter of what seems the most clear.

[2022-09-14 12:04] anton-vlasenko opened #44151 "Implement a lint rule that ensures that functions/classes with no "gutenberg_" prefix are properly guarded"
## What problem does this address?
Currently, it's possible to define a PHP function (class) with any prefix.
This repeatedly resulted in fatal errors due to duplicate function names between Core and Gutenberg.

## What is your proposed solution?
A new lint rule should be implemented.
It should check that PHP functions/classes with no `(G|g)utenberg_` prefix are properly guarded with `function_exi

[2022-09-14 12:05] anton-vlasenko commented on #44151
I'm working on implementing this rule.

[2022-09-14 12:09] fluiddot commented on #38407
Updated the parent post with:

### 🛠️ Recently fixed or improved

++ [Columns block - Add Unit tests](https://github.com/WordPress/gutenberg/pull/44127)
++ [Cover block - Add Unit tests](https://github.com/WordPress/gutenberg/pull/44091)

[2022-09-14 12:31] gziolo commented on #44095
The issue is more nuanced and tracked in https://github.com/WordPress/gutenberg/issues/21872. One of the motivations of the [proposal to change WordPress Coding Standards for JavaScript](https://make.wordpress.org/core/2022/01/05/proposal-changes-to-javascript-coding-standards-for-full-prettier-compatibility/) was the ability to use the original Prettier that would resolve this issue. Unfortunatel

[2022-09-14 12:32] jasmussen opened #44153 "Text selection switches between partial and multi-select when cursor is between blocks"
When making a partial selection between two blocks, and the selection is made somewhat quickly, the blue selection borders do not appear. However when moving the cursor slowly and pausing in the space between blocks, the blue borders do appear:

![selection](https://user-images.githubusercontent.com/1204802/190153802-f1bdc91e-ab0c-4bcc-a539-c7076775a06c.gif)

When you are making a partial selectio

[2022-09-14 12:39] jasmussen commented on #44153
Created #44154 as a potential fix for this one.

[2022-09-14 12:54] Ryokuhi commented on #44062
I see your point and agree that users are the ones who decide to add a More block and enable the "Hide the excerpt on the full content page" option.
I have reconsidered the entire issue, also in the light of how classic themes deal with it (for example, here is a [comparison in the Core reference between the `the_excerpt` function and the `` Quicktag](https://developer.wordpress.org/reference/func

[2022-09-14 13:27] carolinan commented on #44041
No. You can enable notifications / subscribe to be notified when there are any replies to this issue.

[2022-09-14 13:31] Thelmachido commented on #39001
I am not quite sure which code can be used to hide the site identity in Customiser, however, at the moment the code provided `$wp_customize->remove_section( 'title_tagline');` is breaking the site. I used the code snippet plugin to add the code, let me know if I am missing something.

What I experienced can be seen below:

https://user-images.githubusercontent.com/41231764/190167112-be12e734-9c84-

[2022-09-14 13:31] #39001 closed, assigned to nobody

[2022-09-14 13:48] getdave commented on #38291
I agree. I believe @draganescu is already looking into it.

[2022-09-14 13:49] getdave commented on #42257
That what was I was remembering. Yes all good. We should aim for consistency with other blocks that exhibit similar behaviour and requirements.

[2022-09-14 13:57] jameskoster opened #44156 "Post Template block errors after creating a template for a specific category"
To reproduce:

1. Have a functioning Archive template
2. Have a category that contains some posts
3. From the Templates list in the Site Editor click Add New -> Category
4. Choose a specific category
5. Observe the following result:

<img width="1249" alt="Screenshot 2022-09-14 at 14 53 51" src="https://user-images.githubusercontent.com/846565/190173995-dd22ca67-bb53-4095-b1f4-871a035676de.png">

[2022-09-14 14:02] jameskoster opened #44158 "Archive Title & Term Description – Display data when possible"
With https://github.com/WordPress/gutenberg/pull/43699 merged, it would be nice to apply the same treatment to the Archive Title and Term Description blocks.

At the moment, if you create a template for a specific category, the Query Loop within that template will display posts from that category.

However, Archive Title and Term Description continue to display their generic placeholders:

<img wi

[2022-09-14 14:30] t-hamano commented on #38548
I have not been able to solve this problem, but I will describe what I have learned from my research so far in the hope that someone else will be able to solve this problem.

First, in the `ComboboxControl` component, the keyboard operations are tracked here:

https://github.com/WordPress/gutenberg/blob/eeeccf61f91ee64bc9de74416cd66378f15fd42f/packages/components/src/combobox-control/index.js#L121

[2022-09-14 14:42] t-hamano commented on #43679
@SGr33n
This issue should have been resolved by #44018, so I would like to close this issue.
If you have any issues, please feel free to reopen.

[2022-09-14 14:42] #43679 closed, assigned to t-hamano

[2022-09-14 15:20] stefanfisk commented on #38548
@t-hamano did you look into this https://github.com/WordPress/gutenberg/issues/38548#issuecomment-1110924135?

From what I can tell, event handlers that are registered this way take precedence over those registered via React, which makes the event bubbling super confusing.

[2022-09-14 15:31] t-hamano commented on #38548
So, if we register an event handler via React in `ComboboxControl` as well, it will solve this problem?
If so, I would like to try to fix it.
Of course, the PR from you would be greatly appreciated 👍

[2022-09-14 15:34] SGr33n commented on #43679
Sure, thanks @t-hamano !

[2022-09-14 15:39] jameskoster opened #44160 "Template Part in Query Loop behaves strangely"
I want to use the same arrangement of blocks to display posts in my Index and Archive templates. Instead of duplicating code, I created a "loop content" template part, put the blocks in there, then included the template part inside each of the Queries.

Technically everything works just fine, and the output on the frontend is as I would expect. However, in the Editor I am unable to select blocks i

[2022-09-14 15:40] mirka commented on #44042
By the way @t-hamano, we have a visual regression testing setup in #43393 that would be great to use when cleaning up these Button styles. I'll try and get it merged soon so you can add a test file with all your awesome test fixtures 😄

[2022-09-14 15:43] oandregal commented on #43440
Prepared https://github.com/WordPress/wordpress-develop/pull/3247 to backport some recent changes: https://github.com/WordPress/gutenberg/pull/44015 https://github.com/WordPress/gutenberg/pull/44109 and https://github.com/WordPress/gutenberg/pull/44159

[2022-09-14 15:47] stefanfisk commented on #38548
If I remember correctly, and assuming that my findings were correct, the problem is not in `<ComboboxControl>`. Instead it is `useArrowNav()` (or some other similar hook) which registers its `keydown` handler via `addEventListener()`, and therefore handles the event before `<ComboboxControl>` has had a chance to call `event.preventDefault()`.

So a quick and dirty fix is to make `<ComboboxControl>

[2022-09-14 15:48] stefanfisk commented on #38548
But if you find the code that changes the selection and set a breakpoint there as well as in `<ComboxboxControl>`s `onKeyDown`, you should be able to verify if this is the root cause.

[2022-09-14 15:59] t-hamano commented on #38548
Thanks for the informative info!
Since `addEventListener` is used everywhere, I don't know if it is possible to completely replace them.
Therefore, I would like to create a PR using the approach you suggested and ask other members for their input.

[2022-09-14 16:03] stefanfisk commented on #38548
Yeah, that's such a fundamental architectural change that I just backed away slowly once I got that far 😕

[2022-09-14 16:55] juanmaguitar opened #44162 "Improve reading experience of docs by replacing text of "Top ↑" links with just "↑""
## What problem does this address?

Better experience reading the docs

## What is your proposed solution?

Replace the text of "Top ↑" links with just "↑". These links could optionally display the full "Top ↑" text only when hover on these links

[2022-09-14 18:04] bph commented on #40966
@scruffian already [drafted the Dev Note](https://make.wordpress.org/core/?p=98557&preview=true)

[2022-09-14 18:28] chellestein opened #44165 "WP visual editor adding http:// to shortcode when pasting as hyperlink for text but not for buttons or images"
### Description

WP is adding http:// to my links if I paste in a shortcode using the hyperlink icon in the paragraph and caption text editor blocks, which is causing my links to not render correctly in html editor or the front end of the site.

If I paste in a shortcode as a link for buttons block or image block using the hyperlink icon, the shortcode works as expected to output the link and WP d

[2022-09-14 18:35] cb911nr opened #44166 "a:where(:not(.wp-element-button)) is overwriting all anchor tags on site in 14.0.3"
### Description

Installed the latest plugin for development features, and it's adding new CSS for

[code]

Inside  <style id='global-styles-inline-css' type='text/css'>

But this is adding text-decoration underline to all anchors on our site, because this loads after our stylesheet..

Is there a way to remove this css line? Or have another way of dealing with it like getting this to inject prior

[2022-09-14 18:51] annezazu opened #44167 "Cover: Set custom color when applying initial background image"
## What problem does this address?

Pulled from here: https://github.com/WordPress/gutenberg/issues/16479#issuecomment-546547459

## What is your proposed solution?

An initial exploration was started here for prior art that needs to be updated to be in line with the current implementation:  https://github.com/WordPress/gutenberg/pull/22564

[2022-09-14 18:52] annezazu commented on #43877
Looks like @ntsekouras has already jumped in there https://github.com/WordPress/gutenberg/pull/44146 Thank you so much.

[2022-09-14 19:00] dmsnell commented on #44092
Those list block fixes are particularly tricky, but I think they demonstrate an aspect that will make it ~hard~ not possible to fix automatically or to even know that the problem is with the HTML tag.

One thing I hope to get back to soon for 6.2 is the "invalid" block dialog. The HTML diffing is currently broken because it doesn't take into account any inner blocks and it's the same unawareness o

[2022-09-14 20:43] bezbee commented on #41825
@glendaviesnz,
Thanks for helping me!
I provided a link for the post where the gallery block that is set to "link media to their media files" does not behave as expected.
https://japanball.com/articles-features/japanball-tours/guest-memoirs/2022-netherlands-tour-recap-and-photo-log/

The console tab shows no errors and no relevant blocked resources on the network tab could be noticed.

Can I do an

[2022-09-14 20:53] ryelle opened #44169 "Left/right borders are not styled correctly on RTL sites"
### Description

If I add a left border to a site when using an RTL language, it also adds a black right border.

### Step-by-step reproduction instructions

1. Using a site in an RTL language
2. Open the editor and add a block that can have a border
3. Apply a left or right border (these controls are backwards, see #44171)
4. Only set the width and/or color, don't set the style
5. See a border ap

[2022-09-14 21:12] ryelle opened #44171 "Split border control UI is backwards on RTL sites"
### Description

The border control UI is flipped. When split, the left control is on the right, and right control on the left. I don't use an RTL language myself, but this seems like a mistake.

### Step-by-step reproduction instructions

1. Use a site with an RTL language
2. Add any block with border support
3. Unlink the borders to control specific sides
4. Try to add a left border — it's on th

[2022-09-14 21:53] dashkevych opened #44172 "Post Featured Image: Border radius option not working when custom height and width set"
### Description

Setting custom border radius for Featured Image block inside Query block, when custom height and width are set, works only in the Editor, but not on the actual website.

### Step-by-step reproduction instructions

1. Make sure post has set featured image.
2. Create new page with Query block in it.
3. Select Post Featured Image block.
4. Set custom width and height in Dimensions se

[2022-09-14 22:03] cuemarie commented on #43292
Thanks for pointing that out @talldan ! 👍

[2022-09-14 22:16] scruffian commented on #38291
Here's an idea: https://github.com/WordPress/gutenberg/pull/44173

[2022-09-15 02:25] talldan commented on #44147
I think the template part replace flow has been like this from very early on, so it's probably something that was overlooked.

Choosing another template part swaps the template part being used. Choosing a pattern replaces the template part's inner blocks. I see how it can be misleading given both are presented as part of the same flow, and the latter could be quite disruptive for template parts be

[2022-09-15 02:40] talldan commented on #44147
It looks like you mentioned a similar thing here about creating a new template part when replacing with a pattern -https://github.com/WordPress/gutenberg/issues/41397#issuecomment-1185543233

[2022-09-15 03:09] talldan commented on #41397
I'm not sure if there are already other ideas for solving this, but I had a potential idea. The template part block could declare a new type of block transform for patterns.

Whenever a pattern that has a `blockTypes` property is about to be inserted, the editor could check for the matching block transforms, and if it finds any present the user with the option of converting to the block types or i

[2022-09-15 03:12] alaczek opened #44177 "Site Logo: Block styles not reflected in the editor."
### Description

The Site Logo block offers two styles: Default and Rounded. When selecting the Rounded option, neither the placeholder wireframe nor the logo image becomes rounded in the editor. It is rounded in the preview though. I expected the Site Logo block image/placeholder to become rounded both in the editor and preview after selecting the Rounded block style.

### Step-by-step reproducti

[2022-09-15 03:15] gOuTM commented on #12684
Hej!

Any chance to have this useful feature as a core functionality?

[2022-09-15 04:31] talldan commented on #44172
Can confirm the issue. Thanks for reporting this.

[2022-09-15 04:50] talldan commented on #44177
It does look rounded in the editor for me:
![Screen Shot 2022-09-15 at 12 48 29 pm](https://user-images.githubusercontent.com/677833/190316949-ea8f7cc9-80a5-4d9d-a1d6-d619895176be.png)
![Screen Shot 2022-09-15 at 12 47 21 pm](https://user-images.githubusercontent.com/677833/190316968-260591f4-96a0-4e28-aef1-433f8661c42c.png)

(as well as on the frontend.)

It looks like it was fixed by a PR here -

[2022-09-15 04:50] #44177 closed, assigned to nobody

[2022-09-15 05:47] gziolo commented on #42854
@mburridge and @jonathanbossenger, you are currently working on learning materials for block development. Any ideas on how to mitigate this issue? We could disallow using `create-block` as the namespace in the interactive mode when running `npx @wordpress/create-block`, but it might be more tricky when using the quick mode that doesn’t prompt questions in the terminal.

[2022-09-15 05:57] gziolo commented on #43235
I’m all in for adding support for multiple blocks. It might be quite challenging to achieve in the quick mode because there are a few CLI args that should differ between blocks:

https://github.com/WordPress/gutenberg/blob/a3c753d28ddb0972311e2da0136277626bdf832e/packages/create-block/lib/index.js#L40L50

`namespace` is the only CLI argument that we want to share and maybe `category` but `slug`, `

[2022-09-15 05:58] anik opened #44178 "Filter template_include failed to load generated CSS in FSE (Full Site Editing) supported theme"
### Description

I just create a template using **template_include** filter hook. Then add default **Social Icons** blocks inside the post. It working great with non FSE theme like **Twenty Twenty One** but in FSE supported theme causes some CSS broke like **Twenty Twenty Two**.

[code]

Template File code **Template.php**

[code]

Screenshot of **Twenty Twenty One** (Working):
https://ibb.co/Wz41

[2022-09-15 06:37] obiPlabon commented on #44178
Hey @anik, this article might help you to resolve the issue https://fullsiteediting.com/lessons/how-to-use-php-templates-in-block-themes/

[2022-09-15 06:37] talldan commented on #44096
@jasmussen Using Font size as an example, does the 'reset' text need to be part of separate button, or can it be implemented as some additional text within the 'Font size' button?

The reason I ask is that the accessibility story for having two buttons on one row like that is a bit of an unknown. Keyboard navigation works using up and down arrow buttons, but this introduces more of a grid. It woul

[2022-09-15 07:01] padams commented on #24934
One additional display option that would simplify _a lot_ of code and pattens would be to have the block show the posts' featured image and title or just the featured image. In the case of attachment post type  - the attachment's image.

[2022-09-15 07:30] andrewserong commented on #43440
Thanks for all the help landing part 1 of the Layout refactor! Update on Layout and Spacing presets follow-up backports:

* Spacing Presets backport is ready for review from @glendaviesnz: https://github.com/WordPress/wordpress-develop/pull/3255
* Spacing Presets is designed to work with the backport for border, color, elements, spacing, so ideally that one might land first: https://github.com/Wor

[2022-09-15 07:53] fluiddot commented on #43639
I'm wondering if this issue is covering another problem related to rendering several blocks on Android 🤔 . I'm marking this as High-priority in order to prioritize the investigation.

[2022-09-15 08:10] Thelmachido commented on #39077
I can still reproduce this, the editor reverts back to PX if you use the ResizableBox handle. I am going to remove the needs testing & stale label.

[2022-09-15 08:28] jasmussen commented on #44096
In the example shown, "Font size" was meant as a label to indicate the locked-in-place default control, so only one button in that row. Instead of that button being a minus, a "Reset" button could be clearer:

<img width="290" alt="Screenshot 2022-09-15 at 10 27 25" src="https://user-images.githubusercontent.com/1204802/190354679-40cb3933-b3d6-45d2-9b6e-21f9f1ae544a.png">

However the main motivat

[2022-09-15 08:29] amitpatel0702 commented on #44092
Yes, We can merge this into to [#25436](https://github.com/WordPress/gutenberg/issues/25436)

[2022-09-15 08:36] talldan commented on #44096
Those all sound like good suggestions 👍

Thanks for clarifying.

[2022-09-15 08:55] lefty55104 commented on #37232
Why is there no way to allow block spacing in the editor (especially for things like columns) but not output the built-in blockGap styles?

[2022-09-15 09:11] mburridge commented on #42854
When a `slug` is not provided the command goes into interactive mode and the user is prompted to create one, so likewise if `--namespace` is not provided the user could be prompted for one even if they've provided a `slug`.

So even if they've provided a `slug` and no `--namespace` is provided on the command line a more limited interactive mode is entered.

The same could be done for `--title`, i.

[2022-09-15 09:11] jonathanbossenger commented on #42854
Hmmm, this is an interesting question.

Personally, as an ex-plugin developer, I expect that any tool I use to create code is going to require me to make changes to things like namespaces. In fact, I specifically reference this in my video tutorial on Learn WordPress about using the code from create-block (https://videopress.com/v/jQnZe0t4?at=555). You will see I change both the namespace and the

[2022-09-15 09:18] mtias commented on #41397
@talldan also related, we have discussed pattern transforms in a few places: #27575, #28737, #38529.

The core idea being that we can have "pattern variations" defined as set of patterns that loosely have the same overall blocks and map attributes of role=content. It wasn't clear how we'd define these variations in a way that doesn't create too much API overhead.

One thing I proposed at some poin

[2022-09-15 09:30] jameskoster commented on #44147
Oh yes, I'll close this issue in favor of #41397. It would be really good to solve this particular portion as it feels very confusing to use at the moment 🙈

[2022-09-15 09:30] #44147 closed, assigned to nobody

[2022-09-15 09:47] jonathanbossenger commented on #43764
That's actually a very good, and probably the most important question. A quick search on [WPDirectory](https://wpdirectory.net/) shows that there are 64208 instances of add_shortcode and 7714 instances of register_block_type, which leads me to believe more than we realize.

However, what I don't know is how many of these 64208 shortcodes need to be converted (ie outdated/unmaintained plugins). I'm

[2022-09-15 09:48] iamtakashi opened #44182 "The width of the responsive navigation is restricted to the wide width"
### Description

I've noticed the width of the responsive navigation has been restricted to the wide width. The change seems to be introduced in https://github.com/WordPress/gutenberg/pull/43576, more specifically [here](https://github.com/WordPress/gutenberg/pull/43576/files#diff-d66a4ed73d0d50a799547b78db235a4bad3428a0decb8895752032cd849d01f0R653).

This makes the icons jump if the theme uses th

[2022-09-15 09:58] jameskoster opened #44183 "Justification icons on containers appear disabled"
<img width="256" alt="Screenshot 2022-09-15 at 10 56 52" src="https://user-images.githubusercontent.com/846565/190375089-dc233e68-7710-4042-8cf2-f4c3898c8159.png">

The lighter-grey icons we find here do not match all the other icon buttons in our UI. This gives an impression that they are disabled. Ideally they should use the darkest grey color (`gray-900`).

[2022-09-15 10:07] carolinan commented on #44178
As the author of the linked article: the examples do not work anymore, the page was last updated in March.
Please see this comment about where to place `do_blocks()` in the PHP file to render blocks.
https://github.com/WordPress/gutenberg/issues/39207#issuecomment-1087347901
Only the CSS for the blocks that are actually rendered will load.

**I  don't think this will actually solve the problem.**

[2022-09-15 10:27] parashshresh commented on #37936
Set the margin of the featured image in theme.json.

"blocks":
		{
			"core/post-featured-image": {
				"spacing": {
					"margin": {
						"bottom": "0px",
						"top": "0px",
						"left": "auto",
						"right": "auto"
					}
				}
			}

[2022-09-15 10:58] anik commented on #44178
@obiPlabon & @carolinan  Thank you so much for your help. Its really helpful.

I checked the WordPress core.
File path:
https://core.trac.wordpress.org/browser/tags/6.0.2/src/wp-includes/script-loader.php#L2912

It was edited after this ticket.
https://core.trac.wordpress.org/ticket/53494

[code]

Problem is template_include will working perfectly if CSS style is loaded in footer for block based t

[2022-09-15 11:11] gziolo commented on #42854
That sounds like an interesting idea to reuse the plugin slug as the namespace when using the quick mode. Although it would also impact function and class names that would repeat the same keywords, for example: `wp-block-plugin-slug-plugin-slug`, or `function plugin_slug_plugin-slug_block_init`.

[2022-09-15 11:35] madhusudhand opened #44184 "Duotone: image border also gets the set duotone"
### Description

When an image is given a border and duotone, the border color gets effected.

#### Expected:

Duotone should only apply to image, but not to border.

### Step-by-step reproduction instructions

1. define a duotone.
2. Set it to blocks such as `core/image`, `core/post-featured-image`.
3. Also set a border (2px blue, in the below example) to the same block.
4. Observe that the duoto

[2022-09-15 11:44] aristath opened #44186 "Feature suggestion: Form & input blocks"
## What problem does this address?
Most sites need forms in one form or the other.
We already have the comment form, but that covers a very specific and limited scenario - leaving comments on a post.
This still leaves contact/feedback etc forms, and is one of the things that a huge number of sites needs.
Yes, there are plugins out there that do forms, but this is such a fundamental feature that we

[2022-09-15 11:44] hj-collab commented on #38731
@Thelmachido Did you even read the issue? OP is talking about undo inside the meta box area and not in the post content area. Try undoing inside Meta title, Meta description fields.

[2022-09-15 11:50] Thelmachido commented on #38731
@hj-collab  thanks for the ping, I followed the reproduction steps and I missed a few things there. My apologies for the mixup, I will check the steps again.

[2022-09-15 11:58] Humanify-nl opened #44187 "Patterns: proposal for "download pattern" in context-menu for selection of blocks."
## What problem does this address?
Patterns use absolute src urls. Deploying a new FSE theme with patterns made on a localhost server requires a search-replace in the code to change the paths to the live domain. This is really inconvenient.

As most know, there is a challenge in reading relative URL's from a HTML template (see explorations here:  #31815, and this #20966). But the patterns engine n

[2022-09-15 12:19] Humanify-nl commented on #44186
Hi @aristath,

So much yes!

It is about time. Plug-ins should extend/improve forms, not supply them.

See [here ](https://github.com/WordPress/gutenberg/discussions/39546) for some feedback I got from @talldan on the question if 'forms are going to be in core eventually". Maybe it helps to support this.

[2022-09-15 12:47] oandregal commented on #43440
Prepared https://github.com/WordPress/wordpress-develop/pull/3261 to backport https://github.com/WordPress/gutenberg/pull/44189 (which is approved but I'm waiting for the tests to pass and will backport to 14.1).

[2022-09-15 12:58] jasmussen opened #44191 "Global Styles: Focus moved to back button when inputting number value"
When inputting a number value in for example Blocks > Image > Layout > Radius, after inputting the first number, focus is immediately transferred to the back button, as shown in this GIF:

![focus loss](https://user-images.githubusercontent.com/1204802/190409592-889502eb-5d23-4410-9e57-b1912c66f810.gif)

Focus should remain in the selected input field.

[2022-09-15 13:17] ryanwelcher commented on #42854
Something to consider here as well is that now that create-block supports `--no-plugin` mode, users can add more blocks quite easily. My concern with using the slug as the namespace is that you would have a different namespace for each, possibly related, block. This will make it very hard to use `registerBlockCollection` etc.

I think my vote here would be to have the tool go into interactive mode

[2022-09-15 13:34] mtias opened #44193 "Move document information and outline to list view panel"
Consolidating list view / navigator, document stats, and document outline has surfaced a few times in the past. I'm proposing we revisit this and redesign the document stats a little bit. With the addition of "time to read" the current grid design is becoming harder to quickly parse:

- Display them as a list and smaller font size at the top or bottom of list panel.
- Add a tab interface to switch

[2022-09-15 13:34] LukaszJaro commented on #13928
@melchoyce I just built a very similar archive list as your first example, I first searched around but couldn't find anything that fit the  requirements that our UI designer came up with:

![image](https://user-images.githubusercontent.com/10998875/190416582-e62fdaaf-e6b6-4c60-8eb9-93933e32ddf6.png)

I'm using the details disclosure element which can be styled and toggle animation with no JS requi

[2022-09-15 13:36] mtias commented on #44186
Related #34198

[2022-09-15 13:39] henriqueiamarino opened #44194 "Image border radius missing after Scale:Cover"
### Description

Every time I set my images to have a fixed height and **Scale/Cover** is activated the round corners determined by the radius value are gone. I believe this is related to **Scale/Cover** because if I toggle **Cover** off the round corners are back again, but the images are not adjusted the way I expect.

### Step-by-step reproduction instructions

1. On a page/post just create a '

[2022-09-15 13:41] jasmussen commented on #44194
Cc @ntsekouras @aaronrobertshaw do you know what might be up here? Thank you for looking!

[2022-09-15 13:41] draganescu commented on #37936
I think this may have been fixed in trunk.

[2022-09-15 14:34] fluiddot opened #44196 "List block: Undo/redo history breaks when undoing list block creation"
### Description

After inserting a List block and adding list items, undoing all actions until the List block is removed breaks the undo/redo history.

### Step-by-step reproduction instructions

1. Add a List block.
2. Add multiple items to the list.
3. Add another block (e.g. add a Paragraph block with some text).
4. Click on the "Undo" button multiple times until all list items and the List blo

[2022-09-15 14:47] fluiddot commented on #43875
I confirm this issue can also be reproduced in the web version, I opened a [GitHub issue as a follow-up](https://github.com/WordPress/gutenberg/issues/44196).

[2022-09-15 15:18] courtneyr-dev commented on #44186
At the very basic level, a contact form would be ideal.

[2022-09-15 15:24] jameskoster commented on #34703
I've spent some time working on a new theme this week and this issue raised its head again, so I'm going to re-open :)

I do still believe it should be _optional_, but oftentimes I find it would be useful to see padding/margin on the canvas rather than having to dig through design tools.

IE this:

![Frame 1463](https://user-images.githubusercontent.com/846565/190443433-6f19d550-6bbf-4dcb-9e38-b72

[2022-09-15 15:31] oandregal commented on #42961
I've listed the authors of #43840 in the issue description. I was listed but I was involved.

[2022-09-15 16:07] alanef commented on #43764
Just some thoughts.

**TL:DR**  Don't waste time on tools - create better 'how to' guides covering simple to complex

The WP TV tutorial above falls well short of what is required in 'converting  a shortcode to a block'  in that most dev would obviously keep the shortcode and having two sets of code one inside the block and one inside the shortcode is not desirable,  and additionally many shortcod

[2022-09-15 16:12] phubner commented on #43144
I am having a similar issue but instead its triggered off the Submit button in the LinkControl. When editing the link if you click the Submit button the Open in new tab toggle will be unset. I didn't want to file a new issue unwarranted

![link-error](https://user-images.githubusercontent.com/751333/190454271-d7b3de19-c565-4a8e-aefe-0c9133b4dbad.gif)

[2022-09-15 16:13] mcsf commented on #40116
cc @carolinan, who has also contributed in this area (e.g. adding a new category for Footer patterns in [t56416](https://core.trac.wordpress.org/ticket/56416)).

***

I can't comment on the pattern directory parts. For the rest, we can easily add a pattern category, both here in Gutenberg in the compat layer and in Core. I opened #44203, have a look.

[2022-09-15 16:16] bfintal opened #44205 "Dashicons not enqueued in tablet/mobile preview if SCRIPT_DEBUG is true"
### Description

I used a dashicon inside my custom block that shows up only in the editor (for some type of UI in the editor). It shows up fine inside the content in the editor, however when I use the debug scripts by adding this in my `wp-config.php`...

[code]

When I preview in tablet or mobile in the editor, the dashicons aren't visible anymore - as if the dashicon font file wasn't loaded or

[2022-09-15 16:39] t-hamano commented on #43725
Mentions #44205 as it may be relevant to this issue.

[2022-09-15 16:53] fluiddot commented on #44196
I tried to debug the issue and found out that it might be caused by how the inner blocks are updated via the [`useInnerBlockTemplateSync`](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-editor/src/components/inner-blocks/use-inner-block-template-sync.js) hook, specifically when executing the redo action that restores the List block. This hook updates the inner blocks using the ac

[2022-09-15 16:55] ryelle commented on #40116
We can easily add a new "Headings & Titles" category to the Pattern Directory. It wouldn't change any existing patterns though, [anything currently tagged "Header"](https://wordpress.org/patterns/categories/header/) would stay that way. If that's a problem, we could probably write a script to update them, it would just take a little more time.

[2022-09-15 16:56] fluiddot commented on #43875
I tried to debug the issue and shared the results in [this comment](https://github.com/WordPress/gutenberg/issues/44196#issuecomment-1248364548). I haven't managed to find a workaround yet, probably I'll try to reach out to contributors that have more experience with the undo/redo mechanism, in case they could provide further guidance on how to approach it.

[2022-09-15 17:03] mtias commented on #40116
I think we should create a Hero or Banners category and move everything we used to have into it and leave the actual new headers in Headers.

[2022-09-15 18:10] justingolden21 commented on #27100
This feature would be nice.

Currently, we use just two or three line heights in our design, but we don't want the people in marketing to change it to any value; only specific values, similar to the color palette. This change would probably be very useful for a number of projects.

Thank you.

[2022-09-15 18:53] dmsnell commented on #44092
Merged into #25436
Thanks @amitpatel0702 for raising this issue. We'll all be better off when we have fewer confusing broken blocks.

[2022-09-15 18:53] #44092 closed, assigned to nobody

[2022-09-15 19:20] sergeybrava commented on #15137
Nope, its not helps. Its rly a big whole for media projects.

[2022-09-15 19:34] albanyacademy commented on #42509
Just want to clarify, the exact problem I was experiencing is also the result of my naming of the stylesheets themselves.
the inline section here https://github.com/WordPress/gutenberg/blob/trunk/packages/block-editor/src/components/iframe/index.js#L107 seems to be doing a simple find-replace for "css" within the stylesheet ID, which breaks when you include "css" somewhere in the enqueue handle yo

[2022-09-15 19:40] matiasbenedetto opened #44208 "using useRootPaddingAwareAlignments containers are not displayed as expected on the Post Editor"
### Description

if you activate Root Padding Aware Alignments feature ( `settings.useRootPaddingAwareAlignments: true` ) in your `theme.json`, the padding of the containers is not rendered as expected on the post editor.

### Step-by-step reproduction instructions

1. Activate `emptythheme` theme
2. Add `"settings.useRootPaddingAwareAlignments": true` to theme's theme.json file
3.  Disable block

[2022-09-15 20:09] HardeepAsrani commented on #15137
@sergeybrava If you know exactly what HTML/CSS will be being added, you can use `safe_style_css` and `wp_kses_allowed_html` filters.

[2022-09-15 21:13] cbirdsong commented on #41119
The ability to easily generate a "kitchen sink" gallery of native blocks would be amazing resource for custom hybrid theme developers in addition to users editing global styles.

[2022-09-15 22:02] annezazu opened #44210 "Replace template part flow: Preview showing "block cannot be rendered inside itself""
### Description

When trying to use the replace template part flow, I noticed that the preview items for various TT2 template parts show an error but seem to work upon insertion. I'm not sure if this is GB or TT2 related but wanted to note it here.

### Step-by-step reproduction instructions

1. Open the site editor using TT2.
2. Select a header or footer.
3. Click the three dot menu > hit replace

[2022-09-15 22:12] artemiomorales commented on #44117
Hello, I'm unable to replicate this issue using Wordpress 6.0.2. This test was done on a clean local installation. I also tested with the Mantra theme and it still worked as expected.

https://user-images.githubusercontent.com/5360536/190517582-7e2c4998-fba5-4cf1-b8bf-a889788818fb.mov

Do you have any plugins that may be causing a conflict, or perhaps it's the text editor you're using that may be

[2022-09-15 22:21] annezazu opened #44211 "Theme Switching: automatically set blog page in reading settings after switching to a block theme"
## What problem does this address?

Currently, when switching from a classic theme (twenty twenty one) to a block theme (twenty twenty two), the blog page that was originally automatically set up in twenty twenty one becomes empty after switching. To fix, one has to go to Settings > Reading and set the page to the blog page once more (or add a query loop block).

## What is your proposed solution?

[2022-09-16 01:00] alexstine commented on #42285
Follow-up: https://wordpress.slack.com/archives/C02QB2JS7/p1663289397915119

[2022-09-16 01:02] aaronrobertshaw commented on #44184
Thanks for raising this issue @madhusudhand 👍

It appears to be a duplicate though as it has already been flagged in https://github.com/WordPress/gutenberg/issues/43295.

Unfortunately, it is a tradeoff we've had to make, for now, given the border needs to be applied to the `img` element. A more detailed explanation can be found in this [comment](https://github.com/WordPress/gutenberg/issues/43295

[2022-09-16 01:02] #44184 closed, assigned to nobody

[2022-09-16 01:50] aaronrobertshaw commented on #44194
It looks like when height is set on a post featured image the inner `img` element's style attribute gets overwritten so it loses the block support inline styles. In this case, that's the border-radius along with border width, style, and custom colors.

I'll put up a draft PR fix for this shortly.

[2022-09-16 02:36] aaronrobertshaw commented on #44194
Potential fix is up in: https://github.com/WordPress/gutenberg/pull/44213

[2022-09-16 03:24] alexstine commented on #42285
I looked in to this a bit more. Part of me wonders if something about setting the initially selected author is causing some type of focus to occur. This select has a ton of event listeners and it happens quick enough to make me think it could be some type of initial selection firing the onChange. Maybe that provides a place to start?

[2022-09-16 03:34] noisysocks commented on #44186
Absolutely! This is a big missing piece for me when I try to rebuild a real world website using the site editor. Most business websites (e.g. for a restaurant, a hotel, a tradesperson) require some call to action which is usually an enquiry form.

Right now there are half a dozen plugins which implement a Form block in different ways. This isn't great because:

1. It creates inconsistent experienc

[2022-09-16 03:55] x4fingers commented on #13363
This issue was open for over 2 years and we got no news. I feel terrible when I can't control simple properties like padding and margin when switching to mobile view. Please urgently make a plan now.

[2022-09-16 04:12] #36735 closed, assigned to mirka, noisysocks

[2022-09-16 05:38] aristath commented on #44186
I agree. That's why in the proposal above, the `form` block is a simple wrapper allowing to add innerBlocks. You could add rows, columns, basically any block - and therefore build the form you require.
The `input` block can (but is not required to) be nested inside the columns or any other layout block added.

In theory it's a simple concept, and I have started working on a proof of concept for th

[2022-09-16 06:32] amitpatel0702 commented on #25436
Thanks @dmsnell for merging into this issue.

Awaiting for updates on the same.

[2022-09-16 06:45] #43760 closed, assigned to talldan, tellthemachines

[2022-09-16 07:18] aaronrobertshaw commented on #44096
@jasmussen I'd like to get some further clarification if I may, as to what the expectations are for the default control items in the ToolsPanel menu.

At present, each menu item is a single button. That button spans the full width of the menu. So currently, the "minus" is just a right-aligned icon within a single button that includes the label text e.g. "Font size". Not an icon button with a separ

[2022-09-16 07:23] talldan commented on #41397
Thanks for those links. A lot of interesting discussions that I wasn't entirely aware of. 👍

My comment above was mostly about finding a way to codify the creation of an entity for template part patterns. I think that's still a valid issue (and possibly for the navigation block too). At the moment this is only surfaced in specific flows within those blocks.

Yeah, this is interesting. A good examp

[2022-09-16 07:26] jasmussen commented on #44096
Nice! Your video above feels like a pretty solid step forward. I'd be happy to launch that one as an improvement to what's shipping. The most important aspects are legibility for the default items even in their disabled states, and the subheadings. I imagine this is also an interface that we will come back to again, so it seems like a good step forward 🙏

[2022-09-16 07:32] aaronrobertshaw commented on #44096
Ok, thanks for confirming the general direction. I'll put up a draft PR for this Monday where we can hammer out the implementation details and any component updates if required.

[2022-09-16 07:33] ntsekouras commented on #42961
👋 - I was wondering if all the additions in the templates offered to create in site editor should be part of post like this already posted one: https://make.wordpress.org/core/2022/07/21/core-editor-improvement-deeper-customization-with-more-template-options/.

Related PRs that `Needs Dev Note` label was added are:
- https://github.com/WordPress/gutenberg/pull/42457
- https://github.com/WordPress/

[2022-09-16 07:37] aristath commented on #44186
I started experimenting a bit with this idea this morning.
I have a rough proof of concept on https://github.com/WordPress/gutenberg/pull/44214 along with a short screencast of building a basic doctor's appointment form.
The POC in the draft PR is extremely basic and bad, but it demonstrates that it's possible to build this feature, it can be simple to use, and extremely valuable.

[2022-09-16 07:47] theminaldiwan opened #44216 "In Twenty Eleven theme: Calendar block caption is not align in center at front end"
### Description

In Twenty Eleven theme: Calendar block caption is not align in center at front end but it will align center in editor side.

### Step-by-step reproduction instructions

1)Activate Twenty Eleven Theme
2)Add Calendar Block
3)Change the alignment center of calendar block and also default position of calendar caption in editor side is center but not align in center in front end side.

[2022-09-16 07:58] RahiDroid opened #44217 "Export the 'Overlay settings' code to make it reusable"
## What problem does this address?
The `Post Featured Image` block's [Overlay element](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/post-featured-image/overlay.js), and the `Cover` block's Overlay element (divided between [InspectorControls](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/cover/edit/inspector-controls.js) and [Edit compo

[2022-09-16 08:01] RahiDroid commented on #44217
@scruffian @mikachan 👋

I have created a follow-up issue for the refactoring we discussed in https://github.com/WordPress/gutenberg/pull/43838#issuecomment-1242162826. I need thoughts on where such code should be exported so multiple blocks can share it. Please share your thoughts or tag relevant folks on this ticket.

Thanks!

[2022-09-16 08:02] aaronrobertshaw commented on #43241
# Update: 16 September 2022

This update is a little late as I was AFK for a few days recently but here goes 🙂

## Current Status

In the lead up to the 6.1 feature freeze, we focused primarily on Typography and Spacing supports.

The majority of blocks requiring typography design tools received them. There were of course several exceptions such as captioned blocks e.g. Image, Embed, Video etc. Wh

[2022-09-16 08:02] RahiDroid commented on #44115
Hi @mikachan 👋

Could you please tag relevant folks who can provide UX/UI inputs on this one? Once this gets addressed, we could then work towards introducing this placeholder UX change for the Cover block, too.

[2022-09-16 08:22] jasmussen opened #44220 "Mover control: Block toolbar no longer sticks to block that's being moved until you scroll"
Steps to reproduce:

* Insert several paragraphs
* Select a paragraph and click the mover control to move it

Observe that the block toolbar scrolls out of view and stays in place, until you scroll the page.

![mover](https://user-images.githubusercontent.com/1204802/190592230-e0790bc0-bd59-4e0c-9aac-7ee4d049face.gif)

[2022-09-16 08:32] talldan commented on #44147
PR to fix this at #44221

[2022-09-16 09:13] yscik opened #44224 "Site Editor: Enable for non-block themes"
With efforts going on to allow incremental adoption of block templates, I wanted to discuss if opening up the site editor is on the table.

### Problem

The main use case:

- Site is using a classic theme
- A plugin uses block templates or template parts for some of its pages
- The plugin wants its templates to be user-editable

Currently the main things blocking this:

- A `wp_is_block_theme` che

[2022-09-16 09:22] Luehrsen commented on #44186
For a later stage of the input blocks I would really like to see a similar approach like the embed block. For example surface a "textarea" block, that gracefully falls back on the input block. I think that makes the creation experience a bit more accessible for non technical users.

But all in all: Really amazing stuff! The thought of a unified forms system and a pluggable action-pipeline is a rea

[2022-09-16 09:24] aristath commented on #44186
Yes, that would make things easier 👍
These `input` blocks are only available inside the `form` block anyway, so they would not "pollute" the overall user-experience outside the context of a form block

[2022-09-16 10:24] fluiddot opened #44226 "Apply `exhuastive-deps` lint rule if possible to native files of `components` package"
## What problem does this address?

Once [this PR](https://github.com/WordPress/gutenberg/pull/44207) is merged, the `exhuastive-deps` lint rule will be ignored in some of the components under the `components` package. This is not ideal as for some of them it would be possible to pass the lint rule.

## What is your proposed solution?

It would be great if we could review [each change made in this

[2022-09-16 10:32] kraftner opened #44227 "Add possibility to reset blocks when they are locked"
## What problem does this address?

When a block is locked (either as part of a template or just the single block) for some (e.g. image, video) there is no way to reset them to the initial empty state.

For fully editable block content this is no problem - just delete the block.

But if you e.g. have a custom post type with a fixed template like this:

![grafik](https://user-images.githubuserconte

[2022-09-16 10:40] Thelmachido commented on #38834
Hi, @nekohayo I cannot reproduce this, if you try to add a custom gradient color now the pop-up window gives you the option to scroll up and down to add the color codes you want as shown in the video below:

https://user-images.githubusercontent.com/41231764/190621160-516e584d-fa2b-4fba-bb6f-a5162a3110a9.mov

This might have been fixed in the recent updates, I am going to close this issue for now

[2022-09-16 10:40] #38834 closed, assigned to nobody

[2022-09-16 10:55] Thelmachido commented on #38879
I couldn't reproduce this, the colors for the table were changing as expected on the front page as shown in the short video below:

https://user-images.githubusercontent.com/41231764/190623592-b0d676a3-290a-4a35-9bae-33fad1afe177.mov

I am going to close this issue for now.

WordPress 6.0.1
Gutenberg 14.1.0
Twenty Thirteen theme

[2022-09-16 10:55] #38879 closed, assigned to nobody

[2022-09-16 11:16] Thelmachido commented on #38904
@maddisondesigns With the recent version, you will not see the plus icon isn't shown anymore. For these settings you will continue to see the 3-dots `components button` to view more options as shown below:

https://user-images.githubusercontent.com/41231764/190625812-8e4aef2e-038d-4289-aa24-b33fef1e83b4.mov

I think this is more consistent and will avoid confusion, I will close this issue for now.

[2022-09-16 11:16] #38904 closed, assigned to nobody

[2022-09-16 11:42] Thelmachido commented on #39160
Hi @djave-co my apologies I was having a hard time following what the issue really is.

From what I quoted above I am assuming that you were suggesting having a text area that allows someone to edit the link title and URL after adding a link. I checked and I am able to do this as shown in the video below:

https://user-images.githubusercontent.com/41231764/190631109-4fea4a7a-85a0-4975-9ec2-ac6f54e

[2022-09-16 11:46] gziolo commented on #41707
Now, we landed filters for `theme.json` at different processing stages with #44015. Can we consider this issue resolved or do you think we should continue the process of improving the development experience with the initial idea to include `theme.json` file in the plugin?

[2022-09-16 11:46] oandregal commented on #44158
For the template of a `base` category I understand we want to show `Category: base` in the archive title. What should we do for the fallback category template (any category)?

[2022-09-16 11:48] mtias opened #44229 "Represent default font size in slider"
Now that we have more concrete mechanisms for knowing what is the default font size coming for text from the global styles tree, can we represent it on the segmented control if it matches one of the preset sizes?

<img width="470" alt="image" src="https://user-images.githubusercontent.com/548849/190631946-729972bf-d948-48e8-8e78-54e2e1b50954.png">

I'd imagine we would use a lighter gray for these

[2022-09-16 12:05] alexstandiford commented on #44186
This is a really cool idea.

A couple considerations jump to mind:

1. What about [fieldsets](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/fieldset)? I wonder if those should be included, too. Might be something to add in a later revision instead of on V1
2. What are your thoughts on how these forms can be extended? To ask another way, how could I tell WordPress to _do_ something with

[2022-09-16 12:07] gziolo commented on #42961
I started a [draft post for Block API changes](https://make.wordpress.org/core/?p=98762&preview=1&_ppp=b36f09006a) covering:

- https://github.com/WordPress/gutenberg/pull/42430 / https://core.trac.wordpress.org/ticket/53148
- https://core.trac.wordpress.org/ticket/56408
- https://github.com/WordPress/gutenberg/pull/42258

For the Create Block section, there is also an open PR that we should land

[2022-09-16 12:15] mtias commented on #41707
I think we can consider this closed and ask plugins attempting to extend to provide feedback on what is working, what isn't, and what possible registration hooks might make sense to reduce boilerplate.

[2022-09-16 12:15] #41707 closed, assigned to nobody

[2022-09-16 12:57] aristath commented on #44186
Fieldsets could probably be explored at some point, but I don't think they'd belong in v1

As for doing stuff with the form, we could have a PHP filter in the render callback of the form, and we'd be able to handle submissions etc that way (already mentioned in the OP) 👍

[2022-09-16 13:22] #37525 closed, assigned to nobody

[2022-09-16 13:41] rodrigodagostino commented on #13363
@x4fingers what are your specific needs regarding this issue? I’ve created multiple custom blocks, adding responsive controls to most of them. I’ve even added the capability to control the values for each breakpoint too.

[2022-09-16 13:57] alexstandiford commented on #44186
My bad 🤦‍♂️.

How would we identify the form for the hook? It's possible to have multiple forms on a single page, right? It's also possible to (intend to) have the same form across multiple pieces of content. In those cases, leaning on the post ID isn't enough.

[2022-09-16 14:01] jasmussen commented on #43412
Extracting from a conversation [here](https://github.com/WordPress/gutenberg/issues/44133#issuecomment-1246416237), let’s move forward with the numbers as spacing indicators rather than "1x", or the current "small/medium/large" etc. This is mainly important for any CSS classes we mean to extrapolate from the value, which should be along the lines of `has-margin-s1` or `has-spacing-1`, rather than

[2022-09-16 14:26] #43923 closed, assigned to ellatrix

[2022-09-16 14:29] kraftner opened #44231 "Partially locked template wrongly shows notice about template mismatch"
### Description

If a template of a post is only partially locked only the locked sections should be compared with the template for mismatches.

An example:

We have a custom post type with a template and a locked root via `'template_lock' => 'all'`. But a group block inside that post is unlocked by e.g. setting `'templateLock' => false`.

As soon as another block is added inside that group the bl

[2022-09-16 14:37] aristath commented on #44186
I don't know yet... There would have to be some identifier for the forms, I didn't get that far in my proof of concept 😅
I'm sure we can find a solution though, there's plenty of things we can do!

[2022-09-16 14:37] Humanify-nl commented on #44186
I think a unique ID for each form would be needed, and additionally:

Most form plugins ask user for a unique name (and slug), I suppose this could be added in the block (such as template-part name modal)

[2022-09-16 14:40] alexstandiford commented on #44186
No problem 😄. Just thinking through the challenges.

I can see the necessity of a form ID, but where would that be stored?

[2022-09-16 14:46] aristath commented on #44186
Probably as an attribute in the form (wrapper) block 😉

[2022-09-16 14:48] Luehrsen commented on #44186
A thought that just came to mind: Maybe we can turn the action-dependency on its head. Not the filter chooses its form, the form chooses its filter.

Imagine some sort of selection, dropdown, or similar, that describes the purpose of the form. The default is the "mail to admin" action. There is some sort of register, where core & plugins can add new actions. (Something like newsletter signup, or s

[2022-09-16 15:13] Thelmachido commented on #39783
Looks like this is no longer an issue, the vivid cyan blue is rendered on the front end as shown in the video below.

https://user-images.githubusercontent.com/41231764/190671668-269345aa-c64e-4dda-bf13-1eb8fa77d9e9.mov

WordPress 6.0.1
Gutenberg 14.1.0
Twenty Twenty One theme

[2022-09-16 15:13] #39783 closed, assigned to nobody

[2022-09-16 15:24] t-hamano commented on #22822
I really tried leaving it overnight on a low spec machine.
But there was no effect on performance before and after leaving it. We believe that the passage of time is not a problem, at least in a clean environment.

I wish we could find a solid reproduction step.

[2022-09-16 15:26] x4fingers commented on #13363
@rodrigodagostino I think you are misunderstanding. I need a native feature in Gutenberg itself instead of creating a lot of custom blocks just to handle a simple design. And of course, I tried many custom plugins before but nothing is perfect and doesn't work at all.

[2022-09-16 15:27] t-hamano commented on #39783
Thanks for checking, @Thelmachido !
I have confirmed that it does not reproduce in my environment too.

[2022-09-16 15:30] Thelmachido commented on #39754
I'm able to reproduce this, however, it was only after I reduced my screen height to 500px - 700px but the width was still over 1000px. Part of the RGB color sections was cut off and I couldn't scroll up or down as shown in the short video below:

https://user-images.githubusercontent.com/41231764/190675206-2e6aa285-053c-4c2d-aa34-eecfc68112ae.mov

Since this is very hard to reproduce, I am going

[2022-09-16 16:10] nickfmc commented on #13363
Ya @rodrigodagostino the issue is that a lot of us are making custom block or using plugins, to replace blocks such as the group block, the headings, etc because we can't add 150px bottom padding to a group and have mobile still look good.  The best and really only way I have found to currently use the built in blocks this way is to use a class based sizing system for my theme, somthing like how t

[2022-09-16 16:10] Thelmachido commented on #40173
I am having a hard time reproducing this, are you still seeing this issue @Greatdane @jp-imagines if so can you please remove the stale label?

A short video of what I am seeing on my end:

https://user-images.githubusercontent.com/41231764/190682787-354ab8b3-9929-4000-9c2a-b7c2cae6d863.mov

Chrome on MacOS
WordPress 6.0.1
Gutenberg 14.1.0

[2022-09-16 16:49] bradhogan opened #44232 "Add blockGap support to paragraph block"
It would be useful to be able to overwrite the main gap value for a site within the paragraph block.  For example, if I don't want my gap between paragraphs to be the same as the gap between columns, then I should be able to control that.  If defined in the theme.json, it would look like:

[code]

[Here's a related issue](https://github.com/WordPress/gutenberg/issues/35267) and the above request w

[2022-09-16 17:03] mcsf commented on #41547
We had a call with @alecgeatches to better understand the problem and what kind of solutions could come from Core. Below is a summary.

* Reiterating some points already made in this issue:
  * Contextually aware theme.json configurations are decidedly in the roadmap. However, context is [defined in two main ways](https://github.com/WordPress/gutenberg/issues/41547#issuecomment-1165437307): the te

[2022-09-16 18:26] dcalhoun opened #44234 "Add presets support to the native mobile editor Spacer block"
## What problem does this address?
A _Spacer_ block improvement adding support for theme-controlled spacing presets is ready to merge in #44002. The native mobile editor lacks support for the spacing presets, as the native context can not natively parse the CSS custom properties used for the feature. Landing the web feature first would result in a "Problem display the block" error and the possibil

[2022-09-16 19:01] rodrigodagostino commented on #13363
@x4fingers I did not misunderstand, I was asking. I still do not know what are the specific problems you’re having, mate. I’m pretty sure there’s some custom solution out there that could help you. I got tired of waiting several years ago, so I created my own solution (you might’ve seen what I posted on April 19, 2020), and it’s working quite well along Gutenberg :) I might be able to cover your p

[2022-09-16 19:03] matiasbenedetto opened #44235 "Navigation color settings not working for submenus using classic menus"
### Description

Navigation color settings not working for submenus using classic menus

### Step-by-step reproduction instructions

- Import the content from [theamdemo](https://theamdemo.wordpress.com/)
- Activate TT2 or any other block theme
- Select a background and text color for the navigation overlay and submenu items
- Check that the overlay is working as expected but the submenus don't ha

[2022-09-16 19:45] colorful-tones commented on #42204
@jorgefilipecosta I think it would be great to open up support for this type of vertical bar syntax and there is a somewhat related issue (nice to have) for the upcoming Twenty Twenty-Three theme. https://github.com/WordPress/gutenberg/issues/43627

I'm tagging in @WordPress/block-themers for more input on how useful this syntax is perceived. Thanks!

[2022-09-16 21:43] mikachan commented on #44115
Yes, sure. @Ryokuhi or @alexstine may be able to offer input on this one. You may also wish to bring this issue up in the #accessibility channel on the [Making WordPress Slack](https://make.wordpress.org/chat/), as well.

[2022-09-16 21:52] zero2webmaster opened #44236 "Scrolling down in the menu that has three vertical dots"
### Description

Scrolling down often does not work.

### Step-by-step reproduction instructions

At the top right of a post, click the three dots to get a drop down menu. Try to scroll down to see options that begin too far down to be in view.

### Screenshots, screen recording, code snippet

https://www.loom.com/share/7229e8165cfe4953873303d0dc3743a1

### Environment info

MacOS, Any browser

##

[2022-09-17 02:03] nekohayo commented on #22822
Thanks for trying this out @t-hamano ; just to be sure, did you try this on Firefox on Linux, or only Chrome and/or other OSes? I tend to think Linux's graphics stack tends to make some symptoms more apparent than other systems...

[2022-09-17 02:08] x4fingers commented on #13363
@rodrigodagostino I need a stable solution to write custom CSS at every single breakpoint inside any block. At the moment, I'm building a website with a block theme that heavily relies on Lazy Blocks and custom CSS classes. Over time, my code becomes larger and hard to maintain.

[2022-09-17 02:39] seothemes commented on #32644
@nendeb that will work, however the scale is also applied to padding. We really need support for negative values on margin inputs, it's a huge limitation for designers.

[2022-09-17 02:45] alexstine commented on #44115
I am totally blind so I can't offer much feedback here any longer. Tagging @joedolson .

[2022-09-17 03:55] maddisondesigns commented on #38904
@Thelmachido It's still a horribly designed and implemented UI. As I said in my original post, having to manually "add" an option like Line Height or Letter Spacing, before you can actually use it, is needlessly confusing and complicated and makes editing considerably slower. I've seen very few modern UI's that are worse than Gutenberg, with your constant need to hide every option beneath multiple

[2022-09-17 09:20] Ryokuhi commented on #44115
To the best of my knowledge, if we talk about compliance with Web Content Accessibility Guidelines (WCAG), version 2.1, at level AA, which is what we aim to do according to [WordPress Accessibility Coding Standards](https://developer.wordpress.org/coding-standards/wordpress-coding-standards/accessibility/), maybe this is not even an accessibility issue, strictly speaking.

The relevant success cri

[2022-09-17 10:01] t-hamano commented on #22822
My test environment is as follows:

- OS: Windows 10 Home 32bit
- CPU: Atom 1.33GHz
- RAM: 2GB
- Browser: Google Chrome 105 (no extension)

@nekohayo
Do you think this issue is limited to the combination of Firefox and Linux? Or have you ever reproduced it in any other case? I can only run Linux machines in a virtual environment, but I would like to test again with that combination if necessary.

[2022-09-17 10:46] t-hamano commented on #38548
I have confirmed that the approach described in this comment solves this problem on the block editor.

However, there is no longer a proper way to "escape" from the `ComboboxControl` on the block editor.
The up/down keys change the choices. The left and right keys move the cursor in the text box. In other words, the arrow keys alone will not allow us to escape from the `ComboboxControl` and focus

[2022-09-17 12:27] alexstandiford commented on #44186
Yes, I think this could work (great idea!). Something like a simple `register_form_action` function that includes a name, a slug, and a callback. The name, and slug can be used by the block editor for a select field, or something like that. Or, if the editor interface has something fancier, that information could be added to the registration.

I could see benefit in potentially taking this further

[2022-09-17 13:44] zero2webmaster opened #44238 "Gutenberg Screen Moves After Command Z"
### Description

The screen should not jump around just because I use Command Z Undo feature.

### Step-by-step reproduction instructions

Enter Command Z and watch the screen jump around.

### Screenshots, screen recording, code snippet

https://www.loom.com/share/45c1a44fae55451787b52f4db0ae7205

### Environment info

MacOS  Safari

### Please confirm that you have searched existing issues in th

[2022-09-17 15:00] t-hamano commented on #44232
Hi @bradley2083,
Could your problem be solved by wrapping multiple blocks in a group block?
I think the block gap is only for adjusting the spacing of multiple elements within a single block. And I believe there are no multiple elements in a paragraph block, but simply a line break.

https://user-images.githubusercontent.com/54422211/190863279-821a8b1f-8c87-48ea-ac37-d084e2128d85.mp4

Or, if you w

[2022-09-17 15:44] bradhogan commented on #44232
Manually adjusting spacing or wrapping paragraphs in a group block would be
too cumbersome.  It would be much easier to either remove the default gap
spacing entirely from the paragraph block so that global spacing was set
with margin (or padding) OR add a blockGap option to the paragraph block
(what I think makes the most sense since a few other blocks already have
this option).

On Sat, Sep 17,

[2022-09-17 15:54] t-hamano commented on #44232
The blockGap supported by a block is only to adjust the margins between elements within that block.
It should not control the margins with other blocks.
If you want to define margins between blocks, including paragraphs, you can define `styles.spacing.blockGap`.

[code]

[2022-09-17 16:00] bradhogan commented on #44232
I understand we can set the global option for blockGap in styles, but that sets the blockGap for ALL blocks.  I'm suggesting a very practical addition of adding blockGap support for the paragraph block.  There are many instances in a design where a theme dev might want to have the default blockGap set to something much larger than what they would want the paragraph spacing to be.

[2022-09-17 16:17] t-hamano commented on #44232
I understand.
However, I think it should be called "margin", not "blockGap".
Furthermore, I believe your intent was to specify a specific margin based on the combination of the current block and the next block.

Then, for example, the following approach might make sense:

[code]

[2022-09-17 20:54] artemiomorales commented on #43869
Confirmed in Wordpress 6.0.2.

[2022-09-17 21:26] BE-Webdesign commented on #44191
#44239  Should fix this.

[2022-09-17 21:45] khromov commented on #40018
@carolinan 👋 Hi! I have a related problem to this but a bit different context. I'm trying to make an Advanced Custom Field PHP block template behave like a FSE HTML template (basically I want to paste Gutenberg output  into the template and have it render correctly.)

I've attached a Gist of my code which uses `do_blocks()` to render the output:
https://gist.github.com/khromov/b0f3838aaf663896e0ae

[2022-09-18 02:40] OsakaWebbie opened #44240 "Option to turn off block auto-conversion (particularly lists)"
## What problem does this address?
Currently, if `1. ` or `* ` is typed or pasted into an empty paragraph block, the block is automatically changed to a list block. And if the user tries to change it back, the number or asterisk is removed. Yes, I know that if one notices it right away (before typing more text) and does Undo at that moment, it will revert, but that's not intuitive. Some users (lik

[2022-09-18 12:01] t-hamano commented on #37908
I think this issue contains multiple questions, but here is what I found out about `props.style`.

Some blocks, including the heading block, accept `props.style` and pass it to `useBlockProps`.

### heading

https://github.com/WordPress/gutenberg/blob/533e0b7dad99a4b52c1d79a2e8d2bf36a2e6f819/packages/block-library/src/heading/edit.js#L37-L42

### verse

https://github.com/WordPress/gutenberg/blob/

[2022-09-18 13:39] t-hamano commented on #43535
This problem could be reproduced with version 13.9, but not with the latest version (14.1.0).
As @glendaviesnz mentioned, it must have been resolved by the border support and styling changes.
As shown below, the latest Gutenberg properly overrides the default `border-width:0`.

## Gutenberg 13.9

![13 9](https://user-images.githubusercontent.com/54422211/190905049-a732468c-17e0-4cfe-a965-9a57d4382

[2022-09-18 13:39] #43535 closed, assigned to nobody

[2022-09-18 14:08] t-hamano commented on #44040
Hi @fullofcaffeine,

I was also able to reproduce the problem, but confirmed that there was a strange warning error about the heading.

![warning](https://user-images.githubusercontent.com/54422211/190911053-e74d4015-f66b-47cf-8fef-8cf92f19547d.png)

Furthermore, after updating to the latest WordPress 6.1, this warning disappeared and the issue didn't reproduce.

I think this problem has been reso

[2022-09-18 14:08] #44040 closed, assigned to nobody

[2022-09-18 14:15] Humanify-nl opened #44242 "Changing the slug for font-family in theme.json works except for the body"
### Description

I changed the slug value in `theme.json settings.typography`:

[code]
The new variable --wp-preset--font-family--main is succesfully output for blocks.

Except for the `body`.

See here:
![image](https://user-images.githubusercontent.com/82579622/190911127-7fb09280-0b40-47f0-abc3-64b9ae3b50d9.png)

I did a search, nowhere in my theme code is this variable `--wp-preset--font-family

[2022-09-18 15:47] janboddez opened #44243 "Template part has been deleted or is unavailable"
### Description

I've been working on a Twenty Twenty-Two child theme and it's been great.

I then tried to do the same (create a child theme) for Anders Norén's Björk, but the site's broken and the Editor shows a bunch of 'Template part has been deleted or is unavailable' errors.

`debug.log` shows errors like these:
[code]
Tried installing the Gutenberg plugin, but alas. (The TT2 child theme wor

[2022-09-18 15:56] Humanify-nl opened #44244 "Feature: Move post-title outside editor canvas to the top bar."
## What problem does this address?

This is a long-standing annoyance:

Since the start of Gutenberg, the post-title is on top of the block editor as a h1. But it is never representing the actual design well and goes against the WYSIWIG principles.

Let me explain:

You will see a lot of sites where the post-title is placed in a cover block, or an advanced layout. The post title can be placed anyw

[2022-09-18 19:22] ZebulanStanphill opened #44245 "Font size abbreviations in `FontSizePicker` are misleading when the theme declares multiple "small" sizes."
### Description

The `FontSizePicker` control currently applies [abbreviated "t-shirt" labels](https://github.com/WordPress/gutenberg/blob/533e0b7dad99a4b52c1d79a2e8d2bf36a2e6f819/packages/components/src/font-size-picker/utils.js#L22) for the options based solely on their order. This means that the control assumes that the font sizes will start with "small", followed by "medium", "large", "very la

[2022-09-18 19:51] jp-imagines commented on #40173
@Thelmachido I was still able to reproduce this in Firefox and Chrome on MacOS, WordPress 6.0.1:

* One on site, I could replicate the issue is with Gutenberg disabled. Once Gutenberg (14.1.0) was activated, the issue resolved.
* On two other sites (both on WordPress.com with Gutenberg 14.0.2), the issue remained even with Gutenberg active:

https://user-images.githubusercontent.com/5630717/190925

[2022-09-19 00:01] lwangdu opened #44246 "Add Search icon Navigation area"
## Right now there is no way add search icon easily on the navigation area
I am trying to add search icon navigation area. Right now you can't add search icon easily
![Screen Shot 2022-09-18 at 4 42 59 PM](https://user-images.githubusercontent.com/24829573/190933622-79dd5c1b-92ac-453a-8ef5-80350e3d71aa.png)
.

## What is your proposed solution?
If you click on the show icon button, it would be nic

[2022-09-19 01:22] nicolasbrouard commented on #24578
I think it would also be very nice to be able to sort images in a gallery by date (from the exif)

[2022-09-19 01:41] glendaviesnz commented on #43412
@jasmussen there is [a PR that implements this here](https://github.com/WordPress/gutenberg/pull/44247).

Just to clarify, there are currently no CSS classes as part of the first release of the spacing presets in 6.1, they are all applied via inline styles and CSS vars, and these are extrapolated from the `slug` value, not the name/label that appears in the UI. [As noted here](https://github.com/W

[2022-09-19 02:43] t-hamano commented on #42320
This may be edge cases, but I'll mention #33108 because it may be a good idea to consider cases where the tab panel has long text.

[2022-09-19 03:49] t-hamano opened #44249 "Accesibility: Block label and title don't consider variations"
### Description

Related to #42416

When a block variation is applied, `data-title` and `aria-label` attributes of the inserted block display information about the original block.

I think that these information should be taken into account for block variations as well as other text.

### Step-by-step reproduction instructions

- Insert `core/post-terms` (categories) block (The Category Block is a

[2022-09-19 03:52] t-hamano commented on #42416
I think this problem has been resolved in the latest Gutenberg. I would expect #39837 to have solved this problem.
However, we have created #44249 because we found some labels were not displayed properly.

Therefore, I would like to close this issue.

[2022-09-19 03:52] #42416 closed, assigned to nobody

[2022-09-19 05:11] andrewserong commented on #43440
Just looking over the theme JSON file and saw that `box-shadow` support hadn't been backported yet. I've opened up a PR in https://github.com/WordPress/wordpress-develop/pull/3274, which should pull in the final bits for that.

[2022-09-19 05:12] t-hamano commented on #44026
I was able to reproduce this issue.
I think `do_action( 'wp_head' )` may be already executed when rendering the block in the classic theme:

[code]

I think this isn't a bug because I believe that this is due to differences in rendering timing between the classic theme and the block theme.
In the classic theme, this could be handled by a more up-front hook such as `pre_render_block` or `render_blo

[2022-09-19 05:12] talldan commented on #44246
@lwangdu It looks like you have a search block, but it's in a separate navigation menu that's configured to show the overlay.

I think the option to show an icon only search would be added to the search block. There's already a github issue for it here - https://github.com/WordPress/gutenberg/issues/31128.

So I'll close your issue as a duplicate.

[2022-09-19 05:12] #44246 closed, assigned to nobody

[2022-09-19 05:15] talldan commented on #31128
Just noting for anyone looking to pick this up that there was a PR for this - #31719, and it might be a good starting point for anyone looking to contribute.

[2022-09-19 05:18] Homegnolia commented on #14945
Hi, I have the same issue: blank page when trying to edit a Wordpress article in Brave browser. It works on another browser and in Brave on another computer. But the security settings are the same in both editions of the browser.
I get the message :
`Refused to apply style from 'https://ypenser.net/wp-content/themes/rara-academic/css/editor-block.min.css?ver=6.0.2' because its MIME type ('text/htm

[2022-09-19 05:21] ramonjd commented on #43440
#### Block supports scripts loading

Added https://github.com/WordPress/wordpress-develop/pull/3273 as an extension of https://github.com/WordPress/wordpress-develop/pull/3259 cc @ockham

[2022-09-19 05:25] HasaanCh opened #44253 "Featured Image Option Not Visible on Specific Taxonomy"
### Description

Hi there,
I came across a very weird bug.
If you have a custom taxonomy registered with the name "themes" the Featured Image option will not be visible while editing posts.

### Step-by-step reproduction instructions

To recreate this there are two ways:
A->
1) Install CPT plugin.
2) Create a custom taxonomy of the name "themes" and register it to any of the post types (either cor

[2022-09-19 05:37] dylan2intel opened #44255 "Performance drop 16.21% after upgrade to version 6.0.x from 5.9.3"
### Description

Performance drop 16.21% after upgrade to version 6.0.x from 5.9.3

Using siege benchmark client to stress wordpress, the primary kpi dropped after upgrading version to latest 6.0.0

previous v5.9.3
![image](https://user-images.githubusercontent.com/90298893/190954479-4f32e7f3-6c50-48ee-8cdb-dc1a6b1e414d.png)

currently v6.0.0
![image](https://user-images.githubusercontent.com/9029

[2022-09-19 06:53] talldan commented on #44255
@dylan2intel Is that report specifically testing Gutenberg?

[2022-09-19 07:27] andersnoren opened #44257 "Comments block: The setting for "Enable threaded (nested) comments" is ignored"
### Description

If you uncheck the "Enable threaded (nested) comments" in Settings → Discussion, block themes still display threaded/nested comments. This is different from classic themes, in which threaded comments are displayed without nested lists when the setting is unchecked.

### Step-by-step reproduction instructions

1. Create a post with threaded comments.
2. Disable the "Enable threaded

[2022-09-19 07:48] talldan commented on #44253
I think 'themes' should be considered a reserved word. Registering it seems to override the REST endpoint that uses the same word - https://developer.wordpress.org/rest-api/reference/themes/.

This endpoint usually returns a list of features supported by the theme:
![Screen Shot 2022-09-19 at 3 42 44 pm](https://user-images.githubusercontent.com/677833/190971166-e3632b19-90aa-4e5b-9260-a16fe20c293

[2022-09-19 07:48] #44253 closed, assigned to nobody

[2022-09-19 07:55] talldan commented on #43877
Should this one be close now that #43929, #44146 and #44176 are all merged?

[2022-09-19 08:16] talldan commented on #38557
I've removed the 'Backport to WP Beta/RC' label as that's just for PRs.

I don't know much about it unfortunately, I just refactored some of the code to make fixing a bug easier. IIRC though, pretty much everything was implemented by that easy-cropper library, apart from rotation, which is our own implementation. Rotation seems to be working ok, so it'd suggest the bulk of the issues are to do wit

[2022-09-19 08:26] #44153 closed, assigned to jasmussen

[2022-09-19 08:29] dennisheiden commented on #13363
I think there should be a plugin which injects CSS responsive settings into every block. We are currently building such stuff as a premium feature to our block theme:

![image](https://user-images.githubusercontent.com/25924499/190972314-5b7dbf90-96be-43df-8646-7439f68afb3e.png)

As far as I can say, it helps the devs a lot to have less custom code / custom styles, but is hard to use for clients w

[2022-09-19 08:31] talldan commented on #23086
A possible option might be making a new 'freeform' block. I would envisage it having a preview of the contents and a 'Convert to blocks' button that's visible when selected. The trade off would be that the block probably wouldn't be editable, but it would at least be better than an error.

For some history, the widget editors tried using the html block as the freeform block instead of the classic

[2022-09-19 08:33] HasaanCh commented on #44253
Hi Daniel,
The featured image in Classic editor is working perfectly fine.
And even after changing Featured image in Classic editor and later on
editing the page with block editor the Featured image works fine. The only
problem is with the featured image option which does not appear.
Can you please explain this when you have time ?

On Mon, Sep 19, 2022, 12:48 PM Daniel Richards ***@***.***>
wrote

[2022-09-19 08:54] talldan commented on #44220
I can reproduce it. It seems to work ok if there's not enough content to result in a scrollbar, though it does look a little glitchy at times:

https://user-images.githubusercontent.com/677833/190982003-33ce7643-5a28-495f-b030-72e67756725a.mp4

But when I try the Gutenberg demo post, it's easily reproducible (it looks the same as the screen cap in the description, so I won't add another).

I think

[2022-09-19 09:13] CreativeDive opened #44259 "allowedBlocks for InnerBlocks not working in combination with allowed_block_types_all filter"
Hey,

I have a custom post type and I want to limit the available blocks to the root page level. Therefore I use the `allowed_block_types_all` filter.

But this filter is inherited by innerBlocks block selector, even though `allowedBlocks` is set to allow more block types.

How can I solve this to limit blocks at page level but allow more blocks for innerBlocks?

[2022-09-19 09:38] aaronrobertshaw commented on #44096
A PR is up addressing the addition of subheadings, and reset text within the default control menu items: https://github.com/WordPress/gutenberg/pull/44260

Its [approach](https://github.com/WordPress/gutenberg/pull/44260#issuecomment-1250788989) might need some adjustment however for now it looks like it will do what we want if you'd like to take it for a spin.

[2022-09-19 09:40] talldan commented on #44253
@HasaanCh The classic editor didn't use the WordPress REST API, which is why it works.

The block editor uses the REST API and depends on the existence of the `themes` endpoint for the featured image. When you register a taxonomy with the id 'themes' it overrides the REST API's `themes` endpoint, and the block editor no longer works correctly.

[2022-09-19 09:42] dugyen commented on #38557
@talldan @vcanales @annezazu will this fix be seen in WordPress 6.1

[2022-09-19 09:46] talldan commented on #38557
@dugyen The target is to get a fix for WordPress 6.1, but there isn't any working code that resolves the issue yet. There's a bit of a risk as well because the feature depends on a third-party library, but hopefully it's something that can be solved. 👍

[2022-09-19 10:33] MaggieCabrera commented on #42204
I think it's a matter of preference for the syntax but it's important to note that using the CSS variable will allow you to do things like `linear-gradient(var(--wp--preset--color--base), var(--wp--preset--color--contrast))` while the other syntax will not

[2022-09-19 10:37] CreativeDive commented on #44259
One solution could be to make a filter available like `allowed_block_types_root_level`, to restrict the selection of blocks of the first level.

The other solution I see could be, that `allowedBlocks` on the `innerBlocks` component, unlocks the restricted blocks from the `allowed_block_types_all` filter.

[2022-09-19 10:46] mtias commented on #36951
@jameskoster another thing that would be good to start thinking about here is introducing patterns for templates. For example, if you want to switch the archive to have a sidebar or no sidebar, or some other layout starting point.

[2022-09-19 10:52] #40831 closed, assigned to nobody

[2022-09-19 11:19] draganescu commented on #44186
I want to express my support for this endeavour. Having forms is one of the most basic needs, even for brochure sites, and having to install a plugin for a basic contact form is not great in light of the 80% rule of how Core absorbs features :) To second @noisysocks I too think:

- we need layout blocks for form building
- we should allow forms to submit to various endpoints

I'd also build a core

[2022-09-19 11:37] #44194 closed, assigned to nobody

[2022-09-19 11:48] mikachan opened #44262 "Border radius is not applied to overlay element"
### Description

If the Post Featured Image or Cover block has a border-radius set in theme.json, and the block has an overlay set, the border-radius is not applied to the overlay element.

With the Post Featured image block, the overlay shows with square corners on top of the border-radius:
![image](https://user-images.githubusercontent.com/1645628/191006056-b16880ea-62d2-4233-baab-6cb8d02a1d42.p

[2022-09-19 12:07] merlijnvanlent opened #44263 "A text selection which exactly matches a markup inline style does not replace the text when typing."
### Description

Typing when text is selected replaces the selected text with whatever you are typing.
However, when a text selection matches a Marked piece of text the selection is not replaced.

### Step-by-step reproduction instructions

1. When editing a post
2. Create a piece of text with a marked colour
3. Select the exact same characters as the earlier marked text.
4. Start typing the new t

[2022-09-19 12:28] rodrigodagostino commented on #13363
Would you like to have a text field that allows you to write your custom CSS code however you wish on each block or would you rather have a group of fields that cover your every need (including breakpoints features)? I’m guessing it’s the first one, which shouldn’t be difficult to implement :)

[2022-09-19 12:34] dennisheiden commented on #13363
Then have to use the anchor field to get a unique selector because the client ids / block class ids are not static. Btw. there is already the HTML block (IMO) which provides custom code capabilities. Still, this is not a good solution over custom code in a child theme file. It's even harder to maintain.

[2022-09-19 12:47] #44208 closed, assigned to matiasbenedetto

[2022-09-19 12:51] rodrigodagostino commented on #13363
@dennisheiden I agree, but I don’t think that’s what x4fingers is looking for.

[2022-09-19 13:01] Thelmachido commented on #43336
I am also not able to reproduce this using the default header part, I am closing this issue for now.

[2022-09-19 13:01] #43336 closed, assigned to nobody

[2022-09-19 13:06] jonathanbossenger commented on #43764
I'm going to self-close this issue, it would appear that this is not something the community wants or needs.

[2022-09-19 13:06] #43764 closed, assigned to nobody

[2022-09-19 13:11] Thelmachido commented on #42779
There hasn't been much activity on this issue in a while, @ntsekouras & @spacedmonkey are you able to check and confirm if this is an issue at the moment?

The issue was been marked stale for a while, it might end up being closed.

[2022-09-19 13:15] Thelmachido commented on #42836
From what I could see the List View option only closes if you click on X on the top-right of the banner.

More information wasn't provided to see what the issue is exactly, I will close this issue for now.

[2022-09-19 13:15] #42836 closed, assigned to nobody

[2022-09-19 13:26] bobbingwide commented on #42782
I believe this change has caused a problem for the Jetpack Consent block.
https://github.com/bobbingwide/bobbingwide/issues/77

[2022-09-19 13:40] mtias commented on #44244
See #20877 and #27093.

[2022-09-19 13:46] bobbingwide commented on #34345
Re: #42782 I see that the code's been merged so I'm commenting here.

The changes to make the labels uppercase have introduced a problem with Jetpack's Field consent block.

In the block editor, the text is all uppercased, which makes it difficult to edit.

![image](https://user-images.githubusercontent.com/2474435/191031452-a0c45aa0-732c-44d4-8742-b25bd3567a46.png)

See also https://github.com/bo

[2022-09-19 13:47] #41290 closed, assigned to nobody

[2022-09-19 13:57] cb911nr commented on #44166
Was able to just remove line 95 from

[lib/compat/wordpress-6.1/class-wp-theme-json-6-1.php](https://github.com/WordPress/gutenberg/blob/48e841b70a08d77a4ea550c0d4314c3eb4418fa8/lib/compat/wordpress-6.1/class-wp-theme-json-6-1.php)

Which resolved this issue.

[2022-09-19 14:07] #40116 closed, assigned to mcsf

[2022-09-19 14:08] mirka commented on #42782
@bobbingwide Hi there! I'm not sure what the Jetpack Consent block is, but based on the screenshot you posted in https://github.com/WordPress/gutenberg/issues/34345#issuecomment-1251044354, it looks like multiple things are wrong with the block's implementation. For example, the "By submitting your information..." text is too long and inappropriate for something to put in a `label` element. The ch

[2022-09-19 14:08] annezazu commented on #43877
Yes, let's close for now and I can reopen if I run into it again while testing :)

[2022-09-19 14:08] #43877 closed, assigned to nobody

[2022-09-19 14:08] mirka commented on #34345
Replied in https://github.com/WordPress/gutenberg/issues/42782#issuecomment-1251073331 👍

[2022-09-19 14:11] annezazu commented on #44243
@MaggieCabrera any insight here based on your prior comments on a related issue?

Also, @janboddez thanks for opening! Can you confirm whether this happens with other block themes other than the Bjork one?

[2022-09-19 14:14] annezazu commented on #44156
Just ran into this and can confirm the same problem.

[2022-09-19 14:18] annezazu commented on #44224
Thanks so much for opening this issue and kicking off a discussion. I wanted to note that the site editor as it is today with the current entry points is likely to evolve as you can see in some early designs here: https://github.com/WordPress/gutenberg/issues/36667#issuecomment-1228468407 I share this to keep in mind around implementation as, in the future, a solution could look more like enabling

[2022-09-19 14:46] rmorse commented on #42779
I think considering use of the query block is starting to really take off, that this is a fairly important issue to investigate as it adds a lot of unnecessary overhead 🙏

[2022-09-19 15:14] dennisheiden commented on #41935
I might be wrong how the ajax construction of server side blocks work, but the doc states the following:

![image](https://user-images.githubusercontent.com/25924499/191050689-e4a103df-3fa9-4aa3-a6c2-7bbc736be216.png)

What I expect:

- no attributes set - send all attributes from props
- some attributes set - send only these attributes

What I get:

- no attributes set - send no attributes
**_- s

[2022-09-19 15:34] #41336 closed, assigned to nobody

[2022-09-19 15:46] x4fingers commented on #13363
I need a tab control on every block, each tab has a text area to write custom CSS for a breakpoint. As I said before, I tried many plugins to enable this feature before but no plugin can do it perfectly. I can't implement any feature that I want or code my own block because I'm not a React developer, it will take a lots times.

[2022-09-19 15:47] fullpixel commented on #41124
`function fp_restore_group_inner_container( $block_content, $block ) {
	$tag_name                         = isset( $block['attrs']['tagName'] ) ? $block['attrs']['tagName'] : 'div';
	$group_with_inner_container_regex = sprintf(
		'/(^\s*<%1$s\b[^>]*wp-block-group(\s|")[^>]*>)(\s*<div\b[^>]*wp-block-group__inner-container(\s|")[^>]*>)((.|\S|\s)*)/U',
		preg_quote( $tag_name, '/' )
	);

	$replace_re

[2022-09-19 15:47] #41614 closed, assigned to nobody

[2022-09-19 15:55] Tropicalista commented on #40912
At the moment I use `shouldCloseOnClickOutside={ false }` and it's working. You can see it in my [Formello](https://it.wordpress.org/plugins/formello/) plugin.

[2022-09-19 15:56] #41683 closed, assigned to nobody

[2022-09-19 16:11] #42184 closed, assigned to nobody

[2022-09-19 16:41] joedolson commented on #44115
I agree with @ryokuhi that the biggest problem is identifying the boundaries; so a simple white border around the button should be sufficient.  While testing, I noted that the upload button doesn't support the 'Show button text labels' preference, which I'd consider a more significant problem, in many ways.

[2022-09-19 16:44] arkabase commented on #41301
The container's css rules should be moved to the inner-container's :

[code]

[2022-09-19 17:53] nickfmc commented on #13363
If you are going to write out custom CSS for each breakpoint and it's not for the end user, you might as well just use class based styles anyway then to limit the amount of re-used code you would need to write out for each individual block.

The biggest concern is for the added fields built into Gutenberg for margin/padding of a block that you can opt into but only 1 setting for all breakpoints, t

[2022-09-19 17:55] slpy9 opened #44272 "Block validation failing for Array attribute"
### Description

When I set the value of an array attribute in the edit function and save/reload, block validation fails.

The post updates correctly, but the content generated by the save function is displaying the default values. It's like the save function is failing to parse the attribute from post content.

I've provided a full code example below.

### Step-by-step reproduction instructions

[2022-09-19 18:37] kathrynwp commented on #42323
@madhusudhand Could you please confirm whether you're able to reproduce this issue on a self-hosted install with **non-WordPress.com themes** that have style variations, such as Twenty Twenty-Two?

[2022-09-19 18:43] jeremyescott commented on #44060
@scruffian Thanks for your comment, hopefully I can both agree with you and make the case for this suggestion as well!

So the goal of the block themes is to make a reasonably "no-code" site editing experience. And that is awesome! It is why I love it, even though I'm a very experienced coder.

WordPress has lots of types of users. We run the gamut from the basic blogger to the coders using it as

[2022-09-19 18:46] kathrynwp commented on #42720
I was **not** able to replicate the issue with:

WordPress 6.0.1
Gutenberg 14.1.0 active or inactive
No other plugins active
Twenty Twenty-Two 1.2

@Johanwalter Are you able to replicate the issue with the same settings above?

[2022-09-19 19:31] jonmarkhall commented on #41414
Hey @mrfoxtalbot, it's been a while since this issue was opened back in May so I don't remember all the details, but from what I recall... we ran into this issue when implementing an "insert icon" option in the rich text editor that allowed for insertion of an icon inline into the rich text. The icon is implemented using an empty `<span></span>` with one or more classes, similar to how a certain p

[2022-09-19 20:34] lwangdu opened #44274 "Cover block top spacing issue TT3 theme"
### Description

Is there any way you can disable spacing -top if we use cover block with navigation menu on specific template? If you look at the screen shot current tt3, white space looks wired to me.

body {
		     --wp--style--root--padding-top: var(--wp--preset--spacing--40);

}

### Step-by-step reproduction instructions

create cover block with navigation menu on the home page tt3.
go to fr

[2022-09-19 20:37] artemiomorales commented on #44263
Confirmed in the following environment:

- WP 6.0.2, Gutenberg 14.1.0
- MacOS: 12.5
- Chrome: 105.0.5195.125

[2022-09-19 21:06] JiveDig opened #44275 "Block toolbar does not display if wrapping element has `display: contents;`"
### Description

When our blocks use `innerBlocks`, WP adds extra wrapping divs which makes CSS flexbox/grid difficult to match styling in the editor. Using `display: contents;` makes things _much_ easier to manage, however, we lose the toolbar if the wrapping element(s) have `display: contents;`.

### Step-by-step reproduction instructions

1. Add a new paragraph block.
2. In the browser, add `di

[2022-09-19 21:31] artemiomorales commented on #44257
I was able to replicate this with WP 6.0.2 and Gutenberg 14.1.0 using the Twenty Twenty-Three theme.

However, I was unable to replicate it in Twenty Twenty-Two, where the comments appear as expected:

<img width="735" alt="Screen Shot 2022-09-19 at 5 27 03 PM" src="https://user-images.githubusercontent.com/5360536/191122745-4fa7ab64-2b9c-49b3-81e9-e9115a35e473.png">

Perhaps this issue should be

[2022-09-19 22:12] kkmuffme opened #44278 "@wordpress/scripts: sourcemap missing in builds"
### Description

`@wordpress/scripts` script `wp-scripts build` doesn't generate a sourcemap (only `wp-scripts start` will)

This means all production errors cannot be investigated or fixed, as all reported info (e.g. in Sentry) is useless.

It seems this was changed already https://github.com/WordPress/gutenberg/pull/33718 but this doesn't affect @wordpress/scripts? (sorry JS isn't my area of exp

[2022-09-19 23:27] noahtallen commented on #44278
I just looked into it, and it seems you can generate sourcemaps with a flag: https://github.com/WordPress/gutenberg/blob/394644eaa10f7734695c18aa537a3e2192a6e940/packages/scripts/config/webpack.config.js#L301

So, I think `WP_DEVTOOL=source-map wp-scripts build` should make it generate sourcemaps. I think that should handle your use case!

[2022-09-19 23:30] noahtallen commented on #44278
It looks like you can use `WP_DEVTOOL` for development builds here: https://github.com/WordPress/gutenberg/blob/394644eaa10f7734695c18aa537a3e2192a6e940/packages/scripts/config/webpack.config.js#L301

I think a reasonable change would be to allow `WP_DEVTOOL` to control the webpack `devtool` property for production builds as well, and the default could just be to not generate sourcemaps. People wh

[2022-09-19 23:36] annezazu opened #44279 "Consider changing "Query" pattern category name"
## What problem does this address?

There's currently a category of patterns called "query" that feel overly complex for a function that many folks might need to explore.

## What is your proposed solution?

Rename the category, similar to what was recently done here https://github.com/WordPress/gutenberg/issues/40116 to provide clarity. Some ideas:

- Blog
- Post List

More out there ideas for fu

[2022-09-19 23:45] annezazu opened #44280 "Patterns: Consider changing "Text" and "Buttons" categories"
## What problem does this address?

Right now, text and button are two categories in the pattern directory. They aren't terribly descriptive around what you're actually going to get when you choose from either due to the simplicity in the naming. If you click through each category, you'll find there's often great overlap too.

## What is your proposed solution?

Consider evolving these categories

[2022-09-20 00:27] #44135 closed, assigned to glendaviesnz

[2022-09-20 00:52] glendaviesnz commented on #38557
Had a brief look and I think we would either need to fork the library, or see if we can push back a change to the project. Currently the lib makes a number of calls to the global `window` and `document` which will need to instead happen on the iFrame doc and window in the case of the site editor.

It shouldn't be too hard to sort in theory, by either adding some props to pass in the doc and window

[2022-09-20 01:01] seothemes commented on #44275
Have run into this many times, the trick is to use `innerBlocksProps.children`:

[code]

[2022-09-20 01:13] ZebulanStanphill commented on #44275
Actually, the correct way to do it is more like how it's done in the [Buttons block](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/buttons/edit.js). You want to spread the entire `innerBlocksProps` on the container element.

[2022-09-20 01:21] seothemes commented on #44275
@ZebulanStanphill yes, that's cleaner. This example was taken from a block where the parent needed some different props. Does the same thing.

[2022-09-20 01:49] ZebulanStanphill commented on #44275
@seothemes If you use the `children` prop separately, you must still use the other props somewhere, or else things might break. In other words, if you need to use the `children` prop separately, you should do something like:

[code]

The reason you should do this is that `useInnerBlocksProps` returns altered `className` and `ref` props in addition to the `children` prop:

https://github.com/WordPr

[2022-09-20 02:37] adamziel commented on #42961
@bph I've marked this one as done:

https://github.com/WordPress/gutenberg/pull/41873

It was closed without merging as there wasn't enough alignment to move forward.

[2022-09-20 02:41] ramonjd commented on #44138
Actually, looking at this again, I was thinking of an entirely different case. So I don't think this is a bug.

This would be a good feature enhancement however.

While backtracing I noticed that the onChange event for palette options is empty: https://github.com/WordPress/gutenberg/blob/1a108a456c9b42f8c2d9eafb8dc0c77001bcdf70/packages/components/src/palette-edit/index.js#L466

Maybe there's a go

[2022-09-20 02:46] talldan commented on #44272
@slpy9 The issue is the way the attribute is configured to source from HTML text:
[code]

This will always just select the first `<li>` element and get the text, which is a string type, so will cause parsing to fail.

There is a solution though, what you're trying to achieve is possible using a `source: 'query'`:
https://developer.wordpress.org/block-editor/reference-guides/block-api/block-attribu

[2022-09-20 02:46] #44272 closed, assigned to nobody

[2022-09-20 02:51] talldan commented on #44244
I think this can be closed as a duplicate of #27093

[2022-09-20 02:51] #44244 closed, assigned to nobody

[2022-09-20 02:52] s56bouya commented on #44026
Thank you for your help.
I will try using `pre_render_block` or `render_block_data`.

[2022-09-20 03:07] talldan opened #44281 "Block toolbar sometimes positioned incorrectly after dragging and dropping a block"
### Description

Sometimes when dragging and dropping a block the block toolbar will be positioned incorrectly

### Step-by-step reproduction instructions

1. Add some blocks
2. Drag and drop a few times
3. Observe that sometimes after dropping the block, the toolbar isn't visible. Other times it'll be positioned incorrectly

### Screenshots, screen recording, code snippet

https://user-images.git

[2022-09-20 03:14] seothemes commented on #44275
Yes you are right, and that’s how it’s done in the block I copied this example from.

I know that Mike is most likely using ACF for registering blocks, so this won’t work anyway, I just wanted to highlight the use of InnerBlocksProps.children.

Since others will see this issue, I’ll update it when I get home to a working example. Basically the same as yours above, just destructured slightly differ

[2022-09-20 03:44] slpy9 commented on #44272
@talldan thanks for clarifying! that makes so much sense now that you point it out.. I wasn't sure if I was doing something wrong or not, as the content was changing and updating correctly, but also causing the validation error.

So an array attribute should only be used with a query/comment source? perhaps this could be made clearer in the documentation?

[2022-09-20 04:06] #44026 closed, assigned to nobody

[2022-09-20 04:09] talldan commented on #44262
This seems similar to this other issue - [Post Featured Image: Border radius option not working when custom height and width set](https://github.com/WordPress/gutenberg/issues/44172#top)

[2022-09-20 05:09] talldan commented on #44235
Thanks for reporting this. Discovered a fix in #44283.

[2022-09-20 05:41] aaronrobertshaw commented on #44172
I believe this is the same issue as https://github.com/WordPress/gutenberg/issues/44194 which has been fixed via https://github.com/WordPress/gutenberg/pull/44213.

Following the test instructions as per this issue, I couldn't replicate the issue since the fix landed, so I'll close this one.

Thanks for reporting it @dashkevych 👍

<details>
<summary>Demo video of latest test</summary>

https://use

[2022-09-20 05:41] #44172 closed, assigned to nobody

[2022-09-20 06:00] talldan commented on #44262
Post featured image is possibly fixed by https://github.com/WordPress/gutenberg/pull/44213. In my testing border radius with overlay looks ok on latest `trunk`:
![Screen Shot 2022-09-20 at 1 55 42 pm](https://user-images.githubusercontent.com/677833/191178297-2b06905f-a35b-4955-849a-d7a515bac334.png)

I haven't tested cover, but the fix in #44213 was only for post featured image.

[2022-09-20 06:01] talldan commented on #44172
@aaronrobertshaw There was also a similar report in https://github.com/WordPress/gutenberg/issues/44262 about the cover block.

[2022-09-20 06:09] #44210 closed, assigned to talldan

[2022-09-20 06:13] aaronrobertshaw commented on #44262
The Cover block [hasn't officially adopted border support](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/cover/block.json#L80-L109) to my knowledge. It has been in the works (https://github.com/WordPress/gutenberg/pull/41153) but there have been some issues around how it functions in the editor which meant progress stalled while we focused on other areas.

I'm not su

[2022-09-20 06:14] aaronrobertshaw commented on #44172
Thanks, I've replied on https://github.com/WordPress/gutenberg/issues/44262 as the Cover block doesn't actually have border support yet.

[2022-09-20 06:59] andersnoren commented on #44257
Twenty Twenty-Three uses the new `` block, while Twenty Twenty-Two uses the deprecated `` block.

It's possible that this was working in the old version of the comments block, but is not working in the new one.

Edit: I tried inserting both the deprecated `` and the new Comments block in one of my own themes, and the first adheres to the "Enable threaded (nested) comments" while the latter doesn't

[2022-09-20 07:09] RahiDroid commented on #44262
![Screenshot 2022-09-20 at 12 38 49 PM](https://user-images.githubusercontent.com/59014930/191190567-0f4e5710-7278-4be4-a61f-e4de2b8bb2eb.png)

I am still able to reproduce the issue on latest trunk. #44276 would potentially fix the issue along with one more issue with the overlay. I will do some testing and will mark it ready for review.

For the cover block, I agree with @aaronrobertshaw above,

[2022-09-20 07:10] t-hamano commented on #41338
Thank you for the reminder, @mrfoxtalbot.

@coreyworrell
As I commented here, I don't think all of 'core/editor' has been completely deprecated.
At the least, you should still be able to use `wp.data.select('core/editor').getEditorSettings()`.
I am closing this issue, but feel free to reopen it if you have any problems.

[2022-09-20 07:10] #41338 closed, assigned to nobody

[2022-09-20 07:18] #40989 closed, assigned to t-hamano

[2022-09-20 07:26] jasmussen commented on #44229
Here are a few options including a lighter gray:

<img width="1172" alt="Known but not explicitly set" src="https://user-images.githubusercontent.com/1204802/191193306-e529a9fa-31e4-42b5-8fbc-a1396aafcb29.png">

Another option is to show a little asterisk or other indicator:

<img width="1172" alt="Known but not explicitly set" src="https://user-images.githubusercontent.com/1204802/191193626-8332c

[2022-09-20 07:31] aaronrobertshaw commented on #44262
I can also replicate the issue for the post featured image block. I'll have a fix up for review in a few minutes. It appears we just need the `.wp-block-post-featured-image__overlay` class in our feature level selectors for the block's border support.

[2022-09-20 07:41] dennisheiden commented on #13363
This. It was relatively easy to implement a responsive height setting for the spacer block for us. This is something clients demanded across the board besides column spacing and it feels very intuitive since then.

[2022-09-20 07:42] aaronrobertshaw commented on #44262
I've put up a PR to fix the issue for the Post Featured Image block in: https://github.com/WordPress/gutenberg/pull/44286.

Feel free to give it a review!

[2022-09-20 07:56] t-hamano commented on #40912
Thank you for the reply, @Tropicalista.
If so, is it ok to close this issue?

[2022-09-20 08:19] janboddez commented on #44243
Tried another theme by the same author (Poe) and this time it seems to be only the "loop" block that's "unavailable."

Also tried with a child theme of Blockbase and that seems to work fine, for now (just had a quick glance at a few templates, nothing seemed off).

Did all of this on a different site than the first one, just in case.

So it *might* be a theme issue, but I don't see anything odd ab

[2022-09-20 08:49] talldan commented on #44259
I think `allowed_block_types_all` is to define what blocks are available in the editor. So it'll restrict what blocks are available at every level. It's probably too late to change that as it'd be a breaking change.

`allowedBlocks` for `innerBlocks` does indeed work differently. It allows forbidding a block at a parent level, but then allowing it again in a nested block.

So this could be an opti

[2022-09-20 08:51] #44249 closed, assigned to t-hamano

[2022-09-20 08:58] Johanwalter commented on #42720
No I cannot replicate the issue.
I have another website with same plugin and template, I don't have the issue.
On demo of website, I don't have the issue, issue is only on prod.
I m still looking where issue can come from
I found that on this website I have 2 scheduled tasks that failed which are not failed on any other website
woocommerce_run_product_attribute_lookup_update_callback
adjust_downlo

[2022-09-20 09:14] #43907 closed, assigned to ntsekouras

[2022-09-20 09:32] jameskoster commented on #44158
Something like this makes sense to me:

| Template | Archive Title renders |
| --- | --- |
| category.html | Category: Name |
| category-recipes.html | Category: Recipes |

This scheme can be used with Tags and other archives too.

What do you think?

[2022-09-20 09:34] dugyen commented on #38529
@mtias @annezazu
Is it possible to add [those patterns available in wordpress.org ](https://wordpress.org/patterns/) to the themes's/patterns directory?

[2022-09-20 09:35] dugyen commented on #38529
It would help WordPress users to search directly from TT3 or Updated TT2 theme, not from WordPress.org

[2022-09-20 09:47] carolinan commented on #42339
This also happens when you select colors in the site editor Styles sidebar. It affects the form. While if you use the setting in the block it affects the button.