[2021-06-18 12:11] Mamaduka commented on #32813
Happy to start working on this on Monday if there are no other takers.

[2021-06-18 12:12] aristath commented on #32051
Not yet... Not everything made it in 5.8 so I'm compiling a list of all the improvements that _did_ make it. For example, splitting `theme.css` files from #31239 didn't make it in 5.8 so will probably be part of 5.9.
There's also a couple commits that still need to be backported and until they get committed to core any published posts will be false (for example https://core.trac.wordpress.org/tick

[2021-06-18 12:17] Mamaduka commented on #32789
Thanks for reporting the issue, @optimizewp.

I see an error in the console on the Site Editor page, but it's a different one. I'm not able to reproduce the same error.

![CleanShot 2021-06-18 at 16 16 21](https://user-images.githubusercontent.com/240569/122559647-ab031880-d050-11eb-9a78-d4f7b5811169.png)

[2021-06-18 12:22] #32643 closed, assigned to youknowriad

[2021-06-18 12:24] #31916 closed, assigned to kevin940726

[2021-06-18 12:38] markhowellsmead opened #32815 "Editor crashes with error “TypeError: Cannot read property 'apiVersion' of undefined”"
## Description
If a block is in the post content which is no longer registered, the editor crashes irretrievably with the error message _TypeError: Cannot read property 'apiVersion' of undefined_.

## Step-by-step reproduction instructions
1. Open the editor of a post containing a block which is no longer registered.
2. Click into the editor.

## Expected behaviour
I should be able to manually del

[2021-06-18 12:44] justintadlock commented on #31710
What do you think about adding a `<span class="wp-block-post-terms__sep">` wrapper? I often need it for directly targeting the separator in CSS.

[2021-06-18 13:30] hedgefield commented on #25502
I agree this would be a really great addition to the List and Grid display options for the Query loop. I think https://github.com/WordPress/gutenberg/issues/25501 could be handled by this at the same time, you could probably set the slider to display one or several posts at the same time.

[2021-06-18 13:35] spacedmonkey commented on #24687
@noisysocks @draganescu Flagging https://github.com/WordPress/gutenberg/pull/32781 and https://core.trac.wordpress.org/ticket/53441

[2021-06-18 13:36] adamziel commented on #32779
@getdave I hear that we want developers to be able to restrict certain block behaviors. Then, I also remember that blocks have attributes, e.g. `textColor`, `backgroundColor`, `opensInNewTab`. If we restrict some features of the block, e.g. make it impossible to change colors (to keep the design in-tact), or make it impossible to change the `rel` attribute (just a silly example) then some of the a

[2021-06-18 13:45] hedgefield commented on #30706
This makes a lot of sense to me! The Categories field in the Query loop currently already has this functionality, so let's extend that to the other fields too, like you describe.

You said you built this functionality already, does that mean you can create a pull request and complete the development? No worries if not, I'll add the Needs Dev label regardless so this can be picked up.

I think sinc

[2021-06-18 13:50] kjellr opened #32818 "Custom Templates: Should use "title" instead of "name" when displayed to the user"
When adding a custom template using [the following example from the docs](https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-json/#customtemplates), the name that shows up in the UI is what's entered into the `name` field:

[code]

Site Editor Sidebar|Site Editor Title Bar|Post/page Editor
---|---|---
<img width="296" alt="Screen Shot 2021-06-18 at 9 47 37 AM" src="https://use

[2021-06-18 13:55] kjellr commented on #32818
This is related to, or possibly a duplicate of https://github.com/WordPress/gutenberg/issues/31704.

[2021-06-18 14:00] sarayourfriend commented on #28399
Removing the Good First Issue label because this is no longer a good first issue as demonstrated by @ramonjd and @ntsekouras's attempts to integrate some components.

[2021-06-18 14:22] jaclyntan commented on #6639
I see, I was not aware of a theme.json. I do like the concept of it but I can see this getting wildly complex very quickly. Is there a way to set global settings that affect all core blocks?

eg. I would like to set `max-width:1000px` and `margin: 50px auto` to all elements from gutenberg including headings/paragraphs/all blocks that don't have a wp class by default. Is this possible using theme.j

[2021-06-18 14:25] youknowriad commented on #6639
There is for the max-width yes but not for the margin yet (it will come). Expect a dev note (post detailing all of that) very soon on make/core as theme.json and layout are shipping in WP 5.8.

[2021-06-18 14:27] rchipka commented on #6639
What about responsive settings for max-width, margin, and padding for all blocks?

[2021-06-18 14:31] jaclyntan commented on #6639
Exactly....this is why I would prefer a single class linking all the core blocks together. It allows for the greatest flexibility; CSS in it's purest form instead of nested json values.

Also keep in mind that custom styles that are applied to blocks may be less than ideal in columns. eg. if you applied `margin:50px auto` to a heading, that would need to be changed when it is used in a column.

To

[2021-06-18 14:34] adamziel commented on #32779
Some very loose, tactical food for thought. We tend to set up inspector and toolbar via components such as `<BlockControls>`. This is out of necessity as we use slots/portals there. We probably don't need any slots in here, but I wonder if we could implement these features using a similar component-based API:

[code]

And have Gutenberg know which ones should be enabled based on the context. I hav

[2021-06-18 14:35] rchipka commented on #6639
And responsive variations on other things like font size?

This theme.json concept might quickly become a kluge.

In order to concisely and naturally represent the full feature-set of CSS you need something like... well, CSS.

[2021-06-18 14:37] youknowriad commented on #6639
Gutenberg doesn't have built-in responsive controls yet, discussions and iterations on that aspect are yet to come but the global direction is more toward "intrinsic web design" rather than "responsive web design"

[2021-06-18 14:42] tousignant-christopher commented on #14242
@Jamiewarb The API has changed since I posted the last gist. With Gutenberg's API v.2, blockProps and InnerBlocksProps were introduced that will no longer wrap the block in needless wrappers.

I created a couple of Gist to demo these funcs.

If you are creating a normal block that does not take in children block, check out:
[useBlockProps](https://gist.github.com/tousignant-christopher/ccf4ef7b5d8

[2021-06-18 14:43] rchipka commented on #6639
Ideally design follows a system, but ultimately comes from the imagination- unbounded by technical limitations.

CSS has evolved to accommodate a designer's wildest imaginations in a standardized way... it's quite a big wheel to reinvent.

[2021-06-18 14:45] adamziel commented on #32624
`admin_init` perhaps? `get_current_screen` seems to be defined in `src/wp-admin/includes/screen.php` which is included in `wp-admin/includes/admin.php`; It seems like I need to upgrade my local setup to actually try this though as it seems to be going through core PHP files, not the ones in my Gutenberg plugin

[2021-06-18 14:48] critterverse opened #32819 "Use drag and drop to transform an Image block → Gallery block"
One behavior that users might expect to find in Gutenberg is the ability to create side-by-side images by dragging and dropping an image next to an existing one.

Note: This behavior has previously been explored in #13202 and perhaps elsewhere!

https://user-images.githubusercontent.com/77359364/122572980-4a59e880-d01c-11eb-8fb5-81052f798666.mp4

**Current behavior**
You can drag an image on top o

[2021-06-18 14:49] critterverse opened #32820 "Unify drag and drop behavior across Image block and Gallery block"
Potential follow-up to https://github.com/WordPress/gutenberg/issues/32819

Currently in Gutenberg, you can drag an image on top of an existing Image block, which will upload the new image and replace the current one. The drop zone covers the full area of the block and is indicated by a blue overlay color with a CTA. The drop zone looks exactly the same on the Gallery block but instead of **replac

[2021-06-18 15:58] #32785 closed, assigned to Mamaduka

[2021-06-18 15:58] #32795 closed, assigned to Mamaduka

[2021-06-18 16:07] paaljoachim commented on #32795
Thanks @Mamaduka George!

[2021-06-18 16:23] walbo commented on #31373
This enhancement should also be added to the cover block. Doutone should only be visible when you have added a background image. Right now it shows when background color is selected istead of an image and the duotone controls doesn't do anything.

[2021-06-18 17:29] justintadlock commented on #31629
Formally noting that this issue is no longer fixed as of #32742 and #32766.  The first ticket reverted the fix.  The second ticket changed this in a way that does not respect valid, theme-defined slugs.

I have further proposed a compromise that would allow theme authors to address this in their themes: https://github.com/WordPress/gutenberg/issues/32347#issuecomment-863256200

[2021-06-18 17:49] draganescu commented on #32689
By all means don't overengineer 😁 I don't know if that is a good idea.

For posterity, why don't we always have an ID if the user picks a suggested post, category, taxonomy etc?

[2021-06-18 17:56] optimizewp commented on #32789
Thanks @Mamaduka, just as a confirm, previous screenshot is with `WP 5.8-beta1`, `TT1 Blocks` theme and with Edge Version 91.0.864.48 (Official build) (64-bit).

Gutenberg downloaded from here

* https://github.com/WordPress/gutenberg/releases/tag/v10.9.0-rc.1
* https://github.com/WordPress/gutenberg/archive/refs/tags/v10.9.0-rc.1.zip

The file is `/wp-content/plugins/gutenberg/build/edit-site/ind

[2021-06-18 18:16] draganescu opened #32823 "The list view behavior is not consistent"
There is a behavior of the list view in the Widgets editor which does not appear to be correct. I could not reproduce in the post editor. The wrong behavior is that when the focus is moved outside of widgets the list view shows only the contents on one widget area.

### To reproduce

1. Use the latest Gutenberg trunk
2. Make sure you have a theme with some widget areas (Twenty Twenty)
3. Go to App

[2021-06-18 18:30] spacedmonkey opened #32825 "Legacy text widget should have option to transform to paragraph block"
## What problem does this address?
Legacy text widget should have option to transform to paragraph block on new widget screen.

## What is your proposed solution?

[2021-06-18 18:31] spacedmonkey opened #32826 "Legacy custom html widget should have option to transform to custom html block"
## What problem does this address?

Legacy custom html widget should have option to transform to custom html block on widget screen.

## What is your proposed solution?

[2021-06-18 18:38] bbertucc opened #32827 "Header block toolbars hidden under site editor top menu"
<img width="522" alt="Screen Shot 2021-06-18 at 1 33 56 PM" src="https://user-images.githubusercontent.com/46652/122603630-4210a600-d03a-11eb-90ca-89264737970a.png">
<img width="429" alt="Screen Shot 2021-06-18 at 1 35 11 PM" src="https://user-images.githubusercontent.com/46652/122603633-4210a600-d03a-11eb-9299-fbc8857210dc.png">

## WordPress information
- WordPress version: 5.7.2
- Gutenberg ver

[2021-06-18 18:52] bbertucc opened #32828 "Disappearing navigation when adding subpages"
## Description
Adding subpages to a navigation block inside a group, while editing in the site editor, pushes up the navigation until it's not seen.

This is how I started:
<img width="519" alt="Screen Shot 2021-06-18 at 1 51 02 PM" src="https://user-images.githubusercontent.com/46652/122604905-4e95fe00-d03c-11eb-9f51-7e888dcd204a.png">

This is what I ended up with:
<img width="796" alt="Screen S

[2021-06-18 18:59] gruniversal commented on #12872
Still not working in WP 5.7.2 :(

[2021-06-18 21:09] #30568 closed, assigned to youknowriad

[2021-06-18 23:45] azaozz commented on #32689
Thinking that previews for local URLs shouldn't be handled differently than remote URLs.

True, cURL requests to `localhost:####` may fail depending on the server/devenv configuration. That may make testing a bit harder, but don't think these errors are a good reason to introduce a whole different way of handling of local URLs.

That's not exactly the case. WP sites on internal networks (not acces

[2021-06-19 00:41] ghost commented on #32599
Just checking in.  Found what I think is a good solution for this.  Still need to run through the testing protocol though.  Will be making a pull request possibly this weekend, but most likely early next week.  Thanks!

[2021-06-19 08:55] #26490 closed

[2021-06-19 10:29] locksoft commented on #31707
I tried to use it with and without other plugins but it seems the issue is still there. It happens rarely but it happens (both with Safari and Chrome). Is there a way to activate some sort of debugging mode, so to see what really happens when it gets stuck?

[2021-06-19 10:49] locksoft commented on #31707
Update:

I tried again to do some experiments with plugins and I've realized I've this one, that sounds really strange:

Gutenberg, version 10.8.2

Description text is in italian:

"La stampa dal 1440. Questo è il plugin di sviluppo per il nuovo editor a blocchi del core"

but it says something like:

"Print since 1440. This is the development plugin for the new block editor core"

If I keep it ac

[2021-06-19 18:58] paaljoachim opened #32833 "Publish: The Pre-publish dot, edit and save overview"
I will be looking through various save methods that we use today. With focus on the pre-publish dot and the saving process of each.
Post Editor, Reusable blocks, Page templates  and Site Editor.

WordPress 5.7.2
Using Gutenberg plugin 10.9RC
Twenty Twenty One and TT1
A local test site

### Post Editor

Creating a post. Adding some content.
No dot seen. User can click to Save draft or click to Publ

[2021-06-19 19:10] paaljoachim commented on #32833
Post or Page editing content. No dot is seen.
Reusable block editing inner content. Dot is seen.
Page Template editing. Dot is seen.
Full Site Editing. Does not use a Publish panel. Uses Save button twice.

-------

We need to create a consistency between the various save methods.

Suggestion on next steps.

De-selecting (Unclicking all options in the Save panel) the Save button should change to a

[2021-06-19 19:23] paaljoachim commented on #31456
Let's get a first version in place.

A helpful place to start is when un-clicking the various areas seen in the Save Panel.
For Reusable blocks, Page Templates and Full Site Editing.

Today it would look like this if the user decides not to save anything. One would need to click the X to leave the Save panel.
![Screen Shot 2021-06-19 at 20 57 31](https://user-images.githubusercontent.com/5323259/1

[2021-06-19 19:47] paaljoachim commented on #32461
I have left a couple of comments directly in the PR. The latest is here: https://github.com/WordPress/gutenberg/pull/32710#issuecomment-864425660
Where I create a suggestion using click through and a lock.
See the comment for additional information.

[2021-06-20 05:18] buzztone commented on #32556
The change of direction with the plus symbol works as intended for me.
I found the previous icons not at all helpful. I had no idea what they actually meant until I read the accompanying text.
The new icons by contrast quickly gelled with me. I knew what each one meant.

I suspect people will have differing initial interpretations on the position of plus symbol. However with some use, all icons wi

[2021-06-20 08:27] rmorse commented on #30706
Hey @hedgefield

I didn't fork/branch, I just re-made this in my own plugin (and probably not totally to standards)

Of course I'd love to contribute some of this work - I should be able to tidy some of this up and give it a go - my thinking is we'd need to get some more feedback on this first,  A couple of questions I would pose:

1. What control types (ie. combobox features, like showing options

[2021-06-20 11:47] #32811 closed, assigned to nobody

[2021-06-20 13:56] NekoJonez opened #32835 "Don't close the "add link" box right away after making a change"
When I'm writing articles for my blog, I love to add links to older articles and to Wikipedia pages and such.
I find it a tad bit annoying that when I add a link or change the "open in a new tab" feature that the box directly closes.

It makes me have to do two more clicks.

I would love to be able to AND select the link to the article I want to and change the "open in new tab" slider without havi

[2021-06-20 15:10] justintadlock opened #32836 "Comment Parent Link Block"
One of the features I've implemented in my themes for several years is a comment parent link.  Instead of endless indentation of nested comments, I typically cap this off at level 2 or 3.  Then, I add a link to the comment parent like so (see third-level comment):

![in-reply-to-003](https://user-images.githubusercontent.com/1816309/122679104-2bd82680-d1af-11eb-8c23-eef37e432f98.png)

Because bloc

[2021-06-20 15:11] paaljoachim commented on #32820
Thank you for adding both the issues Channing! @critterverse

@glendaviesnz Glen can you take a look at both issues?
As this can likely be added to the updated Gallery block.

[2021-06-20 15:14] justintadlock commented on #30573
Noting that a common use case for the comment published date is to wrap it in the permalink for the comment.  Maybe a "link to comment" would make for a good option.

[2021-06-20 15:21] paaljoachim commented on #32099
Hey @mschristo

Let us know how we can help you move onward with a PR.
Thanks!

[2021-06-20 15:22] paaljoachim commented on #31391
I will go ahead and close this issue. As it feels more like a sidetrack.

[2021-06-20 15:22] #31391 closed, assigned to nobody

[2021-06-20 15:26] paaljoachim commented on #31147
Creating a new template also adds the Template information to the top admin bar.
Clicking to Edit a template also show the template information in the top admin bar.

Issue has been fixed.

[2021-06-20 15:26] #31147 closed, assigned to nobody

[2021-06-20 15:26] paaljoachim commented on #30940
Closing issue.

[2021-06-20 15:26] #30940 closed, assigned to nobody

[2021-06-20 15:34] paaljoachim commented on #30700
I noticed a very thin line when dropping below content in a columns block. So the issue I mentioned here has been taken care of. There are various other drag and drop blue lines missing for other circumstances but those have perhaps been addressed in other issues.

[2021-06-20 15:34] #30700 closed, assigned to nobody

[2021-06-20 15:36] paaljoachim commented on #30939
This has been fixed.

[2021-06-20 15:36] #30939 closed, assigned to nobody

[2021-06-20 15:38] paaljoachim commented on #31086
I will just let it go, and close this issue.

[2021-06-20 15:39] paaljoachim commented on #31097
Closing issue as most features have been dealt with.

[2021-06-20 15:39] #31097 closed, assigned to nobody

[2021-06-20 15:41] paaljoachim commented on #29448
Any thoughts on movement on this issue?

[2021-06-20 15:43] waviaei opened #32837 "Navigation Block outputs incorrect percent-encoded URL, resulting in broken link"
## Description

Navigation block -- when a link that has slug with characters that gets URL encoded (such as Japanese), the inserted navigation link become wrongly encoded, thus resulting in incorrect URL link that results in 404 when clicked.

For example;

If you create a Page with title `ポートフォリオ` (en: portfolio) and slug also `ポートフォリオ`, the resulting permalink is as follows: `https://fse.test/%

[2021-06-20 15:46] paaljoachim commented on #29269
Here is one fix.

When all options have been unchecked the Save button should become a Discard button.
As in this comment:
Improving multi-entity saving UI method.
https://github.com/WordPress/gutenberg/issues/31456#issuecomment-864452835

[2021-06-20 17:08] torounit commented on #32837
https://github.com/WordPress/gutenberg/blob/a7e2895829c16ecd77a5ba22d84f1dee1cfb0977/packages/block-library/src/navigation-link/edit.js#L203

URL encoding is done in this line, but the URL suggested by WordPress is already URL encoded.

I think it is better to use [URL](https://developer.mozilla.org/en-US/docs/Web/API/URL) class instead.

[2021-06-20 19:23] paaljoachim commented on #9035
@vdwijngaert Koen

I happen to come across this interesting issue from 2018. Perhaps this is something for you to take a closer look at?

[2021-06-20 19:31] paaljoachim commented on #17099
This post, by @gziolo  mentions new filters/hooks that seems to make easier to blockify the WP categories page. (Recreate it with Gutenberg.) https://make.wordpress.org/core/2021/06/16/block-editor-api-changes-to-support-multiple-admin-screens-in-wp-5-8/

@critterverse @javierarce
Perhaps this would be an interesting screen to design.

[2021-06-20 23:32] formosattic opened #32839 "Paragraph block: Can't paste after a line break"
In a paragraph block, after adding a manual line break (SHIFT + ENTER), the editor doesn't let you paste text, it doesn't do anything.

It works ok with just the WordPress core editor, when Gutenberg is deactivated.

A workaround for now is to add 2 line breaks, then delete the second one.

[2021-06-21 03:55] wongpk opened #32841 "Gutenberg widget showing frontend script on preview"
## Description

## Step-by-step reproduction instructions
1. Install and activate GDPR cookie consent plugin
2. Go to Appearance > Widget and add any widget
3. On preview it will show up the consent bar

## Expected behaviour
The cookie consent bar should be on the frontend only.

## Actual behaviour
Cookie consent bar shows on all widgets in preview mode on Appearance > Widgets

## Screenshots or

[2021-06-21 04:02] talldan commented on #32756
Good spot. I wonder if that's a known issue.

[2021-06-21 04:07] talldan commented on #32769
From what I can tell could be considered a CSS styling issue, the clickable area doesn't extend down to the bottom of the page (there was a similar problem on the navigation screen too). But there might be other ways to fix it, so I'll leave that open to the person that fixes it.

[2021-06-21 04:07] talldan commented on #32769
From what I can tell could be considered a CSS styling issue, the clickable area doesn't extend down to the bottom of the page (there was a similar problem on the navigation screen too). But there might be other ways to fix it, so I'll leave that open.

[2021-06-21 04:30] glendaviesnz commented on #32820
Thanks @paaljoachim  and @critterverse  - I have added both of these to the [Gallery refactor project board](https://github.com/WordPress/gutenberg/projects/56) so we don't forget to take a look at them once the main refactor is merged.

[2021-06-21 05:40] hideokamoto commented on #32794
Hi @marcosignacio.

Can you check the error log in your browser?
If using Google Chrome, we can check the log refer to the document.
https://developer.chrome.com/docs/devtools/console/log/

If you find any error message, please copy and paste here.
We can check it whether related to the issue or not.

[2021-06-21 05:42] hideokamoto commented on #32839
Hi @formosattic

Thanks for reporting your problem.
Could you share your environment information?

## WordPress information
- WordPress version:
- Gutenberg version:
- Are all plugins except Gutenberg deactivated?
- Are you using a default theme (e.g. Twenty Twenty-One)?

## Device information
- Device:
- Operating system:
- Browser:

Thanks.

[2021-06-21 05:44] dragipostolovski commented on #14623
Once you get the post try this:

 posts: select( "core" ).getEntityRecords( "postType", "post", {
      per_page: 1,
      _embed: true
  }),

post._embedded['wp:featuredmedia'][0].source_url

[2021-06-21 06:14] hideokamoto commented on #32790
Gutenberg is using this package to provide a text translation.
https://github.com/WordPress/gutenberg/tree/trunk/packages/i18n

And it's using tannin and gettext libraries in nodejs.
Probably you can create a translation instance by using this method.
https://github.com/WordPress/gutenberg/blob/trunk/packages/i18n/src/create-i18n.js#L113-L142

Would you try this package and method?
Thanks.

[2021-06-21 06:22] hideokamoto commented on #32784
I've tried the same command and I saw the same error.
I'm using wp-env version `4.0.5`.

[code]

And I think there is no directory.

[code]

Probably the `wp package` command has not supported in the container yet.

[2021-06-21 07:43] tmdk commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-06-21 08:16] mtias commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-06-21 08:25] rahulsg91097 commented on #16006
I was facing the same issue and was able to tackle this issue by using this plugin: [WP Revisions Control](https://wordpress.org/plugins/wp-revisions-control/).

[2021-06-21 08:40] gziolo commented on #17099
@paaljoachim, as explained in my response to your comment on a linked post, it's a more complex process to enable the block editor on a new screen that using a few API methods described in the dev note. The widgets screen might be a good way to think about it. It took a lot of effort to get the block paradigm integrated there.

[2021-06-21 08:45] #27088 closed

[2021-06-21 08:55] gziolo commented on #27088
We did it 🎉

Amazing team effort everyone involved. Major props for the achievement.

There is even an ESLint rule `@wordpress/data-no-store-string-literals` that will prevent usage of hardcoded store names in the future.

There are still several places where we have hardcoded store names, but they require some architectural changes because the stores used in the code are present conditionally dep

[2021-06-21 08:57] paaljoachim commented on #17099
Thank you Greg!

[2021-06-21 09:01] gziolo commented on #24485
This one was accomplished with https://github.com/WordPress/gutenberg/pull/29118 🎉

This part wasn't covered. I'm wondering how much work it is to replace our custom approach with the official one. They seem to be compatible though.

[2021-06-21 09:01] #24485 closed

[2021-06-21 09:03] getdave commented on #31580
Closing this for now as we've had less feature requirements driving this. We might need in future at which point it will be easier to answer the questions above.

[2021-06-21 09:03] #31580 closed, assigned to getdave

[2021-06-21 09:04] getdave commented on #32087
Let's leave this for now. It's here if we ever need to circle back.

[2021-06-21 09:04] #32087 closed, assigned to getdave

[2021-06-21 09:11] gziolo opened #32842 "Code quality: Find a flexible way to use stores that aren't always available"
## Description

We replaced hardcoded store keys with imported store definitions with #27088 and all related PRs. However, there are still several places where we have hardcoded store names, but they require some architectural changes because the stores used in the code are present conditionally depending on the execution context.

There is a group of items to look at raised for the code used with

[2021-06-21 09:22] talldan commented on #32779
The bit that’s tricky here is that there are some parts of the nav screen that might just be nav screen specific that we want to shim in (which supports the argument of a new block type):
- Menu name editing
- Different style of block placeholder
- Accordion style menus (it’s still unclear if this is something that might become a nav block feature)

Then there are also parts that might feel like a

[2021-06-21 09:29] adamziel commented on #32779
Good call listing use-cases @talldan! I'd say let's just pick one, make it configurable, and see how that works. Rinse and repeat.

[2021-06-21 09:33] getdave commented on #32689
That's good info. Thanks for helping me to think this through properly.

I completely agree that inventing a new way to fetch previews just for some minor edge cases isn't a good idea. Let's see if we can roll with the existing mechanic.

The only minor issue is, if the URL is _not_ accessible (which is difficult to detect) and we allow an attempt at fetching data then we see a short loading state

[2021-06-21 10:40] draganescu commented on #32689
I say let the flicker there if it's only gonna happen on `localhost`.

[2021-06-21 10:45] Copons opened #32843 "Site Editor: Toolbars of topmost blocks cover the block content"
## Description

In the Post Editor, the post title acts as a spacer area between the editor canvas and the header toolbar.
There is no separate post title area in the Site Editor, though, so the topmost blocks' toolbars is being automatically pushed down to avoid them covering the editor header, with the unintentional side effect that now they cover their own block's content instead.

Originally r

[2021-06-21 10:55] Copons opened #32844 "Site Editor: Add Welcome Guide"
Follow up to https://github.com/WordPress/gutenberg/issues/29031

The original issue was about adding the Welcome Guide to both the Template and Site Editor.
The issue closed after https://github.com/WordPress/gutenberg/pull/31330 got merged, even though the PR only added the guide to the Template Editor.
This makes sense in a way: the Template Editor will be included in Core 5.8, so it's definite

[2021-06-21 11:08] rufus87 opened #32846 "Child theme templates' overwriting not working"
## Description
In case of active child theme, there is no possibility to overwrite only one template file, since plugin tries to load all template files from active (child) theme directory instead of trying to load absentee template files from parent theme.

## Step-by-step reproduction instructions
Please list the steps needed to reproduce the bug. For example:
1. Create any child theme.
2. Activ

[2021-06-21 12:11] draganescu commented on #32756
Let's move forward with @getdave 's PR that disables the FSE blocks in widget areas. These blocks are quite new and they're not meant for classic themes anyway, yet at least.

[2021-06-21 12:18] draganescu commented on #32723
While a block widget wrapper that somehow preserves the structure of widgets for blocks is a cool idea (be it with patterns, be it with a new block), it is not a given. This should be explored, but it is not a blocker for landing the widgets editor in WordPress 5.8 simply because all legacy widgets are fine.

Managing to get blocks to look like the theme's sidebar content is indeed a lot more comp

[2021-06-21 12:18] javierarce commented on #22071
@gibrown, do you know what the reasons for that change were?

---

Thanks for your comments, suggestions, and that GIF, @jasmussen!

I'm not sure about this solution because of your concern about some options being radio groups and other being toggles (that also are only enabled if some of the previous options are selected). Wouldn't this add a lot of complexity? Here's a quick mockup (please, don

[2021-06-21 12:28] jasmussen commented on #22071
Yep, the dropdowns aren't the best in the world. But I do like that they offer icon plus label, as these particular icons are hard to discern otherwise. More importantly, I think keeping them in the toolbar is the right interface.

If you thought of the popover as a canvas just like you think of an inspector panel, what would it look like? As we progress on #27331, I think some of the patterns we

[2021-06-21 12:59] critterverse opened #32849 "Follow-up to theme styles on Widget screen"
Follow up to https://github.com/WordPress/gutenberg/pull/32683 — some bugs and styling notes!

- Legacy widgets seem to have lost their labels/any information other than the input field when the site has a dark background color:

![Screen Shot 2021-06-21 at 8 54 03 AM](https://user-images.githubusercontent.com/77359364/122765227-4e7d4480-d26e-11eb-8cfc-8cb437ecc557.png)
![Screen Shot 2021-06-21 at

[2021-06-21 13:00] mtias commented on #32682
Related #29630 and #27473.

[2021-06-21 13:18] Copons commented on #32843
Basically dupe of https://github.com/WordPress/gutenberg/issues/29464

[2021-06-21 13:18] #32843 closed, assigned to nobody

[2021-06-21 13:22] MickeyMick00 commented on #28803
Same here , afterall reusable blocks are not usable at all.

[2021-06-21 13:51] Nikschavan commented on #32784
One solution could be to change the packages directory to a writable path by setting the environment variable `WP_CLI_PACKAGES_DIR` - https://developer.wordpress.org/cli/commands/package/install/

It looks like though there is no way to set new environment variables when setting up the docker-compose - https://github.com/WordPress/gutenberg/blob/b332c75bd291b3bd2087b7a0d50ab172a5803970/packages/en

[2021-06-21 14:38] zzap opened #32851 "Twenty Ten block patterns panel jerks in 5.8 beta 1, when not in Fullscreen mode"
## Description
When using block patterns with Twenty Ten theme on WordPress 5.8-beta 1, patterns panel is jerking once all patterns are loaded. This seem to not be the problem when in Fullscreen mode.

## Step-by-step reproduction instructions
- Install WordPress 5.8-beta 1
- Install and activate Twenty Ten theme from [develop mirror](https://github.com/WordPress/wordpress-develop/tree/master/src/

[2021-06-21 14:46] ddryo commented on #32723
@draganescu
I'm sorry.
I am Japanese and not a native speaker of English, so I could not understand your opinion exactly.

Could you please be more concise?

[2021-06-21 14:58] draganescu commented on #32723
Howdy @ddryo ! Briefly I believe we _should_ mitigate the problems of widget and block wrappers, but it is not a blocker for the widgets updates in WordPress 5.8. That's all :)

[2021-06-21 15:04] ddryo commented on #32723
@draganescu
Thank you very much. I understand now.

However, this is a very important and critical issue, if we release it in 5.8 in a vague way, won't it cause even bigger confusion later?

If you feel that this is an issue that needs to be thought about a little more, I think we should think long and hard about it now, even if it means extending the blocking of the widget area first.

[2021-06-21 15:23] ddryo commented on #32723
I would like to raise one additional important issue.

## It is about the use of "Column blocks".

There are many cases where you want to display multiple columns of widgets, for example in a footer widget area.

Until now, many themes have done this by providing multiple widget areas.

However, with the new block-based widget feature, you can use "column blocks".

I was very excited about that.

[2021-06-21 15:23] adamziel commented on #32624
I proposed a fix in https://github.com/WordPress/gutenberg/pull/32854

[2021-06-21 15:47] ddryo commented on #32723
@draganescu

I understand that being blocked will give me more freedom.

I am very excited about it.

But if that is the case, I don't understand why all blocks are automatically wrapped by `.widget_block`(which in my case also has `.c-widget`).

If we are going to get rid of the widget title feature for more freedom, I think the auto-wrap feature is getting in the way. (See the problem with the C

[2021-06-21 15:54] chriskmnds commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-06-21 15:58] gibrown commented on #22071
@javierarce I think find the original reasons from the various design discussions. It came from customizing for P2+ and eventually moved to become the default for Jetpack Search. I suspect it was because there is also a big X in the mobile for closing the overlay and so having "Clear" differentiates clearing the search box from closing the overlay. An "X" feels to me like it better indicates exiti

[2021-06-21 16:00] adamziel commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-06-21 16:21] #32154 closed, assigned to dcalhoun

[2021-06-21 17:33] youknowriad commented on #26573
I think with #32817 we audited all blocks to check the right capabilities. Should we close this one @ntsekouras

[2021-06-21 17:38] jorgefilipecosta commented on #32347
Hi @justintadlock, thank you for suggesting a possible fix using filters.

The problem with a filter-based approach is that given that classes are part of the blocks markup as soon as the plugin that has this filter is installed all the blocks created with the old markup before the filter was there don't match the new markup and would be considered invalid. The same after a plugin is disabled the

[2021-06-21 17:39] chandrapatel opened #32861 "FSE: Can't add new templates as per template hierarchy"
## Description

I was trying to add archive page template for custom post type `archive-{post_type}.html` from Site Editor but there is no option. Add new template option only for `Front Page`, `Page`, `Author`, `Category`, `Date`, `Tag`, `Single item: Post` and `Custom template`.

I have tried using `Custom template` but it only applied to any single `post` or `page`.

Another example is that I c

[2021-06-21 17:44] thomasplevy opened #32863 "Duplicate blocks with `mulitlpe=false` are allowed in a single post when using reusable blocks"
## Description

Through the use of reusable blocks it is possible to bypass the block editor's "multiple validation" which prevents a user from adding more than one copy of a block with which does not have `multiple` block support.

## Step-by-step reproduction instructions

1. Create (or edit) a post
2. Create a reusable block with the `core/more` block (or any block with `multiple: false`)
3. Sa

[2021-06-21 17:45] ntsekouras commented on #26573
Not yet. I want to take a closer look at the blocks again and `Site Logo` need changes for sure. I'll have a PR about it soon.

[2021-06-21 17:52] thomasplevy opened #32864 "Changes to a synced pattern are not reflected when using the post preview functionality"
## Description

If changes are made to a synced pattern (and they are not saved), these changes will not be visible when using the post editor "preview" functionality

I've considered that the behavior I'm encountering is potentially the actual expected behavior given that the synced pattern (wp_block) post is what's been edited and therefore no changes have actually been made to the the post/page

[2021-06-21 18:05] dukex commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-06-21 18:39] youknowriad commented on #32842
A few thoughts

 - It feels fine to actually rely on the presence of a store or not, in some cases, the cases where a block may change the behavior a bit if it's in a post editor...

 - Some blocks seem to be actually "post editor" specific and may not make sense elsewhere (table of contents) and in this situation, the block need to be updated somehow to not render anything when it's outside "post

[2021-06-21 18:43] justintadlock commented on #32347
I was more thinking the filter would come from a theme, but it doesn't really matter.

Are you saying that the block markup would literally be invalid in terms of creating an error?  Or, are you saying that simply the markup would be different?

I have seen no block invalidation between the time before the fix was added, the time since the fix went in, and the time of the reversal of the fix.  The

[2021-06-21 19:01] annezazu commented on #32638
More related feedback from the [same call for testing to include:](https://make.wordpress.org/test/2021/05/26/fse-program-testing-call-7-polished-portfolios/#comment-1714)

[2021-06-21 19:39] annezazu commented on #31112
This came up in the [seventh call for testing as well](https://make.wordpress.org/test/2021/05/26/fse-program-testing-call-7-polished-portfolios/#comment-1714):

[2021-06-21 19:44] annezazu commented on #32606
This came up in the seventh [call for testing for the FSE Outreach Program as well](https://make.wordpress.org/test/2021/05/26/fse-program-testing-call-7-polished-portfolios/#comment-1720):

[2021-06-21 19:56] manooweb commented on #32750
I took a look and try to export the new icon from Figma.

[code]

and took a first try in the code and got this result

![legacy-widget-icon-before](https://user-images.githubusercontent.com/1003778/122817737-96d14c80-d2d8-11eb-9316-80d042211163.png)

and when the legacy widget block is selected and the icon hovered in the block toolbar
![image](https://user-images.githubusercontent.com/1003778/12

[2021-06-21 19:59] annezazu commented on #30732
This came up in the [seventh call for testing for the FSE Outreach program](https://make.wordpress.org/test/2021/05/26/fse-program-testing-call-7-polished-portfolios/#comment-1719) as well and seems important to clarify in time:

[2021-06-21 20:18] jeffpaul commented on #32754
Related PR: [Block Editor: Send locale, version with remote pattern requests.](https://github.com/WordPress/wordpress-develop/pull/1390)

[2021-06-21 20:40] annezazu commented on #32638
More feedback from the same call for testing. This was a key area of repeated feedback:

[2021-06-21 20:44] annezazu commented on #31117
This was mentioned in the [seventh call for testing for the FSE Outreach program as a desired feature](https://make.wordpress.org/test/2021/05/26/fse-program-testing-call-7-polished-portfolios/#comment-1715):

[2021-06-21 21:01] Addison-Stavlo commented on #32842
Another thought, their block variations are now registered server side with (i think) all the information necessary for this.  We could probably replace this dependency with something like `getBlockVariations` from the `core/blocks` store.  We may be able to get rid of that editor store settings prop altogether. 🤔

Edit - ah but that server side variation registration doesn't work with all WP vers

[2021-06-21 21:01] #32526 closed, assigned to glendaviesnz

[2021-06-21 21:25] triplegem commented on #12557
When I first read this text, I thought the language was intended (in a fun way) to include people's preferred ways of thinking about how they blog: "writing" versus "typing." When I read it again, I realized that couldn't be true because of the rest of the sentence, but it took me several seconds to work out the meaning.

I read the other threads noted in this issue and didn't see the following op

[2021-06-21 21:37] carlomanf commented on #32861
I think this was fixed by #31971, which is not merged as yet. I encourage you to test again with that branch as I'm curious whether it does fix this.

[2021-06-22 00:19] #32004 closed, assigned to draganescu

[2021-06-22 00:27] #32826 closed, assigned to spacedmonkey

[2021-06-22 01:13] #32624 closed, assigned to nobody

[2021-06-22 01:15] #32631 closed, assigned to getdave

[2021-06-22 01:21] peterwilsoncc opened #32870 "Monthly archive dropdown widget doesn't include custom classes."
## Description

Custom widget classes do not display on the front-end for archive dropdown widgets.

## Step-by-step reproduction instructions
1. On WP Trunk, go to Appearance > Widgets
2. Add a monthly archive block
3. Format as a dropdown
4. Add some custom classes in the advanced section
5. Update the widgets and view on front end, the custom classes will be missing

In list format, IE as a `ul

[2021-06-22 01:28] tellthemachines commented on #32849
@critterverse which theme are you using for the dark background? The block inserter is showing in light colour for me.

With the widths issue, there's no fully theme-compatible way to tackle it as different themes set different max-widths on the blocks. So e.g. in Twenty Nineteen all the widths match:

<img width="732" alt="Screen Shot 2021-06-22 at 11 18 11 am" src="https://user-images.githubuser

[2021-06-22 01:46] guarani commented on #30562
I spent some time investigating this and although I didn't manage to solve the issue, here's what I found:

### Focus loop affects all blocks
First of all, in my testing, this issue (the focus loop) is **not** specific to the post title. It also happens when _any_ block (e.g. a Paragraph block) has an input which has keyboard focus AND has some text in it AND then a block is inserted via the block

[2021-06-22 02:00] talldan opened #32872 "Fix and re-enable skipped image caption e2e test"
#32847 skipped an e2e test that was failing consistently.

There were some previous attempts to fix this in #32832, but none successful. That PR has some more details about what has been attempted and what the known problems are.

[2021-06-22 02:13] talldan commented on #32839
This is the error message:
[code]

The same problem was reported in #32468 with the list block, so I'll close this as a duplicate and add the details there.

[2021-06-22 02:13] #32839 closed, assigned to nobody

[2021-06-22 02:15] talldan commented on #32468
#32839 reports that the same issue happens in the paragraph block after using shift+enter to add a line break.

When testing I saw the same error message:
[code]

[2021-06-22 02:18] talldan commented on #32468
Looks like this was fixed yesterday by #32527

[2021-06-22 02:18] #32468 closed, assigned to nobody

[2021-06-22 02:35] jayseventwo commented on #30505
I have come across this issue today as well - If I manually add the alt text in the code editor and then save, the alt text is removed. I have alt text applied to the image in the media library, but it is not pulling this into the cover image.

[2021-06-22 03:07] getsource commented on #25130
Related: #16297

[2021-06-22 04:17] talldan commented on #32835
I'm going to tentatively say this is a bug, though not sure if it might be by design.

[2021-06-22 04:22] talldan commented on #32827
I can't reproduce this in Twenty Twenty One (Blocks). Could it be a theme issue?

[2021-06-22 04:33] talldan commented on #32794
I can reproduce this. The scrollbar does seem to appear as soon as the cursor is moved outside of the embed block after selecting it. There doesn't seem to be anything of relevance in the console.

[2021-06-22 05:13] tellthemachines commented on #31907
I can no longer reproduce this on latest trunk. @kevin940726, you mentioned #32729 partially addressed this. Is there anything still to do before we can close this issue?

[2021-06-22 05:26] talldan commented on #29852
Hi @norlink, sorry for the amount of time taken to reply to you.

I've had another go at testing this one on with the Gutenberg plugin and GenerateBlocks, and couldn't. It might be something specific about your Reusable Block.

We also discussed the issue in a triage session on slack (https://wordpress.slack.com/archives/C02QB2JS7/p1624338381331400), and other folks couldn't reproduce.

I know you

[2021-06-22 05:26] #29852 closed

[2021-06-22 05:49] talldan commented on #32178
Fixed by #32212

[2021-06-22 05:49] #32178 closed, assigned to nobody

[2021-06-22 05:56] jasmussen commented on #32828
Thank you for the report! I can confirm a few issues:

1. Menu items are white:

<img width="707" alt="Screenshot 2021-06-22 at 07 49 39" src="https://user-images.githubusercontent.com/1204802/122870865-82b83a00-d32e-11eb-8c0d-b4458893fd5a.png">

That appears to be due to a blockbase theme style:

<img width="551" alt="Screenshot 2021-06-22 at 07 49 35" src="https://user-images.githubusercontent.c

[2021-06-22 05:56] #32828 closed, assigned to nobody

[2021-06-22 06:04] miminari commented on #31943
We discussed the issue in a triage session on slack today(https://wordpress.slack.com/archives/C02QB2JS7/p1624339362341100).

This Issue seems similar #29255 #24611.
We'd like to continue with #24611. Thank you!

[2021-06-22 06:04] #31943 closed, assigned to nobody

[2021-06-22 06:06] miminari commented on #29255
We discussed the issue in a triage session on slack today(https://wordpress.slack.com/archives/C02QB2JS7/p1624339362341100).

And reproduction was observed in several environments.

This Issue seems similar #31943 #24611.
We'd like to continue with #24611. Thank you!

[2021-06-22 06:06] #29255 closed

[2021-06-22 06:07] getsource commented on #29356
Hi @grantmeagher!
Thanks much for the report, and sorry for the wait!

This was tested in [a triage session today)(https://wordpress.slack.com/archives/C02QB2JS7/p1624340696353900), and folks present were not able to reproduce it.

@talldan noted that there was a similar issue in #32178, which was fixed by #32212.
Assuming this issue's problem is fixed by the same PR, the fix is available in Guten

[2021-06-22 06:07] #29356 closed

[2021-06-22 06:16] miminari commented on #24611
I closed #31943 #29255 as duplicate by [today's triage](https://wordpress.slack.com/archives/C02QB2JS7/p1624339362341100).
I was able to reproduce #29255, which may be reproduce more easy.

[2021-06-22 06:54] kevin940726 commented on #32652
Yes it still works but the UX is bit wonky. There's no blue line indicators when dragging into an empty block lists. The indicator sometimes disappear for no obvious reasons as well. This is also not a bug uniquely in the widgets screen, it's happening in every editor. I think we need to revisit the blue line indicator sometimes in the future.

In the meantime, how about we highlight the drop zone

[2021-06-22 06:59] kevin940726 commented on #31907
I didn't test all the cases mentioned here in #32729. It's possible that #32729 solved multiple issues here. If we can't reproduce it anymore then sure let's close this.

[2021-06-22 07:00] rofsky commented on #30505
Same for me. Latest version. I tried all methods above and have the same results.

[2021-06-22 07:18] aristath commented on #31710
Great idea. Added it to the PR :+1:

[2021-06-22 07:50] #27217 closed

[2021-06-22 08:36] getsource commented on #24611
Just in case it's helpful, when testing #29255, I was able to see these two places in dev tools changing during the flickering:

https://user-images.githubusercontent.com/1034160/122892254-33025e80-d380-11eb-9bfd-aed2b1bc3833.mov

https://user-images.githubusercontent.com/1034160/122892273-34cc2200-d380-11eb-839d-0ad855a71a41.mov

[2021-06-22 08:39] JasonWoof commented on #24611
Please make sure you also test/fix the scrollbar flickering issue in the sidebar. Unless you have an unusually large resolution, you may need to zoom out to be able to resize your browser window big enough. See detailed instructions on reproducing here: https://github.com/WordPress/gutenberg/issues/24611#issuecomment-722133323

Also, in the interest of getting everything in one place, here's an ex

[2021-06-22 08:43] getdave commented on #32689
@azaozz Weirdly if I run `curl http://localhost:8888` from my terminal then it works. Why then would WordPress's HTTP API _not_ work?

[2021-06-22 09:01] dankopi opened #32879 "Remove rel="nofollow ugc" from internal links in the comments"
EDIT: I'm sorry, this was doesn't belong to WordPress/gutenberg. Could a moderator please move it. Thanks.

## What problem does this address?
When you reply to someone's comment as an author, and lets say you point them to a page on your website, Wordpress automatically adds rel="nofollow ugc" to your links. The problem is - the link is to another page on the same website, so it's an internal lin

[2021-06-22 09:15] kevin940726 opened #32880 "Unreliable drag & drop (blue line) indicator"
## Description
I did search but couldn't find other issues specific about this, so decided to open one. Feel free to link other related issues or close this one. (I intentionally make the title of this issue vague so that we can gather as many cases as possible here. We can treat it as an overview issue of anything related to the blue line indicator.)

The drag&drop (blue line) indicator is unreli

[2021-06-22 09:27] mtias commented on #6639
theme.json is not meant to replace CSS but to absorb a lot of structural and appearance concerns as a block-first API that is more agnostic of the environment a block is rendered (for example, mobile native that lacks CSS, etc). It doesn't cascade in the same way that CSS does and handles composition in a way that is more tied to specific block semantics (like a nested block or template areas). Th

[2021-06-22 09:46] aristath commented on #32879
The ticket can not be "moved", so I'll go ahead and close it. Please open a new ticket in WordPress-Core's [trac](https://core.trac.wordpress.org/) instead :+1:

[2021-06-22 09:46] #32879 closed, assigned to nobody

[2021-06-22 10:18] mtias commented on #24616
theme.json can be filterable so it can be tweaked in a given editing context. cc @nosolosw for clarification

[2021-06-22 10:44] fluiddot opened #32882 "Reusable blocks are displayed as unsupported (development mode only)"
## Description

After recent changes (probably related to [the RN `0.64` upgrade](https://github.com/WordPress/gutenberg/pull/29118)), the reusable block is displayed as unsupported even when the block is available.

## Step-by-step reproduction instructions

1. Use a debug version that connects to the Metro server.
2. Open a post/page that contains a reusable block.
2. Observe that the block is d

[2021-06-22 10:54] fluiddot opened #32884 "VirtualizedLists should never be nested inside plain ScrollViews error"
## Description

After the [the RN `0.64` upgrade](https://github.com/WordPress/gutenberg/pull/29118), I noticed that the app is showing the following error:
[code]

As far as I investigated, it looks related to rendering a `FlatList` component inside a `ScrollView`.

**Reference:** https://stackoverflow.com/questions/58243680/react-native-another-virtualizedlist-backed-container

## Step-by-step r

[2021-06-22 11:00] mtias commented on #31298
Also related: #32682. There's a proposed flow there for creating patterns as part of a design library.

[2021-06-22 11:10] getdave commented on #32779
Reading @talldan's summary again it's clear we cannot hope to unify all enhancing/disabling under a single API. That's basically what we expected, but we went through [a discovery process](https://github.com/WordPress/gutenberg/issues/30007#issuecomment-857710021) in order to rule out the various options.

I now see the Theme JSON APIs as a good route to explore. Some of the items Dan lists above

[2021-06-22 11:16] fluiddot opened #32885 "Separator block: Invalid prop `lineStyle` of type `array` supplied to `Hr`, expected `object`"
## Description

The following warning is displayed when adding the Separator block to the content:
[code]

## Step-by-step reproduction instructions

1. Use a debug version that connects to the Metro server.
2. Open a post/page.
2. Tap on the ➕ button.
3. Tap on the Separator block.
4. Observe the mentioned warning is logged in the console.

## Expected behaviour

No warning should be logged when

[2021-06-22 11:33] gziolo commented on #32779
I have one important note to share. The navigation editor screen has different assumptions about how the block editor is built in contrast to all existing instances of the block editor:
1. The post editor when it was created it couldn't use the Post Content block because it didn't exist so it's only concerned about all the inner blocks and everything else for the post is handled through the custom

[2021-06-22 11:47] #32791 closed, assigned to bosconian-dynamics

[2021-06-22 12:02] paaljoachim commented on #32119
I believe the easiest and most straight forward patch is to switch the current icon with the word "Move."
As we could still leave the Move option in place in the toolbar. Having it easily available for users.

[2021-06-22 12:47] medvardsen opened #32890 "Feature request: Social Icons Widgets/Block"
**Missing icon for showing Phone Numbers**
I am looking for a phone symbol to use in the Social Icon Widget in the Block Editor. The link symbol is a fit for ordinary web links and is of course possible to use even for a tel: link.

It would be awesome to be able to choose an icon fitted for Phone Numbers as well to make it the message more clear to the webpage visitors

[2021-06-22 13:12] jaclyntan commented on #6639
I think this sounds like a good solution, although it would be nice if it was able to be serialized too (or any other custom class a developer may want to add to a block using the filter). I understand that the resulting markup is intended to be kept as clean as possible, but considering that paragraphs and headings are considered separate blocks in the editor, I think it makes sense for them to b

[2021-06-22 13:22] chrisvanpatten opened #32891 "Missing appender for post types without `core/paragraph` support"
## Description
If a post type does not have support for the default block (`core/paragraph`), a button appender should be visible:

https://github.com/WordPress/gutenberg/blob/77bc9cae4d016f52523f0ee7018183961ab6056e/packages/block-editor/src/components/block-list-appender/index.js#L72-L79

<img width="1093" alt="Screen Shot 2021-06-22 at 9 17 43 AM" src="https://user-images.githubusercontent.com/

[2021-06-22 13:31] chandrapatel commented on #32861
Hi @carlomanf I have cloned your repo, checkout to `try/fse-theme-mods` branch and ran `npm install && npm run build` commands. When I try to add new template or template-parts then it shows white screen. I have checked but couldn't find any reason. I have followed same steps for main repo and `trunk` branch and it's working.

I don't know what the issue could be. Let me know if I'm missing anythi

[2021-06-22 13:38] chrisvanpatten commented on #32891
@jasmussen I'm pretty sure I've tracked this down to #28219, and specifically the addition of a `width` — I left a comment on the PR as well.

Not quite sure how to resolve without breaking the intention behind the change in that PR though 🙃

[2021-06-22 13:44] mtias commented on #26632
Yes, I worry about making it an API because it can get out of control without a clear indication of what we want to signal — are badge terms related to a specific taxonomy? Can they be used for anything? Would people use them as tags? Can you have many? Can they be extended? Can you remove existing ones? I'd expect we would also receive requests for colors, or icons, or making them actionable (act

[2021-06-22 14:00] mtias commented on #20757
We don't have any examples in core. There's a mockup here for the cover block as a basis: #20837

[2021-06-22 14:03] jasmussen commented on #32891
Thank you for such an excellent ticket. I have a fix in #32894

[2021-06-22 14:06] ItsJonQ commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-06-22 14:14] adamziel commented on #32024
The bug is caused by the following rule: `transition-duration: 0s !important`, presumably due to some race condition with `transitionend` event involved. If I change it to `transition-duration: 0.01s !important` then everything suddenly works. I am going to try to identify the problematic part of the JS code.

[2021-06-22 14:15] johnmaeda commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-06-22 14:24] mtias commented on #31403
No worries! :)

[2021-06-22 14:24] #31403 closed, assigned to nobody

[2021-06-22 14:53] adamziel commented on #32024
This subscriber isn't getting called with `transition-duration: 0s`:

https://github.com/WordPress/gutenberg/blob/8667e9688867004755dce39225f185baf9558f3d/packages/customize-widgets/src/components/customize-widgets/index.js#L30-35

I don't know the customizer code very well so I'll leave it at that. We could go drill down all the way to the root cause or just go for the `0.01s` workaround. The lat

[2021-06-22 15:04] RavanH opened #32896 "Query block: validate in_the_loop() to true"
## What problem does this address?
Wanting to filter post links on a classic archive template, I could hook into the post_link filter and then do a in_the_loop() check to make sure to only work on links in the post archive, not in the menu for example.

But The Loop on a block based theme (like block-base) is done with the wp:query block. This loop however, does not set $wp_query->in_the_loop to t

[2021-06-22 15:25] fluiddot commented on #32882
I noticed that this issue is not happening in a recent build that points to the Gutenberg commit referenced in the description ([WordPress iOS installable build](https://github.com/wordpress-mobile/WordPress-iOS/pull/16720#issuecomment-865821337)) so in production, this issue can't be reproduced. Nevertheless, I'd like to investigate this further as it might be covering actual errors.

[2021-06-22 15:48] adamziel commented on #26226
I found that the text widget remains in editing mode only as long as I keep editing it (keep focus inside). As soon as I click on the tag cloud (or anywhere else), it defaults to the preview mode. While this doesn't solve the problem of dropping blocks in textareas, it seems good enough to close this issue.

[2021-06-22 15:48] #26226 closed

[2021-06-22 16:10] gthayer commented on #31913
I am the author of all Gutenberg commits from gary@hallme.com

[2021-06-22 16:30] stokesman commented on #24611
That happens to be what #31858 does. It should fix this issue but not the other ones that were closed as duplicates.

[2021-06-22 16:33] skorasaurus commented on #27513
Hi,
This appears to have been fixed in WordPress 5.7. Please reopen if you're still experiencing this.
![image](https://user-images.githubusercontent.com/955351/122965345-16513100-d356-11eb-96b9-ea8bc4e6f083.png)

[2021-06-22 16:33] #27513 closed

[2021-06-22 16:36] paaljoachim commented on #32632
Let's do some comparison.

Old method using a Genesis theme that has a lot of widget areas:
(Using Refined Pro theme...Yeah the one that has an issue with the new Widget screen.)

![Screen Shot 2021-06-22 at 18 34 13](https://user-images.githubusercontent.com/5323259/122965511-90021280-d388-11eb-99e7-2a0c7c7db8a0.png)

Activating the Gutenberg plugin:

![Screen Shot 2021-06-22 at 18 34 50](https:/

[2021-06-22 16:45] ggordon-vispero commented on #29526
Seems that Gutenberg.run has been offline since the weekend. I thought it would right itself  when someone else noticed, but that hasn’t happened as of yet.

I’ve spent more time with contenteditable p elements using a released version of JAWS and now realize that it would be better to give each paragraph an ARIA role of document. This  combined with contenteditable will cause screen readers that

[2021-06-22 16:53] annezazu commented on #29526
@ggordon-vispero

Can you clarify what issues you're running into? I just used Gutenberg.run on a few PRs and didn't have any issues so wanted to check in :)

[2021-06-22 17:03] oandregal commented on #24616
Details about filtering possibilities can be found [here](https://github.com/WordPress/gutenberg/issues/27504#issuecomment-858761483) with links to specific places Gutenberg uses them. TLDR: for block editor settings, it suffices to hook into the block editor settings filter (related [changes](https://make.wordpress.org/core/2021/06/16/block-editor-api-changes-to-support-multiple-admin-screens-in-

[2021-06-22 17:04] oandregal commented on #24616
I've also added this issue to the backlog section at https://github.com/WordPress/gutenberg/issues/20331 so it's easier to find when it comes to deciding the next steps for block supports and what options should be available through `theme.json`.

[2021-06-22 17:07] critterverse commented on #32849
Hmmm I'm using Twenty Twenty-One too so I'm not sure why it's showing up differently for me? Still seeing the darker version on the dark background.

Let's try it this way, Twenty Nineteen looks really clean 👍

[2021-06-22 17:13] critterverse commented on #32750
@manooweb I'm not sure whether this affects anything here or not but I went back into Figma and simplified the shapes in the icon as much as possible (I made a union selection of all the shapes and removed an inner frame).

Curious whether that makes any difference at all?

[2021-06-22 17:27] alexstine commented on #29526
@ggordon-vispero Sorry, that's my fault. This link should work.

http://gutenberg.run/32799

I will work on changes to add `role="document"` but it will take me some time.

Thanks.

[2021-06-22 17:34] youknowriad commented on #32390
I think this is fixed in #32744

[2021-06-22 17:34] #32390 closed, assigned to nobody

[2021-06-22 17:37] youknowriad commented on #31479
The template editing mode is now disabled by default. You can opt-in into it with two ways:

 - Add the theme support flag
 - Embrace the theme.json config

[2021-06-22 17:37] #31479 closed, assigned to nobody

[2021-06-22 17:41] annezazu commented on #31954
I wanted to [document some thoughts](https://wordpress.slack.com/archives/C01VACX5E2W/p1624273281470700) from @youknowriad in slack for posterity around 5.8:

[2021-06-22 17:47] critterverse commented on #32652
Not exactly a 1:1 reference but maybe we can take inspiration from what happens to an Image block when you drag and drop to replace the image (notice how the blue outline appears as soon as the dragged item enters the canvas):

https://user-images.githubusercontent.com/77359364/122971275-de99b780-d35c-11eb-9c46-111e06cb1ce4.mov

In this case, I think the outline of the empty appender block itself

[2021-06-22 18:16] joe-westcott opened #32899 "Enable customization of the “full height alignment” value in Gutenberg, possibly changing it to add a CSS class rather than inline CSS"
## What problem does this address?

At the moment, Gutenberg automatically provides content creators with a ["full height alignment" option](https://wordpress.com/support/wordpress-editor/blocks/cover-block/#full-height-alignment) for some blocks, such as the cover block.

If a content creator uses this option, then Gutenberg will insert inline CSS that sets the height of the item to 100vh. And be

[2021-06-22 18:29] ggordon-vispero commented on #29526
This works fine given the limitations mentioned in my most recent comment, the ones that will be resolved by role=document.

When editing with a screen reader, there is a command to read the current line. This is useful when working with multiline paragraphs where hearing the entire paragraph is inefficient. Reading the current line works fine when editing a Gutenberg block accept when the caret i

[2021-06-22 18:33] joe-westcott opened #32900 "Request for theme support option to enable and disable "full height alignment""
## What problem does this address?

In some cases, the ["full height alignment" option](https://wordpress.com/support/wordpress-editor/blocks/cover-block/#full-height-alignment) does not set content to fit the available height in the viewport, and/or a site's development team might want to manage theme support for alignment-related options.

For example, in some cases, the "full height alignment"

[2021-06-22 18:34] alexstine commented on #29526
@ggordon-vispero I am a very low-level contributor and couldn't answer the question. My best guess is you found a bug in writing flow. Writing flow is fairly detrimental to screen readers, so you can turn it off. At least one part of writing flow, the ability to keep your text cursor contained in one block at a time.

1. Go to Options.
2. Open Preferences.
3. Select Blocks tab.
4. Check the option

[2021-06-22 19:32] illusaen commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-06-22 19:43] walbo opened #32901 "Widget editor: Adding same image twice only saves one block"
## Description
Inserting the same image twice in the same area only saves one of the blocks. This is also true if you use the image in a cover block and the same image in a image block.

Note: This only happens on `wp-admin/widgets.php` and not in the customizer.

## Step-by-step reproduction instructions
1. Go to widget editor.
2. Insert a image block with a image.
3. Insert a new image block wit

[2021-06-22 19:52] bbertucc commented on #32828
Amazing @jasmussen this should take care of the issue 🤞

[2021-06-22 19:53] bbertucc commented on #32827
Could be @talldan ! I am using Blockbase

[2021-06-22 21:23] carlomanf commented on #32861
Thanks for testing @chandrapatel. After reading again, I think I misunderstood what your issue is about.

There are kind of two different issues here:

1. The slug can't be changed for an already existing template
2. A brand-new template can't be created with a specifically desired slug

Am I correct that you're more concerned about number 2 than number 1?

[2021-06-22 21:32] ggordon-vispero commented on #29526
Sadly, that didn’t help. Assuming after doing future research on this issue we become more confident that it’s a Gutenberg issue, how would you suggest opening an issue to get it before the right folks?

--Glen

From: Alex Stine ***@***.***>
Sent: Tuesday, June 22, 2021 1:35 PM
To: WordPress/gutenberg ***@***.***>
Cc: Glen Gordon <GGordon@Vispero.com>; Mention ***@***.***>
Subject: Re: [WordPress/

[2021-06-22 21:41] iandunn commented on #32754
Core commits:

https://core.trac.wordpress.org/changeset/51206
https://core.trac.wordpress.org/changeset/51208

[2021-06-22 21:43] guarani commented on #30562
I'm updating this sentence of the original issue to indicate that the bug **is** present on other blocks – as long as that block has text (i.e. is not empty) – see video below. Worth noting that I'm testing using RN 0.64 and iOS 14.5.

https://user-images.githubusercontent.com/1898325/123003316-08fd6c00-d381-11eb-81a3-0de6658f77b0.mov

[2021-06-22 22:14] WillPorter commented on #32599
Just created a pull request!  I hope I followed all of the protocol correctly.

Thanks and let me know!

[2021-06-22 22:17] critterverse commented on #32849
One more issue I just spotted here — it looks like the change made to the background color on the Legacy Widget block preview on the standalone editor has changed the background color on the Customizer screen as well:

![Screen Shot 2021-06-22 at 6 11 05 PM](https://user-images.githubusercontent.com/77359364/123006238-5d0a4f80-d385-11eb-86a0-32af597893eb.png)

@tellthemachines Could we make those

[2021-06-23 00:49] bosconian-dynamics commented on #30948
Related: [WPSE #385474](https://wordpress.stackexchange.com/questions/385474/custom-block-selectcontrol-works-but-equivalent-comboboxcontrol-gives-errors-w/390820#390820) - the user who posed the question had no idea of `onFilterValueChange`'s existence, let alone that it was required as the documentation presents it as optional.

The WPSE question took three months to resolve because the error as

[2021-06-23 00:58] bosconian-dynamics commented on #15732
I have started digging back into the WordPress StackExchange and more and more I'm seeing questions and issues appear then get dropped due to the lack of information in the details which are posed, often times due to obfuscated error messages.

If anyone can direct me towards what needs to be changed here I'll perform the necessary research and testing and knock out a PR this week - I'm just not s

[2021-06-23 01:05] tellthemachines commented on #32849
I've updated #32871 to make block width match the inserter width.

That's intentional, as we also needed to fix [a dark mode bug](https://core.trac.wordpress.org/ticket/53429). We're not able to have custom styles for the Customizer previews anyway, as the preview is inside an iframe and so not aware of its parent location.

[2021-06-23 01:08] marecar3 commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-06-23 01:08] tellthemachines commented on #31907
I can no longer reproduce any of these scenarios, so closing as fixed.

[2021-06-23 01:08] #31907 closed, assigned to nobody

[2021-06-23 02:18] jeremyfelt commented on #32802
FWIW, it's very nice when a project can run `phpcs --standard=WordPress-Extra` and not worry about creating a PHPCS config file. It's somewhat odd that WordPress scripts generate PHP code that does not meet WordPress Coding Standards.

I know it's difficult because of how `json2php` formats the code and that really is a nice way to do it.

If someone made a `json2WPphp` library (or similar) that f

[2021-06-23 02:43] critterverse commented on #32849
I believe this needs to be addressed somehow because it _looks_ so unintentional (IMO, this should take higher priority over a bug fix in Twenty Twenty-One dark mode because it affects all themes/colors).

I think the theme styles could either be fully applied or fully removed, but the partial application feels problematic 😅

I made this quickly a while ago but perhaps introducing theme styles int

[2021-06-23 03:12] ddryo commented on #32695
@noisysocks
Thank you! I'll check it out later!

[2021-06-23 03:21] kevin940726 commented on #32652
@critterverse Thanks for looking into this! Do you mean something like this?

https://user-images.githubusercontent.com/7753001/123029710-1d3e7900-d414-11eb-9ad9-04eafbbea602.mp4

The blue background of the appender looks a little bit weird to me 😅, that's probably because of my styling though.

Would just showing the outline of the panel when dragging into it be enough? I think I could make it wo

[2021-06-23 03:28] tellthemachines commented on #32849
The dark mode issue is a usability issue: preview contents are not legible at all when the background color is set to white. Whereas having the preview show the theme background color doesn't affect legibility, it just arguably looks a bit weird.

Also, let's bear in mind that those previews weren't unstyled before this change, they just had their background colour hardcoded to white. The font fam

[2021-06-23 03:44] tellthemachines commented on #32708
Thanks for creating this issue @sarahfg ! This behaviour does match the post/page editor, though it's far from consensual that it is correct and there are a few issues open about it: #28915 and #26715. As the widgets editor behaviour doesn't vary in any way I'll go ahead and close this as a duplicate of the issues mentioned above.

[2021-06-23 03:44] #32708 closed, assigned to nobody

[2021-06-23 03:47] idpokute commented on #32640
@talldan Thank you.

[2021-06-23 03:47] #32640 closed, assigned to nobody

[2021-06-23 03:54] #32695 closed, assigned to nobody

[2021-06-23 03:55] noisysocks commented on #32629
Ah, I see! The problem is that the Legacy Widget block preview renders using the **site's active theme** and not the theme being previewed in the current changeset. Thanks for clarifying.

[2021-06-23 03:58] noisysocks commented on #32823
I'm inclined to close this and have us work on implementing https://github.com/WordPress/gutenberg/issues/32311 instead. Thoughts?

[2021-06-23 03:59] paaljoachim commented on #15732
Hey @bosconian-dynamics Adam

What you can do to get additional attention to the issue is bring it up during the Open Floor portion of a Core Editor Meeting on Slack, or just post the above message anytime in the Core Editor channel asking for advice on creating the PR.
Hopefully that may help, or one just keeps asking until someone replies...

[2021-06-23 04:08] noisysocks commented on #32823
Please re-open if you disagree 😀

[2021-06-23 04:08] noisysocks commented on #32311
Let's take care to address the bug described in https://github.com/WordPress/gutenberg/issues/32823 while we're at it.

[2021-06-23 04:14] noisysocks commented on #32901
Thanks for the report. This worked OK for me when I tested latest Core and Gutenberg `trunk`.

Could you please test using beta 3 and report back?

Also, could you please clarify which method you're using to add the image? Are you pressing _Media Library_ or _Upload_?

[2021-06-23 04:46] noisysocks commented on #26154
At this stage I'm comfortable with releasing the widgets editor in 5.8 as **opt-out** because:

- There are no open reports of major backwards compatibility issues, particularly with the Legacy Widget block.
- All major bugs (Priority 1 and Priority 2 in the [project board](https://github.com/WordPress/gutenberg/projects/27)) have been fixed as of WP 5.8 beta 3.
- We have 4-6 developers working on

[2021-06-23 04:46] #26154 closed

[2021-06-23 05:02] chandrapatel commented on #32861
Hi @carlomanf Yes, that's correct. I'm also concerned about number 1 issue.

[2021-06-23 05:16] paaljoachim commented on #32586
I just asked in the Slack accessibility channel. Regarding icon vs text. I just needed some obvious feedback.
As text says right there what is being done. One does not need to guess. Having an icon that is not a common icon the user has to make a guess the meaning of the icon. In addition WP 5.6.2 a Reusable block toolbar looked like this:

<img width="345" alt="Screen Shot 2021-06-23 at 06 59 32"

[2021-06-23 05:19] alaczek opened #32907 "Columns block: Background color does not stretch full-height with vertical alignment set"
## Description
Background color does not stretch full column height with a vertical alignment set.

## Step-by-step reproduction instructions
1. Open the editor and insert the Columns block. Pick the two-column 50-50 layout.
2. In the first column insert an image. In the second column insert a heading & paragraph.
3. Set the background color AND vertical alignment of the second column.
4. Note the

[2021-06-23 05:37] lifeact commented on #24874
Add gutter, margin, and padding controls to the any block

[2021-06-23 05:52] hideokamoto commented on #32784
Is it possible to inject value like this?

[code]

Ref: https://docs.docker.com/compose/environment-variables/#set-environment-variables-with-docker-compose-run

[2021-06-23 06:20] inc2734 commented on #32805
I also sympathize with this issue.

When we create a widget by `extends WP_Widget`, we will probably use the `widget()` method to define what the widget will display. In this case, the contents of `$args` are different between the front page and the admin page.

### front

[code]

### admin widget screen

[code]

In the admin panel, `name`,  `id`, `description`, `class`, `before_sidebar`, `after_s

[2021-06-23 06:47] walbo commented on #32901
Sure. Seeing the same bug in beta 3.
Uploading the image in the first block and selecting the image from the media lib in the second block.

Made a short screen capture:

![widget-error](https://user-images.githubusercontent.com/1415747/123048785-13f6e180-d3ff-11eb-9d7f-f4afbb06741f.gif)

[2021-06-23 06:50] jasmussen commented on #32586
The icon here is intentional to make sure the block toolbar scales to mobile devices. German adds 20% of width to text labels, and when showing the title of the block we have to accommodate that. So it's an intentional tradeoff that converting the reusable block needs less prominence than the reusable block title. In light of separate discussions about locking the content and adding high friction

[2021-06-23 07:11] gziolo commented on #32802
`json2php` was the only solid option available at the time, so we can switch to a better alternative as soon as it is available. We could also fork the library and adjust it to meet our needs.

[2021-06-23 07:26] optimizewp commented on #32789
Reported issue is still present, same error, also with WordPress 5.8 beta 3 just released.

[2021-06-23 07:43] thewebinarts commented on #32099
Hello everyone,
Yeah, I think this will be great and quicker for the developers.

[2021-06-23 07:43] thewebinarts commented on #32099
Hello everyone,
Yeah, I think this will be great and quicker for the developers.

[2021-06-23 07:43] thewebinarts commented on #32099
Hello everyone,
Yeah, I think this will be great and quicker for the developers.

[2021-06-23 07:43] kevin940726 opened #32908 "[Widgets screen] Undo requires two steps when moving to another widget area"
## Description

After moving a block from a widget area to another, it requires pressing the undo button twice for the block to restore to the original widget area.

1. The first undo removes the moved block in the target widget area.
2. The second undo adds back the block to the source widget area.

## Step-by-step reproduction instructions

1. Go to Appearance -> Widgets.
2. Move a block from on

[2021-06-23 07:43] thewebinarts commented on #32099
Hello everyone,
Yeah, I think this will be great and quicker for the developers.

[2021-06-23 07:44] thewebinarts commented on #32099
Hello everyone,
Yeah, I think this will be great and quicker for the developers.

[2021-06-23 07:50] getsource commented on #32099
(I removed a few accidental duplicate comments per request of @thewebinarts)

[2021-06-23 07:53] ddryo commented on #32099
@paaljoachim

I followed your implementation and implemented the screen.
Please give me a review.

https://github.com/WordPress/gutenberg/pull/32910

[2021-06-23 08:21] akiya64 commented on #22259
I was re-attacked this issue in WordCamp Japan 2021 contributer day.
I tested in WordPress 5.7.2 and Gutenberg latest trunk again, **this problem is not reploduce**.

I found PR, [Fix unexpected autosave for published posts by youknowriad · Pull Request #27942](https://github.com/WordPress/gutenberg/pull/27942) in Gutenberg 9.8.0 release note.
Maybe this issue was fixed by that PR.

Related issue

[2021-06-23 08:21] #22259 closed

[2021-06-23 08:22] chiilog commented on #22890
I'm working on FullscreenMode component.

[2021-06-23 08:23] davilera opened #32911 "Babel Runtime Regenerator is undefined (WordPress 5.8-beta2)"
## Description
In one of my plugins, I'm using [React Select Async Paginate](https://github.com/vtaits/react-select-async-paginate/). The component works fine in WordPress 5.7 and earlier versions. However, while testing WordPress 5.8-beta2, I get the following error:

```Uncaught TypeError: _babel_runtime_regenerator__WEBPACK_IMPORTED_MODULE_0___default.a is undefined```

## Step-by-step reproduc

[2021-06-23 08:23] fluiddot opened #32912 "Unsupported Block: Non-functional question mark button (iOS only)"
## Description

When doing the [TC001 test case of Unsupported Block Editing](https://github.com/wordpress-mobile/test-cases/blob/trunk/test-cases/gutenberg/unsupported-block-editing.md#tc001), I noticed a question mark button located at the lower right corner in the unsupported block editor that doesn't provide any functionality on iOS, after tapping on it, it does nothing. However, on Android, t

[2021-06-23 08:32] fluiddot opened #32914 "Unsupported Block: Visual glitch when zooming in/out the content (iOS only)"
## Description

When doing the [TC001 test case of Unsupported Block Editing](https://github.com/wordpress-mobile/test-cases/blob/trunk/test-cases/gutenberg/unsupported-block-editing.md#tc001) on WordPress iOS, I noticed that zooming in/out the unsupported block editor content produces a visual glitch (see attached video capture).

**NOTE:** This is not a regression because I managed to reproduce

[2021-06-23 08:37] talldan commented on #32908
This feature uses the `moveBlocksToPosition` action from the block editor package, so there might be an underlying issue that affects more than just the Move to Widget Area.

[2021-06-23 08:55] thewebinarts commented on #32099
Like this new button, more quick and easy for the UI experience.

[2021-06-23 08:56] nendeb commented on #32805
Thanks for the explanation.
But what I'm hoping for is at the widget preview.

The Legacy Widget Preview will be loaded in an iframe for each widget area, as shown in the following URL

`ttp://exsample/wp-admin/widgets.php?legacy-widget-preview[idBase]=.... &legacy-widget-preview[instance][encoded]=...`

For example, if the widget area is in the sidebar and footer, the Legacy Widget Preview has th

[2021-06-23 09:00] kevin940726 commented on #32908
This is also an issue in the customizer as well, but likely for totally different reasons since that the undo/redo implementation is also totally different.

The issue in customizer is that each widget area has its own the undo/redo history, so undoing in one widget area doesn't affect the other.

We could either:

1. Unify them together into a single history instance
2. Special case the move to f

[2021-06-23 09:04] kevin940726 commented on #32908
It works as expected in the post editor when moving a block from a Column inner blocks to another though. There might be something else we're missing 🤔.

[2021-06-23 09:29] Jugibur opened #32916 ""This block contains unexpected or invalid content" => although same content / plus replacing tag"
## Description
Gutenberg shows the message "This block contains unexpected or invalid content" right after saving the post (and reload) without changing the content of this block.
It is a "core/heading" block **h3** and after try to resolve the block by Gutenberg it changes it to **h2**.

This issue maybe encountered, because I'm adding the default block class name the "core/heading" and some bloc

[2021-06-23 09:55] zdenys opened #32917 "Raw handling: Pasting from Google Doc doesn't recognize Markdown formatted code"
## Description
Markdown formatting is not recognized when copied from a Google Document and pasted into the Editor. This applies to inline code and multiline code (confirmed from my testing so far), but could be actually all of the Markdown formatting. Possibly related issue: https://github.com/WordPress/gutenberg/issues/29833

## Step-by-step reproduction instructions
1. Copy the following text a

[2021-06-23 10:13] Nikschavan commented on #32784
I could install the extension by setting the env variable like above by directly accessing `docker-compose`

[code]

But the same did not work when trying the `wp-env` command wrapper -

[code]

Notice it misses the `-e` when actually running the command. I debugged and this is not received by [the run command](https://github.com/WordPress/gutenberg/blob/b332c75bd291b3bd2087b7a0d50ab172a5803970/pa

[2021-06-23 10:20] #32891 closed, assigned to jasmussen

[2021-06-23 10:26] kevin940726 commented on #32024
This is actually a bug in core, so I'm not sure why I didn't post it there 😅.

Yes, we can solve it by patching the test plugin, but I'm afraid that the plugin exists for a reason? I wonder if it's an accessibility issue if we don't support it. Maybe some browsers or extensions will automatically register similar override as well? @tellthemachines might have some insights that I'm not aware of 🙇‍♂

[2021-06-23 11:11] youknowriad commented on #32754
Can we apply the same changes in the Gutenberg repository as well (for old WP versions)

[2021-06-23 11:13] torounit commented on #32789
@optimizewp get any PHP warnings when I access wp-admin?

[2021-06-23 11:13] Copons commented on #29950
A recent WordPress.com call for testing also surfaced some confusion around the two placeholder buttons:

<img width="281" alt="Screenshot 2021-06-23 at 12 04 16" src="https://user-images.githubusercontent.com/2070010/123086360-41518880-d41b-11eb-9f0d-5642ce0047e5.png">

"Choose existing" opens a popover listing both user-created custom template parts, and theme-provided ones.
"New template part"

[2021-06-23 11:25] torounit commented on #32789
I was able to reproduce this problem.

If I install https://github.com/WordPress/gutenberg/releases/download/v10.9.0-rc.1/gutenberg.zip in an environment where error_reporting is enabled, I get the following error .

[code]

[code]

Isn't this error message preventing the JavaScript from loading properly?

Tested on: Local by Flyweel
OS: Windows 10
Browser: edge / chorme

[2021-06-23 11:29] torounit commented on #32789
@optimizewp

Does this problem still occur with error_reporting disabled?

I think you can try by setting WP_DEBUG to false and putting `ini_set( 'display_errors', 0 );` in wp-config.php.

[2021-06-23 11:37] mtias commented on #32880
There was some recent work done here: https://github.com/WordPress/gutenberg/pull/31896

cc @ellatrix

[2021-06-23 11:51] jeherve opened #32920 "Post Terms Block variations: incorrect information in block sidebar"
## Description

When registering a custom variation of the Post Terms Block using the block variations API, the title, description, and icon I provide are not used everywhere in the editor UI.

## Step-by-step reproduction instructions

1. Start from a site that uses a custom taxonomy such as `trakt_show` in my example below.
2. With the latest version of WP and Gutenberg, edit one of your site's

[2021-06-23 12:26] oandregal commented on #32779
With regards to how themes can provide data to configure the editor, the answer is `theme.json` (and `useSetting` to access that data in the corresponding block edit function). Technically, no change is required: for new settings to be available through `useSetting`, they only need to be added to the [allowed list](https://github.com/WordPress/gutenberg/blob/trunk/lib/class-wp-theme-json-gutenberg

[2021-06-23 12:35] critterverse commented on #32599
Awesome, thanks @WillPorter! Can you link to your PR? I'd be happy to test 😁

By the way, one cool thing I learned recently is that if you include "Fixes #32599" in the description of the PR, it will automatically link it to this issue and force the original issue to auto-close if the PR is merged (more info [here](https://docs.github.com/en/issues/tracking-your-work-with-issues/creating-issues/li

[2021-06-23 12:59] jeherve opened #32924 "Post Terms Block: automatically add all public taxonomies as variations"
Somewhat related to #32920

If themes or plugins register custom public taxonomies to be used to display custom information on a site's frontend, I think it would make sense to offer that information via the Post Terms block, so one can use the block in the site editor to inject that information in their templates.

Plugins can register those custom variations on their end as well, but maybe offer

[2021-06-23 13:16] dnnsjsk commented on #19851
Yikes just came across this.

Any way this can be fixed in the meantime?

[2021-06-23 13:18] chiilog commented on #22890
@youknowriad  I've done `FullscreenMode` in #32925 :)

[2021-06-23 13:31] adamziel commented on #32779
This is a tough one, a denylist would allow unwanted blocks in sooner or later for sure, but an allowlist would effectively exclude all the third-party blocks from all the plugins out there. Both seem to make sense in certain use cases, e.g.:

* I only want menu items inside of my menus, therefore I would use an allowlist
* My theme generally looks well with different kinds of rich content, but it

[2021-06-23 13:49] dnnsjsk commented on #19851
Hey, this filter seems to work for me. My conditions are a bit different, but you can probably adjust it to your needs.
[code]

[2021-06-23 13:50] dnnsjsk commented on #12753
For anyone looking for a solution for this, check my other comment out:
https://github.com/WordPress/gutenberg/issues/19851#issuecomment-866852934

[2021-06-23 14:18] optimizewp commented on #32789
@torounit

yeah, I had `WP_DEBUG` set to true, with `define( 'WP_DEBUG_DISPLAY', true );` too. And the issue you just described, already reported here https://github.com/WordPress/gutenberg/issues/32785 is still actual on Gutenberg `10.9.0 RC1`, so that was breaking `Site Editor`.

Setting  `define( 'WP_DEBUG_DISPLAY', false );` makes `Site Editor` working back for me too.

Good catch! Thanks for

[2021-06-23 14:31] getdave commented on #32779
Quick note to say FSE outreach is exploring Theme JSON API

https://make.wordpress.org/test/2021/06/09/upcoming-fse-outreach-program-schedule-june-july/

[2021-06-23 14:36] Nikschavan opened #32929 "wp-env: run cli command misses the options passed with hyphens"
## Description
Any `wp-env run cli` commands with `--` flags ignore the extra flags, For eg `wp plugin install <plugin> --activate` will ignore the activate flag -

[code]

Also tried passing `--` separately which did at first recognise the --activate flag but does not actually run it -

[code]

## Step-by-step reproduction instructions

In https://github.com/WordPress/gutenberg/issues/32784#issue

[2021-06-23 15:35] WillPorter commented on #32599
https://github.com/WordPress/gutenberg/pull/32903

Thanks!

[2021-06-23 15:41] desrosj opened #32931 "Block inserter is empty when a sidebar contains no widgets"
## Description
When a sidebar has no widgets, clicking on the block inserter shows an empty list. This only happens on the Widgets screen in the admin area. In the Customizer, the behavior does not happen.

This was originally reported in [Trac-53460](https://core.trac.wordpress.org/ticket/53460).

## Step-by-step reproduction instructions
1. Open Widgets screen in the admin.
2. Open an empty widg

[2021-06-23 15:50] desrosj opened #32932 "Focus outline for sidebar does not update when expanded"
## Description
When a sidebar is closed and then expanded, the focus outline does not expand with the sidebar.

## Step-by-step reproduction instructions
1. Go to the Widgets admin screen.
2. Click on a sidebar (not a block within the sidebar) and observe the outline around the entire sidebar.
3. Collapse the sidebar.
4. Expand the sidebar.

## Expected behaviour
The focus outline should expand wi

[2021-06-23 16:07] gwwar commented on #30803
Background color flashing should be fixed by https://github.com/WordPress/gutenberg/pull/32747

I'm working on the flickering text fix in https://github.com/WordPress/gutenberg/pull/32824

[2021-06-23 16:11] desrosj opened #32933 "Widget area highlight disappears when opening the block inserter on the Widgets screen"
## Description
When the block inserter is opened on the widget screen, it's not clear where the block will be inserted. It seems that the sidebar most recently interacted with is used when inserting. This becomes especially confusing when the inserter is opened after interacting with another element on the screen (such as clicking Update, or adjusting settings), or when there are multiple widget a

[2021-06-23 17:34] mkaz commented on #32365
Published @gziolo [Block API Enhancements](https://make.wordpress.org/core/2021/06/23/block-api-enhancements-in-wordpress-5-8/) and marked the item above with link to the dev note.

[2021-06-23 18:17] optimizewp commented on #32789
`Gutenberg 10.9.0` has just been released, tested in the same install, with WP 5.8-beta3.

Previously reported warning has been fixed, now if we enable `error_reporting` we have this new one:

[code]

displaying on `Site Editor` loading, while you can also see the wp-admin toolbar and menu flashing for a second, but this does not prevent the editor to fully load, so everything works fine and I can

[2021-06-23 18:17] SiobhyB opened #32937 "Mobile: Broken Undo/Redo Behaviour after Setting Featured Image via Image Block"
## Description

The undo/redo functionality doesn't work as expected after setting a featured image via the image block.

After setting a featured image via the block and then tapping undo, it appears as though the action has successfullye reverted, as the **Featured** banner is removed from the block. However, the image still remains as the post's featured image.

## Step-by-step reproduction ins

[2021-06-23 18:49] nekomajin commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-06-23 18:53] critterverse commented on #32652
Nice! I really like your suggestions @kevin940726:

✅ Only outlining the panel
✅ Making the drop zone the entire panel

Expanding to all widget areas – The only thing I'm wondering about this one is that it's nice to be able to choose the position with the blue line appender when there are existing blocks there.

~One note is that I'm not sure you should see the outline on the panel that the block

[2021-06-23 19:14] azaozz commented on #32689
@getdave Good question :)

Guessing it may be something to do with Docker, perhaps (assuming you're running wpenv)? Looking around a bit, there are few reports about cURL needing some extra settings or steps to connect to the web server in a Docker image. Thinking it's worth investigating as fix(es) for wpenv.

[2021-06-23 19:33] justintadlock opened #32939 "Dynamic Template Parts"
Because block templates are HTML, the only truly dynamic pieces are the blocks themselves.  However, there are many instances where theme authors need to change output based on some context.  The easiest and one of the most-used examples of this is template parts.

Traditionally, to avoid repeating code, theme authors would use `get_template_part()` and some variable to create a bit of a hierarchi

[2021-06-23 19:53] Sandstromer opened #32941 "theme.json - defining styles with variable no longer shows selection in global styles panel"
## Description

Previously prior to 10.9 one could define styles in the theme.json with variables and the selection would be shown as checked in the global styles panel.

Now with 10.9 the style must be explicitly defined for the selection to be shown in the global styles panel.

An example would be defining the background color like so (this did previously show the white color checked):
[code]

N

[2021-06-23 20:52] timmyc commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-06-23 21:44] TeamDNK opened #32943 "Adding Format Button to the Toolbar"
## Description
Registering a format button with a [whitelisted](https://github.com/WordPress/gutenberg/blob/3da717b8d0ac7d7821fc6d0475695ccf3ae2829f/packages/block-editor/src/components/rich-text/format-toolbar/index.js#L23) name allows for filling the ToolbarControls slot. Is this intended and could this be used to insert a format that would be heavily used on a specific post type?

## Step-by-st

[2021-06-23 22:20] paaljoachim commented on #32833
Adding in this direct message comment between Channing @critterverse and myself.

"I was still leaning towards this implementation for adding the Discard functionality into the multi-entity saving flow — not sure how close we are to having a PR for that but feels like it would work really well in combination with the Save button in the toolbar: https://github.com/WordPress/gutenberg/issues/31456#i

[2021-06-23 23:29] #26221 closed

[2021-06-24 02:04] tellyworth commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-06-24 02:23] torounit commented on #32789
@optimizewp

Yes, I agree with you. I should only hide errors when I am sure that hiding them is causing the problem.

Thank you for taking the time to this issue.

[2021-06-24 02:23] #32789 closed, assigned to nobody

[2021-06-24 03:23] #32849 closed, assigned to tellthemachines

[2021-06-24 03:24] #32769 closed, assigned to tellthemachines

[2021-06-24 03:33] #27198 closed

[2021-06-24 04:43] noisysocks commented on #32901
Thanks for confirming!

[2021-06-24 04:49] tellthemachines commented on #32024
We should definitely support animations being turned off! Some users have them disabled at a system level for a11y reasons.

I'm not sure why we're using that plugin for the e2e tests though. Might be a matter of speed? Not having to wait for animations to finish?

[2021-06-24 05:15] noisysocks commented on #32841
Hey thanks for the report. Do you have a link to the GDPR cookie consent plugin you're using? I'm not sure if this can be fixed in core. It's possible that the plugin needs to be changed to not display the banner if `defined( 'IFRAME_REQUEST' )` is true.

[2021-06-24 05:34] noisysocks commented on #32805
Hi @nendeb. A tricky consideration here is that some of the blocks/widgets won't have an ID until the user presses _Update_. This is because IDs are computed by the server. Could an alternative be for us to add the sidebar's ID to the Widget Area container so that you can write CSS rules which style blocks differently depending on which Widget Area container they're in?

[code]

[2021-06-24 06:22] Jorgeural commented on #19216
This issue should be closed as @jasmussen says in the PR

![image](https://user-images.githubusercontent.com/16987747/123212608-4d922000-d4c5-11eb-8656-49cb2d00b52f.png)

[2021-06-24 06:26] jasmussen commented on #19216
Since it's so easy to reopen an issue if closing was in error, I'll close this one for now. Thanks Jorge.

[2021-06-24 06:26] #19216 closed

[2021-06-24 06:27] noisysocks commented on #32648
This worked in my testing. It might be an issue with your server. Do you see anything in the web error logs?

[2021-06-24 07:05] shimotmk opened #32946 "The class when placing a block is not the same as the class when changing the style and then changing it back."
The class when placing a block is not the same as the class when changing the style and then changing it back.

## Description

The class when placing a block is not the same as the class when changing the style and then changing it back.

For example, in the case of a Quote block, it will look like this

■ The moment the block is placed (Default)
`wp-block-quote block-editor-block-list__block wp-

[2021-06-24 07:41] SeanDS commented on #19756
@makc that's an interesting idea, thanks. Not as good as having full control over the DOM but might work until support for this is added.

[2021-06-24 08:25] johnbillion commented on #24584
Reported again on Trac https://core.trac.wordpress.org/ticket/53496

[2021-06-24 08:40] paaljoachim commented on #32682
@ItsJonQ and @nosolosw I think you both would like to know about this issue.

[2021-06-24 08:46] kevin940726 commented on #32652
I was working on this before I saw you scratched that 😆. Just being curious, why did you change your mind?

Agreed. However, this is probably a bug in the editor package itself though. See #32880 for more wonky blue line indicator interactions 😝. (Also could use some of your amazing design ideas on that more general issue as well!)

[2021-06-24 08:47] hawkmusician opened #32949 "Image block error 'limitExceeded' (Gutenberg 10.9.0 & FSE)"
## Description
When adding or modifying the image block (or any custom block using media-view.js) the block encounters an error and cannot be used. This only happens in FSE.

## Step-by-step reproduction instructions

1. Go to FSE
2. Add an image block or gallery block
3. Directly encounter the error.

## Screenshots or screen recording

<img width="604" alt="Screenshot 2021-06-24 at 10 28 25" src

[2021-06-24 08:56] javierarce commented on #32638
It is also unclear why this is happening, but I don't think it's a technical decision because some versions (like Offset and Large Title) showcase more than one post by default.

Maybe the idea was to show an initial default that is not very tall? In any case, I think it would be better to increase the default number of posts in that version to something like 3 (so the preview is not too tall, but

[2021-06-24 09:07] javierarce commented on #32638
Regarding this feedback:

That is something I've also found in my initial exploration of the Query Block and I find it puzzling: if a user clicks on "Start Blank" and then selects one of the four available variations (`Title & Date`, `Title & Excerpt`, `Title, Date, & Excerpt` or `Image, Date, & Title`), then there's no way to crease or decrease the number of items in the block or change the offse

[2021-06-24 09:25] #32756 closed, assigned to getdave

[2021-06-24 09:26] thisissandip commented on #32901
PR added: https://github.com/WordPress/gutenberg/pull/32951

[2021-06-24 09:27] getdave opened #32952 "Enable Site, Post, Query, Navigation, and Reusable Blocks in the Widgets Editor"
## What problem does this address?

In https://github.com/WordPress/gutenberg/pull/32761 we disabled all "entity" blocks in the Widgets Editor. This was because they didn't work as expected and required additional refinement which wasn't possible prior to 5.8.

## What is your proposed solution?

Post 5.8 let's look at how we can enable all these blocks.

[2021-06-24 09:27] getdave commented on #32756
I've raised a followup in https://github.com/WordPress/gutenberg/issues/32952 to track the need to reinstate these blocks in future.

[2021-06-24 09:40] #32837 closed, assigned to nobody

[2021-06-24 10:21] Ranjeet3131 opened #32954 "Post grid title color & excerpt color issue"
In Gutenberg post grid block title color and excerpt color are not working...

[2021-06-24 11:13] spacedmonkey opened #32955 "Styling issues with legacy widget form."
## Description
Styling of legacy widget is off as core CSS styles are not applied. Take this example from the [web stories](https://wordpress.org/plugins/web-stories/) plugin

<img width="507" alt="Screenshot 2021-06-24 at 11 29 08" src="https://user-images.githubusercontent.com/237508/123253003-d8cede00-d4e4-11eb-9b02-9cc16fadb709.png">

Compared the original view.

<img width="355" alt="Screensh

[2021-06-24 11:28] spacedmonkey commented on #32955
<img width="506" alt="Screenshot 2021-06-24 at 12 26 37" src="https://user-images.githubusercontent.com/237508/123255375-ad012780-d4e7-11eb-9aa8-3b5889fd3bdc.png">
Another example from polylang plugin

[2021-06-24 12:01] davidperezgar commented on #6064
Hello, that worked for me, but now, I can't define width in a post type. I use:

[code]

But it seems that is not working for post types...

[2021-06-24 13:37] anyway commented on #8383
@Mishkamshka thank you so much... this saved me my afernoon!

[2021-06-24 13:45] Mamaduka commented on #32929
It might be related to #30466.

[2021-06-24 13:48] tobifjellner commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-06-24 14:06] gziolo commented on #32911
It should be fixed now that WordPress 5.8 Beta 3 is out and contains a fix that ensures that `regenerator-runtime` is present.
Related Tract ticket: https://core.trac.wordpress.org/ticket/52941
Related commit: https://core.trac.wordpress.org/changeset/51212

We had confirmations from a few popular plugins that it resolves the same issue they encountered: Yoast, Jetpack, WooCommerce.

You shouldn't

[2021-06-24 14:07] #32911 closed, assigned to nobody

[2021-06-24 14:09] adamziel opened #32960 "Widget Editor: Function-based widgets don't render and don't save"
## Description
The widgets editor doesn't play nicely with a function-based marquee widget. Presumably, this is a problem also for other function-based ("reference") widgets.

## Step-by-step reproduction instructions

1. Add the [marquee widget](https://gist.github.com/adamziel/526436b4cc9bc82a7221c77e00137ae1) to your WP installation
2. Go to the widgets editor and add marquee
3. Try to save the

[2021-06-24 14:49] carolinan opened #32962 "Template editing: When a post or page has no title, the edit (title) button has no visible text"
## Description

When you create a new template for a post that has no title, the "edit (title)" button in the toolbar
is printed, but it has no visible text:
`<button type="button" data-toolbar-item="true" class="components-button edit-post-template-post-title is-link" aria-label="Edit "></button>`

## Step-by-step reproduction instructions

1. With template editing enabled, create a new post. Do

[2021-06-24 14:53] thisissandip commented on #32901
The issue occurs with the File and Cover block too

[2021-06-24 15:15] adamziel commented on #32960
Once I opted out of the block-based widgets editor with `add_filter( 'use_widgets_block_editor', '__return_false' );`, I saw the marquee widget in the "Inactive" section of the old widgets editor. From that moment on, it also started showing up in the new editor (`wp_get_sidebars_widgets()` started returning `marquee_greeting` when it wouldn't previously). There must be a write operation somewhere

[2021-06-24 15:23] getdave commented on #32960
What is a "function based widget"? Looking at https://gist.github.com/adamziel/526436b4cc9bc82a7221c77e00137ae1 I assume it's literally a Widget that is created using a function rather than a `class`?

[2021-06-24 15:41] illusaen commented on #31913
I am the author of all Gutenberg commits from wendy.chen@automattic.com.

[2021-06-24 15:43] fluiddot opened #32964 "Error log related to `react-native-gesture-handler` when executing the tests"
## Description

We're getting the following error log when executing the tests:
[code]

I'd like to note that the error doesn't make the tests fail but still, this is something that we should address.

## Step-by-step reproduction instructions

1. Run the command: `npm run native test`
2. Observe that the mentioned log is displayed in the console

## Expected behaviour

Tests shouldn't log any err

[2021-06-24 15:45] sarayourfriend commented on #28399
Closing this issue in favor of the bigger tracking issue at https://github.com/WordPress/gutenberg/issues/30503

All the remaining components from this issue have been moved over to that tracking issue under the "Finish the FontSizePicker integration" heading

[2021-06-24 15:45] #28399 closed

[2021-06-24 15:47] adamziel commented on #32960
@getdave you got it right! There's a bunch of logic specific to this kind of widgets in WordPress core.

After resetting my wp-env, the marquee greetings showed up in the "Available widgets" section of the legacy editor, not in the "inactive widgets" section 🤔

<img width="523" alt="Zrzut ekranu 2021-06-24 o 17 46 20" src="https://user-images.githubusercontent.com/205419/123293250-20209300-d514-11

[2021-06-24 15:50] adamziel commented on #32960
One problem is how the marquee widget triggers a request to `/wp/v2/widgets/marquee_greeting` where we assume that `is_null( $sidebar_id )` means there is no widget with a given ID and return 404:

https://github.com/WordPress/gutenberg/blob/77331534b2dee915667519b9252db4f9a4d08bae/lib/class-wp-rest-widgets-controller.php#L155-L161

This assumption holds for widgets implemented using classes

[2021-06-24 15:53] getdave commented on #24949
Looks like this was fixed in https://github.com/WordPress/wordpress-develop/pull/1382.

More details in Trac.

https://core.trac.wordpress.org/ticket/53424#ticket

Can we close this one out now @noisysocks?

[2021-06-24 15:53] adamziel commented on #32901
IIRC we filter out the widgets with duplicate IDs to prevent adding more than one instance of a widget implemented using a function (e.g. [marquee_greetings](https://gist.github.com/adamziel/526436b4cc9bc82a7221c77e00137ae1)). WordPress doesn't support having more than one instance of these, if one tries to save multiple `marquee_greetings` in different sidebars you will run into undefined behavio

[2021-06-24 16:35] mchowning commented on #31913
👋  @ArnaudBan , @DOUARA , @adamsilverstein , @mrmadhat , @DevinWalker , @draganescu , @glendaviesnz , @richtabor , @javidalkaruzi , @jaswrks , @sirjonathan, @derweili , @leutrimhusaj , @intronic , @pkvillanueva , @pratikkry , @pstonier , @yarnoj, @MehtaRiddhi, @pavlo-tk, @nicolad, @noisysocks , @vladanost , @vtrpldn !

Could you all confirm whether you are the author of the commits from the email

[2021-06-24 17:01] bobbingwide commented on #32949
Is this the only message you saw? My Site Logo block crashed in the Site Editor and I got many other messages after this one.

[2021-06-24 17:26] subhaze opened #32966 "[core/block-editor] Breaking Change introduced in getSettings (styles property removed)"
## Description

It appears that styles was removed from the `core/block-editor` settings, however, there was no deprecation warning or documentation update (docs and type definitions still state that settings should exist).

Line of code that appears to remove it. https://github.com/WordPress/gutenberg/blame/4834fad30e39e47d71a93e2e08d31b3b856711e1/packages/edit-post/src/editor.js#L112

## Expecte

[2021-06-24 17:30] spacedmonkey commented on #32648
@noisysocks Did you test in multisite? Super admin are only in multisite.

[2021-06-24 18:23] #26320 closed

[2021-06-24 18:24] Mamaduka commented on #31668
Fixed via #29710.

[2021-06-24 18:24] #31668 closed, assigned to Mamaduka

[2021-06-24 18:58] derweili commented on #31913
@mchowning yes I'm the author of jw@werbeagenten.de and werbeagenten@werbeagntensmbp.fritz.box

[2021-06-24 19:06] dreamwhisper opened #32968 "Widget Editor: Unable to empty widget areas in customizer"
## Description

Widget areas can't be emptied in the customizer.

## Step-by-step reproduction instructions

Please list the steps needed to reproduce the bug. For example:
1. Go to the customizer.
2. Empty a widget area that already had widgets in it and click update.
3. View the front end.
4. Note the empty widget area.

## Expected behaviour

Widget areas can be emptied from the customizer as t

[2021-06-24 19:23] bph commented on #28560
seems to be a non-issue now...

[2021-06-24 19:23] #28560 closed

[2021-06-24 19:38] dreamwhisper opened #32969 "Widget Editor: Legacy Widget container does not contain floated content"
## Description

In both the customizer and the widgets screen, the `wp-block-legacy-widget__edit-form` div does not contain forms with floated elements.

## Step-by-step reproduction instructions

Please list the steps needed to reproduce the bug. For example:
1. [Get Genesis](https://www.studiopress.com/get-genesis/) & [Genesis Sample](https://github.com/studiopress/genesis-sample)
2. Go to Appea

[2021-06-24 19:40] leutrimhusaj commented on #31913
I am the author of all Gutenberg commits from leutrim.husaj@cm4all.com

[2021-06-24 20:01] oglekler opened #32970 "Duplication of HTML anchors though usage of Duplicate option"
## Description
If the Duplicate tool is used:

![2021-06-24_22-57-08](https://user-images.githubusercontent.com/16874687/123324560-3c81f700-d537-11eb-9e94-4c9c45fda77a.png)

it duplicated all including the HTML anchor:

![2021-06-24_22-54-36](https://user-images.githubusercontent.com/16874687/123324610-4d326d00-d537-11eb-8540-767af2ad32dc.png)

## Expected behaviour
The duplicate function should r

[2021-06-24 20:02] thisissandip commented on #32870
PR added: https://github.com/WordPress/gutenberg/pull/32971

[2021-06-24 20:14] oglekler opened #32972 "Duotone doesn't work with Media & Text block"
## Description
Duotone works with Image block but with Media & Text block it isn't working.

## Expected behaviour
Duotone is supposed to work with all images (at least JPG and PNG).

## Actual behaviour
![2021-06-24_23-11-56](https://user-images.githubusercontent.com/16874687/123326273-545a7a80-d539-11eb-892b-748cb601998f.png)

## WordPress information
- WordPress version: including 5.8 Beta 3

[2021-06-24 20:21] johnstonphilip commented on #26154
@draganescu The experience of the block editor in the customizer being "revolutionary" is definitely subjective. The fact that the block-editor-sidebar (aka inspector) is completely hidden behind multiple clicks, and first-class/important block-controls live in that area, makes the block editing experience in the customizer more difficult and completely unlike the rest of WordPress, creating dispa

[2021-06-24 20:25] #32870 closed, assigned to thisissandip

[2021-06-24 20:48] skorasaurus commented on #30026
can this be closed since you mentioned in https://github.com/WordPress/gutenberg/pull/30033#issuecomment-805796254 that it's being taken care of?

[2021-06-24 20:49] skorasaurus commented on #30026
closing this since I'm not able to reproduce in the storybook - https://wordpress.github.io/gutenberg/

[2021-06-24 20:49] #30026 closed, assigned to grzim

[2021-06-24 20:51] dreamwhisper opened #32973 "Widget editor: In customizer, wide, tall widgets display poorly"
## Description

## Step-by-step reproduction instructions
Please list the steps needed to reproduce the bug. For example:
1. [Get Genesis](https://www.studiopress.com/get-genesis/) & [Genesis Sample](https://github.com/studiopress/genesis-sample)
2. Go to Customizer > Widgets
3. Add a Genesis - Featured Posts widget to a widget area.
4. Note the position and whether all settings are accessible. Se

[2021-06-24 21:01] skorasaurus commented on #32612
Hi,

I can't find it at the moment, but I think there was discussion about removing open in new tab from the LinkControls (the interface that you describe) and only keeping it in the side bar.

Additionally, [the sidebar is designed to house only more tertiary options; not critical options like adding a URL that are necessary for a block's use](https://developer.wordpress.org/block-editor/how-to-g

[2021-06-24 21:08] skorasaurus commented on #28115
Still able to reproduce this in Gutenberg 10.9.0.

[2021-06-24 21:39] rjcdr commented on #31913
I am the author of all Gutenberg commits from raymondcmjohnson@gmail.com

[2021-06-24 21:55] lordmatt commented on #32648
Yes, it was the root site in a multisite setup.

On Thu, 24 Jun 2021 at 18:30, Jonny Harris ***@***.***> wrote:

[2021-06-24 23:00] pesieminski commented on #31893
On behalf of Automattic Inc., I irrevocably agree that all past contributions to Gutenberg, made by Automattic employees or contractors during their time of employment or engagement with the company, may be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-06-25 00:29] #24949 closed

[2021-06-25 02:33] talldan commented on #32973
Thanks for reporting this! https://github.com/WordPress/gutenberg/pull/31736 was the previous improvement to wide widgets, looks like a few additional adjustments will be needed.

[2021-06-25 02:54] shimotmk commented on #32946
This issues has run into the same problem in the past.
https://github.com/WordPress/gutenberg/pull/23548

[2021-06-25 03:53] Mamaduka commented on #32520
Hi, @tomjn

I've updated some checks recently for this transformation button #32666.

[2021-06-25 04:03] talldan commented on #26154
It might be an unusual option, but what if the user wants to have the classic post editor enabled, but also the block-based widget editor enabled?

I'm also unclear on how the 'Allow users to switch editors' option would work for widget editors. If the options in the classic editor plugin are being respected, I think that needs to work too.

[2021-06-25 04:49] kishanjasani opened #32975 "FSE: Index Template editor is not visible after Clicking on the `Global Style` option of postType `wp_template`"
## Description
While editing the index template for the FSE theme, Click on the typography option, on the header and see the behavior. You will be moving out from that post. And there is no back button to see that page again.

Now clear the local storage of your site and it will work.

## Step-by-step reproduction instructions
Please list the steps needed to reproduce the bug. For example:
1. Go t

[2021-06-25 05:08] tellthemachines commented on #32973
There are two separate issues here:

1. The popover is partially cut off and not scrollable - this is due to the popover not containing the floated contents, and can be fixed easily.
2.  The popover is too narrow - this is due to the widget itself not defining its width. This should be fixed in the theme/plugin supplying the widget, as wide widgets can come in many shapes and sizes so it would not

[2021-06-25 05:59] talldan commented on #32908
The bug seems to be the result of each widget area being its own entity that is edited by moving blocks between them.

We end up with an edit that removes the block from the source widget area entity:
<img width="320" alt="Screenshot 2021-06-25 at 1 46 03 pm" src="https://user-images.githubusercontent.com/677833/123375666-bf4c9580-d5bb-11eb-9997-ace3641d00be.png">

And also an edit that adds the b

[2021-06-25 06:01] #31252 closed, assigned to ntsekouras

[2021-06-25 06:09] saemideluxe commented on #29885
I encountered the same issue. I found out that any echo-ing inside a shortcode function will create that problem. Not sure why exactly, is it a security feature of wordpress or does something break? Well, anyway, echoing should not be necessary inside shortcode functions. So in most cases this should be easily fixable by correctly implementing the shortcut function (aka removing all echos or, like

[2021-06-25 06:14] Mamaduka commented on #17039
Hi, @swissspidy

I'm no longer able to reproduce this issue. Used following code for testing:
[code]

[2021-06-25 06:41] talldan commented on #32932
Thanks for reporting. This isn't a bug, the header area of the panel is a `<button>` (correctly so), and it has focus after being clicked on.

Making the entire panel have the focus outline would be incorrect.

[2021-06-25 06:41] #32932 closed, assigned to nobody

[2021-06-25 06:46] #32901 closed, assigned to thisissandip

[2021-06-25 06:56] zdenys commented on #2515
The possibility to copy external images to the media library when pasting content instead of hotlinking them would be such a helpful feature! 😍

[2021-06-25 07:04] #32969 closed, assigned to tellthemachines

[2021-06-25 07:04] #32973 closed, assigned to tellthemachines

[2021-06-25 07:16] swissspidy commented on #17039
Yep looks like this no longer occurs.

[2021-06-25 07:16] #17039 closed

[2021-06-25 07:21] zdenys commented on #2515
I can see it's now possible to upload images when copied and pasted from a Google Document: https://wordpress.org/support/article/image-block/#external-image-upload

But if I copy all of the content from one post on a given site into another site, the images are hotlinked. It would be helpful to address this scenario.

[2021-06-25 07:38] pansamolot opened #32980 "Cut and paste list item into another list item fails"
Quite very similar to #32467 but has different results.

## Description

Copying and pasting a list item into another empty list item fails. Both pressing _Ctrl+V_ and selecting _Paste_ from context menu gives no effects. Pasting the very same copied element into a paragraph or into new empty non-list block works just fine.

## Step-by-step reproduction instructions

1. Select any list item in the

[2021-06-25 08:05] pansamolot opened #32981 "The "Apply duotone filter" button on image block-related toolbar shifts to the end after setting image to be centered"
## Description

When you add new image block then an additional icons set is added to toolbar with icons related to image / image block. The initial order of these buttons changes when you set image to be centered.

## Step-by-step reproduction instructions

1. Create any block image and insert any image from media library or other source into it
2. Observe related icons order: (a) duotone filter,

[2021-06-25 08:13] jasmussen commented on #26141
On behalf of Kerry who did all the work, this one is now fixed! 🎉

[2021-06-25 08:13] #26141 closed

[2021-06-25 08:13] sirreal commented on #19210
With https://github.com/WordPress/gutenberg/pull/28465 merged, I believe this is complete.

Migration of existing usage to the new `@wordpress/react-i18n` library is out of scope.

[2021-06-25 08:13] #19210 closed

[2021-06-25 08:13] jasmussen commented on #29733
On behalf of Kerry, I've checked the "Allow folding" task. Great work Kerry! 🎉

[2021-06-25 09:29] #32652 closed, assigned to kevin940726

[2021-06-25 09:29] #32931 closed, assigned to kevin940726

[2021-06-25 10:04] mtias commented on #12397
There are a few mixed things here: how code is stored and how code is presented. For code presentation the best solution was using a proper editor that handled lines and some level code highlight. For saving code the decision was not to touch the source as per #7892. It's certainly possible to beautify on render and not commit unless there are changes. If someone wants to explore that we can look

[2021-06-25 10:29] thisissandip commented on #32972
PR added: https://github.com/WordPress/gutenberg/pull/32984

[2021-06-25 10:41] #11643 closed

[2021-06-25 10:52] fluiddot commented on #32882
After further investigation, I find out that this issue is caused because the [`native.pre-render` WP hook](https://github.com/WordPress/gutenberg/blob/55164443caa7e79dfaee0f22bce40f557b85b0e2/packages/react-native-editor/src/index.js#L54-L68) is called multiple times, in fact, it gets called for every warning and error that happens during the initialization. The first call to the hook is ok but t

[2021-06-25 10:57] mtias commented on #28717
Leave a codebase alone for a bit and it fixes itself :)

[2021-06-25 11:49] javidalkaruzi commented on #31913
I am the author of all Gutenberg commits from janvoaldred@hotmail.com.

[2021-06-25 11:50] javidalkaruzi commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-06-25 11:56] johngodley opened #32986 "Sticky autocomplete"
Using the Gutenberg 10.9.0 plugin and Twenty Nineteen I get a sticky autocompleter when editing a post consisting of a single `@`. Once the autocompleter has appeared it doesn't disappear until I press space.

![screencast 2021-06-25 12-52-23](https://user-images.githubusercontent.com/1277682/123421160-688f8d80-d5b4-11eb-9f88-bd8a32edb918.gif)

This is in contrast to earlier versions of Gutenberg

[2021-06-25 12:02] johngodley commented on #32986
I'll note that, although it's not shown in the GIF animation, the autocompleter seems to appear twice when first clicked (or the animation effect occurs twice, anyway).

[2021-06-25 12:02] ellatrix commented on #32986
I can reproduce now. I'll look into it.

[2021-06-25 12:08] ellatrix commented on #32986
Btw, @fullofcaffeine already bisected this and pinpointed it to #31718. The problem is that previously we had a `isSelected` check. I'll make a PR to check the selection.

[2021-06-25 12:18] ellatrix commented on #32986
![autocomplete](https://user-images.githubusercontent.com/4710635/123423696-8bc43800-d5c8-11eb-85b3-ae92dc18e418.gif)

It looks like there's two popovers being rendered. One is removed when rich text is no longer selected. I'm not sure where the other one is coming from.

[2021-06-25 12:41] tomjn commented on #32520
Apologies for not getting back on the code example, I don't have a clean code example, I'd have to extract it, but it can be reproduced by making the cover block not support insertions. We use a filter to turn the `true` to `false` if the block isn't in a whitelist, likewise we disable the transforms so that images can't be transformed into cover blocks ( we remove it from the block definition ),

[2021-06-25 12:42] tomjn commented on #32520
TLDR: the button transforms an image block into a cover block, even when that transformation is removed, and when cover blocks supports section is modified by filters so that it cannot be inserted. The only way to remove the button at the moment is to completely unregister the cover block

The change in #32666 may help mitigate this though

[2021-06-25 12:49] rufus87 opened #32987 "Images in FSE mode with disabled lazy loading have loading="lazy" attributes"
## Description
Any image rendered by `wp_get_attachment_image` function that has `["loading" => false]` configuration to disable it is loaded with `loading="lazy"` attribute. This happens, because `gutenberg_get_the_template_html()` function calls to `wp_filter_content_tags` function which adds `loading="lazy"` by default on all images without exceptions. Even if a single image is required to be r

[2021-06-25 13:03] Mamaduka commented on #32520
Thanks for the feedback, @tomjn.

We probably need `canTransformToBlock` or a similar method that handles various checks for the block. I think this is similar to what @mtias suggested here - https://github.com/WordPress/gutenberg/pull/32666#discussion_r656079988.

[2021-06-25 13:46] johnstonphilip commented on #32973
@tellthemachines If an old plugin has to update its code (like to set widgets widths) in order to fix a new problem that never existed before, than this is not really backwards compatible, no?

[2021-06-25 14:01] #32642 closed, assigned to jorgefilipecosta

[2021-06-25 14:12] youknowriad commented on #26573
Looks like these are fixed now. Thanks @ntsekouras for the great work here.

[2021-06-25 14:12] #26573 closed

[2021-06-25 14:15] adamziel commented on #2515
I imagine this could work just like uploading an image, the hotlinked version would be just a greyed-out preview with a spinner on top of it to indicate that the actual image is being downloaded/processed. The technical side could be even similar: Gutenberg would issue an API request with the URL in question and then we would just need an endpoint that would do the work.

[2021-06-25 14:21] dreamwhisper opened #32993 "Widgets Editor: Third party blocks reported as registered with an invalid category"
## Description
Third party blocks reported as registered with an invalid category on widget screens.

## Step-by-step reproduction instructions

Please list the steps needed to reproduce the bug. For example:
1. Activate a third party plugin such as Genesis Blocks.
2. Go to the widgets screen or the customizer.
3. View the console and note `The block "genesis-blocks/gb-someblock" is registered wit

[2021-06-25 14:21] adamziel commented on #2515
It looks like that button only uploads inline blobs and can't handle external URLs at the moment:

https://github.com/WordPress/gutenberg/blob/689707be85fabd54a5b66fbe9207e9ddb9e027ec/packages/block-library/src/image/image.js#L322-L328

[2021-06-25 14:40] dcalhoun opened #32995 "Tooltip position does not update for keyboard-specific dimension changes"
## Description
When a tooltip is presented, its position does not update whenever the keyboard resizes. For example, toggling Microsoft's SwiftKey keyboard panel on Android can lead to a gap next to the tooltip or the keyboard overlapping the tooltip, depending on the starting position.

## Step-by-step reproduction instructions
1. Ensure Microsoft SwiftKey is installed and set as the current keyb

[2021-06-25 15:28] amir2mi commented on #32635
I just updated the issue with an example of what I am struggling with.

[2021-06-25 15:37] javierarce commented on #31112
That issue that @paaljoachim links is very interesting and has a lot of potential, but I still think that @annezazu's proposed solution (using the same interface to select categories as in the post editor) is more intuitive and solves the problem of not remembering the names of the categories (and thus allowing to refine the query much faster).

I've also seen this UI in one of @jameskoster's expl

[2021-06-25 15:53] #32986 closed, assigned to nobody

[2021-06-25 16:19] skorasaurus commented on #32949
I'm able to reproduce an error using the steps outlined above but my error is different.;

my error is below: _"Uncaught TypeError: wp.Uploader is undefined"_

full error message is at https://gist.github.com/skorasaurus/11195cc75a4185630ce3c82232fdccd6

[2021-06-25 16:25] skorasaurus commented on #23509
heavily related to https://github.com/WordPress/gutenberg/issues/12872

[2021-06-25 16:45] skorasaurus commented on #32980
Hi,

Thanks for reporting. I think this may have been fixed just a couple days ago with https://github.com/WordPress/gutenberg/pull/32527

I downloaded the nightly version of gutenberg, released on a daily basis that includes all published changes and I am unable to reproduce the that you described in your first scenario. It pasted as expected.

If you download the newest Gutenberg nightly from ht

[2021-06-25 16:48] skorasaurus commented on #32467
I'm able to reproduce this; compiled from Gutenberg trunk earlier today (2021-06-30);
notably, if you cut the list item instead of copy; text will transform into a paragraph (without any list formatting)  upon paste.

(sorry if you mention this in the video, i did not watch it).

[2021-06-25 16:50] pansamolot commented on #32980
Hi @skorasaurus,

Thanks for a feedback. Sorry, but I don't have any kind of dev-like environment to test nighties from Gutenberg or any other plugins. Must wait for the official release instead in order to confirm.

If you cannot reproduce this bug in nightly, which I was able to reproduce using official then most likely you're right that this bug has been fixed. Thank you.

[2021-06-25 16:53] skorasaurus commented on #32980
I understand, thanks for your prompt response : ) That fix definitely will be included in Gutenberg 11.0 and may even be backported to a 10.9 release.

Please reopen if you are still experiencing this in 11.0.

[2021-06-25 16:53] #32980 closed, assigned to nobody

[2021-06-25 17:10] amir2mi commented on #15746
What about preserving the result until new content? here #28289 and here dgwyer/server-side-render-x#2

![89642258-6395f280-d8ab-11ea-82b5-6cbba42ae72f](https://user-images.githubusercontent.com/64708228/123460724-50902c00-d5fd-11eb-90a3-c0f118d77cf0.gif)

[2021-06-25 17:14] rchipka commented on #15746
@amir2mi that works well after initial load, but on large pages filled with both SSR and inline blocks, a user might scroll down to the section they want to edit and the scroll position will move significantly while the user is trying to edit and SSR blocks are loading in. Storing previous height would solve this.

[2021-06-25 17:44] Clorith commented on #24009
I'm able to replicate this behavior, in the global block inserter when making a search, it appears to add about 3 pages worth of whitespace below the block editor, and it remains until the block inserter on the side is closed.

The amount of whitespace appears related to how many rows of patterns are returned, looking up `gallery` for example results in fewer results, and less whitespace added)

C

[2021-06-25 17:46] amir2mi commented on #15746
@rchipka Yeah, that was also what I tried at first when I started working with the SSR component but this solution still causes the white space, this solves the scrolling problem however still gives nothing.

On the other hand, the idea of  #28289 is to remove the loading scene. It just needs loading for the initial load (when Gutenberg is starting) and then, every time the old content will be the

[2021-06-25 17:47] critterverse commented on #32652
I think the ideal scenario would actually be something like... don't show the outline when originally dragging away from the panel but if you leave the area of the panel and then return to it, the outline will display (because it's kind of nice to see that indicator of the drop zone when you've moving back and forth between panels).

But didn't want to complicate things too much and I think what w

[2021-06-25 18:09] DaisyOlsen commented on #32365
Published [Block supports API updates for WordPress 5.8](https://make.wordpress.org/core/2021/06/25/block-supports-api-updates-for-wordpress-5-8/) - I don't see a corresponding item in the list above to mark complete.

[2021-06-25 18:41] mattschwartz03 commented on #32792
I just tested and it seems to work. Thank you for your time and attention on this!

[2021-06-25 18:47] dreamwhisper opened #32996 "Widgets Editor: Wide widgets always open"
## Description

When updating to **5.8-beta4-51243**, wide widgets are always open due to `display: flow-root;` https://github.com/WordPress/gutenberg/pull/32976/commits/42910eb526238ae304fa672122e5c5165765c65f

## Step-by-step reproduction instructions

Please list the steps needed to reproduce the bug. For example:
1. [Get Genesis](https://www.studiopress.com/get-genesis/) & [Genesis Sample](htt

[2021-06-25 18:50] ghost commented on #32792
I just tried with the latest version of the Gutenberg plugin and pagination still does not work properly. What would you like me to provide you?

[2021-06-25 19:04] amir2mi opened #32998 "ServerSideRender refreshes more than usual with custom response situations"
ServerSideRender generally refreshes the content on changing attributes.
It gives [three options](https://github.com/WordPress/gutenberg/blob/1be105906f30dc623d9f7e1f4d192744d41cff71/packages/server-side-render/src/server-side-render.js#L142) `LoadingResponsePlaceholder ` ,`EmptyResponsePlaceholder ` and `ErrorResponsePlaceholder `, that developers can render custom element for them.

But they mak

[2021-06-25 19:40] ghost commented on #32792
If you go to my website, https://goblackcat.com, you can try it for yourself and see that the pagination is not working properly. Clicking on one of the other pages and then going back to the first page does not work.

[2021-06-25 19:41] bobbingwide opened #32999 "Query loop block deprecation doesn't actually render post template"
## Description
After updating to Gutenberg 10.9.0 my wp:query-loop blocks are no longer working.

The code changes implemented when the `wp:query-loop` block was renamed to  `wp:post-template` are intended to
1. Produce a Warning message
2. Then render the block using the new logic.

This didn't work since the _built_ code included
[code]
For Gutenberg blocks I believe the priority should be 20.

[2021-06-25 19:44] critterverse opened #33000 "Bug with Legacy widget preview/edit displaying at the same time"
Opening based on a bug was spotted in the Making WordPress Slack: https://wordpress.slack.com/archives/C01D71823PB/p1624646898376200

Legacy widgets are displaying with the both the editing form and the preview (directly below) at the same time:

![Screen Shot 2021-06-25 at 3 42 22 PM](https://user-images.githubusercontent.com/77359364/123477438-10648580-d5cc-11eb-8e34-7618b7886bc6.png)

Seems lik

[2021-06-25 19:57] skorasaurus commented on #27840
still present in 10.9.1

[2021-06-25 19:57] skorasaurus commented on #32827
This appears to be a duplicate of https://github.com/WordPress/gutenberg/issues/27840

[2021-06-25 19:57] #32827 closed, assigned to nobody

[2021-06-25 19:59] skorasaurus commented on #32833
related https://github.com/WordPress/gutenberg/issues/27474 ?

[2021-06-25 20:13] kjellr opened #33002 "Navigation Block: Gap between items collapses when placed inside of a Column block"
## Description

## Step-by-step reproduction instructions

Please list the steps needed to reproduce the bug. For example:
1. Add a column block.
2. Create and populate a Navigation block inside of that column block.
3. Notice that the items have no margin in between them.

## Screenshots or screen recording (optional)

![nav](https://user-images.githubusercontent.com/1202812/123480195-fc228780-d5

[2021-06-25 21:20] mkaz commented on #32365
@nosolosw published [Introducing theme.json dev note](https://make.wordpress.org/core/2021/06/25/introducing-theme-json-in-wordpress-5-8/) :+1:  marked complete above

[2021-06-25 22:06] circlecube commented on #24009
I can replicate this behavior as well. It seems to be the changing height of the `.interface-interface-skeleton__secondary-sidebar` messing with the flexbox layout on the container `.interface-skeleton__body`.

I'm not sure what else it would mess with but for tinkering and debugging thus far it looks like if adding a css rule of  `overflow-y: hidden;` to `.interface-skeleton__body` fixes this iss

[2021-06-25 22:06] ockham opened #33003 "Inserting a Site Title block causes a 403 error (REST API)"
## Description
Found while working on #32868. This is currently blocking #32868, as it causes e2e tests to fail 😕

Repro'd on current GB `trunk`.

## Step-by-step reproduction instructions
1. Log into WP as a non-admin user (e.g. Editor role).
2. Create a new post.
3. Open your browser devtools bar (Network tab), and clear it.
4. Insert a 'Site Title' block

## Expected behaviour
No network reques

[2021-06-25 23:16] eduardozulian opened #33004 "Manually using backticks does not render inline code"
## Description

It appears that using single \`backticks\` for inline code is not working since version 10.7.0. Instead of the actual code rendered, \`code\` will appear.

## Step-by-step reproduction instructions
1. Start a new post/page
2. Start a paragraph
3. Add one backtick, type something, add another backtick, and hit space. Example: \`code\`

## Expected behaviour
To see something like:

T

[2021-06-25 23:50] mrmadhat commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-06-26 04:18] sybrew commented on #12829
This kind of bug seems like a common occurrence in Gutenberg, because of how we're mucking with fundamental things like writing flow and other basic interactions that users expect to behave the same way across all OSes and applications.

💯

Fiddling with keyboard shortcuts opens a pandora's box of asininity. You add one because it's cool, and then you need to alter the next for you have a bug, and

[2021-06-26 04:46] #32968 closed, assigned to kevin940726

[2021-06-26 05:48] chthonic-ds opened #33005 "Group block: multiple wp-container-* classes and duplicate styles per block"
## Description

A `wp-container-*` class is added to a Group block's parent container, with a `<style>` element inserted after the block markup to help scope layout settings. I notice a second class is also added for no obvious benefit. This results in two separate but duplicate style elements being inserted per block.

## Step-by-step reproduction instructions

1. Add a new Group block.
2. In the

[2021-06-26 07:50] thisissandip commented on #33000
For some reason, the `hidden` attribute of the Form element is not working

[2021-06-26 08:17] thisissandip commented on #33000
PR added: https://github.com/WordPress/gutenberg/pull/33006

[2021-06-26 09:59] draganescu commented on #26154
@johnstonphilip I agree, that is _my opinion_: it is revolutionary. I think one of the bits I fail to see eye to eye here is that the sidebar in the Customizer is for "data entry". I think it is for content manipulation and that the form based approach was a technological compromise of the past.

Also, yes to that mock-up. We're both in the same boat here. I referenced the previous discussions on

[2021-06-26 10:22] gziolo commented on #32779
Yes, the Navigation block is an integral part of the FSE experience, and as far as I can tell it works well in that context. It's just the navigation screen where it has a special role as the root of the block editor which enforces all the customizations discussed in this issue. It's really hard to tell what's best, but I wanted to make sure you are all aware that post editors approach it differen

[2021-06-26 10:52] spacedmonkey commented on #32955
Reopening as styling for select and input type number are still off, also issue is not resolved.

<img width="1904" alt="Screenshot 2021-06-25 at 17 13 15" src="https://user-images.githubusercontent.com/237508/123510708-e61ad280-d674-11eb-98f3-24330e8404d3.png">

[2021-06-26 10:52] spacedmonkey commented on #32955
CC @noisysocks  @tellthemachines as this issue is not resolved.

[2021-06-26 13:40] locksoft commented on #31707
Update: the problem, without the other plugin (but, please, let me know about it) doesn't appear anymore, even if every now and then the saving procedure cant take a long time, several minutes too. With Safari, every one hour or so, I can't edit single blocks as, typing a text, it doesn't work. Sometimes the cursor goes to the end and one letter appears. I need to save, return to articles list, op

[2021-06-26 19:01] pansamolot commented on #32980
Just to update / clarify. Both #32467 and my description above may incorrectly suggest that there is a problem with pasting list item into list item only.

I can now confirm that this is not true. There's a general problem with pasting anything (any type of block) into list item. In my case Gutenberg failed to paste both preformatted block of text, link and generally anything except for a unformat

[2021-06-27 04:45] wpgaurav opened #33009 "CTRL + K or CDM + K on a phrase starting with # creates an internal link"
## Description
Say I have written a paragraph that has
`Mahatma was ranked #12 in the list of the most powerful leaders`.

If I select **#12 in the list of the most powerful leaders** and hit CTRL K, it creates an internal link to `#12-in-the-list-of-the-most-powerful-leaders`.

Is that intentional? Even if that's I cannot find a real-life use-case of this.

WP: 5.7.2
Gutenberg: 10.9.0
Chrome 91 o

[2021-06-27 08:28] oldrup opened #33010 "Add Medium Large and other thumbnail sizes to the Image Block drop down."
When performance checking my posts, I'm suggested to use images that are nearer to their shown resolution. The core "Medium Large" thumbnail size 768x? would be ideal for me in these cases (screenshot
![image](https://user-images.githubusercontent.com/17141205/123537815-b8479380-d731-11eb-864e-0d3277af885f.png)
)

But the image block, does only allow thumbnail, medium, large and full in the dropdo

[2021-06-27 09:35] draganescu commented on #32823
@noisysocks well, we should keep this open and retest this after #32311 because this issue looks like an underlying problem with how we look at the block tree in our data store, not a problem with the list view itself.

[2021-06-27 12:56] walbo opened #33011 "Page scroll when searching for blocks"
## Description
When searching for blocks in the sidebar there is a overflow issue that makes you able to scroll the main page so the editor disappears. Same behavior both in Gutenberg and in WordPress 5.8 beta 4

## Step-by-step reproduction instructions
1. Open the block inserter by clicking the + button in the top left corner.
2. Type "s" into the search.
3. Scroll to the bottom of the sidebar.

[2021-06-27 18:57] draganescu commented on #32996
I was able to repro this and it's looking like it is connected to #33006

[2021-06-27 21:17] sergioadofaci commented on #24893
Hello!, does anybody have any new info regarding this issue?. Thanks!.

[2021-06-27 21:51] iruzevic commented on #15730
Any updates on this issue?

[2021-06-28 00:37] noisysocks commented on #32718
Closing as fixed by https://github.com/WordPress/gutenberg/pull/32983.

[2021-06-28 00:37] #32718 closed, assigned to getdave

[2021-06-28 02:03] tellthemachines commented on #32973
@johnstonphilip backward compatibility is ensured to the extent that these widgets are now usable, and we have also made it possible for themes to opt out of the new widgets editor.

[2021-06-28 03:19] #32996 closed, assigned to nobody

[2021-06-28 03:19] #33000 closed, assigned to tellthemachines, thisissandip

[2021-06-28 03:33] talldan commented on #33004
I tested and couldn't reproduced any issues.

I tested 5.7.2 and 5.8 beta with the Gutenberg plugin disabled, and 5.8 with the latest Gutenberg trunk checked out. (Mac OS / Brave)

Is this a freshly setup site, @eduardozulian?

[2021-06-28 03:42] #32301 closed, assigned to tjcafferkey

[2021-06-28 03:44] talldan commented on #33009
I don't think it's intentional, thanks for reporting it. Luckily it's fixed by #32663, which has just been merged and will be in the next version of the plugin.

With that, the link will only be automatically created if the text is a valid anchor or URL link (e.g. highlighting '#my-heading' would automatically create a link to `#my-heading`).

[2021-06-28 03:44] #33009 closed, assigned to nobody

[2021-06-28 03:52] talldan commented on #33010
I think 'Medium large' has been added by a plugin (or something else.)

The block editor should perhaps respect the values added by the filter detailed here - https://developer.wordpress.org/reference/functions/add_image_size/.

[2021-06-28 03:55] talldan commented on #32966
@youknowriad @aristath — looks like this is from https://github.com/WordPress/gutenberg/pull/30034.

[2021-06-28 03:59] talldan commented on #32946
Thanks for reporting the problem. This was already reported in #20706, so I'll close this issue.

[2021-06-28 03:59] #32946 closed, assigned to nobody

[2021-06-28 04:21] talldan commented on #12829
@sybrew How about we keep this on topic rather than devolving into general insults about the project.

[2021-06-28 04:47] talldan commented on #32993
Thanks for reporting this. This is expected.

Unfortunately the `block_categories` filter couldn't really be made to work with non-post screens (since the filter receives a post object, which the widget editor doesn't have), it will be deprecated in WordPress 5.8, though it will still continue to work as expected in the post editor.

There's a new `block_categories_all` filter that will solve the

[2021-06-28 04:47] #32993 closed, assigned to nobody

[2021-06-28 04:54] tellthemachines opened #33018 "Spacer markup could be more flexible"
## What problem does this address?

Currently, the Spacer block outputs a styled `div` with `aria-hidden=true`. This works well for most purposes, except if we need to insert it somewhere where a div is not allowed, e.g. inside a list. We came across this problem in [trying to add Spacer in Navigation block submenus](https://github.com/WordPress/gutenberg/issues/29036#issuecomment-825379183).

##

[2021-06-28 06:13] chthonic-ds commented on #33010
Medium large was added as a default image size in WordPress 4.4, though I don't recall ever seeing it as a selectable option in the image size dropdown: https://make.wordpress.org/core/2015/11/10/responsive-images-in-wordpress-4-4/

[2021-06-28 07:28] Mamaduka commented on #33010
Based on the post, it looks like `medium_large` was intentionally left out from UIs. Therefore, I think this request will be more suited for WP core.

Meanwhile, you can use the following snipped to add "Medium Large" to the selectable options:
[code]

[2021-06-28 07:34] jasmussen commented on #32981
Thanks for the report, this definitely needs to be fixed! lt's tracked in #31373 also, so I'm closing this one in favor of that.

[2021-06-28 07:34] #32981 closed, assigned to nobody

[2021-06-28 07:49] Mamaduka commented on #32998
Hi, @amir2mi

Passing a function for those props doesn't work so well, as React treats that as a new component on every render. The `ServerSideRender` compares props to re-fetch data, and the component is refreshed more often.

https://github.com/WordPress/gutenberg/blob/a6314ffd2d87e55ac8bafa6be668027da4d894d3/packages/server-side-render/src/server-side-render.js#L137-L139

I would recommend extr

[2021-06-28 08:28] jasmussen opened #33025 "Default Appender: Add select-state before showing inserter"
## What problem does this address?

The default appender component makes it easy to insert a block in its place. But it makes it hard to select the block itself:

![problem](https://user-images.githubusercontent.com/1204802/123602158-c1e7fe80-d7f8-11eb-942c-9b55250444fe.gif)

Additionally, since this particular appender serves as a de-facto placeholder/setup state for some blocks (shown here, empt

[2021-06-28 08:30] jasmussen commented on #32108
I extracted the conversation here into a mockup in https://github.com/WordPress/gutenberg/issues/33025, which if could fix this issue.

[2021-06-28 08:31] youknowriad commented on #32966
you can access that property by doing `wp.data.select( 'core/editor' ).getEditorSettings().styles` I think.
The PR you're mentioning is not the one that removed that styles, you can see that the "omit" was still there before the PR. I think this is a lot older.

[2021-06-28 08:42] oldrup commented on #33010
@Mamaduka that filter works! And it allows me to choose the medium_large image in the block editor, effectively choosing an image size that is closer to its container. Every post is different, but I tested a few, and the page size went down 8-10% and my Google PageSpeed Insights a few points up from 96 to 99 on mobile.

![image](https://user-images.githubusercontent.com/17141205/123606621-5d7b6e00

[2021-06-28 08:42] mrmadhat commented on #31913
I am the author of all Gutenberg commits from daniel@relativemarketing.co.uk

[2021-06-28 08:51] getdave commented on #23509
Highly likely. I've still got this on my radar but unlikely until after WordPress 5.8 is released.

[2021-06-28 09:05] youknowriad commented on #32365
## Block Editor API deprecation and removals

## Remove APIs

Keeping deprecated JavaScript APIs around has a cost on performance and bundle size, this means at some point we need to consider removing some of the very old deprecated APIs, especially the ones with low usage. WordPress 5.8 does remove two APIs that were deprecated on WordPress 5.2.

 - `EditorGlobalKeyboardShortcuts` component, this

[2021-06-28 09:11] talldan commented on #33010
Thanks, looks like it was missing from that doc I linked to, so I made a trac ticket to update the docs for this - https://core.trac.wordpress.org/ticket/53538#ticket

[2021-06-28 09:31] talldan commented on #32880
https://github.com/WordPress/gutenberg/pull/32776 may also have fixed some inconsistencies.

https://github.com/WordPress/gutenberg/pull/33024 should fix this.

The mouse has to be within the block list element presently. It'd be nice to improve this.

[2021-06-28 10:15] kmadhak commented on #27194
Hello @JustinyAhin ,

Greetings of the day!!!

Yes, I am using Windows OS, and on that I am facing issue.

Thank you.

[2021-06-28 10:22] ellatrix commented on #32365
This is the proposed dev note for the iframe in the template editor: https://make.wordpress.org/core/?p=89760&preview=1&_ppp=b976a86b78

[2021-06-28 10:29] BinaryMoon opened #33027 "Latest Posts block: Check priority of excerpt_length filter"
Hi - the excerpt length setting in the latest posts block does not get used in all themes. This seems to be a common problem in themes that change the default excerpt length.

This appears to be a because of the excerpt_length filter in the render method.

https://github.com/WordPress/gutenberg/blob/97caf7bff302fc115569493786a20d948468d241/packages/block-library/src/latest-posts/index.php#L48

In

[2021-06-28 11:00] getdave commented on #24683
As we're not yet ready to do this I've moved to the "Medium" priority section of the board. This reduces visual "clutter" and helps clear up what is Highest Priority,

[2021-06-28 11:01] mtias opened #33029 "Disable "move to" if there is only one block"
Small detail, but "move to" should be disabled if there's only one block.

![image](https://user-images.githubusercontent.com/548849/123625755-61fd5200-d810-11eb-9d21-a37a6ffe121c.png)

---

![image](https://user-images.githubusercontent.com/548849/123626212-dfc15d80-d810-11eb-8f4c-004fc84ef214.png)

[2021-06-28 11:02] #32554 closed, assigned to getdave

[2021-06-28 11:11] paaljoachim commented on #33025
That is really nice, Joen!

Going through the issue step by step.

The new approach in re-selecting a container kind of block. As an example I use the Group block.
Block as been added to the canvas/layout, and de-selected.

None selected state.
Before:

![Default-state-Group-block](https://user-images.githubusercontent.com/5323259/123621249-4cd1f480-d80b-11eb-94bb-6c73d207c776.jpg)

None selected

[2021-06-28 12:12] javierarce commented on #32332
Combining those four blocks into one is a great idea.

In the case of **Post Lists block**, it would be quite easy since it’s the same block under a different name.   

**Page List block** would also be trivial to combine, and the users would benefit from having more control over the results since this block just spits out a list of all the pages the user has.  

The only thing users would lose if

[2021-06-28 12:19] andrewmumblebee opened #33033 "wp-env phpunit: too many levels of symbolic links"
## Description

wp-env was working fine yesterday, but now any time i run `wp-env start` i get this error and it fails to start.

[code]

I'm running wp-env inside of Ubuntu on Windows Subsystem for Linux, but the issue occurs on Windows 10 as well. Seems like an image update has caused this?

## Device information
- Operating system: Windows 10
- Docker engine version: v20.10.7

[2021-06-28 12:20] javierarce commented on #32332
While I was thinking about this issue, I thought of another idea: instead of consolidating these blocks into one, would it make sense to leave them as independent blocks but make them all use the Query block internally? The only difference would be that initially, they would have different settings to render each kind of list.

[2021-06-28 12:22] draganescu opened #33034 "Check the filter to opt out works as expected"

[2021-06-28 12:23] MaybeThisIsRu opened #33035 "Unable to remove a link using the UI if it at the bottom line of a paragraph of a long post"
## Description
When a link is at the bottom of the screen, its pop-up hides its options. I cannot remove the link.

## Step-by-step reproduction instructions
- New post
- Fill up the screen
- On the last line, add a link.
- Go edit something else.
- Come back to the bottom link and try to remove the link using the options menu
- You can't - it's hidden behind the pop-up.

## Screenshots or screen

[2021-06-28 12:23] draganescu commented on #24683
Wow accidentally made an issue of a task here :D

[2021-06-28 12:36] getsource commented on #32024
I did a bit of looking into this.

I’m not sure it’s ideal, but this looks to fix the problem referenced in the description:
[code]

Some background:

I believe the plugin folks are talking about [is this one](https://github.com/WordPress/gutenberg/blob/3da717b8d0ac7d7821fc6d0475695ccf3ae2829f/packages/e2e-tests/plugins/disable-animations.php), from the Gutenberg end to end tests. As mentioned by

[2021-06-28 12:37] ntsekouras commented on #32681
This would be definitely good but is way more complex to probably land in 5.8. I've created a PR that handles some extra warnings that can be avoided.

In my testing though the logs weren't so huge like you describe here `100K`.. I have videos in the PR with the logs produced.

[2021-06-28 12:48] andrewmumblebee commented on #33033
Fixed it by deleting all the docker images and rebuilding it.

`docker rmi -f $(docker images -a -q)`

`wp-env start`

[2021-06-28 12:48] #33033 closed, assigned to nobody

[2021-06-28 12:52] ntsekouras commented on #33003
This PR: https://github.com/WordPress/gutenberg/pull/32961 might simplify things for such errors. We need to audit all the usages in combination with REST API.

We should probably also look to remove `apiFetch` usages that were there for bypassing the permissions check in data layer, because there was no `context` support.

[2021-06-28 12:57] ntsekouras commented on #32792
Thanks for reporting @mattschwartz03 ! I tested and it's a bug. This is the case though only when we have pretty permalinks enabled.

[2021-06-28 12:57] #32960 closed, assigned to noisysocks

[2021-06-28 13:08] spacedmonkey commented on #32955
The issue here is selectors are overriding core selectors. So `.editor-styles-wrapper select` is more precise than `.wp-core-ui select` because is on body class. The fix is simple, change one or both selectors.

[2021-06-28 13:40] adamziel commented on #32955
It's worth pointing out that this is only a problem when using specific themes, e.g. on Twenty Twenty, but not on Twenty Twenty One.

[2021-06-28 13:41] getsource commented on #32024
I made a Core trac ticket for Reduce Motion for the Customizer sliding transitions mentioned, here:
https://core.trac.wordpress.org/ticket/53542

[2021-06-28 13:47] subhaze commented on #32966
I believe you're correct if not on WP 5.7, but that store appears to be effected by this as well; Even then, it should be added back to `core/block-editor` as this is still a breaking change that occurred in 5.7 considering it's part of the public API for that package https://developer.wordpress.org/block-editor/reference-guides/packages/packages-block-editor/#SETTINGS_DEFAULTS

Appologies, the li

[2021-06-28 13:51] youknowriad commented on #32966
👍 Thanks for the exploration, that commit looks right yes.

I think the `styles` property doesn't make sense in the `block-editor` setting though because it's not something that apply to all `block-editor` instances by default. In other words, the `block-editor` package doesn't need it. That said, I think it's ok to bring it back for some times and mark it deprecated.

[2021-06-28 13:52] adamziel commented on #32955
Perhaps something has changed in the meantime, but I now see that `select` fall under `.wp-block-legacy-widget__edit-form .widget-inside.widget-inside select` which makes them look consistent with other inputs:

<img width="1743" alt="Zrzut ekranu 2021-06-28 o 15 50 08" src="https://user-images.githubusercontent.com/205419/123647765-a7c61480-d828-11eb-8181-f8fab8236ace.png">

The visual issues tha

[2021-06-28 13:54] adamziel commented on #32955
It is similar but a little bit different on Twenty Twenty:

<img width="1686" alt="Zrzut ekranu 2021-06-28 o 15 53 44" src="https://user-images.githubusercontent.com/205419/123648220-0e4b3280-d829-11eb-81ab-07ddae3e0a0a.png">

[2021-06-28 13:58] adamziel commented on #32955
About this large spacing between checkboxes:

<img width="655" alt="Zrzut ekranu 2021-06-28 o 15 55 48" src="https://user-images.githubusercontent.com/205419/123648590-59654580-d829-11eb-91f0-24deb0369b27.png">

Each checkbox is wrapped a separate `<p>` and is a subject to the same margin as all other paragraphs. I think the only generic way of solving that is setting that margin to a lower value

[2021-06-28 14:01] adamziel commented on #32955
The spacing issue here is due to a low line-height value:

<img width="664" alt="Zrzut ekranu 2021-06-28 o 16 00 22" src="https://user-images.githubusercontent.com/205419/123649421-05a72c00-d82a-11eb-9527-e8d6cf1dae5a.png">

My current idea is to increase it for `label` tags inside the widget editor

[2021-06-28 14:11] oldrup opened #33038 "Remember collapsed/expanded state of block panes (Eg image styles is always expanded)."
## What problem does this address?

Block panes like the Image block Styles pane, are always expanded, taking up precious screen real estate. Screenshot:

![image](https://user-images.githubusercontent.com/17141205/123650266-b31a3f80-d82a-11eb-9dc1-18214c8bfea0.png)

I never use the styles options, so I'd prefer the styles pane to remain collapsed.

## What is your proposed solution?

1) Make Gute

[2021-06-28 14:18] ghost commented on #32792
You're welcome. I am eager to see this one fixed as I want to create a custom page for posts.

[2021-06-28 14:32] manooweb commented on #32750
@critterverse sorry for the late answer.

LGTM 👍 As I tested with the new version exported from Figma  and looks like

[code]
Because Gutenberg manage the style of this icon by using the svg `fill` attribute, it applies it to the svg `<path>` tag which isn't the same thing as applying to a svg `<rect>` tag if I understood correclty.
See https://github.com/WordPress/gutenberg/blob/trunk/packages/bl

[2021-06-28 14:33] skorasaurus commented on #33038
Hi,

Thanks for reporting;
This has been discussed and/or requested in https://github.com/WordPress/gutenberg/issues/27560 and https://github.com/WordPress/gutenberg/issues/18418. Feel free to [add your reaction](https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/about-conversations-on-github#reacting-to-ideas-in-comments) and follow its progress in the issue.

[2021-06-28 14:33] #33038 closed, assigned to nobody

[2021-06-28 14:43] subhaze commented on #32966
I'm curious why you feel it shouldn't belong there even if it's not always used; It could return as an empty array if not used for that instance?

I'm curious of this because if it's deprecated in `block-editor` getSettings, is the plan to also update (or introduce as new type) the settings object type that's returned? Since it appears this object type (EditorSettings) is used in a few different a

[2021-06-28 14:51] youknowriad commented on #32966
Gutenberg is a module architecture, each package has a defined purpose:

 - block-editor is a package that allows developers to build block editors, these include the post editor, widget editor, navigation editor or any block editor you can think of, even outside wordpress.
 - edit-post is the implementation of the block editor to edit posts in WordPress.
 - "styles" setting is a WP specific setti

[2021-06-28 15:02] johnstonphilip commented on #26154
@draganescu It's for data-entry because you're not experiencing what it actually looks like, and not in the same context at all. Therefore you can't use it for actual design (WYSIWYG), but just for data entry. Worse still, none of those data entry fields are labelled at all. Really take a look at my screenshot, and notice how the things on the left do not-at-all look like the things on the right,

[2021-06-28 15:08] getdave commented on #32779
## Summary

I'll attempt to summarize what we've learnt here from the conversations above:

- we've discussed the scope of the Block Supports API and decided it is **[not well suited to configuring settings on a per Block basis](https://github.com/WordPress/gutenberg/issues/32779#issuecomment-863298845)**.
- we've learnt [the **Block Supports API is not an API to enable/disable things**](https://g

[2021-06-28 15:19] subhaze commented on #32966
Thanks for additional context; And glad to see this being looked at as larger than WP.

So it seems like it would be more beneficial to adjust the Type Defs for EditorSettings and have the WP side of Gutenberg extend that, adding styles as a prop. Then potentially move `styles` over to the `core/edit-post` store since it does use it during initialization (from what I can tell while reading through

[2021-06-28 15:22] getdave commented on #32779
## Summary

I'll attempt to summarize what we've learnt here from the conversations above:

- we've discussed the scope of the Block Supports API and decided it is **[not well suited to configuring settings on a per Block basis](https://github.com/WordPress/gutenberg/issues/32779#issuecomment-863298845)**.
- we've learnt [the **Block Supports API is not an API to enable/disable things**](https://g

[2021-06-28 15:22] #32779 closed, assigned to getdave

[2021-06-28 15:23] getdave commented on #30007
Please see https://github.com/WordPress/gutenberg/issues/32779#issuecomment-869777363 where we discussed:

* the scope of the Block Supports API.
* the role Theme JSON could play in configuring block features/settings.
* an alternative approach for removing the Nav Block as the wrapper and instead using InnerBlocks.

[2021-06-28 16:14] kjellr opened #33046 "Highlight pattern directory patterns in the initial view of the pattern inserter"
When the pattern inserter is first loaded up, it displays the first (alphabetical) category of patterns by default. With the currently-bundled patterns, this is the somewhat underwhelming "Buttons" category.

Now that the [Pattern Directory](https://wordpress.org/patterns/) has begun being populated by patterns, it would be great to replace that initial view with a "Featured" category, full of pat

[2021-06-28 16:17] maitearmengaud opened #33047 "Can't get post thumbnails"
## Description
I can't add a featured image to my single post, even after adding theme_support to enable the option. It's not working when I enable the Gutenberg plugin. When I disable it, I can add one.

## Step-by-step reproduction instructions
1. Add `add_theme_support( 'post-thumbnails' );`
2. Edit a single post

## Expected behaviour
You should have a `featured image` part inside the editor t

[2021-06-28 16:19] skorasaurus commented on #24683
Might be a result of the [changes to Github issues](https://wptavern.com/major-revamp-coming-to-github-issues) some of which have already been released? :)

[2021-06-28 16:22] gwwar opened #33048 "Navigation: use generic css class names for navigation items"
Children of the Navigation Block currently duplicate many CSS rules. This includes the Page List, Navigation Links, Home Link and potentially others.

Instead of duplicating CSS rules, let's add other CSS classes outside of the wp-block-name to provide consistent styling.

We should also be careful that Navigation style and color settings are propagated correctly, and that global and theme styling

[2021-06-28 16:33] #32955 closed, assigned to adamziel

[2021-06-28 17:36] annezazu commented on #31707
@locksoft thanks so much for continuing to add context to this issue. It's super helpful for folks to investigate. It sounds like you're asking whether you should use the Gutenberg plugin? If so, I recommend checking out this post [that'll help you know whether it's best to use it for your specific site](https://wordpress.org/news/2021/04/become-an-early-adopter-with-the-gutenberg-plugin/).

As a

[2021-06-28 18:09] skorasaurus commented on #33047
Hi,

Thanks for reporting. Could you verify if you are hooking in the correctly? You'll need to place the add_theme_support inside another function (I named it my_theme_setup in this example) and hook into after_setup_theme.

[code]

To help find the cause of the issue, could you also share the following:

- What [user role](https://wordpress.org/support/article/roles-and-capabilities/) are you? A

[2021-06-28 18:45] eduardozulian commented on #33004
@talldan I tried with two separate installs, one of them being fresh, both with WP 5.7.2.

As soon as I activate the Gutenberg, I experience the same as presented in the above video.

Thanks for checking!

[2021-06-28 18:57] amir2mi commented on #32998
Hi @Mamaduka, Thanks for the tip! That solved the problem I unfortunately did not pay much attention to default placeholders.
Does not it worth mention or add this in documentation?

[2021-06-28 19:07] skorasaurus commented on #33004
Sorry, I too tested, and the code is displayed as intended; no issues found.

https://user-images.githubusercontent.com/955351/123690561-83ffd000-d822-11eb-91e2-c841387f2f58.mp4

I'm using 10.9.1, wordpress 5.7.2 on a vanilla wordpress install with both twentytwenty and twentytwenyone themes. Used chrome Version 91.0.4472.114 (Official Build) (64-bit) on ubuntu

[2021-06-28 19:08] epiqueras commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-06-28 19:37] Mamaduka commented on #32998
Happy to hear that.

I already created PR for documentation update - #33030.

[2021-06-28 19:47] ntsekouras commented on #32920
Hey 👋 - you have missed the `isActive` prop. Check the docs here: https://developer.wordpress.org/block-editor/reference-guides/block-api/block-variations/

Basically you just have to add to your variation declaration the below line.
[code]

[2021-06-28 19:48] #32920 closed, assigned to nobody

[2021-06-28 20:03] amir2mi commented on #32998
Thanks again so I close this issue.

[2021-06-28 20:03] #32998 closed, assigned to nobody

[2021-06-28 20:57] ockham commented on #33003
Thanks for the pointer, Nik!

IIUC, we'll need to change the implementation of `useEntityProp()` and `getEntityRecords()` to use the right context. I'll work around that for now in #32868, since it seems like a rather substantial change, and I'd like to unblock #32868 😬

[2021-06-28 22:06] spacedmonkey opened #33056 "PHP Notice error in milestone widget"
## Description

When using the milestone widget ( from jetpack plugin ), I get a notice error. See screenshot.

## Step-by-step reproduction instructions

1. Install jetpack plugin.
2. Activate plugin
3. Setup wordpess.com account.
4. Jetpack > Settings > Writing > Widgets. Enable widgets.
5. Insert milestone (jetpack) widget.
6. Preview widget.

## Expected behaviour

## Actual behaviour

## Scre

[2021-06-29 00:05] spacedmonkey commented on #33056
Related to jetpack team as well - https://github.com/Automattic/jetpack/issues/20208

[2021-06-29 00:15] mkaz commented on #32365
@ellatrix That looks good, I do a couple of minor edits and added the proper tags. Feel free to review and publish when ready 👍

@youknowriad The Block Editor API deprecations looks good. :shipit:

[2021-06-29 03:00] talldan commented on #33035
cc @getdave I remember a recent discussion about this, but couldn't find the relevant issue/pr.

One of the potential solutions mentioned was to put an 'unlink' button in the popover.

[2021-06-29 03:03] talldan commented on #33035
Found it now, there's a PR here - https://github.com/WordPress/gutenberg/pull/32541.

[2021-06-29 03:11] talldan commented on #33004
Hmm, I'm confused about what's happening then. I'm wondering if it could be related to keyboard layout—perhaps the backtick is a slightly different character code on some keyboard layouts. The block editor checks for `0x60`.

What keyboard layout do you use @eduardozulian?

[2021-06-29 04:04] peterwilsoncc commented on #32681
It may be a custom handler that includes the stack trace then. I'll check up on php config options to see if this is coming from a standard config or xdebug is helping.

I'll take a look at the pull request now.

[2021-06-29 04:31] Mamaduka commented on #32684
I think this was fixed via #32810.

[2021-06-29 06:13] ntsekouras commented on #33003
Context support is there by Riad in [the above PR](https://github.com/WordPress/gutenberg/blob/trunk/packages/core-data/src/resolvers.js#L196).

Not so sure about that 😄 . Some controls I had seen need some data that are only in `edit` context, [like labels of taxonomies](https://developer.wordpress.org/rest-api/reference/taxonomies/). So the changes need to be made really carefully not to introdu

[2021-06-29 07:23] thetwopct opened #33059 "Block Transforms From option missing on core-embed/youtube block"
## Description

When creating a block and using the transforms API, converting from the `core-embed/youtube` block doesn't display an option to convert the YouTube embed block to the new block.

## Step-by-step reproduction instructions

In your custom block JS file:

[code]

## Expected behaviour

The block transform option is expected to show on the YouTube block, but it doesn't.
The block trans

[2021-06-29 07:36] getdave commented on #33035
Yep im working on this. Thank you for raising this Issue.

[2021-06-29 08:04] getdave commented on #30424
Moving to Needs Dev as it actually needs a developer to take this on.

[2021-06-29 08:17] kevin940726 opened #33061 "Widget screen header inserter button styling issue"
## Description

Since #33031 increased the specificity of the rules, the overrides in the widgets screen no longer work, results in a wide inserter button which is not ideal.

## Step-by-step reproduction instructions

1. Go to Appearance -> Widgets
2. Notice the header inserter button size

## Expected behaviour

It should be a 36px square.

## Actual behaviour

It's a 48x36px rect.

## Screensho

[2021-06-29 08:26] jasmussen commented on #33018
While [the recent navigation markup discussions](https://github.com/WordPress/gutenberg/issues/31951#issuecomment-846067135) seemed to lean most heavily towards the top level menu items in a navigation, I would expect the bulk of the argument to remain the same for content inside submenus. That is, while the first phase of the navigation block is mostly about wrapping the features already in, the

[2021-06-29 09:03] jeherve commented on #32920
Thank you!

[2021-06-29 09:11] #33005 closed, assigned to Mamaduka

[2021-06-29 09:32] oldrup commented on #29436
Just pitching in that I'm able to reproduce this issue consequently in my Windows 10, Firefox 89, WordPress 5.8 beta 4, Gutenberg 10.9.1, PHP 8.0.6 install. Ping be if I can do anything to help test or troubleshoot.

![image](https://user-images.githubusercontent.com/17141205/123774028-57ed5900-d8cd-11eb-8215-b541adb744e1.png)

Bjarne

[2021-06-29 09:38] adamziel commented on #32024
@getsource great job getting to the bottom of that!

Would you please create a new diff with that fix so that we can mark this issue as closed? :-)

[2021-06-29 11:26] chthonic-ds commented on #32684
I've just tested this again, here's what I'm seeing when following the steps below (from #32810):

With TT1 Blocks theme active, using a Group block as container block and pullquote as child block:

- Custom layout with empty/reset values: available child alignments are left and right
- Custom layout with values defined: available child alignments are wide and full width
- With "inherit default la

[2021-06-29 12:28] ockham commented on #33003
Ah, hadn't noticed that `getEntityRecords` was being changed by that PR as well! Thanks for clarifying 👍

Ah, indeed! Seems like we just need to provide a `context` key-value pair in the 4th arg of `getEntityRecords` 🤔

👍

[2021-06-29 14:19] getsource commented on #32024
Sure! I'll get a core trac ticket created with a patch.

I'll link to it here as soon as it's there. This might be tomorrow for me at this point, as I've had a few issues with my core dev environment during the process of creation + testing.

[2021-06-29 14:32] Copons commented on #29337
Closing as fixed by #31109 ✨

[2021-06-29 14:32] #29337 closed

[2021-06-29 14:53] mtias commented on #24818
With #29337 closed all the main work is completed. There's still the question of dynamic values that is yet to be answered in a satisfactory way.

[2021-06-29 15:05] annezazu opened #33068 "Template Editing Mode: Unable to edit the overall template colors"
## What problem does this address?

When you enter template editing mode, you're able to change the colors for each individual block but you're unable to change the colors of the entire template, unless you add a group block and set colors from there. This is similar to this open issue around the isolated template part view where the specific template part color settings are also unavailable to ed

[2021-06-29 15:10] draganescu opened #33069 "Deleting widgets is unpredictable"
When deleting widgets from the editor:

- they continue to remain in the database
- they are visible for the classic widgets editor
- they are invisible for the block based widgets editor

### Screenshot

https://user-images.githubusercontent.com/107534/123822216-c1d52500-d904-11eb-8935-9a82f37be57f.mp4

### To reproduce

1. Have the Classic widgets plugin enabled
2. Enable TT1 theme
3. Activate C

[2021-06-29 15:11] youknowriad commented on #32365
@mkaz I also have this dev note that is almost ready https://make.wordpress.org/core/?p=89618&preview=1&_ppp=1f2254d383 it's just missing a potential Gif for the layout options in the sidebar.

I'm AFK the next couple days, so feel free to ship it once you think it's ready.

[2021-06-29 16:09] WunderBart commented on #32526
Howdy! 👋 This seems to be partially fixed. Testing with https://github.com/WordPress/gutenberg/pull/32527 cherry-picked, I can only paste plain text into a new list item, but cannot paste if the text was copied from any other block. Here are the steps to reproduce the issue I'm seeing:

- Write something in a paragraph block
- Select & copy what you just wrote
- Hit enter and create a list block
-

[2021-06-29 16:14] thisissandip opened #33072 "Update button remains disable even after making changes in reusable block"
## Description
Even after making changes to the reusable block, the update button remains disabled.

## Step-by-step reproduction instructions
1. Add a reusable block
2. Edit the reusable block
3. Check the update button

## Expected behaviour
Update button should be highlighted/enabled like the image below to let the user know there are changes to be saved.

![image](https://user-images.githubuse

[2021-06-29 16:21] WunderBart opened #33073 "E2E Tests: Add tests for copy&paste scenarios"
We've been recently dealing with a regression that caused some issues when pasting text into the Editor canvas. One of them has been recently addressed in https://github.com/WordPress/gutenberg/issues/32526, but there still seem to be [other scenarios](https://github.com/WordPress/gutenberg/issues/32526#issuecomment-870730781) where pasting doesn't yet work as expected.

Let's make sure we have te

[2021-06-29 17:08] annezazu commented on #25612
Wanted to pass along feedback from the [eighth call for testing for the FSE Outreach Program](https://make.wordpress.org/test/2021/06/24/call-for-testing-thrive-with-theme-json/#comment-1741) as it relates to exploring child themes within a block theme world:

If this needs to be reported in a new issue, let me know!

[2021-06-29 17:36] mkaz commented on #32365
I added a GIF and published layout dev note at: https://make.wordpress.org/core/2021/06/29/on-layout-and-content-width-in-wordpress-5-8/

I also published the iframed editor here: https://make.wordpress.org/core/2021/06/29/blocks-in-an-iframed-template-editor/

Both marked complete above 👍

[2021-06-29 17:44] Mamaduka commented on #33072
This can be related to the changes in #32889.

/cc @ockham

[2021-06-29 18:00] draganescu commented on #33069
This is not easy to repro on a clean site. Do persist :)

[2021-06-29 19:24] vcanales opened #33077 "Navigation: Fix flakey tests on the Navigation block spec."
## Description
Follow up for https://github.com/WordPress/gutenberg/pull/33074.

Navigation block tests fail intermittently, and are being hard to debug. The fact that they're working differently depending on the system they run on suggests that we'll have to refactor them to avoid race conditions, and ensure that we're waiting for elements to load before looking for them.

## Step-by-step reprodu

[2021-06-29 20:08] ockham commented on #32526
Let's create a new one -- the issue you found seems a bit different from what's described in this issue's original description 🙂

[2021-06-29 20:20] ockham commented on #33072
Aww, crap 😕  Sorry about this, I'll work on a fix tomorrow 👍

[2021-06-29 20:22] gwwar commented on #30803
This one should be fixed by #32824

[2021-06-29 20:22] #30803 closed, assigned to jasmussen, gwwar

[2021-06-29 20:42] ockham commented on #33072
Note to self, we should definitely add some test coverage. Probably at the [unit test level](https://github.com/WordPress/gutenberg/blob/012461b161b915496ad4aef3b5fd0727abedf583/packages/editor/src/components/post-publish-button/test/index.js), but maybe also to the [reusable blocks e2e tests](https://github.com/WordPress/gutenberg/blob/012461b161b915496ad4aef3b5fd0727abedf583/packages/e2e-tests/s

[2021-06-29 20:46] spacedmonkey commented on #33056
Related: https://core.trac.wordpress.org/ticket/53548

[2021-06-29 22:11] fullofcaffeine opened #33078 "Can't copy text from paragraph into the list block"
## Description

Can't copy text from paragraph into the list block. This might be a symptom of a lower-level problem, but that's how it manifested so far.

## Step-by-step reproduction instructions
1. Start a new page or post and press enter to create a new `Paragraph` block;
2. Press enter again to break into a new line, then insert a `List` block;
3. Use your mouse to select the text from the `P

[2021-06-29 22:12] fullofcaffeine commented on #32526
Created the issue here: https://github.com/WordPress/gutenberg/issues/33078.

[2021-06-29 22:17] mrwweb opened #33079 "Document structure and stats do not consistently process synced patterns (aka reusable blocks)"
Preface: This behaves like a regression for the fix that closed #12042 and #11744.

## Description
- Headings in reusable blocks are not reflected in the Document Outline
- The word count and character counts do not include blocks reusable blocks
- The total block count, paragraph count, and heading count—surprisingly—are correct
- The issue applies to saved and unsaved reusable blocks.
- The issu

[2021-06-30 01:47] colorful-tones commented on #16484
SVG Icon Block would be _so amazing!_ Inline and block _and_ filters for themes to add their own library would be epic! Perhaps even `theme.json` integration as well? That would be insane 🤯

[2021-06-30 05:21] Mamaduka commented on #32813
Hi, folks

Cherry-picked part of my "progress" for this enhancement since I think it can land independently - #33076.

Toggling visibility might look like a screen flash. However, it might not be the desired trade-off in this case.

[2021-06-30 05:55] noisysocks commented on #33069
So I _think_ what's going on here is that there is a bug in the REST API which causes only one widget to actually be deleted when deleting multiple widgets.

@draganescu: Could you confirm if https://github.com/WordPress/wordpress-develop/pull/1452 fixes this for you?

[2021-06-30 06:07] #25759 closed

[2021-06-30 06:10] jasmussen commented on #30803
Excellent work!

[2021-06-30 06:11] jasmussen commented on #17718
It is possible that #32824 has fixed this issue. If anyone is able to test the latest `trunk`, we might be able to close this one.

[2021-06-30 06:29] sybrew commented on #32562
The issue here is that we cannot discern a (public) site-search query from an (admin) editor-search query in WP-REST.

This is the query Gutenberg sends when fetching a link, for example:
`/wp-json/wp/v2/search?search=example&per_page=20&type=post&_locale=user`

The solution would be to add parameters, such as `&iseditor=true`. One should interpret this parameter carefully because one might think

[2021-06-30 06:31] jasmussen commented on #26651
I believe the core of this issue relates to inserting images with the slash command, and the fact that typing `/image` and pressing enter didn't always insert an image was extremely frustrating.

However as of #25105, that behavior has been fixed:

![slash](https://user-images.githubusercontent.com/1204802/123911271-ddc7dd80-d97b-11eb-8383-c80a4767f86b.gif)

While that fix landed in September 2020

[2021-06-30 06:31] #26651 closed

[2021-06-30 06:43] jasmussen commented on #19557
Thanks for the ticket. I believe this has been fixed with the navigation item setup state:

![nav](https://user-images.githubusercontent.com/1204802/123914075-48c6e380-d97f-11eb-927c-6674fd1cfbb0.gif)

Closing as such, let me know if this was in error.

[2021-06-30 06:43] #19557 closed

[2021-06-30 06:53] draganescu commented on #33069
Yes https://github.com/WordPress/wordpress-develop/pull/1452 fixes the problem 👏🏻  At least in my testing 😊

[2021-06-30 06:56] tellthemachines commented on #33018
That is a great point to bring up, as solving the mega-menu problem will likely make Spacer semantics a non-issue 😄
Why? With mega-menu dropdowns potentially containing multiple lists, images and other elements, the dropdown markup will have to be generic (a `div` wrapper instead of the current `ul`) which means we can treat the spacer like #30551 does for the top level Navigation block, i.e. rend

[2021-06-30 06:56] noisysocks commented on #33069
Awesome. Closing in favour of https://core.trac.wordpress.org/ticket/53557 then.

[2021-06-30 06:56] #33069 closed, assigned to noisysocks

[2021-06-30 08:03] kevin940726 opened #33085 "Unexpected margin left for block appender in widgets screen"
## Description

There's a unexpected margin on the block list appender in the new Widgets screen.

## Step-by-step reproduction instructions

1. Go to Appearance -> Widgets
2. Look at the block list appender

## Expected behaviour

It should not have margins.

## Actual behaviour

It has a `8px` margin-left.

## Screenshots or screen recording (optional)

![image](https://user-images.githubusercon

[2021-06-30 08:10] talldan commented on #33059
Hi @thetwopct. I think the problem is there isn't a block called `core-embed/youtube`. The block is called `core/embed`, and it has a block variation of 'youtube'.

Your best option would be to write your transform against the `core/embed` block, and use an `isMatch` function on your transform, and check the block's `providerNameSlug` attribute is `'youtube'`. (docs - https://developer.wordpress.o

[2021-06-30 08:10] #33059 closed, assigned to nobody

[2021-06-30 08:28] thetwopct commented on #33059
Thanks @talldan, makes sense, seems the `core-embed/block` [was the old way to target them](https://github.com/WordPress/gutenberg/blob/a7e2895829c16ecd77a5ba22d84f1dee1cfb0977/packages/blocks/src/api/parser.js#L437).

[2021-06-30 09:30] mtias commented on #24818
Marking this milestone as completed, will write a followup with some of the lower priority tasks and some new that have since surfaced.

[2021-06-30 09:30] #24818 closed

[2021-06-30 09:36] mtias commented on #30662
Marking this as closed. The only lingering project (navigation screen) we can continue to track separately.

[2021-06-30 09:36] #30662 closed, assigned to nobody

[2021-06-30 09:49] priethor commented on #30918
Let's close this issue as most of the high-priority items are already covered and this is not a focus anymore.

[2021-06-30 09:49] #30918 closed, assigned to nobody

[2021-06-30 09:51] priethor commented on #30921
Let's close this issue as the high-priority items are already implemented.

[2021-06-30 09:51] #30921 closed, assigned to nobody

[2021-06-30 09:57] jasmussen opened #33091 "Menu Item placeholder: Show page label in setup state"
## What problem does this address?

This is a sub-task oriented part of #32373. As discussed in that ticket, we need for the Navigation block to be able to accommodate a diverse range of opinionated patterns such as this one:

<img width="1236" alt="Pattern" src="https://user-images.githubusercontent.com/1204802/123940293-4f625480-d999-11eb-8e77-d1882cec8cd7.png">

One part of that could be to **i

[2021-06-30 09:58] jasmussen commented on #30170
Here are some fresher mockups for how a split URL/Label dialog could look.

<img width="2263" alt="Setup states   appenders" src="https://user-images.githubusercontent.com/1204802/123941459-766d5600-d99a-11eb-8968-7b032c655976.png">

[2021-06-30 10:00] jasmussen commented on #33091
Worth clarifying that this issue is dependant on #32512 landing first. I think the wavy underline is worth trying — it's easy to tweak the thickness and shape of it, and if we ultimately find it not working, the same spot in the CSS can be used to show some other indicator, like a box, a dot, or anything else.

[2021-06-30 10:01] jasmussen commented on #27593
Checked off "Allow folding of nested items" thanks to @gwwar 🥇

[2021-06-30 10:25] Gtarafdar commented on #4543
Is there any chance to have an option to add customized color in button hover color! For example, I want to add different hover colors rather than the light, darker version of the primary button color.
Sorry, please don't mind; other page builders have those features in default. Or you can check other third-party addons like stackable:  https://wpstackable.com/button-block/

ultimate blocks: https

[2021-06-30 10:27] jasmussen commented on #27593
There's been a conversation about enabling more diverse navigation block patterns, that provide highly opinionated defaults, for example site navigations that show exactly 3 menu items, a site logo, and instagram/facebook/twitter links. Perhaps even with the navigation items pre-labelled.

To enable such patterns, the setup/placeholder state for the navigation block needs to be reconsidered with a

[2021-06-30 11:11] HemingwayDesign opened #33092 "marked for delete"
marked for delete

[2021-06-30 11:12] #33092 closed, assigned to nobody

[2021-06-30 11:15] LeoSeyers opened #33093 "Better block style registration : organize and create styles by category"
## What problem does this address?

As a custom theme developer, I'd like to give editors a finer control on how they control margins to give them a great tailor-made editor experiences.

Many time lately I've asked to add additional option controls for margins and I've done it in two different ways :
– By registering block style (`wp.blocks.registerBlockStyle`) : e.g I can register a 'no-margin'

[2021-06-30 11:23] mtias opened #33094 "Phase 2: Customization"
This supersedes #24551 for tracking upcoming tasks around the main site editing projects. There are a few separate tracking issues for covering some general improvements and then some broader projects:

# Main Tasks

#### Browse

- [x] #44461
- [x] #50394
- [x] #50379
- [x] #49597
- [x] #51454
- [x] #50392
- [x] #50390
- [x] #50429
- [x] #50397
- [x] #50396
- [x] #50582

#### Editor

- [x] #50378

[2021-06-30 11:25] mtias commented on #24551
Most of the work outlined in this overview is now concluded or has its most important tasks covered. A more fine tuned scope for what's upcoming is continued to be tracked in this new issue: #33094.

A lot of wonderful work has gone into all these ambitious milestones, so kudos to all who contributed so far!

[2021-06-30 11:25] #24551 closed

[2021-06-30 12:02] getsource commented on #32024
Ticket with patch created here:
https://core.trac.wordpress.org/ticket/53562

[2021-06-30 12:43] #33035 closed, assigned to nobody

[2021-06-30 12:44] getdave commented on #33035
@hirusi this should now be resolved via the addition of the `Unlink` button in the link UI itself. See https://github.com/WordPress/gutenberg/pull/32541

[2021-06-30 13:03] Mamaduka opened #33096 "Image Block: URL preview layout is broken"
## Description
When opening the "Replace" dropdown for an Image block, the Link/URL preview styling is broken. See screenshot.

## Step-by-step reproduction instructions
1. Create a post.
2. Add Image block and select media
3. Click on the "Replace" toolbar button.
4. See the "glob" icon.

## Expected behaviour
The layout should look more "stacked" without overlapping elements. It should not be vi

[2021-06-30 13:03] MaybeThisIsRu commented on #33035
Thank you so much @getdave. This was superfast! I'm not sure how to test a non-release, so I'll wait for the next patch release. 🙂

[2021-06-30 13:07] draganescu opened #33097 "Copy and paste introduces nonexisting blocks"
In the widgets editor using copy and paste introduces non existent "undefined" blocks.
The operation in the post editor works as expected.

### To reproduce

1. Use latest WP 5.8 RC
2. Go to Appearance > Widgets
3. Add some blocks
4. Add some legacy widget blocks
5. Select all using Cmd/Ctrl + A twice
6. Copy all content
7. Remove all blocks
8. Paste
9. Observe bug: undefined blocks created

### S

[2021-06-30 13:21] draganescu opened #33099 "Forward slash inserter doesn't work in the widgets editor"
When using the forward slash inserter in the new Widgets editor nothing happens.

### To reproduce

1. Use the latest WordPress 5.9 RC
2. Go to Appearance > Widgets
3. Add a paragraph block
4. Type "/"
5. Observe nothing happens

### Screenshots

https://user-images.githubusercontent.com/107534/123967606-25238d80-d9bf-11eb-98ce-5d33933a6a75.mp4

### Expected behavior

The slash inserter should beh

[2021-06-30 13:44] mtias commented on #7422
@ellatrix agreed on backspace at most selecting the image block in that case.

[2021-06-30 13:57] getdave commented on #33096
Thanks for reporting @Mamaduka. I updated the title and description to reflect the fact that it isn't showing a rich preview but rather the CSS styles are slightly broken in this context.

[2021-06-30 14:03] getdave commented on #33035
No problem. Luckily I was already half way to a fix when you noticed it! 😄

No pressure to do so but just so you know we have some good documentation on how to do that here

https://make.wordpress.org/design/2021/03/03/testing-a-gutenberg-pull-request-pr/

[2021-06-30 14:09] getdave commented on #32689
How would you feel about ignoring any attempts to fetch URLs that have `localhost`? Mostly these won't be accessible via cURL.

[2021-06-30 14:51] adamziel opened #33104 "Consider deprecating "function widgets""
## Description

This issue is all about function widgets like the [Marquee Widget](https://gist.github.com/adamziel/526436b4cc9bc82a7221c77e00137ae1). They are a special case of widgets and the new editor has a few problems with handling them:

1. Changing a form field of a function widget doesn't "activate" the "Update" button
1. Saving the widgets screen using the "Update" button does not preser

[2021-06-30 15:05] ddryo opened #33106 "HTML tags in the description of the widget area are escaped"
I am testing 5.8RC1.

When I use HTML tags such as `<b>` and `<a>` in the description of the widget area, they are escaped.

## Step-by-step reproduction instructions
1. Register the widget area as shown below.

[code]

2. Check the description of the area.

## Expected behaviour

Here is how it looks in the classic widget

<img width="473" alt="スクリーンショット 2021-06-30 23 58 24" src="https://user-ima

[2021-06-30 15:07] adamziel opened #33107 "[Widget editor] Block toolbar gets covered by form elements"
## Description

_A picture is worth a thousand words_

<img width="1124" alt="Zrzut ekranu 2021-06-30 o 17 03 24" src="https://user-images.githubusercontent.com/205419/123984769-31124e00-d9c5-11eb-8d90-e3a6e2bcd1ec.png">

<img width="1635" alt="Zrzut ekranu 2021-06-30 o 16 33 35" src="https://user-images.githubusercontent.com/205419/123984895-4edfb300-d9c5-11eb-9573-085730e30c2d.png">

This happen

[2021-06-30 15:10] ddryo opened #33108 "When the widget area has a long name, the "Block" tab in the sidebar is broken in Japanese environment."
## Description

I think it is quicker for you to see it.

## Expected behaviour
<img width="302" alt="スクリーンショット 2021-07-01 0 07 28" src="https://user-images.githubusercontent.com/31400297/123985688-a3545400-da00-11eb-8dff-5aa9829bdacc.png">

## Actual behaviour
<img width="293" alt="スクリーンショット 2021-07-01 0 06 52" src="https://user-images.githubusercontent.com/31400297/123985700-a64f4480-da00-11eb-9

[2021-06-30 15:17] colorful-tones opened #33109 "Template Mode active with `theme.json` and no means to disable it"
## Description
I have a custom theme I'm trying to build. I have a working `theme.json`. However, the front page shows white screen with **WP 5.8 RC1-51270** and Query Monitor is showing `wp-includes/template-canvas.php` as being loaded.

If I activate **Gutenberg 10.9.1** (with WP 5.8 RC1-51270) then I see the "Template part has been deleted or is unavailable: header" message and Query Monitor sh

[2021-06-30 15:20] ddryo opened #33110 "Sometimes it is not possible to delete the contents of "Inactive widgets" in block widgets."
I'm sorry, I've only encountered this bug once, but I couldn't take a screenshot of the error content, and I don't know how to reproduce it.

When I turned on new Block Widgets, I tried to delete the **"Inactive widgets"** because they had accumulated quite a lot, but when I tried to "Update" after deleting them, I got an error and could not delete them.

I do remember that the console was giving

[2021-06-30 15:27] eduard-co commented on #30803
Thank you so much for this!

But, pardon my ignorance. When is this actually gonna ship?

[2021-06-30 15:48] skorasaurus commented on #33073
other examples of this cropping up recently:
https://github.com/WordPress/gutenberg/issues/32467
https://github.com/WordPress/gutenberg/issues/32980

[2021-06-30 15:59] #23718 closed

[2021-06-30 16:21] skorasaurus commented on #24344
Hi,

Thanks for reporting. I'm no longer able to reproduce this on Firefox using a newer version of Gutenberg; as shown in the video below. Please reopen this issue if you are still experiencing this.

https://user-images.githubusercontent.com/955351/123996703-97837600-d99d-11eb-85db-7505757d09c2.mp4