[2021-09-17 13:29] colorful-tones commented on #34741
I'm wrapping up work on a large site that has almost 24 colors, because it has multiple products and each has its own palette.

This would be super useful. Right now the editors are being overwhelmed with a palette of colors.

These conditions may not fall within the threshold of common, but who knows 🤷‍♂️

[2021-09-17 13:46] sabernhardt commented on #34825
The discussion on #19077 gives a few reasons why people might choose not to embed a PDF file, including accessibility concerns and poor mobile support. Even users who like embedding a PDF probably would not want multiple embeds on the same page.

For discoverability, the inline embed option is already at the top of the Block settings sidebar panel. That makes it more findable than the Text link se

[2021-09-17 13:58] lynnbgriffith commented on #34907
Regarding routing, Q's original feedback on the current `Navigation` component is worth revisiting:
https://github.com/WordPress/gutenberg/pull/24107#issuecomment-662578255

In particular, he describes how the requirements for the component align very well with the requirements for a router. The challenge with using React Router directly is that its state management and shared context may block us

[2021-09-17 14:01] karmatosed commented on #34901
@javierarce just to clarify I think there might be some confusion of the wp-admin notices and editor ones - there are different ones. For example, the border to the side is one used in certain cases there. Overall in WP notices need some unification, so I am trying though to work out what after the fixes is left to work on here, could you perhaps pull out a list of what remains to help?

[2021-09-17 14:02] ntsekouras commented on #34556
👋 @maddisondesigns - thanks for creating the ticket.

`Posts List` is indeed a  `Query Loop's block variation` and that's why it's shown in the inserter. This behavior is the same for every variation with `inserter` scope (or nothing as `inserter` is the default) like `Youtube` which is just a block variation of `Embed` block.

`Query Loop` is a quite new block with many enhancements planned for t

[2021-09-17 14:07] karmatosed commented on #33046
I like this idea a lot and it helps now, but even more so as it scales up to have more patterns. Because for me really just having what you offered works design-wise - I am going to remove the needs design label and put this to feedback, but I am very tempted to just move to dev with enough opinions as it seems really useful.

[2021-09-17 14:09] karmatosed commented on #28745
In your view does the icon to the far right with the sidebar do that opening?

[2021-09-17 14:09] javierarce commented on #34901
I hadn't planned anything beyond fixing the issues I described in the first message.

[2021-09-17 14:17] karmatosed commented on #24915
I am unsure if this exactly solves it but I wanted to link in the work by @shaunandrews recently on the document settings in case that might be another angle to this: https://make.wordpress.org/design/2021/09/16/document-status-and-visibility/

[2021-09-17 14:22] javierarce commented on #34778
I added a "Remove selected" from my designs instead of a "Select all" because the new interface could allow selecting items from different types, and with the layout, I proposed there wasn't much space for a "Select all" option. That said, I could rethink that part of my design.

I think the steps could be:

- Design and implement a Welcome Guide
- Design and implement a "Duplicate menu" option
-

[2021-09-17 14:29] karmatosed commented on #34778
I slightly want to see what that could look like but I'm concerned if you are about limited space. I come back to it's an expected path for some users, which is why I would love to not remove it totally.

[2021-09-17 14:32] NasKadir123 opened #34910 "Can't update widgets in 5.8.1, what's wrong?"
### Description

I have a problem with widgets in 5.8.1,
I can't update it using WP admin area, there is a notice:
`There was an error. You're probably offline.`
But if I try to manage widgets in Customizer everything is working and updating. The problem happens only in widgets, I can update posts or pages.

Firstly I thought that it was a problem with my theme, but now I have a clean WordPress an

[2021-09-17 14:35] litill opened #34911 "Word and characters count do not include RichText content if data is stored on the block's comment delimiter"
### Description

I have a custom registered block type that uses the RichText Component with the following attributes settings:

[code]

It stores the contents of the user input on the block's comment delimiter. When the block is set up this way, the WordPress's word counting feature does not inlucde the typed content. When I set the `stepTitle` source to a html element and use it in the save func

[2021-09-17 14:45] karmatosed commented on #34482
+1 for any space that can improve error messages. I really would love not to have any situations where we present three buttons in a row to anyone as a subsequent action.

As I also have experienced attempted recovery rarely (never) working, I wonder if we should even not show it? I understand the use, but it can do more harm, thinking it is an option and then not working. Maybe I am just unlucky.

[2021-09-17 15:16] getdave commented on #22801
@jasmussen I can't even trigger an appender to _appear_ above the first block in the document (see also https://wordpress.org/support/topic/blocks-cant-be-added-at-the-top-of-pages/#post-14847846).

Is this something we ought to introduce? Was it removed? I feel like you worked on this a fair bit a one point and may have some insight 🙇

[2021-09-17 15:30] tjnicolaides commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-09-17 15:34] karmatosed opened #34913 "Links no results found overlaps modal edge on Chrome"
I am seeing the following when finding no results in Chrome:

![2021-09-17 at 16 30](https://user-images.githubusercontent.com/253067/133812715-b1313095-aaf9-43b0-96f5-81f6b1538c82.png)

I think from exploring this is due to the following:

![2021-09-17 at 16 32](https://user-images.githubusercontent.com/253067/133814002-2aa5f0ab-ed67-4aa5-aaea-02cce3661c5d.png)

[2021-09-17 15:42] ktyfuller604 commented on #34602
Encountered a WordPress.com case - the title had three spaces at the end.

[2021-09-17 15:44] getdave opened #34914 "Ability to toggle stack on mobile for inline images"
## What problem does this address?

As seen in [this forum post](https://wordpress.org/support/topic/force-a-wrapped-image-to-stack-on-mobile/) it's easy to align images and text in Gutenberg but then on mobile the alignment breaks down visually.

## What is your proposed solution?
We need a mechanic - similar to the Media Text block - whereby we can tell the inline image to "stack on mobile".

[2021-09-17 15:52] karmatosed commented on #34035
For context here is what it currently looks like:

![2021-09-17 at 16 45](https://user-images.githubusercontent.com/253067/133816761-c4e20cf1-bef7-4ce9-af5f-47f66e29a254.png)

![2021-09-17 at 16 48](https://user-images.githubusercontent.com/253067/133817159-c6268685-f9be-4aad-9b1a-41e5754d78b8.png)

The edges certainly are easier in these examples.

My only issue is how the drop-down auto-closes t

[2021-09-17 16:11] #22908 closed

[2021-09-17 16:11] mkaz commented on #10243
I'd like to see an inline background color, it would be a nice to be able to do a highlight. Right now there is an inline text color, it seems like adding a background in the same would be :+1:

![image](https://user-images.githubusercontent.com/45363/133820167-d2a482fb-c50f-4e0b-98a2-136af5e2f95a.png)

[2021-09-17 16:43] #34177 closed, assigned to nobody

[2021-09-17 16:45] priethor commented on #34747
Closing as duplicate of #33046

[2021-09-17 16:45] #34747 closed, assigned to nobody

[2021-09-17 17:05] github-actions[bot] opened #34930 "[Flaky Test] gallery caption can be edited"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
gallery caption can be edited

## Test path
`/test/e2e/specs/editor/blocks/gallery.spec.js`

## Errors

<time datetime="2021-09-17T17:05:55.074Z"><code>[2021-09-17T17:05:55.074Z]</code></time> Test passed after 1 failed attempt on <a href="https://github.com/WordPress/gutenb

[2021-09-17 17:18] chad1008 opened #34931 "add_theme_support() disabled for some editor options on without theme.json or `experimental-link-color` support"
### Description

Introduced in #34334.

After the above change was merged ([specific commit](https://github.com/WordPress/gutenberg/commit/482650ac91cc7b6ad5b595d563b081c389124759)), themes that do not have a theme.json file _or_ declare support for `experimental-link-color` will fail to load some plugin-based `add_theme_support()` calls. Calls from within the theme's `functions.php` file will sti

[2021-09-17 17:56] karmatosed opened #34933 "Consider moving the new menu link in screen"
This is based on the latest implementation so I am aware that things might change. @javierarce please correct me if I am presuming or missing some context of something already planned.

The biggest issue for me right now is the positioning of the 'new menu'. It feels wrong if you compare it to other topbars.

<img width="1242" alt="01" src="https://user-images.githubusercontent.com/253067/13383086

[2021-09-17 18:04] karmatosed opened #34934 "Creating a new menu from another results in multiple placeholders"
I was testing out creating menus from another today and got this 'interesting' effect of multiple placeholders. I had created a menu that as you can see looks somewhat different from what it renders when you copy it. I assume this might be due to some 'placeholder' content, but I don't think we probably want this output.

![2021-09-17 19 01 32](https://user-images.githubusercontent.com/253067/1338

[2021-09-17 18:22] karmatosed opened #34935 "Top menu select state overlaps word"
I noticed this when exploring the navigation top bar:

![2021-09-17 at 19 17](https://user-images.githubusercontent.com/253067/133835709-a67e6e0d-acc1-4332-ad46-240f6ba6f1c7.png)

If you compare it to the site editor there is a space it seems missing:

![2021-09-17 at 19 21](https://user-images.githubusercontent.com/253067/133835839-f2adf8c1-bc82-4467-af1c-a5924fe4955b.png)

This was in Chrome. My

[2021-09-17 18:24] annezazu commented on #34763
@ellatrix perhaps you have some thoughts to share here!

[2021-09-17 18:31] karmatosed opened #34936 "Template name and description in editor too close together in dropdown"
When you use the dropdown to see the template name and description, both are very close together.

![2021-09-17 at 19 21](https://user-images.githubusercontent.com/253067/133836172-bc7b4b05-ab58-4b39-9869-87b077f90b45.png)

My recommendation would be to just add a single space between them to give some breathing room.

![2021-09-17 at 19 25](https://user-images.githubusercontent.com/253067/1338363

[2021-09-17 18:35] karmatosed opened #34937 "Post terms block shows post not found multiple times"
Whilst showing that a term doesn't exist is great information, I am unsure it's good repeating it. For example, you can have the following if you view default TT1:

![2021-09-17 at 19 32](https://user-images.githubusercontent.com/253067/133837236-3559bdb5-fe18-487b-a06e-cd8b9db606d0.png)

My recommendation would be to only show once this message as it seems to not require multiple instances. I thi

[2021-09-17 18:56] macmanx2 commented on #34602
The issue reported at https://wordpress.com/forums/topic/project-wont-show/ regarding https://elisecutoneportfolio.wordpress.com/portfolio/maui-food-bank/ seems very similar, but I'm not seeing any replacement characters.

[2021-09-17 19:53] mreishus commented on #33712
I've discovered the mechanism here, but I don't have a fix. I've been examining these two commits:
* ee5ef07779 - last bug-free version
  * rich-text: [index.js](https://github.com/mreishus/gutenberg/blob/ee5ef07779d7c77ce047921b1a1d6e303ebd3386/packages/rich-text/src/component/index.js#L500) | use-input-and-selection.js doesn't exist yet
* 1929e283c15a - first version with bug
  * rich-text: [ind

[2021-09-17 19:59] guarani opened #34938 "Text formatting mode lost after backspace is used"
## Description
If the user has formatting ON (e.g. bold) and types text, then deletes a portion of it, the formatting is turned OFF as soon as the backspace key is tapped.

## Step-by-step reproduction instructions
1. In a paragraph block, turn on bold
2. Type some text, notice that the text will be bold as expected
3. Delete the last character(s)
4. Again type text, notice that the new text is no

[2021-09-17 20:12] skorasaurus commented on #24931
no longer blocked due to https://github.com/WordPress/gutenberg/pull/34536 ; 5.7 is the minimum version now

[2021-09-17 22:09] NasKadir123 commented on #34910
I downgraded to 5.8 version and now widgets can be updated, it's ridiculous, I also asked to try to my friend and he have the same error. When WordPress team makes updates does they check and test what they did?

[2021-09-18 05:05] maddisondesigns commented on #34556
@ntsekouras Thanks for explaining that. My main concern is that it's confusing for users when you select one block (Posts List) and it inserts a completely different block (Query Loop).

I can understand why it's done and having a pre-configured block makes sense to make it easier for users, but the way it's done at the moment, makes it confusing.

You mention that other blocks currently work in s

[2021-09-18 05:18] hacchism commented on #34602
Encountered another WordPress.com site with the issue. Editing a post title with "Quick Edit" worked like a charm.

[2021-09-18 09:17] ntsekouras commented on #34556
Makes sense @maddisondesigns ! I understand the issue here and is not an easy one to solve well.

Noting that there are already some discussions about this and the road map for `Posts List` and in general the handling of `Query Loop` and its block variations.

So I'll close this one in favor of the existing: https://github.com/WordPress/gutenberg/issues/32268. Check it out and follow that one, for

[2021-09-18 09:17] #34556 closed, assigned to nobody

[2021-09-18 15:18] NasKadir123 commented on #34910
Finally, it was my hostings issue, they blocked something on my server and now everything is fine.

[2021-09-18 15:18] #34910 closed, assigned to nobody

[2021-09-19 03:00] kuropixel commented on #34602
Another WordPress.com site experiencing this issue. Editing with "Quick Edit" is the easiest solution.

[2021-09-19 08:20] landwire commented on #34575
I have exactly the same problem and it obviously breaks all my websites. The use of !important with the font-sizes, destroys my carefully crafted responsive typo styles. I happily would like to use a theme.json file for other stuff, so maybe it would be possible to either remove the "!important" or add a filter in "class-wp-theme-json-gutenberg.php" that you can remove it with.

[2021-09-19 08:41] landwire commented on #34782
The use of !important in Gutenberg interferes more and more with my theme styling, where I am trying to keep the specificity as low as possible.

I think the main issue here is your point: "or that it's hard for themes to override styles".
In my view the problem is however not that much, that it is hard to override styles, but mainly that Gutenberg is overriding carefully crafted theme styles for

[2021-09-19 08:55] landwire commented on #34575
Another option obviously would be adding the possibility to use responsive sizes like so:

[code]

Created CSS vars:
--wp--preset--font-size--normal: 18px;
@media screen and (min-width: 600px) { /* tablet is 600 */
  --wp--preset--font-size--normal: 16px;
}
@media screen and (min-width: 980px) { /* desktop is 980 */
  --wp--preset--font-size--normal: 18px;
}
etc.

Ideally the mobile, tablet, deskt

[2021-09-19 14:15] apmeyer commented on #19041
Being able to swap in new icons (or add custom icons) via the theme.json file would be a handy solution.

[2021-09-19 15:06] mkkeck commented on #19041
In my last version of my ghist, there is now required a json object `socialServices`. I don't know if it runs from inside theme.json, because if Gutenberg parses this also and then may be crashed. I will make a test soon.

[2021-09-19 17:59] nerra0pos commented on #2515
Is there any update to this? We switched from another software to Wordpress. That software used a markdown editor and pasting external images into posts were instantly uploaded. Amazing that is not the case in Gutenberg, yet.

[2021-09-19 19:19] paaljoachim opened #34939 "Documentation: How to add a block to an existing plugin."
## What problem does this address?

There are many plugins that might add a shortcode to display something on the Frontend. This means that one could add the shortcode to the Shortcode block.

## What is your proposed solution?

Instead of adding a Shortcode block it would be helpful to add a block that could output into the Backend and Frontend as well as use the toolbar in the Backend to control

[2021-09-19 22:18] glendaviesnz opened #34940 "Gallery block: duotone settings lost between transforms"
### Description

With the refactored gallery block, when duotone is set for an image, this setting is lost of the Gallery is transformed to a different format, and does not return if the transform is undone.

It may not be possible to do anything about this as it will most likely be dependent on the block being transformed to being able to support duotone - but should at least work when transformi

[2021-09-19 22:36] glendaviesnz opened #34941 "Gallery block: mulitple undo clicks required to revert transform"
### Description

If a gallery block is transformed to or from a different gallery block multiple clicks on the Undo button are required to revert the transform.

[2021-09-19 23:22] richtabor opened #34942 "Use block icons on the Global Styles "Block Types" interface"
## What problem does this address?
We leverage block icons everywhere, but in the current Global Styles "Block Types" panel, we're not.

<img width="744" alt="Screen Shot 2021-09-19 at 7 14 27 PM" src="https://user-images.githubusercontent.com/1813435/133946006-16467689-0afd-4b48-8a1d-25be4b90599a.png">

## What is your proposed solution?
Consider adding the block icons to the left of the labels f

[2021-09-19 23:31] richtabor opened #34943 "Consider Group blocks to be removed if all child blocks are removed"
## What problem does this address?
Empty Group blocks are difficult to select and can cause "holes" in a page's design that are hard to identify (as they are invisible when empty and not selected).

## What is your proposed solution?
Consider Group blocks to be removed if all child blocks are also removed, as:

1. There is no purpose for empty Group blocks on a page
2. They cause the problems abov

[2021-09-19 23:35] richtabor opened #34944 "Should customTemplates and templateParts use "slug" instead of "name"?"
Should customTemplates and templateParts use`slug` instead of `name` like we do for colors/fonts/gradients/etc? Name and title are confusing, as `name` technically acts like a slug but was perhaps derived from file _name_?

Just a thought on a discrepancy that could make this mechanism a bit more clear.

[code]

### To this instead:
[code]

[2021-09-20 00:21] #34096 closed, assigned to andrewserong

[2021-09-20 00:26] #34099 closed, assigned to andrewserong

[2021-09-20 00:55] ramonjd commented on #34706
It might just possible! Regardless, I think it's a great compromise and worth a shot. Thanks for the suggestion and the design concept image. 🙇

[2021-09-20 02:57] talldan commented on #34943
I think there has been similar feedback and a similar issue for the button block too. Would definitely be good to explore 👍

[2021-09-20 03:05] talldan commented on #34901
related - https://github.com/WordPress/gutenberg/issues/33853

There's actually no implementation of a blue info notice at the moment, so that might be something to address alongside the styling fixes.

[2021-09-20 03:23] talldan commented on #34859
The editor will definitely need some preferences at some point for things like 'Top toolbar'.

I'm not sure all the options from the current menu editor screen to be replicated. The block editor already uses the inspector sidebar for secondary block settings and I don't think those things need to be enabled or disabled. It's more of a problem in the current menu screen where they take up precious

[2021-09-20 03:25] talldan commented on #31241
Could be good to close this if the only task left is now tracked by another issue.

I think #34859 needs prioritisation on the tracking issue and some design feedback. IMO, it's probably not a blocker for removing the experimental flag (the widget editors also had no settings while live in the Gutenberg plugin).

[2021-09-20 04:47] t-hamano commented on #32966
Nice to meet you.
Related to this issue, the CSS added by `add_editor_styles` is not being applied to the **Custom HTML Block** when previewing.

The reason is that the styles property has been removed in `getSettings` and `getEditorSettings`, and empty styles are passed to the SandBox component.

https://github.com/WordPress/gutenberg/blob/wp/5.8/packages/block-library/src/html/edit.js#L39

Is th

[2021-09-20 05:28] talldan commented on #34782
Yes, sorry, this phrase probably isn't widely known. It means low code quality—generally something that adds overhead for those contributing to the project, something that is likely to cause a bug, or something that results in another unwanted implication. Use of `!important` is usually considered an anti-pattern, so I was wondering if this was a code quality metric for the code base.

@mkkeck Wha

[2021-09-20 05:46] mkkeck commented on #34782
@talldan

Perhaps of course we had miscommunication. Sorry for that.

Perhaps you've seen my referenced issues.
There some CSS wich have really effect on themes.

I know, that there's lot of CSS wich may not effect a theme, and that these CSS is for the interface.

But CSS from interface should not have any effect on themes, see my referenced issues.

[2021-09-20 05:57] talldan commented on #34769
My understanding is that two adjacent tags like that will be merged, it's the expected behavior.

What's the use-case for having two separate tags?

[2021-09-20 05:57] #18395 closed

[2021-09-20 06:14] jasmussen commented on #34943
Works so well in Figma! A question to ponder, though: if you start by inserting a group block, then deselect and save the page, what happens then? Arguably what makes it work in Figma is that the group is mostly an organizational tool secondary to the content.

[2021-09-20 06:15] jasmussen commented on #34686
CC: @mkaz in case you'd want to pair on this one, or have additional context.

[2021-09-20 06:22] mtias commented on #10243
Work in progress: https://github.com/WordPress/gutenberg/pull/34680

[2021-09-20 07:18] talldan commented on #30007
It's worth updating the issue here with the results from exploring #34784. Theme.json doesn't sound like the right path forwards. The `block.json` has been proposed has been proposed as an alternative.

Continually re-auditing (like we did in https://github.com/WordPress/gutenberg/issues/30007#issuecomment-853748737) seems like a good idea, because things have moved on since this was last assessed

[2021-09-20 07:31] MD-sunilprajapati commented on #34769
yes, it expected behaviour, but it should be also merge in prevPros attribute content. right now, it get merged on render, but if we check same block content in prevProps, it saparated.

[2021-09-20 07:33] Mamaduka commented on #31241
I agree with @talldan that we can close this one. The "Preference" panel issue doesn't need to have high priority.

[2021-09-20 07:34] Mamaduka commented on #34032
Hi, @vcanales

I just wanted to check if you have availability to work on this fix? Otherwise, I'm happy to take over.

[2021-09-20 07:42] talldan commented on #31667
I think these mock-ups look really good. It's great to see the iteration happen. Thanks for being so receptive to feedback @javierarce.

My instinct here is that a lot of users will have a good amount of content and prefer using the search box, typing a few letters to get to the item they want. But then again I also expect users will mostly want to add pages. These are assumptions, it'd be a reall

[2021-09-20 08:20] jasmussen commented on #22801
I'd love to see an inserter between the title and the first block. I think it's likely not as simple as it sounds, if the proper tabbing flow is to be kept. That's the only thing I recall being challenging in the past.

[2021-09-20 08:30] jasmussen commented on #34041
The flow outlined here is definitely weighted towards the simpler flow, with unlocking the more advanced flow intentionally reduced in prominence. The reason I went with "transform" for now, and I sense part of why it was suggested in the ticket, is that this is an interface that deserves improvement across all blocks. Even the basic flow of transforming a paragraph to a heading could use a little

[2021-09-20 08:43] jasmussen opened #34950 "Duotone/Filters: Add option to set on entire gallery"
The new Gallery block (which needs to be enabled from the experiments screen at time of writing) comes with the ability to apply duotone filters to individual images inside the gallery. You can also apply the effect to multiple images by shift-selecting them:

![multiselect](https://user-images.githubusercontent.com/1204802/133975912-748bd3bc-f7c9-4f56-8def-437e5ee6d149.gif)

As a shortcut to addi

[2021-09-20 08:44] jasmussen commented on #31373
Created a new separate issue for adding a duotone shortcut to the Gallery block: #34950

[2021-09-20 08:49] #33456 closed, assigned to oandregal

[2021-09-20 08:50] hypest commented on #34938
Possibly also related: https://github.com/wordpress-mobile/gutenberg-mobile/issues/2055

[2021-09-20 09:05] spacedmonkey commented on #34859
To give some context here, when I used to work on client sites, I used to go through any site and hide lots of the options the client would not use or and would find confusing. Hide sections is not only able screen space, it is a way to stream line the editor, to not confuse users. I flag this, as I can't have only been person to do this.

There also just needs to be a way to hide and show section

[2021-09-20 09:58] jasmussen commented on #34780
I took a stab at improvements in #34954.

[2021-09-20 10:14] ehti commented on #34100
It would be great to have this solution incorporated.

When the list doesn't go away, no matter if you're pressing delete/backspace or 'unselect' it from the tool bar, it can become a bit frustrating. 🙂

[2021-09-20 10:28] carolinan commented on #34937
I think the title confused me; The post term block does not display the message twice, correct?
But the theme has two post terms blocks, one for the tags and one for the categories.

Inside a loop, it correctly displays "No tags" and so on.

[2021-09-20 10:32] getdave commented on #30007
Allow me to summarise where I feel we are at with this exploration.

My current take is that **Gutenberg does not (yet) have any APIs that will allow us to systematically and reliably configure the Nav block** in a way which accommodates [all of its features](#issuecomment-922687630) as outlined by Dan.

Moreover, there is **no way (that we've been able to uncover) to do this on a _per editor basi

[2021-09-20 10:37] jameskoster commented on #28745
The one on the left of the breadcrumb bar, yes :)

[2021-09-20 11:03] talldan commented on #30007
I missed some of the comments here, so apologies for the late replies.

I do think this is a valid option, and something I feel would solve a lot of problems. For some background, I created https://github.com/WordPress/gutenberg/issues/30006 and https://github.com/WordPress/gutenberg/issues/30007 to explore alternatives to that option, because it is quite a big step.

My concern is that there's st

[2021-09-20 11:04] mavinothkumar opened #34958 "Post Status is not updating in Gutenberg Editor"
### Description

Hi,

In Gutenberg Editor, the post status (original_post_status) is not updating as expected. The hidden input **original_post_status** value is not properly update based on the post status update action. Whenever, we publish the post first time and with out refreshing the post the original_post_status value is not updating.

### Step-by-step reproduction instructions

1. Go to Po

[2021-09-20 11:23] jameskoster opened #34959 "Headings in the site editor navigation sidebar"
At some point it seems that a regression has occurred with the appearance of headings in the site editor navigation sidebar. We currently have two different styles:

<img src="https://user-images.githubusercontent.com/846565/133994374-2983591d-df8b-4003-bd58-0a61a93dcbf2.gif" width="284">

Looking back at the original designs, the [titleSmall](https://github.com/WordPress/gutenberg/blob/570678931a

[2021-09-20 11:43] oandregal commented on #34931
Fix for this at https://github.com/WordPress/gutenberg/pull/34955

[2021-09-20 11:52] ceyhun commented on #33593
Thanks @fluiddot 🙇 I was able to reproduce following these instructions 👍

[2021-09-20 12:17] karmatosed commented on #34943
I also totally agree if you have added content and then removed it, an empty group block doesn't make sense. Can the group block be aware though of the state either being that it did contain content or was being used as a placeholder by just being added? That I feel is what is being suggested by you sort of @jasmussen where someone might just add blocks to a page?

[2021-09-20 12:39] karmatosed opened #34961 "Hide theme locations for menu if none available"
Not all themes have theme locations for menus. However, the location menu area in the sidebar seems to show even if there aren't any available.

![2021-09-20 at 13 37](https://user-images.githubusercontent.com/253067/134003524-8150208d-1acd-4b82-a10e-d9f2bd7bd983.png)

I would recommend either showing a notice saying this is due to the theme - it just says 'none available' or just don't show unles

[2021-09-20 12:43] karmatosed opened #34962 "Only show one + at a time on link adding"
It can get very confusing within in the link adding interface if you have more than one + showing, for example:

![2021-09-20 at 13 41](https://user-images.githubusercontent.com/253067/134004053-2c9fee46-d35b-4f85-9c7c-519cd499af4e.png)

I saw this on Chrome adding a submenu and hovering over the item below where that is. My recommendation would be to only allow one + at a time.

[2021-09-20 12:44] karmatosed commented on #34942
+1 to use these if we are showing the blocks we should also show block icons. However, I also ponder if this screen is having some work done on it as part of the new sidebar work so @jasmussen I wonder if you have some context there?

[2021-09-20 12:54] getdave commented on #31241
Ok I"m going to close this one out. @javierarce let us know of any follow ups that you'd class as `High`.

[2021-09-20 12:54] #31241 closed, assigned to nobody

[2021-09-20 12:55] Mamaduka commented on #34936
Thanks for creating this issue. Missing space has been bugging me for a while now, but I always forgot to create PR.

What do you think about the `4px` margin-left on the description element?

[2021-09-20 12:57] getdave commented on #31667
Love this iteration and team work.

My only concern is that to me at least the search bar is less prominent than the filter dropdown. In fact for a while I assumed the dropdown _was_ the free text search bar. I wonder if we can reverse the visual emphasis somehow?

Also will the panel be triggered from the global inserter toggle button?

Assuming there aren't going to be a major changes of directi

[2021-09-20 13:04] rickmgithub commented on #34602
Another site experiencing the same issue. I also found editing the title using quick view worked.

[2021-09-20 13:08] jasmussen commented on #34942
I've been watching along the sidelines of #34574 how the inspector layout has been evolving since the initial version that landed as part of #18667. One of the things emerging so far appears to be the ItemGroup panel, which could for example [group a stack of color swatches together](https://github.com/WordPress/gutenberg/issues/33820#issuecomment-915081540), as well as the ability for the interfa

[2021-09-20 13:49] javierarce commented on #31667
Thanks all for your comments and great feedback!

Let me show you the latest iteration (also [accessible here](https://www.figma.com/file/xvnD8SOGhQYvnHJLGXYWGJ/?node-id=684%3A0)) and then I'll address some of your comments:

![image](https://user-images.githubusercontent.com/4933/134011026-5b79a43d-1591-44d2-a8e4-da26ddedfe9d.png)

After thinking for a while about how to better integrate the "Sel

[2021-09-20 13:57] #34935 closed, assigned to Mamaduka

[2021-09-20 14:24] pooja-muchandikar opened #34963 "Post Date Block: Shows Invalid date in Format Settings if calendar is reset."
### Description

In post date block there is edit option for the block, if accidentally someone's reset the calendar there is no way in the block settings to add another date. There should be edit option for block to select the dates again.

### Step-by-step reproduction instructions

1. Go to any post > click on Add New
2. Select the Post date block, on selecting the date block current date will

[2021-09-20 14:25] #24519 closed

[2021-09-20 15:07] Mamaduka commented on #34590
I think we can pass the whole `attributes` object directly into the `createBlock` leave unsupported attribute removal to the sanitization function.

https://github.com/WordPress/gutenberg/blob/4474d01bc88d7ee4edadbf3227852e43e141fb56/packages/blocks/src/api/factory.js#L47-L51

[2021-09-20 15:08] #34931 closed, assigned to oandregal

[2021-09-20 15:14] t-hamano commented on #32966
I confirmed that the styles were returned in #28165.
Please ignore my comments.

[2021-09-20 15:20] getdave commented on #31667
@javierarce Here's an example of how many tabs we could end up with _by default_ if we were to enable Patterns and Reusable blocks in this editor in the future.

<img width="883" alt="Screen Shot 2021-09-20 at 16 19 17" src="https://user-images.githubusercontent.com/444434/134028002-ed1cdfd1-44d7-4eb5-9c42-b88f2078dce8.png">

[2021-09-20 16:28] #34780 closed, assigned to jasmussen

[2021-09-20 17:01] #33593 closed, assigned to fluiddot

[2021-09-20 17:03] snovosel opened #34965 "RaneControl block triggers onChange event during mouseMove event when focused in safari"
### Description

When working in safari browser (desktop), clicking the arrows within the RangeControl component will correctly trigger  an onChange event, however subsequent mouseMove events above said RangeControl arrow elements will continue to trigger onChange events.

It looks like the RangeControl component ultimate renders an input of type number. I've looked and it doesn't seem that this i

[2021-09-20 17:11] MadtownLems opened #34968 "Improve the Contrast Accessibility Warning"
## What problem does this address?

The Block Editor provides a great warning when background/text colors lack sufficient contrast to be easily readable, but could perhaps be improved to specifically call it out as an "Accessibility"-related issue.  We have been educating and pressing our content providers hard to improve the accessibility of their content, and I think that using that word here sp

[2021-09-20 17:46] MadtownLems opened #34971 "Always show the "Add block" button at the end of the content"
## What problem does this address?

When the last block in a piece of content is a Paragraph, the "Add block" ( + sign ) is not displayed, like it is when any other type of block is at the end of the content. It doesn't matter where your cursor is.

![paragraph-at-end](https://user-images.githubusercontent.com/945157/134048634-323537b2-45be-4f3d-8915-76f36709de56.png)

![image-at-end](https://user

[2021-09-20 18:19] gwwar commented on #34310
This one should be fixed by https://github.com/WordPress/gutenberg/pull/34519

[2021-09-20 18:19] #34310 closed, assigned to gwwar

[2021-09-20 19:45] ghost commented on #20873
Please, reconsider the chosen icon.

Problem:
When "light/dark mode" is an icon instead of a toggle, websites and applications choose this icon to indicate "light/dark mode".

Settings regarding "design, appearance and styles" commonly are represented on projects by a brush icon or a color palette.

Even though this new feature, Global Styles, has a larger scope than what WordPress used to offer,

[2021-09-20 19:47] karmatosed opened #34976 "Search block: Consider update width as drag"
This might not be easy to implement, but one thing struck me as I used the search block, was how it would be even more useful if the width updated as I dragged on resize. This was on Chrome.

![2021-09-20 20 43 48](https://user-images.githubusercontent.com/253067/134065422-9e1cda9e-d376-4d72-910a-3f9ed4a208e7.gif)

[2021-09-20 20:13] annezazu commented on #34968
Thanks so much for opening this up! This seems like a great improvement. What would you like to see for a trusted resource? I think it would be great to link to one.

[2021-09-20 20:39] ryelle opened #34977 "Query Loop: Add custom taxonomies to the Filters options"
## What problem does this address?

Currently, you can add a Query Loop block for any post type with REST API support, but the only taxonomies you can use to filter are categories and tags, not custom taxonomies. For example, on WordCamp.org, we have "Speakers", with a custom taxonomy "Speaker Groups". When I add a Query Loop with the Speakers post type, I'd expect the Speakers Group to show up in

[2021-09-20 20:42] gwwar commented on #34041
I'll investigate some additional transforms for the navigation link

Added https://github.com/WordPress/gutenberg/pull/34978

[2021-09-20 21:06] skorasaurus commented on #31986
I think there's some unclear expectations what values are expected for theme.json which could be minimized, in part by better documentation.

Some objects' values in theme.json expect arrays; other objects' value expect binary true/false;

[Null is a valid value for JSON](https://stackoverflow.com/questions/21120999/representing-null-in-json), [additional reference source from json.org](https://ww

[2021-09-20 21:08] cuemarie commented on #34602
Encountered today on a site where the user copied and pasted the title from Microsoft Word. Solved by removing OBJ symbol in Classic View -> Quick Edit.

[2021-09-20 21:09] karmatosed commented on #31667
Thanks for iterating @javierarce. My biggest concern is that I’m unsure we have a pattern for ‘all’ being under the more dots in other places. Whilst it is used for showing options, this reads a little more like a filter. I know that’s not the easiest, though.

I don’t know an easier way of doing this, but I tend to go back to the rather clunky ‘select all’ being exposed. I am sure that’s not the

[2021-09-20 21:12] MadtownLems commented on #34968
I'm not an expert, but this looks good to me
https://webaim.org/articles/contrast/

[2021-09-20 21:17] #29217 closed

[2021-09-20 22:30] glendaviesnz commented on #34881
One option for taking the block out of experimental, while avoiding issues with legacy sites that have `useBalanceTags` set would be to replace the experimental flag with a check for `useBalanceTags`, eg. https://github.com/WordPress/gutenberg/pull/34979

[2021-09-21 00:44] stokesman commented on #9009
I've put together a PR (#34893) that should resolve this and it can be tested out at http://gutenberg.run/34893. I'd appreciate any feedback.

[2021-09-21 01:01] stokesman commented on #34965
Thanks for reporting this @snovosel. It seems like a duplicate of #32497 so I'll close it as such but do let me know if you think this is a separate issue.

[2021-09-21 01:01] #34965 closed, assigned to nobody

[2021-09-21 01:09] stokesman commented on #32497
I'd checked in to this at the react-use-gesture repo and it seems to be a Safari bug. There's a simple workaround https://github.com/pmndrs/use-gesture/issues/318#issuecomment-864354473 but if I recall correctly it's not available in the current version of the library. Our easiest option for fixing this seems to be wait until the beta version is stable, upgrade and then use the new setting.

[2021-09-21 01:39] fransonwu commented on #21886
I like this idea too. how to contribute for this idea?

[2021-09-21 02:24] cuemarie commented on #34602
Another report of this, same cause: copying and pasting the post title over from MS Word.  User couldn't see the OBJ symbol in Classic View, using Safari.
I had them clear out the title and retype anyway, and that removed the symbol (however the OBJ was still part of the slug and needed to be removed from there as well).

[2021-09-21 03:29] carolinan commented on #30642
This seems to be related to using the CSS presets from theme.json to create the gradients.
In the site editor, in the global styles sidebar, and in the template editor, the presets are not available in the control because the presets are loaded in the iframe.

[2021-09-21 03:40] carolinan commented on #31986
There has been changes made since July 26:
https://github.com/WordPress/gutenberg/pull/34420
https://github.com/WordPress/gutenberg/pull/33280

[2021-09-21 04:22] carolinan commented on #34883
I believe this happens when the navigation block has links to posts or pages that does not exist on the site we are currently on.

This can be reproduce by adding a navigation link with a random ID that does not exist on the current website:

[code]

[2021-09-21 04:52] mkevins commented on #34881
Hi Glen :wave: :smile:

The version that has forward compatibility on the WordPress mobile apps is 18.2 (for both WordPress Android, and WordPress iOS). Regarding timelines, if we use version 18.1 as an indicator to track adoption, that was released on September 3rd, and currently has adoption ~90% on iOS, and ~80% on Android. If we assume similar roll out for the 18.2 release, we'd have the major

[2021-09-21 05:00] mhsohag11 opened #34982 "Multiple RichText with same tagName making conflict"
### Description

I have adde two RichText block with same tagName. Everything is fine and data also saved properly. But when I reload the page , console error have been showing with this message ( **This block contains unexpected or invalid content.**)
If I used different tagName for both RichText no problem occurred .
Codes :

`
import { registerBlockType } from '@wordpress/blocks';

import {

[2021-09-21 05:45] ramonjd commented on #34120
The [Cover block defines an innerBlocks template](https://github.com/WordPress/gutenberg/blob/c5a842aab91b53c646cf9f45c387e4ce225b887b/packages/block-library/src/cover/edit.js#L77), explicitly setting the `fontSize` attribute to `'large'`.

[code]

The block support hook detects the existing `fontSize` attribute and adds the class automagically.

It looks as though we generate the className `has-l

[2021-09-21 05:48] ramonjd commented on #34120
The the customFontSize setting applies to the paragraph block so maybe we could do this in the [fontSize](https://github.com/WordPress/gutenberg/blob/a7e2895829c16ecd77a5ba22d84f1dee1cfb0977/packages/block-editor/src/hooks/font-size.js) hook, which is where the props are extended according to any activated block support rules.

This assumes that:
1. It's a good idea
2. We can dive into the setting

[2021-09-21 06:05] andrewserong commented on #34120
Thanks for digging into this one @ramonjd!

Instead of manipulating the fontSize hook, I was wondering if we could do something like having two separate `INNER_BLOCKS_TEMPLATE` constants in `cover/edit.js` and switch the one we're passing in to `useInnerBlocksProps` based on the result of `useSetting( 'typography.customFontSize' );`?

So, perhaps something along the lines of `template: hasCustomFo

[2021-09-21 06:06] mkevins commented on #29882
This is a great list @glendaviesnz ! Many of these are relevant to mobile as well, so I'll make a mobile checklist as well (deleting things that aren't relevant, e.g. drag and drop), and adding a few things for the remote flag.

# Mobile Testing Checklist

This issue is meant to be a living checklist of things that require testing.

#### The Gallery New Format Feature Flag
- [ ] Test the setting f

[2021-09-21 06:33] talldan commented on #24642
I think the `types` one loads as a side effect of the 'stub' navigation post entity that @adamziel implemented - because it's a `postType` entity it causes them to be fetched.

It should go away if https://github.com/WordPress/gutenberg/pull/34839 makes it in.

edit: worth noting that `postTypes` are still fetched when the block placeholder is displayed for the 'Add all pages' option, so it could

[2021-09-21 08:27] Soean commented on #9457
@cricalix No progress so far.You can start working on a solution if you like.

[2021-09-21 08:29] getdave opened #34987 "Pass filter value when clicking Browse All in Nav Editor screen"
Let's port over change from https://github.com/WordPress/gutenberg/pull/34912 which allows the search value to be passed over to the inserter when "Browse All" is triggered. THis saves the user from having to re-type their search query.

[2021-09-21 08:30] getdave commented on #34987
Add to the [Tracking Issue](https://github.com/WordPress/gutenberg/issues/29102) under `Normal`.

[2021-09-21 08:46] ramonjd commented on #34120
Ah yes, I didn't think of this. Brilliant, thank you. I was fixated on the individual block's support, rather than the theme when considering an in-block approach. I'll try this out!

_Edit_: it ended up being the `fontSizes` array that we needed to check.

[2021-09-21 09:01] youknowriad commented on #34574
Just wanted to update quickly here on the progress:

 - The sidebar has a new icon now.
 - We also introduced the navigation system in #34885 it's using the old Navigation components but we're considering switching to new simpler components that offer more UI flexibility in #34904

[2021-09-21 09:18] talldan commented on #34440
This is supposed to be supported, but it does seem like a bug has crept into the navigation block.

I registered a custom 'Books' post type, and this is what I see in the inserter:
<img width="343" alt="Screenshot 2021-09-21 at 5 16 45 pm" src="https://user-images.githubusercontent.com/677833/134145325-767213dc-409a-431b-8e86-f0ab9b82700d.png">

There are two Post Link block variations! I'm pretty

[2021-09-21 09:35] carolinan opened #34989 "Add a visually hidden label to the search block"
## What problem does this address?

The search block has an option to toggle the form label on and off.
Turning it off removes the label completely. This results in a lack of context for non sighted users.

Read more:
https://github.com/WordPress/gutenberg/pull/24666#issuecomment-687835520
https://dequeuniversity.com/rules/axe/3.3/label

## What is your proposed solution?

Instead of removing it c

[2021-09-21 09:47] getdave commented on #34399
@spacedmonkey I collated the proposed solutions under `What is your proposed solution?` above. Do you agree with them?

[2021-09-21 09:51] talldan commented on #34440
Did some more digging, and I've changed my mind, I don't think this is a regression, but just a shortcoming of how the block variation's title is handled:
https://github.com/WordPress/gutenberg/blob/44062c586af16dcb0c7ae376f38d2de16b2ed81c/packages/block-library/src/navigation-link/index.php#L258-L263

A lot of variations probably won't have an `item_link` property, but from what I recall the cust

[2021-09-21 09:54] spacedmonkey opened #34992 "Improve unit test coverage for REST API menus endpoints."
## What problem does this address?
#### Background
The menus endpoints, menu, menu locations and menu items were originally worked on by @spacedmonkey and developed in [another](https://github.com/WP-API/menus-endpoints) github repo. These endpoints, were merged into this plugin in https://github.com/WordPress/gutenberg/pull/20292.

Now that the menus endpoints are being used for the menu screen.

[2021-09-21 10:16] SantosGuillamot opened #34994 "Comments Loop Block: Tracking issue"
## Description

The idea of this issue is to end up with a Comments Loop Block (name may change) that loops over the comments of a given post. This would be similar to the [Query Loop](https://github.com/WordPress/gutenberg/tree/trunk/packages/block-library/src/query) used for posts. Users should be able to define and change the layout of the post comments directly from the Gutenberg editor, and b

[2021-09-21 10:18] spacedmonkey opened #34995 "Improve navigation screen loading state"
## What problem does this address?
When loading menus with lots many menu items it, there is no loading state and there is indication to the user that something is happening. See video below. We should indicate to the user that the menu is loading.

https://user-images.githubusercontent.com/237508/134154079-222d03ef-3899-4b9b-9030-135eed089b23.mov

## What is your proposed solution?

[2021-09-21 10:24] Mamaduka commented on #34976
A similar feature was merged for Image block recently - #34649.

[2021-09-21 10:27] SantosGuillamot opened #34996 "Comments Query Loop block"
## Description

An advanced block that allows displaying the comments of a specific post based on different parameters and visual configurations. It should be similar to the [Query Loop block](https://wordpress.org/support/article/query-loop-block/).

This block is part of the Post Comments Loop block, for more context please visit this [Tracking Issue](https://github.com/WordPress/gutenberg/issue

[2021-09-21 10:29] scruffian opened #34997 "Query Pagination: Control the layout when next/previous buttons are not displayed"
## What problem does this address?
The new layout controls in the query pagination block give us the ability to align the next/previous buttons, which is super helpful, but when there are fewer posts on a blog, these next/previous links aren't output which means the page numbers can jump around a bit, for example:

<img width="679" alt="Screenshot 2021-09-21 at 11 07 19" src="https://user-images.g

[2021-09-21 10:34] spacedmonkey opened #34999 "Lots of calls to menu item REST API after saving menu."
### Description

Follow up ticket from https://github.com/WordPress/gutenberg/pull/34541 and this [comment](https://github.com/WordPress/gutenberg/pull/34541#issuecomment-922555964).

When after saving a menu with lots of menu items ( say 500 ), the navigation editor, makes a REST API request, for every single menu item updated. This results in over 500 REST API calls. Sadly, this may take down si

[2021-09-21 10:34] SantosGuillamot opened #35000 "Comments Template block"
## Description

Contains the block elements used to render a comment, like the content, date, or author for example. This should be similar to the [Post Template block](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/post-template/).

This block is part of the Post Comments Loop block, for more context please visit this [Tracking Issue](https://github.com/WordPress/gut

[2021-09-21 10:39] SantosGuillamot commented on #30572
Hello! 👋   I would like to wrap up all the issues related to the Post Comments block to start working on a Comment Loop block as explained in [this tracking issue](https://github.com/WordPress/gutenberg/issues/34994). I'd like to make a quick summary to ensure we are aligned on this one:

## Description

Add the author of the specific comment.

## Potential Settings

- **Typography**: It should be

[2021-09-21 10:41] SantosGuillamot commented on #30573
Hello! 👋   I would like to wrap up all the issues related to the Post Comments block to start working on a Comment Loop block as explained in [this tracking issue](https://github.com/WordPress/gutenberg/issues/34994). I'd like to make a quick summary to ensure we are aligned on this one:

## Description

Add the date of the specific comment.

## Potential Settings

- [x] **Typography**: It should

[2021-09-21 10:43] SantosGuillamot commented on #30574
Hello! 👋   I would like to wrap up all the issues related to the Post Comments block to start working on a Comment Loop block as explained in [this tracking issue](https://github.com/WordPress/gutenberg/issues/34994). I'd like to make a quick summary to ensure we are aligned on this one:

## Description

Displays the content of the comment.

## Potential Settings

- **Typography**: It should be th

[2021-09-21 10:47] SantosGuillamot commented on #30575
Hello! 👋   I would like to wrap up all the issues related to the Post Comments block to start working on a Comment Loop block as explained in [this tracking issue](https://github.com/WordPress/gutenberg/issues/34994). I'd like to make a quick summary to ensure we are aligned on this one:

## Description

Adds the author avatar of the specific comment.

## Potential Settings

- **Image Settings**:

[2021-09-21 10:50] SantosGuillamot commented on #30576
Hello! 👋   I would like to wrap up all the issues related to the Post Comments block to start working on a Comment Loop block as explained in [this tracking issue](https://github.com/WordPress/gutenberg/issues/34994). I'd like to make a quick summary to ensure we are aligned on this one:

## Description

Displays a link to reply to a comment.

## Potential Settings

- **Typography**: It should be

[2021-09-21 10:52] SantosGuillamot commented on #30577
Hello! 👋   I would like to wrap up all the issues related to the Post Comments block to start working on a Comment Loop block as explained in [this tracking issue](https://github.com/WordPress/gutenberg/issues/34994). I'd like to make a quick summary to ensure we are aligned on this one:

## Description

Displays a link to edit the comment in the WordPress Dashboard. This link is only visible to A

[2021-09-21 10:57] SantosGuillamot commented on #24101
Hi there! Really nice work done here 👏

I'd like to retake it and create a Post Comments Loop block, similar to the current [Query Loop block](https://wordpress.org/support/article/query-loop-block/), to display all the comments of a specific posts. I've created [this tracking issue](https://github.com/WordPress/gutenberg/issues/34994) with a detailed explanation and all the steps needed for anyon

[2021-09-21 10:58] priethor commented on #33278
With #33316 in place and released in 11.5, I'm checking the Site Logo and Site Title off the list.

[2021-09-21 11:05] Lovor01 opened #35002 "wp-block-styles theme support seems to do nothing"
### Description

I tested my custom theme with `add_theme_support( 'wp-block-styles' );` and without it, and it seems that nothing changes, the same amount of css files are loaded, the same amount of css rules applied.

If something is changed, I cannot notice it, so perhaps better explanation of the feature would be needed.

### Step-by-step reproduction instructions

Test wordpress site with `ad

[2021-09-21 11:05] renata-franco commented on #34602
Another report here: https://mc.a8c.com/support-stats/happychat/transcript.php?id=31790814

[2021-09-21 11:07] renata-franco commented on #34602
I have another report like this in chat as well. Tried to guide the user to remove it themselves from Classic View editor.

[2021-09-21 11:14] spacedmonkey opened #35003 "Indicate to users when menus are saving"
## What problem does this address?
Unlike to other editors in WordPress, saving menus / menus items can require multiple REST API requests. This means that saving can take some time. The save button should have some kind of indication that menu is being saved.

## What is your proposed solution?
The save button should be disabled and wording should changed to "Saving".

https://user-images.githubu

[2021-09-21 11:19] youknowriad commented on #34574
The global styles preview has just been added in #34991

[2021-09-21 11:38] MatzeKitt opened #35004 "Cannot add reusable block in widget"
### Description

Despite the closed issue #22875 I cannot use the inserter to add a reusable block in a widget. Is it intended to work? If I search for a reusable block in the widget area, there is no block to select.

### Step-by-step reproduction instructions

1. Create a reusable block called "Reusable"
2. Go to the widget area.
3. Use the inserter and search for "Reusable"

### Screenshots, sc

[2021-09-21 11:43] getdave commented on #34602
## Issue Has Been Fixed

This issue has now been fixed in https://github.com/WordPress/gutenberg/pull/34851.

That will be available when **Gutenberg 11.6.0 is released**. Update your sites when it's available to get that fix.

[2021-09-21 11:44] javierarce commented on #34968
Here are some ideas for the design of the messages. Besides adding a link and using the words "accessible" or "accessibility", I improved the message so it's easier to read and more actionable:

[code]

In the first row I show:

1) A message with a link integrated into the text (so the message is not very long, but also points to more information)
2) Same but with an indication of the "problematic

[2021-09-21 11:54] mtias commented on #24101
Great, let's consolidate in #34994!

[2021-09-21 12:28] GrimLink commented on #34448
I would say remove the `visited` pseudo for sure, it is not really used anymore in practice.
As for the pseudo `hover`, `focus` and `active`, this would be nice as a configuration option in the themes.json

[2021-09-21 12:43] karmatosed commented on #34995
This is a great usability gain if we add more than the tiny little loading circle. I have this feeling I've seen the skeleton placeholders in FSE places. If that is possible I would suggest bringing those in here. Just a gentle placing of that would be enough to give an indication of something incoming.

I have seen the following when no content in navigation, so adapting that for loader makes sen

[2021-09-21 12:46] GrimLink commented on #21032
@carolinan I don't think the visited pseudo state helps anyone.
It would be better to drop this style from the link styles and other blocks like the button.

In most CSS stacks/frameworks it is not styled anymore.
So I am surprised it is in the Gutenberg blocks, and then also we have the matter of the privacy points around the visited pseudo state.

So to simplify stuff, it would be better to drop

[2021-09-21 12:49] karmatosed commented on #35003
I 'think' there is a saving state for buttons we can use. We could for example use the same style as the saved button on publish. In that case, it has diagonal stripes and disables until publishing is done. This I would expect to work the same at least.

![2021-09-21 13 49 09](https://user-images.githubusercontent.com/253067/134173308-f41e1def-a5e8-4e4f-a69b-a13f24e14271.gif)

[2021-09-21 13:40] lwangdu commented on #34883
Thanks for that. I just out that myself. I tried another block theme and I didn't get the error. I switch back back to TT1 and I didn't navigation links and error was gone.

[2021-09-21 13:46] SantosGuillamot opened #35007 "Post Comments Pagination block"
## Description

Displays a paginated navigation to next/previous set of comments, when applicable. This should be similar to the [Query Pagination block](https://github.com/WordPress/gutenberg/tree/trunk/packages/block-library/src/query-pagination).

This block is part of the Post Comments Loop block, for more context please visit this [Tracking Issue](https://github.com/WordPress/gutenberg/issues

[2021-09-21 13:50] SantosGuillamot opened #35008 "Post Comments Pagination Next block"
## Description

Displays the next comments page link. This should be similar to the [Query Pagination Next block](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/query-pagination-next/).

This block is part of the Post Comments Loop block, for more context please visit this [Tracking Issue](https://github.com/WordPress/gutenberg/issues/34994) or its [GitHub project](ht

[2021-09-21 13:53] SantosGuillamot opened #35009 "Post Comments Pagination Previous block"
## Description

Displays the previous comments page link. This should be similar to the [Query Pagination Previous block](https://github.com/WordPress/gutenberg/tree/trunk/packages/block-library/src/query-pagination-previous).

This block is part of the Post Comments Loop block, for more context please visit this [Tracking Issue](https://github.com/WordPress/gutenberg/issues/34994) or its [GitHub

[2021-09-21 13:56] SantosGuillamot opened #35010 "Post Comments Pagination Numbers block"
## Description

Displays a list of page numbers for comments pagination. This should be similar to the [Query Pagination Numbers block](https://github.com/WordPress/gutenberg/tree/trunk/packages/block-library/src/query-pagination-numbers).

This block is part of the Post Comments Loop block, for more context please visit this [Tracking Issue](https://github.com/WordPress/gutenberg/issues/34994) or

[2021-09-21 13:59] fluiddot opened #35011 "Embed block: Responsive setting is not present when changing the URL to a different provider on WordPress embed block"
### Description

The `responsive` attribute is not present when changing the URL in the following case:
- Have an embed block with a WordPress URL (WordPress variation of embed block).
- Changing the URL to a different provider that includes the `responsive` attribute in its variation, like for example YouTube.

This issue prevents the user to enable/disable the "Resize for smaller devices" option

[2021-09-21 14:16] #34290 closed, assigned to ciampo

[2021-09-21 14:35] vcanales commented on #34032
I'm checking this out now, but I'll let you know if anything changes :)

[2021-09-21 14:45] lwangdu opened #35012 "Singing header and footer Templates option to sign different post or page"
What problem does this address?
Right now there is no way to sign footer or header templates to different pages or posts like the main template from the WordPress dashboard.

What is your proposed solution?

Options
Template Part from WP the dashboard:
Option to sign to: footer1 or  footer3 or
header1 or header2

[2021-09-21 15:08] mikeicode commented on #34602
Ran into this on a .com Personal plan site

[2021-09-21 15:24] fluiddot commented on #34792
I debugged the issue and found out that this is caused by a flaw in the flow related to dismissing the bottom sheet and setting the URL.

Here are the detailed steps and their related code of the flow after changing the URL and dismissing the bottom sheet by tapping on the backdrop element:

- `BottomSheet` triggers the `onBackdropPress` event:
https://github.com/WordPress/gutenberg/blob/a2169df69

[2021-09-21 15:53] skorasaurus commented on #31986
@erikjoling to answer your question, how to remove all color panels including the default ones provided by Gutenberg, I believe the following works:

[code]

[2021-09-21 16:28] mrwweb commented on #34717
@carolinan I'd love to learn more about that. Are there specific tickets that would be helpful to review for understanding that history?

In my experience, so long as the background color classes are listed first and have the same or lower specificity as the text color classes, they don't interfere with user preferences. Handling all possible nesting scenarios does get more complicated but feels l

[2021-09-21 17:14] anton-vlasenko commented on #34992
Let's consider adding these unit tests as well: https://github.com/WordPress/gutenberg/pull/34857/commits/5b6c2d2b47b71fc6801165c7967f1f7baa97e317
Discussion can be found here: https://github.com/WordPress/gutenberg/pull/34857

[2021-09-21 17:16] mcsf commented on #34994
👋 Excited to see these great issues popping up!

We can start with a soft deprecation, i.e. supporting the old block but deprioritising it (e.g. hiding it from the inserter). In other words, we don't need formal deprecation notices yet. The fact that it's a dynamic block means that, later on, we have some flexibility to determine how existing Post Comments blocks should be rendered.

If the old bl

[2021-09-21 17:22] skorasaurus commented on #35004
Hi,

Thanks for reporting;
This has been discussed and/or reported at https://github.com/WordPress/gutenberg/issues/32952 . Feel free to [add your reaction](https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/about-conversations-on-github#reacting-to-ideas-in-comments) and follow its progress in the issue.

[2021-09-21 17:22] #35004 closed, assigned to nobody

[2021-09-21 17:39] cuemarie commented on #34602
Ran into this on another .com Business site with plugins; let them know this will be resolved with the next Gutenberg update, and directed to remove object from Classic View in the meantime.

Thanks for the resolution!

[2021-09-21 17:56] critterverse opened #35017 "Widget Group: Add ability to transform to inner block when there's a single block within"
Potential follow up to https://github.com/WordPress/gutenberg/pull/34799

I'm wondering if we could provide a simple way to remove the title from the Widget Group block by using the Transform menu in instances where there's only a single block inside the group.

For example if you had a Widget Group with an Archives block within, then there would be an option in the Transform menu to transform int

[2021-09-21 18:15] gwwar opened #35018 "Core themes throwing stylesheet was not properly added error."
### Description

~I'm not sure if this is expected behavior, but when inserting certain types of blocks we can see a "stylesheet was not properly added error" in console.~

Edit: So chatting with folks we do still support these themes, the console error is more of a warning to use a newer path.

Let's change the console.error to console.warn to make this less scary (deprecations typically show up

[2021-09-21 19:53] gwwar commented on #35018
Going to refile this in trac since we'll need theme updates

[2021-09-21 19:54] robrobsn opened #35019 "Query Loop block displays incorrect posts when inheriting template query and filtering multiple terms per taxonomy"
### Description

The Query Loop block doesn't display the correct list of posts when inheriting query from template and filtering multiple terms per taxonomy ( e.g.: ?category_name=block,media ). It **only** shows posts assigned to the first term. Using the same url and switching to a classic theme ( e.g.: TwentyTwentyOne ) the correct list of posts is displayed.

### Step-by-step reproduction ins

[2021-09-21 20:11] gwwar commented on #35018
Added https://core.trac.wordpress.org/ticket/54158#ticket

[2021-09-21 20:20] anton-vlasenko commented on #24642
Are there any additional steps needed to reproduce this?
When I tried to reproduce this in my local environment, I only saw one xhr/fetch request.
What do I need to do to see those "additional" requests?
I'd appreciate it if somebody could help me to reproduce this issue.
![1 request](https://user-images.githubusercontent.com/43744263/134241290-1537a744-ee71-41e2-8806-cadf1c573753.png)

[2021-09-21 21:32] #25095 closed

[2021-09-21 21:35] spacedmonkey commented on #35003
I like that! We should implement that.

[2021-09-21 21:59] spacedmonkey commented on #24642
@anton-vlasenko are you sure you haven't got a filter on? Looks like there is something in the search field...

Here is a screencast of my screen.

https://user-images.githubusercontent.com/237508/134253125-72998df7-ab46-4bfa-9316-e18e0746e9ce.mov

The following requests should be preloaded
- wp/v2/types/
- __experimental/menus?context=edit&per_page=100

We should also remove call to `__experiment

[2021-09-21 22:33] ACBLDistrict21Webmaster opened #35022 "Edit page and edit event not working"
### Description

On about Sep 14, edit page and edit event quit working. The body of the browser window is blank.

The problem persists if activate only the Gutenberg plugin.

The problem resolves if deactivate only the Gutenberg plugin, though surely this will cause other problems.

Sample of edit-page page source attached (only Gutenberg plugin activated).

### Step-by-step reproduction instruct

[2021-09-21 22:57] spacedmonkey commented on #24907
@adamziel  @TimothyBJacobs Can we close this ticket now that #34541 is merged?

[2021-09-21 23:41] chthonic-ds commented on #34944
This makes sense. When calling a template part, the reference is already to `slug`, not `name`:
[code]

Additionally, templateParts [current support](https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-json/#templateparts) does not include `title`. Related: #34723.

[2021-09-22 01:22] #34765 closed, assigned to talldan

[2021-09-22 01:39] bhekuwenza commented on #4780
At first it didn't make sense.

But, that group block makes sense.

I believe at some point, there will be a plateau for building layouts/interfaces in a live manner and teams like wordpress are paving the way. Ones imagination will truly be the limit then.

... this is not to say I do not have any criticism of some aspects of Gutenberg, I will keep making site the _classic_ way but am open to thi

[2021-09-22 01:56] #34802 closed, assigned to talldan

[2021-09-22 02:36] ramonjd commented on #34594
Thanks for reporting this.

I can reproduce this as well, and had a bit of a play around. I noticed there might be some other conditions the cropper would need to be aware of before making decisions about its own dimensions.

If a width hasn't been declared in the Image Block, the Cropper uses the [clientWidth](https://github.com/WordPress/gutenberg/blob/acf909f8f4a15db031fb5dce3979d7f8556f4162/pa

[2021-09-22 03:01] TimothyBJacobs commented on #24907
I believe so, I'd wait on Adam to confirm though.

[2021-09-22 03:01] ai2n opened #35023 "Triple click within inline code should select only all inline code, not surrounding regular text."
## What problem does this address?
Inline code is frequently something short you want to select/copy all of quickly.

In apps like Slack, one of the fastest ways to do that is by triple clicking on the inline code, which expands your selection to include the entire inline code text.

_Example of triple click behavior in Slack on regular text and inline code text:_
![Comparison gif](https://imgur.c

[2021-09-22 03:46] carolinan commented on #34883
That makes sense, if the problem is in a template that is unique to the theme.

In TT1-blocks, the default header template has an empty menu.
``
I am not able to reproduce the PHP notice with this menu.

Did you make changes to the navigation block? I mean in the options.

[2021-09-22 03:49] #34120 closed, assigned to nobody

[2021-09-22 04:19] #33957 closed, assigned to Mamaduka

[2021-09-22 04:19] #33959 closed, assigned to Mamaduka

[2021-09-22 05:32] Mamaduka commented on #23770
@aaronrobertshaw, I think #34065 fixed this issue.

[2021-09-22 05:39] aaronrobertshaw commented on #23770
Thanks for the ping @Mamaduka. 👋

Yes, https://github.com/WordPress/gutenberg/pull/34065 leverages a new SlotFill approach to inject the min-height control into the dimensions block support panel as suggested by this issue.

I'll close this one.

[2021-09-22 05:39] #23770 closed

[2021-09-22 05:59] ramonjd commented on #34706
Preliminary experimentation is looking promising:

![min-height-cover](https://user-images.githubusercontent.com/6458278/134290785-6dde5a8d-8ef7-4405-a65d-97fa3f970770.gif)

[2021-09-22 06:34] jasmussen commented on #34706
Very cool! One gotcha on this design, though, is that it doesn't work if you want to make the cover _smaller_ 🙈

That speaks to the limitation of the placeholder component itself, though, and is why it's good to use it sparingly. It's likely fine, though, as the height is meant as a min-height and will always be affected by the content inside, and once you pick a color or add an image, you can adj

[2021-09-22 06:54] jasmussen opened #35027 "Improve loading state of SSR component to be optimistic with delayed spinner"
PR #28289 improved the loading state of the ServerSideRender component to minimize jumps, and to ensure the spinner is shown in the same way as it is in other transient states, such as when uploading an image or a video. Here's what it used to look like:

![spinner-before](https://user-images.githubusercontent.com/1204802/134296346-5889bb5b-9a55-47d3-b734-f387ce7faab5.gif)

Here's what it looks li

[2021-09-22 07:05] #34266 closed, assigned to talldan

[2021-09-22 07:15] talldan commented on #34982
The first issue is that in your edit function, the first RichText has the `value` of `attributes.title`, it should be `attributes.title_one`.

The second issue is that in your attribute declaration, the two attributes use the same `selector`, it's worth thinking of these like CSS selectors, those selectors need to be able to select the correct individual elements from your save function, e.g. `h2.

[2021-09-22 07:15] #34982 closed, assigned to nobody

[2021-09-22 09:43] #35027 closed, assigned to ntsekouras

[2021-09-22 09:52] erikjoling commented on #31986
You are right. The problem is solved since WP5.8. Closing this issue. Thanks for the useful information everyone!

[2021-09-22 09:52] #31986 closed, assigned to nobody

[2021-09-22 10:31] carolinan commented on #34701
The theme can turn off custom colors and in worst case this would leave the user unable to save.
I think that this feature is better suited as a plugin,

[2021-09-22 10:37] jameskoster commented on #34994
@SantosGuillamot One design update we might consider: the new Dimensions and Layout panels will be useful on blocks like Avatar, but potentially all of them.

Probably worth getting a theme dev's input here (cc @kjellr), but I suspect that the flexibility afforded by separate blocks for author name and author avatar will be more useful in general.

[2021-09-22 10:39] HILAYTRIVEDI commented on #34845
I added the option in the CustomSelectControl . How do I check it?

[2021-09-22 10:41] jameskoster commented on #30577
It's a shame the edit link will have to take folks to the existing comment management screens in wp-admin. In the future it would be nice to send them to an instance of the block editor where they can edit the comment visually.

[2021-09-22 10:57] carolinan commented on #32668
The title attribute option is in the Advanced section:

![An input field for the title attribute is under the Advanced settings section in the block settings sidebar](https://user-images.githubusercontent.com/7422055/134331231-a25df0ab-9e97-4c79-9643-554bc281ba7f.png)

I believe that issue can be closed?

[2021-09-22 11:08] adamziel commented on #24907
Thanks for staying on top of that! Yup, we're good here. There are a few follow-up items, but I believe we could track them separately. I'll create dedicated issues today.

[2021-09-22 11:08] #24907 closed

[2021-09-22 11:18] kjellr commented on #34994
Yeah, the current iteration of the Post Author block is pretty inflexible and limiting for theme authors. There was a lot of talk about its issues (and the idea of splitting it into sub-blocks) in https://github.com/WordPress/gutenberg/issues/24952. This is one of the reasons the block was [left out of 5.8](https://github.com/WordPress/gutenberg/pull/31983).

[2021-09-22 11:36] adamziel opened #35037 "Remove duplicated blockToMenuItem function"
### Description

The `blockToMenuItem` [lives in the `edit-navigation` package](https://github.com/WordPress/gutenberg/blob/bf53422023187a97b1b71a6d79af3581f8179dab/packages/edit-navigation/src/store/transform.js#L21-L73), but also [in the `block-library`](https://github.com/WordPress/gutenberg/blob/11294e370b29a237080b946e405c61ed75fa9509/packages/block-library/src/navigation/menu-items-to-blocks

[2021-09-22 12:13] #34607 closed, assigned to ntsekouras

[2021-09-22 12:27] carolinan commented on #34994
_Author with integrated Avatar_ -sounds like a good default block pattern or a block with inner blocks.
The post author block is really just waiting for a decision to be made, so that work can start.

[2021-09-22 12:30] scruffian opened #35040 "Navigation: Justify items right in vertical navigation"
### Description

When in vertical mode, the justify right option in the navigation block doesn't behave as expected.

### Step-by-step reproduction instructions

Create a vertical navigation block, and then try to align the items right. It looks like this:
<img width="785" alt="Screenshot 2021-09-22 at 13 24 37" src="https://user-images.githubusercontent.com/275961/134343045-e635b90b-3585-4678-b05

[2021-09-22 12:31] chad1008 opened #35041 "Unexpected "Block Settings" sections added to Customizer"
### Description

Starting with the v11.5.0 release, the Customizer is displaying a "Block Widgets" section for each of the active theme's registered widget areas. Opening one of these sections at first reveals a blank panel. Clicking the Customizer's "back" button then reveals the corresponding widget area, rather than actually backing out to initial Customizer view. From there, the user can edit

[2021-09-22 12:37] github-actions[bot] opened #35042 "[Flaky Test] displays the first created menu when at least one menu exists"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
displays the first created menu when at least one menu exists

## Test path
`specs/experiments/navigation-editor.test.js`

## Flaky rate (_estimated_)
`2 / 403` runs

## Errors

<details>
<summary>
	<time datetime="2021-09-22T12:37:04.356Z"><code>[2021-09-22T12:37:04.356Z]</

[2021-09-22 13:28] adamziel opened #35045 "Navigation editor: Fail loudly when attempting to save unsupported blocks"
Navigation editor only processes a subset of blocks in the editor, silently omitting anything that's not supported:

https://github.com/WordPress/gutenberg/blob/fa5728771df7cdc86369f7157d6aa763649937a7/packages/edit-navigation/src/store/actions.js#L207-L209

It would be useful to log a warning and make any problems there apparent.

[2021-09-22 13:32] adamziel opened #35046 "Navigation editor: Speed issues with saving and loading"
This is a copy&paste of a [comment by @spacedmonkey from 34541](https://github.com/WordPress/gutenberg/pull/34541#issuecomment-922555964):

---

I wrote a little script that creates a new menu and creates 500 items. This script looks like this.
[code]

My testing, there seem to be some performance issues with saving 500 items. See this video.

https://user-images.githubusercontent.com/237508/13394

[2021-09-22 13:35] adamziel opened #35047 "Navigation editor: Nested block-based menu items are deleted and re-created on each save"
[As noted in 34541:](https://github.com/WordPress/gutenberg/pull/34541#discussion_r712325699)

The `mapMenuItemsToBlocks` function assigns the `__internalEntityRecord` attribute to all the blocks representing classic menu items. This way we can match blocks with menu items and update the correct ones.

Unfortunately, it doesn't assign `__internalEntityRecord`  to nested blocks. The save function "

[2021-09-22 13:40] adamziel opened #35048 "Batch requests: Throw an error on API failure"
`__experimentalBatch` does not throw errors when there are API failures. As a result error handling is more verbose for consumers:

https://github.com/WordPress/gutenberg/blob/fa5728771df7cdc86369f7157d6aa763649937a7/packages/edit-navigation/src/store/actions.js#L242-L252

@talldan also said:

cc @noisysocks @talldan

[2021-09-22 13:42] adamziel commented on #24907
I think these are all the follow-up items:

https://github.com/WordPress/gutenberg/issues/35048
https://github.com/WordPress/gutenberg/issues/35047
https://github.com/WordPress/gutenberg/issues/35046
https://github.com/WordPress/gutenberg/issues/35045
https://github.com/WordPress/gutenberg/issues/35037
https://github.com/WordPress/gutenberg/issues/34999

Edit: Any idea how to make GitHub expand ti

[2021-09-22 13:50] Mamaduka commented on #24907
Thanks, @adamziel

Maybe we should create separate tracking ticket for data-related issues.

P.S. I think GitHub only expands ticket numbers when used with task list - `[ ]`

[2021-09-22 13:56] MadtownLems opened #35049 ""Convert to Blocks" function doesn't set alignment of Headings"
### Description

When you use a Classic Editor Block's "Convert to Blocks" function, it fails to set the alignment of Headings (either centered or right).

### Step-by-step reproduction instructions

1. Add a Classic Editor Block to a page/post
2. Add a Heading (such as Heading 3)
3. Highlight it, and use the "Align Center" button to center it.
4. Click on the block's "Convert to Blocks" button

T

[2021-09-22 14:04] brylie commented on #34320
@timnolte, so far, we haven't been using NPM for local project dependencies, but are relying on a global installation of `wordpress/env` as per the instructions on npm.org.

![image](https://user-images.githubusercontent.com/17307/134357383-7655ad80-d3fc-4917-8544-091660f4339f.png)

As you suggest, I have created a local NPM project with the following configuration:

[code]

I still get the `xdebu

[2021-09-22 14:04] getdave commented on #29102
## Update - 2021-09-22

* Lots of working happening on `High` priority items. Thanks for everyone who is contributing so much work 🙌
* REST API interactions have been improved and more issues identified.
* A tonne of bugs got fixed 🐛
* Started looking at ways to add links in Bulk.
* [Using Theme JSON to control the block in the editor has been ruled out](https://github.com/WordPress/gutenberg/pull

[2021-09-22 14:05] spacedmonkey commented on #35046
Is this is a duplicate of https://github.com/WordPress/gutenberg/issues/34999 ?

[2021-09-22 14:06] brylie commented on #34320
Note: the issue is temporarily resolved when I run `docker image prune -a`. However, that isn't the ideal solution since it prunes all images. Likewise, the issue still recurs later when using `wordpress/env` in another project or a new environment.

[2021-09-22 14:13] zdenys commented on #34729
I was able to reproduce it with the Coming Soon patterns too.

https://user-images.githubusercontent.com/39308239/134360172-ee1253df-fc08-40ef-b535-53a49390f00c.mp4

[2021-09-22 14:17] Mamaduka commented on #25612
I merged basic support for child themes this morning, and it should be available in Gutenberg 11.6.

### Next step

Allow child themes to override parts (or entirely) of the parent's `theme.json` settings.

[2021-09-22 14:42] MadtownLems opened #35050 ""Convert to Blocks" function of Classic Editor blocks ignores set width/height of Images"
### Description

The "Convert to Blocks" function of Classic Editor blocks ignores explicitly set widths and heights.

### Step-by-step reproduction instructions

1. Using a Classic Editor block in HTML mode, insert the following HTML which replicates what would have been created under the Classic Editor's Add Media `<img src="https://via.placeholder.com/300" width="77" height="77" />`  (This is a

[2021-09-22 14:56] lwangdu opened #35051 "Widgets area is gone after update of the Gutenberg 11.5.1"
### Description

After I updated Gutenberg 11.5.1 ,  the widgets area
![Screen Shot 2021-09-22 at 7 14 53 AM](https://user-images.githubusercontent.com/24829573/134366228-4bacac97-8698-4182-a52a-e71ccafa6ea9.png)
 is gone from WordPress dashboard.

Also I don't see customize anymore
![Screen Shot 2021-09-22 at 7 15 21 AM](https://user-images.githubusercontent.com/24829573/134366487-03b95fb6-2ccc-4

[2021-09-22 15:00] ts-mz opened #35052 "Anchor/Link text potentially causing legacy widget to break closed state "no preview" representation in editor"
### Description

**Note bene:** I have tried this with the custom legacy example "foo" widget from the Codex, and could not reproduce the error, because the preview of the title is rendered fine upon saving.

That said, I have a custom legacy widget class that displays well in both open and closed state in the new widget editor unless there is an Anchor/Link with text present in the $output variab

[2021-09-22 15:12] lwangdu commented on #35051
I have tested three different themes "TT1, Genesis block theme, and Hansen. I think this something to do with TT1 and Hansen Block Theme. The widgets works with Genesis block theme.

[2021-09-22 15:15] lwangdu commented on #34883
No I didn't thinking I made changes on the navigation block. I tried again it seems work right now. Thank you.

[2021-09-22 15:25] michalczaplinski commented on #34996
Could you assign the issue to me @SantosGuillamot? It seem that I cannot do it myself as a contributor. Thanks!

[2021-09-22 15:31] adamziel commented on #24907
@Mamaduka

Which ones specifically?

ah that's good to know, thank you!

[2021-09-22 15:36] steveangstrom opened #35054 "Version 11.5.1 - No longer loads Editor CSS"
### Description

### Problem
My sites editorstyles.css fail to apply to many elements with the current version of Gutenberg

### Step-by-step reproduction instructions

### 1:
using a "normal" / common theme such as the Hello theme, child
then add an editorstyle.css in the usual way

in /THEMENAME/functions.php

`add_editor_style('css/editorstyle.css');`

[code]

2 ### Result
**in WordPress 5.8.1

[2021-09-22 15:51] jameskoster commented on #33988
This is excellent. As an additional stress test I was curious how this pattern would work in the following scenario:

I'm editing a post, I toggle the visibility of the template (https://github.com/WordPress/gutenberg/issues/27847), I edit the template by moving a template part.

In this case the template _part_ remains unchanged, but the underlying template _is_ modified. Since the template has n

[2021-09-22 15:51] kellychoffman commented on #34781
Hey @karmatosed! I did a UX review on the current status over in Issue https://github.com/WordPress/gutenberg/issues/29102#issuecomment-912022091 and noted which items should be addressed before this feature can be considered out of experimental mode - MVP is probably a better term for that. Curious to hear your thoughts as well and if there's anything missing.

[2021-09-22 16:20] gwwar commented on #35018
So chatting with folks we do still support these themes, the console error is more of a warning to use a newer path.

With that in mind I'll update the issue to change the console.error to console.warn to make this less scary (deprecations typically show up as warnings vs error).

[2021-09-22 16:57] gwwar commented on #34041
Here's a draft of what the inserter looks like if we move the link variations to block scope. (I wouldn't recommend landing this until we have an alternate way of filtering link types.)

https://github.com/WordPress/gutenberg/pull/35056

[2021-09-22 17:11] karmatosed commented on #34781
@kellychoffman cool, I saw that. I would probably recommend pulling them out into individual issues to make it a little easier to follow perhaps over be deep inside a long thread? It might just be myself but I find those checklists really hard to follow in those deep threads, over using the project boards with tasks - it's a bit easier to see MVPs that way.

That said, I think a lot of the issues

[2021-09-22 17:26] ciampo opened #35057 "ToolsPanel: improve unit tests"
## What

Improve unit tests by partially rewriting them. They should not be checking implementation details (like classnames, the presence of certain react components...), but instead, they should test the `ToolsPanel` component replicating the way end-users interact with it.

## Why

Here's a [great explainer](https://kentcdodds.com/blog/testing-implementation-details)

## A/C

* [ ] There should

[2021-09-22 17:26] ciampo opened #35058 "ToolsPanel: move away from hardcoded classnames"
## What

Requires #34345 first, to make sure that tests don't rely on classnames.

We should refactor the `ToolsPanel` component so that it avoids using hardcoded classnames as much as possible.

Currently, the hardcoded classnames in `TooolsPanel` are:

- `components-tools-panel`. This class could be replaced by using the context system, so that `ToolsPanelHeader` knows if it's being rendered ins

[2021-09-22 17:36] kellychoffman commented on #34781
Took a look at your list and agree all should be addressed as part of an MVP.

[2021-09-22 17:39] karmatosed commented on #34781
@kellychoffman awesome 🙌🏻 The good news is all the little bugs have been fixed along the way, that list was a lot longer but has been closed one by one ✨

[2021-09-22 17:45] #34363 closed, assigned to stokesman

[2021-09-22 17:57] kellychoffman commented on #34781
Also - noted on a big checklist within another issue being hard to track. I kept it within the overall tracking issue only because I worry when the UX of a feature is seen as separate from the overall list of things to do within said feature. I think there's a way to do both tho, like you said.

[2021-09-22 18:17] gwwar opened #35059 "Navigation: justify alignment doesn't work with vertical variation"
### Description

Justify alignment doesn't appear to have any effect when a navigation block is set to a vertical variation.

### Step-by-step reproduction instructions

1. Add a navigation block
2. Click on start from empty
3. Add some links
4. Set variation to vertical
5. Try to set alignment to something other than left

Expected: items would change alignment
Actual: Nothing happens

### Screen

[2021-09-22 18:19] gwwar commented on #35059
Oh hah closing as a duplicate of https://github.com/WordPress/gutenberg/issues/35040

[2021-09-22 18:19] #35059 closed, assigned to nobody

[2021-09-22 20:40] ellatrix commented on #20861
Fixed in #21892.

[2021-09-22 20:40] #20861 closed

[2021-09-22 20:53] mrwweb commented on #18055
Related: #19907

[2021-09-22 21:13] ellatrix commented on #30680
Should be fixed after #28165.

[2021-09-22 21:13] #30680 closed, assigned to nobody

[2021-09-22 21:34] glendaviesnz commented on #28387
It probably makes sense to defer this until https://github.com/WordPress/gutenberg/pull/32502 & https://github.com/WordPress/gutenberg/pull/32499 are merged. It should be relatively easily to implement once these are in place as the component already has a `ref` for the background image and the original image dimensions can be obtained with  `ref.current.naturalHeight & `ref.current.naturalWidth`

[2021-09-22 23:57] galloppinggryphon commented on #29912
I'm guessing this is somehow related to the viewport problem, which does not take into account scrollbars. Yet you had the CSS for this figured out!

Anyway, for anyone wanting a temporary way to disable the horizontal scrollbar, it's possible to override a bit of editor CSS:
[code]
It's a hack though - if a vertical scrollbar is not present, you get a lovely margin instead. YMMV - it works in my

[2021-09-23 01:29] noisysocks commented on #35048
Hmm. To be clear, we're referring to handling _non exceptional_ errors here, right? That is, an error that does not indicate a problem in the code, just a normal part of app operation.

I don't feel that a redux action should throw _non exceptional_ errors. They should return a successful result or a failed result and only throw an error in exceptional cases (e.g. a bug in the code). This is gener

[2021-09-23 01:31] glendaviesnz commented on #32339
@justintadlock I have experimented with this approach at https://github.com/WordPress/gutenberg/pull/35065 - seems to work well in theory - I just need to do some investigation in terms of what it means in terms of deprecations/migrations

[2021-09-23 02:00] glendaviesnz commented on #34881
@mkevins The 11.7 release is 13 Oct, and 11.8 is 27 Oct. In the first week of Oct do you think we would be in a position to make an educated guess if 11.7 or 11.8 is the release to aim for to remove the experimental flag?

[2021-09-23 04:04] mkevins commented on #34881
Hi Glen.

I think we should have a good idea by then if we should lean toward delaying a release or not. Aside from any issues discovered while testing via setting the flag to `true`, one of the factors I'm interested in is what adoption looks like for the plugin releases. Do we have a ballpark on how many / how quickly users will be on the latest versions of the plugin? Though I have a feeling co

[2021-09-23 04:33] glendaviesnz commented on #34881
@priethor do we have any stats on gutenberg plugin installations by version?

[2021-09-23 04:53] jeyip opened #35066 "Block Editor State: Calls to receiveBlocks insert undefined values into block tree"
### Description

Calling `receiveBlocks` inserts `undefined` innerBlocks into the root node of `block-editor` block tree state.

### Step-by-step reproduction instructions

1. Checkout this PR https://github.com/WordPress/gutenberg/pull/35067
2. Open the post editor
3. Verify that, for the information logged into the dev console, that `undefined` values are introduced into `block-editor` block tre

[2021-09-23 06:50] Mamaduka commented on #31018
The issue was fixed in WP 5.8. See #29197.

Like, @tellthemachines suggested attributes are now sanitized before sending the request.

[2021-09-23 06:50] #31018 closed, assigned to nobody

[2021-09-23 07:16] ellatrix commented on #2515
We could upload external images after paste automatically. The problem is that paste is synchronous while uploading is async, so it's probably best to insert the block immediately and handle upload after that (so the action is not blocking the user). Without a solution to #8119 though, it will add a new undo level for each uploaded image.

[2021-09-23 07:22] andrewserong commented on #33769
I've come up with a fix in #35070 that should resolve this issue — it's a bit of a workaround due to how the GalleryAdd controller works in the media library, but hopefully it restores the expected behaviour.

[2021-09-23 07:24] fabiankaegy opened #35071 "Get `useInnerBlocksProps` hook out of experimental status"
### What problem does this address?

The `useInnerBlocksProps` hook was added in October 2020 via #25633 as an experimental hook. Since its release, a few bugs have appeared (#34120, #30408, #29513, #29482, #29036, #14242) but, in general, no breaking feedback has been received. However, this might be either because the hook version is very stable or because of a lack of wider testing.

### What i

[2021-09-23 07:26] fabiankaegy commented on #35071
@ellatrix Since you are the brain behind the hook implementation do you see any reason why the hook would not be ready?

Would love to get your thoughts on this :) Thanks in advance!

[2021-09-23 07:48] ellatrix commented on #35071
There's a PR that's been around for a while: #26031. I'll rebase it.

[2021-09-23 07:59] #32668 closed, assigned to nobody

[2021-09-23 08:11] cbravobernal commented on #30575
Hi there! May I take this one?

Regarding the rounded option. What would be better for this case for the options? A toggle option or a text input for the border radius?

[2021-09-23 08:13] fabiankaegy opened #35073 "Component: `LinkControl` tracking issue"
The [`LinkControl`](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-editor/src/components/link-control/README.md#link-control) Component was added via #17557 as an experimental component in September 2019.

This Tracking issue is here to keep track of the items that are needed to get the Component out of the `experimental` state.

See also the [Link UI Overview Issue](https://gith

[2021-09-23 08:18] luisherranz commented on #30575
Can't we reuse the control used in blocks like the Button?

<img width="335" alt="Screenshot 2021-09-23 at 10 17 51" src="https://user-images.githubusercontent.com/3305402/134475182-9a6d7767-a251-4106-abfb-679700b790ad.png">

[2021-09-23 08:35] ellatrix commented on #34053
Yes, we fixed this in the G2 PR #19344. That's what the `__unstableBoundaryParent` is for. Must have regressed somewhere. I can have a look.

[2021-09-23 09:19] getdave commented on #35073
Great work on this. We should add a dedicated `Accessibility` section so as to ensure these are given a high priority.

[2021-09-23 09:22] getdave commented on #32547
This is already in place.

<img width="481" alt="Screenshot 2021-09-23 at 10 22 14" src="https://user-images.githubusercontent.com/444434/134483422-b0cd4152-f823-438c-846f-ab2d548460c9.png">

[2021-09-23 09:22] #32547 closed, assigned to getdave

[2021-09-23 09:23] getdave commented on #32548
The placeholder now no longer appears if there is no image retrieved. See https://github.com/WordPress/gutenberg/issues/32547.

Closing.

[2021-09-23 09:23] #32548 closed, assigned to getdave

[2021-09-23 09:25] jasmussen commented on #35040
Thanks for the ticket. I have a fix in #35077. It's a bit of a big PR as it surfaced a bunch of smaller issues, but it'll all be good to land. Would appreciate your testing.

[2021-09-23 09:26] getdave commented on #33146
Just to confirm the link component used on Images is not the `<LinkControl>`. Rather it uses the underlying `<URLInput>` component.

<img width="724" alt="Screen Shot 2021-09-23 at 10 25 21" src="https://user-images.githubusercontent.com/444434/134483938-402a2be9-53ae-407b-95f7-4ee941714407.png">

Therefore I'm going to remove this Issue from the `<LinkControl>` tracking issue.

[2021-09-23 09:33] DAreRodz commented on #30574
Hi all, :wave: I would like to create a draft PR and start working on this. @SantosGuillamot could you assign this issue to me? :blush:

[2021-09-23 09:34] getdave commented on #31496
I understand the motivation behind this request. Thank you for taking the time to raise it.

Currently, the items shown the new Link UI are retrieved from the [`v2/search` REST API endpoint](https://github.com/WordPress/WordPress/blob/41307cd4e6236bbf120d1b14f98e9781c66b0f45/wp-includes/rest-api/endpoints/class-wp-rest-search-controller.php).

Unfortunately I don't think we can simply add in the `

[2021-09-23 09:37] getdave commented on #31482
This should no longer be an Issue as it was fixed in https://github.com/WordPress/gutenberg/pull/33753
<img width="693" alt="Screen Shot 2021-09-23 at 10 36 15" src="https://user-images.githubusercontent.com/444434/134485494-7db81bf2-cdb2-4272-bf62-1b5b50e46366.png">

[2021-09-23 09:37] #31482 closed, assigned to nobody

[2021-09-23 09:38] getdave commented on #28850
Thanks for raising.

This feels like a fairly specific enhancement. I wonder if this is best left to be plugin territory.

Interested in more opinions.

[2021-09-23 09:40] getdave commented on #26317
Ok so I took a quick look into the complexities of achieving this.

Unfortunately the inline links are handled by the `@wordpress/format-library` package. This is WordPress Core agnostic so it cannot have dependencies on things like `@wordpress/core-data` which is what we use in the Nav Link block to create posts/pages on the fly.

Therefore, we're going to have to do some juggling and allow block

[2021-09-23 09:58] jameskoster opened #35079 "Click-through pattern not behaving as expected for Template Parts"
### Description

There is currently a small discrepancy between the selection behaviour for Template Parts and Reusable Blocks on the canvas.

Both utilise the 'overlay' and 'click-through' pattern which dictates that regardless of where you click on the block, the parent will always be selected first. Subsequent clicks are required to select children. Here's how that works for Reusable Blocks:

h

[2021-09-23 10:06] jameskoster commented on #27852
Having taken a close look at the excellent work that has recently been done in https://github.com/WordPress/gutenberg/pull/32464, and subsequent explorations in https://github.com/WordPress/gutenberg/issues/33988, I'm thinking it would be best to try using the Reusable Block patterns for template part editing. IE:

* Click-through overlay (this part is done – although there is a bug – https://gith

[2021-09-23 10:09] luisherranz commented on #34994
@SantosGuillamot these three blocks don't have design, so I'm going to label them with `Needs Design`:
- https://github.com/WordPress/gutenberg/issues/35008
- https://github.com/WordPress/gutenberg/issues/35009
- https://github.com/WordPress/gutenberg/issues/35010

[2021-09-23 10:22] jameskoster commented on #27848
If we use the Reusable Block patterns for Template Parts (as suggested [here](https://github.com/WordPress/gutenberg/issues/27852#issuecomment-925673259)) that solves the Template Part portion of this issue.

Due to the flexibility of these patterns, I think we can use them for content editing as well.

If I am editing a template and content from a specific post has been loaded in, we can apply th

[2021-09-23 10:36] jameskoster commented on #30575
Yeah let's add the border panel :) The Dimensions panel is also worth considering.

[2021-09-23 10:43] Addison-Stavlo commented on #35066
While I wasn't able to find the `undefined` value by loading the editor in that PR, I was able to repro by doing `wp.data.dispatch('core/block-editor').receiveBlocks( [ wp.blocks.createBlock( 'core/image' ) ] );` (from test instructions on riad's PR linked above - it seems to fix the issue 😁 )

[2021-09-23 10:59] Addison-Stavlo commented on #35079
If I create a reusable block with a Site Title in it, I can repro the same behavior there as well. 🤔

I can't seem to repro in either with just the navigation block as is seen in your gif.

[2021-09-23 11:00] SantosGuillamot commented on #34994
I agree it makes sense for most of these blocks 🙂 . I can see that the Dimension panel was integrated in [this Pull Request](https://github.com/WordPress/gutenberg/pull/32392) and there is [another Pull Request](https://github.com/WordPress/gutenberg/issues/34698) to create a unified Layout panel. Do you know which is the best place to understand both panels better and how to integrate them in the

[2021-09-23 11:01] #35066 closed, assigned to nobody

[2021-09-23 11:03] fluiddot commented on #32964
While implementing new unit tests in GB-mobile, I encountered this error when I added the following code to the test:
[code]

I have the gut feeling that tests might be triggering `jest.resetModules();` somehow. I haven't found any code trace to this function, so most likely it's called from a testing library we're using.

`resetModules` documentation reference: https://jestjs.io/docs/jest-object#

[2021-09-23 11:03] cbravobernal commented on #30575
Hi @jameskoster! The Dimensions panel, you mean for the Avatar size?

I've taken a look at the post author avatar block. Regarding the size, I have seen that we receive a variable with 3 different size URL values.

![avatar_urls](https://user-images.githubusercontent.com/37012961/134494356-3bf3bc3d-0dfb-4975-8e64-29d02f4c236a.png)

The approach, in this case, has been creating a selector with the

[2021-09-23 11:37] Addison-Stavlo commented on #35079
It seems possibly related to `RichText` in some way.

For the SiteTitle, I notice the issue is no longer present if I change the[ RichText's `tagName` prop ](https://github.com/WordPress/gutenberg/blob/aadc370055b2088d1378125da44eb309b4f12e43/packages/block-library/src/site-title/edit/index.js#L52)from `a` to `div` (not certain of the implications here, or why its an `a` anyways).

 I can also rep

[2021-09-23 11:43] jameskoster commented on #34994
I believe the Group block has already implemented the Dimensions panel, so that might be a good place to look?

To clarify, it probably only makes sense for the _Layout_ panel to be added to container blocks in this context, IE the comment query loop and the comment template. But obviously we  can only do that once the feature has been added – my apologies, I thought it already had been.

[2021-09-23 11:45] AlexanderMonsanto commented on #35041
zd-4320575

[2021-09-23 11:56] jameskoster commented on #30575
I was thinking more about the padding options that come with the dimensions panel, but this is a good question!

The design in the OP is based on the regular image block:

<img width="1317" alt="Screenshot 2021-09-23 at 12 46 59" src="https://user-images.githubusercontent.com/846565/134501789-8e600c43-ef37-44a1-be46-e206fa1837e2.png">

These seem more flexible than the pre-determined sizes in the

[2021-09-23 12:01] getdave commented on #25414
This issue is now largely solved by the `Unlink` button that's been added to the Link UI itself.

The trouble with allowing a user to delete and then submit "empty" to remove is that it's ambigious. In most cases we don't want the user to submit empty content as that could create an empty link. Indeed I'm [working on a fix right now that disables such behaviour](https://github.com/WordPress/gutenb

[2021-09-23 12:04] getdave commented on #34779
@karmatosed do you have a suggestion for how we handle such cases? Would you prefer that if there is only a single line that the icon and the text are aligned centrally?

[2021-09-23 12:16] bph opened #35085 "Remove Meetup.com variation from the embed block"
### Description

Trying to add a meetup.com block gives no preview of the embed, nor does it display on the front-end.

There is the distinct possibility that Meetup.com, like other providers, stopped publishing oEmbed. I also tested it with the Classic Editor, and it didn't render an oEmbed either.

And the end point https://api.meetup.com/oembed renders a "not found"

### Step-by-step reproducti

[2021-09-23 12:28] aristath commented on #35002
Thank you for reporting this issue @Lovor01!
Is your theme a classic theme, or a block theme (FSE)?

[2021-09-23 12:59] #34303 closed, assigned to nobody

[2021-09-23 13:01] kdevnel opened #35086 "Windows - US International keyboard layout modifier (dead keys) don't correctly register"
### Description

It appears when you have US International keyboard layouts active in Windows that the modifier keys (pressing either ' or ` on a US layout keyboard, followed by a letter such as e should then output either é or è) don't register correctly if you want to output the actual symbol character (usually done by clicking modifier + space).

Instead, it appears the editor outputs a space c

[2021-09-23 13:06] chad1008 commented on #35051
Hi @lwangdu!

When you say TT1, do you mean [Twenty Twenty One](https://wordpress.org/themes/twentytwentyone/), or [Twenty Twenty One Blocks](https://wordpress.org/themes/tt1-blocks/)?

If it's the latter, I suspect that is the cause. TT1 Blocks, Hansen, and Genesis Blocks are all Experimental Block Based Themes. This means they'll activate the current version of the Full Site Editing, which takes

[2021-09-23 13:20] critterverse opened #35087 "Legacy Widgets: Allow for turning previews on and off via the Option/Preferences menu"
Based on https://core.trac.wordpress.org/ticket/54075 and feedback from the Accessibility Team's weekly bug scrubs that it would be ideal to have a way to disable Legacy Widget previews.

One possiblity is to introduce a preference in the "Options" ellipses menus in both widget editors to turn the Legacy Widget previews on and off. This could go within the "Preferences" section of the menu.

Note

[2021-09-23 13:24] david-binda opened #35088 "Cache the template part's post lookup in render_block_core_template_part"
## What problem does this address?
In case no post holding a template part used in the template exists, the code attempts to look it up on every page load before defaulting to the theme's template part file.

This has some performance consequences, as an extra SQL query is being triggered on every page load.

## What is your proposed solution?

Adding a caching layer would allow sites running a pe

[2021-09-23 13:50] lwangdu commented on #35051
It worked with Twenty Twenty one theme. I can see both customizer and widgets. Thanks for your help.

[2021-09-23 13:59] ciampo opened #35091 "Components: updated `Navigator` components"
_This is an overview issue to track all of the tasks necessary to introduce and refine the set of `Navigator` components, especially in the context of using it in the updated Global Styles Sidebar._a

[2021-09-23 14:00] ciampo commented on #35091
Closing as it is a duplicate of #34907. It's been a long week 😅

[2021-09-23 14:00] #35091 closed, assigned to nobody

[2021-09-23 14:08] Soean commented on #35085
I can't find the embed endpoint the docs anymore. In the wayback machine the site shows that the endpoint is deprecated
 https://web.archive.org/web/20200718004152/https://www.meetup.com/de-DE/meetup_api/docs/oembed/

[2021-09-23 15:42] skorasaurus commented on #28914
@paaljoachim  This heavily overlaps with https://github.com/WordPress/gutenberg/issues/23262 ; the difference between this issue and that one is that this issue; the deleted media can be seen by the end user outside of the edit; https://github.com/WordPress/gutenberg/issues/23262 the image can still be seen in the block editor.

[2021-09-23 16:10] ciampo opened #35093 "Components: update color-related components — Tracking issue"
_This is an overview issue to track all of the tasks necessary to refine the color-related components, especially in the context of using it in the updated Global Styles Sidebar._

## Context

To visualize this, there are some good mockups in #34574 that illustrate the behavior above. Instead of duplicating all available color palettes for each a single item in a group is shown as a swatch plus a

[2021-09-23 16:11] paaljoachim commented on #28914
Thanks for mentioning the other issue Will @skorasaurus !
I am not sure if we should close this issue, or perhaps I should just add the duplicate label.

[2021-09-23 17:10] jromales opened #35095 ""Alt text" within the Cover Block is not updating"
### Description

What's currently happening:
* If I create a new post/page, add a Cover block, and insert an image from the Media Library, the existing `Alt text` is copied over; It will show the same info in the `Alt text` in Cover block. When I update the `Alt text` within Media Library, the new `Alt text` isn't copied over to `Alt text` field in Cover block; It will still show the old one.

Wha

[2021-09-23 17:29] joesnellpdx commented on #34641
Although I love the idea of using responsive text and context aware development, I feel this should be handled by theme developers and not in core.

My concerns are that this will be very opinionated and will likely result more debt that theme developers will need to unravel, remove, or override these styles on a regular basis in custom builds. This also assumes that the solutions provided will ma

[2021-09-23 17:59] gwwar opened #35096 "Site Logo: update placeholder to wireframe"
Let's update the site logo placeholder to a wireframe (or similar) with a droppable area. The upload button for the media library should be visible on the toolbar.

The idea here is to make it easier to visualize what a site logo may look like. This is especially helpful when using a site-logo in a pattern when the site logo isn't set yet.

| Current Placeholder |
|-----|
| <img width="767" alt="C

[2021-09-23 18:26] bph commented on #34577
@NenadObradovic  Here is the storyboard of the [RangeControl component](https://wordpress.github.io/gutenberg/?path=/story/components-rangecontrol--default) You can set the initial value or not and the user can type in a number, within in the predetermined min and max values.  This should do what you need. Give it a shot. I close this issue for now. We can open it up again. If it doesn't do what y

[2021-09-23 18:26] #34577 closed, assigned to nobody

[2021-09-23 18:42] anton-vlasenko commented on #24642
@spacedmonkey Thank you for the screencast!
I'm able to reproduce it now.
I don't know what was going on, I believe I didn't have any filters.
But it doesn't matter because I'm able to reproduce it now.
Thank you!

[2021-09-23 18:51] Flameeyes commented on #35086
Looking at the history, I think e2e3f6b30c34cc0f70bc59f0ebc283dc57fbe149 is probably related.
AIUI this uses the KeyboardEvent API that has specific behaviour for dead keys: https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/key

(If that is the case, this may have the same problem on other non-Windows OSes, I just can't test that. macOS has an "US International (PC)" keyboard that use

[2021-09-23 20:05] spacedmonkey commented on #34781
I am wonder we should include menu location selection to the create menu dialog.

Consider the create menu interface in the customizer.

<img width="322" alt="Screenshot 2021-09-23 at 20 53 19" src="https://user-images.githubusercontent.com/237508/134575561-a060ac04-199d-4f9c-ae8f-1692cd2a40dc.png">

We could add menu locations to this dialog.

<img width="381" alt="Screenshot 2021-09-23 at 21 05

[2021-09-23 20:25] iandunn opened #35099 "`theme.json` can't have comments"
## What problem does this address?

`theme.json` is a configuration file maintained by humans, rather than a data-interchange file used by software. Comments are an essential feature of any configuration file, in order to document important decisions, explain things that aren't obvious, etc. For example:

[code]

JSON tooling usually (and [mistakenly](https://github.com/zaach/jsonlint/issues/50#is

[2021-09-23 20:37] spacedmonkey opened #35100 "Prompt users will lose changes by switching menus"
## What problem does this address?

In the navigation screen, when user makes change to a menu can change the menu using the menu switcher. When switching menus, the changes you have already made to the first menu are lost.

https://user-images.githubusercontent.com/237508/134580136-a1e89165-b858-4c96-824e-abc4507a96db.mov

## What is your proposed solution?

When there are unsaved changed in the

[2021-09-23 20:57] ssimo3lsuhsc opened #35101 "Latest Posts and More Block"
In my organization, it has been the policy to always include basic information about any partner supplying the original information contained in a news posting. To that end, we have always included a "More..." block in our posts. On our home page, we would like the Latest Posts block to display information in complete chunks with no character named an "ellipsis" in sight.

On a home page with a ne

[2021-09-23 21:06] bph commented on #35085
Nice sleuthing, @Soean! So, not a bug.  I guess, we would need to deprecate the meetup.com block. I'll change the title of the issue, then
![Screen Shot 2021-09-23 at 5 07 46 PM](https://user-images.githubusercontent.com/39980/134584228-c3ef5932-1724-443f-b145-162d7821ce1d.png)
.

[2021-09-23 23:05] stokesman commented on #34677
In case anyone participating here would like to test it out, a PR (#34834) has been opened to fix this. You can test it on http://gutenberg.run/34834. Seems to resolve the issue and I've not been able to get it to misbehave.

[2021-09-24 00:43] annezazu commented on #34380
@oandregal perhaps you might have some thoughts here?

[2021-09-24 00:47] annezazu commented on #34400
Hey @lettyskitchen - so sorry for this frustrating experience! Since this is more of a support request than a technical issue with Gutenberg, I'm going to close this out for now. With that said, I highly recommend checking out the following article:

https://www.wpbeginner.com/wp-tutorials/how-to-add-amazon-ads-to-your-wordpress-site/

It should help you accomplish what you're looking for :)

[2021-09-24 00:47] #34400 closed, assigned to nobody

[2021-09-24 02:19] annezazu commented on #34841
Closing this out as a duplicate :)

[2021-09-24 02:19] #34841 closed, assigned to nobody

[2021-09-24 02:22] annezazu commented on #34896
Thanks for chiming in here @ndiego! Based on the above response, I'm going to close this out after adding a few labels :)

[2021-09-24 02:22] #34896 closed, assigned to nobody

[2021-09-24 02:42] chthonic-ds commented on #34677
Thank you, @stokesman! I've tested and can confirm #34834 appears to resolve this issue.

[2021-09-24 03:03] SeanFordyce commented on #34896
Thank you!

On Thu, Sep 23, 2021 at 10:22 PM annezazu ***@***.***> wrote:

[2021-09-24 03:08] kellychoffman opened #35102 "Inserter: Update default view of Patterns tab"
When no patterns are packaged with current theme, the current view for the pattern inserter is not very inspiring. It would be more useful to have a `Featured` section as the default view. Quick mock:

<img width="291" alt="Screen Shot 2021-09-23 at 7 58 03 PM" src="https://user-images.githubusercontent.com/5835847/134611473-cbccb84d-df87-4e78-87f6-06282cb7ae34.png">

**Current view for reference:

[2021-09-24 03:40] glendaviesnz commented on #35099
Is adding a schema link into theme.json an alternative approach to comments? eg.  `"$schema": "https://json.schemastore.org/theme-v1.json"`,  @ajlende has started a theme.json schema already at https://github.com/SchemaStore/schemastore/blob/master/src/schemas/json/theme-v1.json which I believe can be extended  to add descriptions to all of the fields, which when used with an IDE that supports it

[2021-09-24 03:45] tellthemachines opened #35103 "Adding all pages in Navigation screen doesn't add child pages"
### Description

When creating a menu in the Navigation screen by clicking "Add all pages", child pages do not get added to the menu.

### Step-by-step reproduction instructions

1. Make sure you have at least one page that is a child of another page.
2. Create a new menu in the Navigation screen, and click "Add all pages".
3.  Verify that the child page(s) weren't added to the menu.

### Screensh

[2021-09-24 03:49] glendaviesnz commented on #35095
Thanks for taking time to outline this issue so clearly. This is actually intended behaviour [as explained here](https://github.com/WordPress/gutenberg/issues/28654#issuecomment-772533751).

Because of the reasons outlined in that past comment, and the additional background discussion [here](https://github.com/WordPress/gutenberg/issues/8941#issuecomment-659664017) and [here](https://core.trac.wor

[2021-09-24 03:49] #35095 closed, assigned to nobody

[2021-09-24 04:10] glendaviesnz commented on #35042
Ran this suit 5 times locally with no failures - looks like this was just linked to the changes made here https://github.com/WordPress/gutenberg/commit/0ee00145b14b0c1289870e90ff7b5e640ade3831 - which may have just caused CI failures while this was being worked on.

[2021-09-24 04:15] tellthemachines commented on #30007
Currently our only use case for such an API is being able to use the Navigation block in the Navigation screen. This is a super special case, where we're trying to leverage a block built with site editing in mind to basically redesign the classic menus interface. The problem with that is we have no idea what other use cases for this API might be, so it'll be very easy to end up with an API that is

[2021-09-24 05:33] tellthemachines opened #35104 "Customise initial suggestions in Navigation Link to show Pages by default"
## What problem does this address?

Prompted by experiments and discussions around Navigation Link block defaults and variations in #34899 and #35056.

When inserting a Navigation Link with no specific variation, the link control should show Pages by default in the initial suggestions. We want to optimise Navigation Link for adding Pages, because that is likely the most used type, while still prov

[2021-09-24 05:36] MuhammadFaizanHaidar commented on #35085
Hi @bph I would love to contribute to this ticket I need some guidance . Do I need to remove 'meetup-com' block from variations.js? Thanks

[2021-09-24 05:57] Mamaduka commented on #35102
Related #33046.

cc @priethor

[2021-09-24 06:32] carolinan commented on #34717
In Twenty Twenty-One, the button is inverted on hover; the filled style is the hovered style for the outlined, and vice versa.
The default button color changes depending on the background.
By default, the button background is dark grey.  If a button is placed in a group block with a dark grey background, the default button background is the mint green...

And then all that was reverted in dark mod

[2021-09-24 06:34] brownboycodes commented on #35099
you can also write ✍🏽  the configuration files 📝  in YAML and convert it to JSON with tools like https://www.json2yaml.com/convert-yaml-to-json

YAML is also a superset of JSON and uses python 🐍  like line separation & indentation and commenting with `# comment`, and its as easy as JSON

#### theme configuration file in YAML
[code]

#### the equivalent JSON code converted from YAML with https://ww

[2021-09-24 06:55] jasmussen commented on #35096
Here's an idea for the site logo placeholder:
<img width="1056" alt="Site Logo Placeholder Options" src="https://user-images.githubusercontent.com/1204802/134631475-33da87f2-4994-4e53-87d6-9ec3bf9d5110.png">

[2021-09-24 07:15] kevin940726 commented on #35042
@glendaviesnz The bot will only report test which has both failing and passing results, so legitimate CI failures won't be reported. Also, some flaky tests would only fail once every dozen of runs, or only failing on CI.

The bot will reopen this issue if it is not fixed though ;)

[2021-09-24 07:28] oandregal commented on #34755
Hey Michael, I've got two thoughts about this.

You can already do it. It's just not "sanctioned" by WordPress. Any setting that is present in the file but is not valid according to the schema will be ignored. If a specific tool requires data stored in a certain format in `theme.json` people will use it, similarly to what happens with `package.json` for npm: there are fields there that are not doc

[2021-09-24 08:14] getdave commented on #30007
I don't think that's correct 😃 ...allow me to explain.

Let's say I work for an agency who develops websites for clients. Based on my own experience in this field, you will definitely want the ability to be able to **lock down certain features of blocks** in order to avoid clients being able to make decisions that you don't trust them with.

Currently we have a _limited_ ability to achieve this vi

[2021-09-24 08:16] jasmussen commented on #35104
Thank you. One of the challenges with the URL dialog is that it always shows the most recent items, with no option to browse deeper without search. Based on much older explorations by @shaunandrews, can we actually show a scrollable list of pages?

<img width="380" alt="page link" src="https://user-images.githubusercontent.com/1204802/134641450-2fedd7c2-63b3-4b74-83a6-4a0f83b7a711.png">

If there

[2021-09-24 08:21] getdave commented on #35037
Yup. That's what I was looking at in https://github.com/WordPress/gutenberg/issues/31580.

I don't know the answer to that at the moment. Happy to discuss.

[2021-09-24 08:27] getdave commented on #35100
The pattern in the Site Editor is for the changes to be preserved and then when you hit "Save" it shows you which templates you've edited (including ones you are not currently viewing). You can then pick which ones to save - defaulting to all of them.

We could do the same with Menus. Default to preserving changes and then asking the user which ones they want to save.

[2021-09-24 08:45] Mamaduka commented on #35100
Here is the issue for multi-entity saving enhancement #31813.

[2021-09-24 08:49] #25414 closed

[2021-09-24 09:37] rubengc opened #35107 "Component RadioControl stop to working in WP 5.8.1"
Hi there!

From latest update, the RadioControl component stop to working and its value never gets updated.

I'm using the "selected" attribute which was working completely fine until this update.

Is there any change made in 5.8.1 to this component?

I checked the WP docs and seems the attributes still the same as I was using from the release of Gutenberg so I do not know exactly what's happening

[2021-09-24 10:32] Mamaduka commented on #35107
Hi, @rubengc

Can you share an example code for testing?

[2021-09-24 10:43] Ferellie commented on #34825
This is a major annoyance for myself and my collegues as we're often required to add many PDF documents at once.  Further more we are constantly being asked by clients to make off by default as they too are getting frustrated.

I've been looking around to find possible solutions and every post I read explains the frustration this is causing.  As mentioned by Sabernhardt, it's not like it's hard to

[2021-09-24 10:44] rubengc commented on #35107
Hi @Mamaduka

Of course, I found it in my plugin GamiPress, every control (checkboxes, even a multicheckboxes we created) is working fine except the RadioControl

Here is a test website with GamiPress installed where you can test it in any post editor:
https://tastewp.com/new/?pre-installed-plugin-slug=gamipress

The steps to reproduce are:
1 - Create a post
2 - Add the block Single Achievement
3

[2021-09-24 11:24] bph commented on #35085
@MuhammadFaizanHaidar that would be my instinct, and that's all there is nothing to back it up. Intuition fails me 50% of the time.
I probably would also look at cleaning out Facebook and Instagram variations, as those have been deprecated, which already happened back in October 2020.

On the other hand, why haven't they been removed? There might be some underlying reason, that's not entirely obvi

[2021-09-24 11:41] sajmes commented on #34602
I ran into something that appears to be related this issue on a WordPress.com site. A prior report noted the `obj` in the title. That was no longer there but the post still crashed the editor. I removed several blank spaces from the end of the post title using quick edit and this resolved the issue with the editor loading.

[2021-09-24 12:05] carolinan commented on #34994
The post comment block is in the theme category, but the inner blocks are in the design category, is that correct or should they all be in the theme category?

[2021-09-24 12:13] pablohoneyhoney commented on #34345
Here's an update on some of the typography components and behaviors.

<img width="279" alt="Screen Shot 2021-09-24 at 2 00 42 PM" src="https://user-images.githubusercontent.com/25516611/134670861-ee2736d9-17a8-466c-8c49-b92b7725b88e.png">

In particular regarding the Size component. Below there's a bit more detail around aspects not considered before, like variants on number of values (segmented U

[2021-09-24 12:31] mtias commented on #35096
Nice! Can we try on that first version with the same drawing we use for the icon but larger so it coincides with the outline? We'd need to redraw it. We should also see how it looks when the style is set to squared.

[2021-09-24 12:33] mkkeck commented on #34755
@oandregal Hi André,
the main reason was for adding extra configs for the theme like social services with the https://github.com/WordPress/gutenberg/issues/19041#issuecomment-921784434

[2021-09-24 12:59] jameskoster opened #35113 ""Save as..." for Reusable Blocks"
It's not always clear where your edits will take you when working with a Reusable Block. Occasionally you'll find yourself making changes that are so extensive that creating a brand new Reusable Block becomes desirable.

Unless I'm mistaken, if you wanted to do this currently you'd need to copy/paste the blocks, create a new Reusable Block, then undo all the changes you made to the one you were or

[2021-09-24 13:01] jameskoster commented on #27851
Whatever we come up with for Reusable Blocks (https://github.com/WordPress/gutenberg/issues/35113) can likely be reused for templates / template parts.

[2021-09-24 13:17] oandregal opened #35114 "theme.json: whether or not to allow targetting `settings` that are specific to the block"
Many people have expressed that it'd be convenient to allow themes to configure settings that are block-specific via `theme.json`. While block attributes & supports are configurable via the existing [block filters](https://developer.wordpress.org/block-editor/reference-guides/filters/block-filters/), `theme.json` settings have proven very ergonomic for themes, hence the appetite to have more of it

[2021-09-24 13:29] oandregal commented on #35114
I understand how this is appealing and why themes would want to use `theme.json` to configure any setting the block supports, it's a lot more ergonomic than existing options.

The major drawback I see is that we lose the ability for blocks to inherit global settings

- Right now, if a block declares support for the link color, the block will automatically inherit the theme preference for links (wh

[2021-09-24 13:29] oandregal commented on #34755
Thanks for sharing, Michael. This is a topic that have popped up lately in a few PRs and issues. I feel it merits discussion in a centralized place. Created https://github.com/WordPress/gutenberg/issues/35114

[2021-09-24 13:32] oandregal commented on #35114
For awareness, @jorgefilipecosta @youknowriad @mtias @getdave @talldan @draganescu

[2021-09-24 13:38] jasmussen commented on #35096
Do you mean like this?

<img width="1056" alt="circle" src="https://user-images.githubusercontent.com/1204802/134683382-5265b58a-b19b-40a7-a36c-f5b4df662e08.png">

If we can get the vectors just right, it could work, even as square:
<img width="1056" alt="square" src="https://user-images.githubusercontent.com/1204802/134683540-683d0016-3c12-4ec3-8474-ff48f52c2068.png">

One of the things I like ab

[2021-09-24 13:41] jasmussen commented on #35096
This one doesn't work, but to cauterize the idea:
<img width="1056" alt="Site Logo Placeholder Options" src="https://user-images.githubusercontent.com/1204802/134684158-4721b685-7643-4495-b9a8-e6a984f97206.png">

[2021-09-24 13:56] iandunn commented on #35099
I think those are both good workarounds, but not ideal solutions.

Maintaining a fork of the canonical schema would be too much work for the benefit you'd get IMO, could lead to things being out of sync and inaccurate, and tooltips are really easy to miss.

I think having to setup and run extra tooling would also add more pain than it'd remove. Tooling often breaks, someone might manually modify t

[2021-09-24 14:02] jameskoster opened #35116 "Make it easier to identify specific Reusable Blocks on hover"
Mousing over Reusable Blocks exposes a semi transparent overlay which indicates that the block is special in some way. This UX works well, but one piece missing is the connection between the hover interaction and the underlying entity. To know exactly which block I'm looking at I need to click on it. Might it be more elegant to expose this somehow on hover?

My hypothesis is that this will make se

[2021-09-24 14:08] jameskoster commented on #34994
Personally I think the inner blocks are more aligned with the other blocks in the theme category.

But without wanting to open a can of worms, could there be an argument for a dedicated "Comments" section? There are quite a few blocks here...

[2021-09-24 14:18] youknowriad commented on #35054
cc @jasmussen I wonder if this is related to the change in the reset styles somehow?

@steveangstrom would you mind providing a zip of your theme?

[2021-09-24 14:21] #34792 closed, assigned to fluiddot

[2021-09-24 14:26] jameskoster commented on #31749
I think this one is complete 🎉

[2021-09-24 14:26] #31749 closed, assigned to nobody

[2021-09-24 14:30] jasmussen commented on #35054
Question, when you add the editor style do you specifically target `.editor-styles-wrapper` in the editor style? `add_editor_style` is best paired with targetting `body` just as you would on the frontend, and it then rewrites that to `body`. In experiments with the site editor iframe, it's possible that parsing has changed between versions.

[2021-09-24 14:46] mtias commented on #35096
Yes, that's what I had in mind. We don't need to do a 1.5 stroke for there. The dotted one could work as well, I think we can try either.

[2021-09-24 14:53] pablohoneyhoney commented on #35096
Lovely. Any could work! Perhaps the tooltip is too long with too many instructions? And do we need two commas? Would a simple `Add a site logo` work reinforced with the upload icon and the state change?

[2021-09-24 14:59] dingo-d commented on #30859
Any indication when this might get addressed? Would help the UX when writing your own custom blocks a ton!

[2021-09-24 15:02] jasmussen commented on #35096
Cool, let's try the decorative version with a minimal tooltip and go from there. Thanks!

[2021-09-24 15:05] karmatosed opened #35118 "Post content block: Add font and color properties"
Whilst the query block is amazing, along with the group block, I would recommend that post content has some basic styling features added to it. Currently, this is all you see:

![2021-09-24 at 16 02](https://user-images.githubusercontent.com/253067/134697293-231b6f0e-d0e3-4929-8681-00a84e211f54.png)

Compare this to post title:

![2021-09-24 at 16 03](https://user-images.githubusercontent.com/2530

[2021-09-24 15:16] overclokk opened #35119 "Block toolbar: add a dropdown list to select parent and child (like the list view)"
## What problem does this address?
It is not very clear the use of the left button in the block toolbar, especially for non tecnical user.

## What is your proposed solution?

Something like this on mouse hover (I'm sorry, I'm not a designer)
![Senzanome](https://user-images.githubusercontent.com/4604932/134698622-feb00748-d5a9-4e08-b3a7-739d5f1525a1.jpg)

In the list will be show only the parent

[2021-09-24 16:03] karmatosed commented on #35116
@jameskoster I like the idea of identifying it's a particular block; however, there are also explorations on states to indication padding and other things of blocks. How would those interact with this?

I guess one thing to work out is how useful and what is the use case for seeing in the flow if it's a reusable block or not? Then it can determine how visible this needs to be.

[2021-09-24 16:06] #34597 closed, assigned to ntsekouras

[2021-09-24 16:06] #30782 closed, assigned to ntsekouras

[2021-09-24 16:14] kellychoffman commented on #35102
Sorry for the dupe! Will close mine in favor of Kjell's.

[2021-09-24 16:14] #35102 closed, assigned to nobody

[2021-09-24 16:17] steveangstrom commented on #35054
Hi folks, apologies I'm a bit rushed at the moment but here's the content of my editor style to answer a few questions @jasmussen  you can see the target of .editor-styles-wrapper in the second declaration.
[code]

[2021-09-24 16:35] steveangstrom commented on #35054
I've just realised something, this is the rule in reset which is enforcing serif

[code]

In my site , the block which is mis-styled has output like this

[code]

The H3 has the correct font, but the `<div class="post_body">Lorem ipsum d...`   inherits Serif from the reset.css, because it matches that rule.  the reset is more specific than

[code]

[2021-09-24 16:40] jasmussen commented on #35054
Thank you for the added information. Can you try and replace `.editor-styles-wrapper` with `body` in your editor style?

[2021-09-24 16:41] ciampo commented on #33820
Closing in favour of #35093

[2021-09-24 16:41] #33820 closed, assigned to ciampo

[2021-09-24 16:44] joedolson commented on #35087
Given the number of potential display problems for legacy widgets, it would also be beneficial to offer a mechanism that allows the authors of widgets to disable the preview for their widget if they know it will cause problems. E.g. "Preview not enabled"

[2021-09-24 16:50] mdrovdahl commented on #34602
To be clear, as is reported elsewhere, by removing those spaces you're (I'm 99% certain of this) actually removing the offending Object Replacement Character, it's just not rendering the "OBJ" in that view (for whatever reason), so it's not visible.

[2021-09-24 16:51] mkaz commented on #35114
I think one requirement should be that all blocks must require a default and assume no setting from theme.json. This way themes wouldn't be required to do anything unless they want to override the defaults.

I can see this useful for my [code-syntax-block](https://github.com/mkaz/code-syntax-block). It has a setting for specifying a color scheme and/or stylesheet to use for the code colors. It wou

[2021-09-24 17:07] #34694 closed, assigned to ciampo

[2021-09-24 17:13] gwwar opened #35120 "Dragging the same pattern twice will assign the same clientId"
### Description

I noticed that dragging patterns multiple times will insert blocks with duplicate clientIds.

It looks like the transfer data is set with these blocks, and clientIds are never updated even when a drop is successful.

https://github.com/WordPress/gutenberg/blob/efaa86b900f8707a1ae8c11ebf591fde808f24aa/packages/block-editor/src/components/block-patterns-list/index.js#L23-L26

https:

[2021-09-24 17:17] karmatosed commented on #35113
If adding save as, I think the ellipsis works a little better than the 'save as' dropdown - however that might be because the flow is new. Maybe with some iterations that could work but I'm not convinced.

[2021-09-24 17:22] CandaceJohnsonDesigns commented on #34613
@mkkeck

The default behavior of the social links is to display each icon with their specific brand colors. Due to the specificity required for this, in order to override the color choice, styles must be placed inline. An alternative solution would be to extract the color(s) as a CSS custom property and incorporate a "Use brand colors" toggle in the Block settings panel.

**Potential CSS Example:*

[2021-09-24 18:40] mkkeck commented on #34613
@CandaceJohnsonDesigns
It does still not make sense, that social services have to be written in js and php. Here's a solution how could it be done:
https://github.com/WordPress/gutenberg/issues/19041#issuecomment-921784434

Than your code sample does not work on IE11 and/older MS Edge. Perhaps that may be important to users, which still need supporting such browser on front end side.

The other po

[2021-09-24 19:22] TeBenachi opened #35122 "VoiceOver and Navigation Block (Responsive Menu): Empty Navigation"
### Description

This is an issue with Firefox. When the navigation is set as a responsive menu, VoiceOver reads it as "Empty Navigation" and doesn’t read each link.  When the navigation is not responsive, VoiceOver works as expected.

### Step-by-step reproduction instructions

1. On the Site Editor, add a Navigation Block and select the Start Empty option.
2. Use the Custom Link Block to add lin

[2021-09-24 20:12] karmatosed commented on #34968
@javierarce some great explorations there. I think I would probably change this wording a tiny bit:

To

It says the same thing and yet does it in a shorter phrasing. However, it would be great to get other copy reviews.

I am not sure about showing the colors, the reason for that is I think that they would have to read out to those using screenreaders and that could be a slightly strange experien

[2021-09-24 20:19] karmatosed commented on #35009
I noticed this has the label for needs design and I want to help out with theme blocks. Regarding what it should support, a first feature set to me seems to be what is supported by query pagination block:

`
		"color": {
			"gradients": true,
			"link": true
		},
		"typography": {
			"fontSize": true,
			"lineHeight": true
		}`

I would also probably lean heavily on that for a design pattern, but

[2021-09-24 20:42] javierarce commented on #34968
That's much better, thanks!

I think we could add the `aria-hidden="true"` attribute so they would be ignored by screen readers. And the border around the circles would help to make them distinguishable (we could tweak it a little bit to increase the contrast).

In any case, we can go for a purely text-based message. The important thing is that the user responsible for selecting the color combinat

[2021-09-24 23:49] CandaceJohnsonDesigns commented on #34613
Wordpress 5.8 dropped support for IE11 and older : [See here.](https://wordpress.org/news/2021/05/dropping-support-for-internet-explorer-11/)

So if you are utilizing theme.json, custom properties are being generated and used already.

As a developer, I prefer having base styles and overriding as needed and loading in these base styles is not very expensive.

[2021-09-25 04:59] mrkunau commented on #34841
Thanks @annezazu ! Looking forward to the fix update soon.

[2021-09-25 07:00] mkkeck commented on #34613
Yes, per core styles, and mainly on backend.
Found on your reference site:

It is still possible to write themes and styles supporting these browsers. And it should be still possible for special situations.

Yes I know, and of course this is often "buggy". See #34575. WordPress or Gutenberg should never style the front end, it should still be done by themes.

Thats what I also do, but when I overw

[2021-09-25 07:32] mkkeck commented on #34613
I know.

I know this also.

With a SVG sanitizer injecting and uploading SVG is not really unsafe. There are plugins available, and of course it would be easy to intergrate such functionality into WordPress core.

Of course, so I've started this issues.

Thats not the point. The point is code duplication of settings for some blocks. Means, write the same config for PHP and Javascript twice. That d

[2021-09-25 08:07] mkkeck commented on #34575
That would be an alternative way.
Adding different breakpoint sizes (aka Bootstrap) instead of device names could be also available.

[2021-09-25 13:13] mehov commented on #33558
I am trying to post a harmless code snippet:

[code]

It gets converted to:

[code]

Am I not supposed to be able to post a simple code snippet in my blog? Is this also *an edge case usage* for you?

[2021-09-25 13:48] FedericoPistono commented on #1890
Thanks for the great work! 🙏🏻

Will definitely use footnotes in Gutenberg on a daily basis as soon as they're available.

[2021-09-25 20:11] franmastromarino opened #35126 "Site editor: Undefined index: __unstableType"
### Description

PHP error Undefined index: __unstableType wp-content\plugins\gutenberg\lib\compat\wordpress-5.9\default-editor-styles.php on line 29

### Step-by-step reproduction instructions

define('WP_DEBUG', true);
define('SCRIPT_DEBUG', true);
define('WP_CACHE', true);

### Screenshots, screen recording, code snippet

https://snipboard.io/TLF10d.jpg

### Environment info

WordPress version:

[2021-09-25 20:20] franmastromarino opened #35127 "theme_file_path filter not working with templates"
### Description

I'm trying to hook in to the filter theme_file_path to replace the default theme templates via plugin
I'm working with the latest trunk version of gutenberg at the time im writing

[code]

The filter is working correctly with the templates parts but not working with templates

If you include an error_log($path)

Youll receive

[25-Sep-2021 20:17:20 UTC] block-template-parts/header

[2021-09-26 03:26] carolinan commented on #35118
But the post content block _displays the content that you added to your post_, and that content is already styled?
You select the "inner" block inside the post content to change the color, etc.

[2021-09-26 08:55] karmatosed commented on #35118
@carolinan I wonder if there's a case for someone wanting to though unify the styling or at least use global styles here?

[2021-09-26 09:06] ghost commented on #34602
I had a user case with the same issue.

[2021-09-26 12:14] aercolino commented on #33585
The same meta tag is also inserted when copy-pasting text between paragraphs. (WordPress 5.8.1 on Mac/Chrome)

[2021-09-26 14:51] Clorith commented on #34574
I'm honestly not sure if this is the right ticket for thoughts on the concept of a `theme.json` administrative interface, but I'll throw it in, please feel free to point me elsewhere if there is a better location.

The concept of an interface here in the first place feels counter-intuitive to WordPress' philosophy I feel ("Decisions, not Options"), we are now potentially throwing a **lot** of opti

[2021-09-26 14:58] oglekler opened #35128 "Media & Text Block error while dragging inside it more than one block"
### Description

"The editor has encountered an unexpected error" and the recovery attempt is not working. I've got this error with no plugins on WordPress version 5.8.1 and the Twenty Twenty-One theme.

### Step-by-step reproduction instructions

1. Add in the Block Editor some text or/and images (more the one block)
2. Add Media & Text block
3. Select several blocks and try to move them inside t

[2021-09-26 16:03] pzelchenko opened #35129 "Arrow key behavior in basic paragraph blocks (repeat behavior)"
### Description

(I've searched for this issue but haven't found anything; perhaps it's already been discussed.)

Normally when in a paragraph block and at the end of the block, using down-arrow or right-arrow to move to first character or down into first line (respectively) of next paragraph block behaves as expected. However, at a certain point it can begin to exhibit the following behavior: ano

[2021-09-26 16:16] skorasaurus commented on #35114
Also discussed at https://github.com/WordPress/gutenberg/discussions/34908

[2021-09-26 19:38] Baelx commented on #16836
Any progress on either adding a "selected" declaration or updating the docs? I'm not the original reporter but I've looked through the README.md for the workaround suggested by @scarabcoder and it's not really clear how it's achieved with "value."

[2021-09-26 20:51] paaljoachim commented on #35129
I am using WordPress 5.8
Theme: Twenty Twenty One
Gutenberg plugin active version 11.5.1
Self hosted WP in a local development site.

I added a few paragraphs. Moved the blinking cursor a few steps back and then forward. Added some text. Went to the paragraph below added some text. Continued moving the cursor around with the arrow keys. I have not yet been able to produce the jumping cursor as you

[2021-09-26 23:27] #33769 closed, assigned to andrewserong

[2021-09-27 00:31] andrewserong opened #35130 "MediaUpload: Improve consistency in Add to Gallery view of media library with the gallery block"
### Description

Following on from #33769 and the fix in #35070:

When we open the media library for a gallery block that already contains images, we now pre-select the existing images to ensure that the media library does not unintentionally strip images from the gallery.

The fix in #35070 introduced an inconsistency — when we initially open the media library modal, the current images are shown

[2021-09-27 01:11] pzelchenko commented on #35129
It doesn't happen right away. I haven't yet figured out how it reproduces.

--
Peter Zelchenko 手机(+86)/微信18221718104
College of Design and Innovation, Tongji University 同济大学设计与创新学院

On Monday, September 27, 2021, 04:51:28 AM GMT+8, Paal Joachim Romdahl ***@***.***> wrote:

I am using WordPress 5.8
Theme: Twenty Twenty One
Gutenberg plugin active version 11.5.1
Self hosted WP in a local development

[2021-09-27 03:31] dinhtungdu opened #35133 "Broken style for disabled dropdown"
### Description

The multiple arrows issue still occurs in the disabled dropdowns in the editor area. The normal dropdown doesn't have this issue, only disabled one. Any block that uses vanilla `<select>` has this issue, including the `Archives` block. Please refer to the screenshots section for more details.

Note:

- This issue was mentioned in some comments of https://github.com/WordPress/guten

[2021-09-27 03:46] inaikem opened #35134 "Query Loop: Include a Query Pagination option on the block variations panel"
### What

Add the _Query Pagination_ block when selecting a variation.

### Why

When you add the _Query Loop_ block and select a variation:

![QueryLoopBlock](https://user-images.githubusercontent.com/16104522/134504729-41285ba6-6511-487a-9c5f-ba4398eed9d3.png)

You would expect that those would include pagination, but they don't. It's confusing because you can see pagination settings on the bloc

[2021-09-27 03:53] #34826 closed, assigned to glendaviesnz

[2021-09-27 07:03] kdevnel commented on #35086
Just to add for context, I tested this with the US International (PC) on macOS and the behaviour of the dead keys is slightly different to how Windows handles them. The issue reported didn't happen in macOS for me, only on Windows.

The slight difference seems to be that in macOS, the first press of the modifier outputs a placeholder character that is then replaced with the final character on the

[2021-09-27 07:33] Mamaduka commented on #35126
Thanks for reporting the issue, @quadlayers.

The notice was fixed via #34735 and will be available in Gutenberg 11.6.

[2021-09-27 07:33] #35126 closed, assigned to nobody

[2021-09-27 09:13] jameskoster commented on #35116
Do you have links to those explorations?

To be clear, the only thing I'm proposing here is the blue 'chip' with the block icon/name that appears on hover, in the same location as the toolbar.

It's useful (imo) because it adds another layer of clarity to the UI when working with more complex blocks. Due the behavioural overlap between things like template parts, reusable blocks, (and to a lesser

[2021-09-27 09:49] #34410 closed, assigned to Mamaduka

[2021-09-27 09:59] Mamaduka commented on #35128
It is possibly related to #34631.

[2021-09-27 10:04] javierarce opened #35143 "Tweak LinkControl UI style"
I'd like to propose some minor adjustments to the UI of the LinkControl component

- Making the hover background to a lighter shade of gray: `#f0f0f0` instead of `#dddddd`.
- Reducing the border radius of the hovered item to `2px` instead of `5px`.
- Setting the padding of the `.block-editor-link-control__search-item-type` to `6px`.
- Fixing the color of hovered search result, so the `<mark>` tag

[2021-09-27 10:17] jameskoster commented on #35113
Yeah the ellipsis probably makes more sense when we think about how we might present this affordance in the multi-entity save interface:

<img width="1355" alt="Screenshot 2021-09-27 at 11 15 53" src="https://user-images.githubusercontent.com/846565/134890233-338c5fa2-771d-402c-8b77-5caa1c399bfb.png">

Especially when we consider other potential actions like discarding changes, or renaming.

[2021-09-27 10:29] carolinan commented on #35118
I don't understand how that would work? The blocks in the post content could be anything, a quote, table, paragraphs, or even another query loop with more post content blocks?

[2021-09-27 11:14] franmastromarino commented on #35126
great! thanks

[2021-09-27 11:36] Mamaduka commented on #35128
The error happens because both `startRef.current` and `endRef.current` are `undefined` after dragging multi-selected blocks into another block - "Media & Text," "Columns" or any block that support inner blocks.

Pinging @ellatrix since I'm not very familiar with this part of code.

[2021-09-27 11:37] #35133 closed, assigned to nobody

[2021-09-27 11:53] adamziel commented on #29747
This sounds like a style variation to me: Dropdown vs Accordion. What do you think? I'll explore that in a pr

[2021-09-27 11:59] karmatosed commented on #35118
Right and perhaps you could set the font family across all?

[2021-09-27 12:04] karmatosed opened #35144 "Heading block: setting colors causes some unexpected results in site editing"
I found this fun little situation using Chrome where I could change different colors without expected results. The following gif probably explains it better, but as you can see, it's not picking up the correct colors and setting the entire line:

![2021-09-26_11 07 08](https://user-images.githubusercontent.com/253067/134904396-e2768bb8-4eb7-4467-8791-c2f4d9a1ab63.gif)

It seems to be seeing it 'al

[2021-09-27 12:10] carolinan commented on #35114
I have heard from many theme developers that have been confused about why theme.json does not add support for the editor control, when the setting is enabled.
I think that full control using the theme.json file is expected by many.
It would also lower the entry barrier for anyone who is not already familiar with the block supports API.

[2021-09-27 12:22] ciampo commented on #29747
According to [this answer](https://github.com/WordPress/gutenberg/issues/21584#issuecomment-907081394) from @mtias:

ee shouldn't look into adding such a component to the `@wordpress/components` package at the moment.

[2021-09-27 12:26] adamziel commented on #29747
@ciampo The way I understand it is that Matias makes a case for not adding an Accordion block to `@wordpress/components`. This issue, however, is about supporting accordion style menus in the navigation block. Tying it to an accordion block would be one way to approach it, but it would also involve a major refactor of the navigation block. What I'm proposing here is starting with adding a style va

[2021-09-27 13:12] ciampo commented on #29747
Thank you for the clarification — in that case then I don't think there are any issues with your exploration from my side.

[2021-09-27 13:33] carolinan commented on #35144
I was not able to reproduce this with current trunk of Gutenberg, which version are you using?
Chrome, Windows:
![Text color is changed using the custom color palette](https://user-images.githubusercontent.com/7422055/134918606-2ac67ca3-9682-4cf4-bb2a-6256fc0582a0.gif)

[2021-09-27 14:09] adamziel commented on #30007
@getdave @talldan If we want to configure the block depending on the context (nav editor / post editor / specific WP site etc), could we perhaps use [block context](https://developer.wordpress.org/block-editor/reference-guides/block-api/block-context/) API?

We could have sensible defaults in place to make the block work in the most common use case (e.g. post editor). The navigation editor would c

[2021-09-27 14:14] hannahmwool commented on #9897
Was there ever a resolve here? I get the issue when trying to register a block style for media-text
`wp.blocks.registerBlockStyle(
    'core/media-text',
    [
      {
        name: 'padded-background',
        label: 'Padded Background',
      }
    ]
  );`

[2021-09-27 14:58] hrrarya commented on #6751
guy's Any Solution? Has anyone been able to use the Parent Block $attributes to Child Block in the server?

[2021-09-27 15:40] romerocs opened #35151 "Image block style - .is-style-rounded overrides my block style css"
### Description

I've created a custom block style for applying rounded corners to block images. However, after a recent WP core update I noticed my block styles were being overridden by the core block library css. It resets the border-radius for all block images to `border-radius: inherit`. So now I need to increase the specificity of my css in order to apply my styles. The high specificity of th

[2021-09-27 15:54] jp-imagines commented on #34602
Another report from a WordPress.com site on a Premium plan. The OBJ character was probably pasted in from another editor (it occurred just after a ® character). "Quick Edit" workaround worked like a charm!

[2021-09-27 15:58] blogtutor commented on #35087
If the toggle to enable/disable legacy widget previews is buried behind the ellipses menu, that will make it difficult to toggle back-and-forth (far more navigational effort). I bet most users won't even know to look there, too.

@costdev's mockup (https://core.trac.wordpress.org/ticket/54075#comment:1) with the eyeball icon at the top of the page is a much more obvious solution.

(Regardless of w

[2021-09-27 16:37] stokesman opened #35153 "RangeControl marks styling regression"
### Description

The marks in RangeControl are vertically off-center.

I've visited the [WordPress Design Library](https://www.figma.com/file/e4tLacmlPuZV47l7901FEs/WordPress-Design-Library) looking for any specs on the mark placement. I found the designs for range controls but could not find any of them with marks.

Given the lack of specs, I'd recommend adjusting them vertically to center on the

[2021-09-27 17:07] spacedmonkey commented on #34440
@talldan How does this work, if `show_in_rest` is false but `show_in_nav_menus` is true? This means that post type can be shown in menus but we can't get the data via the REST API?

Also, is there any way to use the post type's icons as the block icon?

[2021-09-27 17:10] spacedmonkey commented on #34399
A filter is a the right solution here. Where would this filter come from? What is be controlled at the REST API level? Would be strip html at the API level if posted to the REST API?

[2021-09-27 17:50] spacedmonkey opened #35157 "Navigation Editor: Maintain backwards compatibility with existing filters and actions."
The new navigation editor needs to ensure the existing actions and filters are maintained. This is a working list of filters and actions.

### Filters

- [customize_nav_menu_available_items](https://developer.wordpress.org/reference/hooks/customize_nav_menu_available_item_types/)
- [customize_nav_menu_searched_items](https://developer.wordpress.org/reference/hooks/customize_nav_menu_searched_items

[2021-09-27 18:40] karmatosed commented on #35144
@carolinan latest version was what I was using so that's interesting you can't produce. It was with Chrome, Mac.

[2021-09-27 18:47] karmatosed opened #35161 "Notify or not set margin when applying inherit default layout to block"
When you apply 'inherit default layout' setting to a block it seems to also apply margin auto to centrally align. I might be mistaken here so would love some more testing to confirm beyond my experience.

To be clear what I am referring to is this setting:

![2021-09-27 at 19 43](https://user-images.githubusercontent.com/253067/134966894-8fc4ae00-83b8-49d4-9a5c-539f3edc3603.png)

What I would expe

[2021-09-27 18:56] karmatosed opened #35162 "Consider notice or preventing blocks from going in positions in full site editor where they will not work"
Certain blocks need to be placed with or within others to work in the full site editor. For example query pagination, doesn't work unless you put it in the query loop. However, you can place this anywhere on the site editor. This could easily lead to confusion. Whilst it does make sense that it works in the loop, it might be presumed knowledge others might not have. By limiting the use or notifyin

[2021-09-27 20:34] annezazu commented on #34574
@Clorith I wanted to chime in to share some thoughts as I've heard some of this feedback a ton with my work with the FSE Outreach Program. Hopefully it helps give wider context and others can continue to chime in as needed. This is not meant to stop the conversation but to continue it.

&

Right now, this work is intentionally being done in a way that "illustrates the maximum amount of customizati

[2021-09-27 20:35] Flameeyes commented on #35086
So here's a JSFiddle that might be useful: http://jsfiddle.net/r8dMu/

The combination for `á` reports:

[code]

While for `'` it is:

[code]

You can see that there's five events for each character, because dead keys don't map 1-to-1 between keys and symbols. Most importantly the keydown/keyup don't match the _press_. Now, `keypress` is deprecated, so clearly this is not what is being used now.

[2021-09-27 20:44] #32962 closed, assigned to carolinan

[2021-09-27 21:21] #34829 closed, assigned to glendaviesnz

[2021-09-27 22:10] #35120 closed, assigned to gwwar

[2021-09-27 22:56] gwwar commented on #35096
As a heads up @jasmussen I was playing around a bit and I think we'll need a different SVG asset for the wireframe. If we don't have a fixed size in mind, we can use the vector-effect="non-scaling-stroke" to not distort the stroke size. However siteLogo's path is drawn in a way that it creates a fill, so when a fill is not set the stroke appears to be quite thick.

Changes here might be as simple

[2021-09-28 00:16] costdev opened #35168 "Update `legacy-widget/index.php` in `@wordpress/widgets` package."
## What problem does this address?
Based on [the patch](https://core.trac.wordpress.org/attachment/ticket/53801/53801_css03.diff) for [this ticket on Trac](https://core.trac.wordpress.org/ticket/53801).

This updates `src/wp-includes/blocks/legacy-widget.php` with CSS to resolve the issue.

In CI, this file is picked up by `webpack:prod`, which cleans out the patch's CSS as it doesn't match `@word

[2021-09-28 00:58] annezazu commented on #35162
Thanks for opening this! I know there are a few efforts to make blocks more "context aware" (for ex with intrinsic design options). Some of this reminds me of discussions with the Navigation Block (https://github.com/WordPress/gutenberg/issues/30159) so, for now, I'm going to cc a few folks into the convo: @ntsekouras (for the query loop context) and @jasmussen (for the navigation block context).

[2021-09-28 01:16] glendaviesnz commented on #35093
Has any consideration been given to the use of these components in a dropdown menu context along with the inspector panel?

I have been looking at https://github.com/WordPress/gutenberg/issues/20837, but currently the color/gradient controls seem very coupled to the inspector panels.

[2021-09-28 01:19] glendaviesnz commented on #20837
Currently the color/gradient controls seem to be very tied to the inspector panels, and they are also in the middle of an update, so it may make sense to defer this until that work is finalised. I have added [a comment over on the color component issue](https://github.com/WordPress/gutenberg/issues/35093#issuecomment-928559912) about this as it would be good to have the use of these components in

[2021-09-28 01:26] glendaviesnz commented on #35093
There is a very rudimentary PoC branch that adds the existing color panel to a dropdown just to see how it looks at https://github.com/WordPress/gutenberg/tree/move/cover-color-to-tool-menu

[2021-09-28 01:26] glendaviesnz commented on #20837
There is a very rudimentary PoC branch that adds the existing color panel to a dropdown just to see how it looks at https://github.com/WordPress/gutenberg/tree/move/cover-color-to-tool-menu

[2021-09-28 03:38] uniquesolution opened #35169 "frontend link in details info box"
## What problem does this address?
In block editor when we are in full screen mode, there is no direct link available to copy or open the frontend. We have to either go to settings => Page => Permalink or have to disable full screen mode and then at top adminbar provide the view page link.

## What is your proposed solution?
I suggest there should be one more place for easily getting the page fron

[2021-09-28 04:12] uniquesolution commented on #34141
I had posted on wordpress forum regarding this issue https://wordpress.org/support/topic/how-to-enqueue-stylesheet-before-block-library-style/ , enqueue and dequeue not work with style tags added by wordpress, so I can't replace it after my bootstrap.css file, I want to keep bootstrap.css load first then the wodpress style tags, so that theme.json default css overwrite bootstrap, currently no way

[2021-09-28 05:12] Mamaduka commented on #35085
Hi, @bph. This probably would require a sibling ticket on WP Core Trac.

[2021-09-28 05:23] carolinan commented on #35144
Does your theme have any setting for the custom link color
https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-support/#link-color-control
Just grasping for things that might affect it 🤔

[2021-09-28 05:38] carolinan commented on #35169
Hi
Maybe I misunderstood, but the preview button has a link where you open the page on the front end, without disabling full screen mode:
![image](https://user-images.githubusercontent.com/7422055/135029386-6268f0fe-8988-4a31-b01a-dfc514d23acc.png)

[2021-09-28 05:57] Mamaduka commented on #33427
Hello, @ihdk

We tested this issue during a [triage session today](https://wordpress.slack.com/archives/C02QB2JS7/p1632807436322500).

While we were able to reproduce the issue, it looks like to be the expected behavior. If you can't publicly access the post type, there's no need for the front-end template. Setting `public` to `false` means that the post type isn't publicly accessible.

@Azragh Re

[2021-09-28 05:57] #33427 closed, assigned to nobody

[2021-09-28 06:15] getsource commented on #32751
Hi! Thanks much for the report.

This was tested today during an [editor triage session](https://wordpress.slack.com/archives/C02QB2JS7/p1632808182331200).

I was able to reproduce this by:
- Install the Classic Editor plugin
- Paste the provided HTML in to the "Code" editor in a Classic post.
- Disable Classic Editor plugin
- Open post (notice that within the Classic block, the HTML is still inta

[2021-09-28 06:27] jasmussen commented on #30159
Coming back to this ticket, a few things feel like they will address this ticket together:

- #34041 defaults to just inserting page links, which will make it vastly simpler to make basic menus.
- The expanded range of blocks allowed (including site logo as well as title) means more items you might intuit to be available, are.
- The introductory text you suggested yourself and [mocked up here](htt

[2021-09-28 07:15] ciampo commented on #35093
@jasmussen and @mtias may be better suited to answer this question

[2021-09-28 07:33] jasmussen commented on #35093
I imagine the primary benefit of having a flyout version of the color swatch picker is that the flyout itself can be invoked either by an Item in the ItemGroup, or a button in the Toolbar. Here's how it could look for the Cover:

<img width="3000" alt="Toolbar ItemGroup" src="https://user-images.githubusercontent.com/1204802/135231028-2047d701-cc26-4b43-bf7d-f7241bc24946.png">

Edit: I've updated

[2021-09-28 07:47] simison commented on #35086
Cc @ellatrix @youknowriad

[2021-09-28 07:49] jasmussen commented on #35162
I chatted with Tammie and we worked through the various cases to reproduce:

- The Query block can not be inserted outside of the Query Loop using either inserter.
- It can't be dragged out of the Query Loop in the canvas.
- But it can be dragged out of the Query Loop if dragging in the List View.
- It can also be copy/pasted outside of the Query Loop.

I did a quick similar test with the Navigati

[2021-09-28 07:59] jasmussen commented on #35096
Nice, non-scaling-stroke looks great, let's definitely explore that one.

I imagine since we'll need to accommodate various border radii, we'll want to combine the horizontal mountain silhouette as an SVG stroke, with a border. Here's an SVG you can use:
<img width="749" alt="Screenshot 2021-09-28 at 09 56 44" src="https://user-images.githubusercontent.com/1204802/135047115-b9587dbe-8ff0-42a0-b1a0

[2021-09-28 08:15] github-actions[bot] opened #35172 "[Flaky Test] should load inline styles in iframe"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should load inline styles in iframe

## Test path
`specs/editor/plugins/iframed-inline-styles.test.js`

## Errors

<time datetime="2021-09-28T08:15:35.866Z"><code>[2021-09-28T08:15:35.866Z]</code></time> Test passed after 2 failed attempts on <a href="https://github.com/Word

[2021-09-28 08:34] ntsekouras commented on #35162
👋 - I couldn't reproduce any unexpected behavior with `Query Pagination`... 🤔

I tried both in post and site editors:
1. insert the block outside `Query Loop`
2. drag `Query Pagination` or any of its innerBlocks outside (both in editor and List View)
3. copy/paste `Query Pagination` or any of its innerBlocks outside

All pagination related blocks have the `parent` property set properly..

[2021-09-28 08:40] fluiddot opened #35173 "Alignment control: Dropdown throws an exception upon opening"
## Description

An exception is thrown when opening the block alignment controls on most blocks, the only one that is currently working is the Image block.

**Exception:**
[code]

## Step-by-step reproduction instructions

1. Add a Cover block.
2. Tap on the alignment control button located in the toolbar.
<img width="45" alt="Screenshot 2021-09-28 at 10 36 07" src="https://user-images.githubuserc

[2021-09-28 08:42] fluiddot commented on #35173
I checked recent merged PRs into `trunk` and I verified that the issue began to happen after the PR https://github.com/WordPress/gutenberg/pull/34710 was merged. It would be helpful to review the changes of that PR to address the issue in the native version.

[2021-09-28 08:49] arunsathiya opened #35174 "Full Site Editing: Post title block breaks on editor view when it is set to be a link"
### Description

With Full Site Editing enabled, open the editor view of a template. Add a `Post title` block to it, and using the block settings on the right, set it to be a link. The setting is called `Make title a link`. See that the block design breaks on the editor view. The block appears okay on live view though.

### Step-by-step reproduction instructions

- Enable Full Site Editing on your

[2021-09-28 08:51] arunsathiya commented on #35174
It's worth noting that this happens only on the `Singular` template. It does not occur on `Index` template.

Also, my screenshot above shows that I have Jetpack installed, but I have tested on another site without Jetpack or other plugins. The only plugin active on my second site is Gutenberg. The issue occurs on it too.

<img width="1774" alt="image" src="https://user-images.githubusercontent.com

[2021-09-28 08:59] jameskoster commented on #32317
I'm going to close this since editing is now disabled. We can open subsequent issues to explore how to access edit capabilities.

[2021-09-28 08:59] #32317 closed, assigned to nobody

[2021-09-28 09:00] paaljoachim commented on #29864
Is there anything standing in the way or is needed to get done before we can move onward with the
**Add lock feature for Reusable Blocks to protect inner blocks** PR?
https://github.com/WordPress/gutenberg/pull/32710

[2021-09-28 09:01] carolinan commented on #8738
The placeholder color has changed several time since this issue was opened, and the current contrast ratio is
6.3:1 which passes WCAG 2.1 level AA.
The problem has been solved and I am closing the issue.

[2021-09-28 09:01] #8738 closed

[2021-09-28 09:05] jameskoster commented on #32319
I think this is covered by https://github.com/WordPress/gutenberg/issues/27064

[2021-09-28 09:05] #32319 closed, assigned to nobody

[2021-09-28 09:09] jameskoster commented on #35162
This issue spills out of the site editor into the post editor as well. It's currently possible to insert blocks like Post Content and Term Description in a post or page, which makes no sense at all (unless you have a Query in a post 🙈).

I wonder if the simplest solution is to contextually hide the block from the UI (inserter / quick inserter)? IE if I'm editing a post, there should be no way for

[2021-09-28 09:11] github-actions[bot] opened #35176 "[Flaky Test] shouldn't conflict with server-side autosave"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
shouldn't conflict with server-side autosave

## Test path
`specs/editor/various/autosave.test.js`

## Errors

<time datetime="2021-09-28T09:11:22.514Z"><code>[2021-09-28T09:11:22.514Z]</code></time> Test passed after 1 failed attempt on <a href="https://github.com/WordPress

[2021-09-28 09:21] mtias commented on #20837
Also slightly related: https://github.com/WordPress/gutenberg/pull/34680

[2021-09-28 09:21] #9363 closed

[2021-09-28 09:24] carolinan commented on #13900
Both the block manager (preference, visible blocks) and the block inserter now has placeholders and visually hidden labels.
There are some inconsistencies, but do we still want to go forward with this change, or can the issue be closed?
@jameskoster @karmatosed

![image](https://user-images.githubusercontent.com/7422055/135060269-efc4d67c-48d9-4550-9884-4f34f2aaa81c.png)

![image](https://user-ima

[2021-09-28 09:29] carolinan commented on #34737
I feel like the name that the user entered during the template creation should be displayed, and the capitalization should not be changed.

[2021-09-28 09:51] ntsekouras commented on #35162
This is a different issue whether to contextually hide/show some blocks. If the above issue can be reproduced, it's a bug in our block handling logic.

[2021-09-28 09:59] #35085 closed, assigned to MuhammadFaizanHaidar

[2021-09-28 10:03] spacedmonkey commented on #31551
For some extra context, there is a new tracking ticket for backwards compat #35157

[2021-09-28 10:08] cbravobernal commented on #30575
Hi there!

I've done some work on the component. If you prefer just to read, feel free to skip it and continue!
https://www.loom.com/share/54114bf6634e43ce9d365f15c1c5b4e7

All the code available is on this PR https://github.com/WordPress/gutenberg/pull/35180

I've added both the border-radius option and the Image Dimensions field to the Comment Avatar. We have also the 25%, 50%, 75% and 100%. Rig

[2021-09-28 10:13] jameskoster commented on #35162
Fair enough. I suppose I'm just highlighting that there are various situations in the UX where this contextual awareness would be useful, in case it's something we can build in at a low level and utilise in these different circumstances.

[2021-09-28 10:14] HILAYTRIVEDI commented on #35153
@stokesman I can't able to generate the error.
https://www.awesomescreenshot.com/image/14134856?key=230c4db092cda02a0162b73b2166b348

[2021-09-28 10:19] youknowriad commented on #34574
Quick update on the progress above: We've just separate the color palette panel to its own screen in #35109, we've designed the Menu Item as suggested in the issue above, the palette's design itself is still unchanged though.

[2021-09-28 10:36] jameskoster commented on #13900
Reading through the comments it looks like the discussion gravitated towards the concept of having inputs labels intersect the input stroke.

The Design Tools project (https://github.com/WordPress/gutenberg/issues/33447) seems to have moved in a slightly different visual direction, so perhaps we can close this?

[2021-09-28 10:48] jameskoster commented on #30575
Nice! I'll leave feedback on the PR :)

[2021-09-28 11:13] #34883 closed, assigned to carolinan

[2021-09-28 11:53] DAreRodz commented on #30574
Hey, :wave: I had a few questions when I started working on this.

Looking at the design @jameskoster shared, it looks like the block shows a generic message when no context is provided. I understand that this happens when the comment ID is not specified in the parent block, am I right? What should the block show when the comment ID is not correct? Is it OK showing the same message?

Regarding the

[2021-09-28 12:18] mikachan opened #35186 "Cover Block: .alignleft & .alignright margins are being overwritten by inline styles"
### Description

When the Cover Block is left or right-aligned, there is no spacing between any wrapping content:

![image](https://user-images.githubusercontent.com/1645628/135084270-3b4a1fc7-8c20-482f-b56b-8ceac1b2f4e4.png)

This is caused by the inline styles overwriting the `margin-left: 2em` and `margin-right: 2em`:

<img src="https://user-images.githubusercontent.com/1645628/135084604-2fe9d3

[2021-09-28 12:34] cbirdsong commented on #34575
This probably needs to be a separate issue, but I would much rather see use of responsive typography values in theme.json instead of getting into adding breakpoints. The example in the OP could be expressed in a single value as `min(1.275rem + .3vw, 1.5rem)` instead of relying on a media query.

However, the `!important`’s gotta go _no matter what_. It should only be deployed a last resort, not as

[2021-09-28 13:20] annezazu commented on #30159
Agreed completely. Thanks for looping back. Happy to close this out if you think it's no longer relevant?

[2021-09-28 13:20] jasmussen commented on #30159
Oh I think it's relevant enough! Just making a note to self that once the three items above are addressed, this one very probably is too.

[2021-09-28 13:54] annezazu commented on #35174
Hey there! Thanks for filing this. I tried to replicate but wasn't able to, even when I tried to have the same inner block setup:

<img width="1261" alt="Screen Shot 2021-09-28 at 9 52 11 AM" src="https://user-images.githubusercontent.com/26996883/135100654-c72b886c-eac8-4bbf-bcb6-4e20bda86374.png">
<img width="773" alt="Screen Shot 2021-09-28 at 9 52 52 AM" src="https://user-images.githubusercont

[2021-09-28 14:04] arunsathiya commented on #35174
@annezazu Thank you for testing! To confirm, is that a FSE template editor, or a normal post/page editor? I ask because I am not seeing the selected template at the top of the editor. It appears as shown below:

<img width="758" alt="image" src="https://user-images.githubusercontent.com/18581859/135102665-9a9b4f0c-3a8b-42dd-9cf6-666162ea10b6.png">

This issue occurs only on "Singular" template edi

[2021-09-28 14:07] arunsathiya commented on #35174
I also noticed that your editor reads "Template > Group > .." while mine reads "Document > Group > ..."

<img width="390" alt="image" src="https://user-images.githubusercontent.com/18581859/135103151-90e0e2f5-60f2-4c21-b7b1-c21c1809950e.png">

[2021-09-28 14:22] annezazu commented on #35174
Ah ha - I went straight into the template editor. No issues though with the Site Editor either:

<img width="1274" alt="Screen Shot 2021-09-28 at 10 22 01 AM" src="https://user-images.githubusercontent.com/26996883/135106265-b0e3a4bc-6b26-478e-aecc-acae743e91b8.png">

[2021-09-28 14:35] mtias commented on #34994
As we work through these, I'd like to drop all the "Post" prefixes and just settle on "Comment Content", "Comment Author", etc.

[2021-09-28 14:43] carolinan commented on #29763
I started looking at the code for the export but the problem is bigger than the export.
When new template parts are created, the saved slug is `template-part-incremented-number`
https://github.com/WordPress/gutenberg/blob/trunk/lib/full-site-editing/block-templates.php#L542

[2021-09-28 14:48] #20835 closed

[2021-09-28 14:49] jameskoster commented on #30574
Yay! I'll leave my feedback on the PR 👍

[2021-09-28 15:02] arunsathiya commented on #35174
@annezazu Could you enable the "Make title a link" option on the block settings on the right sidebar? When you do that, does the block crash?

[2021-09-28 15:17] annezazu commented on #35174
🤦🏼 Ah ha! Now can replicate - forgot to do that with this latest comment. Marking this as a bug :D

[2021-09-28 15:18] skorasaurus commented on #28570
still reproducible in Gutenberg 11.5.1

[2021-09-28 15:38] shaunandrews commented on #35129
Based on some Slack conversations (https://wordpress.slack.com/archives/C02S78ZAL/p1632834506131400?thread_ts=1632591597.126000&cid=C02S78ZAL) it seems this was resolved by rebooting.

I'll close this for now, but we can reopen if it happens again.

[2021-09-28 15:38] #35129 closed, assigned to nobody

[2021-09-28 15:45] stokesman commented on #35153
Thanks for testing this @HILAYTRIVEDI. I see from your screenshot that they are not off the rails completely but they are still not as expected. Posting a portion of your image here:

![image](https://user-images.githubusercontent.com/9000376/135118467-b5149efc-c4b4-4964-9426-bc681f7d178c.png)

The marks should be vertically centered on the rails.

[2021-09-28 18:51] ilyakam opened #35195 "Disable "Height in pixels" when an embedded PDF is not shown inline"
### Description

When I don't want to show an embedded PDF inline, I find it confusing that both controls for "Height in pixles" remain enabled. Instead, I would prefer that you disabled the slider and the input field so that it's clear that they have no effect on the embedded PDF when the inline preview is disabled.

### Step-by-step reproduction instructions

1. Draft a new post
2. Drag and drop

[2021-09-28 19:19] draganescu commented on #17231
Removed it from the Navigation block project and tracking issue but did not test with another block.

[2021-09-28 19:57] karmatosed commented on #35162
@ntsekouras were you using Chrome? I just wonder if that could be the problem as I am puzzled because pretty consistently I can copy/paste and do any of the steps @jasmussen outlined.

[2021-09-28 20:28] ghost commented on #18644
This is severely irritating for providing a good editor experience.

This needs to be re-opened, and these classes need to be applied.

[2021-09-28 20:32] #34796 closed, assigned to stacimc

[2021-09-28 22:38] iandunn commented on #16484
This sounds like a great addition 👍🏻

⚠️ I'd strongly recommend that it doesn't allow users to upload custom SVGs.

That might be possible in the future, but it would be a big project on its own, and should be done with review from the Security team.

[#24251-core](https://core.trac.wordpress.org/ticket/24251) has a lot of prior discussion on the topic. _TL;DR:_ SVGs aren't images, they're XML doc

[2021-09-28 22:39] pzelchenko commented on #35129
Thanks Shaun and all. Nice workflow, guys. I've been watching the QC loop degrade for five decades, and for a volunteer effort this is very streamlined and impressive. Slack has always been a bit of a dog, and the chat.* onboarding was nasty, but you're using it well.

--
Peter Zelchenko 手机(+86)/微信18221718104
College of Design and Innovation, Tongji University 同济大学设计与创新学院

On Tuesday, September 28

[2021-09-28 23:01] stacimc opened #35197 "Block Gap css variable is loaded in the editor for some classic themes"
### Description

Related: #34452

The generated CSS variable for the [block gap spacing config](https://github.com/WordPress/gutenberg/blob/fdf905725852ec5f3064828c968f03e8f62312f6/lib/theme.json#L244) is being added to the stylesheet for some classic themes, only in the editor.

<img width="264" alt="Screen Shot 2021-09-28 at 3 47 36 PM" src="https://user-images.githubusercontent.com/63313398/135

[2021-09-28 23:14] stacimc commented on #35197
This isn't terribly noticeable with the Columns block, because it only results in a slightly smaller gap between columns on the frontend versus the editor. I noticed this when trying to add the Gap block support to the Buttons block #34546, where it is much more apparent with rules like this:

[code]

On themes with the issue, in the editor the column-gap between buttons more than doubles in size,

[2021-09-29 00:10] michalczaplinski commented on #34994
Perhaps this is obvious but I'd like to clarify:

If a user submits a new comment, we would still require a full page reload in order to show that new comment, correct? As opposed to creating a sort of "optimistic update" and showing the just-submitted comment without a reload.

[2021-09-29 01:30] carolinan commented on #35162
I only tested the query (post template) and query pagination, and I am seeing the same as @ntsekouras, I can not insert, drag or copy/paste the blocks outside the parent query loop. Chrome and Opera on Windows.

In the site editor, when I copy the post template, and then paste it,
I do see the following message being added, and the block type for the message is paragraph:
_The Query block can not

[2021-09-29 01:56] ramonjd commented on #23262
I spent some time looking at the Image Block. I didn't find a suitable fix yet, but here's what I learned in case someone else gets to this sooner:

The Image Block attribute values `id` and `url` persist in the Block Editor, even after the image has been deleted in the media library.

`getMedia( id )` seems to be an accurate guide as to whether the Image Block attachment file is available or not,

[2021-09-29 02:21] carolinan commented on #15000
@paulkirspuu
Hi!
The group block has an HTML Element filter in the Advanced section.
This was added in **https://github.com/WordPress/gutenberg/pull/28576**
Can this issue be closed?

[2021-09-29 02:23] carolinan commented on #33343
I wonder if it would also make sense to move the HTML filter to its own separate control.
It is used but slightly differently for the group, template part and query blocks.

[2021-09-29 02:39] ramonjd commented on #23262
Adding some notes after chatting with @andrewserong, who has helped with the following advice:

We might be able to utilize the `delete_attachment` action hook (?)

Also  `wp.media.attachment( id )` doesn’t seem to make any Ajax calls, and appears to be a fairly reliable check. It might be worth investigating this further.

[2021-09-29 04:29] #30522 closed, assigned to Mamaduka

[2021-09-29 04:30] Mamaduka commented on #30522
Hi, @andersnoren

I just merged PR that fixes this issue.

[2021-09-29 04:55] tellthemachines commented on #35104
We can do that! In fact, scroll is already enabled in the Navigation editor if you'd like to test it 😄

[2021-09-29 05:21] HILAYTRIVEDI commented on #35153
#Range control marks center aligned #35206
@stokesman  I made the required code changes in this PR. Please review, thank you.

[2021-09-29 06:14] getsource commented on #35195
Thanks much @ilyakam for the report!

I did a pass on this in #35207.

I opted to hide, rather than disable the controls, for the reasons you gave in the issue description (not useful and potentially confusing to users).

[2021-09-29 06:23] ilyakam commented on #35195
I agree, hiding the controls is a better idea! Thanks for taking care of this issue so quickly.

[2021-09-29 06:32] HILAYTRIVEDI opened #35208 "Range control breaks functionality at the styling level."
### Description

Description
While working on #34855, I noticed in RTL languages the range control stylings are messed up. They are still reflecting the LTR stylings instead of RTL.

### Step-by-step reproduction instructions

Step-by-step reproduction instructions
With WordPress set to an RTL language, interact with a range control and observe the stylings.

### Screenshots, screen recording, cod

[2021-09-29 06:44] andrewserong commented on #35197
Thanks for writing this up @stacimc! I think the culprit here is that the `block_styles` styles get rendered when a theme opts in to the experimental link color via `add_theme_support( 'experimental-link-color' );`. It looks like [TwentyTwentyOne does that here](https://github.com/wordpress/wordpress-develop/blob/ecad6ae28cf0b9755945d1d6a09e807a43fba6a2/src/wp-content/themes/twentytwentyone/functi

[2021-09-29 06:53] isaumya commented on #33585
I have also seen this exact issue inside one of my client sites. Due to this, the W3C markup validation is failing and not sure if this is causing any other issues or not.

I just have 2 questions:
1. When do you think it would be fixed? This seems a critical issue with the copy-pasting mechanism.
2. When it gets fixed, what will happen to the existing content? How will the `<meta charset="utf-8">

[2021-09-29 06:54] ntsekouras commented on #34994
Do you mean like creating a comment in the front-end and show the results in the editor?

[2021-09-29 07:25] getsource commented on #34738
Thanks much for the report!
I was able to reproduce this as an author.

@pento Do you have any opinions on the best route here? I'm familiar with a little of the history of kses and `<object>` but not enough to know the current state / workarounds.

[2021-09-29 07:27] #35195 closed, assigned to getsource

[2021-09-29 07:33] ntsekouras commented on #35134
--cc @mtias, @kjellr, @jameskoster, @aristath for sharing thoughts 😄

FYI the `Query Pagination` block was not included in these variations initially, as it was implemented later to work properly.

[2021-09-29 07:37] andrewserong commented on #35197
I've put together a PR looking at one particular way to try to handle it in https://github.com/WordPress/gutenberg/pull/35209. Very happy for feedback on whether it looks viable!

[2021-09-29 07:45] luisherranz commented on #34994
That's correct Michal.

I think he means rendering the comment in the browser after submission.

[2021-09-29 07:46] carolinan commented on #35208
Hi,
does this only happen in Twenty Twenty-One or in other themes too?

[2021-09-29 07:53] jasmussen commented on #35104
Nice:
<img width="459" alt="Screenshot 2021-09-29 at 09 53 21" src="https://user-images.githubusercontent.com/1204802/135226403-58d05c23-2a34-4f5b-85cf-abd6f8d8de2d.png">

For such a constrained context as this, and to ensure both contrast and that the scrollbar doesn't fade out on some systems, I do wish we could leverage a custom styled scrollbar. But last I looked into this, in order to work we

[2021-09-29 08:46] getdave commented on #29102
## Update - 2021-09-29

* Discussion is ongoing on the best way to ensure interoperability and compatibility between Nav block and Nav Editor.
* Proposal to [utilise a new classic Menu block](https://github.com/WordPress/gutenberg/pull/34496) in the Nav Editor is ongoing. Any feedback welcomed.
* Folks (particularly @spacedmonkey) have been [working hard on backwards compatibility](https://github.

[2021-09-29 08:48] #34512 closed, assigned to Mamaduka

[2021-09-29 08:53] ciampo opened #35210 "Components: reconcile `ItemGroup`/`Item` with `MenuGroup`/`MenuItem`"
## What

This conversation was started in https://github.com/WordPress/gutenberg/pull/35142#discussion_r717409093

We should look into refactoring `MenuGroup` and `MenuItem` to rely on the lower level `ItemGroup` and `Item`. This would enable the usage of `MenuGroup` and `MenuItem` outside of `DropdownMenu` and would give us a chance to enforce a more consistent look&feel (including spacing) acros

[2021-09-29 08:56] getdave commented on #35114
I've been thinking about this a fair bit and have even done a _very_ basic exploration in https://github.com/WordPress/gutenberg/pull/34784.

From the perspective of the Nav block, some Themes may not want to allow for complex navigations to be created as they have not added support for this or their Theme isn't well suited. In which case, you'd need a way to enable/disable various features of the

[2021-09-29 08:58] carolinan commented on #32818
I went down a 3 hour rabbit hole, so I am removing the good first issue label 😊

[2021-09-29 09:02] lkraav commented on #15000
We ended up using stock Group block markup in editor and we filter its output at PHP level via `add_filter render_block_data`.

Other options mentioned above also help people for alternatives.

This issue is solved.

[2021-09-29 09:04] #35040 closed, assigned to jasmussen

[2021-09-29 09:21] #15000 closed

[2021-09-29 09:26] carolinan commented on #20376
In block themes, there is no longer an inner container for the group block.

@Netzberufler What types of settings do you think are missing from the post blocks (date, terms, author etc) for you to not have to use the wrapper?

[2021-09-29 09:28] Lovor01 opened #35211 "Wrapping TextControl in Tooltip results in error"
### Description

Having this fragment of code in Edit function of the block:

[code]
gives this error:
[code]
It is `Tooltip` component that causes error, without it it works fine.
I expect adding tooltips to `TextControl` being common necessity. I resolved problem temporarily by adding title attribute, but with it I do not have so much control.

### Step-by-step reproduction instructions

Enter a

[2021-09-29 09:30] youknowriad commented on #35210
We should also consider semantics/a11y. What makes most sense for these components. Should we have a new `Menu` wrapper (role="menu"). Should the low level components stay without any built-in semantics...

[2021-09-29 09:33] oandregal commented on #35114
That experiment was great to consolidate some of my thoughts about this. Thanks for pushing it.

One of the points I've brought up in that exploration ([see](https://github.com/WordPress/gutenberg/pull/34784/files#r709896696)) was that we'd need to start by thinking how _any_ block (core or third-party) can register custom settings.

The other thought I shared was that it'd be beneficial to think

[2021-09-29 09:38] oandregal commented on #35114
@carolinan would you mind sharing specific examples when you find them? That'd be very helpful to weigh on this and understand what's the best fit.

[2021-09-29 09:59] talldan commented on #34612
The comment here - https://github.com/WordPress/gutenberg/pull/34496#issuecomment-929979006 - makes it clear that the separation between block wrapper and inner blocks is actually desired, and I did notice that template parts currently work that way too. It seems like that makes this easier.

I'll start exploring the much simpler solution of making the block save its inner blocks to a custom post

[2021-09-29 09:59] ciampo commented on #35210
Currently, `ItemGroup` has a default `role="list"` and `Item` has a default `role="listitem"`, which I believe are good defaults — although they can be both easily overridden.

We could also use the recently introduced Context system to suggest the correct roles (in case they are not explicitly set) — e.g., `DropdownMenu` could use the Context System to suggest to its child `ItemGroup` and `Item`

[2021-09-29 10:11] HILAYTRIVEDI commented on #35208
Hello @carolinan, yes it is happening in all the themes. So I guess it is problem with the component itself.

[2021-09-29 10:40] getdave commented on #35114
I do agree we should look ti normalise settings _where possible_. I wonder however, if this will sometimesl catch us out. We're trying to force things like `onClick` / `onOpen` to become generic when in fact they are likely to be highly specialised to each block.

Many blocks at the moment control their configuration via attributes. Perhaps there is some interplay between Theme JSON and attributes

[2021-09-29 10:41] jameskoster commented on #35134
I can definitely see the current UX being confusing. To make matters worse I'm not sure the average user would be familiar with the term "pagination", so finding the block may be a challenge on its own.

It therefore seems sensible to include Query Pagination by default in these variations.

[2021-09-29 11:08] jameskoster opened #35215 "Improve the comment selection interface in the Post Comment block"
When you insert the Post Comment block, it asks you to input the ID of the comment you'd like to display:

<img src="https://user-images.githubusercontent.com/846565/135110270-16d0be0a-0416-4adc-b6a5-310f7fb9ce9f.png">

But there's no hint explaining what the ID is, or where to find it.

It seems to me that a low hanging fruit would be more copy explaining how to complete this task.

But it may be

[2021-09-29 11:24] SantosGuillamot commented on #35009
I totally agree, replicating the set used by the query pagination block seems fine to me.

I agree with this as well 🙂 . I feel that having consistency between different blocks would be helpful for both the developers and the users.

[2021-09-29 11:42] adamziel commented on #34612
Perhaps we could lean on multi-entity save from FSE here.

[2021-09-29 11:53] tehjaymo commented on #33610
This is becoming a bigger. Behaviour also seems to also happen over time if working Inside a media block too.

[2021-09-29 13:31] steveangstrom commented on #35054
Thank you, I targetted BODY as you suggested and the styles are now applied correctly.

[2021-09-29 13:54] #35173 closed, assigned to dcalhoun

[2021-09-29 13:58] SamStrike0809 commented on #13023
Hello, to solve this problem I suggest you to find something called 'data-instgrm-captioned' inside the blockquote.
It should be on the first line. Just delete remove that and you should be fine.
I repeat...just delete the text -  data-instgrm-captioned

[2021-09-29 13:59] MaggieCabrera opened #35221 "[Block] Media + Text: Support featured image"
It would be great to have support for the post featured image in the context of the Query block so we could make Query block patterns like this:

<img width="660" alt="Screenshot 2021-09-29 at 15 56 46" src="https://user-images.githubusercontent.com/3593343/135283232-612ec498-73ca-42ad-b942-f57feefc835f.png">

/cc @mtias

[2021-09-29 14:02] jasmussen commented on #35054
Awesome, happy to hear that. I'll close this one then!

[2021-09-29 14:02] #35054 closed, assigned to nobody

[2021-09-29 15:03] #33642 closed, assigned to ajlende

[2021-09-29 15:04] fabiankaegy opened #35222 "Add mechanism to enqueue scripts in editor iframe"
## What problem does this address?

When working with a 3rd party JavaScript library I've encountered the issue that the library (in this case apples mapkit js) makes some of its functionality available on the `window` and `document` objects. The issue with that is, that there is no way to access that from within the iframed editor.

## What is your proposed solution?

Adding the ability to enqueu

[2021-09-29 15:06] michalczaplinski commented on #34994
yup, that's what I meant. Thanks Luis!

[2021-09-29 15:13] fabiankaegy opened #35223 "Automatically set `reusable` to `false` when a block has a `parent` defined"
- Part of #41236.

## What problem does this address?

When a block defines a `parent` that means that it gets hidden from the inserter unless you are trying to insert it into the defined parent. The block also cannot be moved outside of the container. However, it is still possible to select the "child" block and make it reusable. You can circumvent this by setting `reusable` to `false` but I thin

[2021-09-29 16:11] mikachan opened #35224 "Post Title: return no markup if title is empty"
## What problem does this address?
Currently, if a post has an empty title, a heading tag is still rendered but with no content. This can cause problems with additional unwanted space, e.g. margin or padding from the heading element. However, I also think it makes sense not to render an element if the content is empty.

Here is an example:

![image](https://user-images.githubusercontent.com/164562

[2021-09-29 17:18] michalczaplinski commented on #33291
I wonder if we should also make it more explicit that the value that is passed to the `onChange` callback is a string rather than a number?

It's quite easy to forget that you should use `parseInt` to parse the value that is passed to the `onChange` callback because otherwise you might inadvertently change the value from number to string. I've noticed this in a couple places in the Query Loop bloc

[2021-09-29 17:27] apeatling commented on #34796
🎉

[2021-09-29 17:34] apeatling commented on #29098
Opt in PR for Buttons block is here https://github.com/WordPress/gutenberg/pull/34546

[2021-09-29 17:46] fluiddot opened #35226 "Embed block: Previewable embed URLs fail when using the Facebook embed block"
### Description

I noticed that when using the Facebook embed block, when setting a URL that can be usually previewed by using any other embed block, it's not displayed the preview and gives the following error:
`Embedded content from <PROVIDER> can't be previewed in the editor.`.

### Step-by-step reproduction instructions

1. Add a Facebook embed block.
2. Set a previewable embed URL (example: h

[2021-09-29 17:55] skorasaurus commented on #35224
(I don't have an opinion at the moment, but others have requested the markup to be present) - https://github.com/WordPress/gutenberg/issues/29520

[2021-09-29 19:23] snovosel opened #35229 "Usage of Flickity carousel cannot be used within block preview"
### Description

When implementing the third-party package `react-flickity-component` https://www.npmjs.com/package/react-flickity-component, usage of a block example by way of the BlockPreview component will throw the following error and crash the console:

[code]

Using the `git bisect` process I've been able to determine that this commit is what introduced this issue:
https://github.com/WordPre

[2021-09-29 23:17] annezazu commented on #35051
Going to go ahead and close this out :)