[2022-02-11 13:58] ryanwelcher commented on #25188
With #38715 now merged, any PHP files in the `src` directory will be copied to the output directory automatically.

[2022-02-11 14:15] pasog commented on #35906
Same issue with elementor and Hello thems

[2022-02-11 14:50] fluiddot commented on #36527
I spotted another side effect of having the HTML entity `&nbsp;` within text content. When selecting a block that contains this entity, it gets automatically removed producing a new undo level.

**Steps to reproduce it:**
1. Add the following HTML code _(extracted from https://automattic.com/how-we-work/)_ via the HTML mode in a post/page:
[code]
2. Switch back to Visual mode.
3. Select the Paragr

[2022-02-11 14:59] csalzano commented on #37761
Yes, that's it. Thanks & sorry for the trouble.

[2022-02-11 14:59] #37761 closed, assigned to nobody

[2022-02-11 16:04] getdave opened #38749 "List contributors in a single section not next to each PR in changelog"
Thanks for trying this, @getdave. I think listing the contributors participating in the release will improve the release page. However, I am not sure listing them next to each PR is the way we should go. I think it adds too granular info to the changelog, making it harder to read and focus on the PRs themselves. Moreover, copying the list of PRs alone elsewhere (Google Docs, make.wordpress.org/cor

[2022-02-11 16:33] ocean90 commented on #33542
I noticed that the `viewScript` asset is also enqueued in the editor. Did something change or is this a bug? Based on the description "_It will be enqueued only when viewing the content on the front of the site._" I'm assuming the later.

Core enqueues the files [here](https://github.com/WordPress/wordpress-develop/blob/13485e11c592e32b9af45c6b38735b66e7020814/src/wp-includes/class-wp-block.php#L2

[2022-02-11 16:35] Firsh commented on #35906
Same issue, fresh install of 5.9, no dropping, only dragging when creating a gallery. I hope they didn't intend to remove the functionality in line with the changes to the new gallery block. Because in it you can re-order elements since all of them are individual image blocks.

[2022-02-11 16:41] oandregal commented on #38434
Gutenberg PR for loading block styles (layout & element) in the head https://github.com/WordPress/gutenberg/pull/38750

[2022-02-11 16:52] apeatling opened #38751 "Post Date Block: Offer better defaults"
## What problem does this address?
The post date block currently has restricted defaults, and editing this means opening the code editor.

![image](https://user-images.githubusercontent.com/1464705/153633476-297dfcba-737d-479a-a348-140646577056.png)

## What is your proposed solution?
Add in some more default options in the dropdown. Going further allow extending this by the theme and/or pulling i

[2022-02-11 16:57] joedolson commented on #38260
It seems to me that two separate issues are being grouped here: the first is a usability issue (the lack of helpful affordances to let users know that they need to use arrow keys); but the second is a pretty major accessibility issue. If a user has enabled the 'Contain text cursor inside block' option, and that option prevents them from navigating the widget area, that's a serious issue, and needs

[2022-02-11 17:04] endresol commented on #38718
Hello.

I use the latest version of WP, 5.9. I don't have GB installed as a plugin, just the one that is with WP.
The block contains a block from the generatepress team, so it might be where the problem is. Is there any easy way to see the changes on a page before saving?

[2022-02-11 17:05] aurooba commented on #38710
@field2 You'll find this function helpful: https://developer.wordpress.org/reference/hooks/block_editor_settings_all/

It covers all the Block Editor settings, and you can enable the ones you'd like in general. I'm not sure if there is a way to enable them on a block-by-block basis through this function, but hopefully this will get you the features you're looking for! I should also mention this is

[2022-02-11 17:54] gziolo commented on #33542
Great debugging. I think that makes sense.

I initially thought we could tweak the rendering to avoid processing assets:

https://github.com/WordPress/wordpress-develop/blob/81cd3d58dcc5370910427f477e6a530b14aeb913/src/wp-includes/class-wp-block.php#L262-L272

However, what you proposed should have a similar result.

Still, it makes me wonder if we need to render blocks while preloading API reques

[2022-02-11 18:42] CandaceJohnsonDesigns commented on #38687
I have also just experienced this when I used `$ npx @wordpress/create-block` and then `$ npm start` or `$ npm run build`.

Node Version: v14.4.0
OS: MacOS Big Sur 11.6

[2022-02-11 18:44] scruffian commented on #27075
Right, but this should really be handled by Gutenberg rather than every theme having to maintain their own version of this code.

[2022-02-11 18:54] joyously commented on #27075
What is a theme for, then?
I don't think the user should be involved, so there should be no UI for it, so the editor should not care what the theme does with those styles.

[2022-02-11 18:59] aurooba commented on #27075
I disagree. The option for the user to be involved should be there, _with_ the ability for theme authors to disable user customization of this feature if they wish.

That is how the Block Editor has operated since being merged into core, and long term, that is the best approach. Provide the most flexibility and add curation/locking/limiting options that theme authors can utilize (I want to emphasi

[2022-02-11 20:01] stacimc opened #38754 "Allow additionalProperties in SSR of dynamic blocks"
## What problem does this address?

Widgets use an `__internalWidgetId` attribute which is [registered and used on the client-side](https://github.com/WordPress/gutenberg/pull/38643#discussion_r802130686) when the widget is created. This causes problems for dynamic blocks that are made into widgets, because the `WP_REST_Block_Renderer_Controller` [fails validation](https://core.trac.wordpress.org/

[2022-02-11 20:15] ocean90 commented on #33542
I thought about that too but I didn't want to put any further logic into the render method which is most of the time not necessary.

Some blocks may display the actual content of a post and then it would make sense to have the rendered content instead of some HTML markup. This also not only applies to the post editor but also to the site and widget editors.

I have moved this issue to Trac: https:

[2022-02-11 21:28] chthonic-ds commented on #38694
The problem is this contract is not clear and far from complete as we enter the 6th year of Gutenberg development. Gutenberg does not yet enable precise and predictable content layout for even quite simple designs, and themes conveniently continue to do the heavy lifting in many regards.

This may be fine when a theme has originated in the editor and is naturally contained by the UI exposed by Gut

[2022-02-11 21:36] Luehrsen commented on #27075
This implies that Gutenberg could handle every style a designer throws at a frontend developer. Considering Gutenberg competitors with a far superior scope (like Webflow, Squarespace, Wix), this is simply not the case. You will always be locked in by the capabilities of what the editor team deems worthy and would stifle innovation and creativity outside of what the team anticipated.

[2022-02-11 22:06] t-pabla commented on #34994
Simple question: How would you remove (1) "date" , (2) "at", and (3) "time" from post comments?
WP 5.9
twentytwentytwo theme

[2022-02-11 22:25] github-actions[bot] opened #38757 "[Flaky Test] should handle the inserter outer section"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should handle the inserter outer section

## Test path
`/test/e2e/specs/widgets/customizing-widgets.spec.js`

## Errors

<time datetime="2022-02-11T22:25:24.697Z"><code>[2022-02-11T22:25:24.697Z]</code></time> Test passed after 1 failed attempt on <a href="https://github.com

[2022-02-11 23:10] createscape commented on #17738
I am just working on a legal document in Gutenberg and found that I couldn't style the nested lists with different numbering system ( lowercase or roman numerals inside numbered list).  Editing the HTML didn't work either and I found this frustrating (assuming it's because Gutenberg isn't actually using HTML ).   I had to add a CSS class to remove the list items of the nested lists and just type i

[2022-02-11 23:38] webmandesign commented on #29985
To whom it may help: plugin **Global Styles Mods** is out at https://wordpress.org/plugins/global-styles-mods/

[2022-02-11 23:39] webmandesign commented on #38252
To whom it may help: plugin **Global Styles Mods** is out at https://wordpress.org/plugins/global-styles-mods/

[2022-02-12 00:30] imgerson commented on #38687
@t-hamano I'm using MacOS Monterrey 12.2.1 and Node v16.14.0.

Something interesting is that I created a GitHub Action in order to rule out it was my system, and yes, everything pass. You can see the [results here](https://github.com/imgerson/codewars-for-wordpress/runs/5164028629?check_suite_focus=true). I wonder what's going on why our systems @CandaceJohnsonDesigns. :)

[2022-02-12 00:57] mrwweb commented on #38694
I'm working on a blog post to hopefully provide greater detail, but I want to weigh in now to hopefully keep this conversation moving. I'm hitting publish a little sooner than I normally would. I'm happy to clarify futher

## It appears that the vision of Gutenberg involves no theme-authored CSS and I don't think that's possible

For a long time, I have not had a clear understanding of the final v

[2022-02-12 01:23] aurooba commented on #38694
This _exactly_ what I thought `theme.json` would be. I haven't been working themes as much recently, but theme authoring is very much a part of my work in general, and seeing the kinds of bugs and issues that are coming up as more active theme authors are reporting them is greatly concerning to me. @mrwweb has done a great job expressing concepts that many people will agree with.

[2022-02-12 01:26] JeremyWasHere commented on #18010
Hello from 2022, still not fixed.

[2022-02-12 02:19] CandaceJohnsonDesigns commented on #38687
I solved it by updating Node, now v16.14.0. I don't know why that worked though when you are running that version too, @imgerson.

[2022-02-12 04:20] t-hamano commented on #38687
I changed the minor version of `node v14` and the major version of `@wordpress/scripts` and tested if it builds correctly.

- OS: Windows 11
- ✅ : The build succeeds.
- ❌ : Got the exact same build error as this issue.

|                           | @wordpress/scripts v19.2.3 | @wordpress/scripts v20.0.2 | @wordpress/scripts v21.0.1 |
| ------------------------- | -------------------------- | ----

[2022-02-12 04:40] patric-boehner commented on #38694
I don't have much to add but I'm in agreement with @Luehrsen and @mrwweb. The lack of a consistent and easy-to-understand baseline for the classes and naming makes working with and writing CSS for the block editor a frustrating experience.

[2022-02-12 06:09] t-hamano commented on #38736
I think it is because the style preview area is so small that the dots are displayed too small to be visible.
You can see that the dots are indeed there If you zoom in on the browser.

It is very difficult to see in WordPress 5.9, but the preview area is expanded and becomes slightly easier to see if you enable the gutenberg plugin.

### WordPress 5.9 ( gutenberg plugin disabled )

![off](https://

[2022-02-12 07:09] lipu0324 commented on #38606
The failure occurred suddenly. Before that, the combination had been running safely for nearly a month. When I was writing a new article and uploading a new picture, I suddenly couldn't save it and showed that I might be disconnected. From this point on, the editor will not work.

in fact. I have tried to reinstall WordPress on the main page, restart and install other versions of PHP and running e

[2022-02-12 12:21] delowardev opened #38759 "'Duplicate' blocks from "List View" throws an error."
### Description

Clicking on the 'Duplicate' menu throws an error in the console.

The error message is:

`Uncaught (in promise) TypeError: event.stopPropagation is not a function`

### Step-by-step reproduction instructions

1. Open List View
2. Open block dropdown menu
3. Click "Duplicate"

### Screenshots, screen recording, code snippet

![Screen Shot 2022-02-12 at 6 14 39 PM](https://user-imag

[2022-02-12 13:52] Connah-a99 commented on #38744
I think adding a holistic approach to certain milestones such as this is an excellent idea, personally. WordPress already gives some limited feedback, akin to this, when a user is setting up their website, and this seems like a natural evolution to that.
Both confetti and shapes are commonly used in a similar vein in many other types of software. Google, for example, is very keen on them. I do ver

[2022-02-12 16:09] webmandesign opened #38761 "Cover block overlay is duplicated on redundant `::before`"
### Description

WordPress 5.9 introduced updated HTML for Cover block.

In previous version (in WP5.8.3) Cover block produced this HTML:

[code]

The `::before` pseudo element provided an overlay layer which inherited background color from block container as the actual background color classes were applied on the container itself.

In WP5.9 new Cover block HTML structure is:

[code]

So, there is

[2022-02-12 16:24] delowardev opened #38763 "Removing the first block from the List View breaks UI"
### Description

If you remove the first item/block from the "List View" using **BACKSPACE** it breaks the UI and shows an error to the console.

The error message is: `TypeError: Cannot read properties of null (reading 'title')`

### Step-by-step reproduction instructions

1. Open List View
2. Remove the first block using the keyboard ( BACKSPACE )

### Screenshots, screen recording, code snippet

[2022-02-12 16:49] webmandesign opened #38764 "Cover block gradient overlay has a black background color"
### Description

When a theme preset gradient is set as an overlay, the overlay [background color is set to black by default Cover block styles](https://github.com/WordPress/gutenberg/blob/4bfd7b3d8a9ff575ccae27ee690ccd7327811574/packages/block-library/src/cover/style.scss#L50).

This causes issues, when a gradient is set with a (semi)transparent color stop and gradient is provided as a theme pres

[2022-02-12 17:12] Nic787 commented on #24874
@andrewserong I did create a short theme.json file.
[code]
However, it doesn't work and it also remove all the default style of Gutenberg block editor.

![image](https://user-images.githubusercontent.com/11185348/153721711-4e1dbea4-e768-4f38-ad75-c2d24e5f4064.png)

Also, how can I bring back default Wordpress style in the editor?

[2022-02-12 19:53] upluke commented on #38390
@noisysocks Hi, my group is working on this issue. We think we're located the styling on this issue. It seems it's part of wordPress issue instead gutenberg issue. Is it possible this might be the case?

[2022-02-12 20:22] aurooba opened #38766 "templateInsertUpdateSelection doesn't work with nested innerBlocks"
### Description

My plugin Super List Block is has the following set up

- Super List Block (parent container with innerBlock allowing only one kind of block)
  - Super List Item (child block, with innerBlocks that allows you to add as many blocks as you want)
     - default `core/paragraph` block upon insertion

On both `Super List Block` and `Super List Item` I've set `templateInsertUpdateSelect

[2022-02-12 20:42] cadop commented on #34757
Please consider fixing this

[2022-02-12 21:33] vyskoczilova opened #38767 "Allow to disable settings for specific blocks"
## What problem does this address?

Please, think about tailor-made themes that are coded from design to WordPress.

We need to control block settings being to able to turn off user's modifications like Layout and Width panels (and other "new features"). There is no way to turn them off and they are causing many headaches - clients call you "why it doesn't work in our theme", but the designer hasn

[2022-02-12 23:03] chthonic-ds opened #38768 "Missing argument in add_theme_support( 'editor-font-sizes' ) displays PHP warning in WP 5.9"
### Description

Updating to WP 5.9 on a site using a classic theme without a theme.json file, I see the following PHP warning:

`Warning: Invalid argument supplied for foreach() in \wp-includes\class-wp-theme-json.php on line 1949`

Font sizes for this theme are managed in CSS, so the following theme supports have been set to prevent font size controls being exposed in the editor:

[code]

The wa

[2022-02-12 23:50] 61pixels commented on #38736
This is also an issue with other blocks too, not just separator blocks. It also happens with button blocks and others. A fresh 5.9 install with Twenty Twenty Two and add a button and look at the style previews. The button is cut in half vertically. I've been trying to debug my custom previews for days since upgrading to 5.9 and am at a loss, which is why I spun up a fresh install to see if it was

[2022-02-13 01:42] t-hamano commented on #38016
@shimotmk

Could you please try activating the gutenberg plugin or importing the components from the latest @wordpress/components and see if the symptoms are reproduced?
If you are sure that the latest version of gutenberg does not have the problem, please close this issue.

[2022-02-13 04:39] marek-onPC commented on #38408
@t-hamano
Thank you for your interest, this solution helped!

Have a good day!

[2022-02-13 04:39] #38408 closed, assigned to nobody

[2022-02-13 04:41] t-hamano commented on #38408
@marek-onPC
I'm so glad you were able to figure it out !

[2022-02-13 05:39] carolinan commented on #24874
@Nic787 Version 2 does not use "customPadding": true, "customMargin": true, so this creates an error in theme.json.
Use "padding": true, "margin": true instead.

Please use this reference:
https://developer.wordpress.org/block-editor/reference-guides/theme-json-reference/theme-json-living/

[2022-02-13 05:53] t-hamano commented on #38766
Hi, @aurooba.

I took a look at the code for Super Lost Block, and it might be a typo.

`templateInsertUpdateSelection` -> `templateInsertUpdatesSelection`
(It seems that the "s" after `Update` is missing. )

I'm not sure if this fix will give you the desired behavior, but please give it a try.

[2022-02-13 06:08] shimotmk commented on #38016
@t-hamano
Thanks for your comments! & sorry for the delay in replying.

I've enabled the Gutenberg plugin and the symptoms are gone, so I'll close this issue.

[2022-02-13 06:08] #38016 closed, assigned to nobody

[2022-02-13 06:36] aurooba commented on #38766
@t-hamano ..I cannot believe I missed that. Wowowow. Thank you SO MUCH. You rock. I have been banging my head against a wall for two days.

[2022-02-13 06:59] aurooba commented on #38766
It still doesn't work on _insertion_ though. Do you think it's _meant_ to @t-hamano? When I insert a new child block (superlist-item) it still doesn't change the focus to the automatically added paragraph. It only does this when you first add the entire _Super List Block_ to the document.

[2022-02-13 07:06] t-hamano commented on #38766
Hi . @aurooba
Maybe you also need to `templateInsertUpdateSelection` for the innerBlockProps of the child blocks (`superlist-item`).
(I'm not sure...)

Please give it a try.

[2022-02-13 13:41] Zodiac1978 commented on #36365
Additionally it does not correctly transliterate in all languages. In German for example there are rules for it, like "ü"->"ue", "ä"->"ae", "ö"-> "oe", "ß"->"ss".

Found in `remove_accents`:
https://github.com/WordPress/WordPress/blob/2eaeae58ff0f4e7a5e31220830d6de060359322a/wp-includes/formatting.php#L1203-L1975

This seems to be not used for generating the anchor links as my umlauts are lost and

[2022-02-13 13:47] Zodiac1978 commented on #29561
https://github.com/WordPress/gutenberg/issues/36365#issuecomment-1038126070

[2022-02-13 14:28] delowardev commented on #38686
It's not only the 'Quote' block or 'Typography' settings; All the paragraph styles get applied to the `.editor-styles-wrapper p` selector, which means all `p` tags in the editor/page will get the same style. It's because of the selector (`__experimentalSelector`) for paragraph block is `p` instead of `.wp-block-paragraph` in `block.json`
https://github.com/WordPress/gutenberg/blob/9482dfa2f9d9820f

[2022-02-13 15:38] mkaz commented on #37236
Just a standard htaccess file redirecting all non-files to WP

[code]

[2022-02-13 16:22] alanjacobmathew opened #38772 "Code block: default borders overlaps with custom border for code block"
### Description

When custom border is inserted for code blocks it overlaps with the existing default white border of the code block. This problem exists on the frontend and is not visible inside the editor.

### Step-by-step reproduction instructions

1 Go to FSE,
2 Insert a code block
3 Add border with rounded radius (50 px)
4 change the border colour and size  (optional for better visibility)
5

[2022-02-13 16:37] Nic787 commented on #24874
My bad, I changed it after I wrote it.

For now I use:

[code]

Why does it look like that?
![image](https://user-images.githubusercontent.com/11185348/153762827-a846264a-ae20-4345-a195-4cb1f2d80337.png)
Instead of that?
![image](https://user-images.githubusercontent.com/11185348/153762870-413263bd-74f7-42a8-ba2d-837582d86dc6.png)

But still unable to get the block gap functionality working.

EDIT

[2022-02-13 20:15] skorasaurus commented on #38772
Thanks for the clear, detailed issue.
This might be resolved by https://github.com/WordPress/gutenberg/pull/38712 ?

[2022-02-13 21:13] 81xq commented on #35906
I have the same problem so far I haven't found a solution

elementor

[2022-02-13 22:44] noisysocks commented on #35087
No, this has not been implemented in WP 5.9.

A user preference for disabling previews is a good idea.

Happy to also look at allowing the preview to be disabled via the widget developer e.g. using a `WP_Widget` setting and via the site administrator e.g. using a filter. https://github.com/WordPress/gutenberg/issues/35087#issuecomment-963651151 is a good workaround, for now.

What do you think abo

[2022-02-13 23:59] nekohayo opened #38773 ""Save as pending" and "Save draft" button labels duplicated when toolbar UI preference is set to show labels"
### Description

When "Display button labels" is turned on, the toolbar shows "Save as draftSave as draft" or "Save as pendingSave as pending".

### Step-by-step reproduction instructions

1. Go to the post editor
2. Click the three-dots icon in the top-right, go to Preferences
3. Turn on "Display button labels"

### Screenshots, screen recording, code snippet

![Screenshot from 2022-02-13 18-49-3

[2022-02-14 00:59] noisysocks commented on #32629
Right. So in the original comment's screenshot, that's a Search block and not a Legacy Widget block? And you would expect the search button to appear red, not black?

[2022-02-14 01:03] pattyok commented on #31980
I agree we should be able to disable this entirely, AND also maintain control over the width settings for inner blocks. As a theme developers we all have our own systems for managing widths of blocks. We need the ability to offer minimal options when appropriate but this is not a control that I want to leave wide open to site editors. It also generates so much unnecessary CSS in the body of the pa

[2022-02-14 01:42] noisysocks commented on #38390
Hello! The code that implements this is in the `edit-widgets` package, which is in the Gutenberg repo. WordPress imports this package which is how it ends up there.

https://github.com/WordPress/gutenberg/blob/trunk/packages/edit-widgets/

[2022-02-14 02:52] talldan commented on #38763
It doesn't seem to happen all the time, but I was able to reproduce it a few times. This is the line that causes the error
https://github.com/WordPress/gutenberg/blob/9543b72e701a452858b1434977275bc3fbf3a8bd/packages/block-editor/src/components/list-view/block.js#L152

`blockInformation` can be `null` so it makes sense to guard against that. I'll make a PR to fix it.

[2022-02-14 03:02] ramonjd commented on #37549
Similar issue over at https://github.com/WordPress/gutenberg/pull/38428#discussion_r805468375 but related to the Separator Block.

Excerpts from that discussion:

The Separator Block isn't really meant to house text, but the contrast checker detects an inherited `color` and tries anyway.

I think it would be helpful to completely disable (or enable) the contrast checker for specific blocks, possib

[2022-02-14 03:25] delowardev commented on #38763
@talldan It never happens if we remove the first block from the dropdown menu, maybe it's worth debugging a little further?

https://github.com/WordPress/gutenberg/blob/6b4b8c45b9cfdb1a46869cdc92a2226b9a71ef0d/packages/block-editor/src/components/list-view/index.js#L70-L74

Here I noticed a different behavior in `clientIdsTree` for the Backspace key & Dropdown remove button, it may help further de

[2022-02-14 03:34] talldan commented on #29466
Just stumbled upon this issue (again). Thinking on it some more we could also do the following:
- Ctrl + Alt + O always opens List View and focuses the selected block. If List View is already open it just focuses the selected block in List View and List View stays open.
- Introduce a different shortcut for closing list view (if this is even needed).

It would be interesting to head @alexstine and

[2022-02-14 03:37] talldan opened #38774 "Improve end to end test coverage for List View"
The feature set of ListView has expanded quite considerably recently, and it has also become an important feature in the site editor as well as continuing to be an important feature for the accessibility of the block editor.

There is test coverage for List View as a side effect of many other tests that use if for selecting blocks, but the feature should really have better test coverage in and of

[2022-02-14 03:37] delowardev commented on #38763
https://user-images.githubusercontent.com/17360543/153796088-421caee4-e511-413a-80f8-2be12f09cbf2.mov

[2022-02-14 03:38] talldan commented on #29736
I've created an issue for improving e2e test coverage of List View - https://github.com/WordPress/gutenberg/issues/38774.

[2022-02-14 03:50] talldan commented on #38763
@delowardev I've made a PR here to prevent the error - https://github.com/WordPress/gutenberg/pull/38775

[2022-02-14 04:03] chthonic-ds commented on #31980
I agree with this.

I have a theme using CSS Grid for all layout, integrated with the "Inherit default layout" toggle. This approach to layout means a child container is not necessarily constrained by the width of its parent container — [a noted limitation](https://github.com/WordPress/gutenberg/issues/33374#issuecomment-889983520) of the current layout model using max-width with horizontal auto m

[2022-02-14 04:25] talldan commented on #38763
I had a look to see if I could understand what the root cause might be.

It might be another issue like this previous bug - https://github.com/WordPress/gutenberg/issues/29498. The problem is that the inner `useSelect` (inside `useBlockDisplayInformation`) is called before the outer `useSelect` (in `useListViewClientIds`).

It looks like what happens is a `clientId` for the deleted block is passed

[2022-02-14 04:51] alexstine commented on #29466
@talldan I think this very much applies here.

https://github.com/WordPress/gutenberg/discussions/38311#discussioncomment-2065261

We need to figure out how to not over complicate the shortcuts we have and implement a strategy that always works to navigate around any editor globally. As @MarcoZehe stated, the F6/Shift+F6 is nice because tons of sites/apps already use it.
- Microsoft Office
- Slack

[2022-02-14 07:49] #38763 closed, assigned to talldan

[2022-02-14 07:57] jasmussen commented on #38714
As parity with the ability to disable the same panel in the post editor, and on by default, sure! I wonder if we should rephrase the option ever so slightly to make it more clear that you can push global changes with a single click? A stab at new help-text:

`Review edits and changes before making them all public`

☝️ could be more elegant. Any thoughts?

[2022-02-14 08:08] jasmussen commented on #38629
We've certainly been back and forth on this. Also enough at this point, probably, that we could look at some changes to the approach. Here's a thought:

* We add margin to a few blocks, like Cover and Group for start.
* It's added as a not-shown-by-default option in the ToolsPanel.
* This addition should not block further explorations, notably in-canvas improvements like outlined in #33221.

The r

[2022-02-14 08:12] #38759 closed, assigned to nobody

[2022-02-14 08:19] jasmussen commented on #38744
Excellent presentation — the prototype notably best conveys the idea.

A few thoughts:

- It feels appropriate that the confetty disappears after the initial animation, so it doesn't sit as a noisy background at the end. Perhaps it should just fall off the bottom of the panel rather than fade out?
- Should we use [some of the colors from the new WordPress.org](https://make.wordpress.org/design/202

[2022-02-14 08:51] nanu-c commented on #34637
i would love to set the opacity for this block in `theme.json` but opacity is not part of the reference. Should i open an new issue?

[2022-02-14 09:00] ocean90 commented on #33542
`register_block_script_handle()` registers scripts by default to be enqueued in the header because the fifth argument is not set for [`wp_register_script()`](https://developer.wordpress.org/reference/functions/wp_register_script/) Does somebody know whether there was some discussion whether this should be changed to footer by default or allowed to be changed via `block.json`?

[2022-02-14 09:01] ramonjd commented on #38751
Related issues:

- https://github.com/WordPress/gutenberg/issues/24957
- https://github.com/WordPress/gutenberg/issues/25456

[2022-02-14 09:12] mtias commented on #38751
@kjellr @beafialho curious what you'd suggest here.

[2022-02-14 09:15] getdave commented on #38201
I've updated the Issue. It's tracked in the Nav block tracking issue and so it's not stale.

[2022-02-14 09:38] Mamaduka commented on #38773
It looks like a regression after #34948.

[2022-02-14 10:09] #33142 closed, assigned to youknowriad

[2022-02-14 10:09] #37811 closed, assigned to youknowriad

[2022-02-14 10:16] youknowriad commented on #28737
Hey folks, I took a look at this issue and it seems that we already support "semantic patterns". You can see it live in 2022 theme as it registers patterns with the following property `'blockTypes' => array( 'core/template-part/header' ),` which makes them available in the starting UI of the "header", "footer" variations.

That said, the UI is a bit confusing at the moment and we could use some wo

[2022-02-14 11:00] luminuu commented on #36365
Can confirm this bug exists still in WP 5.9, without the Gutenberg plugin active.

[2022-02-14 11:28] jameskoster commented on #28737
I'm unsure how much we should prioritise this one.

1. If the theme author desires a certain template part, they can obviously just specify that in the code
2. Specific template parts can probably be exposed directly in the inserter (https://github.com/WordPress/gutenberg/issues/31748). This makes them easier to preview and add, versus inserting a blank template part and then entering a convoluted

[2022-02-14 11:50] javierarce commented on #38321
Here's a first idea:

![image](https://user-images.githubusercontent.com/4933/153858318-0faecd12-08b6-4322-b77d-e8cf936b4df3.png)

* I placed the avatar style after the avatar size because I imagine that updating the size is probably more common.
* We'll probably need a new type of select for this, but since the canvas will reflect the change immediately, maybe we could use a purely text-based opt

[2022-02-14 12:15] cbravobernal commented on #37883
That part is done and already merged 😄

[2022-02-14 12:21] youknowriad commented on #28737
These template parts created by the theme and assigned to "semantic areas" have nothing different than a "pattern" assigned to that "semantic area". When adding a header (inserting a header, or footer from the inserter), these two should get equal treatment, and when replacing I think as well. For the user it's very hard to make any difference between these two, same for theme authors. The only di

[2022-02-14 12:24] rmorse commented on #38128
@gziolo any thoughts if this would even possible (before we get onto if this is a good idea or not) ?

I had a look at the code and as far as I can tell this is a wrapper for an action provided by redux?:
https://github.com/WordPress/gutenberg/blob/52bfacb06156031aa440f234c5d2595a022cae55/packages/data/src/redux-store/metadata/actions.js#L108

~~So it would depend if redux offers the inverse?~~

-

[2022-02-14 12:41] jameskoster commented on #38321
I like seeing the preview in the dropdown, otherwise you'd need to perform the same action several times to see the effects.

[2022-02-14 12:56] jameskoster commented on #28737
Apologies, I was referring to the [most recent comment](https://github.com/WordPress/gutenberg/issues/28737#issuecomment-1022063925). I'll update with a link.

I think we agree in a roundabout way :) I will mock up the flows in a more detailed way to confirm.

[2022-02-14 13:53] kjellr commented on #38751
I actually ended up using some non-standard dates in Twenty Twenty-Two by manually editing the block markup. 😄

Here are a number of our most frequently used date configs:

- February 8, 2022
- Feb 8, 2022
- Feb 8th
- 2.8.2022 (or 8.2.2022)
- 2/8/202 (or 8/2/2022)

I haven't added an exact timestamp to any theme recently, but I know that's helpful for some high-volume sites. So perhaps we could in

[2022-02-14 13:55] javierarce commented on #37527
I think this is a good idea and will improve what @karmatosed mentions: that right now, "transforming to group" doesn't transform anything, it just groups blocks.

In this case, I can imagine "transform to group" having the following effect:

|Before|After |
|------|------|
|Columns<br />└ Column<br />&nbsp;&nbsp;&nbsp;&nbsp;└ Paragraph<br />└ Column<br />&nbsp;&nbsp;&nbsp;&nbsp;└ Paragraph | Grou

[2022-02-14 14:04] getdave opened #38786 "Nav block accessibility improvements"
There has been a lot of work put into making the Navigation block (_and_ its principle child blocks) as accessible as possible.

That said, we can always do better.

## Nav block specific
Here are a list of current known Issues with the block (based on [this filter](https://github.com/WordPress/gutenberg/issues?q=is%3Aopen+is%3Aissue+label%3A%22Accessibility+%28a11y%29%22+label%3A%22%5BBlock%5D+Na

[2022-02-14 14:04] jameskoster commented on #28737
Ok, here's a diagram illustrating how we might use a modal to satisfy all of the requirements you outlined for the placeholder state, as well as contextual "transforms" when a header has already been selected:

<img width="1590" alt="Screenshot 2022-02-14 at 13 37 17" src="https://user-images.githubusercontent.com/846565/153874397-074bde9d-2fe8-4208-b0db-6fa964523b4d.png">

I've essentially combin

[2022-02-14 14:06] getdave commented on #24369
@tellthemachines Should we proceed with what @noisysocks suggests?

[2022-02-14 14:09] getdave commented on #30620
Can I check whether the `[Block]: Navigation` label currently applied to this Issue is accurate in the sense that the problems described herein apply to the Navigation block (and not just the Columns block)?

If so I'd like to understand the specific issues in order that I can make a specific issue for this to be addressed as part of https://github.com/WordPress/gutenberg/issues/38786.

Many thank

[2022-02-14 14:10] youknowriad commented on #28737
I think maybe differentiate between "patterns" and "template parts" because template parts will result in a different "template part entity" being used. That said, for the user it's very hard to understand, so we can explore and see.

I think when you insert "header", "footer", it should be semantic ones, but maybe we can show more when you insert the generic "template part" block. Also, open to i

[2022-02-14 14:10] getdave commented on #38786
cc'ing @tellthemachines who I know has been instrumental in leading the work on a11y around the block. Isabelle are there any other outstanding issues you are aware of that should be addressed here?

Also could we conduct some basic testing to try and discover for ourselves where the current problems lie before reaching out to the Core Accessibility team for further guidance?

[2022-02-14 14:14] youknowriad opened #38787 "Block Patterns for page creation."
When creating new pages, the user is faced with an empty canvas that can be very hard to work with. We should explore showing a modal as you soon as you add a new page showing the different available block patterns similar to the modal we have when you click "explore" in the block patterns inserter.

Ideally, we'd have ways to mark "patterns" as "full page patterns".

<img width="1332" alt="Screen

[2022-02-14 14:37] pbking commented on #38185
Yes, that's correct @annezazu.  I didn't realize that when opening.

This can be closed.

[2022-02-14 14:37] #38185 closed, assigned to nobody

[2022-02-14 14:40] paaljoachim commented on #38575
Joen made a much smoother and a little more subtitle animation.
I left a comment here: https://github.com/WordPress/gutenberg/pull/38783#issuecomment-1039162481

[2022-02-14 15:13] luisherranz commented on #38694
I don't have much to add either at this moment, but I started a couple of related discussions a few months ago to try to understand what are the new theme and block responsibilities and what does the block-theme contract look like:

- #35469
- #35470

[2022-02-14 15:14] jameskoster commented on #28737
Yes I think so, plus any other block that would make use of this feature (columns, galleries, comments loop/form, etc). On that subject, a nice thing about the modal is that we have an option to trigger it directly from the inserter if appropriate:

![modal](https://user-images.githubusercontent.com/846565/153889570-427c8058-45ce-4cd6-986b-b0659019ce62.gif)

The placeholder shape should probably c

[2022-02-14 15:29] ciampo opened #38788 "Components: update `Ref` type to `ForwardedRef` for all forwarded refs"
See https://github.com/WordPress/gutenberg/pull/38634#discussion_r803039795 for more context

[2022-02-14 15:40] nekohayo opened #38789 "Site logo button should have a tooltip indicating that it is used to go back to the list of posts, or split into a standalone button"
### Description

The "W" button in the editor lets you go back to the list of posts, which is nice, but not terribly discoverable. I'm thinking it would benefit from having a tooltip that says "Go back to the list of posts" (or pages, or articles, or whatever the current post type is), while being careful not to cause an odd issue like #38773; though arguably, maybe having this action be in the "W

[2022-02-14 15:40] DrizzlyOwl commented on #37730
Thanks for posting this issue, it matches exactly with the problem my client has reported. Quite difficult for me to recreate but your videos capture it exactly.

Still exists on WP 5.8.3 using Chrome 98 on Windows 10.

[2022-02-14 15:42] DrizzlyOwl commented on #33712
Thanks for the thorough report here. I think #37730 is also related to this.

[2022-02-14 16:05] Mamaduka commented on #38789
Thanks for contributing, @nekohayo.

I think this makes sense. A similar logo button in Site Editor has the label.

[2022-02-14 16:13] iandunn commented on #35572
https://github.com/WordPress/wporg-mu-plugins/pull/155 has a workaround, which is conceptually similar to solution `#2` above.

A block attribute might still be nice, but maybe it's enough of an edge case that the workaround is good enough?

[2022-02-14 16:16] ocean90 commented on #35288
Marking as a duplicate of #38014 which has a bit more information and a linked pull request #38012.

[2022-02-14 16:16] #35288 closed, assigned to nobody

[2022-02-14 16:53] shivapoudel commented on #38739
@gziolo @ocean90 We do have `src` folder for PHP codes how can I get rid of this message. Still persisting in my environment with version `21.0.1`

![image](https://user-images.githubusercontent.com/3774827/153909043-c942e9c9-1245-4347-b55d-06a366560b5a.png)

Why is `getWebpackEntryPoints` called if I extend the config like this with extending `entry`:

[code]

[2022-02-14 17:01] Mamaduka commented on #38128
@rmorse, core data is already doing something similar for entity records.

So when you fetch records using `getEntityRecords`, it also resolves `getEntityRecord` for the list of results.

https://github.com/WordPress/gutenberg/blob/64b16f3442791a8afca1377f4260fb44d5f00227/packages/core-data/src/resolvers.js#L185-L204

Related PRs: #26575 and #31005.

[2022-02-14 17:06] skorasaurus commented on #37730
Hi,

Thanks for reporting with the detailed reproduction steps and the screen recordings.

This appears to be a duplicate of https://github.com/WordPress/gutenberg/issues/33712

Feel free to [add your reaction](https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/about-conversations-on-github#reacting-to-ideas-in-comments) and follow its progress in the issue.

[2022-02-14 17:06] #37730 closed, assigned to nobody

[2022-02-14 17:17] rmorse commented on #38128
That looks fantastic @Mamaduka , will test this out on my project in the next few days - it makes perfect sense this is a use case that's already presented itself!

[2022-02-14 17:44] annezazu commented on #38714
I really like that phrasing!

[2022-02-14 17:56] stefanfisk commented on #26506
This workaround solved the issue for me:

[code]

[2022-02-14 18:53] mrwweb commented on #35376
I love love love love love the approach @andrewserong is attempting in #36847 and I would _love_ to see it go farther. Core already uses this approach with colors, gradients and font sizes, but it very clearly now could do the same with things like alignment, justification, gaps, margin, and padding.

I would love to see a standardized set of CSS utility classes that both incorporate values from t

[2022-02-14 18:57] claudiulodro opened #38791 "Author autocomplete search can fail to return useful results, improve search logic"
### Description

Under certain circumstances, the author autocomplete search can fail to return the searched-for author. This is because of the way it's implemented. It uses the REST API author search and then filters those results by author name. Since the REST API author search also searches over the user email field, on sites with a lot of users having the same email domain, those email domain-

[2022-02-14 19:16] stokesman commented on #29466
If focus is within the List View, it can be closed with <kbd>Esc</kbd>. To me, that would be good enough **if** there is a shortcut that always focuses the List View, as there would be given @talldan’s latest suggestion https://github.com/WordPress/gutenberg/issues/29466#issuecomment-1038598827 (which is also what I suggested in the latter part of https://github.com/WordPress/gutenberg/issues/2946

[2022-02-14 19:18] alexstine commented on #29466
I would not like to use Escape at this point due to how screen readers work. Escape has already caused us a lot of trouble in JAWS specifically with the different Gutenberg Modes. For me, it would be good to use anything but Escape.

[2022-02-14 19:20] alexstine commented on #30620
@getdave Actually, it would be more accurate to say any Block that doesn't contain a text field is effected or contentEditable attribute. Basically, all of the new interactive Blocks. See this PR for more info.

https://github.com/WordPress/gutenberg/pull/37934

[2022-02-14 19:26] alexstine commented on #38786
@getdave I like where the thought is but this needs to be a bigger picture type of situation. The Navigation Block isn't the problem, there are other issues effecting other Blocks like the Navigation Block. The PR here goes in to trying to fix that.

https://github.com/WordPress/gutenberg/pull/37934

Really need to fix these issues and then the Navigation Block and other related Blocks may not nee

[2022-02-14 19:33] willrowe commented on #38218
This seems to be happening on the other side with the `Page`/`Block` settings as well:
![Screen Shot 2022-02-14 at 14 32 40](https://user-images.githubusercontent.com/7152423/153933373-e5c35956-5ab0-40c1-a779-41f6d6944668.png)

This is a pretty serious issue since it renders any popovers that are on the left or right side inaccessible when the layout or setting panels are open.

[2022-02-14 19:36] alanjacobmathew opened #38792 "Group block and Row block borders overlapping on content"
### Description

Adding borders on group block and row blocks overlap on content

### Step-by-step reproduction instructions

1 Go to FSE,
2 Add a group block, and add a /para block and list block inside the group block
3 Add border to the group block with rounded corners
4 Change the border colour and size (optional for better visibility)
5 Publish and view the page

### Screenshots, screen recor

[2022-02-14 19:53] caraya commented on #22469
I think we're mixing two cases in this issue: preserving user changes and the need for theme authors to have an easier way to make changes to a theme under development.

Perhaps having a `create-theme` mode would help. In this mode, all the changes are automatically reflected in the matching template file and changes made on the template files are automatically reflected in the FSE and the front e

[2022-02-14 21:39] critterverse commented on #34759
I wonder if we actually need a separate control to expand all/collapse all, especially if we are continuing to iterate on smarter behavior for opening and closing sections.

I think one good option would be for the List View items to always default to collapsed. That combined with the functionality of [#35817](https://github.com/WordPress/gutenberg/pull/35817) (collapsed items expanding automatica

[2022-02-14 22:25] ramonjd commented on #34759
Thanks for this idea @critterverse !

After a very rough test using https://github.com/WordPress/gutenberg/pull/35817 as a base, it seems to work well:

https://user-images.githubusercontent.com/6458278/153955371-f6c65ac7-6e7b-4eb5-806c-4a70f552c597.mp4

Achieved by setting the default `isExpanded` state to false [here](https://github.com/WordPress/gutenberg/blob/3cd1a637d588f19ef16bfbfd28f2ddc9b6

[2022-02-14 22:51] gwwar commented on #34759
Not sure if I'm misremembering, but I thought folks preferred it open by default to more easily scan the structure of their post/page. cc @jasmussen @talldan do you recall?

If we update the default expand/collapse state that does sound correct that some list virtualization logic assumptions will need to be updated.

[2022-02-14 23:19] peterwilsoncc commented on #38062
I've moved this to the 5.9.x project to match the [ticket filed on trac](https://core.trac.wordpress.org/ticket/55053).

[2022-02-14 23:23] noisysocks commented on #24369
I wrote that comment a while ago 😅 just noting that we now have a field for the menu name underneath _Advanced_ in the block inspector. Using that for the ARIA label makes sense to me.

[2022-02-14 23:31] andornagy opened #38793 "@wordpress/create-block - 'wp-create-block' is not recognized as an internal or external command, operable program or batch file."
### Description

Every time I try to run

`npx @wordpress/create-block boilerplate`

I get the following error:

[code]
I have node.js version 16.14.0 and npm version 8.5.0.

All other npm commands work just fine. same with the `npx create-react-app my-app`

### Step-by-step reproduction instructions

1. Go to the plugins folder of a WordPress installation
2. Open the terminal
3. run npx @wordpres

[2022-02-15 00:25] heartofeurope commented on #20450
I got this error with Node v16.14.0 and after updating to v17.5.0 it disappeared, but I got a different one:

error = new Error(message);
                        ^

Error: Command failed with exit code 2: npm run build
[webpack-cli] HookWebpackError: error:0308010C:digital envelope routines::unsupported

[2022-02-15 00:53] jeremyfelt commented on #33542
I opened https://core.trac.wordpress.org/ticket/54018, which has a PR. I'm not sure if it's best as a ticket on Trac or issue here.

[2022-02-15 01:11] noisysocks commented on #37236
I think we can close this as fixed by https://github.com/WordPress/gutenberg/pull/38655. We're no longer showing a BSOD.

We can fix bugs that result in an error being shown in separate GitHub issues e.g. https://github.com/WordPress/gutenberg/issues/35560.

I followed these steps and confirmed that an error was shown and not a BSOD.

[2022-02-15 01:11] #37236 closed, assigned to nobody

[2022-02-15 01:34] andrewserong commented on #38167
Update: the initial version of the style engine package has been merged in #37978, so we're now in a good place to start opening up smaller PRs to explore some of the ideas raised in discussions. I'm keen to have a play with how the server-rendering implementation might look.

Thanks @gziolo for linking in those related discussions. And good points about pollution of the HTML and targeting inner H

[2022-02-15 02:26] carolinan opened #38795 "Remove duplicate theme docs"
## What problem does this address?

With the release of 5.9, theme developer documentation for block themes has been added to the theme developer handbook.
The exception are experimental features like the global style variations that require Gutenberg.

Duplicate content should be removed and the block editor handbook should point to the theme developer handbook.

## What is your proposed solution

[2022-02-15 02:29] carolinan commented on #38795
@kafleg @TeBenachi @youknowriad @mkaz @oandregal for your thoughts.

[2022-02-15 02:32] noisysocks commented on #33597
Thanks for the detailed instructions and sample code! It makes digging into this a lot easier.

This happens because, when creating widgets using the REST API, the _request which handles form submission_ and the _request that creates the widget_ are separate.

When you make a change in the Legacy Widget block, it serialises the form and sends that form data to the `/widget-types/:id/encode` endpoi

[2022-02-15 02:49] talldan commented on #38792
Isn't that because there's border radius?

You can add some padding to make sure the the text is fully inside the border.

[2022-02-15 03:05] talldan commented on #38793
@andornagy Thanks for reporting this. I tested node 14 and 16 and both seemed to work ok, but then I'm on a mac.

So it sounds like there might be an issue on Windows. Are you using the standard Windows command prompt? Or one of the linux subsystems for Windows?

I remember @gziolo recently added some testing for create block on Windows and ran into some issues, so might have some ideas about this

[2022-02-15 03:28] annezazu opened #38796 "Consider adding the ability to have multiple background images"
## What problem does this address?

This came up as part of the [FSE Outreach Program's All Things Media exploration](https://make.wordpress.org/test/2022/02/02/fse-program-exploration-all-things-media/#comment-2320):

## What is your proposed solution?

While currently work still needs to be done to enable a background image in more places (different examples: https://github.com/WordPress/gutenbe

[2022-02-15 03:41] annezazu opened #38797 "Improve duotone popover experience to keep popover open"
## What problem does this address?

In the latest FSE Outreach Program's [All Things Media exploration](https://make.wordpress.org/test/2022/02/02/fse-program-exploration-all-things-media/#comment-2324) the following feedback was shared:

Here's a video of the current experience:

https://user-images.githubusercontent.com/26996883/153988338-1c82c861-f606-409f-bfa5-551b0e5a21d5.mov

## What is your

[2022-02-15 03:45] annezazu commented on #31662
Noting that this remains an issue with WordPress 5.9 and came up in the [FSE Outreach Program's All Things Media exploration:](https://make.wordpress.org/test/2022/02/02/fse-program-exploration-all-things-media/#comment-2324)

[2022-02-15 03:45] talldan commented on #29466
Improving region navigation sounds like a good idea. It's a bit unloved.

At the moment there are two shortcuts for region navigation. I don't think it'd great to introduce a third, so we'd probably want to look at dropping one or both of those other shortcuts to introduce F6. Apparently the backtick isn't a great shortcut and that's why the other shortcut was introduced - https://github.com/WordP

[2022-02-15 03:56] annezazu opened #38799 "Consider adding opacity controls to all image blocks"
## What problem does this address?

This came up as a request in the[ FSE Outreach Program's All Things Media exploration](https://make.wordpress.org/test/2022/02/02/fse-program-exploration-all-things-media/#comment-2320):

## What is your proposed solution?

Right now, there are different implementations for opacity between the color picker component (https://github.com/WordPress/gutenberg/pull/3

[2022-02-15 03:57] talldan commented on #29466
@stokesman Oops, sorry I missed that! I still feel like this is a good suggestion and it could always live alongside any changes to region navigation. Unless there are any objections that I missed? The only thing I can see is the point about not using the escape key that Alex mentioned, though that's already how it works in `trunk`. it could be worth experimenting with a few different options for

[2022-02-15 03:57] ramonjd commented on #27495
I can't reproduce this. I think it might have been addressed by https://github.com/WordPress/gutenberg/pull/35065 or an earlier PR.

Feel free to reopen if the problem persists. Thank you!

[2022-02-15 03:57] #27495 closed

[2022-02-15 04:03] andrewserong commented on #35376
Thanks for the input here @fwazeter and @mrwweb! There's quite a lot at play in how styles are generated and rendered. I'll be closing out my old attempt in #36847, as we're exploring moving toward having a separate package for consolidating how styles are generated (the style engine, tracked in #38167) — but the insights here into classnames and style duplication are super helpful. (I plan to mak

[2022-02-15 04:04] talldan commented on #38793
https://github.com/WordPress/gutenberg/pull/38781 could be related.

@t-hamano, does your PR fix this issue?

[2022-02-15 04:13] annezazu commented on #30276
Noting that this has come up as a piece of feedback with the [FSE Outreach Program's latest All Things Media](https://make.wordpress.org/test/2022/02/02/fse-program-exploration-all-things-media/#comment-2324) exploration as a point of confusion (twice):

[2022-02-15 04:29] annezazu opened #38801 "Image Block: Border settings don't work when cropping/rotating"
### Description

This came up as part of the [FSE Outreach Program's All Things Media exploration](https://make.wordpress.org/test/2022/02/02/fse-program-exploration-all-things-media/#comment-2324):

### Step-by-step reproduction instructions

1. Add an image block.
2. Activate the cropping tools.
3. Open block settings sidebar and try to change the radius. Notice you can change things like the bl

[2022-02-15 04:33] t-hamano commented on #38793
@talldan
My PR is for a fix to resolve the path separator, so this PR probably won't fix this issue.
Also, I have never encountered an error message for this problem, but I expect it to be an OS or terminal issue.
I would like to do some research to see what environment I can reproduce it in.

[2022-02-15 04:36] andornagy commented on #38793
@talldan I tried the base windows terminal and power shell. Both as normal and run as admin. Same issue. And the same with the built-in terminal from VS Code.

And I never used the Linux Subsystems before, no.

[2022-02-15 04:52] t-hamano commented on #38793
@andornagy

I've tested the same version of npm and node, but I can't reproduce the problem.

Could you tell me what version of npx you are using?
If you haven't explicitly included npx, it should be the same version as npm.

[code]

Also, do you see any other messages immediately after executing the command?

[2022-02-15 04:58] annezazu opened #38802 "Site Editor: Image Block lacks alignment controls"
### Description

This came up as part of the [FSE Outreach Program's All Things Media exploration](https://make.wordpress.org/test/2022/02/02/fse-program-exploration-all-things-media/#comment-2324):

Possibly related: https://github.com/WordPress/gutenberg/issues/38557

### Step-by-step reproduction instructions

1. Open the site editor
2. Add an image
3. Notice in the toolbar there's no option to

[2022-02-15 05:01] alexstine commented on #29466
I'm still not sure we're solving the right problem. I think it is kind of an anti-patern to have disappearing/appearing landmarks. How hard would it be to refactor the List View to only change visually for close/open state? The problem is, you can't have it both ways. Me personally, I think the List View should close after selecting a Block, but I know for a fact this isn't the way this was design

[2022-02-15 05:03] andornagy commented on #38793
Npx version is 8.5.0 as well. And no, just to run a new command.

Also interesting, because I just tested on my laptop, a Lenovo IdeaPad Y910, just installed Node.js on it:
Node version: 16.14.0
NPM version: 8.3.1
NPX version: 8.3.1
Windows version: 21H1

And it works just fine, for any terminal.

I might try downgrading to npm 8.3.1 and see. If not, I wanted to re-install Windows anyways, maybe t

[2022-02-15 05:04] ramonjd commented on #38751
I've been looking into the moving (and static) parts of dates and trying to find the best place to start tackling this specific issue while keeping longer term possibilities open.

I've made a bunch of assumptions here, so will be **very** happy to be corrected on anything.  😄

For now they're notes. I'll come back and refine them and add some steps we could take to move forward.

### Where the cu

[2022-02-15 05:14] annezazu opened #38803 "Site Editor: multi selecting blocks causes editor to jump to top"
### Description

This was found as part of the [FSE Outreach Program's All Things Media Exploration](https://make.wordpress.org/test/2022/02/02/fse-program-exploration-all-things-media/#comment-2324):

This is quite disruptive and jarring, especially if you're simply trying to move a few blocks around. cc @andrewserong since I can see you're working on implementing multi select for List View: http

[2022-02-15 05:21] noisysocks commented on #33638
We can’t provide the preview iframe with a widget ID because the ID might not exist in all cases. For example, if a user creates a new Legacy Widget, the ID isn’t created until the user presses _Update_.

Potentially, we could pass `sidebar_id` [as a widget argument](https://github.com/WordPress/gutenberg/blob/d3688d8d6f1388a6805c62bd2a51556ba541f99b/packages/widgets/src/blocks/legacy-widget/index

[2022-02-15 05:22] #38789 closed, assigned to nobody

[2022-02-15 05:28] fwazeter commented on #35376
@andrewserong I've been tinkering with this quite a lot and it certainly gets pretty complex fast. (Note, none of this is meant as critical, just observation and trials-and-tribulations from the trenches...Gutenberg definitely is like it was once described as "trying to replace a jet engine while the plane is in flight."

Part of the issue is that while most plugin or theme developers won't care a

[2022-02-15 05:39] Robertght opened #38804 "[Bug]: Overtype not working anymore"
### Description

It appears the overtype feature isn't working anymore, but we have a confirmation from user that it did work in the past(a few months ago).

### Step-by-step reproduction instructions

1. Create a new page/post
2. Add some text on it
3. Try to use INS while on Windows to overwrite the existing content

### Screenshots, screen recording, code snippet

Previous report: https://githu

[2022-02-15 05:41] noisysocks commented on #33832
It makes intuitive sense to me that the widgets screen should not have a freeform handler during _parsing_, since we know that the underlying storage mechanism (widgets) can always be transformed into a list of valid non-freeform blocks. That is, there shouldn't ever be anything in between the `` delimiters in the widgets screen.

But we do need a freeform handler during _pasting_, so that non-blo

[2022-02-15 05:42] noisysocks commented on #33936
Hi @Arskrigitsioniets, thanks for reporting this. It's the same root cause as https://github.com/WordPress/gutenberg/issues/33832, so closing this in favour of that issue.

[2022-02-15 05:42] #33936 closed, assigned to nobody

[2022-02-15 05:45] noisysocks commented on #34551
The calls are being made to `/widget-types/:id/encode` which is an RPC-style endpoint that turns the widget's HTML form data into a serialised instance string needed for previewing. I don't believe we can embed that response into `/widgets` as it relies on using `FormData` in the browser to serialise the form.

[2022-02-15 05:46] #34551 closed, assigned to nobody

[2022-02-15 05:46] fwazeter commented on #38694
I posted this over on #35376 but figured this would be good to repost on - since I discovered it from that issue.

I've been tinkering with this quite a lot and it certainly gets pretty complex fast. (Note, none of this is meant as critical, just observation and trials-and-tribulations from the trenches...Gutenberg definitely is like it was once described as "trying to replace a jet engine while t

[2022-02-15 05:47] noisysocks commented on #34788
Grea idea. Let's include it as part of https://github.com/WordPress/gutenberg/issues/28517 so that there isn't too many issues floating around. I'll copy your suggestion in there.

[2022-02-15 05:48] noisysocks commented on #28517
Related to this is a good suggestion made by @myleshyson in https://github.com/WordPress/gutenberg/issues/34788 about building an API for this into `register_sidebar`.

[code]

[2022-02-15 05:49] noisysocks commented on #35017
Makes sense.

[2022-02-15 05:50] noisysocks commented on #33832
A related issue to this is that we strip all of the HTML block's metadata when saving. See https://github.com/WordPress/gutenberg/issues/35266.

[2022-02-15 05:51] noisysocks commented on #35266
Thanks for the report. I'll close this as a duplicate of https://github.com/WordPress/gutenberg/issues/33832 as it's the same root cause which is that we're using `core/html` as the freeform handler.

[2022-02-15 05:55] t-hamano commented on #38793
@andornagy

I'll describe the method I came up with.

I've listed them in order of least impact on the computer environment.

### Clear npx cache
`run npx clear-npx-cache`

### Uninstall local @wordpress/create-block package
This may be due to the fact that it is installed globally by npm.
`npm rm -g @wordpress/create-block`

### Reinstall node.js
Please note that this may affect your existing loc

[2022-02-15 06:16] andornagy commented on #38793
Thank you, this seems to have fixed the issue.

And my other projects work just fine as well :)

Could have this been caused by me trying the newest version of the "current" nodejs? 17.5.0 and then reverting to the stable one? And maybe leaving a corrupted cache or something?

[2022-02-15 06:29] andrewserong commented on #38803
Thanks for the ping, Anne! Unfortunately, from a quick skim through Gutenberg PRs, I couldn't find any recent changes that would obviously affect things, either. But, I also couldn't replicate the issue in 5.9 with Gutenberg deactivated 🤔... I'm testing in WP 5.9, Chrome, MacOS:

https://user-images.githubusercontent.com/14988353/154004788-b54f3f55-7259-4d1f-9786-4801780931ad.mp4

I wonder if ther

[2022-02-15 06:29] #38793 closed, assigned to nobody

[2022-02-15 06:53] t-hamano commented on #38793
@andornagy
I also tested it with node v17.5.0 and it worked fine.
I don't know what caused it, but it may have been a temporary environmental issue, not the node version.
In any case, I'm glad it was resolved 👍

[2022-02-15 06:56] #38773 closed, assigned to Mamaduka

[2022-02-15 07:18] gziolo commented on #33542
Thank you for opening a ticket on Trac. Let's discuss the details there because we need to apply changes in WordPress core anyway. Once we have a working solution we can see if we can use hooks to bring the same functionality to the Gutenberg plugin.

I’m not aware of any prior discussion about changing the default flag in `wp_register_script` for the footer/header placement. It’s worth noting tha

[2022-02-15 07:26] annezazu commented on #38803
How strange! I pulled up a different test site (without Gutenberg) and could still replicate :/

[2022-02-15 07:37] arthur791004 commented on #34101
Close it via https://github.com/WordPress/gutenberg/pull/37704

[2022-02-15 07:37] #34101 closed, assigned to nobody

[2022-02-15 07:40] youknowriad commented on #38795
I think we definitely should sort out the duplication.

That said, I really don't like that the documentation lives separately from the code. I guess this is a problem for all WP documentation aside the block editor one and I'd love for the WordPress docs to be "merged" with WordPress (and Gutenberg) that way it evolves hand in hand, there's so many benefits to this approach.

[2022-02-15 07:49] jasmussen commented on #34759
The archive might betray me (edit: [thankfully it doesn't](https://github.com/WordPress/gutenberg/pull/32117#issuecomment-848535628)), but my current recollection is wanting these to start collapsed by default ever since the folding was built in. To echo Channing's thought, I think if paried with automatically opening the tree-view to the block selected in the canvas, it might work excellently wel

[2022-02-15 07:58] #38575 closed, assigned to Mamaduka, jasmussen

[2022-02-15 08:32] audrasjb opened #38807 "Site Logo Block causing division by zero notice when image dimensions are not available"
### Description

Please note that this is a report coming from Trac, and that `maximus80` deserves the props here.

Copy-paste from Trac:

Notice is
`Warning: Division by zero in wp-includes/blocks/site-logo.php on line 21`

This will happen when the dimensions of the image used inside the site logo block can't be retrieved for some reason.

Example: SVG image being used. That will lead to the div

[2022-02-15 08:54] getdave commented on #24369
@noisysocks I assumed that was the field you were referring to 😄 👍

[2022-02-15 08:54] #38698 closed, assigned to Mamaduka

[2022-02-15 09:06] jasmussen commented on #38787
Not entirely related and needs more work, but [doodled a basic filtering interface here](https://github.com/WordPress/pattern-directory/issues/395#issuecomment-1040021653). [Here's the Figma](https://www.figma.com/file/aPjSgLkhV0qdSWV7mtHMPW/Filtering-Patterns?node-id=0%3A1) in case it can jump start better explorations.

[2022-02-15 09:10] getdave commented on #38786
@alexstine Understood, although I trust you will forgive me for focusing on the Navigation block specifically as it's where my particular focus lies. I want to ensure we're tracking _both_ wider and more localised issues. Moreover, having a specific tracking Issue for the block helps to ensure that a11y continues to be kept front of mind as we move forward - something I'm sure you would support.

[2022-02-15 09:15] maximus80 commented on #38807
Thanks for porting this over here @audrasjb :+1:

[2022-02-15 09:20] jasmussen opened #38811 "Consider optional additional scoping of editor styles"
Some projects use the Gutenberg editor in novel ways, such as Gutenberg Everywhere, which enables the editor in comments, bbPress, admin pages and more.

In that situation, the editor is not iframed. That means all styles that exist in `[blockname]/editor.scss` gets output, even for blocks that are outside of `div` containing the editor instance (for example a comment field). This bleed can cause

[2022-02-15 09:34] getdave commented on #14744
If anyone is keen to see [background images land in the Group block](https://github.com/WordPress/gutenberg/pull/38784) then please do add your 👍 to [this experimental PR which looks to add that feature](https://github.com/WordPress/gutenberg/pull/38784).

<img width="1019" alt="Screen Shot 2022-02-15 at 09 34 27" src="https://user-images.githubusercontent.com/444434/154034098-5e90b810-1976-44a8-8

[2022-02-15 09:35] darkonelson opened #38813 "Problem with Yoast panel after WP 5.9 upgrade."
### Description

I need you support because I have some problems with Yoast panel after WP 5.9 upgrade.

### Step-by-step reproduction instructions

The problem is not in the functionality of the program but in Yoast panel in block editor.
When I open visual block editor all is well. But when I switch on mobile or tablet preview and come back in desktop preview Yoast panel (usually on the end of t

[2022-02-15 10:32] dozentis opened #38815 "Block crashes while editing if inside <a>element is a placeholder without attributes"
### Description
A text was copied/pasted from a Word document (with headings) into the Block-Editor. Therefore, an anchor with name attribute is visible in the HTML of the heading, because the headings are linked to the table of content.
After inserting the copied MS-Word text into the block editor, Gutenberg removes the name-attribute and leaves a blank <a> element inside the <h> element. This ca

[2022-02-15 10:51] ramonjd commented on #38694
So many excellent ideas in this thread 👍

This is something we could and probably should look at to ensure margins and padding behave across writing modes. I've started looking at alternate [writing modes](https://github.com/WordPress/gutenberg/pull/38319). If it gets any traction switching to logical properties might have to happen anyway.

Anyhoo, here's a draft PR that experiments with switchin

[2022-02-15 10:54] Zodiac1978 commented on #36365
Pasting headings with the same name are not postfixed with a number `-x`, but stay with the same anchor name and therefore create duplicate IDs.

[2022-02-15 11:26] fwazeter commented on #38694
@ramonjd Even if it never "catches" on, it's a smart, sensible default, we've been using it without issue for almost a year now - for one, the semantics follow flex & grid semantics, which you pretty much have to be accustomed with in modern CSS anyway, ~~two if a user / author really doesn't like it explicit margin-right / left overrides it (although, that also might be faulty memory of mine in a

[2022-02-15 12:04] SiobhyB commented on #25590
Noting that I'm going to be taking a look into how we can improve the error messages for failed media uploads. :) Here's an attempt to gather a list of related open issues in one place for reference:

## Gutenberg Mobile repository

* https://github.com/wordpress-mobile/gutenberg-mobile/issues/2448

## Android repository

* https://github.com/wordpress-mobile/WordPress-Android/issues/12325
* https

[2022-02-15 12:45] fwazeter commented on #38167
Glad to have found this tracking issue! Thanks @ramonjd for linking it! Which channel in slack is this stuff discussed in? Been looking for months for discussion around these issues!

Developed a CSS API via plugin to handle this exactly - taking sources from global styles, a CSS file (re-tooling some old PEAR PHP package for parsing CSS from css files), CPT etc, universalizes it then renders the

[2022-02-15 12:54] Mamaduka commented on #38802
I think inside the template, individual blocks need containers (Group or similar) for alignment.

We need to document the Layout and Alignment relation somewhere. I don't remember if there was a "Make/Core" post related to this change.

Cc @youknowriad, @ntsekouras.

[2022-02-15 13:06] fwazeter commented on #38167
Can personally attest to how finicky this subtly is to work with. The cover block overall is simultaneously one of the most useful blocks in the arsenal, but also the hardest to work with and tweak because of it's structure. Part of it's finicky nature is the fact that it's trying to handle so much at once - it's pretty much got n possibilities of configuration.

Current manipulation to specific s

[2022-02-15 13:11] fluiddot opened #38822 "Video block: Add option for inserting the video from an URL"
## What problem does this address?

On the web version, the option for inserting the video from an URL is already provided, however, we don't have it on native. It would be great if we could provide the same experience on both platforms.

**Video block in web version:**
<img width="600" alt="Screenshot 2022-02-15 at 14 05 49" src="https://user-images.githubusercontent.com/14905380/154068070-f850f1

[2022-02-15 13:39] dozentis commented on #38815
Easier testing, just copy/paste this code

[code]

into an empty line in block editor (not code-editor) and click into the headline text

[2022-02-15 13:45] Mamaduka commented on #38791
Hi, @claudiulodro

Currently, users' REST API endpoint doesn't give us the ability to specify search columns. Filtering this globally via plugin can cause unexpected issues.

I think changing columns via the [`user_search_columns`](https://developer.wordpress.org/reference/hooks/user_search_columns/) filter might be the best option before there's a REST API support.

[2022-02-15 14:06] davilera opened #38823 "getEntityRecords returns null after requesting an "invalid" page"
### Description

`getEntityRecords` should return an array of entities (assuming the resolution is finished) that match the queried criteria. However, it sometimes returns `null` incorrectly.

As far as I can tell, it returns `null` when:

- requesting a `taxonomy` (I've only tested `category` and `post_tag`)
- there’s up to _n_ pages of entities
- the requested page is _n+1_ (results in the empty

[2022-02-15 14:07] dozentis commented on #38815
console log
`TypeError: t.url is undefined in react-dom.min.js:141:274`

[code]

[2022-02-15 14:18] fwazeter commented on #38813
It's never fun when a plugin does odd behavior after a core update.

Likely whatever code Yaost used to connect to the editor and display their panel had a subtle change and Yaost hasn't adjusted to meet the change yet - this feedback would be much more beneficial to give to Yaost directly, because then they could make the changes they need to make to have it display properly.

I'm not familiar wi

[2022-02-15 14:20] thomasplevy commented on #28517
I'd just like to note my 2 cents is that an allowed block list is terribly difficult to maintain if the desire is to have a single block that *isn't allowed* in any widget areas at all.

For example: I have a block I'd like to denote can only be used on a specific post type and not in widget areas. In order to filter this using an allow-list I need to compile a list of *all other blocks in existen

[2022-02-15 14:22] fwazeter commented on #38803
Bizarre bug, I couldn't replicate it either in chrome or on Firefox (albeit on Ubuntu).

[2022-02-15 14:26] paaljoachim opened #38825 "Multisite: Not able to publish post."
### Description

We have a multisite with various plugins.
I suddenly I noticed that after clicking publishing that the spinner kept on going.
I checked the Dev console and noticed a lot of 403 errors.
I followed this tutorial to tackle the 403 errors: https://www.hostinger.com/tutorials/what-is-403-forbidden-error-and-how-to-fix-it
Remove/rename the htaccess file. Then resave permalinks.
That got

[2022-02-15 14:31] Mamaduka commented on #38825
It is maybe related: https://core.trac.wordpress.org/ticket/55015. At least the `activeTheme is null` error.

[2022-02-15 14:41] inc2734 commented on #38160
If insert a template part block and try to create a new template part block with multibyte characters, an error will occur.

<img width="1274" alt="スクリーンショット 2022-02-15 23 38 14" src="https://user-images.githubusercontent.com/1094306/154084109-41c38a5f-b916-4d1a-8341-f9378f89c785.png">

Gutenberg version: 12.7.20220214

[2022-02-15 14:42] ntsekouras commented on #38802
That's true. The alignments depend on their container and in site editor we assume there is no container because that's the whole page in front end. What this means is that by default root level blocks take all the available space which is 100%.

In post editor we already have a container and the `layout` config is used. So if a theme defines `layout: { contentWidth: something, wideWidth: somethin

[2022-02-15 14:43] Mamaduka commented on #38160
Thanks for contributing, @inc2734.

I thought I covered all cases. I will have a look tomorrow and create a follow-up PR.

[2022-02-15 14:46] Mamaduka commented on #38802
Thanks, Nik.

[2022-02-15 14:46] courtneyr-dev commented on #37407
Can we include Post Formats as part of the templating? This would help for back compatible uses for sites already containing these post types.

As these are tied to index/blog archive and single post, can these show being templates within the higher levels somehow (envisioning some visuals that look similar to child pages)

[2022-02-15 14:49] paaljoachim commented on #38825
Thanks George! I am checking. As this error happened recently it might be associated with WP 5.9. I will downgrade the network and see how it goes. It made no difference as far as I could tell.

[2022-02-15 14:50] dozentis commented on #38815
## addendum: Same issue with paragraph-block

[code]

I changed the title of this issue

[2022-02-15 15:14] github-actions[bot] opened #38826 "[Flaky Test] displays edits to the post title and content in the preview"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
displays edits to the post title and content in the preview

## Test path
`/test/e2e/specs/editor/various/preview.spec.js`

## Errors

<time datetime="2022-02-15T15:14:29.755Z"><code>[2022-02-15T15:14:29.755Z]</code></time> Test passed after 1 failed attempt on <a href="http

[2022-02-15 15:33] gziolo commented on #34478
All the changes discussed are going to be applied directly in WordPress core so let's close this issue and continue in https://core.trac.wordpress.org/ticket/54797. All enhancements are planned for WordPress 6.0 release.

[2022-02-15 15:33] #34478 closed, assigned to gziolo

[2022-02-15 15:43] paaljoachim commented on #38825
I added a video: https://youtu.be/y9zCWVpLBtI
I feel like I am down in an Alice of Wonderland rabbit hole.

[2022-02-15 15:46] critterverse commented on #35087
+1. IMO, the Option/Preferences menu treatment is the more Gutenberg-friendly version of this approach (vs. the eyeball icon at the top of the page). It feels similar to the other functionality can be found in the Preference modal's "General" tab under the Appearance section, and this approach would keep the editor UI as streamlined as possible while still enabling the functionality for those who

[2022-02-15 16:03] loyukfai commented on #30378
Any updates?

[2022-02-15 16:58] darkonelson commented on #38813
Well after all upgrades I have some problems.Before contacting anyone I try
to determine in which theme or plugin the problem is.
When I switched from Astra to twenty twenty and switch off all plugins
problem persist with diference-Yoast panel is closed now.
I contacted Yoast and gave them credentials. After two logins they said
that cannot reproduce same problem???
Now the question at all is whet

[2022-02-15 17:04] jorgefilipecosta commented on #38787
I think patterns make most sense as a prefill for the content of a specific page. So it seems creating a page is almost a two-step process:
- 1 Selecting a template for the page. From the page templates the theme makes available.
- 2 Select a pattern to pre-fill the content of the page.

Full-page patterns may make sense in certain cases, for example as a subscribe form, a specific landing page, s

[2022-02-15 17:20] github-actions[bot] opened #38828 "[Flaky Test] should be able to create a new tag with ' on the name"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should be able to create a new tag with ' on the name

## Test path
`/test/e2e/specs/editor/various/taxonomies.spec.js`

## Errors

<time datetime="2022-02-15T17:20:52.173Z"><code>[2022-02-15T17:20:52.173Z]</code></time> Test passed after 1 failed attempt on <a href="https:/

[2022-02-15 17:22] alexstine commented on #38786
@getdave

Yeah, that's why I posted how I did. I don't want a Block by Block approach for a few reasons.
1. That is a whole lot of code to maintain.
2. The Block Editor needs to be accessible for any type of Block that a developer adds, not just our Core Blocks. The least we can do is make sure the Block Editor has the support for basic focus management.
3. Once the big issues are fixed, then we c

[2022-02-15 18:04] claudiulodro commented on #38791
Oh good suggestion. Here's a snippet I created to "fix" the issue in the meantime:

[code]

Works well so far in my testing. :)

[2022-02-15 18:57] pattyok commented on #37031
Most of the text on the home page of a recently launched site when white (on white) because of this change!  It doesn't appear that it is doing any color detection it is purely based on the opacity level selected.

I have a light colored image, using a white overlay. And if the opacity of the overlay is under 50% all of the text goes white.

![image](https://user-images.githubusercontent.com/24170

[2022-02-15 19:14] fabiankaegy opened #38830 "Add filter to `get_block_wrapper_attributes` function"
## What problem does this address?

It is currently possible to add custom classnames to static blocks using the `blocks.getSaveContent.extraProps` filter in JS. This is super useful when working with custom block supports. And even core uses this system in js to add the classnames generated for for example the color classes.

In PHP however for custom blocks this is all hardcoded in the `get_bloc

[2022-02-15 19:18] stokesman commented on #29466
I think that may be a more important concern though it seems separate and compatible with the concern of convenience in this issue.

To me that seems worthy of evaluation. For one thing, it would seemingly make the current keyboard shortcut work well enough to obviate this issue.

[2022-02-15 19:28] mrwweb commented on #37031
As I mentioned in [my comment on the Core block refactor dev not](https://make.wordpress.org/core/2022/02/09/cover-block-refactor-dev-note/#comment-42578): For any sites that don't support the full color controls, the recommended workaround is not feasible. On a site I maintain, we don't allow editors to apply colors through the standard color tools, so this isn't a hypothetical. For now, my solut

[2022-02-15 19:53] TeBenachi commented on #38795
I think this is a great idea!  Most of the pages have similar contents so I think it's safe to redirect.
A few thoughts.

I think [theme.json](https://developer.wordpress.org/themes/advanced-topics/theme-json/)  have the similar content as  [Global style variations](https://developer.wordpress.org/block-editor/how-to-guides/themes/create-block-theme/#theme-json-global-styles). Maybe we should add

[2022-02-15 20:20] annezazu commented on #38823
cc @kevin940726 curious for your thoughts here based on the PR that seems to have made this change: https://github.com/WordPress/gutenberg/pull/36984

[2022-02-15 20:23] paaljoachim commented on #27075
@critterverse Channing shared a link to @javierarce post here which is interesting to share into this issue: http://work.javierarce.com/2021/09/14/interaction-of-color/

[2022-02-15 20:56] sitetherapy commented on #32497
This still happens in WP 5.9 and Safari 15.3.  Worse (and I'll report this separately), if you have inserted a column block with 2+ columns and entered content in each column, decrementing the number of columns destroys the content in that columns that are removed. This drag bug makes it easier to do this since the behavior noted in the bug happens in a fraction of a second (i.e. it's incredibly e

[2022-02-15 21:07] stokesman commented on #32497
Hi @sitetherapy, regarding the column deletion issue we have #9009 in case you'd not see it. It's pretty old.

As for this issue the library I mentioned above is now stable and fixing this could be pretty simple. Maybe I can make a PR soon.

[2022-02-15 21:18] sitetherapy commented on #9009
This still exists and is exacerbated for Safari users by the Range Control bug https://github.com/WordPress/gutenberg/issues/32497 which makes it very easy to accidentally decrement the number of columns, losing data.

Expected behavior for me would be to preserve the content of the removed columns until save. If I save, it's not unreasonable to assume that I meant to also delete the contents of t

[2022-02-15 21:23] sitetherapy commented on #32497
@stokesman - I'd not seen that, thanks.

[2022-02-15 21:43] stokesman commented on #9009
@sitetherapy, are you saying you are unable to restore the content by using undo? If that does work, I realize it's still far from ideal. Especially in combination with the bug from #32497.

Thanks for trying to test that PR and the heads up that it's no longer working. I guess with time PRs may become outdated and won't run on Gutenberg.run. I'd still like to revisit that PR but don't have much t

[2022-02-15 22:16] github-actions[bot] opened #38832 "[Flaky Test] should move focus to the block"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should move focus to the block

## Test path
`/test/e2e/specs/widgets/customizing-widgets.spec.js`

## Errors

<time datetime="2022-02-15T22:16:51.665Z"><code>[2022-02-15T22:16:51.665Z]</code></time> Test passed after 1 failed attempt on <a href="https://github.com/WordPress

[2022-02-15 22:42] nekohayo opened #38833 "Typing custom color names in the FSE color styles settings sidebar is extremely slow"
### Description

Typing anything in the name fields for colors in the full-site editor is _excruciatingly_ slow, on Firefox on Linux (I didn't test with other browsers). It locks up the UI and types out every character at a rate of maybe 2-3 characters per second.

### Step-by-step reproduction instructions

1. Edit TwentyTwentyTwo's Homepage template
2. In the sidebar, go to "Colors"
3. In the la

[2022-02-15 22:55] nekohayo opened #38834 "On some screen resolutions heights, FSE's color styles custom gradients color picker positioning prevents changing the color's settings"
### Description

Gutenberg's FSE miscalculates the position of its chained gradients+colors popup widgets need to be, resulting in the impossibility of setting exact color parameters.

See the attached screencast, particularly the 2nd part when I get to the gradients' colors.

### Step-by-step reproduction instructions

1. Size your browser window to be on a 1080px-high display with some space los

[2022-02-15 23:03] annezazu opened #38835 "Label new contributor for opened issues"
## What problem does this address?

Similar to the first time contributor label for PRs, it would be neat to have the same for issues, partially as a way to better track non code contributions.

## What is your proposed solution?

Add a first time contributor label to issues.

[2022-02-15 23:05] nekohayo opened #38836 "French apostrophe HTML entity not respected in the FSE's sidebar"
### Description

The string "Background color" in the sidebar somehow gets translated to `Couleur d&rsquo;arrière-plan`, where you can see a wild/unescaped `&rsquo;` has appeared instead of `'` or the typographic apostrophe. Sacrebleu!

### Step-by-step reproduction instructions

1. Go to Paris
2. Notice the apostrophe being disrespected
3. Provoke someone in a duel

### Screenshots, screen record

[2022-02-15 23:37] annezazu commented on #24684
Going to close this issue out based on the above dialogue and resolutions! In case it's helpful to more folks, [wanted to flag the following sentence from this post: ](https://make.wordpress.org/core/2022/02/09/core-editor-improvement-curated-experiences-with-locking-apis-theme-json/)

If this needs to be re-opened for some reason, please just comment :)  For now, seems best to continue the discus

[2022-02-15 23:37] #24684 closed

[2022-02-15 23:54] critterverse commented on #29575
I think this issue is really close to being able to be picked up by a developer based on the flow @javierarce shared in https://github.com/WordPress/gutenberg/issues/29575#issuecomment-812044660.

I like @jasmussen's suggestion above and there were some nice alternatives for this shared in https://github.com/WordPress/gutenberg/issues/29575#issuecomment-813997566.

Another option could be to show

[2022-02-16 00:09] westonruter commented on #29575
I believe it would make more sense (and more common) to allow the user to schedule _all_ the changes together, rather than to have a way to schedule each separate entity separately. The Customizer's approach is to have scheduling for all of the changes being made, not separate schedules for each change. Being able to schedule each change separately feels like a power user feature that would not be

[2022-02-16 00:24] #37110 closed, assigned to mirka

[2022-02-16 00:25] fwazeter commented on #38813
Yeah, definitely sounds pretty frustrating. It's just that no one contributing to WordPress that doesn't happen to be part of Yaost's team has no way of actually doing anything about it, since it's just happening with Yaost (a fully independent company from  WP), it's something going on there with them.

It'd be the same thing as if you downloaded a plugin of mine, an update could happen, it could

[2022-02-16 01:25] mirka opened #38845 "InputControl: Replace `composeStateReducers()` with a standard implementation"
There is a quirk in the current implementation of `composeStateReducers()`, in that it requires each reducer to [mutate](https://github.com/WordPress/gutenberg/pull/37164/files#r801084302) the original `state` object. It can cause bugs in the reducer chain if a reducer returns a fresh state object instead.

https://github.com/WordPress/gutenberg/blob/7a3e37a3e0f11e0a05eb2ab36d34427e1c0c5b4f/packag

[2022-02-16 02:30] talldan commented on #34759
I can't really recall if I've expressed an opinion on this before, but I don't really mind either way. Probably something I'd have to use before forming an opinion. I suppose it might be frustrating for something like a columns block if it were collapsed by default and the user had to expand every level to see the contents, but it's definitely hard to say without seeing it in action.

[2022-02-16 02:51] katag9k commented on #38823
I have run into a smiliar issue where `wp.data.select('core').getEntityRecords('taxonomy', 'category', { per_page: 100 });` returns `[]` in Gutenberg WP 5.8.3 but in Gutenberg WP 5.9.0 it returns `null` and once in a while it will return `[]`

[code]

[2022-02-16 03:19] carolinan commented on #38795
I think the example themes link is a bad idea because these themes are not being updated. There are now more themes in the theme directory that are better examples.

[2022-02-16 03:21] alexstine commented on #34759
Me personally, I would want to see it collapsed by default but I don't see why adding Expand All/Collapse All would be unreasonable. Could throw it up around the Close button.

[2022-02-16 04:04] kafleg commented on #38795
I agree with Carolina that examples themes are not properly maintained.

[2022-02-16 04:53] noisysocks commented on #35320
Hi @antonyjsmith! The CSS you shared looks right to me. I think what probably is the issue is that you're using `add_editor_style` which will automatically prefix all your CSS rules with `.editor-styles-wrapper` so that the CSS will only affect elements that are _within_ the widget area. This is because editor styles are supposed to style content that appears on the frontend and the widget area co

[2022-02-16 04:53] #35320 closed, assigned to nobody

[2022-02-16 04:55] noisysocks commented on #35468
Good idea. Just need to figure out a nice place to register the alignments, as you say 🙂

[2022-02-16 04:57] noisysocks commented on #35780
Makes sense. Noting that we can't enable the Navigation block until https://github.com/WordPress/gutenberg/issues/32952 is addressed, though, as Navigation stores its content into a Navigation entity.

[2022-02-16 04:58] noisysocks commented on #35781
Makes sense. Noting that we can't enable the Navigation block until https://github.com/WordPress/gutenberg/issues/32952 is addressed, though, as Navigation stores its content into a Navigation entity.

Probably makes sense to tackle this and https://github.com/WordPress/gutenberg/issues/35780 at the same time.

[2022-02-16 04:58] noisysocks commented on #35780
Probably makes sense to tackle this and https://github.com/WordPress/gutenberg/issues/35781 at the same time.

[2022-02-16 05:00] noisysocks commented on #35890
Can we detect whether or not to add `.is-dark-theme` based on the background colour? I thought this is what the post editor did, but I could be mistaken.

[2022-02-16 05:08] noisysocks commented on #36830
Double checking: Was there a way to do this previously? That is, is this a limitation of `the_widget` or is a limitation of the Legacy Widget block? I think it's the former.

Adding a new `the_widget_args` filter to `the_widget` makes sense to me.

~We could also consider passing `$args` by reference to the existing `the_widget` filter, but that's more obtuse.~ **edit:** Actually, don't think that

[2022-02-16 05:15] noisysocks commented on #36830
Moved this here: https://core.trac.wordpress.org/ticket/55175

[2022-02-16 05:15] #36830 closed, assigned to nobody

[2022-02-16 05:18] noisysocks commented on #36953
I'm not currently seeing this behaviour. Running latest WP + Gutenberg. Please re-open if I'm mistaken.

[2022-02-16 05:18] talldan commented on #38836
Thanks for reporting this. I gave it a test and couldn't reproduce the problem (though I didn't carry out two of the steps 😄 ):
![Screen Shot 2022-02-16 at 1 11 50 pm](https://user-images.githubusercontent.com/677833/154200753-8d762c97-27dc-46cd-9c08-95eeb6062754.png)

It might be that my development environment is using more up-to-date localized strings or something. I'm not really all that famil

[2022-02-16 05:48] talldan commented on #37055
This was fixed in https://github.com/WordPress/gutenberg/pull/38017. Thanks for reporting it.

The fix is in WordPress 5.9 and Gutenberg 12.5.

[2022-02-16 05:48] #37055 closed, assigned to nobody

[2022-02-16 05:49] carolinan commented on #38795
The [global style variations or presets ](https://developer.wordpress.org/block-editor/how-to-guides/themes/create-block-theme/#global-styles-presets)(unsure, different names are used in different places) require Gutenberg and do not work with only WordPress 5.9, that is why I suggested that they are kept in the block editor handbook.

[2022-02-16 05:56] nekohayo commented on #38836
Oh, that might be, as I haven't tried the git version, I'm simply running the versions that ship with "stable" WordPress releases, so I'm not surprised that this might have been caught and fixed already!

[2022-02-16 06:13] noisysocks commented on #38173
I don't think we can support this because the Widget Group block outputs something like this:

[code]

Note that there is no container markup for the classname to be added to.

The `<div class="widget">` container which appears in the frontend comes from the `WP_Widget_Block` widget, not the Widget Group block.

I am thinking we should set `supports.className` to `false` for the Widget Group block

[2022-02-16 06:15] noisysocks commented on #38197
This should be fixed by https://core.trac.wordpress.org/changeset/52730. Please test the WP 5.9.1 RC when it is released to confirm.

[2022-02-16 06:15] #38197 closed, assigned to nobody

[2022-02-16 06:18] noisysocks commented on #33254
Using blocks makes it so that pressing <kbd>Tab</kbd> selects the sidebar and not the first block in the widget area: https://github.com/WordPress/gutenberg/issues/38260

[2022-02-16 06:19] noisysocks commented on #38260
Thanks for the issue. I suspect this is a side effect of us implementing the widget area using an internal "widget area" block. There's been some discussion in https://github.com/WordPress/gutenberg/issues/33254 about whether that's the right approach.

[2022-02-16 06:21] noisysocks commented on #38264
Are there other areas where we always show the block appender at the end of a block editor? I think not, but thought I'd double check.

[2022-02-16 06:25] noisysocks commented on #38266
Good catch. That's no good. Any examples of similar accordion UIs that get this right?

[2022-02-16 06:42] noisysocks commented on #34087
What do you think @critterverse? Maybe could be similar to the proposal in https://github.com/WordPress/gutenberg/issues/33716.

[2022-02-16 06:46] noisysocks commented on #33264
I don't think we should have _editor styles_ at all in the Customizer. That includes custom background colour, custom foreground colour, etc.

[2022-02-16 06:48] noisysocks commented on #33264
My memory is a bit hazy, but I believe that editor styles are already **not** loaded in the Customiser and that this bug is because some themes use `enqueue_block_editor_assets` to add styles instead of editor styles. This is due to limitations with editor styles. I'm not sure if there's anything we can do in Core/Gutenberg to address that. It would be nice to investigate.

When I test this locall

[2022-02-16 06:50] noisysocks commented on #32629
Related: https://github.com/WordPress/gutenberg/issues/33264

[2022-02-16 06:50] darkonelson commented on #38813
Thank you for your help.
I really appreciate that.
Nelson

On Wed, 16 Feb 2022 at 01:26, Frank Wazeter ***@***.***>
wrote:

[2022-02-16 06:59] noisysocks commented on #32493
I'm going to close this out as it hasn't gotten much traction. Happy to reopen if there are folks interested in opening up a PR to explore these ideas 🙏

[2022-02-16 06:59] #32493 closed, assigned to nobody

[2022-02-16 07:00] KokkieH commented on #37055
Thanks for the fix :)

[2022-02-16 07:04] noisysocks commented on #32210
I agree with @stokesman that improving what we already have is likely more practical (from a cost benefit point of view) than a new modal interface.

[2022-02-16 07:07] noisysocks commented on #32061
👋 @kevin940726 @critterverse: Where did we get to with this? Just doing some triage of the widgets issues and wondering if this is actionable or if we can close it.

[2022-02-16 07:14] glagonikas commented on #38173
@noisysocks wouldn't it be better to wrap the Widget Group into a container?

I might be wrong, but the majority of blocks have a container, and if so, it's probably worth keeping them consistent?

Also, custom CSS on every block is quite important and having the ability to do it on a parent level, makes things easier.

[2022-02-16 08:03] #38525 closed, assigned to nobody

[2022-02-16 08:04] MartinWolfert opened #38847 "HTML tag visible on Search Block"
### Description

Using the Search Block and set the the label above the input field bold type the HTML Tags <strong>Some Input</strong> is visible.

### Step-by-step reproduction instructions

Have a look on the screenshot

### Screenshots, screen recording, code snippet

<img width="1088" alt="Bildschirmfoto 2022-02-16 um 08 53 38" src="https://user-images.githubusercontent.com/12369729/154221059

[2022-02-16 08:51] geriux commented on #36152
Fixed in https://github.com/wordpress-mobile/gutenberg-mobile/pull/4588

[2022-02-16 08:51] #36152 closed, assigned to nobody

[2022-02-16 09:01] BogdanUngureanu commented on #36953
Hi @noisysocks, thanks for looking, I just tested it again on an Atomic site with nav-unification enabled, with Core navigation and it's still reproducing.

To give you more info, I'm using Chrome 98 and the browser width was 990px, maybe this would help you to reproduce it.

Also, I don't think I have permissions to re-open the issue.

[2022-02-16 09:08] thegirlinthecafe commented on #36834
This solved it for me too.

[2022-02-16 09:24] TeBenachi commented on #38795
That's explain why it didn't work on my block theme 😄
It makes sense to keep it in the block editor handbook.

[2022-02-16 09:38] SantosGuillamot commented on #34994
These blocks haven't been included in WP 5.9, so you are probably using the [Post Comments block](https://github.com/WordPress/gutenberg/tree/trunk/packages/block-library/src/post-comments). This block currently renders the `comments.php` in the frontend, so you would need to change that. I haven't checked it but I assume you would need to do so via filters. Not sure if it is the best way, but mak

[2022-02-16 09:52] Soean commented on #38847
This issue was already fixed in https://github.com/WordPress/gutenberg/pull/38649, it will be released in Gutenberg today in version 12.6 and later in WordPress 5.9.1.

[2022-02-16 09:52] #38847 closed, assigned to nobody

[2022-02-16 09:57] dwojcik1994 commented on #26123
Hi, could you tell me where have I add this code to fix this wordpress issue?

[2022-02-16 09:58] getdave commented on #38275
## Update 16th Feb 2022

* [Exploration continues](https://github.com/WordPress/gutenberg/pull/38465) around https://github.com/WordPress/gutenberg/issues/36667.
* Work continues on https://github.com/WordPress/gutenberg/issues/37190.
* A new Issue was created to track https://github.com/WordPress/gutenberg/issues/38786.
* A new button was added to [convert Submenu blocks back to Link blocks if th

[2022-02-16 10:01] jameskoster commented on #37407
Good question. Post Formats aren't represented in WordPress' [template hierarchy](https://developer.wordpress.org/themes/basics/template-hierarchy/), so are perhaps not a good fit in the context of this issue. Especially as they're a large (and optional) feature in their own right – we want to do them justice!

I'd love to see a way to customise the Post Template block that we have inside Query bl

[2022-02-16 10:18] jasmussen opened #38850 "Icons Package: Add build process"
As the project grows, so does the need to simplify the contribution flow for new icons. In that light, we should consider adding a build step to the Icons package. It could work like this:

- The `src` folder of the `packages/icons` becomes a gitignored `build` folder
- The new `src` folder should be just a list of raw SVGs exported from [the WordPress Design Library Figma](https://www.figma.com/f

[2022-02-16 10:20] mcsf commented on #38815
Hi, @dozentis. Thanks for your report.

This issue was recently fixed in #37034. Right now, the bug affects WP 5.9, but the fix should appear in the upcoming WP 5.9.1 version, as well as in the next stable Gutenberg plugin release.

_Closing: fixed by #37034._

[2022-02-16 10:20] #38815 closed, assigned to nobody

[2022-02-16 10:29] draganescu commented on #32629
Yes.

[2022-02-16 10:50] JustinyAhin opened #38851 "Migrate E2E tests to Playwright"
This issue tracks progress on migrating Gutenberg's E2E tests from Puppeteer (`packages/e2e-tests`) to Playwright (`test/e2e`).

Resources:

- [Migrating WordPress E2E tests to Playwright](https://make.wordpress.org/core/2022/03/23/migrating-wordpress-e2e-tests-to-playwright/)
- [End-to-End Testing](https://developer.wordpress.org/block-editor/contributors/code/testing-overview/e2e/)
- [Migration

[2022-02-16 10:57] JustinyAhin commented on #38851
## In `e2e-test-utils-playwright`

- [ ] activate-plugin.js
- [ ] activate-theme.js
- [ ] are-pre-publish-checks-enabled.js
- [ ] auto-accept-page-dialogs.js
- [ ] canvas.js
- [ ] change-site-timezone.js
- [ ] clear-local-storage.js
- [ ] click-block-appender.js
- [ ] click-block-toolbar-button.js
- [ ] click-button.js
- [ ] click-menu-item.js
- [ ] click-on-close-modal-button.js
- [ ] click-on-mo

[2022-02-16 11:41] getdave commented on #27075
Thank you for the varied opinions expressed here. It's really great to see this discussion evolving.

For my part, I'd like to add that I don't see this as a binary choice.

My opinion is that handling some _basic_ interaction styles (such as color) would be appropriate for the editor to handle. Indeed, many users will likely want to be able to have some control over these most basic of design cho

[2022-02-16 11:43] #38807 closed, assigned to nobody

[2022-02-16 11:43] tomasztunik opened #38854 "Gutenberg Block Editor renders in quirks mode causing visual/css errors."
### Description

Block Editor renders its contents into `<Iframe />` component dynamically via `React.createPortal` and by default empty document created for an <iframe /> without a src/srcDoc that would provide it doesn't have any doctype defined. This causes the iframe to render in quirks mode which in absence of css reset controlling rendering baseline causes some potential rendering difference

[2022-02-16 11:59] rudrastyh commented on #38171
Well, everything is already well said above, this bug is super-annoying.

I think I will also roll back to a previous version for a while, because this thing makes the editor almost unusable for a couple of my websites.

[2022-02-16 12:10] RolfKyburz commented on #38171
Yes, @rudrastyh, I couldn't agree more — it is by far the worst WP bug/annoyance in a long time. I wish I had the time to spare to roll back. And, of course, I hate the sheer thought of rolling back to an older version. And I don't see signs of a fix in 5.9.1 ...

[2022-02-16 12:12] Mamaduka commented on #38171
Hey, folks

I'm planning to merge https://github.com/WordPress/gutenberg/pull/38780 today, which will make this feature opt-in. The fix should ship with 5.9.1.

[2022-02-16 12:21] JustinyAhin commented on #38851
cc @kevin940726

[2022-02-16 12:54] ntsekouras commented on #34937
Thanks for reporting @karmatosed! I'm going to close this one as the behavior was expected, as @carolinan explains above, and also it seems it has been [resolved here](https://github.com/WordPress/gutenberg/pull/35517), in the way that we have moved forward with a unification of theme blocks placeholder content.

Feel free to reopen if you think we need to take some alternative approach.

[2022-02-16 12:54] #34937 closed, assigned to nobody

[2022-02-16 12:55] Luehrsen commented on #38813
The public GitHub Repository for Yoast SEO is here:

https://github.com/Yoast/wordpress-seo

[2022-02-16 13:32] JustinyAhin commented on #38851
## In `e2e-tests-playwright`

- [ ] Editor
    - [ ] Various
        - [ ] a11y.test.js
        - [ ] adding-inline-tokens.test.js
        - [ ] adding-patterns.test.js
        - [ ] allowed-patterns.test.js
        - [ ] autosave.test.js
        - [ ] block-deletion.test.js
        - [ ] block-editor-keyboard-shortcuts.test.js
        - [ ] block-grouping.test.js
        - [ ] block-hierarchy-nav

[2022-02-16 13:33] JustinyAhin commented on #38851
cc @kevin940726

[2022-02-16 13:35] hypest commented on #38407
Updated parent post with:

🔎 Main focus
++    Scoping the Drag and Drop project

🛠️ Recently fixed or improved

++  [Upgrade react-native-video and drop jetifier on Android](https://github.com/WordPress/gutenberg/pull/38426)
++  [Fix Custom Palette colors and support multiple origins and theme cache issues](https://github.com/WordPress/gutenberg/pull/38417)
++  [Fix Jest module name mapper for WP

[2022-02-16 13:50] #38171 closed, assigned to nobody

[2022-02-16 14:36] myleshyson commented on #28517
I think on the other hand, an allow list does protect against unintentional blocks from showing in a widget area. Our context  at UF is probably different since we manage sites for editors, but with an allow list we don't have to worry about unaccounted for blocks showing up in a widget area whenever WordPress updates. I'm sure agencies have some of the same worries, and probably why the other blo

[2022-02-16 16:20] andreaslindahl commented on #38813
I'm getting the same behaviour, both with Yoast and Advanced Custom Fields plugins. So unclear if the error is on their side or on the Wordpress side?

[2022-02-16 16:32] sitetherapy commented on #9009
@stokesman - I can use the revisions to get back the content so undo might work (I'll try later) but for me the natural reaction was to increment the number of columns back to what it was.

My  concern is two fold. One, that we have a bug that **_loses data_** and it's still open and two, while I can figure this out, I can't see asking a client to deal with this - "Oh  yes, you lost data. Sorry ab

[2022-02-16 16:41] oandregal commented on #38434
The two PRs for Gutenberg have landed. I've done a number of tests that boil down to count the layout shift of the page.

These are the recorded screenshots from simulating a "slow 3G" without cache (as reported by Chrome's "Network" tab):

| Before | After |
| --- | --- |
| ![Captura de ecrã de 2022-02-16 17-13-18](https://user-images.githubusercontent.com/583546/154307850-7488278b-2e5d-4dbf-ac0d

[2022-02-16 16:41] oandregal commented on #38434
@iidastudio would you be able to test with Gutenberg from `trunk` and report back if it fixes the issue for you?

[2022-02-16 16:54] pbking opened #38860 "Link color of Site Title clobbered by containing Group link color"
### Description

When a group has a link color assigned and in that group a site title has a link color assigned the EDITOR shows the correct color but the VIEW shows the color defined in the GROUP.

### Step-by-step reproduction instructions

Using emptytheme create a page with a group block that contains a site title block.
Assign a link color value to the group block.
Assign a DIFFERENT link co

[2022-02-16 17:07] MaggieCabrera opened #38862 "Post content block - layout: disable alignments"
## What problem does this address?

Sites that don't have a centered column with the post content have trouble with alignments. An example of this is Stewart, where the [single template](https://github.com/Automattic/themes/blob/trunk/stewart/templates/single.html) uses columns to achieve a sidebar and places the post content inside the right column. This invalidates alignments but the user can st

[2022-02-16 17:08] cbirdsong commented on #27617
I like how that looks, though I think it would be best if this system was able to accommodate more than just the featured image. I would love to easily be able to pull any kind of post/site metadata into a block. (see #37753)

[2022-02-16 17:41] stokesman commented on #9009
@sitetherapy, thanks for confirming that undo works. As far as I can tell that's what has allowed this issue to languish. I've made PR #38840 for the (Safari) bug with the columns control so at least the potential to delete columns inadvertently can be lessened.

[2022-02-16 17:50] sitetherapy commented on #9009
The frustrating thing about this languishing is that, since Undo works, re-adding columns should also - the data is still there, just check for it when re-adding columns. It's completely natural to think "Oh dammit, I didnt mean to delete that column" and click to increment the column count back up, expecting the data to still be there. Hell, _I_ did that and I'm technically savvy.

[2022-02-16 17:52] critterverse commented on #29575
Good to know, seems like there have been requests for both ways. Curious if anyone sees value in the ability to schedule by panel grouping — Site, Template, etc? Just thinking out loud because it would resolve some of the trickier aspects of this UI if we could use a single ellipses "more" menu at the top of each panel.

[2022-02-16 18:11] t-pabla commented on #34994
Thanks for your reply , @SantosGuillamot

In 5.9 editor, when I open single.php, I see "Post comments block". But I do NOT see "Comment date block" you referred to.

Where can this "Comment date block" be found?

I use 5.9 and twentytwentytwo theme.

thanks again.

[2022-02-16 18:52] DAreRodz opened #38864 "Comments Query Loop: Simplify and clarify the block settings"
## What problem does this address?

This issue was arisen in [https://github.com/WordPress/gutenberg/pull/38187#discussion_r807028923](https://github.com/WordPress/gutenberg/pull/38187#discussion_r807028923).

There are some concerns regarding the current settings of the Comment Query Loop block. Naming is confusing, e.g., “Order by” only affects the order in which the comments are listed in a pag

[2022-02-16 19:00] #37153 closed, assigned to DAreRodz

[2022-02-16 19:33] SiteMods commented on #38171
Good work getting a solution so quickly. It would help tremendously if new features like this could be disabled programmatically (filters). Otherwise, it's the "don't touch that" speech for every button that breaks the theme/plugin.

[2022-02-16 19:37] lapinell commented on #38578
I could probably take some of these and do some user testing to help aid in decision making. Can be rapid with 1 or 2 users or more in-depth. Thoughts?

[2022-02-16 19:55] mirka opened #38865 "NumberControl: Disable dragging on touch devices"
The drag-to-change-value gesture will not work nicely on touch devices unless we disable browser scrolling with [`touch-action: none`](https://use-gesture.netlify.app/docs/extras/#touch-action).

There is a separate question of whether we really want this dragging gesture on touch devices, because there is no `cursor` affordance like on desktop. It’s also pretty easy to accidentally flick and chan

[2022-02-16 20:02] critterverse commented on #34087
Love this idea! Good call @noisysocks, this would work really well based on the reordering of the top bar proposed in https://github.com/WordPress/gutenberg/issues/33716:

![Customizer-top-bar](https://user-images.githubusercontent.com/77359364/154345699-72fc28ce-086b-4de1-9703-0fb59e44e571.jpg)

[2022-02-16 20:10] critterverse commented on #33264
Same. I believe the issue was first introduced in https://github.com/WordPress/gutenberg/issues/32849#issuecomment-866374349 in case there's any helpful context there.

[2022-02-16 20:21] critterverse commented on #32061
This one was a doozy but I think we landed on a pretty good solution in https://github.com/WordPress/gutenberg/pull/32490. Would still love to see that approach implemented (although I can't recall if there were still any technical considerations to be worked out).

[2022-02-16 21:05] Luehrsen commented on #33374
Let me chime in here and report that I stumbled over this today. To be perfectly clear: This is super unintuitive and horrible behaviour.

This is how we are trying to solve this regression at the moment.
https://gist.github.com/Luehrsen/c4aad3b33435058c19ea80f5f1c268e8

[2022-02-16 22:21] driviera commented on #13368
+1 ... The <a> classes field was a Screen Option in the previous editor. Very useful for adding the "smooth-scroll" class to the anchor link where it's needed... not the block. This is a feature removal that should be reconsidered.

[2022-02-16 22:57] ocean90 commented on #38242
The version was updated in https://github.com/WordPress/gutenberg/commit/b23854a833b861ed31db74e918a5e1e1201d2023.

[2022-02-16 22:57] #38242 closed, assigned to ryanwelcher

[2022-02-16 23:37] westonruter commented on #29575
For reference, here's a video showing the Customizer UI for scheduling all changes made in the current session:

https://user-images.githubusercontent.com/134745/154374654-2df3f598-70d7-45b3-8ac2-fed1a12c6974.mov

More screenshots can be seen in the [Changeset Scheduling](https://make.wordpress.org/core/2017/11/03/new-features-and-enhancements-with-customizer-changesets-in-4-9/#:~:text=programmati

[2022-02-16 23:43] carlomanf commented on #29821
I think redirecting to the site editor makes sense. Maybe the code from #36294 could be re-purposed for this.

[2022-02-17 01:49] annezazu opened #38869 "Cover block: text over image align center center doesn't work"
### Description

When adding an image block and using the "Add text over image", the option to set to "center center" does not properly work. It remains to the left. This came up as part of the [FSE Outreach Program's All Things Media exploration](https://make.wordpress.org/test/2022/02/02/fse-program-exploration-all-things-media/#comment-2324):

### Step-by-step reproduction instructions

1. Add

[2022-02-17 02:07] annezazu opened #38870 "Block settings jump to top when adjusting duotone and alignment the first time"
## What problem does this address?

This came up as part of the [FSE Outreach Program's All Things Media](https://make.wordpress.org/test/2022/02/02/fse-program-exploration-all-things-media/#comment-2324):

Here's a quick video -- oddly it only happens when you first change the setting but then the sidebar settings stick after that:

https://user-images.githubusercontent.com/26996883/154389719-206

[2022-02-17 02:27] annezazu opened #38871 "Percentage option for various block settings are confusing to use"
### Description

It seems like multiple settings don't work with the % option. This was found as part of the latest [FSE Outreach Program's All Things Media](https://make.wordpress.org/test/2022/02/02/fse-program-exploration-all-things-media/#comment-2324):

### Step-by-step reproduction instructions

There are a few ways to replicate this:

**Cover Block - Minimum Height**

1. Add a cover block.

[2022-02-17 02:58] #38390 closed, assigned to nobody

[2022-02-17 03:38] annezazu opened #38872 "Deleting value of dimensions resets to px"
### Description

This came up as part of the [FSE Outreach Program's All Things Media exploration](https://make.wordpress.org/test/2022/02/02/fse-program-exploration-all-things-media/#comment-2324):

Want to note that I found this to be similar to this issue: https://github.com/WordPress/gutenberg/issues/37856

### Step-by-step reproduction instructions

1. Add a cover block.
2. Open the block set

[2022-02-17 03:46] noisysocks commented on #38173
If we wrap the `h2` and `div` in a container then there'll be two container divs in the resultant widget. This goes against the motivation of Widget Group which is to exactly match the markup of a traditional non-block widget.

What's your use case for adding a classname? Maybe there's another way.

[2022-02-17 03:47] noisysocks commented on #36953
Thanks for confirming. Adding `Needs Testing` so that somebody who can reproduce this can investigate what's going on.

[2022-02-17 03:49] mchildress commented on #32353
So glad this is on the radar.  In our multisite instance, we are building child themes in which I plan to use a combination of local templates and reusable blocks for site administrators to select from when building their child sites at a local university.  Upon clicking the blue Update button a message appears in the right column with a subtitle Select the changes you want to save and the checkbo

[2022-02-17 03:53] noisysocks commented on #32629
Got it 😀 thanks for clarifying. I mistakenly thought this was about the Legacy Widget block.

So, this happens by design. We don't load editor styles in the Customizer widgets block editor (that is: it's equivalent to turning _Use theme styles_ off in the post block editor preferences) because there is already a preview of what the content will look like on the right hand side of the screen. Maybe

[2022-02-17 03:53] #32629 closed, assigned to nobody

[2022-02-17 04:11] noisysocks commented on #28517
There was a proposal a long long while back for having properties such as `allowedBlocks` accept objects where you could allow _or deny_ specific block types.

[code]

It never got much traction at the time (too complicated) but maybe we can think about adding something like that now.

Perhaps a simpler alternative is to just have `disallowedBlocks` in addition to `allowedBlocks`. It's not clear w

[2022-02-17 04:15] #38391 closed, assigned to nobody

[2022-02-17 04:17] noisysocks commented on #32061
Cool. I'll link https://github.com/WordPress/gutenberg/pull/32490 as closing this issue.

[2022-02-17 04:21] annezazu opened #38874 "Image Block: set to 100% but image changes size after selecting the 100% option"
### Description

After adding an image, it is set to 100% but if you select the 100% the size of the image changes. This only happens in the Post Editor but that might be due to some breakage in the site editor (https://github.com/WordPress/gutenberg/issues/38557). This was found as part of the [FSE Outreach Program's All Things Media exploration:](https://make.wordpress.org/test/2022/02/02/fse-pr

[2022-02-17 04:29] annezazu commented on #38802
Hmm this definitely seems to result in a confusing experience! The same person also reported the following:

It's not quite intuitive that one needs to add a Group block > Cover block > Image block in order to have this work properly.

Is this "working as expected" and more of a design experience to help guide folks to know what to do? Curious how to move this forward but that seems best from what

[2022-02-17 04:33] Greatdane commented on #37628
@alshakero - Any update on this one, please?

Also, is this a duplicate of https://github.com/WordPress/gutenberg/issues/37018 ?

[2022-02-17 04:43] annezazu opened #38875 "Add helper text to Cover Block's min height field"
## What problem does this address?

If you add a Cover block and include an embed within it, you cannot make the minimum height smaller than the embed. This makes sense but there's no warning in place to tell you that. This was found as part of the [FSE Outreach Program's All Things Media exploration:](https://make.wordpress.org/test/2022/02/02/fse-program-exploration-all-things-media/#comment-232

[2022-02-17 05:10] ramonjd commented on #38723
Could it be related to the Popover?

It looks like it's not calculating its left position relative to the editor wrapper:

<img width="473" alt="Screen Shot 2022-02-17 at 4 08 46 pm" src="https://user-images.githubusercontent.com/6458278/154409527-81f0c9eb-525d-4a5a-a979-4314f5730632.png">

I see that the parent with the most relevant `offsetLeft` is `#wpbody`. If add `document.querySelector( '#wp

[2022-02-17 05:41] realstephenzhao commented on #10235
This is a basic functionality. We need a method to insert inline elements.

[2022-02-17 07:34] ntsekouras commented on #37385
Thanks for reporting this @eoinsav!

This seems to have been resolved here: https://github.com/WordPress/gutenberg/pull/38821, so I'm closing the issue. Feel free to reopen if you can still reproduce.

[2022-02-17 07:34] EddyBoels opened #38877 "Bloks panel stay open"
### Description

Bloks/reusable/patterns panel cant be close after visiting explorer.

### Step-by-step reproduction instructions

Open bloks panel
Go to patterns tab
Clik explorer (don't chose any pattern)
Close Explorer
Try to close panel

### Screenshots, screen recording, code snippet

![patternspanel](https://user-images.githubusercontent.com/99866057/154426597-d557d72f-c6b8-4e21-b9fc-c1ec5ba

[2022-02-17 07:40] talldan commented on #38877
I think there's a deeper bug here. There's a focus loss when closing the Explore modal. It should be transferred back to the 'Explore' button. Doing so would also fix the issue with the sidebar not closing (it seems to only happen if focus is programatically transferred outside the sidebar).

You can see that when the explore modal is open, the sidebar in the background has no contents (if your br

[2022-02-17 07:46] jasmussen commented on #27617
Nice, I did consider other data sources as I as exploring, though didn't share as it didn't feel intuitive enough:
<img width="337" alt="Screenshot 2022-02-17 at 08 44 12" src="https://user-images.githubusercontent.com/1204802/154428896-3a5ce6cc-4c3b-4fb7-8751-edccf8d53552.png">

The [6.0 preliminary road map suggests](https://make.wordpress.org/core/2022/01/26/preliminary-roadmap-for-6-0/):

Do y

[2022-02-17 08:29] Trapsta commented on #38315
@costdev  guessing this should be currently status blocked pending discussion on the trac ticket on how best to implement the patch  but I think in the meantime  we could be testing for any issues that might come up in the editor and also check for any performance hits/concern from the patch. correct?

[2022-02-17 08:29] ntsekouras commented on #38668
Thanks for reporting this @Rottinator! This seems to be a result from this PR: https://github.com/WordPress/gutenberg/pull/31569. @ellatrix do you have any thoughts if we can handle this with RichText?

[2022-02-17 08:37] frogdesk opened #38878 "Bug - Class removed from links whenever they are edited"
### Description

There is absolutely no way to add a class to a link in the current version of WordPress. Additionally, when saving a post, any classes added in previous versions are removed. These are critical bugs that should have been release blockers.

### Step-by-step reproduction instructions

1. Add a link
2. Edit as HTML
3. Give it a class
4. Make any other changes to the link
5. See that

[2022-02-17 08:40] umeshgupt opened #38879 "Twenty Thirteen: Table color not reflect on the frontpage"
### Description

Twenty Thirteen: Table color not reflect on the frontpage

### Step-by-step reproduction instructions

    1.Switch theme to Twenty Thirteen
    2.Create Table and change color after update
    3.Check the frontpage

### Screenshots, screen recording, code snippet

Add the video Link below:
[https://www.loom.com/share/6ce4c74eb3314d7bb593b0e7173e637b](url)

### Environment info

V

[2022-02-17 08:47] talldan commented on #38878
Thanks for reaching out.

I couldn't reproduce this, when I tested the class stays and I can see it on my site, even after saving. Here's a screenshot of the HTML on the front-end of my test site:
![Screen Shot 2022-02-17 at 4 45 12 pm](https://user-images.githubusercontent.com/677833/154438696-f1cd45e7-80b2-466c-8eae-1e7b427ea7a3.png)

I did notice the class is removed when editing and resubmitti

[2022-02-17 08:48] carnilino commented on #9340
The issue still remains in WP 5.8.3.

EDIT: it seems to happen only when there's an empty image block (without selected image) in a saved post and you reload the page. When I add new empty image block, or if the image block has selected image, `wp.media.frame.content.get()` does not return `null` and works as intended.

[2022-02-17 08:53] glagonikas commented on #38173
one of our use cases is to style a group of widgets differently, for example having two widgets inside a grey box and one outside. Adding a class to each of the two widgets would result in grey bg behind them, but no bg on the margin between them.

Appreciate this is an edge case scenario, but in my mind (might be wrong or against Widget coding standards) every widget should be wrapped inside a co

[2022-02-17 09:54] yanliom commented on #35906
Hello, same problem here, waiting for a fix.

[2022-02-17 09:57] gziolo commented on #37560
It looks like there is the only one case where the link to Older and Newer Comments are wrongly displayed is with these settings:

<img width="865" alt="Screenshot 2022-02-17 at 10 55 42" src="https://user-images.githubusercontent.com/699132/154451312-97948f98-d15f-4bc4-aa77-f5ca8f4c4a46.png">

There should be Older Comments rather than Newer Comments link:

<img width="706" alt="Screenshot 2022-0

[2022-02-17 10:10] gziolo commented on #37561
## Issue 1

Settings used:

<img width="828" alt="Screenshot 2022-02-17 at 11 05 35" src="https://user-images.githubusercontent.com/699132/154453210-659cbdee-467a-445c-88fb-d4634f85e888.png">

Old Post Comments block and Newer Comments link:

<img width="662" alt="Screenshot 2022-02-17 at 11 04 42" src="https://user-images.githubusercontent.com/699132/154453523-bd6568d3-5265-41a5-bfd2-36adf5c800c7

[2022-02-17 10:19] youknowriad commented on #38434
I'm going to close this issue for now. Thanks for you work André

[2022-02-17 10:19] #38434 closed, assigned to oandregal

[2022-02-17 10:33] paaljoachim commented on #38825
**We figured out the problem.**
- Some sites had difficultly being SSL sertified. (Working with the host on this part.)
- As I renamed the htaccess file and a new was auto generated. The new htaccess file did not have the needed multisite code. This caused publishing errors with Gutenberg. Adding the below code the publishing error in Gutenberg went away.

[code]

The Classic Editor plugin was abl

[2022-02-17 11:17] jasmussen commented on #38875
Perhaps there's a deeper question on the minimum height control. Technically it's working perfectly as intended: it's the _minimum_ height, and whatever content is inside is free to expand the container beyond that. But of course that isn't necessarily intuitive for most people who might think of it as a plain _height_ control, perhaps especially since the resize handle in the canvas suggests that

[2022-02-17 11:25] jasmussen commented on #38871
The percentage option is very tricky because it only ever has an effect if the parent container has an _explicitly defined height_. Without it, it just won't do anything, and in that vein this is just [the weirdness of CSS at play](https://codepen.io/joen/pen/KKyZNXN?editors=1100).

In that light, short of disabling the percentage option (perhaps by default, letting themes surface it), I don't kno

[2022-02-17 11:26] #36697 closed, assigned to jorgefilipecosta

[2022-02-17 11:28] Mamaduka commented on #38833
cc @jorgefilipecosta

[2022-02-17 11:30] Trapsta commented on #38331
@kurudrive Thanks for reporting, but I believe this is not a bug and is the intended behaviour.  The children buttons' toolbar "absorbs" the relevant parents controls to make it easier and more intuitive to change the parent's attributes without constantly switching between parent and child. You can find more context in [#26313](https://github.com/WordPress/gutenberg/issues/26313)

[2022-02-17 11:37] jasmussen commented on #36697
Nice worko @jorgefilipecosta! Should we reopen this one for some of the design changes proposed here, that aren't yet implemented?

[2022-02-17 11:41] jasmussen commented on #38874
I think this might be a duplicate of #38381, which also has some good conversation. Specifically it seems like an editor-only issue that is related to the ResizableBox component.

The video here is excellent though, if you agree it's the same issue maybe it's worth copying the video over to the other thread?

[2022-02-17 11:42] dgwyer commented on #33542
Just seeking clarification on how we currently define dependencies for styles and scripts in block.json. In the [handbook](https://developer.wordpress.org/block-editor/reference-guides/block-api/block-metadata/#wpdefinedasset) it mentions how to specify an object to do this:

This is related to supporting multiple styles and scripts in block.json but I'm not sure this has been implemented yet?

Al

[2022-02-17 13:03] ntsekouras commented on #38875
I agree with that and I don't think we can swap this with `height`. It will create a tons of issues and confusion since everything is responsive and will create scrollbars, might cause issues with the `fullscreen` toggle, etc...

Maybe what we need here is a `help` text explaining a bit what `min-height` is?

[2022-02-17 13:27] grogou commented on #38692
@t-hamano after discusstions with lib author, he changed staff you have suggested and it is works for me. Thank you again, and we can close this ticket.

[2022-02-17 13:42] Aljullu opened #38885 "Edit Site button should open the Site Editor with the current template open"
### Description

Clicking on the _Edit Site_ button on the top bar always redirects to the same template, without taking into account the template the user was viewing.

### Step-by-step reproduction instructions

0. Enable a block theme (Twenty Twenty-Two, for example).
1. Go to any post or page in your store.
2. In the top bar, press on _Edit Site_.
3. Notice you are redirected to the Site Edito

[2022-02-17 13:50] davideprevosto commented on #21945
Hello,

it seems to me this issue appears again on WordPress 5.9.

Am I doing something wrong or someone is catching the same problem?

Thank you

[2022-02-17 14:02] ntsekouras commented on #38872
I can reproduce and by looking the code of the `cover` block... 🤷 So many things going on there with a lot of complexity. I'll try to see if I can find the problem and also simplify things a bit..

[2022-02-17 14:24] carolinan commented on #38885
Hi, I am closing this as a duplicate of https://github.com/WordPress/gutenberg/issues/37850

[2022-02-17 14:24] #38885 closed, assigned to nobody

[2022-02-17 14:35] carolinan commented on #38813
Hi, thank you for reporting this.
This issue is actually a duplicate, and it has been reported multiple times. I have been trying to locate the problem and resolve it without being able to.

Any input and continued troubleshooting would be much appreciated, and can be added to the original issue:
https://github.com/WordPress/gutenberg/issues/38062

I can confirm it does not only affect Yoast SEO.

[2022-02-17 14:35] #38813 closed, assigned to nobody

[2022-02-17 14:37] #38692 closed, assigned to nobody

[2022-02-17 14:46] markhowellsmead commented on #36609
I'm attempting to include a workaround until this is supported correctly in core. Is there a way to add a custom block (server-side rendered) within the Query block, which accesses the query block to see whether there are any posts in the current selection? I've tried looking at the `render_block` filter, but I'm not sure how to access the details of the parent block.

[2022-02-17 15:19] mkaz commented on #10235
@realstephenzhao This functionality exists, see [the Format API](https://developer.wordpress.org/block-editor/how-to-guides/format-api/3-apply-format/) as I mentioned in [my comment above](https://github.com/WordPress/gutenberg/issues/10235#issuecomment-896086001).

[2022-02-17 16:22] #32497 closed, assigned to stokesman

[2022-02-17 16:22] #37127 closed, assigned to nobody

[2022-02-17 17:45] amboutwe commented on #38062
I reproduced the issue in a new local install with no plugins and the Twenty Twenty-One (2021) theme. The behavior does not happen in WP 5.8.2, so it's a regression. It also happens with the new Twenty Twenty-Two theme.
​
​Screencasts using 2021 theme:
​WP 5.8.2 https://drive.google.com/file/d/1TKvN46Hn8BfU67x2iA6E6mumg9wBvf1w/view
WP 5.9 ​https://drive.google.com/file/d/1H3vNznRxFkSh5TsdVjuSLXf9k

[2022-02-17 17:49] darkonelson commented on #38813
There are no errors in the console, only warnings.
![Warnings in console](https://user-images.githubusercontent.com/87546406/154540694-277c8b70-3b4b-44e5-adc4-feaab9994bf3.jpg)

[2022-02-17 18:04] stokesman commented on #38845
I've long wanted to suggest `composeStateReducers` should be removed in favor of inline coupling of reducers. There's no instance of composing more than two at a time. Any reducer that allows extension can call the optional extending reducer as part of its process. I've tried such changes but figured it wasn't important enough to make a PR for it.

[2022-02-17 18:20] annezazu commented on #38871
Oh wow! I like that middle ground of disabling the option by default but letting themes allow it if they want. Otherwise, it seems pretty darn confusing to include as is.

[2022-02-17 18:20] skorasaurus commented on #26332
Is this still applicable because setting the default block style is no longer possible in the side panel?
![image](https://user-images.githubusercontent.com/955351/154545798-a56579cd-b536-4d30-8b33-8f82bcaa0f45.png)

[2022-02-17 18:24] annezazu commented on #38874
Ah ha! I managed to not find that issue in my search. On it and closing this out.

[2022-02-17 18:24] #38874 closed, assigned to nobody

[2022-02-17 18:25] skorasaurus commented on #38455
hi @jenfloods ;
It appears your question has been answered so I am closing the issue. If you still need assistance, please comment.

[2022-02-17 18:25] #38455 closed, assigned to nobody

[2022-02-17 18:26] annezazu commented on #38381
Jumping in here to pass along some feedback that was found as part of the [FSE Outreach Program's All Things Media exploration](https://make.wordpress.org/test/2022/02/02/fse-program-exploration-all-things-media/#comment-2324) since this is very much related to this ticket:

Of note, this only happens in the Post Editor but that might be due to some breakage in the site editor (https://github.com/

[2022-02-17 18:32] annezazu commented on #38875
Ohh a brief description might help. I still am strangely partial to having a warning of sorts to save the sidebar from getting even longer but that might be difficult to intelligently implement.

[2022-02-17 18:38] westonruter opened #38889 "Use of `uniqid()` in generated CSS class names breaks ability to cache parsed CSS"
### Description

In a [support forum topic](https://wordpress.org/support/topic/big-drop-in-page-speed-after-wordpress-5-9-update/) for the AMP plugin, a user reported their site slowed down after WordPress 5.9 was released. The cause turned out to be that the AMP plugin's caching of parsed CSS automatically disabled since the CSS on the page contained randomness. This disabling is done to prevent

[2022-02-17 18:40] westonruter commented on #35376
Related: #38889. At at the very least the generated class names should be consistent across page loads. So instead of using `uniqid()` it should use `wp_unique_id()` so that you get something like `wp-container-5` which is consistent across page loads instead of `wp-container-620e88a091db4` with the ID part being random.

[2022-02-17 18:43] skorasaurus opened #38890 "Registered block styles set to be the default aren't actually set as the default"
### Description

You can set what block style is applied (or already selected) when opening a block for first time in the editor.

New [Default block styles](https://developer.wordpress.org/block-editor/reference-guides/block-api/block-styles/) can be set through `register_block_style` when `is_default` parameter set to true;

When registering a block style and setting it to default, the registere

[2022-02-17 18:45] ironprogrammer commented on #38723
If there was a minimum width for the content area, then aligning the offset could work -- so long as the popover doesn't get wider than the minimum. But at this time the content area doesn't have a minimum width, and will shrink until the mobile breakpoint is hit (<782px).

Consider this example, where the content area is narrower than the popover:

![image](https://user-images.githubusercontent.c

[2022-02-17 19:05] BogdanUngureanu commented on #36953
Thanks @noisysocks for reopening it. Is there anything I can do to help you with that?

[2022-02-17 19:17] Enchiridion commented on #37659
I was just about to create the same feature request.  A tag selector is definitely needed, just like what Group has.

I think everything should still be in a list (the lets screen readers know how many links/cards there are), but the next child/wrapper tag should be a `div` or `article` depending on the content to keep it semantically correct.  This will also make it easier to style.   For a simpl

[2022-02-17 19:34] ironprogrammer commented on #38723
I have a fix inbound; writing up the PR now.

[2022-02-17 20:15] ramonjd commented on #38889
It makes it hard to test output against static fixtures as well, which is not as important as the issue raised here of course! :)

Maybe we can look at this as part of the [style engine work](https://github.com/WordPress/gutenberg/issues/38167).

Commented over [here](https://github.com/WordPress/gutenberg/issues/35376#issuecomment-1043390548) as well, but maybe a hash would work better in the int

[2022-02-17 20:21] paaljoachim commented on #1044
Query Block - more advanced / multi select query options
https://github.com/WordPress/gutenberg/issues/30706

[2022-02-17 20:22] ramonjd commented on #35376
Maybe a hash would work better in the interim (?) until we work out a neater solution (hopefully as part of the [style engine work](https://github.com/WordPress/gutenberg/issues/38167))

[2022-02-17 20:24] paaljoachim commented on #30706
Associated trac issue. Which has some good discussions. (A few years have gone by though.)
https://core.trac.wordpress.org/ticket/31696

What if we initially get the component in place. As there seems to be multiple places such a component can be used. Then begin to look at the design.

[2022-02-17 20:25] KristofferBroberg commented on #35322
Any progress on this? Bug is still present in WP 5.9. Should I open an issue?

[2022-02-17 20:28] eric-michel commented on #30815
This PR (https://github.com/WordPress/gutenberg/pull/37596) accomplishes most of what I was looking for (thanks @jorgefilipecosta!), but still doesn't maintain the `Additional CSS class(es)` after transformation. I'm wondering if that is an option?

[2022-02-17 20:56] ramonjd commented on #36609
Hmmm interesting idea!

Maybe there should be some token on the container (data- attribute of something).

~The only thing that worked for me (and I didn't test very much) was drilling down through `$block->parsed_block['innerBlocks']` and doing a count of `'core/post-title'`.

_Edit_: but I realize that won't work given that it's not guaranteed that there'd be a post title 😆

Maybe we're looking

[2022-02-17 21:07] KristofferBroberg opened #38895 "Query block and sticky posts issue"
### Description

Query block set to display only sticky posts work as expected in the editor but not on the frontend.

On the front end, sticky posts either doesn't show or standard posts are shown if there aren't any posts marked as sticky.

### Step-by-step reproduction instructions

1. Make sure at least on post is set to sticky
2. Add a query loop in the block editor.
3. Set the Sticky post se

[2022-02-17 21:09] critterverse commented on #38578
This is an awesome idea, @lapinell! 😀 You could always share your findings on this issue or directly in the `#design` Slack channel. I also wanted to mention the Full Site Editing Outreach Program, which I think you might find interesting. You can find more info in [the handbook](https://make.wordpress.org/test/handbook/full-site-editing-outreach-experiment/), or just join the `#fse-outreach-exper

[2022-02-17 21:13] KristofferBroberg commented on #38895
Same as  #35322 ?

[2022-02-17 21:45] MuluhGodson commented on #33581
We are currently in a similar scenario. Is there any new development as concerns this issue?

[2022-02-17 22:03] skorasaurus commented on #38895
Hi @KristofferBroberg ; this is the same as https://github.com/WordPress/gutenberg/issues/35322 ; so I'll close the issue and you can follow the progress and share any additional thoughts in that thread. We like each issue to be unique to keep things orderly and be able to determine how many people are affected by an issue.

[2022-02-17 22:03] #38895 closed, assigned to nobody

[2022-02-17 22:04] pbiron opened #38896 "A lot of "Updated Block: core/spacer" messages in the JS console in WP 5.9.1-RC1 w/ TT2"
### Description

During the 5.9.1-RC1 release party, I discovered that simply opening the site editor (with TT2) generates A LOT of messages in the JS console with `Updated Block: core/spacer` (see screenshot below).  By A LOT, I'm talking ~50 or so :-)

@audrasjb mentioned that this might have to do with https://github.com/WordPress/gutenberg/pull/38362

### Step-by-step reproduction instructions

[2022-02-17 22:07] pbiron commented on #38896
I should also mention, they those messages do **not** appear when running WP 5.9.

[2022-02-17 23:11] gwwar commented on #38637
@claudiulodro thanks for the report! Do you happen to have any extra plugins running? I'm having trouble reproducing issues 2/3 on 5.9

We use the object replacement character internally in the rich text package, so some havoc can occur if it slips in via paste. Most commonly folks were copy pasting in MS Word.

We previously worked around this in https://github.com/WordPress/gutenberg/pull/34851

[2022-02-17 23:23] annezazu opened #38898 "Make top level duotone color selection more intuitive and consistent"
## What problem does this address?

Currently, the initial duotone customization isn't quite clear since you have to click on the specific circles in order to customize the color rather than being able to select the whole color to then see the color picker. This came up in the [FSE Outreach Program's All Things Media exploration:](https://make.wordpress.org/test/2022/02/02/fse-program-exploration-

[2022-02-17 23:42] annezazu commented on #34123
Feedback came in during the [FSE Outreach Program's all things media exploration](https://make.wordpress.org/test/2022/02/02/fse-program-exploration-all-things-media/#comment-2325) on this same topic where the inability to get things to line up as one wanted in the header proved to be such a point of frustration with FSE. You can see this discussed in [this user feedback video starting here](https

[2022-02-18 00:00] annezazu opened #38899 "Post Featured Image Block: Consider adding a focal point picker"
This feedback came up as part of the [FSE Outreach Program's All Things Media exploration](https://make.wordpress.org/test/2022/02/02/fse-program-exploration-all-things-media/#comment-2325):

To be clear, I'm talking about this option that's built into the Cover block:

<img width="276" alt="Screen Shot 2022-02-17 at 3 53 11 PM" src="https://user-images.githubusercontent.com/26996883/154591253-6bd

[2022-02-18 00:27] MikeB8s commented on #33302
I agree that this would be a great addition.

I am able to make a block variation of the **core/post-terms** block (in version 5.9) for a custom taxonomy, giving it a title, description, icon, and **attributes: ( term: 'myTaxonomy' },** .  This provides similar functionality to the Post Categories block, but I have noticed a couple of quirks.

The title, description, and icon are correctly reflect

[2022-02-18 00:55] claudiulodro commented on #38637
Thanks for the reply! That's good info. I reproduced these on a clean site with no extra plugins, specifically for testing these issues, but I'm sure it does probably vary depending on browser version, OS, when a Google Doc was written (I bet the internal markup changes occasionally), etc.

For item 2 specifically, I've been receiving a number of reports [and noticing](https://voiceofoc.org/2022/0

[2022-02-18 01:18] andrewserong opened #38900 "Consider renaming lib/compat PHP files and directories for evergreen overrides of core WordPress"
## What problem does this address?

Following on from a couple of comments on #38883 and related PRs.

One of the things that we've bumped into while making overrides to `theme.json` support in the `lib/compat` directory, is the potential confusion between which changes belong in the `wordpress-5.9` and `wordpress-6.0` directories (for backwards and forwards compatibility), and which overrides we'

[2022-02-18 01:35] #37514 closed, assigned to andrewserong

[2022-02-18 02:17] s56bouya commented on #38171
Thank you for a quick solution.

Confirmed HTML anchor is not autogenerated when creating a new heading block by adding the following code. (Ref: https://github.com/WordPress/gutenberg/pull/38780)

[code]

### Environment info
WP 5.9.1-RC1-52771

### Note
HTML anchors that were autogenerated in the past are not removed, so some modification may be required in some cases.

[2022-02-18 02:31] carolinan commented on #36609
@markhowellsmead The query block does not know if there are any results, so it can't pass that data on. Which was part of the difficulty for me at first.
The only way I could do it was to run the query in the new block to check if there are any results or not.
You can check the PR, or look at the query pagination block.

Or , create a PHP template, render footer and header template parts, and then

[2022-02-18 02:35] carolinan commented on #36609
There are several problems with adding the block to the post template, already mentioned above, but one is that
you will get different results in the editor and front, depending on the query settings.
The search template does not know what the search query is, so the result in the editor is not accurate. The block can't be available only when the editor finds no results.

[2022-02-18 04:00] andrewserong commented on #35376
Thanks again for sharing your thoughts @fwazeter (and over on the style engine [tracking issue](https://github.com/WordPress/gutenberg/issues/38167))! I'm still gathering my thoughts about a lot of all this, and how it might ideally work, but just wanted to say sharing the thoughts and ideas is so helpful. Thank you!

I think a lot of the goals behind the layout support in particular was for WordP

[2022-02-18 04:06] andrewserong commented on #38167
Thanks for sharing your thoughts here! Just adding that most of the discussion is happening async in Github, which works nicely for a lot of us since there's such a wide timezone spread of people contributing to the discussions. (Many of which began in [this discussion thread](https://github.com/WordPress/gutenberg/discussions/37495)). I've linked a few of the discussions and issues in the issue d

[2022-02-18 04:40] stokesman commented on #36609
I'm glad this is being looked into!

@markhowellsmead, I used a `render_block` workaround. It doesn't allow customizing the message from the editor. I wouldn't call it pretty but it sufficed.
[code]

[2022-02-18 05:02] Mamaduka commented on #38900
cc @WordPress/gutenberg-core

[2022-02-18 05:11] Mamaduka commented on #38896
I think this is because of changing the `height` attribute from number to string (with units). The Deprecations code is a little more aggressive than we wanted.

@youknowriad, you resolved a similar issue with Cover block deprecation recently. Do you think we can apply the same method here as well?

[2022-02-18 05:51] Mamaduka commented on #38171
Thanks for testing, @s56bouya.

The feature should be off by default, and you can enable it by changing settings to `true`

[2022-02-18 07:20] brylie commented on #33581
For clarity, we have 3,527 tags, so the 100 tag limit is far from ideal.

[2022-02-18 07:39] brylie commented on #33581
For anyone needing a workaround, here is how to manually add the tag ID, as @JosVelasco mentioned:

1. get the desired tag ID by visiting the Tags page and hovering over the tag (the ID will be in the URL after `tag_ID=`)
2. click the vertical ellipsis in the upper right hand corner of the edit screen
3. click "code editor"
4. look for the query and add the tag ID to the `tagIds` array

![image](h

[2022-02-18 07:43] carolinan commented on #38062
I can set the height to 100%, which seems to solve the problem, but I can't test on Safari 13. I'm new to mac and the installed Safari version is 15.3. There does not seem to be a safe way to downgrade?

[2022-02-18 07:43] maddisondesigns opened #38903 "Color settings don't work properly"
### Description

The (text) color settings on the Code Block don't do anything. Only the background color settings do something.

https://user-images.githubusercontent.com/2078245/154637165-847176f6-d8f8-4fb8-b77c-0fb1f5499b40.mp4

The new color selection tools are also worse to use than the previous ones. The new color selection tools take up considerably more vertical space, in what is already a

[2022-02-18 07:46] tyrann0us commented on #19749
Hi @youknowriad, @aduth, @ellatrix, and @jasmussen, I'm very sorry to tag you directly, but I don't know of any other way to bring attention to this issue.

Given the length of time that has passed since the last discussion here (2 years), and given that @Chrico's comment has a considerable amount of reactions, I wonder if you could take another look at the issue? Thanks a lot!

[2022-02-18 07:55] jasmussen commented on #38899
It would indeed be nice to find a focal picker component that is more compressed in its resting state than what we have now, so that we can use it in more places. Without further changes, in the case of the featured image block you'd have to just decide the focal point without any context, but that could still be valuable.

Interestingly, many smartphones today [store metadata in images as to wher

[2022-02-18 08:25] SantosGuillamot commented on #34994
###

Sorry, I believe I didn’t explain myself correctly. The “Comments date block” hasn’t been included in WordPress 5.9 because the blocks mentioned in this particular issue aren’t finished yet.

You are probably using this other [Post Comments block](https://github.com/WordPress/gutenberg/tree/trunk/packages/block-library/src/post-comments), which calls the traditional function [`comment_templat

[2022-02-18 08:34] maddisondesigns opened #38904 "Typography settings are inconsistent and make editing slower and more confusing"
### Description

When you first see the Typography settings, you're shown the Size selector by default, along with a `View and add options` Plus (+) icon.

<img width="393" alt="screenshot_165" src="https://user-images.githubusercontent.com/2078245/154640506-dd9a6388-62dc-42d3-8a8b-3354c51a384e.png">

After clicking the plus icon and adding a new option such as Letter case, the icon then changes t

[2022-02-18 08:36] TinPoChan commented on #30701
I am really surprised that this is still open after all the months... I simply go to the css file and change all the a element to:
[code]

[2022-02-18 08:50] paulbrzeski commented on #14080
Can the WP documentation please be updated as per @manake's suggestion?

I was scratching my head wondering what was going on until I found this thread.

I had checked the official docs and already resolved a block rendering issue by using render_blocks but thought it was some kind of HTML filtering issue heh.

[2022-02-18 08:51] SantosGuillamot commented on #37143
@c4rl0sbr4v0 If I am not mistaken this issue was addressed in this [Pull Request](https://github.com/WordPress/gutenberg/pull/38072) right? Should we close it?

[2022-02-18 09:07] draganescu commented on #33194
As discussed in #38623, I am unsure now that opening this up for extension is a good idea as plugins will have a great spot for marketing messaging blocking the editor experience.

[2022-02-18 09:20] cbravobernal commented on #37143
Yes! We can close it!

[2022-02-18 09:20] #37143 closed, assigned to cbravobernal

[2022-02-18 09:27] randhirexpresstech opened #38905 "Block inline styles does not present in correct block"
### Description

Either block inline styles does not present in correct block or correct inline block styles not loading or extra inline block styles loading in twentytwentytwo theme
Here is an example of button block which is a child block of buttons block. Styles related to button block written in buttons block and does not load in some FSE themes which do no use `add_filter( 'should_load_separa

[2022-02-18 09:30] markhowellsmead commented on #36609
Thanks @carolinan, I'm going to look into implementing and testing your solution as a custom block. I'll let you know if I encounter any issues. (If anyone else is following along, it's #38806.)

[2022-02-18 10:28] s56bouya commented on #38171
Hi @Mamaduka, Thank you for the information!

[2022-02-18 10:29] javierarce commented on #29575
I want to share a prototype of a global scheduler system that I created last year (it was my first attempt to solve this problem, but I ended up working on a more granular version). It's obviously a bit outdated and will also require some polishing, but maybe it can work as an alternative.

https://user-images.githubusercontent.com/4933/154666146-caffc364-83f2-47ef-81cf-0c44ba763338.mp4

[Link to

[2022-02-18 10:35] jameskoster opened #38908 "Add a pathway to rename Template Parts from the toolbar"
Currently the only way to rename a template part is via the Advanced panel in the Inspector:

<img width="282" alt="Screenshot 2022-02-18 at 10 30 52" src="https://user-images.githubusercontent.com/846565/154665747-875a082a-8ee4-46f8-bd06-e9bc6971b69d.png">

It may be worth offering a pathway to do this from the block toolbar, for situations where the Inspector is closed. It's not a frequent flow,

[2022-02-18 10:36] oandregal commented on #38900
:wave: The general approach for any code is this:

- `lib/compat/5.9` contains code that has been backported to WordPress and, therefore, its behavior can't be modified. It should behave the same as the code in the wordpress-develop repo for WordPress 5.9 ([see for comparison](https://github.com/WordPress/wordpress-develop/tree/5.9/src/wp-includes)). When the plugin updates its minimum WordPress v

[2022-02-18 10:37] jasmussen commented on #29575
Nice, thanks for sharing Javi!

I wonder if a split-button treatment with a dropdown chevron might work instead of the cog 🤔  — there's something about the cog being used for the inspector that trips me up a little. Something like this perhaps?

<img width="163" alt="Frame 865" src="https://user-images.githubusercontent.com/1204802/154666841-235af65f-ac7c-4cef-a50e-479300915365.png">

[2022-02-18 10:42] youknowriad commented on #38896
How so?

[2022-02-18 10:44] javierarce commented on #29575
Yes, that would totally work and looks much better than the cog (I guess I used it to replicate the way the Customizer does it)

[2022-02-18 10:51] ntsekouras commented on #38895
👋 @KristofferBroberg

In your issue you're talking about a `Query Loop` that `inherits the query` from template or for the custom queries? Because I just opened a PR for custom queries [here](https://github.com/WordPress/gutenberg/pull/38909), but in `inherit` queries have other nuances and I'm thinking of hiding the control in that case to avoid confusion, as it needs investigation to be handled

[2022-02-18 10:54] Mamaduka commented on #38896
Technically values returned from the save function haven't changed—only the attribute, from unitless number to string with the unit.

Deprecation is valid; I thought maybe we could ignore this one. Which I now realized isn't a good idea 😅

P.S. This is the PR that introduced deprecation - https://github.com/WordPress/gutenberg/pull/36186.

[2022-02-18 10:59] costdev commented on #38315
@Trapsta At the moment it looks that way yes. Testing is much appreciated! 🙂

[2022-02-18 11:35] bliebek commented on #36471
I'm going to work on this one.

[2022-02-18 11:56] SantosGuillamot commented on #38080
@michalczaplinski I've realised that, in the editor, if you click in any of the inner blocks of the Comment Template, it jumps to the latest comment. I made a quick video to show it:

https://www.loom.com/share/ac22dbcb0d25492888df959a3445dc86

Not sure if it is related to this issue, but as both happen only in the editor I thought they could be triaged at the same time. Please let me know if you

[2022-02-18 11:58] KristofferBroberg commented on #38895
Hey @ntsekouras!

I don't have access to the computer I "develop" my theme on right now, but I'm pretty sure the problem was there both ways...inherit and custom. Either way, #38909 looks promising and should solve it for me at least!

[2022-02-18 11:58] #35322 closed, assigned to ntsekouras

[2022-02-18 12:09] youknowriad commented on #38896
The deprecation looks good but it seems it should only run if there's actually a width or height defined (not the default value). So I'm wondering from the screenshot above why the block is considered "invalid" (why the deprecation runs) since for the default values of height/width, the generated markup is still the same since it will use the new default value (with the units).

[2022-02-18 12:24] markhowellsmead commented on #36609
If anyone wants to take it for a spin before it hits core, here's a standalone plugin which uses @carolinan's code: https://github.com/SayHelloGmbH/shb-query-no-results

[2022-02-18 12:31] jameskoster opened #38911 "Chaotic pattern previews"
When patterns contain blocks that need to load external data (e.g. Navigation block, Site Logo block) the preview thumbnail appears sequentially which can feel quite chaotic due to the overall height changing multiple times through the loading state.

It's most egregious when browsing multiple patterns that contain multiple instances of these blocks at the same time, for example when [selecting a

[2022-02-18 12:46] alanjacobmathew commented on #38803
Retested on Windows 10 with Brave, Firefox and Chromium

When PHP 8.0 was used I was able to replicate it in Chromium and Brave, but not in Firefox
When 8.1 version was used everything was working as expected in all 3 browsers.

In the gif below, the red background is version 8.0 and the white is 8.1

![8 0 vs 8 1 version](https://user-images.githubusercontent.com/33965848/154685328-5fb9356a-8fd0-

[2022-02-18 13:18] markhowellsmead opened #38912 "Add a filter to allow custom alignment settings"
## What problem does this address?

Many layouts require a wider range of preset widths for elements than just narrow, wide and full. This will allow such layouts to be easier to achieve, by providing plugin or theme developers the means to specify additional alignment settings.

## What is your proposed solution?

Add a filter to the `supports` array, so that custom alignments (e.g. `alignxwide`

[2022-02-18 13:29] youknowriad commented on #38911
I think our best shot here is the use of React "suspense". I've already started a PR that explores these ideas which would allow us to have better control over loading states #37261 It's a bit challenging but I'll get back to it and see how far we can get.

[2022-02-18 13:42] gziolo commented on #38080
@michalczaplinski and @c4rl0sbr4v0, if you need some help we can pair to work on this one next week. It's a very tricky one and there are several issues with how it works today. We tested a few different scenarios yesterday with @SantosGuillamot and it was very difficult to achieve simple goals like wrapping inner blocks with a Group block or use multiselection, etc.

[2022-02-18 13:49] #38877 closed, assigned to ntsekouras

[2022-02-18 13:51] gziolo commented on #38900
For the full picture, there is https://github.com/WordPress/gutenberg/issues/33810 where we discussed initial ideas for streamlining the process. As the first step, we should document the way things work today. It looks like people raise the same questions in other places so having one place to use as a reference would be great.

Edit: I found my last comment on the same topic where things get com

[2022-02-18 14:04] catkit commented on #28011
I think I may have found a bug related to this issue. I'm not sure if I should open a new one, so I'll describe it here. Please forgive me if it's the wrong place and if so, let me know it and I'll start a new one.

I'm running WordPress 5.9 + Gutenberg 12.6.0

I'm developing a Blockbase child theme and I have a few CPTs. Although index and archive templates are identical, I need to keep them both

[2022-02-18 14:18] #38749 closed, assigned to getdave

[2022-02-18 15:04] gziolo commented on #33542
Actually, it's very good timing you asked this question. There is a following line in the docs that explains further the usage:

Now that we discuss support for multiple files per asset type and a way to provide some customization to how they are enqueued, @ocean90 proposed we could embed that configuration also inside `block.json`. More details in this comment https://core.trac.wordpress.org/tick

[2022-02-18 15:31] dgwyer commented on #33542
Regarding array support for `"editorScript"`, `"script"`, `"viewScript"`, `"editorStyle"`, `"style"`, and `"viewStyle"` (not currently implemented), will there a way to define dependencies via `block.json` too?

For example, for `"viewScript"` if I have a block of jQuery I want to run on the frontend then I'd need to also add `"jQuery"` as a dependency. At the moment there isn't a way to get this

[2022-02-18 15:50] daviedR commented on #38601
Technically, if we can reuse the way (maybe a function) Gutenberg access the global colors list, we can add our own custom CSS based on that list.

[2022-02-18 16:22] ntsekouras commented on #38688
Thanks for reporting this @mrfoxtalbot!

I looked into this and I couldn't find a proper solution for now. Here is what I could make out after investigating a bit
1. There is a difference how the query results are handled in [WP_Query](https://developer.wordpress.org/reference/classes/wp_query/#status-parameters) and REST API. Specifically:

By adding explicitly in the REST request [in Query](http

[2022-02-18 16:32] draganescu commented on #21835
I retested this on Gutenberg trunk and it seems to not be a bug anymore 🚀

[2022-02-18 16:32] #21835 closed

[2022-02-18 16:33] draganescu commented on #24683
I will close this issue as it is referring to some really outdated information about the Navigation editor.

[2022-02-18 16:33] #24683 closed

[2022-02-18 16:48] #38334 closed, assigned to KevinBatdorf

[2022-02-18 17:15] gwwar commented on #38637
Chatting with @claudiulodro this might require Safari 14 to reproduce. I do see some slightly different behavior on Safari 14 vs 15 but I'm still having trouble reproducing the wrong permalink url / safari crash.

@claudiulodro if you can consistently reproduce this, would you be interested in proposing a patch? I'm happy to help review.

[2022-02-18 17:37] gwwar commented on #30276
So what's happening here is that a navigation block may be represented by content in a `wp_navigation` post.

When we copy the block, we're copying the ref attribute, so edits on child blocks will be reflected in both instances.
[code]

One way of solving this is adding an action like a deepCopy, where if we see a ref attribute, we can create a new block container and copy its children. Note that

[2022-02-18 17:58] oldrup opened #38917 "HTML Validation Error: Element style not allowed as child of element body in this context"
### Description

Hey peeps

After upgrading to WordPress 5.9, my sites no longer HTML validate, but throws the validation error "Error: Element style not allowed as child of element body in this context"

![image](https://user-images.githubusercontent.com/17141205/154736147-370f5fd6-166a-4c15-9191-e4726c442905.png)

For a more detailed error report, please see: https://validator.w3.org/nu/?showsou

[2022-02-18 18:05] michalczaplinski commented on #38080
Yup, this is a [known issue](https://github.com/WordPress/gutenberg/pull/38263#issuecomment-1033184348) 🙂 These are the 3 the bugs that I'm quite sure are related to the problem of "duplicate settings" that is described in the current issue:

- If a top-level comment has replies and is clicked on, its innermost reply is being selected instead.
- If a comment has multiple replies and a user selects

[2022-02-18 18:30] t-pabla commented on #34994
Thanks Santos.

That's what I suspected.

Thanks again.

[2022-02-18 18:53] jorgefilipecosta commented on #30815
Hi @eric-michel, this is a good point in my view classes should also be kept during transforms but it may not be something consensual and for some cases, it may not expected. I will try to put a PR for that and we will see what others think.
Thank you for bringing this issue to my attention 👍

[2022-02-18 20:08] karmatosed commented on #36471
That's awesome @bliebek - I just assigned this to you as you dive in. Excited to see what you create ✨

[2022-02-18 21:04] richtabor opened #38918 "Theme Variant "Other" Styles UI Proposal"
Currently, each style variation is "styled" to resemble the actual theme.json variants.

As I've explored theme variants more, a common issue I'm seeing is that the **style variation components can look quite similar to each other** — especially if the background color hasn't changed. And I'd say it's very likely that this will be the case.

## What we have today

Below is an example of the curren

[2022-02-18 21:59] piermario commented on #38918
I think it's a great idea.

[2022-02-18 22:12] bgardner commented on #38918
Even though my favorite colors are—shocker—black and white, I am in full support of this color idea. So good.⚡️

[2022-02-18 22:18] 0aveRyan commented on #38918
The color palette used this way definitely surfaces something that felt hidden until clicked at present.

If a variant had say 12 colors, how would the UI show, just the first 6? Would showing the background, text, link colors only be less overwhelming? I love the idea of showing colors, but showing each color equitably when it's used sparingly in application is something I think about here a bit

[2022-02-18 22:21] carolinan commented on #38918
There are style variations that don't rely on changing the color palette too, like having a boxed layout by adding spacing to the body and changing content width.

The style variations also need to have an accessible name, this can be visible (preferred) or visually hidden.

[2022-02-18 22:36] dmsnell opened #38922 "Unrecognized Blocks: Preserve content of invalid and missing blocks"
### Description

There are multiple places where in the normal flow of editing that the editor might corrupt or erase content from unrecognized blocks (block implementation is missing _or_ it's "invalid" content), even from unrelated edits in separate blocks.

When the editor finds content it can't recognize or interact with the default mode of operation should be to preserve that content so that

[2022-02-18 22:45] richtabor commented on #38918
I suppose visual labels would help in these cases, though better color palette visuals wouldn’t hurt here either.

[2022-02-18 22:48] richtabor commented on #38918
I was thinking a five color max, just like we already have for the Styles > Colors UI.

A preview could be interesting, but I wonder what real value it would add that could get the point across better then clicking and seeing the whole page change. May be interesting to try though.

[2022-02-18 23:34] 0aveRyan commented on #38918
Yep no more than 5 sounds good. I think the value of the preview is to show font sizes, appearance and case treatments, block spacing and eventually font family.

If three variants all share the same colors, a hover preview is a faster discovery than applying the styles. Hover with a preview feels more like a sample than a commitment that then requires reversal.

Also, if a palette is largely tame

[2022-02-18 23:41] TeBenachi opened #38924 "Search Block: Consider adding a hidden button for "No button" option"
### Description

The [accessibility guideline](https://make.wordpress.org/themes/handbook/review/accessibility/required/#forms) requires all forms to have the submit buttons. When selecting the “No Button” option in the Search block, the submit button is missing.

### Step-by-step reproduction instructions

1. Select Search block
2. Select "No Button" option

### Screenshots, screen recording, cod

[2022-02-19 08:01] mtias commented on #38918
Thanks for sharing! The current previews are definitely quite rough still. One of the main challenges is that they aim to represent how much a site _would change_ upon switching styles — hence representing background, text, and link at the very least in the original scope. Including the color palette might seem appealing at first but I'd challenge how useful it is in practice. If the different col

[2022-02-19 08:43] maddisondesigns opened #38926 "Adding background colour to heading block squashes text by adding too much padding"
### Description

Adding a background colour to the Heading block squashes all the text, making it look like a mess, as it adds a HUGE amount of padding around all the sides.

<img width="1440" alt="screenshot_167" src="https://user-images.githubusercontent.com/2078245/154793517-78a25bae-8163-4330-afa7-1ca37dc48ec0.png">

https://user-images.githubusercontent.com/2078245/154793494-07aaaa21-5648-4f5

[2022-02-19 08:50] gziolo commented on #33542
It's a known limitation that we had to workaround in WordPress core, too:

https://github.com/WordPress/wordpress-develop/blob/c98f4c04db13a1c3db14345db4cff116dd01bf51/src/wp-includes/script-loader.php#L250-L260

Once we allow passing additional configuration for individual assets, having a way to provide a list of dependencies is a great idea, too. The only question would be whether we are fine r

[2022-02-19 11:16] andrewstaffell commented on #36687
Finally working for me in Gutenberg 12.6.0 (WP 5.9). No WSOD, loads Page template with homepage ready for editing.

It might be that I didn't previously have a homepage set (recent local change preparing for our launch), rather than changes in 12.6.0 specifically, but I've just tried unsetting it and it still works, so not sure.

[2022-02-19 13:01] RonaldLarry7890 opened #38927 "Accidental plagiarism is not excused; the author must learn to cite the work"
_Spam removed_

[2022-02-19 15:09] ocean90 opened #38929 "Schema: theme.json allows to set styles.blocks.*.spacing.blockGap"
### Description

I was trying to set a default block gap styling via theme.json but that didn't work.

Example:

[code]

Turns out that [this isn't supported](https://github.com/WordPress/wordpress-develop/blob/109953c1fbf8afeb227eae12466770620d8b1bc1/src/wp-includes/class-wp-theme-json.php#L475-L484). Another related comment: https://github.com/WordPress/gutenberg/pull/37360#issuecomment-10362833

[2022-02-19 15:13] #38927 closed

[2022-02-19 20:04] justintadlock commented on #38918
More important than anything is a text label.

I like the idea of adding some palette colors here (five, as mentioned above, would be a good max).  However, this could also be problematic if it is auto-pulled from the first five in a palette.  For example, that would pull just black, white, and neutral grays from mine, which are likely to be the same or similar across variations.  I'd like some co

[2022-02-19 20:13] justintadlock commented on #38875
Mostly just reiterating what @ntsekouras said.  That seems like a recipe for a lot of broken use cases currently in the wild and would fundamentally change how the Cover block works.  Fixed heights also rarely make sense in web design given that content needs to adjust to the screen size.  Maybe there should be helper text or a link that explains what min-height is.

[2022-02-19 21:10] richtabor commented on #38918
I think the real benefit in this proposal is that you can see a visual difference between different styles that may be similar in nature. And I suppose seeing what’s available within the style (color palette for example) helps me decide which I’d enjoy using, even if those colors are not immediately visible.

With today’s experience (using the theme/screenshot from above as an example), you can’t

[2022-02-19 21:53] eric-michel commented on #30815
Sure thing @jorgefilipecosta! And thanks so much for the works you've done on this already! Makes things way easier.

In my personal workflow, I only ever use transforms on items that are going to look and function the same, but just need to use a different tag (like `p` to `h#` or vice versa) or be added to a group. So maintaining classes is a no-brainer there. Getting feedback from others who ma

[2022-02-20 03:32] seothemes commented on #27917
Why closed?

[2022-02-20 06:02] maddisondesigns opened #38931 "Set custom size icon on Typography tools doesn't display tooltip"
### Description

There's no tooltip displayed when you hover over the _Set custom size_ icon so there's no indication what the icon actually does.

https://user-images.githubusercontent.com/2078245/154830559-28445be1-1b0c-421d-9d32-163cf33cb93f.mp4

### Step-by-step reproduction instructions

- Click on a paragraph block
- Hover cursor over Set custom size icon
- No tooltip displays

### Screensho

[2022-02-20 06:34] maddisondesigns opened #38932 "No way to reset custom font size back to default"
### Description

If you set a custom font size, there's no way to reset it back to the default size. Even if you click the _Set custom size_ icon again, to return to the dropdown, it still thinks it's using a custom size and doesn't automatically return to the default size. The only way to get back to the default size is by manually removing the text in the Size input field, or manually reselectin

[2022-02-20 07:03] maddisondesigns opened #38933 "Preformatted Block scrolls horizontally"
### Description

The Preformatted block scrolls horizontally. As well as looking bad, because it simply looks like the text is cut-off, it makes it incredibly hard to edit.

https://user-images.githubusercontent.com/2078245/154832236-ffbc0a4f-fcac-4505-ac16-348831674d4f.mp4

### Step-by-step reproduction instructions

- Add preformatted block and enter text
- Watch block text scroll horizontally i

[2022-02-20 12:21] rweil55 commented on #21905
I prefer the original title as it provides a more general solution. There are other attributes of a link that can be controlled by the class attribute.
If you just specify an icon, which one would be the default and how would one go about changing it?
I also might want to use a different icon for different domains

[2022-02-20 12:32] pablohoneyhoney opened #38934 "Reviewing Global Styles main panel"
With GS live, it's pertinent to take a look at how elements are presented in the interface compared to the original intent. There are likely valid reasons (technical, functional, etc.) for certain objects to evolve and be at the state they are, while some do need further advancement to depict the best experience and UI possible.

Generally, it's in a fantastic state and it's already opening up new

[2022-02-20 12:53] pablohoneyhoney commented on #38918
It is wonderful to see provocations like this, caring to making Styles clearer.

I'm a bit on the fence about this proposal at this moment, given Styles hasn't completely matured yet. Left some notes on its current state of the main panel, for example. #38934

I'm not sure we've widely stressed the current Styles preview representation (how the chief elements get visualized in the two swatches, ty

[2022-02-20 14:19] ocean90 opened #38935 "Update documentation for theme.json"
The current documentation for [Global Settings & Styles (theme.json)](https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-json/) is a bit out of date.

It should get updated to include all the changes as announced in [the related dev note for WordPress 5.9](https://make.wordpress.org/core/2022/01/08/updates-for-settings-styles-and-theme-json/). I think all the examples should a

[2022-02-20 18:49] alshakero commented on #36046
I think this can be closed since URLSearchParams is a Web API (not JS); so it isn't supported on native. See https://github.com/WordPress/gutenberg/pull/36151 for details.

[2022-02-20 19:55] mrwweb commented on #34825
Does anyone know if it's possible to change the default right now? I tried doing so with a `registerBlockVariation` like this:

[code]

This inserts a block with `displayPreview` set to `false`, but then that setting is changed when inserting a PDF.

[2022-02-20 20:48] Jugibur commented on #38274
This is the same with my installation (regular theme) after updating to 5.9 - even if I add a theme.json for testing. Gutenberg-Plugin installed and de-installed for testing. All other plugins are deactivated.

I added the editor styles with:
[code]

The the tab network resources shows that no stylesheets are loaded in the admin area except my admin.css for the UI - but not the editor-styles.css.

[2022-02-20 20:56] glendaviesnz commented on #34637
Yes, a new issue is probably the best for this, thanks.

[2022-02-20 21:03] alshakerM commented on #38553
I created a PR for this here: https://github.com/WordPress/gutenberg/pull/38936. The list I added is the [same list](https://github.com/facebook/react/blob/main/packages/react-dom/src/shared/DOMProperty.js#L448-L526) used in React main (trunk).

Thank you so much for the clear, elaborate issue @KevinBatdorf!

[2022-02-20 21:36] KevinBatdorf commented on #38553
Hey @alshakerM looks good, but I think that PR only covers some of the issue, right? For example, would `preserveAspectRatio` maintain its case? Currently it changes to `preserveaspectratio`. `viewBox` is another example.

[2022-02-20 21:46] glendaviesnz commented on #38718
Sorry about the delay in replying, have been AFK. It would be worth trying a new reusable block without the GeneratePress block included just to confirm that the issue only occurs with that block added.

Because the change seems to happen as soon as the block is loaded in the editor, the way to see what the changes are is to examine the raw post content, eg. [via the cli](https://developer.wordpre

[2022-02-20 23:16] glendaviesnz commented on #37031
@scruffian, do you have any thoughts on ways to mitigate the problems noted above due the [change in Cover block background settings](https://github.com/WordPress/gutenberg/pull/33541)?

[2022-02-20 23:53] glendaviesnz commented on #37031
@pattyok thanks for reporting this. I wasn't able to replicate this on 5.9 with TwentyTwentyTwo theme:
![cover-text-color](https://user-images.githubusercontent.com/3629020/154869920-a91591f4-0479-4e5e-b1fc-5ce2c4630991.gif)

It would be good to try and narrow down what is different in your theme that is causing the issue for you. Is it a publicly available theme that we could do some testing on?

[2022-02-21 00:22] noisysocks commented on #36953
Oh, I missed this, thanks for this extra info! I can indeed reproduce the issue if I set my viewport width to 990px. There must be a breakpoint issue with the URL inserter.

[2022-02-21 00:47] noisysocks commented on #35826
I can't reproduce this anymore! Looks like it was fixed by https://github.com/WordPress/gutenberg/pull/35865.

[2022-02-21 00:47] #35826 closed, assigned to kevin940726

[2022-02-21 00:52] noisysocks commented on #35041
I believe this was fixed. I can no longer reproduce it running latest WP/Gutenberg.

[2022-02-21 00:52] #35041 closed, assigned to nobody

[2022-02-21 00:54] noisysocks commented on #34398
Noting for future devs that https://github.com/WordPress/gutenberg/issues/34398, https://github.com/WordPress/gutenberg/issues/33716, and https://github.com/WordPress/gutenberg/issues/34087 could be good to tackle together as they all involve reconfiguring the toolbar.

[2022-02-21 00:55] noisysocks commented on #33716
Noting for future devs that https://github.com/WordPress/gutenberg/issues/34398, https://github.com/WordPress/gutenberg/issues/33716, and https://github.com/WordPress/gutenberg/issues/34087 could be good to tackle together as they all involve reconfiguring the toolbar.

[2022-02-21 00:55] noisysocks commented on #34087
Noting for future devs that https://github.com/WordPress/gutenberg/issues/34398, https://github.com/WordPress/gutenberg/issues/33716, and https://github.com/WordPress/gutenberg/issues/34087 could be good to tackle together as they all involve reconfiguring the toolbar.

[2022-02-21 00:56] noisysocks commented on #34252
I'm no longer seeing this running latest Core & Gutenberg.

[2022-02-21 00:56] #34252 closed, assigned to nobody

[2022-02-21 00:59] noisysocks commented on #33336
Agreed. I don't think there's an action we can take here, so going to close the issue.

[2022-02-21 00:59] #33336 closed, assigned to nobody

[2022-02-21 02:49] github-actions[bot] opened #38939 "[Flaky Test] should expand nested list items"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should expand nested list items

## Test path
`specs/editor/various/list-view.test.js`

## Flaky rate (_estimated_)
`62 / 63` runs

## Errors

<details>
<summary>
	<time datetime="2022-02-21T02:49:17.473Z"><code>[2022-02-21T02:49:17.473Z]</code></time>
		Test passed after 1

[2022-02-21 04:03] chthonic-ds commented on #35924
A big vote from me to allow a Buttons block as a child of the Navigation block. I just noticed this fairly common header/navigation pattern isn't currently possible:

![35924-add-button-inside-navigation-block](https://user-images.githubusercontent.com/29587253/154886909-e4495b52-baf1-4fdb-8bb5-672f5d4a702a.png)

[2022-02-21 04:13] talldan commented on #38647
@alexstine Thanks for connecting the dots I hadn't seen that PR. It looks like that PR added a label for the front-end output of the block.

Do you think we also need the same for the submit button in the editor?

[2022-02-21 04:25] alexstine commented on #38647
@talldan Yes and I see you have already flagged it in the PR. If no response, I'll make a quick patch. I say quick and I haven't seen the code yet. 🤣

[2022-02-21 04:34] #34690 closed, assigned to nobody

[2022-02-21 04:50] sanzeeb3 opened #38940 "Incorrect URL in block Metadata documentation"
### Description

In the https://developer.wordpress.org/block-editor/reference-guides/block-api/block-metadata/#icon

The link for wp.primitives.SVG leads to a page not found.

### Step-by-step reproduction instructions

1) Go to the URL: https://developer.wordpress.org/block-editor/reference-guides/block-api/block-metadata/#icon
2) Click on wp.primitives.SVG

### Screenshots, screen recording, co

[2022-02-21 06:51] annezazu commented on #30276
I don't see a similar issue open for reusable blocks but can replicate the problem.

[2022-02-21 06:52] noisysocks commented on #31491
I'm having trouble testing this. For some reason the widgets block editor doesn't load at all for me in the Customizer when browsing to localhost:8889. (It's fine in localhost:8888.)

[2022-02-21 06:59] noisysocks commented on #35499
Confirmed.

Note that the easiest way to reproduce this is to install the Classic Widgets plugin, add a Custom HTML widget, then deactivate the Classic Widgets plugin and browse to Appearance → Widgets.

It looks like it might be an issue with CSS cascading.

[2022-02-21 07:01] noisysocks commented on #34164
@adamziel @anton-vlasenko: Did we ever do this?

[2022-02-21 07:01] anelllya commented on #38911
I think one good way of solving this is creating a ghost loading with a template of at least nine elements. Like in this example: https://www.npmjs.com/package/react-loading-skeleton. What do you think?

[2022-02-21 07:03] noisysocks commented on #33667
Perhaps we can add a "Loading preview..." label next to the `Spinner`.

[2022-02-21 07:05] noisysocks commented on #34164
Looks like it's tracked in https://github.com/WordPress/gutenberg/issues/33540..

[2022-02-21 07:57] MarieComet opened #38943 "render_block filter, attrs is empty"
### Description

I'm using render_block filter on core/button block, and attributes is empty.

Example with :
[code]
I expect to get block attributes as declared in block.json (url, text, linkTarget, etc.) but error_log give me an empty array for `attrs` :
[code]
Am I missing something ?

### Step-by-step reproduction instructions

1. Paste this code in functions.php or a test plugin :
[code]

2.

[2022-02-21 08:00] mrleemon opened #38944 "Parent editor-style.css is not loaded if a child editor-style.css is present"
### Description

I'm using the following code in WP 5.9 to load an editor stylesheet in a parent theme:

[code]

And I'm using the following code to load an editor stylesheet in a child theme to override some styles from the parent:

[code]

This results in the parent stylesheet not loading at all. If I change the filename of one of the stylesheets in order for them to be different, both styleshee

[2022-02-21 08:04] jasmussen commented on #38908
Realizing that the ´[Icon] Header` part of the toolbar currently opens a dropdown, my first instinct would be to have a rename feature in context of that label.

One thing we know we want to get to, is to refactor the transforms menu. As a place that can hold block, pattern, and style transformations all in one place, it could (should?) be one of the first things you check for a block when you wan

[2022-02-21 08:05] carlomanf commented on #38555
I notice that [some code handling the site icon](https://developer.wordpress.org/reference/classes/wp_rest_server/add_site_icon_to_index/) that passes through this filter was only added in core version 5.9, which suggests that the regression might have happened in that version. On the other hand, I can't find anything in [version 5.8.3](https://github.com/WordPress/WordPress/blob/5.8.3/wp-includes

[2022-02-21 08:15] paaljoachim commented on #22851
@carolinan Carolina do you know if this issue is still valid?

[2022-02-21 08:26] paaljoachim commented on #38710
I happen to come across this issue.
From quickly browsing through it seems that this issue can be closed, so I will go ahead and do so.
It can of course be reopened if need be.

[2022-02-21 08:26] #38710 closed, assigned to nobody

[2022-02-21 08:30] paaljoachim commented on #36082
@aaronrobertshaw and @andrewserong
I believe the both of you might want to know about this layout concept issue.

[2022-02-21 08:31] ntsekouras commented on #38943
👋 @MarieComet

`attrs` contain the current specific block attributes with their set values, if any. For example in your case if you added `width` to your button, your log would contain this attribute and its value.

In order to get the declared attributes for a block, you have to fetch the block type like this:

[2022-02-21 08:35] paaljoachim commented on #36586
Associated:
Feedback: It is confusing that adding background color also adds padding. (Possible duplicate?)
https://github.com/WordPress/gutenberg/issues/30725

[2022-02-21 08:36] paaljoachim commented on #30725
Associated:
Full Site Editor: Applying background color also updates content padding (possible duplicate?)
https://github.com/WordPress/gutenberg/issues/36586

[2022-02-21 08:43] paaljoachim commented on #26407
Thanks for opening this issue @scruffian Ben!
I will ping in @annezazu
As I believe aspects of this has likely showed up in calls for testing.

[2022-02-21 09:21] mrleemon commented on #38929
So, one cannot set a blockGap value in the styles section if blockGap is not enabled in the settings section? A theme developer would want to set a default blockGap but not let theme users change it.

[2022-02-21 09:35] gziolo commented on #38553
Thank you so much for starting this PR!

I see they have another file where they list all possible attributes:
https://github.com/facebook/react/blob/ca106a02d1648f4f0048b07c6b88f69aac175d3c/packages/react-dom/src/shared/possibleStandardNames.js
I'm wondering whether we should reuse more of their revised implementation to have the same handling for HTML attributes.

[2022-02-21 09:40] paaljoachim commented on #13368
This came up as I was working on adding [glightbox](https://biati-digital.github.io/glightbox/) to a test site. For creating a tutorial on how to add a lightbox to Gutenberg.

I was told this:
`"The added classes in the Gutenberg editor do not add to the <a> element but to the <figure>, and this doesn't ignite glightbox. You have to edit as HTML the block and manually add the class to the <a> elem

[2022-02-21 09:54] ntsekouras commented on #38932
👋 @maddisondesigns, thanks for creating the issue!

I think the title is a bit misleading as per your own description:

So there are ways to reset to default and most importantly you can reset values through the ToolsPanel UI, which is the direction we want to follow for reseting control values.

https://user-images.githubusercontent.com/16275880/154929830-9c2aa2c7-072b-418f-a656-94a868e79f64.mov

[2022-02-21 10:47] jasmussen commented on #32268
Coming back to this one, as an excercise I used Figma components to consider an updated "Latest Posts" inspector:
<img width="1336" alt="Latest Posts inspector controls" src="https://user-images.githubusercontent.com/1204802/154940221-66e40270-dc1f-41aa-acaf-1d648502d78d.png">

It's definitely challenged with complexity and could use a lot of work. But there might also be reusable ingredients from

[2022-02-21 10:54] draganescu commented on #19245
I'll start working on this.

[2022-02-21 11:00] draganescu commented on #30276
@annezazu isn't this a feature in the case of reusable blocks though?

[2022-02-21 11:36] draganescu opened #38950 "Media Replace opens new media when changing the URI of the old media"
### Description

The media replace dropdown has a URL indicator and an edit button. When the edit button is pressed the URL can be edited via an input. When pressing Enter on the keyboard the URL is used to replace the media. But in Firefox it also opens the media.

### Step-by-step reproduction instructions

1. Create a new post
2. Insert an image block
3. Add an image from your media library
4.

[2022-02-21 11:56] draganescu commented on #27617
@jasmussen wouldn't a block transform from image to feature image do better than placing the option in the replace dropdown? It's more hidden but also more consistent IMO.

[2022-02-21 12:07] jasmussen commented on #27617
The problem is that would require changes to the block itself. The idea of the mockup here is that "featured image" is just a URL token, rather than a block.

[2022-02-21 12:18] giannis-koulouris-bb commented on #23223
I'm also using `blocks.getSaveContent.extraProps` filter for the moment, but don't like the idea of having block validation errors if I would like to change something in the future, ideally a PHP solution for changing attributes like class & style would be very helpful..

[2022-02-21 12:37] richtabor commented on #38918
I agree — I'd say its much more valuable when the background/foreground colors of a style are not varying, like this:

<img width="264" alt="CleanShot 2022-02-21 at 07 20 57@2x" src="https://user-images.githubusercontent.com/1813435/154954300-9fd8325e-d60e-46e3-b172-8bf76f7e26cc.png">

Otherwise the options are visually the same (what we have today):
<img width="264" alt="CleanShot 2022-02-21 at 0

[2022-02-21 12:41] randhirexpresstech opened #38952 "Pattern consist of multiple patterns working fine but failed to display or load in patterns dashboard"
### Description

Register a pattern consist of multiple patterns doesn't display or load in patterns dashboard. However, insertion of same pattern in pages is working fine i.e. getting all blocks
Please check screen-cast [pattern-consist-of-multiple-patterns-working-fine-but-failed-to-display-or-load-in-patterns-dashboard](https://app.usebubbles.com/pE26gj8vxmCo5oZDBFaUWp/pattern-consist-of-multip

[2022-02-21 12:49] jameskoster commented on #38908
Yes I think that makes sense. All template part specific actions (swapping, editing, detaching) could potentially live there.

[2022-02-21 12:53] jameskoster commented on #29249
Closing this in favor of https://github.com/WordPress/gutenberg/issues/31750

[2022-02-21 12:53] #29249 closed

[2022-02-21 12:59] jameskoster commented on #31747
Addressed in https://github.com/WordPress/gutenberg/pull/38814

[2022-02-21 12:59] #31747 closed, assigned to nobody

[2022-02-21 13:05] jameskoster commented on #32268
Hey @jasmussen, just clarifying that this issue is focussed on the Posts List block – a Query variant. Latest Posts is something different – an evolution of an old widget iirc.

That said, now I'm wondering if they should be one and the same.

[2022-02-21 13:10] jasmussen commented on #32268
Yep, the idea was that the inspectors could at least be similar if not the same, as there's presumably going to be a great deal of overlap.

[2022-02-21 13:25] tyrann0us opened #38954 "`get_post_galleries()` returns all blocks instead of just galleries"
### Description

When using [`get_post_galleries()`](https://developer.wordpress.org/reference/functions/get_post_galleries/) to get the editor galleries of a post (editor support for that function landed in WordPress 5.9, see https://core.trac.wordpress.org/ticket/43826#comment:58), the function will not only return the gallery blocks but all blocks of that post.

Note: It's likely that this is n

[2022-02-21 13:30] jameskoster commented on #32268
I suppose it will depend on whether we leverage the Query block for Latest Posts. If we do, then a great deal of these options can be removed in favor of the child blocks inside Post Template.

[2022-02-21 13:55] pwkip opened #38957 "Hyperlink popover partly disappears behind wp-admin sidebar"
### Description

When you highlight some text in a paragraph block, if the highlighted text is near the left side of the editor, the popover to enter the URL will be partly hidden by the left sidebar.

### Step-by-step reproduction instructions

1. Create a new post or page.
2. Make sure you resize the window so that the left edge of the editor container is close to the left sidebar. (Don't make i

[2022-02-21 13:56] rmorse commented on #38128
Ok this is great! Thanks for the reference and pointing me in the right direction.

I did realise I had tried the singular start / finish resolution before, but I couldn't get that working, which I think now is due to to me setting up the arguments incorrectly (its quite confusing!).

Also, the example above shows this technique working with a custom redux store, took me a minute to find the wp da

[2022-02-21 13:56] #38128 closed, assigned to nobody

[2022-02-21 14:31] fabiankaegy opened #38958 "Add ability to restrict block to only be used once within inner blocks area"
## What problem does this address?

Gutenberg currently allows you to mark a block so that it can only be allowed once per page. Which is very useful. However there are instances where you may want to allow a block to be used multiple times within the page but only once within a certain section.

If you for example have a "Navigation" block that it would be nice to only allow the "Login" button on

[2022-02-21 14:41] cbirdsong commented on #36944
I would be curious to know why was the button block's behavior moved from classes to these repetitive injected `.wp-container-` styles, as I just had to restore the classes it previously generated via block filters.

[2022-02-21 14:43] Mamaduka commented on #38128
Thank you, @rmorse, for taking time and posting your solution 🦸

[2022-02-21 14:48] sanzeeb3 commented on #38940
Hi @ocean90 - this is a little bit different issue and I'm not sure what the correct URL would be unlike the PR #38941

[2022-02-21 15:17] ntsekouras commented on #38869
👋 - I can see how this can be confusing but the controls actually work as designed, based on the `width` of the innerblocks container of Cover block. You can see that as the `center center` option still keeps the block in the center vertically.

What is the reason for the confusion though is that when we insert a new Cover block, a default template is used with a paragraph that is `center text ali

[2022-02-21 15:38] dugyen commented on #38557
@annezazu I could also see it in a different way.
How could I reproduce

1.  WordPress 5.9 and TT2 with our without latest Gutenberg.
2. Add a duotone filter to a Cover block with an image or video in it and add text over top, adjusting the opacity as needed.
3. Add an image to the background of your header.
4. Publish your WordPress Post/Page with above steps.
5. Here you could see the your image

[2022-02-21 15:59] #38629 closed, assigned to nobody

[2022-02-21 16:23] MarieComet commented on #38943
@ntsekouras thanks for your response.
`$block_type = WP_Block_Type_Registry::get_instance()->get_registered( $block['blockName'] );` give me declared attributes, but I'm looking for the attributes values defined for the current block (I'm in the `render_block` filter).
I don't understand why I can get `width` in `$attrs` but can't get `url`, `text`, etc.