[2022-01-07 18:47] karmatosed commented on #37635
This is an interesting conversation and whilst there are improvements to the screen with the new typography cards I totally can see how more could be built on.

Names work if you see or know the names. So, we do need a combination of that. I also think there's something about the card for visually 'seeing' the font. It also gets around the translation of font names/pairings.

[2022-01-07 18:53] karmatosed commented on #37417
This is interesting because yes it does change the view, but it's a conscious change. I'm torn if that makes it acceptable because you know. I am not sure if layering doesn't cause other impacts causing the experience to degrade. Layering could easily have blocks and hiding that you don't get with the slide-ins.

One option could be a 'turn all on/off' but that also feels extra. Same as pinning th

[2022-01-07 18:57] karmatosed commented on #37251
This is interesting because for me going to the header itself was natural to click replace. I went there first.

![2022-01-07 at 18 54](https://user-images.githubusercontent.com/253067/148592958-599a4282-55c2-4e28-9c5e-ae869a258b8b.png)

I think I have concerns about 'replace' showing over the list view to get a little complex, but again that might be because I feel the replace flow matches other

[2022-01-07 19:00] skorasaurus commented on #36339
I'm able to reproduce this in Gutenberg 12.3.0

I created a test block at https://gitlab.com/cpl/test-case--36339
it was made from `create-block`.

Console error returns the following:

Specifically appears `rest_block_directory_cannot_view`

[code]

[2022-01-07 19:03] karmatosed opened #37790 "Consider reducing number of icons in sidebar"
There are a lot of variations and interaction symbols in the sidebar, there were a few before global styles refresh and now it's getting quite intense. For example:

![2022-01-07 at 19 00](https://user-images.githubusercontent.com/253067/148593679-df893997-616f-4cd6-9132-21289d416df1.png)

There in this screenshot are 4 symbols someone has to learn and that seems like a lot to expect as a start. I

[2022-01-07 19:13] karmatosed commented on #37241
I agree having cancel first seems strange and also having it as a full-on button seems weird to me.

![2022-01-07 at 19 12](https://user-images.githubusercontent.com/253067/148594978-d5c58635-9808-4c2c-98ea-c41dca3e7c08.png)

I would probably expect it to be just a tertiary style link.

[2022-01-07 19:32] #37773 closed, assigned to dcalhoun

[2022-01-07 19:35] karmatosed opened #37792 "Iterate the unlink style components symbol to look less like a link"
The act of 'unlinking' styles isn't really unlinking and to use a linking icon and make it look like a link is a little confusing in the experience. What we have today is:

![2022-01-07 at 19 35](https://user-images.githubusercontent.com/253067/148597524-35bec90f-df1c-4bf0-991e-3b7938001fcd.gif)

If you look at applications like Figma this is a little clearer because it's focusing not on 'links' b

[2022-01-07 19:44] karmatosed commented on #37220
I like the idea of the template tab but my concern is we are heading to multiple places for information. I get the desire to access important things, but you don't need access to everything in all places, so working out the interaction paths is key here and use cases.

[2022-01-07 19:46] karmatosed commented on #36657
@paaljoachim what about translations and longer names there? I am thinking that whilst we have what we do today there, that section needs to grow and adapt. It also needs to have some spacing for accessibility.

[2022-01-07 21:21] chad1008 opened #37794 "Navigation Editor: Deleting an existing menu causes a maximum depth exceeded error"
### Description

With the beta Navigation Editor enabled, if a menu already exists when the editor is loading, attempting to delete it will crash the editor. The UI will display a generic `The navigation editor has encountered an unexpected error.` with an `Attempt Recovery` button.

In the error console, a `Maximum depth exceeded` React error is displayed (screenshot below)

### Step-by-step repr

[2022-01-07 22:23] Wordpresslover opened #37796 "Keyboard shortcuts for headings do not work in Gutenberg"
1. You select a text
2. Alt + Shift + 3 (or other number)
3. Nothing happens

That keyboard shorcuts for headings from official WP Manual do not work.
https://wordpress.org/support/article/keyboard-shortcuts/

Wordpress with Gutenberg requires 4 clicks to add a heading other then h2 to a selected text.

with 50 artcles a month, 6 heading per article - 1200 manual clicks have to be done - NIGHTMARE

[2022-01-07 23:53] andrewstaffell opened #37797 "`theme.json` custom properties not accessible via `getEditorSettings()` or `useSetting()`"
### Description

I'd expect these functions to retrieve the custom properties advertised in the `theme.json` documentation, eg.

[code]

But apparently they don't?

### Step-by-step reproduction instructions

I'm testing both functions in the editor like this. Can't see any way to get the custom properties. They aren't among `settings` and `customProperty` is false or empty.

[code]

### Screensho

[2022-01-08 00:50] WhiteX commented on #15821
While we wait... what's the best workaround you found? I'm looking for bringing some tables from MS Word to WP, and the lack of the merged cells feature makes it impossible to handle with the default options.

[2022-01-08 05:27] joelyoder commented on #15821
The simplest solution I've found in the meantime is just using a table inside of a Classic Block. Anything you could do in TinyMCE before will work in that block.

[2022-01-08 05:47] pattihis commented on #13382
@talldan says:

A fair usage example would be adding logos of clients/products/companies in a comparison table listing their data and a link would be needed to take the user to the item's single page. A similar example would be a Top10 ranking table where we would list eg. brand logos. Another usage would be icons, like a "View More" action icon in a data table that would need a link.

@ellatrix s

[2022-01-08 08:50] carolinan opened #37799 "It is difficult to find how to change the size of a featured image inside a query"
### Description

_This was first reported by stevekamn on WordPress slack._

When the post featured image block is placed inside a query and post template, the featured image is represented either
by a placeholder or the actual featured image.
These images have two different sets of controls, which makes it difficult to find how to change the size and scale.

If you happen to select the placeholde

[2022-01-08 09:00] carolinan opened #37800 "The post featured image block displays two dimensions panels"
### Description

The post featured image has two dimensions panels; one for padding and margin, and one for width, height and scale.
I think the settings should display in the same panel.

### Step-by-step reproduction instructions

- Add a featured image to a post.
- Next, add the featured image block.
- Select the block and open the settings sidebar. Confirm that there are two panels.

### Scree

[2022-01-08 09:52] imangm opened #37801 "RangeControl: Spacing issue between icons and the rail"
### Description

RangeControl spacing is not correct. If you use both beforeIcon and afterIcon, the spacing between icons and the rail is not the same.

### Step-by-step reproduction instructions

1. Import RangeControl from "@wordpress/components"
2. Add RangeControl to the InspectorControls

[code]

### Screenshots, screen recording, code snippet

#36935
![wp-range-control-style-issue](https://u

[2022-01-08 13:45] WhiteX commented on #15821
Thanks @joelyoder , I tried and it might be a good substitute for a while :)

[2022-01-08 14:34] Spleeding1 commented on #16911
How about this for an option? You can create your own media queries and name them. If you want to remove an existing query you put null after it.

[code]

[2022-01-08 14:38] alessandrotesoro opened #37802 "Can't access property "ref", navigateRegionsProps is undefined"
### Description

Hi there,

I'm trying to use the `@wordpress/interface` package in a custom admin page but it's not working when the Gutenberg plugin is disabled. This is the error in the console:

[code]

Is there no way to use the interface package without the gutenberg plugin being active?

### Step-by-step reproduction instructions

1. Deactivate the gutenberg plugin.
2. Create a custom admin

[2022-01-08 16:10] andrewstaffell commented on #37797
My bad – it does work. I had a blank `custom: {}` property lower down the theme.json that was overwriting the other definitions.

[2022-01-08 16:10] #37797 closed, assigned to nobody

[2022-01-08 16:28] mkaz commented on #36401
Thanks @senadir and @getdave - I published block locking dev note here ✅
https://make.wordpress.org/core/2022/01/08/locking-blocks-in-wordpress-5-9/

[2022-01-08 17:38] luminuu commented on #37743
![grafik](https://user-images.githubusercontent.com/7585600/148654003-a0fd2f42-36b3-4dd7-b796-160f56322535.png)

Same with "Reset all" under the Typography section (here the german locale). This string also doesn't exist in any of the translation packages.

[2022-01-08 17:59] MarieComet opened #37803 "Export Layouts functions from block-list component"
## What problem does this address?
Allow third party plugins to use Layouts functionalities.
Eg : creating a custom Block Alignment Control, actually we can't access to layouts and align settings to build align options.
For example, in [useAvailableAlignments](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-editor/src/components/block-alignment-control/use-available-alignments.js)

[2022-01-08 18:57] mkaz commented on #36401
@oandregal @noisysocks - I published out the theme.json dev note ✅
https://make.wordpress.org/core/2022/01/08/updates-for-settings-styles-and-theme-json/

And that closes out this tracking issue. 🎉  thanks everyone !! 👏

[2022-01-08 18:57] #36401 closed, assigned to mkaz

[2022-01-08 21:17] sabernhardt opened #37804 "Letter spacing unit options font size is very small and hard to read"
Originally reported by @kafleg on [Trac #54743](https://core.trac.wordpress.org/ticket/54743)

![letter spacing control](https://core.trac.wordpress.org/raw-attachment/ticket/54743/letter-spacing.png)

The styles should be improved:
- A font size of `8px` is simply too small, and it can apply to all options (selected or selectable).
- An overall width of 20 pixels is also quite small as a click ta

[2022-01-08 21:24] sabernhardt commented on #37804
During a bug scrub on Slack #core-css, [Erik found more readability trouble](https://wordpress.slack.com/archives/CQ7V4966Q/p1641493258048400) in windows 11/ chrome canary (chrome v100) / WordPress 5.8.2.

In Firefox, I have black text when expanding the `select` for other options.

[2022-01-09 02:56] annezazu commented on #37598
Noting I can still confirm this with 12.3 but only with certain themes. For example, TT2 and Tove work but with Blank Canvas duotone only shows up in the editor but not on the front end.

[2022-01-09 04:05] carolinan commented on #37786
Hi,
This change was made on purpose, as a "lesser of two evils", because no other solution was found:
https://github.com/WordPress/gutenberg/pull/37360

[2022-01-09 04:27] carolinan opened #37805 "The left justification for vertical navigation blocks does not work"
### Description

When you add a navigation block and switch to the vertical orientation,
the left justification does not work and displays as centered.

On inspection I see the following CSS:

[code]

While if I justify it to the right, I see:
[code]
I am not sure why the default layout-align is set to center?

### Step-by-step reproduction instructions

1. Add a navigation block.
2. Switch it to

[2022-01-09 08:59] easin-xs commented on #17632
Need js hook after post save. This will be more useful for us. 1+

[2022-01-09 09:44] exstheme opened #37806 "Unknown image block appears when dragging blocks in the List View"
### Description

When dragging blocks in the List view - unknown image block is created with error message.

### Step-by-step reproduction instructions

1. Create new post
2. Create two paragraphs
3. Open list view
4. Drag paragraphs
5. Unknown new image block appears

### Screenshots, screen recording, code snippet

[https://cdn.exsthemewp.com/gutenberg_bug.gif](https://cdn.exsthemewp.com/gutenbe

[2022-01-09 17:30] dingo-d opened #37808 "Undefined (null) site_logo breaks plugins depending on wp.api.models.Settings validation"
### Description

I was testing my plugin with the 5.9-RC1-52542 version of WP, and the new twentytwentytwo theme, and noticed a weird bug.

I'm building my options page with React, so that I can reuse GB components. For that purpose I'm using `wp.api.models.Settings()` to fetch my plugin's settings, and to save them (`this.settings.save(options, {...})`).

And on plugins save, I got an error in on

[2022-01-09 17:46] jaredyork opened #37809 "Moving a block with the select tool doesn't work with Chromium (Chrome?)"
### Description

Attempting to move a block using the select tool in the editor doesn't work when using the handle when using Chromium.  I'm unable to confirm if it affects Chrome.  It does behave as expected with Firefox.  With Firefox, the line appears showing where you're dropping a block, then when you drop it, it does in-fact move to where you dropped it as expected.  I tested this with both

[2022-01-09 18:03] jaredyork commented on #37809
The List View is also affected, the same issue happens when moving blocks in the list view.

[2022-01-09 18:06] iidastudio commented on #37786
Thank you @carolinan
Am I understanding the following correctly?
・The global blockGap affects the margin-top between blocks.
・The blockGap in each block affects the gap or margin-left in the block and the margin-top between blocks.
In 12.3.0, it was disabled to eliminate this margin-top effect.

If I want to change the gap in the navigation, is it correct to put it in the css file?
Also, if I want

[2022-01-09 18:21] only-sadeghi commented on #17099
is there a way to do it?🥺😐

[2022-01-09 18:56] ciampo commented on #37700
Reopening after the original PR [got reverted](https://github.com/WordPress/gutenberg/pull/37779)

[2022-01-09 23:10] noisysocks commented on #36401
Thanks for wrangling @mkaz ❤️ 🎉

[2022-01-10 00:06] richtabor opened #37811 "Cannot remove blockGap margin-top from full/wide blocks"
### Description

In the latest Gutenberg release, the blockGap value is now targeting the Group block's `data-align="full"`/`data-align="wide" div (which is added to full/wide blocks exclusively in the editor only). This means that an author cannot negate that block's margin-top (applied by the CSS snippet below), within the editor.

Note this affects any full/wide blocks, not just the Group block

[2022-01-10 00:07] richtabor commented on #37811
@youknowriad, @ndiego tagging you two as I know you've worked on Block Gap a good bit 🤜 🤛

[2022-01-10 01:43] chthonic-ds commented on #37573
Came to report this after testing a theme with 5.9-RC1. I've noticed this doesn't happen consistently:

- sometimes a pattern loads correctly
- sometimes scrolling is required to scan a pattern
- sometimes a scrollbar is present _and_ the full pattern is visible

The scrolling-required version happens most of the time, and is visible in both the sidebar and "Explore" modal views.

![pattern-explor

[2022-01-10 04:08] glendaviesnz commented on #37675
Thanks for reporting this @AbhijitNage123. We didn't account for custom attributes in the Gallery block migrations. I have a potential fix for this [here](https://github.com/WordPress/gutenberg/pull/37812).

It was good to pick this up while we still have a chance to get a fix for this into 5.9!

[2022-01-10 04:24] noisysocks commented on #37573
Maybe we can figure out what fixed it using `git bisect`. It would have assumedly landed after Gutenberg 11.9.

[2022-01-10 04:58] noisysocks commented on #37156
Just noting that the PR (https://github.com/WordPress/gutenberg/pull/37167) was backported into beta 4.

[2022-01-10 05:15] jiwliw commented on #22797
yes me too. it's so suck many time i loss my post because ctrl+z.

[2022-01-10 05:59] talldan commented on #18768
It is going to be a big leap to migrate the table block over to inner blocks, and it probably needs more discussion on whether there's value in proceeding. Doing so would probably need one or two dedicated developers.

There's still some distance between how inner blocks work currently, and how a table might use inner blocks. I think the big challenge is around how inner blocks currently only have

[2022-01-10 06:03] talldan commented on #13382
@pattihis You can already link an inline image. Insert it first, select it, and then apply link formatting.

[2022-01-10 06:04] andrewserong commented on #37681
Thanks for the discussion, folks (and for the fix, Nik!)

Good point, I initially tried returning `null`. The optimisation of keeping the component mounted but styled to be hidden definitely feels hacky, however in practice the mounting / unmounting of the block preview appears to be expensive enough to cause a flicker, and using `display` to manage visibility was the best way I could find to avoi

[2022-01-10 06:09] andrewserong commented on #37681
@ramonjd is that still an issue that we need to look into? From memory the fallback to `blockContexts[ 0 ]?.postId` in `( activeBlockContextId || blockContexts[ 0 ]?.postId )` is so that if a user hasn't yet interacted with the instances of the query loop block, then we assume that focus should be within the first element of the loop.

[2022-01-10 06:26] carolinan opened #37814 "Site editor pattern inserter only displays two categories"
### Description

When I open the site editor, toggle the inserter, and select the patterns tab, it only shows two categories:
buttons and query.

If I go to the block editor, including the template editor, the same tab shows: featured, buttons, columns, gallery, headers, text, query.

### Step-by-step reproduction instructions

1. Open the site editor
2. toggle the inserter
3. select the patterns

[2022-01-10 06:41] talldan commented on #37487
It does feel a bit like the entity saving flow doesn't fit as well in the post editor.

In the site editor, everything is saved via the one entity panel, which is a new level of complexity for users, but still makes life a bit easier than the post editor.

The post editor now has two panels for saving when publishing a post, which means more complexity for the user. There's one panel for entities

[2022-01-10 07:07] Azragh commented on #35848
https://github.com/WordPress/gutenberg/issues/16911#issuecomment-1008006963

[2022-01-10 07:18] #35785 closed, assigned to Mamaduka

[2022-01-10 07:29] kafleg commented on #37814
![image](https://user-images.githubusercontent.com/13062231/148730912-88f8d0b1-2512-4f23-ad4d-a9e5c08b71dc.png)

RC1 without Gutenberg

[2022-01-10 07:32] carolinan commented on #37814
Which of these categories are registered by the theme?
Did you try with a theme that does not register patterns/pattern categories?
And are the same categories displaying in all 3 editors?

[2022-01-10 07:32] jasmussen commented on #37792
Good thoughts, definitely agree. In [this figma](https://www.figma.com/file/vmHxwa8WhiyiP9poe2om9J/Inspector-Panels?node-id=12103%3A16133) I explored some tweaks to the primary three controls we have that allow "unlinking" at the moment, block gap, margin and padding, and came to these designs, which leverage the same idea of using spatially relevant icons as the button and indicator both:

<img w

[2022-01-10 07:38] jasmussen commented on #37725
Vast improvements. To echo Tammie a bit, I'd use at most two styles of buttons, for example primary and tertiary, or just three tertiary buttons.

Good call unifying the case of "Take over", as we don't use titlecase in the editor. In that vein, should "Editor" be lowercase? Can it be simplified to "Exit editor" or perhaps even to just "Exit"?

[2022-01-10 07:41] kafleg commented on #37814
Categories registered by Twenty Twenty-Two theme.

1. Featured
2. Footers
3. Headers
4. Query
5. Pages

Categories showing when the theme activated without the registered block categories:
1. Buttons
2. Query

Missing categories(The below categories should be shown when the theme without patterns categories)
1. Text
2. Gallery
3. Columns

Issues created by @carolinan is valid. Need to check proper

[2022-01-10 07:42] kafleg commented on #37814
When checking from the posts > add new > patterns < there are categories displayed with the theme without patterns categories registered.

![image](https://user-images.githubusercontent.com/13062231/148732183-294bf025-118b-4e7c-87e3-d69b6975f545.png)

[2022-01-10 07:43] youknowriad commented on #37760
This seem to be dependent on the content of the site editor, it doesn't happen consistently.

[2022-01-10 08:04] ramonjd commented on #37681
I wasn't really sure and had only a shallow reading of the code. So, no: if you think it's good, then it's good 👍
Thanks for clarifying!

[2022-01-10 08:15] jasmussen commented on #20926
Free-form rotating of text might be exotic, and could be interesting mostly if it feels super right in a PR.

However vertical text feels (as a suggested simpler step) feels both valid, but also important to many east asian languages that in traditional contexts are written vertically. In that light, I think it could be nicely supported as a non-default typography option that used the web-standard

[2022-01-10 08:35] youknowriad commented on #37811
Tested this and while the bug exists, I'm almost certain it has always existed, maybe it's just made visible by the block gap style (while previously no style was being applied to block wrappers).

The reason is simple, historically the editor adds extra divs to apply alignments in the editor and the margin is applied on the inner div and not the added wrapper div. I think that extra div might not

[2022-01-10 08:47] talldan commented on #37796
@Wordpresslover Not a fix for the reported issue, but a quick way to insert headings of a particular level in Gutenberg is to use the slash inserter.

In a new empty paragraph, If you type `/h4` and hit enter a h4 heading will be inserted

[2022-01-10 08:53] talldan commented on #37806
That's curious! I tried testing following the instructions (using Mac OS / Brave) and couldn't reproduce the issue.

@exstheme Which browser are you using?

[2022-01-10 08:57] javierarce commented on #37725
Thanks, @karmatosed & @jasmussen! I've refined the design using your feedback:

![image](https://user-images.githubusercontent.com/4933/148739665-24833b2d-f207-4e25-b8bc-d5ac9bdbb00b.png)

* To simplify the action row, I integrated the preview link inside the description.
* I changed "Exit the Editor" to "Exit editor" (I think writing just "Exit" could be confused with closing the modal)

From the

[2022-01-10 09:00] debaryadas opened #37817 "Gutenberg reversing the ordered number list not working"
### Description

When you try to reverse the ordered list items in gutenberg block, it is not working.

### Step-by-step reproduction instructions

1. Go to any post page
2. Add the **List** Block
3. <img width="1440" alt="list_block" src="https://user-images.githubusercontent.com/16287281/148736336-bde6f6d3-3ea6-4f32-a77c-7058802d28b1.png">
4. Select **Converted to Ordered List**
5. <img width="1

[2022-01-10 09:07] #37368 closed, assigned to getdave

[2022-01-10 09:07] jasmussen commented on #37725
That looks great, I especially like the primary + tertiary one. I wonder, instead of linking "on this post" we could just output "(preview)" in parenthesis after?

As a note to self mostly, it looks like the external link icon needs a figma update to become fill instead of outlines, as when scaled down the stroke should become a bit thinner as well.

[2022-01-10 09:09] chthonic-ds commented on #37811
Yes, here's an earlier version of this issue: https://github.com/WordPress/gutenberg/issues/33142

[2022-01-10 09:14] carolinan commented on #37786
Yes, _that is my understanding._ But if you plan to continue to use the latest version of Gutenberg, using the CSS file will only be a temporary solution, since more changes will be made to different blocks.

[2022-01-10 09:16] exstheme commented on #37806
Sorry, forgot to add browser name into Environment info section. I'm using Chromium browser for development and testing purposes.

I have recently tested list view dragging in the Firefox and the official Chrome browser and it seems that there is no same issue in these browsers. Only in the Chromium web browser. It is really strange. My Chrome browser has same build version as Chromium:

Google Ch

[2022-01-10 09:26] javierarce commented on #37725
Good idea, let's try that, it'll be more clear.

![image](https://user-images.githubusercontent.com/4933/148743378-f00e6810-f8d9-4cbe-9004-cb6fa2390da5.png)

True. Momentarily, I've updated the line weight on my Figma file.

[2022-01-10 09:58] #37785 closed, assigned to luisherranz

[2022-01-10 10:13] gziolo commented on #37707
@oandregal or @jorgefilipecosta, can you validate this report? Thank you.

[2022-01-10 10:39] permanyer commented on #33681
When is fontFamilies merge expected? 5.9?

[2022-01-10 10:41] Rahe commented on #34478
Hello,

I have the bug too, with the exact same code.
The only way I've found to fix it is to change "file:build/index.js" for "./file:build/index.js" on the block.json.

Nicolas,

[2022-01-10 11:03] getdave commented on #37190
@adamziel Let's work on these items. The complexity of the block code has increased a lot in the run up to 5.9 and we need to refactor now to save ourselves pain later.

Let's break this up into tasks:

- [ ] Create loading component for Nav block.
- [x] Consolidate code paths for `Select menu` dropdowns
- [ ] Consolidate code paths for code paths for creating new menus

Let's make Issues for tack

[2022-01-10 11:30] karmatosed commented on #37725
@javierarce that's vastly better, thank you for taking the critique and running with it. I'd say :shipit: because it's so much better now and we can always build up.

[2022-01-10 11:31] karmatosed commented on #20926
+1 for vertical text it feels valid and in-fact I have found myself 'faking' it very poorly to get around with bad hacks.

[2022-01-10 11:34] aristath commented on #37705
If all you need is CSS tweaks, then why not use the [`block-styles` API](https://developer.wordpress.org/block-editor/reference-guides/block-api/block-styles/)?
You can easily add a new "variation" of the `core-gallery` block, and add all your styles in a custom class there using the [`register_block_style`](https://developer.wordpress.org/reference/functions/register_block_style/) function.

[2022-01-10 11:44] oandregal commented on #37617
Related to this issue, I've found this other one and prepared a fix https://github.com/WordPress/gutenberg/pull/37819

[2022-01-10 11:56] jameskoster commented on #37220
For me it's more a question of appropriate hierarchy. For example I don't know that it should be necessary to enter template part focus mode to change a template part properties, that could lead to some frustrating UX. So placing those options in the Advanced panel seems sensible.

But since focus mode feels like the primary template part editing interface, it seems logical that fundamental proper

[2022-01-10 12:09] jasmussen commented on #37725
I've started work in #37821, but note that many of the important details shown in the mockups above are not yet implemented, as some of the localization work can get gnarly. I'd appreciate help from anyone with skill in this area: feel free to push directly to the branch if you like.

[2022-01-10 12:15] karmatosed commented on #37792
@jasmussen I really like those explorations. It's hard because yes we're trying to show a few things in one visual. I like here not having a modal/layer to show them as if we can avoid that I think it would be better.

[2022-01-10 13:21] ellatrix commented on #18768
Yes, handling two dimensions will be tough, especially with the extra `tr` markup. With the row element, moving rows is automatically built in, but there's no equivalent for columns (no table column element, which wouldn't be possible to have anyway).

[2022-01-10 13:28] ellatrix commented on #22834
After working a bit with shadow DOM, I think it could be a good solution for this particular problem. The shadow root would be the block element **wrapper** and a shadow element will be inserted as a child to the block element that is invisible to CSS. Maybe something worth exploring.

[2022-01-10 13:34] ellatrix commented on #36401
Did we create a note for [removing the post title alignment wrapper](https://github.com/WordPress/gutenberg/pull/34489#issuecomment-912312107)? I see it's ticked off but I don't see any note or discussion about it. Not sure if it's important to even mention. The note itself would be pretty short.

[2022-01-10 13:37] fabiankaegy commented on #36401
@ellatrix If I'm not mistaken it has been posted with some other items in this note here: [Miscellaneous block editor changes in WordPress 5.9](https://make.wordpress.org/core/2022/01/04/miscellaneous-block-editor-changes-in-wordpress-5-9/) :)

[2022-01-10 13:39] ellatrix commented on #36401
Ah, perfect! Thanks!

[2022-01-10 13:47] ajotka commented on #15821
@mapk I'm working on your proposal by my own (I don't want to promise anything yet!), but I found a bug.
When you add header and/or footer, selecting don't work. If you select cell with index [0 0] it will also select header and footer with index [0 0].
I'm just reporting for keeping it in mind.

![image](https://user-images.githubusercontent.com/15144546/148776112-d372563f-37ae-4870-a239-4ae3492f

[2022-01-10 13:47] #35086 closed, assigned to mcsf

[2022-01-10 14:03] luminuu opened #37826 "Revert Font Family Support from various blocks for 5.9"
While testing 5.9 RC1 I found that the font family selection for paragraphs was not yet available. @carolinan and @bph mentioned the issue #37586, however, it was discussed to revert that feature as the Webfont API is not ready yet, so it got removed with PR #37815.

While further testing I noticed that it is still in use by several blocks and to avoid unneccessary confusion in 5.9, I'd suggest to

[2022-01-10 14:16] Mamaduka commented on #37800
I see that this was fixed in #36540. Unfortunately, it looks like we missed it when picking up changes for beta.

I'm going to add backport to the minor release label.

[2022-01-10 14:17] richtabor commented on #37811
Yea you two are right, it was there prior to 12.3, I'm not sure how I was able to remove it previously — perhaps this was introduced with the full/wide blocks received the extra div?

[2022-01-10 14:18] richtabor commented on #37811
Legacy theme's don't support blockGap though, right? Perhaps if blockGap is supported, those extra divs are not needed? A tough problem for sure.

[2022-01-10 14:24] carolinan commented on #37805
Closing this because its fixed for 12.4
https://github.com/WordPress/gutenberg/pull/37696

[2022-01-10 14:24] #37805 closed, assigned to nobody

[2022-01-10 14:28] #37800 closed, assigned to nobody

[2022-01-10 15:03] gziolo commented on #35630
I started a discussion related to that in https://github.com/WordPress/gutenberg/discussions/37820. Let's tackle this one separately from this isue.

[2022-01-10 15:58] javierarce opened #37832 "Palette item is missing hover and selected states"
### Description

The palette items used to showcase and edit colors in the Global Styles section lack two important UI indicators: the hover and the selected states. This makes it difficult to see what element is being edited.

https://user-images.githubusercontent.com/4933/148792460-5c58d415-c759-4908-a6d5-df2fb60ccf80.mp4

https://user-images.githubusercontent.com/4933/148795233-e9b0fafc-d0ce-46

[2022-01-10 16:01] javierarce commented on #37832
Here's a first proposal for the hover and selected states:

![image](https://user-images.githubusercontent.com/4933/148796968-228e9704-9962-43aa-b04f-de88930c2f42.png)

- Hover: we highlight the text
- Selected: we highlight the border of the item

[2022-01-10 16:12] kraftner commented on #12997
#31814 from the previous comment has been closed in favor of #31823

[2022-01-10 16:20] oandregal commented on #37617
Also related to this issue: https://github.com/WordPress/wordpress-develop/pull/2129 Apparently, this piece of logic wasn't backported.

[2022-01-10 16:20] youknowriad commented on #37811
I think what we should try is:

 - if layout is supported (theme.json file exists), which means alignments are controlled (and not provided by the theme), we should remove these divs.

I'm just unsure about the potential impact of such change.

[2022-01-10 17:34] oandregal commented on #37617
The final PR I've prepared to fix this issue is this https://github.com/WordPress/wordpress-develop/pull/2130

[2022-01-10 17:35] oandregal commented on #37617
With the 3 PRs above this would be fixed. Let me unwrap what happened. The issue here is that TwentyTwentyTwenty hasn't been updated to set the default presets via CSS Custom Properties (in lieu of having a `theme.json`), see the "Changes to the global stylesheet" in [this devnote](https://make.wordpress.org/core/2022/01/08/updates-for-settings-styles-and-theme-json/).

So:

- https://github.com/W

[2022-01-10 17:45] skorasaurus commented on #37817
Thank you for your report and including screenshots.
i'm able to reproduce this on gutenberg 12.3.0.

[2022-01-10 17:56] nikola-wd commented on #30276
Any news about whether this bug is on the roadmap for being fixed? It's a pretty major bug.

[2022-01-10 18:17] annezazu commented on #37826
cc @noisysocks for further review. Thank you for flagging this!

[2022-01-10 18:28] annezazu commented on #37806
Added as browser issues. I couldn't replicate in the Site Editor or Post Editor with 5.9 RC1 on Chrome or Safari.

[2022-01-10 18:34] annezazu commented on #37786
Thanks so much for connecting the dots here, Carolina. Going to close this out as a result since this was an intentional decision.

[2022-01-10 18:34] #37786 closed, assigned to nobody

[2022-01-10 18:47] annezazu commented on #37799
+1 to this issue. I've run into similar moments of confusion. Somewhat related work around the placeholder: https://github.com/WordPress/gutenberg/pull/36517 https://github.com/WordPress/gutenberg/issues/36136 and somewhat related issue around adding more controls: https://github.com/WordPress/gutenberg/issues/33789

[2022-01-10 18:49] annezazu commented on #37804
Here's what I see in Chrome in case it helps. I can confirm that it's quite small!

<img width="283" alt="Screen Shot 2022-01-10 at 10 29 50 AM" src="https://user-images.githubusercontent.com/26996883/148819479-cc5266af-6878-485e-a2c0-c6e836693e0f.png">

[2022-01-10 18:52] annezazu commented on #37809
I can't replicate this with Chrome using both 5.9 RC1 without GB and with GB 12.3.1.

https://user-images.githubusercontent.com/26996883/148822250-cb804fbf-3655-4282-a0c8-886cf3617875.mov

Going to add this as a browser issue and leave as needs testing!

[2022-01-10 19:21] Mamaduka commented on #37808
Hi, @dingo-d

I'm not very familiar with `wp.api.models.Settings()` but it's interesting that `this.settings.save` sends default WP options as payload.

Can you provide a sample JS code to replicate the issue?

[2022-01-10 20:31] andrewstaffell opened #37839 "Load `theme.json` CSS before `add_editor_style()` CSS"
### Description

In the editor the rules from `theme.json` are being inlined after those from `add_editor_style()`. This makes it difficult for a block style to override a default at the same level of specificity. As far as I can see you have to artificially increase the specificity, which makes it less flexible.

### Step-by-step reproduction instructions

Here's a simple example.

I have a "No g

[2022-01-10 22:21] skorasaurus commented on #25871
Hi,

Reversing an ordered list when the marker is a number is possible in Gutenberg.

Having alphabet letters as markers in a list been requested at https://github.com/WordPress/gutenberg/issues/13888 ; you can subscribe to that issue to track its progress and share your feedback there.

[2022-01-10 22:21] #25871 closed

[2022-01-10 22:37] noisysocks commented on #37754
@youknowriad @ockham: Is it harmless to move `wptexturize` to be before `do_blocks`?

[2022-01-10 22:37] skorasaurus commented on #37692
Hi,

Thank you for the video demonstrating the bug. I was not able to reproduce this; I used
WordPress 5.9.3. and the Gutenberg plugin

![image](https://user-images.githubusercontent.com/955351/148849906-8ef9e366-cee2-41ad-96d8-9bbb8fee83bd.png)

Could you try to reproduce this after you have installed and activated the newest version of the block editor that is available through [the Gutenberg pl

[2022-01-10 22:44] kharissulistiyo opened #37841 "Typo on a string in get_default_block_template_types() function"
### Description

I think the title self-explains the issue.

### Step-by-step reproduction instructions

The typo found in this [line](https://github.com/WordPress/gutenberg/blob/95a8ae499e5eff24ef5e87ebec05ac7400a8324d/lib/compat/wordpress-5.9/block-template-utils.php#L117).

If I am not wrong, as per [the documentation](https://developer.wordpress.org/themes/basics/template-hierarchy/#home-page-

[2022-01-10 22:44] #37675 closed, assigned to glendaviesnz

[2022-01-10 23:13] #37758 closed, assigned to Mamaduka

[2022-01-11 00:38] #36600 closed, assigned to vcanales, tellthemachines

[2022-01-11 00:45] richtabor commented on #37514
I came here to make an issue on just this.

A common use case is to select multiple blocks and wrap them in a core/group block.

[2022-01-11 03:42] ramonjd commented on #20926
Maybe it makes sense to try a writing-mode typography control out on a "containing" block first?

Here's some Japanese in a group block:

<img width="300" alt="Screen Shot 2022-01-11 at 1 53 35 pm" src="https://user-images.githubusercontent.com/6458278/148873124-de87df01-7dd9-4136-ab8c-151742061a45.png">

And the CSS.

[code]

Reference: https://www.w3.org/International/articles/vertical-text/

Wh

[2022-01-11 05:27] t-hamano opened #37845 "InspectorControls: Custom panel will be placed before Typegraphy panel"
### Description

I hooked up the `editor.BlockEdit` and added my own `InspectorControls` as follows.

[code]

It will be placed after all core panels, i.e. just before the Advanced panel in wordpress 5.8.3

However, for some reason, it is placed between the core panels, i.e. in front of the Typography panel in WordPress 5.9 (RC-1).

I have read the documentation and source for `InspectorControls`,

[2022-01-11 05:35] andrewserong commented on #37768
Thanks for opening up this issue @uniquesolution! The block spacing control is designed to control the spacing of the blocks within the group block rather than the space or margin surrounding the group block (margin support has been discussed previously in #37105 and #37344). In #37360 @youknowriad merged a fix for an outstanding issue raised in #36521 where adjusting the block spacing/gap did als

[2022-01-11 06:25] Mamaduka commented on #37817
@skorasaurus, I'm not able to reproduce the issue on the current trunk. Am I missing any details?

Testing with Chrome/OSX and TwentyTwentyTwo/TwentyTwenty themes.

## Screencast

https://user-images.githubusercontent.com/240569/148891996-348f76a8-9124-4c66-8eed-0dbea445fb4c.mp4

[2022-01-11 07:16] juhi123 commented on #37708
I also could reproduce this issue on Mac OS Chrome.

[2022-01-11 07:33] #37841 closed, assigned to talldan

[2022-01-11 07:55] jasmussen commented on #37573
I can consistently reproduce this with the latest nightly, with the Gutenberg plugin deactivated. It's possible there's a loading order or race condition issue attached.

[2022-01-11 07:55] iidastudio commented on #37786
@carolinan
Thank you for your answer!

[2022-01-11 07:59] carolinan commented on #37562
Is it not enough that the text is editable?

[2022-01-11 08:11] carolinan opened #37850 "Admin bar: Edit site link should open the current template"
### Description

Often when I use the "Edit site" link in the WordPress admin bar, it is because I want to edit the current template.
This can be a post/page or an archive (they should all work the same).

Instead, the link opens the index/home/front-page, and I have to find a way to navigate to the template I wanted to edit.

### Step-by-step reproduction instructions

With a full site editing th

[2022-01-11 08:15] youknowriad opened #37851 "Block Validation: Ignore markup changes for the style attribute."
In https://github.com/WordPress/gutenberg/discussions/37495 we're discussing how to bring more coherence and consistency to the styles resulting from block customizations.

One of the "conclusions" of that discussion is that we should probably not consider a block that have differences in the wrapper level style attribute as invalid block.

So basically if the markup of the block is

[code]

and t

[2022-01-11 08:17] carolinan commented on #31862
Tested again today.
A template part at the root level (not inside another block) does not have wide and full width options. Unless it is aligned to the left or right it always displays at full width.
The front and editor match, both the template part and the inner columns block display at full width.

[2022-01-11 08:19] dingo-d commented on #37808
Ok, so here's an MVP plugin that reproduces the same for me. This is the `test.php` file

[code]

And this is the `test.jsx` file

<details>

[code]
</details>

I'm using babel-cli to compile it to `test.js`

I have the following `package.json`

[code]

And I'm using `npx babel --presets react test.jsx -o test.js` command.

When I click save button the following request payload is being send to th

[2022-01-11 08:38] youknowriad commented on #37072
I tried debugging a bit more here and unfortunately I didn't see any obvious query performance issues.

[2022-01-11 09:01] oandregal commented on #37707
Prepared https://github.com/WordPress/gutenberg/pull/37853 to update the schema.

[2022-01-11 09:13] ntsekouras commented on #37072
Thanks Riad! I have this in my queue to take a shot as well soon.

[2022-01-11 09:39] cbravobernal commented on #37562
I agree that having the text editable allows the user to decide what to show if they change the orderBy option. That is enough and already implemented.

In that case, we could change Next and Previous default labels by Older and Newer, right?

[2022-01-11 09:46] erikjoling opened #37856 "Changing the unit or value of dimension controls sometimes doesn't work in the site editor"
### Description

When I set the value or unit of the padding or margin of a block and try to change it, it reverts to the initial value/unit.

### Step-by-step reproduction instructions

1. In the site editor go to a group block for example.
2. Try to set the bottom padding to 5 rem.
3. Save
4. Now try to set the bottom padding to 1 px. Or to 0.
5. It reverts to 5 rem.

### Screenshots, screen rec

[2022-01-11 10:13] gziolo commented on #25188
I landed today two PRs:
- #37612
- #37661

As noted in the second PR. The only case where I'm not 100% sure how changes applied to `npm run build` would fit into the existing projects when someone has `src/index.js` as an entry point but also puts `block.json` files in subfolders. I assumed that in such a setup you don't list file paths for JavaScript files because you would rather register a sing

[2022-01-11 10:18] jasmussen commented on #20926
Thanks for exploring that Ramon 🚀

Keeping in mind we can always expand and refine in subsequent versions, what might be the least we could get away with? Could it be a simple toggle?

<img width="364" alt="Frame 863" src="https://user-images.githubusercontent.com/1204802/148923016-41746ecb-08c5-42a4-be3a-d5fbedacb8c6.png">

_I don't really like how that mockup looks, so consider it quick and dirt

[2022-01-11 10:25] #30204 closed, assigned to opr

[2022-01-11 10:25] #37707 closed, assigned to oandregal

[2022-01-11 10:28] fluiddot opened #37858 "Bottom sheet: Long labels make items to be cut off [only on Android]"
## Description

On Android when an item (cell component) of a bottom sheet contains a long label, the content of the item gets cut off. I managed to reproduce this when setting the device's locale to Spanish and opening the block settings of an Embed block.

**NOTE:** On iOS this behavior can't be reproduced so this issue is specific to Android.

## Step-by-step reproduction instructions

**Prepar

[2022-01-11 10:42] grappler commented on #37707
Thank you @oandregal for fixing this. Will this be back ported to the `wp/5.8` branch so that the schema in https://schemas.wp.org/wp/5.8/block.json is also correct?

https://github.com/WordPress/gutenberg/blob/wp/5.8/schemas/json/block.json

[2022-01-11 10:42] dianeco commented on #37856
I've encountered similar issues.

When you try to remove a value (by hitting backspace), it keeps the previous value and does not remove it. The user must hit backspace and then Enter to remove a value. Which is not consistent with the way the user can add a value (no need to hit Enter). Moreover, sometimes, when you try to reset all the values, nothing happens, or only some values are reset.

![r

[2022-01-11 10:45] erikjoling commented on #37856
For me the problem seems to be more present in firefox. Though removing a value in chrome also is troublesome.

The problem isn't limited to the group block by the way.

[2022-01-11 11:00] javierarce opened #37861 "Default custom color doesn't get saved"
### Description

Probably a minor bug, but if a user adds a custom color and doesn't move the color picker or change its name, the color is not saved.

### Step-by-step reproduction instructions

1. Go to the Global Styles
2. Edit the theme palette
3. Add a custom color by clicking the + icon
3. Click done without modifying anything

### Screenshots, screen recording, code snippet

https://user-im

[2022-01-11 11:01] sarayourfriend commented on #37766
I think this is a case of incorrectly using JSDoc TypeScript annotations and also a misunderstanding about what it possible with the current docgen TypeScript implementation.

The `@param` and `@returns` annotations are only valid for a function declaration. Re-exporting a variable should use the `@type` annotation (I think) like so:

[code]

Even though it's TypeScript, we cannot use the type inf

[2022-01-11 11:09] dianeco commented on #37856
I've encountered all the above issues on Chrome, using Mac or Windows.

[2022-01-11 11:12] oandregal commented on #37589
:wave: This is how it works since WordPress 5.8. For themes that opt-in into loading separate stylesheets for blocks, the global stylesheet is enqueued in the footer. See this track ticket in WordPress core https://core.trac.wordpress.org/ticket/53494

What happens is that the logic to opt-in into this has been updated in WordPress 5.9 and all themes considered "block themes" opt into this. See ht

[2022-01-11 11:12] #37589 closed, assigned to nobody

[2022-01-11 11:41] dianeco opened #37868 "Template part focus mode: ensure size of screen corresponds with content in the template part"
### Description

When I try to build a header inside the template part, the small area makes it difficult to edit, especially when you have a thin header and choose to set the overlay menu to always or if you have a small screen (with List View and Settings sidebar opened) and the menu is displayed as a burger.

Also, I find it confusing not to see a block inserter (Type / to choose a block) insid

[2022-01-11 11:53] carolinan commented on #37749
Is this not because the template part has no `context`? It does not know the post id.
https://github.com/WordPress/gutenberg/issues/28011 (oh happy 1 year anniversary..)

[2022-01-11 12:10] ntsekouras commented on #37659
Hey @paulgibbs, thanks for the issue!

Actually it was something like this (with `divs` though) in the first iterations of the block. The added wrapper and the `ul` was [added here](https://github.com/WordPress/gutenberg/pull/27067) and the wrapper is needed for various things like `layout` stuff.

The `ul` list is the most generic one, as the `Query Loop` block supports custom post types, so a de

[2022-01-11 12:40] ndiego opened #37871 "Add standard block class to List blocks on frontend"
## What problem does this address?
Currently, List blocks are rendered on the frontend as simply a `<ul>` or `<ol>` and do not include the standard block class `wp-block-list`. In the editor, this class is included.

Since other blocks use list markup, such as the Navigation block and Social Icons block, it can be hard for theme developers to target List blocks with custom CSS without inadvertantl

[2022-01-11 13:01] aristath commented on #37871
Closing as a duplicate of https://github.com/WordPress/gutenberg/issues/12420
PR already exists in https://github.com/WordPress/gutenberg/pull/36676 👍

[2022-01-11 13:01] #37871 closed, assigned to nobody

[2022-01-11 13:12] ndiego commented on #37871
Oops my apologies for the second Issue, thanks @aristath!

[2022-01-11 13:50] ntsekouras commented on #34242
Thanks so much for your contribution @amustaque97! Great work 💯

[2022-01-11 13:50] #34242 closed, assigned to amustaque97

[2022-01-11 14:34] gziolo commented on #34478
The code that handles translations for scripts registered with `block.json` is located in WordPress core:

https://github.com/WordPress/wordpress-develop/blob/6dc3ff47d2a699fa2191d54fc67d635364bd20ff/src/wp-includes/blocks.php#L115-L127

It feels like we could also patch the existing `register_block_script_handle` function to account for all the cases that are listed in the answer on StackExchange

[2022-01-11 15:04] sarayourfriend commented on #37766
Oh I'll add the above with the caveat that even if we can't support this usage, we should emit a sensible warning instead of crashing. At the very least this issue should address that.

[2022-01-11 15:08] jameskoster opened #37883 "Display block placeholder treatments consistently when editing templates in the site editor"
When you edit something like the single post template, blocks such as Post Title, Featured Image, and Post Content exhibit a placeholder state that helps clarify that they will entertain content from different posts.

<img width="1250" alt="Screenshot 2022-01-07 at 18 34 45" src="https://user-images.githubusercontent.com/846565/148937831-5eea5419-a9e8-4e93-b680-55995fb65ad0.png">

We should look t

[2022-01-11 15:38] jameskoster commented on #37749
Hmm, maybe? Though perhaps not... putting a `content.html` template part inside a regular Query seems to work just fine.

[2022-01-11 15:44] oandregal commented on #37839
Hey Andrew, thanks for bringing this up.

We could fix this in the plugin and I've prepared a PR to do so at https://github.com/WordPress/gutenberg/pull/37885

However, this needs to be fixed in WordPress core directly as well. I've also prepared a PR for WordPress core at https://github.com/WordPress/wordpress-develop/pull/2139 I'd think this is not a good time to land that PR in WordPress, as it

[2022-01-11 17:26] audrasjb opened #37890 "Shortcodes are not working in page templates in the new "Beta" editor"
### Description

**Note: this is a copy-paste of a ticket opened on Trac.**

See the related Trac ticket for further details: https://core.trac.wordpress.org/ticket/54759

### Step-by-step reproduction instructions

See the related Trac ticket: https://core.trac.wordpress.org/ticket/54759

### Screenshots, screen recording, code snippet

_No response_

### Environment info

_No response_

### Plea

[2022-01-11 17:31] audrasjb opened #37891 "Quick Inserter not visible at bottom of Site Editor"
### Description

**Note: this is a copy paste from a Trac ticket.**

See the original Trac ticket for further details and screenshots: https://core.trac.wordpress.org/ticket/54750

### Step-by-step reproduction instructions

See the original Trac ticket for further details and screenshots: https://core.trac.wordpress.org/ticket/54750

### Screenshots, screen recording, code snippet

_No response_

[2022-01-11 17:35] audrasjb opened #37892 "Invisible Open save panel only visible in focus in the global styles section"
### Description

**Note: this is a copy paste from a Trac ticket.**

See the following Trac ticket for more details and screenshots on the issue: https://core.trac.wordpress.org/ticket/54744

### Step-by-step reproduction instructions

See the following Trac ticket for more details and screenshots on the issue: https://core.trac.wordpress.org/ticket/54744

### Screenshots, screen recording, code s

[2022-01-11 17:36] tomjn commented on #37682
suspect the cause is this commit:

https://github.com/WordPress/gutenberg/commit/0dc7ad2054ae8300f928c6ffd5270425f1f71545

My current theory is that the bug is caused by changing this:

[code]

into this:

[code]

Here an attempt is made to set the `currentUserId` to `undefined` which comes from the previous commits version of the code, but this code is never reached. `select.getCurrentUser()` tri

[2022-01-11 17:37] tomjn commented on #37682
In particular this code needs error handling:

https://github.com/WordPress/gutenberg/blob/0aa47a56b89eb7674afbc8c31e94e0ced78df044/packages/core-data/src/resolvers.js#L37-L39

[2022-01-11 17:39] tomjn commented on #37682
Here's how another selector acheives it further down the file:

https://github.com/WordPress/gutenberg/blob/0aa47a56b89eb7674afbc8c31e94e0ced78df044/packages/core-data/src/resolvers.js#L205-L209

[2022-01-11 17:54] skorasaurus commented on #37817
@Mamaduka, I am still able to reproduce this, even on trunk (as of commit 15bef9d200e48b0f6f3d2bab8ac0cbdc705ad0fb, built an hour ago from writing this). The issue described by  @debaryadas occurs anytime when you assign an integer to the start attribute.

View the attached video:

https://user-images.githubusercontent.com/955351/148986533-6e68a3a2-e4cd-44d1-b3dd-d5cd812cfe8e.mp4

You would expect

[2022-01-11 18:18] andrewstaffell commented on #37839
Thanks for swift response and PRs @oandregal.

In case it's relevant to know, I do have `add_filter('should_load_separate_core_block_assets', '__return_true');` in this theme. I'm not sure if it would behave differently without that, but I guess the change still makes sense either way.

And yes to waiting for 6.0 to test fully!

[2022-01-11 18:26] Mamaduka commented on #37817
Thanks for the clarification, @skorasaurus. I missed the "start value" settings.

We're using native `<ol>` element attributes, so I think this is expected behavior by the HTML spec.

You can check the official MDN [demo](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/ol), try adding `reversed start="3"` to the `ol` element.

![CleanShot 2022-01-11 at 22 25 23](https://user-images.githu

[2022-01-11 18:33] oglekler opened #37893 "Selection of several elements causing jump to the top of the Theme Editor"
### Description

In Theme Editor selection of several elements causing a jump to the top of the Editor

### Step-by-step reproduction instructions

1. Go to еру Theme Editor
2. Scroll down the Editor to edit something further below
2. Add several paragraphs/items
3. Try to select them

![unexpected-jump-1](https://user-images.githubusercontent.com/16874687/149000681-5f4f7e7a-90c9-4a45-8c69-97d78d3

[2022-01-11 18:35] hellofromtonya commented on #37031
Was reported on Trac too https://core.trac.wordpress.org/ticket/54791.

[2022-01-11 18:42] oglekler commented on #28243
I am agreeing with Anne, I am trying to click on the name and getting nothing. I think for most users it will be confusing and not very convenient. The button is only 24px in width and can be easily missed. Possibly there can be some compromise to make the whole area clickable and at the same time not make the template name itself a button.

[2022-01-11 19:53] oglekler opened #37894 "Template change cannot be previewed without saving the page"
### Description

Template change cannot be previewed without saving the page.

### Step-by-step reproduction instructions

1. Open a page
2. Check its preview
3. Change template
4. Preview the page - there will be no changeits

### Screenshots, screen recording, code snippet

![template-update](https://user-images.githubusercontent.com/16874687/149011517-978622eb-2d6d-48b8-b43b-498853bad775.gif)

[2022-01-11 20:05] dmsnell commented on #37766
I'm worried that the limitations of the current implementation are going to bite us over and over again, specifically the way it reports on types. This probably encroaches on bigger discussions about the intersection of TypeScript types, descriptions of parameters/properties, and our published documentation.

The docgen is going to have issues with an increasing number of normative code patterns a

[2022-01-11 20:15] oglekler opened #37896 "Preview for the 404 page similar to preview for other pages"
## What problem does this address?
How the page looks in the Editor and how the page looks on the front end can be very different. Users will be expecting the same behaviour with the ability to preview changes of the 404 page as with other pages.

## What is your proposed solution?
To add a front end preview for the 404 page.

![404](https://user-images.githubusercontent.com/16874687/149014306-c46

[2022-01-11 20:25] skorasaurus commented on #37817
Good point;

Update: hrm, here's an example that I created  https://codepen.io/skorasaurus/pen/zYEMOyd

The behavior seems according to[ the spec ](https://html.spec.whatwg.org/multipage/rendering.html#lists)seems counterintuitive to me (I too would expect the same behavior that @debaryadas had):

![image](https://user-images.githubusercontent.com/955351/149015879-3143bc39-757b-4b5b-9fcc-763443968

[2022-01-11 20:25] #37817 closed, assigned to nobody

[2022-01-11 20:26] oglekler commented on #37804
It is still small, 8px. From the accessibility point of view, 12px is the minimum. I don't have significant vision issues, but for me, it is too small and I need to lean to the screen to see. Possibly I need to go to check my eyes ( but still.

[2022-01-11 21:31] ramonjd commented on #20926
Yes, yes and yes 😄 Thanks for the quick response and great ideas @jasmussen

The idea of starting off with a toggle/arrows (and taking it from there) appeals to me extraordinarily.  🙇

Also cc @naokomc - what's your take on the desire for vertical writing modes in Japanese?

[2022-01-11 21:33] MadtownLems opened #37897 "Blocks can get published without a Style, but once you select a Style, you can never de-select a Style"
### Description

Take, for example, the Table Block - which has Default and Stripes as Styles by default.

If I add a Table Block to a Page and publish it, I have a Table with no style selected.

<figure class="wp-block-table"> (with no is-style-xxx)

However, once I click on Default or Stripes, I can never NOT have a style selected again. The UI simply doesn't support it. I can only toggle betwee

[2022-01-11 22:42] annezazu commented on #37897
Hey @MadtownLems. I could be missing something but, from what I understand, the Style options automatically are set to "default". For example, if I add an image block, it's automatically set to Default but I can switch to Rounded and back again. This is also the case, from what I can see, with the Table block, Buttons block, and more. Is your issue about the UX of this or the fact that you want to

[2022-01-11 22:52] MadtownLems commented on #37897
When you first add the Table Block, the UI actually SHOWS 'Default' as selected. However, if you just publish the post, you'll see the table doesn't actually have the "is-style-regular" class. If you click on the already-selected 'Default' style, and publish/update the post, only NOW does the table have the "is-style-regular" class.

thanks for the quick reply - let me know if you still need more

[2022-01-11 23:23] annezazu commented on #37897
Ah ha! Thanks for clarifying. I'll update the labeling and see if others can provide more context as to why it's setup like this :)

[2022-01-11 23:24] annezazu commented on #37861
How strange! Seems similar to this previous problem (just to connect some dots): https://github.com/WordPress/gutenberg/issues/36473

[2022-01-11 23:29] cbirdsong commented on #34575
Bumping this issue up – this behavior breaks themes I’ve written when testing with 5.9 RC1.

We use responsive rem-based typography, and always treated the pixel value registered via `add_theme_support` as an approximation for use in the editor. It was never intended to be something to be  output in the front end of the site, and the fact that you could not register `rem` units with the editor pri

[2022-01-11 23:29] annezazu commented on #37892
It's unclear to me if this is a bug :D Going to flag it for 5.9 to be safe.

[2022-01-11 23:32] annezazu commented on #37893
I can replicate this with 5.9 RC2  using TT2. Adding to the 5.9 for triage but not quite sure this is high priority enough to address.

[2022-01-11 23:36] annezazu commented on #37894
This is a duplicate of https://github.com/WordPress/gutenberg/issues/28208 Closing out!

[2022-01-11 23:36] #37894 closed, assigned to nobody

[2022-01-11 23:38] annezazu commented on #37891
I can't replicate with 5.9
<img width="1364" alt="Screen Shot 2022-01-11 at 3 37 33 PM" src="https://user-images.githubusercontent.com/26996883/149038208-8b7a5325-f6ce-426d-bfe3-731d7a521b8c.png">
RC2:

<img width="1377" alt="Screen Shot 2022-01-11 at 3 37 08 PM" src="https://user-images.githubusercontent.com/26996883/149038205-3005633f-ffae-4df1-9c5d-4945eff1f8e5.png">

Going to try flagging for

[2022-01-12 00:06] annezazu commented on #36536
This has somehow returned in 5.9 RC2 :D

<img width="286" alt="Screen Shot 2022-01-11 at 4 04 58 PM" src="https://user-images.githubusercontent.com/26996883/149040670-4b61c4ba-ca17-4a64-92c5-ce9de5c06746.png">

Found this while writing documentation for 5.9: https://github.com/WordPress/Documentation-Issue-Tracker/issues/69 cc @stacimc

[2022-01-12 00:49] noisysocks commented on #37826
cc. @MaggieCabrera @aaroncampbell @apeatling

[2022-01-12 01:15] glendaviesnz commented on #37897
It is possible to remove the `is-style-x` under the advanced tab in block settings panel, but this isn't at all obvious - a 'Clear' option might be useful in the Styles tab, but I am not aware of why it initially defaults to 'default' but doesn't add the class, so not sure of the implications of adding this.
![styles](https://user-images.githubusercontent.com/3629020/149046461-f08cdcab-dc76-417c-b

[2022-01-12 01:20] stacimc opened #37900 "Site Logo: Discard unsaved changes when removing the last Site Logo block"
## What problem does this address?

When you insert a Site Logo block, you can make changes to the image used for the site logo as well as the site icon (if you have the `Use as site icon` option toggled). If you remove the block before saving, these changes are retained -- so if you click 'Save' on the post, you will be prompted to save changes to the Logo and/or Icon. We should discard unsaved c

[2022-01-12 01:20] #37760 closed, assigned to stacimc

[2022-01-12 01:21] andrewstaffell commented on #33385
While experiencing the same behaviour we noticed that Gallery blocks and Cover blocks are not affected by the discrepancy, so that their layout renders identically in editor and front end, because the align is on the top-level element eg. `<div class="wp-block-gallery alignright">`

This makes it tempting to use the hack/workaround of converting an image to a gallery just to have it float correctl

[2022-01-12 01:38] andrewstaffell commented on #28820
This is basically the same issue as #33385.

[2022-01-12 01:44] Jefak007 commented on #13271
I am facing this same exact problem.
For over 3 months, it has been stressful to add tags, once I start typing, the entire page just freezes.

[2022-01-12 02:16] ve3 commented on #33580
I'm still see footer everywhere in admin->widgets management & customizer->widgets management pages.

Testing with WordPress **5.9-RC2-52567**

If I copy those patch to wp-includes/rest-api/endpoints/class-wp-rest-widget-types-controller.php then it seems to be fixed.
What I have to do with it?

[2022-01-12 02:44] talldan commented on #37897
This is a flaw of the way default styles work in the style variations system. Not an easy issue to fix unfortunately, as previously attempted fixes have broken styles provided by plugins.

It was also reported at https://github.com/WordPress/gutenberg/issues/20706, so I'll close this as a duplicate.

[2022-01-12 02:44] #37897 closed, assigned to nobody

[2022-01-12 04:10] devinmaeztri commented on #37896
Hello @OlaIola!

Could you please add more information/screenshots about the difference you see on the front end currently, and the changes you expect to see?

Thanks!

[2022-01-12 04:28] carlomanf commented on #29864
This part concerns me because it seems to again blur the line between plugins and themes. If block themes have the ability to use the lock attribute to "protect the user from themselves" when customising templates, then I can see it turning into a confusing mess where some block themes use them liberally and others don't use them at all.

Editing capability should be governed by plugins and core,

[2022-01-12 05:01] andrewserong opened #37904 "Buttons Block: Clicking inserter icon to add a button should use styling of an existing button in the list"
## What problem does this address?

When you hit "enter" from within a Button block, the added button block uses the same styling as the existing button block, which makes it nice and easy to edit a list of similarly styled buttons. However, the inserter button displayed at the end of the Buttons block currently doesn't respect the styling of the existing buttons.

## What is your proposed solutio

[2022-01-12 05:24] noisysocks commented on #37573
I can't personally reproduce the issue which makes it difficult for me to find which PR needs to be backported.

https://user-images.githubusercontent.com/612155/149068005-461f6da6-7f6b-49c5-9581-e24a1b617650.mp4

Am I doing something wrong when attempting to reproduce?

I searched for PRs merged after Gutenberg 11.9 (the last release merged wholesale into Core) with the word "inserter" in it but

[2022-01-12 06:21] Mamaduka commented on #36536
@annezazu, it looks like we forgot to backport the changes. Marked PR to be backported in minor release - https://github.com/WordPress/gutenberg/pull/36540#issuecomment-1008916827

[2022-01-12 06:31] kafleg commented on #37719
![image](https://user-images.githubusercontent.com/13062231/149075944-1a71b878-60a1-4862-9b23-1e62182793f5.png)

I can still see the issues.

[2022-01-12 06:32] Mamaduka commented on #37890
This was fixed in #37545.

We also found that running `wptexturize` (and maybe `do_shortcodes`) after the `do_blocks` might have some unexpected results - https://github.com/WordPress/gutenberg/issues/37754#issuecomment-1007345915

[2022-01-12 06:34] Mamaduka commented on #37719
@kafleg, we haven't backported changes into 5.9. The fix will be part of the Gutenberg 12.4 release.

[2022-01-12 07:14] Mamaduka commented on #37900
I think "Discard changes" in multi-entity saving UI could be useful for this - #36185.

[2022-01-12 07:46] derridHeidegger opened #37908 "passing props.style while extending core blocks, work on heading block but not on other blocks"
### Description

Hi i am extending core blocks using the filter hooks functions. so i am using the "blocks.registerBlockType" to add additional attributes. i am using the "editor.BlockEdit" to have my inspactor controls and update the attributes values. and i use the "blocks.getSaveContent.extraProps" to save the added attributes on the front end.

and indeed all attributes pass to the front side.

[2022-01-12 07:56] carolinan commented on #28011
I retested this today after James mentioned in _37749_ that it was working.

I was able to place template parts with working post blocks (author, content, post date, etc) inside the post template block.
The content was not static and duplicated as before, but correct for each post.
-However, I was only able to do it inside an HTML template file. It was not possible to insert template parts inside

[2022-01-12 08:01] CalumChilds opened #37909 "Add code editor to Site Editor"
## What problem does this address?
This addresses the problem of having to export the theme each time you want to see class names or what may be causing a problem in the template.

## What is your proposed solution?
Make the code editor accessible in the Full Site Editor.

[2022-01-12 08:04] devinmaeztri commented on #22162
Hi! I'm closing this issue as the author @1sd15 hasn't responded in 2+ weeks. It can be reopened when needed. Thanks!

[2022-01-12 08:04] #22162 closed

[2022-01-12 08:04] carolinan commented on #37909
Hi!
I am closing this as a duplicate of https://github.com/WordPress/gutenberg/issues/22528 and https://github.com/WordPress/gutenberg/issues/21245

See the pull request at https://github.com/WordPress/gutenberg/pull/37765

[2022-01-12 08:04] #37909 closed, assigned to nobody

[2022-01-12 08:06] devinmaeztri commented on #33234
Hi! I'm closing this issue as the author @tisaneetjardin hasn't responded in 2+ weeks. It can be reopened when needed. Thanks!

[2022-01-12 08:06] #33234 closed, assigned to nobody

[2022-01-12 08:07] devinmaeztri commented on #33360
Hi! I'm closing this issue as the author @linuxstarter hasn't responded in 2+ weeks. It can be reopened when needed. Thanks!

[2022-01-12 08:07] #33360 closed, assigned to nobody

[2022-01-12 08:09] devinmaeztri commented on #33854
Hi! I'm closing this issue as the author @katarzynapawelczak hasn't responded in 2+ weeks. It can be reopened when needed. Thanks!

[2022-01-12 08:09] #33854 closed, assigned to nobody

[2022-01-12 08:10] devinmaeztri commented on #33855
Hi! I'm closing this issue as the author @benoitchantre hasn't responded in 2+ weeks. It can be reopened when needed. Thanks!

[2022-01-12 08:10] #33855 closed, assigned to nobody

[2022-01-12 08:11] devinmaeztri commented on #34561
Hi! I'm closing this issue as the author @mikeatamplify hasn't responded in 2+ weeks. It can be reopened when needed. Thanks!

[2022-01-12 08:11] #34561 closed, assigned to nobody

[2022-01-12 08:12] devinmaeztri commented on #34571
Hi! I'm closing this issue as the author @harbran hasn't responded in 2+ weeks. It can be reopened when needed. Thanks!

[2022-01-12 08:12] #34571 closed, assigned to nobody

[2022-01-12 08:13] devinmaeztri commented on #35002
Hi! I'm closing this issue as the author @Lovor01 hasn't responded in 2+ weeks. It can be reopened when needed. Thanks!

[2022-01-12 08:13] #35002 closed, assigned to nobody

[2022-01-12 08:13] devinmaeztri commented on #35012
Hi! I'm closing this issue as the author @lwangdu hasn't responded in 2+ weeks. It can be reopened when needed. Thanks!

[2022-01-12 08:13] #35012 closed, assigned to nobody

[2022-01-12 08:15] devinmaeztri commented on #35052
Hi! I'm closing this issue as the author @ts-mz hasn't responded in 2+ weeks. It can be reopened when needed. Thanks!

[2022-01-12 08:15] #35052 closed, assigned to nobody

[2022-01-12 08:16] devinmaeztri commented on #35211
Hi! I'm closing this issue as the author @Lovor01 hasn't responded in 2+ weeks. It can be reopened when needed. Thanks!

[2022-01-12 08:16] #35211 closed, assigned to nobody

[2022-01-12 08:17] devinmaeztri commented on #37247
Hi! I'm closing this issue as the author @Wingo5315 hasn't responded in 2+ weeks. It can be reopened when needed. Thanks!

[2022-01-12 08:17] carolinan commented on #37891
I was not able to reproduce this.
Custom theme, Windows 10, Chrome, Firefox, Edge, Opera.

[2022-01-12 08:17] devinmaeztri commented on #37247
Hi! I'm closing this issue as the author @Wingo5315 hasn't responded in 2+ weeks. It can be reopened when needed. Thanks!

[2022-01-12 08:17] #37247 closed, assigned to ntsekouras

[2022-01-12 08:18] devinmaeztri commented on #37405
Hi! I'm closing this issue as the author @blaasvaer hasn't responded in 2+ weeks. It can be reopened when needed. Thanks!

[2022-01-12 08:18] #37405 closed, assigned to nobody

[2022-01-12 08:19] devinmaeztri commented on #37432
Hi! I'm closing this issue as the author @Darchorse64 hasn't responded in 2+ weeks. It can be reopened when needed. Thanks!

[2022-01-12 08:19] #37432 closed, assigned to nobody

[2022-01-12 08:24] carolinan commented on #37768
For the group block, I don't think that it is clear from the text label "block spacing" that this setting is for inner blocks,
compared to the buttons block where you already have an inner placeholder button.

[2022-01-12 09:15] carolinan commented on #37893
I can reproduce this also with different themes (5.9 RC2 with Gutenberg trunk)

[2022-01-12 09:15] #37195 closed, assigned to ntsekouras

[2022-01-12 09:21] CalumChilds commented on #37247
I think it would be good to do it for each query.

[2022-01-12 09:53] Tropicalista opened #37912 "Gutenberg crash if custom post type has template lock"
### Description

I create a custom post type with template lock. All works great, but if I select patterns on block inserter Gutenberg crashes.

I think the problem is template lock, because disabling it, all works great.

### Step-by-step reproduction instructions

1. Create a simple custom post type and set a template lock:

[code]
2. Go to your cpt and select block patterns
3. Gutenberg crash
4

[2022-01-12 09:53] ntsekouras commented on #37826
I created a [quick PR](https://github.com/WordPress/gutenberg/pull/37911) for this, if we decide we want to revert for other 5.9 blocks too. IMO this makes sense, but want to hear other's thoughts too 😄

[2022-01-12 09:53] uniquesolution commented on #37768
Yes @carolinan , you are right, the correct word should be "Inner block spacing" I think. In this particular case of group block.

[2022-01-12 10:01] ntsekouras commented on #37826
Actually I saw that some blocks have this support from `5.8`, so I'm not really sure.. 🤔

Example [here](https://github.com/WordPress/wordpress-develop/blob/5.8/src/wp-includes/blocks/list/block.json#L42).

[2022-01-12 10:05] javierarce commented on #37861
Thanks, Anne! It could also be somehow related to [this PR](https://github.com/WordPress/gutenberg/pull/37496#pullrequestreview-835917787)

[2022-01-12 10:16] lgladdy commented on #35676
👋  We'll be making changes in our WP5.9 compatibility fix release which solves this problem in ACF, as this is also an issue in the full site editor.

[2022-01-12 10:21] oandregal commented on #37707
Prepared https://github.com/WordPress/gutenberg/pull/37913 for updating the `wp/5.8` branch as well.

[2022-01-12 10:23] getdave commented on #37479
Nooooooooo! This test is still flaky 😡 Thanks for trying @talldan. Let's continue to monitor incoming reports here and see what the next steps are.

[2022-01-12 10:39] ntsekouras commented on #37573
I can't reproduce either..

@jasmussen which theme do you use? Or is there any difference between post and site editors?

[2022-01-12 10:53] jasmussen commented on #37573
I'm using the TwentyTwentyTwo theme that comes with the latest nightly of WordPress, and I'm seeing the pattern scrollbars in both the post and site editors.

Here's a video showing how it's working fine with the plugin enabled on latest nightly, and breaks as soon as I deactivate the plugin:

https://user-images.githubusercontent.com/1204802/149126825-6f9af8b2-28a1-464f-a4ee-03a8a1a61cc2.mov

_No

[2022-01-12 10:58] jasmussen commented on #37573
The only other thing I can think of is that there was a Safari specific issue where a pattern would keep growing vertically if it used `vh` units perhaps misbehaving. I can't find the PR, but that was merged a while ago.

[2022-01-12 11:02] Mamaduka commented on #37573
@jasmussen, I think this is issue #34729.

[2022-01-12 11:13] Mamaduka commented on #37725
I created another follow-up PR to fix user avatar and display name issues.

What are the remaining items to close this issue?

[2022-01-12 11:45] jasmussen commented on #37725
I'll let Javier catch any details I missed, but it looks like there's an added paragraph: "If you take over, the other user will lose editing control to the post, but their changes will be saved."

[2022-01-12 12:01] spacedmonkey commented on #37725
Related: https://github.com/WordPress/gutenberg/pull/37789

[2022-01-12 12:42] sarayourfriend commented on #37766
Yes I think this is the right solution in these cases. Produce less documentation, not more, _incorrect_ documentation (or fail to finish producing it altogether).

I think that's why moving towards something like TypeDoc eventually is a good thing. We'll get the benefit of those strong types not just when writing and verifying code, but also when learning about new areas from the written document

[2022-01-12 13:35] #33396 closed, assigned to SiobhyB

[2022-01-12 13:40] kjellr commented on #24280
We received an additional report of this issue from @itsjustdj [over in the Twenty Twenty-Two repository](https://github.com/WordPress/twentytwentytwo/issues/335).

---

When editing the dimensions on a block, specifically Padding, the text is partially hidden in the input window.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Appearance>Editor
2. Click on any block
3. Scroll down to

[2022-01-12 15:03] gingerling commented on #17099
Hi, this https://en-gb.wordpress.org/plugins/visual-term-description-editor/ gives a basic editor, but not a block editor. Perhaps this in combination with the new theme editor for category archives will allow a better experience while this issue is worked on

Please, if you have other suggested plugins add them while it's not a support forum I think it's helpful for us to assess the need and curr

[2022-01-12 15:22] apeatling commented on #37826
@mtias [comment](https://github.com/WordPress/gutenberg/pull/34064#issuecomment-959384115) specifically talked about making sure that font family was not a default control for these blocks when they are inserted. Blocks that already have font family could keep the support for it.

With the introduction of Tools Panel all of these blocks have font family hidden by default, so I think they are okay

[2022-01-12 16:13] ntsekouras commented on #37826
Sounds good. There is no block with `font family` control set as default, so I guess we can close this issue, no?

[2022-01-12 16:36] richtabor opened #37919 "I should be able to transform between core/site-title and core/site-logo blocks"
## What problem does this address?
As part of my testing for Twenty Twenty Two, I explored a flow where I would use a header pattern, but want to use a site logo instead of a site title (or vise-versa). It's not particularly easy to simply add another block and remove the previous.

It would be great to be able to easily swap out the site-title/site-logo blocks by transforming each other.

## What

[2022-01-12 16:41] apeatling commented on #37826
Yes good to close. :+1:

[2022-01-12 16:41] #37826 closed, assigned to ntsekouras

[2022-01-12 16:57] jameskoster commented on #31887
Closing since we no longer display ancestor outlines.

[2022-01-12 16:57] #31887 closed, assigned to nobody

[2022-01-12 17:02] #37839 closed, assigned to oandregal

[2022-01-12 17:28] annezazu commented on #36687
Can anyone else still replicate this problem? @lukecarbis @andrewstaffell @michaelbonert @ellenbauer @kafleg  I cannot replicate with 5.9 RC2 with TT2 but want to be sure to follow up :)  If you can share more about your setup if you can replicate, that would be great.

[2022-01-12 17:29] skorasaurus commented on #37734
Thanks for reporting;
This has been discussed and/or requested in https://github.com/WordPress/gutenberg/issues/26239 . Feel free to [add your reaction](https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/about-conversations-on-github#reacting-to-ideas-in-comments) and follow its progress in the issue.

[2022-01-12 17:29] #37734 closed, assigned to nobody

[2022-01-12 17:38] skorasaurus commented on #26239
I'm no longer able to reproduce this using the Gutenberg 12.3.1 plugin; I think it's been fixed in https://github.com/WordPress/gutenberg/pull/33981

The menu isn't ideal as indicated in the image -
![image](https://user-images.githubusercontent.com/955351/149192668-d9755318-0c7a-4615-8106-075b9b8686f2.png)
 but it's no longer cut off. Please reopen if you are still experiencing this issue.

[2022-01-12 17:38] #26239 closed

[2022-01-12 17:39] skorasaurus commented on #37734
This should also be fixed if you are using the latest version of the block editor, [the Gutenberg plugin](https://wordpress.org/plugins/gutenberg/).

Please reopen if you are still experiencing this using the latest version of the block editor; ref https://github.com/WordPress/gutenberg/issues/26239#issuecomment-1011292860

[2022-01-12 17:42] skorasaurus commented on #34696
Hi @markhowellsmead I'm closing this since you're no longer able to reproduce this.

[2022-01-12 17:42] #34696 closed, assigned to nobody

[2022-01-12 17:48] fullofcaffeine opened #37922 "Add regression test for spacer block breakage in themes without `spacing.units` support"
## What problem does this address?

Follow-up to: https://github.com/WordPress/gutenberg/pull/37774

The core spacer block broke in themes on which the `useSetting` function returned `false` for the `spacing.units` settings. A regression test would make sure the same problem doesn't happen again in the future.

## What is your proposed solution?

There are two approaches to testing this:
1. An E2E

[2022-01-12 17:52] skorasaurus commented on #35049
Thanks for reporting; I can reproduce this on gutenberg 12.3.2 and was about to report this myself :)

What happens during the block transformation for headings:

a classic block that has a heading is transformed into a heading block with:
`` without any css class applied.

However, the attribute for aligning a heading is  `textalign` and also has a css class of `has-text-align-right` applied; so

[2022-01-12 18:13] franmastromarino opened #37923 "added templates via get_block_templates not working correctly"
### Description

Hello

I've included a new template via filter get_block_templates

The template is not recognized on page reload

https://www.loom.com/share/568c8f8392aa49d5a6ddb1b5314f8206

[code]

### Step-by-step reproduction instructions

1. Include code in plugin
2. Go to Site Editor / Templates
3. Go to Test template
4. Reload

### Screenshots, screen recording, code snippet

https://www.l

[2022-01-12 18:29] zaguiini commented on #37759
Thanks, @youknowriad!

I think it's clear enough 🤔  We need to standardize how we deal with preview breakpoints. Having two different implementations for the same thing in the post and the site editor is far from ideal.

[2022-01-12 18:46] michaelbonert commented on #36687
My editor is still running (since Gutenberg Update 12.1.0)
My actual configuration: WP 5.8.3 - GB 12.3.2 - Aino Theme 2.5.0 with permalinks set to Post Name.

[2022-01-12 19:09] stacimc commented on #37900
Thanks for the link! The "Discard changes" UI will definitely improve the situation by adding a way to manually discard those changes, but I think in the case where the block with unsaved changes is removed, I would still expect those changes to be discarded _automatically_.

If I make updates to the Logo but change my mind and remove the block before saving, it may come as a surprise to still see

[2022-01-12 19:27] dmsnell commented on #37766
Generating documentation from comments inside the types and interfaces would be a good thing. That would restore some of the mismatch between documented JSDoc types and TypeScript types. It does appear to support JSDoc-style tags.

Do we know how much people are using these? How much effort we're saving by auto-generating them? As the types get more complicated I wonder about how useful they will

[2022-01-12 19:59] supernovia commented on #37036
Just chiming in in case anyone else is trying to figure this out, and in favor of letting inner blocks have widths without this workaround.

I wanted:

[code]

To get wide header content over a full width cover, I needed this combo:
header > group > cover > group > cover > content of header blocks

<img width="386" alt="Screen Shot 2022-01-12 at 12 22 07 PM" src="https://user-images.githubusercont

[2022-01-12 20:14] annezazu opened #37926 "Deleting template or template part causes screen flash in Site Editor"
### Description

When deleting a template or template part, the screen flashes upon deletion. It's a bit jarring of an experience!

### Step-by-step reproduction instructions

1. Create a new template from the Site Editor.
2. Head to the template list and delete it.
3. See the flash on the screen.

### Screenshots, screen recording, code snippet

https://user-images.githubusercontent.com/26996883/

[2022-01-12 20:16] andrewstaffell commented on #36687
Surprisingly still broken for me in WP 5.9 RC2, regardless of theme.

Even if I activate TT2 I still get a blank screen and the same error in console:
`Uncaught (in promise) TypeError: Cannot destructure property 'id' of '(intermediate value)' as it is null.`

Happens at both `/wp-admin/site-editor.php` and `/wp-admin/themes.php?page=gutenberg-edit-site` URLs.

I don't know what the `id` property

[2022-01-12 20:31] annezazu commented on #36687
cc @noisysocks flagging for you. I cannot replicate this but others can!

[2022-01-12 20:35] glendaviesnz commented on #35376
The switch away from using `--wp--style--block-gap` in the Navigation block also causes a difference in layout between frontend and editor if the Social block is a child of Navigation block. ([Noted here](https://github.com/WordPress/gutenberg/pull/37543#pullrequestreview-849916722)). @andrewserong let me know if you think a separate issue should be added for this.

[2022-01-12 20:57] lwangdu opened #37927 "Duplicate style and svg"
### Description

I am using WordPress  5.9 CR2 and Theme TT2. I am seeing duplicate style and http://www.w3.org/2000/svg as you can see on the screenshot.
![Screen Shot 2022-01-12 at 12 39 39 PM](https://user-images.githubusercontent.com/24829573/149219824-c7f27a6b-7c03-4b2c-8448-72a1348242c0.png)

### Step-by-step reproduction instructions

Go to the frontend the site
inspect > Elements

### Scre

[2022-01-12 21:00] sarayourfriend commented on #37766
I believe it is used to generate the Gutenberg handbook, so presumably quite a good deal of people are using it.

[2022-01-12 21:25] dmsnell commented on #37766
My mistake; I wasn't talking about the docs in general, but specifically the type annotations. For instance, they are littered with `Object` and `Function` which don't say much and leave people still in the position to have to read the source to find out what the expectations are. I was wondering more if you've heard of people relying on those type listings in the docs. Would be hard to find via m

[2022-01-12 22:20] annezazu opened #37930 "Add ability to style and/or use a custom icon for responsive menu"
## What problem does this address?

The responsive menu option for the navigation block currently comes with the ability to only use one icon.

## What is your proposed solution?

Allow for the ability to either use different styled icons or use your own (depending). Doing so will allow for greater customization and unification of designs folks are trying to implement.

[2022-01-12 22:41] WhiteHeatherClub commented on #37573
Getting a new twist on this issue now with RC2. Again, works fine (albeit with scrollbars) with Gutenberg plugin activated.

https://user-images.githubusercontent.com/97255524/149234573-350e105f-907c-48eb-8f47-cf602ce9a556.mov

[2022-01-12 23:12] andrewserong commented on #35376
Thanks @glendaviesnz! That might be a slightly different problem than rendering layout styles within the editor for the Post Content block (which is more about how we get the generated styles back into the editor from rendered post content). It could be worth adding a separate issue if we'd like to fix it in the shorter-term, as this current issue doesn't appear to have an obvious short-term solut

[2022-01-12 23:30] andrewserong commented on #37768
"Inner block spacing" is an interesting idea. I'm also wondering if some of the dimension controls could benefit from an `(i)` icon / hover or help text to explain their usage in an unobtrusive way 🤔. Just linking another issue where consistent dimension controls across blocks is being discussed / tracked: https://github.com/WordPress/gutenberg/issues/28356

[2022-01-13 00:20] noisysocks commented on #36687
The error message sounds similar to the one in https://core.trac.wordpress.org/ticket/54507.

Could you check that you have a `.htaccess` file? It may be that this is the same issue as described in https://core.trac.wordpress.org/ticket/54507#comment:14 where misconfigured sites (no .htaccess) fail ungracefully.

[2022-01-13 00:36] noisysocks commented on #37617
It looks like we can close this as all three of those PRs have been merged.

[2022-01-13 00:36] #37617 closed, assigned to nobody

[2022-01-13 00:50] noisysocks commented on #37814
I can repro this using `emptytheme` **without** the Gutenberg plugin activated but cannot reproduce this **with** the Gutenberg plugin activated. Perhaps there's a missing backport.

[2022-01-13 01:28] talldan commented on #37479
I don't really understand the error message:
[code]

Does that mean it was called with an empty string? Maybe changing it to `toHaveErrored` instead of `toHaveErroredWith` would work, so that it's less fussy about the exact error message.

[2022-01-13 01:35] noisysocks commented on #37814
The problem is that remote patterns are loaded when the `current_screen` hook is called.

https://github.com/WordPress/wordpress-develop/blob/7f2ddd0ae6f128d4292d7cbd20d9e359bb176609/src/wp-includes/default-filters.php#L335

Before proceeding, this hook checks that `$current_screen→is_block_editor` is true.

https://github.com/WordPress/wordpress-develop/blob/7f2ddd0ae6f128d4292d7cbd20d9e359bb1766

[2022-01-13 01:38] talldan commented on #31442
@sathyapulse Just to clarify, are you saying that the issue is resolved, but could still use some improvement? Are there still performance issues or is it more of a UX problem?

When testing, it's important to try with the latest version of WordPress and the Gutenberg plugin. This performance patch won't be backported to old WordPress or Gutenberg versions. The plugin also only supports the most r

[2022-01-13 02:15] naokomc commented on #20926
If all of the text is in Japanese characters then `text-orientation: upright;` will work fine. What's tricky is when longer blocks of Latin text are mixed in – in that case, `mixed` tends to be better.

In a perfect world, having control over changing orientation for part of the text would be nice (e.g. numbers or single letter Latin text usually should be treated differently to look the best).

E

[2022-01-13 02:31] noisysocks commented on #37814
Moved to https://core.trac.wordpress.org/ticket/54806.

[2022-01-13 02:35] glendaviesnz commented on #35376
Ah yeh, now that I read the issue more closely it is unrelated I think.

@tellthemachines I went to add a new issue for the problem [you mentioned here](https://github.com/WordPress/gutenberg/pull/37543#pullrequestreview-849916722), but I wasn't able to replicate the issue on trunk with that PR merged, ie. a Social Icons block as a child of Navigation didn't inherit the gap setting of the Navigati

[2022-01-13 02:46] ramonjd commented on #20926
This is great, thanks for the advice @naokomc !

[2022-01-13 03:41] miminari commented on #20926
Hi, I also tried to create a sample of vertical Japanese writing with CodePen.

https://codepen.io/miminari-the-scripter/pen/RwLqmvY

Wouldn't it be great if WordPress could do vertical writing!
I'll want to use vertical-medium horizontal (text-combine-upright) for numbers.
I think I'd like to use "text-orientation: mixed;" as a basic rule so that symbols and the like can be displayed nicely, but

[2022-01-13 03:56] ramonjd commented on #20926
I'm experimenting with adding vertical text layout support over at https://github.com/WordPress/gutenberg/pull/37932

I started off categorizing vertical text direction as a "layout" issue as opposed to a "typography", primarily because it requires a few layout changes, but also because fiddling with writing modes changes the [block flow direction](https://drafts.csswg.org/css-writing-modes/#block

[2022-01-13 04:05] tellthemachines commented on #35376
@glendaviesnz I can still reproduce it on latest trunk, will create an issue.

[2022-01-13 04:41] JosVelasco commented on #33581
I had to manually add the tag ID using the code view of the editor. I'm also waiting for this fix.

[2022-01-13 04:52] tellthemachines commented on #35376
Actually, I might need a bit of help with this 😅

I can only reproduce the issue on TT2, seemingly because other themes that allow spacing to be set in Navigation also have custom styles overriding the default block styles. I tried testing on empty theme, but it's not set up to allow spacing in Nav. How can I go about enabling that setting in a theme?

UPDATE: my empty theme was an old version, te

[2022-01-13 05:08] andrewstaffell commented on #36687
`.htaccess` is present and has the correct WP rules in it.

I've tried messing with the permalink settings to no avail.

In case it helps to debug and/or add the required sanity checks, the line of code that's failing is in `wp-content/plugins/gutenberg/build/edit-site/index.min.js` and is line 1242 when I use Chrome Dev Tools to pretty print it. The specific (minified) line is:

[code]

[2022-01-13 05:12] tellthemachines opened #37935 "Social Links has inconsistent spacing when child of Navigation"
### Description

When the Social Links block is a child of the Navigation block, it inherits the gap spacing from Navigation on the front end, but not in the editor.

This seems to happen because Social Links default styles take the gap value from ` --wp--style--block-gap` variable. If the parent Navigation has custom spacing set, it outputs a new value for ` --wp--style--block-gap` on the front e

[2022-01-13 05:17] jordesign opened #37936 "Featured Image Block: Center alignment does not work"
### Description

When Center alignment for the Featured Image block is selected - it does not change the alingment.

I expected selecting center alignment to center the image - but it remained left aligned.

### Step-by-step reproduction instructions

1. Make sure your site has at least one post with a Featured Image uploading
2. Open the index template in the site editor
3. Add or select a Featur

[2022-01-13 05:18] andrewserong commented on #35376
Thanks @tellthemachines! 🙇

[2022-01-13 05:29] kafleg commented on #36687
I am not able to replicate it now.
Tested in RC2

[2022-01-13 05:53] devinmaeztri commented on #37936
Hi @jordesign! Thanks for reporting this. I'm able to reproduce the steps.
To add a context, the featured image can't be centered when custom width is applied.

[2022-01-13 07:03] talldan commented on #37764
I think the issue with this one might be that it selects an existing template part here:
https://github.com/WordPress/gutenberg/blob/80ffd8c6e6daf43abb3398b74280a7c5ab6257dc/packages/e2e-tests/specs/site-editor/template-part.test.js#L329-L332

But it doesn't wait for that template part's content (a paragraph block) to actually be present in the DOM before making assertions. While template part con

[2022-01-13 07:12] ddryo opened #37938 "The "Add Block" button at the end of the inner block is not displayed."
### Description

When editing an inner blocks in a Group block, etc., the "Add Block" button that used to appear at the bottom of the last block is no longer displayed in WordPress 5.9.

It is now very difficult to add a new block when placing anything other than a "block that can generate the next block on a new line" such as a Paragraph block.

### Step-by-step reproduction instructions

1. For

[2022-01-13 07:25] ddryo commented on #37538
I couldn't confirm the problem of not being able to remove "highlight", but I agree with the suggestion that we should use `span` instead of `mark`.

If you only want to set the font color without setting the background color, I don't think it needs to be a `mark` tag.

In addition, the use of the `mark` tag causes the following problems.

When setting only the font color without setting the backg

[2022-01-13 08:17] Mamaduka commented on #37912
Hello, @Tropicalista

How are you inserting the pattern? The `template_lock` disables block inserter.

Am I missing any details?

## Screenshot
![CleanShot 2022-01-13 at 12 15 24](https://user-images.githubusercontent.com/240569/149291863-3e5da76c-a36c-422a-a766-fa41cdd21291.png)

[2022-01-13 08:20] Mamaduka commented on #33789
I am assigning this to myself. I will have PR ready shortly.

[2022-01-13 08:22] westnz commented on #37524
I have experienced the same issue

https://user-images.githubusercontent.com/89751452/149445164-cac8c6ce-7d66-4f9d-a5fc-8bdc361b13b5.mov

[2022-01-13 08:37] Tropicalista commented on #37912
I have probably messed up something. I was testing the 5.9 release candidate.

Once the custom post type is created, the button is disabled. But if I try to insert a child block the pattern is enabled and should work. This was working great on 5.8.3.

You can test it using my plugin: https://wordpress.org/plugins/popper/

[2022-01-13 08:59] gziolo commented on #34478
We discussed this issue also on WordPress Slack (link requires registration at https://make.wordpress.org/chat):

https://wordpress.slack.com/archives/C02QB2JS7/p1641920214075100

There is a [Trac ticket](https://core.trac.wordpress.org/ticket/54797) created by @Rahe where I also left a comment on how we could improve handling in WordPress core to have a better developer experience.

It feels like

[2022-01-13 09:16] javierarce commented on #37725
Yes, I think that is the only thing left to close this issue.

[2022-01-13 09:18] ramonjd commented on #37935
Social links already opts-in to `blockGap` support so maybe it's okay for the block to take care of its own gap values?

I tried replicating this bug but couldn't as much as I tried! Here's me in TT2:

https://user-images.githubusercontent.com/6458278/149301256-9c904636-30fe-4dad-9658-32d7c9511855.mp4

Am I doing it right?

I see the default gap value is `--wp--style--block-gap` for both editor an

[2022-01-13 09:18] Mamaduka commented on #37725
I will create the last PR for design changes shortly. We #37914 can merge separately.

[2022-01-13 09:40] gziolo commented on #24376
We are discussing ways to automate npm publishing with GitHub actions in https://github.com/WordPress/gutenberg/discussions/37820. Part of the conversation is using `npm-dist-tag` command to tag specific package versions with a related Gutenberg plugin release or the WordPress major release.

[2022-01-13 09:56] simison commented on #37598
@mcsf @youknowriad is this bug in someone's radar already? It's such a highlight feature that it's bummer to be broken for almost a month.

[2022-01-13 10:13] #37919 closed, assigned to richtabor

[2022-01-13 10:31] fabiankaegy opened #37943 "Allow usage of block based "template parts" without using block based "templates""
## What problem does this address?

Jumping all in on Block Based Themes can be quite difficult & disruptive. Especially on a legacy theme that has loads of customizations that currently are not feasible within a block based theme. There may be new areas of the site though or specific areas of the site where it would be interesting to use the new tools to build just a part of the theme in a block

[2022-01-13 10:41] fabiankaegy opened #37944 "Add ability for theme authors to restrict creation of new block base templates and template parts"
## What problem does this address?

Currently editors are able to create new templates and template parts from within the template editor. This is great in most use cases as it allows for everyone to more easily extend the theme they are using and customize it to their needs.

This however also poses some issues especially in hybrid themes that still have very specific custom php based templates t

[2022-01-13 10:44] gziolo commented on #24376
Looks great. We probably can make it more general and allow any dist tag:

`wp-scripts packages-update --dist-tag=gb-7.5`

I guess we should ignore bug/security fixes from the naming schema because by design you expect that WordPress core and plugins run auto-updates for them.

[2022-01-13 11:06] jameskoster opened #37946 "Make Top Toolbar position in template part focus mode to be consistent with other editors"
When you enable the "Top Toolbar" option it appears like so when editing a template part in focus mode:

<img width="1532" alt="Screenshot 2022-01-13 at 10 54 25" src="https://user-images.githubusercontent.com/846565/149317787-3f893042-1024-478d-8879-48c708d3cd70.png">

This looks a little strange. It might be better to do something like:

<img width="1686" alt="Screenshot 2022-01-13 at 10 57 14"

[2022-01-13 11:35] Mamaduka commented on #37708
@jasmussen, @jameskoster, do you mind having a look at this? I'm pretty sure it's an overflow issue, but I can't point my finger on it 😄

[2022-01-13 11:39] Andrew-Starr commented on #37930
Yes please!

My thoughts on this, some of which may or may not be possible. Just putting them out there.

Make the returned icon filterable.

Options in the block controls to select a different icon.

Option to use the Button block instead. I know some who dislike hamburger icons and would prefer to have a button, that could then use any text they like such as 'Menu' etc.

[2022-01-13 11:43] Mamaduka opened #37947 "Add back warning for incorrectly enqueue styles in post editor iframe"
After #37466 is merged. Add back warning when the stylesheet was added incorrectly or revert - #37937.

[2022-01-13 12:06] jameskoster commented on #37708
Yup it's cause by this line: https://github.com/WordPress/gutenberg/blob/trunk/packages/edit-site/src/components/editor/style.scss#L35 which was added in https://github.com/WordPress/gutenberg/pull/35974. Perhaps @kevin940726 can confirm why we need that rule and if there's an alternative approach we could try.

[2022-01-13 12:07] #37799 closed, assigned to ntsekouras

[2022-01-13 12:30] sarayourfriend commented on #37766
Right, I have no idea. I can share my anecdotal experience with the handbook when I first started to learn Gutenberg development roughly two years ago... it was borderline useless for me, and reading the source code was the only way I found that helped me understand how to use stuff or what anything was doing. You're definitely right about `Object` and `Function` types being more or less useless a

[2022-01-13 12:31] ariel-maidana opened #37948 "Disable blocks for all users from Gutenberg Preferences"
## What problem does this address?

A user can disable certain blocks from **Gutenberg Preferences ---> Blocks ---> Visible blocks**. Those settings only apply to the current user. If an administrator wants to disable certain blocks for all users, they have to use a plugin like the [Gutenberg Block Manager](https://wordpress.org/plugins/block-manager/).

![imagen](https://user-images.githubusercon

[2022-01-13 13:05] Mamaduka commented on #37725
@javierarce this is how modal looks after applying remaining changes, including @jasmussen [suggestion for avatar](https://github.com/WordPress/gutenberg/pull/37914#issuecomment-1010955179) on top of the latest fixes.

![CleanShot 2022-01-13 at 17 02 29](https://user-images.githubusercontent.com/240569/149335494-b54b5533-4631-49c8-833c-688b1c089bcb.png)

[2022-01-13 13:58] ajlende commented on #37598
It's on my radar. I've been focused on #37727, but have this in my queue next.

[2022-01-13 15:45] getdave opened #37950 "Navigation Focus Mode: Ability to access/edit Navigation Post items in isolation"
## What problem does this address?

Since the move to saving Navigation items to a custom post type (`wp_navigation`) there is no longer a way to access the inner blocks data of a Navigation block.

This causes problems for users who wish to manually copy the inner blocks and use in a pattern or on another site.

Moreover, users are forced to use the Navigation block directly as the only way edit

[2022-01-13 15:48] t-hamano commented on #33212
What about a way to tie `wp_add_inline_style` to the core handle?
Like this:

[code]

I have confirmed that the inline CSS is output in the iframe.
We will be able to output customizer values as CSS properties or inject arbitrary CSS from plugins that do not have blocks using this approach.
Is there anything wrong with relying on the core handle in this way?

[2022-01-13 16:10] javierarce commented on #37725
@Mamaduka would it be possible to place all the text on the same column? It would look cleaner.

![image](https://user-images.githubusercontent.com/4933/149366577-b663ccd2-d2c1-480c-8b24-078524b27bc7.png)

[2022-01-13 16:27] getdave commented on #26215
[This forum user](https://wordpress.org/support/topic/order-of-elements-when-stack-on-mobile-for-media-and-text-block-2/) would also like this feature to be added

[2022-01-13 16:51] costdev opened #37953 "Navigation block: "Justify items" not working."
### Description

In a stream by @ryanwelcher, it was noticed the navigation block doesn't respect the user's choice of item justification.

### Step-by-step reproduction instructions

1. Add a Navigation block.
2. Click "Add all pages".
3. Click the alignment icon and select "Justify items right". The items will justify to the right.
4. De-select the Navigation block. The items will justify to the

[2022-01-13 17:15] costdev commented on #37953
Looks like this has been fixed by PR: https://github.com/WordPress/gutenberg/pull/37718/.

[2022-01-13 17:15] #37953 closed, assigned to nobody

[2022-01-13 18:43] annezazu commented on #37943
@priethor just wanted to put this on your radar as this might be another great idea to consider for gradual adoption measures.

[2022-01-13 20:09] Andrew-Starr opened #37958 "Remove identical nested template parts when saving/updating"
## What problem does this address?

It is possible to insert the same template part inside a template part.

This displays the `Block cannot be rendered inside itself.` message in the editor and the `[block rendering halted]` message on the front end.

## What is your proposed solution?

As the same template part cannot be rendered when it is inside another of the same template part, perhaps it wo

[2022-01-13 20:17] anton-vlasenko commented on #28152
A nonce has to be specified in order to use some REST API endpoints.
This [document](https://developer.wordpress.org/rest-api/using-the-rest-api/authentication/#cookie-authentication) states, that

You need to either add a nonce as a request parameter
http://your.wordpress.site/wp-json/wp/v2/templates/?_wpnonce=your_generated_nonce
or add the `X-WP-Nonce` header to the request.
I had no issues wit

[2022-01-13 20:47] sabernhardt commented on #37511
I think I should recommend the first option: removing the text color from the editor's "theme" CSS file. The `code` element assigns a text color without a contrasting background color. Even though removing the line would change the color on many sites, those sites _should_ fall back to the same color as surrounding content (or use their own `code` element styling).

Twenty Twenty-One's Dark Mode o

[2022-01-13 21:13] carlomanf commented on #28152
Thanks, I guessed there was some authentication step missing but couldn't find the documentation.

[2022-01-13 21:13] #28152 closed

[2022-01-13 22:21] base-creme opened #37960 "Links with another page with anchor link not working in Gutenberg button block"
### Description

When adding anchor link to gutenberg button block, link is desactivated.

### Step-by-step reproduction instructions

1. Create button with block button
2. Enter name of a page (https://mysite.com/products)

Link works

1. Add anchor to link (https://mysite.com/products#latest)

Link doesn't work anymore.

### Screenshots, screen recording, code snippet

_No response_

### Environ

[2022-01-13 22:41] miguelpeixe opened #37961 "Iframe stylesheets are not cloned in Firefox"
### Description

The `styleSheetsCompat()` strategy introduced by #25775 is not working properly on Firefox (tested in 96.0). It behaves as expected on Chrome and Safari

### Step-by-step reproduction instructions

1. Enqueue a style containing one of the keywords to match the cloning strategy (e.g.: `.editor-styles-wrapper`)
2. Edit a post, toggle block inserter, click on "Patterns"
3. Observe th

[2022-01-13 23:21] fullofcaffeine commented on #33073
I think this has been fixed by https://github.com/WordPress/gutenberg/pull/35416. @ellatrix added E2E tests there.

[2022-01-13 23:21] #33073 closed, assigned to nobody

[2022-01-13 23:34] annezazu commented on #37958
My druthers would be for this option personally. We already have elements of this with blocks being context aware so it would be good to extend.

[2022-01-13 23:37] walbo commented on #37573
I can consistently reproduce this on RC2 when `SCRIPT_DEBUG` is `false`.

When script debug is disabled all the styles are concatenated into `load-styles.php`. Because of this all admin styles are added to the iframe preview and not only the required ones.

Ex. When the styles are not concatenated the `wp-reset-editor-styles` are not included in the iframe.

https://github.com/WordPress/gutenberg/

[2022-01-14 00:40] tellthemachines commented on #37935
@ramonjd if you set a gap value for Social Icons, the issue won't be noticeable because that value will override the one inherited from Nav. Can you not reproduce it even if Social Icons has no gap set?

If you can be bothered, another option is to try empty theme from [this repo](https://github.com/WordPress/theme-experiments) to make sure there's no theme style contamination 😅

[2022-01-14 01:05] ramonjd commented on #37935
Yeah, in the first half of the recording I didn't set the Social Icons gap and I couldn't reproduce.

I did try empty theme as well, but often things happen to me only, so I'll definitely try again 😄

[2022-01-14 01:22] talldan commented on #37479
This reopened, but I can see that the code in the error message is outdated. It must have failed again on an old outdated PR.

[2022-01-14 01:31] talldan commented on #36123
Seems like this is still failing. Not sure why, though it could be an actual bug. Most likely still a timing issue though, maybe Cmd+Z is being pressed too quickly.

[2022-01-14 01:41] dlh01 opened #37966 "`apiFetch` returns different types for preloaded, unparsed OPTIONS requests"
### Description

In #35527, the preloading middleware was updated to use preloaded `OPTIONS` requests only once, which matched a previous change for `GET` requests.

When the middleware returns preloaded data for a `GET` request with `{ parse: false }`, it wraps the data in a `Response` object. But for `OPTIONS` requests, the middleware always returns a plain object, which means that preloaded `OP

[2022-01-14 02:17] ramonjd commented on #37935
Okay, I see it now!

https://user-images.githubusercontent.com/6458278/149439448-ad162032-5a40-438b-88be-37552c3ae098.mp4

Not sure yet, but my first guess is because we're not ignoring blockGap in rendered blocks as we do for the js [hook](https://github.com/WordPress/gutenberg/blob/3f43af06db0b017bc09124f1ca99ed89d16cb471/packages/block-editor/src/hooks/style.js#L77).

Looking at fixing it in na

[2022-01-14 02:41] talldan commented on #37515
I agree with @jasmussen. This is more of a general block UI issue rather than a navigation block issue.

[2022-01-14 02:42] ramonjd commented on #37935
The variable between my first test (in which I could not reproduce) and the second test was that I was using WordPress 5.8.2.

When using 5.9 beta (basically wp-env from the Gutenberg trunk) I can reproduce. 🤔

I can reproduce this on

WordPress: 5.9-beta3-52383
Gutenberg: 12.4.0-rc.1

[2022-01-14 02:44] talldan commented on #35257
This one hasn't happened since October, so I'll close it out.

The test was re-written so hopefully that means it's solved. 🎉

[2022-01-14 02:46] talldan commented on #35235
This one hasn't happened for a while, and the tests were rewritten, so hopefully that means it's solved.

I'll close it.

[2022-01-14 02:52] talldan commented on #35280
This test doesn't seem to exist any more. Possibly renamed or refactored?

[2022-01-14 02:57] talldan commented on #35578
Closing this, it seems like a one-off server error.

[2022-01-14 02:58] ramonjd commented on #37935
The plot thickens

I checked out https://github.com/WordPress/wordpress-develop and built the Gutenberg trunk plugin, and can longer reproduce 😭

WordPress: 6.0-alpha-52448-src
Gutenberg:  12.4.0-rc.1

<img width="300" alt="Screen Shot 2022-01-14 at 1 56 18 pm" src="https://user-images.githubusercontent.com/6458278/149443819-9f411c88-2f6a-4e69-8640-751ed0c0bbef.png">

[2022-01-14 02:58] talldan commented on #35449
This seems to have only happened once, and the test shows an Internal Sever Error, so possibly a brief issue with the testing environment.

[2022-01-14 02:59] drocks13 opened #37967 "Attribute with type 'object' no longer saved in the block comment delimiter"
### Description

This is an issue with the WordPress block editor. When setting a block attribute as an object in a block, and no source, the attribute is no longer saved in the block comment delimiter when it is changed. This use to be the behavior; I am not sure when it changed but in was working in the spring of 2021. Now the object type attribute is not saved in the comment delimiter.

I can't

[2022-01-14 03:00] talldan commented on #35448
The failure only happened once, and the test logged an Internal Server Error, so possibly a brief issue with the testing environment. I've spotted a few of these now. Closing this.

[2022-01-14 03:00] talldan commented on #35617
The failure only happened once, and the test logged an Internal Server Error, so possibly a brief issue with the testing environment. I've spotted a few of these now. Closing this.

[2022-01-14 03:00] talldan commented on #35862
The failure only happened once, and the test logged an Internal Server Error, so possibly a brief issue with the testing environment. I've spotted a few of these now. Closing this.

[2022-01-14 03:16] talldan opened #37968 "Flaky tests - consider auto-closing stale flaky test reports"
## What problem does this address?
It might be good to auto-close stale flaky test reports if the flakiness hasn't reoccured for a while.

At the moment this requires manual triage. I've had a quick look through the issues sorted by 'least recently updated' to find stale reports (and closed a bunch):
https://github.com/WordPress/gutenberg/issues?q=is%3Aopen+is%3Aissue+label%3A%22%5BType%5D+Flaky+T

[2022-01-14 03:29] #33616 closed, assigned to nobody

[2022-01-14 03:35] kevin940726 commented on #37968
Interesting! I think it's a great idea!

I think we can do some checking in the GH action to filter out skipped tests? Pseudo code below:

[code]

[2022-01-14 03:49] talldan commented on #37968
Yeah, that's something I had in mind too. I was thinking we might have to grep the codebase, but thanks for pointing out the Jest documentation, that would be a lot better, I'll take a look.

It might be good to get the bot to label those skipped tests if we can detect them.

[2022-01-14 04:03] talldan commented on #37966
cc @anton-vlasenko

[2022-01-14 04:12] talldan commented on #37960
@base-creme I tested and couldn't reproduce an issue. Would you be able to share some screenshots of what you're seeing in the editor for the link?

[2022-01-14 04:16] ramonjd commented on #37935
I also cannot reproduce on:

WordPress: 5.9-RC2-52567-src
Gutenberg: 12.4.0-rc.1

[2022-01-14 04:28] talldan commented on #37950
cc @mtias

This is an important next step alongside other nav block refinements. I think this needs some design input, so will add a label.

From a UI perspective, the main thing is that the inner content of the nav block is distinct from the navigation block styles (a bit like the situation here for template parts - https://github.com/WordPress/gutenberg/issues/30641), so there would be no way to

[2022-01-14 04:49] ramonjd commented on #37935
This PR removed the gap inline style from block wrappers on the frontend and backend https://github.com/WordPress/gutenberg/pull/37360

It was added to WP in this changeset 10 days ago https://core.trac.wordpress.org/changeset/52434/

Given that it works in a 5.9 RC, I think we should be okay?

[2022-01-14 05:45] carolinan opened #37969 "Not all custom .html templates in the templates folder are editable from the Template section"
### Description

In a custom block theme, I have the following custom templates in the templates folder:
no-title-template.html
sidebar-page-template.html
sidebar-post-template.html

I am using these longer names because I don't want them to be automatically assigned to a post called "sidebar" and so on.

In theme.json:
[code]

The no title template has an Edit link when it is selected in the Temp

[2022-01-14 05:49] carolinan commented on #37969
Pinging @ellenbauer in case you want to test if you can reproduce this.

[2022-01-14 05:57] carolinan opened #37971 "Block themes that support the customizer has two Editor links under appearance"
### Description

When you activate a block theme that has support for the customizer, for example Blockbase, and you also activate Gutenberg, there are two links to the Editor.
One to wp-admin/site-editor.php and one to wp-admin/themes.php?page=gutenberg-edit-site

### Step-by-step reproduction instructions

1. Activate the themes "Aino" or "Blockbase" from the theme directory
2. Activate Gutenber

[2022-01-14 05:58] carolinan commented on #37971
Pinging @ellenbauer @kjellr in case these are theme issues.

[2022-01-14 06:59] alexstine opened #37972 "List View: Cannot collapse parent Block which contains child Blocks with screen reader"
### Description

The List View does not allow you to collapse a parent Block such as Columns Block while using a screen reader.

### Step-by-step reproduction instructions

1. Open a Post or Page for editing.
2. Insert some Blocks.
3. Insert a Columns Block and choose a variation from the list.
4. Open the List View.
5. With the keyboard, navigate to the Columns Block.
6. Notice how pressing Left

[2022-01-14 08:13] talldan commented on #37972
I gave it a test on Mac OS X (Voiceover and Safari) and it worked ok. Unfortunately I don't have a way to test Windows since switching to an M1 Mac.

[2022-01-14 08:36] ddryo opened #37973 "'use the block API's style' warning for CSS loaded by 'admin_enqueue_scripts'."
### Description

CSS that is not for a specific block but for the UI of the admin and editor are loaded using the `'admin_enqueue_scripts'` and `'enqueue_block_editor_assets'` hooks.

Then, when the device preview is toggled or the block style preview is opened, those CSS are loaded in the `<iframe>`, and the "**use the block API's style**" warning appears as shown below.

<img width="535" alt="スク

[2022-01-14 08:47] aristath commented on #37973
These warnings were already removed in https://github.com/WordPress/gutenberg/pull/37937 and the change will be backported to WP5.9 👍
Closing this one as it has been resolved

[2022-01-14 08:47] #37973 closed, assigned to nobody

[2022-01-14 08:49] #37086 closed, assigned to talldan

[2022-01-14 09:08] mrleemon opened #37974 "Target specific versions of WordPress in theme.json docs"
### Description

In the "Developing with theme.json" section of the Block Editor Handbook, the example shown uses the latest version of the schema (`https://schemas.wp.org/trunk/theme.json`), but there's no mention that a theme developer can also target specific versions of WordPress (`https://schemas.wp.org/wp/5.9/theme.json`).

https://developer.wordpress.org/block-editor/how-to-guides/themes/th

[2022-01-14 09:46] carolinan commented on #37511
Unless I misunderstood something, this was fixed in https://github.com/WordPress/gutenberg/pull/37816.

[2022-01-14 09:47] github-actions[bot] opened #37976 "[Flaky Test] should display the correct preview when switching between published and draft statuses"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should display the correct preview when switching between published and draft statuses

## Test path
`/test/e2e/specs/editor/various/preview.spec.js`

## Errors

<time datetime="2022-08-19T18:05:33.637Z"><code>[2022-08-19T18:05:33.637Z]</code></time> Test passed after 1 fail

[2022-01-14 09:49] jasmussen commented on #37930
We've discussed at a high level some ideas on how we can bring additional customization to the icon in [this PR](https://github.com/WordPress/gutenberg/pull/36149#issuecomment-963507177). The basic idea is to add a "card" preview to the inspector, similar to [that of Global Styles](https://github.com/WordPress/gutenberg/issues/34574), which can be clicked to surface additional customization option

[2022-01-14 10:02] Andrew-Starr commented on #37958
This issue can also be present when including a template within itself, although right now not so much of an issue as you cannot do this with the block inserter tools.
When (if?) the code editor is available this will be possible, but I guess if someone is using the code editor they are not so likely to be the average non-technical user adding blocks that won't work.

@annezazu thank you for expan

[2022-01-14 10:09] jasmussen commented on #37946
Definitely better! Tangentially to this, a while back I explored what it might look like if the option still fixed the toolbar to the top, but still retained the same visual appearance of the floating version. The primary benefit would be an identical toolbar design that remained consistent across mobile and tablet previews as well. I ultimately feel these mockups were not succesful, but wanted to

[2022-01-14 10:18] alexstine commented on #37850
Makes sense to me. Less clicks for sure. Would make it work the same as Edit Post/Page/other post type. I would not be happy if I clicked Edit Post and got taken to the list of posts vs. the post I wanted to edit.

[2022-01-14 10:47] ndiego commented on #37573
Just wanted to add my notes here. In doing a little testing last night, I disabled Gutenberg and tested just 5.9 Beta RC2. The pattern previews were all over the place, both in Chrome and Safari. I have tried identifying the root cause with little success.

This first image is TT2 in 5.9 RC2. Notice how tall the container with bird image is and the pattern with Query block is not rendering properl

[2022-01-14 10:54] alexandrebuffet opened #37977 "Columns block: blockGap enabled in theme.json but no "Block spacing" control in "Dimensions" panel"
### Description

The blockGap option for the Columns block appeared to have been introduced with [#34630](https://github.com/WordPress/gutenberg/pull/34630), but the "Block spacing" control no longer appears in the Dimensions panel.

Tested up with WordPress 5.9-RC2 and Twenty Twenty-Two, only padding and margin controls shows up.

On WordPress 5.8.3 + Gutenberg 12.3.2 and a custom block theme, ev

[2022-01-14 12:03] alexstine commented on #37972
@talldan It's the keycode detection messing this up on Windows. I'm still looking in to it.

[2022-01-14 12:20] alexstine commented on #37972
Part of me wonders if it is useCallback causing some kind of issue. wordpress/keycodes is used plenty of other places and not causing issues. It's like useCallback() is only allowing certain keys to execute instead of every keypress.

[2022-01-14 12:37] Mamaduka commented on #10081
The Spacer block now supports different units for height, not just pixes, so I think we can close this issue. See #36186.

[2022-01-14 12:54] carolinan commented on #37969
Way over my head here, but it seems that the template is `undefined`, which leads to the missing edit link, when this condition is triggered: https://github.com/WordPress/gutenberg/blob/trunk/packages/edit-post/src/store/selectors.js#L399

[2022-01-14 13:23] drocks13 commented on #37967
A little more testing on this. The setAttributes is updating the editor data store. In the browser console, I can see all blocks with wp.data.select( 'core/block-editor' ).getBlocks() and check the attributes - they have updated in the store. However, checking the REST api request sent when I hit update shows that the attribute has not been added to the block comment delimiter.

I can probably tra

[2022-01-14 13:32] priethor commented on #37968
Yes, please! Great idea!

 I've also been triaging some of the `Flaky tests` issues, and a significant number of them go unnoticed. If no action is taken in a predefined time, I think it should be closed as it is unlikely that it gets attention unless the test fails further down the road, in which case the issue can be reopened.

[2022-01-14 13:39] hypest commented on #37594
Seems to me that none of the items in the list so far are too pressing to work on immediately, what do you think @dcalhoun ? If so, I'd like to move this ticket out of the triage state and to the backlog.

[2022-01-14 13:39] kjellr opened #37981 "[Color Picker] Make custom HEX text field available without a click"
Currently (Gutenberg 12.4), the color value inputs are not available unless you click on the "Show detailed inputs" button. If you don't click that button, click on the hex value shown, you'll activate a "Copy" action.

![inputs](https://user-images.githubusercontent.com/1202812/149522617-86ca10ed-eaaa-4311-95a5-6a2e5af9541c.gif)

Users who want to input their own custom HEX values need to learn t

[2022-01-14 13:42] JustinyAhin commented on #37891
I was able to reproduce the issue, but it looks like it happens in very specific conditions.

## Environment
- OS: macOS BigSur 12.0
- Browser: Firefox Developer Edition 96.0b10
- WordPress 5.9-RC2
- Plugins: WordPress Beta Tester
- Theme: TT2

## Steps to reproduce
This is still not very clear. Here is what I did though:
- In the theme editor, create a blank page template
- Create empty paragraph

[2022-01-14 13:49] piotrbak commented on #37891
I'm able to reproduce this issue.
### Environment
-TT2 theme, Windows 10, Chrome, 1920x1080, 5.9-RC2-52567 WP

### To reproduce, in my case:
1. Go to the Single Post editor (using TT2)
2. Scroll to the bottom
3. Add a new block, let's say Cover
4. Try to add a new block inside the group that contains comment block
5. See the error

It also happens when the page is fully scrolled down.

Screencast:

[2022-01-14 13:56] piotrbak commented on #37806
Also not able to reproduce this on Chrome.

[2022-01-14 13:57] monika-12 commented on #37806
Couldn't replicate in the Post Editor with 5.9 RC2 on Chrome.

[2022-01-14 13:58] kjellr commented on #37971
I haven't looked into this personally, but I believe @pbking found that in the case of Blockbase, this was a theme issue. There's a PR here that fixes it: https://github.com/Automattic/themes/pull/5303.

[2022-01-14 14:02] carolinan commented on #37969
I can't explain this but if I delete the page.html AND search.html templates from the theme, sidebar-post-template.html has a visible and working edit link.

[2022-01-14 14:02] JustinyAhin commented on #37809
I've tried reproducing this. It works as expected on Chrome.

Same thing for Chromium. @jaredyork could you maybe add more testing instructions.

Here are the details for the Chromium test.

I was able to reproduce the issue, but it looks like it happens in very specific conditions.

## Environment
- OS: macOS BigSur 12.0
- Browser: Chromium
- WordPress 5.9-RC2
- Plugins: WordPress Beta Tester
- T

[2022-01-14 14:18] hypest commented on #37858
👋 @dcalhoun , you probably have some bandwidth available to dive into this issue? Let me know if this doesn't lend itself too much for you picking it up. Thanks!

[2022-01-14 14:20] ellatrix opened #37982 "Unable to place caret after cancelled multi-select"
### Description

I've been editing a post on WordPress.com (so not sure if this also occurs with the latest version), and after editing it for a while I can no longer place my caret in some block’s text.

This is probably a problem in the multi select triggering where it should be cancelled but the contenteditable field attributes are not restored.

I'm just logging it here in case someone is expe

[2022-01-14 14:41] alanjacobmathew commented on #37806
Couldn't replicate on Brave and Edge browser . 5.9 RC2

[2022-01-14 15:04] dcalhoun commented on #37594
@hypest I agree that none of them are critical and that we should move it to the backlog. That said, I will share my thoughts on the impact of each task.

Regardless of the deprecations, I believe the further we allow our dependencies to become outdated, the more difficult it will be to upgrade them. Additionally, I foresee these outdated dependencies eventually disrupting our ability to upgrade R

[2022-01-14 15:09] dcalhoun commented on #37858
@hypest yep! Happy to work on addressing this issue.

[2022-01-14 15:20] sabernhardt commented on #37511
Ah, yes, that should fix it. Thanks!

[2022-01-14 15:20] #37511 closed, assigned to nobody

[2022-01-14 15:29] drocks13 commented on #37967
An odd short term fix to this problem is to set an empty objects when the block was created, even though the default was an empty object. Example
`
testAttribute: { type: 'object', default: '' }...... //set the default as a string to trigger a single call to set the attribute in the beginning.

if(attributes.testAttribute == '') {
	setAttributes({testAttribute:{}});
}`

For some reason the empty o

[2022-01-14 15:30] strarsis commented on #36603
+1, same issue! Using a SVG logo (which is best practice these days).

A fix is replacing
[code]
with
[code]
in (Gutenberg plugin/)[`build/block-library/blocks/site-logo.php:17`](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/site-logo/index.php#L17).

@aristath: IMHO it is good practice anyway to always for a non-zero divisor (with or without SVG support).
There can

[2022-01-14 15:30] anton-vlasenko commented on #37966
I will look into this. Thanks, @talldan.

[2022-01-14 15:54] #37725 closed, assigned to nobody

[2022-01-14 16:00] hypest commented on #37594
Very useful context David, thanks for sharing!

It's clear that yeah, not all items are of the same importance or impact, and since none is critical but yet, a few are important enough, I'll go ahead and add "[Pri] high" to keep it close to the "surface", for us to revisit soon as we'll be planning 2022 projects. How's that sound to you?

[2022-01-14 16:16] dcalhoun commented on #37594
@hypest sounds good. Thank you.

[2022-01-14 16:40] mrwweb commented on #10081
I'll just throw out that I think until the default value of the spacer block is changed to a responsive value (`5vh`?), the usability concerns expressed in this ticket—default usage leads to unresponsive bad results on small screens—are still valid.

[2022-01-14 16:45] Rockstar907 commented on #10081
Please lock my account that is not me changing it.

On Fri, Jan 14, 2565 BE at 7:40 AM Mark Root-Wiley ***@***.***>
wrote:

[2022-01-14 16:45] Bysander commented on #7845
Plus bloody 10 for this - didn't hear about that one sneak in.

Also +10 for `disallowedBlocks` please - I've needed it for nearly every nested block I've written

Anyway, one method I've tried is using select > `getInserterItems( clientId )` then removing your "disallowedBlocks" works in the console - but you can't pass this to `allowedBlocks` without a clientId - and you don't have on on the blo

[2022-01-14 16:52] Rockstar907 commented on #7845
I don’t know what all this means. But y  if any you

On Fri, Jan 14, 2565 BE at 7:46 AM Bysander ***@***.***>
wrote:

[2022-01-14 16:56] Rockstar907 commented on #7845
I’m afraid to open any other messages or anything on my phone for that
matter. Not sure what I can do or who to bring this to

On Fri, Jan 14, 2565 BE at 7:46 AM Bysander ***@***.***>
wrote:

[2022-01-14 17:03] Rockstar907 commented on #7845
Someone has all my info . I have identified theft it’s been noted since at
least 2017. But I think it much closer to hone than I had originally
thought. Except it has completely destroyed my life this time
On Fri, Jan 14, 2565 BE at 7:46 AM Bysander ***@***.***>
wrote:

[2022-01-14 17:10] Bysander commented on #7845
This is a GitHub thread for Wordpress Gutenberg @Rockstar907 is your username and you're posting to a bug board via email. We can't see your details or info.

[2022-01-14 17:11] luisrull opened #37987 "Wrong notice when adding Post comment Form to a page"
### Description

When you add a "Post comment Form" block in a Page, the notice showed is
"_Post Comments Form block: comments to this post are not allowed._ " (build/block-library/index.js:30501)
and it should be
"_Post Comments Form block: comments **to a page** are not allowed._ "
or
"_Post Comments Form block: comments **to this post or page** are not allowed._ "

### Step-by-step reproduction

[2022-01-14 18:34] whizzzkid opened #37988 "Block unit tests break when testing a gutenberg block as a unit."
### Description

After upgrade, we noticed our custom components started breaking. The reason for that was the wrapper API changed and now we need to access the wrapper using `useBlockProps` and `useBlockProp.save`. This fixed the component and it started working as expected. But this broke our unit tests with the error:

[code]

### Step-by-step reproduction instructions

Say we create a componen

[2022-01-14 18:52] whizzzkid commented on #37988
**RCA:** It looks like when testing the components like so, the `useBlockProps.save` calls `getBlockProps` [here](https://github.com/WordPress/gutenberg/blob/trunk/packages/blocks/src/api/serializer.js#L84) the problem there is:

[code]

`blockPropsProvider` has not been yet populated. so a workaround here is:

**Fix:**

[code]

the fix is to call `getSaveElement` before calling `useBlockProps.sav

[2022-01-14 19:43] tcmulder commented on #26667
Thanks @skorasaurus! When using `'init'`, the buttons and query categories were still available under the Patterns tab (everything else was gone), and they went away only after switching to `'after_setup_theme'`. So if someone else is noticing some patterns sticking around and not others, check the hook.

[2022-01-14 20:20] kjellr opened #37989 "[Post Comments] Unnecessary code comments are output to the front end"
### Description

The Post Comments block outputs unnecessary HTML comments on the front end. Most of this seems pretty harmless, but the `` snippet seems like a really confusing message to show here. 🙂

### Step-by-step reproduction instructions

1. Add a "Post Comments" block.
2. Publish or Preview the post on the front end.
3. Open the inspector, and find the outputted code.

### Screenshots, sc

[2022-01-14 21:54] ivanjeremic opened #37992 ""TypeError: MiniCssExtractPlugin is not a constructor" in fresh wp-scripts installation"
### Description

I get this on a fresh install what can be the issue?

[code]

### Step-by-step reproduction instructions

'npx @wordpress/create-block gutenpride'

### Screenshots, screen recording, code snippet

_No response_

### Environment info

node version v16.13.1
npm version 8.1.2

### Please confirm that you have searched existing issues in the repo.

Yes

### Please confirm that you hav

[2022-01-14 22:05] jonshipman commented on #37992
Another way to reproduce:

[code]

Been fighting with this one all afternoon. Tried rolling back to 19.2.1, no dice. Me thinks something updated today that broke a webpack plugin.

Interesting note: this error only shows up on yarn classic. yarn berry fails silently. Ruined my pipelines today.

[2022-01-14 22:08] afragen commented on #37717
I think I found a better place to create a simple filter that can accomplish the purpose. PR coming.

[2022-01-14 22:10] ivanjeremic commented on #37992
So you have still no solution other then using oder version of create-block?

[2022-01-14 22:13] ivanjeremic commented on #37992
When I run build in the project.

[code]

[2022-01-14 22:17] jonshipman commented on #37992
Downgrade @wordpress/scripts for now. A project that uses v12 built fine for me just now

[2022-01-14 22:25] afragen commented on #37717
This will be my first PR to Gutenberg. The change will be in the navigation.php file, but where do I make the change for the PR?

[2022-01-14 22:26] tbriggs-mx opened #37994 "Default color palette is visible even when a custom palette has been created in theme.json"
### Description

Prior to the recent Gutenberg upgrade, when we created a custom color palette in theme.json, this would replace the default colors. After the update, this is no longer the case.

Before Update:
![image](https://user-images.githubusercontent.com/94635235/149592238-0fbf918d-181a-4317-9ed3-b918d988f3aa.png)

After Update:
![image](https://user-images.githubusercontent.com/94635235/14

[2022-01-14 22:42] dcalhoun opened #37995 "Stepper cell label occasionally invisible when OS text scaled to the maximum"
## Related PRs

- https://github.com/wordpress-mobile/gutenberg-mobile/pull/4475

## Description
When the OS text scale is set to the maximum value, the label for stepper cells can become invisible as it is cut-off by the width of the screen viewport. This issue is dependent upon the screen width as well as whether or not the unit picker (i.e. switching between pixels, viewport widths, etc is disp

[2022-01-14 22:47] jonshipman commented on #37992
mini-css-extract-plugin was update 5 hours ago.
https://github.com/webpack-contrib/mini-css-extract-plugin

@see https://github.com/webpack-contrib/mini-css-extract-plugin/issues/896

Temporary work around:
[code]
Add that to your package.json.

[2022-01-14 23:07] ryelle opened #37996 "Navigation Block: Menu close button doesn't work on mobile"
### Description

When using a touch device (like a phone), the mobile menu close button doesn't close. It appears to trigger twice, so the menu closes and immediately re-opens.

I was able to reproduce this on [the new wp.org News theme](https://wordpress.org/news-test/) and the [Twenty Twenty-Two demo](https://wp-themes.com/twentytwentytwo/), both use the navigation block.

### Step-by-step repro

[2022-01-14 23:32] anton-vlasenko commented on #25982
I've tried to test this using the Gutenberg 12.4 RC1 plugin and WordPress 5.9 RC2.
If the Custom Sidebars plugin is enabled, `/v2/sidebar` always returns sidebars registered using the Custom Sidebars plugin (both during preloading or when using `wp.apiFetch`).
It doesn't depend on calling the `retrieve_widgets` function.
If the Custom Sidebars plugin is deactivated, `/v2/sidebar` never returns cus

[2022-01-15 00:30] carlomanf commented on #37754
The filters `the_content` and `widget_block_content` have `do_blocks` at priority 9 before any other filters, so any blocks with "texturizable" characters could potentially behave differently in a template versus in post content or widget area.

I like the idea of a solution that applies `wptexturize`, `do_shortcode` and similar filters to specific blocks that need them (paragraph block, classic b

[2022-01-15 01:23] hchouhan commented on #36603
+1. Having the same issue.

[2022-01-15 01:41] chthonic-ds commented on #37996
I believe https://github.com/WordPress/gutenberg/pull/36837 was supposed to address the underlying cause of this behaviour.

[2022-01-15 04:15] annezazu commented on #37891
Thank you all for testing and following up. Huge help. Re-labeling this and adding to must-haves to be safe.

[2022-01-15 04:18] annezazu commented on #37806
@exstheme can you ensure all browser add-ons are disabled as well? Want to fully rule everything out :) Otherwise, likely going to need to close this out since others are unable to replicate.

[2022-01-15 04:32] carolinan opened #37997 "Navigation block: Menu open button doesn't open the overlay with WP 5.8.3. and Gutenberg 12.3.2"
### Description

With WordPress 5.8.3 and Gutenberg 12.3.2, the navigation menu button does not work (For either classic or block themes)
It does work with 5.9 RC 2 but I expect it to work on both when Gutenberg is active.

### Step-by-step reproduction instructions

1. Add a navigation block with different types of content.
2. Try the two settings: Overlay menu always and mobile.
3. Confirm that

[2022-01-15 04:33] Hastibe commented on #26914
Is there a solution to this, yet? Having "noreferrer" automatically being added to links that open in new tabs is problematic.

[2022-01-15 04:39] carolinan commented on #37997
Themes which use the *old* navigation block markup with the inner links still have a working button 🤷‍♀️

[2022-01-15 04:42] afragen commented on #37717
New PR, https://github.com/WordPress/wordpress-develop/pull/2168

[2022-01-15 06:53] alanjacobmathew opened #37999 "Removing an inner button block makes the global button block to disappear"
### Description

In the post editor when removing the first button, the whole button block disappears from the viewport, making it impossible to add other button.

Here the button block exists since it can be accessed from the list view, but can't be accessed directly from the editor.

A similar issue exists in the site editor too, but couple of clicks near that button block gives access to the in

[2022-01-15 07:45] leanderseige commented on #37992
@jonshipman I start with a fresh `npx @wordpress/create-block todo-list`, after the crash with `TypeError: MiniCSSExtractPlugin is not a constructor` I add your recommended "resolutions" block to package.json. How to continue from here? ` npm run build` fails because of missing webpack.config.js.

[2022-01-15 08:05] MehbubRashid opened #38000 "Doesn't work without wp-components dependency"
### Description

I am testing it outside of gutenberg (in site frontend). Nothing works if I don't add wp-components as dependency while enqueueing the bundled script.

If I add wp-components as dependency, everything works fine even if I don't have @wordpress/components package installed in my node_modules folder.

So, why it is written to `npm install @wordpress/components --save` [here](https:/

[2022-01-15 08:11] MehbubRashid opened #38001 "Issue in colorpicker component docs"
### Description

In here, [https://github.com/WordPress/gutenberg/blob/trunk/packages/components/src/color-picker/README.md](https://github.com/WordPress/gutenberg/blob/trunk/packages/components/src/color-picker/README.md), In usage section, it is written `import { ColorPicker } from '@wordpress/components/ui';` . But, it doesn't work.

Instead, if i do `import { ColorPicker } from '@wordpress/com

[2022-01-15 08:32] Mamaduka commented on #37971
Aino theme had a similar issue. So I've created PR downstream.

[2022-01-15 08:46] kafleg commented on #37997
Thank you this issue. There are blocks theme submitted in the WordPress repository and I am reviewing them. Mobile menu is not clickable and I am not able to set them live because of this.

[2022-01-15 09:35] ivanjeremic commented on #37992
For me the same problem.

[2022-01-15 09:43] nagpai opened #38002 "Widget Editor: Regression in 12.3.2 - Shows blank in any mobile browser"
### Description

On Gutenberg 12.3.2, The widget editor from
`WP admin >> Appearance >> Widgets`

shows as blank when accessed from a mobile browser, or a narrow viewport on any desktop browser.

This error does not show up on older version of Gutenberg ( with the plugin disabled )

### Step-by-step reproduction instructions

1. Install and activate Gutenberg plugin to ensure you have version 12.3

[2022-01-15 10:29] ivanjeremic commented on #37992
I had the same problem, downgrade `@wordpress/scripts` to v12 then add the Temporary work around to your package.json then use an external terminal not the built in one to build the project, for whatever reason the integrated vscode terminal is not working.

[2022-01-15 10:30] fabiankaegy commented on #33346
Hi @ellatrix 👋

Do you have any updates on this currently ? :) Would love to better understand what would be needed to make this happen in 6.0 or one of the later releases :)

[2022-01-15 11:14] Salimoh commented on #27706
I am having similar problem. I set columns to 3. After publishing they become two.

[2022-01-15 11:17] Andrew-Starr commented on #37994
To disable the default color palette you now need to set `settings.color.defaultPalette` to false.

More details in the PR: https://github.com/WordPress/gutenberg/pull/36492#issuecomment-995072001

[code]

[2022-01-15 11:34] fabiankaegy opened #38003 ""TypeError: MiniCssExtractPlugin is not a constructor" in fresh wp-scripts installation"
### Description

Starting this morning I am getting a `TypeError` when trying to scaffold a project with `@wordpress/scripts`. Based on a similar issue on the CreateReactApp _(facebook/create-react-app#11930)_ Project it appears that the `mini-css-extract-plugin` was updated to version `2.5.0` and based on our `package.json` dependency it automatically pulls the latest minor version: https://githu

[2022-01-15 11:45] fabiankaegy commented on #38003
There already is an issue on the mini-css-extract-plugin repo: webpack-contrib/mini-css-extract-plugin#896

[2022-01-15 11:47] fabiankaegy commented on #38003
This is a duplicate of #37992

[2022-01-15 11:47] #38003 closed, assigned to nobody

[2022-01-15 11:58] swissspidy commented on #38000
Can you show the code you are using? I suppose you are directly accessing stuff from the window.wp.components global.

The idea behind installing the WP packages is that you get all the type information and IDE autocompletion during locally when importing the components from the package.
Then, wp-scripts will automatically turn these imports into usage of the window.wp.components global and exclud

[2022-01-15 15:46] ryelle commented on #37996
It looks like that was released with v12.2 of Gutenberg, but I'm still able to replicate this on WP trunk + Gutenberg 12.3.2.

[2022-01-15 15:55] #37971 closed, assigned to nobody

[2022-01-15 16:14] evrpress commented on #33263
Hi all!

I've added a readme to GradientPicker (#37614) as well to the ColorIndicator (#37638). Let me know if this is enough @ciampo

[2022-01-15 16:17] strarsis commented on #36603
@hchouhan: The SVG support plugins I have tried all don't filter the image dimensions of SVGs, at least incompletely
(see these posts/issues for plugin [SVG Support](https://wordpress.org/support/topic/specify-svg-width-and-height-dimensions/#post-15255703); [Safe SVG](https://wordpress.org/support/topic/filter-image-dimensions-of-svgs/); [WP SVG images](https://wordpress.org/support/topic/filter-

[2022-01-15 16:41] leanderseige commented on #37992
@ivanjeremic why did you choose v12? It is quite old.

[2022-01-15 16:45] ivanjeremic commented on #37992
Thats what worked for me.

[2022-01-15 17:30] exstheme commented on #37806
Hello, @annezazu !

I have tried to use dragging in the List view in the Incognito window and everything worked as expected.
Than I have closed all of my tabs in my browsers, relaunched them and then tested once again - and there was no same issue after that. Even  with all of my browser's extensions enabled.

It seems that this is some kind of issue when many browser tabs are opened or something

[2022-01-15 17:30] #37806 closed, assigned to nobody

[2022-01-15 19:39] luminuu opened #38007 "Code block: text color settings are overwritten by default style, border on code tag"
### Description

When using a Code block and trying to set another color for the text, it won't get applied in the editor and on the frontend. I expected to be able to change the text color when using another background color.

Also, the `<code>` tag itself has a `border` of `1px solid #ddd`. The border color in the settings only applies to the wrapping `<pre>` tag, not the `<code>` tag.

### Step

[2022-01-15 20:41] ivanjeremic commented on #37992
Just found out `17` works too but nothing above 17.

[2022-01-15 21:36] annezazu commented on #37806
& thank you for following up <3

[2022-01-16 02:24] creativecoder commented on #37515
Yes! I hadn't noticed it with those other blocks before, but you're right, it's not specific to the Navigation block. I'll update the issue title and description.

[2022-01-16 04:55] mipon opened #38009 "Bottom half of text is cut off with SelectControl"
### Description

Without any custom CSS rules, the default appearance of the `SelectControl ` label seems to have a problem that the bottom half of the text is cut off. It is less obvious in the inspector panel but occurs in both.

### Step-by-step reproduction instructions

1. Create a custom block with the code below.
[code]
2. Display it in the editor.

### Screenshots, screen recording, code s

[2022-01-16 06:08] amustaque97 commented on #38007
:wave: I'm not able to reproduce the above error. I'm afraid if I have missed something.

Screencast of the steps:

https://user-images.githubusercontent.com/21127788/149649252-c32fd7ce-e3c6-49e4-adeb-401bde1ba0ee.mov

<br />

This is expected based on the recent changes #37818

[2022-01-16 06:31] amustaque97 commented on #38001
Thank you @MehbubRashid  for raising the concern :clap:. I have raised a PR for the same.

[2022-01-16 07:12] gziolo commented on #37992
This is an issue with the npm package not following semantic versioning, which might happen accidentally. I commented under the issue they already had filed: https://github.com/webpack-contrib/mini-css-extract-plugin/issues/896#issuecomment-1013823196. Let’s see if they publish a quick follow-up bugfix release, or we need to land the patch opened by @fabiankaegy: https://github.com/WordPress/guten

[2022-01-16 10:23] luminuu commented on #38007
You are showing how to add the code block WITH the Gutenberg plugin activated. In my case, the Gutenberg plugin was NOT active.

I now tested it with the Gutenberg plugin activated and I still have the same issues. I'll post a video later.

[2022-01-16 11:22] n3wjack commented on #33936
Just confirming I'm also having this issue.
Legacy HTML blocks don't seem to be affected.

[2022-01-16 11:46] MehbubRashid commented on #38001
Great, @amustaque97
Thanks

[2022-01-16 12:18] luminuu commented on #38007
https://user-images.githubusercontent.com/7585600/149659571-48083dae-8097-4c5e-ad94-dd3013896ab9.mp4

Here's a screen recording from my local environment. 5.9 RC2, without the Gutenberg plugin, showing the results of my first screenshot.

[2022-01-16 14:36] base-creme commented on #37960
Here is a short video to illustrate the issue.
The link in BO works well to the page with anchor.
When I update the page, the link is the right one but when I click on the CTA, nothing happens…
If I remove the hashtag, no problem in front.

https://user-images.githubusercontent.com/53814375/149664410-f6a4511e-e97e-49ee-8429-453f2077be74.mov

[2022-01-16 15:11] sippsolutions commented on #32648
I'm experiencing this issue in one of my client's sites, where the REST ajax calls to for example `/wp-json/wp/v2/sidebars?per_page=100&_locale=user` trigger results like

`{"code":"wp_die","message":"<h1>Error establishing a database connection<\/h1>","data":{"status":500},"additional_errors":[]}`
or
`{"code":"rest_cannot_manage_widgets","message":"Du bist leider nicht berechtigt, Widgets auf die

[2022-01-16 19:00] hellosubscription commented on #2515
"So, If you copy and paste an image from a resource like Google Docs, a button will appear on the toolbar to upload it to the media library. Click that, and it will stay in the post, but also upload to your media library."

Why does this button not appear for any external images and only the ones wrapped on gdocs (or similar)? Are there ANY workarounds? It's super appalling this is still not dealt

[2022-01-16 20:25] webfolkcreative commented on #37992
@gziolo Has a decision been made regarding this?

[2022-01-16 22:37] glendaviesnz commented on #27706
@Salimoh I wasn't able to replicate this. Can you please provide some details about the version of GB and WP that you experience this issue on, and also a screen recording of the workflow if possible.

[2022-01-16 22:43] glendaviesnz commented on #27706
@tellthemachines I wasn't able to replicate this now on GB trunk:
![gallery-columns](https://user-images.githubusercontent.com/3629020/149681894-f0f3fe77-ab8c-467c-a196-24f303582ac3.gif)

Do you still see it on trunk?

[2022-01-16 23:14] jessynd opened #38014 "Make entire post item in query loop clickable but only the heading linked"
## What problem does this address?
When using the query loop in the block editor, each individual post's single view is linked to a number of times in the post template via the post-title, the post-image, post-date and the post-excerpt. What results is a redundancy of links for people that view the website with a screen reader. This is problematic:

1.  It fails [WCAG accessibility standard 2.4.4]

[2022-01-16 23:53] aaronrobertshaw commented on #20758
The [last PR attempting to address this has been closed](https://github.com/WordPress/gutenberg/pull/30609#issuecomment-987564929) in favour of leveraging block gap support and the spacer block. Should we close this issue as well or is the functionality still desired?

[2022-01-17 00:11] #25982 closed

[2022-01-17 01:01] tellthemachines commented on #27706
I can no longer reproduce it either; closing.

[2022-01-17 01:01] #27706 closed

[2022-01-17 01:15] tellthemachines commented on #37935
I can no longer reproduce the issue either when running latest Gutenberg on latest WP trunk. Closing, thanks for all the testing @ramonjd !

[2022-01-17 01:15] #37935 closed, assigned to nobody

[2022-01-17 02:23] noisysocks commented on #37573
I believe since devs are struggling to reproduce this issue and RC 4 is tomorrow that we may need to fix this in WordPress 5.9.1.

Oh that's interesting. @ellatrix @youknowriad: Do you know what's going on?

[2022-01-17 02:26] #37890 closed, assigned to nobody

[2022-01-17 02:31] noisysocks commented on #37892
I don't believe this is a bug. The hidden button is near to the end of the page DOM for assistive technology users to be more easily able to access the save panel.

[2022-01-17 02:31] #37892 closed, assigned to nobody

[2022-01-17 02:41] talldan commented on #37717
I have some concerns with the filter proposal.

As mentioned by others, it creates a dissonance in that it allows items to be added to a menu, but those items are not present or editable in the block editor. I think that would lead to a confusing experience for users.

It also doesn't support the features that the block editor offers. What if the user wants to add the Login item in a different pos

[2022-01-17 02:42] shimotmk opened #38016 "WordPress5.9 When using FontSizePicker with slider, if you select the size preset and then change the input area, an error occurs and the browser freezes."
### Description

When using the FontSizePicker with slider in WordPress 5.9 environment, if I select the size preset and then change the input area, an error occurs and the browser freezes.

- Size preset can be selected and changed.
- Custom size can be changed with the slider of Custom Size.
- Custom size can be changed in the input area of Custom Size.
- Select the Size preset and use the slide

[2022-01-17 02:51] talldan commented on #37479
This again. All the recent errors show outdated test code.

[2022-01-17 03:01] noisysocks commented on #37236
It looks like a non trivial amount of people encounter this error (see https://github.com/WordPress/gutenberg/issues/36687) so definitely something we need to improve.

We should display the JSON error that comes back from `_wp-find-template`. This error also needs to be more detailed. Currently it only says `No matching template found.` which is not very useful for debugging. I'd include the path

[2022-01-17 03:04] noisysocks commented on #36687
I think we need to fix https://github.com/WordPress/gutenberg/issues/37236 as a first step so that we can see what the real underlying error is in all of these cases. It's not realistic that we can do this and then fix the underlying issue in time for WP 5.9 though so I'll bump this from the board and add this issue to my list of things to look at for WP 5.9.1.

[2022-01-17 03:22] talldan commented on #38002
Thanks for reporting. It looks like the issue is that the secondary sidebar (the sidebar that usually contains the inserter menu or List View) is covering the content when it shouldn't. And also the contents of that sidebar are not being displayed at all.

I'll work on tracking down the problem and put together a fix.

[2022-01-17 04:02] #32075 closed, assigned to glendaviesnz

[2022-01-17 04:44] talldan commented on #37891
It's pretty hard to reproduce. I found it easiest in Firefox (couldn't reproduce at all in Brave) using the in-between blocks inserter.

[2022-01-17 04:49] carolinan commented on #37996
I can reproduce this using an android phone, with other themes than TT2, on Gutenberg 12.3.2 WordPress 5.9-RC2-52579 multisite.

[2022-01-17 04:50] #38002 closed, assigned to talldan

[2022-01-17 05:05] talldan commented on #37989
@kjellr Looks like those comments are coming from here:
https://github.com/WordPress/wordpress-develop/blob/a0b1f27de6c928fde51bbc7078b32ca9c9d6ed8d/src/wp-includes/theme-compat/comments.php#L30-L75

This may have to be a core trac ticket.

It seems like usually themes will provide their own comments template, and checking TT1, that also includes different HTML comments that are output to the fron

[2022-01-17 05:07] afragen commented on #37717
@talldan to answer some of your concerns.

These items are meant to be added programmatically by a plugin. The user installs the plugin, it shouldn't be confusing where the additional menu item came from or how to remove it.

From the `class WP_Block_List` there are enough builtin methods to place the item in any position, though at the end is easiest. The added item supports all the styling optio

[2022-01-17 05:09] tellthemachines commented on #37573
I can only reproduce this issue on 5.9 RC2 in a production environment without the plugin installed. What seems to be happening is the following:

* The height of each preview is calculated from a resize event listener attached to the contents of its iframe, and then added dynamically to `block-editor-block-preview__content`.
* In a dev environment this works fine, but in production the event list

[2022-01-17 06:03] talldan commented on #37717
That's only half the story. If the item doesn't show in the editor, the user has a harder time getting their menu to look as they want it to because there's always something missing. That also has knock-on effects with the entire layout of the page.

I'd counter by saying that most blocks work the same way. There are very few distinguishing factors in how blocks work, static vs dynamic being proba

[2022-01-17 06:45] talldan commented on #37960
I'm afraid I still can't reproduce it. The video does help my reproduction steps (I now know you're talking about the link in the editor), but I still can't see what happens for you as the video's dimensions are very short and wide.

When you click the link, what's the URL in the address bar?

[2022-01-17 07:04] talldan commented on #37972
`useCallback` isn't something that I'd expect to work differently between browsers, so it's definitely an unusual one.

Looking at it now, the dependencies array of `useCallback` looks like it's missing a couple of things. `onExpandRow` and `onCollapseRow` should be specified because they can't be guaranteed as stable references.

[2022-01-17 07:22] jasmussen commented on #37981
This makes sense to me. Designwise, one thing we could do is keep the interface as is, only let the hex code be editable on click, and then surface a copy icon inside the input field when it's focused?

[2022-01-17 07:42] tellthemachines commented on #37972
I can reproduce this on Firefox on both Windows 10 and Mac OS X, but not on any other browser (Chrome on Windows works fine, with or without NVDA). So I'm guessing it's a Firefox-specific issue.

[2022-01-17 07:50] base-creme commented on #37960
Here it is : <img width="573" alt="Capture d’écran 2022-01-17 à 08 49 15" src="https://user-images.githubusercontent.com/53814375/149728698-2901fd69-237f-464c-9419-fc0be27a095d.png">

[2022-01-17 07:52] talldan commented on #37960
Thanks. It looks like the link is correct then.

It's probably an issue with your destination page, does it have the `form` id or name correctly specified?

[2022-01-17 07:56] base-creme commented on #37960
Thank you for you help, I really appreciate it.
The destination page has the id form. You see it when I tried the link in the back-office. It leads directly to the anchor in the destination page
<img width="1680" alt="Capture d’écran 2022-01-17 à 08 54 49" src="https://user-images.githubusercontent.com/53814375/149729668-2584bf37-a70e-4e89-969c-536b414770e3.png">
.

[2022-01-17 08:19] carlomanf commented on #31954
I opened another patch to aid with a solution to this, if anyone would like to test: WordPress/wordpress-develop#2179

[2022-01-17 08:20] carlomanf commented on #25071
I opened another patch to aid with a solution to this, if anyone would like to test: WordPress/wordpress-develop#2179

[2022-01-17 08:30] #38001 closed, assigned to amustaque97

[2022-01-17 08:33] jasmussen opened #38022 "Spacer: Add toggle to behave as flexible spacer to take up available space (`flex-grow`)"
The Row block through its `flex` behaviors has introduced a number of possible layouts. However in many cases, these layouts require multiple nested containers. The following Navigation examples would 3 or 4 nested containers:
<img width="1316" alt="grouped left" src="https://user-images.githubusercontent.com/1204802/149733795-fe6b1f4b-f53e-4cb8-8c32-e92aee649731.png">
<img width="1316" alt="cente

[2022-01-17 08:46] talldan commented on #37960
Sorry I can't be of much further help. The only other suggestion is that maybe your theme or a plugin is preventing the click events on the link from working. You could try disabling plugins or trying a different theme to see whether you can isolate the issue.

[2022-01-17 08:47] getdave commented on #37717
@afragen Firstly thank you for raising this Issue and generating a good discussion about extensibility of the Navigation block.

I can completely understand the use case you are presenting. It is very valid, especially when considering it from the perspective of classic Themes.

I've devised a couple of user stories that might capture the requirements below - let me know if this works:

[code]

##

[2022-01-17 09:05] #37708 closed, assigned to kevin940726

[2022-01-17 09:08] youknowriad commented on #37893
mmm! I haven't been able to reproduce personally. Could have this been recently fixed somehow?

[2022-01-17 09:15] aristath commented on #37994
As mentioned above, the default palette is shown by default, and one of the reasons for that is backwards-compatibility when switching themes. It can be disabled from theme.json as per the comment above, so I'll go ahead and close this one. 👍

[2022-01-17 09:15] #37994 closed, assigned to nobody

[2022-01-17 09:20] youknowriad commented on #37893
Ok I reproduce sometimes but not consistently. I think I reproduce if I drag my mouse to the bottom of the screen but otherwise I don't.

[2022-01-17 09:20] gziolo commented on #37992
I have just merged #38004. I will cherry-pick the commit and run npm publishing.

[2022-01-17 09:41] youknowriad commented on #37573
Just wanted to share that I have been failing to reproduce this so far (so difficult for me to help) 😬 I tried several things (unsetting the debug constants, with and without Gutenberg...

What comes to my mind here is that during the 4.9 lifecycle, we switched the previews to be in "iframes" and my random guess is that it's a side effect of that change that for some reason didn't show up in the G

[2022-01-17 10:01] gziolo commented on #37992
I have just published a bug fix for `@wordpress/scripts` caused by the new version of `mini-css-extract-plugin` reported over the weekend, thank you everyone for finding a quick workaround:
[code]

[2022-01-17 10:02] mtias commented on #37943
This is precisely what the [universal themes exploration](https://themeshaper.com/2021/10/06/universal-themes/) was doing on the side. You'd end up with `<?php echo gutenberg_block_template_part( 'header' ); ?>` calls in your PHP theme.

It's something we could formalize into a core API (i.e. `get_block_template_part( $slug )`) but there's some decision that need to happen first around how coupled

[2022-01-17 10:02] #38000 closed, assigned to nobody

[2022-01-17 10:17] gingerling commented on #31862
Hi, I seem to have the opposite issue, or at least there is a lack of clarity.

These two footers look the same in the editor. The top one is the default footer changed from white to green, the bottom one is a pattern changed from black to green. The settings for both blocks seem to be identical, I checked one by one, they were the same.

![Screenshot from 2022-01-15 16-14-29](https://user-images.

[2022-01-17 10:19] gingerling commented on #31862
Note may have been solved by https://github.com/WordPress/twentytwentytwo/pull/336#event-5889749579 apparently, I'm not able to check this with my set up though.

[2022-01-17 10:34] jameskoster commented on #37946
At some point I think it might be beneficial to evaluate the full scope of the top bar, and consider a more intentional / scalable design. Since it was originally implemented we've added so many features, not to mention new editing contexts. It feels a little bit like a soap box car right now :D

[2022-01-17 10:48] fabiankaegy commented on #37943
@mtias is there a ticket where the discussion around how coupled a template part is to a theme is being tracked? Would love to link it here to ensure we have a clear understanding of the dependencies.

[2022-01-17 11:03] getdave commented on #37604
Ok this one appears to be because the user is still logged in as admin at the point of the assertion. This was working at point of merge and now its regressed.

Here's a screenshot from the artifacts

![shows a warning if user does not have permission to create navigation menus 2022-01-17T10-34-32](https://user-images.githubusercontent.com/444434/149758342-8cbb653c-add2-4203-aaf2-36615c451ebe.jpg)

[2022-01-17 11:15] aristath commented on #37943
In WP 5.9 we already added 3 new functions to do these things: `block_template_part`, `block_header_area` and `block_footer_area`. You can see them in https://github.com/WordPress/wordpress-develop/blob/d085349cf5760294d1bdbc3f01e30a483d921f5d/src/wp-includes/block-template-utils.php#L872-L903 👍

[2022-01-17 11:17] fabiankaegy commented on #37944
This technically already is possible through the usage of the [`default_template_types` filter](https://github.com/WordPress/wordpress-develop/blob/a0b1f27de6c928fde51bbc7078b32ca9c9d6ed8d/src/wp-includes/block-template-utils.php#L182-L189) that is being introduced in WordPress 5.9. It would be very nice to get a nicer "register" / "unregister" type API that could also be run dynamically from JS.

[2022-01-17 11:19] fabiankaegy commented on #37943
@aristath That is very cool! Thanks for sharing :)

So the main thing that this ticket is asking then is whether we can activate the site editor for template parts alone without needing to enable full on templates

[2022-01-17 11:30] henryobiaraije commented on #17632
@easin-xs
I agree with you.  A few js hooks can still be added (especially in a case like this) to solve this.
@csalmeida 's solution is what I use currently but still doesn't fix this completely.

[2022-01-17 11:44] getdave commented on #35521
## Update 17th Jan 2022

* Team are refocusing back onto work landing in the Gutenberg Plugin as opposed to WP 5.9.
* There's a question about [how best to handle editing of Navigation Menus in isolation](https://github.com/WordPress/gutenberg/issues/37950).
* We're asking how we can/might need to s[ave Nav blocks to the post under certain circumstances](https://github.com/WordPress/gutenberg/issu

[2022-01-17 12:01] adamziel commented on #37717
The question I hear everyone asking is: _Is Gutenberg a WYSIWYG editor?_

I really want it to be one. To me, it can only happen when the website shows the same thing as the editor. I am concerned about adding an API that can alter one, but not the other. It's like changing the output (website) without changing the input (editor markup).

More tactically, I imagine this problem as two parts:
* Augm

[2022-01-17 12:56] vcanales commented on #37997
Hello! I've been unable to reproduce this issue on Firefox, Safari, and Chrome, using `trunk`, `v12.3.2`, `v12.3.1`, and the tags from the current release cycle. Are there other specific instructions I should follow? Perhaps a particular theme that seems to have this issue? I tried all official themes down to "twenty seventeen."

[2022-01-17 13:22] gziolo commented on #37992
It's now also fixed upstream as noted in https://github.com/webpack-contrib/mini-css-extract-plugin/issues/896#issuecomment-1014458314.

There is also a note left important for us:

We will need a follow-up in `trunk` to clean the temporary workaround and maybe update the dependency to `^2.5.1`. Is anyone willing to take care of it? I might not have time for it today.

[2022-01-17 13:37] #37598 closed, assigned to ajlende

[2022-01-17 13:46] fabiankaegy commented on #37992
I can add a follow up PR :)

[2022-01-17 13:57] leanderseige commented on #37992
But our workaround still works! `npx @wordpress/create-block` uses version 2.5.1 now and everything is ok because of the fallback clause!

[2022-01-17 14:06] tbriggs-mx commented on #37994
Awesome! I figured the syntax changed, but I couldn't find the update in the documentation and when I googled, I didn't come across the PR with this info. Thanks for your help!

[2022-01-17 14:29] getdave commented on #37996
I tried this on latest WordPress 5.9 RC 1 with Gutenberg 12.3.2 on TT1 blocks and was unable to replicate:

https://user-images.githubusercontent.com/444434/149788005-6febe0f2-fdfe-4d0d-9d18-6c310149beb7.mp4

[2022-01-17 14:34] getdave commented on #37996
I tested on the iOS simulator on 5.9-RC2-52579 both with _and_ without Gutenberg 12.3.2 active on the TT1 theme and I was unable to replicate:

https://user-images.githubusercontent.com/444434/149788879-f9d30bc4-b925-4692-9448-1eabc9e3dde2.mov

Also same for TT2 theme:

https://user-images.githubusercontent.com/444434/149789069-6b534446-cf52-4293-82b4-fd4b0c31a58f.mov

I'll see if I can try this o

[2022-01-17 14:46] youknowriad commented on #37893
So I tried to debug this more and found that this is related to the line here https://github.com/WordPress/gutenberg/blob/3715fa4a64624623c4b05b4731a580e9132f673f/packages/block-editor/src/components/writing-flow/use-multi-selection.js#L134-L136

Basically if we remove that line, everything seems to work properly.

The problem though is that the origin of this line is this PR https://github.com/Wo

[2022-01-17 14:57] #37832 closed, assigned to jorgefilipecosta

[2022-01-17 15:39] dennisheiden commented on #18095
Here is a PR waiting for review since mid 2021:
https://github.com/WordPress/gutenberg/pull/30493

here is a second PR in WIP for some reasons:
https://github.com/WordPress/gutenberg/pull/37731

we need some progress on this after 2 years

[2022-01-17 15:45] jasmussen commented on #37997
Testing this in Chrome and on nightly WP 5.9-RC2-52579, with latest trunk build of Gutenberg I can't reproduce this. Are you able to provide a screenshot or video showing the issue? Which theme are you using? I was using trunk TT2.

[2022-01-17 16:13] ryelle commented on #37996
My screen recording was using an Android, so maybe this isn't an issue on iOS?

Continuing to debug, I can reproduce this on WordPress 5.9-beta2-52353 + Gutenberg trunk using Twenty Twenty-Two, with Firefox responsive mode + touch simulation enabled.

It looks like `navigationToggleModal` is called twice for the close button, once with a `click` event and once with a `touchstart` event.

Edit: The

[2022-01-17 16:15] spacedmonkey opened #38030 "Navigation block: Allows users without permission to create navigation posts to create navigation block"
## What problem does this address?
Currently users that do not have the `edit_theme_options` capability can not create a navigation block within the contents of a psot / page. This is because, they are unable to make a `wp_navigation` post and save it.  However, using legacy menu / menu items, they should be able to import them and create a navigation.

## What is your proposed solution?

Instead

[2022-01-17 16:22] getdave opened #38031 "Nav block - conditionally display first horizontal rule if empty placeholder"
In https://github.com/WordPress/gutenberg/issues/37884#issuecomment-1014622895 @spacedmonkey noted that lower permission users can end up with an empty placeholder. He was concerned about the `<hr />` to the right of the block name.

I wonder whether in such circumstances it might be confusing to the user to see an empty block. Should we communicate somehow that this is an expected state due to th

[2022-01-17 16:28] ryelle commented on #37996
It looks like micromodal had a regression (see https://github.com/ghosh/Micromodal/pull/488) which caused the issue in https://github.com/WordPress/gutenberg/pull/36837 to reappear. I had version 0.4.9 of micromodal, updated locally to 0.4.10, and that seems to have fixed the issue again.

[2022-01-17 16:38] ryelle commented on #37996
PR to update micromodal version: https://github.com/WordPress/gutenberg/pull/38032

[2022-01-17 16:50] timsinc commented on #32644
Does anyone know if there are plans to implement this? Negative margins are a very common and useful layout tool that seems should be enabled by default for the core margin control.

[2022-01-17 16:57] javierarce commented on #38031
If I recall correctly a snackbar appears when the user clicks the menu or tries to change it, so I don't think we need to add more text (also, the menu could contain items, and inserting a message could be confusing).

I like the idea to make the disabled nature of the menu more prominent. I think we could add a gray background and lower the opacity of the content. Hiding the line would be nice to

[2022-01-17 17:16] kbrown9 commented on #15033
Hi! I think the suggestions for improving RichText performance could help with an issue that I'm seeing with a significant lag in resizing blocks while typing on mobile devices (see my comment [here](https://github.com/wordpress-mobile/gutenberg-mobile/issues/2594#issuecomment-919532453)). I have seen this problem occur on both older and newer mobile devices.

I spent a little bit of time looking

[2022-01-17 17:25] santanainniss commented on #36688
@mkaz @jorgecontreras Is there a PR for this? I'm wondering if I can possibly support here. Thank you!

[2022-01-17 17:34] ivanjeremic commented on #6808
I have currently the same issue, I'm developing a Slider and as soon as I found out that I can only have one InnerBlock the whole project stopped, we really need this asap.

[2022-01-17 17:47] jorgecontreras commented on #36688
Hi @santanainniss, there's a PR here:
https://github.com/WordPress/gutenberg/pull/37424

[2022-01-17 17:48] ivanjeremic commented on #6808
I have currently the same issue, I'm developing a Slider and as soon as I found out that I can only have one InnerBlock the whole project stopped, we really need this asap.

I want also to be able to do this whiteout naming slots use-case:
[code]
The user of my block should be able to add in each slide any block he wants, each slide should be able to have different InnerBlocks.

[2022-01-17 17:50] ivanjeremic commented on #6808
@willrowe I have currently the same issue, I'm developing a Slider and as soon as I found out that I can only have one InnerBlock the whole project stopped, we really need this asap.

I want also to be able to do this whiteout naming slots use-case:
[code]
The user of my block should be able to add in each slide any block he wants, each slide should be able to have different InnerBlocks.

[2022-01-17 18:23] supernovia commented on #36998
What if instead of trying to indicate unset, it just said "Theme Default" or something, and/or showed that color?

[2022-01-17 18:27] iamtakashi opened #38033 "Navigation Block: Allow Letter Spacing Control"
![Header 4](https://user-images.githubusercontent.com/908665/149821018-7265091a-c627-4457-bee9-ef17d5f1da58.png)

It'd be great if we could change letter spacing for navigation items. It'd be especially useful when they are uppercase.

I briefly tried to find if there is already a request, but I didn't see any. Please point me if there is a space where this has been discussed.

## What problem doe

[2022-01-17 18:32] supernovia commented on #37981
I like that. Can we be sure the copy format [matches what one should paste](https://github.com/WordPress/gutenberg/issues/37018), or better, make the input field automatically handle hex code whether or not there's a # in front?

[2022-01-17 19:00] audrasjb opened #38034 "When using the same classic menu at more than 1 instance on the FSE, the menu duplicates itself"
### Description

Note: this issue was originally report on Trac. See https://core.trac.wordpress.org/ticket/54792.

**When using the same classic menu at more than 1 instance on the FSE, the menu duplicates itself**

### Step-by-step reproduction instructions

1. Create a classic menu before activating block theme
2. Add a Nav Menu Block -> select the classic menu
3. Add a new Nav Menu Block -> se

[2022-01-17 19:07] sabernhardt commented on #38007
This should be fixed in PR #37816 for Gutenberg 12.4 (plugin). Maybe it still can be backported for WordPress 5.9 (or 5.9.1), though.

[2022-01-17 19:07] MikeWhelan commented on #19697
It's been two years since this announcement was made. When will it be possible to use a date block that defaults to site's global format?  In my case, I just want to show the year ( 'Y' ), but that option is not available, even though it is specified in my global options.

[2022-01-17 19:23] annezazu commented on #38034
I can replicate this! Going to flag in the navigation block feature channel for good measure.

[2022-01-17 19:27] ivanjeremic commented on #14446
Is there any work done to tackle this issue? I think react server components come with react18 from what I heard and I think a node server is needed(also not sure about that), but if yes I think PHP should start to ship Node in newer versions of PHP :D

[2022-01-17 19:29] annezazu commented on #37999
Thanks for reporting this! From what I can see, this is a duplicate of this issue: https://github.com/WordPress/gutenberg/issues/28217 Can you confirm and, if so, close this out and add any further insights to the original issue?

[2022-01-17 19:35] fabiankaegy commented on #38014
@gziolo and @Mamaduka I'ld love to hear your thoughts about introducing something like what I have done in #38012 as a new default behavior. I initially took the approach of adding it as a new opt in only option but given that he current default isn't following accessibility standards the best solution would be making it the default behavior. Thanks in advance for your insights :)

See: https://gi

[2022-01-17 19:42] annezazu commented on #37977
This is due to this change: https://github.com/WordPress/gutenberg/pull/37360#issuecomment-1001543631 A fix will come in 12.4: https://github.com/WordPress/gutenberg/pull/37436

[2022-01-17 19:42] #37977 closed, assigned to nobody

[2022-01-17 20:15] sdwire commented on #35355
Perhaps even worse... you **can** (accidentally) transform a Row into a Group, but then you can't put it back.

In a Row, if you toggle on the "Inherit default layout" option, the Row will suddenly become a Group. But toggling the option back off again will not change it back to a Row. Once you accidentally turn it into a Group, there's no going back. From there you have to create a new Row and ma

[2022-01-17 21:27] sc0ttkclark commented on #37573
Just to be super clear, I've seen issues like this only in FSE but not in the normal post editor screen. FSE seems to be the factor some people trying to reproduce have potentially missed here.

EDIT: Ignore this, I was wrong

[2022-01-17 22:16] #37858 closed, assigned to dcalhoun

[2022-01-18 00:00] ramonjd commented on #18095
Hallo @dennisheiden

#30493 (and #25421) employs `disableAlpha`, which has been deprecated since the new [ColorPicker](https://github.com/WordPress/gutenberg/pull/33714), though there is a [legacy bridge](https://github.com/WordPress/gutenberg/pull/34014) for such props, I guess we should probably move away from it.

#37731 enables alpha via the supported `enableAlpha` prop.

If you have time to t

[2022-01-18 00:40] tellthemachines commented on #37573
That's not the case with this issue; I can reproduce it in the post editor with a classic theme such as TT1. The main factor here seems to be script concatenation: the issue only happens in production environments, not development, and it can't be reproduced with Gutenberg enabled, because the plugin doesn't concatenate its scripts.

[2022-01-18 01:03] talldan commented on #38034
When a classic menu is selected, it's copied to the new navigation block format and the original menu is kept in place. The same will also happen a second time. I think this is probably mostly a case of unclear UI, but there has also been discussion about how to better handle menus in https://github.com/WordPress/gutenberg/issues/36307 and https://github.com/WordPress/gutenberg/pull/36311.

[2022-01-18 01:11] annezazu commented on #38034
Thanks for connecting the dots. The fact that every time I select the classic menu (no matter how many times), it recreates the new block format resulting in a new menu seems like something to resolve before 5.9. I imagine many folks will want to first use their classic menu and might continue to select it out of habit/lack of knowledge.

In any case, +1 on unclear UI.

[2022-01-18 01:48] ndiego commented on #37573
Yes, I can second the comment above. I am able to replicate in both the page/post Editor as well as the Site Editor when Gutenberg is not active.

[2022-01-18 01:50] talldan commented on #38034
I definitely see that.

It's now too late to include anything in 5.9, the final backports from Gutenberg have already been made. So 5.9.1 is the best we can do.

Some options have been outlined in #36311. I'm not sure there's value in keeping two very similar issues open, so I think it's worth closing this as a duplicate of #36307 and I'll add some more comments over there.

[2022-01-18 01:50] #38034 closed, assigned to nobody

[2022-01-18 02:04] talldan commented on #36307
A very similar problem was flagged in #38034 that a user can keep selecting the classic menu with each new nav block, and it's not clear that a new `wp_navigation` menu will be made each time.

Some options for improving the way classic menus are copied were outlined in https://github.com/WordPress/gutenberg/pull/36311.

Currently, I believe we convert all classic menus at the point of selection i

[2022-01-18 02:50] carolinan commented on #37997
Gutenberg requires minimum WordPress 5.7. So I expect the navigation block to work with 5.8.3.
It does not need to be retested with 5.9.

PC, Windows 10
Fresh WP install with Local
<details><summary>Expand site health info</summary>
`
### wp-core ###

version: 5.8.3
site_language: en_US
user_language: en_US
timezone: +00:00
permalink: /%postname%/
https_status: false
multisite: false
user_registra

[2022-01-18 02:58] carolinan commented on #37997
Twenty Twenty-One:

https://user-images.githubusercontent.com/7422055/149863162-89b8c242-ab70-4826-a1b5-29e8d4690620.mp4

[2022-01-18 03:03] carolinan commented on #37974
Note: the examples do not use the latest version. This page has not been updated.

[2022-01-18 03:44] #37972 closed, assigned to alexstine

[2022-01-18 04:48] #37996 closed, assigned to ryelle

[2022-01-18 04:59] ramonjd opened #38038 "Writing modes: explore alternative character and block direction support"
This issue is mainly to capture and centralize discussions from the following issues and PRs in relation to vertical writing modes:

- https://github.com/WordPress/gutenberg/issues/20926
- https://github.com/WordPress/gutenberg/pull/37932

It's a work in progress and might not be accurate. I'll correct mistakes and assumption as the discussion evolves. Thank you!

## What problem does this address

[2022-01-18 06:02] talldan commented on #37997
I also haven't been able to reproduce while running 5.8 and latest Gutenberg trunk. I tried a few different browsers on Mac OS.

[2022-01-18 06:47] andrewserong commented on #30121
Just assigning myself to this one as I'd like to have a go at coming up with a solution for it. Nothing to see yet, but I'll be hacking away over in #38039 (I thought I'd try `sticky` support to begin with).

[2022-01-18 07:13] jasmussen commented on #38033
Letter spacing for sure! Instead of making it Navigation block exclusive, though, shouldn't we instead make letter spacing a property of the general Typography panel? I imagine it being a non-default option you add from the ellipsis menu in the panel.

[2022-01-18 07:15] talldan commented on #37717
Another thing to consider is that in this specific case, a user is unlikely to want the login button added to every menu.

@afragen Did you have a way to control that previously with your plugin?

[2022-01-18 07:44] jasmussen commented on #36307
I appreciate the simplicity of the approach taken in #36311: hide the old menu based on the name of the new one. The effort there felt like it matched how often the use case is likely to come up, i.e. primarily on initial setup.

Matching by name instead of ID would theoretically solve this one by letting the old one reappear.

If old menus are prefixed or separated in the menu, perhaps with the s

[2022-01-18 07:54] shimotmk opened #38041 "WordPress 5.9 Highlight css is not normal in tablet/mobile preview"
### Description

WordPress 5.9 Highlight css is not normal in tablet/mobile preview

|  not-previews  |  previews  |
| ---- | ---- |
| ![not-previews](https://user-images.githubusercontent.com/42362903/149893807-1a4b76c8-f619-4571-b6cd-c3ca1bc88376.png) | ![previews](https://user-images.githubusercontent.com/42362903/149893831-5d8835a2-69dc-478e-8d06-d50e60732c47.png) |

### Step-by-step reproduct

[2022-01-18 08:08] aristath commented on #14446
While rendering blocks on the frontend using JS/React would significantly improve the developer experience, at the end of the day server-side rendered blocks are faster and they don't require anything extra to be loaded on the browser.
From a performance and sustainability perspective, SSR is a lot better.
If a developer _wants_ to use client-side rendered components, there's nothing stopping them

[2022-01-18 08:08] alanjacobmathew commented on #37999
It seems like the issue is similar and hence closing this.

[2022-01-18 08:08] #37999 closed, assigned to nobody

[2022-01-18 08:18] jasmussen commented on #36998
Unset does seem like a bit of a complicated term. But it still feels important to indicate that _no color is applied_, it literally has not been defined. The checkerboard indicating transparency is also misleading since the block doesn't necessarily have a transparent background if otherwise is provided by theme CSS.

So we need a visual treatment that indicates that no user choice has yet been ma

[2022-01-18 09:25] jasmussen commented on #37997
I tried reproducing your steps on a Windows 10 PC (with the exception of using TwentyTwentyOne) on my production website running WP 5.8.3 and Gutenberg 12.3.2. I tested in Chrome and Edge I wasn't able to reproduce:
![chrome win 10](https://user-images.githubusercontent.com/1204802/149907632-d55e3f2c-80f1-44ba-b5e7-dced5f134482.gif)
![edge win  10](https://user-images.githubusercontent.com/1204802

[2022-01-18 09:26] getdave commented on #36307
I agree that making it clearer we are copying/important classic menus as opposed to simply selecting them is important.

[2022-01-18 09:46] #26668 closed

[2022-01-18 09:59] ivanjeremic commented on #14446
Important to note is that SSR is only faster on slow networks on fast network CSR is faster. But regarding SEO sure SSR wins for now but it is also a lot of work done by search engines to work better with client code, they have improved a lot.

[2022-01-18 10:08] DAreRodz commented on #37153
I’ve finally decided to do the second option @gziolo proposed in the previous comment: add `embedded: true` to `children`. That way, we could show replies to top-level comments with a single call.

This would be a short summary of benefits/drawbacks:

**Benefits**:
- Just a single call.
- Easy to handle pagination and offset.

**Drawbacks**:
- Up to ten replies.
- Only two levels.
- We would have

[2022-01-18 10:19] luminuu commented on #38007
Closing this now as a fix is already done. Thanks for sharing the PR!

[2022-01-18 10:19] #38007 closed, assigned to nobody

[2022-01-18 10:43] jameskoster commented on #37001
With one eye on 6.0, I noodled a little more on this yesterday.

I'm increasingly drawn to the idea of a persistent 'navigation rail' or 'application dock' on the left-hand side of the editor canvas which provides one-click access to all key site management areas. In the context of this issue, switching templates becomes a two-click process rather than a three-click.

The other nice thing is that

[2022-01-18 10:47] carolinan commented on #37997
I will retest with Gutenberg trunk as soon as I can.

[2022-01-18 11:01] grappler commented on #36504
I have created a trac ticket and have added a patch https://core.trac.wordpress.org/ticket/54850

[2022-01-18 11:21] luminuu commented on #37748
Yes, preferably linking the author name would be a useful feature.

[2022-01-18 11:34] gingerling commented on #36797
Hi, just wanted to add that this is a confusing and difficult issue for people who wish to add contrasting colour blocks or have two blocks with different colours next to each other, for example.

I was quite confused at first because it seems in the editor like this white line is just the gap where you're to click to add a new block

![Screenshot from 2022-01-17 10-25-01](https://user-images.gith

[2022-01-18 12:10] chad1008 opened #38043 "Social Icons: theme styling may distort icon proportions"
### Description

Depending on how a theme styles the relevant `li` elements, the shape of social icon buttons can become distorted, often being stretched vertically.

Twenty Seventeen is a key example, where the theme styling sets:

[code]
Because the Social Icons block applies the background color directly to the `li` element, that padding leads to the button having a vertical pill-shape, instead

[2022-01-18 12:55] jasmussen commented on #37950
In order to not introduce any new interfaces if at all possible, it seems like this could use the same interface that exists for editing the contents of template parts in isolation:

<img width="469" alt="more menu" src="https://user-images.githubusercontent.com/1204802/149940114-9a456ca8-f550-444c-bdc9-a52d7b627f19.png">

<img width="1392" alt="isolation" src="https://user-images.githubuserconten

[2022-01-18 13:02] kjellr commented on #37989
Thanks for looking into it, @talldan! I've opened a new core ticket here: https://core.trac.wordpress.org/ticket/54851

... and will close this one. 👍

[2022-01-18 13:02] #37989 closed, assigned to nobody

[2022-01-18 13:41] pedro-mendonca opened #38045 "Navigation Block: Overlay menu options consistency"
## Inconsistency in Overlay Menu settings

Currently the options are:

**Off** | Mobile | Always
![imagem](https://user-images.githubusercontent.com/7371591/149947638-0d07cb80-ac7f-475f-bba9-2b274e871c23.png)

## Improved consistency

Suggested options are:

**Never** | Mobile | Always

![imagem](https://user-images.githubusercontent.com/7371591/149947543-96dd6ec4-71f6-4ec7-85f5-6384398e0609.png)

[2022-01-18 13:45] dennisheiden commented on #18095
@ramonjd Thanks for the clarification, this helps to prevent wasting time with obsolete PRs. ty.

[2022-01-18 14:15] getdave commented on #37950
I think that might be a critical thing. We need to retain the separation of concerns between menu _data_ and _presentation_.

I have been considering the Navigation _Editor_ again recently. I wonder whether we could make a nice distinction here that avoids some of the pitfalls:

* the Nav Editor could be for global changes to menu data for the particular menu (i.e. `wp_navigation` post) being edit

[2022-01-18 14:16] sc0ttkclark commented on #37573
Sorry I conflated the issue with a separate issue, my bad here

[2022-01-18 15:06] eric-michel commented on #30960
Most folks probably know this already, but Google has endorsed removing lazy loading from above-the-fold images as a performance boost: https://web.dev/lcp-lazy-loading/.

They've even gone so far as to flag lazily-loaded above-the-fold images in Lighthouse:
![image](https://user-images.githubusercontent.com/45110062/149962838-0c965edd-fd8c-4b38-8de2-0c4c6d364195.png)

See https://github.com/Googl

[2022-01-18 15:11] swissspidy commented on #30960
^ yup, which is why WordPress 5.9 has improved its lazy loading accordingly: https://make.wordpress.org/core/2021/12/29/enhanced-lazy-loading-performance-in-5-9/

It should be very rarely needed to override this automatic behavior in WordPress, so I am -1 on adding a UI option for this.

/cc @ThierryA @felixarntz @adamsilverstein for visibility

[2022-01-18 15:18] jameskoster opened #38050 "Image size settings can be confusing"
<img width="280" alt="Screenshot 2022-01-18 at 14 30 28" src="https://user-images.githubusercontent.com/846565/149956699-637d274a-183c-47ec-83fc-17420a44ece5.png">

We have "Image size" to determine which version of the source file to use.

Then Width and Height specify how much space the image should occupy on the page.

And finally there are percentage-based presets which set the Width and Heigh

[2022-01-18 15:45] danielhuesken opened #38053 "p tags removed when a classic blog is inside of a reusable block"
### Description

I have a reusable block inside of this i use a classic block with some test like:
[code]

When i place the reusable block in a post and than visit the post in frontend, the p tags are missing.

### Step-by-step reproduction instructions

Create a reusable block inside of this create a classic block with:
[code]
Place the reusable block in a post and save it.
View it in Frontend an

[2022-01-18 16:52] gingerling commented on #36407
Hi, is this about how to remove Default colours using the json? I have edited the theme colours to be as the brand guidelines need for my client (working in 5.9 beta 3) but can't seem to get rid of the default colours below that I don't really want them to use.

![Screenshot from 2022-01-18 16-51-14](https://user-images.githubusercontent.com/2853040/149981883-4bf6bd16-9d3c-4746-8b9d-0c8984ffba9b.p

[2022-01-18 17:49] dmsnell commented on #37766
If nothing else, your experience then seems to match mine. I'm guessing nobody would miss it that much if we stripped all type annotations from the docs…

[2022-01-18 17:57] sarayourfriend commented on #37766
We could publish something on https://make.wordpress.org/core/ asking how folks feel about removing the types from the documentation.

cc @gziolo who I think would probably have a gut sense of how that would go over with folks.

[2022-01-18 18:18] #37992 closed, assigned to gziolo

[2022-01-18 18:54] skorasaurus commented on #36407
Hi @gingerling ;

This is the same issue; I'm not able to reproduce your issue using the 5.9 RC2 (released last week) which is newer than beta 3 (released in december?).

I recall there being a lot of changes recently with theme syntax and such; what worked for me in my theme.json to disable the default colors and only provide the theme provided colors is the following; this worked in 5.9 RC 2 bot

[2022-01-18 21:47] hellofromtonya commented on #37996
Hey folks, PR #38032 was backported to Core for RC3 https://core.trac.wordpress.org/changeset/52598. Thank you everyone for contributing to fixing this issue 🎉

[2022-01-18 22:22] annezazu commented on #37573
Noting that this still happens with 5.9 RC3 (not surprising; just noting).

[2022-01-18 22:33] apeatling commented on #20758
Let's close this because it seems spacer block is the direction going forward.

[2022-01-18 22:33] #20758 closed

[2022-01-18 22:34] apeatling commented on #22071
I'm unassigning myself from this, others are welcome to pick up items from the list.

[2022-01-18 22:45] apeatling commented on #22956
Fixed in #36186

[2022-01-18 22:45] #22956 closed

[2022-01-18 23:17] noisysocks commented on #36536
We can keep the issue closed as the issue is fixed in the plugin. Since https://github.com/WordPress/gutenberg/pull/36540 has the "Backport to minor" label, it will end up in 5.9.1.

[2022-01-18 23:17] #36536 closed, assigned to stacimc

[2022-01-18 23:45] rodrigodagostino commented on #6808
@ivanjeremic you could check the [Post Carousel](https://github.com/rodrigodagostino/fleximple-blocks/tree/main/src/blocks/post-carousel) that I’ve worked on, it might be helpful. Swiper is implemented behind the scenes, on the admin side as well as on the front-end side.

[2022-01-18 23:50] justlevine commented on #36716
I'm betting this is beyond the scope, but I would hope any API solution includes some sort of version management. Any performance gains we get from ESM are barely make a dent when plugins are all multiple duplicates of the same libraries.

[2022-01-19 00:17] apeatling opened #38059 "Audit and improve `ToolsPanel`'s a11y"
(semantics, focus management, announcing changes to screen reader users)

[2022-01-19 00:23] chthonic-ds commented on #36977
Noting in 5.9-RC3 the second part of OP's issue is still present: the "Remove submenu" tool also removes the parent item.

![removing-submenu-removes-parent-5 9-RC3](https://user-images.githubusercontent.com/29587253/150039745-97f5b83c-9144-43b7-9b47-97c61640f802.gif)