[2022-05-11 06:39] carolinan opened #40989 "Calendar: Consider removing the hardcoded colors"
### Description

The hard coded colors in the calendar block does not work well on some colored backgrounds or when the theme sets the link color to a light color.
The color contrast can be too low, making the texts difficult to read.

Related: https://github.com/WordPress/gutenberg/issues/39053

### Step-by-step reproduction instructions

1. In the editor, add a few default calendar blocks with d

[2022-05-11 07:28] Mamaduka commented on #30398
I'm no longer able to reproduce this issue. Probably fixed via #35082.

## Screencast

https://user-images.githubusercontent.com/240569/167793102-9b5a527c-3136-4a6e-bdfb-0742ba2ff67f.mp4

[2022-05-11 07:53] hypest commented on #40968
Closing as per @SiobhyB 's comment above, please feel free to reopen if still occurring after fix gets to production. Thanks!

[2022-05-11 07:53] #40968 closed, assigned to nobody

[2022-05-11 09:15] #39875 closed, assigned to jorgefilipecosta

[2022-05-11 09:17] man4toman opened #40992 "Default 'Title Placeholder' will remains when we don't use space"
### Description

When we start typing the main title, the default title placeholder will remains until we use space in the title.
Please check the video.

### Step-by-step reproduction instructions

1- Go to add new post
2- Start typing the title without space

### Screenshots, screen recording, code snippet

https://user-images.githubusercontent.com/935397/167815105-3b4d7aea-978c-4ec5-9468-b0e196

[2022-05-11 09:22] man4toman opened #40993 "Paragraph removed after copy & past the text and enter will go to the end of paragraph"
### Description

Paragraph removed after copy and past the text from note, and when we press enter from mobile keyboard in any position of paragraph, the cursor will go to the end of paragraph.

### Step-by-step reproduction instructions

1- Go to add new post
2- Copy text from Note
3- Add enter from mobile keyboard

### Screenshots, screen recording, code snippet

https://user-images.githubuserco

[2022-05-11 09:24] jameskoster commented on #40204
At a glance the breadcrumb pattern looks great, but I worry about the scalability. In the template editing context you'll mostly be seeing `Template / ... / Selected block` which reduces the value quite a bit.

I do appreciate how much lighter the interface appears when you reduce the stroke on active tabs, and use icons instead of full labels.

[2022-05-11 10:41] ntsekouras commented on #39643
When I was talking about `default` I didn't have in mind to add it in the `fontSizes` like this:
[code]
This can lead to confusion because you are using `default` as label, but is not taking the default value from `theme.json` and uses the specific value. Why do you need to have this there? In order for users to know what is the default?

You can do it through the tools panel. There are discussion

[2022-05-11 10:49] luisherranz commented on #40316
Unfortunately, it's not that simple.

Typically, teams ship either:

- A product that requires a fast iteration of the UX using a stable DX tool.
  _They improve the UX and recover from previous mistakes by shipping new product versions._
- A DX tool that remains unstable until a major version is released.
  _They improve the DX and recover from previous mistakes by starting a new major version wh

[2022-05-11 10:51] ndiego commented on #40963
That's interesting, I am not seeing this in the Icon Block. The testing steps that I followed are:

1. Setup a local site with 5.9.3 without Gutenberg installed.
2. Added a few icons to a page/post using the Icon Block.
3. Upgrade to 6.0 RC2 using the Beta Tester plugin.
4. View the page/post with the icons to see if there is an "unexpected content" error.

I might be missing something, but the Ic

[2022-05-11 11:00] #32924 closed, assigned to ntsekouras

[2022-05-11 11:24] SaxonF commented on #40204
I don't like this as I don't think its visible enough but worth dropping here in case it inspires other approaches

![image](https://user-images.githubusercontent.com/1072756/167838041-5bc39c6c-029d-4f38-b4b3-29908f9670b3.png)

[2022-05-11 11:31] shimotmk commented on #40963
Are you serious?

I have done a similar test.
The recording is below.

https://user-images.githubusercontent.com/42362903/167838231-47f9cbd0-58b9-4cf6-ad5f-169d10670a20.mp4

The theme is Twenty Twenty-One
No plugins except The Icon Block and WordPress Beta Tester.

[2022-05-11 11:52] ndiego commented on #40963
Ahh, I am able to replicate now. If you use a custom SVG in the Icon Block, the issue does not occur, only when you have chosen one from the included library. Thank you for the video!

[2022-05-11 11:59] CreativeDive commented on #33379
@mkdgs thanks for the input. But things like ...

[code]

... is one case of a lot. Hopefully there comes an out of the box solution. @getdave All what we need is a core implementation like:

[code]

It would be very helpful for register block templates on post/page creation.

[2022-05-11 12:02] madhusudhand opened #40996 "Query block: is not respecting perPage attribute in inherited context"
### Description

In the query block, when `inherit` is set to `true`, query block always shows `10` posts and doesn't respect the `perPage` value.

### Step-by-step reproduction instructions

The following query with `inherit: false` shows 3 posts.
[code]

Same query with `inherit: true` shows 10 posts.

[code]

### Screenshots, screen recording, code snippet

_No response_

### Environment info

[2022-05-11 12:04] MarieComet opened #40997 "Click inside Buttons block : focus go to random inner Button block"
### Description

When I click inside Buttons block, the focus is immediately going on a random child Button block.

### Step-by-step reproduction instructions

(Video screenshot below)
Insert a Buttons block, create Button blocks inside of this block.
Click elsewhere in the editor, and click again on the Buttons block.

### Screenshots, screen recording, code snippet

https://user-images.githubuse

[2022-05-11 12:32] luminuu opened #40999 "Post Featured Image block: Alt text from media library is not returned"
### Description

When selecting a featured image from the media library, you can add an alt text for the given image. However on the frontend, only the name of the post or page is returned in the alt text of the featured image, instead of the saved alt text from the media library.

### Step-by-step reproduction instructions

1. Make sure to have a block theme active.
2. Go to a post or page where

[2022-05-11 12:51] jameskoster opened #41000 "Simplify the font size control in the Typography panel"
<img width="292" alt="Screenshot 2022-05-11 at 12 53 13" src="https://user-images.githubusercontent.com/846565/167850359-232d5b55-c9bb-4690-9e72-a783e9420d5b.png">

There are a number of problems here:

1. The most helpful label is hidden in a tooltip
2. The labels in the control feel arbitrary. Are they associated with units? Is "1" small or large?
3. After selecting an option, reseting to defaul

[2022-05-11 12:59] javierarce commented on #41000
This looks good, and I know this was a quick mockup but if we add an icon (and maybe we don't need them) they should look different.

I'm also wondering if we could indicate that one of the values is the default one without requiring the top option.

And maybe we should indicate dynamic values somehow. Here's the typography section of the `theme.json` for twentytwentytwo:

[code]

[2022-05-11 13:05] hypest commented on #38407
Updated the parent post with:

### 🛠️ Recently fixed or improved
++ [Mobile - AztecView - Trigger notifyInputChange on focus/blur](https://github.com/WordPress/gutenberg/pull/40788)
++ [Test block insertion after title post blur](https://github.com/WordPress/gutenberg/pull/32944)
++ [Prevent x-post icon showing on self-hosted sites](https://github.com/wordpress-mobile/WordPress-Android/pull/16507)

[2022-05-11 13:10] beafialho commented on #41000
I like how quick the current selection is, for the mere fact that you don't need to click to see a dropdown. But overall I find your solution much more complete and informational.

I also agree with @javierarce, this could work.

[2022-05-11 13:16] jameskoster commented on #41000
All good points.

The 'icon' was my attempt at providing a relative preview of the setting, similar to Figma's type styles. I agree we probably don't need it though.

I'm sure we can combine the default option, and probably list dynamic values too:

<img width="443" alt="Screenshot 2022-05-11 at 14 15 43" src="https://user-images.githubusercontent.com/846565/167858839-fd243fd1-64b6-4a36-81cf-eadb0

[2022-05-11 13:24] javierarce commented on #41000
Much better!

Regarding showing the literal dynamic operations, I just remembered this comment by Kjell on this [issue](https://github.com/WordPress/gutenberg/issues/35558):

I agree with the idea, and maybe we could simply say "Dynamic value" (or something similar) and then… show the exact calculation inside a tooltip?

[2022-05-11 13:32] mikachan commented on #41000
I agree that the font size controls should be simplified. I like the idea of using a dropdown like your example, especially as you can fit so much information in this way.

I also wanted to note there is a similar discussion about the font size labels over in this issue: https://github.com/WordPress/gutenberg/issues/39643

[2022-05-11 13:33] eric-michel commented on #29173
That totally makes sense. I'd love to see a built-in block that exposes a simple method of interacting with basic postmeta values, along with an API that would let custom block developers interact with the postmeta table using the editor's [standard components](https://wordpress.github.io/gutenberg/?path=/story/docs-introduction--page).

[2022-05-11 14:13] jameskoster commented on #41000
Perhaps there are ways to simplify the dynamic values so that they're more human-readable? The tooltip idea feels a little bit cumbersome 🤔

<img width="807" alt="Screenshot 2022-05-11 at 15 11 42" src="https://user-images.githubusercontent.com/846565/167870920-0d09ed21-1903-4c58-8700-befd06eccf00.png">

[2022-05-11 14:16] beafialho commented on #41000
I think showing the actual sizes "14px, 16px" is much simpler and obvious for the regular user. It also adds more value than saying "Variable size".

I do like your option of showing dynamic values on hover with the black tooltip, but it might be too much info at the same time 😅

[2022-05-11 14:28] jameskoster commented on #41000
I suppose the issue is that if absolute values are displayed while dynamic ones hidden then folks won't understand why. So I think we need to display _something_.

Having the "Variable" label in lieu of an absolute value seems like a fair starting place, and perhaps it's enough. I don't know how useful it is to see the actual operation for the variable sizes. By that point the 'at a glance' scan-a

[2022-05-11 14:51] mkdgs commented on #33379
@CreativeDive for sure a native solution would be great.
But, i need it now and that's works for me ;)
For the case of ""core/image",i think the odd is in parse_blocks() i don't know why
url attribute is not generated, since it's mandatory.

I'm not using acf, can you confirm this solution not works or not in this case ?

[2022-05-11 15:11] jorgefilipecosta commented on #39643
I think to address the problem of users not knowing the default one should set a font size with theme.json.
If we have this:
[code]

On the global styles, font size picker medium will appear as the selected font size, so users know that medium is the default.

[2022-05-11 15:25] ersatzpenguin commented on #31390
In addition to @mrfoxtalbot's suggestion for filtering "child of x" pages, it'd be really cool if we could query top level pages. I'm working on a project where we're creating a knowledge-base, and being able to have robust page hierarchy options would make it a lot easier to drill down topics using static pages. As it is, I'm having to build things out as posts instead—which isn't that big of a d

[2022-05-11 16:04] Nilros commented on #12684
+1 for this ! Please !

[2022-05-11 16:06] Engage11 opened #41003 "Editing Selected Text Bug"
### Description

When selecting text to edit it will deselect part of the text after the edit has been made causing the part that deselected to not be edited. I know for a fact the entire piece of text was selected before making the edit because of the visual black box behind the text.
Edits can be anything from changing the font style to trying to add a url link to the selected text.

This issue

[2022-05-11 16:16] Andrew-Starr commented on #41000
Is there any reason why the options could not be displayed as the actual font size? Do not show either absolute or dynamic size values or even the word "Variable".

<img width="419" alt="typography-font-sizes" src="https://user-images.githubusercontent.com/94701043/167896734-7e21e134-dbb0-4af7-b5f4-ae5342a29347.png">

I think the average user won't understand "Variable" in this context. "How/when/

[2022-05-11 17:14] jameskoster commented on #41000
Hmm, that does seem sensible.

Could the previews inherit the typeface too, and would the scale need to be relative to account for very large / small sizes? I suppose those are the main arguments against this, would a pseudo-preview be confusing?

[2022-05-11 17:27] annezazu commented on #30398
Fantastic! Closing out.

[2022-05-11 17:27] #30398 closed, assigned to nobody

[2022-05-11 17:51] strarsis commented on #31459
Yes! Adding (horizontal) alignment to a block to be used inside the column block doesn't really make sense,
as some blocks don't have something inside that can go to their own edge (content/child blocks).

[2022-05-11 18:24] annezazu commented on #29049
Just tested once more to get a lay of the land. Sounds good :) Will do that now.

[2022-05-11 18:24] #29049 closed

[2022-05-11 18:26] annezazu opened #41004 "Site Editor: Add the block manager to Preferences"
## What problem does this address?

Building off of this prior issue https://github.com/WordPress/gutenberg/issues/29049, this is a request to add the block manager to preferences in the site editor. This is the view in 13.1:

<img width="1120" alt="Screen Shot 2022-05-11 at 11 25 30 AM" src="https://user-images.githubusercontent.com/26996883/167920054-a5b8fb33-409a-4aa9-a0a7-e3e81afc811d.png">

#

[2022-05-11 19:15] CreativeDive commented on #33379
@mkdgs it's not only an ACF block issue, it's an issue with all kind of blocks. I have wrote in a comment above, this solution dosen't work because, inline tags will removed. At the end there is a ready to use method in WordPress core using the `block_editor_settings_all` filter for the default block template. Actually this method could work also for `$post_type_object->template`, but it requires

[2022-05-11 19:46] annezazu opened #41008 "Site Editor: improve flow for creating a new template part"
## What problem does this address?

Currently, when you head to the Site Editor > Template Parts > Add New, you are dropped into an empty experience without even a + button to orient you. This feels like a fairly jarring and underwhelming UX:

https://user-images.githubusercontent.com/26996883/167932393-e2703eaa-fecc-4bd8-90a1-322756d533f7.mov

## What is your proposed solution?

- Consider priori

[2022-05-11 19:47] annezazu commented on #41008
cc @jameskoster since you have other explorations on creating new template parts and @jorgefilipecosta since you've worked on the quick inserter piece of this and might have thoughts.

[2022-05-11 20:02] annezazu opened #41009 "Inserter: improve search results for better block discoverability"
## What problem does this address?

Right now, for searching some common use cases, core blocks that could do the job aren't being shown. Here are a few examples you can try searching in the Inserter that will show no results:
- Background cover block (would expect to see cover block)
- Background image (shows patterns)
- Stacks/Stacking (would expect to see stack variation)
- Rows (shows table, s

[2022-05-11 20:09] strarsis commented on #5650
The recently added Gutenberg Block [Context API](https://developer.wordpress.org/block-editor/reference-guides/block-api/block-context/) can be useful for this: E.g. a `core/image` block can be informed by its parent blocks about the overall available, expected width and adjust its `sizes` attribute accordingly.

[2022-05-11 20:09] skorasaurus commented on #31390
There's a Pull request for this feature - https://github.com/WordPress/gutenberg/pull/40933 ; you can try it (on a local/testing website, because there may be small bugs!) by downloading the zip at the directions at https://github.com/WordPress/gutenberg/issues/40483#issuecomment-1104593308

[2022-05-11 20:24] annezazu opened #41010 "Navigation block: Make it easier to add a spacer block"
## What problem does this address?

In the last week, two different folks noted how difficult they found it to add a spacer block to the navigation menu. Right now, you essentially have to add the spacer block to the end of the navigation block and then use the block movers to place it where you want it to go OR just rely on block spacing to control all spacing in the block:

https://user-images.g

[2022-05-11 20:36] paaljoachim commented on #40978
Great! Thank you Anne and Aaron!

[2022-05-11 20:49] bph commented on #39654
All published.

[2022-05-11 20:49] #39654 closed, assigned to nobody

[2022-05-11 21:18] strarsis commented on #40447
+1, had to walk through the code to find that there is a condition for the existence of such a `index.asset.php` before the block (editor) script is actually enqueued.
The documentation [mentions that `.asset.php` file](https://developer.wordpress.org/block-editor/reference-guides/block-api/block-metadata/#:~:text=The%20definition%20is%20stored%20inside%20separate%20PHP%20file%20which%20ends%20wit

[2022-05-12 01:00] bradhogan commented on #40048
+1 on this.  Frustrating that multiple hard refreshes don't show global style updates in some cases.  Not a great UX when the idea is to make things instantly visually in the editor but not on the actual site.

[2022-05-12 02:32] jhnstn opened #41012 "Deleting new word on split RichText block does not merge blocks"
## Description
[TC002](https://github.com/wordpress-mobile/test-cases/blob/trunk/test-cases/gutenberg/writing-flow/splitting-merging.md#tc002) - merge after selection is failing on Android only

## Step-by-step reproduction instructions

Follow the TC002 test case linked above

## Expected behaviour

The split blocks should merge.

## Actual behaviour

The split blocks do not merge.

## Screenshot

[2022-05-12 03:39] alexstine opened #41014 "Cannot use Tab to move to columns"
Steps:
1. Insert a table block.
2. Select Create Table button.
3. Press Tab key to move to the second column.
4. Notice how focus leaves the block and arrives at the sidebar.
5. I expected focus to land in the second column and only reach the sidebar after the field labeled Caption.

This is related to writing flow. Just can't figure out how to adjust the logic here.

[2022-05-12 03:49] costdev commented on #41014
### Reproduction report
#### Environment
- OS: Windows
- Server: WSL2 (Ubuntu)
- Browser: Google Chrome 101.0.4951.54
- WordPress: 6.1-alpha-53344-src
- Gutenberg version: with and without Gutenberg 13.1.0 active

#### Steps to reproduce.
- Insert a table block.
- Select Create Table button.
- Press Tab key to move to the second column.
- 🐞Notice how focus leaves the block and arrives at the sideb

[2022-05-12 03:49] alexstine commented on #12525
Is this one still relevant?

[code]

Seems like the table info is still read. Not sure if that would be the case for Voiceover or not, but works well enough for NVDA. 👍

[2022-05-12 04:33] Gierand commented on #38329
@iworks, at this point for [version 6.0](https://translate.wordpress.org/projects/wp/dev/pl/default/?filters%5Bterm%5D=Wielko%C5%9B%C4%87+liter&filters%5Bcase_sensitive%5D=yes&filters%5Bterm_scope%5D=scope_any&filters%5Bstatus%5D=current_or_waiting_or_fuzzy_or_untranslated&filters%5Buser_login%5D=&filter=Apply+Filters&sort%5Bby%5D=priority&sort%5Bhow%5D=desc) the translation is still not correct a

[2022-05-12 05:16] twstokes commented on #40029
I'm unsure if there's any relation, but I see a similar effect when writing a post using mobile Safari.

https://user-images.githubusercontent.com/2092798/167997000-7f13fe34-7761-4668-a7b0-50c66d08fcd5.MP4

[2022-05-12 05:19] glendaviesnz commented on #40936
I am working on a potential fix for this here https://github.com/WordPress/gutenberg/pull/41015, which will load the styles in the header for block themes

[2022-05-12 05:24] #27194 closed

[2022-05-12 05:53] carolinan commented on #41010
I feel that this is true also for the other inner blocks like the home link, and it is unnecessarily difficult to add them:

To add a spacer or a home link to a new menu, I need to:
1. Add a navigation block
2. Select Start Empty
3. Select Add block
4. Select one of the following: Site logo, search, social icons (because if there are only link items, the browse all does not show(!))
5. Select Add

[2022-05-12 05:58] florianbrinkmann opened #41017 "Block Styles: default style picker gone(?)"
### Description

I went through the options of the `block.json` and noticed the one that allows to hide the block style default picker. I was not sure where that picker was displayed, so I opened the editor, selected a block with a block style (quote block) and was not able to find the select option. I searched if that was removed somewhere, but only found a PR from November where it was still the

[2022-05-12 06:12] aristath commented on #41000
It used to be a dropdown last year... and it used to show a preview of the font-sizes as well - just like in the mockups above. If I'm not mistaken, it still has that behavior if there are many (more than 6) available font-sizes to choose from

[2022-05-12 06:51] aristath commented on #41017
I just noticed the same thing a few minutes ago and was wondering what happened...
I can confirm that the default block-style selector is no longer there (using Gutenberg trunk)

[2022-05-12 07:52] javierarce commented on #41000
I think that the problem is that the dynamic sizes depend on a combination of the base font size and the viewport size. In some cases, there wouldn't be much difference between some previews, especially since the dropdown is narrow. In other cases, because of the dynamic nature of the calculations, the list wouldn't be ordered from small to big. And then there's the problem of rendering texts writ

[2022-05-12 07:56] aristath commented on #41000
There's also the issue of large font-sizes... I remember last year when it used to be that way, there was a serious issue with large/huge font-sizes in the default themes.

[2022-05-12 08:01] fluiddot commented on #41012
@jhnstn I could only reproduce this issue by using the Gboard keyboard, using the OS one (in my case, the Samsung Keyboard) seems to work. I found out that we already have [an issue](https://github.com/wordpress-mobile/gutenberg-mobile/issues/2375) that describes a quite similar behavior, so we might consider this as a duplicate issue, wdyt?

[2022-05-12 08:05] carlomanf commented on #29173
I think you can already do that, as far as I'm aware. It's just that there's currently no way to do it through a built-in block.

[2022-05-12 08:30] carolinan commented on #40999
I believe the alt text is only intended to be the post or page title if the image is linked. I was able to confirm that it is used when the image is not linked. @aristath
https://github.com/WordPress/gutenberg/pull/39634

[2022-05-12 08:44] carolinan commented on #40996
When the query inherits the context, it uses the WordPress "Blog pages show at most" global reading setting, and I believe this is working as intended.

How to communicate that this is intended, when it is not expected, is something that needs to be solved 🤔

[2022-05-12 09:07] t-hamano commented on #41014
I developed [a table block plugin](https://wordpress.org/plugins/flexible-table-block/) with [tab key navigation](https://github.com/t-hamano/flexible-table-block/blob/main/src/elements/table.tsx#L229-L274).
This is not an extension of RichText, but rather the logic to detect keyboard events within a block.
I am sure there are many improvements that could be made, but I hope this will be helpful.

[2022-05-12 09:15] carolinan commented on #40576
This has been solved, so I am closing the issue

[2022-05-12 09:15] #40576 closed, assigned to carolinan

[2022-05-12 09:16] carolinan commented on #40137
I also can no longer reproduce this issue.

[2022-05-12 09:16] #40137 closed, assigned to nobody

[2022-05-12 09:54] bph opened #41021 "New Pattern features need documentation"
Add to theme developer documentation from this Dev Notes to the Block Editor Handbook

- [ ] [Pattern registration from Pattern Directory for themes](https://make.wordpress.org/core/2022/05/02/new-features-for-working-with-patterns-and-themes-in-wordpress-6-0/)
- [ ] [Place Patterns in the subfolder /patterns of your theme](https://make.wordpress.org/core/2022/05/02/new-features-for-working-with-p

[2022-05-12 10:11] jameskoster commented on #41000
The previews would need to be dynamic themselves. But that also has issues – outliers can throw the whole scale off, to the point where the smallest previews are unreadable.

For now it would probably be best to concentrate on the biggest issues with the current control – the labels feel meaningless, and resetting to default / choosing a custom value is unintuitive. A dropdown is only one potentia

[2022-05-12 10:54] adamziel opened #41023 "lib/compat is confusing. Let's document how the contributors can use it effectively."
## What problem does this issue aim to solve?

There's something off with the mental model of `lib/compat`. There's friction every time it comes up.

For example, we have:

* `lib/compat/wordpress-5.9`
* `lib/compat/wordpress-6.0`
* `lib/compat/wordpress-6.1`

Can you answer these questions?

* Where do I put code that should only run on WordPress 6.0+?
* Where do I put code that should only run u

[2022-05-12 10:58] imnavanath commented on #34589
Is there any solution on this or any workaround is there? Might be in WP-6.0?

[2022-05-12 11:04] mkdgs commented on #33379
@CreativeDive i've taking some time to see what is under the hood.
What i understand:
- It seem's 'defaultBlockTemplate' is parsed with js, not php.
- '$post_type_object->template' wait a php array.
- There is no simple way to get this working.
- And there no existing way if you want to do that on php side.

There is a lack in parse_blocks, but we can try to fill all missing attribute without know

[2022-05-12 11:23] jameskoster commented on #41008
We can prioritise patterns for semantic template parts, but I'm not sure about general ones. The scope is vast which makes it difficult to provide helpful suggestions.

In general I agree that we can re-use elements of the existing empty header / empty footer block experience. It may need some adjustments though – perhaps pattern selection can occur in the initial modal when you input the template

[2022-05-12 11:25] imnavanath commented on #34589
This solution worked for me - https://github.com/WordPress/gutenberg/issues/33374#issuecomment-969165014 Thanks @mrwweb 🎉

[2022-05-12 11:57] justinkruit commented on #40381
So I need to enable the settings per block, to have a bit of proper spacing between blocks in the Gutenberg editor? That just feels weird to me. When you don't use a theme.json you automatically get a nice gap between blocks, and I just want that back while not having all kinds of size settings for the user.

[2022-05-12 12:10] carolinan commented on #41021
I strongly feel that the features that are going to be in **core** in 6.0 should be in the theme developer handbook and not in
https://developer.wordpress.org/block-editor/how-to-guides/themes

[2022-05-12 12:13] carolinan commented on #41008
I feel that short term we should re-enable the inserter

[2022-05-12 12:13] carolinan commented on #41008
Also see https://github.com/WordPress/gutenberg/issues/37524

[2022-05-12 12:16] gziolo commented on #41023
There should be a different mindset for this. We are trying to be always ahead of WordPress core, so we are adding the code that is not there or needs to be extended.

When we decide that code goes in the given major release, then we add all the code that represents it's number, for example, `lib/compat/wordpress-6.0` for the current cycle. We also have to ensure that this code will work for all p

[2022-05-12 12:26] jameskoster commented on #41008
Agreed, if users elect to create a general template part they will see a blank canvas, and even if they select header / footer they can still 'start blank'.

[2022-05-12 12:28] gziolo commented on #41021
Good feedback. It still would be great to add all listed references from the Block Editor Handbook if we follow your recommendation.

[2022-05-12 12:39] ndiego opened #41026 "An extra container class is getting added to the first element of each Query Loop"
### Description

If you create a Query Loop, the first block inside of the Query loop will receive an erroneous `wp-container-#` class.  This causes a major issue when that block is a Group block because the block will then receive two container classes. These classes add competing block gap specifications, especially with Rows and Stacks.

### Step-by-step reproduction instructions

1. Create a Q

[2022-05-12 12:40] KAJALwp opened #41027 "Alignment issue in Latest Comments block"
### Description

When we select the Latest Comments block in our post or page and apply the alignment for that, it is not showing proper in front-side. when we choose Align center for latest comments block it is not reflected in front-side.

For better understanding I have attached video link.

Thanks

### Step-by-step reproduction instructions

1. Go to editor
2. Add latest comments block
3. choo

[2022-05-12 12:52] getdave commented on #39301
I'd suggest that the item that is currently focused is probably temporarily being removed from the DOM during a loading state. This might cause the focus to jump back to the document body in lieu of the previously focused element no longer being present.

Bear in mind this may happen very quickly on powerful devices with good internet connections so we'll need to think carefully about how/why it's

[2022-05-12 12:52] jhnstn commented on #41012
You're right , closing in favor of the prior issue

[2022-05-12 12:52] #41012 closed, assigned to nobody

[2022-05-12 13:03] ntsekouras commented on #41023
The below comments are based on my understanding and might be wrong about something, so please correct me if needed 😄

What would be a case for that?

A bug in 5.9 would be handled in core in a minor version, so it would need to be back ported to GB afterwards.

If you need to update some functionality that exists in core and is intended to land in the next version, you move the code to the next v

[2022-05-12 13:12] carolinan commented on #41021
I have opened this issue for the theme developer handbook: https://github.com/WordPress/Documentation-Issue-Tracker/issues/342

[2022-05-12 13:30] jameskoster commented on #37220
In light of [discussions elsewhere](https://github.com/WordPress/gutenberg/issues/27093#issuecomment-1122278224) it might make sense to put these controls in the top toolbar, with a view removing the sad and empty "Template" tab from the insepctor.

| Editing a post  | Editing a Template Part |
| --- | --- |
| <img width="599" alt="Screenshot 2022-05-12 at 14 27 31" src="https://user-images.github

[2022-05-12 13:33] ehausen commented on #36350
How about at least make it possible to open it programatically?

Similar to have already can open the left side inserter panel:
`wp.data.dispatch('core/edit-post').setIsInserterOpened(true);`

(Or is there a way to do it already?)

[2022-05-12 13:43] LukaszJaro commented on #38554
I believe you on the split button design.

I think the kebab menu, what @ALJ is best place for the duplicate/new post functionality since it already has similar functionality in there like 'copy all content' and the new export function.

I toggled the block inserter a few times already in the very top left to create a new post mixing it up with the front-end UI as you can see they are in almost sa

[2022-05-12 13:47] adamziel commented on #41023
For example a function that gets merged to core in WordPress 6.0 and should no longer run the code path from the plugin.

That sounds nice, cc @scruffian for the purposes of https://github.com/WordPress/gutenberg/pull/40811

That's what I ended up suggesting in https://github.com/WordPress/gutenberg/pull/40811/files#r871221188 but it took some thinking. It's not a straightforward thought process b

[2022-05-12 14:00] shimotmk commented on #40963
Memo
https://wordpress.slack.com/archives/C035NHLFUSY/p1652267046962029
https://wordpress.slack.com/archives/C02QB2JS7/p1652280261130769
https://wordpress.slack.com/archives/C02QB2JS7/p1652797293042219

[2022-05-12 14:06] jameskoster commented on #41008
I think we can combine:

* The [latest designs for creating regular templates](https://github.com/WordPress/gutenberg/issues/37407#issuecomment-1075247090).
* The freshly implemented [option to pick a pattern on page creation](https://github.com/WordPress/gutenberg/pull/40034).

https://user-images.githubusercontent.com/846565/168093820-d0a009da-33b2-4747-992e-fa8054d922a7.mp4

You'll notice the "

[2022-05-12 14:26] ntsekouras commented on #41023
That's when we introduce the checks for existence. Usually a new GB function has the `gutenberg` prefix, but when it lands in the new WP version, in core we remove that prefix. Then we update GB to have the check and also rename the function.

For example a new function is `gutenberg_foo`. When we backport to core we name it `wp_foo`(in core)  and then update in GB the `gutenberg_foo` to `if (wp_f

[2022-05-12 14:28] bph commented on #41021
Thank you so much @carolinan - I close this issue here.

[2022-05-12 14:30] carolinan commented on #41021
Reopened because the **reference** still needs to be updated.

[2022-05-12 14:36] carolinan commented on #41021
Or, when do we consider the https://developer.wordpress.org/block-editor/reference-guides/block-api/block-patterns/ to be a duplicate of the core code reference?

https://developer.wordpress.org/reference/functions/register_block_pattern/
https://developer.wordpress.org/reference/functions/unregister_block_pattern/

[2022-05-12 14:54] Mamaduka commented on #41017
cc @ramonjd

[2022-05-12 15:03] richtabor opened #41030 "Navigate to specific NavigationScreen paths"
## What problem does this address?
With an experiment I was trying out recently, I wanted to add a link within the site/template editor that opens the style variants NavigationScreen directly, instead of having it buried behind clicking "Global Styles" then "Browse styles".

I know we can enable complementary areas and plugin sidebars — and Global styles is opened via URL parameter [here](https://

[2022-05-12 15:10] #40885 closed, assigned to Mamaduka

[2022-05-12 15:17] ZebulanStanphill opened #41031 "Table of Contents: fix undo history quirk"
### Description

As noted in #29739, there is an undesirable quirk with the current implementation of the Table of Contents block:

When a Table of Contents block is present, every letter typed in a Heading block counts as a separate undo step, in contrast to the default behavior of multiple letters typed in sequence being combined into a single undo step. This only affects typing in Heading block

[2022-05-12 15:19] ZebulanStanphill opened #41032 "Table of Contents block: add end-to-end tests for complex behaviors"
The Table of Contents block is rather complex, and it would be wise to add some end-to-end tests to prevent any regressions in the future.

## Behaviors in need of a test:
- [ ] Inserting a ToC in a post already containing Heading blocks cause the ToC to be filled with the pre-existing headings.
- [ ] Heading blocks inserted into a post with a ToC automatically update the list of headings in the T

[2022-05-12 15:20] richtabor opened #41033 "Make pattern modal views more consistent"
## What problem does this address?

Now that we have a number of pattern experiences within core, we should consider where there are inconsistencies that can be brought closer together. I've outlined the three pattern modal experiences from a block selection (__experimentalBlockPatternSetup), add new page, and pattern explorer:

### From the Query loop block's pattern selector:
<img width="1590" a

[2022-05-12 15:23] javierarce commented on #29575
I've updated my previous proposal with a split button, as @jasmussen suggested.

https://user-images.githubusercontent.com/4933/168110102-eda17124-9fbe-4b4c-b548-e8e723262804.mov

Something else I've added from the previous iteration is a warning notice in the case the user schedules a post for publication but then decides to save a draft instead.

![image](https://user-images.githubusercontent.co

[2022-05-12 15:26] #40827 closed, assigned to ockham

[2022-05-12 15:32] #39797 closed, assigned to nobody

[2022-05-12 15:43] adamziel commented on #41023
That's my point! 😆  I wonder how much this is about the specific structure of `lib/compat` that we use, and how much about the unavoidable complexity of maintaining WP/Gutenberg separately.

[2022-05-12 15:44] jameskoster commented on #29575
I find saving drafts in the site editor to be a little confusing. What happens if I edit post content then save a draft, does that update the post status to draft (and unpublish it) or just store those changes somewhere? If the changes are stored, what happens when I go to edit that post, can I pull the changes in?

[2022-05-12 15:49] gziolo commented on #41023
I had also a hard time wrapping my head around what WP versions mean in `lib/compat/` and when it's going to be removed so this needs to be included in the docs. If we can find better words to explain those ideas in the folder structure then it would be great.

[2022-05-12 16:04] #40814 closed, assigned to nobody

[2022-05-12 16:09] strarsis commented on #39937
`core/buttons` alignment doesn't work for me at all in latest WordPress (`5.9.3`) + Gutenberg Plugin (`13.2.0`).
No `class` or `data-` attribute (in editor/backend) is assigned, no indication an alignment is applied to the `buttons` block.
I have to manually assign a CSS class to that `buttons` block (`aligncenter`) to see an effect in editor/backend and frontend.

[2022-05-12 17:03] ooksanen commented on #39643
Was this a question about my use case @ntsekouras? If so, I added it because there was no clear way of resetting the font size after you had set it to something else than default. I've been using Gutenberg before it was included in the core and I only found out from [your link](https://github.com/WordPress/gutenberg/issues/38219) that you can (/have to, since 5.9 I believe) reset font size like th

[2022-05-12 17:06] strarsis commented on #38274
@Jugibur: The styles added by `add_editor_style` should be actually front-end styles.
Gutenberg will postprocess those styles, wrapping the selectors into `.editor-styles-wrapper` selector to isolate the styles from the rest of the editor page UI.
The styles to be added by `add_editor_style` are postprocessed by JavaScript in the browser that runs the Gutenberg editor - but the styles are not fetc

[2022-05-12 17:14] strarsis opened #41035 "stylesheet-relative `url(...)`s not rewritten in post-processed editor styles"
### Description

stylesheet-relative `url(...)`s are not rewritten in post-processed editor styles.
As the post-processed CSS is added as inline-styles, these stylesheet-relative URLs don't resolve correctly anymore.
While in frontend the URLs are correctly loaded, in editor/backend they fail to load.

Edit: There is actually a test for rewriting those URLs:
https://github.com/WordPress/gutenberg/

[2022-05-12 17:26] dabowman commented on #39063
@annezazu pointed me here.

This sounds like it could solve something we're experiencing.

Type styles are the classic example of where we want to be able to use and manage block styles more easily. We don't want our users to be able to control individual style properties like `font-size` `font-family` or `line-height` but instead we want to offer them a list of combined style options that match o

[2022-05-12 17:28] ooksanen commented on #39643
@jorgefilipecosta could you elaborate? I tried adding the typography settings to my theme.json as per your suggestion:
[code]
(your code is missing something from the var name) but it doesn't seem to make any difference. Any text without an explicitly set font size, shows "Default" as size and none of the selectors are active. Tried with different variables, but none seemed to display the default/

[2022-05-12 17:32] ntsekouras commented on #41023
I think it's mostly about the unavoidable complexity. In the last two years that I was first involved with that process, I believe great progress has been made, but in general this is no easy task 😄

I agree with @gziolo 👍

[2022-05-12 18:49] annezazu commented on #41008
Whew that feels LOADS better, @jameskoster. Thank you. The lack of inserter is present in 6.0 RC2 and it feels pretty important to fix. I'll comment on the PR from @carolinan to see if we can get that in.

[2022-05-12 18:52] pcrumm commented on #29641
@10up spent some time looking into this one – I'm documenting what @smithtimmytim and @devinle found for posterity's sake, though we're hoping to come back to resolving this in short order. This issue appears to impact **all embeds**, not just YouTube.

When an embed's layout is designated in the block editor, that new layout appears to save correctly. Adding `wp-embed-aspect-1-2` to a YouTube emb

[2022-05-12 20:40] mateuswetah commented on #31446
Would love to see this too. I imagined it would make sense to be a variation of the current pagination block

[2022-05-12 20:50] matiasbenedetto commented on #35331
A small PR with a potential fix for this issue: https://github.com/WordPress/gutenberg/pull/41249

[2022-05-12 21:34] pablohoneyhoney commented on #41000
Some relevant context
https://github.com/WordPress/gutenberg/pull/37038#issuecomment-993599138

[2022-05-12 21:40] mtias commented on #41000
This seems to be going in full circles! Please, refer to #34345 which has a lot of context on the details of the control. "Default" has always been challenging because its value cannot be known for all contexts. It should be handled separately.

[2022-05-12 22:36] ramonjd commented on #41017
Thanks for the ping!

Removing the default style picker was a deliberate measure. See this comment from @mtias :

Source: https://github.com/WordPress/gutenberg/pull/34522#issuecomment-929008566
Related design comment: https://github.com/WordPress/gutenberg/pull/34522#issuecomment-928167469

The intention was to hook block style defaults into global styles, though I can't find any progress on that

[2022-05-13 00:21] westonruter opened #41038 "Env: `WP_TESTS_DOMAIN` constant in `phpunit-wp-config.php` is defined to invalid value"
### Description

Apologies if this is not the right place to report this, but I'm having trouble finding the repo responsible for the `/var/www/html/phpunit-wp-config.php` in the wp-env Docker container. My file is including the following constants:

[code]

The `WP_TESTS_DOMAIN` here is wrong as it should be _just_ the host name, specifically `localhost`. This is causing my unit tests to fail whi

[2022-05-13 01:49] annezazu commented on #40861
Related issue here: https://github.com/WordPress/gutenberg/issues/36082

Might be best to default to that one above? Don't feel strongly either way - just know it's been a big area of feedback.

[2022-05-13 01:51] annezazu commented on #41033
Thanks for opening this up @richtabor! At a glance, this seems wildly similar to this issue: https://github.com/WordPress/gutenberg/issues/39308 Mind consolidating feedback there and perhaps closing this one out instead?

[2022-05-13 02:39] peterwilsoncc commented on #40316
Thanks Rob, this is what I was trying (but failing) to suggest. The word I was looking for is _exposed_ rather than exported but I confused up my JS terminology.

A similar approach of locking away any APIs was taken for supporting [webfonts in theme.json](https://github.com/WordPress/wordpress-develop/blob/0907c144a86140197e242ea5bba2443f035a52c9/src/wp-includes/script-loader.php#L3058-L3529). A

[2022-05-13 02:47] hagege commented on #38799
I would like to support and supplement this:
It would be nice if opacity could be set for blocks that are embedded with images and/or covers. Otherwise you can set this again only via custom css (which would not bother me personally, because I am anyway of the opinion, they should continue to offer additional CSS). Something like this:
![opacity_images_cover](https://user-images.githubusercontent.

[2022-05-13 03:34] florianbrinkmann commented on #41017
Thanks for the info! Just wanted to make sure it is not a regression :)

[2022-05-13 03:50] andrewserong commented on #40287
I thought I might have a go at implementing this. I know right-click override behaviour can be a bit contentious for some folks, so in #41041 I've explored implementing this feature plus an editor settings (defaulting to `true`) so that folks can opt-out of right click overrides if they want to.

[2022-05-13 04:35] onetrev commented on #27607
Maybe there's a reason you shouldn't do this, but it seems to me to be a simplere solution to what @kubiqsk posted. I use `wp-dom` in my enqueue, not dom-ready. I've not had issues with this code since I implemented it over a year ago.

[code]

[2022-05-13 05:08] Greatdane commented on #40676
Here is a video of quotes not applying to multiple lines. I believe this related to the same issue;

https://user-images.githubusercontent.com/5075840/168214977-1987908b-6fee-42b3-b57a-3634c54dd500.mp4

[2022-05-13 05:20] glendaviesnz commented on #40928
I have put up a [PR for this](https://github.com/WordPress/gutenberg/pull/41043). Given that `master` is not the default anymore in WordPress, Gutenberg, or Github it probably makes sense to change the fallback to `main` as well as updating the docs.

It is not working yet though, and have run out of time to finish, will hopefully complete it early next week.

[2022-05-13 05:31] Mamaduka commented on #40357
Hi, folks

The [Gutenberg 13.2 has been released](https://make.wordpress.org/core/2022/05/12/whats-new-in-gutenberg-13-2-may-11/) this Wednesday; it includes recent performance optimizations to the Navigation block.

I would appreciate confirmation if it solved the "freezing" issues mentioned here.

[2022-05-13 05:39] #41017 closed, assigned to nobody

[2022-05-13 06:16] jakobwiens7 commented on #40357
Yes, the Gutenberg 13.2 update definately fixed the issue for me. I haven't experienced crashes or complete freezes before though, but performance on my end is now as it used to be :)

[2022-05-13 06:53] carolinan commented on #36396
@markhowellsmead Block patterns and templates are separate, no templates can be imported from the WordPress directory.

To prevent block patterns from the directory, you can use:
`add_filter( 'should_load_remote_block_patterns', '__return_false' );
`
(From WP 5.8.0)

[2022-05-13 07:43] carolinan opened #41047 "Empty toolbar element is visible when editing template parts in isolation"
### Description

When you create a new template part or edit a template part in isolation, and reduce the browser window width,
there is an empty element with the class ".block-editor-block-contextual-toolbar" at the top of the editable area/ canvas, _inside_ the dark grey border.

Because it is inside the dark grey border, it looks like it is in the editable area and the elements visible border i

[2022-05-13 07:53] markhowellsmead commented on #36396
Ah, great. Thanks @carolinan. https://github.com/WordPress/gutenberg/issues/33500 seems to be the better place to track what this issue was originally about.

[2022-05-13 07:53] #36396 closed, assigned to nobody

[2022-05-13 08:05] oldrup commented on #36834
Hm. I'm getting the preset colors and gradients **back** if testing **Gutenberg 13.2** plugin on a WP 5.9.3 website
@skorasaurus - any idea which version of Gutenberg shipped with WP 6. And can you reproduce this?

![image](https://user-images.githubusercontent.com/17141205/168238872-7ad6308d-be56-4e08-945d-9f29897bf1a7.png)

Oh. And the hardcoded duo-tone filters are also back as non-cachable emb

[2022-05-13 08:23] carolinan commented on #41047
Perhaps instead of having the bottom border on block-editor-block-contextual-toolbar, perhaps on this screen, it could be added to the inner element that is only present on the page when the toolbar is populated?

[2022-05-13 09:25] jameskoster commented on #41000
I'll close this can of worms :D

The tshirt sizes in https://github.com/WordPress/gutenberg/issues/34345#issuecomment-926577197 seem worth exploring, assuming they make sense from an i18n perspective.

Setting defaults and custom values can be investigated in dedicated issues.

[2022-05-13 09:25] #41000 closed, assigned to nobody

[2022-05-13 09:26] #34033 closed, assigned to ntsekouras

[2022-05-13 10:07] jameskoster opened #41049 "Font size control: Try 'Tshirt sizing' labels for variable values"
If a theme supplies font size values that are variable they are represented as a 1 - x scale on the control:

<img src="https://user-images.githubusercontent.com/846565/167850359-232d5b55-c9bb-4690-9e72-a783e9420d5b.png" />

This is perhaps suboptimal:

* The most intuitive label is hidden in a tooltip
* The labels in the control feel arbitrary. Are they associated with units? Is "1" small or larg

[2022-05-13 10:22] SiobhyB opened #41052 "Android TalkBack: Focus is shifted back to editor after selecting BottomSheet headings"
## Description

When attempting to navigate BottomSheets in the Android app using TalkBack, TalkBack does not work as expected when focused on section headings. Instead of reading headings and then keeping focus on the BottomSheet, focus is shifted away from the BottomSheet and to the wider editor, making for a confusing experience.

_Note, this has not yet been tested using iOS' VoiceOver._

## S

[2022-05-13 10:54] hypest commented on #41052
Added the `[Priority] High` label since this is fairly broken experience for a basic flow (navigating the bottom-sheet).

[2022-05-13 11:29] ndiego commented on #40357
Yes, everything looks pretty good on my end with 13.2!

[2022-05-13 12:50] MoOx commented on #40357
I confirm that 13.2 make my site editor usable again ! Thanks for everyone involved in the resolution of this issue.

[2022-05-13 12:50] #40357 closed, assigned to nobody

[2022-05-13 13:15] NicoHood commented on #34589
@imnavanath Will this be implemented for the next astra release? [I remember, that the solution does not work for all blocks](https://github.com/WordPress/gutenberg/issues/33374#issuecomment-1047705688), there are still some left, that do not work yet.

[2022-05-13 13:33] carlomanf commented on #34033
I see that #40933 is an implementation of variant B as described by the issue author. I welcome it, but I would also welcome Variant A as a separate implementation, as they serve slightly different purposes. #31272 and #39192 are a little bit more relevant for the purpose of variant A, if I am reading it correctly.

[2022-05-13 13:42] tschortsch opened #41055 "@wordpress/env start command fails when WordPress version is lower than 5.1"
### Description

When running `wp-env start` with a WordPress core version lower than 5.1 the startup fails with the following error:
[code]

The reason for this is that the `--anchor` param used to set the config values is set to `define( 'WP_DEBUG` here https://github.com/WordPress/gutenberg/blob/trunk/packages/env/lib/wordpress.js#L70. This constant was defined without a space in WordPress vers

[2022-05-13 13:44] SergeGusev opened #41056 "Edit as HTML in a popup window"
## What problem does this address?

Too narrow text editor field in a "Edit as HTML". When a developer works in a "Edit visually" mode, he works inside the container's block - it is OK. But sometimes it is necessary to edit a Paragraph in HTML mode. And all html code can be placed vertically on narrow columns - it looks very uncomfortable.

## What is your proposed solution?

The HTML code can be

[2022-05-13 13:51] richtabor commented on #39308
I spun up a related issue [here](https://github.com/WordPress/gutenberg/issues/41033), but I'll close it and add my conclusions here (in addition to what @jameskoster is suggesting):

### 1. Remove single-view from __experimentalBlockPatternSetup

Take the block pattern selector (__experimentalBlockPatternSetup) and make it back to a grid view (not the current single pattern view). Consider even r

[2022-05-13 13:51] richtabor commented on #41033
Good catch, will do.

[2022-05-13 13:51] #41033 closed, assigned to nobody

[2022-05-13 14:23] fnwbr commented on #37152
I think you're right @johnstonphilip -- can you confirm @talldan?

[2022-05-13 14:36] erwanvivien commented on #37152
At least I can confirm, as it was what I used.

[2022-05-13 14:47] #40766 closed, assigned to ntsekouras

[2022-05-13 14:59] sjoerdlinders commented on #26667
The WP core block patterns are constructed on the `'init'` event in file `/wp-includes/default-filters.php`,
 with the default priority **10**:
 `add_action( 'init', '_register_core_block_patterns_and_categories' );`

Use for example following code with priority **9** to prevent these WP core patterns from getting constructed:
[code]
Within a plugin you just add this code in your `__construct` fun

[2022-05-13 16:39] mchowning opened #41059 "Bottom Sheet Rows Get Selected Twice When Talkback is enabled."
## Description
On Android, when using talkback, bottom sheet cells with toggles get selected twice: once for the row as a whole which has the helpful description you're updating in this PR, and then it will highlight just the button, speaking something vague like "Off. Switch. Double tap to toggle."

## Step-by-step reproduction instructions
1. Add a latest posts block to the demo app on Android
2

[2022-05-13 17:00] skorasaurus commented on #36834
@oldrup

On Gutenberg 13.2 and WP6.0 RC2 (and on WP 5.9.3); The css within the global-styles-inline-css will not appear when using a classic theme without theme.json ; when wrapping the remove_action function into a callback function like below:

[code]

(For clarity;
`   remove_action( 'wp_enqueue_scripts', 'wp_enqueue_global_styles' );` alone (not wrapped in a callback function); the global-styl

[2022-05-13 17:05] westonruter commented on #41038
Something else I'm seeing is that `SERVER_PORT` is unexpectedly being set to `80` when it should rather be `8889`. This seems to be the fault of `tests_reset__SERVER()` in core. Maybe that should also be set here:

https://github.com/WordPress/gutenberg/blob/7a347c0d807037f6ec20b80f77061e571d408a41/packages/env/lib/config/config.js#L278-L302

[2022-05-13 17:20] uniquesolution commented on #40357
Yes, speed has improved in site editor using navigation block, but one thing sometime I see that we open navigation block in list view with further seeing its submenu dropdown items, sometime it not appear anything more after that, I mean all the blocks added after it, not shows in the list view (white black space instead). It not happen all time, but sometime happen and sometime not,

[2022-05-13 17:22] jameskoster opened #41060 "Creating a template: Present the user with initial block configuration options"
When possible we [suggest patterns](https://github.com/WordPress/gutenberg/pull/40034) during the page creation flow. This can help speed up the addition of pages, and provide some creative inspiration.

It would be good to do the same thing when creating a new template. It's not yet possible to associate a pattern with a template, so we'll need to split this into two parts:

- [x] Offer options t

[2022-05-13 17:22] jameskoster commented on #39308
+1 on the additional categorisation. It will be necessary in order for initiatives like https://github.com/WordPress/gutenberg/issues/41060 to be successful.

[2022-05-13 18:31] MadtownLems opened #41061 "Allow setting a Default Opacity for the Cover Block in theme.json"
## What problem does this address?
We've found 50% opacity for the Cover block to be too much (too dark of an image). We are always adjusting the opacity down. I was hoping to be able to set a default value for this in theme.json, but it doesn't seem possible.

## What is your proposed solution?
Allow theme.json to set a default Opacity for the Cover Block.

[2022-05-13 19:39] boonebgorges opened #41062 "Allow/deny block use based on post-type or template context"
## What problem does this address?

It's sometimes desirable to limit blocks to certain post-type contexts (or, in a parallel fashion, to prevent a specific block from being used in a given context). As far as I can see, the current recommendation is to use `unregisterBlockType()` to unregister a given block based on `getCurrentPostType()`, etc. See eg #27607.

While the semantics of this techniqu

[2022-05-13 19:53] amustaque97 commented on #40528
Hi :wave:, thank you for reporting this issue. I'm able to reproduce the error. I tried in my local and found a solution for the mentioned issue.  In our `package.json` file we use add something like this:
[code]

I believe the issue with the package `npm-packlist`, we are using. They should add in their documentation saying to include all files of the current directory we can use `*` as well. I w

[2022-05-13 20:37] getdave commented on #38617
I appreciate that this feels counter intuitive but I believe this follows the same logic as the top level nav items in that you cannot create a nav item simply by typing text.

The action is:

- click inserter to add Nav item
- create link
- then amend the text

When creating a submenu the same pattern applies. So when you click "Submenu" the text cursor remains in the only place available to it g

[2022-05-13 21:04] michaelbourne commented on #38545
Fixed in https://github.com/WordPress/gutenberg/commit/0bedb1600aca1bd12c80aa1c374bad6ef2f0b295

[2022-05-13 21:57] wpsoul opened #41065 "Load custom scripts in iframe of editor in FSE and mobile review"
Currently I can't find any details how to load scripts inside iframe and I see only styles there. Scripts are loaded in admin pages, but it's very common scenarios when we need also scripts inside iframe. For example, for libraries, which are detecting scroll positions. Placing such scripts outside iframe makes them inaccurate for work

[2022-05-13 23:53] strarsis commented on #41035
Update: The underlying issue for the missing URL rewriting isn't located in the CSS transform but the editor style definition passed to the Gutenberg Block Editor, where for remotely fetched editor styles (by URL) no `baseURL` is added.

Related WordPress trac ticket: https://core.trac.wordpress.org/ticket/55728#ticket

[2022-05-14 03:11] jeremyescott commented on #29173
+1 on this feature, but I know it is a lot more work and a lot more complicated than the original reporter envisioned.

I understand how not all Post Meta is alike. It is easy to forget that if you're just developing themes with some ACF text fields. A plugin dev especially knows that there are lots of types of PostMeta that require pre-processing before it could be displayed, including:

- Arrays

[2022-05-14 06:58] oldrup commented on #36834
I'm still on WP 5.9.3, and was just testing the Gutenberg 13.2 plugin to maybe take advantage of the new features.

I'm using the Blocksy Theme (classic non FSE, no theme.json afaik)

I got rid of the inline global styles and duotone SVG's, using exactly the callback action mentioned -  _Until_ I installed GB 13.2.

With GB 13.2 enabled, the global styling and SVG's are returns. Just verified usin

[2022-05-14 07:15] andrewstaffell opened #41067 "13.2 breaks Query Loop taxonomy filters (on front end)"
### Description

Between 13.1 and 13.2 the category / tag / taxonomy filters for Query Loop stop having an effect on the front end. I tried to see what was causing it in the [diff](https://github.com/WordPress/gutenberg/compare/v13.1.0...v13.2.0) but can't work it out. However, I added logging to a function hooked to `pre_get_posts` and it is not being called at all in 13.2. Verified in both local

[2022-05-14 11:17] bph opened #41069 "Documentation: Broken Link in tutorial"
### Description

Thank you, @SavPhill for recording this. A great find!
Originally reported on [trac ticket 55731](https://core.trac.wordpress.org/ticket/55731)

There are 2 broken links within the ‘Create a basic block’ tutorial in the developer docs:
https://developer.wordpress.org/block-editor/how-to-guides/block-tutorial/writing-your-first-block-type/
Both links direct to a 404 page on GitHub.

[2022-05-14 16:33] alirezarezamand commented on #36834
[Hi, thanks for reporting.](https://hamtamovie.li/)

[2022-05-14 17:03] SavPhill commented on #41069
Thank you Birgit. I have created a pull request using the links provided.
https://github.com/WordPress/gutenberg/pull/41071#issue-1236074069

[2022-05-14 17:44] rob006 opened #41072 "After inserting gallery from existing images `src` does not match selected image size"
### Description

Galleries created from existing images have incorrect URLs - they should have have URL to "large" thumbnail (500x500px) as `src`, but they have link to "full" size.

### Step-by-step reproduction instructions

1. Insert new gallery block using existing images from media library (images are quite large).
2. After inserting gallery, in sidebar settings panel size of image is correct

[2022-05-14 19:36] noahtallen commented on #20180
I set up Gutenberg development on a new Linux box recently, and doing the postinstall steps to add my user to the docker group was a requirement to get wp-env working.

I agree with you that requiring `sudo` to use wp-env would probably be even worse.

[2022-05-14 21:55] carlomanf commented on #29173
What is described in the comment above not only has nothing to do with this issue, but is just a bad idea in general. I would not request nor recommend a block that prints out anything that happens to exist in the postmeta table. This issue never had anything to do with ACF or "metadata" and the discussion is veering too far off-topic so I'm going to close it and open a new one.

[2022-05-14 21:55] #29173 closed

[2022-05-14 21:59] carlomanf opened #41073 "Keyed post content"
This is a request for a new "key" attribute for the Post Content block, which would enable posts to have multiple post content instances identified by keys.

This issue supersedes #29173, which proposed it as a separate block rather than an attribute.

## What problem does this address?

The main problem solved by this new attribute is that a post can only have one post content, but one post conte

[2022-05-14 21:59] carlomanf commented on #29173
New issue opened: #41073

[2022-05-14 23:45] bph commented on #41069
Thank you for getting right on it! And thanks for the first Gutenberg contribution! 🚀   🙌

[2022-05-15 03:33] nick6352683 commented on #40048
Same problem here... This should have a priority for WP 6.0 !

[2022-05-15 09:12] t-hamano commented on #40860
Hi @viktorix.

`wp_dropdown_users_args` is a hook in the `wp_dropdown_users` function that generates drop-down HTML.

I think that the hook is invalid on the block editor, because the user list is retrieved via REST API.

Please try [rest_user_query](https://developer.wordpress.org/reference/hooks/rest_user_query/) hook instead:

[code]

[2022-05-15 09:36] t-hamano commented on #40765
Hi @wpsoul,

Thanks for opening this.
This looks like a duplicate of #17632 / #15568 / #13413, so we will close this issue at once.

I think #17632 is pretty close to this report, although it have been closed.
Can we consolidate the discussion there?

[2022-05-15 09:36] #40765 closed, assigned to nobody

[2022-05-15 09:41] camya opened #41075 "Feature: "Query Loop Block" - "Eager Load" option for "Post" & "Post Meta / Images" (SQL N+1 Query Problem)"
## What problem does this address?

Loading "Post Images" inside a "Query Loop" custom block leads to a SQL N+1 query problem.

If a **custom block** is added to the "Query Loop Block", and this block wants to **show the "Post Thumbnail"** or other "Post Meta Data", this **triggers an SQL query for each block**. (SQL N+1 Problem)

This could be fixed by adding a "Query Loop" **option to eager load

[2022-05-15 11:56] t-hamano commented on #40912
Hi @Tropicalista,

I've written test code and was able to reproduce this problem.

I think the cause may be that `onRequestClose` is called **when the iframe in the modal gets focus.**

Here is the test code.
I used `@tinymce/tinymce-react` and dummy iframe content.

<details>
<summary>See sample code</summary>

[code]
</details>

https://user-images.githubusercontent.com/54422211/168471489-6ebffb

[2022-05-15 12:01] wpsoul commented on #17632
I use subscribe and isSaving. This method is working but has one big problem. Subscribe is working on all user actions. I added console.log to see how many times it’s triggered to check isSaving. And even for simple mouse movement after post is loading, it can call it 200 times and more.

This reduced performance and makes some freezes after some time. So, simple save hook is required like we have

[2022-05-15 17:51] imath opened #41076 "React warning when using the DateTimePicker component"
### Description

When you edit the post date clicking on the post date into the Post sidebar, you get this warning when the DateTimePicker is loaded:

[code]

### Step-by-step reproduction instructions

1. Start a new post
2. Click on the Publish date/mention of the Post sidebar

### Screenshots, screen recording, code snippet

![Capture d’écran 2022-05-15 à 19 46 46](https://user-images.githubu

[2022-05-15 18:33] blueocto opened #41077 "Feature: Ability to add text to A element on wp-block-post-featured-image"
## What problem does this address?
Currently, when you opt to add a link around a Featured Image, inside the Query Loop block, it does not apply a name/title attribute. This is currently flagging in Google Lighthouse/Core Web Vitals as a "link without a discernable name" under Web Accessibility.

## What is your proposed solution?
Could we have a field to add a description title, beneath the toggl

[2022-05-15 20:12] jeremyescott commented on #29173
With respect, in open source communities, once you put something out there, discussion may move away from where you think it should go, and that is the nature of collaboratively developing something like WordPress. I find your behavior in closing and re-opening your issue to come off as against the spirit of what we do here.

Now let's make sure we're clear, a post field is one of the properties o

[2022-05-16 00:27] glendaviesnz commented on #41072
I was able to replicate this on latest GB trunk.

[2022-05-16 00:51] noisysocks commented on #41023
Agree.

Agree.

I don't think anything we come up with can eliminate the need for a compat matrix like that because at the end of the day we'll always have different versions of WordPress and Gutenberg which can be installed in various combinations onto a single website.

I think all we can do right now is better documentation. The `README.md` file I added was just something basic to get us starte

[2022-05-16 01:30] noisysocks opened #41078 "Post Date popover doesn't respect 'Week Starts On' setting"
### Description

The calendar component in the Post Date popover does not respect the 'Week Starts On' WordPress setting.

### Step-by-step reproduction instructions

1. Go to WP Admin → Settings → General.
2. Change 'Week Starts On' to e.g. Monday.
3. Save changes.
4. Create a new post.
5. Open the sidebar and click on _Immediately_ next to _Publish_ to open the Post Date popover.

The calendar c

[2022-05-16 03:28] carlomanf commented on #29173
I opened a new issue because this one has been labeled with "New Block" while the other one is about enhancing the existing Post Content block and will need to be labeled accordingly. Your and others' input here have demonstrated that the use of a separate block with the word "field" in its name is confusing and gives the impression that it's designed for something it's not, so I decided it would

[2022-05-16 05:07] glendaviesnz commented on #40960
I was able to replicate this. It is because `clearable` is [set to false here](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-editor/src/components/colors-gradients/dropdown.js#L138), which I think was a deliberate design decision to remove reset/clear buttons when there was also a reset option in the ToolsPanel dropdown. I can't find an issue that explicitly states this though.

[2022-05-16 05:24] aaronrobertshaw commented on #40960
One of the goals of the `ToolsPanel` design was to reduce the proliferation of reset and clear buttons as more controls were added to the inspector controls sidebar. I believe this was part of https://github.com/WordPress/gutenberg/issues/27331 though I'm a little short on time and haven't been able to dig too far into it to locate the exact comment or sub-issue that might have explicitly stated t

[2022-05-16 05:26] carolinan opened #41080 "When the navigation block only contains a page list, there are no color options"
### Description

Using Wordpress 6.0 RC2, without or without Gutenberg current trunk,
I am seeing a regression in Twenty Twenty-two where the navigation block does not have color options if it only contains the page list block.

This is a problem because it means we cannot change the link color, and because there is a problem with the link color inheritance that makes the submenu item have white t

[2022-05-16 05:29] carolinan commented on #41080
Actually there are more panels missing than the colors.
-If I add a link menu item, and then remove it, the missing panels re-appear.

[2022-05-16 05:41] ramonjd commented on #40952
Hi!

Just to add some context.

https://github.com/WordPress/gutenberg/pull/37436 was a necessary step to avoid bugs associated with https://github.com/WordPress/gutenberg/pull/37360 (Avoid using CSS variables for block gap styles).

https://github.com/WordPress/gutenberg/pull/37360 removed the use of `--wp--style--block-gap` for all styles other than top-level global styles (styles in the `body`

[2022-05-16 05:43] carolinan opened #41081 "When a template part is inside a template part, it is not possible to clear customizations in the Site Editor"
### Description

In Twenty Twenty-Two, the default header uses a template part ("header") inside another header template part ("header, dark, small").
If you make a change to the inner template part, the "clear customization" option is not available in the template options modal at the top center of the page.

### Step-by-step reproduction instructions

1. Activate Twenty Twenty-Two
2. Open the si

[2022-05-16 06:37] dd32 opened #41083 "Env: No way to skip setting `WP_ENVIRONMENT_TYPE`"
### Description

When using wp-env, it's not possible to NOT set the `WP_ENVIRONMENT_TYPE` constant at all.

This is problematic when wp-env is being used as part of unit testing, which may require changing the environment type dynamically.

One can arbitrarily set the constant value through a `config` mapping, but one cannot remove it.

This is problematic for unit testing, as the value of the co

[2022-05-16 09:01] #39356 closed, assigned to amustaque97

[2022-05-16 09:45] KAJALwp opened #41085 "Issue in Post Comments Form Block"
### Description

When we select Post Comments Form block in post or page, It is display properly in editor-side but it is not showing in front-side. It is happening in all three default themes which is twenty-twenty theme, twenty twenty-one theme and twenty twenty-two theme. I think this block is not supported in latest WordPress.

For better understanding I provide video attachment.

Thanks

###

[2022-05-16 10:48] ndiego commented on #40952
Thanks for the context @ramonjd. I think the easiest and quickest fix is to implement the CSS change that you mentioned. Plus those themes already have massive stylesheets.

However, I just tested with Twenty Twenty One and simply using the class `.wp-block-columns` does not appear to be specific enough to override the container styles. This should work though:

[code]

[2022-05-16 10:54] EightArmsWebmaster opened #41087 "<picture /> element stripped / sanitised incorrectly by save function for Editors"
I have a save function that looks like the below:

[code]

If I save this as an Editor I get the following:

[code]

If I log in as a SuperAdmin (we are running multisite) to the same site and click save, I get the correct return value (please note the `<picture>` tags):

[code]

It seems to be a problem with the server side sanitation, as the frontend knows that the save is incorrectly formatted,

[2022-05-16 11:12] tomjn commented on #36834
@nextgenthemes this issue is about global styles putting an inline CSS block on non-FSE themes. Your question is not the same, you should create a new issue. Also this issue is already marked as closed, so it's likely to be ignored in favor of open issues.

Also:

This is very easy to say, but devoid of all debugging data, and very aggressive. There's no information about which version of Gutenber

[2022-05-16 11:28] carlomanf commented on #33357
Closing as duplicate of #29484

[2022-05-16 11:28] #33357 closed, assigned to nobody

[2022-05-16 11:35] Mamaduka commented on #26013
I'm no longer able to reproduce this issue. Not sure if it was fixed with recent Dropzone rewrite - #30310.

[2022-05-16 11:37] carlomanf commented on #29484
Unfortunately, the fix that was applied for this does not work 100% of the time:

1. It checks for the `core/nextpage` block, which will not work for paginated content that was created using the classic editor
2. It will not print out the page links if plugins use the [`content_pagination`](https://developer.wordpress.org/reference/hooks/content_pagination/) filter to add pagination when `` is not

[2022-05-16 11:46] nextgenthemes commented on #36834
@tomjn I know this is a different issue, I was just hoping there are people around here on the same "Fight the GB styles" quest in here where I can get a quick answer to this, apparently not.

Also, it seems you do not really fully get what I mean. I made no changes to the separator block, and I do not even know if this is an "issue" or just a (bad) decision the devs made. I currently run master w

[2022-05-16 11:46] #38950 closed, assigned to draganescu

[2022-05-16 11:46] #40449 closed, assigned to draganescu

[2022-05-16 11:48] tomjn commented on #36834
@nextgenthemes as I said, this is not the place for it, so I didn't bother to read past the first paragraph, and will continue to ignore it. _You need to create a new issue, this issue had a different subject and was closed._

[2022-05-16 12:16] ndiego commented on #40960
Yes, this was a deliberate design change. Note that you can reset colors using the dropdown. See the gif below.

Since this change is intentional in 6.0+ I am going to close this issue, be please let me know if there are any further questions or concerns.

![color-reset](https://user-images.githubusercontent.com/4832319/168590329-9f747667-04c8-4e50-8db3-e539faf79737.gif)

[2022-05-16 12:16] #40960 closed, assigned to nobody

[2022-05-16 12:29] avillegasn commented on #17619
Is there any way to exclude post types from the link suggestions in the editor?

[2022-05-16 12:45] scrobbleme commented on #35676
Why is this ticked closed?

There currently is no easy way to just render any shortcode and access post data? Why not?

Writing a shortcode is much easier than creating a new block...

Why is the query loop block query soo different to the wp_query loop?

[2022-05-16 13:14] Mamaduka commented on #20819
I believe I recently fixed this issue - #40730.

[2022-05-16 13:16] Mamaduka commented on #9512
The issue was fixed in #40730 and will be included in WP 6.0.

[2022-05-16 13:16] #9512 closed

[2022-05-16 13:18] #20819 closed

[2022-05-16 13:20] Soean commented on #41069
The structure was changed in this PR: https://github.com/WordPress/gutenberg-examples/pull/195

Maybe there are other link which should adjusted, too.

[2022-05-16 13:44] SiobhyB commented on #40029
It's interesting it's reproducible on the mobile web, too! I found a couple of issues related to jumping when inserting a block with Safari on iOS, so x-referencing them in case they're relevant/useful:

* https://github.com/WordPress/gutenberg/issues/16193
* https://github.com/WordPress/gutenberg/issues/33198

[2022-05-16 13:49] Floriandrias96 opened #41088 "[Toolbar ColorPicker] In the Toolbar in the Colorpicker the Colors are jumping between two hexCode colors"
### Description

Feature ColorPicker in the Tollbar is not working as intended. I expext when I paste a hex Color in the ColorPicker to see the Color, but when you paste a Hex Color the ColorPicker jumps between the new and old Color instead. see gif: "Toolbar ColorPicker Jumping Bug".

### Step-by-step reproduction instructions

1. Open the Toolbar of a TextBlock (e.g. Paragraph).
2. Click on "Di

[2022-05-16 14:35] javierarce commented on #38277
After some thinking, the approach that @paaljoachim proposed makes a lot of sense to me. I'd like to suggest some tweaks to that idea though:

Instead of using segment controls, I think we should go for a different interface. We use segments (or dropdowns, another possibility I explored), to set values… a tabbed list, on the other hand, immediately implies that the elements below belong to the hig

[2022-05-16 14:37] jameskoster commented on #37407
Here's a couple of design options focussed on the process of creating templates that can be generic or specific. In this case creating `category` or `category-recipes`.

### Option A
This one builds off the [last concept](https://github.com/WordPress/gutenberg/issues/37407#issuecomment-1075247090) but simplifies the UI down to just a radio list.

https://user-images.githubusercontent.com/846565/16

[2022-05-16 14:40] ryanwelcher commented on #40771
Historically, the `src` directory was intended to contain all of the block files at its root with the block.json defining the files that need to be generated i.e `index.js`,`index.css`,`style-index.css` etc.  A lot of work has been done to allow developers to create multiple blocks with a single build process without needing to create a custom `webpack.config.js`. This is done by looking in the `s

[2022-05-16 14:45] alexdelgado commented on #40771
Thanks for the explanation @ryanwelcher! If you were "to create multiple blocks with a single build process without needing to create a custom `webpack.config.js`," what would that look like from a file directory and command-line perspective?

[2022-05-16 14:49] ryanwelcher commented on #40771
@alexdelgado here is a basic example I set up last week for a live stream I was doing - https://github.com/ryanwelcher/twitch/tree/trunk/plugins/native-multiple-blocks.

Please note that I have customized the `src` directory using the flag I mentioned above but if you remove that flag and rename the 'blocks' directory back to `src`, it will work as expected.

If you're interested, [here is the acc

[2022-05-16 14:53] getdave commented on #38277
@javierarce I've [added this to the agenda for this week's Core Editor cha](https://make.wordpress.org/core/2022/05/16/editor-chat-agenda-18th-may-2022/#comment-43028)t.

[2022-05-16 15:08] adamziel commented on #41023
@noisysocks Hmm, I agree. There is also a chance that improving the documentation will help us notice patterns we don't see right now and ultimately lead to a simpler process.

Until then, let's keep an eye on pull requests targeting the `lib/compat` and nudge the authors to document their use case in `README.md`.

I'd really like to see that happening!

[2022-05-16 15:30] jameskoster commented on #39308
Prior to working on designs for a holistic pattern browsing component I figured it would make sense to list where we need to display patterns this way, and determine which features would be useful in each case.

| Use case | Useful Features |
| --- | --- |
| **Pattern Explorer** <br> Displays the full catalog of patterns | - Zoomable grid view <br> - Sorting / Filtering<br> - Search |
| **Template

[2022-05-16 15:57] javierarce commented on #38277
@getdave great, thanks!

[2022-05-16 16:07] getdave commented on #39052
It looks like the [Nav block already has Gap support](https://github.com/WordPress/gutenberg/pull/37543).

<img width="1324" alt="Screen Shot 2022-05-16 at 17 07 40" src="https://user-images.githubusercontent.com/444434/168636418-bbc56e39-01b0-44bc-91a6-ab24351fcea1.png">

[2022-05-16 19:18] apeatling opened #41093 "Tracking: Improve visual feedback on Design Tools"
## What problem does this address?

We've introduced a number of new design tools to the Gutenberg interface. Many of these tools make sense for more seasoned users, especially those with a technical understanding of how websites are built.

For users that are new to website building, it would be beneficial to improve the amount of information we give them when using each individual tool. What doe

[2022-05-16 20:33] brandonjp commented on #35676
This whole situation became a huge time sink!  I never found a good solution for using a shortcode... but if anyone's trying to just output post meta inside a Query Loop block, this smart plugin from @Mr2P saved me a TON of time:  https://wordpress.org/plugins/display-a-meta-field-as-block/

Note: It works with any meta, not just ACF. Also, It has some non-critical issues (hard to find the block o

[2022-05-16 21:15] poof86 commented on #41067
I can confirm that category filters do not work front-end in version 13.2
Is there a quick fix I can apply without going back to 13.1?

[2022-05-16 21:19] poof86 commented on #34977
In Gutenberg version 13.2 the tags and categories filter in the Query Loop block stopped working.
Just so you know... hope a fix will be released soon.

[An issue has been created](https://github.com/WordPress/gutenberg/issues/41067)

[2022-05-16 21:57] ramonjd commented on #40952
Thanks for testing that out @ndiego ! 🙇

I feared we'd have to get _specific_ 😄 but it looks like a pretty safe change here.

I'll add to/test with the other themes over at https://github.com/WordPress/wordpress-develop and if it seems to be kosher will reopen the trac ticket [WP#55703](https://core.trac.wordpress.org/ticket/55703)

[2022-05-16 22:30] #41072 closed, assigned to glendaviesnz

[2022-05-16 23:27] annezazu commented on #39473
Wanted to note that for this would likely be a big hit with theme authors considering these [previous theme design survey results](https://make.wordpress.org/test/2021/08/17/fse-program-theme-design-survey-results/) in the FSE Outreach program. It reflects how the button block was a top item that folks customized with per block settings or styles in theme.json.

[2022-05-16 23:29] fullofcaffeine opened #41094 "API proposal: allow setting an Error Reporting callback function for Error Boundaries using an action"
## What problem does this address?

Gutenberg provides one React Error Boundary that wraps block components (that I know of, there might be more). Some WordPress' apps that have Gutenberg activated might want to log these errors to some third-party Error Reporter like Sentry or Rollbar. Currently, there's no easy way to do that without modifying the Gutenberg source code.

## What is your proposed

[2022-05-17 01:25] peterwilsoncc commented on #40952
I'm not overly keen on modifying the default themes as a solution to this.

It still leaves the regression for the majority of sites, those that are using custom themes.

[2022-05-17 01:38] ramonjd commented on #40952
All good. I'm looking at an alternative.

Since the [change](
https://github.com/WordPress/gutenberg/commit/1ad7a0ba48358ae2b6ec340f9472defa0d112910#diff-a80a751583b45826e02a7a5a4557488041b47bffbf90bc619031c517385796b8R12) in https://github.com/WordPress/gutenberg/pull/34439, there has been a  fallback value for the `-wp--style--block-gap` CSS variable for themes that do _"not register its own edi

[2022-05-17 01:48] andrewserong commented on #40952
If we do that change, would that then set the fallback for all children of the Columns block to `2em`, too, which would mean that social icons blocks within the column would then have a fallback of `2em`? From memory, I think that was part of the reason for https://github.com/WordPress/gutenberg/pull/37360 to resolve https://github.com/WordPress/gutenberg/issues/36521.

[2022-05-17 02:01] ramonjd commented on #40952
That's the catch. Getting around inheritance. Looking at it now, but looks pretty glum.

[2022-05-17 03:43] ramonjd commented on #40952
I haven't found a reasonable way around this yet.

The conundrum appears to be that we can set a default `gap` value for columns, but the layout implementation via its `.wp-container-*` classes will overwrite it every time.

So `.wp-block-columns` is overwritten by `.wp-container-1` because the latter is loaded last.

To make things more fun, in the editor we bump up the specificity: `.editor-styl

[2022-05-17 04:06] peterwilsoncc opened #41095 "`FlatTermSelector` crashes editor: Can't access property "map", terms is null"
### Description

In some circumstances the `FlatTermSelector` component can crash the editor with the error `Uncaught TypeError: can't access property "map", terms is null`.

The line throwing the error is
https://github.com/WordPress/gutenberg/blob/d602f50679535e8710843cadd0e65926ddbe5330/packages/editor/src/components/post-taxonomies/flat-term-selector.js#L180-L182

I am only seeing it intermitt

[2022-05-17 04:28] daveloodts commented on #32682
Editing Global Style doesn't have to a "unique" benefit of FSE-themes, but Hybrid themes too. With Hybrid themes is mean: still using blocks all the way, but not the "structure" editor what FSE does. With the current Global Styles embedded in the site-editor.php; Hybrid Themes are left out and have only the theme.json to work in.

Some context: (copied for a slack discussion)
In the site-editor.ph

[2022-05-17 04:58] glendaviesnz commented on #41095
@Mamaduka  - I just did a quick test of a potential fix for this before noticing you had assigned it to yourself - [PR of fix here](https://github.com/WordPress/gutenberg/pull/41096) if you haven't already put something up - feel free to use

[2022-05-17 05:07] Mamaduka commented on #41095
@glendaviesnz, I started in a slightly different direction, but I am happy to push my changes on your branch or create a separate PR. Whichever works for you the best :)

[2022-05-17 05:21] glendaviesnz commented on #41095
Mine was a very quick initial explore - have closed the PR, so just go for it with your solution 😃

[2022-05-17 05:27] ramonjd commented on #40952
@peterwilsoncc Do you see any problems with updating the core styles anyway?

Fishing for more ideas, but I'm not seeing a universal, stable and/or non-hacky fix for this particular regression otherwise until we work out how to get those pesky block-level blockGap styles to work.

_Edit_: Or there's this 3-line hack in layout.php :trollface:

[code]

[2022-05-17 05:33] getsource commented on #40908
Folks chatted about this issue in a [Core triage session today](https://wordpress.slack.com/archives/C02RQBWTW/p1652764257869639).

Leaving a note here because [follow-up testing on the Core ticket](https://core.trac.wordpress.org/ticket/55697#comment:10) (comment from @carolinan) mentions that the issue is with link color specificity in the Editor.

The Core ticket is still open because a workaro

[2022-05-17 06:15] ntsekouras commented on #34977
Hey @poof86 ! The [PR that implemented](https://github.com/WordPress/gutenberg/pull/38063) custom taxonomies filtering was part of 12.5 release, so it shouldn't be about this issue. We can test/discuss in the new issue you have mentioned.

[2022-05-17 06:25] andrewserong commented on #40952
After chatting with @ramonjd, I've put together a potential fix for the gap issue in https://github.com/WordPress/gutenberg/pull/41098 if folks would like to have a look / add any feedback. The idea here is to:

* Add a property to `block.json` in the spacing block support, where we can declaratively provide a fallback value for `blockGap` to use in place of the hard-coded `0.5em` value.
* In the

[2022-05-17 06:44] Mamaduka commented on #41076
Hi, @imath

The warning probably comes from the library we use for `DateTimePicker`. I can find any references to `withStyles` in the Gutenberg codebase.

Cc @noisysocks

[2022-05-17 06:51] ramonjd commented on #40952
I'll take a look at this tomorrow, but I suspect it be just as finicky.

Looking at the [change PR comments](https://github.com/WordPress/gutenberg/pull/37436) we debated the removal of the tablet-styles. If we'd done nothing they would have been broken anyway:

It's a hard one to balance. The changes were trying to make the layout system more consistent overall, but there's an element of relying

[2022-05-17 08:00] #41095 closed, assigned to Mamaduka

[2022-05-17 11:02] #29983 closed, assigned to nobody

[2022-05-17 11:15] draganescu commented on #41080
I tested this and it seems the color panel is missing only when the dafault markup menu is selecte. The same configuration manually built (a navigation block with a single page list block child shows the color options.

Later edit: the unsaved blocks output does not place the controls in the inspector. Working on a PR.

[2022-05-17 11:17] SaxonF commented on #39281
@jameskoster I was thinking about this today and had a play with a couple ideas, hope you don't mind me throwing them in here.

Another way we could put more emphasis on patterns is to iterate on the block inserter so that both patterns and block categories would be visible rather than behind a tab. The most used core blocks (e.g. text, heading, layout, image) would remain accessible at the top as

[2022-05-17 12:16] jameskoster commented on #39281
Heh, I've [shared similar ideas](https://github.com/WordPress/gutenberg/discussions/35800) regarding the Inserter as well, so agree there's scope to create a more holistic experience there, but perhaps it should be a focussed effort in of itself?

Isn't this roughly the same as conditionally making the 'Patterns' tab the default? Not that I particularly love the tabs, just thinking about how we co

[2022-05-17 12:17] #37524 closed, assigned to carolinan

[2022-05-17 12:22] #40736 closed, assigned to jsnajdr

[2022-05-17 12:57] staceypee commented on #38637
We're experiencing this as well since updating to 5.9, and it's driving us a little crazy as it wreaks havoc on our permalink structure.  Thanks @ckeeney for the filter which I will try as a stopgap.

[2022-05-17 15:04] ntsekouras commented on #37079
I think we can close this one as the comment pagination blocks have proper names.

[2022-05-17 15:04] #37079 closed, assigned to ntsekouras

[2022-05-17 15:31] barryceelen commented on #30214
Seeing a related issue for posts without title support. (Note that we're creating a title based on other fields)

- Title not used in preview

Got around this issue by adding title support when registering the post type if `is_preview()`.

- Title not used in the editor sidebar confirmation after publishing. The notification says "(no title) is now live.", even though the post has a title.

Used t

[2022-05-17 15:37] tomhartill commented on #11763
I had to just use a string.replace function in the save function. This really needs to be a feature, as well as allowing custom classnames per block. The classname conventions are far too verbose for my liking, I understand why they exist, but us back end devs are not idiots and understand the reasoning, we should be allowed to make our own classes without having to jump through hoops or use hacks

[2022-05-17 16:15] ndiego commented on #40463
A solution for this is needed, but unfortunately, we have run out of time to get this into 6.0 RC3 (which is actually being released as I type). Therefore, I have moved this issue and the corresponding PR to the [6.0.1 Project Board](https://github.com/orgs/WordPress/projects/31). Thank you for submitting this issue @shimotmk and for preparing the PR! 🙌

[2022-05-17 16:21] dianeco commented on #40952
A possible way to apply the 50% rule without knowing the gap is to switch the columns display to `grid` instead of `flex`:

[code]

[2022-05-17 16:24] scruffian opened #41113 "Block Supports: Tracking issue"
This is an issue to track what block supports are missing so we can add them. Please feel free to add more as you discover them:

- [x] https://github.com/WordPress/gutenberg/pull/31465
- [ ] https://github.com/WordPress/gutenberg/issues/30982
- [ ] https://github.com/WordPress/gutenberg/issues/39053
- [ ] https://github.com/WordPress/gutenberg/issues/39071
- [x] https://github.com/WordPress/guten

[2022-05-17 18:10] Andrew-Starr opened #41115 "Site Logo: image can overflow its container"
### Description

In circumstances where the logo image container is narrower than the image width, this results in the image overflowing.

A simple `.custom-logo{ max-width: 100%; height: auto; }` would fix this.

I searched to see if this had already been reported but did not find anything, and I can't believe that I only just noticed this issue. I think this didn't used to be an issue but not en

[2022-05-17 18:33] gziolo commented on #41069
Resolved with https://github.com/WordPress/gutenberg/pull/41071.

[2022-05-17 18:33] #41069 closed, assigned to nobody

[2022-05-17 18:41] cbirdsong commented on #40952
This issue is another good argument for the standardized spacing scale proposed in https://github.com/WordPress/gutenberg/issues/38998:

- https://github.com/WordPress/gutenberg/issues/39371

The default value for the space between columns _should_ be much larger than the default value for space between paragraphs. A single "gap" value was never going to be enough.

[2022-05-17 19:25] mchowning opened #41116 "Unable to Scroll to the Bottom of Long Posts"
## Description
When scrolling to the bottom of a very long post, the block list gets "reset" and returns me to the beginning of the post. This essentially makes it impossible to scroll to the end of a long post.

It feels like both Android and iOS should have this issue, but **I have only been able to reproduce this issue on Android.**

I've found it easier to reproduce this issue on slower builds

[2022-05-17 19:32] mchowning commented on #41116
I can "fix" this issue by commenting out [the `CellRendererComponent` prop within our BlockList](https://github.com/WordPress/gutenberg/blob/b440515cfe42ad895d79dad9ef65ba04521211e2/packages/block-editor/src/components/block-list/index.native.js#L308), but of course that breaks the new drag and drop functionality. It's not clear to me why commenting that out is fixing the issue, but hopefully it c

[2022-05-17 20:17] Diachrony commented on #41067
Also can confirm this issue. Would love a fix or work-around asap as my site is completely broken without this functionality.

[2022-05-17 21:11] tinjure20 commented on #24952
Inspired by @annezazu's FSE outreach call #13 and Justin's [WP Tavern article](https://wptavern.com/fse-outreach-13-building-an-author-template-from-the-wordpress-site-editor), I have been working on an author template using Cover block as its header. The author name block was working expected both on the editor and on the browser in the front end.
![author-1](https://user-images.githubusercontent

[2022-05-17 21:12] westonruter commented on #22515
Continuing on from https://github.com/WordPress/gutenberg/pull/40864/files#r875265169:

But then again, like you said, this will take awhile to run. What I don't understand is why the Docker user downloading WordPress is not the same user who is actually running the site. If the user was the same, then no permissions changes would be needed at all.

[2022-05-17 23:06] annezazu opened #41119 "Consider exposing the Style Book for classic themes"
## What problem does this address?

As part of gradual adoption, theme.json can be used with classic or hybrid themes to manage a theme's styles, control what's exposed, etc. However, the Styles interface itself is not exposed to users to change as they'd like. To pull from @daveloodts comment here: https://github.com/WordPress/gutenberg/issues/32682#issuecomment-1128397897

There's more context h

[2022-05-17 23:26] noisysocks commented on #39082
**👋 May 18 update**

I've finished updating the `DateTimePicker` component which is used by the Publish / Date popover to use TypeScript (https://github.com/WordPress/gutenberg/pull/40775), React Testing Library (https://github.com/WordPress/gutenberg/pull/40754 https://github.com/WordPress/gutenberg/pull/40957), a newer version of `react-dates` (https://github.com/WordPress/gutenberg/pull/40801),

[2022-05-17 23:47] peterwilsoncc commented on #41095
Thanks for fixing this so quickly folks, three or four hours is a really impressive turn-around ;)

[2022-05-18 00:07] SaxonF commented on #39281
@jameskoster Perhaps, though I'd still say it contributes to the overall strategic theme of patterns. What's important when considering the exploded view solution though is whether we need an entirely new UI pattern. That just adds more complexity to our system.

It is yep and could definitely go the incremental route.

Yep that's what I'm suggesting. Do we have any insights into where patterns ar

[2022-05-18 01:15] adamsilverstein commented on #39223
👋🏼 @ellatrix - I got something working in https://github.com/WordPress/gutenberg/pull/41120 but it is a bit hacky because I ran into a couple of problems. If you can take a look, I would appreciate any tips!

* I can't import wordpress/editor into the image component, i got a precommit error ("24:1  error  '@wordpress/editor' should be listed in the project's dependencies. Run 'npm i -S @wordpress

[2022-05-18 01:55] dd32 opened #41121 "Blocks: When a block specified in `gutenberg_reregister_core_block_types()` doesn't exist, following blocks are not registered"
### Description

When a Gutenberg build, such as version `13.2.1`, includes a block in the array in gutenberg_reregister_core_block_types(), but that isn't included in the package for whatever reason, following blocks are not registered.

While I'm not sure if this situation should exist, it has, and has caused this: This has caused https://github.com/WordPress/wporg-news-2021/issues/376

The Navi

[2022-05-18 02:12] ddryo commented on #37938
@kmadhak

Yes, the inserter appears when the Group Block itself is selected.

However, I am pointing out the behavior while selecting a "Child Blocks" in a Group.

It is very inconvenient now that the inserter will not show up unless the parent Group Block is selected, which is much more inconvenient than before.

[2022-05-18 02:15] ramonjd commented on #40952
I've tried to reinstate this, and it works to a certain extent but not perfectly. I thought I'd throw it up anyway:

As mentioned in the PR

- https://github.com/WordPress/gutenberg/pull/41123

This only affects block themes as far as I can tell. Classic themes with no theme.json that switching on blockGap are fine.

[2022-05-18 02:34] ddryo opened #41124 "Please add a way to not delete wp-block-group__inner-container when using theme.json."
When using `theme.json`, the inner Group block (`.wp-block-group__inner-container`) is forced to be deleted.

I understand why you want to spec it this way, but I don't understand why you can't choose to turn it off or not.

The forced removal makes it impossible to use `theme.json` in a theme that is already being used by many users.

The presence of `.wp-block-group__inner-container` also breaks

[2022-05-18 03:25] glendaviesnz commented on #39371
It would be good to get some design feedback on this, eg.

- Are there any blockers to adding this option to the spacing UI controls
- How would this potentially look in the UI, buttons like font sizes, slider, dropdown, and how does a combination of custom size input and/or preset selector look
- Should independent control of spacing on each side of block be allowed, in which case is there a cont

[2022-05-18 04:39] peterwilsoncc commented on #40952
It's a little close to the release so I'd prefer not too but if it's unavoidable then it can be done. Would it need to be for all bundled themes (2010 - 2022) or a subset only?

Sorry, I forgot to answer this earlier today.

[2022-05-18 04:42] ramonjd commented on #40952
All bundled themes :(

I think our time is better spent trying to kick https://github.com/WordPress/gutenberg/pull/41098 over the line then.

Thanks!

[2022-05-18 04:55] annezazu commented on #24952
@tinjure20 Exciting to hear you are exploring! Thanks for reporting back what you found. By chance, does this author not have any posts yet? If so, I bet you're running into this problem: https://github.com/WordPress/gutenberg/issues/40431 Can you confirm?

[2022-05-18 05:25] fabiankaegy commented on #40854
Duplicate of #39371

[2022-05-18 05:25] #40854 closed, assigned to nobody

[2022-05-18 06:31] ntsekouras commented on #41067
If you create a new Query Loop filter with `category` filters in `13.2`, does it work for you? For me it does, but will investigate more.

----
--**edit**

I just tried having a Query Loop from 13.1 and then in 13.2, everything seemed to worked fine as well. 🤔

Can you share more info about your setup or more details in general?

[2022-05-18 06:38] Mamaduka commented on #38172
Related: https://core.trac.wordpress.org/ticket/55752

[2022-05-18 07:07] andrewstaffell commented on #41067
@ntsekouras: The filters work fine in the block editor, but have stopped working on the front-end (where I understand they are using `gutenberg_build_query_vars_from_query_block()` via  `gutenberg_render_block_core_post_template()` although I can't see any changes to those in the 13.2 diff).
Nothing special about the setup, it arose in a project with custom theme + plugins but then I tested with T

[2022-05-18 07:24] Diachrony commented on #41067
@ntsekouras I have a fairly simple, non-custom set-up using the block editor on Twenty Twenty-Two. I have tried creating a new post draft with a standard query and it also fails to do any requested filtering in the preview (like other 3 other published pages I have that use queries), however the editing page shows the expected proper filtering.
WordPress version 5.9.3
Current theme: Twenty Twenty-

[2022-05-18 07:35] ntsekouras commented on #41067
I know, I tested that.

@andrewstaffell and @Diachrony do you experience the problem through `Calypso`? Because you both mention it. I'm testing with core.

[2022-05-18 07:41] Diachrony commented on #41067
@ntsekouras I'm sorry. I'm not sure about Calypso. Where can I look to find whether it is being used. It is not anything I intentionally installed but may be there by default?

edit: it may have been @alliebbush2 that mentioned it above?

[2022-05-18 07:47] andrewstaffell commented on #41067
@ntsekouras I'm using Core too. WP 5.9.3.

[2022-05-18 07:49] poof86 commented on #41067
Wordpress.org 5.9.3 on server here with Gutenberg installed and updated from Wordpress plugin page

[2022-05-18 08:05] ntsekouras commented on #41067
I mean if your sites are in WordPress.com. If yes they will be using Calypso.

@Diachrony your mention was implicit through:

[2022-05-18 08:05] andrewstaffell commented on #41067
@ntsekouras I'm using .org. Bug reproduced locally and in server environment.

[2022-05-18 08:48] fluiddot commented on #41116
@mchowning, good catch! @geriux already addressed the issue with the `CellRendererComponent` in [this PR](https://github.com/WordPress/gutenberg/pull/41105) 🎊 . Looks like this issue and https://github.com/wordpress-mobile/gutenberg-mobile/issues/4864 are both related to the `onLayout` handler on that component, so that fix will most likely solve both at the same time.

[2022-05-18 08:53] geriux commented on #41116
I can confirm that https://github.com/WordPress/gutenberg/pull/41105 fixes the issue so I'll close this since it was already merged 👍

[2022-05-18 08:53] #41116 closed, assigned to nobody

[2022-05-18 09:15] youknowriad commented on #41067
I'm following the instructions above, and I was not able to reproduce either 🤔 There must be another parameter in the equation.

[2022-05-18 09:24] Diachrony commented on #41067
![image](https://user-images.githubusercontent.com/20742820/169005554-bcbc4d5e-70ea-41e4-8df1-a8c40df6b0a1.png)

Plugins and their versions if that helps. Let me know if you can think of any other info that I can grab for you and I'll send what I can tomorrow. Really appreciate your work on this!

[2022-05-18 09:34] ntsekouras commented on #41067
Thanks for all the info @Diachrony! I could reproduce in `.com` (that's your case), but we are trying to reproduce in core.

[2022-05-18 09:40] jameskoster commented on #39281
To be clear, I am 100% not opposed to [viewing the template while editing a post](https://github.com/WordPress/gutenberg/issues/27847) :D I was merely cautioning the idea of patterns being a gateway to that as we need to provide perfect clarity when editing template elements. Perhaps there are [other solutions](https://github.com/WordPress/gutenberg/issues/32163) to that problem though.

Still, ju

[2022-05-18 09:43] andrewstaffell commented on #41067
@youknowriad I completely removed and redid the block with 13.2.1 installed and it now seems to be working OK here. I need to test this out on the production environment where the bug first arose, but in the meantime I wanted to share something I've spotted in the source code of one of the intermediate revisions, which is that both `category` and `categoryIDs` were set in the attributes at some po

[2022-05-18 09:46] youknowriad commented on #41067
Yes, that's a possibility, it would be good to have the "old" markup (before the upgrade) that failed to try with.

[2022-05-18 09:57] fluiddot opened #41131 "Paragraph block: Placeholder hides when selecting a text color"
## Description

The placeholder element of the Paragraph block is hidden when selecting a text color.

## Step-by-step reproduction instructions

1. Open a post/page.
2. Add a Paragraph block.
3. Tap the text color button (i.e. the `A` button in the block toolbar).
4. Select a color.
5. Observe that the placeholder element is hidden.
6. Tap on `Reset` button.
7. Observe that the placeholder elemen

[2022-05-18 10:00] #41080 closed, assigned to draganescu

[2022-05-18 10:06] andrewstaffell commented on #41067
Still failing for me in production in 13.2.0 or 13.2.1 (but fine in 13.1). Example markup that's failing:
[code]

[2022-05-18 10:09] fluiddot opened #41132 "Tapping quickly on the redo button can lead to skipping some of redo actions"
## Description

Tapping quickly on the redo button can lead eventually to skipping some of the redo actions. Specifically, I experienced this when writing text on a text block (e.g. a Paragraph block).

## Step-by-step reproduction instructions

1. Open a post/page.
2. Add a Paragraph block.
3. Write some text on the Paragraph block.
4. Tap the undo button until all new text has disappeared.
5. Ta

[2022-05-18 10:12] simison commented on #39281
This. It might even make sense to dilute the separation between blocks and patterns further, and instead combine patterns and blocks in the same categories:

A single image block, a single gallery block, a pattern combining an image and heading, or a pattern with 3 images in columns, might all be within the same "category" mentally when the user is seeking to insert an image on the page. Examples

[2022-05-18 10:39] getdave commented on #38275
## Update May 18th 2022

Two regressions were spotted on the block during testing for WP 6.0:

1. https://github.com/WordPress/gutenberg/issues/41080
2. https://github.com/WordPress/gutenberg/issues/40908

The former has been fixed thanks to great work from @draganescu 🙇

The other still needs attention but will not make it in time for WP 6.0.

[2022-05-18 10:43] SaxonF commented on #39281
It does make sense but I don't think we necessarily need a dedicated mode to do this. Figma, as a power tool, just defaults to selecting parent components/layers but also lets users double click or cmd click into child layers. What would a more casual approach to this be (but still catering to power users)? Could patterns/template parts/templates/re-usable blocks all behave the same way?

[2022-05-18 11:30] tinjure20 commented on #24952
Thanks Anne. This author has four posts on this test site, which are correctly displayed with default `archive.html` template. Pls. see below (partial screenshot, showing 2 of the four posts) with archive template.
![author-4](https://user-images.githubusercontent.com/59660253/169028676-ceb95628-b26a-43a7-9463-c14ab9c04fe1.png)

[2022-05-18 11:41] arunsathiya opened #41135 ""Post author name" block not visible on the frontend of a site, on Gutenberg 13.2.0 and higher"
### Description

"Post author name" block is not visible on the frontend of a site, on Gutenberg 13.2.0 and higher. I can see it fine on Gutenberg 13.1.0 and Gutenberg 13.0.0. Tested with various themes.

### Step-by-step reproduction instructions

- On a site with Gutenberg 13.2.0, add the `Post author name` block to a page.
- Optionally, mark that block to link out to the author archive.
- Publi

[2022-05-18 12:02] Mamaduka commented on #39223
Hi, @adamsilverstein 👋

* The `block-library` shouldn't depend on the `@wordpress/editor` package since non-WP environments also load the blocks. You can still use [string as a store name](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/calendar/edit.js#L51-L54) if it's an essential or WP-specific block.
* Maybe we could use the [`mediaUpload` utility ](https://github.

[2022-05-18 12:16] hypest commented on #38407
Updated the parent post with:

### 🔎 Main Focus
++ Shipped the [main Drag&Drop functionality](https://github.com/wordpress-mobile/gutenberg-mobile/pull/4832)!

### 🛠️ Recently fixed or improved
++ [Add Proguard rules for React Native's Reanimated library](https://github.com/wordpress-mobile/WordPress-Android/pull/16578)
++ [BlockList - Add internal onLayout from CellRendererComponent to BlockListI

[2022-05-18 12:31] Mamaduka commented on #41135
Thanks for reporting the issue, @arunsathiya.

I just followed you're reproduction setups, and I can see the "Post Author Name" block on posts/page. Am I missing something?

[2022-05-18 12:36] arunsathiya commented on #41135
Thanks for testing, @Mamaduka. Is it visible on the frontend of the post/page for you? It's available on the backend/Gutenberg editor as expected, but it's missing on the frontend after publishing the post/page.

[2022-05-18 12:41] Mamaduka commented on #41135
Correct. Here's the recording:

https://user-images.githubusercontent.com/240569/169040865-7d525a73-4058-4127-a119-d808d0978b51.mp4

[2022-05-18 12:48] #15971 closed

[2022-05-18 12:55] arunsathiya commented on #41135
That's interesting. 🤔 Here's what I see on a site with WordPress 5.9.3 with Gutenberg 13.1.0 (initially) and Gutenberg 13.2.1 (latest version). We can spot that the block is visible while on Gutenberg 13.1.0 but is missing on update to Gutenberg 13.2.0 or higher.

https://user-images.githubusercontent.com/18581859/169043520-0a0eb280-4f56-47bc-96c4-0cd759930e85.mov

[2022-05-18 12:59] jameskoster commented on #39281
You're right, a dedicated mode is only one option, and it may not be the best! I too am anxious about implementing a whole new feature, if incremental changes to existing features could solve the same problems. I think it's a worthwhile experiment though because it does a good job of creating a mental model for working with patterns/sections.

There are many dots to connect, and we need as many ey

[2022-05-18 13:27] Andrew-Starr commented on #41115
It doesn't only happen when an image has been scaled up manually. The size of the original image makes no difference.

In these three scenarios the result is the same (image width set to 500 in Site Logo block settings)

1. 90px wide image
2. 500px wide image
3. 1600px wide image

In all cases when the browser window is narrowed to below 500px, the logo image will overflow its container because it

[2022-05-18 13:33] adamsilverstein commented on #39223
Hey @Mamaduka - thanks for the tips!

Right, hence the errors. Good to know I can can use the "string" method, also sounds like i **shouldn't** do that!

Good suggestion, I saw this being used but didn't dig into internals. I'll give it a try.

Excellent, I'll need that to track multiple uploads.

[2022-05-18 13:45] eric-michel commented on #39371
I could see theme developers adding at least 6+ spacing options, so I think something that allows for a large number makes the most sense. A stepped slider or dropdown seems most intuitive to me.

Big +1 for independent side control. This is essential to how we would use this feature, to the point that if it didn't allow for independent spacing, we would disable the feature and continue to use uti

[2022-05-18 14:31] getdave commented on #38277
It was discussed in [Core Editor chat here](https://wordpress.slack.com/archives/C02QB2JS7/p1652884090244619).

[2022-05-18 14:37] fabiankaegy commented on #38277
One thing that I think we should be cautious of with the "Show states" toggle is, that it adds a lot of additional clicks to your workflow if you want to modify the hover state of multiple blocks. Instead of a local component state, I would recommend that this toggle is a more persistent setting that a user may be able to activate.

I'm not sure what the mechanism should be but just calling this o

[2022-05-18 14:43] getdave commented on #38277
I wonder should we drop `:visited` as I"m not sure if that's possible to style due to security concerns.

I was thinking `:focus` would be better as that's important for a11y.

Also I'd like to see what folks thinking about potential data structure for this in Theme JSON. Perhaps @jorgefilipecosta would have a view?

[2022-05-18 14:47] MaggieCabrera commented on #38277
I wonder if these states will end up showing in many places? depending on the block, they may affect very different properties. If we are talking links I expect to be able to control text color, text decoration, outline?. If it's a button or, in the future, an input, I may need to control borders and border colors or styles. I can think of cases where I may want to change the padding on hover for

[2022-05-18 14:57] javierarce commented on #38277
That's something I considered and mentioned in the Figma file:

With this exploration I tried to follow a pattern I've seen here for other design tools and features: offer functionalities that give as much control as possible but make it difficult to produce "bad" design.

[2022-05-18 15:01] MaggieCabrera commented on #38277
I see what you mean... I wonder though if we could leave more options to theme developers to control if we decide we don't want to surface all possibilities. Text decoration is a good example of a case where it's not common for all blocks to want to surface that control but it's very obvious that theme will want to set a default for. It's a case I've actually had to write CSS for in the last... ma

[2022-05-18 15:19] ntsekouras commented on #41088
This can be also reproduced by clicking `backspace` in the input for the custom color. It seems it might involve inner input components handling... --cc @ciampo @mirka

[2022-05-18 16:10] beafialho opened #41142 "Improve Image Blocks Placeholders"
## What problem does this address?

Chatting with @mtias @henriqueiamarino and @pablohoneyhoney about the effort of populating the Pattern Directory, it makes sense to also pursue more common layouts, displaying them as wireframes, in addition to more opinionated combinations of image and copy. Because of that, the way the images blocks get displayed is important.

This is the current Image block

[2022-05-18 16:17] Mamaduka commented on #41142
Related #23124.

[2022-05-18 16:24] annezazu commented on #24952
@tinjure20 mind opening a new issue for this and tagging me? Want to preserve this thread for discussing enhancement ideas but still want to ensure this is dug into :)

[2022-05-18 17:16] #40583 closed, assigned to tomasztunik

[2022-05-18 17:46] annezazu commented on #41115
@scruffian curious for your thoughts on this since, IMO, this should be handled by Core but might need a TT2 CSS fix for now.

[2022-05-18 19:06] bph commented on #41021
Good point. Both have their place. One is to look up the function reference, the other explains the concept and the context, that could link to the function references... I need to think about it some more, though.

[2022-05-18 19:36] chad1008 commented on #41067
I've been testing this today both locally and on WordPress.com and I'm also not able to reproduce. Clearly there's something going on, but there's some obscure variable preventing some of us from seeing it.

Even copypastaing @andrewstaffell's provided markup renders as expected for me! Not sure what's triggering it for some sites/users but not others 🤔

Tested with Chrome 101.0.4951.64. Unable to

[2022-05-18 19:46] chad1008 commented on #41135
I'm also not able to reproduce this. The author block renders on the front end for me regardless of what version I have installed.

This feels very similar to
- https://github.com/WordPress/gutenberg/issues/41067

In both cases, something related to rendering posts, or parts of a post are working fine in the editor, but not rendering on the front end, and aren't able to be reproduced consistently.

[2022-05-18 19:47] chad1008 commented on #41067
I won't repeat the full [comment](https://github.com/WordPress/gutenberg/issues/41135#issuecomment-1130468911) from the other issue, but I do find myself wondering if there might be a link between this issue and https://github.com/WordPress/gutenberg/issues/41135. They seem to have a lot in common 🤔

[2022-05-18 19:58] annezazu commented on #41135
cc @tinjure20 perhaps this does match the issue you reported :)

[2022-05-18 20:13] adamsilverstein commented on #39223
@Mamaduka addressed feedback - updated in  https://github.com/WordPress/gutenberg/pull/41120

[2022-05-18 20:20] Diachrony commented on #41067
@chad1008

I don't normally show "Author name" on my posts, but I just added into a test query and you are correct. The author name does not seem to show in the preview page
![image](https://user-images.githubusercontent.com/20742820/169148845-f87e6324-c1a2-4ef7-ac18-ee1b04fafc7c.png)

[2022-05-18 21:12] andrewstaffell commented on #41067
Post Author Name block is showing empty for me too (on front). Whether in Query Loop or directly in Post Content.

Note my first comment above, that it appears the `pre_get_posts` hook is not being executed by the query loop when it fails. If I restore 13.1 the logging in that hook reappears.

It’s an odd one for sure…

[2022-05-18 21:28] ironprogrammer commented on #41067
## Reproduction Report

### Environment
- OS: macOS 12.3.1
- Web Server: Nginx
- PHP: 7.4.29
- WordPress: 5.9.3 (tested with clean install and after `wp db reset` on a pre-existing install)
- Browser: Safari 15.4, Google Chrome 101.0.4951.64
- Theme: Twenty Twenty-Two, Twenty Twenty-One
- Active Plugins:
  - Gutenberg 13.1.0, 13.2.0, 13.2.1

### Steps to Reproduce
1. **Prerequisites:** Install/ena

[2022-05-18 21:32] annezazu commented on #37628
Closing this back out as it should be resolved based on my testing with 6.0 RC4. Feel free to let me know if it needs to be reopened!

[2022-05-18 21:32] #37628 closed, assigned to dhruv-15-03

[2022-05-18 22:31] TomasHurtz commented on #30901
Hello

I too would like to know how best to add top toolbar button in Gutenberg page / post editor.

![Edit-page - top-toolbar-WordPress](https://user-images.githubusercontent.com/17046561/169166820-584da664-0372-4292-b81f-df1f39941a72.jpg)

[Here is a useful example](https://stackoverflow.com/questions/62105561/adding-button-to-header-of-gutenberg-editor-in-wordpress-through-plugin) I have not tr

[2022-05-18 23:34] annezazu commented on #41060
Might be a duplicate now? https://github.com/WordPress/gutenberg/issues/40238 Would be great to consolidate either way as these feel wildly similar. Happy to close out either.

[2022-05-19 00:16] krisalcordo commented on #17855
I am still experiencing this issue @paaljoachim @ntsekouras

[2022-05-19 01:31] noisysocks commented on #41076
That's correct @Mamaduka. Here's the upstream `react-dates` issue: https://github.com/react-dates/react-dates/issues/1748

[2022-05-19 01:31] #41076 closed, assigned to nobody

[2022-05-19 02:16] james0r commented on #38299
Another reason why I think Wordpress should release a Classic Editor version. More and more needed all the time to strip Gutenberg from our custom themes.

[2022-05-19 03:23] annezazu commented on #40382
Just ran into this with 6.0 RC3 and it made adding a sub menu to the nav block feel frankly unusable:

https://user-images.githubusercontent.com/26996883/169197541-ae8edf15-240d-4ae4-ad11-d63bcb55a3ab.mov

@getdave is this still on your plate? If so, I think this needs to be considered for 6.0.x cc @ndiego

[2022-05-19 03:26] nendeb opened #41145 "In the Block editor, if you enter a negative value for the margin, it will be reset to 0."
### Description

If I enter a negative value in the Dimensions margin of a Group Block or Heading Block, it will be reset to 0.

### Step-by-step reproduction instructions

We have tried other methods.
In the Code editor, if I enter a negative value directly in margin, it can be saved, but if I go back to the Visual editor and try to change the value, it is set to 0.

### Screenshots, screen recor

[2022-05-19 03:30] annezazu opened #41146 "Navigation block: text color not appearing in the editor"
### Description

When assigning a text color to the main navigation block using TT2, the color isn't shown properly in the editor but does appear correctly when viewed on the front end of the site. This occurs with 6.0 RC3. cc @ndiego as a heads up, @getdave to perhaps help address, and @scruffian for possibility of this being a TT2 issue.

### Step-by-step reproduction instructions

1. Add a navi

[2022-05-19 03:30] annezazu commented on #41146
Adding to 6.0.1 conservatively. Would love to see this addressed for RC4 planned for this Friday but I recognize that that's a tight timeline :)

[2022-05-19 04:01] carolinan commented on #41146
[This problem](https://github.com/WordPress/gutenberg/issues/40908) seems to be escalating

[2022-05-19 04:21] getdave commented on #38277
Ah so the UI would only offer a subset but you could control a lot more via Theme JSON? At that point what are the benefits over standard CSS? I guess so the information can be parsed and consumed by non-web clients?

This is going to be tricky. If we open up the idea of controlling interactivity states via the UI, it's inevitable folks will ask for more control via the UI for other things (even t

[2022-05-19 04:23] getdave commented on #40382
I've been waiting for @youknowriad to land the new Popover changes. But it's a very difficult problem. I have a prototype solution in https://github.com/WordPress/gutenberg/pull/40625 but I'd love more 👀 on it.

[2022-05-19 04:55] gziolo commented on #30901
This issue https://github.com/WordPress/gutenberg/issues/16988 from @ryanwelcher looks like a very similar proposal. There is also a broader discussion in https://github.com/WordPress/gutenberg/discussions/37448 about making the editor’s interface more extensible.

[2022-05-19 05:08] #40928 closed, assigned to glendaviesnz

[2022-05-19 05:27] glendaviesnz commented on #41145
Thanks for reporting this. I am going to close it as it is a duplicate of https://github.com/WordPress/gutenberg/issues/32644

[2022-05-19 05:27] #41145 closed, assigned to nobody

[2022-05-19 05:31] kevin940726 commented on #35496
Interesting, it seems to be a legitimate bug in the customizer. Here's the recorded video:

https://user-images.githubusercontent.com/7753001/169217294-72dd3712-b094-4ef6-b84a-118a1bf05dee.mp4

[2022-05-19 05:44] Mamaduka commented on #41076
Thanks for the confirmation, @noisysocks.

[2022-05-19 06:31] jordesign opened #41149 "Navigation Block: Mobile menu javascript won't work till page is fully loaded"
### Description

The Mobile/Hamburger menu button is not working properly when the site is slow to load.

I expected: to be able to use the mobile menu *before* the page and assets are fully loaded.

What Happened: mobile menu button was blocked from working until the page (and third-party scripts) were fully loaded.

### Step-by-step reproduction instructions

1. Set up a site with a navigation b

[2022-05-19 08:37] xoex opened #41152 "Block inner container make row unusable"
### Description

I made a simple Row block in Gutenberg editor and put two simple texts. In editor everything is fine but in output Row doesn't work.
When I inspected the code, I saw a div with "wp-block-group__inner-container" class inside Row div, this div just makes Row doesn't work at all.
See screenshots :

### Step-by-step reproduction instructions

1. Create a row
2. Put some text
3. In out

[2022-05-19 08:46] gziolo commented on #41094
@fullofcaffeine, I think this is a great idea. We did something similar for `@wordpress/deprecated` which is maybe less critical than the use case you brought:

https://github.com/WordPress/gutenberg/blob/aa1f77028d2dd94e567cb62b3efe99421fc0179a/packages/deprecated/src/index.js#L61-L74

This gives a chance for every site/plugin/theme to do whatever they need with deprecation messages. It's execute

[2022-05-19 08:51] gziolo commented on #41094
There is more than one boundary, but mostly one per every editor screen (post, site, widgets, navigation, ...). @Mamaduka has implemented one also for Plugins API with https://github.com/WordPress/gutenberg/pull/38397.

[2022-05-19 09:28] bph commented on #41021
@carolinan
Would you want to create a new discussion post  for the overall question, on at which point will the block-editor handbook, be integrated into the core references to avoid duplication and confusion as to where to go?
Then we can discuss it on the next #docs meeting? And the next #core-editor meeting and get people's input.
With the automating docs production it probably a bit more compl

[2022-05-19 09:32] jameskoster commented on #41060
I think they're slightly different. #37258 alone would close #40238, but not this one.

[2022-05-19 09:40] lichtmetzger commented on #16006
It does work _somewhat_ because it shows the current state of a site **before** doing any further edits. New changes are not reflected in the preview though, making the preview at least do something, but still not being very useful.

The preview seems to work fully when creating a new page, though, which is nice.

[2022-05-19 09:45] javierarce commented on #38277
An [alternative way](https://www.figma.com/proto/uDsOBs0motcE5m0fcwXR52/Design-controls-for-interactive-states?page-id=594%3A25211&node-id=596%3A25212&viewport=747%2C444%2C0.22&scaling=min-zoom&starting-point-node-id=596%3A25212) to reveal the state selection interface:

https://user-images.githubusercontent.com/4933/169264058-d296d65d-bc72-4585-b1d6-318c0610bd29.mov

[2022-05-19 09:47] ntsekouras commented on #30925
I'm closing this one since [this has landed](https://github.com/WordPress/gutenberg/pull/38997).

[2022-05-19 09:47] #30925 closed, assigned to nobody

[2022-05-19 09:47] xoex commented on #41152
I tested this in my website with all plugins disabled but only Gutenberg but with Astra Theme enabled.
But in clean local install of wordpress this didn't happened. So I suspected the theme. I tested with wordpress default theme and row was shown without any problem.
I don't know how theme is messing with these but it's probably the theme

[2022-05-19 10:19] SiobhyB commented on #30987
To tie up all the pieces to this I've found in my investigations so far: I've only been able to reproduce this behaviour on WP.com sites or sites connected to the Jetpack plugin (with VideoPress enabled). Videos uploaded to self-hosted sites without any plugins that automatically change the video block, like VideoPress, displayed as expected within the app.

There's an older issue related to this

[2022-05-19 10:58] tinjure20 commented on #41135
cc @annezazu, indeed it does!

[2022-05-19 11:18] andrewstaffell commented on #41135
Also having this issue (as well as the query loop taxonomy filters).

[2022-05-19 12:02] tinjure20 commented on #41135
In my further testing, **Post Author block** is displayed correctly both on the editor and front end. I am still having problem displaying **Post Author name** block on the front end. See screenshots below:

**Editor** (post author name is displayed):
![author-name-block-1](https://user-images.githubusercontent.com/59660253/169288177-eaacf836-aa14-4a1d-a215-edf392bf1e4a.png)

**Front end** (post a

[2022-05-19 12:57] mtias commented on #37407
Option B looks like a good path to explore. I miss the extra helpful text we had here:

<img width="803" alt="image" src="https://user-images.githubusercontent.com/548849/169298595-b4436df0-836c-443d-b1f2-33ceeb703bc6.png">

But tailored for what it means to add a template for a specific category slug, in this case.

[2022-05-19 12:58] t-hamano opened #41157 "ColorPalette: Labels do not change when CSS variables are used"
### Description

Related: #39386

In #39386, `name` and `color` are now displayed on the palette when a color is selected from the color palette.
It works correctly when the color has a HEX value, but the label is not rendered correctly when the color has a **CSS variable**.

I would expect that the label is probably not updated correctly at this point:
https://github.com/WordPress/gutenberg/blob/

[2022-05-19 12:58] alexandrebuffet opened #41158 "[Fonts API] does not correctly handle variable fonts files in .woff2 format"
### Description

When I register custom font families with variable font files in `.woff2` format into my `theme.json`, the browser doesn't seem to understand the font format and the "variable" properties doesn't work.

Tested up with WordPress 5.9.3 + Gutenberg 13.2.1 and a webfont registration via `theme.json` in a custom Block Theme (as explained in [#37140](https://github.com/WordPress/gutenbe

[2022-05-19 13:14] ntsekouras commented on #37407
I'll start exploring this, but with post types for start. We can always iterate on the POC I'll have soon and I guess the approach taken will be similar for taxonomies, etc..

@mtias you screenshot is a bit different from @jameskoster 's one. Is it more about the missing description?

My first thoughts for `postType` would be a new menu item (if eligible) that would say `Post Type` and have two op

[2022-05-19 13:16] alyssabhogan commented on #41135
@tinjure20 Yes, that is true. I originally reported this bug on the WordPress.com forums which (I believe) led to this Gutenberg issue report. The "Post Author" block, with avatar and byline blank, would otherwise be a somewhat suitable work-around for the task of displaying an author's name, except that it doesn't support the "isLink" attribute that the "Post Author Name" block has. This, in effe

[2022-05-19 13:32] xoex commented on #41152
I can confirm that Astra theme is solely responsible for this behavior and this have nothing to do with Gutenberg.
more on :
https://github.com/brainstormforce/astra/issues/3431

[2022-05-19 13:32] #41152 closed, assigned to nobody

[2022-05-19 13:52] joloco commented on #38944
If a child theme file over-rides a file of the same name that's in the parent theme (which is the desired behaviour, as explained clearly above by @justintadlock) then this line in the documentation is confusing at best:

Shouldn't this be changed to explain that the child theme file will be the only one loaded in such a case? As it stands, it sounds like both files will be loaded.

[2022-05-19 15:51] jameskoster commented on #37407
Yes I think so, we can add this in the PR.

To implement the design above consistently we'd have separate items per post type, and per taxonomy. As an example, if you had 'Products' as a CPT and 'Product categories' as a custom taxonomy then the add template menu would include:

* Single product
* Product archive
* Product category

Clicking "Single product" would ask if you want to add `single-pr

[2022-05-19 15:54] eriktorsner opened #41161 "Temporarily broken images silently empties Image Block attributes"
### Description

In PR #35973 an error handler `onImageError()` was introduced in the Image Block with the intention to handle when images are removed from the Media Library. If the image is removed, the Image Block gets its id and URL attributes cleared out.

However, this behavior is also triggered when a local or remote image is just temporarily unavailable for any reason. For many users, this

[2022-05-19 16:01] fluiddot opened #41162 "Image size strings `Large` and `Medium` are not translated in Android"
## Description

The image sizes strings `Large` and `Medium`, which are displayed in the Gallery and Image block settings, are not translated. Note that this issue can only be reproduced in Android as on iOS these strings are translated.

## Step-by-step reproduction instructions

**Preparation:**
Change the device's language to non-English (I reproduced the issue by using Spanish).

1. Open a pos

[2022-05-19 16:01] ciampo commented on #41088
Thank you for the ping!

I can reproduce the issue as described by both @Floriandrias96 and @ntsekouras in the editor, however I was not able to reproduce it on the [`ColorPicker` component in isolation](https://wordpress.github.io/gutenberg/?path=/story/components-colorpicker--default).

I'll look a bit more into that and come back with any further discovery.

[2022-05-19 16:13] #41121 closed, assigned to nobody

[2022-05-19 16:18] Mamaduka commented on #41135
I was able to reproduce the issue on my different installation.

#41122 should fix the bug. Props to @dd32.

@annezazu, @chad1008, do you think we should do a minor release that includes this fix?

[2022-05-19 16:24] andrewstaffell commented on #41135
Thank you! Please do publish the minor release :)

Do we think this will fix #41067? too?

On Thu, 19 May 2022 at 18:18, George Mamadashvili ***@***.***>
wrote:

[2022-05-19 16:29] Mamaduka commented on #41135
Hi, @andrewstaffell

Just tested #41067 and it's fixed as well  🎉

[2022-05-19 16:35] andrewstaffell commented on #41135
Wow! Awesome! Thanks!

On Thu, 19 May 2022 at 18:29, George Mamadashvili ***@***.***>
wrote:

[2022-05-19 16:41] ciampo commented on #41088
I also checked [the `ColorPalette` component](https://wordpress.github.io/gutenberg/?path=/story/components-colorpalette--default) in isolation, and wasn't able to reproduce the issue.

The issue seems related to some sort of "infinite loop" where a new color value is not committed properly to whatever "state" is stored.

Next up, I would look at the `InlineColorUI` component, in particular at its

[2022-05-19 17:02] andrewstaffell commented on #41067
Apparently fixed by https://github.com/WordPress/gutenberg/pull/41122 (not yet tested by me, but according to https://github.com/WordPress/gutenberg/issues/41135)

[2022-05-19 17:07] alyssabhogan commented on #41135
Thank you all!

[2022-05-19 17:12] apeatling commented on #39336
@andrewserong @ramonjd What's the latest update on this one?

[2022-05-19 17:27] chad1008 commented on #41135
That's awesome, thanks @Mamaduka! I agree, a minor release sounds like a good idea :)

[2022-05-19 17:35] az4vlad opened #41163 "Tags not saving until you try 2-4 times"
### Description

I cannot find a fix for this anywhere. When I insert tags for an article, they pop right back out most of the time without saving. I usually have to type them in 2-4 times to get them to save. And that's after waiting 5-10 seconds first on each one - once I see the similar tags pop up, then I know I can start trying to enter them; if I don't wait, they will never be accepted. It m

[2022-05-19 17:42] ironprogrammer commented on #41067
Just confirming here for additional consensus 👍🏻

After testing `gutenberg:trunk` following [PR 41122 merge](https://github.com/WordPress/gutenberg/pull/41122), this has resolved the [reported issue](#issue-1235900033).

## Test Report
Patch: #41122

### Environment
- OS: macOS 12.3.1
- Web Server: Nginx
- PHP: 7.4.29
- WordPress: 5.9.3
- Browser: Google Chrome 101.0.4951.64
- Theme: Twenty Twenty

[2022-05-19 18:08] michellecurran commented on #39692
I would like to add my experience to this issue, as this is a pretty big accessibility issue that I hope will be soon fixed :)

This change in architecture to the core cover block is also causing accessibility issues for my client.  We have used the cover block as heros on all their t1, t2 and most t3 pages, some heros are solid backgrounds and some are image backgrounds.  We created patterns for

[2022-05-19 18:08] mkkeck commented on #38299
The problem is not Gutenberg at all, but the philosophy, how and why features are developed and get into the WordPress core. I think there should be change.
All theme specific stuff and junk should be removed from core to the Twenty-××× themes. It's really frustating, that with nearly every release of WordPress (core), the core is bloated and junked with things, these would be better in themes and

[2022-05-19 18:19] blogtutor opened #41164 "Text formatting for selected text across blocks reverts when block is clicked (6.0 RC3)"
### Description

I just installed 6.0 RC3 on a dev site, and tested out the new feature that allows us to select text across multiple blocks at once.
When I select text, and then press CTRL-b to bold it, it all looks bold while it's selected. Once I then click back into either block, the bold disappears in that block.

I also see similar behavior with CTRL-i for italic.

(This behavior is on Chrom

[2022-05-19 19:12] pauldrummond commented on #25575
If the navigation block doesn't have link sub-menus `current-page-ancestor` class isn't added when viewing a child page. For example, if I'm currently viewing _www.mysite.com/books/book1/_ I want the link to _www.mysite.com/books/_ in the nav block to have the `current-page-ancestor` class.
I've written a simple plugin to handle this client-side with vanilla Javascript. Not sure how to handle it o

[2022-05-19 19:33] skorasaurus opened #41168 "Keyboard shortcut for selecting text across multiple blocks is missing"
### Description

Feature Introduced in https://github.com/WordPress/gutenberg/pull/38892;

the Keyboard shortcut for selecting text across multiple blocks (without selecting all of the blocks' text) should appear in the [FAQ as MD](https://github.com/WordPress/gutenberg/blame/trunk/docs/explanations/faq.md), [as reference, the FAQ rendered](https://developer.wordpress.org/block-editor/explanations

[2022-05-19 19:49] adamsilverstein commented on #17632
I started initial work on prototyping a "subscribeOnChange API" based on @youknowriad's suggestion (https://github.com/WordPress/gutenberg/issues/17632#issuecomment-614137473), hopefully this could simplify developer usage when trying to monitor for the completion of any event in Gutenberg where state toggles.

[2022-05-19 20:03] johnstonphilip opened #41170 "Site Editor: Clicking "Browse all footers" shows list of all template parts (not just footers)."
### Description

When I have only a single footer template part in my theme, in the site editor I can click "Browse all Footers", which then takes me to see all of the template parts in my theme, even my header (which is not a footer).

The issue here seems to be that the terminology is wrong. It should say "Browse all Template Parts".

### Step-by-step reproduction instructions

1. Install the Fr

[2022-05-19 20:08] jameskoster commented on #39281
I spent some time today further exploring the ideas @SaxonF brought to the table and think the following incremental changes to existing functionality could be a valid alternative to exploded view.

To begin with, I agree that the concepts proposed in exploded view can be combined with the existing template editor to create 'layout view' which is accessed directly from the top toolbar.

https://us

[2022-05-19 20:33] SteveRyan-ASU commented on #8288
For those that are monitoring the issue, as a temporary fix you can try to apply your style overrides to the following selector.
`.editor-styles-wrapper .is-root-container .wp-block.is-reusable {};`

Increases the specificity of the default rule from the block editor by one point.
`.editor-styles-wrapper .block-editor-block-list__layout.is-root-container > * {}`

[2022-05-19 21:12] westonruter opened #41171 "Env: Add ability to specify `xdebug.idekey` for sake of debugging with PhpStorm/IntelliJ"
## What problem does this address?

I'm attempting to configure wp-env with Xdebug for PhpStorm/IntelliJ. As I understand, this requires  an IDE key for PhpStorm to make the connection with the Debugger. For example, when I have created a server in PhpStorm called `amp`:

<img width="757" alt="image" src="https://user-images.githubusercontent.com/134745/169404200-5a7e67a7-de0f-4e8d-9415-6d45ab8147

[2022-05-19 21:13] westonruter commented on #41171
cc @noahtallen

[2022-05-19 21:17] wpsoul commented on #17632
subscribe API should not be used for this purpose because this will reduce page perfomance

[2022-05-19 21:28] annezazu commented on #41135
I think a minor sounds like a good idea (assuming you are talking about a minor GB release in this case). I'm concerned this is happening in RC4 as well based on the previous info that @tinjure20 shared https://github.com/WordPress/gutenberg/issues/24952#issuecomment-1129321450 Going to add this to the 6.0 minor release milestone as a result.

[2022-05-19 21:32] annezazu commented on #41060
Cool I'll close mine out :)

[2022-05-19 21:32] annezazu commented on #40238
Closing out in favor of https://github.com/WordPress/gutenberg/issues/41060

[2022-05-19 21:32] #40238 closed, assigned to nobody

[2022-05-19 21:51] coreyworrell commented on #37943
This exactly. It at least would make adopting FSE easier than an all-at-once or all-or-nothing approach. The Appearance > Editor screen would be great to have for just template parts and global styles, while still allowing templates themselves to be in PHP.

[2022-05-19 21:58] adamsilverstein commented on #17632
@wpsoul thanks for the feedback. given the project architecture, what alternative would you suggest? What would the ideal API look like for you?

[2022-05-19 22:05] ZebulanStanphill opened #41173 "Table of Contents: support usage outside of Post Content"
## What problem does this address?
Currently, the Table of Contents block only grabs headings from a post that it resides in. But one use case that I think should be supported is putting the block in the post template, but outside the Post Content.

This would necessarily require the use of dynamic rendering, which ironically was just removed from the block in #29739.

Now, the static rendering ap

[2022-05-19 22:27] apeatling commented on #41093
Related to snap points: https://github.com/WordPress/gutenberg/issues/39371

[2022-05-19 22:59] westonruter commented on #41171
Well, I was able to get it to work by configuring the PhpStorm server to have the name `localhost`, and then to set the host as `localhost` instead of `host.docker.internal`. So this may not be needed.

[2022-05-19 23:28] glendaviesnz opened #41174 "Gallery block: allow setting separate row and column gap"
## What problem does this address?

With the changes in #41125 it is now possible to set the row and column gap settings independently in the block style attributes  so it would be good to enable this option in the block styles UI

An [example of this working in the UI can be seen here](https://github.com/WordPress/gutenberg/pull/41125#issuecomment-1131142120).

[2022-05-19 23:54] andrewserong commented on #41174
I've opened up a PR to opt-in to the separate row / column values in: https://github.com/WordPress/gutenberg/pull/41175

[2022-05-19 23:55] glendaviesnz commented on #41161
An [explicit error message was added here](https://github.com/WordPress/gutenberg/pull/40982) to at least alert the user to the reason why the Image block reverted to the placeholder. The adding of this was related to instances where images had been permanently deleted, but maybe due to the case of the temporary connection errors you note the removing of the image details from the block needs to b

[2022-05-20 00:14] coreyworrell commented on #36060
Any updates on this? Say a developer creates a default template part in the theme file, client updates through UI, then later updates again, but messes something up. Reverting to what is in the theme is not helpful because all their previous changes would be lost. There needs to be a way to revert to each incremental update to each template.

In any case, having such a core feature of a website, t

[2022-05-20 00:46] jordesign commented on #28564
Is this issue still relevant - with the ability to edit page templates (and remove page title) in FSE? Or do we need it still open for the purposes of TT1 ?

[2022-05-20 01:21] annezazu opened #41177 "Style variations preview is cut off"
### Description

When using 6.0 RC 3, the style variations preview is now cut off. If I use GB 13.2.2, it shows up correctly so something must have changed recently. cc @ndiego as a heads up & @glendaviesnz since you chimed in on another similar issue @gziolo as co-core editor tech lead.

Here's another similar issue about the preview where you can see how this should appear https://github.com/Wor

[2022-05-20 01:24] andrewserong commented on #39336
Update 2022/05/20:

* In time for WP 6.0, focus was mostly on the group block variations and UI changes that landed for the block toolbar and inspector controls, and improving block transformations between Group and other blocks like Cover.
* Bumped from 6.0 was [a potential fix](https://github.com/WordPress/gutenberg/pull/39870) for https://github.com/WordPress/gutenberg/issues/39789 — there were

[2022-05-20 01:27] annezazu opened #41178 "Pagination blocks require being deleted twice to be removed"
### Description

This occurs both with 13.2.2 and, more concerning, 6.0 RC 3. Essentially in order to properly remove pagination blocks, you have to delete them twice. Nothing this for a minor release since we're tight on time but cc @ndiego and @gziolo for potentially more thoughts in case there's an easy fix ahead of RC4 tomorrow.

### Step-by-step reproduction instructions

1. Open Appearance >

[2022-05-20 01:33] carolinan commented on #41060
Please allow this to be from the theme, a pattern from the directory which is not designed for the theme can create a less than ideal experience.

[2022-05-20 02:44] lukecarbis commented on #28564
I think it's a lot less relevant given edit page templates.

[2022-05-20 03:39] ddryo commented on #38127
@MatzeKitt

Thank you. But that didn't work out.
I got an `Call to undefined functiongutenberg_render_layout_support_flag()` error.

[2022-05-20 03:58] ddryo commented on #38127
However, I was able to remove `wp-container-{id}` from all blocks with the following code.

[code]

[2022-05-20 04:06] hamedmoody opened #41181 "Bad style for post thumbnail with Svg images"
### Description

When I allow Svg upload and set as post thumbnail it has bad style

### Step-by-step reproduction instructions

1. Add below code to functions.php
`add_filter( 'upload_mimes', function ( $mimes ){
	$mimes['svg'] = 'image/svg+xml';
	$mimes['svgz'] = 'image/svg+xml';
	return $mimes;
});`
2. Go to Post > new
3. Upload Svg image
4. You can see bad style

### Screenshots, screen record

[2022-05-20 04:19] ramonjd commented on #38167
# Update Friday, May 20, 2022

This update outlines style engine work being done right now, upcoming tasks and (roughly) how we might progress beyond these stages.

## Phase 1: moving all style engine code to a package and using it to generate block supports styles (ongoing, about 75% complete)

Work continues on the initial phase of migrating existing block supports styles to the style engine.

T

[2022-05-20 04:31] Mamaduka commented on #41181
Thanks for contributing, @hamedmoody.

I think this is a duplicate of #5477.

[2022-05-20 04:32] #41181 closed, assigned to nobody

[2022-05-20 05:04] carolinan commented on #41178
I can reproduce this, but I also think it is working as intended?
For example, if you remove all inner blocks in the columns, the selector where you choose the number of columns shows again.
If you remove all inner blocks in the social icons, three placeholder icons are shown, if you remove the content of the cover block, the placeholder title shows.

[2022-05-20 05:07] #37241 closed, assigned to nobody

[2022-05-20 05:20] Mamaduka commented on #41135
The Gutenberg 13.2.2 was released last night. Props to @chad1008.

@annezazu, there's no need to backport the changes into WP. It was only a bug in the Gutenberg plugin.

[2022-05-20 05:20] #41135 closed, assigned to nobody

[2022-05-20 05:21] Mamaduka commented on #41067
The issue should be fixed with Gutenberg 13.2.2. See the details - https://github.com/WordPress/gutenberg/issues/41135#issuecomment-1131923762.

[2022-05-20 05:21] #41067 closed, assigned to nobody

[2022-05-20 06:15] roo2 opened #41184 "Make Query block respect `perPage` option when sticky posts exist"
Currently if we have sticky posts, they will be prepended to the results of the query block, regardless of what was set in the `perPage` property.

For example, if we had two posts, one "sticky":

<img width="1068" alt="Screen Shot 2022-05-20 at 3 05 38 pm" src="https://user-images.githubusercontent.com/22446385/169454453-be3106b9-d1e0-47eb-8889-9f18569ef5b5.png">

And the following query in my ho

[2022-05-20 07:13] andrewstaffell commented on #41135
@Mamaduka @annezazu just for clarification – is Post Author Name supposed to be available in WordPress 6.0?

[2022-05-20 07:31] SavPhill opened #41187 "[Documentation] Incorrect URL"
### Description

In the following documentation page regarding Coding Guidelines:

https://developer.wordpress.org/block-editor/contributors/code/coding-guidelines/

Under the section Coding Guidelines, the link titled WordPress Coding Standards points to the WordPress Coding Standards for _JavaScript_ subdirectory:

https://developer.wordpress.org/coding-standards/wordpress-coding-standards/javas

[2022-05-20 07:31] gziolo commented on #41178
When you remove all 3 blocks then probably it restores the default template for the Pagination block defined here:

https://github.com/WordPress/gutenberg/blob/0da4e255f6f20ef3e562b353727839f604753539/packages/block-library/src/query-pagination/edit.js#L56-L64

I wouldn't call it an obvious bug because it is expected behavior when you have inner blocks with some predefined initial state. For examp

[2022-05-20 07:38] Mamaduka commented on #41135
@andrewstaffell, Post Author Name block should be available in WordPress 6.0.

[2022-05-20 07:51] andrewstaffell commented on #41135
Thank you @Mamaduka for the swift response. That’s what I thought too – it’s been in Gutenberg for ages, and I thought that I had seen that it was going to be in an even earlier release of core – but it seems to be missing from the latest RC.

What’s the best way to check / who’s the best person to ask if this is a simple oversight that can be sorted for the release?

The normal Post Author block

[2022-05-20 07:56] andrewstaffell commented on #41135
Screenshot of 6.0 RC3 files... Post Author Biography is included but Post Author Name is missing. Surely a mistake?!

<img width="502" alt="Screenshot 2022-05-20 at 09 55 52" src="https://user-images.githubusercontent.com/696154/169481502-c2d004ef-2d48-4b28-ab2a-8b056bd2757a.png">

[2022-05-20 07:58] Mamaduka commented on #41135
@andrewstaffell, that's odd. Based on the Gutenberg version, the block was introduced, it should be included in 6.0.

Unless it was excluded for some specific reason. @annezazu might have more details.

[2022-05-20 08:02] andrewstaffell commented on #41135
Yes, exactly, the versioning suggests it should be there too. Some oversight or glitch in the build? Any chance of resolving, @annezazu? Thanks both!

[2022-05-20 08:27] gziolo commented on #40952
It should be fixed with https://github.com/WordPress/gutenberg/pull/41098. I will prepare all the necessary changes to bring that to WordPress core for 6.0 RC4.

[2022-05-20 08:27] #40952 closed, assigned to nobody

[2022-05-20 08:33] ddryo commented on #38126
Are there any plans to fix this problem?

I think it is a pretty important issue.

[2022-05-20 08:41] ddryo commented on #38126
I would like to propose a new problem with the absence of the `is-row` class.

In the classic theme, there are cases where `wp-container-{id}` output is unnecessary.

Suppose we stop the output of wp-container-{id} with the following code.

[code]

In this case, the collapsed block needs to be adjusted by applying CSS separately, but there is no identifiable class for the "row" variation, and it i

[2022-05-20 09:33] Julianoe opened #41191 "Consider adding a "copy-paste permalink" button somewhere when editing scheduled posts"
## What problem does this address?
When you schedule the publication of a post, it gets a temporary url that will allow you to preview the post. In the block editor interface there is no easy way to copy-paste the permalink that will be attributed to the currently edited post once posted. The way to obtain it is cumbersome whilst it was a one-click action in the past.

## What is your proposed sol

[2022-05-20 09:36] wpsoul commented on #17632
@adamsilverstein

I think it should be javascript/wordpress hook or event which is triggered on post saving procedure.

[2022-05-20 09:52] t-hamano opened #41192 "BlockToolbar: Disabling group block variations is not applied"
### Description

Related: #39710

In #39710, group block variation buttons are displayed on the block toolbar when multiple blocks are selected.
However, they are still retained even when the variation is disabled by `unregisterBlockVariation`.

### Step-by-step reproduction instructions

- Execute the following code from the browser console to disable the group block variation:
[code]
- Add multi

[2022-05-20 10:03] mrleemon commented on #37670
I don't know if my bug is related to this, but I've added the following code to my theme `theme.json` file but in WP 6.0 RC3 it's completely ignored on frontend (no problems on backend):

[code]

[2022-05-20 10:23] danielbachhuber commented on #41161
To build on this, one implication is that a user can "lose" images from their post if: 1) they edit a post with lots of images, 2) a few images fail to load for some temporary reason, 3) they save their post (thinking they're only applying the changes they made, but also saving the removal of the images).

[2022-05-20 10:26] t-hamano opened #41194 "Separator Block: Color is not reflected correctly"
### Description

The color of the separator blocks is not reflected correctly in both the Classic and Block themes.

I think that this problem might be caused by the fact that the color setting has been moved to block support and the `.has-background-xxx` class is no longer assigned in #38428.

### Step-by-step reproduction instructions

1. Activate Twenty Twenty Two (Block theme).
2. Confirm that

[2022-05-20 10:50] getdave commented on #41177
I remember https://github.com/WordPress/gutenberg/pull/40842 was adjusting things to do with iframes and styles.

[2022-05-20 10:57] getdave commented on #41146
https://user-images.githubusercontent.com/444434/169513995-48ae259a-0f3e-4663-b1bd-616d52de7898.mov

Tested and confirmed. Seems to be another inline style overriding this text color style 🤔

Doesn't happen on Archeo Theme though.

<img width="1277" alt="Screen Shot 2022-05-20 at 11 59 03" src="https://user-images.githubusercontent.com/444434/169514431-711e0be6-684d-4ce9-867e-a0fd22ce421b.png">

I

[2022-05-20 11:00] Mamaduka commented on #41177
I think I was able to track down the problem. It's similar to the issue with the Pattern previews in WP 5.9.

When the `SCRIPT_DEBUG` is set to `false` and Gutenberg plugin isn't active, some styles are leaking into the iframes. In this case, [`min-width` is set for the `body`](https://github.com/WordPress/wordpress-develop/blob/trunk/src/wp-admin/css/common.css#L3766-L3769).

The main problem wit

[2022-05-20 11:03] ndiego commented on #41177
I can confirm. Looks like a lot more styles are being applied to the `<body>` tag in RC3, and one of them is `min-width: 240px`.

**RC3 only**
![image](https://user-images.githubusercontent.com/4832319/169514006-25bef6cd-9e19-4c5f-bc4a-642a1a323d65.png)

**RC3 with Gutenberg 13.2.2**
![image](https://user-images.githubusercontent.com/4832319/169513785-083d6d1e-6a64-4385-a1f2-07e0a76c38da.png)

The

[2022-05-20 11:09] getdave commented on #41146
Some more debugging reveals the culprit to be the text color set on a wrapper Group block whose styles are cascading on to every `a` in it's container.

https://user-images.githubusercontent.com/444434/169515750-683e0df9-f085-4ab5-9c43-1a64ba4c3c3f.mov

You can see this at

https://github.com/WordPress/twentytwentytwo/blob/27054dbcb95f5d72cd943a0f3318c3ad97599f85/parts/header-small-dark.html#L1

[

[2022-05-20 11:12] cbravobernal commented on #27873
Closed by #28003

[2022-05-20 11:13] #27873 closed

[2022-05-20 11:17] ndiego commented on #41177
@Mamaduka I just confirmed that adding the following to common.min.css does fix the problem. Not a great solution, but one nonetheless 🤷‍♂️

[code]

[2022-05-20 11:17] ntsekouras commented on #41164
Thanks for reporting this @blogtutor! We don't have a good way to handle this properly right now as multi block selection might include other non text blocks. The resolution for now is to disable the shortcuts.

[2022-05-20 11:20] Mamaduka commented on #41177
@ndiego, this is what I was thinking:

_packages/edit-site/src/components/global-styles/preview.js_

[code]

@youknowriad, any preferences on we should add `min-width:0`?

[2022-05-20 11:21] youknowriad commented on #41161
Can we instead of removing entirely the image, show a meaningful UI suggesting either reloading or removing?

@ramonjd @glendaviesnz should we consider reverting https://github.com/WordPress/gutenberg/pull/35973 temporarily in 6.0 until we figure out a better approach?

[2022-05-20 11:24] ndiego commented on #41177
Yeah, that is a bit more elegant that my hack 🙌

[2022-05-20 11:24] youknowriad commented on #41177
I'm fine adding the min width to the iframe styles but let's ensure that it's added before the styles that come from the theme (themes can potentially override this right?)

Also it's probably something that should only be added in the iframe, and not for all usage of EditorStyles

[2022-05-20 11:26] youknowriad commented on #41177
The suggested fix above applies to the previews only, I assume these styles can leak to the main iframe too right? Don't we have any issues there?

[2022-05-20 11:27] Mamaduka commented on #41177
Most of the other iframes are larger than 240px. The better fix would be to avoid leaking these styles in iframes, but I'm not sure how :(

[2022-05-20 11:31] gziolo commented on #41161
I tried using the revert button but it didn't work. Still, it's probably the best way to move forward given that today is the last RC planned for WordPress 6.0.

[2022-05-20 11:32] youknowriad commented on #41177
Yes, let's just add it to the iframe component with a comment now. I don't think we can easily avoid the leaks without removing the compact CSS thing which we can't do.

The other thing would be to figure out to split styles into two calls instead of one in Core depending on whether they're theme styles or core styles.

[2022-05-20 11:41] spacedmonkey opened #41200 "Duplicate query in render_block_core_post_template"
### Description

In `render_block_core_post_template` function, if using `use_global_query`, an unnecessary query is run. The code should try and reuse the global wp_query where possible.

https://github.com/WordPress/gutenberg/blob/57a1daf7edad34c842181e28a60efbeab14b8fc1/packages/block-library/src/post-template/index.php#L43-L63

### Step-by-step reproduction instructions

Active block theme.
Vi

[2022-05-20 11:42] adamziel commented on #41161
Reverted in the wp/6.0 branch in 6446878a12

[2022-05-20 11:45] gziolo commented on #41161
Let's work on a proper fix targeting WordPress 6.0.1.

[2022-05-20 11:45] spacedmonkey commented on #41075
This may have been fixed in https://github.com/WordPress/gutenberg/pull/40572

[2022-05-20 11:58] EldarAgalarov commented on #38603
This is a LibreOffice issue, not a Gutenberg. So you can close this ticket. Thanks.

[2022-05-20 12:06] #30111 closed, assigned to getdave

[2022-05-20 12:07] jameskoster commented on #41060
Shouldn't patterns be agnostic of theme in the long run? Themes including their own patterns feels a bit archaic.

[2022-05-20 12:09] danielbachhuber commented on #41161
Another option to consider (although I don't have a strong opinion it's a better one): if an image doesn't load, `HEAD /wp-json/wp/v2/media/<image-id>` and then silently remove the image only if the response is a 404.

This approach would achieve the intent of the original issue, and avoid the complexity of additional UI.

So that I can set the correct expectations with the impacted customer, when

[2022-05-20 12:47] #41177 closed, assigned to Mamaduka

[2022-05-20 13:13] Aljullu commented on #40808
@gziolo did you have time to look into this? We might spend some time next week investigating this with more detail, but wondering if some Gutenberg devs could give it a try as well to help diagnose if the issue is in our end or in Gutenberg.

[2022-05-20 13:20] marctison75 commented on #40952
#41098 fixes the gap issue, but there's still the issue with the columns stacking.

[2022-05-20 14:02] #38603 closed, assigned to nobody

[2022-05-20 14:05] GoldenGoldy opened #41202 "Query Loop Block UX bug? No warning or other indication that query loop block still has a filter for a deleted category"
I had some Query Loop Blocks that had a category filter configured. Let’s say they were set to filter on category “CatOne”. This was working fine and the correct posts were showing (the ones from the CatOne category).
Then, I decided that I didn’t want to use the CatOne category anymore. I changed the posts in that category to a different category and saved them. Then I deleted CatOne from my Word

[2022-05-20 14:15] blogtutor commented on #41164
Thanks @ntsekouras.  So I'm curious then, what's the point of being able to do partial selections across multiple blocks?  Seems to me the most common use case would be selecting text across two paragraph blocks, but maybe I'm missing something?  (and if that's the case, maybe shortcuts could be disabled for other blocks, but not paragraphs?)

[2022-05-20 14:21] simison opened #41203 "ToC block: handle newlines"
### Description

Heading blocks can contain newlines (shift+enter) but ToC block won't show them:

<img width="861" alt="Screenshot 2022-05-20 at 17 16 17" src="https://user-images.githubusercontent.com/87168/169547480-8e6c61d1-b559-4b51-85b2-59ec752b8260.png">

### Step-by-step reproduction instructions

1. Add Table of Contents block
2. Add heading block
3. Enter text, create new line within hea

[2022-05-20 14:28] lebz commented on #34445
Any luck with this issue? I took would like to separate text colors from background colors.

[2022-05-20 14:31] ntsekouras commented on #41164
Actually the restriction right now is about formatting and this is a quite complex issue that we're going to find a solution soon. With partial selection you can still `cut/copy` the partial selected blocks with anything in between, you can press `delete, enter, etc..` and merge blocks if eligible (the first selected block should be able to merge with the last selected block).

Also after debuggin

[2022-05-20 15:01] adamziel commented on #41161
It is hard to reason about time estimates in an open-source project. As @gziolo mentioned, the idea is to fix this in WordPress 6.0.1 so _probably_ no later than 6.0.1 is released. But when is that exactly? It's hard to tell, I don't think there's any fixed schedule for minor versions.

[2022-05-20 15:07] LukaszJaro opened #41204 "Search Block: Add flexible query attributes"
## What problem does this address?

I can't do simple things like:

- Exclude/include categories, posts, etc
- Set post type (page, post, custom post type, etc)
- Order of search results

Not so simple things:

- Search by post title only
- Search published date(i.e, May 20th)
- Control whether to search in title, content, meta or all

## What is your proposed solution?
Add these settings in the b

[2022-05-20 15:24] blogtutor commented on #41164
Ah! Very cool; I definitely hadn't considered all those functions.

And I'd imagine the different browser behaviors is infuriating!  But sounds like you're closing to cracking that, which is awesome. Thanks!

[2022-05-20 15:37] annezazu commented on #41177
Thank you all for jumping in and resolving this so quickly.

[2022-05-20 15:38] Mamaduka commented on #41204
Hi, @LukaszJaro

You can create search block variations and preset query attributes. See #40585 for more details.

@tomasztunik, is there a general tracking issue for search query attribute UI and improvements?

[2022-05-20 15:39] gziolo commented on #41161
We removed that from WordPress 6.0. Should we also remove it from the Gutenberg plugin until the issue gets fixed or do you think the fix won't take long?

[2022-05-20 16:12] sabernhardt opened #41208 "Create a control to make Archives block's dropdown label invisible"
Follow-up to #11002, as suggested on [Trac #54962](https://core.trac.wordpress.org/ticket/54962#comment:4)

## What problem does this address?

Some people may not want the label showing, and it had not been visible with WordPress 5.8. (The Categories dropdown still does not show the label.)

## What is your proposed solution?

Create an _option_ to add the `screen-reader-text` class to the label.

[2022-05-20 16:14] jameskoster commented on #39308
Here's an example modal that makes use of all of the features we use across the pattern browsing experiences in Gutenberg:

https://user-images.githubusercontent.com/846565/169544619-6fa12f1b-549b-41f6-9fd5-595bcd5b5c80.mp4

It should be possible to toggle the individual features depending on the use case as illustrated in the examples below, but the modal dimensions and feature behaviours remain

[2022-05-20 16:27] tomasztunik commented on #41204
@Mamaduka I was planning to set it up when I'm back from my trip next week - if it was more pressing someone would have to take it over.

And whoa! what were the odds that someone would post a related issue right after getting the first step for this in! :)

@LukaszJaro - the ability to control query params via block variations will go live with Gutenberg 13.4. Also, it will be later easy to conve

[2022-05-20 16:48] annezazu commented on #41178
Ahh interesting! I was wondering if it was some sort of container issue. Thanks for changing to enhancement as it's a confusing UX to say the least and we can likely improve that initial setup state to make clearer what's going on.

[2022-05-20 16:57] alexstine commented on #41187
Merged the fix.

[2022-05-20 16:57] #41187 closed, assigned to nobody

[2022-05-20 17:32] cbirdsong commented on #38975
This is also an accessibility problem in the front end. The lack of a play/pause button is a failure of [WCAG 2.1 Success Criterion 2.2.2: Pause, Stop, Hide](https://www.w3.org/WAI/WCAG21/Understanding/pause-stop-hide.html). It also doesn't respect prefers-reduced-motion, which should make the video start out paused.

[2022-05-20 17:57] cbirdsong commented on #39692
I agree, the shift in location for the `has-background` classes is an unnecessary regression that makes the block less failure tolerant and more likely to cause accessibility issues. The background should ideally be applied on both the cover element directly and the child span used for an overlay via `inherit`. Code samples:

[code]

This would address any issues the current approach causes for sc

[2022-05-20 18:56] LukaszJaro commented on #41204
Wow that's great, thank you @Mamaduka and @tomasztunik

Looks like June 1st is release date for 13.4 so I'll be sure to test this out then, thank you for the great work!

[2022-05-20 19:37] michellecurran commented on #39692
@cbirdsong I agree that

You code examples made good sense to me.

[2022-05-20 20:37] michellecurran commented on #39692
I received news that applying a group block with a background to the cover block resolves the accessibility issue.  I don't like adding that extra html and bulk, but it solves the issue for now.

[2022-05-20 21:33] SteveRyan-ASU commented on #34445
Commenting back here as this open issue can probably be closed. (Although I am not sure which PR might have closed it.)
But by using `theme.json` it is now possible to define unique color palettes for each of the supported color selectors of an individual block.

The resource at https://fullsiteediting.com has an outstanding write up on this feature: https://fullsiteediting.com/lessons/theme-json-

[2022-05-21 00:09] annezazu commented on #41135
Hey all! Check out this convo here about this exact problem/situation:

https://github.com/WordPress/gutenberg/issues/24952#issuecomment-1104550386

You'll see a comment from yours truly there advocating the same as well as context for why the call was made.

[2022-05-21 00:18] andrewstaffell commented on #41135
@annezazu thanks! I had read that thread, but unless I’m missing or misinterpreting something, there’s no actual explanation of why it’s been omitted, just observation of that fact. Even from the quote from @adamziel.

Considering that Post Author Biography has made it in, are we sure this isn’t just a simple oversight? As @Mamaduka said, the versioning suggests it should be there.

Who would be t

[2022-05-21 00:46] annezazu commented on #41135
I do not have any additional information other than what was in the thread. From my vantage point, this was not included due to lack of a plan forward for blocks that overlap with each other and the fact that these are still seen as experimental (some blocks can exist in the plugin and still not get merged into Core): https://github.com/WordPress/gutenberg/issues/24952#issuecomment-1088681428

Thi

[2022-05-21 01:13] andrewstaffell commented on #41135
OK! Understood. Thanks for the extra clarification.

[2022-05-21 06:06] gziolo commented on #41178
I actually changed back to a bug, but it's both to be honest 😅

[2022-05-21 08:08] t-hamano opened #41213 "Pullquote: `__experimentalBorder` is activated in the classic theme"
### Description

In the block theme, the border panel is enabled when `__experimentalBorder` is defined in the block support.

![border-panel](https://user-images.githubusercontent.com/54422211/169641752-d19a6091-4feb-424f-95e8-392509ebec26.png)

I believe that this block support is not opt-in in the classic theme, but somehow only pull-quote blocks have the border enabled.

Is this specification

[2022-05-21 10:16] shadigaafar opened #41214 "Unable to save new custom template when using none Latin characters"
### Description

When you try to add new template from post settings inside the post editor, then you try to save it, it gives you a message "saving failed". I tried to investigate the problem and it seems to me that rest url is wrong, there is double // in the middle instead of one.  **This only happens with non-latin characters.**

### Step-by-step reproduction instructions

1. Go to edit post o

[2022-05-21 10:57] mtias commented on #39281
It seems the zooming out needs to be much more prominent to communicate the arrangement of sections better and focus on inserter, dragging, and reordering.

[2022-05-21 11:16] mtias commented on #39281
@SaxonF thanks for sharing your thoughts!

![image](https://user-images.githubusercontent.com/548849/169648821-06634620-b576-470f-b5f2-8b8639dbc5f2.png)

I like a few things here that I think we can extract into separate issues:

- Having text, heading, list, image as a set of quick access blocks is something we tried many times before, never to full success. I kind of like the presentation here,

[2022-05-21 12:09] scruffian commented on #31642
This was closed by https://github.com/WordPress/gutenberg/pull/41160

[2022-05-21 12:09] #31642 closed, assigned to nobody

[2022-05-21 12:58] mtias commented on #41017
Yes, it's something we need to revisit but as part of global styles (the per block section). The default style felt too much like a hack and was confusing people. In the future we should be able to jump from local styles into global styles, and promote any local styles as "I want these to be the styles applied to all blocks of this type". A lot of things to pursue there.

[2022-05-21 13:00] shelbypereira commented on #13282
Does anyone know if there is a workaround to disable the autocomplete suggestions which might be triggering this issue?

I have tried both :
https://stackoverflow.com/questions/70895629/disable-autosuggestion-tags-in-admin-area-wordpress
https://wordpress.stackexchange.com/questions/137/can-i-disable-the-auto-complete

The autocomplete tags still appear and other tags disappear as I add them.

NOT

[2022-05-21 13:00] ardelmedia commented on #13282
-- Please reply above this line --

Thanks so much for contacting Ardel Media

We're not usually around at this time today, but you can expect us to
get back to you during normal office hours. 

This reply is just to let you know that your message has arrived
safely in our inbox and we'll be with you soon.

Thank you!

Ardel Media

Ardel Media Limited is a company registered in England (company
nu

[2022-05-21 13:05] mtias commented on #41142
There are also some functional things we should support on placeholder — like setting width / height, aspect ratio, border radius, and any other properties that would make sense _before having a src set_.

[2022-05-21 13:59] mtias commented on #29575
This is looking good! In the context of templates and the site editor we should avoid saying things like "this post is scheduled" because users can get confused. Expressing it as "these template updates" or "these design changes" would be better.

[2022-05-21 14:01] mtias commented on #38277
I like this last way of revealing the different states, I think it has promise. One addition to consider is surfacing modified values better in the default collapsed state. We had this stacking presentation in the global styles mockups that can be repurposed.

<img width="1041" alt="image" src="https://user-images.githubusercontent.com/548849/169655072-3f0c39fc-4c4a-4041-a1c2-8361c6e06403.png">

I

[2022-05-21 14:59] Khaos22 commented on #40492
I'm not understanding what else I can do to better explain it. I sent screenshots and change the wording.

[2022-05-21 17:34] cdils commented on #40381
On a related note, today I learned this from @carolinan's [excellent FSE lessons](https://fullsiteediting.com/lessons/theme-json-layout-and-spacing-options/#h-the-block-editor-layout-control) :

[code]

I thought that was an interested tidbit!

According to  [developer.wordpress.org docs](https://developer.wordpress.org/block-editor/reference-guides/theme-json-reference/theme-json-living/#spacing)

[2022-05-21 22:38] #36548 closed, assigned to youknowriad

[2022-05-22 01:58] #41203 closed, assigned to ZebulanStanphill

[2022-05-22 04:32] kauaicreative commented on #30142
@lgersman I like you modification! Looking forward to accessing the src.

Here is another implementation in order to access tailwinds classes, https://wordpress.org/plugins/website-builder/

![image](https://user-images.githubusercontent.com/127033/169678722-37d85288-0651-42cb-a0b0-b5d162695fb4.png)

[2022-05-22 05:15] sc0ttkclark commented on #36504
This would also be helpful for me as I was just looking to extend the functionality of the Query Loop block and found it completely lacking in this particular area for me and other developers to customize the query arguments that the function builds up using the WP_Block object context information.

I went through and was about to create a PR until I thought to double check and see if someone had

[2022-05-22 05:16] sc0ttkclark commented on #38163
Clever solution here @grappler!

[2022-05-22 06:32] lgersman commented on #30142
@kauaicreative : I've actually already published the source code (2 todays after posting in this issue), but forgot to post it here 😅

react component for rendering the css classes : https://github.com/lgersman/wp-flausen/tree/develop/packages/react-tag-input

WordPress  plugin providing the hook : https://github.com/lgersman/wp-flausen/tree/develop/packages/gutenberg-customclassname-tag-input-ext

[2022-05-22 07:12] mrleemon commented on #40048
This is a pain in the neck. The theme,json cache should be refreshed when a change in the file is made.

[2022-05-22 11:39] acirujano commented on #38744
Cool!!

[2022-05-22 13:27] mtias commented on #40721
I don't think we should try to deviate from how the OS presents shortcuts here.

<img width="810" alt="image" src="https://user-images.githubusercontent.com/548849/169697427-c80ec44b-71a3-44da-957e-17c14466d8b2.png">

[2022-05-22 13:30] mtias commented on #40944
I don't think we should exclude query block from post-content until we have the variations in place.

Edit: I see you mention the same thing at the end :)

[2022-05-22 13:34] mtias commented on #39223
@adamsilverstein this seems to be a duplicate of #5936. Just mentioning so both can be closed when settled.

[2022-05-22 14:02] mtias commented on #39223
There's also #16030

[2022-05-22 14:05] mtias commented on #22507
I'm closing this because it doesn't seem to have anything actionable to follow up on. If there's a narrower reproducible case that we could aim to make better, please reopen.

[2022-05-22 14:05] #22507 closed

[2022-05-22 14:08] mtias commented on #22047
This seems to be working fine for me as well.

[2022-05-22 14:08] #22047 closed

[2022-05-22 14:11] mtias commented on #29258
I think this can be closed now

[2022-05-22 14:11] #29258 closed

[2022-05-22 14:12] mtias commented on #28847
@aristath are you still experiencing this issue?

[2022-05-22 14:12] mtias commented on #28612
We have a new font size picker now that shouldn't have this issue

[2022-05-22 14:12] #28612 closed

[2022-05-22 14:14] mtias commented on #29594
Closing since there are a few ways now to insert a block before the first (the ellipsis menu in both the block and the list view).

[2022-05-22 14:14] #29594 closed

[2022-05-22 14:17] mtias commented on #38967
Closing as duplicate of #20476.

[2022-05-22 14:17] #38967 closed, assigned to nobody

[2022-05-22 14:21] mtias commented on #38293
@ordigital check [this post](https://make.wordpress.org/core/2022/02/09/core-editor-improvement-curated-experiences-with-locking-apis-theme-json) that includes various examples of how you can control and disable style controls globally or on a per block basis.

You can also add custom classes in the advanced panel, if that's what you refer to.

[2022-05-22 14:21] #38293 closed, assigned to nobody

[2022-05-22 14:33] mtias commented on #38686
This would be generally expected given paragraphs are represented as a general element.

[2022-05-22 15:05] a4jp-com commented on #29594
I don't think it's good at all. Just leaving this broken.

[2022-05-22 15:06] a4jp-com commented on #29594
Why hide the top one only in a menu? We don't even have a plus mark between short codes. Please fix Gutenberg.

[2022-05-22 22:14] ramonjd commented on #41161
Thanks for catching this bug, and also for patching WordPress 6.0

I agree that we should remove the change from Gutenberg until we can fix the issue.

I'll revert the change so we can at least have parity, and will also take a look to see if there's an obvious way to improve the previous attempt.

Thanks a lot, folks!

[2022-05-23 00:12] #41174 closed, assigned to andrewserong

[2022-05-23 00:22] peterwilsoncc commented on #40316
To continue this discussion, I have to say I am a little annoyed to be told I am making a leap to presume there will be backward compatibility breaks only to discover that #40052 was intended to be merged last week unless someone objected. https://github.com/WordPress/gutenberg/pull/40052#issuecomment-1130103017

@Clorith had already objected on the pull request and I was pretty clear in this disc

[2022-05-23 00:24] vralle commented on #38299
WP 6.0-RC4. I still see duotone filters in markup. I don't know how to comment on this.

`remove_action( 'wp_body_open', 'wp_global_styles_render_svg_filters' );`
This hook does the trick.

[2022-05-23 03:12] ddryo opened #41219 "Quote block: CSS regarding "is-style-big" from WordPress 6.0 breaks existing styles."
### Description

With WordPress 6.0, the level of detail in the CSS regarding `.wp-block-quote.is-style-large` is too strong.

It is changing from `.wp-block-quote.is-style-large` to `.wp-block-quote.is-style-large:not(.is-style-plain)`.

Specifically, the following CSS.

[code]

I understand that the change is due to Large style being removed in [37580](https://github.com/WordPress/gutenberg/pull

[2022-05-23 03:21] ddryo commented on #41219
I understand that we can make the selector stronger and adjust it on the theme side.

However, if that is really the only way to do it, I think it would be better to remove the `is-style-large` CSS altogether.

That way, the amount of CSS can be reduced without changing the amount of work on the part of the theme developer.

[2022-05-23 05:14] ramonjd commented on #41161
Hi folks!

Gutenberg revert PR
- https://github.com/WordPress/gutenberg/pull/41221

Moving a new investigation to a new PR
- https://github.com/WordPress/gutenberg/pull/41220

Thanks again for the excellent bug report and quick handling.

[2022-05-23 05:15] ramonjd commented on #23262
https://github.com/WordPress/gutenberg/pull/35973 had to be reverted for WordPress 6.0 due to the following issues: https://github.com/WordPress/gutenberg/issues/41161

Reopening. New WIP PR:
- https://github.com/WordPress/gutenberg/pull/41220

[2022-05-23 05:16] ramonjd commented on #28914
https://github.com/WordPress/gutenberg/pull/35973 had to be reverted for WordPress 6.0 due to the following issues: https://github.com/WordPress/gutenberg/issues/41161

Reopening. New WIP PR:
- https://github.com/WordPress/gutenberg/pull/41220

[2022-05-23 05:45] Alexius08 opened #41224 "Blank space in dropdown menu after disabling locking and reusability of child block via supports"
### Description

Both reusable and lock work as expected after setting their values to false in the supports of a child block. The dropdown menu normally has spots for "Lock" and "Add to reusable blocks". After disabling them, two dividers with nothing in between them appear instead of displaying just one divider.

### Step-by-step reproduction instructions

1. Paste both of the provided code snip

[2022-05-23 06:25] smksky commented on #29269
i have same problem, nobody else have solution of this problem?

[2022-05-23 06:45] aristath commented on #28847
This is no longer replicable.
We have removed the "Templates" menu under Appearance, and when trying to create a new template from the site-editor, we now have a limited selection of templates that can be created.
So it's still not possible to create a template for a specific page (a `page-2.html` template) from the site-editor, but for different reasons.
I'll go ahead and close this one since it'

[2022-05-23 06:45] #28847 closed

[2022-05-23 07:48] #41161 closed, assigned to ramonjd

[2022-05-23 07:50] gziolo commented on #41161
This issue is now resolved also in Gutenberg, the work continues in #41220. @ramonjd has also reopened old issues that no longer can be considered fixed as of the revert. Excellent work handling all that Ramon!

[2022-05-23 07:51] youknowriad commented on #40316
I think there's an important misunderstanding here that need to be clarified (as a person who wrote this article). Experimental and unstable APIs were never considered as part of the API, meaning there's no expectation to ensure backward compatibility for this as mentioned in the [documentation](https://developer.wordpress.org/block-editor/contributors/code/coding-guidelines/#experimental-and-unst

[2022-05-23 08:33] gziolo commented on #40808
@Aljullu, I didn't have a chance to look into it. Is it also an issue with WordPress 6.0 RC4 without the Gutenberg plugin? There is different handling for webfonts being shipped in WordPress core so it would be great to clarify what the actual issue is happening.

Making sure I understood it correctly. The issue applies only to webfonts?

[2022-05-23 08:49] javierarce commented on #38277
Oh, good idea, I'll incorporate it into the design.

[2022-05-23 08:53] javierarce commented on #29575
Oh, yes, you're totally right, I don't know what I was thinking when I wrote that 🤦‍♂️  I'll fix it.

[2022-05-23 09:19] mtias commented on #27851
@jameskoster I think this has some similarities with the flow for creating a new template for a specific category / post type, maybe it could share some design familiarity.

[2022-05-23 09:21] mtias commented on #35503
@youknowriad @jsnajdr I believe the work on suspense at the data layer is in a place that can unlock working on this?

[2022-05-23 09:25] mtias commented on #33687
@youknowriad do you see anything pending here? I think maybe some of the self-align options, which also overlap with the matrix control, but I think it'd be better to extract that into a separate issue. I feel the core work is done here.

[2022-05-23 09:27] mtias commented on #30121
@critterverse another thing I'd like to see us address is how we present these things in the list view. For example, at the root level of the document, fixed / absolute positioned elements could be grouped as its own tree. This would allow easier management of non-flowing elements. Not sure how we should represent absolutely positioned elements within another container down the tree.

[2022-05-23 09:28] mtias commented on #33221
Closing as done in #40505.

[2022-05-23 09:28] #33221 closed, assigned to nobody

[2022-05-23 09:44] juhi123 opened #41226 "Styles welcome guide's button styling is not consistent"
### Description

I couldn't understand the logic behind having different styling for `Previous` and `Get Started` button than `Next` button, I believe buttons should have the same styling,
The next button has color `1386bf` and font is bold, raised a PR to fix that

### Step-by-step reproduction instructions

1. Go to `Site Editor`
2. Click on `Styles`
3. In the sidebar panel, click on `Welcome Gu

[2022-05-23 09:45] youknowriad commented on #33687
@mtias 👍 Let's close and do a separate one about self align.

[2022-05-23 09:46] youknowriad commented on #35503
@mtias Yes, I think now that the API is in, the next step would be to add the SuspenseProvider to the editors (edit-post, edit-site...) and start switching some useSelects to this and see the impact.

[2022-05-23 09:56] beafialho opened #41227 "Typography tools: make it possible to customize paragraph spacing and indent"
In the context of style variations (_Related: #40988 and #35619_), considering elements that can vary between them, it would be nice to have a way to customize paragraph spacing and indent in the editor, as they can be a differentiator element between variations.

https://user-images.githubusercontent.com/65220155/169794366-b24b1444-d4a5-469b-a1b8-d760b51d28a3.mp4

[2022-05-23 10:03] beafialho opened #41228 "Visual tools: make it possible to customize separators and strokes weight and shape"
In the context of style variations (_Related: #40988 and #35619_), considering elements that can vary between them, it would be great to be able to customize separators and strokes weight and shape (line/double line/dashed/dotted) in the editor, as this can be a differentiator element between variations.

<img width="1543" alt="Captura de ecrã 2022-05-23, às 11 01 35" src="https://user-images.gi

[2022-05-23 10:08] mtias commented on #41119
This was brought up before and it stalled by not having clarity on where you should be editing these values. Adding support for the customizer, for example, would be non trivial. Adding a site editor instance just to modify global styles would possibly be confusing to users if they see both Customizer and Site Editor. It'd be interesting to see a design exploration that can accommodate it.

[2022-05-23 10:09] mtias commented on #41061
Closing as duplicate of #27809.

[2022-05-23 10:09] #41061 closed, assigned to nobody

[2022-05-23 10:13] mtias commented on #39063
Closing this as contained in #7551

[2022-05-23 10:13] markhowellsmead commented on #27607
This remains an issue. The suggestion by @kubiqsk works.

[2022-05-23 10:13] jameskoster commented on #39281
A couple of other benefits of the dedicated "layout toggle":

1. `author`s can intuitively view the full layout of their post without being able to edit the underlying template (due to block locking).
2. We can place template controls on the dark frame which enables full visual previews.

Perhaps layout view can include a zoom affordance?

https://user-images.githubusercontent.com/846565/169797484

[2022-05-23 10:14] beafialho opened #41229 "Visual tools: add image borders option"
Perhaps this has already been mentioned and addressed elsewhere, but in the context of style variations (_Related: #40988 and #35619_) and considering elements that can vary between them, it would be great to have the option of adding borders to images and to control those borders strokes. This can be a key differentiator element between variations.

This should ideally apply to all image related

[2022-05-23 10:15] mtias commented on #39841
Closing as duplicate of #27075.

[2022-05-23 10:15] #39841 closed, assigned to nobody

[2022-05-23 10:18] #37206 closed, assigned to nobody

[2022-05-23 10:18] gigitux commented on #40808
No, I'm not able to replicate it with WordPress 6.0 RC4 without the Gutenberg plugin. With WordPress 6.0 RC4 **and** Gutenberg plugin, I'm able to replicate it.

No, the issue is for all the Global Styles.

[2022-05-23 10:19] mtias commented on #36304
We have this now through the new browse styles panel.

[2022-05-23 10:19] #36304 closed, assigned to nobody

[2022-05-23 10:19] anthonyeden commented on #36135
I have read through this thread, and think it is semi-related to an issue I am having (but not quite).

While I am happy for the Block Editor to generate inline CSS, it outputs the HTML & CSS it in a way which is impossible to filter. The function `wp_enqueue_block_support_styles` echos the <style> tags and associated CSS, with no filter.

In my case, I have a quasi-SPA run by WordPress - and I ne

[2022-05-23 10:19] mtias commented on #35699
Adding a tooltip would be a good quick improvement.

[2022-05-23 10:20] mtias commented on #35298
Closing this for now, the Beta label shouldn't stay there for long.

[2022-05-23 10:21] mtias commented on #34942
This was completed a little while ago.

[2022-05-23 10:21] #34942 closed, assigned to nobody

[2022-05-23 10:21] mtias commented on #34758
@getdave is this still the case?

[2022-05-23 10:23] markhowellsmead opened #41230 "Unable to target group block with variation applied"
### Description

The new block variations for the group block generate inline CSS, but the lack of a CSS class name (e.g. `wp-block-group--stacked` or `wp-block-group--row`) makes it impossible to target these elements using theme/plugin CSS.

### Step-by-step reproduction instructions

Apply a row or stack layout to the group block.

### Screenshots, screen recording, code snippet

_No response_

[2022-05-23 10:24] mtias commented on #30905
The new presentation of collapsed colored items with their location addresses this problem.

[2022-05-23 10:24] #30905 closed, assigned to nobody

[2022-05-23 10:24] mtias commented on #30903
This has been removed.

[2022-05-23 10:24] #30903 closed, assigned to nobody

[2022-05-23 10:25] mtias commented on #30226
The reset action is now in the ellipsis menu at the top.

[2022-05-23 10:25] #30226 closed, assigned to nobody

[2022-05-23 10:26] mtias commented on #29427
I think this is no longer an issue with the new design.

[2022-05-23 10:26] #29427 closed

[2022-05-23 10:26] markhowellsmead commented on #41219
See also #40159, #36135, #35840, #34047, #29705, #17511 and #39971.

[2022-05-23 10:28] SeanDS commented on #29962
@ellatrix, @talldan any possibility of getting this feature on a developer's radar? Speaking as a humble plugin author and not a core developer, I think it is *probably* relatively straightforward to implement for someone more familiar with Gutenberg than me and it would unlock a whole class of inline styling possibilities not currently allowed by the lack of ability to add child nodes. The partic

[2022-05-23 10:29] mtias commented on #27796
@scruffian do we have something actionable here or is it mostly covered?

[2022-05-23 10:30] mtias commented on #27740
This should be absorbed with the elements API for buttons.

[2022-05-23 10:30] #27740 closed

[2022-05-23 10:31] mtias commented on #27480
This will be covered by #40205.

[2022-05-23 10:33] #27122 closed

[2022-05-23 10:33] mtias commented on #26332
This feature has been removed.

[2022-05-23 10:34] mtias commented on #24661
Closing this as the panel is now called Styles.

[2022-05-23 10:34] #23914 closed

[2022-05-23 10:35] mtias commented on #23323
This is supported now.

[2022-05-23 10:35] mtias commented on #22641
This is supported through global styles UI now.

[2022-05-23 10:35] #22641 closed

[2022-05-23 10:37] mtias commented on #21032
Link color is supported as an element now, and other states are being covered by #27075 and #38277.

[2022-05-23 10:37] #21032 closed

[2022-05-23 10:37] mtias commented on #20771
Site padding is supported now.

[2022-05-23 10:37] #20771 closed

[2022-05-23 10:37] markhowellsmead commented on #40159
See also https://github.com/WordPress/gutenberg/issues/41230.

[2022-05-23 10:37] markhowellsmead commented on #36135
See also https://github.com/WordPress/gutenberg/issues/41230.

[2022-05-23 10:37] mtias commented on #20212
Closing as not planned for now.

[2022-05-23 10:37] #20212 closed

[2022-05-23 10:38] markhowellsmead commented on #34047
See also https://github.com/WordPress/gutenberg/issues/41230.

[2022-05-23 10:38] mtias commented on #19785
We've deployed many of these improvements already. Closing as done.

[2022-05-23 10:38] #19785 closed

[2022-05-23 10:43] mtias commented on #16848
We now have support for border color.

[2022-05-23 10:43] #16848 closed

[2022-05-23 10:45] #33687 closed, assigned to nobody

[2022-05-23 10:50] gziolo commented on #24376
I used the following function to apply `wp-X.Y` dis-tag for WordPress releases 5.7, 5.8 and 5.9:
[code]

We already had WordPress 6.0 covered. With all that it's possible to easily switch between releases WP 5.7-6.0 using `@wordpress/scripts`:

[code]

To summarize, we have the following options available:

- WordPress 5.7 – `wp-5.7`
- WordPress 5.8 – `wp-5.8`
- WordPress 5.9 – `wp-5.9`
- WordPres

[2022-05-23 10:52] danielbachhuber commented on #41161
Thanks for your work, @ramonjd !

[2022-05-23 10:52] gziolo commented on #24376
@tomalec and @sirreal, what would be the best place to document all the information I have just included in the previous comment? Let me reopen this issue until that happens maybe 😅

[2022-05-23 10:54] mtias opened #41232 "Global Styles Ongoing Roadmap"
_Previously #34574, #9534, #37550._ This issue tracks the ongoing roadmap of **global styles** features and `theme.json` development.

---

### Style Variations

<img width="1851" alt="Variations" src="https://github.com/WordPress/gutenberg/assets/846565/8e734dbc-c6a3-4469-bfef-56e44cbecba2">

The theme objects were designed to be composable. The next idea to unlock is to allow full style objects

[2022-05-23 10:55] mtias commented on #33094
**Updated:**

- Consolidated the various styles project in #41232.

[2022-05-23 10:57] mirka commented on #27484
Closing in favor of our currently active tracking issues. Thanks for all your work on this!

[2022-05-23 10:57] #27484 closed

[2022-05-23 10:59] mtias commented on #41227
I think we have this covered in #37462.

[2022-05-23 11:05] ntsekouras commented on #41202
Thanks for reporting @GoldenGoldy!

Indeed in the editor we check for non existing `ids` and not show them in the UI, making this confusing and difficult to remove. The workaround you found does the trick but this should be handled better.

One way to go here could be to update the query as well, but this would result in a `dirty` state. Also we could potentially check server side and not apply su

[2022-05-23 11:13] ntsekouras commented on #41178
What do you think would be the desired result here?

In general the first time you delete the innerBlocks, they're shown again, because of a check we have about `template` in `useInnerBlockTemplateSync`. I think this is connected with controlled blocks(like Template Parts) and some technical nuances about what to check, but even if this a bug in this place(and we fix it), it would result to showin

[2022-05-23 11:24] scruffian commented on #29167
Closing in deference to https://github.com/WordPress/gutenberg/issues/34198

[2022-05-23 11:24] #29167 closed

[2022-05-23 11:33] javierarce commented on #29575
Based on the feedback I got from @shaunandrews I've made several changes to the design:

* The button now says “Update” instead of “Save”.
* The split bottom tooltip shows all the available actions with a tick next to the selected one.
* Uses the [upcoming Date popover](https://github.com/WordPress/gutenberg/pull/41097) instead of dropdowns.
* The schedule and draft information sections appear on

[2022-05-23 11:37] juhi123 opened #41233 "Changing the font size to larger font size breaks the layout in sidebar settings panel"
### Description

If the font size is set to 90 px or any big size and someone switches it to `em` or `rem` it breaks the layout. The font size is of course too big in `em` and `rem` but maybe we can either set the limits and can give an alert/message to enter font size is given limit to the user or doesn't reflect these changes for preview.

It also occurs with or without the Gutenberg plugin inst