[2021-10-29 03:20] glendaviesnz commented on #35907
@mtias, @celloexpressions maybe if we can get [this fix](https://github.com/WordPress/wordpress-develop/pull/1788) for get_post_galleries into 5.9 it will provide enough of a fallback?

[2021-10-29 04:07] noisysocks commented on #31815
Popping this out of the 5.9 milestone. Let's merge https://github.com/WordPress/gutenberg/pull/33217 as the priority for WP 5.9 as it allows Twenty Twenty-one to work around this issue as well as https://github.com/WordPress/gutenberg/issues/36061. We can then take our time to test and iterate on solutions to this issue and https://github.com/WordPress/gutenberg/issues/36061 in the Gutenberg plugi

[2021-10-29 04:26] celloexpressions commented on #35907
Thanks for looking into this @glendaviesnz. I would expect two categories of `data-id` usage that could become broken: server-side processing and client-side.

Fixing `get_post_gallieries()`, and hopefully by extension, `get_post_gallery()` and `get_post_gallery_images()`, probably eliminates most need for `data-id` for server side processing. I would speculate that many-to-most themes or plugins

[2021-10-29 04:33] supernovia opened #36068 "Add font size controls for the interface itself"
## What problem does this address?
Visibility issues with tiny fonts

The font size for block settings and what not are pretty small, even if the text in the content area itself is larger. Note how much bigger the content font is vs the size of the controls font:

![Screen Shot 2021-10-28 at 10 37 58 PM](https://user-images.githubusercontent.com/3476361/139376557-9ad85a04-1d9e-4d3b-af2a-fe8a2d696d

[2021-10-29 04:35] supernovia commented on #36068
context: helping [this user](https://wordpress.com/forums/topic/block-editor-font-size-too-small/), but also knowing several people (including me) who prefer fonts to be just a little larger. I often write my own browser styles to accomplish this.

[2021-10-29 04:36] carolinan commented on #28022
Template parts for themes inside subfolders are working so I am closing this issue.

[2021-10-29 04:42] carolinan commented on #33792
Can we remove the notice now? 😸

[2021-10-29 04:53] celloexpressions commented on #35906
I'm recalling that there was a similar issue a couple of years ago, which specifically occurred on devices with touchscreens. So, noting that that may be another relevant variable here. I think it might have been something CSS-related?

To clarify, mouse interactions allow images to be dragged, but not dropped (so functionally completely broken). This works in WordPress 5.8. Touch interactions on

[2021-10-29 04:54] celloexpressions commented on #35906
And no console errors in my testing.

[2021-10-29 05:00] noisysocks commented on #30674
Can we consider cutting this for 5.9 so that we can free up valuable @adamziel resources for other bits? I absolutely agree we need this API for block themes to compete with classic themes going forward, but for WP 5.9 I’m personally okay with saying “yes, this is a temporary downside of using a block theme”. We are labelling them "Beta" after all.

[2021-10-29 05:02] noisysocks commented on #4543
Thanks @aaronrobertshaw! Happy to cut this from WP 5.9. My only concern is that Twenty Twenty-one might need it. What do you think @kjellr?

[2021-10-29 05:11] noisysocks commented on #32844
Just noting that I saw a hint of a welcome guide design in https://github.com/WordPress/gutenberg/issues/29630#issuecomment-954159446.

[2021-10-29 05:20] noisysocks commented on #29167
Sharing [this comment](https://wordpress.slack.com/archives/C02QB2JS7/p1635484182272800?thread_ts=1635482689.246900&cid=C02QB2JS7):

Happy to cut this from WP 5.9. My only concern is that Twenty Twenty-one might need it. What do you think @kjellr?

[2021-10-29 05:26] noisysocks commented on #35874
Looking through #30496, I don't see anything underneath "Customizer-Only Features" that is critical for WP 5.9 given you can switch to a non-block theme and the majority of users will do just that. We do not need to strive for feature parity because block themes are not replacing classic themes. Also worth noting is that the site editor and block themes are labeled "Beta".

The one issue that does

[2021-10-29 05:38] carolinan commented on #36050
Hi
You may be looking for [do_blocks()](https://developer.wordpress.org/reference/functions/do_blocks/).
https://github.com/WordPress/gutenberg/blob/trunk/lib/full-site-editing/template-loader.php#L162

[2021-10-29 05:47] aaronrobertshaw commented on #35604
The Elements API via theme.json allows for some [styling of the various heading elements](https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-json/#element-styles) `<h1-6>`. These elements can also be targeted within a block context e.g. `core/cover` etc.

A theme designer should be able to do something like this. They can style elements via the theme.json and then use the them

[2021-10-29 06:24] jasmussen commented on #35604
Oh right, the elements, nice. But it would be nice to also pair that with a UI. I could imagine a collapsed singular Heading interface, but with option to "unfold" it to individual levels. Not something for the near future, but a thought.

[2021-10-29 07:06] jasmussen commented on #35438
Definitely agreed.

Yes, I think we can probably keep those around for back compat, but I also think that we can find a way to redefine their contents entirely for a theme.json world. An example I like is the Quote style that features a border on the left: this border, its style, width and color, as well as the leftmost padding, those should all be absorbed by theme.json.

Yep, that's why I imagin

[2021-10-29 07:26] #34212 closed, assigned to carolinan

[2021-10-29 07:30] kkalvaa commented on #36035
I came here looking for the same issue, I also find this to be very annoying. It doesn't make sense to set height based on view width rather than view height. I curently have an ussue where I need to set a cover to 60% of the view height, which would be very easy with **60vh**, but completely impossible with **vw** in a responsive setting as I can never know the exact dimensions of the user's view

[2021-10-29 07:32] #35664 closed, assigned to talldan

[2021-10-29 07:38] Humanify-nl opened #36070 "Image dimensions & media settings discrepancy"
### Description

When adding media sizes in the media settings page (i.e. change size large from 1024 to 1100px), these values are not adhered to in the block editor image block. The values seem to stick to their own defaults.

This creates quite a confusing situation for clients. In my opinion, image sizes set in media settings (as this implies a global setting) should transfer the new defaults i

[2021-10-29 07:45] ntsekouras commented on #35364
I'm not sure about the nuances of the `theme.json` property implementation, but when we have an API to fetch them, we'll find a good solution. My first thoughts is that the `categories` will be from the fetched pattern, because if a theme fetches patterns created from others, is it okay to show them under a the theme's label?  🤷

Could the patterns have a new `theme` property as well to get them a

[2021-10-29 07:49] Humanify-nl commented on #36070
Regenerate thumbnails fixed this issue.

Even though I'd like to have this issue closed, it still remains a thorn in my side for over 5 years that 'regenerating thumbnails' after media sizes are reset (in an options page provided in core), is still dependent on a plugin. It should be core functionality for a mature CMS as WP, no?

[2021-10-29 07:49] #36070 closed, assigned to nobody

[2021-10-29 07:58] Mamaduka commented on #35680
I think I've POC for this feature. I'll push it shortly.

[2021-10-29 08:11] brylie commented on #34325
It is quite an encumbrance to install all of the Gutenberg project dependencies and any other `@wordpress` libraries bundled into this repository to work on a single project. The complexity of the dependencies, as well as the number of irrelevant CI tasks, is interfering with development in PR #34324

E.g. the dependencies/scripts to lint/format JS are defined in the root of the Gutenberg project

[2021-10-29 08:34] maddisondesigns commented on #34212
@carolinan Looking at #35957, does this actually prevent the user from being able to insert this block into a page? If not, then what is the point of this change? Replacing the spinner image with "No tags. No categories" is not much of a fix. It's also not much of an explanation to the user. What is the point of allowing someone to add this into a Page, if it's not going to work? Gutenberg shouldn

[2021-10-29 08:37] talldan commented on #36036
@anton-vlasenko I would amend this to "we should allow saving menus' content via the REST API (as if the 'editor' support is enabled)."

And then it sounds like you have the right understanding 👍

[2021-10-29 09:01] Mamaduka commented on #32844
Hi, @kellychoffman

Is it possible to get images and text copy for Welcome Guide?

[2021-10-29 09:09] scottdavidcraig commented on #24584
I came here to ask for this. The two click setup makes previewing an absolute pain. Especially when working with lots of posts in batches.

[2021-10-29 09:57] #35071 closed, assigned to ellatrix

[2021-10-29 10:18] priethor commented on #30674
I think postponing this to after 5.9 can be a good compromise, as it would also allow us to define the public API better before committing to it in core.

[2021-10-29 12:21] kjellr commented on #4543
@jffng and I chatted about this yesterday, and we haven't found see a reasonable way of adding hover styles into the buttons manually on the theme side either. We can do it, but it takes a lot of extra CSS, and is generally prone to breaking.

At this point (if we don't think we can build hovers into Gutenberg), I'm leaning towards not building any button hover states into Twenty Twenty-Two for th

[2021-10-29 13:21] ACEkin commented on #24584
#scottdavidcraig, don't hold your breath. WordPress seems to be determined to ignore user feedback. This, I posted about a year and a half ago, a similarly long in waiting request to fix the tiled galleries is still waiting. Not only that, the new updates broke the gallery in other ways.

[2021-10-29 13:27] JohnHolmes85 commented on #27809
For some reason, all my overlay colors went from the default Black to nothing. This changed all my image blocks I already had on my page and now the image over text which i use the color white, you can't read the parts that the image background is white. How can we set the default Color to stay black? I don't want to have to edit every block one by one. This was changed somehow automatically. Help

[2021-10-29 13:28] kjellr opened #36082 "Suggestion: Simplify the layout concept"
In the runup to 5.9, I've been thinking a lot about the Layout controls. These are going out to users soon, and I still find them to be hard to understand. I'd like to outline an idea for how we might simplify these controls in the near term.

This is not intended as a long-term solution, but I think it may simplify the rollout, and make these controls easier to grasp for users.

## Background

Tw

[2021-10-29 13:30] jffng commented on #29167
We can do without this in 2022 since it needs a lot more consideration. Thanks for checking @noisysocks.

[2021-10-29 13:33] Mamaduka commented on #33792
New PR is ready #36083.

[2021-10-29 13:40] MaggieCabrera commented on #36082
I agree with you that not having controls in GS for the default layout is going to cause issues for users.

I haven't found myself needing to use the per-block controls as much but they do come in handy when in the early stages of theme development when we need to work on the whole template: there are a lot of cases where those come in handy to have and not require that I write the markup directly

[2021-10-29 13:50] jffng commented on #36082
I am very in favor of having some global controls over the default layout. I have a clarifying question that may be more technical:

Say there was a control in global styles for the "default layout", how would you identify which block to set "inherit: default" on? Templates could be structured in any number of ways, some more predictable than others.

An alternative is that this control just affec

[2021-10-29 13:54] #34121 closed, assigned to ajlende

[2021-10-29 13:59] kjellr commented on #36082
I don't think that control would turn on or off the default layout anywhere — it would just allow you to modify the width values for all blocks that individually opt-in.

[2021-10-29 13:59] scruffian commented on #36082
This looks a great idea to me. I have never used these controls on a single block.

[2021-10-29 14:03] jffng opened #36084 "Add a way to hide patterns from the inserter"
## What problem does this address?
There are scenarios where a theme author wants to supply a pattern but not have it show in the inserter.

Since the pattern block was added (https://github.com/WordPress/gutenberg/pull/33217), some patterns will be created purely to allow the strings inside them to be translated and added to block templates. The theme author would likely not want these to show in

[2021-10-29 14:21] bgardner commented on #35934
Just throwing my two cents in:

1) I absolutely love the suggestion to add support for font-smoothing in theme.json. It’s something I use on practically every site I design.

2) I agree that it should not be turned on by default, for the reasons @chthonic-ds has said (among a few others, I am presuming.)

Given the simplicity of this PR/issue, I hope it finds its way into Gutenberg 11.9, and conse

[2021-10-29 14:53] kjellr opened #36085 "Use a smart Template editing fallback for block themes"
When users of block themes choose to create a "new" template, Gutenberg should provide them with a copy of their current template to start from.

So for example, if I'm editing a page, and I select "New" here:

<img width="277" alt="Screen Shot 2021-10-29 at 10 52 19 AM" src="https://user-images.githubusercontent.com/1202812/139456473-9d4c2655-b0aa-4b7a-b33e-03f8619f9a37.png">

.... the starting p

[2021-10-29 14:57] kjellr opened #36086 "Themes should be able to provide default template for Template Editing via theme.json"
Currently, the only way for a theme to provide a custom default template for Template Editing is via PHP, using the API from https://github.com/WordPress/gutenberg/issues/32752.

It would be great if themes could specify this via theme.json as well.

[2021-10-29 15:09] jffng commented on #36061
Thanks @tomjn , just linking a couple related issues:

https://github.com/WordPress/gutenberg/issues/27402
https://github.com/WordPress/gutenberg/issues/21204

[2021-10-29 15:16] draganescu opened #36087 "Navigation preservation plan"
Architecture for #35750

### System* for navigation preservation on block theme switch using template parts:

- to define navigation "areas" or "slots" or "locations" we use template parts, with the added convention that they're named `navigation-*`, where `*` is wildcard
- in these `navigation-*` template parts themes can add navigation blocks with all attributes set, and inner blocks defined for

[2021-10-29 16:04] kjellr commented on #4543
We received [a response in Slack](https://wordpress.slack.com/archives/C02RP4X03/p1635514010178700):

That makes a lot of sense. It sounds like button hovers are not _technically_ required, but they are certainly helpful to many users. I'm torn between a couple recommendations at the moment:

1. Keep this in the Must-Haves so that its front-of-mind, but know that we can _technically_  drop it last

[2021-10-29 16:17] javierarce commented on #36021
I had a look at the PR that @carolinan is working on and I've been thinking about ways to organize the local back link and the dashboard one.

<img width="296" alt="Screenshot 2021-10-29 at 18 07 02" src="https://user-images.githubusercontent.com/4933/139467412-fd82694d-dfaf-4137-ae0f-42448b671630.png">

One idea could be to use some sort of breadcrumb navigation. We don't have a lot of space, but

[2021-10-29 16:18] obenland opened #36088 "Inline color can break file embeds"
### Description

It looks like the Highlight function can break file embeds in the front-end when the link/button gets highlighted:

### Step-by-step reproduction instructions

1. Insert a file block and select a file to embed.
2. Highlight (parts of) the link to the file.
3. Hit Preview and check out the post in a new tab.

### Screenshots, screen recording, code snippet

![](https://user-images.

[2021-10-29 16:19] obenland commented on #36088
@ellatrix, in case it's related to #34680

[2021-10-29 16:40] david-binda commented on #35912
Sorry for commenting on an already closed issue, but I believe that it might be actually helpful, if Gutenberg could patch the issue now originating in WordPress, since in v11.8.0, it enforces the `add_filter( 'should_load_separate_core_block_assets', '__return_true' );` via 5.9 compat, and thus eventually makes the fatal errors to happen in themes, which were otherwise working fine, till the v11.

[2021-10-29 17:01] Inwerpsel commented on #4543
As @kjellr mentioned, there is a fundamental issue to deal with. The current inline style mechanism cannot work for `:hover`, other pseudo classes, and also not for media queries.

The only possible way to make those work is through another mechanism. By having a CSS class with a separate declaration saved somewhere and then apply the class name to the block. So editing the styles in the sidebar w

[2021-10-29 17:15] ryelle commented on #35364
Ah, true. I was still thinking we would want them also grouped under a "Theme" label. They could be all of the above, since patterns can have multiple categories. You could find a pattern under "Theme Name" and also under "Header" and "Text".

Do you mean on the Pattern Directory side?

[2021-10-29 18:37] #35709 closed, assigned to nobody

[2021-10-29 21:35] tomjn commented on #31815
Yes!

I'm tempted to suggest a regex that matches `"file:./ stuffgoeshere"`, so that we can test for presence of the child/parent theme properly and keep overrides working

hmmmm, naming would be the main issue here, we would want a name that doesn't imply or mislead things

[2021-10-29 23:02] carlomanf commented on #36087
Why not just mimic the way that menus work with PHP themes, and store the area identifier as an attribute of the navigation block? Why do template parts have to be involved?

[2021-10-29 23:39] stacimc commented on #29126
#35892 adds an option to sync the site icon to the Site Logo from the Site Logo block. The help text also contains a direct link to the Customizer to update the site icon independently.

<img width="279" alt="Screen Shot 2021-10-29 at 12 30 33 PM" src="https://user-images.githubusercontent.com/63313398/139511387-e1c89188-e227-4ed2-ad7e-68486dbf3c37.png">

That does provide a path to the customizer

[2021-10-30 08:11] adamziel commented on #36087
@carlomanf It was explored by @getdave in https://github.com/WordPress/gutenberg/pull/36002. Storing that identifier with the block creates a scenario where you have two different data sources: there’s the custom post type with navigation items, and there’s the area identifier. Which one wins? What happens if I change the area from „primary” to „secondary”? What happens if I customize menu items?

[2021-10-30 08:25] reinhart1010 opened #36091 "Built-in, optional support for microformats2?"
I'm forwarding this issue from WordPress/twentytwentytwo#78 which was closed 3 days ago. Here's what the original report says:

[microformats and microformats2](https://developer.mozilla.org/en-US/docs/Web/HTML/microformats) have existed for such a long time (first in 2005), and some people are still using it to allow their sites to be (semantically) discoverable by anyone.

My idea here is to sid

[2021-10-30 09:52] strarsis commented on #36050
@carolinan: Thank you, this is tremendously helpful!

The core [`locate_block_template`](https://github.com/WordPress/WordPress/blob/c7d3e267b8a7aebc28b23efa74b2971602852315/wp-includes/block-template.php#L22) function is used to find a matching template file. So there I can find the reason for why the block template in the theme is not used.

Edit: Found a typo in the comment by the way:
https://

[2021-10-30 11:12] carlomanf commented on #36087
I haven't seen that branch, but is it possibly a similar conundrum to what I described at the end of [this comment?](https://github.com/WordPress/gutenberg/issues/31397#issuecomment-849304907)

For example, you have a navigation with post ID 101 and area "primary," and another navigation with post ID 102 and area "secondary." Then you have a navigation block instance with attribute "primary" and y

[2021-10-30 12:35] rowinski commented on #36025
Have same error, but it's not about custom block, but built-in List block. It appears if I add some class to any List block. Then saving post doesn't change anything in post content.

[2021-10-30 12:50] Humanify-nl commented on #36053
I have a similar issue with styling the backend (instead of the front end), which demonstrates that Gutenberg has not much respect for + selector styling.

Before continuing about this, let me say with respect for the dev team: we should probably have patience and wait until most of the core features of Gutenberg are finished, so that they can clean the HTML on back and front-end bit more, because

[2021-10-30 16:10] chthonic-ds commented on #36053
@Humanify-nl there's a good discussion at https://github.com/WordPress/gutenberg/issues/33142 related to problems the `[data-align]` wrapper creates.

[2021-10-30 21:10] mitogh commented on #8379
In case someone is still looking for a solution that is not using intervals and relies in events from the editor to avoid race conditions you can use:

[code]

[2021-10-31 06:28] DeoThemes commented on #35848
That's definitely an important feature. 600px is very small for mobile screens, most of the frameworks collapse at ~700-1000px. It makes navigation looks messy if there are many links, they simply don't fit.

[2021-10-31 07:30] kevin940726 opened #36093 "Developer experience improvements"
It's just a curated list that's been sitting in my head for too long and it's growing bigger and bigger. I just want to list them down here for visibility and to hopefully gather some feedbacks.

Note that these improvements should only affect `development` mode, so that the production builds stay intact. While some of these sound like breaking changes, we can add some feature flags or environment

[2021-10-31 10:44] Humanify-nl commented on #33142
To add to @ZebulanStanphill's comment .

I'm _relatively_ new to Gutenberg development, and one of my biggest challenges has been making sense of the editor HTML. I'm not sure i'd call it broken (i'd say its unfinished), but it definitely raises some eyebrows.

When I stepped into Gutenberg, it promised this amazing sync between back and front end, which is there for the user, but the reality for

[2021-10-31 15:24] ingageco commented on #27249
I ran into this issue as well, and resolved it by creating a custom block pattern category. It appears that the issue may come from there being no pattern categories after the core blocks (and their categories) are removed. Maybe this is obvious, but it doesn't seem clear that at least one registered category is required when core patterns are removed.

[2021-10-31 17:58] ntsekouras commented on #35364
I meant in their definition in general, but if we register a theme's category in their patterns, we will fetch them all by this specific category. So the question was more whether we store the theme's category in patterns or in a separate field and is probably about if this matters with how `patterns directory` works internally.

[2021-10-31 18:19] jpbelo commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-10-31 20:55] ramonjd commented on #35907
@glendaviesnz will correct me if I'm way off, but there is a class attribute, e.g.,  `wp-image-86` [added to every image in save.js](https://github.com/WordPress/gutenberg/blob/0ca97366d0e6c2020dde9015bace9d9c1c970a1d/packages/block-library/src/image/save.js#L41)

Could that be useful in lieu of explicitly applying a `data-id` in the save.js as well?

[2021-10-31 21:23] glendaviesnz commented on #35906
I just checked again with latest trunk on Gutenberg plugin and wordpress-develop master and wasn't able to replicate on Chrome, Firefox, or Safari on OSX - hopefully someone else can replicate so we can track down the cause of this. I have removed the Gallery block label that I added as I am pretty sure it isn't related to any of the recent gallery block changes.

[2021-10-31 21:33] arinoch commented on #34602
I just took a report from a WordPress.com business user on this issue using 11.8.0, and this issue still persists. In this iteration of the issue, the OBJ didn't necessarily appear in the editor (there was nothing extra, like empty space as in above comments), but did appear in previews/on public pages. There was no Gutenberg crash, but otherwise it appears to be similar to [this WordPress.org rep

[2021-10-31 22:55] chthonic-ds opened #36094 "Navigation block 'X' button: touch event triggers element underneath"
### Description

The Navigation block markup includes two buttons for responsive menus: a burger button and an 'X' button. If an element shares the same coordinates as the 'X' button and can receive a touch event, a touch on the 'X' can also trigger the touch event on the element.

For layouts where the burger and 'X' buttons overlap or are aligned, this can result in an expanded navigation menu t

[2021-10-31 23:21] noisysocks commented on #36093
I didn't think this was possible due to how we have it set up where each package is loaded into WordPress as a seperate dependency e.g. `@wordpress/components` → `build/components.js` → `wp-components`. But happy to be wrong. `npm run dev` is indeed getting really slow as the project grows 🙂

[2021-10-31 23:25] TimothyBJacobs opened #36095 "Disable `show_in_rest` for template CPTs"
The templates CPTs are currently marked as `show_in_rest` and has a custom controller specified. The templates controller, however, does not follow the patterns for CPT controllers. Most importantly, the route URLs are completely different.

Before the CPTs get merged, we should make sure to turn off that `show_in_rest` and instead register the routes manually on `rest_api_init`.

https://github.c

[2021-11-01 00:45] glendaviesnz commented on #35907
Yes, one of the reasons for the [initial reluctance to add the data-id](https://github.com/WordPress/gutenberg/pull/25940#discussion_r618196856) was the duplication of the value in the existing classname:

[2021-11-01 01:04] noisysocks commented on #30674
Consider it punted! 🥾

[2021-11-01 01:10] glendaviesnz commented on #34881
Closed by https://github.com/WordPress/gutenberg/pull/34979

[2021-11-01 01:10] #34881 closed, assigned to glendaviesnz

[2021-11-01 01:10] noisysocks commented on #29167
Let's punt this then! 🥾

[2021-11-01 01:12] noisysocks commented on #36095
cc. @ockham @youknowriad who I believe are working on merging this endpoint.

[2021-11-01 01:27] ramonjd opened #36096 "Multi-entity saving: Cannot publish a post with site entity deselected"
### Description

Before publishing a new post that contains post and site entities, deselecting the site entity, then hitting Publish triggers a Javascript error. The result is that I cannot publish a post.

The error is `this.props.setEntitiesSavedStatesCallback is not a function`
It looks like the prop `setEntitiesSavedStatesCallback` is not passed to the [post publish button](https://github.com

[2021-11-01 01:29] ramonjd commented on #29269
I ran into (what I think is) something similar with the Site Logo Block. Created an issue: https://github.com/WordPress/gutenberg/issues/36096

[2021-11-01 05:31] kevin940726 commented on #36093
Hmm, not sure what you mean here. What we're currently doing is roughly this:

1. Build all packages into it's own `build` folder using Babel. So `packages/a11y` will build `packages/a11y/build` and `packages/a11y/build-module` etc.
2. Watch and rebuild everything in (1)
3. Start webpack watch and build all the packages into project's root `build` folder. However, the entries are `packages/*/build

[2021-11-01 05:42] chthonic-ds commented on #36094
Closing as duplicate of https://github.com/WordPress/gutenberg/issues/35686.

[2021-11-01 05:42] #36094 closed, assigned to nobody

[2021-11-01 05:46] carolinan opened #36101 "All content is not visible in the navigation block overlay"
### Description

If the navigation block has a lot of content, all content is not visible in the overlay, and there is no vertical scroll.

### Step-by-step reproduction instructions

1. First, either import the [theme test data](https://github.com/WPTT/theme-test-data) that already has a large menu, and add the "Testing" menu to the navigation block, or add many items and submenu items to the nav

[2021-11-01 06:07] carolinan opened #36102 "When the navigation block uses justify right, the overlay can't be closed"
### Description

When the navigation block has lots of content and the menu items are set to justify right, the overlay can not be closed because the menu seems to be on top of the close button.

### Step-by-step reproduction instructions

1. Add a navigation block. Add lots of content or use an existing menu in the [theme test data.](https://github.com/WPTT/theme-test-data)
2. Select the toolbar

[2021-11-01 06:11] carolinan commented on #36101
Actually now I wonder if these two are the same issue / have the same cause https://github.com/WordPress/gutenberg/issues/36102

[2021-11-01 06:16] github-actions[bot] opened #36103 "[Flaky Test] closes the main inserter after inserting a single-use block, like the More block"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
closes the main inserter after inserting a single-use block, like the More block

## Test path
`specs/editor/various/inserting-blocks.test.js`

## Errors

<time datetime="2021-11-01T06:16:53.439Z"><code>[2021-11-01T06:16:53.439Z]</code></time> Test passed after 1 failed atte

[2021-11-01 07:00] carolinan commented on #34212
The point is that the block will not look broken. If no tags are found, it displays that no tags are found, not why they are not found.
I don't think that disabling blocks depending on post type makes it easier, but more confusing, for the user.
If the block was not enabled on pages it would not be possible to combine static content and a query on a custom front page.

[2021-11-01 07:21] jasmussen commented on #36102
Taking a look, thanks for the ticket!

[2021-11-01 07:25] jasmussen commented on #17718
Thanks for the ping. So it sounds like the mobile safari bug is back. I don't have bandwidth to look right at the moment, but anyone else should be free to pick this one up.

[2021-11-01 07:41] jasmussen commented on #36102
Should be fixed by https://github.com/WordPress/gutenberg/pull/36105.

[2021-11-01 08:18] jasmussen commented on #35905
I have a bit on my plate these days, but commenting here to offer support with a fresh screenshot at some point. If you can let me know when the time draws nearer I'll see if I can add something.

[2021-11-01 08:23] jasmussen opened #36107 "FlexItem wraps a div around items"
Extracting from https://github.com/WordPress/gutenberg/pull/35857#issuecomment-952483679, we had some problems using the FlexItem component for spacing things out. Quoting from the converesation:

<blockquote>
The problem with the Flex component is that FlexItem wraps an element around our buttons, so instead of having

[code]
which would allow us to style the buttons as flex children, we end up w

[2021-11-01 08:54] youknowriad commented on #36095
If I'm not wrong, that endpoint has been merged already in 5.8, so this would be a breaking change. For instance instead of `getEntityRecord( 'postTypes', 'wp_template' )` we'll be using `getEntityRecord( 'root', 'template' )`. I think that's solvable in Gutenberg by having some kind of "alias" behavior for entities to ensure backward compatibility but I'm not sure that it's the only breaking chan

[2021-11-01 09:06] paaljoachim commented on #29269
Associated issue being worked on these days by Bernie @ockham
**Improving multi-entity saving UI method.**
https://github.com/WordPress/gutenberg/issues/31456

[2021-11-01 09:10] #35818 closed, assigned to tellthemachines

[2021-11-01 09:22] talldan commented on #36087
I don't really see this as much of an issue:
- Navigation block with an 'area' - The block cannot have a menu id associated with it, only an area. Selecting a different menu changes the menu assigned to the current area.
- Navigation block without an 'area' - The block doesn't have an area associated with it, only a menu id. Selecting a different menu updates the menu id associated with the block.

[2021-11-01 10:31] Humanify-nl commented on #34212
I agree with Carolina here. We are approaching a full site editing experience where blocks need to be available everywhere in the _default core experience_.

The solution to display 'no tags are found' gives the user all knowledge they need to understand what is happening and what this block is for.

It is quite easy for a theme developer to disallow access to certain blocks on a post-type basis,

[2021-11-01 10:37] spacedmonkey commented on #36036
Does this change need to be in WordPress 5.9?

[2021-11-01 11:10] spacedmonkey opened #36110 "Load post types / taxonomies that support `show_in_nav_menus` via the REST API"
## What problem does this address?

Current data of what post types and taxonomies support nav menus is loaded in PHP.

https://github.com/WordPress/gutenberg/blob/8709795d43cfbed9a2d35d65e0a2696b867fb75c/packages/block-library/src/navigation-link/index.php#L316-L318

However, this data is avalible in the REST API.

<img width="454" alt="Screenshot 2021-11-01 at 11 05 40" src="https://user-images.

[2021-11-01 12:19] carolinan commented on #29630
@kevin940726 Can you list the follow ups mentioned in the issue?
Or did you mean the issue should not be closed until this is ported to core?

[2021-11-01 12:24] deborah86 opened #36112 "Separate Input Block"
## What problem does this address?

Not having an input block leads to inconsistent styles with themes and it makes it difficult for theme authors to create blocks. This affects the Search block because the search input is hardcoded instead of a combination of multiple blocks.

## What is your proposed solution?

I want a separate block for input.

[2021-11-01 12:24] deborah86 commented on #36112
This is related to:  [Global Styles: Form elements
#29167](https://github.com/WordPress/gutenberg/issues/29167)

[2021-11-01 12:27] deborah86 opened #36113 "Separate Text Area Block"
## What problem does this address?

Right now, it is difficult for blocks that use a text area to be styled by block themes. This affects the comment block.

## What is your proposed solution?

The solution is to create a separate text area block to replace the hardcoded text areas within WordPress.

[2021-11-01 12:28] deborah86 commented on #36113
This issue is related to:  [Global Styles: Form elements #29167](https://github.com/WordPress/gutenberg/issues/29167)

[2021-11-01 12:37] carolinan commented on #35405
This has been solved with https://github.com/WordPress/gutenberg/pull/35827, closing.

[2021-11-01 12:37] #35405 closed, assigned to nobody

[2021-11-01 12:43] deborah86 opened #36114 "Separate Select Block"
## What problem does this address?

Right now, it is difficult for blocks that use a text area to be styled by block themes. This affects any block that uses the select block.

## What is your proposed solution?

The solution is to create a separate select block to replace the hardcoded select inputs within WordPress.

[2021-11-01 12:43] deborah86 commented on #36114
This issue is related to: Global Styles: Form elements #29167

[2021-11-01 12:44] yahilmadakiya commented on #36060
[wp_template](https://github.com/WordPress/gutenberg/blob/trunk/lib/full-site-editing/templates.php#L56) and [wp_template_part](https://github.com/WordPress/gutenberg/blob/trunk/lib/full-site-editing/template-parts.php#L55) has revisions support added.
Also DB has new entry on template update. Looks like only UI is missing.

[2021-11-01 12:51] deborah86 opened #36115 "Rebuild WP Admin to Use Gutenberg Blocks"
## What problem does this address?

The way to modify WP Admin and Gutenberg are too different.

## What is your proposed solution?

The solution is to rebuild WP Admin by only using Gutenberg blocks. This gives developers the option to create Gutenberg blocks for WPAdmin.

[2021-11-01 12:52] ntsekouras commented on #35949
I'm not sure if we can avoid this as we want [an extra wrapper](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-editor/src/components/block-list/block.js#L127) for the alignments to work properly.. 🤔  --cc @ellatrix @youknowriad

[2021-11-01 12:53] #36084 closed, assigned to ntsekouras

[2021-11-01 12:54] kjellr commented on #35364
I may not be following this correctly, but in general, I don't think we want to be tagging patterns for a specific theme in the pattern directory, since an individual pattern could (theoretically at least) be used for more than one theme.

[2021-11-01 13:01] aristath commented on #35840
Related: https://github.com/WordPress/gutenberg/issues/27478

[2021-11-01 13:04] youknowriad commented on #35949
I think this can't be avoided for classic themes but I think that for themes with layout support we might be able to remove that extra div and potentially rely on the align classes like the frontend. That said, this kind of work is always tricky but definitely worth a try.

[2021-11-01 13:21] senadir commented on #35949
After doing some digging around, the default value of none also plays into account here, having no alignment is set to values like: `"none"`, `""`, and `undefinded`. When I attempted to unify them all to `"none"`, I managed to reduce the unmounting here, but I believe the code that you linked to @ntsekouras is the reason.

[2021-11-01 13:33] ntsekouras commented on #35949
Actually when unsetting or setting to `none` the attribute value is `undefined` and is not serialized in the markup - we don't end up with `align: "none"` and we shouldn't 😄 . The empty string case I think it's something with some old behavior and might be not relevant now - I haven't looked into it though..

[2021-11-01 14:08] carolynannewells commented on #32844
Hello! Carolyn here from editorial. We got a ping for a copy review. Please could you direct me to the copy you would like me to look at?

[2021-11-01 14:18] carolinan commented on #36039
I believe this has been solved, do you mind re-testing with the latest development version of Gutenberg?

[2021-11-01 14:23] aristath commented on #36091
My 2 cents (personal opinion):

Any schema (whether that's microformats, RDFa or JSON-LD) should be done taking the whole page into account, holistically. Doing it on a per-block basis and adding stuff left and right without knowing the final result can't possibly be a good thing. It would be better not to have anything than to have something potentially wrong.

WordPress themes were (in the past)

[2021-11-01 14:25] jonoalderson commented on #36091
Seconded.

Whilst I _love_ the idea of Gutenberg blocks providing rich, semantic metadata, this feels like it opens up a can of worms and comes with some risk.

Some additional considerations:
- microformats (and microformats2) have little adoption (across both publishers and consumers), and are somewhat outdated. If we're going to go down this route, we should bet on schema.org (via microdata, or

[2021-11-01 14:49] yahilmadakiya commented on #36060
_I tried to debug more in code. Adding my research here for feature reference._

For revision [LastRevision](https://github.com/WordPress/gutenberg/blob/trunk/packages/edit-post/src/components/sidebar/last-revision/index.js#L7) Component being used which has 2 component [PostLastRevisionCheck](https://github.com/WordPress/gutenberg/blob/trunk/packages/editor/src/components/post-last-revision/check

[2021-11-01 14:54] adamziel commented on #36087
@carlomanf navigations included directly in a template are equivalent to navigations with area = none from Dave's implementation. I don't think of it as of a limitation, as much as a way of having both "labeled" navigations and "unlabeled" navigations. How do you see it?

I agree this isn't ideal, although I don't think it's terrible either. I experimented with using template areas instead in http

[2021-11-01 15:22] mboynes opened #36118 "Mixed http/https access to admin can cause infinite loop of nonce checks"
### Description

Gutenberg can find itself in an infinite loop of REST requests due to an invalid nonce if a user uses their site over https but at some point happens to load up the login screen over http. This happened to me in a local environment where I don't force https traffic but have a cert available. I inadvertently navigated to the http address, realized my mistake and re-navigated to the

[2021-11-01 15:22] #35799 closed, assigned to nobody

[2021-11-01 15:38] MVColombie opened #36120 "Impossible to copy/paste text into a list"
### Description

It's impossible to copy/paste a text into a list. You should be able to copy one or more words from a paragraph and paste it into a list.

### Step-by-step reproduction instructions

1/ Create a paragraph
2/ Create a list
3/ Copy one or more words of your paragraph
4/ Try to paste it into the list

### Screenshots, screen recording, code snippet

https://user-images.githubusercont

[2021-11-01 15:48] adamziel commented on #36087
I drafted that idea in https://github.com/WordPress/gutenberg/pull/36117

@talldan I want to avoid yet another implementation of reusable content. That's the entire reason why I'm proposing an approach based on the existing primitives.

We already have reusable blocks, template parts, options-backed blocks like site logo, and now we're talking about navigation areas. The experience already tends t

[2021-11-01 15:49] #35525 closed, assigned to ntsekouras

[2021-11-01 15:49] colorful-tones opened #36122 "Extend drop cap customizations with `theme.json`"
## What problem does this address?
While working on TwentyTwentyTwo - it was noted that the dropcap layout looked tight (bad line-height) or undesirable [Drop cap needs attention/styling #180](https://github.com/WordPress/twentytwentytwo/issues/180) on certain user's systems. Currently, it was agreed that dropcap support was not imperative for TwentyTwentyTwo.

Note: this is not imperative to WP 5

[2021-11-01 15:51] #35927 closed, assigned to mkaz

[2021-11-01 16:20] github-actions[bot] opened #36123 "[Flaky Test] should insert media, convert to blocks, and undo in one step"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should insert media, convert to blocks, and undo in one step

## Test path
`/test/e2e/specs/editor/blocks/classic.spec.js`

## Errors

<time datetime="2021-11-01T16:20:40.511Z"><code>[2021-11-01T16:20:40.511Z]</code></time> Test passed after 1 failed attempt on <a href="http

[2021-11-01 16:32] draganescu commented on #36087
One thing I thought is that using template parts removes the need for a "special" isolated editor as well, because now we always have the navigation block wrapper :)

[2021-11-01 16:34] bgoewert commented on #35686
I was also running into issues with this on a company theme I was working on. Found that this is due to the MicroModal package using touchstart. There is an open issue for this in the MicroModal repo suggesting to call preventDefault on touchstart events. https://github.com/ghosh/Micromodal/issues/477

[2021-11-01 16:54] kjellr opened #36124 "Template Editing: Templates do not recognize theme template parts without a theme attribute"
A `theme` attribute is not required for template parts to render in the site editor, however it _is_ required in the template editor.

The fallback hierarchy here should be the same, so that the Template editor knows to look for templates in the theme when there's no `theme` slug provided.

## To reproduce:

The following uses Twenty Twenty-Two as an example, but this should be the case with any b

[2021-11-01 16:56] colorful-tones commented on #35840
I think that "classically" is misleading here. The transformation of usage of CSS Custom Properties has matured (rightly so) in the past few years. There is no classical usage in my mind, and merely an awareness and attempt at defining and shifting common practices.

I actually think it is a great idea to target and keep `body` for WP core Custom Properties. It leaves flexibility for theme and plu

[2021-11-01 17:04] markhowellsmead commented on #35840
I agree that “classically” wasn't the right term to use. Progressive improvement is certainly the right way to go. Educating theme and plugin authors is certainly laudable, but they need to be educated to use CSS as it was intended, and as it's defined by the standards at the [W3C](https://www.w3.org/TR/css-variables-1/). WordPress needs to follow the standards, and not divert from them without an

[2021-11-01 17:12] markhowellsmead commented on #35840
Additional: the problem is that if developers use the `:root` element for their own definitions, they can't use any of the values and custom properties defined in theme.json (and, hence, on the `body` element). This is shown in the code example I posted. Properties defined on the `body` element can't be “inherited” back up to `:root` because of the hierarchical CSS cascade.

[2021-11-01 17:37] ntsekouras commented on #36120
👋 Thanks for the issue. I couldn't reproduce this though. Can you share a video or some more details about this?

[2021-11-01 17:38] bgoewert commented on #35686
Created a PR (https://github.com/ghosh/Micromodal/pull/479) that fixes ghosh/Micromodal#477

Also attempted to contact one of the maintainers of the project. Since it is a dependency, what happens if that package does not get updated? The last commit on the master was Mar 26, 2020.

[2021-11-01 17:55] webbizagency commented on #33604
Hi,
The bug is still there in WordPress 5.8.1 for information. It has been added to the WordPress 5.8.2 milestone on 9 Sep.

[2021-11-01 18:10] MVColombie commented on #36120
Hi @ntsekouras sorry video didn't load first time. You'll find the video up there.

Difficult to say more, it's quite basic issue and don't know what to add ? It's impossible to copy a word in a paragraph and then paste it in a list.

[2021-11-01 18:38] strarsis commented on #36050
See the reason and workaround for this:
https://discourse.roots.io/t/full-site-editing-fse-frontend-doesnt-load-template/21574/5

[2021-11-01 18:39] critterverse commented on #33288
Would love to have this functionality! Here's a look at how this might work with a new Read More block that acts as a child to the Post Excerpt block.

Post Excerpt block — before:

<img width="1200" alt="post-excerpt-before" src="https://user-images.githubusercontent.com/77359364/139681891-c08f5316-84fd-4a86-b3e0-d5c0cd951858.png">

Post Excerpt block — after, with new Read More child block:

![r

[2021-11-01 19:13] skorasaurus commented on #21235
Might be possible to work more on this with https://github.com/WordPress/gutenberg/pull/36119 ?

[2021-11-01 20:14] #35045 closed, assigned to anton-vlasenko

[2021-11-01 20:21] anton-vlasenko commented on #36036
@spacedmonkey

It doesn't **have** to be in WordPress 5.9.
But It depends on the fix itself.
If the fix is simple enough and suits us, it would be nice to have it in WordPress 5.9.
If the fix is not simple, it can land in WordPress later.
Alternatively, we hope to have block menus editable in the isolated template editor.

[2021-11-01 20:57] creativecoder commented on #34959
Resolved by #36009

[2021-11-01 20:57] #34959 closed, assigned to nobody

[2021-11-01 20:57] webbizagency commented on #33604
This is a workaround until the 5.8.2, you can add this in css/admin.css
`.CodeMirror pre { padding: 0 0 0 50px !important }`

[2021-11-01 21:48] mirka commented on #24247
I think we can consider this resolved, as the [published types](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/wordpress__components/slot-fill/slot.d.ts) are now up to date.

[2021-11-01 21:48] #24247 closed

[2021-11-01 22:04] mirka commented on #31017
This does currently seem to be a problem specific to the Storybook story, since it doesn't happen in the editor sidebar (e.g. Cover block). It is worth further investigation though because it could mean the component is not sufficiently encapsulated.

[2021-11-01 22:07] marcosrego-web opened #36127 "extraProps.className not working with core/latest-posts and others"
### Description

I'm using the filter editor.BlockEdit to add options to core blocks and those options add classes using the filter blocks.getSaveContent.extraProps and the function extraProps.className .

It's working on most blocks, but for some reason no classes area added to blocks such as core/latest-posts, core/latest-comments and the latest core blocks from WP5.8 such as core/query-title an

[2021-11-01 22:23] mirka opened #36128 "Storybook: Missing stories for components"
Some `@wordpress/components` components don't have any stories in the Storybook, making it hard to audit or discover.

<details>
<summary>A quick list of the missing ones</summary>
<p>

[code]

[code]

</p>
</details>

We should try to add stories when appropriate.

[2021-11-01 22:32] mirka opened #36129 "Storybook: Some experimental components aren't labeled as such"
Some experimental components are not categorized under the "Components (Experimental)" header, making it hard for developers to see at a glance which components are still unstable.

The stories should be audited to see that they are all categorized properly.

[2021-11-01 22:36] mrwweb commented on #36053
Just ran into this problem again with the `:last-child` selector. Since the `<style>` element is the last child element, the Group Block I want to style becomes the 2nd-to-last child. Since there's not a reverse sibling selector or anything similar, it becomes impossible to detect a Group block that is the last-child of the content.

[2021-11-02 00:04] noisysocks commented on #32844
Sorry, I added the wrong label. We're currently awaiting design and copy.

[2021-11-02 00:30] noisysocks commented on #34199
The change needs to be made in both Core and in the plugin. If you open a Gutenberg PR with the change then I can ensure it makes it into WP 5.9.

[2021-11-02 02:35] talldan commented on #36087
Ok. I'd encourage exploration around this. I think my concerns would be a more complex user experience (there are now two blocks instead of one), and also the complexity of theme switching has increased (we're explicitly re-writing content, while the other proposal should just work based on matching template part area names, an already well defined semantic).

There are some possibilities for inva

[2021-11-02 04:21] ramonjd commented on #34759
What about showing collapse/expand controls in the header?

Something like this:

<img width="650" alt="Screen Shot 2021-11-02 at 3 13 22 pm" src="https://user-images.githubusercontent.com/6458278/139786008-1a46fe6e-8966-4fdc-bd92-de8caa44ba47.png">

[2021-11-02 04:58] TimothyBJacobs commented on #36095
Ack, I should of caught this before 5.8 merge then. Thanks for clarifying @youknowriad. I agree this would be a BC break, and I think probably not worth making the change then.

[2021-11-02 04:58] #36095 closed, assigned to nobody

[2021-11-02 06:00] kevin940726 commented on #29630
I mean the design in https://github.com/WordPress/gutenberg/issues/29630#issuecomment-954159446 has not been implemented yet. We can definitely open another issue for that though.

[2021-11-02 06:59] noisysocks commented on #29630
Are we able to implement the rest of the design by Friday?

[2021-11-02 07:00] #36102 closed, assigned to jasmussen

[2021-11-02 07:55] carolinan opened #36134 "Mark post navigation link and term description as non experimental"
## What problem does this address?

The term description block was added in march 2021 and has lived an uneventful life without bug reports (in fact, so uneventful that it doesn't even have it's own label).

The post navigation link, _not to be confused with the navigation link block_, was added in February 2021 and has had a few enhancements since then.

It has two open issues, 1 enhancement and

[2021-11-02 08:33] #34106 closed, assigned to aristath

[2021-11-02 08:36] #36101 closed, assigned to nobody

[2021-11-02 09:05] Pauxster commented on #34825
It didn't working for me

[2021-11-02 09:12] fabiankaegy commented on #34825
@Pauxster Sorry for the confusion here. My comment was a suggestion for the development team on how an API for this could look. But that has not been implemented and is not an actual option right now. Only a suggestion from my side.

[2021-11-02 09:12] markhowellsmead opened #36135 "New inline CSS rules for nested blocks difficult to override"
### Description

Using the option to “inherit default layout” adds a custom inline `style` block to the markup. Thanks to the unique ID-based class name applied per block, the highly-specific descendant selector rules, and the use of `!important`, it's difficult to override the rules with theme or plugin CSS.

e.g.

`.wp-container-61810012475e7 > * {max-width: 660px;margin-left: auto !important;ma

[2021-11-02 09:17] markhowellsmead commented on #36135
It's also worth noting that the `float` rules are unnecessary in this context, because they are already defined in theme CSS for all elements with the classes `alignleft`, `alignright` and `aligncenter`.

[2021-11-02 09:20] keithdevon commented on #36135
Not only is this incredibly difficult to override in theme CSS, it also introduces loads of bloat.

[2021-11-02 09:33] #31127 closed, assigned to ntsekouras

[2021-11-02 09:42] carolinan commented on #36135
That is not always accurate it depends on the theme. One of the purposes with the block alignments is that these styles no longer has to be in the theme.

[2021-11-02 09:43] markhowellsmead commented on #36135
@carolinan Is that documented anywhere? I've not come across any information about leaving certain rules to be defined by core. Defining them on a per-use case like this isn't efficient; global rules like this which apply to many different elements shouldn't be re-defined over and over again. (But that's a different topic.)

[2021-11-02 09:45] jameskoster opened #36136 "Apply Site Logo placeholder treatment to Featured Image block"
Recently we enhanced the placeholder for the Site Logo block: https://github.com/WordPress/gutenberg/pull/35397

It would be neat to apply something similar to the Featured Image block as well. We can't quite do a 1:1 replication, as the Featured Image needs to entertain more contexts, which I'll outline below.

### Editing a template – no content

If you simply open something like the Page templa

[2021-11-02 09:59] ntsekouras commented on #36120
TBH I had tried with the shortcuts and now tried with `right click` as well and with different themes. Still can't reproduce though.. I'll leave the `needs testing` label for other to try to reproduce as well..

[2021-11-02 10:33] mghenciu commented on #22956
++ for this.

Would be really helpful, **especially in a Mobile context**. Because most of the time a spacer used for Desktop view, is too large for the Mobile view.
For example a Page Heading with 150px Spacer before & after, would look good on Desktop
![image](https://user-images.githubusercontent.com/52494172/139830271-f4186526-222a-4797-8a68-083fbf112cbe.png)
 but not on Mobile:
![image](https

[2021-11-02 10:35] keithdevon commented on #36135
Would it be possible to add a class to the block instead, e.g. `layout-inherit`, and then CSS be added to the head like so?

[code]

The block specific class could then be used for custom alignment widths only.

Also, why aren't the max-width values custom properties generated from the settings.layout options? E.g.

[code]

[2021-11-02 10:43] overclokk commented on #36135
This is a very annoying thing that I was thinking opening an issue about it.
I don't know why should be generated a new class for every container that inherit layout instead of using the same declaration for avoiding duplication and bloating.

[2021-11-02 10:47] markhowellsmead commented on #36135
Like @keithdevon's suggestion. Perhaps the class should be e.g. `.wp-block-group--inherit-layout` or `.wp-block--inherit-layout` though, to better conform to the BEM principles in use elsewhere.

[2021-11-02 11:27] jameskoster commented on #36082
As block templates become more prevalent, these settings seem to make less sense to me.

Shouldn't the width of the content always be governed by the template rather than a single setting? This would be more flexible as it allows you to have contextual widths. For example my post template may have a sidebar and consequently suit a narrower content width. My portfolio entries may just consist of ga

[2021-11-02 11:37] poof86 commented on #36039
I tried creating a development version of the Gutenberg plugin, but I get this error when I run build-plugin-zip.sh :
gutenberg/bin/build-plugin-zip.sh: line 75: syntax error near unexpected token `<'

which is this part of the script:

exec 3< <(
	# Get minified versions of vendor scripts.
	php bin/get-vendor-scripts.php
	# Get non-minified versions of vendor scripts (for SCRIPT_DEBUG).
	php bin/

[2021-11-02 11:44] gziolo commented on #35902
We need to extend the schema to allow `string` and `string[]` for `style` and `editorStyle`. @aristath is it something we will land in WordPress 5.9 or is it the plugin for the time being?

[2021-11-02 11:48] gziolo commented on #35902
- [x] Column block: templateLock - type missing
- [x] Cover block: templateLock - type missing
- [x] Group block: templateLock - type missing

Fix in https://github.com/WordPress/gutenberg/pull/36140

[2021-11-02 11:52] aristath commented on #35902
AFAIK this will land in 5.9 👍

[2021-11-02 12:08] jameskoster commented on #29630
Is it technically feasible to do this, but retain the Editor navigation? Something like:

<img width="1224" alt="Screenshot 2021-11-02 at 12 01 29" src="https://user-images.githubusercontent.com/846565/139842433-078adfbe-0799-4e74-8ca0-68ac91214012.png">

Otherwise the UX may feel awkward as you dip in and out of wp-admin.

I opened several issues and a couple of PRs relating to this view last wee

[2021-11-02 12:16] jameskoster commented on #35990
What if it is assigned to more than one post? Then you'd have to select which post to open with the template editing mode.

This is a template editing environment, so my expectation would be that they all link to a view where you edit the template, not the content. Something like:

<img width="1031" alt="Screenshot 2021-11-02 at 12 14 13" src="https://user-images.githubusercontent.com/846565/13984

[2021-11-02 12:18] ntsekouras commented on #35162
The spinning issue for Post terms/categories has been fixed here: https://github.com/WordPress/gutenberg/pull/35957

[2021-11-02 12:31] Mamaduka commented on #36124
Here's a workaround for now:

[code]

[2021-11-02 12:33] markhowellsmead commented on #34352
I feel that "Synced" is a fairly technical term, which wouldn't make it easier for non-technical users to understand than "reusable". Perhaps something liked "shared" or even "re-used" would be less technical.

[2021-11-02 12:38] jasmussen commented on #35947
Here are a few mockups that embrace and mimic how the Template Part block works. It uses multi entity saving and it has rename options in the Advanced panel.

You can pick an already created menu:

<img width="1520" alt="Start with existing" src="https://user-images.githubusercontent.com/1204802/139846137-e2508b4f-cdd1-47ba-a80e-8915c240cfc7.png">

Start empty creates a new menu:

<img width="7440

[2021-11-02 12:46] overclokk commented on #36135
You have also to consider other blocks that inherit layout like the template-part block.

[2021-11-02 12:54] markhowellsmead commented on #36135
In that case, using a generic, independent class name may be better.

[2021-11-02 13:01] kjellr commented on #36134
I definitely think the post pagination should be marked as stable for 5.9. I'm less concerned about the term description, but mostly because I haven't used it personally. But like you noted, it's been around for a while and nobody's reported issues with it so it's probably fine.

cc @noisysocks

[2021-11-02 13:12] jameskoster opened #36141 "Isolated template part editor: Height doesn't always wrap correctly"
I noticed when testing with the [Quadrat](https://wordpress.org/themes/quadrat/) theme that the height of the header in the isolated template part editing view is not correct. For some reason it is way too tall:

https://user-images.githubusercontent.com/846565/139853072-7ab7bb6c-4ec3-400b-8ffd-ad851234b45b.mp4

cc @kevin940726

[2021-11-02 13:26] ntsekouras commented on #31480
Closing this as it seems it was the `inherit` option. Feel free to reopen if needed.

[2021-11-02 13:26] #31480 closed, assigned to nobody

[2021-11-02 13:29] gziolo commented on #36067
Isn't it related to the different test runner – Jest Circus – that is used with unit tests for some time? It's a new default starting from Jest 27 that we are going to update to quite soon anyway. Maybe this issue doesn't exist in Jest 27 anymore. We can test against https://github.com/WordPress/gutenberg/pull/33287. I doubt it's anything on the `@wordpress/scripts` side.

[2021-11-02 13:31] gziolo commented on #35755
As noted in https://github.com/WordPress/gutenberg/pull/35757#issuecomment-957568383, we might want to take a different approach and provide options for block attributes to customize the behavior inside the framework when certain actions happen like duplication in this case.

[2021-11-02 13:31] gziolo commented on #35279
It's done: https://github.com/WordPress/gutenberg/projects/62 🎉

[2021-11-02 13:31] #35279 closed, assigned to nobody

[2021-11-02 13:32] #36093 closed, assigned to nobody

[2021-11-02 13:33] paaljoachim commented on #35279
Ahh yes! Time to close this issue. Thank you Greg!

[2021-11-02 13:33] jameskoster opened #36143 "Editing properties of a template part while editing a template can lead to confusing / unexpected results"
Consider the flow: You're editing a template and decide to change your site header a bit. You update the colors and save. I think the expectation here is that those changes would be applied globally to the header. However, that is not the case – those changes are only applied to the header in the context of the template being edited, as can be revealed when you go to edit the header in isolation.

[2021-11-02 13:41] Addison-Stavlo commented on #30732
Just noticing this issue and hoping I can add some extra clarification on what is going on.

When you add attributes to the template part block:
``

You are adding attributes to the block that references the template part, not the template part itself.  So when a background color is added at this level, it makes sense that it only effects that block.  Similarly consider the `slug` attribute on thi

[2021-11-02 13:42] carolinan commented on #36143
I believe this is the same as https://github.com/WordPress/gutenberg/issues/30732?

[2021-11-02 13:45] jameskoster commented on #36143
Right you are!

[2021-11-02 13:45] #36143 closed, assigned to nobody

[2021-11-02 13:48] #29758 closed

[2021-11-02 14:03] carolinan commented on #36096
I have not been able to reproduce this (current trunk at c5e695d)

[2021-11-02 14:04] #29642 closed

[2021-11-02 14:19] jameskoster commented on #30732
I agree that the current UX feels very confusing. I think the problem is that there's no distinction between the types of changes you're able to make. For example re-arranging the blocks in the header is a global change, while changing the overall background color is local. But the user is given with no clear indication as to _why_ one change is local and the other global.

It would be interesting

[2021-11-02 14:29] #35874 closed, assigned to Clorith

[2021-11-02 14:42] colorful-tones commented on #35840
Correct, and in that case they would want to use the `body` element to target their CSS Custom Properties. I'm not seeing the problem.

There are no standards, but only recommendations from W3C.

[2021-11-02 14:50] amustaque97 commented on #36046
I would love to work on this issue. Will mention a PR soon.

[2021-11-02 14:54] overclokk opened #36147 "The margin added at the top level styles (for body) in theme.json is override by a margin added from gutenberg"
### Description

If I add a margin property to the theme.json at the top level styles the style generated is overwritten by a style added by the gutenberg plugin.

I also tried with the 2022 theme and gutenberg active.

### Step-by-step reproduction instructions

Gutenberg plugin is activated.
Theme 2022 activated

Add this to theme.json

[code]

See the source of the page.
In my test I see this i

[2021-11-02 14:57] Addison-Stavlo commented on #30732
At this point I would consider that a good thing, as the only color settings that currently exist are 'local' and having local settings in isolated mode would be even more confusing and inconsistent.  But in general, that is the source of the issue... we currently only have 'local' / block settings for these styles.  We cant set a color or alignment setting for our template part post just the same

[2021-11-02 14:58] colorful-tones commented on #36135
I wonder if this is solved by adding in `add_filter( 'styles_inline_size_limit', '__return_zero' );`? See: [Block-styles loading enhancements in WordPress 5.8 > Inlining small assets](https://make.wordpress.org/core/2021/07/01/block-styles-loading-enhancements-in-wordpress-5-8/#inlining-small-assets) 🤔

[2021-11-02 15:16] overclokk commented on #36135
No, because that css is auto-generated, it is not included by styles files.

[2021-11-02 15:16] jffng opened #36148 "Allow the pattern block to pull from original source until it's modified"
## What problem does this address?
The pattern block works by replacing the block's contents with the contents of the pattern on initial load.  The pattern will stop being used when the template or template part where it's used is modified.

See https://github.com/WordPress/gutenberg/pull/36090#discussion_r739567098 for more context.

## What is your proposed solution?
Explore a way to preserve th

[2021-11-02 15:20] adamziel commented on #36087
I agree it's more complex than having just a single block. At the same time I like it because in my mental model there are two entities there (navigation area and navigation post), so this at least makes that visible. My question now is "how should that work for the user?"

It's true that re-writing content adds complexity. At the same time, I understand the other proposal introduces a new concept

[2021-11-02 15:23] tomjn opened #36150 "Broken default editor stylesheet font families"
### Description

The latest Gutenberg release with WordPress 5.8.1 has a broken editor stylesheet, resulting in the highest precedence rule being `font-family: serif;`

<img width="797" alt="Screenshot 2021-11-02 at 15 20 42" src="https://user-images.githubusercontent.com/58855/139876532-5e1f53aa-3959-474e-885e-54eeaf959573.png">

This is caused by `reset.css`:

<img width="713" alt="Screenshot 20

[2021-11-02 15:34] antonyjsmith commented on #35320
Does anyone know if this is a bug or not? I've not come across anything even referring to styling this page, I'm pretty sure I've done a comprehensive search, there isn't a reference in the block editor handbook and neither have I seen any example in different themes.

Really don't know what to do and these undocumented, seeming incomplete changes pushed to core are really starting to wear me down

[2021-11-02 15:53] markhowellsmead commented on #35840
The problem can be worked around, but it would involve every front end developer who ever works on theme and plugin development for WordPress having to recognise a special case. Where they may have to diverge from standard CSS practice to accommodate a system-specific decision.

I know. But deliberately going against the W3C recommendations was how we arrived at the various browser prefixing and c

[2021-11-02 16:04] markhowellsmead commented on #35840
If anyone's following along (or finds this thread), then [the code in this Gist](https://gist.github.com/markhowellsmead/92cab736ff577805820bf0263f11984f) will parse the contents of `wp_head` and move the definitions from `body` to `:root`. Thereby allowing the regular CSS cascade behaviour to be used, and to restore the functionality of [css-vars-ponyfill](https://github.com/jhildenbiddle/css-var

[2021-11-02 16:15] markhowellsmead commented on #36135
The size of the CSS isn't relevant in this case: the issue is its specificity and the bloat caused by adding (essentially) the same rules to a page over and over again.

[2021-11-02 17:02] kjellr commented on #36057
cc @youknowriad do you have any ideas for this one?

I wonder if it's feasible to (at least) enable "Inherit default layout" for anything inside of `entry-content` by default.

[2021-11-02 17:10] dcalhoun opened #36152 "Changing themes does not immediately invalidate theme editor color cache"
## Description
When switching from a block-based theme to a non-block-based theme, the editor will continue displaying the previous themes colors in the editor until refreshed site data is manually fetched. This appears to occur on both iOS and Android. It also occurs in the opposite direction, i.e. block-based theme to non-block-based theme. Possibly related to https://github.com/WordPress/gutenb

[2021-11-02 17:19] jameskoster commented on #30732
I think we should prioritise getting the UX right first and foremost, and based on the feedback we've gotten so far we're not there yet. The expectation seems to be that if you change the properties of a template part whilst editing a template, those changes would be applied globally rather than locally.

I'm inclined to say that we should treat all template part changes as global for now, whether

[2021-11-02 17:35] mirka commented on #35435
Closing as this looks like it was resolved.

[2021-11-02 17:35] #35435 closed, assigned to nobody

[2021-11-02 18:26] apeatling commented on #31731
Also referencing axial padding support here https://github.com/WordPress/gutenberg/pull/33859

[2021-11-02 18:37] oandregal commented on #34349
PRs to remove the custom prefix from existing v1 settings at https://github.com/WordPress/gutenberg/pull/36154 and https://github.com/WordPress/gutenberg/pull/36155

[2021-11-02 18:57] Addison-Stavlo commented on #30732
I agree and that direction does seem like the logical way to be moving.  My point is that we cannot ship this proposed UX without having the infrastructure to handle it.  So while we want "UX first", we also need to make technical decisions that will make that UX possible - how/where these styles are saved on the code side, how they are represented initially from the theme code side, and how the i

[2021-11-02 19:15] gwwar commented on #34669
Closing this out since I can no longer reproduce

[2021-11-02 19:15] #34669 closed, assigned to nobody

[2021-11-02 19:16] stacimc commented on #36096
I pulled current trunk and was able to reproduce this; to re-emphasize, it only happens when publishing a _brand new_ post for the first time.

I was also able to reproduce this with other non-post entities than Site Logo. For example I:

1. Start a new post view `wp-admin/post-new.php`
2. Insert the Template Part block and open the existing Footer template
3. Make some changes to the template
4.

[2021-11-02 19:26] apeatling commented on #28356
Added this to the design tools project overview, apologies for all the assignments above. https://github.com/orgs/WordPress/projects/10/views/1

[2021-11-02 20:14] adamziel commented on #36087
@talldan I added a new idea to https://github.com/WordPress/gutenberg/pull/36117:

In that implementation, we'd still have template areas such as `primary-menu`. Themes would ship default template parts like:

[code]

When such template part is saved, `{"primary-menu": "<navigationMenuId>"}` is stored in the database. Rendering relies on `navigationMenuId`, but when it's missing it falls back to `

[2021-11-02 21:35] ramonjd commented on #34640
https://github.com/WordPress/gutenberg/pull/34064 is in train to add font weight and style appearance to the Post Author block, albeit at the block container level.

Block support applies the styles to block's root element by default.

One way to target inner blocks is to use `__experimentalSkipSerialization`, and apply the styles to the inner blocks manually in the block itself.

The catch is tha

[2021-11-02 21:48] OceanWind commented on #19731
This is still an issue with the block editor in WordPress v5.8.1. It seems to be related to copying multiple blocks. Once that's done, clicking into certain blocks does not allow you to edit the text. If you delete the block and undo the deletion, you can edit again.

[2021-11-02 22:47] lwangdu opened #36159 "Can’t save custom header template"
### Description

Can’t assign and save custom header template
![Screen Shot 1](https://user-images.githubusercontent.com/24829573/139961889-bd84fe1d-51ee-49ba-8ca6-220dbc8bcaa8.png)
![Screen Shot 2](https://user-images.githubusercontent.com/24829573/139961901-21b1af5b-087a-482e-a096-7a164e38da7c.png)
![Screen Shot 3](https://user-images.githubusercontent.com/24829573/139961899-831b3279-370e-4fc3-b

[2021-11-02 23:28] lwangdu opened #36160 "Custom header template can't find Template Parts folder"
### Description

I have created a custom header from WordPress dashboard and I can see my template on the WordPress dashboard.  But when I go to themes, block-template-parts folder I don’t see my custom template that I have created it. I think that should be there
![Screen Shot 2021-11-02 at 4 10 19 PM](https://user-images.githubusercontent.com/24829573/139964652-4c057e21-7d45-4597-9509-9fd1ba928c

[2021-11-02 23:55] dashkevych opened #36161 "Columns Block: Multiple rows"
### Description

The Columns block is designed to display items in a single row. We can create additional row by adding additional Columns block.

For example, to create a three columns layout with two rows, we can use two Columns block with a three columns layout:

![Regular views](https://snipboard.io/t4MvDf.jpg)

However, on some cases, we can see a broken layout due to default styles for the C

[2021-11-03 00:31] noisysocks commented on #35501
Closing this out in favour of https://github.com/WordPress/gutenberg/issues/36136 which is more specific/actionable.

[2021-11-03 00:31] #35501 closed, assigned to nobody

[2021-11-03 00:42] noisysocks commented on #36134
Yep, makes sense.

[2021-11-03 01:13] talldan commented on #36087
<strike>Yep, so previously any customisations to a navigation block that might be specific to a theme were saved in a template part for that theme. For example a header template part for a particular theme might have `showSubmenuIcon` set to `false` and item alignments set to right.

When switching to a new theme, my new theme would have a different header template part, and it might have `showSub

[2021-11-03 01:14] github-actions[bot] opened #36164 "[Flaky Test] Should render dynamic blocks when the meta box uses the excerpt for front end rendering"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
Should render dynamic blocks when the meta box uses the excerpt for front end rendering

## Test path
`/test/e2e/specs/editor/plugins/meta-boxes.spec.js`

## Errors

<time datetime="2021-11-03T01:14:18.982Z"><code>[2021-11-03T01:14:18.982Z]</code></time> Test passed after 1

[2021-11-03 01:57] aaronrobertshaw opened #36165 "Tracking: ToolsPanel Follow Ups"
This issue aims to assist in tracking the required follow-ups resulting from the recent merge of the new ToolsPanel component and dimensions panel updates.

## Tasks

### Blocks
- [x] https://github.com/WordPress/gutenberg/pull/34065
- [x] https://github.com/WordPress/gutenberg/pull/33909

### Block Supports

Before the new supports proposed in https://github.com/WordPress/gutenberg/issues/28356 w

[2021-11-03 01:58] talldan opened #36166 "Site editor has no visual or screenreader notifications about the result of saving"
### Description

When saving in the site editor, there's no visual notification (snackbar message) or screenreader message to indicate saving has completed successfully or unsuccessfully (like when offline). I think this needs to be solved before shipping the editor.

A snackbar (on success) or error notice (on failure) should be quick wins that would solve this.

A second part that could be impro

[2021-11-03 02:49] talldan commented on #36087
Yes, this is a challenge. Possibly the easiest flow would be to add a button to the navigation block itself that when clicked wraps the nav block with the template part (titled something like 'Define as navigation area').

Also have to consider flows like pattern insertion, because that was flagged in https://github.com/WordPress/gutenberg/issues/35947 as already being more difficult with the curr

[2021-11-03 04:36] androidacy-user opened #36167 "Tap goes through toolbar on mobile"
### Description

Touches on the toolbar at the top on mobile instead select the element below it. If the element below it is already selected, then it correctly selects the toolbar item.

### Step-by-step reproduction instructions

1. Select any element
2. Try to interact with toolbar
3. Notice that the element below the toolbar, not the toolbar, gets the tap.

### Screenshots, screen recording, c

[2021-11-03 05:30] noisysocks commented on #35750
@adamziel @talldan @getdave: How do you feel about punting this from WP 5.9? Given both https://github.com/WordPress/gutenberg/pull/36002 and https://github.com/WordPress/gutenberg/pull/36117 are a work in progress, I’m not sure how feasible it is to get this in by Friday. It seems that there's still some exploration to do? I think exploration and iteration is generally best done in the Gutenberg

[2021-11-03 05:38] #36134 closed, assigned to noisysocks

[2021-11-03 05:58] noisysocks commented on #4543
With only 2 days remaining I think we have no choice but to punt this one. I will defer to @kjellr on whether or not Twenty Twenty-two should employ a workaround for this issue or do nothing.

[2021-11-03 06:04] noisysocks commented on #36136
Not sure how much work is involved here. If it's easy then let's get it in for WP 5.9. If not then let's drop it from the "Must haves" board and work on it in the plugin.

[2021-11-03 06:18] carolinan commented on #36159
Thank you for the clear steps.
This process opens a header template part. It does not assign it to your current template.

When you select the template part in the black sidebar in the site editor, it opens it.
The save button only activates when you have made changes to the template part.

-----
To assign a template part you can do the following:

1. Open the page you want to change in the site e

[2021-11-03 07:55] Mamaduka commented on #29126
Hi, folks

It was decided not to hide Customizer in WP 5.9 release and until we have full feature parity in Side Editor. You can find more details in this PR - #36168.

I'm going to remove this issue for WP 5.9 must-haves, but we should start looking into this Enhancement early for the next major releaase.

[2021-11-03 08:06] Mamaduka commented on #35680
@kjellr, Customizer will be available for block themes in 5.9. See #36168.

It gives us the way to use traditional starter content that works with Theme Showcase. Plus time to build a better API for block-based starter content for the next release.

[2021-11-03 08:16] gziolo commented on #28913
Inspired by the discussion with @luisherranz and @c4rl0sbr4v0 in #35473, I wanted to summarize my understanding of how the experimental flag `__experimentalSkipSerialization` helps to control which class names and styles should get injected into the block wrapper.

Code examples from the Button block present how you can use `__experimentalSkipSerialization` flag to tell that a given feature should

[2021-11-03 08:33] carolinan commented on #36160
Templates and template parts created using the WordPress interface are not saved as theme files.
And when you make changes to existing templates and template parts, those changes are not saved to the theme files.

No changes alter the actual HTML files.
In both cases, they are saved to the database.
And what is saved to the database is used instead of the theme files.

You can export the websites

[2021-11-03 08:33] youknowriad commented on #36057
I gave this a try and I think there's no issues here, things are just working as expected. Let me explain:

 - The "layout" support is opt-in because it's a breaking change, it's a change in how themes work, so content created for a theme without "layout" support is going to be a bit different in another one with layout support.
 - Similarly, if you switch between classic themes, if you have conte

[2021-11-03 08:45] kevin940726 commented on #29630
I wonder why we want to keep the editor interface (the header with undo/redo buttons and the inspector etc) in this screen? Should this be a new path in the url, or should we implement it in a modal/popup style?

[2021-11-03 09:15] jasmussen commented on #35812
Thanks for the ticket! Do you have additional steps to reproduce? I can't seem to myself:
<img width="741" alt="Screenshot 2021-11-03 at 10 13 36" src="https://user-images.githubusercontent.com/1204802/140034482-6d51bf2b-5fe9-43e0-95b2-f0eaca3c2eb1.png">

Also, if you are able to test https://github.com/WordPress/gutenberg/pull/33494 (perhaps using gutenberg.run), can you see if that solves the is

[2021-11-03 09:16] talldan opened #36170 "Navigation block link popover has a `0` in it after unlinking and relinking"
### Description

There's a `0` being shown in the nav block's link UI after a particular sequence of steps. I imagine this is accidentally being returned from a React component instead of `null` or `undefined`.

### Step-by-step reproduction instructions

1. Add a nav block
2. Start empty
3. Add a link
4. Select a URL to a page or post
5. Once done, click the link icon on the toolbar
6. Click the

[2021-11-03 09:54] fwazeter commented on #36035
This looks very much like the theme.JSON file in the theme you're in does not have VH enabled as an enabled unit in the spacing-> unit section.

Which theme are you using? I've been in and out of adjusting cover blocks in latest Gutenberg all day with VH in my own themes and a few test themes.

Check the theme.JSON file for:

[code]

If a unit isn't listed in the spacing/units array, when other un

[2021-11-03 09:57] jameskoster commented on #29630
Apologies, that is an oversight. Initially I think we should keep the top bar in this view very simple:

<img width="1262" alt="Screenshot 2021-11-03 at 09 52 31" src="https://user-images.githubusercontent.com/846565/140039726-0cd41cf0-d78d-47e1-82e3-6a5567fffaad.png">

The "Add new" button should expose a popover, effectively behaving the same as this affordance in the current site editor navigat

[2021-11-03 09:59] dennisheiden commented on #36035
Oh! I see. Have tested this again with Twenty Twenty-One, and there is a vh option:

![image](https://user-images.githubusercontent.com/25924499/140040345-b776fc68-c961-4749-a428-f528bd521207.png)

Going to check this again in the client project, sorry for asking, is there any source on theme.jsons or a boilerplate available? (I will search myself, but I think asking might shorten my search.)

[2021-11-03 10:15] markhowellsmead commented on #35840
Additional note: one result of adding the rules to `:root` and using the technique above to re-assign them is that these rules are then not applied to the base `div` in the editor. This needs to be considered when considering any modification to the current status in core.

[2021-11-03 10:27] fwazeter commented on #35607
I'll have to look up the precise implementation I did (and I could very well be misremembering entirely, I'm on hour ~26 of a coding stint and could just have fantasy code fixes in my head), but I believe I had overridden this setting in one of my themes while using global padding.

The implementation was either to use padding-inline-start / end and padding-block-start / end explicitly on the .wp-

[2021-11-03 10:30] dennisheiden commented on #36035
Ok, it's not a Gutenberg issue.

The theme doesn't need to have theme.json (Twenty-One has none, I think). The theme needs support for custom units:

`add_theme_support( 'custom-units' );`

Thanks @fwazeter for the hint to the right direction!

[2021-11-03 10:30] #36035 closed, assigned to nobody

[2021-11-03 10:31] jameskoster commented on #30732
Here are some design options for us to discuss.

To recap, here's the current, confusing experience:

https://user-images.githubusercontent.com/846565/140041721-870e4e15-317e-42b1-b2eb-f4760fa7c98e.mp4

Note that the block re-arrangement is a global change, and visible when editing the template part in isolation, but the background color change is not. Also note that it's not possible to set the b

[2021-11-03 10:39] Mamaduka commented on #36170
If anyone is interested, this is the line that caused the bug:
https://github.com/WordPress/gutenberg/blob/40ff1e5014a823cb4b2aa49d5aa537fb108ed64d/packages/block-editor/src/components/link-control/index.js#L256

You can find details about "why" this is happening in [new React docs](https://beta.reactjs.org/learn/conditional-rendering#logical-and-operator-) (see the "Gotcha" part).

[2021-11-03 10:39] kevin940726 commented on #29630
Makes sense to me! Do we have a preferred unique path for this screen yet? I feel like ideally we should make this into a _semi-SPA style_ editor, that is, use history API to navigate between screens. However, I don't think we have enough time before the beta though 😅 .

Even if we could fallback to _wp-admin-style list view_, I'm not so sure how that could be implemented along side the new W menu

[2021-11-03 10:50] talldan commented on #29630
BTW, there's a plan to add a 'Navigation Menus' menu item under Appearance in https://github.com/WordPress/gutenberg/pull/36126.

It wouldn't be possible to edit these menus right away, but a way to manage them (rename, delete) is still valuable.

[2021-11-03 10:59] g-elwell commented on #34352
I do like a few of the suggestions here and some may have been a better original choice for a name, but I also don't think "reusable blocks" is that unclear.

I feel that the desire to change the name of this feature is originating from negative experiences of using it in practice, where it's purpose wasn't made clear, and looking for a way to better convey its meaning so that other users don't fa

[2021-11-03 11:05] Mamaduka commented on #32844
I created PR, but we still need design and copy for the new Welcome Guide.

[2021-11-03 11:11] jameskoster commented on #29630
More good questions @kevin940726.

Falling back to the wp-admin templates list view feels like a poor navigational experience to me. I put a prototype together [here](https://www.figma.com/proto/LZiM9diybGa4WKM44zRcIq/Appearance-Menu?page-id=3450%3A128611&node-id=3458%3A127656&viewport=326%2C48%2C0.42&scaling=scale-down&starting-point-node-id=3458%3A127656) to test it and would be interested to he

[2021-11-03 11:30] Sandstromer commented on #36161
I don't think this is considered a _broken layout_ when the 'Stack on mobile' option is toggled on.

At screen width of 599px and less the columns go to 100% wide, and at screen widths of 600px to 781px the columns go to 50% wide as shown in your screenshot.

Edit: sorry just realised that I assumed you have the 'Stack on mobile' option toggled on.

I tested with this off and am unable to recreate

[2021-11-03 11:40] Addison-Stavlo commented on #30732
For clarity, is Option 2 an extension on Option 1?  That is, with option 2 all changes are global as well?

If im interpreting that right, Option 1 seems to make sense to explore and will also enable option 2 down the road if we decide that extra restriction is necessary.

I think there will still be ways to accomplish the same behavior (Ex - leaving template part's styles/settings general, and wr

[2021-11-03 11:48] fluiddot commented on #35685
After further investigation of this issue in the integration tests of the embed block ([reference](https://github.com/WordPress/gutenberg/pull/35476#pullrequestreview-778833337)), I found out that the issue is not really caused by React Navigation itself. I noticed that indeed the `NavigationContainer` is updating the state after the `initializeEditor` function is called, however, this is expected

[2021-11-03 11:58] kjellr commented on #35680
Thanks — While that does theoretically help with the issue, I noted over in https://github.com/WordPress/gutenberg/pull/36168#issuecomment-958960754 that I think we should push for something better.

[2021-11-03 12:01] jameskoster commented on #30732
Yeah that's right. Any changes you make whilst editing a template part in isolation would be applied globally.

I don't have strong feelings personally about either concept, but would probably lean _slightly_ towards option 2 since it minimises the template part editing UX whilst editing a template. That accomplishes two things:

1. Helps clarify that template parts are unique global entities, and

[2021-11-03 12:02] fluiddot commented on #35685
Regarding the issue related to rendering the `LinkSettingsNavigation` and `act` warnings, I think it's not really an issue as `NavigationContainer` component will cause a React state update, therefore the test should take it into account.

As an example, based on the [React Navigation example](https://callstack.github.io/react-native-testing-library/docs/react-navigation#example-tests) documented

[2021-11-03 12:14] Mamaduka commented on #35680
Thanks for commenting on the other PR, @kjellr.

I also would prefer to better/native API for handling block themes starter content. But I don't think there's enough time left until the feature freeze to land something like this.

[2021-11-03 12:35] kjellr commented on #36057
I understand your viewpoint here, but on a high level I'm concerned that users will switch to a block theme, see that big portions of their content is broken, and then just switch back.

I also don't think we should expect users to understand which themes have layout support and which don't. As one example: Twenty Twenty-One is a classic theme so it does not have layout support. TT1 Blocks does ha

[2021-11-03 12:36] jameskoster commented on #29126
Looks like this may no longer be the case? :D

While adding an option to set the site icon via the Site Logo block helps somewhat, it doesn't cover instances where the active theme isn't utilising that block.

Couldn't we just add an option to the general settings screen to configure this?

<img width="851" alt="Screenshot 2021-11-03 at 12 34 17" src="https://user-images.githubusercontent.com/8465

[2021-11-03 12:45] kevin940726 commented on #36141
Yeah, sometimes it's tricky since the height could dynamically change at any time. I'll take a look at this.

[2021-11-03 12:49] kjellr commented on #4543
Ok, @jffng and I will make a call on that in https://github.com/WordPress/twentytwentytwo/issues/99. Thanks!

[2021-11-03 13:00] Mamaduka commented on #29126
It looks that way 😄

The problem with Site Icon is that it doesn't fit in the content canvas, so it can't be a block. We also don't have a place other than "Global Styles" for displaying site-wide settings in the editor.

I like the idea of moving the feature in Settings -> General.

P.S. It's been a while since I've built an image uploader component outside of Block Editor, so I'm not sure how mu

[2021-11-03 13:13] jameskoster commented on #29126
Hopefully we can just reuse something from the media library :d

[2021-11-03 13:14] gziolo commented on #35902
I opened https://github.com/WordPress/gutenberg/pull/36175 to add `viewScript` in schema and docs to the Gutenberg repo.

[2021-11-03 13:19] desrosj commented on #33424
Just noting for reference that I have seen the error a couple times over the last 2-3 weeks. One instance: https://github.com/WordPress/gutenberg/runs/4089434918?check_suite_focus=true#step:4:4.

They do seem to be more random, and accompanied by other failures referencing separate network issues though.

[2021-11-03 13:28] kevin940726 commented on #29630
I personally like this more as a MVP, the UX feels more natural than the others. We can implement this first, and take our time implementing the new screen in https://github.com/WordPress/gutenberg/issues/29630#issuecomment-954159446 later. Not sure if the new screen would make it to 5.9 though. WDYT?

[2021-11-03 13:29] youknowriad commented on #36057
It's the same thing if you move from a theme with a layout with some content width defined to a theme without a default layout define or without content sizes. Themes don't have the same "content area" and that's going to make the content look different (especially alignments).

It's also the same reason why ideally block patterns shouldn't have alignments, alignments only make sense in the contex

[2021-11-03 13:36] carolinan commented on #29126
I would be happy with the option being under general settings. That would be a core change and need a Trac issue?

[2021-11-03 13:51] kjellr commented on #35934
Closing as per the thoughts in https://github.com/WordPress/gutenberg/pull/36092#issuecomment-957873535.

[2021-11-03 13:51] #35934 closed, assigned to sagarnasit

[2021-11-03 13:54] poof86 commented on #36039
I had to execute the script not like this **"sh build-plugin-zip.sh"** but like **"./build-plugin-zip.sh"**

But then I got the error **"Tracker "idealTree:inflate:" already exists"**
I was using a version higher than the package.json "engines" property was asking.

Installed Node v14 and was able to build the plugin!

Let me test the Block Template-part background color styling next...

[2021-11-03 14:00] fwazeter commented on #36035
Glad I could help!

You are correct - you can certainly just add the proper theme supports directly, theme.json (although for all the great things it can do right now, it makes you wish it could do more, so it gets weird) just serves as an API to make a lot of that easier. Vanilla TwentyTwentyOne doesn't have it, but the alternate for FSE/Full Site Editing, TT1Blocks uses it and pretty much any ma

[2021-11-03 14:05] calliaweb commented on #22104
Just to add I have the same issue on a website. I've created a staging site, deactivated all plugins and enabled the twenty twenty-one theme and can't embed any youtube videos. I've cleared the oembed_cache and issue remains. I've then created a fresh install on the staging site and can't embed videos. I can use the youtube iframe code and that does work, so its not that YouTube are blocking my se

[2021-11-03 14:05] SantosGuillamot commented on #34994
A new update on the Post Comments blocks. This was the progress made during the last couple of weeks:

- [Comment Query Loop block](https://github.com/WordPress/gutenberg/issues/34996) & [Comment Template block](https://github.com/WordPress/gutenberg/issues/35000): These blocks are the wrappers for the rest of the block elements. An initial version of them was merged in this [Pull Request](https:/

[2021-11-03 14:14] poof86 commented on #36039
It works!

But I'm getting other issues now..
for example, the navigation bar doesn't show the correct item justification in front-end.
But that's what you get for using a development version right?

[2021-11-03 14:14] #36039 closed, assigned to nobody

[2021-11-03 14:15] carolinan commented on #36039
Maybe you need to open a new issue for that 😄

[2021-11-03 14:22] Mamaduka commented on #29126
Yes, I think @jameskoster suggestion should be a Trac ticket.

[2021-11-03 14:35] dennisheiden commented on #36035
Yeah, I'm looking forward to implement theme.json and stuff to our theme for the next bigger update.

[2021-11-03 14:44] fluiddot commented on #35685
Originally, I thought that all state updates would be observed when calling the `render` function, however, looks like this is not the case. Most likely this is related to the fact that there's a state update that happens asynchronously, here are some code references of the `NavigationContainer` related to this:

- `useLinking` hook returns a function named `getInitialState` ([reference](https://g

[2021-11-03 14:47] turansadri commented on #19796
This doesn't work. Based on this schema (https://json.schemastore.org/theme-v1.json) it should work like this:

[code]

But neither works. Tested on WP 5.8.1. with Gutenberg plugin 11.8.0

[2021-11-03 14:50] kjellr commented on #35884
@noisysocks I think we should add this to 5.9 must-haves, since it effects a large quantity of themes.

[2021-11-03 14:52] lwangdu commented on #36160
Thank you so much for your responded. I will follow with your instruction.

[2021-11-03 15:03] nicolynramos commented on #36088
32548877-hc

[2021-11-03 15:06] apeatling commented on #33933
Worked on in https://github.com/WordPress/gutenberg/pull/34522

[2021-11-03 15:08] oandregal commented on #19796
I was confused about this for a bit, so leaving a comment for our future selves: the button block only supports [border radius](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/button/block.json#L76) and it doesn't support any of the other properties (width, style, or color).

A separate thing is the "Width" panel, which affects the width of the button and can't be cont

[2021-11-03 15:23] jameskoster commented on #29126
Ticket opened: https://core.trac.wordpress.org/ticket/54370

[2021-11-03 15:25] jameskoster commented on #29630
I think that makes sense, but would like to hear @kellychoffman's input.

[2021-11-03 15:35] shaunandrews commented on #33933
Using the more menu could help with resetting and changing the default style:

<img width="599" alt="image" src="https://user-images.githubusercontent.com/191598/140092375-6ef67ef7-ff45-4a95-be32-0e2334381848.png">

[2021-11-03 16:47] shaunandrews commented on #36082
At the very least, I find the langue used in the UI to be very confusing. I think updating the language could help a lot:

<img width="865" alt="image" src="https://user-images.githubusercontent.com/191598/140104384-62716034-be99-49e7-93a2-ccb7676f1f50.png">

Also, if this section made use of the `toolsPanel` we could likely remove the need for the switch entirely; That is, the ... menu would allo

[2021-11-03 17:01] jameskoster commented on #36082
That looks better for sure, but I wonder if it should be possible to change the "full width" value? Or should that be hard coded to 100%?

[2021-11-03 17:05] jameskoster commented on #36082
Also, thinking about the slider for the default width... how do you determine the maximum value there? Or what happens if I set the default block width to be 800px, but the container only renders at 600px 🤔

I suppose we could say it's a max-width. But I can't help but wonder if some kind of column system mightn't be more flexible.

[2021-11-03 18:04] markhowellsmead opened #36184 "Add a CSS Custom Property for column spacing"
## What problem does this address?
As a theme developer, it's not very easy to adjust column spacing in CSS, because of the complexity of spacing and rules at different breakpoints. We usually need to add a series of CSS rules to override core, taking into account multiple breakpoints.

## What is your proposed solution?
It would be so much easier if theme developers could simply change the value

[2021-11-03 18:07] markhowellsmead commented on #36184
I've just come across `--wp--style--block-gap` but this seems to be on a wider scope than just column spacing.

[2021-11-03 18:42] #33538 closed, assigned to nobody

[2021-11-03 19:48] lwangdu commented on #36159
Do will do that thank you!

[2021-11-03 19:50] kjellr opened #36187 "Consider changing some theme.json settings to opt-out"
There are a number of useful theme.json settings that are off by default: Padding, Margin, Line Height, etc. These are generally self-contained controls: they "just work" without the theme having to provide any code other than the opt-in.

It can be difficult for themes to remember to opt-into all of these, and to keep up with the new ones that have been added. We should consider changing these so

[2021-11-03 20:32] kellychoffman commented on #29630
My take: Let's move forward with this option.

I think it comes with some trade-offs that are inherent with the current wp-admin nav menu, but it feels like the best option that will allow us to move forward and provides a base to work from.

We can always approach introducing the W menu in future releases if it makes sense. It will give us time to rethink and rework the nav overall.

[2021-11-03 20:50] ramonjd opened #36188 "Post Comments Form: ensure typography styles are applied to child elements"
## What problem does this address?

In https://github.com/WordPress/gutenberg/pull/34064 we opted into and added default Typography support controls.

For the Post Comments Form, we noticed that the  `<h3 />` element isn't targeted by some of the Typography settings set at the container: the font weight gets applied at the container, but not the heading.

![image](https://user-images.githubusercon

[2021-11-03 20:52] #35604 closed, assigned to ramonjd

[2021-11-03 21:06] poof86 commented on #36039
Shouldn't I only open issues for released versions of the Gutenberg plugin?
Or is it procedure to also open issues for development versions?

I'm kinda new to this

[2021-11-03 21:13] leeshadle commented on #36187
I like this.  It would also be cool if we could opt-in/out of theme.json settings via a css variable, or some other variable mechanism, so we could provide a plugin or theme settings UI for turning these controls on/off.  Maybe controls like this are slated for global styles?

[2021-11-03 21:29] kellychoffman commented on #32844
@carolynannewells: copy for the Styles welcome guide is in this doc.https://docs.google.com/document/d/1LTlLW6M8UjlHo3KUNmVmWElrfm8CRvQl3tRPueyf22Y/edit#heading=h.cjfiamz95gn9

Copying it below as well in case that is easier.

### Editor welcome guide:

**Edit your site**
Enjoy the familiar experience of blocks to edit your full site, from the header all the way down to the footer. Click [Styles i

[2021-11-03 21:31] michalczaplinski commented on #28913
Thank you @gziolo that helped me understand it quickly after looking around the various issues without success!

[2021-11-03 21:41] kellychoffman commented on #32844
@javierarce: Would you be able to lend your animation design to the welcome guides?

For reference: To see what the current one looks like, go to: Posts > Add New > kabab menu in upper right > check Welcome Guide. I don't think the style needs to be exactly the same, but just wanted to point you to what the current one looks like.

[2021-11-03 21:48] adamziel commented on #35750
@noisysocks I think it's an important feature and I'd say let's keep fighting :-) there's https://github.com/WordPress/gutenberg/pull/36178 now that could be it. It misses a few things but @talldan will take it for a spin while I sleep. Let's see how far we can get.

[2021-11-03 21:50] markhowellsmead commented on #33789
An additional note on this: the [current function](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/post-featured-image/index.php#L22) (which uses `get_the_post_thumbnail`) currently outputs the thumbnail HTML for the full-sized image. This means that in a basic install where the registered image size `thumbnail` is set to cropped 400x400, this small thumbnail isn't use

[2021-11-03 22:32] mihdan commented on #15094
Add this code in callback function:

[code]

[2021-11-04 00:14] noisysocks commented on #29126
Thanks @jameskoster. Closing this in favour of https://core.trac.wordpress.org/ticket/54370.

[2021-11-04 00:14] #29126 closed

[2021-11-04 00:16] noisysocks commented on #35680
Since there is strong opposition to always showing the Customize link I will revert https://github.com/WordPress/gutenberg/pull/36168 and allow this issue to be addressed after the feature freeze date next week in time for 5.9 beta 1.

[2021-11-04 00:48] noisysocks commented on #35947
@talldan: Where is this at now that https://github.com/WordPress/gutenberg/pull/36024 is merged?

[2021-11-04 01:26] helen commented on #35680
👋 Just want to make myself available for questions/rubberducking if you need, since I was behind the original drive to starter content as well as the integration with theme directory previews last year.

Ignoring the theme directory part for a moment, I do rather wonder if the whole "fresh site" concept isn't really relevant in this paradigm - maybe it's more like full page patterns that you can e

[2021-11-04 02:11] mirka commented on #35815
Closing this for now since we won't be doing a blanket upsizing for the `UnitControl` component. May be resuscitated in the future.

[2021-11-04 02:11] #35815 closed, assigned to nobody

[2021-11-04 03:39] talldan commented on #35947
@noisysocks I still want to look into a solution for what @kjellr mentioned at the end of the comment here:
https://github.com/WordPress/gutenberg/issues/35947#issuecomment-952853921

But other than that, this should be close to being closed. I think we should open a separate issue for some of the designs above so that we don't mix up task tracking for feature freeze tomorrow with long-term plans.

[2021-11-04 06:23] amustaque97 commented on #36170
I would love to take this forward and fix it.

[2021-11-04 06:27] carolinan commented on #36184
With blockGap enabled in theme.json, you should be able to set a global site wide value but also set a specific value for the columns block.

[2021-11-04 06:37] tellthemachines opened #36197 "Allow Spacer block to inherit orientation from layout"
### Description

Currently, the Spacer block has the wrong orientation when inside a Row block, because Spacer reads orientation from block context, but Row has orientation defined as part of its layout attribute.

If #36169 goes through, we'll have the same problem when Spacer is a child of Navigation.

While we could try a patch along the lines of
[code]
in the parent block's edit function, we'd

[2021-11-04 07:17] carolinan commented on #36053
I believe the expectation is that the global spacing, like the margin in the example, is also be handled by theme.json.

[2021-11-04 07:21] gziolo commented on #35902
I opened a follow-up PR https://github.com/SchemaStore/schemastore/pull/1915.

I will take care of the last item now:

[2021-11-04 07:50] markhowellsmead commented on #36184
Thanks @carolinan. It’s also occurred to me that I could alternatively redefine the custom property at block level.

[2021-11-04 07:50] #36184 closed, assigned to nobody

[2021-11-04 07:57] overclokk commented on #36187
From my point of view I prefer to have all opt-in by default and than opt-out with theme.json.

[2021-11-04 08:45] andersnoren commented on #36187
I agree. Given that some features require blockGap to be enabled, like the columns gutter setting, I think it makes sense to have that be opt-out in 11.9 (and 5.9) as well.

[2021-11-04 08:53] fabiankaegy commented on #36187
Opt-in vs opt-out is a hard question. On the one hand, we should strive to make new features discoverable and get them out to the users as easily as possible. This will be the easiest with the opt-out approach. It comes with one bigger risk though.

When new features get added to Core and a Theme has not tested compatibility there is a larger risk that an update to Core causes something on your si

[2021-11-04 09:00] erikjoling commented on #18962
I expect poster image support to be added to the cover block anywhere in the near future. But for the time being I wrote a simple workaround.

It turns out you can set a featured image for every media upload. With the following code I inject this featured image as a poster attribute for the video-element in cover blocks.

[code]
https://erik.joling.me/2021/11/04/wordpress-how-to-add-a-poster-image

[2021-11-04 09:03] fabiankaegy commented on #35591
@aristath I see this is currently not tracked on the Gutenberg 11.9 Project and therefore isn't targeted for 5.9. Is that correct?

Is there any plan to have this feature in Core in 5.9 with the main Webfont API?

[2021-11-04 09:49] jmslbam commented on #9056
I had this also with a overwritten PHP template from Download Monitor.

The PHP template had a newline in it, because it was visualy formating my code in my PHP file.

[code]

And voila, a `<br>` was shown in my HTML code on the front-end. Right after the opening `<a>`. So I made everything inline and it dissapeared.

Ciao!

[2021-11-04 09:53] jameskoster opened #36204 "Update Appearance > Templates"
This is a tracking issue for the updates we need to make to the template list view in accordance with the designs shared in #29630.

- [x] https://github.com/WordPress/gutenberg/issues/35990
- [ ] https://github.com/WordPress/gutenberg/issues/35991
- [ ] https://github.com/WordPress/gutenberg/issues/35994
- [x] https://github.com/WordPress/gutenberg/issues/35995
- [ ] https://github.com/WordPress/

[2021-11-04 10:05] jmslbam commented on #9056
Well heck, these breaks and extra paragraph tags are even showing up in my Gravity Forms Gutenberg output on the front-end. I will try to do some extra research for some more information. Kinds regards, Jaime

[2021-11-04 10:11] jameskoster opened #36205 "Update Appearance > Template Parts"
This is a tracking issue for the updates we need to make to the template part list view in accordance with the designs shared in #29630.

- [ ] Use [template part focus mode](https://github.com/WordPress/gutenberg/issues/33926) when navigating to Appearance > Template Parts > Template Part
- [ ] Refine the Add Template Part flow in Appearance > Template Parts
- [ ] Update Appearance > Template Par

[2021-11-04 11:00] jameskoster opened #36207 "Display the site name in the top bar in Appearance > Editor"
Currently the top bar in the Site Editor displays the name of the template being edited, and this works well when you edit a template in isolation (IE via Appearance > Templates). But clicking Appearance > Editor takes you to a unique view where you might be editing template and content all at the same time.

For example: If your site is configured to display a static home page, Appearance > Edito

[2021-11-04 11:02] overclokk commented on #36187
@fabiankaegy I think that if the settings are opted-in by default they will not break anything because are just settings you can use in the UI, for example the setting for custom color only add a link to the color picker.

[2021-11-04 11:11] fabiankaegy commented on #36187
@overclokk I may totally be misunderstanding something here. But id I look at the items being discussed here in this PR we are talking about the overall supports like wether or not a theme supports custom line heights. Or the block gap. At least right now there is no UI to change these settings and if a theme has its own custom line heights set in css it would probably cause issues with the core w

[2021-11-04 11:45] getsource commented on #20941
Now that #34710 has landed, is this still necessary?

My understanding behind this ticket is that the primary issue was that the alignment setting was unclear, because it wasn't obvious that the alignment was set and could be "unset".

Now that [it's possible to choose "none"](https://github.com/WordPress/gutenberg/pull/34710#issuecomment-926743716), and it's intended functionality for Media and T

[2021-11-04 11:54] aristath commented on #35591
Yes, we're planning to merge this in 5.9 in core.
The reason it's not currently tracked in Gutenberg is because the implementation hasn't (yet) been committed to core and therefore this can't be properly tested or evaluated without using the patch from https://github.com/WordPress/wordpress-develop/pull/1736 in WP's trunk

[2021-11-04 11:57] fabiankaegy commented on #35591
Ahh okay makes sense. Thanks for the clarification:) so it will actually ship in core before the plug-in 🤔

[2021-11-04 11:59] cbravobernal commented on #35010
Maybe @javierarce could help us with the design.

[2021-11-04 11:59] aristath commented on #35591
Well, it needs to... The plugin mods can't function unless the core code is there. So the order of committing needs to be core - Gutenberg - tt2

[2021-11-04 12:06] aristath commented on #35591
Of course we _could_ merge this in Gutenberg, as it will only function when the core code gets merged... If we're pressed for time because of the feature-freeze deadline, we can merge the POC which is functional and safe, and then improve it.

[2021-11-04 12:17] scruffian opened #36208 "Duotone: Caching breaks duotones set through theme.json"
### Description

When a duotone filter is set through theme.json, the SVGs are output to the footer using a side effect of ` gutenberg_render_duotone_filter_preset`. This happens the first time that Global Styles are generated. However, once this has happened the output value is cached. Once the cache is primed, Global Styles aren't generated in the code anymore, which means the side effect of `gu

[2021-11-04 12:21] aristath commented on #35591
I opened the PR in #35625 and rebased it 👍

[2021-11-04 13:08] jameskoster commented on #32844
Just to clarify: The "Editor welcome guide" should appear when you click Appearance > Editor (beta).

The "Styles welcome guide" should appear when you click Appearance > Styles.

[2021-11-04 13:11] luminuu commented on #36187
I agree with @fabiankaegy about the "fear of updates" and breaking changes. Especially for CSS, which is often adjusted manually on a website to override the theme's default, this could be not very easy to debug if suddenly the block editor adds new stuff and the custom CSS may not be very specific, thus resulting in partly wrong display of elements.

How about defining a standard set of things th

[2021-11-04 13:15] fabiankaegy commented on #36187
@luminuu That is a great point. If we go with an opt-out approach where new features may be added at any time that is on by default it would be very important to have one place where all the new options that can be opted out or are listed so that themes can disable everything first to test wether it works and then rollout the updates on their own terms.

[2021-11-04 13:28] paaljoachim commented on #20941
Hey Mike @getsource

I believe we can go ahead and close this issue. As we now have a "None" width alignment.

Closing issue. Please reopen if need be.

[2021-11-04 13:31] scruffian commented on #36187
There are a couple more that might make sense to make opt-out if that's the way we go:

theme.json->settings->spacing->units
theme.json->settings->typography->customFontSize

[2021-11-04 13:47] kjellr commented on #36187
For the sake of clarification: I didn't clearly mention this above, but let's discuss just the above settings (not any unknown future settings) as being opt-in by default _only_ for themes that have `theme.json`. Yes, some of the settings above could theoretically wreak havoc on older themes, but let's set that aside for now and just start here.

I think the core of the issue represented here is a

[2021-11-04 14:10] Addison-Stavlo commented on #30732
At this point in time, my main opposition to option 2 is related to how we currently enable the isolated mode in the Site Editor.  In the current limited FSE beta on dotcom, the navigation sidebar itself is hidden due to user confusion related to nav sidebar behavior such as opening to nested levels, lack of an editor close button at those levels, conflicts caused by assumptions made when opening

[2021-11-04 14:24] joppuyo commented on #6184
In WordPress 5.8, you should be able to use the new theme.json feature to disable the drop cap. Just add a file called `theme.json` in rhe root of your theme with the following content:

[code]

But if you want to use a plugin, you can now find my plugin on the WordPress plugin directory:

https://wordpress.org/plugins/disable-drop-cap/

[2021-11-04 14:27] javierarce commented on #32844
Yes 💫

[2021-11-04 14:52] critterverse commented on #30732
Hey @jameskoster, either of these directions would be a huge improvement on the current experience.

Option 1 seems more straightforward and is probably what I'm expecting to happen as a user.

Option 2 seems a bit more complex. Conceptually-speaking, when I think about how the isolated view is currently constructed with only the inner blocks, it seems like Color and other options for the outer co

[2021-11-04 14:54] mrwweb commented on #36053
For folks running into this, a current workaround for the adjacent alignwide blocks is to do this:

[code]

There is not an equivalent workaround for `:last-child` that I know of.

---

@carolinan Thanks for your response. It makes me wonder about _a lot_ of assumptions for `theme.json` and block based themes. If that expectation is right:

- Does that mean that themes using `theme.json` are effec

[2021-11-04 15:00] gziolo commented on #35902
PR ready to review: https://github.com/WordPress/gutenberg/pull/36218. That is the last task which should conclude this issue 🎉

[2021-11-04 15:05] richtabor commented on #36187
I'm leaning towards having the default experience consisting of what Gutenberg has to offers in full, with a extra step needed to opt-out of features (as proposed here).

I agree.

[2021-11-04 15:11] flexerd commented on #33832
Just noticed this happening, but only in widgets and not in the Custom HTML block in Gutenberg editor.
Is this on anyone's radar?

In case anyone gets to this thread adding this code to theme functions.php is a temporary fix.
//Disable p and br in HTML widget
remove_filter('widget_custom_html', 'wpautop');

[2021-11-04 15:33] jameskoster commented on #30732
That's a fair point, though I hope the double-click pattern would remedy that. It's hard to say for sure without trying it.

The nav sidebar is actually being removed for 5.9 (https://github.com/WordPress/gutenberg/pull/36194). So to access template part focus mode you can:

* Go through Appearance > Template Parts (although this doesn't currently work 🙈 – https://github.com/WordPress/gutenberg/is

[2021-11-04 15:37] #34992 closed, assigned to spacedmonkey

[2021-11-04 15:43] ajlende commented on #36208
Interestingly, when I set `$can_use_cached = true`, sometimes none of the theme.json styles load. These screenshots are using the skatepark theme.

![Screen Shot 2021-11-04 at 11 38 49](https://user-images.githubusercontent.com/5129775/140365285-ad589e65-f3de-4e8d-bb4b-f685b3e114e2.png)

![Screen Shot 2021-11-04 at 11 39 07](https://user-images.githubusercontent.com/5129775/140365201-5a01e3a8-646e

[2021-11-04 16:01] sehqlr opened #36219 "React Error #321 for Custom Blocks"
### Description

I will begin by saying that I've been hitting my head against the wall on this, and I hope that I can get some help on this. I've opened up a [support forum topic here](https://wordpress.org/support/topic/react-error-321-for-custom-blocks/#post-15030063) and JedWatson/react-select#4893 there. I've gotten some help on IRC as well. But I've come to the conclusion that I need to open

[2021-11-04 16:16] mchowning commented on #36167
Thanks for the issue report. 🙇

It sounds like this is occurring on mobile web, not the mobile apps, is that right?

[2021-11-04 16:19] androidacy-user commented on #36167
Mobile web yes.

[2021-11-04 16:57] critterverse commented on #30732
I mean that, conceptually, these options feel like document-level settings for the Template Part post type (based on the current constuction of the isolated view where the container is not included/selectable on the canvas):

![isolated-header](https://user-images.githubusercontent.com/77359364/140374279-62238a03-f71e-4967-9524-9e604f45efa8.jpg)

I keep saying _conceptually_ because this doesn't r

[2021-11-04 17:12] carolynannewells commented on #32844
Hello! I made adjustments to the copy on the Googledoc. Please let me know if that does not work or if you need any other help. Thanks!

[2021-11-04 17:14] fabiankaegy commented on #36187
As I said in my original comment. I do agree very much that the opt-in by default nature is great for pure FSE themes.

It is hybrid themes that I am more worried about. For the properties that we are discussing here in this issue, I am not opposed to changing them to opt-in by default.

For me, it really is the example we are setting for future features and how we deal with releasing new options

[2021-11-04 17:25] joesnellpdx commented on #36187
My concern is for those of us who have intentionally built fully customized themes for valuable clients and want to mitigate any risk of regression or disruption to said UI/UX from an automatic "opt in" on these types of granular block options, settings and styles.

My suggestion, per @fabiankaegy, is to have a universal "opt-in" like `appearance": "all"` to avoid these disruptions - which an be q

[2021-11-04 17:45] jameskoster commented on #30732
Oh jeez, only now do I see I uploaded the wrong videos. You're correct of course, those should be in the 'document' tab. I'll fix the videos.

You can, but those are still applied at the template level. Forcing folks into the depths of global styles to change the background of their header doesn't seem very intuitive. It's also worth noting that setting the background color for a template part in

[2021-11-04 17:45] joedolson commented on #19068
In discussing the core ticket (https://core.trac.wordpress.org/ticket/48939), we agreed that we do not want to use a WordPress resource for the alt text reference link.

There are several reasons, but the most significant are that 1) it creates a long-term permanent burden on the a11y and docs teams to maintain the resource and 2) it doesn't effectively reflect that these are global standards of a

[2021-11-04 17:54] sajmes commented on #27720
I believe I just ran into this issue again on a Spotify block. Significant white space beneath the embedded content for a single file.

[2021-11-04 18:00] mkaz commented on #31815
@tomjn I updated my PR to try this approach in https://github.com/WordPress/gutenberg/pull/36059/commits/01b00ea362fff74e685f259987ae9aa800101254 but it is not working as expected. I believe it has to do with the pass by references which makes me think the first part of this function may not be working either.

If we can get this to work, I think it would be it.

To test I added the following to t

[2021-11-04 18:40] iandunn opened #36224 "Post Template returns empty string when no results found"
### Description

I expected `index.php` to return `No results found` like `edit.js` does, but it returns an empty string.

https://github.com/WordPress/gutenberg/blob/9a2ae8d1838a41ddf51925d5e9534ca3c7b730d7/packages/block-library/src/post-template/index.php#L39-L41

https://github.com/WordPress/gutenberg/blob/9a2ae8d1838a41ddf51925d5e9534ca3c7b730d7/packages/block-library/src/post-template/edit.j

[2021-11-04 18:51] mkaz commented on #31815
Ok, one more attempt here in this commit https://github.com/WordPress/gutenberg/pull/36059/commits/15e7ba8f1031ebed817710527bbc13d1366e90c6

This does not use block serialization which I think was the problem in the previous, it doesn't regenerate the HTML from the block attributes, so even though we changed the block attribute, the HTML in the template is what really is used.

To test try the sam

[2021-11-04 19:17] davecpage commented on #34199
Hi @noisysocks I've added a PR for the Gutenberg repo which matches the change I submitted as part of https://core.trac.wordpress.org/ticket/54013

[2021-11-04 19:25] jeyip commented on #29372
It appears as if the tab switching functionality now applies to the block editor as well. I believe we can close this ticket.

![2021-11-04 12 24 24](https://user-images.githubusercontent.com/5414230/140406460-a9f6c4f7-04a9-40ba-a1b5-919000008bad.gif)

cc @creativecoder @zaguiini

[2021-11-04 19:28] iandunn commented on #36224
Related: #29521

[2021-11-04 19:48] Chouby opened #36227 "FSE patterns are displayed in user's language instead of site's language"
### Description

Since [WordPress 4.7](https://wordpress.org/news/2016/12/vaughan/), each user can display the backend in its own language, possibly different than the site's main language. When using this feature, FSE patterns are displayed in the user's language instead of the site's main language.

### Step-by-step reproduction instructions

1. Translate some strings of the theme Twenty Twenty

[2021-11-04 20:00] Chouby opened #36229 "FSE displayed in user's language text direction"
### Description

Since [WordPress 4.7](https://wordpress.org/news/2016/12/vaughan/), each user can display the backend in its own language, possibly different than the site's main language. The two languages may use a different text direction. When using this feature, FSE is displayed in the user's language text directlion instead of the site's main language text direction, thus messing the layout

[2021-11-04 20:07] ryelle commented on #33735
I'm running into this trying to create a modal component for the Pattern Directory editor.

I've made [a demo plugin](https://gist.github.com/ryelle/247871127e6744f8e16caac0b0c01706) to reproduce the issue. It seems like the emotion styles in the modal content are not being picked up. The components are given a unique prefix ID (cache key), but no styles are registered to that UUID key. It must ha

[2021-11-04 20:32] mirka opened #36230 "Typography panel: Component upsizing"
_On hold until #39397 is addressed._

---

Tasks required to cleanly migrate the Typography panel components to the new 40px sizes.

## Prep work (merge at will)

- [x] #35646
- [ ] ❓ Support icon buttons in `ToggleGroupControlOption` 🧪 (See #36735)
- [x] #37110

## Final steps to enable changes (merge all at once)

| Component | Enabling PR |
|--|--|
| FontAppearanceControl 🧪 | #36162 |
| FontFam

[2021-11-04 20:38] colorful-tones commented on #36187
I endorse this endeavor 💯

`"appearance": "all"`sounds good to me!

[2021-11-04 20:43] iamthomasbishop opened #36231 "[Mobile] Disable swipe gesture on BottomSheets due to scroll-axis issue"
## Description

While doing some release testing, I noticed that there is an odd interaction issue on the new `Help & Support` BottomSheet, where you're able to scroll both horizontal and vertical axes simultaneously. While it is desirable to be able to perform each of these gestures (swipe horizontally from left-to-right to go "up" a level in the navigation stack and vertically to scroll the cont

[2021-11-04 21:30] iandunn commented on #36224
Also related: https://github.com/WordPress/gutenberg/issues/33476

[2021-11-04 22:58] kjellr commented on #36187
In the near term, it sounds like there’s general agreement that an `appearance: all` option for theme.json would be an acceptable idea. Is there someone available who can make a quick PR for that? (@oandregal maybe?)

It would be cool to get it into 5.9 if possible!

[2021-11-04 23:23] ethanclevenger91 opened #36234 "Font family support for paragraph block"
## What problem does this address?
Sometimes you want the styles of a heading tag without actually using a heading tag because "SEO"

## What is your proposed solution?
Add custom font family support to the paragraph block. Support has been added to the list and button blocks, for example, but not the paragraph block.

There is no centralized list of what blocks support things like this, so theme

[2021-11-04 23:29] andrewserong commented on #24874
I believe this one is now resolved, as of the following PRs:

* Columns block gap / spacing support and vertical margin support added in: https://github.com/WordPress/gutenberg/pull/34630
* Columns padding support added in: https://github.com/WordPress/gutenberg/pull/35701

Themes can opt in to the above controls by setting the following spacing settings in `theme.json`:

[code]

I'll close this i

[2021-11-04 23:29] #24874 closed

[2021-11-04 23:30] kellychoffman commented on #35093
Would like to propose a few minor tweaks for 5.9 to make the current color panel more intuitive and if i may... palatable. (While we are waiting for some improvements to land post 5.9.) If we can't get most of these in, I would hesitate to include this. @jasmussen - what do you think?

<img width="316" alt="Screen Shot 2021-11-04 at 4 30 51 PM" src="https://user-images.githubusercontent.com/583584

[2021-11-04 23:32] ethanclevenger91 commented on #24874
@andrewserong  so far as I can tell it's:

[code]

Right?

[2021-11-04 23:43] andrewserong commented on #24874
@ethanclevenger91 yes, up until yesterday (and in the v1 of `theme.json`) the margin and padding properties have the `custom` prefix. As of https://github.com/WordPress/gutenberg/pull/36155 in the v2 of `theme.json` the `custom` prefix has been removed. It looks like the `v1` naming will still continue to work though 🙂

[2021-11-04 23:46] #33420 closed, assigned to spacedmonkey

[2021-11-04 23:53] leeshadle commented on #35686
I also ran into the same issue...

[2021-11-04 23:54] ramonjd commented on #36188
It might be theme related. For example, TT1 defines the following in theme.json

[code]

These styles overwrite the inline styles applied to the container.

Removing this allows me to style the entire container and its child elements in this very contrived example:

<img width="772" alt="Screen Shot 2021-11-05 at 10 42 38 am" src="https://user-images.githubusercontent.com/6458278/140435199-11df180

[2021-11-05 00:03] ramonjd commented on #30406
Hello!

I think @stacimc's PR Site Logo: Add option to set site icon from Site Logo block #35892 is working well. I think I'm ready to approve, but it'd be good to get some confidence check 👀 from folks, or maybe @creativecoder (whose name I plucked from https://github.com/WordPress/gutenberg/issues/32065).

Thank you!

[2021-11-05 00:19] ibes commented on #33789
@markhowellsmead
I don't get why the full-size image is pulled after all.
Can you support me understand that? 'post-thumbnail' is default so I don't get where 'full' is introduced.

I try to figure out a way how to use existing filters to make that work.
All I found so far is https://generatepress.com/forums/topic/query-loop-post-template-image-size/
Which has no effect on the image that is actual

[2021-11-05 00:22] colorful-tones commented on #36187
Agree, this would be super relevant and nice to have in 5.9 🤞

[2021-11-05 02:14] shadigaafar opened #36237 "__experimentalBlockAlignmentMatrixControl : the positions of the dots should not change when RTL"
### Description

I tested it on RTL, and it says about the point that is "top left": "top right", even when console log the values, they are the in the opposite direction of dots:

though if you test it in cover block... the content aligns perfectly in the appropriate location as the dots... but i think that because who ever developed the cover block has used flex and flex direction change on RTL.

[2021-11-05 02:38] kellychoffman commented on #32844
Thank you so much! cc @Mamaduka for final copy here: https://docs.google.com/document/d/1LTlLW6M8UjlHo3KUNmVmWElrfm8CRvQl3tRPueyf22Y/edit#heading=h.cjfiamz95gn9

[2021-11-05 03:02] shadigaafar commented on #36237
The propose solution:
This problem should not be fixed by CSS, cos it will break any blocks already using it, and it will mean that each time this component is used, must do custom RTL for the positions... so, the best solution is to modify the generated values by `__experimentalBlockAlignmentMatrixControl` based on RTL or LTR...  and the tooltip text.

[2021-11-05 03:03] kosiew commented on #27720
Here is the screenshot

![image](https://user-images.githubusercontent.com/29057562/140451386-7bceed77-eff2-4ef2-962a-c5eaad4a3ce9.png)

source: https://ourcommonprayer.org/2021/11/04/testy-sandbox/
#4428978-zen

[2021-11-05 03:06] shadigaafar commented on #36237
The proposed solution:
This problem should not be fixed by CSS, cos it will break any blocks already using it, and it will mean that each time this component is used, must do custom RTL for the positions... so, the best solution is to modify the generated values by `__experimentalBlockAlignmentMatrixControl` based on RTL or LTR... and the tooltip text.

[2021-11-05 03:50] carolinan commented on #30732
If styling options for the template part were removed and the block worked more like a container only,
the colors etc would be set by the content, and that would solve the problem.

Without buy-in from theme developers, I think that option is too late and too drastic, even if the template part block is still experimental.

[2021-11-05 04:48] carolinan commented on #36229
I believe this is correct, that the editors should respect the users choice.
-Would you mind clarifying what you mean with "thus messing the layout" with an image?

I added some content like group blocks and paragraphs to the site editor index template while using rtl.
The blocks and text displayed correctly in the _ltr_ text direction the front.

[2021-11-05 05:02] #35308 closed, assigned to Mamaduka

[2021-11-05 05:53] Mamaduka commented on #32844
Thank you, everyone.

[2021-11-05 05:59] getdave commented on #33585
Thanks @gVee. Looks like something we should handle in Gutenberg as you suggest.

[2021-11-05 06:30] #30740 closed, assigned to carolinan

[2021-11-05 06:33] aaronrobertshaw commented on #36230
I took a brief look at switching these typography controls to use `ToggleGroupControl`. The switch itself is easy enough assuming that we are ok replacing the current icons with simple text labels. There is a bit of a problem though in that the `ToggleGroupControl` is based on a `RadioGroup` so once you select a value you can't "toggle it off".

In the context of block supports, the ability to tog

[2021-11-05 06:33] #36036 closed, assigned to anton-vlasenko

[2021-11-05 07:33] talldan opened #36240 "Investigate broken widgets test - "Should insert content using the global inserter""
Two widgets tests were skipped in #36239.

It could do with some investigation. Was there a recent change here or in core that could've caused this?

This particular problem has happened previously, but then mysteriously stopped before re-appearing again recently.

cc @kevin940726 @noisysocks

[2021-11-05 07:42] jasmussen commented on #35612
Related, https://github.com/WordPress/gutenberg/issues/34514

Flow wise, it seems like the contents of the modal could be edited in isolation, a bit like how template parts can be.

[2021-11-05 07:52] jasmussen opened #36241 "Navigation submenus: Add viewport awareness smarts to the opening direction"
When a navigation block has submenus, these submenus open by default, _down and right_:

<img width="283" alt="Screenshot 2021-11-05 at 08 46 39" src="https://user-images.githubusercontent.com/1204802/140475933-3ecd37b1-69df-4de6-9be3-4fab9e0b7d2c.png">

<img width="685" alt="Screenshot 2021-11-05 at 08 47 09" src="https://user-images.githubusercontent.com/1204802/140475967-b5b24366-c232-405c-833a

[2021-11-05 08:18] javierarce commented on #32844
I'm currently working on the animations and I think I'll be able to have all of them before the freeze.

I've created [some mockups in Figma](https://www.figma.com/proto/BlF2skiewkRf0FqNOm3Xmp/Animations?page-id=0%3A1&node-id=4%3A2211&scaling=min-zoom&starting-point-node-id=4%3A2211&show-proto-sidebar=1) for three of them (Edit your site, Welcome to Styles, Set the design). You can test the animat

[2021-11-05 08:40] landwire opened #36242 "Dynamic Blocks Rendering: accessing parent blocks"
## What problem does this address?
Accessing parent blocks inside the PHP render_callback for dynamic blocks. See: "gutenberg_examples_dynamic_render_callback" in https://github.com/WordPress/gutenberg/blob/trunk/docs/how-to-guides/block-tutorial/creating-dynamic-blocks.md

## What is your proposed solution?
A function that I can call inside the PHP render_callback function that get's me infos (bl

[2021-11-05 09:05] markhowellsmead commented on #33789
There appears to be a little confusion in the code, in as far as there being two thumbnail sizes in the code: `thumbnail` and `post-thumbnail`. I've run through the function stack and debugged this process and it doesn't look as though this is the problem.

The function [`wp_get_attachment_thumb_file`](https://github.com/WordPress/WordPress/blob/master/wp-includes/post.php#L6534) looks for the thu

[2021-11-05 09:17] markhowellsmead commented on #33789
I've added this to Trac at https://core.trac.wordpress.org/ticket/54383.

[2021-11-05 09:18] jasmussen commented on #35093
I really like the color card in Global styles. It's primarily the fact that in the post editor it will nearly always show the transparency, which when duplicated like it is without the ItemGroup collapsing makes it lose much of its intrinsic meaning.

In that vein, I took a stab at Kelly's suggestion above in #36243. It's a quite hacky PR, and if it can be _unhackified_, it might be a better solut

[2021-11-05 09:33] #35750 closed, assigned to adamziel, talldan

[2021-11-05 09:34] paaljoachim commented on #27720
I am reopening this issue.

[2021-11-05 09:38] Chouby commented on #36229
I selected English as site's language in General > Settings and Arabic in my profile. Here is what I get in the FSE. The WYSIWYG part is displayed RTL. The site logo and site title are displayed on the right when they should be on the left. Menu items are RTL instead of LTR. This is what I meant by layout is messed.
![current-result](https://user-images.githubusercontent.com/3238583/140489405-c493

[2021-11-05 09:44] javierarce commented on #32844
Here are the three first gifs (I'll provide the static versions when you've reviewed them). Also, let me know if you want them to loop (the ones we show now only play once).

### Edit your site
_updated version below_

<a href="https://user-images.githubusercontent.com/4933/140489937-848fe89a-3c5f-4080-9378-c859283dc87f.gif"><img src="https://user-images.githubusercontent.com/4933/140489937-848fe8

[2021-11-05 09:46] jameskoster commented on #29372
Yep it's working fine for me too. Let's close this.

[2021-11-05 09:46] #29372 closed

[2021-11-05 09:55] carolinan commented on #36207
So the entire template details modal is removed?

[2021-11-05 10:26] carolinan commented on #36207
Then is there a new flow for resetting saved changes to the theme default (the HTML file)?

[2021-11-05 10:44] oandregal commented on #36187
I've prepared https://github.com/WordPress/gutenberg/pull/36246 in case we want to go ahead with this. Also left a few questions.

[2021-11-05 10:47] jameskoster commented on #30732
The other option – as mentioned above – would be to remove all display settings from the template part (both the block _and_ the document). Then if you want to add a background color / padding you'd have to wrap the _contents_ of the template part in a group and apply your styles there.

This means adding extra weight to the template part contents, but it would circumvent the technical issues poin

[2021-11-05 10:51] javierarce commented on #32844
And here's the gif for "Personalize blocks"

<a href="https://user-images.githubusercontent.com/4933/140499197-e497a167-edb8-4bfa-a462-3065dc962aba.gif"><img src="https://user-images.githubusercontent.com/4933/140499197-e497a167-edb8-4bfa-a462-3065dc962aba.gif" width="320"></a>

I'll probably try to come up with something a little more exciting for "Edit your site", but in any case let me know wha

[2021-11-05 11:05] carolinan commented on #30732
How and _should_ it be kept backwards compatible for the existing themes?

_The impact on Twenty Twenty-Two would not be that big, the header and footer parts are mainly patterns._

[2021-11-05 11:10] #35995 closed, assigned to nobody

[2021-11-05 11:12] ellenbauer commented on #36187
From my experience so far it would be totally fine to enable the settings by default as long as it's possible to opt-out of individual ones if needed.

I personally don't think an "appearance all" option is needed, but if it could benefit someone and add more flexibility for a variety of user cases, why not add it.

[2021-11-05 11:29] robin-scott opened #36250 "Accessibility Fix for Featured Images as Links in Latest Posts Block"
## What problem does this address?

As mentioned in https://github.com/WordPress/gutenberg/pull/24548#issuecomment-961753518

There is an accessibility issue with the "add link to featured image" option within latest posts block -- in that "Links do not have a discernible name" & should be updated to include an aria-label="The post title" in there.

This option:

![image](https://user-images.githu

[2021-11-05 11:31] #34872 closed, assigned to tellthemachines

[2021-11-05 11:53] javierarce commented on #32844
Ok, I added circle bursts to the following animations to make them more interesting:

### Welcome to styles
<a href="https://user-images.githubusercontent.com/4933/140506059-88d5f9d2-219f-4448-9e3e-4325208f3be0.gif"><img src="https://user-images.githubusercontent.com/4933/140506059-88d5f9d2-219f-4448-9e3e-4325208f3be0.gif" width="320"></a>

### Edit your site
<a href="https://user-images.githubuse

[2021-11-05 12:14] WunderBart opened #36254 "RichText: Unable to add a custom highlight color"
### Description

When trying to highlight text with a custom color, the input doesn't accept any new characters, and when trying to delete any character the popup menu closes. It seems to have been introduced with v11.8.0 as in my testing v11.7.1 works correctly (see demo videos).

### Step-by-step reproduction instructions

1. Write some text into a paragraph block
2. Select a part of this text
3

[2021-11-05 12:24] Addison-Stavlo commented on #30732
I think Jay's [most recent proposal](https://github.com/WordPress/gutenberg/issues/30732#issuecomment-961793853) does make a lot of sense.  My initial concern here was how users are able to recognize/select that internal group block, but the list view makes that very simple.  Thinking about it more, knowing about and using the list view seems vital for anyone using the site editor - so it seems re

[2021-11-05 12:49] davecpage commented on #34404
@talldan you were correct, the issue was similar to the one on #34199 in that the regexes needed to be adjusted.

[2021-11-05 12:51] davecpage commented on #34404
@noisysocks Similar to #34199 would this also need to be ported over to the WordPress core for inclusion in 5.9?

[2021-11-05 12:51] alshakero commented on #36254
Can confirm this is reproducible in trunk.

[2021-11-05 13:12] critterverse commented on #35093
One more thing to add to @kellychoffman's notes above — I think one thing that's hurting the readability is that there's not a very clear visual hierarchy between the section headings. Squinting at this image, the all caps palette headings almost appear heavier than the regular title case label:

![color-section-heading-hierarchy](https://user-images.githubusercontent.com/77359364/140436629-486bf2

[2021-11-05 13:18] jasmussen commented on #35093
Good call, that's another aspect. In the original context in which the card was designed, it's meant to be the entirety of the contents of the panel, meaning the sidebar header is the heading:

<img width="366" alt="Screenshot 2021-11-05 at 14 19 07" src="https://user-images.githubusercontent.com/1204802/140516416-c4e4709c-7eea-4a9c-a4e1-0beac2b57295.png">

[2021-11-05 13:22] #36170 closed, assigned to amustaque97

[2021-11-05 13:25] oandregal commented on #34349
All tasks here have landed so I'm closing this. For reference, I'm porting the changes to WordPress core at https://github.com/WordPress/wordpress-develop/pull/1808

[2021-11-05 13:25] #34349 closed, assigned to nobody

[2021-11-05 13:39] Flameeyes commented on #35086
Making sure that this issue is not considering "dormant" just because nobody said anything in a month.

[2021-11-05 13:58] jameskoster commented on #36207
The template details would still be present in the Inspector.

Good catch. This may or may not be a good thing – since in Editor beta you can be editing template and content together, "Reset customizations" could mislead folks in to thinking their content changes would be reset too.

If we want to keep this flow in Editor beta we may want to add it to the Inspector, something like:

<img width="52

[2021-11-05 14:01] dcalhoun commented on #35685
@fluiddot great finds! I took a look at the history of the RNTL's React Navigation docs and it indeed looks like async queries were explicitly added in https://github.com/callstack/react-native-testing-library/pull/364 to address the `ForwardRef(NavigationContainer)` errors.

My interpretation is that the initial query for _any_ screen that is accessed via navigation with React Navigation must rel

[2021-11-05 14:03] anton-vlasenko opened #36258 "It is possible to edit `wp_navigation` type posts via `Appearance -> Navigation menus` when a non-FSE theme is enabled"
## Description
We must not allow to manage wp_navigation type posts when the current theme doesn's support FSE.

## Step-by-step reproduction instructions
1. Enable a non-FSE theme like Twenty Twenty-One.
2. Check the `Appearance` pane.

## Expected behaviour
There must be no `Navigation Menu` menu item.

## Actual behaviour
`Navigation Menu` menu item is present when a non-FSE theme is enabled.

[2021-11-05 14:15] jameskoster commented on #30732
I don't think there's anything we can do to programatically address any issues in themes that arise from this change. That said, theme authors will still be able to achieve all the same results as before, mostly with the addition of a group block in their template parts as described above.

The worst case scenario is theme authors that are applying different background colors / padding etc to _the

[2021-11-05 14:20] #35947 closed, assigned to talldan

[2021-11-05 14:50] #36258 closed, assigned to anton-vlasenko

[2021-11-05 15:10] fluiddot commented on #35685
Yeah exactly, the conclusion is that it's required to wait for asynchronous code to be executed, and therefore, as you commented, wrap the call with `act` or use a query function that uses `act` underneath.

At this point, since this behavior is expected, I think we could close the issue with the findings and solutions we posted. Thanks @dcalhoun for the help on this 🙇 .

[2021-11-05 15:10] #35685 closed, assigned to fluiddot

[2021-11-05 15:40] #35907 closed, assigned to glendaviesnz, ramonjd

[2021-11-05 15:47] CodeProKid commented on #14215
I also have a use case that requires this functionality. I need to wrap all of the blocks that get rendered in the blocklist with a few shared providers for things like data fetching and setting up shared context for components to leverage.

We have an existing front-end component library that we want to integrate within the editor but don't want to have to change the architecture of the library t

[2021-11-05 15:51] noisybird commented on #32353
Yes, or maybe have an option for the reusable block to be converted into a regular block before it can be edited. An alert of some sort maybe?

[2021-11-05 16:19] alshakero commented on #36254
PR ready https://github.com/WordPress/gutenberg/pull/36263

[2021-11-05 16:20] walbo commented on #35902
Created an PR (#36264) to fix a regression in that PR.

[2021-11-05 16:32] tlosbar opened #36265 "Can't use hooks with the save function"
### Description

I'm trying to implement some gutenberg blocks for a plugin. I wrote custom hooks, working with axios and simply use the hooks useEffect() from @wordpress/elements and I have also some components (React Function) which use hooks  like useState() , useContext() from @wordpress/elements too.

These components and their hooks inside work well in the Edit function. But I can't get rid

[2021-11-05 16:38] dcalhoun opened #36266 "Image block Attachment Page link option lingers after switching to media to external URL"
## Description
If an Image block uses self-host media and has a "Link To" set to "Attachment Page," changing the media to be an external image URL in the web editor leaves the mobile editor displaying a stale "Link To" value of "Attachment Page." This was discovered in https://github.com/WordPress/gutenberg/pull/34846, as that work enabled this issue to be visible.

## Step-by-step reproduction in

[2021-11-05 16:56] shaunandrews commented on #35093
Shared a few ideas over on the related PR: https://github.com/WordPress/gutenberg/pull/36243#issuecomment-962057612

![](https://user-images.githubusercontent.com/191598/140548560-20188daf-a4b0-4b4f-af1f-f869b33a12bd.png)

[2021-11-05 17:44] iandunn opened #36268 "`render_block_core_query_title()` can't be filtered"
## What problem does this address?

`render_block_core_query_title()` doesn't have any filters. It calls `get_the_archive_title()`, which does have a few, but that's not enough to modify the early case, or the default (empty) title.

Related: #33476

## What is your proposed solution?

Add a filter like `block_core_query_title` to both of the `return` statements.

## Aside

I feel like this is a c

[2021-11-05 18:17] markhowellsmead commented on #33789
The response in Trac is that the issue was first flagged in https://core.trac.wordpress.org/ticket/17262.

Eleven years ago.

You might want to find a different solution.

[2021-11-05 18:51] #36254 closed, assigned to nobody

[2021-11-05 19:27] fabiankaegy commented on #35966
This appears to be resolved for the Core Column block as of #35342 and the Core Cover block as of #31326

[2021-11-05 19:27] #35966 closed, assigned to nobody

[2021-11-05 20:47] kellychoffman opened #36270 "When click on Editor (beta), styles panel is open"
- When you click on Appearance > Editor (beta), you are brought to the site editor with styles open.
- When you click on Appearance > Styles, you are also brought to the site editor with styles panel open.

[Now that we have two distinct paths](https://github.com/WordPress/gutenberg/pull/36194), one to Editor, one to Styles, we should differentiate the two a bit more. (Before we did not have a Sty

[2021-11-05 21:43] #36231 closed, assigned to dcalhoun

[2021-11-05 23:16] andrewserong opened #36274 "Release 11.9.0"
Tracking issue to note/order which PRs should be pulled into [`release/11.9`](https://github.com/WordPress/gutenberg/tree/release/11.9)

PRs ordered oldest commit to newest commit:

* [x] https://github.com/WordPress/gutenberg/pull/36259/
* [x] https://github.com/WordPress/gutenberg/pull/35773
* [x] https://github.com/WordPress/gutenberg/pull/36261
* [x] https://github.com/WordPress/gutenberg/pull

[2021-11-05 23:41] jorgefilipecosta commented on #35591
I like the option of using `{fontFamily, name, slug, fontFace }`under families. I think we should join font faces with font families. The fontFamilies key allows one to specify using theme.json, which font families are available on the UI. Why would I be defining a webfont on theme.json but then not make it available on the UI? Joining the two concepts together seems like a good idea. When a fontF

[2021-11-06 09:06] fabiankaegy opened #36275 "Add JSON Schema for `.wp-env.json` files"
## What problem does this address?

In the same way we now have JSON Schemas for `theme.json` and `block.json` I would love to also have it for the `.wp-env.json` file that is used by the `@wordpress/env` package to control the docker env.

## What is your proposed solution?

Create a new schema in he `/schema/JSON` directory to host the `.wp-env.json` schema

[2021-11-06 14:42] #33735 closed, assigned to ryelle

[2021-11-06 15:06] mkaz opened #36278 "Documentation: Generate theme.json metadata documentation from schema file"
## What problem does this address?

With the theme.json file now a part of the Gutenberg repository (https://github.com/WordPress/gutenberg/pull/35998) we can take advantage of this file and use it to auto-generate theme.json reference documentation.

The [current theme.json documentation page](https://github.com/WordPress/gutenberg/blob/trunk/docs/how-to-guides/themes/theme-json.md) includes a fa

[2021-11-06 15:12] mkaz opened #36279 "Documentation: Generate block.json metadata documentation from schema file"
## What problem does this address?

With the block.json file now a part of the Gutenberg repository (https://github.com/WordPress/gutenberg/pull/35998) we can take advantage of this file and use it to auto-generate block.json reference documentation.

## What is your proposed solution?

The [current block metadata documentation page](https://github.com/WordPress/gutenberg/blob/trunk/docs/reference

[2021-11-06 20:56] gVee commented on #33585
@getdave

Thanks for understanding.
After reporting to Chromium, I got a response below：
https://bugs.chromium.org/p/chromium/issues/detail?id=1264616#c4

That is **intentional for MacOS TextEdit** , so ....

[2021-11-07 15:01] simonhammes commented on #36067
I tried to reproduce this, following the outlined steps:

But it works for me (on trunk, using `npm ci`).
I modified the exact line in `reducer.js` to `describe.only` and Jest only executed this section.

[2021-11-07 20:53] spacedmonkey opened #36286 "As a contributor / author navigation block only shows a spinner"
### Description

As a contrubitor or author user, I create a navigation block and all is shown is a spinner. See video.

### Step-by-step reproduction instructions

1. Login as a contributor user
2. Create new post
3. Create new navigation block
4. Spinner never disappears.

### Screenshots, screen recording, code snippet

https://user-images.githubusercontent.com/237508/140661583-e636a7b3-9962-4f

[2021-11-07 21:16] TimothyBJacobs commented on #36286
We're going to fix part of this in the REST API by allowing anyone with CPT edit access to read this information. But we should investigate why there isn't an error message of some kind when that REST API request fails.

[2021-11-07 21:37] fabiankaegy commented on #36265
Hey @tlosbar,

This is a common misunderstanding of what the `save` method is actually doing. Unlike the `edit` method the react code here won't actually get executed on the frontend of the site. Instead, the `save` method gets used to generate a string of HTML markup that gets saved to the database.

Therefore the `save` method won't allow you to execute async code.

If you want/need to have some

[2021-11-07 21:37] #36265 closed, assigned to nobody

[2021-11-07 22:48] TimothyBJacobs opened #36287 "Stabilize Navigation Endpoints"
The nav endpoints, `/menus`, `/menu-items` and `/menu-locations` are merging into Core for 5.9. The JS looks to still be referencing `__experimental` as the namespace. This needs to be upgraded to `wp/v2`.

[2021-11-07 23:10] glendaviesnz opened #36288 "Image Block: border radius not applied if image is linked"
### Description

If an Image block has link applied, either external, media or attachment, then any border radius applied does not show in the front end.

### Step-by-step reproduction instructions

- Run the latest gutenberg plugin along with a theme with Image border radius enabled, eg. [Blockbase](https://en-nz.wordpress.org/themes/blockbase/)
- Add an Image block and set it to link to attachme

[2021-11-07 23:29] noisysocks commented on #31456
I think let's kick this out from WP 5.9 as https://github.com/WordPress/gutenberg/pull/36185 is blocked and we are past the feature freeze date.

[2021-11-08 00:53] chris-monahan commented on #13570
This is marked as closed but I'm not sure what the resolution is? My testing just now shows `multiline=false` not working and the linked pull says it introduces an `Editable` component that has formatting disabled but is multiline/has a number of benefits from RichText. I think that my use case is exactly the opposite however; I want to enforce a single line input while still allowing the user to

[2021-11-08 08:02] rubengc commented on #35107
Can anyone review this?

[2021-11-08 09:23] gziolo commented on #35902
Great catch @walbo. I see that you already relaxed the schema validation in #36267. It looks like we need to allow also an array of strings as the `type` in block attributes. Anyone knows how to code it? 😃

[2021-11-08 09:25] walbo commented on #35902
Yes. I'll create a PR so type can both be a string or an array.

[2021-11-08 10:20] gziolo commented on #35902
We still have some changes to sync with https://github.com/SchemaStore/schemastore/blob/master/src/schemas/json/block.json to be able to consider this issue as done.

[2021-11-08 10:31] johnbillion commented on #26980
Fixed in #29403.

[2021-11-08 10:31] #26980 closed

[2021-11-08 10:35] jameskoster commented on #36270
For the record, I think this is going to be a bit confusing regardless. Mostly because both links send you to editor views where the primary focus (IE the canvas) is identical. I would prefer the Styles link took you to a unique view, but we can get to that later. For now I agree that making sure the styles panel is closed when Editor beta is clicked would be a good first step.

[2021-11-08 11:05] spacedmonkey commented on #36287
Related: https://github.com/WordPress/gutenberg/pull/35846

[2021-11-08 11:23] Aljullu commented on #35994
I wanted to highlight that this is something that is affecting us as we are preparing WC for WP 5.9 and FSE editing. Until now, we worked on making WooCommerce templates (ie: Single product, Product archive, etc.) available from the Site Editor, so users could modify them from there (see https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/5062).

Since https://github.com/WordP

[2021-11-08 11:36] jameskoster commented on #35994
@Aljullu Yup, this should be included in 5.9 :)

Edit: That said, I don't think it has been assigned to anyone yet (maybe @kevin940726 ? 🤔), so if y'all have the bandwidth, I'm sure any help would be appreciated!

[2021-11-08 13:00] jameskoster commented on #35503
I worked on a few full-screen loading graphics [here](https://www.figma.com/proto/xndhKtrSkvL919bed0wwXc/Loader?page-id=91%3A1418&node-id=4%3A248&viewport=326%2C48%2C1&scaling=min-zoom&starting-point-node-id=4%3A248&show-proto-sidebar=1) and assembled my favorites in to some prototypes that demonstrate the full flow [here](https://www.figma.com/proto/xndhKtrSkvL919bed0wwXc/Loader?page-id=91%3A1419

[2021-11-08 13:07] jameskoster commented on #36207
Just noting that if we were to do this, we could close out https://github.com/WordPress/gutenberg/issues/35758.

[2021-11-08 13:14] jameskoster opened #36303 "Add "Clear customisations" template action to other views"
It's currently possible to reset customisations to a template whilst editing it via the dropdown in the top bar:

<img width="347" alt="Screenshot 2021-11-08 at 13 09 01" src="https://user-images.githubusercontent.com/846565/140747494-2d798593-126b-4847-a6c5-ac07eb5f2000.png">

We may remove this dropdown in the Appearance Editor (https://github.com/WordPress/gutenberg/issues/36207), but it should

[2021-11-08 13:24] kjellr opened #36304 "Allow themes to provide alternate color palettes"
Themes should be able to ship with multiple color schemes. For example, a "light" and a "dark" version that users can manually switch between.

This was generally mentioned in the [Twenty Twenty-Two announcement post](https://make.wordpress.org/core/2021/10/06/introducing-twenty-twenty-two/), and is related to the "Alternate theme.json" idea being explored in https://github.com/WordPress/gutenberg

[2021-11-08 13:48] gziolo commented on #36279
That would be great. We would have to include more details in the `block.json` schema file like:
- code example
- since when added to WordPress core
- mark localized fields

<img width="609" alt="Screen Shot 2021-11-08 at 14 48 36" src="https://user-images.githubusercontent.com/699132/140753273-ff80e0d9-54b2-4086-a14c-faa8c61bc033.png">

[2021-11-08 13:55] carolinan opened #36306 "Strange behavior with page list inside navigation area"
### Description

In Twenty Twenty-Two, the goal is to show a working menu on the front, even if the user is on a fresh site.
For that purpose, the page list is used in the navigation block in the header template part.

When trying to combine the page list with the new navigation-area, there is a bug in the site editor.
It is possible to add a page list to a navigation block inside a navigation are

[2021-11-08 14:19] getdave opened #36307 "Duplicate choices under the `Select existing menu` dropdown in the placeholder state"
When you add a new Nav block you get duplicate choices under the `Select existing menu` dropdown in the placeholder state:

<img width="667" alt="Screen Shot 2021-11-05 at 15 31 29" src="https://user-images.githubusercontent.com/444434/140536541-541967c3-b8c2-465c-b55f-039ffeee4a15.png">

This is because the original "Classic" menus are still in place but x2 block-based, facsimile Menus have been

[2021-11-08 14:26] carolinan opened #36308 "Appearance > Navigation menus > Edit shows template post attributes"
### Description

With a full site editing theme active, and I go to Appearance, Navigation menus and select edit,
there is a meta box called post attributes below publish.
There is an option called Template that lists the available post templates.

### Step-by-step reproduction instructions

1. Activate Twenty Twenty-Two.
2. Create and save a navigation menu with the navigation block.
3. Go to App

[2021-11-08 14:32] getdave commented on #36087
Is this now able to be closed out?

[2021-11-08 14:33] MaggieCabrera commented on #35884
I was testing and checking emptytheme and on trunk, with no padding defined, emptytheme doesn't have padding at all on frontend or backend, I think that's the correct behavior. I talked about this with @kjellr and it seems like this is more of a problem for classic themes not using theme.json.

Would the solution be to add this padding in the editor only for classic themes? And let block themes ha

[2021-11-08 14:34] carolinan opened #36309 "Appearance > Navigation menus: Visibility and publishing states"
### Description

When I go to Appearance > Navigation menus > Edit,
I can select the visibility: Public, password protected, and private.
I can also set it to pending review and draft.

Do these make sense for this post type? Is there anything like draft menu?

_I believe this is not as much a bug, as something that is not implemented yet._

### Step-by-step reproduction instructions

1. Activate

[2021-11-08 14:41] draganescu commented on #36307
The problemI see which needs a designer's input is the UX around the fact that:

- when a theme is switched the menus assigned to locations which can be migrated to areas are copied over to block menus
- the block menus can be edited but the default titles would remain
- simply filtering out the copied over would mean that if the user wants to get the original classic menu in the block context lat

[2021-11-08 14:51] WunderBart opened #36310 "Cover Block: Missing default background dim"
### Description

The default dimmed background is no longer working and the opacity control doesn't have any effect on it. This bug was introduced in https://github.com/WordPress/gutenberg/pull/35065.

### Step-by-step reproduction instructions

1. Add Cover Block
2. See that the background is not dimmed
3. See that the opacity control doesn't have any effect

### Screenshots, screen recording, co

[2021-11-08 14:52] WunderBart commented on #36310
/cc @glendaviesnz

[2021-11-08 15:19] getdave commented on #36286
I'll take a look at the UI side of this.

[2021-11-08 15:53] RavanH commented on #15094
@mihdan Nice! I was not aware of 'meta-box-loader' (available since WP 5.0 it seems?)... How does that request parameter behave when someone is using Classic Editor for example?

[2021-11-08 15:56] skorasaurus commented on #10975
closing this since both of the changes recommended by @tofumatt have been implemented.

[2021-11-08 15:56] #10975 closed

[2021-11-08 16:03] skorasaurus commented on #15265
now in the https://github.com/WordPress/gutenberg/blob/trunk/packages/edit-post/src/components/block-manager/index.js block-manager component

[2021-11-08 16:08] shaunandrews commented on #35503
I like the simplicity of the "Indeterminate bar" option, and I think it would work really well with Matías' suggestion of loading the pieces in bit-by-bit with an overlay.

There's something _off_ about the geometry of the "Layout" options; I think it has to do with the border radii and line-widths being different from the Gutenberg icon language. Perhaps it could work better if it felt more like

[2021-11-08 16:09] skorasaurus commented on #25304
@mkaz can this now be closed since it's been decided upon and used in https://github.com/WordPress/gutenberg/pull/30825 ?

[2021-11-08 16:14] #25304 closed

[2021-11-08 16:19] franmastromarino opened #36314 "ColorPicker enableAlpha=true breakes after alpha set to 100%"
### Description

Hello
We find this issue in the new colorpicker component

1. Create ColorPicker with enableAlpha=true
2. Set alpha to 100%
3. Change color

### Step-by-step reproduction instructions

1. Create ColorPicker with enableAlpha=true
2. Set alpha to 100%
3. Change color

### Screenshots, screen recording, code snippet

https://snipboard.io/qThJyr.jpg
https://gyazo.com/8ae83f32f30a6c1c7

[2021-11-08 16:21] shaunandrews commented on #36303
Adding a `ToolsPanel`-like menu to the template sidebar makes a lot of sense to me, and I think it something we'll want to do for posts/pages as well. Here's a mockup that shows how a "..." menu could work for a post:

<img width="963" alt="image" src="https://user-images.githubusercontent.com/191598/140778495-cd54470d-4705-48a3-a722-6ff3b84379f5.png">

I think this could also make sense in the Bl

[2021-11-08 16:51] #35990 closed, assigned to kevin940726

[2021-11-08 17:08] shadigaafar commented on #36237
changing the label text for RTL is enough for fixing this problem.

[2021-11-08 17:31] #36310 closed, assigned to WunderBart

[2021-11-08 17:50] ndiego commented on #35267
The title of the ticket is a bit too simplistic, this issue actually nullifies any margin settings set in theme.json if `blockGap` is enabled. It's because the following CSS is so specific. I feel a solution needs to be found before 5.9 heads out the door, especially since more and more block types are getting dimension controls. I am happy to explore solutions, if someone can point me in the righ

[2021-11-08 17:53] markhowellsmead commented on #29076
Is this the correct ticket in which to mention conditional block display? For example, I need to be able to switch between a query loop and a "no posts found" message in e.g. _block-templates/index.html_. Is this not possible, or have I just not found the documentation yet? Without this, we're blocked from using the FSE features for all of our sites.

[2021-11-08 17:53] markhowellsmead commented on #32939
Is this the correct ticket in which to mention conditional display? For example, I need to be able to switch between a query loop and a "no posts found" message in e.g. _block-templates/index.html_. Is this not possible, or have I just not found the documentation yet? (See also https://github.com/WordPress/gutenberg/issues/29076#issuecomment-963411603.)

[2021-11-08 18:01] walbo opened #36319 "Block attributes: Consider making `type` a required property"
## What problem does this address?
Currently block attributes requires either a `type` or an `enum`.

Only adding a `enum` on a attribute causes some issues on SSR blocks. When the attributes is prepared for render they are [validated with `rest_validate_value_from_schema`](https://github.com/WordPress/wordpress-develop/blob/31e92478728c8a95e8e297847699b03842558cd3/src/wp-includes/class-wp-block-t

[2021-11-08 18:04] jameskoster commented on #35503
I suppose it depends on what exactly doesn't load. Hypothetical scenarios:

* Nothing loading at all – total timeout
* Editor chrome (top bar, breadcrumbs, etc) loads – but nothing else
* Editor chrome + template loads, but template part(s) fail

I'm not sure how likely each of these are, or if I'm missing any?

Doesn't seem like there's much we could do in the first scenario. For the others, a mo

[2021-11-08 18:15] fullofcaffeine opened #36320 "[Cover Block] Changing gradient overlay color points using the color picker sometimes crashes the block"
### Description

When using the gradient overlay and clicking any of its color points to change its color using the color picker dialog sometimes crashes the block.

It doesn't always happen, and It seems to be related to the amount and speed of clicks across the color picker's UI controls, but when it does, it completely crashes the block in the editor, and you need to reload the page in order to

[2021-11-08 18:15] jameskoster commented on #36303
Certainly 👍

Yeah we can mimic trashing – red link, confirmation notice with undo option.

[2021-11-08 18:42] theresaweb commented on #35087
I am not clear what is meant by "disable the legacy widget previews entirely." For sites whose sidebars are currently made up entirely of legacy widgets, does that mean the widget area will be completely blank and make the only visual representation of what is there to be by clicking the List View icon?

What I am finding frustrating is that it seems random that some legacy widgets show a message

[2021-11-08 18:51] blogtutor commented on #35087
In my ideal world, any legacy widgets in the new block widget editor would just show the settings and no preview (like it does once you click on the preview itself).  So then there's no preview at all, and no "state change" when clicking on the preview -- it'll just look like the "old style" widget settings directly inside the editor. I still think this would be a massively better user experience.

[2021-11-08 19:18] ethanclevenger91 commented on #33379
Adding onto this - as a theme developer, the divergent APIs between creating block patterns and creating default templates is jarring. Seems like one method should be supported and recommended, rather than one using PHP arrays and the other using an HTML string.

[2021-11-08 19:27] theresaweb commented on #35087
@blogtutor thanks for clarifying and I agree that would be fine. But I am trying to understand the current mechanism by which at times I am seeing "No preview available" for a legacy widget and at times it is attempting to show a preview but the iframe returns nothing so it shows a blank spot in the Widget area.

 I have 2 very similar legacy widgets and one shows "no preview available" message in

[2021-11-08 19:34] TimothyBJacobs commented on #36286
Actually, can someone clarify (@youknowriad ?) whether any user should be able to use this block? This would expose all menu data to contributors and up which may be undesirable.

[2021-11-08 19:35] ethanclevenger91 opened #36323 "Support block patterns in post type templates"
## What problem does this address?
Registered block patterns can't subsequently be referenced within the `template` argument passed to `register_post_type`:

[code]

And due to #33379, this means you have to maintain both the HTML string version of a block pattern to use in `register_block_pattern` so it can be inserted on-demand, plus a PHP array version of the block pattern for use in a template

[2021-11-08 19:38] #36288 closed, assigned to glendaviesnz

[2021-11-08 20:15] annezazu opened #36325 "No templates or template parts found when activating a block theme"
### Description

After activating TT1 and TT2 (thank you @jffng for confirming) while using WP 5.8.2 and Gutenberg 11.9RC3, if you head to Appearance > Templates there are no templates found to edit. The same is true for template parts.

### Step-by-step reproduction instructions

1. Activate Gutenberg 11.9 RC 3.
2. Install and activate TT1.
3. Go to Appearance > Templates.
4. See no templates :)

[2021-11-08 21:12] iandunn commented on #32939
The `query-title` block should output "no results found", but doesn't do it in all situations yet: #33476

[2021-11-08 21:40] glendaviesnz commented on #36320
Thanks for reporting. This is a duplicate of https://github.com/WordPress/gutenberg/issues/36066 - it is related to the color picker rather than the cover block.

[2021-11-08 21:40] #36320 closed, assigned to nobody

[2021-11-08 22:21] colorful-tones commented on #33248
I believe this is a bit of a larger issue. It seems to affect Templates (both editor and output: front end), and not necessarily attributed to the Query Loop Block.

I'm currently running Gutenberg plugin 11.8.2, and I have two Group blocks and they're both set to alignWide. Here is my `theme.json`:

[code]

If I go to **Appearance** > **Templates** > **Add New** and drop this:

[code]

And then a

[2021-11-08 23:01] theresaweb commented on #35087
In case anyone else finds themselves here, this post was helpful to me https://github.com/WordPress/gutenberg/issues/16731#issuecomment-514692407

By adding
[code]
in the beginning of the widget function of my legacy widget,  the "No preview available" message is shown in the widget block editor but does not effect the front end display. (The suggestion [here](https://developer.wordpress.org/block

[2021-11-08 23:04] briceduclos opened #36330 "Gutenberg 11.9: Not possible to filter the global style settings anymore"
### Description

Before Gutenberg 11.9, it was possible to filter the block editor settings using this solution https://github.com/WordPress/gutenberg/issues/27504#issuecomment-858761483 posted by @oandregal.

Testing Gutenberg 11.9 RC-3, this solution doesn't work anymore. So, how can we filter the editor settings?

Thanks

### Step-by-step reproduction instructions

Use the filter below to modif

[2021-11-09 01:00] ramonjd commented on #22163
👋 Since https://github.com/WordPress/gutenberg/pull/34064 most core text blocks have support for text transforms:

![Nov-09-2021 11-44-52](https://user-images.githubusercontent.com/6458278/140841146-211d7618-bfef-494e-a260-56d783889946.gif)

The options aren't in the toolbar, but in the editor sidebar control panel.

Do you think it's a reasonable compromise or should we keep this issue open to di

[2021-11-09 01:01] ramonjd commented on #20801
👋 Since https://github.com/WordPress/gutenberg/pull/34064 most core text blocks have support for text transforms:

![Nov-09-2021 11-44-52](https://user-images.githubusercontent.com/6458278/140841146-211d7618-bfef-494e-a260-56d783889946.gif)

Post Title styles can also be targeted in the Site Editor since https://github.com/WordPress/gutenberg/pull/31623

<img width="289" alt="Screen Shot 2021-11-0

[2021-11-09 03:05] talldan opened #36335 "Site editor toolbar positioning underneath blocks can make it difficult to edit some blocks"
### Description

The toolbar positioning in this image makes it very hard to edit some overlapped items in the navigation block's submenu:
<img width="631" alt="Screenshot 2021-11-09 at 10 56 13 am" src="https://user-images.githubusercontent.com/677833/140853923-a16bb257-24dc-4760-b7f1-b3b9338cef0f.png">

I imagine this situation could also happen with other blocks that break out of their containe

[2021-11-09 05:21] Mamaduka commented on #36330
Hi, @briceduclos

We tested this during the Core Editor [Triage session today](https://wordpress.slack.com/archives/C02QB2JS7/p1636434928059200), and the `block_editor_settings_all` filter works expected.

The issue might be with individual settings. Can you share the example code you're using to filter those settings?

Thanks

[2021-11-09 05:31] talldan commented on #36323
@ethanclevenger91 I don't think it has been historically supported. There is a new block type called the pattern block, so an option would be to use this in a template and make that block reference a specific pattern.

There's a very similar request here - #21830. I'm going to close this issue as a duplicate and leave more detailed feedback on #21830.

[2021-11-09 05:31] #36323 closed, assigned to nobody

[2021-11-09 05:35] talldan commented on #21830
I've closed #36323 as a duplicate of this.

That issue was encountered during a triage session in slack (https://wordpress.slack.com/archives/C02QB2JS7/p1636435134063000).

There was a suggestion there to use the newly introduced pattern block in the template (see https://github.com/WordPress/gutenberg/pull/33217).

That block has a `slug` attribute that can be used to reference a pattern - https:

[2021-11-09 05:36] delowardev opened #36337 "ColorPicker gets stuck while changing the color."
### Description

When someone changes the color, suddenly it gets stuck and the pointer inside the picker starts blinking automatically.

![](https://media.giphy.com/media/Q5kGxXHI7aY7R2iJlS/giphy.gif)

### Step-by-step reproduction instructions

1. Open ColorPicker
2. use `enableAlpha` true
3. Change alpha slider for few times
4. Keep moving the color pointer inside the color picker, it will star

[2021-11-09 05:40] Mamaduka commented on #36337
Hi, @delowardev

I think this might be a duplicate of #36314. I just tested the issue and confirmed it's a bug.

[2021-11-09 05:44] delowardev commented on #36337
@Mamaduka they are different I think, this one doesn't break the UI and shows error only in the browser console. But mentioned issue breaks the layout and component itself.

[2021-11-09 05:45] fabiankaegy opened #36338 "JSON Schema of `theme.json` doesn't support custom blocks"
### Description

When using the JSON Schema from the `theme.json` file located at https://schemas.wp.org/trunk/theme.json the `blocks` key only supports all the different core blocks right now. https://github.com/WordPress/gutenberg/blob/a9b7e98ecf48ae134e42074abb23115fd31c9c7a/schemas/json/theme.json#L566

I think the best option here is to add the blocks in a `anyOf` block where it can either be

[2021-11-09 05:48] talldan commented on #36309
Agreed, it'd be great to look at potentially removing that status option if it's possible. If not, it might just be something we have to live with for now.

cc @anton-vlasenko

[2021-11-09 05:48] Mamaduka commented on #36337
I think we see a broken block message because of the error boudary. But I'm happy to re-open to issue if you think they are different.

[2021-11-09 05:51] delowardev commented on #36337
@Mamaduka I did try inside WordPress, it just gets stuck, doesn't break UI. Please check this short clip: https://share.vidyard.com/watch/gaoM7cVFpqVN1QVkeGPrY9?

[2021-11-09 05:52] Mamaduka commented on #36337
Thanks for the confirmation.

[2021-11-09 05:53] talldan commented on #36308
Thanks for flagging this too. Similar to https://github.com/WordPress/gutenberg/issues/36309, I think it'd be good to look at whether this can be refined for 5.9, so adding it to the board.

[2021-11-09 06:01] nielslange commented on #26766
I just run into the same problem and found out that `wp-env run cli "wp theme activate twenty-twenty"` only changed the theme within the WordPress development site. To change the theme within the WordPress test site, I ran the command `wp-env run tests-cli "wp theme activate storefront"`. I thought it's worth sharing in case someone else is facing this problem.

[2021-11-09 07:00] kevin940726 commented on #35994
I've looked into this, but unfortunately I'm still not sure how to fix this. Perhaps would be easier for PHP/WP experts to take this ;)

[2021-11-09 07:00] inc2734 opened #36339 "When the user role is author, blocks cannot be edited if the block name contains consecutive hyphens (unsupported)."
### Description

When the user role is author, blocks cannot be edited if the block name contains consecutive hyphens (unsupported).
I want it to appear the same way in all roles.

I couldn't decide if such naming conventions were not allowed or if it was a bug, so I raised an issue.

### Step-by-step reproduction instructions

1. Create a custom block with a block name that includes consecutive h

[2021-11-09 07:04] carolinan commented on #36325
Are there any user created templates or template parts?
Because those are the only templates and parts that will show up, since they are saved in the database.
I can confirm that templates with saved changes and custom templates show up.

Displaying the theme files has not been implemented yet: https://github.com/WordPress/gutenberg/issues/35994

[2021-11-09 07:08] kevin940726 commented on #36325
Yep, this should be a duplicate of #35994. I'll close this for now, but feel free to re-open it if it's not the case.

[2021-11-09 07:08] #36325 closed, assigned to nobody

[2021-11-09 07:11] kevin940726 commented on #36240
I can't reproduce this locally after running the tests for several times. I'm starting to think that maybe they are actually just flaky tests, but for some reasons they won't recover after they failed. 🤔

[2021-11-09 07:56] youknowriad commented on #36286
I'm not familiar with this block personally but yes, I believe like all blocks, it's supposed to be usable by everyone, so I guess we'd have to adapt its behavior (hide things) for contributors.

[2021-11-09 08:02] oandregal commented on #36330
Hi Brice, by any chance, are you filtering some of the [theme settings](https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-json/#backward-compatibility-with-add_theme_support) we retrofit into theme.json? These are `custom-line-height`, `custom-spacing`, `custom-units`, `disable-custom-colors`, `disable-custom-font-sizes`, `disable-custom-gradients`, `editor-color-palette`, `e

[2021-11-09 08:08] talldan commented on #36306
Thanks for reporting this. I think it'd be good to still allow markup like you describe so that if the Navigation Area has no assigned menu the block falls back to showing the Page List both in the editor and on the front-end of the site. If there is an assigned menu for an area then it would show that instead. Something must have gone wrong along the way for this not to work.

[2021-11-09 08:57] briceduclos commented on #36330
Thanks for your replies. I'm using the following code:

[code]

I've just realized it still works in the page/post editor, but it doesn't work in the site editor (Appearance > Editor).

[2021-11-09 09:11] markhowellsmead commented on #32939
Thanks for the information. But that's not sufficient for displaying a completely different combination of blocks when no posts are found. For example, adding text information, a sitemap, or a search form with more detailed instructions.

[2021-11-09 09:32] getdave commented on #36286
Yep. Several tasks will likely need to spin out of this one in terms of making sure the block adapts to different user types.

[2021-11-09 09:54] jameskoster opened #36348 "Highlight the template that displays the site home and posts pages"
In wp-admin, the Pages list marks which pages are used for certain purposes, IE the front (home) page, the posts page, the privacy policy page, and so on:

<img width="516" alt="Screenshot 2021-11-09 at 09 41 45" src="https://user-images.githubusercontent.com/846565/140900437-d128c8d7-09e5-4725-b026-5c15d00b3e23.png">

It would be helpful to mark templates the same way, and allow plugins to extend

[2021-11-09 10:09] bobbingwide opened #36349 "Block inserter - never ending scrolling with Gutenberg >=11.4 and Genesis theme framework"
### Description

When attempting to insert a Dynamic Content Block ( oik/content-block ) into a post I typed `/con`. The block inserter started populating with blocks then a while later the list started getting ever larger.

It was trying to display "Media and text in a full height container".
Here's a screen capture taken before the window started getting larger and larger.
Note: In order to get

[2021-11-09 10:12] jeffikus commented on #35884
@MaggieCabrera Are you saying add the padding only if theme.json is not present in a classic theme?

[2021-11-09 10:14] MaggieCabrera commented on #35884
Yeah, and only in the editor, not the frontend, so that it behaves like before the regression, but excluding themes with a theme.json file.

[2021-11-09 10:16] jeffikus commented on #35884
@MaggieCabrera that makes sense to me, I agree with that solution.

[2021-11-09 10:18] jameskoster opened #36350 "Add shortcuts to access the pattern explorer"
The [Pattern Explorer](https://github.com/WordPress/gutenberg/pull/35773) is a powerful feature. We might consider adding shortcuts to make accessing it a bit easier.

One obvious option would be a keyboard shortcut. Another would be to surface it in the quick inserter:

<img width="669" alt="Screenshot 2021-11-09 at 10 14 16" src="https://user-images.githubusercontent.com/846565/140905588-a0b93c5

[2021-11-09 10:25] gziolo commented on #36319
I opened https://github.com/WordPress/gutenberg/pull/36351 that marks `type` as required. It also improves validation for the `enum` field.

[2021-11-09 10:49] getdave commented on #36307
@draganescu - @jasmussen has a take on this in https://github.com/WordPress/gutenberg/pull/36311#issuecomment-963252972

[2021-11-09 11:26] bobbingwide commented on #36349
Looking at both of the block patterns when loaded into the editor it would appear that the common denominator is  the style of the background image `min-height:100vh`.

I reproduced this by creating my own block pattern that features this CSS.
It's just a simple cover block.
[code]

Changing the `minHeight` to `99` resolved the ever growing problem in the inserter.
So did using a different unit: e

[2021-11-09 11:31] getdave commented on #36286
So as pointed out above I'm getting a 403 Forbidden for the Menus endpoint. This will get fixed _but_ we should add a fallback in the UI which I will do now.

Ok it looks like the fallback in the UI is already in place it's just a bug with Core Data. I have a fix in https://github.com/WordPress/gutenberg/pull/36353.

[2021-11-09 12:25] carolinan commented on #36308
I tried the following, without success:

1. [remove_post_type_support()](https://developer.wordpress.org/reference/functions/remove_post_type_support/) on _init_. This did nothing, _I was unable to remove any post type support._
2. [remove_meta_box()](https://developer.wordpress.org/reference/functions/remove_meta_box/) This caused a PHP error.

[2021-11-09 12:54] kjellr commented on #35884
I think that makes sense for now as a fix the regression in older themes.

[2021-11-09 12:59] bph commented on #35812
@jasmussen hmm you might be right about the theme influencing the alignment. It's odd that I don't mention the theme in the issue. I'll double check it again and will also test the PR and see if that'll fix it. It will take a few days though.

[2021-11-09 13:02] jasmussen commented on #35812
Don't worry able it, I think there's potentially an easy bug fix. Happy to help.

[2021-11-09 13:05] carolinan commented on #35994
While referring to this issue and trying to find a developer to work on it, I was notified that the issue is not well documented, and I was asked to link to the decision about why the screen needs to show the different types of templates.

I am not sure what to point to other than the design proposals in https://github.com/WordPress/gutenberg/issues/29630

I'll link to this PR as well if it helps

[2021-11-09 13:29] richrd commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-11-09 13:50] jameskoster commented on #35994
In addition to the links you provided I would say: if we don't list all templates here then it will not be possible for users to customize templates that are added by themes or plugins in 5.9. They will only be able to create (and edit) templates from-scratch, which seems like a shame.

I believe @Aljullu is looking in to working on this. I don't know if you want to assign this issue Albert?

[2021-11-09 13:58] annezazu commented on #23968
Sharing feedback from a [recent Gutenberg review](https://wordpress.org/support/topic/the-work-procedure-should-be-the-shortest-minimum) that relates to this happening:

For example, unless you maintain a certain screen width, the sidebar will be forced to close when you add a block.
The user will have to bring back the sidebar every time.
I don’t understand why they are trying to increase the num

[2021-11-09 14:01] jameskoster opened #36352 "Disable quick edit for templates"
The "quick edit" functionality from the Post sand Page list views is also present on the Templates list:

<img width="1070" alt="Screenshot 2021-11-09 at 13 58 33" src="https://user-images.githubusercontent.com/846565/140937265-3f9de2dc-83ff-49ad-a152-5b442281971b.png">

We should probably disable this for now.

* Changing a template name will break how it functions. We do not currently allow temp

[2021-11-09 14:06] jameskoster commented on #35994
One more thought one this one, for unedited templates that are supplied by themes and plugins, we might consider updating the action to read "Customize" rather than "Edit".

<img width="273" alt="Screenshot 2021-11-09 at 16 18 13" src="https://user-images.githubusercontent.com/846565/140962556-a0aaf1ed-0268-43e9-a10a-892508d37bb9.png">

This could help users better understand that they're customiz

[2021-11-09 15:21] Aljullu commented on #35994
@tjcafferkey @dinhtungdu are interested on working on it. For some reason I'm unable to assign the issue to them (and they can't assign it either).

[2021-11-09 16:03] jameskoster opened #36354 "Move Theme Editor to Tools when a block theme is active"
Once the designs proposed in https://github.com/WordPress/gutenberg/issues/29630 are implemented, we're going to have two fairly similar menu items under Appearance:

* Editor (beta) – This is where you go to visually customise your home page and styles in the "Site Editor".
* Theme Editor – This is a code editor for theme files

In many ways, the Site Editor will become a safer, more visual, user

[2021-11-09 16:15] annezazu commented on #36325
Ah ha! Thank you for connecting these dots :)

[2021-11-09 16:52] TimothyBJacobs commented on #36286
Thanks @youknowriad. Do you think it is acceptable that this block won't show the "Convert from an existing menu" UI for non-administrators?

[2021-11-09 16:54] TomaGap commented on #16425
Hi I've come across your script. Just wondering if you did not have to add the admin.js script to the function.php register / enque?

[2021-11-09 17:01] vindl commented on #36021
I think this issue is no longer relevant after we merged https://github.com/WordPress/gutenberg/pull/36194. The W button is now taking the users back to the dashboard.

Feel free to reopen it if I missed something.

[2021-11-09 17:01] #36021 closed, assigned to vindl

[2021-11-09 17:20] juanmaguitar commented on #33429
Closed as per https://github.com/WordPress/gutenberg/pull/34091
Thanks @mkaz for taking care of this 😊

[2021-11-09 17:20] #33429 closed, assigned to nobody

[2021-11-09 18:19] #36338 closed, assigned to fabiankaegy

[2021-11-09 19:04] LukaszJaro commented on #22332
I ran into accessibility issues with generic link text(WCAG 2.0 - 2.4.4 Link Purpose) but WP had no solution for this so here's what I came up with with the help of a accessibility expert.

I created a custom screen reader format and applied the WP recommended screen-reader-text class https://make.wordpress.org/accessibility/handbook/markup/the-css-class-screen-reader-text/#practical-examples

The

[2021-11-09 19:42] georgeh commented on #31733
Unless this is urgent, I think we should wait until #35870 is done, since that will make the transformation much easier.

[2021-11-09 19:44] NicktheGeek commented on #22332
@LukaszJaro I ended up creating this functionality as a plugin
http://wordpress.org/plugins/screen-reader-text-format/

Though I still feel it should be part of core if strikethrough and other text formats that may be relevant to screen reader users are part of core.

[2021-11-09 20:13] luisherranz commented on #34352
I've been studying how patterns work lately. I'm still not 100% sure that I got all the details correct, but these are my two cents, which also differ a bit from what has been said here, so I hope they add some value.

First of all, I like the word **synchronized**.

It may be a bit technical, yes, but no other word (at least shared in this issue) informs better to the user that their changes will

[2021-11-09 20:14] sdwire commented on #34574
I see a comment "The gradient tool still needs to be finalized."

That's encouraging. I'm not seeing if/where a design discussion is happening. Is there a page for discussing the gradient tool?

One thing I'd really like to see in the gradient tool is to let me select colors from among the solids in the color palette. If l then change the value of a color in the palette of solids, I'd like to see

[2021-11-09 20:16] LukaszJaro commented on #22332
@NicktheGeek I like it! The way it doesn't impact the visual layout unless you click on the block is smart.

I would also suggest using default WordPress class for screen reader text to not clutter the CSS or maybe a option to disable the style and use theme instead.

I think the reason it should be part of the core is it will reach a wider audience where they can be educated on this issue.

[2021-11-09 20:19] luisherranz commented on #34352
Oh, I've just realized that patterns already have some [properties defined at registration time](https://developer.wordpress.org/block-editor/reference-guides/block-api/block-patterns/#register_block_pattern), nice 🙂

[2021-11-09 20:19] colorful-tones opened #36360 "Color naming conflict for theme variables"
### Description

As I was running through testing of [FSE Program Testing Call #11: Site Editing Safari](https://make.wordpress.org/test/2021/11/08/fse-program-testing-call-11-site-editing-safari/) I noticed an odd behavior with Global Styles custom colors.

I'm running `WP 5.8.2-RC1-51987` using [Beta Tester plugin](https://wordpress.org/plugins/wordpress-beta-tester/), and using [Gutenberg 11.9

[2021-11-09 20:28] iandunn commented on #32939
Ah, I see.  Then yeah, this seems like a good issue to me 👍🏻

[2021-11-09 20:33] NicktheGeek commented on #22332
It's using a prefixed method for two reasons
1. I've been burned by other plugins and themes overriding core WP classes to do it "their way" and breaking my usage in other plugins previously.
2. In the editor I need to be able to reveal this formatting and don't want to reveal other screen reader only content that isn't editable such as controls or icons that might be in the content.

I fully agre

[2021-11-09 22:42] jhnstn opened #36364 "[RNMobile] "Link to" is not auto populated when copying link from Google app ellipsis menu"
## Description

When adding a link in the mobile editor the "Link to" form field should be populated with a link from the clipboard if present.
This does not happen if the link is copied from the  Google app ellipsis  menu.

## Step-by-step reproduction instructions

On WPAndroid

1. Open Google app for any web page.
2.  Click on the vertical ellipsis to copy the link : `⋮ > copy link`, note "Link

[2021-11-09 22:57] paulwilde opened #36365 "Bugs with autogenerated heading anchors"
### Description

I wrote [a comment](https://github.com/WordPress/gutenberg/pull/30825#issuecomment-959051708) on the feature pull request about a week ago but given it's already a closed pull request it likely got lost.

There's currently some issues with the autogenerated heading anchors that are increasingly frustrating as someone who has been building a website with the latest version of Guten

[2021-11-09 23:08] anton-vlasenko commented on #36309
I've pushed the PR, but the tests are failing. There is something wrong with the trunk branch (other PRs fail too). We may need to wait for the fix.

[2021-11-09 23:52] vindl opened #36366 "Site Editor: return SlotFill for W button"
### Description

Initially we had a SlotFill for W button that allowed 3rd party apps to override this button in a maintainable way. Most notably this was useful for changing the back URL and site icon.

After the introduction, refactor, and removal of Browsing Sidebar this slot is no longer present, so the previous functionality has regressed.

This should've been included in https://github.com/W

[2021-11-10 00:05] HongPong commented on #33712
This bug has been happening when dragging text to create links, I believe it is probably the same bug. As well as Italics. Thank you for your attention to this serious issue.

[2021-11-10 01:28] lsl commented on #32939
[code]

I like this api for the problem/solution.

I'm not sure on how and where this page/post/single/singular context is coming from? Is this something the rendering function must provide at a global level?

One thing I like about block html is that it can be rendered anywhere and, ignoring server side rendering, you always get the same result.

I'd prefer any template hooks to be done in JS lea

[2021-11-10 03:28] ramonjd commented on #36096
Was looking at this again. I _believe_ there's some race condition in the store, or we're not correctly removing entity edits when we save.

When the entity checkboxes are saved, and we update via [saveSpecifiedEntityEdits()](https://github.com/WordPress/gutenberg/blob/92f75c1480238323df4cac499c0560a9b32cbda7/packages/editor/src/components/entities-saved-states/index.js#L154), by the time we hit p

[2021-11-10 04:00] kevin940726 commented on #35994
I tried looking into the [source](https://github.com/WordPress/wordpress-develop/blob/trunk/src/wp-admin/includes/class-wp-posts-list-table.php) and couldn't find a way to extend the default list. I'm definitely missing something, but I don't have time to dig into it deeper 😅.

[2021-11-10 04:59] kevin940726 commented on #36067
I can't reproduce this either. For me, it's correctly running only the tests I specified. @talldan Could you provide more info or maybe try it with a different setup?

[2021-11-10 06:37] carolinan commented on #36354
I created [a Trac ticket ](https://core.trac.wordpress.org/ticket/54382)for this 5 days ago, and it has two simple patches, one that moves the theme editor menu item, and one that moves both the theme editor and the plugin editor menu item, as suggested in ticket.

I do not think that this should be solved by making changes to Gutenberg.
I also do not think it is a good idea to have them in two pl