[2022-10-19 12:00] jonathanbossenger opened #45109 "Deactivating core patterns does not seem to work as expected."
### Description

In the section on [removing or hiding block patterns](https://developer.wordpress.org/themes/advanced-topics/block-patterns/#removing-or-hiding-block-patterns) in the Theme Developer handbook on block patterns, the ability to disable core patterns is described:

However, when attempting to do this in a block theme, it does not appear to work.

### Step-by-step reproduction instruc

[2022-10-19 12:04] mirka commented on #35649
Closing this for now since I haven't encountered it in a while.

[2022-10-19 12:04] #35649 closed, assigned to nobody

[2022-10-19 12:14] fernandotellado opened #45111 "SEO problem with Site Title Block"
### Description

The site title block in the header section of FSE is shared with the theme's templates and thus if you set the site title to use the H1 HTML tag could be OK for a blog posts homepage but it could conflict with user-generated content inside the page, where is common to apply H1 tag to the main claim inside the page.

There's a similar issue when editing a single or page template, w

[2022-10-19 12:39] carolinan commented on #45111
The implementation details of which tag to use is up to the theme developer, Gutenberg only offers the set of options the developer can choose from.

- Another way around it is also to use the site title as a paragraph in the site header, and have a separate H1 on the home page.
- From the support requests for Twenty Twenty-Two, we can see that having nested headers or different headers on the hom

[2022-10-19 12:40] aristath commented on #45111
Multiple H1 elements on a page are completely valid and have no effect whatsoever on a page's SEO. It used to be the case years ago, but it hasn't been the case for many years. Google even has some videos regarding that same topic, you can watch https://www.youtube.com/watch?v=WsgrSxCmMbM for example.
That being said, if you absolutely want to control the element on a per-template basis, you can d

[2022-10-19 12:48] fernandotellado commented on #45111
@carolinan I've detected the issue with Twenty Twenty-Three (default) theme :)

Your first bullet is my option 1, and it's a valid one :)

@aristath I don't want to begin a SEO debate :D  My point is exactly your second appreciation :)

Thank you all for the responses and interest ;)

I think that, specially being a default WordPres theme it should offer the best option possible: a per template si

[2022-10-19 12:58] t-hamano commented on #44374
Thank you for the advice, @talldan !

I have confirmed that this problem is still reproduced in RC2. I will create two PRs as soon as possible in time for RC3.

[2022-10-19 13:08] amkdev commented on #43748
I can confirm this problem.

Inserting a shortcode creates an enclosing p-tag.

very annoying.

[2022-10-19 13:25] bph commented on #45095
Thanks @juanmaguitar for creating an issue here as well.

[2022-10-19 13:26] carolinan commented on #45111
TT3 uses a paragraph for the site title, and an H1 on the home template: [Header,](https://github.com/WordPress/twentytwentythree/blob/trunk/parts/header.html#L5) [Home](https://github.com/WordPress/twentytwentythree/blob/trunk/templates/home.html#L5)

[2022-10-19 13:43] Yusef-Duarte opened #45116 "WordPress"

[2022-10-19 13:46] beafialho opened #45117 "Align footer to the bottom of the page when the page has no/little content"
Whenever I add a footer and a page has no content or little content, what happens is that the footer stands in the middle of the screen, which looks awkward and buggy.

It would be nice if there was a way to align the footer template part to the bottom of the page when there's little content. In case this looks similar to #30121, I do not mean to have the footer fixed on scroll (which would also b

[2022-10-19 13:50] oandregal commented on #44582
I'm going to investigate this. I remember having seen a mention or a sketch for having the ability to switch whole sections in the zoom-out view as well (or was it the site editor?), though I can't find it now. I guess both things are related. Would anyone have a link/sketch handy?

[2022-10-19 13:51] davidwebca commented on #33346
Hi @ellatrix! I remember following this issue a while ago - I think it was on another thread or issue? - and I was hoping the block editor would be iframed by 6.0. Do you have knowledge of a timeframe/version number goal for this? Is there another issue that I can follow or is this the best place to be up-to-date?

[2022-10-19 14:20] oandregal commented on #44582
I am reading through prior art and ran into this use case:

- We allow patterns to declare which block types they support ([blockType](https://developer.wordpress.org/block-editor/reference-guides/block-api/block-patterns/#block-patterns-contextual-to-block-types-and-pattern-transformations)). These patterns will be surfaced in the block toolbar as any other transformation.
- The same works for _m

[2022-10-19 14:26] #44990 closed, assigned to dcalhoun

[2022-10-19 14:30] colorful-tones commented on #44128
After some consideration and research across different existing Gutenberg issues. I believe this is a more suitable request for extending the Search block, which seems to intertwine with #31128 and #22071

I'm closing this out and will look to contribute towards those initiatives.

[2022-10-19 14:30] #44128 closed, assigned to nobody

[2022-10-19 14:43] getdave commented on #45083
I can observe the same behaviour using the following markup:

[code]

Therefore I don't _think_ this is specific to the Navigation block but rather the Page List block.

[2022-10-19 14:56] fernandotellado commented on #45111
@carolinan I've just reverted changes to templates and template parts and header is shared. If I make any changes in header section of site editor it changes header template part

[2022-10-19 15:01] getdave commented on #45083
Narrowing this down some more. It seems that the Page List block as an inner block is not receiving the `focusin` event under certain conditions.

This is causing the `onFocus` _callback_ of [`useRefEffect`](packages/block-editor/src/components/block-list/use-block-props/use-focus-handler.js) not to run for the Page List block. Instead it just runs for the wrapper block.

However, some changes in

[2022-10-19 15:23] getdave commented on #45083
Going deeper. The `focusin` handler is not registered on the Page List `<ul>` element. It appears is is removed by the cleanup function returned by `useFocusHandler`.

### Before toggling Code Editor mode
<img width="1178" alt="Screen Shot 2022-10-19 at 16 22 11" src="https://user-images.githubusercontent.com/444434/196734572-c405a370-010f-4ff0-9b71-c82b816c4738.png">

Notice that the only event h

[2022-10-19 15:26] jameskoster commented on #44582
This is still a WIP, but yes I would say that both are related.

There's also the [shuffle concept](https://github.com/WordPress/gutenberg/issues/44581) for templateLock:contentOnly blocks which is similar. Indeed this could drive the transforms you mention. IE if you select a heading and a paragraph the transform menu could expose patterns that are made up of those content blocks specifically.

[2022-10-19 15:31] dcalhoun opened #45124 "Native Image component includes outdated accessibility hint"
## Description

When using a screen reader to navigate images in the native editor, an erroneous "Double tap and hold to edit" hint is read aloud. This discrepancy likely originates from https://github.com/WordPress/gutenberg/pull/40651.

## Step-by-step reproduction instructions

1. Add an Image or Media & Text block.
2. Add media to the block.
3. Enable Voice Over.
4. Move focus to the image.

#

[2022-10-19 15:35] dcalhoun commented on #45124
I explored fixing this briefly, but paused as it was not completely clear if the label should be removed or updated. The a11y hint/state/action also appears to spread across the Image component and Image/Media & Text edit components. Both the Image and Media & Text edit components support various actions depending upon the state of the media, so we should likely have a dynamic accessibility hint.

[2022-10-19 15:38] getdave commented on #45083
I now believe the following

- the clean up function of `useFocusHandler` is running for the Page List node.
- `useRefEffect` will run it's cleanup if the `ref` changes.
- the "ref" is passed via `useMergeRefs` here (notice that `useFocusHandler` is one of the hooks):
https://github.com/WordPress/gutenberg/blob/88a1f7ae18bea3a13f6d1e507e3c25090b76cb08/packages/block-editor/src/components/block-lis

[2022-10-19 15:59] skorasaurus commented on #45116
There is not enough information to act upon this; please follow the guidelines listed in https://github.com/WordPress/gutenberg/issues/new/choose for the best place to answer your question.

[2022-10-19 15:59] #45116 closed, assigned to nobody

[2022-10-19 16:07] t-hamano commented on #44374
I first created a PR #45118 to backport to WP6.1. I would appreciate if someone could review it.

[2022-10-19 16:43] kohheepeace commented on #17738
I think emoji is better than preset default style.

![2022-10-20 01 27 19](https://user-images.githubusercontent.com/29557494/196750386-1e9fc664-0458-48d7-a5bd-f761f8b5fb7f.gif)

[Idea]:
- Add `emoji` attribute to `core/list`
- Add `InspectorControls` with [emoji-mart](https://github.com/missive/emoji-mart) to allow user select emoji
- Inline css to `ul` when user select emoji
[code]

[caveat]:
-

[2022-10-19 16:47] bradhogan commented on #41824
Hey, @carolinan.  If I add `wp-element-button` to input or button elements in a Custom HTML block like:

[code]

The buttons do not pull in the default styles of the core button block set in the theme.json.

When you say "update theme.json", do you have an example of that?  I believe any environment / theme I've tested has an updated theme.json but would love to rule that out as an issue just not

[2022-10-19 17:11] anarieldesign commented on #44946
When testing the same thing with 6.0 this is not happening, importing content works all good and it shows immidiately on the front. Maybe this can help to see what has been changed in 6.1 that is causing this issue @draganescu

[2022-10-19 17:37] sabernhardt commented on #33989
Core's multisite registration and activation pages also need default header and footer templates. See [Trac 55023](https://core.trac.wordpress.org/ticket/55023).

[2022-10-19 17:56] annezazu commented on #45083
Amazing job continuing to sleuth. Thank you.

[2022-10-19 18:39] annezazu commented on #32163
[After running a few different tests](https://make.wordpress.org/test/2022/09/15/fse-program-testing-call-17-guiding-the-gutenberg-gallery/) around the newer zoomed out view https://github.com/WordPress/gutenberg/pull/41156, I wanted to note that colorization of template parts, patterns, etc will be advantageous in that view as well. Here's feedback from a coworker for example that helps underscor

[2022-10-19 18:56] annezazu opened #45127 "Zoomed out view: add ability to change the amount of zoom"
## What problem does this address?

Across a few different testing efforts for the zoomed out view, [including the FSE Outreach Program](https://make.wordpress.org/test/2022/10/15/fse-program-guiding-the-gutenberg-gallery-summary/), it's been noted that folks want the ability to control how much zooming occurs:

From a coworker during an internal testing effort:

## What is your proposed solution?

[2022-10-19 19:06] michalczaplinski commented on #45084
I just took a look at this and it's not specific to the Comments block. I can reproduce the problem when trying to edit the Footer template as well:

https://user-images.githubusercontent.com/5417266/196780285-b0f7c687-983f-4a4a-9c36-df3ba7e83581.mp4

The problem seems to be this CSS rule:

https://user-images.githubusercontent.com/5417266/196781773-0806d2db-f6e1-4dce-a7c4-e60bf9130ba4.mp4

[2022-10-19 19:07] michalczaplinski commented on #45084
I will try to debug this further

[2022-10-19 19:14] Mamaduka commented on #44716
Thanks for the reproduction code, @lgladdy!

I think the original behavior changed after the changes from #30617 landed in WP 5.8.x.

@jsnajdr, I know you're working on an improved flow for saving meta boxes as part of #44971. Would it be possible to account for lazy loaded meta boxes in that flow?

[2022-10-19 19:27] michalczaplinski commented on #45084
There are two additional considerations here:

1.  Removing the `overflow` on the `<div class="edit-site-visual-editor is-focus-mode">` element is probably not the UX that we want. I **think** that the inner container is the one that should be scrolling but I'm not 100% sure.

2. I think it's very confusing that there is a "Comments" template part as well as a "Comments" block:

   <img width="389

[2022-10-19 21:34] kushh23 opened #45130 "Media and text Block : Image is getting blurred when we use "Thumbnail and Medium" size options"
### Description

Hey there,

While creating a blog post I notice that the Media and text block is having some issues with image size options. The image that we upload on the block gets blurred with Thumbnail and Medium size options but works fine with Large and Full-size options.

Thanks

### Step-by-step reproduction instructions

1. Go to Post/pages add new and add the **Media and text block**.

[2022-10-19 22:26] carolinan commented on #45084
Pinging @mikachan in case there is time to rename the comments template part in TT3 to reduce confusion.

[2022-10-19 22:35] carolinan commented on #41824
I don't think that elements inside the html block are rendered as blocks, I am sceptical to that working, it needs to be tested. I don't think these classes will be detected and the styles loaded.

With updating theme.json I mean adding styles to `elements.button`.

https://github.com/WordPress/gutenberg/pull/40260

[2022-10-19 22:50] annezazu commented on #45084
Renaming this back to template part rather than template! Yes, I did see this was a template part but foolishly thought it was isolated to the Comments block implementation for some reason. Thanks for testing more to find out the deeper problem.

[2022-10-19 22:52] michalczaplinski commented on #45084
I see out that the `overflow: hidden` was added in https://github.com/WordPress/gutenberg/pull/43332 by @ciampo so we should not remove it. Perhaps he has an idea on how to handle this better?

I've tried fiddling with `overflow` and `height` of `<iframe>` of the template editor but to no avail so far.

[2022-10-19 23:12] tellthemachines commented on #38457
Thanks for reporting this! `object-fit-polyfill` was removed in #34536, so we should remove those data attributes from the Cover block too.

[2022-10-19 23:17] maxwellhankner opened #45132 "Site Logo on Twenty Twenty Two Theme Not Working"
I deleted the site logo when I first started with this theme. Now, when I try to create a new site logo, it's not working as expected. It just displays a "0" in a box and doesn't let me replace it or do anything.

![Screen Shot 2022-10-19 at 6 15 45 PM](https://user-images.githubusercontent.com/25621984/196821953-7c13bd68-a422-4e5a-a3c7-101db7976d4b.png)
![Screen Shot 2022-10-19 at 6 15 58 PM](htt

[2022-10-19 23:23] tellthemachines commented on #39015
Thanks for reporting this! I can confirm that the positioning of the popovers can cover the content being edited, especially on a medium-small screen and if the post content is short enough that the page isn't scrollable:

<img width="835" alt="Screen Shot 2022-10-20 at 10 19 07 am" src="https://user-images.githubusercontent.com/8096000/196822510-dad6280e-bafe-488d-a818-fee3a20220ce.png">

Perhaps

[2022-10-19 23:25] #44919 closed, assigned to t-hamano

[2022-10-19 23:58] annezazu commented on #42919
@noisysocks are you still planning to dig in here? Just doing a sweep of the various items on the phase 2 issue and wanted to ensure this was still assigned 💪🏼

[2022-10-20 00:02] annezazu commented on #32163
@jameskoster would you list this as Needs Dev or Needs Design feedback right now? Want to ensure everything on the [phase 2 issue](https://github.com/WordPress/gutenberg/issues/33094) has either label where possible.

[2022-10-20 01:20] ramonjd commented on #45132
Did you delete the Site logo block or the image itself?

I just tried both on Twenty Twenty Two and could replace it.

<img width="1001" alt="Screen Shot 2022-10-20 at 12 19 37 pm" src="https://user-images.githubusercontent.com/6458278/196833780-d9278cbc-0824-437e-9b80-0163da6a4467.png">

Which version of Gutenberg and WordPress are you using?

[2022-10-20 01:26] ramonjd commented on #45130
Also seeing it on GB trunk.

Maybe it's because the image is being resized with `-150x150.jpg`, but the CSS of the container stretches it to the maximum width ?

[code]

[2022-10-20 01:27] andrewserong commented on #45130
Thanks for opening this issue @kushh23! I can confirm that the behaviour works the same for me, testing with Gutenberg `trunk`.

I believe what's going on here, is that with the Image block, when you adjust the Image Size control, the dimensions of the image block are updated as well as swapping out the image used for a lower resolution version of that image.

In the Media & Text block, the width

[2022-10-20 01:34] maxwellhankner commented on #45132
@ramonjd Thanks for the response! I am using wp version 6.0.3 Not sure how to check Gutenberg version. I deleted the site logo and the image out of media I believe. This exact thing has happened to me on two sites now.

[2022-10-20 01:51] SaxonF commented on #42257
Latest prototype attached. Still working through some little details but I don't think those details will block build. A couple notes
- auto-menu is just an attempt at rebranding pages list. This is something we can think on and don't need to act on right now.
- Its not reflected in the prototype but selecting a menu item should also select on canvas

https://user-images.githubusercontent.com/1072

[2022-10-20 01:57] ramonjd commented on #45109
You might need to bump the priority of your action.

Without specifying, the default is `10`. See: https://developer.wordpress.org/reference/functions/add_action/

Does this work?

[code]

[2022-10-20 01:59] annezazu commented on #33346
@davidwebca thanks for following up here. I see you found https://github.com/WordPress/gutenberg/issues/20797 and commented there. There's also this draft PR with recent comments after a meeting: https://github.com/WordPress/gutenberg/pull/21102#issuecomment-1275699135 That's the latest on these efforts and you're following in all of the right places. Other work has just taken precedence as you ca

[2022-10-20 02:00] ramonjd commented on #45132
If you're not running any plugins, then Gutenberg is probably not activated. The reason I asked is because if it's a Gutenberg bug, then this issue is in the right place 😄

But I can't reproduce 🤔 So maybe if it was broken, it's been fixed in the meantime?

You might be able to confirm this by installing/activating the Gutenberg plugin on your WordPress 6.0 site.

[2022-10-20 02:03] maxwellhankner commented on #45132
@ramonjd Wow, that did it. I thought Gutenberg came with wordpress by default. Now that I have installed it everything works as expected.. thank you

[2022-10-20 02:06] annezazu commented on #45086
Thank you all! I updated the title (or tried to) to be a bit more descriptive of the fact that the UI needs to better reflect the reality. It's SUPER confusing right now to not know what can and can't be used.

[2022-10-20 02:21] davidwebca commented on #33346
Thanks so much!

[2022-10-20 03:24] tellthemachines commented on #24744
Thanks for the feedback @maddisondesigns ! You can find some context on the quick inserter changes in #22789.

Block usage data is stored in the browser, so if you delete your local storage, or switch to another browser, those preferences will be lost. That's my best guess as to what is happening there, but it's odd that the RSS block should be there as by default, if there are no user preferences

[2022-10-20 03:35] #45132 closed, assigned to nobody

[2022-10-20 04:01] tellthemachines commented on #32443
This is definitely being considered! The issue we're using to track that work is #44557; we're looking to implement the grid as a Layout type.

[2022-10-20 04:10] maddisondesigns commented on #24744
@tellthemachines I can't see any explanation within #22789 as to why the Quick Inserter was changed to its current iteration. Like most of the UI changes you've performed in the past couple of years, this simply makes the Block Editor more cumbersome and harder to use, and forces me to make more clicks.

My browser history rarely gets deleted. The "Most used" blocks within both the Quick Inserter

[2022-10-20 04:29] aaronrobertshaw opened #45136 "Global Styles: Font appearance options do not match provided weights in custom fonts"
## Description

This issue stems from the discussion in https://github.com/WordPress/gutenberg/issues/45086#issuecomment-1283224355.

Currently, the Font Appearance control offers [options for all potential font weights](https://github.com/WordPress/gutenberg/blob/7796466b8a817477dd65c6fd6653c2259b62d828/packages/block-editor/src/components/font-appearance-control/index.js#L19), regardless of whet

[2022-10-20 05:09] aaronrobertshaw commented on #45086
Appreciate the continued discussion @andrewserong and @annezazu 👍

I've split the font appearance control, potentially offering font-weight options that are not included in bundled fonts, into a separate issue (https://github.com/WordPress/gutenberg/issues/45136).

While it's something that would be great to address, it's secondary to the root cause of the confusing UX in Global Styles, being high

[2022-10-20 05:20] tellthemachines commented on #22879
Closing this issue because OP hasn't replied in over 2 years.

[2022-10-20 06:01] aristath commented on #38457
Good catch!
~~PR in https://github.com/WordPress/gutenberg/pull/45138 to clean these up 👍~~

**EDIT**: Unfortunately there were some errors in the console and this requires adding a deprecation - which I was unable to get working. If anyone else wants to give this a go, please do, I closed the PR.

[2022-10-20 06:02] Greatdane commented on #41575
@talldan This still happens with the navigation block, but perhaps https://github.com/WordPress/gutenberg/issues/40382 is going to address this?

My submenu is blocked by the toolbar;

<img width="611" alt="Markup 2022-10-20 at 15 00 52" src="https://user-images.githubusercontent.com/5075840/196868148-056cf556-602e-42f4-a329-ca055f1e7ebe.png">

WordPress Version: 6.0.3
Gutenberg Version: 14.3.1

[2022-10-20 06:48] Mamaduka commented on #44945
Sorry, my mistake, @wpsoul.

[2022-10-20 07:04] talldan commented on #41575
@Greatdane Yep, that one's a different issue/bug that happens because the submenus are overflowing the block container. https://github.com/WordPress/gutenberg/issues/40382 is the correct issue that tracks it 👍

This one was a bug where any block at the top of the editor was overlapped.

[2022-10-20 07:12] draganescu commented on #42257
This mention:

has the caveat that selecting the block in the canvas moves the block inspector to that block's inspector. Editing a menu item will select it in the canvas (clicking on the pen icon).

Also, not visible in the mockup, but to be useful for navigation off canvas editing the list view should:

- support automatically converting a navigation link into a submenu when menu blocks are drag

[2022-10-20 08:07] Azragh opened #45141 "Inline style "min-width: 1px" breaks layout in the editor when using large font sizes in group blocks."
### Description

When I group two paragraphs with an inner padding (whether it is a fixed value or a variable from the new spacing presets), the inline style `min-width: 1px;` is applied to both. The problem with this is when I try to display a large letter with `font-size: 5em;` on the left and a full paragraph on the right, the paragraph with the large letter doesn't take up all its space / stre

[2022-10-20 08:13] kebbet opened #45142 "Featured image block: Border width and border radius not applied on front end."
### Description

When defining a border (width and color) and/or border-radius on a ”Featured image” block, and also restricting its height, the border and border-radius options are not applied on front end.

### Step-by-step reproduction instructions

1. Insert featured image block
2. Restrict height to 100px in Diemension section.
3. Add border (color + width) in Border section
4. and/or add bor

[2022-10-20 08:32] ntsekouras commented on #45142
👋 @kebbet thanks for reporting this! I couldn't reproduce the issue though. --cc @aaronrobertshaw

[2022-10-20 08:37] kebbet commented on #45142
@ntsekouras hmmm. Even with the gutenberg plugin inactive and just WordPress trunk?

[2022-10-20 08:40] getdave commented on #45083
I think I now have a fix at https://github.com/WordPress/gutenberg/pull/45143. Full explanation in that PR.

[2022-10-20 08:53] jsnajdr commented on #44716
Yes, the buggy behavior is a combination of #15041, which moved the `hasMetaBoxes()` check out of the `subscribe` listener, and of #30617 which stopped re-creating the subscription on every `setAvailableMetaBoxesPerLocation` call, together with a fresh `hasMetaBoxes()` call.

@lgladdy This is probably not 100% reliable because `setAvailableMetaBoxesPerLocation` _overwrites_ the data that were set

[2022-10-20 08:53] carolinan commented on #45111
That is correct, is there an issue? If the issue is with the theme please consider closing this issue and opening a new one in the GitHub repository of the theme (linked above).

[2022-10-20 08:54] ciampo commented on #45084
I haven't really worked on the site editor myself, I opened that PR while working on [polishing the Popover component](https://github.com/WordPress/gutenberg/issues/42770). All I know is that `overflow:hidden` rule was necessary to prevent the scrolling bug highlighted in https://github.com/WordPress/gutenberg/pull/43332.

Perhaps you may remove the `overflow: hidden` rule only when editing templa

[2022-10-20 08:55] aaronrobertshaw commented on #45142
Thank you for flagging this @kebbet 👍

With Gutenberg activated, I couldn't replicate it. However, I can with it deactivated.

This issue was actually fixed in https://github.com/WordPress/gutenberg/pull/44213, I've added a label to backport it to the WP 6.1 RC.

The application of block support inline styles was also broken when the overlay feature was added to the Post Featured Image block. That

[2022-10-20 08:57] fernandotellado commented on #45111
Thanks @carolinan but I don't really know if it's a theme or Gut related issue :/

[2022-10-20 08:59] aaronrobertshaw commented on #45094
I have a PR up exploring the removal of the UnitControl's outer wrapper in https://github.com/WordPress/gutenberg/pull/45139. Depending on any feedback for it, it might be better to be rolled into https://github.com/WordPress/gutenberg/pull/41860

[2022-10-20 08:59] kebbet commented on #45142
Yeah, if #44213 is backporter/imported to WP core, this ticket can be closed.

[2022-10-20 09:16] ntsekouras opened #45148 "[Block Library - Video]: Update tracks editor icon"
Video blocks use an icon with inconsistent size for track editor. We should update it.

<img width="665" alt="Screenshot 2022-10-20 at 12 08 43 PM" src="https://user-images.githubusercontent.com/16275880/196908363-d219734f-cf1b-4750-996f-b0b4ceedb2a3.png">

--cc @jasmussen @jameskoster

[2022-10-20 09:27] spacedmonkey commented on #44946
Did you test with object caching enabled?

[2022-10-20 09:29] Mamaduka commented on #39533
The test started failing more often recently.

[2022-10-20 09:30] spacedmonkey commented on #44946
The issue here is there is no cache invalidation. You dont see this issue on dev environment as object caching is not enabled.  Using a transient means it is cached for sites without object caching. This would have always been an issue.

I am CC @peterwilsoncc has he has some context here.

I think the easier fix would be removing this caching all together and relay on WP_Query caching upstream.

[2022-10-20 09:33] jameskoster commented on #32163
Good question. I would say both :)

We need to settle on the final colors (cc @pablohoneyhoney), and precisely which elements get colorised, but these are things we can work out in the PR.

Making anything that is `var(--wp-admin-theme-color)` (outlines, overlays, active state in list view, etc) a different color would be a good start.

[2022-10-20 09:33] carolinan commented on #43243
I suggest not adding spacing to the more block which uses the `` tag and does not use any block props on the front.

[2022-10-20 09:43] aaronrobertshaw commented on #40205
I'm a bit late to this party but thought it worth noting that while https://github.com/WordPress/gutenberg/pull/44094 introduces UI controls for the new caption element, it does differ a little from what the RichText component for individual block captions currently offers.

This part of the issue suggests to me that we still need to address the gaps and this isn't fully closed?

Things that can b

[2022-10-20 09:58] carolinan commented on #45086
Perhaps the heading block, site title, post title & archive title, should have panels under Styles > Typography > Headings, not only Styles >blocks > block name
And if any of them are styled they could have a "dot" to indicate that. Like the edited templates have in the template list.

[2022-10-20 10:11] #44716 closed, assigned to jsnajdr

[2022-10-20 10:23] #33003 closed, assigned to Mamaduka

[2022-10-20 10:35] lgladdy commented on #44716
Just to add my +1 that this resolves the issue in ACF. Thanks @jsnajdr! 🥳

[2022-10-20 10:43] t-hamano opened #45153 "Update from WP6.0 to 6.1 breaks some blocks"
### Description

I found that some blocks were broken when I updated from 6.0 to 6.1-RC2.

These blocks have a `figcaption` element or button-like element, and it appears that the block validation is failing. I have at least the following blocks broken by the update:

- core/embed
- core/gallery
- core/video
- core/file

The browser console error indicates that the newly added classes(`.wp-element

[2022-10-20 10:45] R33D3M33R opened #45154 "Images with/without link are visually indistinguishable and have the same code"
Dear developers,

it's currently impossible to see if a image is linked or not without clicking on it. It's also impossible to create editor-styles CSS  to address this problem, because the editor code is exactly the same for image with or without link.

This was tested in Gutenberg v. 14.3.1

Example code:

[code]

[code]

This problem is hugely annoying. Please add a attribute to the link elemen

[2022-10-20 10:51] tyxla commented on #44780
All tasks seem to be addressed @Mamaduka! Have you been planning any further cleanup before closing this one?

[2022-10-20 10:51] jameskoster opened #45155 "Make "Manage reusable blocks" link match "Explore all patterns""
In the Reusable Blocks tab of the Inserter we find:

<img width="350" alt="Screenshot 2022-10-20 at 11 50 13" src="https://user-images.githubusercontent.com/846565/196929223-f19f71f6-7f88-4110-b410-c161176b60b1.png">

The "Manage reusable blocks" link is a bit plain. It might be better if it stylistically matched the "Explore all patterns" button from the Patterns tab:

<img width="350" alt="Scree

[2022-10-20 10:53] jsnajdr commented on #44716
@lgladdy I'm improving the `setAvailableMetaBoxesPerLocation` action in #45156, so that, as described above, existing metaboxes are not lost when new ones are registered at runtime. Please try it out!

[2022-10-20 11:00] Mamaduka commented on #44780
@tyxla, I think we can close this. Thank you both for helping with the effort 🙌

[2022-10-20 11:00] #44780 closed, assigned to nobody

[2022-10-20 11:15] jameskoster commented on #45148
I can't find it in the icon library, seems like it might be a Dashicons hangover or something custom.

Before thinking about a new icon, is there an existing one we might use? Pre-formatted might be an option:

<img width="254" alt="Screenshot 2022-10-20 at 12 15 11" src="https://user-images.githubusercontent.com/846565/196934258-9a71abf4-a6d1-4876-bd01-96ebd949e1ee.png">

[2022-10-20 11:48] #45083 closed, assigned to draganescu, scruffian, getdave, MaggieCabrera

[2022-10-20 11:49] ntsekouras commented on #45148
It's a [custom one](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/video/tracks-editor.js#L42).

[2022-10-20 12:04] oandregal commented on #40181
Looked at the related conversations, and I'm having trouble understanding what this means.

This is what I understand:

- We are trying to migrate the block styles to the global styles system (via the `__experimentalStyles` in `block.json` so far).
- When doing so, we need to build it in a way that respects the [wp-block-styles](https://developer.wordpress.org/block-editor/how-to-guides/themes/the

[2022-10-20 12:13] t-hamano commented on #45153
I have listed the blocks where `__experimentalGetElementClassName` is used in the save function. Some books are probably unbreakable thanks to existing deprecation.
I think we need to examine the possibility of breakage and and add deprecations for them.

| Block   | Element | Update to 6.1 breaks? | Needs to fix? |  Merged  |
| ------- | ------- | --------------------- | ------------ | ----------

[2022-10-20 12:54] #45080 closed, assigned to bph

[2022-10-20 13:12] t-hamano commented on #45153
I have confirmed that this problem is reproduced in table blocks with color and caption. It doesn't reproduce in tables with only captions.
Also, although it may not be related to this issue, the table with palette background color loses background color.

https://user-images.githubusercontent.com/54422211/196958094-a81b64f6-4610-4971-92c7-c059acd1d1ba.mp4

[2022-10-20 13:18] t-hamano commented on #45153
As for the `button` and `image`, I have tried different variations and the blocks seems to be unbreakable.

[2022-10-20 13:44] jameskoster commented on #40450
When top toolbar is enabled, the document tools could morph into block tools on selection:

![top toolbar](https://user-images.githubusercontent.com/846565/196959004-fa2d897a-833d-4927-8fe3-e4b9d84e1880.gif)

It won't scale down so well to small screens, so we may have to revert to stacking there.

[2022-10-20 13:49] andreaslindahl commented on #25130
I'm just doing this:

[code]

[2022-10-20 13:50] #45081 closed, assigned to ciampo, chad1008

[2022-10-20 14:24] zero2webmaster opened #45162 "Improving Right Sidebar"
Hi,
The right sidebar is hard to use because:
1) items move around when they are clicked;
2) there is little differentiation between active and inactive sections; and
3) multiple sections remain open at a time, even though only one can be used at a time.
https://www.loom.com/share/cad3f44954cf400f92491723450facd4
Kerry

[2022-10-20 14:32] beafialho commented on #44501
@jameskoster I think you're right, pricing tables could fit within Services.

I think I misinterpreted the term in my last comment. I see what you mean about different arrangements of it.

I think "Wireframe" makes more sense as a category than a tag, mostly because it makes sense that it shows up next to the other categories in the directory. Take the example of [Cargo Collective](https://cargo.s

[2022-10-20 14:52] mmtr opened #45165 "Style variations are not being saved if the sidebar isn't on the variations screen"
### Description

<sub>Originally reported by @dsas in https://github.com/Automattic/wp-calypso/issues/68707 but moved it here after realizing this is a Gutenberg issue.</sub>

When changing to a non-default style variation, the choice is not saved when clicking save if the variation screen is navigated away from.

### Step-by-step reproduction instructions

- Make sure you're using the latest vers

[2022-10-20 14:55] beafialho commented on #44501
Also coming back to this, I think this could still continue as a category with curated patterns.

[2022-10-20 15:30] jonathanbossenger commented on #45109
Aha, thanks @ramonjd that was it. I'll see if I can get the docs updated to include that info. Closing.

[2022-10-20 15:30] #45109 closed, assigned to nobody

[2022-10-20 16:12] strarsis opened #45170 "Non-error, unexpected response for `_wp-find-template` not handled"
### Description

When a non-error, unexpected response (not HTTP `404`, but `200`) is sent for a `_wp-find-template` request, e.g. a HTML page,
no error or warning message is emitted, instead the Gutenberg site editor simply stays blank, without any indication for why it fails.

Related issue: https://github.com/WordPress/gutenberg/issues/37236
The added error handling [doesn't validate the respon

[2022-10-20 16:15] jameskoster commented on #44501
Okay, I reckon this can work fine if patterns are assignable to multiple categories.

It would be good to get some more design feedback on the categories we've discussed cc @WordPress/gutenberg-design.

In terms of how to proceed, do we need to update wp.org and Gutenberg at the same time, or does one inform the other? I'm really not sure how this all works.

[2022-10-20 16:17] oandregal opened #45171 "Code quality check for `theme.json` related APIs"
This issue tracks the current state of `theme.json` related APIs from a quality point of view, so we can bring up, discuss and address the issues.

## WordPress 6.2: shipped

Public API:

- Add new method `wp_theme_has_theme_json`. [#45168](https://github.com/WordPress/gutenberg/pull/45168) [#45380](https://github.com/WordPress/gutenberg/pull/45380)

Performance:

- `wp_theme_has_theme_json`: cach

[2022-10-20 16:25] kathrynwp commented on #45111
Please open an issue in the Twenty Twenty-Three repo if you would like the developers to consider making a change there:

https://github.com/WordPress/twentytwentythree/issues

I'm going to go ahead and close this one out.

[2022-10-20 16:25] #45111 closed, assigned to nobody

[2022-10-20 16:26] #45142 closed, assigned to nobody

[2022-10-20 16:30] oandregal opened #45172 "Deprecate/Remove the `wp_theme_json_get_style_nodes` filter"
Part of https://github.com/WordPress/gutenberg/issues/45171 (an effort to maintain our codebase in a healthy state)

## What

Remove the existing `wp_theme_json_get_style_nodes` filter.

## Why

The `wp_theme_json_get_style_nodes` filter was introduced https://github.com/WordPress/gutenberg/pull/41160 (different name back then) and allows consumers to hook into the implementation of the `WP_Theme_

[2022-10-20 16:34] oandregal commented on #45172
cc @scruffian @adamziel @draganescu @ramonjd as the original authors/reviewers of the PR.

I wish I had had the opportunity to offer this feedback at the time it was created, but I was not. I still find this problematic, and I'd like us to act preemptively rather than reactively.

[2022-10-20 17:17] ockham commented on #45153
Listing PRs (and draft PRs) here that are going to tackle this:

- #45159
- #45161
- #45166
- #45169
- #45173

(Feel free to edit the above list to if there are more to add!)

[2022-10-20 17:53] michalczaplinski commented on #45084
I've added a tentative fix in https://github.com/WordPress/gutenberg/pull/45176

Which CSS Wizard could I ping to review this to make sure it's a correct fix? 😃

[2022-10-20 21:17] WildeWebMarketing opened #45179 "Block patterns with 6.1 format markup throwing console errors in 6.0 sites"
In a fresh 6.0.3 site without GB plugin installed, some patterns with 6.1 format markup, [like this one](https://wordpress.org/patterns/pattern/link-in-bio/), are being pulled into the editor in the background and causing block invalidation errors as the 6.0 version of the editor does not recognise the markup.

Clicking edit for a post was taking longer than usual to get to the editing screen. Ope

[2022-10-20 21:56] ockham commented on #45153
FWIW, someone just filed a [Core ticket](https://core.trac.wordpress.org/ticket/56873) that sounds a bit like this issue. Could y'all have a look and decide if it's a duplicate or if some other blocks might be affected after all? 🙌

[2022-10-20 22:19] glendaviesnz commented on #45179
Thanks for reporting this @WildeWebMarketing. I think this is covered by [this existing issue](https://github.com/WordPress/gutenberg/issues/45153), so going to close this one for now.

[2022-10-20 22:33] ramonjd commented on #45172
Looking at where `WP_Theme_JSON::get_style_nodes` is called, it appears in two publicly declared functions:

`public function get_stylesheet`
`public static function remove_insecure_properties`

Could we move the `apply_filters` to these functions? And do we really need it in the latter function?

I'm not sure if it's in keeping with the intentions behind https://github.com/WordPress/gutenberg/pul

[2022-10-20 23:20] aaronrobertshaw commented on #45086
And if any of them are styled they could have a "dot" to indicate that. Like the edited templates have in the template list.

I wonder how much this muddies the waters further. For example, if we are overlapping blocks with elements, should we be doing the same for links and link-dependent blocks?

In addition, the dot, in that case, would only indicate some other global style has been set. It wou

[2022-10-21 00:43] annezazu opened #45181 "Consider renaming or removing "Areas" in dropdown"
## What problem does this address?

Currently, the dropdown when in the site editor shows a section titled "areas" when referring to template parts. This is a bit confusing as "areas" is not a well defined term and it's referring to template parts:

![image (27)](https://user-images.githubusercontent.com/26996883/197085087-0f0513fc-13e4-42fb-b375-d377f6fe72d2.png)

I understand that each template

[2022-10-21 00:48] tellthemachines commented on #27205
Hi @davy440 ! I'm afraid there's no method to remove block panels in Core, and (to my knowledge) no plans to implement such a feature.

There is a way to disable block styling controls individually, on a per-block type basis, through theme.json. For example, if you wanted to disable padding for all Group blocks, you could add the following inside the `settings` object of your theme.json:
[code]
Yo

[2022-10-21 00:56] noisysocks commented on #45153
Another report of this here: https://wordpress.org/support/topic/getting-alot-of-console-errors-on-fresh-wordpress-install/

It looks like validation warnings for `button` are very common ([1](https://core.trac.wordpress.org/ticket/56873), [2](https://github.com/WordPress/gutenberg/issues/45179), [3](https://wordpress.org/support/topic/getting-alot-of-console-errors-on-fresh-wordpress-install/)).

[2022-10-21 01:15] glendaviesnz commented on #45153
@noisysocks those button ones look like there is new block content being loaded by an older version of Gutenberg, eg. the post content has the `wp-element-button` [added here](https://github.com/WordPress/gutenberg/pull/40260), but the save method isn't adding this, but I need to do some more testing to confirm this.

[2022-10-21 01:22] glendaviesnz commented on #45179
Actually this one looks slightly different to the one I linked, so reopening until that is confirmed.

[2022-10-21 01:31] glendaviesnz commented on #45179
@WildeWebMarketing are you able to confirm which version of WP you are using when you see these errors, and whether you have the Gutenberg plugin installed and enabled and which version.

Also, have you enable the Gutenberg plugin at any point and then disabled it? or copied content from a site that may be running a newer version of WP/Gutenberg?

[2022-10-21 01:35] WildeWebMarketing commented on #45179
I'm using WordPress Version 6.0.3. I do not have the Gutenberg plugin installed and it was not installed at any point. No content from external sites.

I appreciate your attention to this @glendaviesnz

[2022-10-21 01:37] WildeWebMarketing commented on #45179
@glendaviesnz I have also checked multiple installations on different servers and the problem is present in those as well.

[2022-10-21 01:44] t-hamano commented on #45153
I think this is just the opposite case of what this issue is about. When patterns created in WP6.1 (i.e. with classes such as `wp-element-XXX`) are loaded in WP6.0, a console error occurs or the block is broken. In other words, the post-body expects to have a `wp-element-xxx` class, but the save function in WP6.0 does not expect it, so the block is broken.

It is not limited to button blocks, as s

[2022-10-21 02:45] kevin940726 opened #45183 "Insertion indicator is not showing when hovering on patterns"
### Description

Hovering on the block options in the global inserter will show a blue line indicator in the editor to indicate where the block will be inserted at. However, the same indicator is not showing when hovering on the patterns options in the global inserter.

E2E tests are added in https://github.com/WordPress/gutenberg/pull/44631#discussion_r996659937.

### Step-by-step reproduction in

[2022-10-21 03:02] tellthemachines commented on #41293
Looking into this behaviour a bit, it seems that both on a global and a block level, it's possible to disable `text` and `link` colors individually, but for `background` to disappear altogether we need at least
[code]
(Also, setting `gradient` to `false` triggers a PHP warning, which is unexpected.)

For the color panel to not render for a specific block type, it's enough to disable all the color

[2022-10-21 03:16] glendaviesnz opened #45185 "Deprecations: fixture missing for new File block deprecation"
### Description

The File block is missing a fixture for the new deprecation added here. Adding a fixture to cover this was causing a PHP unit test error, and it was important to get the deprecation merged in order to go into 6.1 so adding the fixture can be handled separately.

### Step-by-step reproduction instructions

...

### Screenshots, screen recording, code snippet

_No response_

### Env

[2022-10-21 03:19] tellthemachines commented on #22709
@saltnpixels have you looked into using [block templates](https://developer.wordpress.org/block-editor/reference-guides/block-api/block-templates/) to pre-fill the editor with the necessary blocks? You could also create some custom blocks that don't render any content in the front end, just to save that data. That way you wouldn't have to hack the content loop at all.

Let me know if this helps!

[2022-10-21 03:23] tellthemachines commented on #22888
I'm going to go ahead and close this one now.

[2022-10-21 03:23] #22888 closed

[2022-10-21 03:37] peterwilsoncc commented on #44946
This is my inclination given WP 6.1 has the lower level caching. It saves double handing and a duplicate cache entry/invalidation.

Just so I am clear, the issue is with the database query rather than the optimisation of theme.json -- is that correct?

[2022-10-21 03:45] talldan commented on #45181
Naming it 'Template Parts' might lead to confusion around why all template parts aren't shown (only root-level template parts are). It could also be 'Template Part Areas', but that feels a bit verbose.

If it is changed it'd be good to also consider the other parts of the UI that use this term:

Advanced block inspector section:
![Screen Shot 2022-10-21 at 11 34 24 am](https://user-images.githubus

[2022-10-21 03:55] glendaviesnz commented on #45179
@WildeWebMarketing looks like an issue with block patterns. We will try and work out why these incompatible patterns are being pulled into 6.0.3 sites.

[2022-10-21 03:56] glendaviesnz commented on #45153
The trouble with the invalid buttons I think is unrelated to this issue so I think we should deal with it separately over on [this issue](https://github.com/WordPress/gutenberg/issues/45179).

[2022-10-21 04:16] tellthemachines commented on #28009
@douara if your question is answered can we close this issue now?

[2022-10-21 04:18] tellthemachines commented on #32790
@alanps @ntucakovic if your problem is solved are we good to close this issue now?

[2022-10-21 04:23] tellthemachines commented on #33891
Hi there! It is possible to remove block controls via theme.json, as shown in [this comment](https://github.com/WordPress/gutenberg/issues/27205#issuecomment-1286319376). Sadly it's not possible to make the removal conditional on block styles (OP from the linked issue was also after that functionality).

[2022-10-21 04:28] tellthemachines commented on #36050
Hi @strarsis, can we close this issue now, or is there anything you still need help with?

[2022-10-21 04:37] tellthemachines commented on #38952
Hi @randhirexpresstech ! Full-page patterns should now be possible with #40034. Can you confirm so we can close this issue?

[2022-10-21 04:45] andrewserong commented on #45179
Update:

Since this is affecting WP 6.0.x where patterns are fetched remotely in core, as a short-term fix, this pattern has been unpublished so that it won't show up in the pattern inserter. It appears to be the only one of the "remotely fetched by default" patterns that was throwing errors in WP 6.0 as far as I could tell from my test site.

Longer-term, @noisysocks suggested that one way to sol

[2022-10-21 05:02] strarsis commented on #36050
@tellthemachines: Well, the typo with `hiearchy` in the comments is still there. 😼

But otherwise the issue can be closed as `do_blocks` wasn't applied in this particular setup.

[2022-10-21 05:04] tellthemachines commented on #40813
This is a similar specificity issue to #33795. I'm going to label it as a bug because it's unintended behaviour. It is still reproducible in trunk.

[2022-10-21 05:10] tellthemachines commented on #36050
Thanks @strarsis ! The typo was actually in Core (the link above is to the WordPress repo) and if you look at the [current version](https://github.com/WordPress/WordPress/blob/master/wp-includes/block-template.php#L73) of same file I think you'll find it's been fixed 🙂

[2022-10-21 05:10] #36050 closed, assigned to nobody

[2022-10-21 05:20] tellthemachines commented on #43404
Related: #44736 #33795 and #40813

[2022-10-21 06:44] randhirexpresstech commented on #38952
Thanks @tellthemachines. Issue still exists, pattern consist of multiple patterns doesn't display or load in patterns dashboard. Please check [screen-cast](https://app.usebubbles.com/ruYSrqcLwAvT7H1JCD1JqR/nested-patterns)
Theme: Twenty Twenty-Two
Theme Version: 1.2
Wordpress Version: 6.0.3

[2022-10-21 06:47] #31356 closed, assigned to kevin940726

[2022-10-21 07:20] oandregal commented on #45172
I'm more concerned with the fact that _how_ we read a `theme.json` should be a private implementation detail, and the filter makes it public. Firing the filter from a public function doesn't solve the core issue.

Yeah, true in the realm of WordPress codebase. Though because it is a filter, _anyone_ can potentially use it: plugins, themes, building tools, etc.

[2022-10-21 07:59] oandregal opened #45194 "`block.json` API: consider graduating `__experimentalSelector` and `__experimentalDuotone` from experimental to stable"
Part of https://github.com/WordPress/gutenberg/issues/45171

## What

The `__experimentalSelector` and `__experimentalDuotone` for `block.json` should become stable APIs.

## Why

- `__experimentalSelector` has been introduced in WordPress 5.8 and evolved since. It covers certain use cases for which there is no other alternative (some blocks don't use the `wp-block-<block-name>` class for various

[2022-10-21 08:15] jameskoster commented on #45181
The purpose of the feature is to highlight template parts within the document that have semantic meaning. So we should probably stay away from more generic labels like Sections or Synced blocks.

I often use the dropdown to clear customizations, but never to navigate template parts. List View feels like a more intuitive destination for this kind of activity. Obviously that's subjective, but if the

[2022-10-21 08:41] johngodley opened #45197 "Long block placeholder can overlap block inserter"
### Description

If you configure Gutenberg to have a long placeholder message it can overlap the block inserter button, particularly on a mobile breakpoint.

### Step-by-step reproduction instructions

1. Edit `wp-admin/edit-form-blocks.php` and change the default placeholder to something longer:
`$body_placeholder = apply_filters( 'write_your_story', __( 'Type something really long to cause over

[2022-10-21 08:53] oandregal opened #45198 "Iterate on absorbing block styles as part of the global styles mechanism"
Follow-up to https://github.com/WordPress/gutenberg/issues/33977
Part of https://github.com/WordPress/gutenberg/issues/45171, https://github.com/WordPress/gutenberg/issues/41232, and #41236.

## What

Finalize the work that was started at https://github.com/WordPress/gutenberg/pull/34180 to absorb block's CSS as part of the global styles' mechanism.

## Why

By absorbing the block's CSS, WordPress

[2022-10-21 08:55] oandregal commented on #45171
Added a section on experimental API that covers `__experimentalSelector`, `__experimentalDuotone`, and `__experimentalStyle`.

[2022-10-21 08:57] oandregal commented on #33977
@fklein-lu WordPress 6.1 has landed an experimental API for this. We need to iterate on it, so I think we can close this high-level strategic issue and follow the work on the more tactical one at https://github.com/WordPress/gutenberg/issues/45198

[2022-10-21 08:57] #33977 closed, assigned to nobody

[2022-10-21 08:59] oandregal commented on #41232
Substituted https://github.com/WordPress/gutenberg/issues/33977 (closed, high-level strategic point of view) by https://github.com/WordPress/gutenberg/issues/45198 (tactical next steps) in the "per block styles & supports" section.

[2022-10-21 09:04] draganescu opened #45199 "As a user I want the navigation block to fallback to the best possible default"
Issue tracking Navigation block playwright test for this user story.

## Tests
- default to my only existing menu https://github.com/WordPress/gutenberg/pull/47744
- default to my most recently created menu
- default to the only existing classic menu if there are no block menus https://github.com/WordPress/gutenberg/pull/47867
- default to a list of pages if there are no menus at all #45070

[2022-10-21 09:07] oandregal commented on #41707
I have gone ahead and created https://github.com/WordPress/gutenberg/issues/45198 to track the next steps for the `__experimentalStyle` API.

[2022-10-21 09:11] draganescu opened #45201 "As a user I want to create submenus using the navigation block"
Issue tracking Navigation block playwright test for this user story.

##Tests

- [ ] add submenu
  - [ ] add links to submenu
  - [ ] remove links from submenu
- [ ] remove submenu
- [ ] transform submenu to link if empty

##To do
- [x] Teach the `deleteAllPosts` util to delete any CPT
- [ ] Add an utility in the `navigation` suite for adding a custom link
- [ ] Write the tests

[2022-10-21 09:11] oandregal commented on #45198
cc @scruffian @adamziel @ajlende @MaggieCabrera @getdave @draganescu @gziolo @matiasbenedetto @carolinan as people that were involved in some of the PRs (authors or reviewers) that implemented initial support for `__experimentalStyle`. We can use this issue for coordinating future work. Please, edit the issue description as you see fit.

[2022-10-21 09:31] oandregal commented on #45194
cc @jorgefilipecosta @aaronrobertshaw @ajlende @andrewserong @ramonjd @t-hamano @tellthemachines as people that implemented or reviewed work in this area.

[2022-10-21 10:18] beafialho commented on #44501
+1

I have the impression they are not updated simultaneously because the Wireframe category is currently not showing up in the pattern categories in the editor.

[2022-10-21 10:34] scruffian commented on #40181
I think it's much simper than that. WordPress itself contains a [base theme.json file](https://github.com/WordPress/wordpress-develop/blob/trunk/src/wp-includes/theme.json) which contains some preset colors, settings, styles etc. Themes should have a way to opt out of that entirely and start with a base that is empty.

[2022-10-21 10:40] oandregal commented on #40181
We already have a mechanism to "opt-out" or tweak core defaults. It's per datum (setting, style, etc). Perhaps my question can be boiled down to: what are the things themes can't do now by overriding the specific things from the core `theme.json`?

(I want to understand the needs before we jump into adding more complexity. See related https://github.com/WordPress/gutenberg/issues/45171 )

[2022-10-21 10:41] rmorse commented on #42779
It still exists, let's keep this open

[2022-10-21 11:12] scruffian commented on #40181
We have a mechanism for themes to opt out of opinionated styles for blocks, using `wp-block-styles`. The suggestion here is to build the same affordance for theme.json. It is true that themes can override each of the default settings with their own, but we should also just allow themes to totally opt out of those defaults so they have a clean starting point.

[2022-10-21 11:15] javierarce commented on #30121
Here's a design of the List View that shows sticky items in a separate section. I'm assuming that it won't be possible to nest sticky items.

![image](https://user-images.githubusercontent.com/4933/197180858-1b3bd8be-4afd-44c9-9e24-6896c75a1694.png)

The proposal above removes the sticky group from the main tree, but we could leave a reference in the original position. Clicking the reference could

[2022-10-21 11:35] fluiddot commented on #45124
Good point @dcalhoun , it's true that the Image component depending on its state should provide different actions. Hence, I also lean towards implementing a dynamic accessibility hint depending on that. However, I'm wondering if we could do this in two steps:
1. Update the hint to `Double tap to view larger.` to avoid confusion with the `hold to edit` message.
2. Introduce dynamic accessibility hi

[2022-10-21 12:01] WildeWebMarketing commented on #45179
Awesome, thank you!

Errors are gone.

[2022-10-21 12:31] ntsekouras commented on #44585
What happens if the zoom out view is invoked and then we want to navigate to the `blocks` tab in the inserter(or any other tab or search)? Stays that way or we toggle again? It might feel a bit weird, no?

[2022-10-21 12:56] scruffian opened #45204 "Navigation block: Add test for missing menu warning"
From https://github.com/WordPress/gutenberg/issues/44920
As a user I want to see a warning if the menu referenced by a navigation block is not available

[2022-10-21 13:09] javierarce commented on #30121
And another more general question: have we settled on placing the position controls inside Layout or is it a temporary solution? To me, Layout should be responsible for the internal display, and fixed or sticky are more of external properties.

[2022-10-21 13:12] t-hamano commented on #44469
I think this is a question and I will convert it to a discussion.

[2022-10-21 13:12] #44469 closed, assigned to nobody

[2022-10-21 13:23] dgwyer commented on #43586
Just did some testing on this and couldn't get it to work with `overflow: hidden` on `.wp-block-gallery figure`. Not sure why when this worked recently for others. I'm running WP 6.03, and latest release version of TT2 theme.

However, when adding the `border-radius: 15px` and `overflow: hidden` to the wrapping figure this worked consistently well for me.

For this to be implemented we'd need to a

[2022-10-21 13:26] t-hamano commented on #38305
I have encountered this problem in the past and was able to reproduce it in WordPress 6.1. However, I can't reproduce it with the latest Gutenberg.
This issue might have been fixed with the Page List Block fix in #45143. Can anyone reproduce this issue with the latest gutenberg?

cc @getdave

[2022-10-21 13:34] jameskoster commented on #44585
The zoom would be linked to the Patterns tab active state I think, so yes if you navigate to blocks it would zoom in again. Given the work you're doing in https://github.com/WordPress/gutenberg/pull/45203 searching should be covered.

It might do :) We need to try it to tell for sure.

[2022-10-21 13:52] jameskoster commented on #42325
I'd love to get some feedback from @WordPress/gutenberg-design on [this concept](https://github.com/WordPress/gutenberg/issues/42325#issuecomment-1220515552) before adding the `needs dev` label.

There's a (rather messy) Figma file [here](https://www.figma.com/file/1GqTbHJNqhj1i4cuO0tmRm/Advanced-template-creation?node-id=8%3A552).

[2022-10-21 13:54] dcalhoun commented on #45124
@fluiddot yes, I agree it likely makes sense to fix the erroneous a11y first, then follow up with more robust, dynamic a11y labels.

[2022-10-21 13:55] jameskoster commented on #43608
I think this is ready to try from a design perspective. Adding 'Needs Dev'.

[2022-10-21 14:13] jameskoster commented on #44776
Personally I find the hover outlines to be very useful when working with the more complex layouts we tend to find in templates. Consider the gif below:

![outlines](https://user-images.githubusercontent.com/846565/197216450-6fcf04f4-191e-4658-b776-60c373c063c6.gif)

Here the outlines are critical in helping me determine which block will be selected on click.

Though I would say that they (the outl

[2022-10-21 14:15] paaljoachim commented on #42325
Hey James.

I just checked out the video https://github.com/WordPress/gutenberg/issues/42325#issuecomment-1220515552 and wow that looks nice! The visual approach will be very helpful! I only thing that came to mind is that I wonder if a multi select should be added to where one can select which posts that should have a specific template. Compared to all or just a specific post.

[2022-10-21 15:18] jameskoster commented on #44581
I suspect the details of this one (the icon, it's position in the toolbar) can be ironed out during implementation. Marking as needs dev and sending a ping to @WordPress/gutenberg-design for feedback on those details :)

[2022-10-21 15:23] jameskoster commented on #42325
That could be nice, but it's a somewhat nuanced flow... would it create a single custom template and apply it to the selected posts, or would it create individual templates (e.g `single-post-hello-world`) for each? It's a good idea, but perhaps something to consider afterwards as a part of general bulk template creation.

[2022-10-21 15:32] jameskoster commented on #44418
Good points. Perhaps your second design would be a good place to start. Should there be keyboard shortcuts for these actions?

[2022-10-21 15:36] jameskoster commented on #38333
I agree with this. Style variation management is a pretty big feature, for now a warning would help mitigate the biggest issue which is the loss of custom variations on-switch.

[2022-10-21 15:44] jameskoster opened #45210 "Warn that customisations will be lost on style variation switch"
Problem: When you switch away from a customised style variation it's not clear that those customisations will be lost. Technically you can undo yourself out of trouble, but if you save and exit the editor then that customised style variation is gone, without any warning.

Comprehensive style variation management is being explored in https://github.com/WordPress/gutenberg/issues/38333, but that's a

[2022-10-21 15:45] javierarce commented on #44581
This is neat!

If this is not going to be random I think that the `reusable-block` icon could be more appropriate to communicate the idea of cycling between patterns.

![image](https://user-images.githubusercontent.com/4933/197235515-b7aa2dd9-1fd0-48dc-a934-94950441e512.png)

Maybe we could add the number of patterns on the label: "Cycle through 3 patterns"

[2022-10-21 15:59] ryelle commented on #45179
I think this would get tricky because of the Gutenberg plugin + WP core combinations possible. Would it be possible for the inserter to somehow check for validation errors at the client side, and prevent rendering those?

[2022-10-21 16:13] dgwyer commented on #22891
### Block editor packages that still need a README (updated list)

*  [block-actions](https://github.com/WordPress/gutenberg/tree/master/packages/block-editor/src/components/block-actions) (not exported)
* [block-caption](https://github.com/WordPress/gutenberg/tree/master/packages/block-editor/src/components/block-caption)
* [block-content-overlay](https://github.com/WordPress/gutenberg/tree/trunk

[2022-10-21 16:56] paaljoachim commented on #44581
A very cool idea James!

Actually I would like to see this also apply for template parts. A cycle through to test out various headers and footers or other template parts as I experiment with various designs while in the Site Editing mode.

[2022-10-21 17:52] costdev commented on #43369
For browser support, see below. TL;DR - Supported by all major browsers.
[scroll-snap-type](https://caniuse.com/?search=scroll-snap-type)
[scroll-snap-align](https://caniuse.com/?search=scroll-snap-align)
[scroll-behavior](https://caniuse.com/?search=scroll-behavior)

CSS-only sliders are _mostly_ fine. Selectors are typically links with `href="#slide-$"`, and `scroll-behavior: smooth` on the slid

[2022-10-21 17:53] Initsogar opened #45212 "Components: ExternalLink onClick event handler is not working"
### Description

We are using ExternalLink on multiple instances in Jetpack monorepo, using the onClick event handler to track clicks. After a recent change implemented, any code passed to onClick prop is being ignored by this component.

This is related to a [recent change implemented](https://github.com/WordPress/gutenberg/pull/42259/files#diff-d9253c06cfb3ec985751228ee0c3b07c4029a0a54aa9684a55c

[2022-10-21 18:28] luminuu opened #45213 "Buttons that don't have `.wp-element-button` class have wrong text color"
### Description

I was currently testing Twenty Twenty-Three with the `Pilgrimage` style variation and imported the official Theme Unit Test data into my installation. Looking at the `Block: Button` post, I noticed this behaviour of the buttons:

![image](https://user-images.githubusercontent.com/7585600/197253201-a26a494d-8332-4338-8df2-b037eb33448c.png)

The text color of the button is the same

[2022-10-21 19:30] sethwhitaker opened #45216 "Bug: Gutenberg Plugin v13.9+ - Template Attribute for PHP template & theme.json conflict"
### Description

Ever since Gutenberg Plugin v13.9+ the simple existence of the `theme.json` file in the theme causes the template label to always say **Default Template** if its been set to a custom PHP template. Clicking on the Label to open the popup still correctly shows which template is actually set for the page.

I came across this PR https://github.com/WordPress/gutenberg/pull/42091 when l

[2022-10-21 19:41] sethwhitaker commented on #45216
If I add `remove_theme_support( 'block-templates' );` to functions.php then the template title works as expected. But I do not wish to need to add this to the theme if I do not need too.

Is it not possible to use block templates and classic templates together?

[2022-10-21 20:06] #45084 closed, assigned to talldan, michalczaplinski

[2022-10-21 20:09] michalczaplinski commented on #45084
This should be fixed for good in #45189 now!

[2022-10-21 20:36] richtabor commented on #44581
Agreed. "Replacing" a template part is still a cumbersome exp.

[2022-10-21 21:03] strarsis commented on #45170
The same issue also occurs when `remove_theme_support('block-templates');` is used but a `theme.json` and block-templates/-parts are included, with which the (FSE) site editor is offered. The `Design → Editor` feature is still available, but the editor then fails to initialize.

[2022-10-21 21:05] heyitsuzair opened #45218 "TypeError: asset.source.buffer is not a function while using "@wordpress/dependency-extraction-webpack-plugin""
### Description

I am creating WordPress theme but am stuck on an error. When I try to create a build it shows the error "asset.source.buffer is not a function" which is due to @wordpress/dependency-extraction-webpack-plugin webpack plugin. When I Remove this plugin, it starts working normally but I want to use @wordpress/dependency-extraction-webpack-plugin to combine assets.

Webpack Config

_Fo

[2022-10-21 21:18] dcalhoun commented on #30566
Capturing an additional nuance: whether or not the active theme is a "block theme" impacts whether animations are correctly applied to this behavior as well.

[2022-10-22 00:55] coreyworrell commented on #35924
This issue needs traction.. At the minimum we should be able to apply classes to the anchor tag. Then you could at least manually style as a button, the Link Advanced CSS Class could be set to `wp-block-button` and a new Anchor CSS Class field could then be set to `wp-block-button__link has-primary-background-color has-background`. But it's much harder to do at the moment.

[2022-10-22 02:01] Lewiscowles1986 commented on #42828
Just a note that mainstream browsers have JS and CSS support for detecting the user preference on dark-mode.

It's nothing but sparkling laziness to use a physical toggle if the default is not to respect the standards-based API's.

I'm also not 100% sold that it matters if the editing experience needs to be in lock-step with the display presentation theme. There is a preview button if someone need

[2022-10-22 06:37] uniquesolution commented on #44989
Its not got resolved yet, I tested it in instawp , using Wordpress 6.0.3 and Gutenberg plugin version 14.3.1 and not able to add anything inside child group block.
here is the login credential to test
https://ndly-finch-zadi.instawp.xyz/wp-admin/
Username : bapajacofi4242
Password : ztxNw18WrGbSM6c7LJsg

I also tested with wordpress beta 6.1, guternberg ver. 14.3.1 have same issue in that too.

[2022-10-22 08:45] t-hamano commented on #37319
Thank you for submitting the issue and I apologize for the delay in replying.

I was able to reproduce it with the latest gutenberg. When the output was compared to the category block of the classic widget, it matched the output of the front end, so it must be the editor's output that is wrong. I would like to investigate the code on the editor side.

<details>
<summary>Test Result</summary>

Add

[2022-10-22 09:02] carolinan commented on #44989
Hi @uniquesolution. You are right, the fix is not in Gutenberg [14.3.1](https://github.com/WordPress/gutenberg/releases/tag/v14.3.1). It will be in the plugin in a future update.

[2022-10-22 13:01] dagleich opened #45223 "Pasted italicized/bolded space characters will be omitted"
When I copy and paste formatted text from Microsoft Word into the WordPress Gutenberg editor and in a sentence there is only a space character between two words left italicized while the words are regular, the space will be ommitted and the two words shown as one.

[2022-10-22 13:38] nickpagz opened #45224 "Lazy Loading Attribute is Not Omitted for First Image on a Page"
### Description

The `loading="lazy"` attribute was added to all images in WordPress 5.5. In 5.9 a [filter was added](https://make.wordpress.org/core/2021/12/29/enhanced-lazy-loading-performance-in-5-9/) that removed the attribute for the first image on a page to help comply with the “Largest Contentful Paint image was lazily loaded” notification in Lighthouse. A full description on the issue [her

[2022-10-22 13:58] bph commented on #44989
From the PR, it seems the fix made it into 6.1 RC2 @uniquesolution could test it again, please?

[2022-10-22 14:49] uniquesolution commented on #44989
@bph checked in wordpress 6.1 RC2 with gutenberg ver 14.3.1 installed. Still, the same issue persists.

[2022-10-22 16:04] t-hamano commented on #44976
In my opinion, what you want to achieve may be done with JavaScript. The approach is to use the core data API rather than the idea of linking data generated by PHP to JavaScript.

From your code, it looks like you want to display a message based on the value of `get_option`. To achieve this on the block editor, I think the following API would be available:

- [isCurrentPostPublished](https://githu

[2022-10-22 16:05] ndiego commented on #44989
I just tested this. The issue is resolved in 6.1 RC2. However, when Gutenberg v14.3.1 is active, it appears that the issue is not resolved since the fix is not in Gutenberg yet, and Gutenberg styles generally override Core. @uniquesolution try using just 6.1 RC2 without Gutenberg active, and everything should work as expected. Let me know if not. Thanks!

[2022-10-22 16:30] bph commented on #44989
The fix is slated for 14.4 version of the Gutenberg plugin release next week. The 14.4 RC is already available under releases.

[2022-10-22 20:48] skorasaurus commented on #45216
Thanks for the thorough, detailed report.

I have the same experience as well; using Gutenberg 14.0.3 (haven't tested other versions at the time) on a [custom theme](https://gitlab.com/cpl/ernesto) that uses theme.json and no block-based templates.

From reading over the discussion at https://github.com/WordPress/gutenberg/pull/42091 ; that behavior (the name of the template type should be loaded)

[2022-10-23 04:17] carolinan opened #45229 "Block button element visited styles need to be more consistent"
### Description

The file block download button is the only wp-element-button item that [styles the ` visited` state with CSS](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/file/style.scss#L34).
There is a risk that the text color is white on white background, since the text color is set to `$white`.
If a theme uses theme.json elements.button, the file block button w

[2022-10-23 07:11] t-hamano commented on #45223
I was able to reproduce it. This problem seems to occur not only with italic spaces, but also with bold spaces.

https://user-images.githubusercontent.com/54422211/197379078-0f3cc135-6d8a-42d6-b9a3-60de5a810084.mp4

[2022-10-23 07:51] t-hamano commented on #41429
I tested again with PHP 7.1.X and could not reproduce it.
I wish we could determine why the incorrect code `0A` is being introduced, or if it is due to OS or server settings.

[2022-10-23 08:57] t-hamano commented on #44242
My tests yielded different results.

The font-family of the `body` tag is defined by `styles.typography.fontFamily`. Also, **system font** is defined here in the latest TT2:
https://github.com/WordPress/twentytwentytwo/blob/27054dbcb95f5d72cd943a0f3318c3ad97599f85/theme.json#L329

Then, after changing Source Serif Pro's slug to `main` in fontFamilies > slug, I changed the CSS variable for this lin

[2022-10-23 09:12] t-hamano commented on #40912
I've thought about it again, and it may be strange to set `shouldCloseOnClickOutside` to false to prevent the iframe in the modal content from being closed when clicked, because the iframe is **inside** the content, not **outside** it.

Ideally, I would like to not call `onRequestClose` when an iframe element in the content is clicked, but I am wondering what implementation would be smart.

cc @ci

[2022-10-23 10:17] t-hamano commented on #37319
Upon further investigation, I found that the number of front-end cases in the first place may not be correct for some conditions.
Below is the ticket I submitted to the core:
https://core.trac.wordpress.org/ticket/56892

[2022-10-23 10:58] t-hamano commented on #44937
Thank you for submitting the issue.
To help us resolve this issue, could you please share the following points?

- Does it mean that the correct drive path is `D` and drive `C` is detected by mistake?
- What is the definition of path to index.js in block.json?
- Does this problem not reproduce in a single block build?

[2022-10-23 11:14] alvandwp commented on #31815
I am also looking forward to having a solution. I hope someone finds a good way.

[2022-10-23 13:59] mikachan opened #45233 "Outline button: inherits background-image if gradient is applied"
### Description

The 'outline' style of the button block incorrectly inherits the `background-image` property if a `button.color.gradient` is used in theme.json. I believe this should be set to `none`, in the same way as the 'outline' style sets the `background-color` to `transparent`, in order for this button style to be an outline button.

See the Pilgrimage TT3 style variation for an example of

[2022-10-23 17:22] sethwhitaker commented on #45216
Good to know that this should be working but maybe isn't. Thought I was going crazy.

[2022-10-23 20:55] strarsis commented on #27938
Related issue: https://github.com/WordPress/gutenberg/issues/45170

[2022-10-23 23:28] noisysocks commented on #45216
Can confirm this also by activating Twenty Twenty and creating an empty `wp-content/themes/twentytwenty/theme.json` file.

@Mamaduka: Looking at https://github.com/WordPress/gutenberg/pull/42091/files. The presence of `theme.json` causes `supportsTemplateMode` to be `true`. I'm not really sure how to fix this while also making it so that _Default template_ isn't shown in block themes.

[2022-10-23 23:36] andrewserong commented on #30121
Good question!

There was the comment from back in May of last year about putting it in the Layout panel https://github.com/WordPress/gutenberg/issues/30121#issuecomment-804822087, but I'm not sure if there have been more recent design explorations?

From my perspective, although existing Layout controls affect inner elements, I quite liked the idea of position being part of the layout panel, in t

[2022-10-24 00:23] noisysocks commented on #33254
Using blocks leads to issues with copy/paste: https://github.com/WordPress/gutenberg/pull/41284

[2022-10-24 00:39] noisysocks commented on #45179
Technically yes. To do this you'd recurse through the tree of `blocks` returned from `blocks = parseBlocks( pattern )` and check that every `block.isValid`.

[2022-10-24 00:44] andrewserong commented on #45179
Oh, that's an interesting idea. I quite like that as a longer-term solution to ensuring that patterns don't break the UI. It'd be good for us to ensure that we're still logging something to the console for patterns that break in themes, so that theme developers can investigate and update patterns as needed (and know which ones are broken).

I suppose a challenge with this idea is that it would onl

[2022-10-24 00:45] noisysocks commented on #42919
Yes it's next on my list. Realistically I won't be able to start on it until 21 November. If there's a dev who has more immediate availability feel free to take it from me.

[2022-10-24 04:04] kevin940726 commented on #41379
Is this now implemented in https://github.com/WordPress/gutenberg/pull/44028? Should we close this now, or is there anything else left to implement?

[2022-10-24 04:52] peterwilsoncc commented on #44946
I attempted to use the lower level caching in https://github.com/WordPress/wordpress-develop/pull/3517 but without success. `Tests_Theme_wpThemeJsonResolver::test_get_user_data_from_wp_global_styles_does_not_use_uncached_queries` fails consistently.

In the [loop to test caching](https://github.com/WordPress/wordpress-develop/blob/fafe0b8c2bc764b9e7277d7b6b66a308b1697d82/tests/phpunit/tests/theme/

[2022-10-24 06:58] kevin940726 commented on #44418
One thing to consider is that this workaround won't work for data copied from other tabs. For instance, copying from the patterns directory in wordpress.org cannot be pasted on a WordPress instance. We would need to handle that gracefully to reduce inconsistency.

[2022-10-24 07:24] #44792 closed, assigned to Soean

[2022-10-24 07:36] talldan commented on #44976
You might also be able to add an inline script that calls the `createNotice` function, but passes in some PHP values.

WordPress core seems to do this whenever editing the privacy policy page:
https://github.com/WordPress/wordpress-develop/blob/a5463b4500a183373476c66d88639d8890f9bd3f/src/wp-admin/includes/class-wp-privacy-policy-content.php#L339-L354

[2022-10-24 08:32] jameskoster commented on #44581
I agree, that icon can work well to begin with.

Yeah that would be handy. I think the implementation would be slightly different though, so probably best to do that separately. Related: https://github.com/WordPress/gutenberg/issues/44582

[2022-10-24 08:35] getdave commented on #42779
Let's keep this one open for further testing and possible future fix.

[2022-10-24 08:38] javierarce commented on #44581
@jameskoster after I published that comment I realized that if there are a lot of patterns, reaching the ones at the end of the list could take a while, and picking random patterns could actually be better.

[2022-10-24 08:40] kevin940726 commented on #44581
Hi! I'm interested in giving this a shot! If I'm not mistaken, I think we should use the `blockTypes` field to search for matched patterns. I don't think most of the default loaded patterns have `blockTypes` set though?

[2022-10-24 08:44] jameskoster commented on #41379
I think we can close. If anyone disagrees feel free to reopen 😁

[2022-10-24 08:53] getdave commented on #38305
Thank you for reporting this Issue.

It sounds very similar (if not identical) to https://github.com/WordPress/gutenberg/issues/45083 which I recently fixed in https://github.com/WordPress/gutenberg/pull/45143.

https://github.com/WordPress/gutenberg/pull/45143 will be backported to the WP 6.1 release. The easiest way to test for now would be to use the Gutenberg Plugin.

@naxoc Are you able to re

[2022-10-24 08:56] #43173 closed, assigned to aristath

[2022-10-24 09:05] Tukaramdas commented on #26223
In all honesty, this sidebar closing is  the most annoying thing about the block editor.  How can we edit easily when the block inserter goes away every time we choose a block?  Extremely frustrating, I hope it is addressed eventually.  This discussion has been ignored for 2 years... so it is already later, than sooner, so eventually?

[2022-10-24 09:50] javierarce commented on #44361
Here are some proposals for this feature:

First of all, we could include a new item in the contextual ellipsis menu. It could be a single item (left), or we could combine it into a submenu (right) thanks to the addition of the paste style action from [this issue](https://github.com/WordPress/gutenberg/issues/44418).

![image](https://user-images.githubusercontent.com/4933/197499726-1dbbb7a3-8a49-

[2022-10-24 10:18] getdave commented on #43852
I understand that you see this behaving exactly in the same way as it does now except that under the hood the overlay would be a template part rather than the exact same block as the Navigation block? Is that right?

With respect, whilst that sounds ideal, I feel there might be a few unexplored threads in that approach which if not unpicked early could lead to inefficiencies down the line.

For ex

[2022-10-24 10:22] jasmussen commented on #42325
Nice work! I think making Add New open a single modal makes a lot of sense, it affords:

* More context
* Emphasis on common actions, de-emphasis on rarer actions (like a single post template)

In the case of a single post template, I would think it so rare that you need to create this, that it's actually important to de-emphasize this one, lest we give it prominence enough that people might think

[2022-10-24 10:24] jasmussen commented on #44776
Any preference on the attached PRs? Or do we need to try a different direction?

[2022-10-24 10:30] scruffian opened #45240 "Fatal error when user CPT for Global Styles is deleted"
### Description

If the user CPT for Global Styles is deleted then this line throws a fatal error:

`if ( array_key_exists( 'post_content', $user_cpt ) ) {`

in `wordpress-6.1/class-wp-theme-json-resolver-6-1.php`.

We should check that $user_cpt is an array before we check if a key exists in it.

### Step-by-step reproduction instructions

Delete the user CPT for Global Styles and reload your sit

[2022-10-24 10:31] scruffian commented on #45240
I have added this to the 6.1 tasks as I wonder if we want to get if fixed in 6.1?

[2022-10-24 10:33] jasmussen commented on #44501
Would agree. I would add that unless we can create a slew of amazing patterns that sufficiently populate all these categories, it's probaby best to start with _less and better_. That is, better a few good categories/tags but with only quality patterns inside, rather than having extra categories with  just one or two patterns.

Anything other than "Query" 👍 👍

Agreed. Wireframe is a curious name, a

[2022-10-24 10:39] jasmussen commented on #26351
Coming back to this one, here are the freshest mockups showing URL dialogs filtered across a slew of contexts:

<img width="1740" alt="URL dialogs i2" src="https://user-images.githubusercontent.com/1204802/197507918-c21bf038-f6ba-4f21-bb95-2b55bac23f44.png">

And the search options:

<img width="1220" alt="Searching i2" src="https://user-images.githubusercontent.com/1204802/197546715-46d2f12f-44d4

[2022-10-24 10:39] jasmussen commented on #35073
Fresh mockups here: https://github.com/WordPress/gutenberg/issues/26351#issuecomment-1288816531

[2022-10-24 10:44] ayyilmaz commented on #27318
The problem has continue. I use Herald Theme and When I go to editor I cant use nicely because it makes font size smaller than normal. It effects paragraphs. Itry to change font size of `.editor-styles-wrapper` class from customizing section but it does not effect. It creates new css command like this:

[code]

Problem has been continuing and I think issue should not be closed.

[2022-10-24 11:08] jasmussen commented on #43852
Thanks for the elaborate response.

If the template part is entirely customizable, such as an empty group you can insert anything into, then any navigation menu ite might come pre-populated with, would be editable just as if it was a second menu, no? I don't know whether this is better than a strong locked connection to the parent navigation container, just that this seems like the simplest path f

[2022-10-24 11:08] ndiego commented on #45240
This would be good to fix for 6.1 if a fix can be prepared asap. Otherwise, this is a good candidate for 6.1.1.

[2022-10-24 11:10] jasmussen commented on #45148
How about we use the new "Caption" icon for it?

<img width="481" alt="Screenshot 2022-10-24 at 13 10 10" src="https://user-images.githubusercontent.com/1204802/197512928-1c399ef1-d42a-47a3-8858-4d992fd2419e.png">

The 2nd icon right after Align.

[2022-10-24 11:37] jasmussen commented on #44611
We can start with that, but I think the filter icon works well enough for what it is, and balances the prominence nicely enough.

[2022-10-24 11:40] ntsekouras commented on #45148
We can't because we added this `caption` handling to video blocks as well 😄

[2022-10-24 11:50] jasmussen commented on #45148
Oh that's right! How about this one, CC for closed captions?

<img width="386" alt="Screenshot 2022-10-24 at 13 49 49" src="https://user-images.githubusercontent.com/1204802/197519098-722ebc44-6fec-4316-a5d2-697e761eb162.png">

[code]

[2022-10-24 11:52] jameskoster commented on #44581
Oh yes, I agree it should be random. I think the icon still works though.

I'm not sure exactly how it works, but I believe blocks can be marked as having a `content` component? Ideally the shuffle functionality would count the number of `content` blocks in the container and cycle through patterns that include the same quantities. Any other block is ignored for the purpose of matching. IE a patter

[2022-10-24 11:54] jameskoster commented on #44361
@javierarce do you think the change proposed in https://github.com/WordPress/gutenberg/issues/40204 would affect the Inspector design?

[2022-10-24 12:02] jameskoster commented on #42325
Probably worth a try!

[2022-10-24 12:06] jameskoster commented on #44776
For me the noise is mostly an issue when you've already selected a block:

![outlines](https://user-images.githubusercontent.com/846565/197521735-a772a4b8-7e5a-48ee-ad9b-9d7a42401029.gif)

Maybe we could try a version that removes the selected block outline? 🤔

[2022-10-24 12:35] jameskoster commented on #45148
I considered that one too, but since text tracks is not restricted only to closed captions I wasn't sure if it made sense? 🤔

[2022-10-24 12:37] jasmussen commented on #45148
Indeed, this is the description:

How do those chapters or descriptions show up? I will admit to not having used this feature before. If it's all text overlaid on the video, I think it's fine to call it closed captions.

[2022-10-24 12:47] jasmussen commented on #44776
Oh that's interesting. That could be worth a shot.

I also think we're at a point where we can kill the floating inserter button, don't you think?

[2022-10-24 13:08] mirka opened #45246 "Popover: Prefer `isAlternate` style when rendering from Toolbar"
## What problem does this address?

According to the design spec, popovers opened from the block toolbar should have the same dark border (`isAlternate`) style by default. Currently, consumers need to set that prop on their popovers manually.

## What is your proposed solution?

See if we can do this automatically, likely by using the [context system](https://github.com/WordPress/gutenberg/tree/tr

[2022-10-24 13:27] javierarce commented on #44361
Thanks for pointing that PR out, I had forgotten about it.

I think the styles section (with or without the style summary) could appear at the bottom of the Appearance tab under a "Styles" label, so in essence, it would be similar to the design above.

Another idea I had testing that PR could be adding an inspector tab with the styles summary, but I'm not sure if placing the push action there coul

[2022-10-24 13:41] colorful-tones commented on #22071
I'm not entirely a fan of the current toolbar implementation. I recently built a dynamic block with a modal overlay. At first, I overlooked the whole toolbar options because I did not even think to look there for configuration/styling options.

I would love to see this block get some attention for WP 6.2 or earlier. I just obtained access to the handy WordPress Figma Library and I intend to riff o

[2022-10-24 14:15] ciampo opened #45249 "Components theming: use new `accent` color in every component"
Part of #44116

## What

Swap hardcoded accent/theme color styles in favour of the newly introduced CSS variables, both for Sass and Emotion-based components.

There will be [three variables to refactor towards](https://github.com/WordPress/gutenberg/blob/trunk/packages/components/src/utils/theme-variables.scss):
- `$components-color-accent`
- `$components-color-accent-darker-10`
- `$components-co

[2022-10-24 14:29] jameskoster commented on #45148
The types are listed as:

I'm not entirely sure how they appear though. I tried to attach this [sample vvt](https://gist.github.com/samdutton/ca37f3adaf4e23679957b8083e061177) file to a video and nothing happened on the frontend 🤔

[2022-10-24 14:31] jameskoster commented on #44776
The black one? Potentially, yes!

[2022-10-24 14:41] jameskoster commented on #44361
For the menu, I quite like the context that the dedicated Styles flyout provides. Do you think the "Push to Global Styles" action needs a description, or a confirmation dialog that appears on click explaining what that action actually means? I'm also wondering if we should factor the inverse action (revert to default styles) into this design?

I'm torn on the style summary, it feels a bit duplicat

[2022-10-24 14:59] #45233 closed, assigned to mikachan

[2022-10-24 15:34] ryelle commented on #45179
There was a suggestion in this comment https://github.com/WordPress/gutenberg/issues/43395#issuecomment-1263731338 about a new debugging constant for theme developers, could help here too — when "`THEME_DEBUG`" is true, show the pattern console errors, otherwise silently discard them? Or something :)

I don't think that would really help older versions either though, because we haven't been tracki

[2022-10-24 16:49] kathrynwp commented on #45213
@mikachan Flagging for you - should this be moved to the TT3 repo?

[2022-10-24 17:20] ockham commented on #44687
This has now been fixed in Core in [r54670](https://core.trac.wordpress.org/changeset/54670) and backported to the 6.1 branch in [r54671](https://core.trac.wordpress.org/changeset/54671).

[2022-10-24 17:20] #44687 closed, assigned to nobody

[2022-10-24 17:24] skorasaurus commented on #45229
related: https://github.com/WordPress/gutenberg/issues/34448  and https://github.com/WordPress/gutenberg/issues/27760

[2022-10-24 18:10] luminuu commented on #45213
I've intentionally posted this issue here as I think this is a general issue spanning multiple themes or will become a bigger issue if people switch from classic themes to block themes in the future.

[2022-10-24 18:35] ciampo opened #45253 "[Storybook] `Disabled` component are still focusable in Firefox"
### Description

This is likely a regression introduced by #44865, which causes the `Disabled` component to rely on the `inert` attribute.

The `inert` attribute is not supported by Firefox browsers, and the polyfill doesn't seem to work in preventing elements wrapped in `Disabled` from being keyboard-focusable.

What needs to be clarified is whether the polyfill is loaded at all in Storybook — de

[2022-10-24 18:37] ockham opened #45254 "PHP unit tests are failing"
### Description

First reported [in Slack](https://wordpress.slack.com/archives/C02QB2JS7/p1666634913412629).

PHP unit tests in the Gutenberg repo [have been failing](https://github.com/WordPress/gutenberg/actions/runs/3313497602/jobs/5471558833) since [some time after 13:56 UTC and before 14:20 UTC](https://github.com/WordPress/gutenberg/commits/trunk). Unfortunately, this seems to point at my o

[2022-10-24 18:41] ockham commented on #45254
Looks like the [issue](https://github.com/WordPress/gutenberg/blob/eefde308846c28a616a02d68f39f620faab5bf91/lib/compat/wordpress-6.0/client-assets.php#L76) is in [`gutenberg_resolve_assets`](https://github.com/WordPress/gutenberg/blob/eefde308846c28a616a02d68f39f620faab5bf91/lib/compat/wordpress-6.0/client-assets.php#L38-L103), which [hooks into `block_editor_settings_all`](https://github.com/Word

[2022-10-24 18:48] ockham commented on #45254
Inspecting [`style_handles`](https://github.com/WordPress/gutenberg/blob/eefde308846c28a616a02d68f39f620faab5bf91/lib/compat/wordpress-6.0/client-assets.php#L76) reveals that some entries are arrays rather than strings, e.g. no. 135 in the following snippet:

[code]

Current working hypothesis: It was probably fixed in Core, by the very [PR](https://github.com/WordPress/wordpress-develop/pull/3108

[2022-10-24 19:31] albanyacademy opened #45256 "Device Preview / View dropdown in header disappears when inside template part editor."
### Description

When navigating to Appearance -> Editor -> Template Parts -> any template part, the device preview button at the top disappears. The canvas is resizable, but it appears that block settings making use of devicePreview don't work anymore either, and this switch in UI is unintuitive.

### Step-by-step reproduction instructions

1. Go to Appearance > Editor
2. Open the left-hand panel

[2022-10-24 19:55] ockham commented on #45254
FWIW, here's the corresponding output for `$style_handles` prior to https://github.com/WordPress/wordpress-develop/pull/3487:

[code]

Note that the array at 135 is flattened to its first item.

[2022-10-24 20:21] sabernhardt opened #45257 "Post Comments Form block: limit context to site editor"
## What problem does this address?

The Post Comments Form block already does not appear in the Widget editor contexts, but it does not fit well in the Post editor either.

When someone adds the block to a post and the theme already has a comments form, that creates a copy of the form _with duplicate IDs_. Then at least one of the copies would be difficult to use.

Additionally, Trac has a few tic

[2022-10-24 20:34] pablohoneyhoney commented on #36667
Related: https://github.com/WordPress/gutenberg/pull/44770#issuecomment-1289580712

[2022-10-24 21:00] ockham commented on #45254
Before I commit to the simple solution -- picking the first array item -- I'd like to verify that that was indeed the behavior before https://github.com/WordPress/wordpress-develop/pull/3108, or if we should have `WP_Block_type::__get()` return something different. (I've tried for a bit now, but it's late and my brain is kinda fried, so I'm not really trusting my own findings right now.)

For refe

[2022-10-24 22:27] bradhogan commented on #24934
Happy to open a new ticket if necessary.  Seems that you cannot create a template for a custom taxonomy then use the query block on that template to display the custom posts that are associated with that tax.

So..

If I have registered let's say Books (cpt) and Genre (custom tax).

I then create a taxonomy-genre.html template with a query:

[code]

Then in the front-end, I click a genre link (let

[2022-10-24 22:47] ryelle commented on #44501
The list in Gutenberg/core is separate from the list on w.org/patterns. We've had to sync them back and forth when something changes. Should it only be one list? The Pattern Directory does provide the list of categories as an API.

There is also this (old) issue https://github.com/WordPress/pattern-directory/issues/190 for updating the categories in the pattern directory — if you're aiming for bot

[2022-10-24 23:07] peterwilsoncc commented on #44946
I've updated https://github.com/WordPress/wordpress-develop/pull/3517 and it is now ready for review.

The test for `test_get_user_data_from_wp_global_styles_does_not_use_uncached_queries()` was running as an anonymous user, as they do not have permission to create the post type `wp_global_styles()` nor terms in the `wp_theme` taxonomy, the post creation was not happening as expected:

* the post

[2022-10-25 00:30] andrewserong commented on #44946
This looks good to me for fixing up the caching logic!

Testing out that PR revealed one other piece of the puzzle for me. On a site that already has a global style custom post entry for the currently active theme, when we run the importer, if the post id is the same, then the importer sees that there's already a post, and doesn't create a new post for the imported custom global styles data. For e

[2022-10-25 00:34] dd32 commented on #45254
Just noting this also results in a fatal error on PHP8, and an obscene number of Notices/Warnings on wordpress.org/gutenberg/  :)

[code]

[2022-10-25 00:55] peterwilsoncc commented on #44946
I've created [WP#56901](https://core.trac.wordpress.org/ticket/56901) for tracking the commit to WordPress-Develop.

@anarieldesign  are you able to link your WordPress.org account to GitHub so you can be included in the props for the ticket? You can do so on your profile https://profiles.wordpress.org/me

I'll keep this ticket open for tracking the changes for the Gutenberg repository.

[2022-10-25 02:20] t-hamano commented on #44374
The PR for this issue is below:

- For WP6.1: #45118
- For latest Gutenberg: #45261

[2022-10-25 04:51] ajlende commented on #45194
I've had a couple of ideas for duotone.

### CSS Custom Properties

Frist, it would be possible to define a CSS custom property in the block styles to select the inner element to apply the filter to. The global styles would then set this custom property at the block level.

[code]

I started working on this one in https://github.com/WordPress/gutenberg/pull/42870 and was running into problems with

[2022-10-25 05:21] anarieldesign commented on #44946
Thank u, I connected it now 🙏 @peterwilsoncc

[2022-10-25 05:49] andrewserong commented on #45117
Thanks for opening up a separate issue for this! Depending on how it's implemented, I wonder if a minimum height option for the post content block would help? So, rather than controlling this via the position of the footer, the post content block could be set to take up at least the required amount of space?

[2022-10-25 05:50] andrewserong commented on #45117
I've just added the Layout label, too, as I believe this is quite related to many of the other tasks surrounding block and page layouts 🙂

[2022-10-25 06:32] jasmussen commented on #44611
Based on the feedback, I'm moving this to the Dev category, we can work any questions like the filter button out in a PR, which is already underway.

[2022-10-25 06:35] ntsekouras commented on #24934
👋 @bradley2083 I noticed in your Query Block that you have:

When you want to use the block in a template you should have the block to inherit from the global query, so it should be `true`.  Please share if  you still have issues with the suggested change.

[2022-10-25 06:41] jasmussen opened #45263 "Content-only locked patterns: move "Modify" to elllipsis menu"
Followup to #43037. When you add `"templateLock":"contentOnly"` manually to the code of a group block (no UI yet), the pattern becomes content-only locked and flattens nested blocks, for simpler editing:

<img width="1437" alt="content only locked" src="https://user-images.githubusercontent.com/1204802/197700495-3273e7e1-a2a1-4aca-8da7-8847818c4b26.png">

There's a big "Modify" button in the toolb

[2022-10-25 06:44] jasmussen commented on #45263
Added "Needs dev" as the moving to ellipsis menu task can be completed now, despite the open question.

[2022-10-25 06:50] jasmussen opened #45264 "Focus mode: Allow on any container block from the ellipsis menu"
At the moment, you can edit a template part in isolation (aka focus mode) by clicking the edit button on the block toolbar:

<img width="384" alt="edit" src="https://user-images.githubusercontent.com/1204802/197701762-030013c9-f958-4ea2-8426-5093cb605bdf.png">
<img width="1392" alt="focus" src="https://user-images.githubusercontent.com/1204802/197701774-6393f3b6-cbdf-4957-a512-83d211022c75.png">

[2022-10-25 06:50] jasmussen commented on #45263
Related: #45264

[2022-10-25 07:08] Mamaduka commented on #45254
I created a PR with a straightforward fix - https://github.com/WordPress/gutenberg/pull/45265.

[2022-10-25 07:15] phil-sola commented on #42542
I came here today checking to see if this had already been requested or not.

Such a simple block, and very easy to implement I would imagine given the time to read component linked to above by @bph

+1 for this block!

[2022-10-25 08:03] talldan commented on #43852
Could there be some overlap with the design explorations over on fixed/sticky blocks - https://github.com/WordPress/gutenberg/issues/30121#issuecomment-1286816605. The overlay is technically a fixed element.

[2022-10-25 08:11] youknowriad commented on #45253
I confirmed that there's no regression in Firefox, it's just that there's no polyfill (not just the inert one) is actually loaded in storybook.

[2022-10-25 08:11] t-hamano opened #45268 "FontSizePicker: new t-shirt sizes don't match the existing font sizes in some themes"
### Description

In #43074, the font size ToggleGroupControl now displays the t-shirt size as the button name. I'm concerned that this may cause confusion in many themes that define font size variations.

For example, in the following theme, the button text and tooltips seem to be at odds with each other:

Twenty Twenty or Twenty Twenty Two

![tt0](https://user-images.githubusercontent.com/5442221

[2022-10-25 08:22] jameskoster commented on #45264
Seems like a good idea to me.

I wonder if there's a way we can communicate the nature of the focussed edit experience before clicking the button? Otherwise it may be a bit strange to see an 'edit' action for something you are already editing. A different label, or description could be enough.

A couple of ideas:

[2022-10-25 08:24] jameskoster commented on #45263
Considering https://github.com/WordPress/gutenberg/issues/45264, 'Edit' may be out of the question.

Perhaps we should explore this first? It may be that the solution is a toggle, which could make the 'modify' button unnecessary.

[2022-10-25 08:30] ciampo commented on #40912
Best way to move forward would be to open a PR containing the code to reproduce the issue — that way, we could look at debugging the problem and understand why the modal is closing.

[2022-10-25 08:46] #42739 closed, assigned to nobody

[2022-10-25 08:53] jasmussen commented on #45263
Actually I thought it neat to combine the two. Modify and Edit could be the same, no?

[2022-10-25 08:55] jasmussen commented on #45264
I like to reduce text whenever possible, I find that more text is rarely that helpful when glancing. I wonder if a better icon could work?

[2022-10-25 08:56] sinanisler commented on #26223
i feel like gutenberg team holding the gutenberg :)

well ok we will keep using elementor
thanks

[2022-10-25 09:01] jameskoster commented on #44501
In terms of broad UX the categories would ideally always be in sync, so I would tentatively say yes, especially if it makes maintenance more straight-forward. But there are likely technical/performance issues I'm not accounting for. I suppose the answer to that will dictate whether we close https://github.com/WordPress/pattern-directory/issues/190 or not.

Mostly adding new categories, which I app

[2022-10-25 09:02] jasmussen commented on #45268
The segmented control and the sequence from small to XL has the added purpose of encouraging consistency in slugs and font size definitions, so that switching themes the sizes can transfer. For when a theme needs more customizability than this, and isn't as concerned about theme switching, the font dropdown is arguably a better choice since it affords more space to provide context. At the moment,

[2022-10-25 09:12] jameskoster commented on #45263
Oh yes, that would be good to try :)

[2022-10-25 09:20] jameskoster commented on #45264
It's definitely a minor point, and may not even be an issue. A different icon might work, but I don't have any bright ideas just yet. We can probably evaluate this detail during implementation.

[2022-10-25 09:30] #42766 closed, assigned to nobody

[2022-10-25 09:35] jasmussen opened #45271 "Global Styles/Typography: Managing fonts"
Fonts and font weights can be defined in `theme.json` in settings.typography.fontFamilies.fontFace.
<details><summary>See example code</summary>

[code]
</details>

There isn't yet a user interface for it. Here are mockups to explore how you should be able to add fonts. The main interface for managing fonts would live in Global Styles → Typography, where a plus button would let you add a font from

[2022-10-25 09:45] ciampo commented on #45253
Thank you for the confirmation, Riad! I'm going to change the PR's description to better reflect that the issue is only in Storybook.

[2022-10-25 09:48] beafialho commented on #45117
Maybe something similar to "Toggle Full Height" in the Cover block could work!

Thank you!

[2022-10-25 09:50] #45254 closed, assigned to Mamaduka

[2022-10-25 09:55] jasmussen commented on #45148
Thanks for diving in. The first three, subtitles, captions, descriptions, they definitely sound like subtitle tracks. But chapters and "metadata" are definite the latter — just metadata. Which I suppose you could categorize subtitles as, as well. In that light, and to differentiate from the `figcaption` caption button, it seems a generic metadata icon would be in order. But there aren't any real g

[2022-10-25 09:58] ntsekouras commented on #45179
This is a long standing known issue and I also believe a minimum version field is needed. Do you find any problems by checking only against WP? That means that all the patterns in PD should have been created at most the current stable WP version and not with GB. What do you think?

[2022-10-25 10:09] aaronrobertshaw opened #45273 "Tracking: Disabling Design Tool UIs"
## Overview

When theme.json was created, one of its features was to allow theme authors to be able to lock down certain design tools by disabling their UIs. This meant that blocks could opt into a support and be style-able by theme.json, yet not present that support's UI to end users in global styles or the block inspector.

A few instances of odd behaviour with the ability to disable design tool

[2022-10-25 10:09] jasmussen commented on #44361
As an alternative, we could make "dirty" global styles, so that the Publish button changes to "Save" and invokes the multi entity saving interface. That would act as a confirm, mitigating the need for undo, as I imagine that might be tricky, as undo normally doesn't do any saving at all, wheres this would be both push and save for a separate entity.

This multi entity saving panel might also be wh

[2022-10-25 10:14] Tropicalista commented on #40912
I suppose it's a z-index problem

[2022-10-25 10:41] cbravobernal commented on #45240
Taking a look at it 😄

[2022-10-25 10:43] jasmussen commented on #44412
How's this? A "Custom CSS" button at the bottom of the Advanced section of a Group block, which slides the inspector to the right just as the content-only editing system does:

<img width="1856" alt="Group custom CSS" src="https://user-images.githubusercontent.com/1204802/197752990-22001edd-399b-40c0-8ae7-3925807dfc8b.png">

This could [align well](https://github.com/WordPress/gutenberg/issues/301

[2022-10-25 10:48] javierarce commented on #45271
I think it would be possible to parse the font files to extract the name and the style (at least, I know this is true for `ttf` and `otf`, which I think we could include on that list).

If we could have that, then the upload flow could be more simple: users upload a file and then we expose the metadata on a second step (perhaps there's no need to let users customize the font details).

[2022-10-25 10:49] javierarce commented on #45271
Also, aren't font style and font weight the same thing? 🤔

[2022-10-25 10:51] oandregal commented on #44946
Looked at https://github.com/WordPress/wordpress-develop/pull/3517#issuecomment-1290349343 from a performance point of view and I have seen no performance penalties from removing the caching from the method. I haven't seen any data provided by the PRs that introduced the caching either (https://github.com/WordPress/gutenberg/pull/36584 and https://github.com/WordPress/wordpress-develop/pull/2414 )

[2022-10-25 10:52] jasmussen commented on #45271
Nice, that seems ideal. If that seems feasible in implementation, probably the path to lean towards.

They are combined in a single "Apperance" menu in the UI, and should remain as such, but in case we _aren't_ able to extract these properties as metadata, CSS-wise the font definition does need separate values for `font-style` and `font-weight`, to match the theme.json counterparts:

[code]

I.e.

[2022-10-25 10:57] jameskoster commented on #45271
This is looking really good already. A couple of smaller points:

The plus icon next to font weights kind of suggests that it's only possible to add weights, not remove them. Maybe a different icon, or even the same 'EDIT' button you have next to Fonts in the typography panel could work?

In the weight management modal, I know it's covered in the description, but should we also display a warning w

[2022-10-25 10:58] oandregal commented on #44946
My understanding is that the importer works the way it does to prevent an unexpected data loss.

As it works now, styles work the same as any other post type. If the user wants the styles from the XML and they have some data, they can delete the existing and import. Changing the behavior to always overwrite means that users can lose changes to styles if they import (they need to be aware that styl

[2022-10-25 11:05] jameskoster commented on #45148
Possibly a rabbit hole, but you also add a caption. The + could open a menu including options to add captions and text tracks. However, it doesn't work so well for removing.

Perhaps the text button is the way to go for now.

[2022-10-25 11:11] jameskoster commented on #44412
I like the implementation – a dedicated panel makes sense and provides adequate space. The connection to Global Styles is nice too.

But that Advanced panel is starting to look a little chaotic. Obviously it's separate, but I wonder if we should give it the Design Tools treatment?

[2022-10-25 11:32] ddryo commented on #45268
This is well understood.
However, if that is important to you, you should have done it since ver. 5.0.

Until now, we could define any size we wanted using `add_theme_support( 'editor-font-sizes' )`, and we could specify the display name with the `'name'` and `'shortName'` option.

Based on that specification, I defined the font sizes in my theme. (In my theme, it is `"XS, S, M, L, XL, XL"` instea

[2022-10-25 11:34] ddryo commented on #45268
The theme I am developing already has tens of thousands of users, so it is very troubling to see such a change now.

[2022-10-25 11:46] jasmussen commented on #44412
Sounds good to me, including keeping that separate! 🚀

Alright, I'll update issues.

[2022-10-25 11:51] jasmussen commented on #45271
I'm missing a beat, can you expand a bit? [Here's the figma btw](https://www.figma.com/file/vmHxwa8WhiyiP9poe2om9J/Inspector-Panels?node-id=13521%3A42111).

I think @javierarce mentioned this in a chat I had with him as well. Yes, it'd be nice to make the "careful with font weights" warning contextual to the filesize. I omitted that for now as I'm unsure how complex it would be for a developer to

[2022-10-25 11:54] jasmussen commented on #44412
Added "Needs Dev" and updated the main issue. Should be good to work on!

[2022-10-25 11:57] jasmussen commented on #30142
I went ahead and updated this issue with a fresh mockup based on feedback in the adjacent #44412 issue, and [comments](https://github.com/WordPress/gutenberg/issues/30142#issuecomment-1199112589) ([2](https://github.com/WordPress/gutenberg/issues/30142#issuecomment-1139535457)) on this thread. Let me know if all is as it should be!

[2022-10-25 11:58] t-hamano opened #45276 "Add spacing presets for theme support"
## What problem does this address?
#41527 introduced spacing presets. The preset values can be customized in `settings.spacing.spacingScale` or `settings.spacing.spacingSizes` or `settings.spacing.customSpacingSize` in `theme.json`.

On the other hand, classic themes that don't have `theme.json` can opt-in to the spacing feature via `custom-spacing` or new `appearance-tools`. However, as far as I

[2022-10-25 12:09] dianeco opened #45277 "Columns block: changing the vertical block spacing also wrongly changes the horizontal block spacing"
### Description

Changing the vertical block spacing of the columns block also changes the horizontal block spacing, which isn't the expected behavior. The horizontal block spacing should keep its default value.

### Step-by-step reproduction instructions

1. Using the Twenty Twenty-Three theme, insert two columns by pasting the following code.

[code]

By default, the horizontal spacing is set by

[2022-10-25 12:15] ciampo commented on #40912
Possibly — but to be sure, I'd have to be able to inspect the code reproducing the issue. Would you be able to open a PR? You could add a temporary Storybook example to `Modal` to replicate the problem

[2022-10-25 12:29] jasmussen commented on #30121
Nice one @javierarce!

I don't disagree, but I'm leaning towards Layout being the best place for it at the moment, in absence of any obvious alternatives (ideally we avoid additional panels).

The layout panel itself could use a great deal of love, but one starting point could be to move it to becoming a ToolsPanel, that would allow hiding some of the rather advanced controls it holds by default.

[2022-10-25 12:30] jasmussen commented on #43852
Nice, yes indeed! No reason it couldn't show up in the same style as @javierarce designed there 👍 👍

[2022-10-25 12:57] t-hamano commented on #40912
I have added the test code to the modal component Storybook. The branch is [modal-click-iframe](https://github.com/WordPress/gutenberg/tree/test/modal-click-iframe).
It is indeed for reproduction.

https://user-images.githubusercontent.com/54422211/197778886-150ee1ff-f4fe-4ea1-a649-d883516ec7ff.mp4

[2022-10-25 12:59] ockham commented on #45240
TBH I'm having a bit of trouble reproducing. Can someone help me out there?

What I've tried:
- Using TT3:
- Go to the Site Editor.
- Make some Global Style changes, e.g.:
  - Change the Theme style variation to "Sherbet"
  - Change block styling globally, e.g. change Headings to have an orange background color.
 - In the console, list all Global Style CPTs: `npm run wp-env run cli "wp post list -

[2022-10-25 13:23] ockham commented on #44374
Closing, now that both #45118 and #45261 have been merged. Thanks, everyone!

[2022-10-25 13:23] #44374 closed, assigned to t-hamano

[2022-10-25 14:08] metropoliscreative commented on #9305
This does not seem to be merged with core - the spacing is only correct if the Gutenberg plugin is active.

This is on the TextControl component with help text, within the PluginPostStatusInfo SlotFill:

Gutenberg plugin deactivated

<img width="275" alt="Screen Shot 2022-10-25 at 10 02 54 AM" src="https://user-images.githubusercontent.com/3420909/197795591-e810daa7-7ebe-457a-b4a1-641c0fa8270e.png

[2022-10-25 14:34] ndiego commented on #38305
This issue was reviewed in today's Editor Bug Scrub. We tested with Gutenberg trunk and confirmed that this issue is now fixed and will be included with Gutenberg 14.5 and in WordPress 6.1. Therefore I am going to close this issue.

[2022-10-25 14:34] #38305 closed, assigned to nobody

[2022-10-25 14:40] ndiego commented on #39727
This issue was reviewed in today's Editor Bug Scrub and just wanted to follow up on @Thelmachido's last comment. Any updates on the progress of the linked PR?

[2022-10-25 14:44] ryelle commented on #45179
That's not the pattern directory environment, though. Since it's part of the w.org multisite, it runs WP trunk and the latest Gutenberg release. At launch, we needed GB because the Creator needed some unstable APIs to work. I'm not sure if that's still the case, so we could _possibly_ disable GB on the Directory site, but it will still run WP trunk.

[2022-10-25 14:44] ndiego commented on #40125
This issue was reviewed in today's Editor Bug Scrub. Global Styles is currently limited to the Site Editor. The template editor within the normal post/page Editor is a slimmed-down version of what is in the Site Editor. So while not a bug, it would definitely be nice to be able to edit Global Styles in both cases. Therefore, I am going to reclassify this as an enhancement.

[2022-10-25 14:59] ndiego commented on #41503
I just confirmed as well using Gutenberg trunk and WordPress 6.0.3.

[2022-10-25 15:01] ariel-maidana opened #45283 "Add the ability to pin typography settings"
## What problem does this address?
For some users, it is frustrating to manually open typography settings for each block (like Line Height, Letter Spacing, Decoration, etc.):
![Screen Capture on 2022-10-25 at 11-59-36](https://user-images.githubusercontent.com/4965723/197809487-527712c0-86e0-4e41-8413-b973abcb4c8f.gif)

## What is your proposed solution?
Add an option in the Editor Settings to pin

[2022-10-25 15:05] jonathan-cfmp commented on #43464
@Mamaduka, Sorry I should have mentioned that the tags are not saving to the post. I get the 400 error, then after saving the post and reloading, the tags are not applied.

[2022-10-25 15:08] Mamaduka commented on #43464
Thanks for the additional details, @jonathan-cfmp!

**A few more questions:**
* What version of WordPress and Gutenberg plugins are you using?
* Does your site have multiple tags (more than 20) with similar names?

[2022-10-25 15:16] ndiego commented on #31536
This issue was reviewed in today's Editor Bug Scrub. I was able to replicate the situation using the code provided [here](https://github.com/WordPress/gutenberg/issues/31536#issuecomment-839173810). However, per the [discussion](https://wordpress.slack.com/archives/C02QB2JS7/p1666706971801329) during the bug scrub, the fact that admin requests can trigger  `wp_enqueue_scripts` shouldn’t inherently

[2022-10-25 15:20] bph commented on #42516
I also wrote how to [run Performance test](https://icodeforapurpose.com/gutenberg-release-how-to-run-plugin-performance-test-locally/) for the release locally.

I don't know how this would fit into the documentation, though

[2022-10-25 15:29] ntsekouras commented on #44361
I don't think it would be hard to do that.. I tried something real quick and it seems it will be fine. --cc @ciampo as he's a Popover expert right now 😄 .

[2022-10-25 15:37] jameskoster commented on #30121
Will `position` also need to entertain `relative` and `absolute` values in the future? If so the segmented control may struggle to accommodate it all. I don't think that needs to hold up anything here though.

[2022-10-25 15:38] jasmussen commented on #44361
I like the sound of that! Let's definitely look into flyouts then. Logistical question for @javierarce then, should the flyout (Copy, paste, push) be disconnected from the main menu with 12px, just like the main dropdown is disconnected from the block toolbar?

[2022-10-25 15:41] jasmussen commented on #30121
Relative can probably be default, right? It doesn't have to translate 1:1 to CSS. As far as absolute, I think it could be a bridge to cross when we get there: the free-form layout use cases that come to mind seem like they might require some separate design thoughts altogether.

[2022-10-25 15:48] oandregal commented on #44582
Raw prototype at https://github.com/WordPress/gutenberg/pull/45285 It should be enough to clarify some questions.

[2022-10-25 15:59] jonathan-cfmp commented on #43464
@Mamaduka,

- WordPress version is 6.0.3. No Gutenberg plugin, just the core WordPress Gutenberg integration.
- Yes, we have more than 20 tags with similar names.

The issue only occurs when trying to add tags with more than 20 similar tags, which prevents me from selecting the tag from the autosuggest dropdown.

[2022-10-25 16:03] jameskoster commented on #45271
Apologies, I meant this one:

<img width="311" alt="Screenshot 2022-10-25 at 16 58 27" src="https://user-images.githubusercontent.com/846565/197823433-97330204-4e4f-4a96-9f2e-972198bff107.png">

If I want to _remove_ a weight, the + doesn't really indicate that action very clearly. I was wondering if we could use the same 'EDIT' button from the main Typography panel:

<img width="605" alt="Screens

[2022-10-25 16:04] Mamaduka commented on #43464
Thank you, @jonathan-cfmp!

I recently fixed related issue #43766. The fix is available in Gutenberg 14.1 ( or later) and will also ship with WP 6.1, which will be released next week.

[2022-10-25 16:08] jonathan-cfmp commented on #43464
Thank you @Mamaduka. I look forward to testing it out when it is released.

[2022-10-25 16:20] jameskoster commented on #43852
Agreed. It would be really strange if you could instruct a navigation menu to _always_ use the overlay, then insert a _different_ navigation menu in the overlay. What if the menu in the overlay also uses an overlay 🫠?

If the overlay and the navigation menu are intrinsically linked, then replacing doesn't make much sense, unless I am missing something (quite likely)? What we might have to consider

[2022-10-25 16:35] jameskoster opened #45287 "Add design tool pattern to the 'Advanced' tab in block inspector"
The 'Advanced' panel in the block inspector is getting a little crowded, and will become moreso when we close https://github.com/WordPress/gutenberg/issues/44412.

Since the items in this panel are largely situational, it might be worth applying the 'design tool' pattern, enabling folks to add/remove controls ad hoc:

<img width="719" alt="Screenshot 2022-10-25 at 17 34 51" src="https://user-image

[2022-10-25 16:47] #36821 closed, assigned to Mamaduka

[2022-10-25 16:50] jameskoster commented on #30121
It really depends on whether we want to support the full expression of CSS. There may be situations where you want child blocks to be positioned absolutely relative to the viewport, in which case `position: static` would be required on the parent.

It's not a strong feeling, but I'd lean towards making `static` the default and providing `relative` as an option, only because it does match CSS and t

[2022-10-25 17:22] jameskoster commented on #42325
Here's a rough prototype to test the theory:

https://user-images.githubusercontent.com/846565/197840227-d9618ad4-c382-4da3-af23-ebf087d161f3.mp4

My main concern is that the menu on the left could get very long when you add a few custom post types. We may need to consider collapsible panels or similar.

The jump in height when the modal footer appears is a little awkward too, but not the end of t

[2022-10-25 17:33] bradhogan commented on #24934
@ntsekouras That worked.  Thank you!

[2022-10-25 17:47] georgeh opened #45290 "Revision Compare: show diff between custom template and theme template"
## What problem does this address?
When viewing the history of a template or template part in the revision compare screen, the oldest revision is empty and listed as "Removed":

![image](https://user-images.githubusercontent.com/128240/197844905-24fb949c-be41-4db2-a2a9-60af6d7388d7.png)

## What is your proposed solution?

When comparing templates or template parts, the oldest version should be th

[2022-10-25 17:53] paaljoachim commented on #42325
This looks really nice!

Perhaps one should start out from the start having collapsable panels. Having the collapsable panel Page Templates open. Blog and Advanced closed. User can click Blog or Advanced to see available templates in these sections. This way one can keep a better focus on the area one needs a Template in.

[2022-10-25 18:51] #44767 closed, assigned to BE-Webdesign

[2022-10-25 19:05] mastermind-0xff commented on #44937
## Steps to reproduce
1. d:\\_projects is symlink for c:\\_projects. d:\\_project\node\test-wp-block\ is the project path in the IDE;
2. "npx @wordpress/create-block block-a";
3. Move all files from d:\\_projects\node\test-wp-block\block-a to d:\\_projects\node\test-wp-block\;
4. Move d:\\_projects\node\test-wp-block\src\* to d:\\_projects\node\test-wp-block\src\block-a;
5. Copy and paste d:\_proj

[2022-10-25 19:21] djmtype commented on #14725
This is still a bug 4 years later with WP 6.0.3!?

[2022-10-25 19:44] cbirdsong commented on #36365
I've encountered an issue where these anchors include any `&nbsp;`s present in the title text.

Heading element content: `Promoting Public Engagement and Equity in Recovery&nbsp;`
ID added once rendered on the page: `promoting-public-engagement-and-equity-in-recoverynbsp`

The same text run through the `sanitize_title()` comes out like you'd expect: `promoting-public-engagement-and-equity-in-recov

[2022-10-25 20:01] ockham commented on #45153
Since the fixes for Embed, File, Gallery, Table, and Video have all been merged (and backported to 6.1), and the [Buttons issue seems unrelated](https://github.com/WordPress/gutenberg/issues/45153#issuecomment-1286425404), I'll close this PR.

Feel free to re-open -- or open a new PR -- if something is still broken!

[2022-10-25 20:01] #45153 closed, assigned to nobody

[2022-10-25 20:04] ockham commented on #44659
https://github.com/WordPress/wordpress-develop/pull/3481 has been committed, and will be included in WP 6.1 RC3.

Please test RC3 once it's released, so we can close this issue if it has been fixed 😊

[2022-10-25 20:34] leias commented on #44653
+1 Currently solving with a lot of styles or setting widths manually, but a real bother when you need to apply multiple styles.

[2022-10-25 20:54] jhnstn commented on #39727
The linked PR was put on hold for higher priority work. I plan on picking it back up this week to clear this issue.

[2022-10-25 20:58] glendaviesnz commented on #44839
This is because the site title is in a flex container so the width is constrained to the width of the content, so there is no additional space available to reflect changes in text alignment. If the flex is removed from the wrapper it works as expected:

https://user-images.githubusercontent.com/3629020/197879871-d8912c89-8472-40bb-96e1-eb2eac15a1d5.mp4

but then the horizontal layout of the header

[2022-10-25 21:09] jorgefilipecosta commented on #39616
As @ZebulanStanphill referred, this bug happens because the embed block added classes it needs as user custom classes. I guess the best fix would be to refactor the block to avoid using custom classes. But meanwhile, the solution in https://github.com/WordPress/gutenberg/pull/44947 may be a good one.

[2022-10-25 22:15] ironprogrammer opened #45292 "Fatal: Call to private method WP_Theme_JSON::maybe_opt_in_into_settings()"
### Description

I realize this will be moot after 6.1 is released, but for now I'm receiving a fatal error after activating Gutenberg on 5.9. The error does not occur for 5.9.1 and up.

<blockquote>Fatal error: Uncaught Error: Call to private method WP_Theme_JSON::maybe_opt_in_into_settings() from context 'WP_Theme_JSON_6_1' in /Users/brian/Sites/wp-install-test/wp-content/plugins/gutenberg/lib/c

[2022-10-25 23:01] cogdog commented on #14725
Yes it is, I use it on a few landing page themes (https://github.com/cogdog/wp-dimension and  https://github.com/cogdog/wp-bigpicture) where posts are used to order content on the main page. I just checked my own site, and while the post order is displayed in the posts view, when I edit one the value is listed as 0, and it refuses to update  changed value (it can be edited via Quick Edit).

Guess

[2022-10-25 23:13] LetterAfterZ commented on #23126
+1 to this feature. The preview modes break our ACF custom blocks, pulling their meta into the sidebar and creating a weird preview mode you can't seem to restore from.

[2022-10-25 23:24] andrewserong commented on #44946
Great point, it's easy to overlook things like this when focusing on a single use case (the user who does want to overwrite). I agree, that for the user who wishes to overwrite their own settings, it's up to them to clear out their user styles first. Sounds like there's nothing that needs to change from the importers side, then. Thanks for confirming!

[2022-10-26 00:23] shimotmk commented on #44659
@ockham
Sorry for the late reply.
I checked with WP6.1RC3 and it seems that the color is not hit when hovering the button.
I think you need to add the css that was removed in this pull request to classic-themes.css.
https://github.com/WordPress/gutenberg/pull/43553

![button](https://user-images.githubusercontent.com/42362903/197905868-d410dbd0-cede-4008-89c6-f3fcaff30b41.png)

Themes Twenty Ten

[2022-10-26 00:46] annezazu commented on #42010
Wanted to provide additional and recent context around how this is a pain point for folks with a great example from @kathrynwp. To set the stage, she tried to use the `/` inserter to add a new menu item, resulting in a / listed as the menu text:

From there, this bug obstructed the view in order to edit it further and fix it. Eventually, she did the following:

When thinking about user expectation

[2022-10-26 01:01] annezazu commented on #44615
cc @getdave @scruffian for awareness.

[2022-10-26 01:25] annezazu opened #45294 "Navigation block: Long menu name breaks dropdown view"
### Description

If you have a long menu name, the navigation block's new menu management drop down doesn't properly cut it off. Props to @jordesign for finding this:

<img width="291" alt="Screen Shot 2022-10-25 at 6 17 57 PM" src="https://user-images.githubusercontent.com/26996883/197912448-4dab6a0f-71b0-4e03-82cc-08c42a7a8139.png">

### Step-by-step reproduction instructions

1. Add a new navig

[2022-10-26 02:00] alexstine commented on #44193
Something else everyone needs to think about. I have no problem with combining the list view and these statistics, one could argue that putting the information in a more centralized location actually exposes it more and that is not a bad thing. My problem specifically deals with a context issue. We can no longer call this the "List View" sidebar because it contains more than the list view. For the

[2022-10-26 02:14] cuemarie commented on #44675
@talldan Let me know if you need any other details. The issue was replicated on the following:

- Twenty Seventeen
- Karuna
- Sequential
- Edin
- Dara
- Argent
- Hemingway Rewritten

[2022-10-26 02:17] ramonjd commented on #34728
Tests have been added for:

- border.php
- colors.php
- layout.php
- spacing.php
- typography.php

[2022-10-26 02:17] #34728 closed, assigned to nobody

[2022-10-26 02:58] andrewserong commented on #34728
Excellent, thanks for the update @ramonjd! Looks like we now have coverage for the main areas I was originally concerned about when I wrote up the issue 🎉

[2022-10-26 04:19] glendaviesnz opened #45297 "Spacing presets: range control can't be dragged past first setting"
### Description

The spacing presets range control gets stuck on the first setting when initially dragged from undefined - but only with the combined control, ie. it works as expected if you unlink the sides and set one side separately.

### Step-by-step reproduction instructions

1. Add a group block
2. In the right settings panel drag the padding range control to the first segment and while keep

[2022-10-26 04:22] talldan commented on #45268
This seems like a similar issue to https://github.com/WordPress/gutenberg/issues/44245

[2022-10-26 04:55] talldan commented on #45264
I think this is a good idea, but I have some questions.

At the moment when you launch focus mode, it launches the site editor but using the `wp_template_part` post type as the entitiy instead of a `wp_template`. It's not really that different to using the post editor to edit a reusable blocks. We call it 'focus' mode, but technically it's opening a different document in the site editor.

If it we

[2022-10-26 06:06] iazel commented on #25717
Hello, #45217 has been merged, so give a try to the trunk branch and it should work now :)

Please be aware that you first have to run:

[code]

Or at least delete the MariaDB container.

Cheers!

[2022-10-26 06:19] andrewserong commented on #45117
I've put up a new PR that looks at adding in a minHeight block support in https://github.com/WordPress/gutenberg/pull/45300 (it mostly borrows from some earlier experiments).

[2022-10-26 06:29] andrewserong commented on #44720
Update 2022/10/26:

* https://github.com/WordPress/gutenberg/pull/44600 — this PR has now been merged, which moves layout classnames and styles to be attached to the inner blocks wrapper rather than the block outer wrapper. This was an early wish list for the layout block support and unblocks opting blocks with nested markup in to using the layout block support (most notably the cover block). Kudo

[2022-10-26 06:55] CreativeDive commented on #31536
From my understanding, a frontend `wp_enqueue_scripts` action should not perform any operations in the backend context.

Frontend: `wp_enqueue_scripts`
Backend: `admin_enqueue_scripts`

In my opinion it's a performance issue. In my case, I performed file operations that affect the frontend only. Therefore, it is not desirable that this is also done in the backend.

[2022-10-26 07:06] CreativeDive opened #45301 "Update to WordPress 6.1 RC3 causes a Fatal error with Gutenberg 14.4.0-rc.2"
### Description

After updating from WordPress 6.1 RC2 to 6.1 RC3 I get this fatal error in block editor context:

<img width="655" alt="Bildschirmfoto 2022-10-26 um 09 04 40" src="https://user-images.githubusercontent.com/31563167/197957493-ad4ea522-3640-44db-946a-348893017448.png">

Deactivating the Gutenberg 14.4.0-rc.2 plugin solve that new issue.

### Step-by-step reproduction instructions

1

[2022-10-26 07:13] jasmussen commented on #45287
Could this not work without the help-text? I.e. just like a plain toolspanel?

One challenge is that some other blocks like Navigation put additional items there, like menu management. Something to consider.

[2022-10-26 07:28] #45253 closed, assigned to nobody

[2022-10-26 07:28] talldan commented on #44675
@cuemarie I'm still unsure what the issue is with 'button inside', but I can see that the search block's button styles look wrong in many classic themes regardless of whether 'button inside' is set. Button block styles also seem incorrect.

Some of these might be bugs in the themes as the problems seem to differ wildly (Twenty Twenty is completely wrong, while Twenty Twenty One has only a few issu

[2022-10-26 07:59] spacedmonkey commented on #44946
To be clear, fallbacking to WordPress core's `WP_Query` does have a down side. Currently global styles are cached for a day or a hour if found / not found. Meaning, a lookup to global styles will only happen once a day or hour for 99% of sites. But using `WP_Query` caching, means that when ANY post of any type, including revisions, menu items, embed caches and autosaves, the cache would be invalid

[2022-10-26 08:04] jasmussen commented on #42325
The flow feels right, but there's something about the borders and the list on the left/subheadings that feels slightly imbalanced to me. What would it look like with no borders? Or perhaps is there a modal treatment that integrates the modal title with the list on the left, a la macOS?

<img width="528" alt="Screenshot 2022-10-26 at 10 02 34" src="https://user-images.githubusercontent.com/1204802/

[2022-10-26 08:08] fluiddot commented on #38407
Updated the parent post with:

### 🛠️ Recently fixed or improved

++ [fix: Native inner blocks merge where appropriate](https://github.com/WordPress/gutenberg/pull/45048)
++ [build: Native demo editor supports Xcode 14](https://github.com/WordPress/gutenberg/pull/45120)
++ [fix: Image caption supports Voice Control](https://github.com/WordPress/gutenberg/pull/44850)

`🔎 Main focus` projects are co

[2022-10-26 08:10] spacedmonkey commented on #44946
It is also worth noting that `wp_get_global_stylesheet` and `wp_get_global_styles_svg_filters` also appear to cache global style data in a transient. These too, do not seems to have correct cache invalidation.

[2022-10-26 08:29] jasmussen commented on #45271
Ah, yes, that makes sense.

<img width="405" alt="image" src="https://user-images.githubusercontent.com/1204802/197974059-78f1e08d-33b4-445d-a7ff-256b6a5b954b.png">

Separately, I think there may be room in the icon set for a small version of the "Edit" icon, one that shares DNA with the plus and the minus, in size as well.

Ah. Any preference between first and second column here?

<img width="728

[2022-10-26 08:30] Mamaduka commented on #45301
Thanks for contributing, @CreativeDive!

The fix for this problem was merged yesterday (#45265) and will include in the stable GB 14.4 release.

[2022-10-26 08:36] #44862 closed, assigned to nobody

[2022-10-26 09:16] #45301 closed, assigned to nobody

[2022-10-26 09:34] jasmussen commented on #37001
What feedback is missing at this point? The latest looks pretty good to me, and should be feasible to implement as a followup to https://github.com/WordPress/gutenberg/pull/44770

[2022-10-26 09:38] mtias commented on #44611
Since we are combining the library explorer, I'd like to see a toggle control within the modal sidebar between "Featured | Community". Featured is bundled patterns by core, what we currently ship curated to be the most polished designed we can muster.

The wording is just an example, it could also be "Directory" or something else.

[2022-10-26 09:40] jasmussen commented on #44501
One thing that would be pretty good to get started on, is renaming the Query category. Let's pick a name (Posts seems fine?) and get going, that would also let us close #43427. CC: @jameskoster @ryelle

[2022-10-26 09:42] getdave commented on #44615
I'd like to find a way of capturing these small "long hanging fruit" type enhancements. Considering adding a section to the Tracking Issue with "Quick wins". Then the team can pick from these as they tackle other more complex problems.

Also these would be great candidates for "Good first issue" for new Nav block contributors.

What do you think?

[2022-10-26 09:43] getdave commented on #38305
Thank you for testing and confirming @ndiego. Glad it's working as intended.

My understanding is that this will now _not_ be included in WP 6.1. See https://wordpress.slack.com/archives/C02RQBWTW/p1666710735198029.

[2022-10-26 09:47] jameskoster commented on #42325
Here's a version with no borders, and collapsible panels:

<img width="865" alt="Screenshot 2022-10-26 at 10 39 43" src="https://user-images.githubusercontent.com/846565/197993265-fc58469d-7725-46f3-a46b-4eefc7e5c567.png">

Removing the borders works well. Collapsing the Blog and Advanced section makes the list more digestible – could be worth a try.

The alignment of text in the sidepanel bugs me

[2022-10-26 09:52] jasmussen commented on #42325
That's a vast step forward! Nice! I think the accordions, especially as borderless as this can work well.

There's something about the active state of the template that looks off. Considering we need both focus and active, perhaps active is just a thin black border, allowing focus to be a 1.5px blue one? And finally, the dropdown and "Create template for" looks slightly off — should the page name

[2022-10-26 09:54] jameskoster commented on #45271
I was thinking along the lines of the first column. It seems most important to know that you're using the primary/secondary font from global styles, rather than knowing the actual family.

👍

[2022-10-26 10:01] jasmussen commented on #45271
Thanks for all the feedback. I've updated the issue and added the "Needs dev" label! 🎉

[2022-10-26 10:11] jasmussen commented on #45264
Just to make sure I'm understanding right, are you suggesting this should work differently to intentionally preserve the surrounding context, or is there a technical limitation due to how focus mode works at the moment?

If it's the former, I like to think that the main benefit of focus mode is exactly that you can work on a piece of the page in isolation, with a wider canvas and separate resize/r

[2022-10-26 10:12] getdave commented on #42010
I agree. This is another candidate for the `Quick wins` category on the Tracking Issue which I suggested elsewhere.

Also agree. See https://github.com/WordPress/gutenberg/pull/43530#issuecomment-1290237530 as I also noticed this hadn't been reviewed. Apologies to @javierarce for that oversight. It's been...busy 😄. We will get to it.

[2022-10-26 10:15] ockham commented on #45013
I can repro this in WP 6.1 RC3, Twenty Twenty, no Gutenberg, language set to Deutsch:

![Bildschirmfoto 2022-10-26 um 12 14 21](https://user-images.githubusercontent.com/96308/198000927-5d549cdc-3e5b-4dde-8b64-36ebf9e1ee10.png)

[2022-10-26 10:23] jasmussen commented on #44193
That's a good point, thank you.

Sounds good to me. The tabs would still indicate either sub-section.

[2022-10-26 10:23] jameskoster commented on #37001
Nothing missing per se, but the outcome of 44770 will affect whether we can close this or not. Specifically the W button behaviour.

[2022-10-26 10:28] spacedmonkey commented on #45224
CC @felixarntz @adamsilverstein

[2022-10-26 10:45] jameskoster commented on #42325
A black outline could work, no strong feelings there, though I would favor consistency.

Good point, I was thinking it would be a `label` but I suppose technically it would be a `legend` so we can style it however we like.

The radio/dropdown combo may need to be a new component, so we can get the metrics right during its implementation. Alternatively it might be simpler to use existing componentr

[2022-10-26 10:48] spacedmonkey opened #45309 "Load templates in a single database query."
## What problem does this address?

Looking looking at stack trace of where database queries comes from, it can be seen that many database `locate_block_template` (`get_block_templates`) and `render_block_core_template_part`.

Instead of relying on these functions to do a `WP_Query` ( and `_prime_post_caches` ) to a get a single post object of type `wp_template` or `wp_template_part`, do a single

[2022-10-26 10:52] jasmussen commented on #42325
I do appreciate the big clickable radio/boxes, but would also agree we can start with less if they turn into a challenge to produce. But mainly it was the use of bold text inside them that felt loud compared to regular text inside buttons.

Nice one, I think this is good to update the ticket with!

[2022-10-26 10:59] #45148 closed, assigned to ntsekouras

[2022-10-26 11:48] ndiego commented on #31536
Thanks for the follow-up @CreativeDive. @Mamaduka any thoughts on this?

[2022-10-26 11:50] ndiego commented on #38305
Ah darn. Yeah looks like it.

[2022-10-26 12:26] ciampo commented on #40912
Thank you @t-hamano !

I looked into the example, and I think that the issue is caused by this check in `useFocusOutside`:

https://github.com/WordPress/gutenberg/blob/a4af9b3256689b1a40bb85fe459700ee92d01eb6/packages/compose/src/hooks/use-focus-outside/index.js#L162-L169

Basically, clicking on the `iframe` causes the modal to lose focus, firing the `blur` event listener. But the `document.hasFoc

[2022-10-26 12:30] anton-vlasenko opened #45313 "`prelint:php` script doesn't work as expected when new dev dependencies get added to `composer.json`"
### Description

Neither `composer install` nor `composer install --dev` work as expected.
`composer install` doesn't add new dev dependencies if they are listed in the `required-dev` section of `composer.json`.
Therefore, the `prelint:php` script should be updated to use `composer update` instead.

### Step-by-step reproduction instructions

1. Remove the `src/wp-content/plugins/gutenberg/vendor`

[2022-10-26 12:52] anton-vlasenko commented on #45313
Another solution would be to have composer.lock file committed to Git.
So, I'm not sure which solution is the best.
IMO, committing the composer.lock file to Git would be better because of several reasons.

[2022-10-26 13:00] anton-vlasenko opened #45314 "composer.lock file should be committed to Git"
## What problem does this address?
I haven't found a ticket that discusses this issue, so I decided to open a new one.
It's considered good practice to commit composer.lock file to Git.
Why?
1. Having it in the repository ensures that each developer is using the same versions of composer packages.
2. It fixes some issues with updating composer packages. Please see https://github.com/WordPress/gute

[2022-10-26 13:28] NekoJonez opened #45315 "Typo in new strings"
### Description

https://plugins.trac.wordpress.org/browser/gutenberg/tags/14.4.0/build/edit-post/index.js#L4126

"disrtaction" ...?

If somebody is so kind to say in which file, so I can edit this typo.

### Step-by-step reproduction instructions

It's a simple typo.

### Screenshots, screen recording, code snippet

_No response_

### Environment info

_No response_

### Please confirm that you h

[2022-10-26 13:31] Mamaduka commented on #31536
Thanks for providing more details, @CreativeDive.

The action itself isn't called in WP admin, but when the block theme is active, the editor makes a GET request to the site to get the correct template for the post or page. It is the cause of the `wp_enqueue_scripts` action call.

The remote requests from admin pages triggering the actions on the front shouldn't be an issue, IMO.

You can use the

[2022-10-26 13:41] anton-vlasenko commented on #45314
As far as I understand, this decision is intentional.
Not having `composer.lock` in the repository allows for more flexibility in using composer packages depending upon the PHP version.
Please see https://core.trac.wordpress.org/ticket/47381 for more context.

[2022-10-26 13:42] anton-vlasenko commented on #45314
As far as I understand, this decision is intentional.
Not having composer.lock in the repository allows for more flexibility in using composer packages (PHPUnit packages in particular) depending upon the PHP version.
Please see https://core.trac.wordpress.org/ticket/47381 for more context.
FYI: @oandregal

[2022-10-26 13:42] #45314 closed, assigned to nobody

[2022-10-26 13:54] Mamaduka commented on #45315
I think this was fixed in #45186.

[2022-10-26 13:55] NekoJonez commented on #45315
Ah, otherwise I would fix it...

[2022-10-26 13:57] Mamaduka commented on #45315
Thanks for your contributions, @NekoJonez!

The fix will be part of the Gutenberg 14.5 release.

[2022-10-26 13:57] #45315 closed, assigned to nobody

[2022-10-26 14:17] alexstine commented on #44193
@jorgefilipecosta Do you have time to do some label replacing and probably modify some E2E tests for the new name?

[2022-10-26 14:33] colorful-tones commented on #44193
I hate to get caught in semantics, and may I suggest: "Document Overview"? It seems a bit more descriptive of the context _and_ easier to grok.

Great catch on the `aria-label` and for raising this issue @alexstine

[2022-10-26 14:40] t-hamano commented on #45268
Thank you all for your input!
I think what this issue is about is essentially the same as #44245. Therefore, let's close this issue and focus the discussion on #44245.

[2022-10-26 14:40] #45268 closed, assigned to nobody

[2022-10-26 14:44] t-hamano commented on #44245
@ZebulanStanphill

I also opened another #45268 on this issue. As I mentioned in that issue, here are my two suggestions:

## Option to force selectbox

If there are more than 6 font size variations, the select box will be displayed and the t-shirt size will not be displayed. Therefore, I believe it would be useful to have an option to force a select box without having to add the necessary variati

[2022-10-26 14:49] oandregal commented on #45314
Thanks for gathering and sharing the context, Anton.

[2022-10-26 14:58] oandregal commented on #45313
I want to note that, if I remove `composer.lock` before this step, `composer install` works fine (it installs the dev dependencies).

---

Thanks for following-up on this, Anton. For full context, I ran into issues when trying the `npm run lint:php` command: some dev dependencies were not installed, hence it failed. When I intentionally installed those dependencies, the error went away.

I'm not s

[2022-10-26 15:05] ciampo commented on #40912
Spoke too soon — I've spent some time trying to come up with a good fix, but it's more complicated than I expected. Detecting reliably when a click causing the wrapper to `blur` is actually caused by an `iframe` or its contents is not easy.

I unfortunately don't have much capacity to work on it. Feel free to try your own attempt (I will still try to push some improvements to the hook that I made

[2022-10-26 15:09] piermario opened #45318 "Small typo in a string, Gutenberg 14.4.0"
### Description

Hello, friends!

While translating 14.4.0 into Italian, I noticed a small typo in one of Gutenberg's strings:

The string is this one: Toggle **_disrtaction_** free mode.

References:
[build/edit-post/index.js:4126]
https://plugins.trac.wordpress.org/browser/gutenberg/tags/14.4.0/build/edit-post/index.js#L4126

[build/edit-post/index.min.js:4265]
https://plugins.trac.wordpress.org

[2022-10-26 15:26] patrickwc opened #45319 "Change a Gutenberg Image sizes attribute from the Editor/template for performance"
## What problem does this address?
There does not seem to be a way to specify an image sizes attribute when using a core Gutenberg image block. This means that even if you know your image will be 100vw, then 50vw at certain breakpoints a double sized image is always loaded unnecessarily between certain breakpoints. This is a huge waste of bandwidth.

## What is your proposed solution?
I would like

[2022-10-26 15:33] t-hamano commented on #45318
Thank you for your contribution!
This issue is the same as #45315 and the fix will be applied in Gutenberg 14.5.

[2022-10-26 15:33] #45318 closed, assigned to nobody

[2022-10-26 15:42] alexstine commented on #44193
That still seems fair to me. Describes the purpose clearly.

[2022-10-26 16:02] piermario commented on #45318
Thank you Aki!
I didn't see the other issue before opening mine, sorry about that! 😇

[2022-10-26 16:47] ryelle commented on #44501
Possibly, but that's what the PR process is for :) Right now, since it's _not_ synced, changing names on the Pattern Directory will negatively affect existing sites (even up-to-date ones that aren't using Gutenberg), since the new categories won't exist yet - those patterns will all be uncategorized. I've added an issue to the pattern directory to think about that https://github.com/WordPress/patt

[2022-10-26 17:13] joedolson commented on #26223
I'm inclined to agree with @shaunandrews; closing this sidebar should be a choice by the user, and not happen automatically. I don't think this should have been closed by the related PR, though that helps the situation. That PR allowed a user to insert more than one block without closing the sidebar, but it still automatically closes the sidebar as soon as a block is focused. That's a behavior mor

[2022-10-26 17:44] paaljoachim commented on #36667
It would be nice to have the black sidebar site name (beside the WP logo) clickable so that it goes to the frontend.

Similar to clicking the site title Easy Web Design Tutorials seen in this screenshot.
![Screenshot 2022-10-26 at 19 43 20](https://user-images.githubusercontent.com/5323259/198098353-0238cb16-d5ab-4bfc-a3d6-40ed66ccd7d6.jpg)

[2022-10-26 18:01] kushh23 commented on #45130
Hey @andrewserong and @ramonjd ,

Thanks for looking into this.

Have a great day!

[2022-10-26 18:36] MadtownLems commented on #38668
Hi there. I'm still experiencing this oddity with the 6.1-RC-3.

Steps to reproduce:

1) Author a new post.
2) Switch to Code Editor, and enter a post title such as:
`"This is my <strong>Bold</strong> Post"`
3) Publish the post.
4) View the post. You'll see that Bold is, in fact, bold.
5) Edit the post. At this point, the <strong> has been stripped out from the post title. If you edit the title an

[2022-10-26 18:44] annezazu commented on #26116
This came up on a hallway hangout today with the FSE Outreach Program, especially as patterns are being prioritized in the quick inserter now. Consider this a renewed +1 :)

[2022-10-26 18:52] mirka commented on #42687
Fixed by #45295

[2022-10-26 18:52] #42687 closed, assigned to nobody

[2022-10-26 18:54] skorasaurus commented on #32787
PR for this is also at https://github.com/WordPress/gutenberg/pull/35036

[2022-10-26 19:19] CreativeDive commented on #31536
@Mamaduka thanks for providing this solution. I will close this issue.

[2022-10-26 19:19] #31536 closed, assigned to nobody

[2022-10-26 19:35] eric-michel opened #45322 "Proposal: Add More Ways to Filter Global Stylesheet Output"
## What problem does this address?
`theme.json` and the global stylesheet offer a ton of customization options in WP, but they're currently limited in how extensible they are. It would be great if the global stylesheet could be easily filtered or altered so that a theme developer could 1) enhance/add selectors and 2) add styles to existing selectors. To my knowledge, there is no current mechanism

[2022-10-26 19:59] anarieldesign commented on #44946
Do u have any workaround in case this will not be fixed with 6.1? What we can do as a theme authors? We already sell our block theme with demo imports and it worked perfectly with 6.0 and now is a big mess. We can't tell users, oh please first click on edit site, exit and then wait for 10min or something 🤷‍♀️🤷‍♀️.

Thank u for all your hard work 🙏

[2022-10-26 20:28] josiahwold commented on #33801
I recently tested for this bug in 6.0 and haven't been able to reproduce it.

[2022-10-26 21:42] carlomanf commented on #45290
The template and template part post types are registered with `$args['show_ui'] = false` so I'm honestly surprised that this screen is available at all. Not saying that there shouldn't be a way to edit revisions for these post types, but if I registered a post type with `$args['show_ui'] = false` then I would expect access to all editing screens including this one to be barred.

[2022-10-26 22:19] carlomanf commented on #45290
Further to the above, I would argue the output on this particular screen is correct. The reason is it's a generic interface that is intended to work with conventional post types. Templates and template parts are not conventional post types, and it should be expected that their unconventional implementation might cause unexpected effects with the generic editing screens, such as the one reported he

[2022-10-26 22:46] bph commented on #42961
**20 post published**

This is definitely more than 5.9 (9) and 6.0 (9) together. :-) 🙌 🤯

- [Create-block scaffolding tool updates](https://make.wordpress.org/core/2022/10/07/create-block-scaffolding-tool-updates/)
- [Content only editing and other locking updates](https://make.wordpress.org/core/2022/10/11/content-locking-features-and-updates/)
- [Simplified data access with new React hooks in W

[2022-10-26 22:46] #42961 closed, assigned to bph

[2022-10-26 23:24] annezazu commented on #37068
Closing this out since the UX has evolved and is now in the block settings sidebar.

[2022-10-26 23:25] annezazu commented on #30768
Closing this out after https://github.com/WordPress/gutenberg/issues/44374 was merged!

[2022-10-26 23:25] #30768 closed, assigned to nobody

[2022-10-27 00:02] Jabe64 commented on #44651
+1 for this 💯 It should be listed in #33447 too.

[2022-10-27 00:03] Jabe64 commented on #33447
Hi, what about adding Box Shadow options to this list? As mentioned on #44651 ?

[2022-10-27 01:12] ramonjd commented on #45322
Thanks for posting this.

I've made a note of this issue over in the [Style Engine tracking issue](https://github.com/WordPress/gutenberg/issues/38167). Hopefully, once the Style Engine is doing the bulk of the work organizing and parsing styles for Global styles, approaching such customizability features will be more structured.

[2022-10-27 04:02] seothemes opened #45328 "Undefined array key 'attrs' in WP_Block_Supports/apply_block_supports"
### Description

After updating to 14.4.0 with 6.0.3 or 6.0.4 I'm seeing this error being caused by the Page List block apparently not having attributes set:

[code]

Adding an isset check would fix the issue, but I wasn't able to find the root cause of the problem:

[code]

### Step-by-step reproduction instructions

1. Update to 14.4.0
2. Create a block pattern with a Navigation block containing

[2022-10-27 04:05] aaronrobertshaw commented on #45094
Closing this as complete now that #41860 has been merged.

[2022-10-27 04:05] #45094 closed, assigned to ciampo, aaronrobertshaw

[2022-10-27 04:08] aaronrobertshaw commented on #40893
Closing this issue as I believe all the tweaks to the controls sizing, focus, etc. have been resolved now #41860 has been merged.

[2022-10-27 04:08] #40893 closed, assigned to aaronrobertshaw

[2022-10-27 04:23] seothemes commented on #44946
@anarieldesign it should be possible to add a hook after import to clear the transients and global styles.

I haven't tested lately but if this approach works for you then I'd be happy to assist further:

[code]

[2022-10-27 05:00] seothemes commented on #45328
This is actually being caused by an incorrect attribute on the navigation block in one of the patterns.

An isset check should probably still be added just in case, but feel free to close.

[2022-10-27 05:14] github-actions[bot] opened #45331 "[Flaky Test] inserts a block in proper place after having clicked `Browse All` from block appender"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
inserts a block in proper place after having clicked `Browse All` from block appender

## Test path
`/test/e2e/specs/editor/various/inserting-blocks.spec.js`

## Errors

<time datetime="2022-10-27T05:14:41.985Z"><code>[2022-10-27T05:14:41.985Z]</code></time> Test passed afte

[2022-10-27 05:14] github-actions[bot] opened #45332 "[Flaky Test] passes the search value in the main inserter when clicking `Browse all`"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
passes the search value in the main inserter when clicking `Browse all`

## Test path
`/test/e2e/specs/editor/various/inserting-blocks.spec.js`

## Errors

<time datetime="2022-10-27T05:14:42.863Z"><code>[2022-10-27T05:14:42.863Z]</code></time> Test passed after 1 failed att

[2022-10-27 05:15] Mamaduka commented on #45328
Thanks for reporting the issue, @seothemes!

Can you share the navigation block code snippet as well? That would make reproduction easier.

Thank you

[2022-10-27 05:26] seothemes commented on #45328
@Mamaduka

[code]

It still happens with this block when there is no "ref" attribute set.

For the navigation block to work on WordPress.org previews we need to remove the "ref" attribute from patterns.

[2022-10-27 05:51] anarieldesign commented on #44946
Thank u for sharing this @seothemes 🙏. I'll test this out during the weekend and will let u know 🙏

[2022-10-27 07:18] annezazu commented on #44839
Ah ha. Great sleuthing. Agreed on removing for 6.1! Thanks for following up.

[2022-10-27 07:51] seothemes opened #45336 "Allow static menus with navigation block"
## What problem does this address?

Currently navigation menus are dynamic, the navigation block is linked with a menu id.

This is necessary for backwards compatibility, sharing menus etc - but it also creates a lot of issues when it doesn't need to.

## What is your proposed solution?

I'm not sure if it's possible, but I would like to see an option to allow "static" menus, meaning they are not

[2022-10-27 08:49] Mamaduka commented on #35505
I was able to reproduce the issue. Here's an example code that can be run in the editor using the browser console.

## Snippet:

[code]

[2022-10-27 08:58] jasmussen commented on #44501
Adding "Needs Dev" mainly for [renaming Query to Posts](https://github.com/WordPress/gutenberg/issues/44501#issuecomment-1291770306), that can happen across block editor and pattern directory immediately and doesn't need to wait for anything else.

[2022-10-27 09:12] jameskoster commented on #42325
I updated the OP to include the agreed-upon design, hid outdated discussion, and added the Needs Dev label.

[2022-10-27 09:36] abaicus opened #45341 "Conditionally loading block templates classic themes"
## What problem does this address?
It is currently impossible to specify which templates should be loaded inside classic themes.

There are two theme supports to enable block templates and template parts:
[code]

---

A classic theme might implement a complex archive layout with many customization features but still want to allow the possibility to use a template for the archive based on a customi

[2022-10-27 09:47] talldan commented on #45264
I wouldn't say there are limitations, I'm trying to get an idea of the scope of the dev work and also share my understanding of the scope. In terms of the way focus mode works right now, it isn't something that can be switched on for any block, so what's being proposed here is more like a completely new block editor feature (focusing any block).

Definitely no overlap with spotlight mode either, b

[2022-10-27 10:02] jasmussen commented on #45264
Yes, excellent point. My instinct would be that it's fine to not be able to edit _the group itself_ and only what's inside, if nothing else then just to keep the scope smaller. But it might also be nice if when you are editing a group in isolation, and have _nothing_ selected, then effectively you are seeing the block inspector for the group, kind of like you'd see the inspector for the document w

[2022-10-27 10:06] jameskoster commented on #44501
I opened https://github.com/WordPress/pattern-directory/issues/534 which hopefully covers the needs here.

[2022-10-27 10:23] MyWebmasterD commented on #42297
any news about this?

[2022-10-27 10:39] jameskoster commented on #45264
My feeling (which may very well be wrong) is that the experience editing a template part in isolation and editing a group in isolation should _feel_ the same from the user perspective. Whether that means using the same 'stuff' under the hood or not is most likely a question of ease-of-execution / maintenance. Obviously I defer to @talldan on that!

This would prohibit you from switching between ro

[2022-10-27 10:58] oandregal commented on #45194
For styles that are global, I would advise against adding CSS Custom Properties to the CSS of blocks and prioritize work on the current direction: making block CSS part of the global styles algorithm https://github.com/WordPress/gutenberg/issues/45198 That is the last major API update we need to finalize for global styles to work well and it's under-developed.

Alex, in your example, I don't fully

[2022-10-27 11:09] github-actions[bot] opened #45345 "[Flaky Test] cancels dragging blocks from the global inserter by pressing Escape"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
cancels dragging blocks from the global inserter by pressing Escape

## Test path
`/test/e2e/specs/editor/various/inserting-blocks.spec.js`

## Errors

<time datetime="2022-10-27T11:09:38.009Z"><code>[2022-10-27T11:09:38.009Z]</code></time> Test passed after 1 failed attempt

[2022-10-27 11:34] samjonsmith commented on #27614
+1

[2022-10-27 11:34] aaronrobertshaw commented on #45194
The proposed approach sounds very promising to me 👌

The current use of selectors for individual block supports is pretty heavily tied to skipping the serialization of support styles. Is it worth considering how best to stabilize the `__experimentalSkipSerialization` properties as part of our current plan?

For most block supports, you only need the custom selector if it isn't being applied to the

[2022-10-27 11:37] fluiddot opened #45347 "Keyboard is displayed when rotating device even if no text input is focused (only Android)"
## Description

After creating a post on the Android app, and while having no text input focused, rotating the device forces the keyboard to open. Typing text using the keyboard does nothing as there's no text input focused.

**NOTE:** This issue only happens when creating a new post, it can't be reproduced when editing an already created post.

## Step-by-step reproduction instructions

1. Open t

[2022-10-27 12:00] bobbingwide commented on #38212
This issue was accidentally reproduced by members of WordPress Portsmouth and Brighton meetup groups while attempting to debug a problem where the iframe disappeared when edited by a normal Administrator but remained when edited by a Super Admin.

Reproduced in 6.1-RC2

[2022-10-27 12:06] oandregal commented on #45194
Oh, good point.

My understanding is that if the block uses `__experimentalSkipSerialization` there should be at least one selector declared (the top-level or the section one, and both approaches are in use in the codebase). Otherwise, the styles won't work or will be incorrectly output in global styles. Is this correct? It's been a while since I touched any of that.

I've found use cases where bl

[2022-10-27 13:19] #45085 closed, assigned to carolinan

[2022-10-27 13:39] ciampo commented on #40912
Update — opened #45317 with a bunch of code quality improvements to `useFocusOutside` (no fix , unfortunately)

Moved the WIP to another PR — #45349. Feel free to branch off from that PR and try to find a robust solution!

[2022-10-27 14:04] aaronrobertshaw commented on #45194
My general understanding is if the block support styles are not serialized on the outer wrapper via `useBlockProps`, they'll manually be applied both in the block's edit and save functions. That covers individual blocks.

For global styles, if they must target an inner element, hence skipping serialization on the wrapper, they should have a selector.

Before the introduction of feature-level selec

[2022-10-27 14:14] giannis-koulouris-bb commented on #37851
One reason I see this could be useful is to have the ability to filter core blocks without breaking them if you decide to make changes in the future. There are some websites I developed in the past where we didn't have ability to add margins/paddings so I filtered the core blocks and added settings for custom paddings/margins that they get added inline. How is it possible to switch to the core mar

[2022-10-27 14:57] vcanales commented on #28564
I'm giving this one a go, and I've already worked on the sidebar UI.
@scruffian What would be the correct place to store this setting? The first place that comes to mind is along the post data itself, but since this is an editor setting, it feels out of place.

I tried [this template](https://github.com/Automattic/themes/blob/trunk/disco/templates/header-footer-only.html) to see the effect it has

[2022-10-27 15:01] artemiomorales commented on #44615
Hi all! New contributor here. I can take this on 🙂

[2022-10-27 15:36] oandregal commented on #45194
Hmm, the fact that blocks can "skip serialization" per style property (block-level styles), but they can't declare a selector per style property (global-level styles) seems problematic. It means block authors don't have a mechanism to make their blocks "global styles compatible" if they skip serialization at the style property level.

I've looked at the cases that use skip serialization per style

[2022-10-27 16:09] ockham commented on #40808
Closing. This was fixed in Gutenberg 14.1 by #44018, and for WordPress 6.1 by https://github.com/WordPress/wordpress-develop/pull/3529.

[2022-10-27 16:09] #40808 closed, assigned to nobody

[2022-10-27 16:16] artemiomorales commented on #44615
Hi @mrfoxtalbot, I'm looking for clarification on this line: "If you previously created a menu in a classic theme, you’ll have the option to import it later."

Does this mean that users will have the option to import menu in a later release of Gutenberg? If so, I would modify the line to be the following: "If you previously created a menu in a classic theme, you’ll have the option to import it in

[2022-10-27 16:21] artemiomorales commented on #43586
I can take a closer look into this.

[2022-10-27 16:25] jamiepalatnik opened #45353 "Cover block in content body overlaps mobile menu overlay"
### Description

When a Navigation block is added within a Cover block in the header template part, and then a Cover block (using background image and also contains a Post Title block) in the content body is rendered on mobile, the second Cover block overlaps the mobile menu overlay, as if the z-index is greater than the menu.

### Step-by-step reproduction instructions

1. In the site editor, cre

[2022-10-27 16:26] dream-encode commented on #44946
@seothemes In order to make sure you receive props for your work on this PR in the 6.1 release of WordPress, are you able to link your GitHub account to your WordPress.org account?

[2022-10-27 16:34] github-actions[bot] opened #45354 "[Flaky Test] Should show the expected block transforms on the list block when the blocks are removed"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
Should show the expected block transforms on the list block when the blocks are removed

## Test path
`specs/editor/various/block-switcher.test.js`

## Errors

<time datetime="2022-10-27T16:34:46.252Z"><code>[2022-10-27T16:34:46.252Z]</code></time> Test passed after 1 failed

[2022-10-27 16:44] hellofromtonya commented on #44946
Update:

Fixes were merged into WP Core's `trunk` (see https://core.trac.wordpress.org/changeset/54706) and backported to the 6.1-branch (see https://core.trac.wordpress.org/changeset/54707). They will be released in WP 6.1-RC4 today.

[2022-10-27 16:47] annezazu commented on #45341
@WordPress/block-themers tagging in this crew as I think this will be of interest!

[2022-10-27 16:52] ciampo commented on #44361
That looks like a nested dropdown menu, which to my knowledge we don't currently support (or at least I think! I don't remember seeing a nested dropdown menu in gutenberg before).

The proper way to implement that would be extend the functionality of `DropdownMenu` — I'm not sure yet how complex it would be, but feel free to kickstart the conversation in a separate issue and ping us folks from com

[2022-10-27 17:21] jffng commented on #45341
👋  So I understand, the suggestion is to enable classic themes to specify a different file path for a block-based template to override in the hierarchy?

Apologies if I'm missing something, but why not just enable the theme support and supply the block based version of the template in the location that Core will look for, e.g. `block-templates/front-page.html`?

[2022-10-27 17:39] mirka opened #45356 "ToggleGroupControl: Try to refactor as-button/as-radio"
As noted in https://github.com/WordPress/gutenberg/pull/45123#discussion_r1001690381, there is some code redundancy in the as-button and as-radio subcomponents. It's worth looking into whether we can abstract it cleanly.

[2022-10-27 18:09] pratikrm commented on #44963
Hi @talldan

Thanks for the reply. My webpack configuration was making the ShortcutProvider not work properly.

[2022-10-27 18:09] #44963 closed, assigned to nobody

[2022-10-27 18:58] walter74ucla opened #45358 "I am able to insert blocks below my Block Template on the Admin page"
### Description

I created a Block Template.  However, I am still able to insert blocks on the admin page below the Block Template.  To me, you use a Block Template to make sure all of the Article Activity happens within the Block Template.

### Step-by-step reproduction instructions

Create a Block Template.
Then try to insert blocks below the Block Template on the New Article Admin Screen.
New b

[2022-10-27 19:12] jameskoster opened #45359 "Query Loop 'start blank' flow – expand options to include other common post meta blocks, and update button label"
Insert a Query Loop block, click "Start blank" and you'll be met with:

<img width="548" alt="Screenshot 2022-10-27 at 20 00 52" src="https://user-images.githubusercontent.com/846565/198376230-3bbb0dd7-0b2d-4c6e-bbdf-e9c09823e937.png">

It could be nice to add a couple of options that include other common post meta blocks like Categories, Tags, Post Author Name, and Post Comments Link.

Due to the

[2022-10-27 19:14] janboddez opened #45360 "Placeholder (Dash)icons get zero right margin in Chrome"
### Description

OK, so if in a Gutenberg block one uses the Placeholder component with a Dashicon rather than an SVG icon, it will not receive a right margin in Chrome (or left margin with ltr styles) on Windows (not sure about other platforms).

The Placeholder icon has a `margin-right` of `1ch`, which at least in Chrome evaluates to `0`, causing the Placeholder title to sit right next to the ic

[2022-10-27 19:23] tohmjudson commented on #41500
Very new to Gutenberg but came here from the training docs which recommended looking at "Good first issues".

I think the trick here is to wrap the lower sections in a div with tabindex="0". This allows keyboard users to scroll the container. this pattern is similar to the wcag "widget" pattern or tab pattern. I would also recommend adding a focus outline here (outline in image is Narrator)

Teste

[2022-10-27 19:31] paaljoachim commented on #26223
I am reopening this issue as mentioned on Slack in the Accessibility channel.
There are some accessibility concerns which will need to be addressed first before we can move ahead with this issue.

[2022-10-27 21:04] anarieldesign commented on #44946
Thank you,I'll check it tomorrow and let u know if I notice anything strange 👌🙏

[2022-10-27 22:35] strarsis commented on #38908
+1, also a theme template part overridden by the user will keep the old template part name, even if the theme changes it (as in `theme.json`, `templateParts[]/name`).

[2022-10-27 22:51] strarsis opened #45363 "Full Site Editor not selecting home template when opening the default (front) page"
### Description

When opening the Gutenberg Full Site Editor, with page being set as the front page, the editor opens that front page by default, but with the pre-selected template being just `page` and not `home`.

### Step-by-step reproduction instructions

1. Ensure a Full Site Editing (FSE) block theme is installed and activated.
2. Make a page the front page.
3. Open the Full Site Editor (Sid

[2022-10-28 01:47] alexstine commented on #41500
@tohmjudson The approach seems like it is at least worth a try. Let me know if I can be of any assistance.

It is worth mentioning that our E2E tests in Playwright now support testing in other browsers, I believe. Might be good to create some scroll tests to ensure this does not break in the future once we've got a working solution.

Thanks.

[2022-10-28 02:14] seothemes commented on #44946
@dream-encode thanks for the tip, I have linked my .org account [blockify](https://profiles.wordpress.org/blockify/) - although I didn't really help much with this one.

[2022-10-28 02:33] ddryo commented on #29581
@t-hamano
Thanks!

[2022-10-28 03:07] annezazu commented on #36535
Looping back here as it wasn't clear where we left off. Using GB 14.4 on 6.0.3 shows the following:

- [ ] Unselect all blocks when clicking whitespace in the top bar.
- [x] Add the frame around the canvas in the site editor > I don't see this happening based on current designs
- [x] Map esc to unselecting blocks in select mode > this seems to work.
- [ ] Map esc to unselecting blocks in edit mode

[2022-10-28 03:09] annezazu commented on #36207
With this closed out https://github.com/WordPress/gutenberg/issues/35758 can we close this issue out too? I am not quite seeing the overlap with current explorations: https://github.com/WordPress/gutenberg/issues/36667

[2022-10-28 03:16] annezazu commented on #31563
@bobbingwide is this still happening? Stumbled on this and had to check in :)

[2022-10-28 03:18] annezazu commented on #29353
https://user-images.githubusercontent.com/26996883/198494472-ef3e3352-e44f-4649-aa03-12abc33774a1.mov

Closing this out as in 6.0.3 this is possible :)

[2022-10-28 03:18] #29353 closed

[2022-10-28 03:35] ngearing commented on #33379
I just thought I would share the solution I have found, and will use from now on. And this is to use the `default_content` filter instead. This way I can easily copy blocks from the editor and paste them into a html template, then load that as the default content for a post type.

[code]

[2022-10-28 04:22] annezazu commented on #45181
I'd be curious if it would be missed too :)

[2022-10-28 05:46] talldan commented on #45358
@walter74ucla Would you be able to provide more info on how you created the block template, and the markup of the block template? Thanks.

[2022-10-28 06:26] Mamaduka commented on #45363
Hi, @strarsis

When you select a static homepage from Settings > Reading, that page will be served by WP as a homepage. The site editor mimics this behavior.

I've tested with the TT3 theme, and the behavior is correct.

Let me know if I'm missing something.

[2022-10-28 06:38] ddryo commented on #29581
@skorasaurus @t-hamano
The DOM structure is aligned with the front. Thank you.
But, "Problem 2" was still not resolved.

As already mentioned, common customizations such as using the `wp_list_categories` hook to put the count in an `<a>` look out of place with the editor.

[2022-10-28 06:42] kevin940726 commented on #44581
I tried this approach out but I don't think it worked out nicely in practice. We have this `__experimentalRole` field for each attribute, and they can be marked as `content` to allow editing in `contentOnly` mode. However, they don't have any semantic meanings, which means they will likely match very different patterns in result. For instance, a cover block pattern will match not only other cover

[2022-10-28 07:03] t-hamano commented on #29581
@ddryo

I think this is expected behavior. This is because the `Edit` component of this block is not a server-side rendering. This may be true for all dynamic blocks that are not rendered by `ServierSideRender` component.

If you really want to change the DOM structure on the editor side, I think we can use the `blocks.registerBlockType` filter to override the `Edit` component.

[2022-10-28 07:15] talldan commented on #44581
@kevin940726 That's kind of where I came to when I thought about the problem in the past too. This was the past discussion and Matias' comment has links to related issues - https://github.com/WordPress/gutenberg/issues/41397#issuecomment-1247824937. They might be helpful for you to read through.

I also just saw this issue which looks related - https://github.com/WordPress/gutenberg/issues/41606.

[2022-10-28 07:18] ddryo commented on #29581
Understood, I'll try!

[2022-10-28 07:33] dansdev opened #45368 "Scripts: Extend build commands to allow postCSS autoprefixer"
## What problem does this address?
I haven't been able to find any documentation online on whether this is already possible, so apologies in advanced if this has already been covered.

Currently styles outputted via the @wordpress/create-block wp-scripts aren't autoprefixed with vendor prefixes

e.g `
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
`

## What is your pro

[2022-10-28 08:08] jasmussen commented on #44501
[This PR](https://github.com/WordPress/gutenberg/pull/45244#pullrequestreview-1159641791) will rename the "Query" category to "Posts":

![query](https://user-images.githubusercontent.com/1204802/198537524-82285f0e-5baf-4fc5-bd9b-8fe8d5c269eb.gif)

CC: @ryelle

[2022-10-28 08:22] t-hamano commented on #43754
Thank you for your contribution.

I believe this issue should be resolved on the theme side.

The margins between blocks are probably implemented with a low level of detail, which is often the case. So, for example, the following CSS can be used to cancel the margins:

[code]

Some default themes are affected by this, and I think these should be addressed separately as needed.

[2022-10-28 08:52] strarsis commented on #45363
@Mamaduka: It may well be that I am missing something in my theme.
I prepared a minimal sample Gutenberg block theme that reproduces the issue: https://github.com/strarsis/fse-test-theme

With a page being set as front page and that test theme pulled and activated,
note that the Site Editor shows the narrow header part (named just `header.html`) as header for the front page that opens by default,

[2022-10-28 09:03] paaljoachim commented on #44557
It is awesome to see the movement happening here! Thank you, thank you and another thank you!

[2022-10-28 09:13] paaljoachim commented on #44501
Great! Sounds like a very logical and helpful thing to do!

Btw
I am thinking about next steps further down the road.
Consolidating the Query block, Latest Posts block and Post Lists block
https://github.com/WordPress/gutenberg/issues/32332
How we can create a better consistent experience when using Posts / Query Loop etc. In a sense perhaps consolidating the various blocks into a Posts block.

[2022-10-28 09:46] #44426 closed, assigned to nobody

[2022-10-28 11:03] kevin940726 commented on #44581
@talldan Thanks for the links! I was not aware of them. 👀

I tried the `blockTypes` approach but quickly ran into another problem: we have no way to obtain the `blockTypes` field from a set of blocks. Once a pattern is inserted (either from the pattern library or by pasting it from elsewhere), only the `blocks` data are preserved, all the other information about the pattern is lost. That is, we ca

[2022-10-28 11:07] jasmussen opened #45371 "Global Styles: Allow saving, importing, exporting, copying from another theme without switching to it"
In Global Styles > Browse styles, it should be possible to import, export, and save styles. The interface should accommodate all these flows:

1. Allow saving user variations for each bundled style (i.e. customized “dark” variation) (same as #38333)
2. Load style variations from a file
3. Provide access to styles from other themes without switching to them (related to #45452)
4. Provide an implici

[2022-10-28 11:08] jasmussen commented on #38333
I went ahead and made new mockups based on the work presented here, and shared in https://github.com/WordPress/gutenberg/issues/45371. I kept things separate for now, as the new flow includes options to import and export style variations as files, but depending on feedback I'd be happy to merge into this issue instead, or vice versa.

[2022-10-28 11:09] jasmussen commented on #45210
https://github.com/WordPress/gutenberg/issues/45371 takes a different stab at this by clearly delineating customized styles as separate.

[2022-10-28 11:26] scruffian opened #45373 "Elements: Add elements to the Layout section of Global Styles"
## What problem does this address?
Element settings for colors and typography can be accessed via Global Styles like this:
<img width="278" alt="Screenshot 2022-10-28 at 12 24 51" src="https://user-images.githubusercontent.com/275961/198576287-c8166112-3765-4805-a8e0-276184cdbb41.png">

However we don't have the same controls under layout:
<img width="283" alt="Screenshot 2022-10-28 at 12 19 45" s

[2022-10-28 11:36] oandregal commented on #45171
https://github.com/WordPress/gutenberg/pull/45168 is ready for review.

[2022-10-28 11:38] simison commented on #19863
Old issue, old convo; I think this served already for the change back then. :-)

[2022-10-28 11:38] #19863 closed

[2022-10-28 11:39] t-hamano commented on #44937
Thanks for providing more information.
I was able to reproduce the problem, so I will first describe the steps to reproduce it.

## How to reproduce on Windows

1. Move to the path to test in your environment.
2. Create A block boilerplate: `npx @wordpress/create-block test-block`
3. Create symlink: `mklink /d test-block-symlink test-block`
4. Move to the symlink directory: `cd test-block-symlink`

[2022-10-28 11:45] mikachan opened #45374 "Site Editor: Custom page template shows as 'Not found'"
### Description

When creating a tag or category template for a specific term from within the Site Editor, the title of the new template incorrectly shows 'Not found'.

<img width="975" alt="image" src="https://user-images.githubusercontent.com/1645628/198579457-50b0b69e-4ab3-476c-b264-67d88021ea37.png">

First reported on trac: https://core.trac.wordpress.org/ticket/56902

### Step-by-step reprod

[2022-10-28 11:53] scruffian opened #45375 "Image to Media & Text transformation: Set to wide by deault"
### Description

When I transform an image block into a Media and Text block, the new Media and Text block is set to be wide alignment. I would prefer it to not have any alignment by default.

### Step-by-step reproduction instructions

1. Add an image to the post
2. Click on the transform option and select Media & Text
3. Notice that the new Media & Text block has a wide alignment

### Screenshot

[2022-10-28 11:56] t-hamano commented on #44937
Then this is the test result on **WSL (Ubuntu)**. This one works correctly.

1. Move to the path to test in your environment.
2. Create A block boilerplate: `npx @wordpress/create-block test-block`
3. Create symlink: `ln -s test-block test-block-symlink`
4. Move to the symlink directory: `cd test-block-symlink`
5. Generate two blocks: `mkdir src/block-a; mv src/*.js src/*.scss src/*.json src/block

[2022-10-28 12:13] scruffian opened #45376 "Author Bio: New lines stripped from author bio"
### Description

The Author Bio block strips new lines from the author bio on the frontend:

wp-admin:
<img width="846" alt="Screenshot 2022-10-28 at 13 07 06" src="https://user-images.githubusercontent.com/275961/198583781-e26858dc-4704-4c27-971a-a2017f8288d7.png">

frontend:
<img width="367" alt="Screenshot 2022-10-28 at 13 07 10" src="https://user-images.githubusercontent.com/275961/198583794-2

[2022-10-28 12:29] draganescu commented on #44055
I hit this bug recently multiple times.

[2022-10-28 12:39] scruffian opened #45377 "Navigation block: Control the border of submenus"
## What problem does this address?
By default submenus have a 1px border. The only way to disable this is to set a background color on the navigation block, which is very unintuitive.

## What is your proposed solution?
We should add border controls to the submenu  - not sure whether this should be a new block.

<img width="659" alt="Screenshot 2022-10-28 at 13 39 27" src="https://user-images.gith

[2022-10-28 12:46] scruffian opened #45378 "Global styles: Editing navigation links and navigation link items"
## What problem does this address?
Navigation links and Navigation link items are not listed as Blocks in the Global Styles interface.

## What is your proposed solution?
There are cases where it is useful to change the settings of these blocks, so it would be good if they were listed:
<img width="286" alt="Screenshot 2022-10-28 at 13 46 13" src="https://user-images.githubusercontent.com/275961/19

[2022-10-28 12:50] scruffian opened #45379 "Theme.json: Add support for navigation link and navigation submenu block"
## What problem does this address?
When I set values for the navigation link and navigation submenu block in theme.json, they don't work.

## What is your proposed solution?
I should be able to set values for the navigation item block in theme.json:

[code]

[2022-10-28 13:03] Mamaduka commented on #45375
Related #20941.

[2022-10-28 13:13] anubisthejackle commented on #12907
What I've done to work around this on projects that I'm involved in is to create an endpoint that passes the draft title to `sanitize_title` and returns the slug. This is a relatively lightweight endpoint, and is only used during the editing process, so--while not as efficient as a fully frontend solution--it does the job well enough.

[2022-10-28 13:21] Mamaduka commented on #12907
Pinging @tyxla since he maintains the new library we're using for removing accents. I think the remaining issue is to have the same diacritics coverage on the JS side as we have in PHP

[2022-10-28 13:23] t-hamano opened #45381 "Components: ToggleControl text overflows when it has a long label"
### Description

`ToggleControl` text overflows when it has a long label.
As the label gets longer, the text overshadows the toggle button.

### Step-by-step reproduction instructions

- Access[ the ToggleControl section of the Storybook](https://wordpress.github.io/gutenberg/?path=/story/components-togglecontrol--default).
- Enter long text in the control panel label.
- Ensure that the text cover

[2022-10-28 13:24] t-hamano commented on #45356
I don't know if this is related to this issue, but I am happy to report that I have submitted #45381 regarding ToggleControl.

[2022-10-28 13:40] dream-encode commented on #44946
@seothemes Thanks!  You'll now be credited in the final 6.1 release!

[2022-10-28 13:58] corentin-gautier opened #45382 "Components: Popover uses top and left positioning hurting scroll performance"
Using top and left positioning triggers a repaint of the area which could be avoided using transform : translate(x, y), improving performances (currently the scroll performances of the editor are not really good, even more when using fixed backgrounds)

https://github.com/WordPress/gutenberg/blob/df98b4b46ab1951228b6021ce4e2b868ccd3848c/packages/components/src/popover/index.tsx#L466

https://user-

[2022-10-28 14:08] desrosj opened #45383 "Improve the reliability of the Android GitHub action workflow"
## What problem does this address?
The React Native E2E Tests (Android) GitHub Action workflows is highly unreliable and frequently fails with a few common error messages, which include:

- `Timeout waiting for emulator to boot.` (see [here](https://github.com/WordPress/gutenberg/actions/runs/3337747386/jobs/5541222022#step:7:1014)).
- `The template is not valid. .github/workflows/rnmobile-android

[2022-10-28 14:11] corentin-gautier opened #45386 "The whole page shifts when the sidebar gets a scrollbar"
### Description

When selecting blocks, if the right sidebar doesn't have a scrollbar then suddenly gets one, the whole page shifts to the left, triggering repaint all over the place,

This could be fixed by having an overflow-y: scroll instead of an overflow: auto on the sidebar

Here's an example of the code I have currently to fix this:

[code]

The issue comes from the fact that the sidebar co

[2022-10-28 14:31] strarsis commented on #45363
@Mamaduka: I am able to reproduce this issue with the Twenty Twenty-Two theme and only the Gutenberg-Plugin enabled (or disabled): When I open the Site Editor using Admin Sidebar → Design → Editor (beta), the front page opens, but the template pre-selected (at the top) is just the `page` template, not the `home` template, and the Twenty Twenty-Two theme also ships with a `home` template.
So the us

[2022-10-28 14:42] Mamaduka commented on #45363
@strarsis, that's correct behavior if you have a static homepage set from Settings > Reading.

## Screenshot

![CleanShot 2022-10-28 at 18 41 07](https://user-images.githubusercontent.com/240569/198653623-fa7f890d-e34a-4382-9b73-e8f3e049fc68.png)

[2022-10-28 14:57] abaicus commented on #45341
@jffng

That would make sense as well. Just allowing a configurable array of which templates are being loaded would be good enough, I think.

[2022-10-28 15:14] georgeh commented on #44503
This is mostly ready to go, but is blocked by [a bug in the REST routes for template revisions](https://core.trac.wordpress.org/ticket/56922). The CSS on #45215 could use some cleanup, though.

[2022-10-28 15:16] strarsis commented on #45363
@Mamaduka: Yes, I set that page to be the Homepage (frontpage / home).

The frontpage traditionally and now also in block themes (from what I understand) has its own template.
I thought that the page configured to be the frontpage also uses the corresponding classic - or in this case block home template.
If this is not the case and I completely misunderstood this - what would be the purpose of the

[2022-10-28 15:18] mirka opened #45388 "Button: Extract `isPressed` to a separate component?"
## What problem does this address?

As noted in https://github.com/WordPress/gutenberg/pull/44427#issuecomment-1292413381, the `isPressed` prop does not make sense in combination with certain variants or props, for example `isDestructive` or `link`.

The `isPressed` prop implies that the button represents an on/off toggle, which is distinct from usages where the button is purely for triggering act

[2022-10-28 16:29] sabernhardt commented on #34448
Twenty Twenty-Three has a similar problem ([Trac 56928](https://core.trac.wordpress.org/ticket/56928)).

Moving `:visited` to the beginning of the `VALID_ELEMENT_PSEUDO_SELECTORS` arrays seems to fix it for that theme.
https://github.com/WordPress/gutenberg/blob/67fe26f48d0d3ebdb103c51ff725a6575fcea7af/lib/compat/wordpress-6.1/class-wp-theme-json-6-1.php#L23-L26

[2022-10-28 16:35] oandregal commented on #45171
Added a section about performance.

[2022-10-28 17:18] ciampo opened #45390 "`TabPanel`: add support for manual activation of tabs"
Currently the `TabPanel`'s tabpanels are activated automatically when the associated tab receives focus (referred to as "Tabs with automatic activation" on [the W3C website](https://www.w3.org/WAI/ARIA/apg/patterns/tabpanel/)).

However, as discussed in https://github.com/WordPress/gutenberg/pull/44788#issuecomment-1293826203 and in https://github.com/WordPress/gutenberg/pull/45203#discussion_r100

[2022-10-28 18:02] strarsis commented on #45363
@Mamaduka: As the front page uses that home template over the page template, and this had been the case with classic themes, too, this should be considered a bug, right? Gutenberg site editor should use the same template (home for frontpage) as it is used on the frontend (home for frontpage).

[2022-10-28 18:05] mirka commented on #44345
The action item here is basically #35744, so I'll close this issue in favor of that one.

[2022-10-28 18:05] #44345 closed, assigned to nobody

[2022-10-28 18:14] bph commented on #45171
Added the 'needs-dev-note` to this tracking issue, to make sure we cover all relevant changes for the WordPress 6.2 release.

[2022-10-28 18:39] #44757 closed, assigned to ellatrix

[2022-10-28 18:39] github-actions[bot] opened #45392 "[Flaky Test] should apply a named font size using the font size buttons"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should apply a named font size using the font size buttons

## Test path
`/test/e2e/specs/editor/various/font-size-picker.spec.js`

## Errors

<time datetime="2022-10-28T18:39:51.206Z"><code>[2022-10-28T18:39:51.206Z]</code></time> Test passed after 1 failed attempt on <a hr

[2022-10-28 19:31] walter74ucla commented on #45358
Yes.  Here is the php code:
[code]

As a work around, I can display: none the block-list-appender class.

[2022-10-28 19:37] artemiomorales commented on #44615
@mrfoxtalbot

Yes, that makes sense! I've updated the copy to be the following and created a [pull request](https://github.com/WordPress/gutenberg/pull/45394):

[2022-10-28 21:14] joedolson opened #45396 ""Read more" options for post excerpts do not contain accessible names"
### Description

There are two options I'm aware of for adding read more with post excerpts; one as part of the post excerpt block and adding the 'Read more' block. Neither of these blocks includes any option for either visible inclusion of the post title or a screen-reader available post title. This is required by the `accessibility-ready` tag in the theme directory: https://make.wordpress.org/th

[2022-10-28 22:48] ryelle commented on #44843
The original issue that forced Gutenberg to bundle the patterns instead of use the Pattern Directory was fixed, so you should be able to build these in the Pattern Directory and load them from there (either with a new API request with specific slugs, or by adding these to the featured category to auto-load them on all sites). If that's not the case and there are other issues trying to create these

[2022-10-29 03:09] ddryo commented on #44675
I am also having this problem.

![CleanShot 2022-10-29 at 12 07 54](https://user-images.githubusercontent.com/31400297/198796256-7f9e872b-382b-4764-ade3-f18ead2590a4.gif)

[2022-10-29 04:37] t-hamano opened #45398 "Widget: Unexpected copy of widget area block"
### Description

In the Widget Block Editor, widget area blocks (`core/widget-area`)are also subject to block selection and can be copied.
However, widget area blocks are not allowed to be inserted into the block editor, so an error occurs when pasting the block.
Also, I think the copied block HTML seems to have no use.

### Step-by-step reproduction instructions

- Activate a classic theme.
- Ope

[2022-10-29 05:16] word-x commented on #38278
![menu](https://user-images.githubusercontent.com/29170706/198815133-7f5204b4-f538-4de5-9529-3f91b3435c4c.jpg)
This needs to be solved. Even if we register the wp_navigation post type in function.php, it still can't be edited.
It's difficult to use.
There should be a back-end page to edit the menu without going to FSE.
Moreover, many multilanguage plugins needs to translate menu in backend.

[2022-10-29 05:22] word-x commented on #38278
Do you have a temporary way to edit the menu block code? @getdave I don't know how long it takes to get this solved. Any hint would be appreciated.

[2022-10-29 05:43] sharukhkhanajm commented on #45381
Hi, @t-hamano I am trying to fix this bug and found a solution but need some advice.
As to solve this bug I will have to change the **HStack** display from `flex` to `grid`.
@mirka  Can I do that?

I need to add this CSS on the **HStack** container
`display: grid;`
`grid-template-columns: auto 1fr;`

https://user-images.githubusercontent.com/47321682/198815940-5a7fb9cb-b65f-47ef-96ee-d463be337857.