[2022-02-04 10:00] kajalmultidots commented on #38441
Hi @talldan

So the issue is that the previews for Default and Rounded are not showing the full image?
**Yes Exactly**

[2022-02-04 10:18] getdave commented on #38515
I have a fix incoming...

[2022-02-04 10:43] getdave opened #38518 "Add help text below Link attributes in Inspector for Nav link and Nav Submenu blocks"
## What problem does this address?

Some of the more obscure link attributes used within the block inspector controls of the `core/navigation-link` and `core/navigation-submenu` blocks may need some explanation in the interface. Currently they could be confused with other similarly named attributes.

<img width="361" alt="Screen Shot 2022-02-04 at 10 41 55" src="https://user-images.githubuserconte

[2022-02-04 10:59] Andrew-Starr commented on #38489
Without Gutenberg active, all is okay:

![next-page-link-span-ok](https://user-images.githubusercontent.com/94701043/152517482-b33db892-6169-41a0-8483-c1a456c7235a.jpg)

With Gutenberg active, the inline span is displayed incorrectly:

![next-page-link-span](https://user-images.githubusercontent.com/94701043/152517600-977d68dd-6676-4d02-ae7f-c7dd7a72d3fc.jpg)

[2022-02-04 11:01] Andrew-Starr commented on #38515
@getdave will the fix also fix https://github.com/WordPress/gutenberg/issues/38489 as I think they are both post content being wrongly escaped?

[2022-02-04 11:10] getdave commented on #38489
I'll get a fix up for this shortly.

[2022-02-04 11:23] ritvikos commented on #38395
@t-hamano and @talldan:
Yeah! It was extension incompatibility, disabled all the extensions and Gutenberg working again!
Solved!

[2022-02-04 11:23] #38395 closed, assigned to nobody

[2022-02-04 11:29] #38515 closed, assigned to getdave

[2022-02-04 11:31] getdave commented on #37976
@jorgecontreras Looks like this is the test you may have introduced.

[2022-02-04 11:34] MatzeKitt opened #38520 "Default image size ignored in Media Text block"
### Description

If you add an image larger than the image size 'large' and save it without changing anything else, the frontend only shows the 'large' image size.

You need to select a different image size than the default (which is 'full') and then change it back to get the real full width image displayed in the frontend.

In the markup, the `size-<media-slug>` class is also missing before you c

[2022-02-04 11:51] carolinan commented on #38062
I can reproduce this in WordPress 5.9 with and without Gutenberg trunk.
It seems to be caused by a set height when you switch from either tablet or mobile preview to desktop:

This is the default CSS when you view the post in desktop without first selecting a different preview:
`<div class="is-desktop-preview" style="width: 100%; margin: 0px; display: flex; flex-flow: column; background: white;">`

[2022-02-04 12:12] gziolo commented on #38245
It looks like we have some details from the `block.json` that we could move into the block registry on the client so it could use them when registering:

https://github.com/WordPress/gutenberg/blob/769245a643dce408f6165fc0ee5183f3546499cb/packages/block-directory/src/store/actions.js#L80-L85

A good example is here where we use some legacy API to inject definitions loaded directly from `block.json

[2022-02-04 12:16] jasmussen commented on #37541
Took a stab in #38521. Note I wasn't able to find the "Post Navigation Link" to insert, and it's unclear to me what it does. Can we just use the existing Pagination icon for it?

[2022-02-04 12:33] scrobbleme commented on #34763
This should be fixed...

As a workaround, have a look into WooCommerce code, they have [workaround](https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/271f04dde620fa2254ab5e72ba3ca0bec5da52a5/src/AssetsController.php#L135):

Basically:

[code]

[2022-02-04 12:49] Graphnic commented on #38252
Firstly, massive and genuine respect to everyone involved in the WP release cycles. Thank you for your efforts.

Secondly, can I encourage all of those talented folks to look at how the process can be developed to catch more of these breaking changes before they hit 40% of the web.

I've just finished a weekly call with a handful of other small WP agency owners where this issue was a topic of disc

[2022-02-04 13:03] #38489 closed, assigned to getdave

[2022-02-04 13:22] getdave opened #38523 "Refactor all menu selection data fetch and permission checks into component"
Follow up to https://github.com/WordPress/gutenberg/pull/38179#discussion_r799388839_. We need to pull all the:

* data fetching
* permissions checking

...so that it is _within_ the `Select menus` component itself. This means we don't have to keep compiling the arguments each time we need it.

This could also be within a **hook** in order that we can retain a separation of concerns between compon

[2022-02-04 13:34] wmalexander commented on #38252
From my perspective discussing documentation related to this issue is confusing. This surely isn’t the intended behavior here, it’s a bug that needs to be fixed.   There is value in communicating to people “heads up there’s a breaking issue in the new release that will be fixed in the next update” but it seems to me that if this problem had been discovered well enough in advance to be documented,

[2022-02-04 13:55] geriux opened #38525 "Support multiple color palettes on Mobile"
## Description
On mobile, we are working on adding support for multiple color palettes in https://github.com/WordPress/gutenberg/pull/38417.

Users can now create their own colors that would be shown in a `Custom` palette. So we'll have `Theme` and `Default` and the `Custom` palette will be shown if users add new colors.

The initial implementation is merging all palettes into one row, but it was

[2022-02-04 14:07] mtias commented on #36667
Extracting some tasks from this to begin next steps:

- [ ] Try a dedicated panel + icon for the navigation structure, reading from `wp_navigation`.
- [ ] Use list view as a basis, with a dark variant and possibly reducing some options or adding new ones (like "add page").
- [ ] Consolidate use of tree-nav in the navigation block (it should open the same thing).

Design:
- Continue to prototype so

[2022-02-04 14:14] scruffian commented on #34529
This would be great, particularly for the navigation block. In that case I want space horizontal space between my items, but not vertical:
<img width="664" alt="Screenshot 2022-02-04 at 14 13 02" src="https://user-images.githubusercontent.com/275961/152543753-6c6d64b2-13e1-4cae-a7d7-22a833c088e5.png">

[2022-02-04 14:16] markcummins opened #38526 "Cant compile block after installing via @wordpress/create-block"
### Description

I am trying to create a Block by running 'npx @wordpress/create-block demo'.

The block fails to compile though, with the following output:

`Creating a new WordPress plugin in "demo" folder.

Creating a "block.json" file.

Creating a "package.json" file.

Installing `@wordpress/scripts` package. It might take a couple of minutes...

Formatting JavaScript files.

Compiling block.

[2022-02-04 14:21] mtias commented on #23328
I'd like to focus a first set of tasks around allowing navigation to occur from the navigation block only as we figure out the best UX, which we can then expand to site title, post titles, etc.

A complementary part of browse mode is the ability of blocks to render "inert" in the editing context, which is also useful for restriction purposes and has some overlap with the locking mechanisms.

[2022-02-04 14:24] mtias commented on #31591
What would be the flow for creating a template specific to a category slug?

[2022-02-04 14:26] codebymikey opened #38528 "Image: Include the height and width within transformations."
## What problem does this address?
When pasting certain image HTML, Gutenberg should attempt to pick up the height and width of the `img`. Prioritizing the style e.g. `style="height: 100px; 200px;"`, then falling back to the width and height attributes.

This ensures that the output is still visually similar to the source HTML just in case the original image source is much bigger than the specifie

[2022-02-04 14:27] mtias commented on #33094
**Removing as completed**: #29733, #33926, #20331, #34041, #30910, #35521.

[2022-02-04 14:33] mtias commented on #28736
Let's close this and follow up with more focused imporvements.

[2022-02-04 14:33] #28736 closed

[2022-02-04 14:35] ryanwelcher commented on #25188
Yesterday I live-streamed creating a custom template for the `@wordpress/create-block` package ( https://www.youtube.com/watch?v=AYMPsCdRjSQ around the 1hr mark ) and found a couple of things that would be great to add to the package:

* [x] I was creating a dynamic block template and everything in the `src` directory was being copied to `build` _except_ the `template.php` file I was using ( [refe

[2022-02-04 14:35] apeatling commented on #33447
The above issues are also tracked and kept in sync via this project where you can see who is working on them, status, and some tracking notes: https://github.com/orgs/WordPress/projects/10

[2022-02-04 14:38] mtias opened #38529 "Building with Patterns"
This issue will track and describe a few projects around making patterns a more central part of the experience of creating templates and pages.

## Inserter

- [x] #41379
- [x] #44582.

## Creation

This is about discovery and the user experience of starting with blank or partially blank templates, the role of semantic template parts as containers, etc.

- [ ] #48458. 💎
- [ ] #39281.
- [ ] #27575.

[2022-02-04 14:57] critterverse commented on #32550
Agreed, I think turning off the option signals that certain styles won't appear in the editior (but it's great that more are working now).

[2022-02-04 14:57] #32550 closed, assigned to nobody

[2022-02-04 14:57] paaljoachim commented on #38277
The following a "rough" sketch made with Affinity Photo associated with the Button block settings and one for Global Styles. Meant to inspire. Example using Default and Hover states.

### Buttons block

![Buttons-block-Link-States](https://user-images.githubusercontent.com/5323259/152550000-61e5fe3f-bcfa-4f8b-831e-2f5224e8c2bf.jpg)

### Global Styles

Global styles with a Link States panel in the

[2022-02-04 15:02] skorasaurus commented on #38473
@kajalmultidots

Could you please test again with Gutenberg plugin installed and activated? [The Gutenberg plugin](https://wordpress.org/plugins/gutenberg/) contains the latest fixes and improvements of the block editor have yet to be added the core WordPress installation. The updates in the Gutenberg plugin will eventually be added to the core WordPress installation but we need to confirm whether

[2022-02-04 15:18] ajlende commented on #38299
It sounds to me like an acceptable solution would be adding a new `defaultDuotone` option that works the same way as `defaultGradient` and `defaultPalette` in https://github.com/WordPress/gutenberg/pull/36492 and make sure that it is opted out by default for themes without a theme.json like in https://github.com/WordPress/gutenberg/pull/36496.

[2022-02-04 15:19] cbirdsong commented on #38252
More robust documentation on the editor would _absolutely_ be welcome, but that assumes every Wordpress site has a developer actively maintaining it.

This fix is still going to break any responsive typography sizes on every site I've implemented that was built on the block editor. That problem was raised in an issue back in September (#34575), and I can only assume the team at best missed it or a

[2022-02-04 15:32] jasmussen commented on #38062
Thanks for the ping. As I recall, the Safari issue was related to a browser bug or rule interpretation. But with the steps you share I can reproduce in Chrome as well, and so it seems the right solution is to remove some of those extra properties that are applied. I'm not entirely sure if you worked on it, @ellatrix, so feel free to ignore, but I have a feeling you have an idea.

[2022-02-04 15:46] LukaszJaro commented on #38380
https://inclusive-components.design/data-tables/#goingresponsive
https://inclusive-components.design/data-tables/#onlyfocusablewherescrollable

[2022-02-04 15:46] getdave commented on #36667
@mtias Do you see this work as separate or complementary to [an isolated Navigation Menu editor](https://github.com/WordPress/gutenberg/issues/37950)?

[2022-02-04 15:48] getdave commented on #38277
I want to emphasis this as it's important.

----

@paaljoachim Thank you for the exploration!

[2022-02-04 16:40] ryanwelcher commented on #25188
I put together #38530 which could be expanded to allow custom scripts to be defined by the template pretty easily.

[2022-02-04 16:41] iamthomasbishop commented on #38525
@geriux I think we could separate them similarly into sections, each section with a leading section header. Would something along the lines of this make sense?

<a href="https://user-images.githubusercontent.com/1200432/152567080-4768e279-19be-4d46-bf36-5bf987a7d3fd.png"><img src="https://user-images.githubusercontent.com/1200432/152567080-4768e279-19be-4d46-bf36-5bf987a7d3fd.png" width="1000"></a

[2022-02-04 17:38] mtias commented on #36667
Complementary — if it works super well, it might become canonical.

[2022-02-04 17:45] mtias opened #38533 "Consolidating design tools on blocks"
Extracted from #33447 — this issue focuses mostly on supporting common tools in blocks.

#### Cover

- [ ] #20193
- [x] #28643

#### Columns

- [x] #21889

#### Buttons

- [x] #4543

#### Galleries

- [x] #20705
- [x] #34643

#### Media & Text

- [ ] #32521

#### Search

- [x] #22071
- [x] #31128

#### Table

- [ ] #31261

#### Post Date

- [x] #25456
- [x] #24957

#### Post Author

- [x] #34640

[2022-02-04 17:47] mtias commented on #34284
@ciampo are the open tasks still being actively pursued? Do they need to be tracked here or can this be considered done?

[2022-02-04 17:47] mtias commented on #34345
What's the status of this one?

[2022-02-04 17:49] LukaszJaro commented on #24205
I played around with a custom accessible block table that addressed these issues very simply:

https://github.com/stmarytx/cgb-a11y-table/tree/master
![image](https://user-images.githubusercontent.com/10998875/152571813-167f825a-8bbb-4e9c-8cd8-c8759d4f75bc.png)

Using the toggle adds the necessary scope to the column or row.

Here are my thoughts working in the real world with content editors, the

[2022-02-04 17:51] mtias opened #38534 "Global Styles Typography"
### Typography (from #34574.)

#### Fonts

Managing fonts as site assets still needs a more formal proposal but broadly speaking the design would incorporate a recognizable small preview. This is the corollary to the palette management interface. These sets would be extensible and configurable, ranging from a single default set (current state) to multiple choices.

![image](https://user-images.git

[2022-02-04 17:54] mtias commented on #34574
Closing this as most of the UI is implemented. Splitting a new tracking issue just for typography at #38534.

[2022-02-04 17:54] #34574 closed, assigned to nobody

[2022-02-04 17:55] mtias commented on #33094
**Completed**:

- [x] #34574

[2022-02-04 18:10] skorasaurus commented on #38526
Hi,

Just to be sure, is the error message exactly the same on node 16?

[2022-02-04 18:28] skorasaurus commented on #38441
heavily related: https://github.com/WordPress/gutenberg/issues/38473

[2022-02-04 18:28] ciampo commented on #34284
This issue should be quite up-to-date. The components squad hasn't quite had the capacity to work on these tasks (to the point that the latest work re. the `ColorPicker` was done with the help of @jorgefilipecosta ), but it'd be great if we could work the final few tasks left.

[2022-02-04 18:37] ciampo commented on #34345
The status of the tracking issue seems quite up to date, meaning that we'd mostly need to refine/polish `FontSizePicker` and a few dependent components. The components squad hasn't had much capacity to move this forward, but we've been collaborating with folks like @ntsekouras @aaronrobertshaw @andrewserong and @ramonjd on PRs touching these components.

I also know that @mirka has worked/is worki

[2022-02-04 18:38] ianstewart opened #38536 "Allow the registering of search synonyms for Patterns"
## What problem does this address?

To my knowledge we don't register synonyms or aliases for Patterns and provide it for search in the same we do for Blocks. I expected this search …

![image](https://user-images.githubusercontent.com/545779/152584257-7bd14904-0226-4e60-a3c1-377352e73c48.png)

To reveal this cool patterns …

![image](https://user-images.githubusercontent.com/545779/152584335-ed6e

[2022-02-04 18:42] mkkeck commented on #38252
No! This should be configurable. And presets and block styles should never overwrite theme styles.

Yes that's right, but it was easier to hook into actions and filters to adjust what should enqueued and what not. But today, with every minor or major versions it becomes more difficult and/or is not planned to give us rights to adjust, configure or disable. That's bad. And it's a shame, that existi

[2022-02-04 18:42] annezazu commented on #38501
It stays collapsed for me.

[2022-02-04 19:00] skorasaurus commented on #38176
Thanks for confirming that you're able to disable the color settings. :)

[2022-02-04 19:00] #38176 closed, assigned to nobody

[2022-02-04 19:21] LukaszJaro opened #38537 "Media & Text block - 'Show media on right' tab/focus order issue"
### Description

This is a user introduced accessibility issue to do with the tab order(left to right).

In certain scenarios, when using media-text block with either a video or image with link attribute and aligning the media to the right the DOM order does not match up with the visual reading order.

Breaks the following guideline:
WCAG 2.0 - 2.4.3 Focus Order (Level A): If a Web page can be nav

[2022-02-04 19:50] skorasaurus commented on #32507
FYI there's a specific issue for paragraph alignment at https://github.com/WordPress/gutenberg/issues/31429

[2022-02-04 20:44] annezazu commented on #38252
Once more, **thank you** all for this feedback and continued discussion. I want you all to know that I've flagged both this issue and the SVG markup one https://github.com/WordPress/gutenberg/issues/38299 for the 5.9 release leads ([you can see this here](https://wordpress.slack.com/archives/C02JUSF02TT/p1643927755632449)) so this can help inform the 5.9.x release(s). If you don't read the rest of

[2022-02-04 21:49] LukaszJaro commented on #35848
Also by using grid it would reduce the amount of CSS shipped most likely, especially if media queries were eliminated. I recently ran into issue trying to override the 600px media query and had to use !Important.

I still use flexbox for items but grid is best for container type of layouts like columns.

[2022-02-05 00:05] chthonic-ds commented on #35848
This is something I've experimented with since WP 5.0 was released and it's been a lot less fragile than I initially worried it would be.

I've been using something as simple as the following to achieve this:

[code]

[2022-02-05 00:07] #37510 closed, assigned to mkaz

[2022-02-05 00:47] vralle commented on #38299
If the theme uses global styles, this workaround will only remove the svg
[code]
Tested with WP5.9
The solution is not ideal and will need to be removed when it becomes possible to remove block supports at the global level. Something like `WP_Block_Supports::get_instance()->deregister( 'duotone' );`

[2022-02-05 00:56] GreenballParis commented on #7604
Is there a way to trigger the “Attempt block recovery” action on all our broken blocks sitewide? Waiting since 18 months..

[2022-02-05 01:27] coreyworrell commented on #35811
This is still an issue in 5.9. I see the `<style>` has been moved down to bottom of `<body>`, but I still don't see a way to disable the style completely. I am using CSS grid and the CSS that is generated completely ruins the layout.

For now I am just using this to disable:

[code]

Edit: the above will not work actually because it also removes other layout features for other blocks (button align

[2022-02-05 08:35] mrleemon commented on #19847
Is this planned to be changed? The Quote block already uses a CITE tag in the editor. Why is the Pullquote block not?

[2022-02-05 08:48] Otshelnik-Fm commented on #38155
will there be a solution or at least an answer? http://joxi.ru/8AnD9LpioDPOxm There is no feedback. And I'm putting Gutenberg into the translation, and you're so silent...

[2022-02-05 09:13] stuffnting commented on #36687
With WP 5.9, when there _is_ a home.html template file, the theme editor works, when there is _no_ home.html template file I get the following error and a blank white screen:

`Uncaught (in promise) TypeError: Cannot destructure property 'id' of '(intermediate value)' as it is null.
    at actions_setPage (edit-site.js:1019:9)
    at actions_setPage.next (<anonymous>)
    at actions_showHomepage (

[2022-02-05 11:33] markcummins commented on #38526
Thanks, yes its the same with 16 for me. After I run `npx @wordpress/create-block demo`, I can retry the compiler with `npm run build`. When I do that, I get the exact same error.

However if I go to `node_modules/@wordpress/scripts/config/webpack.config.js` and comment out line 89 `entry: getWebpackEntryPoints(),` and rerun `npm run build`, then the compiler does seem to work

[2022-02-05 11:34] Socrapop opened #38544 "Converting a Gallery block to images blocks resets "Image size" and a "Link to" settings"
### Description

When converting a Gallery block to Image blocks,
I expect the images to keep the "Link to" and "Image size" previously set in the Gallery Block
but those settings are reset to default on the converted images and sizes are not corresponding to settings.

### Step-by-step reproduction instructions

1. Create a Gallery block and add images
2. On the Gallery block, set the "Images siz

[2022-02-05 12:16] markcummins commented on #38526
Ok I figured out the issue.

The path that my WordPress directory is '/home/mark/Development/www/WordPress/`src`/wp-content/plugins/demo/`src`/index.js'.

The Webpack file tries to extract the filename by splitting the path between `src` and `.js`, but because my WordPress install is located in a folder called src, that function returns an array instead of a string.

So the soultion for me is to r

[2022-02-05 14:19] justintadlock opened #38545 "Default Pullquote background overrules theme.json background color"
### Description

When setting a background color for `core/pullquote` via `theme.json`, it gets overwritten by the high specificity in core's `pullquote/style.css` file.  The color is correct in the editor but gets overruled on the front end.

This is specifically caused by this code: https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/pullquote/style.scss#L49-L52

### Ste

[2022-02-05 15:25] Humanify-nl opened #38546 "Not supporting PHP templates is going to be a nonstarter and deal breaker"
Not supporting PHP templates is going to be a nonstarter and deal breaker
to the vast majority of the community. It’s a big enough deal breaker to
kill off FSE. The migration path without this would be cruel and painful,
and raises the barrier to entry super high.

_Originally posted by @tomjn in https://github.com/WordPress/gutenberg/issues/24313#issuecomment-669355131_

[2022-02-05 15:28] tomjn commented on #38546
I said that before hybrid universal themes were discussed on the Make blog
and theme shaper.org, this issue doesn’t make much sense in that context

[2022-02-05 15:29] tomjn commented on #38546
Especially when you can use block.json in a theme with no block templates
and then use a one liner to disable the template editor while still getting
all the goodies

[2022-02-05 15:31] Humanify-nl commented on #38546
Tom, im deeply sorry / ashamed this happend. I was trying to write an issue about documentation. And I apparently posted this on accident (I was trying to reference your comment , not post it!!).

Please close / remove

[2022-02-05 15:31] #38546 closed, assigned to nobody

[2022-02-05 16:44] wpsoul opened #38547 "registerPlugin is not working in Site editor"
### Description

When using function to register custom plugin for Sidebar, it doesn't work inside Site Editor environment (but works for post edit)

[https://developer.wordpress.org/block-editor/how-to-guides/plugin-sidebar-0/](https://developer.wordpress.org/block-editor/how-to-guides/plugin-sidebar-0/)

Also, when using Site editor, there is no back button, so, it's impossible to leave Editor a

[2022-02-05 16:46] wpsoul commented on #38385
I also found today that even all styles which are registered via theme.json file are loaded in footer.

[2022-02-05 17:17] MonsterKing commented on #7604
Not that I know of. I wrote a little script that looked for the problem content in the database and removed it. So, with my client, there is a button to click that cleans everything up (as long as it's the same problem). We haven't had to use it in a while. Not sure if it still works. But, if you look at (and copy and paste it in a text editor) the wp_content field in the (prefix)posts table for y

[2022-02-05 17:30] andrewstaffell commented on #38515
@getdave I have an analogous problem with the Post Title block since the late escaping changes in 12.5. We were using the standard `the_title` filter to add some custom formatting to post titles on the front end, and it broke in 12.5:

<img width="379" alt="Screenshot 2022-02-02 at 17 51 08" src="https://user-images.githubusercontent.com/696154/152652185-01e30a0f-ba67-4065-9d95-104f89872880.png">

[2022-02-05 17:33] paaljoachim commented on #27093
I assume we can go with a 1st version mentioned in my above comment:
https://github.com/WordPress/gutenberg/issues/27093#issuecomment-946607869

Currently when I attended Brian's @bgardner and Nick's @ndiego Full Site Editing chat yesterday.
Brian showed the cumbersome work around in creating a page template and in the page template he removed the Post title, and saved the template. So that all pa

[2022-02-05 17:55] andrewstaffell commented on #36687
We still have the WSOD in 5.9, with or without Gutenberg plugin activated, BUT when the plugin is activated we now seem to get a different error message than the `destructure` one above.

The new one is:
[code]

... and that is apparently coming from `themes.php`. If I follow the web inspector link to that file, I see:
[code]

Hope this is useful!

[2022-02-05 19:54] Jabe64 commented on #16484
And what about custom icons? It needs to be considered as well.

[2022-02-05 21:02] mahnunchik opened #38548 "ComboboxControl: SuggestionsList loses focus on DOWN key press"
### Description

Whole block including `ComboboxControl` loses focus on `DOWN` key press.

### Step-by-step reproduction instructions

1. Create custom block with `ComboboxControl`
2. Start typing to have 2+ options to be shown.
3. Press `DOWN`

Expected behavior: selected next option.

Actual behavior: block loses focus, options hidden.

### Screenshots, screen recording, code snippet

https://de

[2022-02-05 21:07] mahnunchik commented on #38548
Key `UP` works as expected.

[2022-02-05 21:26] deborah86 commented on #30765
@ellatrix Is there an update on this?

[2022-02-05 21:28] skorasaurus commented on #38526
Interesting find; thanks for sharing, and glad it worked out for you! It's an interesting edge case but worth pinging @gziolo what his thoughts are.

[2022-02-05 23:38] kosvrouvas opened #38549 "Social Icons 'block spacing' resets after saving"
### Description

(FYI I also posted this [here](https://core.trac.wordpress.org/ticket/55088) but as @mauriac mentioned it seems Gutenberg related)

When editing a social icons block, and you set some pixels to the block spacing, hitting save works as expected. Leaving the editing area and entering again, the block spacing field resets, and if you make other changes to the page and hit save. The i

[2022-02-06 02:09] annezazu commented on #36687
Very useful! Thank you so much for following up with more details. @stuffnting can you clarify what you did & why to remove your home.html template?

[2022-02-06 03:14] carolinan commented on #31591
I have heard several users say that they want to edit the categories using blocks in Admin > Posts > Categories > Description field.
I think that the connecting that interface with the new is important.

[2022-02-06 04:17] joemaller commented on #35560
@jakerambo that's exactly it.

My  experiments with enabling FSE on existing themes were failing with the `Cannot destructure property...` error. All of these themes contain a **front-page.php** file. I'm accessing **Appearance -> Editor** here: `/wp-admin/site-editor.php`

- The error does not occur if the theme contains both **front-page.php** and **front-page.html**.
- The error does not occur

[2022-02-06 04:34] daviedR opened #38551 "Negative value on block's margin settings"
## What problem does this address?

Negative value is currently not allowed on block's margin settings. When inputting negative value on the margin input field, it's automatically reverted back to `0`.

## What is your proposed solution?

Allow negative value on block's margin settings, for example `-1rem`, `-10px`, etc.

[2022-02-06 06:41] gziolo commented on #38526
I will provide the fix tomorrow. Thank you for the report and sharing your findings. It sounds like an edge case but we surely should avoid it. 👍

I can imagine it also working incorrectly when you would reference a file in your plugin outside of the inner `src` folder but it would detect the path based on the outer `src` folder 🙈

[2022-02-06 06:42] grappler opened #38552 "Term Description block should only be available in the FSE template editor."
### Description

Currently, the Term Description Block is available in the block editor for posts and pages. The block can only be used within templates where the following is true `is_category() || is_tag() || is_tax()`

Introduced in https://github.com/WordPress/gutenberg/pull/29613

This is related to the general issue that some post template blocks are available in places where they cannot be

[2022-02-06 07:10] grappler commented on #38455
The Post Content Block can only be used within the Query Loop Block or in the FSE template editor.

[2022-02-06 08:12] justwheel commented on #17099
Another +1 for this feature… the use case I had was to add a Jetpack newsletter subscription widget at the top of a category. Personalizing the category page is an important part of how we use WordPress.

CC: @vansika

[2022-02-06 10:23] stuffnting commented on #36687
I was writing a theme from scratch and started off with only index.html and single.html: the theme editor did not work.

When I switched the theme over to TT2, the theme editor worked.

Switching back to my theme, I looked at the error in the console, and followed the link to the code where it occurred.

It was:

[code]

In particular, the line: `id: templateId`.

I guessed the theme editor could

[2022-02-06 12:00] leeshadle commented on #38547
I'm seeing the same thing, a registered plugin sidebar works everywhere but the 'Site Editor'.

[2022-02-06 12:13] #38155 closed, assigned to SergeyBiryukov

[2022-02-06 12:23] t-hamano commented on #38113
I tested in a similar environment, but could not reproduce the problem.

Please see:

https://user-images.githubusercontent.com/54422211/152680467-7449dc42-318d-4a89-ae6a-7bf189026241.mp4

## Code

[code]

## Environment info
- WordPress version: 5.9
- Gutenberg version: 12.5.3 (plugin enabled)
- OS: Windows 11
- Browser: Firefox 96.0.3

[2022-02-06 12:47] leeshadle commented on #34763
Thank you for creating this issue @amir2mi! I am seeing the same thing...

When using enqueue_block_editor_assets for enqueuing scripts in the iframed 'Full Site Editor' they get loaded outside of the iframed 'Full Site Editor', whereas styles get loaded inside the iframed 'Full Site Editor'.

This seems like unexpected behavior and I'd love access and the ability to add scripts within the iframed

[2022-02-06 12:50] t-hamano commented on #38548
I have tested it in a similar environment and confirmed that the same symptom occurs with `UP` key.

The option does not change and it loses focus **if there is a block or title element before / after the `ComboboxControl`.**

For some reason, I think the keyboard events are not working.

Please see:

https://user-images.githubusercontent.com/54422211/152681534-0d7a5b55-4dae-4bb3-9bea-40ea15f52ca8

[2022-02-06 13:17] t-hamano commented on #38548
I don't know the details, but I removed one of the event handlers registered in `.components-combobox-control__suggestions-container`, and it seems to work correctly.

![capture](https://user-images.githubusercontent.com/54422211/152682786-3fa326df-f5aa-439a-b5f6-94c6ead0c3f6.png)

[2022-02-06 14:11] t-hamano commented on #38009
I was able to disable the text cutoff in Chrome using one of the following methods.

- Change `appearance` value  `none` to `auto`
- Change `font-family` value `system-ui` to another font
- Change `line-height` value `1` to another value (`initial` / `2`, etc.)

I suspect it has something to do with the system font (Yu Gothic UI) adopted in Windows 10.

[2022-02-06 15:04] davilera commented on #38113
Thanks for trying to reproduce the issue, @t-hamano. Your `SelectControl` is missing the `value={ option }` attribute.

[2022-02-06 15:41] t-hamano commented on #38113
@davilera

Thanks for the advice.
Indeed, I was able to reproduce it here.

For some reason, it only seems to happen when using a `SelectControl` wrapped in a `Tooltip` and a Firefox browser.

[2022-02-06 17:24] richwalton commented on #18095
Any word on this? seems as if the time it takes to respond here would have already fixed this. As of today no transparency in the group block. Such an easy fix takes years, why?

[2022-02-06 17:59] KevinBatdorf opened #38553 "renderToString missing support for some SVG attributes"
### Description

For example, `fillOpacity` will convert to `fillopacity` instead of `fill-opacity`. Additionally, some attributes lose their case (e.g. `preserveAspectRatio` becomes `preserveaspectratio`) but that shouldn't cause issues outside validation.

Similar issues: https://github.com/WordPress/gutenberg/issues/36903

Should there be a hardcoded list of exceptions?

https://github.com/Word

[2022-02-06 18:11] dhjw commented on #38387
https://core.trac.wordpress.org/ticket/54919

[2022-02-06 18:30] aurooba opened #38554 "Adding the ability to create new posts (and maybe duplicate posts) from the Block Editor"
## What problem does this address?
One of the things I miss about the Classic Editor was the super easy access to the _Add New_ button – because the main menu was always available and because there was a handy little button right beside the header in the Classic Editor, you could easily create new posts. This _was very handy_ when you were creating multiple posts for testing or if you were in the

[2022-02-06 19:54] dmpinder commented on #38554
Definitely agree with this @aurooba! It's such a simple thing but so often used. I love the ability to either add a new post or duplicate the current page, that's a great idea. Would love to see this in core.

[2022-02-06 19:54] KevinBatdorf commented on #38553
Additionally, if I change an attribute in the block structure, Gutenberg will identify those changes as "corrupted" and report possible invalid content.

React's rendering on the right vs `renderToString` output on the left.

![Screen Shot 2022-02-06 at 2 49 24 PM](https://user-images.githubusercontent.com/1478421/152698791-c85df8dc-3a7a-47f5-870b-d6464db08fe3.png)

[2022-02-06 20:05] mahnunchik commented on #38548
Just for the information, `FormTokenField` component has almost the same implementation of key handler:

https://github.com/WordPress/gutenberg/blob/5c0b338c44296688edac9945b23dbd18869b11cd/packages/components/src/form-token-field/index.js#L141-L189

I'm unable to check it now, but maybe (a) it has the same issue (b) the issue is already fixed there.

[2022-02-06 21:03] Graphnic commented on #38554
Totally support this idea.  Should have been in core from the start. As pointed out by @aurooba in the issue, the lack of the Add New button is a regression for many Classic users and adds friction to the UX.

The duplicate function would be of equal value to the workflow when building out a site.

[2022-02-06 21:24] heathergray commented on #38554
I would greatly appreciate this being in core. I currently don't use full screen mode right now because there is no easy way to add new posts. Also, I add duplicate posts plugins to almost every installation because they are so incredibly useful but, even with that, it's difficult to access in full screen mode, after editing and updating a page/post.

Having these features as plugins is slightly p

[2022-02-06 21:50] Bovelett commented on #38554
Having this in the core would take away the last reason why I have to keep resorting to Classic Editor, what a great idea!

[2022-02-06 23:43] andrewserong commented on #27075
I think it's fine to have both issues open. This one seems like a good place for the more general discussion, and it's also the earlier issue 😀

[2022-02-07 00:29] carlomanf opened #38555 "How do plugins change the block editor icon?"
### Description

I want to bundle an image in my (private) plugin, and use it as the icon that shows in the top-left corner of the block editor screen.

There is an [official filter](https://developer.wordpress.org/reference/hooks/get_site_icon_url/) for changing the site icon, but it is not used when resolving the block editor icon. Apparently, the only way to change the default icon is through a

[2022-02-07 01:11] jenfloods commented on #38455
ok How does one make a single Post Template using Gutenberg then?

[2022-02-07 01:37] talldan commented on #33254
Hmm, yeah, I guess Code Editor would have to be a widget area block feature.

[2022-02-07 01:49] carlomanf commented on #38555
Although I didn't want to do this by setting a site icon through the customiser, I tried it anyway for the time being, and I am finding that I can't even change the block editor icon this way. Nothing I try will change the default icon.

Using core version 5.9 with all plugins deactivated.

[2022-02-07 03:03] annezazu commented on #37926
This still happens in 5.9.

[2022-02-07 03:04] kevin940726 commented on #33275
Nope, the test is skipped 7 months ago and hasn't been re-enabled yet 😅 . I think we can just re-enable it now that we have a flaky tests reporter and auto-retrying mechanism.

[2022-02-07 03:04] annezazu commented on #33471
This still happens in 5.9.

[2022-02-07 03:08] annezazu commented on #28243
Noting that this is still an issue in 5.9. In the Site Editor, it shows as the above. In the Template editor via the Post Editor though, it does allow the full name to be clickable as shown below:

https://user-images.githubusercontent.com/26996883/152718380-9d317933-1f80-4477-9b3d-ef837ff94aa0.mov

[2022-02-07 03:11] annezazu commented on #24007
This experience has been iterated upon SO MUCH since I opened this issue thanks to the work around a lighter experience: https://github.com/WordPress/gutenberg/issues/34041

Here's a current view:

<img width="810" alt="Screen Shot 2022-02-06 at 7 10 37 PM" src="https://user-images.githubusercontent.com/26996883/152718584-82be7863-280d-469d-a0dc-fe6b081c6459.png">

I'm going to close this out as a

[2022-02-07 03:11] #24007 closed

[2022-02-07 03:25] annezazu opened #38556 "Make it easier to quickly turn duotone on/off"
## What problem does this address?

Currently, due to a the following reasons, it's a bit tricky to easily turn on/off the duotone filter while continuing to try them out:
- The duotone popover isn't persistent and often closes once more causing you to have to open it again.
- It's not quite clear that clicking again on the same color option will turn duotone off.
- The pop-over covers the image o

[2022-02-07 03:27] annezazu commented on #29238
This came up as part of the [latest FSE Outreach Program's All Things Media exploration once more](https://make.wordpress.org/test/2022/02/02/fse-program-exploration-all-things-media/#comment-2303):

&

I expect this to be a fairly common workflow folks will want to have so it would be great to get what seems to be mostly some technical solutions in place.

[2022-02-07 03:31] annezazu commented on #37532
With WordPress 5.9, I see the following for /ima:

<img width="361" alt="Screen Shot 2022-02-06 at 7 30 01 PM" src="https://user-images.githubusercontent.com/26996883/152720093-bc62ee92-9aff-4a57-8ec5-245c9c8de202.png">

However, if I try /img, I then see the reversed results:

<img width="344" alt="Screen Shot 2022-02-06 at 7 30 05 PM" src="https://user-images.githubusercontent.com/26996883/15272

[2022-02-07 03:36] annezazu commented on #36713
I tried replicating this with 5.9 without Gutenberg installed and with Gutenberg 12.5.3 installed but couldn't replicate using Twenty Twenty-Two:

https://user-images.githubusercontent.com/26996883/152720510-b40b901a-bf45-4952-9fb8-8fd2f6493bbf.mov

I'm going to close this out as a result but please re-open if this is still an issue you're experiencing!

[2022-02-07 03:36] #36713 closed, assigned to nobody

[2022-02-07 03:47] annezazu opened #38557 "Site Editor: Image cropping tools broken"
### Description

Cropping in the site editor seems broken across multiple levels compared to in the post editor:
- The aspect ratio tools don't work/don't have any effect.
- The zooming is out of control (best way I can put it) and you aren't able to really use it to get what you want.
- The ability to move where the image is zoomed in on is no longer available.
- The greying out of what you are c

[2022-02-07 03:53] annezazu commented on #29957
This came up as part of the latest [FSE Outreach Program's All Things Media exploration](https://make.wordpress.org/test/2022/02/02/fse-program-exploration-all-things-media/#comment-2303):

You can see a [video talking through the brief experience here](https://youtu.be/mWoGD2zMdqo?t=468). Separately, there was [more feedback](https://make.wordpress.org/test/2022/02/02/fse-program-exploration-all-

[2022-02-07 04:06] annezazu opened #38558 "Integrate media related patterns into the Media Library"
As work gets increasingly underway to integrate patterns into the creation experience (example: https://github.com/WordPress/gutenberg/issues/38529), the following idea was shared to include various media Patterns as part of the Media Library:

This came up as part of feedback for the [FSE Outreach Progam's All Things Media exploration](https://make.wordpress.org/test/2022/02/02/fse-program-explor

[2022-02-07 04:13] t-hamano commented on #38555
How about using the [rest_index](https://developer.wordpress.org/reference/hooks/rest_index/) hook?

Like this:

[code]

[2022-02-07 04:15] annezazu commented on #29882
I'm assuming this can be closed due to merging in 5.9. I'm going to close it out as a result but obviously feel free to re-open.

[2022-02-07 04:15] #29882 closed

[2022-02-07 04:20] annezazu commented on #34862
This came up as part of the [FSE Outreach Program's All Things Media exploration](https://make.wordpress.org/test/2022/02/02/fse-program-exploration-all-things-media/#comment-2306):

[2022-02-07 04:37] carlomanf commented on #38555
Thanks for the code, it solves what I want to do. I did come across that hook in my research but couldn't spot how to use it. Still not sure why the customiser didn't work?

[2022-02-07 04:53] ramonjd commented on #18095
Hi @richwalton,

https://github.com/WordPress/gutenberg/pull/37731 was merged a couple of weeks back. The change should be part of Gutenberg 12.5, which was [released a few days back](https://make.wordpress.org/core/2022/02/03/whats-new-in-gutenberg-12-5-february-2nd/).

If you update the Gutenberg plugin to 12.5 you should see the following controls:

<img width="1012" alt="Screen Shot 2022-02-07

[2022-02-07 05:02] t-hamano commented on #38555
I haven't analyzed it in depth, so I don't know if the lack of functioning of the customizer is a specification or a bug.

I will look into it again if I have time.

[2022-02-07 05:21] tellthemachines commented on #20741
Closing this as it has been fixed by #37637.

Note: if "contain text cursor inside block" is enabled, it still won't work, but that's tracked separately as part of #36710, as it requires finding an alternative to Arrow key navigation.

[2022-02-07 05:21] #20741 closed

[2022-02-07 06:29] #23560 closed

[2022-02-07 06:44] grappler commented on #38455
To be able to use the Full Site Editing template editor, you need to use a theme that support Full Site Editing. Here are a few free themes that support it: https://wordpress.org/themes/tags/full-site-editing/

[2022-02-07 07:04] annezazu commented on #30590
Seeing as the spacer block isn't included in blocks allowed for the navigation block after the ligher navigation work https://github.com/WordPress/gutenberg/issues/34041, does this issue still make sense to leave open?

[2022-02-07 07:12] annezazu commented on #30164
Looping back on old issues and returned to this one seeing the same behavior in 5.9 (just to get a current snapshot):

https://user-images.githubusercontent.com/26996883/152741063-8f7ce88e-1cf2-4bc9-ae6e-d37e390c3305.mov

I'd be curious to get more design thoughts on this as, to me, this is a pretty surprising thing to have happen. I can see this was originally implemented as a way to allow for an

[2022-02-07 07:15] annezazu commented on #30163
Just noting that 5.9 still has the same behavior:

https://user-images.githubusercontent.com/26996883/152741811-f0997046-2559-4c31-bdd3-4f269a681819.mov

[2022-02-07 07:16] talldan commented on #30590
It's a long story!

Spacer can still be added to the nav block, it has to be added via the Global Inserter like other non-link blocks. It can't be used in submenus anymore by the looks of it, but it can still be used at the root of the nav block in a vertical layout.

It looks like the issue is fixed though since #36340. So I'll close this.

It's worth mentioning that the row block still has the s

[2022-02-07 07:16] #30590 closed, assigned to nobody

[2022-02-07 07:17] annezazu commented on #30111
This continues to happen in 5.9 and the above PR has staled:

https://user-images.githubusercontent.com/26996883/152742033-b3427f6b-fc21-4454-bd98-339c0593c6d6.mov

Nudged on the PR in case it helps and adding to Nav block project board.

[2022-02-07 07:18] randhirexpresstech opened #38560 "Formatting/HTML code output issue with Post Excerpt "read more" link and next-previous post link block"
### Description

Post Excerpt "read more" link, next or previous post link formatting like bold, italic, new line or inline image are working fine in WordPress block editor but at front-end it display html code like  `<strong><em>Previous</em></strong>`
Please check [gutenberg-12.5.3 read-more link html output issue screen-cast](https://app.usebubbles.com/kvGKqKSQ5SYqGdaysuQXzz/gutenberg-12-5-3-re

[2022-02-07 07:19] talldan commented on #36197
I closed https://github.com/WordPress/gutenberg/issues/30590, which duplicated this issue.

The current situation seems to be that https://github.com/WordPress/gutenberg/pull/36340 fixed the spacer orientation in the navigation block.

The bug still exists for the Row variation of the Group block—the spacer is in the wrong orientation still. It can be used to make the row taller, but it won't spac

[2022-02-07 07:22] annezazu commented on #29395
Noting that this is still an issue as of 5.9.

[2022-02-07 07:35] talldan commented on #30164
Yeah, that seems bad, seems like a regression of https://github.com/WordPress/gutenberg/issues/18208.

[2022-02-07 07:37] annezazu commented on #24369
Since a lot has changed with the nav block and it's been a minute since this issue was updated, I wanted to note that the current experience in WordPress 5.9 and Gutenberg 12.5.3 auto-names menus when creating new ones and gives you the option to update the name under Advanced. However, currently the aria label remains the same regardless (just shows as menu).

[2022-02-07 07:38] gziolo commented on #25188
I had a pleasure to follow along a part of the stream and I fully agree with the list of improvements listed. Great work with both, @ryanwelcher 💯

I also see https://github.com/WordPress/gutenberg/pull/38535 now that introduces the `customScripts` property to allow templates to define additional scripts in `package.json`. I reviewed it and I think it's ready to go.

I completely forgot about PHP

[2022-02-07 07:42] annezazu commented on #34365
A lot has changed since this issue was opened! Here's the current state with WordPress 5.9 and Gutenberg 12.5.3 showing how the placeholder adjusts based on amount of space given to the block both in terms of the full block name and default options to choose from:
<img width="816" alt="Screen Shot 2022-02-06 at 11 39 25 PM" src="https://user-images.githubusercontent.com/26996883/152745318-00b461e2

[2022-02-07 07:42] #34365 closed, assigned to nobody

[2022-02-07 07:45] annezazu commented on #34275
Noting that text decoration has been removed from the navigation block and is not in 5.9 (was looping back on the state of things): https://github.com/WordPress/gutenberg/pull/37963 Going to leave this open until the above draft PR is merged/work continues to address this.

[2022-02-07 07:46] annezazu commented on #33962
This is still an issue as of 12.5.3 and WordPress 5.9.

[2022-02-07 08:02] annezazu commented on #34779
I'm going to close this out since there hasn't been follow up. I tried to replicate but the current nav screen with GB 12.5.3 and WordPress 5.9 isn't quite usable right now. Feel free to re-open if this needs to be re-addressed.

I think that is the gist fwiw :)

[2022-02-07 08:02] #34779 closed, assigned to nobody

[2022-02-07 08:11] annezazu commented on #35686
I'm going to close this out as I can't replicate with WordPress 5.9, TT2, and Gutenberg 12.5.3:

https://user-images.githubusercontent.com/26996883/152749019-88b41bb4-7163-449d-b455-77b2e82ff17a.mov

Thank you @bgoewert for jumping in with a PR above 🥳 If anyone else can replicate still, please just comment here and I'll re-open.

[2022-02-07 08:11] #35686 closed, assigned to nobody

[2022-02-07 08:12] carolinan commented on #24369
I do not see any aria-label on the `nav` element. When I select a named menu, I see the following:
`<nav class="wp-container-6200d3af748ba is-responsive items-justified-right wp-block-navigation">`
_Gutenberg trunk is active._

@annezazu can you help me locate where the aria-label you mentioned is? Did you mean the one on the button element?
"Open menu" ?

[2022-02-07 08:18] annezazu commented on #29158
From what I can see, this is no longer the case with the new preferences modal (tried with keyboard shortcuts and the welcome guide too):

<img width="1413" alt="Screen Shot 2022-02-07 at 12 17 09 AM" src="https://user-images.githubusercontent.com/26996883/152750172-437595b6-9a11-45ea-ae7a-12687ef5b213.png">

Going to close this out as a result!

[2022-02-07 08:18] #29158 closed

[2022-02-07 08:24] annezazu commented on #24369
Ah yes. Apologies :)

[2022-02-07 08:31] talldan commented on #38497
Was just testing how it works now, looks like the changes previously introduced in https://github.com/WordPress/gutenberg/pull/11286 are no longer present. Users can enter any value for an href and not know anything is wrong. I think there should at least be a warning shown for invalid hrefs, especially considering the code is already written and it just need to be reimplemented.

Having said that

[2022-02-07 08:32] atakanuludag commented on #28708
@gwwar  @Mamaduka  is there any progress?
because there are so many tags on my site. my browser crashes

[2022-02-07 08:42] jasmussen commented on #38556
Nice one! And CC: @ajlende who's also worked on it.

Some of the flow issues, popover closing, covering content, a few of the issues are tracked in https://github.com/WordPress/gutenberg/issues/31373. Another thought is to refactor the filter menu to:

* Only show presets in the block toolbar
* Have all other configuration happen in the inspector

Here's a mockup that shows that setup (and also im

[2022-02-07 08:46] carolinan commented on #35560
Is there any more information that you can provide about the environment, or a copy of the test themes?
Please understand that I am asking this, **not to invalidate what you are experiencing** but so that we can narrow down the causes.

I have added `templates/index.html ` to the following themes, and then opened the site editor from Appearance -> Editor
and I can't reproduce it. The site editor l

[2022-02-07 08:54] #37541 closed, assigned to jasmussen

[2022-02-07 08:55] draganescu commented on #38373
Random idea to check if the excerpt ends in an anchor. :)

[2022-02-07 09:02] Mamaduka commented on #28708
Hi, @atakanuludag

We did ship a few improvements in WP 5.9. I did my tests using few thousand, but it's not the same as the actual production site.

Are you running the latest WordPress or Gutenberg versions?

[2022-02-07 09:09] maddisondesigns opened #38562 "Clicking new template button crashes FSE"
### Description

Trying out the new site editor for the first time, using Twenty-Twenty Two. After clicking on the _Add New_ button to see what it does,  when browsing All Templates, the editor crashed.

![Gutenberg-fse-1](https://user-images.githubusercontent.com/2078245/152756235-c11fd71b-512c-45a0-a555-4eca7b5775b7.png)

Error:
[code]

### Step-by-step reproduction instructions

- Entered Site

[2022-02-07 09:16] atakanuludag commented on #28708
Hi @Mamaduka ,
Yes. I am using wp 5.9. This issue happens with WooCommerce tags. I can send a video about the issue ?

Example autocomplete service used in tags;
`/wp-admin/admin-ajax.php?action=ajax-tag-search&tax=product_tag&q=lg`

[2022-02-07 09:17] carolinan commented on #38560
If I disable Gutenberg, I can't reproduce it.
@getdave I believe it is caused by the escaping of the labels and text attributes respectively, as noted and already addressed for some of the blocks.
https://github.com/WordPress/gutenberg/pull/37876/files

[2022-02-07 09:18] atakanuludag commented on #28708
the problem is caused by (Response);
![image](https://user-images.githubusercontent.com/6053742/152759613-5d37411e-788b-4da5-9ffb-5f85fc92cb22.png)

[2022-02-07 09:23] janwidmer opened #38563 "getPostTypes() does not return Custom Post Types in withSelect anymore"
### Description

When building a custom gutenberg block with a Select dropdown to be able to select a post type, Custom Post Types are not Contained anymore.

My Site contains a custom post type `news_entry`.
 When using the REST API, I correctly get my custom post type back (See image)

When having the select dropdown in my custom block, I get all other wordpress related post types from the REST

[2022-02-07 09:26] Mamaduka commented on #28708
Thanks for the details, @atakanuludag.

This isn't an endpoint that Editor uses for searching tags. Instead, we use REST API for fetching and searching tags.

[code]

I would recommend reporting the issue on the [WooCommerce repo](https://github.com/woocommerce/woocommerce/).

[2022-02-07 09:29] atakanuludag commented on #28708
@Mamaduka thanks. best regards 👍

[2022-02-07 09:30] carolinan commented on #38551
Hi!
I am closing this as a duplicate of https://github.com/WordPress/gutenberg/issues/32644

[2022-02-07 09:30] #38551 closed, assigned to nobody

[2022-02-07 09:43] carolinan commented on #32644
I am not sure how this would affect the blockgap?

[2022-02-07 09:55] getdave commented on #38560
I'm very hopeful that this has been resolved in

https://github.com/WordPress/gutenberg/pull/38519
https://github.com/WordPress/gutenberg/pull/38517

Gutenberg 12.5.3 should have those fixes. Please feel free to reopen if this does not resolve the Issue.

[2022-02-07 09:58] getdave commented on #38515
Ok let me fix this. I'll do a full audit of all those escaping PRs now as well.

[2022-02-07 10:16] getdave opened #38568 "Audit block escaping issues"
The following PRs introduces regressions in output of markup on the front of the site. This was due to overzealous escaping of Core functions which in hindsight was not a good idea. I apologise for this.

This Issue tracks an audit of each PR. Any escaping of core functions will be revert in [#38569](https://github.com/WordPress/gutenberg/pull/38569) unless otherwise noted:

- [x]  https://github.

[2022-02-07 10:31] Mamaduka commented on #38563
Hi, @janwidmer

Have you tried setting `per_page: -1`? See https://github.com/WordPress/gutenberg/issues/15413#issuecomment-581046829.

[2022-02-07 10:38] carolinan commented on #38560
The escaping is still present in https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/post-excerpt/index.php#L27

[2022-02-07 10:40] janwidmer commented on #38563
Hi @Mamaduka ,
Thanks for the quick reaction. Perfect, with adding that, it works as it should. I guess, with Wordpress 5.9, more Wordpress default Post Types came to the result, therefore I made it over the limit of those 10 without knowing this limit..

[2022-02-07 10:40] #38563 closed, assigned to nobody

[2022-02-07 10:47] wpbk opened #38572 "ID attribute on paragraph after changing from headline"
### Description

When changing a headline to a paragraph the autogenerated ID attribute is preserved.
As the ID name is equal to the content, in case of long paragraphs end up having a very long ID. (which probably shouldn't be there in the first place)

### Step-by-step reproduction instructions

1. Add a headline
2. Save
3. Change to paragraph

### Screenshots, screen recording, code snippet

_N

[2022-02-07 10:51] land0r commented on #8379
Why is it a closed issue? We still needed such functionality

[2022-02-07 10:59] #30769 closed, assigned to ntsekouras

[2022-02-07 11:01] geriux commented on #38525
It does, thank you for the mockup!

That's correct, users won't be able to edit/customize them within the mobile editor.

Thanks again Thomas!

[2022-02-07 11:04] getdave commented on #38560
Ok [this PR updates the Post Exceprt block](https://github.com/WordPress/gutenberg/pull/38569/commits/2d273e226a1d47afbee17808fb25027d61eb5e1f) and now allows for rich text but still retains escaping of the attribute which is supplied by the user.

[2022-02-07 11:04] carolinan opened #38573 "Block reference: Feedback/feature requests"
## What problem does this address?

During a contributor day on Friday, I took notes of the following feedback about the core block reference at  https://developer.wordpress.org/block-editor/reference-guides/core-blocks/

- [ ] The block reference needs to include information about when it was last updated.
- [ ] - It is missing information about variations (For example, the query title does not m

[2022-02-07 11:06] carolinan commented on #38573
Ah one more: It is confusing that this is called core block reference, when it is lists blocks that are in Gutenberg but not core.

[2022-02-07 11:10] jameskoster commented on #31591
Yes that would seem like a good interim step – connect the category management screen with the site editor. But ideally it should be possible to access a category (or any archive for that matter) from within the site editor. Both of these things feel like separate issues to me, since this one focusses on templates applied to _single entries_ in the _post editor_.

Edit: I just remembered that I op

[2022-02-07 11:19] jameskoster commented on #35504
Perhaps we no longer need the wp-admin version of category editing at all (Edit: when a block theme is active. Obviously we need it for classic themes).

<img width="953" alt="Screenshot 2022-02-07 at 11 15 17" src="https://user-images.githubusercontent.com/846565/152778075-0f95d10d-720a-483f-ab86-ff558aa8d18f.png">

Instead, clicking the category in the table above could just take you directly to

[2022-02-07 11:54] paaljoachim commented on #38556
Hey Joen @jasmussen

Let's see if I got it correctly. Presets open in the toolbar, and if one decides to create a custom duotone filter one clicks the arrow icon all the way to the right (seen in the image you shared) to open the custom options. I assume that one would then click the no filter to also turn off the custom filter. Creating a custom filter would this automatically be added to the pre

[2022-02-07 11:57] jasmussen commented on #38556
I imagine you can just click this button to unset any filter applied to a block:

<img width="73" alt="Screenshot 2022-02-07 at 12 55 06" src="https://user-images.githubusercontent.com/1204802/152783635-0a8b707c-2809-4a2c-9357-7199fd5caa07.png">

The down-chevron dropdown I imagine lets you choose between default duotones and those provided by the theme.

The inspector would surface options for cu

[2022-02-07 12:05] Humanify-nl opened #38574 "Blog page title block displays first post title in query"
### Description

When rendering the page, the title of the first post in the query loop is displayed as page title. Instead of the title of the page.

After that, I've tried to add Archive Title block instead, but this doesn't render anything at all.

Is this intended behavior? How do we add a title for the blog page? All I can think of right now is a static heading in the template.

### Step-by-s

[2022-02-07 12:21] Mamaduka commented on #38562
Thanks for reporting the issue, @maddisondesigns.

I followed the steps but couldn't reproduce the error. I was testing using Chrome and Firefox on macOS.

Can you enable script debugging by placing this constant in the `wp-config.php` file?

[code]

It should give us a better error stack trace.

[2022-02-07 12:27] voboghure-dev commented on #38554
Absolutely right. While using full-screen mode, it's UX issues to create a new post/page. Also, the duplicate feature is very useful. If it's in the core then I would not install an extra plugin. 👍

[2022-02-07 12:35] paaljoachim opened #38575 "Animated backend site logo. (instead of the W logo seen one can see the site logo.)"
### Description

Hovering over the backend Site logo (when the W is not in use) I have noticed it becomes animated.
Like so:
![Site-logo-backend-animated](https://user-images.githubusercontent.com/5323259/152787487-d43647ad-fd1a-4d18-b5d9-284f41ea3b8a.gif)

It would be very helpful if the site logo automatically fills out the square it is in and does not animate.
The animation is kinda disturbing.

[2022-02-07 12:35] schutzsmith commented on #38554
Agreed that this would be useful! It's been an issue since the Block Editor was adopted and a gripe from my users across multiple companies/organizations.

To make matters worse, almost every site I've built has pages and posts using the Block Editor while custom post types user the classic editor with custom fields for more specific database type of information. So this means the user still sees

[2022-02-07 12:46] Humanify-nl opened #38576 "Templates"
## What problem does this address?

The current way block themes handle templates files is confusing and frustrating to work with as a site developer (who teams with a designer and builds for clients).

I'm sure it has to do with my understanding of how the block editor works with templates.

Yet, I'd like to point out that the documentation is not sufficiently addressing this topic. There seems t

[2022-02-07 12:59] jasmussen opened #38577 "Add patterns as an overlay option in addition to colors and gradients"
The Cover block lets you choose between color and gradient for the overlay:

<img width="1364" alt="Colors" src="https://user-images.githubusercontent.com/1204802/152791913-e54e7297-3d55-4ece-88c2-82c01e01d950.png">

Extending that to allow the use of a pattern can potentially open up some stylish expressions, perhaps especially when applied to video. Shown here, a pixel grid overlay:

<div align=

[2022-02-07 13:22] paaljoachim opened #38578 "Making inner blocks easier to locate."
## What problem does this address?

I added the Query Loop and tried to figure out why the page did not automatically show a next page (1,2,3 etc) on the bottom of the posts that were being previewed.

I was told that I had to add the Pagination Inner block. Inspired by my comment here: https://github.com/WordPress/gutenberg/pull/35347#issuecomment-1031400593

Adding an inner block. In this case P

[2022-02-07 13:23] jakerambo commented on #35560
@carolinan  From a fresh 5.9 install with no plugins.

Twenty Nineteen - add `templates/index.html` > add `front-page.php` > go to editor from admin menu `/wp-admin/site-editor.php`.  = blank white page (js error)

Twenty Twenty - add `index.html` to existing templates folder > add `front-page.php` > go to editor from admin menu `/wp-admin/site-editor.php`.  = blank white page (js error)

Twenty T

[2022-02-07 13:42] NidhiDhandhukiya opened #38579 "Columns block padding is not blanked after added once"
### Description

In the theme twenty-twenty-two once you add padding to any column then after if you update that padding field blank then it should be not updated as blank.
similarly, we have width option in the column if we add particular width to the column and then if we don't want that width and make that field empty then that should be possible to make changes in that.
(so the issue is we can

[2022-02-07 13:48] MethylBromide commented on #30142
Non-developers -- who are in excess of 90% of people managing WordPress websites -- absolutely need some way to enter CSS rules to tweak the appearance of their site. They will not create a child theme; it's beyond them. They shouldn't have to install a special plugin. This is core functionality that's needed in 100% of sites that aren't custom-developed by a developer, which is to say, 99%+ of si

[2022-02-07 13:54] StelaStoykova opened #38580 "When appling theme.json, the option wide/full widths dissapears, on TOP LEVEL blocks"
### Description

I am trying theme.json on my website ( running  WP 5.9. ) When I apply it to the theme, the option to set wide/full width on the top level blocks disappears.

I am using the WordPress block editor without the Gutenberg plugin.

I have tested with default theme - Twenty Twenty-One and the same thing happened.

This is the theme.json file content I am testing:

` {
	"version": 2,
	"

[2022-02-07 13:58] paaljoachim commented on #37532
Thank you for opening the issue Tammie!

I would prefer not to see Imgur every time I write /img as Imgur is not a service I plan on using or have heard of. Having a way to make less used embeds just a little more hidden would be helpful. This could for instance mean that writing / Img only Image will show up but writing Imgu will show Imgur embed service.

Here is an associated issue:
Show insert

[2022-02-07 14:26] github-actions[bot] opened #38583 "[Flaky Test] Should have three variations available with the first one being active"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
Should have three variations available with the first one being active

## Test path
`specs/site-editor/style-variations.test.js`

## Flaky rate (_estimated_)
`8 / 9` runs

## Errors

<details>
<summary>
	<time datetime="2022-02-07T14:26:53.959Z"><code>[2022-02-07T14:26:53.9

[2022-02-07 14:33] justintadlock commented on #36122
Yep, I ended up having to basically create a whole set of drop-cap properties so that I could overwrite this in upcoming global styles variation `.json` files:

[code]

[2022-02-07 14:36] gziolo commented on #38526
I opened #38584 that should address it.

[2022-02-07 15:11] timsinc commented on #32644
I believe a negative margin value would affect the blockgap just like a positive margin does and override the blockgap css for that particular block.

[2022-02-07 15:14] kjellr opened #38586 "Consider enforcing iFrame max width of 100% on the front-end for block themes"
In the editor, iframes max out at 100% of their parents' width, thanks to this rule:

https://github.com/WordPress/gutenberg/blob/21dfe879f8193c747c4cc05cb79143fa90d74db2/packages/edit-post/src/style.scss#L99-L101

This rule isn't present in the front-end though, which means that iframe can extend beyond their container.

Here's an example using an iframe embed and Twenty Twenty-Two. (Yes, the iss

[2022-02-07 15:21] markcummins commented on #38526
Perfect, thank you for working on this.

[2022-02-07 15:34] gingerling commented on #38347
Hi, so I activated the Guttenberg plugin (was deactivated) and updated to Version 12.5.3 and have checked, this issue is still present for me.

[2022-02-07 15:37] gingerling commented on #38347
No, wait suddenly started working!! Okay, so anyone with this bug, you need to install the Guttenberg plugin (this is as well as having guttenberg block editor enabled in general, it's more up to date). Then make sure that plugin dosen't need any updates. It should now work!

[2022-02-07 15:49] ntsekouras commented on #38347
I'm going to close this one then. Thanks again for reporting this @gingerling!

[2022-02-07 15:49] #38347 closed, assigned to nobody

[2022-02-07 15:53] jorgefilipecosta commented on #34487
Should we implement this feature now (with a check and if not supported we don't render anything)? Or it is something for the future when browser support increases?

[2022-02-07 15:54] aurooba opened #38588 "Installing Blocks from the Block Library doesn't always work 5.9"
### Description

Hallo! It looks like installing blocks from the Block Library search no longer works in cases that used to work before. But it _does_ work for some blocks. I haven't yet been able to figure out (more research required) what criteria is causing some blocks to fail.

I'm seeing two issues:

1. Blocks that previously installed without any issues in 5.8.x now show an error registering

[2022-02-07 16:00] KevinBatdorf commented on #38588
This is related to https://github.com/WordPress/gutenberg/issues/38494

I got the Wavy Divider block to work by [merging in the block.json file](https://github.com/KevinBatdorf/wavy-divider/blob/main/src/index.js#L8).

[2022-02-07 16:05] aurooba commented on #38494
Ooh! This is interesting! Thanks for flagging this @KevinBatdorf! In the case of the [Super List Block](https://wordpress.org/plugins/superlist-block/), which also has this error when installing, I can confirm I have the title in the index.js file as well, but I don't have the default attributes. I'll test the attributes part a bit later today, because that's pretty much what I'm seeing – default

[2022-02-07 16:08] richtabor commented on #38588
Yea, we figured out that the block requires the `title` within registerBlockType function, in order to work right off. I need to update a couple of the other blocks to do this — but I wasn't expected it would be needed.

[2022-02-07 16:17] aurooba commented on #38494
Update! I _just_ tested importing the attributes into the function from block.json, and that 100% fixed the problem.

My approach:

[code]

and then

[code]

But, ideally, you shouldn't have to do that. :)

[2022-02-07 16:18] aurooba commented on #38588
@richtabor I already had the title in `registerBlockType`, so it's not just the title. Looks like attributes with default values need to be included too.

I did however just test the attributes issue in #38494 and it 100% fixed the problem for Super List. My approach: https://github.com/WordPress/gutenberg/issues/38494#issuecomment-1031651337

[2022-02-07 16:41] aurooba commented on #38578
This is a great idea, @paaljoachim! In the Super List Block, I did this thing where I made the inserter for the inner blocks far more visible and appear with higher visual priority than the inserter for the overall document – it's more of a visual fix than anything, but it's super helpful:
<img width="758" alt="Screen Shot 2022-02-07 at 9 40 35 AM" src="https://user-images.githubusercontent.com/69

[2022-02-07 16:52] heathergray commented on #38554
@schutzsmith If you want to use the block editor with CPTs you need to set 'show_in_rest' => true, or set "Show in REST API" to "True" in the plugin. I just discovered that recently.

[2022-02-07 16:58] gziolo commented on #25188
@cr0ybot, thank you for sharing your approach. `./` should be filtered out on the server. It also causes issues with i18n as documented in https://core.trac.wordpress.org/ticket/54797. It's something that needs to be fixed as soon as possible.

[2022-02-07 17:03] webmandesign commented on #38252
Hi @annezazu,

Thank you for [your feedback](#issuecomment-1029292687). My apologies as I presumed the changes mentioned in the article are related to themes that contain `theme.json` file, which none of my themes contains. So I really must have read that article too fast and must have missed the `!important` in the global stylesheet code example or I've ignored it as it was not mentioned in the a

[2022-02-07 17:16] ntsekouras commented on #37532
👋 This is expected. The thing is that we use a generic algorithm for `ranking` them [here](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-editor/src/components/inserter/search-items.js#L142) and IMO this works well. It prioritizes the results based on the searched term and if we would sort them alphabetically, the results would be less relevant.

The above case happens because th

[2022-02-07 17:27] courtneyr-dev commented on #38575
Tested in 6 alpha and Gutenberg 12.6.20220207. Animation remains the same. I'm not a fan of this animation. I wonder if there are accessibility implications. Is the goal of animation to show on:hover? If so, what else could achieve that effect more subtly?

[2022-02-07 17:50] ostinatofreak opened #38592 "Floating toolbar should be in left white space margin"
In the block editor, the floating horizontal toolbar is constantly covering up what I most recently wrote, which is annoying beyond words.  Achieving "flow" in writing involves constantly re-reading what you just wrote.  This means I'm constantly having to click on the previous paragraph in order to read it.

The floating toolbar should be placed in the left margin (currently unused white space) o

[2022-02-07 18:08] ostinatofreak opened #38593 "Word count and estimated time to read"
Sometimes I want to know how long my blog post really is, and I end up copying and pasting the text into Microsoft Word so that I can see word count.

Right now in Wordpress's right-hand column, under the Post tab, to the right of "Author" and "Move to trash" is unused space where Word Count could be added without any down side.  AND/OR in the same place, have an "estimated minutes to read" featur

[2022-02-07 18:28] webprom commented on #38252
The change by latest WP 5.9  of the default stylesheet is very bad, no doubt. I liked WP for back versions compatibility.

This is how I override new presets for my own styles:
`/* my theme */
h3, .has-large-font-size {
  font-size: 23px;
  --wp--preset--font-size--large: 23px;
}

/* default wp css */
.has-large-font-size {
  font-size: var(--wp--preset--font-size--large) !important;`

Works even

[2022-02-07 19:01] github-actions[bot] opened #38594 "[Flaky Test] should delete template if deletion is confirmed when the viewport is large"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should delete template if deletion is confirmed when the viewport is large

## Test path
`/test/e2e/specs/editor/various/post-editor-template-mode.spec.js`

## Errors

<time datetime="2022-02-07T19:01:40.885Z"><code>[2022-02-07T19:01:40.885Z]</code></time> Test passed after

[2022-02-07 19:01] github-actions[bot] opened #38595 "[Flaky Test] should retain template if deletion is canceled when the viewport is large"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should retain template if deletion is canceled when the viewport is large

## Test path
`/test/e2e/specs/editor/various/post-editor-template-mode.spec.js`

## Errors

<time datetime="2022-02-07T19:01:41.712Z"><code>[2022-02-07T19:01:41.712Z]</code></time> Test passed after 1

[2022-02-07 19:07] paaljoachim commented on #38219
I too expected to be able to turn off a size go to back to default by clicking the selected state to deselect it, but that does not work. We might meet the same issue again for other controls so hopefully a work around for it can be created that can down the road can be brought onward. I have thought of having a reset button to the left of the Size toggle but it quickly becomes too crowded.

[2022-02-07 19:47] annezazu commented on #38252
@webmandesign hey! Thanks for the additional thoughts. Going to quickly try to share some ones in return as it was quite helpful to read through.

This all tells me that a developer focused communication site could really benefit from posts that _apply_ Dev Note information and clarify how it might impact you rather than just stating concisely what's changed, how to adapt, etc. I think the concise

[2022-02-07 20:21] annezazu commented on #38562
I'm not able to reproduce this either as quick note.

[2022-02-07 20:32] ciampo commented on #34487
Personally, I think this would a nice-to-have feature with (at the moment) a low priority. We could probably use our resources for higher-priority issue and come back to this once browser support looks a bit better.

[2022-02-07 20:46] bph commented on #38593
@ostinatofreak There is a word count in the block editor. It's not easy to discover, if you don't know it's there.

On top of the editor,  there is a little `i` in a circle that gives you some stats about your current post, including word count.
![Screen Shot 2022-02-07 at 15 34 30](https://user-images.githubusercontent.com/39980/152867680-7282ae38-aad7-447b-a3f3-4057d79ad764.png)

Would that suff

[2022-02-07 20:52] bph commented on #38592
Hi @ostinatofreak again :-)
You can use the "TopToolbar" switch to pin the block toolbar to the top.
Go to the 3-dot menu on the top right and click on "Top Toolbar"
Here is a short video that demos how it works:

https://user-images.githubusercontent.com/39980/152870000-6c369f23-da9f-43e0-a395-85fd7dfdab76.mp4

[2022-02-07 20:56] bph commented on #38588
@aurooba @richtabor does this seem to be a documentation issue?
Maybe @ryelle can help?

[2022-02-07 21:01] bph commented on #38588
I can definitely reproduce with certain blocks
Error message
![Screen Shot 2022-02-07 at 16 00 28](https://user-images.githubusercontent.com/39980/152871186-7973e601-22dd-4b79-8312-e93c3688cc5b.png)

[2022-02-07 21:05] ryelle commented on #38494
This is a duplicate of #38245 - as mentioned, the workaround is to set a title in `registerBlockType`, or load in the metadata from `block.json`.

Personally, I use a method like this:

[code]

https://github.com/ryelle/grainy-gradients/blob/028cb7d49d8b4050746385f3c8a5c17b156322cc/src/index.js#L15-L20

[2022-02-07 21:08] #38494 closed, assigned to nobody

[2022-02-07 21:09] ryelle commented on #38588
@bph Thanks for tagging me in. This might be a documentation issue regarding requirements for the wp.org block directory, but I'm not totally sure I understand the issue. It's different from the `title` issue in #38245?

@aurooba, can you explain the attributes issue a little more?

[2022-02-07 21:10] aurooba commented on #38494
It's not just title related though. Blocks fail to load if they have default attributes that are not then added into block.json (more info in #38588). The `...settings` approach definitely fixes that though. :)

[2022-02-07 21:12] aurooba commented on #38588
@ryelle

So in the case of the Super List Block, there is an attribute called `listStyle` which has the default value of `ul` defined in `block.json`. This default value is needed when you first initialize the block (since it's set as a default, the block assumes there's always a value). But because `block.json` doesn't seem to dynamically load, the default value isn't there. This leads to the blo

[2022-02-07 21:12] ryelle commented on #38494
So, is this issue different than both #38588 & #38245, or do both of those cover it?

[2022-02-07 21:14] aurooba commented on #38494
#38588 covers it! :) Thanks @ryelle (I saw your comment over there after, my bad!)

[2022-02-07 21:18] bph commented on #38588
The [documentation for the Block Meta data](https://developer.wordpress.org/block-editor/reference-guides/block-api/block-metadata/) and it shows Name as well as Title as required keys.
I look at tabor/todo-list and it doesn't have a title.  So, it seem that error message is not accurate...

I then your plugin @richtabor through the **Block Plugin Checker** and it displayed the following error mes

[2022-02-07 21:20] ryelle commented on #38588
I see, okay. So this is more-or-less the same root issue as #38245, which is that on a normal page load where the plugin is already active, the block.json is preloaded through some server-side code, and that populates all this info - the title, attributes, etc. When a block is loaded from the block directory, we don't have that server side info, which causes the issue you're having.

There's a sug

[2022-02-07 21:20] bph commented on #38588
Thanks @ryelle for jumping in here :-)

[2022-02-07 21:25] bph commented on #38588
This seems to be a duplicate issue then @ryelle @aurooba and we can close it?

[2022-02-07 21:54] QROkes opened #38599 "[Navigation block] Submenu items in mobile menu collapsed by default"
## What problem does this address?
Submenus are all expanded when mobile menu is open, which can cause a mess when you have several submenu items.

## What is your proposed solution?
An option to select the default submenu behavior in mobile menu.

[2022-02-07 22:05] aurooba commented on #38588
Yes, let's go ahead and close it and I'll jump into the conversation in #38245. Thanks @bph!

[2022-02-07 22:05] #38588 closed, assigned to nobody

[2022-02-07 22:08] aurooba commented on #38245
@gziolo would that also load the attributes from `block.json`? Because in the case of #38588, the title wasn't the issue but the existence of default values for certain attributes. So if we can load both the name and attributes from `block.json` that would be lovely.

[2022-02-07 22:14] carlomanf commented on #38575
Is this the site logo or the site icon? If logo, then it might explain why I was having trouble over at #38555.

[2022-02-07 22:24] paaljoachim commented on #38575
Hey @carlomanf Actually I am not sure if it is the site logo or the site icon.... I tried adding a site logo and then a site icon to another test site and was not able to get it to show instead of the W.

[2022-02-07 22:52] ostinatofreak commented on #38593
Oh, I didn't know about that, thanks!  I even tried to be diligent and did a DDG search on "Wordpress word count" and didn't find anything.  But yeah, the "minutes to read" thing would be really cool.  I suppose the most logical place for it to go would be to the right of Words (word count), which would more logically put "Headings, Paragraphs and Blocks" all on one line.  But it might still be wo

[2022-02-07 23:21] ostinatofreak commented on #38592
OK, that's helpful, thanks.  I do think though that it would be worth looking into giving users the option to do a vertical (white space) toolbar vs. a horizontal one that covers up text.  It's nice having the options close to where the mouse pointer already is.  But of course this would be a "luxury" low-priority feature request.  :)  Thanks again for your help.

[2022-02-07 23:26] #24595 closed

[2022-02-07 23:29] Clorith commented on #38219
For reference, in 5.8, the size toggle was a select box, with the first entry being `Default`.

[2022-02-07 23:30] coreyworrell commented on #13811
@youknowriad how about PHP support for `__experimentalSkipSerialization`? If you have that applied to a block `color` support, how could you apply the classes in the `render_callback` function? Seems you would still need to build them as in my example above.

[2022-02-08 00:23] chthonic-ds commented on #38576
You should see a blue dot appended to a template icon if the template has been edited/saved in the database. For example, the first two templates in this image are no longer synced to the theme template:

![image](https://user-images.githubusercontent.com/29587253/152892692-4d7ec4b1-4517-4a5c-b2a8-e52e25c623e6.png)

I really like this idea, if possible, and it would help remove the pain point that

[2022-02-08 00:51] johnstonphilip commented on #38252
@annezazu While a developer focused communication site might be beneficial, what is more important is that backwards compatibility should never ever, ever, ever, ever, be broken. If backwards compatibility is broken (like it was here), the best communications site in the world could not prevent the fallout of trust in WordPress.

[2022-02-08 01:09] sabernhardt commented on #30579
There's a [Trac ticket for the admin toolbar link](https://core.trac.wordpress.org/ticket/53948) when not in Fullscreen mode. Either the link would need to show when the page loads, or I would need help showing the link after publish/save (removing the `hidden` class).

[2022-02-08 01:51] courtneyr-dev commented on #38575
These are site icons, set in Customizer before switching to a block theme. However the animation is still there. Changing Site Logo didn't change my site icon.

[2022-02-08 01:52] daviedR opened #38601 "Using locally scoped CSS custom properties on generated color CSS classes"
## What problem does this address?

Gutenberg will add a combination of 2 CSS classes to the block's markup whenever user set the block color settings:

Setting the background color to `red` will add these CSS classes: `has-background` and `has-red-background-color`.
Setting the text color to `blue` will add these CSS classes: `has-text-color` and `has-blue-color`.

The current generated CSS imple

[2022-02-08 01:54] daviedR commented on #32644
+1

Negative margin is essential for design and layout building

[2022-02-08 01:58] tellthemachines commented on #24369
We could add an aria-label with the menu name. While it's possible that there is more than one instance of the same menu on a page, and so both menus will end up with the same aria-label, given that both menus will be identical in content, the repeated aria-label would indicate that. Does that make sense?

[2022-02-08 02:12] courtneyr-dev commented on #36977
The other part of this is still when we add a submenu item and begin typing, the text goes before the parent item, not jumping the cursor to the submenu item. When I add the submenu item, I expect the cursor to go to that item. When I begin typing, I expect this to be in the submenu item.

https://user-images.githubusercontent.com/5519705/152904521-c3b3de34-97e0-4e7d-abcc-98729a444262.mp4

Running

[2022-02-08 02:46] costdev commented on #38557
I can reproduce the behaviour.

**Zoom**
- Post Editor: The image does not spread outside of the container as you zoom.
- Site Editor: The image container doesn't seem to be clipped via `overflow: hidden` (or similar), so the image spreads outside of the container as you zoom.
- Both Editors: Moving the zoom slider to max, clicking _Apply_, moving the zoom slider to max again and clicking _Apply_

[2022-02-08 02:52] ramonjd commented on #38222
I think the merged PR https://github.com/WordPress/gutenberg/pull/38100 might close this one too? Reported previously in https://github.com/WordPress/gutenberg/issues/24595

[2022-02-08 02:56] maddisondesigns commented on #38562
@Mamaduka I've turned on `SCRIPT_DEBUG` and will post back here if it happens again.

[2022-02-08 03:22] michalczaplinski commented on #38080
Strangely enough the same issue was mentioned by @andrewserong in https://github.com/WordPress/gutenberg/pull/38263#pullrequestreview-868581596

Seems like the problem of having duplicate sidebar controls also came up before in Post Template block https://github.com/WordPress/gutenberg/pull/37519#issuecomment-1000013791

[2022-02-08 03:30] annezazu commented on #38222
Sadly, no. I just tested with 5.9 and GB 12.5.3. Still no warning 😢

[2022-02-08 03:33] talldan commented on #30655
An update to this, I managed to get this working some time ago. The issue seems to be that wp-env doesn't generate a wp-config.php file for local versions of WordPress. I believe it needs to create its own wp-config that has the `getenv_docker` function.

My workaround was to copy the correct wp-config. I did so by first starting up wp-env in its default configuration. It'll fetch WordPress from t

[2022-02-08 03:39] t-hamano commented on #38575
I don't know which version of gutenberg is implemented, but I was able to reflect the site logo and site icon on the block editor by following the steps below.

- Activate the latest version of the gutenberg plugin.
- Insert the site logo block and set an image.
- Enable "Use as site icon" in the block options.

![capture](https://user-images.githubusercontent.com/54422211/152913039-0ec438ca-1170-

[2022-02-08 03:50] carlomanf commented on #38575
@paaljoachim Was the gutenberg plugin activated or deactivated?

[2022-02-08 03:56] glendaviesnz commented on #38544
Thanks for reporting. I was able to replicate this on the latest GB trunk.

[2022-02-08 04:17] aaronrobertshaw opened #38602 "ColorPalette: Refine UI for custom color swatch and ColorPicker popover"
## What problem does this address?

While using the `ColorPalette` component to build new controls a couple of possible improvements to the `ColorPalette` UI were [suggested](https://github.com/WordPress/gutenberg/pull/37769#pullrequestreview-872997703).

These were:

and

<img width="367" alt="Screen Shot 2022-02-08 at 2 13 53 pm" src="https://user-images.githubusercontent.com/60436221/152917006-

[2022-02-08 04:34] Mamaduka commented on #38562
Thank you, @maddisondesigns.

[2022-02-08 04:37] joemaller commented on #35560
@carolinan Here are my steps to recreate the issue from a clean install:

Environment is the official [`wordpress:5.9.0-php8.0-apache`](https://hub.docker.com/_/wordpress) Docker image with the example docker-compose.yml file from the Readme. All files are added on the image using the exec shell.

For a clean start, be sure to remove the docker volumes between runs, or just delete them from the do

[2022-02-08 04:49] EldarAgalarov opened #38603 "Unmerged tags on pasting from LibreOffice Writer"
### Description

When I paste formatted text from LibreOffice Writer into Gutenberg Editor and then save page and look at HTML code then i see unmerged tags. For example if sentence marked as bold its HTML markup should looks following:
`<strong>Hello World!</strong>`
But instead it looks following:
`<strong>H</strong><strong>ello</strong> <strong>World!</strong>`
It can be random but issue is com

[2022-02-08 05:06] aaronrobertshaw commented on #35541
With the color panel [switching to using the `ToolsPanel`](https://github.com/WordPress/gutenberg/pull/34027) and the grouped `InspectorControls` slot, the order of the block support panels now match the order outlined in this issue. I'll close this as a result.

[2022-02-08 05:06] #35541 closed, assigned to aaronrobertshaw

[2022-02-08 05:16] ramonjd commented on #38222
Ah okay, the PR was merged today so it should be available on the next Gutenberg release.

[2022-02-08 06:18] lipu0324 opened #38606 "Report on the problem of server jamming caused by using Gutenberg editor"
### Description

When I use Gutenberg editor, creating a new article will directly lead to the full speed of the server processor and the full load of the server. At the same time, I can't save and publish the article.This problem will not occur after switching to the classic editor.

### Step-by-step reproduction instructions

1.Switch to Gutenberg editor
2.Open the new article or edit article in

[2022-02-08 06:33] kajalmultidots commented on #38473
Hello @skorasaurus

Yes, it is working properly in Gutenberg Plugin. In that, the whole design is changed which is very good.
Thanks

[2022-02-08 06:41] alexstine commented on #24556
Hmm, I need to get back to this one. I went off on a tangent trying to fix a much bigger issue and never landed the change. I'll circle back here after I get some free time, hopefully soon.

[2022-02-08 07:30] kajalmultidots opened #38608 "Group Block Alignment"
### Description

When we select the group and choose the background colour for it then the block alignment changed into left alignment by default, which is not right. It should be stay as a Center alignment.

### Step-by-step reproduction instructions

Go to Group Block
Add some block as a Group
try to choose the background colour
for more information I have attached the video here

### Screenshot

[2022-02-08 07:47] jasmussen commented on #38578
Innerblocks can use a lot of love, for sure! I would love to see explorations that do not add any additional user interface to the canvas itself, or any of the block UI, we already have multiple ways to do that:

- Select a block and press Enter to create another blow
- Slash command in empty paragraph
- Sibling inserter
- Block's more menu, insert before/after

The top left inserter also still wo

[2022-02-08 07:48] jasmussen commented on #37388
With #37940 and #37941 merged, I wonder if this one can't be closed as fixed?

[2022-02-08 07:51] gziolo commented on #38245
Yes. The endpoint that Block Directory uses should return most of the metadata exposed by blocks.

[2022-02-08 08:03] youknowriad commented on #13811
@coreymckrill yes, that's exactly the intent of `__experimentalSkipSerialization`. It means just store the value of the attribute but don't use it or inject any style automatically, I (block author) will be taking care of that manually.

[2022-02-08 08:19] #38526 closed, assigned to gziolo

[2022-02-08 08:19] gziolo commented on #38526
It should be published to npm on Thursday at the latest.

[2022-02-08 08:44] talldan commented on #36667
It'd be good to see some design options for adding a page. I'm not sure the flow that's usually used in the block for this would be quite as successful in List View (Add a link, then use the URLControl to search for a page).

We could try a custom block appender in List View. There is (or was) already some support for appenders in List View, it was an experiment in the navigation editor.

The tric

[2022-02-08 08:46] coreyworrell commented on #13811
@youknowriad right I understand that. But it would be helpful to have the PHP equivalent of `__experimentalUseColorProps()`, `__experimentalGetColorClassesAndStyles()`, and the other like functions.

[2022-02-08 08:47] jasmussen commented on #38586
Nice one! My first instinct was:

* Wow, the iframe works in the code block, should it? Seems like "Custom HTML" would be a better choice for it.
* Whether in Custom HTML or technically the code block, it seems like we should let as little CSS bleed in as possible, i.e. we shouldn't be adding the iframe rule.

So in the end, that feels like the task to solve: the inconsistency between editor and f

[2022-02-08 08:55] jasmussen commented on #38586
#38614 fixes it, but needs good testing so we don't repeat the need to revert again.

[2022-02-08 08:59] paaljoachim commented on #38575
Retesting.
WP 5.9
Twenty Twenty-One
Gutenberg plugin not activated.
Readded a site icon.

Switched to Twenty Twenty Two site editing theme.
Went to a page and post and did not see the site icon but noticed the W logo.

Activated the Gutenberg plugin. 12.5.3.
This time the site icon showed up.

The site icon should show up but it should not be animated.

-------

Adding a site icon when FSE theme i

[2022-02-08 09:27] getdave opened #38617 "Cursor not automatically inside submenu upon creation from parent Nav item"
The other part of this is still when we add a submenu item and begin typing, the text goes before the parent item, not jumping the cursor to the submenu item. When I add the submenu item, I expect the cursor to go to that item. When I begin typing, I expect this to be in the submenu item.

https://user-images.githubusercontent.com/5519705/152904521-c3b3de34-97e0-4e7d-abcc-98729a444262.mp4

Running

[2022-02-08 09:28] getdave commented on #38617
FYI @tellthemachines

[2022-02-08 09:29] getdave commented on #36977
@courtneyr-dev I've tracked this in a new Issue https://github.com/WordPress/gutenberg/issues/38617

[2022-02-08 09:33] getdave commented on #38568
All of the above blocks whose escaping logic was originally modified have been audited and fixes have been merged in https://github.com/WordPress/gutenberg/pull/38569.

Essentially the issue was that the original PRs were overzealous in escaping the output of Core functions, many of which could be filtered.

**Takeaway**: do not blanket escape output of Core functions if they are outputted as HTML

[2022-02-08 09:33] #38568 closed, assigned to getdave

[2022-02-08 09:36] carlomanf commented on #38555
[Confirmed to work](https://github.com/WordPress/gutenberg/issues/38575#issuecomment-1032366385) with the gutenberg plugin active, but not when inactive.

[2022-02-08 09:47] #38374 closed, assigned to Mamaduka

[2022-02-08 09:57] Humanify-nl opened #38618 "Give old menu back when removing support for block templates"
## What problem does this address?

Currently, when Theme.json is added, the old menu settings (appearance/menu) are locked away to make place for the new menu.

My case is this: I love the templates, I don't like the menu implementation for clients (and the fact they need to manage it inside the template editor).  I am aware a better cycle of the menu management is not yet finished. Also i'd pref

[2022-02-08 10:03] Mamaduka commented on #38557
I think this might be an issue with the `react-easy-crop` library and iframed editors. The styles are injected in parent windows instead of the iframe.

cc @talldan.

[2022-02-08 10:52] draganescu commented on #35328
Retested and it's fixed.

[2022-02-08 10:52] #35328 closed, assigned to nobody

[2022-02-08 11:17] oandregal commented on #37974
Hi, there're specific reference documents for different versions of theme.json https://developer.wordpress.org/block-editor/reference-guides/theme-json-reference/

The how-to guide should be updated to be focused on examples. This is up for grabs, anyone can contribute.

[2022-02-08 11:21] oandregal opened #38620 "Reference docs for `theme.json`: pull data from keys other than `settings` and `styles`"
See https://github.com/WordPress/gutenberg/pull/38323/files#r801524958

The [reference docs for `theme.json`](https://developer.wordpress.org/block-editor/reference-guides/theme-json-reference/theme-json-living/) only contains data coming from the `settings` and `styles` keys. There are some missing sections, such as `customTemplates`, `templateParts`, or the `patterns` key being added https://git

[2022-02-08 11:22] oandregal commented on #38620
cc @ajlende @ryanwelcher

[2022-02-08 11:35] jameskoster commented on #37407
I spent some time exploring how we might expand the existing UI to accomodate other template types. There are a few different ways to organise things here, particularly around how we present singular / archive templates, and dynamic / static templates as well.

What I felt worked well was separating templates by their specificity. That is to say: templates that serve a static purpose (`404`, `fron

[2022-02-08 11:38] draganescu commented on #32629
@noisysocks even if we disable legacy preview mode this is not solved since my testing appears to be using a search block, not some legacy widget. The block editor needs to reload its CSS when we preview another theme. I have no idea if this can be done on the fly.

[2022-02-08 12:48] #38487 closed, assigned to Mamaduka

[2022-02-08 13:07] lenasterg commented on #6523
Hi.
Do you have any status update on this?

[2022-02-08 13:14] gziolo commented on #38245
I tried to see if we could do a quick workaround using the data from the Block Directory with:

[code]

However, it doesn't return what we need:

<img width="872" alt="Screenshot 2022-02-08 at 14 07 26" src="https://user-images.githubusercontent.com/699132/152993131-3fe73678-30f8-4b97-941a-c3b1d10eba5d.png">

I still think we could run the REST API call to fetch the data after plugin activation.

[2022-02-08 13:15] paaljoachim commented on #29821
What if clicking the posts page be it the front page or a designated posts page would show the Query Loop block in place with a kind of default block structure in place? This way one still have access to only the Posts Page outside the site editor.

Going from currently this:
![Screenshot 2022-02-08 at 14 14 03](https://user-images.githubusercontent.com/5323259/152994239-31178c8c-8521-45e0-be1b-97

[2022-02-08 13:21] mirka commented on #37127
Debugging and potential fix is discussed in #32497

[2022-02-08 13:29] gziolo commented on #38245
@t-hamano or @aurooba you both did a great job updating your plugins and now I need to find another plugin to ensure the fix I'm working on is going to help others 😄

[2022-02-08 13:31] jameskoster commented on #29821
Yup, that is another option. But it's tricky for a few reasons:

* We'd need to hide most options on the Query block since they would be inherited from the URL and other global settings (posts per page etc)
* The Query Template would need to be synced with the underlying template
* The UI must be clarify that changes to this Query could affect other pages
* We'd need to prohibit the addition of bl

[2022-02-08 14:09] Mamaduka commented on #8462
@paaljoachim, @kjellr, should we close this issue?

[2022-02-08 14:18] #38454 closed, assigned to nobody

[2022-02-08 14:20] mirka commented on #34845
I'm wondering if this is a bug. What was the actual code that failed? Looking at the [docs](https://github.com/WordPress/gutenberg/blob/migrate/line-height-control-styles/packages/components/src/toolbar-item/README.md), I would assume that using the `ToolbarItem` wrapper would work for most (if not all) custom components.

[2022-02-08 14:20] #38473 closed, assigned to nobody

[2022-02-08 14:29] kjellr commented on #27617
One more featured image enhancement suggestion, [as raised in a support forum thread](https://wordpress.org/support/topic/featured-image-height-3/):

- The ability to add an external URL to use as a featured image.

[2022-02-08 14:32] philiprichter opened #38628 "Permalinks metabox not showing for non-public custom post types"
### Description

When registering a custom post type with 'public' argument set to false, the permalinks meta box is not displayed any more (since Wordpress 5.9).

### Step-by-step reproduction instructions

1. Register new custom post type with 'public' => false
2. Create new cpt post
3. Permalinks metabox to set / change permalink is not visible any more
4. Switching public to true will make per

[2022-02-08 14:48] aurooba commented on #38245
@gziolo give me an hour - I'm just waking up. I'll reverse mine.  I haven't announced that it's working through the search now. :)

[2022-02-08 14:50] iamtakashi opened #38629 "Cover & Group blocks: Add Margin Control"
It'd be nice to be able to control margins for Cover and Group blocks.

For example (the pink rectangle is illustrating the margin):

<img width="1278" alt="Screenshot 2022-02-08 at 14 22 11" src="https://user-images.githubusercontent.com/908665/153009403-ac011a1b-8198-4191-b7b2-317cbbe828aa.png">

With the vertical margin, the header looks taller than how it's intended.

Obviously, I can "fake" i

[2022-02-08 14:57] richtabor commented on #38588
If this is the case, then create-block should be updated to do this for you too.

[2022-02-08 15:06] aurooba commented on #38588
Agreed! Tagging in @gziolo  but I think he's working on making it so we don't have to do this.

Edit: I _know_ he is working on this lol. https://github.com/WordPress/gutenberg/issues/38245#issuecomment-1032610426

[2022-02-08 15:09] circlecube opened #38630 "Allow rel customizations in social link block"
Currently, the social link block has some hard-coded rel attributes that are applied only if the parent social links block is set to open in a new tab. When the open in new tab toggle is set to true, each link receives `rel="noopener nofollow"` if it is not selected there is no rel attribute. For example, it's not a guarantee that if a link will open in a new tab that it should be marked nofollow

[2022-02-08 15:14] jenfloods commented on #38455
Thanks, I found one that works with Divi builder.

[2022-02-08 15:17] richtabor commented on #38588
✅ I've updated my blocks to use the same method you've done @aurooba. Thanks for leading the charge here :)

[2022-02-08 15:20] aurooba commented on #38245
@gziolo I've reverted my plugin. Keep in mind, my plugin always had the title field in the `index.js` field, what it _didn't_ have is the attributes. So mine will be helpful in testing that. :)

[2022-02-08 15:20] richtabor commented on #38608
Thanks for the repot @kajalmultidots — looks like this is a Twenty Twenty Two issue, and is being tracked/worked on here: https://core.trac.wordpress.org/ticket/54944 🎉

[2022-02-08 15:20] #38608 closed, assigned to nobody

[2022-02-08 15:23] richtabor commented on #38575
I agree, the animation doesn't seem 100% fitting, maybe just an opacity over, or border color change around the site icon there.

[2022-02-08 16:09] pagegwood commented on #23223
The fact that this is not possible with PHP, years after Gutenberg was released, is mind-boggling.

[2022-02-08 16:22] mrfoxtalbot opened #38632 "Audio Block: Add a "live recording" feature."
## What problem does this address?

Adding audio to a website can be challenging, especially on mobile devices and, oftentimes, the audio files produced by certain apps will be incompatible with the audio block altogether.

## What is your proposed solution?

I would love for the Audio Block to have a "Record Now" button that would record live audio and upload it automatically.

![Screen Shot on 2

[2022-02-08 16:23] ryelle commented on #38245
@gziolo What data do you need? We do return a `blocks` property from the wp.org api that matches the `blockType` format ([see example here](https://api.wordpress.org/plugins/info/1.2?action=query_plugins&request%5Bblock%5D=slug%3Agrainy-gradient-block)), maybe that could be added into the response on [the local site's endpoint](https://core.trac.wordpress.org/browser/trunk/src/wp-includes/rest-api

[2022-02-08 16:27] aurooba commented on #38245
Since you need to have `block.json` in order to be able to use the Block Library search, I think @ryelle would be perfect!

[2022-02-08 16:28] ajlende commented on #38557
I tested manually adding `react-easy-crop/react-easy-crop.css` to a style element in the iframe. The appearance was fixed, but dragging to position the crop was still not working. So fixing it might be more involved than just manually adding the styles to the iframe.

There's more info in the react-easy-crop docs about [loading styles](https://github.com/ricardo-ch/react-easy-crop#styles).

[2022-02-08 17:08] mchowning commented on #38246
In addition, it seems that the behavior is quite a bit worse when swiping words on iOS. The swiping, as opposed to typing--of the words seemed to be important in recreating the issue. I'm not sure what original priority was assigned to this issue, but the behavior when swiping on iOS seems pretty poor to me and feels like it would justify making this a higher priority.

### Not Resetting Color

Fo

[2022-02-08 17:27] sitoexpress commented on #38299
Thanks for this solution, I was thinking to be the only one fighting that mess in the HTML... I'm really worried about this new "WordPress way".

There's really no reason at all for a SVG duotone filter to be loaded by default as a "most wanted" feature

While I *might* be able to understand why WordPress is shifting towards another direction, I really can't understand how someone could think of f

[2022-02-08 18:19] simison commented on #37470
I still saw this bug in dropdowns (WP 5.9 and Gutenberg 12.5.x), but not as consistently as before. It has somehow changed behaviour along the way.

Here's me trying to replicate:

https://user-images.githubusercontent.com/87168/153050965-3daa5387-1425-4dc6-b868-27c1564abc97.mov

[2022-02-08 18:25] paaljoachim commented on #29821
@aurooba made this associated issue:
[FSE] When static front page/posts page is set, disable the page editor, redirect to Site Editor
https://github.com/WordPress/gutenberg/issues/38389

Also sharing the Core Editor Slack conversation that is also happening:
https://wordpress.slack.com/archives/C02QB2JS7/p1644323569973349

[2022-02-08 18:32] SiobhyB opened #38636 "Mobile: Preformatted and Verse blocks: Inconsistent line spacing in editor"
## Description

When multiple lines are added to either the Preformatted or Verse block within the Android app, the line spacing appears 'off' in the in-editor preview. More specifically, the first two lines of each block are closer together than the other lines.

Note, this is only an issue with the way the blocks appear within the editor. The new lines render correctly on the front-end and have

[2022-02-08 19:09] #38572 closed, assigned to Mamaduka

[2022-02-08 19:14] mkkeck commented on #38299
And I think it is mainly added inline before `</body>` to support the Safari on iOS.

[2022-02-08 19:55] ndiego commented on #38629
I know there has been a TON of conversation about adding dimension controls to blocks, specifically margin. But I think a happy compromise could be adding margin to "container" blocks. The Columns block already supports margin and adding this to Group and Cover would solve many edge cases. This would go a long way in solving issues like this ticket which are impeding many FSE designs. If we can ge

[2022-02-08 20:04] claudiulodro opened #38637 "Issues when pasting into post title field"
### Description

While doing some in-depth testing around copy + pasting into the post title field of the editor, I noticed a few issues:

1. When pasting headings with a lot of formatting from Google Docs into the post title field, a bunch of the original formatting is initially displayed in the editor. This is really just a visual issue, as it doesn't cause issues on the frontend and goes away w

[2022-02-08 20:12] vralle commented on #38299
This is just a small mistake that will be fixed quickly. But it is not exactly)

We all need to remember that we are using WP for free. And our choice is also free.

[2022-02-08 20:24] mchowning commented on #23576
In light of @dcalhoun 's findings (which I have also observed), I'm going to go ahead and add a "high" label to this since the flow of changing the link type seems to be completely broken across all sites. Feels like we need to either fix this or remove the "Link To" setting from mobile.

FWIW, I noticed that if I take a gallery from web with valid Link To settings, and add an image to the gallery

[2022-02-08 21:55] glendaviesnz opened #38644 "Search Block: Formatting applied to button text encoded in frontend"
### Description

If formatting is applied to the Search block button, it appears as encoded html tags in the frontend.

Reported here https://core.trac.wordpress.org/ticket/55102

### Step-by-step reproduction instructions

- Add a Search block
- Apply 'Bold' formatting to the button text via the block toolbar
- Save post and view in the frontend

### Screenshots, screen recording, code snippet

!

[2022-02-08 22:09] mirka commented on #34845
I stumbled upon a related issue #32336. If you have a code snippet to reproduce, you could post it on that issue so we can consolidate and close this one.

[2022-02-08 22:09] aurooba commented on #29821
I'm going to go ahead and close #38389 and add my thoughts here because it makes a bit more sense to keep it all in an issue:

-----------------------

This is a confusion I encountered myself – despite understanding the WordPress Template Hierarchy extremely well – and have watched others encounter too. It stems from being able to do things one way before and having the paradigm change in FSE.

W

[2022-02-08 22:10] aurooba commented on #38389
Closing this up and moving the conversation to https://github.com/WordPress/gutenberg/issues/29821

[2022-02-08 22:10] #38389 closed, assigned to nobody

[2022-02-08 22:12] vyskoczilova commented on #31980
Hi folks, any updates on this? Gaambo's solution works (thanks!), but I believe that this should be solved via theme.json.

I build very custom themes and clients don't want to be able to toggle with the layout width - they want to see only settings which are supported and sometimes it's pretty hard since the new features are popping out of nowhere...

[2022-02-08 23:40] mrwweb commented on #36755
A very hearty plus one for this! I was really really really surprised the first time I realized Apple Podcasts wasn't listed. I'd add a few more to the list for consideration:

- [ ] PlayerFM
- [ ] Overcast
- [ ] Pandora
- [ ] Castro
- [ ] TuneIn

[2022-02-09 00:43] ramonjd opened #38646 "Link Color: container link color is overwriting child link color on the frontend"
### Description

On the frontend, a container's link color overrides the link color of its inner blocks.

Noted here: https://github.com/WordPress/gutenberg/pull/34027#issuecomment-1032160421

I've only noticed this on Block themes.

### Step-by-step reproduction instructions

1. Choose a Block Theme, e.g., TwentyTwentyTwo
2. Insert a Group Block and set the text colors (the link color mainly)
3.

[2022-02-09 01:11] #38544 closed, assigned to glendaviesnz

[2022-02-09 02:10] talldan commented on #38644
In the label too by the looks of it:
![Screen Shot 2022-02-09 at 10 01 05 am](https://user-images.githubusercontent.com/677833/153107705-c4219ef2-e656-4b4f-b392-1b0baeab840f.png)

[2022-02-09 02:32] talldan opened #38647 "Search block icon-only button has no aria-label"
### Description

This seems to be an issue in both the front-end and editor. When using a screen reader, the button isn't properly announced when focused.

### Step-by-step reproduction instructions

1. Add a search block
2. Use the icon button option form the toolbar
3. Using a screenreader, focus the button

Expected: The button is announced with default text as the aria label, like 'Submit sear

[2022-02-09 02:35] Mamaduka commented on #38644
This is probably a scaping issue on PHP.

[2022-02-09 02:39] erwinyusrizal opened #38648 "Custom Block: Additional CSS shouldn't be added to the block wrapper"
### Description

I have ACF block inside:
[code]

when I add additional css for example `tailwind class w-1/2` , it's added to my block html which is I expected, but on preview mode, why the additional css added to the MyACFBlock wrapper too? it makes the layout broken, the additional css shouldn't be added to the block parents (see screenshot)

### Step-by-step reproduction instructions

- rows
-

[2022-02-09 02:58] #38501 closed, assigned to ellatrix

[2022-02-09 03:15] glendaviesnz commented on #34638
This probably should wait until the [width block support](https://github.com/WordPress/gutenberg/pull/32502) is available.

[2022-02-09 03:31] chthonic-ds commented on #38252
This is an important point and one that felt baked into WordPress pre-5.0. I share many of the experiences and frustrations in the commentary here, arising from the trade-off between the convenience of Gutenberg versus a loss of freedom to use WordPress as a blank canvas.

I love blocks and (the promise of) the new editor experience but the time investment required to keep on top of Gutenberg upda

[2022-02-09 04:00] annezazu commented on #38252
Thank you all for continuing to share here, including highlighting specific points. I'm listening and taking it all in.

This is mainly the effort of @bph at this point! <3

[2022-02-09 04:27] glendaviesnz commented on #38646
Duplicate of https://github.com/WordPress/gutenberg/issues/37582 ?

[2022-02-09 05:16] #38644 closed, assigned to talldan

[2022-02-09 05:21] ramonjd commented on #38646
Thanks, yes. I swear I searched! :)

[2022-02-09 05:21] #38646 closed, assigned to nobody

[2022-02-09 05:26] talldan commented on #38648
@erwinyusrizal This is probably a feature of the ACF blocks. I don't think it's something Gutenberg would do.

I would recommend reaching out to the developer of the ACF plugin as your first option. If they say it's a Gutenberg issue you can always return here.

[2022-02-09 05:26] #38648 closed, assigned to nobody

[2022-02-09 05:27] kajalmultidots opened #38651 "Button Block margin issue"
### Description

In Twenty-Twenty one theme, when we add Button block and below in that button block we add new button block, then the margin between two button block is not there.However in other theme it is displayed properly.

### Step-by-step reproduction instructions

Go to Twenty-Twenty One theme
Add Button Block
Add another Button Block below the first one
For more information I have attach

[2022-02-09 05:32] #13902 closed

[2022-02-09 06:26] alexstine commented on #38647
@talldan Looks like this PR will fix this?

https://github.com/WordPress/gutenberg/pull/38136

[2022-02-09 06:43] derridHeidegger opened #38653 "style variations hurt the editing performance"
### Description

i have style variations for different blocks. those are really great but when editing everything becomes slow untill the style variations previews are loaded. if you have the gutentberg plugin enabled, this problem doesn not exists since the previews are loaded only on hover on the style name. is this method is coming to core wordpress? is there a way to close the style variations

[2022-02-09 06:56] annezazu commented on #38414
@mirka I can't replicate this in Chrome with MacOS using 5.9 without Gutenberg. Can you share more about your setup so I can replicate?

https://user-images.githubusercontent.com/26996883/153137811-6618f7c6-a23d-4d8e-b19e-eb4cac7e67ad.mov

[2022-02-09 06:59] annezazu commented on #38185
@pbking Just so I understand, this doesn't happen in 5.9? If so, can this issue be closed :D

[2022-02-09 07:03] annezazu commented on #37790
This recently merged PR might be welcome news, where it changes the  ➕ to only show it when all items are optional: https://github.com/WordPress/gutenberg/pull/38262

[2022-02-09 07:08] annezazu commented on #37388
I am in agreement with you! Closing (after confirming it works as expected).

[2022-02-09 07:08] #37388 closed, assigned to oandregal, jasmussen

[2022-02-09 07:11] annezazu commented on #32246
I can no longer replicate this with 5.9 and GB 12.5.3 :D Going to close this out as a result.

[2022-02-09 07:11] #32246 closed, assigned to nobody

[2022-02-09 07:12] annezazu commented on #36972
Related issue: https://github.com/WordPress/gutenberg/issues/31255 Would love to see this! Closing out the original but wanted to be sure the feedback from the outreach program was known since this has come up quite often.

[2022-02-09 07:14] annezazu commented on #31255
Closing this out in light of the more comprehensive issue here: https://github.com/WordPress/gutenberg/issues/36972

[2022-02-09 07:14] #31255 closed, assigned to nobody

[2022-02-09 07:21] annezazu commented on #34483
I can't replicate this anymore using version 2 of theme.json with 5.9. Is this still an issue for you @mkaz?

[2022-02-09 07:41] annezazu commented on #34260
Wanted to note the current behavior in 5.9 since it's been some time since this was opened. It's strange to me that the two following experiences are so different.

**Styles > Post Title Block**

If you clear out the field entirely, the field resets to the original value. This helps protect against the issue originally described here but prevents me from doing something simple: erase the current v

[2022-02-09 07:46] annezazu commented on #38231
Apologies for the delay here! I wonder if this is related to this issue: https://github.com/WordPress/gutenberg/issues/37573 cc @Mamaduka for some insights here. Noting for now though that, like the forum thread, I can't replicate this and that this is likely something for the plugin author to address. Just want to be sure since similar behavior has popped up elsewhere :)

[2022-02-09 07:52] annezazu commented on #38251
Hey there! I agree. I think this issue might be a duplicate though of this earlier one: https://github.com/WordPress/gutenberg/issues/6394 Do you agree? If so, I can close this out :)

[2022-02-09 08:01] annezazu commented on #38255
Thanks so much for this detailed report and for helping test! I dug in and can replicate. I'm seeing some changes with 12.5.4 so some movement is happening. Going to add this to the 5.9.x project board.

5.9 without Gutenberg:

https://user-images.githubusercontent.com/26996883/153146409-9a0352bd-fe8d-4bf2-8b34-e7e365b7cb41.mov

5.9 with Gutenberg 12.5.4:

https://user-images.githubusercontent.com

[2022-02-09 08:06] annezazu commented on #38443
Hey there! This repo is generally for issues impacting the main block editor and now site editor. As a result, I recommend opening an issue in Trac since that covers the other interfaces within WordPress, including widgets:. Here's where you can search for issues: https://core.trac.wordpress.org/ Here's where you can open one: https://core.trac.wordpress.org/newticket

[2022-02-09 08:06] #38443 closed, assigned to nobody

[2022-02-09 08:07] #37154 closed, assigned to michalczaplinski

[2022-02-09 08:12] Mamaduka commented on #38299
@ajlende, I agree that using `defaultDuotone` or something similar sounds like an acceptable solution.

Do you have the capacity to work on PR, and maybe we can ship it with 5.9.1?

@oandregal, what do you think?

[2022-02-09 08:15] annezazu commented on #38441
With Gutenberg 12.5.4, the Styles show a nice preview on hover:

<img width="652" alt="Screen Shot 2022-02-09 at 12 08 20 AM" src="https://user-images.githubusercontent.com/26996883/153152029-3e3be1a4-440c-4abf-a1e5-a5939bd4c987.png">

With just WordPress 5.9, I'm not able to replicate what you're describing:

<img width="1145" alt="Screen Shot 2022-02-09 at 12 14 33 AM" src="https://user-images.g

[2022-02-09 08:20] annezazu commented on #38350
Thanks for opening this @gingerling. I agree. It would be really neat to have this. For now, closing this out as a duplicate of this previous issue (unless I've misunderstood): https://github.com/WordPress/gutenberg/issues/15659

[2022-02-09 08:20] #38350 closed, assigned to nobody

[2022-02-09 08:25] annezazu commented on #38387
Going to close this out since a trac issue is now open :)

[2022-02-09 08:25] #38387 closed, assigned to nobody

[2022-02-09 08:25] mkkeck commented on #38299
Why not using current avaliable fields only?
If `duotone` null or an empty array and `customDuotone`  false should disable this feature. In my opion, that would be the expected behavior instead forcing disabling a third parameter (too).

And of course it would be nice, if the Safari stuff only is added on Safari browsers, this may be done via javascript.

Why should we punish all other browser sup

[2022-02-09 08:27] annezazu commented on #38338
Hey folks! Neat to see this discussion. I've definitely run into this a few times myself. It's come up before in this issue where you can see some wider context: https://github.com/WordPress/gutenberg/issues/28217 On the topic if highlighting blocks, this was an intentional decision and you can see a conversation about the considerations of that here: https://github.com/WordPress/gutenberg/issues/

[2022-02-09 08:33] annezazu commented on #38471
I can replicate this! I think this might be related somehow to some weirdness I'm seeing here potentially: https://github.com/WordPress/gutenberg/issues/38255

In any case, this is definitely a bug :)

https://user-images.githubusercontent.com/26996883/153156680-b5e701a8-a0ac-4f53-a6c5-37ac7a829a3c.mov

[2022-02-09 08:39] gziolo commented on #38588
That's also an option to update create-block. If the block is registered on the server from `block.json` then metadata passed to `registerBlockType` as a first param will use only the `name` and ignore the rest. This is because we need to account for filters applied on the server that could modify block metadata. In general, I still find it confusing even though I authored API changes. It's become

[2022-02-09 08:39] mkkeck commented on #38299
That should be fixed too, with a check:
`!empty($...) && is_array($...)` before loops.

[2022-02-09 08:39] fluiddot commented on #38636
I experienced a similar issue when testing version `1.70.0`, more info in https://github.com/WordPress/gutenberg/issues/38081.

[2022-02-09 08:48] gziolo commented on #38245
That's a lot of data that won't be necessary until you install the block:

https://github.com/WordPress/gutenberg/blob/fe8707ba2e3ce1cae44ed1d556115d5e785ca897/packages/blocks/src/api/registration.js#L184-L200

I made it work with a simple REST API call to fetch a single block type. I need to build a similar mapping and it should be all we need. I see mostly benefits of using a separate request:
-

[2022-02-09 09:20] tex0gen commented on #29401
I'm having the same issue. I've applied a filter to add additional classes to this block but the filter doesn't appear to run. The filter is actually applied to all blocks and it appears to work for all except core/navigation.

[2022-02-09 09:47] ntsekouras commented on #27575
I removed my assignment in order for other folks to try to explore alternatives.

For context [this PR](https://github.com/WordPress/gutenberg/pull/30469) handles transforms for simple blocks(no InnerBlocks) and has a detailed description.

The [concerns/challenges](https://github.com/WordPress/gutenberg/pull/29890#discussion_r606117625) for transforming blocks with InnerBlocks.

[2022-02-09 10:41] SantosGuillamot commented on #34994
A new update about the progress made:
- [Improve selection for the inner blocks](https://github.com/WordPress/gutenberg/issues/37154): @michalczaplinski handled it in [this Pull Request](https://github.com/WordPress/gutenberg/pull/38263) that has already been merged.
- [Consider using block placeholders when editing a template with no page context](https://github.com/WordPress/gutenberg/issues/371

[2022-02-09 11:09] Andrew-Starr opened #38664 "Navigation: Add color classes to submenu"
### Description

In the navigation block when changing the text color or background color of the submenu, the color classes are missing from the submenu in the front end. Instead the classes are added to each individual item within the submenu.

One of the issues with this approach is that by default the submenu container (if no added background color on the top level nav block) has a white backgr

[2022-02-09 11:29] ralucaStan commented on #36919
Restricting the change from [36605](https://github.com/WordPress/gutenberg/pull/36605) only to the small black plus would be ideal, because this overlay approach also affects custom buttons added by the user, which are usually bigger. The white background and black border buttons are usually used spanning to the width of the containing group, so the overlay change makes them cover the block's cont

[2022-02-09 11:30] #15498 closed

[2022-02-09 13:16] randhirexpresstech commented on #38560
@getdave next and previous post navigation block should also be included for this fix.

[2022-02-09 13:18] t-hamano commented on #38016
I also reproduced the problem with WordPRess 5.9 (without activating the Gutenberg plugin).
However, I could not reproduce it with the Gutenberg plugin activated.

I changed the version of `@wordpress/components` that imports the `FontSizePicker`, and found that the problem was reproduced in **v19.2.0**, but not in **v19.3.0**.

I did not find any issues that correspond to this problem, but it may

[2022-02-09 13:30] stefanfisk commented on #16006
I just now discovered that I am also affected by this when previewing pages that use ACF blocks. Said workaround seems to work.

[2022-02-09 13:30] theMikeD commented on #35099
Using a file format that doesn't provide for comments is frankly indefensible.

[2022-02-09 13:32] RajkiranBagal opened #38667 "Block Settings Sidebar refresh when we change the Editor responsive Preview."
### Description

When we change the Preview from one device type to another in the Block editor then the block settings sidebar gets refreshed.

### Step-by-step reproduction instructions

1. Drag & Drop the Heading Block in the Editor.
2. Go to settings, set some color, or anything.
3. Now click on the Preview button & select Tablet - ( https://share.bsf.io/nOu97DnJ )
4. You can see the Heading B

[2022-02-09 13:40] Rottinator opened #38668 "HTML tags in post titles are gone when editing existing posts"
### Description

Hello,
since the update to wordpress 5.9 we've detected some strange behavior, when editing existing posts, that contains HTML-Tags in their post title.
The problem is, when editing the post, the HTML-Tags in the post title, are not displayed in the editor. The tags are just gone.

The behavior came through wordpress 5.9, i’ve quickly tested the issue with a complete new and empty

[2022-02-09 13:41] hypest commented on #38407
Updated parent post with:

### 🔎 Main focus
++ Address content uploading issues

### 🛠️ Recently fixed or improved
++ https://github.com/WordPress/gutenberg/pull/38225
++ https://github.com/wordpress-mobile/gutenberg-mobile/pull/4545

[2022-02-09 14:44] getdave commented on #38275
## Update 9th Feb 2022

* _Exploration_ started on [a persistent sidebar for Navigation outside of the block](https://github.com/WordPress/gutenberg/pull/38465).
* Worked continue on [refactoring the block to reduce bugs and introduce more test coverage](https://github.com/WordPress/gutenberg/pull/38179).
* More UI/UX refinement including [ability to revert Submenus back to Links when empty](https

[2022-02-09 15:17] getdave commented on #38560
Did you mean Query Navigation Pagination? That was fixed in https://github.com/WordPress/gutenberg/pull/38519

[2022-02-09 15:28] mtias commented on #29864
@Mamaduka sorry for the delay responding, finally able to spend some time on this :)

- **L. by system**: this means the block is locked but the user doesn't have permissions to change that state. These permissions could come from user roles & capabilities or by flags in theme.json (which could also be based on roles or capabilities).
- **L. by user**: just means that it's self-service, where you

[2022-02-09 15:35] afmarchetti commented on #14744
Any news on this? it will be super usefull, for developers and client have this simple feature near the colors.

[2022-02-09 15:40] bph commented on #38668
I was able to reproduce it, somewhat.  The stored title (with HTML tags) is stripped of HTML tags in the block editor so it seems.

The block editor in the edit screen saves entered HTML tags and displays them on the front end. Only on subsequent re-edits are the HTML tags stripped for the view in the edit screen and also not displayed on the front end.

It happens in 5.8.3 as well as 5.9
Also, te

[2022-02-09 15:57] mchowning opened #38672 "Mobile: Inconsistency when replacing media on cover block"
## What problem does this address?
On the mobile apps, the flows for replacing media on the cover block are inconsistent between videos and images. In particular, with images, the most straightforward way to replace the media is by tapping on the edit icon on the top right of the cover block.

Image | After clicking the edit icon
--- | ---
![Screen Shot 2022-02-09 at 10 42 43 AM](https://user-imag

[2022-02-09 16:04] aurooba commented on #31980
This is labelled as an enhancement, which I understand. But as far as people creating themes go, this is 100% a _bug_ that should be resolved quickly.

[2022-02-09 16:07] NenadObradovic opened #38673 "Custom styles/scripts are not loaded inside the preview iframe"
### Description

Hello guys,

Is there any issue with styles/scripts loading inside iframe (responsive editor)?

I enqueued 3 scripts with default function and that scripts are loaded fine initial but when I clicked on the tablet or mobile preview button, some scripts disappeared/did not load inside the head tag.

Please check the attachment and screenshots inside.

Thanks for your time.

Best reg

[2022-02-09 16:08] mchowning opened #38674 "Mobile: Cover block is empty after media is cleared"
## Description
On the mobile apps, after clearing media from a cover block, the block is empty instead of displaying the add media prompt.

## Step-by-step reproduction instructions
1. Add a cover block to a post on WPAndroid or WPiOS
2. Observe that the block has a prompt to Add Image or Video
3. Add media to the cover block
4. Remove the media from the cover block (block options cog -> Clear Med

[2022-02-09 16:15] Luehrsen commented on #31980
I've found a solution that nukes this whole panel from every block in Gutenberg from the PHP side.

[code]

Props to @samikeijonen for putting me in the right direction!

[2022-02-09 16:18] bph commented on #31980
Seems the use case raised by @Luehrsen  in [core channel](https://wordpress.slack.com/archives/C02QB2JS7/p1644420282776529): "Is there a way to disable the block layout panel through theme.json without killing alignwide and alignfull?"

@carolinan wrote "Theme.json overrides the theme support, it is not possible to not use the layout setting, but add the "old" theme support."

[2022-02-09 16:18] geriux commented on #38674
Cover block contains inner blocks, so it shouldn't go back to the media placeholder when clearing the media once either a media or background was selected. Usually, it's a Paragraph block, but it can contain more than that. As it's in the web editor, if you clear the media you can still see the content of the block.

I recently worked on some Cover changes that changed this to have it consistent w

[2022-02-09 16:23] draganescu commented on #17231
Closing for lack of more info.

[2022-02-09 16:23] #17231 closed

[2022-02-09 16:24] mchowning commented on #38674
Thanks for the context. I don't feel strongly at all, it just struck me as odd when I was working on it. I feel like there are better ways to handle this when the inner blocks are empty, but it's an edge case and, as you note, we're consistent with the web so I'll close this.

[2022-02-09 16:24] #38674 closed, assigned to nobody

[2022-02-09 16:27] Luehrsen commented on #31980
To be more precise: Our work requires very strict control about what an editor can customise and what is off limits. For many reasons, including legal and retaining design consistency, we cannot just teach this issue away by telling editors to ignore this field.

That is why we disable the CSS output generated by this control with `remove_filter( 'render_block', 'wp_render_layout_support_flag' );`

[2022-02-09 16:28] geriux commented on #38246
Thanks for the report!

Yeah, I think we should look into this and try to tackle the pending bugs related to this feature including the swiping words one.

[2022-02-09 16:32] aurooba commented on #28217
Thanks for bringing this issue to my attention @annezazu!

I definitely would not want this to be the behaviour. In some of my client projects, we're doing a lot of user testing, and we consistently see people deleting the buttons rather than just editing the last button. They'll delete and then look for the _inserter_ in the Buttons block to be able to add a new button fresh.

I have a draft PR (

[2022-02-09 16:39] MaggieCabrera opened #38675 "Spacer block: remove block gap from spacer block"
## What problem does this address?

Spacer blocks inside a container group block have the margin applied by the `.wp-container-ID > * + *` blockGap rules, this makes the height of the block always a bit bigger than what the user inputs in the editor and it's a bit inconsistent

<img width="1306" alt="Screenshot 2022-02-09 at 17 36 01" src="https://user-images.githubusercontent.com/3593343/15324678

[2022-02-09 16:40] mrwweb commented on #31980
Further background on why this is a bug: #36057, content switching from classic themes to block themes appear broken because of the default behavior

See also: #33374 for impact on alignment options of nested blocks

[2022-02-09 16:55] aurooba commented on #38245
@gziolo yesss submit a block! :)

[2022-02-09 17:06] github-actions[bot] opened #38676 "[Flaky Test] should clear block selection"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should clear block selection

## Test path
`/test/e2e/specs/widgets/customizing-widgets.spec.js`

## Errors

<time datetime="2022-02-09T17:06:35.343Z"><code>[2022-02-09T17:06:35.343Z]</code></time> Test passed after 1 failed attempt on <a href="https://github.com/WordPress/g

[2022-02-09 17:17] getdave commented on #14744
AFAIK there's been no progress here. There seems to still be strong demand though. I will raise this for discussion in next week's Core Editor chat (unless someone else would prefer to?).

[2022-02-09 17:37] Humanify-nl commented on #38675
Good suggestion. Might I add, that my current solution is to substract the block gap value from the spacer. So as to always represent the exact space value in the input.

But this probably works because I've built my own block with 4-5 fixed sizes (sm, md, lg, xl, etc) so my designer can sleep happily.

[2022-02-09 18:02] Luehrsen opened #38677 "Add `.has-inner-blocks` selector to blocks with InnerBlocks (e.g. Group, Column, Cover)"
## What problem does this address?

With the reduction of DOM elements and the removal of the `__inner-container` div it is very hard to style blocks that hold an unstructured set of inner blocks.

As per definition: For me an "unstructured set of inner blocks" is every case, where InnerBlocks is used with a (nearly) unrestricted block inserter. Examples for these would be `core/group`, `core/cove

[2022-02-09 18:09] stevenraysimon commented on #16501
@tomphilpotts @morganhvidt @nhterry
I found that if you are using an array of objects, those objects should probably be InnerBlocks

[2022-02-09 18:11] mrwweb commented on #38677
I like this idea a lot as a themer and wonder if it could go one step further by applying `.block-container` to any DOM node with direct descendants that are user-editable blocks. I'd also add the Media & Text content container to o the list of core blocks @Luehrsen has.

[2022-02-09 18:35] nickfmc commented on #33374
The biggest issue I'm seeing with this change is that it broke the way 3rd party container blocks work.  Two big ones Kadence blocks and Toolset both have not added support for the new setup and the update has made the wide alignment options disappear from nested blocks in their systems. Is there documentation on how to support the new "inherit default layout"  "Layout controls" when creating a bl

[2022-02-09 19:00] #34311 closed, assigned to alexstine

[2022-02-09 19:03] mirka commented on #38414
@annezazu Ah good catch, it does not reproduce in WP 5.9 itself in my environment either. I'll rewrite the issue description to make that clearer.

[2022-02-09 19:37] annezazu commented on #30060
The content section was removed for 5.9 and it's unclear to me where this work is headed (will the content section return or will this work https://github.com/WordPress/gutenberg/issues/36667 take over?). For now though, this issue is technically no longer applicable! I'm fine keeping it open for now but wanted to share a quick snapshot for future triage efforts.

[2022-02-09 19:39] annezazu commented on #38554
Hi folks! Thanks for chiming in. As you might be aware, the navigation component was scaled back ahead of 5.9. Originally, the sidebar included a ton more stuff including listing out all the various templates, template parts, a page/post section, etc. Here's an old screenshot that showed the previous version where you can then drill down to see everything under each grouping:

<img width="283" alt

[2022-02-09 19:59] aurooba commented on #38554
I.. had no idea it was called the `Navigation Component`, I think I read something about that somewhere but had no idea what it meant and dismissed it. I think the bigger question I have is when/if the `Navigation Component` will be added to all the block editor instances? But yes, we can close down this issue and move the conversation over to #29648.

Thank you to everyone who added comments here

[2022-02-09 20:00] aurooba commented on #29648
Hallo! Chiming in here adding the original message I had written out when I created the #38554, which has been closed in favour of moving discussion here:

## What problem does this address?
One of the things I miss about the Classic Editor was the super easy access to the _Add New_ button – because the main menu was always available and because there was a handy little button right beside the hea

[2022-02-09 20:12] schutzsmith commented on #38554
Yep, I'm aware and do that for CPTs that I **want** to have the block editor but I'm talking about **when we don't** which is most of the time.

We often only use block editor on page and posts but not on CPTs because the CPTs are more about data entry rather than moving content layouts around.

So the user sees that button still available in the classic scenario but not the block one.

[2022-02-09 20:23] annezazu commented on #38554
From what I understand, this isn't in the works currently :) It's intentionally for just the site editing experience. I don't think it's off the table but there aren't designs for it, PRs, etc. Likely something to consider _far_ in the future after the navigation component has become more robust and other tools related to site editing stabilized. Sharing this to set expectations and share where th

[2022-02-09 20:46] aurooba commented on #38554
Personally, I think this is a mistake. I respect and appreciate all the work being done on the Site Editor. But this should be considered _critical_ functionality for the regular block editor. Now I feel like we need to reopen this issue, because it's _different_ from https://github.com/WordPress/gutenberg/issues/29648

[2022-02-09 21:01] Graphnic commented on #38554
I agree with @aurooba.  While it is improving massively over time, I feel there is still too much friction in the block editor UX for basic tasks, such as this.  In the wild, many of us have a short period of time to setup a large number of pages for new client sites.  Every additional click and clunky procedure costs us time, and thus actual money.

How do I save this design? How to I duplicate t

[2022-02-09 21:10] aurooba commented on #38554
I want to be clear that while I used the `Navigation Component` in my "proposal", I don't think that has to be the way this functionality gets added (particularly the add new post part). That was just me taking an idea from an existing pattern and repurposing it here for familarity. The point is, we _need_ a way to (particularly) add new posts from the block editor, without turning off fullscreen

[2022-02-09 21:33] #36129 closed, assigned to mirka

[2022-02-09 21:59] ajlende commented on #38299
@Mamaduka I got a branch started. I have to test a few more things, but feel free to take an early look #38681

[2022-02-09 22:40] frogdesk commented on #13368
Mandatory feature. Absolute silliness to suggest that it won't be used. There is no workaround except using an entirely custom HTML block. You can't even edit the HTML because it immediately removes the class as soon as you save. This bug is absolutely needed to be fixed.

[2022-02-09 22:43] cmstew commented on #38231
No problem. I'm not even using this in production yet. Just something I came across.

One thing to note is that it's only reproducible in the new Full Site Editing version of Gutenberg. Not the one you'd use in the post editor. I can setup a sample site and give credentials if it helps.

I think there's some fancy new iframe magic happening that may be causing it.

But if you deem it a plugin issu

[2022-02-09 22:44] scruffian opened #38684 "Query pagination doesn't work when inside a template part."
### Description

When the query pagination block is inside a template block it doesn't go to the next page anymore.

### Step-by-step reproduction instructions

To reproduce, use this PR: https://github.com/WordPress/theme-experiments/pull/302

### Screenshots, screen recording, code snippet

_No response_

### Environment info

_No response_

### Please confirm that you have searched existing iss

[2022-02-09 22:56] annezazu commented on #38252
Circling back here to close some loops. Specifically, want to share the following [from this issue](https://core.trac.wordpress.org/ticket/54975#comment:2):

I recommend reading the comment I linked for broader context too. Thank you all again for sharing feedback that helped lead to this change. There's lots to learn here for future situations, especially around how to approach preserving trust a

[2022-02-09 23:33] annezazu opened #38686 "Global Styles: Setting font size for Paragraph impacts Quote Block"
### Description

Similar to this prior issue https://github.com/WordPress/gutenberg/issues/37388, if you change the font size in styles for the paragraph block, it impacts the quote block as well. This is likely due to how quotes include `<p>` within:

`<blockquote class="wp-block-quote"><p>This is the quote</p><cite>And Cite</cite></blockquote>`

### Step-by-step reproduction instructions

1. Ope

[2022-02-10 00:11] imgerson opened #38687 "Build fails when using @wordpress/scripts v20"
### Description

I found an issue trying to create a new block with this package.

If we roll back to use `@wordpress/scripts` v19 everything works great again.

### Step-by-step reproduction instructions

The build fails when creating a new block with the following command:
[code]

### Screenshots, screen recording, code snippet

The error looks something like this:
[code]

### Environment info

[2022-02-10 00:13] bph commented on #38592
@ostinatofreak You are certainly welcome. Glad that it helps you past this initial 'covers my text' I think a vertical toolbar would certainly conflict with the left sidebar and the inserter there. The canvas would lose quite some real estate.
If that's ok with you, I'll close this issue now.

[2022-02-10 00:13] #38592 closed, assigned to nobody

[2022-02-10 00:19] mrfoxtalbot opened #38688 "Query Loop does not include private posts"
### Description

The Query Block does not display private posts. The public view does show all posts, including private ones, but the editor view only displays published posts:

Editor View:
![Screen Shot on 2022-02-10 at 01:10:54](https://user-images.githubusercontent.com/4452464/153312313-104b74bb-6f38-468f-9907-d3670fa3534a.png)

Public view:
![Screen Shot on 2022-02-10 at 01:09:57](https://use

[2022-02-10 01:30] carolinan commented on #33905
I have received another support question about why presets do not work with the duotones.
Any tips of where to start looking to solve this?

[2022-02-10 01:40] carolinan opened #38690 "Feature request: Display both default duotones and custom duotones"
## What problem does this address?

I received a support request asking why the default duotones are not available when you add custom duotones.
That the default duotones are not available when you add custom duotones is the opposite behavior of the color palette and the gradients, where you add a setting in theme.json if you want to hide them.

## What is your proposed solution?

Always display t

[2022-02-10 01:49] talldan commented on #37236
https://github.com/WordPress/gutenberg/pull/38655 should add error handling.

I still feel like we need a good understanding of what causes the errors (there have been a few reports).

If it's only caused by a misconfiguration (like mentioned in https://core.trac.wordpress.org/ticket/54507), is there anything we can do in site health to assist in detecting the problem?

[2022-02-10 02:10] annezazu commented on #28860
This came up as part of the [FSE Outreach Program's All Things Media exploration](https://make.wordpress.org/test/2022/02/02/fse-program-exploration-all-things-media/#comment-2312) - consider it another vote!

[2022-02-10 02:17] annezazu commented on #30362
Passing along some feedback that came in through the [FSE Outreach Program's All Things Media exploration](https://make.wordpress.org/test/2022/02/02/fse-program-exploration-all-things-media/#comment-2312):

[2022-02-10 02:18] annezazu commented on #23721
Passing along some feedback that came in through the [FSE Outreach Program's All Things Media exploration](https://make.wordpress.org/test/2022/02/02/fse-program-exploration-all-things-media/#comment-2312) that relates to the specific experience around rotating:

[2022-02-10 02:20] annezazu commented on #38558
Adding even more good ideas from the exploration as I think it relates:

[2022-02-10 03:11] DennysDionigi commented on #28860
This is so frustrating.
And also please note that "video src" is not even fully html5 compliant, as the source is missing. So any fallbacks is not even a point here. There are so many video codecs, some goes well on iOS, other for Android, even other only on desktop as well.
Hard forcing the video cover to stream from 1 source is really a bad, bad practice.

[2022-02-10 03:15] t-hamano commented on #38687
I'm using [volta](https://volta.sh/) as a version control tool for node, and I tried the following three versions.
They all build without any problem on `@wordpress/scripts: v20.0.2`.

- v12.22.10
- v14.18.1
- v16.14.0

Could you tell me what OS and node version you are using?

[2022-02-10 04:11] jnicol commented on #38252
Does the PR mentioned in the previous comment remove !important from declarations? If not then it will still cause problems for legacy themes.

[2022-02-10 04:16] ulziibat-n commented on #35411
I have the same problem.

[2022-02-10 04:42] Mamaduka commented on #37236
I think one cause of the error is PHP [template fallbacks](https://github.com/WordPress/gutenberg/pull/37074).

Steps to reproduce:
* Create `front-page.php` in TT2.
* Try accessing the Site Editor.

More details can be found in #35560

[2022-02-10 05:11] randhirexpresstech commented on #38560
I didn't mean Query Navigation Pagination. I mean post-navigation-link block. please check the [screen-cast-post-navigation-link](https://app.usebubbles.com/kvGKqKSQ5SYqGdaysuQXzz/gutenberg-12-5-3-read-more-link-html-output-issue?threadId=kXLEHpfdMGv72bk3GKYzV6)

[2022-02-10 05:24] liorken commented on #38159
Hi,
This is the screenshot of the block that says "An error has occurred with this block. And we cannot show a preview of it." - The spacer block. Thanks.

![screen](https://user-images.githubusercontent.com/98255377/153342943-2f98f964-0603-4377-aa12-22a9668e6080.jpg)
)

[2022-02-10 05:47] Mamaduka commented on #38159
Hi, @LKENL

Thank you for the screenshot. This issue should be fixed in Gutenberg 12.4 and later.

[2022-02-10 05:48] annezazu commented on #38252
@jnicol No, it does not address that. That is being discussed in https://github.com/WordPress/gutenberg/issues/37590. The PR mentioned above addresses the issue here around font sizes. Further information about why !important is being used can be seen in this comment too: https://github.com/WordPress/gutenberg/issues/29985#issuecomment-814773798 Hope that helps clarify things!

[2022-02-10 05:51] Mamaduka commented on #38690
The `defaultDuotone` PR - #38681.

[2022-02-10 06:15] grogou opened #38692 "Scroll event doesn't working"
### Description

I am trying to create a block and for that I am using the lib, where I need to use some feature  witch fire windows scroll event, so the problem is `window.addEventListener('scroll', function(e){console.log(e)})` on the lib didn't works in editor, on the front end all is good. Is there any suggestion to solve problems like this.

### Step-by-step reproduction instructions

Just ad

[2022-02-10 07:02] maddisondesigns commented on #38252
That comment states that...

This may be simpler for the core Gutenberg devs, but it leaves it being a real pain for everyone else. By not removing the reliance on `!important`, it doesn't sound like 5.9.1 is going to do much to address this particular issue.

Ever since Gutenberg was added to core it's been an absolute pain trying to keep themes working properly, when every single release constan

[2022-02-10 08:14] Luehrsen opened #38694 "General CSS Concepts: Declaring `style` vs. describing `state`"
I feel we have a conflict of concepts in the project at the moment. I am not sure in which direction we are going (in terms of this specific concept) and I think a clear definition of what we want to achieve would be beneficial in understanding the rest of the components and set clear(er) expectations.

## Definitions
Before we talk about the conflict of concepts themselves I want to quickly descr

[2022-02-10 08:21] jasmussen commented on #28217
Wanted to surface that #33025 exists as a potential solution for the inserters interactivity making it hard to select an empty group block. That might be less successful in case of, for example, the Row block where the inserter should arguably behave just as content added inside, i.e. not be full-width.

[2022-02-10 08:33] talldan commented on #38692
How about `document.addEventListener('scroll', function(e){console.log(e)})`?

[2022-02-10 08:52] grogou commented on #38692
@talldan same issue, nothing happens.

[2022-02-10 08:54] grogou commented on #38692
After some researches thoughts it can be happens because maybe editor have height : 100% or overflow-x: hidden maybe?

[2022-02-10 08:56] madriverweb commented on #3469
I have this problem on two sites but can't locate the second one. The error message I'm seeing is: Failed to load plugin: wordpress from url .../wp-includes/js/tinymce/plugins/wordpress/plugin.min.js. The file is in the installation. The icons are being added to the content editor. This is happening in Classic posts, not in Block. I removed the suspect items from the functions file, no change.

Th

[2022-02-10 10:11] webmandesign commented on #29985
Can be fixed in CSS by defining WP custom properties as seen above, or [via PHP](https://github.com/WordPress/gutenberg/issues/38252#issuecomment-1024348024) which brings CSS to where it was before.

[2022-02-10 10:40] #35364 closed, assigned to ntsekouras

[2022-02-10 10:44] jameskoster commented on #38575
Yeah the animation does seem arbitrary and feel a bit distracting.

[2022-02-10 10:49] getdave commented on #38560
@randhirexpresstech Great catch. Thank you. I appreciate it. Please find fix in https://github.com/WordPress/gutenberg/pull/38696. It would be much appreciated if you were able to [test and verify](https://make.wordpress.org/design/2021/03/03/testing-a-gutenberg-pull-request-pr/).

[2022-02-10 10:54] gziolo commented on #38245
Fix is ready https://github.com/WordPress/gutenberg/pull/38697. It should cover all cases.

[2022-02-10 11:02] paaljoachim commented on #38578
Thank you Joen! @jasmussen

Continuing some explorations.

### Select a block and press Enter to create another block and then use the slash inserter to add a block.

Inside a block where one can add inner blocks.
Press enter to go to another line that automatically begins with the Paragraph block. Follow prompt  and type slash / and see by default the Inner block list.
Something similar to this.

[2022-02-10 11:04] jordesign opened #38698 "Template Parts: Apostrophes in Template Part names not encoded correctly"
### Description

When adding a new template part and including an apostrophe in the name - I expect that to be possible without issue.

Instead - the apostrophe is encoded as `8217` in the interface.

### Step-by-step reproduction instructions

1. Go to the Site Editor
2. Add a Template Part and select the option to add a new part
3. Add a name to your template part, including an apostrophe (`'`)

[2022-02-10 11:07] paaljoachim commented on #38575
Can we (for now anyway) just remove the animation?
As it is not consistent with the non custom W site icon. Which does not have an animation.
If for whatever reason it feels like a good idea to have an animation for backend site icons then it can be brought up again at a later time.

Backport to WP 5.9.1?
@Mamaduka

[2022-02-10 11:15] anelllya commented on #37407
What I don't quite understand is the need to perform a SEARCH once you want to go to a specific template. A search always implies that you know the name or that you know what you are looking for.
I would show a list of probably the most used or last created templates with possibly a filter if users have too many.

Other than that I find it a great idea to sort the templates that way.

[2022-02-10 11:16] bobbingwide opened #38699 "WSOD opening Site Editor due to lack of trailing slash in `http://domain/subdirectory?_wp-find-template=true`"
### Description

In a test environment created with Heart Internet, opening the site editor beta fails with a WSOD.
Analysis indicates this is due to the 404 returned for the following request

`http://217.199.187.57/scalar-wp-dev32.co.uk?_wp-find-template=true`

when there's a trailing slash after the subdirectory name the request works

`http://217.199.187.57/scalar-wp-dev32.co.uk/?_wp-find-temp

[2022-02-10 11:20] bobbingwide commented on #37236
@mkaz Could you show you what you didn't have in your .htaccess file? It would help with my attempt to reproduce the problem I reported in #38699

[2022-02-10 11:37] ossgeek314 commented on #38668
I can verify this behavior.  It is when loading previously saved posts that have titles with html tags that the tags are stripped away when the title is put in the block editor.  The data flowing from the backend contains the tags and if you "re-add" the tags and save the post they are indeed saved to the backend.

We noticed this after upgrade to 5.9.

[2022-02-10 11:39] paaljoachim commented on #37407
Hey James! This is a very nice exploration!

I find it helpful to separate templates into static and dynamic as in your suggestion.
Clicking for instance "Specific template" and getting a search form. I would become lost not knowing what to search for. As I do not get a hint of options to choose from. Here I would need some additional guidance on how to proceed after selecting "Specific template".

[2022-02-10 11:48] karmatosed commented on #38554
There’s a lot going on here awesomely in this issue. I think it’s important to think about the two mental models first at play:

- Creating a layout
- Writing content

They both require different approaches and as such, they do need a different experience to some extent. It is to what extent and how they connect I think is the nuance.

This is an entirely personal feeling, but one of the problems

[2022-02-10 11:49] Mamaduka commented on #38575
Personally, I don't think this needs to be included in a minor release. We can fix in plugin and ship with 6.0.

/cc-ing @mtias, since I know he worked on animations recently.

[2022-02-10 12:26] Mamaduka commented on #38575
Created PR (#38702) in case this gets picked up for 5.9.1.

[2022-02-10 12:54] paaljoachim commented on #38575
I added the Backport to minor label just in case we can get it into 5.9.1.

[2022-02-10 12:56] Mamaduka commented on #38575
We should add a label to the PR.

[2022-02-10 13:03] mtias commented on #38575
Animations can already be suspended if "reduced motion" is in place.

[2022-02-10 13:07] #38560 closed, assigned to nobody

[2022-02-10 13:12] paaljoachim commented on #38575
Hey @mtias Matias.

I believe "reduced motion" is this: https://a11y-101.com/development/reduced-motion

I will assume from what you are saying is that if one is disturbed by the animated site icon and can not wait for WP 6.0 then one will need to manually turn on reduced motion.

[2022-02-10 13:14] jasmussen commented on #38575
All animation are disabled automatically if you set your browser or operating system setting to reduce motion. If you're seeing animation, that means you have it on today.

![thumb](https://user-images.githubusercontent.com/1204802/153415871-86eeef50-6e81-4f89-8817-5d8b8d5656c5.gif)
<img width="780" alt="Screenshot 2022-02-10 at 14 16 07" src="https://user-images.githubusercontent.com/1204802/1534

[2022-02-10 13:23] paaljoachim commented on #38575
Gotcha thanks for clearing that up Joen.

If there still are disagreements regarding the animation. Perhaps we can lessen it substantially and also add a much lighter animation to the W site icon? To keep a consistent feel to the site icon on hover.

[2022-02-10 13:24] randhirexpresstech commented on #38560
Thanks @getdave
Issues are fixed in [#38696](https://github.com/WordPress/gutenberg/pull/38696). Here is the [screen-cast of post-navigation-link block html output issue testing ](https://app.usebubbles.com/8TexecccPyUJqTSeGdsCX8/testing-post-navigation-link-block-html-output-issue)

[2022-02-10 13:36] NicktheGeek opened #38703 "Text formatting applying to individual characters"
### Description

This appears to be a bug introduced in WordPress 5.9. I have a plugin that adds a screen reader only text format and then highlights the content with the markup in the WordPress editor while hiding the content visually on the front end.

This worked previously, but [it was reported to me last night](https://wordpress.org/support/topic/when-typing-screen-reader-text-every-letter-is

[2022-02-10 13:38] afmarchetti commented on #14744
@getdave it will be super useful! i think it's the natural evolution of the component as a developer that what to use gutenberg i will use it al lot. Can i participate in some way at the discussion?

[2022-02-10 13:48] getdave commented on #14744
@afmarchetti It would be great if you were to raise the question. [The Core Editor agenda is posted here](https://make.wordpress.org/core/tag/core-editor-agenda/) early next week. When it's up leave a comment saying "For the Open Floor". You can then reference this Issue and ask your question. It will be raised for you in the chat even if you cannot attend.

I would highly recommend adding some de

[2022-02-10 13:54] mtias commented on #38575
Yes, sorry, was just bringing it up for the accessibility concern. We can definitely tweak and improve things! Animation finesse can be very subjective.

[2022-02-10 14:03] jameskoster commented on #37407
Thanks for the excellent feedback @anelllya @paaljoachim.

I think the language I used on the "Specific template" drilldown has lead to some confusion. To clarify: the purpose of that part of the UI is to allow folks to create unique templates that will automatically render for different entries or archives. Things like `category-$slug` or `author-$nicename`. So for example: if you wanted your "Re

[2022-02-10 14:41] anelllya commented on #37407
The first example from the last comment is exactly what I meant before.
So count a vote on it.
And I think that the term "Specific templates" is easy to understand.
Sorry for the multiple editing of the comment - it's my first comment ever in the open WP repo :)

[2022-02-10 15:07] ivan-ottinger commented on #37549
One observation related to this issue. In some circumstances, the contrast checker displays also when there's only a background color available on the block:

![Markup on 2022-02-10 at 16:05:05](https://user-images.githubusercontent.com/25105483/153435637-c05d1dda-ef7f-45a8-9686-a3623bfaca42.png)

This is a block that displays images in its content only - so it would be better if the checker wasn'

[2022-02-10 15:26] aurooba commented on #38554
@karmatosed thanks for chiming in! Much appreciated.

Right, and when you are writing content, it should be easier than it currently is, to be able to create _more_ content.

I was really just trying to come up with an idea based on the stuff I was already seeing (since the template asks you for a proposed solution, so I just came up with something on the fly), but as I mentioned before, it's not

[2022-02-10 15:46] field2 opened #38710 "We need a Section block"
## What problem does this address?

A section on a page is a common pattern, but there's currently no block to address it. The cover block comes close, but it isn't semantically the same thing; a cover is typically at the top of the page and serves as an intro or banner for the rest of the content. And while blocks can be grouped, the group doesn't have the controls (width, background color/img, e

[2022-02-10 15:58] t-hamano commented on #38692
I also tried it and confirmed that the scroll event was indeed not fired.

However, it worked correctly when I followed [this issue](https://github.com/facebook/react/issues/5042) in the react repository and **specified `true` as the third argument** of the event listener.

In addition, some block editor instances are made up of iframes, so it may be better to register events in relative document

[2022-02-10 16:26] aurooba commented on #38710
Hallo @field2, all of this is currently possible with the group block in 5.9! :)

<img width="284" alt="Screen Shot 2022-02-10 at 9 28 21 AM" src="https://user-images.githubusercontent.com/6925260/153451842-5304a7af-4b57-472d-aabb-20cfbb67dfa3.png">

It's a matter of making sure they are active and supported by your theme. For example, with the `Twenty Twenty Two` theme activated, I can see all th

[2022-02-10 16:32] grogou commented on #38692
@t-hamano thank you for example, I will try it, but what about the npm libs where there use window event lisener? Is it that lib problem or ours?

[2022-02-10 16:39] bobbingwide commented on #38699
An update from the person who has the problem.

1. It occurs with Heart Internet
2. It occurs with "domain references"
3. He can't use FSE for staging, test or dev sites; only with live domains !

He has 140 sites on Heart Internet using domain references.

Heart Internet's position is...

Followed up with..

An alternative is to edit the hosts file on your computer
 ( https://www.howtogeek.com/ho

[2022-02-10 16:42] t-hamano commented on #38692
@grogou

Does that mean that the npm library itself has a scroll event listener that cannot be controlled from the block?

If that's the case, you may want to try using `create-react-app` or something similar to see if the scroll events work in a pure React environment to isolate the problem.

[2022-02-10 16:50] ALJ commented on #38554
I agree with @aurooba about the value of convenient "Duplicate" and "Add New" functions in the core block editor. I work with a variety of content-production teams, and many of them rely on the ability to quickly duplicate written content as part of their workflow. It can be a little frustrating or confusing for them to not have that ability at hand.

The block editor already has the "Options" men

[2022-02-10 16:57] aurooba commented on #38554
What a fantastic idea, @ALJ! I totally forgot about the Options kebab menu. You are totally right. As far as the Duplicate option goes, that's a great place for it to go, after all the `Copy` option is already there.

Would this menu also be a good candidate for the `Add New Post` option? 🤔

[2022-02-10 17:04] aurooba commented on #38703
Does this happen with the other built-in text formats, @NicktheGeek?

[2022-02-10 17:05] ALJ commented on #38554
As much as I want a "Add New ..." function in the block editor, it just feels wrong to me in the Options menu. It feels more correct up in the top area as the old editor had it. But, I understand @karmatosed's comment about overloading menus:

I don't have an answer for "Add New...", unfortunately!

[2022-02-10 17:10] grogou commented on #38692
@t-hamano Yes you are right, it is interactive  animation lib and it is created for react I guess, because the documentation tell me about react and vue, I will try that case too and notice you.

[2022-02-10 17:22] t-hamano commented on #38692
@grogou

The [Make WordPress Core article](https://make.wordpress.org/core/2021/06/29/blocks-in-an-iframed-template-editor/) on how to integrate third-party libraries into blocks may be helpful.

[2022-02-10 17:28] NicktheGeek commented on #38703
@aurooba it does not, but they are all using different HTML tags while this relies on a span with a class.

It may be that something changed in registering the text format as well, and I can update that in the plugin.
https://github.com/reaktivstudios/screen-reader-text-format/blob/primary/src/sr-only/index.js#L41

[2022-02-10 17:46] paaljoachim commented on #38575
Thanks Matias!

Just thought I would add the following feedback from the Accessibility Slack channel.
https://wordpress.slack.com/archives/C02RP4X03/p1644311084295679
@joedolson replied the following:
"From the accessibility standpoint, I'd call it a totally unnecessary animation that could be annoying, as well as making the function of that icon more confusing."

In general it feels like we need

[2022-02-10 18:09] skorasaurus commented on #31629
I'm no longer able to reproduce this as you instructed; the CSS outputs are all now `2-xl`.
please reopen if you're still experiencing this.

[2022-02-10 18:09] #31629 closed, assigned to nobody

[2022-02-10 18:20] annezazu commented on #33025
Really love this exploration. The only thing that immediately came to mind is how best to make this distinct from placeholders for theme blocks. At first glance, I could see folks getting confused there.

[2022-02-10 18:26] grogou commented on #38692
@t-hamano thank you very much, you best))

[2022-02-10 18:31] field2 commented on #38710
Oh wow, I didn't think to switch themes to see that. Thanks for posting the screenshot!
I guess I'll have to enable those settings somehow in my custom theme. I'm not having much luck googling; any suggestions?
[edit] OK, I see where I can change the html element, but not some of the others:
<img width="288" alt="image" src="https://user-images.githubusercontent.com/1656980/153473818-a76bb17a-4eeb

[2022-02-10 18:33] annezazu commented on #38694
Thanks for kicking off this discussion. I've added some labels to ensure folks can find it more readily. I might also bring this to the next Core Editor meeting ([you can see agendas here](https://make.wordpress.org/core/tag/core-editor-agenda/)). To cross connect what feels related too, here's an issue on standardizing a way to modify hover/focus/active states  https://github.com/WordPress/gutenb

[2022-02-10 18:36] Luehrsen commented on #38694
Thank you @annezazu for triaging this issue. #27075 is more about "that it should be done", this is more about "how it should be done". So similar goal, different perspective.

[2022-02-10 18:39] Luehrsen commented on #27075
Just to chime in with a real world example, this is how we approach states in our client themes at the moment.

[code]

These variables are then picked up and combined in the elements that have state and are used accordingly.

[2022-02-10 18:47] dreaddymck commented on #38199
An option to import/replace would be nice as well.

[2022-02-10 18:56] jasmussen commented on #33025
To an extent, an empty group can be considered a placeholder, which in part helped inform this idea.

[2022-02-10 19:29] annezazu opened #38714 "Add ability to turn off double confirmation multi-entity saving screen"
## What problem does this address?

This came up in the latest [FSE outreach program's All Things Media exploration](https://make.wordpress.org/test/2022/02/02/fse-program-exploration-all-things-media/):

In the post editor, there's this option but we like the same one in the site editor:

![image (17)](https://user-images.githubusercontent.com/26996883/153481854-6380c7b8-ca84-4f9d-975c-9165358285

[2022-02-10 19:32] #36525 closed, assigned to nobody

[2022-02-10 19:33] annezazu commented on #38714
This also previously [came up in the second call for testing](https://make.wordpress.org/test/2021/02/18/fse-program-testing-call-2-build-a-homepage-with-site-editing-blocks/):

[2022-02-10 19:38] annezazu commented on #38694
Correct! I believe they influence each other so wanted to be sure there was some cross connection.

[2022-02-10 19:51] jffng commented on #31980
I think there are a few different suggestions being discussed, I want to try and clarify the use cases:

1. Hide the layout controls on a per block and global basis via theme.json as you can with other settings (original issue)
2. Apply a specific layout config (e.g. the default one) automatically on a per block and global basis via theme.json: https://github.com/WordPress/gutenberg/issues/31980#i

[2022-02-10 20:39] aurooba commented on #38333
I would rather see the ability to set a name _within_ the inspector than in a modal. Perhaps when you save it, it shows you the style variation in the preset area, and focuses a text area where you give it a name and hit a checkmark to save it? Context: I think of modals as `necessary but avoided if possible` territory.

The other thing I'd really love to see is a little red dot, or some sort of v

[2022-02-10 20:41] marianearchimbaud commented on #35906
This user is facing the exact same issue using the Elementor Gallery block: 4768988-zd

[2022-02-10 20:41] jnicol commented on #29985
Moving forward it's easy enough to workaround, as you describe. But for agencies that manage a large number of websites it's painful to go back and edit each one. Removing !important would solve the issue.

I'm a little perplexed why !important is being added even when there are no user defined font sizes/colors? The rationale for using !important is so that user defined preferences trump everythi

[2022-02-10 20:43] ndiego commented on #38471
I can replicate in the Site Editor, but not in the standard page/post Editor.

[2022-02-10 20:53] danzinger commented on #35099
I strongly recommend using YAML instead of JSON for the `theme` file. As others have stated this can easily be converted to a JSON Object for internal use. But to read and write for humans it is much nicer. Also we could write comments, which is good practice and should be standard when writing themes. We should not encourage authors to write uncommented code.

In case sombody is interested: Perso

[2022-02-10 20:57] Luehrsen commented on #31980
Hey @jffng, thank you for asking. Right now I'm in the "deactivate it completely" camp. But my stance is a result from this panel giving a lot of power to editors and it generating a lot of ugly, repetitive CSS output in the body.

[2022-02-10 21:05] SiteMods commented on #38171
This is aggravating. Does anyone have a way to disable this now? I can't wait months on a fix to something that shouldn't have been released.

[2022-02-10 21:20] RolfKyburz commented on #38171
I couldn't agree more with SiteMods: this is a serious issue that needs an instant fix. I'm currently spending many hours amending existing blog posts (and I have around 600!). I need to retrofit such fixes to countless posts, as I can't risk making a minor amendment and thereby inadvertently screwing the table of contents. My clumsy workaround consists of reverting to a handcrafted table of conte

[2022-02-10 21:36] endresol opened #38718 "Reusable block keeps wanting to be saved"
I have made some reusable blocks and some of them are "changed" just as I open a page that has used them.
Just as I open the page the Update button is activated and the dot indicating it is a reusable block that needs to be saved appears.

Any ideas what can cause this? its a site for a client and I have instructed them NOT to save the reuseable blocks...

Thanks

Endre

[2022-02-10 21:48] SiteMods commented on #38171
For a fix, I hooked into content_save_pre and did a preg_replace_callback to remove all heading IDs generated by Gutenberg before saving the content to the database. I was already generating heading IDs that were actually unique to all posts.

It was a great idea Gutenberg but you didn't think it through.

[2022-02-10 21:59] glendaviesnz opened #38719 "Explore options to add back semantic classnames to block wrappers"
### Description

As noted [here](https://wordpress.slack.com/archives/C02QB2JS7/p1644265919473279), and [here](https://make.wordpress.org/core/2022/02/09/cover-block-refactor-dev-note/#comment-42574) the move to random class names for applying layout styling in the likes of the Buttons block has removed the ability of themes/plugins to easily target elements based on layout.

For instance, in WP 5

[2022-02-10 22:00] ram108 commented on #38171
Can you share with the hook to remove headings?

[2022-02-10 22:04] bryanb commented on #38171
I rolled back to the last version of WordPress.

On Thu, Feb 10, 2022, 3:20 PM RolfKyburz ***@***.***> wrote:

[2022-02-10 22:17] SiteMods commented on #38171
This should get you started but will need modification to fit your needs.

[code]

[2022-02-10 22:21] gwwar commented on #36667
I've added a prototype for the new navigation sidebar in https://github.com/WordPress/gutenberg/pull/38600, folks are welcome to look 👀

[2022-02-10 22:30] ram108 commented on #38171
I hope the WordPress development team will be able to solve the problem.

[2022-02-10 23:24] noahtallen commented on #29658
I just examined the download of `@wordpress/warning`, and `index.js.map` now exists there. Not sure when it was added though!

[2022-02-10 23:24] #29658 closed

[2022-02-11 00:18] DamirPecnik commented on #13368
+1 for this feature, really a must!

[2022-02-11 00:43] mirka opened #38720 "FontSizePicker: Deprecate bottom margin"
## What problem does this address?

The `FontSizePicker` component currently has an inherent `margin-bottom`, making it [hard to reuse](https://github.com/WordPress/gutenberg/blob/7b0d26204e7f8d2ef4383dcc46e955d0a81f7f7e/packages/block-editor/src/hooks/typography.scss#L3) in different contexts, since it requires a style override of an internal element. This kind of internal override is something w

[2022-02-11 00:48] ljezard commented on #35906
Same issue with WPBakery 6.7 on WordPress 5.9 in both Chrome Version 98.0.4758.82 (Official Build) (64-bit) and Firefox 97.0 64-bit.

[2022-02-11 02:05] coreyworrell commented on #38719
Another instance this happens is for link colors.

[code]

A class could be applied of which color was selected. Then you could do something like:

[code]

[2022-02-11 03:18] jeremyalzona commented on #38330
This issue also persists on Safari for macOS — sentences are being kept in Safari’s autocorrect. I presume that if you have a MacBook with a Touch Bar (with predictive text turned on) that you are able to see this happening on par with iOS’s predictive text.

[2022-02-11 04:21] glendaviesnz commented on #38718
@endresol I wasn't able to replicate this on WP 5.9 with or without the latest version of Gutenberg plugin installed:

![reusable](https://user-images.githubusercontent.com/3629020/153537093-16fdbed7-8e75-4f86-bda4-577253d35c78.gif)

are you able to provide some details about which versions of WP and GB are being used, and maybe also some details about which blocks are contained within the reusabl

[2022-02-11 04:45] sadikmultani opened #38723 "Block Toolbar: Link Tooltip overlapping"
### Description

Hi

When we try to add a link on starting or ending of the line in editor from block toolbar then the link tooltip is overlapping behind the sidebars & left admin menu navigation.

Thanks

### Step-by-step reproduction instructions

1. open the editor and write some content
2. Try to add a link in starting or ending of the line

### Screenshots, screen recording, code snippet

Exp

[2022-02-11 05:34] sadikmultani opened #38726 "Site Editor ( FSE ): Not able to add custom templates in FSE"
### Description

Hi

There is no option available like custom so we can add custom templates like a custom archive or single template for specific custom post types. For ex., I've one custom post type called a book. So, I want to add custom templates for my custom post types for a different archive or single templates which we were using in standard themes like archive-book.php or single-book.php.

[2022-02-11 06:50] Luehrsen commented on #38719
Yes, this is a real issue.

I've written about this in a more abstract way in issue #38694.

[2022-02-11 06:53] fushar commented on #28599
There are at least 4 more places (links/buttons) where users can click to view their current post after a certain action (publishing/editing a post/page), as follows:

| Sidebar shown after publishing post | Sidebar when editing post |
| - | - |
| <img width="775" alt="Screen Shot 2022-02-11 at 12 13 47" src="https://user-images.githubusercontent.com/1525580/153548646-f6bc0199-8896-4035-8d2e-381db

[2022-02-11 07:00] NidhiDhandhukiya commented on #38412
Hello i have the solution for this

[2022-02-11 07:04] NidhiDhandhukiya commented on #38412
Hello @gingerling, @carolinan  have the solution for this issue if you apply this css into the path wp-iclude/blocks/columns/style.css after applying this css changes minify that css file and check everything is working fine.

Index: style.css
===================================================================
--- style.css	(revision 52246)
+++ style.css	(working copy)
@@ -103,6 +103,7 @@
 @media

[2022-02-11 07:05] gabbsmo opened #38729 "Separator color not working if --text variable is defined"
### Description

If I specify a color on a separator I expect that to be shown on the frontend as it is shown in the backend.

I was completely taken by surprise by this.

See this original support issue in GeneratePress: https://generatepress.com/forums/topic/separator-color-not-working-in-front-end/

### Step-by-step reproduction instructions

1. [Install and activate GeneratePress theme](https:

[2022-02-11 07:20] mirka opened #38730 "BaseControl: Deprecate bottom margin"
## What problem does this address?

The `BaseControl` component currently has an [inherent `margin-bottom`](https://github.com/WordPress/gutenberg/blob/fdce407ae43fc121f36797b96e6d808ed1f3077e/packages/components/src/base-control/styles/base-control-styles.js#L19), making it hard to reuse in different contexts, since it requires a style override of an internal element. This kind of internal overri

[2022-02-11 07:21] mirka commented on #17984
We'll be addressing this in #38730

[2022-02-11 07:21] #17984 closed

[2022-02-11 07:24] rilwis opened #38731 "Undo (keyboard shortcode) not working in meta box area"
### Description

This issue might be related to #18755. But the scope of #18755 is wide and covers other things. So I open this issue to be more specific.

When adding any text/textarea custom field to posts using a plugin like Meta Box, ACF (or any method that register meta box with `add_meta_box` function); or use a plugin that register a normal meta box like Slim SEO, we can't undo the changes

[2022-02-11 07:26] gziolo commented on #38167
It looks like the automatically generated class names to move granular class names and styles outside of the block's HTML to the `style` tag introduce some challenges. See #38719 and #38694. It would be great to keep that on the radar while working on the Style Engine implementation.

There are vast benefits of the single automatically generated class name for a given block:
- no excessive polluti

[2022-02-11 07:34] gziolo commented on #38719
The work on the Style Engine has started recently. I think it would be great to include this use case in the roadmap so we could come up with a good solution. I commented about this issue in https://github.com/WordPress/gutenberg/issues/38167#issuecomment-1035941490:

Do you have some ideas on how the same goal could be achieved if you were able to access the state with all applied style modificat

[2022-02-11 07:42] jasmussen commented on #27617
Here's a mockup showing how featured image could become more of a data source than a piece of media. Just select "Featured Image" in the "Replace" dropdown:

<img width="3440" alt="Set Media   Text as featured image" src="https://user-images.githubusercontent.com/1204802/153553760-b8428925-8c84-431e-b8d9-59ebae66a47d.png">

The descriptive text in the dropdown could be improved. We might even add

[2022-02-11 07:48] gziolo commented on #38078
We published a new version of `@wordpress/scripts` v21.0.0 yesterday. I don't think we had anything that could help here, but I just wanted to let you know. If you would be able to locate the dependencies that cause the issue we can always upgrade them.

[2022-02-11 07:53] jasmussen commented on #38171
An option to disable, as @mamaduka [mocked up](https://github.com/WordPress/gutenberg/issues/38171#issuecomment-1027675431) could be a good option. The preferences modal could use some restructuring to make it easier to find options, but as an interim solution, a toggle under "Publishing" could work. I'd change the verbiage, though. How about:

[code]

It would also be good to [revisit this feedba

[2022-02-11 08:05] Luehrsen commented on #38719
Having access styles though hooks/filters would be great, but it still does not solve the underlying problem: The loss of syntax that describe the intrinsic state of the frontend component the user wants it to have. So if having access to the styles means losing the class names, that would be a hard no from us.

The practical reasons behind that are quite straightforward: You cannot target explici

[2022-02-11 08:19] gziolo commented on #36471
It looks like Webpack exposes its own hashing util:
https://webpack.js.org/api/compilation-object/#createhash

It's very likely that we could use it as follows:

[code]

At least this is what I read from https://github.com/webpack/webpack/pull/14584 where webpack added their own md4 implementation in Wasm.

[2022-02-11 08:23] fabiankaegy commented on #38719
I'd have to agree with that statement. Custom theme development is not jet and may not ever come to the state where we can purely rely on `theme.json` and therefore relies on these state describing classnames. And that is not just for styling purposes but also in order to gain insight into the state of a component via JS.

I can sympathize with the the issues that are trying to be addressed here.

[2022-02-11 08:26] xwolfde commented on #38719
I had a similar issue with post-id in a page, where more as one blogroll is display and therfor the same id is used twice - which results in an validation  error...

Therfor I would suggest to use random-numbers in the id like this and leave the styling attributes in the class:

`<div id="wp-container-620589d3d9565" class="wp-block-buttons  is-content-justification-center"></div>`

Important note

[2022-02-11 08:32] mirka commented on #37555
This problem doesn't manifest in contexts where the core WP `forms.css` is loaded (i.e. wp-admin), since that includes some normalizing rules:

[code]

## Directly affected components

- Button
- ColorPalette
- ComboboxControl
- DateTimePicker
- FormTokenField
- InputControl
- SelectControl
- ToggleGroupControl

[2022-02-11 08:33] webmandesign commented on #29985
Hi @jnicol,

I've compiled the code into a plugin https://github.com/webmandesign/global-styles-mods

After installation you can also copy the [`global-styles-mods--mu.php`](https://github.com/webmandesign/global-styles-mods/blob/main/global-styles-mods--mu.php) file into your `./wp-content/mu-plugins/` folder so it is used as a ["must use" plugin](https://wordpress.org/support/article/must-use-pl

[2022-02-11 08:34] webmandesign commented on #38252
Hi guys,

I've compiled the [code above](#issuecomment-1024348024) into a plugin https://github.com/webmandesign/global-styles-mods

After installation you can also copy the [`global-styles-mods--mu.php`](https://github.com/webmandesign/global-styles-mods/blob/main/global-styles-mods--mu.php) file into your `./wp-content/mu-plugins/` folder so it is used as a ["must use" plugin](https://wordpress.

[2022-02-11 08:38] paaljoachim commented on #37407
A drill down would hold my hand as I go through unknown territory, but having the chance to strike out on my own would also help. Meaning offer the most common drill down paths but also offer a search as you are showing with the last mockup. "Search for a post, page archive or other kinds of templates" or something like it would say that there are additional template options to choose from.

This

[2022-02-11 08:39] RolfKyburz commented on #38171
I'd like to see something more differentiated than a simple on/off solution, like:

- disable auto-generated anchors
- enable auto-generated anchors, but allow disabling in specific titles (e.g., by emptying the anchor field, or with a toggle in the block properties)
- enforce auto-generated anchors.

For me, the second option should be the default. That's what we had in WP 5.8.x
Note: I don't see

[2022-02-11 08:49] Mamaduka commented on #38171
Thank you for the feedback, @RolfKyburz.

I think we can start by adding an option for auto-generated anchors and making it opt-in (at least for now). I will have PR ready for this later today or Monday.

[2022-02-11 09:06] RolfKyburz commented on #38171
Thanks, @Mamaduka. I agree, as long as disabling auto-generated anchors on an _existing_ document does _not remove anchors already present_ (auto-generated or not).

[2022-02-11 09:09] talldan commented on #38723
This doesn't seem to be a z-index issue (at least I tried setting the z-index very high and it still wasn't fixed).

[2022-02-11 09:23] talldan opened #38733 "Page List block displays HTML markup in editor when a page contains HTML tags"
### Description

When the Page List block displays a page title that contains HTML tags, the output in the frontend is different to the editor.

The editor shows the markup. The frontend renders the html. See the screenshots below.

### Step-by-step reproduction instructions

1. Add a page with html in the title (e.g. `<strong>` tags) and publish it
2. Add a navigation block with a Page List to a

[2022-02-11 09:53] gziolo commented on #36903
The same issue was filed recently by @KevinBatdorf in https://github.com/WordPress/gutenberg/issues/38553. Let's consolidate and close this one since the more recent issue explains the changes required for more attributes. Thank you for the report that is very helpful.

[2022-02-11 09:53] #36903 closed, assigned to nobody

[2022-02-11 09:55] gziolo commented on #38553
Thank you for the report. We need to audit the mapping to ensure it is up to date with what React does in v17.

I closed that one as a duplicate. The case covered there was very specific so I think it makes sense to use this issue for tracking progress:

[2022-02-11 09:56] ciampo opened #38735 "`TreeGrid`: write unit tests after recent a11y improvements"
Hey folks, I noticed a few great accessibility fixes / improvements on `TreeGrid` recently!

It would be great if we could also add a few unit tests to make sure we don't introduce any regressions around these areas in the future— would that be possible?

_Originally posted by @ciampo in https://github.com/WordPress/gutenberg/issues/38679#issuecomment-1034744487_

[2022-02-11 10:15] chthonic-ds commented on #38694
#36525 is another related ticket, where the Navigation block saw the removal of a descriptive `is-vertical` class. The class has thankfully appeared again, though it's unclear if this is temporary: the issue has been closed but not explicitly resolved.

[2022-02-11 10:16] oandregal commented on #38434
Hey, I can repro this and will look into it. Thanks for reporting.

This is what I know so far: in WordPress 5.8 we introduced a [mechanism to only load the CSS of blocks in use](https://make.wordpress.org/core/2021/07/01/block-styles-loading-enhancements-in-wordpress-5-8/). AFAIK, that required a change for classic themes that opted-in into this mechanism, and the styles loaded at the bottom of t

[2022-02-11 10:19] NidhiDhandhukiya opened #38736 "Seperater block styles option is not visible proper"
### Description

when you choose separator block and use it in the inspector control options we have style option as you see in the attached screenshot that styles of it should not visible  proper.
<img width="1440" alt="Screenshot 2022-02-11 at 3 39 26 PM" src="https://user-images.githubusercontent.com/75485120/153574103-a3f080e1-6ac1-4d56-a62c-4e3de9e33862.png">

I attached the another screensho

[2022-02-11 10:23] scruffian commented on #38694
I find the `has-` and `is-` classes difficult because it complicates the contract between things Gutenberg control and things the theme controls. In general it should be up to Gutenberg to add CSS for these things, not the theme. In my opinion, in most cases there should be no need for themes to implement CSS to target components using `state` selectors, as Gutenberg should be taking care of all t

[2022-02-11 10:27] scruffian commented on #38677
I know this is not the case today, but ideally the CSS for alignments would be provided by Gutenberg, which I think would make this less of an issue. cc @youknowriad

[2022-02-11 10:28] #38245 closed, assigned to gziolo

[2022-02-11 10:34] #38160 closed, assigned to Mamaduka

[2022-02-11 10:44] ocean90 opened #38739 "Scripts: "No entry files discovered in the "src" folder" with `entry` context in `webpack.config.js`"
### Description

With 21.0.0 of @wordpress/scripts its no longer possible to use the `entry` context in `webpack.config.js` because the default config now uses an `exit()` call in https://github.com/WordPress/gutenberg/blob/29d123b5d75f9a7362b07263d1b759a3eb327df7/packages/scripts/utils/config.js#L271-L274

That's quite unfortunate and IMO not necessary. The exit should either be removed or first

[2022-02-11 10:48] sadikmultani commented on #38723
yup, I've also tried to fix it with z-index but not found the solution.

[2022-02-11 10:50] vyskoczilova commented on #37803
I think that this might be solved with simple extending alignment options as mentioned here: https://github.com/WordPress/gutenberg/issues/27629

[2022-02-11 10:59] gziolo commented on #38739
I have a fix ready for review and testing: #38737.

[2022-02-11 11:03] youknowriad commented on #38677
This is unrelated and a result of the default layout not working as a preset which is being tracked #36944

[2022-02-11 11:18] oandregal commented on #38434
Prepared a fix for WordPress core at https://github.com/WordPress/wordpress-develop/pull/2303 linked to the trac issue https://core.trac.wordpress.org/ticket/53494#comment:40

[2022-02-11 11:37] youknowriad commented on #38434
@oandregal Thanks for opening the fix, this indeed fixes the layout shift due to the "global styles" stylesheet, but there's still a layout shift due to the block supports styles. Should we update these as well?

Also, would be great if we can test this change in the Gutenberg plugin.

[2022-02-11 11:39] #38739 closed, assigned to gziolo

[2022-02-11 11:59] NenadObradovic commented on #38673
Hello again,

Unfortunately, you messed a lot of things with the new iframe editor preview, conditional you set are "crazy" and work only for your cases otherwise you blocked or removed any custom/external/3rd party scripts.

In this file src/components/iframe/index.js you made function **styleSheetsCompat** and that function has 2 problems:
1. If we include any external CSS file that file will no

[2022-02-11 12:14] t-hamano commented on #37761
Hi, @csalzano

Perhaps you are missing some string that you are specifying.

For example, if it is `network`, you can specify **`admin-network`** and it will be displayed correctly.

![capture](https://user-images.githubusercontent.com/54422211/153589551-c637bd69-de1d-41c0-914e-394114dc1ec4.png)
https://developer.wordpress.org/resource/dashicons/#admin-network

The point is to specify `admin-netwo

[2022-02-11 12:27] Luehrsen commented on #38694
That is a nice thing to want, but it simply does not reflect the reality how WordPress is currently used and what users (end users and developers) expect.

As I said in #38719: Removing explicit classnames that describe state in favor of implicit, random classnames that describe style would effectively make any Gutenberg frontend a walled garden, which is the antithesis to openness. At least from

[2022-02-11 12:28] gziolo commented on #38739
`@wordpress/scripts@21.0.1` is available with the fix.

[2022-02-11 12:45] #37542 closed, assigned to nobody

[2022-02-11 12:45] #38549 closed, assigned to youknowriad

[2022-02-11 12:57] priethor commented on #38171
I agree we should focus on allowing to disable the automatic anchor generation in a simple way as the first step, and iterate on [improving the mechanism with prefixes](https://github.com/WordPress/gutenberg/issues/38220) and other advanced options, more thoroughly considering their impact.

[2022-02-11 13:08] javierarce opened #38744 "Add congratulatory message for first posts"
Here's a proposal to influx some excitement in the publication flow and, in general, to open a debate on whether it could make sense to sprinkle the UI with other human touches.

This first proposal aims to congratulate users in certain situations, for example, when they publish their first post. However, we could also extend this idea to include specific milestones (like publishing 10, 50, or 100

[2022-02-11 13:11] oandregal commented on #38434
Fix for loading `global-styles-inline-css` in Gutenberg properly at https://github.com/WordPress/gutenberg/pull/38745

[2022-02-11 13:14] oandregal commented on #38434
@youknowriad yeah, the PRs above don't fix the issue completely. I need to look at the block styles (layout+elements) separately.

[2022-02-11 13:17] Chrico commented on #19749
Is there any update to that issue? I think enough time has passed to get some more input and feeling about the topic.

While the reasoning behind the "on publish (create) show some conditions and information before actually really publishing" makes totally sense, it could be the case that a PostType requires certain things (terms, meta, thumbnail, excerpt, ...) to be "full-filled" before it can go

[2022-02-11 13:17] zdenys commented on #15675
We have a user at WordPress.com who reports they can no longer use Overtype.

Their operating system is Windows 11. They tried overtyping mode in Chrome, Firefox, Edge and Opera. No success.
In MS Word and Openoffice Document this function is working fine.

Can this be reopened?

[2022-02-11 13:21] getdave commented on #36977
With the merge of https://github.com/WordPress/gutenberg/pull/38203 some of the UX around this is elevated. However the core issue cannot go away for the reasons I stated in https://github.com/WordPress/gutenberg/issues/36977#issuecomment-1020225327.

Therefore I propose we close this with the understanding we can now signpost users towards the "convert back to link" button.

[2022-02-11 13:21] #36977 closed, assigned to nobody

[2022-02-11 13:29] ekazda commented on #21126
How is this still an issue? It is ridiculous that Gutenberg is riddled with issues like this where settings are simply applied to blocks and elements that cannot be properly managed or removed without hacks to the system. Please start fixing bugs like this and properly documenting how to manage settings via the theme.json.