[2022-02-21 16:52] cbirdsong commented on #38694
Major agreement with @mrwweb and @Luehrsen. I also want to chime in on this bit, which gets at a pain point for me:

If this is the goal it is  _massively_ undermined anytime the editor outputs inline style values, especially when it's the only option to adjust something. To avoid de facto lock-in, there needs to be a level of abstraction between what the user can edit and what comes out on the fr

[2022-02-21 17:24] codebymikey commented on #30468
I agree that not all clients might have the capability to create custom blocks, so providing the flexibility to provide a custom "wrapping" (yet technically invalid HTML) is a very viable usecase for certain editors.

Is this something that should be feasible to implement with the current API/the way Gutenberg/React currently works?

[2022-02-21 18:37] LogicalHighs opened #38965 "Image block won'tallow wide width and left justfication"
### Description

I have been battling this one for a couple of weeks with no success. I have searched this forum and the internet in general with no luck.

When I set the group to wide width and want to text wrap around an image, the image will not go to the left side of the wide width setting, it stops at the default width and leaves empty space beside the picture.

### Step-by-step reproduction

[2022-02-21 18:44] #38869 closed, assigned to ntsekouras

[2022-02-21 19:04] annezazu commented on #38965
Thanks for opening this is issue! It seems like it's likely a duplicate of this: https://github.com/WordPress/gutenberg/issues/38802

Can you confirm? If so, I'll close this out :)

[2022-02-21 19:07] annezazu commented on #38952
Can you share more about why you're trying to do this? I imagine this is expected to not work since the pattern directory is only meant to show individual patterns :)

[2022-02-21 19:08] annezazu commented on #38932
I'm going to close this issue out as I see it as a duplicate of https://github.com/WordPress/gutenberg/issues/38219 and would love to see the convo continue there.

[2022-02-21 19:08] #38932 closed, assigned to nobody

[2022-02-21 19:09] annezazu commented on #38935
Noting that this has come up in the documentation team too :) https://github.com/WordPress/Documentation-Issue-Tracker/issues/87

[2022-02-21 19:31] annezazu commented on #30276
Honestly, I'm not sure :) In my mind, using "duplicate" should create a copy that is distinct from the original whereas "copy" should result in the same reusable block being made. In this case, there is no difference between duplicate and copy currently with reusable blocks based on my quick testing.

[2022-02-21 19:33] annezazu commented on #38557
Thanks for the video here! I'm wondering what's going on since your image dimensions are showing -1777 for width and -1918 for height 😱 . I tried to replicate but couldn't even if I tried adding duotone and text. Here's a condensed video:

https://user-images.githubusercontent.com/26996883/155016750-d6982302-f290-47db-a592-14be030d0f53.mov

[2022-02-21 19:46] annezazu opened #38967 "Explore ways of showing where template parts and templates are currently in use"
## What problem does this address?

In the latest [FSE Outreach Program's All Things Media exploration](https://make.wordpress.org/test/2022/02/02/fse-program-exploration-all-things-media/#comment-2334), the following feedback came up:

Tied to this, I've been hearing anecdotal and have personally experienced in building my own site confusion around editing one template part and then needing to go

[2022-02-21 20:21] LogicalHighs commented on #38965
This is not a duplicate of that issue. The controls are there, but do not allow selection of both wide and left justification.

Chuck

[2022-02-21 20:57] annezazu opened #38970 "Site Editor: inconsistent undo/redo behavior with navigation block"
### Description

This came up as part of the[ FSE Outreach Program's All Things Media exploration](https://make.wordpress.org/test/2022/02/02/fse-program-exploration-all-things-media/#comment-2335). Of note, there are some similar issues here: https://github.com/WordPress/gutenberg/issues/37171 https://github.com/WordPress/gutenberg/issues/37170  Across the board, there seems to be some inconsiste

[2022-02-21 21:25] TheSimArchitect commented on #30468
This would be awesome! Custom HTML is Custom HTML. We should be able to write whatever we want in those blocks without Wordpress nagging about it.

If we make certain mistakes on those blocks they still break our pages, so having that nuisance isn't helpful at all.

[2022-02-21 22:32] justintadlock commented on #38944
This is the correct behavior if you just reference a relative URL like `assets/css/editor-style.css`.  WordPress will use the file from the child theme over the parent.

I'm not sure if it's in the Codex or Handbooks, but it is documented in the code: https://developer.wordpress.org/reference/functions/get_editor_stylesheets/

Instead, use the full URL if you want both.  In the parent:

[code]

In

[2022-02-21 22:59] #38764 closed, assigned to webmandesign

[2022-02-21 23:11] andrewserong commented on #13368
@paaljoachim interesting idea and use case this one. From reading the background in the discussion here, it sounds like it's a needed feature for a bunch of people, but that the problem of how to make it usable / discoverable without interfering with the regular UX of editing content hasn't been solved from a design angle. At the block level, the Advanced panel is nicely tucked away so that it's u

[2022-02-21 23:14] smerriman commented on #13368
That part is trivial as I mentioned back in 2020. When you click the link icon, you see three toggles for controlling the link (open in new tab, nofollow, sponsored). All you need is a 4th option where you type in a class. Done.

Edit - sorry, I see you thought possibly this shouldn't be done because most people won't use it. To be honest, I've never used the 'sponsored' toggle, and it doesn't cau

[2022-02-21 23:39] andrewserong commented on #13368
I only see `Open in new tab` in the options in the link inserter within a rich text field (like the paragraph block), are the other options coming from a plugin (apologies if I've missed something there)? In the Image block's link inserter there's a dropdown toggle to expose advanced controls, which does include the option to add a custom class: (perhaps something like this could be re-used?)

![i

[2022-02-21 23:49] smerriman commented on #13368
You're right - the other two came from the Yoast SEO plugin. Whoops.

But yes, replicating that link CSS class field would be perfect.

Based on the comments above, it's true the design team didn't think most people would need it - and that's probably fair - but they also made two mistakes (thinking HTML mode was a valid workaround, which doesn't work, and thinking the mockup would be adding a con

[2022-02-21 23:52] glendaviesnz commented on #13368
@paaljoachim in the case of adding classes to an image anchor tag you can do this in the UI as Andrew shows above:

<img width="470" alt="Screen Shot 2022-02-22 at 12 48 51 PM" src="https://user-images.githubusercontent.com/3629020/155039578-03a9e0d0-6eb6-4195-be03-a696240ab320.png">

So no need to edit the html manually. In the case of the Image block, the blocks custom classes have to be applied

[2022-02-22 00:10] habarahonaa commented on #34968
Is this issue still active? I would be happy to contribute. Thanks :)

[2022-02-22 00:28] andrewserong commented on #36082
Thanks for the ping @paaljoachim — I've added this issue to the design tools overview, so it's tracked alongside some of the other Layout issues.

[2022-02-22 00:49] coreymckrill commented on #29575
Here's a screencast of [the plugin](https://github.com/WordPress/revisions-extended/) we built for WordPress.org that allows for scheduling updates to published posts, which incidentally uses the same dropdown style button:

https://d.pr/v/f2623L

[2022-02-22 00:52] noisysocks commented on #33507
Hi @ddryo, thanks for the issue and sample code. I confirmed this bug locally.

This happens because the Legacy Widget block will call `the_widget` to render the widget without passing `before_widget`, `before_title`, etc.

https://github.com/WordPress/gutenberg/blob/314c9844055220833692bd08c4d1735aca136784/packages/widgets/src/blocks/legacy-widget/index.php#L45-L48

It should be possible to chang

[2022-02-22 00:57] noisysocks commented on #33404
I'm okay with spoofing these variables for the REST API endpoints that call into `WP_Widget::widget` and `WP_Widget::update`.

[code]

Note that the changes will need to be made in Core, not Gutenberg.

[2022-02-22 00:59] noisysocks commented on #33404
Moved to https://core.trac.wordpress.org/ticket/55220.

[2022-02-22 00:59] #33404 closed, assigned to nobody

[2022-02-22 01:16] richtabor commented on #33212
You were able to add styles from the plugin with add_editor_style()?

[2022-02-22 01:46] realstephenzhao commented on #10235
404. That page can’t be found.

[2022-02-22 01:46] costdev commented on #38803
OS: Windows 10
PHP: 7.4

**Issue reproduced**
- Brave | WordPress 5.9 | TT2 | Gutenberg not active
- Brave | WordPress 5.9 | TT1 Blocks | Gutenberg not active

**Issue not reproduced**
- Chrome | WordPress 5.9 | Gutenberg not active
- Brave | WordPress 5.9 | Gutenberg 12.2.0+ active
- Brave | WordPress 5.8.3 | Gutenberg 12.0.1 active

I haven't tracked down when this was introduced or fixed.

[2022-02-22 02:34] talldan commented on #38970
Hi @annezazu 👋 I think I could reproduce this. From what I can tell, pressing undo works the first time to change the menu back. But then pressing redo doesn't seem to work. I think that's what happens in the video too.

Does one of the menus have a Page List inside of it? It's hard to tell but it looks like the Page List loading spinner might be momentarily being shown when clicking undo.

This b

[2022-02-22 02:35] talldan commented on #38957
Thanks for reporting this. There's an existing issue (https://github.com/WordPress/gutenberg/issues/38723), so I'll close this as a duplicate.

[2022-02-22 02:35] #38957 closed, assigned to nobody

[2022-02-22 02:35] maddisondesigns commented on #38219
Having to click the `+` icon and then click the `-` icon just to reset the font size is not the least bit intuitive. The older typography tools were easier to use than this new UI. Hiding functionality like this is making it considerably harder for users.

This whole UI change is a step backwards. Having to manually "add" an option like Line Height or Letter Spacing, before you can actually use it

[2022-02-22 02:38] annezazu commented on #38970
That's correct! It seems to break on undo and the page list block is what was being used in the video.

Yes, I'm seeing that "flashing" too. Thanks for digging in.

[2022-02-22 03:52] XVII commented on #38184
Let's keep this one as unable to link inline images to Media File or Attachment like their Image Block counterparts.

In-fact, the inline now shows link (compared to OP) but doesn't present the right options for this inline element.

![image](https://user-images.githubusercontent.com/446329/155060039-91c5fae7-bea3-4bac-9f6e-fe3c30564258.png)

[2022-02-22 04:04] alexstine commented on #36710
I think for this, we need to look at refactoring the code to take in to account Blocks without content editable. Tab key should not focus Sidebar until end of Block content. Can test this with focusable/tabbable I suppose.

@tellthemachines Any idea what file handles this?

[2022-02-22 04:32] tellthemachines commented on #36710
@alexstine [this](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-editor/src/components/writing-flow/use-tab-nav.js) seems to be where it's implemented.

[2022-02-22 04:41] talldan commented on #38878
I noticed there's been some previous discussion here about adding classes to links - https://github.com/WordPress/gutenberg/issues/13368.

[2022-02-22 04:43] talldan commented on #13368
A new issue was opened up here recently about classes and links - https://github.com/WordPress/gutenberg/issues/38878.

[2022-02-22 04:47] alexstine commented on #36710
@tellthemachines Which Block uses `role="region"`? It seems like there is some type of exclusion maybe... Interested to know why a specific role was searched for. That code is kind of crazy at first glance, looks like might be some work involved to figure out where in the Block content you are at any given time. Looks like this was designed specifically for older Blocks and hasn't taken new Blocks

[2022-02-22 04:53] annezazu commented on #38271
Going to close this out as the final piece of feedback around navigating nested blocks without visual guides has been covered across a few issues including: https://github.com/WordPress/gutenberg/issues/23892 Let me know if you believe anything remaining needs to be addressed though and I can reopen!

[2022-02-22 04:53] #38271 closed, assigned to nobody

[2022-02-22 05:00] tellthemachines commented on #22420
I tested this in Chrome and Safari on macOS and Chrome and Firefox on Windows 11 and it's working well now. Closing this issue; feel free to reopen if it reoccurs.

[2022-02-22 05:00] #22420 closed

[2022-02-22 05:05] annezazu commented on #38356
Thanks for reporting! I could replicate this with Gutenberg 12.6 and WordPress 5.9 when I made my screen quite small with Chrome on a Mac while in the Site Editor:

<img width="886" alt="Screen Shot 2022-02-21 at 9 04 33 PM" src="https://user-images.githubusercontent.com/26996883/155066511-2663a785-ebe1-4044-85c2-23593475c80f.png">

[2022-02-22 05:10] randhirexpresstech commented on #38952
I am trying to create meaningful page patterns for admin to use like home-page, about-page etc with the help of multiple patterns so that admin can able to create pages for website using single pattern (which consist of multiple patterns) on single click. These patterns are working fine too except issue of loading pattern in [pattern popup ](https://app.usebubbles.com/pE26gj8vxmCo5oZDBFaUWp/patter

[2022-02-22 05:11] tellthemachines commented on #36710
No block uses the region role, but the editor areas such as sidebar and content do.

[2022-02-22 05:12] annezazu commented on #38499
Hey there! Thanks for opening this issue. Can you provide more context as to what's going on? I'm not able to replicate using Seedlet, WordPress 5.9, and Gutenberg 12.6. I tested by adding a read more to a post and viewing it on the homepage. I was able to find that the read more link showed up and properly took me to the post in question.

[2022-02-22 05:13] annezazu commented on #38481
Going to close this out based on the above :)

[2022-02-22 05:13] #38481 closed, assigned to nobody

[2022-02-22 05:15] alexstine commented on #36710
Ah okay. That makes sense, probably trying to make sure nothing happens when contained within a region role I guess. Sometimes I wonder how accessible Gutenberg would be without all this tab/focus changing. Would be a crazy experiment.

Will you have time to work on this or should I give it a go after I finish my big PR?

[2022-02-22 05:19] annezazu commented on #38492
Nearly positive this matches this issue which has since been resolved: https://github.com/WordPress/gutenberg/issues/38501

Going to close out as a duplicate but thank you for opening and let me know if I somehow missed something causing this to need to remain open.

[2022-02-22 05:19] #38492 closed, assigned to nobody

[2022-02-22 05:20] tellthemachines commented on #36710
I can work on this @alexstine , will let you know once I have something ready to test.

[2022-02-22 05:27] annezazu commented on #38579
Thanks for opening this! It matches a currently open issue so I'm going to close it out: https://github.com/WordPress/gutenberg/issues/36794 Keep reporting what you find though and know it's very appreciated.

Of note, as mentioned in that issue above, "The value can be reset by clicking the three dots to the right of 'Dimensions' and then selecting the 'Reset All' option."

[2022-02-22 05:27] #38579 closed, assigned to nobody

[2022-02-22 05:28] KevinBatdorf commented on #38492
Hi @annezazu I'm not sure that's related but I'll check it out and open the issue back up if I'm still seeing it.

[2022-02-22 05:29] jordesign opened #38973 "Include "Add Page to Menu" Option to editor-post-publish-panel"
## What problem does this address?

After publishing a new page, a common next step is to add the page to the navigation menu. However, there is nothing to guide a user in the editor to go to their menu settings to add the page there. In the post-publish prompt, we can add this suggestion to smooth out the process for users.

![132798719-738859eb-2040-471a-9d1d-a5d5805dae21](https://user-images.gi

[2022-02-22 05:31] annezazu commented on #38574
Hey there! Great question. To do this, you'll want to add the Post Title Block outside of the Query Loop. From there, that will display the page title. Here's a quick video showing a poorly designed template showing what I mean:

https://user-images.githubusercontent.com/26996883/155068956-1ba8a630-3df0-4738-af0a-9c5f1c725a5b.mov

If this isn't what you meant, let me know. For now, going to close

[2022-02-22 05:31] #38574 closed, assigned to nobody

[2022-02-22 05:40] NidhiDhandhukiya commented on #38579
okay @annezazu
Thanks for the update.

[2022-02-22 06:00] annezazu commented on #38952
Ah ha gotcha. Full page patterns are still being explored currently: https://github.com/WordPress/gutenberg/issues/38787 You can see more around building with patterns in general here: https://github.com/WordPress/gutenberg/issues/38529

I'm not quite sure if what you're describing is supported yet/a best practice, which is likely why you're running into this problem. What happens if, when registe

[2022-02-22 06:26] aurooba commented on #38918
I like the original idea, conceptually, however, seeing those colour palettes in that tiny space really stressed me out. Instead I would prefer to see the following:

1. **Text labels, please** – names are highly effective tools to communicate the difference between styles. I can also see potential for replacing the two letters 'Aa' with the name of the variant itself (and perhaps also making the

[2022-02-22 06:30] randhirexpresstech commented on #38952
If, we registering, in the content copy/paste the full HTML rather than referencing the patterns there then it's just a repetition of the same code and in future, if we will have to correct or change something in patterns then we will have to do this in multiple places which is not a good code practice.
I think, reusability of patterns is the best, optimized and fastest way to implement this kind

[2022-02-22 07:22] ntsekouras commented on #38943
Ah... Okay. Some attributes depending on their source can be extracted/serialized by the js parser and this is the case for the `Button` [attributes](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/button/block.json#L12) you're referring to. Check `"source": "attribute",` etc..

[2022-02-22 07:57] oijm17 commented on #28032
workaround, throws:
[code]

Where content of the line to which the error refers is:
`import { select, subscribe } from '@wordpress/data';`

[2022-02-22 08:16] mrleemon commented on #38944
Thanks for the answer, @justintadlock!

[2022-02-22 08:23] easilyamused commented on #36127
Any status update on this bug?

[2022-02-22 08:23] maddisondesigns opened #38975 "No video controls on a Cover Block with video background"
### Description

There's no video controls in the Cover Block when it has a video background.

When you're editing the page, this is incredibly annoying as the video just constantly plays over and over again, which in turn, causes the fan on my laptop to go crazy. Editing a page shouldn't be this resource intensive.

At the bare minimum, there should be a Play/Pause control on the Cover Block tool

[2022-02-22 10:19] Mamaduka commented on #38931
@ntsekouras, do you remember the reason why tooltips are currently hidden?

https://github.com/WordPress/gutenberg/blob/19d505a4f60fa717fbfa092323fc35090b905d60/packages/components/src/font-size-picker/index.js#L147

[2022-02-22 10:26] grogou opened #38978 "Invalid block validation after save."
### Description

I am creating new block for me and after page save when I reload editor I get attempt block recovery.

When I click to resolve get this.

![image](https://user-images.githubusercontent.com/10712881/155113185-b7ce9e40-2bfd-4121-82a6-4cb9ec42335c.png)

Same thing on both sides.

### Step-by-step reproduction instructions

...

### Screenshots, screen recording, code snippet

_No res

[2022-02-22 10:56] scruffian opened #38979 "Sticky Posts not sticking"
### Description

In TT2 (and all block themes I tested) when I set a post to "Sticky" it doesn't seem to have any impact on the order that the posts are displayed in.

I first noticed this when investigating a [related issue](https://github.com/WordPress/gutenberg/pull/38422#issuecomment-1047352619), but it seems to have become more broken since then...

### Step-by-step reproduction instructions

[2022-02-22 11:03] jasmussen commented on #29575
Nice, thanks for sharing Corey. Definitely looks similar.

[2022-02-22 11:12] jasmussen commented on #38970
@getdave and I just confirmed that the Page List comes with a `Placeholder` that [has its own spinner in it](https://github.com/WordPress/gutenberg/pull/38907#issuecomment-1047674832). So that could be related.

But from what I can tell, the visual glitching is the new dashed-line placeholder design that very briefly appears in between loads. That issue should very probably be fixed by #38907. I'v

[2022-02-22 11:27] jasmussen opened #38980 "Navigation: Avoid layout shifts between placeholder and loaded menu"
The new Navigation placeholder state is simpler, but is always 48px tall, which means when you load a menu that has a different size, there's a small layout shift.

We can optimize that so the container is the same height as an eventual menu will be. That should ensure a uniform height between placeholder, the spinner that might briefly get shown, and the loaded menu.

_It likely won't always be p

[2022-02-22 11:31] jasmussen opened #38981 "Navigation / Page List: Remove Placeholder around spinner"
When the Page List block loads, it shows a spinner inside a bordered box:
![page list](https://user-images.githubusercontent.com/1204802/155123639-ed456464-31bc-4dfa-8b25-f5f02a7c7675.gif)

The bordered box appears to be a `Placeholder` container. If we remove this, the spinner should be able to sit on its own. That would mitigate some of the visual glitching mentioned in #38970.

[2022-02-22 11:32] scruffian commented on #37031
This is unfortunate, but I still think it is preferable to the previous situation where the text would always be white, even if the block/image was white making the text invisible.

One thing to bear in mind is that user still have control over the color of the text in the cover block - the idea of setting the color to black/white for them is to try to provide some clever defaults, but ultimately

[2022-02-22 11:33] jameskoster commented on #34664
I've often wondered how we might split tools based on the current editor mode. For example, perhaps in Select mode you find tools that apply to the whole block such as position, transformations, and text alignment (some of these ideas inspired https://github.com/WordPress/gutenberg/issues/31236).

In edit mode you find text tools like bold / italic, but only when you select some text. Otherwise yo

[2022-02-22 11:35] jasmussen opened #38982 "Navigation: Show the white appender/plus button when empty"
When you insert a Navigation block and click "Start empty", it collapses to zero height because the container is empty (see also #38439).

<img width="774" alt="empty" src="https://user-images.githubusercontent.com/1204802/155124072-8cab411f-f862-4f07-ad44-3248f9af7021.png">

Additionally, if you unselect the block in this state, it becomes invisible so you might forget there's a navigation there

[2022-02-22 11:35] NicoHood commented on #33374
@Luehrsen This works for me, if I have **columns inside a group**. It does **not work**, if I have a **group inside a cover**. That should be fixed as well.

[2022-02-22 12:18] paaljoachim commented on #13368
Let's see if I got this right...
Image block link settings.
![Screenshot 2022-02-22 at 13 10 36](https://user-images.githubusercontent.com/5323259/155130041-7961e8f1-cefa-4f84-9554-5bf5267bbb69.jpg)

and
A text link settings. (Shows the option "Open in new tab".) There are no settings to click to open additional settings.

![Screenshot 2022-02-22 at 13 11 12](https://user-images.githubusercontent.

[2022-02-22 12:23] getdave commented on #13368
This is clearly something that we need to consider adding.

It would be great if we could open a new Issue with:

- clear rationale for the feature
- up to date screenshots
- clear links to previous discussions

We can then keep this one closed.

[2022-02-22 12:34] paaljoachim commented on #13368
Actually we have this Link control issue:
Link Control: Add more controls.
https://github.com/WordPress/gutenberg/issues/23011

[2022-02-22 12:36] paaljoachim commented on #23011
There has been a lot of discussion in this closed issue lately:
Insert Link: consider adding an "Additional CSS Class" field to the link inserter
https://github.com/WordPress/gutenberg/issues/13368

It sounds like we also need to add a Link CSS Class similar to what is done for the link control settings with images.

[2022-02-22 12:52] paaljoachim commented on #23011
Here is a modified link control settings initially created by @richtabor
Where I also added the Link CSS Class field.

![Screenshot 2022-02-22 at 13 49 27](https://user-images.githubusercontent.com/5323259/155135722-681f7292-4a64-42a4-9223-8f86ee33bfdf.jpg)

![Screenshot 2022-02-22 at 13 49 16](https://user-images.githubusercontent.com/5323259/155135747-2edbf750-61b3-48c2-90c8-48d1f6007499.jpg)

[2022-02-22 13:03] courtneyr-dev commented on #29575
I'd love to see (and may have earlier suggested) making use of this plugin when pursuing feature parity with scheduling in Customizer. It's been stable and useful for Training & Docs.

[2022-02-22 13:14] ntsekouras commented on #38931
I can't think of any reason and especially since I was handling the message conditionally. Must have missed it 😄 . Opened a quick fix here: https://github.com/WordPress/gutenberg/pull/38985

[2022-02-22 13:14] courtneyr-dev commented on #38975
It could be useful to have a speed control option here as well when a user is creating a Cover block.  Play the video on loop at .5 speed or less.

[2022-02-22 13:49] #38981 closed, assigned to Mamaduka

[2022-02-22 14:00] richtabor commented on #16988
We're doing something similar at Extendify to add a button to the toolbar. Elementor does itself as well, Stackable — quite a few others too.

I think we should perhaps have a slot that can be used instead to clean up these additions, reduce conflicts, and also build in a method for users to turn toolbar items off/on via the Preferences modal (like we have for the block manager perhaps).

A rough-

[2022-02-22 14:25] #38931 closed, assigned to ntsekouras

[2022-02-22 14:32] jasmussen opened #38988 "Image Tools: Add dedicated toolbar section"
The crop and rotate tools for the Image block currently append themselves in the block toolbar when the edit button is clicked:

<div align="center">
<img width="365" alt="image toolbar" src="https://user-images.githubusercontent.com/1204802/155152684-5748c68c-cade-442f-bedb-374a1f7d1be2.png">
</div>
<div align="center">
<img width="451" alt="image tools" src="https://user-images.githubusercontent

[2022-02-22 14:46] jasmussen opened #38990 "Image Block: Surface aspect-ratio tool for custom image dimensions"
Many pattern designs rely on a specific dimension of an image in order to provide a compelling example. For example this circular avatar pattern:

<div align="center">
<img width="706" alt="circular avatar in a quote pattern" src="https://user-images.githubusercontent.com/1204802/189891302-3122e9f4-df52-4f1f-98a1-fe4f6f21f4dc.png">
</div>

At the moment, if you mean to update this person with a ph

[2022-02-22 16:18] htmgarcia commented on #33989
@fwazeter how do you render the html and head tags?
`echo do_blocks( file_get_contents( get_theme_file_path( '/block-template-parts/header.html' ) ) );`

[2022-02-22 16:21] htmgarcia commented on #33212
@richtabor we use `add_editor_style()` with success through our PublishPress Blocks plugin.

[2022-02-22 16:30] markhowellsmead commented on #33212
@richtabor I've attempted to enqueue a stylesheet from the theme I'm building. It doesn't work when using `add_editor_style` on the `after_setup_theme` hook. It does work with `wp_enqueue_style` on the `admin_enqueue_scripts` hook. Until 5.9, this threw a warning, but the warning is no longer visible.

[2022-02-22 16:31] markhowellsmead commented on #33212
Addendum: `add_editor_style` doesn't work on the `admin_init` hook either. I've taken the use of the `after_setup_theme` hook from the Automattic FSE themes.

[2022-02-22 16:40] amustaque97 commented on #35377
Looks like no one is working on this issue. I would love to give it a shot 😉 . Assigning to myself. 😃

[2022-02-22 17:01] leeshadle commented on #33212
@richtabor @markhowellsmead it looks like I'm able to enqueue styles in the iframed site editor ( without a warning ) via a plugin using `enqueue_block_editor_assets`.  However, I am not able to enqueue scripts inside the iframed site editor using the `enqueue_block_editor_assets` hook.

[2022-02-22 17:04] myph commented on #36834
Unfortunately, this is not working in new WordPress 5.9.1.
SVGs are rendered right after the `<body>` tag now.

[2022-02-22 17:11] alexstine commented on #38918
Text labels would be a must for this. At minimum, accessibility only labels.

[2022-02-22 17:17] mr-manuel commented on #34825
I don't know, if some one other have a better workaround, but in the meanwhile here is mine.

Create a cronjob with this command, which changes the necessary file (browser cache must be deleted after modification):

`sed -i 's/url.endsWith(".pdf");/url.endsWith(".pdff");/' /path/to/wordpress/installation/wp-includes/js/dist/block-library.min.js`

This is my cronjob entry, so that it searches 3 tim

[2022-02-22 18:36] gwwar commented on #30276
So after playing around with this last week, I think this is a little tricker than I thought to solve this for the general case. (We can of course temporarily put in a fix for navigation/templates if this is particularly urgent.)

## Some questions that I found while exploring this:

### When the "truth" of a block is no longer fully serialized, what does it mean to copy or duplicate it?

Many of

[2022-02-22 18:44] mrwweb opened #38998 "Proposal: Standardized block markup, theme.json design tokens, and CSS classes to improve interoperability"
## What problem does this address?
I have written a [blog post describing the issues this proposal addresses](https://mrwweb.com/standardized-design-tokens-css-wordpress-future/) in detail.

The overall goals are to:

1. Ensure themes have sufficient ability to customize site designs
2. Improve ability for plugins and theme switching to maintain user decisions
3. Standardize the CSS for how core b

[2022-02-22 18:47] mrwweb commented on #38694
I just [published a more detailed proposal](https://mrwweb.com/standardized-design-tokens-css-wordpress-future/) for trying to address this issue while meeting some other related needs. #38998 is the corresponding issue for the blog post.

[2022-02-22 18:50] mrwweb commented on #38167
I just opened a ticket that overlaps with many of the things being discussed here on #38998. As it relates to this ticket, I hope this can call attention to the needs of theme and plugin developers for core markups and styles to be consistent and easy to customize, both through standardized conventions in WP and with custom CSS.

[2022-02-22 18:58] fwazeter commented on #33989
It depends on what you're trying to achieve - since if you were using the above rather than simply using FSE HTML templates you could do your hooks in your .php file as you normally would, and then do the do_blocks(); line to pull from an html file for blocks.

If you're using an FSE theme, you might have to get a little creative - like a function that isn't in a template that's adding elements to

[2022-02-22 19:16] ChadReitsma commented on #38299
None of these work in 5.9.1.  It would be nice if there was a filter to disable this completely - we don't like or use Gutenberg on our client sites.

[2022-02-22 19:46] jorgefilipecosta commented on #30815
Hi @eric-michel now classes are kept during the transforms https://github.com/WordPress/gutenberg/pull/38964. I'm closing this issue. Thank you for all the insights you provided 👍

[2022-02-22 19:46] #30815 closed, assigned to nobody

[2022-02-22 20:04] paaljoachim commented on #15791
As I am currently redoing my WordPress tutorial site I am adding a lot of code into Code blocks.
I missing being able to press Tab to indent the code similar to various coding programs, or text programs. Even in Text Edit on the Mac uses Tab to indent. It seems like a standard key one uses to indent.

It would be helpful if someone is able to add Tab as a key to indent in the Code block, or in a b

[2022-02-22 20:34] douglas-johnson commented on #36834
@myph

This is working for me:

[code]

[2022-02-22 20:54] vijayhardaha commented on #36834
Since v5.9.1 ```remove_action( 'wp_body_open', 'wp_global_styles_render_svg_filters' );``` will remove the svg code.

Ref. [default-filters.php#L577](https://github.com/WordPress/WordPress/blob/7d139785ea0cc4b1e9aef21a5632351d0d2ae053/wp-includes/default-filters.php#L577)

[2022-02-22 21:29] annezazu opened #39000 "Site Editor: undo/redo causes screen to jump"
### Description

Undo/redo in the Site editor causes the editor to jump up in some situations when content is below the fold. This was found as part of the [FSE Outreach Program's All Things Media exploration.](https://make.wordpress.org/test/2022/02/02/fse-program-exploration-all-things-media/#comment-2346)

### Step-by-step reproduction instructions

1. Open site editor.
2. Add a header and a pa

[2022-02-22 21:39] annezazu commented on #30055
Noting that this has come up with WordPress 5.9 as part of the [FSE Outreach Program's All Things Media exploration](https://make.wordpress.org/test/2022/02/02/fse-program-exploration-all-things-media/#comment-2346). You can see it replicated at 01:46 in this video: https://app.koofr.net/links/481d3053-4fd1-4756-60ef-5db5b25d0ed2

[2022-02-22 21:45] glendaviesnz commented on #38998
Thanks for all your thinking and work on putting this together @mrwweb  - I wonder if this would be better as a github discussion rather than an issue in order to allow some threading of ongoing discussion on the various points?

[2022-02-22 22:13] aurooba commented on #38978
Double check that your save function is saving things correctly. :)

[2022-02-22 22:18] aurooba commented on #38979
I am able to reproduce this bug! I've tested on both WordPress 5.9 and WordPress 5.9.1, with TT2.

[2022-02-22 22:20] rielyncampbell opened #39001 "Theme Customizer Site Identity Widget Conflict"
$wp_customize->remove_section( 'title_tagline');

This hides the Site Identity section of the customizer as I'd expect but it also breaks the widget menu in the customizer for the twenty twenty theme.  Haven't tested other themes.

With this code in place and Twenty Twenty theme installed, go to the theme customizer, click on widgets and either footer.  The block editor doesn't appear like it's su

[2022-02-22 22:22] glendaviesnz commented on #37031
@scruffian, I think the main issue with this is the case that @mrwweb [notes where a theme prevents users from changing the colors](https://github.com/WordPress/gutenberg/issues/37031#issuecomment-1040700566).

[2022-02-22 22:34] aurooba commented on #38979
So there's a few things going on here. When you query posts, `wp.data.select("core").getEntityRecords('postType', 'post', {})` with no sticky parameter, it actually doesn't give you the sticky post(s) at the top. So either this should be fixed in the REST API, or we need to alter [this section](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/post-template/edit.js#L135-

[2022-02-22 22:54] jeyip opened #39003 "Button Block: Font registered from webfonts API doesn't work"
### Description

When a font is registered with the new webfonts API, the button block doesn't respect font selection.

This appears to be a conflict with button block styling specificity, and not the webfonts API.

![2022-02-22 14 51 10](https://user-images.githubusercontent.com/5414230/155233014-d2e6c751-ddfd-4f85-a446-3eab907f2fd4.gif)

### Step-by-step reproduction instructions

1. Set up the

[2022-02-22 23:41] #39003 closed, assigned to nobody

[2022-02-23 00:12] mrwweb commented on #38998
@glendaviesnz I'm unclear about the best uses of Github discussions both in general and within the Gutenberg repository. I don't want it to get lost or buried—a couple really interesting discussions seem to have very little engagement. I'm open to whatever forum/format works best for generating robust discussion and moving these ideas toward adoption.

[2022-02-23 02:09] glendaviesnz commented on #38998
Good call, the discussion side is newer and doesn't seem to get as much visibility at the moment. Let's just leave it here for now for visibility as you say, we can always fork off separate discussions for specific areas if needed.

This is really useful feedback by the way, combined with the blog post. I have discussed it with the rest of my team this morning, and we are keen to come back to you

[2022-02-23 03:55] felipevelzani opened #39006 "Select multiple blocks on the List View"
## What problem does this address?

You are not able to select multiple blocks on the List View mode, so you need to select the blocks directly on the content editor if you want to select multiple blocks.

## What is your proposed solution?

Bring the option to select directly on the List View by using Shift or something like that.

[2022-02-23 04:02] glendaviesnz commented on #39006
Thanks for taking the time to suggest this. A [PR for this was merged 5 days ago](https://github.com/WordPress/gutenberg/pull/38314), so it should be available in the next release of the plugin.

[2022-02-23 04:02] #39006 closed, assigned to nobody

[2022-02-23 04:07] maddisondesigns commented on #38975
An option to control the playback speed is a great idea as well.

[2022-02-23 04:14] glendaviesnz commented on #38954
Thanks for reporting @tyrann0us. This is already being looked at [here](https://core.trac.wordpress.org/ticket/55203) and [here](https://github.com/WordPress/wordpress-develop/pull/2336), so going to close this one.

[2022-02-23 04:14] #38954 closed, assigned to nobody

[2022-02-23 05:10] noisysocks commented on #30276
I believe that this is expected behaviour. Perhaps though we ought to make it clearer in the interface that these kinds of blocks are "pointers" to an external bit of content. The Navigation block attempts to do so via the _Select menu_ dropdown.

<img width="479" alt="Screen Shot 2022-02-23 at 16 08 31" src="https://user-images.githubusercontent.com/612155/155264722-e6b6d97d-a0e9-4b44-8f6b-da9960

[2022-02-23 05:19] gregdev commented on #34825
It's for issues like this that people (in this case rightfully) blast Gutenberg. This is a major usability issue.

[2022-02-23 05:19] ramonjd commented on #38975
Setting `autoPlay` to `false` on the video element in [Cover Block edit.js](https://github.com/WordPress/gutenberg/blob/922976bbe95c4ab4da06cb9d7e5e25d98f1d398c/packages/block-library/src/cover/edit.js#L758) will stop the video, but yes, it would be better to have a control to toggle this in the editor.

We'd also want the autoPlay setting to be reflected on the focal point picker as well:

<img w

[2022-02-23 06:26] #37534 closed, assigned to ntsekouras

[2022-02-23 06:59] Robertght commented on #38637
I experienced this recently as well, but the text was copied from a page created with Gutenberg and added that inside a post later.

In this case, it only appears in Firefox.

[2022-02-23 07:14] grogou commented on #38978
@aurooba it is my `save.js` is there anything wrong?

[code]

[2022-02-23 07:25] akkis commented on #38299
I use the first solution from this link: https://core.trac.wordpress.org/ticket/54941#comment:6

[2022-02-23 07:32] aristath commented on #33989
Also worth noting:
In WP 5.9, 2 new functions were included, `block_header_area()` and `block_footer_area()` that you can use instead of `echo do_blocks( file_get_contents( get_theme_file_path( '/block-template-parts/header.html' ) ) );` 👍

[2022-02-23 07:39] tyrann0us commented on #38954
Thanks a lot @glendaviesnz! Before creating this issue, I was searching for existing issues in both Trac and GitHub. Either I used the wrong search terms or too much time passed after I realized the bug and before I found the time to report it 😉 🤷🏽

[2022-02-23 07:44] MarieComet commented on #38943
I'm not sure to understand, but I'm in PHP, not JS to use the parser.

[2022-02-23 07:44] #38943 closed, assigned to nobody

[2022-02-23 07:50] wkhayrattee commented on #16909
hey everyone, the last comment was a year ago, wanted to know if there has been any update to address the aim of this thread?

[2022-02-23 08:06] ntsekouras commented on #38943
Yes, so I think you should manually parse to extract some attributes like that. I don't believe there is some util or something in `core` code, but not 100% sure.

[2022-02-23 08:07] audrasjb opened #39008 "Excessive <svg> elements? As of 5.9.1 Release - Not present in 5.9."
### Description

This was reported on Trac. Copy-pasting from https://core.trac.wordpress.org/ticket/55231
Props mvaleno for the original report.
---
This is a before and after.

Started with WordPress 5.9 updated to 5.9.1 and I see a bunch of <svg> elements before the wp-site-blocks <div> element.

One of these <svg> elements looks like this when expanded in the inspector:
[code]
There are many!

[2022-02-23 08:08] jasmussen commented on #38911
I suspect that https://github.com/WordPress/gutenberg/issues/38980 will help with the navigation block in most of the cases, at least, and I'll take a look at that when I get a moment.

[2022-02-23 08:12] MarieComet commented on #38943
Yes, that's what I'm doing, parsing block content.
Thanks for your response.

[2022-02-23 08:19] ntsekouras commented on #38322
👋 Actually I could reproduce in macOS, before this fix: https://github.com/WordPress/gutenberg/pull/38991. Can you verify that the issue has been resolved with the above merged fix? If yes we should close the issue.

[2022-02-23 08:19] Mamaduka commented on #39008
Thanks, @audrasjb.

Possibly duplicate of #38299. I think this will be resolved via #38681.

[2022-02-23 08:20] ntsekouras commented on #38207
👋 Actually I could reproduce in macOS, before this fix: https://github.com/WordPress/gutenberg/pull/38991. Can you verify that the issue has been resolved with the above merged fix? If yes we should close the issue.

[2022-02-23 08:28] #34213 closed, assigned to Mamaduka

[2022-02-23 08:45] ntsekouras commented on #38207
👋 Actually I could reproduce in macOS, but it seems it's been resolved with this fix: https://github.com/WordPress/gutenberg/pull/38991. I'm closing this now, but feel free to reopen if it still persists.

[2022-02-23 08:45] #38207 closed, assigned to nobody

[2022-02-23 08:46] ntsekouras commented on #38322
👋 Actually I could reproduce in macOS, but it seems it's been resolved with this fix: https://github.com/WordPress/gutenberg/pull/38991. I'm closing this now, but feel free to reopen if it still persists.

[2022-02-23 08:46] #38322 closed, assigned to nobody

[2022-02-23 08:54] oldrup commented on #36834
That looks promising. Thank you SO much for sharing, @douglas-johnson and @vijayhardaha

I struggle to get it to work, though. Pasting the code into Code Snippets (where I've got other minor snippets working fine btw), like this:

![image](https://user-images.githubusercontent.com/17141205/155287299-02e8629b-45b6-4fa0-b943-2ca77702fa74.png)

No effect. What am I missing?

[2022-02-23 09:07] tomasztunik opened #39010 "Global styles override block level element styles when in Editor"
### Description

If we have global styles applied for block color `text` and `link` and then provide local block style overrides by changing the color of the `link` the global styles take higher precedence because of css selector higher specificity and override local styles.

Styles for block level selectors work fine, just element level styles fail to be resolved proeprly.

This is related to oth

[2022-02-23 09:18] pansamolot opened #39011 "The "Apply duotone filter" button jumps to the end after changing image alignment"
### Description

When you paste or upload new image, the "Apply duotone filter" button is first in the row of buttons in a corresponding image's toolbar. When you change image alignment, it "jumps" to the end all buttons and becomes last in this toolbar.

_I have a weird feeling that I've already reported this and even more weird that it was already fixed, so it might be a kind of regression. But

[2022-02-23 10:07] scruffian commented on #37031
Ah yes I see. I'm not sure if a filter to disable this behaviour is a solution either though, as problem would still exist when the image was light...

[2022-02-23 10:14] maddisondesigns opened #39015 "New Color Settings UI covers too much content"
### Description

Why was the UI for the Color Settings changed so dramatically in the WP 5.9.1 release, when it's supposed to be a Security/Maintenance release?

Color Settings in WP 5.9
![paragraph-block-wp59](https://user-images.githubusercontent.com/2078245/155297875-e76c8f54-8fb2-4a6f-a970-0422b7571614.jpg)

Color Settings in WP 5.9.1
![Gutenberg Color Controls Cover Content](https://user-imag

[2022-02-23 10:31] wpgaurav commented on #36834
Hi @oldrup , the code is incorrect. It should look like this:
![CleanShot 2022-02-23 at 15 59 26](https://user-images.githubusercontent.com/3599257/155302027-42dd9c0b-3fbc-45c9-8364-dc0759a1b81a.jpg)
The right code will be:

[code]

[2022-02-23 11:45] IIM-Arvid commented on #12907
Hi,

thanks for reopening the ticket. There are still problems mit other languages when saving the post as a draft. As stated in #16695 by @uok german "Umlauts" are not treaded properly (tested in 5.9.1).
When creating a new post and entering a title like "Am nächsten Tag" and saving the post as a draft, the JS function mentioned above ( cleanForSlug() ) creates the slug "am-nachsten-tag" which is

[2022-02-23 12:14] scruffian commented on #38979
I think an API fix makes sense.

[2022-02-23 12:20] Mamaduka commented on #29864
Thank you, @mtias.

Do you have an existing capability or role in mind for this, or should we introduce a new capability?

[2022-02-23 12:23] oldrup commented on #36834
That did the trick @wpgaurav! Thank you so much for helping me out with my amateurish function.php edits 🙏

I'll do more thorough tests with different themes and the Gutenberg editor (which I still use with non-FSE themes) to see if this approach have any negative consequences. But it sure looks good. Thanks again.

[2022-02-23 13:04] hypest commented on #38407
Updated parent post with:
### 🔎 Main focus
++ Working on the Drag and Drop project

### 🚀  Recently wrapped items
++ Renamed `develop` branch gutenberg-mobile to `trunk` (and old `trunk` got retired)

### 🛠️ Recently fixed or improved
++ https://github.com/WordPress/gutenberg/pull/38752
++ https://github.com/wordpress-mobile/gutenberg-mobile/pull/4575

[2022-02-23 13:06] lumaypl opened #39020 "URL UI edit Error"
### Description

There is problem with edit long URL in Guttenberg Editor - details on screenshot:
<img width="975" alt="Zrzut ekranu 2022-02-23 o 13 56 36" src="https://user-images.githubusercontent.com/60925113/155324374-064f9168-ca2c-4c83-a8a6-8081ccd20f37.png">

### Step-by-step reproduction instructions

1. Got to Editor
2. Add long URL for text (more than 60 characters in URL)
3. Try edit UR

[2022-02-23 13:08] getdave commented on #38275
## Update 23rd Feb 2022

* [Exploration continues](https://github.com/WordPress/gutenberg/pull/38465) around https://github.com/WordPress/gutenberg/issues/36667.
* `Select menu` now [filters out any currently selected Menu](https://github.com/WordPress/gutenberg/pull/38916) to avoid accidental creation of duplicate Navigation posts.
* Work continues on https://github.com/WordPress/gutenberg/issues

[2022-02-23 13:16] bliebek commented on #36471
@gziolo what's the point of sticking to `md4` here? Maybe the solution can be as simple as adding hashFunction as a plugin parameter and providing `md5` as fallback:
[code]

[2022-02-23 13:22] gziolo commented on #36471
We still support Node v12 and webpack v4, if `md5` works with both, then we can simply switch the algorithm. I don't think we need to expose it as an option.

[2022-02-23 13:40] bliebek commented on #36471
I think it's neither the matter of node nor webpack version, but it's determined by OpenSSL version installed, see:
https://nodejs.org/docs/latest-v12.x/api/crypto.html#crypto_crypto_createhash_algorithm_options
https://nodejs.org/dist/latest-v17.x/docs/api/crypto.html#cryptocreatehashalgorithm-options

[2022-02-23 13:45] wolffe opened #39021 "Super broad selector for images max-width on WP 5.9.1 breaks image width"
### Description

This was reported on Trac.
Copy-pasting from https://core.trac.wordpress.org/ticket/55229
Props hvianna for the original report.

I recently updated to WP 5.9 and noticed some undesired behavior on images in my custom theme, caused by the CSS declaration below (from `./wp-includes/css/dist/block-library/style.min.css`):

[code]

This causes images that would previously overflow a

[2022-02-23 14:03] gziolo commented on #36471
Feel free to open patch and we will take it from there 👍🏻

[2022-02-23 14:30] casaschi commented on #37754
Any progress on this? WP 5.9.1 is out but this issue has not been addressed yet.

[2022-02-23 14:39] javierarce commented on #38911
We also have this problem in other places where we load patterns: [Improvements to pattern loading #36491](https://github.com/WordPress/gutenberg/issues/36491)

[2022-02-23 14:53] Mamaduka opened #39024 "Block template resolution isn't working on Windows"
Originally reported on Twitter by @gmazzap. Thank you, Giuseppe.

So templates inside "template/" subfolders are not found on Windows.

https://twitter.com/gmazzap/status/1496037481069916160

[2022-02-23 15:21] draganescu commented on #30276
It is expected, but it feels unexpected. Reusable blocks are helped by their name. It's expected that if you have a reusable "thing" and you edit it, the edit will be visible across all the places where you "reused". But for the navigation block it's unclear, only from the "Select menu" toolbar item that editing it's copy changes the "original".

But I think @noisysocks has a point in that  maybe

[2022-02-23 15:27] slr1979 commented on #36834
@wpgaurav Thank you for the fix for global styles. I am working with a theme that behaves fine in 5.8.3 but is struggling on > 5.9.

The removal of the global styles has resolved some of my issues but still having issues with Duotone filters on frontend. My theme was designed to use pjax and from quick look at the source it appears duotone inline styles are now in the footer rather than inline wit

[2022-02-23 15:38] overclokk commented on #38998
This is something I asket months ago but no one answered me #33806

And here for naming things:  #29568

[2022-02-23 15:44] delowardev opened #39026 "List View: Removing a block doesn't update selection."
### Description

Removing a block from `List View` is supposed to select the previous block, but currently, it doesn't select any block.

Please check the code snippet below, here `updateSelection` callback is doing nothing because it gets called with the `undefined` clientId param.

https://github.com/WordPress/gutenberg/blob/9f73be0aad5ac81e4798aef9666849b3e7ed3e0c/packages/block-editor/src/comp

[2022-02-23 15:47] vijayhardaha commented on #36834
### For version 5.9.1
[code]

### For version 5.9.0 or less
[code]

### If for some reason code doesn't work then use code like this

[code]
OR
[code]

[2022-02-23 15:53] sanzeeb3 commented on #38940
@ntsekouras can we reopen this? It's incorrectly linked to PR which doesn't fix this particular issue.

[2022-02-23 15:59] gwwar commented on #38637
Hmm, I still didn't have luck reproducing on Firefox. I'll maybe try to bulletproof the slug creation logic to remove the object replacement character, and ask y'all to test in a bit.

[2022-02-23 16:04] draganescu commented on #38950
Tested in Safari and the bug is not present, so looks like a Firefox issue.

[2022-02-23 16:10] cbirdsong opened #39028 "Themes should be able to offer "packages" of complementary color options"
## What problem does this address?

For novice users, the color panel is getting pretty overwhelming:

![CleanShot 2022-02-23 at 08 51 32](https://user-images.githubusercontent.com/1672206/155343689-2fa87037-e820-4da1-8bd7-170d38c25a83.png)

For advanced users, it's easy to make a mistake when customizing a block to match another part of the site, leading to design inconsistencies.

The typography

[2022-02-23 16:23] gmazzap commented on #39024
Thank you @Mamaduka

First, sorry for the obvious typo in the tweet (it's `templates/`)

## How to reproduce

In a vanilla WP 5.9 installtion, add the following to the twentytwentytwo `functions.php`:

[code]

Then edit/create a page in WP, and select the "My Custom Template" template.

Now, in the twentytwentytwo `templates/` folder, create the `my-folder/` folder, and add a `my-template.html` te

[2022-02-23 16:45] dgwyer commented on #38553
Thanks for this PR!

I came across this today while trying to use `vectorEffect` and `strokeWidth` in the block `save.js` component. They get converted to `vectoreffect` and `strokewidth` which is obviously incorrect and breaks styling.

[2022-02-23 16:56] ntsekouras commented on #38726
Thanks for issue @sadikmultani! I'll close this as duplicate of https://github.com/WordPress/gutenberg/issues/37407

[2022-02-23 16:56] #38726 closed, assigned to nobody

[2022-02-23 17:00] hvianna commented on #39021
Thanks @wolffe for opening the issue here.

Below are some screenshots, using Kwicks Slider:

WordPress 5.8.2:
![wp-5 8 2](https://user-images.githubusercontent.com/1033735/155368547-8cd6854f-6c3b-430e-90e7-f31edc586648.png)

WordPress 5.9:
![wp-5 9](https://user-images.githubusercontent.com/1033735/155368544-995a738c-8d96-420a-a1bc-1b0e8976dfdb.png)

[2022-02-23 17:05] cbirdsong commented on #38998
I'm **super excited** about this idea in general. The lack of this kind of standardization has been a huge pain point with Gutenberg and honestly had us looking at other CMS options.

Some further thoughts from the perspective of an agency developer writing custom themes for clients:

### Themes should be able opt out of using some or all of these design tokens.

A theme that is all in on bold typ

[2022-02-23 17:07] ChadReitsma commented on #38299
Comment #6 doesn't work.  They SVG output appears to be in the body now.

[2022-02-23 17:11] Mamaduka commented on #38299
Hi, @ChadReitsma

Can you try the following snippet for 5.9.1?

[code]

Also related PR - #39018

[2022-02-23 17:12] mvaleno commented on #39008
Thank you @audrasjb  for putting this in the right place! Was my first ticket... hehe. @Mamaduka, this issues may be related as it appears the svgs are for the duotones, but does not occur in 5.9, only in the 5.9.1 update.

So, idk but it is a drastic amount of clutter before the web page container (div class="wp-site-blocks".) I would not think it is a notable performance hit. However, I been wai

[2022-02-23 17:17] Mamaduka commented on #39008
Thanks for contributing, @mvaleno.

Currently, we're trying to improve conditional checks that Duotone depends on to render required SVG filters.

There's also a new PR that will conditionally disable Duotone for Block Themes when it's not used on page - #39018.

[2022-02-23 17:37] critterverse commented on #29864
I took a pass on the modal mentioned above and how it might work in the lock/unlock flow.  Here’s how the design of the modal could look:

<img width="100%" alt="modal" src="https://user-images.githubusercontent.com/77359364/155371335-f13c7b20-d1a0-4ffa-bca0-1a151aa4b9eb.png">

- It uses a checklist system like the one used in Preferences → Blocks → Visible Blocks
- We could use the block type in

[2022-02-23 17:39] TimothyBJacobs commented on #38667
I've also seen this behavior. It is a regression from 5.8. I believe this is because device previews are now rendered in an iFrame as of 5.9. It looks like the `children` internal component state is lost when they are rendered into an iFrame.

This can cause a frustrating UX when trying to adjust a particular setting while checking how it looks in each viewport.

Is there a way that we can maintai

[2022-02-23 17:40] TimothyBJacobs commented on #33346
Cross-referencing a 5.9 regression: #38667.

[2022-02-23 18:13] leclaeli commented on #29864
I just want to echo my support for more granular locking control. I work at a large university with several hundred WP sites under one multisite network. We have hundreds of content authors so being able to control what can be edited is an ongoing concern.

As we move sites over to a more block based theme we have run into issues with reusable blocks being unintentionally updated and have mostly a

[2022-02-23 18:38] mkkeck commented on #38299
Why not putting the duotone stuff from core to Twenty themes?

[2022-02-23 18:54] mirka commented on #38788
Closed by #38948

[2022-02-23 18:54] #38788 closed, assigned to ciampo

[2022-02-23 19:07] dmsnell commented on #30276
when asked to think through this I was unable to find a clear way to express the expectations. whether we assume the clones impact their source or the opposite I find that there are instant problems, problems probably not easily solvable by choosing for someone how the clone should relate.

we could give people the choice and avoid the questions about that by asking "You are duplicating this block

[2022-02-23 19:42] glendaviesnz commented on #38998
Some more discussion about this here https://wptavern.com/the-case-for-a-shared-css-toolkit-in-wordpress

[2022-02-23 20:00] adnanwk opened #39035 "Contributors not showing in the Author box on 5.9"
### Description

All users must be displayed in Author box in new post, but only those who have publishing rights are being displayed.

I have updated my multi-author website twice on 5.9 from 5.8

On the first attempt, I was running php 7.3, upgraded to wp 5.9
On the second attempts after a month, I switched to php 7.4, upgraded to wp 5.9.1

In both attempts, in the author list (author box) of ne

[2022-02-23 20:29] annezazu commented on #38637
I can replicate this repeatedly in Chrome when pasting into the Post Title. Most recently could replicate on the Make Network when writing a post for Make Test.

[2022-02-23 20:32] gwwar commented on #38637
@annezazu do you see the same behavior in this branch? https://github.com/WordPress/gutenberg/pull/39033

[2022-02-23 20:43] richtabor commented on #39028
Just checking, but are these "packages" a separate train of thought from style variants (other theme.json files within a theme)? Or are you just referring to the controls themselves?

[2022-02-23 21:05] landwire commented on #32507
I would also like to see the alignment options cleaned up. At the moment it's a muddle of alignment and widths.
Could we have width options: default, wide, full (extendable with any custom width like "narrow")
and separate alignment option: left, center, right

[code]

[2022-02-23 22:17] richtabor opened #39037 "Add preview link to snackbar notice when saving a draft"
## What problem does this address?
When saving a draft, I can't easily view a preview of the post from the snackbar notice — it just says "Draft saved." Instead, I have to use the control within the editor header "Preview" dropdown.

## What is your proposed solution?
When a post is a draft, add a "View Preview" link within the existing "Draft saved" snackbar notice. That way publishers may quickl

[2022-02-23 22:31] cbirdsong commented on #39028
The impression I had gotten was that style variants were sitewide palette swaps, and packages would be available on every block. "Presets" might be a more clear name for them, as they would only use options already registered with theme.

Practical example for colors: When selecting a block and opening the color panel, a user would first see the theme's defined packages/presets to choose from, in

[2022-02-23 22:45] camilopbam commented on #34867
This seems to be fixed on WP 5.9

[2022-02-23 22:51] markhowellsmead commented on #28809
This error occurred for me too: the solution was to run `export NODE_ENV=development` first. If the `NODE_ENV` isn't `development`, the `npm install` command doesn't install the development dependency `@wordpress/scripts`. cc @talldan.

[2022-02-23 22:59] ChadReitsma commented on #38299
Ah. THANK-YOU, that worked!

[2022-02-24 00:24] noisysocks commented on #30276
Worth noting too that reusable blocks have a few UI affordances which are intended to convey this:

- A blue outline around the block.
- A blue overlay when hovering over the block.
- When clicking the block, the name of the reusable block is shown. A second click is required to edit the content.

[2022-02-24 00:30] dmsnell commented on #30276
that's good, @noisysocks, but in the context of menus I would imagine there's a great need to not only convey when a block is a linked clone but also when to convey that it's independent. it seems like a very reasonable expectation that if you clone an entire menu and then change an item in one submenu, then the menu from which it came also gets the update. I'm imagining a site with a separate men

[2022-02-24 00:41] tellthemachines commented on #36710
I started looking into this, but realised am not super clear on what the expected interaction should be for container blocks that have multiple inner blocks.

We want to be able to tab to any block inserter that's inside the container, but if the container also has inner blocks, should we skip those, and just tab straight to the inserter?

The problem with making it possible to tab through inner b

[2022-02-24 01:19] jeremyfelt commented on #33542
I've had a hard time tracking down why [`viewScript` is ignored when `render_callback` is used](https://github.com/WordPress/wordpress-develop/blob/44ec790fe60a94845d195d0e1d0ce7e8b4281747/src/wp-includes/class-wp-block.php#L266). Is that a necessary condition?

If so, I could see it being worth adding a note in the `viewScript` schema documentation and/or [its area of the documentation](https://d

[2022-02-24 01:44] alexstine commented on #36710
@tellthemachines I was thinking that the Navigation Mode could still be used for switching from Block to Block and eventually the Navigation Mode could be replaced with the List View. My main focus for this is to make sure you can Tab through Blocks to even get to a point where inner Blocks can exist. E.g. if I insert a Navigation Block but can't select a menu with Tab, there will be no inner Bloc

[2022-02-24 03:55] CucumberKid commented on #39035
I have exactly the same issue. When I try to change the author in the admin view, I only see the system administrators (those who have permission to publish) and not my other 350 users who have various use rights including editing. This is following an upgrade from 5.8 to 5.9.1. I have tried disabling all the plug-ins and the error still persists.  Downgrading to 5.8 using WP Downgrade resolved th

[2022-02-24 04:03] github-actions[bot] opened #39040 "[Flaky Test] should select previous block after removing currently selected one"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should select previous block after removing currently selected one

## Test path
`specs/editor/various/list-view.test.js`

## Flaky rate (_estimated_)
`0 / 0` runs

## Errors

<details>
<summary>
	<time datetime="2022-02-24T04:03:49.468Z"><code>[2022-02-24T04:03:49.468Z]</co

[2022-02-24 04:16] tellthemachines commented on #38169
Looks like what's happening is the toolbar re-renders when the nav block contents are replaced, causing the button that focus should be returned to to disappear from the DOM.

[2022-02-24 04:20] noahtallen opened #39041 "Several Gutenberg packages don't provide peer dependencies requested by other gutenberg packages"
### Description

When running `yarn install` in a repo which includes every single WordPress dependency, I get several peer dep errors in the output (full output below). Some are unavoidable, but many come from internal peer dependency requests. For example, `@wordpress/compose` specifies that `react` is a peer dependency, but `@wordpress/annotations` (which dependc on `@wordpress/compose` doesn't

[2022-02-24 04:56] eric-michel commented on #30815
@jorgefilipecosta that's fantastic! Much appreciated!

[2022-02-24 05:08] Mamaduka commented on #29864
Thank you, @critterverse, for the fantastic design update 🤩

I plan to start working on the UI parts of this feature next week.

[2022-02-24 05:43] talldan opened #39044 "`useNoRecursiveRenders` can cause all of its children to be unmounted from the DOM"
### Description

Discovered when debugging https://github.com/WordPress/gutenberg/issues/38169.

As the title says, the `RecursionProvider` returned by `useNoRecursiveRenders` can cause all of its children to unmount and remount from the DOM, which can lead to issues like focus loss, and may also be bad for performance.

The explanation for this is a little lengthy, so buckle in.

The first import

[2022-02-24 07:19] talldan commented on #38978
@grogou There should be more information about the problem in the browser console. Would you be able to share the console messages? Thanks.

[2022-02-24 07:30] grogou commented on #38978
@talldan the only message is validation error.
![image](https://user-images.githubusercontent.com/10712881/155478346-e79cde9c-0818-497b-9887-e24866ba60f6.png)

[2022-02-24 07:44] #39041 closed, assigned to noahtallen

[2022-02-24 08:13] gziolo commented on #38138
Resharing the conclusion from #38139:

[2022-02-24 08:22] maddisondesigns commented on #38252
This issue still wasn't fixed in 5.9.1

[2022-02-24 08:35] oguilleux opened #39047 "WP css styles are not checked if defined"
### Description

In a gutenberg editor mode I get this error in my console : `TypeError: l.styles.forEach is not a function`

This is because I used this hook to remove unwanted gutenberg css :

[code]

You should check if styles exist before using forEach or add a warning with explainations. Result is a blank page.

### Step-by-step reproduction instructions

1. Add this hook
2. Go to a page usin

[2022-02-24 08:46] grogou commented on #38978
@talldan but when link attribute is not set, it works correctly, I just need to understand how this validation works, because resolve show me no conflict or something wrong.

[2022-02-24 09:11] talldan commented on #38978
Yep, this is the information you need to figure out why your block is invalid.

It shows what was saved to post content at the bottom.

Invalid blocks happen when the block editor tries to take your block in the post content and parse it. It'll find (or source) each of the attribute values in that HTML. To test that it did that correctly it calls your save function again with those attributes it f

[2022-02-24 09:40] grogou commented on #38978
@talldan yes sure.
[code]

[2022-02-24 09:50] grogou commented on #38978
Attempt block recovery happens only once, when I insert block and save it, after reload I get recovery, after recovery and save the next reloads render block correctly.

[2022-02-24 09:53] grogou commented on #38978
This is case when link attribute is not set, but when I set link attribute, recovery comes for every reload.

[2022-02-24 10:31] grogou commented on #38978
@talldan is there a way to debug validation process.

[2022-02-24 10:54] draganescu commented on #32629
Yes, excellent, I believe the problem was found when we did load the styles.

[2022-02-24 11:28] grogou commented on #38978
@taldan problem solved.

After save idk why in db I found this
![image](https://user-images.githubusercontent.com/10712881/155515775-8e7856e2-886c-4a82-af88-385cdf2e7183.png)

It is generated by someone idk how adn why xd.
So I added it to my save function and problem solved.
Thank you all for help

[2022-02-24 11:28] #38978 closed, assigned to nobody

[2022-02-24 12:15] mcsf commented on #15791
Not anytime soon, unfortunately.

[2022-02-24 12:33] gziolo commented on #25188
I opened #39049 which tries to address the following issues raised by @ryanwelcher:

[2022-02-24 12:38] #35377 closed, assigned to amustaque97

[2022-02-24 13:22] delowardev opened #39051 "Block validation issue"
### Description

**Previously reported in** https://github.com/WordPress/gutenberg/issues/38978

In the `save` function if someone uses an anchor tag (`a`) with `target='_blank'` attribute, it shows the `Attempt Block Recovery` screen on every reload.

**Cause:**

if there is a `target='_blank'` in the anchor tag, it adds `rel='noopener'` in the `block.originalContent` automatically which causes t

[2022-02-24 13:31] scruffian opened #39052 "Improve theme.json support for Navigation block"
## What problem does this address?
There are many settings available to the navigation block which cannot be customized in theme.json. It is beneficial to themes to be able to style blocks via theme.json rather than in block settings, as it means themes can share patterns and simply modify the navigation via theme.json, rather than each theme needing to create its own header to adjust the navigati

[2022-02-24 13:36] dozentis commented on #37981
Nice, that you mentioned this issue, I am also annoyed by this  and wanted to report. (I had to recolor 10 blocks lately, and when inserting the hex value, I kept accidentally coming up with copy instead of edit

Four clicks and a long way with the mouse to paste a color value from clipboard. (screenshot WP5.9.1)

![colorpicking1](https://user-images.githubusercontent.com/98828023/155534040-185a19

[2022-02-24 13:38] dozentis commented on #37981
My suggestion for quicker copying the color-value

![copy-color](https://user-images.githubusercontent.com/98828023/155534633-5e33c800-402d-4d8f-9443-97d841e507e5.jpg)

[2022-02-24 13:43] scruffian opened #39053 "Calendar block: Add support for theme.json settings"
It would be great to give theme.json control over some aspects of the calendar block, specifically:

- Caption text color
- Table heading text color and background color
- Main area text color and background color
- Borders

[2022-02-24 13:56] dozentis commented on #37981
And there is a little bug when copying a color by click from there and paste to another place. If you paste a copied color you'll notice that it pastes the hex sign too and the color becomes invalid.

![colorpicker-paste-bug](https://user-images.githubusercontent.com/98828023/155537502-f9c4d2e9-3c0b-4d94-bb65-a7655d586209.jpg)

[2022-02-24 14:08] slr1979 opened #39054 "wp_render_duotone_support() in > 5.9 prevents duotone filters being applied when loading page content with ajax."
### Description

I am using a 3rd party theme which uses ajax/pjax page reloading. On upgrading from 5.8.3 to 5.9 and 5.9.1, I noticed that my images with duotone filters were no longer been applied when refreshing of content via ajax/pjax.

The wp_render_duotone_support() filter in > 5.9 does not allow any scope for use cases such as these and does not allow theme developers to control how/where

[2022-02-24 14:22] jsnajdr opened #39055 "__experimentalBlockPatterns: can we load them with REST API?"
The HTML document generated for the `/wp-admin/post.php` page, i.e., the block editor, contains a very large (200-500kB depending on site setup and plugins) inline script with block pattern definitions:
[code]
On one my testing site (Core + Jetpack + Woo) the size of the block patterns JSON is 220kB, on another (WP.com Atomic) it's 510kB. Most of the size are `.content` attributes with the pattern

[2022-02-24 14:36] gziolo commented on #27565
I added all necessary changes to close this issue in #39049.

[2022-02-24 15:22] tyrann0us commented on #9731
Hi @youknowriad,
any chance to have another look at this issue? We are facing the exact same issue: Having to also add the `rel` attribute when adding the `target` attribute. Not a big deal, but annoying still.

The solutions suggested by @cngodles and others seem to be useful; would be great to see them incorporated. Thanks!

[2022-02-24 15:59] kerrynicl opened #39057 "File blocks show error in editor when added in columns without file name"
### Description

When you add a File block inside of a column and leave the file name blank, returning to the editor shows an error "This block contains unexpected or invalid content" with a button to "Attempt Block Recovery"
<img width="804" alt="Screenshot on 2022-02-24 at 10-57-01" src="https://user-images.githubusercontent.com/83325600/155560085-7435e84f-d502-4e10-bb7b-83b3b46deb31.png">

What

[2022-02-24 16:19] chrismcginnis commented on #29401
Also having this issue. Attempting to add an anchor tag under the Advanced tab here: https://i.imgur.com/u3a9iAY.png but it will not save.

[2022-02-24 17:04] richtabor commented on #38988
I think its definitely a better experience than what we have today.

What I'm a bit hesitant on though is the "Back" button, which looks/feels just like the parent block selector we have in place:

<img width="972" alt="CleanShot 2022-02-24 at 12 01 55@2x" src="https://user-images.githubusercontent.com/1813435/155571791-c69927ca-dabe-4bbd-83b1-83f8e32a5e0a.png">

What's the objection to having a p

[2022-02-24 17:20] richtabor opened #39062 "Grouping a Group block"
## What problem does this address?
Upon building out Twenty Twenty Two, we found that placing group blocks within group blocks is a fundamental part of building out a block theme; particularly with headers/footers/templates. [Here's an example](https://github.com/WordPress/twentytwentytwo/blob/trunk/parts/header.html) of the header in TT2, with group > group blocks.

Today, to put a group block in

[2022-02-24 17:28] scruffian commented on #29976
All of these issues were fixed I think we can close this.

[2022-02-24 17:28] #29976 closed, assigned to nobody

[2022-02-24 17:37] scruffian opened #39063 "Global Styles: Allow themes to give all blocks a particular "Block Style" using theme.json"
## What problem does this address?
Sometimes themes want to be able to set all instances of a block to use a particular block style.

## What is your proposed solution?
We should make this possible to do via theme.json so that themes can opt in to block styles for all blocks.

I imagine the syntax to look something like this:

[code]

[2022-02-24 17:38] richtabor opened #39064 "Add visual cue when dragging a block into an empty Group block"
While we actually can drag and drop another block into an empty Group block, **there's no visual** to indicate that its possible.

## Proposal
Add a design visual when dragging another block over an empty group (or columns) block. We can use the same DropZone styling and animations to "fill" the empty inserter and add the + icon.

## Visuals

#### Proposal
https://user-images.githubusercontent.com

[2022-02-24 17:51] richtabor opened #39065 "Dropping a block into an empty Group/Column block from the List view"
## What problem does this address?
In an effort to explore how we can continue to improve the List view experience, I found that it's not currently possible to drag another block into an _empty_ Group, or Column, block from the List view.

## What is your proposed solution?
Perhaps empty Group and Column blocks should be treated differently within the List view, where when dragged above, a visual

[2022-02-24 17:59] richtabor opened #39066 "Allow Group block to transform to the Row variation"
## What problem does this address?
While uncovering ways to improve the Group block editing experience, I found that transforming between the standard vertical-oriented Group block, to the Row variant, is still a bit convoluted.

This made be lean in to ask, **should variation transforms be treated any differently than block transforms in the UI**?

Is there a reason to not include the "Row" varia

[2022-02-24 18:05] marcochiesi opened #39067 "Content deleted when pressing delete then enter"
### Description

After using the "Del" key to join two paragraph blocks, if you hit "Enter" or "Shift+Enter" the text after the cursor gets deleted unexpectedly.

It may be related to #34722

### Step-by-step reproduction instructions

1. Insert some text in a paragraph block
2. Hit "Enter" to generate a new paragraph block
3. Insert some text in the second paragraph block
4. Move the cursor to th

[2022-02-24 18:07] richtabor opened #39068 "Improve drop indicator within the List view"
## What problem does this address?
We currently have a bold indicator when dragging/dropping blocks within the editor, but in the List view, it is quite thin/not as easily distinguishable.

## What is your proposed solution?
1. Let's try a more consistent drop indicator here that also improves visibility of the indicator — perhaps 1.5 or even 2px wide. Perhaps even matching the focus state width (

[2022-02-24 18:13] richtabor opened #39069 "Remove extraneous controls from List view block options"
## What problem does this address?
There are a few controls within the block options component of blocks in the List view that are not relevant/as useful when invoked from the List view. Let's consider tailoring these a bit to remove extraneous controls from the UI.

## What is your proposed solution?

To clean these up and tailor the List view a bit, we could consider removing:

- "Show/hide more

[2022-02-24 18:21] francisei commented on #32929
Hi, first time contributor, and happy to update the doc for this issue. But I don't see how to assign this issue to myself. Is this a permission issue?

[2022-02-24 18:24] richtabor opened #39070 "Improve dropping blocks within nested blocks in the List view"
## What problem does this address?
It is difficult to drag and drop blocks precisely within the List view, when nested Group blocks are incorporated into a page. In the current experience, its not possible to drop a block as the last block within a Group block, if a nested Group block exists.

As you'll see in the recording below, the drop indicator does not follow the block hierarchy, but skips u

[2022-02-24 18:26] richtabor commented on #39065
As an aside, we also need a drop indicator for when you're dropping a block into a closed Group/Columns block. It's possible today to do that, but there's no visual indicating it so. Adding this here as it's related design wise.

[2022-02-24 18:27] richtabor commented on #39064
As an aside, we also need a drop indicator for when you're dropping a block into a closed Group/Columns block. It's possible today to do that, but there's no visual indicating it so. Adding this here as it's related design wise.

[2022-02-24 18:31] richtabor opened #39071 "Consider adding text alignment support to the List block"
## What problem does this address?
While other text-related/content blocks support text alignment, the List block is omitted. Let's consider adding text alignment support to the List block, just like the Paragraph block supports.

Currently the only way to modify it's text alignment is to do so manually with a utility class.

<img width="520" alt="CleanShot 2022-02-24 at 13 29 12@2x" src="https://

[2022-02-24 18:40] richtabor opened #39073 "Add wide/full alignment to the Search block"
## What problem does this address?
Is there a reason why wide/full width alignments were not included within the Search block? Currently the only way to get a search block to display wide or full is to add it to a Group block first, then set that parent block to the desired width.

I had to do that for implementing a wide search bar on the search template within my Wabi theme ([source](https://git

[2022-02-24 18:52] richtabor opened #39074 "Add border radius support to Post Featured Image block"
## What problem does this address?
We can set the border radius of the core/image block, but not the core/post-featured-image block.

## What is your proposed solution?
Add support for border radius, as the core/image block has.

## Screenshots:
#### Image block, with border radius control
<img width="1117" alt="CleanShot 2022-02-24 at 13 45 59@2x" src="https://user-images.githubusercontent.com/18

[2022-02-24 18:58] skorasaurus commented on #35355
@Sandstromer ; This was implemented in Gutenberg 12.6 - https://github.com/WordPress/gutenberg/pull/36202  :)

[2022-02-24 18:58] #35355 closed, assigned to nobody

[2022-02-24 18:59] skorasaurus commented on #39066
Thanks for continuing the conversation; @youknowriad mentions it at https://github.com/WordPress/gutenberg/pull/36202#issuecomment-1032305085

[2022-02-24 19:05] gziolo commented on #33542
It was modeled after two existing core blocks that enqueue `viewScript` conditionally in `render_callback`. It would be great to revisit now that plugins start using this API with their custom blocks.

`render_callback` for the File block:

https://github.com/WordPress/gutenberg/blob/d99a1f3bf47323eb8018f8fa133009186b0027e2/packages/block-library/src/file/index.php#L17-L20

`render_callback` for t

[2022-02-24 19:18] gziolo commented on #38167
As reported in #38917 by @oldrup, after upgrading to WordPress 5.9, sites have issues with HTML validation: "Error: Element style not allowed as child of element body in this context". These errors seem to be related to the styling of blocks when `.wp-container-*` class is injected in the HTML. It's something that should be included in the planning of the tasks for the style engine.

[2022-02-24 19:23] gibrown commented on #20926
A use case I'd really like to see supported is being able to rotate the headings of tables.

<img width="785" alt="Screen Shot 2022-02-24 at 12 22 09" src="https://user-images.githubusercontent.com/820871/155592827-a56a360d-e42d-4317-81e3-704c882cd748.png">

Here I am trying to have basically a matrix of checkboxes across two dimensions. Because it is fairly dense, having the column text be rotate

[2022-02-24 19:24] richtabor commented on #39066
Yes, that exactly!

[2022-02-24 19:25] gziolo commented on #38500
It looks like we finally need to implement a `disallowedBlockTypes ` as an addition to `allowedBlockTypes` to resolve the issue reported in this issue. More importantly, it would give more flexibility over controlling blocks in different contexts.

[2022-02-24 19:36] gziolo commented on #38279
This is where the `example` is selected for a block variation:
https://github.com/WordPress/gutenberg/blob/f833f821105aa7129533fff802937d22f14c3099/packages/block-editor/src/store/selectors.js#L1470-L1473

Documentation for the `example` field is available here:

https://github.com/WordPress/gutenberg/blob/trunk/docs/reference-guides/block-api/block-registration.md#example-optional

[2022-02-24 19:46] pbking commented on #27528
This is an issue we have been using an experimental Theme Exporter plugin to try out.  [This](https://github.com/Automattic/create-block-theme/pull/35) is how we got a snapshot of the theme settings considering theme-provided and user-overriding values.

We were also considering the three states of the settings when we want the snapshot:
* As a child of the current theme (when we want only the val

[2022-02-24 19:49] gziolo commented on #38329
I can confirm the issue in WordPress 5.9. It works as expected when the latest version of the Gutenberg plugin is enabled. @Mamaduka, it looks like the fix could be backported to WordPress 5.9.2.

[2022-02-24 19:49] skorasaurus commented on #38944
I'm closing this since you have the answer @mrleemon . Please reopen if you feel there's additional actions to take.

[2022-02-24 19:49] #38944 closed, assigned to nobody

[2022-02-24 20:12] github-actions[bot] opened #39075 "[Flaky Test] should handle paste events once"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should handle paste events once

## Test path
`/test/e2e/specs/editor/various/copy-cut-paste.spec.js`

## Errors

<time datetime="2022-02-24T20:12:30.393Z"><code>[2022-02-24T20:12:30.393Z]</code></time> Test passed after 2 failed attempts on <a href="https://github.com/WordP

[2022-02-24 20:16] richtabor opened #39076 "Improving innerBlocks inserters"
## What problem does this address?
The current implementation of child block inserters (i.e. inserting a Button block within a Buttons block, or a Social Icon block within a Social Icons block) can be improved, to not require you to search for the + at the opposite side of the origin insert point.

For example, in today's experience, if I add a Buttons block, I have a child Button block also inser

[2022-02-24 20:21] richtabor commented on #38872
Came here to report this as well 🎯

[2022-02-24 20:22] richtabor commented on #39074
Looks like https://github.com/WordPress/gutenberg/pull/37783 would close this.

[2022-02-24 20:28] richtabor opened #39077 "Cover block units get reverted to px if height is modified with ResizableBox"
### Description

Whenever a custom unit is set in the Cover block, it is reverted back to `px` whenever the height is modified with ResizableBox.

I'd expect to be able to set a height of 20vw for example, but still use the ResizableBox handle to drag it taller, or smaller, and maintain the `vw` units. The same happens for any unit set that isn't `px`.

### Step-by-step reproduction instructions

[2022-02-24 20:51] ramonjd commented on #38167
Thanks for the linking that issue. I think it's something we should prioritize, not only to have the satisfaction of receiving digital praise from online validators, but to avoid errors in browsers we haven't tested.

[2022-02-24 21:28] swissspidy opened #39079 "jest-console does not work with `jest.retryTimes()`"
### Description

If you use `jest.retryTimes(2);` and have a test like follows:

[code]

The result will be a passing test with `Hello World 0` and `Hello World 1` logged to the console.

And if you simplify it like so:

[code]

`Hello World` is logged once.

Now, as soon as you include `@wordpress/jest-console`, there will be no console output anymore at all. All console output is swallowed and t

[2022-02-24 22:43] annezazu commented on #38871
Updated the title to be a bit clearer.

[2022-02-24 22:47] annezazu commented on #38802
Going to close this out and defer to the simplifying layout controls issue.

[2022-02-24 22:47] #38802 closed, assigned to nobody

[2022-02-24 22:48] kirill-grouchnikov commented on #39021
This is way too broad. `max-width: 100%;` is breaking custom styles that allow images to overflow the boundaries of the main column. The primary scenario is edge-to-edge (editorial style, if you will) images, embedded in an otherwise constrained primary column of text.

[2022-02-24 23:15] annezazu commented on #38875
Updated the title of this issue to make the intent clearer :)

[2022-02-24 23:24] annezazu commented on #39011
I can replicate this! Thanks for opening. cc @ajlende -- wonder what changed here?

[2022-02-24 23:34] ramonjd commented on #20926
I've had a [PR](https://github.com/WordPress/gutenberg/pull/38319) rolling for a while that will add `writing-mode` block supports.

Out of the box it'll apply to the entire container:

<img width="754" alt="Screen Shot 2022-02-25 at 10 26 56 am" src="https://user-images.githubusercontent.com/6458278/155624531-2edbb035-0689-4dd4-9ec5-55819ea7a029.png">

Which isn't exactly fetching.

If we're to t

[2022-02-25 00:37] carlomanf commented on #29864
I think there needs to be a distinction between unlocking in the browser, and removing the lock persistently. If a user unlocks a reusable block to edit it, then saves and closes the editor, it should revert back to locked again the next time they come back to edit. Without this distinction, the onus is on the user to remember to re-lock when they are done. The mock-up by @critterverse seems to be

[2022-02-25 01:08] noisysocks opened #39082 "Improve 'Status & visibility' panel in the inspector sidebar"
Let's improve the _Status & visibliity_ panel that appears in the document settings sidebar.

Resources:

- [Blog post](https://shaunandrews.com/2021/09/the-wordpress-editor-document-status-and-visibility/) by @shaunandrews
- [Design exploration](https://github.com/WordPress/gutenberg/issues/39082#issuecomment-1073974215) by @javierarce

![Content](https://user-images.githubusercontent.com/612155/

[2022-02-25 01:11] noisysocks commented on #39082
Hi @javierarce! Thanks for volunteering to help with this. How do the designs in @shaunandrews's post look to you? Let's get them finalised before I begin development.

I also had a couple of questions:

- Do you have a link to the mockups in Figma?
- Where should the _Stick to the top of the blog_ and _Pending review_ checkboxes go? I don't see them in the mockups.

[2022-02-25 02:12] #38761 closed, assigned to webmandesign

[2022-02-25 02:28] talldan commented on #39068
I noticed this disparity too recently. It'd be great to improve it. I don't think it'll be too difficult, once we have a design I think it can be considered a slightly more challenging 'Good First Issue'. 😄

There has been some work on changing the way drag and drop works here - https://github.com/WordPress/gutenberg/pull/34022. But I think it'd also be fine to ship an interim improvement to the i

[2022-02-25 02:30] talldan commented on #38978
I'm glad you solved it. It looks like this might be related to the issue #39051 that was just created.

[2022-02-25 03:05] talldan commented on #39051
I can't be 100% sure, but I think WordPress core automatically adds `rel="noopener"` to links like that.

I just did a test in the classic editor, adding a link with the `target="_blank"` and without a `rel` attribute, and after previewing the frontend magically had it added again.

The same happens if I use the code editor in Gutenberg and save, `rel` gets added again when I reload.

I'm not sure

[2022-02-25 04:15] talldan commented on #39057
Thanks for reporting this.

The issue happens for me regardless of whether the file is in a column or not:
![Screen Shot 2022-02-25 at 11 47 27 am](https://user-images.githubusercontent.com/677833/155649951-2950ca3b-725c-4d8c-a427-6ec4870ab722.png)

I see what's wrong, I've put together a fix in this pull request - https://github.com/WordPress/gutenberg/pull/39083.

[2022-02-25 05:32] Mamaduka commented on #38329
@gziolo, I need to track down the PR that fixed this first. Do you know if this is an i18n specific issue?

[2022-02-25 05:35] Mamaduka commented on #32929
Thanks for contributing, @francisei. I'm going to assign the issue to you.

[2022-02-25 05:58] tellthemachines commented on #38786
Just noting that #20808 is not nav-specific, as explained in [this comment](https://github.com/WordPress/gutenberg/issues/20808#issuecomment-658608803).

[2022-02-25 06:03] talldan commented on #39070
Thanks for reporting. I'll close this one as a duplicate of https://github.com/WordPress/gutenberg/issues/33678, which tries to describe the same issue (though it's hard to describe 😄 ).

I may grab your video and add to the description if that's ok!

[2022-02-25 06:03] #39070 closed, assigned to nobody

[2022-02-25 07:34] #39057 closed, assigned to talldan

[2022-02-25 07:46] jasmussen commented on #39052
Excellent list, thank you! I would also add: overlay menu padding that potentially inherits from a smarter global padding (#35607), but is still individually configurable.

One consideration to keep in mind for the overlay menu properties is in case it becomes possible to edit the contents separately for total customization.

[2022-02-25 07:49] jasmussen commented on #39011
This is mentioned in #31373, but as it has turned out this hasn't been a simple fix, nor the task of removing duotone from the setup state. I wonder if we should rename 31373 to be about removing duotone from the placeholder, and keep this one as a task to keep the duotone button placement consistent?

[2022-02-25 07:56] jasmussen commented on #39066
Good ticket. There's a potentially largish design exploration possible here.

The transforms interface — the dropdown you get by clicking the block icon — has huge potential, and can become the go-to destination to check when inserting a new block, or looking for layout changes or options on an existing block:

- It could surface variations or alternate styles or layouts
- It could surface differe

[2022-02-25 07:56] Mamaduka commented on #39067
Thanks for contributing, @marcochiesi.

https://github.com/WordPress/gutenberg/pull/38991 fixes this issue. I also added E2E tests to avoid regressions in the future #39007.

The fix will be part of Gutenberg 12.7, which should be released next week.

[2022-02-25 07:57] jasmussen commented on #39063
Wouldn't this require updating every post?

[2022-02-25 08:14] gziolo commented on #38329
It looks like it's an integration issue in WordPress core because I can see the control (not translated) when the Gutenberg plugin from the `wp/5.9` branch is activated.

<img width="1034" alt="Screenshot 2022-02-25 at 09 10 43" src="https://user-images.githubusercontent.com/699132/155679376-6ebb14a4-77a6-4be6-a49b-e88d3767a6a6.png">

[2022-02-25 08:18] tomasztunik commented on #38686
We can confirm this is affecting blocks in WooCommerce library as well (and any other) if they use `<p>` element anywhere.
It also affects editor UI elements like the `Type / to choose a block`.  Also it is not just the font size - it would also affect color, background, font family and other Global Styles controlled styles.

We believe that Paragraph block is not semantically equal to a `<P>` ele

[2022-02-25 08:21] scruffian commented on #39063
I think we'd have to change the way that block styles work, so that we have the styles stored in a data structure rather than in CSS.

[2022-02-25 08:31] jasmussen commented on #20926
If the table block were to support inner-blocks, then it would presumably get the per-paragraph rotation from your PR for free? If yes, that seems like a good argument for some of those larger Table block enhancements to land first.

[2022-02-25 08:41] jasmussen commented on #38988
The back button was intentionally separated in order to use the same language as the "up" button. Do you think that's problematic? Worst case, it can work decently well with the button part of the same toolbar:
<img width="643" alt="Screenshot 2022-02-25 at 09 33 35" src="https://user-images.githubusercontent.com/1204802/155682312-56472601-a586-4bf8-b927-94c5ee1ce55f.png">

You're referring to the

[2022-02-25 08:47] slr1979 commented on #39054
Could anyone provide some feedback or other potential workarounds regarding this filter? I would appreciate it.

Placing styles in the footer may be good for FSE or standard WP themes but I can see implementations like this causing issues with ajax driven themes across the theme developer community. IMHO styles in the footer is not a normal design principle and creates headaches for theme develope

[2022-02-25 08:47] jasmussen commented on #39063
One thing I'd like to see is styles becoming presets for design controls. For instance, a "large" style for a Quote block would remove the default left border, increase the padding all around, increase the font size, and apply an italic font. This would allow us to absorb most of what exists in current `theme.scss` files as block properties instead.

In that light, styles would be less of an attri

[2022-02-25 08:51] grogou commented on #39051
@talldan how can WordPress core add it automatically if it added after save in Gutenberg editor? is save functionality use WordPress core functions to save post or something like that.

[2022-02-25 08:54] delowardev commented on #39051
@grogou I think you can find it here:

https://github.com/WordPress/WordPress/blob/2ae4784ca0aa4ba0e8e87d9c7c1c22f26b214701/wp-includes/formatting.php#L3236-L3288

[2022-02-25 09:02] grogou commented on #39051
@delowardev oki, so validator need to check that case true? How can developer know about that? Or we need to read somewhere about that case or validator need to notice or exclude that. Or validator can run save functionality ( interpretation ) and do validation based interpretation result, because there can be cases like that where core can automatically add something, right?

[2022-02-25 09:07] andreiglingeanu commented on #34284
@ciampo Is there any way to help with this so that we can get this moving ahead? Can help with providing fixes for the remaining stuff.

[2022-02-25 10:02] maddisondesigns opened #39090 "Row Block not spacing inner blocks properly within editor"
### Description

\- When you try to remove a Row Block it says "Remove Group". It's completely irrelevant whether you're inserting a Group Block in the actual code. As far as a regular user is concerned the "Row Block" is just another type of block. It's annoying and incredibly confusing when you have options like "Remove Group" on a Block that is called a "Row". You do this on multiple blocks bec

[2022-02-25 10:04] scruffian commented on #39063
Yeah that sounds good.

[2022-02-25 10:05] pansamolot commented on #39011
@jasmussen Thanks for mentioning #31373 because thanks to that I've managed to find my old report (#32981). I still however don't understand how GitHub failed to find that issue when searching for "Apply duotone" and caused me to create duplicate.

We keep opening new tickets and community here keeps closing them as duplicates of #31373, but the fact is that nothing is actually happening in that "

[2022-02-25 10:08] jasmussen commented on #39011
You misread me, actually I think we should keep this ticket open as more actionable than the other.

This is still a priority, but there are only so many hours in the day, and at the moment focus is on some more critical duotone bugs we need to address for 5.9.1. Outside of any volunteer PRs addressing the issue, we'll have to come back to the issue when bandwidth opens up.

[2022-02-25 10:56] Mamaduka commented on #39021
Fixed via #39045 and will be backported into the next minor release.

[2022-02-25 11:02] wolffe commented on #39021
This might reduce the issues, but not fix them completely.

The selector is still there:

[code]

It's just the class that has been appended. In my case, I use WordPress native functions to generate the images in the carousel, so it will still be broken for me.

[2022-02-25 11:11] Mamaduka commented on #39090
Thanks for contributing, @maddisondesigns.

The last issue might not be related to the Group/Row block but a general bug with Dimensions control. I can reproduce the same bug on the Code block.

cc @aaronrobertshaw, @ciampo

[2022-02-25 11:47] youknowriad commented on #39055
I just wanted to mention, that it's exactly why I kept it as "experimental" to begin with. REST API is a better path here 👍

[2022-02-25 11:51] javierarce commented on #39082
They look good, but I want to review them again since I haven't looked at them in a while.

Here's the [original file](https://www.figma.com/file/WBBq8uhaKydqVunjCa9T77/?node-id=104%3A6689). Since it contains lots of explorations for other elements of the sidebar, I'm going to create a new file to focus on this project.

The "Stick to the top of blog list" is accessible through the pin icon.

![im

[2022-02-25 12:32] jsnajdr commented on #39055
@youknowriad The `block-editor` package, however, doesn't want to depend on `core-data` or on any WordPress REST endpoints. Would you have any advice on how to make the "`await getBlockPatterns()`" functionality generic enough and how to wire it up to actual WP REST code? Is there any prior art on that, where a similar problem was solved?

[2022-02-25 12:45] hvianna commented on #39021
@wolffe I use `get_the_post_thumbnail()` to retrieve the images and it adds the classes `"attachment-medium size-medium wp-post-image"` - none of which match the selector, so I think this will work!

[2022-02-25 12:50] Mamaduka commented on #39021
@wolffe, which functions are you using to get images for the carousel?

[2022-02-25 13:08] wolffe commented on #39021
I think I use the same function as @hvianna. I'll report back/again after I apply this update. Thanks!

[2022-02-25 13:55] scruffian opened #39095 "Post Author Name Block: theme.json settings don't work"
### Description

When you try to change the appearance of the post-author-name block using theme.json, the changes don't work. This is because the block is loaded after the global styles compat files, so it doesn't know about the existence of the block yet. The solution might be to load all the blocks before the other compat files.

### Step-by-step reproduction instructions

Add this to your them

[2022-02-25 14:44] richtabor commented on #38988
Maybe not problematic, but potentially a confusion point. I think it works better outside the main toolbar area.

After testing a few things a bit more I think this approach makes the best sense. Same for duotone.

[2022-02-25 14:46] ndiego commented on #38965
Hi @LogicalHighs, can you let me know which theme you are using? While the Editor does not allow you to select both "Wide" and "Align Left" on the Image block, you still should be able to accomplish the design you are looking for.

I was able to accomplish this in the Twenty Twenty-Two theme. The steps I followed were:

1. Add a Group block and made sure "Inherit default layout" was not enabled.
2

[2022-02-25 14:49] ciampo commented on #39090
I'm probably not the better-suited person to have a look at this, and I think that Aaron is not going to be around next week. Cc'ing @andrewserong @ramonjd @glendaviesnz

[2022-02-25 14:57] LogicalHighs commented on #38965
Hello Nick,
   I am using the twenty twenty one theme. It looks like did exactly what I am trying to do. Where do you turn off inherit default layout?

Chuck

[2022-02-25 15:04] ndiego commented on #38965
Hi Chuck, with the Group block selected, the setting is located in the sidebar. See the screenshot below.

![image](https://user-images.githubusercontent.com/4832319/155737839-090e48eb-4a86-4cc1-8d97-d389de0cb46a.png)

[2022-02-25 15:19] #38138 closed, assigned to nobody

[2022-02-25 15:28] delowardev commented on #39051
This is an exceptional case, and it will be fixed soon I hope. As of now, you can use `rel` attribute alongside `target` attribute to avoid these block validation error.

[2022-02-25 15:52] #27565 closed

[2022-02-25 16:55] nasif-co commented on #39021
The implemented fix should only affect images added through the Classic Editor with the "Add Media" option. To my knowledge, no other part of the wp core adds the class `wp-image-{attachment ID}`, although I might be wrong, in which case it would be great if anyone more knowledgable on the core code can verify this.

The `wp_get_attachment_image()` function which I believe is the most widely used

[2022-02-25 17:02] sabernhardt commented on #15105
As reported on [Trac 55253](https://core.trac.wordpress.org/ticket/55253):

[2022-02-25 19:40] paaljoachim commented on #38230
Testing.

WP 5.9.1.
Norwegian input source.

![Screenshot 2022-02-25 at 20 32 08](https://user-images.githubusercontent.com/5323259/155780891-d37c2002-ac77-4d2e-884e-7718d4fa7058.jpg)

Theme: Just updated Twenty Twenty Two.
Plugins: None activated.
Chrome.
OSX 12.2.1
Local site running Desktop Server.

Creating a new page.
Adding a title and some text in the default Paragraph block.

CTRL (command

[2022-02-25 22:14] mrwweb commented on #37031
It's mostly the case that block settings can be opted out of and it feels like this should be the case here as well. In our case, black is the only overlay color allowed and so there is no circumstance where white text is desirable. I have no doubt I'm not the only person in this situation.

[2022-02-25 22:38] LogicalHighs commented on #38965
Hello Nick,
	I do not have layout as a choice in the side bar. My Wordpress versions 5.9.1 and  I am using Twenty Twenty-One version 1.5 with the Twentig plugin. I deactivated the plugin to see if layout would come up, but that did not help either. I know this should simple, but it is fighting me hard.

Thanks,
Chuck

[2022-02-25 22:46] Gwillison415 commented on #10235
@mkaz 404'd on me too -That page can’t be found.

[2022-02-25 23:05] pbiron commented on #10235
@realstephenzhao and @Gwillison415  I think the URL for that section of the handbook has changed.  Try https://developer.wordpress.org/block-editor/how-to-guides/format-api/#step-3-apply-a-format-when-clicked

[2022-02-25 23:25] nekohayo opened #39102 "Bulleted / numbered lists items should have line breaks between them in the code generated by Gutenberg"
### Description

When writing text in a list type block, Gutenberg generates codes like this:

[code]

...instead of something clean and human-readable like:

[code]

Now, you might be thinking "who cares, this is just for geeks", but imagine the example above with a dozen long sentences... it becomes a huge unreadable blob of text. There are two real issues with the compacted generated code:

* I

[2022-02-25 23:33] brookewp commented on #39037
I'd like to take a look into this 🙂

[2022-02-26 03:27] nekohayo commented on #24945
What I noticed today, with someone who I gave contributor rights (`edit_posts`, `delete_posts` and `read` permissions, i.e. edit their own posts, but no self-publishing privileges) to, is that the ability to set a post as "Pending review" _is_ there, it's just **mislabeled,** and therefore, hidden in plain sight; to them, the top toolbar offers "Save", "Preview", _"Publish"_, and the settings & pr

[2022-02-26 07:46] uniquesolution opened #39103 "Group Block alignment option not shows when used in reusable block"
### Description

When you use group block to insert other blocks inside it and let make it wide width or full width, then make that whole group a reusable block, the option to change alignment not shows. It should show even if we keep that group inside a reusable block.

### Step-by-step reproduction instructions

1. Go to block editor and insert a group block
2. You will see the alignment option

[2022-02-26 08:21] youknowriad commented on #39055
@jsnajdr I think the block-editor should still have a setting, that setting could one of two things: a list of patterns like today, or a function to fetch patterns (I think we use something similar in reusable blocks).

[2022-02-26 09:18] maddisondesigns opened #39104 "Gradient control doesn't work properly"
### Description

The Gradient control is horrible to use, and just doesn't work properly. Clicking on the small dots to try and select a new colour, keeps moving the dot to a new location, rather than showing the colour selector. When you do eventually get the color selector to show, sometimes it just changes the colour at that point, other times it changes the colour of the whole gradient. When y

[2022-02-26 10:28] paaljoachim commented on #15791
Alrighty. Thanks for the response Miguel. We will see when this issue moves onward.
Have a great day!

[2022-02-26 11:58] markhowellsmead commented on #38998
I agree in principle to this and have been using a system similar to this for many years. It's essential to allow flexibility: using a key like `--wp--gap--1` for 1rem makes it semantically impossible for a developer to implement a smaller key. `xs`, `s`, `m`, `l`, `xl` etc works well. Alternatively, using a scalar system like `--unit--small: calc(var(--unit) / 2)` also works well and helps to ens

[2022-02-26 13:24] mtias commented on #20926
I don't think the table block would ever support arbitrary inner blocks, fwiw.

[2022-02-26 13:48] mtias commented on #37514
Nice work @andrewserong and thanks for the suggestion @mrfoxtalbot !

[2022-02-26 13:50] drussogit opened #39106 "Custom color options for selected text in the block editor for WordPress WordPress 5.9 are obscured"
### Description

Custom color options for selected text in the block editor for WordPress WordPress 5.9 are obscured by the right panel for Block options.

![hidden_button](https://user-images.githubusercontent.com/9655684/155845118-a78e2b53-2f43-4ec0-9710-d511edf8f9df.jpg)

I reported this issue in https://core.trac.wordpress.org/ticket/55262

@audrasjb agreed that it is a bug and asked me to pos

[2022-02-26 15:32] prtksxna commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2022-02-27 06:53] daveyjones commented on #22053
I agree that block previews should go away completely, since their usefulness is questionable and it adds one more hurdle to get over when creating a new block. But for now, I've just added this to my CSS:

[code]

[2022-02-27 06:57] maddisondesigns commented on #39090
Another issue to add to the list:

When you turn off `Allow to wrap to multiple lines`, blocks start overlapping each other.

<img width="1190" alt="screenshot_172" src="https://user-images.githubusercontent.com/2078245/155871894-6aa3edc7-7b1f-41b1-87d2-40f388869f29.png">

[2022-02-27 07:26] jasmussen commented on #20926
Oh of course, a paragraph inside a cell would mean still more inner blocks. But it would be nice if the same orientation property could be opted in by the cell itself then.

[2022-02-27 07:50] shimotmk commented on #38041
After activating the Gutenberg plugin 12.6.1 on WordPress 5.9.1, this problem was solved, so I'll close it.

[2022-02-27 07:50] #38041 closed, assigned to nobody

[2022-02-27 11:31] Jugibur opened #39107 "Do not reset image size in settings after replacing an image"
## What problem does this address?
After replacing an image, the image size is reset.
Resetting the image size does not seem useful to me. Especially when you have prepared certain groups with blocks for editors with certain image sizes. It can be easy to forget to set the correct image size again afterwards. Not all editors immediately notice a visual difference.

## What is your proposed solutio

[2022-02-27 13:12] webmandesign opened #39108 "Cover block: Can not set repeated background image with gradient overlay"
### Description

It seems to be impossible to set Cover block with repeated transparent PNG image on background positioned `50% 0` and overlaid with a gradient.

### Step-by-step reproduction instructions

1. Create a Cover block in a page and set it with these:
  - **Media settings**:
    - repeated background,
    - set [this background image](https://user-images.githubusercontent.com/2456735/15

[2022-02-27 23:50] justintadlock commented on #38998
So, I'm just going to throw in my system for semantic naming below.  I created much of this model based on Tailwind and discussion with other theme developers about three years ago.  I have been using it since then (obviously without the `--wp` prefixes before `theme.json` existed).  I have made some adjustments since then, but it has worked well overall.

It is not necessarily better or worse tha

[2022-02-28 01:15] #36710 closed, assigned to tellthemachines

[2022-02-28 01:40] tellthemachines commented on #38260
The second issue is a side-effect of us using blocks for widget areas, but it's also not widgets-specific. When 'Contain text cursor inside block' is enabled, arrow keys can't be used to navigate between blocks at all. That's by design, but it means that to move between blocks we have to switch to Select mode.

I misstated the problem when I said it's impossible to enter the widget area; it's only

[2022-02-28 01:55] andrewserong commented on #39090
Thanks for the ping @ciampo (and for reporting the usability issues @maddisondesigns!)

For this one, you can currently commit the change by pressing ENTER before tabbing or clicking out of the field, but I agree, the behaviour here doesn't feel intuitive to me, either. I've opened up a PR (#39109) to look at the behaviour of clearing out an `InputControl` field that has `isPressEnterToChange`, wh

[2022-02-28 02:08] noisysocks commented on #39082
Thanks @javierarce! I'll wait for your new Figma before starting dev 😀

[2022-02-28 03:10] ramonjd commented on #39090
I've taken a stab at displaying the block _display_ title in the remove "Remove x block" label over at https://github.com/WordPress/gutenberg/pull/39110

A "block _display_ title" might be a specific block variation title, or a reusable block group name.

<img width="578" alt="Screen Shot 2022-02-28 at 1 13 04 pm" src="https://user-images.githubusercontent.com/6458278/155917692-50cceaa7-de1f-4066-

[2022-02-28 06:40] talldan commented on #39065
@richtabor It is a little hard to find, but if you drag to the bottom-right of a column or group you can nest a block and the drop indicator should shift to show the nested position.

[2022-02-28 06:47] talldan commented on #38331
I think the confusing UI is an issue, even if it is intentional to show the parent block's controls. Most users wouldn't know which of the duplicate controls to use.

I'm also not sure why it disappears. 🤔

[2022-02-28 07:08] grogou opened #39114 "addEventListener 'load' not working on FSE editor."
### Description

`ref.current.addEventListener('load')` not working on FSE editor, but it is working on standard editor.
Nothing on console, just listener don't fire.

### Step-by-step reproduction instructions

1. Create custom block and add some `load` listener on some `ref`

### Screenshots, screen recording, code snippet

_No response_

### Environment info

Wordpress 5.9.1
Gutenberg 12.6.1

#

[2022-02-28 07:11] grogou commented on #39051
@delowardev yes I did it like that, thank you))

[2022-02-28 08:05] davilera opened #39116 "Image Block should display error message after failed upload"
### Description

Using WordPress’ `wp_handle_upload_prefilter` filter, I limited the max size of the images I can upload to my media library (I changed the value to `10kb` for demo purposes):

[code]

If I upload the image to the media library directly, I get the expected error message:

![image](https://user-images.githubusercontent.com/12100954/155945260-e4937011-e315-4450-a042-82ca30a6c2a8.png)

[2022-02-28 09:04] talldan commented on #38890
It looks like you end up with two defaults in the store if you do this (the original default and the new one).

Possibly the previous default should be set to `isDefault: false`.

Even if that's fixed, I don't know how well it would work as the block editor treats the absence of a class name as the default 🤔

Coupled with https://github.com/WordPress/gutenberg/issues/20706, the way defaults work i

[2022-02-28 09:33] github-actions[bot] opened #39120 "[Flaky Test] should delete template if deletion is confirmed when the viewport is small"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should delete template if deletion is confirmed when the viewport is small

## Test path
`specs/editor/various/post-editor-template-mode.test.js`

## Flaky rate (_estimated_)
`36 / 37` runs

## Errors

<details>
<summary>
	<time datetime="2022-02-28T09:33:47.310Z"><code>[202

[2022-02-28 09:33] github-actions[bot] opened #39121 "[Flaky Test] should retain template if deletion is canceled when the viewport is small"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should retain template if deletion is canceled when the viewport is small

## Test path
`specs/editor/various/post-editor-template-mode.test.js`

## Flaky rate (_estimated_)
`58 / 59` runs

## Errors

<details>
<summary>
	<time datetime="2022-02-28T09:33:47.996Z"><code>[2022

[2022-02-28 10:47] #37987 closed, assigned to nobody

[2022-02-28 11:03] getdave commented on #39052
Worthing adding to https://github.com/WordPress/gutenberg/issues/38275 ?

[2022-02-28 11:03] jsnajdr commented on #39055
Thanks, reusable blocks indeed seem to be a very good blueprint for this. I'm trying to draft a patch now.

[2022-02-28 12:31] sarayourfriend commented on #38066
The context system should allow passing in the props object to the top level and then "injecting" it into the GradientPicker directly from the top level without having to drill the props object down through the rest of the tree.

[2022-02-28 13:08] Humanify-nl opened #39122 "blockGap & vertical margins"
## What problem does this address?

There have been some issues with controlling the blockGap programmatically on a per-block level in a FSE theme.

I am aware we can set the gap in the editor for individual blocks. I'm talking about cases where we will not expose this exact layout control to clients in a wordpress editor environment.

To get what I need, is to reset the `--wp--style--block-gap` v

[2022-02-28 13:28] oandregal commented on #38252
The fix for this was ported to WordPress at https://github.com/WordPress/wordpress-develop/pull/2233 and it's part of 5.9.1 ([core ticket](https://core.trac.wordpress.org/ticket/54782)).

[2022-02-28 13:32] vjsasinathan commented on #38498
I am working on adding the alignment options

[2022-02-28 13:37] hanneslsm opened #39123 "Set the default border style to "solid""
## What problem does this address?
When adding the border properties in theme.json, I might not include `"style": true`. I'll get all the other elements in the UI, but they are useless, because no default border style is defined and no border will be shown.
` "settings": {
    "border": {
      "color": true,
      "radius": true,
      "width": true
    },...`
<img width="1147" alt="image" src="h

[2022-02-28 13:48] hanneslsm opened #39124 "Add a confirmation modal when clearing the customizations on a template"
## What problem does this address?
The impact on clearing a customization on a template or template part can be huge, especially when you put a lot work in building your templates with the FSE.
However, all the work can be deleted with just one or two thoughtless clicks on the menu:
<img width="244" alt="image" src="https://user-images.githubusercontent.com/17861443/155993533-9c814d5d-279d-4350-90

[2022-02-28 14:13] djave-co opened #39125 "LinkControl titles"
## What problem does this address?
When selecting a link with the `LinkControl` component, a title attribute is passed if it is an internal link. This is not editable, and not passed if it is an external link. This makes it hard to use one component for internal and external links.

## What is your proposed solution?
The `LinkControl` should have the option to expose the title of the attributes th

[2022-02-28 14:55] ostowe commented on #37982
I've been able to replicate this as well, however I'm not sure this is terribly useful as I can only replicate in a standalone install of WP 5.9. After installing the Gutenberg plugin, I can no longer replicate this bug. Here goes anyway:

## Step-by-step reproduction instructions
1. Edit a post
2. Confirm post title is editable
3. Multi-select two or more blocks via holding down the shift key or

[2022-02-28 14:58] scruffian commented on #39052
Yes please!

[2022-02-28 15:09] WestCoastJitterbugs commented on #38252
Looks like that PR was closed without being merged? Or am I misunderstanding?

[2022-02-28 15:13] getdave opened #39127 "Refactor data fetch and logic from <NavigationMenuSelect> into reusable hook"
In https://github.com/WordPress/gutenberg/pull/38907 we've been working on improving the loading states.

Whilst addressing this we've noticed that `<NavigationMenuSelector>` contains too much logic which would actually be useful outside of the component to determine the rendering of various elements.

Extracting the data fetching and logic into a reusable hook would enable this.

------

Basicall

[2022-02-28 15:15] getdave opened #39128 "Remove Navigation Area from Nav block codebase"
Now the grace period has passed for the deprecation let's remove the Navigation Area code from the Nav block.

_Originally posted by @talldan in https://github.com/WordPress/gutenberg/pull/38907#discussion_r813493639_

[2022-02-28 15:16] delowardev commented on #39051
@talldan  Since it's hard and confusing to debug this error for block developers, I think we can at least update the validation warning so block developers can get an idea of what needs to be done to pass the validation error.

PR: https://github.com/WordPress/gutenberg/pull/39126

[2022-02-28 15:26] annezazu commented on #39076
cc @jasmussen who I know has done so much here around the experience of the navigation block!

[2022-02-28 15:29] annezazu commented on #39104
Noting that I can replicate how difficult this is to use. Thank you for opening!

[2022-02-28 16:04] oandregal commented on #38252
It's the usual way core merges work: the GitHub PR is closed and it's committed via SVN. This is the commit in SVN [trunk](https://core.trac.wordpress.org/changeset/52675) and [5.9.1](https://core.trac.wordpress.org/changeset/52678).

[2022-02-28 16:17] wolffe commented on #39021
For me, the moment it was implemented, it broke 200+ websites. It shouldn't have been added, as this is theme territory.

All my images, regardless of how they were added to the post, were working fine before this new code has been added.

[2022-02-28 16:24] mcsf commented on #38922
Thanks for laying out your plan like this, it makes it easier to discuss and later review. There's a lot to unpack and ponder, and I can't address everything in one sitting (and I won't really be available for the next fortnight).

But I can comment on the following (emphasis mine):

I agree with most of the issues and some of the solutions, but I also wanted to stress that the compromise in Guten

[2022-02-28 16:25] joemaller commented on #10853
Any progress on this?

Pointers to the discussion about _removing_ this? Seems confusing that Media insertion is missing features in otherwise normal contexts

[2022-02-28 16:44] getdave commented on #38169
FYI that this is being looked at in https://github.com/WordPress/gutenberg/pull/38907#discussion_r813555589.

We decided not to fix in that PR as this Issue is too complex.

[2022-02-28 17:09] timsinc commented on #38240
Unfortunately, this still doesn't work if the external resource uses relative urls. Like `https://rsms.me/inter/inter.css` for instance 😞

[2022-02-28 17:31] aurooba commented on #38554
Okay, so I have been exploring, and look what I found on WordPress.com, I mean, this is great! It felt intuitive and it made sense. Do I think the `Add New` button should have higher priority and not be at the bottom? Yes. But overall, this is precisely what I was imagining.
<img width="995" alt="Screen Shot 2022-02-28 at 10 27 05 AM" src="https://user-images.githubusercontent.com/6925260/15603028

[2022-02-28 17:45] TMFHokies opened #39130 "Handle Taxonomy Errors in Block Editor with Error Message"
### Description

I originally brought this up in the [support forums](https://wordpress.org/support/topic/display-error-message-when-block-editor-term-validation-fails/#post-15397759), but I believe this is a bug. When the block editor fails to add a term, via the `/wp-json/wp/v2/{TAXONOMY}` endpoint it just silently fails. The term still persists in the form token field, but won't be saved along

[2022-02-28 18:04] annezazu commented on #38965
@LogicalHighs here's a quick video walking through the steps Nick provided above in case it helps :)

https://user-images.githubusercontent.com/26996883/156034810-fe34e82d-ff9d-4882-a887-14838b88ab3e.mov

[2022-02-28 18:11] ntsekouras commented on #39124
I agree that the impact might be big and it could be good to have an extra confirmation step.. --cc @jameskoster @jasmussen @kjellr

[2022-02-28 18:19] joemaller commented on #10853
Workaround?

1. Insert Image Block, hot-link to external url
2. Transform hot-linked Image Block to Cover Block

That appears to work perfectly well, except the media url used by the Cover Block can not be edited, only removed or replaced from the Media Library.

[2022-02-28 19:49] ciampo commented on #38066
That's a good point, we could definitely keep it in mind as a valid alternative

[2022-02-28 20:38] cbirdsong commented on #38998
I definitely agree on the need for extra width values beyond `wide` and `full`.

For **margin/spacing/padding**, I’d suggest going with `-100`, `-200`, `-300` over `-1`, `-2`, `-3`, which leaves room for themes/plugins to add steps in between those values, which could be calculated using the surrounding `-x00` values.

For **font weight**, however, I think using `-100` step values is a bad idea si

[2022-02-28 21:15] dmsnell commented on #38922
Thank you @mcsf for your thoughts. I too will try and share more later but I want to clear up one thing as I think we aren't talking about the same problems.

It reads like you are examining this from the perspective of a broken block interfering with well-understood and validated blocks. That's not the case.

So what I'm talking about doesn't change the isolation principle at all; it upholds it w

[2022-02-28 23:04] critterverse commented on #29864
Interesting, @carlomanf. It seems like the expected behavior around this may vary (personally, I would expect the editor to remember my most recently saved lock state) but I'm sure there are other possibilities to be explored that could help with remembering to re-lock. For example, maybe the multi-entity saving panel could eventually contain some indication of the lock status.

My vote would be t

[2022-03-01 00:12] dgmstuart commented on #38252
Ah OK - thank you for explaining.

[2022-03-01 01:59] talldan commented on #39057
@kerrynicl The fix will be released in Gutenberg plugin version 12.8. Thank you for reporting the bug!

[2022-03-01 02:58] tellthemachines commented on #39082
Regarding the visibility radio buttons, it would be good to bear in mind the a11y issue described in #15328. The tl;dr is we should avoid popping up a dialog on switching the visibility to private. The classic editor gets around this by silently publishing the post (if it's a draft). An alternative could be to add a warning inline or underneath the private option, to make it clear that the switch

[2022-03-01 03:01] nasif-co commented on #39021
I meant that the new proposed implementation should not affect your images! Sorry for my confusing writing :)

[2022-03-01 03:44] maddisondesigns commented on #38252
@oandregal Are you saying that this was fixed in 5.9.1? If so, then you need to look at it again, as it definitely **wasn't** fixed. The issue still remains because you're overriding theme styles by your use of `!important`. Until you get rid of `!important` the issue is going to remain.

[2022-03-01 04:29] ALJ commented on #38554
@aurooba good find. For what it's worth, I think you got a lot right on your [QuickPost plugin](https://wordpress.org/plugins/quickpost/). In my opinion, your plugin's "Add new" and "Duplicate" buttons are way more useful than the core "Switch to draft" and two-click "Preview" buttons.

[2022-03-01 04:54] github-actions[bot] opened #39133 "[Flaky Test] should handle legacy widgets"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should handle legacy widgets

## Test path
`/test/e2e/specs/widgets/customizing-widgets.spec.js`

## Errors

<time datetime="2022-03-01T04:54:47.439Z"><code>[2022-03-01T04:54:47.439Z]</code></time> Test passed after 1 failed attempt on <a href="https://github.com/WordPress/g

[2022-03-01 06:45] illusaen opened #39134 "Allow for Multiple Badges on Images"
## What problem does this address?
Right now, there can only be one badge for images.

## What is your proposed solution?
Allow for multiple badges on images, such as "Featured" and "GIF" for gifs that are the featured images. Stack them vertically.

[2022-03-01 07:56] jasmussen commented on #39124
Keeping #25071 in mind, it seems okay to add a confirmation dialog. I'd keep it simple, though. Maybe use the new ConfirmDialog from #34153?

[2022-03-01 08:00] mkkeck commented on #38252
@oandregal
Hi André,

why not putting the whole stuff, wich can break third party themes, away from the WordPress core to the WordPress own themes?

Also, as long there is no trivial and simplified css style class naming convention for default styling, it does not make sense to force using and mergin default styles. As an example look at the class names for colors: `has-light-blue-color`.
I would

[2022-03-01 08:10] jasmussen commented on #39076
Thanks for the ticket, it's great to discuss this. There was a very specific and clear challenge with the in-canvas button inserter as it existed before, notably that the button being in-canvas would cause layout shifts simply by being selected. As shown in #36037, here's an example:

![1](https://user-images.githubusercontent.com/1204802/156128950-dfa3428e-a91a-4253-ab00-966c2c2e29dd.gif)

This l

[2022-03-01 09:12] #39047 closed, assigned to Mamaduka

[2022-03-01 09:34] sagarnasit opened #39135 "Allow block search option on editor for global styles"
## What problem does this address?
Currently, We have to scroll and find the specific block from the list of all the available blocks. There are no search options for a long block list.

https://user-images.githubusercontent.com/25276905/156142717-2f0f17ef-d67d-4514-ac8b-c870448d5add.mov

## What is your proposed solution?
There should be a search/filter option where users can type and search/filt

[2022-03-01 09:35] #39062 closed, assigned to ntsekouras

[2022-03-01 09:48] ntsekouras commented on #39135
👋 - thanks for creating the issue! I [opened a PR](https://github.com/WordPress/gutenberg/pull/39117) about this yesterday.

[2022-03-01 10:05] Rahe commented on #27263
Hi @Mamaduka ,

Yes I understand that this is not the way the constant have to be used, but on the old editor this bug did not exists.
So we need to keep the backward compatibility work, no ?

Nicolas,

[2022-03-01 10:06] getdave commented on #38169
Whoever works on a fix here should be sure to include an e2e test to ensure the `Select menu...` is not unmounted during loading.

[2022-03-01 10:08] getdave opened #39136 "Nav block - refactor controls to separate component"
The body of the Nav bock `edit` component is becoming overly large and difficult to view.

It would benefit from the `<BlockControls>` and `<InspectorControls>` being extracted to separate components to reduce visual clutter.

[2022-03-01 10:48] gbaggaley commented on #39021
Had the same issue as @wolffe, broke a lot of our websites built using the classic editor as the selector is far too broad and just applied the styling to every `img` tag on the website. The best solution for now is just to de-enqueue the block editor styles until this is fixed.

[2022-03-01 10:56] fringillas commented on #38637
I have a similar situation on WP 5.9.1. If you paste from MS Word into the post title on a mac in chrome, you will get a "?" at the end of the title when the draft is saved. The styling from MS Word is visible in WP until the draft is saved, after saving the normal post title styling is visible plus the added "?".

The permalink is also affected, and gets a "￼"-char at the end. I can't really repl

[2022-03-01 10:57] ciampo commented on #38065
Hey @andreiglingeanu , would you be able to provide exactly what is the reason which prompted you to request this feature (i.e customizing the `ColorPicker`'s auxiliary controls) ? It'd be great if you could highlight exactly which limitations you're encountering with the current version of the component, add screenshots/videos and (even better) a live demo.

This would help us greatly in assessin

[2022-03-01 11:53] github-actions[bot] opened #39137 "[Flaky Test] should delete menu when confirmation is confirmed and there are no other menus and the viewport is small"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should delete menu when confirmation is confirmed and there are no other menus and the viewport is small

## Test path
`specs/experiments/navigation-editor.test.js`

## Flaky rate (_estimated_)
`49 / 257` runs

## Errors

<details>
<summary>
	<time datetime="2022-03-01T11:53

[2022-03-01 12:12] Mamaduka commented on #27528
Hi folks,

I create a new PR #39048 that's ready for testing.

[2022-03-01 12:28] #38339 closed, assigned to nobody

[2022-03-01 13:02] maxwrlr commented on #37504
I have the same problem. I temporarily solve it with an editor-style:
[code]

[2022-03-01 14:16] github-actions[bot] opened #39140 "[Flaky Test] should retain menu when confirmation is canceled and the viewport is small"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should retain menu when confirmation is canceled and the viewport is small

## Test path
`specs/experiments/navigation-editor.test.js`

## Flaky rate (_estimated_)
`53 / 54` runs

## Errors

<details>
<summary>
	<time datetime="2022-03-01T14:16:52.229Z"><code>[2022-03-01T14:

[2022-03-01 14:49] #37555 closed, assigned to mirka

[2022-03-01 14:58] zvolanek commented on #28149
I have same problem if I copy text from WordPad.

[code]

[code]

[2022-03-01 15:34] #38553 closed, assigned to alshakerM

[2022-03-01 15:37] gaambo commented on #38279
Thanks for the hint. I did a debugging session and it's true that the file referenced by @gziolo sets the variations example attribute.
But the `PreviewPanel` component get's the in the inserter hovered/focused block by the block name and does not care for the variation. This is also true for trunk at this moment: `const hoveredItemBlockType = getBlockType( name );`
https://github.com/WordPress/gu

[2022-03-01 15:42] Trapsta commented on #7422
I took a look at the RN android app and I can see backspace selects the image block, not sure where the UX diverged but from the discussion , it looks like that is the consensus @youknowriad I would love to work on this , should I work on a PR in that direction or do we need to discuss it further?

[2022-03-01 16:16] paaljoachim commented on #7422
Hey @Trapsta Jasper. If you'd like you can bring this up during tomorrows Core Editor chat (Open Floor) if you have not received any feedback by tomorrow evening and ask about it. https://make.wordpress.org/core/2022/02/28/editor-chat-agenda-march-2-2022/ (Add a comment to the agenda as it creates some additional attention.)

[2022-03-01 16:25] claudiulodro commented on #38637
Adding a few more data points: I had a 3 more reports of the ￼ issue yesterday. In all cases, the users were pasting the title from Google Docs or MS Word into the post title field.

[2022-03-01 16:36] getdave opened #39142 "Ability to customise Navigation block "mobile" overlay"
## What problem does this address?

Currently any styles you apply to the Navigation block will also apply when it is in "mobile" mode. This is sometimes not desirable as the "mobile" menu may require different visual properties.

Furthermore, it may also be desirable to add additional content (other than simply the Navigation block) to the overlay.

<details>
<summary>Example of styling inconsist

[2022-03-01 17:04] roryashfordbentley commented on #35099
+1 for YAML.

One of the biggest barriers for developers new to FSE and Hybrid themes is understanding what and why things exist in theme.json. As a developer on the project I have a responsibility to leave comments for the team and at the moment these are either added to a seperate readme or are discussed ad-hoc on Slack, neither are ideal and both get lost over time.

[2022-03-01 17:09] fluiddot opened #39143 "canUser resolver: Unhandled promise rejection warning upon editor initialization"
## Description

I noticed that after the changes introduced in https://github.com/WordPress/gutenberg/pull/38881, a warning is displayed right after the editor is initialized in the app:

[code]

## Step-by-step reproduction instructions

1. Open any post/page with the app connected to the Metro server.
2. Observe that the `Unhandled Promise Rejection` warning is displayed.

## Expected behaviour

[2022-03-01 17:10] fluiddot commented on #39143
As far as I investigated, this is caused because the `canUser` resolver expects that the response includes the `headers` property, which is not the case in the native version of the editor. Specifically, this happens when calling the `getMedia` selector, which determines if the user can create media. The native version doesn't rely on this user permission, in fact, prior to the changes from https:

[2022-03-01 17:17] vjsasinathan commented on #38498
Seems to be a valid use case. Adding a vertical alignment configuration would definitely help content creators align with their design without extra CSS overrides. Feature enhancement on the way. Please assign the ticket to me.

[2022-03-01 17:27] annezazu commented on #23293
As part of the twelfth call for testing for the FSE Outreach Program, [feedback came in](https://wptavern.com/fse-outreach-round-12-building-a-site-header-with-blocks) around how it's not currently possible to create button like menu items using the navigation block:

Here's the design in question:

![pizza-button-links](https://user-images.githubusercontent.com/26996883/156217865-83e3dbf5-a838-45

[2022-03-01 17:29] karmatosed commented on #38498
@vjsasinathan thanks for taking this on, just assigned to you.

[2022-03-01 17:31] annezazu commented on #37930
Noting that this came up in the [latest call for testing for the FSE Outreach Program](https://wptavern.com/fse-outreach-round-12-building-a-site-header-with-blocks):

Updating the title of this issue to more clearly reflect the description too :)

[2022-03-01 18:02] iandunn commented on #16988
To clarify, it seems like there's several things discussed here that are related, but somewhat independent of each other:

* Add a Slot for `edit-post-header-toolbar__left`
* Add a Slot for the center area between `edit-post-header-toolbar__left` and `edit-post-header__settings`
* Add a Slot for `edit-post-header__settings`
* Admin bar customizations are hidden in fullscreen mode, some of which ar

[2022-03-01 18:34] iandunn commented on #16988
My use case is that I'd like to add a new button to the `edit-post-header__settings`

<table>
<tr>
<td>

![Screen Shot 2022-03-01 at 10 04 18 AM](https://user-images.githubusercontent.com/484068/156223927-809653dc-8251-4479-9367-4cb0d454e158.png)

</td>
</tr>
</table>

It's similar to Jeff's Distributor plugin, where a multisite has a canonical version of a post, and other sites "fork" it, but som

[2022-03-01 18:45] westonruter commented on #30960
As I shared in https://github.com/ampproject/amp-wp/issues/6942#issuecomment-1051357046, here's a quick workaround to prevent the image in the Site Logo block from being rendered with `loading=lazy`:

[code]

[2022-03-01 18:52] jasmussen commented on #23293
Nice one Anne, it seems like if individual Page Links received the ability to employ background & text colors, as well as padding control and perhaps even border and border radius, combined with setting a gap of 1px, you'd be able to accomplish that design. The gap (block spacing) is already possible, the other items should be possible by editing theme.json manually, but might be worth ticketing s

[2022-03-01 19:09] gziolo commented on #38553
This issue was fixed by @alshakerM in #38936. It should be available on npm next week after the Gutenberg v12.8 RC1 plugin release planned on Wednesday.

[2022-03-01 19:17] iandunn commented on #16988
It seems like one of the blockers to this and other new slots is [the lack of room in the UI](https://github.com/WordPress/gutenberg/pull/17198#issuecomment-643095880). I don't understand why that has to be a problem, though.

Could we adapt the mobile layout to the device and the fills, rather than trying to make it use the desktop layout? For example, the "left", "center", and "right" areas of t

[2022-03-01 19:33] #39010 closed, assigned to tomasztunik

[2022-03-01 19:44] pwkip commented on #20213
I achieve this with some CSS included in the backend:

`[aria-label="Heading 1"], [aria-label="Heading 5"], [aria-label="Heading 6"] {
    display: none;
}`

Technically you could still add h1, h5 and h6 in the code editor, but for my use case this is sufficient.

[2022-03-01 20:35] adnanwk commented on #39035
Isn't it a bug? It is not request for a feature. A functionality that is working uptil version 5.8 is broken in 5.9.x

[2022-03-01 21:26] KevinBatdorf commented on #38553
Nice work!

[2022-03-02 02:12] creativecoder opened #39149 "Bug: cannot exit template editing mode in Site editor"
### Description

Back button disappears from the isolated template part editing in the Site editor, leaving no way to get back to the main editing interface.

### Step-by-step reproduction instructions

- Open the Site editor, select a template part, and open that template part in the isolated editor
- Open the list view and click on one of the blocks in the list
- The "Back" link disappears.

###

[2022-03-02 03:23] creativecoder opened #39152 "Bug: Image escapes container in the Site editor"
### Description

An image can escape it's container in the Site editor.

I don't see the same issue in the Post editor.

### Step-by-step reproduction instructions

- Open the Site editor
- Add a columns block with 2 columns
- Add a large image in one column
- Add some text in the other column
- You'll see that the image overlaps the text

### Screenshots, screen recording, code snippet

<img widt

[2022-03-02 07:43] amustaque97 commented on #37724
Hi, @ntsekouras , I saw you're working on the PR https://github.com/WordPress/gutenberg/pull/39145.

Could you give me some insights about this issue! Does this issue require some action item?

Thank you

[2022-03-02 08:00] devNigel opened #39154 "File Block: Opening editor with File block causes its file ID to get updated automatically"
### Description

When you open a post or a page that contains a File block, it causes its file ID to get updated automatically. This triggers Update button to get activated automatically without the user making any edits on the page.

If the post or page does not contain File block, that does not happen.

### Step-by-step reproduction instructions

1. Create a post or page.
2. Add File block and a

[2022-03-02 08:06] JEricaM commented on #35906
same problem!

[2022-03-02 08:50] Mamaduka commented on #39154
Hi, @devNigel

The issue should be fixed now on the trunk and will be part of the Gutenberg 12.8 release. See #39088.

[2022-03-02 08:51] Clorith opened #39155 "Custom css variables in theme.json have different keys in 5.9"
### Description

This is a migration of the reported issue from https://core.trac.wordpress.org/ticket/54953 :

Noticed that custom css variables generated by `theme.json` can have different output in WP5.9 compared to how they were in 5.8. Seems like 5.9 adds an extra `-` when numbers are included in the key.

[code]

The example above will in 5.8 create a variable called: `--wp--custom--m16` but

[2022-03-02 09:25] Contributolo commented on #16425
@grantbarrett

I added the scripts and functions like you described here: https://wordpress.stackexchange.com/a/396656/163133 .

I have a child theme but I had to put the js files in my parent theme (js folder).

I can see the js files loading fine in my source code while editing a page. When I going to edit a page, nothing changed. I cannot see this: https://imgur.com/a/zgPT1pQ

Any advice would

[2022-03-02 09:47] jasmussen commented on #39142
It's good to have a dedicated issue for this one, thank you, I definitely agree.

I touched a bit on the following concept in [this comment](https://github.com/WordPress/gutenberg/issues/37950#issuecomment-1015383669) as well, but the way I see it, the contents of your mobile overlay is a blank canvas, and you should be able to put any block there, including columns and non navigation blocks.

One

[2022-03-02 10:02] SantosGuillamot opened #39157 "Discussion settings are not respected when using inherit option in Comments Query Loop block"
### Description

Right now, when the “Inherit from Discussion Settings” option is enabled in the Comments Query loop, it doesn’t respect the setting “Break comments into pages with X top level comments per page and the last/first page displayed by default. Comments should be displayed with the older/newer comments at the top of each page.”

### Step-by-step reproduction instructions

1. Go to Disc

[2022-03-02 10:02] jameskoster commented on #29864
I wonder how the lock state is saved. If it's attached to the document (rather than the user) this might be tricky.

I do agree that the expected behavior can be subjective though. Perhaps another option would be to have a setting or a filter for the default state of certain block types?

[2022-03-02 10:14] Trapsta commented on #37241
@karmatosed , I'd like to work on a PR for this

[2022-03-02 10:25] getdave commented on #39142
Thanks for your excellent insight as always @jasmussen.

I think the idea of a wrapper into which you can place multiple Navigation blocks is a good idea. After all if the menus are drastically different them they shouldn't be the same `<nav>` anyway.

From a technical POV that's a challenge because it's going to require a separate "mobile overlay" block which has the ability to be populated diffe

[2022-03-02 10:28] Humanify-nl commented on #38574
Sorry @annezazu , I think I didn't expain my use-case correctly here.

As I am aware, setting any page as the 'blog page' in WP options, makes this into a post archive that loads in the template hierarchy from home.php / home.html. That is the exact use case.

The problem occurs outside of the query loop. It occurs on the home.html template where the 'post-title' block is assigned in a template-pa

[2022-03-02 10:33] Mamaduka commented on #29864
It's attached to a document and saved as [block attributes](https://make.wordpress.org/core/2022/01/08/locking-blocks-in-wordpress-5-9/).

[2022-03-02 10:35] jameskoster commented on #39124
Worth noting that when you revert _whilst editing the document_ there is an undo affordance:

https://user-images.githubusercontent.com/846565/156340717-69d8283b-87d0-4d40-bd66-4cdbbafb8994.mp4

We used the undo pattern here for a couple of reasons:

1. It aligns with other flows in WP like trashing posts
2. It essentially allows you to "preview" the revert directly on the canvas before fully comm

[2022-03-02 10:35] jasmussen commented on #39142
Yes, that's definitely similar.

My instinct is always to start with as little as possible, the shortcomings always have a way of presenting themselves when you do that, so you can address them one by one.

In this case, I would lean towards the mockup above: if you toggle the mobile menu to "always" and click the burger icon in the canvas, the very act of clicking that item would open up the moda

[2022-03-02 11:11] SantosGuillamot commented on #34994
I wanted to share a new update on the tracking issue and also what, in my opinion, is left to consider this project finished.

## Status of the issues/PRs mentioned in the last update

- [Consider using block placeholders when editing a template with no page context](https://github.com/WordPress/gutenberg/issues/37143): This issue has already been closed thanks to [this Pull Request](https://githu

[2022-03-02 11:25] djave-co opened #39160 "LinkControl Titles do not work as they should."
### Description

The titles of links are elusive and hard to edit. I initially flagged this as a feature request however I think now it is a bug.

If you select a post by using the search, the title is shown:
<img width="368" alt="image" src="https://user-images.githubusercontent.com/1035284/156351636-c1fe67a1-3b49-4c5b-bdc3-6aa1c75cf76f.png">

Clicking this title allows you to search for another

[2022-03-02 11:46] hypest commented on #38407
Updated parent post with:

### 🛠️ Recently fixed or improved

++ [Gallery block: Add integration tests related to its manual tests](https://github.com/WordPress/gutenberg/pull/38571)
++  [Social Icons - Begin Automating Existing Manual Test Cases](https://github.com/WordPress/gutenberg/pull/39027)

[2022-03-02 11:52] javierarce commented on #39082
Thanks, @tellthemachines, I'll have that in mind.

[2022-03-02 12:07] t-hamano commented on #39114
I think a window object would be appropriate for attaching the load event.

And I think useRefEffect would be a good choice based on [Make WordPress Core](https://make.wordpress.org/core/) article.

Like this:

[code]

[2022-03-02 12:24] youknowriad commented on #7422
@Trapsta Indeed that seems like the consensus, please free to open a PR about it ❤️

[2022-03-02 12:30] t-hamano commented on #38896
Perhaps it has something to do with the fact that the height of the spacers in the block pattern (theme / core / remote directory) is stored as a `number`, not a `string` ?

I have confirmed that stopping all block patterns as follows will stop all deprecated logs regarding core/spacer.

[code]

[2022-03-02 12:33] #27528 closed

[2022-03-02 12:45] t-hamano commented on #38903
Hi @maddisondesigns.

The problem of code block text color not being reflected has been resolved by the code block style refactoring in this PR #38712.

Please activate the Gutenberg plugin and see if the problem reappears.

[2022-03-02 12:55] Mamaduka commented on #39155
Thanks for reporting the issue.

If I remember correctly, these changes were required to get parity between JS/PHP kebab case - #36875.

[2022-03-02 12:56] kristietroutman22 commented on #28644
I have the same issue on [one of my websites](https://goodpaintballguns.com/).

Can someone please help? my menus sometimes work and after some days they are not clickable or not opening as well.

is it due to generate press or wp rocket?

[2022-03-02 13:03] getdave commented on #38275
## Update 2nd March 2022

* Progress is currently quite slow here - we're seeking more folk to help contribute. Please drop a message in [#feature-navigation-block-editor](https://wordpress.slack.com/archives/C01KDAZJMQ9) if you are interested.
* A prototype of a [Navigation Menu sidebar](https://github.com/WordPress/gutenberg/pull/38600) is available for feedback.
* [PR refactoring Nav block load

[2022-03-02 13:06] getdave commented on #39160
Thanks for the feedback @djave-co.

[2022-03-02 13:35] grogou commented on #39114
@t-hamano thank you for this, but is there some difference between standard editor and FSE editor?  and about window listeners, my case is not use window.addEventListener it fire event on ref.

[2022-03-02 13:51] t-hamano commented on #39114
@grogou
Unlike a regular editor, the site editor is an iframe editor instance, so when binding events to the windows object, a relative window (`defaultView`) starting from ref must be used.
(I don't know why the load event is not fired in the site editor when the load event of `ref.current` is applied...)

[2022-03-02 14:41] getdave opened #39162 "Improve discoverability of (and new location for) new menus system"
## What problem does this address?

With WordPress 5.9 the `Menus` page will be removed for any site that uses a Block Theme. This has been replaced by the Navigation block and menus are now managed from with the editor.

Folks have been reporting that there is a lack of discoverability for this change. Here is [one such example from my YouTube channel](https://www.youtube.com/watch?v=BzDCCNjF9mg&

[2022-03-02 15:20] adamsilverstein commented on #30960
I tend to agree this UI would be confusing for most users and they might not know when to use it. Certainly something a plugin could offer, but maybe not something we would want as a built in control.

[2022-03-02 15:39] hypest commented on #39134
For context, [relevant conversation here](https://github.com/WordPress/gutenberg/pull/38996#discussion_r812898924).

[2022-03-02 15:41] sthielen commented on #38226
Curious if you were able to resolve this? We're seeing the same issue with a block that uses styled-components. Looks like it's related to the way the template editor uses iframes, per [this thread](https://make.wordpress.org/core/2021/06/29/blocks-in-an-iframed-template-editor/).

[2022-03-02 15:48] #39143 closed, assigned to fluiddot

[2022-03-02 16:36] 9-tailed opened #39166 "adding templateParts to child theme disables random titles of other template parts"
### Description

The 2022 theme has 4 template parts. I wanted to add 1 with a child theme, a second footer.
This worked as intended, but it had a little side-effect.
After I added a new template part, one of the parent templates parts lost its title, instead, it showed the slug/name.
After adding a second template part another parent template part lost its title but the first one got its back.

#

[2022-03-02 16:44] Mamaduka commented on #36603
This was fixed via #38808.

[2022-03-02 16:44] #36603 closed, assigned to nobody

[2022-03-02 16:48] 9-tailed opened #39167 "Child Theme can't export templates"
### Description

I added a child theme for twenty twenty-two and started editing some templates. I then wanted to export that templates to make it the default template with my child theme. But the edit-site-export.zip can't be opened. Sometimes I even get an "An error occurred while creating the site export." and no file at all. When I activate the parent theme, the export is working fine. Switchi

[2022-03-02 17:43] apeatling commented on #38751
@ramonjd Did you do this as an initial step? Should we keep this moving forward with some of your suggestions above?

[2022-03-02 18:43] davipontesblog opened #39170 "Post featured image block: Allow using "first image" as a fallback"
## What problem does this address?
One feature that is available in the classic WordPress Customizer experience for many themes is the option to “[Automatically use the first image in post](https://wordpress.com/support/customizer/content-options/#automatically-use-first-image-in-post)” as a fallback for featured images. Bringing this option into the new Post Featured Image block would also shorte

[2022-03-02 18:52] graylaurenm commented on #37943
I agree that this would be an excellent stepping stone between classic themes and FSE and it's something my team is looking for.

In the meantime, we're using a custom post type as a stop-gap solution, which presents its own challenges.

[2022-03-02 18:53] DaveBoydy commented on #35607
Make all top-level blocks ignore site padding by default with the option to turn ignore padding off.

Would love the choice of being able to switch between different grid layouts E.G. standard layout with the header at the top, content at the middle and footer at the bottom to header at the side with content spanning from the top to the footer at the bottom.

[2022-03-02 19:50] skorasaurus commented on #39155
Thanks for reporting; this was an intentional change as reported at https://github.com/WordPress/gutenberg/issues/31629 and fixed in https://github.com/WordPress/gutenberg/pull/35751

[2022-03-02 19:52] skorasaurus commented on #39170
Thanks for making this issue; I've used this feature in some classic themes as well.

related https://github.com/WordPress/gutenberg/issues/34865 which requests inserting a default specified image as a fallback.

[2022-03-02 20:16] dmsnell commented on #38107
We can all acknowledge that this kind of interactive experience is not a challenge within a single block (and within its allowed nested block types if there are any). Spanning across multiple blocks presents a problem not there in a single block: data flow. We're taking a system that was designed as a whole unit (evidenced by the way `comment_form()` is called in themes) and splitting it into inde

[2022-03-02 20:17] edequalsawesome opened #39172 "FSE: Previewing in a new tab should reflect template changes even before saving"
### Description

On a published post or page, if

* you change the Template in the Page/Post editor right-side panel and click Preview in new tab

or

* you change the Template in the Page/Post editor right-side panel, and then click Edit to end up in the Template Editor, and lastly click Preview in new tab

the change is not reflected.

It only reflects if you preview after you save changes by cl

[2022-03-02 20:34] Clorith commented on #39155
So this is an intentional change that isn't going to change back then, am I reading that right? As this is a breaking change in styling behavior between 5.8 and 5.9 in terms of theme.json compatibility, we need to be very clear if that's the case.

[2022-03-02 21:09] ramonjd commented on #38751
Thanks for the ping. No I haven't yet returned to this one yet (I want to!), but I think it would be good to look at extending the [WordPress core overrides.](https://github.com/wordpress/wordpress-develop/blob/b8f97013df4fb461c72ebf7d0b5166bac15a526b/src/wp-includes/script-loader.php#L349)

[2022-03-02 21:09] edequalsawesome opened #39174 "FSE: Template Part fails to save if the name contains an emoji"
### Description

### What you expected to happen

Emoji should either be supported in the Template Part's name or validation should be implemented for the Template Part name at the time of its creation.

### What actually happened

`Saving failed.` message is displayed.

### Step-by-step reproduction instructions

1.  Create a new Template Part via Site Editor > Template Parts > Add New
2.  Includ

[2022-03-02 22:20] jordesign commented on #33869
Looping back to this old issue - @jasmussen  it looks like these menu items have been removed in core. Is it worth revisiting if they can be brought back? Have an entry point directly to templates is really handy (and in some ways a smaller change of editing-model than the Site Editor)

[2022-03-02 22:30] edequalsawesome opened #39175 "FSE: Menu updates through the Customizer or Apperance > Menus section not reflected on site"
### Description

If you select one of your already created Menus (under `Appearance > Customize` or `Appearance > Menus`) to be added to the Header section of FSE Header ->Navigation section, you will notice that this section doesn't update automatically when you make any additional changes to those sections -- you need to re-select the Navigation menu to be used from the Classic Menu section inst

[2022-03-03 00:52] zero2webmaster commented on #21918
Constrain image proportions is absolutely critical. Please add this functionality ASAP.

[2022-03-03 03:39] noisysocks commented on #28517
I'm working on implementing something similar to https://github.com/WordPress/gutenberg/issues/28517#issuecomment-875263042. It will be entirely in Core so let's close this issue in favour of a Trac ticket: https://core.trac.wordpress.org/ticket/55301

[2022-03-03 03:39] #28517 closed

[2022-03-03 04:42] t-hamano commented on #38896
Related WordPress Ticket:
[Twenty Twenty-Two: use custom units spacer blocks](https://core.trac.wordpress.org/ticket/55169)

[2022-03-03 04:44] #39154 closed, assigned to nobody

[2022-03-03 04:56] noisysocks commented on #38751
I find it confusing that the first two options in the dropdown come from the site's _Date Format_ and _Time Format_ settings but that there's no indication of that.

It's also weird that, because we store the format (e.g. `F j, Y g:i a`) in the Post Date block attributes, changing the site's _Date Format_ or _Time Format_ settings doesn't update any existing Post Date blocks, which is what happens

[2022-03-03 05:10] maddisondesigns commented on #38903
Hi @t-hamano

Yep, I can confirm that the latest Gutenberg plugin fixes the issue with changing the text color.

One other thing that is also changed though, is that there's no longer a `Clear` button to reset the color back to what it was

Before:
<img width="1377" alt="screenshot_867" src="https://user-images.githubusercontent.com/2078245/156499320-cbd77c60-aab2-4bf2-bd07-38517fccec04.png">

Aft

[2022-03-03 06:04] ramonjd commented on #38751
Thanks for looking at this @noisysocks

I like the idea of integrating the currently-selected site date format into the list

I hacked together something for this custom date demo and seem to recall it didn't take long at all:

https://github.com/WordPress/gutenberg/issues/25456#issuecomment-1018114747

Good spotting. That's also something I'd have expected to happen. It'd be awesome be able to of

[2022-03-03 07:02] #36873 closed, assigned to Mamaduka

[2022-03-03 07:16] github-actions[bot] opened #39179 "[Flaky Test] shows placeholder preview when block with no menu items is not selected"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
shows placeholder preview when block with no menu items is not selected

## Test path
`specs/editor/blocks/navigation.test.js`

## Errors

<time datetime="2022-03-03T07:16:12.123Z"><code>[2022-03-03T07:16:12.123Z]</code></time> Test passed after 1 failed attempt on <a href="

[2022-03-03 07:35] jasmussen commented on #33869
@jordesign you're referring to the legacy "Theme Editor" item from the Appearance menu, correct?

* When you use a classic or hybrid themes, it should still be there, under appearance.
* When using a block theme, it's under Tools > Theme File Editor

<img width="367" alt="Screenshot 2022-03-03 at 08 33 11" src="https://user-images.githubusercontent.com/1204802/156517867-1ebffe5e-43da-405d-b48f-352

[2022-03-03 08:09] jordesign commented on #33869
Jey @jasmussen  - I'm referring to the fact you used to be able to access a list of templates, and template parts from within WP Admin directly (as shown in your screenshot above). They don't seem to exist any more under 'Appearance' - only Themes and Site Editor

![](https://user-images.githubusercontent.com/1204802/128180721-a6b90100-9c6b-4cc3-a314-75eed4321b59.png)
[link to image](https://user-

[2022-03-03 08:17] jasmussen commented on #33869
Ah, they've moved inside the site editor:
![templates](https://user-images.githubusercontent.com/1204802/156524447-4ccf442f-483a-47b1-86d7-c820827fb9fc.gif)

Hope that's what you're looking for.

[2022-03-03 08:20] talldan commented on #39175
Thanks for reporting.

The classic menus are migrated to a new menu format, and further edits will need to be made within the navigation block itself.

Some discussion has taken place on how the UI could be improved to convey that here - https://github.com/WordPress/gutenberg/issues/36307.

There's no plan to make classic menus directly editable from the navigation block. Given #36307 already disc

[2022-03-03 08:20] #39175 closed, assigned to nobody

[2022-03-03 08:21] jasmussen commented on #38204
I'm closing this one as fixed by 37003, but please reopen if that wasn't the case!

[2022-03-03 08:21] #38204 closed, assigned to nobody

[2022-03-03 08:21] MaggieCabrera commented on #38498
Thank you @vjsasinathan please do tag me on your PR for review, please!

[2022-03-03 08:51] grogou commented on #39114
@t-hamano thank you it is lot of help.

[2022-03-03 09:02] grogou commented on #39114
`useRefEffect` not working too. So the problem is site editor or idk, is someone know how can this issue will be fixed?

[2022-03-03 09:17] jordesign commented on #36667
One thing I wanted to note from a user POV (coming from assisting users) is that for a lot of tasks - we'll often guide them straight to the template editor to make changes (things like changing the Post Title Styling for eg). In these instances - having to take them _through_ the Site Editor is something of a roadblock and/or overwhelming distraction.

I'd love if this plan being considered allow

[2022-03-03 10:18] fluiddot opened #39182 "Support `parse` option of API fetch library"
## What problem does this address?

In the web version of the editor, the [API fetch library](https://github.com/WordPress/gutenberg/tree/trunk/packages/api-fetch) allows controlling, via [the `parse` option](https://github.com/WordPress/gutenberg/tree/trunk/packages/api-fetch#parse-boolean-default-true), whether the return value of `apiFetch` will resolve to the parsed JSON result or the full res

[2022-03-03 10:57] dhalucario opened #39184 "Block Inspector / Settings are very crammed"
## What problem does this address?
When I started using Gutenberg for the first time I noticed everything looks very crammed. I did not find anyone mentioning this and I did not wanna hijack an existing issue. When having blocks with more options it's really easy to loose the overview and be overwhelmed by all the options you get in 1/10th of your screen.

## What is your proposed solution?
I have

[2022-03-03 11:40] Humanify-nl commented on #39184
I think the problem of your solution is that even if there is such a mode, it still has to look good in the block inspector/sidebar. Yet I still like your idea for implementing Advanced custom fields in a block theme. As since update 5.12 the fields can only be manipulated in the inspector and not in a block preview.

Still, I am confident that with each update it becomes less crammy. See for exam

[2022-03-03 11:49] t-hamano commented on #39114
Perhaps the event is not attached because the document is already loaded in the site editor (iframe editor instance).

I think it would be better to do the processing directly within `useEffect` without attaching the event.

[code]

[2022-03-03 12:07] dhalucario commented on #39184
I didn't specifically talk about ACF but when looking at ACF, other block based systems and at my own custom post types with shortcodes, it seems a lot of the time it would make more sense to have a custom block and configure that with a separate window. For it being in the sidebar, I think it would be fine if the lightbox opens when you click on the accordeon button.

Lets say I have a visual edi

[2022-03-03 12:14] DAreRodz commented on #37181
Hey @jameskoster, you are right, it's because we are using this in all comment blocks:

https://github.com/WordPress/gutenberg/blob/eaa2e0a91a8ccac43fa2e39f60c37713bff165d7/packages/block-library/src/comment-content/block.json#L7

That limits `core/comment-template` to be the only possible parent for all comment blocks. As a workaround, I would add `core/column`, `core/group`, etc. to the `parent`

[2022-03-03 12:21] Humanify-nl opened #39187 "Home.html displays title from query loop instead of post-title"
### Description

As I am aware, assigning any page as the 'blog page' in WP reading settings, this will load home.php / home.html in the template hierarchy. This is the specific use case here.

In the home.html template, we want to add a post-title to the blogpage template, or in a template-part assigned to the home.html.

**Problem**: The title displays the title of first post in the loop. Not th

[2022-03-03 12:29] scruffian opened #39188 "Block Themes tracking issue"
This is an overview issue, tracking what features we are missing from block themes.

# High impact issues
- [ ] https://github.com/WordPress/gutenberg/issues/43852
- [ ] https://github.com/WordPress/gutenberg/issues/39142
- [x] https://github.com/WordPress/gutenberg/issues/4543
- [ ] https://github.com/WordPress/gutenberg/issues/42299
- [x] https://github.com/WordPress/gutenberg/issues/14744

Beyo

[2022-03-03 12:30] scruffian commented on #35884
Reopening as this was never resolved.

[2022-03-03 12:37] scruffian opened #39189 "Visual Theme Building Tracking Issue"
Improving the export tools in the Site Editor to make them more useful to Theme Designers to update their themes and create new ones.

- [x] https://github.com/WordPress/gutenberg/pull/39173
- [x] https://github.com/WordPress/gutenberg/issues/39194
- [x] https://github.com/WordPress/gutenberg/issues/38199
- [x] https://github.com/WordPress/gutenberg/issues/38194
- [x] https://github.com/WordPress/

[2022-03-03 12:42] scruffian opened #39190 "Theme Export: Add readme and license files"
From https://github.com/WordPress/gutenberg/issues/38199

We should include a default readme.txt and license file from themes that are exported from the Site Editor.

[2022-03-03 12:49] scruffian opened #39191 "Theme Export: Update the theme meta data."
There is a suggestion in https://github.com/WordPress/gutenberg/issues/38199 to "Replace the style.css file with information from theme.json."

It's not totally clear how this should work. I don't think the theme name and meta data should live in style.css and theme.json files should be portable across themes. Can we offer users tools to update this meta data in the Site Editor?

[2022-03-03 13:05] Humanify-nl opened #39192 "Query loop addition: sibling post/page (omit current post-id)"
## What problem does this address?
The query loop block is getting better and better, especially with the ability to use patterns for the grids.

One thing I still miss is to be able to omit the current page/post from the query. I want to show page siblings, or related posts under a single-post for example.

Or maybe I am unable to find it?

A use case would be to:
- Add a query loop block in a te

[2022-03-03 13:24] Humanify-nl commented on #39162
I've always found it strange that the old menu screen was not brought in line with the new way of editing in the block itself. I guessed there were technical limitations and also assumed that this is in the works.

What would be great is to have one place to manage all the menu's.

When I was playing around a bit with the menu block and tempate parts, there were somehow 5 different menu's created

[2022-03-03 13:26] scruffian opened #39193 "Theme Export: Handle the pattern block if it's using a theme specific pattern."
Some themes use the pattern block to output content into templates. To preserve this content once the theme is exported we need to either:

1. Render the content of pattern into the template.
Advantage: No need to export pattern files
Disadvantage: Loses and i18n benefits of the pattern

2. Copy the pattern files into the theme
Disadvantage: We need to work out how to include the pattern files in

[2022-03-03 13:27] ciampo commented on #33291
Opened a tentative fix for this in #39186

Re. this suggestion, I made a note and I'm going to consider it when I'll resume the work on refactoring `NumberControl` to TypeScript (https://github.com/WordPress/gutenberg/pull/38753)

[2022-03-03 13:33] draganescu opened #39194 "Save theme edits from the site editor to the theme files"
Since the site editor can export a theme's modifications, it makes sens to have the ability to save (and hence alter) the current theme's files when edits have been made in the site editor.

However the goal is not to create the whole "file editor" thing again :) but to enable designers to visually update the theme. Therefore I suggest that this functionality be available only while `theme.json` h

[2022-03-03 13:33] scruffian opened #39195 "Theme Export: Create a theme screenshot"
When a theme is exported using the Site Editor it would be great to also include a screenshot.png. I'm not sure how we'd generate this dynamically...

[2022-03-03 13:36] scruffian opened #39196 "Theme Building: Create a new theme"
We should give users a way to create a "New Theme" from scratch in the Site Editor.

[2022-03-03 13:40] t-hamano commented on #37093
This issue should have been resolved by #37791, but I checked again and for some reason it has not been improved in the latest gutenberg.
However, the clear button appears correctly in WordPress 5.9.1 with PR backported.

### Step-by-step reproduction instructions

- Create a block theme with a minimum of files.
- **Deactivate** gutenberg plugin (Clean WordPress 5.9.1).
- Disable `defaultPalette`

[2022-03-03 13:45] t-hamano commented on #37093
Related: #38903

The problem with the clear button not showing up may occur with or without the default palette.

[2022-03-03 13:48] t-hamano commented on #38903
The problem with the clear button not showing up sould have been solved on #37791, but I can reproduce on my enviroment too.

So I updated my issue #37093, please see.

[2022-03-03 13:50] t-hamano commented on #38903
The problem with the text color not being reflected on code block has been solved, so I'll close this issue.

If you have any problem, please reopen or create new issue.

[2022-03-03 13:50] #38903 closed, assigned to nobody

[2022-03-03 14:36] Mamaduka commented on #31143
Hi, @ddryo

You can specify the `key` property on the `MediaUpload` component. React will recreate the component when the `key` changes or keep re-rendering as long as the `key` is the same.

Here's an updated part of the code from your example:

[code]

The change in action:

https://user-images.githubusercontent.com/240569/156586041-c017e6f8-0c2e-4d76-b3fd-7494fe03c7af.mp4

[2022-03-03 15:52] eric-michel commented on #38998
This is fantastic! I made a similar issue related specifically to spacing awhile back: https://github.com/WordPress/gutenberg/issues/34210 (which I'm now going to close in favor of this one). Creating standard options for our users is really important, rather than just giving an open field with which they can adjust things like spacing using any value they like.

I also agree that colors shouldn't

[2022-03-03 15:52] #34210 closed, assigned to nobody

[2022-03-03 16:21] getdave opened #39200 "Force unique names for imported classic menus in Nav block"
Currently you can import a classic menu with the Navigation block and it will create a block based Navigation with the exact same name.

The issue is that you can do this repeatedly, generating the exact same name over and over again.

Let's refactor `use-generate-default-navigation-title` to accept a title to dedupe against rather than relying on only a default:

https://github.com/WordPress/gute

[2022-03-03 16:26] gigitux opened #39201 "Hide a block from the Global Styles list settings"
## What problem does this address?
For a WooCommerce Block (´Mini Cart Contents` block`) we would like to add support for the Block Style level, but not for the Global Styles level because this block is available only on specific template parts. At this moment there isn’t a way to hide the block from the list on the FSE editor. We would appreciate the possibility to decide what block should be vis

[2022-03-03 16:45] getdave commented on #39162
Hi @Humanify-nl. Thank you for taking the time to feedback here.

The points you make are valid and the team working on the Navigation feature is very conscious of this.

There was originally the Navigation Editor screen but the currently feeling is that this is overly ambitious. What we're working towards now is providing somewhere to manage menus outside of the Navigaiton block whilst still rema

[2022-03-03 16:49] gwwar commented on #36667
Leaving a quick note that @scruffian should be able to continue with explorations here. Y'all are welcome to take over or cherry-pick parts of https://github.com/WordPress/gutenberg/pull/38600 if folks need it.

[2022-03-03 17:02] Humanify-nl commented on #39162
@getdave  I have been following WP's developments closely the last months, even digging into issues here and there and totally understand where you're getting at with the direct editing paradigm. To see how Gutenberg improves in great strides is impressive. Even though not all changes are what we expect or go against what we're used to (and what we're used to is not per se better). Possibly like t

[2022-03-03 17:30] scruffian commented on #38199
What do you think about just exporting the whole theme, like this https://github.com/WordPress/gutenberg/pull/39202 ?

[2022-03-03 17:46] Mamaduka commented on #39189
I think we need to define what purpose current export functionality should serve. For example, is it for creating new themes or exporting modifications for the current theme?

I also wanted to mention this issue (#27941) by @mtias.

[2022-03-03 18:00] bradhogan opened #39203 "Unable to disable Typography panel"
### Description

Previously I had the following in my theme:

[code]

To disable the unwanted Typography Panel from Gutenberg as it is confusing to our customers and overwhelms them with options.

However, with 5.9 this simple fix no longer works and I cannot find documentation on how to actually remove this panel from our theme support.

Thank you!

### Step-by-step reproduction instructions

Add

[2022-03-03 18:46] 9-tailed commented on #39167
I finally found the problem.
In the function.php there were some spaces after the ?>
This did not show any errors except for exporting.
The same applies to normal themes made from scratch, not only child themes.

[2022-03-03 19:23] jackholden commented on #39203
Do you have a theme.json file? If not make one and try below as future WordPress is heading in a theme.json direction. Much simpler.

[theme.json Docs](https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-json/#settings)

I think these are all the params available currently regarding typography:
[code]

[2022-03-03 20:39] fatesallow commented on #27629
I would really like this too. I'd love to be able to use a filter to add to the alignment options.

Right now I make a filter that adds an option for "extra wide" in the sidebar, but it's hard to explain to clients why they choose an alignment option on the block toolbar, but for "extra wide" they need to use the sidebar.

[2022-03-03 20:51] annezazu opened #39205 "Expand design options for Custom Link block in navigation block"
## What problem does this address?

As part of the twelfth call for testing for the FSE Outreach Program, [feedback came in](https://wptavern.com/fse-outreach-round-12-building-a-site-header-with-blocks) around how it's not currently possible to create button like menu items using the navigation block:

Here's the design in question:

![pizza-button-links](https://user-images.githubusercontent.com

[2022-03-03 20:54] pablohoneyhoney commented on #29864
Nice!

- Do you think we could try to have less separators in the modal?
- Have we considered calling it _Restrict (block name)_? So it refers to adding granular restrictions rather than only _locking_ it as a whole, which is what it reads when seen in the dropdown.
- Perhaps a bit more line height in the modal text.
- And explore a more discreet _restricted_ icon? While is clear it looks a bit ja

[2022-03-03 20:56] pablohoneyhoney commented on #29864
As an aside, the icons seem to difer visually, not sure why. The below one (still large I think) seems more proportionally right, less a _suitcase_.

<img width="344" alt="Screen Shot 2022-03-03 at 3 54 57 PM" src="https://user-images.githubusercontent.com/25516611/156651463-9874a18f-6b18-425e-bb46-866b26c1a9fd.png">

[2022-03-03 21:45] LukaszJaro commented on #21584
I'm seeing alot of WordPress plugins bundle accordion blocks, and 90% of them are using the "Details" element unknowingly/knowingly creating accessibility issues so would definitely be nice if WP released a good example of an accessible accordion.

How important is progressive enhancement with accordions? Bootstrap CSS library, known for accessibility, has a  collapse(accordion) component. In thei

[2022-03-03 22:16] augustuswm commented on #27629
This is not at all PR ready, but internally at my company we are using the following if it is helpful to sketch out the idea. It is by no means extensively tested, and is really targeted to work for our use case.

Replace direct use of `BLOCK_ALIGNMENTS_CONTROLS` with filtered value in

`packages/block-editor/src/components/block-alignment-control/ui.js`
[code]

Replace default use of `DEFAULT_CON

[2022-03-03 22:47] jordesign opened #39206 "Allow spacer block to set a width when inserted inside Row blocks."
## What problem does this address?

The use case for the horizontal space between blocks comes into the picture when we consider the Row block and its usage in the Header template in FSE.

To add more space between two blocks inside a row block, there is currently nothing that can be used other than an empty paragraph block.

## What is your proposed solution?

Just as we use Spacer block to add e

[2022-03-03 22:48] westonruter commented on #21584
There is a standard HTML feature that can be used to implement accordions today: the [`details` element](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details) ([Can I use](https://caniuse.com/details)). Not only does it work with JavaScript disabled, but with https://github.com/whatwg/html/pull/6466 browsers will automatically expand `details` elements when doing find-in-page if there

[2022-03-03 23:32] critterverse commented on #29864
Thanks for the notes @pablohoneyhoney — we'll work on refining some of the design aspects in https://github.com/WordPress/gutenberg/pull/39183.

This does probably make more sense 😆 Folks seem to be understanding the word "lock" pretty well in this context so far, too. What do others think?

[2022-03-04 00:04] ZebulanStanphill commented on #21584
@westonruter But there's a catch: you can't put a heading in the `<summary>`.

https://daverupert.com/2019/12/why-details-is-not-an-accordion/

EDIT: It's worth noting that there is an effort to design and propose a real accordion element for HTML, but don't expect it to be in browsers any time soon. https://daverupert.com/2021/10/native-html-tabs/

[2022-03-04 01:04] pjoulot commented on #34380
I kind of agree, loading styles for the block previews and for the rich text editor should not be coupled. It sounds like a conception error to me.
I encountered the same problem, and I actually had a hard time to find out that you have to use add_editor_style to fix the previews since for me "add_editor_style" was tinymce and I didn't even think about that it could be the same function to add sty

[2022-03-04 01:27] glendaviesnz commented on #28247
Another possibility which has been discussed is to modify the innerBlocks api somehow to allow a different element structure to be passed. Initial investigations indicated that it wasn't possible to get a tiled or masonry gallery purely with CSS, but it seems a shame to have to recreate the whole block just to get a different layout.

The other advantage is that this additional api may be useful f

[2022-03-04 01:31] carlomanf commented on #39192
#31272 and #34033 are related.

[2022-03-04 02:26] carolinan commented on #38199
I am not sure. Of course we need to look at it from user perspective too, not only our developer perspective.

-It is useful to get all the changes, since then we as developers do not need to copy paste template markup
-Will users believe they are creating a new theme? Will they not take their new zip file and try to install it? They would end up with two themes with the same name? Will the zip an

[2022-03-04 02:38] #28742 closed

[2022-03-04 02:56] carolinan commented on #39095
I am sorry I don't understand what this means :)
_the block is loaded after the global styles compat files, so it doesn't know about the existence of the block yet._
-Why would any block be loaded after that?

When adding the block, I placed it in the wrong "list" and I am trying to solve that here, is that related?
https://github.com/WordPress/gutenberg/pull/38320

[2022-03-04 02:57] carolinan opened #39207 "Styles for the .wp-container-uniqueID are loaded in the incorrect order or not loaded at all in 5.9.1 - 5.9.2"
### Description

Since Gutenberg 12.7, if you use do_blocks() to render a block, the CSS normally placed in a style tag for the `wp-container-uniqueID` inline in the document is missing. Such as the flex, margins, widths and alignments.

I have received multiple reports and support requests about this causing problems with missing styles for universal and hybrid themes.

### Step-by-step reproduct

[2022-03-04 03:08] nicholasio opened #39208 "Do not declare `wp-prettier` as a dependency of `@wordpress/eslint-plugin`"
## What problem does this address?

Currently, the `@wordpress/eslint-plugin` is declaring the WordPress fork of prettier as direct dependency and therefore making the wrong assumption that every project using that package is going to use WP fork of prettier.

At 10up, we have our own [build tool](https://github.com/10up/10up-toolkit) similar to `wp-scripts` but we do not use `wp-prettier`, we use

[2022-03-04 03:26] noisysocks commented on #38751
Yeah definitely.

Probably we can leave Latest Comments how it is, since that block is on its way out in favour of Comments Query Loop. I'd say we should mirror whatever we do for the Post Date block to the Comment Date block, though.

[2022-03-04 04:22] chthonic-ds commented on #39166
Just noting I've seen similar behaviour when adding templates to a theme, no child required. I didn't have time to troubleshoot at the time but will see if I can replicate when I get a free moment.

[2022-03-04 04:41] alexstine commented on #21584
Quick question. Is there a reason we're working this hard to avoid a few lines of JavaScript on the front-end? I am not at all advocating to make JS everywhere on the front-end but there are plenty of stylesheets at play. I am not seeing where the JavaScript is creating such a big implementation issue.

[code]

Could include a custom JS file that gets minified.

[code]

This is just a basic exampl

[2022-03-04 04:54] daverobertson commented on #38299
Being able to set `"defaultDuotones": false`, in theme.json would be great! We're developing a theme that provisions a couple custom duotones. However, all the core/bundled ones (e.g. blue-orange, yellow-purple, etc — that we don't want) are still being rendered in the html alongside our custom ones no matter what. Having a way to disable just those, while preserving only our theme's custom duoton

[2022-03-04 05:07] iidastudio opened #39210 "Creating a new color in multibyte character, the style in editor will be broken."
### Description

When creating a new color in Editor>Style>Pallet>Custom, the editor style is broken if a color name is created using multibyte characters such as Japanese or Emoji.

Especially when the language setting is Japanese, the default name is "color1", which is broken as it is.
Japanese default value should be "color1" to disable input of multibyte characters or not break when typed.

Al

[2022-03-04 05:14] noisysocks commented on #38751
I started implementing what I described above in https://github.com/WordPress/gutenberg/pull/39209. Let me know if you think it's a good idea and I'll polish it up!

[2022-03-04 06:21] jasmussen commented on #29864
Solid feedback. @Mamaduka I'm happy to help you with these items next week. I'll also update the icons in Figma where they are both chunky:
<img width="376" alt="Screenshot 2022-03-04 at 07 18 50" src="https://user-images.githubusercontent.com/1204802/156710584-e90e5c29-9900-4c7c-86e0-97752d30c846.png">

[2022-03-04 06:55] carolinan commented on #39207
WordPress 5.9.0 without Gutenberg: Styles are included
WordPress 5.9.0 with Gutenberg 12.6: Styles are included
WordPress 5.9.0 with Gutenberg 12.7: Styles are not included

WordPress 5.9.1 without Gutenberg: Styles are not included
WordPress 5.9.1 with Gutenberg 12.6: Styles are included
WordPress 5.9.1 with Gutenberg 12.7: Styles are not included

[2022-03-04 07:03] getdave commented on #39162
In which case you might like https://github.com/WordPress/gutenberg/pull/38600.

[2022-03-04 07:47] talldan commented on #39206
Thanks for creating the issue. This one is already reported in https://github.com/WordPress/gutenberg/issues/36197, so I'll close as a duplicate.

[2022-03-04 07:47] #39206 closed, assigned to nobody

[2022-03-04 08:00] scruffian commented on #39189
I agree. Could it be both?

[2022-03-04 08:05] talldan commented on #39149
I think the issue is that the items in List View are links, and when clicked they result in new location state that doesn't have the `fromTemplateId` property used here:
https://github.com/WordPress/gutenberg/blob/827d099c6a342ef38bcee9e86d4ef5058952c01c/packages/edit-site/src/components/block-editor/back-button.js#L17-L21

I notice if you use the browser back button to effectively undo, then the

[2022-03-04 08:54] szykuc commented on #32051
Hello, i found this thread because i try to remove default styles for some blocks. I was try yours code but it didn't work for me.  Still it load default gallery css in /wp-includes/css/dist/block-library/style.min.css
Any advices?

[code]

[2022-03-04 09:11] base-creme opened #39217 "Upgrade Gutenberg 12.7 + do_blocks() for template part = display:flex CSS property not loaded anymore"
### Description

Hi everybody,

I'm running into an issue since I upgraded Gutenberg from 12.6.1 to 12.7.
The whole site displays properly but one not : the one based on a custom template part.

Here is the code I use for my template part :

[code]

I noticed that every block in it using display:flex are not displayed properly in header and footer.
In fact, the CSS property display:flex isn't load

[2022-03-04 09:38] Mamaduka commented on #39217
Thanks for contributing, @base-creme.

I think this issue is similar to what @carolinan reported in #39207.

[2022-03-04 09:39] gziolo commented on #39208
In theory, we could make Prettier a peer dependency and mark it as optional. It would be similar to what we did for TypeScript:

https://github.com/WordPress/gutenberg/blob/6933f934a1289cbbebd9f99d31b9258642e2cb46/packages/eslint-plugin/package.json#L57-L61

https://github.com/WordPress/gutenberg/blob/6933f934a1289cbbebd9f99d31b9258642e2cb46/packages/eslint-plugin/configs/recommended.js#L30

We ne

[2022-03-04 09:40] Mamaduka commented on #39207
Pinging @oandregal. This might be related to #38750 which was backported into minor release.

[2022-03-04 09:40] base-creme commented on #39217
Indeed. Thank you !

[2022-03-04 09:42] Mamaduka commented on #39217
I will close this as a duplicate and link it into the original issue if that's okay with you.

[2022-03-04 10:16] #39217 closed, assigned to nobody

[2022-03-04 10:17] Mamaduka commented on #39207
Another issue reported #39217.

[2022-03-04 10:34] langhenet commented on #36135
God, I opted to use gutenberg and develop custom blocks to avoid this pagebuilder kind of stuff... and I am also interested in knowing if there is any way to opt out of it.

[2022-03-04 10:50] scruffian commented on #39095
Yes! This is fixed by https://github.com/WordPress/gutenberg/pull/38320

[2022-03-04 11:35] scruffian commented on #39095
I think there was something wrong with my testing, this is still an issue...

[2022-03-04 11:53] jameskoster commented on #37181
It's a shame because the result is that comment layouts like this are prohibited:

<img width="733" alt="Screenshot 2022-03-04 at 11 45 17" src="https://user-images.githubusercontent.com/846565/156757783-6acfb8ee-3567-40e6-8dfb-0e274880d1a2.png">

Could the `parent` property look at all ancestors?

[2022-03-04 11:59] jameskoster commented on #29864
There are a few unpublished icon explorations in the [WordPress Design Library](https://www.figma.com/file/e4tLacmlPuZV47l7901FEs/WordPress-Design-Library?node-id=28932%3A23409).

<img width="400" alt="Screenshot 2022-03-04 at 11 57 29" src="https://user-images.githubusercontent.com/846565/156759603-c5394b9e-88c9-4ff5-b4df-fc13ca8bb561.png">

[2022-03-04 13:25] DAreRodz commented on #37181
Yup, it seems possible and not that hard to do. I did a quick tests and everything works as expected (although a bunch of unit tests fail because of mocks missing some properties).

I'll open a PR 👍

[2022-03-04 13:34] MaitreArt opened #39220 "The group block adds some inline styles that aren't validated properly via W3C validator"
### Description

When I add the core group block there are inline styles added to its class, such as:
[code]

And when we check it through https://validator.w3.org/ we have errors:
`Element style not allowed as child of element body in this context. (Suppressing further errors from this subtree.)`

### Step-by-step reproduction instructions

1. Go to the page or post
2. Add group block, update the

[2022-03-04 14:21] fabiankaegy commented on #38830
@youknowriad I'm curious about your thoughts here. Could this be solved by adding a `register_block_support` function in core that would essentially wrap this here:

[code]

That way we would not need to add an actual filter which might be better for performance and longevity.

Thanks in advance for your thoughts :)

Here is how the block alignment support currently works in core.
https://github.c

[2022-03-04 14:25] fabiankaegy commented on #38830
Also since this change will likely need to get implemented upstream in WordPress core itself I have also created a track ticket here: https://core.trac.wordpress.org/ticket/55319

[2022-03-04 14:42] tedw commented on #38274
@pablo-miralles I’ve used this code in the past to remove just the reset styles. Hope it helps!

`admin.php`

[code]

`gutenberg.js`

[code]

FWIW I haven’t had any issues so far with the new reset styles in 5.9 thanks to the lower specificity of `:where()` (this is a great post about it for anyone who stumbles on this issue in the future https://www.matuzo.at/blog/2022/heres-what-i-didnt-know-abo

[2022-03-04 14:55] fellyph opened #39222 "Cover block with multiple image size and prioritizing the loading for background images"
## What problem does this address?

The cover block uses an image as background, and this image is used for mobile and desktop. In some cases, a large image is loaded for mobile, causing a higher Largest content paint loading time. And the fact the image is in the background, the loading for the hero image is not a priority it also increases the LCP.

## What is your proposed solution?

Would it b

[2022-03-04 15:07] adamsilverstein opened #39223 "Unsaved changes should consider image uploads in progress"
### Description

When users are uploading media and navigate away, uploads and image display break.

Gutenberg displays an "Unsaved Changes" [warning](https://github.com/WordPress/gutenberg/blob/trunk/packages/edit-widgets/src/components/layout/unsaved-changes-warning.js) if users try to navigate away from the editor with unsaved changes (triggered by `window.beforeunload`). The check for unsaved

[2022-03-04 16:01] nicholasio commented on #39208
I thought about the peerDep and making it optional. I just wasn't sure how NPM would handle an optional dep with name of prettier and a different version when other packages also require the same dep name but with a different version.

I believe the optional dep idea would be easier if we could tell eslint to use a different prettier binary (unsure if this is possible) .That way you could declare

[2022-03-04 16:14] MadtownLems commented on #20321
This is such a good idea. Setting the focal point would ideally be capable on all images in the Media Library. Most themes register a variety of different sizes, with different aspect ratios, and many plugins register their own as well. Displaying these images with a reasonable crop would be such a benefit to sites.

There have been various plugins attempting this over the years, but most seem aba

[2022-03-04 17:27] ocean90 commented on #39208
Just confirming that npm 7/8 currently do not resolve aliases defined in dependencies. I have also started to add the alias to the main `package.json`. Gutenberg itself has also [defined it for a long time already](https://github.com/WordPress/gutenberg/blob/17479ca8e29ed0a17d5fab4608ecb4bb3761d136/package.json#L198).

Related: https://github.com/npm/cli/issues/4197, https://github.com/npm/cli/iss

[2022-03-04 17:56] gziolo commented on #39208
It worked way much better with npm 6, but sometimes it was problematic in Gutenberg so we enforced it to avoid issues. In my testing with npm 6 these npm aliases worked quite well but we had reports about issues.

[2022-03-04 18:04] SantosGuillamot commented on #37560
There is another related use case where the pagination is not working properly.

When the option "Last page displayed by default" is enabled, and you go to the penultimate page, the "Next Comments" link is pointing to `#comments`, which is wrong.

I've been running some tests (I will create a PR later) and it seems this is caused by the [get_comments_pagenum_link function](https://developer.wordpr

[2022-03-04 18:04] ryelle opened #39226 "Buttons: No color contrast warning, regardless of chosen colors"
### Description

On the Button block, you can set a text & link color. Regardless of the colors chosen, then contrast warning does not appear. This seems to be because [the node used in `ColorPanel`](https://github.com/WordPress/gutenberg/blob/24ece160bb46453ea7e0d6a523d3c3052746a5c9/packages/block-editor/src/hooks/color-panel.js#L27) to get the color data is getting `.wp-block-button`, when the c

[2022-03-04 19:14] annezazu commented on #39162
Wanted to loop back finally to share some thoughts! Personally, I don’t think it makes sense to add an item back under Appearance that is just a sign post as that won’t help with the discoverability of the block itself when you’re in the Site Editor experience. Instead, I’d rather see us implement things like the [navigation structure UI](https://href.li/?https://github.com/WordPress/gutenberg/iss

[2022-03-04 19:25] chthonic-ds commented on #31365
styles can be inside the body in HTML5, It was not allowed in HTML4.

This seems to have changed again, the W3C link now redirects to the WHATWG spec one. The line:

has been removed from the allowable contexts for `<style>`.

[2022-03-04 20:47] ryelle opened #39230 "Navigation: Submenus not hidden on older browsers"
Originally reported to the WordPress.org header repo, https://github.com/WordPress/wporg-mu-plugins/issues/159. The navigation menu dropdowns use `:where` to hide the submenus, which does not work on Chrome 87 & below ([source: Can I use](https://caniuse.com/?search=%3Awhere)). Chrome 88 was released in Jan 2021.

You can see the issue in the following screenshots, on both the custom code for Word

[2022-03-04 22:42] github-actions[bot] opened #39231 "[Flaky Test] shows a loading indicator whilst ref resolves to Navigation post items"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
shows a loading indicator whilst ref resolves to Navigation post items

## Test path
`specs/editor/blocks/navigation.test.js`

## Errors

<time datetime="2022-03-04T22:42:12.929Z"><code>[2022-03-04T22:42:12.929Z]</code></time> Test passed after 1 failed attempt on <a href="h