[2021-06-30 16:21] #24344 closed

[2021-06-30 16:23] #25598 closed

[2021-06-30 16:23] skorasaurus commented on #25598
(I'm also unable to reproduce).

[2021-06-30 16:25] skorasaurus commented on #20801
related https://github.com/WordPress/gutenberg/issues/22163

[2021-06-30 16:38] sarayourfriend opened #33111 "Document `@wordpress/components` structure"
## What problem does this address?
`@wordpress/components` is a package with roughly two (maybe even three, but I'm not sure) "levels" of components:

1. First, we have the "UI primitives" like Tooltip, Button, Text, and Popover/Flyout, etc. These are the primitives that we build the second type out of
1. Second, we have "UI blocks" (please help me think of a better name that isn't confusing in a

[2021-06-30 16:46] anthonyburchell commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-06-30 16:50] sarayourfriend commented on #33111
| Component name | Type (UI primitive/UI block) |
| --- | --- |
| `AlignmentMatrixControl` | UI Block |
| `AnglePickerControl` | UI Block |
| `Animate` | utils |
| `Autocomplete` | UI primitive |
| `BaseControl` | UI primitive |
| `BaseField` | UI primitive |
| `BoxControl` | UI block |
| `Button` | UI primitive |
| `ButtonGroup` | UI primitive |
| `Card` | UI primitive |
| `CheckboxControl` | UI

[2021-06-30 16:52] mapk commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-06-30 16:55] TheSimArchitect commented on #22861
Interesting this is around for a year already. Any solution?

[2021-06-30 16:56] enriquesanchez commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-06-30 16:58] skorasaurus commented on #22339
I've narrowed it down and was able to isolate this to the button block that is being used.

To reproduce:
1. create new post
2. take this code - https://gist.github.com/skorasaurus/56cce7c3e74a3dd6a1ce5c80cb0252ed - and paste in the code editor:
That code/markup is from the single button that is in the demo post.
3. copy all content
4. paste

What happens: the button block is not added again, whic

[2021-06-30 17:00] rachelbaker commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-06-30 17:00] bobbingwide commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-06-30 17:07] samikeijonen commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-06-30 17:13] BE-Webdesign commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-06-30 17:21] draganescu commented on #33107
Heew is a video from my testing:

https://user-images.githubusercontent.com/107534/124004431-ab9c9700-d9e0-11eb-9c6e-70e64fa365d0.mp4

[2021-06-30 17:26] Sisanu commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-06-30 17:31] Shailee commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-06-30 17:42] sirjonathan commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0

[2021-06-30 17:55] JacobMGEvans commented on #31893
I, Jacob M-G Evans, irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-06-30 18:19] akkspros commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0

[2021-06-30 18:34] gwwar commented on #30803
Fixes should land in Gutenberg 11, not sure if https://github.com/WordPress/gutenberg/pull/32824 will make it into WP 5.8. What do you think @ellatrix @youknowriad?

[2021-06-30 18:35] desrosj commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-06-30 18:38] morganestes commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-06-30 18:39] skorasaurus commented on #33078
very similar examples of this cropping up recently:
https://github.com/WordPress/gutenberg/issues/32467
https://github.com/WordPress/gutenberg/issues/32980
https://github.com/WordPress/gutenberg/issues/31067

[2021-06-30 18:41] skorasaurus commented on #32467
very similar examples of this cropping up recently:
https://github.com/WordPress/gutenberg/issues/32467
https://github.com/WordPress/gutenberg/issues/32980
https://github.com/WordPress/gutenberg/issues/31067

[2021-06-30 18:43] skorasaurus commented on #32980
Thanks for the clarity, I'm able to confirm this @pansamolot

This is being tracked at https://github.com/WordPress/gutenberg/issues/33078

[2021-06-30 18:46] ravichdev commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-06-30 19:03] bordoni commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-06-30 19:04] skorasaurus commented on #32649
Hi,

Thanks for reporting. Are you able to reproduce this after you have installed and activated the newest version of Gutenberg that is available through [the Gutenberg plugin](https://wordpress.org/plugins/gutenberg/)?

I am unable to reproduce the behavior that you describe when using the newest version of Gutenberg, 10.9.1 as indicated in the screen recording

https://user-images.githubusercon

[2021-06-30 19:20] RolandHughes commented on #32649
Hello,

I'm using the block editor in WordPress and WordPress directs all bug
reports to Gutenberg for the editor. I have not manually installed a
plug-in.

I opened the attached C source file in Notepadqq. Started a new post.

Here is what pasting into a code block looks like.

https://www.logikalsolutions.com/wordpress/wp-content/uploads/2021/06/guten-bug-2.png

    Current version: 5.7.2

After

[2021-06-30 19:24] shivapoudel opened #33112 "How to set Site Title from `wp-env` config?"
## Description
I tried to set `"name": "Everest Forms"` in `.wp-env.json` although it was not documented. In the config generation script, there was `config.name` but unfortunately site title is set back to plugin slug, not the provided config value.

## Step-by-step reproduction instructions

## Expected behaviour

## Actual behaviour

## Screenshots or screen recording (optional)

## Code snippe

[2021-06-30 19:25] cristianraiber commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-06-30 19:28] ockham commented on #33072
Okay, I dug a bit into this.

I checked all of the predicates that go into `isButtonDisabled`: https://github.com/WordPress/gutenberg/blob/d3fb83c4d7097b31b28184e3a9cd18f6e5667724/packages/editor/src/components/post-publish-button/index.js#L108-L113

Turns out that none of them are a reliable indicator for when we're saving non-post entities. Thus, we cannot at the same time have the button enable

[2021-06-30 19:55] Addison-Stavlo opened #33114 "Snackbar notices appear behind block inserter."
Running current `trunk` branch of gutenberg, i am noticing that snackbar notices appear behind the block inserter sidebar.

To Repro:
* Open the block inserter
* Insert a block pattern
* Notice the notices are hidden underneath the inserter sidebar

![Screen Shot 2021-06-30 at 3 48 29 PM](https://user-images.githubusercontent.com/28742426/124022732-35396e00-d9bb-11eb-8554-79c04b4a3643.png)

This s

[2021-06-30 20:01] dreamwhisper opened #33115 "Widget Editor: Legacy widget scrollbars"
## Description

Legacy widgets show scrollbars in a variety of themes.

## Step-by-step reproduction instructions

Please list the steps needed to reproduce the bug. For example:
1. Make sure several legacy widgets are added to sidebars, then update to WP 5.8 RC1.
2. Activate various themes and note scrollbars.

This appears to be from margin on elements inside, including .widget.

Previously seen

[2021-06-30 20:14] #33072 closed, assigned to ockham

[2021-06-30 20:29] annezazu commented on #33109
Thanks for reporting this! Going to do my best to flag this for a few folks to get it reviewed.

[2021-06-30 21:05] johnstonphilip commented on #31289
Fwiw, that prop seems to have been removed at some point. It doesn't show up in the code anymore:
https://github.com/WordPress/gutenberg/search?q=keepPlaceholderOnFocus

It appears it was accidentally removed at some point, and then re-added:
https://github.com/WordPress/gutenberg/pull/17439

But I don't see it at all in the code today:
https://github.com/WordPress/gutenberg/blob/trunk/packages/bl

[2021-06-30 21:16] skorasaurus commented on #25091
Hi,

Thanks for reporting;
This has been discussed and/or requested in https://github.com/WordPress/gutenberg/issues/27221. Feel free to [add your reaction](https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/about-conversations-on-github#reacting-to-ideas-in-comments) and follow its progress in that issue.

[2021-06-30 21:16] #25091 closed

[2021-06-30 21:52] bluefuton commented on #24344
Thanks @skorasaurus - looks fixed to me!

[2021-06-30 21:56] bluefuton commented on #26519
You're also unable to use the keyboard shortcuts to do this. I often find myself doing Cmd-A to select all blocks, then Cmd-B to remove bold styling from all the blocks. Instead this opens the Bookmarks Toolbar on Firefox, which is pretty jarring.

[2021-06-30 22:48] annezazu commented on #31662
Noting that this is an active issue with WordPress 5.8 RC1. I just ran into it after adding in a header pattern that had a fixed background, replacing the image, and trying to use Duotone.

[2021-06-30 23:30] colorful-tones commented on #33109
This was a user issue after all. I'll try to follow up with notes, but just going to close for now as it is not a bug. Thanks!

[2021-06-30 23:30] #33109 closed, assigned to jorgefilipecosta

[2021-06-30 23:58] annezazu commented on #33109
Ah ha. Thank you for looping back :) Happens to the best of us. Just this week I had a user error with the beta tester plugin 🙈

[2021-07-01 00:03] bfintal commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-07-01 00:38] noisysocks commented on #33104
Thanks for creating an issue to discuss and track. I'd very much like to deprecate this kind of widget after WordPress 5.8. I think also it might make sense to do this as part of refactoring widgets to use CPTs as the storage mechanism (see Core-35669).

[2021-07-01 00:44] noisysocks commented on #33104
Just quickly noting:

This is expected. Function widgets bypass the normal _Update_ flow because their data can be stored somewhere that we don't know about. That's why they have their own _Save_ button.

Also expected. You can't delete a function widget and so if you try it will re-appear in _Inactive widgets_. I agree it's not obvious that this is happening.

Also worth noting is that these type

[2021-07-01 00:52] delowardev commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-07-01 01:00] Olein-jp commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-07-01 01:21] dphiffer commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-07-01 01:21] desaiuditd commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-07-01 01:51] noisysocks commented on #33110
Thanks for the report! This is likely fixed by Core-53557 which will be in RC 2. Let me know if you still encounter the issue in RC 2 and we can reopen.

[2021-07-01 01:51] #33110 closed, assigned to nobody

[2021-07-01 01:57] dd32 commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-07-01 02:32] draganescu commented on #32689
It would be a weird experience while developing with WordPress not being able to setup a local environment that works just like the production one.

[2021-07-01 03:18] talldan commented on #33059
Ah right, I didn't realise the old block name was prefixed `core-embed` like that. 👍

[2021-07-01 04:12] draganescu opened #33123 "Text widget renders large empty space"
When upgrading from a site that used text widgets, sometimes these text widgets render a preview containing a large empty space. In TwentyTwenty the space is in all widget areas, in other themes, the space is only in the inactive widgets area.

### To reproduce

1. Use the latest WordPress 5.8 RC
2. Install the Classic Widgets plugin
3. Activate the Classic Widgets plugin
4. Go to Appearance > Wid

[2021-07-01 04:19] noisysocks commented on #33123
What theme are you using? Doesn't seem to happen in TT1.

[2021-07-01 04:23] noisysocks opened #33124 "Legacy Widget: NoPreview component has extraneous padding"
## Description
When you insert a Legacy Widget block, the default placeholder has some styling issues.

## Expected behaviour
- The "Select a legacy widget to display" text should not be truncated.
- The "Select widget" text should be sans-serif.

## Screenshots or screen recording
<img width="749" alt="Screen Shot 2021-07-01 at 14 20 01" src="https://user-images.githubusercontent.com/612155/12406

[2021-07-01 04:29] noisysocks commented on #33124
Also looks like the input labels ("Title" below) are serif again which I thought we'd fixed? Maybe it was a recent fix or a PR was not backported. @tellthemachines

<img width="744" alt="Screen Shot 2021-07-01 at 14 28 40" src="https://user-images.githubusercontent.com/612155/124064696-a2f79f80-da78-11eb-8edc-8bd624b5b890.png">

[2021-07-01 04:33] noisysocks commented on #33124
Also the title ("Text" below) in the "No preview available" message is large and has too much padding. More CSS bleed no doubt 😅

<img width="754" alt="Screen Shot 2021-07-01 at 14 32 27" src="https://user-images.githubusercontent.com/612155/124064990-37620200-da79-11eb-8305-4b1d60f6c0e7.png">

The video in https://github.com/WordPress/gutenberg/pull/30889 shows how it should look.

[2021-07-01 05:36] #33011 closed, assigned to walbo

[2021-07-01 05:41] KokkieH commented on #26519
Duplicate of the issue in #27221

[2021-07-01 05:51] #21951 closed

[2021-07-01 05:51] #32173 closed, assigned to getsource

[2021-07-01 05:53] jameslnewell commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-07-01 06:04] draganescu commented on #33123
In TwentyTwenty for instance.

[2021-07-01 06:07] ntsekouras opened #33126 "[Automated Testing] Do not load remote patterns in tests"
## Description

Recently a regression in GB was introduced that made a deprecated block from core remote patterns (loaded from the pattern directory) create errors that were logged and therefore made tests fail as they take into account the `console` output.

While the regression was fixed here: https://github.com/WordPress/gutenberg/pull/33117, the problem still remains and we can't have GB CI re

[2021-07-01 06:24] tellthemachines commented on #33124
I think this is expected behaviour. The font-family in those fields is set to `system-ui`, and Firefox's default font for some reason is Times. You can go into browser settings and change it:

<img width="515" alt="Screen Shot 2021-07-01 at 4 21 48 pm" src="https://user-images.githubusercontent.com/8096000/124075730-a7c44f80-da88-11eb-99fa-66b9fc528e3d.png">

Not sure where the padding on the titl

[2021-07-01 06:30] dorsvenabili commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-07-01 06:51] tellthemachines commented on #33099
I can only reproduce this when starting from an empty widget area and typing consecutive paragraphs. Interestingly enough, as soon as I hover over the widget area, causing the in-between inserter to appear, the autocomplete box shows up.

[2021-07-01 06:54] andreiglingeanu commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-07-01 07:31] getdave commented on #32689
Fair point, although the end result will be the same - no rich previews on `localhost` - which I why I was thinking it might be worth exploring.

Let's avoid exceptions and just let the environment do it's thing 👍

[2021-07-01 07:57] talldan commented on #17246
There's also a discussion/proposal at https://github.com/WordPress/gutenberg/pull/32604 about unique ids (though not specifically html ids).

[2021-07-01 08:15] pansamolot commented on #32980
@skorasaurus Isn't newly created #33078 and old #32467 a duplicates? Or at list one of them being a substitute of another? Or am I missing something?

[2021-07-01 08:38] a6software commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-07-01 08:53] jasmussen commented on #31662
Just following up on this one:

Kerry actually managed to fix this Safari issue, so we probably won't need to make it a separate layer after all.

[2021-07-01 09:08] #33061 closed, assigned to tellthemachines

[2021-07-01 09:10] jasmussen commented on #32366
#32367 is blocked on this being addressed.

[2021-07-01 09:25] Mamaduka commented on #32520
Hi, @tomjn

Created second PR that should probably cover all cases - #33095.

[2021-07-01 09:40] aristath commented on #32365
https://make.wordpress.org/core/2021/07/01/block-styles-loading-enhancements-in-wordpress-5-8/

[2021-07-01 09:41] #32681 closed, assigned to ntsekouras

[2021-07-01 09:56] Mamaduka commented on #33126
I think we'll need to land #33052 first. Then we could use the mu-plugin and `should_load_remote_block_patterns` filter to disable remote patterns.

[2021-07-01 09:58] adamziel commented on #33104
If I wear my _developer_ hat, I can understand that. If I wear my _user_ hat, I am confused why sometimes there's another save button and why updating things doesn't always update things.

That's a good news! It should make it easier to deprecate that then.

[2021-07-01 10:06] #33107 closed, assigned to tellthemachines

[2021-07-01 10:42] chthonic-ds commented on #32051
Super, thank you! https://make.wordpress.org/core/2021/07/01/block-styles-loading-enhancements-in-wordpress-5-8/

[2021-07-01 11:09] Mamaduka commented on #28490
@johngodley I can no longer reproduce the Kickstarter embed issue on the current trunk (11.0 RC1).

@MDWolinski NYTims embed issue doesn't seem to be related to Block Editor. I get the same results when using Classic Editor. So this might require more general embed enhancement from WordPress core.

I would recommend [opening a ticket](https://make.wordpress.org/core/handbook/tutorials/trac/opening

[2021-07-01 11:10] MDWolinski commented on #28490
@Mamaduka Will do.

[2021-07-01 11:11] Mamaduka commented on #28490
@MDWolinski, thank you.

[2021-07-01 11:13] paaljoachim commented on #4543
Thank you for adding your comment @Gtarafdar
I have shared the issue with @aaronrobertshaw . Aaron has added the issue to the list of things he is working on.

[2021-07-01 11:40] getdave opened #33134 "Release 11.0.0"
This Issue is here to help me to track the `11.0.0` release and for any coordination efforts.

## Releases

- [x] [Release Candidate](https://github.com/WordPress/gutenberg/releases/tag/v11.0.0-rc.1).
- [x] Stable

## Cherry Picking

- [x] https://github.com/WordPress/gutenberg/pull/33117
- [x] https://github.com/WordPress/gutenberg/pull/33088

[2021-07-01 11:40] #33085 closed, assigned to getdave, jasmussen

[2021-07-01 11:59] abotteram commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-07-01 12:23] MDWolinski commented on #28490
Trac ticket created: https://core.trac.wordpress.org/ticket/53573

[2021-07-01 12:50] Gtarafdar commented on #4543
Ahh. Thanks a lot. I was waiting for a long. Because only for that feature I have to use another addon. Any ETA @paaljoachim, my brother.

[2021-07-01 13:07] erikjoling commented on #32051
Thanks for sharing.

If I opt-in loading only the styles for rendered blocks in a page; would it be possible to disable the core style (for example for the gallery block) and load my own gallery style?

[2021-07-01 13:19] Mamaduka commented on #29211
I think this got fixed via #32576.

[2021-07-01 13:35] Mamaduka commented on #33114
I was able to reproduce the issue.

Code to trigger snackbar for testing from Console:
[code]

[2021-07-01 13:39] getdave commented on #33097
This appears to be due to the newline character being converted into a block with a name of `wp:null`.

For example try pasting in the following and you will see no "undefined" blocks:

[code]

...wherebas pasting this will result in `undefined` / `missing` blocks in the editor as @draganescu describes:

[code]

[2021-07-01 13:43] getdave commented on #33097
Replicating this in the Post Editor I see that pasting

[code]

resulting:

* **x2** Archives blocks - why 2?
* x1 Categories

There appears to be some bug here.

[2021-07-01 13:45] alexstandiford commented on #7342
I stumbled on this problem today. I'm inclined to pass the registered attributes from PHP to JS using a preloaded REST API endpoint.

I'm suggesting something like what's done here:
https://github.com/WordPress/gutenberg/blob/459ab7fb1ad91907642e21a378fcef328edbf3cb/lib/edit-site-page.php#L151-L170

And add a REST API endpoint that retrieves the list of registered block attributes, as well. That c

[2021-07-01 13:58] getdave commented on #33097
When pasting this is where the `null` blocks are being created:

https://github.com/WordPress/gutenberg/blob/80465ea0ef7f804e515bb1b0137a31890bd7baaf/packages/block-serialization-default-parser/src/index.js#L204-L213

...which creates the `null` block here

https://github.com/WordPress/gutenberg/blob/80465ea0ef7f804e515bb1b0137a31890bd7baaf/packages/block-serialization-default-parser/src/index.js#

[2021-07-01 13:59] paaljoachim commented on #33025
It would be great with some feedback on this issue: @critterverse @javierarce @shaunandrews
Thank you! Have a great day!

[2021-07-01 14:26] paaljoachim opened #33138 "Block Inserter: Manually close the block inserter panel."
## What problem does this address?

I have come across to support requests.

From Aleksandar (@jashimili)
https://wordpress.org/support/topic/stop-gutenberg-sidebar-disappearing-when-edit-code-in-editor/

"When I click to edit any part of the editor text or code, the gutenberg sidebar disappears, now I know this is new update so it might be normal to work that but it is really annoying that every

[2021-07-01 14:39] javierarce commented on #33025
I like this solution, especially as it gives a little bit more context to the user, but I miss a couple of things in the prototype:

- A hover state to indicate that the placeholder is clickable. I guess we could: change the color, the text (Column → Add column), or maybe even replace the content with the inserter or a variation.
- An extreme case to understand what happens when there are a lot of

[2021-07-01 14:39] ianbelanger79 commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-07-01 15:28] getdave commented on #33097
New clue - this line behaves differently between Post and Widgets Editors.

https://github.com/WordPress/gutenberg/blob/80465ea0ef7f804e515bb1b0137a31890bd7baaf/packages/blocks/src/api/parser.js#L565-L567

* Widgets Editor - the `if()` is falsey and thus the early return is bypassed and a valid block is returned.
* Post Editor - the `if()` is truth and thus the function returns early.

Therefore i

[2021-07-01 15:30] javierarce commented on #33138
I admit that I also find the auto-closing behaviour annoying and would want the left sidebar to act like the right one (or the List View!): staying open until it gets manually closed.

Comparing the Block inserter and the List View makes me think that part of the problem is how these two sidebars appear on the page. Maybe this has been suggested before, but I think that if we'd like the inserter t

[2021-07-01 15:45] skorasaurus commented on #31815
Thanks for creating this issue. It's a great use case of deciding how to use dynamic values in theme templates.
https://github.com/WordPress/gutenberg/issues/20966

[2021-07-01 15:50] keithdevon opened #33142 "Remove block alignment wrapper in editor"
## What problem does this address?

In the editor, blocks with alignment (e.g. Wide, Full) are wrapped in a div with the .wp-block class and a data-align attribute.

All other block specific classes are then added to a child of this block.

[code]

This means that selectors such as `.wp-block-group.alignfull.has-background` have no effect in the editor.

This leads to two problems (that I know of)

[2021-07-01 15:56] Lovor01 commented on #18595
This issue is Closed, but it is not solved. I am also using
[code]
(style-editor.css is not empty), but it does not deregister default editor styles

[2021-07-01 16:19] skorasaurus commented on #32980
As I understand; they're extremely similar and the tickets somewhat overlap but 2 expected behaviors/workflows are not :

#33078 is text copied from a paragraph block cannot be pasted as an item in a list block; nothing is pasted when pasted action is done (right click and select paste)
#32467 is text copied from a list block, in certain conditions (as outlined in the issue), will create an invali

[2021-07-01 16:30] pansamolot commented on #32980
Well... my assumption (and a question here) was, because I have somewhat a mixture of both above.

In my case _nothing_ can be pasted into a list block (or actually: a list item inside list block) in certain scenarios. I tried pasting:

- content from another list item (animations above),
- content from a simple block (paragraph block)
- content from outside Wordpress (some rich or plain text)

Bu

[2021-07-01 17:21] desrosj opened #33143 "Changing the block settings for the initial block removes the option to add new block"
## Description
After changing any block settings for the default paragraph block on a new post, the inline block inserter is missing.

Originally reported in [Trac-53571](https://core.trac.wordpress.org/ticket/53571).

## Step-by-step reproduction instructions
1: Add a new post.
2: Focus on the initial block.
3: Modify any of the block setting in the toolbar on the right.
4: Observe the inline ins

[2021-07-01 18:13] ddegner opened #33146 "Standardize required clicks for adding a link"
## What problem does this address?

Adding a link to an image requires an extra click after selecting the page to link to that adding a link to text and other elements doesn't require.  This has caused me to think that I added a link but it wasn't actually recorded.

[Example of irregularity](https://imgur.com/6RTVa80)

## What is your proposed solution?

I'd propose that on images after selecting

[2021-07-01 18:40] #33029 closed, assigned to getsource

[2021-07-01 19:18] amedina commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-07-01 19:22] desrosj opened #33148 "Flood of `console.info()` notices"
## Description
In WordPress 5.8-beta1 through RC1, the browser console is displaying many notices when editing a post. The errors are a variation of:

[code]

Is this an intentional decision to include these notices now? If so, could the notices be updated to be conscious of when `WP_DEBUG` and only output this information when set to `true`? I can open up a companion ticket on Trac if appropriate

[2021-07-01 19:37] #32949 closed, assigned to jorgefilipecosta

[2021-07-01 19:39] ockham commented on #33072
Noting that `packages/e2e-tests/specs/editor/various/reusable-blocks.test.js` [didn't fail](https://github.com/WordPress/gutenberg/runs/2904176499) for https://github.com/WordPress/gutenberg/pull/32889, so we should make sure to add test coverage for this regression. I'll give that a quick spin.

[2021-07-01 20:05] agawish commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-07-01 20:30] ockham commented on #33072
https://github.com/WordPress/gutenberg/pull/33151

[2021-07-01 20:42] adamsilverstein commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-07-01 22:01] justintadlock commented on #31964
Is this fix in version 10.9.1?  I am still unable to add something like `2.5` with `rem` for the padding control. It bumps it up to `3`.

[2021-07-01 23:08] aaronrobertshaw commented on #4543
Thanks for the ping @paaljoachim. I am currently working on adding block support for custom colors along with UI refinements around that. This will be a great use case to trial that new functionality.

[2021-07-01 23:45] paaljoachim commented on #4543
That sounds great, @aaronrobertshaw !

Hi @Gtarafdar I will assume that Aaron will post here when he has some more information to share. ETA soon..:)

[2021-07-02 00:10] aaronrobertshaw commented on #4543
Yes, that's the plan 🙂.

There are still a few hurdles to resolve before we can offer a generalised approach to supporting custom colors. The idea though is that once this feature is available it could be used for:
- hover colors for a button,
- header/footer/striped colors for tables,
- different color/background combinations for nested blocks such as a nav menu,
- and many more.

With the additi

[2021-07-02 01:00] andrewserong commented on #32366
Just a quick update on where I'm up to with my exploration for implementing this in #32571 (I've been a bit delayed by working on another project these past couple of weeks, too):

* The BoxControl component now supports grouped directions via a splitOnAxis prop (#32610)
* My PR to explore adding the gap block support feature (#32571) depends on the new dimensions panel PR (#32392), which I think

[2021-07-02 03:07] idpokute commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-07-02 03:55] carolinan opened #33154 "Post excerpt block prints code in the editor and is empty on the front"
## Description

When a block theme is active, the post excerpt block prints code, not a summary of the post content, in the editor.
On the front, the markup for the block is printed as expected, except, the block is empty.

I have not been able to reproduce this with classic themes. I recommend further testing, I did not test in the template editor or site editor.

## Step-by-step reproduction ins

[2021-07-02 04:56] carolinan commented on #33154
I was able to reproduce this with Twenty Twenty-One with the excerpt that is in the default query loop.

[2021-07-02 05:05] MonicaMaroun opened #33155 "Error Failed to read the 'cssRules' property from 'CSSStyleSheet':"
I was busy updating my Wordpress Page, using windows 10 and Chrome.
In the middle of editing a block the following error has come up:

Error: Failed to read the 'cssRules' property from 'CSSStyleSheet': Cannot access rules
    at https://keicountry.com/wp-content/plugins/gutenberg/build/block-editor/index.min.js:77:1467
    at Array.forEach (<anonymous>)
    at https://keicountry.com/wp-content/pl

[2021-07-02 05:39] tellthemachines commented on #33099
So this is happening because at the point the popover menu tries to render, the list of valid blocks for insertion is empty, because `templateLock` is set to `all` (the filter is returning false [here](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-editor/src/store/selectors.js#L1332)). I don't know why that's the case though, as we're setting templateLock to false in the [widget

[2021-07-02 05:42] jankimoradiya commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-07-02 06:25] justintadlock commented on #33142
Wait until you start fighting `<style>` (group inherit layout styles) and `<svg>` (duotone) tags stuck between blocks too.  The following is just covering something like the 80% - 90% of cases I've seen.  I'm not even sure if it can be fixed, but removing the `[data-align]` wrappers would sure help.

[code]

[2021-07-02 06:25] loicblascos commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-07-02 07:48] Mamaduka commented on #33126
I realized that we could use just the core filter since the GB function bails early when the core method exists.

When ahead and create PR - #33160. I don't have info if any core tests depend on remote patterns, but I will push updates if necessary.

[2021-07-02 08:33] aristath commented on #31964
I just checked and it was not included in v10.9.x. It will be part of v11 :+1:

[2021-07-02 08:36] aristath commented on #32051
Yes.
[code]

[2021-07-02 08:39] Mamaduka commented on #33114
I did a little more research, and it looks like the issue is with stacking context.

The `components-snackbar-list` element's `z-index: 10000` only has effect inside its parent element - `interface-interface-skeleton__content`. Parent's sibling elements will treat it with same z-index as its parent. Which in our case is 20 and `interface-interface-skeleton__secondary-sidebar` has `z-index: 90`.

T

[2021-07-02 08:50] Mamaduka commented on #33155
Hello, @MonicaMaroun

Can you provide more details on how to reproduce this issue?

Thanks

P.S. My best guess that this is coming from the `useSimulatedMediaQuery` method. cc @tellthemachines

[2021-07-02 08:54] getdave commented on #33097
https://github.com/WordPress/gutenberg/blob/80465ea0ef7f804e515bb1b0137a31890bd7baaf/packages/blocks/src/api/parser.js#L565-L567

In the above:

* Post Editor - `innerHTML` is `""`.
* Widgets Editor - `innerHTML` is ``.

Turns out this is due to the call to `getBlockType` returning:

* Post Editor - block object for `core/freeform`
* Widgets Editor - `undefined`.

https://github.com/WordPress/gute

[2021-07-02 09:47] #33099 closed, assigned to tellthemachines

[2021-07-02 10:38] ideadude commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-07-02 12:00] adamziel commented on #33123
I can't reproduce on either Chrome or Firefox using either TwentyTwenty or TT1. I know @kevin940726 couldn't reproduce this one either.

[2021-07-02 13:23] scruffian opened #33168 "Social Icons: TikTok logo invisible when in "Logo only" style and on a black background"
## Description
When the social icons are inside a black group block and "Logos only" is selected, the TikTok block is not visible:

Default:
<img width="871" alt="Screenshot 2021-07-02 at 14 18 06" src="https://user-images.githubusercontent.com/275961/124280522-b2422000-db40-11eb-899a-53832986c2d1.png">

Logos only:
<img width="871" alt="Screenshot 2021-07-02 at 14 18 16" src="https://user-images.

[2021-07-02 13:46] #33097 closed, assigned to getdave

[2021-07-02 14:04] piotrbak opened #33171 "JavaScript error when replacing image in Gallery Widget"
## Description
When replacing image in Gallery Widget in 5.8-RC1 customizer, there's a JS error happening

## Step-by-step reproduction instructions
1. Go to the customizer
2. Add a gallery widget with a couple of images
3. Publish it
4. Edit one single image and replace it with other from the Media Library
5. See the error

## Expected behaviour
No errors in JS console

## Actual behaviour
The fo

[2021-07-02 14:48] lnikell commented on #16006
@rahulsg91097 it won't help because it does not fix the Gutenberg issue. So I suppose you also disabled the Gutenberg editor.

[2021-07-02 14:57] dhruvkb commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-07-02 15:37] danielmilner commented on #30643
I may need to create a new issue for this, but themes aren't the only thing that put settings in the Customizer. Plugins also put their display output settings in the Customizer screen. When testing Full Site Editing, I noticed that there is not longer a way to get to those settings.

[2021-07-02 15:44] danielmilner commented on #30496
I believe that the Customizer needs to stay in some form or another. Themes aren't the only thing that put settings in the Customizer. Plugins also put their display output settings in the Customizer screen. When testing Full Site Editing, I noticed that there is no longer a way to get to those settings.

[2021-07-02 16:21] creativecoder opened #33177 "Site Logo Block: problems with Core/Plugin block loading"
## Description

Issues with loading the Site Logo block

**Gutenberg plugin with WP 5.7.2**

The hooks that update the `site_logo` option from the `custom_logo` theme mod, when the logo is updated in the Customizer, do not run. The result is that the logo cannot be updated from the Customizer.

I believe this is happening because `_sync_custom_logo_to_site_logo` is [added via the `setup_theme` act

[2021-07-02 18:18] igorradovanov commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0

[2021-07-02 19:54] richtabor opened #33180 "Standardizing required theme CSS Variables"
## What problem does this address?
We need a standardized method for implementing CSS variables/properties across the board. We're getting there with https://github.com/WordPress/gutenberg/issues/29568, but this references other areas of the theme that should be standardized, such as body background color and font sizes.

### Why is this important?
Having a standardized  system for variables that

[2021-07-02 19:59] richtabor opened #33181 "Add link color support to the List block"
## What problem does this address?
While its possible to change the color of links within the Heading and Paragraph blocks, its not possible within the List block. So if you have a background color that is incompatible with the theme's declared `a` styling, you end up with a problem.

### Screenshot
..from the BlockBase theme, which has `add_theme_support( 'experimental-link-color' );` enabled:

<

[2021-07-02 20:13] michaelslevy commented on #33181
Shouldn't this be done through CSS styling? It seems like this would encourage bad practices.

[2021-07-02 21:31] skorasaurus commented on #31470
I've experienced this in Gutenberg 10.9.2.

[2021-07-02 23:34] sybrew commented on #32562
Amending your code, this should exclude the filter for post requests via Gutenberg's editor:
[code]

I think an `is_rest_request_from_editor()` would be welcomed in this case, so we don't have to paste that 3-level blob of checks everywhere. The tricky part here is that the security checks aren't obvious; but in this example, we are ascertained the user is authenticated and is actually allowed to

[2021-07-03 00:14] richtabor commented on #33181
What bad practices are you referring to? Adding color to links?

In an era of theme.json styles and the global styles effort, the resolution should probably never be “custom CSS”.

[2021-07-03 00:16] nylen commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-07-03 00:17] richtabor commented on #33146
100%. There’s no reason those, or any link UI should be any different.

[2021-07-03 00:18] richtabor commented on #33142
After testing theme.json themes today, I noticed this wasn't an issue (though I couldn’t really nail it down). Are the standard block margins removed if a theme has a theme.json file?

[2021-07-03 00:21] richtabor commented on #33138
I’m down for consistency. No other sidebars go away, even when you add patterns (with Gutenberg active) I believe. I’m not sure of a UX pattern where you’d want the sidebar to go away - unless you’re adding just one block (which I assume is very infrequently).

[2021-07-03 02:21] chthonic-ds opened #33184 "Request: expose theme.json layout presets in global styles"
## What problem does this address?

The theme.json layout presets `contentSize` and `wideSize` are not exposed as custom properties in Gutenberg's global CSS.

## Why is this a problem?
I’m working on a FSE theme that uses CSS Grid for layout. This is different to the layout model currently presumed by Gutenberg: a full-width parent with children constrained by max-width + left/right auto margin v

[2021-07-03 03:12] donmhico commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-07-03 03:33] carolinan commented on #33094
Do I understand correctly that this scope does not include a plan for allowing block themes to work without Gutenberg even in 5.9?
And I mean block themes not "site editor".

[2021-07-03 03:54] justintadlock commented on #33142
The `[data-align]` wrapper is there for me regardless of whether I am using a theme with a `theme.json`.

I'm not sure what the standard block margins are.  Margins for me are added by the theme.

[2021-07-03 04:01] justintadlock commented on #33184
See: https://github.com/WordPress/gutenberg/pull/30081

[2021-07-03 12:54] ajotka commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-07-03 13:33] mtias commented on #33094
They will work once the remaining infrastructure pieces and dependencies (missing blocks) are included even without the theme editor.

[2021-07-03 18:11] kishanjasani commented on #32975
theme.Json file
[code]

[2021-07-03 22:44] wpjames commented on #32562
@sybrew Thank you so much for this!

The code you provided is working as intended. I see that you also updated your TSF plugin to solve this problem as well!

Great work and thanks again.

[2021-07-04 03:02] carolinan commented on #33094
The theme editor is what WordPress calls the built in file editor in the WordPress admin area,. Please help me understand what part that editor plays in whether or not a block theme/ full site editing theme can be activated.

[2021-07-04 07:29] burnuser commented on #18523
I need non breaking space in WordPress on Windows each day! (That's a main reason why I'm still working with classic editor.)
Any chance for an implementation of this classic feature in Gutenberg in the near future?

[2021-07-04 09:17] rezeau commented on #18523
Again, I agree with @burnuser and others. A simple shortcut is needed. The most natural one being, IMHO, Shift+Space bar.

[2021-07-04 12:35] pwkip commented on #19512
for those who are just looking for a quick plugin to turn off the annoyance: https://wordpress.org/plugins/disable-welcome-messages-and-tips/

[2021-07-04 15:09] NekoJonez opened #33186 "Have more list options"
Currently, the editor only has the bullet and numbered list.
I would love to see this list expanded to things like:

- Square list
- Triangle list
- Personalised symbol
- ...

I think it would be great if I would be able to choose in numbered lists if it shows numbers or letters.

I feel like Microsoft Word has list and the options for it nailed.

[2021-07-04 15:13] pansamolot opened #33187 "File block prevents .zip and other files from being uploaded to a blog"
## Description

I am unable to upload through File block any application/zip (.zip) files. Other zip-related extensions as well (i.e. application/epub+zip). File block claims that file type is not permitted for security reasons. In the same time uploading exactly the same files through _Media_ section works like a charm.

All necessary conditions are met even high above expectations, i.e.:

1. [I

[2021-07-04 15:45] pixolin opened #33188 "Empty block creates error message in List View"
## Description
After creating empty paragraph blocks, selecting a block in list view creates an error message "This block has encountered an error and cannot be previewed."

## Step-by-step reproduction instructions
1. Add a new page and hit Enter several times, which will produce a couple of empty paragraph blocks.
2. Attempting to delete the blocks (no hover menu is provided, if you click into a

[2021-07-04 15:47] karmatosed commented on #30768
I came here to create an issue about this exact problem as it meant I couldn't use this feature in a theme I was creating. Right now background gradients on sites just don't work in full site editing as you get this unexpected multiple sectioning - I can't think of a better way to phrase what I see but it's just like the video @annezazu shared.

To me, if we're offering this on the background of t

[2021-07-04 20:24] amir2mi commented on #18095
#27960 It is related. I believe many users want to have it. Also, related PR is #30493

[2021-07-04 22:15] #33056 closed, assigned to spacedmonkey

[2021-07-05 01:27] noisysocks commented on #33124
OK fair enough!

It looks like @adamziel fixed the truncation in #33141 so let's just fix the `NoPreview` component's styling issues:

![](https://user-images.githubusercontent.com/612155/124064990-37620200-da79-11eb-8305-4b1d60f6c0e7.png)

It should look like it did in https://github.com/WordPress/gutenberg/pull/30889:

<img width="1212" alt="Screen Shot 2021-07-05 at 11 26 54" src="https://user-

[2021-07-05 01:31] noisysocks commented on #33123
Let's reopen if we figure out how to reproduce it reliably 🙂

[2021-07-05 02:50] talldan commented on #33188
@pixolin Thanks for reporting the issue. I followed the steps but couldn't reproduce this issue (with plugin active and inactive, testing in brave and firefox on Mac OS).

Anything you can think of that might be missing in the steps for reproduction? If you're able to check the browser develoepr tools for an error message, that would also be great.

As this potentially affects the 5.8 release cand

[2021-07-05 02:59] talldan commented on #33187
@pansamolot Thanks for reaching out. This was previously reported in #23510, there's a lot of info on that issue that may be of help. From reading it's not clear to me whether this is still a WordPress core issue, maybe both? The related trac ticket is still open - https://core.trac.wordpress.org/ticket/40175.

I'll close this in favour of the existing issue/ticket.

[2021-07-05 02:59] #33187 closed, assigned to nobody

[2021-07-05 03:05] talldan commented on #33186
Thanks for reaching out. I think this is already discussed in #17738 (also similar is https://github.com/WordPress/gutenberg/issues/9117), it just needs a contributor to work on it.

[2021-07-05 03:05] #33186 closed, assigned to nobody

[2021-07-05 03:14] talldan commented on #33171
@piotrbak Just want to check, is that with the gallery block? It shouldn't be possible to add the gallery widget.

[2021-07-05 03:24] talldan commented on #33171
Oh I see now, I was able to trigger it with the gallery block. It's a React warning, but it doesn't cause any user facing bugs. For some reason the warnings are triggered as errors, that may be for extra visibility.

There's an existing issue to fix these #17355, but it's not a high priority task. There are also some open PRs to refactor the gallery block, so they may result in the issue being res

[2021-07-05 03:24] #33171 closed, assigned to nobody

[2021-07-05 03:26] talldan commented on #17355
#33171 reported a React warning (Can't perform a React state update on an unmounted component.) when replacing images in the gallery block. #25305 may help, as I believe the problem is with the `GalleryImage` component.

[2021-07-05 03:50] talldan commented on #33093
@LeoSeyers Thanks for reporting this. There's an existing discussion about the same thing - #14598. I would definitely recommend adding the details above as a comment there.

It seems like there's also a bit of overlap between the proposals for the theme.json / global styles features and this, especially when it comes to controlling aspects of a block like margin. I think block styles were intende

[2021-07-05 03:50] #33093 closed, assigned to nobody

[2021-07-05 04:53] talldan commented on #32671
Should be fixed by #33127

[2021-07-05 04:53] #32671 closed, assigned to nobody

[2021-07-05 06:01] alaczek commented on #32529
Similar to #25450

[2021-07-05 06:28] draganescu commented on #33123
I can consistently reproduce this in Safari, using the steps in the description, TwentyTwewntyOne theme, and the standard text widget, using WordPress 5.8 branch and no Gutenberg plugin.

[2021-07-05 06:42] pixolin commented on #33188
This time I had to click on several blocks in the list view pane before I could reproduce the error.
However, the error showed up again and this is the error message shown in the console:

[code]
I could _not_ reproduce the error in Chrome (Mac).

Tests were made on a local nginx/Apache2 reverse proxy server, which I use frequently for testing. No plugins activated, default theme Twenty Twenty in

[2021-07-05 06:46] pixolin commented on #33188
This is an error message, which I receive directly after creating a new post, adding empty paragraph blocks and selecting them in the list view pane. Here, the _Gutenberg plugin was disabled_, using the block editor from core.

[code]

Again, no issues in Chrome.

[2021-07-05 07:10] noisysocks commented on #33123
Aha, Safari! Added to Needs dev. If the fix is non-trivial we should punt this to 5.8.1 as it is late in the release cycle.

[2021-07-05 07:35] jasmussen commented on #33168
This is an interesting one, thanks for filing it! Here it is with a white background:

![logos](https://user-images.githubusercontent.com/1204802/124433532-2532dd00-dd73-11eb-8943-ec05a158a2e8.gif)

I'm not sure there's really a solution to it that doesn't have us adding a drop shadow or stroke to every single logo-only icon, and I'm not sure we want that. The thing is, every logo is susceptible t

[2021-07-05 07:42] kevin940726 commented on #33123
This seems to be related to the PR #32260 I'm working on, and I also forgot to test it in Safari 😅. I'll take a look.

[2021-07-05 07:55] talldan commented on #30655
Not seeing the same error any longer. Though the WordPress core `npm run build` command does still seem to cause a problem.

`npm run wp-env start` completes ok, but there's a `403 Forbidden: You don't have permission to access this resource` error when trying to access `localhost:8888/wp-admin`.

[2021-07-05 08:05] kevin940726 commented on #33123
I just pushed a commit to #32260 hopefully will fix this issue.

The issue seems to be that Safari for some reasons will grow an iframe to an unusual height if it's loaded when hidden (inside collapsed widget area). The solution is to only set the height once it's loaded. It works in my case, but I'm not sure if it solves all the issues here, so please help test it ;).

[2021-07-05 08:23] scruffian commented on #33168
Thanks @jasmussen, I agree with your conclusion! Let's close...

[2021-07-05 08:23] #33168 closed, assigned to nobody

[2021-07-05 08:52] pansamolot commented on #23510
Hello. Do we have any progress here or a possible solution or workaround? Newly risen tickets (like mine #33187) are being closed linking to this one. But I see nothing happening here for past 8 months. The core report here suggests / claims that this is WP Core problem, but [linked Trac ticket](https://github.com/WordPress/gutenberg/issues/23510#issuecomment-652406757) is not touched for past 4 m

[2021-07-05 09:15] SiobhyB commented on #29116
I'm also seeing this behaviour on the very latest beta of the app, 17.7, on a Pixel 5 running Android 11.

If I carry on typing after pressing enter and then move away from the heading block, the following error pops up:

![wp-1625476328624](https://user-images.githubusercontent.com/2998162/124448102-f9ffbc00-dd79-11eb-9434-1169b76ef25f.png)

[2021-07-05 10:09] youknowriad commented on #30803
Is this the last PR for these safari fixes? I can try to add the backport label and include in RC2.

[2021-07-05 10:13] youknowriad commented on #32365
The field guide is now published and it seems the latest items here are not that important to require their own dev note, so I'm going to close this temptatively. Thanks all for your work on these dev notes.

[2021-07-05 10:25] ntsekouras commented on #32365
Just noting that I don't believe the patterns one has been published: https://github.com/WordPress/gutenberg/issues/32365#issuecomment-853726663.

It's perfectly fine if we don't want to, but noting in case it has slipped through the cracks 😄

[2021-07-05 10:28] youknowriad commented on #32365
@ntsekouras missed this one, maybe we can do a "Miscellaneous block editor API changes" and include it with some other remaining small ones. WDYT @mkaz

[2021-07-05 10:29] paaljoachim opened #33193 "User feedback: Not able to find the in-block inserter upon scrolling the page."
## Description

User feedback. How do I insert an image?

Her screen looked similar to this:
![Inblock-page-inserter-hidden-by-scrolling](https://user-images.githubusercontent.com/5323259/124456174-b2356080-dd8a-11eb-8167-5e779218e778.jpg)

As the in block inserter becomes hidden behind the toolbar or further up the page the user wondered how to add an image.

A solution might be to have the + in

[2021-07-05 10:41] draganescu opened #33194 "Add a filter to replace the welcome modal in the Widgets editor"
## What problem does this address?
The Widgets editor has a welcome modal, both in the stand alone version and in the Customizer version. Also the post editor has a welcome modal. The modals are generic in their intention and they're meant to serve default core installations of WordPress that introduce new features to users. However in certain implementations this welcome modal could be replaced b

[2021-07-05 10:50] javierarce commented on #32638
That issue is getting addressed and probably get solved here: https://github.com/WordPress/gutenberg/pull/33163

[2021-07-05 11:04] ntsekouras commented on #32638
The behavior of `Query Loop` patterns and variations regarding `inherit` value will be consolidated with this PR: https://github.com/WordPress/gutenberg/pull/33163

[2021-07-05 11:08] javierarce commented on #32638
Thanks, @ntsekouras. I was confused when I started testing and comparing the different loop variations.

[2021-07-05 11:25] evakaneva opened #33196 "Mobile Web: Admin menu: Main content does not move to the right"
## Description

Unlike the other admin pages, the editor does not slide to right when you open the admin menu.

## Step-by-step reproduction instructions

1. Use a mobile device or make your screen smaller.
2. Open the browser, go to the admin
3. Add new post
4. Click on hamburger to open the admin menu
5. See the admin menu overlaps the main content on the right side

## Expected behaviour

I exp

[2021-07-05 11:51] #33115 closed, assigned to kevin940726

[2021-07-05 11:51] #33123 closed, assigned to kevin940726

[2021-07-05 12:08] javierarce commented on #32332
After thinking for a while about this issue, I think that my second idea makes more sense. The basic Query block should be a powerful and "content agnostic" block, probably more oriented towards advanced users with specific needs (like theme developers).

The other blocks would use the Query block internally but start with a different set of defaults, reducing the number of blocks to maintain and

[2021-07-05 12:37] bobbingwide commented on #31424
Reproduced on Windows with Chrome Version 91.0.4472.124 (Official Build) (64-bit)
Doesn't happen with Firefox.

Here I've got 3 separators, all defined the same, style wide.

Which line(s) appear as a double separator varies depending on the zoom level.
![image](https://user-images.githubusercontent.com/2474435/124471235-8919cd80-dd94-11eb-9b72-3f53d799d9aa.png)

[2021-07-05 12:42] ellatrix opened #33198 "Safari on iOS: scrolls to the top on Enter"
## Description

## Step-by-step reproduction instructions

## Expected behaviour

## Actual behaviour

## Screenshots or screen recording (optional)

https://user-images.githubusercontent.com/4710635/124473026-7ceb3b80-dda7-11eb-8d92-9e4fc52b2b44.mp4

## Code snippet (optional)

## WordPress information
- WordPress version:
- Gutenberg version:
- Are all plugins except Gutenberg deactivated?
- Are

[2021-07-05 13:22] adamziel commented on #33124
Fix available in https://github.com/WordPress/gutenberg/pull/33200

[2021-07-05 14:46] gaambo commented on #30703
A more extended approach would be to allow adding extra environment variables or including custom php.ini settings via volume-mounting. That could also allow for more complex situations where you need special php extensions to be set.
If I could add another .ini file that get's mapped into `/usr/local/etc/php/` I could overwrite the xdebug config.

My workaround ATM is to run this after start:
[co

[2021-07-05 15:04] #33124 closed, assigned to nobody

[2021-07-05 15:04] javierarce opened #33202 "Query Loop block: improve setup state"
I'd like to propose a couple of small improvements to the current placeholder of the block.

The first one is adding the title of the variation in the carousel view. While I don't think it's a critical improvement, I think it's important that the two views (carousel and grid) are consistent.

I think there are two possible positions. The left one is probably more useful because it allows users to

[2021-07-05 15:12] capJavert commented on #26271
@talldan could you provide basic example to use `core/data` as replacement for (from [here](https://github.com/WordPress/gutenberg/blob/trunk/storybook/stories/playground/index.js)):

[code]

I was looking through code and docs but could not find an example implementation. Is that even possible?

[2021-07-05 15:19] critterverse commented on #32750
Good to know! My mistake for making the original icon too complex and I'm happy to hear the revised version is working better 😁

[2021-07-05 16:15] spacedmonkey opened #33203 "Legacy widget: Text widget results in javascript error"
## Description

The legacy text widget, use the tinymce error. If you have a text widget from the old widget editor then go to the new widget screen, this generates a javascript error.

[code]

## Step-by-step reproduction instructions
1. Activate classic widgets plugins.
2. Insert text widget
3. Add some text to widget.
4. Deactivate classic widgets plugins.
5. Go to widget screen.
6. See error.

[2021-07-05 17:06] draganescu opened #33207 "Move the Customizer link to the editor's header"
### Problem

The widgets editor has this link "Manage with live preview" that was ported from the classic screen. The original goal of that link was to point users to a better way of managing widgets in the Customizer.

In the new block based widgets editor, the experience is better, but the Customizer still has a better setup with live preview of all widget edits in the full context of the web pa

[2021-07-05 17:18] draganescu commented on #33203
Testing this on the current 5.8 branch or WordPress `master` and I cannot repro, with or without Gutenberg active.
The problem appears on WordPress 5.7.2 and possibly earlier.

[2021-07-05 17:36] annezazu commented on #32975
@kishanjasani Thanks so much for diving into this test and reporting feedback! As mentioned in slack, this is likely a bracket issue rather than a problem with theme.json. I recommend going through line by line to find the missing bracket and you should see this resolve :) For now, closing this out but thanks again for digging in.

[2021-07-05 17:36] #32975 closed, assigned to nobody

[2021-07-05 17:53] kirdia commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-07-05 17:57] bobbingwide opened #33209 "Description for Singular template implies the existence of a "post" template."
## Description
There are two parts to this issue.
1. A minor formatting problem
2. Some text needs correcting / improving

In the Site Editor, when editing the Singular template, the text in the drop down from the **Singular** label in the middle of the top toolbar could do with some additional spacing. Also the wording should be revisited.

There's not enough space between **Singular** and Templa

[2021-07-05 18:11] RolandHughes commented on #32649
Now you guys are even deleting the leading quotations.

![missing-leading-quote](https://user-images.githubusercontent.com/1883220/124507000-78685800-dd92-11eb-81fd-c4e36ed2191a.png)

[2021-07-05 18:14] kishanjasani commented on #32975
Thanks, @annezazu
I missed including the bracket, but the problem is still there. I have updated the comment you can check that now. Could I reopen this issue? You can check the issue by just copy-pasting your JSON file with mine.

Thank you

[2021-07-05 18:21] RolandHughes commented on #32649
https://user-images.githubusercontent.com/1883220/124507662-d9dcf680-dd93-11eb-9a27-32bb3f556f60.mp4

[2021-07-05 18:40] shaunandrews commented on #33202
The checkboxes are way easier to understand, and seem like they provide more flexibility to choose elements. Love it.

[2021-07-05 21:13] spacedmonkey commented on #33203
I am seeing a similar error WP 5.9-alpha without the gutenberg plugin.

<img width="1884" alt="Screenshot 2021-07-05 at 22 08 42" src="https://user-images.githubusercontent.com/237508/124518378-22b99d00-ddde-11eb-921d-75a6b6b1d075.png">

[2021-07-05 21:15] annezazu commented on #32975
Hmm tried a few things to get this to work:
- Add layout settings: https://make.wordpress.org/core/2021/06/29/on-layout-and-content-width-in-wordpress-5-8/
- Add in names for palette, gradient, and font sizes
- Fix a slug that was missing a dash (mint-green)
- Use `"size": "24px"` rather than `"size": 24"` for font sizes
- Added in font families!

This last item seemed to be the difference in my t

[2021-07-05 21:33] michaelslevy commented on #33181
Shouldn't there be a separation of content from appearance where elements are styled based on functional convention?

If the available colors are built into the theme, it would provide administrators with options that fall within a crafted design. It could also allow for semantic assignments to the colors.

Options to choose a custom color for individual blocks could encourage inconsistencies that

[2021-07-06 00:27] tellthemachines commented on #33203
I can reproduce this on WP 5.7.2 with the latest from this repo, but not on 5.9-alpha-51272-src with or without the Gutenberg plugin.

[2021-07-06 01:40] aaroncampbell commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-07-06 01:53] leeshadle opened #33212 "Warning when enqueuing styles for a plugin in iframed Full Site Editor"
## Description

There is a warning in the iframed Full Site Editor when enqueueing a stylesheet that isn't associated with a block.

I build a lot of plugins that use [block filters](https://developer.wordpress.org/block-editor/reference-guides/filters/block-filters/) only to enhance core blocks, which don't require creating custom blocks.

For plugins, the warning suggests using the block API's s

[2021-07-06 03:41] noisysocks commented on #33207
I wonder if we should also add a link to the Customizer that links to the Widgets screen? For times where you need a little more space.

[2021-07-06 03:42] noisysocks commented on #33203
Moved this to the post-5.8 grab bag ("Maybe later") as it's not affecting 5.8.

[2021-07-06 04:40] kevin940726 commented on #33203
I believe the problem is that the Text Widget is using trying to call [`wp.editor.initialize` in `text-widgets.js`](https://github.com/WordPress/wordpress-develop/blob/7026369035d0632f670d7dd618a797bbcbb413ec/src/js/_enqueues/wp/widgets/text.js#L240), where `wp.editor` is defined in [`base.js`](https://github.com/WordPress/wordpress-develop/blob/7026369035d0632f670d7dd618a797bbcbb413ec/src/js/_enq

[2021-07-06 05:18] getsource commented on #28842
Related: #31515

[2021-07-06 05:21] getsource commented on #30289
Hi @Lovor01!
Thanks again for the report.

This issue was discussed in a [triage session today](https://wordpress.slack.com/archives/C02QB2JS7/p1625547926313600). Thanks again for the

It looks like as was mentioned by @gziolo, more information is necessary for further testing.

Specifically, it'd be helpful to have a simplified / sample project where the issue is able to be reproduced, and the ve

[2021-07-06 05:23] Mamaduka commented on #25668
Closing this issue for now, since we had no feedback for few months. Feel free to re-open it if you're still experiencing the same problem.

[2021-07-06 05:23] #25668 closed

[2021-07-06 05:25] miminari commented on #26458
@bluisier

We checked this issue in [Today's triage](https://wordpress.slack.com/archives/C02QB2JS7/p1625548516322000) again, and we think we can close this issue.
If you have more info, please tell us again. Thank you.

[2021-07-06 05:25] #26458 closed

[2021-07-06 05:40] talldan commented on #17970
Thanks for reporting @JHeimbach, sorry it took so long to verify this! We discussed this in a triage session in slack (https://wordpress.slack.com/archives/C02QB2JS7/p1625548800325600).

The problem is quite easy to spot in the storybook:
https://wordpress.github.io/gutenberg/?path=/story/components-timepicker--default

Definitely open to contributions for this if you're still interested, though I

[2021-07-06 05:42] sophiegyo commented on #30505
I tested this too - it doesn't seem to pull the alt text from the media library at all. I actually hadn't noticed cover blocks now use `<img>` instead of `background-image: url();`, but isn't alt text a fairly basic requisite for accessibility?

It'd be fabulous if we could have alt text for covers blocks.

[2021-07-06 05:44] ThatStevensGuy commented on #25668
Surprised no one else is experiencing this. I still require the meta_modified fix above to get TextControl to update.

If I am the edge case, then we can leave it closed, as I found that earlier work around fixes it for my needs.

[2021-07-06 06:03] torounit commented on #23304
@adamrob-me

Is the Custom Fields panel enabled?

If that panel is enabled, there is a known issue where updates from the block will be overwritten by data in the panel. #23078
The current workaround is to disable the custom fields panel.

If the custom fields panel is enabled, we would like to close this ticket and merge it with #23078.

[2021-07-06 06:17] andreilupu commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-07-06 06:50] #33181 closed, assigned to nobody

[2021-07-06 07:05] getdave commented on #30538
Agreed. This also aligns with my experience. This would be a great upgrade.

[2021-07-06 07:35] arnemulder commented on #29178
I noticed this change in the WP core. It's possible to edit blocks inside a reusable content block without even knowing they are part of a reusable content block. This should definitively be a lot harder / impossible to do in page. With multiple users on a website the current way of handling the reusable content block is a nightmare.

[2021-07-06 08:16] kishanjasani commented on #32975
Thanks, @annezazu. Would love to help in improving the https://gutenberg-theme.xyz/

[2021-07-06 08:27] talldan commented on #26271
@capJavert `core/data` is specifically built for WordPress, so to be able to provide advice I'd need to know whether you're building something for WordPress. This is the list of WordPress data types supported by the `core/data` entity system:
https://github.com/WordPress/gutenberg/blob/1f55df53a0ec469c7abd7cbdb65568b08d84f906/packages/core-data/src/entities.js#L21-L128.

The system was really buil

[2021-07-06 09:08] capJavert commented on #26271
@talldan thanks for clarification, yes, we are implementing a standalone editor (outside of wordpress). I will checkout the `useEntityBlockEditor` hook.

We were having trouble because by default Gutenberg overrides all `CTRL+Z` or `CMD+Z` shortcuts with `event => event.preventDefault()` so we had to patch that out to even get it to work and then implemented undo into our own state management (thi

[2021-07-06 09:20] Chrico opened #33215 "Navigation-Link does not render post_status==="private""
## Description
With this commit https://github.com/WordPress/gutenberg/commit/1936a04bc5ff31eb5c29fddaf4f304759d35a7ed there was some code introduced which will not render in frontend Navigation Items anymore which are set to e.G. "private" post_status.

**Caused by:** https://github.com/WordPress/gutenberg/pull/27207

## Step-by-step reproduction instructions

1. Create 2 new pages "page A" and p

[2021-07-06 09:22] ntucakovic commented on #32790
I'm trying to do the same; to use block-editor with custom blocks and a few gutenberg blocks from block-library package.

I'm struggling to figure out how localization is working with exposed gutenberg blocks outside of WP scope, specifically:
- How does the i18n decide which locale is active and should be used
- I suppose we need to have a singleton instance of i18n so we can add locale data to i

[2021-07-06 09:31] ntsekouras commented on #33154
I investigated this but with no clear solution for now. I'll leave here some of my finding if they are helpful for others more familiar with `filters` and `core`.

In order to reproduce this you need to have `style` tags inside you post content. This happens easier with block themes as in blocks with `layout` support like `Group`, if you set some widths it will append `style` tags in it.

You also

[2021-07-06 09:49] ntsekouras commented on #33202
There is an issue for this here: https://github.com/WordPress/gutenberg/issues/31593.

[2021-07-06 10:06] gziolo commented on #8352
I filed two tickets in WordPress Trac for better visibility of some remaining tasks.

https://core.trac.wordpress.org/ticket/53602

https://core.trac.wordpress.org/ticket/53603

[2021-07-06 10:26] paaljoachim commented on #29178
Hi Arne @arnemulder

One mini protection has been merged. A click through approach. This means that the first click of the Reusable block selects the parent container (Reusable block) and not the inner content. Check the video here in the comment I made: https://github.com/WordPress/gutenberg/pull/31109#issuecomment-864418937
One can also test out the approach in the latest Gutenberg plugin 10.9.1

[2021-07-06 10:26] aristath commented on #33154
Found the issue, I believe it needs a patch in trac for core.
I'm testing now, and will proceed with submitting the fix :+1:

[2021-07-06 10:46] arnemulder commented on #32461
I really think that editing a reusable content block shouldn't be taken lightly. It should be done on a central place instead of in the context of a post or page that uses that reusable block. A clickthrough isn't enough imo. The lock is a far better idea, but still less protection than the old method of a separate post type to edit outside of the post or page that holds the reusable block. Access

[2021-07-06 10:59] #32750 closed, assigned to manooweb

[2021-07-06 11:27] JustinyAhin commented on #33096
I think some styling can be applied to the `block-editor-media-replace-flow__image-url-label` element. Maybe adding a margin-left to it. `margin-left: 2em;" seems to align the text correctly with the image link; but it is overflows a bit on the edit button.

<img width="268" alt="CleanShot 2021-07-06 at 12 22 21@2x" src="https://user-images.githubusercontent.com/33403964/124592428-5b488d80-de55-11

[2021-07-06 11:31] aristath commented on #33154
Core ticket: https://core.trac.wordpress.org/ticket/53604
Patch: https://github.com/WordPress/wordpress-develop/pull/1472

[2021-07-06 11:46] ntucakovic commented on #32790
@alanps I've managed to set locale data to be consumed by both core blocks, block inspector, and custom blocks. It ended up being very trivial, I just wasn't aware that localization can't be changed after blocks are mounted.

[code]

This needs to be executed before components are mounted. Otherwise, once mounted, default localization, defined in the brackets, will be consumed, as locale data will

[2021-07-06 12:13] megane9988 commented on #10169
@gwwar

I'm having a hard time with this problem.
I have over 1000 categories on my web site.
The current block editor frequently switches between the details panel for each block and the settings panel for posts.
Each time this happens, the database is queried, which can have a negative impact on performance.

I would be very happy if this situation could be fixed.

[2021-07-06 12:24] paaljoachim commented on #21943
@andrewserong Andrew has made a WIP/Draft PR here: https://github.com/WordPress/gutenberg/pull/32500
I noticed the progress has stopped up.

[2021-07-06 13:41] maitearmengaud commented on #33047
Hi ! Thanks for you answer.
Yes that's what I did, I'm correctly hooked, that's why it seems strange to me.

Of course :
- I tried with an administrator role, but also with an author account
- No I'm editing a typical post

[2021-07-06 14:25] richtabor opened #33221 "Contextual Block Padding (Spacing) Controls"
## What problem does this address?
As the block content area is the primary level of interaction, let's consider exploring how we could empower site publishers to design with contextual spacing controls within the blocks themselves.

- This could work for padding, and probably margin as well.
- We could implement keyboard shortcuts for modifying X/Y/all values at a time (similar to Figma/Photoshop

[2021-07-06 14:37] annezazu commented on #32975
Agreed! I'll flag this for some folks to see if we can make sure the outcome is more transferrable.

[2021-07-06 14:37] richtabor commented on #31429
I agree. I think it's odd how a user may add a wide/fullwidth alignment to the Heading block, but not the Paragraph block. While the new Inherit default layout setting does make every block within the parent block inherit its layout width, if you set a custom value for content/wide — then again its off.

## Screenshots
Everything is fullwidth if "Inherit default layout" is enabled (within a Group

[2021-07-06 14:39] richtabor commented on #31429
I'm curious what the confusion with having P blocks with wide/full alignment (as referenced here: https://github.com/WordPress/gutenberg/issues/9597 ). And what's the justification for having Heading and Paragraph blocks treated differently?

[2021-07-06 14:41] omarreiss opened #33223 "Really confusing UX using site title block"
## Description

When I was investigating a bugreport about compatibility between Yoast SEO and the new Site title block, it took me about a twenty minutes to understand how to use this block. I've created a screencasts with all the roadblocks I bumped into. Just wanted to drop this here since I don't think it would be wise to ship the block with WP 5.8 in its current form.

## Step-by-step reprodu

[2021-07-06 14:46] kjellr commented on #30505
A quick fix for this issue would be to just ensure the block doesn't error when alt text is manually entered in the markup. A more complete fix would be to add a field to the "Media Settings" section to mirror the one present for image blocks:

Before|After
---|---
<img width="280" alt="Screen Shot 2021-07-06 at 10 41 55 AM" src="https://user-images.githubusercontent.com/1202812/124620220-482ec100

[2021-07-06 14:59] richtabor commented on #33142
@justintadlock The wrapper is still there, but the default block margins are removed from themes with theme.json (per this PR https://github.com/WordPress/gutenberg/pull/30375 I found). That's great for theme.json themes, but not for any current themes. :/

[2021-07-06 15:04] annezazu commented on #32975
Following up! Turns out this likely was a bug as with Gutenberg 11.0 RC, the issue goes away and you can leave out font families without any consequences :) Thanks for the patience while I dug into this.

[2021-07-06 15:18] gwwar commented on #30803
@youknowriad Yes, this is the last one that I'm aware of!

[2021-07-06 15:18] Mamaduka commented on #10169
A few things have changed that could generally improve Post Taxonomies components. We can now make [context-specific](https://github.com/WordPress/gutenberg/pull/32961) requests with the data module. It means we can get rid of `apiFetch`.

I also thought that maybe we could use `terms.length` for the query `per_page` instead of using the `-1`.

[2021-07-06 15:33] richtabor commented on #33180
I'd say anything that is required should be a `--wp--preset...` value, such as site background color, normal font size (which is), line height, font weights, and font families for headings/body.

Some initial explorations:
[code]
Here's another screenshot of what's from the Quadrat theme.
<img width="512" alt="Screen Shot 2021-07-06 at 11 28 38 AM" src="https://user-images.githubusercontent.com/18

[2021-07-06 15:48] guarani opened #33225 "Support Apple Pencil Scribble in blank areas of the editor canvas"
## Description

Support Apple Pencil scribble in blank areas of the editor, e.g. under the bottom-most block that's in the editor.

## Step-by-step reproduction instructions

## Expected behaviour
Scribbling with an Apple pencil should work in blank areas of the editor. This would help users create a new paragraph block by writing anywhere under the bottom-most block.

## Actual behaviour
At the m

[2021-07-06 15:54] adamziel commented on #33203
I think it is affecting 5.8.

There may be more problems here, but one originates in Jetpack when it is enabled in the latest WP 5.8 version, with or without the gutenberg plugin. Specifically, here:
[code]

`$editor_deps` comes from `plugins/jetpack/_inc/blocks/editor.asset.php` which lists 26 different scripts including `wp-edit-post` and `wp-editor`. As soon as I comment them both out, everythi

[2021-07-06 16:02] adamziel commented on #33203
I just had the worst idea ever, but it could just solve this issue once and for all :D The problem is that we have two different sets of expectations in regard to what resides under the name `wp.editor`. Part of the code expects to find a _module_:

<img width="317" alt="Zrzut ekranu 2021-07-6 o 17 59 31" src="https://user-images.githubusercontent.com/205419/124631711-efc9e480-de83-11eb-8564-ff437

[2021-07-06 16:06] #32520 closed, assigned to nobody

[2021-07-06 16:07] spacedmonkey commented on #33203
Sharing for visibility. A quick search on WordPress plugin directory for [wp.editor.initialize](https://wpdirectory.net/search/01F9Y8K963004JWYGWY0XQ3MKM) brings up a lot of results. Not all of these will spin up tinymce in widget screen. But two popular ones seem too. [SiteOrigin Widgets Bundle](https://wordpress.org/plugins/so-widgets-bundle/) and [Page Builder by SiteOrigin  ](https://wordpress

[2021-07-06 16:16] adamziel commented on #33203
Great idea checking the plugin directory @spacedmonkey! This shows that we need a solution that's compatible with both the widgets editor and all the existing code. I just proposed one in https://github.com/WordPress/gutenberg/pull/33228

[2021-07-06 16:19] justintadlock commented on #33142
The source of default block margins doesn't really matter.  As long as the `[data-align]` wrapper is there, it's pretty much impossible to correctly use sibling selectors.

For example, you can't kill margins for this:

[code]

With CSS like:

[code]

That CSS works on the front end because the HTML is this:

[code]

You can certainly do some weird and hacky workarounds to sort of make it work in

[2021-07-06 16:39] sarayourfriend commented on #33111
@ciampo When you have time to review my indications, please do! Thanks!

[2021-07-06 16:40] justintadlock commented on #33142
Just to show a slightly more complex example, when multiple File blocks appear after one another, I want them to look like this:

![stacked-file-blocks](https://user-images.githubusercontent.com/1816309/124636320-07867600-de4e-11eb-8d4c-a210b39e33f9.jpg)

What I've done there is target `.wp-block-file + .wp-block-file` to remove the top margin and border from the sibling blocks.  This is easy to d

[2021-07-06 17:11] mchowning commented on #31893
👋  @cristianraiber ! Thanks so much for consenting to dual-license your contribution. 🙇   It appears that [the contribution you made to Gutenberg](https://github.com/WordPress/gutenberg/pull/9986) came from a different GitHub user though (@cristian-raiber). Could you leave a comment from that account consenting to the dual-license? If you do not have access to that account anymore, could you leave

[2021-07-06 17:18] mchowning commented on #31893
:wave: @fritz-c! Thanks so much for consenting to the dual-license. 🙇  I don't see any past Gutenberg contributions from you, but I do see [a contribution](https://github.com/WordPress/gutenberg/commit/c0ac81a6465e15125f1b54ee2b1bf63076d21e62) from @fritz-cwp  Perhaps that is you.

If that is you, could you leave a comment from the @fritz-cwp account consenting to the dual-license? And if [the con

[2021-07-06 17:22] fluiddot opened #33231 "Attributes are lost when changing the provider of an embed block"
## Description

The following attributes of the embed block are lost when the provider is changed:
- `align`
- `caption`
- `allowResponsive`

## Step-by-step reproduction instructions

1. Add an embed block.
2. Set an URL (YouTube video example: https://youtu.be/UOcroR50808).
3. Click on `Embed` button.
4. Change alignment to `Align left`.
5. Add text to the caption field.
6. Click on `Show more s

[2021-07-06 17:22] oandregal opened #33232 "Explore block style variations as packages of style attributes"
This stems from https://github.com/WordPress/gutenberg/pull/33157/#issuecomment-874658070 and older threads such as https://github.com/WordPress/gutenberg/pull/22208#issuecomment-644099875

## Example: tt1-blocks theme

I've looked at what the TT1-blocks theme needs for styling in CSS. A large part of its styles is block style variations. This is what the theme has to do to set up the block style

[2021-07-06 17:25] oandregal commented on #33232
## Thinking block style variations as packages of style attributes

At the moment, when the user selects a block style variation what ends up happening is that a new class is attached to the block markup:

[code]

Then, the theme needs to provide the styles for the class. For example:

[code]

This is what I understand by thinking of style variations as "packages of style attributes": the block ma

[2021-07-06 17:36] tisaneetjardin opened #33234 "Reusable blocks gets deleted when not completely loaded"
## Description
In the editor, if the reusable blocks are not completely loaded and we save the page/article, the system will ask if we want to save the reusable blocks. To our deepest dismay, we realized that if you click on yes, the reusable blocks get wiped out and there is no way to bring them back, since they have no history.

Wordpress editor should not propose to update the reusable blocks i

[2021-07-06 17:37] oandregal commented on #33232
## How does it look to migrate an existing block style variation to this?

The quote block has the `default` and `large` style variations, that generate the corresponding `is-default` and `is-large` classes. The `default` style variation adds no CSS. Let's look at the `large` style variation.

### Existing

block markup:

`<blockquote class="is-large" />`

CSS:

[code]

### New

Block  markup:

`<

[2021-07-06 17:47] oandregal commented on #33232
## How do we define block style variations via `theme.json`?

Following with the `is-large` example for the quote block, the target CSS we need to be able to replicate is:

[code]

We could have a new `styleVariations` section within `settings` that looked like this:

[code]

Note a few things:

- We need to target HTML that is not part of the wrapper. I've used `elements.p`, `elements.cite`, `ele

[2021-07-06 19:38] gwwar commented on #30803
I ended up filing 3 seperate WebKit bugs:

Background Flashing: https://bugs.webkit.org/show_bug.cgi?id=227532
Flickering elements/text: https://bugs.webkit.org/show_bug.cgi?id=227705
Scrollbar is wrong color: https://bugs.webkit.org/show_bug.cgi?id=227545

[2021-07-06 21:08] CreativeDive opened #33238 "How we can allow only specific blocks for the new Widget Screen?"
Hey together,

the new widget screen will come to WordPress with the next release. Therefore it's very useful to disallow or allow specific block types only for using on a small width sidebar.

How we can deal with this?

Is there a filter like `add_filter( 'allowed_block_types', '...')` to allow specific block types for the widget screen?

Thank you for helping.

[2021-07-06 21:23] richtabor commented on #29568
A couple thoughts after diving into colors lately:

I've been playing around with the Automattic theme.json supported themes and across a few other points. BlockBase, Seedlot Blocks, and Blank Canvas all have `primary`, `secondary`, `background`, and `foreground` colors added. Quadrat does not, but perhaps it will (or should).

### 1. Should we consider `background` and `foreground` also standard

[2021-07-06 21:29] stokesman commented on #32210
This solution is creative. Technical challenges aside, I don't see using the modal as advancing the interface as compared to what the Customizer (before/without the block editor) provides for wide widgets. I do believe it's generally agreed that what we have now should be improved upon. So to that end I've explored a couple of ways to bring the wide widget display closer to the pre-block-editor in

[2021-07-06 21:32] richtabor commented on #33142
I'm saying the default `28px` block margin does not exist in theme.json based themes; there wouldn't be a need to zero them out. But I do agree that being able to target specifically is useful. I'm wondering though if this control is moving more towards a "user-centric" model, where a block's margin is controlled via a spacing control — not CSS.

[2021-07-06 21:33] richtabor commented on #33142
I've found targeting the > sibling, then adding a `-28px` margin top/bottom work — but it's janky. 🤨

[2021-07-06 22:00] paaljoachim commented on #32833
Here is another multi-entity saving issue discovered by @omarreiss Omar. He has also added a video showing the confusion around saving the post after having added the Site Title block. https://github.com/WordPress/gutenberg/issues/33223

[2021-07-06 22:02] paaljoachim commented on #33223
Thank you for adding this issue @omarreiss Omar!
What you mention is part of the multi-entity saving confusion which can be seen in a few different places.
@ockham Bernie will be looking into multi-entity saving process very soon.

I have made a separate issue which I called:
Publish: The Pre-publish dot, edit and save overview
https://github.com/WordPress/gutenberg/issues/32833
I have also linked

[2021-07-06 22:25] justintadlock commented on #33142
There would be because themes must still use margin, padding, or some other method to handle whitespace between elements.

But, this ticket is not about the existence/non-existence of core default margins or even specifically about margins.

It is about inconsistent markup between the front end and the editor.  The editor markup is causing a situation where it is impossible to target sibling block

[2021-07-06 23:36] richtabor commented on #33142
@justintadlock I'm not discounting the need/issue, just providing context on how themes.json based themes are handling this.

I'm finding more and more that the transition between pre and post theme.json themes will be a bit finicky for a while as we head further and further down this trail.

[2021-07-06 23:51] leeshadle commented on #29568
## How about a required minimum default palette for themes?

Like @richtabor, I've also been doing a deep dive into handling global colors in block-based themes, here are some findings:

### Global Color handling in Elementor = Sensible Defaults + Flexibility
Elementor has done an excellent job as far as handling global colors by offering both sensible defaults and lots of flexibility.  In Element

[2021-07-07 00:36] andrewserong commented on #21943
Thanks for the ping @paaljoachim! I had a bit of time a few weeks ago to explore the [WIP draft PR](https://github.com/WordPress/gutenberg/pull/32500), but then switched over to working on some other projects. I'm hoping to get back to it later on this week, and then chip away on it a bit in my spare time. If anyone gets the chance to take the PR for a spin / try it out, I'm very happy for feedbac

[2021-07-07 01:46] tellthemachines commented on #23745
I've been thinking about how we can build this in light of the changes in #30551. The semantics can be approached in the same way as that PR: make the dropdown container a `div`, and then iterate through its children on the server side and add list wrappers around the navigation links. What isn't clear is how the multi-column layout should be implemented: assuming users must be able to add items t

[2021-07-07 02:19] azaozz opened #33241 "Why are there PHP files in the JS packages on npm?"
Been wondering about this for a while. Seems these PHP files were added as a "quick fix" during the first merge of Gutenberg to WP 5.0, but not sue anybody has ever looked at "how to" and "why" since.

As far as I see it is not a good idea to (auto)add PHP code from the Gutenberg plugin to core as some of that code serves a bit different purpose in the plugin. There are certain, sometimes signific

[2021-07-07 02:57] talldan commented on #33215
@Chrico Thanks for reaching out here. It'd be good to explain why this is the case.

I took a look at how the existing menu screen in WordPress works, and it does indeed display links to private posts if the post was made private while it already existed in the menu. But it's not possible for a user to add an existing private post to a menu.

For a dynamic link to a post, perhaps this could be imp

[2021-07-07 04:14] noisysocks commented on #33238
Hey @CreativeDive.

You can tell if the block editor **is not** the post block editor using something like this:

[code]

To tell if the block editor **is** the widgets block editor you could use something like this:

[code]

The latter example is a little hacky. We will look at improving this in 5.8.x, see https://github.com/WordPress/gutenberg/issues/28517.

[2021-07-07 04:14] #33238 closed, assigned to nobody

[2021-07-07 04:17] noisysocks commented on #28517
With the introduction of `allowed_block_types_all` I think the correct solution here is to pass a subclass of `WP_Block_Editor_Context` that is specific to the widget editors to that filter.

[code]

We will need to implement this. It's a good candidate for 5.8.x, as it's very late in the 5.8 release cycle right now. For now one can use `$pagenow` as per https://github.com/WordPress/gutenberg/issu

[2021-07-07 04:20] noisysocks commented on #33203
This is a related issue: https://core.trac.wordpress.org/ticket/53569

I wonder if we could add code to Core that warns against enqueueing `wp-edit-post` and `wp-editor` in the widgets screen?

[2021-07-07 05:42] noisysocks opened #33242 "Widgets editor refinement"
Follows https://github.com/WordPress/gutenberg/issues/24687. This is an overview of smaller Widgets editor enhancements to look into after WordPress 5.8.

### Smooth out rough edges in the UX

- [x] Better support for implementing a traditional Title + Widget layout ([Context](https://github.com/WordPress/gutenberg/issues/32723)) (Potentially solved by [Block Patterns](https://github.com/WordPress

[2021-07-07 05:54] tellthemachines commented on #24644
Now that #30551 has been merged, we can close this.

[2021-07-07 05:54] #24644 closed

[2021-07-07 07:46] jasmussen commented on #23745
Thanks for thinking about this 🚀

That question stands out to me, because I've been thinking of this as the submenu simply containing a Columns block. It can then have 1-6 columns, but perhaps default to 1. By leveraging the existing columns block (assuming possible), we'd get any benefits being built for that block, which includes using CSS grid, gap, and built-in responsivenes.

The following is

[2021-07-07 07:55] MaggieCabrera opened #33245 "Post excerpt: editor is showing block content that doesn't show on the frontend"
## Description

The excerpt will show only on the editor the contents of some blocks (calendar, latest comments and latest posts as per my testing) but not on the frontend.

## Step-by-step reproduction instructions

1. Activate empty theme
2. Create a post that only contains a Calendar, Latest Posts or Latest comments block (I'm not sure how many blocks recreate this issue)
3. Create a page with

[2021-07-07 07:55] Robertght opened #33246 "Slash command doesn't clear when / is deleted"
### Steps to reproduce the behavior

1. Create a new post
2. Type the / block inserter shortcut
3. Remove the /

#### What I expected to happen

The / window to be hidden

#### What actually happened

The / window persisted until I pressed delete a second time and can jump around if you click away and back into a block area. This can lead to overlap on narrower content areas.

### Context

Empathy

[2021-07-07 08:06] jasmussen commented on #32599
Hello friends, I almost feel bad that I may have fixed this issue inadvertently as part of a different effort to fix a misaligned focus style in https://github.com/WordPress/gutenberg/pull/33031#issuecomment-869628955. Can you let me know if that's fixed? And for anyone involved who'd like contribution props, please feel free to ping me on any of your PRs (@jasmussen) and I'll help shepard things

[2021-07-07 08:08] MaggieCabrera opened #33248 "Query loop block: Wide alignment not working correctly on the editor"
## Description

While using wide alignment on a Query block the width is only applied to the currently selected post while in the editor. The frontend shows the correct alignment for all posts

## Step-by-step reproduction instructions

1. Activate emptytheme (you may need to set layout sizes on the theme.json, [here](https://gist.github.com/MaggieCabrera/624da1fdbfad3ae271c78a728f337868)'s the th

[2021-07-07 08:39] bobbingwide commented on #25612
I have a comment on child themes, partly in response to part of @annezazu's reply in the Outreach program comments,
but also related to my experiences attempting to develop a child theme.

On the contrary, I believe child themes make a lot of sense.

1. To add functionality
2. To restrict functionality

## Child theme to add functionality

I've already implemented a child theme - Wizzie is a child

[2021-07-07 08:54] Mamaduka commented on #33246
Probably related to #32986.

[2021-07-07 09:04] karmatosed commented on #29568
I do like the idea of cornerstones of colours you can count on across all themes. Background and foreground make sense to me as meaningful terms. Whatever naming appending numbers seems a slippery slope, so avoiding that seems great to me.

What I find problematic actually is the use of primary/secondary and other words that tend to mean less - but that might be because I really want my theme.json

[2021-07-07 09:06] youknowriad commented on #32813
Removed from the 5.8 must haves, there's no need to rush it at this point

[2021-07-07 09:12] talldan commented on #33246
I've noticed this too!

[2021-07-07 09:17] aristath commented on #29568
Over the years I have found that `primary`, `secondary`, `accent` etc are usually opinionated colors and not always suitable for text or backgrounds of large areas.
I agree with the suggestion above, `background` and `foreground` (or more appropriately `text`, since `foreground` can be perceived as a 2ndary background color which is more on the forground) should be required.
Required: `background`

[2021-07-07 09:21] webexpr-dhenriet opened #33251 "[List view panel] - Multiselection & Group/Ungroup"
It would be really useful to be able to move blocks with multiselection, drag & drop, and to group/ungroup blocks  from the list view panel.

- Be able to move blocks by drag and drop outside other blocks
- Be able to multiselect and group/ungroup from the list view panel
- Be able to multiselect blocks and move that selection  from the list view panel

![Screenshot_4](https://user-images.githubus

[2021-07-07 09:23] talldan commented on #26465
I closed a similar issue related to this. I don't think this is the right thing to do, because it'd involve removing a focus style from the expand/collapse button, which is basically an accessibility regression.

None of the other accordions in WordPress do this, so I'm not sure why the widget area should be different.

[2021-07-07 09:29] aristath commented on #33245
There was a patch submitted yesterday related to this in core: [#53604](https://core.trac.wordpress.org/ticket/53604)
Not all blocks contribute to an excerpt, there's a whitelist of blocks that can be used: `freeform`, `heading`, `html`, `list`, `media-text`, `paragraph`, `preformatted`, `pullquote`, `quote`, `table`, `verse`.
Yesterday's patch fixed issues with nested blocks & `innerBlocks` not b

[2021-07-07 09:30] MaggieCabrera commented on #29568
We ended up iterating on Quadrat and going [the semantic route](https://github.com/Automattic/themes/pull/4090) as well. I feel like themes need to use semantic colors if they want their users to be able to customize their site's colors in a comprehensive way. Having a "blue" color defined makes little sense when the user goes to the Global Styles panel and changes its value to a red color. Changi

[2021-07-07 09:40] talldan opened #33254 "Widget area discussion - should widget areas be blocks?"
## What problem does this address?
In the standalone widget editor, widget areas are currently blocks. They're implemented in a locked template, with unlocked inner blocks areas.

There are several areas where using a block wasn't ideal:
- Pretty much every feature on the block had to be disabled (reusable, html, custom classes etc.)
- An experimental block supports property was added to hide the

[2021-07-07 09:41] talldan commented on #33242
I've made an issue about widget areas, which might be worth adding - https://github.com/WordPress/gutenberg/issues/33254

[2021-07-07 09:44] talldan commented on #33254
A suggestion would be to only show one widget area at a time. That would mirror the way the customizer and the navigation editor work. I also feel that a downside of the current UI is that it requires a lot of scrolling. Especially if a theme has lots of widget areas or a user has added lots of blocks.

[2021-07-07 09:52] mtias commented on #33251
Thanks for the feedback! Check out https://github.com/WordPress/gutenberg/issues/29733 which is tracking a lot of these improvements.

[2021-07-07 09:53] talldan commented on #33251
Thanks for creating the issue @webexpr-dhenriet.

A lot of these suggestions are already tracked in other issues:
- https://github.com/WordPress/gutenberg/issues/29736
- https://github.com/WordPress/gutenberg/issues/29733

I don't think multi-selection or group/ungroup is tracked though, so it might be worth re-writing this issue to focus on that. What do you think?

This seems like a very niche t

[2021-07-07 10:02] oandregal opened #33255 "Styles for blocks with a wide design surface area"
This is for gathering thoughts, so we can support well blocks with a wide design surface.

People working on blocks such as the table, navigation, search, quote, and others have reported that the number of design tokens available to them is not enough for the things we want those blocks to do.

I'll illustrate this with colors, but the same can be argued for any other style property (see https://g

[2021-07-07 10:05] javierarce commented on #32332
I found this ticket by @jameskoster that has a more comprehensive list of enhancements and ideas about the Post List block https://github.com/WordPress/gutenberg/issues/32268

[2021-07-07 10:32] javierarce opened #33256 "Query Loop block: update Post Template icon"
The `Post Template` icon inside the `Query Loop` block is the same as the `Query Loop` one, making the use of the toolbar to select the parent element confusing.

I propose using the [`block-layout` icon](https://www.figma.com/file/e4tLacmlPuZV47l7901FEs/WordPress-Design-Library?node-id=5415%3A23211) instead.

![image](https://user-images.githubusercontent.com/4933/124744382-fce7e180-df1e-11eb-92a

[2021-07-07 10:49] keithdevon commented on #33142
After a bit of digging I found the original [PR that introduced the new alignment wrappers](https://github.com/WordPress/gutenberg/pull/23089).

In the PR, @ellatrix states that:

In the code itslef there is [a comment that states](https://github.com/WordPress/gutenberg/blob/108da99ded460687a81ec987943bcd6829fd8655/packages/block-editor/src/components/block-list/block.js#L121):

My questions are:

[2021-07-07 10:52] adamziel commented on #33203
Here's a PR proposing a very similar approach, but without touching the `@wordpress/editor` package: https://github.com/WordPress/wordpress-develop/pull/1481
Also, there's another related issue: https://core.trac.wordpress.org/ticket/53437

[2021-07-07 11:11] getdave opened #33257 "Release tooling - pull through RC changelog when making stable release"
## What problem does this address?

The Plugin release process involves currating the release changelog. This is a big task and needs to start as soon as the RC is published. As a result, the RC changelog gets a lot of edits and is probably in a nice shape by the time the stable release comes around.

## What is your proposed solution?
As a result when building the `stable` release it would seem w

[2021-07-07 11:16] gziolo commented on #33241
It's the simplest way to keep the PHP files for core blocks in sync with WordPress core:
https://github.com/WordPress/wordpress-develop/blob/73e24c997c1182ac48856c1546cf4719b51ae27d/tools/webpack/packages.js#L174-L181

The thing is that all core blocks that contain PHP code can be used only in the context of WordPress. We can always extract all general blocks that work in the standalone block edit

[2021-07-07 11:19] youknowriad commented on #33257
I think @ockham would know more about this

[2021-07-07 11:26] getdave commented on #33257
Should be a case of querying the Github API for the latest RC release and then instead of generating the changelog again using the bin script, we pull across the existing changelog if it exists. Then we can append the additional cherry picked items.

https://docs.github.com/en/rest/reference/repos#get-the-latest-release

[2021-07-07 11:32] colorful-tones commented on #29568
@aristath This does not land for me. I think that monochromatic grays can easily be assigned to `primary`, `secondary` and `accent`, which reinforces the naming convention as a sound choice.

I definitely lean towards non-semantic color naming (e.g. seaside-blue) when developing a theme. _But_, I'm now seeing the more significant consideration of the user who would be interacting with the Global S

[2021-07-07 11:38] ntsekouras commented on #33148
I've opened a PR in core for updating the patterns: https://github.com/WordPress/wordpress-develop/pull/1483

[2021-07-07 12:19] locksoft commented on #31707
I'd like to help you, but I've just updated to the last version of WP and a lot of plugins just disappeared. :(
I can't understand why. What happened?

[2021-07-07 12:23] webexpr-dhenriet commented on #33251
@mtias https://github.com/mtias thanks
@talldan https://github.com/talldan I have rewritten the issue only for Multiselection & Group/Ungroup

[2021-07-07 12:26] locksoft commented on #31707
Now the back-office is in maintenance mode (not the online website). What to do? :((

[2021-07-07 12:59] #31248 closed, assigned to nobody

[2021-07-07 13:09] aristath commented on #29568
I meant literally a black & white theme (for designs a-la [every-layout.dev](https://every-layout.dev/)). No grays or shades, no colors of any kind in the palette other than a black and a white, and the theme also disables custom-colors :smile:.
Enforcing a wide array of colors would make it impossible to build a theme like that, I'd have to add a bunch of other colors that I didn't want to add -

[2021-07-07 13:20] Mamaduka commented on #33246
I did some testing, and if I change `undefined` to `0` for the `hasSelection` check`, the issue gets fixed.

https://github.com/WordPress/gutenberg/blob/1eaad3cbad327e9fad5d8eef93c46aa773b7080b/packages/components/src/autocomplete/index.js#L380

Unfortunately, I'm not very familiar with the RichText component, so I don't want to introduce any regressions.

[2021-07-07 13:23] JiveDig commented on #29568
I think a standard set of named variables/options for colors still fits here. If the theme only needs black and white, the json file can have `false` or `null` for those color names, then they won't show up as options in the palette at all. The only concern would be fallbacks for code/content/themes that rely on those colors.

[2021-07-07 13:24] ciampo commented on #33111
Hey @sarayourfriend, I agree with your proposal of splitting the components into "low-level" UI primitives and "high-level" UI blocks, but I'm finding it hard to draw a line between the 2 groups.

I also compared the list from your comment above against the contents of `packages/components/` and against the docs manifest (`docs/manifest.json`).

A few components seem to be missing:
- `DashIcon` (f

[2021-07-07 13:24] aristath commented on #33223
Related: https://github.com/WordPress/gutenberg/pull/33140

[2021-07-07 13:31] sarayourfriend commented on #33111
I think we should focus on web first, just to keep it with what we're already familiar with at least. Native can follow the lead once we've hammered out the details for the web components, which is already a big task.

I don't think so, they're just HoCs.

StyleProvider should be mentioned as a primitive or maybe one of the "in between/utility" ones (I think there's a few of these, maybe Draggable

[2021-07-07 13:45] critterverse commented on #32599
Appreciate the fix @jasmussen, and I’m sorry for not spotting the overlapping issues either! It looks like #33031 definitely resolves the spacing issue 🎉

The secondary part of this issue had to do with the Reusable block icon being [stretched horizontally](https://github.com/WordPress/gutenberg/pull/32903#issuecomment-867122075) a bit — @jasmussen, I'm curious whether you are seeing that as well,

[2021-07-07 13:52] MaggieCabrera commented on #29568
I'm on the fence about the need for more standard semantic colors beyond background and text. On one hand, I agree with @aristath that a theme shouldn't have to define more than those two, but on the other hand, I see the value of having those names always mean a thing between theme changes so that when we create patterns or the user changes themes those class names are still there.

But "primary"

[2021-07-07 14:09] ciampo opened #33263 "Components: add missing documentation"
## What problem does this address?

As explained in #33111, some components in the `@wordpress/components` package don't have associated JSDocs / README's, or if they do, they are not complete with proper documentation and examples.

## What is your proposed solution?

Add JSDocs / README documentation for:

- [x] `AlignmentMatrixControl`
- [ ] `Card`
- [ ] `CircularOptionPicker`
- [x] `ClipboardB

[2021-07-07 14:09] ciampo commented on #33111
Thank you for clarifying! I went ahead and added `Icon` and `DashIcon` to your WIP list in the comment above

Makes sense. The same should apply for the contents of `packages/components/src/higher-order/`

Yes, we should probably create a third category for "non-UI" utils.

I agree with that, I was just wondering if, when listing a component (e.g. `Card`), we should also mention the subcomponents

[2021-07-07 14:14] skorasaurus commented on #33047
Are you able to share the custom theme that you're using?

[2021-07-07 14:15] JiveDig commented on #29568
I agree. If we had to choose between 2, I'd prefer some way to know if a color is dark or light vs where it would be used in the theme. Our premium theme now uses element names, but that doesn't fit everything. Background, background alt (expects a light value), header, body text, heading text, primary button, secondary button.

I'm not opposed to a generic/vague naming convention, with focus on d

[2021-07-07 14:15] kjellr commented on #29052
Related Issues:
https://github.com/WordPress/gutenberg/issues/19909
https://github.com/WordPress/gutenberg/issues/13363

(This may actually be a duplicate of one of those?)

[2021-07-07 14:16] critterverse opened #33264 "Resolve background styling issue with legacy widgets in Customizer"
Hi all, there has been some discussion around this previously in https://github.com/WordPress/gutenberg/issues/32849#issuecomment-866374349 but I’m opening a new issue as it would be great to continue to explore ways to remove the theme background color that appears only on legacy widgets in the Customizer widget editor. This is how legacy widgets appear currently:

![123006238-5d0a4f80-d385-11eb-

[2021-07-07 14:21] colorful-tones commented on #29568
Yes, I think it needs to be a balance of WYSIWYG (what you see is what you get) _and_ WYSIWYMNG (what you see is what you _might not_ get).

I.e. `background` and `text` are a great base requirement and would likely fall in to the WYSIWYG category when perusing Block Patterns as an everyday user.

Whereas, `primary`, `secondary`, `accent` would fall in to the WYSIWYMNG category, which I see as a p

[2021-07-07 14:24] annezazu commented on #29052
Amazing - thanks for connecting these dots. I tried hard to find related issues when I originally posted this but came up empty at the time! Going to close this out and add a few more labels to the other issues.

[2021-07-07 14:24] #29052 closed

[2021-07-07 14:44] kjellr commented on #29568
I agree strongly with this — If there are any _required_ palette colors for themes, the requirements should be as minimal as possible. Some themes will only need a foreground and background, and will have no use at all for dark, light, etc. I don't think it makes sense to enforce values for those.

You don't have to look too far to find a theme that doesn't require a large palette either. If you i

[2021-07-07 15:04] critterverse commented on #33242
The list of UX enhancements looks really good to me! A few notes:

After giving some thought to the first item (issues with trying to achieve a traditional title + widget layout), I think that ideally this could be combined with the second item (issue #26170). Introducing patterns into the widget editors would be a great addition to the user experience overall, and would help smooth out some of th

[2021-07-07 15:15] critterverse commented on #26170
Hi all! I just wanted to add to this discussion that I think introducing patterns would be a great addition to the widget editors now that we’re looking ahead towards further enhancements for the block-based editing experience.

It would be really helpful for themes to be able to supply their own widgets patterns, which would help resolve some of the hiccups we’ve seen with the way certain themes

[2021-07-07 15:26] mrleemon opened #33265 "Wrong link in the docs"
The Sidebar Plugin section in the Metaboxes page in the docs:
https://developer.wordpress.org/block-editor/how-to-guides/metabox/

links to a non-existent page:
https://developer.wordpress.org/block-editor/how-to-guides/sidebar-tutorial/plugin-sidebar-0.md/

[2021-07-07 15:29] scruffian commented on #29568
One aspect to consider here is patterns. If I insert a pattern that relys on the theme colors, when I customize the theme or switch themes, I would expect the colors to change to the new defaults of the theme. If some themes define a set of 5 colors and others only define 2 then what would happen to these other colors in the pattern?

[2021-07-07 15:32] justintadlock commented on #29568
We should clarify what we mean by "required" here.

A theme should never be required to implement specific color slugs.  There are too many use cases outside of our bubble where such subjective "rules" don't make sense.

Instead, we should have a standard that is used by core and the pattern directory.  This convention should be 100% opt-in.  However, if a theme chooses not to, core will automatic

[2021-07-07 15:34] kjellr commented on #26170
Interesting suggestion. If we did this, I do think a separate category would make sense  — many (the majority?) of patterns in the directory will likely look weird in a sidebar for example, so I like the idea of having a dedicated category for sidebar-optimized widgets.

[2021-07-07 15:39] JiveDig commented on #29568
There will absolutely be a ton of themes that _do_ enable a bunch of colors though. I'd guess that a majority will.

I think we need a plan for the themes that do enable more than foreground/background. It can still all be opt-in. If any theme defines colors, and switches to another that also defines colors, it shouldn't break. Those themes should have consistent naming/output.

If a user has a th

[2021-07-07 15:47] locksoft commented on #31707
Curious, I've just installed the last version of WP and the Gutenberg plugin reported it needed to be updated. I proceeded and received the message "the plugin is already updated to the last version". Then it simply disappeared from the list.
I've not idea if it was deleted because no more necessary or something else. So I cannot test what you asked me.
Just to have an idea, the "footer part" of t

[2021-07-07 15:50] shaunandrews commented on #26170
Having patterns available from the new widget screen seems like a big bonus for using blocks; I'd love to see it happen.

I'm not entirely sure about adding a "Widgets" category to the directory, though. Instead I think it might make more sense to add multiple categories like "Sidebar" and "Footer." Then, we can use a "Widget" tag (and Block Scope) to help provide context to the patterns in those

[2021-07-07 15:57] sarayourfriend commented on #33111
Great! I update the list to call out some things I think are utils. Do you mind having another review of it?

[2021-07-07 15:59] critterverse commented on #26170
This makes much more sense. Thanks for weighing in @shaunandrews and @kjellr!

[2021-07-07 16:22] #32599 closed, assigned to nobody

[2021-07-07 16:28] nukaga commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-07-07 17:35] ghost commented on #32599
Well, glad it was resolved!  Interesting css fix to the issue where I was adding a conditional class to the custom toolbar with text in JS.  Nice one @jasmussen !  Is there a way to get contribution props or would my commit actually need to be merged?  Not really sure how this works since this was my first PR.  No biggie if not, I'll try to address another issue soon.  Thanks all!

[2021-07-07 17:46] sabernhardt commented on #17970
Related tickets on Trac: [52501](https://core.trac.wordpress.org/ticket/52501) and [52664](https://core.trac.wordpress.org/ticket/52664)

[2021-07-07 18:07] v9ai commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-07-07 19:18] youknowriad commented on #24473
If some developer want to give this a try, we now have an experimental "layout" prop for InnerBlocks and a "layout" attribute in the Group block, meaning that the technical solution for this could like this:

 - Introduce a new type of layout (called "flex" maybe).
 - Add a UI to switch the layout type (in the existing layout panel) for the group block.
 - Generate the styles properly in `LayoutSt

[2021-07-07 19:27] karmatosed commented on #33221
I really like this idea. Specifically, I like that it fits into a flow of someone interacting using the keyboard because it's a power feature accessed through a power command (using key combination). This means it's out of the way for many - which feels even better.

[2021-07-07 20:04] ockham commented on #33257
We're actually being smart (or die trying 😅 )! We're not really regenerating but [pulling the RC changelog from the repo's `changelog.txt`](https://github.com/WordPress/gutenberg/blob/cba842a101df8a0cc0c2476768facc0c1e017532/.github/workflows/build-plugin-zip.yml#L194). (OTOH, the Changelog is [written](https://github.com/WordPress/gutenberg/blob/cba842a101df8a0cc0c2476768facc0c1e017532/.github/wo

[2021-07-07 20:17] azaozz commented on #33241
Yeah, on first look it seems that way. Looking a bit more, what happens when the (PHP) code needed for the Gutenberg plugin is different from the code needed for core? Who "wins", the plugin or core? :)

There have been few related bug reports recently:
https://core.trac.wordpress.org/ticket/53610
https://core.trac.wordpress.org/ticket/53410
https://core.trac.wordpress.org/ticket/53432

Seems that

[2021-07-07 20:39] youknowriad commented on #33257
@ockham I doubt editing the release is considered a "re publish", I've edited changelog in releases several times but didn't see the corresponding slack bot trigger.

[2021-07-07 20:51] ockham commented on #33223
The stuff I'm currently working on (mainly #33140) is more on an implementation/bug level. AFAIU, @paaljoachim's #32833 is also more about visual consistency on a rather low level (presence of the dot indicator on the Save button, mainly).

@omarreiss's concerns, as expressed in the video, seem to be on a higher level of UX. To extract/paraphrase the way I read it:
1. After clicking 'Save draft' f

[2021-07-07 21:00] annezazu commented on #27898
This flow is still pretty bizarre with the select option not making much sense in context. Here's a more recent video talking this through:

https://cloudup.com/cTe-9g5CHsV

[2021-07-07 21:02] annezazu commented on #27900
Just tested this with Gutenberg 11.0.0 and WordPress 5.7.2. Closing out as it now leaves you in template editing mode after saving :)

[2021-07-07 21:02] #27900 closed

[2021-07-07 21:05] annezazu commented on #27899
Noting for posterity that the current flow now offers a back option:

<img width="1154" alt="Screen Shot 2021-07-07 at 3 04 36 PM" src="https://user-images.githubusercontent.com/26996883/124828561-ab4a5180-df34-11eb-9259-d9a6d516cd30.png">

While this is a step in the right direction, I do think more thought can be put into making this switching process easier and more distinct so folks know what

[2021-07-07 21:44] melchoyce opened #33268 "Post Meta: Allow meta onto one line"
## What problem does this address?
If I want to create a new post layout where the author and date, for example, are on one line, there isn't an easy way to do this. You could use a columns block, but that wouldn't let you add a separator or display the meta information inline — there would still be gaps between each meta item.

Here's some screenshots of what I mean:

<img width="500" src="https:

[2021-07-07 21:47] annezazu commented on #30735
Tested this with Gutenberg 11.0, 5.7.2, and TT1. Couldn't replicate:
https://user-images.githubusercontent.com/26996883/124832937-9e306100-df3a-11eb-9c5b-15b3f9178b47.mov

Closing this out for now but feel free to reopen if you're able to!

[2021-07-07 21:47] #30735 closed, assigned to nobody

[2021-07-07 22:13] melchoyce opened #33269 "Query Block: Custom post excerpt "Read More" link shows twice"
## Description
When I enable the "Post Excerpt Settings: Show link on new line" toggle, I now see the read more text appear twice on the front-end — both inline with the excerpt, and as a new line below.

## Step-by-step reproduction instructions
1. Make some new posts, making sure to add excerpts.
2. On a new page, create a query block. Select the default layout.
3. In the sidebar, toggle "Show l

[2021-07-07 23:38] paaljoachim commented on #31163
I will suggest that people check out the video of a Save button in the Reusable block toolbar and give feedback. The PR is almost ready to be merged.
https://github.com/WordPress/gutenberg/pull/32464#issuecomment-875951390

[2021-07-07 23:39] paaljoachim commented on #29178
An update.
I will suggest that people check out the video of a Save button in the Reusable block toolbar and give feedback. The PR is almost ready to be merged, so now is the time to give feedback for any last minute adjustments.
https://github.com/WordPress/gutenberg/pull/32464#issuecomment-875951390

[2021-07-08 00:07] annezazu opened #33270 "Query Loop block: entering 0 in the items per page setting causes editor to freeze"
## Description

Using the query loop block settings, if you try to set the items per page to zero, the editor freezes/crashes. This is happening with 5.8-RC2. cc @youknowriad

## Step-by-step reproduction instructions
1. Add a query loop block.
2. Using the block toolbar settings, set the items per page option under Display Settings to 0.
3. Find you can't use the editor.

## Expected behaviour

E

[2021-07-08 00:20] annezazu commented on #33269
Noting that this happens with 5.8 RC2 and GB 11.0 cc @youknowriad

[2021-07-08 00:29] locksoft commented on #31707
Ok, I've just had my first "stuck on saving" with the last WP version. And maybe I've discovered it's not an infinite waiting but, after a while (let's say about 3 minutes) it finally saves.
I don't think I can do any other test (like disabling the other plugins) because this issue is so rare it may happens once every day, and I can't keep addons disabled fot 24 hours. :/

[2021-07-08 00:48] tellthemachines commented on #29036
Now that #30551 has been merged, we can close this one too!

[2021-07-08 00:48] #29036 closed

[2021-07-08 01:48] noisysocks commented on #33203
Let's go with https://github.com/WordPress/wordpress-develop/pull/1481. Closing this.

[2021-07-08 01:48] #33203 closed, assigned to nobody

[2021-07-08 01:53] noisysocks commented on #33264
Agree, this shouldn't have a background colour. The editor in the Customizer should not have theme styles.

We won't be able to fix this in time for 5.8 but I've added it to https://github.com/WordPress/gutenberg/issues/33242.

[2021-07-08 01:57] noisysocks commented on #33254
I was thinking about https://github.com/WordPress/gutenberg/issues/32952 yesterday and wondering if we could add the multi-entity save flow to the Widgets Screen and make the Widget Area block an `EntityProvider` (with `sidebar` as the entity) so that saving widgets uses the same infrastructure that the site editor uses.

This suggests to me that Widget Area *should* be a block, unless any React c

[2021-07-08 01:59] #26465 closed

[2021-07-08 02:01] noisysocks commented on #33242
Thanks @critterverse! I updated the list with your suggestions.

[2021-07-08 02:04] noisysocks commented on #31978
From @annezazu in [Slack](https://wordpress.slack.com/archives/C02RP4WU5/p1625705913305000):

[2021-07-08 02:04] #31978 closed, assigned to nobody

[2021-07-08 03:35] tellthemachines opened #33271 "Navigation screen: can't move links into a submenu with keyboard only"
## Description

It should be possible to move a Navigation link into or out of a submenu using only the keyboard. The "Move to" block option, which exists for regular Navigation links, isn't showing on this screen:

<img width="222" alt="Screen Shot 2021-07-09 at 11 03 35 am" src="https://user-images.githubusercontent.com/8096000/125008916-dd7bc080-e0a6-11eb-9a5e-7ea1fe59da23.png">

## Step-by-ste

[2021-07-08 03:38] tellthemachines opened #33272 "Navigation screen: blocks can't be dragged into submenus"
## Description

It's not possible to drag a link into a submenu, because submenus close unless their parent or one of their children is in focus, and dragging a link over the submenu parent doesn't cause the submenu to open.

It's also not possible to move links into or out of submenus with the keyboard, as reported in #33271.

## Step-by-step reproduction instructions

## Expected behaviour

## A

[2021-07-08 04:02] schutzsmith commented on #19103
Any update on this? I'm running into the same issue and would love to find a fix.

[2021-07-08 04:15] talldan commented on #30898
Seems like it can now be moved before the first block, but not after the last block.

[2021-07-08 04:43] tellthemachines commented on #18866
Now that #29036 has been resolved, would this issue be fixed if we allowed adding Paragraph blocks at the top level of the Navigation block? If so, that's easy to sort out 🙂

[2021-07-08 04:58] tellthemachines commented on #23745
This is a great point! Should it be presented to users as a block though (making the block selectable and all its controls available) or should we try for a passthrough block solution?

Also, in this scenario, if we wanted to add a header or footer area to the dropdown in addition the the Columns, we might look at using a Group block as a sibling of the Columns block. If we enabled horizontal layo

[2021-07-08 05:51] noisysocks commented on #31913
This isn't me 🙂 I'm not sure who authored ea1f88676fa2026d823593b7e3bb408b580ad1b1. Maybe @draganescu?

[2021-07-08 05:56] bobbingwide opened #33273 "Responsive navigation: menu does not appear when hamburger clicked on"
## Description
In Gutenberg 11.0.0 the ability to view the navigation menu when it's reduced to a hamburger menu has disappeared.

It worked in 10.9.1.

It appears that the front end script is not being loaded in 11.0.0
[code]

## Step-by-step reproduction instructions

1. Using TT1 blocks Edit site and change the Navigation menu to responsive
OR add a new Horizontal navigation menu and set Enable

[2021-07-08 06:31] talldan opened #33275 "Investigate unstable widgets test"
## Description
This widgets test seems to be failing in trunk:
https://github.com/WordPress/gutenberg/runs/3014495507

[code]

I couldn't see any artifacts for some reason.

[2021-07-08 07:45] draganescu commented on #31913
I am the author of all Gutenberg commits from github@andreidraganescu.info and vagabond@guest.guest.

[2021-07-08 07:54] youknowriad commented on #33241
Thanks for raising this, I think it's an important subject that deserves some improvements. Personally, I think we shouldn't stop sharing files, I think we should actually share more files. If you've been involved with backports to WordPress you know how much painful non-js painful are already and stopping the blocks from sharing their code will just make it worse.

That said, I think it's be good

[2021-07-08 07:55] draganescu commented on #33215
This sounds sensible to me.

[2021-07-08 07:58] getdave opened #33277 "Plugin releases - document process for minor releases"
## What problem does this address?

A few folks (including @noisysocks) have pointed out that the release docs don't have much info on releasing minor versions of the Gutenberg Plugin.

## What is your proposed solution?

Document the process in the release docs.

I think perhaps @ockham can give us the basics of the process and then we can use the existing knowledge to flesh out the docs.

[2021-07-08 08:02] Klemart3D commented on #21954
My temporary workaround is to delete following code in `wp-includes/css/dist/block-library/editor.min.css` file:
`:root .editor-styles-wrapper .has-vivid-green-cyan-background-color{background-color:#00d084}`

[2021-07-08 08:10] Chrico commented on #33215
Thats might be to restrictive. For example you might want to show a post set to "private" to users which are not logged in and redirect him/her to a login page/auth process to access lateron this post. There shouldn't be any restriction (also for password protected posts) to this. Navigation should always show non-draft/trashed posts.

[2021-07-08 08:11] jasmussen commented on #32539
This should be fixed by #32574.

[2021-07-08 08:11] #32539 closed, assigned to jasmussen

[2021-07-08 08:30] jasmussen commented on #32599
This PR itself is proof of your contribution. Even contributions that move things forward and explore, but ultimately don't get merged, count as valuable contributions.

That said, if you have another PR I can help shepard along, I'd be happy to.

[2021-07-08 08:32] vladanost commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-07-08 08:34] talldan commented on #33215
Good to understand the use case. It is still possible to use a custom link to a post in the navigation block, but granted it won't update if the URL to the post changes for any reason.

Some visibility options in the link block could be an option as well.

[2021-07-08 08:36] vladanost commented on #31913
I am the author of all Gutenberg commits from vagrant@homestead

[2021-07-08 08:51] jasmussen commented on #27593
On behalf of @tellthemachines I checked the box for "Multiple blocks available". 👏

[2021-07-08 08:55] bvlgn commented on #33148
The console.info messages are also there as soon as you add a new page (without adding content or interacting).
So, I guess they might be caused during parsing/rendering of the previews of the block patterns for the inserter?

This is very confusing for users (that happen to have the developer console open).  For developers it is also irritating, because they have to find their own console message

[2021-07-08 09:09] jasmussen opened #33278 "Navigation Block: Allow Paragraph, Site Logo, Site Title, Site Tagline and perhaps more blocks"
## What problem does this address?

The navigation block currently supports menu items (page, custom, tag, category, cpt) links, and it allows Social Links, Spacer, and Search blocks. These:

<img width="341" alt="Screenshot 2021-07-08 at 10 58 30" src="https://user-images.githubusercontent.com/1204802/124893942-7c3aeb00-dfdb-11eb-88b5-d28dee42cf65.png">

With these blocks, you can create a range

[2021-07-08 09:13] jasmussen commented on #30159
I just created #33278 to expand the range of blocks allowed in navigation.

[2021-07-08 09:14] jasmussen commented on #33278
Note that if we enable the Paragraph block inside here, we'd want it to still be inserted by clicking the plus appender first, as opposed to being a permanent input field as happens in other blocks that allow it. This might require changes to the appender component.

[2021-07-08 09:14] getdave opened #33279 "Build tooling performance tests unstable"
## Description
When running a release it is necessary to get the performance results for the Plugin to compare against previous versions.

However [the workflow for doing this is unreliable ~on CI~ on CI and local.](https://github.com/WordPress/gutenberg/actions/workflows/performance.yml?query=actor%3Agutenbergplugin)

<img width="1252" alt="Screen Shot 2021-07-08 at 09 32 40 (1)" src="https://use

[2021-07-08 09:14] jasmussen commented on #30006
I created #33278 to suggest an expansion of allowed blocks in the navigation block, which seems relevant to this conversation.

[2021-07-08 09:16] jasmussen commented on #24007
I'm seeing this at the moment:

<img width="685" alt="Screenshot 2021-07-08 at 11 15 27" src="https://user-images.githubusercontent.com/1204802/124896552-d8067380-dfdd-11eb-8aed-969af99cc1ed.png">

What, if anything, does that mean for the original ticket as reported?

[2021-07-08 09:18] jasmussen commented on #18866
Good thought @tellthemachines. If not the paragraph, then at least a range of other blocks would bring value, so I created #33278 to track that.

If we were to allow the Paragraph block, would that change the default behavior of the appender? I'd think we'd still want the black plus being the only way to add items, rather than having an input field with a slash command prompt.

[2021-07-08 09:30] ockham commented on #33277
👋  So basically, the process is no different from stable releases -- i.e. in the "Run workflow" control, you specify `stable`.

![image](https://user-images.githubusercontent.com/96308/124898424-78a96300-dfdf-11eb-9bb0-e3bb8a4bdb40.png)

The workflow is smart enough to do one of the following:
- If the previous release was an RC (e.g. `x.y.0-rc.1`), release the corresponding stable version (`x.y.0

[2021-07-08 09:33] jasmussen commented on #33223
The issue is real, but is not unique to the site title block. It's the same for template parts, reusable blocks, site tagline, and any other blocks that make changes global to the site itself. Getting this right is a key part of full site editing, and as outlined, we definitely have a ways to go.

There's some good thoughts about how to improve the multi entity saving flow, notably Jay's comments

[2021-07-08 09:35] ockham commented on #33277
Furthermore, it's possible to release a point release (`x.y.z`) for a stable version (`x.y.z`) as long as the next stable minor release (`x.(y+1).0`) hasn't been published, by selecting the corresponding branch (`release/x.y`) from the 'Use workflow from' dropdown.

E.g. let's say the latest stable version is `10.8.2`, and we've already published `10.9.0-rc.1`. We can release `10.8.3` by selecting

[2021-07-08 09:40] jasmussen commented on #23745
Ideally not, no, ideally you click a menu item, the megamenu opens, and ideally that's the columns block right there, without the ability to being deleted, or moved. It's a good question though, what would this look like?

I always thought of the Media & Text block that integrated an embed block directly on the left:

<img width="1131" alt="Screenshot 2021-07-08 at 11 36 37" src="https://user-imag

[2021-07-08 09:47] kevin940726 commented on #33275
I think there're no artifacts because the test completed, it just failed to match the snapshot. But I do expect it to generate some screenshots though. 🤔

[2021-07-08 09:57] NekoJonez commented on #33186
Oh my, sorry about the dupe... I looked over that one.

[2021-07-08 10:00] mtias commented on #33221
Just referencing that a similar treatment is currently in place for the Cover block. It needs to be refined and rolled out to the other blocks that support padding.

https://user-images.githubusercontent.com/548849/124903080-e192da00-dfe3-11eb-8c3e-a5f796b7f88b.mov

[2021-07-08 10:35] Sandstromer commented on #33278
I'd be interested to know how Site Logo and Site Title would be presented when the user toggles the 'Enable responsive menu' option.

Would it be expected that on mobile these blocks, and to a lesser extent the Site Tagline, should still be visible without first needing to open the navigation?

[2021-07-08 10:36] twilson90 opened #33282 "meta box content not refreshing after post is published / updated"
## Description
When I save a post, I need to update the contents of my meta box.
Placing a breakpoint in the add_meta_box $callback function shows that the html is re-evaluated, but it never get's applied to the page.

## Step-by-step reproduction instructions
Add a meta box, Click Publish or Update, observe the spinning loader icon in the meta box, but the content remains the same (until the user

[2021-07-08 10:37] ciampo commented on #33111
The list looks good! I'm just still having a hard time finding a clear way to define UI primitives vs UI blocks

[2021-07-08 10:40] carlomanf commented on #32531
The ugly link may be unavoidable for the scenario of secondary loops, but it would make sense to defer to the permalinks settings (e.g. `/page/2/`) for loops that have the "inherit" setting turned on.

[2021-07-08 10:42] priethor commented on #33278
Thanks for starting this, @jasmussen !

One recurring topic regarding Navigation is how far we should go in terms of blocks allowed in the Navigation block, as it could easily become a block that enables the whole header, overlapping with the header template part. I agree Site Logo/Title/Tagline blocks would make very useful additions to the Navigation block, but I see some risks in adding Paragra

[2021-07-08 10:49] pansamolot opened #33283 "Regression in Gutenberg 11 around pasting with spaces?"
## Description
Gutenberg 11.0.0 was auto-updated this morning to my blog network. And I again see problem reported a 1+ year ago about adding surrounding spaces when pasting a text.

I have a feeling that this is at least 3rd time _deja vu_ in Gutenberg. Are there any reported regression that is causing again something that was year ago reported as resolved?

## Step-by-step reproduction instructi

[2021-07-08 10:51] jasmussen commented on #33278
Ultimately, we'd want to enable virtually any navigation imaginable. In the case of the yellow _item item logo item item_ pattern, it's likely that pattern would not leverage the responsive menu toggle at all, but would stack vertically on mobile, a la [this](https://github.com/WordPress/gutenberg/issues/19909#issuecomment-833575572):

<img src="https://user-images.githubusercontent.com/1202812/11

[2021-07-08 11:07] oandregal commented on #33241
I'd like to share a use case that would benefit greatly from an improved mechanism to reuse PHP code across codebases: we have a piece of code to extract strings for translation from the `theme.json` file. It's the same in 3 different codebases: WordPress core, the Gutenberg plugin, and the wp-cli. Doing this copy over manually has proved very time-consuming to maintain and update.

[2021-07-08 11:23] javierarce commented on #33271
This is something that we should generalize for other blocks, like moving elements inside the column block, for example.

In the particular case of the Navigation block, when a user clicks a link, the caret is automatically inserted, which means we cannot use the arrow keys to move the link around. So editing the text of the links should be a two-step process: with one click, you select the link (

[2021-07-08 11:33] youknowriad commented on #33188
No issues for me in Firefox 89 either 🤔 Could this be specific to the developer early edition (so more of a Firefox bug) ?

[2021-07-08 11:41] pixolin commented on #33188
I **close** the issue as I **couldn't reproduce it either** after installing Firefox 89 and opening the browser without addons.

I apologize for any inconvenience my bug report may have created.

[2021-07-08 11:41] #33188 closed, assigned to nobody

[2021-07-08 11:44] ntsekouras commented on #33148
They are parsed, although not for the inserter preview. See: https://github.com/WordPress/gutenberg/pull/33153#issuecomment-873902422

[2021-07-08 12:22] kjellr opened #33288 "Post Excerpt Block: Add the ability to style "Read more" independently"
Today, the read more link generally inherits the style settings of the entire excerpt. Since it's a link, you can adjust the  color by using the experimental link color feature, and since it's inline text, you can use options like Bold, Italic, etc.

The alignment cannot be adjusted independently, and neither can the font size.

I expected the read more text to be a standard, separate child block

[2021-07-08 12:49] ellatrix commented on #31289
The prop has been remove because we now always keep the placeholder on focus.

[2021-07-08 12:50] kjellr commented on #33278
I have mixed feelings about this one — from a technical perspective, this would definitely help build many of the block patterns I've been struggling to get working in https://github.com/WordPress/gutenberg/pull/31610#issuecomment-875807281.

That said, it does feel like it morphs the "Navigation" block into more of a "Header" block. And I think that might get confusing considering we already have

[2021-07-08 12:51] #33231 closed, assigned to fluiddot

[2021-07-08 13:27] jasmussen commented on #33278
Matías outlined part of the reasons for a diverse navigation block [better than I can](https://github.com/WordPress/gutenberg/issues/31951#issuecomment-846067135), but in the end it boils down to the fact that you'll still be building your entire website with blocks, it's only a question of which blocks you use. So it seems only prudent to optimize for is what users might instinctively seek out.

[2021-07-08 13:51] oldrup opened #33290 "Split toolbars takes up more space than before where toolbars were combined."
## What problem does this address?
Doing all of my writing in Gutenberg, I appreciate all the screen real-estate I can get, while I still need the toolbars visible while editing. The new arrangement of the top toolbars divided in two (blue overlay), takes up more of the precious space (green), while wasting more space (red) than before...

![image](https://user-images.githubusercontent.com/1714120

[2021-07-08 13:55] sarayourfriend opened #33291 "components: Add baseline validation to NumberControl"
## What problem does this address?
It's currently possible to input invalid values into the `NumberControl`: https://github.com/WordPress/gutenberg/pull/33285

To prevent this, you currently have to manage that in the `onChange` you pass. But we should be able to introspect into the `min` and `max` values _at minimum_ to create a generic validation function which prevents invalid values from being

[2021-07-08 13:56] javierarce commented on #33271
In a previous comment that I embarrassedly deleted from this issue (sorry!), I pointed out that moving elements (in general) should be extended to other blocks… I had forgotten about the "Keyboard shortcuts" list 🙈 and just tried the most obvious combinations (like <kbd>shift</kbd> <kbd>→</kbd>, <kbd>⌘</kbd> <kbd>←</kbd>, <kbd>⌘</kbd> <kbd>shift</kbd> <kbd>↑</kbd>, etc.) unsuccessfully.

But it tu

[2021-07-08 14:16] jhnstn opened #33292 "[RNMobile] Inserter color scheme change not working while app is open on Android"
## Description

Toggling the dark theme on Android with the app open does not change the color of the inserter bottom sheet. The editor must be closed and reopened for the change to take effect.

This behavior is not reproducible on iOS

## Step-by-step reproduction instructions

## Expected behaviour

The inserter menu should have the same theme as the device.

## Actual behaviour

The inserter t

[2021-07-08 14:58] rodrigo-arias commented on #1890
Thanks for everyone's work here, it will be great to have this feature.

[2021-07-08 15:01] skorasaurus commented on #32185
Hi,
Could you share some more information to help us identify the bug?

what theme you're using
What browser
anything that appears in the console (accessible by pressing the following on your keyboard simultaneously: `control + shift + i` (click on the console button, after pressing those three keys)

[2021-07-08 15:28] haicu opened #33297 "Can we have revisions for reusable blocks in the reusable block edit screen"
## What problem does this address?

Now and than reusable blocks get lost and end up empty. Nor sure why but it happens now and than. It might be that the save button with multiple check boxes for reusable blocks is not used correctly. I don't even quite understand that fully myself yet. Anyhow it sometimes happens.

## What is your proposed solution?

It would be great if we could have revisions

[2021-07-08 15:53] getdave commented on #33279
@youknowriad @ockham @priethor I've been looking at this for a while now and not getting much further so I'll circle back tomorrow.

Be aware this is holding up posting the "What's Next In Gutenberg 11.0.0` post which I have waiting on Make blog.

Any advice on how we could work around this or fix the issue would be greatly appreciated.

[2021-07-08 15:53] oandregal commented on #31764
After some conversation at https://github.com/WordPress/gutenberg/pull/33280 I've prepared https://github.com/WordPress/gutenberg/pull/33295 to update the logic that handles the visibility of the duotone control.

[2021-07-08 16:00] franmastromarino opened #33300 "Site editor: custom theme vars for block level not enqueued"
## Description

The custom variables included in settings/blocks of theme.json are not included in the full site editor

## Step-by-step reproduction instructions

Include this in the `theme.json`

[code]

## Expected behaviour

The expected CSS output in the front-end and editors (post, site) is:

[code]

## WordPress information

- WordPress version: 4.7.2
- Gutenberg version: 11.0.0
- Are all p

[2021-07-08 16:01] annezazu commented on #31978
To close the loop: https://wordpress.org/support/article/block-based-widgets-editor/

[2021-07-08 16:08] mchowning commented on #33292
It looks like this is the same as [this issue](https://github.com/wordpress-mobile/gutenberg-mobile/issues/2108).

@hypest , do you have any thoughts on which issue we should leave open? I'm inclined to close the other issue since it doesn't have much context yet and this seems much more likely to be an issue at the Gutenberg level (it's certainly not ag the gb-mobile level).

[2021-07-08 16:22] ockham commented on #33279
I _think_ it might be okay to publish the post already, and add the perf test results later; but since this is public-facing and somewhat prominent, it'd be good to get confirmation from someone in the know (@youknowriad @priethor @mtias)

[2021-07-08 16:26] ockham commented on #33279
I'm not entirely sure about the duplicated PHP file theory, TBH. While the [`class-wp-block-template.php` file is present in current WordPress `master`](https://github.com/WordPress/WordPress/blob/master/wp-includes/class-wp-block-template.php), it [doesn't seem to have been there for 5.7](https://github.com/WordPress/WordPress/blob/5.7/wp-includes/class-wp-block-template.php). Indeed, I believe t

[2021-07-08 16:30] jack-lewin commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-07-08 16:30] jhnstn commented on #33292
I'm seeing  error messages  like these in the metro server:
[code]
The are all from the Inserter child components. They seem new since the last RN upgrade so not likely the cause of the issue but perhaps a good nudge to look into using the `useColorScheme` hook provided by RN.

[2021-07-08 16:49] carolynannewells commented on #32606
Hello! Carolyn from Editorial here. Is the Query Block just for searching within your posts, or can you ask anything? Some suggested copy:

You have not added any posts yet. But please ask your query.

No results were found for that query. Try adjusting your filter settings to search again.

[2021-07-08 16:50] ndiego opened #33302 "Creating a universal "Terms" or "Taxonomy Terms" block to replace the "Categories" block"
## What problem does this address?
In Gutenberg we have the Categories block. It is simple and effective at what it does. But what if a user wanted to display Tags or the terms of another taxonomy in a similar way? At present, they would need to build a custom block.

We also have the Post Terms block that supports variations. Out of the box, the block include variations for both Categories and Ta

[2021-07-08 17:50] oandregal opened #33304 "Color panel should be hidden when the block's color are disabled"
In working at https://github.com/WordPress/gutenberg/pull/33280/ and preparing https://github.com/WordPress/gutenberg/pull/33295 I've realized the color panel doesn't work as expected.

If a theme passes the following data  via `theme.json`:

[code]

the result is that the color panel is hidden.

However, let's look at a block such as the paragraph. It supports text, background, and link colors bu

[2021-07-08 17:51] desrosj opened #33305 "Screen jumps when clicking List View when Block Inserter is open"
## Description
When the List View is open, clicking the Block Inserter + icon opens the Block Inserter without collapsing the sidebar.

When the Block Inserter is open, clicking on List View collapses the sidebar before reopening it to display the List View resulting in a jump on the page.

## Step-by-step reproduction instructions
1. Edit a post.
2. Open List View.
3. Click the Block Inserter +
4

[2021-07-08 17:53] desrosj commented on #33305
Hmm, it appears that the screen recording did not catch the jump. But if you follow the steps demonstrated, you'll notice the issue in the browser.

[2021-07-08 17:57] mtias commented on #33094
Sorry, I was using "theme editor" to mean "site editor" in the above (the block editor that is able to edit all templates of a theme). The current built in file editor would still be there for any kind of theme, though it remains to be seen if it's de-emphasized in the block theme case given you still hace access to all files, provided it's not mixing php files with html templates.

[2021-07-08 17:59] tuiuiudev commented on #13584
Hi there @enriquesanchez,

I'm sorry to be rhetorical here, but it looks like this solution for load more posts and/or pagination would be great in the Gutenberg plugin.

It is weird to receive an answer like this: _Seeing that there are other options to accomplish this_

If that phrase made any sense, Gutenberg itself shouldn't have been created in the first place, as there are other options for

[2021-07-08 18:07] kjellr opened #33306 "Post Excerpt Block: Max words control is not available when an excerpt is present"
The post excerpt block includes a slider to control the length of the excerpt:

<img width="279" alt="Screen Shot 2021-07-08 at 2 00 39 PM" src="https://user-images.githubusercontent.com/1202812/124969587-e1e7a100-dff4-11eb-9d2f-74f8f078a204.png">

This works infrequently in my testing. Part of the reason is that the control seems to totally disappear sometimes. In my testing, it shows up when the

[2021-07-08 18:10] jaswrks commented on #31913
I am the author of all Gutenberg commits from jas@src.works.

[2021-07-08 18:18] desrosj opened #33307 "Pattern previews do not load reliably"
## Description
I've noticed in my testing of 5.8 that pattern previews are not loading reliably. Sometimes, they do not load at all.

## Step-by-step reproduction instructions
1. Open the Block Inserter.
2. Click patterns.
3. Observe patterns not loading correctly.

Sometimes, they do load, but fail after returning to blocks, and clicking patterns again. Other times you need to refresh the page af

[2021-07-08 18:24] joyously commented on #13584
I don't normally agree with the team's decisions, but I do with this one.
The Latest Posts block should show only the Latest. This comes from the Recent Posts widget.
There is another block that allows full access to the query, which doesn't have a widget counterpart. Its counterpart is using a plugin or the main query of WP itself.
There is one topic that is very common on the forums, and that is

[2021-07-08 18:27] priethor commented on #33279
I'd also recommend posting without the performance audit, as late-Thursday/early-Friday seems to be when publications echo new Gutenberg releases, and it's nice to have the official post before then (I learned from experience 🙃 )

[2021-07-08 18:28] desrosj commented on #33307
Also just noticed that this happens when choosing a layout when inserting a Query Loop block.

![Screen Shot 2021-07-08 at 14 28 01](https://user-images.githubusercontent.com/359867/124972792-c54d6800-dff8-11eb-94bb-db4ce29d116c.png)

[2021-07-08 18:33] rbrishabh commented on #33265
I can help!

[2021-07-08 19:02] skorasaurus commented on #33307
Hi,

Thanks for reporting;
This appears to be a duplicate of https://github.com/WordPress/gutenberg/issues/29436  . Feel free to [add your reaction](https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/about-conversations-on-github#reacting-to-ideas-in-comments) and follow its progress in the issue. Please reopen and comment if this is different than that issue.

[2021-07-08 19:02] #33307 closed, assigned to nobody

[2021-07-08 19:11] skorasaurus commented on #19289
This issue is no longer reproduce-able in the newest version of Gutenberg. If you are still encountering this; please reopen this issue.

[2021-07-08 19:11] #19289 closed

[2021-07-08 19:18] annezazu opened #33309 "Post Excerpt Block: Remove ability to load a post within the template editor to prevent inception/crashing"
## Description

If you click "continue reading" in the Post Excerpt Block within the Query Loop block, the post itself is loaded in the editor. This eventually causes the editor to crash. This issue is similar to this previously reported bug: https://github.com/WordPress/gutenberg/issues/30647  and might be related to this: https://github.com/WordPress/gutenberg/issues/33269

## Step-by-step repro

[2021-07-08 19:20] annezazu commented on #33306
I can also replicate this with 5.8RC2 and came here to report the same.

[2021-07-08 19:23] annezazu commented on #30398
Noting that this happens with WordPress 5.8RC2 in the template editor:

https://user-images.githubusercontent.com/26996883/124978871-8e268900-dfef-11eb-9544-7d1747d5fa07.mov

[2021-07-08 19:25] MadtownLems commented on #32353
I love this idea. I would definitely disable direct editing of Reusable Blocks in the current Gutenberg implementation.

It's super unclear to people that they are impacting content beyond the current post/page, and this solves that.

[2021-07-08 19:50] eduard-co commented on #30803
is this still on track for inclusion in rc2?

[2021-07-08 19:54] youknowriad commented on #30803
RC2 is already released but it will be included in RC3

[2021-07-08 20:20] glendaviesnz commented on #31913
I am the author of all Gutenberg commits from glen.davies@a8c.com

[2021-07-08 20:27] JessixBlade commented on #32603
Still waiting for updates on this for a user. Please advise once the issue has been resolved. Thank you!

[2021-07-08 21:05] pansamolot opened #33312 "List block: pasting a single (Markdown) item from a list converts item to a paragraph"
## Description
When you paste an ordered list from i.e. Notepad, Gutenberg handles this gracefully (and changes Paragraph block into List block automatically) only, if you are pasting a list having more than one item.

If you're pasting just a single line, with any number in the beginning then block remains as Paragraph (maybe by design), but the number is strip-off (certainly a bug).

## Step-by-

[2021-07-08 21:20] paaljoachim commented on #32461
I want to add @pwkip Jules comment from:
**Add Reusable block save button, snackbar on save and Welcome Guide** PR
(Which is ready for a last test and a code review before it is merged.)
https://github.com/WordPress/gutenberg/pull/32464#issuecomment-876315656

It is an intriguing idea. Something to look more into later after the above PR has been merged.

[2021-07-08 21:37] bobbingwide commented on #33273
The problem occurs in my Windows development machine.
It doesn't occur on my Linux hosted servers where the JavaScript seems to be different.

[code]

This is defined in `block.json`

[code]

[2021-07-08 22:04] jorgefilipecosta commented on #27849
https://github.com/WordPress/gutenberg/pull/31330 and https://github.com/WordPress/gutenberg/pull/31678 are already merged? Can we close this issue or is there anything pending?

[2021-07-09 00:40] intronic commented on #31913
I am the author of the commits
6f4019c, 4f6ca49, 1e3fdf8
mike.pheasant@ephox.com

[2021-07-09 01:12] tellthemachines commented on #33271
No worries, just realised I messed up the issue description too 😂

Those shortcuts only move blocks between their current siblings, not between nesting levels. But to move between nesting levels, we have Options > Move to which was implemented in #22453:

<img width="362" alt="Screen Shot 2021-07-09 at 11 02 58 am" src="https://user-images.githubusercontent.com/8096000/125008283-888b7a80-e0a5-11eb

[2021-07-09 03:22] tellthemachines commented on #33278
Semantically it makes sense to have Site Title and Logo be part of Navigation, because those elements usually have a navigation role in websites, the title or logo linking to the homepage more often than not. It makes as much sense to have those blocks be part of the Navigation as Search, and if that means that a Header template part ends up including only one (Navigation) block, that's not too mu

[2021-07-09 03:57] tellthemachines commented on #33278
Also, I just made ##33316 to give us something to play around with while we think this through 😄

[2021-07-09 04:22] tellthemachines commented on #23778
Closing as this has been addressed in #29133.

[2021-07-09 04:38] tellthemachines commented on #18866
We'd have to look into it, though I'm starting to think using Paragraph might not be a good idea, for multiple reasons outlined [here](https://github.com/WordPress/gutenberg/issues/33278#issuecomment-876884199).

[2021-07-09 05:09] chthonic-ds opened #33318 "Layout (padding): invalid CSS when "Link Sides" inactive and fields left empty"
## Description

The Layout panel includes support for user-defined padding. Users can choose to enter a single value for all sides of a block or unique values per side. This choice is offered via a `Link Sides` toggle button.

When  `Link Sides` is inactive and values are not entered for one or more sides, a property without a value is sometimes included in the inline style. When this happens the

[2021-07-09 05:43] chthonic-ds opened #33319 "Layout (padding): field repopulates when attempting to delete unique side value"
## Description

The Layout panel includes support for user-defined padding. Toggling the `Link Sides` button allows unique values to be entered for each side of a block. It's not possible to delete a value once entered.

## Step-by-step reproduction instructions

1. Add a Group block.
2. Block settings > Layout > Spacing > Padding: toggle the `Link Sides` toggle.
3. Enter a value in one or more of

[2021-07-09 06:10] jasmussen commented on #27849
Let's close this one, good call. It's so easy to reopen if it was in error 👍 👍

[2021-07-09 06:10] #27849 closed

[2021-07-09 06:44] talldan commented on #25067
Managed to get around to this now that widgets work has slowed down. #33320 is the PR.

[2021-07-09 07:05] bobbingwide commented on #33273
It's a problem with Windows directory separators in `gutenberg_block_type_metadata_view_script()`
For the core/navigation block $metadata['file'] is
`C:\apache\htdocs\wp55\wp-content\plugins\gutenberg\build\block-library\blocks/navigation/block.json"`

` gutenberg_dir_path()` returns `C:\apache\htdocs\wp55\wp-content\plugins\gutenberg/`

`strpos( $metadata['file'], gutenberg_dir_path() )` is false

[2021-07-09 07:56] maitearmengaud commented on #33047
Unfortunately, I can't... But I saw that it's working on my local machine, but not on my pre-production webserver. So maybe it's not about Gutenberg....

[2021-07-09 08:11] walbo opened #33321 "Site title renders escaped characters in multiple locations"
## Description
Sites with a site title that contains characters that are beeing escaped shows the encoded enties multiple locations in the backend.

- `readOnlyTitle` in the `Site Title` block.
- In the post publish panel
- In the site editor navigation sidebar.

## Step-by-step reproduction instructions
1. Update the site title to ex. `Compony Name & "Son"`
2. Create a new post and click publish

[2021-07-09 08:16] getdave commented on #33279
@priethor Just a heads up that I'll be AFK for a while now so it might need someone else to pick up on this and update [the "Whats new" post](https://make.wordpress.org/core/2021/07/09/whats-new-in-gutenberg-11-0-0-9-july/) if we get these tests working again.

[2021-07-09 09:36] EdwardBock opened #33324 "Author autosuggest needs load more feature"
## What problem does this address?

We have some sites that have several hundreds of authors. They do not write their articles themselves but some admin users do copy their texts into the system and publish the posts for them. They click into the author input and try to scroll to the authors name but sadly only a few are available. I tried to convince them to use the autosuggest, but they do not f

[2021-07-09 09:43] priethor commented on #33278
From the Navigation Link, right now only the URL would be relevant for a sitemap.xml (until Phase 4 when supporting multilanguage natively). If we wanted to create a Sitemap block, that would probably be a fully expanded instance of a Navigation block or it would use the text and link from Navigation Links.

In any case, #30674 seeks to explore how to extract the semantic content from Navigation b

[2021-07-09 09:48] jackiepro commented on #32185
After the upgrade, it has been resolved, thank you

[2021-07-09 09:49] #32185 closed, assigned to nobody

[2021-07-09 10:05] talldan commented on #31356
Puppeteer now seems to support drag and drop (v10.1.0):
https://github.com/puppeteer/puppeteer/pull/7150

However, I can't get it to work 😄

edit: got it working. The bit I was missing is that you have to do `await page.setDragInterception( true );` before any drag and drop.

[2021-07-09 10:31] getdave commented on #33096
@JustinyAhin Thanks for your suggestion above. I think we can solve this relatively easily by removing some of the previous CSS rules that are no longer needed in this context thanks to the new rules in the base `<LinkControl>` component itself.

Let me know if https://github.com/WordPress/gutenberg/pull/33326 works for you

You can test it using the following workflow https://make.wordpress.org/d

[2021-07-09 10:49] furai commented on #12530
I know this is old issue but I'm experiencing something similar right now with Timber::compile. For whatever reason my shortcodes add closing `</p>` tag between lines. We have classic editor that disables block editor.

If I use spaceless filter on the file -  no closing p tags appear in the code which is bizarre. Is this in any way connected to the original issue?

[2021-07-09 11:03] youknowriad commented on #33114
@Mamaduka can we try that in a PR. What are the implications of moving the snack list out?

[2021-07-09 11:31] hellofromtonya commented on #33279
The duplicated PHP classes exist in Core 5.8+, but not before 5.8. In 5.8, a [version check is added to deactivate the Gutenberg plugin when its version is <= 10.7](https://github.com/WordPress/wordpress-develop/blame/2a02de7d53422f5342135ebed9c3678dca2f5611/src/wp-admin/includes/update-core.php#L1674) (i.e. to avoid a fatal error).

As the duplicated classes do not exist in 5.7, I agree with @ock

[2021-07-09 11:47] mcsf commented on #33004
Per a private exchange on Slack, it seems likely that this issue affects keyboard layouts in which backticks are produced using [key composition](https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/isComposing).

For instance, on my Portuguese (pt-pt) keyboard layout, a backtick is produced using the chord <kbd>shift + ´</kbd>, followed by <kbd>space</kbd>. This is because the initial c

[2021-07-09 12:24] talldan commented on #23778
@tellthemachines The idea here is to expose it automatically when it's specified on innerBlocks, not just for the navigation block.

[2021-07-09 13:11] draganescu commented on #11339
I tested this with WordPress 5.8 RC2 and Gutenberg 11 and the behavior looks normal since the  focus remains on the button for "options". Since the buttons appear back on focusing the _editable text_ it is expected. Otherwise, consider the bold button still available, what would it act on? Closing for now.

[2021-07-09 13:11] #11339 closed

[2021-07-09 14:03] draganescu commented on #10050
I wonder with the introduction of patterns what is the use of this feature?
cc @shaunandrews

[2021-07-09 14:20] skorasaurus commented on #33324
Hi,

Thanks for reporting;
This has been discussed and/or requested in https://github.com/WordPress/gutenberg/issues/15994. Feel free to [add your reaction](https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/about-conversations-on-github#reacting-to-ideas-in-comments) and follow its progress in the issue. Please reopen if you believe that issue does not cover what you're

[2021-07-09 14:20] #33324 closed, assigned to nobody

[2021-07-09 14:47] mikachan opened #33332 "Right alignment not always applied to nested blocks in editor"
## Description

When adding a nested block and using the editor to align to the right, the alignment is not always applied in the editor. It works correctly on the front end (with `float: right` being applied).

This has been spotted when using the [Layout Grid](https://github.com/Automattic/block-experiments/tree/master/blocks/layout-grid) block with a nested image block and then attempting to al

[2021-07-09 14:48] vaish567 commented on #33318
Howdy! @chthonic-ds Could you assign me to complete this bug! I would like to contribute :)

[2021-07-09 14:55] jasmussen commented on #33332
CC: @youknowriad — probably not urgent but something to be aware of with regards to floats inside 3rd party nested block contexts.

[2021-07-09 14:59] mcsf commented on #33004
I just tested this myself: 10.6.2 is the last good version, and 10.7.0 the first bad one.

Edit: this means that it's a regression in the current Release Candidate for WordPress 5.8.

[2021-07-09 15:01] youknowriad commented on #33332
That doesn't sound like a great solution because alignments are dependent on their parent, for instance in a "columns" block (flex container), floats are not allowed.

Do we know why the "style" is not added for this particular block?

[2021-07-09 15:37] melchoyce commented on #33268
Duplicate of #26899.

[2021-07-09 15:37] #33268 closed, assigned to nobody

[2021-07-09 15:42] mcsf commented on #33004
A Git bisection revealed https://github.com/WordPress/gutenberg/pull/31752 as the origin.

[2021-07-09 15:51] ndiego commented on #33212
I was literally just about to report this, thanks @leeshadle.

We need a safe/official way to enqueue styles that are not necessarily "part" or a block or theme. This use-case will only increase as more and more developers build for the Full Site Editor.

[2021-07-09 16:01] draganescu commented on #24687
Hey! It's WordPress 5.8 RC2! Can you believe this? WIdgets are going to live nicely along with blocks thanks to the feature this issue tracked for so long!

Thanks everyone for the great work. 🎉 🙏🏻

Closing this as it has run its course. Let's track #33242 instead and make things even better!

[2021-07-09 16:01] #24687 closed

[2021-07-09 16:13] fluiddot commented on #31932
This issue was fixed with the changes included in [this PR](https://github.com/wordpress-mobile/gutenberg-mobile/pull/3555).

[2021-07-09 16:13] #31932 closed, assigned to fluiddot

[2021-07-09 16:16] eduardozulian commented on #33004
@mcsf you got it! I'm currently using the US English Layout as shown in the following image:

<img src="https://cdn.shopify.com/s/files/1/0810/3669/files/us-english-mac-keyboard-layout-keyshorts_1024x1024.png?79"/>

And I don't think it's needed anymore but yeah, I can confirm that the latest good version was indeed 10.6.2.

Thanks for checking this further, Miguel, and also thank you both @tallda

[2021-07-09 16:18] fluiddot commented on #31051
Most of the strings on the columns block are now translated but we still have the `Column X` string untranslated.

<img src=https://user-images.githubusercontent.com/14905380/125108120-e2aa3100-e0e1-11eb-9c0e-098fa1695b15.png width=320>

[2021-07-09 16:24] bobbingwide commented on #33273
### Possible fix

Change `gutenberg_dir_path()` to `call wp_normalize_path()`.
For this scenario it would return `C:/apache/htdocs/wp55/wp-content/plugins/gutenberg/`

Also wrap `$metdata['file']` and `$view_script_path` with `wp_normalize_path()`
for the `strpos()` and `str_replace()` calls involving `gutenberg_dir_path()`.

[code]

This should resolve the problem with the hamburger menu not appe

[2021-07-09 16:55] TutorFx commented on #18819
Dude, u just saved my life!

[2021-07-09 17:36] kraftner commented on #12299
Since I just came across this issue again -  I've blogged about this some weeks ago:

https://kraftner.com/en/blog/understanding-wordpress-block-css/
https://kraftner.com/en/blog/building-your-own-wordpress-core-block-css/

Also something new has happened recently that might offer another angle to approach this - [loading styles for blocks separately](https://make.wordpress.org/core/2021/07/01/blo

[2021-07-09 17:40] ockham commented on #33279
Per discussion with @youknowriad in Slack, I've applied the following patch to disable the Site Editor tests (for which we don't publish any performance numbers in our release announcement posts anyway):

[code]

I've then locally run

[code]

(adapted from [this line](https://github.com/WordPress/gutenberg/blob/0d34c1c46a49e585e2b7bea1df9821802c4708a8/.github/workflows/performance.yml#L51)).

Thi

[2021-07-09 17:45] ockham commented on #33279
As for the general instability of performance tests, I have a [PR](https://github.com/WordPress/gutenberg/pull/32292) that seeks to move much of their logic into the GHA workflow in order to cut back a bit on redundant overhead. Maybe this could help with the instability also 🤞  Perhaps someone can pick up work on that while I'm away 🙂

[2021-07-09 17:55] priethor commented on #33279
Done! 🎉

[2021-07-09 18:57] paaljoachim commented on #17596
Retesting using Gutenberg plugin version 11.0.0
Twenty Twenty One (with a white background)
WP 5.8 RC-2

This is what I see:

https://user-images.githubusercontent.com/5323259/125124246-15f7ba80-e0f8-11eb-9baf-ae60de72aaa8.mp4

The radius begins at blank as in no value. To me it looks like this issue has been solved.

I will go ahead and close the issue. We can of course reopen if I am mistaken.

[2021-07-09 18:57] #17596 closed

[2021-07-09 18:58] leeshadle opened #33333 "inline styles ( wp_add_inline_style ) not working in iframed Full Site Editor"
## Description

Inline styles ( wp_add_inline_style / $wp_styles->add_inline_style ) aren't working in the iframed Full Site Editor.

@ellatrix is working on a fix for this but I wanted to create this issue in case anyone else ran into the same bug.

## Step-by-step reproduction instructions

1. Enqueue stylesheet for a plugin in the Full Site Editor and try adding inline styles using wp_add_inlin

[2021-07-09 19:08] coreyworrell opened #33334 "Allow `FormTokenField` suggestions to use keywords"
## What problem does this address?

Right now the autocomplete `FormTokenField` only returns values based on the passed array of string suggestions. It would be great to be able to also return values based on an array of keywords, or other object parameters that are passed.

## What is your proposed solution?

Possible API. Either just use `keywords`, or have a property to set which object keys sh

[2021-07-09 19:32] htmgarcia opened #33335 "Block moves to "Inactive widgets" after saving"
## Description
After adding a block to widgets Footer sidebar and saving changes, the widget moves to Inactive widgets area.
This happens randomly. Can be tricky to reproduce.

## Step-by-step reproduction instructions
- Be sure to use Twenty Twenty-One theme
- Go to Appearance > Widgets
- Add a block to Footer sidebar. In my last test "Gallery" block.
- Save changes
- Refresh

## Expected behavio

[2021-07-09 20:46] chthonic-ds commented on #33318
@vaish567 sorry, I have nothing to do with this project.

[2021-07-09 20:58] annezazu opened #33336 "Widgets in Customizer: Theme fonts loaded into Customizer"
## Description

Using WordPress 5.8 RC 2 with the https://wordpress.org/themes/twenty8teen/  theme shows the Customizer experience in the theme's fonts. For more context, I chatted with the theme author who shared the following:

Flagging this as a bug to be explored.

## Step-by-step reproduction instructions

1.  Install and activate https://wordpress.org/themes/twenty8teen/
2. Head to Appearanc

[2021-07-09 21:01] skorasaurus commented on #32309
Sharing my support for this concept in general although I'm personally agnostic of the means to accomplish this at this point.

A few different plugins like [show-current-template](https://wordpress.org/plugins/show-current-template/) and [what-the-file](https://wordpress.org/plugins/what-the-file/) displays which template is being used in the wp-admin bar for the currently displayed page in php-b

[2021-07-09 21:40] sunnyssr commented on #30041
![image](https://user-images.githubusercontent.com/41870839/125138365-26c22380-e12c-11eb-9f86-fbabe9301d43.png)
@joedolson
This is what was proposed in original issue. Can you take a look at this. I would be glad to send a pull request for this one or whatever changes you think would be appropriate here.

[2021-07-09 21:51] gwwar commented on #29466
Should focus should be taken away from the Persistent List View for the primary action?

It's more natural to me if <kbd>space</kbd> selects the block and scrolls it into view, but retains focus in the persistent list view. Another <kbd>space</kbd> should then unselect the block group. This would keep it as a nice toggle action.

We'd probably need to add an explicit command to jump to the selecte

[2021-07-09 21:51] joedolson commented on #30041
So I'm commenting on the right thing, the change is transitioning the add block button that appears between blocks to be the width of the current block container, and the full width of the button is clickable. Is that correct?

I would certainly be fine with that, yes. I suspect that there will be other design comments (e.g., using the button primary color within a block is outside the normal Gute

[2021-07-09 23:16] franmastromarino commented on #33300
+1

[2021-07-10 06:53] gziolo commented on #26313
I plan to work on further iterations for this mechanism.

Prior work can be found in https://github.com/WordPress/gutenberg/pull/18440 PR. There is `__experimentalCaptureToolbars` experimental prop used with the Navigation block.

[2021-07-10 10:15] Waseemghafoor474 commented on #20345
I think patterns would be helpful. Good work.
Also please tell us about WordPress image, when I put image ,wordpress show very large image on my site https://stainely.com/
i don't use any plugin. kindly share how to resolve this issue .

[2021-07-10 18:49] ellatrix commented on #21193
Should be fixed by #33342. We're planning for all previews to be iframed in the WP 5.9 release. The only thing that will remain without an iframe is the post editor without (or "Desktop") preview. This is to give plugin and theme authors time to check their blocks and update them if needed. This particular issue should be resolved though, because it's about the Tablet and Mobile previews.

[2021-07-10 23:37] justintadlock opened #33343 ""HTML Element" option for Columns and Columns blocks"
Both the Columns and its inner Column block will often be used for structural sections on the page.  Users/Themers should be able to set the HTML element used.

Currently, both blocks are wrapped in a `<div>`.  However, `<main>`, `<section>`, `<aside>`, and `<article>` will make sense in various use cases.

`<header>` and `<footer>` could potentially make sense for the outer Columns block, but I'd

[2021-07-11 01:46] azaozz commented on #33241
Yeah, it is in some cases. The pain mostly comes from the differences in the PHP code between core and the plugin.

Hmm, in theory packages should work, but there will be only one "consumer": WP core. As far as I see they won't be reusable in the plugin (in most cases), and some (many?) will be compatible only with a specific WP version. Wouldn't it be cleaner and easier to just commit them to cor

[2021-07-11 01:54] azaozz commented on #33241
There are some other, more "drastic" options:

- Merge the codebases. That would be ideal. Gutenberg is part of core, should be developed together with core. However seems that would be the end of the Gutenberg plugin. It will likely be even harder to extract new code from core trunk and release it as a plugin for previous WP versions.
- Do not "merge" the Gutenberg code to core. Keep it organized

[2021-07-11 03:09] WXZhao7 commented on #22861
I had the same problem in WP 5.7.2.
It seems that both `define('ALLOW_UNFILTERED_UPLOADS', true); ` and plugin work in only in media libraries, but it do not work in the file block of gutenberg.

[2021-07-11 03:51] WXZhao7 commented on #23510
I have the **similar** problem.
I can upload all formats in the media library by adding `define( 'ALLOW_UNFILTERED_UPLOADS', true);` in `wp-config`.
I can upload some archived types such as `.zip/.tar` in **file block**, but I can't upload tarball file as `.tgz`.
I install 'File Upload Types by WPForms' to deal with other formats, but it does not work in **file block**.

WP 5.7.2
* wp-config
![ima

[2021-07-11 10:48] kraftner opened #33344 "Update and de-duplicate Caniuse data routinely, at least for releases"
## What problem does this address?

Currently Caniuse Data is apparently not updated and de-duplicated routinely which can lead to multiple different versions of the data being used across different dependencies:

See for example the current version for WordPress 5.7:

https://github.com/WordPress/gutenberg/blob/wp/5.7/package-lock.json
https://github.com/WordPress/gutenberg/blob/bc1c2608b705f479f

[2021-07-11 10:52] kraftner commented on #33343
Related issues https://github.com/WordPress/gutenberg/issues/15000 https://github.com/WordPress/gutenberg/issues/27092

[2021-07-11 11:16] bobbingwide opened #33345 "Template part - inconsistent / unwanted removal of `<p>` tag by `shortcode_unautop()`"
## Description
While attempting to build a `metadates` block template part to display the Published and Last updated dates in a grid layout
I noticed some styling problems and determined that in some instances the `shortcode_unautop()` call in `template-part.php` was responsible.  Its continued use in Gutenberg was questioned in #26809.

I wrote a post to demonstrate the problem. The fix is simple

[2021-07-11 14:11] ellatrix opened #33346 "Iframed Content Roadmap"
**Goal**: to iframe all editor instances with front-end content.

It seems best to continue to **gradually** iframe the remaining content. For 5.9, I propose that we iframe the device previews and the block and pattern previews, and iframe the post editor at a later point. This is to give people time to test their blocks, address issues, contact us in case of problems, yet to slightly push them to

[2021-07-11 15:32] lordmatt commented on #32648
I've reactivated version 11.0.0 - the errored widgets seem to be custom HTML widgets.

My hosting is with 20i who have been excellent at helping me solve errors in the past. Both before and after viewing the wigets with the plugin activated, I got this error log: (none).

![Screenshot from 2021-07-11 16-12-43](https://user-images.githubusercontent.com/1843653/125200440-19f41b80-e263-11eb-937e-3e15

[2021-07-11 15:39] lordmatt commented on #32648
If I manually navigate to
`https://[...].com/wp-json/wp/v2/types/null?context=edit&_locale=user`
I see
`{"code":"rest_type_invalid","message":"Invalid post type.","data":{"status":404}}`
when I do the same for
`https://matrixdreams.com/wp-admin/widgets.php?legacy-widget-preview%5BidBase%5D=custom_html&legacy-widget-preview%5Bins[SNIP]`
I see a forbidden error.

Were I to guess, the null type might

[2021-07-11 17:22] bobbingwide commented on #33345
https://user-images.githubusercontent.com/2474435/125204327-97745780-e274-11eb-9cd9-771526de5c49.mp4

[2021-07-11 17:39] pansamolot opened #33347 "Pasting text containing brackets with Ctrl+Shift+V changes text into an incorrect link / URL instead of pasting "a is""
## Description
When you paste a text using <kbd>Ctrl</kbd>+<kbd>Shift</kbd>+<kbd>V</kbd> then it is expected that it will be pasted _unconditionally_ as a plain-text. Yet, when you paste this way a piece of text that contains a lot of square and regular brackets, i.e.:

    [N1--13]([N-5,4]-[N-8,2]-[N-11,2])

then you always gets this as an incorrect (not working) URL. There's no way to paste such

[2021-07-11 18:37] skorasaurus commented on #33297
This is coming to WordPress 5.8 - https://core.trac.wordpress.org/ticket/53072 :)

ref https://github.com/WordPress/gutenberg/issues/19149

[2021-07-11 18:37] #33297 closed, assigned to nobody

[2021-07-11 18:51] EdwardBock commented on #15994
+1 from me. I think it is totally fine to initially load only some authors or categories but please load more if we scroll to the end of the list.

[2021-07-11 20:00] EdwardBock commented on #6381
+1 for this issue. I did bring some of our servers to its knees because of too many SSR components. I did implement a custom queue solution for this which is pretty much what you suggested here and it did bring a huge improve of performance. https://github.com/palasthotel/blockX/blob/master/src/gutenberg/components/ServerSideRenderQueue.js

I would really like to see a similar implementation for t

[2021-07-11 21:38] paaljoachim opened #33348 "Receive a prompt/notification when uploading multiple images - asking if images are to be added to individual Image Blocks or a Gallery Block."
A followup to this stalled PR:
**Upload multiple files by dropping on image placeholder**
https://github.com/WordPress/gutenberg/pull/21807

## What is your proposed solution?

Uploading multiple images with using drag and drop method one should receive a prompt asking if the images should be uploaded as individual Image Blocks or as a Gallery Block.

@glendaviesnz Here is an issue we can add to t

[2021-07-11 23:29] TheRadicalDreamer opened #33349 "Image alignment is left by default but it displays center as default"
## Description
If you add a new image from library, by default it will show that the alignment is centered, BUT the real alignment is left.

## Step-by-step reproduction instructions

## Expected behaviour

It should be left alignment as default
## Actual behaviour

It shows centered alignment
## Screenshots or screen recording (optional)
![image](https://user-images.githubusercontent.com/11801254

[2021-07-12 00:23] pagelab commented on #14121
This would be easily solved by improving the Block Variations API. Adding a `customClass` attribute, or something similar, to child elements will allow developers to define custom classes for users to choose from in the UI.

[2021-07-12 00:34] momotofu commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-07-12 00:36] tellthemachines commented on #33278
Hmm, if the sitemap only stores links, then a Navigation Heading wouldn't need to be included in it, right? Its use is more as a human-friendly helper to organise menu content.

I'm also wondering whether the Site Title and Site Logo blocks should be included within the list markup in the front end output, given that they are also links. Semantically they are the same as the Home Link, which is in

[2021-07-12 02:54] ddryo opened #33350 "I want to limit the blocks available in the widget area."
I would like to limit the blocks available in the widget area to only the following two

- Group
- Legacy Widget

However, **I want to freely place blocks inside the Group block**.

What should I do in this case?

If there is currently no method to make this possible, I would like you to implement a way to make it happen.
Because the specification of the new widget feature will break the tradition

[2021-07-12 03:43] ck-lee commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-07-12 05:54] ntsekouras commented on #32531
It actually does that. If a `Query Loop` inherits from the global query and pretty links are enabled, the pagination produces links like this: `http://localhost:8888/page/5/?query-10-page=3`.

`page/5/` is from the `inherit` query and `query-10-page=3` is for a custom query.

[2021-07-12 06:06] talldan commented on #32952
@paaljoachim mentioned that Reusable Blocks could potentially be re-introduced when https://github.com/WordPress/gutenberg/pull/32464 is merged, as that introduces a separate 'save' button.

That PR is currently targeted for 5.8.1.

[2021-07-12 07:11] paaljoachim commented on #14121
Perhaps this issue would be something for Marcus @mkaz to take a closer look at....

[2021-07-12 07:24] paaljoachim commented on #23770
@aaronrobertshaw is currently working on a related feature.

[2021-07-12 07:29] paaljoachim commented on #23721
@ajlende Alex I believe this would be an issue for you to take a closer look at.

[2021-07-12 07:29] paaljoachim commented on #23721
Btw I tried cropping a few days ago the bottom area of an image. I could not figure out how to do so. It would be great to improve this aspect of the image tools.

[2021-07-12 07:32] gziolo commented on #33212
@ellatrix, is it something on your radar? How does it fit into the roadmap published recently: https://github.com/WordPress/gutenberg/issues/33346?

[2021-07-12 07:34] paaljoachim commented on #20972
A followup reminder @richtabor
I will also add Marcus @mkaz here as he might also have some feedback.

[2021-07-12 07:37] paaljoachim commented on #33318
Hi @vaish567

I went ahead and assigned this issue to you.
Thanks for wanting to work on it!

I will also let @aaronrobertshaw  know about this issue.

[2021-07-12 07:39] paaljoachim commented on #33319
@aaronrobertshaw here is another issue I believe you would like to know about.

[2021-07-12 07:48] ellatrix commented on #33212
Ideally we should be using `add_editor_style`. It is on the roadmap in terms of making this API more flexible to allow WP dependencies. Would that solve this use case?

[2021-07-12 07:49] paaljoachim commented on #31731
I am pinging @aaronrobertshaw about this issue. As he is currently working on associated padding/margin dimension controls.

[2021-07-12 08:06] aaronrobertshaw commented on #23770
There is some related work currently under way that relates to this although the scope is a little narrower.

The work being done can be found at:

- https://github.com/WordPress/gutenberg/pull/32392
- https://github.com/WordPress/gutenberg/pull/32499

The proposed height block support was intended as a proof of concept from which we could expand upon adding features for min/max height etc. Until

[2021-07-12 08:11] paaljoachim commented on #30753
Hi @deborah86

I noticed you raised two concerns.
Color options for a single column

I just tested using WP 5.8 RC 2
Twenty Twenty One
The Gutenberg plugin version 11.0.0

This is what I see:

![Columns-block-adding-color](https://user-images.githubusercontent.com/5323259/125251948-224a6600-e2f8-11eb-8101-498f4359b8f7.jpg)

It looks like "Color options for a single column" has been dealt with.

--

[2021-07-12 08:22] mikachan commented on #33332
Ah OK, that makes sense.

I'm not sure, but from what I can see, there is no `wp-container-ID` class added to the container with the `block-editor-block-list__block` class, and the style block logic seems to work off the `wp-container-ID` class. Could this be because the block isn't using the LayoutStyle component (or one of its parent components)? @jasmussen, are you able to help answer this?

[2021-07-12 08:39] sophiegyo commented on #26738
This is something I've also been wondering about for myself, I tested it again now and for me the highlighting/focus simply does not persist for me at all, whether I start from the visual editor to code, or whether I highlight one or more entire blocks in code and switch to visual.

Specs:
Firefox v89.0.2
Mac OS 11.4
WP v5.7.2
Gutenberg v11.0.0

Video from today (sorry for potato quality, you can

[2021-07-12 08:58] hypest commented on #33292
No strong feelings from my side. I'd keep the older ticket (and update with any context from this ticket) as that'll keep a better representation of its age and history.

[2021-07-12 09:01] ellatrix commented on #18571
I think we should make `add_editor_style` more flexible to allow passing a WP dependency handle. So you could register a style, add inline styles, and then pass the handle to `add_editor_style`. I don't think we should be adding new APIs.

[2021-07-12 09:10] Mamaduka commented on #33114
@youknowriad, I did a quick test, and if I move `<EditorNotices />` outside of the `<InterfaceSkeleton>` content, it breaks how other notices are displayed.

[2021-07-12 09:14] youknowriad commented on #33114
@Mamaduka maybe we should separate snackbars and regular notices into two components.

[2021-07-12 09:29] talldan commented on #33350
Yes, `allowed_block_types_all` filters all the blocks available in the editor, even in inner blocks.

From what I understand, what you're asking isn't possible. There would need to be a few different things:
- a way to limit the blocks available in the widget area block for the standalone widget editor
- a way to limit the blocks available in the root block list in the customize widget editor, but

[2021-07-12 09:38] #33270 closed, assigned to youknowriad, ntsekouras

[2021-07-12 09:47] JustinyAhin commented on #33096
@getdave it works as expected. I've added a comment on the PR.

[2021-07-12 10:00] priethor commented on #33278
Navigation Heading wouldn't be included as the sitemap `loc` element, which contains the URL, is mandatory. I'm unsuccessfully trying to think of other use cases where the Heading could be considered as content rather than a structural element that groups links.

I think Site Title and Site Logo should be included, too, for the exact reason you mentioned 😄

[2021-07-12 10:02] Mamaduka commented on #33114
I'm going in that direction now. I will have PR ready soon.

[2021-07-12 10:12] adamziel commented on #33335
I managed to reproduce it – it really does seem to occur at random! So far the most reliable reproduction plan for me is this:
* Open the widgets editor
* Delete everything from the "footer" sidebar and hit save
* Refresh the page
* Add a new gallery block and hit save
* Refresh the page

[2021-07-12 10:16] ellatrix commented on #33004
I still can't reproduce the issue for a US keyboard. I have the same keyboard, using macOS Big Sur and Chrome. 🤔
What I _can_ reproduce is the dead key issue, but that doesn't apply to a US keyboard.
Looking to fix the other issues now.

[2021-07-12 10:21] ndiego commented on #33212
Presumably `add_editor_style` would work as long as it can be called from a plugin without issue. I have only been using it in my demo block-based themes. Also I would assume with this approach functions like `wp_add_inline_style` would no longer function for stylesheet added via `add_editor_style`, right?

[2021-07-12 10:46] exstheme commented on #33212
@ndiego
It seems that inline styles will not work.
I'm also using inline styles to print my own CSS variables for colors that user can choose in the Customizer, but it is not possible for the iframe editor and it is very bad.

Here is discussion about this issue:

[https://make.wordpress.org/core/2021/06/29/blocks-in-an-iframed-template-editor/#comment-41512](https://make.wordpress.org/core/2021/0

[2021-07-12 10:49] Mamaduka commented on #33114
PR is ready for review.

[2021-07-12 11:11] exstheme opened #33356 "In 5.8 RC2 on new block widgets screen JS error appears for the text widget"
## Description
In 5.8 RC2 on new block widgets screen JS error appears for the text widget:
Error message:

Console error:
[code]

## Step-by-step reproduction instructions

1. Install starter content on version 5.7
2. Update WordPress to 5.8 RC2 with beta tester plugin
3. Go to Appearance -> Widgets

## Expected behaviour
Working without errors.

## Actual behaviour
Error message and console erro

[2021-07-12 11:32] ntsekouras commented on #33269
Thanks for reporting this. I'm closing as duplicate of: https://github.com/WordPress/gutenberg/issues/32473

[2021-07-12 11:32] #33269 closed, assigned to nobody

[2021-07-12 11:37] ntsekouras commented on #29168
This seems to have been resolved with the above PR: https://github.com/WordPress/gutenberg/pull/30959, as it makes it clearer to the user that they see a placeholder there, no? @scruffian should we close this one?

[2021-07-12 11:48] #31710 closed, assigned to aristath

[2021-07-12 12:03] carlomanf opened #33357 "Extend the utility of pagination blocks"
There are a number of different pagination template tags that exist, with different purposes.

[`previous_posts_link`](https://developer.wordpress.org/reference/functions/previous_posts_link/) and [`next_posts_link`](https://developer.wordpress.org/reference/functions/next_posts_link/) are designed to paginate queries that are `! is_singular()`. This is what the Query Pagination block currently do

[2021-07-12 12:10] mtias commented on #24007
@jasmussen what I have in mind is some help text whenever you open the inserter in a restricted area that says "These are the blocks available to insert within the {ParentBlockName} block".

[2021-07-12 12:12] AltanS commented on #7960
The same query via wp-cli

[code]

[2021-07-12 12:15] mtias commented on #25983
Closing this as done.

[2021-07-12 12:15] #25983 closed

[2021-07-12 12:30] draganescu commented on #33335
It is not easy to repro for me. Can it be a browser thing? I am using Edge and could not get this to happen, with existing or new galleries.

[2021-07-12 12:48] adamziel commented on #33335
@draganescu unfortunately this doesn't seem to be a client issue. I debugged the HTTP requests triggered when you save the widgets and it goes like this:

* `POST /batch/v1` starts
* `GET /wp/v2/widgets` starts
* `POST /batch/v1` finishes & triggers `POST /wp/v2/sidebars/sidebar-1` and `GET /wp/v2/sidebars`

What I noticed is that, when it breaks, both POST requests return the response you would e

[2021-07-12 13:01] mfs-mc commented on #7960
Or simply:
[code]

[2021-07-12 13:24] audrasjb opened #33358 "Block editor: "Select all" keyboard shortcut doesn't work anymore in WP 5.8"
## Description

It looks like there is a regression in the block editor. The `cmd + A` / `ctrl + A` keyboard shortcut doesn't work anymore.

- In 5.7.2 and before, one could use this shortcut to select all the blocks available in the current post.
- In 5.8 RC 2, using this shortcut results in selecting the whole HTML content of the editor screen (see screenshot below).

## Screenshots or screen re

[2021-07-12 13:28] adamziel commented on #33335
It may be locking all over again. There are two possible GETs requests `/wp/v2/widgets`:

* `index.php?rest_route=/wp/v2/widgets&context=edit&per_page=100&_embed=about..`
* `index.php?rest_route=%2Fwp%2Fv2%2Fwidgets%2F&context=edit& locale=user`

The former only starts when the POST /batch/v1 finishes, this is good and I don't anticipate any problems there.

The latter starts immediately after POS

[2021-07-12 14:00] linuxstarter opened #33360 "Widget Area does not display when Gutenberg is Activated"
## Description

When I Activate Gutenberg, the display area of the Widgets does not show anything.

## Step-by-step reproduction instructions

1. Install and Activate Gutenberg
2. Go to Appearance > Widgets

## Expected behaviour

Expect to see my available Widgets

## Actual behaviour

I see a blank screen in the Widgets area. This happens also when I user the Customizer.

## Screenshots or scree

[2021-07-12 14:07] juanmaguitar opened #33361 "Docs: Generate proper markdown heading for API docs (enabling automatic "Table of Contents" for API pages)"
## What problem does this address?

In the automatic generated DOCS for API details ( for example: https://github.com/WordPress/gutenberg/blob/trunk/docs/reference-guides/data/data-core.md ) the elements being documented (such as methods, selectors, action creators and so)  are being generated as links and not as headings (with proper level)

[code]

This final markup doesn't allow to generate aut

[2021-07-12 14:16] juanmaguitar commented on #33361
The file in charge of orchestrating this transformation seems to be [`bin/api-docs/update-api-docs.js`](https://github.com/WordPress/gutenberg/blob/trunk/bin/api-docs/update-api-docs.js) that internally uses the [`@wordpress/docgen` package](https://developer.wordpress.org/block-editor/reference-guides/packages/packages-docgen)