[2021-12-20 13:55] richtabor commented on #37522
I used the same mechanism we use elsewhere for colors in https://github.com/WordPress/gutenberg/pull/37500.

[2021-12-20 14:16] scruffian opened #37529 "Themes: Consistent header space"
## What problem does this address?
In many themes we want to have a space between the header template, and the rest of the content. It's important that this amount of space is consistent between all templates. We have tried several ways of achieving this but all are compromises:

1. Use a spacer block. We can just add a spacer block to the templates. The problem with this is that if a user modifie

[2021-12-20 14:16] mtias commented on #37522
Sweet!

[2021-12-20 14:20] mtias commented on #37529
This seems the obvious one to me. Not sure I understand what a "header and footer only" template means or why it's needed.

[2021-12-20 14:24] oandregal commented on #37388
:wave: I don't know if this is a bug or a feature, so asking for feedback to the hivemind: @mtias @youknowriad @jorgefilipecosta @jasmussen @carolinan @kjellr @jffng

The reason why this happens is that the styles for the list block use the `ol, ul` selector --- this is, its styles aren't scoped to a particular block but to all `ol` and `ul` HTML elements of the page. When the list block was intro

[2021-12-20 14:33] scruffian commented on #37529
I did a bit more digging here. This root of the problem is that we are trying to reuse the same template parts across multiple themes. The header spacer template part enables us to configure the header spacer across many child themes without duplicating the header code. Unfortunately this comes at a cost of a suboptimal experience for users. If we want to share code across themes we need to create

[2021-12-20 14:33] #37529 closed, assigned to nobody

[2021-12-20 14:41] #37452 closed, assigned to Mamaduka

[2021-12-20 14:42] #37427 closed, assigned to Mamaduka

[2021-12-20 15:18] ndiego commented on #37449
Yes, this will be resolved in 5.9 if `defaultPalette` is set to `false` in theme.json. Therefore, I believe this issue can be closed.

[2021-12-20 15:20] oandregal commented on #37433
Looking at the designs of the typography panel at https://github.com/WordPress/gutenberg/issues/36546, headings should be part of the Typography panel (top-level, not blocks):

![](https://user-images.githubusercontent.com/77359364/142219527-be4b6e93-1a5d-4060-9302-c51b9c19b0ad.png)

Reading the PR that implemented support for some typography in the UI https://github.com/WordPress/gutenberg/pull/3

[2021-12-20 15:24] bdurette commented on #37518
The behavior here seems highly dependent on the Copy source. Using Chrome for Mac.

**Source: Google Docs**

![Screen Shot 2021-12-20 at 9 25 04 AM](https://user-images.githubusercontent.com/403387/146791275-1c24ee87-3c37-411b-95eb-32742926dfef.png)

**Source: Microsoft Word**

![Screen Shot 2021-12-20 at 9 25 55 AM](https://user-images.githubusercontent.com/403387/146791369-252e51fc-3be1-4ef3-ba8

[2021-12-20 15:48] khoipro commented on #35485
I think the patch should be there: https://github.com/WordPress/gutenberg/blob/trunk/packages/scripts/config/.stylelintrc.json

I will put my patch tomorrow.

[2021-12-20 15:56] oandregal commented on #37082
:wave: I've looked at this and this is what I don't understand: what's the use case of having two fonts that are the same? Isn't it like providing two colors and both are "red"? With what I now know, I'd think the theme needs to be updated to provide a different set of fonts (or a single one) and this can be closed.

[2021-12-20 17:21] karmatosed commented on #37527
@juliemoynatPro that's an interesting request and whilst you can change type to group all that does is 'wrap' the column in group. I would also expect that to remove columns and make it all a group. I am going to add a few labels for others to add thoughts, because to me this could be useful.

[2021-12-20 17:25] karmatosed opened #37532 "Auto-select the alphabetical choice in forward-slash inserter command"
The forward-slash inserter command right now for 'ima' shows this:

![2021-12-20 at 17 22](https://user-images.githubusercontent.com/253067/146807263-2cd96023-7702-4fd8-8a1c-304b54923301.png)

I would have expected 'Image' to be the one selected and added first. This has caught me a number of times when in flow by adding Imgur not Image. Not only can we likely assume someone wants Image block more

[2021-12-20 17:28] hellofromtonya opened #37533 "Add missing `Gutenberg_Block_Template::$area` and `Gutenberg_Block_Template::$post_types` properties (Resync with WordPress Core)"
### Description

The `$post_types` and `$area` properties are being assigned to/from the `_build_block_template_result_from_file()` and `_build_block_template_result_from_post()` functions, which were introduced in WP 5.9; however, these 2 new properties do not exist in the `Gutenberg_Block_Template` class.

[WordPress Core Trac 54670](https://core.trac.wordpress.org/ticket/54670) was opened and i

[2021-12-20 17:28] karmatosed commented on #37525
@koraysels that's interesting. Could I perhaps check where you mean by this as to where you are thinking the focal picker should be?

[2021-12-20 17:30] annezazu commented on #37246
I tried to replicate this but was unable to with Firefox on a MacOS using Gutenberg 12.1, the same Ballyhoo theme (v1.0.16), and WordPress 5.8.2. Can you try using 5.8.2 rather than 5.8 to see if the issue persists?

[2021-12-20 17:34] laricastime opened #37534 "When a block is deleted, following blocks loose formatting."
### Description

Hey guys.

My company (Olhar Digital) uses WP as a CMS and recently I've been stressed with a feature of the platform that I consider a bug.

I have block 1, block 2 and block 3. When I delete (with 'delete', not 'backspace') text between block 1 and block 2, the third block also goes up and it loses formatting. I've been told this is the pattern, but I can't believe it.

I record

[2021-12-20 17:43] annezazu commented on #36797
Noting that a recent PR was closed related to this experience: https://github.com/WordPress/gutenberg/pull/37105 TLDR: the spacer block is seen as the interim solution for now. Going to leave this open to revisit in the future though.

[2021-12-20 17:44] karmatosed commented on #37533
@hellofromtonya as I don't see a label for backport that way adding this one, but perhaps we need that label?

[2021-12-20 17:46] hellofromtonya commented on #37533
@karmatosed I think adding a new label to capture backports from Core to Gutenberg is a great idea 💡

[2021-12-20 18:22] zachatkinson commented on #33078
This issue is also apparent with quote and pull quote blocks.  So all together no paste from one block in document into either:

- List Block
- Quote Block
- Pullquote Block

[2021-12-20 18:45] koraysels commented on #37525
![image](https://user-images.githubusercontent.com/2418853/146817171-84e23045-204f-4400-afd8-73a841852306.jpeg)

In the attachment editor?

[2021-12-20 19:04] #37361 closed, assigned to youknowriad

[2021-12-20 20:29] michaelbourne commented on #30960
This is a good idea. I'd add in `decoding="async"` as well for even more above the fold render benefits.

[2021-12-20 21:46] glendaviesnz commented on #37464
Possible PR for this at https://github.com/WordPress/gutenberg/pull/37536

[2021-12-20 21:47] Zodiac1978 opened #37537 "Video Text Tracks is not able to set default"
## What problem does this address?
The video element can have text tracks for captions/subtitles/etc. - but there is no way to set a default value.
https://developer.mozilla.org/en-US/docs/Web/Guide/Audio_and_video_delivery/Adding_captions_and_subtitles_to_HTML5_video#html_markup

## What is your proposed solution?
Adding a checkbox/radio button for setting one of the tracks as the default one.

T

[2021-12-20 21:50] metropoliscreative opened #37538 "Can't remove highlight with only text color, default browser styles for <mark> automatically applied"
### Description

With the introduction of #34680, the only way to change text color inline within a paragraph or heading block is using the Highlight feature, which now wraps the selected text with a `<mark>` element. Once a highlight is applied, it is not possible to remove the `<mark>` element by de-selecting Highlight. If the text color is cleared, the `<mark>` is still used as a wrapper which

[2021-12-20 22:30] hellofromtonya opened #37539 "Backspace to clear "Create Reusable Block" modal's name field deletes the selected blocks"
### Description

Originally reported in [WordPress Core's Trac ticket 54652](https://core.trac.wordpress.org/ticket/54652).

Since WordPress 5.9 Beta (works correctly in 5.8.1), backspacing to clear the reusable block's name in the "Create Reusable Block" modal closes the modal and deletes the selected blocks. This is different from WordPress 5.8.1 which clears the name field, but keeps the modal

[2021-12-20 22:39] thomasplevy opened #37540 "`canInsertBlockType()` returns `true` for a `multiple: false` block that is already inserted into the block editor"
### Description

After inserting a block that does not support `multiple` (such as the core/more block) I expect that `wp.data.select( 'core/block-editor' ).canInsertBlockType( 'core/more' )` would return false. However, it returns `true` regardless of the presence of the block.

### Step-by-step reproduction instructions

1. Open a post in the block editor
2. Add the `core/more` block to the edit

[2021-12-21 00:04] aaronrobertshaw commented on #37188
I'm closing this as https://github.com/WordPress/gutenberg/pull/37216 has merged. If there are any further issues let me know.

[2021-12-21 00:04] #37188 closed, assigned to aaronrobertshaw

[2021-12-21 00:29] dcalhoun commented on #37204
@hypest after researching this further, I believe this may be working as intended. When I found this "bug" originally, I happened to be using a _self-referencing_ Reusable block. When one converts a self-referencing Reusable block, it inserts a copy of itself. (I feel a bit silly realizing this mistake now. 😆)

Albeit a bit confusing, this behavior makes total sense. The web editor functions in th

[2021-12-21 00:29] #37204 closed, assigned to dcalhoun

[2021-12-21 02:16] carolinan commented on #37461
Hi!
**If** your theme includes a theme.json file, then removing the folders you mentioned will not disable template editing.
[Template editing is activated with theme.json. ](https://make.wordpress.org/core/2021/06/25/introducing-theme-json-in-wordpress-5-8/) To disable it you need to remove the theme support, not only the folders.

`remove_theme_support( 'block-templates' );`

[2021-12-21 02:22] #37464 closed, assigned to glendaviesnz

[2021-12-21 02:45] carolinan commented on #37388
To make the changes, one first has to navigate to Blocks in the global styles sidebar. Then, one has to select the "list block" and not simply "list" (the heading for the area is Blocks).
There is no feedback from the UI, no indication or help text, that the style changes affect all lists and not only the list block.
That is why the style changes are unexpected for lists that are not the list bloc

[2021-12-21 02:58] carolinan opened #37541 "Global styles sidebar: Post terms, post navigation, and query title are missing icons"
### Description

In the global styles sidebar in the site editor, these blocks are missing their custom icons. Instead, the "lego brick" is shown:
Post terms, post navigation, and query title.

### Step-by-step reproduction instructions

1. Activate a theme with support for full site editing
2. Go to Appearance > Editor
3. Open styles
4. Select Blocks
5. In the list of blocks, see the icons.

###

[2021-12-21 03:13] glendaviesnz opened #37542 "Social block: block spacing attribute lost if no justification set"
### Description

If the block gap attribute is set using the `Block spacing` setting, but a justification setting is not selected, then the block gap attribute is lost when the post is reloaded in the editor:

### Step-by-step reproduction instructions

- Add a Social block
- Add 2 or 3 Social links child blocks
- Set the block spacing to a > 0 value
- Save the post and reload - note that the bloc

[2021-12-21 03:41] carolinan commented on #37534
I can reproduce this with Gutenberg trunk and WordPress 5.9-beta3-52379-src. (No other plugins installed)

[2021-12-21 03:44] carolinan commented on #37385
I can reproduce this on 5.9-beta3-52379-src and Gutenberg trunk (Chrome, windows)

[2021-12-21 03:56] carolinan commented on #37158
I have not been able to reproduce this with WordPress 5.9-beta3-52379-src.

[2021-12-21 04:00] carolinan commented on #36771
Hi
Can you help by providing any more details for reproducing this?
You mention that the comments block is displaying, but I do not see the comments block on the link.
How are you identifying that this is the page.html template?
When I view source, the body class says archive, not page:
`<body class="archive tax-product_cat term-t-shirt term-234 wp-embed-responsive theme-wowmall woocommerce woocom

[2021-12-21 04:16] carolinan commented on #36528
This PR included the solution for the title tag: https://github.com/WordPress/gutenberg/pull/36133
But more testing is needed to see if this is still an issue in 5.9 beta.

[2021-12-21 05:32] carolinan commented on #36528
Yes, still an issue on 5.9 beta 3 with Gutenberg trunk. When Gutenberg is not active, the tags are not duplicated.

[2021-12-21 06:00] kafleg commented on #36528
WordPress: 5.9 Bets
Gutenberg: Trunk Version Activated
Theme: TT2

![image](https://user-images.githubusercontent.com/13062231/146879151-feb70e08-58d1-4131-a1d9-ea66d09aec0d.png)

when Gutenberg is not activated,
WordPress: 5.9 Bets
Gutenberg: Not activated
Theme: TT2
![image](https://user-images.githubusercontent.com/13062231/146879340-b0bb2ca1-c856-44d7-b358-7e7a0ab0f718.png)

[2021-12-21 06:29] tellthemachines commented on #37443
I can't reproduce this locally with WP trunk plus the [package updates for Beta 4](https://github.com/WordPress/wordpress-develop/pull/2073).

[2021-12-21 06:31] hellofromtonya commented on #37443
[WordPress Core's changeset 52232](https://core.trac.wordpress.org/changeset/52232/trunk/src/wp-admin/site-editor.php) added the `defaultTemplatePartAreas` setting:

[code]
I'm not seeing other changes to that setting in Core since that commit.

And `get_allowed_block_template_part_areas()` was committed 6 weeks ago with [changeset 52062](https://core.trac.wordpress.org/changeset/52062/trunk/src/w

[2021-12-21 06:32] hellofromtonya commented on #37443
Removing the backport label until the needed backport is identified.

[2021-12-21 06:35] carolinan commented on #37541
Perhaps the real question is if these blocks should be visible here or if their variations should be used?
(Archive title, next/previous, post categories, post tags)

[2021-12-21 06:35] costdev commented on #37539
**Environment Info**
OS: Windows 10
Browser: Chrome
WordPress: trunk
Theme: TT2
Plugins: Gutenberg 12.1

1. Pressing the `Backspace` or `Delete` keys while naming a Reusable Block deletes the content.
2. Ctrl-Z restores the content after two presses.

Removing this event listener removes the `Backspace` or `Delete` behaviour:

![gb-37539](https://user-images.githubusercontent.com/79332690/14688280

[2021-12-21 06:50] carolinan commented on #36787
I have not been able to reproduce this with 5.9 beta 3. (Gutenberg not active, multiple block themes tested)
Having said that, plugin developers need to test their plugins carefully and update their plugins if needed.

[2021-12-21 07:24] carolinan commented on #37312
Hi
It is unclear to me what you are trying to do:
Did you place a shortcode **block** `[audio]`  inside the pattern, or only the `[shortcode] `?

[2021-12-21 07:36] BicanMarianValeriu commented on #37312
[audio]

[2021-12-21 07:36] BicanMarianValeriu commented on #37312
`[audio]`

[2021-12-21 07:45] koraysels commented on #37525
or maybe better here:
![image](https://user-images.githubusercontent.com/2418853/146891064-8a08fb2d-7be2-4866-9974-bd332de526b4.png)

[2021-12-21 07:45] ntsekouras commented on #36545
I think all the related PRs here got merged. Should we close this one?

[2021-12-21 07:53] carolinan commented on #37443
Changeset 52232 changes wp-admin/site-editor.php, is that used for the template editor? Which is part of the block editor, not the site editor.

[2021-12-21 07:54] aristath commented on #37082
This is not a bug in Gutenberg... It's just a case of "doing it wrong". If A & B have the same value, then it doesn't matter which one is selected. Just like any other HTML `<select>` element, what gets saved (and used) is the value and not the label. If 2 options have the same value, then HTML & browsers will just pick the 1st option inside the select with that value.
Not a bug, it's just the way

[2021-12-21 07:54] #37082 closed, assigned to nobody

[2021-12-21 08:01] jasmussen commented on #37487
Good thoughts here, appreciate the attention to detail.

As a high level goal, I feel, saving your draft isn't something you should need to worry about. It's something that should happen automatically in the background, like it does in Docs, Figma, or most other web-apps. You make a change and it's remembered. Of course we can't do that for global content that may be live on the site.

With that g

[2021-12-21 08:01] fabiankaegy commented on #36401
@mkaz I drafted a Dev note for the `useInnerBlockProps` hook here in the ticket itself: https://github.com/WordPress/gutenberg/pull/26031#issuecomment-996785144

[2021-12-21 08:03] aristath commented on #37522
Done in https://github.com/WordPress/gutenberg/pull/37500 👍

[2021-12-21 08:03] #37522 closed, assigned to nobody

[2021-12-21 08:35] jasmussen commented on #37252
I would echo Ari's thoughts: we should strive to simplify the block's responsive behavior to be smarter. If we do this right, potentially we can provide collapsing rules through the CSS that handle this directly. The examples shown in [this codepen](https://codepen.io/joen/pen/wvJMdGr) are a bit exploratory, but they do show how far we can go.

The added challenge here as Maggie outlines, is when

[2021-12-21 08:38] jasmussen commented on #37388
Excellent issue, excellent thoughts. To echo Carolina above, my first instinct here is that the list markup used for the post template is an implementation detail that might or might not change the future, and should therefore not be affected by changes to the List block.

[2021-12-21 08:53] hypest commented on #37204
Ah, gotcha. Thanks for elaborating @dcalhoun , makes sense to close it 👍

[2021-12-21 09:27] jasmussen commented on #37515
Thanks for the issue. Would you say this is similar to the Row or Paragraph blocks?

<img width="919" alt="row block justified right" src="https://user-images.githubusercontent.com/1204802/146905516-a0b98fb3-7e6b-4695-be8e-cb199a76eee2.png">

<img width="907" alt="paragraph aligned right" src="https://user-images.githubusercontent.com/1204802/146905552-27985cd3-cc8e-48c9-9222-d3666bca4994.png">

[2021-12-21 10:07] mtias commented on #37388
Fine to make this more specific. We can output whatever classes we need, but let's not serialize them.

[2021-12-21 10:07] #36545 closed, assigned to javierarce

[2021-12-21 10:17] jameskoster commented on #37523
It would be nice to eliminate the flash-of-unstyled embed that occurs as well. For example when you embed a tweet you will see the following for a split-second, before the full embed loads:

<img width="795" alt="Screenshot 2021-12-21 at 10 15 39" src="https://user-images.githubusercontent.com/846565/146912927-4655466d-65cb-4e6d-98b8-42b6d16ad972.png">

Ideally the loading state should persist unt

[2021-12-21 11:04] gziolo opened #37549 "Block Editor: Consider removing the contrast checker when block has only links"
### Description

Discovered this while testing the Comment Reply Link and Comment Edit Link blocks. Both blocks don't contain any regular text because everything is wrapped with a link. It also means that block supports have color controls enabled only for the background and the link. Initially reported in https://github.com/WordPress/gutenberg/pull/35774#issuecomment-952046182

### Step-by-step r

[2021-12-21 11:50] Mamaduka commented on #37539
I think this is a duplicate of #36513, and it also has (unlinked) PR - #36663.

Unfortunately, I'm not sure if the solution proposed in the PR is the proper fix.

/cc @ellatrix.

[2021-12-21 11:51] oandregal commented on #26902
I learned that we have an issue with dynamic styles. It affects both the ergonomics of theme authors and the iframe work: https://github.com/WordPress/gutenberg/issues/18571

In talking to @ellatrix about this, a system along the lines of @jorgefilipecosta proposal [above](https://github.com/WordPress/gutenberg/issues/26902#issuecomment-726902465) could help address all these issues:

- themes won

[2021-12-21 11:59] oandregal opened #37550 "Gaps in current global styles"
This is a tracking issue to highlight the next big steps we can tackle to implement the original vision of the global styles (merge default, theme, and user styles) to improve both the developer experience and the performance.

Absorb the two big missing style pieces via the `theme.json` algorithm:

- Block styles: https://github.com/WordPress/gutenberg/issues/33977
- Style variations: https://git

[2021-12-21 12:00] gziolo commented on #37549
@jorgefilipecosta, I would be curious to hear your feedback what would be the ideal solution for this edge case? As far as I can see in the codebase, there is no way to use block supports to disable the contrast checker.

I played a bit with a very naive approach where the contrast checker would be disabled when there is no block support enabled for the text color in this place:

https://github.co

[2021-12-21 12:04] oandregal commented on #20331
We're shipping a first version of the GS interface in 5.9, so it looks like this issue could be closed. Both for having a sense of progress but also because the activity has already moved to other smaller and more focused issues (designer tools, site editor improvements, framework changes, etc).

[2021-12-21 12:04] #20331 closed

[2021-12-21 12:05] oandregal commented on #20331
I've created https://github.com/WordPress/gutenberg/issues/37550 to track some gaps we still have from the original vision of styles at the framework level.

[2021-12-21 12:11] gziolo commented on #37154
The current approach we have has more drawbacks. Sometimes it renders the same controls multiple times:

<img width="1183" alt="Screenshot 2021-12-21 at 13 09 20" src="https://user-images.githubusercontent.com/699132/146927909-0bb436d6-b81b-4a04-a1dc-8ebe1fc7cd8a.png">

[2021-12-21 13:00] #30719 closed, assigned to nobody

[2021-12-21 13:02] mtias commented on #20331
Really wonderful work and progress here!

[2021-12-21 13:03] jameskoster opened #37552 "Add a proper loading state to the Archives block"
The Archives block / widget doesn't seem to have a proper loading state. Instead I see a "Block rendered as empty" message before the archives actually appear:

https://user-images.githubusercontent.com/846565/146934605-eebed4b3-101c-4279-9022-32d8c4688b3b.mp4

We can probably use a similar loading state as other blocks like embeds.

[2021-12-21 13:14] Mamaduka commented on #37467
I am closing this as a duplicate of #14608.

[2021-12-21 13:14] #37467 closed, assigned to nobody

[2021-12-21 13:54] costdev commented on #37539
@Mamaduka You're right, it is a duplicate. I haven't tested the PR, but it seems to only target Backspace - In my testing, the Delete key produced the same behaviour. Testing of the PR should include testing with the Delete key also.

/cc @delowardev

[2021-12-21 13:57] Mamaduka commented on #37539
Good point, @costdev.

I will close this issue as a duplicate and reference your comment in PR.

[2021-12-21 13:57] #37539 closed, assigned to nobody

[2021-12-21 14:03] mirka opened #37555 "Some components don't render in the intended font stack in Chrome"
`InputControl` does not have an explicit `font-family` on its `<input>` element, so depending on the user agent stylesheet it could be rendered in an unintended font.

In my environment (Chrome on Mac), the expected font is `system-ui`, but instead it's rendered in Arial. (`TextControl`, on the other hand, does have an explicit font-family set, so is consistent across browsers.)

Any components ba

[2021-12-21 14:06] franmastromarino commented on #36771
hello this issue has been fixed

thanks

[2021-12-21 14:06] #36771 closed, assigned to nobody

[2021-12-21 14:39] Mamaduka commented on #37524
I think this is regression after #37213. Here's a related discussion - https://github.com/WordPress/gutenberg/pull/37213/files#r764700120.

[2021-12-21 14:41] Mamaduka commented on #37439
@jameskoster Do you think we should change this simply to a "Delete"?

[2021-12-21 14:45] jameskoster commented on #37439
@Mamaduka yes I think that makes sense 👍

[2021-12-21 14:49] jameskoster opened #37557 "Drag handles on Comment Author Avatar are permanently visible"
I am able to see the drag handles on the image in the Comment Author Avatar block regardless of whether it is selected or not.

This is inconsistent with Image blocks where you have to select the block in order to expose the handles.

[2021-12-21 15:24] dcalhoun opened #37559 "Improve stability and performance of BottomSheet animations"
## What problem does this address?
Originally discussed in https://github.com/WordPress/gutenberg/pull/36328#discussion_r772472001, there is opportunity to refactor our `BottomSheet` navigation transitions to better manage keyboard visibility and improve performance. At times, changes to keyboard visibility can negatively impact the performance of animations and produce bugs, e.g. https://github.c

[2021-12-21 15:48] hellofromtonya commented on #36513
Copying report from duplicate issue #37539:

Originally reported in [WordPress Core's Trac ticket 54652](https://core.trac.wordpress.org/ticket/54652).

Since WordPress 5.9 Beta (works correctly in 5.8.1), backspacing to clear the reusable block's name in the "Create Reusable Block" modal closes the modal and deletes the selected blocks. This is different from WordPress 5.8.1 which clears the name

[2021-12-21 15:50] hellofromtonya commented on #36513
[Test Report](https://github.com/WordPress/gutenberg/issues/37539#issuecomment-998512354) from @costdev:

**Environment Info**
OS: Windows 10
Browser: Chrome
WordPress: trunk
Theme: TT2
Plugins: Gutenberg 12.1

1. Pressing the `Backspace` or `Delete` keys while naming a Reusable Block deletes the content.
2. Ctrl-Z restores the content after two presses.

Removing this event listener removes the `

[2021-12-21 16:29] #35009 closed, assigned to cbravobernal

[2021-12-21 16:34] cbravobernal opened #37560 "Next Comments Block: Link showing on the last page when selecting a custom "items per page" setting."
## What problem does this address?

The error is available near the end of the video:

https://user-images.githubusercontent.com/699132/146942214-7cae3c4f-4d76-4d12-8a2e-ab382248edb6.mov

When selecting a custom setting for items per page, the `Next Comments` links show up even when we are on the last page.
Similar to #37553

## What is your proposed solution?

We will check why is happening after

[2021-12-21 16:40] cbravobernal opened #37561 "Comments Pagination Block: Unify the markup on all pagination blocks rendering on PHP"
## What problem does this address?

There is a different link markup used in the Previous Comments and in the number 1 from the Pagination Numbers block.

## What is your proposed solution?

Previous Comments is using a different function to retrieve the link.
`paginate_links()` function is used on `paginate_comments_links()`on Pagination Numbers Block
`get_comments_pagenum_link()` function is use

[2021-12-21 16:50] cbravobernal opened #37562 "Comments Pagination Block: should we use "Older" and "Newer" comments instead of "Previous" and "Next" tags?"
## What problem does this address?

Right now, in `Comments Pagination Block`, we use "Previous" and "Next" for the default labels of next and previous blocks.

After checking some themes and also functions we can find we use Older and Newer:

https://github.com/WordPress/wordpress-develop/blob/trunk/src/wp-includes/link-template.php#L3172-L3181

In case the user is not ordering by the date of the

[2021-12-21 18:03] annezazu commented on #37081
👋🏼 On today's [hallway hangout with the FSE Outreach Program](https://make.wordpress.org/test/2021/12/21/hallway-hangout-lets-talk-about-wordpress-6-0/), this came up and it was suggested to actually rename the Pattern category to something more user friendly and I wanted to connect some dots by following up here for future reference. I can see how doing so would be problematic as it would likely

[2021-12-21 18:16] annezazu commented on #35689
In light of the efforts here https://github.com/WordPress/gutenberg/issues/36136, wanted to follow up to see if this can officially be closed out! I'm asking because I noticed I can indeed upload an image within the Query Loop block and I'm not quite sure if that should be possible based on the convo above. Here's the current experience either way -- great work, folks, on improving the experience

[2021-12-21 18:53] #35689 closed, assigned to nobody

[2021-12-21 19:12] fullofcaffeine commented on #36532
@ellatrix Thanks for working on a fix! I can now set a highlight color and clearing it is enough to recover the block-level color, if any :)

The other scenario is still a problem though. If you apply a background highlight, the `mark`'s default color will override the block-level's `p` color:

https://user-images.githubusercontent.com/81248/146985042-8d2e1829-9f1d-408b-a2f2-f65b9e45cbed.mp4

Usin

[2021-12-21 20:07] stacimc opened #37564 "Site Icon: Inconsistent hover styling"
### Description

#29888 added hover styling to the site button in the Header, including an outline that appears around the Site Icon when hovered. #33132 later added a zooming animation to the button's hover state.

Currently this means:
* If no Site Icon exists, the default icon renders and receives the outline but no animation when hovered
* If a Site Icon exists, the animation runs and 'zooms i

[2021-12-21 21:14] cr0ybot opened #37566 "CSS custom properties are not output at the root level in the Site Editor"
### Description

There was a bug fixed in #28581 where the theme.json generated CSS custom properties were not applied to the root inside the iframe, and so the styling appeared broken in some cases. However, I believe that having the custom properties in the main root level is also important for things in the sidebar.

In my particular case, I am defining the theme's color palette in `settings.cu

[2021-12-21 22:07] hellofromtonya opened #37568 "Duplicate "Theme Editor" menu in Tools as 5.9 relocates and renames the menu item"
### Description

WordPress Core's [changeset 52232](https://core.trac.wordpress.org/changeset/52232) backported to relocate the "Theme Editor" menu item from Appearance to Tools. However, when the Gutenberg plugin is enabled, it also adds a duplicate menu item.

Please note, [changeset 52406](https://core.trac.wordpress.org/changeset/52406) renamed the menu item "Theme File Editor", relocated the

[2021-12-21 23:55] mkaz commented on #6190
Closed in #36183

[2021-12-21 23:55] #6190 closed

[2021-12-21 23:56] mkaz commented on #24422
Closed in #36183

[2021-12-21 23:56] #24422 closed

[2021-12-22 01:34] tellthemachines opened #37571 "React warning when navigating between templates index and template screens in the Site Editor"
### Description

When switching between the templates index and various templates in the Site Editor, the following warning appears in the console:

[code]

### Step-by-step reproduction instructions

1. Go to the Site Editor;
2. Open the left hand sidebar and navigate to Templates index;
3. Navigate to one of the templates;
4. Go back and forth between index and templates until error shows in con

[2021-12-22 02:14] annezazu opened #37572 "Navigation block: missing inline + inserter to add new menu items without selecting parent block"
### Description

I cannot see a quick inserter for adding additional navigation items unless I select the overall parent block. Previously, I was able to see a + in line to quickly add menu items. Now I have to add an item and select the overall parent block once more in order to add additional links to the menu. This seems to be a regression at worst and a step backwards for UX either way by addi

[2021-12-22 02:20] annezazu opened #37573 "Individual Patterns have scrollbars in Inserter making it difficult to scroll through"
### Description

With WordPress beta 4, after opening the Inserter, I found that the various patterns show a scroll bar and are randomly very condensed. This makes it hard to quickly navigate between patterns while scrolling as sometimes the focus gets lost in scrolling in the pattern itself.

### Step-by-step reproduction instructions

1. Open Inserter.
2. Switch to patterns tab.
3. Try scrolling

[2021-12-22 04:27] carolinan commented on #37443
How did you add the template part? I am still unable to add a template part block using 5.9-beta4-52408-src.

[2021-12-22 04:35] carolinan opened #37574 "Template parts can not be added in the template editing mode"
### Description

Template part blocks and their aliases (header, footer) can not be added in the template editor.

### Step-by-step reproduction instructions

1. Activate a theme with support for template editing, for example Twenty Twenty-Two
2. Open a template in the template editor by creating a new template or edit an existing template from the template section in the block editor
3. Try addin

[2021-12-22 04:59] carolinan commented on #37568
Do we want to to remove [gutenberg_move_theme_editor_in_block_themes()](https://github.com/WordPress/gutenberg/blob/trunk/lib/compat/wordpress-5.9/move-theme-editor-menu-item.php), or add a version check for versions below 5.9.0?

[2021-12-22 05:33] carolinan commented on #37566
Hi, I believe this was fixed in https://github.com/WordPress/gutenberg/pull/36851

[2021-12-22 05:36] carolinan commented on #37566
Screenshot of the colors in the site editor:
![the color picker is displaying the color using the custom CSS property from theme.json](https://user-images.githubusercontent.com/7422055/147041059-85466588-69ff-401e-9950-d075a27077f1.png)

[2021-12-22 05:40] #14608 closed

[2021-12-22 05:40] #37533 closed, assigned to Mamaduka

[2021-12-22 05:51] Wesam000006 opened #37575 "Doesn't work well with AMP Read"
### Description

Hello,

I want to mention that Gutenberg doesn't display Headers (H1,H2,....) background colors, nor Buttons colors, also it doesn't align Buttons as desired in AMP pages, knowing that AMP set to (AMP Read).

Best regards,

### Step-by-step reproduction instructions

1. Go to AMP plugin and active (AMP read)
2. Use AMP Legacy theme
3. Great a post with Headers and buttons
4. Set b

[2021-12-22 06:01] carolinan commented on #37128
But if my existing theme has a template part called "header", and the new theme has a template part called "header", then wouldn't loading that second header template part be the expected result? Not an unwanted side effect.

[2021-12-22 06:23] #37523 closed, assigned to nobody

[2021-12-22 06:29] carolinan commented on #37262
All of these settings can have unexpected side effects. For example the numbers in the query pagination block is a mix of links and   text (for the current page), and only styling the links can break the design:
![image](https://user-images.githubusercontent.com/7422055/147046158-86c03a97-8b9c-4c43-8b74-8bc7a5db4556.png)

[2021-12-22 06:33] Mamaduka commented on #37574
@carolinan, I'm also not able to reproduce the issues. Running Gutenberg trunk on 5.8.2, but I also had the same results on beta 3.

## Screencast
https://user-images.githubusercontent.com/240569/147046496-a508a9b1-4b35-47f5-b855-799dd3bcf91b.mp4

[2021-12-22 06:42] CalumChilds commented on #37246
I used WordPress 5.8.2 and the issue still persisted. I tested it on Google Chrome and it doesn't glitch, so it seems to be a Firefox on Windows issue.

[2021-12-22 06:42] carolinan commented on #37247
Until it is a separate block, you can still style the read more link to look like a button block with theme.json _elements_.

[2021-12-22 06:43] andrewserong commented on #37154
I'm not sure if this helps, but I ran into a similar issue in my WIP PR in #37519 for the Post Template block when I removed `pointer-events: none` on the block preview — this meant that when clicking between the Query loop previews, the clicking on a block within the preview appeared to render the component and its InspectorControls fill, for the particular clientId (given that the clientId of th

[2021-12-22 06:44] carolinan commented on #37247
Though I'm still confused; the post excerpt has the read more link, but it is a link for each post, not per query.
Did you mean per post item, or per query (per list with post items)?
"added at the bottom of each query block" -where would that button lead? to the very last post?

[2021-12-22 06:51] carolinan commented on #37574
I'm not using beta via 5.8+ beta tester plugin, but a git clone of https://github.com/WordPress/wordpress-develop

[2021-12-22 06:52] carolinan commented on #37574
I am logged in as administrator.

[2021-12-22 06:58] Mamaduka commented on #37574
I've just used `wp core update --version=nightly` to test the latest beta, and I get the same results. So testing this way shouldn't be different from testing via git since they should run the latest package updates.

Let's see if others can reproduce the issues.

[2021-12-22 07:07] lgersman commented on #25077
Good morning guys,

i just stumbled across

https://github.com/adambrgmn/wp-bundler

a js/css Bundler tailored to fit Wordpress / Gutenberg developer needs.

Looks pretty well !

It's based on SWC, a JS Transpiler written in Rust and used by Parcel 2.

Bonus : wp-bundler has built-in support for generating the Wordpress gettext ressources (without depending on wp-env/wp-cli i18n).

Looks promisiin

[2021-12-22 07:20] Mamaduka commented on #37443
I was able to reproduce this with beta 4. It should be fixed via a core patch, and I will create it shortly.

[2021-12-22 07:27] gziolo commented on #35485
Should we revisit #28954 instead that tried to make the rule better aligned with what Gutenberg uses? An alternative would be to disable the rule everywhere (in `@wordpress/stylelint-config`) until we have a better validator.

[2021-12-22 07:44] jasmussen commented on #37572
This is an intentional change as of #36605. I recognize that's a bit of a shift to what we've been used to, but the behavior is identical to that of social links, buttons, groups, and any other container blocks. Part of that conversation was the deliberate balancing of tradeoffs:

- Do we accept the nearly-always jarring shifts in the layout that happen when the plus button appears on selection?
-

[2021-12-22 07:48] Mamaduka commented on #37443
Core PR: https://github.com/WordPress/wordpress-develop/pull/2076

[2021-12-22 08:19] gziolo commented on #37264
Hopefully, the last PR #37578 for `react` and `react-dom` is available now for the review.

[2021-12-22 08:33] Mamaduka commented on #36513
The issue was introduced via #32323 or with Gutenberg 11.2. React events correctly bubble through portals and are caught by `BlockTools`.

Short term solution for WP 5.9 could be to modify [`handleEscapeKeyDown`](https://github.com/WordPress/gutenberg/blob/8f90816cfe7c19baba2f5fc9a54c61b2eb59b2e3/packages/components/src/modal/index.js#L103-L114) to catch `BACKSPACE` and `DELETE` keycodes.

We shou

[2021-12-22 08:42] erikjoling commented on #37452
Thank you @Mamaduka 👍

[2021-12-22 08:44] ntsekouras commented on #35407
Is this something still happening? I couldn't reproduce..

[2021-12-22 08:51] Mamaduka commented on #35407
It was probably fixed via #33699.

[2021-12-22 09:07] ntsekouras commented on #35407
Dates don't match though 😄 . Anyway, George can you reproduce though? If not, I guess we could close for now.

[2021-12-22 09:11] Mamaduka commented on #35407
I'm not able to reproduce the "uneditable" part of the issue. CMD + A once selects title; CMD + A twice moves the selection to blocks.

Testing with TT2 theme and Chrome / OSX.

[2021-12-22 09:30] ntsekouras commented on #35407
I was testing with the same setup 😆 . I now tested with other themes as well and Firefox and still couldn't reproduce. Let's close this.

[2021-12-22 09:30] #35407 closed, assigned to nobody

[2021-12-22 09:31] #33948 closed, assigned to ntsekouras

[2021-12-22 09:31] ellatrix commented on #36513
Sounds to me like key detection in the content should check DOM events instead of React events.

[2021-12-22 09:32] hypest commented on #37559
Marked this as `[Priority] High` since the bottomsheet is at the core of lots of interactions and even small improvements can have big impact.

[2021-12-22 09:47] Mamaduka commented on #36513
@ellatrix, that would mean reverting changes from #32323, right? It might be a significant change to be backported this late in the release cycle.

[2021-12-22 10:20] scruffian opened #37582 "Link Color inheritance mismatch between editor and frontend."
### Description

Link color settings are inherited differently in the editor and the front end. If I create a group block and set the link color to red, and then create a paragraph block and set the link color to purple, in the editor the link appears purple (as I would expect)
<img width="830" alt="Screenshot 2021-12-22 at 10 15 11" src="https://user-images.githubusercontent.com/275961/147076958-

[2021-12-22 10:20] ntsekouras commented on #36513
I discussed this with @ellatrix and will have a PR today with a possible solution without reverting.

[2021-12-22 10:47] jameskoster opened #37583 "When embedding third party content there is a flash of un-styled markup"
It would be nice to eliminate the flash-of-unstyled embed that occurs when you insert something like a Tweet. I see the following for a split-second, before the full embed loads:

<img width="795" alt="Screenshot 2021-12-21 at 10 15 39" src="https://user-images.githubusercontent.com/846565/146912927-4655466d-65cb-4e6d-98b8-42b6d16ad972.png">

Ideally the loading state should persist until the embe

[2021-12-22 10:53] #37439 closed, assigned to Mamaduka

[2021-12-22 11:11] jameskoster opened #37584 "Template part focus mode doesn't handle empty template parts very well"
I think this is most likely a result of the removal of the appender in https://github.com/WordPress/gutenberg/pull/37213.

It is especially problematic when creating a template part from scratch via list view. The resultant editor view makes it impossible to interact with the canvas. It all feels a bit confusing:

https://user-images.githubusercontent.com/846565/147083796-18d99d43-9102-40eb-bf2f-0

[2021-12-22 11:13] Mamaduka commented on #37584
Probably duplicate of #37524.

[2021-12-22 11:13] jameskoster commented on #37584
Right you are!

[2021-12-22 11:13] #37584 closed, assigned to nobody

[2021-12-22 11:15] #37557 closed, assigned to cbravobernal

[2021-12-22 11:16] opr opened #37585 "When customising a template from a plugin pressing the browser back button does not update the template list"
### Description

If you customise a template in the Site Editor, then press the browser back button, attempting to edit the same item again (without refreshing the template page) the`You attempted to edit an item that doesn't exist. Perhaps it was deleted?` error shows up.

### Step-by-step reproduction instructions

1. Install WooCommerce Blocks (or any other extension that adds templates to Gute

[2021-12-22 11:21] dainemawer commented on #33578
It could be worth using: https://www.npmjs.com/package/web-vitals - it already has a built in API for sending data to an endpoint or dashboard. I think all the points above make a ton of sense and they are all valid, but maybe we're a bit skewed on context.

As someone mentioned, the resources available to your machine, bandwidth and all that can have a serious effect on scoring. Lighthouse, ideal

[2021-12-22 11:24] jorgefilipecosta commented on #23503
Thank you for reporting this issue @properlypurple! It is now fixed.

[2021-12-22 11:49] oandregal commented on #35331
I'm marking this for 5.9. Please, feel free to remove if it isn't necessary.

[2021-12-22 11:58] oandregal commented on #35331
Braindump for when someone is able to pick this up.

While working on https://github.com/WordPress/gutenberg/pull/36236/ I discussed with Alex that for duotone to work on the site editor we need to port the same changes introduced in the server at https://github.com/WordPress/gutenberg/pull/34667 (and follow-ups). Refs:

- server: https://github.com/WordPress/gutenberg/blob/trunk/lib/compat/wordpr

[2021-12-22 12:46] Mamaduka commented on #37568
@carolinan, Are you working on this issue?

[2021-12-22 13:20] Mamaduka commented on #37443
The core patch got merged - https://core.trac.wordpress.org/changeset/52409.

I am closing the issue since there's no change required on the plugin side.

[2021-12-22 13:21] #37443 closed, assigned to nobody

[2021-12-22 13:26] ellatrix commented on #36513
I think this boils down to the question: do we want shortcuts to work when the options popover in the block toolbar is toggled (which shows some shortcuts). I think yes. In that case this popover is no different from any other thing that uses a portal (iframe, inspector...). There's no way to know where exactly ⇧⌘D (for example) should work. If we want it to work in the block toolbar popover, then

[2021-12-22 14:12] briceduclos opened #37589 "Inline global styles are now printed in the footer (Gutenberg Trunk and WP5.9 Beta4)"
### Description

Until Gutenberg 12.1.0, `<style id="global-styles-inline-css"></style>` was printed in the header. Now in Gutenberg and WP5.9 Beta 4, the style is printed in the footer.
Since https://github.com/WordPress/gutenberg/pull/37335, WordPress core handles the style enqueuing and prints it in the footer, making it harder to override the CSS. Is it on purpose?

### Step-by-step reproducti

[2021-12-22 14:12] courtneyr-dev commented on #37572
I found adding pages to a new navigation menu exceptionally confusing. It feels extra complicated by not having a preview of pages to include, but the way to insert additional links was challenging.

https://user-images.githubusercontent.com/5519705/147105767-672adab7-86f1-4405-88ec-e7620edb740c.mp4

[2021-12-22 14:25] MarieComet opened #37590 "Allow developers to opt out of !important CSS rules generated from theme.json"
## What problem does this address?
Currently, CSS rules generated from theme.json settings get !important automatically added.
It's fine for theme authors who need to ensure that their CSS rules are not overridden by plugins or so.
But as a theme developer, working at web agency, I don't need those !important. I control the scope of custom plugins.

## What is your proposed solution?
My solution i

[2021-12-22 14:32] MarieComet commented on #37590
[code]

[2021-12-22 14:38] #36234 closed, assigned to MaggieCabrera

[2021-12-22 14:57] overclokk commented on #37590
I think that the right place is to have a field in the theme.json itself instead of adding a filter.

[2021-12-22 15:19] MarieComet commented on #37590
I think it's fine in theme.json, but I don't know how to propose this change (code) :)

[2021-12-22 15:47] dcalhoun opened #37594 "Post RN 0.66 Upgrade Tasks"
## What problem does this address?
A few tasks arose during https://github.com/WordPress/gutenberg/pull/36328. This ticket captures those tasks in a single location for further consideration.

## What is your proposed solution?
After https://github.com/WordPress/gutenberg/pull/36328 merges, we should address the following or create individual tickets to address them in the future:

- [ ] Upgrade t

[2021-12-22 16:28] #37566 closed, assigned to nobody

[2021-12-22 17:28] WraithKenny commented on #35576
This is an obnoxious way of doing things. You should have a disclaimer on all your NPM Packages that says "Not for general usage: Only for Gutenberg dev." It's a mistake that I've added any of these packages to my theme projects.

[2021-12-22 19:09] nick6352683 opened #37598 "Duotone filter does not work on front end for non FSE themes as of 12.1.0"
### Description

As the title says, the Duotone filter does not work (display) on front end for non FSE themes as of 12.1.0, which now includes 12.2.0. In the backend (Editor), the duotone filters work fine.

Deactivating the Gutenberg plugin, the duotone works fine for ALL themes.

### Step-by-step reproduction instructions

1. Install and activate Gut. 12.1.x or 12.2.0
2. Create a duotone for an

[2021-12-22 22:40] WraithKenny commented on #36514
This isn't fixed.

https://github.com/WordPress/gutenberg/blob/trunk/packages/stylelint-config/package.json

Stylelint 14 needs more than just a peer update. The dependencies in stylelint-config are all out of date, and not compatible with 14.

`stylelint-scss` has to be at ^4 https://github.com/stylelint-scss/stylelint-scss/blob/HEAD/CHANGELOG.md
`stylelint-config-recommened` must be ^6 https://g

[2021-12-23 01:27] #37564 closed, assigned to andrewserong

[2021-12-23 03:32] annezazu commented on #37572
Thanks for the explanation @jasmussen! I can see how this was a tricky call to make. My two cents is that this makes it much harder to quickly create menus which seems to run against the lighter navigation experience work.

[2021-12-23 04:57] letasync opened #37603 "Custom Color Picker scrolling issue when trying to change option from HEX to RGB or HSL"
### Description

With new updated gutenberg Version 12.2.0. custom color picker
1. Found scrolling issue while changing color options from HEX to RGB or HSL. Panel options go out of bottom screen edge.
2. Also alpha value (transparency option missing for any solid color).

### Step-by-step reproduction instructions

1. Go to change color in setting panel
2. Click on text/background/link color opti

[2021-12-23 05:40] github-actions[bot] opened #37604 "[Flaky Test] shows a warning if user does not have permission to create navigation menus"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
shows a warning if user does not have permission to create navigation menus

## Test path
`specs/editor/blocks/navigation.test.js`

## Errors

<time datetime="2021-12-23T05:40:55.695Z"><code>[2021-12-23T05:40:55.695Z]</code></time> Test passed after 1 failed attempt on <a hr

[2021-12-23 05:48] kafleg commented on #36528
Tested with Beta 4 as well, the issues is still there.

[code]

[2021-12-23 06:04] Wesam000006 opened #37605 "Coloring panel is unusable in RTL"
### Description

When the control panel in RTL language, the coloring panel goes off the browser borders, making it unusable.

Kindly see the attached phot

![Screenshot-2021-12-22-211431](https://user-images.githubusercontent.com/96513695/147195713-20418c46-4e2d-4946-bc8e-0c9ced3bffbd.jpg)
o

### Step-by-step reproduction instructions

1- Set control panel language to an RTL one
2- Try changing a

[2021-12-23 06:21] Mamaduka commented on #37342
@annezazu I think this issue got fixed via #37484. Can you confirm?

## Screencast
https://user-images.githubusercontent.com/240569/147197383-a2fa35f3-76dd-42bf-9c82-92e35914c85f.mp4

[2021-12-23 06:39] Mamaduka opened #37606 "Hovering on Padding/Margin control creates undo level"
When I hover over on Padding or Marging control, it creates "undo level" in the editor.

I can see `EDIT_ENTITY_RECORD` in Redux logs, triggered by `onChangeShowVisualizer.`

## How to reproduce
1. Add a Group block to a post.
2. Open the "Dimensions" panel and hove over padding control.
3. New "undo level" is created.

Tested with TT2, Gutenberg trunk, and WP 5.9-beta4.

## Screencast
https://use

[2021-12-23 06:40] Mamaduka commented on #37606
/cc @aaronrobertshaw

[2021-12-23 06:49] aaronrobertshaw commented on #37606
Thanks for the ping @Mamaduka.

I think this might be a duplicate of https://github.com/WordPress/gutenberg/issues/36418.

There are some open PRs relating to this problem already.
- https://github.com/WordPress/gutenberg/pull/33560
- https://github.com/WordPress/gutenberg/pull/36587

As you note, this issue is due to the box control visualizers storing its data within the block attributes. Rather

[2021-12-23 06:53] Mamaduka commented on #37606
Thank you, @aaronrobertshaw. The #33560 looks like a good candidate.

[2021-12-23 06:53] #37606 closed, assigned to nobody

[2021-12-23 06:57] #36513 closed, assigned to ellatrix, ntsekouras

[2021-12-23 06:57] #37316 closed, assigned to ntsekouras

[2021-12-23 07:14] costdev commented on #30516
See [Trac 54687](https://core.trac.wordpress.org/ticket/54687) for similar behaviour in other editors and in multiple themes. Reported by @alanjacobmathew.

[2021-12-23 07:32] ntsekouras commented on #37574
I can't reproduce either running from latest WP/develop. The problem there though is that Template Parts are everywhere available as[ this PR](https://github.com/WordPress/gutenberg/pull/37157) hasn't been back ported, which I think it should(?)

[2021-12-23 07:50] jasmussen commented on #37572
The formula for creating navigation blocks from scratch changed rather fundamentally and abruptly when the saving mechanism was introduced. It's mostly stabilized, and I think it affords an option in the future to require much less building, potentially being pre-populated with a "default menu" (just the pages on your site). In the mean time, it requires this difficult tradeoff. CC: @youknowriad i

[2021-12-23 08:01] gitgetgotgotten commented on #8272
We are on the verge of 2022. Hasn't it been fixed yet?

[2021-12-23 08:15] MarieComet commented on #37590
Just thinking : a field in theme.json can't make possible to disable !important from child theme or plugin.
PHP filter, yes.

[2021-12-23 08:28] gziolo commented on #21872
I opened #37607 to start making the official proposal to switch to the original Prettier in the most recent 2.5 version.

[2021-12-23 08:29] gziolo commented on #37516
I opened #37607 to start making the official proposal to switch to the original Prettier in the most recent 2.5 version. Otherwise, we can't apply the changes proposed because we use a fork that is pinned to Prettier 2.2. I included the fix in #37607.

[2021-12-23 08:45] overclokk commented on #37590
Yes, not yet but a theme.json is a better place for users, not only for developers.

[2021-12-23 08:48] drewcauchi77 commented on #37598
Having same issue as described by @nick6352683. I am using a custom built VueJS theme.

[2021-12-23 09:34] hypest commented on #37594
Let's keep this umbrella ticket in "triage mode" until the RN 0.66 upgrade is merged and we'll then evaluate if any of the follow-up tasks needs prioritized attention.

[2021-12-23 09:50] Mamaduka commented on #37574
I also thought that PR was backported.

[2021-12-23 09:56] andrewstaffell commented on #34558
I've been trawling the Issues this morning and not finding my query/suggestion, so I guess I should create a new one, but since it's loosely related to this one I thought I'd enquire here first.

The query applies to the UX (and DX) of content widths and alignments in general but is certainly most relevant to the Group block in the block theme we're currently building.

At the moment if I understa

[2021-12-23 10:25] aristath opened #37611 "Improve PHP performance for blocks"
The `block.json` convention is extremely convenient, however it does add a few extra steps when core blocks get instantiated:
* We go through folders and look for `block.json` files
* When we locate a file, we read its contents
* `json_decode` the file contents
* Register the block using the decoded data

All these things happen on *each page load*. We could improve the performance and save some p

[2021-12-23 11:49] andrewstaffell commented on #36687
Still broken for me in 12.2.0. Error unchanged.

`Uncaught (in promise) TypeError: Cannot destructure property 'id' of '(intermediate value)' as it is null.`

[2021-12-23 11:55] uniquesolution commented on #35521
Sorry if this is not the right place to put this question here, but I want to know how we can modify the svg icons used for the dropdown in navigation block ? Is there some way through functions.php or otherway to use a different icon, for example plus icon instead of the arrow ?

[2021-12-23 11:56] oandregal commented on #37590
Hi Marie, I'd be interested in learning what issues does this causes for you so we can provide help.

I also want to share the rationale for why we use this technique: we need to respect user choices at all times. There're blocks whose specificity is higher than 010, hence the presets classes attached by the user won't be applied if we don't use `!important`. See [this thread](https://github.com/W

[2021-12-23 12:02] jasmussen commented on #25821
This is fixed:
<img width="1392" alt="Screenshot 2021-12-23 at 13 01 56" src="https://user-images.githubusercontent.com/1204802/147237739-ad293e2c-3bd5-4866-b7eb-93594be0e72f.png">

[2021-12-23 12:02] #25821 closed

[2021-12-23 12:05] jasmussen commented on #35521
@uniquesolution There isn't a way to change those SVGs yet, we are discussing (among other things) how to best enable a UI for that [in this PR](https://github.com/WordPress/gutenberg/pull/36149#issuecomment-957944791).

But you should be able to do it with CSS in the mean time. Something like this:

[code]

[2021-12-23 12:09] gziolo commented on #37611
It sounds like a similar improvement to what we did in WordPress core for the script asset files. We changed the output format from JSON to PHP and included a logic that combines them all into a single file:

https://github.com/WordPress/wordpress-develop/blob/trunk/src/wp-includes/assets/script-loader-packages.php

You can check the changes in this commit: https://github.com/WordPress/wordpress-d

[2021-12-23 13:00] oandregal commented on #37582
There are two issues here:

- Applying the link color is not deterministic in the editor. If I apply the link color to the paragraph and then to the group, the link color is the one set by the group. If I do it the other way around, the link color is the one set by the paragraph.
- In the frontend, the paragraph's link color is overwritten by the group's link color always.

[2021-12-23 13:11] oandregal commented on #37582
Does this happen as well with other block supports that use `render_block`? I'm imagining all block supports for blocks that can be nested should be impacted: spacing and layout (I can't think of a use case in which duotone would fail). cc @youknowriad @andrewserong

[2021-12-23 13:17] oandregal commented on #37582
I'm tentatively marking this as 5.9 must-have so it gets attention.

[2021-12-23 13:20] gingerling commented on #33094
Hi @mtias so I'm set up with a test site with 5.9-beta3 and twenty-22 theme, but can't seem to work out how to edit category pages.

I can see that there is a template for Archives and I can make general design edits there, but I was hoping to find that the content of each category can be edited with the block editor. My aim is to make my category pages closer to a landing page, choosing individua

[2021-12-23 14:14] gingerling commented on #33094
[I worked out how to make and name a new template I think, thinking I should apply the new template to the category and made a separate template for each category, but can't work out how to apply it][

[2021-12-23 14:49] #37568 closed, assigned to Mamaduka

[2021-12-23 15:28] gziolo commented on #25188
I found some time to explore better customization options for the scaffold WordPress plugin with the goal of supporting multiple blocks. You can watch the progress at https://github.com/WordPress/gutenberg/pull/37612. The first step was to allow a custom path for the `block.json` file, and it wasn’t that much work. The biggest challenge is to keep backward compatibility, so custom block plugin tem

[2021-12-23 15:29] annezazu commented on #37605
@Wesam000006 Thanks so much for testing! Can you confirm what version of WordPress you are using? For example, is this being tested with the WordPress 5.9 beta 4?

[2021-12-23 15:43] WraithKenny commented on #32584
I love how you closed the one that wasn't in your favor.

[2021-12-23 15:45] Wesam000006 commented on #37605
@annezazu Thank you for responding.
I'm using WP 5.8.2, and the latest Gutenberg version.

[2021-12-23 15:49] annezazu opened #37617 ""Larger" Font size showing up incorrectly in editor view with Twenty Twenty theme"
### Description

The Twenty Twenty theme has opted into the block editor font sizes and styling. Despite this, the "large" font option shows up as bigger than the "larger" font size when selecting between options in the editor. It renders correctly on the front end. Feel free to redirect me if there is a better spot for this :) I tested the same experience with the Twenty Nineteen theme, which has

[2021-12-23 16:01] annezazu commented on #37605
Excellent. Thank you! I tested and can confirm this with the latest version of Gutenberg but not with the WordPress 5.9 Beta 4 nightly release.

Gutenberg 12.2:

<img width="1235" alt="Screen Shot 2021-12-23 at 10 59 52 AM" src="https://user-images.githubusercontent.com/26996883/147264751-0df9c6e2-6a7d-4f06-87c8-5aa31f393fc1.png">

WordPress 5.9-beta4-52409:

https://user-images.githubusercontent.

[2021-12-23 16:04] SantosGuillamot commented on #34994
All the blocks defined in the [opening comment](https://github.com/WordPress/gutenberg/issues/34994#issue-1002168008) are already merged 👏.

Now, there is still some work going on on some tweaks and fixes to consider the project finished:
- [Add sorting by newer / older first options](https://github.com/WordPress/gutenberg/pull/37297): This is currently in review. It is being added an “Inherit fro

[2021-12-23 16:12] WraithKenny commented on #34325
Env isn't the only package that needs to be separated.

Env, Scripts, Babel-Preset, Browserllist-Config, Prettier-Config, Stylelint-Config, Eslint-Plugin and any other NPM-published package that's **allegedly** supposed to be useful to _plugin and theme authors_ beyond just gutenberg, should all be separated out of this "monorepo."

There are no "advantages" of keeping them in the "monorepo" beyon

[2021-12-23 16:34] annezazu commented on #37572
Okay! I'll be sure this is clear in the documentation. I wanted to note though that I do not see the sibling inserter in the current iteration (tried with just 5.9 beta 4 and with Gutenberg 12.2):

https://user-images.githubusercontent.com/26996883/147268201-7c8f6a57-0b21-4483-a2a7-1a2f689b167b.mov

[2021-12-23 17:02] annezazu commented on #33094
Hi @gingerling! This is not the best spot to ask these kinds of questions as this is meant to be a tracking issue that contributors across the project can come to and see the latest update on the full site editing project. If you're interested in using these features and have similar questions though, I highly recommend joining the FSE Outreach Program: https://make.wordpress.org/test/handbook/ful

[2021-12-23 17:07] oandregal commented on #37617
I gave this a quick test and it seems the CSS Custom Properties for the font sizes provided by the theme are not being generated (they should), hence, the values fall back to the ones provided by core.

I've also noticed that the `small` font size had `13px` (default) and not `18px` as set by the theme.

[2021-12-23 17:27] mcsf commented on #37489
Navigation is a particularly complex block, and seeking to generalise a solution from a sample set of one seems premature. Shouldn't we first use Navigation as the stage for finding the best user experience for dealing with these many-to-many user-cap relationships with the specificities of that block in mind — and only then consider generalisations?

[2021-12-23 18:41] stacimc opened #37620 "Spacing Units: Tweak step values"
### Description

In #36186 it was noticed that some of the spacing units, in particular `em` and `rem`, are configured with a very small step value. This means that when you hold the 'up' or 'down' key to change spacing, `em` moves very slowly compared to `px` for example.

Here's a visual using the height of the Spacer block:

https://user-images.githubusercontent.com/63313398/147279735-51ba6bb7-

[2021-12-23 18:43] stacimc commented on #37620
For a conflicting perspective, quoting @aaronrobertshaw on #36186

[2021-12-23 23:19] WraithKenny commented on #36514
Additionally, `stylelint-config-recommened-scss` @^5 has moved `stylelint-scss` from `peerDependencies` to `dependencies` so that can be removed from this package.json too.

[code]
should become
[code]

[2021-12-23 23:34] timnolte commented on #34325
I'm pretty much in total agreement with @WraithKenny if the individual packages aren't meant for anyone outside of the Gutenberg project then make that explicit, or better yet publish them in a private repo. It does seem rather ridiculous that there is so much in the `wp-env` package that suggests that it was designed with a broader audience in mind, but then it's stuck in a world that makes it ve

[2021-12-24 03:20] annezazu commented on #37342
Can confirm! Just tested and it doesn't remove the content. Thank you for connecting the dots.

[2021-12-24 03:20] #37342 closed, assigned to nobody

[2021-12-24 04:50] lukecarbis commented on #36687
I just tried the latest in twentytwentytwo's `develop` branch, and it works. This is a theme issue, not a Gutenberg issue, and it will be fixed in the next release.

If someone else could confirm, I'll close the issue.

[2021-12-24 09:37] MaggieCabrera commented on #33094
@gingerling  You might want to have a look at [this](https://developer.woocommerce.com/2021/11/22/woocommerce-blocks-6-3-2-release-notes/) if you are interested in Woo templates for block themes

[2021-12-24 11:49] #36250 closed, assigned to nobody

[2021-12-24 16:20] #37552 closed, assigned to Mamaduka

[2021-12-24 18:42] skorasaurus commented on #28154
Hi,

I am not able to reproduce this with version 12.2 of Gutenberg; all templates of ambitious load in the site editor; I am assuming this and hoping this was fixed a while back with the site editor.

Please reopen if you're still experiencing this.

[2021-12-24 18:42] #28154 closed

[2021-12-26 01:57] formosattic commented on #37018
Copy & Paste kind of works now but is still broken. I can paste the HEX code, but:

* the color picker jumps
* the HEX code isn't properly updated in the color picker, I have to paste it again or click on the color palette where it shows the HEX properly set

![](https://user-images.githubusercontent.com/15944096/147396905-62e9518f-b7f7-4138-8318-5391a38bf0bd.gif)

### Environment info

*   Gutenb

[2021-12-26 02:07] formosattic opened #37628 "Highlight: can't manually type in a custom HEX code"
### Description

The Highlight won't let me manually enter an HEX code, and the color picker also jumps.
Related bug: https://github.com/WordPress/gutenberg/issues/37018

![](https://user-images.githubusercontent.com/15944096/147397036-387594b9-4d03-4728-8a43-b2b69e938163.gif)

Current workaround is to copy/paste the HEX code (though it has a minor issue too, see https://github.com/WordPress/guten

[2021-12-26 11:27] anoopd commented on #37345
@mkaz
              I tried to create a plugin example as said in the tutorials but i am getting the exact problem mentioned in https://github.com/WordPress/gutenberg/issues/23304#issuecomment-697569607  .  The value is getting saved for the first time but not getting updated after that .

[2021-12-26 17:48] lwangdu commented on #37628
I am having seem issue with TT2 and WordPress 5.9 bate 4.

[2021-12-26 19:33] nick6352683 commented on #37598
I can now confirm that this is also happening with WP 5.9 beta 4...

[2021-12-26 22:38] jb510 commented on #35676
FWIW.  Same problem.

I expected get_the_ID() to work within a custom function inside the Query Loop Block and it doesn't seem to.  I was trying for the same reason, I needed it to get a custom field via get_post_meta() (actually a set by ACF), from inside the query loop and cant' seem to.  Really wish there were more developer documentation on the Query Loop block like how to use it for CPTs and

[2021-12-27 04:20] morksinaanab commented on #35676
@jb510 Perhaps this helps, because I found this thread looking for a solution myself just now.

If you use `[acf_register_block_type($settings)]` (https://www.advancedcustomfields.com/resources/acf_register_block_type/) to create a block with the ACF Block functionality (which I did), and you want to access the 'post_id' of the current post inside the query loop - instead of the main post_id the p

[2021-12-27 04:25] jb510 commented on #35676
Thank you. But I trying to do the opposite, access the post_id of the post object inside the loop created by the query loop block.  Not the post_id outside it.

I suspect I could do it using the server side code ntsekouras linked above, but...  that's more code than I want to deal with when I can just use a traditional page template here to get what I wanted.   Someday perhaps I'll tackle that, bu

[2021-12-27 09:09] jasmussen commented on #37562
Yes, to me older/newer reads better than next/previous. As you note, that phrasing will likely fall apart a bit if someone uses an odd or non-standard sorting order in their queries, so we'll need both terms.

[2021-12-27 09:25] youknowriad commented on #34325
The fact that all these packages are dependent on each other and evolve together most time is a great indication that the mono repo is the best path forward. You shouldn't be forced to have multiple PRs in parallel in multiple repos to make a change, or do a waterfall kind of flow. The whole open source community is evolving in this direction for these reasons. Smaller PRs for specific packages ex

[2021-12-27 09:53] jasmussen commented on #37397
Just as a followup, I can still trivially reproduce this by right-clicking a navigation block that has nested menu items. Both running trunk locally, but also on a production site running GB v. 12.2.

I've not applied the "Navigation" block label, because the bug is reproducible also with any other block that has nesting — it's just harder to reproduce there.

[2021-12-27 10:01] jasmussen commented on #36998
As a small update, things now look like this in trunk:
<img width="685" alt="Screenshot 2021-12-27 at 11 00 33" src="https://user-images.githubusercontent.com/1204802/147460532-badd7fc6-3d45-4cb2-a11f-1faadd2fa05d.png">

[2021-12-27 11:00] letasync commented on #33583
After working on some patterns and templates I realised this is must.

[2021-12-27 14:09] nerrad commented on #34325
Really? I see a number of advantages that have already been mentioned here. I can understand that you might not agree with the advantages that have been pointed out but that doesn't mean none have been brought up :)

That's a fairly blanket statement that I'd like to provide a counterpoint from observation. I'm aware of _numerous_ plugins and themes that utilize the packages as they are currently

[2021-12-27 14:41] christianoliveira opened #37630 "Importing post with galleries doesn't work properly"
### Description

Feature "import" doesn't work properly when the imported post has galleries. I expect it to import the galleries and the images and the gallery to keep working, but instead of that when clicking an image in the gallery, another image is loaded.

The galleries were created using Jetpack Galleries

The import tools works ok in terms of actually importing the images to the Media data

[2021-12-27 16:22] annezazu commented on #37630
@christianoliveira thanks for reporting this!

Can you please report this in the Jetpack repo? You can find it here: https://github.com/Automattic/jetpack

I'm going to close this out for now as this needs to be investigated by Jetpack first.

[2021-12-27 16:22] #37630 closed, assigned to nobody

[2021-12-27 16:25] christianoliveira commented on #37630
@annezazu thanks, will publish the issue there then!

[2021-12-27 16:28] annezazu commented on #37628
I can replicate with TT1 and 5.9 beta 4 as well cc @jorgefilipecosta once more.

[2021-12-27 16:32] christianoliveira commented on #37630
Created the issue in the Jetpack repository: https://github.com/Automattic/jetpack/issues/22182

[2021-12-27 17:00] ricjcs opened #37632 "Feature request: Option to clear formatting"
In Classic Edit mode (or classic block) there is an option to clear formatting.

![2021-12-27](https://user-images.githubusercontent.com/11923491/147492140-bf359bf0-41c8-494e-883a-80e01efbed85.jpg)

This option is very useful to clean the formatting of some content copied to the post, and also to quickly clean the formatting of texts produced in the editor itself.

It would be nice to have this op

[2021-12-27 17:16] ryelle commented on #37036
Seconding this — it would be great to get the "Inherit default layout" toggle onto the Cover block, so that content can be added without it going full-width across the site.

For example, the top block here is a cover, and the second is a group. It's possible to contain the group content to the normal, readable, content width, but the cover content is full width.

![Screen Shot 2021-12-27 at 12 11

[2021-12-27 18:40] adamziel commented on #37489
@mcsf I think exploring different solutions through the navigation block is a great way to proceed. This issue doesn't prescribe any particular prioritization, it merely highlights a problem that every entity-related block (like [Page List](https://github.com/WordPress/gutenberg/issues/37368)) must consider in some way. I updated the wording to make the intention clearer.

[2021-12-27 18:57] timnolte commented on #34325
@nerrad I think the problem is that `wp-env` if it's supposed to be for plugin and theme development really shouldn't be held hostage by the Gutenberg plugin. All of what's mentioned makes me question that if the mono repo is such a good thing then why isn't Gutenberg and all of the packages put in WordPress Core. From what I've seen the reason is exactly the opposite of your cases on why `wp-env`

[2021-12-27 19:14] #37345 closed, assigned to nobody

[2021-12-27 19:18] youknowriad commented on #34325
I for one would actually love for Gutenberg and core to merge into a single mono repository. The reason it's not is that we don't want to lose all the github flavor and tooling that comes with it. Merging Gutenberg and Core doesn't prevent Gutenberg to ship a plugin (or an alpha version of WordPress) faster than Core, we're just dealing with the difficulty to more Core to GitHub or similar.

[2021-12-27 19:36] bonakor commented on #12602
I have the same issue

[2021-12-27 20:58] annezazu commented on #37630
Thanks so much!!

[2021-12-27 21:08] annezazu opened #37634 "Navigation Block: Classic menus not listed for nav block configured by theme"
### Description

With WordPress 5.9 Beta 4, I tried creating a fresh site with 5.8.2, make a few menus using the prior way, and then switch to FSE. When adding the navigation block, I expected to see various "Classic" menus listed as a result but found none when trying to edit the navigation block that came with TT2. If I added a new navigation block, I could see them listed. I replicated this twi

[2021-12-27 21:51] spacedmonkey commented on #37489
One of the issues, is related different between being able view and edit a entities.

In core data, a request to `wp/v2/types` is made. This request is made with `context=edit` param.

https://github.com/WordPress/gutenberg/blob/812fa1b1f0d0015d9ba5a16ba17610250db08f46/packages/core-data/src/entities.js#L208

This means that only entries / post types that a user can edit can be listed. However, fo

[2021-12-27 22:26] sdwire opened #37635 "Feature Request: Broad control over typography in Global Styles"
## What problem does this address?
WordPress currently gives either too much or too little flexibility when selecting fonts. Blockbase looks like it's trying to address this but hasn't yet figured out what it wants to do. I'm proposing an approach for fonts that's similar to what Gutenberg is doing with colors.  Let the theme be as opinionated as it wants to be and lock things down tight if it wan

[2021-12-28 02:22] JingshanDu commented on #37518
The problem has been isolated --it's associated with a plugin enabled by the service provider. After disabling that particular one, the problem is gone. I think this issue can be closed.

[2021-12-28 02:22] #37518 closed, assigned to nobody

[2021-12-28 07:12] #36521 closed, assigned to youknowriad

[2021-12-28 07:52] Mamaduka commented on #37634
Hi, @annezazu

Do you get different results if you use the Classic theme on 5.9 beta4 to create menus and then switch TT2?

[2021-12-28 07:55] Mamaduka commented on #36977
Hi folks,

I wanted to check in to see if we have a solution to land in 5.9?

[2021-12-28 08:27] jasmussen commented on #36977
I took a quick look at our two current paths forward, keeping or reverting the showing of the toolbar below the block. If you'd like to play along, you can [try removing the exclamation mark here](https://github.com/WordPress/gutenberg/pull/33981/files#diff-adbb4da2d051428d8fd499dca629f3ac366bad3872e986a1ccce48a251b83f41R205).

Here's what it looks like if we keep the toolbar above the block at al

[2021-12-28 08:39] #37077 closed, assigned to jasmussen

[2021-12-28 08:54] #37264 closed, assigned to nobody

[2021-12-28 09:07] hngdny commented on #34729
It seems that we still have recent reports of this happening: https://wp.me/pd4QKa-oI#comment-231

`Firefox 95 on Ubuntu 18.04 and also on a different computer with Chrome 96 and Chromium 90 on Ubuntu 16.04`

Tested on the following themes: Twenty Twenty, Alves, and Business Identity (retired)

[2021-12-28 09:30] jasmussen commented on #37572
#37637 is a PR that takes a stab at changing this behavior just for the navigation block. It's not a PR I really love, neither codewise or the fact that it changes an otherwise standardized behavior. But you're not wrong: looking at the navigation block in isolation, it's not an ideal behavior.

My best hope is that we can get some quick conversation going on that PR to see if/how we can best land

[2021-12-28 10:52] Mamaduka commented on #36857
The issue was fixed via #37453.

[2021-12-28 10:52] #36857 closed, assigned to nobody

[2021-12-28 11:07] Mamaduka commented on #36612
@jameskoster, should we close #36348 or combine these two issues?

[2021-12-28 12:10] youknowriad commented on #36401
Here's a data module related dev note, if there are more data module dev notes, they could potentially be grouped together in a post.

## Data Module

### batch function

WordPress 5.9 introduces the batch function in the data module. It allows you to trigger multiple consecutive actions to one or several data stores without re-rendering the components or notifying any data store subscriber. The s

[2021-12-28 12:13] youknowriad commented on #36401
@mkaz while not mentioned above but I think the most important dev note for 5.9 is going to be a dev note about block themes: how to write them, difference with existing theme, opt-in, link to docs, where to find them in the theme repo...

[2021-12-28 12:14] #36141 closed, assigned to kevin940726

[2021-12-28 12:28] #37168 closed, assigned to geriux

[2021-12-28 12:47] Mamaduka commented on #21245
I started working on Keyboard Shortcut help modal. Unfortunately, it's a bit late for the 5.9, but we should backport it into a minor release.

[2021-12-28 14:27] Mamaduka commented on #21245
@annezazu, do we have a documentation URL for the "Help" button?

[2021-12-28 14:51] annezazu commented on #37634
No. I get the same result sadly :( I tried that yesterday too and found it still does not show unless I add a brand new navigation block to the site editor.

[2021-12-28 14:55] Mamaduka commented on #37634
Thanks for the update, @annezazu. I will try to track this down tomorrow, and hopefully, we can ship the fix with 5.9.

[2021-12-28 14:56] youknowriad commented on #36401
Here's a dev note about block gap, a block support and theme.json config. I believe there are more customization tools made stable in this release, folks like @andrewserong @aaroncampbell @oandregal would know more here and potentially complete this to do a "customization/theme.json dev note". I guess we should also mention the "appearanceTools" flag in this dev note.

# Block Gap

WordPress 5.9 i

[2021-12-28 14:58] superbmario opened #37640 "Navigation Editor: ability to disable via filter"
Much like the filters to disable the new Widgets editor, will there be a filter to disable the new Navigations editor?

Currently for widgets:

[code]

For Navigation I assume the following? Building on the comments at https://github.com/WordPress/gutenberg/issues/24683#issuecomment-903755241

[code]

[2021-12-28 14:59] superbmario commented on #24683
I was wondering if the filters to disable the new Navigations editor are added yet. I cannot seem to find it in the source. I've opened a new issue to track just in case https://github.com/WordPress/gutenberg/issues/37640

Thanks!

[2021-12-28 15:19] annezazu commented on #21245
This will eventually be the URL: https://wordpress.org/support/article/site-editor/ This will provide a similar experience as the Post Editor which links to https://wordpress.org/support/article/wordpress-editor/.

[2021-12-28 15:30] annezazu commented on #37635
Thanks for kicking this off! I do want to mention the larger Global Styles issue https://github.com/WordPress/gutenberg/issues/34574 and the following image/design pulled from there as something to consider:

![132197832-82bc6ead-5eeb-4bea-b26c-cbffe3d05b98](https://user-images.githubusercontent.com/26996883/147581696-5dd554ff-1b01-41c3-bd7b-0cdcace90e6a.png)

As you can tell, this UI hasn't yet b

[2021-12-28 15:49] wpsoul opened #37642 "Template editor conditional tags and file loadings"
I am trying to make perfomance improvements for template and widget editors, but currently I can't find any documentation or functionality for this.

In the current point, the only way to load conditional styles and scripts in Template editor is to attach them in block.json file in block registration. Problem is that this file doesn't support multiple files and conditional loading (for example by

[2021-12-28 16:09] skorasaurus commented on #37632
Hi,

Thanks for reporting;
This has been discussed and/or requested in https://github.com/WordPress/gutenberg/issues/8869. Feel free to [add your reaction](https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/about-conversations-on-github#reacting-to-ideas-in-comments) and follow its progress in the issue.

[2021-12-28 16:09] #37632 closed, assigned to nobody

[2021-12-28 16:23] waviaei commented on #37516
@gziolo Thanks for the explanation. That explains why seeing the error when `@wordpress/eslint-plugin` is used separately from `@wordpress/scripts`. And yes, I agree, I think it will be better going forward, to move back to using the original Prettier .

[2021-12-28 17:48] #37463 closed, assigned to Mamaduka

[2021-12-28 18:07] sdwire commented on #37635
Thanks for connecting these issues, @annezazu. I do like the bigger font previews as shown in the overall Global Styles issue. I also look forward to hearing other designers' thinking that hasn't made it into print yet.

A bit of background that colors my perspective... I run a multisite installation with a limited number of available themes. (Ideally, I'd have just one theme that's widely configu

[2021-12-28 19:11] henimbola opened #37643 "Error "This block has encountered an error and cannot be previewed" when adding BlockControls in edit.js"
### Description

Hi !
I'm trying to follow the tutorial [here](https://developer.wordpress.org/block-editor/how-to-guides/block-tutorial/block-controls-toolbar-and-sidebar/) to learn how to create gutenberg blocks.
Whenever I try to add this :
 `			{
				<BlockControls>
					<AlignmentToolbar value={attributes.alignment} onChange={val => { setAttributes({ alignment: val === undefined ? 'none' : va

[2021-12-28 19:59] annezazu opened #37645 "Moving Query Loop nested blocks with Grid View"
### Description

In WordPress 5.9 beta 4 using the Twenty Twenty theme (not a block theme), I'm seeing some strange disappearing/moving nested blocks within the Query Loop upon selection if you use the Grid View. This only seems to happen if you have the Query Loop in different column setups from what I can tell with testing. cc @ntsekouras

### Step-by-step reproduction instructions

1. Use WordP

[2021-12-28 20:00] annezazu commented on #37642
cc @aristath and @youknowriad perhaps you all might have some ideas?

[2021-12-28 22:11] matthiasballreich commented on #14604
Same here. The default block should have this option to enable or disable the image caption or maybe a second block for this. And it should have the Lightbox options, too. (but i think this is not needed). @cr0ybot has said it:

[2021-12-29 00:49] neilorangepeel commented on #37617
I'm working on a custom theme and the 'normal' and 'large' CSS Custom Properties are being generated but are being overwritten by the [editor.scss](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/editor.scss) as it has a higher specificity. `:root .editor-styles-wrapper ` vs `.editor-styles-wrapper `.

<img width="357" alt="Screenshot 2021-12-28 at 17 47 15" src="https

[2021-12-29 01:49] iandunn commented on #22469
https://github.com/WordPress/gutenberg/issues/36008 might help to solve the updating problem, since certain parts of a template could be locked, while others allow user edits.

Locked parts could always be loaded from the file system, while unlocked parts could be loaded from the db _if_ the user has made changes.

[2021-12-29 01:51] iandunn commented on #22528
~~That doesn't work for me. I'm guessing because of https://github.com/WordPress/gutenberg/pull/37359~~

Er, nevermind, it does work w/ Gutenberg `12.2.0` and Core `5.8.2` 👍🏻

[2021-12-29 01:58] melchoyce commented on #37018
Also just encountered this — it's a pain when working with multiple custom colors!

[2021-12-29 02:30] mauteri commented on #21718
Hi! I create a PR in an attempt to improve the user experience with this issue. I see recent changes have removed the white screen, which is great. In my change I'm looking to mimic the experience of a post edit that is missing a block, and utilize the core/missing block in the createBlock function if a block isn't registered. This keeps the layout intact where blocks are registered, and calls out

[2021-12-29 03:57] carolinan commented on #21245
@annezazu I'm out of the loop because of the holidays, does that mean the project agreed to keep using the term "site editor" ?
Is it still only going to be called "Editor" under appearance?

[2021-12-29 04:01] annezazu commented on #21245
It's only going to be called "Editor" under Appearance but I'm not quite sure how else to position this. If we reuse the current https://wordpress.org/support/article/wordpress-editor/ doc and add in FSE related content, it'll likely confuse many of the folks who are just using the Post Editor. The best middle ground I could provide was by creating a separate doc for the Site Editor since that mat

[2021-12-29 05:11] ank1traj commented on #37511
Testing Environment -

- WordPress version - 5.9 beta-4
- OS: MacOS Monterey 12.0.1
- Browser used - Version 96.0.4664.110 (Official Build) (arm64)

This issue is still not fixed.

[2021-12-29 07:16] uniquesolution commented on #36545
Hi, @aaronrobertshaw , I want to suggest that instead of just showing dynamic text for "clamp(1.8rem, 2.5vw, 2.8rem)" type of font size, I think it should show min max or either just the max value together with it, something like "Dynamic - 2.8rem)" because, currently it become difficult to get idea what font size text is taking.

[2021-12-29 07:25] ntsekouras commented on #36545
👋 - the use cases can vary a lot like `clamp, var` etc.. and even if we extracted something from everything It's not really indicative of the final font size. This is especially true in general for relative length units like `em, rem, etc..`.

[2021-12-29 08:40] ntsekouras commented on #26899
Is this possible now with the `Row` block? Would something more be needed?

[2021-12-29 08:50] uniquesolution commented on #36545
@ntsekouras , then I suggest, show font size as tooltip on hover and it should simply display the value we exactly put in the theme.json file, or from global settings.

[2021-12-29 09:15] ntsekouras commented on #36545
That was the reason behind these changes. Do you think it would be helpful to show for example `var(--some-variable-name)`?

[2021-12-29 09:25] uniquesolution commented on #36545
In case of variable, we can show the value of variable , (for example  --wp--preset--font-size--my-font-size: 2rem; should show 2rem for var(--wp--preset--font-size--my-font-size), but in case of any fixed value, like 2rem, 12px, clamp(16px, 2vw, 20px) etc, it should show exact the same value as provided. for common person it gives the idea how the font size is taking its value.

[2021-12-29 10:03] jasmussen commented on #26899
Tangential to this ticket (as noted by @ntsekouras a row block might go a long way here), but one use case I'd love to see supported is to allow more direct prose in the post meta, a la `Alice in Wonderland was posted on Nov. 25th and filed in Books`. A standalone "post meta" block has been suggested before, but to put the idea out there, inline chips if at all feasible could bring a lot of flexib

[2021-12-29 10:29] CreativeDive commented on #36812
@ryelle @annezazu hey I already have provided more informations. This issue is very easy to fix. No response here. Do you can fix this please before WordPress 5.9 will release?

The same here: https://github.com/WordPress/gutenberg/issues/36733

Nothing happened but the WP 5.9 release will come?!

[2021-12-29 10:53] Mamaduka commented on #37643
Hi, @henimbola

It looks like you're missing the `BlockControls` import; applying the suggested changes below should fix the issue.

[code]

[2021-12-29 11:11] jorgefilipecosta commented on #36401
Here is a dev note for PR https://github.com/WordPress/gutenberg/pull/35562.

# Updates to property `onChangeComplete` on `ColorPicker` component

The property `onChangeComplete` was deprecated to make the component more consistent with the rest of the codebase. Developers should update their code to the `onChange` property, a function that receives just a string with the color code. The property

[2021-12-29 12:39] youknowriad commented on #37072
I haven't been able to reproduce this personally, I've tried adding 8 similar patterns to the same category and using 2022 theme and everything is shown properly (you do notice the patterns appearing one by one but that's fine). Can you share the list of patterns you're adding as an example here?

[2021-12-29 12:47] ntsekouras commented on #37072
@youknowriad does this work well for you? I actually didn't try custom dynamic patterns, but seems to be the same problem.

[2021-12-29 12:59] youknowriad commented on #37072
@ntsekouras yes, I basically used this pattern 8 times and it worked.

[code]

[2021-12-29 13:19] ntsekouras commented on #37072
TwentyTwentyTwo Query patterns have perPage big numbers (12, etc..). Can you activate this theme and just open the `Query` category in Inserter/Patterns explorer?

I think it's related with the time to render the previews (more posts for example more time to render) and might have some memory problem there? 🤔

[2021-12-29 13:40] henimbola commented on #37643
Hi @Mamaduka Thanks for your quick feedback.
I didn't give attention on the imports. Thanks for your help.
I will see if it fixes.

[2021-12-29 14:12] matthiasballreich opened #37652 "Lightbox option for gallery block"
It would be very nice to have the Lightbox option for the gallery block. I now i can click on every single image inside the gallery block and enable there the lightbox option, but if i have many images, this ist not the best way. It would be much better to have the lightbox option for the whole gallery block.

[2021-12-29 14:20] #31137 closed, assigned to Mamaduka

[2021-12-29 14:42] mkaz commented on #36401
Thanks @youknowriad and @jorgefilipecosta for the updates and notes!

The blockGap should be combined with other styles and theme updates.

As for data and components, both are short, should we combine into a misc updates for WP 5.9?
This could also include the deprecations and a few other smaller ones above

[2021-12-29 14:45] youknowriad commented on #37072
Depending on the number of posts I have on the database, I do see a waterfall effect when rendering the patterns but it always renders everything after 3/4 seconds. (Maybe I have a very computer though)

[2021-12-29 14:47] youknowriad commented on #36401
Sounds like a good plan to me. I'll share my remaining one (removed APIs) later (tomorrow most likely) which should also go into the misc updates.

[2021-12-29 14:52] annezazu commented on #36812
There are a lot of priorities to balance with WordPress 5.9. You can see the full project here: https://github.com/WordPress/gutenberg/projects/62 High priority bugs will be prioritized currently, especially since we're leading up to the RC1 period.

[2021-12-29 15:08] ntsekouras commented on #37072
Yes, eventually if you leave it for some time it will load (in my case is minutes).

I think this is what we need to find.

[2021-12-29 15:38] lwangdu commented on #37652
If there is lightbox option for the gallery block, that would be wonderful.  So we don't have to install another plugin, for that reason. Thank you.

[2021-12-29 15:39] youknowriad commented on #37072
This is intended. `useAsyncList` renders the list one by one and only start rendering the next one if the browser is "idle" (see requestIdleCallback). The problem here is that the browser doesn't seem to be idle, meaning if we remove `useAsyncList`, everything will freeze. I think we should potentially show empty placeholders for patterns that are yet to be rendered instead of not rendering them a

[2021-12-29 15:43] ntsekouras commented on #37072
I know that. I meant if there is something like a memory leak in the flow.

[2021-12-29 15:45] youknowriad commented on #37072
This could potentially be a symptom of another performance problem indeed but I doubt it's memory related. I think what could happen here is that maybe these "query blocks" re-render too much (or constantly) which means the browser is never idle (or rarely).

[2021-12-29 15:53] gziolo commented on #25188
I made some good progress in #37612, and I think it has enough changes to land them before we can add full support for multiple blocks in one scaffolded WordPress plugin:
-   Added support for handling block templates with the `blockTemplatesPath` field in the external template configuration.
-   Added a new field `folderName` for setting the location for the `block.json` file and other optional b

[2021-12-29 16:29] #37605 closed, assigned to jorgefilipecosta

[2021-12-29 17:04] jcoonrod opened #37653 "Latest Posts Columns don't break with Column breakpoints"
### Description

On my site, I use the columns block to create 4 responsive columns in several places. When I set Latest Posts block to 4 columns, I would expect it would behave the same way - dropping first to 2 columns and then to 1 column. But it just drops to 1 column. Is there a way to have it behave the same way as the Columns block?

### Step-by-step reproduction instructions

1. Insert the

[2021-12-29 17:40] mkaz commented on #36401
@youknowriad I wrote up a [draft dev note for block theme here](https://gist.github.com/mkaz/c43760e7b8139a5c2c66b8d1ae9972bf). Let me know if that covers what you had in mind or if I'm missing anything. 👍

[2021-12-29 17:45] youknowriad commented on #36401
@mkaz That reads more as an introduction to block themes with links to dig deeper. I think that's one of the approaches we could take. It's fine by me, but I just want to make sure that it's ok for dev notes to be written that way.

Also, the other day I wanted to look at the theme documentation to submit a block theme and it's essentially tailored for classic themes, we'll have to make some updat

[2021-12-29 17:51] mkaz commented on #36401
We've been [talking with the theme team](https://make.wordpress.org/docs/2021/12/08/meeting-notes-theme-docs-updates-for-wp-5-9-and-block-themes/) and have [a docs ticket open](https://github.com/WordPress/Documentation-Issue-Tracker/issues/92) to update the Theme handbook. So that work is in progress.

It's hard to tackle how to create a block theme in a single dev note. I'll look at adding the t

[2021-12-29 18:07] chthonic-ds commented on #37617
@neilorangepeel https://github.com/WordPress/gutenberg/pull/37526 appears to lower the specificity and correct the issue you're seeing.

[2021-12-29 19:39] jcoonrod commented on #5366
+1 two years later...

[2021-12-29 20:42] eric7186 commented on #37494
Is it possible to define a custom preset to be triggered by a matching block Additional Class? As an experiment, I have added a class of "warn" to a paragraph block. In the theme.json I have defined a custom preset like this:{
    "version": 2,
    "settings": {
        "warn": {
            "color":"purple!important"
        }
But when I inspect the page in Chrome there is no style applied to the

[2021-12-29 21:05] iandunn commented on #36061
https://github.com/WordPress/gutenberg/issues/21932 also seems related

[2021-12-29 21:14] WraithKenny commented on #34325
"The fact that all these packages are dependent on each other and evolve together"

This isn't even remotely true. 5 of them are independent coding standards, and the other 2 are barely related, and shouldn't be related.

[2021-12-29 21:58] CreativeDive commented on #36812
@annezazu can't understand why issues, which are very easy to fix could not be processed faster.

Here is a priority high issue from may this year. https://github.com/WordPress/gutenberg/issues/31753

This issue is still open.

[2021-12-30 02:18] annezazu commented on #36812
I hear you! There are a ton of high priority projects and features to ship with each release. I've flagged this as best as I can and will continue to do so as fixes will always continue to happen with WordPress in due time. In turn, please keep in mind that what might be a major priority for you might not always be a major priority for the project as a whole. Thank you for continuing to flag these

[2021-12-30 02:19] mkaz commented on #30583
Closing as this interface no longer exists.

[2021-12-30 02:19] #30583 closed, assigned to nobody

[2021-12-30 02:28] mkaz commented on #21026
This is no longer necessary since hooks are the preferred way to manage component state.

[2021-12-30 02:28] #21026 closed

[2021-12-30 02:30] mkaz commented on #25021
Closing in favor of https://github.com/WordPress/gutenberg/issues/30579

[2021-12-30 02:30] #25021 closed

[2021-12-30 02:55] mkaz commented on #30688
This is no longer relevant as the inserter and InnerBlocks have been refactored and modified various times for Navigation block, this can be achieved in new wyas.

[2021-12-30 02:55] #30688 closed, assigned to stokesman

[2021-12-30 03:00] mkaz commented on #30584
Closing as this ticket is no longer relevant, since these screens are no longer available in the template editors.

[2021-12-30 03:00] #30584 closed, assigned to nobody

[2021-12-30 05:49] carlomanf commented on #26621
This doesn't really apply anymore since the post editor mode for templates was removed, so this one can be closed. It would still be worth adding support for draft templates, though.

[2021-12-30 05:49] #26621 closed

[2021-12-30 06:13] carlomanf commented on #19278
I don't have the ability to close this, but I believe it was fixed with #37545. However, it appears that the fix has [not propagated over to core yet](https://github.com/WordPress/wordpress-develop/blob/trunk/src/wp-includes/block-template.php#L212) so I expect there will need to be a mirroring patch for core. @TukuToi @carolinan @Mamaduka

[2021-12-30 06:20] Mamaduka commented on #19278
Thanks for the ping, @carlomanf. Yes, I believe the issue got fixed by the PR you mentioned.

I'm not sure if we can backport the fix into core this late in the release cycle, but I left the comment in the PR.

I will close this issue since the bug is fixed in the plugin.

[2021-12-30 06:20] #19278 closed

[2021-12-30 06:45] Mamaduka commented on #37634
@annezazu, I think this behavior is intentional, but I couldn't find details in PRs. @talldan or @getdave might have more information.

[2021-12-30 07:39] Mamaduka commented on #37534
I can also reproduce the issue.

## Screencast
https://user-images.githubusercontent.com/240569/147730579-2c5c1713-46aa-40a8-9a0b-3ecbe9d1ceac.mp4

[2021-12-30 07:55] them-es opened #37656 "FSE Navigation block: Inline images in nav links break submenu layout"
### Description

Adding inline images to top level navigation items breaks the output of the submenu toggle indicator icon (see screen recording).

### Step-by-step reproduction instructions

1. Install a FSE Theme (e.g. TwentyTwentyTwo)
2. Edit site and add a new navigation
3. Add a submenu
4. Insert inline images to the top level navigation links
5. Save settings
6. Open the Frontend and notice

[2021-12-30 08:25] them-es opened #37657 "FSE Navigation block: Menu item for "Posts page" is missing required class if added as static page"
### Description

If a posts page has been added as a *static* page (see instructions/screenshot below) the respective menu item should include required menu classnames like `current-menu-item`.

### Step-by-step reproduction instructions

1. Open `Settings > Reading` and select "Your homepage displays a **static** page"
2. Select a "Homepage" (e.g. Home) and a "Posts page" (e.g. News)
3. Install a

[2021-12-30 08:48] Mamaduka commented on #37643
Hi, @henimbola

I just wanted to check in to see if my suggestion helped you fix the issue?

[2021-12-30 10:22] dingo-d commented on #34757
Will the read more length of the excerpt block be returned in WP 5.9 or GB plugin 12.3?

[2021-12-30 10:29] carolinan commented on #34757
@dingo-d I don't see a pull request for solving the issue, so I don't think it will be solved in time.

[2021-12-30 10:34] paulgibbs opened #37659 "Use `core/post-template` to have each post render within `<article>` tags"
## What problem does this address?
How should I use the `core/post-template` block to have each post render within `<article>` tags?

With WP 5.9 beta 4, using the Twenty Twenty Two theme included, on the home page (showing a list of all blog posts), the collection of posts is wrapped inside a `ul` and individually in `li` tags. Looking at the editor and the source code, this is[ rendered by the `

[2021-12-30 12:02] Mamaduka commented on #37532
Hi, @karmatosed

I can see the "Image" block correctly selected when I try `ima`, but I get the same results as you with `img`.

![CleanShot 2021-12-30 at 16 00 54](https://user-images.githubusercontent.com/240569/147750278-e234414a-d131-4bfb-bb87-9e34883f6432.png)

[2021-12-30 12:15] gziolo commented on #25188
I also opened #37661 that enhances how entry points for the project are discovered. They now can be detected by scanning all script fields in `block.json` files located in the `src` directory. The fallback entry point remains the same `src/index.js` (other supported extensions: `.jsx`, `.ts`, and `.tsx`) in case there is no `block.json` file found.

This complements #37612 where the `@wordpress/cr

[2021-12-30 13:15] MatzeKitt commented on #30862
Still an issue in WordPress 5.8.

[2021-12-30 13:18] kjellr commented on #29484
@noisysocks: flagging this one as a must-have since it seems like a regression.

[2021-12-30 16:07] Mamaduka commented on #27263
Hi, @Rahe

Sorry it took me this long to look into this issue. It's been on my to-do list for a while now.

I don't think setting `AUTOSAVE_INTERVAL` to false, or 0 is the correct way to disable autosaving. The editor's autosave monitor will run this action with minimum delay when these values are provided.

WP core needs a different method, maybe a new `AUTOSAVE` constant for disabling this featu

[2021-12-30 16:18] github-actions[bot] opened #37668 "[Flaky Test] clicking export should download edit-site-export.zip file"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
clicking export should download edit-site-export.zip file

## Test path
`specs/site-editor/site-editor-export.test.js`

## Flaky rate (_estimated_)
`0 / 0` runs

## Errors

<details>
<summary>
	<time datetime="2021-12-30T16:18:43.418Z"><code>[2021-12-30T16:18:43.418Z]</code>

[2021-12-30 16:18] Mamaduka commented on #37659
Hi, Paul

I think adding an HTML element selector to the Advanced settings makes sense.

/cc @ntsekouras What do you think?

[2021-12-30 17:15] troytempleman commented on #21830
The pattern block works as a CPT `'template'` for me too, but unfortunately I can't lock it the same way as I could before with an array version of the template.

As soon as I add `'template_lock' => 'all'` to the CPT, the template layout disappears and reverts to default.

Maybe I'm doing something wrong though. Does anyone have a working solution to locking a pattern?

Thanks!

[2021-12-30 17:41] hteumeuleu opened #37669 "Nesting groups with non-default tagName generates unexpected HTML"
### Description

When nesting a Group block inside another Group block with a non-default `tagName` attribute, the generated HTML seems wrong and unexpected.

Keeping the default `tagName`, the result of such blocks would be:

[code]

Using a non-default `tagName` for the first Group (for example choosing `<aside>`), the result is the following:

[code]

Notice how the `.wp-block-group__inner-cont

[2021-12-30 19:13] Andrew-Starr commented on #37669
I see you do not have Gutenberg installed, and in the latest version (and I assume in upcoming core WP 5.9 also) the inner element `<div class="wp-block-group__inner-container">` is no longer used, and this issue will effectively be fixed.

The resulting HTML would be correctly nested like so:
[code]

[2021-12-30 19:18] ryelle opened #37670 "Quote block: Border added through theme.json removed on alternate styles"
In [my custom theme](https://github.com/ryelle/ryelle-codes-2022), I've added a border to the quote block in theme.json. It works fine with the default style, but if "Plain" or "Large" is selected, it creates a difference between frontend & editor. The border exists in the editor, but disappears on the frontend. Since I intentionally added a border in theme.json, I expect it to be there on all quo

[2021-12-30 19:42] nick6352683 commented on #37598
Update: The issue does not show up in WP 5.9 beta 4... However the moment you activate the Gutenberg plugin, the duotone filter stops working on the front end, which I'm guessing that WP 5.9 is merged with a Gutenberg version older than 12.1.0. But sooner or later when a newer version of Gutenberg will be merged to the core, this ugly bug will reappear again.

[2021-12-30 21:01] TeBenachi opened #37671 "Export tool turns var() into unicode characters"
### Description

### Issue
When template files use variable `var()`, export tool turns the variable into Unicode characters.

For example, Page template in Twenty Twenty-Two uses
`var(--wp--custom--spacing--medium, 6rem)` on the line 5.

![screenshot-TT2](https://user-images.githubusercontent.com/30734209/147786942-0043135a-6797-48ea-8a60-076ff2d1535a.jpg)

After exporting, the variable turns into

[2021-12-30 21:42] alberto-marin commented on #29484
Hi, I was curious about this one and made a pull request with something that could fix it: https://github.com/WordPress/gutenberg/pull/37672

[2021-12-30 23:19] spacedmonkey opened #37673 "Navigation block: Item spacing wrong."
### Description

Item spacing between navigation links is in correct. It seems to be an issue with flexbox css.

### Step-by-step reproduction instructions

1. Activate block theme.
2. Create navigation block with links.
3. Save.
4. View in Safari 13.1.2

### Screenshots, screen recording, code snippet

Safari 13.1.2
![Screen Shot 2021-12-30 at 6 11 46 PM](https://user-images.githubusercontent.com

[2021-12-31 01:32] annezazu commented on #37634
Thanks for digging in. Happy to close out if there's more context but wanted to report to be safe in case it wasn't :)

[2021-12-31 02:24] annezazu commented on #37671
cc @Mamaduka perhaps since you've done work around exporting items: https://github.com/WordPress/gutenberg/pull/36619

[2021-12-31 02:28] annezazu commented on #37598
I experienced this earlier this week but found it went away with beta 4 :D To be safe, went digging and found this. Either way, tagging in @ajlende to take a look! Thanks so much for reporting this.

[2021-12-31 05:20] chthonic-ds commented on #37673
This is most likely due to `gap` for flexbox only having support in Safari since 14.1: https://webkit.org/blog/11648/new-webkit-features-in-safari-14-1/.

The Navigation block currently uses `gap` with flexbox to manage horizontal spacing between items: https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/navigation/style.scss#L303-L325

[2021-12-31 07:11] Mamaduka commented on #37669
@Andrew-Starr is correct. The issue was fixed via #36256 and will ship with WP 5.9.

[2021-12-31 07:11] #37669 closed, assigned to nobody

[2021-12-31 07:25] Mamaduka commented on #37671
Thanks for the ping, @annezazu. Assing this issue to myself and will have a look next week.

[2021-12-31 07:40] Mamaduka commented on #35431
The issue was fixed via #36256.

[2021-12-31 07:40] #35431 closed, assigned to nobody

[2021-12-31 09:05] hteumeuleu commented on #37669
Thank you!

[2021-12-31 11:32] AbhijitNage123 opened #37675 "Issue with the new core/gallery custom attribute are getting undefined after activating new version of gutenberg."
### Description

Hello there,
It seems that while testing the newest version of Gutenberg v1.12.0.
I found that the custom attributes are getting undefined for the new core/gallery.
I know that Gutenberg refactored the core/gallery with images block. I'm adding some attributes to the core gallery to customize it.
But I'm not getting the values of the old attributes now. Is there any way to get a p

[2021-12-31 12:26] fluiddot commented on #34938
Upon further investigations, I found that the issue is unrelated to what I stated in the previous comment but Aztec which automatically recalculates the active text format when pressing the backspace key (i.e. deleting backward), as shown in the following example on an empty paragraph:

**1. Enable bold format (note the font attribute attribute `font-weight: bold`)**
[code]

**2. Type `123`**
[cod

[2021-12-31 14:07] Mamaduka commented on #35122
I think this was fixed via #37434.

[2021-12-31 14:50] annezazu opened #37677 "Site Logo block missing option to set site icon"
### Description

While writing documentation for 5.9, I went to get screenshots for this change https://github.com/WordPress/gutenberg/pull/35892#event-5800922904 and was unable to see the option to set the site logo block as the site icon, despite someone else mentioning in the thread that they could with 5.9 beta 3. I tried with beta 4 and with the nightly beta 4 (5.9-beta4-52424). cc @stacim

#

[2021-12-31 14:54] Mamaduka commented on #37677
The #35892 got merged after beta 4 was released. The feature will be available in Gutenberg 12.3.

It has backported label, but I don't think we merge it now because of the size of the change and new strings.

We can probably backport it into a minor release.

[2021-12-31 15:15] annezazu commented on #37677
Ahhhh I see. I saw someone mention 5.9 beta 3 in testing in the comments so wanted to be safe by reporting :) Would be good to get it into a minor release. Thank you! I'll close this out.

[2021-12-31 15:15] #37677 closed, assigned to nobody

[2021-12-31 15:25] richtabor commented on #33212
I'm not 100% sure, but I think this is related to the background color styles not being properly reflected TwentyTwentyOne's patterns, as the theme is using enqueue_block_editor_assets() to add CSS variables to the editor.

<img width="1377" alt="CleanShot 2021-12-31 at 10 23 38@2x" src="https://user-images.githubusercontent.com/1813435/147830326-7f50b703-b051-40b9-a2ea-eedb5fb77a1d.png">

[2021-12-31 15:54] iandunn opened #37678 "Duplicate comment/markup is bad devex"
## What problem does this address?

When writing FSE templates by hand, I often need to write the comment, and then the corresponding markup, and duplicate the values in both places. For example:

[code]

If I remove the comment, the markup no longer shows up in the editor:

[code]

If I remove the markup but leave the text, the markup isn't generated on the front end:

[code]

Other times, though

[2022-01-01 09:52] Jugibur opened #37680 "List View: Don't jump to an element if it's already in the viewport"
## What problem does this address?

The more complex a block becomes, the more often I use the Navigator. In principle, I find it helpful when the navigator scrolls an element / block into the viewport after clicking on it.
But especially when jumping to further elements within a block, the automated re-adjustment changes my consciously chosen scroll position and additionally it brings a bit of di

[2022-01-01 17:20] iidastudio opened #37681 "Layout of post-template is broken on the editor when query block displayLayout is type flex."
### Description

On Gutenberg 12.2.0, Layout of post-template is broken on the editor when query block displayLayout is type flex.
When one list in the post-template is selected, the list (.block-editor-block-preview__live-content) becomes display:none, but it exists in the code. (At the same time, a .block-editor-block-list__layout is created.)
So the unintended list becomes :nth-child(3n) and ma

[2022-01-01 19:14] tomjn opened #37682 "Post Editor always assumes a logged in user with valid session"
### Description

The editor always assumes a valid session that can use the REST API is available, but this is a broken assumption. Sessions can expire, be invalidated, etc.

 - the block editor makes a request to the REST API's `me` endpoint to identify who the current user is
 - the REST API responds with a bad error code because nobody is logged in, there is no `me`
 - the block editor reverts

[2022-01-02 02:10] NazimHAli commented on #28684
Has anyone come up with a good way, pattern to handle this? It bothers me that we have to build the same UI twice, in php and js.

For simple blocks, I was thinking of parsing a shared js template.

[2022-01-02 02:13] NazimHAli commented on #28684
@gziolo so `save` only outputs static compiled html?

[2022-01-02 04:25] torounit commented on #36401
@mkaz I wrote a draft note about `editor.PostTaxonomyType` .

https://github.com/WordPress/gutenberg/pull/33418#issuecomment-1003661959

[2022-01-02 07:55] gziolo commented on #28684
Yes.

[2022-01-02 14:43] NazimHAli commented on #28684
@gziolo thanks for the confirmation, that is definitely not how I understood the docs/tutorials :disappointed:

My understanding was:
- All the JS/CSS/HTML for `edit` will be served in the admin UI
- All the JS/CSS/HTML for `save` will be served client side

[2022-01-02 15:28] mkaz commented on #36401
Thanks @torounit, it looks good. I've added it to the Misecellany dev note that will be published shortly around the RC1.

[2022-01-03 05:45] carolinan commented on #37574
I did new fresh clone of wordpress-develop, and I am still unable to place template parts in the template editing mode.
WordPress: 5.9-beta4-52408-src

<details>
  <summary>Site Health Info</summary>
`
### wp-core ###

version: 5.9-beta4-52408-src
site_language: en_US
user_language: en_US
timezone: +00:00
permalink: /%postname%/
https_status: false
multisite: false
user_registration: 0
blog_public

[2022-01-03 07:13] digamber89 commented on #8379
@mitogh where exactly should i write this code ?

[2022-01-03 10:41] gziolo commented on #19237
I finally found some time to implement the new `plugin-zip` command in `@wordpress/scripts` with #37687.

[2022-01-03 13:16] swissspidy commented on #34101
As mentioned on #37686

An alternative approach might be to add a second `addLocaleData` function or so that does this, and leave `setLocaleData` unchanged, to avoid a breaking change like this.

[2022-01-03 14:19] kjellr commented on #37198
If a theme specifies the width like this, it works correctly in the editor:

[code]

<img width="688" alt="Screen Shot 2022-01-03 at 9 14 30 AM" src="https://user-images.githubusercontent.com/1202812/147941230-1e6c0c2c-9f4d-4af5-a25c-e1459340264b.png">

.... but the front-end is still incorrect:

<img width="728" alt="Screen Shot 2022-01-03 at 9 14 40 AM" src="https://user-images.githubusercontent

[2022-01-03 15:06] shramee opened #37691 "gutenberg_locate_block_template slicing template slugs"
### Description

#### TLDR

Check if specificity `$index` of the located php `$template` is not false before clearing out the template candidates `$templates` in [`gutenberg_locate_block_template`](https://github.com/WordPress/gutenberg/blob/59fbccf780970369682514a6b4e55411e1b7120c/lib/compat/wordpress-5.9/block-template.php#L41)

------------------------------------------

Function `gutenberg_loc

[2022-01-03 15:07] eric7186 commented on #37494
I found some work already being done in this area: https://github.com/WordPress/gutenberg/pull/7362
mtias commented on Jun 21, 2018
<img width="342" alt="image" src="https://user-images.githubusercontent.com/4217236/147946492-8de5b8d8-aaa1-4c1a-b080-d9c909c607e1.png">

[2022-01-03 16:26] annezazu commented on #37675
@glendaviesnz curious if you have any insights here!

[2022-01-03 16:53] shaunandrews commented on #37262
I don't think there needs to be a global way to adjust link sizes or fonts. I could see the need for color or appearance, but everything else seems like it would cause more problems than it would solve.

[2022-01-03 17:24] oandregal commented on #36401
# Public PHP API to access global settings & styles from `theme.json`

Following the introduction of a [theme.json API in WordPress 5.8](https://make.wordpress.org/core/2021/06/25/introducing-theme-json-in-wordpress-5-8/) and its [corresponding JavaScript API](https://developer.wordpress.org/block-editor/reference-guides/packages/packages-block-editor/#usesetting), WordPress 5.9 comes with a PHP p

[2022-01-03 17:31] annezazu commented on #37603
Thanks for reporting this! Here's a video that I think better demonstrates the problem:

https://user-images.githubusercontent.com/26996883/147961024-586178fa-63d9-4d1e-abfa-f41308902a48.mov

cc @jorgefilipecosta

[2022-01-03 17:32] annezazu commented on #37680
@Jugibur thanks for reporting! When you say the Navigator, [are you talking about List View](https://wordpress.org/support/article/list-view/)? Just want to be sure we're talking about the same thing.

[2022-01-03 17:42] annezazu commented on #37681
Ah ha. I saw this behavior too when I reported this issue: https://github.com/WordPress/gutenberg/issues/37645

Something funky seems to have changed with the Query loop block recently. cc @ntsekouras

[2022-01-03 18:00] annezazu commented on #36524
Can this be closed since Navigation areas weren't pursued?

[2022-01-03 18:18] Jugibur commented on #37680
Thanks too for your reply! Yes what I mean is the List View. I didn't know this element was called that, to me it just felt like a "navigator" :-)

[2022-01-03 18:22] sultann opened #37692 "Copy/paste bug on pull quote blocks"
### Description

When the user copies text from a different block that is formatted(Rich text) and attempts to paste in the pull quote block, nothing happens.

### Step-by-step reproduction instructions

1. Create a post
2. Insert a paragraph block and within the block paste the first paragraph (https://prnt.sc/25uobgg) from https://www.lipsum.com/  make sure **Lorem Ipsum** part is bold like http

[2022-01-03 18:47] jorgefilipecosta commented on #37628
This issue seems to have been fixed on https://github.com/WordPress/gutenberg/pull/36263. I guess the fix needs some update. @alshakero would you be able to have a look?

[2022-01-03 19:07] jorgefilipecosta commented on #37603
WordPress 5.9 will not contain this new color UI where the palette appears on a popover it will still keep the older UI.
This is a complex issue we did multiple fixes on https://github.com/WordPress/gutenberg/pull/37430. But ultimately we may still face issues when the popover has no space to be above the color or below. We can scroll the color UI by scrolling the block inspector to access the oth

[2022-01-03 19:25] kjellr opened #37694 "[Navigation] Vertical orientation control does not work with the "Page List" block"
### Description

"Page List" block items do not stack when the "Vertical" orientation is selected.

### Step-by-step reproduction instructions

1. Add a new navigation block.
2. From the placeholder options, choose "Add all pages"
3. In the sidebar, select the "Vertical" orientation.
4. Note that the pages do not appear stacked.

### Screenshots, screen recording, code snippet

![screenshot](https

[2022-01-03 19:26] kjellr commented on #37694
cc @jasmussen in case this is related to any recent changes in https://github.com/WordPress/gutenberg/pull/37444.

[2022-01-03 19:40] chthonic-ds commented on #37671
I believe this is happening for any instance of `--`, not just for CSS variables.

For example, `wp-block-query--cards` becomes `wp-block-query\u002d\u002dcards` when exported.

[2022-01-03 19:49] eric7186 commented on #37494
I figured it out.
1. I had to create a function (functions.php) to add the CSS to the default:
add_action( 'after_setup_theme', function() {
    add_theme_support( 'editor-color-palette', array(
        array(
            'name'  => __( 'Warn' ),
            'slug'  => 'warn',
            'color' => '#9B1FE8',
        ),
2.  then on the block just add the Additional CSS class: has-warn-color has-t

[2022-01-03 19:58] kjellr opened #37695 "[Navigation] Left justification is broken when Vertical orientation is used"
### Description

When the "Vertical" navigation orientation is active, items currently only appear centered or right-aligned. The left-justification control has no effect.

Possibly related to this other issue: https://github.com/WordPress/gutenberg/issues/37694

### Step-by-step reproduction instructions

1. Add a new navigation block.
2. Add a few pages.
3. In the sidebar, choose the "Vertical"

[2022-01-03 21:28] TachafineAittoudaWebpick opened #37697 "Categories are not Reloaded after updating the Custom Fields (Page Reload Needed)"
### Description

The categories block isn't updated after saving the metaboxes,
i have save_post hooks depending on the metabox content (checkbox) to add a specific category to the post.
the save_post hook is applied but the editor doesn't update the categories in the front-end

### Step-by-step reproduction instructions

I was tracing the requests in the network after clicking on the update post

[2022-01-03 21:54] #34654 closed, assigned to nobody

[2022-01-03 22:57] jessynd commented on #34977
I am coming across the same issue with my clients' websites as well and agree that it would be really great for all the related custom taxonomies for a post type to show in the query block.  I'd say the vast majority of my clients need this functionality to make full use of the Query Loop block on their websites. I agree with @fabiankaegy, and @aaroncommand and everyone on this thread that this fu

[2022-01-04 00:05] mrfoxtalbot opened #37698 "Navigation (beta):The "Copy existing menu" feature causes the block to crash"
### Description

While using the Navigation (beta) feature,  trying to use the "Copy existing menu" feature causes the block to crash.

It returns this error:

`This block has encountered an error and cannot be previewed`

### Step-by-step reproduction instructions

1. With Gutenberg Version 12.2.0 active, head to the Navigation (beta) section at `wp-admin/admin.php?page=gutenberg-navigation`.

2.

[2022-01-04 00:10] mrfoxtalbot opened #37699 "Navigation Editor: Unresponsive "Start Blank" and "Add all pages" buttons. Unable to add pages."
### Description

The Navigation **_Editor_** (beta) has two options to add pages, `Start Blank` and `Add all pages` but neither of them seems to be responding.

### Step-by-step reproduction instructions

Firstly [follow steps here to enable the experiment](https://github.com/WordPress/gutenberg/issues/37699#issuecomment-1004746336).

1. Go to `/wp-admin/admin.php?page=gutenberg-navigation`.
2. Cr

[2022-01-04 00:29] noahtallen opened #37700 "Use native clipboard API instead of a 3rd party dependency"
## What problem does this address?
The hook `useCopyToClipboard` uses a 3rd party dependency `clipboard`. We could improve bundle size by using the native clipboard API.

I wrote this PR in an external repo which similarly replaces `clipboard` with the native clipboard API: https://github.com/Automattic/wp-calypso/pull/59266

## What is your proposed solution?

Here's the current code:
https://git

[2022-01-04 00:40] mkaz commented on #36401
@oandregal Thanks for the note 👍 Published to: https://make.wordpress.org/core/2022/01/04/new-api-to-access-global-settings-styles/

The misc note is published here: https://make.wordpress.org/core/2022/01/04/miscellaneous-block-editor-changes-in-wordpress-5-9/

The block theme note is published here: https://make.wordpress.org/core/2022/01/04/block-themes-a-new-way-to-build-themes-in-wordpress-5-

[2022-01-04 00:45] mkaz commented on #36401
@oandregal @youknowriad I've created a draft for the Customization Tools for theme.json using the blockGap note above. Is there more you want to include? The draft is started here: https://make.wordpress.org/core/wp-admin/post.php?post=93196&action=edit

[2022-01-04 01:15] zaguiini commented on #37419
Yes, @talldan. The request is specifically for the site editor.

[2022-01-04 01:15] zaguiini commented on #37420
Yep @talldan looks like a duplicate. Closing this one.

[2022-01-04 01:15] #37420 closed, assigned to nobody

[2022-01-04 01:16] zaguiini commented on #24174
Sometimes the user is attempting to perform an impossible action (e.g. trying to add two blocks that can't live together, or trying to nest un-nestable blocks) and there's no feedback at all that the action cannot be done.

That happens on both list view and the editor itself.

Suggestions:
- Change the cursor to not-allowed;
- Change the color of the drop space from blue to red.

[2022-01-04 02:41] #36278 closed, assigned to mkaz

[2022-01-04 03:23] annezazu commented on #37574
I can't replicate with TT2 and  5.9-beta4-52432 without GB installed:

<img width="1395" alt="Screen Shot 2022-01-03 at 7 20 17 PM" src="https://user-images.githubusercontent.com/26996883/148005268-338cdb0b-32b9-461b-b305-fbcfd97d2f9f.png">

Nor can I replicate with GB Version 12.2.0. I tried the following combinations:

- Create new template > add current header.
- Create new template > add new h

[2022-01-04 03:42] carolinan commented on #37699
Hi, where does this admin path come from?

[2022-01-04 03:44] carolinan commented on #37574
If possible, please provide information about your environment so that we can compare any differences.

[2022-01-04 03:58] annezazu commented on #30406
Just noting that https://github.com/WordPress/gutenberg/pull/35892 got merged and have checked off that item above. This seems to be the final issue here so wondering if we can close? :) cc @priethor

[2022-01-04 05:07] annezazu commented on #37680
Awesome :) Thank you. I'll update your issue and the labels appropriately.

[2022-01-04 05:11] annezazu commented on #37574
Sure! Here you go. Note in this you'll see GB deactivated but I tried both active and deactive:

<details>
  <summary>Site Health Info</summary>

`
### wp-core ###

version: 5.9-beta4-52432
site_language: en_US
user_language: en_US
timezone: +00:00
permalink: /%year%/%monthnum%/%day%/%postname%/
https_status: true
multisite: false
user_registration: 0
blog_public: 1
default_comment_status: open
en

[2022-01-04 08:05] youknowriad commented on #36401
That looks good, I'm pretty sure there are more design tools added during this cycle, maybe borders? @aaronrobertshaw and @andrewserong would know more.

[2022-01-04 08:30] #19237 closed

[2022-01-04 09:05] #30406 closed, assigned to nobody

[2022-01-04 09:44] LantosIstvan opened #37705 "Add support for Child Blocks like Child Themes"
## What problem does this address?

This feature request only resembles similarity in the name with the following: https://github.com/WordPress/gutenberg/pull/6753

Although following Wordpress naming conventions, this describes better what the functionality should do. In any conflict with the other pull request, then change the name of this feature request whatever you want, until it describes th

[2022-01-04 10:27] torounit opened #37706 "Classic editor block not working in site editor."
### Description

Inserting a classic editor block will break it in site editor.

https://github.com/WordPress/gutenberg/blob/ca85ced9298a252d4832438d8408ea4cda95696f/packages/block-library/src/freeform/edit.js#L66

The error seems to occur because wpEditorL10n is undefined.

### Step-by-step reproduction instructions

1. Go to Site editor
2. Insert classic block
3. show error.

### Screenshots, sc

[2022-01-04 10:48] Mamaduka commented on #37706
Hi, @torounit

I think this is a duplicate of #23086.

[2022-01-04 11:44] grappler commented on #27230
I think the decision has been made to follow a versioning that matches the WordPress releases. Currently the "version 1" can be found in https://schemas.wp.org/wp/5.8/theme.json and for WordPress 5.9 the schema can be found here: https://schemas.wp.org/wp/5.9/theme.json

https://make.wordpress.org/themes/2021/11/30/theme-json-schema/

[2022-01-04 11:56] grappler opened #37707 "block.json schema `supports.typography.fontSize|lineHeight` out of date"
### Description

The schema for `fontSize` and `lineHeight` has not been updated with the change from `supports.fontSize` to `supports.typography.fontSize` and `supports.lineHeight` to `supports.typography.lineHeight`.

https://github.com/WordPress/gutenberg/blob/trunk/schemas/json/block.json

Related issues: https://github.com/WordPress/gutenberg/pull/36894, https://github.com/WordPress/gutenberg

[2022-01-04 13:13] oandregal commented on #36401
@mkaz @youknowriad I can't access the [draft shared by Marcus](https://github.com/WordPress/gutenberg/issues/36401#issuecomment-1004451737). I was thinking that we could create a devnote called "theme.json v2" that tracks all changes done from v1. This is what I have so far. Need to fill the later sections, it's my focus for today. I'll update this comment as I make progress.

---

## Changes in v

[2022-01-04 13:16] oandregal commented on #27230
Closing this as we now gracefully support two versions of theme.json.

[2022-01-04 13:45] ockham commented on #37681
[This](https://github.com/WordPress/gutenberg/commit/7a050db32c21e9e35968af6d3ef2e8b059a06675#diff-3deceb62c1cbf003eecba31a4452e0c1977e67a83fd6bb823b99d1692c93b71cR47-R49) seems relevant (introduced by #36431).

I don't have a good grasp yet of what's going on, but maybe @andrewserong or @ramonjd can help enlighten? 🙏

[2022-01-04 13:47] ockham commented on #37645
I can repro this, by using the Twenty Twenty theme as prescribed, and adding a few very bare-bones posts (title and a bit of content), and creating a page with the Query Loop block. It seems indeed like this might be a duplicate of #37681 (but I'm not 100% sure).

I've left a [comment](https://github.com/WordPress/gutenberg/issues/37681#issuecomment-1004823649) there that points to what I believe

[2022-01-04 13:49] Peh4 commented on #33374
Hello,

In my opinion, theme.json shouldn't mess by default with the decision to allow  or not wide and full width option. It should exacly match what's possible to enable or disable via add_theme_support() in fuctions.php

The wide and full width option is working, and it's usefull.

There is no reason Gutenberg interface behave differently just by adding an empty file to a theme. It's very confu

[2022-01-04 13:50] alshakero commented on #37628
I can confirm this is fixed by https://github.com/WordPress/gutenberg/pull/36263

[2022-01-04 13:52] piotrbak commented on #37574
I wasn't able to to reproduce it with `5.9-beta4-52424` + TT2

[2022-01-04 15:24] eric7186 commented on #37494
1. I got it working in theme.json, insert:
},
        "color": {
            "palette": [
				{
					"slug": "primary",
					"color": "#9B51ff",
					"name": "Primary"
				},
				{
					"slug": "secondary",
					"color": "#FFFF11",
					"name": "Secondary"
				}
			],
2. The new palette shows up in the Site Editor as THEME. Now on the block just add the Additional CSS class: has-primary-color has-

[2022-01-04 15:31] jorgefilipecosta commented on #37628
Hi @alshakero, I'm not sure if the issue is fixed I still seem to be able to replicate it on the trunk.

[2022-01-04 15:42] #37494 closed, assigned to nobody

[2022-01-04 16:29] Peh4 commented on #33374
There is no problem between nested blocks with wide and full-width values because they are 'maximum width' values, css handle this very well with responsive logic with max-width. It never ment to be real size carved in marble

As @pattyok said, themes are about guided flexibility allowing various type of contents (blocks) in a specific frame (structural styles aka visual identity)

theme.json is v

[2022-01-04 16:30] noesteijver commented on #10169
Hello,

We are also experiencing big load spikes because of this problem.

It seems that, when the metaboxes for our custom taxonomies are opened all at once (which happens when you had them all opened on the last edit of a post) it starts loading all of the terms at once (100 at a time). But this still results in a load spike which makes the WordPress environment very slow or even result in downt

[2022-01-04 17:02] mcsf commented on #37681
Based on the [comment here](https://github.com/WordPress/gutenberg/pull/36431/files?diff=unified&w=1#diff-3deceb62c1cbf003eecba31a4452e0c1977e67a83fd6bb823b99d1692c93b71cR179-R182), it seems to be both a fix for render flickering and a possible optimisation. However, by toggling `display` on rendered DOM elements we are breaking out of React to do something that React is meant to be doing (i.e. or

[2022-01-04 18:00] guarani commented on #34938
Oops, seems like I didn't delete this earlier, fixed now.

[2022-01-04 18:13] oandregal commented on #36401
I've finalized the devnote for theme.json v2 above, which includes the devnotes for https://github.com/WordPress/gutenberg/pull/34334 https://github.com/WordPress/gutenberg/pull/34334 and https://github.com/WordPress/gutenberg/pull/33812/

[2022-01-04 18:34] annezazu opened #37708 "Site Editor: Tablet Preview cuts off bottom part of template"
### Description

In the Site Editor, using the Preview option to see the Tablet view cuts off the bottom part of the template being edited. This only happens with the Site Editor (rather than Template editor).

Originally noted in core-test slack here: https://wordpress.slack.com/archives/C03B0H5J0/p1641303448050400?thread_ts=1641303130.049800&cid=C03B0H5J0

### Step-by-step reproduction instructi

[2022-01-04 19:14] jakeparis commented on #35687
@stokesman You are correct, adding a template with just an empty `core/paragraph` was enough to achieve the desired behavior: the block _looks_ empty, but it doesn't collapse. Thank you for that fix, and this is good enough for my needs here,  but I will say that it feels a bit like a bandaid, when an attribute would be a more explicit solution.

[2022-01-04 20:01] fabiankaegy opened #37710 "Theme JSON Schema marks appearanceTools key as not allowed"
### Description

When using the latest version of the `theme.json` JSON `$schema` from this URL: https://schemas.wp.org/trunk/theme.json the key `appearanceTools` gets correctly shown by the auto completion but as soon as it is added it gets flagged with the following error: `Property appearanceTools is not allowed.`

### Step-by-step reproduction instructions

1. Create a file called `theme.json`

[2022-01-04 20:13] SJGraboski commented on #37407
Saw that this issue mentioned the possibility of creating custom post type templates in the Site Editor. Like several other web developers, I help manage a WP Multisite implementation. If the Site Editor allowed devs like us to make CPT templates, it would make for a profound improvement to our experience with WordPress.

For starters, we could remove several child themes that exist only to provid

[2022-01-04 20:22] annezazu commented on #37708
Updated after testing with RC1 :)

[2022-01-04 20:47] ntsekouras commented on #37645
Thanks for reporting this Anne! I'll close this one in favor of https://github.com/WordPress/gutenberg/issues/37681 (even if yours was first 😄 ) because it has also the details about the problem in the implementation.

[2022-01-04 20:47] #37645 closed, assigned to nobody

[2022-01-04 20:58] base-creme opened #37712 "Navigation blocks doesn't update when adding, renaming pages"
### Description

Navigation blocks are not working properly.
When I add, rename, remove pages, the block doesn't update its content.

### Step-by-step reproduction instructions

1. Create a menu with Gut in site editor
2. Add pages (for instance : home, service)
3. Modify the name + slug of a page (for instance : service to services)
4. Save your changes

--> The menu isn't updated

1. Create a cl

[2022-01-04 21:06] base-creme commented on #37712
The only way I found to update is the following one :

1. go to site editor, select the navigation block and hit "manage menus"
2. delete the navigation block
3. make changes in the classic navigation and save changes
4. go back to site editor when you now have an error
5. hit "create new menu" and select the modified one

[2022-01-04 21:44] ramonjd commented on #37681
👋 A lot of the good stuff is stored in @andrewserong's brain, which is still enjoying a well-deserved break. The above [approach](https://github.com/WordPress/gutenberg/issues/37681#issuecomment-1005003879) sounds very promising. Nevertheless, I'll flag it as something for us to keep an eye on. Thank you!

[2022-01-04 23:37] aaronrobertshaw commented on #36545
Thanks for the suggestions and thoughts @uniquesolution, they are appreciated 👍

I think I am still leaning towards omitting any additional information that could confuse average users. The majority of users would not understand `clamp(16px, 2vw, 20px)` etc. CSS custom properties could also have complex values themselves e.g. `calc(var(--wp--some--other--var) + 10px))`. I suspect that any users ad

[2022-01-04 23:59] noisysocks commented on #36401
Checking in on the status of the unchecked items in https://github.com/WordPress/gutenberg/issues/36401#issuecomment-966463138.

These are in https://github.com/WordPress/gutenberg/issues/36401#issuecomment-1004799517. Thanks @oandregal! Let me know when you've stopped adding to it and I can proofread and publish.

Not sure actually why this needs a dev note. The mobile stuff is separate to what e

[2022-01-05 00:00] noisysocks commented on #36401
Oops just realised @talldan is away. @getdave: Could you please handle this?

[2022-01-05 00:37] mitogh commented on #8379
Usually this code is placed, on any JS file that loads alongside the editor on your site.

For example: main.js

Make sure you enqueue only for the admin screen @digamber89

[2022-01-05 01:02] alshakero commented on #37628
I'll double check tomorrow.

[2022-01-05 01:41] annezazu opened #37716 "Site Logo: Adjusting image width with toolbar causes strange number calculations"
### Description

When adjusting the image width for the site logo, the calculations for how wide the image is both get cut off and get set to very strangely exact numbers.

### Step-by-step reproduction instructions

1. Add a site logo block.
2. Open block settings.
3. Try dragging the toolbar to adjust the width.
4. Notice problem

### Screenshots, screen recording, code snippet

https://user-ima

[2022-01-05 01:46] aaronrobertshaw commented on #36401
I also can't access the [draft shared by Marcus](https://github.com/WordPress/gutenberg/issues/36401#issuecomment-1004451737), so am not 100% sure what's been covered already.

The border design tools as far as block supports go are still behind the `__experimentalBorder` flag. There is some ongoing work [refining those controls](https://github.com/WordPress/gutenberg/issues/35602) after which I e

[2022-01-05 04:03] ramonjd commented on #37681
For fun, I tried returning `null` when `isHidden === true` [instead of setting the style](https://github.com/WordPress/gutenberg/blob/7a050db32c21e9e35968af6d3ef2e8b059a06675/packages/block-library/src/post-template/edit.js#L47). The flicker returns but here's the difference I'm seeing:

| Return null  | Setting style.display |
| ------------- | ------------- |
| <img src="https://user-images.gith

[2022-01-05 04:35] afragen opened #37717 "Add filter allow modification of navigation block menu items"
## What problem does this address?
In non-block themes the `wp_nav_menu_items` filter allows the dev to manipulate the displayed menu. I have a simple plugin that uses this filter in non-block themes to add a login/logout menu item dynamically to any menu.

No such filter exists for block themes. This is not about manually adding another item into the navigation block. It's about doing it dynamica

[2022-01-05 04:40] ramonjd commented on #18095
The ColorPicker component has support for alpha transparency.

See: https://developer.wordpress.org/block-editor/reference-guides/components/color-picker/#enablealpha-boolean

In this example, I've manually set the prop to enable it for all colors (background, link etc) in the block inspector:

<img width="500" alt="Screen Shot 2022-01-05 at 3 26 21 pm" src="https://user-images.githubusercontent.c

[2022-01-05 04:57] ramonjd commented on #20926
Do folks think this feature is still valid? If so, I'm thinking it could possibly be another optional control under Typography supports panel (?)

[2022-01-05 05:15] #37706 closed, assigned to nobody

[2022-01-05 05:20] Mamaduka commented on #23086
I'm removing this issue from WP 5.9 project board since RC1 was released last night.

Let's try and land a fix for this in a minor release.

[2022-01-05 05:22] Mamaduka commented on #32815
Hi, folks

I'm removing this issue from WP 5.9 project board since RC1 was released last night.

Let's try and land a fix for this in a minor release.

[2022-01-05 05:24] Mamaduka commented on #35079
I'm removing this issue from WP 5.9 project board since RC1 was released last night.

We can try and work on the fix for the next minor release.

[2022-01-05 05:27] Mamaduka commented on #36977
I'm removing this issue from WP 5.9 project board since RC1 was released last night.

We can ship focus mode for the Navigation block in the next release.

[2022-01-05 05:32] Mamaduka commented on #29484
I'm removing this issue from WP 5.9 project board since RC1 was released last night.

I think we can go with @alberto-marin's solution for the next minor release.

P.S. I will finish reviewing the PR later today.

[2022-01-05 05:33] Mamaduka commented on #35086
I'm removing this issue from WP 5.9 project board since RC1 was released last night.

Let's try and land a fix for this in a minor release.

[2022-01-05 05:37] Mamaduka commented on #35331
@oandregal, I'm removing this issue from WP 5.9 project board.

Feel free to add it back to a minor release board once it's created.

[2022-01-05 05:40] kafleg commented on #37574
I am not able to reproduce it.

**Environment**
- Windows
- Laragon Localhost
- PHP 7.4.19
- TT2 theme
- RC 1 - 5.9

No Gutenberg plugin was installed or activated.

<details>
<summary>Site Health Info</summary>

### wp-core ###

version: 5.9-RC1-52446
site_language: en_US
user_language: en_US
timezone: +00:00
permalink: /%year%/%monthnum%/%day%/%postname%/
https_status: false
multisite: false
use

[2022-01-05 05:42] Mamaduka commented on #36057
I'm removing this issue from WP 5.9 project board since RC1 was released last night.

We can add it to a minor release board once it's created.

[2022-01-05 05:44] Mamaduka commented on #37574
Thank you for testing everyone 🦸

I'm going to remove this from WP 5.9 board and keep the issue open for now.

[2022-01-05 05:45] Mamaduka commented on #36523
I'm removing this issue from WP 5.9 project board since RC1 was released last night.

Let's try and land a fix for this in a minor release.

[2022-01-05 05:48] Mamaduka commented on #36704
I think this got fixed in core. We should do a follow-up about the "title case" in Trac.

![CleanShot 2022-01-05 at 09 46 50](https://user-images.githubusercontent.com/240569/148166851-4bc32244-f7ad-4d37-95e8-7457c011b09a.png)

[2022-01-05 05:48] #36704 closed, assigned to nobody

[2022-01-05 05:50] Mamaduka commented on #36770
I'm removing this issue from WP 5.9 project board since RC1 was released last night. But we should try and fix this in a minor release.

[2022-01-05 05:53] Mamaduka commented on #36124
I'm removing this issue from WP 5.9 project board since RC1 was released last night.

We can add the `defaultTemplate` option to the theme.json and handle theme attribute injection internally. Probably task for the next major release since we have a workaround.

[2022-01-05 05:55] Mamaduka commented on #36821
@jameskoster, I tried to make this work, but it requires more changes than I expected.

I'm going to remove this from the WP 5.9 board since it's not a block, and we're already in the RC phase.

[2022-01-05 05:57] Mamaduka commented on #36886
I'm removing this issue from WP 5.9 board since we're already in the RC phase.

Let's try and land a fix for this in a minor or major release.

[2022-01-05 05:59] Mamaduka commented on #36967
I'm removing this issue from WP 5.9 project board.

Let's try to fix this for the next release.

[2022-01-05 06:01] Mamaduka commented on #37387
I'm removing this issue from WP 5.9 project board since we're already in the RC phase.

Let's try to fix this for the next release.

[2022-01-05 06:04] Mamaduka commented on #37571
I'm removing this issue from WP 5.9 project board since we're already in the RC phase.

We can probably ignore most of the "Can't perform a React state update on an unmounted component" warnings. React 18 is removing them - reactwg/react-18#82. But I think it would be nice to fix this anyways.

[2022-01-05 06:06] kafleg opened #37719 "Long post title break UI design in templates page"
### Description

I have added a long title of a post. When I went to the Edit template, the design of the post title will be weird.
See the screenshot.

### Step-by-step reproduction instructions

* Go to post > Add new
* Enter the title - For example( _A new post with a long title and content in WordPress with embed blocks and videos in an attractive way where we can get all the things in an eleg

[2022-01-05 06:07] Mamaduka commented on #37190
I'm removing this from the 5.9 board but will add it to the Navigation one.

[2022-01-05 06:10] Mamaduka commented on #35884
It looks like we don't have a solution for this issue yet.

I'm going to remove the issue from the 5.9 board. We can try and fix this in the next release.

[2022-01-05 06:11] Mamaduka commented on #37634
@annezazu, I'm going to remove this from the 5.9 board. Once we have more context, we can find the next target release, minor or major.

[2022-01-05 06:15] Mamaduka commented on #37433
I am removing from the 5.9 board, based on @oandregal comment.

[2022-01-05 06:19] carolinan commented on #37574
Could it be a localhost issue?
I am not sure how or why that would matter specifically for the inserter of the template part in the template editor,
and not cause problems elsewhere. - I'm just thinking that one of the difference between the 3 installations below is that the wp-develop install uses localhost:8889 as default.

These two setups are on the same PC:

A clone of WordPress develop trunk

[2022-01-05 06:28] Mamaduka commented on #37471
I'm removing this issue from WP 5.9 project board since RC1 was released yesterday.

Let's try and land a fix for this in a minor release.

[2022-01-05 06:30] Mamaduka commented on #37476
I am removing this issue from the 5.9 board. It's tracked in the documentation project.

[2022-01-05 06:31] Mamaduka commented on #37603
I'm removing this from the 5.9 board, based on the @jorgefilipecosta's comment.

[2022-01-05 07:07] Mamaduka commented on #37585
Since RC was already released, I'm removing this issue from WP 5.9 board.

Custom template support in plugins isn't well tested or [documented](https://github.com/WordPress/gutenberg/issues/37476) feature.

Let's try to fix this for the next release.

[2022-01-05 07:37] kafleg commented on #30276
I have the same issue.

- Windows 11
- Laragon Localhost
- PHP 7.4.19
- TT2 theme
- RC 1 - 5.9
- No Gutenberg plugin was installed or activated.

When the template part named Header and Footer is added, it both has a Site title block. And when we change in one block, it will change in all other blocks too.

![image](https://user-images.githubusercontent.com/13062231/148178215-aeab9b84-d850-4c8d-9b

[2022-01-05 07:56] iidastudio commented on #37681
@annezazu
Thank you
I see that 5.9 Beta 4. has the same specification.

@ntsekouras
Thank you
I thought it was impossible with CSS, but it looks like gap can solve the problem!
The following is the my theme, but resetting the margin and specifying gap worked well.

https://user-images.githubusercontent.com/43173384/148179123-166a2ed7-f119-4c10-a896-d057749bd4c3.mov

[2022-01-05 08:01] rvdsteege commented on #36603
@annezazu do you still need more info? You should be able to reproduce the issue (PHP warning or fatal error, depending on your PHP version) by changing the image width in the block settings.

[2022-01-05 08:04] youknowriad commented on #36401
This one for me was more about the upgrade to React 17 and mentioning potential small breaking changes (linking to React's blog post)

Yep, I'll do that 👍

[2022-01-05 08:23] fklein-lu opened #37721 "Move Post Template and Pagination blocks to Theme category"
### Description

When using the Site Editor, all blocks for theme building are placed in the _Theme_ category.

However the Post Template and Pagination blocks are placed under _Design_. This is not only false (these are not design blocks), but it's also confusing. One would expect these blocks to be placed under the _Theme_ section, especially because their parent block (the Query Loop) is placed

[2022-01-05 08:55] luisherranz commented on #37717
Hey Andy, may I ask why you don't want to create a login/logout block instead?

If you use a filter, users won't see the login/logout item in the Editor nor in the Previews, and they won't be able to modify it from the Editor (_change its settings, change the texts, reorder it, place it outside of a menu, and so on_).

[2022-01-05 09:01] Flameeyes commented on #35086
I guess I'll have to just stop using WordPress once 5.9 releases then.

I have to say I'm unimpressed by this whole experience. It's a clear, reproducible bug, affecting a major operating system (Windows!), and I even tracked down when the regression was introduced, but the only attention I got from developers has been looking at the wrong operating system.

Once again I feel that what killed blog

[2022-01-05 09:11] Mamaduka commented on #37716
@annezazu, I cannot reproduce the bug on the current trunk, the same with RC when the plugin is deactivated.

https://user-images.githubusercontent.com/240569/148191227-bd123a9b-6a87-48a8-baf4-c95e12b8bc16.mp4

[2022-01-05 09:12] gziolo commented on #37717
A similar block already exists, but it might not be integrated with the Navigation block: https://github.com/WordPress/gutenberg/tree/trunk/packages/block-library/src/loginout.

[2022-01-05 09:23] getdave commented on #36524
As Navigation Areas were deprecated we can safely close this one out.

[2022-01-05 09:23] #36524 closed, assigned to nobody

[2022-01-05 11:55] jameskoster commented on #36612
Let's close 36348 as that was for the old wp-admin-style templates list.

[2022-01-05 11:55] jameskoster commented on #36348
Closing in favor of https://github.com/WordPress/gutenberg/issues/36612.

[2022-01-05 11:55] #36348 closed, assigned to nobody

[2022-01-05 12:04] jorgefilipecosta commented on #36770
This issue seems to be already fixed on Gutenberg and WordPress core, @oandregal would you be able to retest?

[2022-01-05 12:19] getdave commented on #36616
@adamziel can this be closed out?

[2022-01-05 12:25] amarinediary commented on #29742
This behavior can now be bypass by grouping each `core/freeform` in a `core/block`. Tho now, in a locked template, using backspace on an empty nested `core/freeform` will delete it with no ability add it back.

[2022-01-05 12:27] jameskoster commented on #31033
Belatedly connecting some dots... in https://github.com/WordPress/gutenberg/issues/31746 I shared an animation (largely inspired by your work) demonstrating how the transition from inserter -> modal could be less jarring:

https://user-images.githubusercontent.com/846565/148217530-9965d0c7-147a-4371-bbce-8c89fa6054f6.mp4

[2022-01-05 12:30] annagson opened #37724 "Minimum height of the cover block in Gutenberg has the unit "vw", more logical would be "vh"."
## What problem does this address?
Gutenberg block "cover": When setting the cover's minimum height, the options are: px, em, rem and vw. The latter is the width of the viewport. "vh" is not an option.

## What is your proposed solution?
Add (or replace with) "vh", the height of the viewport.

[2022-01-05 12:43] amustaque97 commented on #37724
Hey there! I would like to give it a shot :smile:

[2022-01-05 12:47] manooweb commented on #36616
@getdave for me is yes. The PR has been merged and backported in WordPress 5.9 👍

[2022-01-05 12:53] #37695 closed, assigned to kjellr

[2022-01-05 13:07] nerrad commented on #37717
@senadir I wonder if there's some related similarity to this request and an extensibility pattern we added for Cart and Checkout blocks that allows extension authors to dynamically inject blocks without user interaction but still allow subsequent manipulation in the editor after the fact? If so, might be worth pointing to the code here as a potential pattern to be considered for GB?

I see the pot

[2022-01-05 13:46] #34938 closed, assigned to fluiddot

[2022-01-05 13:49] #37721 closed, assigned to Mamaduka

[2022-01-05 14:23] senadir commented on #37717
Yeah I think the issue isn't about this being a block or not, but about the process of manually adding the block vs it being there.

For the pattern we had in Cart and Checkout, I can't see how it would work here without significant changes to how the navigation block work.

Cart and Checkout are both dynamic blocks (uses React), the solution is we implemented is to create a new registry in the fr

[2022-01-05 14:25] kjellr commented on #35884
I think it's acceptable (but not great) to punt this issue for block themes, but it's not ok to punt the regression that happens for all classic themes. By default today, any theme that provides no editor styles suffers from this issue:

<img width="377" alt="Screen Shot 2022-01-05 at 9 21 46 AM" src="https://user-images.githubusercontent.com/1202812/148232939-07448055-7b24-430a-a339-e9f8064b18fd.

[2022-01-05 14:25] jameskoster commented on #37407
Custom Post Type templates are an interesting one, because it brings in to question the creation of the CPTs themselves.

Creating templates for _existing_ CPTs feels like table stakes, but also a fairly developer oriented solution because it requires the CPT to be registered in the first place.

Thinking further along the road... I wonder if there's a world where the Site Editor could enable user

[2022-01-05 14:33] carolinan commented on #30165
Hi, can this be closed?

[2022-01-05 14:37] javierarce opened #37725 "Improve the design of the post locking modal"
I've noticed that the post locking modal presents some design problems we could address.

![image](https://user-images.githubusercontent.com/4933/148238587-af7cbfe6-69cc-43bc-b75f-4452d447192e.png)

1. There's a big empty space before the message.
2. The username of the locked post is difficult to read. Highlighting it would improve its readability.
3. The action buttons don't have a clear hierarc

[2022-01-05 14:40] carolinan opened #37726 "Text decoration setting does not work on the Navigation block overlay or submenus"
### Description

The text decoration setting in the typography panel works for the standard navigation, but is not visible when a sub menu or the overlay menu is opened.

### Step-by-step reproduction instructions

1. Insert a navigation block
2. Enable either text decoration (underline or strike through)
3. Open the menu overlay and see that the links do not have the text decoration

(You need a

[2022-01-05 14:42] getdave commented on #36401
## Navigation block dev note

@noisysocks I've [drafted the dev note for the _entire_ Navigation block](https://docs.google.com/document/d/1rTdYy8xv18o-e-DKS6ySupqQwtSWveqoqpnh8fq_D-E/edit#) as suggested. I've used Google Docs just for the collaborative editing aspect because the post is (currently) quite long. Now seeking feedback on what to add/remove - cc @adamziel @draganescu @talldan @mkaz @j

[2022-01-05 15:04] #37719 closed, assigned to Mamaduka

[2022-01-05 15:58] hanopcan commented on #33789
I'm also keen to see this feature hit production as from a performance point of view not being able to control the size of the featured image is a problem 💚

[2022-01-05 16:36] Mamaduka commented on #37708
Unfortunately, I couldn't reproduce the issue. So please, let me know if I'm missing any steps.

Tested with WP 5.9 RC 1 and Gutenberg trunk.

## Screencast
https://user-images.githubusercontent.com/240569/148253943-f25f4294-cdf0-4404-a405-25af3d4a342f.mp4

[2022-01-05 16:49] shaunandrews commented on #36789
In my brief testing, it seems the editor's extra markup is causing the image's `max-width: 100%` to work differently than it does on the front-end; On the front-end, the image respects the max-width and adjusts itself to the width of the column.

[2022-01-05 17:50] #37681 closed, assigned to ntsekouras

[2022-01-05 17:56] mikelinden1 opened #37730 "Text selection weirdness"
### Description

My team found a very interesting bug. Sometimes when you are selecting text in Gutenberg and you add some formatting (bold, italics, a link, etc) the text you selected changes to something else in the same paragraph.

### Step-by-step reproduction instructions

- Edit a post with paragraph blocks
- Select a paragraph block and start dragging immediately
- Select some text on the l

[2022-01-05 18:03] annezazu commented on #37708
@Mamaduka curious what browser you're using and if that makes a difference here? I was using Chrome and can still replicate today :D

[2022-01-05 18:05] annezazu commented on #30165
Looks like it :) Closing.

[2022-01-05 18:05] #30165 closed, assigned to nobody

[2022-01-05 18:06] annezazu commented on #36603
Apologies. I'll change the label :)

[2022-01-05 18:07] annezazu commented on #37603
I'm going to add needs design labels so this can be iterated upon in the future.

[2022-01-05 18:11] Mamaduka commented on #37708
Chrome/MacOS

[2022-01-05 18:12] annezazu commented on #37716
Thank you. Just asked for more folks to help test in #core-test to see if we can get more situations covered.

[2022-01-05 18:26] CalumChilds commented on #16484
Using an interface similar to that of IcoMoons' is a great idea.

I do disagree with you on not having any other icon packs included other than Dashicons, since it doesn't include enough variety to be useful on most websites. For this reason, I recommend including one other icon pack into WordPress. I think Font Awesome 5 Free would be best for this since it is open-source and has a wide enough va

[2022-01-05 18:30] luisherranz commented on #37717
If the problem is just to avoid the end-user friction of adding blocks manually but exposing the block in the Editor still leads to a better user experience _(change its settings, change the texts, reorder it...)_, maybe instead of trying to figure out APIs to modify the HTML output of a block, we should try to figure out APIs to add new blocks to the templates.

[2022-01-05 18:32] mcsf commented on #35086
@Flameeyes: I am sorry about this one falling through the cracks and how it's impacting you.

I just spent the last couple of hours redoing my virtual machine setup (Win 10 VM guest on a macOS host with access to the host's dev server) and I can reproduce this issue. The expert in this domain, @ellatrix, is on leave, so we'll see if we can find a solution for this in the meantime.

[2022-01-05 18:34] liamrosen commented on #35086
Thanks, everyone who has been a squeaky wheel on this. I basically compose all of my Wordpress posts in Notepad++ at this point...

Looking forward to a fix soon!

[2022-01-05 18:37] annezazu commented on #37708
From @costdev in slack:

Not an actual fix, but it seems that applying this to the iframe does the trick:
max-height: calc(100vh - 144px - 60px - 25px);
144px is the top + bottom margin of the iframe
60px is the height of .edit-site-header
25px is the height of .interface-interface-skeleton__footer

[2022-01-05 18:37] annezazu commented on #37716
More insights from @costdev (thank you again):

[2022-01-05 18:50] chthonic-ds commented on #37724
Previous issue with likely solution: https://github.com/WordPress/gutenberg/issues/36035

[2022-01-05 19:22] dmsnell commented on #9304
@stacimc this is specifically for when editing inside the Code editor, which edits the post as a whole, vs. the "Edit as HTML" for individual blocks.

[2022-01-05 22:18] ramonjd commented on #34529
I've closed **Block spacing: add axial gap block support #35454** for now since we're not using CSS vars for block gap styles. ( See #37360 )

We could experiment with alternative ways to split values and pass them to the [layouts/flex styles](https://github.com/WordPress/gutenberg/blob/3f43af06db0b017bc09124f1ca99ed89d16cb471/packages/block-editor/src/layouts/flex.js#L115).

Block-level explorati

[2022-01-05 22:37] bph opened #37732 "Pattern Search: More information about origin (theme, core, plugin)"
## What problem does this address?
When looking at the search results for patterns in the explore screen, it would be helpful to know the origin of the pattern. Is is a theme related pattern or from the Pattern directory on .org or from a plugin. Being able to filter by the origin of the pattern would help, too.

## What is your proposed solution?
Expand the pattern card with Theme name, category

[2022-01-06 00:36] bph commented on #37732
@ryelle I am not sure if that is the right place to put this. It might be a Pattern Directory issue.

[2022-01-06 00:51] amarinediary opened #37734 "Removing title support will partially hide the first block floating menu"
### Description

When registering a new custom post type through [register_post_type()](https://developer.wordpress.org/reference/functions/register_post_type/), and setting the `support` parameter, removing the `title` core feature will partially hide the first page block floating menu.

### Step-by-step reproduction instructions

1. Remove support for the `title` feature from a post type.
[code]

[2022-01-06 02:01] afragen commented on #37717
The function I created in a plugin simply adds a login/logout to the last item in the current menu. Installing and activating a simple plugin is much easier than having to touch every menu. It also allows me to use the same plugin for traditional themes or block themes.

I'm not looking to create a new block. As referenced above I think such a block exists. I really just want to add a new list ite

[2022-01-06 02:28] ryanwelcher commented on #36630
Now that #36746 has been merged, I'd like to use this ticket to track which blocks need updates in the schema in order to properly reflect what properties are actually supported.

[2022-01-06 02:46] ryanwelcher opened #37735 "Tracking: Theme.json schema block properties updates"
This issue will track the changes required to address #36630 on a per bock basis.

Each block needs to have its settings property checked to confirm what properties are actually supported in the block. For example, the `core/button` blocks `border` setting only supports the `radius` property so only that property should be added to its entry under the `settingsBlocksPropertiesComplete` property -

[2022-01-06 02:47] ryanwelcher commented on #37735
#36746 addressed the border property for the `core/button` block

[2022-01-06 04:15] afragen commented on #37717
I wanted a single purpose plugin to add a login/logout menu to the end of the existing menu automatically. No user input required.

[2022-01-06 04:17] tellthemachines commented on #37572
I'm not sure how widely-known this is, but pressing Enter immediately after creating a nav link inserts another nav link. This makes it quicker even than showing the inline inserter, but of course folks have to know about it... I wonder if there's any way of making this obvious?

[2022-01-06 04:24] tellthemachines commented on #37694
Closing as this has been fixed in #37718.

[2022-01-06 04:24] #37694 closed, assigned to nobody

[2022-01-06 04:29] tellthemachines commented on #37673
Hmm, we only support the [last two](https://make.wordpress.org/core/handbook/best-practices/browser-support/) Safari versions, so as long as it works in 14.1 and 15.1 we shouldn't have to fix it. Has anyone tested in 14.1?

[2022-01-06 04:30] ramonjd commented on #34643
Just adding some cursory experimental findings.

I added typography block support to the Image block and gave the `<figcaption />` a style of `font-style: inherit`, overriding the currently-defined `13px`.

Works fine, albeit the default figcaption font size inherits from up the tree somewhere, in the example below, from `--wp--preset--font-size--normal` so it's slightly bigger.

<img width="500"

[2022-01-06 04:45] carolinan commented on #31169
The way we solved this in other blocks was by adding a `#` to the link:
`href={ isLink ? '#site-title-pseudo-link' : undefined }`
https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/site-title/edit/index.js#L55

[2022-01-06 04:54] carolinan opened #37737 "Latest post block content jumps when switching between excerpt and full post"
### Description

When you add a latest post block and switch between showing excerpt and full post,
the text content changes position.

[The excerpt has margin set](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/latest-posts/style.scss#L49), but the post content (wp-block-latest-posts__post-full-content) does not:
[code]

### Step-by-step reproduction instructions

1.

[2022-01-06 06:36] #37656 closed, assigned to nobody

[2022-01-06 06:46] Mamaduka commented on #37573
Hi, @annezazu

Since this isn't a significant issue, I think we can punt it to the next minor/major release.

I'm tentatively removing this from the board, but feel free to add it back.

[2022-01-06 06:49] Mamaduka commented on #37617
Hi, @oandregal

Should we fix this for 5.9, or can it be punted to a minor release?

[2022-01-06 06:51] Mamaduka commented on #35920
I'm closing this issue since we're already in the RC phase for 5.9.

[2022-01-06 06:51] #35920 closed, assigned to nobody

[2022-01-06 07:26] florianbrinkmann commented on #8658
I have the same issue with SVGs being hidden in the image block, when no dimensions are set. I use the Safe SVG plugin for the upload.

[2022-01-06 08:34] luisherranz commented on #37717
Ok, so it seems like @nerrad was right. Your concern is the user friction of adding that item manually. Thanks for your answer, Andy. This is very helpful 🙂

[2022-01-06 09:29] audrasjb opened #37743 "WP 5.9: Some global styles strings are not translatable."
### Description

Hello, I found a few strings that are not translatable in the Global styles panel.

For example, "Add", "Add color", "Done" (…) strings. See screenshot below.

Context: using WP 5.9 RC 1, without Gutenberg plugin installed.

### Step-by-step reproduction instructions

1. Switch to a 100% translated WordPress Locale (example: fr_FR)
2. Go to global styles panel > colors > new color

[2022-01-06 09:42] mikachan commented on #35690
Closing this as it was fixed by https://github.com/WordPress/gutenberg/pull/36800 🎉

[2022-01-06 09:42] #35690 closed, assigned to nobody

[2022-01-06 09:46] Mamaduka commented on #37743
I can see that i18n functions are used with those strings.

Do you think there might be a problem when generation translation files?

https://github.com/WordPress/gutenberg/blob/f70f4664ac641bd107481c5c67ee6f5556a0a381/packages/components/src/palette-edit/index.js#L277-L296

[2022-01-06 10:01] audrasjb commented on #37743
Ah thank you, I didn't find the related file :)

Yes, this may be an issue with the translation file generator, because the string "Add color" doesn't exist at all in the translation packages.
https://translate.wordpress.org/projects/wp/dev/admin/fr/default/?filters%5Bterm%5D=Add+color&filters%5Bterm_scope%5D=scope_any&filters%5Bstatus%5D=current_or_waiting_or_fuzzy_or_untranslated&filters%5Buser_

[2022-01-06 12:03] gingerling opened #37746 "Give categories a full gutenberg editor"
## What problem does this address?

In my store, the top two pages people arrive at from google are categories. It's super frustrating that I can't fully edit these pages, both for customer information and SEO, I would love to be able to edit each category with the full gutenberg experience. I could made beautiful pages with links to key products, blogs, with images and information. Google, myself

[2022-01-06 12:05] gingerling commented on #33094
Thanks all, I joined the slack channel and after talking there, created this feature request: https://github.com/WordPress/gutenberg/issues/37746

[2022-01-06 12:47] #37716 closed, assigned to walbo

[2022-01-06 13:01] Mamaduka commented on #37699
It looks like a regression after #35746.

This is the error, I'm getting when running in dev mode:

[code]

[2022-01-06 13:40] mauteri commented on #21718
My PR above has been merged to trunk, so this ticket can probably be closed now.

New user experience retains any registered blocks in a template and uses `core/missing` block for any unregistered blocks in a template. More notes about specifics handlings are provided in the comments of the PR. Thanks!

[2022-01-06 13:48] amustaque97 commented on #21718
PR link: https://github.com/WordPress/gutenberg/pull/37646

Closing this issue!

[2022-01-06 13:48] #21718 closed

[2022-01-06 13:53] Mamaduka commented on #34127
Fixed via #34064.

[2022-01-06 13:53] #34127 closed, assigned to nobody

[2022-01-06 13:54] Mamaduka commented on #37643
Hi, @henimbola

I'm going to close this issue. Feel free to re-open it if you're still experiencing the error.

[2022-01-06 13:54] #37643 closed, assigned to nobody

[2022-01-06 14:04] senadir commented on #36401
### Block locking dev note
To facilitate creating better patterns and templates, WordPress 5.9 comes with a block level locking mechanism that works alongside `templateLock`.
Instead of applying a lock to all inner blocks, you can apply it selectively to individual blocks via the `lock` attribute. The block level locking would supersede the inherited `templateLock` value. You can choose to lock mo

[2022-01-06 14:07] jameskoster opened #37748 "Post Author block – add option to link to author archive"
It would be nice to have an option to make the post author serve as a link to an archive of posts by that author.

[2022-01-06 14:23] jameskoster opened #37749 "If you place a template part in the comments loop, it doesn't render on the frontend"
I'd like to create a `comment.html` template part in my theme, so that I can use the same comment format on different post types.

While the Editor seems capable of handling this:

<img width="981" alt="Screenshot 2022-01-06 at 14 21 53" src="https://user-images.githubusercontent.com/846565/148397285-ec179e91-c7cd-484d-8f00-1037945f7d17.png">

The frontend is not – no comments are displayed.

[2022-01-06 14:54] #29423 closed

[2022-01-06 15:05] jameskoster opened #37752 "Local block appearance controls should reflect values from global styles / theme.json"
### Current implementation

My `theme.json` declares a text color for h2s like so:

[code]

When I select a h2 in the Editor and open the color panel, I see this:

<img width="1204" alt="Screenshot 2022-01-06 at 14 57 58" src="https://user-images.githubusercontent.com/846565/148402561-cbf75a9b-61bf-481e-8aa3-6c5937707fb0.png">

The canvas is telling me one thing, but the control is telling my some

[2022-01-06 15:12] guarani commented on #35982
I also ran into this problem when trying to get the width/height of an inner image block. Like you say, only when the user edits the image's dimensions do they appear in the image block's attributes.

I think the cause is unrelated to inner blocks, plain image blocks don't set their width/height attributes until their width/height values are edited by the user (either through the input boxes or by

[2022-01-06 15:21] Mamaduka commented on #37752
I can't remember the issue/comment right now, but I believe the main problem is getting values from CSS variables.

Do you get the same results if you provide color value as HEX?

[2022-01-06 15:25] cbirdsong opened #37753 "Create a system for inserting site/post metadata into generic blocks"
- Part of https://github.com/WordPress/gutenberg/issues/41236.
- Related to:
  - https://github.com/WordPress/gutenberg/issues/54536.
  - https://github.com/WordPress/gutenberg/issues/53300.

---

## What problem does this address?

A lot of the theme blocks are simply bits of text, like Post Title, Site Title and Site Tagline. Most of these are variations on the heading and paragraph block, but t

[2022-01-06 15:53] getdave commented on #36401
Nice work. A quick skim from me...

**by adding** locking to its definition

Suggest removing the last comma `,` as it's not required.

I'd recommend you make this two separate sentences.

Amend to "add" (not "ad").

[2022-01-06 15:58] casaschi opened #37754 "no_texturize_shortcodes WP filter broken with block themes"
### Description

Instructed to open a bug report here from https://core.trac.wordpress.org/ticket/54614#comment:13

Hello, my wordpress plugin embed-chessboard uses the code below to avoid texturization of the text within a shortcode. In wordpess 5.9 with the Twenty Twenty-Two theme the filter does not seems to have effect with texturization applied to the text within the shortcode (particularly s

[2022-01-06 16:08] getdave commented on #36616
Ok closing for now. @adamziel can reopen if he feels he needs to do any follow up here.

[2022-01-06 16:08] #36616 closed, assigned to nobody

[2022-01-06 16:11] tomjn commented on #37682
The issue persists in Gutenberg v12.3

[2022-01-06 16:12] hellofromtonya commented on #37754
I can reproduce the issue on TT2. Works well in TT1.

Some context from the research and testing I did in the trac ticket (bringing it here)....

Thanks for the update. Yes, I can reproduce in TT2 which is a block theme.

What's known:
* Nothing `wptexturize()` changed during the 5.9 cycle.
* Activating the latest Gutenberg plugin version (i.e. 12.3.0) does not resolve the issue.
* It works with n

[2022-01-06 16:21] skorasaurus commented on #37746
Hi,

Thanks for reporting and all of the detailed pictures and clear use case :)
This has been discussed and/or requested in https://github.com/WordPress/gutenberg/issues/17099. Feel free to [add your reaction](https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/about-conversations-on-github#reacting-to-ideas-in-comments) and follow its progress in the issue.

Please reop

[2022-01-06 16:21] #37746 closed, assigned to nobody

[2022-01-06 16:23] skorasaurus commented on #17099
With the increased focus and transition to full site editing; this shouldn't be forgotten :)

[2022-01-06 16:30] jameskoster commented on #37752
Yep, it's exactly the same.

[2022-01-06 16:35] erikjoling opened #37756 "Ensure there's a mechanism for disabling theme templates"
## What problem does this address?
Let's say I have a simple setup for my website where I need only a couple of templates: index (archive) and singular. When a theme declares a lot of templates, for example index, home, archive, page and post, I need to overwrite them all to get the same consistency. Then, when I want to change one thing I need to change them all again. This feels redundant and is

[2022-01-06 16:37] erikjoling commented on #37756
Similar to #29144, but not the same at all :)

[2022-01-06 17:09] andrewstaffell commented on #36687
Still broken for me in 12.3.0 **regardless of theme.**

If it'll be fixed in the next release (of Gutenberg or WP) fine!

[2022-01-06 17:22] jameskoster commented on #37752
I noticed a similar thing happens with the border radius control. If my theme sets a radius on the Image block, that is applied on the canvas and the frontend as expected, but the control appears empty:

<img width="1208" alt="Screenshot 2022-01-06 at 17 21 36" src="https://user-images.githubusercontent.com/846565/148423938-4dac6386-061c-41fa-b94a-57ec5ff0d9b9.png">

[2022-01-06 17:25] jameskoster opened #37757 "Add border controls to the blocks that are similar to Image"
In my theme I've added a default border radius to Image blocks. It would be nice to have the option to do this for other blocks that appear in a similar way to images. IE, add border controls to:

- [x] Featured Image
- [ ] Site logo
- [x] Cover
- [ ] Embed
- [x] Comment Author Avatar

[2022-01-06 17:34] Spleeding1 commented on #16911
Since everything is going to theme.json (and I am not well versed in it) is it possible to create a mobile-query-breakpoint setting that could be pulled and rendered? I am not sure how media queries work with theme.json, but absolutely there has to be a way to change it!

[2022-01-06 17:51] guarani commented on #35982
I also want to link to https://github.com/WordPress/gutenberg/issues/23244 which this issue may be a duplicate of.

[2022-01-06 17:53] evaldivieso opened #37758 "Adding spacer block in 12.3.0 fails"
### Description

Seems like the latest updates to the spacer block is causing a bug, after I applied the latest Gutenberg plugin updates (12.3.0) this week I started to see the below message after insert the spacer block:

This just started happening this week, last week I've been using the spacer block fine.

### Screenshots, screen recording

![SS 2022-01-06 at 12 30 21 PM](https://user-images.g

[2022-01-06 18:22] zaguiini opened #37759 "Merge `devicePreviewType` state within a single store"
## What problem does this address?

Right now, we have the exact same logic for `getDevicePreviewType` and `setDevicePreviewType` inside the [`core/edit-post`](https://github.com/WordPress/gutenberg/blob/trunk/packages/edit-site/src/store/selectors.js#L53) and [`core/edit-site`](https://github.com/WordPress/gutenberg/blob/trunk/packages/edit-post/src/store/selectors.js#L321).

## What is your prop

[2022-01-06 18:30] youknowriad commented on #37759
Hi there! thanks for opening the issue, For me, it doesn't make sense to be in "core/block-editor". The block editor package is about building reusable block editors (think of it as TinyMCE), meaning you could have multiple in a single page... While the device preview is more of a "editor screen" option.

I get the "Don't repeat yourself principle" but sometimes this causes more harm than good and

[2022-01-06 18:50] zaguiini commented on #37759
Honestly, it does not feel like the appropriate place. I share the same feeling.

Where could we put it, then?

I also agree with that...

However, this looks like the right move in this case. As I said, it already caused bugs and who knows how many it could cause in the future 😐

I do think abstracting is a better option. Any thoughts on where to put it? I saw `core/viewport` but it also doesn't

[2022-01-06 19:09] Addison-Stavlo opened #37760 "Site Editor regression - Redo is no longer available."
### Description

After performing "undo" in the Site Editor the "redo" action is no longer available.

This was originally identified on v12.3.0 and is currently reproducible on the trunk branch.

### Step-by-step reproduction instructions

1. Load the Site Editor
2. Insert a block.
3. Click the "undo" button
4. Try to "redo" and notice the action is unavailable.

### Screenshots, screen recording

[2022-01-06 19:20] mcsf commented on #35086
I've tracked it down to https://github.com/WordPress/gutenberg/pull/30244.

[2022-01-06 19:25] gingerling commented on #17099
Hi, now that there are templates for category and product category pages coming out, this issue becomes more important I think.

In my view there is no "full site editing" without this vital feature.

I can totally see people doing hacky things like making a separate template for each category page, for example.

How to we get this issue on the roadmap? I have no idea of the scale of this task. Co

[2022-01-06 19:27] Addison-Stavlo commented on #37760
cc @youknowriad if you may have an idea about the regression or how to best triage this one.

[2022-01-06 19:43] csalzano opened #37761 "Not all dashicons can be specified for `icon` in block.json"
### Description

The documentation for block.json says a dashicons slug can be provided in the `icon` property.

https://developer.wordpress.org/block-editor/reference-guides/block-api/block-metadata/#icon

This is not true. I can't get `network`, `community`, or `quote` to appear, for example. No icon shows for the block when specifying some dashicons. I do not know why some are not working.

###

[2022-01-06 19:49] youknowriad commented on #37759
To be honest I don't know either 😬

I think what worked well in terms of reusing code in the past is extracting packages with a defined purpose and ideally stateless packages. (Dom, url, priority-queue...). The code we want to share here has two issues:

 - It's statefull (and more application state than generic state)
 - the purpose of an extracted package based on this code is not clear.

[2022-01-06 20:31] WhiteHeatherClub commented on #37573
Hi,
I'm finding it a bit significant having convinced my organisation with 300 editors to move from SharePoint to WordPress because of the page building ability and built 40+ block patterns which are currently being used in 5.8, but now the inserter in RC1 is in an unusable state with randomly compressed, wrong or inconsistent aspect ratios and scrollbars (unless I install the latest Gutenberg plu

[2022-01-06 21:02] github-actions[bot] opened #37764 "[Flaky Test] Should insert new template part on creation"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
Should insert new template part on creation

## Test path
`specs/site-editor/template-part.test.js`

## Flaky rate (_estimated_)
`136 / 669` runs

## Errors

<details>
<summary>
	<time datetime="2022-01-06T21:02:36.709Z"><code>[2022-01-06T21:02:36.709Z]</code></time>
		Test

[2022-01-06 22:51] annezazu commented on #37573
I would agree that this isn't necessarily a minor issue, especially since patterns are a growing part of the WordPress ecosystem and a big part of block themes. At the least, I believe this needs to make it into a point release for 5.9.

With that said, I just tested this with Gutenberg 12.3 and found the issue isn't visible so there is _some fix_ in place. I tried to look through the 12.3 release

[2022-01-07 00:30] annezazu commented on #36687
I tried replicating this with the following setups and couldn't:

- Test 1: WP 5.8.2 with GB 12.3 and TT2 with permalinks set to Post Name.
- Test 2: WP 5.8.2 with GB 12.3 and TT2 with permalinks set to Custom Structure.
- Test 3: WP 5.9 RC1 with GB 12.3 and TT2 with permalinks set to Post Name.
- Test 4: WP 5.9 RC1 without GB and TT2 with permalinks set to Post Name.
- Test 5: WP 5.9 RC1 with GB

[2022-01-07 00:32] annezazu commented on #37760
Noting that I can replicate in 5.9 RC1 :) Adding to 5.9 board.

[2022-01-07 00:40] annezazu commented on #37758
Thanks for reporting @evaldivieso ! How strange. I was able to replicate but only with certain themes.

- Spacer block works with Twenty Twenty-Two, Twenty Twenty-One,
- Spacer block doesn't work with Twenty Nineteen, Twenty Twenty, Twenty Seventeen.

Adding this as a regression to be looked into further. The above was confirmed with 5.9 RC1 as well so adding to the 5.9 board.

[2022-01-07 03:57] dmsnell opened #37766 "Docgen: Crash for untyped @param descriptions on default re-export"
### Description

In context-provider modules we typically re-export the `Provider` as the default export, wrapping a custom context.

[code]

For TypeScript modules we don't need or want the type annotations as those are enforced and maintained by the compiler.

[code]

When generating the docs though it fails with a couple of different types of errors.

[code]

[code]

These come from trying to [

[2022-01-07 06:52] ramonjd commented on #36583
Looking at this over here for now: https://github.com/WordPress/gutenberg/pull/35817/files#diff-459a77c25699c29accc1b4d398cc430a74307493f1da31b95514ea924297a527R206

Though I'd like to split it out if I ever find an acceptable approach 🤞

[2022-01-07 07:04] carolinan commented on #37735
I am trying to understand how I can contribute to this, can you provide more details?
"Each block needs to have its settings property checked to confirm what properties are actually supported in the block."

Can this be automated? Because of course there will be more changes made to the block properties as the experimental features change.

If not. perhaps there should also be a checkbox in the pu

[2022-01-07 07:08] carolinan commented on #37735
Is this the part that needs to be updated? For each block?
https://github.com/WordPress/gutenberg/pull/36746/files#diff-65c0d061536e5fa3369aba19faf1f475337c549f26828424fa224908f0bcf137R373-R394

[2022-01-07 07:57] uniquesolution opened #37768 "'Block spacing' term is unclear - could be clearer to indicate it effects spacing between blocks inside element."
### Description

Block spacing setting for group block is not working in block editor in wordpress 5.9 RC1 version

When we provide a value in block spacing field of settings panel of a group block, it should follow that gap value and put top margin accordingly, but instead its not adding any css inline or through class, instead its using the default value of "blockGap" provided in the theme.json

[2022-01-07 09:41] Mamaduka commented on #37759
Can we use `@packages/interface` for this? It already has a store and is used by all editor screens.

[2022-01-07 09:54] Mamaduka commented on #37758
I think the issue was introduced by #36186.

[2022-01-07 10:39] oandregal commented on #36401
@noisysocks I no longer plan to update anything.

[2022-01-07 10:50] surajkrsingh commented on #36127
I have the same issue and hook `blocks.getSaveContent.extraProps` not working for all new theme blocks.

[code]
Tested with WP 5.9 RC1
I want to extend the block properties but it is not working for these above blocks.

[2022-01-07 11:00] youknowriad commented on #37759
If I'm being honest I'd say that the current store of the interface package is also a mistake.

The interface package has been initially about providing shared UI elements to the screens (skeleton) but it grew weirdly that now it's very unclear what it serves aside being a place to share code without any meaningful purpose. My ideal scenario would be to restore the original purpose of interface bu

[2022-01-07 11:26] youknowriad commented on #36401
Done ✅

[2022-01-07 11:46] Mamaduka commented on #37754
It looks like `wptexturize` call in `gutenberg_get_the_template_html` function (function name in core `get_the_block_template_html`) is causing the issue.

At this point, the shortcode is already parsed by content block, and `no_texturize_shortcodes` has no effect.

https://github.com/WordPress/gutenberg/blob/c9425ae1236c0eefe9ba37c94e82aab8ca373338/lib/compat/wordpress-5.9/block-template.php#L217

[2022-01-07 11:56] fluiddot opened #37773 "Editor gets locked after dismissing the link picker while having the software keyboard hidden"
## Description

Dismissing the link picker without setting a link makes the editor get locked and prevents the user to interact with it and the app. This is a major issue as in order to keep using the app, the user would require closing and reopening it.

**UPDATE:** This issue only happens when the software keyboard is not displayed within the editor, like for example when an external keyboard is

[2022-01-07 12:04] casaschi commented on #37754
Thanks for debugging this issue.

I tried on my test site with WP 5.9RC and I can confirm that moving wptexturize() before do_blocks() solves the issue. Good catch!

Thanks again.

[2022-01-07 12:57] fluiddot commented on #37773
We've made further testing on iOS devices (iOS 14.7.1 and 15.1) and it couldn't be reproduced, so looks like this might be only affecting either using the Simulator or in development mode.

[2022-01-07 13:19] Mamaduka commented on #37758
@annezazu, I'm not able to reproduce the issue with 5.9 RC1 if I disable the Gutenberg plugin.

[2022-01-07 13:58] ryanwelcher commented on #37735
I'm not sure how much we can automate here, some blocks have explicit entries in their `supports` object that we can use ( i.e [the button block defines` border.radius`](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/button/block.json#L81) ) but other settings, such as color,  are not as clear to determine if they are supported without setting up a theme.json and seei

[2022-01-07 13:58] piotrbak commented on #37708
I'm also able to reproduce it on Chrome 1920x1080.

[2022-01-07 13:58] ryanwelcher commented on #37735
Yes! That's the example I'd refer to. Sorry it was not made clear in the issue description what needs to be done.

[2022-01-07 14:05] antonis commented on #37773
I confirm that I was able to reproduce the issue on a simulator (15.0) running Metro but not on a device (iPhone SE / iOS 14.7.1) running Metro.
<details>
<summary>I'm also getting a console error that might relate to the issue.</summary>

![IMG_0178](https://user-images.githubusercontent.com/304044/148555020-409579e3-4597-4542-9f3c-45498b95aa6f.PNG)
</details>

[2022-01-07 14:11] #29991 closed, assigned to Mamaduka

[2022-01-07 14:32] fluiddot commented on #37773
Upon further testing, we narrowed down the conditions for reproducing the issue to the presence of the software keyboard on iOS. This would limit the impact of the issue to devices where this keyboard is not displayed, due to for example having an external keyboard connected, which might be common when using the editor on tablets.

Additionally, I performed a test on Android by connecting an exter

[2022-01-07 14:46] ryanwelcher commented on #37735
@ajlende it looks like some blocks ( i.e `core/archives` ) don't support any setting overrides at all.

In that case, I am thinking we should keep the reference to the block but add a description to it to indicate that it doesn't support any overrides.

What do you think of omething like the following? The messaging probably need some workshopping but that's the idea

[code]

[2022-01-07 14:47] carolinan commented on #37735
I don't think it is 100% clear what a "setting override" is.
I mean there is filtering the block, and then there is setting true, false or null values in theme.json, and the latter is not overriding, is it? 🤔

[2022-01-07 14:48] ryanwelcher commented on #37735
Maybe`block-level settings`?

[2022-01-07 14:51] ryanwelcher commented on #37735
I guess my thought there was that it was overriding the top-level `settings` object setting in theme.json. i.e `settings.border.radius` is true but then a block can disabled/override that setting with `settings.block.{blockname}.border.radius` being set to false

[2022-01-07 14:53] #37710 closed, assigned to walbo

[2022-01-07 14:55] fluiddot commented on #37773
As @dcalhoun outlined in an internal discussion, this is most likely produced after the RN upgrade to 0.66 and related to potential unconsumed layout animations that can cause modals to become partially closed. This would be a good starting point for initiating investigations 👀 .

[2022-01-07 15:00] ryanwelcher commented on #37735
@carolinan I added the approach above to #37778 so we can iterate there. Thanks for the feedback!

[2022-01-07 15:37] johnstonphilip commented on #29568
DaisyUI has a pretty great system that includes things like focus states:

[code]
<img width="1405" alt="Screen Shot 2022-01-07 at 10 37 56 AM" src="https://user-images.githubusercontent.com/7538525/148567630-07543266-a925-4f7b-8f41-86dd71d84790.png">

https://daisyui.com/core/colors/

[2022-01-07 15:47] ajlende commented on #37735
@carolinan I think it would be a good idea to generate the entire theme.json from source as much as we can. The [tsconfig-reference](https://github.com/microsoft/TypeScript-Website/tree/v2/packages/tsconfig-reference) seems to be the most advanced that I've seen in that aspect, so it can be used as a reference for our own automation. They generate some documentation from source, but they have a [t

[2022-01-07 15:51] overclokk commented on #29568
I think now it's too late to create a good pattern for color names.

2022 theme is in place, all developer will use the pattern used in that theme as default now, you can only create your own using custom preset and not with regular preset.

[2022-01-07 16:03] ryanwelcher commented on #37735
Created #37780 for the checklist update.

[2022-01-07 16:03] ajlende commented on #37735
I think noting that in the description is better than removing the block entirely. Just a couple suggestions for workshopping the wording.

1. These descriptions are for the block, so some additional context for what the block is could be useful. Maybe just copied from the block.json description with the note about no properties afterward. This would be easy to do with automation when we get there

[2022-01-07 16:05] ryanwelcher commented on #37735
Works for me! I've updated the PR #37778

[2022-01-07 16:10] lydia-schow commented on #37322
I also need something like this. A site I'm working on needs 2:1 images, but that's not an option in [the dropdown](https://github.com/WordPress/gutenberg/blob/acf909f8f4a15db031fb5dce3979d7f8556f4162/packages/block-editor/src/components/image-editor/aspect-ratio-dropdown.js#L79-L96). A filter would also allow me to remove aspect ratios that shouldn't be used.

[2022-01-07 16:41] astratagem commented on #36219
I left a comment in https://github.com/JedWatson/react-select/issues/4893#issuecomment-1007551596 which might help – I ran into the same issue and found that I needed to add `react` and `react-dom` to my Webpack configuration's `externals` option as described [in this article](https://www.cssigniter.com/how-to-use-external-react-components-in-your-gutenberg-blocks/):

[code]

[2022-01-07 16:46] oandregal commented on #36770
I've retested this in the latest WordPress 5.9 and WordPress 5.8 with the latest plugin: it works as expected so it can be closed.

[2022-01-07 16:46] #36770 closed, assigned to jorgefilipecosta

[2022-01-07 16:48] karmatosed opened #37784 "Consider iterating the styles for beta notifications and messaging"
I will first say I am unsure if this should go here or needs to be iterated trac side. However, for now I am going to raise it here. It's also not a critical issue more one of clarity and potential confusion.

Right now you can end up with this in your menu:

![2022-01-07 at 16 43](https://user-images.githubusercontent.com/253067/148576953-e0492015-349f-4f32-8b56-718320217db2.png)

Which reads lik

[2022-01-07 17:51] luisherranz opened #37785 "Comments Pagination Next block: accidental division by zero"
### Description

When adding a Comment Query Loop block with the default settings, the `items` attribute is not set and the Comments Pagination Next block returns a `division by zero` error.

### Step-by-step reproduction instructions

- Add a Comment Query Loop block in a Single Post template
- Don't change the "items" option
- Save the template and visit the page

You should see the `division by

[2022-01-07 17:56] iidastudio opened #37786 "In 12.3.0, the blockGap for each block set in styles.blocks in theme.json is disabled."
### Description

In 12.3.0, the blockGap for each block set in styles.blocks in theme.json is disabled.In 12.2.0, if you set the blockGap for each block in styles.blocks in theme.json, the value will be reflected, but in 12.3.0, the blockGap set in styles.blocks will be ignored and the global blockGap set in default or styles will be reflected.

Even blocks without gap, such as post-date, will aff

[2022-01-07 18:39] annezazu commented on #37758
Tried on a fresh install (that never had GB installed) with RC1 and can see it works fine with 5.9 RC1 :) Have another test site that can replicate but seems to be isolated. Removing from 5.9 must haves.

[2022-01-07 18:40] karmatosed commented on #37752
I second this expectation. If the canvas says something the control to me should reflect this. I have a feeling the sidebar hasn't caught this for a while as I seem to remember this disconnect being there for a while. However, I think it should get resolved as it feels less easy the further into site editing things go.

I put on needs dev as to me the solution is fairly agreed on of showing the se

[2022-01-07 18:44] karmatosed commented on #37725
First, I love that this is getting some attention @javierarce so ✨ there.

I wonder though, could we go further? The bit that really gets me is the 2 actions on the same level. I understand they are a primary, secondary and tertiary style but they just feel so not great together. What could be the option to soothe that line of 'preview/take over/ exit the editor'?