[2021-11-26 09:53] getdave opened #36905 "Consider maxPages attribute on Page list as arg to get_pages"
I wonder if it should be an argument to `get_pages`, usually that supports adding a limit.

_Originally posted by @talldan in https://github.com/WordPress/gutenberg/pull/36877#discussion_r757352570_

[2021-11-26 09:53] jameskoster commented on #36773
That seems a little prominent to me, but it would be good to be consistent for now, and revisit holistically later 👍

[2021-11-26 10:03] scruffian commented on #36867
Sorry, you're right 🤦

I made a PR here: https://github.com/Automattic/themes/pull/5104

[2021-11-26 10:03] #36867 closed, assigned to nobody

[2021-11-26 10:15] michaelbonert commented on #36687
Same problem here: Just a blank site when starting the editor. It stopped running after updating Gutenberg 11.8 to 11.9. Still not running with 12.0

WP: 5.8.2
Gutenberg: 12.0.1
Browser: Safari, Firefox and Chrome

[2021-11-26 10:21] github-actions[bot] opened #36906 "[Flaky Test] should drag and drop"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should drag and drop

## Test path
`specs/editor/various/draggable-block.test.js`

## Errors

<time datetime="2021-11-26T10:21:48.554Z"><code>[2021-11-26T10:21:48.554Z]</code></time> Test passed after 1 failed attempt on <a href="https://github.com/WordPress/gutenberg/action

[2021-11-26 10:47] mtias commented on #36350
Related #36697.

[2021-11-26 11:00] mtias commented on #35662
This is mostly covered, thanks for the work following up on issues!

[2021-11-26 11:00] #35662 closed, assigned to nobody

[2021-11-26 11:13] #36547 closed, assigned to mtias

[2021-11-26 11:28] Mamaduka commented on #36823
This issue is fixed now.

[2021-11-26 12:13] jameskoster commented on #36823
True:

<img width="567" alt="Screenshot 2021-11-26 at 12 13 10" src="https://user-images.githubusercontent.com/846565/143579417-1a984dd6-90ab-4640-bd32-40f15e145ee0.png">

[2021-11-26 12:13] #36823 closed, assigned to nobody

[2021-11-26 12:45] #36865 closed, assigned to nobody

[2021-11-26 13:30] getdave commented on #36721
With [these](https://github.com/WordPress/gutenberg/issues/36721) complete I'm closing this one out as done.

[2021-11-26 13:30] #36721 closed, assigned to getdave

[2021-11-26 13:55] TimDix commented on #16006
I tried to use the Yoast Duplicate Post plugin as a workaround for this issue. There's a Rewrite & Republish feature which lets you save the ACF Meta fields to the draft, and therefore I can get working previews. And I found it worked even better than expected. The Preview works fully without saving drafts and includes ACF Meta updates.

**Workaround Steps:**
1. Install Yoast Duplicate Post
2. Go

[2021-11-26 14:08] Mamaduka commented on #36821
Can you give me more details/specs when this menu item should be active and when not?

[2021-11-26 14:12] jameskoster opened #36916 "It shouldn't be possible to make a Template part a Reusable Block"
<img width="431" alt="Screenshot 2021-11-26 at 14 12 31" src="https://user-images.githubusercontent.com/846565/143593701-ebb94919-62d4-4eaf-9a5b-ec90ff5accef.png">

[2021-11-26 14:22] Mamaduka commented on #36916
We can disable this using [block support](https://developer.wordpress.org/block-editor/reference-guides/block-api/block-supports/#reusable).

[2021-11-26 14:56] Luehrsen commented on #27107
At least for now not having breakpoint support would be a hard blocker against using theme.json and FSE. This is especially true for reasons mentioned above, where certain user interface elements should behave differently or not be visible at all on certain screens.

Media Queries are not going anywhere for the time being and considering all major css frameworks are building heavily on them makes

[2021-11-26 15:06] #36862 closed, assigned to nobody

[2021-11-26 15:55] jameskoster commented on #36821
Sure. Essentially, the "Site" menu item should only be active when:

* You click "Appearance > Editor" (this works currently)
* You click the Site menu item itself (this also works)

In any other case the flow is template-centric (IE you are navigating through the Templates List), so it doesn't make sense to make the "Site" item active in those situations.

I appreciate this is a little tricky to

[2021-11-26 16:11] mcsf commented on #8119
Referencing #36807 for tracking purposes.

[2021-11-26 16:16] Mamaduka commented on #8119
@mcsf, we fixed a few others recently. I'm going to add them for tracking purposes - #30203, #34565, #35767.

[2021-11-26 16:17] karmatosed commented on #26351
+1

[2021-11-26 16:35] kafleg commented on #36687
Hello All,
Would you please check once by changing the permalinks?
![image](https://user-images.githubusercontent.com/13062231/143610137-f4715723-1254-49d6-80e2-ef40f56fc18d.png)

I had no idea how the **Custom Structure** permalink was selected in default. I changed it to the Post name and its working fine. Would you please see which permalink is selected under **Settings > Permalink?**

[2021-11-26 16:50] iandunn commented on #27107
I don't think it needs to be all-or-nothing. I've been trying to use techniques like `clamp()` first, and that often works. When it doesn't work, then I fall back to using media queries. There's nothing stopping you from manually adding breakpoint-specific variables to `theme.json`, or extra CSS on top of what Gutenberg generates.

[2021-11-26 17:11] fluiddot commented on #35573
I couldn't reproduce the period auto-inserting until realizing that it's required to enable the typing option "Double tap space bar to add period" in the keyboard configuration 😅, I'd like to share it here in case it helps.

<img src=https://user-images.githubusercontent.com/14905380/143613512-428dc2fc-4014-4f90-8eb2-aba623e263fa.jpg width=300>

[2021-11-26 17:19] fluiddot commented on #34938
@guarani Not sure if it refers to the bold format button located in the toolbar, if so, I noticed in the video and testing locally that the button is in its enabled state after pressing backspace, is this step accurate?

<img width="308" alt="Screenshot 2021-11-26 at 18 19 05" src="https://user-images.githubusercontent.com/14905380/143614459-0faa32e4-a791-4260-8ac7-880ffe152549.png">

[2021-11-26 17:40] #36916 closed, assigned to ntsekouras

[2021-11-26 18:05] #36774 closed, assigned to jorgefilipecosta

[2021-11-26 18:43] olafleur-godaddy opened #36919 "Styling issues with Appenders"
### Description

After #36605 , some of the appenders in CoBlocks are now behaving very strangely.

For example, here is what happens in the FAQ block (Custom Appender)  :

Before (12.0.1)

<img width="670" alt="12 0 1" src="https://user-images.githubusercontent.com/85255688/143620219-d11644e7-9bba-45dc-9e38-2f411b8ac5bb.png">

After (Nightly)
<img width="670" alt="nightly" src="https://user-image

[2021-11-26 18:44] fluiddot commented on #35573
I ran some investigations of the issue, and I spotted that this is caused by a condition on Aztec that prevents updating the internal text value due to receiving an event count lower than expected:

https://github.com/WordPress/gutenberg/blob/628e956b1eadcfb82dc36bf21e418ae436ae4ac9/packages/react-native-aztec/android/src/main/java/org/wordpress/mobile/ReactNativeAztec/ReactAztecManager.java#L220

[2021-11-26 18:56] guarani commented on #34938
You're right @fluiddot, I've now fixed that step above (not sure why I had that in there originally).

[2021-11-26 19:10] michaelbonert commented on #36687
I checked the permalinks: Post name was selected.

I changed it to Numeric -> Editor doesn't work
Changed it back to Post name -> Editor doesn't work

[2021-11-26 20:46] jeremyfelt commented on #36838
@Mamaduka Thanks for taking a look! I was wrong on the no-title support. There was also one more piece of code I had active filtering the post title that was broken by 647547a7ab9947d212a8ba89a6054d91b546174a that ended up being the issue. I'm going to open a new enhancement request with more information for post types without titles.

[2021-11-26 20:46] #36838 closed, assigned to nobody

[2021-11-26 21:41] amustaque97 commented on #22890
:wave: I'm working on `SuggestionsList` component.

[2021-11-26 22:43] neilorangepeel opened #36923 "Navigation Block: Sub menu icon doesn't scale with menu font size"
### Description

The sub menu icon/chevron doesn't reflect the font size of the menu. If the menu has a large type size applied the icon remains the same.

### Potential solution
Add inherit font size to the [parent button](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/navigation/style.scss)

`.wp-block-navigation__submenu-icon {
    font-size: inherit;
}`

### Step-

[2021-11-27 06:33] carlomanf commented on #35990
Please look at addressing #36060 as a follow-up to this, because the post editor mode did enable access to revisions and the new mode should enable similar access.

[2021-11-27 11:15] mcsf commented on #8119
Thanks, keeping that trail is always useful. :)

[2021-11-27 16:26] webmandesign commented on #36404
Adding to the issue as this is related:

Not only that, but when setting up custom column widths for large screens, we can not control the smaller screen widths, which is unfortunate. And especially on tablet screen widths forcing [`flex-basis: calc( 50% - var(--column_gap) / 2)!important;`  styles](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/columns/style.scss#L46

[2021-11-27 16:30] webmandesign commented on #36404
BTW, shoudn't  [`flex-basis: calc( 50% - var(--column_gap) / 2)!important;`  styles](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/columns/style.scss#L46) be a theme territory?

[2021-11-27 18:02] alexstandiford opened #36926 "Getting An Error When Compiling Scripts using wp-scripts"
### Description

When I try to use the wp-scripts library to run `wp-scripts start`, I get the following error message:

[code]

I did a little digging, and found [this issue](https://github.com/webpack/webpack.js.org/issues/3940) on Webpack's repository that mentions `jsonpFunction` was replaced with `chunkLoadingGlobal`. I was able to get the script to compile successfully by replacing `jsonpFun

[2021-11-28 06:50] ai2n opened #36930 "Event Countdown Block"
### Description

The Event Countdown Block:
https://wordpress.com/support/wordpress-editor/blocks/event-countdown-block/

Doesn't work correctly.

**Expected result:**
The event time set is counted down to consistently across time zones. Two users in wildly different time zones should see the same amount of time until the event.

**Actual result:**
Each user in a different time zone sees a differe

[2021-11-28 08:47] TheFlowerEmpowered commented on #28063
I am having the same issue. Is there a way to select the color for a button once it has been clicked? It's changing the text to white on my button which makes it almost invisible. Also, I am only seeing the issue on safari. On chrome, all is ok.

[2021-11-28 08:57] nikola-wd commented on #30276
I have a similar bug with the framework I wrote. Here's what happens.

If I have a block "A", that doesn't have repeater fields inside it. And if I then duplicate that block, and edit the new block (that's a copy of the main block), I don't have any bugs. Each updates for itself. But.

In the case of block "B", which has a repeater field inside it, this is what happens.
1. I create one instance of

[2021-11-28 13:25] mrwweb commented on #23377
I'd be happy to offer a real-world use case where having a stable unique block ID is extremely helpful: an accordion block.

An accordion block needs an ID for at least two reasons:

1. Allow anchor links to a specific section on a page
2. Correctly associate the accordion heading and accordion content via the `aria-controls` attribute.

While editors certainly can specify a custom ID, I want to a

[2021-11-28 13:32] Mamaduka commented on #36838
Thanks, @jeremyfelt.

[2021-11-28 15:15] amustaque97 commented on #34242
@ntsekouras, this issue can be closed now. WP core changes has been merged. You can check the status as well https://core.trac.wordpress.org/ticket/54296

[2021-11-28 15:43] franmastromarino commented on #36756
hello @talldan

the issue haven been fixed yet, im testing gutenberg 12.0.1

[2021-11-28 15:44] franmastromarino commented on #36771
hello any update on this?

you can test this with Wowmall theme

https://wordpress.org/themes/wowmall/

here is the page with the issue

https://wowmall.store/demo/product-category/shoes/

[2021-11-28 17:01] fschtn commented on #27318
I have this exact problem right now.. Any updates? Still "fixed"?

[2021-11-28 19:56] Mamaduka opened #36937 "Site Editor: Template part is missing after exiting focus mode"
When switching into focus mode to edit the template part, it's missing after going back to the template using the "Back" button.

## Step-by-step reproduction instructions
1. Go to Appearance > Editor
2. Open templates details dropdown in the header.
3. Click on "More Options" for the area and "Edit {templatePartName}
4. Without doing anything, click the "Back" button.
5. See that now the template

[2021-11-28 22:07] amustaque97 commented on #22890
Linked PR for `ImportForm` reusable component.

[2021-11-28 23:24] johnbillion commented on #36930
Sorry to hear you're having a problem @ai2n but this block is provided by the commercial WordPress.com service, not by Gutenberg or the open source WordPress software. You should contact the WordPress.com support team instead.

[2021-11-28 23:24] #36930 closed, assigned to nobody

[2021-11-28 23:37] #29720 closed

[2021-11-29 00:25] github-actions[bot] opened #36939 "[Flaky Test] should be able to create an hierarchical post without title support"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should be able to create an hierarchical post without title support

## Test path
`/test/e2e/specs/editor/plugins/custom-post-types.spec.js`

## Errors

<time datetime="2021-11-29T00:25:07.116Z"><code>[2021-11-29T00:25:07.116Z]</code></time> Test passed after 1 failed attemp

[2021-11-29 00:59] edufolios-matt commented on #13774
To expand on this issue, I also see this behaviour if programmatically adding tags / categories. Despite the tags / categories changing (on the respective panel) the Update button remains inactive.

To confirm these updates are using the standard dispatch action:

`dispatch( 'core/editor' ).editPost( { 'tags': tags } )`

I've tried this through WIthDispatch as well, but both show the same behaviou

[2021-11-29 01:47] #36641 closed, assigned to stacimc

[2021-11-29 04:13] ramonjd commented on #36473
I've started a PR over at https://github.com/WordPress/gutenberg/pull/36940

It only adds the default name for new colors so far, but I can look at validation and onHover effect mentioned in https://github.com/WordPress/gutenberg/issues/36473#issuecomment-971493346 as well.

[2021-11-29 04:48] uniquesolution commented on #36787
I have created a demo test site at my server, to check this issue, but every situation HTML form is not working with block theme. The page where I added the form https://uniquesweb.co.in/demo/testing/sample-page/
Here is the login detail to check it.
Please check it
https://uniquesweb.co.in/demo/testing/wp-admin/
username: wp-administrator
password:- 123abc789

[2021-11-29 05:41] Mamaduka commented on #36937
@kevin940726, I remember you worked on this feature. Any ideas why this might be happening?

[2021-11-29 06:21] palmsout commented on #34367
Is it me or has the code editor been removed altogether? I no longer have the option to change to code editor mode while in the site editor. I looked through the release changelog, and I didn't see anything about this. What could be causing this if this was not an intentional change? Sorry if this is comment is not in the right place. Let me know if I could start a new issue (if this is a novel bu

[2021-11-29 06:36] Mamaduka commented on #36665
@jameskoster user should be able to duplicate, let's say `single.html` and use it as a base for Page. But this would require extra steps.

We can start with custom templates and progressively enhance the duplication feature.

[2021-11-29 06:45] palmsout commented on #34367
Sorry, I wasn't specific enough before. I can still see the code editor option for posts, etc. But I can no longer see it when I'm editing a template. I'm sure I used to be able to! @mtias

[2021-11-29 07:21] github-actions[bot] opened #36943 "[Flaky Test] Save flow should work as expected."
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
Save flow should work as expected.

## Test path
`specs/site-editor/multi-entity-saving.test.js`

## Errors

<time datetime="2021-11-29T07:21:50.129Z"><code>[2021-11-29T07:21:50.129Z]</code></time> Test passed after 2 failed attempts on <a href="https://github.com/WordPress/

[2021-11-29 07:52] youknowriad opened #36944 "Global Styles: Make the default layout work as a preset."
Presets (colors and font sizes) work this way:

 - generates a classname and some styles (potentially CSS vars)
 - Apply the classname to the element where they are applied.

The default layout works a bit differently

 - Styles are injected inline with a unique identifier attached to each container, this maps the behavior of custom values instead of presets.

Can we update the default layout to u

[2021-11-29 08:44] cbravobernal commented on #28913
Here we have an interation of applying different styles to different components both in JS and in PHP.

https://github.com/WordPress/gutenberg/pull/36322/files

[2021-11-29 09:02] kevin940726 commented on #36937
I did the bisecting and found the first bad commit is coming from https://github.com/WordPress/gutenberg/pull/36340. I have no idea why though. The problem goes away if I commented out this part:

https://github.com/WordPress/gutenberg/commit/5458edce15224ee1398d6697d317a6fd7e7abcac#diff-884dae78f1676d454c049107e9b05b2403eb042457f77f836bd170d104396b8bR226-R233

Maybe @tellthemachines knows why?

[2021-11-29 09:29] carlomanf commented on #34367
@palmsout the code editor has disappeared because of changes that were made with #35990. I left a comment over there because I noticed that revisions had disappeared as well. Both are features that I use from time to time and should be reinstated.

[2021-11-29 09:32] Mamaduka commented on #36937
Thanks for the follow-up, @kevin940726.

[2021-11-29 09:32] langhenet commented on #6356
Yeah, me too

[2021-11-29 09:43] youknowriad commented on #36521
I might have a solution for this: It would work long term for all blocks but won't work for the blocks that are not yet refactored to use the official layout API.

Basically, instead of using the CSS variable to define the gap styles:

[code]

Have logic in place in the layout styles here if a block gap is defined, generate the correct styles for the children directly:

[code]

The CSS variable sh

[2021-11-29 10:06] jameskoster commented on #34367
Yes the code editor was never made a part of the template editor. I'm unaware of the context there, so it may be worth opening a new ticket to discuss this.

[2021-11-29 10:11] gziolo commented on #36497
In https://github.com/WordPress/gutenberg/issues/25188, we discuss several options to make the support for multiple blocks more automated. Maybe the best way to move forward is to settle on a few basic patterns for detecting entry points. It looks like webpack has changed the opinion too drastically on handling multiple paths provided between webpack v4 and v5. It's tough to come up with a good re

[2021-11-29 10:19] mtias commented on #36923
Are you testing with trunk? This was addressed in #36714.

[2021-11-29 10:21] jameskoster commented on #36665
We need to be careful with providing a duplication UI for primary templates because in this case duplication should only occur as part of the new template creation flow, never as a discrete action. We shouldn't make it possible for folks to create multiple index templates for instance. Perhaps the duplication element doesn't need to be surfaced to the user at all..?

For that particular example I

[2021-11-29 10:21] youknowriad commented on #36521
Thinking more, I think the issue can also be reproduced using just theme.json (Global styles) if we target specific blocks but it's less visible there.

So I guess my solution here would be to only define the CSS variable for the "root" level, in all other cases, just render styles directly (like we do for duotone styles for instance)

[2021-11-29 10:22] kevin940726 commented on #36821
The problem is that we do a redirection upon clicking on the "Site" link. There's essentially no page which is called "Site", we immediately redirect the user to the template editor (which is the frontpage template by default). Should we:

- Highlight the "Site" link only when we're on the default(frontpage) template, or
- Highlight the "Site" link whenever we're editing any template but not templ

[2021-11-29 10:39] neilorangepeel commented on #36923
Yes. I should have mentioned the issue seems to be just the front-end as on the front-end the icon is contained in a `<button>` element and seems to be inheriting user-agent-styles.

<img width="533" alt="Screenshot 2021-11-29 at 10 34 22" src="https://user-images.githubusercontent.com/3746751/143852571-eebd53a0-192a-49a3-a6ee-bc13278d1340.png">

[2021-11-29 10:41] mtias commented on #36923
Ah, thanks for the clarification!

[2021-11-29 10:44] jameskoster commented on #36821
None of these options seem very good to me. It would be very strange imo to see "Site" as the active menu item when editing the Page template via the templates list (assuming a static home page it set in this example).

Probably a dumb question but... logic exists somewhere to interpret the homepage settings in order to display the correct template / content when opening the site editor. Can we no

[2021-11-29 10:49] jasmussen commented on #36923
Apologies! I somehow failed to test the frontend in my previous fix. Thanks for the suggestion, PR here: #36948.

[2021-11-29 10:49] Mamaduka commented on #36821
I think we can check if `page?.path === siteUrl`. Currently, this is only true for the home/index page.

[2021-11-29 10:55] adamziel commented on #36616
If my understanding is correct, the problem goes like this:

1. Polylang has a special menu item called "Language switcher". Whenever a menu is rendered or returned by an API endpoint, that [menu item is turned into many items like "English, French, Spanish" by a filter.](https://github.com/polylang/polylang/blob/3ccb16fceeec1a56e71c2e5ecd82efdcd726599c/frontend/frontend-nav-menu.php#L92).
2. Gute

[2021-11-29 11:03] jameskoster commented on #36821
@Mamaduka would that same logic allow us to display the site name / url in the top bar when editing the homepage? (https://github.com/WordPress/gutenberg/issues/36207)

[2021-11-29 11:05] mtias commented on #29733
Closing this as there's not much left that is actionable right now.

[2021-11-29 11:05] #29733 closed

[2021-11-29 11:29] Mamaduka commented on #36821
Technically yes. I can create a proof of concept PR later this week.

[2021-11-29 11:32] getdave commented on #36147
After some digging and testing I've identified this is coming from

https://github.com/WordPress/wordpress-develop/blob/64b7eb383a567aaeab5460c92e82afbd731d1e63/src/wp-includes/class-wp-theme-json.php#L698

This margin is added because we always add a top level node to our styles in `get_style_nodes()`:

https://github.com/WordPress/wordpress-develop/blob/64b7eb383a567aaeab5460c92e82afbd731d1e63/s

[2021-11-29 11:55] jameskoster opened #36951 "Enhance Template Inspector"
<img width="279" alt="Screenshot 2021-11-29 at 11 10 09" src="https://user-images.githubusercontent.com/846565/143858250-21c366a8-d846-4cdd-8498-85c5f44566c3.png">

It would be nice to:

- [x] Allow $custom template names / descriptions to be edited
- [x] Include revisions (https://github.com/WordPress/gutenberg/issues/36060)
- [ ] Provide ways to delete, revert, etc (https://github.com/WordPress/

[2021-11-29 12:00] BogdanUngureanu opened #36953 "URL modal is not positioned inside the Gutenberg container on lower screen sizes"
### Description

On lower screen size, when trying to add an URL using the URL icon, the modal goes outside of the Gutenberg container in Appearance > Widgets.

### Step-by-step reproduction instructions

1. Go to WP-Admin > Appearance > Widgets
2. Resize the browser to a lower width
3. Add a new paragraph with a small text
4. Click to add an URL to it.
5. Notice that the URL modal is outside of G

[2021-11-29 12:10] adamziel commented on #36616
I proposed a way forward in https://github.com/WordPress/gutenberg/pull/36950. LMK if you think that would work @getdave @manooweb

[2021-11-29 12:28] alvinchevolleaux commented on #36824
So this is a basic DropZone component that just does a `console.log` on `onHTML` and `onFilesDrop` events.

On the affected browser (Chrome Version 96.0.4664.45 (Official Build) (64-bit) on Windows 11) this is the behaviour. As you can see it treats the drop as a file drop:
![drag_drop_issue1](https://user-images.githubusercontent.com/3525721/143867442-8d6b2ef3-531c-40d2-9036-a333a8494432.gif)

Ho

[2021-11-29 12:38] mtias commented on #36827
We don't need a trailing inserter for these views. The main inserter in the header should already accomplish that.

[2021-11-29 12:40] jameskoster opened #36955 "Template Areas UI: Add support for other area types"
I was testing some FSE themes from the directory last week and spotted what I suspect is a bug:

<img width="1636" alt="Screenshot 2021-11-29 at 12 36 52" src="https://user-images.githubusercontent.com/846565/143869549-9fe32a0a-b66d-48db-b092-e117b00f732f.png">

The areas UI currently only seems to support Template Parts that are assigned to either the `header` or `footer` area. Other Template Par

[2021-11-29 12:40] jameskoster commented on #36955
The same issue appears in the template dropdown:

<img width="279" alt="Screenshot 2021-11-29 at 12 40 27" src="https://user-images.githubusercontent.com/846565/143869834-b2cc967f-6731-4604-bac9-5c30e1220c4a.png">

[2021-11-29 13:27] #30732 closed, assigned to nobody

[2021-11-29 13:53] getdave opened #36961 "Long URLs cause horizontal scroll bar in the Link UI"
### Description

If you add a very long URL via the Link UI then it causes a horiztonal scroll bar to appear.

### Step-by-step reproduction instructions

1. New Post
2. Add link to a very long URL `https://wordpress.slack.com/archives/C02QB2JS7/p1637762376489200`.
3. Click on Link to show preview.
4. See scrollbar.

### Screenshots, screen recording, code snippet

https://user-images.githubuserco

[2021-11-29 13:53] getdave commented on #36961
@javierarce @jasmussen FYI just in case you come across this.

[2021-11-29 13:59] #36874 closed, assigned to nobody

[2021-11-29 14:24] mkaz commented on #36688
@jorgecontreras Thanks so much! I do have a PR that would add a template page for How To guides here, based off the same Good Docs Project template. Feedback welcome. https://github.com/WordPress/gutenberg/pull/36694

[2021-11-29 14:31] kebbet opened #36962 "3 gutenberg_-functions called in wp-trunk (blocks/navigation.php)"
### Description

 There are three instances in the navigation block where gutenberg_-functions are called. They should be replaced with their correct function name, and be fixed upstream. Introduced in https://core.trac.wordpress.org/changeset/52069.

File: `/src/wp-includes/blocks/navigation.php`
L176: `gutenberg_get_menu_items_at_location`
L181: `gutenberg_sort_menu_items_by_parent_id`
L182: `gu

[2021-11-29 15:14] carolinan commented on #36794
I believe there is an issue for the part where the "adjusted default value" is not showing in the control, but finding issues here among 3.6K is an issue.

[2021-11-29 15:16] ryanwelcher commented on #36487
Just wanted to follow up on this @pdewouters. I have been able to reproduce this error only when the path didn't exist - which based on your example is not the same steps to reproduce. There does seem to be a case where the validation fails to see that there is an issue with the path when using the `register_block_type_from_metadata` function - https://github.com/WordPress/wordpress-develop/blob/m

[2021-11-29 16:53] Chouby commented on #36785
This idea supposes that for a given slug, there is one unique term per taxonomy. That's of course true on a default install. But the limitation that ensured this uniqueness has been removed since version 4.x (I don't remember exactly which one) when shared terms have been splitted. The uniqueness can now be ensured per taxonomy and per one or additionnal parameters that could be added by a plugin.

[2021-11-29 17:07] palmsout opened #36966 "Allow Code Editor for Templates"
## What problem does this address?
I often find myself needing to see the underlying code generated by the block editor when editing templates. I know this was possible at some point, but it's not letting me do so now. I thought this was possible in the Site Editor, but a previous comment [here](https://github.com/WordPress/gutenberg/issues/34367#issuecomment-981477194) tells me it was never possi

[2021-11-29 17:27] annezazu commented on #36701
I also experienced some oddness with the UX when using the always on mobile option today that I think relates to this issue as well:

https://user-images.githubusercontent.com/26996883/143914573-44f3d3df-7e74-4bf8-b09c-758a2c642869.mov

From my point of view, I thought the vertical alignment was accidentally turned on and that somehow the navigation block had taken over my entire header. It wasn't

[2021-11-29 17:41] annezazu commented on #36902
I can confirm with Gutenberg 12.0.1 and using WordPress 5.9-alpha-52262.

[2021-11-29 17:46] stokesman commented on #36497
Yes, I've tested and the output is as you wrote—`custom/one.js` and `custom/two.js`.

[2021-11-29 17:46] MarieComet opened #36967 "Cannot change Media & Text alignment when inside column block"
### Description

When a Media & Text block is inside a Column block, alignment control (toolbar) disappear.
Since Media & Text block has "wide" as default alignment, it make overflow parent column.

Maybe it's related to https://github.com/WordPress/gutenberg/issues/33374 but not sure.

### Step-by-step reproduction instructions

Use a bloc based theme (2022 for example), insert a Columns block, t

[2021-11-29 17:54] #36773 closed, assigned to Mamaduka

[2021-11-29 19:13] DanielRuf opened #36969 "missing self-URL check in RSS block (Trac: 54527)"
### Description

At https://github.com/WordPress/gutenberg/blob/fb8a732f00dd76e62eb0c6119ec99bd85db91e64/packages/block-library/src/rss/index.php#L16 there is the self-URL check missing, which can lead to negative impacts on websites.

Copied from https://core.trac.wordpress.org/ticket/54527:

At https://github.com/WordPress/WordPress/blob/5.8.2/wp-includes/widgets/class-wp-widget-rss.php#L48-L64

[2021-11-29 19:32] sphere-radio-it commented on #10154
@annagoodman we have the same problem. Did you find any solution for that?

[2021-11-29 19:40] scofennell opened #36970 "Question: Roles & Permissions in JS"
I want to do this:
[code]

For users who cannot publish_posts.  I can't seem to understand how permssions/roles work in js.  I assume this is the right place to look:

https://developer.wordpress.org/block-editor/reference-guides/packages/packages-core-data/#canuser

But I can't seem to arrive at a working example.  Help?

As a workaround, I made a special JS file for users who cannot publish_post

[2021-11-29 19:45] Addison-Stavlo opened #36971 "Block Styles: Layout changes when selecting background colors."
### The Issue

In FSE lets take the header in tt1-blocks as an example.  If we change the color setting of a wrapper block inside the header, the layout of all the blocks shift as a result:
![layout-shift-background-color](https://user-images.githubusercontent.com/28742426/143930978-9cd93fee-da9d-4b17-9b43-397d7bcf7725.gif)

This behavior is the same whether it was the recently removed color setti

[2021-11-29 19:49] priethor opened #36972 "Conditionally show or hide inspector settings depending on other block settings"
## What problem does this address?
As of Gutenberg 12.0, all color options available to a text block are shown in the inspector sidebar, such as Color, `Background Color`, and `Link Color`. However, some blocks like `Post Date` and `Post Date` can work entirely as links or plain text, making options like `Color` and `Link Color` mutually exclusive.

In the example below, the Color and Link Color o

[2021-11-29 20:11] glendaviesnz commented on #36824
No on OSX - sorry, I didn't interpret your note in the description as it being a Windows only problem, just that you were testing on Windows - apologies for causing you extra testing and clarification time.  I have updated the description to clarify that this appears to be a windows only problem.

[2021-11-29 20:15] #36923 closed, assigned to jasmussen

[2021-11-29 20:18] alvinchevolleaux commented on #36824
Yes sorry should have specified. It also seems to effect the latest version of Edge too on Windows so it seems to be Chromium browsers on Windows (10 and 11 tested) that are affected.

[2021-11-29 20:23] #35536 closed, assigned to nobody

[2021-11-29 20:45] ramonjd commented on #36521
Would we somehow pull the `margin-top` value from the `--wp--style--block-gap` itself?

If we could pull this off it would be ideal.

My worry with #35454 was that it would introduce yet two more gap-related CSS vars on top of the one https://github.com/WordPress/gutenberg/pull/36680 would introduce. Nothing life-threatening of course , I might have had to rethink the implementation, that all. 😄

[2021-11-29 21:53] annezazu opened #36977 "Navigation block: Unable to use sub-menu item & deletion deletes parent menu"
### Description

When using the Navigation block and added sub-menu items, I noticed that there appears to be a regression in behavior where I'm unable to see the sub-menu item upon addition and, if I remove it, it also removes the parent menu item.

### Step-by-step reproduction instructions

1. Add a navigation block.
2. Add a few menu items.
3. Add a sub menu item.
4. See initial state where yo

[2021-11-29 21:55] annezazu commented on #36977
Previous sub menu item behavior:

https://user-images.githubusercontent.com/26996883/143949011-f22b5994-efd4-48b4-a27e-1c69abc65637.mov

Marking this as a regression for now!

[2021-11-29 21:55] richtabor commented on #36521
We wouldn't need this PR/custom var, as the value would be applied directly with what @youknowriad is suggesting.

[2021-11-29 22:11] dreamwhisper commented on #33789
I'd like to see the full, thumbnail, medium, large, & custom-theme-size(s) selectable to allow for greater flexibility in theme design, especially when the same image may be shown at different sizes throughout a site.

[2021-11-29 22:12] annezazu opened #36979 "Global Styles: Custom Palette colors applied inconsistently and not globally"
### Description

As part of the eleventh call for testing for the FSE Outreach program, an issue was found with using custom color palettes:

When testing this further, I found that they don't seem to work at all, either globally or for individual blocks.

### Step-by-step reproduction instructions

1. Open up the Appearance > Editor (beta)
2. Open up global styles.
3. Go to the Colors section.
4.

[2021-11-29 23:49] tellthemachines commented on #36937
No idea, but that code's specific to the navigation block. Does this issue happen with any template part or only one that contains a navigation?

[2021-11-30 00:17] noisysocks commented on #36962
These functions were recently removed from Core (https://github.com/WordPress/wordpress-develop/commit/a9e66f4bcb8a857c78ac29f7de30f8f9f3d129c5) but remain in the plugin (https://github.com/WordPress/gutenberg/blob/trunk/lib/navigation.php).

Are they still being used by the Navigation block? If not, we can simply remove this code.

Otherwise, I'm not sure what to do. Ordinarily we would gate func

[2021-11-30 00:31] tellthemachines commented on #36962
#36604 removes those functions from Gutenberg. It's approved, but has been sitting there for a few days and has a bunch of conflicts. From the convo there was uncertainty about whether this should go into 5.9, but given it removes functionality that shouldn't be in core, backporting it would fix the issue here.

[2021-11-30 00:57] talldan commented on #36962
These were already removed for the navigation block in the plugin in https://github.com/WordPress/gutenberg/pull/36336. `lib/navigation.php` isn't the block's PHP. That's in the block-library package.

[2021-11-30 01:01] tellthemachines commented on #36962
@talldan those functions are still in the latest trunk, e.g. [here](https://github.com/WordPress/gutenberg/blob/trunk/lib/navigation.php#L353)

[2021-11-30 01:03] talldan commented on #36962
Ok, @noisysocks has corrected me, and it's not so much that the functions exist, but that they are called.

[2021-11-30 01:08] talldan commented on #36962
Yeah, but they shouldn't be deleted, they're in use in the plugin. Functions in that file will be renamed when copied to trunk.

The issue is that the block's php file is copied automatically and so the call site of those functions is wrong.

[2021-11-30 01:13] andrewserong commented on #36521
I like the idea @youknowriad! We do have some custom logic in the Button block (width calculation) and the Columns block (left margins) that might be hard to replace in the shorter-term. I suppose as a shorter-term step, even updating the Layout spacing support to use the computed value (`.wp-container > * { margin-top: 10px; }`), it sounds like that would remove the conflict and the existing inli

[2021-11-30 01:33] talldan commented on #36962
So for some more background, these functions are for the `__unstableLocations` feature in the nav block, it's used to render a classic menu on the front end of a user's site. It's a plugin only feature that still needs some work.

They were also used by navigation area block, but the navigation area feature has been or will be removed.

So I think the quandry is how do we handle unstable code give

[2021-11-30 01:39] tellthemachines commented on #36937
Answering my own question above 😅, I can reproduce this on latest trunk with any template part, whatever it contains. I'm also seeing a few PHP notices when loading the editor, not sure if they may be related:

[code]

[2021-11-30 02:06] kevin940726 commented on #36821
Isn't this the same as my first proposal? Or am I missing something 🤔 ?

[2021-11-30 02:14] #33580 closed, assigned to costdev

[2021-11-30 02:17] noisysocks commented on #36962
This bit isn't strictly necessary. Gating the part of `navigation/index.php` which calls these functions makes sense though.

[2021-11-30 02:18] kevin940726 commented on #36860
I believe this is how it worked before. I'm not sure what needs to be done to support adding a _custom_ template. See https://github.com/WordPress/gutenberg/pull/26941 and https://github.com/WordPress/gutenberg/pull/27235.

[2021-11-30 02:21] kevin940726 commented on #36741
Creating a template part opens a modal because it needs a `title` to enter, while the template doesn't. We could still unify them into a similar UI though. @jameskoster WDYT?

[2021-11-30 02:21] talldan commented on #36962
True, I'd just prefer to have the function references be correct so that they can be traced to the callsite.

[2021-11-30 04:54] Mamaduka commented on #36937
Thanks for looking at the problem, @tellthemachines.

The PHP notices should be fixed now, but I don't think those are the cause.

[2021-11-30 05:28] carolinan commented on #30653
This is solved, the slug is only shown if a title is not provided.

[2021-11-30 05:28] #30653 closed, assigned to nobody

[2021-11-30 05:42] #36598 closed, assigned to tellthemachines

[2021-11-30 06:04] carolinan opened #36985 "404, index, and archive templates are displaying in the Template selection in the block editor"
### Description

In https://github.com/WordPress/gutenberg/pull/35802, hierarchical templates were excluded from the template selection in the block editor.
In 5.9-alpha-52272, the hierarchical templates are displaying in the drop down again.

### Step-by-step reproduction instructions

1. Install 5.9-alpha-52272
2. Activate a theme with support for template editing, for example Twenty Twenty-Two

[2021-11-30 06:30] carolinan opened #36986 "Template panel displays 404 as the selected template for drafts"
### Description

When you activate a theme with support for template editing and create a new post or page,
the Template panel in the block editor shows that the 404 page is current template.
Once published, the current template is displayed as page or post respectively.

### Step-by-step reproduction instructions

1. Install 5.9-alpha-52272
2. Activate a theme with support for template editing, f

[2021-11-30 06:43] talldan commented on #31442
Looks like this was fixed or improved by https://github.com/WordPress/gutenberg/pull/35763.

I'll close the issue, but it can be reopened if there are still problems.

[2021-11-30 06:43] #31442 closed, assigned to nobody

[2021-11-30 06:50] carolinan commented on #36971
Related:
https://github.com/WordPress/gutenberg/issues/30725

[2021-11-30 06:59] sathyapulse commented on #31442
@talldan Issue #35763 improved the performance of the block inserter popup and reduced the time to open the block inserter popup. I believe the underlying issue still exists, and it crashes only on 5.7.x. Installing the GB plugin version (10.7.4) shipped with 5.8 resolves the problem.

With 5.8, it didn't crash the browser, but the reusable blocks tab is very slow and isn't usable. As you mentione

[2021-11-30 07:38] jasmussen commented on #36977
Yes indeed. This appears to be a side effect of showing the block toolbar _below_ the block if the block is near the top of the screen, as ticketed in #29464. The behavior, I feel, still makes sense to have for blocks that truly bump against the edge; for example some of the TT2 patterns go all the way to the top for the header template parts.

CC: @Addison-Stavlo: do you recall if there are some

[2021-11-30 07:41] jasmussen commented on #36977
Another solution which might actually be better than the above is to change back the block toolbar absorbtion. Right now the block toolbar of submenu items is absorbed in the top toolbar, as opposed to being positioned near the block. This is ticketed separately as being a bit confusing due to the lack of spatial context. But in this case it might also mitigate the issue, as there would most likel

[2021-11-30 08:16] ntsekouras commented on #36972
Thanks for the issue @priethor! This seems to come up often and similar use cases would be when we a block is in a `placeholder` state, etc..

[2021-11-30 08:38] Mamaduka commented on #36919
Cc @jasmussen.

[2021-11-30 08:40] carolinan commented on #36270
The styles menu item was removed, can this be closed?

[2021-11-30 08:48] kafleg commented on #36977
I have something similar to this.

[2021-11-30 08:50] Chouby commented on #36229
Not sure to understand. Are the screenshots provided in my previous comment not sufficient?

[2021-11-30 09:05] getdave commented on #36977
As far as I remember it's a one liner fix. Simply remove this line

https://github.com/WordPress/gutenberg/blob/570751af3973445f7eafc17aafe27989666040a1/packages/block-library/src/navigation/edit/inner-blocks.js#L117

Other than that it's a UX concern. When we introduced the capture toolbars the UX with the toolbar locked to the nested submenu was very poor. If that's improved then we might benefi

[2021-11-30 09:17] jasmussen commented on #36977
Oh thank you, both for the fast response and the code piece.

It was definitely needed, back in the day! Every block had borders around them, and there was a great deal of UI weight to deal with. I do think we've definitely reached a point where the UI can handle it. The one thought I still have attached to this is that we might still want the _submenu_ block to capture the toolbars, instead of th

[2021-11-30 09:26] github-actions[bot] opened #36989 "[Flaky Test] should display the selected templates name in the document header"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should display the selected templates name in the document header

## Test path
`specs/site-editor/document-settings.test.js`

## Errors

<time datetime="2021-11-30T09:26:46.856Z"><code>[2021-11-30T09:26:46.856Z]</code></time> Test passed after 1 failed attempt on <a href="h

[2021-11-30 09:41] pdewouters commented on #36487
Ok, it seems that the issue might've resolved itself for now. I can't reproduce it anymore.

[2021-11-30 09:41] #36487 closed, assigned to nobody

[2021-11-30 09:57] oandregal commented on #36792
Hi Corey, thanks for sharing your use case, it's very valuable.

I was looking at it, and this is how I understand it could be done with the current system. The preset colors can use CSS variables and will show up fine in the editor. So, if you do:

[code]

the only thing that remains is how you decide which opacity belongs to which block. For simplification, let's say that you'd want all paragrap

[2021-11-30 09:58] sagarpatel124 opened #36992 "[Urgent] Colorpicker component Bug when enableAlpha selected True"
### Description

From last few versions of Gutenberg, When color picker with enableAlpha=true for rgba with opacity, It's keep breaking block.

In inspect elementor we get error :
Maximum update depth exceeded. This can happen when a component repeatedly calls setState inside component Will Update or component Did Update. React limits the number of nested updates to prevent infinite loops.

https:

[2021-11-30 10:02] jasmussen commented on #36701
#36990 linked by github right above _mitigates_, but does not solve this one.

[2021-11-30 10:24] jameskoster commented on #36821
I don't think it's quite the same, but perhaps I am misinterpreting.

In this case, if a static page were set as the front page, wouldn't this mean that the "Site" menu item would be active if you navigated to Templates > Page? That would be kind of confusing.

[2021-11-30 10:30] jameskoster commented on #36860
Yup, custom templates are an enhancement.

It's already possible to create them in the post editor using this UI:

<img width="311" alt="Screenshot 2021-11-30 at 10 26 30" src="https://user-images.githubusercontent.com/846565/144030250-b1b1224a-1562-4759-8c56-9dd500fb21b6.png">

We need to bring that functionality to the templates list view as well.

A little thought will be required to get the na

[2021-11-30 10:32] zurmoehle commented on #16319
Hello, i'm using the `InnerBlock` to display Content in a StageBlock. The Save Function with the `InnerBlock.Content` works fine for me. So my Content is now visible in the Frontend.

My Problem now is if i reload the Backend the Error `This block contains unexpected or invalid content.` appears. The Validation of the save function gives me an empty content and the validation from the post gives m

[2021-11-30 10:32] jameskoster commented on #36741
I think it's worth exploring some unification (and general tidy-up – the popover is a little strange). I wouldn't say this is high priority for 5.9 though.

[2021-11-30 10:35] jameskoster commented on #36270
Yes I think so.

[2021-11-30 10:35] #36270 closed, assigned to nobody

[2021-11-30 10:39] jameskoster commented on #36977
FWIW, adding the frame in the Site Editor is also a consideration for https://github.com/WordPress/gutenberg/issues/36535.

[2021-11-30 10:40] grappler commented on #29985
An issue that I have come across is not being able to easily introduce hover styles if a background colour ist set. Hover Styles are not supported yet https://github.com/WordPress/gutenberg/issues/34717

[2021-11-30 10:44] jasmussen commented on #36919
Thanks for the ticket, thanks for the ping! This issue is the result of #36605, which intentionally changed all the appenders to be _overlays_, fixed to the bottom right corner:
![appender](https://user-images.githubusercontent.com/1204802/144030800-c35805a5-f275-4227-9733-0958e6657296.gif)

This is in contrast to before, where inline appenders would cause layout shifting when selecting an appende

[2021-11-30 11:37] oandregal commented on #36489
Hey Steve, the patch that hides the core palette for themes with no theme.json by default is going to be part of Gutenberg 12.1 which is a few days away.

[2021-11-30 11:42] oandregal commented on #36852
This has been fixed by https://github.com/WordPress/gutenberg/pull/36639 which will be part of Gutenberg 12.1, to be released in a few days.

[2021-11-30 11:42] #36852 closed, assigned to nobody

[2021-11-30 12:18] jasmussen opened #36998 "Color Picker: Refine the look of "unset" color picker"
Extracting from [this comment](https://github.com/WordPress/gutenberg/pull/36994#issuecomment-982558698), the checkerboard background currently in place for the Custom Color card indicates transparency, but it should probably lean towards indicating "unset" instead. Also:

There are the beginnings of a PR in `try/polish-unset-color-indicator-further`, but it isn't quite visually succesful:

<img s

[2021-11-30 12:23] alshakero opened #36999 "Accessing the scrollTop of scrollContainer (`.interface-interface-skeleton__content`) is throwing in BlockStyles"
### Description

The `BlockStyles` component does some calculation to figure the right position of the `BlockStylesPreviewPanelFill`. It uses the `scrollTop` of `scrollContainer (.interface-interface-skeleton__content)`, which can be null at times, thus throwing an error.

The bug was likely introduced in https://github.com/WordPress/gutenberg/pull/34522. I don't fully understand the changes in #3

[2021-11-30 12:59] jasmussen opened #37000 "Navigation: Custom font size outputs `pxpx` instead of `px` on the frontend"
### Description

When you set a custom font size on a navigation menu, everything works, editor and frontend. But the frontend outputs invalid inline font size properties:

[code]

This issue was originally discovered [here](https://github.com/WordPress/gutenberg/pull/36948#issuecomment-981564194), where it was suggested that the following code could be related:

https://github.com/WordPress/guten

[2021-11-30 13:07] jasmussen commented on #37000
Note that if a theme uses rem or another unit to size items, these are output as `rempx`, so there's a hardcoded px value somewhere:
<img width="543" alt="Screenshot 2021-11-30 at 14 07 04" src="https://user-images.githubusercontent.com/1204802/144052924-eb0afd59-9914-4b35-985b-09b863381211.png">

[2021-11-30 13:19] jameskoster opened #37001 "Add a shortcut for template browsing"
The template list screen we've been working on for https://github.com/WordPress/gutenberg/issues/36597 will serve well as a centralised management screen with searching, bulk actions, and other such features in the future.

It serves less effectively as a navigational tool. Moving from one template to another is quite a tedious workflow. You must:

1. Click the W button
2. Select "Templates"
3. Fi

[2021-11-30 13:26] jameskoster opened #37002 "All custom templates appear in template dropdown"
Theme templates that are customised in the Site Editor are saved to the database as custom templates. These templates currently appear as options in the "Templates" dropdown in the post editor:

<img width="306" alt="Screenshot 2021-11-30 at 13 25 18" src="https://user-images.githubusercontent.com/846565/144055504-96cda361-9287-49d5-88a5-2b89deaf2fd9.png">

This is problematic because if you apply

[2021-11-30 13:31] jameskoster commented on #32235
Superseded bt #37002

[2021-11-30 13:31] #32235 closed, assigned to nobody

[2021-11-30 13:48] mirka commented on #36230
I think a manageable scope to start with is to care about consistency within **"form" elements only** (e.g. buttons, inputs, selects, etc).

As for the actual size scale naming, my assessment of the current landscape and designer sentiment is that we're not at all ready to commit to anything 😅 (I attempted to establish a size scale beforehand but it turned out to be unfeasible.) I'm so hesitant to

[2021-11-30 13:55] ciampo commented on #36230
Makes sense

That's my fear too. Let's see how things evolve here, and let's consider other potential conventions too in case we can think about any alternative.

Agreed! Of course that doesn't mean that we shouldn't be mindful when using experimental components

[2021-11-30 14:01] jameskoster commented on #37002
Duplicate of #36985 :)

[2021-11-30 14:01] #37002 closed, assigned to nobody

[2021-11-30 14:36] ryanwelcher commented on #36487
Thanks for the follow up!

[2021-11-30 14:51] ciampo commented on #36107
That shouldn't be the case, and I'd be curious to know why this didn't work out for the folks quoted above.

`FlexItem` props [are of type `WordPressComponentProps`](https://github.com/WordPress/gutenberg/blob/trunk/packages/components/src/flex/flex-item/component.js#L9), which means that [the component accepts the `as` prop](https://github.com/WordPress/gutenberg/blob/trunk/packages/components/sr

[2021-11-30 14:52] getdave commented on #36286
I'm taking a look at a solution now as the current experience is not suitable.

[2021-11-30 14:55] #36542 closed, assigned to nobody

[2021-11-30 15:04] andreaslindahl commented on #32353
Yes, this really need to be fixed. I have clients that, unknowingly, add content to the reusable block, since it's editable from any page or post it's used on, when they really mean to add content AFTER the reusable block.

[2021-11-30 16:25] skorasaurus commented on #36992
Thanks for reporting; possibly overlaps with scenario #2 at https://github.com/WordPress/gutenberg/issues/36899

[2021-11-30 16:26] markhowellsmead commented on #12420
I've been unable to find the place where a core class name would be applied server-side to e.g. the list block. The `render_block_core_` functions are only called on server-side-rendered blocks (e.g. `core/post-date`). Not for editor-rendered blocks. Applying class names in the editor is covered in the PR #36676 which Jessica submitted.

I see that the json files (e.g. wp-includes/blocks/list/bloc

[2021-11-30 16:28] skorasaurus commented on #36992
Thank you again for reporting and I understand your frustration with Gutenberg; this has been reported at https://github.com/WordPress/gutenberg/issues/36066 and you can follow that issue.

[2021-11-30 16:28] skorasaurus commented on #36066
more screenshares describing this issue at https://github.com/WordPress/gutenberg/issues/36992

[2021-11-30 16:29] #36992 closed, assigned to nobody

[2021-11-30 16:35] truchot commented on #35599
It resolves the problem, thanks you very much!

[2021-11-30 17:05] oandregal commented on #36772
Hi @chthonic-ds thanks for raising that issue. I've created a draft PR to address it at https://github.com/WordPress/gutenberg/pull/37008

[2021-11-30 17:13] ntsekouras commented on #37000
This seems to be a bit more convoluted as I'm not so familiar with Navigation block. I'd appreciate some thoughts from @tellthemachines as this is also related to these changes: https://github.com/WordPress/gutenberg/pull/28868/files#diff-96cfb99105116cdbf48eface8e7ac4dff062da11f291996bf5748d5a8b90f3e0R75

[2021-11-30 17:26] paaljoachim commented on #36741
It is a pretty noticeable UI issue. Because of the contrast between the two methods. It would be nice to get a consistency in place for 5.9 in adding a new Template and Template Part. I would call it a medium priority.

[2021-11-30 17:34] paaljoachim commented on #36860
@jameskoster I am not fully sure I am on the same track so to speak, but this is what I am thinking.

Starting with what we have currently. The Add New drop down showing various Template types and their description.
I would just add Custom to the drop down list as well as adding a generic description.

![Custom-template](https://user-images.githubusercontent.com/5323259/144098360-2fc6b8b3-408d-48e

[2021-11-30 17:36] ntsekouras commented on #36704
Also should this become `Editor` probably like we have under `Appearance` menu? `Edit Site`[ is the same link for multisites](https://github.com/WordPress/wordpress-develop/blob/trunk/src/wp-includes/admin-bar.php#L390).

[2021-11-30 17:52] fabianpimminger commented on #34825
+1 … there should be an option to completely disable this file preview.

[2021-11-30 17:53] franmastromarino commented on #36875
any update on this?

[2021-11-30 17:53] ntsekouras commented on #36670
With [this PR](https://github.com/WordPress/gutenberg/pull/31670) Page List doesn't have any attributes, so the provided markup seems to had been created before these changes. Also it seems to be related with the change of Navigation to custom post type.

[2021-11-30 18:00] jameskoster commented on #36860
I think the description may need to be a little more elaborate, and explain where these "custom template"s can be used.

[2021-11-30 18:12] Addison-Stavlo commented on #36977
I do not, unfortunately.  There could be someway to go about that with more digging, but nothing I remember at a glance.

I think this makes a lot of sense.  If the toolbar is not positioned with respect to the selected block (the submenu in this case), then I think it becomes increasingly difficult for the toolbar to behave in a manner that is non-intrusive in all cases.

[2021-11-30 18:25] tellisbethel commented on #36999
I have a user running into the error: `TypeError: Cannot read properties of null (reading 'scrollTop')`. This happens when they try adding anything to their sidebar widget on their [Tojours theme](https://wordpress.com/theme/toujours/).

I was going to add their case to the following report, but the highlighted comment led me here:
https://github.com/Automattic/wp-calypso/issues/56922#issuecomment

[2021-11-30 18:38] #35007 closed, assigned to DAreRodz, cbravobernal

[2021-11-30 19:29] ramonjd commented on #36999
Thanks for the report everyone. I'll look into this.

[2021-11-30 19:30] paaljoachim commented on #36860
Yes. That it does. Here is one suggestion. I assume it would be something like this (from my limited understanding).
"Create a custom template which can be used by any page or post by opening the Template sidebar panel and selecting the template you would like to use." I assume there is something more needed.

[2021-11-30 21:34] vilu85 opened #37011 "ComboboxControl needs placeholder text or Ref hook"
## What problem does this address?
ComboboxControl does not have a placeholder text and cannot be added by referring to a DOM element because the Ref-hook is also missing.

## What is your proposed solution?
By adding placeholder prop or exposing inputContainer https://github.com/WordPress/gutenberg/blob/604561d8be21097925499022de3da5b6cfb89f6d/packages/components/src/combobox-control/index.js#L67

[2021-11-30 21:56] #35599 closed, assigned to nobody

[2021-11-30 22:02] noisysocks commented on #36589
@getdave: Do you think you could work on hiding this for beta 2? 🙏

[2021-11-30 22:28] supernovia commented on #36998
Hi! FWIW I think the checkerboard thing is confusing. I'm used to seeing that from photoshop and what not, but I'm not sure users know what to do with it. And, I was just keeping those thoughts to myself til one of our volunteers reached out with similar feedback: it's not clear what the checkerboard area is for. I'm gathering it's a preview, but would it make more sense to just use the preview we

[2021-11-30 22:29] mchowning commented on #29483
Can we safely assume that only javascript changes might have been copied from WordPress into Gutenberg? If so, that makes the search a lot easier.

Any thoughts on this @adamsilverstein ?

[2021-11-30 22:54] ramonjd opened #37014 "Widgets Editor: secondary sidebar should close on narrow widths"
### Description

When working in the Widgets Editor I noticed that the layout interface's [secondary sidebar](https://github.com/WordPress/gutenberg/blob/release/12.0/packages/edit-widgets/src/components/layout/interface.js#L90) was hiding the workspace in narrow widths.

Unlike in the Post Editor, when narrowing the screen, the `.interface-interface-skeleton__secondary-sidebar` renders, albeit wi

[2021-11-30 23:48] noisysocks commented on #36535
What action is required here?

[2021-11-30 23:48] #36066 closed, assigned to nobody

[2021-11-30 23:56] #36999 closed, assigned to ramonjd

[2021-12-01 00:35] #36473 closed, assigned to javierarce

[2021-12-01 00:46] supernovia opened #37018 "Color Picker: Problem with HEX copy & paste"
### Description

Hex code pastes incorrectly when I copy a HEX color from one block and try to paste it into another

### Step-by-step reproduction instructions

1. Create a couple of blocks in different customized colors

2. Copy the hex code from one block:
    - Tap the color box
    - Click on the hex color to copy

3. Paste into the hex code for another block
    - Be sure to click into the c

[2021-12-01 00:51] supernovia commented on #36998
Also, I've noticed when I set a color, say, for the text, the boxy area shows that as the background color with a different text color (like white). I'm not sure what that means.  You can see it in the video here, which I filed for another issue. Ignore the sound and just watch for the boxes:

https://cloudup.com/cJD1MDyAEBZ

[2021-12-01 01:35] talldan commented on #36107
I'll be honest, I probably didn't try it, I looked at the code and made a false assumption. Sorry about that!

If it already works, that's great, feel free to close the issue.

edit: although it would be great to have this prop documented in the README too.

[2021-12-01 01:44] talldan commented on #36977
I also made an issue about this - https://github.com/WordPress/gutenberg/issues/36335

It isn't just an issue in the nav block, we should also consider that positioning the toolbar under the block might be a problem for third-party blocks too. Any block that overflows its container like the nav block does will have this issue.

[2021-12-01 01:49] kohheepeace opened #37019 "Add alignWide support to `core/html` blocks"
## What problem does this address?
### 📌1. Add alignWide support to `core/html`.
 I would like to add alignWide support to `core/html`.

As a concrete example of this use case, I want to embed the airtable table as shown below GIF.

![20211201104021](https://user-images.githubusercontent.com/29557494/144156373-f3318a99-ad6b-4d73-9edb-984e26d767ba.gif)

=> By using airtable, you can **outsource tab

[2021-12-01 02:46] talldan commented on #36670
Sorry I missed the ping.

I think I know the issue here. When defining inner blocks in that way, the block doesn't show the inner blocks in the normal way, instead it renders a different `UnsavedInnerBlocks` component, and that doesn't have the overlay menu built into it:
https://github.com/WordPress/gutenberg/blob/8fb36dea544e74afc5662a75aeebed6be1fc6077/packages/block-library/src/navigation/edit

[2021-12-01 02:52] ramonjd commented on #36473
Getting the hover state width right is difficult since the input width, when editing, is constrained by the minus button.

The minus button isn't rendered when the item isn't in editable mode.

Getting it this far required a minimal change however:

![Kapture 2021-12-01 at 13 49 47](https://user-images.githubusercontent.com/6458278/144163120-f1c8a961-3f19-4bc1-b83a-d21792ebbfc1.gif)

[2021-12-01 04:55] andrewserong commented on #36899
The main blocker here (failure caused by moving the mouse rapidly across the color picker) has been resolved as of #36941. I'll leave this issue open for the remaining issue (console error/warning when clearing a gradient).

[2021-12-01 04:56] andrewserong commented on #36640
The main blocker in #36899 has been resolved, so the PR to fix the main issue here (ensure a custom gradient can be added when default and theme gradients are disabled) is ready for review now: #36900

[2021-12-01 06:13] andrewserong commented on #36899
I have an idea for a fix for this one, I'll put up a PR for it tomorrow 🤞

[2021-12-01 07:01] jasmussen commented on #36535
Seems like the remaining piece is being able to click empty spots, for example in the header, to deselect blocks, a la [Shaun outlined here](https://github.com/WordPress/gutenberg/issues/36535#issuecomment-970672323).

[2021-12-01 07:36] youknowriad commented on #36919
Is coblocks using `renderAppender` prop or the built-in appender. Sounds like the former based on the screenshot but I can be wrong. Anyway, if it's the former, it seems a good fix here would be to only target the "default" appender with the "fixed" style and leave the component itself unopionated about its position.

[2021-12-01 07:39] youknowriad commented on #36521
@andrewserong yes, but I wonder if we should just do it for everything (both flex and flow layouts) for consistency.

[2021-12-01 08:15] #36961 closed, assigned to getdave, jasmussen, walbo

[2021-12-01 09:06] getdave commented on #36589
Yes we can work on hiding this for Beta 2 👍

At this stage we can't add the Isolated Template Editor but that is on the roadmap for WP 6.0 😄

[2021-12-01 09:11] getdave commented on #36286
I started exploring if we could use the block locking API to stop users editing if they have lower permissions. Also experimenting with showing a warning message above the block when it is selected to warn users that they have insufficient permissions to edit the block.

What we really need is a "no edits" mode for blocks.

[2021-12-01 09:19] getdave opened #37023 "Hide the Nav Area block from the public UI"
As suggested by @talldan we need to make sure the Nav Area block is not accessible from the Editor UI. It's been deprecated so we shouldn't have it appear.

----------

@adamziel @getdave Maybe we should make it so that the block isn't shown in the inserter as well. At the moment the block can still be used with the gutenberg plugin active.

_Originally posted by @talldan in https://github.com/Wor

[2021-12-01 09:33] ciampo commented on #36107
Thank you for the feedback, @talldan — it's really appreciated!

In the documentation for our components, we usually only list the props that are specific to that component, and therefore props like `as` are not listed. We are definitely aware of the fact that the documentation could be better, and we're looking at ways to generate docs (rather than updating them manually).

[2021-12-01 09:33] #36107 closed, assigned to nobody

[2021-12-01 09:48] anton-vlasenko commented on #36589
I don't mind to hide it (meaning we need to disable the show_ui option).
But I have a question.
If we hide that page, how are we going to delete `wp_navigation` type posts?
The reason to introduce `Navigation Menus` was [this one](https://github.com/WordPress/gutenberg/issues/36036):

I'm not very familiar with template parts. I'm not sure if they allow to do that.
But there could be an issue if w

[2021-12-01 09:51] getdave commented on #36589
If we need them for removing posts only, an alternative might be to display a message in the single post view of `wp_navigation` explaining that Navigation Menus should be edited in the Site Editor.

[2021-12-01 10:13] #36538 closed, assigned to jasmussen

[2021-12-01 10:23] gziolo commented on #36868
Files from the following folders get copied manually:
- `src/wp-includes/block-patterns/*`
- `src/wp-includes/block-supports/*`

We use webpack to copy PHP files for core blocks:
- `src/wp-includes/blocks/*`

That should be something that webpack handles in WordPress core during the build process. In fact, we do several transformations to the PHP source files when building them for the Gutenberg p

[2021-12-01 10:31] adamziel commented on #36589
How would that help with deleting wp_navigation posts? I don't think there is any other UI supporting that at the moment. There is a "delete" button missing somewhere. Would it make sense to lean on the pre-publish step where you confirm which entities are being modified? Could we learn something from reusable blocks here? cc @javierarce @critterverse

<img width="464" alt="CleanShot 2021-12-01 at

[2021-12-01 10:33] gziolo commented on #36926
Which version of `@wordpress/scripts` do you use? I don't see `jsonpFunction` in the default config anymore:

https://unpkg.com/browse/@wordpress/scripts@19.2.2/config/webpack.config.js

Actually that might be an issue because it uses an older version v15 of `@wordpress/scripts` that works with webpack v4:
https://github.com/Underpin-WP/underpin-plugin-boilerplate/blob/cd68e0443daec8d627dcf61ec5c1

[2021-12-01 10:41] getdave commented on #36286
I think they should be able to read but not write. The Site Editor needs to display the Navigation block and its items but not allow them to edit the items.

To do that we need the endpoint to allow returning the data for lower permission users.

[2021-12-01 10:48] getdave commented on #36286
Following some discussion

* Nav block (inc data) should be viewable by lower permission users but not editable.
* Given we are in beta period we need to find a simple means of disabling editing whilst allowing viewing.
* ~We need the REST API endpoints to allow READ requests (currently these fails) but disallow WRITE requests for lower perm users.~ I was wrong about this. We can read `wp_navigati

[2021-12-01 10:58] spacedmonkey commented on #36286
You can read data from the menu item endpoint, if you can edit any post you can access the menu data. So what exactly has to change? I am confused

[2021-12-01 10:59] jameskoster commented on #36860
Maybe something like:

What do you think?

[2021-12-01 11:15] paaljoachim commented on #36860
That is right on the dot! As the template is applied to a post or page.
Having the text "Can be applied manually to any post or page." Is exactly what it does!

[2021-12-01 12:57] Chouby opened #37030 "i18n of empty tag cloud string is done wrong."
### Description

#16098 introduced 2 mistakes.
1. The call to `get_taxonomy_labels()` is expensive and useless in this context. The purpose of this function is to translate **all labels** when a taxonomy is registered. This means that this function currently makes more than 40 translations each time it is called. And since the taxonomy is of course already registered, the tranlations have already

[2021-12-01 13:24] Addison-Stavlo commented on #36977
Technically couldn't a 3rd party block could also overflow its container from above?  In that case positioning it above the block would have the same issue.

This does seem difficult to handle well.  Right now, bottom positioning should only happen if there isn't enough room for top positioning to happen without the toolbar obstructing the selected block.  With the previous always-top positioning,

[2021-12-01 13:30] briceduclos opened #37031 "Cover Block regression: Text which was previously white by default is now black and not visible (WP 5.9 beta1)"
### Description

For certain images, the [useCoverIsDark hook](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/cover/edit.js#L219) returns a `false` value while the Cover is dark.

For the example below, there is no reason to change the text to black. It lowers the contrast ratio, and the content isn’t visible anymore.

### Step-by-step reproduction instructions

1. In

[2021-12-01 13:45] bartoszgadomski opened #37032 "Captions with hyperlinks have a dark color that's not compatible with the black captions banner"
### Description

When there is a caption with a hyperlink in a gallery block, this hyperlink is unreadable as it does not inherit the `color` property from parent element.

Related bug ticket in amp-wp project: https://github.com/ampproject/amp-wp/issues/6734

### Step-by-step reproduction instructions

1. Insert "gallery" block and add two images,
2. Insert caption with hyperlink for one of image

[2021-12-01 13:46] ntsekouras commented on #36545
I'll have a PR about this today with an approach we can discuss.

[2021-12-01 14:04] scruffian opened #37035 "Navigation: Improve responsive behaviour"
## What problem does this address?
There are several aspects of the navigation block that we have added custom CSS for in Blockbase, to overcome some limitations of the block. These are:

- Controlling the alignment and position of items when in overlay mode
- Controlling the size and color of navigation and navigation links when in overlay mode

## What is your proposed solution?
I don't have a c

[2021-12-01 14:10] jasmussen commented on #37035
Thanks for the ticket! Can you let me know if https://github.com/WordPress/gutenberg/pull/36991 at least makes it so it isn't aligned to the bottom?

[2021-12-01 14:29] hanyseyedy commented on #13645
hi,
there are some decent solutions proposed here.

I had this problem too, And was fixed as follows:
You have to use the methods that "[Demaine](https://github.com/Demaine)" and "[otaku-2r](https://github.com/otaku-2r)" said.

To correct clutter:
`wp_enqueue_code_editor(array(
      'type' => 'text/html',
      'codemirror' => array(
            'autoRefresh' => true
      )
   ));`

and, copy th

[2021-12-01 14:56] briceduclos opened #37036 "Cover block regression: impossible to set the width of the inner blocks when using a block theme"
### Description

When using a classic theme, the user can set the alignment of the Cover inner blocks: None, Wide width, Full width.

When using a block theme, the alignment controls for the inner blocks disappear. The content is full width which creates readability issues as the line length is too wide.

### Step-by-step reproduction instructions

1. Activate the Twenty Twenty-Two theme.
2. Insid

[2021-12-01 15:02] getdave commented on #35521
## Update for 1st December 2021

* All of the "Must Have" items for Nav block were merged in time for WP 5.9 Beta 1.
* We now switch focus to resolving the `[Type] Bug` issues.
* Please do pop into [`#feature-navigation-block-editor`](https://wordpress.slack.com/archives/C01KDAZJMQ9) on Core Slack if you have a question or wish to contribute.
* Feel free to raise an Issue to report a bug. Be sure

[2021-12-01 15:21] skorasaurus commented on #37036
Hi,

Thank you for the detailed report. Unfortunately, (disabling width of inner blocks) is currently an intentional design for block-based themes (or any theme that has a theme.json file in it) although as far as I understand, it's not completely set in stone yet.

More information is at https://github.com/WordPress/gutenberg/issues/33374 where you can share your opinions about it as well.

[2021-12-01 15:24] CHEWX commented on #34575
Theme.json basically breaks responsive typography. This is essential?!

[2021-12-01 15:36] briceduclos commented on #37036
Hi @skorasaurus,

Thanks for the link, I've seen it. However, I believe that my issue is different as it concerns the Cover block.  The Group block has an option to control the layout of the inner blocks, whereas the Cover block has no control.

[2021-12-01 15:56] skorasaurus commented on #37036
Good point, I'll reopen it.

[2021-12-01 15:57] shaunandrews opened #37039 "Block Styles UI: Add tooltip on hover"
With the new UI for block styles in the inspector sidebar, longer style names have been truncated. The full style name does appear in the preview flyout, but it might be helpful to also show a tooltip near the button with the full style name:

<img width="816" alt="image" src="https://user-images.githubusercontent.com/191598/144267955-89a1c6bb-727c-4a31-9a02-8390dfecca4e.png">

[2021-12-01 16:17] tomektomczuk opened #37040 "Heading text is added to HTML anchor"
### Description

Whatever you type to the heading this text is automaticly added to HTML anchor

### Step-by-step reproduction instructions

1. Add Heading block
2. Type any text
3. Open Advance setting the text is automatically added to the anchor

### Screenshots, screen recording, code snippet

<img width="1767" alt="Screenshot 2021-12-01 at 17 15 37" src="https://user-images.githubusercontent.

[2021-12-01 16:30] jorgefilipecosta commented on #36745
Sure I will look into fixing this issue.

[2021-12-01 16:45] gziolo opened #37041 "Packages: Publish ESM and CJS in a single package"
## What problem does this address?

Long-term support for Node.js v12 ends in April, so we will be able to start using ES Modules all npm packages we maintain.

## What is your proposed solution?

The first step would be to include the most up to date configuration for ESM and CSJ for those packages that include both formats (with `build` and `build-module` folders). See more at https://nodejs.org

[2021-12-01 17:04] fabiankaegy commented on #36504
This would also solve that is currently it is not possible to extend the Post Template block to add support for custom taxonomies.

Adding the ability to filter the query args and access the attributes would allow anyone to extend the query however they need.

[2021-12-01 17:08] critterverse commented on #36589
Maybe similar to Reusable blocks, there's not a WPadmin menu item but the management screen is accessible from the ellipses menu in the Navigation block toolbar via a "Manage menus" item. That might be a good way to not overemphasize the admin screen until the isolated editing view is available.

[2021-12-01 18:08] dcalhoun opened #37042 "Cover block overlay color gradient options empty when using a block-based theme"
## Description
While using the WordPress mobile app 18.8 prerelease, the gradient options presented for a Cover block's overlay color only include a single, white option. Selecting the one option does not modify the appearance of the Cover block.

## Step-by-step reproduction instructions
1. Add a Cover block to the content with the native mobile editor.
2. Select a color presented.
3. Open the bl

[2021-12-01 18:41] bgoewert commented on #33723
I was trying to do this with theme.json. But it is being overwritten by the default `.wp-block-cover__inner-container` color.

[code]

![image](https://user-images.githubusercontent.com/15313658/144289747-24cf065d-f2e0-44a4-aebb-168f5184076d.png)

I'm currently just overriding the default `.wp-block-cover__inner-container` class. But it would be nice to do this with theme.json as well as the block

[2021-12-01 19:14] coreyworrell commented on #36792
@oandregal yes I think that is a viable solution for now... I have been importing `theme.json` into our CSS build (using Stylus), so having a variable for color that can be modified (ie: `color: darken($color, 50%)`) is very useful. But I suppose we could always append a separate JSON property to be used in that instance. And with CSS color mod functions coming soon it may not be needed anyways.

[2021-12-01 19:57] simonhammes commented on #29179
I think this issue can be closed since it was fixed by https://github.com/WordPress/gutenberg/pull/36244.

[2021-12-01 20:04] annezazu commented on #36860
+1 I really like that phrasing!

[2021-12-01 21:03] skorasaurus commented on #37040
Hi,
This is an intentional feature that was introduced in https://github.com/WordPress/gutenberg/pull/30825#issuecomment-959051708

There is no way to disable the feature at this time but this was reported at https://github.com/WordPress/gutenberg/issues/36365 where you can follow its progress and share your experience with it.

[2021-12-01 21:03] #37040 closed, assigned to nobody

[2021-12-01 21:07] skorasaurus commented on #36966
Hi,

Thanks for reporting; (I personally agree as well and miss it).
This has been discussed and/or requested in  https://github.com/WordPress/gutenberg/issues/22528. Feel free to [add your reaction](https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/about-conversations-on-github#reacting-to-ideas-in-comments) and follow its progress in that issue.

[2021-12-01 21:07] #36966 closed, assigned to nobody

[2021-12-01 21:15] skorasaurus commented on #36780
Hi,

Thanks for reporting; this has been fixed just yesterday at https://github.com/WordPress/gutenberg/issues/36961 and will be in an upcoming version of Gutenberg.

[2021-12-01 21:15] #36780 closed, assigned to nobody

[2021-12-01 21:29] noisysocks commented on #36556
I'm going to check this one off as the majority of the items in #36597 have been completed.

[2021-12-01 21:33] #29179 closed

[2021-12-01 21:34] noisysocks commented on #30668
Adding `Needs Dev` back to this as https://github.com/WordPress/gutenberg/pull/36810 did not work out. It'd be appreciated if a dev can pick this up and explore alternative approaches to fixing this for WP 5.9. Perhaps the one mentioned by @gziolo in https://github.com/WordPress/gutenberg/pull/36810#issuecomment-979348374.

[2021-12-01 21:57] noahtallen opened #37044 "Update to modern Sass module system"
TLDR: The `base-styles` package is incompatible with the [new module system](https://sass-lang.com/blog/the-module-system-is-launched) in Sass. We should update the package to be compatible with modern recommended Sass architecture.

## What problem does this address?

Currently, the Gutenberg packages use the legacy module system with `@import` statements. `@import` is either currently or will so

[2021-12-01 22:06] noisysocks commented on #36335
Confirmed this is still an issue when running WP 5.9 with and without the Gutenberg plugin.

[2021-12-01 22:11] noisysocks commented on #36548
I'll remove it from the board if the required changes for 5.9 are done. We ought to keep the issue open or open a new one if there's more work to be done.

[2021-12-01 22:11] noisysocks commented on #36523
@jorgecontreras: How did you go with a fix? Could you please open a PR?

[2021-12-01 22:16] noisysocks commented on #36728
Removing this from the WP 5.9 board as there's nothing remaining to do for WP 5.9. Next step is to remove the Navigation Area block from the plugin in Gutenberg 12.2.

[2021-12-01 22:18] noisysocks commented on #36827
I'm going to leave this marked as a bug to be fixed during the 5.9 beta period as that large white area at the bottom of the canvas is not correct behaviour.

[2021-12-01 22:20] noisysocks commented on #36977
This is a duplicate of https://github.com/WordPress/gutenberg/issues/36335 but since this issue has more discussion I'll close https://github.com/WordPress/gutenberg/issues/36335.

[2021-12-01 22:20] noisysocks commented on #36335
Closing in favour of https://github.com/WordPress/gutenberg/issues/36977.

[2021-12-01 22:20] #36335 closed, assigned to nobody

[2021-12-01 22:22] noisysocks commented on #37023
Looks like this was fixed by #37026.

[2021-12-01 22:22] #37023 closed, assigned to nobody

[2021-12-01 22:33] andrewserong commented on #36521
@youknowriad, I agree, it makes sense to do it for both flex and flow layouts 👍, we'll then just have a couple of outliers that haven't yet opted in to the Layout block support, which we can follow up on separately when we can.

[2021-12-01 22:37] jorgecontreras commented on #36523
hi @noisysocks! I have just created a PR, please let me know your thoughts: https://github.com/WordPress/gutenberg/pull/37308

[2021-12-01 23:04] ramonjd commented on #37039
Just to loop back as to when and why we added the ellipsis:

https://github.com/WordPress/gutenberg/pull/34522#issuecomment-931956737

Here I'm wrapping each button in a `<Tooltip />`

![Kapture 2021-12-02 at 10 00 59](https://user-images.githubusercontent.com/6458278/144328271-1b9ff115-6583-44f3-a8b8-28c4d11cc81b.gif)

![Kapture 2021-12-02 at 10 01 51](https://user-images.githubusercontent.com/64

[2021-12-01 23:19] noahtallen commented on #37044
cc @jasmussen @gziolo for visibility -- would love some feedback! Or if you know anyone else who would be good to ping for feedback, please do so :)

Unless there are major concerns, I can look into creating a PR.

[2021-12-01 23:40] #37032 closed, assigned to bartoszgadomski

[2021-12-01 23:42] noisysocks commented on #36955
@jameskoster: What theme are you using to reproduce this?

[2021-12-02 00:11] stacimc opened #37046 "Border panel: Deselected colors are reselected when setting a non-zero width"
### Description

This is a problem with the logic that's supposed to restore style/color selections that were cleared when setting border width to zero. If a user selects a border color but then _deselects_ it before setting the width to zero, it should _not_ be restored when the width is later set to a non-zero value.

### Step-by-step reproduction instructions

1. Add a block with border color a

[2021-12-02 00:11] stacimc opened #37047 "Border panel: ColorPicker appears to show deselected color is still selected"
### Description

This happens when setting the border width to zero, which should cause the style and color selections to be cleared. If you inspect the block's attributes, you can see that the color attrs _are_ cleared -- but the Color controls do not visually update to reflect this. The previously selected color continues to appear selected.

### Step-by-step reproduction instructions

1. Add a

[2021-12-02 00:24] noisysocks commented on #36827
I took a quick look at this and hiding the appender for templates parts doesn't fix the white gap at the bottom. The white gap comes from the Group block having a `style.spacing.margin.bottom` set to `var(--wp--custom--spacing--large, 8rem)`.

https://github.com/WordPress/twentytwentytwo/blob/trunk/parts/header-small-dark.html

I don't think we should hide this since it's a part of the template pa

[2021-12-02 03:16] glendaviesnz commented on #37031
Looks like the method that is calculating whether the background is dark or not needs some adjustment - currently it doesn't see that particular image as dark until the overlay is at opacity 60

![cover-text](https://user-images.githubusercontent.com/3629020/144351512-8a33a656-063c-4713-9cc3-1d60e42ba5bf.gif)

**Update** - turned that this is because when dimRatio > 50 the background color is used

[2021-12-02 03:51] glendaviesnz commented on #37031
It looks like there are a couple of issues here:

1. The underlying `fast-average-color` library is calculating the average color of the Don Quixote image as being `light` so applying a dark text color, but the portion of the image that the text is sitting over is quite dark in relation to the rest of the image. If an actual dark image is used it works as expected. I am not sure how we would get a

[2021-12-02 04:29] noisysocks commented on #36986
Related: https://github.com/WordPress/gutenberg/issues/33940

I looked into this and the bug only exists in Core and not when the Gutenberg plugin is activated. The problem is that the AJAX request being made to `?p=26&_wp-find-template=true` is 404ing. You can confirm this in DevTools by opening the post editor.

I see code in Core which is supposed to handle the `_wp-find-template` query param b

[2021-12-02 04:33] noisysocks commented on #36986
Let's move to https://core.trac.wordpress.org/ticket/54553.

[2021-12-02 04:33] #36986 closed, assigned to nobody

[2021-12-02 04:35] noisysocks commented on #36937
The symptoms here look suspiciously like the ones in https://github.com/WordPress/gutenberg/issues/36788. Could be related.

[2021-12-02 04:38] carolinan commented on #36986
@noisysocks thank you!

[2021-12-02 05:02] andrewserong commented on #36899
Fix ready for review in: https://github.com/WordPress/gutenberg/pull/37051

[2021-12-02 06:16] paaljoachim commented on #36665
Let's go with:

[2021-12-02 06:59] aristath commented on #37044
Maybe we should stop using Sass altogether? 😄
The main benefit of it when we started using it was the variables, and we can now achieve that using plain CSS. Mixins are nice but they are also confusing to the majority of people and we don't use them that often anyway. Our code could definitely be rewritten to use plain CSS. it may take a few more lines, but not that many.
The benefit would be a li

[2021-12-02 08:10] mkkeck commented on #34575
YES! THIS IS ESSENTIAL!
Global styles should never break theme styles.

[2021-12-02 08:39] Levdbas commented on #33730
Since WordPress 5.8.2 is already here, is there any word on this issue? I would like to deregister some core blocks as well via PHP if it is possible.

[2021-12-02 09:30] jasmussen commented on #36827
Hey @noisysocks good catch, I can confirm that bottom margin comes from the theme (TwentyTwentyTwo):
![isolation](https://user-images.githubusercontent.com/1204802/144394830-8c99489c-1b6a-4602-bfa3-f88851b83025.gif)

My instinct would be to accept that this is showing (I wouldn't show the checkered background, the margin is presumably there to actually push content down and let the white part show

[2021-12-02 09:31] gziolo commented on #36497
@stokesman, should we update the docs in `@wordpress/scripts` to include your example in addition to what is already there and provide some explanation of how it works? I'm trying to figure out what needs to happen so we could close this issue 😄

[2021-12-02 09:38] jasmussen commented on #37044
I think there's lots of opportunity for evolution here, especially in light of some of the CSS-in-JS changes going on with the component system. Notably private variables and the ability to nest rules, I feel, bring a great deal of coherence and readability to the codebase. While that's evolving, pragmatically and for the near term I'd think it worth it to keep sass around, and would love to help

[2021-12-02 10:03] getdave commented on #36589
Yup sounds like a plan.

I mean, if we're going to show the single post view for `wp_navigation` which is literally just a title box and everything else disabled, then perhaps we could/should also display a message below the title box which informs users that editing Menus happens in the Site Editor.

[2021-12-02 10:29] KokkieH opened #37055 "Widgets: Widgets screen not working in Android browsers"
### Description

The new widgets screen at `/wp-admin/widgets.php isn't working in any browser on Android.

I can replicate the issue across various browsers on Android, but it works fine in the same browsers on iOS.

The screen loads normally if the Classic Widgets plugin is installed.

### Step-by-step reproduction instructions

1. Using a browser on an Android device, go to WP-Admin ->Appearanc

[2021-12-02 10:53] jameskoster commented on #36955
@noisysocks [Wowmall](https://wordpress.org/themes/wowmall/).

[2021-12-02 11:01] jameskoster commented on #36827
Agreed, we should allow the margin to affect the canvas dimensions.

The background is a little tricky. Effectively it _is_ transparent since the template part itself has no background color. But of course the template part is never accessed independently on the frontend, so that transparent area will always be "filled" by the background of the parent template.

All that said, can we use the "Back

[2021-12-02 11:11] jameskoster opened #37056 "Elevate "Editor" over "Customize" in the Appearance menu"
When a block theme is active, we hide access to the Customizer in the Appearance menu. However, when certain conditions are met the link will re-appear. My concern is that it re-appears _above_ the site editor link, which seems hierarchically inappropriate:

<img width="172" alt="Screenshot 2021-12-02 at 11 04 20" src="https://user-images.githubusercontent.com/846565/144410626-16178ff3-f69b-46da-b

[2021-12-02 11:18] paaljoachim commented on #36827
I just checked with TT1 as my install of Twenty Twenty Two is not working correctly.

Focused Header area.

![Screenshot 2021-12-02 at 12 09 49](https://user-images.githubusercontent.com/5323259/144411203-3b695257-7c38-456c-b28a-9e35aaeceeec.jpg)

It looks like the appender is just hanging in the air so to speak. I wonder why I see it there. As I see no hanging appenders in the template I was just

[2021-12-02 11:47] spacedmonkey opened #37058 "REST API: Improve handling of REST API endpoints that support batching"
## What problem does this address?

In WordPress 5.9, a [change](url) was made to the REST API, that a data is exposes via OPTIONS request. This new field `allow_batch` allows clients of the API to detect if that API supports batching. If it does then we batch the request or not, do it as separate requests.

<img width="670" alt="Screenshot 2021-12-02 at 11 46 33" src="https://user-images.githubus

[2021-12-02 11:52] NekoJonez opened #37059 "Ability to upload custom icons for social icons"
Currently, there are only a handful of social icons but I think it would be a neat feature that we can upload our icons ourselves.

So, that we could upload icons of social platforms or tools that we locally use. EG: in Belgium and the Netherlands we use websites like Smartschool in schools and it would be overkill that we add an icon for that... But, it would be great that there is a possibility

[2021-12-02 12:47] dipankardipu123 opened #37060 "WordPress will store post metadata in wp_postmeta table at the time of Autosave."
Can anyone suggest me is there any way we will store metadata in wp_postmeta table. at the time of autosave.
Currently i am using below code:

_> subscribe(() => {

Using this code its created new revision in wp database, But I need proper solution.

1. currently i am using all custom blocks.
2. its create  new revision if modify any changes on editor.

Requirement:
1. instead of create new revisi

[2021-12-02 12:53] mtias commented on #36548
@overclokk sorry missed the ping — this had enough consensus for making the name updates. The discussion about not using folders is a separate thing. The point about theme.json providing the boundary is not correct because theme.json can be used by non-block themes, and will be more usable in the future as it allows to consolidate defining palettes, controlling block supports, etc. There's a chanc

[2021-12-02 13:09] mtias commented on #36543
@noisysocks I'm marking this as done as all the important items are covered. The rest button is not a must have and will be part of general improvements to the color panel.

[2021-12-02 13:09] #36543 closed, assigned to nobody

[2021-12-02 13:32] ciampo opened #37063 "`Navigator`: move focus while navigating between screens"
In https://github.com/WordPress/gutenberg/pull/36952#discussion_r758375983, @mtias bring up the issue that the _ "back" links need the ability to focus the element they represent when you go back,_

I'm trying to summarise the questions that we need to answer here:

There's a few questions to be solved:
- Is focusing the exact link that "generated" the navigation necessary?  Currently, a `Navigato

[2021-12-02 13:35] ciampo commented on #37063
Personally, I'm not sure we'd need to restore the focus on the previous clicked link — focusing the whole "screen" should be enough (as it generally happen when going to the previous page in a browser via its standard history)

[2021-12-02 13:38] youknowriad commented on #37063
This should be the case already with the `useFocusOnMount`

[2021-12-02 13:40] ciampo commented on #37063
Exactly, that's why I wrote:

I'm wondering if the current behaviour is not enough already

[2021-12-02 13:43] mtias commented on #37063
I see this behaviour for a list of Items comparable to toolbar items opening dropdowns — the expectation is when you close the dropdown the item that opened it is focused, not that it resets to the whole toolbar. Imagine the case with the list of blocks, which can be anywhere from 20+ to 100. You are making modifications to a blocks in sequence, but every time you go back it resets focus. It'd be

[2021-12-02 14:22] getdave commented on #36286
My mistake. We can read `wp_navigation` posts ok. What we need is a way to check whether

- the current user has permission to edit the current `wp_navigation` assigned to the Navigation block.
- (or if no Navigation assigned) whether the user has permission to `_create_` and/or `_publish_ `wp_navigation` posts.

The first one is achievable using `canUser` the second one is not.

[2021-12-02 14:36] adamziel commented on #30668
To me, a block is self-contained and don't need to understand how all the different editors work. I explored using filters to make the editor modify block supports as it needs in https://github.com/WordPress/gutenberg/pull/37065.

[2021-12-02 15:29] ciampo commented on #37063
If we do need to implement this behaviour, it means that we need to start passing/storing state when a route changes (as explained also by @diegohaz [here](https://github.com/WordPress/gutenberg/pull/36952#discussion_r760997482)).

This potentially means that we'd need to keep a navigation history inside the internal `Navigator` state (together with an associated identifier of the element/componen

[2021-12-02 15:59] annezazu opened #37068 "Navigation Block: consider adding back in ability to change menus in a more visible place"
## What problem does this address?

This came up as part of the [eleventh call for testing for the FSE Outreach Program](https://make.wordpress.org/test/2021/11/08/fse-program-testing-call-11-site-editing-safari/). After selecting an initial menu, it isn't quite obvious how to change your selection due to the current text "Select Menu".

https://user-images.githubusercontent.com/26996883/144456529

[2021-12-02 16:01] critterverse commented on #20193
Hi all, I’m sharing a design proposal by @javierarce and myself that would enable background editing functionality for the Cover block. This would add image editing functionalities to the Cover block so that users don’t need to resort to outside tools, and improve the editing tools available for the Image block. This concept was originally shared on the [Make Wordpress blog](https://make.wordpress

[2021-12-02 16:02] spacedmonkey commented on #36589
I strongly believe that we should hide this menu item / admin UI. An edit screen with just title, looks broken. I had to check the box to make sure that was the intended behavior. Until you can edit the navigation block in the UI, this screen doesn't make an sense.

Also consider, that to some users, they will think that this screen has replaced the existing menu screen and it is quite the change,

[2021-12-02 16:02] olafleur-godaddy commented on #36919
Yeah, we are using the `renderAppender`, but I'm not quite sure what you mean by
"only target the "default" appender with the "fixed" style and leave the component itself unopionated about its position"

[2021-12-02 16:13] annezazu opened #37069 "Duotone bug causing jarring UI response when selecting custom color"
### Description

Apologies for the rough title (feel free to rename) but this was tricky to describe. Essentially, when trying to set a custom color with duotone, the UI starts to break down. This was found during the [eleventh FSE Outreach Program call for testing](https://make.wordpress.org/test/2021/11/08/fse-program-testing-call-11-site-editing-safari/).

cc @aj

### Step-by-step reproduction

[2021-12-02 16:23] annezazu commented on #37001
In the [eleventh call for testing for the FSE outreach program](https://make.wordpress.org/test/2021/11/08/fse-program-testing-call-11-site-editing-safari/#comment-2251), feedback came up around how "menu crazy" the current experience felt with list view, styles, block toolbar, W menu, etc. To quote the person "I like having the List View, that's a neat way to think about the content but having so

[2021-12-02 16:23] shaunandrews commented on #36827
Regardless of any margins added by the theme, I still think it makes sense to remove the appender. If we ignore the margins, the appender still adds unintentional whitespace:

<img width="1054" alt="image" src="https://user-images.githubusercontent.com/191598/144460509-fa76f836-52fe-4c58-a317-81b29dfb7c51.png">

--

I do actually like the idea of the "transparent" background. If we treat it like a

[2021-12-02 16:25] wongjn opened #37070 "Spinner in URLPopover positioned incorrectly"
### Description

The spinner loading indicator that can appear when typing in a URLPopover.LinkEditor component seems to be have incorrect layout due to invalid CSS properties for it.

### Step-by-step reproduction instructions

1. Log in to a WordPress 5.8.2 site.
2. Add an Image (`core/image`) block.
3. Click the Link button
4. Type some characters into the link input box.

### Screenshots, scre

[2021-12-02 16:38] Andrew-Starr opened #37071 "Site Title: link color not applied in editor"
### Description

When the Site Title block is set to link to the homepage, changing the link color has no effect in the editor (site editor and post/page editor), although it does render correctly with the selected color on the frontend.

### Step-by-step reproduction instructions

Add the Site Title block to a post or page, or edit the header template in a FSE theme.
Make sure to keep the "Make t

[2021-12-02 16:40] pablohoneyhoney commented on #20193
Nice! It's inspiring we are considering better focus and awareness signals of where you are and what you are doing.
There's however a bit of an unbalance in this approach where fill modes seem squeezed, and the focus is on the location sign, not on the actions?

<img width="626" alt="Screen Shot 2021-12-02 at 11 38 01 AM" src="https://user-images.githubusercontent.com/25516611/144464288-66f3d0df-9

[2021-12-02 16:48] Andrew-Starr opened #37072 "Patterns containing some dynamic blocks are limited in the pattern inserter panel"
### Description

With patterns in the same category that each contain the same dynamic* block, the available patterns seems to be limited to three patterns in the inserter side panel, and four in the Explore overlay.

*dynamic blocks such as Navigation or Query Loop.

### Step-by-step reproduction instructions

Create five patterns each containing the Navigation block.
The patterns should be categ

[2021-12-02 17:11] jasmussen commented on #37068
Thanks for the ticket. On a high level, I would imagine most sites to not have more than 2 or 3 different menus at most, and that initially selecting and/or swapping out menus would be something you do rarely if more than once.

That said, I've come out of the loop on many of those UI pieces and how they will end for 5.9, so I will defer to those who have worked on it. If the UI remains as is, one

[2021-12-02 17:28] critterverse commented on #20193
Thanks @pablohoneyhoney!

Another possibility we explored is the idea of splitting the toolbar into two different sections. This could be a clear way to differieniate the editing context without adding visual weight with the dark color. We did have some questions about feasibility so decided that color was probably a more simple differentiator. Does this split approach seem worth looking into furt

[2021-12-02 17:33] skorasaurus commented on #37059
Hi,

Thanks for reporting;
This has been discussed and/or requested in https://github.com/WordPress/gutenberg/issues/21330. Feel free to [add your reaction](https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/about-conversations-on-github#reacting-to-ideas-in-comments) and follow its progress in the issue.

[2021-12-02 17:33] #37059 closed, assigned to nobody

[2021-12-02 17:34] jameskoster commented on #36827
One important consideration with the transparent texture is that it would add a lot of noise for template parts where there are no background colors present.

<img width="1204" alt="Screenshot 2021-12-02 at 17 33 31" src="https://user-images.githubusercontent.com/846565/144473707-d7a214aa-0fb4-420b-b200-95093d522e74.png">

[2021-12-02 17:44] jameskoster commented on #37001
That's great feedback, and I totally agree, a more holistic solution would be better. We touched on that a bit already in #36667, the idea being that global navigational elements and functionality (styles, templates, navigation menus, site settings, maybe even reusable blocks) are visually grouped in a way that distinguishes them from the editor toolbar + canvas. But that is likely a much bigger c

[2021-12-02 17:48] shaunandrews commented on #36827
Sorry, I wasn't suggesting it for the entire canvas — just as a way to denote the margin that exists _outside_ of the canvas; I think the canvas should default to the GS background color, with white as a fallback.

[2021-12-02 17:49] skorasaurus commented on #21233
Hi,

This is very similar to what's described at https://github.com/WordPress/gutenberg/issues/9018 and that issue has a lot of discussion about it so I'm closing this; please reopen if you have questions :)

[2021-12-02 17:49] #21233 closed

[2021-12-02 17:53] NekoJonez commented on #21330
I would love a feature like this.

[2021-12-02 17:55] jameskoster commented on #36827
Gotcha, yeah that could work well.

For the drag handle, would that just increase the margin value? I wonder how that would work if there are multiple margins. I also worry a little that folks might mis-interpret that as setting an overall height value.

[2021-12-02 18:13] jasmussen commented on #36827
I may be the only one not a total fan of the photoshop transprency texture. I don't think it really adds any value since there will always be a background around content.

[2021-12-02 18:56] spacedmonkey commented on #36286
To be clear, there will also need to check permission checks for menus ( as in classic menus) as well not just `wp_navigation` posts.

[2021-12-02 19:23] priethor opened #37075 "Load the template list within the Site Editor without page reloads"
Follow-up to #36379

## What problem does this address?
In WordPress 5.9 Beta 1, the template list meant to allow for quick navigation between templates within the Site Editor is not loaded on the same page as the Site Editor; there is a page reload both when navigating from the Editor to the template list and when clicking on a template and going back to the Editor. This implementation is not coh

[2021-12-02 19:25] shaunandrews opened #37076 "Tooltip: Adjust placement of tooltips to avoid overlapping their trigger"
The `tooltip`'s that show throughout the editor sometimes overlap with the button or element that triggers the tooltip. Here's a few examples:

<img width="169" alt="image" src="https://user-images.githubusercontent.com/191598/144488243-aeedbb73-ff2e-40db-8960-ff65c2d1dba4.png">

<img width="156" alt="image" src="https://user-images.githubusercontent.com/191598/144487963-e333c80a-7cb1-48f2-b3fb-98

[2021-12-02 19:27] shaunandrews commented on #37039
I'd expect the tooltip to appear (below the button) regardless of the length of the label; Otherwise it feels strangely inconsistent.

My only bit of feedback here is around the position of the tooltip; It appears to "touch" the button and can end up looking a little awkward. I don't think its really tied to this issue, so I created a new one in #37076.

[2021-12-02 19:28] ndiego commented on #36521
@andrewserong and @youknowriad, speaking of the Layout Block support, I believe #36624 may be related as well based on feedback from @aaronrobertshaw in https://github.com/WordPress/gutenberg/pull/36627. I was about to start a PR exploring a fix for #36624 but remembered this issue mentioning Layout Block support. Should I start working on that or would a larger PR specifically related Layout Bloc

[2021-12-02 20:06] priethor opened #37077 "Navigation block: placeholder menu border doesn't adjust to the menu's width"
### Description

In Gutenberg 12.0.1 or WordPress 5.9 Beta 1, the border of the placeholder menu of the Navigation block doesn't adjust to its width.

### Step-by-step reproduction instructions

1. Spin up a WordPress 5.9 Beat, TT2, with or without the Gutenberg plugin.
2. Go to Appearance->Editor
3. Select the Navigation block
4. The bounding box of the Navigation block's placeholder menu is narr

[2021-12-02 20:06] ramonjd commented on #37076
Just tooling around with this a bit.

Assuming the position is "bottom", adding this to `packages/components/src/tooltip/style.scss` has some effect

[code]

<img width="345" alt="Screen Shot 2021-12-03 at 7 04 02 am" src="https://user-images.githubusercontent.com/6458278/144494630-e52241c3-fb1a-4a57-aad0-0a6980deb01d.png">
<img width="220" alt="Screen Shot 2021-12-03 at 7 03 41 am" src="https://u

[2021-12-02 20:08] ndiego commented on #36624
I have gone ahead and added the Backport tag on this one, but if the team feels like this is a 5.9+ issue, feel free to remove. I just strongly feel these alignment issues need to be get resolved before 5.9. My PR for the Site Logo issues #36627 tackles a few more important issues that impact the frontend, but this left/right alignment issue can make editing alignment in the Block Editor quite dis

[2021-12-02 20:15] priethor opened #37079 "Rename `Query-` inner blocks to be more user-friendly"
## What problem does this address?
The Query Loop block's inner blocks all include the `Query` prefix in their names, making them sound more complex than they actually are.

![image](https://user-images.githubusercontent.com/27339341/144495361-627ae4ee-99aa-443c-ab6a-5d474d134841.png)

## What is your proposed solution?
These blocks could be renamed to be more user-friendly, like `Page numbers` in

[2021-12-02 20:25] priethor opened #37080 "New block API to hide blocks from the inserter unless specifically searched"
## What problem does this address?
After the development of Full Site Editing features and the theme blocks, there are a number of complex blocks that should be considered "power tools" for advanced users and should not be exposed by default to users unless they specifically search for them, such as the Query block.

## What is your proposed solution?
A new block API should allow marking blocks as

[2021-12-02 20:29] priethor opened #37081 "Hide the `Query Loop` block from the inserter"
## What problem does this address?
The `Query Loop` block is arguably one of the most advanced blocks out there, and its complexity can intimidate and cause frustration to less advanced users.

## What is your proposed solution?
Once #37080 is in place, the `Query Loop` block should be hidden from the inserter unless advanced users specifically search for it. This way, less advanced users will get

[2021-12-02 20:33] priethor commented on #30910
De-prioritized items from WP 5.9 and moved them down to the further iterations section.

Because there is only a handful of improvements left, we can close this tracking issue and continue work on the specific tickets. 🚀

[2021-12-02 20:33] #30910 closed, assigned to nobody

[2021-12-02 20:39] zaguiini opened #37082 "Cannot select a different a global font family category if the underlying values are equal"
### Description

When updating typography global styles, imagine the following options:

- Default
- A (DM Sans)
- B (DM Sans)

Both A and B categories have the same value: `"DM Sans", Sans-Serif`.

You tried to select `B`. However, `A` is the one that gets selected.

### Step-by-step reproduction instructions

1. Activate the Quadrat theme (there might be other themes that have the same issue);
2

[2021-12-02 21:03] noahtallen commented on #37044
Interesting thought! :D I won't speak towards usage in Gutenberg, but I know we import the `base-styles` a fair amount outside of Gutenberg at Automattic. (Examples: https://github.com/Automattic/wp-calypso/search?q=wordpress%2Fbase-styles) I think it has been useful for us as 3rd party consumers to be able to utilize the variables and mixins defined by Gutenberg as we make plugins and extensions

[2021-12-02 21:08] mtias commented on #30674
This is essentially obsolete now that `wp_navigation` performs the isolation.

[2021-12-02 21:08] #30674 closed, assigned to nobody

[2021-12-02 21:11] mtias commented on #27331
This has been largely put into practice through `wordpress/components` additions & refinements, plus the work on both `Tool` components and the global styles interface.

[2021-12-02 21:11] #27331 closed

[2021-12-02 21:18] mtias commented on #28416
@jorgefilipecosta I believe we have done this already, can you confirm?

[2021-12-02 21:18] #28416 closed

[2021-12-02 21:33] mtias commented on #29503
Crossed:

### <del>Improvements to List View Component #29733</del>

[2021-12-02 21:35] priethor commented on #29503
Crossed:

###  ~Improvements to Query Block #30910~

[2021-12-02 21:48] mirka commented on #28758
Looks like an upstream bug in `react-colorful` (https://github.com/omgovich/react-colorful/issues/163). I can reproduce it in this [sandbox](https://codesandbox.io/s/react-colorful-rgb-o9q0t?file=/src/App.js).

[2021-12-02 22:24] ellenbauer opened #37083 "Color Palette Hex Value copy/paste and edit options can be improved"
## What problem does this address?
1. I copy a hex value the # is being added. When I then paste the value into another palette the result in an error since two ## are added.

![gb-color-palette-issue](https://user-images.githubusercontent.com/17613630/144512865-3cc52537-7ce6-43cc-b763-d59beda8ed07.jpg)

2. Additionally the usability for the color picker could be improved, since copied and editing

[2021-12-02 22:43] paaljoachim commented on #29398
Something I do over and over again is use the Preview option to view a site on the frontend.

![Screenshot 2021-12-02 at 23 36 59](https://user-images.githubusercontent.com/5323259/144514340-08a078d4-bb6c-4e06-bc89-73f07a81e911.jpg)

Something is missing here....

![Screenshot 2021-12-02 at 23 37 13](https://user-images.githubusercontent.com/5323259/144514387-4ce67a1d-cbba-40c8-9c95-dd2748c887a8.j

[2021-12-02 22:59] mirka commented on #36337
Fixed in #36941

[2021-12-02 22:59] #36337 closed, assigned to nobody

[2021-12-02 23:04] mirka commented on #36314
Fixed in #36941

[2021-12-02 23:04] #36314 closed, assigned to nobody

[2021-12-02 23:04] paaljoachim commented on #36827
To me it sounds like this is becoming more complex than it need to.
I am not fully "getting" the conversation, so I will just share from the angle I see it at.

The appender automatically adds space. I highlighted the Spacer area above it through List view. Removing the appender we can also remove the default "Paragraph block" space. As it is really not a space that exist in the layout, but it is

[2021-12-02 23:10] guarani commented on #35733
Assigning myself to work on it next week.

[2021-12-02 23:13] mirka commented on #26568
This should be fixed now, as seen in the current [Storybook](https://wordpress.github.io/gutenberg/?path=/story/components-colorpicker--legacy).

[2021-12-02 23:13] #26568 closed

[2021-12-02 23:59] noisysocks commented on #37075
Sorry, I don't understand. Why is this a blocker for WP 5.9? There is a page refresh when navigating between all other pages in WP Admin. I don't find the experience of navigating between the site editor and template list to be any worse than the experience of navigating between the post editor and post list.

The transition could be improved by improving the loading state of the site editor and b

[2021-12-03 00:01] ohlauren commented on #24957
Three things I would really like to see:

- an option to mimic the behavior of the_date(), where it is only displayed the first time a given date appears in the loop
- related, the ability to change wrap the <time> element in a heading tag
- more format options - relative times (ie "2 days ago"), full date format with weekday, maybe a text field that accepts any PHP date format string?

[2021-12-03 00:46] andrewserong commented on #36521
Thanks for the ping @ndiego!

I think a shorter-term PR to fix converting a group block into a block that does not opt-in to the Layout support (e.g. the Columns or Cover blocks as you reported in #36624) sounds like a good way to go, and like you mention in that issue, it'd be a good thing to fix for 5.9. From my perspective, switching blocks like the Columns block to opt-in to the Layout block s

[2021-12-03 01:01] steveangstrom opened #37084 "allowed_block_types_all - it's not possible to limit to specific embeds"
### Description

allowed_block_types_all  is intended to allow devs  to limit blocks to (for instance) Headings, paragraphs, and YouTube embeds.
This is not the case.

For the YouTube insertion to work requires the root `core/embed` , and adding this brings with it all the the myriad other embeds. Conversely : omitting `core/embed`  and only setting the specific block we want `core/embed-youtube`

[2021-12-03 03:09] SaxonF commented on #37001
+1 to @annezazu feedback. I love the goal of wanting to move quickly but I really do think WordPress/Gutenberg editor is at risk of becoming too fragmented partly due to features being worked on/released in isolation.

You already know what I think about this @jameskoster :) The left sidebar is one space we need to think about more holistically (like you've done in the other issue) ahead of time s

[2021-12-03 04:37] talldan commented on #36286
@spacedmonkey I think this was handled in https://github.com/WordPress/gutenberg/pull/36353, but it doesn't check the permissions up front, just handles the failure response from the GET request.

Users can't directly edit classic menus from the navigation block, so I don't think it's too bad the way it is. What do you think?

@getdave I'm not really sure what the distinction is between editing an

[2021-12-03 05:10] github-actions[bot] opened #37085 "[Flaky Test] should display the selected template part's name in the document header"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should display the selected template part's name in the document header

## Test path
`specs/site-editor/document-settings.test.js`

## Flaky rate (_estimated_)
`27 / 28` runs

## Errors

<details>
<summary>
	<time datetime="2021-12-03T05:10:54.840Z"><code>[2021-12-03T05:10:

[2021-12-03 05:42] noisysocks commented on #36827
I agree.

Good point.

This seems simpler.

---

In the interest of iterating, how about for now we just hide the appender and set the background colour to be the same as the one defined in global styles?

[2021-12-03 05:46] jasmussen commented on #36827
Sounds good to me, we can always follow up. I suspect we might be over indexing on Twenty Twenty Two’s dark background and built in bottom margin.

[2021-12-03 06:16] talldan opened #37086 "Added by column shows an empty grey circle for old templates if the site has no logo"
### Description

This issue follows up on what @paaljoachim mentioned here - https://github.com/WordPress/gutenberg/pull/36763#issuecomment-979939409

The Added By column can show an empty dark grey circle in some situations.

It requires a very specific scenario. The user needs to have created the template or template part before author support was added to templates. This causes the site logo an

[2021-12-03 07:24] jasmussen commented on #37077
Thanks for the ticket. I think this will be mitigated by a trio of PRs:

- Remove the "all pages" link: #36775
- Inherit orientation in setup state: #36778
- Remove gray blobs: #36858

_I will take a stab at a 4th one to see if I can reduce the placeholder state further, but it would be nice to get a green check for the three above as they all build upon each other._

Notably the last of those, re

[2021-12-03 07:36] youknowriad commented on #36624
I can reproduce the issue in the editor for the Cover block but not the columns block. Could be solvable by adding just some styles there.

The ideal solution for me would be for the cover block to use "layout" but the problem right now is that the "cover" block has two Dom wrappers and layout applies to the top level container while it should ideally apply to the container of the inner blocks, so

[2021-12-03 08:05] paaljoachim commented on #37086
I would suggest using the W as a fallback icon.

![W-placeholder-icon](https://user-images.githubusercontent.com/5323259/144567244-669536f9-2071-41c5-91fc-6904792b55a0.jpg)

[2021-12-03 08:14] monika-12 opened #37087 "WordPress 5.9 Beta 1 – UI issue with Clear button on Duotone Settings"
### Description

Clear button on Duotone settings overlaps with Focus Border and looks bad in the user interface.

### Step-by-step reproduction instructions

- Click on Duotone Settings
- Double click on Highlights option
- Focus Border on Highlight option will overlap with Clear button

### Screenshots, screen recording, code snippet

https://share.getcloudapp.com/z8u1jxrB

### Environment info

[2021-12-03 08:16] monika-12 opened #37088 "WordPress 5.9 Beta 1 UI Issue: Clear button and color palette value need to be separated by a space"
### Description

Whenever you open a color setting of Block, you will see the clear button overlapped with the value of the color box. It looks bad in the user interface and needs to be fixed.

### Step-by-step reproduction instructions

- Drag Heading block and open settings
- Click on Color options
- No space is left between Clear button and color option value

### Screenshots, screen recording,

[2021-12-03 09:18] mtias commented on #37075
@noisysocks it looks there was a disconnect along the way regarding what is the aim of this interface that we need to address properly — this should be replacing, conceptually and practically, the sidebar menu under the "W / Site icon" that existed for some time as a quick access mechanism to template structure and template creation. As such, it's not meant to function as a full wp-admin screen wi

[2021-12-03 09:23] mkevins opened #37090 "Dead code removal - RNTAztecView (iOS)"
## Description
There appears to be some unused (dead) code around the `RNTAztecView` implementation on iOS. This issue is to investigate this code, and possible other related dead code and remove it.

As a starting point, it appears that the struct `HeadingBlockFormatHandler` is not used anywhere: https://github.com/WordPress/gutenberg/blob/e96d47b35d8933ed15b1e242b9c85b855707737b/packages/react-n

[2021-12-03 09:27] gziolo commented on #37079
Interesting idea. Should do the same for Comments Pagination blocks?

[2021-12-03 09:33] mtias commented on #29398
It's not that simple — what would it do? There are many things you could do in the site editor that cannot be "previewed" in the traditional sense as you are making modifications across the site.

[2021-12-03 09:37] mtias commented on #37063
Or we could also think about it more broadly as cases where focus needs to be transferred because an interface session "ended". An interface can "end" by closing a popover, closing a modal, closing a sidebar, deleting a block, and also navigating back from a panel to its parent panel. That means perhaps the state we need to store is not at the Navigator level but at the general UI level.

[2021-12-03 10:17] kimmenbert commented on #36497
It seems related. I'm using a custom webpack config file that looks like this:

[code]

You could possibly do some magic to the filename in output to add sub folder name to the output etc?

[2021-12-03 10:27] jameskoster commented on #36827
This is true, but I suppose the argument is that we don't always know what the background will be. Quick example... let's take this header:

<img width="1444" alt="Screenshot 2021-12-03 at 10 09 04" src="https://user-images.githubusercontent.com/846565/144584947-76ee2c6f-4090-4626-b0ac-29f6c8ef6d78.png">

The light blue area is a Group with a bottom margin, and let's say the global `background` co

[2021-12-03 10:35] #35576 closed, assigned to nobody

[2021-12-03 10:41] jameskoster commented on #37086
Hmm, might the W icon might lead folks to believe that the template was added by WordPress itself (kind of like a default) rather than created from scratch by a user?

Other potential options to consider – globe or comment-author-gravatar:

<img width="1083" alt="Screenshot 2021-12-03 at 10 39 45" src="https://user-images.githubusercontent.com/846565/144588986-cab5ba7e-e8f9-453f-b043-52e8d18fa4df.

[2021-12-03 10:45] oandregal commented on #36792
:+1: Thanks for sharing the use case and keep these questions coming so we can improve the system :)

[2021-12-03 10:45] #36792 closed, assigned to nobody

[2021-12-03 10:46] jameskoster commented on #29398
Yes I don't think a frontend preview makes sense whilst editing a template without any context.

It makes more sense when editing the "site", because that is when we have context.

Personally I think https://github.com/WordPress/gutenberg/issues/36207 would be a good idea to try here.

TLDR: When you click into the site editor, you see the site name / url in the top bar instead of the name of the

[2021-12-03 10:50] t-hamano opened #37093 "ColorPalette: no way to clear custom colors if the defaultPalette is disabled"
### Description

The clear button is not displayed when the default palette is disabled in a block theme.

And there is no way to clear a color once it has been set because there is no clear button on the custom color picker.

I tried emptying the Hex color textbox, but it is overwritten by a color with a value of #000000.

I think we need to either always show a clear button in the color picker,

[2021-12-03 11:03] mtias commented on #36535
@noisysocks I don't think what is pending is a must-have for 5.9, feel free to punt

[2021-12-03 11:04] mtias commented on #36533
@noisysocks It doesn't seem we have a great direction here yet, let's punt from 5.9

[2021-12-03 11:06] mtias commented on #36544
@noisysocks this is a nice to have for 5.9, can be easily punted

[2021-12-03 11:10] Mamaduka commented on #36544
@mtias, I've got to push another update for Welcome Guide and will try to include this as well.

[2021-12-03 11:10] #35010 closed, assigned to DAreRodz

[2021-12-03 11:18] mtias commented on #36556
We can punt #36535, #36533, #36544.

[2021-12-03 11:29] Andrew-Starr commented on #37072
This issue also prevents the close button/toggle from being able to close the block inserter side panel.

I've been testing in different environments, and on shared hosting sometimes only the first two patterns are displayed.
This is with only a couple of pages so the number of navigation items returned is quite minimal.
Also with only one published post, so the query loop block has the very least

[2021-12-03 11:34] priethor commented on #37079
I think it makes sense, as these pagination blocks provide very similar customization options, for the most part. Simplifying all of them to "the pagination blocks within my current context" might be more understandable for users than acknowledging there are multiple, different pagination blocks (now we have Query and Comments, but might have more in the future)

[2021-12-03 11:39] oandregal opened #37094 "`useSetting( 'color' )` does not consider deprecated flag"
### Description

`useSetting` allows consumers to access data coming from `theme.json`. For a few cases, we introduced logic to fallback to the corresponding deprecated setting ([see](https://github.com/WordPress/gutenberg/blob/e2f00ff5ed1f4042386a48eedf4eafef36c9eb29/packages/block-editor/src/components/use-setting/index.js#L18)), so `userSetting( 'color.custom' )` will fallback to `settings.disa

[2021-12-03 11:47] priethor commented on #37079
Updated the description with the, even more, user-friendly names approved in the PR, so that they serve as reference for the `Comments Pagination` blocks.

[2021-12-03 11:48] mtias commented on #36589
I agree to hide this. Once we leverage the focused template part view for the purpose of showing just the navigation we can think of more entry points, if needed. For now, the editor should be the primary way to get there. We also have #36667 to scope future access better.

[2021-12-03 12:09] jameskoster commented on #37075
A criticism of the 'old' W menu implementation was that it made navigating back to the WP dashboard tedious when you drilled down to access nested templates / template parts. The inconsistent behaviour of the W button between post and site editors was also a little problematic.

In case we cannot find a solution for plan A, one option that addresses both issues would be a dedicated tool for access

[2021-12-03 12:23] Robertght opened #37095 "Gutenberg Camel Case typography doesn't work when the text is typed in uppercase."
### Description

This is a replica of this issue: https://github.com/Automattic/wp-calypso/issues/58800

----
### Quick summary

The typography setting on a Paragraph Block normally allows text to be converted to uppercase, to lowercase, or to camel case. Text that is natively typed in uppercase cannot be converted to camel case.

### Step-by-step reproduction instructions

### Steps to reproduce

[2021-12-03 12:27] priethor commented on #37077
I left [a comment on #36858](https://github.com/WordPress/gutenberg/pull/36858#issuecomment-985479040) to focus the conversation there 👍

[2021-12-03 12:43] kimmenbert opened #37096 "Babel related issue when custom .eslintrc is available in project"
### Description

I use @wordpress/scripts for most themes / plugins that needs some sort of compiling, and other than the prettier paren-spacing issue it has been working great.

Now I set up a repo for a new theme, just the theme, and it seems like the combination of the file structure and a .eslint beeing present in root of project generates the following error when linting:

[code]

### Step-by

[2021-12-03 12:45] #36640 closed, assigned to andrewserong

[2021-12-03 13:08] gziolo commented on #37079
We still need the same changes for Comments Pagination blocks. /cc @c4rl0sbr4v0 and @DAreRodz.

[2021-12-03 13:08] #36902 closed, assigned to ntsekouras

[2021-12-03 13:20] oandregal commented on #36770
I still can repro this. cc @jorgefilipecosta

[2021-12-03 13:21] #36899 closed, assigned to andrewserong

[2021-12-03 13:57] paaljoachim commented on #37086
Good point!

The comment-author-gravatar seems like a good icon to add. It signals that the template was added by a user.

[2021-12-03 14:06] overclokk commented on #36548
@mtias

I did not see any consensus, only a decision without a discussion.

It is not a separate thing, it is the same as using folders, I do not see any difference.

Who said boundary?

I like the theme.json, but are the hardcoded things I hate most.

Why not doing it now, there is no issue about open this possibility to developers, you can have `templates` as the main folder for index, archive a

[2021-12-03 14:31] dcalhoun opened #37102 "Incorrect color picker hue slider position when editing current custom color"
## Description
When editing a custom color in the color picker, the slider for selecting the hue is not positioned correctly based upon the currently selected color. It erroneously displays in the default position at the beginning of the slider.

## Step-by-step reproduction instructions
1. Add a Buttons block.
2. Open the block settings for the initial button.
3. Tap _Background color_.
4. Tap _C

[2021-12-03 14:36] timsinc commented on #23223
Agree. Would be really nice to have a php filter available for the default block class names similar to the existing `block_type_metadata` filters.

[2021-12-03 14:48] cbravobernal commented on #37079
Should we rename them to `Next Page` or `Next Comments`? Thanks!!

[2021-12-03 15:18] Andrew-Starr commented on #37072
Using the `should_load_remote_block_patterns` to remove the remote .org patterns speeds things up quite a bit and makes a difference.

I'd like to be able to keep the remote patterns though.

If anyone with in depth knowledge of the pattern inserter has any ideas I'd love to hear them :)

[2021-12-03 15:20] skorasaurus commented on #37084
Hi,

Thanks for reporting;
This has been already been reported in https://github.com/WordPress/gutenberg/issues/27913 . Feel free to [add your reaction](https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/about-conversations-on-github#reacting-to-ideas-in-comments) and follow its progress in the issue.

[2021-12-03 15:20] #37084 closed, assigned to nobody

[2021-12-03 15:28] Andrew-Starr commented on #37095
I think this is the expected behaviour, as the CSS property `text-transform: capitalize` only converts the first letter of each word to uppercase, with the other letters staying the same as written.

[2021-12-03 15:35] lwangdu opened #37104 "Enable site logo alt text for accessibility"
## What problem does this address?
<!--
When I add site logo, I can't add alt text.
![Screen Shot 2021-12-03 at 7 22 30 AM](https://user-images.githubusercontent.com/24829573/144628702-97467f50-ec09-425e-8fc6-791e1b47c199.png)

## What is your proposed solution?
It should be able to add alt text. This could be huge issue for SEO and accessibility.

[2021-12-03 15:39] skorasaurus commented on #37104
Great point; background - https://www.deque.com/blog/great-alt-text-introduction/

[2021-12-03 15:40] Andrew-Starr commented on #37104
The site logo already has alt text.

The default is the Site Title, unless overridden by entering a different alt text by editing the uploaded logo in the media library.

[2021-12-03 15:42] tsdexter commented on #15160
I am using this code to force `H1` back to `H2` but +1 for giving us a filter to override toolbar buttons and inspector controls on other blocks

[code]

I've also added this to the editor CSS to hide the button:

[code]

[2021-12-03 15:45] mrwweb commented on #24994
I'm closing this ticket since block variations meet this need. I do think a `register_block_variation()` PHP function would be awesome, but that can be a new ticket if needed.

I will say though that I still find that fairly experienced developers are still unaware of block variations.

[2021-12-03 15:45] #24994 closed

[2021-12-03 15:51] steveangstrom commented on #37084
I think it says everything that the filter "allowed_block_types" has been deprecated in the time that bug has been active.  I didn't it because that filter was phased out in WP5.8
https://developer.wordpress.org/reference/hooks/allowed_block_types/

allowed_block_types_all  is the new filter

yet nobody fixed this issue because its the SECOND CLASS CITIZEN PHP
This is an important issue.

We cant

[2021-12-03 15:54] lwangdu commented on #37104
I understand that when I upload site logo in media library you can add the alt text.  After I added the site log on the header, there is no place that I can update or add alt text. If you could enable that, it would be great.
Thank you.

[2021-12-03 15:55] steveangstrom commented on #27913
What exactly is the point of having PHP and a filter of "allowed_block_types_all"
if it doesn't work?

In the time this bug has been live the filter itself was deprecated and replaced, and left broken!

If the "answer " is to unhook each unwanted block in JS, then why did the PHP hook even change in WP5.8 ?

Why aren't core devs honest that they consider PHP sites as "dull" of no concern.

Be hone

[2021-12-03 15:56] DAreRodz commented on #37079
@gziolo @c4rl0sbr4v0 As long as the parent block's name continues to be `Comments Pagination`, then I think it would be OK to name them `Next Page`, `Previous Page` and `Page Numbers`. I think it would be clear that `Page` refers to a page of comments. 🙂

[2021-12-03 16:04] annezazu commented on #37087
I can replicate this with beta 1:

<img width="322" alt="Screen Shot 2021-12-03 at 11 03 44 AM" src="https://user-images.githubusercontent.com/26996883/144633876-8c031d58-2426-4d6e-9a63-00ea9928fb3f.png">

cc @ajlende :)

[2021-12-03 16:05] priethor commented on #37079
`Next page` seems both more understandable and cohesive with other pagination blocks like the `Query Loop` one.

[2021-12-03 16:05] kjellr opened #37106 "Margin from template parts is not visible on select in the Site Editor"
When the contents of a template part include margin, that margin is visible when you edit the template. Notice the whitespace shown to indicate the bottom margin here in Twenty Twenty-Two:

<img width="1211" alt="Screen Shot 2021-12-03 at 11 00 44 AM" src="https://user-images.githubusercontent.com/1202812/144633978-200b7c88-6318-4155-b256-16a7ba69c4e0.png">

When you're using the Site Editor thoug

[2021-12-03 16:06] annezazu commented on #37088
I can replicate this (need to not have any custom colors added):

<img width="277" alt="Screen Shot 2021-12-03 at 11 05 51 AM" src="https://user-images.githubusercontent.com/26996883/144634250-36ad4684-45a8-4ce8-b436-80ac1d295019.png">

[2021-12-03 16:08] ryelle commented on #37096
I ran into this issue too, tracked it to @wordpress/eslint-plugin 9.3.0 & the babel package update. I ended up fixing it [by adding `parserOptions` into my `.eslintrc.js` file](https://github.com/WordPress/pattern-directory/commit/44679a1e1ba55e60aa18db08b58c8efb7ec0e310#diff-e2954b558f2aa82baff0e30964490d12942e0e251c1aa56c3294de6ec67b7cf5), but it would be nice to not have to copy that down to an

[2021-12-03 16:29] mtias commented on #36545
The main item that's important for 5.9 is #37038, so once that is merged we can consider this concluded for 5.9. Further improvements can land later.

[2021-12-03 16:37] Andrew-Starr commented on #37104
@lwangdu thanks for the additional information. The original comment was lacking detail so not too clear what the issue was.

[2021-12-03 16:46] paaljoachim commented on #36827
I opened the following issue in the repo for Twenty Twenty Two:
Empty gaps seen in the site editor.
https://github.com/WordPress/twentytwentytwo/issues/272

[2021-12-03 17:16] steveangstrom commented on #37084
For anyone following after me, searching for a patch. This is what I resorted to

First the PHP, this allows use of the contextual filter (which JS does not)
[code]

Now the JS - to kill off those unwanted hundreds of ugly micro embeds, leaving only the ones we want, YouTube and Vimeo auto embedding

[code]

[2021-12-03 17:26] mirka opened #37110 "LineHeightControl: Replace internal implementation with `NumberControl`"
`LineHeightControl` internally uses `TextControl`. This can be migrated to `NumberControl` for code simplification, styling consistency, and to benefit from features in `NumberControl` like dragging.

[2021-12-03 17:41] lwangdu opened #37111 "duplicate styles custom header"
### Description

Seem to me creating duplicate styles when I created custom header. Please the screen shots.

### Step-by-step reproduction instructions

create site header.
change background color
add custom padding please see the edit  screen shot.

Front end and inspect html section. Seem to me there are too many duplicate styles as you can see on the front end screen shot.

I am not sure suppo

[2021-12-03 18:09] skorasaurus commented on #37084
Hi @steveangstrom ;

I'm glad you found a resolution and thank you for sharing it. I don't influence the priorities for Gutenberg; in fact, I completely agree with you that fixing existing features should be a higher priority.

[2021-12-03 18:12] jameskoster commented on #37106
Yeah this feels like a bug to me too. That margin should be visible when editing the template.

The rise of user-defined block paddings and margins also raises the value of something like https://github.com/WordPress/gutenberg/issues/36437 as an aid to the discoverability issues you highlighted.

As a side-note, we touched on a similar problem earlier today in https://github.com/WordPress/gutenber

[2021-12-03 18:15] jameskoster commented on #37086
It's a _little_ strange to have a person icon coupled with the site name, but it's probably ok since this is a corner case.

[2021-12-03 18:32] kjellr commented on #37106
Cool, thanks. We're having some parallel discussion here about whether we should be using Margin for this specific Twenty Twenty-Two use case anyway: https://github.com/WordPress/gutenberg/pull/37105

[2021-12-03 18:45] jameskoster commented on #34703
Closing in favor of https://github.com/WordPress/gutenberg/issues/33221

[2021-12-03 18:49] jameskoster commented on #36437
Closing in favor of https://github.com/WordPress/gutenberg/issues/33221

[2021-12-03 18:49] #36437 closed, assigned to nobody

[2021-12-03 19:01] ndiego commented on #36624
@youknowriad that's a good point. This may lead to finding other issues as well and/or quirks with different blocks, like the Column block as well. I have removed the backport tag while I continue exploring this.

[2021-12-03 19:30] ndiego opened #37114 "Cannot create custom gradients when no gradients are set in theme.json"
### Description

If you set `coreGradients: false` (soon to be `defaultGradients: false`), `customGradients: true`, but no specified gradients are set in theme.json, the UI for creating custom gradients is not displayed.

![image](https://user-images.githubusercontent.com/4832319/144660629-43c27313-f9a7-42a9-a5a9-88a473cd2791.png)

### Step-by-step reproduction instructions

1. Install the latest

[2021-12-03 19:31] scruffian commented on #36692
Could you just set the blockGap to 0?

[2021-12-03 19:36] ndiego commented on #37088
Confirming as well, was just about to add this issue 😉

[2021-12-03 21:03] palmsout commented on #35848
@cr0ybot I agree. There's a real need for grid layouts in the query loop block, and elsewhere, to respond at user defined breakpoints, and especially a need for columns to reduce responsively with screen size (beyond just going from, for instance, 3 columns above 600px to 1 column under 600px). Query loop block needs the option to define at least a middle ground option between say 600 & 100opx, bu

[2021-12-03 21:06] jorgefilipecosta commented on #37094
I'm not sure if we should fix this issue. useSetting('color') should not be used unless one really wants the raw value as they are in the structure. On https://github.com/WordPress/gutenberg/pull/36841 I missed the fact that in one of the usages we need the back-compatibility and that was the issue.

[2021-12-03 21:35] illycz commented on #36692
I don't want generate this margins with high specificity at all.

[2021-12-03 21:39] illycz commented on #36692
This comment from Blockbase CSS is telling:
![image](https://user-images.githubusercontent.com/2109984/144676182-dfe692fc-0538-4153-b067-6507755e869b.png)

[2021-12-03 21:46] jorgefilipecosta commented on #28416
Yes, this task is complete!

[2021-12-03 21:53] ockham opened #37116 "PHP Unit Tests are failing"
### Description

Copied (with edits) from https://github.com/WordPress/gutenberg/pull/37100#issuecomment-985614521:

### Step-by-step reproduction instructions

Look at PHP unit tests for any recent commit, or run `test-unit-php` locally.

### Screenshots, screen recording, code snippet

_No response_

### Environment info

_No response_

### Please confirm that you have searched existing issues i

[2021-12-03 22:09] scruffian commented on #36692
I'm starting to wonder if we should remove this from Blockbase altogether...

[2021-12-03 22:35] jorgefilipecosta commented on #36545
As we (@ntsekouras and I) talked on a call, it is not possible to calculate all the dynamic values reliably. They may depend on the device of the viewer etc... We can, and ideally should correctly display some dynamic values like CSS variable references that were defined on theme.json.

I think if a font-size is set to "clamp(1.8rem, 2.5vw, 2.8rem)" our UI should show something useful to most user

[2021-12-04 00:25] spacedmonkey opened #37118 "Full site editing: Unable to exit fullscreen mode"
### Description

In full site editing screens, I am unable to see or access the admin bar. The markup is rendered on the page but is covered by the editor. In post editor, it possible to exit full screening editing to access the admin bar and admin navigation, but this is not possible in full site editing.

### Step-by-step reproduction instructions

1. Go to site editor.
2. See no admin bar.

###

[2021-12-04 00:31] spacedmonkey commented on #37118
I have done mockup of what is would look like.
<img width="1904" alt="Screenshot 2021-12-04 at 00 30 27" src="https://user-images.githubusercontent.com/237508/144689236-a0780b30-e5f0-44cb-8454-b20c0be49bf0.png">

[2021-12-04 00:42] spacedmonkey opened #37119 "Full site editing: editor does not reflect the admin color scheme."
### Description

The coloring of the site editor, does not match the color scheme selected by the user. See this screen, even the color of the dark grey default theme does not match.

<img width="452" alt="Screenshot 2021-12-04 at 00 36 47" src="https://user-images.githubusercontent.com/237508/144689648-6ac7cdb7-eb5c-4d18-a9b4-daf22cbbff81.png">

This is made worse, when a different theme is selec

[2021-12-04 02:01] christianmagill commented on #37118
I guess the problem is the more things you have surrounding the content, the less accurately media queries are represented.

[2021-12-04 03:57] ramonjd commented on #37116
For fun, I [updated the filters](https://github.com/WordPress/gutenberg/pull/37122/files) to reflect the change in https://github.com/WordPress/wordpress-develop/commit/1270c897a9b9e9f0cd5baa765676ea15a9a13399

<img width="829" alt="Screen Shot 2021-12-04 at 2 57 03 pm" src="https://user-images.githubusercontent.com/6458278/144696031-a5d1958d-ddd5-43fb-804a-ef43a705a0f8.png">

😱

[2021-12-04 04:03] ramonjd commented on #37116
Does that mean we'd have to update https://github.com/WordPress/gutenberg/blob/36746203fb97e715d709adbc9e9ff71037a42f14/lib/class-wp-rest-url-details-controller.php with the same changes as https://core.trac.wordpress.org/changeset/52311?

I have no context about why Gutenberg has it's own `WP_REST_URL_Details_Controller` class.

[2021-12-04 04:36] #36417 closed, assigned to jeyip

[2021-12-04 05:49] palmsout commented on #32443
This sounds like a good idea, but I think any changes to the grid view need to be accompanied by additional options for responsive columns and user defined breakpoints. 3+ columns until 600px is often not great from a readability POV. I suggest at the very least incorporating the option to have three user defined column states (e.g., high res, medium res, mobile) instead of just defining the one s

[2021-12-04 06:31] carolinan opened #37123 "Errors during the build process"
### Description

I am unable to build the plugin from trunk.
`npm install `-no errors reported
On `npm run build`:

Error 1:
[code]

I wonder if this is related to the upgrade of fast-glob:
https://github.com/WordPress/gutenberg/pull/36260/files#diff-7ae45ad102eab3b6d7e7896acd08c427a9b25b346470d7bc6507b6481575d519L172

If I revert fast-glob back to version 2.2.7, I do not have any build errors, bu

[2021-12-04 08:10] carolinan opened #37124 "Can not add different content widths for different blocks in theme.json, display bug with alignment control"
### Description

If someone tries to use different content widths for different blocks in theme.json, the control in the editor
shows the numbers, but the widths do not work.

If you add this code and place a group block inside a group block,
the alignment control for the parent block displays 840 and 1100, the control for the child displays 440 and 800.
The actual width of the child is 840.
[code

[2021-12-04 10:13] spacedmonkey commented on #36286
The navigation post type's capabilities map to post post types capabilities. This means a user like a contributor could create a post but not publish it. If a contributor creates a post in the editor, they can submit it for review but not publish.

Canuser do not currently allow you to check for publish capabilities. Just that a user can post to an endpoint doesn't mean they can publish. To see if

[2021-12-04 11:39] carlomanf opened #37126 "Site editor allows unauthorised edits"
### Description

The site editor appears to ignore meta capabilities that may be applied to template and template parts.

### Step-by-step reproduction instructions

1. Add a plugin with code similar to the below (where 338 is the ID of a template)
2. Attempt to edit the template in the site editor
3. Observe that the template was successfully edited

### Screenshots, screen recording, code snippe

[2021-12-04 16:26] mirka opened #37127 "NumberControl: Hovering over spin buttons in Safari can trigger drag"
### Description

In Safari, you can get stuck in a drag-like motion when simply hovering over the spin buttons. This happens after you click a spin button once, or after you initiate an actual drag motion in the input field.

### Step-by-step reproduction instructions

1. Go to the [Storybook](https://wordpress.github.io/gutenberg/?path=/story/components-numbercontrol--default) for `NumberControl`

[2021-12-04 18:05] amustaque97 commented on #37087
Hi, I would :heart: to take this up 😄

[2021-12-04 18:34] BicanMarianValeriu opened #37128 "Render wp:template-part in wp:pattern not working"
### Description

While testing my custom theme and upcoming wp:pattern block I found that rendering wp:template-part in wp:pattern is not working giving a "Template part has been deleted or is unavailable: entry-meta" error even though the partial exists and it renders using normal query.

Everything is fine with normal query block but not working when calling the same query from a pattern.
See th

[2021-12-04 21:59] amustaque97 commented on #37087
After investigation, I found that, [fix](https://github.com/WordPress/gutenberg/pull/37016) is already merged into `trunk` branch 3 days ago. Running latest code doesn't show this behavior.

Screenshot:
<img width="1617" alt="image" src="https://user-images.githubusercontent.com/21127788/144725848-b1eb9df9-6b15-4223-b1da-e9f2274b7a41.png">

I believe we can close this issue. :)

[2021-12-05 03:14] ajlende commented on #37087
Resolved by https://github.com/WordPress/gutenberg/pull/37016

[2021-12-05 03:14] #37087 closed, assigned to nobody

[2021-12-05 04:00] supernovia opened #37130 "Page List Block: Options for Child / Sibling Pages"
## What problem does this address?
We have some users who get really involved page hierarchies (documentation pages, for example!) and who want to have generated navigation within each page as a sort of Table of Contents

## What is your proposed solution?
Show these options as a select or with a toggle setup.  Then if that page doesn't have children or siblings as selected, just don't display tha

[2021-12-05 19:40] ndiego commented on #37114
This issue is fixed with #36900

[2021-12-05 19:40] #37114 closed, assigned to nobody

[2021-12-06 01:53] talldan commented on #37095
Agreed, the button's aria-label is 'capitalize' (and it should maybe have a visible tooltip), so I would consider this the expected behavior.

[2021-12-06 01:53] #37095 closed, assigned to nobody

[2021-12-06 01:55] #31957 closed, assigned to nobody

[2021-12-06 02:14] #36962 closed, assigned to talldan

[2021-12-06 02:57] glendaviesnz commented on #37031
Also, as background, the reason for this change is [outlined here](https://github.com/WordPress/gutenberg/pull/33541)

[2021-12-06 05:10] noisysocks opened #37138 "Navigation block erroneously requests /wp/v2/block-navigation-areas in WP 5.9"
### Description

The Navigation block is making a request to /wp/v2/block-navigation-areas.

https://github.com/WordPress/gutenberg/blob/26556937b70bbf4aaef8c112321703b61a740284/packages/block-library/src/navigation/edit/index.js#L112-L117

This won't work when the block is used in WP 5.9 without the Gutenberg plugin active as that REST API endpoint does not exist.

### Step-by-step reproduction i

[2021-12-06 05:59] talldan commented on #37138
Could be tricky to solve. I think the original intent was to keep nav areas in the Gutenberg plugin until the deprecation period ends (not sure when that is and it might have already passed).

[2021-12-06 07:34] chthonic-ds commented on #36525
I'm currently trying to apply the following when navigation is set to vertical:

- rotate the sub-menu icon in a different direction
- add a left border with a thick stroke and extra left padding per sub-menu element
- different interaction fx on the left border

At the moment I need to filter for the orientation attribute value and apply it to the rendered markup, but without something like the `

[2021-12-06 08:40] #35768 closed, assigned to talldan

[2021-12-06 08:54] #34996 closed, assigned to michalczaplinski

[2021-12-06 09:50] gziolo opened #37143 "Comment Template: Consider using block placeholders when editing a template with no page context"
## What problem does this address?

At the moment we show a list of the latest comments for the Comments Query Loop block when there is no post selected during editing the site. However, for all other theme blocks, we show placeholders in the same view:

<img width="1918" alt="Screenshot 2021-12-02 at 13 19 14" src="https://user-images.githubusercontent.com/699132/144823654-95ed1c71-8093-468e-8c3a

[2021-12-06 09:53] gziolo commented on #37143
The same question applies to the Query Loop block. @ntsekouras, do you have some insights why we landed on the current approach?

[2021-12-06 10:09] spacedmonkey commented on #36576
I created a prototype of a classic menu block. https://github.com/spacedmonkey/classic-menu-block

After WordPress I will submit this plugin to the WP plugin repo. It will be a nice workaround for some of your issues @manooweb

[2021-12-06 12:09] ockham commented on #37116
Fixed by #37122. Thanks @ramonjd!

[2021-12-06 12:09] #37116 closed, assigned to nobody

[2021-12-06 12:13] manooweb commented on #36576
Wow! Thanks @spacedmonkey, I'm stuck at the moment with the other solution proposed in #36950
I'm going to take a look at this one 👍

[2021-12-06 12:20] luisherranz commented on #36642
I forgot that the post id could be inherited from either the post/page or a parent Query Loop block and those cases should be treated differently.

- Comments Loop block
  - Post ID inherited from post/page
    - https://mysite.com/some-post/
    - https://mysite.com/some-post/comment-page-2/
    - https://mysite.com/some-post/comment-page-3/
  - Post ID added in the block settings (not inherited)

[2021-12-06 12:37] michaelbonert commented on #36687
Just updatet the Gutenberg Plugin to 12.0.2. Unfortunately, the editor doesn`t run here either. Only a blank page is shown.

[2021-12-06 12:46] aristath commented on #36603
I don't think this is an issue with Gutenberg or WordPress... WP doesn't allow uploading SVGs. If that behavior is altered using a plugin, then that plugin should be properly adding the dimensions to the image props.

[2021-12-06 12:47] paaljoachim commented on #36589
Yes. I also fully agree on what @spacedmonkey Jonny mentioned.
Let's hide it.

[2021-12-06 13:38] hanene2030 commented on #13020
add #t=0.001 at the end of the video url

https://muffinman.io/blog/hack-for-ios-safari-to-display-html-video-thumbnail/

[2021-12-06 13:52] youknowriad commented on #36644
For this particular issue, I've been hesitating back and forth about whether to do it or not.

Basically, this is adding complexity to an existing endpoint for a future potential use-cases. And in general I don't like doing that because we never know how these use-cases can evolve over time, meaning the added complexity if done today may prove to be wrong or useless.

On the other side, if we don'

[2021-12-06 15:02] erwanvivien opened #37152 "[keyboard-shortcuts] Can't read property of undefined"
### Description

I get this error, while I didn't have it before. I even rolled back to a month old commits to tests

[code]
Associated with the error:
[code]

I don't even know where those error come from. Version 3.0.6 of keyboard shortcuts is used everywhere in package-lock.json

My component looks something like that, I believe it's good as I never touched it :/

As soon as I click on the plus

[2021-12-06 15:05] gziolo opened #37153 "Comment Template: Optimize the way pagination is handled for comments with replies"
## What problem does this address?

Originally raised by @michalczaplinski in https://github.com/WordPress/gutenberg/pull/36065#issuecomment-955097061 while working on the support for comments with replies:

The extended version of the issue is explained in the video included:

https://user-images.githubusercontent.com/5417266/139510408-bb141fdc-9716-4bc6-9e04-73a64e9b0686.mov

The initial approac

[2021-12-06 15:42] gziolo opened #37154 "Comment Template: Improve selection for the inner blocks"
### Description

Originally reported in https://github.com/WordPress/gutenberg/pull/36065#pullrequestreview-821372216:

Confirmed in https://github.com/WordPress/gutenberg/pull/36065#issuecomment-985146916 by @michalczaplinski:

It might be the same issue that @andrewserong is trying to resolve for Query Loop and Post Comment in https://github.com/WordPress/gutenberg/pull/36431.

### Step-by-step

[2021-12-06 15:55] mirka commented on #37083
Thanks for the report! Consolidating with #37083

[2021-12-06 15:55] #37083 closed, assigned to nobody

[2021-12-06 16:02] mirka commented on #37069
This has been fixed in #36941 🎉

[2021-12-06 16:02] #37069 closed, assigned to ajlende

[2021-12-06 16:35] jffng opened #37156 "Site editor fails to load when theme directory contains a period"
### Description

The site editor fails to load when the theme's directory name contains a period. It fails on an API request to load templates:

[code]

cc @noisysocks as I think this should be in 5.9 must-haves, it was originally discovered in the Beta 1 testing period: https://core.trac.wordpress.org/ticket/54544#comment:12

### Step-by-step reproduction instructions

1. Install / activate a the

[2021-12-06 17:35] edujca opened #37158 "Bug in footer of full site editing WP 5.9 Beta 1"
### Description

I used a clean installation: only WordPress 5.9 Beta 1 with Twenty Twenty Two theme. Later, I've added Gutemberg, but nothing changed.
The problem is in footer block. I added a button. But, when I want to delete it with "Remove button" in submemu, the system says: "The editor has encountered an unexpected error", and two buttons: "Attempt recovery" and "Copy the error". "Copy the

[2021-12-06 19:09] anton-vlasenko opened #37162 "We need to use wp_is_block_theme function"
### Description

`gutenberg_is_fse_theme` function should use the wp_is_block_template function internally (if it's available).

### Step-by-step reproduction instructions

Gutenberg currently uses the `wp_is_block_template_theme` function.
We need to change that, as there is a plan to rename it to `wp_is_block_theme`.
Please see https://core.trac.wordpress.org/ticket/54552 for more details.

###

[2021-12-06 20:23] CGTS opened #37166 "Minimum/Maximum font size in tag cloud block"
## What problem does this address?
Currently the minimum /maximum size for fonts in the tag cloud are predefined. Adding the option to set the minimum/maximum sizes would allow for a more predictable outcome in the design of a site.

## What is your proposed solution?
Add inputs for minimum and maximum font sizes.

[2021-12-06 20:39] paaljoachim commented on #36860
A use case.

I noticed the following brought up in the Slack channel: #fse-outreach-experiment
https://wordpress.slack.com/archives/C015GUFFC00/p1638588535130900

Point number 3.
"Could not find the Add New button on Templates screen. It was available only on template parts screen."

I am bringing it up here as another reason why we also need the Custom/General template in WP 5.9.
Through the them

[2021-12-06 20:56] Presskopp commented on #37158
please correct the link, thank you

[2021-12-06 21:02] dcalhoun opened #37168 "Wrapping Heading block text overlaps previous lines for block-based themes"
## Description

When adding a Heading block in the native mobile editor, the line height is incorrect and results in overlapping lines of text. It would appear an incorrect line height is set for the Heading block.

**This issue only occurs in [development environments](https://github.com/WordPress/gutenberg/blob/88cb6a632b8d4a1505a25c63637358f6de4a7916/packages/rich-text/src/component/index.nativ

[2021-12-06 21:08] dcalhoun commented on #37168
@geriux do you think this may be related to https://github.com/WordPress/gutenberg/pull/35314?

[2021-12-06 22:41] baskettcase commented on #8322
Im really surprised that this is still an issue also. Developing a site for a client and I know he's not going to be happy about this :(

[2021-12-07 00:27] #37162 closed, assigned to anton-vlasenko

[2021-12-07 01:04] glendaviesnz commented on #37088
This was fixed in https://github.com/WordPress/gutenberg/pull/37016 which was back ported yesterday, so should be in beta 2

[2021-12-07 01:04] #37088 closed, assigned to nobody

[2021-12-07 01:13] jeyip opened #37170 "Editor History: Site logo block undo and redo issue"
### Description

Undoing and redoing an image block with an uploaded image restores said image. This, however, does not happen for the site logo block. Instead, it restores an empty site logo block.

What's curious is that deleting the site logo block and reintroducing it through the block appender retrieves the previously uploaded site logo without issue.

### Step-by-step reproduction instructio

[2021-12-07 01:41] talldan commented on #37158
I haven't been able to reproduce the issue. It'd be good to get some more testing on this though, just to make sure.

[2021-12-07 01:45] anoopd commented on #36688
@jorgecontreras  Have you finished that . I would like to know how you used that `Good Docs` template .

[2021-12-07 01:51] talldan commented on #37152
@erwanvivien It looks like your example is based off of the storybook. It's missing the `ShortcutProvider` component:
https://github.com/WordPress/gutenberg/blob/792c3035ca900314fad7ab8afae3486ed9951329/storybook/stories/playground/index.js#L33

It was added to the storybook in this PR - https://github.com/WordPress/gutenberg/pull/35652.

[2021-12-07 01:51] #37152 closed, assigned to nobody

[2021-12-07 01:54] talldan commented on #37130
Related - https://github.com/WordPress/gutenberg/issues/31063

[2021-12-07 02:23] mkaz commented on #36688
@anoopd I have an [example template here](https://github.com/WordPress/gutenberg/blob/bac0163f0489a8bee99e7288139da8421fd24c9f/docs/contributors/documentation/how-to-guide-template.md) as part of the PR mentioned.

I'd welcome any feedback on anything to add or adjust on the template to make it easier to use.

[2021-12-07 02:55] noisysocks commented on #37075
This all makes sense, and I agree, but why is this a blocker **for WP 5.9 specifically**? This release does not contain any of those upcoming features. As it stands, in WP 5.9 beta 2, one can use the site editor and switch between templates and template parts without any issue. I don't see why we can't release what we have and continue to improve the experience in the Gutenberg plugin and in WP 6.

[2021-12-07 03:02] alexstine commented on #37075
I really wish this could slow down a bit. I've never been a fan of rushing features in and if this technically works, 5.9.1 could provide a much better timeline for testing and ensuring it is done 100% right. It would be different if this was some huge bug, but it seems like an enhancement, yes?

I will try to get my feedback on the PR no later than tomorrow but if this isn't necessary to have, it

[2021-12-07 03:49] jeyip opened #37171 "Editor History: Site title and tagline blocks undo one character at a time"
### Description

Undoing a site tagline or site title block reverts text one character at a time instead of in larger "chunks" like in the paragraph block.

### Step-by-step reproduction instructions

**Block Editor**

1. Navigate to the post editor
2. Add a site tagline or site title block
4. Add text to the site tagline
5. Undo the changes
7. Verify that reversions occur one character at a time

[2021-12-07 04:04] jeyip opened #37172 "Editor History: Font size settings don't redo properly"
### Description

If font-size is the first block typography setting I update, I can undo and redo sizing without issue. I'm, however, unable to redo font-size changes when they are made _**after**_ other typography updates (line spacing, line height, etc.).

Ex. I update line spacing _and then_ I update font-size. When I undo and redo, font-sizes won't redo properly.

### Step-by-step reproduction

[2021-12-07 04:07] anoopd commented on #36688
Ty will go through it .

[2021-12-07 04:22] noisysocks commented on #36644
Can we mitigate against breaking changes by versioning the resource or something? For example put `"version": 1` in the JSON output? I suppose that's what the `v2` in `/wp/v2/` is for, though.

I agree that anticipating future needs is futile. Also, we're pretty far into the 5.9 cycle now so I'm more than happy to cut scope wherever possible.

[2021-12-07 04:47] genesis16 opened #37173 "Paragraph element does not allow uppercase text"
Hello I have been working on a project and I noticed the paragraph element does not allow uppercase/Capitalization of text.I had to change to a h5 and change the font size etc to get capitalisation back.

Wordpress version 5.8.2

[2021-12-07 05:04] Mamaduka commented on #37056
I am assigning this to myself. I've PR almost ready, just need to run a few more tests :)

[2021-12-07 05:17] andrewserong commented on #37154
Thanks for the ping! That PR seeks to address part of the problem (preserve the wide layout alignment, remove flicker / unintentional scroll when switching the current block context). There's another problem to deal with, that I thought could be good for a follow-up, which is to see if it's possible in the click handler when switching block contexts, to also then set the currently selected block t

[2021-12-07 05:19] noisysocks commented on #37138
If it hasn't already passed then we could wrap the relevant bits of JavaScript with an `if ( process.env.GUTENBERG_PHASE === 2 )`.

[2021-12-07 05:34] noisysocks commented on #30668
@adamziel: Just confirming, is #37157 the current PR folks ought to review in order to action this issue?

[2021-12-07 05:46] noisysocks opened #37174 "Rename GUTENBERG_PHASE to IS_GUTENBERG_PLUGIN"
Gutenberg currently has an environment variable at `process.env.GUTENBERG_PHASE`.

It is set to `1` in Core:

https://github.com/WordPress/wordpress-develop/blob/a9e66f4bcb8a857c78ac29f7de30f8f9f3d129c5/tools/webpack/blocks.js#L187

It is set to `2` in the Gutenberg plugin:

https://github.com/WordPress/gutenberg/blob/trunk/package.json#L22

The original intention with this variable was that `GUTE

[2021-12-07 06:53] carolinan commented on #37156
I'm not sure that having a period in the theme name is considered valid though?

[2021-12-07 08:02] hypest commented on #37168
👋 @dcalhoun! Trying to understand the setup, do you mean that the production WP app doesn't exhibit the issue? And since I see the screenshot in the ticket being from WPAndroid, does that mean the app was pointing to a running Metro server and thus, exhibiting the issue? Thanks!

[2021-12-07 08:22] agatheschmidkoenig commented on #36482
I will now follow another similar issue, seems to be a widerspread poblem. Thanks so far!

[2021-12-07 08:22] #36482 closed, assigned to nobody

[2021-12-07 08:42] t-hamano commented on #37123
I am also a Windows user and have encountered the exact same symptoms.
I don't know the exact cause, but I think it is because **the path separator is different between Windows and Mac OS.**

The build succeeded by following [the fast-glob documentation](https://github.com/mrmlnc/fast-glob#how-to-write-patterns-on-windows) and replacing the path separator in the two files as shown below.

- `/bin/

[2021-12-07 09:01] paaljoachim commented on #36049
From the changes going on in relation to the W menu which now looks like this:

![Screenshot 2021-12-07 at 10 01 13](https://user-images.githubusercontent.com/5323259/144998596-cde49568-aa15-416a-bfdf-e9cb07546ccb.jpg)

It is a lot easier to navigate. I am closing this issue.

[2021-12-07 09:01] #36049 closed, assigned to nobody

[2021-12-07 09:02] youknowriad commented on #30668
@noisysocks yes, for me.

[2021-12-07 09:02] youknowriad commented on #37174
That makes sense 👍

[2021-12-07 09:04] paaljoachim commented on #36470
@ndiego Nick do please add the info into the Patterns doc.
@mkaz can help if you need any help getting the information into the document.

[2021-12-07 09:04] paaljoachim commented on #34445
@jorgefilipecosta has this issue already been taken care of for Global Styling etc?

[2021-12-07 10:12] luisherranz commented on #37153
Another solution could be to make the `_links.children` items of the REST API embeddable:

[code]

Then, we could simply add `_embed=true` to the request and set the `per_page` value to the number of top-level comments.

The problem is that right now, embedding in the REST API is not recursive, so embedded comments won't embed their children.

I wonder if there's an easy solution to that problem t

[2021-12-07 10:40] wolffe opened #37177 "Button alignment not working"
### Description

The button alignment does not work. Setting everything correctly in the back-end is not reflected in the front-end.

Changes are saved correctly, there are no errors in the console, and there are no other plugins active.

## Back-end

![Screenshot 2021-12-07 103419](https://user-images.githubusercontent.com/910240/145013622-bb675c71-cc12-4654-b1b4-90f5d4381e45.png)

## Front-end

[2021-12-07 10:49] ntsekouras commented on #37143
This is related to the [context detection issue](https://github.com/WordPress/gutenberg/issues/30369) we have.

So what happens now without the context detection is that we don't have a way for showing the proper results when we inherit the global query and we still need a way to customize this block. I think there was an issue about having a way to use an isolated view for editing the block in th

[2021-12-07 11:07] oandregal commented on #37094
I don't have strong opinions other than fixing the current status, which is bug-prone. Both options (adding the backcompatibility logic or don't allow using `color` directly) work for me.

[2021-12-07 11:08] oandregal commented on #37094
For the record, @youknowriad also argued that we shouldn't allow using `useSetting` with top-level keys: https://github.com/WordPress/gutenberg/pull/36900#discussion_r761867471

[2021-12-07 11:13] Andrew-Starr commented on #37173
The Letter Case setting is hidden by default in the paragraph block, unlike the heading block where it is always visible.

To enable letter case options, click the **+** symbol next to Typography in the block sidebar panel, and select Letter Case to make this setting visible in the typography options.

The **+** symbol is replaced by three vertical dots if any of the other options (Appearance, Lin

[2021-12-07 11:31] Andrew-Starr commented on #37158
I was able to recreate this issue with this setup:

WP 5.9 beta 1
Gutenberg not installed

Add a button to the footer.
Remove button and it works correctly.

Add a button to the footer again.
Save changes.
Navigate away from the editor, back to dashboard.
Reload the editor.
Try to remove the button, and the error appears exactly the same as in @edujca video.

With Gutenberg installed, the issue di

[2021-12-07 11:33] Andrew-Starr commented on #37158
This is the error returned:

[code]

[2021-12-07 11:34] kuuak opened #37179 "Restrict embed variations in innerBlocks' allowedBlocks"
### Description

Since WordPress changed the Embed blocks to all variations of the `core/embed` block, it is not anymore possible to restrict specific embed variation nested into an InnerBlocks with the `innerBlocks` property.

Previously we were able to specify a subset of embed types e.g. only Youtube with `core-embed/youtube`. But now with the variation this functionality is not working anymore

[2021-12-07 11:39] #37056 closed, assigned to Mamaduka

[2021-12-07 11:39] Andrew-Starr commented on #37158
With both 5.9 beta 1 and Gutenberg plugin active, I could remove the button but on the first click of 'remove button' nothing happens. I had to click it a second time to remove the button.

[2021-12-07 11:47] mansi-shah-2248 commented on #36365
Anchors should not be forced on headings, it should be optional.

[2021-12-07 11:53] Andrew-Starr commented on #37179
May be same/similar issue: https://github.com/WordPress/gutenberg/issues/37084

[2021-12-07 11:56] t-hamano commented on #37123
I looked into it, and this is a fix that is only needed for some tasks that use fast-glob.
So, I'd like to submit PR if these two fixes make it pass the local build and test.

[2021-12-07 12:11] Andrew-Starr commented on #37158
A bit of further testing brings up a couple of further issues.

The issue is not restricted to the footer, and this issue occurs when trying to remove a button from any template or part (header, footer, page etc.)

Also, this is weird but when I activated Gutenberg plugin, and then removed the button it works correctly and the button is removed.
Then I deactivated Gutenberg so only running 5.9 Bet

[2021-12-07 12:14] jameskoster opened #37181 "Post Comments Loop: Unable to put comment blocks inside rows or columns"
If you place a Row or Columns block in the Comment Template, it's not possible to place blocks like the comment author avatar inside the Row or Column.

I thought this might be something to do with the component blocks needing to check that the Comments Template is the ancestor (so that they cannot be inserted in other random locations). But it's worth noting that these blocks _can_ be placed insi

[2021-12-07 12:24] jameskoster opened #37182 "Post Comments Form block mistakenly says comments are not allowed"
In my `single-post` template I have an instance of the Post Comments Form block that is quite insistent (note the double message) that comments are not enabled for this post type:

<img width="705" alt="Screenshot 2021-12-07 at 12 21 29" src="https://user-images.githubusercontent.com/846565/145028472-90cebcd1-b9cf-4963-a9a3-dc100d4b29a7.png">

However, comments are in fact enabled, and I see the c

[2021-12-07 12:51] jameskoster commented on #36951
I spent a little time exploring this today, here are some thoughts.

One observation is that we have a lot of overlap between the popover that is accessed via the top bar, and the template details in the inspector:

| Popover  | Inspector |
| --- | --- |
| <img width="291" alt="Screenshot 2021-12-07 at 12 38 16" src="https://user-images.githubusercontent.com/846565/145030516-89375867-11b1-4383-946

[2021-12-07 13:32] gziolo commented on #37143
At the moment we use block names as placeholders for other blocks in the same template so it would make sense to start with that. The difference here for loop blocks is that they need to repeat the same set of blocks a number of times and that is also another decision we need to make unless we are able to use a setting for the default number of items. In the case of comments, we would rather have

[2021-12-07 13:41] illycz commented on #21830
Fantastic! I'm using it for post type block template.
It's solve also https://github.com/WordPress/gutenberg/issues/33379

Thanks

[2021-12-07 13:52] Mamaduka commented on #36955
I started working on the fix and will have PR ready for testing tomorrow.

[2021-12-07 14:09] ntsekouras commented on #37143
The difference is that we do need a way to edit the innerBlocks of the query blocks, so this wouldn't work here.

[2021-12-07 14:27] dcalhoun commented on #37168
@hypest I believe the font size feature [resides behind a development flag](https://github.com/WordPress/gutenberg/blob/88cb6a632b8d4a1505a25c63637358f6de4a7916/packages/rich-text/src/component/index.native.js#L900-L902). So, the issue is not present in a packaged release, but is present when connected to a Metro server. I will update the Issue description to improve clarity.

[2021-12-07 14:48] manooweb commented on #36576
@spacedmonkey I took a look at your plugin.
The issue at the beginning isn't a frontend rendering problem but a WYSIWYG rendering problem of the navigation block.

For the moment, here is what I get with your plugin
The classic menu block
![image](https://user-images.githubusercontent.com/1003778/145049922-fc76f936-c842-4002-abf7-1cb888c71870.png)

renders a navigation block which doesn't contain

[2021-12-07 15:04] shaunandrews commented on #36951
I don't see why we'd want to make them exactly the same, and _then_ remove one. Instead, we could just remove one of them _now_. Or (and this is my preference) we could make them each have their own purpose.

[2021-12-07 15:22] manooweb commented on #36576
🤔Sorry after investigation, it seems that it's Polylang that doesn't manage the language switcher menu item in a admin/REST context. I'm going to test by moving a line of code a the right place and I let you know

[2021-12-07 15:42] manooweb commented on #36576
It was really that 👍 We need to copy a class instantiation in the REST Polylang context and it works fine now.
![image](https://user-images.githubusercontent.com/1003778/145060183-9a5665cf-3a8a-47d3-9dd1-f2eb21029605.png)

[2021-12-07 15:46] jameskoster commented on #36951
We could remove one now, but which one? The popover feels easier to access, and I like the idea of separating document settings from block settings. But this would be a much bigger task in the post editor context as the document settings there are more convoluted, and I'm not so keen on the inconsistency we'd create.

Yes, it's worth exploring. That probably goes beyond the scope of this particula

[2021-12-07 16:06] chad1008 opened #37188 "ToolsPanel UI prevents styling of multiple paragraph blocks at once"
### Description

When Typography settings were migrated to the ToolsPanel UI (https://github.com/WordPress/gutenberg/pull/33744), the ability to edit the typography styling of multiple paragraph blocks at once was lost.

Previously, users could highlight multiple paragraph blocks and style them all together. Under the new UI, the typography controls are no longer visible for multi-block selections

[2021-12-07 16:22] adamziel opened #37190 "Make the navigation block more internally consistent"
There's quite some code duplication in the navigation block code, leading to inconsistent behaviors when seemingly the same feature is used using a different control.

### Multiple code paths for creating new menus

There are many ways a user may create a new, empty menu, and they are handled by different code paths:

https://github.com/WordPress/gutenberg/blob/2f7f045a0d8955d5521f82a1a0d0a72e9386

[2021-12-07 16:26] WunderBart commented on #37188
Looks like a good candidate to be covered by an e2e test!

[2021-12-07 16:26] ntsekouras commented on #37118
I have a feeling that this might be intended, but I'm not sure. @jameskoster or @jasmussen maybe, might  know if this is a design decision about the site editor..

[2021-12-07 16:28] jffng commented on #37156
Valid how so? I can upload a theme with a period in its name, or rename an existing one.

[2021-12-07 16:28] hellofromtonya commented on #37158
Note: Originally reported in WordPress Core's Trac https://core.trac.wordpress.org/ticket/54590.

[2021-12-07 16:55] dcalhoun commented on #23576
This issue appears to now occur for _both Media File and Attachment Page_ options. Selecting either option starting with WordPress apps 18.5 / Gutenberg Mobile v1.64.0 does _not_ insert the expected anchor tag. It also is not specific to self-hosted sites, as it occurs on WordPress.com sites as well.

[2021-12-07 17:05] Bysander commented on #20567
What happened to `vh` as a unit?! Why in gods name would `vw` be more useful as a height measurement?

![image](https://user-images.githubusercontent.com/69798248/145073901-52159d1e-499d-4844-acc4-348bd683d3f4.png)

[2021-12-07 17:19] #30642 closed, assigned to oandregal

[2021-12-07 17:45] jameskoster commented on #37118
It is intentional, due mostly to the Site Editor having a dedicated navigation area. Outside of full-screen mode things get... interesting:

https://user-images.githubusercontent.com/846565/145079782-478ed242-8650-4cda-8a15-c588d051a693.mp4

[2021-12-07 17:55] slewisma commented on #19776
I have multiple clients needing this now too as we've left other page editors. The cover block at first appears to be a good replacement for similar widgets but because the image is not clickable it does not do what is expected. Perhaps more importantly, it makes the cover block bad from a UX perspective on touchscreens where there is no mouse and hover that might provide a clue to what is and is

[2021-12-07 18:00] slewisma opened #37194 "WP Core Excerpt function needs updating for gutenberg"
## What problem does this address?
Gutenberg blocks that are not text containing blocks can appear in the portion of the word count that gets excerpted. In the case of a block like the YouTube video block, that means that the URL will show in the excerpt because the video block leverages Oembed so the URL is not in html tags that would normally be stripped.

## What is your proposed solution?
At l

[2021-12-07 18:33] jeyip opened #37195 "Editor History: Undo doesn't work immediately after publishing / saving"
### Description

Undoing immediately after publishing a post in the post editor or saving in the site editor does not work. Undo levels appear to be completely reset.

I can see that this might be deliberate, but what's strange is that adding a few blocks and additional changes after publishing or saving appears to allow undoing / redoing any revision again.

### Step-by-step reproduction instruct

[2021-12-07 18:39] priethor commented on #37075
@noisysocks what's your comfort level with including #36488, provided it gets thorough testing vs. restoring the `W,` considering it's not as easy as reverting, as you correctly pointed out?

In any case, if this is not considered a blocker for 5.9, it would make more sense to me not to compromise by shipping it in 5.9.1 but to take the opportunity to ship a more refined version directly in 6.0.

[2021-12-07 19:07] Mamaduka commented on #36985
This was fixed in https://github.com/WordPress/wordpress-develop/pull/2020.

[2021-12-07 19:21] kjellr opened #37198 "[Quote] Unable to change width of left border for both left and right alignments"
It's possible to set the width of the quote block's borer from within `theme.json` like so:

[code]

This works great when the block is in its default left alignment state. In the editor, this border disappears when you choose center or right alignment:

<img width="684" alt="Screen Shot 2021-12-07 at 2 18 05 PM" src="https://user-images.githubusercontent.com/1202812/145092349-9902b614-0e2f-47cb-a

[2021-12-07 19:38] stacimc commented on #35602
This looks fantastic 🤩

We'll need to adjust the controls depending on what border properties are supported by the particular block, but I don't think that will be difficult. The bigger question for me is whether it makes sense to have _optional_ controls, which are possible in a ToolsPanel context.

With these designs I don't think you'd want or need to make any of the controls optional. The `sty

[2021-12-07 19:38] dcalhoun opened #37199 "Customizing the angle of certain theme-specific gradients sets incorrect colors"
## Description
Customizing the angle of certain theme-specific gradients sets incorrect colors. Specifically, gradients with "hard stops" between two colors seems to cause issue. This occurs for both Button and Cover blocks.

## Step-by-step reproduction instructions
1. Set the site them to one providing theme-specific gradients, e.g. Seedlet.
2. Add a _Buttons_ block.
3. Open the block settings f

[2021-12-07 20:10] anton-vlasenko opened #37201 "Site Editor doesn't allow to edit or preview non-active block themes"
## What problem does this address?
Site Editor only works with an active block theme.
It's not possible to edit non-active block themes with it.
E.g., it's not possible to Live Preview non-active block themes.

## What is your proposed solution?
It's simple: we need to implement that feature.

[2021-12-07 20:20] dashkevych opened #37202 "Quote block: Large style can cause confusion for the user"
### Description

By default, the Quote block comes with "Large" style. The main purpose of this custom style is to display a quote with a with larger font size.

In WordPress 5.9, we have Typography options which allow the user customize typography settings of the block, including Font Size.

So, I am wondering if we really need to have this style in a core if there is an option in a core which al

[2021-12-07 20:20] anton-vlasenko commented on #37201
More context can be found here: https://core.trac.wordpress.org/ticket/54578

[2021-12-07 20:28] dcalhoun opened #37203 "Synced pattern title illegible when using block-based theme with dark background"
## Description
When using a block based theme that includes a dark background color, the title and help icon of a Reusable block is very difficult to read.

## Step-by-step reproduction instructions
1. Set a site's theme to a block-based theme with a dark background, e.g. Geologist.
2. Add a Reusable block to the block editor canvas.

## Expected behaviour
The Reusable block title and help icon ar

[2021-12-07 20:34] dcalhoun opened #37204 "Converting a self-referencing Reusable block to regular blocks adds a new copy of the original Reusable block"
## Description
When converting a Reusable block to "regular" blocks, the original Reusable block is not removed from the block editor canvas. Instead of being replaced by the new regular blocks, the regular blocks are inserted alongside the original Reusable block.

## Step-by-step reproduction instructions
1. Add a Reusable block to the block editor canvas.
2. Tap the Reusable block.
3. Tap _Conv

[2021-12-07 20:59] #37047 closed, assigned to stacimc

[2021-12-07 21:41] spacedmonkey commented on #37118
@jameskoster I don't see the issue with the screencast you shared? Seems fine to me. Specially if you are a larger screen.

[2021-12-07 22:26] Lucisu opened #37206 "Allowing plugins to customize global styles and theme.json files "on the fly""
## What problem does this address?

Allowing plugins to customize global styles and theme.json files "on the fly."

## What is your proposed solution?

It's needed to add filters and actions when returning those values.

[2021-12-07 22:44] illusaen commented on #34749
In order to do this, we would need to first convert the block and then count the number -- perhaps by making a new function in `gutenberg/packages/reusable-blocks/src/store/selectors.js` that is based on the `gutenberg/packages/reusable-blocks/src/store/actions.js`'s `__experimentalConvertBlockToStatic` function, wheree it does everything up until making the `newBlocks` and then returns the `newBl

[2021-12-07 22:46] illusaen commented on #34749
Also interestingly enough, it seems like there's another place where this comes up -- `ReusableBlockEdit` where it says "Editing reusable blocks is not yet supported..." and "Alternatively, you can detach and edit these blocks separately by tapping "Convert to regular blocks."". If we do decide to do this we should also change it there.

[2021-12-07 23:12] noisysocks commented on #37075
I think the former, since there's already a PR for it. That's one less unknown 😀

I'm happy that https://github.com/WordPress/gutenberg/pull/36488 has now received lots of testing over in the PR from a variety of perspectives (accessibility, technical, etc). It's definitely ready for the plugin. I'd say let's include it in 5.9 and then un-include it (but NOT hold back the release) if there are pro

[2021-12-08 00:09] noisysocks commented on #36589
This sounds reasonable. How about we add _Manage menus_ underneath _Create new menu_? Then we can hide the link in _Appearance_.

<img width="432" alt="Screen Shot 2021-12-08 at 11 09 11 am" src="https://user-images.githubusercontent.com/612155/145125210-2884b03b-9259-4905-ae29-c6b62f2b949d.png">

I think at this stage we're just waiting for a dev to pick this up.

[2021-12-08 00:22] andrewserong commented on #24587
Just adding that I ran into this issue, too, the other day while testing #35787 — for me in Safari the resize controls showed initially, but if I switched the Image block from no alignment to any alignment (or vice-versa) then the resize controls disappeared. Here's a GIF:

![Image resizer hidden in Safari when switching alignment](https://user-images.githubusercontent.com/14988353/144963535-e8db0

[2021-12-08 00:52] edufolios-matt commented on #15147
@Mamaduka - I'm currently using the approach by @harisrozak above. This updated the UI and the Redux store, yet if I save the Post (which I currently have to enable through updating a faux private metafield, otherwise the Update button doesn't enable), the tags / categories aren't saved, the UI reloads with the tags / categories cleared of any selection applied.

Is there a mechanism to mark tags

[2021-12-08 01:15] talldan commented on #37190
The 'Navigation menu has been deleted or is unavailable' message is something I'd already deleted once (https://github.com/WordPress/gutenberg/pull/36507).

Not sure why it was brought back again.

[2021-12-08 01:34] andrewserong commented on #24587
I think I've come up with a fix for the underlying issue, but it could do with some more testing to confirm it doesn't introduce any other issues: #37210

Update: [turns out it does](https://github.com/WordPress/gutenberg/pull/37210#issuecomment-988448371) introduce another issue — I'll investigate and see if I can tidy it up.

[2021-12-08 01:56] annezazu commented on #36482
Sounds good!

[2021-12-08 01:57] talldan commented on #37123
In the changelog for fastglob 3:

So that might explain it.

[2021-12-08 01:57] hlashbrooke opened #37211 "Add heading level selector on block insert"
_Apologies if this has been suggested before - I searched the repo and couldn't find anything like it mentioned._

## What problem does this address?
When adding a new heading block, it's always a few clicks and mouse movements to select the heading level (h2, h3, etc.). It would be great if this could be done at the time of inserting the block.

## What is your proposed solution?
Add slash comman

[2021-12-08 03:37] mkaz commented on #37156
Looking through theme handbook and I couldn't find any rules around the naming of a theme directory. A period is a valid character to include in a directory for example `theme-1.0/`

For this case, technically it's not the name of the theme but the directory that holds the theme files. So, this bug is about the directory name and not the `Theme Name:` specified in the style.css file.

[2021-12-08 04:34] noisysocks commented on #36589
I opened https://github.com/WordPress/gutenberg/pull/37212 which does just this.

[2021-12-08 04:47] chthonic-ds commented on #37211
Good news, this is already supported:

![slash-heading-variation](https://user-images.githubusercontent.com/29587253/145149803-00e70d16-2121-4b00-910a-ec8bb619e3c3.gif)

[2021-12-08 04:59] noisysocks commented on #36827
I've opened https://github.com/WordPress/gutenberg/pull/37213 which does this.

While tinkering with it I realised that fixing https://github.com/WordPress/gutenberg/issues/36141 will also help here.

[2021-12-08 04:59] noisysocks commented on #36141
On tall viewports the height of the canvas is always too great. Would be good if we can make the canvas resize down to the intrinsic content size.

[2021-12-08 05:01] hlashbrooke commented on #37211
Ah! It wasn't there last time I tried it, but this is great - thanks!

[2021-12-08 05:01] #37211 closed, assigned to nobody

[2021-12-08 05:05] noisysocks commented on #36788
Noting here that this is very possibly the same issue as https://github.com/WordPress/gutenberg/issues/36937.

[2021-12-08 05:57] talldan commented on #36919
@olafleur-godaddy I think this is referring to the fix that could be made in Gutenberg. That the changes in #36605 could only apply to the default version of the appender and not other appenders.

@youknowriad can correct me if I'm wrong.

[2021-12-08 07:17] JoshuaLindquist commented on #33581
Will this be fixed before block themes are released in January? I have been trying to use the Query Loop block to update pages; I wanted to remove some custom solutions and use the built-in Gutenberg tools, but I _immediately_ ran into this problem. Filtering a query by a tag seems like a common scenario, and right now it does not work on a medium-sized site.

[2021-12-08 08:43] jasmussen commented on #36977
Outside of completely disabling the "show toolbar below block" feature, is it possible to add an edgebuffer so it only activates when the block is most literally touching the top edge? For example for header template parts?

[2021-12-08 08:46] talldan commented on #36977
I don't think many would do that because the toolbar has always been above the block.

[2021-12-08 09:12] #36589 closed, assigned to noisysocks

[2021-12-08 09:26] aaronrobertshaw commented on #37188
A WIP in progress fix is up in https://github.com/WordPress/gutenberg/pull/37216. I've run out of time today but will continue on this tomorrow.

[2021-12-08 09:53] Soean commented on #37194
@slewisma Can you elaborate on the exact requirements or issues?

[2021-12-08 10:20] manooweb commented on #36616
Tested and OK for me See https://github.com/WordPress/gutenberg/pull/36950#issuecomment-988660746

[2021-12-08 10:51] markhowellsmead commented on #34867
Same here, appears everywhere in the block editor when copying/pasting. Appears to be <s>resolved</s> in discussion by #36356.

[2021-12-08 10:55] mtias commented on #37202
Yes, this style is largely obsolete and we can likely just remove it from the UI (keeping the class styles in place for back compat).

[2021-12-08 11:00] jameskoster opened #37220 "Make it possible to edit template part properties in focus mode"
When a template part is selected in the template editing view it's possible to edit its properties like `area` in the Advanced panel:

<img width="1388" alt="Screenshot 2021-12-08 at 10 57 27" src="https://user-images.githubusercontent.com/846565/145196844-74d88ced-0ecc-4ff3-939b-689f47748efd.png">

It should also be possible to manage these properties whilst editing a tempalte part in focus mode.

[2021-12-08 11:30] #36955 closed, assigned to Mamaduka

[2021-12-08 11:52] #37138 closed, assigned to nobody

[2021-12-08 11:53] adamziel commented on #37190
I took that screenshot before you removed it 😅

[2021-12-08 11:57] priethor commented on #37075
I agree! Let's aim for Beta 3 on December 14th so that we still have the optional Beta 4 as a buffer before RC. If that feels too rushed with #36488, we could still ship it in Gutenberg 12.2 on December 15th and test it for a few days before Beta 4 on December 21st.

[2021-12-08 11:59] #36824 closed, assigned to nobody

[2021-12-08 12:47] ntsekouras commented on #37172
Thanks for reporting @jeyip ! I'm looking at it and will have a PR soon hopefully 😄

[2021-12-08 13:18] kjellr opened #37222 "Improve treatment of the "Template Part Not Found" message"
When there's an error with a theme's template part, the site displays a message like this:

<img width="953" alt="Screen Shot 2021-12-08 at 8 12 42 AM" src="https://user-images.githubusercontent.com/1202812/145214276-1ac6fdb4-7aaf-413b-81ef-29daaa6cd2d3.png">

This is helpful for development, but it's also a very confusing thing to show to users. Can we adjust this so that it fails more gracefully

[2021-12-08 13:36] steveangstrom commented on #37179
while we wait for a broad ranging solution to this - the best hacky workaround is to base something on this strategy:

[code]

it's as elegant as a lump hammer, but it does hide the problem until there's a real solution

[2021-12-08 14:24] paaljoachim commented on #29398
One very tricky thing going on here is the almost duplication of the Preview control from the Post Editor. Users will come to the Site Editor see the similar Preview control and believe it functions in the same way, and wonder what is wrong when the Preview in a new tab link is not seen.

I am thinking that we need to create a stronger diffraction between the Preview drop down in the Post Editor v

[2021-12-08 14:33] ndiego commented on #36860
Yes, I agree with @paaljoachim. The lack of an Add New button is a bit disorienting and would be a huge add if it can be included in 5.9.

[2021-12-08 14:52] Andrew-Starr opened #37225 "Theme unable to redefine default colors, e.g. black and white"
### Description

If we want to remove the default colors, we can do so with `settings.color.defaultPalette` : `false` in the `theme.json`

But, if we want to still have access to the `black` or `white` colors for example by including these in the theme's color palette, they are not available as of https://github.com/WordPress/gutenberg/pull/36811

I don't quite understand the reasoning behind bloc

[2021-12-08 14:58] kevin940726 commented on #36860
Pinging @priethor, @noisysocks, and @youknowriad for whether or not to include this in 5.9. (I have no idea how this feature works though 😅 )

[2021-12-08 14:59] Andrew-Starr commented on #37225
Never mind, I found this will be addressed in https://github.com/WordPress/gutenberg/pull/37008

So easy to miss issues/PRs when searching! Will close this as not needed.

[2021-12-08 14:59] #37225 closed, assigned to nobody

[2021-12-08 15:07] jffng commented on #37156
Thanks @carolinan @mkaz , I updated the issue title to clarify the issue is with theme directory vs name.

[2021-12-08 15:07] Mamaduka commented on #36860
I think it could be similar to how we handle it in `PostTemplateActions` - https://github.com/WordPress/gutenberg/blob/trunk/packages/edit-post/src/components/sidebar/template/actions.js#L64-L118

[2021-12-08 15:39] dcalhoun opened #37227 "Modifying Cover block overlay color removes the color entirely"
## Description
When modifying the overlay color for a Cover block, the selected color or gradient is not correctly applied. Instead, the color is removed entirely. Additionally, when selecting a gradient and navigating backwards, the Cover block settings renders an empty bottom sheet with no visible controls.

This may be related to https://github.com/WordPress/gutenberg/pull/36841 or  https://git

[2021-12-08 15:42] slewisma commented on #37194
Not sure where my original comments went.

The issue is that the excerpt function includes whatever it finds in the first n words whether that content comes from a text oriented block (good) or not (bad). So, for example if the first block in a blog post is a YouTube block, the excerpt ends up showing the URL in plain text which doesn't look good and may be confusing to some visitors.

If the YouT

[2021-12-08 15:48] kebbet opened #37228 "Gutenberg textdomain in WordPress 5.9 beta 2."
### Description

Multiple instanses of the incorrect textdomain 'gutenberg' in core now. Why so ignorant attitude, not the first time this happens?

https://github.com/kebbet/wordpress-develop/blob/0cab817ba4ec57224c3e7048dbe57478851ca813/src/wp-includes/blocks/navigation-submenu.php#L229
https://github.com/kebbet/wordpress-develop/blob/0cab817ba4ec57224c3e7048dbe57478851ca813/src/wp-includes/bloc

[2021-12-08 16:12] dcalhoun commented on #37227
From a `git bisect`, it appears this regression may have been introduced with https://github.com/WordPress/gutenberg/pull/36841.