[2022-11-21 09:49] pietschker commented on #45920
Ah, I see. Thanks for the heads-up! It does not explain why the existing anchors vanished, but it does not matter for me any more - they are gone anyway (and repaired, by no).

Kind regards,
Lutz

[2022-11-21 09:50] youknowriad commented on #45884
@getdave yes, you're understanding correctly.

Looping over blocks is how the global styles already work so it didn't prove problematic so far but It's not ideal in terms of performance and code quality.

[2022-11-21 09:51] chrisrhymes commented on #43110
Just wondering if you can you override the `.has-background` class styles in the theme.json? This way, theme developers can decide if they want the `.has-background` class to add padding or not, as well as adjust the values.

[2022-11-21 10:39] Andrew-Starr opened #45938 "Content missing from first post in Query Loop in custom template."
### Description

When creating a custom template containing a Query Loop, the Post Content of the the first post in the loop is missing when viewed on the front end.

Issue reported in TT2 support forum: https://wordpress.org/support/topic/editor-template-blogs-first-content-missed/

### Step-by-step reproduction instructions

Add a new “Custom Template”.
Insert a Query Loop block, make sure “Inhe

[2022-11-21 10:56] jasmussen commented on #24957
Definitely a classic pattern. I like to think that at the moment, in-editor icon support is sparse and unrefined — you can choose one different alternative for menus, but that's it. Adding iconography across blocks is a valid enhancement, but one that probably needs a lot of careful thought, technical and designwise.

[2022-11-21 11:07] jasmussen commented on #43412
I updated the issue to include that mockup, Jay!

[2022-11-21 11:27] mtias commented on #40450
@jameskoster I think this could work, but how would it display the parent block? That's one of the main things this needs to address. Also we might need a way to dismiss the selection and get to the list view / undo redo tools from the toolbar itself. What if the [+] becomes a [<], for example? (or some other collapse icon)

[2022-11-21 12:13] ciampo commented on #45390
We don't have yet a precise timeline, but as of now we're hoping to start work on this sooner than later (cc'ing @ramonjd @talldan as we recently spoke about who potentially could work on the `TabPanel` refactor to `ariakit`)

As it often happens, this is mostly a matter of assigning resources and prioritization — time spent on `TabPanel` is time that is not spent on another part of the project.

[2022-11-21 12:36] ciampo commented on #45884
Just to bring some clarity on how `Navigator` works at the moment, and to recap together a few conversations that happened rencently:

Currently `Navigator` ’s logic is quite simple — the component was meant to be used in a scenario in which:
- all possible `NavigatorScreen`s are rendered as children of `NavigatorProvider`
- the stack can be manipulated by pushing (ie navigate to next location) or

[2022-11-21 12:38] oandregal commented on #45811
I tested this WordPress nightly and WordPress 6.1.1, both with and without Gutenberg `trunk` active. I was unable to reproduce and don't see any difference.

[2022-11-21 12:51] scruffian commented on #44659
I believe `&:hover,&:focus,&:active,&:visited` were removed in https://github.com/WordPress/gutenberg/pull/43553. @jasmussen do you think this is worth reconsidering?

[2022-11-21 12:58] #45788 closed, assigned to mikachan

[2022-11-21 13:17] afercia commented on #45903
Thank you @t-hamano
Closing as duplicate of https://github.com/WordPress/gutenberg/issues/42652.

[2022-11-21 13:17] #45903 closed, assigned to nobody

[2022-11-21 13:23] afercia commented on #42652
See also the reproduction instructions on https://github.com/WordPress/gutenberg/issues/45903, closed as duplicate of this issue.

I'd like to highlight that this isn't a browser bug. The current implementation is just relying on the fact that a native browser behavior occurs with some timing that isn't predictable. As such, the change implemented in https://github.com/WordPress/gutenberg/pull/348

[2022-11-21 13:23] jameskoster commented on #40450
Then you wouldn't be able to open the Inserter (keyboard aside) when a block is selected, which could be a can of worms?

I find that clicking in empty space to deselect is a good heuristic, both in the canvas and in empty regions of the UI. There's also the `esc` behaviour to fall back on.

As for the parent selector, it's probably just an exercise in finding the right separator. Some of the exam

[2022-11-21 13:32] mtias commented on #40450
To clarify, the [<] wouldn't unselect a block, just show the higher level tools.

[2022-11-21 13:35] youknowriad commented on #45884
How is this different than a `navigator.goTo` ? I feel there's something I missing here :)

[2022-11-21 13:47] ciampo commented on #45884
From what I understood, going from a block's controls to its parent block's controls is conceptually represented as a _back_ navigation, which implies that the screen representing the parent block is the previous one in the history stack — and therefore we'd need to "prepopulate" `Navigator`'s history with a list of location objects mapping all parent blocks, so that navigating `back` goes to the

[2022-11-21 13:51] youknowriad commented on #45884
I guess that's true but can we solve this by just making the navigator a bit more smart. Meaning that going from a path that looks like `/block/something` into `/block/something/blabla` is going forward but going to `/block` is going back.

[2022-11-21 13:54] youknowriad commented on #45884
Also, why is it important to differentiate between going back and going forward? I guess it's just for the animation right?

There's also a difference between:

 - go back: that means go to parent (which is what is is now I think in the navigator)
 - go back: that means go to the previous route (which is how the browser history works)

In other words, maybe "going back" for the navigator as implem

[2022-11-21 13:54] alexstine commented on #45390
@ciampo Can we just re-open #45411 and go from there?

Thanks.

[2022-11-21 14:15] jasmussen commented on #44659
It would be ideal if we didn't reintroduce that hardcoded white, the fewer such styles, the better. If need be, we could put it in `/wp-includes/css/classic-themes.min.css` perhaps? The tricky bit here is that the pseudo styles appear unable to inherit from their main element.

[2022-11-21 14:21] scruffian commented on #44659
Maybe the best thing is to ask themes that are experiencing issues to add their own styles for this, if not too many are impacted?

[2022-11-21 14:25] scruffian commented on #45452
Love it! I think we can close this in favour of #45371.

[2022-11-21 14:25] #45452 closed, assigned to nobody

[2022-11-21 14:54] RolfKyburz commented on #45919
@sunil25393, sorry, I don't have the resources to do what you suggest — however, now may have the essential clue for what is happening. I can indeed insert a list, select the list block, and delete it — and there are no traces. What happened here is that I am working with templates with lists that were created in WP versions **older than 6.1.1**, where **list blocks were structured entirely differ

[2022-11-21 15:29] geriux commented on #40540
So I took some time to investigate this as I wanted to try Appium 2 and it requires npm `8`.

It looks like the `npm ERR! Tracker "idealTree:inflate:" already exists` issue was related to [this bug](https://github.com/npm/cli/pull/4300), which was addressed and merged.

I think by the time this effort was initiated, it didn't have the updated version of `@npmcli/arborist` in [8.1.1](https://github

[2022-11-21 16:00] dimasoho commented on #32644
+1 NEGATIVE MARGINS MUST GO ON!!

[2022-11-21 16:20] getdave commented on #45445
@ajlende Status update: I continued working on your PR to add the necessarily functionality but it started getting unwieldy pretty quickly.

I spoken with @scruffian and decided to also explore a simpler approach using the standard inserter from the canvas.

So we have x2 PRs that are variations on the same effort:

- https://github.com/WordPress/gutenberg/pull/4590
- https://github.com/WordPress/

[2022-11-21 16:57] ciampo opened #45949 "`NumberControl`: introduce `string` as a type for the `value` prop"
The `value` prop in `NumberControl` hasn't been yet typed, since it sits in a difficult spot: should it be a `number` or a `string` ?

After debating, we reached the conclusion that it should be a `string`:

- native HTML `input` elements deal with strings, afterall;
- controlled components usually pass `''` to represent an empty value (they can't pass `undefined`, since that would make the compon

[2022-11-21 17:31] javierarce commented on #44420
Here's a first idea for this functionality:

https://user-images.githubusercontent.com/4933/203119122-b1dbebea-32f7-458d-ac18-78dcb095b1ca.mov

- The functionality could be called "style book" (typographers usually call this type of guide Specimen book, but that's a name too obscure to use)
- I'm not sure what's the best placement to invoke this functionality from, but I considered several places

[2022-11-21 17:44] ciampo commented on #45884
Currently there is a difference between going back and forward, related to the fact that the `location` history data is internally represented as a [stack](https://en.wikipedia.org/wiki/Stack_(abstract_data_type)) — in that sense, this resembles the browser history:

- `goTo` pushes a new `location` to the top of the history stack
- `goBack` pops the current `location` away from the top of the sta

[2022-11-21 18:04] MaggieCabrera opened #45951 "[Navigation Block] Experiment: Change focus when we edit a menu item to the correct tab"
### Description

When we are editing a menu item, we want the focus to be on the Settings tab instead of the Appearances one, since we are expecting to edit content before styling.

### Step-by-step reproduction instructions

Turn on the Gutenberg experiments _Off canvas navigation_ editor and _Block inspector tabs_
Edit a link on the navigation block

### Screenshots, screen recording, code snipp

[2022-11-21 18:07] MaggieCabrera opened #45952 "[Navigation Block] Experiment: Add Text input to the sidebar when we edit a link menu item"
When we edit a link in the navigation block, the text of the link can only be edited in the canvas. We have options to change the rest of the attributes of the link on the sidebar, we should add the text too.

![Screen Capture on 2022-11-21 at 18-59-55](https://user-images.githubusercontent.com/3593343/203128596-c108386c-c09d-438c-bb22-70b65afa1add.gif)

[2022-11-21 18:07] MikeiLL opened #45953 "wp-env: Could not connect to debugging client and !defined( 'ABSPATH' ) in plugin"
### Description

Apologies if this isn't the right forum for this question.

Running VS Code's XDebug, plugin fails on core wordpress methods like `plugin_dir_path`. If I add `!defined( 'ABSPATH' )`, it comes up as True, and in the logs seeing a notice:

[code]

Using version `5.4.0` of wp-env and just updated Docker to `3.6.0`.

### Step-by-step reproduction instructions

1. go to my_plugin direc

[2022-11-21 18:16] stokesman commented on #45613
Screen recording demonstrating that `contentOnly` is a greater level of locking than `all`:

https://user-images.githubusercontent.com/9000376/203128593-a56090ab-6e00-4180-b3ff-c873315dce1a.mp4

If anyone cares to try it for themselves here’s the code for the block demo'd in the recording:
<details><summary>A snippet that can be pasted into the console that registers a block with a template and co

[2022-11-21 18:20] DAreRodz commented on #45713
Hi, this [question](https://wordpress.org/support/topic/gallery-blocks-show-vertical/) reported in the support forums seems to be also related.

The user has mentioned using the theme [Hestia](https://wordpress.org/themes/hestia/). Looking at the theme's code, I can't find where it could be "opting out" from base layout styles (neither [`'disable-layout-styles'`](https://developer.wordpress.org/bl

[2022-11-21 19:43] ellenbauer commented on #44581
I really like this. I wonder if it could even be extended to entire templates? E.g. if we have an About page and the user can shuffle the patterns to show variations?

We could create a similar result like AI tools are exploring (like durable.co) but with a bit of curation from the theme/pattern builder. Is this something this is explored already?

If we could define the patterns more precisely, f

[2022-11-21 20:34] richtabor commented on #34757
Agreed.

[2022-11-21 22:15] kathrynwp opened #45954 "Style variations overlays missing"
### Description

When visiting Style variations in any block theme, the overlay with the variation name (and a few other tidbits) is missing.

### Step-by-step reproduction instructions

Unfortunately I realize this issue isn't being experienced by many people, so these steps probably won't trigger the issue for those testing. Nonetheless, here they are:

1. Activate a block theme like Twenty Twen

[2022-11-21 22:44] noisysocks commented on #45613
Aha, thanks :)

Curious what @WordPress/gutenberg-core thinks. If we're going to clarify this API best to do so now before it's too late.

[2022-11-21 23:12] noisysocks commented on #45271
Ah sorry, all yours then. I'll assign you so that it doesn't appear unclaimed in https://github.com/orgs/WordPress/projects/56.

[2022-11-21 23:49] noisysocks commented on #44420
I can work on this.

In my mind the style book would be powered via the existing `example` content that each block specifies and so modifying the content isn't allowed. Clicking on a block would open up the appropriate panel in Global Styles, not select the block or insert a cursor.

The simplest thing to do I think is to completely mirror the block inserter. Whatever categories appear in the bloc

[2022-11-22 01:13] carolinan commented on #34757
It is now implemented in the PR. But it is the opposite of how the excerpt length filter works in WP Core.

[2022-11-22 01:51] smerriman opened #45956 "Page template selector broken in two ways"
### Description

I use themes which have *not* opted into full-site editing, but have page templates enabled via comments in the theme code:

[code]

Error 1: When a page is edited, 'Default template' always shows in the sidebar, whichever template the page uses. If you click it, you see a popup with a select box, where the correct page template shows. Changing this dropdown and saving does update

[2022-11-22 02:35] talldan commented on #45613
That's a great point about it being a stronger level of locking. That's nuance that's easily missed.

Around the idea of separate properties, a question is would you ever have `templateLock` set to `false` along with `editable: 'content'`? Being able to set `templateLock` to its own value probably contradicts the purpose of `contentOnly`, so I think that's a reasonable argument for making it part

[2022-11-22 04:43] stellarwebworks opened #45959 "Add hyperlink to Column and Group blocks"
## What problem does this address?
There is currently no way to wrap a link around a group of elements. This is a very common requirement, e.g. a 'card' that could contain paragraphs, headings, images but the whole card needs to be linked to something, not just the internal elements.

## What is your proposed solution?
Add a link button on Group and Column blocks so that the whole group or column

[2022-11-22 05:20] talldan commented on #45390
I'd like to do this, as there seem to be lots of problems with TabPanel. It is unfortunately fairly low on my list atm. It might be two to three weeks before I can work on it again, sorry to get your hopes up! If anyone else wants to take a look at it, I'm happy to support that with reviews.

[2022-11-22 07:12] ntsekouras commented on #45390
Unfortunately that PR wasn't implementing what we wanted to, so there is no prior art for solving this in GB..

[2022-11-22 09:41] dsas commented on #45858
Seems reasonable @richtabor, pages are definitely not as clear cut as posts. I can definitely see why people would want to create the whole page in the editor, rather than create a one-off template and then a one-off page to use that template.

[2022-11-22 09:44] devanshijoshi9 commented on #45381
@t-hamano Thank you for the quick response.

I have created PR for this issue -> https://github.com/WordPress/gutenberg/pull/45962

[2022-11-22 09:47] jameskoster commented on #40450
Yes I suppose that could work:

https://user-images.githubusercontent.com/846565/203281416-1048d3a4-5626-4744-ba67-dc5e376b42e0.mp4

There' a question about how you get _back_ to the block toolbar, but clicking the block again seems fairly intuitive.

[2022-11-22 09:51] talldan commented on #45934
You should be able to use an API like `wp.data.dispatch( 'core/block-editor' ).replaceBlock`.

The docs are here - https://developer.wordpress.org/block-editor/reference-guides/data/data-core-block-editor/#replaceblock.

[2022-11-22 10:00] jameskoster commented on #44581
A key principle of the shuffle mechanic is that the constituent content blocks remain the same every time. In that light I feel it's best suited to smaller patterns. That's not to say your suggestion isn't a good one, it is! But it feels like something we can explore more as a part of the page / template creation flows. You may be interested in https://github.com/WordPress/gutenberg/issues/42325 w

[2022-11-22 10:02] carolinan commented on #44420
Follow up on that, is there a list of blocks that needs examples added?

[2022-11-22 10:03] spacedmonkey commented on #45171
Created a PR for allowing developers to pass stylesheet to the wp_theme_has_theme_json function. This is a needed changed, as their are already multiple places in core where this is required. Sadly, this required a refactor of cache invalidation. But I think I got it working well.

[2022-11-22 10:13] #44615 closed, assigned to artemiomorales

[2022-11-22 10:43] jameskoster commented on #44420
+1.

@javierarce I'm not sure about the switch – with this appearance it kind of looks like a setting. An alternative idea (feel free to disregard) could be to have the document title + Style Book act as tabs when the Styles panel is open:

<img width="876" alt="Screenshot 2022-11-22 at 10 27 35" src="https://user-images.githubusercontent.com/846565/203291075-a6c4e58a-e1af-4eeb-acdf-36391ed20eef.p

[2022-11-22 10:46] iamtakashi commented on #45788
Thank you, @mikachan!

[2022-11-22 10:49] ockham opened #45965 "Child themes should inherit style variations"
## What problem does this address?

When creating a child theme for an existing block theme that has style variations (such as Twenty Twenty Three), the child theme will currently _not_ include those style variations. If the child theme author wishes to have them included, they will have to manually copy the parent theme's `styles/` folder.

First reported in WP.org support forums [here](https://w

[2022-11-22 10:51] MaggieCabrera commented on #45965
/cc @WordPress/block-themers for discussion on this issue

[2022-11-22 11:26] scruffian commented on #45965
I agree that they should be inherited.

[2022-11-22 11:27] javierarce commented on #44420
Thanks! That would definitely solve the issue with the back button… my only doubt is how to render the different states when you have an area selected so that it's clear that you can switch between modes:

![image](https://user-images.githubusercontent.com/4933/203299487-8007ce44-ec67-4b6a-80fd-91e8030d787e.png)

I discarded that idea because it would make it difficult to see which tab is selected

[2022-11-22 11:29] oandregal commented on #45613
For reference, the names considered/used at some point:

- `content`: original proposal
- `noContent`: name after [this conversation](https://github.com/WordPress/gutenberg/pull/43037#discussion_r950131396)
- `contentOnly`: name [after testing](https://github.com/WordPress/gutenberg/pull/43037#issuecomment-1245544763)

In essence, the thing I struggle the most with any of the names proposed so far

[2022-11-22 11:42] javierarce commented on #44420
Maybe instead of tabs it could be a button that launches this special view 🤔

https://user-images.githubusercontent.com/4933/203305207-7957c509-fd23-4a4a-b818-606db647ac59.mov

[2022-11-22 11:49] oandregal commented on #45171
I want to give visibility to [this conversation](https://github.com/WordPress/gutenberg/pull/45831/files#r1029225791) about performance. Whether/When or not to use `wp_get_theme`. I need more clarity about direction: we are [removing it](https://github.com/WordPress/gutenberg/pull/45770) from some places because it's an expensive operation, and propose to add it to a [few](https://github.com/WordP

[2022-11-22 12:09] jasmussen commented on #44357
Based on some of the conversations in #45056 I wanted to quickly take a stab at some slightly weaked visuals, to see if there was some simplification to be found. Here's a version with vertical bars only, and the width texts appear as tooltips if you pause for a second or two:
<img width="7440" alt="Only vertical bars, tooltip if you pause" src="https://user-images.githubusercontent.com/1204802/20

[2022-11-22 12:14] #45856 closed, assigned to nobody

[2022-11-22 12:20] oandregal commented on #45912
My main concern is what the developer experience is like. I'd recommend against using a filter for this reason, as it requires people to write a callback to the hook. In comparison, setting a constant is a widespread practice: it just works out of the box.

The second question is whether we should use `WP_DEBUG` or `WP_ENVIRONMENT_TYPE` or a specific one.

- I lean towards not creating more things

[2022-11-22 12:24] ricjcs commented on #41781
I believe an option to choose the number of columns would be best. For example an 8 column gallery for desktop version would probably not look good on the phone.

[2022-11-22 12:25] spacedmonkey commented on #45912
Massive +1 to this. Is really bad to use `WP_DEBUG` here. Debug flag is that, a debug mode. Not this is designed to denote if you are in a local environment or in development mode. The big issue is, when profiling and debugging, I am unable to see what happens on production. If I want to debug an issue with the `WP_DEBUG` set to true, I can't because this code willl not let it work.

I vote for ei

[2022-11-22 12:45] spacedmonkey commented on #45171
I am not sure what you mean here by hotpath. This is not a common term. I am guessing what you mean here, is a path to a code that is executed a lot.

To be clear, spinning up a whole `WP_Theme` object on a "hotpath", is wasteful. 99% of the time, you only need the stylesheet, which you can get from `get_stylesheet`. So removing it in those instances, saves compute, speeding the page up.

As for a

[2022-11-22 12:48] RolfKyburz commented on #45919
Hmmm ... it's not as easy as I thought. I see that in WP 6.1.1, old style lists are automatically converted to the "split block" scheme. I may have found what the problem is: in my templates, I often have a list with one placeholder item in it. Up to WP 6.1, I could simply place my cursor on that placeholder item and use Ctrl-Alt-Z to remove the list. With WP 6.1.1, this simple removes the **list

[2022-11-22 12:49] tyxla commented on #12907
@khoipro could I ask you to send me a thorough list of all the accented characters?

My initial research shows that there are a bunch of different combinations of diacritics in every single character and I want to make sure I'm not missing any. Thanks in advance!

[2022-11-22 13:15] jameskoster commented on #44420
My thinking was that since the focus shifts to styles, things like block selection and document meta/actions can take a back seat. That's why I removed the chevron. Maybe there are other appearance options to explore 🤔

One other consideration here is mobile, where it's not possible to view the canvas and the styles panel simultaneously. _Should_ it be possible to invoke the Style Book in that con

[2022-11-22 13:30] jameskoster commented on #44357
Showing the labels situationally seems like a good idea.

Would the first concept work if the lines were full-height, and thinner, so that they appear more like guides? In that design I don't suppose we really need the guides for full width :)

[2022-11-22 13:34] jasmussen commented on #44357
Maybe, yes. It might also work better for scaling _down_, i.e. "half width" or something, which might then snap to 50% width input with auto height in the dimensions control 🤔

[2022-11-22 13:56] oandregal commented on #45171
I'm extracting small PRs from the PR to bring object cache to the settings object, so we can fast-track them and land changes iteratively:

- https://github.com/WordPress/gutenberg/pull/45969
- https://github.com/WordPress/gutenberg/pull/45971

[2022-11-22 14:03] bph commented on #44496
My immediate question to seeing the mockups in this PR is what happens to the tabs when there are reusable blocks on the site? I guess, I got myself a test case for this PR. 😉
Looking at the current screenshot, it feels quite cramped.
<img width="362" alt="Screenshot 2022-11-22 at 9 01 52 AM" src="https://user-images.githubusercontent.com/39980/203333490-634e82a6-1312-44a4-a4e7-edf9a38c5fe3.png">

[2022-11-22 14:06] jasmussen commented on #44496
@bph the solution we've gone with for now makes reusable blocks into an icon, [it's working fairly well](https://github.com/WordPress/gutenberg/pull/44918#issuecomment-1323365481) IMO.

[2022-11-22 14:11] Mamaduka commented on #45582
Thanks for contributing, @tenman!

I think this is a duplicate of #38668. I will close it as duplicate, so please subscribe to the original issue report.

[2022-11-22 14:11] #45582 closed, assigned to nobody

[2022-11-22 14:14] bph commented on #44496
<img width="466" alt="Screenshot 2022-11-22 at 9 15 42 AM" src="https://user-images.githubusercontent.com/39980/203336582-fe1cb64f-a791-41d5-8f40-4988b6b4b5c6.png">

Yes, very nice. In theory. It will need at least a tool tip of some sort. When a user has to switch from reading tab labels to inferring things from an icon, that increase the cognitive load and adds to interruption of the workflow.

[2022-11-22 14:17] Mamaduka commented on #45664
Thanks for contributing, @Julianoe!

I was able to reproduce the issue during today's bug scrub. Therefore, I'm going to remove the "Needs Testing" label.

[2022-11-22 14:18] mizukimadness opened #45972 "Restricting blocks that can be used in a block pattern"
When creating Block Patterns via the Gutenberg Editor, it's possible to lock the layout, preventing new blocks from being added.
However - it would be nice if it was possible to allow what blocks can be added, when adding the Block Pattern to a page. For example, if I prepare a two column layout for a client, I would prefer to restrict what blocks can be added into these columns. For example, only

[2022-11-22 14:22] afercia opened #45973 "Inserter Constrained tabbing doesn't work in Edit mode"
### Description

Likely broke in https://github.com/WordPress/gutenberg/pull/32824

The main block inserter is supposed to constrain tabbing with the Tab key within it. However, tabbing is not constrained when the editor is in 'Edit' mode. It only works when the editor is in 'Select' mode.

Note: I think this is not limited to the inserter and potentially affects any component with constrained tab

[2022-11-22 14:32] Mamaduka commented on #45928
@ciampo, @mirka, do you know if this is a regression with the `ColorPalette` component?

[2022-11-22 14:32] jasmussen commented on #44496
It does have a tooltip 👍 👍

[2022-11-22 14:44] spacedmonkey commented on #45171
Related: https://github.com/WordPress/wordpress-develop/pull/3624

[2022-11-22 15:16] ockham commented on #45713
Another instance of this issue reported [here](https://wordpress.org/support/topic/gallery-block-images-are-stacking-instead-of-gallery/).

[2022-11-22 15:30] afercia commented on #45973
NoteL
- This can be reproduced also in the edit-widgets editor.
- Instead, the issue doesn't occur in the Site editor because, to my understanding, the Site Editor doesn't use `WritingFlow`.

[2022-11-22 15:41] petitphp commented on #45956
This issue could be a duplicate of https://github.com/WordPress/gutenberg/issues/45216

[2022-11-22 15:47] afercia opened #45974 "The main inserter has a visually hidden 'Close' button that shows only its tooltip on focus"
### Description

Noticed while debugging https://github.com/WordPress/gutenberg/issues/45973

When tabbing through the elements within the main block Inserter, at some point focus goes to a visually hidden 'Close block inserter' button. The button is visually hidden but it still shows its tooltip on focus:

<img width="426" alt="Screenshot 2022-11-22 at 15 57 24" src="https://user-images.githubuse

[2022-11-22 15:58] mirka commented on #45928
Yes, looks like this regressed in the recent TypeScript migration. We should add a test for this.

https://github.com/WordPress/gutenberg/blob/d7e3cc12afac33be0b5b6eb9c85a27506cab4e5d/packages/components/src/color-palette/index.tsx#L87-L89

Thanks for reporting, @xconsau!

[2022-11-22 16:16] felixarntz commented on #45912
@oandregal

You can set a constant based on my proposal. My proposal is to use an approach that caters for both simplicity and flexibility: Feel free to use a constant if that's sufficient for your use-case, or use a filter if you need a more dynamic approach. The constant would define what is the _default value_ for the filter.

FWIW, writing a callback is not necessary if you want to use the fil

[2022-11-22 16:19] #43914 closed, assigned to mmtr

[2022-11-22 16:22] georgeh commented on #45442
@getdave I'm reopening this one to focus on the convert-to-links modal

[2022-11-22 16:28] oandregal commented on #45171
https://github.com/WordPress/gutenberg/pull/45679 has been merged.

[2022-11-22 17:40] felixarntz commented on #41783
Fixed via #45534.

To follow the wider-reaching WP core fix, please follow along https://core.trac.wordpress.org/ticket/56930.

[2022-11-22 17:40] #41783 closed, assigned to nobody

[2022-11-22 18:05] mgurtzweiler commented on #3144
It is disappointing and makes for some difficulties running a large publishing site on WordPress. We keep running into issues with floating publish dates not being respected (even know its an option on the register function https://developer.wordpress.org/reference/functions/register_post_status/) so posts end up being published in the past as the Publish Date gets set when a post is moved to a cu

[2022-11-22 18:11] getdave commented on #45442
Sounds good. Thanks 🙇 Any ideas yet on what specifically will you tackle and in what order?

[2022-11-22 18:40] ionutcalara commented on #45934
Yes, it does; I will try this out, and if I have any other questions, I will reopen the issue. Thank you for the help @talldan

[2022-11-22 18:40] #45934 closed, assigned to nobody

[2022-11-22 19:57] oandregal commented on #45912
So, if I understand correctly, your current view is that we should do `wp_theme_json_cache_enabed` and its implementation would be something along the lines of:

[code]

Does that sound about right?

I don't see anything that would qualify as a blocker, though my main question is: why? Why do we need this special setup for the caches related to `theme.json` and not for the other caches core uses?

[2022-11-22 21:05] ofadam opened #45977 "Disabling separation block breaks pasting text with repeated undescores"
### Description

When separation blocks are disabled and you try to paste text that contains repeated underscore characters on a new line, nothing is pasted.

### Step-by-step reproduction instructions

1. Disable embed blocks. (to make it easy to reproduce, only allow the paragraph block)
[code]

2. Create a new page and try to paste the text:
[code]

### Screenshots, screen recording, code snipp

[2022-11-22 21:07] kathrynwp commented on #45907
Hi @mrleemon - given Carolina's clarification above, let me know if you still see this issue as valid or if it should be closed. Thanks!

[2022-11-22 21:14] scruffian commented on #45952
Closed by #45964

[2022-11-22 21:14] #45952 closed, assigned to nobody

[2022-11-22 21:16] ocean90 opened #45978 "Disable post meta/term cache updating in WP_Theme_JSON_Resolver::get_user_data_from_wp_global_styles()"
### Description

Initially started in https://github.com/WordPress/wordpress-develop/pull/3655.

The method currently returns a full WP_Post array while later only the ID and post_content fields are used. That's causing a lot of unnecessary overhead.

To fix this the WP_Query should be updated to disable `update_post_meta_cache` and `update_post_term_cache`. Also, any `get_post( $x, ARRAY_A );` ca

[2022-11-22 21:34] TeachMeHowToUse2FA opened #45980 "Error in the post-author block when you turn off avatars"
### Description

When you turn off avatars globally on the Wordpress site through the settings - the block is no longer displayed in the editor.

Error in console: `TypeError: undefined is not an object (evaluating 'Object.keys(c.avatar_urls)')`

### Step-by-step reproduction instructions

1. Disable avatars view in Wordpress Settings.
2. Open or create new post. Add post-author block

### Screens

[2022-11-22 21:42] felixarntz commented on #45912
@oandregal

Correct, something like that is what I am proposing.

Because the cache around `theme.json` is different from any cache that exists in WordPress core today: It is a cache around logic, which is controlled by code. Pretty much all object cache usage in core today is around database queries (or rather their results). There is a big difference in how these two cases need to be handled to

[2022-11-22 22:25] oandregal commented on #45912
Interesting point, thanks for clarifying.

I went to look at another place I know that caches data coming from files and not database: `WP_Theme`. What I [found](https://github.com/WordPress/wordpress-develop/blob/trunk/src/wp-includes/class-wp-theme.php#L225) is interesting: it uses a filter (but no constant) to decide whether the cache should be persistent across requests or not. There may be mo

[2022-11-22 23:08] #45907 closed, assigned to nobody

[2022-11-22 23:08] noisysocks commented on #44420
I think I would miss the Style Book button if it were in the editor toolbar because I'd be looking at the Global Styles panel in order to complete my task of "change the styles".

[2022-11-22 23:30] felixarntz commented on #45912
@oandregal That's interesting indeed - also that the persistent caching there is off by default. It looks like another use-case than what we're doing around `theme.json`, but worth investigating further.

For reference, this was introduced a very long time ago in https://core.trac.wordpress.org/changeset/20020, as part of https://core.trac.wordpress.org/ticket/20103. Unfortunately no information p

[2022-11-22 23:45] ramonjd commented on #44361
I'm having a look at this for now until it gets too hard or I run out of time 😄

[2022-11-23 00:03] #36989 closed, assigned to talldan

[2022-11-23 00:12] priethor commented on #33094
### November 22th Update
As a reminder, here's what each symbol means. The symbols in parenthesis show the previous status if it changed since the last update.

The numbers in parentheses in this summaryshow the change week over week.

☑️ = work has completed - 6 (+2)
🟢 = means dev work is underway - 17 (+2)
🟡 🖌️ = means we’re in the design stage still - 0 (no change)
🟡 💻  = means a dev is assigne

[2022-11-23 01:18] andrewserong commented on #45713
Thanks for the additional reports folks (and please do continue to drop comments here when folks report the issue). So far I haven't been able to replicate this problem outside of manually dequeueing global styles, so at least at face value, it does sound like it could be a potential caching problem of some kind if the problem is appearing on themes that aren't doing that dequeuing.

I'll just pin

[2022-11-23 01:19] wingmatt commented on #44412
It's exciting to see this option being explored, and I see a lot of great ideas have been shared already!

I love the idea of having a variable like :self (or :block) to reference the dynamically-generated block ID for easy block-scoping specificity. This is what Elementor does with its Custom CSS section, and it's perfect for fulfilling styling edge cases that no-code tools can't cover:

![Elemen

[2022-11-23 01:57] kevin940726 commented on #44361
I think the difficult part of this is the same as in #44418: what attributes are considered "styles" to copy/push. There are some discussions in my draft PR https://github.com/WordPress/gutenberg/pull/45477 too.

[2022-11-23 02:02] ramonjd commented on #44361
Great point. I was just thinking about this and I believe the caveat must be that only styles available to global styles are valid.

For example, see the Cover block global styles here:

<img width="287" alt="Screen Shot 2022-11-23 at 12 59 02 pm" src="https://user-images.githubusercontent.com/6458278/203455943-151fa594-8690-488a-9690-65a84fe9f9fd.png">

It does not include the custom controls in

[2022-11-23 03:54] ramonjd commented on #44361
I've been looking into this (rather slowly as I've had to dive down a few unfamiliar rabbit holes), and am just jotting down some notes.

I think the first version should target the site editor only.

This is because a `GlobalStylesContext` already exists (to get and set current, merged global styles) and we can see the style updating dynamically. In the post editor, the functionality to update gl

[2022-11-23 05:30] theminaldiwan opened #45986 "Twenty twenty three theme: Need to fix heading text color are not reflecting on editor side."
### Description

Twenty twenty three theme: We Need to fix heading text color issue which is not reflecting on editor side.

### Step-by-step reproduction instructions

1)Activate Twenty twenty three theme
2)Edit the site and click on top right styles button
3)Browse the styles and select any one from it.
4)Move on colors pallate setting and changing all level heading text color and background col

[2022-11-23 05:59] #32163 closed, assigned to glendaviesnz

[2022-11-23 06:05] talldan commented on #45613
Thanks for sharing the history @oandregal.

I think you can still edit with 'all', so 'contentOnly' seems purely a higher level of locking.

Given [this is now documented](https://developer.wordpress.org/block-editor/reference-guides/block-api/block-templates/#locking), it may not be the best idea to change it.

[2022-11-23 06:51] ddryo opened #45987 "List block styles will be reset in 6.1.1."
### Description

When I edit an article written before 6.1 in 6.1.1, the list block settings disappear.

I have not tried all the settings, but "ADDITIONAL CSS CLASS", "Color" settings, etc. will be reset.
At least, the `attributes.className` data seems to disappear.

This bug occurs when updating from 6.0.3 to 6.1.1, for example, and does not occur when updating from 6.0.3 to 6.1.

Therefore, it

[2022-11-23 06:58] carolinan commented on #45986
Hi!
The Styles sidebar only changes the defaults. If you place a new block, the updated settings will be used,
But if a block already has a color set, that block setting will be used, otherwise we would not be able to have styles for individual blocks.

This is also because _heading_ elements are used in several different blocks.
If a post title block already has a color setting, then that color s

[2022-11-23 07:09] madhusudhand commented on #44651
Great designs! 🎆

<img width="200" alt="image" src="https://user-images.githubusercontent.com/1935113/203488970-2204d1cb-f53d-4733-88bf-af5cd86d94c4.png">  <img width="200" alt="image" src="https://user-images.githubusercontent.com/1935113/203489012-f7c55c48-ca61-4d5d-a088-e54dcf376838.png">

The dropdown of shadow presets is missing the theme presets.
Can you accommodate both `default` and `theme

[2022-11-23 07:10] carolinan commented on #45986
The post titles in the home template in Twenty Twenty-Three are linked, so they would not have changed color by changing the Heading text color setting.  They do change color when I use Styles > Colors > Links settings.

On first glance, this is a problem because when underlines are removed from links, it is not at all apparent that we need to use the link color setting. With TT3, one would have t

[2022-11-23 07:11] xconsau opened #45988 "ToggleGroupControl: isBlock + isAdaptiveWidth not working with icons"
### Description

When using the `ToggleGroupControlOptionIcon`, the `isBlock` and `isAdaptiveWidth` combination on the `ToggleGroupControl` doesn't work. The expected appearance would be a full width parent container with equal width distributed inner items. Whereas it shows as inline items with auto width.

The two props work well when used with the text items with `ToggleGroupControlOption`, but

[2022-11-23 07:33] t-hamano commented on #45987
I suspect that #44822 backported to 6.1.1 may have something to do with it.
Here, it looks like `attirubutes.className` is lost:

https://github.com/WordPress/gutenberg/pull/44822/files#diff-88e6029dd203a4e41e56514b7536681626386e077e69b405252ba650c7972bdcR75

[2022-11-23 07:37] carolinan commented on #45965
Same, I did not realize they were not inherited until this morning.

[2022-11-23 09:26] scruffian commented on #28564
Is it an editor setting? It feels like a page/post setting, so storing alongside that data makes sense to me.

[2022-11-23 09:28] Mamaduka commented on #45977
Thanks for contributing, @ofadam!

I believe this is a duplicate of #27835. In your case editor tries to transform `___` into a Separator block.

I will close this issue as a duplicate.

[2022-11-23 09:28] #45977 closed, assigned to nobody

[2022-11-23 09:28] scruffian commented on #36444
I disagree. We still don't have a way to target the text input.

[2022-11-23 10:20] scruffian commented on #45379
Yes I meant navigation-link and navigation-submenu, thank you. I have updated the description.

[2022-11-23 10:26] scruffian commented on #44060
I think this might be the kind of thing that would be good to explore in a plugin to begin with to get a sense of how many people would want it.

[2022-11-23 10:41] #45980 closed, assigned to Mamaduka

[2022-11-23 10:52] jasmussen commented on #44651
@madhusudhand I'm not convinced we should go with the immediate dropdown, I still think it's best to use the ItemGroup with the flyout pattern that shows "Default" and "Theme" presets using the same buttons as are present in the Styles panel. We can omit the "Settings" icon for now though.

That would make the shadow control a single control for now, so not yet any stacked shadows. I'm unsure yet

[2022-11-23 11:09] getdave opened #45996 "Open Offcanvas List View appender popup within sidebar"
Currently the popover for the appender in the offcanvas sidebar opens in the block canvas. Rather it should open relative to the sidebar itself.

-------

This looks like a good first step. Ideally we'd open the appender in the sidebar, but we can do that in a followup.

_Originally posted by @scruffian in https://github.com/WordPress/gutenberg/pull/45947#pullrequestreview-1191371758_

[2022-11-23 11:09] SiobhyB commented on #38407
No updates this week as we are fully focusing on `🔎 Main focus` projects.

[2022-11-23 11:18] jameskoster commented on #44420
One other option might be to zoom out slightly when you enter Styles, and place the tabs on the empty space. Prettier than this, but you get the idea:

https://user-images.githubusercontent.com/846565/203533478-a1d596f8-8acb-49fb-85a3-eeb902d574f0.mp4

Figuring out how we want this to work on mobile will likely be pivoltal in getting the entry-point right.

[2022-11-23 11:22] mikey242 commented on #32784
Has anyone figured out a solution to this? I tried putting quotation marks around the run command with an -e flag for WP_CLI_PACKAGES_DIR but it just hangs on creating the container.

`npm run wp-env run cli "-e WP_CLI_PACKAGES_DIR=/custom/dir wp package install git@github.com:nlemoine/wp-cli-fixtures.git"`

[2022-11-23 11:34] luminuu commented on #45965
+1 for showing the parent theme style variations in a child theme.

[2022-11-23 11:39] ciampo commented on #45928
Fix in #46001

[2022-11-23 11:42] Noarah commented on #33581
any updates on this?

[2022-11-23 11:48] hagege commented on #32644
+1 negative values for margins to realize an outfit like this:
![image](https://user-images.githubusercontent.com/27292550/203539422-5a14b219-750d-4635-9f70-a80775a428e2.png)

[2022-11-23 12:12] carolinan opened #46002 "Allow setting role attributes on core blocks"
## What problem does this address?

Adding a `role` attribute, (for example `role="button"`) to a core block causes a block validation error.
Allowing the role attribute would increase the flexibility for theme and plugin authors. It would compliment and not be as limited as the HTML element selection option that is in the Advanced panel for supported blocks.

To add a `role` attribute right now y

[2022-11-23 12:47] madhusudhand commented on #44651
That will be a good start from UI perspective.

For context, a stacked shadow need not be always from a preset.
A `theme developer` can define stacked shadow for a button only (not a theme preset) in `theme.json` and it is a custom stacked shadow. In such scenarios, how should we represent that a shadow is applied to the block?

![image](https://user-images.githubusercontent.com/1935113/203544334-

[2022-11-23 13:07] jasmussen commented on #44357
I updated this issue with some slightly tweaked mockups. They are in part based on the converstion of the PR in progress (#45056), and hopefully they should not be too much of a detour of the code implemented.

[2022-11-23 13:23] jasmussen commented on #44651
I'm assuming this shadow definition would come from theme.json directly? Good question. We probably need an interface for this, but for the near future, would it make sense to add a "Default" button to the "Theme" section, which embodied this?

Oh I'm not talking about editing the presets here, that's probably a separate thing and more related to #44417. Let me know if I misunderstood something he

[2022-11-23 13:50] mtias commented on #45613
The naming problem is just a symptom of the fact this isn't really about template locking, or better put, it's combining a couple features that we should aim to untangle a bit:

- Controlled children.
- Template locking (disabling movers, appenders, removals).

**Controlled children** is about being able to select the parent and see the children in the sidebar, or selecting the children and still

[2022-11-23 14:04] getdave commented on #45996
## Research

- `<Inserter>` effectively has two modes:
    - render an icon which when clicked will show a popover containing various blocks you can insert
    - render an icon which when clicked auto-inserts a block (deferring all subsequent interactions to whatever the block does when selected).

https://github.com/WordPress/gutenberg/blob/8e93b93ce4756ebd4b9b3d13fa53f1969c685efb/packages/block-

[2022-11-23 14:39] ockham commented on #45713
Another: https://wordpress.org/support/topic/images-showing-vertically-instead-of-in-a-column-of-3-in-pages

[2022-11-23 14:57] cbirdsong opened #46008 "Flex Layout: Add "stretch" alignment option"
## What problem does this address?
For vertical alignment, the row layout defaults to `align-items: center;` and the stack layout defaults to `align-items: flex-start;`, resulting in this layout:

![A set of paragraphs aligned to the left edge of the container when laid out vertically, and aligned to the center of the container when laid out horizontally](https://user-images.githubusercontent.com/

[2022-11-23 15:00] theRealHal9000 opened #46009 "6.1.1 - Setting a 49%+ for width of a child column breaks column"
### Description

We previously set % widths for most of our child columns for more granular control. After 6.1.1 those sizes are no longer working/accurate.

Please see the attached recording.

Setting any flex-basis greater than 48% breaks the two columns, forcing the 2nd column down. I understand there are a lot of different factors causing this, but using 50% worked previously, which is why thi

[2022-11-23 15:24] mtias commented on #45972
We have discussed lifting up the `allowedBlocks` prop of InnerBlocks to an attribute of groups and containers. It could be part of the lock modal.

[2022-11-23 16:13] jlavoie13 commented on #44789
This seems highly inefficient needing to add support for additional services through the core plugin. This should be extendable for both developers and users.

[2022-11-23 16:15] getdave commented on #45996
Allowing the direct insertion of `core/navigation-link` blocks provides an additional requirement of displaying a Link UI within the offcanvas that mirrors (and interacts with) the one provided by the block's `edit` definition. That's going to open up a world of potential errors and inconsistencies.

An alternative might be simply to allow the inserter to bring up the standard inserter menu pre-fi

[2022-11-23 16:54] draganescu commented on #45996
The research and the demo are awesome @getdave 👍🏻 👍🏻 👍🏻

I think that

- we need to keep direct insert in the canvas, but not in the off canvas
- we need to treat adding items like a small two step wizard
  1. Add the type of link or block
  2. Get to a UI to customize it

I think adding blocks in their not setup state is confusing and the next steps to set them up are not obvious.

- What are one

[2022-11-23 17:03] Mamaduka commented on #44300
I removed myself from the assignees' list for now.

[2022-11-23 17:13] artemiomorales commented on #27093
I can take this on. I'm currently working to implement a popover to update just the title so we have something working to look at. Just let me know if I should be considering anything else!

Question for @jameskoster: To clarify, do you mean that you've updated the original post?

[2022-11-23 17:17] michalczaplinski commented on #45986
It seems that the color of the lower-level headings can be set in the `"Customize the appearance of specific blocks for the whole site." > Query Loop`. In your case, the links of the Query Loop block have a set color that is overriding the default color.

That said, I agree that it's confusing to not be able to set those colors and that the user has to figure out that:
- Post Title inherits the co

[2022-11-23 17:27] kathrynwp commented on #46008
Hey there @cbirdsong I think this may be a duplicate of #41280 so I'm going ahead and closing this, but if I'm mistaken, please let me know and I'll have another look. Thanks!

[2022-11-23 18:01] cbirdsong commented on #45959
This seems like a difficult thing to add, since doing it properly requires a lot of thought about the overall contents and composition of the block link.

It would be easy if we could simply add a URL field to the containing block and wrap it in an `<a>`, but [that is not accessible](https://adrianroselli.com/2020/02/block-links-cards-clickable-regions-etc.html#:~:text=Perhaps%20the%20worst%20thin

[2022-11-23 18:08] jameskoster opened #46015 "List View: Display image thumbnails"
When there are many images in a document we might help users distinguish between them in List View by including a thumbnail of the image itself:

<img width="1013" alt="Screenshot 2022-11-23 at 18 04 01" src="https://user-images.githubusercontent.com/846565/203617661-13d5efc8-2d18-4859-8761-8ddd18bf6d61.png">

For Gallery blocks we can stack the thumbnails like:

<img width="300" alt="Screenshot 2

[2022-11-23 18:32] anton-vlasenko opened #46016 "`bin/generate-gutenberg-php.php` should be refactored into a PHP class"
## What problem does this address?
This is a follow-up task to https://github.com/WordPress/gutenberg/issues/45817.
`bin/generate-gutenberg-php.php` uses a global variable - `$plugin_version`. This seems unnecessary and causes linter errors when enabling the `WordPress-Extra` ruleset.
Please see https://github.com/WordPress/gutenberg/issues/18502 for more details.

## What is your proposed solutio

[2022-11-23 18:57] anton-vlasenko commented on #18502
I've worked on fixing `WordPress.NamingConventions.PrefixAllGlobals` linter errors.
I submitted [a PR that](https://github.com/WordPress/gutenberg/issues/45817) fixes lots of the issues related to that.
There should be 0 `WordPress.NamingConventions.PrefixAllGlobals.*` linter errors after adding the changes I'm listing below and merging [my PR](https://github.com/WordPress/gutenberg/issues/45817).

[2022-11-23 19:03] annezazu commented on #44843
Closing this out as I now see the bundled patterns for headers & footers in the latest version of Gutenberg with this work https://github.com/WordPress/gutenberg/pull/45620. Thanks, folks!

Going to open a new issue around ensuring the Pattern Directory's API is used going forward now that an interim solution is in place.

[2022-11-23 19:03] #44843 closed, assigned to nobody

[2022-11-23 19:25] annezazu opened #46017 "Ensure Header & Footer patterns use the Pattern Directory API"
While we have an in between solution in place for now with the bundled header & footer patterns https://github.com/WordPress/gutenberg/issues/44843#issuecomment-1295592488, the following still needs to be done to close out efforts here. This is a quick, new issue to ensure that work continues forward.

**Desired outcome:**

Header and Footer patterns are in the pattern directory and pulled in from

[2022-11-23 19:27] mirka commented on #45988
We've recently been reworking this component to support newer design requirements, and it's true that the API is not fully coherent at the moment.

According to the style guidelines, a ToggleGroupControl with icon options should never be `isBlock`. On the other hand, a ToggleGroupControl with text options should almost always be `isBlock`.

`isAdaptiveWidth` is another questionable prop. Contrary

[2022-11-23 19:30] mirka commented on #45988
## Action items

- [ ] Consider retiring the `isAdaptiveWidth` prop
- [ ] Consider splitting ToggleGroupControl into two components — one for text options and one for icon options

[2022-11-23 19:42] eidolonnight commented on #43082
I also encountered this issue with block spacing within a row while using Twenty Twenty-Two. In that case, with the sliders, it's very much not clear that values are unset. The sliders are at their minimum value by default, and the only way to achieve the _true_ minimum spacing is by engaging the slider, moving it to a higher value, and then putting it back to the minimum.

While I too hope that t

[2022-11-23 20:16] cbirdsong commented on #46008
Yeah, pretty much, though I was thinking about this more broadly than the row/stack blocks? Ideally this would also apply to buttons and anywhere else that uses flex layout.

Also, should these have the "[Feature] Layout" label? That is where I looked for duplicates before filing this.

[2022-11-23 20:18] ellatrix commented on #2515
Excited to announce that this will be improved in #46014.

* Any external image can now be uploaded (no longer limited to images with CORS headers). This means also the images in the demo content can be uploaded.
* Added a prepublish that shows you all external images with the option the batch upload them.

[2022-11-23 20:55] stellarwebworks commented on #45959
Check out how it's implemented in the [EditorsKit plugin](https://wordpress.org/plugins/block-options/). It's implemented as a stretched link. Once you have an active stretched link, no other elements in the column/group can be interacted with, but that is the expected behaviour - the whole container becomes a hyperlink anchor. This looks like a good implementation to me.

I think much of the acce

[2022-11-23 21:04] threadi commented on #45713
Another: https://wordpress.org/support/topic/gallery-block-working-inconsistently/

[2022-11-23 21:10] MikeiLL commented on #45953
Poking a little further at this:

Not surprisingly, running xdebug_info() includes:

and

Within the docker container:

`/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini`

contains expected: `zend_extension=xdebug`

In the host, OS X computer:
[code]

And in the container, `/etc/hosts`:
[code]

Also `/etc/resolv.conf`:
[code]

On the guest, installed `apt-get update && apt install dnsutils`, fo

[2022-11-23 21:10] #45953 closed, assigned to nobody

[2022-11-23 22:26] tellthemachines commented on #46009
Thanks for the report @theRealHal9000 ! Could you add the recording again? It doesn't seem to have uploaded properly.

Going through those steps with Twenty Twenty and Twenty Twenty Three themes, I couldn't reproduce the issue. Are you using a custom theme, or a non-default theme at all? Might there be an incompatibility with the styles from that theme?

[2022-11-23 22:43] tellthemachines commented on #46009
Oooh, I wonder if this could be related to #45713

[2022-11-23 22:48] noisysocks commented on #44420
That's a good point. On mobile, the Global Styles panel fills the entire screen. If the Story Book button were in the block editor toolbar you wouldn't see it on mobile as it would be beneath the Global Styles panel.

On mobile I imagine the Story Book would be modal. One would make changes, open the story book, close, make more changes, open the story book, close, and so on.

This makes me think

[2022-11-23 23:09] #44138 closed, assigned to pbking, ramonjd

[2022-11-24 01:14] alvarotrigo opened #46022 "Rename image filename from post view"
## What problem does this address?

Currently, there's no way to rename an image uploaded directly from the post view, which is very common when copying/pasting images and texts.

We can edit the alt text, the title, etc, but not the filename, which is also an important SEO factor.

## What is your proposed solution?

There should be a quick way to edit the image filename without having to move to

[2022-11-24 02:20] talldan commented on #46022
@alvarotrigo Unfortunately I don't think it's possible to implement this as part of the Gutenberg project. The WordPress REST API doesn't support filename renaming (https://developer.wordpress.org/rest-api/reference/media/#update-a-media-item).

The code for implementing this kind of feature would need to be written in the WordPress Core codebase. Would you be able to create a ticket on WordPress

[2022-11-24 03:44] andrewserong commented on #45713
Update: I'm still unable to reproduce this in any of my environments. Based on the reports so far, outside of themes or plugins that explicitly switch off global styles output, I'm leaning toward suspecting that this is likely a caching issue of some kind. I see that there is currently work to adjust the caching of global styles over in #45679 and related PRs.

For visibility, I'll just ping some

[2022-11-24 04:34] glendaviesnz commented on #41060
Will start taking a look at this, but happy for others to also jump in and help.

[2022-11-24 04:42] xconsau commented on #45988
Thank you @mirka for the clarification. Much appreciated.

[2022-11-24 05:10] chthonic-ds commented on #45959
This behaviour isn't always safe to assume. If a card design specifies an additional link—for example, a link to a category or tag archive the card belongs to—the stretched link approach can still be used. See this demo using the stretched link approach with a secondary "author" link: https://heydon.github.io/Inclusive-Components/cards-pseudo-content-author-link/.

Gutenberg already supports linki

[2022-11-24 05:25] carolinan commented on #45986
There was a pull request that added a hint text to the top of the panel, that said something about editing the heading blocks directly, but I am not able to find the PR right now.

[2022-11-24 05:50] uniquesolution opened #46023 "Cover block should use explicit width and height on background image elements"
### Description

When we use an image as background in cover block, it not uses its original image width and height as attribute in the image. That cause page seepd issue in google page speed insight. As we are already making image size to cover using CSS then why not we also show the image height and width attribute for those cover block background image?
![image](https://user-images.githubuserco

[2022-11-24 05:52] uniquesolution commented on #46023
Sorry my mistake actually its not a cover block issue

[2022-11-24 05:53] #46023 closed, assigned to nobody

[2022-11-24 06:47] SaxonF commented on #45996
Looking good @getdave !

Not much feedback to give. Couple of points:

Dialog should be the same one we use for adding links on canvas.

<img width="420" alt="image" src="https://user-images.githubusercontent.com/1072756/203712573-7427d43e-39cb-4d5b-a847-a71cbb1f2c16.png">

Is there a standard for how these dialog's should be positioned? I remember seeing a recent exploration that used a similar p

[2022-11-24 07:54] Thelmachido commented on #42779
Due to what @getdave mentioned, I have removed the stale label

[2022-11-24 08:51] youknowriad opened #46025 "The show button text label feature should not rely on a global classname"
### Description

If you toggle the "show button text label" feature, a classname "show-icon-labels" is added as a top level element of the editors and components from the "block-editor" package check the presence of a global classname to trigger or not text labels on icon buttons.

I see two issues with this approach:

 - The classname is not an actual API, it could be considered but I think it's

[2022-11-24 09:05] getdave commented on #45996
👍 I expect that will be the tricky bit. I'm going to do more experimenting today.

The component relies on lower level `@wordpress/components` which have a positioning algorithm which is used across all "popover" type things. Currently it's anchored to the toggle trigger and then you can give it guidance about where you (ideally) want it positioned. Currently it's set to `bottom right` (I think).

[2022-11-24 09:09] getdave commented on #45996
@draganescu The issue is that the dialog shown when you add a new menu item in the canvas is a `<LinkControl>`. That control comes directly from the `edit.js` of the `core/navigation-link` block and is triggered when that block receives focus or is inserted.

At first I thought I would just re-position the link UI from the block so it's over next to the offcanvas. However, we cannot do that becaus

[2022-11-24 09:12] oandregal commented on #45713
Since WordPress 5.9, the global styles stylesheet has been cached for 1 minute. So, I suppose the following could happen:

- the site has a global styles stylesheet, and it is cached (certain layout styles live in the block stylesheet)
- the site is updated to 6.1 (hence, certain layout styles are moved from the block stylesheet to the global styles stylesheet)
- because the global styles styleshe

[2022-11-24 09:30] jameskoster commented on #27093
That's correct :)

[2022-11-24 09:33] ockham commented on #45713
Yeah, it's definitely persistent, I'm afraid 😕

[2022-11-24 09:42] ockham commented on #45713
Let's maybe try to gather more information from the affected users so we have a better shot at reproducing this? I'm thinking e.g. which theme they're using, list of active plugins -- anything else?

We can maybe post a message like the following to the form threads:

[code]

Here's the list of forum threads and Trac tickets I've found referenced in this issue. I'll wait for feedback from y'all an

[2022-11-24 10:01] oandregal commented on #45713
For the record, I tested with some of the themes I see people using (e.g.: poseidon), as well as other default themes. I tested with and without `WP_DEBUG` on. The only consistent result I could get was when the global stylesheet was not present (for example, due to the user [disabling it through a plugin](https://core.trac.wordpress.org/ticket/56970#comment:21)).

Some information that can be use

[2022-11-24 10:10] jameskoster commented on #44420
It's an option, but that flow sounds a bit convoluted to me. Especially once #42919 lands and a visual preview of the block is already present within the panel itself.

The main benefits of the Style Book seem to be the interactions (clicking a block to go directly to its associated panel), and the ability to see changes in 'real time' as you manipulate the controls – particularly foundational thi

[2022-11-24 10:29] getdave commented on #45996
We discussed this away from Github. The current feeling is:

- canvas and offcanvas should match each others' interaction models
- we should retain the existing auto-insert (navigation link) block when the inserter is clicked
- the block should _not_ be selected when inserted from offcanvas - this allows offcanvas to remain focused whilst creating a menu
- for simple links the Link UI should displ

[2022-11-24 10:46] jameskoster commented on #41060
@glendaviesnz I think @jorgefilipecosta has made a start on this so perhaps worth syncing up.

[2022-11-24 11:10] AldoS opened #46029 "Block's sourced attributes missing with parse_blocks"
### Description

Some attributes are missing from core blocks when I use [parse_blocks](https://developer.wordpress.org/reference/functions/parse_blocks/). Some examples:
From `core/paragraph` block: `content`
From `core/button` block: `text` & `url`

### Step-by-step reproduction instructions

1. Add a `core/paragraph` block to a page and type something - save the page/post
2. On console run `wp.

[2022-11-24 11:11] spacedmonkey commented on #42779
@rmorse Is this still an issue?

[2022-11-24 11:23] ocean90 commented on #45978
@spacedmonkey Do you know which WP_Theme_JSON_Resolver class should be updated?  WP_Theme_JSON_Resolver_Gutenberg or WP_Theme_JSON_Resolver_6_2?

[2022-11-24 11:24] jak3sch commented on #34853
I also just encountered this problem

[2022-11-24 11:37] luisherranz commented on #46029
The [sourced attributes](https://developer.wordpress.org/block-editor/reference-guides/block-api/block-attributes/#value-source) of static blocks are stored in the markup that is serialized (saved) to the database. WordPress does not have access to a full HTML parser in PHP, so it is not possible to extract the value of those attributes from the markup.

If you use the Gutenberg plugin, you can us

[2022-11-24 11:46] luisherranz commented on #46029
@AldoS, I'm going to close this issue as it is a known problem and has no solution at the moment, but feel free to reopen it if you think it is necessary.

[2022-11-24 11:46] #46029 closed, assigned to nobody

[2022-11-24 11:51] mtias commented on #44420
We had included it here in the global styles design from a couple years ago:

<img width="560" alt="image" src="https://user-images.githubusercontent.com/548849/203777675-1e786ae0-4aa8-4166-8cab-59889198207d.png">

The top of the panel also seems fine given the ellipsis menu sits there.

[2022-11-24 11:54] mateuswetah commented on #33905
Has anyone had improvements on this? I was hoping that [the new `ref` variables](https://make.wordpress.org/core/2022/10/11/reference-styles-values-in-theme-json/) could to the trick, but apparently not yet.

[2022-11-24 12:17] luisherranz commented on #45827
Confirmed. The block gap works, but the value disappears from the UI once the input field loses its focus.

![Screen Capture on 2022-11-24 at 13-15-01](https://user-images.githubusercontent.com/3305402/203782545-44cd6970-8746-4f3b-9067-26a78c67a90d.gif)

[2022-11-24 12:47] t-hamano commented on #45921
@nitamorais
Thanks for the report.

A similar problem was recently reported in[ comment #33273](https://github.com/WordPress/gutenberg/issues/33273#issuecomment-1315161156). However, since this PR solves the path problem in a Windows environment, it should not have originally caused the problem in a Unix-based environment.

In what environments have you encountered this problem? It would be great

[2022-11-24 12:51] luisherranz commented on #45842
Confirmed that differences exist between the different environments. There are also differences depending on whether the Featured Image block is inside a Query block, but only in the Site Editor.

- **Post Editor**

  No differences.

  No scale option, only height and width.

  - Outside of a Query block
    - Before adding a featured image
      - Height and width
    - After adding a featured i

[2022-11-24 12:56] Humanify-nl commented on #45842
Thanks for confirming.

It would be great if we can control the appearance of these settings in theme.json, instead of predefined rules (that are inconsistent).

 It is currently not possible to only give user control of preset image-sizes (and remove custom height / width). This is a much needed feature, because incorrect sized images destroys layouts and site performance.

[2022-11-24 13:03] DAreRodz commented on #45842
This part seems to be related to the "Image Sizes" option not appearing.

https://github.com/WordPress/gutenberg/blob/e291564b71573e15f0b639d8b4a3ac1bf62e2bcf/packages/block-library/src/post-featured-image/edit.js#L82-L89

The image size option list is generated using the available sizes for the media object being rendered in the editor. As single templates don't show any image (there's no `postId

[2022-11-24 13:08] DAreRodz commented on #45842
I can confirm this. The option only appears when an image is rendered.

### Home template
<img width="500" alt="Screenshot 2022-11-24 at 13 54 21" src="https://user-images.githubusercontent.com/6917969/203791825-51f27719-d077-4a8f-b69b-ed92dd7de32e.png">

### Post content editor
<img width="500" alt="Screenshot 2022-11-24 at 13 53 37" src="https://user-images.githubusercontent.com/6917969/20379193

[2022-11-24 13:20] t-hamano commented on #45938
@Andrew-Starr
Thank you for the report.

I think this issue is the same as #40743 and appears to be exactly the same as the reproduction procedure in [this comment](https://github.com/WordPress/gutenberg/issues/40743#issuecomment-1229122424).
Let's close this issue and focus the issue on #40743.

[2022-11-24 13:20] #45938 closed, assigned to nobody

[2022-11-24 13:23] getdave opened #46036 "Offcanvas experiment: make "back" button go to root Navigation parent not just parent block"
Currently in the Inspector controls we have a "Back" button which (selects) goes to the nearest parent.

This poses a problem when you click "edit" on a nested item in the offcanvas editor. When you click back it will go to the block above the block you clicked "edit" on which is not what we want.

The back button should be amended so that it selects the nearest Nav block.

[2022-11-24 13:28] simison commented on #45271
Perhaps better as a follow-up, but script support could be a good addition in various font interfaces.

See e.g. Google Fonts:

<img width="1060" alt="Screenshot 2022-11-24 at 15 26 27" src="https://user-images.githubusercontent.com/87168/203795909-8250e599-30c0-4235-9527-ff1ef6b497f6.png">

[2022-11-24 13:45] t-hamano commented on #45901
Thanks for the report.
As far as I know, the Instagram embed appears to have been removed by #24472 about two years ago. How did you embed it?
Also, if this can be improved by upgrading the browser, this may not be a Gutenberg problem.

[2022-11-24 14:01] t-hamano commented on #45919
I found a similar issue, although they may not be identical to the problem you reported.
Here's my procedure:

- Insert a list block.
- Remove a **list item** block.
- Nothing happens if a **list item** is deleted.
- Do it again and the **list item** will be removed, leaving only **the parent list**. The block will visually disappear.
- Save the post.
- An empty list item is restored.

This proble

[2022-11-24 14:09] getdave commented on #42779
@ndiego Could we possibly take a look at this on the next triage session 🙏

[2022-11-24 14:40] t-hamano commented on #45920
I think it may be related to #45987. When updating to 6.1.1, many attributes in the list block appear to be truncated. It might be good to test this issue again after #46000 is merged to resolve #45987.

[2022-11-24 15:12] DAreRodz commented on #45677
I think it's the first case. The `core/post-comments` block is registered to support themes that haven't been updated yet to use `core/comments` instead. That legacy block is dynamic, so it needs to be registered to render correctly.

However, once you open the editor, `core/post-comments` blocks are turned into `core/comments` transparently:

https://github.com/WordPress/gutenberg/blob/5de7f238df

[2022-11-24 15:12] RolfKyburz commented on #45919
Hi @t-hamano — yes, that is exactly my initial problem — thanks for confirming. As for my additional observations / suggestions, I'll create two extra issues from these.

[2022-11-24 15:33] #45446 closed, assigned to MaggieCabrera

[2022-11-24 15:38] rmorse commented on #42779
@spacedmonkey hmmm *possibly*, although I can observe some things have changed since initially reporting:

- When using query monitor, I'm no longer seeing duplicate queries (could that be due to the query optimisation work you did in 6.1?)
- The pagination blocks as well as the query block, still do run a `new WP_Query()`  - references to their locations are in the original post, I've double chec

[2022-11-24 15:39] RolfKyburz opened #46039 "List: improve splitting and combining lists"
Splitting a list into two (e.g., to insert a paragraph between two list items), as well as combining two lists into one is clumsy and counter-intuitive. It actually always has been counter-intuitive, but I think it got worse in WP 6.1.1:

- I need to place the insert pointer to the end of the preceding list item, then type <return> — inserts a new list item, then I need to type <return> _again_ to

[2022-11-24 15:39] RolfKyburz opened #46040 "Need better solution to selecting parent block with lists"
The "Select parent item" option is not obvious—it is far too easy to fall into the trap of selecting just a list item, e.g., for removal, copy, etc. This is particularly damning with drafts, where a list may just gave one item — ant this may be empty — see [#45919](https://github.com/WordPress/gutenberg/issues/45919) for details.

The problem exists also in list with multiple items: one should be

[2022-11-24 15:57] spacedmonkey commented on #42779
Running multiple WP_Query is not less of an issue, now that these requests are cached. I am not seeing repeated database requeries in my profiling. Where possible the global WP_Query object is being re-used, as I not sure I can currently see the issue.

[2022-11-24 16:14] afercia opened #46041 "Constrained tabbing: more failures with Safari and Firefox"
### Description

Related: https://github.com/WordPress/gutenberg/pull/46038 and #45809
See also https://github.com/WordPress/gutenberg/pull/42653

Migrating the `a11y` tests to Playwright https://github.com/WordPress/gutenberg/pull/46038 surfaced more failures of Constrained tabbing, specifically with Safari and Firefox. Actually, in https://github.com/WordPress/gutenberg/pull/46038 one test fails

[2022-11-24 16:22] #42652 closed, assigned to t-hamano

[2022-11-24 16:25] priethor opened #46042 "Update the Cover Block placeholder for consistency with the Image Block"
## What problem does this address?

Since the Image block placeholder state was improved in  #43180, the Cover block placeholder is not consistent with the Image block's anymore, despite having a very similar interface when focused during their setup stage:

https://user-images.githubusercontent.com/27339341/203830252-7e7f3a86-ba47-4404-9d09-79d6c15b6611.mov

## What is your proposed solution?
The

[2022-11-24 16:26] rmorse commented on #42779
@spacedmonkey

Please take a look:
<video src='https://user-images.githubusercontent.com/853547/203830293-2981fb85-cc98-4010-940f-7251b219e3cb.mp4' />

Adding some logging before the WP_Query itself in those files shows on the frontend (so I'm assuming they must be run in some way), but for some reason it does not appear as a duplicate in query monitor :/

[2022-11-24 17:30] pietschker commented on #45920
Yes, I believe this could be the same bug. Good to know where it is located so I can check the relevant posts and pages. Thanks for the update! OK for me to close or merge my request.

Kind regards,
Lutz

[2022-11-24 17:37] spacedmonkey commented on #45978
CC @oandregal

[2022-11-24 18:02] linwoodlana commented on #45921
@t-hamano
Thanks for replying .
My OS - Windows 11
Browser - Chrome (last version)
Firefox and Edge (also last versions) same situation.

[2022-11-24 18:09] spacedmonkey commented on #45978
@ocean90 I am not sure here. I have put together a PR https://github.com/WordPress/gutenberg/pull/46043 for review.

[2022-11-24 19:20] rmorse commented on #42779
Tagging @ntsekouras for additional input as we briefly discussed this issue on slack (the outcome of that was that it needs more investigation)

[2022-11-24 19:31] ockham commented on #45965
Thanks all! Seems like there's unanimous agreement on the desired behaviour 🎉

Anyone got some spare cycles to implement this? 😬  (My team's focus will be different in the near future.)

[2022-11-24 19:59] annezazu commented on #46017
@beafialho let me know the patterns are submitted and pending approval! Going to cross that off for now.

[2022-11-24 20:09] Marzii commented on #34853
I'd like to see an option to style the outlined button differently in the theme.josn

[2022-11-24 20:15] trev-dev commented on #16955
Stale

[2022-11-24 20:15] #16955 closed

[2022-11-24 23:07] andrewserong commented on #45713
Thanks for the discussion, folks, and for re-testing! Great idea asking for more info from the users who report the issue:

Possibly which hosting provider they're using, if it's an okay thing to ask. Some managed hosts run a bunch of caching or MU plugins that are invisible to the user, and could potentially be doing things behind the scenes that could break things. For example, I wonder if it's

[2022-11-24 23:14] stellarwebworks commented on #45959
@chthonic-ds I really like that example of card (I'll be borrowing that idea myself). However it's probably not easy to implement in Gutenberg as a linkable column or group since it is dependant on what blocks are inside those containing blocks. But I still think that a stretched link like that implemented in the [EditorsKit plugin](https://wordpress.org/plugins/block-options/) would be a great ad

[2022-11-24 23:49] masonyekta opened #46044 "Media & Text Block left and right padding on mobile"
### Description

The padding that is added to the `.wp-block-media-text__content` in Media & Text block is causing the content to have different padding than the media when viewed in mobile.

This line:
https://github.com/WordPress/gutenberg/blob/a7f1c92388d68bf12b1593e95282e90e2346e270/packages/block-library/src/media-text/style.scss#L52

We should probably remove the right and left padding on mo

[2022-11-24 23:51] glendaviesnz commented on #41060
@jameskoster is there a reason why we are not offering the choice of template/pattern as part of the first dialog where the name is entered?

<img width="572" alt="Screenshot 2022-11-25 at 12 50 31 PM" src="https://user-images.githubusercontent.com/3629020/203875600-17f3f708-9519-40da-8980-dc39a5930e58.png">

If this dialog is expanded to include the choice of templates, or blank, it saves present

[2022-11-24 23:52] thuongmhh opened #46045 "The More block does not work inside a reusable block"
### Description

The More block is ignored when it is put inside a reusable block. It only works fine when it is placed directly on the post content.

I read the WordPress code, and it seems that more tag checking is performed before the reusable block is rendered. The more tag should be checked after all reusable blocks are rendered to HTML.

### Step-by-step reproduction instructions

1. Create

[2022-11-25 01:07] chrisgresh opened #46046 "Feature request — specify font weights in theme.json"
I'm using full site editing for the first time in a theme and am super impressed with how far the project has come. Thanks for all the hard work everyone. Also please forgive me if I've missed something and this is already possible, please let me know! I've searched the docs and the closest I can find would be to use `fontFace`, which doesn't quite seem to do what I'm asking here.

## What problem

[2022-11-25 03:29] ryota-mukeikaku opened #46047 "Filtering 'code/list' by 'allowed_block_types_all', can't add list items.( only first line can)"
### Description

Can't create new list item( list block can create), with these code.
`
add_filter('allowed_block_types_all', function () {
    return['core/list'];
});
`

### Step-by-step reproduction instructions

Add these code on functions.php.
`
add_filter('allowed_block_types_all', function () {
    return['core/list'];
});
`

Go to /wp-admin/post.php.

Add core/list block on editor.

You ca

[2022-11-25 04:08] #44467 closed, assigned to tellthemachines

[2022-11-25 04:38] talldan commented on #44700
I think this is mostly done now, though perhaps one thing that's missing is that the visualizer doesn't show on focus of the padding or margin controls.

[2022-11-25 05:53] talldan commented on #46047
@ryota-mukeikaku How about if you try:
[code]

[2022-11-25 06:28] noisysocks commented on #44420
I'm not quite finished with https://github.com/WordPress/gutenberg/pull/45960 yet but it's probably ready enough for some early design feedback. There's a video in the PR description.

[2022-11-25 06:57] bhubbard commented on #42828
Maybe we can move this forward by adding support for "prefers-color-scheme" to the styles JSON?

prefers-color-scheme: dark
prefers-color-scheme: light

- https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme
- https://github.com/WordPress/gutenberg/issues/24368
- https://github.com/WordPress/gutenberg/issues/16826

[2022-11-25 08:45] draganescu commented on #45996
Absolutely @getdave, it's similar to me asking "Can we have a special LinkUI just for this off canvas use, for now?", so yes that sounds like a good plan. For now the off canvas editor component is both experimental and exclusive to the navigation block. As we're trying to validate the interaction first, and learn from that, it's OK if some items are copied over or if less than ideal couplings app

[2022-11-25 08:57] carolinan commented on #44712
I'd like to try to work on this, but I am on vacation from november 28 til december 5 so if anyone is able to pick it up faster that would be even better.

[2022-11-25 08:59] carolinan commented on #45965
Should the child theme also be able to set variations to "false" ? I mean I think there are use cases where you may want 3 out of 10 variations.

[2022-11-25 09:02] MaggieCabrera commented on #45965
could be interesting to explore as a follow up, but we don't do that for things like templates or template parts or even patterns

[2022-11-25 09:11] aaronrobertshaw commented on #44712
I'm actually currently working on moving the navigation block's color controls under the color block support panel. This will act as a small first step to addressing this issue.

It has been driven by the experiment introducing tabs to the block inspector sidebar. Without moving these controls they'll appear under the settings tab instead of the styles tab.

Once I have a draft PR up for this, I'l

[2022-11-25 09:41] carolinan commented on #45965
There are already built in ways to remove both of them but sure it can be a follow up :)

[2022-11-25 10:14] DAreRodz commented on #46047
Hey @ryota-mukeikaku, the filter you are using ([`allowed_block_types_all`](https://developer.wordpress.org/block-editor/reference-guides/filters/block-filters/#allowed_block_types_all)), filters _all_ the block types you can use in the editor. The reason you can't add new List Item blocks is because you only allowed List blocks.

The code that @talldan shared should work in your case. 🙂

[2022-11-25 10:18] aaronrobertshaw commented on #44712
PR moving the color controls into the block support panel can be found here: https://github.com/WordPress/gutenberg/pull/46049

[2022-11-25 10:20] DAreRodz commented on #46047
You can take a look at this related issue: https://github.com/WordPress/gutenberg/issues/45583. Closing this one.

[2022-11-25 10:20] #46047 closed, assigned to nobody

[2022-11-25 10:22] t-hamano commented on #45921
@nitamorais
If the problem is occurring on Windows, #45773 should resolve it. However, since this PR is part of Gutenberg 14.7, it has not yet been released as a plugin. When version 14.7 is released, it would be good to see that this issue is resolved.

I would like to close this issue, but if that Gutenberg version has not solved the problem, it would be great if you could report back here.

[2022-11-25 10:22] #45921 closed, assigned to nobody

[2022-11-25 10:26] #45987 closed, assigned to ddryo

[2022-11-25 10:49] oandregal commented on #45713
That's interesting. If they don't respect the timeout, it can certainly be the case. If so, https://github.com/WordPress/gutenberg/pull/45679 (Gutenberg 14.7) will fix it. I don't presume we can ask people to use the plugin, but perhaps this issue warrants a strong argument to release a WordPress 6.1.2 with that PR?

[2022-11-25 10:53] spacedmonkey commented on #42779
@rmorse To not create a new WP_Query, you need only click on "Inheit query from template". This use the only setup WP_Query on page load.

There is issue here, but i think it is caching in core.

[2022-11-25 11:44] scruffian opened #46050 "Navigation: Share layout code for both Page List Item and Navigation Link"
## What problem does this address?
Both the Page Link Item and Navigation Link blocks have the same layout. We need to remember to make changes in both places to keep them in sync which is a a challenge.

## What is your proposed solution?
Share the code somehow.

[2022-11-25 11:52] scruffian opened #46051 "Page List Item: Change the edit UI"
## What problem does this address?
When you edit a Page List Item, it opens the inspector controls for the block. Because Page List simply outputs the page structure, these edit buttons should either be hidden, or do the same as the pencil button on the Page List block itself. We should consider all the possible avenues we’ll have for editing.

See.
https://user-images.githubusercontent.com/275961

[2022-11-25 13:08] abaicus opened #46054 "'block-templates' theme support breaks the site editor on classic themes"
### Description

Since 6.1.1 core version, adding the `block-templates` theme support to a classic theme causes the site editor page to load as empty.

### Step-by-step reproduction instructions

1. Activate any classic theme (I tried on twentytwenty and a bunch of other themes);
2. Add the following code in the `functions.php` file:
[code]
3. Add a `templates` folder inside the root folder of the

[2022-11-25 13:09] scruffian opened #46055 "Navigation Link: Handle rich text better in the label"
## What problem does this address?
When navigation links contain formatting, this gets displayed in the label as HTML.
<img width="536" alt="Screenshot 2022-11-25 at 13 07 25" src="https://user-images.githubusercontent.com/275961/203992550-e070fa11-7187-4eb2-ba2a-ec3a56121ff0.png">

## What is your proposed solution?
I'm not sure, but we need to find an input that allows formatting.

[2022-11-25 13:27] getdave commented on #46055
LinkControl handles this already I think. Maybe we should look at how that works?

[2022-11-25 13:30] Mamaduka commented on #46054
I believe this is the same issue as described in #45862.

[2022-11-25 13:32] abaicus commented on #46054
Indeed, @Mamaduka! Thanks for pointing it out. I will close this one as it seems a PR has already been made there 👍🏻

Thank you!

[2022-11-25 13:32] #46054 closed, assigned to nobody

[2022-11-25 13:35] topi-rantanen opened #46057 "allowed_block_types_all filter breaks list block"
### Description

If default blocks are limited with allowed_block_types_all filter list block does not allow create new list -elements.

### Step-by-step reproduction instructions

1. Add to functions.php

`function filter_allowed_block_types_when_post_provided( $allowed_block_types, $editor_context ) {
    if ( ! empty( $editor_context->post ) ) {
        return array( 'core/paragraph', 'core/hea

[2022-11-25 13:37] #46036 closed, assigned to getdave

[2022-11-25 13:46] getdave commented on #45883
Closed by https://github.com/WordPress/gutenberg/pull/46037

[2022-11-25 13:46] #45883 closed, assigned to nobody

[2022-11-25 14:07] AgitateCurtis commented on #23702
Likewise, this issue is persisting for me with same WP All Import scenario

[2022-11-25 14:17] kubiqsk commented on #39937
I have same issue on multiple websites after update to 6+.
In code editor it looks good - it has all needed values like
[code]
but on frontend it is like
[code]
so there are missing classes like `is-content-justification-center` and `is-layout-flex` and `wp-container-XXX`

resaving does not help

[2022-11-25 14:25] spacedmonkey commented on #45171
Just want to flag that I am worried about cache invalidation and filtering here.

If we add caches to theme json data, it means that filters like [this](https://github.com/WordPress/wordpress-develop/blob/trunk/src/wp-includes/class-wp-theme-json-resolver.php#L183), [this](https://github.com/WordPress/wordpress-develop/blob/808d6a190987d4bfa1038d6bd9915ad41984b2dd/src/wp-includes/class-wp-theme-js

[2022-11-25 14:25] draganescu commented on #46055
My first thought is to build a rich text input :) that looks like a TextControl but supports displaying formatted text. It is possible but a bit weird.

[2022-11-25 14:29] oandregal commented on #45171
I want to share that all of this is being discussed at https://github.com/WordPress/gutenberg/pull/45372

[2022-11-25 14:31] jameskoster commented on #41060
We may do eventually, but I think the aim is to get these two very similar flows (choosing a pattern while creating a page & choosing a pattern while creating a template) aligned first. Since the former already exists it makes sense to reuse what we have.

[2022-11-25 14:33] mizukimadness commented on #4718
I just got this error from pasting the wrong file path...

[2022-11-25 14:38] Soean commented on #46057
The list block has a child block `list-item` since WordPress 6.1.

So you also need to add `'core/list-item'` to the array.

[2022-11-25 14:49] getdave commented on #46055
https://user-images.githubusercontent.com/444434/204008940-b0338497-f1cd-4921-9ce9-c247d5c92fdc.mp4

Link Control just ignores formatting. It was a compromise we settled on.

[2022-11-25 14:50] kubiqsk commented on #39937
ok, my issue was, that I was using code to **remove that Duotone SVG code** generated below `<body>` and it was removing also some other functionalities probably...

currently I use this and everythign works:
[code]

I removed:
[code]

[2022-11-25 14:50] getdave commented on #45909
Closed by https://github.com/WordPress/gutenberg/pull/46052

[2022-11-25 14:50] #45909 closed, assigned to nobody

[2022-11-25 15:11] javierarce commented on #44420
I prefer this solution to the use of the eye icon (which, to me, feels a bit obscure to decipher in this context).

In case we can consider other ways to present this feature, I've tried a variation that keeps the tabs on top and uses a dropdown to select the block categories.

https://user-images.githubusercontent.com/4933/204010145-dd1b0d61-d034-4c00-8587-3f7a7853fec0.mov

[2022-11-25 15:40] #45482 closed, assigned to draganescu

[2022-11-25 15:47] scruffian opened #46065 "Navigation: Don't use the "submenu" icon for the navigation submenu block when in the list view"
## What problem does this address?
On the list view, given that the item that has children is also a page / link, we should not be using the submenu icon, since it’s confusing.

## What is your proposed solution?
Let’s use the page / link icon there.

[2022-11-25 16:11] theRealHal9000 commented on #46009
[flex-basis issue.webm](https://user-images.githubusercontent.com/14895842/204022470-3c144c1c-102d-462e-9c02-8d8b4ef8d158.webm)
Hopefully this upload works.

Setting the column width in the editor adds {flex-basis: n%} to wherever. I only tested this with 2 columns at 50%, but there might be more.

[2022-11-25 16:14] MadtownLems opened #46068 "Add support for Descriptions of Template Parts"
## What problem does this address?
While templates offer the ability to include a short description of how the template is used, template parts don't appear to offer that. This means site builders must decipher everything about how a template part is used from the name, which can be very clunky if not difficult or impossible

## What is your proposed solution?
Add support for an additional variabl

[2022-11-25 16:15] vardumper commented on #35390
@landwire thanks for this issue ticket, you pointed me to the right filters.

I highly doubt this will ever be addressed (with FSE and all that malarkey...).

I also wanted the block markup adjusted, so while I didn't manage to get a proper block template override, here's the closest I could get to this and it works fairly well:

First, I created a Closure – so to say my block template, where you

[2022-11-25 16:18] Lovor01 opened #46069 "React Fast Refresh not working - possibly misconfiguration"
### Description

# React fast refresh does not work with @wordpress/scripts^24.6.0

I get the following message:
[code]

### Step-by-step reproduction instructions

Scripts setting in package.json:
[code]

then I issued:
[code]

### Screenshots, screen recording, code snippet

_No response_

### Environment info

_No response_

### Please confirm that you have searched existing issues in the repo.

[2022-11-25 16:50] jorgefilipecosta commented on #41060
Given that we are implementing issue https://github.com/WordPress/gutenberg/issues/42325 where the user chooses a pattern in a modal before even opening the sie editor for the template. I think we should close this issue as https://github.com/WordPress/gutenberg/issues/42325 already accomplishes the objective of suggesting a pattern to the user and a template never starts blank unless the user exp

[2022-11-25 16:57] apenchev opened #46071 "WooCommerce Blocks load MUCH slower than classic WooCommerce Widgets"
### Description

The WooCommerce blocks have been a terrible experience for our store, as they avoid page caching and use the slow WordPress REST API – each REST API call takes around 1.8s; hacking WP REST Cache to work with WooCommerce was not enough to make the fetch response time reasonable. The classic WooCommerce widgets, on the other side, are way faster – they don’t rely on the REST API and

[2022-11-25 17:00] scruffian opened #46072 "Navigation: Move the "add submenu" item and add an icon"
## What problem does this address?
The "add a submenu" item in the navigation link block is hard to find.

## What is your proposed solution?
In the navigation link block, the “add submenu item” should be at the top of the ellipsis menu options with a divider below. We should also use the submenu icon to reinforce the connection.

[2022-11-25 17:53] Mamaduka commented on #46071
Hi, @apenchev

This is a WordPress block editor development repository; for WooCommerce block-related problems, I would recommend creating an issue here https://github.com/woocommerce/woocommerce-blocks.

[2022-11-25 17:53] rmorse commented on #42779
Yeah, although the inherit query from template is only useful in FSE on things like archives and search (I believe), if you want to embed this on a regular page I think most people won't want to toggle that option so they get access to the query builder controls in the inspector

[2022-11-25 17:56] spacedmonkey commented on #42779
In WordPress 6.1, caching was added in to WP_Query, making this much less of a problem - https://make.wordpress.org/core/2022/10/07/improvements-to-wp_query-performance-in-6-1/

Otherwise, there is no easier way to pass data before block like this.

[2022-11-25 18:16] apenchev commented on #46071
Fair, I've created an issue there: https://github.com/woocommerce/woocommerce-blocks/issues/7759

[2022-11-25 18:23] Mamaduka commented on #46071
Thank you!

[2022-11-25 18:23] #46071 closed, assigned to nobody

[2022-11-25 18:27] rmorse commented on #42779
That was my understanding, to solve this requires some other mechanism for passing data between blocks (or down, hierarchically) that doesn't exist yet.

Perhaps the context system could be leveraged but I'm doubtful

[2022-11-25 19:08] skorasaurus commented on #46046
Hi, thanks for reporting & providing a detailed description. This has already been requested at https://github.com/WordPress/gutenberg/issues/39685 . Please subscribe to that issue to follow its progress.

[2022-11-25 19:08] #46046 closed, assigned to nobody

[2022-11-25 19:11] skorasaurus commented on #46046
Regarding the bold; that may be covered under https://github.com/WordPress/gutenberg/issues/30297

[2022-11-25 20:49] scruffian opened #46078 "Navigation Link: Pencil icon"
## What problem does this address?
When I "edit" a navigation link in the list view, the pencil icon open the inspector controls on the "Styles" tab.

## What is your proposed solution?
It should be open on the "Settings" tab, so that users can better edit their details.

[2022-11-25 20:50] scruffian commented on #46078
Closing in favour of https://github.com/WordPress/gutenberg/issues/45951

[2022-11-25 20:50] #46078 closed, assigned to nobody

[2022-11-25 21:17] scruffian commented on #31063
Closed by https://github.com/WordPress/gutenberg/pull/45861!

[2022-11-25 21:17] #31063 closed, assigned to mkaz

[2022-11-25 21:44] albanyacademy opened #46079 "Possible unintended interaction with duplicating a query loop block."
### Description

When duplicating a query loop block, a query ID is also duplicated along with it.

This means that on the page, things like pagination or taxonomy filtering gets applied to *all* of the duplicated blocks.

The average (re: lazy) user will likely want to duplicate a block they've spent time carefully crafting, so this interaction may not be what they have in mind when they do this.

[2022-11-25 22:10] albanyacademy commented on #46079
The full-site editor would likely prove using instanceId as unreliable for requiring a truly unique queryId. Perhaps prefixing it based on edit context (edit-post vs edit-site) could help.

[2022-11-25 22:49] kaffeeringe commented on #40946
I can't use Gutenberg themes, until it displays the ~~description~~ caption. I stored all the copyright notices there.

[2022-11-25 22:54] kaffeeringe opened #46082 "Custom Fields Block"
## What problem does this address?
I use a custom fields as a "kicker" or "subtitle" or whatever you call that small headline above the real headline. I hardcoded that into my old style theme. But I can't display that in Gutenberg themes like twenty-twentythree.

## What is your proposed solution?
A block with a dropdown of all available custom fields and layout-options like the headline-block.

[2022-11-26 01:35] annezazu commented on #43082
This came up as a point of distraction with the[ FSE Outreach Program's Site Editor exploration](https://make.wordpress.org/test/2022/11/13/fse-program-exploration-site-editor-sneak-peek/#comment-2763):

It also ties in nicely with various feedback the outreach program has gotten over the many calls for testing. Folks want to know what the default values are, especially when it comes to continued

[2022-11-26 01:43] annezazu commented on #37201
In the latest exploration with the[FSE Outreach Program](https://make.wordpress.org/test/2022/11/13/fse-program-exploration-site-editor-sneak-peek/#comment-2763), this idea came up:

For context, this is referring to this view added to Gutenberg in specific situations, like when switching style variations: https://github.com/WordPress/gutenberg/pull/41156 I think it could be interesting to conside

[2022-11-26 02:57] t-hamano commented on #46068
Thanks for the suggestion.
I think this is the same suggestion as #44097 and #44514 regarding the template, so I will tie it in.

[2022-11-26 03:10] t-hamano commented on #46057
@topi-rantanen
Thanks for the report.

This is the expected behavior and I think the solution is to add `core/list-item`  as @Soean suggested. Others have been reported at #46047 and #45583.

I would like to close this issue.

[2022-11-26 03:10] #46057 closed, assigned to nobody

[2022-11-26 04:44] t-hamano commented on #45919
I suggest either of the following approaches to solve this problem:

### 1. When the last list item is deleted, the parent list should also be deleted

### 2. Provide some UI to indicate that there are no list items

This second approach is a reference to the social icon block.

Placeholder icons appear when no icon is present:

![not-selected](https://user-images.githubusercontent.com/54422211/20

[2022-11-26 05:00] t-hamano commented on #43086
A similar problem was reported in #44687. And these issues have been fixed in [Changeset 54670](https://core.trac.wordpress.org/changeset/54670) and appear to be included in WordPress 6.1.

Therefore, this issue may be closed.

[2022-11-26 05:09] t-hamano commented on #45870
Thanks for the information, @aristath.

I looked into it, but I couldn't figure out if we should move it to the `wordpress-6.0` folder or if we should backport the core changes to Gutenberg 😅

For now, I would like to add the `Needs Technical Feedback` label.

[2022-11-26 06:28] kocjs commented on #36122
@justintadlock

After enabling the drop cap support via theme.json, I added this properties to the styles.css of TT3, unfortunately i do not see any change in the drop cap. Could you please help me with it.

Any help is appreciated

[2022-11-26 09:18] jan-vandenberg opened #46086 "The plus sign is in the way when writing a list"
### Description

The plus sign is in the way when writing a list so it covers the last word of a sentence.

Tested on two different themes:

![image](https://user-images.githubusercontent.com/13764557/204081485-2f458a22-79ef-43e5-961a-9ef52dc11b78.png) ![Screenshot 2022-11-26 09 58 20](https://user-images.githubusercontent.com/13764557/204081512-e834ef55-77c9-4e9b-96d4-bf1290c34486.png)

### Step-

[2022-11-26 09:59] #43086 closed, assigned to gziolo

[2022-11-26 10:01] Lewiscowles1986 commented on #42828
Thanks @bhubbard

So one limitation of a solely CSS based approach (although that is better than what we have now); is that it does not let a user set an override (for session or otherwise).

I did use the prefers-color-scheme, by-proxy, but because the software I'd integrated Gutenberg with had system theme independence, I also used some JS https://github.com/Automattic/blocks-everywhere/issues/2

[2022-11-26 10:19] ehrig commented on #45696
@Antonio-Laguna Do you have any news/estimate when the PR will be merged?

Maybe updating the package installation note until this fix is available can be useful for others who try to use node.js 18: https://developer.wordpress.org/block-editor/reference-guides/packages/packages-scripts/#installation

[2022-11-26 11:45] #45928 closed, assigned to ciampo

[2022-11-26 13:45] t-hamano opened #46087 "Docs: Rewrite nested blocks documentation with hooks"
## What problem does this address?
Currently, the `useInnerBlocksProps` hook is used for blocks with nested blocks, such as group and column blocks. However, the Block Editor Handbook provides examples using `InnerBlocks`.

[Nested Blocks: Using InnerBlocks | Block Editor Handbook | WordPress Developer Resources](https://developer.wordpress.org/block-editor/how-to-guides/block-tutorial/nested-bloc

[2022-11-26 18:50] waeledl commented on #44417
شراء الأثاث المستعمل بالرياض 0508210186 حقين شراء الاثاث المستعمل بالرياض /شراء اثاث مستعمل شرق الرياض /غرف نوم مكيفات مجالس ستائر تفصيل مجالس عربية كنب تنجيد شراء اثاث مستعمل بالرياض 0508210186 شراء مكيفات مستعملة بالرياض نشتري الأثاث المستعمل بأفضل الأسعار جميع الأثاث المستعمل بالرياض شراء الاجهزه الكهربائية مستعملة بالرياض شراء اثاث مستعمل بالرياض حقين شراء الاثاث المستعمل بالرياض شراء اثاث مست

[2022-11-26 21:00] wddean opened #46088 "Updates to Gallery block not saved because of - 400 failed to load resource error - if more than 100 images are in gallery"
If over 100 images are added to a Gallery block the "Image Size" setting never finishes loading ( the loading indicator spins indefinately and reads "Loading options...".

DevTools console shows the following error:
"Failed to load resource: the server responded with a status of 400 ()"

{"code":"rest_invalid_param","message":"Invalid parameter(s): per_page","data":{"status":400,"params":{"per_pag

[2022-11-26 22:49] richtabor commented on #46044
I suspect this layout is quite subjective to have it fullwidth, or not.

Curious what other folks think.

[2022-11-26 22:52] richtabor commented on #46015
Interesting. Not 100% sure if it’d work, but have you tried using the image in lieu of the icon?

It may be funky though.

[2022-11-27 00:03] #41620 closed, assigned to nobody

[2022-11-27 01:41] seothemes commented on #44651
This is looking really good. Here's a few important things to consider for box shadows that I haven't seen mentioned:

- Hover state
- Theme.json defaults
- Inset value

This a screen recording of how each is handled in the Blockify theme:

https://user-images.githubusercontent.com/24793388/204115242-45e7d3bf-550d-4207-972b-5779930f717c.mov

Changing just one of the values will enable a box shadow

[2022-11-27 09:38] Humanify-nl commented on #31452
This issue is the one reason I still have to remove archives and use normal pages instead,(1) the navigation-block doesn't recognize them. (2) the 'is-active' class is not placed on it, making standard navigation UX totally impossible.

Not fun indeed. Such a standard and crucial feature that still doesn't work after 1 year of FSE.

[2022-11-27 09:44] Humanify-nl commented on #46072
Added to this; when the site has a black background color, the plus signs are black too. Making it even harder.

[2022-11-27 09:56] Humanify-nl opened #46090 "Navigation block - add 'current-menu-item' to post-type archive links"
The navigation block is in its current state unusable in a professional context. I work with designers, and designers want to mark menus that are active. A fairly straigthforward request that I just can't do with FSE, because post-type archives.

There is still no current navigation solution that works. This tiny small issue with big consequences always seems to be ignored, postponed or shoved bac

[2022-11-27 18:07] davidra24 commented on #17409
I've got sime error, my code:
`
export const Person = ({attributes, setAttributes}) => {
    const { name, position, image } = attributes;
    return (<>
        <div>
            <img src={image} alt='person image'/>
            <RichText
                tagName="h4"
                placeholder="Name
                className="title-rounded__element"
                value={name}
                o

[2022-11-27 18:28] RayhanArif opened #46094 "Have a Publish & Close With Publish and Update & Close With Update for all post types"
## What problem does this address?
Once a user has published the Publish/Update button, in most cases, the user may want to get back to the listing window (all posts/ all pages/..). It would be better if there’s an additional button for users to Publish & Close / Update & Close. It would save time and improve the overall experience for users.

## What is your proposed solution?
It can be something

[2022-11-27 18:43] RayhanArif commented on #46094
<img width="491" alt="publish" src="https://user-images.githubusercontent.com/18187986/204153686-bc9c52aa-db01-4638-a352-08858c32acfe.png">
<img width="464" alt="update" src="https://user-images.githubusercontent.com/18187986/204153691-613350a5-bae2-427e-935e-e43d2e77a8d0.png">

[2022-11-27 19:33] glendaviesnz commented on #41060
@jameskoster I agree with @jorgefilipecosta that this issue doesn't make sense now with the options already presented in the 'Add New' listing.

@jorgefilipecosta, in terms of the `blank` option, is the plan for the `Custom template` option to return blank, or are you adding an explicit `Blank` option to the menu?

[2022-11-27 20:50] Antonio-Laguna commented on #45696
@ehrig it was promptly created on #45697 yet there are issues with NPM that I'm unsure on how to fix.

[2022-11-27 23:33] glendaviesnz commented on #44700
@talldan have [added focus here](https://github.com/WordPress/gutenberg/pull/46096)

[2022-11-28 00:34] noisysocks commented on #44420
I like the "zoom out when Styles is open" behaviour. It illustrates the strong relationship between Style Book and Styles. Not sure about the dropdown. It looks a little out of place. Could a vertical tab bar on the left similar to the pattern inserter work?

[2022-11-28 02:14] tenman opened #46098 "If the newline characters are different, the markdown notation cannot be pasted in the desired way."
### Description

If the line feed code is different, the markdown notation cannot be parsed. 　
CR/LF parsed into preformatted block, LF parsed as markdown

### Step-by-step reproduction instructions

Server gutenberg/changelog.txt download and copy paste your post ( LF )

[code]

https://github.com/WordPress/gutenberg/blob/trunk/changelog.txt (CR/LF)
View raw Click

Copy the same range as the mark

[2022-11-28 05:55] ddryo commented on #44245
I am also having trouble with this issue.

[2022-11-28 06:06] juanmaguitar opened #46100 ""npm run test:e2e" not working"
### Description

`npm run test:e2e` is not working properly
I get the following message
[code]

### Step-by-step reproduction instructions

[code]

### Screenshots, screen recording, code snippet

_No response_

### Environment info

[code]

### Please confirm that you have searched existing issues in the repo.

Yes

### Please confirm that you have tested with all plugins deactivated except Guten

[2022-11-28 06:09] noisysocks commented on #44420
I'm just about ready to put final touches on https://github.com/WordPress/gutenberg/pull/45960 so need to know what the decision is re. design. Could you confirm what design I should implement as a first iteration? We can always change things later 🙂

[2022-11-28 06:30] juanmaguitar commented on #46100
For the record `npm run test:e2e:playwright` doesn't work as well w/ the same environment

<details>
<summary>See output I'm gettting</summary>

[code]
</details>

[2022-11-28 06:46] MatzeKitt commented on #30862
Somewhere in the journey it has been fixed. At least in WordPress 6.1 it works.

[2022-11-28 06:46] #30862 closed, assigned to nobody

[2022-11-28 08:09] carlomanf commented on #41073
Related issues that can lay a foundation for this one:

- #27847
- #44461
- #27093
- #29821

[2022-11-28 08:34] louwie17 opened #46103 "Add prop for RadioControl field to align the options horizontally or vertically"
## What problem does this address?

We at WooCommerce Admin are currently making use of the RadioControl button and aligning the options horizontally.
In order to do this we have to overwrite the `flex-direction` style, this is not preferred, as the styling or the component hierarchy can change, and breaking our use case.
This happened recently after this update: https://github.com/WordPress/guten

[2022-11-28 08:41] maddisondesigns opened #46104 "Embed Block icon colours and styles"
### Description

Why does the _Pocket Casts_ Embed icon (an Automattic product), get a coloured icon (making it stand out from the others), while other more popular services, and services that have been around for many more years, don't get coloured icons and in some cases, still don't have their proper logos as the icon? Automattic preferred functionality always seems to get preferential treatmen

[2022-11-28 09:24] kebbet opened #46109 "Translateable strings in plugin containing whitespace and are missing periods."
### Description

Some strings on the Expoerimental page in the WordPress admin area are inoccrect. Linked PR addresses these issues.

#46091

### Step-by-step reproduction instructions

E.g.: Go to https://translate.wordpress.org/projects/wp-plugins/gutenberg/stable/sv/default/?filters%5Bstatus%5D=either&filters%5Boriginal_id%5D=14894911&filters%5Btranslation_id%5D=99673701 and see the extra white

[2022-11-28 09:51] jameskoster commented on #46015
I did try that, it could work, but I was a bit worried that it might negatively impact scan-ability. Also not entirely sure how it would work for galleries where it is nice to see the first _x_ images.

One thing to figure out is how those gallery thumbnails behave when you expand/collapse. Since the thumbnails will be visible on the children when expanded, there's no need to display them on the p

[2022-11-28 09:57] afercia opened #46111 "Navigate regions focus style bug with Safari"
### Description

Follow-up to https://github.com/WordPress/gutenberg/pull/45369

Turns out the Navigate regions focus style isn't visible on the content area with Safari, under certain conditions. This seems to be a Safari bug, which is known to have problems with z-indexes.

The bug can be reproduced only when the post has some long content.

### Step-by-step reproduction instructions

**Test wit

[2022-11-28 10:16] eri-trabiccolo commented on #38684
I bumped into this too. The issue seems to be that, when in a template part or in a pattern, the pagination doesn't inherit the query context. Basically the condition below is never met, while it should
https://github.com/WordPress/gutenberg/blob/d06ee3a4c5d18e336e2a7f3e78dcf6a7f9a6e397/packages/block-library/src/query-pagination-next/index.php#L33

[2022-11-28 10:23] jameskoster commented on #41060
The problem is more about divergent executions of the same UX. We don't really want to put ourselves in a position where – when we want to update the pattern selection UX – we need to consider two different implementations.

The main issue with the designs originally shared in #42325 is that they were entirely template centric. We need to think a bit more about the page/post creation flow as well,

[2022-11-28 10:44] jameskoster commented on #44420
Thinking a bit more long term, I think the tabs make more sense. When Styles become a discrete feature, the Style Book / Template tabs can be more literal UI elements that update the 'frame':

<img width="1280" alt="Screenshot 2022-11-28 at 10 41 07" src="https://user-images.githubusercontent.com/846565/204258325-b0a1f93f-90e9-4e03-a04c-9a84b60b3455.png">

For more context see https://github.com/W

[2022-11-28 11:02] t-hamano commented on #30096
Thanks for the suggestion. Also, sorry for the very late reply.
The table block currently supports all typographies:

- Font Size, Font Style, Font Weight, Letter Spacing, Text Transform: #34064
- Font Family, Text Decoration: #43974

Therefore, I would like to close this issue.

[2022-11-28 11:02] #30096 closed, assigned to nobody

[2022-11-28 11:03] Mamaduka commented on #22822
I can reproduce the typing lag when emulating a slow CPU (4x slowdown). The lag is evident when trying to type fast or, in my case (since I can't type that fast), just bashing random keys fast.

Looking at the performance recording, I see that `useInputAndSelection > onInput` takes around 83ms on keypress.

## Steps to reproduce
* Create a testing post - 1500-1700 words
* Slow down CPU using DevTo

[2022-11-28 11:36] madhusudhand commented on #44651
Thats correct. It would be the final goal.

[2022-11-28 12:05] jasmussen commented on #44467
Thanks for all the work here, this is exciting.

Designwise, I think we can potentially simplify this even further, @jameskoster and I will follow up with some designs we can iterate in.

One aspect that was discussed a great deal in #42385 was the responsive behavior, of which fit and fill both handle things well. However, we forgot how to account for "Fixed" in this, so it may be good to follow

[2022-11-28 12:28] jameskoster opened #46116 "It's possible to set a block layout to have a fixed width, but not include a value"
When you switch to 'Fixed' from the other options the text input is empty, and no fixed value seems to be set on the frontend.

<img width="904" alt="Screenshot 2022-11-28 at 12 20 27" src="https://user-images.githubusercontent.com/846565/204276405-5628e800-4f9b-462a-9938-6c8395c0efa2.png">

This makes the fixed width option feel a bit buggy.

One solution might be to treat the inherent width (IE

[2022-11-28 13:22] afercia opened #46120 "Navigate regions: 'Editor settings' region not revealed on focus with Safari"
### Description

Follow-up to #45369

When navigating the editor regions with the dedicated keyboard shortcut, the regions that are visually hidden (e.g. the Sidebar when closed) become visible and show some content.

This seems to work well with all browsers except with Safari, where the 'Editor settings'` region stays hidden.

### Step-by-step reproduction instructions

**Reproduce correct behav

[2022-11-28 13:23] t-hamano commented on #46100
I can't reproduce it, but how about trying the following operation?

- `rm -rf node_modules/ ` to remove npm packages
- `npm ci`: To maintain dependencies

[2022-11-28 13:46] cbirdsong commented on #41280
This would also be good to add on the Stack block, as outlined in #46008.

[2022-11-28 14:07] draganescu commented on #46055
@getdave it doesn't ignore it, it removes it - but i can't see any better way either :D

[2022-11-28 14:11] scruffian commented on #46055
The "better way" might be to just replace the inspector controls with the Link UI

[2022-11-28 14:18] cbirdsong commented on #45959
Looking at EditorsKit, the way it implements this is by adding an empty `<a href="/whatever/"></a>` to the end of the container to stretch out. This is an instant WCAG failure, since the link has no text and would not be comprehensible to a screen reader.

I don't think implementing it via a separate "accessible text" field is a good idea, since the link's text should almost always already be pres

[2022-11-28 14:55] matiasbenedetto opened #46123 "List View should have its own scroll bar"
### Description

When the List View is long:
you can't see at the same time the block in the list and the block in the editor or the block settings editor. This is produced by the fact that you need to scroll down the page to see the element in the list view and when you do that the block in the editor and the block settings panel get out of the viewport.

Maybe the List view panel should have its

[2022-11-28 14:57] t-hamano commented on #46098
Thanks for the report.

According to the thing you reported, do you mean that the line feed code is different in the downloaded file and in the file displayed as RAW data on the web?

I expect that when RAW text on the web is pasted into an editor, it is converted to a preformatted block because the RAW data is enclosed in `pre` tags:

![pre_raw](https://user-images.githubusercontent.com/54422211/

[2022-11-28 15:10] beafialho opened #46124 "Consider creating a toggle block or a toggle option for headings and paragraphs"
I came across this toggle on Notion, and it made me think it could be a useful tool, particularly for business or commerce websites with FAQ's and a lot of written info. This would improve the designs and reading experience, by expanding only what we select.

https://user-images.githubusercontent.com/65220155/204311962-b23914ce-2b4e-401c-a6b2-92b04b1aace0.mp4

[2022-11-28 15:16] zackkrida commented on #44496
@ntsekouras could we leave this issue open to continue tracking the Openverse part of the project, which was extracted from #44918?

[2022-11-28 15:24] Mamaduka commented on #46124
A similar block is already in development. See #45055.

Original issue #44539.

[2022-11-28 15:29] beafialho opened #46126 "Post Excerpt: Add align text options"
## What problem does this address?

This has been a pain point in a few designs I tried to accomplish. Currently, it's not possible to align the post excerpt text to the middle, only to the left.

## What is your proposed solution?

We should have the option to align post excerpt to the center like we do in paragraph blocks.

https://user-images.githubusercontent.com/65220155/204316591-e1492b2a-9a

[2022-11-28 15:35] beafialho commented on #46124
Yes that seems very similar indeed. Thanks!

[2022-11-28 15:41] ockham commented on #45713
Thanks @oandregal and @andrewserong! Here's an updated draft that I'll send out shortly:

[code]

[2022-11-28 15:58] getdave commented on #46055
Yeh but the simplest next step is to ignore it.

[2022-11-28 15:59] felixarntz commented on #45912
Leaving a note here to re-add the test that was removed in #45993, since this function will enable testing this again.

[2022-11-28 16:33] richtabor commented on #46015
Yea.. Perhaps this works for image blocks only?

[2022-11-28 16:59] digitalwaveride commented on #45595
Also +1 for titles.
We are currently working on forms and would see many patterns that differentiate themselves not (just) visually but especially by the functionality of the input blocks. Even if users could identify labels on input fields, it takes a lot of effort to understand the topic of the form.

[2022-11-28 17:01] ajlende commented on #33905
The new `ref` can reference either `settings` or `styles`, but it can only be used within the `styles` right now since the lookup is only done when styles are computed.

If `WP_Theme_JSON` is updated to apply the `ref` lookup when reading in the theme.json file, before styles are computed, something like this may be able to work.

[code]

I think using `ref` instead of resolving CSS custom propert

[2022-11-28 17:21] jameskoster opened #46128 "Streamline the width control on flex layouts"
Here's the current UI:

<img width="280" alt="Screenshot 2022-11-28 at 15 09 57" src="https://user-images.githubusercontent.com/846565/204312213-aef4d53b-9b36-4d7b-89f4-80fd170b891b.png">

A couple of things stand out:

1. The segmented control is a bit heavy considering the labels may not be familiar.
2. Generally, help text describes the control as a whole, but here it describes the selected val

[2022-11-28 17:28] mcsf commented on #22822
Thanks for looking into this, @Mamaduka.

Since the shape of a post can have great influence on the results, could you share what you used?

[2022-11-28 17:39] Mamaduka commented on #22822
@mcsf, I just generated 50 paragraphs using [Batman Ipsum](https://ipsum-community.github.io/batmanipsum/). @aquaspy also shared an example post - https://github.com/WordPress/gutenberg/issues/22822#issuecomment-1208116312.

P.S. Several people on [Twitter mentioned](https://twitter.com/no_fear_inc/status/1597162101318959104) that they experience noticeable lags with long-form content.

[2022-11-28 17:44] Mamaduka commented on #46124
@beafialho, should we close this as a duplicate?

[2022-11-28 18:56] tnprescott opened #46130 "Multiple revisions created on save"
### Description

I'm not sure if this is related to issue [#16006](https://github.com/WordPress/gutenberg/issues/16006), but whenever I try to save an update to page content and an update to a custom field at the same time, it creates two revisions. The first revision shows the page content being changed and all the custom post meta values being removed and the second revision shows all the values

[2022-11-28 19:26] douglas-johnson opened #46132 "Query Loop Block in Widget Areas"
## What problem does this address?

I am working on a site that uses a classic theme, but we're trying to use the block editor in every place possible. I would like to include a list of posts from a custom post type in a widget area, but haven't been able to make this work with features available in WordPress core 6.1.1

I am unable to add a `core/query` block to a widget area. I have not been abl

[2022-11-28 19:44] glendaviesnz commented on #41060
I am not sure that I understand why you would show these options when the user has either chosen a template type from the  `add new template` menu, or chosen the custom option which I assume would be blank - seems like we are forcing them to decide twice? ... but I may be overlooking something - maybe a brief video showing the relation of the flow outlined here and how it relates to the `create ne

[2022-11-28 19:58] azaozz commented on #18502
Not sure this is a good idea. Why should core code (Gutenberg **is core**) be using non-core rules/sniffs? This may even increase the complexity when merging the PHP code from GitHub to Trac.

Enabling only this rule seems sufficient to fix the problem. Still there seem to be false positives (that need exceptions that later need to be removed before merging to Trac).

Frankly I'm 50/50 on how usef

[2022-11-28 20:36] danieldudzic opened #46133 "Flexbox and auto margins layout"
## What problem does this address?
I am trying to add a few patterns to the [WooCommerce Blocks](https://github.com/woocommerce/woocommerce-blocks) Product Query block and realized there's currently no good layout solution for the following layout:

![Flex_·_Bootstrap](https://user-images.githubusercontent.com/905781/204349883-fb05a07f-e073-47cd-b2bb-cacc90e04fec.jpg)

I was trying to achieve the

[2022-11-28 20:46] ijerkov opened #46134 "Additional CSS not visible in editor on List block"
### Description

List block doesn't have Additional CSS classes loaded in the Gutenberg editor.
For test, I opened a post that has Additional classes on List, they are not visible in the editor.
Then I just saved the post without making any change.The result:

Before save:
[code]
After save:
[code]
This means that after every old post update, we have to add back additional classes.

### Step-by-st

[2022-11-28 21:07] ockham commented on #45713
Update: I've now posted the [above message](https://github.com/WordPress/gutenberg/issues/45713#issuecomment-1329317700) to

- https://wordpress.org/support/topic/gallery-blocks-show-vertical/
- https://wordpress.org/support/topic/gallery-block-images-are-stacking-instead-of-gallery/
- https://wordpress.org/support/topic/images-showing-vertically-instead-of-in-a-column-of-3-in-pages
- https://word

[2022-11-28 21:35] ockham commented on #45713
When skimming over [56970](https://core.trac.wordpress.org/ticket/56970), I found this [latest comment](https://core.trac.wordpress.org/ticket/56970#comment:39):

Personally, I haven't been able to reproduce that that triggers the `is-flex-layout` issue, but maybe someone else can give it a try to confirm/reject.

[2022-11-28 21:58] #45390 closed, assigned to nobody

[2022-11-28 22:44] glendaviesnz commented on #46088
I was able to replicate this by adding a gallery with > 100 images. @SiobhyB this is caused [by this change](https://github.com/WordPress/gutenberg/pull/40947). With this change the call to get the media info fails if a page size of > 100 is set. @Mamaduka any thoughts on ways around this, as the previous alternative of `-1` also [caused some concerns](https://github.com/WordPress/gutenberg/pull/3

[2022-11-28 23:08] annezazu commented on #45271
@matiasbenedetto curious if you can link to a draft PR so those of us managing updates on this work can be aware? Thank you!

[2022-11-28 23:12] glendaviesnz commented on #30142
@Mamaduka are you still planning to pick this up?

[2022-11-28 23:22] AntoninoBonanno commented on #46134
Same problem

[2022-11-28 23:24] annezazu commented on #44496
@zackkrida where is that work being tracked? Can you link to some PRs? I want to be sure we have all the pieces covered for keeping these issues up to date.

[2022-11-28 23:48] annezazu commented on #33094
### November 29th Update

The numbers in parentheses in this summary show the change week over week. Note: when multiple emojis are used, they are counted twice.

☑️ = work has completed - 9 (+3)
🟢 = means dev work is underway - 13 (-4)
🟡 🖌️ = means we’re in the design stage still - 2 (+2)
🟡 💻  = means a dev is assigned but hasn’t started or work hasn't continued in 14+ days - 11 (+6)
🔴 🖌️ = means

[2022-11-29 00:05] tellthemachines commented on #44417
Looking into this, I have a few questions 😄

* From the discussion above, it seems we want style variation customisation to exist in a Global Styles panel, which may be linked to from the post editor sidebar, is that right?
* Should we only be able to customise Core style variations, or also 3rd party ones? (3rd party could come from either theme or plugins)
* Should these customisations be preser

[2022-11-29 00:18] tenman commented on #46098
Please see example
https://www.tenman.info/wp3/emulsion/en/2022/11/29/markdown-example/

[2022-11-29 01:30] annezazu opened #46136 "Browse mode: highlight template or template part when selecting from each section"
## What problem does this address?

[As part of the FSE Outreach Program's current exploration](https://make.wordpress.org/test/2022/11/13/fse-program-exploration-site-editor-sneak-peek/#comment-2763), the following feedback was shared:

Here's a video to demonstrate the behavior:

https://user-images.githubusercontent.com/26996883/204415969-6e2988a7-082b-4ed6-a200-54253981b73e.mov

## What is you

[2022-11-29 01:35] glendaviesnz commented on #30142
@carolinan when you looked at this was there a reason why you didn't look at using the existing `wp_global_styles` post type to store the custom CSS  - under something like `styles.customCSS`?  This way it could be retrieved with the existing `useStyle` method, eg. `useStyle('customCSS')`.

A quick test seems to indicate that this would work, but I may be missing some limitations of that existing

[2022-11-29 01:42] t-hamano commented on #46098
It would be good to explain this issue in English so that many people can check it out. I still don't understand what your problem is, but at least it appears to paste into the block editor as expected, regardless of the difference in line break codes.

https://user-images.githubusercontent.com/54422211/204417586-4b850074-9307-4f8d-afac-79f11a74e36e.mp4

[2022-11-29 01:50] t-hamano commented on #46134
Thanks for the report.
Similar problems have been reported with #45920 and #45987 and have been resolved by #46000 (included in Gutenberg 14.7).

I would like to close this issue, but if the issue has not been resolved, please do not mind commenting.

[2022-11-29 01:50] #46134 closed, assigned to nobody

[2022-11-29 02:10] t-hamano commented on #45920
I have confirmed that this problem is resolved in the latest Gutenberg. Leave the confirmation steps here and close the issue.

---

### Insert a list block in WordPress 6.0.X

- In the latest gutenberg repository, put the following in `.wp-env.override.json`:

[code]

- run `npm run wp-env start -- --update`
- Confirm that the WordPress version is 6.0.3.
- Deactivate the Gutenberg plugin.
- Inser

[2022-11-29 02:10] #45920 closed, assigned to nobody

[2022-11-29 02:28] glendaviesnz commented on #30142
I see now that global styles are all supposed to be compliant with the `theme.json` schema, so maybe that would be the problem.

[2022-11-29 02:42] Mamaduka commented on #30142
@glendaviesnz, that's the plan. But feel free to pick it up, and I'll be happy to collaborate.

My current plan was to reuse the existing `custom_css` post type and related APIs like `wp_get_custom_css_post` and `wp_update_custom_css_post`.

[2022-11-29 02:51] tenman commented on #46098
I have confirmed that the issue you submitted does not occur in Gutenberg 14.6.1.

Thank you t-hamano.

[2022-11-29 02:52] glendaviesnz commented on #30142
@Mamaduka I probably won't get to it today, but will take a look tomorrow - in the meantime I have put up a [draft PR here](https://github.com/WordPress/gutenberg/pull/46137) - feel free to push to that if you get a chance to look at it.

[2022-11-29 03:16] #46098 closed, assigned to nobody

[2022-11-29 04:43] annezazu opened #46140 "Navigation block: list based editing "create new menu" UI is off with page list"
### Description

With Gutenberg 14.6.1, I'm noticing that the list based editing UI is a bit off centered when there's just the page list fall back. Oddly, when I refreshed the page, I wasn't able to get the "Create new menu" to show up so I'm not sure what's going on exactly. This was done with a brand new test site for context. cc @getdave

### Step-by-step reproduction instructions

1. Create a

[2022-11-29 05:01] glendaviesnz commented on #30142
If we are going to use the `custom_css_post` APIs, I thought maybe we could start with what @carolinan already had in place so created a [PR from that](https://github.com/WordPress/gutenberg/pull/46141) to work from. It throws a fatal error at the moment - will look into that tomorrow.

[2022-11-29 06:09] andrewserong commented on #30121
Update: there's been lots of great discussion on this feature lately, so I thought I'd try to recap where things currently sit, as the discussion is spread across a number of PRs:

* Active discussion is underway to explore options for the design of the UI controls over in: https://github.com/WordPress/gutenberg/discussions/46032
* The original PR exploring the feature, which generated a lot of di

[2022-11-29 07:20] Mamaduka commented on #46088
It's okay to use an unbound query for web versions. The results are limited by the `include` parameter.

[2022-11-29 08:31] reneroboter commented on #18510
I've still this kind of error. I've added the `upload_files` capability to the `contributor` role. When I use the default WordPress image block everything work as expected. However when I use our custom WordPress block which use the WordPress `MediaUpload` from `wp.editor` then I got a 403 from the following REST API.

GET `/wp-json/wp/v2/media/<MEDIA_ID>?context=edit&_locale=user`

Is my bug rela

[2022-11-29 08:40] Mamaduka commented on #18510
@reneroboter, to avoid 403 errors for users with low permissions, the `GET` request to fetch media should use `context=view`. See #33567.

[2022-11-29 08:55] jasmussen commented on #30121
I created mockups in https://github.com/WordPress/gutenberg/discussions/46032#discussioncomment-4261662 that try to take a near-term/long-term look at it.l What do you think? Thank you for the update 🙏

[2022-11-29 09:24] ockham commented on #45713
We've gotten one reply so far: https://wordpress.org/support/topic/gallery-blocks-show-vertical/#post-16242639, answering all the questions we've asked. Highlight:

Based on that, we might want to come up with a plan to get a fix into Core and release a 6.1.2.

Since we haven't been able to reproduce ourselves, it'd be great if we could confirm that it's indeed https://github.com/WordPress/gutenbe

[2022-11-29 09:28] javierarce commented on #45595
The recently implemented Media tab shows titles on hover/focus and it seems a good compromise to me: you get a compact column that just shows the content, but you can get extra information if you want.

[2022-11-29 09:33] jasmussen commented on #44417
The link is a bonus, but yes. It's a deep-link to where style variations are managed, which just happens to be globally.

There's a technical question here, as existing style variations are CSS based, i.e. with hard-coded values in block style.scss files, i.e.

[code]

For all core blocks, I would hope that we could move away from these hard-coded values, in favor of design tool presets. That is,

[2022-11-29 09:44] javierarce opened #46145 "The Media inserter tab isn't synchronized with the Media Library"
The Media Library and the [recently released](https://github.com/WordPress/gutenberg/pull/44918) Inserter Media tab aren't in sync. This means that if a user uploads a file through the Media Library, it won't appear in the sidebar immediately. And even worse, if the user removes the file from the Media Library, the file will still show up in the sidebar (in this case, the user will be able to add

[2022-11-29 09:56] ntsekouras commented on #46017
Should we consider them `core` patterns or they are something different? If they can be considered `core` we could just add the `keyword(11)` in pattern directory and in theory everything should just work. If we want them to be `featured` that would also just need the change in pattern directory. In these both scenarios I'd need to check if we can remove the existing registration in GB now, but th

[2022-11-29 10:04] jameskoster commented on #41060
Because choosing the template type is only the first step, after which you still need to design the template. A 404 template for example can have endless configurations, which is why we present patterns.

The patterns are contextual to the template you chose.

No, the custom template can be applied to any single post or page, so the patterns we suggest will all be different ways to display a singl

[2022-11-29 10:29] t-hamano commented on #46132
Some blocks for FSE seem to be explicitly opted out, as seen in #32761, #32756.

From a quick test, the query loop block seems to work well,

![widget](https://user-images.githubusercontent.com/54422211/204505484-6f76f151-f4d4-4ba2-b060-2be4b02a6c7b.png)

However, I would like to wait for advice from someone more knowledgeable to see if this causes any problems or issues that need to be resolved.

[2022-11-29 10:44] MatzeKitt opened #46148 "Cover block overlay color empty if disabled by theme.json"
### Description

For my theme, the color settings are removed completely:

[code]

Nevertheless, the cover block displays the color setting for the overlay color. But clicking on it returns an empty popover, since there is no color. So if there is no color, the color setting for the cover overlay should be omitted completely.

### Step-by-step reproduction instructions

1. Use the `theme.json` abo

[2022-11-29 10:47] t-hamano commented on #46126
I think this is a bug.

The excerpt block has a text-align option, but outside of the post context, the toolbar and sidebar options are not visible due to [the early return](https://github.com/WordPress/gutenberg/blob/d005420847de17be0b3111203782834c2dc85e0c/packages/block-library/src/post-excerpt/edit.js#L59-L74).

On the other hand, Post title, Post Date, Post Author, etc. have text-align option

[2022-11-29 10:48] jameskoster commented on #44417
It's difficult when it comes to third party entities because the behaviour you want is likely to be highly situational, so I don't really know if there's a silver bullet solution here. Sometimes you'll want to keep them, other times you won't. Ideally we make it easy for the user to choose how to proceed, though I acknowledge that would involve a lot of extra work.

I'm reminded of https://github.

[2022-11-29 10:54] scruffian opened #46149 "LinkControl: Page Template links appear inside Link Control"
## What problem does this address?
When creating a new link inside a template part, an additional "edit" icon is created, to edit the page template:

Steps to replicate:
1. Open the site editor
2. Edit a template part
3. Add a paragraph block
4. Add some text to the block
5. Create a link with that text
6. Deselect and reselect the linked text
7. Notice that the Link Control UI loads and then relo

[2022-11-29 11:03] javierarce commented on #45974
I can imagine that the lack of a close button is related to the [original behaviour](https://github.com/WordPress/gutenberg/issues/26223) of this sidebar.

If we added a close button, I guess we should also remove the option to autoclose the sidebar by clicking outside (to make it consistent with the other columns).

I'm more inclined to keep the current behaviour and remove the element that is tr

[2022-11-29 11:17] SiobhyB commented on #46088
Thank you for the ping @glendaviesnz! As a native-specific version of the `use-get-media.js` file has been introduced since I made that change, the unbounded query can be restored to the web file (which I see has already been proposed in https://github.com/WordPress/gutenberg/pull/46143) without impacting native. I'll also do some testing to see whether the issue with saving the Gallery block can

[2022-11-29 11:21] javierarce opened #46151 "Standardize the use of snackbars in the Inserter"
I noticed that the Inserter is not consistently showing snackbars after adding elements (we only show them for patterns and not for media items or blocks).

Even though there are discussions about the accessibility of snackbars that we should address at some point, I think we should make their use consistent and show them for all types of items.

[2022-11-29 11:25] javierarce commented on #45741
+1 to prevent closing the modal

I think this is a duplicate of [this older issue](https://github.com/WordPress/gutenberg/issues/25946)

[2022-11-29 11:28] oandregal commented on #45171
https://github.com/WordPress/gutenberg/pull/46150 makes the caches introduced for `wp_theme_has_theme_json` and `gutenberg_get_global_stylesheet` non-persistent, as per some discussions at https://github.com/WordPress/gutenberg/pull/45372

[2022-11-29 11:38] #46088 closed, assigned to Mamaduka

[2022-11-29 12:07] t-hamano commented on #46126
I have found similar problems reported in #44324.  It also appears that @carolinan has submitted #45003 to resolve these issues.

[2022-11-29 12:14] t-hamano commented on #46126
I would like to close this issue as a duplicate.

[2022-11-29 12:14] #46126 closed, assigned to nobody

[2022-11-29 12:15] jasmussen commented on #46128
Here's a quick stab ([Figma](https://www.figma.com/file/vmHxwa8WhiyiP9poe2om9J/Inspector-Panels?node-id=13854%3A87303&t=GKV4kAkulvzngiwF-1)) at a design that compresses this. It's based on your existing work, Jay, just a slight remix:

<img width="1440" alt="Width and height" src="https://user-images.githubusercontent.com/1204802/204524420-b4194f2c-c52c-4bef-9265-dd4590881712.png">

* It includes

[2022-11-29 12:17] beafialho commented on #46126
Thank you!

[2022-11-29 12:32] rom0x commented on #38307
Same problem. Keep getting "There was an error. The response is not a valid JSON response" when trying to save something under Design->Widgets. Running WordPress 6.1.1. Twenty-Two, no Plugins activated. Using Classic Editor and Classic Widgets, no problem.

[2022-11-29 12:33] kavyagokul opened #46155 "Cover block does not show Media Settings (fixed / repeated background) when the featured image is used in Site Editor"
### Description

When we use a Cover block with the featured image instead of the Post Featured Image block in Site Editor > Single template, the Cover block does not show the Media settings so the fixed background effect cannot be used.

### Step-by-step reproduction instructions

1. Insert a Cover Block and set Use the featured image
2. There are no Media Settings.
3. When I add an actual Media,

[2022-11-29 12:39] jorgefilipecosta commented on #41060
So on the add new template the user chooses the template type e.g: 404, or single post and chooses a pattern for that template (or blank if the user really wants blank) the site editor loads the new created template with the choose pattern. In which case we would show another modal to choose a pattern? The user already choose a pattern before.
If the idea is really to have two modals and choose pa

[2022-11-29 12:53] jameskoster commented on #41060
No, the user should not be choosing the pattern twice 😭

Template selection and pattern selection are separate parts of the same overall flow. That is:

1. Click Add New template
2. Choose the template e.g. Page
3. Choose whether to create the generic `page` template, or to create a template for a specific page
4. Select the specific page you want to create the template for
5. You're sent to the E

[2022-11-29 12:59] kavyagokul opened #46159 "Navigation Block: Percentage Character (%) in Links Are Improperly Encoded"
### Description

Possible related bug : https://github.com/WordPress/gutenberg/issues/32837

When adding a URL with the `%` character in a navigation block link, something is converting the percentage character % to %25, causing the link to go somewhere else and fail.

### Step-by-step reproduction instructions

1. Assign an FSE theme to your site
2. Go to Site Editor and edit the Header template

[2022-11-29 13:52] #45381 closed, assigned to nobody

[2022-11-29 13:54] Sandra-headscape commented on #13816
doesn't work for non-hierarchical taxonomies

[2022-11-29 14:13] vreemt commented on #13816
this doesn't seem to work for non-hierarchical taxonomies

same here.
I'd love to separate the display from the logic - to me it makes far more sense to use checkboxes for a limited selection list - some awesome stuff here https://github.com/WordPress/gutenberg/tree/trunk/packages/editor/src/components/post-taxonomies#custom-taxonomy-selector

seems the easiest way to get checkboxes no matter what

[2022-11-29 14:23] ndiego commented on #46086
This issue was reviewed during today's Editor Bug Scrub and is confirmed. It's likely a tricky one to solve, but any ideas @javierarce @jasmussen?

[2022-11-29 14:30] artemiomorales commented on #27093
Hello all, I created a pull request for this issue: https://github.com/WordPress/gutenberg/pull/46135

It's the most basic implementation for now. Would love to get additional eyes on it and see what you all think ✨

[2022-11-29 14:30] jasmussen commented on #46086
I believe this issue is not happening in trunk. When a list item is focused, there's no black plus:

<img width="859" alt="Screenshot 2022-11-29 at 15 29 22" src="https://user-images.githubusercontent.com/1204802/204556116-d37a6cab-b23a-4afa-8c6f-90680758dafe.png">

There still is one when you select the List block itself, and I think we should consider removing it (including the one for group) so

[2022-11-29 14:32] ndiego commented on #46039
This issue was reviewed in today's Editor Bug Scrub and has been confirmed. Personally, I feel the second bullet point is the more confusing one. It would be great if the two separate list items were automatically merged into one. But I am not sure if this would mess people up who are actually trying to create two separate lists. 🤔

[2022-11-29 14:42] ndiego commented on #46009
This issue was reviewed in today's Editor Bug Scrub. We have been unable to replicate using the latest versions of Gutenberg, WordPress, and the Twenty Twenty-Three theme. I have included a gif below.

Would you be able to share the theme that you are using?

![columns](https://user-images.githubusercontent.com/4832319/204559149-3f91fb87-49ea-42ed-b545-5a4cc577cef2.gif)

[2022-11-29 14:53] ndiego commented on #45956
@smerriman Thanks for reporting this. Do you happen to have a theme.json file in your theme? I believe the issue you are experiencing is the same one reported in https://github.com/WordPress/gutenberg/issues/45216, but if you have a chance to take a peak at that issue, that would be awesome. Looks like there is some work in progress to address this.

[2022-11-29 15:22] #39222 closed, assigned to nobody

[2022-11-29 15:26] #42497 closed, assigned to nobody

[2022-11-29 15:30] ndiego commented on #46086
@jasmussen Ah yup, I must have been testing in a prior version, or perhaps just 6.1 🤦‍♂️ All looks good in 14.6.

@jan-vandenberg Since this has been resolved in Gutenberg 14.6, I am going to close this out. But if you run into any further issues, feel free to reopen. Thanks again for reporting!

[2022-11-29 15:30] #46086 closed, assigned to nobody

[2022-11-29 15:48] ryelle commented on #46017
I'm happy to make those changes in the pattern directory, just let me know which term (the hidden one, core or public-facing, featured) is decided :)

[2022-11-29 16:23] getdave opened #46166 "Coupling of specific blocks to @wordpress/block-editor package"
The Nav block offcanvas experiment is proceeding along. I'm noticing some instances where we're referencing specific block's within the `@wordpress/block-editor` package.

I'd like to document these below for refactoring later. We should be thinking about

- Trying to make the behaviour generic
- Moving the code to the block itself (use slots/filters...)
- Making use of block editor settings

## I

[2022-11-29 16:30] JiveDig opened #46167 "List block is allowed in excerpt but still stripped"
### Description

The `excerpt_remove_blocks()` filter has `core/list` in the `$allowed_inner_blocks` array but it's still stripped from `get_the_excerpt()`.

I'm pretty sure this is because the list block is actually nested list-item blocks, so this:
[code]

Needs to become this:
[code]

Inner blocks is changed to `list-item` while wrapper blocks has `list` added.

### Step-by-step reproduction in

[2022-11-29 16:31] JiveDig commented on #46167
Realizing I may have posted this in the wrong place. Let me know if it should be moved.

[2022-11-29 16:59] bradhogan opened #46169 "Add 50% option to "Stack on Mobile""
## What problem does this address?
Currently, you can only choose to either keep ALL columns or stack them.

## What is your proposed solution?
It would be very useful for designers to have the option to stack columns with a max column width of 50%.  If the "Stack on mobile" is toggled "on" maybe an option to show "mobile column width" with the same options as normal column widths (with just % as

[2022-11-29 18:51] skorasaurus commented on #44985
related https://github.com/WordPress/gutenberg/issues/44603

[2022-11-29 18:54] skorasaurus commented on #46123
I am able to reproduce this in WP 6.1.1; Gutenberg 14.6.1; Firefox 105.

The list view has had its own scroll bar in the past and I remember it being there (see https://github.com/WordPress/gutenberg/issues/40173 as an example issue where it is present); marking as a regression

[2022-11-29 19:10] ntsekouras commented on #44496
There is no PR yet. I plan to start one as soon as I can(hopefully tomorrow) and will probably create a new separate issue for Openverse integration with info extracted from this one.

[2022-11-29 19:46] annezazu commented on #46169
@bradley2083 thanks for opening this issue! From my vantage point, this directly overlaps with a few different current issues including https://github.com/WordPress/gutenberg/issues/41781 Mind commenting there and closing this out to prevent the convo from being too spread out?

[2022-11-29 20:00] annezazu commented on #44441
@phil-sola this feels very similar to this issue around presenting someone with initial configuration options: https://github.com/WordPress/gutenberg/issues/41060 Can you add part of your feedback as a comment there and consider closing this out to better consolidate the feedback/ideas?

[2022-11-29 20:09] annezazu commented on #46017
AFAIK these patterns should be listed as "featured" since they are meant for use on all sites and are curated by WPORG (partially based on this convo https://github.com/WordPress/pattern-directory/issues/542 ) @jasmussen can you confirm this? I want to ensure I have this absolutely correct.

[2022-11-29 20:29] jhned opened #46173 "Expose all retrieveFastAverageColor settings with a new filter"
## What problem does this address?
The retrieveFastAverageColor package is set up to prioritize speed over accuracy. This means that sometimes the average color is off. In my own tests, an image's average color was observed to be off by 8% on the lightness spectrum.

## What is your proposed solution?
If developers prefer to change the strategy to precision, we'd need a new filter to change out th

[2022-11-29 20:31] annezazu commented on #41315
This was once more brought up in the [FSE Outreach Program's Site Editor Sneak Peek exploration](https://make.wordpress.org/test/2022/11/13/fse-program-exploration-site-editor-sneak-peek/#comment-2765) by a few folks when exploring browse mode, which seems to be making this feeling "worse":

For now, I can imagine this will continue to be a point of feedback but agree that in time it'll be smoothe

[2022-11-29 20:45] annezazu commented on #41723
This was noted as part of the [FSE Outreach Program's Site Editor Sneak Peek:](https://make.wordpress.org/test/2022/11/13/fse-program-exploration-site-editor-sneak-peek/#comment-2765)

cc @jameskoster for awareness since I know you worked on this :)

[2022-11-29 20:52] annezazu commented on #42482
This was noted as part of the [FSE Outreach Program's Site Editor Sneak Peek exploration](https://make.wordpress.org/test/2022/11/13/fse-program-exploration-site-editor-sneak-peek/#comment-2765):

[2022-11-29 21:09] annezazu commented on #27898
This was briefly noted as confusing in the [FSE Outreach Program's Site Editor Sneak Peek exploration:](https://make.wordpress.org/test/2022/11/13/fse-program-exploration-site-editor-sneak-peek/#comment-2765)

The experience hasn't deviated or evolved since originally opening this issue.

[2022-11-29 21:10] annezazu commented on #27896
This was once more mentioned in the [FSE Outreach Program's Site Editor Sneak Peek: ](https://make.wordpress.org/test/2022/11/13/fse-program-exploration-site-editor-sneak-peek/#comment-2765)

[2022-11-29 21:28] skorasaurus commented on #11791
Still an issue in Gutenberg 14.6; in addition, colors edited in HSL; when exported by the theme (in global styles) are saved as HEX values. :(

We would like to represent our colors in HSL but this makes it impossible.

[2022-11-29 21:29] annezazu opened #46177 "Style variation: Sherbet gradient doesn't properly show up when randomized or at base"
### Description

This might be two bugs: the Sherbet TT3 style variation "background" color shows as red and, when using the style randomizer, the background color changes but the UI doesn't show it. cc @vcanales

This was found as part of the FSE Outreach Program's Site Editor Sneak Peek:

### Step-by-step reproduction instructions

1. Turn on the Style Randomizer experiment in gutenberg > experi

[2022-11-29 21:34] annezazu opened #46178 "Style variation & randomizer: Aubergine variation not properly showing color changes"
### Description

Found as part of the FSE Outreach Program's Site Editor Sneak Peek:

cc @vcanales

### Step-by-step reproduction instructions

1. Turn on the Style Randomizer experiment in gutenberg > experiments.
2. Head to Appearance > Editor.
3. Open Styles.
4. Change to the Aubergine style variation.
5. Head to the Colors section and use the randomizer.
6. Notice the button colors change but

[2022-11-29 21:49] skorasaurus commented on #22469
Ran into this again as I was working on a theme locally, added a color palette to the theme.json file; and uploaded to FTP remotely to a the theme's folder on the site; the changes in the theme.json were not read remotely.

[2022-11-29 23:45] ironprogrammer commented on #34448
The introduction of #43088 provides `button` pseudo element styling in `theme.json`. I believe this issue can be **closed**.

### Environment
- Browser: Safari 16.1
- WordPress: 6.1.1
- Theme: tt1-blocks v0.4.8, twentytwentytwo v1.3

### Test Results
- Under the TT1 Blocks theme, I was NOT able to reproduce the originally reported issue (on WordPress 6.1.1 w/ and w/o Gutenberg latest active). It d

[2022-11-30 00:57] sabernhardt commented on #46094
The proposal for including an "Add new" link in the Publish panel also included a "Back to dashboard" link that was not added.
https://github.com/WordPress/gutenberg/issues/32099#issuecomment-852328152

When someone has the Publish panel, the Close/Return link could make more sense there than adding expandable options to the Publish button.

For users who have disabled the panel, some may not like

[2022-11-30 00:58] bradhogan commented on #41781
Per @annezazu's recommendation, I'm adding this here.  I'd love to see the option to make the "stack on mobile" have a 50% breakpoint.  This would be a big design improvement on mobile.  Thank you!

[2022-11-30 00:59] #46169 closed, assigned to nobody

[2022-11-30 02:50] tellthemachines commented on #44417
We can't erase the values of style variations and replace them with new ones, but we can override them with new rules based on design tools presets. In practise, this won't make any difference to users, except that the new rule will maybe be a little more specific. What we might run into when trying to customise existing variations is the inability to override styles there are no design tools for

[2022-11-30 04:36] andrewserong commented on #45713
Another highlight from that one:

The `global-styles-inline-css` inline styles includes the rule `:where(.wp-block-columns.is-layout-flex){gap: 2em;}` which means that the code path for outputting (block specific) layout styles is being hit for this particular site. One (unverified) hunch for why the base layout styles might not be appearing, is that potentially during the upgrade process, it's po

[2022-11-30 05:58] #45862 closed, assigned to Mamaduka

[2022-11-30 06:19] alexstine commented on #27093
Hello all, I just reviewed the PR and gave some technical/accessibility feedback. Keeping in mind that I can't see the screenshots, I am interested to see how close the PR got to the actual visual design. From an UX perspective, it greatly worries me that we continue to box up the editor. It is going to get harder and harder to provide context around that as we'll soon require a bunch of random/ve

[2022-11-30 06:20] terra-incognita opened #46180 "Unable to remove underline from Post Title links"
### Description

Post Title blocks have an option to turn the title into a link, as you'd want on a homepage. But you can't set `text-decoration` on such links from the editor. It's always just underlined.

Even if you edit `theme.json`, the WP-generated `#wp-block-post-title-inline-css` embedded stylesheet seems to ignore what you set for `textDecoration` on Post Title links even though:
- it res

[2022-11-30 07:47] mrleemon opened #46181 "Can't set font family value for verse blocks via theme.json"
### Description

WP 6.1.1 loads the `/wp-includes/css/dist/block-library/style.min.css` file AFTER the styles set in `theme.json`. This file contains the following CSS rule:

[code]

So, any font family value set in `theme.json` is overridden by this rule. Is this intended?

I'm NOT loading the default theme block styles from core (`add_theme_support( 'wp-block-styles' )`)

### Step-by-step reprod

[2022-11-30 08:31] jasmussen commented on #46017
I could be missing a few beats here, so forgive me if I'm restating things already noted, but my understanding is that this needs to consider the new structure outlined in https://github.com/WordPress/gutenberg/issues/44501. Which is a meta-split into two major categories, Featured and Community. Featured are all from the WP.org user, Community is _everything else_. Both of those meta-categories a

[2022-11-30 08:53] ntsekouras commented on #46017
Let's try to clarify the end goal here, because some of the mentioned things by me are technicalities.

1. These patterns currently have only `header, footer` categories and what else. Do we need them to be shown in `featured pattern category` as well?
2. Do we want them to be loaded by all sites? If yes we can just treat them as core patterns(technicality).

Just curious how this is going to affe

[2022-11-30 08:56] jasmussen commented on #44417
Perhaps the specificity necessary would cause headaches? Might not be a problem in practice.

I'd think whichever is easiest for the first version, then I'm sure we'll know more. Though if we did exclude them, I'd show them as ineditable, just so people won't be confused why they're missing.

👌

[2022-11-30 08:59] jasmussen commented on #46017
To clarify, Community and Featured tabs are both available in the pattern directory. But only patterns from the Featured tab show up in the pattern explorer (https://github.com/WordPress/gutenberg/issues/44611).

There's a doodle of how those tabs could look in https://github.com/WordPress/pattern-directory/issues/395#issuecomment-1324319980 — it's not a final design by any means, I would hope we

[2022-11-30 09:14] #45996 closed, assigned to getdave

[2022-11-30 09:37] viralsampat-multidots opened #46183 "The table block footer section is not displaying properly."
## What problem does this address?
I have checked Gutenberg table block and I have added its header section, test data, and footer section. But, in admin and at front-end user can't identify that which is footer section. Because footer section is react like row & columns data.

For better understanding here I have attached video for the same.
[Video](https://share.cleanshot.com/MnpeFOVomRFsY2Dmakz

[2022-11-30 10:16] afercia commented on #45974
Note: this button becomes visible on small screens:

<img width="860" alt="Screenshot 2022-11-30 at 10 59 15" src="https://user-images.githubusercontent.com/1682452/204769745-e30c6e15-5866-494f-99e1-0b1fae601f95.png">

[2022-11-30 11:03] scruffian opened #46190 "Block inspector tabs: Focus a different tab if opened from the Navigation List View"
## What problem does this address?
When editing an item in the Navigation List View, the block inspector opens the styles tab by default:

https://user-images.githubusercontent.com/275961/204779308-c4a35133-2637-4748-a4bf-01e87f7ff0be.mp4

## What is your proposed solution?
It would be good if the "Settings" tab were to open, rather than the styles one, as this is where users are more likely to wa

[2022-11-30 11:06] scruffian commented on #46190
Closing in favour of https://github.com/WordPress/gutenberg/issues/46190

[2022-11-30 11:06] #46190 closed, assigned to nobody

[2022-11-30 11:10] getdave commented on #46055
I would recommend reviewing [a similar discussion which occurred here between Joen, Ella and myself](https://github.com/WordPress/gutenberg/pull/35457#issuecomment-940772002). It has a lot of good research and discussion.

[2022-11-30 11:11] sophiegyo commented on #33302
It'd be really nifty if something like this could be implemented if it could cover taxonomies in general (e.g. tags)! I ended up testing the Jetpack plugin's "portfolio" function and even WooCommerce products in a couple of Query Loops in a few different themes before being sure it was due to the category and tag blocks not accounting for custom post types.

[2022-11-30 11:13] scruffian opened #46191 "Page List: Lock icon in the inspector controls"
## What problem does this address?
The Page List locking icon has been through a number of different iterations in the list view. Currently it doesn't display any lock icon at all:

<img width="275" alt="Screenshot 2022-11-30 at 11 11 01" src="https://user-images.githubusercontent.com/275961/204781311-45b09151-5c73-4b23-ae45-d3ac7682ea2f.png">

## What is your proposed solution?
As outlined in htt

[2022-11-30 11:21] scruffian opened #46192 "Explore a more systematic approach to interactions that should / could hide the block toolbar"
## What problem does this address?
When manipulating things via the Inspector Controls, the Block Toolbar can often obscure the block in a frustrating way. This is evident for the spacing visualizer: https://github.com/WordPress/gutenberg/pull/45131

However the same is also true for other manipulations that happen in the Block Inspector, and also things like canvas resizing.

## What is your prop

[2022-11-30 11:30] getdave opened #46193 "Nav off-canvas editor not offering the option to create a new page when it doesn't exist"
In the Nav block when creating a new link, typing in the name of an entity which doesn't exist brings up a `Create new draft page` option in the Link UI search results. This allows you to create new draft pages directly from the Nav block.

That functionality is not present in the Nav offcanvas experiment.

Why?

It's intentional in the sense that I deliberately removed it.

Why?

Because includin

[2022-11-30 11:30] jameskoster commented on #27093
The issue with the current placement of the title field is that it breaks the WYSIWYG. The proposed solution re-uses existing Site Editor features (updating the title of a custom template), but I assume those also suffer from the same accessibility issues?

An alternative option could be to simply move the title field into the top bar? Hopefully we could position it in the DOM so that it still act

[2022-11-30 11:31] scruffian opened #46194 "Navigation: Loading the fallback creates multiple wp_navigation CPTs"
## What problem does this address?
When a navigation block is in a fallback state, it creates a draft wp_navigation CPT, once a user interacts with it. If this draft is not saved then, next time we load the block we load the fallback again, rather than the draft. This can lead to a situation where a user has multiple draft wp_navigation CPTs in their admin.

## What is your proposed solution?
When

[2022-11-30 11:31] jasmussen opened #46195 "Navigation Items: Add transform items in the inspector, a la Group/Row/Stack"
When you insert a menu item, it can be either a Page Link, a Custom Link, or a variety of other link types. This makes for a lot of very similar items to choose from in the inserter menu. It would be nice if there was just a single block to insert, of which all of these were variations, as ultimately they are all just links, and the variation mainly affects which items to show in the "Recent" menu

[2022-11-30 11:35] getdave commented on #45445
Done in https://github.com/WordPress/gutenberg/pull/46013. cc @SaxonF

[2022-11-30 11:35] #45445 closed, assigned to nobody

[2022-11-30 11:53] danielbachhuber commented on #15821
Here's a PR for `colspan` support, if anyone would like to test it out: https://github.com/WordPress/gutenberg/pull/45981

[2022-11-30 12:03] iamtakashi opened #46198 "Site Logo: Settings panel is not available anymore"
### Description

For some reason, I no longer see the settings panel for the site logo block.

![iamtakashi jurassic tube_wp-admin_site-editor php_postType=wp_template postId=twentytwentytwo%2F%2Fhome](https://user-images.githubusercontent.com/908665/204790368-50b7f120-0747-4016-96d5-7d76490e9d4e.png)

If you deactivate the Gutenberg plugin, it comes back.

![iamtakashi jurassic tube_wp-admin_site

[2022-11-30 12:09] fluiddot commented on #38407
Updated the parent post with:

### 🔎 Main focus

++ Add the following comment to _Upgrade React Native to version 0.69.x_ item:

### 🛠️ Recently fixed or improved

++ [Adds react-native-libraries publisher version for Android projects](https://github.com/WordPress/gutenberg/pull/45597)
++ [Autocomplete - Fix regression related to the Enter key code](https://github.com/WordPress/gutenberg/pull/4599

[2022-11-30 12:23] corentin-gautier opened #46199 "Avoid browser paint in the editor"
### Description

This issue tracks the various PR I have open around avoiding browser paint in the editor as requested by @ciampo in https://github.com/WordPress/gutenberg/pull/45545#pullrequestreview-1198135516:

- #46185
- #46187
- #46188
- #46196
- #46197
- #46201
  - #46465

There are still paint issues that do not have a PR right now, they are related to the fact that the scroll areas are set

[2022-11-30 12:44] #9476 closed

[2022-11-30 13:01] getdave opened #46202 "Improve empty menu state in Nav Offcanvas"
If you create a new menu from scratch then the current "empty" state for the menu isn't very clear about what you shoudl do next. It also looks a little...untidy.

<img width="394" alt="Screen Shot 2022-11-30 at 12 59 56" src="https://user-images.githubusercontent.com/444434/204803019-30de31a9-a289-4d05-a70b-252c54c4a3d2.png">

Would appreciate some design guidance on how we can improve this. Mayb

[2022-11-30 13:08] getdave opened #46203 "Handle non-direct insertion in Nav offcanvas inserter"
In https://github.com/WordPress/gutenberg/pull/46013 we added an inserter to the Nav offcanvas sidebar.

This works reasonably well when `core/navigation-link` blocks are auto-inserted which is the default behaviour of the Nav block (see [this research](https://github.com/WordPress/gutenberg/issues/45996#issuecomment-1325118608)).

However if you do the following you will get a different experienc

[2022-11-30 13:51] ockham commented on #45508
Of course 🤦‍♂️ Thank you for pointing that out! I'll change the issue title and contents 😅

[2022-11-30 13:54] t-hamano commented on #46167
Thanks for the report.

I think your suggestion makes sense. I have submitted a ticket ([#57235](https://core.trac.wordpress.org/ticket/57235)) regarding this issue and a PR ([#3710](https://github.com/WordPress/wordpress-develop/pull/3710)).

Once the issue is resolved in core, close this issue as well.

[2022-11-30 13:56] javierarce commented on #45974
Oh, I hadn't noticed that, but that makes total sense. Otherwise it wouldn't be possible to close the sidebar on mobile.

Then, if we decide to go with the idea of not showing the close button, we'll need to hide it with CSS instead of removing it.

[2022-11-30 14:01] getdave opened #46206 "Nav Submenu block Link UI text control"
I noticed that Submenu block's dont' seem to activate the `Text` control portion of the Link UI. This should be achievable by passing in the `hasTextControl` prop to `<LinkControl>` and also ensuring the `label` prop is set on the the link `value` that is passed to `<LinkControl>`.

The `core/navigation-link` block does this.

[2022-11-30 14:05] getdave opened #46207 "Utilise LinkUI component in Navigation Submenu"
The Nav Submenu block implements a lot of the same functionality as the Nav Link block.

Specifically I've noticed that the handling of creation of links is nearly identical.

https://github.com/WordPress/gutenberg/blob/60c33c479302dacca515024bf9985132e6ef2965/packages/block-library/src/navigation-submenu/edit.js#L665

In # we extracted the implementation of the Link UI to a `<LinkUI>` component w

[2022-11-30 14:07] JiveDig commented on #46167
TY!

[2022-11-30 14:12] ntsekouras commented on #46017
Sorry but still it's not 100% clear to me what we want for Gutenberg.  If I understand correctly the meta `community/featured` is something that Pattern directory will implement first and it will dictate some requests when we [connect it with Gutenberg](https://github.com/WordPress/gutenberg/issues/44611), but not right now.

I think the confusion comes with having a `featured` pattern category an

[2022-11-30 14:18] jasmussen commented on #46017
Right, sorry for the detour, yes! Mainly I wanted to be sure that those bundled header and footer patterns are only sourced from the wp.org user, so we don't suddenly have thousands of options to scroll through in the "Replace" flow 😅

[2022-11-30 14:19] ockham commented on #45713
Two more replies over at the [Trac issue](https://core.trac.wordpress.org/ticket/56970):

https://core.trac.wordpress.org/ticket/56970#comment:41:

https://core.trac.wordpress.org/ticket/56970#comment:46:

https://github.com/WordPress/gutenberg/issues/45713#issuecomment-1330329869 was also on Bluehost 🤔

[2022-11-30 14:52] jihaisse opened #46208 "Checking of block type names is incorrect when passing a Path"
### Description

Using `register_block_type( __DIR__ . '/build/my-block' );` with a Path containing uppercase in it, method `WP_Block_Type_Registry::register` throw an error :

### Expected Behavior

Get non-confusing feedback.

### Current Behavior

Feedback is not about the namespace of the block, but about the Path

### Step-by-step reproduction instructions

1. Call `WP_Block_Type_Registry::re

[2022-11-30 14:59] georgeh commented on #46166
In #45984 we are hard-coding `core/page-list` for the convert-to-links modal

https://github.com/WordPress/gutenberg/blob/d970deb0b5691015082227e1bd40c510244f43ad/packages/block-editor/src/components/off-canvas-editor/block-edit-button.js#L178-L179

[2022-11-30 15:10] #34448 closed, assigned to nobody

[2022-11-30 15:47] fluiddot commented on #40540
Thanks for the update and the information @geriux 🙇 !

Great news that with the new NPM version this is no longer an issue.

To be honest, I think we could remove the `react-native-hr` depedency by creating our custom implementation of the `<hr>` component, as it seems to be relatively easy to implement.

🎊

Interesting, probably we need to change something else. I checked [the original PR where w

[2022-11-30 15:49] ryelle commented on #46017
By default yes, any patterns tagged `core` would be loaded on 5.8, but if we want to restrict them to 6.1+ (or 6.0+, etc) we can add a version meta value - it needs a wporg sandbox though, so just let me know of the patterns & version values and I can add it.

[2022-11-30 16:10] alexstine commented on #27093
@jameskoster Might be best to just move the field in to the top bar. I am not sure hiding it in a drop down is really necessary at this point. All my other A11Y feedback on the PR still applies. Need to figure out how to not mess up the DOM structure.

Thanks.

[2022-11-30 16:33] oandregal commented on #45171
:wave: I want to step back a bit and take stock of the progress and next steps. The big things shipped in the past 6 weeks:

- `wp_theme_has_theme_json`: this method was created and gained support for object caching.
- `gutenberg_get_global_settings` has gained support for object caching, a 35% improvement on logged-out requests.
- `gutenberg_get_global_stylesheet` has gained support for object ca

[2022-11-30 16:35] #45978 closed, assigned to spacedmonkey

[2022-11-30 17:18] #46051 closed, assigned to MaggieCabrera

[2022-11-30 17:24] jameskoster commented on #27093
Assuming we can get the other a11y details right, I think it would be okay to start with that. Thanks for the detailed feedback as always.

Edit: to clarify, which of these points would remain if the input was moved into the top bar?

The first, third and fourth issues should be resolved because the "Edit document details" button wouldn't be required any more.

Issue #2 should be easy to address,

[2022-11-30 18:36] anton-vlasenko commented on #44151
@noisysocks
@adamziel

I'm looking for feedback before implementing the solution for this issue.

Let me briefly summarize it:
According to [this doc](https://github.com/WordPress/gutenberg/blob/trunk/lib/README.md#prefer-the-wp-prefix), PHP functions/classes that start with a prefix other than `(G|g)utenberg_` should be wrapped in `function_exists()` or `class_exists()` (i.e., "guarded") to avoid

[2022-11-30 19:09] joedolson commented on #27093
I think that Alex has a good handle on the accessibility of the title interface. I'm comfortable in principle with moving the title out of the post editor; it was a separate field in the classic editor, and keeping it separate seems totally reasonable to me.

My primary concern is making sure that the title has sufficient prominence, so that it's easy to spot at a glance which document you're edit

[2022-11-30 19:26] #46198 closed, assigned to Mamaduka

[2022-11-30 20:28] eric-michel commented on #45713
My site had this issue temporarily. We had Global Styles disabled in our theme. After the WP update, I re-enabling Global Styles, but the `is-style-flex` class was still not being defined in the Global Styles output. This was on WP Engine.

It turned out I had to clear the server cache in a very specific way. The normal `Clear all caches at once` option was not sufficient. I also had to go to the

[2022-11-30 20:40] artemiomorales commented on #27093
I agree with @joedolson. As a user, I wouldn't know the title was immediately editable without some kind of indication, so having it as an input makes sense to me. I updated the [pull request](https://github.com/WordPress/gutenberg/pull/46135) with that implementation so we can all see what that looks like as we keep the discussion going.

I believe having it as an input also addresses this fifth

[2022-11-30 20:42] georgeh opened #46217 "Use LinkControl in Navigation Link block controls"
When editing a Navigation Link block in the sidebar, the URL input:

![Image](https://user-images.githubusercontent.com/128240/204904279-c61ebd35-424f-4d05-8178-1573a702ea21.png)

should use a `LinkControl` to offer suggestions, similar to the way it appears in the block editor:

![Image](https://user-images.githubusercontent.com/128240/204904705-62b2c042-4a79-47d9-b2e9-3acd3d34f4b9.png)

[2022-11-30 20:44] ockham commented on #45713
Thank you @eric-michel, that's definitely helpful!

[2022-11-30 23:08] glendaviesnz commented on #30142
I have a [working prototype of this using the existing core custom_css post type and the related methods](https://github.com/WordPress/gutenberg/pull/46141), it would be good to get some agreement that this is the best way to implement this before I go ahead and tidy this up.

@aristath, I see you have been looking at the [custom CSS per block issue](https://github.com/WordPress/gutenberg/issues/4

[2022-11-30 23:31] annezazu commented on #39293
As part of looking across work for [wrapping up phase 2](https://github.com/WordPress/gutenberg/issues/33094) and preparing for 6.2 overall, this issue has been updated with current blockers, items to follow up on after removal, and related work (namely, considering renaming the Editor entry point in general).