[2021-03-23 07:44] #30008 closed, assigned to nobody

[2021-03-23 08:25] jasmussen commented on #29620
I would think that it's okay that selecting a block while viewing global styles doesn't toggle the block toolbar. That might be disruptive.

There might also be an opportunity to make the global styles panel contextual in a similar way, so when you select a paragraph, the paragraph block type panel is toggled in the global styles panel.

[2021-03-23 08:32] #30059 closed, assigned to david-szabo97

[2021-03-23 08:36] paaljoachim commented on #30101
One might not want the Site Logo block but another image though. Perhaps one wants two images inside the navigation. Perhaps one wants to use icons beside each link. Adding the Image block gives the freedom to the user to decide how and where they want to add an image or images to the menu.

An example of using icons.
![Screen Shot 2021-03-23 at 09 37 15](https://user-images.githubusercontent.com/

[2021-03-23 08:45] jasmussen commented on #30101
In the case of both an image inserted as a direct child of the navigation block, it's currently blocked on https://github.com/WordPress/gutenberg/issues/29036.

The use case for icons makes sense, but technically you can already do that:

<img width="651" alt="Screenshot 2021-03-23 at 09 45 17" src="https://user-images.githubusercontent.com/1204802/112118300-87007a00-8bbc-11eb-8818-d34490ec7b74.pn

[2021-03-23 08:51] talldan commented on #29311
The noticed have now been hidden by #29926, which I think is a good solution. It seems enough to have these notices show in the main admin interface.

Closing this issue.

[2021-03-23 08:51] #29311 closed

[2021-03-23 09:09] mtias commented on #29871
This is not user-serviceable, though. Until you can easily create your own patterns, the flow of detaching the blocks to get a quick start is going to remain important to consider.

[2021-03-23 09:38] andersnoren opened #30131 "Image Block: Updating after removing width and height results in "This block contains unexpected or invalid content.""
## Description
If you empty the "Width" and "Height" fields on an image block, update the post and refresh the page, the block gets the "This block contains unexpected or invalid content" notice.

## Step-by-step reproduction instructions
1. Edit or create a post.
2. Insert an image block and upload an image or select one from the media library.
3. Empty the "Width" and "Height" fields in the bloc

[2021-03-23 09:58] jasmussen commented on #28440
@shaunandrews @annezazu I'd like to either reopen this one, or create a new followup ticket, to revisit this bit:

<img width="718" alt="Screenshot 2021-03-23 at 10 32 51" src="https://user-images.githubusercontent.com/1204802/112124985-3e988a80-8bc3-11eb-806c-1ec4cc516024.png">

Specifically the idea that the menu item remains in a placeholder state until you have filled out _both_ the URL, and t

[2021-03-23 10:15] oandregal opened #30132 "Do not create revisions for the GlobalStyles CustomPostType"
We use a CustomPostType to store user data for global styles. The CPT post_type is `global-styles` and the post name is `wp-global-styles-<theme-stylesheet>`.

In https://github.com/WordPress/gutenberg/pull/30088#issuecomment-804508602 @jeyip shared that he was seeing revisions stored for the CPT.

We're not using these revisions yet, so we should look into how/whether we can prevent them from bei

[2021-03-23 10:15] oandregal commented on #30132
Added it to the backlog at https://github.com/WordPress/gutenberg/issues/20331

[2021-03-23 10:33] bobbingwide opened #30135 "Attempt to create 404 template from Site Editor results in 400 Bad Request"
## Description
While attempting to follow Call #3 instructions for #fse-outreach-experiment, rather than using TT1 blocks I used my own experimental FSE theme and tried to create the 404 template using Site Editor.
This resulted in a 400 Bad Request.

## Step-by-step reproduction instructions
1. Using an FSE theme that doesn't have a 404.html template invoke the Site Editor.
2. Inspect the page an

[2021-03-23 10:40] oandregal commented on #30132
There's https://github.com/WordPress/gutenberg/pull/30133 to close this.

[2021-03-23 10:45] bobbingwide commented on #30135
When reproducing the problem I also noticed a Warning message issued while creating the `single-post` template.
[code]

The HTTP_RAW_POST_DATA ( request payload) was
[code]

This Warning can be produced when `$request['id']` is not set, so $template is assigned to null.
[code]

[2021-03-23 11:15] mtias commented on #30112
Closing in favor of https://github.com/WordPress/theme-experiments/pull/236

[2021-03-23 11:15] #30112 closed, assigned to nobody

[2021-03-23 11:20] mtias commented on #30121
Definitely something we need to get to! (I think this should also be available for the Group block.) I'd consider this to be part of the layout / alignments panel to which we recently added this:

![image](https://user-images.githubusercontent.com/548849/112138651-11070d80-8bd2-11eb-8523-394738673d69.png)

[2021-03-23 11:21] mtias commented on #30132
Mmm, even if we are not using them, I don't think we should stop creating them. It'd be nice once we add UI to manage them that they are there already. This is a free rollback feature for the most part.

[2021-03-23 11:25] mtias commented on #30087
The icon as a whole should be changed cc @pablohoneyhoney

[2021-03-23 11:39] oglekler opened #30137 "#wpbody-content is going down way below the viewport if a scrollbar appears"
Gutenberg > Navigation (beta)

While resizing a window if the body starting to have a scrollbar the whole #wpbody-content is going down way below the viewport:

Video: https://disk.yandex.ru/i/nrrWoLBNCzuTQg

_Environment:_
WordPress 5.7
Gutenberg version 10.2.1
experimental Full Site Editing theme

[2021-03-23 11:43] carolinan commented on #18055
Is this view with selectable core templates (as compared to files in themes) being considered for the 5.8 MVP?

[2021-03-23 11:52] mtias opened #30138 "Select mode is not showing the right variation icon"
Looks like we are not displaying the right variation icon when in select mode:

![image](https://user-images.githubusercontent.com/548849/112142135-7c52de80-8bd6-11eb-9284-3d40e0a4e9d5.png)

cc @ntsekouras

[2021-03-23 11:54] grzim opened #30139 "Navigation Editor - theme location change causes rerender"
## Description

Mentioned in https://github.com/WordPress/gutenberg/pull/29458
When a user changes the value in any of the theme location dropdowns in Navigation Editor the entire editor rerenders.

## Step-by-step reproduction instructions

## Expected behaviour

New menu is applied to the location and the window remains open
## Actual behaviour

The entire editor rerenders

## Code snippet (opti

[2021-03-23 11:56] carolinan commented on #19253
I believe that this has been solved and that the issue can be closed?
Or do we still want to add an edit link to the block inspector as in the screenshot?

[2021-03-23 11:59] carolinan commented on #20276
For template parts, this can be solved with https://github.com/WordPress/gutenberg/pull/28398

[2021-03-23 12:22] spacedmonkey commented on #29185
Related: https://github.com/WordPress/gutenberg/issues/11849

[2021-03-23 12:52] gziolo commented on #30086
`declaration-property-unit-allowed-list` replaced the same rule with a different name in #27810. Have you tried updating `stylelint` to the more recent version?

Gutenberg uses the version `^13.8.0`.

[2021-03-23 12:56] critterverse opened #30142 "Global Styles: an input for custom CSS"
This issue stems from the recent FSE [call for testing](https://make.wordpress.org/test/2021/03/09/fse-program-testing-call-3-create-a-fun-custom-404-page/) to create a custom 404 page. For my 404 page, I ended up adding several elements via the Customizer (accessible via _Appearances_ > _Themes_ > _Customize_), such as a site background image. I imagine that most of what I added will eventually b

[2021-03-23 13:04] ceyhun commented on #29008
@gziolo I'm not really sure what git magic is needed for this to happen 🪄 I also do not consider myself a git magician 😃 So any help would be appreciated.

@hypest I think WPiOS was always using the bundles on gutenberg-mobile repo and seems like that one goes back [as far as 2018](https://github.com/wordpress-mobile/gutenberg-mobile/commit/eb5a7a61ec16485356642b2a42abd24c6aa3e059#diff-1d607cf8748

[2021-03-23 13:10] jameskoster commented on #19253
We have a basic implementation, so can probably close this issue and continue refining in https://github.com/WordPress/gutenberg/issues/29148

[2021-03-23 13:16] draganescu commented on #29019
Ah! I think get it!

Well, blocks, when used as widgets and else, have no "title", only "content". The headings or paragraphs are considered standalone content units. If we want to a ensure style unity in a theme, CSS needs to be added to style these core blocks in their sidebar container. We cannot identify that a heading is before some other block and automagically apply a widget title to that.

[2021-03-23 13:45] #19253 closed

[2021-03-23 13:49] dgwyer commented on #30086
Brilliant, that fixed it! Thanks for the quick feedback.

[2021-03-23 13:49] #30086 closed, assigned to nobody

[2021-03-23 14:08] #28056 closed

[2021-03-23 14:20] mike-sheppard commented on #6184
aaand now from WP 5.7 it looks like `global` needs to be `defaults`...

[code]

[2021-03-23 14:26] carolinan commented on #30135
I believe this is the same problem as in https://github.com/WordPress/gutenberg/issues/28662 ?

[2021-03-23 14:37] bobbingwide commented on #30135
It could be the same underlying issue, but I didn't get any feedback.
I also note that after editing the 404 template using the site editor, the slug is 404.
So either Ari's issue has been fixed OR it's a different problem.

Q. Should I raise the second comment (  https://github.com/WordPress/gutenberg/issues/30135#issuecomment-804801310 ) as a separate issue as the problem's in a slightly differe

[2021-03-23 14:42] critterverse commented on #29620
Thanks for weighing in @jasmussen! I agree on this being potentially disruptive 😬 The reason why I'm calling attention to it is because there were a few instances when using the Column block that I came to a standstill over the secondary controls not being visible. This is especially confusing when using _Transform to_, which doesn't include the intermediate step of a placeholder block that allows

[2021-03-23 15:28] Addison-Stavlo commented on #30112
As was the case with all other block based themes I tried.  Curious the reasoning behind adding alignment changes that break all current block based theme implementations requiring them all to be updated individually.

[2021-03-23 15:33] annezazu commented on #30115
I think you are right about the latter video being fixed by that PR! In that case, I only saw that happen when I had two layers of submenus and tried to link the second submenu item.

[2021-03-23 15:34] draganescu commented on #28668
Following @noisysocks 's merge of the updates to the REST API widget endpoints in #29649 it's still the case that we get a bad value like `widget-sow-button[-1][text]` while in the old screen we get `widget-sow-button[7][text]` (tested with SiteOrigin widgets pack).

However it seems that when we add the widget in the old editor, the hidden inputs in the  new editor are correct and the names of th

[2021-03-23 16:07] #30138 closed, assigned to ntsekouras

[2021-03-23 16:07] skorasaurus commented on #28966
Hi,

Thanks for reporting.
This has been discussed and/or requested in  https://github.com/WordPress/gutenberg/issues/6639. Feel free to [add your reaction](https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/about-conversations-on-github#reacting-to-ideas-in-comments) and follow its progress in the issue.

[2021-03-23 16:07] #28966 closed

[2021-03-23 16:10] swinggraphics commented on #21918
The current behavior is very confusing. If you change one value, the image resizes proportionally, but the value of the other field does not change. For example, if you start with an image that is 800x800 and change the width to 250, the image will actually be 250x250, but the Height value in the settings panel remains 800.

Edit: There's an additional bug: If you delete the value in one of the fi

[2021-03-23 16:28] skorasaurus opened #30151 "Group block's CSS Class names endlessly repeat when viewing block in code editor"
## Description

When viewing a group block in the code editor, any user-supplied CSS class for the group block is constantly duplicated within the code editor and then saved within the post_content;

![2021-03-24-bugg-2021-03-23_12 08 40](https://user-images.githubusercontent.com/955351/112181708-0bf68e00-8bd3-11eb-8dac-4fc2105501c2.gif)

## Step-by-step reproduction instructions

1. create new pa

[2021-03-23 16:38] skorasaurus commented on #30151
appears to be a plugin conflict, still testing

[2021-03-23 16:47] draganescu commented on #29284
Um is it? Right now adding a widget in the block editor doesn't really create anything in the preview and when it does add a block editing it creates multiple copies of the widget in the preview, without an actual preview.

I think this issue should be closed when we can:

- add any block (including a legacy widget block) to the block editor embedded in the customizer
- that block is previewed imm

[2021-03-23 17:05] draganescu commented on #30051
I think this is fixed by a recent unification of styles between editors (in #30076). In my testing the font family is correct so I will close this one :) Thank you!

[2021-03-23 17:05] #30051 closed, assigned to nobody

[2021-03-23 17:18] #29469 closed

[2021-03-23 17:20] draganescu commented on #24949
I am reopening this as trying to test with the Gutenberg plugin activated, adding `remove_theme_support( 'widgets-block-editor' );` will result in `Uncaught Error: Call to undefined method stdClass::_register() in wp-includes/class-wp-widget-factory.php:102`.

[2021-03-23 17:20] skorasaurus commented on #30151
This is actually a conflict with coblocks; will be reporting there.

[2021-03-23 17:20] #30151 closed, assigned to nobody

[2021-03-23 17:34] skorasaurus commented on #30151
https://github.com/godaddy-wordpress/coblocks/issues/1862

[2021-03-23 17:39] #30132 closed, assigned to oandregal

[2021-03-23 17:44] bradhogan opened #30152 "Cannot remove logo in Theme Customizer once it's been added"
## Description
My guess is this is a core WP issue, but not sure where to post it if it is.  In either case, I've noticed on all sites I have admin access to that are on the latest versions of WP that if you add a custom logo in Theme Customizer, save, then view, the logo is there.  However, if you then open up the customizer menu and remove the logo, the real-time update works, but when you Publi

[2021-03-23 17:46] critterverse commented on #30121
Love this idea. Additional context about the Layout panel Matias mentioned: #27473, [comment](https://github.com/WordPress/gutenberg/issues/27473#issuecomment-796773866)

[2021-03-23 17:54] annezazu commented on #30113
Ah ha! Thank you for connecting the dots here. I wonder if this issue should remain open in light of the one you linked to? In my mind, the original issue covers the problem described here.

[2021-03-23 18:32] chrisvanpatten commented on #21872
@gziolo that would be fantastic. It would make things so much easier… this bug has been persistently annoying 😅

[2021-03-23 19:00] gziolo commented on #21872
My proposal needs to wait until we sort out how we want to use TypeScript in Gutenberg:
https://make.wordpress.org/core/2021/03/18/proposal-native-typescript-support-in-gutenberg/

[2021-03-23 19:21] ellatrix opened #30155 "Navigation mode: strange arrow key behaviour in nested blocks"
Create a column block with a paragraph in one of the columns and leave the paragraph selected. Press Esc to enter navigation mode.

* Arrow up and down don't do anything.
* Arrow right doesn't do anything.
* Arrow left selects the column, which seems reasonable.

Now that the column is selected:

* Arrow down selects the next column... This is strange. I expect something downwards to be selected.

[2021-03-23 19:21] ellatrix commented on #30155
Cc @youknowriad since you know most about navigation mode. :)

[2021-03-23 19:32] youknowriad commented on #30155
I think the nested behavior was implemented as a v2 by @tellthemachines if I'm not wrong.  For me at least, down and right should work the same and up and left as well because we shouldn't assume container orientation. and I expect like you to first go through the nested blocks before going to the next one.

[2021-03-23 19:33] youknowriad commented on #30155
Potentially we could leverage "orientation" config to be more precise but not sure if worth the complexity.

[2021-03-23 19:33] Addison-Stavlo commented on #29337
Testing this idea out on a PR - https://github.com/WordPress/gutenberg/pull/30156

[2021-03-23 19:36] annezazu opened #30157 "Accessibility feedback on the Spacer Block"
**What problem does this address?**

In chatting with Taylor Ardnt a few weeks ago around using FSE with screen reader technology, the Spacer Block came up as a particular problem point in the current FSE and general editing experience. From that conversation, two issues in particular came up that I wanted to flag here:

- Ensure the Spacer Block description is properly read out when using VoiceOv

[2021-03-23 19:43] alexstine commented on #28670
I think this would make functionality worse for assistive technology users, here are the 3 proposals I came up with.
1. If writing flow is enabled, then Down Arrow will work to go in to the list of blocks. If it is disabled, only Tab will move to the list of blocks.
2. We can redesign the block inserter that way the input field is rendered as an autocomplete search bar. I am not sure the best way

[2021-03-23 19:54] ellatrix commented on #30155
We don't need to look at container orientation if we just reuse the existing logic in writing flow. Instead of moving focus only the block selection would move.

[2021-03-23 21:06] gwwar commented on #10169
Leaving a summary comment of where I left off while 🔍 the category issue. Folks are welcome to take this issue if it's of interest.

To move this forward we'll want to make sure that the following use cases are addressed:

### Search + Tree View

Currently we render categories in a tree view. If I'm correct, categories and other hierarchical terms may be nested to any depth. Adding search means we

[2021-03-23 21:25] gwwar commented on #29437
I can explore this one, @talldan I believe this will be one of the first dynamic blocks to be transformed?

For example, HTML->Convert to Blocks is handled in `packages/blocks/src/api/raw-handling/index.js` while the block transform API also takes a client JS function https://developer.wordpress.org/block-editor/reference-guides/block-api/block-transforms/.

[2021-03-23 21:28] tomdkat opened #30158 "Can't replace image in gallery block"
## Description
After adding images to a 3-column gallery block, I'm unable to replace an image with another image.  I can click the image I want to replace and I can click the "Pencil" icon to make changes, but the "upload", "media library", and "Insert from URL" links are not clickable.

## Step-by-step reproduction instructions

1. Create a page and add a 3-column gallery
2. Add three images to

[2021-03-23 21:36] annezazu opened #30159 "Navigation Block: make limitations around which blocks can be added clearer"
## What problem does this address?

Right now, the navigation block has inherent limits to what can be added to it which makes sense. However, the current flow is a bit confusing as it nudges a user to browse all blocks and then doesn't show any indication that only certain blocks can be used:

https://user-images.githubusercontent.com/26996883/112212663-df4a7280-8be2-11eb-8f71-a08e31703934.mov

#

[2021-03-23 22:08] pablohoneyhoney commented on #30087
Here two first tries.

<img width="336" alt="site logo2" src="https://user-images.githubusercontent.com/25516611/112224969-74a92f00-8c02-11eb-863a-0fbfd29104bf.png">

<img width="336" alt="site logo" src="https://user-images.githubusercontent.com/25516611/112224972-74a92f00-8c02-11eb-8b78-132be3874bb5.png">

Full disclosure I haven't tried in context, so worth passing that test. Quick design is va

[2021-03-23 22:16] NickGreen commented on #20321
@cr0ybot or @ryanapsmith I'm interested in getting some of your code working, to see if I can push this along at all.

Edit: I've done some research into how this code might run in a Gutenberg context, and it's a little more clear now, but if you happen to have a plugin where this code is in context, it would still be very helpful!

[2021-03-23 22:37] annezazu commented on #29844
Sharing more feedback from another participant in the call for testing:

There were two participants who ended up with multiple template parts while testing.

[2021-03-23 23:16] annezazu opened #30160 "Enhancement: Include Block Type on hover"
## What problem does this address?

As part of the [third call for testing for the FSE Outreach program](https://make.wordpress.org/test/2021/03/09/fse-program-testing-call-3-create-a-fun-custom-404-page/#comment-1435), this piece of feedback was shared:

<img width="475" alt="Screen Shot 2021-03-23 at 4 44 02 PM" src="https://user-images.githubusercontent.com/26996883/112230001-aec20300-8bf9-11eb

[2021-03-23 23:49] annezazu commented on #30158
I can replicate this using Gutenberg 10.2.1 and WordPress 5.7. However, I noticed the behavior is a bit inconsistent and "sticky" with the ability to use the buttons returning if you click on other images. Here's a video to better explain where you can see me clicking around trying to see what might be causing this :D

https://user-images.githubusercontent.com/26996883/112233346-e764db00-8bff-11eb

[2021-03-24 00:02] tomdkat commented on #30158
On 3/23/21 4:49 PM, annezazu wrote:

Yes, I've seen the same behavior!  I found if I clicked in some places,
I could eventually get the links to be clickable.  My initial thought
was maybe a <div> or some other element was overlaying the links, such
that they couldn't be clicked. Clicking around caused that element to be
lower in the stacking order (z-index) or maybe disappear entirely,
thereby ma

[2021-03-24 00:14] annezazu commented on #30158
Whew, glad you experienced it too! Thanks for reporting it :) Big help to catch these problems early.

[2021-03-24 00:38] annezazu commented on #28440
I completely agree with you. This "placeholder problem" is that something that has come up repeatedly in FSE Outreach Testing and the chances of adding incomplete menu items (URL + label) is still quite high right now. I like the idea of having both be required.

Tied to this, there are also problems like this with the current experience where if one adds a link in but then wants to change the lab

[2021-03-24 00:46] annezazu opened #30163 "Navigation Block: Editing the label of block causes Add Link prompt to appear incorrectly"
## Description

If you add a Link Block to the navigation block, add a link, and then try to edit the label/text the "Add link" prompt shows up despite a link already being added. This makes it seem as though by deleting the label, you have also removed the link.  cc @jasmussen since you're working on this!

## Step-by-step reproduction instructions

1. Add a navigation block
2. Add a link block
3

[2021-03-24 00:59] annezazu opened #30164 "Navigation Block: prevent submenu items from merging"
## Description

If you add multiple sub menu items and then hit backspace at the beginning of the second item, it merges with the first.

## Step-by-step reproduction instructions

1. Add a navigation block
2. Start new.
3. Add a Link Block.
4. Use the toolbar option to add a sub menu item under the link block you just created.
5. Do this once more.
6. Go to the very start of the second sub menu i

[2021-03-24 01:07] annezazu opened #30165 "Navigation Block: Sub menu items do not adopt template part color changes"
## Description

If you add the navigation block to a template part and change the template part colors, the sub menu items do not adjust in the same way the overall navigation block does. @carolinan not quite sure if this is possibly a TT1 blocks problem or not!

## Step-by-step reproduction instructions

1. Add a template part
2. Add a navigation block inside template part
3. Add a few menu items

[2021-03-24 02:08] talldan commented on #28440
That could be a bug. I thought only named items (posts, pages) from the suggestions should pre-fill the label. Good to try a different solution that makes the process clearer though.

[2021-03-24 02:19] talldan commented on #30152
Hi @bradley2083. Thanks for reporting. You're right that this looks like a core issue.

Core trac is the bug tracker for core — https://core.trac.wordpress.org/. It requires a WordPress.org account, which you can create here — https://login.wordpress.org/register.

Would you be happy to create a ticket there?

[2021-03-24 02:30] talldan commented on #30137
Hi @OlaIola. Thanks for reporting this—There have been a few changes over the last few days that have hopefully fixed this.

The structure of the layout of the page changed in https://github.com/WordPress/gutenberg/pull/30013, FSE themes should be working properly since https://github.com/WordPress/gutenberg/pull/30076, and https://github.com/WordPress/gutenberg/pull/29926 hides the notices at the

[2021-03-24 02:58] timnolte commented on #25717
I am now running into this issue as well, even on the latest version of `wp-env`. I ended up going back to an earlier version that still required me to manually update both environments `wp-config.php` files with the correct DB username/password.

[2021-03-24 03:08] talldan commented on #30164
Oh no, this one was implemented as a feature 😄

Implemented in https://github.com/WordPress/gutenberg/issues/21743.

[2021-03-24 03:12] talldan commented on #30164
The button block does the same thing, and I think the two are very comparable and should work similarly.

I suggest we need design feedback on this, as it seems more like a general editor behavior that should be made consistent across blocks.

[2021-03-24 03:15] #8663 closed

[2021-03-24 03:16] talldan commented on #30159
Possibly Browse All shouldn't be shown when the quick inserter already shows all the available options (though it should take into account patterns and reusable blocks).

Just also wanted to mention there's a bug in play here (https://github.com/WordPress/gutenberg/pull/30117). Usually there would be more options available, but the Link block variations aren't working in the screen recording.

[2021-03-24 03:20] talldan commented on #30160
This would also be a nice improvement for screen reader users. I think @ZebulanStanphill has mentioned something similar in the past about the transform menu working a bit like a `<select>` input, but the user has no idea what the current value is.

[2021-03-24 03:27] Mamaduka commented on #15091
Fixed via #29966.

[2021-03-24 03:27] #15091 closed

[2021-03-24 03:46] annezazu commented on #30164
Oh whoa interesting! I think if it were more reversible this would be less jarring :D

[2021-03-24 04:28] talldan commented on #30164
You can hit enter to split into two blocks again, but the original link url will be lost from the deletion of the block.

[2021-03-24 05:08] annezazu commented on #30164
Yeah :) To me, that feels less reversible. Plus once you do that there's no indication that a link is missing.

[2021-03-24 05:23] #28864 closed

[2021-03-24 05:44] carolinan commented on #30165
Sub menus are not transparent, they have a white background by default and do not "inherit" the parent block background color.
If they were transparent the menu item would not be readable when it overlapped other content.

Changing the **navigation block** background color will change the sub menu background color.

[2021-03-24 06:01] jonathanbossenger commented on #29008
@gziolo @ceyhun based on this SO answer, `git filter-branch` should allow you to completely remove those files from the repo history https://stackoverflow.com/questions/43762338/how-to-remove-file-from-git-history#43762489

[2021-03-24 06:18] jasmussen commented on #30164
Speaking to the "submenu disappears" aspect (circling the cursor in the video), that should be fixed in #29869.

Edit: and if not by that, then by https://github.com/WordPress/gutenberg/pull/30169

[2021-03-24 06:24] jasmussen commented on #30163
It seems clear that blocks like Button, Social Link and Menu Item are all types of blocks that aren't very useful unless they have both a label(/icon) and a URL, and that anything we do to optimize for how it currently works is likely going to be less effective. That's also a bit of what we're discussing in https://github.com/WordPress/gutenberg/issues/28440#issuecomment-804771123, and I think I'l

[2021-03-24 06:27] jasmussen commented on #30159
That does seem the simplest solution, though an alternative could be a different label. I wonder if just "Browse" would work, or actually make it worse? The point is, it opens the inserter on the left, showing you the available blocks in a different interface.

[2021-03-24 06:39] jasmussen commented on #30113
I realized in testing this ticket that there's an adjacent issue, which I thought had been fixed by #29869 but it appears it hasn't. Observe this GIF:

![menus](https://user-images.githubusercontent.com/1204802/112265973-b0301180-8c73-11eb-8c0e-e511d18e2ac1.gif)

Notice how for most of the GIF the submenu being created stays open, but towards the end it disappears. The fact that it disappears is d

[2021-03-24 06:40] jasmussen commented on #30113
Actually scratch that, I might be able to fix this one.

[2021-03-24 06:41] #29984 closed, assigned to gwwar

[2021-03-24 06:48] jasmussen commented on #30113
Fix here: https://github.com/WordPress/gutenberg/pull/30169

[2021-03-24 06:56] carolinan commented on #22483
Twenty Twenty Blocks is not maintained so I was not able to test with that theme.
I am closing this issue as I am not able to reproduce it in TT1 Blocks, empty theme, Q or Armando.

[2021-03-24 06:56] #22483 closed

[2021-03-24 07:33] #29959 closed, assigned to jasmussen

[2021-03-24 08:00] jasmussen commented on #30165
Carolina explains it well.

I have this ticket that might serve as a solution: https://github.com/WordPress/gutenberg/issues/29963

[2021-03-24 08:05] jasmussen commented on #30115
To connect the dots, if we solve https://github.com/WordPress/gutenberg/issues/30116#issuecomment-804662996, this one should be solved also.

[2021-03-24 08:08] gziolo commented on #29008
We discussed options on WordPress Slack in the #meta channel (link requires registration at https://make.wordpress.org/chat/):
https://wordpress.slack.com/archives/C02QB8GMM/p1616519854024400

@dd32 shared the following:

Playing with `git rev-list --disk-usage` shows that the `gh-pages` branch is 10x the next:
[code]

I started with the first step and rewrote the history of `gh-pages` branch:
htt

[2021-03-24 08:09] jasmussen commented on #30110
I'm able to reproduce this in the site editor:

![site editor](https://user-images.githubusercontent.com/1204802/112276114-a06afa00-8c80-11eb-9401-0c1437476730.gif)

But not the post editor:

![nav items](https://user-images.githubusercontent.com/1204802/112276124-a365ea80-8c80-11eb-8d36-3d89e5cba482.gif)

CC: @youknowriad @ellatrix

[2021-03-24 08:22] talldan commented on #30113
Sorry, missed the ping. Looking at the video, I though it might be the page scrolling across that caused one of the clicks to miss and instead click the editor canvas. But sounds like you found another root cause.

[2021-03-24 08:24] landwire commented on #27137
@phmasek Thanks. I have not looked closely at ACF blocks yet, but is it possible with the ACF blocks to get the data of the ACF parent block(s)? If yes, could you share or point me to the direction on how to do it?

Basically if I have an acf block "columns" with a 50% column, would my ACF block image which is inside that column somehow know that it is inside an ACF column block? Obvioulsy that is

[2021-03-24 08:28] jasmussen opened #30170 "Blocks that link: Provide a split label/URL control and placeholder state"
## What problem does this address?

Splitting this one out from, and basing the design on https://github.com/WordPress/gutenberg/issues/28440.

When you insert a link block such as a Menu Item or a Button (to a lesser extent, a Social Link), for the block to be functional it needs to have _both a URL_ and a _label_ configured. At the moment, this happens in a single link dialog interface.

If you

[2021-03-24 08:28] jasmussen commented on #28440
Opened https://github.com/WordPress/gutenberg/issues/30170 as a followup, focused just on the updated link dialog.

[2021-03-24 08:34] jasmussen commented on #30113
I did. 30169 should address this one.

[2021-03-24 08:35] ellatrix commented on #30110
Looks like that's because for rich text, the link UI is anchored to the link in the content and for navigation its anchored to the toolbar button. Would be good for people working on the navigation block to look into this.

[2021-03-24 08:39] jasmussen commented on #30110
That's the thing, it works fine for the navigation block in the post editor. It does not work for the navigation block in the site editor.

[2021-03-24 08:41] ellatrix commented on #30110
Oh, in that case, let me have a look. :)

[2021-03-24 08:45] carolinan commented on #29963
Maybe this has been discussed but what if each menu item had its own colors?

[2021-03-24 08:48] jasmussen commented on #29963
Because submenus are children of the menu item, and because they inherit colors, if we were to allow text and background color to be chosen on a per-menu item basis (which could be interesting), submenus would inherit the colors of their parent menu item.

That wouldn't preclude us from still creating an "Overlay background color" that would override it, such as in the first of these two mockups.

[2021-03-24 08:49] ellatrix commented on #30110
Should be fixed in #30173. As I expected, the popover was missing a defined anchor ref.

[2021-03-24 08:50] jasmussen commented on #30110
You are the best of them all.

[2021-03-24 08:54] carolinan commented on #30157
We can reduce the spacer blocks in TT1 Blocks after
https://github.com/WordPress/gutenberg/pull/29779
And / Or https://github.com/WordPress/gutenberg/issues/28845

[2021-03-24 09:04] ellatrix commented on #29870
The structure I'm proposing stores ranges by format instance, not by format type.

[code]

If you enter a character at index 2, then all numbers after index 2 must be increased by 1. That seems simple enough. The same thing needs to happen at any index? Increase all numbers after the index, leave the rest alone?

I'd have to make a quick prototype to see if there's any problems with this.

I've ch

[2021-03-24 09:06] carolinan commented on #21253
I have not been able to reproduce this in the site editor, with mouse or keyboard (Chrome, Windows 10, TT1 Blocks).

[2021-03-24 09:25] carolinan commented on #23532
What if custom templates (customTemplates) had an optional lock in theme.json, and the toggle was not exposed in the UI.

[2021-03-24 09:34] carolinan commented on #23560
Why are Templates and Template Parts created from the Appearance sub menus created an edited in the post editor in the first place, and not the site editor?

[2021-03-24 09:44] #30113 closed, assigned to jasmussen

[2021-03-24 10:02] vlad-timotei commented on #30071
Most probably, another problem caused by the missing _page_ parameter in the request to the _admin-ajax_ is with  `closed-postboxes` action, resulting in failing to save the closed status of metaboxes. (see this [ forum topic](https://wordpress.org/support/topic/expand-collapse-not-saved-in-wp-admin/))

[2021-03-24 10:04] talldan commented on #29437
Hadn't thought of that. You're right, there don't seem to be any transforms for dynamic core blocks.

I guess this will be a bit more of a challenge.

[2021-03-24 10:11] #30110 closed, assigned to ellatrix

[2021-03-24 10:14] carolinan commented on #23937
I am not able to reproduce this.

Empty theme:
![image](https://user-images.githubusercontent.com/7422055/112292624-8f76b480-8c91-11eb-9fb8-e626de0b5902.png)

I was not able to re-test in Seedlet Blocks today because of unrelated issues with the current Gutenberg trunk.

[2021-03-24 10:22] talldan opened #30177 "Error when dragging and dropping inner blocks of the navigation block"
## Description
Block drag and drop seems to be buggy in the navigation block.

When dropping a block, often the block disappears, and an error is thrown in the console:
<img width="503" alt="Screenshot 2021-03-24 at 6 18 28 pm" src="https://user-images.githubusercontent.com/677833/112293711-62e08e00-8ccd-11eb-9ecf-8207cf8395cb.png">

The stack trace seems to indicate an error with one of the rich

[2021-03-24 10:28] posimyth commented on #29711
@MatzeKitt We also having the same issue. It seems to because of
`select("core/editor").isPreviewingPost()`
![image](https://user-images.githubusercontent.com/3997840/112295331-cfea2880-8cb9-11eb-81f5-f9e6ec2e73c8.png)

[2021-03-24 10:32] mikestottuk commented on #20591
👋 hopping on here too, as this has been bothering me for a while now - mainly having to move from top right focus, to bottom left for a notification which I then have to click in time before it goes away.

I agree the top floating centre is a good place for the notifications. When I hit publish (or update) the main thing I want to do is see how it looks on the front end.

So even just having a per

[2021-03-24 10:38] andfinally commented on #16613
For anyone else looking for this functionality, when the user selects an image, `onSelect` now returns an object including alt, author, caption and other useful details.

[2021-03-24 10:40] talldan opened #30179 "Navigation Editor: Use provided text for theme location name"
## Description
I have a feeling the navigation editor is showing the slug for the theme location instead of the name:
<img width="270" alt="Screenshot 2021-03-24 at 6 37 35 pm" src="https://user-images.githubusercontent.com/677833/112296869-2febc980-8cd0-11eb-9c5b-338742784a44.png">

Compared to how the current menu editor in WordPress shows the locations for the same theme:
<img width="441" alt="

[2021-03-24 10:44] carolinan commented on #24301
I found that it was not possible to use the "move to" tool to move a columns block inside a group block in the post editor either, so I don't think this is a full site editing issue.

Dragging the columns block into a group block only seems to be possible if there is content inside the group, or if the group has extra padding (spacing setting or background color).

[2021-03-24 10:52] carolinan commented on #23421
Related discussion: https://github.com/WordPress/gutenberg/issues/22469#issuecomment-724828653

[2021-03-24 11:02] carolinan commented on #24360
The original issue with the multiple inserters has been solved, can this issue be closed, and a new issue opened for changing the default block of the inserter?

[2021-03-24 11:15] #26924 closed

[2021-03-24 11:19] carolinan commented on #24630
I am not able to reproduce this, so I am closing the issue. I suspect that this was an earlier problem with template parts, as "header" is visible in the video when the inserter below the navigation block is selected.

The block patterns are available unless a block with inner blocks -like the navigation block - is selected.

[2021-03-24 11:19] #24630 closed

[2021-03-24 11:26] getdave commented on #29529
💯 this is a quick fix and would be a big win for UX.

[2021-03-24 11:52] hypest commented on #29008
Oh, right @ceyhun. I don't think WPiOS was ever using the bundle directly from Gutenberg's repo, only from gutenberg-mobile. I see what you mean now so yeah, no need for the native mobile (RN) bundle inside Gutenberg's repo 👍.

[2021-03-24 12:01] fluiddot opened #30185 "Image block: Size setting is not displayed"
## Description

The size settings is not displayed after adding an image block with an image.

I noticed this issue when testing the [PR](https://github.com/wordpress-mobile/gutenberg-mobile/pull/3304) that updates the Gutenberg reference, looks like this issue has been introduced recently in this [PR](https://github.com/WordPress/gutenberg/pull/29966).

## Step-by-step reproduction instructions

[2021-03-24 12:06] oandregal commented on #28913
@ockham has landed https://github.com/WordPress/gutenberg/pull/30035 (skip serialization for border)

[2021-03-24 12:08] oandregal commented on #20331
This week in global styles:

- Merged a few important things for theme.json: add a [layout](https://github.com/WordPress/gutenberg/pull/29335) config in theme.json, [allow themes to use any style via theme.json whether or not the block supports it](https://github.com/WordPress/gutenberg/pull/29941), translation for [custom templates](https://github.com/WordPress/gutenberg/pull/29828).
- Continue i

[2021-03-24 12:11] ndiego commented on #28636
Adding some additional info to this. When the Latest Posts block is set to show the "Full post", it does not actually render blocks on the frontend, hence the reason why dynamic blocks do not appear. If you look at the frontend markup, you will see all the block code, which is just rendered as HTML comments. See the screenshot below.

![image](https://user-images.githubusercontent.com/4832319/1123

[2021-03-24 12:25] ceyhun commented on #29008
@gziolo I went ahead and deleted the following mobile branches:
[code]

But I'm not sure about deleting this tag: `rnmobile/monorepo-commit-history`. We kept it so we can view [gutenberg-mobile](https://github.com/wordpress-mobile/gutenberg-mobile) git history from before [monorepo merge](https://github.com/WordPress/gutenberg/pull/22714). I suppose it's also the tag/branch where most of the large

[2021-03-24 13:11] youknowriad commented on #29976
@scruffian I haven't been able to reproduce the "Cover" block issue above, any example markup?

[2021-03-24 13:30] vindl opened #30191 "FSE: theme data for Global Styles and Templates"
We are storing templates and template parts in `wp_template` and `wp_template_parts` CPTs respectively. In order to associate them with their corresponding themes, we added `wp_theme` taxonomy in which the theme stylesheet is saved for each post. ([ref](https://github.com/WordPress/gutenberg/blob/da8555d258edbe676fa079fb51252f918ae032e1/lib/full-site-editing/templates.php#L86))

For storing Global

[2021-03-24 13:41] dougwollison commented on #14608
I'm currently adding this filter to work around the issue; it checks if an embed block has an iframe present, and if not runs WP_Embed::autoembed on the innerContent entry. It's not ideal (could also be more robust) but since there's no way to hook into and filter the `render_block_core_block` contents before/after it goes through `do_blocks`, I can't think of a saner way that doesn't risk breakin

[2021-03-24 13:47] MaggieCabrera commented on #29976
I couldn't reproduce myself, and I think he was using the content from https://theamdemo.wordpress.com/2019/06/24/gutenberg-cover/ I can give you access to it

[2021-03-24 13:57] SamHughes88 commented on #13282
This is still happening to me and has annoyed me for years even with the classic editor. I feel it seems to also hate tags that have been used a lot. I've tried various methods such as typing them all and waiting, typing them multiple times until they stick, quick edit and even trying to de activate all plugins. This has been a nightmare for me and my colleagues for ages so if there is a full proo

[2021-03-24 13:57] ardelmedia commented on #13282
-- Please reply above this line --

Thanks so much for contacting Ardel Media.

We're not usually around at this time today, but you can expect us to
get back to you during normal office hours. 

This reply is just to let you know that your message has arrived
safely in our inbox and we'll be with you soon.

Thank you!

Andrew ">Ardel Media Limited is a company registered in England
(company numbe

[2021-03-24 13:57] ntsekouras commented on #29784
`Query` works in a way where only one item is `editable` by selecting it (defaults to first item) and the others are just previews which aims to a more understandable UI. Every item in the loop contains the same blocks with each other and are identical in terms of content(blocks - not referring to dynamic blocks which result to different content).

I can see this creating a lot of confusion (and u

[2021-03-24 13:57] #28844 closed

[2021-03-24 14:12] paaljoachim opened #30192 "Use modal to manage templates, reusable blocks, patterns etc"
I have made a few different issues that are related to managing reusable blocks and patterns.

I believe we should have a common UX method to edit/manage be it templates, reusable blocks, patterns etc.

Using one big modal. Associated PR:
Add a full screen modal component
https://github.com/WordPress/gutenberg/pull/28574

**Here are some examples. These leave some breathing space outside the modal

[2021-03-24 14:15] bradhogan commented on #30152
Hey, @talldan I've gone ahead and submitted the ticket in the core WP tracker.  Thanks for sharing that!

[2021-03-24 14:22] mysignisleo commented on #19756
It works fine .
If i want to replace html not text, how to do it ?

[2021-03-24 14:38] Copons commented on #29784
@ntsekouras 🤔 AFAICS items in the loop are _not_ identical though: (at least?) the Post Content block is always different!
_(Unless you were talking about Post Content, when you mentioned dynamic blocks 😄 )_

I'm not familiar at all with how the Query block works, so I won't presume to know a solution or even an idea for this issue.
My concern is only relevant for the Persistent List View which, s

[2021-03-24 14:38] #30185 closed, assigned to fluiddot

[2021-03-24 14:44] annezazu commented on #30110
Thank you so much for your speedy work 🌟

[2021-03-24 15:31] paaljoachim opened #30196 "Gallery block refactor: Adding captions in the Select og Upload Media screen does not show caption in gallery"
https://make.wordpress.org/core/2021/03/23/gallery-block-update-call-for-testing/

@glendaviesnz

## Description
Adding caption to images during the Create or "Select or Upload Media" will not show the caption in the gallery.

## Step-by-step reproduction instructions

1. Use the new Gallery block.
2. Create a Gallery and add some captions.
3. Captions not seen in the Gutenberg layout screen or in

[2021-03-24 15:33] annezazu commented on #30165
Heh yes! Apologies. I was opening one too many issues yesterday. Transparent wasn't the right word. I saw that ticket as well!

Should this be closed? It's unclear to me what's expected but the current experience is a bit frustrating regardless.

[2021-03-24 15:41] paaljoachim opened #30198 "New gallery block: Selecting parent icon cursor blinks in the Gallery caption - not able to click backspace/del to remove gallery."
New gallery block.

## Description
Selecting parent Gallery icon the cursor blinks in the Gallery caption area

## Step-by-step reproduction instructions

1. Create a gallery.
2. Have one of the Image blocks selected.
3. Click the parent Gallery icon.
4. Notice the cursor blinks in the Gallery caption.
5. Click delete or backspace key and notice nothing happens.

## Expected behaviour
I expected t

[2021-03-24 15:44] scruffian commented on #29976
This seems to happen when using a background color that isn't defined, e.g.

[code]

[2021-03-24 15:45] paaljoachim commented on #29998
Hey Glenn

I am adding this in here as well: https://github.com/WordPress/gutenberg/issues/30198

[2021-03-24 15:47] #30198 closed, assigned to nobody

[2021-03-24 15:49] guarani commented on #23398
I wonder if we can draw any inspiration from [the Expo project](https://github.com/expo/expo) since we have similar goals: allow people to quickly test JS changes without having to setup iOS/Android environments locally.

The Expo iOS and Android apps are open source: https://github.com/expo/expo/tree/master/ios and https://github.com/expo/expo/tree/master/android

cc @jd-alexander who once mentio

[2021-03-24 15:52] aurelienpierre commented on #29855
I don't reproduce anymore, in the same conditions. It's weird.

[2021-03-24 15:52] mkaz commented on #29790
@jameskoster Is this still an issue for you? Can you check the console log, are there any errors there?

[2021-03-24 16:15] oandregal commented on #30191
I've added this to the list of things to do for 5.8 at https://github.com/WordPress/gutenberg/issues/20331 (see 3rd wave, theme.json group).

[2021-03-24 16:17] oandregal commented on #20331
Just added https://github.com/WordPress/gutenberg/issues/30191 to the list as well (under the theme.json group).

[2021-03-24 16:33] annezazu commented on #29237
I'm not able to replicate this anymore with 10.2.1 and WordPress 5.7. @ndiego can you? :D If not, I'll close.

[2021-03-24 16:33] Addison-Stavlo commented on #28951
should be fixed now with https://github.com/WordPress/gutenberg/pull/29842

[2021-03-24 16:33] #28951 closed

[2021-03-24 16:33] annezazu commented on #29237
Ah looks like there is a PR too in progress to fully fix any remnants of this as well. I'll wait until that's handled!

[2021-03-24 16:41] annezazu opened #30201 "Navigation Block: Unable to edit block after adding & removing blocks"
## Description

If you start from an empty navigation block and quickly add & remove a page list block you are unable to then edit the navigation block further. This seems somewhat similar to this bug: https://github.com/WordPress/gutenberg/issues/29237

## Step-by-step reproduction instructions

1. Add a Navigation Block.
2. Start empty.
3. Add a Page List block
4. Remove the same block.
5. Try t

[2021-03-24 16:57] annezazu commented on #24630
Not able to replicate either anymore! Thanks for looping back.

[2021-03-24 17:14] paaljoachim commented on #29882
Using WP 5.7.
The special Gutenberg plugin that contains the new Gallery PR.
Twenty Twenty One.

Chrome
A local test site.

**Gallery Creation**

1- Added the new gallery with the Add block and the inpage inserter. Worked.
2- Initially I dragged and dropped without first adding the Gallery block. That did not work. I then added the Gallery block dropping 4 images onto the placeholder. Works fine.

[2021-03-24 17:19] ntsekouras commented on #29784
(Unless you were talking about Post Content, when you mentioned dynamic blocks 😄 )

Exactly. I'm talking about the blocks used and Post Content is one them but is dynamic.

Agreed :)

[2021-03-24 17:22] gwwar commented on #30177
I think it's another regression from https://github.com/WordPress/gutenberg/pull/29186 I'll see if I can create a small PR for this, to see if that fixes it against trunk.

Eg c19bd61f46cead687f9627777aaa720f13832acf has the bad drag behavior and 0a91d2bb07b454f446b0e90c4aa39e2478457364 does not.

[2021-03-24 17:23] opr opened #30204 "CustomSelectControl does not prevent keypress events from bubbling up"
## Description

When you click a CustomSelectControl and start typing to move to an item, the event is not cancelled.
This _may_ be related to [`downshift`](https://github.com/downshift-js/downshift) (potentially relevant PR there, though this is from some time ago: https://github.com/downshift-js/downshift/pull/633)

## Step-by-step reproduction instructions

1. Open the storybook for this projec

[2021-03-24 18:20] jameskoster commented on #29790
Yeah it's still occurring. Here's the log:

[code]

[2021-03-24 18:25] aurelienpierre commented on #29855
Actually, it's back. The tricky thing it doesn't appear straight away, you need a couple of revisions for the post for it to popup. Then, F5 on the post admin fixes it for the next couple of minutes until it comes back again.

I can't determine a minimal reproducer for it, but LaTeX equations and raw HTML code seem to make it appear quite reliably. It happens also in plain HTML editor, not just HT

[2021-03-24 18:31] ellatrix commented on #30177
The error seems to only happen when dragging the **navigation link** block. I don't get the error when dragging the page list block within the navigation block.

[2021-03-24 18:58] gwwar commented on #30177
Summarizing a chat with Ella, we found that there's custom dragging logic added in navigation link from https://github.com/WordPress/gutenberg/pull/24479. What we can try here is removing this and revert the ability to drag items into submenus.

The breakage here is blocking another round of feedback for Full Site Editing. @jasmussen  also noted that https://github.com/WordPress/gutenberg/issues/2

[2021-03-24 19:47] kjellr opened #30210 "Make the block-pattern inserter spatially-aware"
## What problem does this address?

Currently, it's possible to insert very large block patterns into very small spaces. This ends up making them seem very broken.

![large-pattern](https://user-images.githubusercontent.com/1202812/112372875-b98e9d80-8cb6-11eb-8e1a-5a0c9e05ce12.gif)

## What is your proposed solution?

We should have some sort of logic that determines whether a block pattern shoul

[2021-03-24 20:03] annezazu commented on #30177
Just to follow up, I'm going to move forward with the Call For Testing rather than waiting for an additional plugin release but am going to note this issue as a known problem. Currently, I adjusted the steps as well to avoid this action being taken which, isn't ideal, but removes the blocker :) Thank you all for the quick work in digging into this.

[2021-03-24 20:50] gwwar commented on #30177
For folks 👀 this issue, if we decide to add back support for dragging items into submenus, one thing to be aware of is to aim for solving the general case, instead of adding custom code in the block:

[2021-03-24 21:06] tlindig opened #30213 "wp-env: start --update fails on `pecl install xdebug`"
every update of an existing docker wordpress image fails.
wp-env 4.0.0

Error message:
[code]
the problem is `pecl install xdebug`. if it does not install a new version, it fails with error code 1.

I checked it in the docker container:
[code]
that will break this:

https://github.com/WordPress/gutenberg/blob/trunk/packages/env/lib/init-config.js#L110
[code]

**More details:**
My System:
Kernel: 5

[2021-03-24 21:58] dmsnell commented on #29870
One thing to be careful with this structure is overlapping regions. That's a big problem for HTML representations too. What does this mean?

[code]

At least at its face that this cannot map back to HTML without transforming back into a proper tree.

[2021-03-24 22:18] clwill opened #30214 "Custom Posts without Support for Title Crash the Visual Editor"
## Description
Custom post type with supports array that does NOT include 'title' crashes the editor in 5.7.

## Step-by-step reproduction instructions
`register_post_type` with args that includes

        'supports'				=> array('editor', 'thumbnail', 'excerpt')

but notably does not include 'title' will crash the editor when creating a new post of that type. New post is created into the visual ed

[2021-03-24 22:32] sbathompson-he commented on #12753
Helped a client recently who offered a work-around:

Directly Quoted

if not found it really is unattached

[2021-03-24 23:01] grzim opened #30215 "Add input with save button"
## What problem does this address?

In Navigation Editor, when a menu name is changed, a user needs to hit the `save` button in order to apply the change. This is not obvious action and is not UX-friendly.

## What is your proposed solution?

As proposed by @shaunandrews we can add a component with a save button inside an input. This will make a saving action more straightforward.
![image](https:/

[2021-03-24 23:15] gwwar commented on #29437
I ended up bugfixing today, but some early thoughts:

#### Solving for the General Case

Are there any other core dynamic blocks that need information to transform in the "to" direction?

#### We need page link information

For this particular use case, block attributes are empty. So the client transform has no information.

Some quick ideas:

- Pass through extra information in `register_block_ty

[2021-03-25 00:08] rodrigo-arias commented on #11211
I got this problem after updating to WordPress 5.7.0. Legacy content with line breaks in the Classic Editor lost all spaces.

Original content
![image](https://user-images.githubusercontent.com/11416255/112398993-22d8d580-8ce4-11eb-876c-e585dff940e5.png)

After update to WordPress 5.7.0
![image](https://user-images.githubusercontent.com/11416255/112399038-3f750d80-8ce4-11eb-981b-84a38d5e1d67.png)

[2021-03-25 01:46] talldan commented on #30177
I don't think it's unreasonable for it to have been implemented in the way it was. There are other instances where things that seem like they should be handled as part of the block API are first implemented within a block (https://github.com/WordPress/gutenberg/pull/28405 is a recent one that comes to mind).

From what I understand, the navigation block is still the only block that has collapsible

[2021-03-25 01:49] talldan commented on #30152
Thanks—I'm just sharing the ticket reference here to connect things together:
https://core.trac.wordpress.org/ticket/52902

[2021-03-25 02:22] talldan commented on #30109
The block more menu is implemented in list view but inactive currently and that allows deletion - https://github.com/WordPress/gutenberg/pull/22427

When I looked at adding this to the post editor, the accessibility team were concerned about the complexity of grid navigation in List View for users, which is needed if we place a more menu or delete button in the row of the list view item: https://g

[2021-03-25 02:51] rodrigodagostino commented on #29953
What is the actual expected output? Maybe I'm trying to fight a double wrapper that should be there, but WP core blocks do have them.

[2021-03-25 04:14] talldan commented on #29437
I can't think of any. Something like Archives/Latest Posts to Post Link seems like the closest thing, but the blocks aren't useable in the same context. A lot of the existing dynamic blocks were created as replacements for widgets, so don't necessarily map to other blocks.

The server side transform sounds like the most plausible. What I have in mind is:
- Server side, the block has a transform de

[2021-03-25 04:47] carolinan commented on #29535
This is a theme support add_theme_support( 'experimental-link-color' ); expected to work without a JSON file.
So I don't think we can go with 1?

[2021-03-25 04:48] carolinan commented on #29535
Can't we add a color for the variable in the theme support? I mean similar to the color palette.

[2021-03-25 05:06] nanoanno commented on #12442
Thanks so much @stefanfisk! I was running into the white screen and was struggling to figure this one out. My taxonomy was nammed `type` ... changing this to `project_type` allowed setting `show_in_rest` to `true` to work just fine 👍🏼🎉

[2021-03-25 05:09] talldan commented on #30177
The problem seems to be related to the use of the `isDraggingBlocks` selector in the block. Just calling that selector makes the block crash even when the value is unused.

I think I can get the feature working without that selector. PR incoming.

[2021-03-25 05:18] talldan commented on #30177
#30219 fixes without removing the feature.

[2021-03-25 06:24] #28902 closed

[2021-03-25 07:28] ellatrix commented on #29870
It's possible to do that, but it needs to be split: `0<em>1...4<strong>5...8</strong></em><strong>9...13</strong>`.

We have the same issue with the current data structure, though it's handled in `applyFormat`.

For the new structure, `em` will be added first, then `strong`, then all nested tags (`strong`) need to be closed before we can close `em`, then reopen any tags that are still open accordi

[2021-03-25 07:34] aaronrobertshaw commented on #20758
The [latest PR](https://github.com/WordPress/gutenberg/pull/29363) addressing separator height is ready for some extra eyes and testing.

A few approaches have been trialled for this so I'll give a brief recap below.

### First Approach: https://github.com/WordPress/gutenberg/pull/28409
#### Single height attribute with drag resizing
- Used single height attribute
- Used `ResizableBox` to allow dr

[2021-03-25 07:37] jasmussen commented on #30165
The same PR will fix both tickets. But this one perhaps has better SEO :) So it has value for people searching. But that may be the case whether open or closed.

[2021-03-25 07:44] aaronrobertshaw opened #30222 "BoxControl: Add debounce to onKeyDown in underlying input controls"
## What problem does this address?
Currently the `BoxControl` uses the `isPressEnterToChange` prop on its underlying unit controls. This isn't consistent with a lot of other uses of `UnitControl`.

It appears that it may do this to prevent a jumpy user experience when editing values such as margins or padding. The downside is that a lot of users may not understand that they need to press enter to

[2021-03-25 08:12] ninetyninew commented on #19796
Is there a way yet to disable the following sections when editing a button block:

- Styles
- Color settings (cannot do this via editor color palette as removes everywhere e.g. cover block)
- Border settings
- Width settings

I effectively want to remove those options completely from the buttons block, I read somewhere you could override the block options panel itself and cherry pick the options r

[2021-03-25 08:23] paaljoachim commented on #30215
What about adding in a button that says save?

[2021-03-25 08:49] Mamaduka commented on #29907
The issue seems to be with the `object-position` CSS property (added via #25171). It's not in the list of allowed CSS attributes.

When non-admin recovers the block and saves it. The `object-position` attribute is stripped away, and we end up in recovery mode again.

Adding the following filter should resolve the issue.

[code]

Happy to work on PRs for the plugin and core as well.

[2021-03-25 09:33] youknowriad commented on #29976
For the drop cap, for me, it's the same between frontend and backend, you can compare properly by having a long text in the paragraph to wrap the drop cap cause otherwise the difference you'll have is related to the margins (which is a cross block issue I'm leaving for its own issue as it's kind of big)

[2021-03-25 09:35] carolinan opened #30226 "Feedback: Resetting global styles"
During a contributor day on February 5 2021, one of the tasks were to reset the styles in the global styles sidebar in the site editor.

User feedback included:
- When clicking the reset styles button, there needs to be a confirmation before resetting.
- It is difficult to see the style reset text
- The reset button is too close to the button that closes the sidebar, it is easy to click on it by m

[2021-03-25 09:43] #30177 closed, assigned to talldan, ellatrix

[2021-03-25 10:04] youknowriad commented on #29976
The Post Title block seems to be in the same size for me (default heading sizes)

[2021-03-25 10:12] oandregal commented on #28913
There's two ongoing PRs to use skip serialization for border: search block by @aaronrobertshaw #30227 and button block https://github.com/WordPress/gutenberg/pull/30194 by @ockham

[2021-03-25 10:12] carolinan opened #30232 "Saving global styles: It is unclear what the number next to the checkbox is"
## Description

When saving global style changes a checkbox is displayed, and next to it, there is a number. The number has no context.

Without looking through all of the code I will assume that this is a unique ID for the global styles and the active theme,
but for most users, this number is not relevant, and it is confusing both to sighted users and screen reader users.

![The save panel displa

[2021-03-25 10:23] oandregal commented on #29535
In https://github.com/WordPress/gutenberg/issues/29891 we're converting the link to an element ― it'll be no longer a simple color for links, it'll be able to have many more things (color background, typography, etc).

Additionally, `add_theme_supports('experimental-link-color')` only works with the plugin active and is experimental. I'm thinking that the path forward should be removing the `add_t

[2021-03-25 10:28] gziolo commented on #30082
I was thinking about that when exploring https://github.com/WordPress/wordpress-develop/pull/1118. It looks like the simplest way to keep the backward compatibility is to introduce another hook that is context-aware like:
`block_editor_settings_{$context}`

Similar to this https://developer.wordpress.org/reference/hooks/render_block_this-name/.

So the plan you outlined makes sense 👍🏻

[2021-03-25 10:30] carolinan opened #30233 "Feedback: The meaning of the Site Title block icon is not obvious"
During a contributor day on February 5 2021, one of the tasks were to change and save the site title block in the site editor.

User feedback:
When you select the site title block that is already placed in the theme TT1 Blocks,
it is easy to mistake the block for a regular H1 heading block.

The H1 symbol is more prominent and easier to recognize than the “drop” icon that is representing the site

[2021-03-25 10:36] #30087 closed, assigned to mtias

[2021-03-25 10:42] carolinan commented on #30232
I found a similar issue if there is a post in the site editor, and the post has no post title.
I did not confirm but assumed this is the post ID.

![if a post without a title is edited in the site editor, the post id(?) is showing](https://user-images.githubusercontent.com/7422055/112460367-19408380-8d5f-11eb-9897-cded4a1f3b5e.png)

[2021-03-25 10:45] grzim commented on #30215
@paaljoachim currently we have a `save` button that saves configuration from the navbar.
However, as mentioned in [comment](https://github.com/WordPress/gutenberg/pull/29012#issuecomment-785308585), it is not obvious for a user, they need to click on `save` therefore it would be better to introduce this component.

But on the other hand, we would end up in the situation, when only menu rename has

[2021-03-25 11:21] tlindig commented on #30213
I find out, the problem is the docker-compose 1.25.0-1, the default version in debian package from Ubuntu 20.04

With new docker-compose version 1.28.6 all things run fine.

[2021-03-25 11:21] #30213 closed, assigned to nobody

[2021-03-25 11:28] bobbingwide commented on #29984
I assume the fix for this will also reinstate the other missing variations: Post Link, Category link and Tag link.

[2021-03-25 11:47] gziolo commented on #27998
The mix of #30230 and #29938 should address this issue.

[2021-03-25 11:49] bobbingwide opened #30237 "Navigation menu items inserted in wrong order when created from existing menu"
## Description
I'm building my new FSE theme ( SB ) step by step on a copy of a live site.
I needed to replicate a Navigation Menu widget in my Sidebar.
The navigation menu items were not created in the order in which they're listed in the live site.

## Step-by-step reproduction instructions

Pre-requisite. Create some menus to test using **Appearance > Menus.**

1. Using an FSE theme such as TT1

[2021-03-25 11:51] oandregal commented on #28913
Labels for UI controls: closed https://github.com/WordPress/gutenberg/pull/29155#issuecomment-806583346  in favor of https://github.com/WordPress/gutenberg/pull/30075

[2021-03-25 12:08] Lovor01 opened #30241 "SVG attributes incorrectly transformed in save function"
While svg attributes with dash in the middle are correctly transformed on edit function, they are incorrectly transformed in save.

E.g. `textAnchor` is transformed in `text-anchor` in edit, but in `textanchor` in save (and consequently svg is shown incorrectly in front end, but correctly in block editor). I am suspecting on webpack configuration, I am using standard @wordpress/scripts default web

[2021-03-25 12:50] #27202 closed

[2021-03-25 13:29] bobbingwide commented on #30237
The problem occurs when I activate my [oik-types](https://github.com/bobbingwide/oik-types) plugin.
It's directly associated with https://github.com/bobbingwide/oik-types/issues/9

When the request is for `nav_menu_items` the query is being changed from `ORDER BY wp_posts.menu_order asc` to
the following.
[code]

But the post_title for nav_menu_items is not set so the actual order appears to be ra

[2021-03-25 13:54] youknowriad opened #30246 "Wrong stylesheet loading order in the editor."
When you open a saved post/page in the editor, the stylesheets are not being loaded in the right order causing potentially some differences between editor and frontend.

For example:

 - Use the empty theme (no stylesheet)
 - Add the "latest comments" block
 - Save and reload the editor
 - Notice the comment text's size is different.

This is due to the "enqueue" calls existing in the WP_Block_Typ

[2021-03-25 14:00] gziolo commented on #30246
Related work in progress in https://core.trac.wordpress.org/ticket/50328.

[2021-03-25 14:23] bobbingwide commented on #30237
I've released an update to oik-types. Closing this issue as Invalid.

[2021-03-25 14:23] #30237 closed, assigned to nobody

[2021-03-25 14:23] Lovor01 opened #30247 "Incorrect updating of innerBlocks property of block"
I am trying to write ordinal number (as text attribute in svg) before each custom inner block in my custom parent block with `Innerblocks` component.

However, I discovered that `innerBlocks` property of parent block holds incorrect information about innerblocks.

The first object in array is always the same as last item, while first block does not appear at all.

I would expect that this property

[2021-03-25 14:45] tlovett1 opened #30249 "Re-render delays in Safari in nested InnerBlocks"
## Description

I've encountered an issue in Safari when nested `InnerBlocks` are used.  When an inner block is selecting the currently selected block in the editor, it should re-render whenever a new block is selected. In Safari, there is a "lag" such that there is sometimes a second or two delay until one of the inner blocks receives the updated props and is forced to re-render. There is no lag

[2021-03-25 14:48] gwwar commented on #29984
Yes, that's correct @bobbingwide

[2021-03-25 15:02] Lovor01 commented on #30247
My mistake, it was an error in code -
this line
blockindex = bl.innerBlocks.findIndex(el => el.clientId = clientId)
should be
blockindex = bl.innerBlocks.findIndex(el => el.clientId === clientId)

[2021-03-25 15:02] #30247 closed, assigned to nobody

[2021-03-25 15:02] bph opened #30250 "Gallery block refactor: Image styles should persist when added to a Group block"
## Description
I added a few headshots to a gallery and turned the first row into round images, using the default block styles.
Then I added the gallery to a group block and on that action the image styles went back to default. (not round)
The screenshot shows the result of what I tried to do. At the bottom you see the nested breadcrumbs.
![Screen Shot 2021-03-25 at 10 48 58 AM](https://user-image

[2021-03-25 15:05] trynet opened #30251 "Unable To Access Preferences In The 3 Dots Options Sidebar At Lower Res Using FF"
Mac OS: 10.3.6 (High Sierra)
FF : Current
WP: 5.7
Theme: TwentyTwenty-One
Plugins: None

At 1280 X 720 I can't access the lowest parts of the 3 dots options sidebar. I can't do this either via mouse movement or the down arrow key.

As you can see in Screenshot 1 the last itemZ visible is "Manage all reusable blocks. Note that there is no scrollbar to the right of this sidebar.

However, when I Zoo

[2021-03-25 15:11] annezazu commented on #30109
Ah ha! Thank you for sharing the wider context and concerns around accessibility 🙌🏼

[2021-03-25 15:14] fembuelita commented on #21126
Using @smerriman's code of

[code]

in your functions.php (or wherever makes sense) in combination with your style-editor.css file:

[code]

**Does** work as a temporary work-around on this issue. I think it would be preferable more eloquently override/change/disable default settings for a single component as this is a "brute-force" approach that modifies all Gutenberg components that normally sup

[2021-03-25 17:11] ryanapsmith commented on #20321
@NickGreen you got it right, you have to enqueue the JS file that contains the snippet I provided.

[code]

`admin-blocks.js` would be the file that has the snippet in it, and the dependency array in `wp_enqueue_script` function call just makes sure the stuff you need is available.

Insert this php into your theme's `functions.php` file (easiest route), or generate a plugin and stick this in there

[2021-03-25 17:40] chipsnyder commented on #18055
I'd like to provide an update on how the Starter template flow currently works from the original post. The update UI now follows this flow and sits outside of the Gutenberg Codebase on Mobile and each of the provided templates now includes a live demo URL providing previews of the pages.

<a href="https://user-images.githubusercontent.com/3384451/85329020-bce2c780-b49f-11ea-88f3-5db30c13af03.jpg">

[2021-03-25 17:49] youknowriad commented on #29976
Tables also look the same for me, I do see borders on the frontend.

[2021-03-25 17:59] dmsnell commented on #29870
total agreement. though the question I have is whether after doing this we will still have the performance advantage over the current structure, since converting back to the tree is not a trivial operation.

would love to see benchmarks

[2021-03-25 18:00] youknowriad commented on #29976
I have a PR for the buttons block but I wasn't able to reproduce the center aligned one.

[2021-03-25 18:02] youknowriad commented on #29976
I guess the group block difference above is about the "padding" in the site editor right? If that's the case, I'll leave that separate because this padding has some wider implications

[2021-03-25 18:50] gwwar commented on #19142
Forgot to close this one out

[2021-03-25 18:50] #19142 closed

[2021-03-25 18:53] chrisvanpatten commented on #8112
This continues to be a pain point in cases where you need more intricate control over the behavior of an InnerBlocks area. There are hacks to get roughly the desired behavior, but they all come with downsides that a native API could eliminate.

[2021-03-25 19:18] gwwar commented on #10117
Verified that this is still an issue 👍

https://user-images.githubusercontent.com/1270189/112531699-1d6f9f80-8d65-11eb-8672-059f0136d22e.mp4

[2021-03-25 19:18] htmgarcia opened #30256 "Renaming a category doesn't reflect in existing Latest Posts block in page edit"
## Description

## Step-by-step reproduction instructions
1. Create a Latest Posts block
2. Choose a specific category
3. Save
4. Go to Categories
5. Edit the selected category name from step 2
6. Edit the Latest Posts block from step 1 (or just refresh)
7. Everything works fine, however category name displayed in category field is still the old one

## Expected behaviour
The category displayed on

[2021-03-25 19:27] NickGreen commented on #20321
This is a really interesting topic, and something that deserves thought into the best way that it would actually work in practice.

First of all, the cover image focal point is a set of x and y coordinates that determine the offset of the image when loaded into a container. It does not re-crop the image. If this same approach were used for the featured image, then you're relying on the theme devel

[2021-03-25 19:35] paaljoachim commented on #29190
Testing with WordPress 5.7.
Gutenberg plugin 10.2.1
Twenty Twenty One.

Added a few different blocks.
Somewhere in the middle of the page I clicked the 3 dots and selected the Move to control. The blue line showed up and I could easily move the blue line up to the beginning of the page and down to the bottom of the page without losing focus using the up and down arrow on my keyboard.
I could also

[2021-03-25 19:39] paaljoachim commented on #29190
Closing issue. It can be reopened if I am mistaken.

[2021-03-25 19:39] #29190 closed

[2021-03-25 19:42] annezazu opened #30257 "Navigation Block: Make initial configuration state look more like buttons"
## What problem does this address?

As part of the [third call for testing for the FSE Outreach program](https://make.wordpress.org/test/2021/03/09/fse-program-testing-call-3-create-a-fun-custom-404-page/#comment-1430), this piece of feedback was shared:

Specifically, these setup options:

<img width="625" alt="Screen Shot 2021-03-23 at 09 20 12" src="https://user-images.githubusercontent.com/269

[2021-03-25 19:43] noahtallen commented on #18055
I've also heard ideas about calling this feature "page patterns," similar to block patterns but for a whole page. I personally think it's a nice distinction from templates.

[2021-03-25 19:49] paaljoachim commented on #28115
Testing using WordPress 5.7
Gutenberg plugin 10.2.1.
Twenty Twenty One.

Added an internal link. Copied the text that had the link. Pasted the text and link into another text block.
I am seeing an identical link.

[2021-03-25 19:49] gwwar commented on #28115
@sabernhardt Do you mean this flow?

https://user-images.githubusercontent.com/1270189/112534621-81e02e00-8d68-11eb-8004-e939a0cf0318.mp4

For other copy/duplication paths it looks okay:

https://user-images.githubusercontent.com/1270189/112534667-93293a80-8d68-11eb-8503-cda3a3285825.mp4

[2021-03-25 19:56] paaljoachim commented on #28115
This issue might be associated:
Insert Link: clicking on same-page links reloads the editor
https://github.com/WordPress/gutenberg/issues/10117

[2021-03-25 19:56] Bysander commented on #8112
I've now lost track of the times I've had to make a block less flexible and far more restricted due to lack of a better solution here. Also allowing the conversion of items in the template - ie heading to paragraph within a semi locked down template structure is a common problem I've had to work around.

This also happens regularly when attempting workarounds - such as using dispatch to adapt the

[2021-03-25 19:56] gwwar commented on #10117
While implementing this, we may also want to keep in mind allowing browser link copy -> pasting a link on text, retaining the right link

https://user-images.githubusercontent.com/1270189/112535428-86591680-8d69-11eb-8be1-55395c83bd0b.mp4

See https://github.com/WordPress/gutenberg/issues/28115#issuecomment-807366947

[2021-03-25 20:02] strarsis commented on #20321
@NickGreen Also the WordPress image sizes support a crop offset: https://developer.wordpress.org/reference/functions/add_image_size/#parameters:~:text=x_crop_position%20accepts%3A%20'left'%2C%20'center'%2C%20or%20'right'.,y_crop_position%20accepts%3A%20'top'%2C%20'center'%2C%20or%20'bottom'.

[2021-03-25 20:10] gwwar commented on #29255
Potentially related to https://github.com/WordPress/gutenberg/issues/24611

[2021-03-25 20:13] paaljoachim commented on #29255
I was not able to produce the same thing, but with a bit of resizing the Chrome browser on my Mac OSX 10.15.7, with WP 5.7 and Twenty Twenty One I was able to produce this (This has been speeded up to make the file size smaller):

https://user-images.githubusercontent.com/5323259/112537360-ddcda580-8dae-11eb-90ae-75067b1646fc.mp4

[2021-03-25 20:13] ryanapsmith commented on #20321
@NickGreen I'd personally prefer a lossless approach. Selecting a focal point allows the theme developer greater control over aspect ratios, with the content editor only having to worry about placement within an image container, while the developer dictates final sizing across different breakpoints with the container. Cropping would produce undesirable effects there (like trying to cram a square c

[2021-03-25 20:17] gwwar commented on #29255
I was able to reproduce something similar by very slowly resizing the browser near the style previews:

https://user-images.githubusercontent.com/1270189/112537716-4182af00-8d6c-11eb-894f-f89e042e232d.mp4

[2021-03-25 20:23] strarsis commented on #20321
@ryanapsmith: Good point - but wouldn't `<picture` alleviate this issue? It allows art direction.

[2021-03-25 21:42] paaljoachim commented on #29577
Let's take a step back.
First iteration. Let's make it possible for the user to uncheck what they do not want to save and still be able to click the Save and Publish button if they choose to do so. At the moment unchecking blocks one from moving onward.
I suggest removing "Needs Design" and adding the label "Need Dev"

[2021-03-25 22:05] gwwar commented on #30177
Thanks for the alternative @talldan!

So far, I'm thinking we're re-rendering too many times and calling the selector is somehow triggering additional renders until we hit the queued update limit. We normally would see this type of react error from calling setState too many times inappropriately.

I'm still searching but it might be good to tune this. Folks did notice that typing used to slow down

[2021-03-25 23:26] sabernhardt commented on #28115
It seems this has been fixed elsewhere.

I've used the Ctrl + C/V keyboard shortcuts for copying and pasting the linked text, so it's basically the same as the browser context menu (flow 1).

I tried again today with 5.7 in Firefox 86.0.1, both with and without Gutenberg 10.2.1 activated.
- With the plugin, it pastes the link without the full URL.
- Without the plugin, it still pastes the full adm

[2021-03-25 23:46] noisysocks commented on #29036
Just noting that the two proposed solutions here were discussed in https://github.com/WordPress/gutenberg/issues/23915.

[2021-03-26 01:18] talldan commented on #30215
I noticed there's one just like this in the LinkControl component when editing a link:
<img width="380" alt="Screenshot 2021-03-26 at 9 10 20 am" src="https://user-images.githubusercontent.com/677833/112562840-320a7100-8e13-11eb-9c4c-08ccfb9c3f34.png">

But it doesn't look particularly easy to extract this into a general purpose component. There's quite a bit going on.

[2021-03-26 01:36] aaronrobertshaw opened #30262 "Gallery block refactor: Allow selection of multiple images to apply block styles"
## What problem does this address?
In the current refactored gallery state, image block styles have to be applied on an image by image basis.

https://make.wordpress.org/core/2021/03/23/gallery-block-update-call-for-testing/#comment-40962

## What is your proposed solution?
Provide the ability to select multiple image blocks within the gallery and choose the block style to apply to them.

[2021-03-26 01:40] aaronrobertshaw commented on #30262
Hi @bph, I've created this issue for your suggestion on improving image block style selection within the refactored gallery. I've also added it to the gallery block refactor project board. It was actually on our radar however a few complexities in implementing it have pushed it back a little.

Thanks for taking the time to test the gallery and provide great feedback!

[2021-03-26 01:43] aaronrobertshaw opened #30263 "Gallery block refactor: Copy "alt" text from media library when adding images"
## What problem does this address?
The refactored gallery currently does not copy the `alt` text from the media library when adding images. It might help to avoid repetitive typing if we can provide this.

## What is your proposed solution?
There might be two approaches here:
- When adding images via the media library, copy their alt text
- Provide a setting at the gallery level that would allow t

[2021-03-26 01:44] aaronrobertshaw commented on #30263
Thank for the suggestion @bph.

I've created this issue so you can track it here. It has also been added to the gallery block refactor project board.

[2021-03-26 02:53] noisysocks commented on #28668
I believe that this issue remains even after https://github.com/WordPress/gutenberg/pull/29960 although all of the IDs now use `1` instead of `-1`.

It's a little tricky to solve this because we don't know what the correct number is until the widget is saved which, in the new screen, happens _after_ the widget is added. Still, maybe we can "guess" what the number will be.

[2021-03-26 03:09] noisysocks opened #30265 "Update Customizer to use Legacy Widget block instead of outputting JSON"
When the widgets block editor was added to the Customizer in https://github.com/WordPress/gutenberg/pull/28618, it was not possible to wire up the Legacy Widget block. See https://github.com/WordPress/gutenberg/pull/28618#issuecomment-775741684 for an explanation on why.

As of https://github.com/WordPress/gutenberg/pull/29960 this should now be possible. Let's do it.

[2021-03-26 03:15] noisysocks opened #30266 "Widgets in Customizer: Remove temporary __unstable_instance hack"
A temporary `__unstable_instance` property was added to the Customizer in https://github.com/WordPress/gutenberg/pull/29365 so that we could work on implementing a widgets block editor in the Customizer while also working on fixing https://github.com/WordPress/gutenberg/issues/28902.

https://github.com/WordPress/gutenberg/issues/28902 is now fixed and so we need to remove this temporary hack.

[2021-03-26 03:17] noisysocks opened #30267 "Widgets REST API: Remove deprecated properties"
Several properties in the `/wp/v2/widgets` and `/wp/v2/widget-types` endpoints were marked as deprecated in https://github.com/WordPress/gutenberg/pull/29649.

These should be removed in Gutenberg 10.5 as it is two plugin versions ahead of 10.3.

[2021-03-26 03:20] kevin940726 opened #30268 "Adding blocks by pressing enter removes `__internalWidgetId`"
Adding blocks by pressing enter made the content of the starting block disappear from the preview.

https://user-images.githubusercontent.com/107534/112444902-36715400-8d57-11eb-8681-299832031e22.mp4

_Originally posted by @draganescu in https://github.com/WordPress/gutenberg/pull/30221#issuecomment-806462827_

Inspecting into the nextBlocks, it turns out that `__internalWidgetId` got removed when

[2021-03-26 03:26] kevin940726 opened #30269 "Add some basic e2e tests for the Widgets Editor in the Customizer"
Add some basic e2e tests for the Widgets Editor in the Customizer before removing the experimental flag.

[2021-03-26 03:38] kevin940726 opened #30271 "The inspector in the widgets customizer should follow accessibility best practices"
- Pressing <kbd>esc</kbd> should close the inspector.
- Scrolling in the inspector should trigger the header to be sticky.
- Opening the inspector should move focus to its first focusable element (the back button)

_Originally posted by @kevin940726 in https://github.com/WordPress/gutenberg/issues/29755#issuecomment-801610914_

[2021-03-26 04:08] carolinan commented on #29891
The separation of elements and blocks is clear. I do worry about the size of the file and how to keep it readable.

So it is possible to both target H1, heading block H1 and Site title
but not h1.sitetitle or a site title H1 block inside a header template area, or a post-author inside a query, correct?

[2021-03-26 04:45] carolinan commented on #26856
Are we ready to continue with updating the descriptions and placeholder contents?

[2021-03-26 05:48] #23985 closed

[2021-03-26 06:17] talldan commented on #30177
#30274 makes a small change that takes us closer to the resolving the root cause.

Still unsure why `isDraggingBlocks` was so problematic, but I'll continue looking in my spare time.

[2021-03-26 06:23] manooweb commented on #28668
Hello @noisysocks, what do you mean ?
Simply set widget id to 1 in `get_widget_form()` method correct the issue ? But I didn't see this fix in the PR #29960 you mentionned.

Or we need the PR #29960 will be merged to test again ?

Thanks

[2021-03-26 06:33] talldan commented on #30249
@tlovett1 I have a feeling this may be a similar problem to https://github.com/WordPress/gutenberg/pull/30274

If you move the `allowedBlocks` and `template` props to file level constants, does that improve things? (The diff in the above PR is an example of what I mean)

There may also be a similar issue with `renderAppender`. At the moment doesn't work so well when a function is passed, as React

[2021-03-26 06:59] talldan commented on #30256
Confirmed. It looks like the category name is saved in the block, so can go out of sync. Feels like the block should only really store the id of the category.

[2021-03-26 07:00] #26858 closed

[2021-03-26 07:17] talldan commented on #30251
This is tricky to reproduce. I resized my browser to around the dimensions mentioned, and then opened the menu and sometimes there was no scrollbar, but sometimes there was a scrollbar. It seems to trigger more often immediately after resizing the browser viewport.

[2021-03-26 07:22] #29285 closed

[2021-03-26 07:24] carolinan opened #30276 "When duplicating a Navigation or Template Part block, it's not clear why changing one changes the other"
## Description

It seems that when you duplicate a template part, it does not automatically receive a unique identifier?

In the site editor, when I duplicate a template part:
1. The title of the copy remains the same as the original
2. When I add blocks to the copy, the original template part is also updated. -Hence I can not edit the copy without also changing the original.

[-I can not change t

[2021-03-26 07:44] paaljoachim commented on #29871
Brainstorming...

What are the primary actions of an instance of a Reusable block?
To me that would be to align (left, center, right, wide or full width) and perhaps other controls that affect only the instance of the Reusable block as seen on any Gutenberg page/post.

What are the secondary actions of an instance of a Reusable block?
These might be actions that affect the Reusable block in itself

[2021-03-26 07:48] ToxicTree opened #30278 "Failing to update posts"
## Description
It's not possible to update posts.

## Step-by-step reproduction instructions
Press update on a post that has some normal content like text and images.

## Expected behaviour
A nice "Post updated" response.

## Actual behaviour
Post can't be updated. A message is shown: "Failed to update post, the response is not a valid JSON-response".

## WordPress information
- WordPress version:

[2021-03-26 07:59] carolinan opened #30279 "The post excerpt warning can not be selected"
## Description

When a post excerpt block is added directly in the site editor and the warning "Post excerpt block: no post found." is shown,
the block can not be selected by keyboard or mouse click, and it can not be deleted or moved.

It can be selected via the list view, and this opens the block settings sidebar, but the warning has no toolbar.

## Step-by-step reproduction instructions

Please

[2021-03-26 08:17] #26244 closed

[2021-03-26 08:31] draganescu commented on #28668
How does the customizer work? I can add widgets there and they get the correct number and the form fields are correct without the widgets being saved or published. Can't we do something similar?

[2021-03-26 08:44] jasmussen commented on #30257
Good ticket, thank you.

It is quite important for page templates that the initial setup state for the navigation block is _not_ tall, like those of the Query or Image block. Consider that it may be pre-inserted in a Header template, and if it were large, it would [break the layout](https://github.com/WordPress/gutenberg/issues/20853#issuecomment-621030013).

In https://github.com/WordPress/gutenb

[2021-03-26 08:46] youknowriad commented on #4505
The issues raised here actually fixed now with the new "theme.json" layout system. The implementation is different but the principles are the same.

[2021-03-26 08:46] #4505 closed

[2021-03-26 08:54] youknowriad commented on #14454
Looks like we have this now.

[2021-03-26 08:54] #14454 closed

[2021-03-26 09:05] youknowriad commented on #30278
Hi there! this is not the case in regular Gutenberg installs. I'd suggest you debug your install a bit further and provide more information about it.

 - did you try disabling some of your plugins too check whether it's coming from one of them?
 - Did you check your PHP logs to check whether you have php errors.
 - You can also check the result of the API request (the POST request) in the network

[2021-03-26 09:30] jameskoster commented on #26856
@carolinan yes, we need to. Previews are also missing for most of these blocks. We may need to break this down in to smaller issues though as it is quite a big task. I opened https://github.com/WordPress/gutenberg/issues/30029 for the placeholders/previews specifically, which feels like the most pressing item.

[2021-03-26 09:40] jameskoster commented on #30029
Some initial ideas for simplest text-based blocks:

| Block | Placeholder |
| --- | --- |
| Site Tagline | The site description  |
| Site Title | The site title  |
| Login/out | Log in |
| Post Title | The post title |
| Post Content | The content of a post, page, or any other content-type. It may include a variety of different blocks like paragraphs, lists, image galleries, and more. |
| Post Aut

[2021-03-26 09:49] jameskoster commented on #29577
I can't make up my mind on whether the areas should jump around when changes are discarded 🙃 Hopefully it's something we can try when a PR has been assembled.

I think the design in https://github.com/WordPress/gutenberg/issues/29577#issuecomment-802958322 is ready for development. But this is blocked by https://github.com/WordPress/gutenberg/issues/29147.

I suspect the autosaving behaviours desc

[2021-03-26 10:34] hypest commented on #29008
Good point Ceyhun. The commit history is indeed available in gutenberg-mobile's repo, but I think it's quite hard to connect the dots as that repo has also moved on. All in all, I'd prefer if we keep the `rnmobile/monorepo-commit-history` for some more time. Anecdotally, I did use that branch a couple of weeks ago while trying to understand the code history of how selection messages get triggered

[2021-03-26 10:36] youknowriad commented on #5650
This is now addressed with the new layout config in theme.json and container groups.

[2021-03-26 10:36] #5650 closed

[2021-03-26 10:38] #7776 closed

[2021-03-26 10:38] youknowriad commented on #7776
This is solved now.

[2021-03-26 10:43] youknowriad commented on #9811
Closing. `render_block` is indeed a better solution when it comes to altering the markup without risking invalidation.

[2021-03-26 10:43] #9811 closed

[2021-03-26 10:45] jasmussen commented on #30177
I managed to get a crash today, and posting here because it seems relevant to what @gwwar mentions about re-rendering too many times:

<img width="508" alt="Screenshot 2021-03-26 at 11 43 25" src="https://user-images.githubusercontent.com/1204802/112620294-9dab0900-8e28-11eb-9550-19316a03cb86.png">

What I did was:

- I had an existing navigation block on the page
- I selected it, copied it (⌘C)
-

[2021-03-26 10:46] youknowriad commented on #10193
We did a lot of improvements to the editor styles and now there's a "reset" that is always loaded to default to browser defaults where there's no editor styles That way for theme authors, the frontend matches the editor whether they load editor styles or not.

[2021-03-26 10:46] #10193 closed

[2021-03-26 10:50] youknowriad commented on #11671
I think @aristath did a lot of work on this, are we ready to close this issue now?

[2021-03-26 10:50] fluiddot opened #30286 "Inserter menu: Assure a minimum blocks list height"
## Description

Related to adding the reusable blocks list to the inserter menu, I added segmented control for having tab navigation and I realised that the blocks list size is reduced by the rest of elements.

## Step-by-step reproduction instructions

1. Add an empty View with a specific height (something like: `<View style={ { backgroundColor: 'red', height: 120 } } />`) to the [inserter menu](

[2021-03-26 10:52] youknowriad commented on #11689
Looks like this issue might be something to consider for the #core-css meetings. cc @ryelle (update the docs in core about the CSS conventions)

[2021-03-26 10:55] fluiddot commented on #30286
One option I'm evaluating is to add a `header` prop to the `BottomSheet` component, this way we could render the extra elements (like the search input) as the header and let the content (the blocks list) to grow and fit all the height.

cc @jhnstn

[2021-03-26 11:00] ghost opened #30288 "Block Editor Link control search doesn't work for Author Role"
## Description
The Gutenberg Block Editor > Link Control doesn't list the topic names for specified search keywords. This issue occurs for the user with Author role. However, the control works fine for a user with Administrator Role.

## Step-by-step reproduction instructions
1. Go to Editing a custom post/ Add new custom post.
2. Click the "link" icon on the Gutenberg Editor Quick toolbar or pres

[2021-03-26 11:02] Lovor01 opened #30289 "@wordpress/scripts 14.0.1 incorrect creation of css source maps"
After updating to 14.0.1 version of @wordpress/scripts, css source maps are incorrectly generated for setup of multiple blocks in one plugin (tested on two machines, both in firefox and chrome browsers)

Source map for style-index, blocks front-end is generated only for last compiled block (I am using setup with more blocks in separate directories, all imported from common index.js in the root. Ea

[2021-03-26 11:36] gziolo commented on #29008
It looks like the changes applied so far had an impressive impact on the repository size:
<img width="263" alt="Screen Shot 2021-03-26 at 12 34 25" src="https://user-images.githubusercontent.com/699132/112625733-9dfad280-8e2f-11eb-8388-07205658ce83.png">

Do you think we can further decrease the size or is it fine to close this issue for now?

[2021-03-26 12:08] mtias commented on #30226
Regarding the placement, the latest round of design concepts is placing these "meta" tasks (also things like revisions, etc) in the bottom of the panel:

![image](https://user-images.githubusercontent.com/548849/112629254-59256a80-8e34-11eb-85e8-bbdc28bcd58a.png)

[2021-03-26 12:10] mtias commented on #30232
Yes, this definitely needs some improvements :)

cc @javierarce as part of looking at the multi-entity saving flow.

[2021-03-26 12:11] mtias commented on #30232
An initial thought is this should always use the "title". If a post doesn't have a title, should say "(untitled)". For global styles, it'd be nice to set a title on the post type object that holds the style info like "Custom Styles". cc @nosolosw

[2021-03-26 12:14] ockham opened #30292 "E2E Test Utils: Add assertion that no block deprecations happen"
I've noticed that I'm seeing lots of block deprecations in the browser console when either
- creating a new post, or
- inserting a block (need to double-check).

When Gutenberg is run from a clean slate -- i.e. with no content created in previous versions, and no 3rd party blocks active -- there shouldn't be any block deprecations run in these cases.

As @youknowriad pointed out to me in Slack, it

[2021-03-26 12:18] youknowriad commented on #30292
I think we should also improve the logs when deprecations trigger. I wonder if we can log something "expandable" (not sure if console supports things like that).

[2021-03-26 12:31] ockham commented on #30292
Maybe this? https://developer.mozilla.org/en-US/docs/Web/API/Console/groupCollapsed

Edit: Examples here: https://developer.mozilla.org/en-US/docs/Web/API/Console#using_groups_in_the_console

[2021-03-26 12:45] youknowriad commented on #16370
I think we should close this issue now, the original intent of it is solved and there are separate issues for other improvements.

[2021-03-26 12:45] #16370 closed

[2021-03-26 12:47] youknowriad commented on #18217
This is not valid anymore.

[2021-03-26 12:47] #18217 closed

[2021-03-26 12:51] youknowriad commented on #22529
This is not valid anymore

[2021-03-26 12:51] #22529 closed

[2021-03-26 12:55] youknowriad commented on #22747
I think that's the correct behavior. Padding and gutter options would allow better control over this. right now it's the theme responsibility to provide the right CSS.

[2021-03-26 12:55] #22747 closed

[2021-03-26 12:56] youknowriad commented on #24597
I think the crux of the issue is solved now that we can set custom units for columns.

[2021-03-26 12:56] #24597 closed

[2021-03-26 12:58] youknowriad commented on #25905
Closing as this works as intended. In fact the proposed behavior was how it worked originally and it was too confusing for users.

[2021-03-26 12:58] #25905 closed

[2021-03-26 13:05] critterverse opened #30294 "FSE: Unified keyboard shortcuts for sidebars"
As keyboard shortcuts are in the process of being implemented in the Full Site Editor as a part of #[21245](https://github.com/WordPress/gutenberg/issues/21245), it might be a good time to discuss potential keyboard shortcuts for the additional sidebars that have been added.

The sidebars that can be toggled from the top toolbar, from left to right, are:

- Full Site Editor navigation
- Inserter
-

[2021-03-26 13:39] gziolo commented on #23636
I started JS implementation in #30293.

[2021-03-26 13:47] trynet commented on #30251
Yes, that's correct and I see what you mean.  When the height of the viewport is reduced (less than the height of the full screen) the scrollbar does appear.  But, as you saw, there certainly is an issue when the height of the viewport is the same as the height of the screen at 720px.

[2021-03-26 13:49] ellatrix commented on #30177
@jasmussen Do you get the error with @talldan's PR #30274?

[2021-03-26 13:52] tlovett1 commented on #30249
I removed the custom `renderAppender` and moved `template` and `allowedBlocks` to file level constants. Problem still occurs.

[2021-03-26 13:52] skorasaurus commented on #30214
Confirmed; I'm able to reproduce this using WordPress nightly and Gutenberg 10.2.1

[2021-03-26 13:58] Locheed opened #30296 "Add templateLock attribute to core/cover."
## What problem does this address?
core/column and core/group did get the templateLock attribute. However, it would be good to have this option with other blocks too. e.g. **core/cover**. This block is awesome but cannot be really used on the client's site because it cannot be locked.

This however does work as a top-level block with inheriting templateLock from InnerBlocks.  But now there does no

[2021-03-26 13:59] skorasaurus commented on #29671
Hi,

Thanks for reporting;
This has been discussed and/or requested in https://github.com/WordPress/gutenberg/issues/8112. Feel free to [add your reaction](https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/about-conversations-on-github#reacting-to-ideas-in-comments) and follow its progress in the issue.

[2021-03-26 13:59] #29671 closed

[2021-03-26 14:25] tmdk commented on #29814
@ribaricplusplus your fix in https://github.com/WordPress/gutenberg/pull/30053 works for me 👍

[2021-03-26 15:09] kjellr opened #30297 "Allow themes to supply the font weight used for "Bold" in theme.json"
Themes can currently provide a font weight using theme.json:

[code]

We should figure out a way for the theme to specify a font weight for when the "Bold" (`<strong>`) setting is applied to that text as well:

![Screen Shot 2021-03-26 at 11 07 07 AM](https://user-images.githubusercontent.com/1202812/112652096-6ab24680-8e23-11eb-800f-fed07687455b.png)

It's plausible that if a theme had lighter de

[2021-03-26 15:48] paaljoachim commented on #30071
These might be associated:

No way to drag metabox back into sidebar / below content if there are no other metaboxes there
https://github.com/WordPress/gutenberg/issues/7960
PR: https://github.com/WordPress/gutenberg/pull/25187

Meta box back-compat concurrency.
https://github.com/WordPress/gutenberg/issues/10711

Meta boxes: update core styles to match Gutenberg's
https://github.com/WordPress/gut

[2021-03-26 15:52] cryptomrmage commented on #9220
I had this problem, and can confirm that closing the extra browser window on Firefox resolved the issue.

[2021-03-26 16:05] tlovett1 opened #30299 "Parent block delayed re-render after inner block move in Safari"
## Description

I've encountered an issue in Safari when inner blocks are moved.  Although the inner blocks move correctly, the parent block sometimes receives the updated inner blocks with their new ordering after a few second delay. This does not happen in Chrome.

This could be related to #30249

## Step-by-step reproduction instructions

I've created a proof of concept block to reproduce the p

[2021-03-26 16:10] annezazu commented on #30257
Love your iteration!

[2021-03-26 16:24] gziolo commented on #30289
Hey, thank you for the report. Is your repository public so we could check the setup, or at least it would be great to have some more details on how the project is exactly structured, does it use the default webpack config, etc.?

[2021-03-26 16:41] joedolson commented on #30157
For a general reference, the spacer block needs to serve very different purposes depending on whether it's viewed from the perspective of the editing process or in the front-end UI of the site.

In the front-end of the site, it needs to be totally silent: it should be hidden from screen readers and should never contain content of any kind - including CSS content using `:before` or `:after`. This i

[2021-03-26 17:01] mkaz commented on #25587
@skorasaurus That's a good question, I'm not sure how long you think the change might take, ie. will you be done prior to the Gallery changes get merged. I would normally work off trunk and then you can help rebase that PR when ready. It's a bit of a race, but hopefully either direction isn't too much work to change for whichever is ready first.

[2021-03-26 17:32] jasmussen commented on #30177
I did see that same error trying 30274 just now:

<img width="895" alt="Screenshot 2021-03-26 at 18 32 16" src="https://user-images.githubusercontent.com/1204802/112670773-a1a74d00-8e61-11eb-882b-5e9da54b8164.png">

[2021-03-26 17:44] draganescu opened #30305 "Opting out of the widgets-block-editor theme support crashes the editor serverside"
Since merging #29649 we introduced a `show_instance_in_rest ` property to widgets to determine their visibility for the Legacy Widget Block and other consumers.

Because core widgets don't yet have this property we have a function `gutenberg_set_show_instance_in_rest_on_core_widgets` which as the name says adds this property and sets it to true.

However part of the core widgets we also consider `

[2021-03-26 17:53] joedolson commented on #30041
With WCAG 2.1, control size needs to cover a minimum area of 44px by 44px, unless there is a duplicate control on the page that serves an equivalent purpose. This is an AAA criterion, but it's one that we'd like to do our best to approach when we can.

28x28 is a good start. If we can move it up further, however, that would be great.

[2021-03-26 18:02] #28098 closed

[2021-03-26 18:31] ntsekouras commented on #19740
Hey @DeveloperWil - is this still relevant? I tried to find some code through the last year that would have solved this but with no luck. It seems okay :)

<img width="267" alt="Screenshot 2021-03-26 at 8 28 56 PM" src="https://user-images.githubusercontent.com/16275880/112677231-239f7200-8e72-11eb-8ac6-718802e3f663.png">

[2021-03-26 18:39] eric-michel commented on #12742
@joyously, agree here. I was just trying to use this documented filter before realizing it didn't work in Gutenberg. Our theme is set up to use Featured Images differently depending on settlings chosen in the customizer, so we need a PHP filter that can conditionally change the help text based on those selected settings.

The Featured Image input is incredibly unclear on what it does, and is indee

[2021-03-26 19:07] gziolo commented on #30299
Thanks for the report with the very detailed reproduction 👍🏻

It looks similar to https://github.com/WordPress/gutenberg/issues/28166 that seems to be fixed in https://github.com/WordPress/gutenberg/pull/29892 by @ellatrix. We would need to re-test with the Gutenberg 10.3-rc1 and see if it's still valid.

I see another similar report related to nested blocks and Safari in https://github.com/WordPr

[2021-03-26 20:15] joyously commented on #12742
It seems like it would be pretty simple. Maybe if you ask in the #core-editor channel for someone to add this to the next milestone?
_By the way, you need momentum to overcome inertia. There's plenty of inertia already._

[2021-03-26 20:21] grzim opened #30307 "Navigation Editor - make all config from InspectorControl saved on clicking the save button"
## Description

Currently, Theme Locations settings and `add new pages` toggle are being saved immediately on click.
This is probably not desired and should rather be saved on clicking the `save` button as it can lead to strange quirks for users visiting the site while it is being configured by the owner.

However, we have also other elements in Inspector Addition, which could be also misleading.

[2021-03-26 22:07] cbirdsong commented on #29356
I've also encountered this issue several times.

[2021-03-26 22:28] annezazu commented on #29879
This came up as part of the [third round of testing for the FSE Program](https://make.wordpress.org/test/2021/03/09/fse-program-testing-call-3-create-a-fun-custom-404-page/#comment-1451) as well even after trying to form the test to avoid this issue:

Further to this experience, it's basically impossible to add a template part without using the "Insert Before" option as no + button appears above t

[2021-03-26 22:37] annezazu commented on #29337
As this continues to be explored, I wanted to bring in some feedback from the[ third call for testing for the FSE Outreach Program:](https://make.wordpress.org/test/2021/03/09/fse-program-testing-call-3-create-a-fun-custom-404-page/#comment-1451)

While making these patterns to edit similar between the two makes sense, it might also inadvertently increase confusion around when to use each (templat

[2021-03-26 23:04] annezazu opened #30308 "Reusable blocks: enable usage in Site Editor"
## What problem does this address?

This came up as [part of the third FSE call for testing](https://make.wordpress.org/test/2021/03/09/fse-program-testing-call-3-create-a-fun-custom-404-page/#comment-1451). Essentially, while you can create and search for a reusable block when in the Post Editor, you're unable to do so in the Site Editor.

https://user-images.githubusercontent.com/26996883/112701

[2021-03-27 08:41] paaljoachim commented on #25805
Retesting on a client site using a
custom theme,
WP 5.7 and
Gutenberg plugin 10.1.1.
(There are also various other plugins activated.)

Existing post.
Went to upload a featured image.
Noticed the white screen error.
Opened the Console screen and uploaded another image. This is the error I see:
(Shows the moxie.min.js error as mentioned above by @ajlende Alex.)

Uncaught TypeError: Cannot read prop

[2021-03-27 08:53] paaljoachim commented on #25805
Retesting on a client site using a
custom theme,
WP 5.7 and
**updated Gutenberg plugin to 10.2.1** I also cleared the cache this time. I had not done so for the above test.
(There are also various other plugins activated.)

 Image uploaded with no error seen. It looks like a fix has been added to Gutenberg plugin 10.2. or 10.2.1.

@ockham @talldan @ellatrix

[2021-03-27 09:11] priethor commented on #30308
Thanks for following up on this, @annezazu!

I'm not sure the solution is to enable reusable blocks in the site editor but to better let users understand the difference between them. To me, what causes confusion is not being able to add reusable blocks in the site editor, but being able to add template parts in both the site editor and the post/page one.

Otherwise, I would directly think template

[2021-03-27 11:33] Quintis1212 commented on #30158
Hello @annezazu  and @tomdkat  . I finded the source of bug . There is a before element that has absolute position which covers buttons , when position absolute is disabled all is working :
![before-el](https://user-images.githubusercontent.com/34488718/112719238-a242f080-8f00-11eb-9032-7c1a212d71f9.png)

This before element is used for  outline on hover . I think it will be better implement outli

[2021-03-27 11:49] imintenn commented on #28644
I do not have time to test this problem.  I have decided to deactivate the Gutenberg plugin since the navigation block does not work in my application.  Hopefully this resolves in a later version.
Thank you for the support.

[2021-03-27 12:43] Lovor01 commented on #30289
No, it is not public, perhaps I could share some key files which reveal structure of imports. I tested also version 14.1.1-next.5c9849e156.0, but nothing changed, source maps are still not 'aggregating' files.

[2021-03-27 14:43] tomdkat commented on #30158
Will the "Upload", "Media Library" and "Insert from URL" links be retained?  Outside of that, your proposed solution sounds good to me.  :)  Thanks!

[2021-03-27 15:12] Quintis1212 commented on #29988
Hi ) I will fix this bug )

[2021-03-27 17:43] annezazu commented on #30308
Makes sense! This feels similar to this current experience with the navigation block where only so many blocks are available to be used but the UI doesn't make that clear (it just feels broken): https://github.com/WordPress/gutenberg/issues/30159

Let's wait to hear from someone who might have more information on whether this is a decision or a missing feature. I can update the issue appropriately

[2021-03-27 17:53] gziolo commented on #30289
It can be a simplified project that reproduces the issue. What was the previous version you were using that worked fine?

[2021-03-27 23:03] joshm33333 commented on #28790
can i just add, i've been using gutenberg, along with my team of developers, for almost 2 years now, for over 50 clients.
every single one of my team members agrees, the drag and drop scrolling behavior is bad

    1. click and drag, move mouse to desired target area
    2. wait for screen to scroll (which is very slow cause theres so much html and javascript going on)
    3. do a little dance wit

[2021-03-28 09:39] meglio opened #30312 "npx: command not found: create-block - when using pnpx"
## Description

Cannot use pnpx instead of npx:

`pnpx @wordpress/create-block wp-test`

...throws an error:

## Step-by-step reproduction instructions

Run `pnpx @wordpress/create-block wp-test`

## Expected behaviour

Expect it to work the same as if when `npx` is called:

`npx @wordpress/create-block wp-test`

## Actual behaviour

Throws an error:

## WordPress information

Not applicable. I am

[2021-03-28 15:07] AtrumGeost commented on #29885
I was working with a customer today who ran into this same issue (has 1600 reusable blocks) with the latest version of WP and Gutenberg (running on WordPress.com). However, in this case, the issue is not happening only on the latest version of WordPress. Here's a link to the WordPress.com forums where the issue was initially reported:

https://wordpress.com/forums/topic/cant-edit-any%e2%80%91pole-

[2021-03-28 18:00] Quintis1212 commented on #30158
Yes )

[2021-03-28 18:11] tomdkat commented on #30158
On 3/28/21 11:00 AM, Quintis1212 wrote:

Excellent!  Thanks for fixing this so quickly!  :)

[2021-03-28 19:37] paulschreiber opened #30316 "Provide named export in ServerSideRender"
## What problem does this address?
Current behaviour:
[code]

Since importing from `@wordpress/editor` is deprecated, it'd be nice to be able to import from `@wordpress/server-side-render` in the same way.

Right now, `server-side-render` only provides a named export, not a default export.

Debugging this took quite a while.

[2021-03-28 19:39] Julianoe commented on #29826
Is there an open issue about this interface problem? Displaying only the icon creates some troubles for users to identify what the button is made for. At least before the labelled button was clear about what it did. The choice of icon is very very confusing. It could totally be a button to duplicate the block. If the icon needs for people to be hovered every time to see what it does, then it does

[2021-03-28 19:41] Julianoe commented on #29178
Is there an open issue about the icon choice. How can one understand that this icon is doing this action without hovering it to read the tooltip? Show this to non-technical users or not very familiar with the editor and they will either think it's a copy/duplicate button or not even know what it does. I've had several calls about this from end-users.

[2021-03-28 19:43] stokesman commented on #30158
It appears this is a duplicate of #29835 which has already been closed with the fix in #29860. The fix is scheduled to be included in the next minor release.

I'll close this one. It'd be nice if there was a way to help prevent this type of thing from happening. Though probably that's an issue for Github itself. I think the best way would be by inserting and refining a list of possible duplicates

[2021-03-28 19:43] #30158 closed, assigned to nobody

[2021-03-28 19:49] ranthonysteele commented on #29178
Yes. I thought it meant duplicate myself. Perhaps a box with rays coming
out instead? (Explode) explode is what you call reducing CAD blocks to
their simple constructs.

In Autocad the blocks are drawings in themselves, just as the reusable
blocks are documents in themselves. Which reminds me. Reusable blocks
should be an editing choice from the side menu, so that you can easily find
them to add o

[2021-03-28 20:16] peroyomas commented on #18895
Not sure if a new block is needed for this, but something that can help a lot is a **core shortcode that displays the current year**. Many themes has a similar solution to keep the copyright updated, so it may be good to feature it in core, too.

[2021-03-28 22:06] Lovor01 opened #30317 "Add className and Id to the InnerBlocks component"
Currently, it is not possible to add class or id as props to InnerBlocks.
I propose adding `className` and `id` props on component, so InnerBlocks container could be easier styled.

[2021-03-28 22:18] DeveloperWil commented on #19740
Seems to be resolved for me now.

[2021-03-28 22:18] #19740 closed

[2021-03-28 22:22] Lovor01 commented on #30317
After further thinking, I think they are not necessary after all. They would only apply to editor and you can uniquely style the block with combination of provided classes

[2021-03-28 22:22] #30317 closed, assigned to nobody

[2021-03-28 22:39] Tropicalista commented on #29826
@Julianoe I agree with you. There's a discussion on improve that interface here: https://github.com/WordPress/gutenberg/issues/29871#issuecomment-808010739

[2021-03-29 01:59] talldan opened #30319 "Navigation screen: snackbar component invisibly takes up full-width, blocking clicks to other parts of the UI"
## Description
Snackbar notifications in the editor have a transparent wrapper that blocks clicks to other parts of the UI.

See also https://github.com/WordPress/gutenberg/issues/20654 and https://github.com/WordPress/gutenberg/pull/21000 for a previous example of this bug. It'd be good to understand why this is suddenly an issue again.

## Step-by-step reproduction instructions
1. Trigger a snac

[2021-03-29 02:32] talldan commented on #30316
@paulschreiber I think it's the other way around, right?

It is documented correctly, so I don't really see this as an issue. A default export is perfectly legitimate and plenty of npm packages do this.

I'm going to close this. If you feel like contributing a PR with the change, then that may be considered, but I don't think there's value for the project in keeping this kind of issue open.

[2021-03-29 02:32] #30316 closed, assigned to nobody

[2021-03-29 02:36] talldan commented on #30312
@meglio I'd recommend raising this with the pnpx project. If the goal is for it to be compatible with npm, then it seems more like a bug there than here.

If the command is failing with `npx` then that's something that would be considered a bug.

[2021-03-29 02:36] #30312 closed, assigned to nobody

[2021-03-29 02:55] paulschreiber commented on #30316
@talldan Going from:
[code]

to
[code]

and getting:
[code]

and hundreds of lines of backtraces, all of which is in library code … is no fun. I'd be happy to make a PR, but I am not sure which file(s) to change. Can you point me in the right direction?

[2021-03-29 03:55] #25435 closed

[2021-03-29 04:00] talldan commented on #30316
The file that has the default export is https://github.com/WordPress/gutenberg/blob/trunk/packages/server-side-render/src/index.js#L53

[2021-03-29 04:05] paulschreiber commented on #30316
Would I want to add this?
[code]

[2021-03-29 04:08] talldan commented on #30316
I think it'd be:
[code]

[2021-03-29 05:00] TheSimArchitect commented on #29826
I am also having issues to select the entire reusable block. It is VERY hard to do that, I need to keep trying and trying to avoid editing inside a reusable block when I want to move/remove/convert it entirely.

It would be nice it if were easier to select the entire thing easily like before.

[2021-03-29 05:03] TheSimArchitect commented on #29871
I also find it difficult to select the entire reusable block (which may contain multiple blocks inside) and I have to keep hovering and clicking until I click the exact "pixel" I am supposed to. Can't navigate using the keyboard either, that just takes the cursor to the block above but the reusable is never entirely selected like before.

[2021-03-29 05:54] gziolo commented on #27028
Reverted in #30320 by @noisysocks due to issues with `wp-scripts start` in Gutenberg. It was also reported in https://github.com/WordPress/gutenberg/pull/27821#issuecomment-808925495 by @stokesman.

[2021-03-29 06:16] talldan opened #30322 "Navigation screen: Better handling of unsaved changes"
## What problem does this address?
The navigation editor currently doesn't warn if a users attempts to exit without saving.

There are a few instances this may happen:
1. A user makes some changes, and navigates away
2. A user makes some changes and switches to a different menu
3. A user makes some changes and creates a new menu

Some of the challenges here are because the menu screen allows users

[2021-03-29 07:05] talldan opened #30323 "Navigation screen: The 'Open in new tab' setting is not saved"
## Description
In the navigation screen, using the 'Open in new tab' option on a link has no effect.

## Step-by-step reproduction instructions
1. Add a menu item with a link and enable the open in new tab option
2. Save and reload
3. View the link for menu item just added
4. Observe the option is disabled again
5. View the menu on the front end of the site
6. Click the link—it doesn't open in a n

[2021-03-29 07:18] ddryo commented on #27139
@Bysander
Thank you for the information.

I was also worried about the problem that `removeBlock()` could not be used when using `templateLock`, but I found this page and solved it by using `replaceInnerBlocks()`.

[2021-03-29 07:19] talldan opened #30324 "Navigation screen: Block toolbar contains uncentered icons"
## Description
The block toolbar contains some uncentered icons.

This seems like an extension of the issue seen at https://github.com/WordPress/gutenberg/pull/30284. The block toolbar has some styles that are applied to specific screens.

See https://github.com/WordPress/gutenberg/issues/29965 for some of the issues with implementing block toolbars.

For now, it's probably worth putting in a quic

[2021-03-29 07:22] ddryo commented on #27139
@tellthemachines
However, I would like to have an option that can force `removeBlock()` and `removeBlocks()` to be executed, so I will present it here as a functional request.

[2021-03-29 07:23] aristath commented on #11671
Yes, this has been addressed in multiple PRs and can be closed 👍

[2021-03-29 07:23] #11671 closed

[2021-03-29 07:28] talldan opened #30325 "Navigation screen: consider automatically selecting navigation block when switching menus"
## What problem does this address?
When switching or creating menus, currently the new menu is loaded, but nothing on the screen is selected, which possibly makes the user question what to do next.

## What is your proposed solution?
It might be expected that the navigation block is selected so that a user can see the settings for the menu they've created or switched to.

[2021-03-29 07:36] talldan opened #30326 "Navigation screen: On mobile viewports, reveal the block inspector when clicking the menu name button"
## Description
The block toolbar for the navigation block has a button that a user can use to rename their menu. Clicking the button focuses the menu name input field in the block inspector

Currently on mobile viewports the block inspector is collapsed by default, so clicking the button has no effect

## Step-by-step reproduction instructions
1. Open the nav editor and switch to a mobile viewport

[2021-03-29 07:42] talldan opened #30327 "Navigation screen: Show the updated name everywhere when a menu name is edited"
## Description
When editing a menu name, the changes made are not reflected everywhere else until the menu is saved

Technically, this is because other parts of the screen display the saved version of the menu entity instead of the edited entity.

## Step-by-step reproduction instructions
1. Update a menu name

## Expected behaviour
The menu name is updated on other parts of the screen:
- the head

[2021-03-29 07:49] talldan opened #30328 "Navigation screen: Use a consistent approach for saving menu settings"
## What problem does this address?
In the navigation editor, some menu settings on the navigation block save instantly when modified, while others don't.

This might seem unusual to some users as the settings are part of the navigation block, and in all other instances block settings don't save until the save button is clicked.

## What is your proposed solution?
Either:
1. Only save changes when

[2021-03-29 08:06] talldan opened #30329 "Navigation screen: Possible to edit a non-existent menu from Manage Location dialog button"
## Description
The manage locations dialog has an edit button that allows the user to edit the specified menu.

If the user has no menu selected in the dropdown, it has the weird behavior of allowing the user to edit a menu that has not yet been created.

## Step-by-step reproduction instructions
1. Add a menu
2. Select the navigation block
3. From the block inspector, select the Manage Locations

[2021-03-29 08:10] talldan opened #30330 "Navigation screen: regression of improved menu locations select placeholder"
# Description
The improved placeholder from https://github.com/WordPress/gutenberg/pull/29908 has regressed.

This change will need to be reimplemented.

## Step-by-step reproduction instructions
1. Open the nav screen
2. Select manage locations
3. View the locations menu select elements

## Expected behaviour
The improved placeholder is visible

## Actual behaviour
The improved placeholder is not

[2021-03-29 08:15] talldan opened #30331 "Navigation screen: Manage location edit button misaligned"
## Description
The manage locations dialog in the nav screen has a misaligned dialog

## Step-by-step reproduction instructions
1. Visit the nav screen
2. Select the nav block
3. Select manage locations
4. View the dialog

## Expected behaviour
The Edit button is aligned correctly.

## Actual behaviour
The Edit button is misaligned

## Screenshots or screen recording (optional)
<img width="371" al

[2021-03-29 08:25] youknowriad commented on #28356
Started working on some of these. First thing is adding padding block support to dynamic blocks.

[2021-03-29 08:45] jameskoster commented on #29871
@TheSimArchitect we're exploring a solution to that in https://github.com/WordPress/gutenberg/issues/29337 :)

[2021-03-29 08:47] aaronrobertshaw opened #30334 "Gallery block refactor: Caption toolbar is not dismissed when cropping image in place"
## Description

Within the new refactored gallery, choose to crop an image in place and accidentally click into the image's caption field, you cannot dismiss the `RichText` toolbar without cancelling image crop mode.

Report: https://make.wordpress.org/core/2021/03/23/gallery-block-update-call-for-testing/#comment-40970

## Step-by-step reproduction instructions

1. Select image in gallery
2. Clic

[2021-03-29 08:58] javierarce commented on #29846
+1 to adding a snackbar.

If I'm not mistaken, looking [at the code of the save function](https://github.com/WordPress/gutenberg/blob/a9622b81bc2066c5d38c6726678349618ebbda6b/packages/editor/src/components/entities-saved-states/index.js#L62) we do have access to the kind, name, and key information of the saved entities, so I think we could be pretty specific with the message we show.

I think we c

[2021-03-29 09:31] TheSimArchitect commented on #29871
Nice!!!

[2021-03-29 09:34] jasmussen commented on #29963
I updated this ticket to clarify the best path forward.

[2021-03-29 10:00] javierarce commented on #27896
Maybe I'm missing something, but to me this feels like a bug: after navigating out of the template editing mode, shouldn't the unchecked items be discarded automatically?

[2021-03-29 10:58] jameskoster opened #30338 "General Template Part icon can be confusing"
At the moment Template Part blocks assigned to the "General" `area` utilise the "Layout" icon, which is the same icon we use for the "top level" templates like Index.

This is problematic because the UI hints that these two site building elements are the same thing. It gets especially confusing when a general Template Part is nested inside a header template part:

<img width="346" alt="Screenshot

[2021-03-29 11:02] jameskoster commented on #30338
We have the following icons for templates, and the other template part `area`s:

<img width="625" alt="Screenshot 2021-03-29 at 11 59 39" src="https://user-images.githubusercontent.com/846565/112827469-4bffba00-9086-11eb-95bc-94f3ebd21436.png">

Perhaps the "General" Template Part could use an inverse of the `layout` icon?

<img width="143" alt="Screenshot 2021-03-29 at 11 56 17" src="https://user

[2021-03-29 11:39] draganescu commented on #28267
*Notes*

The shortcut Primary + A twice will trigger `multiSelect` between the first and the last block in `getBlockOrder()` a selector in the block editor store which accepts an optional `rootClientId` "of the block list for which the order should be returned, defaulting to the top-level block order".

It feels like the `getBlockOrder` selector should either default to parent as  `rootClientId` o

[2021-03-29 12:32] carolinan commented on #30029
I am wondering about this `Login/out | Log in` because in the editor we are always logged in, should it not be "Log out"?

[2021-03-29 12:47] #22645 closed

[2021-03-29 13:28] gziolo commented on #27028
Another attempt in #30347.

[2021-03-29 13:29] mkaz commented on #29459
Yes, I can take a look at adding the controls and see if the existing CSS would work as expected.

[2021-03-29 13:37] scruffian commented on #26899
One way to achieve this this might be to let users set "display: flex" on the group block... https://github.com/WordPress/gutenberg/issues/24473

[2021-03-29 13:38] scruffian commented on #24473
This would be very useful for themes

[2021-03-29 13:40] scruffian commented on #24957
This should also be able to link to the post permalink.

[2021-03-29 13:47] scruffian commented on #24952
I think it would also be nice to have an option for an icon on this block similar to this:

<img width="95" alt="Screenshot 2021-03-29 at 14 47 27" src="https://user-images.githubusercontent.com/275961/112846194-b112da00-909d-11eb-9456-586f97eec746.png">

[2021-03-29 13:49] scruffian opened #30348 "Post Hierarchical Terms Block: Add icon"
It would be nice to have an option icon next to categories etc. like this:

<img width="147" alt="Screenshot 2021-03-29 at 14 49 45" src="https://user-images.githubusercontent.com/275961/112846479-02bb6480-909e-11eb-981c-de81ff33be53.png">

[2021-03-29 14:16] jameskoster commented on #30029
I was thinking about it from the hypothetical visitors perspective, who in most cases will be logged out. It's not a strong feeling though. "Log out" works too :)

[2021-03-29 14:20] skorasaurus commented on #29827
Hi,

Thanks for reporting.

Could you share if you're able to reproduce this using the Gutenberg plugin and also what `add_theme_support` function that you were using to disable the dropcap ?

[2021-03-29 14:32] ntsekouras commented on #30201
Hey @annezazu - I couldn't reproduce this.. 🤔 . I even tried with `Navigation` in `Columns` and `Template Parts` like your video. Is this still happening for you?

[2021-03-29 14:36] jens-struct commented on #29827
Hello.

Yes, i also tried the latest version of the gutenberg plugin, but the experimental-theme.json is always ignored.

Do you know another way to disable dropcaps in wordpress 5.7?

I didn't use the `add_theme_support` function to disable the dropcap, as far as i know that's not possible. That was just an additional info, that some `add_theme_support` features (i.e. "disable-custom-colors") are

[2021-03-29 14:41] skorasaurus commented on #29632
Hi,

Thanks for clear write-up and providing a test case.  I'm able to reproduce this on Gutenberg 10.2.1.

A related case is at https://github.com/WordPress/gutenberg/issues/25216 ;
More broadly, it appears that block recovery is not functioning as intended with blocks that have a templateLock (or Template_lock if you use php) applied to them.

[2021-03-29 14:44] gikaragia opened #30350 "Maximum update depth exceeded error when calling replaceInnerBlocks"
## Description
The crash happens when `replaceInnerBlocks` is called with specific arguments. We encountered this bug while testing the plugin `Sensei LMS` with WP version 5.7. Unfortunately I wasn't able to be able to reproduce the bug outside of our plugin.

The loop seems to be introduced by the function `useNestedSettingsUpdate` and in [the `isShallowEqual` check](https://github.com/WordPress/

[2021-03-29 14:52] #30305 closed, assigned to noisysocks

[2021-03-29 15:05] ddryo opened #30352 "I want to run a function when moving blocks."
Thank you for always working hard on development.

When a block moves, is there a way to receive the information of the moved block and run the function?

If you don't have a way to do that, please consider implementing it.

I'm creating a slider block, but there's no way to automatically focus on that block after moving it.

![my-slider](https://user-images.githubusercontent.com/31400297/11285723

[2021-03-29 15:25] Tropicalista commented on #23893
@aristath This code does not solve the problem of inline hover or pseudoclass. A more generic interface must be provided..

[2021-03-29 15:48] bradhogan commented on #30152
Hey @talldan I just realized this issue only occurs IF the Gutenberg plugin is active.  So I suppose this is an issue with Gutenberg (and not core WP).  Are you able to re-open this ticket?

[2021-03-29 16:15] jameskoster commented on #29148
Probably worth considering the part patterns will play in this environment, particularly some of the ideas we explored in https://github.com/WordPress/gutenberg/issues/28737#issuecomment-782052856.

Edit: Also whether one might access isolated tp editing via the new persistent list view.

[2021-03-29 16:18] jameskoster commented on #30029
I wonder what scope there is for these "post" block placeholders to be dynamic. While thinking about the template mosaic view for instance, it would be potentially confusing to see "The post title" in the page template.

If not dynamic, they perhaps need to be even more generic. Consider the singular template which can display posts _and_ pages. What should the Post Title block placeholder display

[2021-03-29 16:24] annezazu commented on #29846
I dig that approach!

[2021-03-29 16:24] eric-michel commented on #12742
@joyously Thanks! I will see about popping in there to get a feel for where they are. I wish I could work on this myself but am still way out of my depth with React.

[2021-03-29 16:50] ntsekouras commented on #29921
Fixed by: https://github.com/WordPress/gutenberg/pull/29922

[2021-03-29 16:50] #29921 closed

[2021-03-29 16:51] ntsekouras commented on #29266
Fixed by: https://github.com/WordPress/gutenberg/pull/29922

[2021-03-29 16:51] #29266 closed

[2021-03-29 17:09] annezazu commented on #27896
I'm not quite sure what the intent is :D Good question though. @jameskoster do you have a sense of this?

[2021-03-29 17:14] ntsekouras commented on #21663
Implemented here: https://github.com/WordPress/gutenberg/pull/27240

[2021-03-29 17:14] #21663 closed

[2021-03-29 17:16] skorasaurus commented on #29827
Thanks for the clarification.

I found [this snippet ](https://github.com/WordPress/gutenberg/issues/6184#issuecomment-804942313) and am able to disable dropcaps in 5.7 using that. You'll need to change `global` to defaults, not unlike https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-json/#settings

As a result, I am closing the issue.

As for the `add_theme_support`; I am s

[2021-03-29 17:16] #29827 closed

[2021-03-29 17:31] zackkrida commented on #29795
I believe this can be safely closed as it was fixed via #29796.

[2021-03-29 17:36] jasmussen commented on #29795
Excellent! Thanks everyone.

[2021-03-29 17:36] #29795 closed

[2021-03-29 17:48] DenisFlorin opened #30354 "When I activate 'add text over image' content goes to a gray section and I can't access it or continuing working on next sections below"
## Description
When I activate 'add text over image' content goes to a grey section and I can't access it or continuing working on the next sections below

## Step-by-step reproduction instructions

Please list the steps needed to reproduce the bug. For example:
1. Go create a new page
2. Click to add new block -> Patterns -> Columns
3. Scroll down to two columns of texts and images and add them t

[2021-03-29 17:50] SiobhyB opened #30355 "Mobile: Missing READMEs for Some Mobile Components"
As part of a discussion with @enejb around https://github.com/WordPress/gutenberg/pull/29670, it came up that some mobile components are missing READMEs. This can be seen by browsing through a few different folders in the `components/src/mobile` folder: https://github.com/WordPress/gutenberg/tree/trunk/packages/components/src/mobile

In our discussion, we agreed that READMEs are a good way to comm

[2021-03-29 17:51] tomjn commented on #30046
I can confirm the current release of the Gutenberg plugin has this problem, with the same rules overriding the system font and replacing it with `serif`:

<img width="507" alt="Screenshot 2021-03-29 at 18 43 55" src="https://user-images.githubusercontent.com/58855/112877662-f1cf1b00-90be-11eb-9a9a-00da7604f72f.png">

Which I believe comes from here:

https://github.com/WordPress/gutenberg/blob/883

[2021-03-29 17:55] xavivars opened #30356 "Blocks: Add isDefault to server side block styles registry"
## What problem does this address?
[As documented here](https://github.com/WordPress/gutenberg/blob/trunk/docs/reference-guides/filters/block-filters.md#block-style-variations), block styles can be registered both server side (using PHP method `register_block_style`) and client side (using `wp.blocks.registerBlockStyle`).

While server-side registration is a convenient method to easily register ne

[2021-03-29 17:55] tomjn commented on #30046
Given that the `reset.scss` file doesn't exist on the latest version of the main branch, it's possible this has been fixed already/accidentally, it will need retesting. I'd also advise that testing of the plugin be done on a barebones minimal theme such as underscores which lacks an editor stylesheet

[2021-03-29 18:22] DaisyOlsen commented on #30308
My initial reaction to this was pretty dramatic but I'll dust off my site-creator hat for a moment. The power of a reusable block lies in its central management and automatic propagation. Create it once, use it multiple places, modify it in one place with changes reflected instantly, everywhere.

If the solution, as @priethor suggests is to use template parts in a post or page what is the point of

[2021-03-29 18:41] annezazu commented on #30201
@ntsekouras Yes! Just replicated again this morning. Are you using the latest from trunk though? Right now, my test site is still using 10.2.1 so you might have a more up to date snapshot. I need to reset my local site after running into a larger FSE issue 😬

[2021-03-29 18:56] ceyhun commented on #29008
We're thinking of keeping a fork of `gutenberg` just for the `rnmobile/monorepo-commit-history` tag and maybe we can delete it here then. It would be worth keeping this open a little while longer while we figure this out.

Thanks @mchowning for coming up with that idea!

[2021-03-29 19:06] critterverse opened #30357 "Reusable block: Adding more functionality to Settings"
Hi all, I’m looking into a couple of different issues that are currently being tracked in Improvements to Reusable Blocks #27890:

- Ensure post revisions are enabled for reusable blocks #19149
- Allow users to see and navigate to posts using a given Reusable blocks from ~~the post type management screen~~ Settings
- Allow deleting a reusable block from the inspector #28355

Reusable blocks are bo

[2021-03-29 19:22] skorasaurus commented on #30356
Thanks for reporting. It's worth noting that [there has been discussion on reconceptualizing what 'default' means when registering a block style and removing the isDefault property](https://github.com/WordPress/gutenberg/issues/20706) although no decision has been made.

[2021-03-29 19:45] grzim commented on #30307
How about adding a message, that will appear when a user makes any change that will inform them, they need to save their work?

![image](https://user-images.githubusercontent.com/8398557/112891135-0e2b8180-90d8-11eb-9dd3-da14ec13b736.png)

[2021-03-29 19:48] bradhogan opened #30359 "Media & Text block: allow video embed in addition to photo"
## What problem does this address?
Currently, the "media & text" block only allows images to be placed in the "media" column.

## What is your proposed solution?
The "media" should include all media (i.e. video such as Vimeo or Youtube embed options).

[2021-03-29 19:53] critterverse commented on #29871
These are great questions @paaljoachim — I'm also looking at the division between primary/secondary controls for the Reusable block in #30357. Attempted a breakdown/overview there!

[2021-03-29 20:14] gwwar commented on #29437
One idea @dmsnell had was to refactor the page list block to save navigation links as inner blocks (instead of producing the custom markup we generate), which would allow us to use the existing block transform API.

Page lists are currently embeddable outside of the Navigation block so there are some corner cases to consider, but it might be worth exploring.

[2021-03-29 20:16] chyvak1831 commented on #28842
**The same thing.**

- Wordpress: 5.7
- Theme: twentytwentyone 1.2

No plugins, no custom code. As I see - for set width inline image is used inline `style width`, but in attribute `sizes` sets largest image width.

As for me - it's definitely bug.
![image](https://user-images.githubusercontent.com/11210100/112894577-b3e4ed80-90e4-11eb-9d8d-9f56bd1a94b5.png)

[2021-03-29 20:18] chyvak1831 commented on #28842
one more clarification: inline CSS image width works correct, **but why it does not affects on sizes**? Why always largest size?
Loads so large image size - no make sense what visually size setup...

![image](https://user-images.githubusercontent.com/11210100/112894863-15a55780-90e5-11eb-8596-480afac11f34.png)

[2021-03-29 21:48] stokesman commented on #30222
I tend to agree that the UX would be improved without `isPressEnterToChange` and it'd probably be fine to remove it for now.

The caveat is that it's intended to allow changing units by typing. E.g. typing <kbd>10%</kbd> + <kbd>Enter</kbd> can change the units to percent (source: https://github.com/WordPress/gutenberg/pull/25933#issuecomment-705550921). Though I don't know anywhere that's currentl

[2021-03-30 00:27] mkaz commented on #27565
Note: PR https://github.com/WordPress/gutenberg/pull/30353 just merged that addressed some of these issues. I think we still need a conflict updated on PR #27749 to be able to merge in your changes and wrap up this issue.

[2021-03-30 01:04] orenwolf opened #30360 "Editors getting a 403 from REST API when attempting to search author list in a post"
## Description
I'm betting related to WordPress/gutenberg#26476 and WordPress/gutenberg#26554 - editors cannot pull the full list of authors (we have hundreds on our site) - they receive:

[code]

..and subsequently can't search for a username beyond what was initially loaded.

## Step-by-step reproduction instructions
While all steps may not be required, this is what works:

As an Editor, on a si

[2021-03-30 01:13] jeremyfelt commented on #23275
Via #30300:

@ntsekouras @david-szabo97 This ticket was auto-closed when #30300 was merged. Can it be reopened until a more complete solution is in place? Thanks!

[2021-03-30 01:14] jeremyfelt commented on #24505
This was partially addressed in #30300. I think this ticket (#24505) can be closed as a duplicate of #23275.

[2021-03-30 01:57] talldan commented on #30350
@gkaragia This sounds like a similar issue to https://github.com/WordPress/gutenberg/pull/30274. Do any of your block edit components create a new array for `allowedBlocks` for every render? I think this could also happen with the `template` prop if any of your blocks do similar there.

[2021-03-30 02:04] glendaviesnz opened #30361 "Gallery block refactor: image selection border hard to see in some cases"
Depending on which color a theme sets the selected block border to it can be difficult to see which image is currently selected:

![border](https://user-images.githubusercontent.com/3629020/112922517-197abd80-9169-11eb-9466-653611792afe.gif)

Hard to know how to solve this given this color is set by theme, but t is more obvious if round style shown, so maybe some spacing between image and border w

[2021-03-30 02:38] glendaviesnz opened #30362 "Gallery block refactor: rotating image forces all images on row to same aspect ratio"
If one image is rotated 90 degrees it is forced to portrait aspect ratio, which forces all images in same row to same aspect ratio which can force images to stretch:

![rotate](https://user-images.githubusercontent.com/3629020/112925206-f999c880-916d-11eb-872b-38833d850f26.gif)

[2021-03-30 02:42] glendaviesnz opened #30363 "Gallery block refactor: transforming to columns produces unexpected result"
When you transform the Gallery to a Columns block it just wraps the entire Gallery in columns. It would perhaps make more sense to move the images from the gallery parent block to the columns block.

It is also not possible to undo this transform in one step.

[2021-03-30 02:44] glendaviesnz opened #30364 "Gallery block refactor: consider ghosting moving image on drag and drop, and expanding drop zone"
In normal content editing flow it makes sense not to have a copy of the block remain in place whilst you drag the block to its new location. However when using drag and drop in Gallery not leaving the original block in place whilst you drag can cause unwanted layout shifts. It might be worth considering cloning the block being dragged and leaving the original block in place until such time as the

[2021-03-30 03:00] talldan commented on #23667
I think this might be a firefox only issue

[2021-03-30 03:00] talldan commented on #24281
Haven't seen this fail for a while, so closing.

[2021-03-30 03:00] #24281 closed

[2021-03-30 03:06] talldan commented on #27318
I haven't experienced this for a while. Will close, but can always reopen if the issue returns.

[2021-03-30 03:06] #27318 closed

[2021-03-30 03:12] talldan commented on #28825
Closing as the toolbar for template part no longer has an input (https://github.com/WordPress/gutenberg/pull/27397#issuecomment-784069932)

[2021-03-30 03:12] #28825 closed

[2021-03-30 03:53] glendaviesnz commented on #29882
Thanks for all the testing @paaljoachim

@paaljoachim, I wasn't able to replicate this - are you able to provide a screen capture of the full add and delete process, and a copy of any error messages that show in browser console when the error occurs please?

To convert an old gallery block to a new one you need to use the Transform menu and select the option to transform to 'Gallery' - it would be

[2021-03-30 05:35] gziolo commented on #29008
We can wait a few more weeks, no worries. The smaller size of the download necessary to clone the repository is worth it 😄

Thank you for all the help so far 🙇🏻

[2021-03-30 05:37] torounit commented on #26458
@bluisier

I was not able to reproduce this issue.
I think it has already been resolved at https://github.com/WordPress/gutenberg/pull/28211.

 still experiencing this issue?

[2021-03-30 06:03] torounit commented on #21904
This problem still reproduced.

Gutenberg: 10.3.0-rc.1

[2021-03-30 06:17] aristath commented on #23893
Yes, that code was a simple proof of concept, something to show that it is doable. If it is decided that we should move away from inline styles, then a more robust and abstract solution will need to be implemented.

[2021-03-30 06:18] EdwardBock opened #30367 "Visualize auto close comment option at comment_status control"
## What problem does this address?

If you enable the automatic deactivation of comments after 21 days in the options, no comments will be displayed in the frontend after this time. So far so good. But as an author you don't necessarily have information about these settings and then wonder why nothing is displayed despite activated comments.

## What is your proposed solution?

I think it would be

[2021-03-30 07:12] talldan commented on #29747
I gave this a quick go, but quickly realised that challenge will be opening the accordion on the frontend with a click or focus. At the moment, all submenus open using hover.

[2021-03-30 07:12] kristarella commented on #8867
+1

customer request: 3841566-zd

[2021-03-30 07:31] gikaragia commented on #30350
Indeed @talldan we passed a new array for `allowedBlocks` in every render. Applying a similar fix with #30274 solved it. Thank you!

The underlying cause is going to be solved by #30311

[2021-03-30 07:35] getsource commented on #26710
Hi, and for those following, sorry that this has taken so long for a response since the initial report.

This issue was mentioned in a [triage session today](https://wordpress.slack.com/archives/C02QB2JS7/p1617083005046000).

I tested by setting my keyboard in Windows 10 to the Polish one, and was able to enter `ą` key with RAlt+a into Edge 89.0.774.63, using the most recent Core trunk nightly.

I

[2021-03-30 07:35] #26710 closed

[2021-03-30 07:54] ntsekouras opened #30369 "Context detection for Query block"
We need to find a way to detect the context a `Query` block 'lives' and handle any settings needed appropriately. By `context` I mean FSE context (site-editor) or a page/post (post-editor). Moreover is valuable to even know the kind of template we are on FSE context (related: https://github.com/WordPress/gutenberg/issues/29438).

Noting that we'll also have to take into account what happens when w

[2021-03-30 07:58] talldan commented on #30350
Great, glad it was solvable. I'll close the issue.

[2021-03-30 07:58] #30350 closed, assigned to nobody

[2021-03-30 08:01] talldan commented on #30328
Duplicate of https://github.com/WordPress/gutenberg/issues/30307

[2021-03-30 08:01] #30328 closed, assigned to nobody

[2021-03-30 08:05] talldan commented on #30307
@grzim Other editors do have systems in place for handling unsaved changes. I made a separate issue for that in the navigation editor - https://github.com/WordPress/gutenberg/issues/30322.

So I think we can consider this as two distinct problems to solve.

[2021-03-30 08:11] jasmussen opened #30370 "Navigation Block: Sidebar/Inspector control improvements & allow always-collapsed menu"
## What problem does this address?

The inspector controls for the navigation block have grown organically and is deviating from proposals in #27331 and https://github.com/WordPress/gutenberg/issues/27473#issuecomment-796773866 in a few ways.

<img width="318" alt="Screenshot 2021-03-30 at 09 48 50" src="https://user-images.githubusercontent.com/1204802/112954334-96dd0880-913e-11eb-8453-8fea0c3779

[2021-03-30 08:27] obulat commented on #29995
Thank you for reporting this, @imation4430!
The good news is that Gutenberg editor shows embedded posts correctly, just as you see in the second screenshot. The bad news is that there is a bug in rendering the WordPress post embed blocks. The issue has been reported on Trac: [WordPress post URL oEmbed rendering blocked by iframe lazy-loading](https://core.trac.wordpress.org/ticket/52768). You can

[2021-03-30 08:27] youknowriad commented on #28356
Started working on the margin block support in #30371

[2021-03-30 08:31] jasmussen commented on #29995
Thanks for ticket and thanks for the triage @obulat! I'm going to go ahead and close this ticket in favor of the trac counterpart, as that's the one to follow for a solution.

[2021-03-30 08:31] #29995 closed, assigned to nobody

[2021-03-30 08:41] maddisondesigns opened #30372 "FSE breaks admin when WooCommerce is active"
## Description
I wanted to try out the new **Full Site Editing** feature. After installing the [TT1 Block theme](https://wordpress.org/themes/tt1-blocks/) as recommended by [this post](https://make.wordpress.org/test/2021/03/09/fse-program-testing-call-3-create-a-fun-custom-404-page/), I then clicked on the new _Site Editor_ menu option, causing the Dashboard to break.

After checking my plugins,

[2021-03-30 08:48] jasmussen commented on #30177
I'm seeing a crash with starting in select mode and selecting the navigation block:

![crash](https://user-images.githubusercontent.com/1204802/112961264-7fede480-9145-11eb-912a-c2db174901c3.gif)

[2021-03-30 09:01] youknowriad commented on #27315
I've started working on the margin issue and I've been thinking about this issue too.

The global variable proposal is interesting, it's a convenient one for sure, but it's also an opinionated one.
It seems to me what we want is:

1- Being able to apply a consistent "margin" to all blocks. With the "margin" block support, we can do that by targeting specific blocks in theme.json but we lack a way

[2021-03-30 09:08] jameskoster commented on #27896
Yeah I think this is an oversight. I agree with @javierarce – the unsaved changes should be discarded.

[2021-03-30 09:11] jasmussen commented on #27315
To me the biggest problem with the block margins as they exist ([see Carolina's comment](https://github.com/WordPress/gutenberg/issues/27315#issuecomment-788586786)) is that they apply to _every single block in existance_, including passthrough blocks like "Column", and including horizontal blocks like Button, which arguably should have an entirely different set of margins.

In other words, the cu

[2021-03-30 09:12] hypest commented on #30355
Interesting idea! Sounds like it can be useful to document components, although I'm not sure what exactly to document and how to keep the documentation healthy and up-to-date.

@enejb , can you perhaps share an example?

Also, not sure, is this a practice used in Gutenberg-web as well? I think I'm not seeing the individual components be documented via READMEs, right? And if not in Gutenberg-web ye

[2021-03-30 09:12] youknowriad commented on #27315
or in theme.json which is what I'm proposing here and we don't really need to unset them since it will take over and will be backward compatible.

[2021-03-30 09:15] jasmussen commented on #27315
It's a bit tricky and similar to https://github.com/WordPress/gutenberg/pull/30337#issuecomment-809317837. Is there now way we can output those margin rules only for themes, and opt-out or simply not load them for block-themes?

[2021-03-30 09:18] mrfoxtalbot opened #30373 "Limit option to make a post sticky to Public posts only"
A private post cannot be set as sticky. Only public posts can be sticky. This was reflected clearly in the Classic Editor, as the "sticky" option was shown only beneath the "Pubilc" status:

<img width="459" alt="Screen Shot 2021-03-30 at 10 24 52" src="https://user-images.githubusercontent.com/4452464/112962352-93e61600-9146-11eb-9613-1227b631818f.png">

Setting the post as Password Protected or

[2021-03-30 09:19] youknowriad commented on #27315
It is possible yes, we can do like "layout" styles and only load them for themes without theme.json.

--
Thinking more here, regardless of whether #29714 lands or not, if we do want to allow themes to target all blocks and define margin for them, we need one of these two:

 - an `all blocks` context somehow in theme.json that excludes the "root"
 - an opinionated variable (which I don't like :p )

[2021-03-30 09:23] youknowriad commented on #28356
Padding server-side support flag is now merged.

[2021-03-30 09:23] jasmussen commented on #27315
Right, the key bit is to not repeat the mistakes of the past and assume that every block should have a margin. It can get extra complicated, for example, if you want to zero out the top margin of the first paragraph in a group, and the bottom margin of the last paragraph in a group. So it's key that whatever margin values we output from theme.json values have as low specificity as possible. I.e. `

[2021-03-30 09:24] youknowriad commented on #27315
Global styles don't generate inline styles, they generate exactly that.

[2021-03-30 09:40] jameskoster commented on #30357
I still don't think that converting to regular blocks is a primary action, but it's not a hill I will die on :D

I think the snackbar approach would feel more streamlined. Especially if you consider situations where there are unsaved changes to the document. If we were to send folks to the RB list view on trash, we'd first have to ask them if they want to save their changes. It could all get very

[2021-03-30 09:40] scruffian commented on #27315
This would be great!

[2021-03-30 09:44] mtias commented on #27315
In my mind we would have a more abstracted setting such as "Space between blocks" that would be configured globally and apply to vertical and horizontal inner blocks. This setting would be opinionated in that it might reset for the first and last element of a nested group by default. Individual blocks could overwrite this with `margin`.

The place in global styles for this would be `{context}.spac

[2021-03-30 09:45] youknowriad commented on #27315
@mtias that makes sense and aligns with the third option here https://github.com/WordPress/gutenberg/issues/27315#issuecomment-810061215

[2021-03-30 09:52] talldan commented on #30177
Ella's PR https://github.com/WordPress/gutenberg/pull/30311 should solve these issues occurring across any block.

The reason why this was still happening after #30274 is that the nav block also had the same issue. I've created https://github.com/WordPress/gutenberg/pull/30374 to tidy up.

[2021-03-30 09:59] jasmussen commented on #30177
Thanks for following up on this!

[2021-03-30 10:00] ribaricplusplus commented on #28703
Docker containers are meant to be immutable: The environment is declaratively defined in a `Dockerfile`, thus it's easily reproducible.

As far as I know, the `Dockerfile` that defines `wp-env` WordPress containers cannot be modified by `wp-env` users. They have to modify files (e.g. `php.ini`) inside of a running container which breaks the point of Docker being immutable and reproducible.

So eit

[2021-03-30 10:08] gziolo commented on #22417
It's being discussed in https://core.trac.wordpress.org/ticket/52854, so let's close this issue in favor on the WordPress trac ticket.

[2021-03-30 10:08] #22417 closed

[2021-03-30 10:12] SiobhyB commented on #30355
An example of a README that helped me a lot is for the BottomSheetSubSheet component, I feel like it saved me a bunch of time. :) https://github.com/WordPress/gutenberg/tree/trunk/packages/components/src/mobile/bottom-sheet/sub-sheet

This question prompted me to search to see if there was an open issue for the web, as I also see a few missing READMEs there. A search for `label:"[Type] Documentati

[2021-03-30 10:14] ntsekouras commented on #30201
Yes 😄

[2021-03-30 10:14] gziolo commented on #16509
WordPress is dropping support for IE 11 later this year so this issue is no longer relevant:

https://make.wordpress.org/core/2021/03/25/discussion-summary-dropping-support-for-ie11/

Thank you everyone for all the time spent on exploring this idea 🙇🏻

[2021-03-30 10:14] #16509 closed

[2021-03-30 10:31] imation4430 commented on #29995
Thanks to you I have solved the problem by adding the code:
function disable_post_content_iframe_lazy_loading ($ default, $ tag_name, $ context) {
     if ('iframe' === $ tag_name && 'the_content' === $ context) {
         return false;
     }
     return $ default;
}
add_filter (
     'wp_lazy_loading_enabled',
     'disable_post_content_iframe_lazy_loading',
     10,
     3
);
as you indicated t

[2021-03-30 10:42] gziolo commented on #25077
Some more links:

- [All About Vite with Evan You - the episode of ShopTalk podcast](https://shoptalkshow.com/454/)
- [SvelteKit is in public beta](https://svelte.dev/blog/sveltekit-beta) - they are recommending Vite 2 for Svelte development, they were initially using Snowpack

[2021-03-30 11:07] aristath commented on #30372
Closing as duplicate of https://github.com/WordPress/gutenberg/issues/29132

[2021-03-30 11:07] #30372 closed, assigned to nobody

[2021-03-30 11:40] ribaricplusplus commented on #28703
If we decide to go the `phpConfig` route, I've created a PR with the implementation because I need this feature.

[2021-03-30 12:11] jameskoster commented on #29031
Adding the Needs Dev label. I think we can fine tune the language / graphics in a PR.

[2021-03-30 12:44] Mamaduka commented on #25668
Hi, @ThatStevensGuy

I couldn't reproduce the issue using the current version of WordPress (5.7) or the Gutenberg plugin (10.2.1).

I've registered post meta using your snippet; the only difference is that I used `post` as the post type. Then dispatched `editPost` actions by pasting the following code in the console:

[code]

I was also able to modify metadata by changing values in the `newSupport

[2021-03-30 12:51] cjyabraham commented on #30360
This fails for me as well.  I'm having to upgrade Editors to be Administrators in order for them to do their work which is not a great workaround.  It'd be great to not have to give them those permissions once this is fixed.

[2021-03-30 13:01] loyukfai opened #30378 "Add WhatsApp & Signal Icons to Social Icon Block"
At the moment the Social Icon block includes Telegram, Snapchat, but not WhatsApp...

https://wordpress.org/support/article/social-icons/

Have to resort to using Jetpack's WhatsApp button at the moment.

https://imgur.com/a/AOqjylo

Edit: While we are at it, how about Signal too?

[2021-03-30 13:04] #30279 closed, assigned to carolinan

[2021-03-30 13:51] mcsf commented on #29437
👋 — I think this is specific enough that we shouldn't be generalising around a new API yet. Some notes from my train of thought:

* Throughout this issue we quickly started to discuss the idea of transforming a block, but Joen's original description and mockups do show a block-specific interaction in the form of an _Edit_ button in the block's own toolbar. To me, this is consistent with how an Ima

[2021-03-30 14:08] phmasek commented on #27137
I abandoned the idea completely and just went for a different architectural approach with nested custom blocks. Sorry that I can't help you any further.

[2021-03-30 14:36] kjellr opened #30380 "Query Block: Allow for alternating and irregular layouts"
While thinking through block patterns for the Query block, I quickly ran into the fact that the block currently requires every single post to have the same layout. This is fine for standard post lists, but it's not clear how irregular or alternating layouts would be made possible yet. For example:

Alternating Layout|Irregular Layout
---|---
![Screen Shot 2021-03-30 at 10 22 30 AM](https://user-im

[2021-03-30 15:00] gwwar commented on #29437
Thanks for the feedback @mcsf you caught me a bit early! From the quick sketches in https://github.com/WordPress/gutenberg/pull/30358 https://github.com/WordPress/wordpress-develop/pull/1138 a few things stand out:

- The block transformation APIs expect transforms to be relatively quick. Supporting any async transforms will require a lot of API surface area to update. So this approach isn't parti

[2021-03-30 15:14] annezazu commented on #30201
Awesome :D Let me close this out in that case and I can re-open if it happens again with future calls for testing.

[2021-03-30 15:14] #30201 closed, assigned to nobody

[2021-03-30 15:29] paaljoachim commented on #30160
I met the same issue. I was in a block and I was not sure what the name of the block was. Hovering over the "Change block type or style" and having the block name first as you are showing Anne, would be very helpful. The more complex blocks get the more this also would help.

Btw hovering over the block icon should actually also show the block name. That seems like a given to me. Let's get this in

[2021-03-30 15:37] grzim commented on #30307
So I guess https://github.com/WordPress/gutenberg/pull/30340 is closing this issue then.

[2021-03-30 15:37] #30307 closed, assigned to grzim

[2021-03-30 15:40] paaljoachim commented on #30015
I really like the idea of splitting up the information and showing the ... to signal that there is more information to read.
Example (hmm I am not able to copy the the Index template description as text)
We could instead see:
"The default template used when no other template is available....."

As more templates will be added having a specific amount of characters/words before adding the ... could

[2021-03-30 15:45] shaunandrews commented on #30015
I think your first suggestion @javierarce, of showing the info only when the template is active is the better option than the truncated text.

The truncated text can only be read if you switch templates, which I think might be annoying and lead to unintended navigation. Also, I think the list is easier to scan without all the descriptions showing.

Perhaps you could explore showing the description

[2021-03-30 16:03] paaljoachim commented on #29864
I really like the iterations you made Matias!
Simple and straight forward.

I am wondering if it should contain a drop down of toggle options instead of a modal.
As one clicks the lock/unlock icon. A drop down is seen to where the administrator toggles various options on and off depending on what should be locked. Such as various levels of importance. Such as editing the block, moving, removing et

[2021-03-30 16:10] paaljoachim commented on #30338
Hey James

Looking at the current Template part icons such as you are showing the Header template. A black area in the top. Another would be columns where there is a black area in the middle between two column areas. The Footer show the black area in the bottom. Using the logic here it feels natural to have the General Template icon show black in each area.

Based on the logic used it feels natura

[2021-03-30 16:19] mcsf commented on #29437
Thanks for taking the time to assess this fully!

This is good to look into. Another thing comes to mind: the Query block has more in common with Navigation and Page List than one might think. In order for Query to work, we needed to be able to reconcile a few things; in particular, a Query block is capable of "containing" dynamic things. In its serialised form, a Query block will contain Query-re

[2021-03-30 16:28] annezazu commented on #30160
Can't take credit! All Shaun for the idea :D

[2021-03-30 16:32] alexstine commented on #30160
I can't really provide much feedback as I'm unaware of what is being discussed. However I am always in favor of more descriptive information both visually and for screen readers. Just have to represent it in a reasonable way. E.g. tooltips/hover probably not going to work for accessibility which may lead to longer but necessary dev time.

Thanks.

[2021-03-30 16:45] ellatrix commented on #30177
Great!

[2021-03-30 16:47] paaljoachim commented on #16484
Hello everyone

I am helping out with Learn. There are plans for a new Lesson plans landing page.
https://github.com/WordPress/learn/issues/153#issuecomment-766526970

https://user-images.githubusercontent.com/2846578/101688755-79264f00-3a3a-11eb-899a-fccedd032de5.png

It would be very helpful to get the Icons block into Gutenberg, as creating the design here would be easier with an Icons block.

[2021-03-30 18:30] godismyjudge95 commented on #11789
@paaljoachim

Just ran into this issue again with the latest version of wordpress (5.7).
I realize this is probably low priority, but it kinda stinks that we can't add javascript to script blocks without possibly breaking it.

[2021-03-30 19:10] shaunandrews commented on #30325
Additionally, perhaps we incorporate tabs in the sidebar; One for the menu (navigation block) and another for its child blocks, similar to the way the block editor works:

<img width="1251" alt="image" src="https://user-images.githubusercontent.com/191598/113043153-09171280-916a-11eb-8dda-b85650837d57.png">

[2021-03-30 19:27] shaunandrews commented on #30322
For "Step 1" of your outline, I think we can take some cues from the site editor and make use of the dot to help indicate when there are unsaved changes. Along with that, it might be helpful to have a disabled state for the save button with a tooltip explaining why it's disabled.

![Menus Unsaved Changes](https://user-images.githubusercontent.com/191598/113044880-2816a400-916c-11eb-9732-64858da545

[2021-03-30 19:31] shaunandrews commented on #30215
I think if we improve our handling of unsaved changes as outlined in #30322 we won't need to have a discrete save button for the menu name.

[2021-03-30 19:41] SeanMcMillan opened #30389 "InnerBlocks Inserter doesn't insert if child block with changing height has focus"
## Description
A block using InnerBlocks doesn't insert a child block when you click the [+]. This only is a problem when the child block has additional content when it is selected (isSelected.) Instead of inserting a new block, the [+] takes the focus. Once the [+] has the focus, you can then click it and the block will be inserted.

This worked correctly in WordPress 5.6.

To trigger this behavi

[2021-03-30 20:07] skorasaurus commented on #30214
This appears to have been fixed; I'm not able to reproduce this in the latest build of Gutenberg from the trunk branch yesterday. You can download the latest version of gutenberg at https://gutenbergtimes.com/need-a-zip-from-master/#nightly

(I think the PR that fixed this was https://github.com/WordPress/gutenberg/pull/29922

[2021-03-30 20:09] skorasaurus commented on #30214
Please reopen if you are still experiencing this with the nightly version. The fix should be in the next release of the gutenberg plugin.

[2021-03-30 20:09] #30214 closed, assigned to nobody

[2021-03-30 20:15] skorasaurus commented on #28558
Thanks for reporting and providing the very clear test case.

I'm able to confirm this in gutenberg nightly from today (2021-03-31).

[2021-03-30 20:18] ellatrix commented on #21904
The fix in https://github.com/ckeditor/ckeditor5-clipboard/blob/master/src/utils/normalizeclipboarddata.js#L16 seem good to have. Would be great if someone could try it out.

[2021-03-30 20:31] vindl commented on #29392
Resolved in #29918.

[2021-03-30 20:31] #29392 closed

[2021-03-30 20:39] pablohoneyhoney commented on #30338
If we need to use a special icon with an inversed style, worth refining the below as it doesn't share the same DNA at the moment. It's smaller and has fully squared corners.

![](https://user-images.githubusercontent.com/846565/112827541-63d73e00-9086-11eb-93be-faa3fcb008d1.png)

[2021-03-30 21:04] grzim commented on #30215
Thanks for your feedback @shaunandrews

[2021-03-30 21:04] #30215 closed, assigned to grzim

[2021-03-30 21:05] grzim commented on #30322
@shaunandrews so all but `delete menu` will be saved upon clicking the `save` button. Shouldn't the delete button be placed somewhere else then? I think it would be more UX friendly

And the second question - how the dots should look like when there are changes made in checkboxes (theme location) and toggle (add new pages)?

[2021-03-30 21:13] vindl commented on #24360
Yes, I'm fine with closing it. As for the new issue, I think those conversations could be continued in https://github.com/WordPress/gutenberg/issues/26404.

[2021-03-30 21:13] #24360 closed

[2021-03-30 21:28] paaljoachim commented on #11789
Hi @godismyjudge95 Daniel.

I added the question into the Slack core editor channel to hear if this method is (still) valid.

[2021-03-30 21:34] grzim opened #30391 "Navigation Editor - Detect unsaved changes, and only enable the save button when there are unsaved changes"
## What problem does this address?

In order to better handle https://github.com/WordPress/gutenberg/issues/30322 let's divide it into separate issues, each with a corresponding PR.

Currently, the way a user saves their changes is confusing.  Options in the navbar are saved with a save button placed in the header. Moreover, there is no visible clue, helping a user to understand they need to hit t

[2021-03-30 21:52] paaljoachim commented on #18989
Actually the File block is missing Color and Typography controls.
Both controls are needed. All blocks that handle text in some way are to have both of these controls in place.

[2021-03-30 22:23] clwill commented on #30214
Thank you, this nightly does appear to fix it. Any idea when this will be rolled into WP proper? I don't know how that part works...

Thanks!

[2021-03-30 23:16] glendaviesnz commented on #29997
PR to fix https://github.com/WordPress/gutenberg/pull/30396

[2021-03-31 00:37] noisysocks commented on #28668
@manooweb: What I mean is that this bug still exists 🙂 It's in the backlog waiting for a developer to pick up.

@draganescu: That's a good question. The Customizer can serve as inspiration here.

[2021-03-31 01:50] talldan commented on #30322
I like the way the dot works, that's very cool.

Yeah true. Lets go with that.

[2021-03-31 02:50] annezazu opened #30398 "[Full Site Editing] Editing Field expands when both List View & Block Settings are open"
## Description

When using the Site Editor, if you open both the List View and Block Settings while editing a block near the edge of the editing field, it expands showing strange grey space. This might be related to this but unclear: https://github.com/WordPress/gutenberg/issues/30120

## Step-by-step reproduction instructions
1. Setup a site with TT1 Blocks & latest version of Gutenberg
2. Head t

[2021-03-31 03:03] annezazu commented on #27896
Awesome. Thank you both! I've updated the issue title and description to be more accurate to the bug that remains.

[2021-03-31 03:07] kevin940726 opened #30400 "Implement undo/redo in the widgets customizer"
Implement undo/redo as shown in https://github.com/WordPress/gutenberg/issues/27343#issuecomment-765644623.

https://user-images.githubusercontent.com/191598/105537781-6d2bdf00-5cc0-11eb-99fb-85af854c0a94.mp4

[2021-03-31 04:01] kevin940726 commented on #26252
I think we can now close it as the widget screen doesn't rely on `clientId` anymore, and that #28505 is also merged which should fix the issue in the post editor.

The original issue with the widget screen is not fixed yet though. I opened #30268 to better track it. I think we can close this as duplicated.

[2021-03-31 04:01] #26252 closed

[2021-03-31 05:35] carolinan commented on #20557
Related/ Duplicate: https://core.trac.wordpress.org/ticket/51534

[2021-03-31 05:59] manooweb commented on #28668
I would like but I was still busy with our code in our side. In addition as I said before I need some guidance to correctly understand how the part of Gutenberg code works to save time especially first where to look for to show how the widget_id is managed in the legacy widget block UI.

Thanks.

[2021-03-31 06:39] JustinyAhin commented on #30061
I agree with @Soean, the team page is displayed for logged in users. When not logged in the link goes to the GitHub login page.

@ntsekouras, is it possible to make the page public?

[2021-03-31 06:41] manooweb commented on #28668
@noisysocks

I would like but I was still busy with our code in our side. In addition as I said before I need some guidance to correctly understand how the part of Gutenberg code works to save time especially first where to look for to show how the widget_id is managed in the legacy widget block UI.

Thanks.

[2021-03-31 06:50] marcorroma opened #30402 "List author: console error for editors"
Hello,
today i updated WordPress to version 5.7 and i have this problem.
If logged in as administrator, in the “new post” page I have no console errors.
If I am logged in as Editor, in the “new post” page I have this error in console:

{“code”:”rest_forbidden_context”,”message”:”Non hai i permessi per l’elenco degli utenti.”,”data”:{“status”:401}}
Message translated into English: “You do not have

[2021-03-31 07:03] hypest commented on #30355
Thanks for the extra context Siobhan! Yeah, piggybacking on that ticket would be my recommendation, thanks!

[2021-03-31 07:59] carolinan commented on #22724
There is only one single block that is marked as completed. How do we know what is needed for a block to be considered complete, and are completed blocks no longer experimental?

[2021-03-31 08:28] maheshwaghmare commented on #28737
This is really impressive feature.

[2021-03-31 08:29] jameskoster commented on #30338
DNA is shared in the sense that the template part icon fits perfectly inside the template icon, which has some conceptual value:

<img width="252" alt="Screenshot 2021-03-31 at 09 23 02" src="https://user-images.githubusercontent.com/846565/113114004-d53bfb80-9202-11eb-99c4-0df388491e7e.png">

That said I have no objection to making them the same size so that the icon fits in better alongside othe

[2021-03-31 09:18] mtias commented on #22724
I'm going to do a review, but I think this issue probably exhausted its usefulness now. We have blocks that are ready (like site logo) but still need several improvements, which we should track on a specific site logo issue. As part of https://github.com/WordPress/gutenberg/issues/28744 we should be deciding which ones are ready.

[2021-03-31 09:31] ntsekouras commented on #30061
Hey 👋 - I couldn't find any info on making this public. Any ideas of how it could be replaced here @ockham ? I think it would be good enough to write on docs to ping in `#core-editor` in wordpress.slack 🤔

[2021-03-31 09:31] carolinan commented on #29296
A conversation related to this took place on Slack (An account is needed to view it)
https://wordpress.slack.com/archives/C02QB2JS7/p1617179378083600

[2021-03-31 09:42] scruffian commented on #22724
Yes, it's very hard to define "completed" since the scope isn't clear - we're not just copying the functionality from the old template tags. It might be useful to have overview issues for every core block though?

[2021-03-31 10:02] mtias opened #30406 "Improvements to Site Logo block"
The site logo is currently quite rough. This is a list of improvements to make.

![image](https://user-images.githubusercontent.com/548849/113125768-3ff73200-9217-11eb-8ce6-4184f40714bf.png)

- [x] Add alignments control. #31544
- [x] Add inline cropping. #31607
- [x] Better icon. #30211
- [x] Add link toggle to "home".
- [x] Set a default width of around 120px. Currently the block displays huge a

[2021-03-31 10:07] mtias commented on #30338
The inverted icon feels conceptually weird and obscure to me. I think we should consider using the block-sidebar one given it's likely we won't have a semantic template part called sidebar. Sidebar depends on surrounding layout. Widget areas are generally used in multiple places, not always sidebars. I'd consider template-parts to be somewhat equivalent to widget areas.

[2021-03-31 10:38] talldan commented on #30391
I don't think we need to add a save button. Lets modify the existing one in the header first.

[2021-03-31 11:01] jameskoster commented on #30338
I agree with this, but for me the sidebar icon is too prescriptive. As you said, these areas are not always placed in a "sidebar" and so the icon loses some relevance in many cases.

There is also the scenario where a general template part is nested inside a Header or Footer. This doesn't really feel right to me:

<img width="1356" alt="Screenshot 2021-03-31 at 11 58 08" src="https://user-images.g

[2021-03-31 11:39] ramonjd commented on #30334
@aaronrobertshaw / @glendaviesnz I've taken a stab at [fixing this](https://github.com/WordPress/gutenberg/pull/30407).

It appears to be an existing "feature" of the image block.

Not sure if what I've done is the best way, so I'd appreciate some tips. Thanks!

[2021-03-31 11:46] csalmeida commented on #17632
After trying some of the awesome suggestions available in this thread I was still finding challenging to trigger JS logic when the post is actually done saving, including after hooks such as `post_updated` had run. I've found a way using `MutationObserver` so if you would like to get to it please scroll to the end of my comment.

In my case I'm updating a metabox section via Javascript and the fac

[2021-03-31 12:07] swissspidy commented on #17632
@csalmeida Any HTML class names are just representations of the underlying React state, which is the source of truth. You should build your application around the React state, not its HTML representation (which can change).

For example, the `is-busy` class on the publish button is added whenever `isSaving` is true:

https://github.com/WordPress/gutenberg/blob/3da717b8d0ac7d7821fc6d0475695ccf3ae28

[2021-03-31 12:15] oandregal commented on #20331
This week's status report: ongoing work for the major tasks necessary for the MVP.

- Continue to prepare the changes for theme.json https://github.com/WordPress/gutenberg/issues/29891
- Conversations about the settings for the different editors and mobile
  - https://github.com/WordPress/gutenberg/issues/30082
  - https://github.com/WordPress/gutenberg/pull/29969
  - https://github.com/WordPress/

[2021-03-31 12:15] Copons commented on #24818
A bit late, but we closed #27395 by merging #28637 and several follow ups, which made the List View persistent in the Site Editor, pending user testing to determine if it's worthy to be moved to the Post Editor as well.

[2021-03-31 12:35] ddryo opened #30408 "Infinite loops may occur when using useInnerBlocksProps from WordPress 5.7."
After updating to version 5.7, custom blocks using `__experimentalUseInnerBlocksProps` now get the **"Maximum update depth exceeded"** error.

1. Error 1: It happens only when the block is inserted for the first time.
2. Error 2: It happens when you click on the border that spreads to the left and right of the block inserter.

These errors seems to occur only under some special conditions. I would

[2021-03-31 13:15] SiobhyB opened #30410 "Mobile: Add image previews to Image block "Replace Featured Image" prompt"
This enhancement request builds on the work done to implement a "set as featured" button in the image block's settings in https://github.com/wordpress-mobile/gutenberg-mobile/issues/1011.

At the moment, a user is greeted with the following dialog when they click the "set as featured" button while their post already has a featured image set:

<img src="https://user-images.githubusercontent.com/299

[2021-03-31 13:17] MaggieCabrera commented on #28814
This is happening for me when the template part is inside a group block (it's not inside another template part): https://github.com/Automattic/themes/pull/3592/files#r604835733

[2021-03-31 13:23] cbirdsong opened #30411 "Constrain text color choices based on selected background color"
## What problem does this address?

Currently, users are free to choose text and background colors that do not meet minimum color contrast standards. The editor displays a warning, but this allows the user to make the choice before warning them it would be inaccessible.

## What is your proposed solution?

Once the user chooses a background color the editor should hide all inaccessible text color

[2021-03-31 13:53] david-szabo97 commented on #28814
Working on it 👍

[2021-03-31 13:54] #20276 closed

[2021-03-31 13:58] csalmeida commented on #17632
Thank you! I do think my solution is not that good if the editor ever changes its markup it will just break. I appreciate it that you took the time to let me know how to do it the right way! 🙏

The file helps a lot however, I've noticed not all values used in the checks for `is-busy` and `aria-disabled` can be retrieved from `wp.data.select( 'core/editor' )`. I wonder if you could let me know how

[2021-03-31 14:02] swissspidy commented on #17632
Just `wp.data.select('core/editor').hasNonPostEntityChanges()` and `wp.data.select('core/editor').isPostSavingLocked()`

No `instantiate()` or anything needed.

[2021-03-31 15:01] javierarce commented on #30015
Ok, here's a couple of prototypes with the flyout concept. In the first one, the cards are static. In the second one, the card titles are aligned (this probably won't work in some cases, and it's harder to implement, but it makes reading the information easier)

https://user-images.githubusercontent.com/4933/113164611-8b263a80-9241-11eb-803d-1f0b63e15e18.mov

https://user-images.githubusercontent.

[2021-03-31 15:04] #26146 closed

[2021-03-31 15:07] iandunn opened #30414 "Consider adding default editor styles for themes that don't provide any."
## What problem does this address?

The default content styles have almost no left/right padding, and feel uncomfortably squished to me:

![Screen Shot 2021-03-31 at 7 41 47 AM](https://user-images.githubusercontent.com/484068/113163742-4a083900-91f5-11eb-89b5-fc3babc504f2.png)

It's not until the viewport is `1300px` that you start to get some (implicit) padding, and not until `1370px` that you g

[2021-03-31 15:28] godismyjudge95 commented on #11789
@paaljoachim I meant to mention, this also happens with just the plain Custom HTML block.  So it must be something with the HTML parser.

Another thing that might help narrow it down, the javascript appears to work in the HTML preview of the block.  So maybe it is the save/retrieve functions that is malfunctioning?

[2021-03-31 15:28] WunderBart opened #30415 "Schedule post: Calendar won't close after date picked"
## Description
The calendar popup won't close after the scheduled publish date is picked. It sometimes does close after a few clicks outside, but this seems to be happening at random.

## Step-by-step reproduction instructions
1. Go to the editor and add any content, just so the post is publishable
2. Open the calendar picker for scheduled publish
3. Click on the next month arrow button
4. Pick a

[2021-03-31 15:50] seothemes commented on #6808
+1 for this. Would be super powerful for creating multiple versions of a single block. Use cases would be translations, A/B testing etc

[2021-03-31 16:19] torounit commented on #30408
I tested the plugin and got the same error.

A large number of `UPDATE_BLOCK_LIST_SETTINGS` actions are generated.

![](https://user-images.githubusercontent.com/1908815/113176423-6ce32d80-9287-11eb-9198-9f7030f8500a.png)

[2021-03-31 16:21] skorasaurus commented on #30402
Hi,

Thanks for reporting;

This has been reporting in https://github.com/WordPress/gutenberg/issues/30360. Feel free to [add your reaction](https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/about-conversations-on-github#reacting-to-ideas-in-comments) and follow its progress in the issue.

[2021-03-31 16:21] #30402 closed, assigned to nobody

[2021-03-31 16:30] torounit commented on #30408
@ddryo How about trunk ?
I think this is a problem that has been fixed in #30311

[2021-03-31 16:41] torounit commented on #30408
TEST-2 seems to be working.
TEST-1 continues to generate errors.

[2021-03-31 16:41] sabernhardt commented on #15821
[Trac #52937](https://core.trac.wordpress.org/ticket/52937): another request for simply allowing these attributes in the table block (when using edit as HTML)

[2021-03-31 17:16] marcorroma commented on #30360
I also have the same problem with the editors of my site.
I fixed it momentarily by reverting to version 5.6.2.

[2021-03-31 18:15] avivalk commented on #29988
@Quintis1212 will your fix also fix this issue? https://github.com/WordPress/gutenberg/issues/29338

When will the new update come out?

[2021-03-31 19:22] joedolson commented on #30160
Hover only would be a problem, but if it's available on hover & focus, that's OK.

But I generally agree with @alexstine - any way to show textual information that increases awareness and confidence in the user's current context is a big plus.

[2021-03-31 19:49] hellofromtonya commented on #30152
As @bradley2083 noted, the problem occurs when the Gutenberg plugin is active. I was able to trace it to here:

https://github.com/WordPress/gutenberg/blob/e7369c09f468158e42851ba2a5b1b58efbd4ca88/packages/block-library/src/site-logo/index.php#L76-L81

If the `$custom_logo` is `0` or `'0'`, then updating the `sitelogo` option is skipped. Just above that logic is another callback that defaults to u

[2021-03-31 20:21] grzim opened #30422 "Tooltip element acting weird on disabled button"
## Description

When a `Tooltip` element is used with the disabled `Button`, it adds `,` at the end and also makes a button clickable

Can be related to https://github.com/WordPress/gutenberg/pull/27529
## Step-by-step reproduction instructions

Wrap disabled `Button` in `Rooltip`
## Expected behaviour

`Button` is not clickable

## Actual behaviour

`Button` is clickable, and comma is added

## S

[2021-03-31 20:27] grzim opened #30423 "Navigation editor - inform a user they will loose their unsaved data"
## What problem does this address?

Step # 2 in https://github.com/WordPress/gutenberg/issues/30322

Currently, there is no mechanism to warn a user they will lose all unsaved data when they navigate away.
With the mechanism proposed in https://github.com/WordPress/gutenberg/pull/30420 it will be possible to list all unsaved items to a user when they navigate away.

## What is your proposed soluti

[2021-03-31 20:33] grzim opened #30424 "Navigation editor - data is lost when menu is deselected"
## Description

When any change is made in the sidebar and they are unsaved, the user loses them all when clicks on the background (deselect block).

## Step-by-step reproduction instructions

1. Go to Navigation Editor
2. Select menu (add at least one if you don't have any)
3. Make a change in a sidebar (change a name or theme locations)
4. Click on the background
5. Select the block
6. See the c

[2021-03-31 20:40] grzim opened #30425 "Navigation editor - save "Add new pages" toggle on clicking on the save button"
## What problem does this address?

Currently, only the `Add new pages` toggle is saved immediately and should be saved on clicking on the save button

## What is your proposed solution?

Use `editEntityRecord` record

[2021-03-31 20:58] glendaviesnz commented on #29997
Fixed by #30396

[2021-03-31 20:58] #29997 closed, assigned to glendaviesnz

[2021-03-31 21:07] grzim opened #30426 "Navigation Editor - update delete menu button"
## What problem does this address?

As described in https://github.com/WordPress/gutenberg/issues/30307 we want all the data in the sidebar to be saved on the `save button` click rather than being saved immediately on change.
Nevertheless, as pointed in https://github.com/WordPress/gutenberg/issues/30322 `Delete button` is behaving in a different way - it deletes the menu upon clicking on it (and

[2021-03-31 21:40] ryanleichty commented on #23223
I'm also trying to find a solution for this too—doing a string search and replace doesn't feel like a great long term method.

[2021-03-31 21:41] tomjn commented on #23961
Noting that removing the actions isn't the only method, you can do this by unregistering the `block-directory` plugin in javascript. This PHP snippet will add the inline JS to do this when the block editor is enqueued:

[code]

[2021-03-31 21:48] TimothyBJacobs commented on #19935
This has been supported for some time. `ServerSideRender` accepts an `httpMethod` prop that can be used to switch to a `POST` request: https://github.com/WordPress/gutenberg/tree/trunk/packages/server-side-render

[2021-03-31 22:03] #30265 closed, assigned to noisysocks

[2021-03-31 22:03] #30266 closed, assigned to noisysocks

[2021-03-31 22:04] noisysocks commented on #29284
#30221 and #30321 were the final pieces here 🙂

[2021-03-31 22:04] #29284 closed

[2021-03-31 22:08] noisysocks commented on #30400
Not sure that we should prioritise this. In my mind it wouldn't make sense to add undo/redo to _only_ the Widgets section of the Customizer. I'd instead expect undo/redo to work throughout the Customizer.

I'd prefer that we punt this out of the v1 product that we launch and implement it properly throughout the Customizer some time in the future.

cc. @shaunandrews

[2021-03-31 22:36] ivankruchkoff opened #30428 "addQueryArgs with boolean false isn't handled right in wp_rest_request->get_params()"
## Description

buildQueryString converts boolean `false` to a string `"false"` which WP_REST_Request->get_params() in the rest api is then unable to parse as a boolean false as it is truthy. I created a mu-plugin to demo the issue.

Cross raised here and in WordPress trac as [WP#52956](https://core.trac.wordpress.org/ticket/52956) as both the js library and php code need to cooperate to ensure th

[2021-03-31 23:56] annezazu commented on #29238
This came up in the [fourth call for testing](https://make.wordpress.org/test/2021/03/25/fse-program-testing-call-4-building-a-restaurant-themed-header/) too with feedback in [this WP Tavern Post](https://wptavern.com/fse-outreach-round-4-building-a-restaurant-themed-header-with-gutenbergs-site-editor):

Sharing here for posterity :)

[2021-04-01 01:09] talldan commented on #30408
Thanks for reporting this @ddryo. This was also noticed on some core blocks and as @torounit mentions, has been fixed in #30311. That should be available in v10.4.

The problem is caused by a new array for `allowedBlocks` being created in every render, which the innerBlocks implementation wasn't optimized to handle.

If you'd like to fix the problem in your block before, you can make a similar cha

[2021-04-01 01:09] #30408 closed, assigned to nobody

[2021-04-01 01:13] talldan commented on #30424
👍 Seems to only be an issue with the Menu Locations, I couldn't reproduce this issue with the Menu Name.

[2021-04-01 02:38] ddryo commented on #30408
@torounit @talldan

Oh! Thank you!
I'm sorry to report a resolved issue.

Will WordPress 5.7.1 fix this issue?

[2021-04-01 03:03] talldan opened #30432 "Scroll to show the selected block in List View when selecting a block in the editing canvas"
## What problem does this address?
The persistent list view is very handy. Though, with a really long list of blocks, it can take a bit of scrolling to find the selected one.

I noticed if you select a block in list view that's not in the viewport of the main editor canvas, the canvas scrolls to show the selected block.

When doing the reverse—selecting a block in the editor canvas that's not in t

[2021-04-01 03:16] talldan commented on #29736
@priethor I made an issue here that might be considered for tracking - https://github.com/WordPress/gutenberg/issues/30432 - what do you think?

[2021-04-01 03:43] noisysocks commented on #25417
I'm not able to reproduce this.

I created a plugin with the following files, activated Gutenberg, enabled the Widgets in Customizer experiment, navigated to Appearance → Customize, and saw the alert dialog appear.

[code]
[code]

Let me know if I've misunderstood and we can reopen.

[2021-04-01 03:43] #25417 closed

[2021-04-01 03:48] kellychoffman commented on #29630
This is a great question.

@jameskoster and I have been doing some explorations around this and have a prototype to share to illustrate an idea for how a user will be exposed to the new features that have been built as part of full site editing. During development, these were all contained within a single menu item called Full Site Editing. Going forward, as @hedgefield mentioned above, we need to

[2021-04-01 03:53] ddryo commented on #29019
@draganescu
Sorry, perhaps there is still a gap in perception.

Once again, let me try to organize my thoughts.

## About the problems I feel.

Currently, I can do the following,

- I was able to use hooks on the theme side to give the "widget title" its own class. (For example, a class like `.c-widget__title`.)
- The user would not get confused because there was only one place to enter the "widge

[2021-04-01 05:47] talldan commented on #30006
I've been exploring some of these options:

This still seems feasible and relatively easy to implement.

I had a look at this idea, but I feel it will end up being a little bit of a stretch for block transforms.
- A block tree isn't really a one-to-one mapping of a hierarchical menu. A links list block is just a wrapper with inner blocks, in terms of a menu it most closely represents an array of m

[2021-04-01 06:05] aristath commented on #27962
I tracked this down to the `wp_should_load_block_editor_scripts_and_styles` function in wp-core.
It is used to determine if the styles will be loaded or not, and it currently only checks for the post-editor screen.
In the Gutenberg plugin we add filters on `should_load_block_editor_scripts_and_styles` and we load the styles on the navigation & widget pages, but not on the site-editor.
I don't know

[2021-04-01 08:21] Jugibur opened #30437 "Add unit support to the spacer block (plus unit steps adjustment)"
## What problem does this address?
I always use em/rems to define sizes.
This has the well-known advantage that all sizes can be defined centrally per breakpoint. This way the spacing grows proportionally to the base font size.
Unfortunately, the spacer block only allows the fixed height in the form of a pixel specification.
So it would be great if you could select the unit in the spacer block.

#

[2021-04-01 08:52] paaljoachim commented on #11789
Greg @gziolo and/or Miguel @mcsf perhaps you are able to respond here?

[2021-04-01 09:04] hedgefield commented on #29630
This is excellent! Thanks for the exploration 👏

[2021-04-01 09:58] florianbrinkmann commented on #23291
@jasmussen I think this is an issue again, because of the modifications in a03ea51e11a36d0abeecb4ce4e4cea5ffebdffc5. With that, the styling for `.wp-block-button.aligncenter` that is *not* inside a `.wp-block-buttons` was removed again.