[2021-04-26 08:47] superbmario commented on #27878
This would be incredibly useful for all of the WP Importer plugins. Currently all imported content is converted to a Classic Editor Block

[2021-04-26 09:12] karmatosed commented on #31128
Oh my this little feature has a lot of options.

I think this is going to be very popular and useful, however I think that finding a balance in how it happens is important.

@carolinan when you say this:

Do you mean when clicking the icon? I can see that sort of working where you click the icon and it expands but the issue is clicking is also meant to 'perform the search' so there's a bit of 'dou

[2021-04-26 09:16] javierarce commented on #31100
Also important to fix: in the mobile version is impossible to see the error message, because it's behind the modal.

![Screenshot 2021-04-26 at 11 15 30](https://user-images.githubusercontent.com/4933/116059027-b9e8d280-a680-11eb-8e14-39c7ed3ffb7f.png)

[2021-04-26 09:18] #25181 closed

[2021-04-26 09:29] getdave commented on #23953
@javierarce Let me know when this is good to go and I'll start work on a PR.

[2021-04-26 09:37] #12429 closed

[2021-04-26 09:39] karmatosed commented on #30922
Only point I'd consider is how many users understand Github and how much of a hurdle this is. Perhaps your idea of make would be easier or a blog post to ease someone into a conversation @critterverse? It's easy for us to assume Github is accessible when it's really a huge mountain to climb for many.

[2021-04-26 10:02] javierarce commented on #23953
Thanks, @getdave! Let me get @shaunandrews opinion first.

Here are the designs for the mobile version. I know that we currently don't have padding around the main canvas, but I'd like to propose adding it (I'll open a new issue for that).

<img width="375" alt="Mobile" src="https://user-images.githubusercontent.com/4933/116065289-28c92a00-a687-11eb-8c24-eb2daa16d97b.png">

<img width="375" alt="M

[2021-04-26 10:34] ockham commented on #28703
Yep, that's pretty much the idea! 😄

No, I think it makes sense to provide a 'packaged' baseline config for WP development -- this would continue to be `wp-env`'s role.

Yeah, that [seems to be possible](https://docs.docker.com/compose/extends/); although I'm not totally sure how ergonomic it would be:

There's [another (albeit legacy) way](https://docs.docker.com/compose/extends/#extending-servic

[2021-04-26 10:37] Mamaduka commented on #30322
Should we also copy the `UnsavedChangesWarning` component for the `edit-navigation` package as well? This is based on #26081.

[2021-04-26 10:40] ntsekouras commented on #30925
I can see that the pattern names are causing a bit of confusion here though (`medium, large, etc..`). It seems that people perceive the patterns as some kind of `attribute` or block variation..

[2021-04-26 11:10] jorgefilipecosta commented on #27478
Yes, every HTML content should be inside the body, but although not correct browsers still render elements placed outside the body. I guess that's not a case we should worry about given that if that's the case third party code is doing something unexpected.

@mtias, @youknowriad, @nosolosw is this issue still something we should give a try? Make global styles target body instead of:root?

[2021-04-26 11:14] jorgefilipecosta commented on #22753
Hi @draganescu, yes previously we had an issue where if some user went to the customizer all the widgets were migrated to the CPT data structure even if there was no action from the user at all.

[2021-04-26 11:31] jorgefilipecosta commented on #12951
Closing this issue, as now we have a mechanism for server-side awareness of blocks and API's to retrieve metadata like default attributes on the server.

[2021-04-26 11:31] #12951 closed

[2021-04-26 11:34] jorgefilipecosta commented on #4590
Closing this issue as there are no additional action items.

[2021-04-26 11:34] #4590 closed

[2021-04-26 11:37] jorgefilipecosta commented on #14072
Given that according to the discussion here it seems not being able to play videos on the backend is a bug I will work on a PR to fix this issue if no one else is already working on this issue.

[2021-04-26 11:42] aristath commented on #31113
Some background here:
Instead of a switch the initial PR had a checkbox to "customize the query". The checkbox was then replaced by a switch, and in the switch it made more sense to change the label to reflect what it does.
The Query block was always considered a developer tool and AFAIK the plan was to allow user interaction with it via variations without actually exposing the query block itself.

[2021-04-26 11:42] senadir opened #31189 "Select Component not tabbable on Safari"
On Safari, the Select Component (which is a button) is not tabbable, as in, if you tab around, it will get ignored.

I know you can enable this on the browser, but there should be a way for it to work by default.

https://user-images.githubusercontent.com/6165348/116076656-6e3c2600-a68c-11eb-80b0-48b6593ad0ca.mov

By comparison, a default select component is selectable.

https://codepen.io/assassi

[2021-04-26 11:46] draganescu opened #31190 "Edits to legacy widget blocks in the block widget editor don't get previewed"
## Description
As mentioned in #31094 legacy widgets do not show up in the Customizer embedded widget editor. But, if a legacy widget is added in the standalone editor, then it can be customized in the Customizer. I don't know if this bug is related to #31094 but, when values are updated in the legacy widget's form the changes are not previewed in the preview panel.

## Step-by-step reproduction i

[2021-04-26 11:49] youknowriad commented on #27478
yeah, I think this makes sense.

[2021-04-26 11:56] kjellr commented on #30925
Yeah — we've renamed those to be more descriptive. they're now called:

- Standard
- Image at left
- Small image and title

[2021-04-26 12:02] kjellr commented on #31124
In many cases, users will want to change colors immediately after they add a pattern. So if we do add a feature like this, I think we should be sure to automatically remove any unused pattern preset colors. Otherwise I imagine you'll just get a big buildup over time of colors that you're not using.

But as folks have mentioned above, I think that having a single consistent palette will go a long w

[2021-04-26 12:07] draganescu opened #31193 "Trying to save an empty legacy widget crashes standalone editor"
## Step-by-step reproduction instructions
0. Have Gutenberg `trunk` installed
1. Go to Appearance > Widgets
2. Add a legacy widget block, do not choose any widget
3. Save
4. See error `There was an error. f is undefined`

## Expected behaviour
Either one of:
- no error, the empty legacy widget is not saved, everything else is saved
- auto-removing the empty legacy widget on save
- a message about

[2021-04-26 12:07] aristath commented on #31000
You can create your own plugin. `add_theme_support()` doesn't necessarily need to be in a theme, you can just as easily add it in a plugin. You can read more about creating plugins in the [w.org docs](https://developer.wordpress.org/plugins/intro/)

Creating issues in this repository is the only method currently available. It is time-consuming, I agree, but it's also the only way you can be sure t

[2021-04-26 12:10] kjellr commented on #25707
This appears to still be an issue.

This page does not appear in the handbook: https://github.com/WordPress/gutenberg/blob/trunk/docs/how-to-guides/themes/block-based-themes.md

<img width="234" alt="Screen Shot 2021-04-26 at 8 09 18 AM" src="https://user-images.githubusercontent.com/1202812/116080153-b3e5f800-a666-11eb-9634-f65fee1709b8.png">

[2021-04-26 12:13] paaljoachim commented on #14072
Hey Jorge @jorgefilipecosta
Embedding a Youtube video can be played in the backend and for consistency it would also be helpful to be able to play an uploaded video the same way. Thank you for working on this!

[2021-04-26 12:24] amir2mi commented on #31165
Thanks, glad it helps!
What I know Firefox scrollbar behaviors are way more different from Chrome and Edge. Besides various operating systems have their own styling for scrollbars, therefore it is better to consider all possible situations like this.

[2021-04-26 12:29] draganescu opened #31194 "Some legacy widgets don't fit in the customizer block editor"
## Description

Some widgets, such as most of the ones provided by the Site Origin bundle, don't fit in the thin sidebar of the customizer block editor. Previously, before we had a block editor these widgets would show their edit form in the Customizer's drawer.

### Block widgets

<img width="1295" alt="no-fit" src="https://user-images.githubusercontent.com/107534/116080528-d9dcbe00-a6a1-11eb-9ae

[2021-04-26 13:13] jameskoster commented on #30910
I believe this is only one half of the editing consideration. The click-through will help in terms of boundaries and general selection interactions, but there is also the contents of the innerblocks (IE the actual post content) to think about. Editing the title of post B while editing post A can be quite confusing.

[2021-04-26 13:41] vdwijngaert commented on #31183
Looks like the `focus-control-for-setting` event is not yet implemented for the experimental sidebar block editor control in the Customizer.  This is where the event gets triggered: https://github.com/WordPress/WordPress/blob/270f2011f8ec7265c3f4ddce39c77ef5b496ed1c/wp-includes/js/customize-selective-refresh.js#L339

[2021-04-26 13:51] javierarce commented on #30659
When we fix [this issue](https://github.com/WordPress/gutenberg/issues/23953) about the placeholder state, we'll also solve one of the problems mentioned here.

[2021-04-26 13:54] mtias commented on #30910
@ntsekouras having a version of Query that doesn't include the inner Loop (because it doesn't need to show prev/next links nor query titles) and is called "Post List" or something similar to that, allowing us to treat Query as the building block for themes but something more familiar (like Latest Posts) for users.

[2021-04-26 13:58] cngodles commented on #30046
I gave this another try with version `10.4.1`, I'm still seeing the issue, but it's not like before. I originally reported from version `10.2.1`

Here is a comparison of the styling of the paragraph block for the enabled plugin (top) vs the disabled plugin (bottom)

I think this is not as bad as it was when first reported, however, `color` and `line-height` are still affected.

![image](https://us

[2021-04-26 14:48] paaljoachim commented on #18229
Ahhh Gotcha!
This is related to older content that is not working correctly with newer WordPress/Gutenberg versions.
I am not sure what to do with it.

Any thoughts Dan?
@talldan

[2021-04-26 14:55] oandregal commented on #28913
I think we should either group those things together as in theme.json or have them all unnested (do not have the `color` intermediate key) ― the in-between state we have now is confusing. For context https://github.com/WordPress/gutenberg/issues/22887 https://github.com/WordPress/gutenberg/pull/24320

A question I have (that's why I'm posting here instead of in the font-size PR) is whether `__expe

[2021-04-26 15:00] mtias commented on #27890
The ability to name a block upon creation is addressed in trunk and should remove the case of having a bunch of "untitled reusable block" names:

![image](https://user-images.githubusercontent.com/548849/116104218-8e7ddc00-a6b0-11eb-861e-70dae29f32dc.png)

[2021-04-26 15:13] kjellr commented on #25450
Just wanted to echo this request. It would come in handy for Query block patterns. For example:

<img width="797" alt="Screenshot 2021-04-26 at 17 02 22" src="https://user-images.githubusercontent.com/1202812/116106780-6a0a0b80-a680-11eb-976b-f509e9bc156e.png">

[2021-04-26 16:19] devfle commented on #29436
But what I don't understand then is that we don't import / use the react-resize-aware hook in the auto.js, but the custom useResizeObserver hook, which then returned the height. I have tried several things but unfortunately have not found a nice solution for the problem.

[2021-04-26 17:00] dougwollison opened #31201 "Allow blocks to handle align as a classname instead of a wrapper block"
## What problem does this address?

Currently, if a block offers alignment handling, it wraps the block in a [data-align] div, regardless of if the block supports the light wrapper. This breaks any styling that relies on a block's placement in a container or relation to other blocks (e.g. first/last child, or proceeding a sepcific other block).

## What is your proposed solution?

Either an `align

[2021-04-26 17:09] gwwar commented on #30006
When backed by a `nav_menu_item` can we limit Navigation UX functionality to what the customizer currently supports (eg nested links)? If folks want new functionality like search, social links, spacer (or anything else we add), we'd then move the source of truth to block data. (No more bidirectional saving when folks choose that).

This is possible, but we'd need to be careful to make sure folks a

[2021-04-26 17:25] mkaz commented on #25707
Fixed in https://github.com/WordPress/gutenberg/pull/31167

Here's the link: https://developer.wordpress.org/block-editor/how-to-guides/themes/block-theme-overview/

[2021-04-26 17:25] #25707 closed

[2021-04-26 18:29] amir2mi opened #31206 "RTL header icons"
Gutenberg RTL header icons like undo and redo have the wrong direction:
![false: RTL header icons](https://s18.picofile.com/file/8431911176/false.png)

What is expected:
![true: RTL header icons](https://s19.picofile.com/file/8431911184/true.png)

The related code is here:
![true: RTL header icons](https://s19.picofile.com/file/8431911684/0.jpg)

It can be solved with this snippet:
[code]

[2021-04-26 18:32] pablohoneyhoney commented on #30903
Agreed with using more natural verbiage. There's a scenario where that term isn't visible.

https://github.com/WordPress/gutenberg/issues/27473#issuecomment-796773866

[2021-04-26 18:51] shaunandrews commented on #23953
I'm not sure were we came up with the line, but I think it was likely from a mockup that used an accordion. I'm not sure the line is necessary.

--

Why is "Add existing menu" a primary button? Not all people will have existing menus to choose from...

[2021-04-26 19:04] desrosj opened #31208 "Uncaught (in promise) Error with many taxonomies registered to custom post type"
## Description
This report has been copied over from [Trac-52952](https://core.trac.wordpress.org/ticket/52952).

## Screenshots or screen recording (optional)
<img width="1115" alt="Screen Shot 2021-03-31 at 12 33 53 PM" src="https://user-images.githubusercontent.com/359867/116136539-6dad8a80-a6a0-11eb-9421-d53470e2c81b.png">

## WordPress information
- WordPress version: 5.7
- Gutenberg version:

[2021-04-26 19:46] tomjn commented on #30046
@cngodles the issue reports that the system font stack in your last response was _not_ being used, and that `serif` was being used instead. Does your response not indicate that the problem has been fixed?

Any other changes would be a new and separate issue

[2021-04-26 20:11] cngodles opened #31211 "Gutenberg Plugin 11.0.0 - Editor changing line-height and color, not WordPress's default"
## Description
The Block Editor font has had its `line-height` and `color` altered from its default. There appear to be modifications in `reset.css` that affect the editing experience only when the plugin is enabled. This is affecting at the very least the Paragraph, the List, and perhaps the Header block.

`reset.css` seems to be effecting the `color`

![image](https://user-images.githubuserconte

[2021-04-26 20:15] cngodles commented on #30046
We shall continue this over at #31211.

@amir2mi I believe updating to at least the latest version of the plugin 10.4.1 will fix the font issue. Working on getting the rest solved.

[2021-04-26 20:15] #30046 closed, assigned to nobody

[2021-04-26 21:29] glendaviesnz commented on #29998
This issue is no longer present so assume something changed on trunk  that resolved this.

![selected](https://user-images.githubusercontent.com/3629020/116153224-19a3b400-a73b-11eb-9411-21cf9b6fa8f1.gif)

[2021-04-26 21:37] hsingyuc commented on #30874
@fklein-lu  hi Fränk, I couldn't reproduce this issue but I found this PR https://github.com/WordPress/gutenberg/pull/27188 and it might have fixed the applied issue?

[2021-04-26 22:12] jennydupuy opened #31213 "Width in pixels is not applied at search block"
## Description
The width in pixels for search block is not applied.

## Step-by-step reproduction instructions
1.Create 2 search blocks.
2.For the first, set the width to 150px.
3.For the second, set the width to 100%.
At front-end (and also in editor), these blocks have the same width (see screenshot 1).
![screenshot-01](https://user-images.githubusercontent.com/75045144/116156757-2f3dbd00-a6ec-1

[2021-04-27 01:31] QuietNoise commented on #14598
@Intervik any chance you can share gist of your hack's approach?

[2021-04-27 01:58] tellthemachines commented on #29036
A Flex block! Nice 😍

Absolutely, we shouldn't get rid of the block. Users love it 😄  But we could make it work in a way that doesn't output markup.

[2021-04-27 02:13] noisysocks commented on #22765
So it looks like what's happening is that SiteOrigin Widgets only listens for the `widget-added` event to do initialisation when the `<body>` has a `wp-customizer` class. The Legacy Widget block will correctly fire `widget-added` but `<body>` will not have `wp-customizer` unless we're in the Customizer.

This is not correct. Widgets should set up the widget when the `widget-added` event fires rega

[2021-04-27 02:38] noisysocks commented on #22765
Hm, nope, this doesn't work because the plugin binds the `click` event on `jQuery.ready` and the React app has not rendered at that point.

I think that in this case it's not unreasonable to say the the plugin needs to be updated to remove the `if ( $body.hasClass('wp-customizer') )` check so that it works on the new screen.

I'm warming to the argument that the Widgets screen should launch as an

[2021-04-27 03:29] noisysocks commented on #26040
How do I reproduce this bug? I don't have access to the Refined Pro theme.

[2021-04-27 03:48] talldan commented on #24907
As mentioned above, batch saving was implemented as part of the widgets work (https://github.com/WordPress/gutenberg/pull/28210).

For menus, I think the reorder endpoint is currently needed to allow saving via the REST API - https://github.com/WordPress/gutenberg/issues/25093

There’s some more background about why this is required in https://github.com/WordPress/gutenberg/issues/21964.

[2021-04-27 04:11] noisysocks commented on #25945
I can confirm that `enqueue_block_editor_assets` now fires in the Widgets screen.

Unfortunately this does not fix the Subscribe2 widget though. The error that this widget is having is because `S2_Form_Widget::form()` relies on PHP code is only included when `is_admin()` returns true. `is_admin()` is not true in REST API requests such as the one that is made to display a Legacy Widget block.

This

[2021-04-27 04:11] #25945 closed

[2021-04-27 04:14] tellthemachines commented on #24949
I can partially reproduce this by adding `remove_theme_support( 'widgets-block-editor' );` to my theme's `functions.php`. I can access the Widgets section in the Customizer but attempting to open any of the widgets for editing causes `Uncaught TypeError: control.onChangeSectionExpanded is not a function` to appear in the browser console.

[2021-04-27 04:15] #26245 closed

[2021-04-27 04:19] noisysocks commented on #28671
#30889 will close this and the way that a widget can choose to render a static "Preview is not available." placeholder is by rendering no output in its implementation of `WP_Widget::widget()`.

[2021-04-27 04:20] noisysocks commented on #25960
#30889 removes this interaction altogether.

[2021-04-27 04:21] noisysocks commented on #25100
Per https://github.com/WordPress/gutenberg/issues/30919, let's add a _Convert to blocks_ button to the Legacy Widget block for all widgets. This ensures discoverability of the conversion flow.

@critterverse: Should this be a text button or an icon button?

[2021-04-27 04:34] aaronrobertshaw commented on #28913
I tend to prefer the idea of grouping theme together as per theme.json. If nothing else it's neater and allows opting into a set of features via a single support flag e.g. `"__experimentalBorder": true`.

Skipping serialization per "feature set" or "area" would get my vote.

As more blocks adopt the various block support features, I think the extra flexibility will pay off. It will cut down on the

[2021-04-27 05:02] noisysocks commented on #30919
Closing this as we have:

- Blocks transforms which allow converting a Legacy Widget into a regular block.
- https://github.com/WordPress/gutenberg/issues/25100 which tracks adding a 'Convert to blocks' button to Legacy Widget when the widget is a text widget.
- A note to write documentation on this in https://github.com/WordPress/gutenberg/issues/25759.

[2021-04-27 05:02] #30919 closed, assigned to nobody

[2021-04-27 05:16] noisysocks commented on #28995
This is incidentally fixed by https://github.com/WordPress/gutenberg/pull/30889 because the form will no longer appear unless selected.

[2021-04-27 05:23] kmadhak commented on #24442
Hello @annezazu,

Greetings of the day!!!

I would like to know the progress of this issue, please let me know if you need more detail on it.

Thank you.

[2021-04-27 05:23] peterwilsoncc commented on #28132
This was [discussed during a triage session](https://wordpress.slack.com/archives/C02QB2JS7/p1619500068310700) today.

A couple of people tested it in WordPress 5.7.1 both with and without the Gutenberg plugin enabled. None of the testers were able to reproduce the issue so it seems it has been fixed sometime between logging your report and now.

Thanks for providing the plugin to test with, it wa

[2021-04-27 05:23] #28132 closed

[2021-04-27 05:23] noisysocks commented on #28672
When I test this I get a `widget is undefined` error when I press save.

[2021-04-27 05:24] kmadhak commented on #27217
Hello @tellthemachines,

Greetings of the day!!!

I would like to know the progress of this issue, please let me know if you need more detail on it.

Thank you.

[2021-04-27 05:26] kmadhak commented on #27194
Hello @JustinyAhin and @tellthemachines,

Greetings of the day!!!

I would like to know the progress of this issue, please let me know if you need more detail on it.

Thank you.

[2021-04-27 05:26] #25960 closed

[2021-04-27 05:26] #26179 closed

[2021-04-27 05:26] #28671 closed

[2021-04-27 05:26] #28995 closed

[2021-04-27 05:29] chaion07 commented on #24678
This came up once again in our [recent triage session](https://wordpress.slack.com/archives/C02QB2JS7/p1619500819320000). Seeing no response, (referring to @getsource comment) we feel it is okay to close this.

Thank you!

[2021-04-27 05:29] #24678 closed

[2021-04-27 05:43] aristath commented on #31084
Closing as duplicate of #27217

[2021-04-27 05:43] #31084 closed, assigned to aristath

[2021-04-27 05:45] aristath commented on #27217
I changed the title of this ticket to make it more clear what the issue is.
There is a draft PR on https://github.com/WordPress/gutenberg/pull/31089 exploring this issue, the problem is the `template` we pass to inner blocks

[2021-04-27 05:48] peterwilsoncc commented on #28607
This was [discussed in a triage session](https://wordpress.slack.com/archives/C02QB2JS7/p1619501194324100) today.

The likely reason content in custom blocks isn't currently counted is that it's hard to be sure how the content is going to be used (whether it's a paragraph, heading, caption or even an internal comment not displayed on the site).

As there is no easy conclusion on if or how the coun

[2021-04-27 05:52] chaion07 commented on #28373
First of all, kudos to @desaiuditd for nicely documenting this. We discussed this issue in a [recent triage session](https://wordpress.slack.com/archives/C02QB2JS7/p1619502096339000) and a few of us were able to reproduce it in Chrome and Brave browsers respectively. Thus I have removed the '**Needs Testing**' label as advised by the team. Thanks!

[2021-04-27 06:09] miminari commented on #25146
This was discussed during [a triage session today](https://wordpress.slack.com/archives/C02QB2JS7/p1619503040354400).

Seeing no response, we feel it is okay to close this. Thank you!

[2021-04-27 06:09] #25146 closed

[2021-04-27 06:20] talldan commented on #26236
I couldn't reproduce the issues mentioned.

When dragging into an empty widget area, I'm seeing that the blue insertion point line doesn't appear. But dropping in the right place (when the cursor has the + symbol) still works.

What's everyone else seeing?

[2021-04-27 06:27] talldan commented on #31129
Good spot. I don't think that's the right assumption though, there's no reason to disallow moving a paragraph in a group.

I think we need to check `canInsertBlockType` for the proposed move and not show the button if that check fails.

[2021-04-27 07:17] ntsekouras commented on #27589
@kjellr is this PR: https://github.com/WordPress/gutenberg/pull/30804 enough to close this issue?

[2021-04-27 07:29] vdwijngaert commented on #24679
Getting the same thing when undoing all edits in the post content. Looks like after the last undo has been processed, the `content` property gets added to the record edits. This property is a _non-transient edit_ (same for `title`, as mentioned by @StevenDufresne), so the post is considered dirty (as determined in the [core `hasEditsForEntityRecord` selector](https://github.com/WordPress/gutenberg

[2021-04-27 08:24] gziolo commented on #31137
@youknowriad, should Post Excerpt block also have `layout.inherit` attribute?

[2021-04-27 08:26] gziolo commented on #31064
It seems like a valid concern, @ntsekouras what do you think?

[2021-04-27 08:36] gziolo commented on #25077
Another link to share, a comparison of a new generation of build tools:

https://css-tricks.com/comparing-the-new-generation-of-build-tools/

[2021-04-27 08:40] gziolo commented on #30588
I can't reproduce it with the most recent version of the Gutenberg plugin. @ntsekouras, isn't it something we fixed after WP 5.7?

[2021-04-27 09:05] javierarce commented on #23953
You are right about the line, I got it from a mockup. I've removed it.

That's true. I've updated the design so the button doesn't look so prominent and behaves like the _Switch menu_ button (for that reason I think we don't need the arrow).

In case the user doesn't have other menus, we won't show that option (this is by the way related to [this bug]( https://github.com/WordPress/gutenberg/issues

[2021-04-27 09:07] jasmussen commented on #30947
Despite excellent steps to reproduce and video proof, I can't actually reproduce this:

![here](https://user-images.githubusercontent.com/1204802/116216166-9e48ff00-a748-11eb-9ffb-a3b614bd5106.gif)

This is on latest trunk, but also on my personal website running the latest version of the plugin.

Can you still reproduce it?

[2021-04-27 09:14] ntsekouras commented on #30588
I can't reproduce either and it seems to have been fixed by: https://github.com/WordPress/gutenberg/pull/29894.

Yes.

@fuzzywalrus This means if you have enabled the Gutenberg plugin in your site. So you have to go the `Plugins` page and see.

[2021-04-27 09:17] paaljoachim commented on #30947
Retesting with WordPress 5.7.1. Gutenberg plugin 10.5 RC. https://github.com/WordPress/gutenberg/releases/tag/v10.5.0-rc.1  Twenty Twenty One.

Following the procedure I am not able to reproduce.
I will post on the ticket asking @ramizmanked to retest using 10.5 RC.

[2021-04-27 09:23] carolinan commented on #31128
So there needs to be two buttons, one to open the "modal" that displays the input field, and one to submit.
This would also be true if the input field was opened on focus.

[2021-04-27 09:25] javierarce opened #31221 "Navigation Screen: move delete button to the bottom of the sidebar"
I'd like to propose moving the delete button that [this PR](https://github.com/WordPress/gutenberg/pull/31026) updated to the bottom of the sidebar (instead of being just below the last accordion).

As we shared in [these explorations](https://github.com/WordPress/gutenberg/issues/30426#issuecomment-816813584), the button would work better and be more visible if it rested at a predictable place.

[2021-04-27 09:33] ntsekouras commented on #31064
While the issue @coreyworrell describes is valid, the example provided is the perfect example of when to use `block styles` see [here](https://developer.wordpress.org/block-editor/reference-guides/filters/block-filters/#block-styles).

Does you use case involves more attributes in the `block variation`?

I guess we could add explicit support for `className` merging but I'm not too fond of adding a

[2021-04-27 09:36] getdave opened #31222 "Full Width Nav Block submenus not aligned below menu item"
## Description
If I set my Nav block to full wide alignment then the submenus are positioned incorrectly. They appear to be missing the rule `top: 100%` which causes them to float about over the top of their parent nav item.

## Step-by-step reproduction instructions

1. Add Nav Block
2. Add some items with submenus.
3. Set Nav Block to "full wide" alignment.
4. Hover over nav items with submenus

[2021-04-27 09:36] #30588 closed, assigned to nobody

[2021-04-27 09:37] gziolo commented on #30588
It looks like I fixed the issue. Thanks Nik for the link 😄

[2021-04-27 09:40] gziolo commented on #30883
All branches updated:

- `wp/5.7` set to v14 in https://github.com/WordPress/gutenberg/commit/bc1c2608b705f479f95c4fa1ade52fd8ad30e0fe
- `wp/5.4` set to v10 in https://github.com/WordPress/gutenberg/commit/5368fbda4cd8bf2e7c21779a8c384c3e139f7825
- `wp/5.3` set to v10 in https://github.com/WordPress/gutenberg/commit/0b1cebf56f7c7499f7b51941b5473db8d7f8ea60
- `wp/5.2` set to v10 in https://github.c

[2021-04-27 09:40] #30883 closed, assigned to nobody

[2021-04-27 09:45] sophiegyo commented on #25098
I'm also seeing this issue with English in Safari, but not Firefox:

https://user-images.githubusercontent.com/36608681/116221223-b3745c80-a74d-11eb-9bf1-2855b46ba335.mov

Tested with:

WordPress v. 5.71
Twenty Twenty-One v. 1.3
Safari v14.1
Mac OS v11.3
No extra plugins, including Gutenberg though

[2021-04-27 10:24] getdave commented on #23953
@gwwar If we were to implement the design shown in this Issue I believe we are going to start duplicating a lot of code between

* Nav block
* Nav editor

Why? This PR is effectively implementing the Nav _block_ placeholder state in the Nav editor. That means we'll need to duplicate all the code for:

* fetching existing pages and parsing into blocks.
* fetching menus and parsing into blocks.

Are

[2021-04-27 10:35] danielck opened #31223 "Allow checking contrast at AAA level with contrast-checker"
## What problem does this address?
The current contrast-checker component in core uses the tinycolor library to check the contrast between two colour values. The specific `isReadable` method used by contrast-checker [supports both level AA and AAA](https://github.com/bgrins/TinyColor#isreadable), but currently level AA is [hard-coded into the WP component](https://github.com/WordPress/gutenberg/bl

[2021-04-27 10:40] draganescu commented on #31194
There are three ideas "floating" around how to solve this problem:

1. add the ability to resize the sidebar by dragging it
2. add an expand button that just places a large modal on top of everything with the contents of the sidebar in it
3. add a toggle that alternates the ratio between sidebar and preview

All three have +/- arguments going for them. I am here to argue talk about (3) because I t

[2021-04-27 11:10] Aljullu opened #31226 "Navigation: allow plugins to register icons for custom post type and taxonomy variants"
Navigation inner blocks are automatically available for Custom Post Types and taxonomies. That was introduced in #29095 and works great, making plugin authors life much easier. However, it doesn't allow setting a custom icon for those inner blocks.

In the screenshot below, you can see the Product Link, Product Category Link and Product Tag Link blocks added by WooCommerce using the generic icon:

[2021-04-27 11:13] jasmussen commented on #23953
Regarding the nav block placeholder state, I'm afraid it remains a bit in flux. The skeleton indicators remain a source of confusion, even if small, and I've noticed an issue where the nav block when inserted in constrained contexts gets scaled improperly, so the nav block placeholder needs a bit of a refactor itself.

So it might not need to be that much of a duplication. If we're lucky, it can b

[2021-04-27 11:13] aristath commented on #31223
Nice suggestion. Marked as a feature-request for the color-contrast checker :+1:

[2021-04-27 11:19] #29457 closed

[2021-04-27 11:19] #29475 closed

[2021-04-27 11:38] JustinyAhin commented on #27194
@kmadhak I can not reproduce the issue on a fresh WordPress 5.8-alpha-50761 installation (with and without the Gutenberg plugin).
I am on macOS, so it may not be noticeable there as @tellthemachines said.

Do you work on a Windows environment so that you can test?

Thanks :)

[2021-04-27 11:45] youknowriad commented on #31137
No, since it doesn't have any child block.

[2021-04-27 12:06] paaljoachim commented on #30993
Good idea! As I have been going over Reusable blocks again I do believe it would be helpful to add it like so:
(Added a light blue background color to emphasize the location. Edited: Added another image...:-)

![Adding-text-link-Convert-to-regular-blocks](https://user-images.githubusercontent.com/5323259/116320010-bd32aa00-a7b7-11eb-8aca-e237c4d08c11.jpg)

[2021-04-27 12:07] scrobbleme commented on #30993
@paaljoachim You should highlight the "Convert to regular blocks". Your image looks like, you want to tell something with "Copy" ;)

[2021-04-27 12:13] getdave commented on #31226
@Aljullu I agree we should enable the ability to register custom icons for the `core/navigation-link` variations (which is what you are referring to as the `innerBlocks`.

You will also notice that once you insert one of the block variations for a custom post type the name of the block in the block sidebar still reads `Post link`. That should also be fixed.

I'm currently working on https://github

[2021-04-27 12:35] #23636 closed

[2021-04-27 12:45] kjellr commented on #27589
Yes, I believe that would solve this specific issue. Now that the Query block has its own container, we were also discussing [the ability for it to have its own layout controls](https://github.com/WordPress/gutenberg/pull/30506#issuecomment-813900134). Is that still the plan?

[2021-04-27 13:03] kjellr opened #31231 "Design bundled Template Part patterns"
Paired with the work in #31155, we should consider exploring various patterns for Template Parts. Let's use this thread to brainstorm possible designs.

Like the Query patterns explored in #30508, these patterns would likely be bundled with Gutenberg for a short time, and then would shift over to the Pattern Directory.

As per #29159, these would map to a few categories:

- Headers
- Footers
- Gen

[2021-04-27 13:48] ntsekouras commented on #27589
Yeah it is, although this might be a bit trickier due to some technical details with existing `layout` property and internal consumption of this prop.

[2021-04-27 14:05] jameskoster opened #31236 "Enhancing select mode"
In the Site Editor we've made a number of enhancements to the interactions around block selection. In particular indicating block outlines on hover / focus, aligning those styles with the new persistent list view, and indicating the parent container of the selected block on the canvas. We're also experimenting with click-through patterns (https://github.com/WordPress/gutenberg/pull/30156 https://g

[2021-04-27 14:05] arcmicro opened #31237 "Various Block Bug Report Thread"
## Description
**1st issue.**
Table Block > Header section = is fine text centered and bold
Footer section is not bold and centered as Header section.
(possible implementation needed)
**2nd issue.**
Image Block > Uploading high resolution images into image block, the image is uploaded into media but it does not add to image block, i must reload Draft post and go to media to add the image into post

[2021-04-27 14:06] getdave commented on #23953
Just to be clear (apologies that I wasn't!), the duplication I'm primarily concerned about is the code that queries and formats the menu/pages data into blocks. The UI is less of an issue in this case although I can imagine quite a lot of the component-level logic from [placeholder.js](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/navigation/placeholder.js) being rep

[2021-04-27 14:18] arcmicro commented on #31237
Additional Improvements if possible.
1st. add separate colors to Table rows to background and to text (if you add this it will awesome)
Something like Row Text color and Background Color settings.
I love this block, too bad colors can't be added in this way, need to use Columns Block instead which is not so organized.
Thank you!

[2021-04-27 14:18] vdwijngaert commented on #27093
I'll try and have a go at this. Progress so far looks promising:
![image](https://user-images.githubusercontent.com/772137/116256581-9c486580-a773-11eb-96db-ceb34bf120e7.png)

Here's at least two things that need some working out:

* How would we go about and replace the current `new post/page` workflow that focuses the empty post title block?
* How should this work on a mobile viewport?

[2021-04-27 14:23] javierarce opened #31241 "Navigation Screen: consolidate top bar with the one used in the FSE"
I want to propose using the same top bar as we do in the Full Site Editor. Using the same bar will help us solve some [responsive issues](https://github.com/WordPress/gutenberg/issues/29100) we have and, in the long run, make the interface more predictable and easier to understand and to update.

Here's the first proposal:

<img width="1142" alt="1" src="https://user-images.githubusercontent.com/4

[2021-04-27 14:24] jameskoster commented on #27093
It may be fine to leave the post title on the canvas _for now_. Otherwise I imagine the text would read "Untitled Page" (or similar) until you click it. Clicking should shift focus directly to the title input.

[2021-04-27 14:34] gwwar commented on #31226
Yes, I hope we'll have this in the future. The current variations API only allows icons to be set with a JS function. We need to explore if we can set icons as a react component function OR svg string (and still have this work for React Native). Once an icon is serializable, it'll be possible then to update the server API.

The workaround for right now is adding a block filter, which even the core

[2021-04-27 14:39] gwwar commented on #31226
To fix that, when registering the custom post type, add two new labels `item_link` and `item_link_description`. New post type labels were added to avoid joining two translated strings.

<img width="944" alt="109557321-cbe93300-7a8c-11eb-87d5-e7c169b88581" src="https://user-images.githubusercontent.com/1270189/116260327-6ed7c980-a72b-11eb-91fc-02547e1bb736.png">

[2021-04-27 14:39] paaljoachim commented on #27093
A couple of options.

![Add-a-title](https://user-images.githubusercontent.com/5323259/116260627-234b0d00-a777-11eb-97fe-efc762b9a0ab.jpg)

As In automatically add a placeholder showing the Post/Page title block. User adds it there and also sees the name added to the top bar. EDIT: This way a user are also able to remove the Post title block from the layout/canvas area.

----

Creating a new post/

[2021-04-27 14:55] desrosj commented on #21616
Closing in favor of https://core.trac.wordpress.org/ticket/53078 and https://core.trac.wordpress.org/ticket/52941.

[2021-04-27 14:55] #21616 closed

[2021-04-27 14:56] gwwar commented on #23953
@getdave That makes sense to me. I'm not sure on the package name, but likely there's going to be a need for similar code in all editors: post, site, widget, navigation. We saw this with the shared search function.

[2021-04-27 15:22] FriendlyWP commented on #17678
+1 @talldan Since captions are associated with the image in the Media Library, there should be a way to show/hide them in different contexts when they're inserted via the block editor. For instance on a site I'm working on now there are images in an image gallery where captions are shown (correctly) but if editors insert those same images elsewhere and *don't* want captions to show, the only optio

[2021-04-27 15:25] getdave commented on #23953
Looks like I need to raise an Issue/PR combo for this then.

[2021-04-27 15:40] luisceladita commented on #30505
It would be nice if the "alt" attribute could be added optionally to the cover block.

[2021-04-27 15:59] annezazu commented on #24442
@kmadhak Hey there! Greetings right back :D No progress right now but it has been appropriately labeled so someone is able to revisit it in time.

[2021-04-27 16:08] creativecoder commented on #25173
It looks like this issue is resolved by https://github.com/WordPress/gutenberg/pull/30427

[2021-04-27 16:16] Sandstromer opened #31248 "Feature request: allow Columns block non-responsive option"
## What problem does this address?

Currently the columns block will always go to a 50/50 layout at browser widths between 600px and 781px, and 100% at widths below 600px. This is regardless of the number of columns or customized column widths.

There will be instances where it is preferable to keep columns at their above 781px layout, even when viewed on narrower screens, so it would be great if

[2021-04-27 16:28] mtias commented on #31236
I am not totally sure about this one, I've found it mostly confusing in the site editor and it starts to diminish the clarity of the currently selected item. I think it can make sense for template part containers, but given the work to have overlays and isolated views it might not be necessary anymore.

[2021-04-27 16:39] iandunn commented on #25077
I just noticed that there's [an official codemod to convert JSX to HTM](https://github.com/developit/htm/tree/283de56/packages/babel-plugin-transform-jsx-to-htm), which could come in handy if we ever want to migrate. The build task could still convert to HTML for production, though, of course.

We could keep JSX if desired, though, and still get 80% of the benefit by removing all the other tooling

[2021-04-27 16:52] kjellr commented on #30803
I'm seeing a lot of flickering as well:

![test-back](https://user-images.githubusercontent.com/1202812/116280871-21715180-a757-11eb-8ba9-3ab4fe1a61d5.gif)

For reference, this is how that looks in the front end:

![test-front](https://user-images.githubusercontent.com/1202812/116281009-436ad400-a757-11eb-9460-230fe909ecb4.gif)

I'm able to reproduce across multiple sites, by using the following t

[2021-04-27 17:25] eduard-co commented on #30803
Should be fixed asap. I don't want to use Chrome/Firefox.

[2021-04-27 17:47] ockham commented on #25173
Yeah, it appears that #30427, plus the fact that the Customizer is now disabled for FSE themes, have resolved this issue.

[2021-04-27 17:47] #25173 closed

[2021-04-27 17:49] ockham commented on #30152
(For xref purposes: Noting here that this issue was a duplicate of sorts of #25173.)

[2021-04-27 17:52] draganescu opened #31249 "Adding a legacy widget and saving right away fails"
## Description
Adding a Woo Product Tag Cloud and savind directly fails with the messahe `There was an error. f. is undefined.` I think it applies to any widget that does not need any configuration and you just want to save it,

## Step-by-step reproduction instructions
0. Have Gutenberg `trunk`
1. Install Woo
2. Go to Appearance > Widgets
3. Add a Woo Product Tag Cloud
4. Save
5. See error

## Ex

[2021-04-27 17:56] draganescu opened #31250 "Sidebar opens itself when clicking widget areas"
https://user-images.githubusercontent.com/107534/116289118-e0029580-a79a-11eb-9716-7a58ff75381b.mp4

[2021-04-27 18:15] Addison-Stavlo commented on #31022
cc - @ellatrix @gziolo @youknowriad  - it sounds like the Iframing editor content experiment in the site editor is posing some challenges for 3rd party blocks.  Any ideas here?

[2021-04-27 18:33] ianstewart opened #31251 "Inconsistent Pattern Insertion between Page Editor and Site Editor"
## Description

The site editor has a pattern insertion experience inconsistent with the page editor. I think, likely, due to what happens when one opens the top inserter in the site editor.

## Step-by-step reproduction instructions

Compare the following pattern insertion experiences.

**Page Editor**

![insert-pattern-into-page-small](https://user-images.githubusercontent.com/545779/116293636-b

[2021-04-27 18:34] vdwijngaert commented on #25475
Hey @catherineconsiglio,  we were unable to reproduce this, I'm afraid. Are you still experiencing this issue? In order to get this sorted out, we'll need some more information. When you're talking about "adding a function", what exactly are you talking about? A hook? A shortcode?

[2021-04-27 19:09] vindl commented on #31156
cc @nosolosw

[2021-04-27 20:04] annezazu opened #31252 "Query Block: ensure focus is on Query Block after insertion"
## What problem does this address?

This came up during the [fifth call for testing for the FSE Outreach Program](https://make.wordpress.org/test/2021/04/14/fse-program-testing-call-5-query-quest/#comment-1501):

https://user-images.githubusercontent.com/26996883/116304817-356d8100-a760-11eb-9fbf-03362931bdb7.mp4

## What is your proposed solution?

Ensure the focus is put on the Query Block rathe

[2021-04-27 20:19] supernovia opened #31253 "Cover block hides content if color variable is not set"
## Description
A user created a cover block with fairly complex content. When they switched themes, there were no obvious errors in the editor, but none of the content appeared either. I took video so you can get a better idea what's happening:
https://cloudup.com/cHLs8znxI1n

HT @akirk for figuring out what was causing the user's content to go missing!

## Step-by-step reproduction instructions
-

[2021-04-27 20:21] supernovia commented on #31253
Noting this possibly related discussion: https://github.com/WordPress/gutenberg/issues/29568

[2021-04-27 20:29] annezazu commented on #30725
[The fifth call for testing for the FSE program](https://make.wordpress.org/test/2021/04/14/fse-program-testing-call-5-query-quest/#comment-1501) also led to similar feedback being shared:

I imagine this will be implemented as more padding controls are explored but wanted to pass this feedback along!

[2021-04-27 20:30] gwwar opened #31254 "Navigation Link stores url as id"
After adding a custom link, the block id attribute is set to the url value. In this case we'd expect no id attribute to be set for a custom link.

With work in https://github.com/WordPress/gutenberg/pull/31004 we may also want to add the a `kind` value of `custom`

https://user-images.githubusercontent.com/1270189/116308559-7b284a80-a75c-11eb-98fd-0c8b462cba3b.mp4

[2021-04-27 20:35] annezazu opened #31255 "Feedback: color settings for Post Title Block are confusing"
## What problem does this address?

[This feedback came up as part of the fifth call for testing](https://make.wordpress.org/test/2021/04/14/fse-program-testing-call-5-query-quest/#comment-1501) for the FSE Outreach Program:

Speaking personally, I've also fallen prey to this as it's not quite intuitive that it's a link. This might be one of those things to adjust to in the query block context but

[2021-04-27 20:38] annezazu commented on #25456
This came up in feedback as [part of the fifth call for testing for the FSE Outreach Program](https://make.wordpress.org/test/2021/04/14/fse-program-testing-call-5-query-quest/#comment-1501):

&

I wanted to include it here since it seems very related :)

[2021-04-27 21:41] annezazu opened #31256 "Featured Image Block: Unable to upload featured image if import broken image link"
## Description

This is an edge case bug that was found as part of the FSE Outreach Program's fifth call for testing. Essentially, if you import content using the WordPress importer but the featured image links are broken, the featured image block doesn't allow you to replace/act on adding an image in any way.

## Step-by-step reproduction instructions

1. Setup a site with FSE
2. Using the WordPr

[2021-04-27 22:08] annezazu opened #31258 "Query Block: Allow term addition from user case-insensitive input"
## Description

When customizing the query block results, one cannot use a comma to separate out categories to include. [This was discovered as part of the fifth call for testing](https://make.wordpress.org/test/2021/04/14/fse-program-testing-call-5-query-quest/#comment-1513) for the FSE Outreach Program:

## Step-by-step reproduction instructions
1. Create a site with FSE capabilities
2. Head to

[2021-04-27 22:31] paaljoachim commented on #30993
Let's look at a few things.

1-
The icon to "convert to regular blocks"

![Reusable-block-toolbar](https://user-images.githubusercontent.com/5323259/116320072-de939600-a7b7-11eb-8406-fe2c52c0311f.jpg)

should be switched out with another icon.

--

2-
Having the "Convert to regular blocks" in the 3 dot (Options) drop down should also help.

---

[2021-04-27 22:52] gwwar commented on #31254
Looks like it's coming from https://github.com/WordPress/gutenberg/blob/d74e04714b3860a4a960daeca2d3ca47bcdb7c01/packages/block-editor/src/components/link-control/use-search-handler.js#L22-L47

The type value for a custom link can be `URL`, `mailto`, `tel` or `internal`

[2021-04-27 23:44] #19659 closed

[2021-04-28 00:14] aaronrobertshaw opened #31261 "Table: Continued enhancement of color options"
Follow-up to https://github.com/WordPress/gutenberg/pull/30791

### Current Situation
The [table block has recently been switched to use block supports](https://github.com/WordPress/gutenberg/pull/30791) to provide greater control over background and text colors.

It was decided that change was a good first step however we need to address some additional issues such as:
- allowing control of table

[2021-04-28 00:19] aaronrobertshaw commented on #28913
The initial switch to [block support colors for the Table block](https://github.com/WordPress/gutenberg/pull/30791) has been merged and a follow up [issue](https://github.com/WordPress/gutenberg/issues/31261) created to track the [requested iterations](https://github.com/WordPress/gutenberg/pull/30791#issuecomment-823815094)

[2021-04-28 01:49] noisysocks commented on #26236
~Aha I see. The problem I noticed is that you cannot seem to drag and drop into an **empty** widget area.~

**Edit:** Sorry, it does work! It's just that without the blue line it's really hard to tell where you need to release the mouse.

[2021-04-28 02:22] noisysocks commented on #31183
Related, probably the same: https://github.com/WordPress/gutenberg/issues/30897

[2021-04-28 02:41] noisysocks opened #31263 "Widgets editor: Deleting a block should delete it, not move it to Inactive Widgets"
## Description
Right now if you delete a block in the Widgets editor screen then that widget will be moved to the Inactive Widgets area. It should be deleted permanently.

## Step-by-step reproduction instructions
1. Navigate to Appearance → Widgets.
2. Delete a block from a widget area.
3. Press _Save_.
4. Refresh the page.
5. Expand Inactive Widgets.

## Expected behaviour
The block you deleted

[2021-04-28 02:42] noisysocks commented on #31263
I'm 80% sure that this is because we need to pass `?force=1` to the REST API when deleting.

[2021-04-28 03:03] talldan commented on #31056
Are components from the components package generally considered to be usable in a block save function?

I'm not sure those components are really intended for that use. A lot of them have associated styling and event handling that wouldn't work when rendered to a string.

Spinner is an interesting one, because it's just a span with some styling, but it looks like the css-in-js styles being rendered

[2021-04-28 03:52] carolinan commented on #30725
Yes I wonder if both margin and padding would be enabled by default for all blocks.

[2021-04-28 03:57] draganescu commented on #24687
Updated by @noisysocks to reflect priorities for a good merge candidate for WP 5.8.

[2021-04-28 04:17] noisysocks commented on #28672
OK I see the problem. We need to submit the widget's form when creating a new Legacy Widget as sometimes the widget's default values are encoded in the form's `value`s. I'm not yet sure how to do that elegantly with `useFormData`.

[2021-04-28 04:58] #31059 closed, assigned to nobody

[2021-04-28 05:17] talldan commented on #31263
Wow, good catch, never noticed this 😄

[2021-04-28 05:47] glendaviesnz commented on #29994
This will be mostly fixed by #31216 as with this fix in place the toolbar will only display if the caption is selected.

[2021-04-28 06:20] aaronrobertshaw commented on #31261
Border support has been added to the Table block via https://github.com/WordPress/gutenberg/pull/31264 & https://github.com/WordPress/gutenberg/pull/31265.

The first PR adds utilities to collect border support CSS classes and styles when skipping serialization. The second uses those to provide border support to the Table block.

[2021-04-28 06:37] sophiegyo commented on #16296
I am glad I found this feature request already open as I was about to open a similar one, I'd definitely be interesed in being able to name blocks - either by showing the id/anchor or with a separate name field. I was also thinking of suggesting the name field in the Advanced section, it's a great-to-have, not a must in my opinion. Reusable blocks already show their names/post titles (since they'r

[2021-04-28 06:38] talldan commented on #17678
[ 'core/image', { caption:false } ] would be nice. (when using in template for inner blocks).

@sproutient @davidfregoli  I'd recommend submitting a new issue for this. The issue here is closed as the reporter's problem was solved and so your comments won't be very visible.

----

@FriendlyWP Would you be able to provide some more detail, as I don't quite follow. What you describe should only happ

[2021-04-28 06:50] #30269 closed, assigned to kevin940726

[2021-04-28 07:06] talldan commented on #18229
I think the root cause was fixed by https://github.com/WordPress/gutenberg/pull/28796. The comment https://github.com/WordPress/gutenberg/pull/28796#issuecomment-777440563 describes exactly what has happened.

1. The cover block's HTML was changed, but a migration wasn't properly written for the alignment feature.
2. When a user loaded the post in the editor, most of the block's features are migra

[2021-04-28 08:02] carlomanf opened #31272 "Pass outer context variable into query loop"
## What problem does this address?

I'm making a block that implements a form of post-to-post relationships (in a private repository at the moment) and it needs to be able to access the value of the `postId` context variable outside a query loop when the block is inside the query loop.

## What is your proposed solution?

I was able to achieve this by having the query loop pass the [hard-coded con

[2021-04-28 08:03] jameskoster commented on #31241
I _love_ this initiative, all unification endeavours are a win imo!

So far in the Site Editor, the popover that is exposed when you click the entity name in the top bar reveals options and actions that can be applied to that entity. Resetting a template, for example:

<img width="316" alt="Screenshot 2021-04-28 at 08 56 43" src="https://user-images.githubusercontent.com/846565/116367874-ad3eb880-

[2021-04-28 08:04] carolinan commented on #31255
I am not sure how this would work since some blocks will have both regular text and links.
Especially not if the link setting is expanded to include hover and focus colors and text decorations 🤔

[2021-04-28 08:07] carlomanf commented on #31272
To clarify, the fact that `postId` is passed with a different value is not really relevant. The point is that any outer context variable is inaccessible from within the query loop, whether it's `postId` or something else, whether it gets passed with a different value or whether it just doesn't get passed at all.

[2021-04-28 08:08] carolinan commented on #31231
I think this needs to be solved first because if the template part block **itself** has styling options it will change how the pattern looks.
https://github.com/WordPress/gutenberg/issues/30732

[2021-04-28 08:12] #27589 closed

[2021-04-28 08:13] TBAIKamine opened #31273 "theme customizer color control makes everything dissapear"
adding a customizer control of invalid type returns to default type of text:
[code]
the above code will work just fine, but the one below will crush down the customizer making everything dissapear:
[code]
now I know there is a workaround and a color type can be added differently using custom controls. but that's not the point
also it's sad that such simple control can't be simply added the usual w

[2021-04-28 08:23] jameskoster commented on #31236
Yes, I think the parent outline style should be tied to the click-through UI.

That is to say: the parent outline should only be applied in situations where the click-through itself is utilised. And of course only if the click-through UI itself makes use of a parent outline style.

[2021-04-28 08:33] javierarce commented on #31241
Thanks for bringing this up, @jameskoster!

I thought about using the sidebar menu, but I didn't suggest it because I felt that the title popover is lighter and could work better for the general use case (which I imagine it's a user with a small number of menus).

But the sidebar has some good features (like previews for each item, search and the add button) that could definitely work here. Plus,

[2021-04-28 08:39] jameskoster commented on #31241
Yeah I think that makes sense. Unify, then refine holistically! 🚀

[2021-04-28 08:44] jasmussen commented on #31241
For what it's worth, we've had a top bar, and one of the reasons we removed it was to avoid this looking like the block editor, and to look more like other wp-admin screens.

[2021-04-28 09:08] Julianoe commented on #29178
@paaljoachim thx for the work, I think this proposition you made solves multiple issues that were present in the Reusable block UX, including breaking up the Reusable block, renaming, etc.

[2021-04-28 09:32] paaljoachim commented on #31163
I have been looking at bigger changes mentioned in this issue as well as smaller incremental changes improving the current approach we can see in the newest Gutenberg plugins.

[2021-04-28 09:33] paaljoachim commented on #29178
Thanks @Julianoe Julian.
It is a big change I suggested. In general it is easier for a project to go with incremental changes which I am also looking at.
The point is atleast to make Reusable blocks easier to use for everyone.

[2021-04-28 09:36] oandregal commented on #29891
https://github.com/WordPress/gutenberg/pull/30541 to implement this is at the latest stages (polishing, fixing some bugs).

[2021-04-28 10:03] aristath commented on #31273
Hello @TBAIKamine,
I don't think this is the right place for this question... This is a repository for the WordPress editor, and has nothing to do with the customizer.
I would advise you to ask this question in https://wordpress.org/support/ instead.

To answer your question though, if you want a color control, WordPress already includes one (see https://developer.wordpress.org/themes/customize-ap

[2021-04-28 10:03] #31273 closed, assigned to nobody

[2021-04-28 10:05] maddisondesigns commented on #18229
@talldan Looking back through the revisions for that Post, I can see that it's been almost 2 years since that attribute was changed from `"align":"wide"` to `"className":"alignwide"` and `"align":"full"` to `"className":"alignfull"`

<img width="1920" alt="screenshot_618" src="https://user-images.githubusercontent.com/2078245/116384242-02f47e80-a85b-11eb-84df-5e6a4b1add58.png">

Every revision sin

[2021-04-28 10:08] Aljullu commented on #31226
@getdave

Thanks for clarifying those concepts to me, I'm still new to all the Gutenberg nomenclature. :slightly_smiling_face:

Will do. Adding this to my todo list for this week. :+1:

[2021-04-28 10:09] Aljullu commented on #31226
@gwwar

That worked great, thanks for pointing me in the right direction! I needed to tweak the code a bit because when calling it from a plugin, `variation.icon` is already set. Sharing the code here in case it's helpful for other plugin authors:

[code]

[2021-04-28 10:35] #14072 closed

[2021-04-28 10:35] jasmussen opened #31276 "Navigation Screen: Always show appender"
## What problem does this address?

The default menu on the navigation screen doesn't show the appender:

<img width="655" alt="Screenshot 2021-04-28 at 12 28 05" src="https://user-images.githubusercontent.com/1204802/116390012-e9811180-a81d-11eb-9441-dbb4670095e4.png">

Not until the menu is selected:

<img width="687" alt="Screenshot 2021-04-28 at 12 28 35" src="https://user-images.githubusercon

[2021-04-28 10:36] jasmussen commented on #31276
CC: @javierarce in case you have any thoughts on a better approach!

[2021-04-28 10:44] ntsekouras commented on #31252
Hey 👋 - this is not related to `Query` specifically but to the `Pattern suggesting in placeholder` functionality.

This new functionality allows the usage of more complex patterns that don't necessarily include only the blocks from which are shown. While there could be a way to fine tune this for Query, it would also create confusion when patterns contain more than one `Query` blocks like the `Off

[2021-04-28 10:49] jameskoster commented on #31241
@jasmussen very good point. This speaks to the purpose of this screen, which still confuses me even to this day :)

If it's not something we see it as a component of block-based site editing, maybe the alignment is not worth it.

[2021-04-28 10:49] paaljoachim commented on #30947
I will go ahead and close this issue as we am not able to reproduce the error in Gutenberg 10.5.
The issue can always be reopened if need be.

[2021-04-28 10:49] #30947 closed, assigned to nobody

[2021-04-28 10:56] christianoliveira commented on #10994
I'm still trying to make sense of this, I've tried to install a REST API cache plugin (this specifically https://wordpress.org/plugins/wp-rest-cache/ ) but it didn't make any difference.

All the requests to /wp-json/wp/v2/media/<id> keep firing and take around 1s each to load. Is there any possibility to force a stop of those request (so I can open and edit the post!) and/or to only fire the requ

[2021-04-28 11:07] javierarce commented on #31241
I still think is a good idea to move forward with this change. It's not only about consolidating the two interfaces, but the FSE top bar offers a much better design than the current solution. And it's also a more scalable and organized way to offer important features.

We could definitely find an alternative third-way, but since we already have a nice solution, I'd say let's use it :)

[2021-04-28 11:07] geertvdheide1 commented on #31165
@amir2mi Thank you so much for reporting this, and offering a fix. There have been several earlier tickets relating to the sidebar's scroll behavior which got fixed, but this one in Firefox is still ongoing. I hope this gets fixed in core soon, or maybe Firefox should change their scroll logic. But for now, you are my savior.

[2021-04-28 11:10] joostdekeijzer commented on #10994
@christianoliveira I did some digging in the code and I think the main issue here is that a gallery is handled by the code as a bunch of separate images. And for each image a separate API call is done to retrieve the info needed. This is not easily solved by a cache plugin I guess, but I don't know the  plugin your using.

@dd32 @antpb the current priority is "low". I also see a lot of "refactorin

[2021-04-28 11:34] christianoliveira commented on #10994
@joostdekeijzer thanks for the fast response and for looking into ti!

The cache plugin is specifically for the REST API, so if it works (which I assume is not working in my case, I need to review it further) if should make those "/wp-json/wp/v2/media/" requests faster by avoiding querying the database (now, at least in my case, each /wp-json/wp/v2/media/ requests takes 1s average to load so it co

[2021-04-28 11:38] oandregal commented on #20331
Weekly status report for [core-editor meeting](https://make.wordpress.org/core/2021/04/26/editor-chat-agenda-28-april-2021/).

**Shipped this week**

theme.json

- clean-ups https://github.com/WordPress/gutenberg/pull/31224

block.json / block supports

- duotone https://github.com/WordPress/gutenberg/pull/26752
- padding: fix to allow units other than px https://github.com/WordPress/gutenberg/pul

[2021-04-28 11:39] talldan commented on #25067
It can be picked up, not something that I plan on looking at soon.

Though, I did have a quick look at it recently but without success. I have a feeling a nice optimisation might be to switch to using an absolutely positioned separate element for the insertion point indicator, a bit like how the main block editor does now.

Currently dragging over the blocks updates each block to show a border to

[2021-04-28 11:39] javierarce commented on #31276
I think there's an indirect and less "invasive" way to solve this issue. If we fixed the hover state of the menu highlighting its border as I mentioned [here](https://github.com/WordPress/gutenberg/issues/30659), users would naturally understand that the menu is clickable.

That said, I think your solution could work, and it's probably more accessible (although from a purely aesthetic perspective

[2021-04-28 12:21] paaljoachim commented on #8867
There are a lot of additional discussions in the [PR](https://github.com/WordPress/gutenberg/pull/30598) which brings up various things discussed above here in this issue.

[2021-04-28 12:33] vdwijngaert commented on #8867
For a future version, it might be an idea to allow manipulating this list (using filters?). I can imagine this could come in useful for plugins that might want to try and suggest tags based on the post that is currently being edited.

[2021-04-28 12:53] SiobhyB opened #31281 "Mobile: BottomSheetTextControl Component: Get Text Area to Automatically Expand/Shrink with Text Entry"
## Description

[The BottomSheetTextControl component](https://github.com/WordPress/gutenberg/tree/trunk/packages/components/src/mobile/bottom-sheet-text-control) currently has a text area with a set height:

![112876262-348ff380-90bd-11eb-8637-f0878ed94dea](https://user-images.githubusercontent.com/2998162/116404075-310b9b80-a826-11eb-90cf-ab4f9c7ad170.png)

If a user enters a large amount of tex

[2021-04-28 13:17] ntsekouras commented on #31251
Hey 👋 I couldn't reproduce on latest `trunk`...

![patterns](https://user-images.githubusercontent.com/16275880/116410101-1e509100-a83d-11eb-9682-63b43693e286.gif)

[2021-04-28 13:25] JustinyAhin opened #31282 "Blocks styles preview containers have cursor: text proprerty"
## Description
Some blocks (as image, cover, column or group) have `cursor: text` property for their styles preview containers.

## Step-by-step reproduction instructions
1. Add an image or cover or column or group block]
2. Go to the block settings panel and hover on the styles preview containers

## Expected behaviour
The cursor should be a pointer on hover of the preview container

## Actual be

[2021-04-28 13:28] jameskoster opened #31283 "Select mode: Display the block name on hover"
Which block will be selected on click can sometimes feel like a mystery. In the Site Editor (and in Select Mode) we display outlines which help a bit, but is still inadequate in situations where a single block fills a container, and you need to click more precisely.

In such situations seeing the block name on hover can be a helpful indicator of precisely which block will be selected _before_ you

[2021-04-28 13:36] karmatosed commented on #31283
I think this does add a context but I am not sure it doesn't bring more readibility issues. For example there is now a word very close to another:

![image](https://user-images.githubusercontent.com/253067/116413006-1d186780-a82f-11eb-82e3-0695e9a3a346.png)

Maybe having to the side works when there is space? The styling also makes this look clickable like an actionable button.

[2021-04-28 13:42] JustinyAhin commented on #31282
This is being fixed in #31188

[2021-04-28 13:43] jameskoster opened #31284 "Select mode: Allow the entire block to function as a drag-handle"
In select mode, the selected block can be re-arranged by dragging the block chip:

https://user-images.githubusercontent.com/846565/116413320-68327a80-a82f-11eb-8207-165c1d9c01ac.mp4

It might be nice to extend that interaction to the block itself, so that there is a larger hitbox for drag and drop. Clicking the block should still switch to edit mode.

https://user-images.githubusercontent.com/846

[2021-04-28 13:59] jameskoster commented on #31283
If we place it to the side of the block we inevitably end up having to move it for narrow screens, or for blocks that fill the canvas horizontally. The different widths (based on the block name) create some visual awkwardness too:

![side](https://user-images.githubusercontent.com/846565/116416197-10494300-a832-11eb-8b9f-e20a21cbe8f8.gif)

[2021-04-28 14:04] paaljoachim commented on #8867
Hi @vdwijngaert Koen
Can you create an issue for this feature suggestion please? Thanks.

[2021-04-28 14:05] jameskoster commented on #31283
It is :) You click the block to select it. Essentially the whole block is a button, and the label here is just an extension of that.

Edit: Here's a slightly less pixelly/noisy iteration that elaborates on the "entire block is a button" concept:

![block-as-button](https://user-images.githubusercontent.com/846565/116420053-8d29ec00-a835-11eb-800d-82c13ac0f434.gif)

[2021-04-28 14:09] vindl opened #31286 "Site Editor: show More Settings in Block Toolbar"
The More Settings option is not present in the Block Toolbar and it may not be obvious how to get to the Inspector Controls. We should probably align this with the Post Editor.

Post editor:

<img width="645" alt="Screen Shot 2021-04-28 at 4 07 58 PM" src="https://user-images.githubusercontent.com/1182160/116417844-edbc2780-a83b-11eb-9f65-0ef0086bc406.png">

Site editor:

<img width="697" alt="Scr

[2021-04-28 14:12] mahammedzkhan commented on #27771
I'm having the same issue with WordPress 5.7.1, using an integer for `include` doesn't work but a string works.

[2021-04-28 14:40] karmatosed commented on #31283
Ah! It wasn't super clear in description and gif it was clickable, thanks for clarification. I think if you're going for the 'whole block is a button' you probably should go all in as with last iteration.

[2021-04-28 15:01] bobbingwide commented on #24934
Some more requirements to add to the list.

Argument | Use case
-------- | ---------
post_type | Ability to select multiple post types
post_type | Ability to select attachments
post_type | Ability to select post types which aren't supported by the REST API
meta_key & meta_value | Ability to use meta key and meta value to limit results
customcategoryname | Ability to select custom taxonomy terms
po

[2021-04-28 15:04] annezazu commented on #31252
Thanks for the wider context! I wonder what the best solution is here or if this is a "won't fix".

[2021-04-28 15:07] atimmer opened #31289 "RichText: When clicking on a RichText with keepPlaceholderOnFocus the caret doesn't appear"
## Description

When clicking with the mouse on a `RichText` that has `keepPlaceholderOnFocus` set to `true` the caret doesn't appear.

## Step-by-step reproduction instructions

<details>
<summary>JavaScript for a reduced block</summary>

[code]

</details>

<details>
<summary>Browser console version</summary>

[code]

</details>

1. Register the above block with your preferred Webpack solution.

[2021-04-28 15:11] bobbingwide commented on #27093
There could be a problem with this. In the Site Editor, without the post title,  it becomes difficult to edit the first block / blocks.
![image](https://user-images.githubusercontent.com/2474435/116427766-3a9ffe00-a83c-11eb-8992-a394e084bc35.png)

Workaround is to switch to having the toolbar at the top.

[2021-04-28 15:36] vdwijngaert commented on #27402
No real feedback, but just throwing this here: I can imagine this having a major impact on phase 4 of Gutenberg in the [long term roadmap](https://wordpress.org/about/roadmap/). I agree i18n and i10n for templates and template parts is an issue to be tackled, but I'm not sure when and how...

[2021-04-28 15:48] vdwijngaert commented on #8867
I'll try to do it as soon as the PR gets merged!

[2021-04-28 16:01] bobbingwide commented on #27402
It certainly will.

I had assumed that the ability to translate a theme's content was already a pre-requisite to hosting the theme on wordpress.org.
Now I see there's a tag #translation-ready and that none of the already 4 approved FSE themes are tagged with #translation-ready.

[2021-04-28 16:02] stokesman commented on #31253
This is another way to reproduce #28888. Switching themes and having the content not show seems like it would be especially confusing.

[2021-04-28 16:15] stokesman commented on #28888
Relabeled this as a bug since I think #31253 makes it clear just how confusing this can be.

[2021-04-28 17:01] pbking opened #31293 "Base Block Styles Loaded Differently for PHP templates than Block-based HTML templates."
## Description
When a block-based HTML template is used to render a page base block styles are loaded inline, and are loaded prior to the styles generated based on theme.json.
i.e.
[code]
When a php-based template is used to render a page the base block styles are loaded from CSS files instead, and are loaded at the bottom of the body.
[code]
The result is incorrect application of styles as the 'b

[2021-04-28 17:37] anthonyburchell commented on #18593
This issue came up in a recent Media and Trac user `linhlbh` brought attention to it through this ticket that has since been closed as reported upstream. It would be great when this is solved to give them props. Their report helped us identify potential fixes.

[2021-04-28 18:32] skorasaurus commented on #25189
(fwiw, I'm not sure if this should be enabled by default, it can lead to some really poor designs if implemented).

[2021-04-28 18:55] annezazu commented on #30925
This seems to be a big area of feedback as I have thoughts from another person about this current experience to pass along:

[2021-04-28 19:24] annezazu commented on #30660
More feedback related to this [here starting at 2:43](https://youtu.be/j3rajAseREU?t=163). Here's a re-recording for ease of use:

https://user-images.githubusercontent.com/26996883/116461075-0a009a00-a825-11eb-895a-abf421a9cbb7.mov

Very frustrating/nearly unusable experience.

[2021-04-28 19:35] georgeh commented on #29422
👀

[2021-04-28 19:42] paaljoachim opened #31296 "Reusable blocks: Convert a Reusable block to a pattern block"
## What problem does this address?

An example is Learn that uses Reusable block "templates". Before using the  "template" one needs to remember to convert it to regular blocks or else one might end up overwriting the Reusable block.

## What is your proposed solution?

Having a simple way to convert a Reusable block to a pattern. In the 3 dot contextual options drop down. Second option from the b

[2021-04-28 19:49] paaljoachim opened #31298 "Patterns: Create a pattern in a similar way to how we create a Reusable block."
## What problem does this address?

At current there is no user interface to create a pattern. Let's change that.

## What is your proposed solution?

Similar to how we add blocks to become a Reusable block it would be helpful to add blocks to become Pattern blocks.

![Patterns-Add-to-Pattern-blocks](https://user-images.githubusercontent.com/5323259/116463835-7a320e80-a86b-11eb-9977-e26f3778cb81.j

[2021-04-28 19:50] pbking commented on #31293
It seems that the culprit is somewhere in [this commit](https://github.com/WordPress/gutenberg/commit/7c134eb66f1e5ed67db646e19234d9edf6e3090e) adding support for block templates.

[2021-04-28 20:05] jffng commented on #31293
cc @aristath for any clues 🙏

[2021-04-28 20:18] ntsekouras commented on #31258
Currently `FormTokenField` which is used in Query block for adding categories and tags, shows suggestions that are case insensitive. The actual addition though was performed by trying to find a case sensitive match and that resulted in not adding a term if the user pressed Enter or tried to separate with comma.

I've linked a PR that adds an extra check for entered terms in a non case sensitive wa

[2021-04-28 21:09] annezazu commented on #31258
Huzzah! Amazing! Thanks for figuring out what was going on there.

[2021-04-28 21:18] bradhogan commented on #3307
Still seeing this issue.  Any news on why this keeps happening?  Using Chrome (Version 90.0.4430.93) on a Macbook (Big Sur 11.2.3).   Thanks!

[2021-04-28 21:39] glendaviesnz commented on #29998
Fixed by #31216

[2021-04-28 21:39] #29998 closed, assigned to glendaviesnz

[2021-04-28 21:41] glendaviesnz commented on #29994
Mostly fixed by #31216, toolbar still stays after editing caption and clicking on media placeholder but is dismissed if clicking on an image or deselecting block so good enough for now I think.

[2021-04-28 21:41] #29994 closed, assigned to glendaviesnz

[2021-04-28 21:51] circlecube opened #31304 "Update new post query string parameters for content to autopopulate as block"
## What problem does this address?
Using query string parameters to autopopulate content creates a classic editor block.

For example visit `wp-admin/post-new.php?post_title=Test&content=content+that+is+not+a+block` and see the content inserted to the post content as a classic block. Selecting the block then asks to be converted to block content, this could be avoided if the content were inserted

[2021-04-29 00:03] coreyworrell commented on #31064
@ntsekouras It would be a perfect case for block styles, except that you can currently only select a single block style. We are already using a style for a bordered header, so we cannot select both bordered and serif styles at once.

[2021-04-29 00:05] coreyworrell commented on #31064
If you notice in the recording also that you cannot unselect the variation. Maybe that is intended, but as of now I guess if you want to register a variation you must actually register two variations (a default and the other).

[2021-04-29 01:43] creativecoder commented on #31286
Draft PR up at https://github.com/WordPress/gutenberg/pull/31305

[2021-04-29 03:06] rcio1 opened #31307 "Formatting Settings within a Block Are Affecting Text Outside That Block, and the WordPress Interface Itself"
My understanding is that settings for elements inside a block, i.e. text weight, should not affect elements outside that block, however, that is what I am seeing.

I have seen this with both Getwid's "Advanced Header" block, and Stackable's "Advanced Header" block.  Those just happen to be the ones that made me notice it, but this may also occur with other blocks, from other creators.

This has be

[2021-04-29 03:40] carolinan commented on #31124
Presets would be a good start but I hope custom styles will also be considered (issue linked above), as well as how to handle images in patterns.

[2021-04-29 03:49] tellthemachines commented on #26236
I could repro this up to 10.4.1, but can no longer with 10.5 or with the latest trunk. Let's close it as fixed.

[2021-04-29 03:49] #26236 closed

[2021-04-29 04:00] tellthemachines commented on #26469
I can no longer reproduce the label text issue. The bottom of the "g" getting cut off happens also when adding a new Legacy Widget but it's not specific to this block; see #27194. Closing as widgets-relevant issue is fixed.

[2021-04-29 04:00] #26469 closed

[2021-04-29 04:18] tellthemachines commented on #30720
Looks like the main issue of the toolbar not showing at all on mobile is fixed in #31134. Not sure if the remaining [styling issues](https://github.com/WordPress/gutenberg/pull/31134#issuecomment-828872933) will be fully resolved over there though, so leaving this one open for now.

[2021-04-29 05:08] talldan commented on #18229
Would you be able to share the markup from that revision (the one with `"align": "full"`) in a text snippet? That way I can test whether there's still an issue with that particular version of the block.

[2021-04-29 05:41] #25100 closed

[2021-04-29 05:51] talldan commented on #31183
This is a duplicate of #30897

I've renamed the other one so it's a bit clearer.

[2021-04-29 05:51] #31183 closed, assigned to kevin940726

[2021-04-29 06:05] maddisondesigns commented on #18229
@talldan Here's the markup for those two revisions in that above screenshot.

2 years ago (24 May @ 13:56)
**Before:**
[code]

**After:**
[code]

This is a local site so those image urls obviously wont resolve.

[2021-04-29 06:17] aristath commented on #31293
@pbking I pushed PR https://github.com/WordPress/gutenberg/pull/31309
I tested with your test theme and that tweak fixes the issue. Can you please confirm that works? Thanks :+1:

[2021-04-29 06:57] mkkeck opened #31310 "Making properties, attributes and behaviors of blocks more configurable"
## A simple way to configure blocks is missing

As a theme developer for WordPress I am sometimes really frustated, specially on new releases of Gutenberg. For example with the WordPress 5.7.1 there was a new release of Gutenberg, wich adds a color panel for social links.
Prior, I've removed all not wanted variations, styles and services for the social links block in my theme. I have styled the so

[2021-04-29 07:34] vdwijngaert opened #31311 "Handbook: update projects & roadmap"
The [roadmap](https://github.com/WordPress/gutenberg/blob/d21586ebdbd7a880f46ddaa70d5099f6bb588394/docs/contributors/roadmap.md) as well as the list of upcoming projects in the contributor guide is outdated and needs freshing up. The [WordPress roadmap](https://wordpress.org/about/roadmap/) and the [#gutenberg tag](https://make.wordpress.org/core/tag/gutenberg/) on make.wordpress.org seem like a g

[2021-04-29 07:44] ajotka opened #31312 "allowedBlocks attribute implementation at cover"
## What problem does this address?

It would be great to have an option to pass allowedBlocks to cover block.

A cover usually consists of a combination of the following blocks: heading, paragraph, list, and button. The ability to add other core blocks makes it easy for people to make frontend... bad.

I saw someone else PR of the same problem for the column, so I decided to apply for a cover bloc

[2021-04-29 08:05] carolinan opened #31315 "Previous post block does not work for all attachment pages"
## Description

If the template that is used to display attachments has a previous post block, the link does not always work.

- ✅ If the media is attached to a post or page, the link leads to that post/page.
- If the media is not attached, the link is visible but leads to the current page.

Note: The _next post_ block never seems to be visible on the attachment page.

## Step-by-step reproduction

[2021-04-29 08:06] Aljullu opened #31316 "Navigation: consider honoring customize_nav_menu_available_items and customize_nav_menu_available_item_types filters"
Some plugins use the [`customize_nav_menu_available_items`](https://developer.wordpress.org/reference/hooks/customize_nav_menu_available_items/) and [`customize_nav_menu_available_item_types`](https://developer.wordpress.org/reference/hooks/customize_nav_menu_available_item_types/) filters, to allow users to add custom navigation items which are not associated to any post type or taxonomy.

## Use

[2021-04-29 08:14] jasmussen commented on #27093
There's also this issue for the block toolbar when it's close to the top of the screen: https://github.com/WordPress/gutenberg/issues/29464

[2021-04-29 08:15] aaronmeder commented on #13154
+1

[2021-04-29 08:21] unprintedch opened #31317 "Group alignfull within a group align full"
## Description
If we use group align full within a group alignfull there is an overflow on the left

## Step-by-step reproduction instructions
Add a group alignfull
Add another one in it...

## Expected behaviour
It would be nice to have it align and nice

## Actual behaviour

<img width="1629" alt="dc_screen_shot 2021-04-29 à 10 11 52" src="https://user-images.githubusercontent.com/2622001/116521

[2021-04-29 08:22] tellthemachines commented on #31263
I can reproduce this, and not only the deleted block ends up in Inactive but any blocks I created and saved immediately before deleting will be copied over to Inactive too. Not sure if that's the same or a different issue.

[2021-04-29 08:34] hedgefield commented on #30406
Thanks for the PR Joen, it looks good! I do like the idea of a makeshift logo being generated, kinda like the icons in the plugin directory. I wonder how intuitive it is though for someone just expecting to get a box to upload a logo into. It might be a nice feature to have as a choice: upload your own _or_ let WordPress generate something.

Is the `needs design` tag still on this issue for the 'a

[2021-04-29 08:52] jasmussen commented on #27093
Having an interface in the top toolbar is something we've discussed for a while. The primary benefit is that it is the top of the hierarchy, so it clearly implies a document-level effect. The downside is that it can potentially take up a lot of valuable space.

Going back to the intent of this ticket: _moving_ the editing of the page/post title to the top toolbar to result in a more WYSIWYG experi

[2021-04-29 09:06] youknowriad opened #31322 "Merge the Gutenberg Updates into WordPress Trunk for the 5.8 release"
This is an overview issue to track the progress of the integration of the Gutenberg Projects that area meant to land in Core for the 5.8 release before feature freeze (May 25). (See [this post](https://make.wordpress.org/core/2021/04/20/full-site-editing-go-no-go-next-steps/) for the details about the included projects)

Related WordPress Trac ticket: https://core.trac.wordpress.org/ticket/52991

[2021-04-29 09:12] hedgefield opened #31323 "FSE Featured Image block needs size settings"
## What problem does this address?
When adding the Post Featured Image block to the Query Loop placeholder, it does it quite literally: it shows the image set as the Featured Image for that post. But there are no size controls for the image and it doesn't seem to respect a content column width setting or anything, it just always renders at full width it seems. This has taken over 90% of the browse

[2021-04-29 09:20] gziolo commented on #31322
I plan to publish WordPress packages to npm with code for Gutenberg v10.5 today and open a patch in WP core that updates them.

I see several PHP changes applied for https://github.com/WordPress/gutenberg/compare/v10.4.0...v10.5.0. There is a big list of updated Block Patterns. I believe that it was already backported in https://github.com/WordPress/wordpress-develop/commit/ce50c6a982be2893bc445ef

[2021-04-29 09:22] hedgefield commented on #26632
This looks excellent and will indeed be very useful. I'd maybe bold the label text as the white on black is kinda hard to read at a small size. Otherwise I say go for it!

Small aside, I don't know if "Lab" is really going to be a word that means anything to the average user out of context like that. But I agree "Beta" or "Experimental" might make it sound too unstable. Perhaps something in the ve

[2021-04-29 09:23] jameskoster commented on #27093
Good thoughts, I agree that splitting this in two makes sense.

Also worth noting that while seeing the title on the canvas _does_ degrade the overall WYSIWYG experience, that degradation feels less impactful thanks to the edit template flow. We're now set up to provide a WYSIWYG of the post content in isolation, and a WYSIWYG of the post content in the context of its template where you're able to

[2021-04-29 09:25] hedgefield commented on #29031
The setup and draft copy sounds good to me, in terms of design we'd just need to come up with the three graphics to go along with the text.

[2021-04-29 09:25] vdwijngaert commented on #27093
That might work!

[2021-04-29 09:29] hedgefield commented on #30233
It's a tough icon to come up with, but anything would be better than that location pin, _for sure_. We've had the discussion a few times before, but I feel like even as a temporary fix using a "T" would already be much better, as it goes along with the icon for headings.

[2021-04-29 09:31] hedgefield commented on #29644
I think in any situation it is ill-advised to make the title anything but an H1, right? Paging @afercia to confirm. If that's the case, let's remove that option completely, and leave the possibility of styling it to the text controls or advanced CSS?

[2021-04-29 09:36] jameskoster commented on #29031
I think we may actually need some small revisions for 5.8, since global styles aren't included.

It could be as simple as removing that last slide :)

[2021-04-29 09:56] Mamaduka commented on #29031
@jameskoster will duplicate of post editor welcome guide for works this?

[2021-04-29 09:57] jasmussen commented on #27093
Even without any changes to the post title in the canvas — keep in mind, a lot of themes style it to match the template — I could see value in showing important meta attributes in the to dropdown.

[2021-04-29 09:57] jameskoster commented on #29031
Do you mean using the [Guide](https://wordpress.github.io/gutenberg/?path=/story/components-guide--default) component? If so, yes :)

[2021-04-29 09:59] Mamaduka commented on #29031
Sounds good will start working on PR.

[2021-04-29 10:08] draganescu commented on #30978
Um, what is the use of this now? I think for Widgets this is not the best next step, instead we should try and get the opt out plugin up as the way to opt out. I also added this to the Navigation project as it's a good moment to build this there (and also for future experiments).

[2021-04-29 10:09] mtias commented on #30406
The thing that still needs design work is how to present the site icon option.

[2021-04-29 10:11] jameskoster opened #31327 "Select mode: Click behaviour produces inconsistent results"
I haven't been able to track down exactly how to re-produce this, but it seems to occur every time Select mode is engaged _except_ for the first time.

Sometimes when clicking a block Select mode is retained, which is the intended behaviour.

Other times clicking a block transports you directly to edit mode.

Here's a video:

https://user-images.githubusercontent.com/846565/116535332-8d7cc280-a8db

[2021-04-29 10:22] jameskoster commented on #31327
Seems this was fixed already in https://github.com/WordPress/gutenberg/pull/31321 🥳

[2021-04-29 10:22] #31327 closed, assigned to nobody

[2021-04-29 10:28] draganescu commented on #31193
Closed as duplicate of #28561

[2021-04-29 10:28] #31193 closed, assigned to nobody

[2021-04-29 10:28] carolinan commented on #30406
I pictured that option as a simple toggle in the block settings sidebar. Did you want it in the block toolbar?

[2021-04-29 10:30] mrfoxtalbot opened #31328 "Rename "Create Category" button to make it distinct from "Assign Category" link/action"
### Steps to reproduce the behavior

1. Edit any post and add go to add a new category under Categories -> "Add New Category"
2. When creating a new category, the button to actually save the change is also titled "Add New Category"

#### What I expected to happen

This should be labeled something like "Save new category" to make it distinct from the initial link to add a new category **so it's cle

[2021-04-29 10:30] Hilary1L opened #31329 "Recent update erases page content"
## Description

updated the gutenberg plugin this morning and all content except background image disappeared from the front end, though visible in the rear-end. also, main nav menu developed scroll for drop-down items. only deactivating the plugin works to bring back content.

## Step-by-step reproduction instructions

immediately at loading home page and on any pages edited with the plugin befor

[2021-04-29 10:50] Mamaduka commented on #29031
PR is ready #31330.

[2021-04-29 10:55] MaggieCabrera commented on #31293
It does fix it for me on my test site!

[2021-04-29 10:56] hedgefield commented on #30406
Me too, something like a "Use site logo as icon" checkbox.

[2021-04-29 11:05] draganescu opened #31331 "Add a plugin to disable the block based Widgets editor"
## Description
We currently have ways to programatically opt out of the Widgets editor but there is no user facing feature. While themes and plugins can simply `remove_theme_support('widgets-block-editor')` but a user has no setting to turn off.

I suggest we add a setting-less plugin that when activated acts as if the theme support is removed. So, if a user needs for instance an incompatible plug

[2021-04-29 11:06] mtias commented on #30406
Definitely in settings, but we should properly explain what it is and we should consider the case when no site icon is set and you upload a logo, should we automatically set icon in such cases or ask users if they also want to use it there?

[2021-04-29 11:08] priethor commented on #26632
I think "Early access" is the option that best conveys the message.

[2021-04-29 11:16] carolinan commented on #29644
It is the other way around, for example, on a single post, the most important heading is normally the post title.
Sometimes the site title is at the bottom of the site footer, where it is not a heading over any type of content, then it should not be a semantic heading.

If it is a landing page without any other type of main heading, and the site title is in the site header, then it should be an H1

[2021-04-29 12:04] jameskoster opened #31333 "Refine border style dropdown design"
The border style selector added in https://github.com/WordPress/gutenberg/pull/31321 could use a little design refinement:

<img width="259" alt="Screenshot 2021-04-29 at 11 47 18" src="https://user-images.githubusercontent.com/846565/116539548-de42ea00-a8e0-11eb-8552-ca8944ef153c.png">

This unique treatment of the dropdown component adds unnecessary weight to the UI, and the combination of label

[2021-04-29 12:43] moisespr123 opened #31335 "v10.5.1: "Cannot read property 'isNavigationMode' of undefined" when trying to edit a post"
Hi, after updating the plugin to v10.5.1, I'm getting the following issue:

[code]

To reproduce, just try to edit a post.

[2021-04-29 13:01] jameskoster opened #31337 "Refine border control panel with design tools"
Now that we have border controls (https://github.com/WordPress/gutenberg/pull/30124 🎉) I took a little time to explore how we might apply some of the concepts outlined in https://github.com/WordPress/gutenberg/issues/27331 to refine the UX here a bit.

Some of the suggestions can be implemented now, others will require underlying components that are yet to be built.

Here's a before / after, and a

[2021-04-29 13:22] moisespr123 commented on #31335
Seems to be fixed in v10.5.2.

[2021-04-29 13:22] #31335 closed, assigned to nobody

[2021-04-29 13:28] jorgefilipecosta commented on #28913
Yes, I think serialization per area is a good tradeoff in what it allows to do and the effort required to disable each serialization.

I'm not sure if __experimentalSkipSerialization is the right name for the flag that disables the output of the styles. On server-side rendered blocks, there is no serialization, so one may think this flag does nothing, but that's not the case; the flag disables the

[2021-04-29 13:36] jorgefilipecosta commented on #28913
I checked the "Color for navigation" task because it seems the navigation block is already using the color supports mechanism.

[2021-04-29 13:36] jorgefilipecosta commented on #28913
I'm not sure if __experimentalSkipSerialization is the right name for the flag that disables the output of the styles. On server-side rendered blocks there is no serialization so one may think this flag does nothing but that's not the case the flag disables the dynamic server-side mechanism that outputs the styles.
During a chat with @mcsf he referred __experimentalUIOnly as a possible name I agre

[2021-04-29 13:53] helgatheviking commented on #17059
Was this fix published in the plugin? I am still experiencing this issue.

[2021-04-29 14:03] ockham commented on #28913
`__experimentalUIOnly` reads a bit confusing to me -- while I know that the `__experimental` is the prefix (and I thus need to read it as "experimental flag 'UI only'"), it's possible to read it as "'experimental UI' only" -- only show the experimental UI (but not the non-experimental one?).

`__experimentalSkipStylesOutput` sounds better to me (tho in the font size case, we also have a `class` ou

[2021-04-29 14:05] hedgefield commented on #30800
I think discards would be used more than we think. I was playing around with the site editor earlier today and tried some different things for the global styles. I ended up not liking any of the changes and wanted to reset. Now luckily the global styles panel has a reset button, but I think other elements would benefit from such a thing too, centralized in the changes panel. The idea to discard ch

[2021-04-29 14:15] hedgefield commented on #28736
Either of these approaches seems like a great start, with the modal probably being easier to browse, while the inline approach gives it a bit more WYSIWYG flavor.

I find it hard to say something definitive on how to handle the matching, it sounds quite complex. At least it would not occur to me to select a bunch of blocks and then look for a pattern that could apply to those, I'd look in the patt

[2021-04-29 14:37] GlennMartin1 opened #31340 "[10.5.2] Table block messed up on front-end...."
## Description
After upgrading to **10.5.2** (from 10.4.x), the Table block **in the front-end** is very misaligned from the rest of the page. (I did not test on 10.5.0 or 10.5.1).

## Step-by-step reproduction instructions
1. Create a Table block, and save the page.
2. View the page.

## Expected behaviour
It should align like the rest of the page.

## Actual behaviour
The table is aligned far to

[2021-04-29 14:42] GlennMartin1 commented on #31340
Also, for what it's worth, the Table option for "align left" or "align center" makes no difference.

[2021-04-29 14:49] #27478 closed

[2021-04-29 15:06] fluiddot commented on #31151
I haven't managed to fix the original problem but I introduced layout animations in this [PR](https://github.com/WordPress/gutenberg/pull/28495) to prevent flickering. Here you can see how it looks like now:

iOS|Android
--|--
<video src=https://user-images.githubusercontent.com/14905380/116588986-79a58080-a91c-11eb-9992-40f6e993d984.mp4>|<video src=https://user-images.githubusercontent.com/149053

[2021-04-29 15:09] karmatosed commented on #31337
Goodness this is significantly better to interact with visually, great work. My initial thought after feeling it's just a lot easier to process is that perhaps the order is something to iterate on? I wonder for example if color would come as the last still in the list? Beyond that, I think it's a great iteration.

[2021-04-29 15:16] Hilary1L commented on #31329
working now. maybe the update did the trick.

[2021-04-29 15:29] youknowriad commented on #30647
@ntsekouras the css-in-js is now fixed, is there anything remaining here?

[2021-04-29 15:32] paaljoachim commented on #21889
@aaronrobertshaw Aaron if I remember correctly, you are working on something like this.

[2021-04-29 15:34] paaljoachim commented on #21540
@aaronrobertshaw Is there anything we should followup with here?

[2021-04-29 15:35] paaljoachim commented on #20771
Are there any followups still needed here?

[2021-04-29 15:36] bradhogan opened #31342 "Cannot add pattern within a block"
If the user has a cover block, for example, and they want to add a pattern within that cover block, it is not an option.

I can understand if all blocks shouldn't allow patterns (the button block, for instance), but the cover block should at least be one exception as it would be useful to add column patterns within it.

<img width="899" alt="Screen Shot 2021-04-29 at 9 32 54 AM" src="https://user-

[2021-04-29 15:42] #30943 closed, assigned to nobody

[2021-04-29 15:50] smakinson commented on #23607
@leoloso I am seeing this issue. I did not use create-block. I have a plugin with 3 blocks in it. It looks like:

[code]

`package.json` is at the root. If I register all the blocks I have one that works & 2 that do not. If I comment out 2 of them, the one that did not then does work. I wondered if you can point me to how to specify the `webpack.config.js` for each block. Currently I have a script

[2021-04-29 15:56] #31293 closed, assigned to nobody

[2021-04-29 15:58] smakinson commented on #23607
@leoloso  sorry about that, right after I hit comment I noticed something that I looks like it fixes it and accomplishes the same thing.

This is what I did (for each blocks script):

`wp-scripts build ./src/blocks/block1/src/index.js --output-jsonp-function=UNIQUE_NAME --output-path=./src/blocks/block1/build`

[2021-04-29 16:06] jffng commented on #31293
Thank you @aristath !

[2021-04-29 16:14] bill-sketch opened #31344 "No way to check if the current block rendered in the block-editor is reusable"
I have developed some blocks using React, and here is the problem I faced:
I save my css generated in the post meta, that's works fine.
In the case of reusable blocks:
- Whene we set a block as reusable this block will saved as hidden CPT (wp_block) as the documentation. (https://developer.wordpress.org/block-editor/explanations/architecture/key-concepts/#reusable-blocks).
- Since the block is reu

[2021-04-29 16:26] javierarce commented on #31241
Here's a first look at how the Nav Screen would look using the sidebar. This change would require removing the current sidebar. Also, it would be nice to render previews for each menu (in the following video, I'm just using fake placeholders).

https://user-images.githubusercontent.com/4933/116583359-8f17ac00-a916-11eb-8f30-065ed3f83986.mov

We could also remove one step from the menu creation flo

[2021-04-29 16:28] getdave opened #31346 "Nav block Post type variations display as Post link in the block sidebar (screenshot). They should probably use the title of the Custom Post Type (eg: Portfolio link)"
These are new post type labels `item_link` and `item_link_description` and should be added during CPT registration. If we glue together two translated strings, the translation is often very poor for specific languages. CPTs with missing labels fallback to the default post or category label.

_Originally posted by @gwwar in https://github.com/WordPress/gutenberg/issues/31004#issuecomment-827740040_

[2021-04-29 16:30] getdave commented on #31254
That's 💯 . We definitely do not need an ID for custom. Indeed I've specifically guarded against that case in https://github.com/WordPress/gutenberg/pull/31004

[2021-04-29 16:31] getdave opened #31348 "Nav block/editor - can't save a post-format"
Currently you cannot save a post-format in navigation editor. It is very much related to https://github.com/WordPress/gutenberg/issues/31380.

Essentially we are storing an non-numeric `object_id`  because the REST API endpoint returns non-numeric IDs for post-format search results.

As per the existing menus screen we should store the taxonomy term ID (which backs the post-format) as the `object_

[2021-04-29 16:40] ntsekouras commented on #30647
Yes, I have to change a bit `PostDate` block when is `made a link` and will close the issue then.

[2021-04-29 16:40] xavivars commented on #31163
@paaljoachim this improvement is massive. Just to better understand the process: is this just a figma prototype that still needs to be coded? I'm trying to understand if we need to backport our sites to 5.6 or if we'll be able to use this new UX soon enough (even if it's using the Gutenberg plugin)

Thanks!

[2021-04-29 16:41] scruffian commented on #29983
Another possible approach here which would be useful would be that if I declare "inherit layout" on a parent block and a child block, the child inherits the layout from the parent so that I can have multiple blocks in the stack using the same alignment rules.

[2021-04-29 17:47] fluiddot opened #31351 "Search block: The block gets selected after adding a media item on another block"
## Description

After adding the search block into a post, it gets automatically selected after adding or replacing media items on other media blocks like the image block.

## Step-by-step reproduction instructions

1. Add a search block
2. Add an image block
3. Select an image to be inserted in the image block
4. Observe that after the image is added the search block gets selected

## Expected be

[2021-04-29 17:48] mcsf commented on #30496
Thanks for the thorough report.

This enumeration can serve as a starting point for tracking some features we might be missing in the new block-based customisation flows. Some of them are known to be missing and are planned (e.g. navigation mode), some others are AFAIK being deferred while other pieces of the puzzle fall into place (e.g. CSS, Site Icon), and some are great things to draw attention

[2021-04-29 18:01] fluiddot commented on #31351
In some cases, I experienced a crash although I couldn't reproduce the exact steps. What I saw is that the scroll begins to jump from one place to another very quickly and then crashes, my impression was that different blocks were requesting focus and somehow the app enters in an infinite loop.

@AmandaRiu I ping you here as I saw that you recently enabled this block in this [PR](https://github.co

[2021-04-29 18:10] sabrina-zeidan commented on #30768
I'm not sure if it's the right place to mention these two or should I create a new ticket:

1. to me all choices of gradients look the same, and it's only a tooltip that gives info about the color
2. would it be more clear if the gradient span (`div class="components-custom-gradient-picker__gradient-bar"`) is updated with colors accordingly when another gradient is clicked

 ![image](https://user-

[2021-04-29 18:16] paaljoachim commented on #19620
Hello everyone. It would be great with a status update here.
@jorgefilipecosta is this issue something you might be able to take a closer look at?

[2021-04-29 18:23] paaljoachim commented on #16942
Testing with WordPress 5.7.1. Twenty Twenty One. Gutenberg plugin 10.5.2.

Made a new post
Inserted an Image block. Inserted image.
Removed the Width and Height in the sidebar Image block settings.
Published post. Refreshed the browser.
Noticed this:

![Screen Shot 2021-04-29 at 20 22 18](https://user-images.githubusercontent.com/5323259/116599695-b7100b00-a928-11eb-9e24-493c4b9c3c68.jpg)

JS Cons

[2021-04-29 18:29] gwwar commented on #16942
I was able to reproduce this too. As @tellthemachines noted, it's important to delete characters from the field. Pressing up and down controls, won't reproduce this.

https://user-images.githubusercontent.com/1270189/116600209-e8171e00-a8dd-11eb-9cbf-6d7578a60e1b.mp4

[2021-04-29 18:50] annezazu opened #31352 "Navigation Block: Placeholder text squished in template editing mode"
## Description

When using template editing mode and a new navigation block that hasn't yet been configured, the placeholder texts is squished. cc @jasmussen

## Step-by-step reproduction instructions

1. Create a post.
2. Enter template editing mode with a template that does not have a navigation block configured.
3. Click into navigation block and see the text is squished

## Expected behaviour

[2021-04-29 18:51] annezazu commented on #31352
Working on a demo so running into more oddities and noting that this happens too:

<img width="554" alt="Screen Shot 2021-04-29 at 12 50 47 PM" src="https://user-images.githubusercontent.com/26996883/116602915-8c529200-a8e9-11eb-9207-842dbc3c4bfa.png">

[2021-04-29 18:53] jasmussen commented on #31352
Thank you. For a little more context, the placeholder lacks the responsive classes other placeholders can leverage to minimize the content when shown in constrained contexts. I'll take a look!

[2021-04-29 18:58] annezazu opened #31353 "Navigation Block: Typography of placeholder changes based on Global Styles settings"
## Description

When adjusting the site's typography settings, the navigation block placeholder text also changes.

## Step-by-step reproduction instructions
1. Use a site with FSE capabilities.
2. Enter the site editor
3. Add a new navigation block but do not make any changes to configure the block and keep the placeholder text open.
4. While open, make changes to the global styles typography set

[2021-04-29 18:59] critterverse commented on #30922
Hi all, checking in with an update on Gutenberg Labs (name TBD).

Here’s a [Figma file](https://www.figma.com/file/LP6kBmQOqXuyahufZmBfMf/Experiments-screen?node-id=0%3A1) where @javierarce and I have started collecting some sources of inspiration and early ideas for layout/branding. I’m adding a few images here but we welcome anyone who’s interested to jump into the file and add your own ideas th

[2021-04-29 19:07] paaljoachim commented on #19373
Testing using WordPress 5.7.1. Twenty Twenty One. Gutenberg plugin 10.5.

Focusing on mouse clicks:

https://user-images.githubusercontent.com/5323259/116604734-cdb96080-a92e-11eb-9edc-245b89ad7ffb.mp4

I am able to select both Group block settings.

[2021-04-29 19:08] paaljoachim commented on #19373
Could you Joe @joedolson or Stefano @Ryokuhi check to see if this issue is still valid?
Thank you!

[2021-04-29 19:08] ockham opened #31356 "e2e Tests: Add test for inserter drag-and-drop"
GB 10.5.0 had a small regression related to the inserter's drag-and-drop feature (see #31319). Let's try adding some e2e test coverage for that feature (maybe to https://github.com/WordPress/gutenberg/blob/cec7a6817ac2ec37e1e7a3b314fee0b909e7bd7d/packages/e2e-tests/specs/editor/various/inserting-blocks.test.js?).

Note that it has been previously [thought to be impossible](https://github.com/WordP

[2021-04-29 19:16] creativecoder commented on #25173
@ockham Can you say more about how disabling the Customizer for FSE themes affects this issue with the Site Logo block?

With the potential adding of the Site Logo block to WP 5.8, for use without the site editor and while the Customizer is available, will there be any problems?

I looked at how it's working now and it seems okay:

- If you update the logo through the Customizer, that setting upda

[2021-04-29 19:17] ockham opened #31357 "SVN Upload Workflow: `Stable tag:` isn't set in `readme.txt`"
While releasing GB 10.5.1 and 10.5.2 today, @youknowriad noticed that the `Stable tag:` field isn't being set in the plugin's `readme.txt` in the WP.org plugin repo (SVN) anymore.

I looked at previous versions and found that the last version that had it set was [10.2.1](https://plugins.trac.wordpress.org/browser/gutenberg/trunk/readme.txt?rev=2498924) -- starting from [10.3.0](https://plugins.tra

[2021-04-29 19:19] ockham commented on #31357
This seems to coincide with #28138 (or maybe #30212).

[2021-04-29 19:25] ockham commented on #31357
Upon closer inspection of the SVN log (note the `Committing version x.y.z` vs `Releasing version x.y.z` commit messages, and to which steps of the workflow they relate), I think it's probably this step that didn't work:

https://github.com/WordPress/gutenberg/blob/f3c599df33c1255b43ddcbec86b504adee123de9/.github/workflows/upload-release-to-plugin-repo.yml#L123-L127

[2021-04-29 19:33] ockham commented on #31357
Yeah, I think I've tracked it down to here: https://github.com/WordPress/gutenberg/runs/2239867087?check_suite_focus=true

![image](https://user-images.githubusercontent.com/96308/116607667-8f25a500-a932-11eb-9a31-a0b64a76d706.png)

[2021-04-29 19:45] ockham commented on #31357
Seems like `steps.get_previous_stable_version.outputs.stable_version` was empty 🤔

https://github.com/WordPress/gutenberg/blob/cec7a6817ac2ec37e1e7a3b314fee0b909e7bd7d/.github/workflows/upload-release-to-plugin-repo.yml#L105-L109

Could it be an issue with escaping? 🤔

[2021-04-29 20:03] sabrina-zeidan commented on #30398
I encountered not exactly the same, but a similar issue.
Everything looks good in the Editor (with both List View and Block Settings open, too). But there is some area on the frontend though (both for logged-in and non-logged-in). I wasn't able to define the specific element causing it.
Gutenberg 10.5.2

https://user-images.githubusercontent.com/5646904/116611236-cd28c600-a93e-11eb-8b50-153a2845ec

[2021-04-29 20:04] coreyworrell opened #31359 "Use class names for line height"
## What problem does this address?

It appears the new line height option will use a number input, but many theme authors prefer to keep to a strict style guide and would not like to offer ability to choose just any number as line height.

## What is your proposed solution?

Allow theme to define line height choices like they font sizes and colors.
is it going to be possible for themes to set line

[2021-04-29 20:13] bobbingwide commented on #29887
In my thisis theme I created an attachment template. I found that the `post-content` block didn't display the attachment.
I made a temporary change to the Description adding the permalink for the image into it.
This then displayed the image. I believe this was due to autoembed logic.

But it wasn't what I wanted.
I wanted to be able to display the full size image followed by the other fields.

I h

[2021-04-29 20:20] coreyworrell opened #31360 "Improve additional classes field"
## What problem does this address?

Makes adding custom classes more user friendly for styling options that may not fit into the other options offered by Gutenberg already.

## What is your proposed solution?

Allow user to select from available classes that the theme offers along with adding custom. Similar to how [EditorsKit](https://jeffreycarandang.com/introducing-editorskit-block-styling-util

[2021-04-29 20:42] bobbingwide commented on #26923
I've found a new scenario where the post-content block causes the browser to hang.
Discovered in 10.4.1 and reproduced in 10.5.2.

I wrote a plugin called oik-patterns to load patterns directly from `.htm` files.
When a pattern contained the `post-content` block then the browser would hang.

I reduced the problem to the simplest... inserting a `post-content` block in a new post.

I've had multiple

[2021-04-29 21:02] annezazu commented on #30768
Ah ha what you're describing matches this issue! https://github.com/WordPress/gutenberg/issues/30642

[2021-04-29 21:05] bobbingwide commented on #26923
This is the screenshot for the simplest scenario.
![image](https://user-images.githubusercontent.com/2474435/116616229-5be41580-a934-11eb-9efa-a4cff04a5c66.png)

This is an animated gif for the problem with the pattern inserter.
Pre-requisite: a pattern containing the post-content block. In this example it's the `main-body.htm` pattern.

Steps
1. Add a pattern.
2. Choose the header pattern
3. Noti

[2021-04-29 21:23] Lovor01 commented on #12120
I am late for an answer, but as I understood from reading, useSelect or withSelect inject first argument, i.e. state

[2021-04-29 21:43] skorasaurus opened #31361 "create-block's css fails to build due to a ModuleBuildError with postcss"
## Description

I was working on a custom-block that I had made using create-block, ran `npm packages updates` on it; then ran `npm run start` on my block, and began receiving the same error that I posted below.

I was able to reproduce by creating a new block using create-block from scratch, so my hunch is that there's [a regression introduced by the newest version of wordpress/scripts today](htt

[2021-04-29 22:02] dcalhoun commented on #31151
I played around with [the current explorations](https://github.com/WordPress/gutenberg/pull/28495) to fix this. I didn't find a solution, but here are a couple of things I took away.

* The latest iteration isn't attempting to animate the keyboard events for Android, [as `duration` is always `0`](https://github.com/WordPress/gutenberg/blob/663cc8c8e224d4df4e6675cfc272fdbfb843066a/packages/componen

[2021-04-29 22:19] AmandaRiu commented on #31351
Thanks @fluiddot, I'll take a look at this and see if I can figure out what is happening.

[2021-04-29 23:31] aaronrobertshaw commented on #21540
Thanks resurfacing this one @paaljoachim.

We've just merged some additional border block support for color, style and width. It hasn't evolved yet to include specifying which sides to display the border on but I don't think that should stop us using this support for the group, image and cover blocks.

I'll put together a couple of PRs later today.

[2021-04-29 23:46] aaronrobertshaw commented on #21889
Thanks for the mention @paaljoachim.

Lately I've been working on adding [additional border block support features](https://github.com/WordPress/gutenberg/pull/30124). This looks like a good opportunity to take that for a spin. At the moment, the border block support does not allow configuring borders for individual sides however it is likely to evolve in that direction. It will just need some des

[2021-04-30 00:33] coreyworrell commented on #23524
What would you recommend using instead of `rand`? I don't get why you would remove this option from Gutenberg instead of fixing the performance issue within WordPress itself, or at least letting each theme/site decide for itself if the performance hit is worth it or not. For example, we use a cache plugin, so the random query would only be happening during edit, and once every 15 minutes when the

[2021-04-30 01:08] alaczek opened #31363 "FSE: Impossible to set up blocks at the very top of the editor"
## Description
I found that it's very hard or sometimes impossible to add content or configure a block placed at the very top of the page because the block toolbar is obscuring the block content. I know this is probably an edge case and something that can be fixed by adding a spacer block on top, but I thought it's still worth reporting as it makes it impossible to set up Navigation block specific

[2021-04-30 02:11] aaronrobertshaw commented on #28913
Personally, I find the `__experimentalUIOnly` option more confusing and possibly inaccurate than `__experimentalSkipSerialization`. Once the styles and classes are applied to inner elements, it's no longer just the UI.

I agree with the point regarding there being no serialization on the server-side rendered blocks though.

The same goes for background, text and border colors.

The flag name is ge

[2021-04-30 03:09] glendaviesnz commented on #30263
fixed by #31066

[2021-04-30 03:09] #30263 closed, assigned to glendaviesnz

[2021-04-30 04:34] maddisondesigns commented on #17059
@helgatheviking Buttons work differently now, since I first raised this issue. Although the issue was resolved and merged into Core, the single _Button Block_, has now been replaced with a _Buttons Block_ that allows you to add one of more individual Buttons. The alignment option is now on the _Buttons Block_, rather than the individual Button Blocks, within that Buttons Block. And yep, the alignm

[2021-04-30 05:03] jasmussen commented on #21540
A couple of refinements detailed in these two:

- https://github.com/WordPress/gutenberg/issues/31333
- https://github.com/WordPress/gutenberg/issues/31337

[2021-04-30 05:15] peterwilsoncc commented on #30071
@vlad-timotei I've confirmed #30617 fixes both the order and open/close state described in the linked forum post. I can see the post type is included in each of the relevant admin-ajax requests.

[2021-04-30 05:42] CreativeDive commented on #31360
@coreyworrell This is a fantastic idea !

[2021-04-30 05:42] gziolo commented on #31361
I investigated it a bit and it looks like `npm i postcss@8.2.2` resolves the issue. `postcss` was set as a dependency before in the preset, but now it is a peer dependency everywhere, and suddently it resolves to v6 :upside_down_face:

I'm about to open a patch.

[2021-04-30 05:43] thompcha opened #31365 "Style element for "Skip to content" produces HTML validation error"
## Description
I recently updated to Gutenberg 10.5.2 and I noticed that my posts now contain a `<style>` element inside the page’s `<body>` with styles pertaining to the “Skip to content” link (an accessibility feature that appears when a page is loaded and the user presses tab). Thus when a post is submitted to [W3.org’s HTML Validator](https://validator.w3.org/nu/?doc=https%3A%2F%2Freader.djpan

[2021-04-30 06:02] gziolo commented on #31361
https://github.com/WordPress/gutenberg/pull/31364 didn't help. There is something else that forces `postcss` to install with an older version.

[2021-04-30 06:13] gziolo commented on #31361
It's a very strange issue related to how `npm` works. `postcss` v6 is set as a dependency of `rtlcss` that is used by `@wp-g2/create-styles` that is a dependency of `@wordpress/components`.

I see that `postcss` v8.2.13 gets installed properly as a nested dependency of `@wordpress/scripts` now. However, there is apparently something going on with `postcss-loader` that uses `postcss` v6. It doesn't

[2021-04-30 06:29] MoOx commented on #13998
Instead of waiting to change this preview links and since this bug doesn't trigger enough traction despite being an issue for several years, my approach is the dumbest I could find, but it work for all kind of preview (unpublished or not)!

In my `function.php` I brutally catch all preview links to show an iframe from the frontend (and I inject and authToken so my author doesn't have to make any l

[2021-04-30 06:31] carolinan commented on #21540
And I think we want the template part to have the same options as the group block?

[2021-04-30 06:38] carolinan commented on #29887
If there is no attachment template, attachments still needs to work, so if this was a separate block, that block would have to be added to all templates that are after the attachment template in the template hierarchy.

[2021-04-30 06:52] paaljoachim commented on #21540
Associated issue:
Columns Block: Allow for border options
https://github.com/WordPress/gutenberg/issues/21889

[2021-04-30 07:28] paaljoachim opened #31367 "Patterns: Manage Patterns similar to Reusable blocks."
## What problem does this address?

We need a way to manage Patterns and categories.

![Screen Shot 2021-04-30 at 09 22 17](https://user-images.githubusercontent.com/5323259/116662090-a053cd80-a995-11eb-94f3-3f37c3efbf36.jpg)

## What is your proposed solution?

At first to just duplicate the current Reusable block manage approach over to Patterns.

![Screen Shot 2021-04-30 at 09 24 26](https://us

[2021-04-30 07:37] #30647 closed, assigned to ntsekouras

[2021-04-30 07:53] jasmussen opened #31369 "Writing flow/FSE: Clicking in the canvas padding doesn't always deselect"
## Description

When you select a block, it's important to be able to click outside to deselect it. That generally works, but if you click right on the edge, the cursor turns to the text caret, and you actually set focus in the bottom appender:

![click](https://user-images.githubusercontent.com/1204802/116664968-74d2e200-a999-11eb-9da2-dbbbeaa8224d.gif)

This is very jarring when it happens in th

[2021-04-30 07:54] jasmussen commented on #31369
@ellatrix @youknowriad do you think this could be related to one of the recent padding refators?

[2021-04-30 08:03] ntsekouras commented on #23524
This is not a query that is WP specific but is related to most databases and without using a cache mechanism and with a possible large number of posts this can be indeed an intensive operation. IMO many users do not have the technical knowledge of such an impact and/or what even `cache` is..

Having said that, as you can see from @mcsf and my above comments I agree with you that WP_Query's paramet

[2021-04-30 08:06] gziolo commented on #31361
In my testing, everything works properly when using npm 7. It looks like it's a very specific bug in npm 6 that was resolved in npm 7 when they change how peer dependencies work 🤷🏻

This issue should self-resolve when `@wordpress/components` no longer depend on `rtlcss` and `postcss` v6. It's already the case in Gutenberg in `trunk`. We need to wait 2 more weeks to propagate all that to npm.

[2021-04-30 08:19] aaronrobertshaw commented on #21540
A couple of draft PRs have been created to add border support to image (https://github.com/WordPress/gutenberg/pull/31366) and cover (https://github.com/WordPress/gutenberg/pull/31370) blocks.

The group block only needs for the theme to enable custom border properties by opting in via the theme.json.

[code]

[2021-04-30 08:38] aristath commented on #23524
As mentioned above, this is not a WordPress issue but a database/MySQL issue.
Worth noting: A lot of hosts disable the ability to run `rand` queries by default ([example](https://wpengine.co.uk/support/about-order-by-rand/)). With that in mind, we can't include an option to order posts by `rand`, as that would give the impression to users that their site is broken.

[2021-04-30 08:46] jasmussen commented on #31352
There's a fix for this one in #31371.

[2021-04-30 09:33] jasmussen opened #31373 "Duotone: Duotone filter button should always be at the end"
The Duotone button should always be at the end. Right now it starts as the first button, then if you deselect the block and select it again, it moves to the end:

![end](https://user-images.githubusercontent.com/1204802/116674367-d9476e80-a9a4-11eb-8dfd-28bffac0e415.gif)

_This ticket has been updated to focus on just the one remaining item._

[2021-04-30 09:34] jasmussen commented on #31373
@ajlende want to pair with me on this one?

[2021-04-30 09:50] fluiddot commented on #31151
**Thank you very much @dcalhoun for taking a look into this 🙇 !**

Yep, I make that change on purpose because it was fading out the content sometimes, my impression is that triggering the layout animation in the last iteration, stops the previous animation (the one that fades the content).

Did you experience that when testing?

Right, they're dispatched at different times so it introduces a bit o

[2021-04-30 09:56] carolinan commented on #31329
Thank you for confirming, I will close the issue.

[2021-04-30 09:56] #31329 closed, assigned to nobody

[2021-04-30 09:57] #30657 closed, assigned to nobody

[2021-04-30 09:59] jameskoster commented on #28736
Even if you build something yourself, it can still be fun to browse patterns that utilise the same blocks – you might be inspired by something different!

So yes, I agree – when there are multiple blocks, patterns that match the selected blocks 1:1 should be given more prominence. In truth, I find it quite difficult to come up with logic to suggest patterns for situations where no 1:1 matches are

[2021-04-30 10:08] jameskoster commented on #30800
Good thoughts @hedgefield. I tend to agree that a "discard all changes" affordance could be useful. The challenge is where to put it?

_Individual_ discard actions in the save flow makes some sense (although I'm still a bit troubled by the overlap with the checkbox):

<img src="https://user-images.githubusercontent.com/846565/115753078-adb7f900-a392-11eb-8a17-6a2a276e3581.png" width="300">

But a

[2021-04-30 10:40] ntsekouras commented on #31342
Hey 👋 - many blocks that have inner blocks (like Cover) can insert a pattern inside. In the gif below you can see that this is possible. One thing worths noting though is that there is a (not in depth) check that checks if pattern's blocks are allowed based on where they are going to be inserted. For example if we have in our settings/preferences some blocks that are not allowed, the patterns that

[2021-04-30 10:48] pupunzi commented on #16986
We have the same problem using the wp.blockEditor.RichText.

[2021-04-30 10:50] ellatrix commented on #31369
I'll look into it

[2021-04-30 10:56] carolinan commented on #30696
This was an issue with the themes used for testing. Closing.

[2021-04-30 10:56] #30696 closed, assigned to nobody

[2021-04-30 11:00] mkkeck commented on #31310
To remove the color settings from social-links block i found a solution:
[code]

[2021-04-30 11:02] javierarce commented on #31241
I updated the previous prototype with a new version that doesn't close the sidebars when the user creates the menu.

https://user-images.githubusercontent.com/4933/116687031-dbb1c480-a9b4-11eb-9f5b-0567b3d1064a.mov

[2021-04-30 11:07] priethor commented on #30331
Hi there! Let's reopen the issue as the misalignment still appears in Gutenberg 10.5.2. cc @javierarce.

[2021-04-30 11:19] mtias commented on #31367
This is not a priority in the immediate roadmap since patterns are moving from bundled resources to be served through the pattern directory. In the future, user stored patterns might make an appearance, but it's not at the top of the list.

[2021-04-30 11:20] mtias commented on #31296
This would be too confusing for users to understand the differences.

[2021-04-30 11:25] mtias commented on #31298
We used to allow this briefly and removed it because it's confusing. Even in that dialogue it's not clear to me when I should choose one option over the other. A project to allow user editable patterns could be worthwhile but it needs a much broader scope and proposal, as it'd be a subtype of `wp_block`.

[2021-04-30 11:30] mtias commented on #30942
Going to close this so we can focus on the carousel / modal presentation.

[2021-04-30 11:30] #30942 closed, assigned to nobody

[2021-04-30 11:32] mtias commented on #31360
There are several items for iteration on style variations that relate to the class field in #7551. Would you mind transferring this request there?

[2021-04-30 11:33] Sandstromer opened #31377 "Skip link in wrong position with RTL language"
## Description

When using a RTL language, the skip link button/link is positioned at the top left of the browser window.

## Step-by-step reproduction instructions

With a FSE theme active or a classic theme without its own skip link function.
Change site language to a RTL language.
View front-end and tab to bring up the skip link.

## Expected behaviour

The skip link should be positioned at the

[2021-04-30 11:33] bobbingwide commented on #29887
Well that's a surprise. With Gutenberg 10.5, I tried viewing an attachment using my Fizzie theme, which doesn't have `attachment.html` but does have `single.html`. I discovered that when the attached image has a non-empty description then the `post-content` block displays the image and the text.

Then I tested on my live site, with 10.4.0 and discovered that the results are different. The image is

[2021-04-30 11:40] Sandstromer commented on #31363
Same or similiar issue to  #31008

[2021-04-30 11:42] carolinan opened #31378 "Notify screen reader users when a link in the editor is disabled"
## What problem does this address?

There are blocks that displays pseudo links (`<a href="#block-name-pseudo-link">`) or links where clicking has been disabled
with onClick preventDefault, but there is no notification for screen reader users that the link is disabled.

The reason for having a link element in the editor for these blocks is so that the markup in the editor and front match.

Example

[2021-04-30 11:56] getdave opened #31379 "Navigation Link block - add unit tests to cover complex `onChange` handler"
## What problem does this address?

Currently in the `core/navigation-link` block we have a rather complex function which handles any change events occurring within the `<LinkControl />` component.

https://github.com/WordPress/gutenberg/blob/eb4a5e7b4113ec35fa8c161dfce388861d032a6e/packages/block-library/src/navigation-link/edit.js#L522-L565

This is a critical piece of code because it [ultimatel

[2021-04-30 13:20] getdave opened #31380 "Fix `post-format` serialization due to invalid REST API response for `id` prop"
As part of https://github.com/WordPress/gutenberg/pull/31004 it was discovered that adding a `Post Format` type link variation _in the new Navigation editor screen_ (only) does not work - the item is saved with the wrong type or the request does not succeed.

Please note: the error is only manifesting when you create the Post Format `core/navigation-link` block's `post_type` variation in the Navig

[2021-04-30 13:24] kjellr commented on #31252
Yeah, I'm not sure. I bet we could technically shift focus to the first Query block in the pattern when it's inserted? Might be worth a PR to see if it feels natural.

[2021-04-30 13:42] bradhogan commented on #31342
Hey. Is there a setting that needs to be added to registered patterns to
allow them to appear as an option within blocks?

On Fri, Apr 30, 2021 at 4:40 AM Nik Tsekouras ***@***.***>
wrote:

[2021-04-30 14:07] #30331 closed, assigned to JustinyAhin

[2021-04-30 14:09] paaljoachim commented on #31298
I am wondering if we should do something like this:

**Add to Reusable blocks**
Add a global connected block

**Add to Pattern blocks**
Add an independent pattern block.

As it gives a short explanation of what each is. It would use the current method, and it can be an easy way to choose to use a global connected block or an independent block. It would give a quick access to creating both types of

[2021-04-30 14:11] bobbingwide opened #31382 "Page List sort sequence wrong. No need to wait for core ticket 39037"
## Description
The Page List block can display the site's pages in a strange order.
This is due to the fact that the request `get_pages()` is only passed the `menu_order` for the `sort_column`.
There is a TODO item saying

When https://core.trac.wordpress.org/ticket/39037 REST API support for multiple orderby values is resolved,
update 'sort_column' to 'menu_order, post_title'. Sorting by both men

[2021-04-30 14:14] sabernhardt opened #31383 "Remove empty link from WordPress admin toolbar"
## Description
PR #26015 corrected the widgets link URL in the admin toolbar on the front end. However, this also created an empty link on the back end when the Gutenberg plugin is activated.

## Screenshot
![empty widgets link in admin toolbar on back end](https://user-images.githubusercontent.com/17100257/116705934-b613c380-a992-11eb-8a5c-17d414e9dcc5.png)

## Code snippet
https://github.com/Wor

[2021-04-30 14:15] paaljoachim commented on #31367
An example from Learn.
Today Learn uses a Reusable block to create a kind of layout template. To where the Workshop or Lesson plans creator will fill out the template. This is risky as one could easily overwrite the Reusable block with the contents one has added.

Being able to create a Pattern block to create a kind of layout template. There is no risk of saving the change of a pattern on top of

[2021-04-30 14:15] sabernhardt commented on #31383
One way to fix this is checking if `is_admin`:

`if ( gutenberg_use_widgets_block_editor() && ! is_admin() ) {`

[2021-04-30 14:18] david-szabo97 opened #31384 "Notices are obscured by the block toolbar on mobile"
## Description
The first notice is obscured by the block toolbar on small screens.

## Step-by-step reproduction instructions
1. Open block editor
2. Run the following code in your browser's console
[code]

## Expected behaviour
Notice should be below the block toolbar

## Actual behaviour
Notice is obscured by the block toolbar

## Screenshots or screen recording (optional)

![image](https://user

[2021-04-30 14:20] #29265 closed

[2021-04-30 14:24] helgatheviking commented on #17059
Thanks so much for the explanation! Navigating up to the buttons block was not initially obvious. I'm still having an issue with is not displaying, but I am pretty sure it's related to the fact that the buttons block is inside an Advanced column block from a plugin.

![A button is displayed with "justify items center" selected but the button is left-aligned](https://user-images.githubusercontent.c

[2021-04-30 14:34] fluiddot commented on #31151
@dcalhoun I added the fixes for this issue in a different [PR](https://github.com/WordPress/gutenberg/pull/30291) where I'm only adding improvements to the header of the bottom-sheet.

Surprisingly after testing that PR, the visual glitches are less noticeable 😄, the only one that is still happening is the jump on Android related to the lack of the `will` events of the keyboard.

[2021-04-30 14:37] stokesman commented on #28913
`__experimentalUnstyled`? I think that's general enough it could be expected to cover `class` output as well.

[2021-04-30 15:04] Aljullu opened #31387 "Navigation block: allow extending the list of allowed inner blocks"
The Navigation block has a hard-coded list of allowed inner blocks:

https://github.com/WordPress/gutenberg/blob/d77994e89c260ae09b1e4e3ffdd50871bc0b2c7d/packages/block-library/src/navigation/edit.js#L32-L38

But plugins might want to add more blocks to that list. For example, WooCommerce could add a _Product Search_ block or a minicart block (ie: a link to the Cart which shows the number of produ

[2021-04-30 15:09] skorasaurus commented on #31361
Thank you for your assistance @gziolo

For anyone else encountering this, I was able to resolve this and use create-block again by:

upgrading to node 15 (which includes npm 7)
deleting the node_modules folder of the block that you made (or recently created) (not sure if this one is required)
running `npm i postcss@8.2.2`

[2021-04-30 15:12] leutrimhusaj commented on #31019
What i found so far is that sometimes the calculated clientRect of the anchorRef always delivers false values (everything is 0)
https://github.com/WordPress/gutenberg/blob/trunk/packages/components/src/popover/index.js#L87

I think that at some point the dom manipulation make the element loose the relation to their parentElement and therefore the clientRect can not be calculated.
But this is only

[2021-04-30 15:23] TimothyBJacobs commented on #31380
This is an intentional design decision. Post formats do not have an id as part of their public API. Everything is identified by their slug.

[2021-04-30 15:53] GlennMartin1 commented on #31340
This was fixed by 10.5.3. Thanks!

[2021-04-30 15:53] #31340 closed, assigned to nobody

[2021-04-30 16:07] kraftner commented on #27371
I'd like to add a use case to emphasize the importance of this:

I'd like to use the TabPanel to create a [Tabs](https://www.w3.org/TR/wai-aria-practices-1.1/#tabpanel) block. InnerBlocks would be the tabpanels. Since one can reorder them using the [BlockMover](https://github.com/WordPress/gutenberg/tree/trunk/packages/block-editor/src/components/block-mover) there would also be the need to change

[2021-04-30 16:36] kraftner commented on #27371
Reading through the source code I had an idea for a possible workaround for now.

Selecting the active tab is based on the name of the tab:

https://github.com/WordPress/gutenberg/blob/fb200d768466d260031644d53741adfcf3e85f49/packages/components/src/tab-panel/index.js#L83

So, if you, like me are not actually trying to select a different tab, but move the position of the currently active tab while

[2021-04-30 18:14] thompcha commented on #31365
I found the function that prints these styles in
_wp-content/plugins/gutenberg/lib/full-site-editing/templates.php:_

[code]

For now, I'm going to turn them off with `remove_action()`

[2021-04-30 18:23] #31286 closed, assigned to creativecoder

[2021-04-30 18:26] skorasaurus commented on #31363
Hi,

Thanks for reporting;
This has been discussed and/or requested in #31008 . Feel free to [add your reaction](https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/about-conversations-on-github#reacting-to-ideas-in-comments) and follow its progress in the issue.

[2021-04-30 18:26] #31363 closed, assigned to nobody

[2021-04-30 18:28] paaljoachim commented on #31163
Hey @xavivars
This is just a Figma prototype, and will very likely stay as a prototype. Because it mixes old and new approaches.
The move forward with Reusable blocks is to improve what is already in place.
I wanted to test out another direction.

Improvements we will see in WordPress 5.8 is creating a new Reusable block a modal pops up so that we can give it a name. Another improvement on its way

[2021-04-30 18:30] skorasaurus commented on #31008
similar problem at https://github.com/WordPress/gutenberg/issues/26239

[2021-04-30 18:33] paaljoachim commented on #31296
I am wondering if we should do something like this:

**Add to Reusable blocks**
Add a global connected block

**Add to Pattern blocks**
Add an independent pattern block.

As it gives a short explanation of what each is. It would use the current method, and it can be an easy way to choose to use a global connected block or an independent block. It would give a quick access to creating both types of

[2021-04-30 18:36] paaljoachim commented on #29976
Checking in.
What is the status of this issue?

[2021-04-30 18:47] vdwijngaert commented on #31382
I'm not sure why we would have to wait for the core ticket to be closed, like you said. The block is indeed server-side rendered. Maybe @gwwar knows why this is the case, as he [appears to have written](https://github.com/WordPress/gutenberg/commit/e294d9c738e6a550b3b2d50b7e3aaa0edf342965#diff-2de79e33fab32eada85be3d008e9d8a124940b1b42e8bccb345925051e57bd74) that comment?

[2021-04-30 18:56] gwwar commented on #31382
If folks need it sooner, it's fine to update PageList sorting first

I avoided that originally, as there's an option to transform [PageList to navigation links](https://github.com/WordPress/gutenberg/pull/30390), which makes the ordering swap really obvious on the client without https://core.trac.wordpress.org/ticket/39037 being resolved

[2021-04-30 19:06] cngodles commented on #30505
To note, adding the attribute combination of `role="presentation" and alt=""` will suffice for accessibility testing. But I agree with the above, it would be nice to be able to add alternative text to the cover block.

Setting the `Alternative Text` attribute in the media library does not set this as well.

[2021-04-30 19:45] bobbingwide commented on #31382
With the fix that I suggested, I added the Page List block to an empty menu. It looks fine to me.
![image](https://user-images.githubusercontent.com/2474435/116746755-e429ef80-a9f4-11eb-8e65-930eee0e42fa.png)

[2021-04-30 19:49] bobbingwide commented on #31382
I then added a new page called F. This magically appeared in all 3 columns. I then changed F's menu order to 999
and it moved to the bottom of the list.

[2021-04-30 20:27] paaljoachim commented on #23225
I am working on a very small customer site, and I decided on using the Nav block instead of the default primary menu.
I really missed having a way to style through the UI the various states of a specific menu item.
I really like @shaunandrews mockup above. https://github.com/WordPress/gutenberg/issues/23225#issuecomment-659686794

@jorgefilipecosta is this something you are working on?

[2021-04-30 20:28] MocioF opened #31390 "Adding more filters to query block"
I am trying to use the query block, and I think it could be useful to find a way to filter the query by more fields.
I.e. I am trying to filter page-type posts, and I'd like to chose which to show, by a custom filter.
I have seen a page builder has an option in filtering, passing a custom string that is a filter name created in the theme.
In this way, posts can be filtered by custom fields too.

[2021-04-30 21:00] small-fork commented on #29885
I am unsure if I should be adding this here or on core trac (I found the link to this thread there).

I've also found my reusable blocks are no longer in the "directory" if trying to add a new block. (I used to be able to search by the reusable block names). And I'm unable to make new ones, among other issues with their behavior, all as of the change to 5.7. Here is a breakdown of what I'm seeing:

[2021-04-30 21:07] gwwar commented on #31382
@bobbingwide I dusted off https://github.com/WordPress/gutenberg/pull/30683, if you'd like to test. We could also sort by menu order, title and ID, but existing usages in WordPress develop appear to simply use menu order and title. I don't have strong feelings on this.

[2021-04-30 21:09] paaljoachim opened #31391 "Reusable block: Clicking name/title should bring focus to sidebar name field similar to the Navigation editor."
## What problem does this address?

Clicking the title/name opens a Transform to drop down.

https://user-images.githubusercontent.com/5323259/116752552-0841fc80-aa06-11eb-8244-76cbaf3c76e9.mp4

Other blocks one clicks the block icon to open the Transform to drop down.

https://user-images.githubusercontent.com/5323259/116755015-0aa65580-aa0a-11eb-83f2-add80425c6f9.mp4

## What is your proposed so

[2021-04-30 21:16] mmizwicki opened #31392 "Page Template Dropdown Disappears in wp-admin"
## Description

Gutenberg Version 10.5.3 removed the Page Template drop down from the Page Attributes section on wp Pages
## Step-by-step reproduction instructions

1. Create a fresh WP install with 2021 active
2. Install Gutenberg Version 10.5.3 and activate
3. Open the Sample Page to edit and the Page Template drop down will be gone
4. Deactivate Gutenberg and the Page Template drop down will re

[2021-05-01 02:18] ajlende commented on #31373
I'll get a branch going for the setup state first. There's a chance that fixing that will fix the reordering issue since the first render will happen when the rest of the toolbar buttons are added. 🤞

[2021-05-01 02:47] carolinan commented on #29887
It can't be a separate block. Attachments are not displayed in the editor in this form. They are displayed as an embed (like with pdf), file block, or for example a gallery.

What happened between 10.4 and 10.5 is that the block does not output anything if there is no content. This was to avoid an empty HTML wrapper to be output.

[2021-05-01 02:54] carolinan commented on #31392
Hi!
If you look on the right image you will see the template section above the permalink section. Is that section not populated?

[2021-05-01 03:05] carolinan commented on #25160
Do we consider this solved with the addition of the layout setting? Should this be closed?

[2021-05-01 03:50] carolinan commented on #26573
Adding this to the 5.8 must haves for the site blocks.

[2021-05-01 04:17] carolinan commented on #31307
Hi!
To eliminate that this is an issue with the two mentioned plugins, please provide instructions where the problem can be reproduced without any other plugins installed than Gutenberg,

[2021-05-01 07:26] carlomanf commented on #26573
I haven't tested, but I would guess that the rest API controller would already prevent any unauthorised edits, so if this was added as a "must-have" for security reasons then it probably needn't be.

Whether the UI makes this clear to the user, or misleads them into thinking they can edit when they actually can't, is another question.

However, I think you need to be extremely careful when disabli

[2021-05-01 07:35] getdave commented on #25947
It looks like not using TAB is an intentional design and a11y decision. Thanks for all the input and rationale here.

[2021-05-01 07:35] #25947 closed

[2021-05-01 10:29] paaljoachim commented on #31298
@mtias

I am thinking something similar to this:
![Add-to-Reusable-Pattern-blocks](https://user-images.githubusercontent.com/5323259/116779779-aa023180-aa78-11eb-9ee7-8b00de91ddc1.jpg)

A one liner that Reusable blocks are still connected with the original block.
That Pattern blocks are disconnected from original block.

@kjellr @melchoyce

Associated:
Patterns: Manage Patterns similar to Reusable

[2021-05-01 10:37] paaljoachim commented on #31296
(Same comment I made to: https://github.com/WordPress/gutenberg/issues/31298 )

I am thinking something similar to this:
![Add-to-Reusable-Pattern-blocks](https://user-images.githubusercontent.com/5323259/116779779-aa023180-aa78-11eb-9ee7-8b00de91ddc1.jpg)

A one liner that Reusable blocks are still connected with the original block.
That Pattern blocks are disconnected from original block.

@kjel

[2021-05-01 12:43] paaljoachim commented on #30800
What purpose does the checkboxes have?

Brainstorming...
What if we removed the checkboxes and added Save next to the Discard text buttons?
So one can choose to select each individual element to Save or Discard. Or just click the Save button in the top.

![Save-panel](https://user-images.githubusercontent.com/5323259/116782785-6ebd2e00-aa8b-11eb-830e-82d2ad58bd8d.jpg)

I just happen to read the te

[2021-05-01 14:35] carlomanf opened #31397 "An equivalent to "Inactive Widgets" for template parts"
In many ways, template parts are considered the equivalent of widget areas. Through template parts, users who have the capability to `edit_theme_options` will be able to add blocks of content to their sidebars/headers/footers just like they added widgets to their widget areas.

When a theme with widget areas is deactivated, the widgets that the user added will go into the Inactive Widgets section,

[2021-05-01 15:41] Mishkamshka commented on #8383
Hey, I've just started using Gutenberg so I'm not sure if the code has changed. But when I was putting in @jasomdotnet code it showing up blank. But this works for me!

figure.wp-block-embed.is-type-video, .wp-block-embed__wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /*16:9*/
}
figure.wp-block-embed.is-type-video iframe {
    position: absolute;

[2021-05-01 16:32] rcio1 commented on #31307
Thank you for considering my report.

Per your request, I have tried to reproduce the problem on a new WordPress installation without any other plugins installed, and so far I have been unable to do so.

Given that blocks from two different companies seem to be showing the same or similar improper behavior, I had suspected that there may be a shared root cause, such as an underlying issue with Wor

[2021-05-01 17:12] chdenat opened #31399 "10.5 breaks templating logic and use index.php instead of dedicated template."
## Description
Using 10.5.3 on some site breaks page rendering.
My home page is binded to a specific page template but with Gutenberg 10.5 WordPres uses  index.php template instead.
I'm using understrap child theme. The index.php was really simple, just to display title/excerpt, but of course I never use it.
Installing Gutenberg breaks the look by using index.php.
## Step-by-step reproduction inst

[2021-05-01 17:42] davidwebca commented on #31296
Even I, a well seasoned WordPress developper, need to check out the difference between all the different block saving features, namely the full-site templates, the block patterns and reusable blocks.

Reusable blocks - Saves one or multiple already registered blocks and its settings in the database and allows the user to put it in multiple pages with a single source of truth. Changes are replicate

[2021-05-01 17:59] burnuser opened #31401 "Add insertion on "non breaking space" to Inline formatting"
## What problem does this address?

In TinyMCE exists a button for inserting a "non breaking space", which I use very often to solve formatting issuses with special names on changing screen resolutions and resutling line breaks.

## What is your proposed solution?

Add a button for "non breaking space" (like in TinyMCE) in the list of available inline formatting tools.

[2021-05-01 18:24] #22015 closed

[2021-05-01 19:48] mmizwicki commented on #31392
Ahhh...thank you @carolinan. I did not see that. You're correct. It is there and populating correctly. It's breaking my custom templates on one of my sites, but I'm unable to reproduce using 2020. So I've got something else going on I'll need to sort out. Thanks again for pointing out the new Template area.

[2021-05-01 19:48] #31392 closed, assigned to nobody

[2021-05-01 22:22] stephendwolff commented on #14744
@bnikkhah has a point. I can't find a way to make a `Cover` block inside a group, then add a `Column` block to decide how i'm going to proceed with a layout that isn't just a full width background image with a more complex layout inside. This strikes me as slightly insane, as with basic HTML building blocks this is very simply possible. We now have a very mature Wordpress with a new content 'arran

[2021-05-02 03:29] carlomanf commented on #27597
Related: https://core.trac.wordpress.org/ticket/53131

[2021-05-02 08:43] ntsekouras commented on #31064
@coreymckrill I understand your use case and it is a valid scenario. The approach for this though should involve only the `block styles` feature and not mix the two APIs (block styles, block variations).

Block variations API is a way to better handle similar blocks with different attributes that mostly affect the block's behaviour. For example we cannot `unset` a block variation because it would

[2021-05-02 08:43] #31064 closed, assigned to nobody

[2021-05-02 08:52] ntsekouras commented on #31342
allow them to appear as an option within blocks?

No. The default is to show the allowed patterns where possible - there is a (not in depth) check that checks if pattern's blocks are allowed based on where they are going to be inserted.

If patterns are shown in top level and are not removed by [this filter](https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-support/#disabling

[2021-05-02 08:57] ntsekouras commented on #31252
I'm not sure either, although I lean to a `won't fix` a bit more :). On the other hand most `Query` patterns will probably include one `Query` block so it doesn't hurt to make a PR for exploring this.

[2021-05-02 17:46] briantw commented on #18010
Well, thankfully I googled this. Itʼs over a year and a half later and I was flummoxed by this issue. Thankfully the unintuitive behaviour of clicking Crop, then cropping, then clicking Crop again does the trick.

[2021-05-02 21:48] jerrysarcastic opened #31403 "Gallery Block: Consider option to turn off captions on thumbnails"
## What problem does this address?

It's not the case that everyone wants image captions to appear over the individual thumbnails in the grid, and in some situations it can distract from the imagery itself.

## What is your proposed solution?

Offer a block setting for caption visibility, so captions can be turned on/off for thumbnails.  This could be considered alongside the caption options discu

[2021-05-03 00:54] noisysocks commented on #30978
Yep, let's focus on building a Classic Widgets plugin instead.

[2021-05-03 02:16] rafaucau commented on #18645
@paaljoachim The link to your plugin is not working. Is the project abandoned?

[2021-05-03 05:47] prathamesh-gharat commented on #7845
I was able to limit a block to the content (root) level by using `parent: ['core/post-content']`.

It works in my case but would this be sufficient? would this have any edge cases?

Note: Using `blocks.registerBlockType` JS filter allows you to update the `parent` property of existing blocks to your own block.

[2021-05-03 06:35] noisysocks commented on #31126
Are you still working on this? It's a great start 🙂

[2021-05-03 06:40] noisysocks commented on #31331
I see that @hellofromtonya has created https://github.com/hellofromtonya/classic-widgets which looks great so assigning this issue to her.

Let's get that plugin published to the w.org plugin directory and transfer the repo to the WordPress organisation.

[2021-05-03 07:17] #23792 closed

[2021-05-03 07:45] jasmussen commented on #31387
Good ticket. There's some overlap with https://github.com/WordPress/gutenberg/issues/23745, perhaps specifically it's sort of blocked until we can take a stab at that one since the interface and rendered markup needs to be able to handle the added blocks available.

[Here's an exploration of what happens if we just allow other blocks inside](https://github.com/WordPress/gutenberg/issues/23745#issu

[2021-05-03 08:01] jasmussen commented on #31353
Great ticket. Fixed by #31410.

[2021-05-03 08:06] jasmussen commented on #31222
Thanks so much for ticketing this. I'd be very happy to fix this one, however I can't reproduce it anymore:

<img width="1477" alt="Screenshot 2021-05-03 at 10 04 41" src="https://user-images.githubusercontent.com/1204802/116853914-173bd100-abf7-11eb-8754-ec3c9eeb7ed6.png">

Is it possible this was fixed by #31195 or #31368?

[2021-05-03 08:19] JustinyAhin commented on #31222
This seems to have been fixed by https://github.com/WordPress/gutenberg/commit/c1e4cfd5963271ae85edad2bf6f963746e60e7e8.

[2021-05-03 08:20] JustinyAhin commented on #31222
Yeah, it was fixed in https://github.com/WordPress/gutenberg/pull/31368.

[2021-05-03 08:22] jasmussen commented on #31222
Thank you Justin! I'm going to close this one then.

[2021-05-03 08:22] #31222 closed, assigned to nobody

[2021-05-03 08:48] mtias commented on #31403
Wouldn't just not adding a caption work?

[2021-05-03 08:54] youknowriad commented on #25160
Sounds like it to me

[2021-05-03 08:54] #25160 closed

[2021-05-03 08:57] david-szabo97 commented on #31251
I can reproduce the issue.

https://user-images.githubusercontent.com/2256104/116858201-473aa280-abfe-11eb-858b-cbeca5fc5fed.mov

[2021-05-03 09:07] JustinyAhin commented on #31140
I'm testing this on WordPress 5.8-alpha-50761 and Gutenberg  10.5.3.

It seems to have been fixed already.

[2021-05-03 09:13] carolinan commented on #31399
Hi
<del>I am not able to reproduce this with the Twenty Twenty theme which has two page templates.
When I assign a template to a page and set that page as the Homepage in the reading settings, it uses the correct templates.</del>
Update 4/5, This may be incorrect, I will do more testing.

What is the name of the template and what is the file slug?
Is it using the parent themes index.php, or did yo

[2021-05-03 09:20] JustinyAhin commented on #31115
I've tried to reproduce this, but I can not.

When I press `delete` on the post title, it rather deletes the characters in the title.

My setup:
WordPress 5.8-alpha-50761
Gutenberg  10.5.3 only activated
TT1 blocks

macOS 11.1
Firefox Developer Edition 89.0b6

https://user-images.githubusercontent.com/33403964/116860191-199f2a80-abf9-11eb-86c1-81cdd2e0fa04.mp4

[2021-05-03 09:21] youknowriad opened #31416 "Audit Experimental APIs WP 5.8"
This is the list of experimental APIs we have generated by the @noisysocks's script from https://github.com/WordPress/gutenberg/issues/28157

The list is long and we doesn't have to go through the entire list but I suggest that If you introduced/used one of these APIs, to follow the following steps: cc @WordPress/gutenberg-core

- If it's an API that is never meant to be made available to third-pa

[2021-05-03 09:37] jasmussen opened #31418 "Featured Image: Allow free-form resizing & scaling properties"
## What problem does this address?

The Featured Image block when used on archive pages (as part of the Query block) can help make such views much more interesting:

![115060270-aafe6500-9eb5-11eb-96db-c6e67f591226](https://user-images.githubusercontent.com/1204802/116860936-9f73a380-ac02-11eb-8346-2c14ce238d32.gif)

_GIF courtesy of @kjellr from [here](https://github.com/WordPress/gutenberg/issue

[2021-05-03 09:38] jasmussen commented on #25505
I created https://github.com/WordPress/gutenberg/issues/31418 to suggest dimension controls on the Featured Image block. While it wouldn't necessarily enable the inline display discussed here, it would likely complement it nicely.

[2021-05-03 09:52] mtias commented on #31298
Could be, or perhaps we need to use a modal where we can offer more context on what each option allows. In any case it needs a more in depth look to all the implications.

[2021-05-03 09:54] chdenat commented on #31399
Hi

It used the parent index.php because I did not have any in my child theme (normal behaviour).
Then, as a 1st workaround I put my own index.php  (in child theme) to have a rendering similar to my theme and WordPress used it.
But if I use default template, WP uses page.php ...

I did it in DEBUG_MODE on , in order to check any error, but I saw nothing.

PS :  I'm not alone ...
https://wordpress.

[2021-05-03 09:56] mtias commented on #31367
There's definitely use cases for it. Reusable blocks or patterns could be just a taxonomy of `wp_blocks` but as I mentioned elsewhere, it needs a more comprehensive overview.

[2021-05-03 09:56] nerrad commented on #31416
@youknowriad I'm not sure if this list is up to date? For example `__experimentalCreateInterpolateElement` has been stable for a relatively long time now.

I think I see what's happening, the script might be picking up changelog notes. Maybe exclude `*.md` files from the script search?

[2021-05-03 09:59] youknowriad opened #31422 "Rename Post Tags block to PostNonHierarchicalTerms block and make a Post Tags variation instead."
Right now we have two post taxonomies blocks:

 - postHierarchicalTerms
 - postTags

The former is generic and support post categories variations, the latter is specific to tags. We should consider renaming the latter and make a variation for tags to match the behavior of the hierarchical terms block.

I think this is important to do before shipping these blocks to Core.

cc @carolinan @mtias

[2021-05-03 10:07] mtias commented on #31422
It sounds good to me though I'm a bit confused why it's called `hierarchichalTerms` when tags are not hierarchichal. Should the base block be just `postTerms`?

[2021-05-03 10:12] youknowriad commented on #31422
I was actually suggesting tags to be a variation of `postNonHierarchicalTerms` or something like that (just like categories is a variation of `postHierarchicalTerms` right now).

Now, looking at the output of the two blocks and comparing them (categories and tags), it seems that the output is very similar regardless of whether the taxonomy is hierarchical or not. So yeah in that case a single `pos

[2021-05-03 10:26] paaljoachim commented on #18645
Hey @rafaucau
I have no idea..... (Not my plugin though. I just linked to it.)

[2021-05-03 10:26] youknowriad commented on #31416
@nerrad good catch, I updated the list by excluding markdown files, how does it look now?

[2021-05-03 10:27] vdwijngaert commented on #30632
Looks like part of this is already covered: [mentions.test.js](https://github.com/WordPress/gutenberg/blob/7063d86a06dd259a02cfafe33f3f7920957c72f6/packages/e2e-tests/specs/editor/various/mentions.test.js).

The way I see it, for this test to work, we'll need two things:

* Ability to create a user before the test runs
* Delete all users (aside from admin)

Should the deleting happen before all te

[2021-05-03 10:45] nerrad commented on #31416
I can't speak to everything but `__experimentalCreateInterpolateElement` isn't in there so it at least helped remove that one 😄

[2021-05-03 10:49] oandregal commented on #27504
In a conversation with @jorgefilipecosta he mentioned an idea that I wanted to document: what if instead of introducing multiple hooks for different steps of the lifecycle we allow to have a single hook to replace the whole implementation entirely? He mentioned we do this for core blocks ([see](https://github.com/WordPress/gutenberg/blob/trunk/lib/blocks.php#L12)).

From the Gutenberg plugin persp

[2021-05-03 11:39] JustinyAhin commented on #31100
Something we can start doing about this could be to move the notice `div` above the modal screen by increasing its `z-index`

[2021-05-03 11:44] rolf-yoast opened #31424 "Updated css of block separator introduces double lines on themes"
## Description

Because of the block separator has a border on the bottom and top it can introduce doubles lines on themes that has a padding or something in the hr.

## Step-by-step reproduction instructions

## Expected behaviour

Double lines in hr's

## Actual behaviour

A single line in hr's

## Screenshots or screen recording (optional)

![image](https://user-images.githubusercontent.com/629

[2021-05-03 11:48] JustinyAhin commented on #31100
Not really sure about this any more. This will likely close the form to add menu on click on the notice.

@aristath , when you're back, I'll be happy to tackle this with your help

[2021-05-03 12:36] ockham commented on #30632
Ah, nice find -- I hadn't seen that one! 👍

IMO, creating and trashing posts is a much more recurring scenario in our e2e tests, so it makes sense to have it there. Creating and deleting a user seems like something that's only required for very few tests, so I'd lean towards doing that right in the autocompleter test -- i.e. `mentions.test.js`.

[2021-05-03 12:49] Luehrsen commented on #24085
One workaround I found working for this issue is to actually put a 'name.zip' string at the end of the url, which should be no problem.

[code]

[2021-05-03 12:59] kjellr commented on #31418
This might be a duplicate of https://github.com/WordPress/gutenberg/issues/27620? It's similar at least.

I definitely like the idea of the scale control. 👍

[2021-05-03 13:04] jasmussen commented on #31418
There's definitely DNA shared between those, sorry I didn't find that older one. I'm happy to close this one in favor of it, but it might be worth doing a merge of sorts? This ticket specifically embraces the image element and object-fit property, which should be conducive to the current markup.

[2021-05-03 13:05] JustinyAhin commented on #31023
Hello @noisysocks, I want to tackle this one. Just to be sure, this should be fixed in Core right?

Also, looks like it is the [html_entity_decode](https://www.php.net/manual/fr/function.html-entity-decode.php) that should be used instead.

[2021-05-03 13:15] jorgefilipecosta commented on #20771
Now global styles uses a "body" selector instead of root, I think we have everything to implement this feature.

[2021-05-03 13:18] jorgefilipecosta commented on #19620
Hi @paaljoachim, yes I can take a close look into this issue :)

[2021-05-03 13:22] devfle commented on #31115
I can confirm it. Steps to reproduce:

1. Add group block to your site
2. Insert a random block inside it e.g. shortcode
3. Save / publish the page and reload it
4. select the block inside the group block
5. press backspace and delete it.

The group block crashes an the console fires some exceptions e.g. "Uncaught Error: An error occurred while running 'mapSelect': Cannot read property 'title' of

[2021-05-03 13:22] jorgefilipecosta commented on #23225
Hi @paaljoachim, this is not something that I'm working on.
I'm going to cc @jasmussen, @georgeh as I see they are making good improvements to the navigation styles. They may be able to offer some insights about future plans.

[2021-05-03 13:23] JustinyAhin commented on #31115
I'll give a look again. I've likely not reproduced correctly

[2021-05-03 13:27] dcalhoun commented on #31151
@fluiddot yep, I did notice the erroneous opacity issue as well. I didn't debug what was occurring. I would think we could find a way to address it if we ultimately rely upon `LayoutAnimation`.

My ideas would be disappointedly complex, but potentially necessary due to the lack of `keyboardWill*` events. 😞 I thought we could either (A) debounce the callback for each event allowing the latest arriv

[2021-05-03 13:57] mtias opened #31425 "Transfer Duotone effect when converting image to cover"
When converting an Image into a Cover, either through the transforms menu or directly from the toolbar button, the dutone effect should be maintained:

![image](https://user-images.githubusercontent.com/548849/116885254-f9d32b00-ac27-11eb-9ad2-f096f58e253c.png)

[2021-05-03 13:57] jasmussen commented on #23225
The use case seems good. I've got some early mockups for additional customization in https://github.com/WordPress/gutenberg/issues/23745#issuecomment-820267638, though for the nearer future a single global overlay color is more likely to land in https://github.com/WordPress/gutenberg/issues/29963.

[2021-05-03 14:39] johnrom commented on #7845
Nice, I don't think post-content was a block when this issue was created. Seems like that would have come from the recent Gutenberg layout editor updates.

If that's now a block that can be specified as parent, I think this issue can be closed? (I haven't confirmed)

[2021-05-03 14:55] nickfmc commented on #9597
I still wish this would come back :( a lot of people are switching their themes to this type of layout https://github.com/WordPress/gutenberg/issues/25160 and not having this really makes nesting a paragraph inside a full width or wide with div hard, if you are saying by default things are not 100% but limited to your regular block wrapper width. @mtias when you say "the Section Block" to what are

[2021-05-03 15:03] dameBiz commented on #12026
hey guys, anyone has any solution or at least a workaround to this issue <script> tags are just stripped away.

[2021-05-03 15:06] nickfmc opened #31429 "wide and full alignment for paragraph block may be needed again."
With @aristath work on this ticket https://github.com/WordPress/gutenberg/issues/25160 I think we need to consider theme developers that use this type of CSS for block alignment.  A big issue we have now is nesting paragraphs/headings.  You may have a situation where you have a block that is full width and has a bg color on it and inside that you might want to put a paragraph that is aligned wide.

[2021-05-03 15:17] mtias commented on #9597
It referred to what became the "group" block

[2021-05-03 15:25] carolinan commented on #31399
What is the name of the template and what is the file slug?

[2021-05-03 15:42] carolinan commented on #31399
I am able to reproduce it with Argent, a theme that was mentioned in the support topic. https://wordpress.org/themes/argent/
In Argent, the custom template I tested is called front-page.php. But this is a reserved name in the template hierarchy, maybe that is why. It needs further testing.

[2021-05-03 15:43] bradhogan commented on #31342
I guess back to the original issue though.. I do not see the pattern tab when using the Cover block, for example (see below).  This happens with just the default theme and no plugins as well.

![bb807257-adda-4c43-8b6f-639d41075de4](https://user-images.githubusercontent.com/1781226/116898682-8ad7e100-abeb-11eb-99f0-372d18c18c02.gif)

[2021-05-03 15:59] TeamDNK opened #31432 "Extending the core/link Format"
## What problem does this address?
Currently there is no way of extending the core/link format. In any rich-text block such as the paragraph block, there is no way of adding a target, rel, class, or data attributes that is necessary for anything beyond a simple link. Being able to extend the core/link popover would allow for much needed attributes on the <a> element. This would also be beneficial

[2021-05-03 16:07] bakoorahnin opened #31433 "Flicker"
## Description

## Step-by-step reproduction instructions

## Expected behaviour

## Actual behaviour

## Screenshots or screen recording (optional)

## Code snippet (optional)

## WordPress information
- WordPress version:
- Gutenberg version:
- Are all plugins except Gutenberg deactivated?
- Are you using a default theme (e.g. Twenty Twenty-One)?

## Device information
- Device:
- Operating syst

[2021-05-03 16:11] bakoorahnin opened #31434 "Gutenberg plugin"
## Description

## Step-by-step reproduction instructions

## Expected behaviour

## Actual behaviour

## Screenshots or screen recording (optional)

## Code snippet (optional)

## WordPress information
- WordPress version:
- Gutenberg version:
- Are all plugins except Gutenberg deactivated?
- Are you using a default theme (e.g. Twenty Twenty-One)?

## Device information
- Device:
- Operating syst

[2021-05-03 16:22] bakoorahnin opened #31435 "Block editor"
## Description

## Step-by-step reproduction instructions

## Expected behaviour

## Actual behaviour

## Screenshots or screen recording (optional)

## Code snippet (optional)

## WordPress information
- WordPress version:
- Gutenberg version:
- Are all plugins except Gutenberg deactivated?
- Are you using a default theme (e.g. Twenty Twenty-One)?

## Device information
- Device:
- Operating syst

[2021-05-03 16:23] annezazu commented on #31434
@bakoorahnin hey there! Can you please provide more information here (what the problem is? what version you're using? etc)? Otherwise, we'll need to close this out :)

[2021-05-03 16:24] annezazu commented on #31435
Similar to your other issues, please provide more context as to what you are reporting. Currently, these are not actionable issues and will be closed out unless you can provide more information. Thank you!

[2021-05-03 16:24] annezazu commented on #31433
Similar to your other issues, please provide more context as to what you are reporting. Currently, these are not actionable issues and will be closed out unless you can provide more information. Thank you!

[2021-05-03 16:33] bobbingwide commented on #30545
@youknowriad Can you be more specific? What exactly do I have to code in an `experimental-theme.json` file.
At present I have the following CSS in style.css

[code]

And can I do something similar to reduce the margin-bottom on the columns block?
[code]

[2021-05-03 16:53] #31434 closed, assigned to nobody

[2021-05-03 16:53] #31435 closed, assigned to nobody

[2021-05-03 16:54] mtias commented on #31433
Closing but feel free to reopen with more context.

[2021-05-03 16:54] #31433 closed, assigned to nobody

[2021-05-03 16:56] kjellr commented on #31418
Yeah, I think that makes sense. We can port this idea over to that issue — in general the issue is that we need _any_ sort of image controls for the featured image. 🙂

[2021-05-03 16:58] jasmussen commented on #31418
Cool I'll take a stab as soon as I have a moment, and I'll close this one. (Or feel free if you have bandwidth now)

[2021-05-03 17:30] skorasaurus commented on #17972
related: https://github.com/WordPress/gutenberg/issues/26351

[2021-05-03 17:33] skorasaurus commented on #31432
Thanks for reporting;
This has been discussed and/or requested in  https://github.com/WordPress/gutenberg/issues/16929 and https://github.com/WordPress/gutenberg/issues/23011. Feel free to [add your reaction](https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/about-conversations-on-github#reacting-to-ideas-in-comments) and follow its progress in the issue.

[2021-05-03 17:33] #31432 closed, assigned to nobody

[2021-05-03 17:56] skorasaurus commented on #30131
Thanks for reporting and the clear directions to reproduce; confirmed in 10.5.3.

[2021-05-03 18:13] paaljoachim commented on #23745
That looks really nice Joen @jasmussen ! It makes me think of horizontal tabs. (Perhaps it can later on be the beginning of a tabs block.)

[2021-05-03 18:14] coreymckrill commented on #31064
cc @coreyworrell

[2021-05-03 18:16] jerrysarcastic commented on #31403
But then there would be no caption in the carousel, no?  I understand that currently they are not displayed there but I assume it's a parity issue, since captions appear in the carousel if set up using the classic editor/classic block.

Edit:  Adding to that, this was inspired by a user who wanted captions to appear in the carousel but NOT on the thumbnails

[2021-05-03 18:18] coreyworrell commented on #7551
Transferring #31360 to here as advised.

## What problem does this address?

Makes adding custom classes more user friendly for styling options that may not fit into the other options offered by Gutenberg already.

## What is your proposed solution?

Allow user to select from available classes that the theme offers along with adding custom. Similar to how [EditorsKit](https://jeffreycarandang.com/

[2021-05-03 18:19] coreyworrell commented on #31360
@mtias okay done. thank you.

[2021-05-03 18:19] #31360 closed, assigned to nobody

[2021-05-03 18:45] landwire commented on #7845
I know it's not super related, but is the parent info also available in the render_block PHP hook? I want to add some block wrapper html to all/most blocks (also core), but only to the top-level blocks.

[2021-05-03 19:04] bakoorahnin opened #31437 "adjust the margin"
## Description

## Step-by-step reproduction instructions

## Expected behaviour

## Actual behaviour

## Screenshots or screen recording (optional)

## WordPress information
- WordPress version:
- Gutenberg version:
- Are all plugins except Gutenberg deactivated?
- Are you using a default theme (e.g. Twenty Twenty-One)?

## Device information
- Device:
- Operating system:
- WordPress app version:

[2021-05-03 19:10] skorasaurus commented on #30904
ref https://github.com/WordPress/gutenberg/issues/27617

[2021-05-03 19:43] creativecoder commented on #11982
Note that this issue is not fixed in Core (though it is partly a Core issue). As things stand now, it's not even possible to add a filter to allow the posts page to be opened in the Gutenberg editor.

Here's the relevant Trac ticket that would add the ability to filter which editor is used for the posts page: https://core.trac.wordpress.org/ticket/45537

I'll re-open this issue, as it's relevant t

[2021-05-03 19:50] creativecoder commented on #28341
Related to this issue, the posts page (`page_for_posts`) cannot currently use the Gutenberg editor (via a filter), unless it already has post_content. Here's the relevant Trac issue for adding filtering: https://core.trac.wordpress.org/ticket/45537.

[2021-05-03 20:34] paaljoachim commented on #27093
Additional thoughts.
Let's say we leave it mostly as it is today. With one big difference one changes the treatment of the title to use the Post Title block.

Step by step.
1. One sees the post/page as one is used to. Inserts the title.
2. Notices that there is a block toolbar associated with the title, and is now able to move the title, style or treat the title like any other block. Even remove i

[2021-05-03 22:39] coreyworrell commented on #23524
Allow it to be filterable then? `add_filter('latest_posts_block_allow_rand', fn (): bool => true)` or whatever.

[2021-05-03 23:25] mishterk opened #31442 "Block editor crashes when using thousands of reusable blocks"
## Description
When working with large numbers of reusable blocks (thousands), the editor crashes the browser when attempting to access the **Reusable** tab in the block inserter. I know the number of blocks might seem excessive but we have a large sized site with a lot of content that needs to be distributed across products and post types so we'll need to be able to use many thousands of reusable

[2021-05-03 23:51] TeamDNK commented on #23011
We also need the ability to add custom attributes to the <a> element. Toggle buttons may too limited for cases that require more than a boolean return. The block filters seem to be a great approach to extend the popover so that developers are able to add elements to it or filter the entire popover.

[2021-05-04 00:05] critterverse commented on #31194
Hey all, I think there may be a simpler approach that won’t require new UI or major reconfigurations the Customizer sidebar — we could follow the same logic as the block toolbar [overhang approach](https://github.com/WordPress/gutenberg/pull/31077), and let wider legacy widgets overlap the preview area:

https://user-images.githubusercontent.com/77359364/116917376-91328100-ac1c-11eb-9791-5d6a85bf1

[2021-05-04 00:31] noisysocks commented on #31023
Hi @JustinyAhin, thanks for volunteering!

Right now the code for this REST API endpoint is in the Gutenberg plugin so you'll need to open a PR in this repo.

https://github.com/WordPress/gutenberg/blob/trunk/lib/class-wp-rest-widget-types-controller.php

[2021-05-04 02:20] bbertucc commented on #30770
**User story:** I have a multisite with > 50 sites. Each site uses the T1 Blocks theme, with different color palettes. Currently, I have to update colors for each block type after I update the root color palette.

[2021-05-04 02:23] noisysocks commented on #31194
Worth noting that widgets already have an `is_wide` attribute which is set during registration. We can have it so that the overhang in https://github.com/WordPress/gutenberg/issues/31194#issuecomment-831609254 only happens when `is_wide` is set.

[2021-05-04 03:14] #31094 closed, assigned to noisysocks

[2021-05-04 04:06] noisysocks commented on #31249
This has the same root cause as https://github.com/WordPress/gutenberg/issues/31249:

This issue has better steps to reproduce so I'll close the other issue.

[2021-05-04 04:07] noisysocks commented on #28672
Closing in favour of https://github.com/WordPress/gutenberg/issues/31249.

[2021-05-04 04:07] #28672 closed

[2021-05-04 04:56] glendaviesnz opened #31443 "Use of the 'main' wrapper element in group block causes invalid blocks when no unfiltered_html rights"
## Description
With the addition of a `main` element wrapper in https://github.com/WordPress/gutenberg/pull/28576, and also in the query [block pattern template](https://github.com/WordPress/gutenberg/blob/trunk/lib/block-patterns.php#L91), it is possible for a user without `unfiltered_html` permissions to add a group block, or query block in fse, and have the block show as invalid when the page i

[2021-05-04 05:06] #31263 closed, assigned to tellthemachines

[2021-05-04 05:12] aaronrobertshaw commented on #31333
I've started putting together a PR to refine the border block support controls. Can you provide the icons for the segmented control? It will also need a "none" option so the user can explicitly remove a border when the theme sets one.

[2021-05-04 05:18] aaronrobertshaw commented on #31333
We might get away with relying on setting the border width to `0` to hide a theme provided border. That wouldn't be obvious to end users though.

[2021-05-04 05:21] tellthemachines commented on #25880
This is now fixed: when focusing on widget area headers, they can be immediately opened on pressing Enter.

[2021-05-04 05:21] #25880 closed

[2021-05-04 05:33] pxpeterxu commented on #23651
@dngconsulting I just revisited this thread after a long while, but if you want to install it, it's possible to install directly from a GitHub repository: try:

[code]

[2021-05-04 05:47] tellthemachines commented on #26230
I can no longer reproduce this issue on latest trunk. Closing for now. Feel free to reopen if needed!

[2021-05-04 05:47] #26230 closed

[2021-05-04 06:01] tellthemachines commented on #25877
Currently, arrow down moves into the widget area when it's opened, and to the next area when it's closed. But it's now easier to open/close widget areas by pressing enter or space when the header is focused.

Tab moves to the sidebar, which is the same behaviour as in the post editor.

Is there any further action required for this issue?

[2021-05-04 06:19] tellthemachines commented on #26222
The inserter now says only "Search" (both in the post and the widgets editor), because it now searches through blocks, patterns and reusable blocks all at once. Is this still worth changing here?

[2021-05-04 06:47] #28555 closed

[2021-05-04 06:49] tellthemachines commented on #28561
This looks like the same error as #31249

[2021-05-04 07:00] tellthemachines commented on #26073
I can no longer reproduce this in latest trunk, can anyone else?

[2021-05-04 07:15] #29063 closed

[2021-05-04 07:17] ntsekouras opened #31446 "Add load more button in Query block"
## What problem does this address?
A `load more` button could be useful in a Query block in cases that a user doesn't want to have full pagination of the results through `QueryPagination` blocks.

This functionality should take into account the `query parameters` of the currently used Query block and should have at least for start an option of how many posts to load when clicked.

[2021-05-04 07:24] bakoorahnin opened #31447 "add new"
## Description

## Step-by-step reproduction instructions

## Expected behaviour

## Actual behaviour

## Screenshots or screen recording (optional)

## WordPress information
- WordPress version:
- Gutenberg version:
- Are all plugins except Gutenberg deactivated?
- Are you using a default theme (e.g. Twenty Twenty-One)?

## Device information
- Device:
- Operating system:
- WordPress app version:

[2021-05-04 07:30] gziolo commented on #16209
I consider all items from to-do list as done. Let's close this issue and continue working on individual enhancements separately:
- Extend the `block.json` specification to be able to restrict blocks to particular templates (#30679).
- Create standalone JSON schema for block type definition to make it possible to validate `block.json` files and annotate translatable field (https://core.trac.wordpre

[2021-05-04 07:30] #16209 closed

[2021-05-04 07:53] vdwijngaert commented on #27093
Hey @paaljoachim, appreciate the work you're putting into this, turns out it's quite complex :)

That could work. However, when a template is being used, the location and styling of the title should probably be left to the template editor. Alternatively, we could have a slimmed down post title block that can open the current template (if any) in the template editor? This could be a sidebar panel,

[2021-05-04 07:56] youknowriad commented on #31443
Hi there! is there any reason why this tag is not allowed in Kses? Aside maybe the fact that it didn't exist when these rules were written?

It sounds to me that the path forward is a ticket in Core to allow this tag.

[2021-05-04 08:06] youknowriad commented on #28744
Reopening because there are some blocks left that we'd want to reconsider.

 - Terms blocks after #31422
 - LoginOut

[2021-05-04 08:32] jasmussen commented on #31418
Closing this one in favor of #27620.

[2021-05-04 08:32] #31418 closed, assigned to nobody

[2021-05-04 08:33] jasmussen commented on #27620
I took the liberty of tweaking the title and content of this ticket a little bit, with some mockup work from the now-closed #31418.

[2021-05-04 08:35] getdave opened #31450 "Add typedefs for `core/navigation-link` block attributes"
Let's add typedefs for the `core/navigation-link` block attributes and share these with the navigation editor. This will make it easier to understand the various fields and what they do and also how these map to nav_menu_item's.

---------

Also optional, since we can always follow up later, but a typedef also works well for any enums we need to define:

https://developer.wordpress.org/block-edito

[2021-05-04 08:53] leph83 commented on #27620
I would add another Setting with a slider where you can adjust the ratio.
And if you add this feature, it would be nice, if you can choose which part of the image should always be visible.
Like the control in the cover block.

[2021-05-04 08:53] jameskoster commented on #27093
Yeah in this case the post title is always going to be tied to a template, whether that is an "old" php template, or a block template. So allowing folks to manipulate (or even remove) it while editing a post will be misleading.

+1. We can address the on-canvas post title in a follow-up.

[2021-05-04 08:57] talldan commented on #31437
@bakoorahnin Seems like this issue is lacking any detail, so I'm closing it down.

[2021-05-04 08:57] #31437 closed, assigned to nobody

[2021-05-04 08:57] talldan commented on #31447
@bakoorahnin Seems like this issue is lacking any detail, so I'm closing it down.

[2021-05-04 08:57] #31447 closed, assigned to nobody

[2021-05-04 08:59] jasmussen commented on #23745
✨

I suppose if we were to enable click instead of hover to invoke submenus (#18395), you could put together a nice little tabbed section, though keep in mind it would be collapsed by default.

[2021-05-04 09:02] paaljoachim commented on #18395
I am thinking that @aristath Ari might want to know about this issue.

[2021-05-04 09:03] javierarce opened #31451 "Navigation Screen: add new pages indicator"
When a user clicks the "Add new pages" toggle to add future pages to their menu, there isn't an immediate reflection in the preview. I'd like to propose adding a message at the bottom of the navigation to indicate that new items will be appended there.

Here's a possible solution for this improvement:

https://user-images.githubusercontent.com/4933/116981311-9bf62000-acc7-11eb-832b-fe673084716b.mo

[2021-05-04 09:05] jasmussen commented on #18395
Thanks for the example Mark! I'd definitely love to see click in addition to hover as the way to open submenus, perhaps even by default yes, and the [USDWS example](https://federalist-3b6ba08e-0df4-44c9-ac73-6fc193b0e19c.app.cloud.gov/preview/uswds/uswds/release-2.11.2/components/preview/header--basic.html) is a good one.

As [you know](https://css-tricks.com/in-praise-of-the-unambiguous-click-men

[2021-05-04 09:07] jameskoster commented on #31333
That was my original thinking. If we begin with only one variable to control the visibility of the border, I think that will lead to fewer confusing scenarios overall.

Here's the svg code for the icons:

### Solid

[code]

### Dashed
[code]

### Dotted
[code]

[2021-05-04 09:08] getdave opened #31452 "Add Post Type Archive variation to `core/navigation-link` block"
## What problem does this address?

Currently you cannot add a Post Type Archive link to the Navigation block. However you can do this via the currently Menus screen.

[Here's how you add a Post Type Archive to a menu.](https://www.wpbeginner.com/wp-tutorials/how-to-add-post-type-archive-in-wordpress-navigation-menus/)

## What is your proposed solution?

Add a `post-type-archive` block variation

[2021-05-04 09:15] talldan commented on #31177
The error from the ajax request when publishing is is:
`widget_sow-button[2]: {invalid_value: {message: "Invalid value.", data: null}}`

Comparing the same request from the current widget screen to the new screen, it looks like none of the SiteOrigin Button widget settings are being passed to the endpoint. All of these are missing in the request in the new screen:
<img width="473" alt="Screenshot

[2021-05-04 09:19] getdave commented on #31380
@TimothyBJacobs Thanks for advising on this. I'm going to add some [more context from our Slack convo](https://wordpress.slack.com/archives/C02RQC26G/p1619790709062600):

[2021-05-04 09:25] jameskoster commented on #30800
The conversation here is veering off a little into broader multi-entity save territory. These are important discussions, but I'd like to circle this issue back to the op, and discuss the other topics in dedicated issues.

To re-iterate, the todo here is hiding the "new" and "edit" template links when the post / page is a draft.

[2021-05-04 09:31] javierarce opened #31454 "Navigation Screen: menu items have inconsistent widths"
This is probably a small bug, but I've noticed that sometimes the menu items don’t extend through the menu.

The expected behaviour would be for those items to have a consistent full width.

## Screenshots or screen recording (optional)

https://user-images.githubusercontent.com/4933/116984547-a74b4a80-accb-11eb-8a6e-f523f9c6efc2.mov

## WordPress information
- WordPress version: 5.7.1
- Gutenberg

[2021-05-04 09:38] jameskoster commented on #26573
Yes this is a particularly gnarly issue. The trickiest part seems to be how the UI should present site/template blocks when they added to posts / pages by user roles like Author and Contributor. The are varying degrees to that... we might allow them to insert the blocks but lock down some/all edit-ability. Or we might not allow them to insert those blocks at all. None of this feels particularly cl

[2021-05-04 09:49] jameskoster commented on #31391
This is an interesting one. In many ways I see overlap with the idea of [putting post attributes in the top bar](https://github.com/WordPress/gutenberg/issues/27093).

In the short term the proposal here seems to be worth a try. But long term I think we should follow what happens with document attributes closely, and align where we can.

[2021-05-04 09:51] #29793 closed

[2021-05-04 10:16] #30897 closed, assigned to kevin940726

[2021-05-04 10:19] fluiddot commented on #31151
The tricky part regarding layout animations is that they behave a bit differently on Android than iOS, particularly when dispatching multiple at the same time.

I'm afraid that on Android unless we implement a native solution for notifying RN right before the keyboard will be shown/hide, we can't really do much to work around it.

Regarding how to synchronize the layout animations dispatched by ke

[2021-05-04 10:38] ntsekouras commented on #31416
I did a quick first pass..

I believe these should remain `__experimental` as they are relatively new and susceptible to changes:

`__experimentalBlockPatternSetup`
`__experimentalBlockVariationTransforms`
`__experimentalGetMatchingVariation`
`__experimentalGetAllowedPatterns`
`__experimentalGetParsedPattern`
`__experimentalGetPatternsByBlockTypes`
`__experimentalGetPatternTransformItems`
`__exper

[2021-05-04 10:49] kevin940726 commented on #26073
Nope, can't reproduce it anymore.

[2021-05-04 10:49] #26073 closed

[2021-05-04 10:57] mtias commented on #16209
Nice work driving these @gziolo

[2021-05-04 11:01] amir2mi commented on #27093
I think space between the left and right parts of the header gives identity to Gutenberg.

I have made this, what do you think?
![idea-demo](https://user-images.githubusercontent.com/64708228/117015028-a08df900-ad06-11eb-8f22-462e0cf43efa.gif)
Video: https://user-images.githubusercontent.com/64708228/116993399-abd42b00-acec-11eb-9cba-495f37256020.mp4

[2021-05-04 11:14] paaljoachim commented on #27093
That looks really cool, @amir2mi Amir!
An interesting user interface. I am not sure how it fits into a more general title in the top bar UI though.

[2021-05-04 11:29] carlomanf commented on #26573
I just tested this out quickly, by editing a post as an Author role and testing out some of the new blocks. The experience is exactly as I predicted it would be. The UI kind of invites me to edit things, but when I click on Save, nothing gets saved, except in cases where I actually do have the capability to edit (such as my own posts.)

That's not the tricky part at all. Just remove the editabilit

[2021-05-04 11:32] youknowriad commented on #31416
If these are the ones in the block-editor package, I think they should remain experimental because the patterns directory could have an impact there.

[2021-05-04 11:45] paaljoachim opened #31456 "Improving multi-entity saving UI method."
Various feedback on multi-entity saving method have become spread into various issues that talk about different aspects of multi-entity saving.

The current multi-entity saving method.
Clicking the Save button leads to the Save panel.
![116996677-17fa6300-acdc-11eb-967d-92a5738ec51c](https://user-images.githubusercontent.com/5323259/117113705-28b5e200-ad8b-11eb-984f-2fb63607d443.jpg)

1- Here one

[2021-05-04 11:57] ntsekouras commented on #26316
Closing as this is tracked/handled here: https://github.com/WordPress/gutenberg/issues/28744

[2021-05-04 11:57] #26316 closed

[2021-05-04 12:02] leutrimhusaj opened #31457 "Creating a reusable block inside group in group block crashes the block"
## Description
If you have a group block inside a group block and want to convert a block inside those to a reusable block, it crashes the created reusable block.
When you save the page the reusable block is created and the reference inside the page is correct but the crash after saving seems like a bug.

## Step-by-step reproduction instructions
1. Create a group
2. Create a group inside the grou

[2021-05-04 12:23] amir2mi commented on #27093
Me too, just wanted to share the idea [those buttons can be hidden as well].
Can something like this be there when there is no title block? (like what you said conditional).
Is it a pain to distinguish which post I'm editing now on switching between tabs?

[2021-05-04 12:29] oandregal commented on #31416
- `__experimentalSkipSerialization`, `__experimentalSelector` => I think these could be kept as experimental.

- `__experimentalBorder`, `__experimentalFontStyle`, `__experimentalFontWeight`, `__experimentalTextTransform`,`__experimentalTextDecoration` => these can be made stable but would welcome design feedback. The infrastructure/underlying mechanism works fine, if we aren't sure about the UI c

[2021-05-04 12:34] scruffian opened #31459 "Columns Block: Add horizontal alignments"
Since https://github.com/WordPress/gutenberg/pull/13899 we have been able to vertically align the content of a column. It would also be useful to be able to align the content to the left/right. This will help us to create layouts like this:

<img width="871" alt="Screenshot 2021-05-04 at 13 33 07" src="https://user-images.githubusercontent.com/275961/117003836-43ca1880-acdd-11eb-8c27-39576de1cb7f.

[2021-05-04 12:37] ntsekouras commented on #31342
The functionality for showing patterns inside a block was added here: https://github.com/WordPress/gutenberg/pull/28459. (GB plugin v. 10.0)

Maybe you have an older WP version that doesn't contain this code?

[2021-05-04 13:07] youknowriad commented on #31416
I think I saw some discussion about grouping some of these under "typography" ? it would make sense to be but I agree that we can probably stabilize these now, they are a good complement to theme.json for block authors. UI is not a blocker to stabilize things though for me, it can be iterated on.

[2021-05-04 13:13] grand-lotus-iroh opened #31462 "Preview Button - Remove Extra Click / Add Nipple-click Dropdown Option"
When creating a page, or post, there are TOO MANY clicks required to preview a page. Why would anyone want to click "Preview" just to click "Preview in new tab" again? Two clicks to preview is non-sense. Make it so there is a nipple dropdown arrow that you can popup that menu BUT make it so when you click the actual preview button, you don't have to click a 2nd time to preview.

Think about it...

[2021-05-04 13:16] jasmussen commented on #31416
<img width="463" alt="Screenshot 2021-05-04 at 15 16 01" src="https://user-images.githubusercontent.com/1204802/117009098-acb88d00-aceb-11eb-8b54-5dccf7e172cf.png">

That might be what you're thinking of, from #27331. Part of it is to group tools logically, part of it is to avoid a proliferation of panels.

[2021-05-04 13:47] WraithKenny commented on #31399
I am having the same issue. If it helps, my template is in a folder in the theme.

[2021-05-04 13:48] mkaz commented on #31063
For my case of trying to show a listing of all child pages, this might be a better for the Page List

[2021-05-04 13:56] dreamwhisper commented on #31399
We are also seeing pages use `index.php` with our Genesis themes with template names like `templates/full-width.php`, `templates/landing.php` & `templates/blocks.php`.

[2021-05-04 14:23] jameskoster commented on #26573
Not quite? If an Author can insert a Site Title block, they should also be able move it around, adjust the block attributes etc. But not edit the title itself.

So we probably need a design for blocks that are content-locked. Co-incidentally we're exploring something similar in https://github.com/WordPress/gutenberg/pull/31461