[2022-08-08 11:13] javierarce commented on #42602
Here are a couple of ideas:

The first one uses a custom dropdown that includes the list of menus and an option to create an empty new one.

![image](https://user-images.githubusercontent.com/4933/183404928-c30563a8-b15a-4f38-896e-f5119d3e77fc.png)

The second idea is to present a regular dropdown and show the option to create menus directly on the sidebar along with the link to manage the menus.

[2022-08-08 11:24] betagoo commented on #11589
`figcaption` is not semantic. It's very big problem.

[2022-08-08 11:41] #30773 closed, assigned to nobody

[2022-08-08 11:58] gziolo commented on #19949
@t-hamano, excellent work tackling this task ❤️

[2022-08-08 12:13] Thelmachido commented on #25724
I can still replicate this:

WP version 6.0.1

Gutenberg 13.8.1

[2022-08-08 13:16] aquaspy commented on #22822
@talldan sure, let me add some details.
Brave 1.41.100 / Artix Linux(fork of arch linux). This computer is using a Athlon 200GE with 16GB of ram

Yes, I have 10 plugins installed: Academy Certificates, Academy LMS, Admin Tools Professional for WordPress, Akeeba Backup Professional for WordPress, Disable Bloat for WordPress & WooCommerce, Query Monitor, Redis Object Cache, Resize Image After Upload

[2022-08-08 13:17] aquaspy commented on #22822
On my Brave, I only have these extensions: https://i.imgur.com/mYWpZAq.png

But I have similar results on a incognito tab, so I don't think it's brave/extensions fault.

[2022-08-08 13:26] #43016 closed, assigned to nobody

[2022-08-08 13:40] rodrigo-arias commented on #36150
I had to add a basic theme.json to make it look similar (and not the same) as an empty theme without theme.json

[code]

[2022-08-08 13:50] kathrynwp commented on #41649
@jorgefilipecosta Hi, would you be able to take a look to see if the [Trac ticket](https://core.trac.wordpress.org/ticket/56325) I reported is the same issue as this one? If so, is it possible to get [this fix](https://github.com/WordPress/gutenberg/pull/41762) reviewed, as this bug seems to be is affecting all block themes? Thanks!

[2022-08-08 14:05] kathrynwp commented on #19004
Hi @mipon, are you still able to replicate this with the latest version of WordPress? I tried to have someone with a Windows machine follow the above steps, but they could not find the "Edit image" icon at this step, so it looks like the UI may have changed. Just let me know if there's a different way to replicate, thank you!

[2022-08-08 14:07] #43002 closed, assigned to nobody

[2022-08-08 14:34] jorgefilipecosta commented on #42325
Hi @jameskoster,
The division between single, archive and base seems more concrete, I agree with @ntsekouras that it may be challenging dividing between pages, blog and advances.

In the case of "Woo", or other e-commerce solutions where although post types and taxonomies may have an association, where would the label "Store" come from? I guess we would need a new API to create tabs in this menu (

[2022-08-08 14:44] chad1008 opened #43063 "User mention suggestions can't be exited from within a list block"
### Description

When adding a user mention within a list block pressing `enter` multiple times does not successfully exit the autocompleter and in turn the list block itself.

Effectively, a user can find themselves trapped in a list block after inserting a user mention, unless they forcibly exit the autocomplete.

There are actually two symptoms here, which appear to have been introduced separat

[2022-08-08 14:56] padams commented on #41405
Right. Just not image taxonomies...

Yes. My primary use case for WordPress is a searchable image archive. Being able to do a simple loop of the "latest images" or a loop that pulls the images for a specific custom taxonomy term would eliminate the need for a lot of plugins and custom php templates.

The killer combo IMHO would be for the gallery block to use the query block as a sort of inner blo

[2022-08-08 14:57] jameskoster commented on #42325
I think this is true for theme developers, but I'm not sure it generally fits with the mental model of those users who are not theme builders, but still want to customise their templates.

Also, I'm not convinced it will scale that well – once you add a few plugins the 'Single' and 'Archive' template lists are going to get quite long.

Edit: Not to mention it also forces us to add more copy so tha

[2022-08-08 15:31] Marc-pi commented on #42810
yep, a highly needed feature, to be able to make use of the Query Loop Block on all websites.
Usage need : add a "You may also like" section in the bottom of a post, filtered by **the same category** as current the one the current article is associated to
IMHO, the Query Loop block should also be extended to become the Gutenberg Swiss kniffe, like the Clickly Query Builder see https://www.youtube.

[2022-08-08 15:44] TimothyBJacobs commented on #43054
I think this is because the theme is using the `Modal` component from `@wordpress/components` to render a modal on the download page.

https://github.com/WordPress/wporg-main-2022/blob/4279809f9e39662a176cbdd0b46ad6863655a189/source/wp-content/themes/wporg-main-2022/src/components/download-modal/DownloadModal.js

You can see that in [action](https://wordpress.org/main-test/download/) when you clic

[2022-08-08 15:47] apeatling commented on #42229
cc @priethor to see if this is still important for 6.1.

[2022-08-08 15:49] kathrynwp commented on #35705
Hi @RatzeR I've been able to add an apostrophe within both a paragraph and cover block without any issues.

Could you please provide the following so I can investigate further:

- Exact steps to replicate the issue
- What version of WordPress are you using?
- If you also have the standalone Gutenberg plugin active, what version is it?
- Is the issue present with all your plugins temporarily deacti

[2022-08-08 15:55] kathrynwp commented on #23491
@ellatrix Thanks for confirming and reopening.

Very possible I'm misunderstanding the issue – I have not yet been able to replicate.

Steps:

- click the drag handle on a block
- use two-finger scroll on trackpad
- release fingers when block is in its new position

Tested with:

- Firefox 103.0.1
- macOS 12.2.1

[2022-08-08 17:03] spencer-j commented on #37232
Yes still an issue in 6.0, and very confusing, as official docs
https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-json/#what-is-blockgap-and-how-can-i-use-it
and other
 https://wpdevelopment.courses/articles/block-gap-margin-padding/#understanding-block-gap
say its true, false and null is not mentioned.

[2022-08-08 17:12] Babylon1999 commented on #40676
5460979-zd

[2022-08-08 17:43] ndiego commented on #37232
@spencer-j the [official documentation](https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-json/#what-is-blockgap-and-how-can-i-use-it) has a detailed guide on the various settings:

[2022-08-08 17:45] jameskoster commented on #37850
I think a single 'Edit template' link could make sense as an accompaniment to 'Edit post'. We might even combine them into a single dropdown.

* Edit
  * Post
  * Template

One other thing to consider is when to pass context to base templates. For example if I'm viewing my 'Hello World!' post and it uses the `single` template, what do I see when I click 'Edit template'? If we populate the template

[2022-08-08 18:35] chad1008 opened #43066 "Pasting text into the title field replaces existing title content"
### Description

When pasting text into the title field of the block editor, existing text in the title field is replaced.

Ideally, the pasted text would simply be inserted at the cursor's current position, instead of removing any existing text.

This appears to have been introduced in #42321 (cc @ellatrix)

### Step-by-step reproduction instructions

1. Create a new post
2. Add any text you'd li

[2022-08-08 18:44] arinjay commented on #41686
@fluiddot
were you able to reduce the crashes by enabling hermes on iOS?

[2022-08-08 19:10] nickfmc commented on #37232
Ahh thanks @ndiego blockgap: null and appearanceTools: true is working for me now!

[2022-08-08 19:43] ironprogrammer commented on #42868
I'll admit that my *eyes* like the optimization of dropping "web" as redundant, but this is counter to the tradition of referring to fonts used on web sites as "web fonts". It's also notable that licensing from font providers/foundries make clear delineation between licenses intended for "desktop", "server", or "web" use.

IMHO it seems clearer to keep both words: "web font". This would be consist

[2022-08-08 19:47] adamwoodnz commented on #43054
Thanks for the feedback all, we'll discuss!

[2022-08-08 20:05] eric-michel commented on #42097
A related problem: defining `blocks.core/button.spading.padding` breaks the equalizing padding provided to regular buttons to keep them the same size as outlined buttons.

With no customization:
![image](https://user-images.githubusercontent.com/45110062/183502976-f8beaad7-b29e-44ed-b2f7-1f42672d63e6.png)
Padding for the outlined buttons is: `.667em 1.333em;`
Padding for the regular buttons is: `c

[2022-08-08 20:18] adamwoodnz commented on #43054
I see this ticket was closed https://github.com/WordPress/gutenberg/issues/17079 and Modal was mentioned as being one of the components that could benefit from a separate package. We also [faced this problem](https://github.com/WordPress/wporg-mu-plugins/pull/240) trying to use Spinner. Any appetite to reopen now?

Modal bundles all the functionality we need so we'd really like to continue using i

[2022-08-08 20:30] noahtallen commented on #23121
I'll close this issue now, then :)

And of course, please open another issue if anything starts failing on Windows!

[2022-08-08 20:30] #23121 closed

[2022-08-08 20:38] eric-michel commented on #38277
I think this comment is within the scope of this issue, but if not please let me know and I can make a new post.

For keyboard accessibility, we're using `focus-within` to add an outline to links and buttons, like so:
![image](https://user-images.githubusercontent.com/45110062/183506423-39b2d3af-070f-44ce-9fd2-05812831eed1.png)

The trouble I'm running into is providing an appropriate color to but

[2022-08-08 20:40] bhubbard commented on #42828
@ramonjd I could see the default being the toggle, if there are multiple styles available then I could see a possible setting to allow it to be a dropdown that lets the user choose the style.

[2022-08-08 21:15] joedolson commented on #42057
Semantically, it's more accurate to make the relationship between two things more consistent; and won't require as much duplication of code. I'd still go with the `aria-describedby` option.

[2022-08-08 21:18] mrdonduck commented on #5653
I am also seeing this issue happen only when previewing in mobile or tablet, the meta boxes do not get reset when going back to desktop without having to refresh the page. Not using the plugin mentioned here or in a related thread regarding Yoast.

[2022-08-08 21:23] renatho commented on #12635
It happens because of this event: https://github.com/WordPress/gutenberg/blob/v13.8.1/packages/block-editor/src/components/block-list/use-block-props/use-selected-block-event-handlers.js#L85

Based on the [hook documentation](https://github.com/WordPress/gutenberg/blob/v13.8.1/packages/block-editor/src/components/block-list/use-block-props/use-selected-block-event-handlers.js#L18), I think it's on

[2022-08-08 21:31] ZebulanStanphill commented on #42229
I should note that due to being busy with several other things, it is unlikely that I will be able to help much with stabilizing the Table of Contents block, besides reviewing PRs from other people. If anyone wants to tackle the aforementioned issues, feel free to do so, because I simply don't have the time available to do so right now.

If you ask me, the switch back to dynamic rendering and the

[2022-08-08 21:50] TimothyBJacobs commented on #43054
Something you could potentially explore would be to limit the Webpack Dependency Extraction plugin to only handle `@wordpress/i18n` and instead let Webpack tree shake to generate a built file with only the needed JS included.

[2022-08-08 22:07] ZebulanStanphill commented on #39619
Due to `PlainText` v1 still being used in multiple locations as a `<textarea>` substitute in the codebase, I can't merge #39817 as-is. It seems that implementing @ellatrix's suggestion should happen, and instead of stabilizing the `version` prop, remove/deprecate it in favor of a `variant` prop.

I'll try and get around to it this weekend, but if anyone wants to jump in and do it instead, be my gu

[2022-08-09 00:33] dashkevych commented on #22759
Also, I would be great if the block also included a class when the featured image option is enabled.

[2022-08-09 01:21] mipon commented on #19004
Indeed, in recent WordPress versions (at least in 6.0.1), the UI of the image block seems to have changed and the above steps are no longer valid.

I tried to reproduce the bug with similar approaches in the new UI but so far I haven't been able to on Windows.

[2022-08-09 04:56] Greatdane opened #43072 "Button block: Add option to change buttons border color"
### What

It would be awesome to have an option to change the button's border color.

### Why

This enhancement would give users much more control over how they want to customize the button. Even more important on sites using FSE themes.

### How

The option to change border colors is already possible on Group and Table blocks. They also have an option to change the border style.

**Group block**:

[2022-08-09 05:18] juhi123 commented on #38851
Hey @JustinyAhin
No problem, congratulations!

I can update but I don't think I have enough access to check the list as I am not able to click on that.

@talldan Yeah that's why I also got confused as it's still there, but I can see this in Playwright tests also
https://github.com/WordPress/gutenberg/blob/trunk/test/e2e/specs/editor/blocks/quote.spec.js

[2022-08-09 05:52] talldan commented on #38851
@juhi123 I don't think that's a migration, just someone decided to write an individual test in playwright. The other test cases still need to be migrated.

[2022-08-09 06:05] talldan commented on #43063
Hopefully the second issue is fixed by https://github.com/WordPress/gutenberg/pull/42971. Reviewing that now.

edit: I can't reproduce that issue on `trunk`, so perhaps already fixed or there are a more complex set of reproduction steps.

[2022-08-09 06:07] t-hamano commented on #41469
@vasartam

Thank you for submitting the issue.
I have submitted a PR at #43075 for consistency, including the points you raised.

[2022-08-09 06:45] jasmussen commented on #39230
This should be fixed by #42967.

[2022-08-09 06:45] #39230 closed, assigned to nobody

[2022-08-09 07:17] talldan commented on #22822
Great - thanks for the extra details.

Would you say you're seeing good performance after refreshing, or still quite poor (but better)?

Reduction of performance over 3-4 hours sounds like a memory leak. This isn't something that the project measures currently, there are automated tests that open a browser session and edit a long post, and record the amount of time it took, but they all start a ne

[2022-08-09 07:41] #41469 closed, assigned to t-hamano

[2022-08-09 07:42] mdmag opened #43077 "Upgrade @wordpress/element to React 18"
Hi WordPress team,
We built [Quill Forms](https://github.com/quillforms/quillforms) project as an open source Typeform alternative for WordPress based on React and Typescript.
We have a lot of inspiration from Gutenberg project especially with the blocks concept.
We support React community as well but recently, we have issues from our users that our form doesn't work with React 18.
When I investig

[2022-08-09 07:45] tellthemachines commented on #38998
Hey peeps 👋 there's a lot very thoughtful discussion here around CSS classes and naming in general, so I thought it might be a good place to seek some feedback on my experiment in #42763, where I'm moving the content width logic into its own layout type, to make it possible for blocks to apply content width to their children by default.

The main thing I'm seeking feedback on is the name for this

[2022-08-09 07:57] SavPhill opened #43078 "[Documentation] Broken Internal Link"
### Description

Broken internal link in the documentation when visiting https://developer.wordpress.org/block-editor/reference-guides/block-api/block-metadata/#icon at line 254.

### Step-by-step reproduction instructions

Go to: https://developer.wordpress.org/block-editor/reference-guides/block-api/block-metadata/#icon
Click on internal url titled: wp.primitives.SVG which leads to: https://deve

[2022-08-09 08:01] #42948 closed, assigned to aristath, andrewserong

[2022-08-09 08:24] Mamaduka commented on #43077
Here's an in-progress PR #32765, but we're waiting for the mobile team #40695.

[2022-08-09 08:27] Mamaduka commented on #43078
Thanks for contributing, @SavPhill.

The suggested URL looks like a suitable replacement 👍

[2022-08-09 09:43] jameskoster opened #43082 "Design tools: Better handling of unset / inherited values"
There was a lot of discussion on this in https://github.com/WordPress/gutenberg/pull/42173, with no optimal outcome. Consensus was to explore a holistic solution.

### The problem
It is possible for styles to be applied to blocks in ways that we cannot programatically detect. Confusion arises when what is printed on the canvas does not seem to match the configuration in the Inspector. As an extrem

[2022-08-09 09:48] ciampo opened #43083 "Components: remove hardcoded classnames and move away from Sass styles"
## Context

Hardcoded classnames have been historically used in the `@wordpress/components` package as the main way to style component while writing styles in Sass.

But while **hardcoded classnames have** ([almost](https://github.com/codesearch/auth?redirect_uri=https%3A%2F%2Fcs.github.com%2Fauth%2Fcallback&state=3866e38c-d9f0-4ae6-b148-cf83a3b0a3d9)) **never been intended to be part of the publi

[2022-08-09 09:52] ellatrix commented on #23491
@kathrynwp I tested it in Firefox and it appears to be working there, but it's not working in Chrome.

[2022-08-09 10:24] luislard opened #43084 "Possibility to control allowed formats in core blocks independently"
## What problem does this address?
Provide the possibility to have different allowed formats for **core/paragraph** and **core/heading**:
Example:
core/paragraph should have ["core/bold", "core/italic", "link"]
core/heading should have [ ]

## What is your proposed solution?
Looking at the code the formats are added by the format-library package in [here](https://github.com/WordPress/gutenberg/blo

[2022-08-09 10:55] ciampo opened #43085 "Layout components: standardize API approach"
## Context

This issue applies to layout-based components in the `@wordpress/components` package:

- [`Grid`](https://wordpress.github.io/gutenberg/?path=/story/components-experimental-grid--default)
- [`Flex`](https://wordpress.github.io/gutenberg/?path=/story/components-flex--default) and its "derivatives":
  - [`HStack`](https://wordpress.github.io/gutenberg/?path=/story/components-experimental

[2022-08-09 11:03] ciampo commented on #43085
cc @mirka @chad1008  and a few devs who have been recently working often with the `@wordpress/components` package @aaronrobertshaw @andrewserong @talldan @ntsekouras

[2022-08-09 11:05] ciampo commented on #43063
#42971 has just been merged — @chad1008 , can you still reproduce this popover-related issue on latest `trunk` ?

[2022-08-09 11:20] sanzeeb3 opened #43086 "Passing array of styles causes PHP Warnings and Notices"
### Description

In the documentation: https://developer.wordpress.org/block-editor/reference-guides/block-api/block-metadata/#style

passing an array of styles is possible since 5.9.0. However, I'm on WordPress 6.1 and there are some errors and notices:

Both the styles are enqueued, though.

### Step-by-step reproduction instructions

1) Register a block with an array of styles. E.g.

[code]

2)

[2022-08-09 12:01] #40463 closed, assigned to shimotmk

[2022-08-09 13:36] kathrynwp commented on #24097
@talldan Hi! As there hasn't been any movement on this issue in two years, I've marked it as stale. Let me know if you think it should be kept open. Thanks!

[2022-08-09 13:40] kathrynwp commented on #24458
@alaczek I'm going to go ahead and close this out, but if you are still experiencing the original issue, feel free to add a comment with additional details and I’ll be glad to reopen it.

[2022-08-09 13:40] #24458 closed

[2022-08-09 13:45] bph commented on #42961
Thank you, @andrewserong - I marked this dev note as done<g> for now.

[2022-08-09 13:50] mmtr opened #43090 "Unable to dismiss block inserter panel after inserting a V2 block"
### Description

After using the block inserter panel to insert a V2 block like the Buttons block, it is not possible to dismiss the panel.

### Step-by-step reproduction instructions

- Start a new post.
- Click on the `+` icon to open the block inserter panel.
- Search for Buttons.
- Select the Buttons block.
- Click on the `x` icon to close the block inserter panel.
- The panel remains visible.

[2022-08-09 13:52] kathrynwp commented on #25186
I'm still able to replicate this, and in fact, on my laptop, the two windows overlapped:

![Add_New_Page_‹_Self-hosted_Test_—_WordPress](https://user-images.githubusercontent.com/7662449/183666103-3d04e8b9-2bae-4f99-8e00-425eea6faab4.jpg)

To open the Options screen, click the three dots at the top right, then click Preferences:

![Add_New_Page_‹_Self-hosted_Test_—_WordPress](https://user-images.g

[2022-08-09 13:57] kathrynwp commented on #25883
@hypest @cameronvoell Hi there, just circling back to see if this is still an issue. Thanks!

[2022-08-09 14:13] abhansnuk commented on #27720
I tested it again this week, and could not reproduce it with YouTube or Spotify embeds on a default theme. Last year, I did face the issue on the Twenty Twenty Theme, but this is no longer the case.

[2022-08-09 14:14] ndiego commented on #31491
Hi all, this issue was reviewed again during this week's Editor Bug Scrub. A few testers were not able to reproduce, and given that this issue has not seen any activity in quite a long time, we have decided to close it. If anyone is able to reproduce, feel free to reopen.

[2022-08-09 14:14] #31491 closed, assigned to nobody

[2022-08-09 14:18] ndiego commented on #34164
Thanks for the follow-up @noisysocks. We reviewed it again during this week's Editor Bug Scrub, and the consensus was to close this ticket.

[2022-08-09 14:18] #34164 closed, assigned to nobody

[2022-08-09 14:23] kathrynwp commented on #26109
@hypest Hi, is this still applicable and on the radar to be fixed? If not, I'll go ahead and close as stale/not planned. Thanks!

[2022-08-09 14:23] dcalhoun commented on #25883
Hey @kathrynwp. 👋🏻 I tested this now and was unable to reproduce the issue with the latest `trunk` branch and a Pixel 3a (API 33) emulator. Following the [Getting Started for the React Native based Mobile Gutenberg](https://github.com/WordPress/gutenberg/blob/88f80c6254f469ccd7dd81d8bf0ddb4386905526/docs/contributors/code/react-native/getting-started-react-native.md) steps appear to succeed. Closi

[2022-08-09 14:23] #25883 closed

[2022-08-09 14:23] Mamaduka commented on #35560
Hi everyone

The issue was resolved via #38817. The new template resolution method ignores the PHP templates. See this comment for more details - https://github.com/WordPress/gutenberg/pull/38817#discussion_r806755905

[2022-08-09 14:23] #35560 closed, assigned to nobody

[2022-08-09 14:28] kathrynwp commented on #26343
@scinos Hi! I see there's a PR that looks like it was merged a while back. Can this issue be closed now? Thanks for taking a look.

[2022-08-09 14:29] Gierand opened #43092 "Cover image as featured image + "Fixed background" duplicates the style element."
### Description

Adding a cover image as featured image with the "Fixed background" option duplicates the style element, which will result in the following code on the frontend:

`<div class="wp-block-cover is-light has-parallax" style="background-image:url(PATH_TO_IMAGE);" style="margin-top:111px">`

### Step-by-step reproduction instructions

1.  Create a new post.
2. Add featured image.
3.  Add

[2022-08-09 14:33] kathrynwp commented on #26343
And if that PR is not related, if you wouldn't mind confirming whether the original issue is still valid, that would be super helpful. Thanks!

[2022-08-09 14:33] Mamaduka commented on #35852
@dingo-d, we fixed a few bugs related to pattern rendering in WP 5.9 (#38175). Are you still able to reproduce the issue with the current major WP version?

[2022-08-09 14:35] abhansnuk commented on #35852
As in today's bug scrub, pre 6.0 release, I could reproduce this issue when Gutenberg was not enabled. It applied to the third pattern to display, and not one particular pattern. With Gutenberg enabled, I could not reproduce it.

Today on retesting, post 6.0 release, I can not currently reproduce the issue with Gutenberg enabled or not.

[2022-08-09 14:35] dcalhoun commented on #41686
Hey @arinjay. 👋🏻 We have not yet enabled Hermes for iOS. We hope to in the future, but I do not believe we have set a schedule for that work at this time.

[2022-08-09 14:40] kathrynwp commented on #26717
@youknowriad @ellatrix Would either of you be able to take a peek at @gwwar's question above ? I've marked this as stale in the meantime, since there's been no movement in over a year. Thanks!

[2022-08-09 14:40] hypest commented on #26109
👋 @kathrynwp! Thanks for the ping! I'm actually not directly working on the Gutenberg/gutenberg-mobile at this stage, please feel free to ping @fluiddot instead. Sorry for the forward 🙂

[2022-08-09 14:43] Mamaduka commented on #36118
Related to #13509, #42400.

[2022-08-09 14:50] torounit commented on #36167
I tested it on android 12 chrome 104 and could not reproduce it. (WP 6.0.1)

[2022-08-09 14:58] ndiego commented on #36227
Thanks for reporting this issue. It was reviewed in today's Editor Bug Scrub and after review, it appears that everything is working as expected. While it might not be ideal for your situation, user language settings take precedent over site language settings as all REST API requests are fetched in user locale since https://github.com/WordPress/gutenberg/pull/10862.

[2022-08-09 14:58] #36227 closed, assigned to nobody

[2022-08-09 14:59] kathrynwp commented on #26983
Hi @talldan if there's any way to get that PR reviewed/merged, it would be great to be able to close this one out. Thanks!

[2022-08-09 15:02] kathrynwp commented on #23491
@ellatrix Thank you very much for retesting and clarifying!

[2022-08-09 15:03] kathrynwp commented on #25883
@dcalhoun Thanks very much!

[2022-08-09 15:06] kathrynwp commented on #19004
@mipon Thanks so much for responding and retesting. I'll go ahead and close this out, but if anyone is still able to replicate, feel free to add a comment with additional details and I’ll be glad to reopen it.

[2022-08-09 15:06] #19004 closed

[2022-08-09 15:06] dcalhoun commented on #26109
Hey @kathrynwp. 👋🏻 I was unable to reproduce this issue on the latest `trunk`. Closing this, but feel free to re-open if needed.

[2022-08-09 15:06] #26109 closed

[2022-08-09 15:07] Mamaduka commented on #36485
Thanks for contributing, @samulimartikainen.

It looks like a duplicate of #31501, and the fix should be applied in WP Core. See this comment for more details: https://github.com/WordPress/gutenberg/issues/31501#issuecomment-891562483.

[2022-08-09 15:07] #36485 closed, assigned to nobody

[2022-08-09 15:13] kathrynwp commented on #27112
@oandregal Hi there - this appears to be working as expected now, so I'll go ahead and close this out. If anyone is still experiencing the original issue, feel free to add a comment with additional details and I’ll be glad to reopen it.

Tested with:

Twenty Twenty-Two
WordPress 6.0.1
Gutenberg 13.8.1 active or inactive
No other plugins active

[2022-08-09 15:13] #27112 closed

[2022-08-09 15:15] kathrynwp commented on #27165
@Addison-Stavlo Hi there! Are you still able to replicate this with the latest version of WordPress? If so, would you be able to clarify the steps to replicate in a little more detail? Thanks!

[2022-08-09 15:21] kathrynwp commented on #26109
Much appreciated, @dcalhoun!

[2022-08-09 15:22] richtabor opened #43095 "Root padding is doubled on child blocks"
### Description

A lot of effort has gone into consolidating and simplifying block theme support for making blocks fullwidth, while also supporting root padding, particularly in https://github.com/WordPress/gutenberg/pull/42085.

I've been testing this out with TT2 and it looks like padding is inaccurately applied to child blocks, doubling up the padding within.

Do we need the following generated

[2022-08-09 15:26] kathrynwp commented on #27244
@kjellr Hi! If this is still an issue with the latest version of WordPress, let me know, otherwise I'll close it out as there's been no movement on it in a few years. Thanks!

[2022-08-09 15:31] kathrynwp commented on #27525
@rickybanister Hi! I can no longer replicate, so I'm going to go ahead and close this out, but if you are still experiencing the original issue, feel free to add a comment with additional details and I’ll be glad to reopen it. Thanks!

[2022-08-09 15:31] #27525 closed

[2022-08-09 15:37] kathrynwp commented on #27601
@talldan I'm no longer able to replicate this following the steps above. I'm going to go ahead and close this out, but feel free to reopen it if you can still replicate and think it's worthwhile to reopen. Thanks!

[2022-08-09 15:37] #27601 closed

[2022-08-09 15:48] kathrynwp commented on #27642
I can replicate this, but I'm not actually sure whether this qualifies as a bug or not. If it is, it doesn't seem to be specific to Gutenberg, because when I go to the Posts > Categories area, I see that the Sports, Martial Arts, and Aikido categories each show 1 post, as you can see here in this example:

![Categories_‹_Self-hosted_Test_—_WordPress](https://user-images.githubusercontent.com/76624

[2022-08-09 15:50] kathrynwp commented on #27656
@dcalhoun Hi there! Would you be able to take a peek and see if this is still an issue, or if it can be closed? Thanks!

[2022-08-09 15:55] kathrynwp commented on #27660
Looks like there was a PR fixing this issue early in 2021. @draganescu could you please confirm that this issue can be closed? Thanks very much!

[2022-08-09 16:09] ghost commented on #38998
Thank you for your great work!
If it is called "center", what would the other options for the layouts be? And what would they look like?

I still favour a clean separation between a **width** and an **alignment** property to be able to do something like the below image shows:

<img width="703" alt="Screenshot 2022-08-09 at 18 06 51" src="https://user-images.githubusercontent.com/97944141/183702853

[2022-08-09 16:10] nekohayo commented on #22822
@talldan Just in case you forgot (since it's been a while), my two comments above some months ago did point towards duration-based symptoms appearance, rather than actions-based slowdowns, i.e. that it has something to do with a memory leak or compounding resources usage. Just leaving the computer in front of Gutenberg's editor overnight and coming back to it in the morning made the problem show i

[2022-08-09 16:37] dcalhoun commented on #27656
@kathrynwp yes, I am able to reproduce this issue on an iPhone 13 mini with the WordPress 20.5 app.

[2022-08-09 16:39] ndiego commented on #43095
I can confirm. See screenshot. The key appears to be the `"layout":{"inherit":true}` on the inner group that is causing the class to get added.

![image](https://user-images.githubusercontent.com/4832319/183711763-5dded507-b25e-4670-b768-d328489da9ea.png)

To replicate, implement Rich's theme.json settings above and use the following block markup:
[code]

[2022-08-09 16:43] RatzeR commented on #35705
Hi @kathrynwp,

maybe may description was a bit unclear. Adding an apostrophe in the backend is possible, but in the frontend no apostrophe is shown. They are converted to a `’` instead of a `'`.

**Steps to reproduce**
- Create a new page
- Add a Cover Block
- Write a text as a headline with an apostrophe, for example `Dem'o`
- Optional: Add a paragraph block below the cover and add the same text

[2022-08-09 16:46] ndiego commented on #43095
@tellthemachines and @andrewserong pinging you both on this. 🙏

[2022-08-09 17:01] kathrynwp commented on #35705
Thanks for the additional information, @RatzeR

I do think it's the expected behaviour that the editor converts straight quotes/apostrophes to curly quotes/apostrophes; the pre-Gutenberg editor also did this.

[2022-08-09 17:18] kathrynwp commented on #27835
I'm still able to replicate with:

WordPress 6.0.1
Gutenberg 13.8.1 active or inactive
No other plugins active

Two notes:

1) I **am** able to paste in the text on its own, but not with the link

2) There's a deprecation warning caused by the test function above:

`Deprecated: Hook allowed_block_types is deprecated since version 5.8.0! Use allowed_block_types_all instead. in /Users/kpmba/Sites/Wo

[2022-08-09 17:31] kathrynwp commented on #27980
Hi @tellthemachines - if this is still an issue in the latest version of WordPress, could you please provide steps to replicate, along with a sample URL for embedding? I don't have a Kindle so I'm not sure what the URL format is supposed to look like. Thanks very much!

[2022-08-09 17:35] kathrynwp commented on #28369
Hi @gziolo - please let me know if you think this should be kept open, since there's been no movement on it in over a year, no further reports, and the original reporter found a workaround. Thanks!

[2022-08-09 17:35] Thelmachido commented on #25059
I wasn't able to reproduce this issue on the latest version of Gutenberg, please view the screenshot below:

<img width="716" alt="Untitled" src="https://user-images.githubusercontent.com/41231764/183715808-56599811-5ea4-4e19-89e6-ee512f176637.png">

WordPress 6.0.1
Gutenberg 13.8.1 active or inactive
No other plugins active

[2022-08-09 17:35] #25059 closed

[2022-08-09 17:36] Thelmachido commented on #33968
The content is still pushed down but on the latest release the toolbar doesn't cover the image as shown below:

<img width="716" alt="Untitled" src="https://user-images.githubusercontent.com/41231764/183715808-56599811-5ea4-4e19-89e6-ee512f176637.png">

WordPress 6.0.1
Gutenberg 13.8.1 active or inactive
No other plugins active

Closing this issue

[2022-08-09 17:36] #33968 closed, assigned to nobody

[2022-08-09 17:36] kathrynwp commented on #28443
@talldan looks like there hasn't been any movement on this in a while, let me know if you think it should be left open or not. Thanks!

[2022-08-09 17:38] gziolo commented on #28369
@fullofcaffeine, do you still encounter the same issue?

@kathrynwp, let's wait for confirmation. There aren't any more reports for the same issue.

[2022-08-09 17:43] EUFELIPEPIMENTEL opened #43097 "5.0"
### Description

up

### Step-by-step reproduction instructions

ok

### Screenshots, screen recording, code snippet

ok

### Environment info

_No response_

### Please confirm that you have searched existing issues in the repo.

Yes

### Please confirm that you have tested with all plugins deactivated except Gutenberg.

Yes

[2022-08-09 17:46] mirka opened #43098 "CustomSelectControl: Long option strings aren't truncated"
Currently the CustomSelectControl just overflows when it can't grow wide enough to fit the option text. We should truncate it with an ellipsis in this case.

## Screenshot

<img width="314" alt="Overflowing CustomSelectControl" src="https://user-images.githubusercontent.com/555336/183722890-0bb6245b-408f-4a80-9fb0-a10579001d5a.png">

[2022-08-09 17:54] #43078 closed, assigned to nobody

[2022-08-09 18:04] kathrynwp commented on #28476
I'm no longer able to replicate this with:

WordPress 6.0.1
Gutenberg 13.8.1 active or inactive
No other plugins active
Twenty Twenty-One 1.6

@ockham I'll go ahead and close this out, but if you are still experiencing the original issue, feel free to add a comment with additional details and I’ll be glad to reopen it.

[2022-08-09 18:22] kathrynwp commented on #28558
I'm still able to replicate this with:

WordPress 6.0.1
Gutenberg 13.8.1 active or inactive
No other plugins active
Twenty Twenty-One 1.6 - child theme (only the above function added to the child)

[2022-08-09 18:30] kathrynwp commented on #28570
I'm still able to replicate this with:

WordPress 6.0.1
Gutenberg 13.8.1 active or inactive
No other plugins active

Twenty Twenty-Two 1.6

Firefox 103.0.1
macOS 12.2.1

![Add_New_Page_‹_Self-hosted_Test_—_WordPress](https://user-images.githubusercontent.com/7662449/183734410-9c21f5f7-1e38-42fa-b512-7d66be1483e4.jpg)

[2022-08-09 18:39] kathrynwp commented on #28648
I'm still able to replicate this with:

WordPress 6.0.1
Gutenberg 13.8.1 active or inactive
No other plugins active

[2022-08-09 18:45] skorasaurus commented on #43097
Hi, there is not enough information in the post to act upon; could you please edit with the relevant information?

[2022-08-09 18:46] kathrynwp commented on #28714
Still able to replicate this with:

WordPress 6.0.1
Gutenberg 13.8.1 active or inactive
No other plugins active

[2022-08-09 18:52] RatzeR commented on #35705
@kathrynwp I just found the file where it is implemented: `wp-includes/formatting.php`

But I do not really understand, whats the reason behind this. Why convert the apostrophe to `&#8217;` instead of `&#39;`?

[2022-08-09 19:52] kathrynwp commented on #35705
@RatzeR I don't know the answer behind that, but you might want to ask in the `#core` channel in [WordPress.org Slack](https://make.wordpress.org/chat/) to see if someone remembers why that is.

[2022-08-09 20:09] kathrynwp commented on #28716
Adding new screenshot since the Droplr link is dead:

![Add_New_Page_‹_Self-hosted_Test_—_WordPress](https://user-images.githubusercontent.com/7662449/183751209-2ea85c19-4195-4efb-9a15-579b9176a453.jpg)

I'm still able to replicate this with:

WordPress 6.0.1
Gutenberg 13.8.1 active or inactive
No other plugins active

[2022-08-09 20:13] kathrynwp commented on #28748
Hi @dcalhoun -  circling back to this issue, is it still occurring with the latest version of Gutenberg and WordPress? Thanks!

[2022-08-09 20:21] bradhogan commented on #39371
@glendaviesnz How will these range controls be applied to tablet and mobile previews?  Right now, one of the biggest hurdles I'm facing in fully committing to Gutenberg only FSE is the issue with mobile spacing.  Simply stacking on mobile isn't enough.  Thanks for your hard work on this ✌️

[2022-08-09 20:27] kathrynwp commented on #28754
@PawanjitAhluwalia I'm no longer able to replicate this bug with:

WordPress 6.0.1
Gutenberg 13.8.1 active or inactive
No other plugins active

I'm going to go ahead and close this out, but if you are still experiencing the original issue, feel free to add a comment with additional details and I’ll be glad to reopen it.

[2022-08-09 20:27] #28754 closed

[2022-08-09 21:13] glendaviesnz commented on #39371
Do you have an issue open outlining the problems with mobile spacing? If not it might be useful to add one and outline the current issues you have so we can see how the new spacing presets setup might be able to mitigate that.

[2022-08-09 21:16] bradhogan commented on #39371
@glendaviesnz I have a ticket open here #40486

[2022-08-09 21:17] glendaviesnz commented on #39371
Thanks, will take a look and get back to you.

[2022-08-09 22:18] dcalhoun commented on #28748
@kathrynwp yes, I was able to reproduce this on an Samsung Galaxy S20 (Android 12) with the WordPress 20.5 app.

[2022-08-09 23:54] pagelab commented on #42227
A shortcut for grouping blocks would be quite relevant. It's one of those actions that you do a lot while composing a page, post or template.

I also don't think it's a good idea to override the default search-related browser shortcuts, as they are already useful in the context of the editor.

Maybe `⌃`  `⌥`  `G`  (Control + Alt/Option + G) is a good alternative, as several other shortcuts use `⌃`

[2022-08-10 00:02] maksymmamontov commented on #18755
Seems to be affecting the popular plugin: Advanced Custom Fields when used as a Gutenberg block builder.

Any update on this issue?

[2022-08-10 00:32] alaczek commented on #24458
Yes, the wave style was coming from CoBlocks. The issue can be closed.

[2022-08-10 00:59] tellthemachines commented on #43095
Thanks for the report! I can reproduce this in Empty theme by adding `"useRootPaddingAwareAlignments": true` to theme.json settings and nesting two blocks which inherit content width inside each other.

I'll have a think about how best to fix this - removing the padding from `.has-global-padding > .has-global-padding` might work, as long as we make sure we're not accidentally overriding any custom

[2022-08-10 01:34] aaronrobertshaw commented on #43085
Thanks for putting this issue together here along with your thoughtful analysis. You make some great points.

Agreed.

Same.  Further to the list of concerns raised, another small con might be given the low convenience factor, we'd get a real mix of approaches using the low-level component or DIY. Could this impede defining a best practice or lead to greater potential for styling inconsistencies?

[2022-08-10 02:50] talldan commented on #24097
Hmm, I don't have much of an opinion on it. I haven't seen any other requests for this, so it's probably ok to close.

What do you think, @bfintal?

[2022-08-10 03:05] glendaviesnz commented on #39371
@bradley2083 with the initial merge of the spacing presets it will be possible to add an array of spacing presets in `theme.json` that have clamp based values, eg.

[code]

Choosing one of these presets in the UI will then apply them to the block as CSS vars:
<img width="871" alt="Screen Shot 2022-08-10 at 2 55 23 PM" src="https://user-images.githubusercontent.com/3629020/183800851-2692ed73-ab51-4

[2022-08-10 03:08] talldan commented on #27642
From @settenop's comment it sounds like it could be a core REST API issue, though it's something I'm familiar with. I couldn't find any associated core trac tickets.

@spacedmonkey - would you be able to confirm if this is something that requires a trac ticket, or is it a case of Gutenberg doing it wrong?

[2022-08-10 03:20] talldan commented on #28443
Seems to no longer be an issue. I found an example here:
https://github.com/WordPress/gutenberg/blob/trunk/packages/e2e-test-utils/README.md#deletealltemplates

[2022-08-10 03:20] #28443 closed

[2022-08-10 03:25] #41208 closed, assigned to carolinan

[2022-08-10 04:03] XVII opened #43106 "Inline images & text in a list can't be placed at top level"
### Description

When trying to un-indent an inline image, it takes the entire dot point back from the second level. It's not possible to get the inline image to sit at the same level as "second paragraph"

This also applies to text -- i.e. if I wanted a paragraph below the second level dot points, but before "third item".

### Step-by-step reproduction instructions

See image for example list blo

[2022-08-10 05:20] tellthemachines commented on #43095
Hmm, seems like the extra padding we're seeing in those examples is actually coming from a rule that targets blocks with background-color, and not from the root padding styles themselves:

<img width="1127" alt="Screen Shot 2022-08-10 at 2 53 10 pm" src="https://user-images.githubusercontent.com/8096000/183818732-dffe1b0c-1983-44c0-b0d3-f69d591ca1c1.png">

What's happening is that the current TT2

[2022-08-10 05:27] t-hamano commented on #27720
I think the problem originally mentioned in this issue should have been resolved in #29510.

I would also like to close this issue as we have been unable to reproduce it on YouTube and consider this to be a theme or custom CSS issue.

If anyone finds any other problems with this issue, please don't worry about it and re-open it.

[2022-08-10 05:27] #27720 closed

[2022-08-10 05:54] aaronrobertshaw commented on #38772
I can confirm this issue has been resolved.

Borders apply cleanly to the Code block in both the post & site editors as well as show correctly on the frontend.

<img width="781" alt="Screen Shot 2022-08-10 at 3 49 53 pm" src="https://user-images.githubusercontent.com/60436221/183825749-5efdde91-6e4e-4f66-b9fc-2c2ba8ba6c6c.png">

I'll close this issue however please feel free to re-open it if you d

[2022-08-10 05:54] #38772 closed, assigned to nobody

[2022-08-10 06:03] sophiegyo commented on #40706
The columns are designated as flexbox in the front-end CSS, I would love to see an order option for each column in the editor, specifically for smaller viewports. It'd be especially useful for layouts where there's a "left sidebar".

[2022-08-10 06:19] hagege opened #43108 "FSE: Navigation with sticky header as option"
## What problem does this address?
For most users it is difficult and also not in the sense of FSE, if you create a sticky header with CSS e.g. at the navigation at a block theme like TT2. Sticky header we already use frequently on some WordPress instances we created as development environment.
See also the survey by Brian Gardner here: https://twitter.com/bgardner/status/1555990916812398592

![st

[2022-08-10 06:22] gaambo commented on #28369
Not OP, but I encountered the issue a few times, but could track it down to a problem in WSL (with Ubuntu as well) - happens in other projects with large npm tasks as well.

[2022-08-10 06:52] tellthemachines commented on #42978
I'm afraid that's the expected behaviour 😅 . If we support the shorthand value, we have to also provide support for scenarios like `padding: 10px 20px 15px`, and, at least for the initial implementation, we decided to skip that as the logic to support those values properly was getting very complicated.

Other global styles settings don't really support them well either. We have #40132 to track tha

[2022-08-10 06:53] aaronrobertshaw commented on #39123
This issue relates to the old border controls, which were updated in [#37770](https://github.com/WordPress/gutenberg/pull/37770). That PR also [added additional default styles](https://github.com/WordPress/gutenberg/pull/37770/files#diff-96306a997c6ce5c61d0a2e5256ac17b8639613f598c02f5400a37a84f9ccd3ef) applying a `solid` border style to those added via [#33743](https://github.com/WordPress/gutenbe

[2022-08-10 06:53] #39123 closed, assigned to nobody

[2022-08-10 07:06] tellthemachines opened #43110 "Block background color styles: an overview"
### Description

When we add a background color to a block, padding also gets added to it. This comes from the base styles for the blocks themselves (so the `style.scss` file for each block in the block library).

There are a bunch of issues already open about this behaviour:

* https://github.com/WordPress/gutenberg/issues/30725
* https://github.com/WordPress/gutenberg/issues/36586
* https://gith

[2022-08-10 07:08] talldan commented on #43108
There's some discussion already about fixed/sticky headers/footers/navigation in https://github.com/WordPress/gutenberg/issues/30121.

I'll close this as a duplicate.

[2022-08-10 07:08] #43108 closed, assigned to nobody

[2022-08-10 07:20] dingo-d commented on #35852
For me, they do load now, but something is broken in how they are rendered, so I need to check out more about what happened here...

[2022-08-10 08:00] aaronrobertshaw commented on #35151
This issue has been resolved via https://github.com/WordPress/gutenberg/pull/31366, which leverages new [feature level selectors ](https://github.com/WordPress/gutenberg/pull/42087)for block supports to target the inner img. This meant the problematic style wasn't required anymore and was [subsequently removed](https://github.com/WordPress/gutenberg/pull/31366/files#diff-b9209e44c092b9376aa2b9afbb

[2022-08-10 08:00] #35151 closed, assigned to nobody

[2022-08-10 08:49] #42097 closed, assigned to scruffian

[2022-08-10 08:59] talldan commented on #43106
@ShadowXVII Isn't that because you've added another bullet point after the second paragraph?

The image is part of that 'second level, first item' bullet point, just as 'second paragraph' is part of the 'second item' bullet point. If you want to unindent the image it'd have to have its own bullet point.

I don't think this is unusual, this is how lists work in my experience. For example, the exact

[2022-08-10 09:14] geriux commented on #38407
Updated the parent post with:

### 🛠️ Recently fixed or improved
++ [Set tintColor for ActionSheetIOS](https://github.com/WordPress/gutenberg/pull/42996)
++ [Fix dynamic React Native version](https://github.com/WordPress/gutenberg/pull/43058)

[2022-08-10 09:15] mirka commented on #43085
I like this. There are multiple times where I've reached for `Flex` when I could've just used `HStack/VStack`, because my brain just instinctively thought "flex" 🙈 I don't think I've ever actually needed `Flex`.

In this vein, as I work on #39358 I'm wondering if we should have a high-level layout component specifically for sidebar controls. It would be nice to have an easy way to maintain layout

[2022-08-10 09:41] Thelmachido commented on #29077
On a test site,  I switched to "Slow 3G" throttling:

1. Added already created tags
2. Created new tags

I wasn't able to reproduce the bug, as shown in the video below:

https://user-images.githubusercontent.com/41231764/183868036-3c5f3786-8209-4358-97f5-37423c7012af.mov

WordPress 6.0.1

Gutenberg 13.8.1

No other plugins active

Closing this issue

[2022-08-10 09:41] #29077 closed

[2022-08-10 10:01] Thelmachido commented on #29351
I wasn't able to reproduce this as well, vertically alignment takes effect immediately as shown in the video below:

https://user-images.githubusercontent.com/41231764/183874033-0714d370-10de-4cf8-8842-22abaf767229.mov

WordPress 6.0.1

Gutenberg 13.8.1 active

No other plugins active

Closing this issue, for now

[2022-08-10 10:01] #29351 closed

[2022-08-10 10:07] Thelmachido commented on #29407
@jeremyfelt is it possible that the fix for [#29921](https://github.com/WordPress/gutenberg/issues/29921) also resolved this issue?

If that is the case we might need to close this issue.

[2022-08-10 10:38] Thelmachido commented on #29411
I couldn't reproduce the above bug as shown in the video below. The Classic block doesn't overlap the next block's toolbar:

https://user-images.githubusercontent.com/41231764/183881630-daf06a10-5d64-4ecc-8858-15d3ef53fa91.mov

WordPress 6.0.1
Gutenberg 13.8.1 active or inactive
No other plugins active

Closing this issue

[2022-08-10 10:38] #29411 closed

[2022-08-10 10:59] Thelmachido commented on #29429
Hi @mcsf !

There hasn’t been any movement on this particular issue in a year, if this was related to [#29374](https://github.com/WordPress/gutenberg/issues/29374) we can close it.
In the meantime, I've marked it as stale. Let me know if you think it should be kept open. Thanks!

[2022-08-10 11:07] ciampo commented on #43085
Thank you for your replies, @aaronrobertshaw  and @mirka ! It looks like we may be converging towards this proposed solution:

I'll try to answer to the remaining questions that you both asked.

@aaronrobertshaw:

I believe that's a risk that is there with or without our low-level components, unfortunately — and it's also something that would happen outside of the components package. But if we bel

[2022-08-10 11:12] hagege commented on #43108
sorry - I must have overlooked that, although I was looking for it.

[2022-08-10 11:43] EmSixTeen commented on #15042
Can't believe this was actually added. So redundant and nothing but a pain for styling.

[2022-08-10 12:12] XVII commented on #43106
@talldan fair enough. I think my frustrations lie with how fiddly it is is more so the issue. Ugh even that bloody width box! :)

Let's close this and I'll reconsider my feedback.

[2022-08-10 12:12] #43106 closed, assigned to nobody

[2022-08-10 12:14] maksymmamontov commented on #38731
Can confirm that Undo is inconsistent not only Advanced Custom Fields but in all the input/textarea fields in native Gutenberg Editor.

[2022-08-10 12:42] donnapep commented on #42548
I have a possible use case that might benefit from something like this.

I'm creating a block that can be used standalone on a custom post type, and also as an inner block of another block that is only available on pages. What I'd like to be able to do is display the block in the inserter of the custom post type, but **not** display it in the inserter of a page. Removing it from the block inserter

[2022-08-10 12:52] #42999 closed, assigned to ndiego

[2022-08-10 12:52] #43041 closed, assigned to ndiego

[2022-08-10 12:58] Thelmachido commented on #29438
I can still reproduce this WordPress 6.0.1  + Gutenberg 13.8.1, adding the query loop to a page template with the option to "Inherit query from URL" enabled still returns different results.

Backend:
<img width="1388" alt="Untitled 3" src="https://user-images.githubusercontent.com/41231764/183905181-31d19626-0418-46d4-89d0-9fdadce7890f.png">

Frontend:

<img width="1260" alt="Untitled 3" src="http

[2022-08-10 13:05] draganescu commented on #42563
I have mistakenly rebased https://github.com/WordPress/gutenberg/pull/42735 on trunk and getting it back is a pain. If eventually that goes in I'll figure out the authors thing as the PR is branched from this one originally.

[2022-08-10 13:08] Thelmachido commented on #29460
I couldn't replicate this issue, the site editor reduces the site logo to fit the header as shown below:

https://user-images.githubusercontent.com/41231764/183908950-102696ac-9a5b-4e56-956a-dc1f75f1093f.mov

WordPress 6.0.1

Gutenberg 13.8.1

Closing this issue

[2022-08-10 13:08] #29460 closed

[2022-08-10 13:39] t-hamano commented on #36237
~~I tested this issue using the language direction switcher and [RTL Tester](https://wordpress.org/plugins/rtl-tester/) on Storybook and was indeed able to reproduce it.~~

*Note: In my environment, `isRTL` function did not respond correctly when I changed to the RTL via RTL Tester.
Therefore, it may be necessary to actually change the WordPress site language and try it on the cover block instead

[2022-08-10 13:42] hellofromtonya opened #43121 "[Style Engine] PHP Notice: Undefined index: 'individual'"
### Description

A PHP notice "Undefined index: individual" is being thrown in `WP_Style_Engine::get_css_declarations()` https://github.com/WordPress/gutenberg/blob/trunk/packages/style-engine/class-wp-style-engine.php#L418.

## What is happening?

`WP_Style_Engine::parse_block_styles()` invokes  `WP_Style_Engine::get_css_declarations()` passing the style definition of the group style from `static

[2022-08-10 13:45] hellofromtonya commented on #43121
I first thought this kind of defensive guarding:

[code]

But this causes unnecessarily processing time as none of the loop iterations will process. So instead, I'm thinking of bailing out early like this:

[code]

[2022-08-10 14:12] #28859 closed

[2022-08-10 14:18] ockham commented on #41324
Thanks! Added to the (newly created) WP 6.1 Editor Tasks board 👍

[2022-08-10 14:18] paulopmt1 commented on #28859
Thank you for reviewing and merging it, @stokesman and @Mamaduka!

[2022-08-10 14:21] kathrynwp commented on #28369
Thanks, @gaambo – so just to be clear, this issue not specific to Gutenberg, is that right?

[2022-08-10 14:32] gturpin-dev commented on #40557
Hi,
Obviously, it can't be by default the palette defined in parent theme be merged with the one defined in the child because in this case there is no way to remove on color that we don't want from the parent.

The same issue happens with the font sizes and probably other array variables.

I suggest something like : every array variables in theme.json can have an additionnal setting like "mergeWit

[2022-08-10 14:39] aquaspy commented on #22822
Hmmm, didn't though about a memory leak, I can leave a blank post up on night and check ram usage to see.

I can also record a video I guess.

Well, I thought Gutenberg lag was related with this one https://github.com/WordPress/gutenberg/issues/23427

But perhaps it's really a memory leak that can be addressed later

[2022-08-10 14:48] Thelmachido commented on #29818
I wasn't able to reproduce this on the latest version of Gutenberg, the custom colors I created in Site Editor `Red Test` + `Blue Test` are displayed in the editor.

https://user-images.githubusercontent.com/41231764/183931429-6b16790c-e676-4dbc-97f7-a227ab24d9e9.mov

WordPress 6.0.1
Gutenberg 13.8.1 active

I'm going to close this issue

[2022-08-10 14:48] #29818 closed

[2022-08-10 15:03] Thelmachido commented on #30644
I wasn't able to reproduce this on the latest version of Gutenberg, the custom colors I created in Site Editor `Red Test` + `Blue Test` are displayed in the editor.

https://user-images.githubusercontent.com/41231764/183931429-6b16790c-e676-4dbc-97f7-a227ab24d9e9.mov

However, I don't see the option to default color names.

WordPress 6.0.1
Gutenberg 13.8.1 active

[2022-08-10 15:11] gaambo commented on #28369
Yes, at least in my case, that's true!

[2022-08-10 15:17] Mamaduka commented on #37070
@jameskoster, @jasmussen, do you know if we can remove these styles after recent Spinner component refactoring?

[2022-08-10 15:24] renata-franco opened #43125 "Gutenberg: long HTML anchors make the list view take a lot of space"
### Description

When adding long HTML anchors to a block in the Advanced settings, the list view in the editor takes more and more space on the screen. Originally reported here: https://github.com/Automattic/wp-calypso/issues/66300

### Step-by-step reproduction instructions

1. Add a block
2. Open the list view
3. Go to block settings > Advanced > HTML anchor
4. Add a long anchor text
5. Notice

[2022-08-10 15:27] #30644 closed, assigned to nobody

[2022-08-10 15:37] t-hamano commented on #36237
@shadigaafar
Thank you for submitting the issue.
I have submitted #43126 to resolve this issue.

[2022-08-10 15:37] skorasaurus commented on #20606
Note, For the quote block, this was not resolved in https://github.com/WordPress/gutenberg/pull/25892 (The Quote Block refactor that was introduced in Gutenberg 13.8; the quote block still uses cite.

[2022-08-10 15:44] aaronjbaptiste opened #43127 "Blue inserter line does not appear before first block or after last block"
### Description

When trying to drag a block before the first or last in a list no blue inserter line is visible, even though the drop/move is applied.

This applies to both the root container and other containers such as horizontal orientation column layouts.

This was previously reported here #32880 and I believe fixed in #33024, but has possible regressed.

It's particularly troublesome on Gute

[2022-08-10 16:09] skorasaurus commented on #33678
Been wondering about this for a while, I thought I was doing something wrong because I couldn't figure out how to do that; relatively frustrating and still present in Gutenberg 13.8.1

[2022-08-10 16:12] ricjcs commented on #40676
Similar behavior with indentation.

[classic-block-indentation.webm](https://user-images.githubusercontent.com/11923491/183959702-9aa237f4-f863-418b-bd1d-9401e9b2742d.webm)

[2022-08-10 16:17] skorasaurus commented on #36687
Thanks for all of the reports; closing since all of the reporters in the issue are no longer experiencing it.

[2022-08-10 16:25] skorasaurus commented on #39292
No longer able to reproduce in WP 6, Gutenberg 13.

[2022-08-10 16:25] #39292 closed, assigned to nobody

[2022-08-10 17:31] j-maas commented on #35705
This is likely because people tend to write single quotations 'like this', since on the keyboard the real quoation marks are missing. The algorithm probably just looks whether the simple mark is at the start or the end of a word and converts it to the starting or ending quotation mark.

[2022-08-10 17:33] johnstonphilip opened #43128 "Schema for theme.json uses Gutenberg version for Core"
### Description

The schema at https://schemas.wp.org/trunk/theme.json seems to be redirecting to Gutenberg's schema.

That means there are things in the "core" schema that aren't actually released yet, like `fluid` currently, for example.

These 2 should probably be separate so that beta/unreleased features in gutenberg are not shown as being available/stable when they are not.

### Step-by-step

[2022-08-10 17:45] danieliser opened #43129 "[Components] Tooltip throws error when child is a component"
### Description

When using the `<Tooltip>` component with an `<Icon>` as its only child is rendered it throws an error for passing ref to the component child.

Wrapping the `<Icon>` with a simple `<span>` resolves the error.

Even with the error it still renders properly and continue working from what I can tell.

### Step-by-step reproduction instructions

	<Tooltip text="Some Text">
		<Icon

[2022-08-10 17:45] johnstonphilip commented on #43128
Am I incorrect in thinking that "trunk" does not include Gutenberg?

[2022-08-10 17:48] Mamaduka commented on #43128
The `trunk` will always point to the latest version of the schema, including new features that are only shipped with the Gutenberg plugin.

To target specific WP versions, you can use the following URLs:

* https://schemas.wp.org/wp/5.9/theme.json
* https://schemas.wp.org/wp/6.0/theme.json

Related issue: #37974.

[2022-08-10 18:04] johnstonphilip commented on #43128
@Mamaduka Cool. #37974 Covers my concerns here. Closing.

[2022-08-10 18:04] #43128 closed, assigned to nobody

[2022-08-10 18:26] Mamaduka commented on #43125
I think this is a regression after #41855. Probably this line:

https://github.com/WordPress/gutenberg/blob/c3f19c4a6cc16dce050855b49cea1421bbb46e3d/packages/block-editor/src/components/list-view/style.scss#L320

cc @andrewserong

[2022-08-10 18:33] coreyworrell opened #43130 "Site Logo block options do not appear if SVG is selected (Firefox)"
### Description

In Firefox, if you select an SVG image for the Site Logo block, the Settings panel disappears. You cannot set the image width, link to home, etc.

### Step-by-step reproduction instructions

1. Insert Site Logo block
2. Upload/select an .svg file

### Screenshots, screen recording, code snippet

JPG selected:

![image](https://user-images.githubusercontent.com/162595/183989390-b3c

[2022-08-10 19:17] eric-michel commented on #42698
I'm experimenting with this feature now, and without looking at the `theme.json` schema tried adding `fluid: false` to my smaller font sizes in the hopes that would cause those fonts to remain static in size. I think this would be a great addition as it seems very intuitive.

I was able to solve the issue by setting `min` and `max` to the same size for now.

edit: I'm way behind, clearly 😁 https:/

[2022-08-10 20:21] kathrynwp commented on #16675
Hi @swissspidy, I'm just circling back to this issue to check whether it's still valid. Let me know if you'd like it to be kept open or not. Thanks!

[2022-08-10 22:02] #43121 closed, assigned to hellofromtonya

[2022-08-10 22:14] ryelle opened #43132 "WP Scripts: Syntax error when running Jest"
### Description

After updating packages, I'm getting a syntax error in my project when running `wp-scripts test-unit-js`.

### Step-by-step reproduction instructions

Run `wp-scripts test-unit-js` on a project that, somewhere along the way, imports the `is-plain-obj` package.

[code]

I've fixed it for now by creating a local `jest.config.js` file with the following. I copied `transformIgnorePatt

[2022-08-10 22:29] swissspidy commented on #16675
Still valid but should be ok to close as maybelater

[2022-08-10 22:29] #16675 closed

[2022-08-10 23:07] ryelle commented on #43132
Well, my fix worked locally but isn't working in github actions, so [you can see the broken tests here](https://github.com/WordPress/pattern-directory/runs/7777236682?check_suite_focus=true).

[2022-08-10 23:42] andrewserong commented on #43125
Oh, thanks @Mamaduka, I'll take a closer look.

[2022-08-11 01:06] annezazu commented on #42943
@gziolo want to flag this as consideration for 6.0.2. @carlomanf curious to hear more about what you were/are seeing with 5.9?

[2022-08-11 01:07] talldan commented on #43127
Thanks for reporting. This has already been reported in #32880, so I'll close this one as a duplicate.

[2022-08-11 01:07] #43127 closed, assigned to nobody

[2022-08-11 01:09] talldan commented on #43127
Just read this. I think it's fine to still use #32880 and leave a comment on there mentioning it has regressed.

[2022-08-11 01:11] talldan commented on #32880
As mentioned on https://github.com/WordPress/gutenberg/issues/43127, it looks like the fix in https://github.com/WordPress/gutenberg/pull/33024 has regressed, the indicator no longer shows above the first block.

edit: Now fixed in #43135.

[2022-08-11 02:14] andrewserong commented on #43125
I've opened up a potential fix in #43134

[2022-08-11 02:16] tellthemachines commented on #38998
Good question @sascha-bleech . Currently, apart from 'default', we also have 'flex', which has horizontal and vertical variations, and a bunch of alignment options too. In the future we may have other layouts such as 'grid', and perhaps something that allows for absolute or fixed positions.

What we're trying to do with 'center' is split out the content width logic that currently is part of 'defau

[2022-08-11 03:01] carolinan commented on #40240
Are there still any actionable points here to consider for 6.1?

[2022-08-11 03:02] carlomanf commented on #42943
@annezazu According to https://github.com/WordPress/gutenberg/issues/38575#issuecomment-1032366385 the site icon failed to show up in core version 5.9 if the gutenberg plugin was inactive, and only showed up if the gutenberg plugin was active. Not sure of the behaviour pre-5.9.

[2022-08-11 03:49] carolinan commented on #42105
[Link to discussion on WordPress Slack (account needed).](https://wordpress.slack.com/archives/C02QB2JS7/p1657213349626469)

[2022-08-11 04:38] ZebulanStanphill commented on #38998
Yeah, "constrain" or (preferably) "constrained" sounds like a much more descriptive title to me... at least after you realize what it means, anyway. There's certainly a lot less room for confusion in the long-run than a name like "column".

[2022-08-11 05:10] t-hamano opened #43136 "Keycodes: Symbols are removed in the shortcut modal"
### Description

In the keyboard shortcut modal, symbols (e.g. backquote, comma ) aren't displayed and only empty kbd tags are output.

### Step-by-step reproduction instructions

- Open the post / site /customize widget editor.
- From the Options menu, open the Keyboard Shortcuts menu.
- Confirm that the area where the symbols would normally appear is empty.

### Screenshots, screen recording, co

[2022-08-11 05:13] t-hamano commented on #43136
I think this issue is due to the fact that in #42465, the process of capitalizing characters was replaced by another library (`lodash.capitalize` to `change-case.capitalCase`).

https://github.com/WordPress/gutenberg/pull/42465/files#diff-ca8a84f511d00c21196c780548889308b338178856e80534ee5b72d0ca9938a7R236

In `change-case`, the symbols are removed as follows:

![changeCase](https://user-images.gi

[2022-08-11 06:21] #43125 closed, assigned to andrewserong

[2022-08-11 06:37] ghost commented on #38998
The other options/variations all sound very CSS like: flex, grid, fixed, absolute...
What about calling it "block" to keep with the CSS nomenclature? Or maybe "theme" as it seems to be the default layout which is defined in the theme?

"Constrain" sounds too negative/constrained to me ;-)

[2022-08-11 06:39] talldan commented on #43127
Issue should be fixed as of #43135

[2022-08-11 07:56] ntsekouras commented on #32861
@chandrapatel do you think we can close this one in favor of https://github.com/WordPress/gutenberg/issues/37407? The only template type that is missing right now is the `archive-$postType` and has a PR already.

[2022-08-11 07:57] bph commented on #42961
Thanks @ramonjd for message about the [Draft Dev Note ready for review](https://wordpress.slack.com/archives/C02RP4WU5/p1660193856796029) 👏  🙌

[2022-08-11 08:05] chandrapatel commented on #32861
@ntsekouras Yes, we can close this issue. I'm closing it. Thanks.

[2022-08-11 08:06] #32861 closed, assigned to nobody

[2022-08-11 08:06] tellthemachines opened #43140 "Add Layout support to Cover block"
## What problem does this address?

In block themes, where each container block must specify its content width, Cover block has no settings to do so. This causes issues such as #37036.

An initial attempt to add Layout support to Cover (#37662) ran into trouble because of the complex markup structure of the block. The problem is similar to the Navigation block, which was addressed with a custom so

[2022-08-11 08:46] jameskoster commented on #37070
Quite possibly, yes. It doesn't look like these particular styles are used:

<img width="429" alt="Screenshot 2022-08-11 at 09 46 08" src="https://user-images.githubusercontent.com/846565/184096923-2e7eb0a6-bb51-4abc-9509-b0e7ff915cd7.png">

[2022-08-11 09:31] scruffian commented on #30982
Reopening so we don't forget about the text aspect of this.

[2022-08-11 10:24] jameskoster opened #43142 "Global Styles: Adapt the canvas (or provide view options) which are better tailored to specific activities"
The video in https://make.wordpress.org/design/2022/08/10/twenty-twenty-three-default-theme-project-kickoff/ really demonstrates how useful a mosaic view of templates can be when working with certain global styles features:

https://user-images.githubusercontent.com/846565/184112556-b85e099f-e1ca-4cc9-8594-206714dcd24e.mp4

Displaying (for example) singular and archive templates gives a much bette

[2022-08-11 10:33] hagege commented on #42141
seems to be solved in current version of Gutenberg
![beitragsbild_verwenden_cover](https://user-images.githubusercontent.com/27292550/184115187-35eb8a0e-956b-43a4-bc34-393d98777f2d.jpg)

[2022-08-11 10:33] #42141 closed, assigned to nobody

[2022-08-11 10:40] jasmussen commented on #41142
I've taken a stab at this one in #43143, that branch currently looks like this:

![184115782-a46b70e0-5f76-4235-9acc-a4d744d107c4](https://user-images.githubusercontent.com/1204802/184116164-e266cc9b-898a-46ce-bbae-7907ef21a9a1.gif)

Missing from that PR are some of the features from #42847, which allows inheriting border and radius. Width/height should already be inherited, but those need to be s

[2022-08-11 11:44] samxmunoz opened #43144 "Toggling "Open in a New Tab" changes URL back to previous link"
### Description

**Open in a new tab** is not working properly for links (tested with inline links & buttons).

You should be able to toggle **open in a new tab** on and off without it changing the destination URL.

### Step-by-step reproduction instructions

1. Set a destination URL for a link.
2. Update the destination URL.
3. Toggle on "open in a new tab"

_The URL will revert back to the origi

[2022-08-11 11:53] #40388 closed, assigned to carolinan

[2022-08-11 12:39] #43136 closed, assigned to t-hamano

[2022-08-11 12:43] hassaanelgarem opened #43146 "[List Block V2] Text color inconsistencies in dark mode"
## Description
While in dark mode, the bullet/number is not white causing them to not be visible. And changing the indentation of an inner list block causes the text color to change.

## Step-by-step reproduction instructions

1. Enable List Block V2
2. Open editor in the WordPress app
3. Add a new list block
4. Create the following list:
    - One
    - Two
        - Three
    - Four
5. Switch to

[2022-08-11 13:05] Mamaduka commented on #43144
Hi, @samxmunoz

Do you get the same behavior with and without the Gutenberg plugin active?

[2022-08-11 13:30] geriux opened #43149 "FastImage issue on Android"
## Description
Initially, it was reported that blocks using FastImage (Image and Gallery block) were disappearing when changing the orientation of the device. We added a [workaround](https://github.com/WordPress/gutenberg/pull/42900) for this but there might be [cases](https://github.com/wordpress-mobile/WordPress-Android/pull/16968#issuecomment-1209658635) when the images become invisible when so

[2022-08-11 13:36] geriux commented on #43146
Hey @derekblank 👋 could you take a look at this issue?

This is only affecting standard themes, for block-based themes it works correctly as we use the theme's colors and not the default light/dark ones.

We missed adding a default color for dark mode 😅

Thanks!

[2022-08-11 14:06] Addison-Stavlo commented on #27165
Oh wow, this is an old one! IF I am remembering the context correctly:

[This](https://github.com/WordPress/gutenberg/blob/59a3b775646f02ac610d6d74424cac36ebbd7cb5/packages/edit-site/src/components/navigate-to-link/index.js) `NavigateToLink` component was set up so that when a selects a link within the site editor (like a page in their navigation menu), it would provide an "Edit Page Template" opt

[2022-08-11 14:26] MaggieCabrera opened #43154 "Theme.json: dynamic references, avoid recursive references"
### Description

[Pointed out](https://github.com/WordPress/gutenberg/pull/42976#issuecomment-1209582853) in #42976, the editor crashes when there's a recursive reference in place.

### Step-by-step reproduction instructions

In theme.json add:

[code]

### Screenshots, screen recording, code snippet

_No response_

### Environment info

_No response_

### Please confirm that you have searched exi

[2022-08-11 14:30] spencerfinnell commented on #27847
I agree with this as well, at least for pages.

This is done automatically already in the specific scenario of using `templates/front-page.html` that includes the `core/post-content` block. If you click "Edit Site" the `templates/front-page.html` template is loaded _as well as_ the full content of the designated static home page.

Editing the template itself, or the page content is clearly noted w

[2022-08-11 14:43] #42890 closed, assigned to MaggieCabrera

[2022-08-11 15:06] spencerfinnell commented on #27847
Here is a simple plugin to switch to template editing mode automatically when editing a page, but also introduces some wonkiness when toggling modes. It helps get a feel for what automatically showing both template and content might like though:

[code]

[2022-08-11 15:25] Resolution-Sam commented on #17358
Does anyone know if this has had any updates? Can you still not access a parent block using  `add_filter('render_block')` It would be useful to access the parent class name etc... while editing the markup of nested blocks.

[2022-08-11 15:28] AlchemyUnited opened #43158 "Group Block gives no visual indication of HTML Element selected"
### Description

When using the Group Block, there's nothing in the UI to quickly and easily understand which HTML Element type (e.g., div, section, article, etc.) is select from the Advance section (in the right sidebar) of the Block settings.

- The List View gives no indication of the HTML Element Type

- And best I can tell, the block itself (i.e., markup) in the editor doesn't have anything (

[2022-08-11 15:30] tradesouthwest commented on #40316
Gutenberg should not be _anything_ core, let alone "`__experimental`." Gutenberg should not ship with core and should stand on its own; like WooCommerce or any Page builder plugin. Leave "__experimental" to developers, not to the mercy of the community at-large who are having enough trouble trying to understand why the APIs are using a third and a fourth programming language to parse any data of a

[2022-08-11 15:47] Resolution-Sam opened #43159 "Add support to access parent block data from child blocks"
## What problem does this address?
I need to access data from a parent block so it can be shared with the nested child blocks. E.g. a class name, data attribute etc...

One use case I stumbled across is building an accordion with native Gutenberg blocks. For accessibility reasons, I need a shared data attribute ID between my core/heading and core/paragraph block. I can generate the ID on the fly b

[2022-08-11 16:04] kathrynwp commented on #27165
@Addison-Stavlo Ah, thanks for those steps. I just tested and see what you mean, and there is no "edit page template" option showing.

@talldan Would you happen know if this is a feature that's actually meant to be working, since as Addison points out, it's still referenced in the code? Thanks!

[2022-08-11 16:27] jameskoster commented on #36951
With https://github.com/WordPress/gutenberg/pull/43151 around the corner I figured I'd circle back to this with one eye on template parts as well. Here's a potential next step:

<img width="1694" alt="Screenshot 2022-08-15 at 09 50 46" src="https://user-images.githubusercontent.com/846565/184605593-0f8a6cf5-e0b2-4188-b629-a7029a5434c8.png">

[2022-08-11 16:32] kathrynwp commented on #29948
Hi @gwwar, I'm circling back to this issue and wondering if it's still valid. Could you please let me know when you have a moment, thank you!

I started testing, but am not able to replicate at this step:

Clicking my "enter" key at that step did create an empty menu, as expected.

Tested with:

WordPress 6.0.1
Gutenberg 13.8.1 active or inactive
No other plugins active
Twenty Twenty-Two 1.2

[2022-08-11 16:37] kathrynwp commented on #29999
Hi @glendaviesnz Circling back to this issue, could you please let me know if it's still on the radar or more of a "maybe later" situation? Thanks very much!

[2022-08-11 17:00] Mamaduka commented on #43159
Hi, @Resolution-Sam

I would recommend checking the developer documentation about Block Context API - https://developer.wordpress.org/block-editor/reference-guides/block-api/block-context/.

[2022-08-11 17:54] cuemarie opened #43161 "Permalinks displaying post IDs when in drafts and scheduled."
### Description

Permalinks are displaying the plain post ID instead of the edited URL in drafts and when scheduled to be published at a later date.

Is there a way to display the URL without clicking on "URL" to preview it?

### Step-by-step reproduction instructions

1. Create a new post.
2. Add a new title and then save it in draft, or schedule to publish at a later date.
3. Click on the URL to

[2022-08-11 18:20] annezazu commented on #42943
Ah thank you! This should make it into 6.0.2 so hopefully we can get this fixed once and for all :)

[2022-08-11 18:29] cuemarie opened #43163 "[Post Excerpts]: Add support to show font styling used in the post's content"
## What problem does this address?

At the moment, font styles such as `bold`, `italics`, `strike-through`, `underline`, etc, do not appear when the post's excerpt is displayed on another page.

If the post's font styles are important for clarity, then there's no option but to display the post's full content in order to see those styles.

**Example**

![Markup on 2022-08-11 at 11:28:52](https://us

[2022-08-11 18:45] bengreeley commented on #41168
Created a PR that adds the missing documentation at https://github.com/WordPress/gutenberg/pull/43164

[2022-08-11 18:47] kathrynwp commented on #29487
Hi @pbking just circling back, is this still an issue in the latest version of WordPress and/or Gutenberg? (I started to try to replicate, but am not finding `settings.defaults.color.palette` in theme.json in Twenty Twenty-Two, so it's very likely that Global Styles works different now and the testing steps would need updating.) Thanks in advance for having another look to see if this issue is sti

[2022-08-11 18:48] kathrynwp commented on #30001
Hi @glendaviesnz I'm just checking to see whether this issue is still applicable and valid now that the refactored gallery is in core.

I only been able to replicate intermittently, but not only with drag-and-dropped gallery images, also with images selected from the Media Library... so I'm not 100% sure I'm testing correctly. Let me know what you think!

WordPress 6.0.1
Gutenberg 13.8.1 active or

[2022-08-11 18:50] #38720 closed, assigned to mirka

[2022-08-11 18:59] kathrynwp commented on #28781
Hi @aristath - if I'm  understanding the issue correctly, I haven't been able to replicate this in the current version of WordPress. I'm able to edit the gradient in the same way on a Group block both in the Site Editor and Page Editor.

I'm going to go ahead and close this out, but if you are still experiencing the original issue, feel free to add a comment with additional details on how to repli

[2022-08-11 18:59] #28781 closed

[2022-08-11 19:12] kathrynwp commented on #30256
I'm still able to replicate this with:

WordPress 6.0.1
Gutenberg 13.8.1 active or inactive
No other plugins active
Twenty Twenty-Two 1.2

[2022-08-11 19:22] kathrynwp commented on #30363
I can still replicate this with:

WordPress 6.0.1
Gutenberg 13.8.1 active or inactive
No other plugins active
Twenty Twenty-Two 1.2

@glendaviesnz Is changing this behaviour still on the radar, or should this be closed as a "maybe later"? Thanks!

[2022-08-11 19:51] Generosus commented on #38299
Good Day!

Thank you, everyone. I read all of your comments.

I agree. The added WP 5.9 global inline CSS and SVG duotone code (i.e., files) should be deleted from WP Core and, instead, added to WP's "Twenty-Something" theme.

Meanwhile, please know that we're using the code snippet provide below to remove the added code. It works well for us. However, the second parameter, `remove_action( 'wp_bod

[2022-08-11 21:22] kathrynwp commented on #30389
Hi @SeanMcMillan - belated thank you for the issue report, and for the test plugin!

I'm trying to see if this can still be replicated.

I skipped test steps 1-3 and started by installing your plugin. I don't think I'm able to replicate, but I'd love for you to confirm if you have a moment to take a look. Thank you!

**Tested with:**

WordPress 6.0.1
Testing plugin active
No other plugins active
T

[2022-08-11 21:25] kathrynwp commented on #30457
Hi @davidcalhoun or @SiobhyB, I'm just circling back to this issue to check whether it's still valid. Let me know if you'd like it to be kept open or not. Thanks!

[2022-08-11 21:40] kathrynwp commented on #30516
I'm still able to replicate this with:

WordPress 6.0.1
Gutenberg 13.8.1 active or inactive
No other plugins active
Twenty Twenty-Two 1.2

[2022-08-11 21:51] kathrynwp commented on #30771
Hi, @deborah86! I'm no longer able to replicate this, so I'm going to go ahead and close this out. If you are still experiencing the original issue, feel free to add a comment with additional details and I’ll be very glad to reopen it!

![Add_New_Page_‹_Self-hosted_Test_—_WordPress](https://user-images.githubusercontent.com/7662449/184248429-8f357595-9e34-4c64-8e40-c9db9137a94c.jpg)

**Tested with

[2022-08-11 21:51] #30771 closed, assigned to nobody

[2022-08-11 21:51] glendaviesnz commented on #30363
Thanks for checking @kathrynwp. Yes it would be good to change this, there is a Gallery project board here - https://github.com/WordPress/gutenberg/projects/56 with the things that we are wanting to work on so they don't get lost. 🤞we will slowly pick these off over time. If you had any thoughts on what might be the bigger priorities feel free to pull them to the top of the backlog column.

[2022-08-11 21:54] glendaviesnz commented on #30001
Let's close this one for now.

[2022-08-11 21:54] #30001 closed, assigned to glendaviesnz

[2022-08-11 21:55] glendaviesnz commented on #29999
Would be good to circle back on this one, so let's leave it in the Gallery project backlog for now.

[2022-08-11 21:58] kathrynwp commented on #30363
OK great to know – thanks, @glendaviesnz!

[2022-08-12 01:16] ramonjd commented on #43154
I have a fix for this. Just writing some tests and will push a PR soon.

[2022-08-12 01:19] andrewserong commented on #43140
This probably isn't a short-term solution, but one of the thoughts I had in junction with the walker proposal in #42485 would be to see if we can use the feature level selectors idea in #42087 to specify the selector (in `block.json`) that targets the inner block wrapper for the layout support.

So, for the cover block, we might attempt to opt-in to the Layout support with something like the follo

[2022-08-12 02:15] talldan commented on #43144
Yep, it'd be great to know that. It should be fixed by https://github.com/WordPress/gutenberg/pull/42073. That fix will be in WordPress 6.1, but is already in the Gutenberg plugin.

[2022-08-12 02:18] talldan commented on #43097
I'll close this. Feel free to submit a new issue if you can provide more information.

[2022-08-12 02:18] #43097 closed

[2022-08-12 03:07] ramonjd commented on #43042
I think [this commit](https://github.com/WordPress/gutenberg/pull/42173/commits/68f60bf982bd2e7e84f36f23885485bb7258a366) in #42173 might address the issue.

cc @glendaviesnz

[2022-08-12 04:05] glendaviesnz commented on #43140
It has been mentioned in the past that if it was possible to add a background image to the Group block then the actual Cover block could almost be deprecated and it becomes a variation of the Group block ... just putting the idea out there again in case it provides an easier way forward than adding layout to the current Cover 😃

[2022-08-12 04:19] glendaviesnz commented on #43042
Yes, @Gierand, the above PR should resolve this issue, and also adds the UI for selecting the spacing presets for padding in the block and site editor. Something else to note about the changes in that PR is that the spacing scale provided by core will be reduced from 10 to 7 levels which gives 3 sizes each side of medium (2XS, XS, S, M, L, XL, 2XL), so the `var:preset|spacing|100` value won't be g

[2022-08-12 04:50] tellthemachines commented on #43140
Thanks for the input folks!

That could work, though I'm more inclined towards a solution where layout Just Works 😄 for all cases, without having to specify a selector. (This hinges on the assumption that the inner block wrapper is _always_ the element we need to attach layout classnames to, which I _think_ is a reasonable one, even taking into account possible future layout types.)

My thinking i

[2022-08-12 05:00] andrewserong commented on #43140
Ah, so in that case, when the block markup is initially saved, it'd output an inner-blocks-wrapper classname of some kind (wherever that happens to sit in the DOM hierarchy), and we'd then target that consistent classname as the place where we'd inject Layout classnames in `layout.php`... something like that?

That's a good point, too — if we start iterating over nested markup (particularly nested

[2022-08-12 05:06] tellthemachines commented on #43140
Yeah, I was thinking we could add either a classname or a data attribute to the inner blocks wrapper that we could use to target with the layout classes, and maybe remove it before outputting the actual markup so it doesn't fall into that classnames-as-public-API category 😅

[2022-08-12 05:10] andrewserong commented on #43140
Yeah, good point! I suppose that's one of the things I liked about the `__experimentalSelector`, but I think you're right in that it'd be great to be able to write a block, use the `useInnerBlocksProps` hook and have the Layout support magically work, rather than having to manually add a classname both there and then in `block.json` before the Layout support can figure out what it's doing.

I thin

[2022-08-12 05:16] gziolo commented on #43132
@tyxla, it looks like using ESM code in 3rd party packages is more complicated with Jest than we anticipated. I’m wondering what next steps we should take. As a short term solution we can enable transformation for this package in Jest preset. Technically speaking, we could use a different package, but it’s rather a more general issue that will come back as ESM becomes more popular.

The most chall

[2022-08-12 05:34] annezazu commented on #40240
@carolinan the ideas remain above for feedback but I imagine @WordPress/gutenberg-design might have some thoughts around how best to approach this and how to make it more actionable :)

[2022-08-12 06:53] talldan commented on #42770
I think I know what's happening here. There's no 'resize' listener for `frameOffset`, so the value isn't updated. It looks like it works ok when opening the sidebar, but this is actually the 'shift' middleware being triggered by the block's position changing.

The bug seems to specifically happen when inserting a new block and closing the sidebar, and I think that happens because the inserted bloc

[2022-08-12 06:59] derekblank commented on #43146
@geriux I took a look at this one, and I can definitely replicate it. I think you might have a better idea about what's really going on, though.

When switching to dark mode, the black color for the list item comes from [list-item/styles.native.scss](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/list-item/style.native.scss#L27), which itself is being set in list-styl

[2022-08-12 07:06] jasmussen commented on #40240
I created #43168 to address the copy issue, with [this change](https://github.com/WordPress/gutenberg/issues/40240#issuecomment-1101083472) taken into account.

For further improvemetns, here's a question that may hopefully inspire better ideas: can the "No results" block show up in the editor only if there are no results in the query, _or if you select the block in the list view_?

[2022-08-12 07:07] geriux commented on #43146
Thanks for taking a look!

Yeah this is the issue, we need to have a `.wp-block-list-item__list-item--default--dark` for the default text's color for dark mode.

This is `undefined` for standard themes, for block-based themes we are able to fetch the theme's colors through the block editor settings endpoint, when we have this data we pass it through a `style` prop to each block.

When the user has

[2022-08-12 08:22] gziolo commented on #43086
Passing an array of styles works when passed through `block.json` file. It doesn't work today when using the 2nd param from `register_block_type`. There is a proposal to address that: https://github.com/WordPress/wordpress-develop/pull/2853. I hope to see it included in WordPress 6.1.

[2022-08-12 08:24] gziolo commented on #42952
At the moment, the Gutenberg project uses both Jest and Playwright for e2e tests. I see that other projects might use other tools, so I believe the best way to move forward would be to make that support fully optional. In effect, we would have to remove those lines:

https://github.com/WordPress/gutenberg/blob/eb6b3ff23a58c18019b66814606f594e86711c85/packages/eslint-plugin/configs/recommended-with

[2022-08-12 09:10] aristath opened #43173 "Compiled block styles contain a lot of trash"
### Description

All block styles contain ~75 lines of comments which are not needed. For example you can take a look at https://github.com/WordPress/WordPress/blob/master/wp-includes/blocks/buttons/style.css
These comments get added to all non-minified stylesheets and they don't make any sense.

We should remove comments when these styles are getting compiled.
These files should not be minified,

[2022-08-12 09:15] github-actions[bot] opened #43174 "[Flaky Test] Should save the changes"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
Should save the changes

## Test path
`/test/e2e/specs/editor/plugins/wp-editor-meta-box.spec.js`

## Errors

<time datetime="2022-08-12T09:15:46.600Z"><code>[2022-08-12T09:15:46.600Z]</code></time> Test passed after 1 failed attempt on <a href="https://github.com/WordPress/

[2022-08-12 09:22] aristath commented on #43173
From my testing this seems to work:
[code]

What do you think @gziolo ?

[2022-08-12 09:26] jameskoster commented on #27847
@spencerfinnell I don't know that we necessarily want to engage template editing mode, since it may be that content is locked there in the future. This issue is more about being able to see the template, but not edit it directly. If you have the capacity to put a PR together I think it would be excellent to try.

[2022-08-12 09:46] jasmussen commented on #43110
These rules came at a time when custom padding controls didn't exist, to ensure the color experience was nevertheless considered. I agree they provide a challenge in todays landscape.

Ideally we can reach a point where this can be solved in a grander way. For example where any default padding that’s applied, whether on a paragraph with a background or otherwise, has that applied because Global St

[2022-08-12 09:57] jameskoster commented on #40240
In some cases we can do this, but we need to support both. If I'm designing my archive template I need to compose both the 'no results' and the post template. It's really very similar to the WooCommerce cart block mentioned above.

It would be nice to implement a consistent affordance for switching state, as it's something we'll need for other core blocks in the future (login / out, comments loop,

[2022-08-12 10:02] jasmussen commented on #40240
I did consider state switching, the way we do that for the HTML block with the preview tab is limited, and use cases like you mention really deserve a better core interface for it.

But in this case, "No results" is not a state of the query block, it's a child block. Which means the way blocks behave at the moment, they'll always show up, no matter the parent state. I guess the query block could h

[2022-08-12 10:14] Gierand commented on #43042
@glendaviesnz, thank you for the clarification. However, I have a question. Will `.has-10-spacing` , `.has-*-spacing` classes be generated as with other presets?

[2022-08-12 10:24] tyxla commented on #43132
Thanks for reporting this, @ryelle!

Yeah, this was expected to happen, and it's a bummer that we have limited options to fix it.

As you mentioned, a quick workaround for now is to move the transform ignore rule to the default jest preset, and that way it will be considered by the scripts package. Let me file a PR.

[2022-08-12 10:30] tyxla commented on #43132
Here's a PR that should solve the problem: #43179.

Once we merge it, we'll only need to publish new minor versions of the affected packages.

[2022-08-12 10:30] Thelmachido commented on #30962
I tested this recently but I am unable to reproduce the issue as shown in the video below:

https://user-images.githubusercontent.com/41231764/184336278-aa553c7d-bb15-45f9-8b6c-08cd949d7301.mov

WordPress 6.0.1

Gutenberg 13.8.1 active

Closing this issue

[2022-08-12 10:30] #30962 closed, assigned to nobody

[2022-08-12 10:31] Mamaduka commented on #43173
This is odd. In plugin I see the stylesheets correctly compiled in the `build/block-library` directory.

Maybe this is an issue with core side transformations.

[2022-08-12 10:33] aristath commented on #43173
When running `npm run build` they get minified, yes. But when running `npm run dev`, they have the extra comments - and all those somehow get ported to Core 🤷

[2022-08-12 10:33] jameskoster commented on #40240
It really depends on how you look at it haha. I would say it is a state of the Query block – the query has returned nothing. That state effects which child block is displayed – Post Template or No Results. I've always found it strange that the current implementation renders _both_ on the canvas, it totally breaks the wysiwyg.

Another use case for state switching, in case it inspires other ideas –

[2022-08-12 10:38] jasmussen commented on #40240
Good point. If the query is empty, show the No results block. If it isn't, don't show it at all. But provide a state switching interface (dropdown in inspector?).

Is there a smaller interim fix that can be applied?

[2022-08-12 10:44] gziolo commented on #43173
Does it mean that we run CSS processing for usage with WordPress packages in development mode?

I don't know that part of the workflow that well so whatever you figure out to fix the issue in core is fine.

[2022-08-12 10:45] Mamaduka commented on #43173
I think we should set `discardComments` config here - https://github.com/WordPress/wordpress-develop/blob/trunk/tools/webpack/shared.js#L62-L64

[2022-08-12 10:56] Thelmachido commented on #31001
I can still replicate this issue, on IOS the phone is set to light but I changed the WP in-app settings to dark:

On a  Post the background is light even though the WP App Settings have been changed to dark:

<img src="https://user-images.githubusercontent.com/41231764/184339534-997ccd45-6e65-4b84-a0a3-60d98804e52f.png " width="250"  />

However, since this is a duplicate of [#14376](https://githu

[2022-08-12 10:56] #31001 closed, assigned to nobody

[2022-08-12 11:18] gziolo commented on #43173
For some styles, we should keep the comments with licenses when code was copied from other projects. Example:

https://github.com/WordPress/gutenberg/blob/c416bf8f028974d56de902d597fa6bc2b814f9a9/packages/components/src/date-time/date/datepicker.scss#L1-L28

[2022-08-12 11:20] Mamaduka commented on #43173
We can use `!` marker for those comments - https://cssnano.co/docs/optimisations/discardcomments/.

[2022-08-12 11:29] jameskoster commented on #40240
It's tricky because it's not a setting, so doesn't feel quite right in either the toolbar or the inspector. That's why I think it should be abstracted somehow, but afaik we don't have a mechanism for that either :)

Perhaps it's worth trying your idea of toggling the visibility of Post Template or No Results based on which block is selected. The initial visibility can be determined by the Query wh

[2022-08-12 11:51] markhowellsmead commented on #35840
Bumping this again as pull request https://github.com/WordPress/gutenberg/pull/42084 which addressed the issue was marked as “not a priority”. I'd like to know why this isn't a priority, and how the development team came to this conclusion.

[2022-08-12 11:52] carlomanf commented on #40240
https://github.com/WordPress/gutenberg/discussions/38108 appears to have some relevant ideas for this.

[2022-08-12 12:06] Thelmachido commented on #31046
I don't think this is an issue anymore, I tested on Safari with TT2 enabled.

The inserter behaves as expected when I move around the cursor in Site Editor. You can see this in the video below:

https://user-images.githubusercontent.com/41231764/184350129-5ff437cf-2b4e-463e-b6d5-cb2917152b2b.mov

WordPress 6.0.1
Gutenberg 13.8.1

I will close this, for now.

[2022-08-12 12:06] #31046 closed, assigned to ellatrix

[2022-08-12 13:37] matiasbenedetto opened #43187 "Pulllquote block: Text align setting is wrongly affecting the width and the font size of the block"
### Description

The text-align settings of the pull quote block is affecting the width and the font size of the pull quote block when it is inside a container such as a group.

### Step-by-step reproduction instructions

1. Select emptytheme theme to discard theme styles problems.
2. Add a new post
3. Add a group block
4. Inside the group block add a pullquote block
5. Select the align left or ri

[2022-08-12 13:59] gOuTM commented on #39380
Well, as to me, this "feature" is essential if we all want to build beautiful post grids. Hope, the appropriate managing panel will be added in the nearest future.

As a kind of off-topic, it would be great to have an option to build a tiled gallery with a some sort of a tune that will affect how featured images are spread in the query loop.

[2022-08-12 14:35] Mamaduka commented on #35042
I'm going to close this issue. The Navigation Screen is no longer in development and I think E2E tests are skipped now.

[2022-08-12 14:35] #35042 closed, assigned to nobody

[2022-08-12 14:37] Thelmachido commented on #31142
This is no longer an issue, the template I created wasn't replaced as shown in the video below:

https://user-images.githubusercontent.com/41231764/184377576-8c8b956c-0c37-49c3-bd59-18da0d4682fc.mov

WordPress 6.0.1
Gutenberg 13.8.1
Theme TT2

[2022-08-12 14:37] #31142 closed, assigned to nobody

[2022-08-12 14:38] ciampo opened #43191 "Popover: rework props around shift, filp and resize behavior"
## What

Tracked in #42770

Currently, `Popover` exposes two props for tweaking its behavior when intersecting with the viewport's boundaries:

- `__unstableForcePosition`
- `__unstableShift`

However, it feels like these props don't offer the correct abstraction and actually limit the flexibility of the component.

## Proposed next steps

We could look at removing `__unstableForcePosition` and re

[2022-08-12 15:11] jameskoster opened #43192 "Global styles: Heading color options present in Button styles panel"
If you navigate: Styles > Blocks > Button > Colors, you will see options to set the text/background color of Headings. Since you cannot place Headings inside Buttons this feels a bit out-of-place.

https://user-images.githubusercontent.com/846565/184385263-038fa302-d457-4651-b7c0-6bb024cefc52.mp4

[2022-08-12 15:17] jameskoster opened #43193 "Global Styles: It's easy to lose track of where you are in the drilldown panels"
Have a look at this screengrab and guess the navigation path I took to get there:

<img width="280" alt="Screenshot 2022-08-12 at 16 14 07" src="https://user-images.githubusercontent.com/846565/184385768-86cb88ea-46f8-4ebf-a05e-97caf39cc9e6.png">

If you guessed Blocks > Button > Typography, well, gold star for you! 🌟

The fact that there's nothing visible in this panel to remind how I got here ma

[2022-08-12 15:24] matiasbenedetto opened #43194 "Pullquote block: font settings from theme.json are overriden by block styles"
### Description

The font settings from a theme's theme.json file such as font size and line height are being overridden by the default block styles.

### Step-by-step reproduction instructions

1. Set emptytheme to discard other styles problems.
2. Add a pullquote block to a post
3. Change the font settings for the pullquote block in your theme `theme.json` file
[code]
4. Check that the font size

[2022-08-12 15:39] jameskoster opened #43196 "Global Styles: Consider combining Color, Type, and Layout panels for individual blocks"
If you open the Styles panel for a specific block (via Styles > Block) you will often have to traverse this interstitial step:

<img width="280" alt="Screenshot 2022-08-12 at 16 21 05" src="https://user-images.githubusercontent.com/846565/184387020-00214dc2-a718-4f5e-b7f2-0c6a8c44076a.png">

There has been quite a lot of work recently around the dedicated panels for these, so I wonder if we could

[2022-08-12 15:41] ciampo opened #43197 "ColorPalette: make component more resilient to color entries with same color `value` and/or `name`"
## What problem does this address?

Initially flagged and discussed in #43096

While working on separate issues, I noticed that the `ColorPalette` component can receive a list `colors` where two or more color entries can have the same `value` (e.g `#ffffff`).

When this happens, currently the `ColorPalette` component is not able to correctly highlight as "selected" the color that was actually pick

[2022-08-12 15:45] ciampo commented on #43197
Tagging:

- @andrewserong @aaronrobertshaw @ramonjd as I believe they are much better fitted than I am to (hopefully) find a good solution to this issue
- @jasmussen and @mtias for overall awareness of this issue

[2022-08-12 16:08] ebinnion opened #43198 "Query loop infinite loop when inheriting query from template"
### Description

This originally presented as a bug on WordPress.com where pages would not load at all in some occasions and was reported here:

https://github.com/Automattic/wp-calypso/issues/66270

High-level, the issue is that in #40656 we changed how we handled the inherit query from template logic. Instead of pulling args out of the template query and then creating a new query object. We actu

[2022-08-12 16:45] priethor commented on #43198
I can consistently reproduce the issue in a self-hosted site with WordPress 6.0.1, Gutenberg 13.8.2, and different classic themes.

[2022-08-12 16:49] priethor commented on #43198
I'm leaving myself a reminder to add the `Backport to WP minor release` label to future PRs that solve this issue. ✍️

[2022-08-12 17:15] titusdmoore opened #43199 "wp-env Including Plugins with Query Parameters Causes Error"
### Description

Including plugins from outside URL that includes Authentication string (aws) causes `Invalid or unrecognized source: ...` error when starting the environment. This is caused when using download strings with authentication query parameters post `.zip` in the url.

### Step-by-step reproduction instructions

1. Create `wp-env.json` file in a valid WordPress Project
2. Add url under

[2022-08-12 17:41] bigaru commented on #22888
It seems that this happens especially with parcel.

As Rob Kendal describes the same problem in his [blog post](https://dev.to/kendalmintcode/solving-react-hooks-invalid-hook-call-warning-26c8):

[2022-08-12 18:34] michalczaplinski commented on #40548
I really like this proposal !

As the Editor Tech Co-lead for 6.1 together with @ockham we'll keep a close eye on it 🙂

[2022-08-12 18:48] ironprogrammer commented on #39174
## Test Report

Confirmed this is resolved in WordPress core ✅ -- recommend **closing** issue.

### Environment
- OS: macOS 12.5
- Browser: Safari 15.6
- Server: nginx/1.23.1
- PHP: 7.4.30
- WordPress: 6.0.2-alpha-53697-src
- Theme: twentytwentytwo v1.2
- Gutenberg plugin NOT active 🔴

### Steps to Test
1. Navigate to _Appearance > Editor_, expand navigation and select _Template Parts_.
2. Click *

[2022-08-12 19:05] bigaru opened #43201 "renderElement does not support React Hooks"
### Description

It seems that the function `renderElement` from `packages/element/serialize.js` is not able to process React Hooks. As soon as a React hook is used inside save function, the error `Invalid hook call.` is thrown.

I double-checked this error against React's probable causes:

1. You might have mismatching versions of React and the renderer (such as React DOM)
2. You might be breakin

[2022-08-12 19:12] pryley commented on #41821
i just spent an hour trying to figure out why the block css wasn't loading in the site editor.

Strangely, one of the blocks is loading the stylesheet inside the body tag of the iframe. I have no idea why this block loads the css in the iframe yet the others do not as they are all registered in the same way with the `enqueue_block_editor_assets` hook.

<img width="803" alt="image" src="https://use

[2022-08-12 19:20] mkevins commented on #43149
I've investigated this issue a bit, with my findings in [this comment](https://github.com/wordpress-mobile/WordPress-Android/pull/16968#issuecomment-1209658635).

One thing that may be worth noting is that the images are still fetched, even when they are invisible. I have verified this using the network inspector by clearing the app data (and cache), and viewing a post with a gallery while the fra

[2022-08-12 19:52] gziolo commented on #43132
https://github.com/WordPress/gutenberg/pull/43179 should be available on npm in a few minutes. It should resolve the issue.

[2022-08-12 20:08] pryley commented on #41821
Looks like the CSS needs to contain `.wp-block` inside the file in order for it to be enqueued inside the iframe.

See: https://github.com/WordPress/gutenberg/issues/40603#issuecomment-1112807162

[2022-08-12 21:05] pryley commented on #34763
This sort of works:

[code]

[2022-08-12 21:09] annezazu opened #43203 "Consider adding H2 Heading on single posts or pages when comments are enabled"
## What problem does this address?

Pulling out of this [trac issue on adding an "accessibility ready" tag for the Twenty Twenty-Two Theme](https://core.trac.wordpress.org/ticket/55172#comment:28). From @carolinan who did the audit:

H1 Site Title
H1 Sample Page
H3 One response to “Sample Page”
H3 Leave a Reply

## What is your proposed solution?

From @carolinan in that ticket:

Further from DM w

[2022-08-13 00:32] hannahmumma commented on #15160
Is this happening. I need it

[2022-08-13 06:15] Alexodiy commented on #30142
That would be really great. But it is unclear whether work in this direction would be accomplished. Such styles would make it very easy to live

[2022-08-13 06:15] dan-zakirov commented on #30142
That would be really great. But it is unclear whether work in this direction would be accomplished. Such styles would make it very easy to live

[2022-08-13 07:29] gOuTM opened #43205 "Hamburger-style (overlay) menu items do not work when contains internal #anchor links"
### Description

Hamburger-style (overlay) menu items do not work when contains internal #anchor links.  Everything works if overlay menu setting set to Off. But it is crucial for mobile view.

### Step-by-step reproduction instructions

1) Open editor to maintain corresponding navigation menu – for me that site editor, because my navigation is in the header of the site.
2) Add menu items that lea

[2022-08-13 08:30] adamziel commented on #40548
@michalczaplinski feel free to take the lead here - as the release lead you are well positioned for that!

[2022-08-13 17:01] dmsnell commented on #29870
We need to make sure we are very explicit in defining what string indexes _count_.

Possibilities:
 - UTF-16 code units
 - UTF-8 code units
 - Unicode code points
 - Extended grapheme clusters

Let's apply a format to the female pilot; how do we get the range?

JavaScript
[code]

[2022-08-13 17:32] michalczaplinski commented on #40548
Thanks @adamziel. And, yes, that's what I meant to say 😄 We'll keep a close eye on the problems you mentioned and based on what we'll encounter I hope we can champion this proposal!

[2022-08-13 18:50] La-Geek opened #43209 "Classic Block: Switch to HTML and again to Visual Mode Converts Content to Blocks"
### Description

Switch back to "Edit Visually" brings you not back to Block Classic but converts the content so several blocks.

### Step-by-step reproduction instructions

1. New post
2. Insert Block Classic
3. Write or paste content with more than 1 paragraph
4. Switch Block Classic to `Edit as HTML`
5. Click now on `Edit visually`
6. The Block Classic is gone instead the content is converted t

[2022-08-14 10:02] marceloaof commented on #39372
The decision process has brought enriching ideas so far without, however, explicitly considering the colors currently in place in the authors' block themes.

### Most repeated words in color names:
**115 Background + 25 BG**
**112 Primary**
**95 Secondary**
**71 Dark**
**67 Tertiary**
**64 Light**
**64 Text**
**59 Foreground**
51 Color
32 White
27 Black
26 Gray + 9 Grey
**24 Accent**
24 Neutral
22

[2022-08-14 10:50] paaljoachim commented on #43108
Hey @hagege

It is very easy to overlook this specific Navigation block sticky feature as the title of the issue I added it to says: [Fixed Position Header and Footer Template Parts](https://github.com/WordPress/gutenberg/issues/30121#issuecomment-1190118058).
@critterverse perhaps we should rename the issue to focus more on general fixed/sticky options in the Block editor?

[2022-08-14 11:09] ockham commented on #43203
IIRC this was discussed on another PR where @c4rl0sbr4v0 had a bit more context.

[2022-08-14 20:10] tbdalgaard commented on #42659
@alexstine
You are right about the quote from the NVDA documentation. Note however that most of these rules are not defined when working in web environments, because there are not many screenreader manifactures that have tried to figure out some good standard ways. This is even harder because the developer of the web application can design it differently, and how they want.

A good example is when

[2022-08-14 20:24] tbdalgaard commented on #11154
Most of the issue here could be fixed if option was removed so the keystroke would be ctrl followed by the letter/number instead. That would solve the issues on Mac OS with Safari.

[2022-08-14 20:34] tbdalgaard commented on #18561
Sorry that I never got back to you. Now this is several versions later, and I have a few things to follow-up:

* I really like that I can switch between edit - and navigation-mode. I wish though that I could find a consistent way to get the help messages spoken by VoiceOver.
* I really think some documentation specifically for users of screenreaders is needed. I have found a few tips and tricks wi

[2022-08-14 22:41] glendaviesnz commented on #43042
That would be the ideal, and there is a task listed in the [tracking issue](https://github.com/WordPress/gutenberg/issues/39371) to follow up on this. To do this we just need to make sure that we can conditionally load these class definitions based on the block content of the current page as loading all of them would add a lot of additional CSS to every page as classes and property definitions are

[2022-08-14 23:00] #43154 closed, assigned to MaggieCabrera, ramonjd

[2022-08-15 01:38] ndiego commented on #41957
I just took a look at this. Switching to server-side render as you suggest should solve this. The current [index.php file](https://github.com/WordPress/gutenberg/blob/d00d939f8b505f332f57d9862f00d85419178d74/packages/block-library/src/comments/index.php#L43-L45) already accounts for the situation when comments are disabled.

@c4rl0sbr4v0 is there already an issue/PR for the translation fix?

[2022-08-15 03:56] talldan commented on #43209
From my testing, it seems to only happen when clicking the 'Edit visually' option on the toolbar.

If you click the 'Edit visually' option in the dropdown, that works ok:
![Screen Shot 2022-08-15 at 11 55 23 am](https://user-images.githubusercontent.com/677833/184574556-2d671f47-9819-4f1e-ad85-583aa1d270d7.png)

I'm not sure why there are two options.

Does that match with what you're seeing @La-G

[2022-08-15 04:28] tellthemachines commented on #38998
Thanks for the feedback everyone! I decided to go with "constrained" as it best describes the specific layout type.

That wasn't on purpose; it would be preferable not to name them after their implementation details 😅

[2022-08-15 05:05] Gierand commented on #43042
Thank you, I understand.

[2022-08-15 05:12] carolinan commented on #30775
Sine the update to use inner blocks for the quote block, the verse can already be transformed to and from quotes.
I believe the plan is to also update the pull quote to use inner blocks. That would solve this issue.

[2022-08-15 05:15] andrewserong opened #43218 "Stack (Group block) variation: Explore hiding the wrap to multiple lines control"
## What problem does this address?

In the Stack variation of the Group block we currently display the "Allow to wrap to multiple lines" control. However, in the Stack variation, where elements are displayed in a vertical stack, this toggle doesn't appear to do anything since inner blocks are already arranged vertically.

![image](https://user-images.githubusercontent.com/14988353/184580097-2fc6cb

[2022-08-15 05:15] carolinan commented on #33476
Do we still want a title specifically for the 404 page? I am not sure it would be helpful to have a block that could just as well be a heading block.

[2022-08-15 05:29] talldan commented on #43209
I've put a fix together in https://github.com/WordPress/gutenberg/pull/43219.

[2022-08-15 05:33] noisysocks commented on #43023
Looking good!

This is nice for when there are lots of categories but I'd expect that in the vast majority of cases there will be only 1-3 categories. What should the text say when there is 1 category, 2 categories, and 3 categories?

Personally I like the first treatment you have here where _Preview_ is in its own collapsable section as it adds some hierarchy.

[2022-08-15 05:41] ramonjd commented on #43197
It could be tricky 🤔🤔🤔🤔🤔🤔

I assume we only want to transform data in the editor JS so that the UI controls behave (?)

I'm just thinking aloud... we could add unique keys in [global-styles/hooks](https://github.com/WordPress/gutenberg/blob/767081132e1f2be43fd660e946c776e1dd2eea80/packages/edit-site/src/components/global-styles/hooks.js), where we build the colors object, e..g,

[code]

But then h

[2022-08-15 05:53] talldan commented on #42994
`isRenderedInSidebar` was mentioned in this discussion - https://make.wordpress.org/core/2022/08/10/proposal-stop-merging-experimental-apis-from-gutenberg-to-wordpress-core/#comment-43590.

It's in use by a plugin, so some care should be taken when refactoring it.

[2022-08-15 06:07] Gierand commented on #43042
There seems to be a problem with custom spacing presets (dragging not working).

[code]

![padding](https://user-images.githubusercontent.com/1615208/184583776-68adf46f-7966-4048-8300-c111972f85ca.gif)

[2022-08-15 06:16] andrewserong commented on #43085
Apologies for the late reply, and thanks for the discussion here!

I've found this working with `Flex`, too, and also agree that exposing the lower and higher level props in the one component creates a lot of confusion.

Consolidating around a few high level components sounds good to me. For cases where these high level components aren't appropriate for someone's use case, would we then encourage

[2022-08-15 06:18] jasmussen commented on #37943
Resharing a few high level thoughts from [the conversation of a related PR](https://github.com/WordPress/gutenberg/pull/42729#issuecomment-1212864851):

- In classic themes, the appearance menu looks way different, with many more options
- Having a “Template Parts” item there which opens the block editor and allows limited editing, that’s cool!
- Using the isolated mode for it, as they are templat

[2022-08-15 07:06] talldan commented on #43201
@bigaru What's the reason for implementing a React hook in a `save` function?

In terms of the `save` function, I think that this is that it isn't a bug but a feature. I wouldn't like to see support for hooks as they shouldn't be used in a block `save` function. The `save` function should be [pure](https://en.wikipedia.org/wiki/Pure_function) so that block validation doesn't fail. Hooks only intro

[2022-08-15 07:57] jasmussen commented on #43218
Good ticket. While the control is immensely useful for horizontal containers, it definitely seems less so for the stack.

One of the challenges with this control is that it has massive prominence in the inspector, but probably it isn't something you should touch most of the time. In the past we handled similar situations with the ToolsPanel, allowing the control to exist for a block, but be hidden

[2022-08-15 08:52] swissspidy opened #43222 "Env: Error in `readWordPressVersion`"
### Description

It looks like either #41780 or #42826 broke wp-env usage for the Preferred Languages feature plugin.

Trying to update to `@wordpress/env` 5.1.0 (which includes this change) breaks `wp-env start` with this error:

[code]

### Step-by-step reproduction instructions

Using a wp-env config file like this:

[code]

Try to run `wp-env start`

### Screenshots, screen recording, code sni

[2022-08-15 09:55] #42354 closed, assigned to aaronrobertshaw

[2022-08-15 10:21] talldan commented on #42850
@scruffian I have an idea. You could create the menu as a draft, but immediately trigger `editEntityRecord` to change the post status to 'publish'. The status change would hopefully cause it to be dirty.

Personally I feel like that's a nicer approach compared to #43190, part of something being a draft is that it's not publicly visible so it's sort of using the right semantics. There may be a coup

[2022-08-15 11:03] draganescu opened #43227 "Double click required for inner block selection"
### Description

While testing #42735 @jasmussen found the reason why you can't select the Page List child block unless you use the list view.

~~This is only the case when the mobile responsive feature is enabled, and it looks like the "responsive container" intercepts the click.~~

In https://github.com/WordPress/gutenberg/pull/42735 this was somewhat fixed but now we need to double click the pa

[2022-08-15 12:08] La-Geek commented on #43209
@talldan
yes, the option exists twice.

[2022-08-15 13:24] #33025 closed, assigned to jasmussen

[2022-08-15 13:33] mirka commented on #36230
Closing in favor of #41973

The Typography panel in Global Styles have been upsized in #42718. The ones in the post editor can also be upsized after TextTransformControl and TextDecorationControl are migrated to the component being prepared in #43060.

[2022-08-15 13:33] #36230 closed, assigned to mirka

[2022-08-15 14:17] janw-me opened #43232 "Block Locking: Lock a block as the top block or bottom of content"
## What problem does this address?
Our use case, when creating a new page we insert (and lock) a cover block at the top of the page.
So the cover can't be removed or moved.

But you can create a new block above the cover block. Or create it below the cover and drag to the top.

## What is your proposed solution?
Allow the ability to lock a block at top
And prevent other blocks (that can be moved)

[2022-08-15 15:26] t-hamano commented on #43222
I ran into the same problem.
I believe it is due to the fact that #42826 no longer allows `null` in the `core` property.

https://github.com/WordPress/gutenberg/pull/42826/files#r933608144

I consider this to be a breaking change and believe that either of the following actions should be taken:

- Specify in the changelog that it is a breaking change. In addition, properly update [the README of th

[2022-08-15 16:04] t-hamano commented on #43205
Thanks for the report.

I believe this issue was fixed in #39625.
However, as noted in [this comment](https://github.com/WordPress/gutenberg/pull/39625#issuecomment-1161754913), this fix will be reflected in WordPress 6.1.
Alternatively, if you activate Gutenberg plugin 13.2 or higher, you can confirm that this issue has been resolved.

I would like to close this issue, but please re-open it if yo

[2022-08-15 16:04] #43205 closed, assigned to nobody

[2022-08-15 16:52] jameskoster commented on #43142
Here are a couple of rough mockups exploring potential approaches to this. The first is most iterative, and closest the video above:

https://user-images.githubusercontent.com/846565/184675801-b6778ff1-9d56-4be9-9c08-d10ed63f0870.mp4

When the Style panel is opened, the template you're editing slides off-screen to reveal a grid of thumbnails; the Front Page, the Posts Page, the Page template and t

[2022-08-15 16:53] richtabor commented on #43232
Seems like if the first block is locked down completely, then it should be pinned to the top if there are more than one block added to the page. 🤔

[2022-08-15 17:09] noahtallen commented on #43222
Actually already have a fix here: #43133

[2022-08-15 17:33] richtabor opened #43234 "Theme.json spacingSizes do not work with the new padding presets UI"
### Description

Originally reported in a comment on [this issue](https://github.com/WordPress/gutenberg/issues/43042#issuecomment-1214650886), using spacingSizes within a theme.json file makes the new padding preset UI (recently merged https://github.com/WordPress/gutenberg/pull/42173) not function properly.

The changes are applied, but the UI does not track the change.

### Step-by-step reprodu

[2022-08-15 17:34] richtabor commented on #43042
I've confirmed that this is resolved by https://github.com/WordPress/gutenberg/pull/42173 (spacing values are generated in the site editor).

I've also found the same issue as @Gierand's latest comment — wrote up an issue: https://github.com/WordPress/gutenberg/issues/43234

[2022-08-15 17:35] ryanwelcher opened #43235 "[Create Block]: Add ability to pass a slug for the block name"
## What problem does this address?
Currently, when scaffolding a block with the `@wordpress/create-block` package, we can pass a `slug` to define the name of the plugin, which is also used as the name of the block. This was brought up in https://github.com/WordPress/gutenberg/pull/41642#issuecomment-1213448794

[code]

The command above would generate a plugin called 'my-awesome-plugin` with a blo

[2022-08-15 17:38] spencerfinnell commented on #43234
I believe I ran in to a similar issue with the slug being defined as a string (which is what the schema says is correct), but working correctly when the slug is a number. Maybe a strict comparison somewhere?

[2022-08-15 17:38] ryanwelcher commented on #43235
Now that https://github.com/WordPress/gutenberg/pull/41642 is merged, this parameter could be used to pass a series of names to allow scaffolding of multiple blocks at once
[code]

[2022-08-15 17:57] noahtallen commented on #43222
The fix will allow `null` again -- it was just an oversight on my part that it didn't work in the first place.

[2022-08-15 18:04] richtabor commented on #43234
Yup, that was it. Using a string doesn't work.

[2022-08-15 18:31] cbirdsong commented on #38277
@eric-michel I do something similar with custom properties on my non-theme.json themes, which also easily allows for default text/link colors to be associated with each background color. This anecdote might be worth dropping into  https://github.com/WordPress/gutenberg/issues/39372.

[2022-08-15 21:32] TJBriggs opened #43236 ".eslintignore or .eslintrc file breaks javascript linting with wp-scripts"
### Description

I have created a plugin that houses several blocks generated from @wordpress/create-block. The plugin packages are consolidated into a monorepo with Lerna. The wp-scripts commands run fine and I don't have any issues there. However, I would like to ignore a few directories when I run `wp-scripts lint-js`. Here are the things I have tried so far, but have been unsuccessful:

- Add

[2022-08-15 22:21] glendaviesnz commented on #43234
Thanks  @richtabor and @spencerfinnell   - I have a [PR here to rectify this](https://github.com/WordPress/gutenberg/pull/43237).

I will be putting up a dev note and additional documentation in the next few days ahead of the next GB release that will include this UI.  This will outline the fact that ideally, the slugs should be in the format 10,20,30,40,50 ... with 50 representing the medium valu

[2022-08-15 22:28] glendaviesnz commented on #43042
Closing this as the outstanding bug has been moved to a [separate issue](https://github.com/WordPress/gutenberg/issues/43234).

[2022-08-15 22:28] #43042 closed, assigned to nobody

[2022-08-15 23:28] cuemarie commented on #31446
+1 I think this would be a great addition to the Query block - offering a nice alternative to the Pagination block.

[2022-08-16 00:51] #43222 closed, assigned to nobody

[2022-08-16 01:23] noahtallen commented on #43222
By the way, for what it's worth, `"core": null,` has no effect by itself in a plain `.wp-env.json`. The absence of the `core` property means the same thing, which is to use the stable version. However, it is useful in `.wp-env.override.json` if you want to "clear" the version the environment has and instead use whatever the latest stable version is.

[2022-08-16 01:28] noahtallen commented on #43222
The fix should now be available in version 5.1.1 :)

[2022-08-16 02:42] aaronrobertshaw opened #43241 "Tracking: Addressing Design Tooling Consistency"
## Overview

This issue will outline and track efforts toward increasing consistency across all our blocks and their design tools.

### Goal
1. To ensure as few gaps in design tools and block supports across blocks as possible.
2. For any omission of support to be a deliberate and documented choice.

### Opportunities to Improve Consistency
- Adopt all block supports for all blocks (with exception

[2022-08-16 03:21] aaronrobertshaw opened #43242 "Tracking: Typography Design Tools Consistency"
## Overview

This issue details the current state of typography block support or design tool adoption across all blocks as well as tasks required to fill any gaps. Overall design tool consistency efforts are being tracked via the parent issue: https://github.com/WordPress/gutenberg/issues/43241.

## Known Issues

- [ ] Typography [styles applying to block placeholders](https://github.com/WordPress

[2022-08-16 03:54] aaronrobertshaw opened #43243 "Tracking: Dimensions Design Tools Consistency"
## Overview

This issue details the current state of dimensions and spacing block support or design tool adoption across all blocks and tasks required to fill any gaps. Overall design tool consistency efforts are being tracked via the parent issue: https://github.com/WordPress/gutenberg/issues/43241.

## Guidelines for Adopting Spacing Supports

- We're generally happy to have padding & margin sup

[2022-08-16 04:33] aaronrobertshaw opened #43245 "Tracking: Color Design Tools Consistency"
## Overview

This issue details the current state of color block support or design tool adoption across all blocks and tasks required to fill any gaps. Overall design tool consistency efforts are being tracked via the parent issue: https://github.com/WordPress/gutenberg/issues/43241.

## Legend

| Value         | Description                                                                  |
| ----

[2022-08-16 04:54] aaronrobertshaw opened #43247 "Tracking: Border Design Tools Consistency"
## Overview

This issue details the current state of border block support or design tool adoption across all blocks and tasks required to fill any gaps. Overall design tool consistency efforts are being tracked via the parent issue: https://github.com/WordPress/gutenberg/issues/43241.

## Legend

| Value         | Description                                                                  |
| ---

[2022-08-16 05:00] aaronrobertshaw opened #43248 "Tracking: Layout Design Tools Consistency"
## Overview

This issue details the current state of layout block support or design tool adoption across all blocks and tasks required to fill any gaps. Overall design tool consistency efforts are being tracked via the parent issue: https://github.com/WordPress/gutenberg/issues/43241.

## Legend

| Value         | Description                                                                  |
| ---

[2022-08-16 05:26] #37220 closed, assigned to Mamaduka

[2022-08-16 05:39] byalexandrepedrosa commented on #33521
I got this issue working on foot notes.
For me, since on the end of every li theres a link to foot notes, worked with the id inside the link, example:

`<li>List Item Text<a href="#footnotes1" id="textnote1">1</a></li>`

[2022-08-16 05:42] t-hamano commented on #43236
@TJBriggs
Thank you for submitting the issue.

### `.eslintignore`

Did you exclude build folders such as `build` or `dist`?

### `.eslintrc`

To add your own ESLint rules, I think we need to take over the default setting:

[code]

[2022-08-16 05:55] #42891 closed, assigned to ellatrix

[2022-08-16 06:35] annezazu commented on #43242
Related issue: https://github.com/WordPress/gutenberg/issues/42646 cc @ndiego as a heads up!

[2022-08-16 07:12] ciampo commented on #43085
I think so, mainly because (as explained more in details above) that currently using `Flex` doesn't really bring any advantages over using straight CSS props (although this is not yet a decision set in stone and we should be assessing all what's been discussed in details)

[2022-08-16 07:14] bigaru commented on #43201
Hi @talldan

I see your point with block validation. However, not all hooks make your code impure. The counter-examples are `useId` and `useContext`:

[code]

Currently the behavior between ClassComponent and FunctionalComponent is inconsistent:

[code]

Even if the developer writes pure code. There are a lot of react libraries which use hooks underneath. For example, the code below is pure (at le

[2022-08-16 07:44] herndlm commented on #43132
Weird, I have a project were I still get this error, even after updating `jest-preset-default` to the latest version. I noticed the path is different though than the one initially reported. Also, we're using TS and have the following custom jest config
[code]

The error is
[code]

Specifying `transformIgnorePatterns` in our custom jest config does not fix it either.

Anybody any ideas? Sorry to bo

[2022-08-16 07:54] t-hamano opened #43250 "register_block_style: `inline_css` not loaded into iframe editor instance"
### Description

The inline style is defined with `register_block_style`, its CSS is not loaded in iframe editor instance.

### Step-by-step reproduction instructions

- Defines the following code in `functions.php`:
[code]

- Open the post editor and insert the button block.
- Apply "Test" style and confirm that a red border has been applied to the button.
- Confirm that the style disappears when

[2022-08-16 08:01] pauljacobson opened #43251 "Accessibility (Table Block): Voice Control commands not recognized when using Table Block in mobile browser on iPad"
### Description

This is a report from a WordPress.com customer who explained as follows:

The customer's site does not support plugins.

### Step-by-step reproduction instructions

To replicate:

Turn on Voice Control
Create a table
Say show grid
Select the upper left-hand corner cell
Say hello world
Hello world will appear in that cell

Issue 1: The only two voice commands that appear to work ar

[2022-08-16 08:03] talldan commented on #43201
If the goal of `useId` is for a unique id, then there's no way it would be guaranteed to generate the same `id` on each render of `save`. If it did, it could just as easily be implemented as a normal function, but it would have to be more like a hashing function, so probably not useful. Ids usually need to be generated in the block `edit` to work correctly.

I can see how `useContext` is frustrati

[2022-08-16 08:06] aristath commented on #43173
Thank you both for the feedback!
I opened https://core.trac.wordpress.org/ticket/56388 and added a patch there :+1:

[2022-08-16 08:08] talldan commented on #43201
Worth mentioning that even then that can cause issues - a unique id might be in a reusable block, and that reusable block could be inserted twice, and then there would be duplicate ids.

The only safe option is a dynamic block.

[2022-08-16 08:45] cbravobernal commented on #41957
Hi @ndiego !

[We did the server side rendering fix for 6.0.1 ](https://github.com/WordPress/wordpress-develop/pull/2921), so I guess we can now address this fix.

[2022-08-16 08:56] cbravobernal commented on #43203
I will take a look at it, as [it was mentioned on this PR](https://github.com/WordPress/gutenberg/pull/40419#issuecomment-1101769218) by @justintadlock .

Also, on that PR, we set H2 as the default one: https://github.com/WordPress/gutenberg/pull/40419/files#diff-f1c094255127dfb8013473531eabaa07f7cd0029bc4bdcb90db3b7745d9c2e25

I also checked Core code, and it puts H2 as a default:
https://github.

[2022-08-16 09:10] carolinan commented on #42978
My expectation is then that it is documented better ;)

[2022-08-16 09:13] jameskoster commented on #42130
Now that new templates are not created blank, the chance of breakages is significantly reduced making this less of an issue.

Still, it would be nice if there was some visual feedback to confirm that templates are published immediately after creation. We can probably look into that separately.

[2022-08-16 09:13] #42130 closed, assigned to nobody

[2022-08-16 09:26] #42676 closed, assigned to afercia

[2022-08-16 09:30] draganescu commented on #43092
This is where the solution in #42128 shines and the discussion in #42485 is a turning point for this: having one way to handle block rendering (with a tokenizer or not) would prevent these mistakes.

Also: tested and confirmed the bug. Wish I'd have tested this earlier :)

[2022-08-16 10:01] Andrew-Starr opened #43260 "Navigation: current-menu-item is missing for non-singular objects"
### Description

When a Navigation Link or a Navigation Submenu is a non-singular object, the `current-menu-item` class is missing.

By non-singular I mean archive links such as Categories or Tags.

### Step-by-step reproduction instructions

Add a Navigation block with a mix of navigation item links to Posts, Pages, Categories and Tags.

On frontend click the links to visit the "page" of each ite

[2022-08-16 10:01] antonyjsmith commented on #40170
I've had some major struggles with this recently and ending up having to remove the the Query Block completely from my _beautiful_ FSE based project and replace it with a shortcode. The inability to modify or filter the block with complex queries to implement things like meta_query is very problematic and will inevitably lead to rather messy hybrid solutions like mine, which ultimately defeats the

[2022-08-16 10:02] jameskoster opened #43261 "Synced blocks: Define them as such in the Inspector"
Related to https://github.com/WordPress/gutenberg/issues/42482 and https://github.com/WordPress/gutenberg/issues/32163.

When you select a template part or reusable block, it might be nice to clarify their global / synced nature – and perhaps outline usage – in the Inspector.

[2022-08-16 10:04] jameskoster commented on #43261
A rough idea:

<img width="413" alt="Screenshot 2022-08-16 at 11 02 53" src="https://user-images.githubusercontent.com/846565/184853300-b5e2cd67-3a79-46d4-ad44-5b9b8037490c.png">

Perhaps clicking the pill could open a modal that explains the concept in mode detail:

<img width="1005" alt="Screenshot 2022-08-16 at 11 04 01" src="https://user-images.githubusercontent.com/846565/184853524-52dd731f-7

[2022-08-16 10:12] ntsekouras commented on #40170
@antonyjsmith I can understand folks need more flexibility and we always try to make things better, but all the help we can get is welcome.

Some of things are quite complex like the meta_query. Can you share the most important things you were missing and had to remove the block?

[2022-08-16 10:15] janw-me commented on #43232
[top-block.webm](https://user-images.githubusercontent.com/1026882/184855012-402ad275-2279-490e-a2cb-f1cc3a39a078.webm)
See this screencast for an example. I think it shows it better then typing it out could ever do.

[2022-08-16 10:32] acicovic commented on #43132
Doesn't seem to work for me either, but maybe I'm missing something.

https://github.com/Parsely/wp-parsely/pull/1027
https://github.com/Parsely/wp-parsely/runs/7855851068?check_suite_focus=true
https://github.com/Parsely/wp-parsely/runs/7855855538?check_suite_focus=true

[2022-08-16 10:59] ndiego commented on #42646
I am closing this out in favor of #43242 as it's a LOT more comprehensive. 🙌

[2022-08-16 10:59] #42646 closed, assigned to ndiego

[2022-08-16 11:03] ndiego commented on #43242
This is great, thanks @aaronrobertshaw just closed out mine in favor of this issue. Let's fill out this table! I'm happy to pick off a few if you want help Aaron.

[2022-08-16 11:19] gziolo commented on #43132
@tyxla, I think the regular expression used should match the last occurrence of the `node_modules` in the path in case we encounter packages installed as deep dependencies like in the case shared above:

`node_modules/@wordpress/element/node_modules/is-plain-obj/index.js`

We don't care here about the `node_modules/@wordpress/element` part.

[2022-08-16 11:31] jameskoster opened #43269 "Display snackbar confirmation upon template creation"
It's not immediately obvious that templates are published immediately upon creation. This can potentially lead to confusion when folks are familiar with working on drafts before publishing.

When you create a new navigation menu via the Navigation block, a Snackbar appears to confirm the menu was created. We can probably do the same thing with templates.

[2022-08-16 11:31] antonyjsmith commented on #40170
I have a custom field - which happens to be a price - which tbh is a trivial query to build and I cannot order the query by that field [I had to come up with a work around just to display the custom field in the first place but that's another issue].

In reality pretty much anything beyond the most basic sorting options are off the table which creates me a lot of problems. Had menu_order been avai

[2022-08-16 11:48] dennisheiden commented on #17246
I don't think clientId is suitable for identification due it's nature of changing, spend hours figuring that out. What we did is generating an ID in the block on create / init and storing it in the attributes and in a class as suffix. Then we were able to check in the block init for duplicates in the editor dom just by doing a .querySelectorAll. For document you might wanna check for the correct r

[2022-08-16 12:50] tyxla commented on #43132
@gziolo I think this should resolve it: #43271. Do we have a clear case where we can test it to be sure?

[2022-08-16 12:53] #43066 closed, assigned to ellatrix

[2022-08-16 12:54] tyxla commented on #43132
@herndlm could you try altering the regex from `node_modules/(?!(is-plain-obj))` to `node_modules/(?:(?!is-plain-obj/).)*$`? and let me know if it works for you? See #43271 where I'm suggesting this. Also cc @acicovic.

[2022-08-16 12:54] mirka commented on #41466
One thing I noticed while working on #43230 is that the current implementation of CustomSelectControl renders its options popover within the component's root wrapper div, instead of a separate popover slot. This means the popover is constrained by the width of the CustomSelectControl's container, as seen in this usage within a grid:

<img width="275" alt="The Appearance dropdown in the Typography

[2022-08-16 12:56] gziolo commented on #42952
#43272 should resolve the issue.

[2022-08-16 12:56] priethor commented on #42229
I think it is still worth exploring having the ToC block in 6.1. I don't think being limited to the Post Editor is a blocker; to me, it's an opportunity to include it earlier with a limited scope and iterate later on it.

[2022-08-16 13:01] herndlm commented on #43132
@tyxla thank you for working on this. I can indeed confirm that it's working fine with your new regex! to be sure I directly replaced it in `node_modules/@wordpress/jest-preset-default/jest-preset.js`

[2022-08-16 13:05] tyxla commented on #43132
Thanks for confirming so quickly, @herndlm!

[2022-08-16 13:06] gziolo commented on #43132
Excellent! Thank you for providing a fix so quickly. I will publish it to npm tomorrow.

[2022-08-16 14:01] javierarce commented on #43023
You are making a good point, and I was probably being too extreme on the number of categories we show. Showing up to three by default seems reasonable, if there are four or more we could just say "See all".

That could also have the benefit of helping with keyboard navigation by reducing the number of elements one would need to go through.

[2022-08-16 14:45] ntsekouras commented on #43144
This is the exact opposite.

The issue described here exists, but it's also true(doesn't keep the edited value) if we have started updating the url and then just click somewhere else and making the LinkControl component unmount.

I think this is the intended behaviour and that's why we have the button to 'commit' the changes in the url input. --cc @getdave

[2022-08-16 15:01] torounit commented on #37071
Background works correctly.

The text color and background class are set to h1 ( ex. `.has-light-green-cyan-color` ). The color does not seem to change because it is overridden by the following style set in the `a` tag.

[code]

Looks like I need to inherit the h1 style.

[2022-08-16 15:02] richtabor opened #43276 "Registered block styles inline_styles not loading within BlockPreview"
### Description

Registered block styles `inline_styles` are not loading within the BlockPreview.

### Step-by-step reproduction instructions

1. Register a block style in Twenty Twenty Two, like the following, to the ` twentytwentytwo_support()` function:
[code]
2. See the block style in the editor on the quote block; it is blue.
<img width="1259" alt="CleanShot 2022-08-16 at 10 56 28@2x" src="ht

[2022-08-16 15:05] richtabor commented on #43276
Very related to #43250 — likely one solution to solve both.

[2022-08-16 15:26] draganescu commented on #37712
Howdy! So far the navigation block is not synchronized with classic menus, it only imports them, transforming a classic menu into a block menu. After the import the two things are not connected.

The navigation block supports synchronized navigation with pages, via the page list block. You can create a navigation block and add a page list block in it. As long as it is not transformed into a list o

[2022-08-16 15:28] nlstm-tm commented on #38127
It took some digging but this is the proper way to do it specifically in the Gutenberg Editor

`wp.hooks.removeFilter('editor.BlockListBlock', 'core/editor/layout/with-layout-styles')`

Do this in your plain JS file enqueued in the Gutenberg Editor

[2022-08-16 15:29] ockham commented on #43203
Ah, that's exactly what I was thinking of (but couldn't remember where to find it).

Ah, indeed! Thanks Carlos!

I feel we need to provide a bit more context:

Twenty Twenty-Two uses the _Post Comments_ block to render comments. However, per WP 6.0, we've deprecated that block in favor of the _Comments Query Loop_ block (which we've since renamed to (just) _Comments_). And in that block, the `One

[2022-08-16 15:30] #43209 closed, assigned to talldan

[2022-08-16 15:47] TJBriggs commented on #43236
@t-hamano -  I appreciate the help!

The .eslintignore ignores the assets directory that has a different set of build tools and a dist folder, but each block that we add will have its own build folder associated with it. For example we group blocks in two different folders, blocks and child-blocks. From there each block we create goes in one of those two folders. I'm still new to the syntax for ig

[2022-08-16 15:48] oandregal commented on #41707
:wave: I've take a look at this and see different goals:

- To allow themes to easily override the styles of the plugin using theme.json

For this, I see https://github.com/WordPress/gutenberg/pull/34180 as a more promising path. It gives a predictable hierarchy:

Note that, unlike for plugins, all of the existing sources are unique (there's only a single WordPress install, a single block type, a

[2022-08-16 15:48] t-hamano commented on #39402
@hagege
Sorry for the delay in addressing this issue.

I have submitted a PR, but for a more fundamental solution, I have submitted [a ticket and a fix patch to the core](https://core.trac.wordpress.org/ticket/56391).

Therefore, I would like to close this issue.

[2022-08-16 15:48] #39402 closed, assigned to t-hamano

[2022-08-16 15:56] t-hamano commented on #43236
I think you need to use a double asterisk:

[code]

The latter error requires a separate investigation, but if all you want to do is exclude files,` .eslintignore` should be sufficient.

[2022-08-16 16:01] ndiego commented on #37423
This issue was reviewed in today's Editor Bug Scrub. We have been unable to replicate using the latest versions of Gutenberg, WordPress, and Grammarly. Therefore, I am going to close this issue. If anyone is able to replicate in the future, please feel free to reopen with additional information.

[2022-08-16 16:01] #37423 closed, assigned to nobody

[2022-08-16 16:01] ndiego commented on #36167
This issue was reviewed in today's Editor Bug Scrub. We have been unable to replicate using the latest versions of Gutenberg and WordPress. Therefore, I am going to close this issue. If anyone is able to replicate it in the future, please feel free to reopen with additional information.

[2022-08-16 16:01] #36167 closed, assigned to nobody

[2022-08-16 16:06] ndiego commented on #39305
I have tested this issue, and everything is working as expected now in the latest versions of Gutenberg and WordPress. Note that the "Text" color does not target the "Links" so they can be styled differently. If you want both to be the same color, you need to set them accordingly.

![image](https://user-images.githubusercontent.com/4832319/184926725-a9d9062e-af10-4ad2-8989-c7bc6ae6f6b5.png)

[2022-08-16 16:06] #39305 closed, assigned to nobody

[2022-08-16 16:08] ndiego commented on #39347
This issue was reviewed in today's Editor Bug Scrub. We have been able to replicate using the latest versions of Gutenberg and WordPress. Therefore, I am going to remove the "Needs Testing" label and add the "Needs Technical Feedback". While this might be considered a bug, fixing this has a large implication on block transforms and inherited styles.

[2022-08-16 16:14] ntsekouras commented on #43161
Should we do something like this: https://github.com/WordPress/gutenberg/blob/trunk/packages/editor/src/components/post-url/index.js#L105?

@noisysocks, @Mamaduka do you remember if there was a reason for not handling these two url in the same way?

[2022-08-16 16:22] annezazu commented on #35503
@tyxla is this something you're still working on? Checking in considering this is one of the issues noted for removing the beta label :)

[2022-08-16 16:23] maffi-git commented on #35612
I also think this should go into a separate template. There are just too many things missing still.
Can't change icon, icon-paddings/margin, color etc.
Can't change breakpoint
I'm just asking myself, how do we let Users edit this?
Two ways come to my mind:

1. select the mobile nav-block-template and do our edits there
2. select preview mobile and adjust block

I haven't tried out style-injection

[2022-08-16 16:27] ndiego commented on #40743
Hi @robglidden, this issue was reviewed in today's Editor Bug Scrub. We have been unable to replicate using the latest versions of Gutenberg and WordPress. Are you able to retest on your end and see if this issue still exists?

[2022-08-16 16:29] ndiego commented on #41055
Using @t-hamano's testing steps, I have been unable to replicate the original issue. @tschortsch are you able to retest using the latest version of Gutenberg to see if this issue still exists?

[2022-08-16 16:29] kathrynwp commented on #31067
I can still replicate this with:

WordPress 6.0.1
Gutenberg 13.8.2 active or inactive
No other plugins active

Twenty Twenty-Two 1.2

[2022-08-16 16:29] draganescu opened #43277 "Undo does not work in the site editor's code editor"
### Description

When editing a template or a template part in code view in the site editor, or the isolated template editor, pressing `Cmd + Z` does nothing. This works in the post editor.

### Step-by-step reproduction instructions

1. on trunk
2. have a block theme active
3. go to side editor
4. open a template or template part
5. switch to code editor
6. edit some of the code
7. Press `Cmd + Z

[2022-08-16 16:31] kathrynwp commented on #31075
Hi @fluiddot @davidcalhoun circling back to see if this is still an issue in the latest version of WP/Gutenberg/the app, or can this issue be closed? Thanks!

[2022-08-16 16:32] ndiego commented on #41414
Hi @jonmarkhall, this issue was reviewed in today's Editor Bug Scrub. Would you be able to provide a complete code snippet that could be used for testing this issue?

[2022-08-16 16:36] kathrynwp commented on #31208
Hi @dsutoyo Would you be able to confirm if this issue is still occurring in the latest version of WordPress, with the latest version of Gutenberg active or inactive?

Also, would you be able to answer the question from the Trac ticket that @desrosj had asked last year:

Thanks for your help!

[2022-08-16 16:37] ockham commented on #43203
Okay, I think there might be a few different solutions. I'll provide a bit more context for starters (as it helps inform those solutions):

The Post Comments block is really just a [thin wrapper](https://github.com/WordPress/wordpress-develop/blob/286fe4ceb02198f968caa33ac1278a6cc63815e4/src/wp-includes/blocks/post-comments.php#L42) around [`comments_template`](https://developer.wordpress.org/refe

[2022-08-16 16:44] bigaru commented on #43201
My main motivation is that I can use the same react component inside the save function and block hydration.  :smile:

It is good to see that there is ongoing progress for a better approach of block hydration:
- #38224
- WordPress/block-hydration-experiments/issues/39

I understand your reasoning

So it's up to you, whether you like to keep this issue open as a reminder.

[2022-08-16 16:59] kathrynwp commented on #31256
Hi @annezazu do you happen to recall what the error said or looked like at this step?

I haven't been able to spot any error in the Site Editor after importing your test file, but maybe I'm not looking in the right place? Here's a screenshot of the Query Loop block in the Index template, for example:

![Editor__beta__‹_Self-hosted_Test_—_WordPress](https://user-images.githubusercontent.com/7662449

[2022-08-16 16:59] #31256 closed, assigned to nobody

[2022-08-16 17:00] apeatling commented on #39336
@andrewserong What's the latest here? I think progress is done in terms of what can make it for 6.1?

[2022-08-16 17:00] apeatling commented on #38167
@ramonjd What's the latest on this one? I think work has wrapped for 6.1 on this?

[2022-08-16 17:19] ockham commented on #43203
I just verified that this works, i.e. in `wordpress-develop`, run

[code]

[2022-08-16 17:29] ockham commented on #43203
Hmm, I just realized that this doesn't really solve the a11y issue when there are no comments though, as there will be only the "Leave a reply" H3 -- right after the post title H1 😕

[2022-08-16 17:39] juanmaguitar opened #43281 "Documentation of useBlockProps: Add examples and clarify some common use cases with its API"
## What problem does this address?

[useBlockProps](https://developer.wordpress.org/block-editor/reference-guides/packages/packages-block-editor/#useblockprops) seems to be one of the most used hooks to create a block but its documentation is not clear and doesn't clarify the potential of this hook

## What is your proposed solution?

Improve the documentation of this hook to clarify things such a

[2022-08-16 17:40] mrwweb commented on #38998
@tellthemachines I'm late to the party, but hopefully not too late!

I wonder whether the answer is simpler than that and more or less answered:

As many people have pushed hard for on #33374, I think there's a general feeling that the centered and constrained alignment should be the default alignment both for top-level blocks _and_ container blocks like Group, Cover, and even Column blocks. So fo

[2022-08-16 17:50] Andrew-Starr commented on #43276
Could this also be related to the inline styles not applied when hovering the style selection button in the sidebar? - https://github.com/WordPress/gutenberg/issues/39944

[2022-08-16 17:53] Andrew-Starr commented on #43250
Possibly related issue - https://github.com/WordPress/gutenberg/issues/39944

[2022-08-16 18:09] kathrynwp commented on #31647
I can still replicate this with:

Safari 15.3
macOS 12.2.1

WordPress 6.0.1
Gutenberg 13.8.2 active or inactive
No other plugins active

[2022-08-16 18:54] ciampo opened #43282 "e2e tests: `framer-motion` animations are not disabled by plugin disabling CSS animations"
## What

The [`disable-animation` plugin](https://github.com/WordPress/gutenberg/blob/8e255202bea01a2ade8bf99f25f1fd1232e852bc/packages/e2e-tests/plugins/disable-animations.php) runs during e2e tests in order to make them "more stable" (see [original PR](https://github.com/WordPress/gutenberg/pull/13769)).

But this set of styles don't have an impact on animations happening via the `framer-motion`

[2022-08-16 19:25] paaljoachim commented on #30777
Just earlier today I added a spacer to a site. Deselecting the spacer looks like this:

It can not be seen.
![Screenshot 2022-08-16 at 13 22 54](https://user-images.githubusercontent.com/5323259/184964593-0e1341b1-8c13-4b9e-9b55-76129fb26d42.jpg)

Selecting the spacer I saw this:
![Screenshot 2022-08-16 at 13 22 58](https://user-images.githubusercontent.com/5323259/184964702-fe63aa19-40fb-452e-b23

[2022-08-16 19:39] kathrynwp commented on #31948
Hi @annezazu – I'm no longer able to replicate this; following your steps, "undo" does not wipe out the template selection anymore

WordPress 6.0.1
Gutenberg 13.8.2 active or inactive
No other plugins active

Twenty Twenty-Two 1.2

I'm going to close this out as fixed, but if you're still able to replicate, please feel free to reopen!

[2022-08-16 19:39] #31948 closed, assigned to nobody

[2022-08-16 19:44] TJBriggs commented on #43236
@t-hamano I will give this a try, but I do think it would be useful to get the .eslintrc file working if possible. We may need to adjust some linting rules, etc. Any thoughts on the error I'm receiving?

[2022-08-16 19:58] kathrynwp commented on #32058
I'm still able to replicate this with a test site on WordPress.com.

Device: iPad Air 4th Gen
iOS 15.6
WP app v. 20.5

![395D5865-16D7-4CCD-988D-F8C0890070AC_1_102_o](https://user-images.githubusercontent.com/7662449/184973462-42f325f2-30b9-4593-82d9-41949dd52a89.jpeg)

[2022-08-16 20:22] kathrynwp commented on #31807
@justintadlock I'm going ahead and closing this as a "maybe later" issue, but if anyone comes across this in the future and would like this looked at again, feel free to comment here.

[2022-08-16 20:22] #31807 closed, assigned to nobody

[2022-08-16 20:32] robglidden commented on #40743
Hi @ndiego, yes issue still exists in WordPress 6.02, both with and without Gutenberg 13.8.2.

Screenshots below: note that "I am content" appears in template editor, but not on rendered page.

template editor:
<img width="1213" alt="template-editor" src="https://user-images.githubusercontent.com/84926617/184978816-972f4ade-1628-4370-86f8-416b448fb66e.png">

<img width="1223" alt="template-editor-

[2022-08-16 20:36] robglidden commented on #40743
Here is template, if it helps.

<div class="wp-block-columns">
<div class="wp-block-column" style="flex-basis:40%">
<h4>Post Title and Excerpt</h4>
</div>

<div class="wp-block-column" style="flex-basis:60%">
<h4>Post Content</h4>
</div>
</div>

<div class="wp-block-query">

<div class="wp-block-columns">
<div class="wp-block-column is-vertically-aligned-top" style="flex-basis:40%">

</div>

<div

[2022-08-16 20:37] robglidden commented on #40743
oops, I guess templates don't upload correctly.

[2022-08-16 21:21] eric-michel commented on #38998
@mrwweb

I proposed the same here: https://github.com/WordPress/gutenberg/pull/42763#issuecomment-1209546994. There was a bit more conversation beyond that you might find informative. It seems `default` unfortunately isn't in the cards, but it does seem that we're getting the `theme.json` layout settings applied to container blocks by default, so at least that will resolve our issues with adopting

[2022-08-16 21:26] eric-michel commented on #38277
@cbirdsong

Funny you mention that, because I just finished doing adding same thing to our theme 😁. I'm glad someone else is using similar methods. I'm always worried I'm missing an obviously better way of handling these things.

[2022-08-16 21:30] eric-michel commented on #39372
@marceloaof that's an incredibly thorough list! Thanks for doing all that work!

Honestly, the broad array of color names used in what is (at the moment) a relatively small number of themes reinforces to me that trying to establish a standard naming scheme for colors isn't going to work and a [color remapping system](https://github.com/WordPress/gutenberg/issues/39372#issuecomment-1156697223) woul

[2022-08-16 21:44] ZebulanStanphill commented on #42229
My primary concern is not the limitations it would have if merged now, but rather the backwards-compatibility burden it would cause later on, if (or most likely, _when_) the implementation changes. I've already seen several recent cases of core blocks having to make a bunch of compromises due to an inability to update existing static-rendered blocks on the front-end. For example:

- The reverted a

[2022-08-16 22:29] #34795 closed, assigned to nobody

[2022-08-16 22:31] ciampo commented on #41390
Closing in favour of https://github.com/WordPress/gutenberg/issues/42994

[2022-08-16 22:31] #41390 closed, assigned to andrewserong

[2022-08-16 22:56] ramonjd commented on #38167
Aside from any incoming stability/code enhancement tweaks or bug fixes, there are no further plans to extend functionality until after 6.1.

The focus will be to assist with 6.1 migration and related core patches.

## Merged plugin features that are planned for WordPress 6.1

Following the [Block editor styles: initiatives and goals](https://make.wordpress.org/core/2022/06/24/block-editor-styles-i

[2022-08-16 23:14] #43199 closed, assigned to titusdmoore

[2022-08-16 23:15] noahtallen commented on #43199
By the way, this is now available in wp-env v5.2.0

[2022-08-17 01:28] t-hamano commented on #43236
This will be personal advice, but I will provide a sample of `.esjintrc` in my repository.
https://github.com/t-hamano/flexible-table-block/blob/main/.eslintrc.js
https://github.com/t-hamano/flexible-spacer-block/blob/main/.eslintrc.js

Also, I don't think this issue is a Gutenberg bug, so please allow me to close this issue 🙂

[2022-08-17 01:28] #43236 closed, assigned to nobody

[2022-08-17 01:32] annezazu commented on #43269
Related: https://github.com/WordPress/gutenberg/issues/31565

[2022-08-17 01:43] annezazu commented on #43090
Can replicate with Gutenberg Version 13.8.2. This feels like a pretty bad bug considering. Going to flag in #core-editor.

[2022-08-17 02:01] annezazu commented on #31256
This is SUCH an edge case and I'm going to keep it closed, since now the placeholder at least shows up:

https://user-images.githubusercontent.com/26996883/185018018-f2d88b9f-7b80-48d8-9d98-94962859d428.mov

Thank you for triaging!

[2022-08-17 02:20] cuemarie opened #43292 "[Block] Paragraph - When added as a Widget, missing Justify and Underline tools"
### Description

A Paragraph block added to a widget area via the Customizer is missing 2 options from the floating toolbar's **More** menu: `Justify`, and `Underline`. These options are available when a Paragraph block is added to a page or post on the same site.

### Step-by-step reproduction instructions

1. Activate a non-FSE theme that offers Widget areas, such as Twenty Twenty-One
2. Under A

[2022-08-17 02:37] noisysocks commented on #34345
Just doing a quick audit of how the Typography section in Global Styles looks compared to [the design](https://www.figma.com/file/oEkcAyhIvPFMVEAO8EImvA/Global-Styles?node-id=2920%3A66093). I'll then try to fix some of this up.

Designs:

| Panel | Font size variations |
| - | - |
| <img width="600" alt="Global styles typography design" src="https://user-images.githubusercontent.com/612155/1850206

[2022-08-17 02:38] andrewserong commented on #39336
Thanks for the ping @apeatling, yes I think progress is nearly done for what can make it for 6.1. The main work to consolidate and improve the output for base layout styles and re-enable block spacing at the block level in global styles is complete. There are a couple of tidying up tasks that still need to be completed. Here's an update:

***Update: 2022/08/17:***

Recently merged PRs:

* https://

[2022-08-17 03:00] glendaviesnz commented on #43090
Had a quick look to try and see when it was introduced, but was able to replicate as far back as 12.9, so just isolating the cause and fixing in trunk is probably going to be quicker/easier than a git bisect/blame. I probably won't have time to have a closer look until tomorrow, so if someone else wants to take a look in the mean time go for it.

[2022-08-17 03:46] talldan commented on #43201
Interesting. Good to hear you're exploring this. Have you found workaround for the `renderToString` problem? I do think hydration would be a good reason for exploring a fix. I don't know if it's on the radar of the contributors that have discussed block hydration so far (cc @michalczaplinski), and I don't know what priority it would be. It may be something that's still a low priority for the maint

[2022-08-17 04:22] tellthemachines commented on #42978
Yes, it should be documented! I'm not sure whereabouts we should mention it though - given this is behaviour isn't in core yet. There will definitely be a dev note for the upcoming release, and then I guess it can go in the handbook together with the rest of the theme.json stuff?

[2022-08-17 04:39] richardmorrison commented on #27835
I am also still able to replicate this with:

WordPress 6.0.1
Gutenberg 13.9.0
Only Hello Dolly active

Disabled the Embed blocks via the vertical ... menu for Gutenberg on page editor, and Preferences, then unchecked the blocks.

<img width="1221" alt="Screen Shot 2022-08-17 at 4 37 11 PM" src="https://user-images.githubusercontent.com/61720320/185035905-1933c939-af54-4dce-9b66-47c60a7b5b04.png">

[2022-08-17 04:41] noisysocks commented on #34345
I'm trying to work out whether these two controls are supposed to be in Global Styles or not.

<img width="600" alt="Global styles typography design" src="https://user-images.githubusercontent.com/612155/185036105-1b594ef6-5804-4592-8658-5952dc2252cd.png">

I can see that _Letter spacing_ was added to block settings but not Global Styles in https://github.com/WordPress/gutenberg/pull/31118. Not su

[2022-08-17 04:51] #42952 closed, assigned to gziolo

[2022-08-17 05:10] tellthemachines opened #43295 "Duotone filter also applies to border on Image block"
### Description

If an image block has a border and a duotone filter applied, the filter also alters the border color. This happens because both duotone and border styles are applied to the `img` element.

One possible solution would be to add the border styles to the figure instead, and to make sure the image doesn't break out of any border radius we could add `position: relative; z-index: -1` to

[2022-08-17 05:20] talldan commented on #43191
It turns out I didn't need this to fix the issue with legacy widgets (#43297).

But I can still push a PR that refactors this.

[2022-08-17 05:26] talldan commented on #43191
Nearly forgot, I looked at how ariakit's popover works.

It seems like that uses a `fitViewport` prop, which I guess is roughly the same as `resize` (though I don't know if 'viewport' is correct, but maybe that's just a nitpick):
- https://github.com/ariakit/ariakit/blob/main/packages/ariakit/src/popover/popover-state.ts#L480-L487

And there's a `flip` prop:
- https://github.com/ariakit/ariakit/bl

[2022-08-17 05:31] mtias commented on #34345
They should be available for headings in the global context

[2022-08-17 05:47] talldan commented on #43282
Puppeteer does have a way to emulate reduced motion, but prior attempts to use it didn't work - https://github.com/WordPress/gutenberg/pull/18453.

There have been quite a few updates of puppeteer since, so things may be different.

[2022-08-17 05:54] mirka commented on #34345
As discussed in #42718, this heading level switcher needs to have `tabpanel` semantics. The easiest way would be to use the existing TabPanel component, but design-wise it won't fit seven items in a single row.

One possibility is to make a new TabPanel component (or style variant) that looks like a 32px height ToggleGroupControl — though there [hasn't been a confirmed decision or prioritization](

[2022-08-17 05:57] talldan commented on #43144
@ntsekouras Oh, I think it's slightly different to what you described. I did misread the steps originally and misinterpreted the video because it shows the other bug.

The issue is that when you're typing a URL, if you then click 'Open in New Tab' without submitting, edits to the URL are removed. (after re-reading, this is exactly what was reported 🤦‍♂️)

Still seems to be a bug in `trunk`. Here's

[2022-08-17 06:03] jasmussen commented on #34345
The tab-panel that looks like a segmented control, if it's super quick to build, seems like we should just knock it out! But with a freeze in a few weeks, of course it should have lower priority than anything that needs to go in 6.1.

[2022-08-17 06:56] ciampo commented on #43191
Thank you for the exploration!

That would be great!

[2022-08-17 07:00] ntsekouras commented on #43144
That's what I said, but it occurs with every attribute change(inspector tools) and if it's unmounted.

https://user-images.githubusercontent.com/16275880/185055095-c3c0fb2e-ebab-449b-b7fd-4e8df657409b.mov

[2022-08-17 07:04] talldan commented on #43144
Ah, ok, I thought you just meant clicking outside the popover.

[2022-08-17 07:08] talldan commented on #43292
@cuemarie Justify and Underline aren't formatting options in WordPress core, these are the options that are provided in the post editor and other editors by default:
![Screen Shot 2022-08-17 at 3 05 27 pm](https://user-images.githubusercontent.com/677833/185056198-1c08542c-9186-458b-9273-125dc66858a9.png)

You're possibly seeing these added by a plugin, it may be a bug that needs to be solved in t

[2022-08-17 07:08] #43292 closed, assigned to nobody

[2022-08-17 07:21] kajalmultidots commented on #38651
Hello @skorasaurus,

I am not able to reproduce this issue, I think it has been resolved with the latest Gutenberg plugin.

Thanks

[2022-08-17 07:21] #38651 closed, assigned to nobody

[2022-08-17 07:34] ciampo commented on #43282
Should we be try to emulate reduced motion in addition to "force-disabling" all CSS animations, or as an alternative?

The original intention of the e2e tests plugin was to disable all animations in order to make e2e tests "more stable" — if that intention still holds true today, simulating reduced motion likely won't give the same results (some animations may still be happening) and we may need t

[2022-08-17 07:45] t-hamano commented on #39187
I have tested this issue again and it appears that this problem occurs with the post-title block alone.

The simplest procedure to reproduce the issue is described below.

1. Activate block theme (Twenty Twenty Two).
2. Create a page for the posts page.
3. From Settings > Reading, set that page as Posts page.
4. Open the site editor.
5. Open *Home* template.
6. Switch to the code editor and enter

[2022-08-17 07:52] jasmussen commented on #43023
I still love the colophon view for this, and the pre-publish flow could be the right place for it.

One thing I'd love for us to test out before we go too much further in implementation, is how this looks with plugins that add items to this post-publish dialog. Jetpack and Yoast come to mind:
<img width="419" alt="Screenshot 2022-08-17 at 09 50 01" src="https://user-images.githubusercontent.com/12

[2022-08-17 08:08] talldan commented on #34345
Has there been an accessibility check on making it a TabPanel? If it changes a value, my instinct would be that TabPanel is the wrong thing. Usually tabs don't have such an effect, they're just a way to navigate through information. It may need to be another component that looks like a TabPanel.

[2022-08-17 08:20] talldan commented on #43282
Possibly both? My main concern is test reliability, which is what makes me think both.

I think I've seen this discussion before somewhere (but I wasn't participating). For Puppeteer, the tests are already regularly flakey, and historically written in a way where they expect elements to be visible instantly. It may not be realistic to turn all animations on, a lot of tests would need to be updated

[2022-08-17 08:39] fluiddot commented on #38407
Updated the parent post with:

### 🛠️ Recently fixed or improved
++ [Fix failing editor block insertion test on Android](https://github.com/WordPress/gutenberg/pull/43080)

[2022-08-17 08:42] mirka commented on #34345
In this case in the Global Styles (Typography ▸ Headings), it isn't changing a value, just flipping between views. (It _does_ look like a value selector on first sight, which is exactly why we need to differentiate 😄)

[2022-08-17 08:59] jameskoster commented on #30777
It would be good to fix the hover state first and foremost. Displaying spacers otherwise feels like a step away from wysiwyg, I'm not convinced we should go that direction.

[2022-08-17 09:26] Thelmachido commented on #32221
I am not able to reproduce this, as shown in the screenshot below.  I will be closing this issue for now.

<img width="645" alt="Untitled 2" src="https://user-images.githubusercontent.com/41231764/185084827-d5d8b4c1-3c07-4be7-8b41-bd0bef4ceff0.png">

WordPress - 6.0.1

Gutenberg  - 13.8.1

Theme - Twenty Twenty Two

[2022-08-17 09:26] #32221 closed, assigned to nobody

[2022-08-17 09:30] Thelmachido commented on #32415
Hi @lukecarbis

As there hasn’t been any movement on this issue since it was opened, I’ve marked it as stale. Let me know if you think it should be kept open. Thanks!

[2022-08-17 09:49] oandregal commented on #41707
On the topic of using `theme.json` for providing template metadata (titles, etc) I just remembered that there was some conversations about this and how counter-intuitive that felt. There was an exploration to place this metadata in the file itself at https://github.com/WordPress/gutenberg/pull/38984

[2022-08-17 09:52] jameskoster commented on #34345
I agree with this. If we have 'tabpanels that look like segmented controls' and/or 'segmented controls that look like tabs' then we risk creating an unpredictable UX. A style variation for tabs that is 'secondary' in terms of visual hierarchy might be good to explore. This would be useful in situations where we have nested tabs as well.

[2022-08-17 10:00] tyxla commented on #35503
Yes @annezazu  👍 I'm planning to do some further experimentation and refinement.

[2022-08-17 10:12] Thelmachido commented on #32428
I'm still able to replicate this, moving the Angle slider quickly from left to right multiple times leads to the number changing rapidly.

https://user-images.githubusercontent.com/41231764/185093212-d6803c58-f8ec-4af5-9845-aa6098fcf71b.MP4

- Device: iPhone 11
- Operating system: iOS 14.8.1
- WordPress App: 20.4
- Theme: Twenty Twenty Two
- Gutenberg: 13.8.2
- WordPress: 6.0.1

[2022-08-17 10:24] geriux commented on #43149
Hey @mkevins 👋  thank you for investigating the issue! your findings will be helpful when we continue this effort.

I will create a PR to disable FastImage on Android while we work on a fix for this.

Thanks again!

[2022-08-17 10:30] Thelmachido commented on #32863
I am still able to replicate this, as shown in the video below:

https://user-images.githubusercontent.com/41231764/185096884-ebf8f509-f136-4f78-89b1-feb367fc338f.mov

- WordPress: 6.0.1
- Gutenberg: 13.8.2
- Theme: TT2
- Operating System: macOS Big Sur 1.2.3
- Browser: Chrome 104

[2022-08-17 10:41] Thelmachido commented on #32864
I'm still able to reproduce this,

- I added a paragraph "The sun is out, we will go to the beach" within the reusable block
- I added another paragraph "I like mangoes" outside the reusable block

The paragraph I added within the reusable block isn't showing up as shown in the short video below:

https://user-images.githubusercontent.com/41231764/185098945-53f47336-2c9a-4239-8ca1-33fbc89382da.mov

[2022-08-17 11:18] bigaru commented on #43201
I don't want to clutter my code with if-else. Probably the simplest solution is, to render an empty `<div>` in save function and later on to call `ReactDom.render` instead of `hydrate` with a js-script.

Maybe we could create a custom eslint plugin for that.

[2022-08-17 11:43] t-hamano commented on #39187
I have looked into this issue more deeply and expect the problem to be due to the context (`postId`).
Of the blocks that use postId as context, the following blocks are affected by this issue, as far as I can tell.

- `core/avatar` (Avatar)
- `core/comments-title` (Comments Title)
- `core/comments-pagination-next` (Next Page): Not displayed
- `core/comments-pagination-numbers` (Page Numbers): Not

[2022-08-17 11:56] maplerock commented on #16986
This is also an issue when copying into the page title.

<img width="1075" alt="Screenshot 2022-08-17 at 12 56 42" src="https://user-images.githubusercontent.com/8367270/185112628-73a55519-1614-4a98-9d49-ff620831938e.png">
.

[2022-08-17 12:36] priethor commented on #43090
Thanks @glendaviesnz , it would be great if you could have a look at it 🙂

[2022-08-17 13:00] jasmussen commented on #41379
The work here is inspiring! In the hope that we might be able to take some smaller steps towards this, I tried a couple of remixes to Saxon's design, which feature varying degrees of changes. Potentially one of these might be simpler to implement as a starting point, on to better things.

First, the same general mockup but using mostly unchanged components:
<img width="1520" alt="Inserter, base" s

[2022-08-17 13:37] dcalhoun commented on #31075
Yes, I am able to reproduce this on a Samsung Galaxy S20 (Android 12) with WP 20.5.

[2022-08-17 13:49] t-hamano commented on #39187
I believe this is a core issue.

In the block theme, the page IDs do not appear to be set correctly in the following locations:
https://github.com/WordPress/wordpress-develop/blob/002ca62974f289b9490dbf6de2601847413a17c8/src/wp-includes/blocks.php#L880

[2022-08-17 14:10] Thelmachido commented on #32987
Hi! As there hasn’t been any movement on this issue in a year, I’ve marked it as stale. Let me know if you think it should be kept open. Thanks!

[2022-08-17 14:13] #43098 closed, assigned to mirka

[2022-08-17 14:20] #43187 closed, assigned to nobody

[2022-08-17 14:22] Humanify-nl commented on #39187
Great investigation!

As far as I can remember it is hard to get post ID on the site editor side in the template screen. This might be why this is not (yet) working as intended.

This might be related to issue: #42810, as this is a similar case where not being able to get post_id is mentioned. [See comment there, third paragraph](https://github.com/WordPress/gutenberg/issues/42810#issuecomment-119

[2022-08-17 14:26] spacedragn commented on #40288
I disagree – this is a High Priority need.

After testing this feature, I’m stuck with multiple registered and enqueued webfonts that point to dead links. As an experienced dev, I have no clue how to remove these from the frontend. I’ve spent over 5 hours pouring over docs and issues here to discover this one ticket. Others must be facing this same frustration.

Is there any workaround to purge th

[2022-08-17 14:37] hellofromtonya commented on #41479
Tracking the block level typography consistency effort https://github.com/WordPress/gutenberg/issues/43242

[2022-08-17 16:48] hellofromtonya opened #43333 "[PHP Tests] Increase parity with WordPress Core"
This is an epic ticket to track ongoing roadmap to increase the PHP test suite parity with WordPress Core.

Updates:
* 17 Aug 2022: Initially created.

## Scope

WordPress Core' PHP tests:

- Run against all supported PHP versions (currently 5.6 to 8.1)
- [Use PHPUnit Polyfills](https://make.wordpress.org/core/2021/09/27/changes-to-the-wordpress-core-php-test-suite/) to match the PHPUnit and PHP v

[2022-08-17 17:12] ntsekouras commented on #43090
Thanks for reporting this @mmtr!

What do you mean by `V2 block`?

**For the below text pay attention to the difference of `Buttons`(plural) and `Button` block.

After digging a bit, in order for this to happen, the inserted block needs to satisfy a couple of conditions:
1. Have innerBlocks and use [templateInsertUpdatesSelection: true](https://github.com/WordPress/gutenberg/blob/trunk/packages/bl

[2022-08-17 17:20] gziolo commented on #43132
New `8.5.2` version of `@wordpress/jest-preset-default` is available on npm. I hope it resolves the issue reported.

[2022-08-17 17:23] #43132 closed, assigned to nobody

[2022-08-17 18:06] lwangdu opened #43336 "Site title font weight doesn't after updated Gutenberg 13.9"
### Description

After I updated Gutenberg 13.9 site title font weight doesn't work. When I change the font weight to regular or bold they stay same both in the site editor and front end.

### Step-by-step reproduction instructions

Add site title and change font weight to regular or bold the font weight stay the same in the site editor and front end.

### Screenshots, screen recording, code snipp

[2022-08-17 18:41] exstheme commented on #12684
+1 also. Does anyone knows - is this feature will be implemented some day?

[2022-08-17 18:49] akasunil commented on #12684
Added link option in cover block PR [41908](https://github.com/WordPress/gutenberg/pull/41908)

[2022-08-17 18:58] exstheme commented on #12684
Dear @sunil25393 !
Thank you for your quick reply but it seems that this is not resolving current issue.
We want to ability to add a custom link for whole cover image so it could be clickable. But as I see - your PR adds an ability to insert custom cover background from custom URL.

Sorry if I misunderstood you.

Best regards!

[2022-08-17 19:55] annezazu commented on #16986
@maplerock does this happen with Gutenberg 13.8.2?

[2022-08-17 20:51] ghm-jpeterman commented on #27835
I'm able to reproduce this as well using Wordpress 6.0.1.

The core/embed plugin is disabled using the `allowed_block_types_all` filter. The following blocks are active:
[code]
**I can copy and paste an http link**
[code]

**I cannot copy and paste an https link**
[code]

**I cannot copy and paste text that has a link on it's own line**
[code]

**I can copy and paste text with a link on it's own l

[2022-08-18 02:06] carolinan commented on #43261
I am hesitant about introducing yet another term, "Synced blocks".  Can the features of these blocks be described without it?
I feel like "Used in 4 X" Where the X represents the actual item -posts, page, template etc, would be easier to understand?

We should consider that this is also true for the site title, tagline, logo/site icon.

[2022-08-18 02:17] carolinan opened #43347 "Allow styling blocks inside template parts with theme.json"
## What problem does this address?

As contributors are starting to [submit style variations for Twenty Twenty-Three](https://github.com/WordPress/twentytwentythree), it is becoming more apparent how limiting it is to not be able to style the site header and site footer using theme.json.

Because the template part has no block supports for colors, spacing etc, and all styles are on the inner block

[2022-08-18 02:26] t-hamano commented on #43336
I was unable to reproduce it.
The font weight was applied correctly from both the block and global styles.
The same is true on the front end.

Is my test procedure wrong?

![site-title](https://user-images.githubusercontent.com/54422211/185279235-6776c95f-481e-4df7-bdcd-282e7d21a1cd.png)

[2022-08-18 02:30] slpy9 opened #43348 "No default padding for Page List inside Navigation Block [Gutenberg 13.9.0]"
### Description

The default padding on page list sub-menus disappeared after updating to Gutenberg 13.9.0, I believe it's related to https://github.com/WordPress/gutenberg/pull/42967.

### Step-by-step reproduction instructions

1. Create pages with hierarchy (parents)
2. Add a navigation block
3. Add page list to the navigation block

### Screenshots, screen recording, code snippet

_No response

[2022-08-18 03:06] alaczek commented on #34909
I'm experiencing a similar issue with Social Icons and Paragraph block nested inside the Row block.

Editor view:
<img width="675" alt="image" src="https://user-images.githubusercontent.com/4550351/185283250-08623083-156b-4212-bf24-3abd67d724c6.png">

Front end:
<img width="680" alt="image" src="https://user-images.githubusercontent.com/4550351/185283322-4dbef0c9-54e5-4e55-bdd4-c4d308cbee8a.png">

[2022-08-18 03:19] talldan commented on #43348
cc @jasmussen

[2022-08-18 04:03] glendaviesnz commented on #43090
I didn't have much time to look at this today, but the PR that introduced the focus criteria for closing [is here](https://github.com/WordPress/gutenberg/pull/24429/files#diff-1c34f42ea9b48a189e8749621eaf9672c4637ee35a26acb807499a6374e2f235R86), and I confirmed that switching back to a simple toggle fixes the issue of it not closing, but reintroduces the focus trap issue that this PR fixed.

[2022-08-18 04:10] t-hamano opened #43352 "Tracking: Some keyboard shortcuts don't work on Windows"
### Description

I have discovered that some keyboard shortcuts do not work in Windows.
Also, some of them work and some do not, depending on the editor.

In this issue, I would like to make sure that all shortcuts work correctly in all editor instances in Windows.
This could include issues that depend on personal environments, so **I would like to ask other Windows users to test this.** 🙏

## Ite

[2022-08-18 04:50] glendaviesnz commented on #41491
Closing this in favour of https://github.com/WordPress/gutenberg/issues/39371

[2022-08-18 04:50] #41491 closed, assigned to nobody

[2022-08-18 05:34] gziolo commented on #43242
I see a big number of PRs adding a similar changes to core blocks:

[code]

I'm all in for consistency, so this is a great effort that I greatly appreciate. Excellent work championing that!

---

I have two questions related to the changes proposed:
1. Should we promote all experimental typography options to stable now that they are going to be used with most of the blocks?
2. Are there any differ

[2022-08-18 05:52] aaronrobertshaw commented on #43242
Thanks for checking in on this @gziolo 👍

🤞 I hope the number isn't too many, too fast. We decided that it would be best to split all the adoptions up so each could be treated on its merits and any problem blocks didn't derail the whole process.

Those are great questions.

This has crossed my mind and was on the radar. I've explicitly added it within the final phase of these [design tool consiste

[2022-08-18 05:56] noisysocks commented on #36735
@jasmussen: It's a good idea but we don't use a tools panel in Global Styles. We want to show _Letter case_ in Global Styles for headings, see https://github.com/WordPress/gutenberg/issues/34345#issuecomment-1217479784. Any ideas on how to unset the value there?

<img width="289" alt="Screen Shot 2022-08-18 at 15 52 37" src="https://user-images.githubusercontent.com/612155/185304231-2e5580b6-57bf-

[2022-08-18 05:58] johnlomat commented on #21589
Will this be implemented in the future?

[2022-08-18 06:03] #41142 closed, assigned to jasmussen

[2022-08-18 06:46] tellthemachines commented on #43140
I looked into this a bit today, and I think we could add a `render_block_data` filter in `layout.php` along these lines:

[code]

Needs a bit of thinking through, especially for the possibility of the inner wrapper not having classnames at all. But this might be a way to keep the logic layout-specific and not add any extra cruft to inner block markup.

[2022-08-18 06:50] jasmussen commented on #36735
Right! I don't mean to be facetious with the following GIF showing that you can just click the toggled state to untoggle it again:

![unset](https://user-images.githubusercontent.com/1204802/185318589-8d188793-8611-41f7-a080-c7fc0cc07f1f.gif)

I genuinely believe we shouldn't optimize too hard for reset buttons. Bold text you'd unset the same way, appearance you can set back to default, line-heigh

[2022-08-18 07:33] mmtr commented on #43090
A block registered using [the block API Version 2](https://github.com/WordPress/gutenberg/blob/trunk/docs/reference-guides/block-api/block-api-versions.md#version-2--wordpress-56). That could have been a wrong assumption from my end though, since I couldn't reproduce this on blocks using the Version 1, but maybe because I was missing the other conditions you noted.

[2022-08-18 08:05] jasmussen commented on #43348
Thank you for the report + ping, I have a fix in #43358.

[2022-08-18 08:11] mirka commented on #36735
@noisysocks What I understood was that we want to lean into the central reset mechanisms, which is this one in Global Styles:

<img width="275" alt="Actions dropdown menu in Global Styles with the Reset to defaults option" src="https://user-images.githubusercontent.com/555336/185343910-a42d9c96-e979-44f7-b3f7-06b081b73003.png">

If we were to improve the flow, I think that menu button could be spl

[2022-08-18 08:46] jameskoster commented on #41379
Nice work Joen. I like your first concept because therein blocks and patterns feel like they're on equal footing, which could be important as patterns become more prevalent in different editing flows. It's hard to picture how using the accordions in this context would feel though. Maybe the pattern section should also be collapsible so that you can concentrate on blocks alone? It might be good to

[2022-08-18 08:53] jameskoster commented on #43261
I'm sure there's room to explore the copy! It might be tricky to use absolute terms though, since things like Reusable Blocks might appear in posts, pages, templates, template parts... the string might get a bit long 😅

Good point. Navigation too.

[2022-08-18 09:20] jasmussen commented on #41379
Definitely seeking an iterative approach here, just to see if any of the wonderful ideas can be extracted to land sooner. Even something like this which keeps the inserter exactly as it is, but adds the split-view & categorized panel could be a starting point:

<img width="1520" alt="Inserter, minimal" src="https://user-images.githubusercontent.com/1204802/185358708-695bf5fc-f2d0-4b03-a7de-436483c

[2022-08-18 09:24] bph commented on #43242
Added `needs dev note ` label in case typography supports makes it into 6.1 - this table is very helpful. 🙂👏

[2022-08-18 09:25] jameskoster opened #43364 "Improving placeholder visibility"
The placeholder that has been implemented for the Featured Image, Site Logo, Cover, and soon Image block is a nice step forwards:

<img width="703" alt="Screenshot 2022-08-18 at 10 07 47" src="https://user-images.githubusercontent.com/846565/185356970-9f658ac3-ef99-4b40-8341-39cbf0db5713.png">

But there are a couple of scenarios where clarity can be an issue. For example if it appears on a noisy

[2022-08-18 09:35] ciampo commented on #42753
Flagging here two related issues with the current `Tooltip` component:

- https://github.com/WordPress/gutenberg/issues/43129
- https://github.com/WordPress/gutenberg/pull/43335

[2022-08-18 09:40] ockham commented on #43333
I wonder if we can leverage [reusable workflows](https://github.blog/2022-02-10-using-reusable-workflows-github-actions/) to basically, well, re-use `wordpress-develop`'s [`phpunit-tests.yml`](https://github.com/WordPress/wordpress-develop/blob/5aee8db5a2281e48aaa8a008da29c5e39f4b58b4/.github/workflows/phpunit-tests.yml) 🤔

cc/ @desrosj 👋

[2022-08-18 10:03] mtias commented on #41379
I like this one:

![](https://user-images.githubusercontent.com/1204802/185140173-deb7255e-53af-4447-9a3c-6644b33806f3.png)

I wouldn't want to touch how block are presented as that adds a lot more trouble. There's value in bringing the display and browsing improvements to the pattern section first.

The row of block shortcuts in the header is a nice thing to try because it can make quickly adding

[2022-08-18 10:07] mtias commented on #41142
Nice, thanks for the tweaks. Now we need to get the "constrain image to dimensions / aspect ratio" issue sorted and we'd be in a great place :)

[2022-08-18 10:09] mtias commented on #23124
Closing as done, we can continue to refine these, particularly the hover affordances — it'd be nice if the moment we detect a dragging file event all the placeholders on the page switched to read "you can drag here".

[2022-08-18 10:09] #23124 closed

[2022-08-18 10:25] mtias opened #43369 "New Block: Slider Container (CSS based)"
_Exploration. Related #25501 #25502._

These types of blocks are a very common request that we have stayed out of tackling in core for multiple reasons — primarily the reliance on JavaScript on the front-end for most implementations. The reality now, however, is that the CSS spec has added great new native tools with good browser support to try to accomplish some of these displays without relying

[2022-08-18 10:48] ndiego commented on #43242
I would love to see something like this for both theme.json and block.json. A shorthand that allows you to turn everything on or everything off rather than having to specify each setting individually.

[2022-08-18 11:41] mcsf commented on #42894
Could this become a blocker for 6.1 if not addressed? @mtias @priethor

[2022-08-18 12:00] dennisheiden opened #43378 "[accessibility] Remove aria labels from non interactive blocks like spacer block."
Please have a look into the specification here:
https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Attributes/aria-label

"_The aria-label attribute defines a string value that labels an interactive element._"
and
"_Not all elements can be given an accessible name. Neither aria-label nor aria-labelledby should be used with non-interactive elements or inline structural role such as wit

[2022-08-18 12:18] jasmussen commented on #43364
#43379 makes great progress in making this work. Let me know what you think!

[2022-08-18 12:46] Azragh opened #43381 "Add font size support to file block or remove default font size"
### Description

With v13.9.0 active, the file block gets a default font size of .8 em, which wasn't there before:

[code]

This should be either removed or put into the users hand with the font size setting. Adjusting/overwriting this style on all the websites I used file blocks so far would be very tedious.

### Step-by-step reproduction instructions

1. Create some file blocks
2. Activate Guten

[2022-08-18 12:52] ockham commented on #41957
I still get the empty `<div />` when disabling Comments for a post:

![image](https://user-images.githubusercontent.com/96308/185398843-6b1b5eec-f6a3-4738-b68a-4ced12a2bc2d.png)

I think the checks are only preventing the empty `<div />` in legacy mode, as we're [rendering the static block](https://github.com/WordPress/gutenberg/blob/d00d939f8b505f332f57d9862f00d85419178d74/packages/block-library/

[2022-08-18 13:04] gziolo commented on #43086
I have an alternative proposal that should resolve the issue in WordPress core for all style and script types: https://github.com/WordPress/wordpress-develop/pull/3108.

[2022-08-18 13:19] ockham commented on #41957
Okay, I got a fix. I'll file a PR.

[2022-08-18 13:31] via-lars opened #43384 "default Duotone disabling by theme.json not applied by Site Editor"
### Description

disabling default duotones in theme.json as per https://developer.wordpress.org/block-editor/reference-guides/theme-json-reference/theme-json-living/:

[code]

still lets them be offered by Site Editor:

see screenshot

note: the theme.json in use by Site Editor in above screenshot also disables default gradients.

### Step-by-step reproduction instructions

1. disable defaultDuot

[2022-08-18 13:36] via-lars opened #43385 "disabled default color features still output as CSS variables in DOM"
### Description

disabling color features such as default pallette by theme.json lets their values still be output in DOM by WordPress as CSS variables

### Step-by-step reproduction instructions

1. ```{
    "$schema": "https://schemas.wp.org/wp/6.0/theme.json",
    "version": 2,
    "settings": {
        "color": {
            "defaultPalette": false,
            "defaultGradients": false,

[2022-08-18 13:52] lflorent opened #43388 "wp-env - add support for proxies"
## What problem does this address?
wp-env doesn't work with proxies (I'm behind a corporate socks5 proxy).
I tried with [proxychains-ng](https://github.com/rofl0r/proxychains-ng) (in a WSL2 Debian env) but it failed with wp-env.

## What is your proposed solution?
I managed to get it works with installing [global-agent](https://github.com/gajus/global-agent) package (like recommended [here](https:

[2022-08-18 14:10] lwangdu commented on #43336
Thanks for checking on this issue. @t-hamano That's very wired. Here is the screen shot. The font weight set 700 but I don't see bold in the editor. Do you know what overwriting the style?
![Screen Shot 2022-08-18 at 7 05 53 AM](https://user-images.githubusercontent.com/24829573/185415907-45d86c3f-d925-4655-983e-9fc225cb7560.png)

[2022-08-18 14:11] skorasaurus commented on #43385
Hi,

Thank you for your request.

The default color palette is still loaded so those variables can by other plugins in the WordPress Ecosystem (as explained at https://github.com/WordPress/gutenberg/issues/24684#issuecomment-900083774)

Discussion is ongoing in https://github.com/WordPress/gutenberg/issues/29568 and you can share your comments in there.

Regarding the removal of the duotones and g

[2022-08-18 14:11] #43385 closed, assigned to nobody

[2022-08-18 14:17] geriux opened #43390 "Fix Color Settings when using RTL language (Android)"
## Description
While beta testing it was reported that when using RTL languages the color settings of a block weren't displaying as expected. This only happens on **Android**.

## Step-by-step reproduction instructions

**Precondition**: Use an Android device and an RTL language.

- Using the main Android app and create a new post
- Add a block that has color customization, e.g Paragraph block
- O

[2022-08-18 14:23] skorasaurus commented on #43378
Hi,

Thanks for reporting and your concern about accessibility.

The spacer block uses the [aria-hidden attribute](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Attributes/aria-hidden), not aria-label.

That said, the spacer block probably does not need the aria-hidden label, it is superfluous and there is an issue to track that at https://github.com/WordPress/gutenberg/issues/30

[2022-08-18 14:23] #43378 closed, assigned to nobody

[2022-08-18 14:34] t-hamano commented on #43336
You are using a template part called `header-large-blue`, but I think it is not included in TT2.
Does font-weight work when you insert the site title block in the default template part or elsewhere in the content?

If so, could you provide the HTML for the entire template part, as the problem may be due to a combination of blocks?
If you select the entire block and copy it, the HTML should be save

[2022-08-18 14:50] #43364 closed, assigned to jasmussen

[2022-08-18 15:33] t-hamano commented on #42542
If this block is expected by many, can I try to develop?
Technically, I believe this can be accomplished with a basic dynamic block implementation like [Post Author Name block](https://github.com/WordPress/gutenberg/pull/36001/files#diff-55c58e4b84af8878c1e4c4870117cdd59990fe3e2c89725a290550c9c4c3e0cb)
If you see any potential problems in developing it, please advise me.🙂

[2022-08-18 17:16] annezazu commented on #27835
@ellatrix I see quite a while ago you self assigned this, are you still able to take a look, considering it seems to still be an active problem? I imagine this is a pretty complex one to solve considering how the embed block is setup.

[2022-08-18 17:16] mtias commented on #42542
That'd be great, feel free to start a branch and submit a proposal!

[2022-08-18 17:31] #35928 closed, assigned to ndiego

[2022-08-18 17:48] gefgu commented on #42105
Hi! Can I work on this issue?

[2022-08-18 17:51] kurtrank commented on #11763
I agree we should have a way of opting out of these standard class names. Providing an optional `className` as in the original post is a great solution that wouldn't lock you into any naming convention.

I am in the same boat where we have a theme built around a design system that uses BEM naming convention, and I hate the fact that we cannot use the built-in block styles feature. It seems like a

[2022-08-18 18:24] desrosj commented on #43333
I have been thinking about this for a while, but I'm not sure the best way to approach it. Callable workflows execute as a job, and as far as I know, you can't attach additional steps in the calling workflow. However, the callable workflow could potentially be dynamic and look for the presence of a JSON file, or something similar to provide test conditions.

For example, instead of manually defini