[2021-07-12 14:20] alshakero opened #33363 "CardFooter lost its box-sizing CSS property"
This PR https://github.com/WordPress/gutenberg/pull/32566 seems to have created a bug in `CardFooter` component. You can see it [here](https://github.com/Automattic/wp-calypso/issues/54445).

I think that before #32566, CardFooter had `box-sizing: border-box` and it was removed.

Putting it back seems to fix the issue.

// cc @ciampo

[2021-07-12 14:26] mcsf commented on #24752
@joshm33333: is this issue relevant? If so, can you provide feedback per https://github.com/WordPress/gutenberg/issues/24752#issuecomment-686406436?

[2021-07-12 14:33] fluiddot opened #33364 "Translations cache can't be refreshed due to missing strings from Gutenberg GlotPress"
## Description

On the mobile version, we cached the translations files downloaded from GlotPress in [the Gutenberg-Mobile repo](https://github.com/wordpress-mobile/gutenberg-mobile/tree/develop/src/i18n-cache/gutenberg/data), the purpose is to avoid the issue described [here](https://github.com/wordpress-mobile/gutenberg-mobile/issues/3466) where critical strings were not included, therefore we u

[2021-07-12 14:59] joshm33333 commented on #24752
I've continued to work with Gutenberg since I started this issue, and I haven't seen the style tag removed since then. Seems to be safe to use. Perhaps when you use unsafe code in the HTML block it triggers a  more aggressive sanitization? I know for a fact I saw those styles tags stripped at some point but I'm unable to reproduce it.

I don't necessarily think anything is broken, it's probably ju

[2021-07-12 15:12] juanmaguitar opened #33365 "Docs: CLI options for `@wordpress/docgen` are not properly documented at Block Editor Handbook"
## Description

CLI options of `@wordpress/docgen` are properly documented in the package' [`README.md`](https://github.com/WordPress/gutenberg/tree/trunk/packages/docgen) but the HTML automatically generated at https://developer.wordpress.org/block-editor/reference-guides/packages/packages-docgen/#cli-options is not properly generating the options for the commands

## Expected behavior

The CLI o

[2021-07-12 15:16] adamziel commented on #33335
This is getting weird! I reproduced it again, but this time I also added two legacy widgets. These widgets were preserved, but the gallery widget block was moved to inactive widgets:

<img width="738" alt="Zrzut ekranu 2021-07-12 o 17 15 51" src="https://user-images.githubusercontent.com/205419/125312712-d0740100-e334-11eb-9528-641f3b330b69.png">

I am less convinced now that the `/wp/v2/widgets`

[2021-07-12 15:35] juanmaguitar commented on #33361
I think this issue is related with https://github.com/WordPress/gutenberg/issues/14341

[2021-07-12 15:45] adamziel commented on #33335
For the record, the exact opposite happened too (legacy widget was moved over to the wp_inactive_widgets while the gallery block stayed in the sidebar):

<img width="744" alt="Zrzut ekranu 2021-07-12 o 17 44 22" src="https://user-images.githubusercontent.com/205419/125316890-d5d34a80-e338-11eb-89bc-3f717021dd2a.png">

It seems like it only moves either zero widgets or one widget, but never two, th

[2021-07-12 15:53] chrisvanpatten opened #33367 "`theme.json` properties can't be overridden in PHP"
## Description

`theme.json` properties cannot be (easily) overridden on the server-side due to the current implementation of filtering the block editor settings at a priority set to `PHP_INT_MAX`.

Being able to filter theme.json from PHP is a valuable way to ease the on-ramp to theme.json adoption; for example if a theme includes an existing settings panel for configuring colors and fonts, they

[2021-07-12 16:00] ntsekouras commented on #33357
Hey 👋 - there is `Post Navigation Link` which has block variations for `next and previous` post.

[2021-07-12 16:00] #21954 closed

[2021-07-12 16:01] desrosj commented on #33106
Thanks for flagging this @ddryo.

WordPress Core has a function that has been in place since version 2.9.0 specifically for running the widget description through `wp_kses()`, `wp_sidebar_description()`.

Because this is a long established feature of WordPress, I think it's reasonable to assume that lots of developers have dropped basic markup in the `description` field, and this should be conside

[2021-07-12 17:27] adamziel commented on #33335
I still did not manage to capture an active breakpoint exactly when this issue happens organically, but I found that adding a `retrieve_widgets` call after the following line enables me to reproduce this problem consistently:

https://github.com/WordPress/wordpress-develop/blob/efb1b5946d22453c1ffe64920f5c501b341884fa/src/wp-includes/rest-api/endpoints/class-wp-rest-widgets-controller.php#L209

I

[2021-07-12 17:41] TimothyBJacobs commented on #33106
It looks like this needs to be adjusted in the Client. The REST API isn't doing escaping, though after https://core.trac.wordpress.org/ticket/53646 we will be only allow a subset of HTML to be returned.

[2021-07-12 17:52] leeshadle commented on #33212
@ellatrix

@ndiego

I tried using `add_editor_style` to enqueue styles from a plugin - but I haven't been able to get this to work ( perhaps I'm referencing the wrong directory since I'm trying to do this from a plugin? ).

With that being said, using  `add_editor_style` to enqueue styles in a plugin feels a bit hacky to me.  Also, if the editor is going to be iframed, do we even need to worry abo

[2021-07-12 18:00] desrosj opened #33370 "No way to target specific sidebar in widgets editor"
## What problem does this address?

There's currently no way for a theme developer to target a specific sidebar to provide different CSS within the new widgets editor. This makes it near impossible to match the previews seen in the widget editor with the front end experience.

Use case: A theme with a sidebar displayed differently than the content area. At the most extreme level, this happens with

[2021-07-12 18:01] desrosj commented on #33370
I've added this to the 5.8 must haves for discussion. I personally feel that there should be some basic way to accomplish this. The beauty of the block editor is that the editing experience very closely matches what is seen on the front end. We should enable that in theme developers for the widget editor.

[2021-07-12 18:08] youknowriad commented on #33370
Thanks for opening the issue, this is actually one of the reason I was not sure about adding editor_styles loading to the widget screen at all, these editor styles are optimized in themes for the post editor and sidebars/widget areas can be anything and can have different styling than the canvas. So sticking with a generic design (like the existing widgets screen) would have made sense to me.

Now

[2021-07-12 18:09] desrosj commented on #33106
For reference, this is the list of markup that `wp_sidebar_description()` allows with the allowed attributes:

- `<a href="" title="">`
- `<abbr title="">`
- `<acronym title="">`
- `<b>`
- `<blockquote cite="">`
- `<cite>`
- `<code>`
- `<del datetime="">`
- `<em>`
- `<i>`
- `<q cite="">`
- `<s>`
- `<strike>`
- `<strong>`

[2021-07-12 18:20] desrosj commented on #33370
The fact that this is a migration path is a good point. If I'm understanding the suggestion right, an API would allow theme developers to make one change, and adjustments to how the API work could be made by the team going forward?

I think I would be OK with this stance if we prioritize solving this in the short term.

But, I did dive in a bit, and it seems like a class or ID [could be added here

[2021-07-12 18:21] landwire commented on #31018
Is there any feedback on this possible soonish? It has been 2 months since I asked this question and obviously would like to resolve this for my plugin users.

[2021-07-12 18:26] AmandaRiu commented on #27690
Tested on a physical device (pixel 4) on Android 11 using the Gboard. Issue is no longer happening:

Tapping each letter:

https://user-images.githubusercontent.com/5810477/125337526-1de47400-e31d-11eb-9a5d-f2d42ec6b195.mp4

Swiping words:

https://user-images.githubusercontent.com/5810477/125337547-2472eb80-e31d-11eb-9f8a-d34239cd00b8.mp4

I think we are good to close this one.

[2021-07-12 18:26] #27690 closed

[2021-07-12 18:29] landwire commented on #29801
I changed the code to add those classes with the render_block filter instead. This issue can be closed now.

[2021-07-12 18:29] #29801 closed

[2021-07-12 18:31] AmandaRiu commented on #29861
FYI: This is still an issue as of `1.57.0`. I was in here already completing writing flows tests so I thought I'd make a note of it.

https://user-images.githubusercontent.com/5810477/125338154-d7434980-e31d-11eb-8ba9-e3485084b65c.mp4

Tested on physical Pixel 4 running Android 11 w/ Gboard

[2021-07-12 18:31] landwire commented on #29961
Did anybody have time to look into this yet? Just want to know if this is possible or just a no go.

[2021-07-12 18:54] dcalhoun opened #33371 "Tooltip becomes detached from reference element when device is rotated while keyboard is not displayed"
## Description
When rotating a device while the virtual keyboard is not displayed, the position of a tooltip will not update. This can cause a tooltip to be incorrectly positioned on the screen if the reference element has repositioned. If they keyboard is displayed, the tooltip appropriately dismisses after device rotation.

## Step-by-step reproduction instructions
While the issue is obvious whe

[2021-07-12 19:05] youknowriad commented on #33370
Not sure I understand here. My point was that since the widgets screen is a migration path for themes towards FSE themes, we should invest into making new APIs support it and focus more on FSE themes.

I'll defer to the widgets screen team here but I'm not against a small class addition there yeah

[2021-07-12 19:09] desrosj commented on #33106
[Core-53646](https://core.trac.wordpress.org/ticket/53646) was merged into Core in [Core-51408](https://core.trac.wordpress.org/changeset/51408).

[2021-07-12 19:37] circlecube opened #33372 "'Browse All' button in Social Icons Block in Widget Editor does not display social icons"
## Description
In the new widget editor screen when adding a social block, populating the list with the proper social media links displays a "browse all" button. When the button is clicked there is no list of social sites and the user is taken to the block inserter. Confusing because you can search for things like youtube and twitter etc, but these are the embeds and not the social links to place

[2021-07-12 19:37] webmandesign commented on #33370
Hi guys,

If theme styles are applied on new widgets editor screen, then I suggest adding a class instead of an ID attribute as ID might cause collisions.

Indeed, sidebars can be displayed in different ways in a theme, but as a theme author I hope I could at least apply proper colors and spacing in editor screen to match front-end.

[2021-07-12 19:37] #29963 closed, assigned to georgeh

[2021-07-12 19:50] circlecube commented on #33372
Similar to https://github.com/Automattic/wp-calypso/issues/46382 (though I can't reproduce that one anymore).

This is specific to the widget editor. The widget editor, in my opinion, is a much more common use case for this social icons block than the post editor.

[2021-07-12 20:54] skorasaurus commented on #31211
still exists in 11.

[2021-07-12 23:17] pattyok opened #33374 "Cannot apply wide or full widths to nested blocks with theme.json applied"
## Description

Trying out theme.json. When it is activated, the option to set wide/full width on a block placed inside a group disappears. This happens whether theme.json has any content in it or not. If remove theme.json, the option re-appears. I am working with my own custom theme, but I was able to reproduce with the  TwentyTwentyOne theme as well.

## Step-by-step reproduction instructions

1

[2021-07-12 23:52] annezazu opened #33375 "Selecting the Reusable Block causes toolbar to appear inconsistently"
## Description

When trying to select the parent reusable block, I noticed the toolbar flickers/feels very unreliable to select. I fear this will be a painful user experience if not resolved for 5.8.

## Step-by-step reproduction instructions

1. Create a reusable block.
2. Edit the inner content and try selecting the overall parent reusable block.
3. Notice the toolbar inconsistently appears.

##

[2021-07-13 00:24] annezazu commented on #11210
Just looping back in case it's helpful that I published a v1 for reusable blocks here: https://wordpress.org/support/article/reusable-blocks/ Welcome guidance on where best to cross link but wanted to get something out ahead of 5.8 and the new modal for creation of reusable blocks.

[2021-07-13 01:01] carlomanf commented on #33357
Thanks for your reply. I didn't see those ones because I was testing with core version 5.8 and had the plugin deactivated.

After looking more closely, I see there is also a Table of Contents block that possibly might act as an equivalent to `wp_link_pages`, but I can't tell for sure because the block is temporarily de-registered. Hoping someone familiar with that block can confirm.

[2021-07-13 02:07] andrewserong commented on #32366
Just clarifying that adding in the additional support for gap is being worked on in #32571 (which is currently blocked / waiting on #32392 before we proceed). This will ultimately help us resolve the remaining task from https://github.com/WordPress/gutenberg/issues/30753 (thanks for the ping @paaljoachim!)

[2021-07-13 02:08] aaronrobertshaw commented on #31731
Thanks for the ping @paaljoachim.

@stacimc has done some great work on adding the padding support to buttons in https://github.com/WordPress/gutenberg/pull/31774. I believe we just need to give that a final review then it shouldn't be far off landing. I'll find some time in the coming days to give it a test.

[2021-07-13 02:16] andrewserong commented on #30753
Yes, the color options for a single column task was addressed in: https://github.com/WordPress/gutenberg/pull/31778 and there's a follow-up fix for column background colors with vertical alignment that's under review in: https://github.com/WordPress/gutenberg/pull/32909

For adding in column gap support, we have a couple of steps before we can reliably get to it. Initially I explored adding in gap

[2021-07-13 02:41] thuthiemzeit commented on #32434
I have the same question!
[jigsaw.w3.org===> Error my site](http://jigsaw.w3.org/css-validator/validator?uri=https%3A%2F%2Fhouse.com.vn%2F&profile=css3svg&usermedium=all&warning=1&vextwarning=&lang=en)
`

.is-content-justification-right, .is-content-justification-left, .is-content-justification-center | Parse Error [.is-content-justification-space-between]
-- | --
1 | .is-content-justification-rig

[2021-07-13 04:33] talldan commented on #33370
There is already a `class` argument already passed to `register_sidebar`, so it could be possible to apply that in the editor:
https://developer.wordpress.org/reference/functions/register_sidebar/

But I would be concerned that it might cause some unusual styles if it were applied to editor content. Also checking recent bundled themes, this seems unused, I guess the themes prefer to add a classnam

[2021-07-13 05:15] talldan commented on #33336
They are block editors though. The alternative here, not using `enqueue_block_editor_assets` or having a different API would be completely unworkable. It would result in very few third-party blocks being supported in those editors. The result of some non-standard plugins or themes having issues feels like an acceptable trade-off.

I'm interested as to why this doesn't affect other block editor UI.

[2021-07-13 05:17] kafleg opened #33377 "Notice and Warning with Gutenberg 11.0.0"
## Description
There is a notice and warning with the latest version of Gutenberg.

Notice:  Undefined index: styles in E:\laragon\www\reviews\wp-content\plugins\gutenberg\lib\global-styles.php on line 138

Warning:  Invalid argument supplied for foreach() in E:\laragon\www\reviews\wp-content\plugins\gutenberg\lib\global-styles.php on line 138

The latest version of the Gutenberg plugin is install

[2021-07-13 05:21] #33321 closed, assigned to walbo

[2021-07-13 05:44] #27330 closed

[2021-07-13 06:48] aaronrobertshaw commented on #32417
This issue fits into the discussion in https://github.com/WordPress/gutenberg/issues/33255 around managing styles for blocks with a wide design surface area.

A solution that allows us to apply styles to alternate rows in a table or nested nav menus would likely have this use case covered as well.

[2021-07-13 07:20] fabiankaegy opened #33378 "Add option to DependencyExtractionWebpackPlugin that allows to only run the plugin on certain entrypoints"
## What problem does this address?

The issue that I am running into again and again ist that the DependencyExtractionWebpackPlugin applies to all entrypoints. Which means that when you use something like lodash or any of the WordPress dependencies on the frontend for example this means than the entirety of lodash is enqueued from WordPress Core. Instead I would love to get the benefits from trees

[2021-07-13 07:37] CreativeDive opened #33379 "Create Block Template from copied block content"
Hello,

currently there is the `$post_type_object->template` way to provide a default block template in specific cases. For example for a specific post type.

We can use this way to do that:

[code]

This is working with a template array like:

[code]

But in the real world, we creating block templates in the editor way. And if we have finalized a really nice template with the combination of diffe

[2021-07-13 07:40] ntsekouras commented on #33357
Table of contents blocks has some issues that need to be resolved first. Check this PR for more info: https://github.com/WordPress/gutenberg/pull/29718

[2021-07-13 07:42] CreativeDive commented on #33379
On the other hand, I can use the copied block content and paste it into a paragraph block.

The result is as expected, all the blocks from my copied block content are very well made.

But when I use the way from my description above it doesn't work.

[2021-07-13 07:56] webmandesign commented on #33370
In my [original issue report](https://wordpress.org/support/topic/wp-5-8-rc2-block-widget-area-css-class/) I suggested using a class generated from sidebar ID such as:

- `wp-block-widget-area--sidebar-1` for sidebar with ID of `sidebar-1`
- `wp-block-widget-area--footer` for sidebar with ID of `footer`
- …and so on.

I think a class like that should not cause any potential issues.

[2021-07-13 08:26] draganescu commented on #32805
In the context of the above I think the best solution is:

- sidebar ID added to the widget area container in the editor
- widget name added as a class to the preview

[2021-07-13 08:57] #25067 closed

[2021-07-13 08:57] #29727 closed

[2021-07-13 09:17] MeiKatz opened #33383 "Make tagName, className, name and id global attributes"
Are there any plans about making `tagName`, `className`, `name`, and `id` global attributes? Especially the first two would be great to have for every html block element to reduce the amount of elements that are generated. I like to make my website as semantic as possible but right now I have to use groups over and over. This produced a lot of unnecessary `div` elements.

Right now I added some fu

[2021-07-13 10:11] onetrev opened #33385 "Backend vs frontend discrepancy using alignment (left/right) if theme.json is active"
## Description
If you have a valid `theme.json` file and then try to use align left or align right on an image, it goes outside of the content container to the far edge of the editor. This happen in WP 5.8 RC2, regardless of whether you have the Gutenberg plugin activated. I've tested in my own base theme, but also with TT1 Blocks and Blockbase. The same thing also happens if I add a basic theme.j

[2021-07-13 10:20] oandregal commented on #33361
I think this change should be fine: it doesn't hurt to try, we can always revert if the result is not adequate.

For context, I presume we used links to allow adding links to the code, which we did at the beginning, and also to make the declarations bookmarkable in the three environments the docs are rendered: the block editor handbook, GitHub, and the npm packages. I've just checked and both the

[2021-07-13 10:37] talldan commented on #33377
Thanks for reporting. I didn't realise this happened in the customizer as well.

It should be fixed by https://github.com/WordPress/gutenberg/pull/33127 which will be part of Gutenberg 11.1.

[2021-07-13 10:37] #33377 closed, assigned to nobody

[2021-07-13 10:44] mcsf commented on #21703
I'm adding to this issue the problem posed by block patterns when the blocks they contain conflict with the runtime (either the running Gutenberg is outdated, or the block pattern is): https://github.com/WordPress/wordpress-develop/pull/1483#issuecomment-877982616. This might just be solved with pattern versioning, but it may inform our RFC.

[2021-07-13 10:51] #33304 closed, assigned to oandregal, jorgefilipecosta

[2021-07-13 11:00] mtias commented on #16621
Closing this as we have a solution that renders the anchor name in the list view:

![image](https://user-images.githubusercontent.com/548849/118815950-03a88f80-b8b2-11eb-8122-61ae253f7e27.png)

[2021-07-13 11:00] #16621 closed

[2021-07-13 11:21] talldan commented on #29466
A 'Reveal In List View' option in the block settings menu could be an idea:
<img width="254" alt="Screenshot 2021-07-13 at 7 19 45 pm" src="https://user-images.githubusercontent.com/677833/125443258-1bea1884-0d4c-4e7e-a4f1-b337beb989c3.png">

Though this menu is getting kinda long 😄

If that option had a shortcut (something similar to Ctrl + Alt + O, like Ctrl + Shift + Alt + O) that would be a wa

[2021-07-13 11:32] aristath commented on #33367
As far as I know, `theme.json` is not intended to run late, it's intended to override PHP.
The "old" method was using theme-supports which can be added at any time, anywhere. The theme.json file must override those theme-supports and therefore it must run last and not just late. I believe that's why it runs on `PHP_INT_MAX`...

[2021-07-13 11:35] mtias commented on #4961
Browser players have come a long way since `mediaElement` was needed that we should not be forcing any specific player layer on top and leave that open to plugins / user-land (picture-in-picture, external display support, etc).

[2021-07-13 11:36] mtias commented on #6182
Closing in favor of #29561 which is more up to date and has an attached pull request.

[2021-07-13 11:36] #6182 closed

[2021-07-13 11:39] chrisvanpatten commented on #33367
@aristath I understand conceptually why it’s running late, it just makes the upgrade path unnecessarily complex if you’re migrating from, for example, custom settings pages.

[2021-07-13 11:41] #7961 closed

[2021-07-13 11:44] mtias commented on #7712
There's also https://developer.wordpress.org/block-editor/reference-guides/filters/. Anything specific missing should be added there as new issues.

[2021-07-13 11:44] #7712 closed

[2021-07-13 11:46] mtias commented on #7553
Consolidating discussion in #29568 which has become more active.

[2021-07-13 11:46] #7553 closed

[2021-07-13 11:46] mtias commented on #8469
Closing as there is now a proper title block. We'll hopefully soon start using it as the default template.

[2021-07-13 11:46] #8469 closed

[2021-07-13 11:47] #8408 closed

[2021-07-13 11:50] mtias commented on #8397
There's a lot of improvements in the width handling and more to come. Going to close this as it's not very actionable on its own.

[2021-07-13 11:50] #8397 closed

[2021-07-13 11:50] oandregal commented on #33184
Going to close this one as a duplicate of https://github.com/WordPress/gutenberg/pull/30081

[2021-07-13 11:50] #33184 closed, assigned to nobody

[2021-07-13 11:50] mtias commented on #8352
I'm going to close this now that the pending items are transferred.

[2021-07-13 11:50] #8352 closed

[2021-07-13 11:51] mtias commented on #8179
Tracking in #27331.

[2021-07-13 11:51] #8179 closed

[2021-07-13 11:52] #8725 closed

[2021-07-13 11:56] mtias commented on #8733
[BlockBook](https://youknowriad.github.io/blockbook/) accomplishes this and we might integrate it in the main storybook.

[2021-07-13 11:56] #8733 closed

[2021-07-13 11:58] mtias commented on #8869
@ryanleichty @ellatrix it seems for that last use case, if a formatting is disabled we should discard it on paste instead.

[2021-07-13 11:59] mtias commented on #9035
Closing as we have no current plans for supporting manual reordering. Improvements to long running panels should still be addressed in different ways and remember collapsing state.

[2021-07-13 11:59] #9035 closed

[2021-07-13 12:01] mtias commented on #9543
This is better — for now — done in plugin space. As HTML continues to evolve and we can natively support more tools like this we'll reconsider.

[2021-07-13 12:01] #9543 closed

[2021-07-13 12:05] mtias commented on #9284
@hypest has anything come out from this one? We should probably close anyways until there's something more tangible to pursue.

[2021-07-13 12:10] mtias commented on #10243
@ellatrix curious what you currently think of this and whether it should be left for plugin territory.

[2021-07-13 12:11] oandregal commented on #31990
:wave: I can't repro this. I'm using: WordPress 5.7.2, Gutenberg 11.0.0, and tried with TT1 and TT1-blocks. Both work as expected.

By adding the `theme.json` in the issue description to TT1 I get the following CSS in the front-end (plus all the CSS for preset classes and CSS custom properties):

[code]

This is correct. However, it does nothing because the TT1 is not prepared to work with that: i

[2021-07-13 12:13] hypest commented on #9284
Nothing actionable out of this so far, or better, no particularly "generalized" patterns to follow. Thanks for pinging, let's close this and we can always revisit if it makes sense 👍

[2021-07-13 12:13] #9284 closed

[2021-07-13 12:14] mtias commented on #10118
If you are looking at a quick way to see the HTML that different blocks support, this can be a good resource: https://youknowriad.github.io/blockbook/

[2021-07-13 12:14] #10118 closed

[2021-07-13 12:16] ellatrix commented on #8869
Yes, we could.
Additionally we could add a clear formatting button to the rich text dropdown to clear any formatting that is not recognised by any format.

[2021-07-13 12:17] mtias commented on #10764
The current place for theme related support is https://developer.wordpress.org/block-editor/how-to-guides/themes/. Further improvements should be submitted against it.

[2021-07-13 12:17] #10764 closed

[2021-07-13 12:19] mtias commented on #11042
Closing as this is largely absorbed in `theme.json` now.

[2021-07-13 12:19] #11042 closed

[2021-07-13 12:25] mtias commented on #11473
Transforms are block-elective and should be treated as such: each block can declare what it transforms to and from. If there's a missing target that would make sense to suggest, please, open a new issue.

[2021-07-13 12:25] #11473 closed

[2021-07-13 12:26] #11383 closed

[2021-07-13 12:33] #12081 closed

[2021-07-13 12:34] erikjoling commented on #32051
Thank you for you work and providing extra information Ari. I will close this issue.

[2021-07-13 12:34] #32051 closed, assigned to nobody

[2021-07-13 12:34] loyukfai commented on #30378
Hello?

[2021-07-13 12:36] #11982 closed

[2021-07-13 12:37] CreativeDive commented on #33379
To work directly with the block content (block html) currently works as expected for:

[code]

... or works as expected for:

[code]

But why it dosen't work with `$post_type_object->template`? ... for:

[code]

[2021-07-13 12:38] mtias commented on #11888
There are supported ways to declare horizontal support for inner blocks that use flex now, so closing as done.

[2021-07-13 12:38] #11888 closed

[2021-07-13 12:40] #12244 closed

[2021-07-13 12:41] mtias commented on #12593
@youknowriad is there anything actionable pending here?

[2021-07-13 12:42] mtias commented on #12557
There's a new simplified prompt now.

[2021-07-13 12:42] #12557 closed

[2021-07-13 12:45] mtias commented on #12442
Seems like this can be closed. Please, reopen if there's still something pending to be done.

[2021-07-13 12:45] #12442 closed

[2021-07-13 12:47] Mamaduka commented on #33143
I think this is the intended behavior. The empty block inserter is only displayed when the block is unmodified.

https://github.com/WordPress/gutenberg/blob/e2b55034587a4cdd452976f3b75e0a0f9a14b5f5/packages/block-editor/src/components/block-tools/block-popover.js#L318-L319

[2021-07-13 12:51] mtias commented on #13109
The new QueryLoop block allows displaying any post type from the site in various ways and should cover this use case!

[2021-07-13 12:51] #13109 closed

[2021-07-13 12:53] mtias commented on #12977
The general recommended way to build extra functionality is using the Plugin API and add a toggleable sidebar, largely to avoid these kind of issues. There's also the option of rendering meta boxes in the sidebar if you so choose. The placement at the bottom is not ideal but exists for backwards-compatibility reasons.

[2021-07-13 12:53] #12977 closed

[2021-07-13 12:56] mtias commented on #13482
The new block list view and block type button include outline highlights on hover / focus. An option for this is currently not being considered, but it might come in the future.

[2021-07-13 12:56] #13482 closed

[2021-07-13 12:58] mtias commented on #13341
This is now possible via `theme.json`, closing as done.

[2021-07-13 12:58] #13341 closed

[2021-07-13 13:00] #13634 closed

[2021-07-13 13:00] #13515 closed

[2021-07-13 13:01] mtias commented on #13492
Closing for now.

[2021-07-13 13:02] #14098 closed

[2021-07-13 13:05] youknowriad commented on #13811
Dynamic blocks now automatically add the generated className (similar to frontend) when using `get_block_wrapper_attributes`. I think this can be close now.

[2021-07-13 13:07] creativecoder commented on #11982
Note that this is resolved by the changes from https://core.trac.wordpress.org/ticket/45537, which are included in WP 5.8

[2021-07-13 13:07] youknowriad commented on #12593
Potentially some migration guides but it's very unclear without use-cases. So let's just close for now.

[2021-07-13 13:07] #12593 closed

[2021-07-13 13:17] Mamaduka commented on #30131
Fixed via #32524.

[2021-07-13 13:17] #30131 closed, assigned to nobody

[2021-07-13 13:21] antonyjsmith commented on #10640
This is really needed and another several hours I've wasted to end up at an open Gutenberg issue that as @celloexpressions says is a regression compared to 4.9 :(

[2021-07-13 13:23] mtias commented on #14029
Closing as this is contemplated in the `experimentalConvert`

[2021-07-13 13:23] #14029 closed

[2021-07-13 13:24] mtias commented on #11982
Yes, sorry for the laconic close without context :)

[2021-07-13 13:24] Mamaduka commented on #30931
It looks like I only partially fixed this issue for `SuggestionList` in #32344. I was only aware of this issue for the Post Author component.

I will try and fix it for `FlatTermSelector` shortly.

[2021-07-13 13:27] paaljoachim commented on #9543
I believe that in relation to the Navigation block that we will see it drip down into adding horizontal and vertical tabs.

[2021-07-13 13:34] Mamaduka commented on #30932
It looks like the error is triggered by the `dom-scroll-into-view` package, which is used by `SuggestionsList`.

[2021-07-13 13:37] #14256 closed

[2021-07-13 13:37] mtias commented on #14195
Closing this as it's being handled in the general component work.

[2021-07-13 13:37] #14195 closed

[2021-07-13 13:40] mtias commented on #14665
It seems the icon block would cover most of this use case.

[2021-07-13 13:40] #14665 closed

[2021-07-13 13:41] desrosj commented on #33143
Ah interesting! Any idea why that is? I'm curious about the reasoning behind that choice.

[2021-07-13 13:44] mtias commented on #14554
Closing this in favor of #28524.

[2021-07-13 13:44] #14554 closed

[2021-07-13 14:01] mtias commented on #16300
This seems very low priority.

[2021-07-13 14:01] #16300 closed

[2021-07-13 14:03] mtias commented on #16256
I think by now it's fairly established that Gutenberg gives early access to beta features and we should keep it that way.

[2021-07-13 14:03] #16256 closed

[2021-07-13 14:04] swissspidy commented on #33364
Since all these strings are from the block-library package, I think this is a duplicate of https://github.com/wp-cli/i18n-command/issues/255

See also https://github.com/WordPress/gutenberg/pull/33341

cc @ocean90

[2021-07-13 14:06] mtias commented on #16422
Tracked in https://core.trac.wordpress.org/ticket/53603

[2021-07-13 14:06] #16422 closed

[2021-07-13 14:06] mtias commented on #16399
Closing based on the above tickets. With the site editor the templates that holds the blog will be editable in blocks.

[2021-07-13 14:06] #16399 closed

[2021-07-13 14:09] #16946 closed

[2021-07-13 14:09] fluiddot commented on #33364
Thanks for pointing out the issue references and for the quick response 🙇 ! Yeah, after checking the issue you pointed, I agree that looks like a duplicate.

[2021-07-13 14:13] mtias commented on #17079
Going to close this for now and we can always reopen if it becomes active again.

[2021-07-13 14:21] mtias commented on #17730
There's been a lot of performance improvements over the past year, hopefully it has made some of these scenarios better.

[2021-07-13 14:21] #17730 closed

[2021-07-13 14:22] #17654 closed

[2021-07-13 14:23] mtias commented on #18113
Font family support is now part of theme.json

[2021-07-13 14:23] #18113 closed

[2021-07-13 14:24] mtias commented on #18038
Unfortunately this is not possible. You can always break out of the HTML block, add a reusable block, and continue in another HTML block.

[2021-07-13 14:24] #18038 closed

[2021-07-13 14:25] mtias commented on #17941
@gziolo is this still the case?

[2021-07-13 14:26] mtias commented on #18612
The new theme.json introduction should make disabling and modifying core styles a lot easier.

[2021-07-13 14:26] #18612 closed

[2021-07-13 14:28] mtias commented on #18853
This will be part of #25940

[2021-07-13 14:28] #18853 closed

[2021-07-13 14:37] mtias commented on #8696
The current toggle is much more clear and easy to access:

![image](https://user-images.githubusercontent.com/548849/125471420-c7b56e9d-2385-46be-84bb-14cf2bc3761f.png)

[2021-07-13 14:37] #8696 closed

[2021-07-13 14:40] #18786 closed

[2021-07-13 14:43] mtias commented on #20453
Closing this.

[2021-07-13 14:43] #20453 closed

[2021-07-13 14:44] #20372 closed

[2021-07-13 14:53] mtias commented on #32551
Curious if this is actually used much in practice these days.

[2021-07-13 14:55] mtias commented on #32549
Thanks for the suggestion. Sharing can involve a lot more for each service than the display of the icon and URL, such as maintaining specific flows or additional scripts that are generally outside the scope of core and more into plugin territory.

[2021-07-13 14:55] #32549 closed, assigned to nobody

[2021-07-13 14:56] mtias commented on #32472
It might make sense to treat each heading level as a variation.

[2021-07-13 15:00] mtias commented on #20967
@apeatling do you think this can be closed with the current button tools we have?

[2021-07-13 15:11] oandregal commented on #19796
This can be closed, the plugin has support for disabling borders from a number of versions already. For the specific case of the button, the snippet at https://github.com/WordPress/gutenberg/issues/19796#issuecomment-819134967 works as expected.

[2021-07-13 15:18] oandregal commented on #31124
Going to close this one. Thus far, there's no plan to do this and we just shipped in WordPress 5.8 the ability to use core colors in addition to theme ones.

[2021-07-13 15:18] #31124 closed, assigned to nobody

[2021-07-13 15:32] keithdevon commented on #19930
I get the same issue and I also have inline SVGs in my CSS. If I remove these, the issue is resolved.

+1 that we should be able to use valid CSS in our themes without the editor styles breaking.

[2021-07-13 15:39] oandregal commented on #30563
Closing this one and it's no longer an issue.

[2021-07-13 15:39] #30563 closed, assigned to nobody

[2021-07-13 15:40] oandregal commented on #29985
https://github.com/WordPress/gutenberg/pull/32627 and other issues raised in this PR are all implemented, so I'm going to close this issue.

[2021-07-13 15:40] #29985 closed, assigned to nobody

[2021-07-13 15:42] oandregal commented on #25613
I'm going to close this one. There're no plans to implement this and we are going to ship in WordPress 5.8 (and already in the plugin) the ability to use core colors in addition to theme ones.

[2021-07-13 15:42] #25613 closed

[2021-07-13 15:44] mcsf commented on #6633
@gziolo: now that we have block.json with i18n support underway ([wp-cli](https://github.com/wp-cli/i18n-command/pull/210), [register_block_type](https://github.com/WordPress/gutenberg/pull/22519)), do the circumstances of this PR change?

[2021-07-13 15:48] swissspidy commented on #6633
It's still an issue IMO, because block.json does not address the concern that other languages might need more (or less) keywords for a block.

[2021-07-13 15:50] gziolo commented on #6633
It's now automated so we always wrap the keyword with `_x( keyword, 'block keyword', 'textdomain' )`. Should we also inject some other keywords while registering a block?

[2021-07-13 15:53] ellatrix commented on #33212
It would if we add support for passing WP dependency handles in addition to passing a URL.

Why? :)

You should normally never have to worry about that.

You can, through `add_editor_style` or block registration. But like I said, we'll need to add support to `add_editor_style` for adding WP dependency handles just like we do for block registration.

`add_editor_style` is the official way to add st

[2021-07-13 15:56] mchowning commented on #33292
👍  I'll go ahead and close this in deference to the older ticket.

[2021-07-13 15:56] #33292 closed, assigned to nobody

[2021-07-13 15:56] ndiego commented on #33212
Thanks for the clarifications @ellatrix. Do you envision `enqueue_block_editor_assets` just used for scripts and all styles being added via `add_editor_style` as you indicated?

[2021-07-13 16:00] pablohoneyhoney commented on #32556
Looking really good. Nice to see this new language expanding in such tangled cases. Kudos Javier!

The logic felt a bit uncanny at first, but could be tried if everyone understands it well. I also wonder if without the plus could be understood. Having both could add to the confusion of order or direction?

I know we are in tight spaces, bu there are some moments of friction or tension that could b

[2021-07-13 16:04] swissspidy commented on #6633
It's necessarily about adding _more_ keywords. In some languages _less_ keywords would be sufficient.

I think the agreed-upon approach in the discussion on this ticket so far was to have a comma-separated list of keywords. That would solve most issues.

So in block.json:

[code]

[2021-07-13 16:13] strarsis commented on #19930
There is a PR for reimplementing the CSS wrapping using a CSS library. However, some issues stalled the progress for now.

[2021-07-13 16:14] mcsf commented on #6633
Commas _seem_ safe enough, but: is there any chance that there's some locale out there that uses commas (`&comma;`, not some Unicode variant) as something other than a word-or-clause separator? The only potential obstacle I found [on Wikipedia](https://en.wikipedia.org/wiki/Comma#Languages_other_than_English) was:

[2021-07-13 16:16] diegohaz opened #33391 "A consistent component API for @wordpress/components"
I'd say the most important thing in API design is having consistent interfaces across different modules, especially when they're related and can be combined together. This lowers the learning curve, making it easier to use other modules when you're already familiar with one of them.

Unfortunately, a solid set of patterns that works consistently across all components in a component library is some

[2021-07-13 16:25] mcsf commented on #6633
Presumably, there are ways around it:
* We make it so that a locale can override the default token separator by providing its own string instead of `,`
* We define the token as `, ` (comma + space) or anything with white space on either side of the comma.

[2021-07-13 16:28] #32754 closed, assigned to iandunn

[2021-07-13 16:30] swissspidy commented on #6633
cc @ocean90

[2021-07-13 16:31] sarayourfriend commented on #33391
🤩

The `ToolbarItem` implementation is very cool, I'm glad that it's already written in a generic way like this.

As far as `MenuItem` goes, we do have the `ItemGroup` and `Item` components that look very similar. They can even be rendered inside the existing dropdown: https://wordpress.github.io/gutenberg/?path=/story/components-experimental-itemgroup--dropdown

I wonder if there's some cross ove

[2021-07-13 16:32] youknowriad commented on #33391
Thanks for opening this issue, I like that we're thinking about these component holistically. Would you mind adding some examples about `DropdownMenu` does this component remain as, is it deprecated, how does it combine to the other ones. I also see `ToolbarMenu` in the examples above, I guess this is the same as the existing `ToolbarDropdownMenu`?

[2021-07-13 16:50] leeshadle commented on #33212
Thank you for talking through all of this @ellatrix!

Again, all of this only becomes an issue when the block editor is iframed.  Otherwise, everything works as expected.

Using `add_editor_style` to enqueue styles in a plugin feels hacky to me b/c:
-  based on the documentation it looks like it's meant to be used for a [theme's editor styles](https://developer.wordpress.org/block-editor/how-to-gu

[2021-07-13 16:52] kjellr commented on #32522
I think this is more or less a duplicate of https://github.com/WordPress/gutenberg/issues/24473. @melchoyce can you confirm?

[2021-07-13 16:56] scruffian commented on #29168
Yes, we can close now :)

[2021-07-13 16:56] #29168 closed

[2021-07-13 17:14] melchoyce commented on #32522
Honestly can't tell, that seems more specifically about flexbox integration and horizontal grouping?

[2021-07-13 17:26] frodojrr commented on #8696
Yes it does. Came a long way in 3 years since this ticket was opened.

Thanks for closing it.

Respectfully,

Gary Kopycinski
W: 708-755-7565 x1239
M: 708-808-0204
eNews Park Forest <http://www.enewspf.com>
<http://www.enewspf.net/>

ü Please consider the environment before printing this e-mail.

On Tue, Jul 13, 2021 at 9:37 AM Matias Ventura ***@***.***>
wrote:

[2021-07-13 17:46] kjellr commented on #32522
Hmm yeah maybe it's a little different. The end result is the same though: blocks arranged horizontally in columns.

[2021-07-13 17:53] torounit commented on #10169
I guess we can use `getEntityRecords` to reuse the terms once they are loaded without destroying them.

[2021-07-13 17:53] priethor opened #33394 "[Project Management] Migrate current issue and PR templates to form templates"
## What problem does this address?
Although issue templates are a good starting point to provide a common framework to report issues, it is not the most user-friendly approach, requiring navigating quite some markdown from the template.

## What is your proposed solution?
Migrating the current markdown templates to [GitHub issue forms](https://docs.github.com/en/communities/using-templates-to-enco

[2021-07-13 18:00] SeanRWDougall commented on #33360
Is this issue being assigned/addressed please? With the Plugin deactivated, my Site displays full width and sidebar disappears. Thank you.

[2021-07-13 18:02] ellatrix commented on #33212
No, `enqueue_block_editor_assets` is for scripts and styles for the block editor UI, not the content of the editor. `add_editor_style` is for content styles. Even before the iframed editor this was the official way to add content styles, and `.editor-style-wrapper` would automatically be added. It was even used before Gutenberg for content styles in the TinyMCE editor. This is mainly used by theme

[2021-07-13 18:10] ndiego commented on #33212
Ahh that is very helpful info, thanks. I definitely missed that. 95% of my CSS is for the block editor UI and the remaining 5% touches the content of the editor. That must be why I am getting the error that was originally reported by Lee. I will strip that 5% out and try adding it separately with `add_editor_style`.

[2021-07-13 18:19] ellatrix commented on #33212
The error is there because there's a compatibility layer loading the stylesheets in the iframe if it detects "wp-block" or "editor-styles-wrapper" in a selector in the stylesheet. So the styles will load in the iframe, but they're not added as they should be.

I'll add an integration test for `add_editor_style` to see what changes we need to make.

[2021-07-13 18:23] mtias commented on #29568
Thank you all for the discussion and thoughts!

It's important to establish and clarify that `background` and `text` are not to be understood as theme colors in this proposal but instead as concrete _elements_ that a theme can customize. This is an important distinction because elements are not part of a theme color palette but _could be set to a theme color_. A theme color palette should be an op

[2021-07-13 18:32] leeshadle commented on #33212
Ahhh interesting... so it sounds like I should have been using `add_editor_style` instead of `enqueue_block_editor_assets` for enqueueing content styles...

If you remove the rewriting in the iframe, would it enqueue the stylesheet, or would it inline the styles as it currently does?  I ask b/c I often enqueue styles for scripts that add functionality to editor content - imagine something like add

[2021-07-13 18:38] eiriarte commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-07-13 19:09] SiobhyB opened #33396 "Mobile: Low Contrast Checker/Notice for Text-Based Blocks"
## Description

The option to add colours to text blocks was introduced to the apps in https://github.com/WordPress/gutenberg/pull/33250.

A nice feature that accompanies this option on the web is the following notice when colours with a low contrast are being used together:

[code]

The notice is a useful prompt for site owners that helps to promote accessibility and it could be nice to add to th

[2021-07-13 19:10] diegohaz commented on #33391
I think it's similar to `Item`, but `Item` is more about styles than behavior. We could have a generic component for roving tabindex components (like [`CompositeItem`](https://reakit.io/docs/composite/)), but `Item` is even more generic than that.

I've also researched about having a generic `Item` component that could be used directly for all collection components. So, instead of `MenuItem`, `Too

[2021-07-13 19:13] kjellr commented on #30480
Building on @aristath's comment, I think the most reasonable solution here is going to be to allow for some sort of `minmax()` values per column. Perhaps that'll be possible in tandem with the CSS grid work that is happening over in https://github.com/WordPress/gutenberg/pull/32137.

[2021-07-13 19:25] annezazu opened #33397 "Update Block Inserter text label to indicate how to close"
## Description

[If one uses the text icon only option](https://make.wordpress.org/core/2020/12/21/core-editor-improvement-text-only-icons-for-the-toolbar/), the block inserter icon turns into a notice that says "Add". However, if you open it, the "Add" prompt remains and doesn't update to say something like "Close". This makes it hard to know what exactly to do to close the block inserter.

_Feel

[2021-07-13 19:29] diegohaz commented on #33391
@youknowriad In the examples, `Menu` is the same as `DropdownMenu`. I'm suggesting a name change so, besides matching the `role="menu"` attribute, we also have consistent namespaces across the library. Since we already have the `MenuItem` components, I thought it would make more sense to adapt `DropdownMenu` than replacing `MenuItem` by `DropdownMenuItem`.

But I don't really have strong opinions

[2021-07-13 19:35] youknowriad commented on #33391
It seems like you're suggesting that a Menu is always within a dropdown and that having `<Menu><MenuItem><MenuItem></Menu>` where `Menu` is not inside a dropdown is not a valid use-case?

[2021-07-13 19:35] annezazu opened #33398 "Query Loop pattern selection missing with 5.8-RC3"
## Description

The pattern selection normally built into the Query Loop block is missing with the latest nightly version (5.8-RC2-51407).

## Step-by-step reproduction instructions

1. Add a new post.
2. Add a Query Loop Block
3. Notice that the pattern selection is missing.

## Expected behaviour

Expect to be able to pick from various patterns.

## Actual behaviour

No option to scroll through

[2021-07-13 19:38] youknowriad commented on #33391
In Gutenberg we do have `NavigableMenu` which is used in a dozen of places, most of these seem to be Dropdowns or Toolbars but it's not something I can guarantee.

[2021-07-13 19:41] youknowriad commented on #33391
I think I'm ok with not having a non-dropdown `Menu` component but I do prefer `DropdownMenu` to avoid confusion (like I just got confused). I'm not opinionated about `MenuItem` vs `DropdownMenuItem` though, I feel `MenuItem` is fine and we can also have `MenuGroup` (not sure how that fits here) to separate groups of menu items.

[2021-07-13 19:41] chipsnyder commented on #33396
This is a great suggestion @SiobhyB!

[2021-07-13 19:43] diegohaz commented on #33391
Yes! If we want a more generic menu (like a navigation menu that's always visible), we would use components like `ItemGroup`/`Item` or something similar. Those items should be tabbable (and not use roving tabindex as menu items are supposed to) and the container shouldn't use `role="menu"` as it could confuse screen reader users.

[2021-07-13 20:01] diegohaz commented on #33391
We can keep using `MenuGroup`:
[code]

[2021-07-13 20:42] bobbingwide opened #33401 "Warnings and invalid HTML generated from `gutenberg_render_elements_support()` for empty block"
## Description
After updating to Gutenberg 11.0.0 I noticed a number of Warnings being produced.
I analysed the problem in https://github.com/bobbingwide/thisis/issues/34
and eventually determined that the problem occurs when the block being rendered has produced no output
but has a `style` attribute for the link color.

- For my block this happened because the user was not logged in.
- For the sc

[2021-07-13 21:06] #30500 closed, assigned to ellatrix

[2021-07-13 21:32] stokesman commented on #33291
To pick up from https://github.com/WordPress/gutenberg/pull/33285#issuecomment-877169112:

I know I've wondered about this very same thing. I suppose that `handleOnCommit` didn't seem necessary when `isPressEnterToChange` is `false`, because the value would have already propagated. It probably wouldn't hurt to always call 'handleOnCommit' from blur events. Yet doing so may not be enough to prevent

[2021-07-13 22:23] dlh01 opened #33404 "Legacy widgets lack access to some usual server-side globals"
## Description

Legacy widgets whose behavior depends on the `$pagenow` global might not render as expected via the new `/wp/v2/widget-types/fm-demo/encode` REST API endpoint because `$pagenow` during these requests is `index.php`, not `widget.php`.

Additionally, legacy widgets are no longer able to rely on the `$_POST['action']` variable during requests to save widget data, which is usually set

[2021-07-13 22:28] ellatrix commented on #33212
That's what I mean, yes. Currently styles are inlined, but it doesn't have to be like that in the future. The styles had to be rewritten because there was no iframe. Ideally the API would look something like:

[code]

This is currently not possible yet. Behind the scenes, `add_editor_style` adds styles to the settings, so you could extend the settings instead. They are inline for now, but if we al

[2021-07-13 22:41] guarani opened #33406 "RNMobile: Slider and stepper text inputs not rendering correct color in dark mode"
## Description

The slider control colours are off. (Particularly the part that displays the number)
You can replicate this by looking using the slider in the spacer block but it is also found in other block settings such as button and column.

## Step-by-step reproduction instructions
1. Run the demo app on an iOS device
2. Switch the device to dark mode
3. Add a spacer block or any other block t

[2021-07-13 23:01] ellenbauer commented on #13341
Could someone kindly hint me to how I can get this done via theme.json. Is there another ticket or other form of documentation already available? That would be awesome, thanks so much.

[2021-07-14 00:30] leeshadle commented on #33212
Thank you for taking the time to clarify all of this @ellatrix!

Love this - doing something like this would be great - flexible, clean, easy to migrate to, non-hacky ;)

[2021-07-14 01:06] donalirl opened #33409 "Template Editor: Preview Does Not Recognize Changes to Template Without Updating"
## Description
When changing the template of a page, you cannot preview the new layout unless you also click Update to apply the change.

## Step-by-step reproduction instructions

Using Gutenberg 9.7+ and a FSE ready theme:

1. Visit the page editor.
2. Under Template, select a different page template.
3. Click Preview and notice that the preview does not show the page in the newly-selected templ

[2021-07-14 03:36] tellthemachines commented on #33278
I updated #33316 to move Title and Logo blocks inside the link list. There doesn't seem to be any effect on styling.

I also made #33351 to add a Navigation Heading block. It's not clear what the best HTML structure might be accessibility-wise (details [here](https://github.com/WordPress/gutenberg/pull/33351#issuecomment-878771920)) and it's going to be discussed in the next accessibility meeting.

[2021-07-14 03:40] chthonic-ds commented on #33184
Just noting this issue doesn't seem to be covered by #30081 since the "Types of changes" description was updated to "Exposing the CSS-variables in styles generated for containers."

See: https://github.com/WordPress/gutenberg/pull/30081/commits/ccb1c466af130a9d81b3805ff2fbfa372638e01c

[2021-07-14 04:04] noisysocks commented on #33372
I was able to reproduce this. It's very late in the 5.8 release cycle but it's easy to fix this then let's do it because, as you say, Social Icons is a useful block in this context.

[2021-07-14 04:19] carasmo commented on #13341
theme.json is supported in 5.8, set to be released in about 6-7 days. I'm testing the [5.8 release](https://wordpress.org/news/2021/07/wordpress-5-8-release-candidate-2/). I made a theme.json file with my text editor, then I copied out the code from the [settings section in the docs](https://github.com/WordPress/gutenberg/blob/trunk/docs/how-to-guides/themes/theme-json.md#settings). This goes in t

[2021-07-14 06:15] cristianraiber commented on #31893
I confirm that the consent came from my account that I no longer have access to

[2021-07-14 07:03] mrleemon opened #33411 "Documentation: Remove withSelect HOC references in favor of useSelect"
Recently, the docs have been updated to use the `useState` hook instead of the `withState` HOC, because the later has been deprecated:

https://github.com/WordPress/gutenberg/pull/33173

Even if it's not deprecated (as far as I know), I would like to see references to the `withSelect` HOC removed from the docs in favor of the simpler `useSelect` hook to encourage devs to use more modern React ways

[2021-07-14 07:12] donalirl opened #33412 "Template Editor: Cursor Loses Focus While Typing"
## Description
The cursor loses focus mid-typing.

## Step-by-step reproduction instructions
Using Gutenberg 9.7+ and a FSE ready theme:

1. In the Template Editor, click the Site Title block
2. Start typing the new text
3. Notice the typing is interrupted because the block is no longer selected

Also reproducible on other blocks such as the Buttons block.

## Expected behaviour
I expected to cont

[2021-07-14 07:38] ellatrix commented on #33212
No problem! Thanks for the feedback!

[2021-07-14 08:23] maddisondesigns commented on #20453
@mtias Why is this being closed? I'm wondering how adding a 'Select Group' button onto the toolbar, is a valid fix? What happens when the next block comes along that can't be selected? Will you add another button for that as well?

One of the major issues with Gutenberg is that you can't even tell, just from looking at your content, what sort of blocks are being used in the layout (see my earlier

[2021-07-14 08:28] #33361 closed, assigned to nobody

[2021-07-14 08:43] oandregal commented on #33184
Hey, yes, I know. Essentially, it's the same conversation: whether those values should be exposed or not as CSS Custom Properties and where (global, containers, etc).

[2021-07-14 08:49] maddisondesigns commented on #20453
How is this making it easier to use and even resolving the main issue that I raised. In the below vid, I have a `Group -> Columns -> Column -> Paragraph`. To select the Group Block, I first have to use your special button to select the individual Column, then I have to use it again to select the Columns Block, then I have to use it yet again to select the Group. I'd love to hear anyone's explanati

[2021-07-14 08:52] mtias commented on #20453
Closed the issue because there are currently many ways to select a group, so it's not unselectable. If the group has padding, it can be directly selected. If it coincides with the content boundaries, the block list view, the breadcrumb, or the parent block selector can be used because we prioritize selecting children first in the canvas. Other design tools optimize for selecting parents, and that'

[2021-07-14 08:57] mtias commented on #13341
@ellenbauer sure thing! You can set a custom color palette just for the button block like this:

[code]

[2021-07-14 09:00] mtias commented on #19796
It's probably worth collecting a few common uses to add as examples in https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-json/#settings-can-be-controlled-per-block

[2021-07-14 09:01] inaikem commented on #21941
@afercia, @enriquesanchez 👋 Just checking in to see if any progress has been made since the last comment here. Do you know if a new issue was created? Thanks!

[2021-07-14 09:04] inaikem commented on #22012
@afercia, @enriquesanchez, it's me again 👋 Just checking in to see if any progress has been made since your comment on mobile testing in September 2020. Thanks!

[2021-07-14 09:06] inaikem commented on #22014
@donalirl, TIL for me:

Hi again @enriquesanchez 👋 Just checking in to see if any progress has been made since the last comment here. anything I can do to help with testing/clarifying things here?

[2021-07-14 09:27] mtias commented on #25274
I'd suggest to start with group and insert before / after. Those last two are quite important and share functionality, it might be nice to give them more prominence through icons.

[2021-07-14 09:28] #25258 closed

[2021-07-14 09:30] mtias commented on #25253
I'm not sure we should be scaling the sidebar navigation to accommodate all this. If we need pagination, it's likely that we are using the sidebar wrong and more space would be needed. Closing for now.

[2021-07-14 09:30] #25253 closed

[2021-07-14 09:32] mtias commented on #25202
@paaljoachim are there any followups here?

[2021-07-14 09:33] antonyjsmith commented on #20453
I understand this to an extent, but the editor is for editing not consuming and the sentiment is that it's not very good at it. What I take from this is that you are prepared to sacrifice usability for presentation which is rather troubling.

For me this is by using a plugin which vastly improves the experience.

https://wordpress.org/plugins/editor-block-outline/

[2021-07-14 09:34] mtias commented on #25137
Do we have anything pending here?

[2021-07-14 09:35] mtias commented on #25536
This seems handled. Feel free to reopen otherwise.

[2021-07-14 09:35] #25536 closed

[2021-07-14 09:42] mtias commented on #20453
@antonyjsmith that the editor reflects the site accurately is a big part of usability. When it doesn't people lose confidence in what they are editing.

That's a great plugin and I'm happy it exists and explores how a more visually dense presentation could work. We might be incorporating more of that into the select tool or the template editor in particular, we just need to balance it with the wri

[2021-07-14 09:47] mtias commented on #25254
Closing this as it doesn't seem to have much progress currently and it's better to treat each extension point individually, anyways :)

[2021-07-14 09:47] #25254 closed

[2021-07-14 09:55] mtias commented on #27384
Closing as overlapping with #14598.

[2021-07-14 09:55] #27384 closed

[2021-07-14 09:57] mtias commented on #27364
This appears to be working correctly to me now.

[2021-07-14 09:57] #27364 closed

[2021-07-14 09:58] maddisondesigns commented on #20453
Prior to Gutenberg's release in 2018, people have been happily using the WordPress (Classic) Editor for 15+ years. Even now, the Classic Editor has 5+ Million users (truth be told, it's probably closer to 10+ Million because dot org doesn't show numbers greater than 5 and it's been sitting on that for at least 2 years!)

Saying now, all of a sudden, people are losing confidence in what they're edi

[2021-07-14 10:00] mtias commented on #27547
Can we remove the kindle block if this isn't addressed or is too fragile?

[2021-07-14 10:05] mtias commented on #27457
What's the status here?

[2021-07-14 10:08] mtias commented on #27809
@nosolosw curious what you think about allowing a `defaults` object on a block config object just to modify the initialization values of block.json but without any commitment to printing styles.

[2021-07-14 10:10] mtias commented on #27614
Related: https://github.com/WordPress/gutenberg/issues/27809#issuecomment-879766944

[2021-07-14 10:10] mtias commented on #27614
cc @oandregal  @jorgefilipecosta

[2021-07-14 10:16] mtias commented on #20453
I'm sorry but if that's the tone you choose to engage with I'm not sure we can have a very productive conversation.

The classic editor never had native support for groups, so I don't see why it's relevant to the discussion of how easy it is to select nested groups.

[2021-07-14 10:21] aristath commented on #27457
It's been a long time and a lot of things have changed since then, I don't believe this is relevant any longer

[2021-07-14 10:23] mtias commented on #27745
Marking as duplicate of #16889.

[2021-07-14 10:23] #27745 closed

[2021-07-14 10:30] mtias commented on #28010
@paaljoachim let's keep a single issue open, please :)

There's also this one which should be a duplicate #25611.

[2021-07-14 10:37] mtias commented on #27457
I'll close then, but please feel free to open if there are any lingering issues.

[2021-07-14 10:37] #27457 closed

[2021-07-14 10:40] mtias commented on #23766
Closing this as mostly done. We can still consider adding it to the dropdown menu, maybe just for smaller viewports.

[2021-07-14 10:40] #23766 closed

[2021-07-14 10:42] Mamaduka commented on #33411
The list of files that contain `withSelect` reference in examples:

[code]

...and `grep` command just in case I missed something:

[code]

[2021-07-14 10:52] adamziel commented on #33335
Reproducing this by hand is tedious and sometimes takes a long, long time. I created a quick&dirty script that sends the same sequence of requests as the widgets editor until it generates the broken state. For me, it happens on my first attempt sometimes, and some other times it needs dozens of attempts. I am not sure what to make of it yet.

https://gist.github.com/adamziel/a45b5906700425aab0336a

[2021-07-14 10:54] adamziel commented on #33335
I should also mention this is reproducible on WP trunk both with and without the gutenberg plugin.

[2021-07-14 11:08] mtias commented on #28285
Marking this as done now that we have the overlay support.

[2021-07-14 11:08] #28285 closed

[2021-07-14 11:14] #28018 closed

[2021-07-14 11:17] mtias commented on #28051
This should have been addressed with #29939.

[2021-07-14 11:17] #28051 closed

[2021-07-14 11:28] mtias commented on #29420
I'm not sure this makes much sense, especially if we end up transforming the spacer into adjacent margins in the future.

[2021-07-14 11:29] mcsf commented on #27729
Can't repro either. Also tested on Safari, macOS.

Closing until we have new reports of this.

[2021-07-14 11:29] #27729 closed

[2021-07-14 11:30] mtias commented on #29184
Closing as duplicate of #29184. We might end up adding a text flow tool across blocks to accomplish text columns.

[2021-07-14 11:30] #29184 closed

[2021-07-14 11:32] #28919 closed

[2021-07-14 11:38] Mamaduka commented on #29184
Hi, @mtias

I think you referenced this issue in a comment instead of the original one.

[2021-07-14 11:41] mtias commented on #28773
Closing as duplicate of #13202 and #32819.

[2021-07-14 11:41] #28773 closed

[2021-07-14 11:47] Mamaduka commented on #31384
Hi, @david-szabo97

I'm no longer able to reproduce this issue.

![CleanShot 2021-07-14 at 15 46 16](https://user-images.githubusercontent.com/240569/125616892-4db2e0f6-42b3-457e-bd37-2b7463c990a8.png)

[2021-07-14 11:56] Mamaduka commented on #30561
This issue was fixed via #30039.

[2021-07-14 11:56] #30561 closed, assigned to nobody

[2021-07-14 12:08] mtias commented on #29184
Ah, thanks, I meant to reference #25459 for this design setting.

[2021-07-14 12:08] swissspidy opened #33420 "Core Data uses hardcoded `baseURL` prefix for taxonomies and post types"
## Description

`loadTaxonomyEntities` and `loadPostTypeEntities` fetch `wp/v2/taxonomies` / `wp/v2/types` to get information about existing taxonomies and post types for later use.

Unfortunately, when doing so they assume every `baseURL` starts with `wp/v2`:

https://github.com/WordPress/gutenberg/blob/ee69822d9317d0d4c9ca42b951dbf6700b0dadd6/packages/core-data/src/entities.js#L209

https://gith

[2021-07-14 12:14] Mamaduka commented on #30415
I'm no longer able to reproduce this issue with Gutenberg 11.0.

[2021-07-14 12:40] oandregal commented on #13341
Added this as an example at https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-json/#settings-examples

[2021-07-14 12:41] oandregal commented on #19796
Curated a bit the docs and created a section for examples at https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-json/#settings-examples

[2021-07-14 12:53] paaljoachim commented on #28010
Hey @mtias I totally agree..:)
It just happen to become that way for this issue.

If you could take a quick look at:
**Add a new page/post button on publish panel**
https://github.com/WordPress/gutenberg/pull/33276 and do a code review then we can close all of these issues. It is a small PR. Thank you!

[2021-07-14 12:56] youknowriad commented on #27959
Hi there! we did several performance improvements since WP 5.6, It depends on the computer of course just tried in Safari with 1000 blocks, it's decent enough. Of course, performance never stops and we'll continue monitoring and making improvements.

[2021-07-14 12:56] #27959 closed

[2021-07-14 12:57] mtias commented on #28010
Closing in favor of #32099.

[2021-07-14 12:57] #28010 closed

[2021-07-14 12:58] javierarce commented on #26317
I'd like to point out some things I've seen in this component. I can move this list to a new issue if that's more useful:

- The minimum amount of characters we require to create a new page or link is two, which means users can't create pages with just one letter. I'm not sure if there's a reason for that or it's an oversight.
- We always show the interface to create links even if users don't prov

[2021-07-14 13:17] mtias commented on #26317
We should also probably use a document icon for the new page, not the + which in the context of all the pluses used for inserters can get confusing.

[2021-07-14 13:31] javierarce commented on #26317
True.

PS: Even though it's tangentially related to this issue, the design for the UI of this component can be found [in this Figma file](https://www.figma.com/file/OXOmvYcX0Gpwgt7FB5LlKA/Rich-URL-metadata?node-id=202%3A4364). I'll probably rename the file to include future design explorations.

[2021-07-14 13:35] mchowning commented on #31893
Thanks so much @cristianraiber ! 🙇

So you are confirming that the contributions from @cristian-raiber came from you and you consent to dual-licensing them, is that correct?

[2021-07-14 13:43] adamziel commented on #33335
I finally managed to figure this one out, it was an interesting one, that's for sure :-)

**tl;dr**

The problem is caused by:
* Not properly refreshing global variables between handling batch API calls (cc @TimothyBJacobs, nothing directly actionable but I thought you might be interested)
* Mutating things in GET handlers (via `retrieve_widgets`)
* An inconsistent backport from gutenberg to WP co

[2021-07-14 13:51] adamziel commented on #33335
As for a fix – I think each request handler should update all the relevant global variables. With that in mind, the fix here would be as simple as refreshing `global $sidebars_widgets` in `wp_set_sidebars_widgets` as well as `$_wp_sidebars_widgets`. This could be done as simply as calling `wp_get_sidebars_widgets()`, although it's unintuitive and I don't like that too much. Perhaps we could refact

[2021-07-14 13:57] annezazu commented on #33409
Thanks for flagging. This was previously reported and closed here for context: https://github.com/WordPress/gutenberg/issues/31567 in favor of this issue: https://github.com/WordPress/gutenberg/issues/17727 Closing this one out too!

[2021-07-14 13:57] #33409 closed, assigned to nobody

[2021-07-14 14:03] johngodley opened #33422 "Undefined support for core/freeform block when oldEditor not set"
If the `core/freeform` block is not registered (possibly because `window.wp.oldEditor` is not set and the classic block is not loaded - Gutenberg is used outside of WordPress, for example) then if classic content is encountered you get the following undefined error as classic content doesn't have a block name:

![image](https://user-images.githubusercontent.com/1277682/125634562-b5153364-6ad6-4824

[2021-07-14 14:04] adamziel commented on #33335
Let me also surface this from WordPress.org slack:

[2021-07-14 14:15] desrosj opened #33424 "Increase in `npm ERR! cb() never called!` errors"
## Description
There has been an increase in failures running `npm install` and `npm ci` in the last 2 months. This has mainly been visible in GitHub Action workflows, but some folks have encountered this locally.

Restarting the workflow or re-running `npm install` usually fixes the issue.

This is an issue to track this problem, document findings, and hopefully find a solution.

[2021-07-14 14:19] desrosj commented on #33424
Here's a knowledge dump for the actions I've taken so far, and findings.

Actions so far:
- I reached out to GH support.
- They asked that I create issues on the `actions/setup-node` (see actions/setup-node#268) and `actions/virtual-environments` (actions/virtual-environments#3572).
- The virtual environments ticket has been closed with a request to reach out to the NPM team.
- I have not yet done

[2021-07-14 14:21] mcsf commented on #27547
I don't think that really changes things, since this all comes from the embed endpoint. The Kindle block is just an explicit block variation of the Embed block. Follow-up is more likely needed in core:

* Enacted in [Changeset 41615: Embeds: Add support for Amazon Kindle instant previews](https://core.trac.wordpress.org/changeset/41615)
* Tracked in [Ticket 38181: Add oEmbed support for Amazon Kin

[2021-07-14 14:25] javierarce commented on #33193
Even though the static nature of the inserter is confusing in this example, I think this is one of those instances where we should gather more similar user reports to start designing a comprehensive solution.

[2021-07-14 14:29] dsawardekar commented on #8999
I ran into this issue on Gutenberg 10.7.0. The problem was that I was customizing the REST API response and was sending back an empty content response field. Gutenberg expects the `content.rendered` property in the response, if it is absent the Block parser fails very early in the loading staging -- resulting in a fatal exception & white screen.

[2021-07-14 14:34] adamziel commented on #33335
Let's continue the discussion in in https://core.trac.wordpress.org/ticket/53657

[2021-07-14 14:57] ihdk opened #33427 "Missing Template selection in editor on Custom Post Type edit page, after update to 5.8-RC3"
## Description

Hello, I'm using Custom Post Type with custom Templates.
Available templates are available on this custom post edit page with WP 5.7.2.
After update to WP 5.8-RC3 I can see that Templates selection was moved from Page Attributes tab to Template tab in editor screen while I am editing standard Page. But on my custom post type edit screen there is totally missing Template tab to sele

[2021-07-14 15:00] Patil2099 commented on #33411
I would love to take this up

[2021-07-14 15:26] #32365 closed, assigned to nobody

[2021-07-14 15:49] TimothyBJacobs commented on #33404
We could theoretically spoof `$pagenow`, though I wonder if that would have other complications of people expecting certain things to be loaded, or loading something.

However, we don’t do this spoofing for other REST API endpoints, even though it could’ve also been an issue in the regular post editor.

I’m more ambivalent about adding the `action` since I think there is less chance of harm. But t

[2021-07-14 15:49] paaljoachim commented on #20453
Hey @maddisondesigns Anthony

There is still a general UX need to improve where one is in the hierarchy of nested blocks. As this is a tricky part for most users.

There is gradual work happening to make it easier to select the Group block.
Default Appender: Add select-state before showing inserter
https://github.com/WordPress/gutenberg/issues/33025

We also have a click through approach merged:
T

[2021-07-14 16:32] juanmaguitar opened #33429 "Documentation: Some links in the Block Editor Handbook don't show its related sidebar position"
## Description

Links such as:
- https://developer.wordpress.org/block-editor/handbook/tutorials/devenv/
- https://developer.wordpress.org/block-editor/handbook/tutorials/create-block/

 don't show its related sidebar position

![Captura de pantalla 2021-07-14 a las 18 27 31](https://user-images.githubusercontent.com/422576/125658253-ab3ecab8-0911-4097-ab35-d1f28faeb1e0.png)

while most of the pag

[2021-07-14 17:07] #33114 closed, assigned to Mamaduka

[2021-07-14 17:08] desrosj opened #33431 "Text for dropdown fields within legacy widgets in the Customizer is off centered"
## Description
When editing a legacy menu widget in the Customizer in Firefox, the text for dropdown menus is misaligned. It works correctly on the Widgets admin screen.

## Step-by-step reproduction instructions
1. Add a menu to the site.
2. Open the Widgets panel in the Customizer.
3. Insert a legacy navigation widget.
4. Observe the dropdown text is pulled out of the field.

## Expected behavio

[2021-07-14 17:18] #33004 closed, assigned to ellatrix

[2021-07-14 18:04] annezazu commented on #33412
Thanks for reporting this! Noting that this needs to be tested with Gutenberg 11.0+ (ideally 11.1 RC launched today).

[2021-07-14 18:05] annezazu commented on #33398
Just tested this with RC3 and still can confirm.

[2021-07-14 18:28] gwwar commented on #19476
🙈 So when `privacy.resistFingerprinting` is true FF will reduce the JavaScript time precision to 100 ms!

For context, animations need 16ms frames to achieve 60 frames per second. So a resolution of 100ms is going to do really funny things with any sort of animation, regardless of what framework we're using.

https://developer.mozilla.org/en-US/docs/Web/API/Performance/now#reduced_time_precision

[2021-07-14 19:12] WraithKenny commented on #20569
The question is, should this mu-plugin be offered and supported by default in `wp-env` to fix this bug.

[2021-07-14 19:38] tomjn commented on #19476
For those unaware, the last comment makes more sense after reading this:

https://github.com/WordPress/gutenberg/pull/30979#issuecomment-838987839

[2021-07-14 20:51] bph opened #33436 "Weird theme.json behavior: block specific typography settings"
## Description
In the theme.json I added block based settings.
[code]

As instructed  in above post, section "Intermediate Testing Steps" > Typography,
I saw the controls for heading as well as paragraph but VSCode put red squirrly lines underneath the last commas, and the settings disappeared on reload.

Also, when the settings are visible the three cover blocks all go full width.

I am aware tha

[2021-07-14 20:59] bobbingwide commented on #33436
After changing `theme.json` it's a good idea to validate it using a tool such as jsonlint.com.
I believe VSCode is trying to tell you there's a syntax error.
If there's a syntax error then `theme.json` isn't loaded
There should have been a message.
When there's a syntax error none of your settings will work.

Jsonlint reports
[code]

[2021-07-14 20:59] ntsekouras commented on #33398
I did some testing now and it seems to work properly.. 🤔

`Query Loop` block will fallback to just showing the `block variations` if no matching patterns are found (internally this is handled by `__experimentalBlockPatternSetup`. So a possible thing here could be using a theme that removes core patterns with something like `remove_theme_support( 'core-block-patterns' );`? What theme do you test th

[2021-07-14 21:01] paaljoachim commented on #20453
A followup comment.
I know a lot of the comments I have made over time show an old UI from days gone by. Some improvements have been added over time. It would be great to focus on new actionable steps (improvements) that are on their way.
Thanks!

[2021-07-14 21:03] bph commented on #33436
You would think, yes.  @bobbingwide  - But it DID  load, and it showed the settings in the editor, that weren't there before. And without the commas, the settings wouldn't load. It's the weirdest thing.

[2021-07-14 21:28] ellenbauer commented on #13341
Awesome, thank you so much @mtias for pointing me into the right direction. That is such a helpful add-on to be able to customize the color palette per block.
Also thank you @nosolosw for updating the documentation.

[2021-07-14 21:34] bobbingwide commented on #31424
### Workaround
In  `style.css`
[code]

[2021-07-14 21:45] annezazu commented on #33398
Hmm. Just tried with Twenty Twenty-One, Twenty Twenty, Twenty Nineteen, and Twenty Seventeen just for fun :) All replicated the same problem. No patterns appear and only the block variations show.

[2021-07-14 22:11] paulwilde commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-07-14 22:33] ryelle opened #33437 "Setting a link color on a parent block overrides icon and button colors"
## Description
Setting a link color on a parent block overrides icon and button colors, but only on the frontend of the site.

Initially reported in https://github.com/WordPress/pattern-directory/issues/235, can be seen (for now) on these patterns:
- https://wordpress.org/patterns/pattern/contact-and-social-links/
- https://wordpress.org/patterns/pattern/introduction-with-image-on-the-left/

## St

[2021-07-14 22:48] annezazu commented on #31662
This is still an issue in 5.8 RC3 and a pretty big bummer as I imagine folks are going to expect this to work.

[2021-07-14 22:54] melchoyce commented on #27620
Instead of having to specify an exact width and height by default, it might be nice to explore the ratio picker the image block uses:

![image](https://user-images.githubusercontent.com/2846578/125703032-5e2e5f09-69f5-405b-acaf-e1bad708d7f5.png)

[2021-07-14 22:56] donalirl commented on #33409
Thank you! I promise I did search for existing issues before reporting 😅 I think I had the wrong labels...

[2021-07-14 23:46] matthewmcvickar commented on #28146
I would love to be able to set two separate palettes for the 'Text Color' and 'Background Color' color settings. Is that what this ticket is tracking? I can't quite figure out what's going on in this ticket or the linked 'custom colors' ticket (#6941). Has there been any movement on this feature?

[2021-07-14 23:54] moon0326 opened #33439 "isScrollable prop in CardBody component is causing a visual glitch in pre-existing components without isScrollable prop."
## Description

The latest Gutenberg (11.0) causes a visual glitch on WooCommerce onboarding wizard pages where [Card](https://github.com/WordPress/gutenberg/blob/trunk/packages/components/src/card/card-body/hook.js#L26) component is being used.

It looks like `isScrollable` has been added recently and the default value is set to `true`. I think the default value should be `false` to prevent any b

[2021-07-15 00:00] moon0326 commented on #33439
WC Admin team is working on a fix for wordpress.com customers in this [PR](https://github.com/Automattic/wc-calypso-bridge/pull/710)

[2021-07-15 00:45] noisysocks commented on #33431
Looks like a good candidate for 5.8.1.

[2021-07-15 00:58] peterwilsoncc opened #33440 "Transforms: Wrapping transform in `core/group` fails due to JavaScript errors."
## Description
When transforming a widget to a core group, JavaScript errors prevent the conversion.

I'm attempting to provide a widget to block transformation for the [WP Call Button](https://wordpress.org/plugins/wp-call-button/) plugin. As the widget includes a heading and a description, my transformation is to a core group containing three inner blocks. The [transform code](https://gist.githu

[2021-07-15 01:42] ajlende commented on #31662
If we get #31519 merged (currently awaiting review), it would disable the duotone button when fixed and repeated backgrounds are set, so at least there wouldn't be any confusion of selecting a duotone option and not seeing it applied.

The proper fix requires changing the structure of the cover block which I was planning to take a look at when #31519 is merged. I know #32972 for duotone in the med

[2021-07-15 01:56] annezazu commented on #33409
Oh no worries at all :D This happens to me all the time.

[2021-07-15 03:11] peterwilsoncc opened #33443 "Admin functions throw errors on widgets screen."
## Description

Using an admin only function, such as `is_plugin_available()`, in a legacy widget's form  throws a 500 error on the new widget editing screen.

The [Compact Archives](https://wordpress.org/plugins/compact-archives/) plugin I maintain for work includes a call to `is_plugin_available()` in the `My_Widget_Class::form()` function. In previous version of WP this was dandy but in 5.8 it

[2021-07-15 04:10] noisysocks commented on #32805
OK the approach I described in https://github.com/WordPress/gutenberg/issues/32805#issuecomment-867348916 and @draganescu implemented in https://github.com/WordPress/gutenberg/pull/33388 won't fix this issue because any CSS in the widgets editor won't cascade into the preview iframe. We need to come up with something more comprehensive, e.g. adding the sidebar ID to the iframe URL or to the previe

[2021-07-15 04:29] TimothyBJacobs commented on #33443
The fix here would be to bootstrap the whole admin during this request, which I don't really love. A fatal is pretty bad though.

[2021-07-15 04:34] noisysocks commented on #33106
Let's punt this to 5.8.1. Probably we just need to use `dangerouslySetInnerHTML`.

[2021-07-15 04:35] noisysocks commented on #33372
Any fix we make won't receive thorough testing ahead of the 5.8 final release so I think let's punt this to 5.8.1 but mark it as a priority by including it in https://github.com/WordPress/gutenberg/issues/33242.

[2021-07-15 05:06] Mamaduka commented on #33398
This is what I'm seeing when testing with TT1 and TT1 Blocks. WordPress 5.8-RC3 with and without Gutenberg active.

https://user-images.githubusercontent.com/240569/125731829-85ac711f-8ee9-4503-a001-acdad9acb779.mp4

[2021-07-15 05:32] annezazu commented on #33398
Spun up a new test site with the same setup (5.3RC, no GB, using WP Beta Tester, TT1 blocks latest version). On my first test site, I can see the problem at hand. On the second test site, it works. I tried completely removing the TT1 blocks theme over SSH and reinstalling :/ Tried enabling a debug log but no errors relate. Tried using the nightly RC version but still can replicate.

If no one else

[2021-07-15 05:46] ntsekouras commented on #33398
@annezazu if you click on the main inserter and go to the `patterns` tab, can you see the `Query` patterns there?

[2021-07-15 06:38] gziolo commented on #33358
I see that a related fix #33167 from @adamziel might have been already cherry-picked to WP 5.8 recently. Although, it addresses a different issue.

[2021-07-15 06:40] talldan commented on #33439
@moon0326 Do you know which PR caused the issue?

[2021-07-15 06:43] audrasjb commented on #33358
Cool. Indeed it addresses a different issue but hopefully it may fix the problem?
That said, it wasn't backported for now

[2021-07-15 06:53] gziolo commented on #33358
I can confirm that this is a regression.

I found this code in WP 5.7 and it's missing in 5.8:
[code]

It was moved to a different file (`packages/block-editor/src/components/writing-flow/use-select-all.js`) in https://github.com/WordPress/gutenberg/commit/5d0b0f61e01a96e7de4a8138d5b8120fdf75e70a.

It was further refactored in https://github.com/WordPress/gutenberg/commit/37c5148e964022333cc070d0a

[2021-07-15 07:01] paaljoachim commented on #28146
Hey @matthewmcvickar

I mentioned this:

I found the initial support request intriguing. As it feels natural to have one color palette for the text colors and another set of colors - color palette for the background color. I noticed you linked in:
Core Component: Allow Saving Custom Colors to the Color Palette
https://github.com/WordPress/gutenberg/issues/6941
I also noticed that 6941 links in man

[2021-07-15 07:12] ellatrix commented on #33358
It looks like the content is not focused nor is nothing selected when you press cmd+a?

[2021-07-15 07:38] Mamaduka commented on #33358
Yes, this happens when content isn't focused or selected. However, if I focus on content, then the shortcut works as expected.

[2021-07-15 07:53] talldan commented on #33440
@peterwilsoncc I think it's because of this:
https://github.com/WordPress/gutenberg/blob/64f1de6587425808b02a339f82d5fb95193c0011/packages/blocks/src/api/factory.js#L541-L550

The code checks to see whether the block name (this'll be the name of the block that the transform is declared on) matches one of the blocks in the list returned by the transform function, but it doesn't check inner blocks,

[2021-07-15 08:01] mtias commented on #22278
@melchoyce should we consider this done with access to duotone grayscales or were you hoping to have controls like sliders for it?

[2021-07-15 08:19] gziolo commented on #33358
#33446 should fix it.

[2021-07-15 08:21] mtias opened #33447 "Design Tools Overview"
Splitting work on design tools into its own tracking issue and out of #20331, which we are reserving for infrastructure and global styles specifically.

## Goal

Design tools encompass all tools related to the appearance of blocks and ranges from colors, typography, alignments, and positioning, to filters like duotone, cropping, and background media. This issue is primarily focused on the creation

[2021-07-15 08:22] mtias commented on #33094
**Update:** broke design tools into its sub-tracking issue at #33447.

[2021-07-15 08:39] #33370 closed, assigned to noisysocks

[2021-07-15 08:42] mtias commented on #13341
Agreed! It's a large part of what makes the addition of theme.json worth it, since it scales to any block, including third-party ones as long as it uses the block supports APIs, and should offer a lot of flexibility for site maintainers and themes.

[2021-07-15 09:08] anarieldesign commented on #18055
@koke I think this would be soo useful to have in the core. I created 2 FSE themes so far and also our latest premium theme is made with block patterns and this is exactly what I thought and talked with few people about. It would be great when a user opens a new page, to chose design/page patterns however we called it and it starts editing it right away. Most of the users just want to add a page,

[2021-07-15 09:15] foysalremon commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-07-15 09:55] hypest commented on #33364
Can we close this ticket @fluiddot, especially now that the duplicate-of is closed? Or is there some more context captured in this one?

[2021-07-15 09:57] gziolo commented on #23820
It's no longer an issue in WP 5.8 🎉

[2021-07-15 09:57] #23820 closed

[2021-07-15 10:02] gziolo commented on #23826
The most visible issue is with `Move up` icon that is displayed over `Move down`. If you still don't think it isn't an issue we can close this one as it seems to be a minor thing.

[2021-07-15 10:02] #23826 closed

[2021-07-15 10:04] moon0326 commented on #33439
@talldan I think this [PR](https://github.com/WordPress/gutenberg/pull/32566) caused the issue.

[2021-07-15 10:21] #32882 closed, assigned to fluiddot

[2021-07-15 10:27] fluiddot commented on #33364
I would keep it open because although the duplicate-of is closed, until the Gutenberg GlotPress project gets updated with the missing strings, the translations cache in GB-mobile can't be refreshed.

[2021-07-15 10:31] ellatrix commented on #33212
May I ask what kind of styles you're looking to registering for blocks that you don't register without being a theme? I'm just curious and want to learn more about use cases.

[2021-07-15 10:50] bfintal commented on #33212
Hey @ellatrix for my case, my plugin provides new blocks that have their own looks. Then I have a separate css file that's only loaded in the frontend that serve as common styles across all our blocks. Is that what you were asking about?

[2021-07-15 10:53] ndiego commented on #33212
I have a plugin called [Block Visibility](https://wordpress.org/plugins/block-visibility/) that allows users to conditionaly display blocks on the frontend of their website. When a block is conditional, I am adding a dashed outline around the block and adding some opacity. This greatly helps users know what is conditional in the editor when working with a large page full of blocks. Admittedly the

[2021-07-15 10:59] exstheme commented on #33212
@ellatrix
Hello, Ella!

I'm adding inline styles for the editor for my custom colors that user can choose in the Customizer.
This is done with following code in the 'after_theme_setup' hook (I guess that I will use theme.json for this later, but now it is like this:)

[code]

Then I'm registering my custom CSS for the dashboard and adding inline styles for it on the 'admin_enqueue_scripts' hook an

[2021-07-15 11:00] adamziel commented on #33443
To use these functions we need to load them, so the only debatable point here is whether we should load them eagerly or lazily. I would love to go for the lazy loading, but unfortunately there's a catch.

If we were talking about classes, we could just add an autoloader via `spl_autoload_register` and call it a day. Unfortunately, PHP does not support autoloading functions so no dice here.

The on

[2021-07-15 11:16] swissspidy commented on #33364
Since WordPress.org was already patched to include that fix, I assume this should be resolved once GB 11.1 is released on the plugin directory.

[2021-07-15 11:36] bobbingwide commented on #33398
I tried this with a child theme of Twenty Eleven. Patterns are being listed.
![image](https://user-images.githubusercontent.com/2474435/125781711-97ad51fc-7dea-4754-8460-a43bb85339db.png)

[2021-07-15 11:49] fluiddot commented on #33364
Ok, in that case, I think we can close the issue as it will eventually be fixed with the GB 11.1 release. The [GB 11.1 milestone's](https://github.com/WordPress/gutenberg/milestone/153) due date is July 14, 2021 so it won't take too long until is updated 🎊 .

Thank you so much @swissspidy for the help on this issue 🙇 !

[2021-07-15 11:49] #33364 closed, assigned to nobody

[2021-07-15 12:05] #33246 closed, assigned to ellatrix

[2021-07-15 12:05] #30932 closed, assigned to Mamaduka

[2021-07-15 12:05] gziolo commented on #33424
It's worth noting that we are still using `npm 6`. It's hard to tell if it will get any better when we set `npm 7` on CI.

[2021-07-15 12:23] youknowriad commented on #33398
I can't reproduce the issue either. Tried several configuration and patterns are showing up for me.

[2021-07-15 12:24] gziolo commented on #33378
There is also another possibility since webpack supports multiple configuration types:
https://webpack.js.org/configuration/configuration-types/#exporting-multiple-configurations

It's actually what I'm proposing for Gutenberg to split configurations for blocks and packages. In your case, you could have one config for the frontend that has special requirements and another config for everything els

[2021-07-15 12:26] javierarce commented on #31456
Here are a couple of ideas:

1. Surfacing the "discard" option more for the unchecked items.

![image](https://user-images.githubusercontent.com/4933/125785817-fb0a1965-ab52-4050-a212-986f550f612f.png)

My concern with this solution is that it overexposes a destructive action. I'm also not sure if "discard" is easy to understand.

----

2. Resurfacing discarded elements in the post-save area

![im

[2021-07-15 12:26] youknowriad commented on #33398
Closing this as everything seems correct for a few of us. If we manage to find the conditions that trigger this we can reopen.

[2021-07-15 12:26] #33398 closed, assigned to nobody

[2021-07-15 12:31] javierarce commented on #31456
I'm not sure about this, @paaljoachim… I think it could be interpreted as "Discard" this panel, and I feel is a bit inconsistent with the title below (Select the changes you want to save).

I also fear that some people could miss text change when they are unchecking some lower checkboxes.

[2021-07-15 12:35] youknowriad commented on #33375
I have been able to reproduce in the Gutenberg plugin but not without it. Given this is flaky and a bit hard to reproduce, also it feels very minor to me, I'm removing this from 5.8.

[2021-07-15 12:58] andrewstaffell opened #33456 "group block padding can't be set by `theme.json`"
## Description

Group block padding (with background color) can't be configured through `theme.json`.

## Step-by-step reproduction instructions

1. Create `theme.json`:
[code]
2. Insert Group block and assign any background colour
3. Check block padding – should be `1rem` following `theme.json` but is actually `1.25em 2.375em`. The `1rem` rule is output in the stylesheet (for `.wp-block-group`) b

[2021-07-15 12:58] fabiankaegy commented on #33378
@gziolo I started looking into it a bit and it is totally possible that I missed something but from my understanding webpack handles externals per webpack instance, not on an entrypoint basis. So there isn't even a conditional we could introduce here...  😂

But it would be great to have tools like `wp-scrips` make it easier to have the multiple configurations :)

[2021-07-15 12:59] MadtownLems opened #33458 "Editing Reusable Blocks that I don't have permission to Edit shows changes that aren't actually saved"
## Description
If a user lacks the ability to edit a specific Reusable block (perhaps they are a Author and the block was originally made by someone else), Gutenberg still allows them to edit the block in the backend. Publishing/updating the post gives no warnings or errors, so they have no way to know that their actual published content looks different from what they currently see while editing.

[2021-07-15 13:01] paaljoachim commented on #31456
You have some nice suggestions, @javierarce !

It is a good idea to resurface discarded areas in the post-save area. As it creates a much clearer distinction between what is saved and what is to be discarded.

[2021-07-15 13:41] #33333 closed, assigned to ellatrix

[2021-07-15 13:55] desrosj commented on #21703
Just wanted to follow up on WordPress/wordpress-development#1483. I've elected not to include the pattern updates in the bundled theme release accompanying WordPress 5.8. This will leave `console.info()` notices, but it will prevent block validation problems in a number of theme and WP version combinations. See [my comment on the ticket for full details](https://core.trac.wordpress.org/ticket/5361

[2021-07-15 13:56] hellofromtonya commented on #33443
I agree with @TimothyBJacobs that bootstrapping the whole admin is not ideal. There's a lot of functionality being loaded through the admin bootstrapper which may not be needed for this request. For example, the specific reported problem needs the function `is_plugin_active` which is in the `wp-admin/includes/plugin.php` file.

That said, functions not loaded into memory when using the widgets edi

[2021-07-15 14:01] chipsnyder commented on #18055
@anarieldesign Thanks for following up with that suggestion ❤️ FYI @koke is currently working on other projects but I'm leading a team that is focused on these Page Patterns/Layouts and will take this request to be reviewed.

[2021-07-15 14:03] melchoyce commented on #22278
Yeah, I think we can close this 👍

[2021-07-15 14:03] #22278 closed

[2021-07-15 14:36] #33358 closed, assigned to ellatrix

[2021-07-15 14:38] adamziel opened #33462 "[Widgets editor] is_admin() is false in the API requests to /wp/v2/widget-types"
## Description

The plugin [Widget Visibility Time Scheduler](https://wordpress.org/plugins/widget-visibility-time-scheduler/) registers the `in_widget_form` callback to augment the widget editing form. It does so in `define_admin_hooks` function which is called like this:

[code]

Unfortunately, `is_admin()` is false in context of `/wp/v2/widget-types`.

## Step-by-step reproduction instructions

[2021-07-15 14:55] adamziel commented on #33462
Related: https://github.com/WordPress/gutenberg/pull/33454#discussion_r670457039, https://github.com/WordPress/gutenberg/issues/33443

Interestingly, this is a case of this @hellofromtonya :

Here's the problem: `WP_REST_Widget_Types_Controller` is constructed before the hinjiwvts plugin registers the hooks.

Here's the stack trace from the plugin function that registers the hooks (note `/var/www/

[2021-07-15 15:00] hellofromtonya commented on #33443
Autoloading functions when needed has been a hot topic in the PHP world. There's a [RFC dating back to 2015](https://wiki.php.net/rfc/function_autoloading). Autoloading functions themselves requires some structural changes and more code to be added such as:

- Moving each function's code to a class with static public methods and then autoloading the class
- Creating a proxy or function mapper as A

[2021-07-15 15:24] dianeco opened #33463 "Column block: percent unit to control the column's width is missing in 5.8-RC3"
## Description
The `%` unit to control the column's width is missing in WP5.8-RC3. It was there in RC2.

## Step-by-step reproduction instructions
1. Add a new post.
2. Insert a Columns block.
3. Select a Column block.
4. In the settings sidebar, try to change its width.
5. Notice that the unit is set to `px` by default and that `%` is missing from the dropdown.

## Expected behaviour
By default,

[2021-07-15 15:29] anarieldesign commented on #18055
@chipsnyder that would be great :). Thank you. I'm sure this would be very useful to other theme authors and especially to the users, which's most important. I wanted to open a ticket and suggest if we could make something similar that WordPress.com did but @annezazu shared this ticket with me and so happy you already thought about it. From the user perspective, I think this would be a huge help.

[2021-07-15 15:35] codestylist commented on #33462
Thank you guys for having a look into this. I'm pretty amazed and happy about this.

[2021-07-15 15:43] adamziel commented on #33443
I considered that, but then we'd still need proxies/mappers to preserve the existing function-based API :(

That's a good point, let's move over to core Trac: https://core.trac.wordpress.org/ticket/53670#ticket

[2021-07-15 15:47] youknowriad commented on #33463
So I know what happened here, we fixed a bug in RC3 where the columns block was not using the `spacing.units` config and was using its own fallback. and WordPress defines a list of units by default that doesn't include `%`. So fixing this would be a small change, but the impact is that the `%` unit will be available in all places where we can use units (font size, height, width, margin, padding...

[2021-07-15 15:52] desrosj commented on #33463
Were percentage units included previously in 5.7? This is described as a regression from RC2 to RC3.

If they were not present the previous release, I think I am comfortable categorizing this as a future item and not a blocker, as it's not technically a regression.

[2021-07-15 15:54] desrosj commented on #33463
Also, I'm a bit concerned with adding the percentage unit in more places without thorough exploration as that could prove more difficult to remove later for the other areas you mentioned.

[2021-07-15 15:56] #33309 closed, assigned to ntsekouras

[2021-07-15 15:57] #32473 closed, assigned to ntsekouras

[2021-07-15 15:57] #33306 closed, assigned to nobody

[2021-07-15 15:57] thatdevgirl opened #33465 "RichText component: Add label and/or help text attributes"
## What problem does this address?

It would be useful for the RichText component to have a label or help text attribute (or both!) to allow block developers to add text to the component to describe its intent within the block.

For example, if I were to create a block that would contain a person's profile information, that block would have attributes for the person's name and their bio. The bio w

[2021-07-15 15:58] youknowriad commented on #33463
Yes, it was there but in 5.7 there was no way to define the units for the block using theme.json. Meaning that setting didn't exist. I think the other approach might be to remove the `spacing.units` default config entirely but that would mean that all blocks should ensure a default fallback on their own.

I think at this point adding the `%` to all controls seems safer.

[2021-07-15 16:00] mcsf commented on #33463
If it's limited to spacing controls, I think this is viable.

[2021-07-15 16:16] annezazu commented on #33398
Noting here for good measure that I tried with the same site in a different browser with a cleared cache and was able to get the query loop block to work as expected. Not sure what's going on but keeping this closed as it seems like a fluke :)

[2021-07-15 16:30] ellatrix opened #33469 "Error when tabbing from title into content"
## Description

## Step-by-step reproduction instructions

Create a new post
Create a paragraph
Click on the title
Press the `Tab` key

Result:

[code]

## Expected behaviour

## Actual behaviour

## Screenshots or screen recording (optional)

## Code snippet (optional)

## WordPress information
- WordPress version:
- Gutenberg version:
- Are all plugins except Gutenberg deactivated?
- Are you usi

[2021-07-15 16:31] youknowriad opened #33470 "Improve the way we handle custom units and how we interact with themes config."
There are a couple of issues with the way we handle units right now. Themes provide the available themes by adding `spacing.units` to their `theme.json` or by defining `add_theme_support( 'custom-units' )`

I noticed a number of issues though:

 - If the theme doesn't define anything, we end up with `false` value for the config but since we have fallbacks each time we do `useSetting( 'spacing.unit

[2021-07-15 16:38] annezazu opened #33471 "[Template Editor] Unable to clear out template name to rename it"
## Description

If you try to rename a template by fully removing the template name in order to add a new one, a filler name is added in and you're unable to remove the contents/rename properly. This makes renaming very difficult.

## Step-by-step reproduction instructions

1. Use a theme with template editor support.
2. Create a new template.
3. Using the top toolbar, try to rename the template b

[2021-07-15 16:41] leeshadle commented on #33212
Generally, I try to avoid creating custom blocks and use [block filters](https://developer.wordpress.org/block-editor/reference-guides/filters/block-filters/) with core blocks whenever possible.  This typically requires enqueuing styles that apply to the editor content.

Some examples of how I've done this:
- I have a plugin that turns the core/image-gallery block into a slider using [flickity](ht

[2021-07-15 16:53] #33469 closed, assigned to nobody

[2021-07-15 16:54] TimothyBJacobs commented on #33443
Can someone clarify if this only breaks the widget that is using an admin function? Or will it pollute the entire editor?

[2021-07-15 17:07] TimothyBJacobs commented on #33462
Yeah this would be a documented breaking change. There were similar issues when the block editor was originally introduced in 5.0.

[2021-07-15 17:26] #33463 closed, assigned to youknowriad

[2021-07-15 17:26] hellofromtonya commented on #33443
After discussion in [slack #core-editor channel](https://wordpress.slack.com/archives/C02QB2JS7/p1626368244228500), it was agreed to revert PR #33454.  Instead, agreed to:

- Provide guidance to widget authors via dev note: _when_ using a wp-admin function, load the appropriate core file within the plugin
- Monitor any reports of similar issues to determine if additional steps are needed

[2021-07-15 18:39] scruffian opened #33474 "Query Pagination Next: Add an option to change &raquo; to another type of punctuation."
## What problem does this address?
By default the Query Pagination Next block outputs this:

"Next Page &raquo;"

Which can't be customized by the user.

## What is your proposed solution?
We should add an option to the block to change this to something else. Possible options could include:

"Next Page &rarr;"
"Next Page &lt;"

or simply

"Next Page"

[2021-07-15 18:47] scruffian opened #33475 "Add credit block"
## What problem does this address?
Block themes might want to add a credit block in the footer.

## What is your proposed solution?
We should add a simple block that outputs "Proudly Powered by WordPress", which can be translated and customized.

Other options might include:
"Built with WordPress"
"Powered by WordPress"
"Website built with WordPress"
"Website powered by WordPress"

[2021-07-15 18:58] scruffian opened #33476 "Query Title: Search and 404 pages."
## What problem does this address?
The Query Title block is empty on the Search page

## What is your proposed solution?
The Query Title blocks should display "Search results" on a search page and "Nothing found" on a 404 page.

Some prior work on this here: https://github.com/WordPress/gutenberg/pull/27989

[2021-07-15 19:15] mellm0 opened #33477 "Adding block variations in innerBlocks settings when registering a variation"
## Description
I want to use the block variation from another block when registering a block variation but this does not seem to be allowed, or is not working.

## Step-by-step reproduction instructions
I am using Gutenberg outside of Wordpress CMS (as a JS library), so adding the code snippet in an external JS file and then include it in Wordpress.

## Expected behaviour
When inserting this varia

[2021-07-15 19:49] audrasjb commented on #33358
Thanks all for working on this issue <3

[2021-07-15 20:55] bobbingwide opened #33479 "Legacy Widget: Custom HTML widget does not display code editor until clicked"
## Description

In WordPress 5.7.2 the Custom HTML widget looks like this.

![image](https://user-images.githubusercontent.com/2474435/125852692-405d7da3-7f21-42e8-9f4e-6d5eeda10f74.png)

In WordPress 5.8-RC3 it first appears as

![image](https://user-images.githubusercontent.com/2474435/125853980-75b845b0-5d32-40a0-82f6-54d0afcd4b88.png)

Clicking on the content causes the Legacy widget to be dis

[2021-07-15 21:47] audrasjb commented on #33358
Hi, while testing WP 5.8 RC4 package, I noticed it didn't fix the issue.
I think it's worth to reopen this issue to make it sure it can be addressed before 5.8 is released, if it's even possible :)

[2021-07-15 22:38] critterverse opened #33481 "Link to external documentation in Pattern creation snackbar"
Follow up to https://github.com/WordPress/gutenberg/pull/32464

Since the Welcome Guide in the above PR is only accessible from a temporary snack bar shown after the Reusable block is saved, it would be helpful to provide more information about the Reusable block earlier in the editing process.

![block-description-1](https://user-images.githubusercontent.com/77359364/127195046-dc4129ee-342a-458b-

[2021-07-15 22:39] audrasjb commented on #33358
Ok so if you first put the focus on the editor area then it works fine. I think it’s not as good as the previous behavior, but it’s not a blocker anymore for 5.8 in my opinion.

[2021-07-16 00:50] #33462 closed, assigned to nobody

[2021-07-16 01:39] talldan commented on #33439
Thanks @moon0326.

@ciampo Is this something you'd have time to take a look at?

[2021-07-16 02:14] aaronrobertshaw commented on #33318
A PR addressing this issue has been created and should not be too far off landing. https://github.com/WordPress/gutenberg/pull/33444

[2021-07-16 02:39] glendaviesnz opened #33483 "Remove IE specific CSS from refactored gallery block"
After the main PR is merged the IE specific CSS should be removed in a follow up PR

[2021-07-16 03:19] glendaviesnz opened #33484 "Gallery block: look at renaming the Gallery component to Grid after refactor merged"
See https://github.com/WordPress/gutenberg/pull/25940#discussion_r670128464

The class of the gallery component should be aligned with the component name, and suggestion is that Grid would be a better name for the component that actually lays out the gallery.

[2021-07-16 03:23] aaronrobertshaw commented on #33319
A PR is up to fix the underlying cause of this issue in https://github.com/WordPress/gutenberg/pull/33485

[2021-07-16 03:26] glendaviesnz opened #33486 "Gallery block: look at best option to allow manual transform of v1 gallery to v2"
Until an automatic transform of old gallery block code is added it would be nice to have a way for users to manually transform v1 galleries to v2.

[Some code was added to the main refactor PR](https://gist.github.com/glendaviesnz/ddfd80ca31f5483f1df5765b75b06f0b), but this has been removed [as currently there is no way to transform the block tranform label, so may be confusing to users.](https://

[2021-07-16 03:44] annezazu commented on #33436
Digging into this, when I use the theme.json file as is, I briefly see an error message while loading a new post:

<img width="1413" alt="Screen Shot 2021-07-15 at 9 41 24 PM" src="https://user-images.githubusercontent.com/26996883/125888431-d79a0c4e-b717-4d47-b72a-eae0bafdbd00.png">

However, the drop cap doesn't appear as you highlight in your video. I'm not sure what's going on here but I can r

[2021-07-16 04:23] chthonic-ds opened #33487 "Buttons block: justification setting ignored when the block is selected"
## Description

Setting alignment for a button does not update its position until it loses focus.

## Step-by-step reproduction instructions

1. Add a Buttons block with a single button.
2. Change the alignment to "Justify items centre" or "Justify items right".
3. The button will not assume the alignment until focus is removed.

## Expected behaviour
The button will respond to a new alignment imm

[2021-07-16 05:36] ntsekouras opened #33488 "[Components]: Migrate Avatar"
Migrate Avatar component

[2021-07-16 06:03] ntsekouras commented on #33488
Internally this uses `Image` and `AspectRatio` from `g2`. @sarayourfriend is these something we need to migrate as well? They're not listed in the parent issue.

[2021-07-16 07:30] talldan commented on #33487
Thanks, I'll just change a couple of things about the title to make it clearer if that's ok.

I believe it's too late for 5.8 now, but I've added to the 5.8 project with the hope it can be fixed for 5.8.1

[2021-07-16 07:50] talldan commented on #33477
@mi3ll The use case - the buttons block with some initial content could be considered more of a block pattern:
- https://wordpress.org/support/article/block-pattern/
- https://developer.wordpress.org/block-editor/reference-guides/block-api/block-patterns/

Whereas I'd consider a block variation a version of a block with preset attributes (and optionally some inner blocks).

It's up to you though,

[2021-07-16 07:55] #33406 closed, assigned to guarani

[2021-07-16 08:11] ddryo commented on #33350
Thank you.
I'll turn it off until 5.9.

[2021-07-16 08:12] #33350 closed, assigned to nobody

[2021-07-16 08:16] talldan commented on #33465
What's the best HTML markup for something like this, @thatdevgirl?

[2021-07-16 08:16] ddryo opened #33491 "Group block layout settings are enabled in the widget area even though there is no theme.json"
## Description
I am testing 5.8.

When `theme.json` is not installed in the theme, the "Group" block "Layout setting" does not appear in the post editor.

However, in the widget area, the group block layout setting is enabled.

## Step-by-step reproduction instructions

1. Please use a theme that does not have theme.json.
2. Go to the widget page.
3. Place the "Group" block and check the sidebar.

[2021-07-16 09:09] codestylist commented on #33462
Hello @noisysocks . I saw you closed this issue. May I ask if it is solved?
If yes, will it be in the next final release?
Is there a chance for me to test this fix with our plugin before it is published?
Sorry for these questions, but it is my first time beeing part of a fix before the next release ;-).
Thank you for all your effort!

[2021-07-16 09:16] ihdk commented on #33427
Hello, after further investigation I found that templates selection is missing in wp5.8 if my custom post type is registered with `public` parameter set to `false`.
Once the `public` parameter is defined as `true` I can select the template.

Is it really wanted behavior in WP 5.8 ?

To make sure it has nothing to do with my other custom codes, I've tested it with TwentytwentyOne theme, with follow

[2021-07-16 09:20] ktmn opened #33495 "Latest Comments block does shortcodes"
Latest Comments block excerpt output contains rendered shortcodes. By default shortcodes are not rendered in comments:

![image](https://user-images.githubusercontent.com/6892634/125922240-06898d0f-3ff1-49da-b012-91d299a487ac.png)

But the Latest Comments block (or widget area in 5.8) produces:

![image](https://user-images.githubusercontent.com/6892634/125922287-5a78a2b6-9426-431e-ba1e-fa86c73d80

[2021-07-16 10:04] talldan commented on #33495
@ktmn Please could you provide some steps for reproduction and details of where you're seeing this bug (e.g. post editor, widget editor, customizer, everywhere?).

Thanks.

[2021-07-16 10:12] juanmaguitar commented on #20325
I'm trying to create a `.wp-env.json` to recreate the development environment needed for DevHub as explained here
https://make.wordpress.org/docs/handbook/devhub/

There are several plugins required for this environment that doesn't seem to have a `.zip` available and are only available through its svn address, for example:

- https://meta.svn.wordpress.org/sites/trunk/wordpress.org/public_html/wp

[2021-07-16 10:14] amjadgoldev commented on #13998
for wp Version 5.7.2

        jQuery(document).ready(function () {
             const checkPreviewInterval = setTimeout(checkPreview, 1000);
          //checkPreview();
            function checkPreview() {
               const ToggleButton = jQuery(".block-editor-post-preview__button-toggle");
               const editorPreviewButton = jQuery(".editor-post-preview");
               ToggleButton.h

[2021-07-16 11:15] juanmaguitar opened #33499 "Add support for SVN sources in `@wordpress/env`"
## What problem does this address?

I'm trying to create a `.wp-env.json` to recreate with the [`@wordpress/env`](https://developer.wordpress.org/block-editor/reference-guides/packages/packages-env/) package the development environment needed for DevHub as explained here
https://make.wordpress.org/docs/handbook/devhub/

There are several plugins required for this environment that doesn't seem to h

[2021-07-16 11:16] youknowriad opened #33500 "Add a setting to opt-out of block templates using theme.json"
Right now, themes can opt-out of block templates by using the

[code]

Since theme.json is becoming the default config file for themes, we should consider adding a way to do the same using a setting in the theme.json file.

cc @aristath @nosolosw

[2021-07-16 11:41] youknowriad opened #33504 "Debug and Enable the flaky iframe inline style end2end test."
This test has been disabled in https://github.com/WordPress/gutenberg/pull/33503
You can see an example of failure here https://github.com/WordPress/gutenberg/runs/3084249823

[2021-07-16 11:42] youknowriad opened #33505 "Debug and reenable the reusable blocks e2e test"
This test has been unstable for a couple months now.

Example failure https://github.com/WordPress/gutenberg/runs/3083239108

It has been disabled in https://github.com/WordPress/gutenberg/pull/33503

[2021-07-16 11:53] ktmn commented on #33495
Front end.
The Latest Comments block in the editor preview does not render shortcodes:

![image](https://user-images.githubusercontent.com/6892634/125943315-c4a8d48f-6fe1-43cb-a209-67840ff277a6.png)

[2021-07-16 11:55] adamziel commented on #32660
This seems to be a core issue so I prepared a core PR: https://github.com/WordPress/wordpress-develop/pull/1502

Let's continue in https://core.trac.wordpress.org/ticket/53679#comment:2

[2021-07-16 11:55] #32660 closed, assigned to nobody

[2021-07-16 12:03] adamziel commented on #33462
@codestylist I think the consensus is not to solve this one, just document that it is a breaking change and recommend an alternative.

I am not sure if conditionally registering form hooks depending on `is_admin()` is even needed in the Widget Visibility Time Scheduler plugin – my intuition says that these forms are only ever rendered in the admin anyway (I didn't actually check so I might be wron

[2021-07-16 12:39] ddryo opened #33507 "Legacy Widget does not use `before_widget` and `before_title` from registered sidebar"
When a **title** is set in a "Legacy Widget", the HTML tags output by the front side and the editor side are different.

Furthermore, even on the front side, if it is inside a group block, etc., the default output will be used.

## Prerequisites

Consider the following situation where the sidebar area is set up as shown below.

[code]

And suppose we apply the following CSS.

[code]

At this time,

[2021-07-16 12:44] ddryo opened #33508 "Please allow filter hooks to change the choice of tags that can be output in the Group block."
Starting from 5.8, it is possible to change the tags that can be output in the group block, but it would be very helpful if this option could be changed in the filter hook.

<img width="331" alt="スクリーンショット 2021-07-14 17 45 04" src="https://user-images.githubusercontent.com/31400297/125949608-2e4b2608-a181-4cbb-b6e1-ad521f986c9b.png">

Alternatively, I would like to know how to turn off this featur

[2021-07-16 12:44] ndiego commented on #23626
I would like to provide some additional insight on this that I feel people might be overlooking. Shortcodes have been used for thousands fo different things. Yes, most shortcodes could easily become blocks. However, there are implementations that are impossible to become blocks.

Let's assume you have a shortcode the prints the current user's name. In a paragraph block, you could then do something

[2021-07-16 13:08] codestylist commented on #33462
Thank you @adamziel for explaining it. I understand. So, I will double check on my end and find another way to handle this.
I do much appreciate the effort of the team. Thank you very much!

[2021-07-16 13:10] scruffian commented on #29983
I think this is a good solution to this problem: https://github.com/WordPress/gutenberg/pull/33501

[2021-07-16 13:39] sarayourfriend commented on #33488
Yeah any dependencies will need to be migrated one by one. I can add them to the tracking issue.

[2021-07-16 14:21] adamziel commented on #33443
Just surfacing [my comment](https://core.trac.wordpress.org/timeline?from=2021-07-16T14%3A19%3A26Z&precision=second) from [Trac 53670](https://core.trac.wordpress.org/ticket/53670#comment:4) – it seems like the effect of #33454 on speed and memory consumption is minuscule.

[2021-07-16 14:27] ciampo commented on #33439
Thank you @talldan for the ping — I opened (update: and merged) https://github.com/WordPress/gutenberg/pull/33490 which changes the default value of `isScrollable` to `false`.

Once that PR gets included in the next Gutenberg release, it'd be great if we could revert [the hotfix](https://github.com/Automattic/wc-calypso-bridge/pull/710), since it looks quite hacky — @moon0326 , would you be able t

[2021-07-16 14:54] ciampo commented on #33363
Thank you for the ping! I opened https://github.com/WordPress/gutenberg/pull/33511 with the fix

[2021-07-16 15:09] overclokk opened #33512 "A theme.json from child theme is not merged with the one in parent theme"
I'm testing the theme.json with a child theme and I see that when the child is active and theme.json is present in both child and parent this will replace the one in the parent theme instead of being merged with it, is it a desired behavior?

My first tought was to have some global settings in parent theme and some little modification in child theme.

[2021-07-16 15:24] adamziel commented on #33335
Actually I'm re-opening this one. We merged a fix for WP core but we may still need to patch the Gutenberg plugin. I initially assumed we don't because there are no `retrieve_widgets` calls in sight in handlers we care about, but it's still something we need to check.

@noisysocks do you recall why the `retrieve_widgets` calls were added to core but not to the plugin?

[2021-07-16 16:19] #33363 closed, assigned to ciampo

[2021-07-16 16:30] thatdevgirl commented on #33465
@talldan Ideally, I would change it to something like this:

[code]

This markup is inspired / largely copied from the markup used by the `TextControl` component. The `<div role=textbox>` is from the current Rich Text control.

The textbox has an ID that is used in the `for` attribute in the `<label>` tag above it.

The `<p>` tag below it contains the help text. Its ID is used in the `aria-describ

[2021-07-16 16:57] carolinan commented on #33456
Hi
I am using a block theme, with WordPress 5.8-RC4-51447 and Gutenberg 11.0.0

This is what I am seeing: The 1rem padding works correctly as the default in the editors and front when it is set in theme.json.
I did not try with a classic theme with a theme.json.

I disagree that the padding should only be present when a background color is used. The group block is often used as a container, indepe

[2021-07-16 17:04] jhnstn opened #33517 "[RNMobile] Inserter block search results missing items after deleting the search query"
## Description

First noted by @fluiddot  https://github.com/WordPress/gutenberg/pull/33237#issuecomment-877270922

On Android only, when deleting the last character in a block search , the updated block list is sometimes missing items

## Step-by-step reproduction instructions

*Note:* The bug only seems to appear when deleting the characters `A E I O R`

## Expected behaviour

The Inserter block

[2021-07-16 17:27] skorasaurus opened #33518 "Enable the Code editor within the Widget Customizer/Screen"
To create a consistent editing experience with the rest of the block editor, the widget editor/customizer should also have the code editor.

I occasionally will copy content from one page to another by going into the code editor (on a particular page); copying the relevant markup/html and then copying it into a new page or area of my site.
(I hope to do less of this as templates and patterns becom

[2021-07-16 17:35] skorasaurus commented on #26156
maybe? with a gutenberg built from trunk earlier today; legacy widget appeared in the inserter at wp-admin/themes.php?page=gutenberg-widgets but it did not appear in the inserter when I created a new page.

[2021-07-16 18:16] skorasaurus commented on #8360
This can be closed since facebook is no longer supported in the embed block because of their api changes. https://github.com/WordPress/gutenberg/commit/87c4dc536f52254975b4b5e192e36f7d98b6f0b7

[2021-07-16 18:16] #8360 closed

[2021-07-16 20:57] pbiron commented on #32467
Similar (and probably related), in 5.8-RC4:

1. copy a list item to the clipboard
2. insert a heading block somewhere else
3. paste the clipboard into the heading block

That results in an empty heading block and a new list block, although neither block is "broken").

[2021-07-16 22:00] pbiron opened #33521 "ID attributes on list items are stripped when any list item is edited"
## Description

When a list block that has had ID attributes manually added to list items is edited (visually), the ID attributes on the list items are stripped out.

## Step-by-step reproduction instructions

1. insert a list block (order or unordered, doesn't seem to matter)
2. add a few list items
3. edit the block "as HTML"
4. add ID attributes to each list item (e.g., id="item-1")
5. edit the

[2021-07-16 23:11] pbiron commented on #33521
FYI: this happens in both the post editor and the widget editor.

[2021-07-16 23:24] pbiron commented on #33521
See #29838 where I asked for a UI for setting ID's on list items...

[2021-07-16 23:54] pbiron commented on #33521
Just discovered that whatever the problem is it is **NOT** related to a change in 5.8, because it also seems to happen in 5.7.2 (I guess it's been a while since I edited any of the lists in production sites where I've added ID attributes :-)

[2021-07-17 01:21] paaljoachim commented on #32907
@aaronrobertshaw is working on a PR here:
https://github.com/WordPress/gutenberg/pull/32909

[2021-07-17 07:37] paaljoachim commented on #25202
Hey @mtias
Actually I should recheck the instructions and update if needed and add what is needed into the Block Editor Documentation.
I can probably get some help from @mkaz Marcus with this.

[2021-07-17 09:34] optimizewp commented on #33521
Just my 2 cents.

1. Can replicate. Same WP setup, also with different standard themes. Also activating Gutenberg 11.0.0.

2. Custom IDs, classes or style (I just wanted to expand my tests adding more HTML there) added `Edit as HTML` or via Code Editor get stripped also when you convert the list from unordered to ordered and viceversa.

3. After point 5 of the "Step-by-step reproduction instructio

[2021-07-17 10:29] landwire commented on #27809
Slighlty related:
I would like to change the default opacity of the cover blocks overlay to 20% (0.2) instead of 50% (0.5). So when I am creating a new cover block it is set to 20% rather than the 50% at the moment.

[2021-07-17 10:34] webdados commented on #8322
I also have a client that is asking me how can it be so difficult to insert a simple PDF link.

[2021-07-17 13:20] overclokk commented on #33512
I just found this issue #25612 and I think that child themes will have more space in the future of FSE, I'd also like to have grand-chils supported from core, for now grand-childs are possible only with plugin.

[2021-07-17 13:36] overclokk commented on #25612
I just found this issue, I think child themes will have theire own space in future of the FSE, also a grand-chil approach would be great in core. #33512

I've not tested it but thinking that just to restrict functionality to parent from child should be done by adding false to a value in json, like this:

[code]

Just thinking.

[2021-07-17 13:48] overclokk opened #33524 "Ability to split the file theme.json into multiple files"
## What problem does this address?

When people will start using theme.json intensively will be a mess, thousand of line of configuration in a single file, it will hard to maintain without going crazy, this is just an example with 500 line https://github.com/Automattic/themes/blob/trunk/blockbase/theme.json

## What is your proposed solution?

I think the ability to have multiple file with splitte

[2021-07-17 14:19] overclokk commented on #26902
@import inside a stylesheet should never being used.

[2021-07-17 15:57] skalanter opened #33525 "Improvement for Panel"
Hi Team,

Hope you're well.

## Description(included actual behavior + expected behavior):

Since Appearance > Widgets is working with the Gutenberg(block editor), I think it needs a bit of improvement;
please check this online Google Doc: https://docs.google.com/document/d/19eNb5bNjuchpvz8BdGC9ISYB86gY6y4uFm4pWy3xMU4/edit?usp=sharing (6 items).

## WordPress information

- Using the latest WP 5.8

[2021-07-17 19:11] skorasaurus commented on #32562
Sorry, not sure why I labelled this as a question in the first place; glad it resolved for you.

Nonetheless, I doubt that behavior that you described in the issue is the intended consequence; labelled as needs technical feedback for what should the intended consequence be.

[2021-07-17 20:16] moon0326 commented on #33439
Thank you @ciampo for the PR 🙇  I'll track the task on my side.

It looks like the next release date is July 28, 2011, according to https://github.com/WordPress/gutenberg/milestones.

I'm setting a reminder to check it back on July 29, 2021. I'll work on a PR to revert back my change once I confirm the change in the new version.

[2021-07-18 04:37] Johanwalter opened #33526 "Buttons – Equal width"
Hi

Gutenberg “Buttons” block does not make buttons equal width when we place several buttons.
I have compared with Getwid Buttons group block.

Below screenshot

Gutenberg Desktop : https://ibb.co/N2LKBhP
Getwid Desktop : https://ibb.co/nQRbgMP
=> Buttons with Gutenberg are not equal width

Gutenberg Smartphone : https://ibb.co/z8cCD3F
Getwid Smartphone : https://ibb.co/LJ0vDk8
=> Buttons with Gu

[2021-07-18 08:02] paaljoachim commented on #33526
Hi @Johanwalter

I will add the images directly to this issue:
Below screenshots.

Gutenberg Desktop :

![Gutenberg-buttons](https://user-images.githubusercontent.com/5323259/126060122-5707c68f-521d-499e-be64-c42d3eb83507.jpg)

Getwid Desktop :

![Getwid-buttons](https://user-images.githubusercontent.com/5323259/126060123-e6ac61f1-1e2a-4146-bbce-9f3c34e5353d.jpg)

=> Buttons with Gutenberg are not

[2021-07-18 08:12] paaljoachim commented on #33526
Using WordPress 5.8 RC4.
Theme: Twenty Twenty One
Gutenberg plugin: 11.0.0

Adding buttons with the same text that you did.

![Screen Shot 2021-07-18 at 10 05 02](https://user-images.githubusercontent.com/5323259/126060290-73485ea3-d0cd-4c55-97b6-aaa1a88acfd1.png)

**Desktop**

A button width is affected by how many characters/letters are written inside a button.

---> We need a way to define the

[2021-07-18 08:49] paaljoachim commented on #28860
Another request for adding a video service (Youtube) URL to the background of the Cover block.
https://wordpress.org/support/topic/cover-background-video-url/

**NB! The following information is from the above request link.**

**Cover background can be set as color or upload image or video**

![Cover-block-placeholder](https://user-images.githubusercontent.com/5323259/126061373-5b22534f-a878-45be-

[2021-07-18 12:47] dcalhoun opened #33528 "Publishing multiple posts removes "new" badges from block types"
## What problem does this address?
https://github.com/WordPress/gutenberg/pull/33119 introduces "new" block type badges which are removed from a given block type once that block type is inserted. However, the "new" badge will currently always remain if the block type is never used.

## What is your proposed solution?
To avoid a "new" badge remaining longer than it should, publishing multiple posts

[2021-07-18 13:44] paaljoachim opened #33529 "Documentation: using CSS to style the wp-embed"
## What problem does this address?

An Auto wp-embed currently looks like this:

![Auto-embed-WordPress](https://user-images.githubusercontent.com/5323259/126069374-bd56ff78-765d-478a-b6e3-c8cbcc3abc2d.jpg)

## What is your proposed solution?

It would be nice to add some documentation on how to style the wp-embed through CSS.
I tried styling the

p.wp-embed-heading {
    margin: 0 0 15px;
    fon

[2021-07-18 14:15] mkaz commented on #33529
🤔 The embed content does not come from the block editor but from core WordPress. The editor will see an embed, call out to the source to get the markup and then include that markup in the page. The code in WordPress that generates the markup is [here at embed-content.php](https://github.com/WordPress/wordpress-develop/blob/master/src/wp-includes/theme-compat/embed-content.php).

I'm not sure where

[2021-07-18 16:39] byron-hawkins opened #33530 "Impossible to change the title of a page!"
Your editor makes it  impossible to change the title of a page! Please delete this extension from GitHub, from WordPress, and from all other sources of distribution. This extension should be permanently classified as malware!

[2021-07-19 00:13] glendaviesnz opened #33531 "Gallery block: explore options for indicating context to the nested image blocks"
With the Gallery refactor PR the Image block modifies its behaviour slightly based on a context vars that is passed down from the Gallery block - `allowResize`. This is set to false for the Gallery blocks, which disables the image resize option as most resizing of images breaks the gallery layout with the current flex layout.

There may be a better way to handle this via the data module as [the po

[2021-07-19 00:17] noisysocks opened #33532 "Ideas for improving E2E test developer experience"
A few things we could try to improve the experience of writing and running E2E tests:

- [ ] #33809
	- [x] #34432
- [ ] Look at splitting `npm run build` into its own GitHub action which runs prior to the four `npm run test-e2e` actions. This might make it quicker to restart failing E2E tests on a PR.
- [ ] Fix Core version in `.wp-env.json` to a known git commit which is updated automatically via

[2021-07-19 00:20] glendaviesnz opened #33533 "Gallery block: add doc block comments to new hooks"
The new edit function has had a couple of new hooks added as part of the refactor. These could benefit from some detailed doc block comments to explain their purpose and usage.

[2021-07-19 00:36] noisysocks commented on #33335
@adamziel: Just a mistake on my part. I think that the plugin PHP and Core PHP has diverged quite a bit, unfortunately. I wonder if we could make the plugin require WordPress 5.8 sooner.

[2021-07-19 01:25] noisysocks commented on #33443
Can we close this issue? What's remaining? 🙂

[2021-07-19 03:20] #32841 closed, assigned to nobody

[2021-07-19 03:24] noisysocks commented on #33277
Neat! So I think let's just copy more or less ☝️ that into the handbook page.

https://developer.wordpress.org/block-editor/contributors/code/release/

[2021-07-19 03:48] aaronrobertshaw commented on #33526
Thanks for the ping @paaljoachim.

At present, I believe the only means we have of making all the buttons within a buttons block the same width is to select each individual button and then use its inspector controls to set a preset percentage width e.g. 25%, 50%, 75% etc.

Ideally, we’d be able to set explicit widths as well. There is work currently under way to [add width block support](https://g

[2021-07-19 03:54] aaronrobertshaw commented on #33526
An existing issue is already open for managing the vertical spacing between stacked buttons: https://github.com/WordPress/gutenberg/issues/29098

[2021-07-19 03:58] aaronrobertshaw commented on #31333
Closing this as the border panel has been updated now https://github.com/WordPress/gutenberg/pull/31585 has been merged.

[2021-07-19 03:58] #31333 closed, assigned to aaronrobertshaw

[2021-07-19 04:01] aaronrobertshaw commented on #31337
@jameskoster the border panel has been updated via https://github.com/WordPress/gutenberg/pull/31585.

Other than the collapsed color control component I believe everything else is done regarding this issue. The new color control will be picked up by the panel when it is completed. In the meantime, are you happy to close this issue?

[2021-07-19 04:30] talldan commented on #33530
@byron-hawkins Please could you use the provided template when reporting bugs. If you can report a new issue with the required details (particularly steps to reproduce, OS and browser details, WordPress and Gutenberg version numbers) it can be tested and verified.

[2021-07-19 04:30] #33530 closed, assigned to nobody

[2021-07-19 04:34] talldan commented on #33508
@ddryo which filter hook specifically are you referring to?

[2021-07-19 05:05] peterwilsoncc commented on #33443
Yes, it can be closed. Based on various discussion it was decided not to fix it.

It may be worth a post on make.wordpress that legacy widget forms no longer support admin functions. Either on core or on the plugins blog.

[2021-07-19 05:42] draganescu commented on #33462
Thank you @codestylist ! For context here is the [discussion around the potential fix](https://wordpress.slack.com/archives/C02QB2JS7/p1626368244228500)  and the conclusion to revert on that path. 🚀

[2021-07-19 05:45] Johanwalter commented on #33526
Yes that solves width on desktop but does not display properly on smartphone because buttons are not stack on each other.
If buttons were vertical on smartphone that would be a solution

[2021-07-19 05:58] aaronrobertshaw commented on #33526
That's correct, by itself it will not allow stacking on smaller viewports alone. However, with the addition of being able to apply styles responsively, the buttons could be given 100% widths and bottom margins for mobile.

This is where the responsive styling options for theme.json, global styles and block supports come in. Those responsive styling options combined with the proposed width block su

[2021-07-19 06:33] paaljoachim commented on #31337
Hey @aaronrobertshaw
That sounds great!

I believe that Joen @jasmussen can comment on closing/not closing this issue when he gets back from his vacation, as @jameskoster is on a sabbatical until 8th of September,

[2021-07-19 07:17] getsource commented on #33397
@annezazu Thank you! Here is a PR that modifies the label if the inserter is open:
https://github.com/WordPress/gutenberg/pull/33534

[2021-07-19 07:45] mtias commented on #33531
Can you expand a bit, for clarity, what the modifications are from the perspective of image blocks?

[2021-07-19 08:00] aristath commented on #25612
Just a quick update: A few days ago I started working on a proof-of-concept PR to fix some child-themes issues (#33445). It's still at an early draft stage, but there will be updates coming there in the next few days.

[2021-07-19 08:01] #33505 closed, assigned to youknowriad

[2021-07-19 08:08] mtias commented on #33529
This is isn't related to the editor or gutenberg tools. Ways in which WP embeds could be improved could make sense in core. For example, I could see some of the color values inheriting from theme.json in the context of a WordPress site.

[2021-07-19 08:08] #33529 closed, assigned to nobody

[2021-07-19 08:14] ntsekouras commented on #32606
I haven't thought about it much yet but should we consider adding  a new no `results block` that could be added and be shown in front-end as well? 🤔

This would need some UX consideration as well, since we would need to be able to edit this block even if we have results from the current query.

[2021-07-19 08:21] #33096 closed, assigned to getdave

[2021-07-19 08:26] inaikem commented on #32402
Replicated while scrubbing a related bug elsewhere. Please note that the issue is present in many, if not all instances where the toolbar appears over an element towards the right of the main editor window.

This example shows a toolbar appearing over an image block in the right-most column of a column block:

![Tooblar hidden](https://user-images.githubusercontent.com/66711744/126127743-cf7d5890-

[2021-07-19 08:40] anarieldesign commented on #31815
Sorry, I'm a bit late here, wanted to open a ticket for this but @annezazu told me @carolinan did it already :). Is there a reason why we can't add images the same way we are adding them for the block patterns. To call them from the theme file folder? I think it's soo important for the users to see the templates with the images and not blank. Users are expecting to have the look they see in the th

[2021-07-19 09:00] #27984 closed

[2021-07-19 09:21] dsas commented on #21191
Wordpress (gutenberg) will auto-save the editor state before previewing and then presumably the preview will always show the most recent save. It adds an autosave using the autosave rest API /wp/v2/posts/$postid/autosave

Following the repro steps @paaljoachim gives on trunk (d827fc5b9), the first preview generates an API request with a body of `{"status":"publish","title":"A page - Reuse","conten

[2021-07-19 09:42] inaikem opened #33536 "Low line heights with long text causes vertical spacing problems on smaller screens"
### Steps to reproduce the behavior
- Create a cover block and put 3 paragraph blocks inside it.
- Set their line-height to 0.2
- Enter long lines of text into each block, so they will wrap around on a smaller screen.
- Preview the page.

### What I expected to happen
- Text should wrap and multiple lines should not overlap.

### What actually happened
- Text wraped and multiple lines collapsed ve

[2021-07-19 09:53] karmatosed opened #33537 "Improve visibility of adding a template in site editor"
The site editor has the ability to add template, which is great if you can find it. There is a visibility issue as it is both hidden in the menu information architecture and also behind a '+' which besides the search doesn't read like add a template:

![image](https://user-images.githubusercontent.com/253067/126141491-6a202736-77a3-45ff-8e37-3c436a4270b5.png)

As far as a proposed solution goes, I

[2021-07-19 09:57] gziolo commented on #33508
@jorgefilipecosta or @nosolosw, is it something that was discussed in the context of `theme.json`?

[2021-07-19 09:57] karmatosed opened #33538 "Search isn't styled in the site editor menu"
Currently the search background defaults to the browser default, which looks out of place in the styling of the menu.

![image](https://user-images.githubusercontent.com/253067/126141958-87d4f935-f0fd-40c7-83f5-7103289f7213.png)

## Step-by-step reproduction instructions
To see this simply go to the site editor, open the menu and click the search icon. I saw this in Firefox, so perhaps it is style

[2021-07-19 10:04] caluwaek commented on #22822
I'm not enough of a techie to be able to provide these charted key lag details but I'm also experiencing a considerable lag when typing in the block editor in Chrome.  Even in incognito modus where I only have one plugin (adblock) text only appears after a number of seconds.  The cursor also sometimes stops blinking and completely disappears.

Firefox is even worse and has additional problems.  Th

[2021-07-19 10:08] karmatosed opened #33539 "Improve visibilty of global styles when you are using it in site editor"
Global styles are amazing, but what isn't amazing is not knowing you are in global styles, changing the style and having the entire site change. It's very easy to either stay in global styles or not realise you are, because currently there is not much visual notice of the different states.

![image](https://user-images.githubusercontent.com/253067/126143362-8611b5c9-8589-4e82-ac74-b67b7b6bd46d.png

[2021-07-19 10:11] overclokk commented on #25612
Hi @aristath
just a pseudocode for your implementation on #33445 implementation https://3v4l.org/feiXa (it is a bit ugly but it does its job)
The idea is to have a way to add in future also a grandchild theme (maybe).

[2021-07-19 10:36] adamziel opened #33540 "Rendering legacy widgets preview via an iframe may lead to a 414 URI too long error"
## Description

Legacy widgets are rendered using an `<iframe />` with `src` set like this:

https://github.com/WordPress/gutenberg/blob/fea614a3ac1f38cfa00589d66553603215f4df2f/packages/widgets/src/blocks/legacy-widget/edit/preview.js#L99-L104

This works when there aren't many parameters or when the server tolerates very long query strings. Unfortunately, when one of these conditions isn't met,

[2021-07-19 10:37] adamziel commented on #33540
One way to solve it would involve switching to POST requests and "manually" populating the preview iframe.

[2021-07-19 10:56] aristath commented on #33524
If you are comfortable with `npm` and build processes, you can already do that... there are plenty of packages out there you can use to merge/combine JSON files.
If you are more comfortable with PHP, then that's pretty simple to do via PHP too.
So you _could_ have multiple json files in a dev folder in your theme, and then have something like this code in a `wp-content/mu-plugins/compile-theme-jso

[2021-07-19 11:18] Luehrsen commented on #32929
`> $ npm run wp-env run cli "wp plugin install gutenberg --activate"`

Wrapping the command in quotation marks usually does the trick.

[2021-07-19 11:25] gziolo commented on #32665
There is a related issue #33422 reported by @johngodley about the undefined support for `core/freeform` block when `oldEditor` variable is not set. It's going to be the same case with the changes proposed in this issue when the Classic Box is not present on the page.

[2021-07-19 11:52] gziolo commented on #17941
We should have a different custom font size picker now, so it might be no longer a case. @sarayourfriend or @ciampo can you confirm?

At least in Storybook, it works as expected:

<img width="272" alt="Screen Shot 2021-07-19 at 13 51 54" src="https://user-images.githubusercontent.com/699132/126155882-0b2849a9-f298-4ca3-89ff-7d58fcb6b00c.png">

[2021-07-19 11:52] #17941 closed

[2021-07-19 12:00] #33397 closed, assigned to getsource

[2021-07-19 12:25] mateuswetah commented on #4505
@youknowriad, while I agree that the core issue here is solved with `theme.json`, is there any place where the strategy of a *per post type* `alignwide` activation/deactivation is being discussed? I've been searching on the issues and documentation but I am not sure how to do it. Started the investigation here: https://wordpress.org/support/topic/disable-wide-and-full-alignments-for-a-certain-post

[2021-07-19 12:44] gziolo opened #33542 "Blocks: Further improve assets handling for blocks"
## Description

There is still some room for improvements after WordPress 5.8 release that brings some new exciting features to Block API listed in dev notes:
- https://make.wordpress.org/core/2021/06/23/block-api-enhancements-in-wordpress-5-8/
- https://make.wordpress.org/core/2021/07/01/block-styles-loading-enhancements-in-wordpress-5-8/

Based on the feedback received during the implementation

[2021-07-19 12:47] codestylist commented on #33462
Thank you @draganescu for pointing me to the slack discussion. In my opinion the explained issue is not the reason for problems with my plugins.
The initial reason for getting in contact was, when I start using my plugin with the block based widgets, I get a 414 error (Request-URI too long). My investiagtion showed me, the issue is not the missing `is_admin()` result (this is working) but too many

[2021-07-19 13:10] carolinan commented on #31815
I am testing just using the theme path, so in the HTML template, the img src would be `"/wp-content/themes/theme-name/assets/images/image.png"`

But this wont work if the path is different, if the theme is in a sub folder etc.

[2021-07-19 13:15] youknowriad commented on #4505
@mateuswetah This is something we want to support in block themes (also called FSE themes sometimes), basically these are composed of block templates and each template is a list of blocks, so you can use different "layout" configs for the containers used in each template separately.

[2021-07-19 13:38] adamziel commented on #33462
@codestylist I opened an issue for that: https://github.com/WordPress/gutenberg/issues/33540

[2021-07-19 14:04] Azragh commented on #9129
@tellthemachines isn't there a way to get this to work without enqueuing styles with `add_editor_style()`? I moved away from that function to be able to split my styles in seperate SCSS files for frontend, TinyMCE and Gutenberg (and some other reasons) - so I can't use that one.. I have to use `enqueue_block_editor_assets()` ..

[2021-07-19 14:13] youknowriad commented on #33275
I'm skipping two more e2e tests with similar failures here https://github.com/WordPress/gutenberg/pull/33547

[2021-07-19 14:14] codestylist commented on #33462
Thank you @adamziel . Thank you very much for your effort.

[2021-07-19 14:17] roryashfordbentley commented on #11280
Can we re-open this ticket to track the current status of this issue as the issue isnt resolved?

[2021-07-19 14:21] overclokk commented on #33524
Thank you @aristath

Yes, I know I can do it on development environment, but I just meant a native way in the core, if theme.json was in PHP we could have used `require()` inside a `theme.php`.

Inlining things for me it makes less readable the content.

[2021-07-19 14:50] #33517 closed, assigned to jhnstn

[2021-07-19 15:10] bph opened #33550 "Documentation: i18n filters missing on developer.wordpress.org site"
It appears that the documentation page on the i18n filters is missing on the .org version.

[GitHub Repo Doc page on i18n filters. ](https://github.com/WordPress/gutenberg/blob/c0a9161ddf8ac4b957c277c3989325dc7a0a60dd/docs/reference-guides/filters/i18n-filters.md)

[Section on developer.wordpress.org](http://developer.wordpress.org/block-editor/reference-guides/filters) that should list the page

[2021-07-19 15:13] mateuswetah commented on #4505
Uhmm ok, @youknowriad I can see how this will go in their config files. So for classic themes, there is no official solution so far, right?

The solution proposed to me in the forum did work for removing the alignments options from the insertion. I do this in my `after_setup_theme`:

[code]

Then Books are free of the wide alignments. BUT it breaks if I use, for example, a Block Pattern that alrea

[2021-07-19 15:17] schlessera opened #33552 "Broken loop in WP_Theme_JSON_Resolver"
The loop in `WP_Theme_JSON_Resolver` to extract translatable paths is broken, as it contains an immediate and unconditional `return`. This causes the loop to immediately exit again after the first iteration, thus never actually looping.

https://github.com/WordPress/gutenberg/blob/f76d127ae9ffdbab74bb0cf1e885566b789aa5c8/lib/class-wp-theme-json-resolver-gutenberg.php#L129-L137

This means that the

[2021-07-19 15:47] swissspidy commented on #33552
cc @gziolo @nosolosw

[2021-07-19 16:01] mkaz commented on #27738
From testing, I think this can be closed as the flow for adding a Custom Link has changed. Now when adding the link, you get first prompted to select the page or URL, before adding the text.

![navigation-block-link](https://user-images.githubusercontent.com/45363/126190641-86944739-de5d-4b24-bebe-433607075f9f.gif)

Can you confirm it is resolved from latest versions ? Thanks!

[2021-07-19 16:19] adamziel commented on #33540
I started exploring a solution in https://github.com/WordPress/wordpress-develop/pull/1508

[2021-07-19 16:34] youknowriad commented on #4505
Yes, I'm not sure this is something we'll be investing a lot of time in for classic blocks, I believe you could filter the  `block_editor_settings_all` and check the context there but it will have similar results as your shared snippet.

For block patterns, the issue exists regardless of the theme (fse or classic), in other words it should be a guideline when creating block patterns: they shouldn'

[2021-07-19 16:42] justintadlock commented on #33367
One other use case I have had in mind is add-on plugins (or even theme/child options).  I'm kind of imagining scenarios where I might build a settings page for configuring certain defaults that are not covered by the Global Styles system.  Being able to take custom plugin settings, hook in, and overrule `theme.json` values would be useful.

Is there even a hook that runs on both the front end and

[2021-07-19 16:46] priethor commented on #33134
@getdave are you using this issue to track bugfix releases as well?

[2021-07-19 16:50] getdave commented on #33134
Probably wise although I havent done any bug fixes.

[2021-07-19 16:50] gwwar opened #33554 "Release 11.1.0"
Tracking issue to note/order which PRs should be pulled into `release/11.1`

Oldest to Newest ↓
- [x] https://github.com/WordPress/gutenberg/pull/33355
- [x] https://github.com/WordPress/gutenberg/pull/33416
- [x] https://github.com/WordPress/gutenberg/pull/33388
- [x] https://github.com/WordPress/gutenberg/pull/33450
- [x] https://github.com/WordPress/gutenberg/pull/33419
- [x] https://github.com

[2021-07-19 16:55] dsas commented on #21191
When saving in `saveEntityRecord` (core-data's actions.js) `let data = { ...persistedRecord, ...autosavePost, ...record }` merges three records, persistedRecord will have the initially saved title, autosavePost will have the previously saved one, and record will have the latest title, unless it matches the initially saved title. This means the bug needs to be fixed earlier than saving, presumably

[2021-07-19 17:32] nerrad commented on #32728
Howdy 👋🏻 ,

Probably the best place to post this would be in the [WooCommerce Blocks](https://github.com/woocommerce/woocommerce-gutenberg-products-block) repository for now (you can reference my comment as well there). This is something the Woo team is going to be working on as well.

[2021-07-19 17:32] #32728 closed, assigned to nobody

[2021-07-19 17:41] priethor commented on #33134
Ok, let's leave it open until 11.1 👍

[2021-07-19 17:56] getsource commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-07-19 18:10] WraithKenny opened #33557 "Create a new @wordpress npm package for creating and managing local SSL Certs."

[2021-07-19 18:17] grogou commented on #32728
Thank you @nerrad, I am already try migrate All Products block for templates, for now only category taxonomy is working,  will be good if i can help you.

[2021-07-19 18:19] skorasaurus commented on #16478
This is now possible in WP 5.8; you may also need Gutenberg 11.0 (I am not 100% sure whether you do).

This is done through the theme.json aka global settings and styles which allows you to customize settings (colors, typography, etc) for an entire website or on a block-level.

You'll need to first create a theme.json file in base folder of your theme and add a couple basic lines.

Specifically to

[2021-07-19 18:19] #16478 closed

[2021-07-19 18:21] mehov opened #33558 "The plain text editor removes whitespace indentation from the post body"
## Description
I would like to use Wordpress as a headless CMS and have it store my posts in plain text markdown. Some of my posts have code blocks indented with spaces. But every time the post editor text area loses focus, the whitespace gets removed.

## Step-by-step reproduction instructions
1. Apply `add_filter( 'user_can_richedit', '__return_false', 50 );` and ensure you're getting the plain

[2021-07-19 18:41] jonathanbardo commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-07-19 18:42] skorasaurus commented on #30246
@gziolo is this fixed with https://core.trac.wordpress.org/ticket/50328 being closed?

[2021-07-19 18:59] jorgefilipecosta commented on #33508
Hi @gziolo,

Regarding:

No, we never discussed this option, and I don't think it fits theme.json. Theme.json is about style outputs and style options, and I don't expect theme.json to have a mechanism to change the tag a block uses. However, if a theme wants to change the tag of a block and the block provides that option, the theme can do that on the template, template parts, and patterns that us

[2021-07-19 19:15] jorgefilipecosta commented on #25137
I don't think so. I'm going to close the issue.

[2021-07-19 19:15] #25137 closed

[2021-07-19 19:17] gziolo commented on #33552
Yes, good catch. It’s an obvious bug from https://github.com/WordPress/gutenberg/pull/28246 that I didn’t catch only because we had only one field used for all translatable paths :sweat_smile:
We need a test that uses a custom schema and requires several fields to be translated, a good example would be in the i18n schema for `block.json`:
https://github.com/WordPress/gutenberg/blob/d361e91268ded00

[2021-07-19 19:19] gziolo commented on #30246
I think @aristath would be the best person to confirm.

[2021-07-19 19:32] jorgefilipecosta commented on #33232
I agree with the proposal by @nosolosw to include block style support as part of theme.json. I think the shape proposed makes sense we would only need to include a translatable name property per block style so the block style picker correctly displays the name of the style.

[2021-07-19 19:42] karmatosed commented on #33524
I think it is certainly going to be a problem for some people. Still, I wonder how many will have lengthy theme.json or even if adding functionality into core almost encourages, causes more of an expectation it should be lengthy?

I like the method proposed by @aristath; for me, this is more about how you choose as the creator to compile your files, not something I'd see core providing. Perhaps th

[2021-07-19 20:01] WraithKenny commented on #33557
Seems like there's some newer packages that might either be useful to this, or actually solve this https://www.npmjs.com/search?q=keywords:certificate%20authority Have to go through the list and see.

[2021-07-19 20:17] skorasaurus commented on #17715
Hi,

Thanks for reporting. Are you able to reproduce this after you have installed and activated the newest version of Gutenberg that is available through [the Gutenberg plugin](https://wordpress.org/plugins/gutenberg/)?

[2021-07-19 21:05] WraithKenny commented on #33557
3 options seem worth investigating:
* https://www.npmjs.com/package/https-manager (https://github.com/UniWrighte/https-manager)
* https://www.npmjs.com/package/nodejs-self-signed-certificate-example (https://git.coolaj86.com/coolaj86/nodejs-self-signed-certificate-example.git)
* https://www.npmjs.com/package/cau (https://github.com/rse/cau)

The first option looks interesting; It's MIT licensed, a

[2021-07-20 00:11] noisysocks commented on #33540
This ties into "Investigate alternatives to using an iframe in Legacy Widget block" on https://github.com/WordPress/gutenberg/issues/33242.

I was wondering if we could look at using `ServerSideRender` instead of an iframe to show the preview. The only issue is that we'd need to separate the markup that comes back from the server from the editor markup. We can maybe do this using shadow DOM or by

[2021-07-20 00:42] noisysocks commented on #33443
👍 I added a small note to https://make.wordpress.org/core/2021/06/29/block-based-widgets-editor-in-wordpress-5-8/.

[2021-07-20 00:42] #33443 closed, assigned to nobody

[2021-07-20 01:03] TheRadicalDreamer opened #33563 "Field text on background Block is too small"
## Description

When using the background block it allow you to set the image focal point.
![image](https://user-images.githubusercontent.com/11801254/126246384-f2ed83cf-c2a0-4615-b1f1-61d59b37e9e3.png)

These fields (left and up) have a input field.
But in spanish and i presume other languages, it is so small that you cannot tell what number is inside.
## Step-by-step reproduction instructions

#

[2021-07-20 02:11] TheRadicalDreamer opened #33564 "Remove bottom margin from image block"
## What problem does this address?

When adding an image block if i don't set any reference text on the bottom of the image, it should not create a bottom margin.

So in this way i can stack images without to use CSS to remove that margin.

## What is your proposed solution?

It will be better that if images does not have a reference text, it should not create a margin on the block.

The figure ta

[2021-07-20 03:48] Mamaduka commented on #33542
Hi, @gziolo

Is this the correct PR for the `viewScript` - #32814?

[2021-07-20 05:12] getsource commented on #29477
Folks in a [triage session today](https://wordpress.slack.com/archives/C02QB2JS7/p1626757587323700) were able to reproduce this issue, so labeling as a bug.

@talldan noted that the bug only seems to happen with Pages, and not Posts.

[2021-07-20 05:18] talldan commented on #29666
Hi @ktmn, thanks for reporting this. I tested your code snippet using the latest Gutenberg `trunk` and this seems to have been fixed now:
<img width="318" alt="Screenshot 2021-07-20 at 1 14 09 pm" src="https://user-images.githubusercontent.com/677833/126265809-993c7cf8-9c45-47b5-846d-356e55e3b807.png">

Hopefully this fix will be in WordPress 5.8 as well, but I haven't been able to verify that, if

[2021-07-20 05:18] #29666 closed

[2021-07-20 05:45] Mamaduka commented on #30354
Hello, @DenisFlorin

The issue was tested during Core Editor Triage Session [today](https://wordpress.slack.com/archives/C02QB2JS7/p1626758143330000) and wasn't able to reproduce it on WP 5.8 or Gutenberg 11.0.

PR #32747 removed the grey background displayed in the screenshot.

I'm going to close this issue for now, but feel free to re-open if you reencounter it.

[2021-07-20 05:45] #30354 closed, assigned to nobody

[2021-07-20 05:47] overclokk commented on #33524
If the theme.json was in php (theme.php) the issue did not exists, but we have a json file and I saw people who install tens and tens of plugins on its own WP and I saw devs who put all the code in one single file.

If this will not be a part of the core it's ok, I wll do on development creating my own tool (maybe also for wp-cli).
If I will do the PHP way I will not use json files but directly PH

[2021-07-20 05:49] gziolo commented on #33542
There was another PR - #32977. It's all based on the work started by @vcanales in #30341 :)

[2021-07-20 05:59] glendaviesnz commented on #33531
It turned out that due to recent updates in the Image block the isGrouped context was not needed, so just allowResize left. which I am optimistic can be removed once we make resizing of images reliable within the gallery block.

[2021-07-20 06:03] talldan commented on #29812
Thanks for reporting. I was able to validate this one.

I think this would be a good issue to fix as from a theme perspective, if you ever wanted to change these font-sizes in the future this would cause a problem.

I'm hoping this is just a problem where the font size component outputs the wrong slug value, so could be a good first issue for someone.

[2021-07-20 06:11] talldan commented on #20719
Is this still needed with the persistent list view?

I personally can't see a way for the two to be merged nicely, so going to close this issue. Feel free to open a new issue with a new proposal that takes the persistent list view into account.

[2021-07-20 06:11] #20719 closed

[2021-07-20 06:28] #33277 closed, assigned to getdave

[2021-07-20 06:38] Mamaduka commented on #15862
I think this is a duplicate of #9184.

[2021-07-20 06:44] Mamaduka commented on #27835
Related #11245.

[2021-07-20 07:04] kevin940726 commented on #33525
Hi! Thank you for opening the issue!

I wonder if it's possible to move the content from the Google Doc to the issue body itself? It's easier for us to keep track of all the suggestions, and also good for searchability.

[2021-07-20 07:07] skalanter commented on #33525
Hi, sure, I'll be moving all content here.

[2021-07-20 07:52] kevin940726 commented on #33356
It's likely a duplicate of https://github.com/WordPress/gutenberg/issues/33203 and should already been fixed.

[2021-07-20 07:52] #33356 closed, assigned to nobody

[2021-07-20 08:04] kevin940726 commented on #33563
I can reproduce this too. We probably would want to add a `min-width` to the input field.

[2021-07-20 08:09] getdave opened #33565 "Release changelog tooling: add a subgroup for the block library and detect the block name"
A nice follow-up would be to add a subgroup for the block library and detect the block name if possible. Sometimes there are multiple entries for the same block type.

_Originally posted by @gziolo in https://github.com/WordPress/gutenberg/pull/33229#discussion_r672829185_

[2021-07-20 08:10] kevin940726 commented on #33312
I can reproduce this too.

[2021-07-20 08:12] #33047 closed, assigned to nobody

[2021-07-20 08:14] maitearmengaud commented on #33047
Thank you @skorasaurus.
Sorry for this issue, finally the problem was with my environment. And not about Gutenberg, seems like my web server wasn't fully configured.

[2021-07-20 08:32] kevin940726 commented on #33305
I can reproduce it on Firefox and Safari, but not on Brave.

[2021-07-20 09:03] Mamaduka opened #33566 "Allow passing the `query` argument to data selector shortcuts"
## Description
Currently, it's not possible to pass the second argument to entity selector shortcuts like `getMedia`.

This will be useful for passing the `context` argument for REST API requests. See #32961.

## Expected behavior
Data selector shortcuts ignore the second argument.

## Actual behavior
Data selector shortcuts shouldn't ignore the second argument.

/cc @youknowriad

[2021-07-20 09:04] MatzeKitt commented on #19796
@nosolosw While it’s true that you can disable the border radius, the also mentioned width cannot be disabled at the moment. So I think it’s wrong to close this issue, since it’s not yet done.

[2021-07-20 09:32] adamziel commented on #33540
@noisysocks I actually had a working prototype of `ServerSideRender` but then I realized we need to render a full HTML document with `wp_head()`, CSS links, maybe some additional scripts, and this is much more that I would like to return from a block rendering API. It seems to fit nicely into our widgets-related API though. What do you think? Either way, we need to update some endpoint to make it

[2021-07-20 09:32] Mamaduka commented on #18510
Created PR that should fix this issue #33567.

[2021-07-20 09:50] torounit commented on #30288
Hello @quickdraft

The issue was tested during Core Editor [Today's Triage session](https://wordpress.slack.com/archives/C02QB2JS7/p1626759686349000) and wasn't able to reproduce it.

I'm going to close this issue for now, but feel free to re-open if you reencounter it.

[2021-07-20 09:50] #30288 closed, assigned to nobody

[2021-07-20 09:51] getdave commented on #33564
Hi @avagp. I tried this out and I can see the issue but I think this is a difficult one to solve in a way that meets everyone's needs.

To me if you're adding a succession of images it might be best to use the Gallery block. Now the issue with that is that the Gallery block also applies margin by default - even in single column mode.

I know there's currently [a major refactor of the Gallery block

[2021-07-20 09:54] getdave opened #33568 "Build tooling: update release docs with information on automated grouping by feature request"
Following the merge of https://github.com/WordPress/gutenberg/pull/33229 we need to update the docs to ensure they reflect how the changelog will be generated and what is expected of the release lead.

[2021-07-20 10:00] getdave commented on #33558
Thanks for the report and Issue @mehov.

I was able to reproduce this as below. This seems like an edge case usage and I'm not clear whether or not the behaviour is intentional or not so I've marked for needing additional technical feedback.

https://user-images.githubusercontent.com/444434/126304580-157172b3-3168-4fa9-8efd-c2c95b6841a8.mov

Looks to be happening as a result of calling `removep()`

[2021-07-20 10:12] ciampo commented on #17941
I'm personally not familiar with this component, but looking at the [folder history](https://github.com/WordPress/gutenberg/commits/trunk/packages/components/src/font-size-picker), there's been quite a few changes to its source code (refactors and bug fixes)

I can confirm that the "Without Custom Sizes" storybook story seems to work as expected (and therefore doesn't reproduce the original bug in

[2021-07-20 10:22] skalanter commented on #33525
Google Doc Content:

1. Possibility to show full width

2. Remove inner padding on appearance > widgets: [screenshot](https://lh5.googleusercontent.com/Bz6tDdiXtKxl5ELA8N8Zg4ZM6Miu9mtsXuBMHFqEs7tAG7SwKM19yo06oAnCM9SuipKMdEmzy-RPqiPrG429JAVOO1NbFUKelO-EJ1NywMjYu81Ar1cWMRseW61Ft_iTdJoF4MdI)
And shows like the front-end: [screenshot](https://lh3.googleusercontent.com/RShhlVzyHG8DUaN0rMfE0AaS1IIfbwJ3A

[2021-07-20 10:44] #18510 closed

[2021-07-20 10:56] getdave commented on #33374
I was able to replicate this. Problem is that this returns an empty array when we have an empty `theme.json`.

https://github.com/WordPress/gutenberg/blob/fc243d2e9814058db1620a6c6cb0429ddac0853b/packages/block-editor/src/hooks/align.js#L174-L175

[2021-07-20 11:17] getdave commented on #33374
@pattyok Try adding the following to your `theme.json`

[code]

That should restore those alignment controls.

[2021-07-20 12:04] aristath commented on #33232
I don't understand how the proposed schema would support multiple style variations... The current implementation allows users to define as many block-styles as they want, and then users just select one.
So maybe we should define them using something like this? (just nesting the definition 1 level deeper)
[code]
And if we allow multiple styles to be defined, then why bother generating a UUID instea

[2021-07-20 12:20] aristath commented on #33475
Why can't they just add a paragraph block with the text they want? :thinking:
If they want to add a "credit" that says _"Powered by [WordPress](https://w.org)"_, I don't see why they can't just type 3 words and we need to add yet another block... A paragraph block is editable by users so if they want to change the credit on their sites to make it "Copyright 2021 my-business", there's nothing stopp

[2021-07-20 12:26] aristath commented on #33367
I believe there are plans to _filter_ theme.json values so it can be overridden, but this has not yet been implemented.

[2021-07-20 12:32] Mamaduka commented on #18661
I think we can close this one after ##32961 and follow-up PRs.

[2021-07-20 12:46] getdave commented on #33379
Hi @CreativeDive. You are correct, the format for the template is expected to be this array structure rather than raw block grammar.

Here is the code which parses the `template` property and syncs it with the post content

https://github.com/WordPress/gutenberg/blob/5c5ff4dda48293e2803eeffdcce739e0dca12e56/packages/editor/src/store/actions.js#L54-L56

As you can see it expects the array.

To work

[2021-07-20 12:51] Mamaduka commented on #25885
Fixed via #32580.

[2021-07-20 12:51] #25885 closed

[2021-07-20 12:56] Mamaduka commented on #26422
I think this is a duplicate of #9184.

[2021-07-20 13:01] getdave commented on #33347
Thanks for the report. Much appreciated.

I've been able to replicate this and the source of the issue is in

https://github.com/WordPress/gutenberg/blob/5c5ff4dda48293e2803eeffdcce739e0dca12e56/packages/blocks/src/api/raw-handling/paste-handler.js#L133-L135

Essentially Gutenberg is trying to convert the plain text to markdown. When it does this the raw text that you provided is seen as the markd

[2021-07-20 13:09] getdave commented on #33347
Perhaps @ellatrix you would be able to advise here? There's also the possibility it's been incorrectly matched as a shortcode by the paste hander as this is where the `AUTO` mode is set

https://github.com/WordPress/gutenberg/blob/5c5ff4dda48293e2803eeffdcce739e0dca12e56/packages/block-editor/src/components/rich-text/use-paste-handler.js#L163-L169

[2021-07-20 13:10] scruffian commented on #33475
The benefit is i18n. The text inside the block can be output by PHP and so it can be wrapped in `__` calls.

[2021-07-20 13:12] getdave commented on #33347
Confirmed setting `__unstablePastePlainText={ true }` on `<RichText>` disables the faulty behaviour. Could we force to `true` if the `Cmd + Shift + V` keyboard combo is active?

[2021-07-20 13:23] ddryo commented on #33508
My personal wish is to be able to change it from PHP as well, for example with `add_theme_support`.

I would like to limit the tags that can be used in Group blocks in "Classic Themes" that do not use theme.json.

Alternatively, it would be helpful to be able to hook the `options` of `<SelectControl>`.

https://github.com/WordPress/gutenberg/blob/bf32b53de153c34db4a8949146cedeb8facbf607/packages/b

[2021-07-20 14:01] skorasaurus commented on #33047
Thank you for following up :)

[2021-07-20 14:27] inc2734 opened #33571 "Missing .editor-styles-wrapper in customizer's block-based widget editor."
## Description

The post and widget screens have `.editor-styles-wrapper`, but the customizer does not. Therefore, some styles are not reflected in the widget preview in the customizer.

Also, styles added with `add_editor_style()` will not be reflected in the customizer.

## Step-by-step reproduction instructions

1. Go to customizer.
2. Click "Widgets" panel.

## Expected behaviour

I want to ap

[2021-07-20 14:44] pattyok commented on #33374
Yes, those settings are in there, and the problem still exists. Note that this is only an issue for nested blocks.

Here is a better link to my theme.json. [https://gist.github.com/pattyok/0e7726a15c59ba8d183d2d1427728b48](https://gist.github.com/pattyok/0e7726a15c59ba8d183d2d1427728b48)

[2021-07-20 15:08] #28577 closed

[2021-07-20 15:19] jorgefilipecosta commented on #33232
I agree with what @aristath said I don't think we need UUID's and I think block styles should be consistent with presets so I imagine the following schema:

[code]

[2021-07-20 15:48] ntsekouras commented on #33564
This could probably be more fine tuned with a theme that supports `spacing.customMargin` and enable the support flag in `Image` as well...

--cc @nosolosw

[2021-07-20 16:04] adamziel opened #33576 "The new widget screen throws a PHP notice for deprecated components when using wp-editor scripts"
## Description

There are plugins providing Gutenberg blocks with a dependency on `wp-editor` script. Using them with WordPress 5.8 triggers the following notice:

<img width="1508" alt="Zrzut ekranu 2021-07-20 o 17 46 56" src="https://user-images.githubusercontent.com/205419/126354967-ecc5c6a1-9033-4f0d-bff5-2476b5a5c9a3.png">

The rationale for the notice is discussed in depth in [Trac 53437](ht

[2021-07-20 16:04] ntsekouras commented on #33563
This will either need adjustments to some places (it's not an one-liner I believe 😄 ) or we might even consider putting the labels at the top of the controls? 🤔

--cc @jasmussen

[2021-07-20 16:06] TheRadicalDreamer commented on #33564
Totally/

What i am doing is that i use container blocks from the Stackable plugin to
control that margin on every block.
[image: image.png]

I believe that this little addition can help you a lot with custom layouts.

I almost only use gutenberg blocks, but this margin is driving me nuts :/

El mar, 20 de jul. de 2021 a la(s) 11:48, Nik Tsekouras (
***@***.***) escribió:

[2021-07-20 16:14] kienstra commented on #33576
Thanks for opening this, seeing the same issue in our plugin.

[2021-07-20 16:23] skorasaurus commented on #22575
Hi,

I'm not able to reproduce on Gutenberg 11.0 and I'd think this issue would have numerous comments if it were an issue; closing. Please reopen if you're still experiencing this.

[2021-07-20 16:23] #22575 closed

[2021-07-20 16:25] adamsilverstein opened #33578 "Enhancement: Page speed metrics in preview"
## What problem does this address?
When publishing or updating a post, users check the preview screen to see how their page will **look**. If might help users if they could get a sense of how their page would **perform**.

## What is your proposed solution?
* when users preview a page, send an API request to the Lighthouse or a similar API with a preview URL
* unpublished posts could be previewed

[2021-07-20 16:27] fjarrett-godaddy commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-07-20 16:56] johnstonphilip commented on #33576
Just noting a few of the problems that have popped up in Genesis Blocks when we remove the `wp-editor` dependency:

- TypeError: Cannot read property 'getEditorSettings' of null
- TypeError: Cannot read property 'canUserUseUnfilteredHTML' of null

Those are coming from these lines:
[code]

And
[code]

Are there ways to get those values on the widgets page?

[2021-07-20 17:18] richtabor commented on #31954
I'm also of the opinion that custom block templates should be retained. If a template is the standard theme's default template, then sure — it should change to whatever the theme decides. But otherwise, if I've created and set a specific template for a specific page, then that should be retained.

I get that the UX may be a bit more daunting, but having templates that you've created with theme `X`

[2021-07-20 17:18] johnstonphilip commented on #33576
I was able to get the settings I needed (imageSizes) from the `core/block-editor` package like this:
`const getSettings = wp.data.select( 'core/block-editor' ).getSettings();`

I haven't yet found how to get `canUserUseUnfilteredHTML`

[2021-07-20 18:01] pbking commented on #33332
I tried really hard to reproduce this but was unable to.
Evaluated both locally with the layout grid installed as well as on .com
Attempted different scenarios including nesting the layout grid in a group and a few other methods but to no avail.
Evalutated with both emptytheme and [quadrat](https://github.com/Automattic/themes/issues/4158).

![image](https://user-images.githubusercontent.com/14653

[2021-07-20 18:04] jorgefilipecosta commented on #29812
I think this is a very complex issue the FontSizePicker component receives the selected value in the value prop and passes a new value on the onChange, it is never aware of slugs. The same happens in color, gradients etc...
For example, if the user explicitly types 54 one of the slugs is going to be selected although the user did not spect any and just typed a custom value.

@CHEWX could you elabo

[2021-07-20 19:27] cabrerahector commented on #33576
Seeing this notice on one of my plugins as well. It uses the ServerSideRender component to render stuff.

So, basically to fix the notice we should be using this shim with our plugins @adamziel?

[2021-07-20 19:40] htmgarcia opened #33579 "Can't save changes when having more than 25 blocks in a Widgets area"
## Description
**WordPress 5.8.** When having more than 25 blocks in a widgets area, including "Inactive widgets", can't save changes. When updating got the error: `There was an error. Invalid parameter(s): requests`.
In console:
![Screen Shot 2021-07-20 at 14 22 24](https://user-images.githubusercontent.com/4999794/126384333-dbb96ba5-6215-48ec-9aaa-1a6651a078e8.png)

## Step-by-step reproduction

[2021-07-20 19:41] CreativeDive commented on #33379
@getdave thanks for helping. I've tested your code, but unfortunately it's not working. After adding your code to convert the block content the the expected array, the block editor get a white screen. In the browser console I get this JS error:

`Unhandled Promise Rejection: TypeError: undefined is not a function (near '...[name, attributes, innerBlocksTemplate]...')`

[2021-07-20 20:37] bobbingwide commented on #33576
@cabrerahector

I have a number of plugins with blocks that use ServerSideRender.
For my blocks which are built using `wp-scripts` I have changed the import for ServerSideRender from

[code]
to
[code]

This removes the dependency.

See https://github.com/bobbingwide/bobbingwide/issues/30#issuecomment-883282378

For the plugins which are built using older style code one pragmatic solution is to dis

[2021-07-20 21:11] MadtownLems opened #33580 "New Widgets Screen does wp_footer action below each Widget"
## Description
do_action( 'wp_footer')  is apparently called after every widget on the new block-based Widgets screen

## Step-by-step reproduction instructions
Use any code that outputs during wp_footer and you'll see that output after each widget on the new widgets screen. (example in code snippet section)

## Expected behaviour
Nothing is output on the widgets screen

## Actual behaviour
"Why i

[2021-07-20 21:26] hellofromtonya opened #33581 "Query Loop: tag filtering limited to 100 tags"
## Description
First reported in [Core Trac ticket 53704](https://core.trac.wordpress.org/ticket/53704).

When there are more than 100 tags (in the above report there are 300 tags), only 100 tags are available for filtering the Query Loop.

## Step-by-step reproduction instructions
1. Using wp-cli create at least 200 tags (these will be created as Tag 1 to Tag NNN)
2. Create a post
3. Add a Query

[2021-07-20 21:36] glendaviesnz opened #33582 "Gallery block: add ability to set gutter"
Once the gallery refactor is merged it would be good to add an option to allow the setting of the gutter between images to allow the gape between images to be expanded or removed.

[2021-07-20 21:41] richtabor commented on #33487
Came here to report this as well 💪

[2021-07-20 21:45] alexstine commented on #29526
@ggordon-vispero I just received my own copy of JAWS and gave this a test. When I tried without any roles, JAWS announced that the paragraph block contained text but did not read the text. When I added:

`role="document"`

JAWS just read "blank, blank, blank" every time I pressed arrow keys inside the block.

Is it possible that there is some type of update that hasn't gone public yet that is allo

[2021-07-20 21:52] richtabor opened #33583 "List View: Explore Naming Blocks"
## What problem does this address?
The list view is out of context from the block content area, making it very difficult to actually tell what each list item represents among a sea of blocks, unless its interacted with and the user identifies the corresponding block on the right.

While we do support having anchors within the List view, why don't we instead allow naming of these list items, essent

[2021-07-20 21:53] amandarush commented on #29526
@ggordon-vispero alexstine As of Jaws 2020.2107.12 adding role="document" to paragraph tags with contenteditable="true" produces the same result reported by Alex, everything reads "blank blank blank" inside blocks.

[2021-07-20 21:55] paaljoachim commented on #33582
If I remember correctly I believe @aaronrobertshaw is working on the general gutter control which when merged can be added to multiple blocks. I came across a few issues when I searched for the word gutter here on the Gutenberg repo.

[2021-07-20 23:29] richtabor commented on #33539
Do you know of relevant issues/PRs?

[2021-07-20 23:54] aaronrobertshaw commented on #33582
Thanks for the ping @paaljoachim.

We did originally have a feature in the refactored gallery to [control gutter size](https://github.com/WordPress/gutenberg/pull/28377) however it was requested that be moved to a [future PR](https://github.com/WordPress/gutenberg/pull/29216). I also had a [PR](https://github.com/WordPress/gutenberg/pull/31987) to control gutters for columns via margin block suppo

[2021-07-21 03:29] talldan commented on #6842
This issue is quite old, and it's possible to insert blocks before/after using the option in the block more menu if you really pressing enter is not what you want to do.

I'm going to close it. I'd suggest any general discussion about where inserter buttons appear is moved to a more general issue like https://github.com/WordPress/gutenberg/issues/22801. The title of this issue is very specific, an

[2021-07-21 03:29] #6842 closed

[2021-07-21 03:37] talldan commented on #12362
I'm going to close this as a stale issue since there's been no discussion for a few years.

[2021-07-21 03:37] #12362 closed

[2021-07-21 03:44] noisysocks opened #33584 "Improve widgets documentation"
From https://make.wordpress.org/core/2021/06/29/block-based-widgets-editor-in-wordpress-5-8/#comment-41552:

Most of the APIs for this are the same as the regular block editor's, but let's explicitly document it.

[2021-07-21 04:04] talldan commented on #15037
Tested the latest version of the plugin and this is now resolved, so will close the issue.

[2021-07-21 04:04] #15037 closed

[2021-07-21 04:07] talldan commented on #14550
I'm going to close this since the feedback seems to be that `figure` is ok, and there are no further comments against.

[2021-07-21 04:07] #14550 closed

[2021-07-21 04:24] talldan commented on #15904
I think this is possible and has been for a while:
[code]

The anchor link field is a good example (implemented here - https://github.com/WordPress/gutenberg/pull/16142), that has a link as part of the help text:
<img width="262" alt="Screenshot 2021-07-21 at 12 18 14 pm" src="https://user-images.githubusercontent.com/677833/126430330-80d579d2-a398-4e02-b473-e1a878eb4f0f.png">

HTML in a string wo

[2021-07-21 04:24] #15904 closed

[2021-07-21 04:25] talldan commented on #15824
Facebook embeds are now not supported, so closing this.

[2021-07-21 04:25] #15824 closed

[2021-07-21 04:34] talldan commented on #19077
Seems like the original request has been achieved in the file block.

Please could any additional feature requests be moved into new issues. Commenting them here makes them very hard for contributors to find.

[2021-07-21 04:34] #19077 closed

[2021-07-21 04:46] talldan commented on #22091
There doesn't seem to be a lot of other feedback that the tips are annoying, so I'm going to close this as something that won't be implemented.

[2021-07-21 04:46] #22091 closed

[2021-07-21 04:48] talldan commented on #16979
This seems to also be tracked in #17091. I'll close this as I feel the other issue has a clearer description.

[2021-07-21 04:48] #16979 closed

[2021-07-21 05:03] talldan commented on #21722
This seems to be resolved in more recent versions, but let me know if anyone still experiences it.

[2021-07-21 05:03] #21722 closed

[2021-07-21 05:06] talldan commented on #21262
This seems to work ok now. Closing the issue.

[2021-07-21 05:06] #21262 closed

[2021-07-21 05:10] talldan commented on #28159
Duplicate of #10595

[2021-07-21 05:10] #28159 closed

[2021-07-21 05:27] talldan commented on #20146
This is now fixed 🎉

[2021-07-21 05:27] #20146 closed

[2021-07-21 05:29] talldan commented on #21109
I can't reproduce this now, so closing the issue.

[2021-07-21 05:29] #21109 closed

[2021-07-21 05:32] talldan commented on #17756
This now seems to have been fixed. Executing `wp.data.dispatch('core').saveEntityRecord( 'postType', 'post', { title: 'new post' } )` creates a new draft post.

[2021-07-21 05:32] #17756 closed

[2021-07-21 05:43] talldan opened #33585 "A meta tag is inserted when copy pasting a link"
## Step-by-step reproduction instructions
1. Add a link inside a paragraph block
2. Copy the link
3. Paste the link (inside the same block is fine)
4. See that a `<meta charset="utf-8">` element has been inserted into the paragraph block.

## Expected behaviour
Only the link is pasted

## Actual behaviour
Meta tag is pasted along with the link

## Screenshots or screen recording (optional)
The con

[2021-07-21 05:44] talldan commented on #14928
Closing as this no longer happens. There was a different bug that I spotted when testing - #33585.

[2021-07-21 05:44] #14928 closed

[2021-07-21 05:44] talldan commented on #21112
Closing as this no longer happens. There was a different bug that I spotted when testing - #33585.

[2021-07-21 05:44] #21112 closed

[2021-07-21 06:16] mttindustries opened #33586 "feature improvement: hyperlink box in posts editor needs to be widened"
## What problem does this address?

Problem/frustration: when making hyperlinks from text in the block editor for posts, the window that pops up and a bit too small where for some long titles and urls get cut off at the end in the preview, and I'm trying to link certain texts in posts to certain products. The products titles and urls might start the same but then it's hard to distinguish which one

[2021-07-21 06:40] talldan commented on #15488
It's frustrating that Apple doesn't update their browser on older devices.

The WordPress browser support policy is the last two versions of iOS - https://make.wordpress.org/core/handbook/best-practices/browser-support/.

Unfortunately iOS 9 is now much older (latest version is iOS 15), so I'll close this issue.

[2021-07-21 06:40] #15488 closed

[2021-07-21 06:45] talldan commented on #21837
Testing the latest version, this no longer happens, so will close the issue.

[2021-07-21 06:45] #21837 closed

[2021-07-21 06:46] talldan commented on #16948
The facebook embed is no longer supported so closing.

[2021-07-21 06:46] #16948 closed

[2021-07-21 06:57] talldan commented on #20199
I couldn't reproduce the issue, the post saves fine when I tested. It may have been resolved, but if it still happens I'm fairly certain this wouldn't a Gutenberg issue, but either a REST API or database issue

@dstark If you're still experiencing this, it'd be good to verify that the payload sent from the block editor to the REST API is correct. Here's some fairly detailed steps if you're unfamil

[2021-07-21 07:10] talldan commented on #19284
Seems to still happen.

The watch tool does pick it up as a removal and addition. In the build folder, babel has output the new file, and the watch task has deleted the old file (though the sourcemap gets incorrectly left behind).

I think the problem lies with webpack's watch not detecting this as a change probably because it relies on resolving a dependency tree or something, and nothing in that

[2021-07-21 07:13] talldan commented on #22376
The blue outline is the focus ring. The black outline indicates the selected style. I realise that can be confusing, but the focus ring is required for accessibility reasons.

FWIW, it doesn't happen any longer because the transform menu is now before the styles menu.

[2021-07-21 07:13] #22376 closed

[2021-07-21 07:20] talldan commented on #21975
Pressing 's' does indeed select small when the font size input is focused, with Cmd+S that still happens. Guess that's native browser behavior?

The save shortcut already does `preventDefault` and `stopPropagation` doesn't help either. I think the problem is that the select element receives the event first before the globally bound save shortcut.

[2021-07-21 07:23] talldan commented on #22205
This seems to have been resolved now. I can copy/paste text plus images fine from google docs.

Feel free to reopen if you're still experiencing the issue.

[2021-07-21 07:23] #22205 closed

[2021-07-21 07:31] Mamaduka commented on #33579
Source - https://make.wordpress.org/core/2020/11/20/rest-api-batch-framework-in-wordpress-5-6/

[2021-07-21 07:32] talldan commented on #22416
This no longer happens, some new behavior was implemented where the notice scrolls away, so it doesn't seem possible to make a block toolbar overlap a notice.

[2021-07-21 07:32] #22416 closed

[2021-07-21 07:34] talldan commented on #23071
Seems to have been resolved in more recent versions, so closing the issue.

[2021-07-21 07:34] #23071 closed

[2021-07-21 07:38] mikachan commented on #33332
There was a temporary fix for this applied in the [block-experiments repo](https://github.com/Automattic/block-experiments/pull/226) that you'll probably need to disable to be able to reproduce this. The fix is applying `float: right` to the `.wp-block[data-align=right] > .wp-block-image` selector, so you should be able to disable it via dev tools.

Really sorry @pbking, I should've made this more

[2021-07-21 07:47] talldan commented on #33155
There have been previous reports of this. #22507 is one that has been kept open for investigation, so I'll close this as a duplicate.

The issue usually comes from a browser extension injecting stylesheets. I'd recommend disabling browser extensions one-by-one and then checking to try to figure out which one causes it.

[2021-07-21 07:47] #33155 closed, assigned to nobody

[2021-07-21 07:52] talldan commented on #23302
This code doesn't seem to exist any more, so will close the issue. Thanks for reporting.

[2021-07-21 07:52] #23302 closed

[2021-07-21 07:56] #15862 closed

[2021-07-21 07:56] #26422 closed

[2021-07-21 07:59] talldan commented on #13424
This seems to have been resolved, so closing the issue.

[2021-07-21 07:59] #13424 closed

[2021-07-21 08:01] fluiddot opened #33588 "High-severity security vulnerability on current React Native version (0.64.0)"
## Description

**Vulnerability details: https://github.com/advisories/GHSA-7f53-fmmv-mfjv**

GitHub notified about a high-security issue that was introduced in React Native version 0.59.0 and that is fixed in 0.64.1.

It would be nice to upgrade the React Native version to 0.64.1 or the last 0.64.X (0.64.2) to address this issue, here is some info about the changes between versions that will help

[2021-07-21 08:09] talldan commented on #23081
I haven't seen this happen for a while now and I just tested and can't reproduce. I believe the code for the in-between inserter was reworked quite a bit, and it seems much more reliable. I'll close this, but can always reopen or open a new issue if it reoccurs.

[2021-07-21 08:09] #23081 closed

[2021-07-21 08:15] talldan commented on #24541
This seems to be resolved now, at least I couldn't reproduce by following the steps in the gifs. Let me know if I'm wrong and I can reopen the issue.

[2021-07-21 08:15] #24541 closed

[2021-07-21 08:20] talldan commented on #24438
I can't reproduce this any more. I don't think the steps are particularly clear, so maybe I'm not testing correctly. I'll close the issue, but if it still happens it can be reopened.

[2021-07-21 08:20] #24438 closed

[2021-07-21 08:27] torounit opened #33589 "When Control + A is pressed on the title, if there are two or more blocks, the block will be selected instead of the title."
## Description
When select all ( ctrl + A or cmd + A) on the title, if there are two or more blocks, the block will be selected instead of the title.

This problem occurs in WordPress 5.8 or Gutenberg 11.

I think it is related to the pull request at https://github.com/WordPress/gutenberg/pull/33167, but I don't know.

## Step-by-step reproduction instructions

1. Go to edit post.
2. Add title tex

[2021-07-21 08:27] getdave commented on #33379
@creativecoder No problem. Shame it didn't work for you as it works well for me with the content you provided.

Can you advise on exactly what steps you are taking and what content you are using in the template?

I would also recommend doing some digging and looking into whether the properties you're trying to access in PHP on the `$block` variable are actually defined (try using `empty()` or `iss

[2021-07-21 08:32] talldan commented on #23886
Firefox seems to work ok now, but the issue still happens in Safari.

[2021-07-21 08:38] talldan commented on #14828
Resolved in https://github.com/WordPress/gutenberg/pull/23174

[2021-07-21 08:38] #14828 closed

[2021-07-21 08:38] ntsekouras commented on #9184
Just moving my comment from the marked as duplicate closed issue ..

You can test it just by opening the Page/Post Setting in Inspector Controls, which load the component for the featured image.

[2021-07-21 08:47] talldan commented on #32835
Just noticed #25946, so closing this as a duplicate.

[2021-07-21 08:47] #32835 closed, assigned to nobody

[2021-07-21 08:58] talldan commented on #21407
Drag and drop is now possible in select mode, so that's one of the options implemented. List view also has drag and drop in 11.1, so that's a second way to reorder things without turning off 'Top toolbar'.

I'm going to close this. If we still feel the options are lacking it's fine to open a new issue or reopen this, but it probably needs more design exploration before a developer can pick it up.

[2021-07-21 08:58] #21407 closed

[2021-07-21 09:04] talldan commented on #22055
This doesn't seem to happen now, so closing the issue.

[2021-07-21 09:04] #22055 closed

[2021-07-21 09:05] #27129 closed

[2021-07-21 09:06] pierlon opened #33591 "Admin manifest fails to be created if admin bar is not present on the page"
## Description
If the admin bar is not present on an admin page, the admin manifest script fails with the error:

[code]

That error can be traced back to here:

https://github.com/WordPress/gutenberg/blob/34d1a96007103cca1cad27bf74de92952f911544/packages/admin-manifest/src/index.js#L109-L110

I experienced this error when navigating to the Onboarding Wizard in the AMP for WordPress plugin.

## Ex

[2021-07-21 09:14] aristath commented on #33475
If the problem is that template strings can't be translated, then perhaps we should work on finding a way to fix that?
Adding a new block simply because a string can't be translated sets a dangerous precedent and is a mere workaround for a deeper underlying issue... I fear if we start adding blocks for things that can't be translated, we're going to end up with a dozen new blocks instead of actual

[2021-07-21 09:24] talldan commented on #24895
There was a similar fix here that it might be possible to take inspiration from - https://github.com/WordPress/gutenberg/pull/32663

The difference here is that this problem is pasting something that looks like a link over an existing text selection, whereas that other issue fixed a problem when highlighting text that looks like a link and selecting the link button.

[2021-07-21 09:40] talldan commented on #32402
This was flagged on the [forums](https://wordpress.org/support/topic/is-this-expected-behaviour-for-the-popover-in-gutenberg/), and when testing it definitely seems to happen, especially in a right-hand column:
<img width="277" alt="Screenshot 2021-07-21 at 5 41 48 pm" src="https://user-images.githubusercontent.com/677833/126468306-914d1ecd-e45b-4f11-99a8-da578e0b79a1.png">

Feels like a possible