[2021-08-03 06:11] peterwilsoncc commented on #31501
Hi @amir2mi and thank you for the report.

This ticket was [discussed in a triage session](https://wordpress.slack.com/archives/C02QB2JS7/p1627970053073400) a short time ago.

It was decided that this was better filed under the WordPress Core ticketing system as the bug is likely with either the API Gutenberg uses or elsewhere in Core. There is an existing ticket reporting the issue you can find a

[2021-08-03 06:11] #31501 closed, assigned to nobody

[2021-08-03 06:12] talldan commented on #31442
For anyone using `wp-env`, this is the wp cli command for creating lots of reusable blocks, just change the count to whatever you want:
[code]

On the latest version I tested using about 6,000 reusable blocks, and it did work, but it was slow and wasn't very usable. Ideally the results would be paginated.

That's on well-specced machine, so I'd hate to see what it's like on a phone or tablet.

[2021-08-03 06:22] getdave commented on #30170
💯 lets do it!

[2021-08-03 06:31] ciobanu0151 opened #33839 "useDebounce does not call function if the component refreshes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you tried deactivating all plugins except Gutenberg?

- [X] I have tested with all plugins deactivated.

### Have you tried replicating the bug using a default theme e.g. Twenty Twenty?

- [X] I have tested with a default theme.

### Description

I noticed the issue in the serverSideRenderer component. If

[2021-08-03 06:51] jasmussen commented on #33609
This seems to be a duplicate of #32890, is that right?

[2021-08-03 07:00] talldan commented on #33832
I haven't had a chance to test this yet, but I wonder if it's related to https://github.com/WordPress/gutenberg/pull/33164.

There's this case where autop is applied, but I don't think it was supposed to happen for something intentionally inserted as the HTML block:
https://github.com/WordPress/gutenberg/blob/a3445ccd3a2f16d923b1bc2873159d8f0cecde01/packages/blocks/src/api/parser.js#L499-L504

It

[2021-08-03 08:08] ntsekouras commented on #31480
Thanks for reporting this @bbertucc! The truth is that the there is a problem to be solved about [context detection](https://github.com/WordPress/gutenberg/issues/30369) in `Query Loop`, which now results in some inconsistencies between  front-end and editor, when `inherit` is set to `true`.

As @torounit mentioned:

And it seems to me it does 😄 . The confusing part is that if we have the `inherit

[2021-08-03 08:13] talldan commented on #33839
It seems like the debounced function will cancel if the callback function's reference, arguments or wait time changes:
https://github.com/WordPress/gutenberg/blob/a3445ccd3a2f16d923b1bc2873159d8f0cecde01/packages/compose/src/hooks/use-debounce/index.js#L35

The issue is that the ServerSideRender doesn't `useCallback` on its `fetchData` function, so a new function is created on each render:
https:/

[2021-08-03 08:16] #29711 closed

[2021-08-03 08:34] getsource commented on #17221
Hi @dgaik-gg!

Thanks much for the note about this!
Would you mind opening [a new issue](https://github.com/WordPress/gutenberg/issues/new/choose), to open discussion about the best way to address this?

[2021-08-03 08:58] oandregal commented on #27614
Does it make sense that this new style/setting is part of the spacing group? We'd have: `spacing.height` for styles and `spacing.customHeight` for settings.

Thinking of what other blocks could benefit from this: the cover block has a custom min-height property (see dimensions panel), I wonder if it can be converted to this as well:

![Captura de ecrã de 2021-08-03 10-56-44](https://user-images.gi

[2021-08-03 09:00] getdave commented on #33709
Thanks for raising this 👍

Having tried to catch up with the background here it appears to me that we have two options:

1. A `Block Title` attribute which renders a widget heading with the appropriate widget-specific classes applied (with the additional benefit of improving block identification within the List View).
2. A Block Pattern of heading block + widget block wrapped in a Group block with

[2021-08-03 09:07] Mamaduka commented on #33709
I like the first option since we can reuse the "Block Title" attribute for #33583 as well.

[2021-08-03 09:46] thesunshade commented on #32586
FWIW, in the site I am testing one, I do not have the option "Convert to regular blocks" in my overflow menu. I only have the icon in the main toolbar. that people are discussing.

Also, FWIW, since I don't see the option in the overflow menu, and I assumed that the icon meant ```copy```, I thought that this feature had somehow been removed!

Personally _I don't see why converting to regular block

[2021-08-03 09:50] paaljoachim commented on #11211
Can someone do a test using WordPress 5.8? To see if this issue is still valid.

Thank you!

[2021-08-03 09:51] paaljoachim commented on #10178
Can we get an update from someone on this very old issue?
Thank you!

[2021-08-03 09:52] paaljoachim commented on #10235
Can we get an update on where this issue is currently?
Thank you!

[2021-08-03 09:53] paaljoachim commented on #11820
Is this issue still valid?

[2021-08-03 09:54] thesunshade commented on #29178
This is exactly what I came here to say. Even in 5.8 it is still far to easy to edit the contents of a reusable block unintentionally.

[2021-08-03 10:03] mlaetitia commented on #11820
Just re-tested following the steps above and doesn't seem to be @paaljoachim

[2021-08-03 10:14] paaljoachim commented on #11820
Thank you for testing mlaetitia!
I will go ahead and close this issue. It can of course be reopened if need be.

[2021-08-03 10:14] #11820 closed

[2021-08-03 10:32] fluiddot opened #33841 "Embed block: Increase touch area of small elements"
## Description

The following elements of the embed block are too small to be tapped so we should increase the touch area:
- "Learn more about embeds" link within the block settings
https://github.com/WordPress/gutenberg/blob/cdbda9640e6e357f67541f326d0a8491dd1c7694/packages/block-library/src/embed/embed-bottom-sheet.native.js#L23-L26
- Help icon button
https://github.com/WordPress/gutenberg/blob/

[2021-08-03 11:04] talldan commented on #33709
I'm not a huge fan of the idea of the universal attribute, because in my opinion it'll become a some technical debt that will end up existing forever. Blocks in the widget editor will forever have this wrapper concept that makes them different to blocks everywhere else.

My preference would be to let the blocks themselves stay as pure as possible, but maybe offer the user some shortcuts to creatin

[2021-08-03 11:12] rmorse commented on #30706
@ndiego [I tweaked a core component ](https://github.com/rmorse/wp-token-multiselect-control)(so it looks and feels native) to achieve this.

However, IMO core should ship with something like this (I've seen plenty of people requesting it), and I think that was going to be addressed in [G2 Components](https://github.com/itsjonq/g2) but I've not seen much movement on that in a while.

Actually, @sa

[2021-08-03 11:20] bobbingwide commented on #31890
Interesting, we got a very similar message when demoing the Block widget editor in wp-pompey.org.uk on 21st July.
WordPress 5.8, with a child theme of Twenty Seventeen.

[code]

It went wrong during the demo. It was working fine until I added the Meta Legacy Widget, which didn't work.

See https://www.youtube.com/watch?v=SpQGAgShYoY

The widgets stopped appearing in the editor at 6:40

https://you

[2021-08-03 12:29] bobbingwide commented on #31890
### Workaround for my problem

1. Install and activate the Classic Widget plugin.
2. Delete the empty block
3. Deactivate the Classic Widget plugin

https://github.com/wppompey/wp-pompey/issues/6#issuecomment-891792319

[2021-08-03 13:09] egornmore commented on #33813
Found a fast-fix solution, which works for me. Single quotes will stay intact if they are placed on the first level and double quotes inside of the single quotes. So just swap them e.g. `[tagged_heading text='Lorem ipsum dolor sit amet <mark data-tooltip="tooltip"></mark> sodales dui.']`

[2021-08-03 13:21] mcsf commented on #24752
Thanks for the feedback. I think we can close this issue. If something new comes up, we'll address it.

[2021-08-03 13:21] #24752 closed

[2021-08-03 13:24] gziolo commented on #30289
We are in the process of upgrading webpack to the next major version v5 in #33818. It might improve the way soruce maps are handled.

[2021-08-03 13:25] gziolo commented on #32203
We are in the process of upgrading webpack to the next major version v5 in #33818. `FixStyleWebpackPlugin` plugin is going to be removed so it should resolve this issue.

[2021-08-03 13:49] getdave opened #33850 "Add "unlink" button to Block toolbar when link UI is open"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you tried deactivating all plugins except Gutenberg?

- [X] I have tested with all plugins deactivated.

### Have you tried replicating the bug using a default theme e.g. Twenty Twenty?

- [X] I have tested with a default theme.

### Description

When editing links in the Nav Block and the link UI is _ope

[2021-08-03 13:55] #32408 closed, assigned to gziolo

[2021-08-03 14:10] thomashigginbotham commented on #30685
I've found a workaround for my specific scenario; however, it seems strange that when using the wp-env configuration I posted above, the files for `akismet` are downloaded to my project's source folder, but the files for `theme-check` are not, resulting in both an "akismet" folder that contains its source files and a "theme-check" folder that is empty.

I'm just curious as to the reasoning why it

[2021-08-03 14:39] TheRadicalDreamer commented on #33609
Yes. But I also mentioned WhatsApp as a missing icon

[2021-08-03 14:48] johngodley commented on #28009
The `get_block_categories` function can be supplied with an editor context instead of a post:

[code]

This means you don't need to supply a post. However, it requires blocks to use the `block_categories_all` filter instead of the deprecated `block_categories` filter.

As shown in the example here, it's possible the category will only be added if a specific post type is supplied:

https://github.c

[2021-08-03 15:22] jtrost opened #33852 "Autocomplete example in README.md gives error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you tried deactivating all plugins except Gutenberg?

- [X] I have tested with all plugins deactivated.

### Have you tried replicating the bug using a default theme e.g. Twenty Twenty?

- [X] I have tested with a default theme.

### Description

The code in the Usage section of the [Autocomplete componen

[2021-08-03 15:27] #27352 closed

[2021-08-03 15:33] MadtownLems opened #33853 "Info/Information Notice Styling is absent"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you tried deactivating all plugins except Gutenberg?

- [X] I have tested with all plugins deactivated.

### Have you tried replicating the bug using a default theme e.g. Twenty Twenty?

- [X] I have tested with a default theme.

### Description

Per the Notice component documentation in the Block Editor

[2021-08-03 15:38] jorgefilipecosta commented on #6941
I think this issue is now fixed. Using the site editor/global styles a user can change the color palette. Thank you all for the inputs!

[2021-08-03 15:38] #6941 closed

[2021-08-03 15:50] katarzynapawelczak opened #33854 "TextControl type=number with min={0} after last update doesn't work for value 0."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you tried deactivating all plugins except Gutenberg?

- [X] I have tested with all plugins deactivated.

### Have you tried replicating the bug using a default theme e.g. Twenty Twenty?

- [X] I have tested with a default theme.

### Description

TextControl for type=number with min={0} after last update

[2021-08-03 15:51] getdave commented on #33709
@talldan The only question is how would block patterns or "shortcut" solutions work around the problem @draganescu highlights - namely that many Themes don't support the heading block well within widgets? Are you thinking the pattern you introduce would automatically add the requisite `widget-heading` classes to better mimic a legacy Widget?

[2021-08-03 15:54] jorgefilipecosta commented on #27614
It seems we have an issue with how the space block was built. By default this is the markup produced:

[code]

If we wanted for example to change the default hardcoded height to 150px the current default space blocks would be invalid.

I think the default height should not be added as an inline style, adding the default height as an inline style is what makes it impossible for themes to control it

[2021-08-03 16:02] benoitchantre opened #33855 "Add inline formatting items to better manage line breaks"
## What problem does this address?

With responsive design and big font sizes, hard line breaks (`<br>`) don't help to have a good looking text on all viewport sizes.

To keep a good wrapping for headings or other large texts, we need to use non breaking spaces and the [`<wbr>`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/wbr) tag.

## What is your proposed solution?

It would be rea

[2021-08-03 16:38] dcalhoun opened #33856 "Typing swiftly into the Image Alt Text field results in incorrect text entry"
## Description
When typing quickly into the Image Alt Text field, duplicate characters appear to be inserted into the field, resulting in incorrect text. This occurs on both iOS and Android.

## Step-by-step reproduction instructions
1. Launch the editor.
2. Insert and Image block.
3. Tap the settings cog button to open the block settings.
4. Tap the Alt Text field.
5. Attempt to enter a sentence

[2021-08-03 16:42] dcalhoun opened #33857 "Moving the cursor before deleting text within the Image Alt Text fields results in incorrect cursor placement on Android"
## Description
When deleting characters _after moving the cursor_ within the Image Alt Text field, the cursor is placed in the incorrect location. Rather than cursor placed after the first preceding character, it is placed after the second preceding character. This appears to only occur on Android, and does not occur on iOS.

## Step-by-step reproduction instructions
1. Launch the editor.
2. Inser

[2021-08-03 16:48] helgatheviking commented on #17476
I have a plugin that replaces the taxonomy selector UI with radio buttons. I'd like to extend `HierarchicalTermSelector` instead of duplicating the entire thing. IS that possible, or does it need to be exposed first? And now that `HierarchicalTermSelector` is a function, can it be extended at all?

[2021-08-03 17:01] #33681 closed, assigned to scruffian

[2021-08-03 17:08] #33736 closed, assigned to mattwiebe, jeyip

[2021-08-03 18:02] skorasaurus commented on #33830
related https://github.com/WordPress/gutenberg/issues/31848

[2021-08-03 18:28] #33828 closed, assigned to SiobhyB

[2021-08-03 19:31] #30627 closed, assigned to dcalhoun

[2021-08-03 23:33] azaozz commented on #33832
Yes, the handling of `freeformContentFallbackBlock` is the cause, thanks @talldan. Happens because on the widgets settings screens the fallback block is set to Custom HTML.

The assumptions there (from 4 years ago) are somewhat incorrect. Autop might be needed only when editing posts, not in any other case. The removal of paragraph tags  (the `pre_wpautop` part) was applied only on the content fro

[2021-08-03 23:56] kellychoffman commented on #31456
@javierarce - Great iterations. I feel like the overall flow is feeling good now. Something I keep coming back to is the overall IA of this panel - how the info is organized and presented to the user and what information we surface. A couple questions that come to mind:

- Organizing information: Does grouping things by `Page`, `Site`, `Template` make the most sense from a user's perspective?
- Lo

[2021-08-04 00:15] glendaviesnz opened #33862 "Gallery block: '0' showing in image toolbar"
In the [Gallery refactor PR](https://github.com/WordPress/gutenberg/pull/33861) the Image block toolbar has a '0' in the Image toolbar where the convert to [cover block option has been removed](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/image/image.js#L324):

<img width="530" alt="Screen Shot 2021-08-04 at 12 11 22 PM" src="https://user-images.githubusercontent.co

[2021-08-04 00:49] hellofromtonya commented on #33709
The context of "Title" is different between Widgets to the List view. I'm concerned of the impact to users when switching between these context. For existing users, a widget title has a specific purpose and meaning, which is not the same as proposed for List view.

How do we work around this?

The title attribute could be its reference within the software whereas the interface could have a user-fr

[2021-08-04 02:04] cngodles commented on #31211
I'm going to say that this has made it into WordPress 5.8. I am running into this on two very different installs. One has the template I originally described, the other is a custom template that makes no use of any sort of special font formatting.

This issue now occurs without the plugin enabled. It's a highly critical degradation of the intended Gutenberg editing experience.

## line-height

I a

[2021-08-04 02:48] nhatrangnet opened #33864 "Change core/code value with custom fields"
I need to change core/code value by the custom fields value.
With this way I can change/update post content by changing custom field value, and it will apply to one or multi core/code.

Can anyone suggest me a way to do it, thanks a lot.

[2021-08-04 03:08] #33862 closed, assigned to glendaviesnz

[2021-08-04 03:28] shrewdacumen opened #33865 "Once I've installed "insert headers and footers" plugin, I can not use Gutenberg editor any more."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you tried deactivating all plugins except Gutenberg?

- [X] I have tested with all plugins deactivated.

### Have you tried replicating the bug using a default theme e.g. Twenty Twenty?

- [X] I have tested with a default theme.

### Description

it does not work but caused errors on every web pages after

[2021-08-04 03:46] talldan commented on #30685
It's not something that I have full knowledge of, though I think the goal of mappings is to mount a local folder in the docker instance, so it might not be intended to work the other way around.

[2021-08-04 04:36] talldan commented on #33709
Pretty much that. The pattern would be a group with a heading in it (and space for a widget). There could also be an option for wrapping an existing block with that pattern.

A separate block would be fine too.

[2021-08-04 04:41] kevin940726 commented on #33658
I believe this was fixed in #33802. Here's the screencast I just recorded in trunk.

https://user-images.githubusercontent.com/7753001/128123051-894b2b1e-c146-48ca-899e-9cc86362aa53.mp4

[2021-08-04 04:41] #33658 closed, assigned to nobody

[2021-08-04 04:54] kevin940726 commented on #19847
@youknowriad Why can't we? Is there a technical reason behind this, preferably documented somewhere in an issue?

[2021-08-04 04:59] talldan commented on #33854
@katarzynapawelczak I tried testing this and couldn't reproduce the issue. Looking at the code, the `TextControl` component doesn't do anything special with the `min` prop, it just passes it straight to the dom element.

When you say you get a default value, what value is that? What does the declaration for your borderRadius attribute look like?

[2021-08-04 06:09] talldan commented on #33853
Well spotted. Looks like it was something that was never added. This is the PR that added the original styles - https://github.com/WordPress/gutenberg/pull/8856

Here's a screenshot of an info notice. It looks ok, the blue border on the left is from the admin theme color. Maybe info notices should always be a blue instead of being admin theme dependent:
<img width="623" alt="Screenshot 2021-08-04

[2021-08-04 06:53] talldan commented on #33719
True, maybe we need a specific 'Post Editor' label to be able to differentiate changes that only apply to the post editor.

Cool, I'll look into this.

I think subgroupings within documentation are good. I only just realised my initial comment probably wasn't very clear. Some documentation items were outside the main documentation category (tools > documentation), instead I think we should keep th

[2021-08-04 07:25] kevin940726 commented on #33649
The "Type / to choose a block" block is made from a Paragraph block, disabling the Paragraph block is probably the reason why it's not showing.

Maybe we could show the "button block inserter" instead in these cases, similar to how the Widgets editor is showing.

[2021-08-04 07:27] #29526 closed

[2021-08-04 07:33] youknowriad commented on #19847
There was a technical reason behind it related to focus disappearing or something like that (and there's no place to click to actually focus the empty element), I think it might have changed lately though. @ellatrix did some work there.

[2021-08-04 07:38] hypest commented on #33857
👋 @dcalhoun, can you also try to check when has this perhaps begun to happen? That will help assess it's importance, thanks!

[2021-08-04 07:39] kevin940726 commented on #33264
If we just remove the background color in the preview, but leave the text color intact, wouldn't that potentially cause accessibility issues with hard-to-read texts? For instance, the background color is black and the text color is white in the preview. That will result in the editor having invisible texts. Not sure if it has been brought up before?

[2021-08-04 08:01] paaljoachim commented on #25676
Here is an interesting issue (which covers hiding embed variations):
Show 'inserter block' variations in the block manager and allow them to be toggled
https://github.com/WordPress/gutenberg/issues/27708

[2021-08-04 08:13] draganescu commented on #18866
Closed by #33777

[2021-08-04 08:17] getdave commented on #18866
@draganescu Worth noting that we may need to create a follow up to address another part of this Issue which is that folks want to be able to create link items which have no hyperlink. I believe this is what @tellthemachines is addressing in https://github.com/WordPress/gutenberg/pull/33775

[2021-08-04 08:19] SaxonF commented on #32682
Thinking about this a little more you could also keep styles (colors, typography, any other type of token) in the global styles sidebar and make it accessible while editing blocks in your library. Its basically just moving blocks out of the sidebar and treating them the same way as templates/template parts/patterns/re-usable blocks etc. The global styles sidebar really then is just a representatio

[2021-08-04 08:27] jasmussen commented on #18866
#33091 would also be related to link items with no link, insofar as that ticket can only be addressed if we were to allow that.

[2021-08-04 08:45] talldan opened #33867 "Confusing navigation block inserter menu / block library"
## What problem does this address?
The navigation block has a problem where it has a lot of inner block types and variations that aren't very well organised:
<img width="351" alt="Screenshot 2021-08-04 at 4 32 20 pm" src="https://user-images.githubusercontent.com/677833/128149395-b5d205fc-ccd0-48b9-9c93-87b5ca8c5b36.png">

Most of the time the user will want to insert either a link or maybe create

[2021-08-04 08:53] getdave commented on #33867
Going to copy/paste my thoughts we discussed in WP Slack https://wordpress.slack.com/archives/C01KDAZJMQ9/p1628066836003800.

Possibly slightly off topic and may require another issue - let me know what you think?

Quick thought: why can’t we just make the link UI more intelligent and avoid asking users to have to select so many things?

I mean…why do I need to know the difference between Post and

[2021-08-04 09:01] talldan commented on #33867
This is true.

There was a related discussion here about the number of blocks in the inserter - https://github.com/WordPress/gutenberg/pull/31584#pullrequestreview-678632496.

Definitely fine to pivot on this idea to something else. I'm also supportive of removing the variations from the inserter.

[2021-08-04 09:04] getdave commented on #33867
Just realise - the reason we have variations is because we need to know the type to persist when saving in order that it will be backwards compatible with the existing Menus system.

Perhaps we can change this so that when the link is created we discern the `type` (or `kind`) from the created link rather than relying on knowing it's variation type in advance.

[2021-08-04 09:10] mwidmann commented on #15994
A small update. With WordPress 5.8 there's a way to filter the list by typing a partial name of the author. This should partially solve the initial issue with the list not being complete.

The filter I posted [here](https://github.com/WordPress/gutenberg/issues/15994#issuecomment-509595067) introduced a new set of issues as unsetting `$prepared_args['number']` led to a division by zero warning in

[2021-08-04 09:14] #33778 closed, assigned to RhnSharma

[2021-08-04 09:16] priethor commented on #31456
Isn't that what the `Site` grouping is for? As far as I understand, editing the Site title block would appear under `Site`, no matter if the Site Title block is inside the post content or the template. In any case, that can still be very confusing for users, we need to better indicate that changes in blocks like Site Title are global and affect the whole site (related to #33223).

Related to this

[2021-08-04 10:23] caseymilne commented on #15641
Found this issue ticket still open in August 2021 after searching for "how to control order of the InspectorControls". Difficult to find any documentation on this topic, I did find some example in a resolved issue but it was involving a HOC (Higher Order Component) usage that differs from the standard usage. In my own experience when I use the "supports" options which create controls in the the in

[2021-08-04 10:42] ellatrix commented on #19847
Using it with inline elements should be fine now

[2021-08-04 11:43] deborah86 opened #33869 "Access Template Editor Outside of Post/Page and On the Sidebar"
## What problem does this address?

The problem is that in order to access the template editor, a user has to open up a brand new post or an existing post. Access to the template editor can be difficult to find.
## What is your proposed solution?

The settings for the template editor should also be available in the WordPress sidebar as a new tab under pages. Showing the options "All Templates" and

[2021-08-04 11:45] bph commented on #27738
Sorry, I am traveling and didn't get to retest this yet. @mkaz it's on my to-do list, though

[2021-08-04 12:29] jasmussen commented on #33869
You should already be able to access the template editor from the admin sidebar, under "Appearance":

<img width="1045" alt="Screenshot 2021-08-04 at 14 28 08" src="https://user-images.githubusercontent.com/1204802/128180721-a6b90100-9c6b-4cc3-a314-75eed4321b59.png">

Can you let me know if that's what you're looking for, or where you referring to something else?

[2021-08-04 12:37] dcalhoun commented on #33857
@hypest WPAndroid 17.7 (GB Mobile 1.56.0) is the oldest version I am able to reproduce this issue. I have updated the issue description with this information.

[2021-08-04 12:46] carolinan commented on #33474
It is already possible to edit the text of the links, but perhaps this can be clearer in the editor.

[2021-08-04 12:52] carolinan opened #33871 "Query pagination: Styles from theme.json are being overwritten by default block styles"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you tried deactivating all plugins except Gutenberg?

- [X] I have tested with all plugins deactivated.

### Have you tried replicating the bug using a default theme e.g. Twenty Twenty?

- [X] I have tested with a default theme.

### Description

I can't change the margin of the query pagination links usi

[2021-08-04 12:56] jasmussen commented on #21870
Through various refactors, I would consider this one mostly addressed. I think there are opportunities to refine this further in implementation, but as a standalone ticket this seems to have mostly been adressed!

[2021-08-04 12:56] #21870 closed

[2021-08-04 12:58] jasmussen commented on #24898
Since this ticket was created, a separate drag handle was added, and numerous refactors of the toolbar were made across mobile and desktop. As such, the initial goal of this ticket has been addressed. If there's a desire to revisit the movers, this is best revisited in a fresh ticket that looks at the block toolbar as it is today.

[2021-08-04 12:58] #24898 closed

[2021-08-04 13:14] jasmussen commented on #33867
Transforming from one type of menu item into another in-situ, such as transforming from a custom link block to a page link when linking to a page, would be a nice and mostly invisible tweak that could benefit things even without unifying multiple menu item type blocks. But even beyond that, we'll still probably need to scale the quick inserter better, as is suggested here. Social Links has a simil

[2021-08-04 13:26] jasmussen commented on #29211
Confirmed! I'm not seeing any hover lines:

<img width="556" alt="Screenshot 2021-08-04 at 15 26 35" src="https://user-images.githubusercontent.com/1204802/128188979-88b845f0-5e67-4184-83db-b5f1cabfcb5f.png">

Thank you!

[2021-08-04 13:26] #29211 closed

[2021-08-04 13:30] jasmussen commented on #28963
I'm not seeing the need for custom-units opt in through functions.php in my own theme anymore. But in any case, it also seems like #33470 is a better and more specific ticket for discussing this, so closing this one in favor of it! Thank you.

[2021-08-04 13:30] #28963 closed

[2021-08-04 13:33] jasmussen commented on #21912
This issue appears to have been fixed!

![hey](https://user-images.githubusercontent.com/1204802/128189935-d6c9f863-19d5-40e6-84c4-111a2c0dffed.gif)

[2021-08-04 13:33] #21912 closed

[2021-08-04 13:33] Sandstromer opened #33873 "Site Editor is empty in firefox"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you tried deactivating all plugins except Gutenberg?

- [X] I have tested with all plugins deactivated.

### Have you tried replicating the bug using a default theme e.g. Twenty Twenty?

- [X] I have tested with a default theme.

### Description

With the latest release 11.2.0 the Site Editor returns an e

[2021-08-04 13:34] jasmussen commented on #21479
Hooray! Fixed!

![icons](https://user-images.githubusercontent.com/1204802/128190122-11994f7f-a04e-4cf0-9158-daaddc26d868.gif)

I spotted in that GIF a discrepancy in the drag handle positioning but I'll fix that separately.

[2021-08-04 13:34] #21479 closed

[2021-08-04 13:37] jasmussen commented on #15206
Since this issue was created, the particular quirks mode issue hasn't set the world on fire. And given the fact that we have a console warning, I'm going to close this one as "not needed after all":

<img width="762" alt="Screenshot 2021-08-04 at 15 36 17" src="https://user-images.githubusercontent.com/1204802/128190558-f230c2f6-b1cb-406e-8ae5-bdc5ec4e87ab.png">

[2021-08-04 13:37] #15206 closed

[2021-08-04 13:39] youknowriad commented on #33873
I confirm I have the same issue with Firefox on MacOS

[2021-08-04 13:41] youknowriad commented on #33869
@jasmussen I think what she's referring to is that the screen you're showing is not yet available in Core. It's not clear yet if this will land as is or we'll only keep the site editor but on the next couple major WP releases, we'll have some form of templates management outside the post editor for sure.

[2021-08-04 13:41] jasmussen commented on #33871
For anyone looking at potentially picking this up, one thing I've been leveraging to fix similar issues in the navigation block (too high specificity of block styles, higher than those output by global styles), is to use `:where` to lower the specificity of the block styles. This codepen outlines the principle: https://codepen.io/joen/pen/abJVrGX

[2021-08-04 13:42] jasmussen commented on #33869
My apologies! I keep running the plugin so I don't see the parts that are missing. So the good news is, even if that screen isn't here yet, it will be 👍 👍

[2021-08-04 13:52] vortacan commented on #33610
Can confirm the issue on the Group Block and a Custom Block of mine (with InnerBlocks and ButtonBlockAppender). Selecting and moving (dragging) multiple blocks in the editor to another location (changing the order without dropping them on a nested block) works though. Makes no difference if the Group block is empty or already contains child blocks.

[2021-08-04 13:53] jasmussen commented on #33865
Thanks for the report. I can't immediately reproduce this issue running Photo Journal and Insert Headers and Footers plugins:

<img width="1474" alt="Screenshot 2021-08-04 at 15 47 21" src="https://user-images.githubusercontent.com/1204802/128192301-fe1068ea-71f1-4872-96d9-6c27a3ef3b7e.png">

<img width="1164" alt="Screenshot 2021-08-04 at 15 47 40" src="https://user-images.githubusercontent.com/1

[2021-08-04 13:54] getdave opened #33874 "Provide Block Pattern for Widget + Title to streamline creation of previous Widget screen markup"
## What problem does this address?

As discussed at length in https://github.com/WordPress/gutenberg/issues/32723 the previous (non-block based) Widgets screen provided a discrete HTML structure for a "Widget".

This was:

* Wrapping container element (Widget wrapper)
* Heading element (Widget title)
* Widget (the actual body of the Widget itself).

The new block based editor doesn't do this. Inst

[2021-08-04 13:56] youknowriad commented on #33275
Another related failure #33875 in case anyone has an idea here.

[2021-08-04 13:57] getdave commented on #33709
Here's an alternative approach - using Block Patterns https://github.com/WordPress/gutenberg/issues/33874

[2021-08-04 14:06] paulwilde opened #33876 "Wide/Full alignment options no longer appear on blocks with Gutenberg 11.2 whilst using theme.json"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you tried deactivating all plugins except Gutenberg?

- [X] I have tested with all plugins deactivated.

### Have you tried replicating the bug using a default theme e.g. Twenty Twenty?

- [X] I have tested with a default theme.

### Description

I have a custom-built theme that is using `theme.json` to s

[2021-08-04 14:24] ashleyleia opened #33877 "Bring back visibility setting functionality in widget areas"
## What problem does this address?

## What is your proposed solution?

[2021-08-04 14:55] priethor commented on #33877
Hi @ashleyleia !

Could you provide some more information on this?

Thanks!

[2021-08-04 15:02] priethor commented on #33855
Hi @benoitchantre !

Could you provide an example of a block composition that would benefit from this enhancement?

Thanks!

[2021-08-04 15:10] kenzap opened #33879 "ServerSideRenderer sends all registered attributes in 5.8"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you tried deactivating all plugins except Gutenberg?

- [X] I have tested with all plugins deactivated.

### Have you tried replicating the bug using a default theme e.g. Twenty Twenty?

- [X] I have tested with a default theme.

### Description

After latest WordPress 5.8 update all of the blocks that re

[2021-08-04 15:13] ntsekouras commented on #28014
Closing this as QueryPagination has been changed here: https://github.com/WordPress/gutenberg/pull/28125

[2021-08-04 15:13] #28014 closed

[2021-08-04 15:15] ashleyleia commented on #33877
As an example, I already had an old custom html widget in my sidebar. Now, with the Gutenberg editor handling the widget area, this is what it looks like, and how I can change the visibility so it's hidden on a particular page and its child pages:

<img width="289" alt="Screen Shot 2021-08-04 at 8 06 08 AM" src="https://user-images.githubusercontent.com/77593027/128205767-a13f6856-1167-4d0e-a619-9

[2021-08-04 15:22] priethor commented on #33877
Thanks for the detailed update!

[2021-08-04 15:31] johngodley commented on #27757
It's maybe a bit late now, but I've started a PR to expand the block attributes documentation:

https://github.com/WordPress/gutenberg/pull/33880

With regard to your question you could provide more structure to the object definition by using a `query` source (there is an example in the block attributes query section).

It's not possible to add type information if the object is saved to the defaul

[2021-08-04 16:09] MadtownLems commented on #33853
My suggestion is to get the code sync'd up with the documents. I think there's a lot of merit to an Informational notice (we're obviously trying to use one), and the white background notice is incredibly easy to gloss over without realizing it's there at all.

[2021-08-04 16:12] brylie opened #33883 "Allow specifying "root" page in Page List block"
## What problem does this address?

Related to #31063

It would be useful to be able to specify the "root" page in a page list so that only children of that page would render in the list. For example, when allowing users to navigate within a section of a website where the sibling pages are all relevant.

Similarly, it would be useful to control the depth rendered in the list.

## What is your prop

[2021-08-04 16:42] MadtownLems opened #33884 "Removing Block Types per the method in the developer guide doesn't work on Widgets Screen"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you tried deactivating all plugins except Gutenberg?

- [X] I have tested with all plugins deactivated.

### Have you tried replicating the bug using a default theme e.g. Twenty Twenty?

- [X] I have tested with a default theme.

### Description

There's a method described in the Block Editor reference gu

[2021-08-04 17:34] paaljoachim opened #33886 "Using a shortcode block inside a Group block - Using alignment to make the shortcode block wider."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you tried deactivating all plugins except Gutenberg?

- [X] I have tested with all plugins deactivated.

### Have you tried replicating the bug using a default theme e.g. Twenty Twenty?

- [X] I have tested with a default theme.

### Description

Using this plugin: https://wordpress.org/plugins/my-calenda

[2021-08-04 17:47] marktimemedia opened #33887 "Query Block - Output Post Class within the editor for accurate styling"
## What problem does this address?
Loops that are build with the Query Block currently output the `post_class` on each `li` element in the frontend, which is great! This allows me as a theme developer to style the query block differently depending on which post type is being queried, or inherit styles I'm using for traditional archives.

<img width="465" alt="Screen Shot 2021-08-04 at 12 40 28 PM"

[2021-08-04 18:14] mhull commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-08-04 19:23] kellychoffman commented on #31456
In theory, perhaps. In practice, its not obvious and I think we could look at generally updating the IA here.

[2021-08-04 21:50] azaozz commented on #33709
Yes, best to avoid that if at all possible. Another reason "against" using block titles is that today's widgets areas/sidebars are tomorrow's template parts. Converting/importing of the block based widgets would be better if they are "pure" blocks.

I too think that perhaps best to explore this for https://github.com/WordPress/gutenberg/issues/33583. If titles have to be added for each block, can'

[2021-08-04 22:05] chthonic-ds commented on #33876
I've just experienced this after updating Gutenberg. Can confirm alignment options for full/wide were available in Gutenberg 11.1 and now missing in 11.2.

With 11.1:

![11-1-alignment-options-available](https://user-images.githubusercontent.com/29587253/128263507-3cb22783-efd8-4072-bb1f-9a71ec09af14.jpg)

With 11.2:

![11-2-alignment-options-available](https://user-images.githubusercontent.com/29

[2021-08-04 22:25] jhnstn opened #33888 "[RNMobile] Block settings in landscape mode are cut off on iOS"
## Description
On iOS the block setting bottom sheet is cut off when the screen is in landscape mode.

## Step-by-step reproduction instructions

1. Open the mobile editor on an iPhone
2. Create a post
3. Add a block that has settings options.
4. Open the settings while in portrait mode
5. Rotate to landscape
6. Note the height of the options bottom sheet

## Expected behaviour

The options bottom

[2021-08-04 23:36] leeshadle commented on #33876
Thank you for creating this issue @paulwilde, I'm running into the same issue:

<img width="1235" alt="Screen Shot 2021-08-04 at 4 35 25 PM" src="https://user-images.githubusercontent.com/557884/128268854-f70e620e-d70a-4948-9e8a-00e31e1d62fa.png">

[2021-08-04 23:56] jhnstn commented on #33888
I just re-installed the build from this [PR](https://github.com/wordpress-mobile/WordPress-iOS/pull/16968#issuecomment-891404688) and I can no longer reproduce.
@AmandaRiu  also verified that this is not reproducible.

[2021-08-04 23:56] #33888 closed, assigned to nobody

[2021-08-05 00:24] tellthemachines commented on #33810
I'm curious about what aligning practices might look like, and how we can make it easier to monitor commits in Gutenberg, given the volume of work in this repo is much higher than in Core.

An alternative would be to update Core more regularly with new features, as they become close to stable in Gutenberg. This will allow folks running trunk to try new stuff out and give us early feedback, and pot

[2021-08-05 01:32] jerrysarcastic commented on #22718
Adding here that [this came up recently with a WordPress.com site owner](https://wordpress.com/forums/topic/first-block-and-continue-reading-duplicated-on-blog-page/) and I was able to replicate the issue as well.  The use case here is more familiar in that the site owner added the more block within a column (in the process of using blocks to create a novel post layout) and on the post page the ex

[2021-08-05 01:39] talldan commented on #33877
Hi @ashleyleia, thanks for reaching out. The visibility feature is part of the jetpack plugin. I believe there are plans to reimplement this and there's an issue here tracking adding it to the new screens - https://github.com/Automattic/jetpack/issues/20057.

[2021-08-05 01:39] #33877 closed, assigned to nobody

[2021-08-05 02:06] talldan commented on #33883
I think there are existing issues for this - #31063 and #29585, so I'll close this one as a duplicate.

Thanks for reaching out though.

edit: Oh, I see this is slightly different. Still, I think it'd be worth rolling this into #31063 as it's so similar. I'll add a comment there.

[2021-08-05 02:06] #33883 closed, assigned to nobody

[2021-08-05 02:10] talldan commented on #31063
I've closed #33883 as a duplicate. That suggests being able to specify the parent page for filtering the results as well as the option to use the current page. The two requests are so similar that I think it would make sense to combine them in this issue.

[2021-08-05 02:24] kevin940726 commented on #33884
It's working for me though. Note that you'll have to change `wp-edit-post` to `wp-edit-widgets` in the dependency array to specifically wait for the Widgets screen registered the block.

[code]

Also worth noting that `wp.blocks.getBlockTypes()` returns the full list of block types for me in the Widgets screen too. There might be something else going on in your environment?

[2021-08-05 04:09] talldan commented on #33867
Yep, I think this is going to always be a valid part of the issue, because the first time a user interacts with the nav block the blocks that are usable outside of navigation (social icons, spacer) are likely to be first in the list.

The nav block really needs link to always be first, and if the dropdown block is merged, that should probably be second.

[2021-08-05 05:43] jasmussen commented on #33867
Agreed. Outside of making the frecency system smart enough to do this (or removing it entirely), it seems like it'd be useful with some sort of pinning system, especially if https://github.com/WordPress/gutenberg/pull/33775 comes to pass in a way that potentially expands the list of items drastically.

[2021-08-05 05:45] mehov commented on #33558
Just noticed that the editor also replaces `>` (used by markdown for quotes) with the encoded `&gt;`

[2021-08-05 05:57] gziolo commented on #33810
The main reason we don't update more often is that it's very difficult to identify which PHP changes were added since the last WP core backporting round.

Good point. It should be enough to have `lib/experimental` 😄

We have the following check present in the codebase that bails out early when executed under no longer supported version of WordPress. It should be fully functional after some fixes a

[2021-08-05 06:34] gziolo commented on #27998
Both PRs landed a while ago. Let's close this issue.

[2021-08-05 06:34] #27998 closed

[2021-08-05 06:41] jasmussen commented on #33609
Cool, thanks. In that case we can close this one in favor of #32890 (phone icon), and #30378 (Whatsapp icon.)

[2021-08-05 06:41] #33609 closed, assigned to nobody

[2021-08-05 06:42] kanlukasz opened #33891 "Block Editor: Provide a way to customize panels in Inspector Controls"
- Part of #41236.
- Related to https://github.com/WordPress/gutenberg/issues/47641.

---

## What problem does this address?
_(I am not sure if this is due to incomplete documentation or it is simply impossible to do. Therefore, I assume it as ticket here)_

I don't know how to remove unwanted panels inside InspectorControls from core blocks.
Unfortunately, there is no such example in the document

[2021-08-05 06:42] #33668 closed, assigned to jasmussen

[2021-08-05 06:56] ellenbauer commented on #33876
I'm running into the same issue. Going back to the blog post from last week on layout and content width for WordPress 5.8 I understood that:

https://make.wordpress.org/core/2021/06/29/on-layout-and-content-width-in-wordpress-5-8/

1. If the parent container is set to "layout": "inherit":true" a container block (e.g. the Group block) would be set to the contentSize we set up in theme.json.
2. If t

[2021-08-05 07:01] crs1138 commented on #33876
This has been explained by @youknowriad  at https://github.com/WordPress/gutenberg/issues/33374#issuecomment-889764135
First of all you have to have the `contentSize` and `wideSize` values defined in your _theme.json_, eg.
[code]
Then you can do the following:
1. add an layout element, eg. `core/group`
2. set its layout values for content width and wide width (or switch its toggle to use the defau

[2021-08-05 07:40] getdave commented on #8288
Well there is a PR but it stalled due to technical limitations of the platform. May now be possible due to new Layout mode in Gutenberg. Will check.

[2021-08-05 07:40] gziolo commented on #32398
@gwwar is about to remove `react-spring` from the list of dependencies in  #33717 and https://github.com/WordPress/gutenberg/pull/33827 so this should resolve this issue.

[2021-08-05 07:42] youknowriad commented on #33876
If you define theme.json layout, top level items should get the alignments options though. (I mean without a group)

[2021-08-05 07:45] Mamaduka commented on #26080
@youknowriad, can we close this after #33749 and #33868?

[2021-08-05 07:46] crs1138 commented on #33876
@youknowriad I'm afraid that's not what I observed.

Another inconvenience is that you have to set alignment options for all individual inner blocks which can be quite a daunting task.

[2021-08-05 07:48] youknowriad commented on #26080
Yes I think we can. there are still improvements to make but it's now responsive.

[2021-08-05 07:48] #26080 closed

[2021-08-05 07:49] paaljoachim commented on #8288
Thanks Dave!

[2021-08-05 07:52] Mamaduka commented on #16268
It should be fixed via #33418.

[2021-08-05 07:52] #16268 closed

[2021-08-05 08:26] youknowriad commented on #33876
I'm looking into the regression.

For this, unfortunately, there's no solution that meets all the layout requirements (explantation you shared on the other issue)

[2021-08-05 08:57] crs1138 commented on #33876
I can confirm that in 11.1.0 it works as @youknowriad says – the top level blocks have possibility of the alignment. It doesn't work only in 11.2.0

EDIT: I was wrong. In 11.1.0 it does not seem to work either on the top level when using _theme.json_

[2021-08-05 09:03] bernhardklug commented on #33663
I would just like to add my favorite blocks to this list, how many I want. not the last ones

[2021-08-05 09:17] #33876 closed, assigned to youknowriad

[2021-08-05 09:32] getdave commented on #33558
Related https://github.com/WordPress/gutenberg/issues/23509

[2021-08-05 10:33] jasmussen opened #33897 "Add icon for reusable blocks and update template part icon"
## What problem does this address?

At the moment, reusable blocks don't have a dedicated icon. When only a single block is reused, that block's icon will be leveraged. When multiple blocks are reused, a default block icon is used. Separately, #30338 details how template part icons can be confusing, in part due to their detail when seen in the list view mixed with other.

## What is your proposed

[2021-08-05 10:56] draganescu commented on #33815
I tested this and indeed the modal does not set the location, only the UI is updated.

[2021-08-05 12:30] priethor commented on #31456
Good call, @kellychoffman . Anything that can clarify what changes will affect other instances/places is extra helpful here!

[2021-08-05 12:44] jasmussen commented on #33865
For now I'm going to close this one as a fulfilled help request, but feel free to come back in case that was in error.

[2021-08-05 12:44] #33865 closed, assigned to nobody

[2021-08-05 12:48] Mamaduka opened #33899 "Add error boundary to the Site Editor"
## What problem does this address?
Currently, the Site Editor doesn't have an error boundary and sometimes displays a white screen when there's a javascript error.

## What is your proposed solution?
Use `ErrorBoundary` from the `@wordpress/editor` package to help users debug those issues.

[2021-08-05 12:49] swissspidy opened #33900 "Unused `receiveUploadPermissions` action"
I just realized that this code is not used anywhere and could be removed safely:

https://github.com/WordPress/gutenberg/blob/5e8e8b4ab102e54d9cf5b981d0aa38bb003aaba4/packages/core-data/src/actions.js#L727-L740

Everything goes through `receiveUserPermission` these days.

[2021-08-05 12:55] MadtownLems commented on #33884
Hey thanks a lot, changing the dependency to wp-edit-widgets has made it work for me also now! 🙏

Unsure if the documentation I referenced should be updated or not. Unsure if it's intended for just the Post Editor or also for block-based Widgets.

Thanks again!

[2021-08-05 12:55] #33884 closed, assigned to nobody

[2021-08-05 13:09] jasmussen commented on #33822
Let me see if I can help debug this. Just looking at TT1 Blocks, it registers a slew of colors in theme.json like so:

[code]

With just those I can use the color swatches from the editor to colorize a paragraph, those are tied to CSS classes and output even without loading any styles or editor styles (e.g. `has-blue-color has-dark-gray-background-color`):

<img width="456" alt="Screenshot 2021-08

[2021-08-05 13:12] markhowellsmead commented on #33822
Using the browser inspector, I can see the same result as in your screenshots. The properties are output in the frontend. However, again using the inspector, I can see that the properties are not output in the editor.

The issue is not with the CSS (e.g. for the links), as they work fine if I use a fixed hexadecimal value, but in the fact that the properties aren't defined in the editor.

[2021-08-05 13:13] jasmussen commented on #33822
That's curious. Are you able to provide me with a copy of your theme.json file? You can trim out any private bits if need be, I'll try it on my end. Thank you.

[2021-08-05 13:16] markhowellsmead commented on #33822
[code]

[2021-08-05 13:16] jasmussen commented on #33741
Thanks for the ticket, thanks for the response. I'm closing this one as it appears to be working as intended.

An alternative would be to rephrase this "are you sure" text that's shown when deleting an item to be more verbose:

<img width="436" alt="Screenshot 2021-08-05 at 15 15 28" src="https://user-images.githubusercontent.com/1204802/128356170-80830932-6fb6-4877-a40c-27f71e5b181d.png">

I'm no

[2021-08-05 13:16] #33741 closed, assigned to nobody

[2021-08-05 13:25] jasmussen commented on #33822
I see them on my end.

<img width="1811" alt="Screenshot 2021-08-05 at 15 19 53" src="https://user-images.githubusercontent.com/1204802/128356756-844a7eeb-d270-4291-a7cb-899894e46029.png">

When I disable the Gutenberg plugin, I can reproduce, and I do not see the custom properties output:

<img width="1811" alt="Screenshot 2021-08-05 at 15 23 57" src="https://user-images.githubusercontent.com/120

[2021-08-05 13:51] johngodley commented on #33852
Confirmed. The component seems to be expecting a `record`, which I think is a text selection start/end, and as such is closely coupled with the RichText component.

I don't know if the intention is that it should be used in conjunction with `useRichText`, and as such the documentation needs updating, or that is can be used on its own and the component needs updating.

[2021-08-05 13:53] johngodley commented on #33852
Noting that the error is in this code:

[code]

Where `record` is undefined. The `record` value comes from the unstable component `useRichText`.

[2021-08-05 14:35] kevin940726 commented on #33884
It's actually mentioned in the doc:

If you think there's room for improvement, feel free to suggest changes and submit a PR! :)

Happy to help!

[2021-08-05 14:41] bph commented on #33792
Current wording: "You're using an experimental Full Site Editing theme. Full Site Editing is an experimental feature and potential API changes are to be expected!"

@ellenbauer Do you have any suggestion on how to adopt the wording to be less “scary”, but acknowledge that “there might be dragons"? 🐲🐉

I agree: the message should be dismiss-able.

[2021-08-05 15:06] mreishus commented on #33830
Updated steps to include adding short plugin to a fresh wp.org install instead of editing core files.

[2021-08-05 15:10] oandregal commented on #33822
Nah, the palette should work without the Gutenberg plugin.

I've just tested with WordPress 5.8 with the Gutenberg plugin deactivated. I've used the empty theme and substituted its `theme.json` by [the one shared above](https://github.com/WordPress/gutenberg/issues/33822#issuecomment-893451384). It's working fine for me:

![Captura de ecrã de 2021-08-05 17-03-21](https://user-images.githubusercont

[2021-08-05 15:11] markhowellsmead commented on #33822
Thanks for the testing. The file is theme.json and is in the root folder of the Theme. WordPress is at 5.8.

[2021-08-05 15:14] jlavoie13 commented on #30559
While I like the addition of this new feature I've had to abandon the use of it for this reason. Because of the inline styles there's no easy way to override it.

[2021-08-05 15:15] jasmussen commented on #33822
In my case, my file _was_ named `experimental-theme.json`, and renaming it to `theme.json` fixed it for me. So now I can't reproduce. I'm curious what might be the issue — just for debugging purposes, does it work if you install and activate the Gutenberg plugin?

[2021-08-05 15:17] johngodley commented on #31615
This was since added in https://github.com/WordPress/gutenberg/pull/32936

[2021-08-05 15:17] #31615 closed, assigned to nobody

[2021-08-05 15:18] markhowellsmead commented on #33822
Crap. Found it. 🤦 We based our development on our own starter Theme. Because WordPress used to output custom properties in the header which weren't used anywhere in the code, we deactivated the "styles" part of the block settings, via the `block_editor_settings_all` hook. Removing that old code allows the styles block (and hence the new custom properties) to be added to the editor as expected.

[2021-08-05 15:18] #33822 closed, assigned to nobody

[2021-08-05 15:20] jasmussen commented on #33822
Awesome, thanks for sharing the cause. Someone else will likely run into a similar issue and find this searching.

[2021-08-05 15:27] fklein-lu commented on #33385
@annezazu  This is a wider issue with how Gutenberg handles alignment styles, and it's not only present in hybrid (PHP themes with `theme.json`), but also block-based themes.

Traditionally, themes have had a container (`div` or similar) wrapping the post content. Therefore floated elements did not break out of this container. This is still the case with hybrid themes, as WordPress does not output

[2021-08-05 15:33] MaggieCabrera opened #33905 "Duotone: Dynamic filters based on theme.json variables"
## What problem does this address?

The use case for this feature would be a theme that wants to apply a duotone filter based on the colors of the theme. In this example we can think about the background/text color combo such as here:

![Columns in container](https://user-images.githubusercontent.com/3593343/128378007-1573c829-dff9-4e25-94ec-1c830a4db756.jpg)

It would be great if we could define

[2021-08-05 16:01] getdave commented on #30007
## Suggested next steps with controlling the Nav Block and Nav Editor

I've been thinking a little bit about how we can best achieve the following objectives:

1. Allow the Navigation block to be easily configurable by Theme authors in order to allow for "simple" and "complex" Navigations depending on what the Theme is designed/intended to support.
2. Allow the Nav Editor screen to continue to uti

[2021-08-05 16:27] psrpinto commented on #25717
I'm using `wp-env` `4.1` and was still experiencing this issue. Finally, in my case, the root cause was the host machine running out of memory. This caused the mysql container to be killed, which caused a corrupt database, which in turn caused the `ERROR 1130 (HY000): Host '172.22.0.5' is not allowed to connect to this MariaDB server` error.

If you're seeing something like the following when runn

[2021-08-05 17:11] dcalhoun opened #33907 "Interacting with the block inserter multiple times removes "new" badges from block types"
## What problem does this address?
https://github.com/WordPress/gutenberg/pull/33119 introduces "new" block type badges which are removed from a given block type once that block type is inserted. However, the "new" badge will currently always remain if the block type is never inserted.

## What is your proposed solution?
To avoid a "new" badge remaining longer than it should, interacting with the

[2021-08-05 17:12] dcalhoun commented on #33528
Superseded by https://github.com/WordPress/gutenberg/issues/33907.

[2021-08-05 17:12] #33528 closed, assigned to dcalhoun

[2021-08-05 17:39] mtias commented on #33532
I think this needs to be scoped down a little bit.

- Not clear what the value of a dashboard would be compared to its overhead: where would it run? What would we code it with? How would we maintain and update it? Who would monitor it?
- Screencasts: also not sure what value they provide over the setup cost. It doesn't seem like something crucial at this point or worth investing too much time into

[2021-08-05 18:38] Addison-Stavlo opened #33908 "Navigation Link - undo trap when added to inner block controllers via patterns."
### Description

Inserting a block pattern that contains navigation-link components inside an inner block controller (such as a template part or reusable block) creates an undo trap.  After the pattern with the navigation link is added, it is no longer possible to undo any previous actions.

Example of the navigation section of a problematic pattern:
[code]

related - https://github.com/WordPress/

[2021-08-05 18:48] nikitabhagat opened #33910 "Gutenberg Plugin Issue"
I have developed my site in Gutenberg editor plugin but when I made the site up on live hosting it is showing me fatal error
Fatal error: Cannot declare class WP_Block_Template, because the name is already in use in /home/customer/www/antares.solutions/public_html/wp-content/plugins/gutenberg/lib/full-site-editing/class-wp-block-template.php on line 12

Could you please help me with this?
I need t

[2021-08-05 18:51] bph commented on #27738
The new user flow of adding a custom link seem to work well. It prevents the idea to add the link text before the URL. I could edit the link text after I added the Custom link to a navigation menu.

Closing this issue as fixed.

[2021-08-05 18:51] #27738 closed

[2021-08-05 18:54] bph commented on #24799
Does the theme.json or a filter allow for a default setting of Heading levels?

[2021-08-05 19:02] Addison-Stavlo opened #33911 "Navigation block - undo trap when initializing 'add all pages' with existing `textColor` attribute."
### Description

When a navigation block has an existing `textColor` attribute, the process to initialize via the "Add all pages" option creates an undo trap, preventing the user from being able to undo the action or any previous actions.

 related - #8119

### Step-by-step reproduction instructions

1. Map tt1-blocks locally and update `block-template-parts/header.html` so that the navigation blo

[2021-08-05 19:08] justintadlock commented on #33874
Related: https://github.com/WordPress/gutenberg/issues/26170

[2021-08-05 19:35] mreishus commented on #33830
I believe this requires coordination between Gutenberg and WordPress.org. I have opened PRs on both that fix the problem in conjunction.

* Trac issue: https://core.trac.wordpress.org/ticket/53883
* wordpress-develop PR: https://github.com/WordPress/wordpress-develop/pull/1548
* Gutenberg issue: https://github.com/WordPress/gutenberg/issues/33830
* Gutenberg pr: https://github.com/WordPress/gutenb

[2021-08-05 20:41] kevinwhoffman commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-08-05 21:41] stokesman commented on #33864
Perhaps you could get it done with the [`render_block`](https://developer.wordpress.org/reference/hooks/render_block/) filter. I think a better place for questions like this would be the [Developing with WordPress Forum](https://wordpress.org/support/forum/wp-advanced/) or maybe https://wordpress.stackexchange.com/.

[2021-08-05 22:31] caseymilne opened #33916 "Remove block menu item is unreachable due to positioning off screen and failure to provide scrolling"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you tried deactivating all plugins except Gutenberg?

- [X] I have tested with all plugins deactivated.

### Have you tried replicating the bug using a default theme e.g. Twenty Twenty?

- [X] I have tested with a default theme.

### Description

Using Firefox, latest 5.8 WP release Gutenberg's block cont

[2021-08-05 22:39] caseymilne commented on #25133
Glad to see this being discussed. I'm often disappointed with what we might call lack of context awareness when using Gutenberg. I think this becomes a larger issue when editing inner blocks. We often find multiple appenders (the buttons used to add more blocks) appearing almost side by side because one is at the bottom of a nesting block while the other is directly below it... this is a separate

[2021-08-05 22:45] caseymilne commented on #33891
Interesting idea. This would presumably have to be handled by a JS filter because the Inspector Controls are build from React components (without any PHP involvement). So we can't use PHP filters, but we could potentially use a JS filter on the list of Inspector Controls. From what little I know of the core build process however at this moment no such filtering exists and the build process would b

[2021-08-05 23:53] azaozz commented on #33810
Right, that prevents running on old WP versions. Just need to add the same for future WP versions. For example: old WP + old Gutenberg, then WP is updated to latest. It would be best to not load the old Gutenberg but show warning/notice it also needs updating. Perhaps also a bit better warnings. I can start on PRs for these three.

[2021-08-06 00:45] pento commented on #33769
I've been able to reproduce this issue. I've also found a workaround:

1. Add a Gallery Block to a page or post
1. Add some images to the gallery
1. Click the Media Library link to add more images to the gallery
1. **On the left side of the Media Library modal, click _Edit gallery_**
1. **On the left side of the Media Library modal, click _Add to gallery_**
1. Select a new image to add to the gall

[2021-08-06 01:04] deborah86 commented on #16513
I am surprised this feature has not been added yet and it hasn't gotten any traction.

[2021-08-06 01:09] deborah86 opened #33917 "Button Block: Set Buttons to Full width on Mobile Devices"
## What problem does this address?

I am frustrated because I am unable to set the buttons to full width on mobile devices.

## What is your proposed solution?

The only option is to have buttons full-width on both mobile and desktop. I would like to be able to have the option to set buttons to full-width only on mobile view. This will create a better interface when buttons are stacked.

This is a

[2021-08-06 03:54] glendaviesnz commented on #33910
Duplicate of https://github.com/WordPress/gutenberg/issues/33700

If running WP 5.8 you will need to update to the latest version of the Gutenberg plugin. See https://github.com/WordPress/gutenberg/issues/33700#issuecomment-887781372 for potential solution.

[2021-08-06 03:54] #33910 closed, assigned to nobody

[2021-08-06 06:25] jasmussen commented on #30007
Regardless of the additional challenges that might be involved, I think it's just good form to make as much as possible configurable via theme.json. Just as a baseline, anything you could configure in the inspector should also be able to take defaults from theme.json. It's a code quality improvement that will also benefit themers.

As far as I'm aware, the biggest challenge to making that happen i

[2021-08-06 06:40] kanlukasz commented on #33891
Yes, of course, which is why I mentioned [editor.BlockEdit](https://developer.wordpress.org/block-editor/reference-guides/filters/block-filters/#editor-blockedit) but i'm not sure how to do it

Share these tutorials with us, please.

---

Many users are looking for a solution to this (including me):

- https://wordpress.stackexchange.com/questions/392819/how-to-remove-unwanted-panels-inside-inspec

[2021-08-06 09:18] fwazeter commented on #29568
While today, adding default CSS custom props to the body scope isn't such a big deal - as it's adding all of ~28 properties, it's easy to see how this will end up creeping and growing over time as block patterns evolve. Plus, as a general matter of good practice, you want as few props being called globally as possible, and ideally those being called being used consistently across the majority of p

[2021-08-06 09:39] markhowellsmead commented on #33681
<s>When running Core 5.8 without the plugin, the custom properties for `fontFamilies` are not output on the frontend, and the select is not displayed on supported blocks. (e.g. Button.) With 5.8 and the Gutenberg plugin active, it works correctly.

I'm not sure whether this is the same problem referenced in this Github issue or not. If not, then I'll be happy to open a new Github issue.</s>

Never

[2021-08-06 10:04] mikejolley opened #33920 "Combobox component usability issue when there is an existing selection and a new selection is typed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you tried deactivating all plugins except Gutenberg?

- [X] I have tested with all plugins deactivated.

### Have you tried replicating the bug using a default theme e.g. Twenty Twenty?

- [X] I have tested with a default theme.

### Description

Filtering the results of the combobox and pressing the ente

[2021-08-06 10:18] caseymilne opened #33922 "Site Editor (Beta) crashes on load with React dom error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you tried deactivating all plugins except Gutenberg?

- [X] I have tested with all plugins deactivated.

### Have you tried replicating the bug using a default theme e.g. Twenty Twenty?

- [X] I have tested with a default theme.

### Description

While trying to test FSE (Full Site Editing) with a range o

[2021-08-06 10:24] Mamaduka commented on #33922
@eatbuildplay

Can you confirm that this issue happens in the Firefox browser?

There's a similar report #33873 and should be fixed via #33896.

[2021-08-06 10:30] caseymilne commented on #33922
Yes it was Firefox browser!

[2021-08-06 10:34] caseymilne commented on #33922
Confirmed Site Editor loading fine in Chrome, closing as duplicates #33873.

[2021-08-06 10:34] #33922 closed, assigned to nobody

[2021-08-06 10:34] caseymilne commented on #33922
Thanks @Mamaduka Mamaduka

[2021-08-06 10:57] colorful-tones commented on #33385
Oh yeah, and this has been driving me nuts on a recent hybrid theme I’ve been working on.

I did not even realize you could try and target `.block-editor-block-list__layout.is-root-container > [data-align="left"]`, which is less than ideal, but handy to know.

[2021-08-06 11:06] gziolo commented on #33532
The current implementation proposes in #33506 slows down test execution by a few minutes per CI node, so your comment is valid. It could be useful for debugging, but overall it should be rather disabled if there is a performance penalty involved.

[2021-08-06 11:23] Mamaduka commented on #33275
I spotted another e2e test failure, commenting here so we can keep an eye on it - https://github.com/WordPress/gutenberg/runs/3261461038.

[2021-08-06 11:48] javierarce commented on #31456
@kellychoffman @priethor I think we could definitely improve the IA of the sidebar by moving the items whose changes have a bigger impact to the top. I don't know why I put the template parts at the bottom, but a better arrangement could be: `site` > `templates` > `local changes`.

If we also improve the labelling of both the items and each section, users will understand the impact of their change

[2021-08-06 12:21] priethor commented on #31456
Just the ones you added in this iteration, including the individual blocks/items (logo, title, tagline) 😄  Because the previous iteration showed `Theresa Webb`, it wasn't clear to me whether that referred to the whole site `Theresa Webb` or the site title alone. I find this new iteration to be much more clear, listing the site blocks instead of their content, as well as the new top-bottom ordering

[2021-08-06 12:40] oandregal commented on #33300
I could repro this, it's a bug: it's working on the front-end and post editor but not the site editor.

[2021-08-06 12:46] oandregal commented on #33300
Edited a bit the issue description, thanks for reporting.

[2021-08-06 12:56] mtias opened #33926 "Template Part Focus Mode"
This issue tracks short-term work to be done on what has been referred to as "isolated template part" mode. This is a view that just focuses on a single template part (like a header) and is available for any template part. It also outlines the role this will play as part of turning existing widget areas into block template parts. This last part is only tentatively written and is not scoped out pen

[2021-08-06 12:58] mtias commented on #33094
**Update**: added "focused template part" mode as a separate item under Template Editor #33926.

[2021-08-06 13:51] torounit opened #33929 "Two 404s are displayed in the TemplatePanel."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you tried deactivating all plugins except Gutenberg?

- [X] I have tested with all plugins deactivated.

### Have you tried replicating the bug using a default theme e.g. Twenty Twenty?

- [X] I have tested with a default theme.

### Description

When using the TT1 Blocks theme, two 404s are displayed in

[2021-08-06 14:07] mkaz commented on #31922
This is documented here: https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-support/#disabling-the-default-block-patterns

And an additional PR adds documentation for how to remove the remote call is here: https://github.com/WordPress/gutenberg/pull/33930

I'm going to close this issue then as it has been addressed, if I missed something please reopen with additional details.

[2021-08-06 14:07] #31922 closed, assigned to nobody

[2021-08-06 14:15] franmastromarino commented on #33300
hello @nosolosw !

Thanks for taking care of this issue

Not sure if its a bug too, but maybe you can check also the use of

"__experimentalSkipSerialization": true

Is not working with custom settings

block.json
`
"supports": {

		"custom": {
			"__experimentalSkipSerialization": true
		},
		"spacing": {
			"__experimentalSkipSerialization": true,
			"padding": true
		},
	},

}
`

kind regards

[2021-08-06 14:23] oandregal commented on #33300
I'm not aware of any `supports.custom` property. Where did you find that?

[2021-08-06 14:31] franmastromarino commented on #33300
@nosolosw I have not seeing it in the code, just expected behaviour

[2021-08-06 14:48] oandregal commented on #33300
What did you expect to happen?

[2021-08-06 15:09] #32591 closed, assigned to mkaz

[2021-08-06 15:12] oandregal commented on #33300
I've prepared a potential fix at https://github.com/WordPress/gutenberg/pull/33932 I can't test it at the moment because the site editor is broken for me.

[2021-08-06 15:43] shaunandrews opened #33933 "Block Styles: Show style preview when hovered or focused"
<img width="1078" alt="image" src="https://user-images.githubusercontent.com/191598/128535732-ff1c5e90-a806-45f2-9e64-358445b9a579.png">

Block Styles appear in both the block's toolbar and in the editor's sidebar. Currently, styles are shown with both a rendered preview and a name. The previews are a little too small to be helpful, but also add to the overall height of the sidebar accordion. Here

[2021-08-06 16:13] shaunandrews opened #33934 "CSS Class Names: Add button to choose from block styles"
When switching between block styles, the "Additional CSS class(es)" input within the Advanced accordion of the sidebar also updates to reflect the new style.

![Current Styles and CSS](https://user-images.githubusercontent.com/191598/128540175-c8cd358f-aba0-4fdc-86a5-3d2ec559ae6b.gif)

It might be nice to connect these two UI's a little, and offer a way to choose from the defined block styles from

[2021-08-06 16:36] skorasaurus commented on #33917
I currently handle this through a custom CSS rule that I've made (and this CSS isn't even tested very well, I only have applied on one specific page...)

(e.g. I do:
[code]

Would be intriguing to see this built into Gutenberg.

[2021-08-06 16:59] kjellr commented on #33934
I'm not totally sure this extra feature is necessary, but if we were to add it, I think the mockups would benefit from some sort of header/title/prepended label inside of the dropdown to be clear that the options there are Styles.

[2021-08-06 17:57] creativecoder commented on #33873
Note that I'm seeing the problem in Template editing mode in the post editor as well (when using Firefox).

It seems to be related to the iframe loading and ref issues in Firefox. I don't think the [document `load` event callback](https://github.com/WordPress/gutenberg/blob/a4bc4d19c4f7d495c96bce931a72089cc9713c41/packages/block-editor/src/components/iframe/index.js#L244) that sets up the refs for

[2021-08-06 18:24] #33907 closed, assigned to dcalhoun

[2021-08-06 18:59] fwazeter commented on #29568
Thinking on this further - a possible solution to shades could be to incorporate a function similar to the duotone color filter - effectively a shade filter. In that sense, you'd have your core colors that you chose and then the option to apply shading.

In this case you'd have core colors: primary, secondary, black, white (although Theme Shapers makes a good argument for deliberately naming color

[2021-08-06 21:17] Arskrigitsioniets opened #33936 "Automatically added <br> and <p> tags in HTML blocks of sidebar widgets"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you tried deactivating all plugins except Gutenberg?

- [X] I have tested with all plugins deactivated.

### Have you tried replicating the bug using a default theme e.g. Twenty Twenty?

- [X] I have tested with a default theme.

### Description

After 5.8 update I always get automatically added `<br>` an

[2021-08-06 22:47] fullofcaffeine opened #33937 "Replace usage of native `alert/confirm/prompt` with web content versions"
## What problem does this address?

Major browsers - [starting with Chrome](https://www.chromestatus.com/feature/5148698084376576) - will soon restrict the `alert/confirm/prompt` functions from being used from within cross-origin iframes. They started [deprecating](https://developer.chrome.com/origintrials/#/view_trial/2541156089743802369) the usage of these functions in the cross-origin iframe co

[2021-08-06 23:59] jesus-yael commented on #26929
I have this problem right now, any body else?
WP 5.8
<img width="1680" alt="Captura de Pantalla 2021-08-06 a la(s) 6 58 26 p m" src="https://user-images.githubusercontent.com/47003523/128580976-acb9998d-4fad-4e25-8ca2-9f1dc2dd6d0a.png">

[2021-08-07 01:33] rjcalifornia commented on #22861
I came to the same solution a couple of days ago:

https://github.com/WordPress/gutenberg/issues/23510#issuecomment-891110095

It seems like adding a filter might not be the best solution, it should be fixed in core

[2021-08-07 01:34] rjcalifornia commented on #23510
I agree.

Sure, I'll submit one and hopefully it will be in the next release.

[2021-08-07 06:28] Mamaduka commented on #33937
Related #16583.

[2021-08-07 07:53] kevin940726 commented on #33532
I don't think a couple of minutes of slowdown in tests is that much of a problem though. E2E tests are already very slow, slowing down each by a few seconds shouldn't outweigh the benefits of debugging ability it brings. I've already encountered several tests which are only failing in CI and hard to debug/reproduce locally. Often times the only option we could make is to skip the tests and risk re

[2021-08-07 09:29] koganas commented on #26929
I am having the same issue from @jesus-yael. It seems related to Gutenberg (Visual Editor) when using plugins that add metaboxes. Some plugins that I use and could check the conflict:
- Advanced Custom Fields
- Accelerated Mobile Pages

For now, I could get 2 workarounds:
- Disable the visual editor in the user options, but only the code will be editable in the screen.
- Downgrading the wordpress

[2021-08-07 12:45] fwazeter commented on #33933
I like the way this feels - it appears more functional while also feeling a bit more modern when handling the preview.

[2021-08-07 15:02] locksoft commented on #31707
You are no more replying to my posts but I still need help. :(

I've been trying the Health Check & Troubleshooting plugin, and I also tested several themes, even WP default ones. But with Safari the edit section is still covered by the bottom page settings.

Is Wordpress definitively abandoning Safari support? :((

[2021-08-07 16:10] fklein-lu commented on #33871
One could, and for now should, make the CSS better.

I'm not in favor of using a complex method as outlined above. If Gutenberg were to target the class of the child blocks, instead of unnecessarily target using the parent class, then the bug wouldn't exist.

In the end though blocks should use the same styling mechanism as themes do: the theme.json file.

This would not only be a great opportunit

[2021-08-07 16:54] caseymilne commented on #20966
When it comes to images and paths I think it's worth considering that any path to an image could be defined as either:

1. Valid Path (publicly accessible image, or local readable image)
2. Invalid Path (cannot read due to faulty path or non-public URL)
3. Bundled Object (file/image reference is available directly as a base_64 object)
4. Bundled in Export Package Location (file/image exists in the

[2021-08-07 20:47] karmatosed commented on #33873
I can also confirm I am getting the same issue in Firefox.  It works fine on both my local install and on server when use Safari or another browser.

[2021-08-07 23:50] TheRadicalDreamer commented on #31011
I was able to repro here:
https://github.com/WordPress/gutenberg/issues/33349

[2021-08-07 23:50] TheRadicalDreamer commented on #33349
i believe is not related to the theme

here for example: https://github.com/WordPress/gutenberg/issues/31011

[2021-08-07 23:54] TheRadicalDreamer commented on #33349
![image](https://user-images.githubusercontent.com/11801254/128616525-c24d124e-6cd2-4e44-8964-c651bd2eddfa.png)

[2021-08-08 00:05] ellenbauer commented on #33792
Thank you so much for giving this ticket your attention @bph .

1. My favourite option would be to make it dismiss-able, as you suggested as well.

2. Regarding the wording: I believe mentioning API changes is not very user-friendly, since a lot of users don't really know what that means. I think the following would be easier to understand:

"You're using a Full Site Editing theme. Full Site Editi

[2021-08-08 01:06] TheRadicalDreamer commented on #21540
border radius for images are considered here?

[2021-08-08 01:20] TheRadicalDreamer opened #33939 "Hover color over image block"
## What problem does this address?

I really like this feature of having a hover color over an image.
Images already have the possibility to have text on them, so i was wondering if a hover can be added.
Example: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_overlay_fade

## What is your proposed solution?

To have a new option on the image block, inside the text option:
![im

[2021-08-08 05:43] ashfame commented on #33349
@avagp That seems like an issue when centre alignment when chosen doesn't work as expected. This issue that you filed was about default alignment when nothing is chosen, in which case the default theme had an inconsistency as I explained. So these actually are two different things. Plus with every theme, there can be its own version of inconsistencies, so we have to mind that. If you feel differen

[2021-08-08 05:44] carolinan commented on #25808
I can confirm that this is fixed. I don't believe there are any backporting to 5.7 concerns, as far as I know, that is not planned.
I am not sure why it is listed in _maybe later_.  Please reopen if needed.

[2021-08-08 05:44] #25808 closed

[2021-08-08 05:57] carolinan commented on #27319
I am not able to reproduce this with 5.8, with and without Gutenberg 11.2.1

[2021-08-08 05:59] carolinan commented on #27528
Since the 5.8 release I have received a few questions about why the theme.json is missing from the export.

[2021-08-08 06:03] carolinan commented on #27828
I have confirmed that this is solved 🎉 . Tested with WordPress 5.8 and Gutenberg 11.2.1.

[2021-08-08 06:03] #27828 closed

[2021-08-08 06:10] carolinan commented on #28549
Button blocks now have a column-gap style and this issue is solved. Tested with WordPress 5.8, with and without Gutenberg 11.2.1.

[2021-08-08 06:10] #28549 closed

[2021-08-08 06:13] carolinan commented on #28785
Confirmed that this is still an issue with WordPress 5.8 and Gutenberg 11.2.1.

[2021-08-08 06:17] carolinan commented on #29401
Possibly stale PR: https://github.com/WordPress/gutenberg/pull/24699

[2021-08-08 06:27] carolinan commented on #29760
As far as I can tell, the visualizer has changed, the site editor and block editor now match.

[2021-08-08 06:27] #29760 closed

[2021-08-08 06:28] carolinan commented on #29761
I have confirmed that this has been fixed. Tested with WordPress 5.8 and Gutenberg 11.2.1.

[2021-08-08 06:28] #29761 closed

[2021-08-08 06:52] carolinan commented on #30930
I wonder if this needs a designer? It would be good to have some UX opinions on this.

[2021-08-08 06:57] carolinan commented on #31616
@aristath I wanted to check in if you still want to be assigned to this issue and if there is any progress.

[2021-08-08 06:57] carolinan commented on #31642
@aristath I wanted to check in if you still want to be assigned to this issue and if there is any progress.

[2021-08-08 07:16] carolinan commented on #30491
They are applied to the `<body`>, not `<html>`, did I misunderstand something?

[2021-08-08 08:14] beatreichenbach commented on #13811
This doesn't add classes such as alignwide and alignfull that we can add with the support parameter:

[code]
I would expect `get_block_wrapper_attributes()` to output something like:
`class="wp-block-mypackage-myblock alignfull"` when using that feature.

edit: I just saw in the documentation:

(https://developer.wordpress.org/block-editor/reference-guides/block-api/block-supports/)

[2021-08-08 13:23] karmatosed opened #33940 "404 page perhaps not best default for site editing"
It seems since the last few updates the 404 page for me has ended up being the default page that the site editor opens on. This seems a little strange as far as the experience goes. I assume it might be an ordering issue, although assuming isn't a good idea. I think perhaps using the template hierarchy might be better ordering in this case for opening. When it opened to the front page I had less d

[2021-08-08 23:17] tellthemachines commented on #33810
That's a bit of a self-fulfilling prophecy though; the less often we update, the harder it is to identify the changes because there are more of them 😅

I seem to recall a script that we could run on the Gutenberg repo to get all the PHP changes since the last release? I think it was @mcsf who pointed me to it. It doesn't do all the work, as not all PHP changes need to be ported to Core and some of

[2021-08-08 23:43] aaronrobertshaw commented on #21540
Hi @avagp, border-radius support is already opted into by default for the image block. However, to be able to leverage this, the border-radius UI must be enabled via your theme's `theme.json` file.

[code]

I also have a PR in the works that will enable border color, style and width for the image block. You can follow those enhancements in https://github.com/WordPress/gutenberg/pull/31366. Hopeful

[2021-08-09 05:03] fwazeter opened #33942 "Fascinating Behaviors - Prepping themes/functionality for transition to FSE from 5.8 as a base."
## What problem does this address?

5.8 occupies a very odd point in time for the development cycle (and even stranger for theme development / business implementation) - as kind of 'halfway' to FSE. It makes sense to develop new themes using 5.8 as a starting point, but w/o reliance on the Gutenberg Plugin in production, while mimicking as much behavior of FSE as possible. Doing so allows for sign

[2021-08-09 05:49] talldan commented on #26929
@jesus-yael @koganas I'd recommend making a [new bug report](https://github.com/WordPress/gutenberg/issues/new?assignees=&labels=&template=Bug_report.yml&title=%3Ctitle%3E) if the issue has come back. Thanks.

[2021-08-09 07:14] moerphie opened #33946 "Block pattern do not show in the inserter"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you tried deactivating all plugins except Gutenberg?

- [X] I have tested with all plugins deactivated.

### Have you tried replicating the bug using a default theme e.g. Twenty Twenty?

- [X] I have tested with a default theme.

### Description

Hello,
since the update to version 5.8, this simple pattern

[2021-08-09 07:28] Mamaduka commented on #33929
Thanks for the detailed report, @torounit.

I created a Trac ticket and attached the PR - https://core.trac.wordpress.org/ticket/53898.

[2021-08-09 08:00] carolinan opened #33947 "Core block testing documentation leads to 404"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you tried deactivating all plugins except Gutenberg?

- [ ] I have tested with all plugins deactivated.

### Have you tried replicating the bug using a default theme e.g. Twenty Twenty?

- [ ] I have tested with a default theme.

### Description

On this page,
https://developer.wordpress.org/block-editor/

[2021-08-09 08:11] gziolo commented on #33900
Good catch. It would have to get deprecated and point to `receiveUserPermission `.

[2021-08-09 08:13] youknowriad opened #33948 "Some writing flow / keyboard shortcuts doesn't work in the site editor"
In the site editor, I'm not able to use several writing flow interactions from the post editor.

 - The first one is "select all" shortcut, hitting "ctrl + a" twice doesn't select all the blocks
 - The other one I noticed is the "delete" or "backspace" to remove selected blocks.

[2021-08-09 08:14] aristath commented on #31642
There is no progress because other things needed to be prioritized, and this issue may be sub-optimal behavior but it doesn't actually "break" anything, so it was not an urgent priority.

I'm unassigning myself because maybe the "assigned" prevents someone else from working on it? :shrug:

[2021-08-09 09:00] jasmussen commented on #30170
Per conversation in https://github.com/WordPress/gutenberg/pull/33849#issuecomment-892478325, I explored a few additional designs for split label/URL dialogs. The following remains a work in progress, there are some details that need to be hashed out.

1. For page links, show an explicit "select page" button, which slides the contents sideways to show the list of pages as a screen 2 choice:
<img w

[2021-08-09 09:01] getdave commented on #33440
@peterwilsoncc To avoid the check Dan references, perhaps you could try the global matcher `*` for the target `blocks`.

E.g.

[code]

Indeed this is what I have done on [the proposed new "Widget Box" block](https://github.com/WordPress/gutenberg/pull/33881) which does something quite similar to what you are trying to achieve:

[code]

Note I'm using the `__experimentalConvert` because it provides

[2021-08-09 10:14] #33873 closed, assigned to youknowriad

[2021-08-09 10:26] oandregal commented on #33300
The fix is good. Welcome reviews.

[2021-08-09 11:19] oandregal commented on #31660
I'm looking into this.

[2021-08-09 11:27] #32792 closed, assigned to ntsekouras

[2021-08-09 11:33] oandregal commented on #31660
Prepared https://github.com/WordPress/gutenberg/pull/33951 to fix this (ongoing).

[2021-08-09 11:40] oandregal commented on #31660
https://github.com/WordPress/gutenberg/pull/33951 is ready for review.

[2021-08-09 12:13] ramonjd commented on #24504
By removing the `min` attribute in the [margin control box](https://github.com/WordPress/gutenberg/blob/a7e2895829c16ecd77a5ba22d84f1dee1cfb0977/packages/block-editor/src/hooks/margin.js#L102) (essentially setting `inputProps={ { min: undefined } }`) we can allow negative margins:

<img width="1227" alt="Screen Shot 2021-08-09 at 10 08 51 pm" src="https://user-images.githubusercontent.com/6458278/

[2021-08-09 12:17] Mamaduka commented on #33947
It looks like this got fixed by 64fadb5, no need for my PR 😄

[2021-08-09 12:17] #33947 closed, assigned to Mamaduka

[2021-08-09 13:27] ddryo opened #33953 "Is there a hook that can override the "useBlockProps" of the core block?"
I use `createHigherOrderComponent` to set it up in the core block from the plugin.

Is there any way to add a `data-` or `style` attribute to the core block to match those settings?

I was thinking that if `useBlockProps()` had hooks, you could do that, do you have such hooks?

[2021-08-09 13:42] SiobhyB commented on #32937
A temporary workaround for this issue was introduced in https://github.com/WordPress/gutenberg/pull/33057.  The workaround prevents an "undo level" from being created after a featured image is set via the image block. Tapping undo or redo immediately after setting a featured image via the image block no longer has any effect.

This isn't a perfect solution for the issue outlined here. In fact, it

[2021-08-09 13:47] ddryo opened #33954 "Using the 'allowed_block_types_all' hook, it is not possible to search from the Block Directory."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you tried deactivating all plugins except Gutenberg?

- [X] I have tested with all plugins deactivated.

### Have you tried replicating the bug using a default theme e.g. Twenty Twenty?

- [x] I have tested with a default theme.

### Description

Using the `'allowed_block_types_all'` hook will prevent sea

[2021-08-09 14:00] ntsekouras commented on #33946
Hey 👋 - thanks for reporting this! I couldn't reproduce this though... Have you registered your category with `register_block_pattern_category`? If not, the pattern is shown under `Uncategorized` in the inserter.

[2021-08-09 14:04] anton-vlasenko commented on #30049
@tomjn I'm sorry, I can't reproduce this on https://frontenberg.tomjn.com
Could you please provide some steps on how to reproduce this?
FYI: @kevin940726

[2021-08-09 14:11] moerphie commented on #33946
Yes.
Sorry, here's the complete code:
[code]

If I replace the content with this, it is shown:
[code]

So, it seems to be an issue with the column-block.

[2021-08-09 14:13] gziolo commented on #26313
I have a first working prototype #33955 for absorbing parent inspector controls. It works pretty nicely with the Buttons block. It sort of work with the Social Icons block, but I need to further investigate whether there wasn't any regression in that block.

[2021-08-09 14:21] getdave commented on #32723
Just to update here. We've been _exploring_ two routes:

1. [Block Pattern for "Widget + title"](https://github.com/WordPress/gutenberg/pull/33878).
2. [A new "Widget Box" (working title) block](https://github.com/WordPress/gutenberg/pull/33881).

Feedback one/both approaches would be much appreciated.

[2021-08-09 14:24] ntsekouras commented on #33946
Your full code doesn't change much to the previous snippet, and for me it still works... 🤔  I guess other folks could test this as well..

[2021-08-09 14:38] SiobhyB commented on #24425
I forgot to update that the Android side of this was merged with https://github.com/wordpress-mobile/WordPress-Android/pull/14793. @guarani, are there any other pending parts to this, or are we all set to close this issue?

[2021-08-09 14:41] annezazu commented on #31707
@locksoft I was away from work in order to move. Thanks for your patience :) WordPress is not abandoning Safari support at all. You can see browser support [here](https://make.wordpress.org/core/handbook/best-practices/browser-support/). It sounds like this only happens in Safari which helps narrow down the problem. However, without narrowing down the various plugins you are using and without furt

[2021-08-09 14:44] #33899 closed, assigned to Mamaduka

[2021-08-09 15:17] #33106 closed, assigned to nobody

[2021-08-09 15:52] tomjn commented on #30049
Frontenberg doesn't advertise widgets functionality because of this issue. The iframes use relative URLs, they should use absolute URLs or at a minimum URLs that are relative to `/`

[2021-08-09 15:55] tomjn commented on #30049
In particular, it tries to use URLs like this:

`https://frontenberg.tomjn.com/widgets.php?legacy-widget-preview%5BidBase%5D=akismet_widget&legacy-widget-preview%5Binstance%5D%5Bencoded%5D=YToxOntzOjU6InRpdGxlIjtzOjA6IiI7fQ%3D%3D&legacy-widget-preview%5Binstance%5D%5Bhash%5D=3a1e89203a295a9a3374f02b7b41b341`

But obviously there is no `widgets.php` file in the root so it fails. Notice that `widget

[2021-08-09 15:56] philbuchanan opened #33956 "Using "layout" in theme.json adds margin-left and -right: auto with !important to full width elements"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you tried deactivating all plugins except Gutenberg?

- [X] I have tested with all plugins deactivated.

### Have you tried replicating the bug using a default theme e.g. Twenty Twenty?

- [X] I have tested with a default theme.

### Description

When you add `"layout": { "contentSize": "800px" }` to the

[2021-08-09 15:57] tomjn commented on #30049
This code may be useful to anybody trying to correct the issue:

https://github.com/WordPress/gutenberg/blob/be48e651c5c94333fabea93be7c5273085b89564/packages/e2e-test-utils/src/visit-admin-page.js#L21

To reproduce the issue, load a legacy widgets UI in any location that is not a file in `wp-admin`. e.g. `/wp-admin/test`, `/`, `/test`, etc

[2021-08-09 16:03] #31660 closed, assigned to oandregal

[2021-08-09 16:04] richtabor opened #33957 "I should be able to use a parent theme’s block template parts within child themes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you tried deactivating all plugins except Gutenberg?

- [X] I have tested with all plugins deactivated.

### Have you tried replicating the bug using a default theme e.g. Twenty Twenty?

- [X] I have tested with a default theme.

### Description

I’m having trouble using a parent theme’s block template pa

[2021-08-09 16:15] richtabor opened #33959 "Site Editor should be available for child themes if the appropriate index.html file exists in the parent"
## What problem does this address?
Currently a theme requires a `block-templates/index.html` file to enable the Site Editor UI (which makes sense). However, if a child theme of the block based theme does not have an index.html file, it is opted-out of the experience. This means that child themes will have to duplicate index.html files just to be opted into the Site Editor (which isn't ideal if a c

[2021-08-09 16:25] richtabor commented on #33933
I agree. This makes styles still be featured - but take up a lot less space in the sidebar.

[2021-08-09 16:39] oandregal commented on #33232
I've updated the issue description with the steps a theme such as TT1-blocks has to set up the block variations it wants active. It takes a few steps to do so in three different languages (CSS, PHP, JS) through a number of different files.

[2021-08-09 17:15] Mamaduka commented on #24505
I think this should be fixed after #30366.

[2021-08-09 17:45] TheRadicalDreamer commented on #33349
independently of the theme's default option, i believe gutenberg should read that.

rather than expecting every theme to have left alignment as default to correspond with gutenberg.

I feel this is a usability issue that cannot pass unnoticed.

With little images is obvious there is a mistake, and with larger ones, you will only notice when you publish and the see the actual page.

The theme i am

[2021-08-09 17:47] annezazu commented on #33956
cc @nosolosw  in case you have thoughts here :)

[2021-08-09 17:59] annezazu commented on #33954
Hey there! Thanks for opening this issue. In case it's helpful, you might find this plugin easier to use to manage various blocks in the meantime globally: https://wordpress.org/plugins/block-manager/ You could also use the built in Block Manager to hide these blocks.

[2021-08-09 18:22] #33807 closed, assigned to nobody

[2021-08-09 21:17] debojyotighosh commented on #7247
There seems to be a third parameter in that PHP function (`render_callback`).
I ran a quick JSON encode on it, and here is what it returned -

[code]

[2021-08-09 21:25] debojyotighosh commented on #7247
`$content` is empty for me.

[2021-08-09 21:38] ETVO commented on #7247
@debojyotighosh this is what works for me to use InnerBlocks content and render it using PHP (server-side)

In your registerBlockType JS (focus on the save property):
[code]

You can return null in the save function because your block will be rendered server-side (using PHP). However, when you're using InnerBlocks, the InnerBlocks.Content has to be returned, otherwise it will not be accessible to

[2021-08-09 22:07] skorasaurus commented on #18193
I'm not able to reproduce this in gutenberg 11.0 and WordPress 5.8.

Please reopen if you're still to reproduce.

to reproduce:

create new paragraph block; type in random words, select one of the words, hyperlink it to www.wordpress.org ; highlight that link, and then copy and paste into new block.

note: gutenberg is automatically prepending http:// to the urls

[2021-08-09 22:07] #18193 closed

[2021-08-09 22:14] x029a commented on #10235
Same. I'm looking for a mechanism that allows for simple in-line block insertion.

[2021-08-09 22:50] promocot commented on #33447
Add VW, VH units for a better responsive design for mobile and tablet will be better to use VW, VH, and %, give this opportunity for those who know what to do with it

[2021-08-10 00:11] locksoft commented on #31707
Hmmm, interesting.
I've just updated my Safari from version 14.0 to 14.1.2 and the issue seems solved (at least, apparently, the edit page opens correctly, in the next days I'll do some tests). I'm still on an old MacOS version (Mojave) and the system update messages aren't very clear (no mentions about Safari update in the quick note).

I'll let you know if I'll encounter any problem, but it's a

[2021-08-10 01:11] ramonjd commented on #32417
Also dropping image border support as a potential beneficiary for any solution we come up with: https://github.com/WordPress/gutenberg/pull/31366

The challenge for the image block is to apply border properties to the image only, and not the enveloping `<figure />` block container.

The application contrasts with say, padding and margin, which we'd want to apply to the block container.

The propos

[2021-08-10 02:35] annezazu opened #33962 "Navigation Block + Page Link Block: Create draft option shows when adding an existing page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you tried deactivating all plugins except Gutenberg?

- [X] I have tested with all plugins deactivated.

### Have you tried replicating the bug using a default theme e.g. Twenty Twenty?

- [X] I have tested with a default theme.

### Description

The Navigation Block's Page Link Block still shows the opti

[2021-08-10 03:38] ramonjd commented on #23770
With the work being done in the PRs above, I think something like the following will soon be possible:

<img width="1131" alt="Screen Shot 2021-08-10 at 12 56 12 pm" src="https://user-images.githubusercontent.com/6458278/128803081-c23c7d3f-de5a-46d5-8299-4ec92be15523.png">

Since cover block already has a "Dimensions" control panel, it sounds like a good idea to consolidate these as soon as we hav

[2021-08-10 04:19] talldan commented on #31241
It'd be good to get clarification on this.

I personally very much like the idea of unifying. The navigation screen is a similar initiative to the widgets screen which uses the same general interface as the site and post editor. This would ensure the navigation screen isn't the odd one out.

[2021-08-10 04:24] #33034 closed, assigned to nobody

[2021-08-10 04:24] talldan commented on #33034
This one was created accidentally, so closed it and updated the tracking issue.

[2021-08-10 04:27] aaronrobertshaw commented on #23770
@ramonjd there is already a PR under way for [adding width block support](https://github.com/WordPress/gutenberg/pull/32502). It is still a draft given there was a lot of iterating over the width control. It turned out that a simple unit control matching the height support wasn't suitable for width.

The idea with the [height block support ](https://github.com/WordPress/gutenberg/pull/32499) is th

[2021-08-10 04:56] aaronrobertshaw commented on #32417
I believe the general consensus so far is we'd be leaning more toward extending the [elements API](https://github.com/WordPress/gutenberg/issues/29891) rather than expand the use of `__experimentalSelector`. Either way, I don't think being able to target different features, e.g. padding vs color, to different selectors will be too much of an issue.

If the elements API is opened up to allow CSS se

[2021-08-10 05:22] Mamaduka commented on #33815
Thanks for testing, @draganescu.

Do you think we should update the `menu-locations` endpoint to handle updating multiple locations?

[2021-08-10 05:39] andrewserong commented on #25456
For formatting the date, I wonder if we can do something similar to Google Sheets to enable constructing a custom date format:

| Selecting a part of the date | Customising the format of that part |
| --- | --- |
| ![image](https://user-images.githubusercontent.com/14988353/128813804-d5493d2d-2430-4fc0-90b4-6bc66451309d.png) | ![image](https://user-images.githubusercontent.com/14988353/128813812-7

[2021-08-10 05:49] audrasjb opened #33966 "The query block should not use `Keywords` as a label, but `Tags`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you tried deactivating all plugins except Gutenberg?

- [X] I have tested with all plugins deactivated.

### Have you tried replicating the bug using a default theme e.g. Twenty Twenty?

- [X] I have tested with a default theme.

### Description

The Query block Filters settings currently use `Keywords` a

[2021-08-10 06:00] talldan commented on #33815
@Mamaduka It may also be possible to use the batch API for this kind of thing.

Would be good to get input from the REST API team. I see Jonny (spacedmonkey) has already been pinged. @TimothyBJacobs do you have any thoughts?

[2021-08-10 06:07] dextorlobo commented on #13998
This solution works fine for me. But I have done some modifications to get the latest revision ID of the custom post type (article). This work is for the draft and published posts. I am not sure, it might need some changes but it works for me.

[code]
I have to get the different domains for each environment (local, develop, staging, production). So I have created the `get_front_end_domain()` metho

[2021-08-10 06:36] thirumani02 commented on #32644
Actually you can do it by passing `min` prop.
for ex.
[code]

It is not explained in Readme but i can able to find it when searching inside core files

[2021-08-10 06:36] jasmussen commented on #33962
Good one. While in that same area, the alignment of text here isn't ideal:

<img width="432" alt="Screenshot 2021-08-10 at 08 35 00" src="https://user-images.githubusercontent.com/1204802/128819559-709133da-08f6-454e-8224-0d7b7d38c966.png">

For anyone picking this up, also worth looking at https://github.com/WordPress/gutenberg/issues/30170#issuecomment-895058969 for some work-in-progress on the

[2021-08-10 06:42] Mamaduka commented on #30007
It would be good to get input from @jorgefilipecosta or @nosolosw if managing similar block settings has been discussed in the context of `theme.json`.

Also, have we considered creating a new navigation link container block just for Navigation Screen? It can be similar to the "Widget Area" block and only loaded in the navigation editor. I know this goes against the DRY principle, but it should ma

[2021-08-10 07:13] pauljacobson opened #33968 "Classic Block: Block title bar obscures images immediarely below it"
## What problem does this address?

When using a Classic Block, and adding an image beside text directly below the Classic Block title bar, the image is partially obscured when the block is in focus. Here is an example:  https://d.pr/i/zJBCRq/CIbekgepSg

## What is your proposed solution?

Enable images to shift below the toolbar with the accompanying text.

[2021-08-10 07:24] #30289 closed, assigned to nobody

[2021-08-10 07:24] #32203 closed, assigned to nobody

[2021-08-10 07:24] #33768 closed, assigned to nobody

[2021-08-10 07:27] ddryo commented on #33954
@annezazu

Thank you very much. However, I want to force the FSE block to be turned off on a theme I sell, not on my own site.
So, installing a plugin is not a desirable solution.

The only way to do this is to use the 'allowed_block_types_all' hook. Is there any good way to avoid using this hook?

[2021-08-10 07:53] getdave commented on #30007
I discussed briefly with @nosolosw (can't find the GH link now) and we agreed that it would be at least a good objective to include such functionality within the scope of Theme JSON. I don't think it's possible yet - although I could be wrong.

We have indeed. For me, it's less about DRY and more about the knock on benefits of attempting to use the Nav Block within the Nav Editor. By doing so we w

[2021-08-10 08:02] talldan opened #33969 "The future of the `block-nav-menus` theme opt-in for the Navigation Screen"
https://github.com/WordPress/gutenberg/pull/24503 introduced the concept of the theme opt-in to the navigation screen.

This opt-in is a way for the theme to declare that it supports styles for a wider range of blocks in a menu. Once this is active, more block types are supported by the navigation screen. In the front-end, menus are rendered using the block markup, instead of the markup produced b

[2021-08-10 08:07] Mamaduka commented on #30007
I think the case I agree it makes sense to have Nav Block configurable.

[2021-08-10 08:16] draganescu commented on #33954
I have stubmled upon this on my blog as well using the Go theme

![image](https://user-images.githubusercontent.com/107534/128832607-b6cfbdbb-9b68-4d1e-92e9-b5d9089581c2.png)

even though the search in the block directory happens as shown by the console:

`https://.../wp-json/wp/v2/block-directory/search?term=team&_locale=user` shows:

[code]

[2021-08-10 08:28] ntsekouras commented on #33966
Hey 👋 - thanks for filing the issue!

This is not the case. You can see it from your screenshot as well, that there is another control for `Tags`. The `Keyword` labeled control is for the `search` param in WP REST API: https://developer.wordpress.org/rest-api/reference/posts/.

[2021-08-10 08:50] mtias commented on #33897
Let's add these ones, I think it adds a layer of clarity that would be useful to have on these symbolic blocks. It should work a bit better once we get to coloring parts and reusable blocks, too.

[2021-08-10 08:58] jasmussen commented on #31241
Happy to take a stab. Much of this is spread across tickets and chats, so I'll recall as best as I can.

These screens are primarily meant to bring the diversity of blocks (and the benefits of the navigation block) to classic and universal themes. But they are also interfaces dedicated to widget and navigation editing, which comes with its own set of limitations that aren't necessarily present in

[2021-08-10 09:15] talldan commented on #31241
Those things seem like a good compromise 👍

[2021-08-10 09:36] ntsekouras commented on #33966
Closing this as it's been discussed in the linked PR: https://github.com/WordPress/gutenberg/pull/33967#issuecomment-895881370

[2021-08-10 09:36] #33966 closed, assigned to audrasjb

[2021-08-10 09:43] talldan commented on #33692
Spent some time looking into this. This seems to be a block editor change in general. The same also happens in the post editor.

To test it - add two paragraph blocks with content, select the first one, and then click underneath the last block at the bottom of the document.

It used to be that clicking at the bottom would select the 'document', but now instead selection is often moved to the last

[2021-08-10 09:53] talldan commented on #33693
@javierarce removing it might be a difficult subject, seeing as it's a feature that exists largely to improve the accessibility of the block editor. The navigation editor also lacks an easy way to access List View, which is another feature that makes navigating blocks easier when using a keyboard and a screen reader.

Are there ways that navigation mode might be retained, perhaps improving some of

[2021-08-10 09:55] oandregal commented on #33956
@youknowriad would know best about layout things.

[2021-08-10 10:02] youknowriad commented on #33956
!important is unfortunately necessary here because left/right margins applied to children blocks using the margin UI for instance (non aligned) shouldn't apply because the block should remain centered in the "content area". We tried other solutions to "center" blocks without relying on `margin: auto` but we failed so far.

That said, the negative margins above are added by the editor itself, I thi

[2021-08-10 10:20] oandregal commented on #30007
There're a few things to digest here and I don't feel like I have all the context, sorry about that :sweat_smile:  I can share a couple of thoughts with what I know.

Block supports and `theme.json` are editor agnostic. They serve for declaring what features are supported by a block and let theme authors tweak them, independently from the editor the block lives in. Different editors may require a

[2021-08-10 10:46] #33002 closed, assigned to jasmussen

[2021-08-10 10:47] christincooper commented on #15094
This is very nice RavanH.

[2021-08-10 11:28] draganescu commented on #30007
This is allright. All we need is to have the navigation block respond to `theme.json` configuration and then have the editor **pretend** to send `theme.json` data to the block.

[2021-08-10 11:37] draganescu commented on #31241
What I like of the direction in @javierarce 's designs (besides the fact they're very nice) is that we're pushing WP Admin closer to Gutenberg. "Contrary" to @jasmussen 's perspective above, I would make the widgets editor more like what's explored here and unify in this direction.

[2021-08-10 11:38] oandregal commented on #31642
I'm interested in picking this up. Going to take Ari's offer and assign this to me.

[2021-08-10 11:39] jasmussen commented on #31241
As a counter counterpoint (😅) I would argue that the transitional nature of these screens makes it all the more important that it shares more DNA with their previous counterparts.

[2021-08-10 12:43] getdave commented on #30170
Good to see this evolving. I'm keen to progress https://github.com/WordPress/gutenberg/pull/33849 so please do let me know if/when I can do that.

This is great if you don't remember the page name but less optimal if you do (when search really shines). Have you seen @javierarce's exploration with [bulk adding of links](https://github.com/WordPress/gutenberg/issues/31667#issuecomment-887526463)?

T

[2021-08-10 12:45] Sandstromer commented on #33946
I tested it with the full code @moerphie posted above, and yes it works okay for me too.

![moerphie-pattern](https://user-images.githubusercontent.com/76742815/128868739-a0df65c5-8059-435b-9077-a245b4ba1348.jpg)

![moerphie-pattern-inserted](https://user-images.githubusercontent.com/76742815/128868794-325d37b3-022f-404c-b6de-5bdf0e6fbb8a.jpg)

![moerphie-pattern-code](https://user-images.githubus

[2021-08-10 12:51] ntsekouras commented on #33946
Another potential issue for your case @moerphie would be that in your `Preferences` you have `Columns` block disabled, or in general this block unregistered/disabled. Patterns are filtered for containing `allowedBlocks`, so if you have `Columns` disabled, it would not be shown.

Would that be the case for you?

[2021-08-10 12:52] jdaviescoates commented on #15821
I just wanted to do this and so came here and found this issue.  Seems there has been a work-in-progress PR since 2019! Any chance of us getting this anytime soon? Thanks!

[2021-08-10 12:55] getdave commented on #32436
This isn't a question I can answer at this point so closing for now.

[2021-08-10 12:55] #32436 closed, assigned to nobody

[2021-08-10 13:22] jasmussen commented on #30170
Very nice work. I'd prefer to avoid tabs here, and keep the dropdown fairly compressed if we can. Just as an experiment:

<img width="603" alt="Screenshot 2021-08-10 at 15 19 42" src="https://user-images.githubusercontent.com/1204802/128874142-02085cda-210e-45c4-aca7-9ae97ab5cd4a.png">

Good argument. However I do feel like the fact that everything just becomes generic URLs might do a disservice t

[2021-08-10 13:33] SiobhyB commented on #33857
I found an open issue in the React Native repository, https://github.com/facebook/react-native/issues/30503, that lines up with the behaviour described here:

That issue was introduced in React Native 0.63.0. As GB Mobile 1.56.0 included the upgrade to React Native 0.64.0, it'd make sense that it was that version where this issue began presenting itself.

I'm currently working on resolving a diffe

[2021-08-10 13:34] SiobhyB commented on #33856
Assigning myself, as per this comment: https://github.com/WordPress/gutenberg/issues/33857#issuecomment-896033256

[2021-08-10 13:35] draganescu commented on #32908
I would then not consider this a bug of the widget editor.

[2021-08-10 13:36] annezazu commented on #31707
Oh wow! Glad to hear that the update to the latest of Safari might have helped. I might still reach out to your host to have them review this though to be proactive. For now, I am going to close this out but just comment here again if you need it re-opened and I will do so :)

[2021-08-10 13:36] #31707 closed, assigned to nobody

[2021-08-10 13:39] getdave commented on #30170
Let's say for arguments sake we were able to retain the "taxonomy" part once the link is added (ie: we don't just use the URL) would that help?

I also dislike this behaviour although it's different in Nav Block vs in RichText.

[2021-08-10 13:51] jasmussen commented on #30170
I think we may be arguing in favor of the same thing. Basically that _most of the behavior of the box_ is identical across rich text and any block that might link to destinations, but just that the _destination interface_ might be optimized for each type. Sort of like this somewhat simplified version:

<img width="1237" alt="Screenshot 2021-08-10 at 15 51 01" src="https://user-images.githubusercon

[2021-08-10 14:03] draganescu commented on #33336
Does any other theme encounter this problem? Why is the entire Customizer affected?

[2021-08-10 14:16] annezazu commented on #33385
I was out last week and am just returning to see this lovely follow up. Thank you for the detailed response!

[2021-08-10 14:18] annezazu commented on #33336
I haven't done further testing with additional themes!

[2021-08-10 14:19] annezazu commented on #33954
Ah ha thank you for clarifying @ddryo - I'm going to leave this issue open as this seems to be something to address. cc @ryelle in case she has thoughts as someone who worked on the block directory implementation.

[2021-08-10 14:26] draganescu commented on #33479
I was able to repro with the latest Gutenberg trunk (10 Aug 2021) and WP 5.8.

[2021-08-10 14:38] mkaz commented on #10235
@BenBroide @x029a Can you explain with specifics what you mean by inline block and where you want to insert it?
Do you have an example of what exact markup you are trying to create?

My understanding of an inline block is something like a `span` or `img` tag. This is covered by [the format api](https://developer.wordpress.org/block-editor/how-to-guides/format-api/3-apply-format/), that example sho

[2021-08-10 14:41] strarsis commented on #10235
This appears to be quite similar to the classic editor TinyMCE custom styles API: https://codex.wordpress.org/TinyMCE_Custom_Styles

[2021-08-10 14:41] draganescu commented on #33336
Yea, I've only seen this with `twenty8teen`. I am unsure if this is fixable in any way (e.g. it's a wrong use of that filter) or if it _is a bug_ and we need to do something to the filter ❓ .

[2021-08-10 14:48] moerphie commented on #33946
Good advice! In fact, this was the issue.

`core/columns` was an allowed block type, but `core/column` was not included.
In version 5.7 this was not a problem, but with 5.8 it now triggered the error.

Thank you!

[2021-08-10 14:48] #33946 closed, assigned to nobody

[2021-08-10 14:50] fklein-lu opened #33977 "Use Global Styles or `theme.json` to style individual blocks"
## What problem does this address?

There's no secret that theme developers have been frustrated with the ability to style blocks.

There are a number of issues here:
1. Block classes are inconsistent. Not only between blocks, but also between the frontend and the backend.
2. Block markup changes. The most recent example would be the Group block removing the inner container.
3. Block styles can be

[2021-08-10 15:04] pbiron commented on #10235
Here's a typical use case I have (for which I have used shortcodes for years), for which I do not think the format API is suitable, but I would love to learn that I'm wrong on that.

I have a CPT, say `committee`, has a meta key/value for 'contact' (i.e., the person(s) to be contacted for that committee's business.  The value of that meta is one or more WP user IDs.  The WP users have an email add

[2021-08-10 15:12] strarsis commented on #10235
+1, I really like this! Having one snippet that can be globally used would be very useful, e.g. for a telephone number link.

[2021-08-10 17:05] vcanales opened #33980 "Look at automatically retrying E2E tests"
In the context of improving e2e test performance and stability, we can look into ways for retrying failing tests automatically. GitHub Action doesn't currently support this natively, and it doesn't seem to be coming yet, [regardless of community requests.](https://github.community/t/ability-to-rerun-just-a-single-job-in-a-workflow/17234/164)

One approach that I'm experimenting with is [caching pr

[2021-08-10 17:09] vcanales commented on #33532
Regarding this, I'm opening [#33979](https://github.com/WordPress/gutenberg/pull/33979/files) in order to experiment with re-running failed jobs instead of the entire workflow. I might look into automatically retrying if this works out; otherwise, my thought is that retrying full workflows would add way too much time to be worth it.

[2021-08-10 17:28] mkaz commented on #10235
@pbiron  You could probably create a stand alone block and allow for additional text to be added around it if needed. This might make it more flexible for widgets, or wherever you want it to be inserted. For example, create a Committee-Contact block that would display the dropdowns (maybe in the placeholder state) and then insert the correct link when selected and could include any additional mark

[2021-08-10 17:35] kevin940726 commented on #33532
@vcanales There's already https://github.com/WordPress/gutenberg/pull/31682, which works, but the consensus seems to be that we want to have a dashboard first to record all the failing tests.

[2021-08-10 18:01] SergeyBiryukov commented on #33929
Thanks for the report! Closing as fixed in https://core.trac.wordpress.org/changeset/51595.

[2021-08-10 18:01] #33929 closed, assigned to nobody

[2021-08-10 18:18] jffng opened #33985 "Responsive menu label"
It would be helpful if the responsive menu had the option to display a label on its open and close buttons, for example:

<img width="642" alt="Screen Shot 2021-08-03 at 12 31 54 PM" src="https://user-images.githubusercontent.com/5375500/128053401-6b147bfa-21d1-4d8c-bb18-8eb44cadf5bf.png">

I think this is a fairly common pattern, and maybe increases the accessibility of the responsive menu.

Sorr

[2021-08-10 18:18] pbiron commented on #10235
I'm not sure what you mean by that.

The point of these shortcodes (and hopefully their "inline block" equivalents) is that they can be used in the middle of a paragraph of text.  For example,

[2021-08-10 18:28] jeffpaul commented on #15821
@jdaviescoates checking in on #18768 is probably best as that's where folks are confirming approach, which will then either need to be updated in #17261 or crafted via a new PR.

[2021-08-10 18:29] tomalec opened #33986 "Caret is move unexpectedly to the middle, when deleting the list from the beginning."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you tried deactivating all plugins except Gutenberg?

- [X] I have tested with all plugins deactivated.

### Have you tried replicating the bug using a default theme e.g. Twenty Twenty?

- [X] I have tested with a default theme.

### Description

When I'm writing in a paragraph of text followed by a numbe

[2021-08-10 19:57] critterverse opened #33988 "Multi-entity saving with "unsaved changes" dot indicators"
Hi all, we’ve done a lot of exploration in #32464 around the saving flow for Reusable blocks and I'm opening this issue to discuss expanding on those ideas and potentially applying them to other blocks. This proposal is also based on the latest design for the multi-entity saving flow proposed by @javierarce in #31456, and could make a good follow up to that issue.

Here’s the save flow step-by-ste

[2021-08-10 20:10] caseymilne opened #33989 "FSE themes should have a way to set a default header and footer that maps to traditional header.php and footer.php in terms of backwards compatible loading"
## What problem does this address?
During a test of experimental FSE theme Proto we found that content from Better Docs plugin was rendered without our custom header and footer. The cause is that like many plugins it ships a page template that uses get_header() and get_footer(). These calls try to find header.php and footer.php and when the theme does not provide them it load a WP Core template he

[2021-08-10 20:10] sparklingrobots commented on #33916
Hi @caseymilne -- I just tested this on a 13" laptop screen, with the latest Firefox, and a fresh install of WP & Gutenberg.  I wasn't able to reproduce this issue.  Depending on context, the menu either loaded a scroll bar, like this:

<img width="650" alt="Screen Shot of Gutenberg menu loading with a scroll bar" src="https://user-images.githubusercontent.com/2217845/128927950-983faf6a-433c-4051-

[2021-08-10 20:26] caseymilne commented on #16483
Can we make something with a dashicon icon like ----------- icon --------------- with some alignment options for icon placement like:

---- icon -------------------------------
---------------------------- icon -------

[2021-08-10 20:32] caseymilne commented on #16479
Sorry if it's been already discussed but can the InspectorControls be grouped into a new component that could then be used consistently to provide backgrounds? And in situations where you might need to provide multiple backgrounds for 1 block (custom blocks might) then that component could be utilized again in multiple panels, like:

[code]

Any thoughts about using the same split as Elementor whi

[2021-08-10 21:29] sparklingrobots commented on #33936
I tested & can confirm this behavior.

Possible workaround for @Arskrigitsioniets, though: Have you tried making everything in the script into a single line, e.g.:
`<script>window.yaContextCb.push(()=>{Ya.Context.AdvManager.render({renderTo: 'yandex_rtb_R-A-460934-22',blockId: 'R-A-460934-22'})})</script>`

Let us know if that works for you.

[2021-08-10 22:28] charwick opened #33990 "Tag-cloud block arguments aren't filterable"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you tried deactivating all plugins except Gutenberg?

- [X] I have tested with all plugins deactivated.

### Have you tried replicating the bug using a default theme e.g. Twenty Twenty?

- [x] I have tested with a default theme.

### Description

Right now I'm using the `widget_tag_cloud_args` filter to m

[2021-08-10 22:34] Arskrigitsioniets commented on #33936
It doesn't help because Gutenberg forces the HTML to go to the next line when the current becomes too long, so I eventually get the same just with fewer lines.

[2021-08-10 23:41] wpfangirl commented on #15097
What happened to the PDF thumbnail image? It was in a version I tested, but didn't get added to the block that shipped in 5.8. PDF embeds are awkward and not accessible, and very rarely what I want. PDF thumbnails are already auto-generated by WordPress and available via [`wp_get_attachment_image()`](https://developer.wordpress.org/reference/functions/wp_get_attachment_image/).

[2021-08-11 01:39] glendaviesnz commented on #33794
I think the main issue is that by default the border is being applied to the `figure` wrapping div and not the image.

There is some working being [done here](https://github.com/WordPress/gutenberg/pull/31366) to get the border working correctly on the image for user selected border settings, and these are applied to the `img` tag so don't have the extra padding at the bottom:
<img width="627" alt

[2021-08-11 02:58] talldan commented on #33692
☝️ Seems I was not quite right about the previous comment. There's a specific feature in the post editor that causes the last block to be selected when clicking at the bottom.

I also tested clicking to the sides of the paragraph blocks in the post editor and couldn't reproduce an issue, but using the navigation block in the post editor the problem could be reproduced. That might imply it's someth

[2021-08-11 03:21] stokesman commented on #10235
Perhaps the way for Gutenberg to support something near to this concept with the least effort would be by extending the Group block to support inline layout (similar to flex support added in #33359). Though, it would be weird that the only core block for text would be Paragraph.

[2021-08-11 03:55] talldan commented on #33692
From what I can tell, this seems to happen in specific browsers. Clicking at the bottom of the nav editor to deselect blocks works in Firefox, but not in Chrome or Safari. Clicking at the sides doesn't work in any browser, so it may be a separate issue.

It also happens for blocks where a RichText element is styled as `inline-block`. In the post editor I can also reproduce with the Buttons block:

[2021-08-11 05:50] glendaviesnz opened #33993 "Block supports: value changes on block.json not reflected in block store after watch task runs"
Currently when making changes individual blocks metadata in block.json, the change is picked up by the dev watch process, and the change can be seen if logged out in the blocks index.js file at the point the block is being registered, but the change doesn't get reflected in the `core/blocks` store unless the dev watch process is restarted.

This means that changes to the block.json support setting

[2021-08-11 05:58] talldan commented on #24370
Related to this I started refactoring 'preferences' to a shared place in #33774

This happened after trying this for the widget editors:

It turned out to be not very maintainable, so it moved onto this:

[2021-08-11 06:27] Mamaduka opened #33994 "Template Mode: Preload `templates` OPTIONS"
Recently capability checks were added to some Templates actions, like creating a new template. See #33392.

It might be a good idea to preload `OPTIONS` for the `/wp/v2/templates` REST API path. Like we do for `media` and `blocks`.

Should I create PR for WP core, or might it be better to add this to the plugin first?

/cc @gziolo @youknowriad

[2021-08-11 06:49] talldan commented on #33993
It seems like this regressed in the last day, because initially I tested using a slightly outdated version of trunk (7479921047), and it works ok with that commit. https://github.com/WordPress/gutenberg/pull/33818 is the only change to the build process since then.

To describe how watch works, my understanding is that there are the following steps that make up the watch task:
- [watch.js](https:/

[2021-08-11 06:50] noisysocks commented on #33532
Agree that we need to fix conflicts as soon as possible and keep Gutenberg tested against the latest WordPress trunk. But I don't think conflicts should block _all_ developers (there are a lot of us now! 😀) from working and I really don't think we should have to deal with conflicts at very stressful times e.g. plugin release day. Being a Gutenberg developer should be fun and chill.

100%. Ideally

[2021-08-11 07:02] scheinercc opened #33996 "High specificity breaks two column layout between mobile and large viewports"
https://github.com/WordPress/gutenberg/blob/1eaad3cbad327e9fad5d8eef93c46aa773b7080b/packages/block-library/src/columns/style.scss#L46

Here I set the width of the image container on the left to `100px`
<img width="1131" alt="image" src="https://user-images.githubusercontent.com/817856/128979942-1e34f6e2-c6de-4545-b647-3acc0dfe1a47.png">

Once I hit the above linked break point the `100px` gets ov

[2021-08-11 07:09] fwazeter opened #33997 "Post Content block can be added infinitely in Template Editor"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you tried deactivating all plugins except Gutenberg?

- [X] I have tested with all plugins deactivated.

### Have you tried replicating the bug using a default theme e.g. Twenty Twenty?

- [X] I have tested with a default theme.

### Description

Attempting to use a post-content block in the block editor

[2021-08-11 07:12] jasmussen commented on #33988
Some good thoughts here. I'm a fan of the dot as bringing attention to unsaved changes, the use of it feels appropriate enough.

Save buttons on reusable blocks are handy as they are so contextual. I imagine it might work for template parts as well, though that one really surfaces the toolbar-width challenge. In both of these two cases, though, the fact that the Save button goes from disabled to c

[2021-08-11 07:37] gziolo commented on #33994
You can use the `block_editor_rest_api_preload_paths` filter in the plugin:

https://github.com/WordPress/wordpress-develop/blob/9b565f7907ca1d4cb32eccc980de98683758df17/src/wp-includes/block-editor.php#L412

I would say it's simple enough to apply in both places.

[2021-08-11 07:41] gziolo commented on #33980
Related PRs: #33979, #31682.

[2021-08-11 07:43] tellthemachines opened #33999 "Add all pages option doesn't work in Navigation screen"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you tried deactivating all plugins except Gutenberg?

- [X] I have tested with all plugins deactivated.

### Have you tried replicating the bug using a default theme e.g. Twenty Twenty?

- [X] I have tested with a default theme.

### Description

Can't create menu using "add all pages" option.

### Step-b

[2021-08-11 08:00] Mamaduka commented on #32594
I think I was able to reproduce the issue with the code @johnbillion provided. However, it's a little inconsistent.

The displayed result happens in specific scenarios and not for all tag combinations.

I also came across this issue while working on #33459, but I couldn't reproduce it, so I ignored it.

Tags are generedet using WP CLI:

[code]

## Screencast
https://user-images.githubusercontent.c

[2021-08-11 08:04] gziolo commented on #33993
I wouldn't be surprised if webpack v5 impacted that. I tested JS and CSS and watch mode but I forgot about `block.json` that has magical handling 😅

I did a quick test and I think that I know where the issue is. I added the following line to `packages/block-library/src/group/block.json`:
[code]

JavaScript file gets correctly updated by webpack:

<img width="623" alt="Screen Shot 2021-08-11 at 10

[2021-08-11 08:29] talldan commented on #33999
So basically the Page List block isn't supposed to be supported by default (unless the theme opts in to supporting more block types), since it's not backwards compatible with how classic menu items work. It already can't be added via an appender.

I think this issue is a bit bigger than just the nav screen too. In other editors it's possible for the Page List block to be unregistered, but because

[2021-08-11 08:35] simison commented on #33481
Reminds me of adding a declarative way to add support links for any block: https://github.com/WordPress/gutenberg/pull/11330

[2021-08-11 09:13] ntsekouras opened #34003 "Used attribute `itemsJustification` is not declared in block's schema"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you tried deactivating all plugins except Gutenberg?

- [X] I have tested with all plugins deactivated.

### Have you tried replicating the bug using a default theme e.g. Twenty Twenty?

- [X] I have tested with a default theme.

### Description

In https://github.com/WordPress/gutenberg/pull/28980 items

[2021-08-11 09:16] oandregal opened #34005 "How to provide default styles for the `block-editor` as a standalone package"
The `block-editor` was never concerned with providing the CSS for default colors, the CSS was there by other means. Historically, that CSS was provided by the `block-library`. Now, it's provided by server code of global styles.

In landing https://github.com/WordPress/gutenberg/pull/33924 we realized that there's a subtle coupling between `block-library` and `block-editor`: the `block-library` is

[2021-08-11 09:18] oandregal opened #34006 "Only enqueue default font-sizes once"
Related https://github.com/WordPress/gutenberg/issues/34138

We're now currently shipping CSS bundled via the JavaScript packages that are enqueued by the global stylesheet as well. We need to consolidate this for all the use cases we have: themes with and without theme.json whether or not they declare a custom palette and gradients.

[2021-08-11 10:00] youknowriad commented on #33997
Hi there!

I tried adding a post-content block inside the template editor, the first one works but if I try to add a second one inside I get the error message. So it seems everything is working as intended for me.

[2021-08-11 10:15] fwazeter commented on #33997
That is utterly fascinating. I mean, that totally makes sense as the standard behavior.

Let me dig into this a little more on reproducing what's going on.

[2021-08-11 10:23] fwazeter commented on #33997
@youknowriad

Here's the duplication on WP 5.8, Gutenberg 11.2.1 & TT1 blocks theme. (local server config: Nginx, PHP 7.4.1, MariaDB 10.4.10)

Edit to add: this same behavior happens in my own themes and a few other themes I tested, but used TT1 blocks for standardization in example.

https://user-images.githubusercontent.com/38684085/129013160-4fa1a3b9-a350-4a80-affc-87e372fd06df.mp4

[2021-08-11 10:51] youknowriad commented on #33997
@fwazeter I understand better, thanks for the screenshot. That's actually not a bug but it's intended. The same way you can show the post title multiple times (imagine, one in the header, one in the footer), you're able to show post content in any place you want, as much as you want. What we prevent is recursively: "showing post content inside post content". I agree that the use-case for this as p

[2021-08-11 11:06] fwazeter commented on #33997
@youknowriad

That adds some clarification, and really, in an existing theme absolutely nothing stops you from adding the_content() as much as you want, and functionality should be as flexible as is reasonably possible in core. Although, now I'm trying to think of a use case where it makes sense...maybe if someone is using a CPT for a content feature, like an FAQ or quote or something (although, t

[2021-08-11 11:06] Mamaduka commented on #33994
Thanks for the feedback, @gziolo.

I assume `lib/compat/wordpress-5-8` will be the right directory for this code, right?

[2021-08-11 11:28] ntsekouras commented on #30338
Fixed by: https://github.com/WordPress/gutenberg/pull/34002

[2021-08-11 11:28] #30338 closed, assigned to nobody

[2021-08-11 11:28] ntsekouras commented on #33897
Fixed by: https://github.com/WordPress/gutenberg/pull/34002

[2021-08-11 11:28] #33897 closed, assigned to nobody

[2021-08-11 12:00] gziolo commented on #33994
Yes, it only should be `lib/compat/wordpress-5-9` as we are bridging functionality that is going to be included by default in WP 5.9.

[2021-08-11 12:11] derektor commented on #8748
I confirm, that the problem exists still. As shown in first post (https://github.com/WordPress/gutenberg/issues/8748#issue-348975278) there is no filter with "Mine" when adding image from media library in block editor.

(Surprisly when adding gallery the filter exists. When adding thumbnail to the post - the filter exists.)

Does anyone know when it will be fixed ?

[2021-08-11 12:47] youknowriad commented on #33997
Exactly, there might be some iterations to be done on some placeholder state or something for empty post content to make it clearer.

Thanks for your feedback.

[2021-08-11 12:47] #33997 closed, assigned to nobody

[2021-08-11 12:51] richtabor opened #34010 "Set Parent Group block alignment while editing Template Part"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you tried deactivating all plugins except Gutenberg?

- [X] I have tested with all plugins deactivated.

### Have you tried replicating the bug using a default theme e.g. Twenty Twenty?

- [X] I have tested with a default theme.

### Description

I should be able to modify a parent group block's alignment

[2021-08-11 12:52] Mamaduka commented on #28429
I think this line is the culprit for this issue:

https://github.com/WordPress/gutenberg/blob/29cd8eda717ec20a33ab4b95855652be758dd58d/packages/core-data/src/queried-data/selectors.js#L70-L72

This check will abort the loop and return `null` when we have itemId (from includes) but not the actual item in the state.

The fix seems easy, but I want to do more tests before creating PR to avoid regress

[2021-08-11 13:11] getdave commented on #29102
I've moved all [the items from @javierarce's list](https://github.com/WordPress/gutenberg/issues/29102#issuecomment-885584039) that are not `Type: Bug` into the most appropriate places I could find.

Note this Issue's tasks are going to be re-prioritised in the near future. I will update here regarding when and where that will happen.

[2021-08-11 13:16] getdave commented on #29102
## Update - 2021-08-11

* Work has continued on bug fixes and stability.
* Looking to define what is required to bring the Nav Editor out of "experimental".
* To this end, the team is looking to arrange a hallway hangout (or similarly public forum) to compare/contrast the classic navigation screen with the block-based navigation screen.
* We're also looking to filter out or break down any "Epic" I

[2021-08-11 13:52] NicestRudeGuy opened #34013 "`taxonomy` data in `core` store doesn't get invalidated when new terms get added"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you tried deactivating all plugins except Gutenberg?

- [X] I have tested with all plugins deactivated.

### Have you tried replicating the bug using a default theme e.g. Twenty Twenty?

- [X] I have tested with a default theme.

### Description

I ran
[code]
 in console so i get the current categories in

[2021-08-11 14:38] fwazeter commented on #33989
This makes a lot of sense - as is, if you have a .php file with a higher specificity than your .html file, the .php file will take priority in rendering. For example - if you have singular.html in your /block-templates/ dir, and a single.php in your normal directory, the single.php will take priority over the singular.html.

Currently, some of the backward compatibility / use as much of FSE as pos

[2021-08-11 14:38] digamber89 commented on #18055
Slack brought me here - full page layouts I think is a fantastic idea - that would greatly enhance the usability of blocks.
Theme authors can create great page - designs and instead of creating a block template - would create full page layout patterns - that can be used, there isn't anything blocking block patterns to be used like this now.
But a UI/UX that allowed / distinguished full page patter

[2021-08-11 15:04] getdave commented on #33977
@nosolosw might be able to provide some insight here.

[2021-08-11 15:17] fwazeter opened #34015 "Template settings panel in Block Editor is unclear on user actions."
## What problem does this address?
Currently, when you load up a post and the available Template's get populated in the Template Settings panel in the Block Editor, you see a drop down with "Default Template" and the available options. Underneath it you have Edit or New options to take you to the Template Editor.

Because there's a dropdown with the current/default front end template selected, whe

[2021-08-11 15:22] loyukfai commented on #33609
Thanks for mentioning issue #30378, would we be so lucky to see these added in the next release? 😊

[2021-08-11 15:25] oandregal commented on #33977
If I get this right, the essential question here is: why don't we move all the CSS we can from the `block-library` package (core blocks) to [core's `theme.json`](https://github.com/WordPress/gutenberg/blob/trunk/lib/theme.json)?

I think this is worth exploring. I actually had a draft PR for a block at some point. We need to be aware it doesn't solve everything (third-party blocks's CSS can't be m

[2021-08-11 15:27] annezazu opened #34016 "Navigation Block sub-menu "more" indicator icon is off center in editor"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you tried deactivating all plugins except Gutenberg?

- [X] I have tested with all plugins deactivated.

### Have you tried replicating the bug using a default theme e.g. Twenty Twenty?

- [X] I have tested with a default theme.

### Description

When you add a sub-menu item of a sub-menu item (two layers

[2021-08-11 16:08] kraftner commented on #33344
This sounds generally sane to me.

@gziolo Sorry for my ignorance on the process, but for WordPress Core - when is `wp-package-update` run? Is it only when packages are updated or also when new ones are added? Just checking so nothing slips through the cracks...

[2021-08-11 16:13] kraftner commented on #19930
Any news on this? Also @strarsis could you reference the PR you are talking about?

[2021-08-11 16:33] nickfmc commented on #15042
I don't understand why WP decides that some blocks.. Paragraph/blockquote/etc don't deserve an alignwide/full option. however a Heading block that is semantically the same as a paragraph gets them?? In my theme setup everything works perfect except for nesting blocks that do not have alignwide options, so I'm telling people to manually add that class to certain blocks? if WP is making the decision

[2021-08-11 16:40] kraftner commented on #11671
@aristath If you find the time - could you be so kind and reference those PRs so this issue doesn't become a dead end? :pray:

[2021-08-11 16:49] dashkevych commented on #33512
It would be great if there was a [fallback](https://github.com/WordPress/WordPress/blob/9937fea517ac165ad01f67c54216469e48c48ca7/wp-includes/class-wp-theme-json-resolver.php#L218) for `theme.json` located in the parent theme if the child theme does not have one.

[2021-08-11 17:51] nickfmc commented on #31429
can we just expand this to add or have the option to add the wide/full alignments on all blocks? by choosing to only have this on some blocks, WP is basically deciding how you should setup your themes front end block layouts, only without providing any suggestions.  if you were to add an align-wide block group and inside it you had a blockquote, it is forced to your narrow wrapper, with no way to

[2021-08-11 18:42] skorasaurus commented on #33583
very similar/overlaps with https://github.com/WordPress/gutenberg/issues/21452 which proposes to use a block's content as the name

[2021-08-11 20:20] annezazu commented on #33988
Thanks for exploring this further! I'm curious what this will look like at scale if many of these items are edited but not yet saved. Do you have an exploration of that? Because I see saving flows as being similar between template parts and reusable blocks, it's good to see the design for one applied to the other. I think that consistency will help. I do still have a lingering and light concern th

[2021-08-11 21:16] Publikanguro commented on #9221
[image: Image]

Obtén Child Theme Divi-Commerce

https://publikanguro.com

Descarga Child Theme
Divi -Ecommerce por solo
$10 USD

En la compra de tu Child Theme Obtienes una *API KEY 100% GRATIS*

[image: Image]

Visita nuestra WEB
PUBLIKANGURO
<https://www.cloudhq-mkt24.us/mail_track/link/b555df61a7b816c016_1628716578000?uid=1886204&url=https%3A%2F%2Fpublikanguro.com%2F>
DESCARGAR PDF
<https://ww

[2021-08-11 21:16] Publikanguro commented on #9221
[image: Image]

Obtén Child Theme Divi-Commerce

https://publikanguro.com

Descarga Child Theme
Divi -Ecommerce por solo
$10 USD

En la compra de tu Child Theme Obtienes una *API KEY 100% GRATIS*

[image: Image]

Visita nuestra WEB
PUBLIKANGURO
<https://www.cloudhq-mkt22.us/mail_track/link/a32709256ace695f54_1628716585000?uid=1886204&url=https%3A%2F%2Fpublikanguro.com%2F>
DESCARGAR PDF
<https://ww

[2021-08-11 21:16] Publikanguro commented on #9221
[image: Image]

Obtén Child Theme Divi-Commerce

https://publikanguro.com

Descarga Child Theme
Divi -Ecommerce por solo
$10 USD

En la compra de tu Child Theme Obtienes una *API KEY 100% GRATIS*

[image: Image]

Visita nuestra WEB
PUBLIKANGURO
<https://www.cloudhq-mkt12.us/mail_track/link/a02ea44b7355877796_1628716592000?uid=1886204&url=https%3A%2F%2Fpublikanguro.com%2F>
DESCARGAR PDF
<https://ww

[2021-08-11 22:24] azaozz opened #34023 "Parsing: Improving the handling of whitespace between block nodes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you tried deactivating all plugins except Gutenberg?

- [X] I have tested with all plugins deactivated.

### Have you tried replicating the bug using a default theme e.g. Twenty Twenty?

- [X] I have tested with a default theme.

### Description

This is a follow-up to https://github.com/WordPress/gutenbe

[2021-08-11 22:40] dmsnell commented on #34023
I don't have strong feelings on this. There seems to be space to make a practical concession for the cases where the editor intentionally adds newlines on its output. If I remember further back decisions were made to make the output HTML pretty (i.e. easier to look at, copy, and edit from the text view) which is the reason for the discrepancy.

Technically I probably agree with @mcsf that this is

[2021-08-11 23:02] azaozz commented on #34023
Right. If somebody adds them, that would be "user intention" and blocks should be created. The problem is mostly that there's a discrepancy between saving and loading of the content. For example, saving a post with three paragraph blocks will produce markup with three blocks in it. However loading that post in the editor will produce five blocks, three paragraphs and two freeform. This is an incon

[2021-08-11 23:10] dmsnell commented on #34023
@azaozz I agree, and I feel like you restated my suggestion from a different perspective. My suggestion is that we fix this more or less where it's created: in the editor or through a WP filter, not by changing how we parse and interpret the document.

[2021-08-11 23:51] walbo commented on #33993
Seems like it has to do with `watchOptions.ignores` in wepack.

Currently all files in `src` are ignored. This is fine for the `.js` and `.scss` files because they are build to `build` and `build-style` outside of `src` before webpack picks them up.

Created a PR (#34024) to only ignore files handled by the build script.

[2021-08-12 01:00] noisysocks commented on #33810
This was definitely a pain point for me during 5.8 and I love the proposal @gziolo.

How can we proceed? Bump the minimum supported version to 5.7 and refactor the plugin PHP into `lib/compat/5.8` and `lib/compat/experimental`?

[2021-08-12 03:10] talldan commented on #34013
Thanks for reporting. I don't think this is a bug, but how the system works. A page refresh isn't required.

What's happening is that when creating a new category, the entity cache is invalidated. Because of that, when using `wp.data.select("core").getEntityRecords("taxonomy", "category")` an HTTP request is made in the background to fetch the terms (check the network tab to see this happen).

Onc

[2021-08-12 03:10] melchoyce commented on #32551
Related: https://github.com/WordPress/gutenberg/issues/13335

[2021-08-12 06:47] fklein-lu commented on #33977
My thinking covered both Core and third party blocks.

The JSON file with the styles would be placed inside of the block's directory, the same as `block.json`. This way every block is shipped with it's own styles.

Of course this would mean adding code to handle parsing of this new JSON file. I consider that splitting up the styles per block not only makes this work for all blocks (not just Core's

[2021-08-12 08:05] jasmussen commented on #34016
I'm having a hard time reproducing this one, can you provide some additional steps to reproduce, including which theme you are testing with? Perhaps even some example content.

[2021-08-12 08:07] oandregal commented on #33977
Adding more thoughts to the issue of overriding block styles: by using a system that's easily overridable by the theme, we could ship the opinionated block styles _by default_ and get rid of [`wp-block-styles` block support](https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-support/#default-block-styles), which is all or nothing (doesn't allow per-block opt-in).

[2021-08-12 08:07] oandregal commented on #33977
JFYI @jasmussen @youknowriad

[2021-08-12 08:10] overclokk commented on #33512
@dashkevych yes, this is something similar to this issue https://github.com/WordPress/gutenberg/issues/33959 as well.

[2021-08-12 08:21] gziolo commented on #33810
Yes, we need to start with bumping the minimum WP version to 5.7 and removing all code that exists only to polyfill WP 5.7 and lower. It might require some detective work in places where we don't have good comments in the code.

The next step would be code reorganization so we end up with the following folders:
- `lib/compat/5.8` – code that polyfills functionality added to WP 5.8 to make the plug

[2021-08-12 08:23] #33993 closed, assigned to nobody

[2021-08-12 08:25] gziolo commented on #29524
As tested in #33892, it's no longer an issue with the most recent version of npm v7.

[2021-08-12 08:25] #29524 closed

[2021-08-12 09:01] getdave commented on #32723
## Update - pattern-based approach is a "no go"

Following lots of discussion and experimentation [we've discovered that the pattern based approach is a "no go"](https://github.com/WordPress/gutenberg/pull/33881#issuecomment-897382287).

Therefore, we're going to proceed with a new block, but this will be renamed to "Widget Group" ("Box" was always a working title 😄 ) and refined so as to provide

[2021-08-12 09:08] jasmussen commented on #27593
On behalf of @georgeh I checked the "Add a separate color overlay option" 🏅

[2021-08-12 09:09] jasmussen commented on #18395
Some draft mockups for choosing the behavior are being bounced around in https://github.com/WordPress/gutenberg/pull/33775#issuecomment-897473352.

[2021-08-12 09:12] javierarce opened #34032 "Fix spacing issues in the mobile version of the Navigation editor screen"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you tried deactivating all plugins except Gutenberg?

- [X] I have tested with all plugins deactivated.

### Have you tried replicating the bug using a default theme e.g. Twenty Twenty?

- [X] I have tested with a default theme.

### Description

There are a couple of minor issues in the mobile version of

[2021-08-12 09:21] tzugen opened #34033 "Query Loop Block: Add support for post_parent (Only show child pages)"
## What problem does this address?
I thing that I encounter frequently is the need to list or preview the child pages of the currently viewed parent page.
This is currently not really possible with the Query Loop Block.
I found a workaround (assigning the child pages a new author, in order to be able to filter them) but thats not really nice.

## What is your proposed solution?
Variant A:
A checkb

[2021-08-12 09:36] Mamaduka commented on #28429
The PR is ready for review #34034.

[2021-08-12 09:40] youknowriad commented on #33977
I think using `block.json` to style a block sounds like a good idea to me: instead of linking to a CSS file, allow using a theme.json like config.

I don't think it should cover all block styles though, there's a lot of things we don't want to allow in theme.json styles.

[2021-08-12 09:48] javierarce opened #34035 "Improve how different types of nav items are rendered on the Navigation screen"
The current design of the menu items is quite messy right now. For simple menus, it's probably fine… but when there are different items and empty states, the interface becomes cluttered.

Here's an extreme example:

![image](https://user-images.githubusercontent.com/4933/129174171-0da7dd1f-ef5f-4fcb-81c7-91b41dcacb50.png)

Some of the things that would improve how menus look like could be:

- Unif

[2021-08-12 09:49] Mamaduka commented on #22270
Hi, @draganescu

I think we can close this one. A user details can be fetched via `wp.data.select('core').getUser(userId);` selector.

The code referenced in the original comment was later updated to use this selector.

[2021-08-12 09:51] talldan commented on #29148
A question about the button in List View ... how do we reconcile that with the desire to also have block movers and other UI (like editable block names) in List View?

It feels like trying to cram a lot in. I'm also ignoring the past resistance from the accessibility team when it comes to introducing grid keyboard interaction patterns in List View.

Could it be worth trying the list view toolbar i

[2021-08-12 09:55] Mamaduka commented on #11700
Should we close this issue since #11643 got resolved?

* The `HierarchicalTermSelector` component was refactored to use core data - #33418.
* and `FlatTermSelector` refactoring is in progress - #33459.

[2021-08-12 09:59] carlomanf commented on #34033
#31272 is closely related.

[2021-08-12 10:05] sagarnasit commented on #24953
It would be nice to have a comment count as a class something like `comment-count-1`, `comment-count-2`...

This will help to add CSS based on singular and plural comment count.

[2021-08-12 10:09] javierarce opened #34036 "Width of long items affect other items on the Navigation editor screen"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you tried deactivating all plugins except Gutenberg?

- [X] I have tested with all plugins deactivated.

### Have you tried replicating the bug using a default theme e.g. Twenty Twenty?

- [X] I have tested with a default theme.

### Description

If a user adds a long item, the width of the element affect

[2021-08-12 10:09] javierarce commented on #34035
Related issue:

- #34036

[2021-08-12 10:17] fklein-lu commented on #33977
I consider that this is both outside of the scope of this ticket, and not a good idea.

First of all WordPress' dedication to backwards compatibility means that a feauture that is opt-in cannot be changed to opt-out (or override as in this case). This is because such a change would break existing theme styles on upgrade.

Second what I do see here as the end goal, and correct me if I'm wrong, is t

[2021-08-12 10:25] mtias commented on #29148
@talldan yes, starting with template parts because it's the one that needs it the most, but we should extend it to reusable blocks which are the other kind of symbol. I'd avoid adding it to normal blocks.

It's not yet clear what items would be exposed (movers, ellipsis, locking, spotlight/focus mode, insert before/after, delete, etc). The toolbar for list view feels quite disconnected from the it

[2021-08-12 10:27] jasmussen commented on #33977
To echo Riad, styles in block.json make a lot of sense: most of the existing styles were created in that early space between themes an block themes where some blocks needed some visual indication of their behavior in absence of editor styles that didn't yet exist. Since then and especially with block themes, more and more of those styles have been refactored away in favor of editor styles, global

[2021-08-12 10:52] mtias commented on #33985
I think we discussed allowing a button (with customizable text) or the icon, but not a mix. cc @jasmussen

[2021-08-12 11:38] mtias commented on #30370
Where are we with this one now that the component is ready?

[2021-08-12 11:52] #33283 closed, assigned to getdave

[2021-08-12 12:10] mtias opened #34041 "A Lighter Navigation Block Experience"
It would be an understatement to say the navigation block has been one of the most challenging parts of phase 2. It has been a vehicle for countless improvements to the block framework, bringing substantial enhancements to the APIs, the block list view, inner blocks, variations, and so on.

So far we have deconstructed the problem of navigation through a suite of blocks and functionalities that ra

[2021-08-12 12:25] NicestRudeGuy commented on #34013
@talldan it never gets resolved automatically , I ran `setInterval(() => console.log(wp.data.select("core").isResolving("taxonomy", "category")) , 2000);
` to see if it will ever get resolved but it never did i still see the older store

[2021-08-12 12:34] draganescu commented on #22270
🆗

[2021-08-12 12:34] #22270 closed

[2021-08-12 12:49] priethor commented on #33094
**Update:** added "A lighter Navigation Block Experience" as a complement to the existing Navigation Block Tracking Issue #34041

[2021-08-12 13:24] dcalhoun commented on #30976
Following up to share that I have noticed that redoing _insertion_ of a Quote block loses subsequent redo history. Similar to https://github.com/wordpress-mobile/gutenberg-mobile/issues/2499.

[2021-08-12 14:03] annezazu commented on #34016
You're in luck :D I found this while doing the latest call for testing: https://make.wordpress.org/test/2021/08/11/fse-program-testing-call-9-handling-highered-headers/ There's demo content listed [here that you can import](https://cloudup.com/cei9RrWS12R) (just select Download in the top right). I was using TT1 blocks, GB 11.2.1, WordPress 5.8.

The replication steps are pretty simple but to get

[2021-08-12 14:39] #28429 closed

[2021-08-12 14:56] tomalec opened #34044 "e2e-test-utils does not help much with creating admin URLs"
## What problem does this address?

I'd like to make use of e2e utils to go to the admin page of my plugin, precisely `http://localhost:8084/wp-admin/admin.php?page=wc-admin&path=%2Fgoogle%2Fsetup-mc'`, out of my plugin-specific path (`/google/setup-mc/`)

I tried to use `utils` to make that easier, but they happen to give more confusion and frustration than value, as in the end I need my own help

[2021-08-12 15:08] blachawk commented on #12511
Whats the latest on implementing this? Can't wait.

[2021-08-12 15:30] skorasaurus commented on #12511
@blachawk

It appears that Gutenberg developers aren't making this a priority and still needs to be designed from a technical standpoint.. :(

You can track its progress at https://github.com/WordPress/gutenberg/issues/17099 and subscribe to that issue to be notified of updates.

[2021-08-12 15:33] getdave commented on #22641
I just hit this issue when working on the WP.org Make Blog. I assume it's fairly complex to fix?

[2021-08-12 15:45] skorasaurus commented on #24508
I'm not able to reproduce this with your instructions; the markup of the navigation block has changed quite a bit.

an example with the markup from gutenberg 11 is below; ran it through axe with no problems.

![image](https://user-images.githubusercontent.com/955351/129226898-adc609cd-6a52-423a-8fad-779630c13079.png)

[2021-08-12 15:45] #24508 closed

[2021-08-12 16:06] steveangstrom commented on #33251
I agree on the importance of List View multi-select.
With the editor separating every paragraph into a block and my clients like to write large tracts its very difficult for them to move a section of text.
**You will see in the below image -** the client wishes to move the block of paragraphs and two of the headings into the column.
Currently this is an arduous task, impeded by the anonymity of th

[2021-08-12 16:51] markhowellsmead opened #34047 "Inline CSS for query block is too specific"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you tried deactivating all plugins except Gutenberg?

- [X] I have tested with all plugins deactivated.

### Have you tried replicating the bug using a default theme e.g. Twenty Twenty?

- [X] I have tested with a default theme.

### Description

The new query block adds inline CSS; the use of !important

[2021-08-12 17:44] caseymilne opened #34050 "Bundled ComponentSets for InspectorControls"
## What problem does this address?

To provide consistent design controls for most major design concerns. In other words to ensure that all elements can be spaced with padding and margin, all elements can have backgrounds, all elements can have font controls.

## What is your proposed solution?

Individual controls such as box controls used for padding and margin are bundled into ComponentSets. Fo

[2021-08-12 17:45] caseymilne commented on #34050
Please mention in comments if you know of existing tickets that propose a similar bundling of components or standardization of inspector control component usage.

[2021-08-12 18:26] k-boikov commented on #27212
Hi, I think that fix/improvement has suffered a regression in https://github.com/WordPress/gutenberg/pull/30197
Tested the way the original author reported and in 10.2 it works (it preserves the colors) but that introduced the bug copying multiple blocks copies only the first one. That is fine after updating to 10.3.2 (copying multiple blocks works as expected) but the colors are no longer preserv

[2021-08-12 18:28] iandunn commented on #33512
This seems like a duplicate of #25612, is there anything unique here that I'm missing?

If not, this can be closed.

[2021-08-12 19:55] grantgeard opened #34052 "Group block loses inner container element when theme.json is enabled"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you tried deactivating all plugins except Gutenberg?

- [X] I have tested with all plugins deactivated.

### Have you tried replicating the bug using a default theme e.g. Twenty Twenty?

- [X] I have tested with a default theme.

### Description

For themes **_without_** a theme.json file, the group block

[2021-08-12 20:10] matthewfarlymn commented on #27913
I understand these can be disabled/enabled through JS but when enabling/disabling based on user->role the hook is much more beneficially.

Does anyone know how to accomplish a user->role based approach in JS?

[2021-08-12 20:49] jasmussen opened #34053 "Block toolbar is cropped when the block is toward the right side of the screen"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you tried deactivating all plugins except Gutenberg?

- [X] I have tested with all plugins deactivated.

### Have you tried replicating the bug using a default theme e.g. Twenty Twenty?

- [X] I have tested with a default theme.

### Description

The block toolbar should be able to bump against screen edg

[2021-08-12 20:51] jasmussen commented on #34053
I could swear this used to work. @ellatrix do you recall?

[2021-08-12 21:29] grantgeard opened #34054 "Root blocks that have been aligned retain their alignment classes after being nested"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you tried deactivating all plugins except Gutenberg?

- [X] I have tested with all plugins deactivated.

### Have you tried replicating the bug using a default theme e.g. Twenty Twenty?

- [X] I have tested with a default theme.

### Description

With theme.json limiting alignment options to root level bl

[2021-08-12 21:55] annezazu opened #34056 "Navigation block: "Space Between Items" doesn't show on front end"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you tried deactivating all plugins except Gutenberg?

- [X] I have tested with all plugins deactivated.

### Have you tried replicating the bug using a default theme e.g. Twenty Twenty?

- [X] I have tested with a default theme.

### Description

When using the Space Between Items for the Nav block, it ap

[2021-08-12 22:00] azaozz commented on #33832
Been looking at this for a while, see several bugs and inconsistencies with how FreeformContentHandler is used. For this particular case the most straightforward fix seems to be to run the FreeformContent through wpautop only when editing a post as `pre_wpautop` was applied in the old editor only when saving posts.

[2021-08-12 22:03] chthonic-ds commented on #34052
This is the intended behaviour, the inner div was deprecated a few months ago for themes with a theme.json.

See:
- https://github.com/WordPress/gutenberg/issues/30443
- `wp_restore_group_inner_container()` in https://github.com/WordPress/WordPress/blob/a2a8b77806aa9f60c4271cb8d277761c13461faa/wp-includes/block-supports/layout.php#L120

[2021-08-12 23:15] #33048 closed, assigned to tellthemachines

[2021-08-13 06:07] grantgeard commented on #34052
@chthonic-ds thanks for the information! It still seems to me like unexpected behavior for the structural markup of the block to be changing since that is not something that theme.json seems like it can otherwise effect.

If I'm approaching this layout the wrong way, what would be the intended or generally accepted way to achieve the design pattern I mentioned? If I have a full-width block in the

[2021-08-13 06:36] chthonic-ds commented on #34052
The intended way to achieve that pattern is by enabling the "Inherit default layout" toggle for the Group block:

![group-block-layout-inherit-default](https://user-images.githubusercontent.com/29587253/129314837-13b21985-42d7-46c6-994e-c842226ef3a4.jpg)

This depends on values being set for `contentSize` and `wideSize` in your theme.json. For example, in TT1 Blocks theme you'll see this:
[code]
H

[2021-08-13 08:35] hypest commented on #32409
We could also consider making the [scrollbar persistent](https://reactnative.dev/docs/scrollview#persistentscrollbar-android) though that's only available on Android.

[2021-08-13 11:02] VR51 commented on #31163
From my point of view, the best approach would be to

1. leave management of reusable blocks to the reusable blocks management/admin screen, and
2. change the default behaviour when a reusable block is inserted into a page so that every reuse of a reusable block is inserted as a regular editable template

To me the whole point of a reusable block is that it can be inserted into page content and th

[2021-08-13 11:10] ntsekouras commented on #33154
Should this issue be closed now that @aristath 's patch was committed?  Also the inline styles have been moved here: https://github.com/WordPress/gutenberg/pull/32083

[2021-08-13 12:54] javierarce commented on #29102
Here are the last three issues I've recently created related to the editor. The first one is the most important and probably key to have a nice experience creating menus.

- #34035
- #34036
- #34032

I've added them (plus others from my previous message) to the original post on top. The only issue I see that is not categorized is:

- #30006

[2021-08-13 13:22] caseymilne opened #34072 "Copied navigation items (Page Link Block, possiby others) have internal ID that is copied so the navigation context (active classes) are applied to the copy incorrectly"
### Description

When a Page Link is made from an existing menu it has an internal "id" which references the menu item ID (presumably). This can be viewed in editor code mode. If you duplicate the Page Link block, it's internal ID is copied. The result is if you copy a nav item it still has the same reference which means on the front-end each copy will appear active when you visit the original lin

[2021-08-13 13:25] #30505 closed, assigned to Mamaduka

[2021-08-13 13:41] withmukeshjoshi commented on #20450
I am getting this error while running npx @wordpress/create-block in terminal. I have node v14 and npm v7 installed already.
OS: Ubuntu: 20.04

Minimum system requirements not met!
Error: Wanted node version >=12 (>=12.0.0)

![Screenshot from 2021-08-13 19-13-06](https://user-images.githubusercontent.com/43911307/129366259-b8fc3e2a-8ec4-4bd1-bd07-e04100b1c367.png)

[2021-08-13 13:49] withmukeshjoshi commented on #20450
Note: The issue occurs with the Node v14.17.5 LTS.

After I update my node to v16*, the script started working.

[2021-08-13 14:24] grantgeard commented on #34052
I've reviewed the inherit default layout option and the TT1 theme and this looks to be more or less what I was looking for.

This method looks like it allows you to set the alignments of the children individually, which is nice, but it also seems to assume that you want the individual children to be the actual width defined in the layout as opposed to just falling within that width as it would wor

[2021-08-13 14:52] carolinan opened #34074 "Navigation block is missing the closing </ul> when "start empty" is used."
### Description

When a navigation block is added with the start empty option, the HTML is invalid.
The closing `</ul>` that should match the `<ul class="wp-block-navigation__container">` is missing.

### Step-by-step reproduction instructions

1. In the block editor, create a post or page and add a navigation block.
2. Select Start empty
3. Add a navigation link item like a post or page.
4. Save

[2021-08-13 15:13] Johanwalter opened #34075 "Block "Slider""
I often try to find a way to make a slider with Gutenberg, slider that could be on home page but also could be image slider in page.

Slide could have only images (like gallery or could be made from cover with possibility to include columns,  heading, text, button, colum included

Options
-  choose number of slides
- design of pagination from one slide to an other (bullet, dash, color etc…)
- navi

[2021-08-13 18:13] #33920 closed, assigned to mikejolley

[2021-08-13 18:25] skorasaurus commented on #24301
For me, I am able to place an empty columns block into a group block within the post editor as indicated in the screenshot below.

![image](https://user-images.githubusercontent.com/955351/129402517-b4d01fab-94ec-46ba-beaa-adfdbf1f843e.png)

Clarification: when I first originally reported this issue; I was not able to move a columns block with content inside it into a group block; but that has bee

[2021-08-13 19:09] hogash commented on #13363
I don't see how this feature could be future proof.  No one can predict the future and this delay complicates things for all developers which are adding their own stuff because it's super needed. That's why each block bundle has its own version of similar blocks and only adds more confusion for users.

The current standard is for 3 breakpoints, or 5 of including lanscape modes. There should just b

[2021-08-13 19:21] mpeshev commented on #33769
Still not sure why it isn't pulling the right attachments from the previous gallery, but I found that the [view](https://github.com/WordPress/WordPress/blob/master/wp-includes/js/media-views.js#L7226) only contains the new entries before rendering the new modal instead of pulling the previous collection too.

It may be related to the [trigger](https://github.com/WordPress/WordPress/blob/master/wp-

[2021-08-13 23:27] chthonic-ds commented on #34052
I've noticed the line seems a bit blurry as to what is intended to be a Gutenberg default vs. something a theme is expected to manage. In this case I suspect the expectation is for the theme to manage the misalignment you've noted (though I might be missing something obvious here... so far I've opted to use custom CSS for themes instead of the CSS shipped with Gutenberg).

Perhaps it makes sense t

[2021-08-14 03:40] deborah86 opened #34079 "New Block: Tabs"
## What problem does this address?

It is difficult to display a lot of grouped content on a page. The only option is to have all the content display at once on a page because there are no core blocks that hide and show content. A lot of third-party blocks do not follow the standards for tabs.

## What is your proposed solution?

The proposed solution is to have a core tab block. See the examples

[2021-08-14 03:43] deborah86 commented on #31708
After the 5.8 update, I am no longer seeing this issue. If it occurs again, I will reopen this ticket.

[2021-08-14 03:43] #31708 closed, assigned to nobody

[2021-08-14 04:15] deborah86 opened #34080 "Replace Post Formats with Proper Schema Markup"
## What problem does this address?

It is frustrating to not be able to add proper schema types to pages and posts. Schema is beneficial for SEO.

Gutenberg has the Post Format types but these do not integrate with schema types. These are also only available on posts and not pages. As WordPress moves closer to FSE, this feature will become more obsolete.

## What is your proposed solution?

The so

[2021-08-14 04:22] deborah86 commented on #28564
I was going to suggest this. Is this idea still being considered?

[2021-08-14 04:30] deborah86 commented on #805
My suggestion would be for a user to be able to add links to the playlist so that files hosted elsewhere are available in the playlist block when it finally becomes available.

[2021-08-14 04:34] deborah86 opened #34081 "Directory for Templates and Template Parts"
## What problem does this address?

It might be difficult for some users to style a specific page. Especially if their theme does not come with a template that they need.

## What is your proposed solution?

My solution is to have a directory for templates and template parts for users to choose from. It would be similar to the directory for blocks and block patterns.

[2021-08-14 08:47] draganescu commented on #33969
Excellent perspective @talldan! I also think for the immediate future we should consider lowering the focus on this opt in, at least until the standard classic WordPress menus are solved by the block navigation editor.

For opt-in improvements:

- Big ➕ for saving the block HTML as is, it's pointless to lose features
- Switching themes with and without opt-in should result IMO in data preservation

[2021-08-14 10:16] draganescu commented on #29747
I don't think the style of the navigation block's edit in the navigation editor is meant to be used elsewhere. In block editors (say post or template parts) there is a visual matching between the editable and the rendered states. In the block based navigation editor this does not exist.

How else could we solve the brittleness of these block based navigation editor styles?

[2021-08-14 12:46] richward111 commented on #33712
Thank you for acknowledging this issue. Is a fix likely to be scheduled in 5.8.1?  The issue happens consistently for me on all installations, and not just when changing text to bold, but also to italic too. I would have thought changing text style was a common editing process and am surprised it hasn't been reported by others.

[2021-08-14 16:39] yolinfl commented on #15105
I'm interested in this thread because I'm having severe issues with Wordpress, like I can't add new users, and changes of admin (block)settings are not saved.
After struggling for 4 days with the Wordpress theme and my browsers (cache), I was pointed to this post.
What is the status right now?
Are the plugin/persistence files still solve the problem?

Thank you,
Yolanda

P.s. see my post at
https:

[2021-08-14 18:18] stephanieflores opened #34082 "Links are being removed from my "New Post" content"
### Description

Whenever I click publish on the screen, the links are being removed, and I have been experiencing this issue since last night, and it's the first time I have noticed this.
My only website where this is happening is this one: [beaglemylove.com](https://beaglemylove.com/)

### Step-by-step reproduction instructions

In the description, I've listed my issue.

### Screenshots, screen

[2021-08-15 01:25] nickchomey commented on #3218
I'd just like to add my meager support to this effort. I find most of the keyboard shortcuts to be extremely laborious and unintuitive and would like to change most, if not all of them.  The various mockups that I see above look wonderful, so I hope it'll get some focus soon to bring it to fruition!

[2021-08-15 09:53] pwkip commented on #9719
This problem still occurs when you paste inside a block that only allows paragraphs.

To reproduce:

- create a block that only allows paragraphs. ` ... `
- Try to paste from word or libreoffice in this block.
- You will see the `@page` styles appearing as plain text

[2021-08-16 03:48] talldan commented on #15105
@yolinfl This proposal won't solve your problem with adding users.

It will help save your block manager options more permanently. At the moment if you clear your browser storage they'll be lost.

[2021-08-16 04:08] talldan commented on #34041
@mtias Agree with most of this—I definitely think the experience should be optimized for adding links. There's a similar discussion on #33867 which is one of the places the busy quick inserter has been discussed.

I have concerns that not having a quick inserter at all will make the other blocks hard to discover, but worth testing it.

I think the block library has previously been considered an op

[2021-08-16 06:25] talldan commented on #29747
@draganescu Would you be able to go into more detail about this, why wouldn't you expect the block's editor interface to match the rendered state of the menu? The idea is to enable users that want to build accordion style menus on their site.

[2021-08-16 07:10] draganescu commented on #29747
Just to make it clear: I think this issue is great, my doubt it the UI of the block navigation editor seems tweaked **not** to be a WYSIWYG "accordion menu" builder but a good wat to manage nested trees that are not WYSIWYG.

I wouldn't expect the *navigation block editor*'s interface to match the rendered state. I think that in it's default purpose the block navigation editor is a means to manage

[2021-08-16 07:37] talldan commented on #29747
The alternative would be to not load any of the core block styles in the nav editor, and instead style it completely from scratch. Could be worth exploring.

But I think there's enough overlap here to try this first. The UI in the navigation editor is already an accordion menu, and so an accordion style navigation block (whatever it may look like) would still serve a better and more stable foundat

[2021-08-16 07:44] mtias commented on #34079
See before: #9543

Also related #21584.

[2021-08-16 07:44] gziolo commented on #33719
It looks like there is only one task left:

[2021-08-16 07:54] gziolo commented on #33344
@kraftner, `wp-packages-update` is executed only when WordPress packages (from Gutenberg) are updated.

[2021-08-16 08:18] yolinfl commented on #15105
Hi Talldan,
Thanks for your reply.
How can I save my block options more permanently?

[2021-08-16 09:30] talldan commented on #15105
Oh, I thought I just mentioned that 😄 . At the moment editor preferences are saved in your browser local storage, so you have to not clear your browser local storage. I'm not sure if the browser you're using does this automatically, it might be that you have your security settings at the highest level and this happens as a result.

For an actual solution, I don't know that there is one, it might b

[2021-08-16 10:10] talldan opened #34087 "Customize widgets: Make the option for opening the Block Inspector more obvious"
## What problem does this address?
The option for opening the block inspector is currently a little buried in the block options menu:
<img width="533" alt="Screenshot 2021-08-16 at 11 04 27 am" src="https://user-images.githubusercontent.com/677833/129547371-b68db22a-b40f-478c-ab1a-c85201a2f04a.png">

For some blocks, these options contain important functionality (the cover block is a good example)

[2021-08-16 12:03] priethor commented on #33719
<del>Would `Editor` include `Block Editor` as well? I've seen both namings and unless I'm missing something, they both refer to "any editor that is not specifically the site or template one", don't they?.

<del>On the other hand, aren't there use cases where changes only affect the post editor but not other block editors?

[2021-08-16 12:49] adamziel commented on #33576
I don't think there's anything left to do here so I am closing this issue.

[2021-08-16 12:49] #33576 closed, assigned to nobody

[2021-08-16 13:25] paaljoachim commented on #33886
@getdave and @youknowriad

Adding a shortcode block into Twenty Twenty One and TT1 shows different alignment results when placed inside a Group block.

Gutenberg plugin 11.2.1
Chrome

Example using Twenty Twenty One theme.
Shortcode block inside a Group block. Wide width alignment.
Backend

![Shortcode-block-inside-Group-using-TwentyTwentyOne](https://user-images.githubusercontent.com/5323259/1295

[2021-08-16 13:29] adamziel commented on #33810
Great post @gziolo! I like all the ideas you listed. I tried to poke a hole in that and I may have found a problem: We can polyfill new functions and classes, but it's harder to polyfill patches to existing ones, especially when there are no hooks to rely on. We also can't polyfill backwards incompatible changes. We've had quite a few of the former, and there's always a possibility of running into

[2021-08-16 13:30] kjellr opened #34088 "Featured Image Block: Support the duotone feature"
Image blocks support the [Duotone feature](https://wordpress.org/news/2021/05/coloring-your-images-with-duotone-filters/) that arrived in WordPress 5.8, but this is not available for the featured image block.

It would be useful to have this feature available for featured image blocks, so that users can maintain consistent colors throughout their entire site's graphics.

[2021-08-16 13:37] critterverse commented on #32551
Closing this based on the previous discussion in #13335.

[2021-08-16 13:37] #32551 closed, assigned to nobody

[2021-08-16 13:51] adamziel commented on #33540
ping @noisysocks @kevin940726 @draganescu

[2021-08-16 15:04] ryelle commented on #33954
This isn't inherently a problem with the block directory - the issue is that when you set the allowed blocks list to a list of blocks, it's assumed that you _only_ want those blocks so anything that doesn't match, including from the block directory, is filtered out.

I agree that this would be a better solution for disabling specific blocks.

[2021-08-16 15:07] mtias commented on #28356
@jasmussen I've been thinking a bit about how we name and express these tools, because it seems we have three related but distinct elements: a layout panel, a spacing pane, and a dimensions panel. I'm not sure it makes sense to couple spacing with dimensions (padding/margin with width/height).

[2021-08-16 16:25] #33300 closed, assigned to oandregal

[2021-08-16 17:03] JJJ opened #34092 "Incorrect decoding Site Title in pre-publish checklist UI"
### Description

I have an apostrophe in my blog title: `JJJ's Blog`. That apostrophe is oddly decoded in the prepublish UI.

### Step-by-step reproduction instructions

1. WordPress Admin > Settings > General > Site Title > Put an apostrophe `'` here
2. Enable "Include pre-publish checklist" preference
3. Write a blog post using Gutenberg
4. Click "Publish"
5. Notice that the `'` is decoded to `&

[2021-08-16 17:07] JJJ commented on #34092
Line of code: https://github.com/WordPress/gutenberg/blob/54e8671ca26a2577645ae426e8f3245e1027b8f9/packages/editor/src/components/post-publish-panel/prepublish.js#L109

[2021-08-16 17:11] JJJ commented on #34092
Related: #33321, #33323.

[2021-08-16 17:20] #34074 closed, assigned to walbo

[2021-08-16 18:29] priethor commented on #33719
Just answering myself here: the `Editor` package depends on the `Block Editor` one and is effectively the `Post Editor`. Thanks to both packages' documentation for clarifying that despite the misleading `Editor`name! 👍

[2021-08-16 19:08] richtabor commented on #34088
Totally agree.

[2021-08-16 19:12] richtabor commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-08-16 19:19] mtias commented on #34088
I think @ajlende was already looking at this!

[2021-08-16 20:39] grantgeard commented on #34052
I think you're probably right... The opinionated defaults can certainly be frustrating to deal with but I'd prefer not to have to manage the base styles myself. I'm not sure how possible it will be to achieve what I'm looking for without having wrapper elements for things like headings and paragraphs though. Hopefully there is some approach that I just haven't figured out yet. Thanks for the help!

[2021-08-16 20:39] #34052 closed, assigned to nobody

[2021-08-16 20:39] annezazu opened #34096 "[Columns] Width listed in px rather than percentage"
### Description

When adding in columns, the width is listed as px rather than percentages.

### Step-by-step reproduction instructions

1. Head to Site Editor.
2. Add a Columns block.
3. Select 70/30 option.
4. Use list view to select an individual Column block and check the sidebar settings to view the width.
5. See the width is set to px rather than percentages.

### Screenshots, screen recordi

[2021-08-16 20:55] paaljoachim commented on #32586
Hi @thesunshade

The "Convert to regular blocks" in the overflow menu can be seen when activating the Gutenberg plugin.

The icon does look like a copy icon. Example searching for copy icon brings up this search: https://www.ecosia.org/images?q=copy%20icon

What we are hoping with this issue is to change the icon to something that would hopefully remind people about a conversion/convert process.

[2021-08-16 21:09] skorasaurus commented on #21881
I'm not able to reproduce this on 11.2 Gutenberg.

If you're still able to reproduce this in the newest version of Gutenberg, please reopen.

[2021-08-16 21:09] #21881 closed

[2021-08-16 21:10] annezazu commented on #30693
[As part of the ninth call for testing for the FSE Outreach](https://make.wordpress.org/test/2021/08/11/fse-program-testing-call-9-handling-highered-headers/), this experience of right aligning the button block came up. However, in this case, the problem is that if the buttons block is aligned right, upon clicking on it, it reverts back to being aligned left as shown below:

https://user-images.gi

[2021-08-16 21:18] annezazu commented on #30693
Ah ha, I found a fix for the issue I mentioned here: https://github.com/WordPress/gutenberg/pull/33739. I then replicated the issue originally described here and can still replicate:

<img width="776" alt="Screen Shot 2021-08-16 at 5 18 38 PM" src="https://user-images.githubusercontent.com/26996883/129630788-f390bf42-9d72-4fac-bcb6-220a57e56214.png">

[2021-08-16 21:40] annezazu commented on #34092
Thanks for reporting, finding the line of code, and sharing related issues <3 @walbo  it looks like you worked on this recently -- perhaps you can check this out too? :)

[2021-08-16 21:50] annezazu opened #34097 "Navigation block: spacer z-index interferes with keyboard navigation for sub-menu items"
### Description

When there is a spacer block below a navigation block, it's z-index being higher causes a confusing user experience when trying to navigation between sub-menu items. cc @tellthemachines

This was discovered as [part of the ninth call for testing for the FSE Outreach program](https://make.wordpress.org/test/2021/08/11/fse-program-testing-call-9-handling-highered-headers/#comment-18

[2021-08-16 22:10] walbo commented on #34092
Did a quick test and I belive #33323 fixed this issue in Gutenberg. I do see the entities when running WP 5.8 without Gutenberg (looks like that is enviroment you are running).

I'm not sure how the process is when it comes to backporting PR's to minor WP releases but maybe #33323 should be included in WP 5.8.1?

[2021-08-16 22:46] celloexpressions commented on #33302
Agreed that there should be a generic post terms block. All terms registered with `show_ui` (or alternatively, `show_in_nav_menus`) should automatically expose a corresponding term list block variation. And presumably `show_in_rest` would also need to be defined as `true`, since that is required for custom taxonomy UI to show up on post types that support the block editor (by the way, I cannot fin

[2021-08-16 23:58] maccyd10 commented on #33953
No `useBlockProps()`does not have a filter, which in my opinion, should be considered a bug.

You can add to the props using `settings.getEditWrapperProps` but afaik, props can't be removed.

[code]

[2021-08-17 00:00] maccyd10 commented on #33953
For a while I have been wrapping blocks to append fields and add styling as needed like so:

[code]

But unfortunately, since core block migrated to api version 2, this approach breaks the in-between block inserter and ruins the styling.

I'd love to hear suggestions on a `useBlockProps` filter or alternative

[2021-08-17 01:18] celloexpressions commented on #30142
Custom CSS definitely needs to continue to function alongside global styles. Style settings should never expose _all_ of the possibilities in CSS as user-facing options. There is a lot of additional background on the benefits of user-edited CSS in the original core ticket and Make/Core posts from WordPress 4.7. #30496 identifies this particular feature as needing parity and outlines three potentia

[2021-08-17 02:08] andrewserong opened #34098 "Gallery block refactor: Console errors thrown in some instances when replacing images via Media Library"
### Description

Following [Gallery block refactor PR](https://github.com/WordPress/gutenberg/pull/25940) testing instructions in: https://github.com/WordPress/gutenberg/issues/29882, I noticed the following issue:

If certain steps are followed, when replacing existing images in the refactored gallery via Media Library, console errors are thrown (it doesn't appear to affect functionality).

![ima

[2021-08-17 02:20] andrewserong opened #34099 "Gallery block: Media library button opens upload modal then causes an empty white modal"
### Description

Following [Gallery block refactor PR](https://github.com/WordPress/gutenberg/pull/25940) testing instructions in: https://github.com/WordPress/gutenberg/issues/29882, I noticed the following issue:

In a gallery that contains only a single image, if I click the Media Library button in the gallery block's placeholder, it opens the media library but then immediately also opens the u

[2021-08-17 02:42] glendaviesnz commented on #34099
I think this might be a bug with 5.8 rather than then gallery refactor https://github.com/WordPress/gutenberg/issues/33769#issuecomment-889621113

[2021-08-17 02:44] andrewserong commented on #34099
Oh, thanks Glen, didn't see that one!

[2021-08-17 03:10] talldan commented on #33867
I fell into a trap of being solution oriented with this issue, so I've renamed it and updated the description to also contain some of the discussed options.

[2021-08-17 03:32] talldan opened #34100 "List Block: allow use of backspace key to convert a list item to a paragraph"
## What problem does this address?
It's a standard behavior in Word Processors that using the backspace key at the start of a list item removes the bullet point, effectively turning the list item into normal text. The List Block doesn't seem to do this, which I think is unexpected.

The main use-case would be at the end of a list, a user wants to stop creating list items and go back to creating pa

[2021-08-17 04:06] arthur791004 opened #34101 "[Discussion] i18n: the domain configuration will be overwritten by setLocaleData under @wordpress/i18n"
### Description

Currently, calling `setLocaleData` with new locale data multiple times, the domain configuration will be overwritten. Maybe the user needs to take care of using `setLocaleData` to make all of the domain configurations the same. So,  I'm not sure it's a bug or not. Just want to discuss whether it makes sense to merge the domain configuration?

**What I expected to happen**

The dom

[2021-08-17 04:39] glendaviesnz commented on #30711
@celloexpressions in order to try and limit the impact of the gallery refactor on themes that customise the gallery layout we are leaving all existing gallery content untouched with the initial release. The structure of the content and the default css for all existing gallery content will remain the same, even when the gallery is edited, eg.

Artubus gallery on Gutenberg trunk in editor and fronte

[2021-08-17 05:17] getsource commented on #29912
This was discussed in a [triage meeting today](https://wordpress.slack.com/archives/C02QB2JS7/p1629176835117200).

Several folks were able to reproduce the issue, with a note that on MacOS, the System Preference (General -> "Show Scrollbars") to "always" show scrollbars must be enabled to see it, or an older wired mouse be connected (which causes MacOS' automatic scrollbar settings to enable them)

[2021-08-17 05:25] maccyd10 commented on #32202
@lumpysimon

I was unable to reproduce this issue. Would you be able to share which theme you were using, and if possible, the actual content that you pasted in to create this issue?

[2021-08-17 06:02] fwazeter commented on #30241
SVG is surprisingly complex because of the way SVG's are coded and WordPress's handling of the SVG format. It's less a Gutenberg/Block Editor issue and more of a 'WordPress doesn't like SVG' type issue. The reason WP doesn't natively support SVG is because an SVG file is just plain ole' XML - and as such, anything could be passed in the XML code leading to some pretty bad vulnerabilities.

However

[2021-08-17 06:08] talldan commented on #30241
Here's a link to the related conversation during a triage session in slack - https://wordpress.slack.com/archives/C02QB2JS7/p1629177725133300.

Hopefully with the great answer above that's enough info to solve the issue, so I'll close this. I'll keep an eye on it, and if there are still problems it can be reopened and looked into some more.

[2021-08-17 06:08] gziolo commented on #33719
Yes, it has always been confusing. I added some more clarifications earlier this year in #30136 because I had trouble reasoning what's the purpose of `@wordpress/editor` in the world with the widgets editor or the navigation editor 😅

[2021-08-17 06:37] kevin940726 commented on #33540
I might be missing some context here, but switching to POST request alone doesn't seem to be enough? We're still depending on iframes to render the previews in isolation, and AFAIK, iframe can't load a POST request url. We'll need something else to use JavaScript to render the response from that POST request. Is there any plan about that? @noisysocks's portal and shadow DOM approaches seem promisi