[2022-06-28 07:55] #41412 closed, assigned to nobody

[2022-06-28 08:15] carlomanf commented on #39270
@noisysocks There are a few issues I see with the "Using CPTs" proposal:

- The migration will not run if the `after_theme_switch` hook doesn't fire for some reason (e.g. if the theme is switched using phpmyadmin)
- Currently, there is still no way to retrieve template parts from inactive block themes (see #31397) so the widget areas would only become available to block themes that are activated i

[2022-06-28 08:17] mtias commented on #41717
I used to agree (as shown in the older implementation where pages and post content was front and center). It's something that was pending to be revisited, though. The main hurdle was getting some of the core site editor interactions in a better place — including the multi-entity saving flow, which wasn't as robust or refined when we first allowed content editing. All in all, things are in a much b

[2022-06-28 08:20] Mamaduka commented on #41996
Probably related to #40260. The Button block will need a deprecation.

cc @scruffian.

[2022-06-28 08:35] ooksanen commented on #40813
Sure! In my opinion the biggest issue is the use of `*` wildcard selector, which targets all elements inside all `.wp-container-n` (at least columns, likely some other blocks as well). I believe that the wildcard selector is too broad for a very common pattern of layout; placing headings, paragraphs, etc. inside columns.

For example to control the spacing between paragraphs and/or headings inside

[2022-06-28 08:39] talldan commented on #41867
@jameskoster I tested and it seems to be working ok for me:
![Screen Shot 2022-06-28 at 4 37 48 pm](https://user-images.githubusercontent.com/677833/176134088-871f6309-0f8d-4f0c-96cd-07f06f9f28c2.png)

Had you definitely saved the custom color in the site editor before loading the post editor?

[2022-06-28 08:42] Mamaduka commented on #29436
I'm no longer able to reproduce this issue with WP 6.0. Tested with Chrome and Firefox.

![CleanShot 2022-06-28 at 12 41 47](https://user-images.githubusercontent.com/240569/176135159-2938511b-31b0-46ef-941c-9aad0f1d8b7b.png)

[2022-06-28 08:50] talldan commented on #41847
It looks like this is where it happens:
https://github.com/WordPress/gutenberg/blob/cd47e95c37ca9a5cb8044a7811f58d42750acb1a/packages/editor/src/components/post-taxonomies/flat-term-selector.js#L113-L117

It joins together all the term ids to create the query params for the REST API, which can be very very long.

I'm not sure what the right fix would be. It could be an option to introduce paginati

[2022-06-28 08:58] talldan commented on #41739
Is it the Link popover that's cut off? The issue title says toolbar, but it's ok in the screenshots.

edit: Seems so, I've updated the title.

[2022-06-28 08:59] Mamaduka commented on #41847
Related #41825.

[2022-06-28 09:09] talldan commented on #41622
It looks like the block editor determines visibility based on whether the REST API returns `viewable: true` for the post type.

If that's the correct way to do it, this may be a WordPress core REST API bug.

[2022-06-28 09:20] talldan commented on #41575
I'll see if I can work this one out

[2022-06-28 09:28] jameskoster commented on #41871
Yup there are other options to explore in the Color panel itself. Text link, ellipsis menu, etc.

[2022-06-28 09:47] talldan commented on #41996
I don't think a block deprecation would be possible though, as it would need to be added to an already released version of WordPress core.

TBH, it's possible to get this issue with any block whenever content is created in a newer block editor and then loaded in an older one.

[2022-06-28 09:56] jameskoster commented on #29575
I don't even know that scheduling _is_ less risky. For example it would be easy to schedule changes to a template in the site editor, then go and save changes to that template in the post editor... what happens when the scheduled changes go live... what if there are conflicts? Drafting / scheduling that involves content or templates still feels like a can of worms to me.

[2022-06-28 10:01] jameskoster commented on #41867
Hah, maybe not because it seems to be working now.

[2022-06-28 10:01] #41867 closed, assigned to nobody

[2022-06-28 10:13] carlomanf commented on #27597
Updated https://github.com/WordPress/wordpress-develop/pull/2342 based on our discussions here.

[2022-06-28 10:16] jameskoster commented on #30029
Since this issue was opened we've done quite a bit of work around improving the on-canvas representation of these blocks, accounting for context. For example the Featured Image block now displays a placeholder 'graphic' when appropriate.

So perhaps these block previews should just render the block itself (hopefully with the context passed to it). Is that an option?

[2022-06-28 10:32] #41869 closed, assigned to afercia

[2022-06-28 11:00] javierarce opened #42003 "LinkControl UI goes off screen"
### Description

Because the LinkControl popover appears horizontally centered relative to the link it modifies, in some cases (like editing the first item of a Navigation block), the interface appears out of the screen, making it very difficult to use.

In cases like this, the LinkControl popover should appear left-centered under the link (or right-aligned, in case the user is editing a link that

[2022-06-28 11:02] javierarce commented on #42003
Related:
- https://github.com/WordPress/gutenberg/issues/35073

[2022-06-28 11:07] mtias commented on #29575
Scheduling is essentially a fork through revisions. Generally, editors load the scheduled version so you are always editing the latest. It gets complex when the thing that is scheduled is an update because you also want to be able to see what is published. They are workable problems, though.

[2022-06-28 11:08] spacedmonkey commented on #41847
@talldan Instead of doing a query by ids, why not lookup by post id. Like this.

https://www.spacedmonkey.com/wp-json/wp/v2/categories?post=415.

Feels a lot cleaner.

[2022-06-28 11:12] SaxonF commented on #41717
That's fine. I'm naive to a lot of that complexity but I'm also suggesting the end user should be too, regardless of how things work behind the scenes. We should be designing experiences in a way that can be applied to any block type to minimise the number of interactions and models they have to learn. e.g. header template parts could just sit within a header pattern category in the inserter, as c

[2022-06-28 11:23] Mamaduka commented on #41847
Thanks for the recommendation, @spacedmonkey 🙇  That indeed feels a lot cleaner.

Do you know if it's possible to do something similar for Media (https://github.com/WordPress/gutenberg/issues/41825)?

[2022-06-28 11:34] t-hamano commented on #41996
I believe this issue is also related to #41140.
For blocks with `__experimentalGetElementClassName`, disabling Gutenberg after saving the content will break the block.

This is the list of blocks to which `__experimentalGetElementClassName` is applied:

- `core/audio`
- `core/button`
- `core/embed`
- `core/file`
- `core/gallery`
- `core/image`
- `core/table`
- `core/video`

[2022-06-28 11:57] mirka commented on #41973
Update: The previous version of this plan used to mention the possibility of a `__unstableSize: 'large'` prop, but I discovered that would create a lot of unnecessary complication when passing through props to underlying components. We don't actually have a `__unstableSize` prop in our codebase yet, so let's just unify with `size: '__unstable-large'`.

[2022-06-28 12:12] samxmunoz opened #42006 "[Feature Request] Add a placeholder image to the image block"
### Issue

If you don't have an image in mind while building with blocks, it can throw off the layout of a project to see a spaced "placeholder" on the editing view but nothing in the live version of the page.

![Screen Shot 2022-06-28 at 8 03 19 AM](https://user-images.githubusercontent.com/43501707/176174141-1846ae6f-563e-4ea8-a98a-ef86ab83b6ed.png)

![Screen Shot 2022-06-28 at 8 03 27 AM](https

[2022-06-28 13:38] javierarce opened #42010 "The position of the Navigation block item appender obstructs the view"
### Description

The appender inside the Navigation block sits on top of the last inserted element, making it difficult, for example, to read the text of a link.

<img width="482" alt="Screenshot 2022-06-28 at 15 25 11" src="https://user-images.githubusercontent.com/4933/176190054-ce7db796-9363-4f0d-85de-df8cac69068c.png">

This problem also happens with vertical menus:

<img width="113" alt="Scre

[2022-06-28 14:45] colorful-tones commented on #42006
This may be a duplicate of https://github.com/WordPress/gutenberg/issues/41142

[2022-06-28 14:50] Mamaduka commented on #13164
Hi, @glendaviesnz

Can you confirm that this issue was resolved?

Thanks

[2022-06-28 15:05] spacedmonkey commented on #41847
Sadly no. You can do this, https://spacedmonkey.com/wp-json/wp/v2/media?post=389 but that would get all the attachments uploaded in on that post. But a gallery can be created with an attachment from any post.

We could make the url short by doing this `?includes?=1,2,3` instead of `?includes[0]=1` it should make the url a little shorter.

[2022-06-28 15:08] colorful-tones commented on #41142
There may be some confusion here, because this issue begins by mentioning "the Pattern Directory", but also clarifies: "For Images (and perhaps Cover and Gallery Blocks), it would be nice to improve the placeholder directly in Gutenberg,".

There is a need for improving the overall Placeholder component, and certainly [#23124](https://github.com/WordPress/gutenberg/issues/23124) would be an ideal

[2022-06-28 15:12] cbravobernal commented on #41957
As we will add server-side rendering to this block so we can fix the translation.

Could be a possible solution to remove the `save.js` file and let PHP handle the conditional render if comments are allowed or not?

[2022-06-28 15:18] draganescu commented on #41996
It's like @talldan said unlikely to have a solution via a deprecation and also hard to solve: content created with newer editors can become invalid in older editors **for editing**. Gutenberg guarantees the content itself is independent of Gutenberg and via it's universal format and invisible markup does not depend on WordPress to be consumed. But editing blocks in older versions will be problemat

[2022-06-28 15:21] simonwammerfors commented on #40813
If I understand things correctly, specifying the margin for a p element in theme.json always get overridden by block gap css, even if there is no value for block gap in theme.json set. This seem strange, after all we are given the possibility to specify margin on elements through theme.json. Shouldn't the general block gap css be overridden if I choose to specify margin for a specific element/bloc

[2022-06-28 15:30] Mamaduka commented on #14377
I think @ajlende has a valid point here. I recommend creating a custom component for `input[type=color]` or use [`ColorPicker`](https://developer.wordpress.org/block-editor/reference-guides/components/color-picker/).

@Stiofan, I'm going to close this issue, but feel free to re-open it.

[2022-06-28 15:46] github-actions[bot] opened #42014 "[Flaky Test] should show the original content after revert, clicking undo in the notice then undo in the header toolbar"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should show the original content after revert, clicking undo in the notice then undo in the header toolbar

## Test path
`/test/e2e/specs/site-editor/template-revert.spec.js`

## Errors

<time datetime="2022-06-28T15:46:49.523Z"><code>[2022-06-28T15:46:49.523Z]</code></time>

[2022-06-28 16:01] beafialho commented on #41142
There is no confusion, the effort of populating the Pattern Directory was mentioned for context on the need of this idea.

It does seem that this issue is similar to the ones you mentioned, which supports the interest in working on it :+1:

[2022-06-28 16:18] peiche commented on #32644
+1
Negative values are essential for building layouts.

[2022-06-28 16:24] apeatling commented on #23947
Adding a +1 for this one. It would make external access via a reverse proxy possible, and not add any complexity to running or setting up wp-env.

[2022-06-28 16:28] dcalhoun opened #42017 "Selected custom gradient is not displayed in color settings"
## Description
When setting a custom gradient in the color settings, there is no indication that a custom gradient is selected. The "Custom" indicator is missing entirely, leaving the appearance of no color/gradient selected.

## Step-by-step reproduction instructions
1. Add a Buttons block.
1. Open the settings for the Button block.
1. Tap _Background_.
1. Tap _Gradient_.
1. Select a preset gradi

[2022-06-28 16:32] dcalhoun opened #42018 "Color settings do not scroll to reveal selected color/gradient"
## Description
When opening a block's color settings, the list of colors/gradients does not scroll to reveal the selected color.

## Step-by-step reproduction instructions
1. Add a Buttons block.
1. Open the settings for the Button block.
1. Tap _Background_.
1. Scroll horizontally and select a preset color outside of view.
1. Tap _Back_.
1. Tap _Background_.

## Expected behaviour
The horizontal

[2022-06-28 16:34] dcalhoun commented on #42018
This may be related to https://github.com/WordPress/gutenberg/pull/30994.

[2022-06-28 16:34] dcalhoun commented on #42017
This may be related to https://github.com/WordPress/gutenberg/pull/30994.

[2022-06-28 16:45] skorasaurus commented on #41290
possibly related to https://github.com/WordPress/gutenberg/issues/35543

[2022-06-28 16:56] skorasaurus commented on #39090
Thanks for the update: Took me a second to figure out that you applied wide width to the block; I'm able to reproduce this as well;
the issue being that in the editor; the row block does not properly space out inner blocks under certain conditions, which I specify below. The inner blocks are spaced out properly on the front-end.

So, to reproduce:

1. install a theme.json-less theme like twentytwe

[2022-06-28 16:57] fwazeter commented on #38167
I've been working a lot on this in my own plugin, and like the broader effort here, am having a few issues with scoping the StyleEngine class (been mostly working on it from the PHP side for now).

Almost all of my effort so far has centered around the Layout Support module of Block Supports, since it's by far the biggest issue when it comes to implementing theme designs. Colors, Border, Typograph

[2022-06-28 17:46] MarieComet opened #42021 "Gallery block in pattern selects all the images in the media library"
### Description

After inserting a pattern that contains a gallery block, when editing this gallery, all images in the media library are selected by default.

Demo of the bug in this video : https://mariecomet.fr/wp-content/uploads/2022/06/gallery-2022-06-28_19.26.36.mp4

This is maybe due to the fact that there is no ID for the images.

Maybe this issue is related : https://github.com/WordPress/g

[2022-06-28 18:57] apeatling commented on #20180
I'm running into this issue with a Raspberry Pi. I've run all post install steps in the Docker docs. Everything works fine the first time I start wp-env, but any subsequent times I restart it, I run into either the `EACCES` issue or `wp-config.php is not writable` issue.

It seems the files it's complaining about are attached to the root user, instead of your current user that has been added to th

[2022-06-28 21:29] glendaviesnz commented on #13164
@Mamaduka the gallery images are now just Image blocks, and they behave the same as Image blocks in terms of adding an alt attribute to the `img` tag if alt text is available. They are still lacking the aria-label attribute as suggested above, but so are stand-alone Image blocks, so I wonder if we should close this issue and open an 'Image block accessibility improvements' one?

[2022-06-29 00:16] oseisaac commented on #13998
Where do I add this code to make it work

[2022-06-29 00:42] fullofcaffeine commented on #41094
@gziolo PoC is here: https://github.com/WordPress/gutenberg/pull/42024. How should we proceed now? Thanks in advance! 🙇🏻

[2022-06-29 01:04] BrunoAHVincent commented on #21889
That works for parent columns, but what about child columns? I don't see that setting

![+borders](https://user-images.githubusercontent.com/59643134/176329152-0315d95a-d4ae-4b78-a73e-dba56dc6ab9f.jpg)

[2022-06-29 01:08] ramonjd commented on #38167
Hi @fwazeter,

Thanks for the comment, and for taking the time to write down your thoughts!

The layout ideas might be also related to the proposals going on over at [Tracking: extend layout options in Gutenberg](https://github.com/WordPress/gutenberg/issues/39336) as well.

This is close to the current thinking on the division of labour of any "style engine/manager".

So registering, storing, gen

[2022-06-29 01:23] aaronrobertshaw commented on #21889
Hi @BrunoAHVincent 👋

Borders for individual or child columns were added via https://github.com/WordPress/gutenberg/pull/39967 as the scope of this PR was limited only to the parent Columns block. Individual column border support didn't make it in time to land for WordPress 6.0 as it depended on new features that needed a little more time to stabilize. You can find more discussion in https://githu

[2022-06-29 01:45] noisysocks commented on #39270
Yeah, good call on https://github.com/WordPress/gutenberg/issues/31397. I think it's another missing piece of the theme switching puzzle.

What makes sense to me right now is that both widget areas and template parts to stick around in the database after switching theme and for us to provide:

- For block themes, UI to import an old widget areas into a template part.
- For classic themes, UI to ed

[2022-06-29 02:08] noisysocks commented on #41684
Definitely think would make select mode a lot more useful. Any [Craft](https://www.craft.do) fans here? It has a pretty nice implementation of this. It feels very natural to press <kbd>Esc</kbd> to enter visual mode, make a selection, do something (transform, delete, indent, group), then click twice to go back to edit mode.

https://user-images.githubusercontent.com/612155/176335591-5e6d5c4a-49cc-

[2022-06-29 02:09] talldan commented on #42010
I wasn't involved in the change, but I think it was done this way so that when the navigation block is selected it doesn't become wider and potentially cause a layout shift in the site editor.

[2022-06-29 04:15] carolinan commented on #41996
I am not sure that the benefits of this change to button _elements_ outweigh this issue.

[2022-06-29 05:09] maddisondesigns commented on #39090
@skorasaurus I think you have that around the wrong way. The issue is that the row block **doesn't** properly space out inner blocks in the Editor (this **does** happen on the front-end). i.e. it displays properly on the front-end but not in the editor.

I've also updated this issues title for better clarity.

[2022-06-29 05:50] carolinan commented on #40989
@t-hamano I have tried the branch. I like that it matches the table block better and that the table head background color was removed. Will you submit a PR?

[2022-06-29 06:04] carolinan commented on #35735
@scruffian 👋 Do you think `citation` / cite  should be added to _elements_?

[2022-06-29 06:07] Mamaduka commented on #11923
I can confirm this is still an issue in 6.0.

## Snippet for testing.

[code]

## Screenshot

![CleanShot 2022-06-29 at 10 06 39](https://user-images.githubusercontent.com/240569/176363596-12ca6db6-127b-40ea-9ea5-19fcc11eb94c.png)

[2022-06-29 06:17] carolinan commented on #34650
I believe this was solved by #41140?

[2022-06-29 06:21] t-hamano commented on #40989
Thanks for checking it out!
I created a PR #42029 based on this branch.
If you have any other suggestions, please comment on the PR.

[2022-06-29 06:22] hagege opened #42031 "Column blocks (e.g. 30) are not displayed correctly in a group block"
### Description

If I insert many column blocks in a group block (in the mentioned example these are 30 column blocks - I copied the columns blocks and the last column block I labeled "the last one" in the movie), then the list is not shown completely.
As a workaround I have found the following solution: Delete a column block and undo the deletion afterwards. After that the list is shown correctly

[2022-06-29 06:29] Greatdane opened #42032 "Buttons Block: Open in new tab option de-selects itself when adding link"
### Description

When adding a link to a button in the Buttons block, confirming the link can de-select the "Open in new tab" option if it was already selected.

### Step-by-step reproduction instructions

1. Create a page or post and add a Buttons block to it. Add some text to the button.
2. Click on the "link" icon in the toolbar to choose what the button links to.
3. Paste or type in a link or

[2022-06-29 06:53] SaxonF commented on #41764
Could this behave in a similar way to reverting synced blocks/patters back to their library/global state?

[2022-06-29 07:08] carolinan commented on #41208
Should this use a similar toggle in the toolbar as the search block?
![The search block has an option named "toggle search label", which is in the block toolbar](https://user-images.githubusercontent.com/7422055/176373695-809eed70-61c7-4cbf-aa4c-0b66a438c76b.png)

[2022-06-29 07:22] erikjoling commented on #37856
This still doesn't work for me. Looking at issue #41845 the problem seems to be linked to Firefox. Just tested Chrome for a second and it worked as expected.

@dianeco Does this problem still exist for you in Chrome?

I'm fine with closing this issue in favor of #41845

[2022-06-29 07:31] carolinan commented on #18255
I am closing this as solved, a bottom margin has been added to the block styles.

[2022-06-29 07:31] #18255 closed

[2022-06-29 07:40] hagege commented on #42031
I forgot to mention two more points:

1. there is no problem in the frontend
2. if you have more column blocks in the group block, more column blocks will not be shown in the dashboard.

[2022-06-29 08:05] hagege commented on #42031
Here an example with about 100 column blocks within a group block
![list_with_many_columns_blocks_in_group_block](https://user-images.githubusercontent.com/27292550/176384932-35281481-fc3d-4f75-88df-e7e03540df2e.jpg)

[2022-06-29 08:06] #41618 closed, assigned to talldan

[2022-06-29 09:21] adamziel commented on #38291
More prior art:

* Parse template parts: https://github.com/WordPress/gutenberg/pull/36117
* Navigation block slugs: https://github.com/WordPress/gutenberg/pull/36522

[2022-06-29 09:23] scruffian commented on #38291
@getdave @adamziel @draganescu and I spent some time thinking about this today. We came up with this suggestion:

### Expected behaviour

1. If the theme provides inner blocks to the navigation block, then always use the inner blocks. See question 2 below...
2. If the theme has an empty navigation block, and the user has only one wp_navigation post, then the navigation block will automatically sel

[2022-06-29 09:32] scruffian commented on #34650
Yes! Thanks @carolinan

[2022-06-29 09:32] #34650 closed, assigned to nobody

[2022-06-29 09:47] fluiddot commented on #38407
Updated the parent post with:

### 🛠️ Recently fixed or improved
++ [Fix: Image block preserves alt text from media library](https://github.com/WordPress/gutenberg/pull/41839)
++ [RichText: Return early when content has changed in onSelectionChangeFromAztec](https://github.com/WordPress/gutenberg/pull/41682)

[2022-06-29 09:50] mtias commented on #38291
Themes cannot know what navigation structure a site has. We need to allow themes to be opinionated for cases where they want to have a very specific layout (where they'll basically use placeholder individual link-items) but otherwise defer to what exists on the site and the user expectation of how it should work. The latter is probably close to 99% of the cases we have. The situation of `core/page

[2022-06-29 09:59] adamziel commented on #38291
@mtias item 2 is essentially doing the matching in a hook that gets executed during the theme switch. It alleviates the problem of preserving a meaningful slug throughout operations such as dragging a menu to a different template, choosing a different wp_navigation post for a menu that already has a slug etc. It comes with it's own problems, though.

[2022-06-29 10:00] talldan commented on #38291
My guess is because the slugs haven't been implemented yet. I think the block is still using ids. It does have the semantic title that could be used (slugified) until proper slugs are implemented down the line.

[2022-06-29 10:06] mtias commented on #38291
If we don't have semantic slugs for whatever reason we should just fallback to the next heuristic (I think we mentioned something like if only one `wp_navigation` exists, to use that, if there are many, to use the first retrieved, etc). It seems too convoluted and prone to mistakes to try to retro-add these on theme switch. There's a lot going on during theme switches and I'd rather not try to man

[2022-06-29 10:09] mtias commented on #39270
@noisysocks the function for the last part already exists — themes can use `block_template_part( $part )` already in PHP. It's just lacking a UI to edit them.

[2022-06-29 10:18] jameskoster commented on #41764
I think this is _slightly_ different as it is about pulling in updates rather than resetting. The 'clear customisations' action we have for templates / template parts can probably be considered for synced blocks though, once we have established a source of truth for those in the UI, and implemented overrides :D

[2022-06-29 10:27] mtias commented on #41717
We can do a lot in the UI to reconcile experiences and erode differences that get in the way of the ease of use. For example, connecting patterns and template parts more is an obvious one. We might be able to completely de-emphasize the "template-part" name from any user-facing interface in favor of synced patterns (or however we want to express that).

My point is that we need to reason about whe

[2022-06-29 10:51] fluiddot commented on #42018
I managed to reproduce it on version 19.6, so looks like this issue was introduced a while ago. I don't think it's a major issue but since it's a regression I'll set it as a high priority.

[2022-06-29 10:52] fluiddot commented on #42017
I managed to reproduce it on version 19.6, so looks like this issue was introduced a while ago. I don't think it's a major issue but since it's a regression I'll set it as a high priority.

[2022-06-29 11:35] scruffian commented on #35607
Nested

Agreed!

You're right I wasn't entirely clear about that, but this is correct.

This is also correct, but this behaviour is what we want to change.

The difference is that text content inside fullwidth group and column blocks should have some padding between it and the edge of the viewport, where images and videos do not.

Expressed another way, we should maybe think about site padding as

[2022-06-29 11:47] scruffian commented on #41663
Fixed by https://github.com/WordPress/gutenberg/pull/41753

[2022-06-29 11:47] #41663 closed, assigned to nobody

[2022-06-29 12:31] getdave commented on #38275
## Update 29th June 2022

Contributors are aligning around next steps to make [preserving Navigation Menus on Theme switch](https://github.com/WordPress/gutenberg/issues/38291) a reality. This is a highly nuanced topic with a lot of moving parts so [a few contributors have outlined how they _think_ this should work](https://github.com/WordPress/gutenberg/issues/38291#issuecomment-1169744551). We'd

[2022-06-29 12:45] drskullster opened #42047 "Can't create a block with @wordpress/create-block"
### Description

When running `npx @wordpress/create-block` with the latest version (3.5.0) I get this error :

[code]

Running `npx @wordpress/create-block@3.4.0` works fine.

### Step-by-step reproduction instructions

1. Run `npx @wordpress/create-block test`

### Screenshots, screen recording, code snippet

_No response_

### Environment info

_No response_

### Please confirm that you have se

[2022-06-29 12:52] ciampo commented on #41973
Just flagging for completeness that there may be other components that already use the `size` prop to tweak slightly different aspects ([`Card`](https://wordpress.github.io/gutenberg/?path=/story/components-card--default) comes to mind). We may want to review the usage of the `size` prop across the codebase to uniform it as we work on introducing more size variants?

[2022-06-29 13:12] ndiego commented on #14304
@glendaviesnz there was some conversation about this issue in the Editor Weekly Bug Scrub, here is the [direct link](https://wordpress.slack.com/archives/C02QB2JS7/p1656427622691619) to the conversation. The consensus after reading through all the comments on this issue and the associated closed PRs, is that this is expected behavior and the issue should be closed. While I personally agree that Wo

[2022-06-29 13:16] akasunil commented on #41927
As per @alexstine comment on PR, comes to conclusion that its not recommended to add auto focus on model dialog.So I have closed PR. Request to close this issue.

[2022-06-29 13:22] ndiego commented on #13164
I second that we should close this issue in favor of an 'Image block accessibility improvements' issue.

[2022-06-29 13:34] gziolo commented on #42047
I can confirm that the issue exists. Tested with:

[code]

[2022-06-29 13:39] gziolo commented on #42047
It looks like it's related to the changes applied in https://github.com/WordPress/gutenberg/pull/41810.

[2022-06-29 13:49] tyxla commented on #42047
Oops, that's on me. Fix incoming soon!

[2022-06-29 13:57] tyxla commented on #42047
Fix here: https://github.com/WordPress/gutenberg/pull/42049

[2022-06-29 14:05] carolinan commented on #41452
I tried to solve this in [components> sidebar > post-template](https://github.com/WordPress/gutenberg/blob/trunk/packages/edit-post/src/components/sidebar/post-template/index.js) but I got stuck because the `template slug` is not defined for the "Default" template:
I am not sure how to differentiate single.html from single-post-$slug.html, because they would both have no template slug value and bo

[2022-06-29 14:10] iamtakashi commented on #25462
![Screenshot 2022-06-29 at 14 59 56](https://user-images.githubusercontent.com/908665/176457604-04fab7f4-a642-4033-8cec-d08fb892ed98.jpg)

I was trying to build a similar layout to this example for a blog, (featured images align at the bottom, everything else aligns at the top) but, as @cr0ybot said above, the pagination didn't work because I needed to use multiple Query Loop blocks to achieve the

[2022-06-29 14:22] BrunoAHVincent commented on #21889
Excellent, thanks man, can do it with css for now, but good to know coming in next release

[2022-06-29 14:51] javierarce commented on #38277
I've added [a new prototype](https://www.figma.com/proto/uDsOBs0motcE5m0fcwXR52/Design-controls-for-interactive-states?page-id=594%3A25211&node-id=713%3A25456&scaling=min-zoom&starting-point-node-id=713%3A25456&show-proto-sidebar=1) to the Figma file to showcase how [this solution to display the properties](https://github.com/WordPress/gutenberg/issues/38277#issuecomment-1131479407) could work ins

[2022-06-29 15:03] matiasbenedetto opened #42052 "Post comment form block styles are overriding button elements theme.json styles"
### Description

It seems like post comment form block styles are overriding button elements theme.json.

### Step-by-step reproduction instructions

- Add `theme.json` settings for core/button block:
[code]
- Check the rendered post comments form and see if the styles are being overridden.

### Screenshots, screen recording, code snippet

![image](https://user-images.githubusercontent.com/1310626

[2022-06-29 15:36] scruffian commented on #42052
I don't think the styles from core/button should be applied to this block as it's not a button block. You should try setting the styles using `elements` instead. I believe the issue is still there, regardless!

[2022-06-29 15:37] jameskoster commented on #41399
For option C to work in the quick inserter we'd need to add the category dropdown there too. It could work, but in general I find scrolling and/or searching to be easier versus operating a dropdown. There's also a slightly awkward overlap... we'd have a "Template Parts" category, and a "Footers" category... it might be too confusing.

[2022-06-29 15:45] imangm commented on #39977
Do you know what has happened to `__experimentalFlyout`? I can't find it anywhere... https://github.com/WordPress/gutenberg/search?q=__experimentalFlyout

[2022-06-29 15:51] scruffian opened #42054 "Global Styles: Elements: Captions text color not respected in front end."
### Description

When I try to set the caption text color, the CSS overwrites it, when a theme opts in to opinionated styles.

This happens when theme opt in to opinionated CSS, using the `wp-block-styles` theme support:
`add_theme_support( 'wp-block-styles' );`

To solve this we should move this CSS into the block.json file so that the user settings override it. However this is complex because th

[2022-06-29 15:56] scruffian commented on #41974
This is dependent on https://github.com/WordPress/gutenberg/pull/41981

[2022-06-29 16:07] matiasbenedetto commented on #42052
I think it makes sense to render the submit button as a core/button block. But if that's not the case, I'm curious about why the submit button has the `wp-block-button` and `wp-block-button__link` classes.

I'm not sure if this is what you suggest, but, using these settings in `theme.json` I get this output.

[code]
![image](https://user-images.githubusercontent.com/1310626/176482707-3dc41742-75cf

[2022-06-29 16:20] scruffian opened #42055 "Global Styles: Elements: Link style rules are being applied to buttons"
### Description

Link rules that are set via theme.json also bleed into button elements on the _front end_ of the site. To overcome this I think we might need to add `:not(.wp-element-button)` to the link element selector.

### Step-by-step reproduction instructions

1. Switch to emtpytheme
2. Add this to your theme.json file under `elements`
[code]
3. Add some buttons blocks
4. Switch to the fron

[2022-06-29 16:26] scruffian commented on #42052
I believe this was so that it would inherit the rules of the buttons block, but it's a fragile way of doing things. Now we have button elements we should be using that mechanism to control the appearance of all buttons, like so:

	"styles": {
		"elements": {
			"button": {
				"border": {
					"radius": "0",
					"color": "red",
					"style": "solid",
					"width": "10px"
				}
			}
		}
	}
[code]

[2022-06-29 16:33] matiasbenedetto commented on #42052
Thanks for the context. Using your latest snippet, the styles are still overridden by the core/post-comments-form styles.

[2022-06-29 16:35] sabernhardt commented on #41208
That might work, though I think I would prefer an option in the sidebar.

This toggle would require selecting "Display as dropdown" first, then the user would choose whether to show the label. Placing the conditional option in the sidebar, near the option they selected, is probably better than returning eyes/focus to the block toolbar to notice what changed.

[2022-06-29 16:40] scruffian commented on #42052
Yeah that makes sense, but now at least we're on the same page about how it should work!

[2022-06-29 16:49] christofervas opened #42056 "Line breaks are not saved in TextareaControl"
### Description

I have created a textarea field with the TextareaControl component but after upgrading the WordPress to version 6.0 it doesn't save the line breaks. Is this a bug or I'm missing a new update/option?

### Step-by-step reproduction instructions

Here is how I register the meta. In the following code the `dfield` is the textarea field.

[code]

### Screenshots, screen recording, code

[2022-06-29 16:52] ciampo commented on #39977
Hey @imangm — the experimental `Flyout` component has been removed in https://github.com/WordPress/gutenberg/pull/40740 — see the PR for more details about the rationale.

[2022-06-29 16:52] #39977 closed, assigned to nobody

[2022-06-29 17:27] helpmeurgent commented on #41994
both are different things, it's not same, its happened every WordPress 6.0 version, i have tested multiple sites

[2022-06-29 17:30] draganescu commented on #42055
Tested this, it is visible on the front end.

[2022-06-29 17:43] draganescu commented on #42055
Tested this, simply adding `:not(.wp-element-button)` to `ELEMENTS['link']` breaks the hover behavior and the generated style for `a:not(.wp-element-button):hover` is the same as for `a:not(.wp-element-button)`.

[2022-06-29 17:48] jameskoster commented on #41452
@noisysocks has been working with the template panel recently, perhaps it's something he can look into? 🙏

[2022-06-29 18:22] joedolson commented on #13164
The underlying issue hasn't changed at all; but it can be handled by making a fix in the Image block.

Adding `aria-label` is not the recommendation above, as I see it - it's the suggestion from the original poster, but the recommendation from myself and @afercia is to use `aria-describedby`, matching the previously fixed implementation, however; the recommended change is using `aria-describedby`

[2022-06-29 20:27] porg commented on #34599
Could someone please give the requested Technical Feedback?

[2022-06-29 21:06] glendaviesnz commented on #14304
@ndiego I agree with that conclusion.

[2022-06-29 21:06] #14304 closed

[2022-06-29 21:33] colorful-tones commented on #37943
This seems like it would be quite valuable for builders to have in order to ease the transition from classic theme to block themes.

Agree. It seems unwarranted to allow editors to create new template parts if there is no template to output that template part in the theme. (How many times can one say "template" 😵 ) It would just lead to unnecessary confusion.

@critterverse 's [designs](https://gi

[2022-06-29 22:46] glendaviesnz commented on #13164
@joedolson Do you think we could just add the `aria-describedby` details to this [existing Image accessibility issue](https://github.com/WordPress/gutenberg/issues/5205) rather than add a new issue for this?

[2022-06-29 22:53] joedolson commented on #13164
@glendaviesnz I'm not sure that's appropriate. That issue is about providing notices to users to help guide them in making good choices; this issue is more about how to output code that makes whatever data is available most useful. To me, those are pretty different aspects, and seem like they would need different handling.

[2022-06-29 23:20] ellenbauer commented on #39732
I'm wondering if there is any solution for this issue, since it would allow a much easier work flow for block theme authors allowing us to add more complex nested patterns e.g., a Landing page pattern to a theme.

[2022-06-29 23:57] glendaviesnz opened #42057 "Image block accessibility improvements"
## What problem does this address?

Currently if the Image does not have an alt tag, but does have a caption there is no semantic link between the image and caption in order for screen readers, etc. to make use of it.

Also, if an image is linked there is no semantic association between the link and image.

## What is your proposed solution?

Use an aria-describedby to point to the existing captio

[2022-06-29 23:59] glendaviesnz commented on #13164
Closing in favour of https://github.com/WordPress/gutenberg/issues/42057. @joedolson feel free to edit the new issue description. @paaljoachim you may want to add this new issue to your [Image block tracking issue](https://github.com/WordPress/gutenberg/issues/28923)

[2022-06-29 23:59] #13164 closed

[2022-06-30 00:36] carlomanf commented on #38376
Another related discussion about the appearance parity concern: #38108

[2022-06-30 01:11] BrunoAHVincent commented on #33583
I see a lot of guys saying comments like _"this would improve editing"_ or _"might be helpful"_....

But this is CRUCIAL, not optional and _"adding to user experience"_.....!!!

It's a total mess without it,  and Elementor and most builders all have this feature.

Hell, even my Keynote application from 2001 has this...all data systems should allow you to label your structure.

This thread is from

[2022-06-30 01:11] nickchomey opened #42058 "Dragging blocks in the list view is all mis-aligned suddenly"
### Description

When I drag a block in the list view, the indicator is all mis-aligned. It seems to be off by 1 list item. Also, it is difficult to drag to the top or bottom - you need to be very precise.

Problem goes away when I disable the Gutenberg Plugin (though it is still difficult to drag to the top or bottom, similar to what was described in this issue https://github.com/WordPress/gutenb

[2022-06-30 01:35] andrewserong commented on #33583
Yes, work is under way, but we're starting off incrementally with improvements to how Headings and Paragraphs are displayed (I've made a start in https://github.com/WordPress/gutenberg/pull/41855). I believe the goal is to progressively enhance display in the list view over a series of PRs so that the overall experience of using the List View improves with each major WordPress release. I'm keen to

[2022-06-30 02:42] paaljoachim commented on #13164
Thanks for the headsup @glendaviesnz Glen!

[2022-06-30 03:37] noisysocks commented on #40891
From https://github.com/WordPress/gutenberg/pull/40971#issuecomment-1169524721:

[2022-06-30 03:51] noisysocks commented on #41452
What happens if the post already has a template that was created using the post editor sidebar?

[2022-06-30 05:07] github-actions[bot] opened #42062 "[Flaky Test] ensures list block toolbar uses roving tabindex"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
ensures list block toolbar uses roving tabindex

## Test path
`specs/editor/various/toolbar-roving-tabindex.test.js`

## Errors

<details>
<summary>
	<time datetime="2022-06-30T05:07:47.445Z"><code>[2022-06-30T05:07:47.445Z]</code></time> Test passed after 1 failed attempt o

[2022-06-30 06:26] annezazu commented on #42006
I'm going to close this out as a confirmed duplicated. If there's something that feels distinctive about this issue though, just let me know and I'll reopen!

[2022-06-30 06:26] #42006 closed, assigned to nobody

[2022-06-30 06:34] EmSixTeen commented on #33583
A custom label is essential to actually provide a clear overview. Want to voice that 'auto' naming based on the content is the last thing I'd like to have, personally - automatically naming nested content and repeated content just opens a can of worms. Could be nice for some people but not for me.

[2022-06-30 06:49] galbaras commented on #28214
+1

[2022-06-30 06:51] talldan commented on #41575
There are notably quite a few popover issues that may be related, or even the same bug - https://github.com/WordPress/gutenberg/issues/42058, https://github.com/WordPress/gutenberg/issues/41823, https://github.com/WordPress/gutenberg/issues/41739.

After bisecting, this particular one does seem to be caused by https://github.com/WordPress/gutenberg/pull/40740. I'm assuming there's supposed to be s

[2022-06-30 07:08] scruffian commented on #42054
One suggestion is that this could be expected behaviour, since the theme is opting in to opinionated styles using the theme support (add_theme_support( 'wp-block-styles' );)

If we go this route then:
1. We should document it somewhere
2. We would gradually expect block themes to stop using the `wp-block-styles` theme support.

@WordPress/block-themers - does this approach make sense to you?

[2022-06-30 07:19] afercia opened #42064 "Block options menu: initial focus skips the first menu item"
### Description

When the 'Options' menu in the block contextual toolbar opens, initial focus is expected to be set to the first menu item. Instead, it's set on the second menu item.

### Step-by-step reproduction instructions

- Edit a post.
- Select a paragraph to make the block contextual toolbar appear.
- Click the last button within the toolbar to open the 'Options' menu.
- Observe the initia

[2022-06-30 07:42] #40824 closed, assigned to anton-vlasenko

[2022-06-30 07:45] #42047 closed, assigned to tyxla

[2022-06-30 07:47] afercia commented on #42064
<img width="1347" alt="Screenshot 2022-06-28 at 16 43 21" src="https://user-images.githubusercontent.com/1682452/176617370-c7aae010-3f09-470b-a986-a8b169d4e033.png">

When opening the menu, `useFocusOnMount` is responsible for setting the initial focus. It finds all the 'tabbable' elements and sets focus on the first one:

https://github.com/WordPress/gutenberg/blob/691f2ef1a1ced82e831f3209793dfb1

[2022-06-30 08:00] tellthemachines commented on #35607
Can you elaborate on that @scruffian? That's not what I'm getting from the conversation on this issue so far.

As I understand it, three different scenarios have been suggested above:

* Have the root padding apply only inside of blocks that stretch to full viewport width (this from the opening comment);
* Have the root padding apply inside all blocks that have layout/content width defined, whethe

[2022-06-30 08:03] carolinan commented on #42054
I fully expect to stop using wp-block-styles. The main reason why I still use it is because of the .has-background padding, not the captions.

I'd happily get rid of it completely but I don't know how to solve it for older themes.

[2022-06-30 08:34] gziolo commented on #42047
It should work correctly as of `v3.5.1` that has just got published to npm. I can confirm it works for me.

[2022-06-30 08:34] tyxla commented on #42047
Thanks @gziolo 🙌

[2022-06-30 08:36] drskullster commented on #42047
Working here, thanks for the fix !

[2022-06-30 08:37] gziolo commented on #42047
@drskullster, thank you so much for the report 🙇🏻

[2022-06-30 08:54] carolinan commented on #38468
With the new comments block, you can remove the date in the editor, so I would like to close this issue as solved.

If you are using Twenty Twenty-Two with WordPress 6.0, you can open the templates and remove the old comment block, and replace it with the new.
The new block is not used by default, since the theme is built to support an earlier version of WordPress.

[2022-06-30 09:13] getdave commented on #38277
## Update

We've iterated on this in https://github.com/WordPress/gutenberg/pull/41786 and I'm currently working on https://github.com/WordPress/gutenberg/pull/41976.

I have [a video overview](https://www.youtube.com/watch?v=XikXzLLojhk) of this if folks want a quick review.

After merged of https://github.com/WordPress/gutenberg/pull/41976, the next steps are:

- [x] Fix https://github.com/WordP

[2022-06-30 09:21] getdave commented on #42055
Ok this is an interesting bug. I will look into it now.

[2022-06-30 09:43] Mamaduka commented on #29296
@ntsekouras, now that we have some logic specific to Reusable blocks and Template Parts, would it make sense to update `hasPossibleBlockTransformations` and add a check for the latter?

https://github.com/WordPress/gutenberg/blob/trunk/packages/block-editor/src/components/block-switcher/index.js#L91-L93

P.S. I remember you looked into ways to disable wildcard transformations for blocks, but I don

[2022-06-30 09:45] luisherranz commented on #38376
Good point. This could be solved with the same mechanism.

cc: @SantosGuillamot

[2022-06-30 09:53] jameskoster commented on #41452
That is a very good question, and I am once again humbled by the template hierarchy 🙈

Currently templates created in the post editor are `$custom` and therefore _above_ specific templates (such as `single-post-hello-world`) in the hierarchy. I mistakenly thought it was the other way around.

So actually the current behavior of the template panel is correct – I am able to select a $custom template

[2022-06-30 09:58] jameskoster opened #42066 "Unique templates can be applied to any post"
### Description

It's currently possible to apply a template that was created for one specific post to any post.

### Step-by-step reproduction instructions

* In the Site Editor navigate to the templates list and create a template for one specific post
* From wp-admin > posts list navigate to a different post to the one you created the template for in the preview step
* In the post inspector open

[2022-06-30 11:28] javierarce commented on #42010
That makes sense, but we should try to solve the problem. Links with long texts can be edited, but links with short ones (like "Help" for example, or text written using ideograms like in Chinese or Japanese) are quite difficult to select.

Maybe we could try something like this for example:

![image](https://user-images.githubusercontent.com/4933/176665931-d4c4bea5-f022-4aad-bf27-02aa919d6f90.png)

[2022-06-30 12:04] scruffian commented on #35607
This is what happens for these two "alignfull" blocks in TwentyTwentyTwo:
<img width="1438" alt="Screenshot 2022-06-30 at 13 02 19" src="https://user-images.githubusercontent.com/275961/176672463-4d2d638b-3b85-4c51-a4f8-35e12464c9fa.png">
<img width="1439" alt="Screenshot 2022-06-30 at 13 00 53" src="https://user-images.githubusercontent.com/275961/176672474-4c9afd3c-66d3-4938-8e7d-2dd7c8021fce.pn

[2022-06-30 12:07] scruffian commented on #35607
The issue with the solution in #42034 is the assumptions it makes about the level at which alignfull block are nested. You can see this by testing it on TwentyTwentyTwo with [this PR](https://github.com/WordPress/wordpress-develop/pull/2578). When you compare that PR + #42034 with the results on trunk, the results for alignfull blocks are quite different.

[2022-06-30 12:34] getdave commented on #42055
I have a suggested fix in https://github.com/WordPress/gutenberg/pull/42072. Not sure if the `:not()` selector route is sustainable in the long term however.

[2022-06-30 12:34] diegohaz commented on #41466
As a matter of curiosity, [Ariakit does render a native `<select>` element underneath](https://github.com/ariakit/ariakit/blob/24aef88e0535d38bb36f4a69c0d2d58178f93b3e/packages/ariakit/src/select/select.tsx#L192-L218), but it's a hidden element so it can support native browser autofill and form submission.

I'd keep `SelectControl` as-is. Using a native select is always better when you don't need

[2022-06-30 12:44] pbking commented on #42054
Not using `wp-block-styles` indeed makes the most sense; I don't see that being helpful for block themes moving forward.  To me that says "I'm going to be customizing CSS in this theme and I'm keen to start with some extra".  I'm sure there are other areas where the opinionated CSS clobber Global Styles and I would rather see the use of the support phased out rather than building exceptions for th

[2022-06-30 12:46] hz-tyfoon commented on #42032
I can also confirm this bug exist.
This bug is not only the 'buttons' block but in the 'link-control' component. I found this bug also exist when 'linking any text' in the paragraph block.

pushed a fix it in this PR: #42073

[2022-06-30 12:50] ntsekouras commented on #42066
@jameskoster is it possible the template you created was from Bernie's PR for fallback content on creation? Because on that PR the creation with the post_meta added was removed. Can you try with a template created in trunk?

[2022-06-30 13:14] ndiego commented on #41282
This was closed incorrectly, reopening.

[2022-06-30 13:35] afercia commented on #42064
In my testing, using the setTimeout `0` workaround in `useFocusOnMount` would fix the issue.

Turns out `useFocusOnMount` used to have a SetTimeout that was removed in https://github.com/WordPress/gutenberg/pull/27699. I do understand the reasons why it was removed, but it appears that change didn't take into account components that are mounted _at a later time_ within the parent component where `

[2022-06-30 13:37] javierarce opened #42075 "Delay the creation of links in the Navigation block"
When a user adds a Navigation block and clicks the plus icon of the inserter, we immediately insert a placeholder link with the text "Add link". After this, the user searches for a page or, a bit confusingly IMHO, "transforms" that temporary element into a Site logo, Social icons, or Search.

If the user changes their mind and clicks outside of the popover to close it, the menu ends up with an emp

[2022-06-30 14:11] ockham commented on #41944
I've tried to debug this a bit more, but haven't been very successful so far 😕

One theory I had was that maybe the Site Editor's code editor simply doesn't reflect the updated blocks, but I had a hard time verifying -- the way that the respective editors are connected (and how they relate to `useEntityBlockEditor`, `EditorProvider`, etc.) is rather complex, and I'm not too familiar with the relev

[2022-06-30 14:17] tedw commented on #40159
Related https://github.com/WordPress/gutenberg/issues/38126

[2022-06-30 14:28] javierarce commented on #42075
If that's the reason for this behavior, maybe we could explore the idea of removing the Custom Link if the user closes the popover?

[2022-06-30 14:36] javierarce commented on #41010
I've been thinking about this problem and how weird it is that sometimes the appender/inserter button adds a link, and other times it shows you a list of blocks (it took me a while until I understood the actual reason, which is what @carolinan mentions in the comment above), and I feel that we should always show the block inserter popover, even if adding a link would require an extra click.

Showi

[2022-06-30 14:47] cbirdsong commented on #38126
Here is an interim workaround filter that also accounts for the "Stack" variation:

[code]

Caveats:
- You probably need to remove the `.wp-container-` class for the `preg_replace` to work.
- This will stop working entirely if the value of `$block["attrs"]["layout"]["type"]` changes away from `flex`.
- There will be redundant or duplicate classes added to your markup once core adds semantic classe

[2022-06-30 15:40] joedolson commented on #42057
To clarify: There is a semantic association; a linked image is the accessible name for the link. The problem here is that if an image is linked, and has no alt attribute, then the link has no name. If an image has a caption, but no alt attribute, we can name the link by associating the caption with the link. If we're not going to implement a mechanism to enforce alt attributes on linked images, th

[2022-06-30 15:41] scruffian commented on #35607
I tried combining the solution in #42034 with #39871 and still found the same issues.

[2022-06-30 15:53] SergeyBiryukov commented on #40675
Since the associated PR has been merged and backported to WP core, I think this should be resolved now.

[2022-06-30 15:53] #40675 closed, assigned to nobody

[2022-06-30 17:20] hz-tyfoon opened #42080 "'open in new tab' option gets auto unchecked when editing the link of the 'linkeded text' in 'paragraph block'"
### Description

When using the paragraph block. If I make some text in the paragraph 'linkable' and make the link 'open in new tab' checked, then after I decide to change the link url and hit the 'submit button/curved arrow' then the link's 'open in new tab' option gets auto unchecked.

See the 'Step-by-step reproduction instructions' & the 'screen recording' for more details.

### Step-by-step r

[2022-06-30 17:34] ockham commented on #41944
Digging a bit deeper.

The Site Editor's Code Editor gets its content here: https://github.com/WordPress/gutenberg/blob/2941a10db6bb51dac420dedbbe259973c3b3539a/packages/edit-site/src/components/code-editor/index.js#L26-L38

[code]

etc.

However, `blocks` is actually set properly by `useEntityBlockEditor`: https://github.com/WordPress/gutenberg/blob/2941a10db6bb51dac420dedbbe259973c3b3539a/packag

[2022-06-30 18:06] hz-tyfoon commented on #42080
### PR: [#42073](https://github.com/WordPress/gutenberg/pull/42073) fixs this issue

[2022-06-30 18:07] nickfmc commented on #13363
the spacer block should be added to the list of blocks that require responsive controls, it's really a useless block without them. you should be able to enter a different value for each of your breakpoints.

[2022-06-30 18:20] jameskoster commented on #42066
Ah, possibly. I checked out trunk and deleted all templates. Then created a new template for "Hello World", but I am not seeing that template as an option in the template dropdown. Could that be related to the PR you mentioned as well? 🤔

<img width="1400" alt="Screenshot 2022-06-30 at 19 18 16" src="https://user-images.githubusercontent.com/846565/176749743-267c71e4-ce6f-4889-8996-03d39320b55d.pn

[2022-06-30 18:24] hz-tyfoon commented on #40243
Looks like This issue is simillar to (issue: #42032)
And can be fixed also by (PR #42073)

[2022-06-30 18:32] ockham commented on #41944
The Post Editor's Code Editor OTOH obtains `content` via `getEditedPostContent`: https://github.com/WordPress/gutenberg/blob/2941a10db6bb51dac420dedbbe259973c3b3539a/packages/editor/src/components/post-text-editor/index.js#L22-L25

![image](https://user-images.githubusercontent.com/96308/176751148-474a60a9-5adf-4b0a-a7b4-c4416c66bbf4.png)

I believe that the main difference w.r.t. the Site Editor'

[2022-06-30 18:48] ockham commented on #41944
In conclusion:

Both the Post Editor and Site Editor use `useEntityBlockEditor` to parse content into blocks. That parsing also applies legacy block conversions and deprecations. However, they are not automatically applied to `content` state.

The Post Editor's Code Editor gets its content via `getEditedEntityRecord`, which checks if it has been parsed into blocks, and if yes, returns new content

[2022-06-30 18:52] echivalent commented on #9701
after 2 years of developing versions, there is still missing that random option, or I am doing something wrong?

[2022-06-30 19:16] getdave commented on #38291
Thank you for providing some additional clarity here @mtias. There is a lot of discussion around the behaviour of the block at the moment, but I believe some solid planning at this stage will save as many hours of development time down the line so it's good to see the dialogue here.

## Quick plea for fixing what we have

I would like to suggest that before we start implementing any of the more ad

[2022-06-30 22:29] ramonjd commented on #41993
An issue that raises the possibility for `is-row` etc for manifestations of the Group block
- https://github.com/WordPress/gutenberg/issues/38126

[2022-06-30 22:49] andrewserong commented on #41993
One of the ideas in https://github.com/WordPress/gutenberg/issues/39336 from @cbirdsong is to use `.is-layout-row` and `.is-layout-stack` classes for the horizontal and vertical variations of the `flex` layout type. So if we went that route, someone could potentially target a Row group block variation via `.wp-block-group.is-layout-row`?

[2022-06-30 23:04] glendaviesnz commented on #42021
This doesn't just happen with pasted patterns. This happens in any instance where a Gallery block only includes externally linked images.

[2022-06-30 23:40] #40269 closed, assigned to carolinan

[2022-07-01 00:04] a4jp-com commented on #9701
It still hasn't been added but I hope it can be added one day. I have so many sites I'd like to add dynamic galleries to. We can do lots of different things with blocks now that can't easily be done in classic mode any more as well.

[2022-07-01 00:27] polarstoat opened #42082 "Styling set on the core/heading block of theme.json gets applied to all h1, h2, h3, etc."
### Description

Styles set on `styles.blocks.core/heading` of `theme.json` are applied as markup that effects all h1, h2, h3, h4, etc. tags. This means unless HTML heading tags have their own explicitly set styles that would override `styles.blocks.core/heading`, they inherit that.

For example, setting
[code]
in theme.json results in the generated inline css of
[code]

Uses of HTML heading tags

[2022-07-01 01:51] noisysocks commented on #41452
It's definitely confusing 😅 I don't really like that we have two flows to accomplish what amounts to the same thing.

[2022-07-01 02:31] talldan commented on #42003
The same thing seems to have been encountered in the widget editor - https://github.com/WordPress/gutenberg/issues/41739.

[2022-07-01 04:46] tellthemachines commented on #35607
The only assumption #42034 makes is that alignfull blocks need to be nested inside blocks with layout all the way down. Testing that PR on TT2 with https://github.com/WordPress/wordpress-develop/pull/2578 applied, the only problem I see is alignfull items in the post content aren't stretching to the full width of the viewport. That happens because the outer Group block that post content is nested

[2022-07-01 05:08] glendaviesnz commented on #14946
Going to close this as it relates to the gallery block prior to the refactor to nested image blocks.

[2022-07-01 05:08] #14946 closed

[2022-07-01 05:21] glendaviesnz commented on #26674
I couldn't replicate this in TwentyTwenty theme with the new version of the Gallery block (WP 6.0, GB 13.6). With single images in the Gallery for me the image expands to fill the available width now, so is naturally centered.

[2022-07-01 05:21] #26674 closed

[2022-07-01 05:53] tellthemachines commented on #35607
Ok I've created a draft in #42085 with solution 2: applying root padding only to blocks with layout. Feel free to test and give feedback!

[2022-07-01 07:16] Mamaduka commented on #42066
Unique templates take precedence before standard templates, correct? In that case, we might want to display a message that the post/page uses a specific template and hide the drop-down. Like we do for "Page for Posts."

[2022-07-01 07:17] ntsekouras commented on #42066
Hm... Where can I see that @Mamaduka? Do we have some similar handling elsewhere?

[2022-07-01 07:19] Mamaduka commented on #42066
@ntsekouras, this is how we handle the "Page for Posts" case.

https://github.com/WordPress/gutenberg/blob/f2888ed55f5aeae667d1cacc7c3ec22740f8952c/packages/edit-post/src/components/sidebar/post-template/form.js#L107-L125

P.S. It might be a good idea to double-check in template hierarchy logic for unique templates.

[2022-07-01 07:23] ntsekouras commented on #42066
Yeah, we could probably display something similar.. Would it make sense to also add the specific template in the list as an alternative? 🤔

[2022-07-01 07:23] Mamaduka commented on #42066
I just followed my own advice and double-checked things 😄

It looks like unique template `post-{postSlug}` is only served if a post has no template specified.

[2022-07-01 07:35] talldan commented on #41575
I tried a fix in #42086, but unfortunately that PR currently regresses another part of the toolbar positioning. I'll continue looking for a solution.

[2022-07-01 07:40] Mamaduka commented on #41449
@jameskoster, with recent refactoring (#41925), what do you think if we display the template name as a button label, but leave "Default template" in the drop down?

![CleanShot 2022-07-01 at 11 38 03](https://user-images.githubusercontent.com/240569/176848248-4ef246d7-e063-4c0c-9e05-507ec22dee13.png)

[2022-07-01 08:00] ntsekouras commented on #29296
Ideally we should augment the transforms API to handle things like excluding and better handling of the wildcard. Having said that, since we already have some specific logic there about template parts, I think it would be okay to have a stop gap solution with a good comment that this should be handled by the transforms API.

[2022-07-01 09:10] Gierand commented on #40831
Hi,
I confirm that the problem is with [`settings.blocks.blockname.color.palette`](https://fullsiteediting.com/lessons/theme-json-color-options/#h-how-to-add-a-color-palette-for-a-block) and `settings.blocks.blockname.color.gradients`

WP: 6.0
Theme: TT2
Plugin: Without Gutenberg, with Gutenberg (13.5.2 and 13.7.20220630)

[2022-07-01 09:21] scruffian commented on #38277
@javierarce what do you think about reusing the three dots interface to show/hide the hover state controls? This is how it looks for typography:
<img width="280" alt="Screenshot 2022-07-01 at 10 20 25" src="https://user-images.githubusercontent.com/275961/176866263-356c23c5-0530-45c3-adfd-43382f322904.png">

[2022-07-01 09:28] scruffian commented on #38277
@javierarce what do you think about reusing the three dots interface to show/hide the hover state controls? This is how it looks for typography:
<img width="280" alt="Screenshot 2022-07-01 at 10 20 25" src="https://user-images.githubusercontent.com/275961/176866263-356c23c5-0530-45c3-adfd-43382f322904.png">

[2022-07-01 09:33] jameskoster opened #42088 "When creating a template for a specific entry, ask the user if they'd like to apply the template immediately"
When a template is created for a specific entry in the site editor, it seems fair to assume that in some cases folks would want to apply that template right away. This doesn't currently occur though, and the flow to do so is rather convoluted:

1. Exit site editor
2. Edit post
3. Open template panel and select template
4. Save

It would be nice if there was a point in the template creation flow th

[2022-07-01 09:47] jameskoster commented on #42066
It's served _automatically_? If that's the case we'll need to re-open and address https://github.com/WordPress/gutenberg/issues/41452 (albeit conditionally) :D

https://github.com/WordPress/gutenberg/issues/42088 will also be affected.

[2022-07-01 09:55] jameskoster commented on #41449
Personally I think that's a bit confusing – two elements in the UI seem to be telling me different things. Appending "(default)" to the default template name still seems the best way to provide clarity imo.

[2022-07-01 09:58] jameskoster commented on #41452
Turns out the explicit template _is_ applied automatically, but _only when a custom template hasn't been applied_. Re-opening and updating the OP :D

[2022-07-01 10:03] jameskoster commented on #42088
Based on discoveries in https://github.com/WordPress/gutenberg/issues/42066, it seems the template is applied automatically, but only if the post hasn't had a `$custom` applied to it.

So in terms of this issue, we'd only need to ask the user in situations where the targeted post has had a custom template set.

[2022-07-01 10:20] jameskoster commented on #42066
Going to close this since the original issue seems to have been due to contamination from another PR. I would appreciate if one of y'all could check this as well though, just to make sure:

(https://github.com/WordPress/gutenberg/issues/42066#issuecomment-1171535774)

[2022-07-01 10:20] #42066 closed, assigned to nobody

[2022-07-01 10:37] AhmadRaza9 commented on #27100
Can we add group or column height in theme.json...?

[2022-07-01 10:59] #33471 closed, assigned to Mamaduka

[2022-07-01 11:07] Mamaduka commented on #42066
Here is how the current WP template resolution works for this case:

* The unique post template is served as "Default Template" when a post has no custom template set.
* WP will start using the custom template if the user sets it from the dropdown.

WP would refer to this unique template as "Default Template."

[2022-07-01 11:10] getdave commented on #41146
**Update**: myself and @scruffian took some time to pair on the problem here. This is what we found:

---

- On trunk the Nav block uses non-standards text color and background controls.
- There is now a standards based Block Supports for Text, Background and Link colors which it should be using.

## The Bug:

- The styles for the Nav block [tell the links inside it to inherit their color from the

[2022-07-01 11:24] Mamaduka commented on #42088
Or we can just clear the custom template for that post. I assume that if a user creates a `post-{postSlug}` template, they intend to use it.

[2022-07-01 12:09] gziolo commented on #41717
I can share my experience concerning block unification based on the challenges with the current workflows I discovered when preparing for my WC EU talk [Level Up Block Building Skills](https://wordpress.tv/2022/06/26/greg-ziolkowski-level-up-block-building-skills/). I included a few demos in my slides that I'd like to share first to set the proper context.

### Inserting Block Patterns

https://us

[2022-07-01 12:39] jameskoster commented on #42066
Ah, sorry I meant could y'all check that it's working as intended. On my local when I create a unique template (e.g. for "Hello World" post) I do not see it in the template dropdown as an option.

[2022-07-01 12:39] adamziel commented on #40318
Related: https://github.com/WordPress/wordpress-develop/pull/2853 adds support for array-based style property in block.json. For example:

[code]

[2022-07-01 12:43] #29296 closed

[2022-07-01 12:44] jameskoster commented on #42088
That's definitely an option. But we'd need to update the description so the user understands that will happen.

Perhaps we just replace:

With:

[2022-07-01 13:13] carolinan commented on #40831
Hi!
I am still unable to reproduce this.
Steps:

1. Install WordPress 6.0.
2. Do a git clone of current Gutenberg trunk, run the npm install and build steps, activate the plugin.
3. Copy the empty theme from gutenberg/test/emptytheme folder into the wp-content/themes/emptytheme
4. Replace the content of the theme's theme.json file with the code above
5. Activate the emptytheme
6. Create a new post

[2022-07-01 13:24] afercia opened #42093 "BoxControl: use a more appropriate ARIA role instead of 'region'"
### Description

The `BoxControl` component is typically used for Padding / Margin / Block spacing (Gap) controls in the inspector sidebar.

The root element of this component renders a div element with an ARIA `role="region"` and an `aria-labelledby` attribute that points to some visible text.

It's important to know that when the ARIA `role="region"` is used on a labelled element, it determines

[2022-07-01 13:25] scruffian commented on #35607
I've tested #42034 against the TT2 PR, set the main group to alignfull and post content to alignfull, and as you say it works as expected. The only exception is the same issue that I have in my suggested PR (https://github.com/WordPress/gutenberg/pull/41377), which might suggest that the test case itself is faulty.
<img width="1440" alt="Screenshot 2022-07-01 at 14 16 28" src="https://user-images.

[2022-07-01 13:51] carolinan commented on #40997
Hi!
In my test, I used "Emptytheme", and I placed buttons inside a column block just to make sure they wrap to two lines.
When I click in different places close to the buttons, focus moves to the button that it closest, and I think that is reasonable?
-What was your expected result?

https://user-images.githubusercontent.com/7422055/176907715-e0f4b553-4694-4cb8-bd36-44c38c8a0b2a.mov

[2022-07-01 14:06] javierarce commented on #38277
@scruffian I think it's a good idea (I suggested it [here](https://github.com/WordPress/gutenberg/issues/38277#issuecomment-1127757011) but I forgot to add the other existing options inside the menu). I can imagine two possibilities: as a toggle for the feature, or as a list of properties that users can turn on and off.

![image](https://user-images.githubusercontent.com/4933/176909371-1d87e99d-14

[2022-07-01 14:21] Gierand commented on #40831
@carolinan You're right! Everything works as it should. The mistake was on my side (character error).

Thanks for your involvement.

[2022-07-01 14:24] dmsnell commented on #38637
Finally I've been able to figure out some reproducibility steps and I have to say I'm no longer surprised on why this was so hard to figure out. I _suspect_ at this point we only get into this situation after deleting an existing title and then pasting; if you can confirm that you have seen this bug without hitting backspace, delete, or pasting over existing content I'd like to know.

Some interes

[2022-07-01 14:26] #42055 closed, assigned to getdave

[2022-07-01 14:34] carolinan commented on #42082
I am able to reproduce this with Gutenberg active, but not with only WordPress 6.0.

@WordPress/block-themers Do we need to add the `wp-block-heading` class to the block on the front and apply the styles to the class? Adding it would also match the editor better, the class is already used there.

I don't remember the arguments against adding the class from the start, it might have been related to

[2022-07-01 14:35] afercia opened #42095 "Border control: missing labels"
### Description

In the Border control, some form elements are unlabelled. There's nothing that gives these form elements a name so they will be announced by screen readers only with their type. Users won't have a clue what these form elements are meant for and they will be forced to explore the surrounding UI to figure it out.

### Step-by-step reproduction instructions

- edit a block that has a

[2022-07-01 14:44] matiasbenedetto opened #42097 "Button element settings in theme.json breaks the Fill/Outline button functionality"
### Description

If you set border settings for the button element, the Fill/Outline functionality works not consistently.

### Step-by-step reproduction instructions

1.  Activate `emptytheme` to discard theme interferences
2. Add this  snippet to `theme.json`

[code]
3. Add a button element
4. Try to set outline style and change the button colors as in the video

### Screenshots, screen recordin

[2022-07-01 14:48] afercia opened #42098 "Radius control: the range input is unlabelled"
### Description

In the Radius control, the slider input (type=range) is unlabelled. All form controls need to be labelled.

### Step-by-step reproduction instructions

- edit a block that supports the radius control e.g.: Columns
- make sure the Radius control is enabled in the 'Dimensions
- use the Chrome dev tools to inspect the source of the Radius control that is displayed in the sidebar
- se

[2022-07-01 15:35] scruffian commented on #35607
Here's another idea....

Rather than trying to apply the padding to alignfull blocks in a global way, what if we set it as a property of the block itself. For example:

1. If I create an alignfull block which stretches to the viewport edge, we hook into this action and also set a padding value on the block equivalent to the root padding.
2. If I create an alignfull block which stretches to the edg

[2022-07-01 15:38] cdils commented on #42082
I'm seeing this behavior with Gutenberg deactivated as well.

[2022-07-01 15:46] DaveBoydy commented on #35607
What if there was another variant to the group block with semantic naming that would distinguish it from generic group blocks and row, stack variants?

The intent behind the new variant group block would be to specifically stand out as the block which sets the sites root padding and as a default has 'Inherit default layout' set to on. Theme authors could specifically target the new block from them

[2022-07-01 16:10] draganescu commented on #38291
Must we?

* The page list block has an edit action.
* The block itself behaves like the other blocks in terms of UI
* There is an appender

... so what is a placeholder for? If pages are useless delete them and you get to a placeholder, _which you created_ and nothing rendered on the front end. I think this state is missing in terms of sync:

- as an editor when I delete everything inside a naviga

[2022-07-01 16:12] DaveBoydy commented on #35607
This is how it should be done ! and i think what i've been trying to say, if i could set a custom padding value I.E. not set with the units px, %, rem, vw etc. But with a custom value like 'max(3.5vw, 16px)' from the property of the block itself that would be great !

I can define my own font size in theme.json like
            {
                    "slug": "max-48",
                    "size": "c

[2022-07-01 16:37] matiasbenedetto opened #42100 "Search block button always displays default cursor (arrow)"
### Description

The search block button always displays the default cursor (arrow). It should use the same cursor as for other buttons or text inputs.

### Step-by-step reproduction instructions

1. Add a search block
2. Check the cursor in the editor and the rendered version

### Screenshots, screen recording, code snippet

## Before:
Editor text:
![image](https://user-images.githubusercontent.c

[2022-07-01 16:53] mtias commented on #39732
Looks like a bug in block preview that we can address, but I also wonder what is the structure that is leading to the need of nested patterns. Are we talking about optional full-page templates that reference multiple patterns or something else? Want to check that there's no anti-pattern (no pun intended!) buried within that we should address in a different way.

[2022-07-01 17:39] nickfmc commented on #37232
WP 6.0 seams to have this issues again? unless I have "appearanceTools": false, then the block gap styles are enqueued if I set blockGap to null or not. Can anyone verify this @oandregal

[2022-07-01 20:07] ironprogrammer commented on #38637
Thanks for the repro notes and video, @dmsnell! To add to this, I've found that *the browser used has a big impact on the reproducibility*. First, my environment details:

- OS: macOS 12.4
- Browsers:
  - Safari 15.5
  - Google Chrome 103.0.5060.53
  - Mozilla Firefox 102.0
- Server: nginx/1.23.0
- PHP: 7.4.30
- WordPress: 5.9.3, 6.0, and 6.1-alpha
- Theme: twentytwentytwo v1.2
- Gutenberg plugin

[2022-07-01 22:11] jordesign opened #42103 "Separator Block: Add more alignment options"
## What problem does this address?

Currently it is only possible to have 'none' or 'center' alignment on Separators. The ability to left, right, full-width, or wide align these elements would greatly increase the creative flexibility with which they can be used

## What is your proposed solution?

Add support for the following alignments to the Separator Block:
* Left
* Right
* Wide
* Full Width

[2022-07-02 02:25] pbking commented on #42082
I thought NOT leveraging a `wp-block-heading` class was strange.  I definitely support transitioning to the class in the view.  It's a lot more explicit about the intent and gives us better control.

[2022-07-02 02:43] ellenbauer commented on #39732
@mtias  Thank you so very much for your reply. You are totally right, and it's great that you mention there might be an issue with confusing patterns vs templates. Maybe you can help solve the confusion a bit?

There are 2 scenarios where I feel using nested pattern blocks can be useful for block theme creators:

### 1. Page patterns
Next to smaller section patterns, I also feel it is helpful to p

[2022-07-02 03:19] carolinan commented on #42082
It would change heading element styles for themes that has relied on this "feature" until now...

[2022-07-02 05:22] carolinan commented on #42082
Aside: We will probably need to add the class to the paragraph block as well: https://github.com/WordPress/gutenberg/issues/35323

[2022-07-02 08:17] mtias commented on #42103
Adding the ability to align things left / right without floating sound good. While adding the support should be straightforward, we should consider the fact this should also be exposed for the global styles of the block, so you can modify globally.

[2022-07-02 08:28] carolinan opened #42105 "Gradient background set in theme.json can not be replaced with solid color"
### Description

If a theme sets a default gradient body background in theme.json, it is not possible to replace the gradient with a solid color in the  Styles settings in the site editor.

The resulting CSS is:
[code]
and the `background` is used over the `background-color`

### Step-by-step reproduction instructions

Activate a full site editing theme, for example Twenty Twenty-Two, -or use http

[2022-07-02 13:07] carolinan commented on #29763
Retested with WordPress 6.0, and the problem has been solved.

[2022-07-02 13:07] #29763 closed

[2022-07-02 13:12] carolinan commented on #30724
Could we change the label and tooltip of this toolbar option to "Alignment and width" ?

[2022-07-02 14:44] SergeyBiryukov commented on #41292
I believe this was fixed in #2921. Merged in [r53631](https://core.trac.wordpress.org/changeset/53631), backported to the 6.0 branch in [r53632](https://core.trac.wordpress.org/changeset/53632).

[2022-07-02 14:44] #41292 closed, assigned to cbravobernal

[2022-07-02 16:08] Simbaclaws opened #42107 "Clearing the MediaUpload component image selection?"
Hi there,

Is it possible to have a button (same as with the render method), that allows me to clear the current selection of the MediaUpload component?

I need to be able to have a button in red saying: Clear Image, or Clear Images (in case of a gallery).

[2022-07-02 20:13] annezazu commented on #30724
@WordPress/gutenberg-design ^ curious for more thoughts here and whether there are other PRs/issues to be aware of that relate to making width options a bit clearer.

[2022-07-02 20:31] jordesign commented on #42103
100% - I've got the start of a PR where the alignment support is added - but just need to figure out how to get the HR to take up the full width of a row - but only display the actual rule in the left or right location.

Do you mean having the alignment for the Separator Block in the Global Styles so a default can be set by the user?

[2022-07-02 21:40] TimothyBJacobs commented on #41847
This would require a server side change. We encode the decoded query parameters with `urlencode_deep`.

Ideally we probably should've set a `maxItems` value for `include` and `exclude` IMO and have the client do it's own pagination across the set of `ids`. However, I don't think we can justify that BC break. So I suppose we should advocate for clients to do it themselves even though the server can

[2022-07-02 22:51] ellenbauer commented on #34757
So true, I also think consistency between blocks is missing here. I heard that it might not be so easy to add Excerpt length settings to the block. But from a theme author's side, this seems to be something we would have loved to have solved in WordPress for so many years. Therefore, it would be amazing to have a solution for this issue.

[2022-07-03 02:19] ZebulanStanphill commented on #41474
The official Table of Contents block isn't even included in WP 6.0. I'm guessing you're using a Table of Contents block from a plugin, then? If so, the bug is most likely not in WP/Gutenberg, but in the plugin that adds the block you're trying to use.

[2022-07-03 13:16] akasunil commented on #39077
Gutenberg uses re-resizable component here, which support only PX unit for element resize. so when you resize it with editor, Gutenberg change size unit to PX.

[2022-07-04 01:58] tellthemachines commented on #35607
They fill the viewport width, unless their container has padding 😅 but yeah, it does feel awkward to add content width to a bunch of blocks just to get a child somewhere down the tree to be full width.

This is the case where we wouldn't need to have layout defined if we went with the first option 😁

If we don't want blocks without layout to get root padding by default, but neither do we want them

[2022-07-04 02:23] nuekleer commented on #40675
Still having this problem in core.  Have to have the plugin installed to fix.

[2022-07-04 03:27] M4N0JKUM4R opened #42110 "Ability to set reusable attributes"
## What problem does this address?

Currently, I do not see any way to set reusable attribute for all blocks not limited to current page or post but to a particular namespace.

This may be useful in a scenario like this:

https://wordpress.stackexchange.com/questions/407324/setting-global-block-attribute-value

## What is your proposed solution?

Ability to set something like reusable attribute in

[2022-07-04 03:50] github-actions[bot] opened #42111 "[Flaky Test] should not undo asterisk transform with backspace after selection change"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should not undo asterisk transform with backspace after selection change

## Test path
`/test/e2e/specs/editor/blocks/list.spec.js`

## Errors

<time datetime="2022-07-04T03:50:49.422Z"><code>[2022-07-04T03:50:49.422Z]</code></time> Test passed after 1 failed attempt on <a h

[2022-07-04 04:24] glendaviesnz commented on #39371
@jameskoster, @WordPress/gutenberg-design - one suggestion for the spacing presets is to [use a range slider](https://github.com/WordPress/gutenberg/issues/39371#issuecomment-1157567737), but because we are going with 10,20,30 type slugs, or in fact a theme author could have any combination of arbitrary strings for slugs, it seems like a range control may not be the best option for this, unless we

[2022-07-04 04:28] alexstine opened #42112 "Fix ComboboxControl outputting duplicate IDs with FormTokenField"
### Description

The ComboboxControl component uses the FormTokenField component to render the author combo box when the number of users is equal to or greater than 25. Once this happens, the IDs are duplicated because useInstanceId hook thinks FormTokenField and ComboboxControl components are different. This is caused I believe because of a custom focus management component wrapped around the Com

[2022-07-04 04:32] alexstine commented on #42112
@ciampo @Mamaduka I moved this over here from this PR: https://github.com/WordPress/gutenberg/pull/42060.

I think I finally figured out what was going on but I really do not have time at this point to come up with a fix. Seems like instead of checking the exact object, we should allow a lazy match on something like this. Can one of you find someone to work on this? 💯

Thanks!

[2022-07-04 05:06] talldan commented on #31746
I'll start exploring this.

[2022-07-04 05:19] tnchuntic commented on #25501
Any updates on this feature request? I love to have it and also hope someone has a solution for it. Currently, what I have done is use specific classes to hook up to custom javascript owl carousel.

[2022-07-04 05:21] SergeyBiryukov commented on #40675
The fix in core will be released with 6.0.1, [planned for July 12](https://make.wordpress.org/core/2022/06/25/wordpress-6-0-x-release-team-and-6-0-1-schedule/).

[2022-07-04 05:51] annezazu commented on #34757
@scruffian might this fit as being under general block support work? https://github.com/WordPress/gutenberg/issues/41113

[2022-07-04 07:07] tellthemachines commented on #35607
Ok, I added a global padding toggle to blocks without content width set in #42085:
<img width="281" alt="Screen Shot 2022-07-04 at 3 56 54 pm" src="https://user-images.githubusercontent.com/8096000/177099075-e9328419-4ce1-49f6-8b56-01916c55be3e.png">

What remains to be done on that draft PR is making sure alignfull still works when the parent has custom padding (which currently doesn't work on tr

[2022-07-04 07:52] SantosGuillamot commented on #41451
@c4rl0sbr4v0 I've seen that the [Comments translation issue](https://github.com/WordPress/gutenberg/issues/41292) has already been merged. I assume we can consider it done right?

[2022-07-04 08:17] cbravobernal commented on #41451
Yes! Tracking issue updated 🎉

[2022-07-04 10:10] mcsf commented on #41994
Hi, @helpmeurgent.

This is the intended behaviour. As @Mamaduka points out, up until 5.9.x there was a bug causing the editor to insert an external image when the user pasted an actual image attachments.

It should be understood that there is no one-size-fits-all behaviour, but, according to #38992 and other reports, the most expected outcome when pasting image attachments is to upload them to th

[2022-07-04 10:16] jameskoster commented on #30724
I agree with this, a checkmark is a more familiar pattern. Probably worth splitting this out into its own issue.

Also agree that text justification and container alignment shouldn't share the same tooltip label.

I think this is probably tied up with the broader layout issues. E.g. https://github.com/WordPress/gutenberg/issues/36082

[2022-07-04 10:21] jameskoster opened #42115 "Improve clarity around selected items in block tool dropdowns"
Originally surfaced in https://github.com/WordPress/gutenberg/issues/30724:

<img width="458" alt="Screenshot 2022-07-04 at 11 18 42" src="https://user-images.githubusercontent.com/846565/177135046-24c47ea7-c672-4583-9fc0-e6d10ffc5699.png">

---

In other areas of the UI like design tools and the preferences menu we use a checkmark to communicate that options are toggled on:

<img width="320" alt=

[2022-07-04 10:25] fahimanwer commented on #8869
Any Update on this?

[2022-07-04 10:30] jameskoster commented on #39371
Ideally the range should communicate the slug in the tooltip. That makes it easy to set the same value across blocks.

[2022-07-04 11:43] bph commented on #10243
closed as completed with #34680

https://user-images.githubusercontent.com/39980/177147980-e8ede4e7-9aae-4b59-84da-87b4c27e5c93.mp4

[2022-07-04 11:43] #10243 closed

[2022-07-04 12:05] andersnoren opened #42119 "[Avatar block] Allow for more units when setting size"
## What problem does this address?
Currently, the Avatar block only supports setting a value in pixels. Allowing all units supported by the active theme to be used would give users more flexibility.

As an example, when working within the Comments Query Loop, I wanted to set the width of the avatar with an em value, so it scales with the font size of the surrounding text on mobile. I can set the w

[2022-07-04 12:43] scruffian commented on #35607
Thanks for adding this @tellthemachines. What I like about this approach is:
1. It's declarative - there's no behind the scenes magic
2. It's controllable - so users can turn it on or off

[2022-07-04 12:49] scruffian commented on #42082
The solution to this will be to add a `wp-block-heading` class to heading blocks, but we should ensure that this isn't serialized.

[2022-07-04 13:43] ryanwelcher opened #42125 "Add code examples for actions/selectors in Data Module packages."
## What problem does this address?
Working with any of the data modules provided by WordPress can be very confusing. When looking at the [Data Modules section in the handbook](https://developer.wordpress.org/block-editor/reference-guides/data/), there are almost no code examples for developers to use as reference.

I would love to see an example for each action or selector that is exposed for use.

[2022-07-04 13:46] ryanwelcher commented on #42125
#42023 introduced one example and makes usage much clearer for [getNotices](https://developer.wordpress.org/block-editor/reference-guides/data/data-core-notices/#getnotices)

![Notices_Data___Block_Editor_Handbook___WordPress_Developer_Resources](https://user-images.githubusercontent.com/1259027/177167671-ddc8ddb2-d19c-4ece-9503-7ada9fcd57ba.png)

[2022-07-04 14:15] swissspidy opened #42126 "Scripts: Jest error when running e2e tests"
### Description

For the Preferred Languages feature plugin I am currently using `"@wordpress/e2e-test-utils": "^7.8.0"`, `"@wordpress/env": "^4.9.0"` and `"@wordpress/scripts": "^23.4.0"`, with no custom configurations or anything.

When running `wp-scripts test-e2e` all my tests now fail with the following error:

[code]

Example run: https://github.com/swissspidy/preferred-languages/runs/718199

[2022-07-04 15:29] swissspidy commented on #19777
Looks like #38225 introduced such a rule (`i18n-no-flanking-whitespace`)

Edit: this begs the question why it didn't catch dd7db32c1a3430046576b9c2da3f306d7cec06d2

[2022-07-04 15:35] swissspidy commented on #19777
Looks like the rule was only enabled for React Native code and not the whole code base 🙃

@jhnstn Do you recall why it wasn't considered to apply the `i18n-no-flanking-whitespace` rule for the rest of the code base? Seems like a missed opportunity.

[2022-07-04 15:37] adamziel opened #42128 "Blocks: Process HTML With a Parser (Instead of Regular Expressions)"
# What problem is this issue looking to solve?

I'd like Gutenberg PHP code to process HTML using an actual parser instead of regular expressions as it does now.

A few examples of regexps in action:

* [Remove whitespaces from the block markup](https://github.com/WordPress/gutenberg/pull/40859)
* [Inject inline styles to HTML tags](https://github.com/WordPress/gutenberg/pull/39658)
* [Inject CSS

[2022-07-04 15:42] jorgefilipecosta commented on #37407
Working on author-$nicename.

[2022-07-04 15:49] luisherranz commented on #41717
Thanks for this interesting proposal, Saxon. As a believer that designs tend to drift apart as they progress, I'm in favor of any attempt at design consolidation to simplify the mental model. I think that time spent asking these types of questions is time well spent and a healthy exercise in the long run, even if not everything can be simplified/consolidated at the end 🙂

I'm also glad to hear fro

[2022-07-04 16:00] luisherranz commented on #41547
@dabowman, may I ask you how far adding [descendant block styles](https://github.com/WordPress/gutenberg/pull/41922) to your container blocks could get you? What would be still missing from what you are trying to accomplish?

[2022-07-04 16:05] dmsnell commented on #42128
I don't consider this a real need at this point, largely because of the raw absence of a usable PHP HTML parser. You are free as a block author to do the parsing yourself in a way that is likely safe, which is far easier to determine on a block-by-block basis than it was before blocks when we had to consider the entire post's contents.

Note that block parsing does not parse HTML at all and the pa

[2022-07-04 16:15] adamziel commented on #42128
@dmsnell I’d like to avoid reinventing and maintaining all these regexps. A new corner case in the markup could have a nasty ripple effect across the different implementations of the same solution. It matters even more now that we’re adding these class names to previously „unclassed” blocks.

This issue stems from https://github.com/WordPress/gutenberg/pull/40859 where the Parser was discussed ext

[2022-07-04 16:28] t-hamano commented on #40403
I've never used snap, but I can reproduce this error by intentionally specifying a lower node version using the node management tool.
About adding a prompt to proceed or confirm anyway when the node version is low or not detected correctly, I would like to try because I think it doesn't require a major code change 👍

[2022-07-04 16:39] jameskoster commented on #41257
A similar choice is presented when creating a single-post template in the site editor:

<img width="506" alt="Screenshot 2022-07-04 at 17 37 20" src="https://user-images.githubusercontent.com/846565/177193438-a243d6b4-79a1-4ef2-983f-c9760a13519a.png">

We can potentially reuse this pattern here:

<img width="462" alt="Screenshot 2022-07-04 at 17 38 01" src="https://user-images.githubusercontent.co

[2022-07-04 16:59] jameskoster opened #42130 "Consider not auto-publishing new templates"
Currently, when you create a new template in the site editor it is published immediately, but there is no feedback to confirm this except for the disabled Save button which isn't particularly clear :)

https://user-images.githubusercontent.com/846565/177194690-4f7a2758-f99f-4ff3-8113-93734670ff8a.mp4

This may be something to address in the mean time, but more importantly let's discuss whether tem

[2022-07-04 17:18] spacedmonkey commented on #42128
In my plugin [wp-rest-blocks](https://github.com/spacedmonkey/wp-rest-blocks), I used [pquery](https://github.com/tburry/pquery) to parse block data into PHP data. This plugin is open source, so feel free to look at the code.

[2022-07-04 17:18] dmsnell commented on #42128
This seems like a much more pragmatic solution that doesn't have to imply system-wide changes. I think we'd want to be cautious about what API we create though because whatever we create will get used beyond where we expect.

For instance, block markup tends to be simple, but any utility we make is likely going to ignore nested tags of the same type and pick the one that occurs lexically first in

[2022-07-04 17:50] ciampo commented on #42112
I looked into this as well, and I managed to reproduce the bug.

A more exact version of this description is:

The [`PostAuthor` component](https://github.com/WordPress/gutenberg/blob/1af7e35ab9b2714ea923b463bda6bb41591c6418/packages/editor/src/components/post-author/index.js) (in the `@wordpress/editor` package) displays a `SelectControl` or a `ComboboxControl` component depending on the number o

[2022-07-04 19:02] gziolo commented on #40403
@t-hamano, that would be great if you give it a try 💯

[2022-07-04 19:58] ockham commented on #41451
Another small fix here: https://github.com/WordPress/gutenberg/pull/42131
I'll add it to the tracking issue.

[2022-07-04 22:12] scruffian commented on #42130
Yeah this makes sense to me, as you say a simple change like this can easily break your site.

[2022-07-04 23:17] azaozz commented on #42128
Parsing HTML in PHP doesn't seem like a good idea, no matter the use cases. The main problem is that no PHP parser will be able to parse HTML the same way the browsers do. Ever. The differences are mostly in how the browsers handle malformed, incomplete, illegal, messed up HTML. Another big area of headaches is that HTML keeps evolving, the browsers implement new standards pretty much constantly.

[2022-07-04 23:42] github-actions[bot] opened #42139 "[Flaky Test] shows changes in a template when a template part it contains is modified"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
shows changes in a template when a template part it contains is modified

## Test path
`/test/e2e/specs/site-editor/template-part.spec.js`

## Errors

<time datetime="2022-07-04T23:42:21.468Z"><code>[2022-07-04T23:42:21.468Z]</code></time> Test passed after 1 failed attempt

[2022-07-05 00:48] andrewserong commented on #42128
Oh, great discussion, thanks for raising this @adamziel!

I quite like this idea, particularly for some of these more common tasks. Perhaps it could be something like `inject_block_wrapper_attribute` to match `get_block_wrapper_attributes`? The function could be scoped to just target injecting attributes to the outer block wrapper.

With the behaviour centralised, we'd hopefully reduce some of the

[2022-07-05 01:27] tnchuntic commented on #25501
Does anyone know how to extend the query loop, Specifically the display option (Lists, Grid). I want to extend it to be able to give a quick switch from list/grid/carousel/slider.

[2022-07-05 03:07] hagege opened #42141 "Featured image as selection option for cover in query loop"
In the query loop, I wanted to use the cover block as the featured image. However, when I selected the cover block, I can only upload an image or select from the media library (see screenshot). For example, if I selected the image from the Media Library, I can subsequently select the cover block as the featured image. I have also created a small video for this purpose.

It would be nice if there w

[2022-07-05 03:41] Zestastic commented on #38917
Has anyone had any luck fixing this issue? It's rampant on a page I'm working on. I'm getting 586 errors throughout the entire 86 page website. If it's caused by Gutenberg Blocks, should I remove them and find another way to recreate my footer?

[2022-07-05 04:51] glendaviesnz commented on #39371
@jameskoster It is possible to do this, eg. here is a quick mockup of a range control using the spacing presets scale from theme.json

https://user-images.githubusercontent.com/3629020/177252139-f24da010-949b-46fc-a20c-1b544b6e402a.mp4

But ... I think the issue with making the range control tooltip display the space size label, eg. `Medium` is that from an accessibility point of view screen reade

[2022-07-05 05:03] #42021 closed, assigned to glendaviesnz

[2022-07-05 05:28] tellthemachines commented on #35607
Ok, I've fixed the issue with custom padding so alignfull blocks can still stretch full width, and marked #42085 ready for review. Would be good to get it tested with all possible scenarios, to make sure no edge cases have been missed.

[2022-07-05 06:06] MatzeKitt opened #42145 "Editor loses focus after keyboard shortcut to switch to code editor"
### Description

If I swith to the code editor via keyboard shortcut, I cannot switch right back afterwards via keyboard shortcut, since the editor loses the focus. I need to click inside the code editor to switch back to the visual editor.

If the more menu is open on the upper right corner of the editor, I can switch between both editors with keyboard shortcuts every time.

### Step-by-step repr

[2022-07-05 06:17] draganescu commented on #42130
So the only change to make is to not publish. Should a draft still be automatically saved?

[2022-07-05 06:26] talldan commented on #42110
@M4N0JKUM4R I'm not sure I completely understand the idea of a reusable attribute. Could you explain how that would work some more?

Reading through the stackexchange post, that sounds like a situation where a block attribute shouldn't be used. For static blocks, the attribute value would be serialized in a post, and then there's a risk that an outdated API key is stored.

Instead I think if the v

[2022-07-05 06:38] #41661 closed, assigned to Mamaduka

[2022-07-05 06:48] Mamaduka commented on #42145
Probably related #40577.

[2022-07-05 07:06] M4N0JKUM4R commented on #42110
@talldan Yes, I understand that. I even wanted to create an options page where the API key is submitted on click but I did not want an extra page just for a single input field whereas the Inspector controls are more than enough for the purpose.

![image](https://user-images.githubusercontent.com/11471878/177269694-428b2fdb-a1f0-4b6d-81b4-da0eaa459dee.png)

I did get a solution for this: https://wh

[2022-07-05 07:21] talldan commented on #42110
I don't think you need to make a separate page for the setting. You can still update the value through the block interface. Those values in the sidebar don't have to be block attributes.

This isn't something that's new. For a while there have been blocks that update post meta. There are also now Full Site editing blocks that might interact with data that isn't a block attribute - for example edit

[2022-07-05 07:31] alecgeatches commented on #41547
@luisherranz Thank you for sharing! I'm working with @dabowman on some related work and took a look at your changes. I think the main difference is that we're looking to define a set of acceptable options on a hierarchy rather than a specific choice. Using the [last example in the description](https://github.com/WordPress/gutenberg/issues/41547#issue-1260185674), we'd want `core/heading` to have a

[2022-07-05 07:35] DaveBoydy commented on #35607
I don't think I agree with this in https://github.com/WordPress/gutenberg/pull/42085: if i understand it correctly.

The padding should be set independently and manually, there are niche situations I believe where you want content width set but not padding.

Or you should be able to turn the padding off if it's automatically set with content width set. If 'Inherit default layout' is set to true on

[2022-07-05 07:43] talldan commented on #42080
This was previously reported (https://github.com/WordPress/gutenberg/issues/40243), so I'll close this.

[2022-07-05 07:43] #42080 closed, assigned to nobody

[2022-07-05 07:58] M4N0JKUM4R commented on #42110
That's surprising. When I check it, it looks official like the other ones `@wordpress/element`, `@wordpress/components`. Is it not?

![image](https://user-images.githubusercontent.com/11471878/177278448-1a429d3f-1526-4e20-b12b-99bf4f40459b.png)

[2022-07-05 08:00] Clorith commented on #8869
Just a quick comment that Ctrl+Shift+V is what Windows uses for its built in paste-without-formatting functionality, so we want to make sure we do not conflict with it, and if we do override how Windows treats this shortcut, we need to make sure we do as good of, if not better, a job of stripping things.

And obviously a shortcut should ideally only be complimentary to the actual feature :)

[2022-07-05 08:19] talldan commented on #42110
I'm not sure what it is, I don't see that on my WordPress install, but maybe it needs to be enqueued, or a plugin you use is enqueuing it for you:
![Screen Shot 2022-07-05 at 4 08 37 pm](https://user-images.githubusercontent.com/677833/177281386-e6468e64-9ec9-49ba-995e-ad49788392e3.png)

It was mostly this part from the article confused me:
[code]

There isn't a `@wordpress/api` on npm - https://w

[2022-07-05 08:26] M4N0JKUM4R commented on #42110
[code]

As per the article, there is more to include to get the data.

[2022-07-05 08:26] github-actions[bot] opened #42147 "[Flaky Test] can be transformed from pasting shortcode, and can undo/redo"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
can be transformed from pasting shortcode, and can undo/redo

## Test path
`/test/e2e/specs/editor/blocks/gallery.spec.js`

## Errors

<time datetime="2022-07-05T08:26:43.224Z"><code>[2022-07-05T08:26:43.224Z]</code></time> Test passed after 1 failed attempt on <a href="http

[2022-07-05 08:41] gziolo commented on #42128
Those use cases highlighted are also related to the ongoing work to create the style engine and dynamic tokens. I would wait for how that evolves before seeking a unified way to work with HTML modifications in blocks on the server. Ideally, it isn’t necessary at all and the block editor can handle that internally.

[2022-07-05 08:41] talldan commented on #42110
It must be a WordPress core thing. I haven't seen it before.

There are newer ways that have been developed that might work better with React, they're mentioned in that data tutorial I linked to above.

But definitely use what you're most comfortable with 👍

[2022-07-05 08:57] talldan commented on #42075
I think it would be possible to make a custom block appender that launches the link control when the `+` button is clicked.

There is a little bit of a hidden behavior that when the navigation block contains non-links or submenus (like a social icons) that's been inserted via the Block Library, then clicking the + shows the quick inserter (https://github.com/WordPress/gutenberg/issues/34041). I th

[2022-07-05 09:03] oldrup commented on #38917
Pentium errors, huh 😁

If you are using a classic (non FSE) theme, you can install the [Classic Widgets](https://wordpress.org/plugins/classic-widgets/) plugin and recreate your footer using the classic widgets. These are typically passing the HTML validation if your content does.  That works for me.

(Example screenshot)

![image](https://user-images.githubusercontent.com/17141205/177291696-8e05c

[2022-07-05 09:14] mtias commented on #42128
I think the problem is not very well formulated here which is leading to a wide reaching solution-first approach. It's important to establish that there is a drastic reduction in complexity between parsing generic HTML in PHP and dealing with the internal markup of block boundaries as defined by a block spec. The block tree is already assembled server-side and doesn't need traditional HTML parsing

[2022-07-05 09:41] jameskoster commented on #39371
It's easy to concentrate on the control in isolation but we shouldn't lose sight of the overall UX. A visual editing experience is generally going to be superior versus selecting values in an array (though I acknowledge sometimes you want/need to do the latter).

The range is beneficial because it allows your eye to rest on the canvas while you manipulate the control. A select requires you to look

[2022-07-05 10:11] #42093 closed, assigned to afercia

[2022-07-05 10:19] carolinan commented on #30142
I wanted to leave a note about what I have tried so far, - and where I got stuck.

To fetch the data from the `custom_css` post type to display it in the new global styles screen, I first tried using an existing _store._ This was not possible because the returned result does **not** contain the post_content for this particular post type (I was not able to figure out why).

Instead, I needed to cre

[2022-07-05 10:53] jameskoster commented on #42130
No I don't think that'd be the only change, we'd need to contemplate the publish flow, and consider drafts like you mentioned.

But I think auto-publish is still worth discussing. It's awkward at the moment because:

1. You don't _know_ the template is auto-published.
2. New templates start blank.

But the former could easily be fixed, and the latter will be largely addressed by https://github.com

[2022-07-05 11:37] luisherranz commented on #41547
Oh, you're right, sorry. This one includes the settings: https://github.com/WordPress/gutenberg/pull/42124

[2022-07-05 11:41] dinhtungdu opened #42150 "Add component support for suggestion for FormTokenField"
## What problem does this address?

In the `<FormTokenField>` component, the return type of `displayTransform` is expected to be a string. But in fact, we can return a component to display complex suggestions lists like the screenshot below.

<img width="678" alt="image" src="https://user-images.githubusercontent.com/5423135/177317022-e83241d8-8ed7-47d5-a78c-303ea3702ee8.png">

When returning a co

[2022-07-05 12:07] ndiego commented on #8468
I have just tested this using @Mamaduka code example above and this no longer appears to be an issue, see the screenshot below:

![image](https://user-images.githubusercontent.com/4832319/177323574-d1962ff3-1e48-4c02-b158-7227cfaeb9c6.png)

Given this successful test, I am closing this issue.

[2022-07-05 12:07] #8468 closed

[2022-07-05 12:40] alecgeatches commented on #41547
@luisherranz Thank you, didn't realize that work was being done as well! I'll look more into it tomorrow. Does it support multi-level nesting, something like this?

[code]

[2022-07-05 12:42] jameskoster opened #42154 "Inspector should display template part name"
<img width="1323" alt="Screenshot 2022-07-05 at 13 35 05" src="https://user-images.githubusercontent.com/846565/177328650-738320c0-a0a6-4f3d-b7ce-17944b78be18.png">

In the screenshot above I have selected the "Untitled Template Part" block. The name is clearly communicated in the block toolbar and List View, however in the Inspector it is referenced as "Header". In the unlikely event of a templat

[2022-07-05 13:10] luisherranz commented on #41547
This is not an enhancement of the `theme.json`. This lets you override the children's styles/settings of a container block.

[code]

[2022-07-05 13:13] wpdev8195 opened #42156 "Unable to move panels from below post editor content section to sidebar"
### Description

Bug report on wordpress.org at https://core.trac.wordpress.org/ticket/56136#comment:2

I am having the same problem reported here https://wordpress.org/support/topic/additional-panels-appear-at-foot-of-page-edit-area-rather-than-in-tool-bar/. The "Additional" panels in the WordPress editor are appearing at the bottom of the page. When I try to drag and drop to the sidebar, an infi

[2022-07-05 13:26] jameskoster commented on #41433
There's an issue for this here: https://github.com/WordPress/gutenberg/issues/37220

I don't think it's too crazy. You may be interested to catch up with discussions in https://github.com/WordPress/gutenberg/issues/41717, https://github.com/WordPress/gutenberg/issues/34352, and https://github.com/WordPress/gutenberg/issues/41379.

[2022-07-05 13:50] afercia opened #42158 "Editable blocks have inconsistent ARIA role: sometimes textbox, sometimes document"
### Description

Blocks that have an editable area use the `RichText` component that renders an HTML element with a `contenteditable` HTML attribute. This provide users with an area where they can enter text.

Semantically, these editable areas need to be exposed to assistive technology as editable 'fields'.

In terms of ARIA roles and attributes:
- `role="textbox"` is the equivalent of a HTML tex

[2022-07-05 13:59] afercia commented on #42158
From a technical side: I'm not sure why `useBlockProps` provides a default prop `role: 'document'` to start with.

As noted earlier, seems to me `useBlockProps` is used in a couple ways:
- When used on the `RichText` wrapper, it ends up adding an ARIA `role="document` to the wrapper, which doesn't make much sense. For example, in the Table block, it adds `role="document` to the `<figure>` element

[2022-07-05 14:28] dugyen commented on #21236
I could see on my end too with @johnbillion  mentioned steps to reproduce the block editor does not trigger the interim login modal.

[2022-07-05 15:19] roseg43 opened #42159 "Search: Width support is missing from theme.json"
## What problem does this address?
This issue is meant to be a follow-up feature for #42079, suggested by @skorasaurus . After adding support to toggle the Width settings panel for the Button block using `theme.json`, we should add the same support for the Width setting on the Search block now that there will be a related property in`theme.json`.

## What is your proposed solution?
In the Search b

[2022-07-05 15:53] apeatling commented on #41546
@talldan I think you changed the menu from self closing for accessibility reasons. Am I remember this correctly? Are there any other options here that would keep the menu self closing when selecting?

[2022-07-05 15:53] apeatling commented on #41545
Finding out more via https://github.com/WordPress/gutenberg/issues/41546#issuecomment-1175219481

[2022-07-05 15:55] apeatling commented on #41544
I don't think it is necessary to maintain state after a reload.

However, within a single session, I can see it being a confusion. I can see a user selecting the tools they need, but in the middle selecting a similar block to refer to a setting value. Then they come back to the block to find everything reset.

I haven't run in to this in my real world usage, so it is purely hypothetical on my part

[2022-07-05 16:40] #42112 closed, assigned to ciampo

[2022-07-05 17:01] alexstine commented on #39371
I guess some type of aria-describedby would be the right answer but this has varying support in screen readers. Because, nothing is easy, right? It does not sound like a great option but it may be our only option to communicate the relationship without having a huge aria-label.

CC @joedolson

[2022-07-05 17:54] jorgefilipecosta commented on #37407
author-$nicename ready for review at https://github.com/WordPress/gutenberg/issues/37407.

[2022-07-05 18:44] ironprogrammer commented on #38723
Yes, it should, inasmuch as it would be consistent with the other popovers that trigger in the editor.

The sidebar (`#adminmenuwrap`) is pinned to `z-index: 9990`. However, the external slot (`#editor > div > .popover-slot > .components-popover`) is set to `z-index: 1000000`. So existing popovers appear "on top of" the admin sidebar when invoked.

The anchor popover appears to be the odd-one-out

[2022-07-05 20:10] kathrynwp opened #42168 "Allow ability to set a custom order for units in blocks"
## What problem does this address?

Currently, there does not seem to be a way to set a custom order for units in blocks. This means that the person using the site editor may inadvertently use the default unit by accident, causing display issues under some circumstances.

## What is your proposed solution?

Allow developers to set a custom order for units that is respected by the editor.

## Conte

[2022-07-05 20:54] mvaleno commented on #40157
I don't have the "Post Author Name" block, only a "Post Author" Block which does not have the option to "link to author archive" ?

Why is this not showing up in my core blocks? Do you need to enable some of the core blocks?

[2022-07-05 21:30] danielbachhuber opened #42170 "PanelColorSettings: Make it easier to select 'Transparent' as a color option"
## What problem does this address?

At WordPress.com, we’ve implemented a Timeline Block that includes a default background color: https://github.com/Automattic/wp-calypso/blob/17256c5b7b410d332188f1a13c4b3055c1ea9de0/apps/editing-toolkit/editing-toolkit-plugin/jetpack-timeline/blocks/src/timeline-item.js#L135

A user can select a new background color for their Timeline Entry. However, when they d

[2022-07-05 21:41] Nixon-Joseph commented on #22071
Can we also include the ability to add some extra search params? I need to use this, but specified to POST's only. Currently there's no way to do this the way it's set up.

[2022-07-06 01:35] ramonjd commented on #38167
# Update Wednesday, July 6, 2022

The following updates are loosely grouped according to the Phases outlined in the recent Make Core post **[Block editor styles: initiatives and goals](https://make.wordpress.org/core/2022/06/24/block-editor-styles-initiatives-and-goals/)**

## Phase 1 (block supports and foundation building)

Work continues on creating equivalent style generation tools in JS for t

[2022-07-06 02:13] alecgeatches commented on #41547
@luisherranz Just to clarify, I meant putting the above nested rules into a container. To change the example a bit, image we'd like different options for vanilla headings and those in `core/media-text` blocks:

[code]

I’m trying to figure out if it’s a valid strategy to put all of the design system logic into one container block at the top of the page that could specify all of the nested settings

[2022-07-06 02:38] galbaras opened #42172 "Paragraphs in Classic block lose classes during conversion"
### Description

The following code in a Classic block

[code]

Is converted into this code

[code]

Since there's some styling based on the `teaser` class, this conversion makes the page lose that styling.

The expected behaviour, of course, is to retain the class, either in the tag or in the block definition, and rendering it correctly at the front-end.

Seems related to #5028 (closed) and #1121

[2022-07-06 03:17] galbaras commented on #40481
+1

In general, blocks should provide at least the same functionality that was available in widgets, and then some, rather than taking features away.

[2022-07-06 03:36] glendaviesnz commented on #39371
Thanks for the extra context @jameskoster, I agree that taken in the wider context of the spacing UI the slider does provide a nicer UX, and it looks like browser support for mouseover on a select option isn't good enough to show the visualiser as a user moves up and down a select list.  But ... thanks to a suggestion from someone else it turns out you can use `aria-valuetext`  to announce a user-

[2022-07-06 04:45] carolinan commented on #41974
Is there a design for the heading level selection?

[2022-07-06 05:08] github-actions[bot] opened #42174 "[Flaky Test] Users can dynamically customize the appender"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
Users can dynamically customize the appender

## Test path
`/test/e2e/specs/editor/plugins/inner-blocks-render-appender.spec.js`

## Errors

<time datetime="2022-07-06T05:08:15.552Z"><code>[2022-07-06T05:08:15.552Z]</code></time> Test passed after 1 failed attempt on <a href

[2022-07-06 06:26] carolinan commented on #41974
A toggle group works pretty well?
(What I don't like is the mix of different font weights and capitalized texts)

![Screen Shot 2022-07-06 at 08 23 34](https://user-images.githubusercontent.com/7422055/177482858-54278e12-fc06-4804-914a-c43f6bb4048a.png)

[2022-07-06 06:45] #21699 closed

[2022-07-06 06:47] gziolo commented on #19777
It would be great to find out and potentially enable for the rest of Gutenberg 👍🏻

[2022-07-06 06:48] carlomanf commented on #27597
@peterwilsoncc Did you get a chance to review the updates to the pull request? Do they resolve your concerns?

[2022-07-06 06:48] #38593 closed, assigned to nobody

[2022-07-06 06:55] ocean90 commented on #42110
`wp-api` is the [Backbone JavaScript Client](https://developer.wordpress.org/rest-api/using-the-rest-api/backbone-javascript-client/) for the REST API.
And the import line probably just works due to some Webpack config handling the mapping to the `wp` global.

[2022-07-06 06:55] getsource commented on #25130
Related: https://core.trac.wordpress.org/ticket/39625

[2022-07-06 06:56] getsource commented on #18593
Related Existing Trac Ticket: https://core.trac.wordpress.org/ticket/39625

[2022-07-06 07:25] carolinan opened #42177 "Elements heading styles are not applied in the Site Editor"
### Description

When applying styles to elements.heading (as opposed to elements.h1 etc), the styles are applied on the front and in the block editor, but not in the Site Editor.

### Step-by-step reproduction instructions

1. Activate Gutenberg trunk
2. Activate a full site editing theme, for example emptytheme.
3. In theme.json, add:
[code]
4. In theme.json, also delete any other styling to hea

[2022-07-06 07:27] #38979 closed, assigned to draganescu

[2022-07-06 07:46] cbravobernal commented on #40157
Hi @mvaleno
I guess it could be because you need to have Guteberg plugin installed to see those blocks.

[2022-07-06 08:18] luisherranz commented on #41547
That's a good example, thanks.

Top-level settings are still defined in the `theme.json` (and global styles) settings. You don't need to add settings to a top-level block for that unless you want to override them.

If the header settings need to be different inside a _specific_ `core/media-text` block, then you need to add those settings to the container:

[code]

From your comment, I guess you wa

[2022-07-06 08:21] getdave commented on #38291
I think at until we solve the auto-assignment of menus (including classic menus) we need to allow users to choose an existing menu.

Start from Empty should still be an option but perhaps it can be made less obvious because it's a 20% use case.

I'd still like to see a revised design for a new Page List based placeholder state. Perhaps @javierarce can help?

[2022-07-06 08:28] fluiddot commented on #38407
Updated the parent post with:

### 🔎 Main focus
++ Implement React Native's `FastImage` library to improve performance on image rendering
++ Upgrade React Native to version 0.69.x

### 🛠️ Recently fixed or improved
++ [Implement recovery option for invalid blocks](https://github.com/WordPress/gutenberg/pull/41988)

[2022-07-06 08:49] afercia commented on #42158
I forgot to ping some members of the accessibility team 🙂 @alexstine @joedolson for some insights on previous testing and discussion. Thanks!

[2022-07-06 08:56] alecgeatches commented on #41547
That's correct! We are looking for a place (in `theme.json` hopefully, but exploring other options) to define what an end-user of the block editor sees when creating a block in Gutenberg. We want to enforce a design system for all blocks such that a non-designer user only sees curated choices that fit in with the design system based on context. There are a couple of contexts @dabowman covers in th

[2022-07-06 10:27] #41944 closed, assigned to ockham

[2022-07-06 10:59] aristath opened #42181 "Show Heading level in the sidebar"
## What problem does this address?

When typing text and creating content, we usually just have the sidebar open by default. With headings, the only way to tell their level is to _hover_ the block and see what level it is.
**So as I'm typing, when I don't have my mouse hovering over to see the menu, there's no way for me to see which heading it is...**

## What is your proposed solution?

It would

[2022-07-06 11:08] Mamaduka commented on #41437
@jameskoster started working on this issue; I'll have PR ready for testing before the end of the week.

Question: I don't think we have Slot in the "Remove block" menu group. Is it okay to add "Replace" where we currently have the "Edit" menu item?

## Screenshot
![CleanShot 2022-07-06 at 15 02 36](https://user-images.githubusercontent.com/240569/177536834-acd55bf9-8e82-4fe3-9794-ec7712cecc43.png)

[2022-07-06 12:36] paaljoachim commented on #42130
Brain storming...
I create a template but still have adjustments I need to make to it. So upon creating a template I get the option to save as draft or to publish. I as it as a draft work on the template and then publish it.

I create a template and it is automatically published. As templates can be made and also get more advanced. Auto publishing a template can break "something" on the site, as I

[2022-07-06 13:17] theminaldiwan opened #42184 "Twenty Twenty Two: Button width issue occurs on front end side"
### Description

Twenty Twenty Two theme Post comments form block having button width issue occur on front end side.

### Step-by-step reproduction instructions

Steps to replicate:
1: Twenty Twenty Two
2: Add Post comments form block
3: Publish post and check the form on front side.

### Screenshots, screen recording, code snippet

Url:[https://share.cleanshot.com/tyTa7KXtWEzZnHyD7P1S](https://sh

[2022-07-06 13:52] jameskoster commented on #41437
@Mamaduka yes I think that's fine :)

[2022-07-06 13:53] Mamaduka commented on #21876
Hi, @mrwweb

Created PR to handle the mailto prefixes. The obfuscation probably should be handled by anti-spam plugins.

[2022-07-06 14:22] markhowellsmead commented on #25330
Still not working without non-core workarounds. WP 6.0 without the plugin.

[2022-07-06 14:53] RajkiranBagal commented on #15137
@HardeepAsrani The issue is still present & the filter you have provided is not working too. Can you guide me in fixing this until it's fixed by Gutenberg Team?

[2022-07-06 15:05] fklein-lu commented on #41282
Tried the PR, and looks good. 👍

[2022-07-06 15:19] mateuswetah opened #42190 "Wrong local font file being referenced by @font-face generated from theme.json"
### Description

When using the `settings.typography.fontFamilies[].fontFace` setting in `theme.json`, we have a nice way to let Gutenberg create `@font-face` css for ourselves.

Sadly, that feature is causing a bug by generating a `src` list prepended by `local('Name of the font'). The internals are done here:
https://github.com/WordPress/gutenberg/blob/6cdd6ae673a6492d8ef69d38264384f953621a75/li

[2022-07-06 15:23] Poliuk commented on #41451
@SantosGuillamot, now that 6.0.1 is out, I think it makes to close this issue and open a new one with the remaining tasks programmed for 6.1.

 Since you opened this one, I'll let you decide. What do you think?

[2022-07-06 15:32] mrwweb commented on #21876
Awesome! Thanks, @Mamaduka

Given that `antispambot()` is a core function, it feels like it would be well within the scope of core to handle this and avoid forcing people to opt in to it. Are there specific concerns you had about implementing that behavior?

[2022-07-06 15:41] dcalhoun opened #42192 "Tracking: Native Bottom Sheet V2"
This issue tracks various tasks related to an iteration of the native editor bottom sheet to address #37559. Specifically, this project looks to replace our custom implementation (V1) with [`@gorhom/bottom-sheet`](https://gorhom.github.io/react-native-bottom-sheet/) (V2).

## Sheets

This list represents the various sheets found throughout the app that would ultimately be migrated to use the new b

[2022-07-06 16:20] javierarce commented on #38291
After chatting with @getdave and wrapping my head around this issue, I agree with @draganescu when he says that users have all they need to update one of these menus. If we can render a valid menu both on the front and the editor, then we don't need a special placeholder state. We only need one when users start from scratch or if we can't fall back to a valid menu.

[2022-07-06 17:26] jameskoster opened #42195 "Refactor modal layout"
The Modal component currently applies a fixed height to the header element.

https://github.com/WordPress/gutenberg/blob/2247c3ab571a3b04b1a2532aeea160c8a89e5f9f/packages/components/src/modal/style.scss#L73

One drawback to this is that more complex modal layouts (such as the pattern explorer) absolutely position elements within which makes them fragile if that fixed height is ever updated in the

[2022-07-06 17:39] maffi-git commented on #40183
And do we really need !important styles?

[2022-07-06 17:46] mdquer commented on #38580
I do have the same issue as described above by @StelaStoykova.  Especially by adding an empty theme.json file full and wide options disappear.

[2022-07-06 17:49] ciampo commented on #42195
Thank you for opening this issue! Just wanted to add that we didn't necessarily discuss rewriting the `Modal` component's header — we mainly discussed refactoring specific modals that internally use the `Modal` component:
  - the block pattern inserter/explorer modal ([details](https://github.com/WordPress/gutenberg/pull/40781#discussion_r913661264))
  - the block pattern setup modal ([details](ht

[2022-07-06 18:27] skorasaurus commented on #40183
@maffi-git
regarding the use `!important` in css, there is an issue about this at https://github.com/WordPress/gutenberg/issues/37590

[2022-07-06 19:03] richtabor opened #42196 "Removing applied colors should be easier/similar across any applied color"
## What problem does this address?

Removing applied colors should be easier/similar across any applied color. To remove a color, you are required to first click the vertical ellipsis (Toolbelt UI) then the associated "Reset" label.

<img width="354" alt="CleanShot 2022-07-06 at 14 56 03@2x" src="https://user-images.githubusercontent.com/1813435/177622695-f00672f9-a6ce-4156-a0da-b935102e2b04.png">

[2022-07-06 19:29] richtabor opened #42197 "Add setting to turn off block descriptions"
## What problem does this address?
The UI is continues to get get weighted, as we continue to add more flexibility to the editor. Perhaps let's consider a method for users to turn off block descriptions in the sidebar, which would remove a sentence or two from always displaying (and arguably more than a few are not necessary/completely helpful).

## What is your proposed solution?

Add a toggle to

[2022-07-06 19:29] jeffpaul commented on #23303
Adding in context from @noisysocks via [Trac comment 10](https://core.trac.wordpress.org/ticket/50424#comment:10):

[2022-07-06 19:38] kathrynwp commented on #41797
Hi there @Zaeo, thanks for submitting this issue! I found an overarching issue that dives into related enhancements to Query Loop block filtering:

https://github.com/WordPress/gutenberg/issues/30706

Since your suggestion here relates closely to the existing issue, I'm going to close out this one. In order to consolidate the feedback, please chime in on the existing ticket to add your thoughts. T

[2022-07-06 19:38] #41797 closed, assigned to nobody

[2022-07-06 19:53] pbking opened #42199 "Comunicate Gutenberg Version Requirements"
## What problem does this address?

Some of the newer themes leverage features of Gutenberg that are not yet available in WordPress core.  This isn't communicated in the WordPress.org directory and the theme might seem broken.

## What is your proposed solution?

Those themes should be identified and that dependency communicated, likely in the readme.txt file.  While it's expected that every thing

[2022-07-06 19:55] Mamaduka commented on #21876
That's a good point, @mrwweb.

I will re-open this issue since obfuscation is still missing from the Social block.

[2022-07-06 19:57] kathrynwp commented on #41800
Hi @rbairwell, thanks for submitting this issue.

I noticed the same behaviour with the regular Image block; when clicking the "Replace" option on that block to swap out another image, the link field was also erased. This makes me think that this is the intended behaviour on image-type blocks such as "inline image."

I noticed this somewhat related issue – https://github.com/WordPress/gutenberg/is

[2022-07-06 20:07] ironprogrammer commented on #38637
I wanted to share additional repro steps from the related Core ticket, [Trac 55117#comment:29 "Additional Information"](https://core.trac.wordpress.org/ticket/55117#comment:29).

**Key Takeaways:** The browser used and *how the cursor is placed/moved into the title field* matters in how this issue is reproduced.

[2022-07-06 20:11] richtabor commented on #39068
Probably worth a separate issue, but I've noticed that in Safari the drop indicator is not indicative of where the drop actually happens.

https://user-images.githubusercontent.com/1813435/177634687-19087227-4783-4d6d-9f02-c2f3cd0d13b3.mp4

[2022-07-06 20:12] richtabor opened #42200 "Exploring improved insertion point and drag/drop"
## What problem does this address?
We've all been there — fishing for the block inserter to show up between blocks. While I don't know that this is a replacement for that, this is an exploration I've put together to augment adding blocks.

Generally, the primary methods for adding blocks (or rather opening the inserter) is to either fish for the block inserter:

<img width="1102" alt="CleanShot 20

[2022-07-06 20:19] kathrynwp commented on #41813
Thank you for this bug report. I was able to replicate this issue with embed blocks and WP 6.0, but only with the Gutenberg plugin (v. 13.6.0) active.

With Gutenberg deactivated, the additional CSS class is preserved.

@ramonjd - was wondering if you might be able to take a peek at this since it looks like you're working on block-editor styles, and perhaps there's been a regression somewhere? Tha

[2022-07-06 20:32] petitphp commented on #41959
I managed to reproduce the issue following the steps provided.

After looking at this, it appear to be a known issue where the `WP_REST_Pattern_Directory_Controller` wasn't supporting array arguments.

The patterns listed in theme.json were send has an array to the `WP_REST_Pattern_Directory_Controller` with the `slug` parameter. Internally the value from the parameter was drop when building the r

[2022-07-06 20:36] richtabor opened #42202 "Consider more approachable copy for "Transform to""
## What problem does this address?
"Transform" is a more technical/less approachable term. I know technically they're called block transforms, but perhaps we should make the copy more approachable, say something like "Turn into".

It's a very small adaptation, but "Turn a paragraph into a heading" is much friendlier/approachable that "Transform a paragraph...".

## What is your proposed solution?

[2022-07-06 20:40] richtabor commented on #41924
I like this. I wonder if we even need the parent block's icon really — and just have the arrow that indicates you can select the parent.

[2022-07-06 20:44] kathrynwp commented on #41824
Hi @bradley2083, thanks for the report.

What theme are you using? With Twenty Twenty-Two, adding your code via the Custom HTML widget pretty well replicated the button style for the Search and Post Comment buttons, though there is a tiny grey border that shouldn't be there. (I also tried adding the class `submit` to the button in the HTML block, but there was no change to the border.)

![Self-hos

[2022-07-06 20:58] richtabor opened #42203 "Auditing the block toolbar "Options" menu"
## What problem does this address?
The block toolbar's more menu has kind of become a catch-all for new functionality. I wanted to take a step back and do an audit to discuss/determine what controls are absolutely necessary in this menu, as well as better organize/consolidate.

## What is your proposed solution?

1. **Remove "Move to":** Seems overkill to have yet another method for moving blocks

[2022-07-06 21:10] kathrynwp commented on #42184
Hi @theminaldiwan - thanks for the report.

Based on the theme's design, it looks to me like Twenty Twenty-Two's buttons are not actually intended to be full-width, and what you saw in the editor was a bug, rather than what you saw on the front end.

I tried to replicate the issue on my end, but was not able to, with these specs:

WordPress 6.0
Gutenberg 13.6.0
Twenty Twenty-Two 1.2
Firefox 102.0

[2022-07-06 21:14] richtabor opened #42204 "Theme.json var:preset:color... formatting not working for settings.custom object"
### Description

I'm trying to reference colors  like `var:preset|color|black` using the new formatting within the theme.json's settings.custom object, but I am not able to do so. Is this an oversight, or a purposeful limitation?

It seems like the new formatting doesn't work within custom.

### Step-by-step reproduction instructions

1. Add a custom property to a theme's theme.json file.
2. Use t

[2022-07-06 21:49] bradhogan commented on #41824
Hey, @kathrynwp.

The reason you're almost seeing the right default button style is because a button already exists on that page (in the comments form).   I'm testing in a local environment with no plugins (other than Gutenberg) and the default 2022 theme.

To replicate, create a page with comments disabled and add both of the following:

`<button type="button">Click Me!</button>`

`<input type="s

[2022-07-06 23:48] ramonjd commented on #41813
Thanks @kathrynwp

Looking at the code, I believe [this line](https://github.com/WordPress/gutenberg/pull/35326/files#diff-ef12826bc6a57e80852c9800c4bb8db0157db2b1f1418686fc85088e5438bb78R150)  is affecting custom classnames.

When refreshing the editor, `getMergedAttributes( true )` strips existing classnames and makes the post dirty, even if there aren't any changes. Saving the post will remove

[2022-07-07 00:06] alexstine commented on #42158
This is a tricky one because I believe role document allows us to place focus on the block wrapper and have screen readers announce it. I tried removing the role once and it produced terrifying results. In the table block for example, it read the figure tag instead of the aria-label that adds context. There is a lot wrong with how we currently do things in Gutenberg and I hope it gets better with

[2022-07-07 01:25] noisysocks commented on #23303
Related to https://github.com/WordPress/gutenberg/issues/10235.

[2022-07-07 01:40] ramonjd opened #42206 "Global styles: block level styles are enqueued twice"
### Description

Since https://github.com/WordPress/gutenberg/pull/42005, global block styles are enqueued twice:

1. In `global-styles-inline-css`
2. In wp-block-social-links-inline-css

This causes duplicate styles in `styles.blocks[ $block_name ]` rendered to the HTML.

Before

[code]

After

[code]

### Step-by-step reproduction instructions

Add some block styles to your theme.json. Any block

[2022-07-07 03:37] mrwweb commented on #29436
Works for me in Firefox 103 with WP6.0

[2022-07-07 03:40] Mamaduka commented on #29436
Thanks for confirmation, @mrwweb

[2022-07-07 03:40] #29436 closed

[2022-07-07 04:06] carolinan commented on #41959
It was released with Gutenberg 13.5.
The issue remains in Gutenberg trunk and Gutenberg 13.6.0.

[2022-07-07 04:07] HardeepAsrani commented on #15137
@RajkiranBagal It does fix it for us, never had any issues after adding this: https://github.com/Codeinwp/otter-blocks/blob/ac2bcfe81b9c44ff90c82e09b1c707a307271181/inc/class-main.php#L45

[2022-07-07 04:34] carolinan commented on #42199
I understand the problem, but I am not sure if it is relevant as an issue in the Gutenberg GitHub directory? Did you mean to post this at Automattic themes repo?

There is an open Trac issue for displaying plugin information in the WordPress.org theme directory.
[#3863](https://meta.trac.wordpress.org/ticket/3863)

[2022-07-07 05:33] carolinan commented on #34737
I am not able to reproduce this any more (using Gutenberg trunk).
The only part that does not display the template part title as I entered it, is the inspector.
[And an issue for that was created here: #42154](https://github.com/WordPress/gutenberg/issues/42154).

[2022-07-07 06:28] mtias commented on #39732
Thanks for expanding on the use cases!

1. Are those patterns encompassing of page layout (do they include parts like header, sidebar, footer) or just post-content in general? I think some of these could be a custom page template that — in addition to — may or may not reference a pattern as core/post-content within.

2. Those smaller ones are what I was thinking more of — particularly because it's

[2022-07-07 06:37] vajrasar opened #42213 "Removing a block(s) with keyboard selection + backspace/delete does not reflect on preview or publish"
### Description

The issue can be seen when a new post is created (with or without the Gutenberg plugin installed), and you try to remove some lines of text or paragraph by the method of selecting them (keyboard selection) and pressing backspace/delete. Those lines/para won't be deleted and you can see that in preview, and also when the post is published.

### Step-by-step reproduction instruction

[2022-07-07 06:50] #42098 closed, assigned to afercia

[2022-07-07 07:09] SantosGuillamot commented on #41451
Mmm I'm not 100% sure if opening a new issue is needed, as there are currently only a few issues left, that are kind of related. Moreover, I feel the opening post and the discussion aren't too long yet. Would it make sense to keep using this tracking issue for 6.1? Honestly, I don't have a strong opinion here and both are fine for me.

[2022-07-07 07:55] Mamaduka commented on #41256
I think we can close this issue. Like @justintadlock mentioned, the default styles will be part of the Global Styles in the future.

[2022-07-07 07:55] #41256 closed, assigned to nobody

[2022-07-07 07:59] Mamaduka commented on #41170
@johnstonphilip, it looks like filtering hasn't been implemented yet.

https://github.com/WordPress/gutenberg/blob/0e4747d8e9b26f1317d33ca31c5cd3da2859d476/packages/edit-site/src/components/template-details/index.js#L47-L51

@jameskoster, should we update the label as suggested in the issue?

[2022-07-07 08:01] Mamaduka commented on #39639
@tomasztunik, can we close this issue?

[2022-07-07 08:18] ellenbauer commented on #39732
@mtias Thank you sooo much for your reply 😍

1. No, they don't include the header, footer, or sidebar. We use a 'Header and Footer' Template and then provide the page patterns, let's say with the content of the About page. I thought these could be custom Templates as well when I created my first block theme. Then I looked at 2022 and discovered that page patterns are used there.

The only thing th

[2022-07-07 08:20] carolinan opened #42216 "Group block "outline" does not show the correct width when the layout setting is toggled"
### Description

In the block editor, if I add a group block and toggle "Inner blocks use full width" off, I can not see the width of the block.

When I select wide or full width alignment, the toolbar moves, but there is no visible line that shows how large the block actually is.
Because focus moves from the block to the toggle and then to the width option, the blue border is not present.
Only th

[2022-07-07 08:45] carolinan commented on #35336
I have retested and this issue is no longer valid. When there are no matching posts to navigate through, the pagination no longer shows on the front.

[2022-07-07 08:45] #35336 closed, assigned to nobody

[2022-07-07 09:27] draganescu commented on #41800
I looked 😱

<img width="1024" alt="Screenshot 2022-07-07 at 12 24 47" src="https://user-images.githubusercontent.com/107534/177740352-ff0108aa-7b5c-4376-9005-58b08cfb7436.png">

A few points:

- that link popover is totally broken when inline images are linked
- the "replace" action via clicking on "more > inline image" again is totally not intuitive, at least for me, I've always deleted and reins

[2022-07-07 09:50] afercia commented on #42158
Thanks @alexstine
A quick way to test this is by testing a Quote block.
In the Quote block there are two editable fields rendered by the RichText component: the Quote text and the Citation text. Both have a role=textbox.
The wrapper is a `<blockquote>` element with role=document and aria-label `Block: Quote`. I'm not sure this is entirely correct as it overrides the native blockquote role. Also, n

[2022-07-07 10:09] Mamaduka commented on #31839
Hi, @ajlende

Do you think we can close this one now that #40505 is merged?

[2022-07-07 10:25] afercia opened #42224 "Add more accessibility guidelines to docs/how-to-guides/accessibility.md"
## What problem does this address?

In the few years I've been following the Gutenberg project, I've been noticing recurring questions, doubts, request for help, about accessibility patterns and best practices. There's a lot of good information related to accessibility in the history of this project but it's all scattered around in the GitHub issues and pull requests.

Often, contributors ask ques

[2022-07-07 10:58] jameskoster commented on #34737
I'm still seeing the slug being used in the ellipsis menu:

<img width="735" alt="Screenshot 2022-07-07 at 11 56 25" src="https://user-images.githubusercontent.com/846565/177757954-f00e8dce-ee27-4869-9905-22508e569441.png">

But it looks like that will be fixed in 42221.

[2022-07-07 11:02] Mamaduka commented on #34737
@jameskoster, I made sure to use correct casing when swapped actions :)

[2022-07-07 11:09] jameskoster opened #42226 "Canvas height in focus mode should wrap document contents"
I'm sure we discussed this elsewhere but I am struggling to find the issue. Apologies in advance if this is a duplicate.

---

When you enter focus mode to edit something like a header, the canvas stretches to fill the viewport. This can make it difficult to understand the boundaries of the entity you're editing:

https://user-images.githubusercontent.com/846565/177759317-4c5f936a-2be3-48bc-83dc-c

[2022-07-07 11:14] Mamaduka commented on #40791
@jameskoster, is anyone working on this issue?

[2022-07-07 11:16] jameskoster commented on #29295
We can potentially consider reusing the popover pattern recently implemented for the document summary panel here. E.g.

https://user-images.githubusercontent.com/846565/177760933-30f8be28-4eff-44d8-a5ad-c7076b065e90.mp4

[2022-07-07 11:38] jameskoster opened #42227 "Add a keyboard shortcut to create group"
A common pattern in design software is that selected frames can be converted to a group via <kbd>CMD</kbd>+<kbd>G</kbd> (or similar) keyboard shortcut.

Now that site editing (where grouping is common) is becoming more prevalent it's worth considering adding a shortcut to do perform this action.

[2022-07-07 11:51] jameskoster opened #42228 "Add a keyboard shortcut to lock the selected block"
Block locking can generally be considered a power user feature. For such users, navigating the ellipsis menu every time you want to lock a block can be a bit tedious. To circumvent this we might consider adding a keyboard shortcut to bring up the locking modal.

[2022-07-07 11:57] Mamaduka commented on #42228
Something like `shift+command+L`? Currently `shift+command+D` is used for duplication.

[2022-07-07 12:00] jameskoster commented on #42228
This is what Figma uses, could work!

[2022-07-07 12:00] priethor opened #42229 "Stabilize the Table of Contents Block"
## What problem does this address?
The table of content blocks was first released in [Gutenberg 13.3](https://make.wordpress.org/core/2022/05/26/whats-new-in-gutenberg-13-3-0-may-25/) as an experimental block. A few releases later, no major bugs have been reported and we should start considering taking the block out of experimental.

## What is your proposed solution?
Taking the block out of exper

[2022-07-07 12:12] danielbachhuber opened #42230 "ColorPalette: Using 'transparent' as color value produces unexpected preview background"
### Description

When I pass 'transparent' as a potential color to `ColorPalette`, it unexpectedly shows a white background:

<img width="379" alt="image" src="https://user-images.githubusercontent.com/36432/177769809-13aa74bd-d4eb-4474-ae99-7a138eae58d9.png">

I would expect the background to be representative of the color, similar to other colors:

<img width="411" alt="image" src="https://user-

[2022-07-07 12:15] jameskoster commented on #41170
Good catch. Yes I think we should probably update the label until we implement https://github.com/WordPress/gutenberg/issues/36613, or some filtering on the template part list like you mentioned.

[2022-07-07 12:19] jameskoster commented on #40791
@Mamaduka not that I am aware of. If you're thinking about picking it up, it may be worth taking a look at https://github.com/WordPress/gutenberg/issues/39308 first (https://github.com/WordPress/gutenberg/issues/39308#issuecomment-1133086932 specifically), for an idea of the overall direction for these pattern modals. Just in case that informs any implementation details here :)

[2022-07-07 12:21] Mamaduka commented on #40791
Thanks, I will do.

[2022-07-07 12:45] petitphp commented on #41959
The PR was merged 7 days ago. I checked the content of `lib/compat/wordpress-6.0/class-gutenberg-rest-pattern-directory-controller.php` file in tags 13.5.0/13.5.1/13.5.2/13.6.0 and it hasn't change since february 10.

The PR might have been schedule to be included in 13.5 but wasn't merge in time ?

[2022-07-07 13:13] kauaicreative commented on #40183
@ndiego Even with "defaultPalette": false, set I'm still getting the core colors on the front end. This is the case with or without the gutenberg plugin installed.
[code]

<img width="991" alt="image" src="https://user-images.githubusercontent.com/127033/177782074-fb2ea31c-c76e-4928-be21-9ee2124c7160.png">

[2022-07-07 13:37] jon4896 commented on #41924
Yeah I like that. I'm sure there's good rationale behind having the parent block icon there, which is why I combined the two ideas. Curious to hear from the WordPress design team.

[2022-07-07 13:52] ZebulanStanphill commented on #42229
My main concern with stabilizing the Table of Contents block is that, if the ideas in #41173 are implemented, it could drastically alter both the attribute schema and saved markup of the block. We might end up creating another backwards compatibility nightmare if we stabilize the block in its current form. I haven't had time to work on prototyping this idea, unfortunately.

The more I think about

[2022-07-07 13:53] Mamaduka commented on #42228
Sounds good. We'll probably have to remove the lock icon from the menu item to display the shortcut.

cc @mtias, @critterverse

[2022-07-07 13:55] richtabor commented on #39732
This is what I'm referring to, mostly.

### Full page patterns
If I've created three patterns to use in a full page pattern, say for the Add New modal, I can't reuse any of those patterns, or the block preview shows up empty. I would say this instance is developer convenience, as we'd be able to reuse patterns instead of maintain less 2x the code.

### Template parts
The same follows for header te

[2022-07-07 14:07] Poliuk commented on #41451
Yeah, that should work as well, as long as we update this tracking issue, it should be fine 😊

[2022-07-07 14:11] skorasaurus commented on #42125
In case you weren't aware, some resources that you may want to draw off of, for core/data:

https://github.com/WordPress/gutenberg/blob/bd06705979ad63ace26d15de47144c253c3b0fc8/docs/getting-started/data.md
https://wordpress.stackexchange.com/questions/390985/how-do-i-access-site-and-block-editor-state-data-and-use-useselect-or-withs/390986#390986

[2022-07-07 14:15] afercia opened #42236 "Show button text labels setting fails to address accessibility when the visible label and the accessible name mismatch"
### Description

One of the main reasons why the 'Show button text labels' preference was implemented is to help speech recognition software users to use the Editor.

These users need to actually _see_ a control name to be able to voice a command with their speech recognition software. For this to work, the visible text of a control must match (or at least start with) the actual accessible name. S

[2022-07-07 14:16] andersnoren opened #42237 "[Group Block] Horizontal margin of child block is overwritten when parent group has a set content width"
### Description

If you create a group block, set the "Layout → Content" width value to a fixed width, add a child block of any type and set its horizontal margins in "Dimensions → Margins" to any value, those horizontal margin values are overwritten by the following CSS added for the parent group block:

[code]

See the image below for an example. Here, I want to set the lefthand margin of the he

[2022-07-07 14:23] renata-franco commented on #42184
Hello! I am currently triaging and I found a bug report like this with the borders of the button, but this time it's with adding Contact Forms while using Twenty Twenty-Two. It is report Automattic/jetpack#25018.

I wonder if this is happening with all buttons on this theme.

[2022-07-07 14:37] daviedR opened #42240 "Gallery Block: Use CSS grid instead of flexbox to style the Gallery block"
## What problem does this address?

Currently, gallery block rely on flexbox CSS to style. The flexbox styles are generated because of the Layout block support as registered in the block.json:

[code]

With the definition above, WordPress will automatically generate flexbox styles for the gallery block. But, no further layout options are actually configurable in the block options.

Hence, I think

[2022-07-07 14:59] pbking commented on #42199
Doh!
This was supposed to go into the Automatic/Themes project.
My apologies!  I went too fast.

Thank you @carolinan for pointing that out and for pointing me to that trac ticket as well!

[2022-07-07 14:59] #42199 closed, assigned to nobody

[2022-07-07 15:43] #40403 closed, assigned to t-hamano

[2022-07-07 15:57] mrwweb commented on #39371
@jameskoster

Many of us advocating for this feature think it will be beneficial to editors if they can learn to think semantically about their design decisions. e.g. Trying to avoid "futzing until it looks good" with "I use 'Large' padding in this context."

Closely related to that concern, a padding slider with 5-10+ potential values (which I imagine would be somewhat common), requires a rather

[2022-07-07 16:09] bradhogan opened #42241 "Changing Global Styles changes colors to defaults after custom colors have been set"
### Description

If you edit global styles and change the colors (background, text, link, button), then save, all is well.  But, if you then go back to the global styles and choose different "Styles" assuming the theme has some Styles setup, then the colors all jump back to the default colors.

So, let's say I'm a theme developer and I only want my "Styles" to essentially be different font combos.

[2022-07-07 16:10] kathrynwp commented on #41824
@bradley2083 Gotcha, thanks for the steps to replicate.

My inclination would be to say that's not up to Gutenberg to automatically add styling to arbitrary elements in custom HTML blocks, which _seems_ to be confirmed by @carolinan's comment here:
https://github.com/WordPress/twentytwentyone/issues/862#issuecomment-735522087

I've pinged Carolina in case they are able to chime in with a second op

[2022-07-07 16:20] bradhogan commented on #41824
@kathrynwp I think at the very least the default button styles set in theme.json should be applied to a button, no?  Even if you add something like this using the Custom HTML block the default theme.json button styles don't work:

`<div class="wp-block-button"><a class="wp-block-button__link wp-element-button">Take action</a></div>`

Because the button styles are applied inline.

[2022-07-07 16:35] kathrynwp commented on #41824
I understand what you're saying, but I'm thinking that this may be the case because the relevant button CSS is only loaded if a **button block** is loaded on the page (rather than recreating one with custom HTML) but Carolina can probably shed some light.

[2022-07-07 16:45] kathrynwp commented on #42184
@renata-franco could you please link to the other issue, as it's not auto-linking here so I'm not sure where to find it. Thanks!

[2022-07-07 17:08] cbirdsong commented on #39371
I agree with basically all of that. 👆

One other point: Dropdown menus are much more intuitive when reverting to the default spacing value. Dropdown menus like font size[^sometimes] and appearance simply display "default" as an option you can select, whereas a range slider (and most other controls) require knowing about and understanding the unintuitive reset/reset all functionality hidden within

[2022-07-07 17:24] critterverse commented on #39281
I wanted to share a couple variations of a Columns pattern that use the same inner blocks in case it's helpful for testing the swap functionality!

[Pattern version 1](https://gist.github.com/critterverse/b7fadc3c08d2d965aa406a41be96be15)
[Pattern version 2](https://gist.github.com/critterverse/65a2a608722d48c7320b9d168c096dd5)
[Pattern version 3](https://gist.github.com/critterverse/2e4a6c01d5db4

[2022-07-07 18:28] mcliwanow commented on #42100
Looks like it was addressed here: https://github.com/WordPress/gutenberg/commit/301dec6c4bedf3d775d2ce37411e6361dd862c52#diff-6821ffba0c3021ef82a479542bb166a00ed2ae278c40667dd2cc71eca4b1703cR4

When using Gutenberg 13.6.0 the cursor is there:
<img width="719" alt="Screenshot 2022-07-07 at 20 25 48" src="https://user-images.githubusercontent.com/4765119/177843440-641a088d-dd03-475e-83db-178a2e4f7f5

[2022-07-07 18:59] annezazu commented on #39293
Quick note that this has been updated (title, label, and content of the issue) to follow the pattern of other tracking issues in order to provide clarification and direction.

[2022-07-07 18:59] github-actions[bot] opened #42245 "[Flaky Test] can detach blocks from a template part"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
can detach blocks from a template part

## Test path
`/test/e2e/specs/site-editor/template-part.spec.js`

## Errors

<time datetime="2022-07-07T18:59:43.866Z"><code>[2022-07-07T18:59:43.866Z]</code></time> Test passed after 1 failed attempt on <a href="https://github.com/Wor

[2022-07-07 19:13] andersnoren opened #42246 "[Pull Quote Block] The font size setting isn't reflected accurately in the editor or on the front-end"
### Description

When you set a font size on a Pull Quote block and publish the page, the text size on the front end is a lot larger than the value set in the editor. That's because the font size is applied to the figure element, and the child paragraph element is set to a font-size of 1.75em by the Core styles. That means that the front-end font size will be 175% percent of whatever font size the

[2022-07-07 19:23] andersnoren opened #42247 "[Pull Quote Block] Setting a left/right text alignment applies a max width on the block"
### Description

By default, the text in the pull quote block is centered. If you change the text alignment to either left or right, the pull quote block unexpectedly gets a max width of 420 pixels.

### Step-by-step reproduction instructions

1. Add a pull quote block.
2. Set the text alignment to either left or right.
3. The block gets a max width of 420 pixels.

### Screenshots, screen recordin

[2022-07-07 19:34] afragen commented on #37717
@mtias are there plans for this filter to be added anytime soon. The PR is complete and it is fairly straight forward. It would be at least _nice to have_ until the _proper solution_ can be determined.

[2022-07-07 21:20] alexstine commented on #42158
@afercia

Doubt it but cannot say for sure. I can test this weekend if you need but I never really made it as far as testing specific blocks. My main focus so far has been trying to improve the blockers around the editor as a whole. E.g. functionality that effects all blocks and how you interact with the content.

If you think about it though, I am not sure screen readers would be better off annou

[2022-07-07 22:36] #42206 closed, assigned to ramonjd

[2022-07-07 22:42] ramonjd commented on #27478
I have a PR going in https://github.com/WordPress/gutenberg/pull/42084 that proposes to change `body` to `:root` for the preset CSS declaration block only.

Are the reasons above still valid?

Is this a bad idea? If so, what makes the case different to other instances of where Gutenberg uses `:root`? [Example](https://github.com/WordPress/gutenberg/blob/5424ec0b063bd541b3a2c5602e08721dae6db310/pac

[2022-07-07 22:45] andersnoren opened #42252 "[Cover Block] When used in a Query Loop, make it possible to turn the Cover block into a link to the post"
## What problem does this address?
It's great that the Cover block can be used to display the featured image of a post when used inside a Query Loop block, but it would also be really useful if we could make the entire Cover block a link that points to the post the featured image belongs to.

Currently, you'd need to add a Post Title block with "Make title a link" selected, but that results in a v

[2022-07-07 22:56] adamwoodnz opened #42253 "Navigation block: item link color style property missing in 13.6.0"
### Description

[A bug was found in wordpress.org and make.wordpress.org](https://github.com/WordPress/wporg-mu-plugins/issues/213) where the color of links in the navigation block changed. The root cause was found to be a CSS property being dropped in Gutenberg 13.6.0, due to a change to the navigation block in [this PR](https://github.com/WordPress/gutenberg/pull/41898)

In 13.5.1 this CSS rule

[2022-07-08 01:55] talldan commented on #39068
@richtabor Yep, there was an issue reported here for that - https://github.com/WordPress/gutenberg/issues/42058. It seems to be related to recent changes to the popover component.

[2022-07-08 02:23] bradhogan commented on #41824
@kathrynwp Unable to comment on that thread with @carolinan but her last comment mentions how WooCommerce styles forms / buttons using but you need to use the CSS classes, but this is not longer the case in WooCommerce.  If you test with Woo and create a blank page with no other buttons and insert their "Hand-picked products" block, you'll see the styles from are somehow applied inline with the ap

[2022-07-08 02:50] glendaviesnz commented on #42240
Thanks for the suggestion @daviedR. We did experiment with switching to grid when refactoring the Gallery block recently to use nested innerBlocks Image blocks. We struck a blocker with the use of CSS grid in that it can't be used to support the current Gallery block functionality of making orphan items fill the full width of the last row, eg.

<img width="672" alt="Screen Shot 2022-07-08 at 2 39

[2022-07-08 02:52] yashitamittal11 opened #42256 "Navigation block: Sub menu background transparent when picking a suggested background color on Varia"
### Description

When using the Navigation block with the Varia and its child themes, the background color selected from the block settings is not honored. It is because the specificity of the fallback menu background color is higher than the CSS specificity of the selected block color.

I expect the background color selected for the Navigation block to apply to the submenu.

### Step-by-step repr

[2022-07-08 03:00] nitinthewiz commented on #36632
I've hit this issue on iOS lately and can confirm that it was the Notely and the WP Hide Posts plugins that were causing this issue in my case. Hope this helps anyone else who comes along.

[2022-07-08 03:52] carolinan commented on #42256
Hi!
In the navigation block, there is both a block called submenu, and one called page list, which has sub menus.
Can you clarify which block to use to reproduce this?
Can I assume that it is the page list, as that is the block that is updated in the PR?

Which overlay and submenu setting are enabled? As in, "Overlay menu, mobile", "Open on click" "Show arrow".

[2022-07-08 03:53] ramonjd commented on #42213
Sounds like it's related to this comment by @youknowriad https://github.com/WordPress/gutenberg/pull/38892#issuecomment-1080319204 but for rich text blocks only.

cc @ellatrix

[2022-07-08 03:56] carolinan commented on #42256
Is the background color also set on the navigation block itself? I mean from the image it looks like there is an an orange color on the navigation block? Like this?:

<img width="300" alt="Navigation block color panel with two orange backgrounds selected" src="https://user-images.githubusercontent.com/7422055/177913987-03b67324-ac6c-4acd-9044-fef6c4079d29.png">

[2022-07-08 04:08] carolinan commented on #41824
_It depends._
- Twenty Twenty-Two does not style HTML button elements, other block themes might add custom CSS for it.
- Block themes normally load the button **block** styles only when the button block is on the page. _It won't read content inside the HTML block as an actual block._
- In classic themes, the theme author decides how to load the CSS, so it depends.
- With the upcoming version of Gu

[2022-07-08 04:31] talldan commented on #42213
I think the problem might be that when selecting two blocks in this way, the editor doesn't seem to consider it a multi-selection. This is how the editor is supposed to look when two blocks are selected using the mouse (notice the block toolbar shows grouping buttons because the editor considers this a multi-block selection):
![Screen Shot 2022-07-08 at 11 50 23 am](https://user-images.githubuserc

[2022-07-08 05:36] talldan commented on #41546
That's correct. The reason being that when dropdown menus close like that it results in a loss of focus.

There was also feedback on the PR that keeping the menu open is better. Previously, if a user wanted to select multiple items the only way was to keep reopening the menu.

The accessibility feedback has always been that menus should stay open like this unless the act of clicking on an item del

[2022-07-08 05:48] carolinan commented on #10117
Yes, still an issue.
Mac OS, Chrome, WordPress 6.0 and Gutenberg trunk (13.6.x).

https://user-images.githubusercontent.com/7422055/177924891-a14c2f33-81d0-42e2-9a64-4c39eaa555b6.mov

I wonder if it would be better (and certainly easier?) to prevent actions when clicking on a link that starts with `#`, rather than try to move focus to the link target in the editor.

[2022-07-08 05:49] carolinan commented on #42003
Can also reproduce this with other blocks than the navigation block.

[2022-07-08 06:43] daviedR commented on #42240
Thanks @glendaviesnz for the quick response.

You're right about the orphan items in the last row. Although, it's an opinionated design of how the orphan items in the last row should be treated. There might be some theme designers who opt-in to leave the orphan items as they are, not spanning to the rest of the horizontal space. You're right, in this case, flexbox will give more flexibility.

Rega

[2022-07-08 06:59] carolinan commented on #10117
I wonder why it is labeling local links -non anchor links to existing content on the same install -as external 🤔

[2022-07-08 07:13] SaxonF opened #42257 "Navigation List View: Introduce navigation editable tree view in the inspector controls"
Building a custom navigation menu is fiddly. We have in various versions explored surfacing a List View interface for managing and building the contents of your navigation. Let's surface the list view in the inspector.

**When no menus exist**

In this state, all pages (Page List) is shown:

<img width="3120" alt="Navigation_ No menus" src="https://user-images.githubusercontent.com/1204802/1830742

[2022-07-08 07:16] yashitamittal11 commented on #42256
Can you clarify which block to use to reproduce this?

I tested the issue using the submenu inside the navigation block. I don't see an option to add a page list as a submenu in the navigation block. Here's a screen recording for your reference -

https://user-images.githubusercontent.com/21078987/178248947-9368fe2b-3995-4559-98fc-66cea6b3ee62.mov

I updated the pagelist block as we figured the fa

[2022-07-08 08:24] andersnoren opened #42261 "Button Block: Link to the post in a Query Loop"
## What problem does this address?
It would be useful if we could link a button block to the current post when the button is used in a Query Loop, like this:

![Desktop](https://user-images.githubusercontent.com/8181091/177950000-e2dbc0f6-4b49-4e9e-ac4d-5547ebcf89d5.jpg)

## What is your proposed solution?
Add "Link to post" as an option to the button block.

[2022-07-08 08:45] afercia commented on #42158
@alexstine agree. I think we're mixing up a bit different topics. Sorry if I wasn't clear. The block wrapper and the block editable area are (or better: should be) two different things.

The `RichText` component renders the actual block editable area. Basically, it's the equivalent of a HTML `<input>` or `<textarea>`. As such, it should use correct semantics and labelling. Since it's editable, it

[2022-07-08 08:51] #41811 closed, assigned to talldan

[2022-07-08 09:03] Thelmachido commented on #42246
It seems this could be related to the Twenty Twenty-Two theme.  I checked on the Blank Canvas theme and the font size for the pull quotes is working as expected.

To add on, when I had the Twenty Twenty Two theme I noticed a few other things

1. The font size setting for the pull-quote block was only affecting the citation while in the editor. When I checked the page on the front end the pull quot

[2022-07-08 09:13] andersnoren commented on #42246
@Thelmachido I gave it a go in Blockbase as well, and it seems like the font size isn't working in Blockbase but for theme specific reasons. In Blockbase, the pullquote paragraph element is set to a fixed font size by the theme, overwriting the font size set by the user in the post editor:

<img width="1257" alt="image" src="https://user-images.githubusercontent.com/8181091/177959158-2fe5d9dd-9013

[2022-07-08 09:17] renata-franco commented on #42184
Hi @kathrynwp It's this one https://github.com/Automattic/jetpack/issues/25018

[2022-07-08 09:28] msurdi commented on #23428
I've recently ran into this problem too. But in my case, the selection issue was triggered because of using the provided `select` function to access the store, for example:

[code]

if instead of using the provided `select`, I import it like `import { select } from '@wordpress/data';` then the problem goes away.

Not sure if this makes any sense at all, I'm not that familiar with the internals of

[2022-07-08 10:25] carolinan commented on #11049
Is this still valid?
When I deregister the styles as mentioned above, I see the following:
![Post visibility screen ](https://user-images.githubusercontent.com/7422055/177974543-6cd1f76f-8dbf-498c-ac19-23abf7cd703a.png)

[2022-07-08 10:34] carolinan commented on #11352
Since the solid color block style has been removed, and the block supports background, text, link and border colors, I am closing this issue as solved. I do not see any duplicate class names in the editor or front.
Please reopen it (or ask me to reopen it) if you think this is incorrect.

[2022-07-08 10:39] carolinan commented on #11729
I am still able to reproduce this using Safari. Gutenberg 13.6.

[2022-07-08 10:44] carolinan commented on #11756
Do we still want to remove the visual drop cap when the paragraph is aligned?

[2022-07-08 10:51] jameskoster commented on #41546
I think auto-closing is worth trying, assuming that shifting focus to the added tool is acceptable from an a11y perspective.

[2022-07-08 10:58] Thelmachido commented on #42246
Thanks, @andersnoren for adding that. Twenty Twenty-Two and Blockbase have FSE which along with other FSE themes the issue was persisting when I was testing. With Blankcanvase and Stow but I see what you mean now, after checking with Twenty Seventeen theme I can reproduce the issue.

Thanks!

[2022-07-08 10:58] lmartins commented on #28763
It does illustrate how the component should be used, but it also sends people on wild goose chases to understand what they are missing in order to have help information next to each option. Having the docs giving a more accurate representation of how the component seems like a good idea.

[2022-07-08 11:20] msabirz commented on #42261
You mean particular block should be shown as active if its related to current post ? And its in Javascript? If so, Can I pull this up

[2022-07-08 11:21] mtias commented on #39732
This is very useful, I think there's a slight difference between the pattern flows that relate to creating new pages, selecting a header, etc, from what could be plain pattern in the directory. But regardless, there's something to fix there if we can make the previews work without performance penalties.

@ellenbauer it seems like they'd be `core/post-content` patterns indeed. Have you used those t

[2022-07-08 11:31] andreiglingeanu commented on #32784
@Nikschavan agree — passing custom environment variables via `.wp-env.json` should be possible. Not only for the WP CLI packages problem

Wondering if a PR would be accepted for adding such a capability

[2022-07-08 11:34] Lovor01 opened #42264 "harmonize media & text block and image block - insert from url"
## What problem does this address?
When media & text block is inserted, there is no option to insert image from url, like it exists for image block

![image](https://user-images.githubusercontent.com/33687174/177984449-95700616-9b9f-4156-89c0-8a025db33f2f.png)

![image](https://user-images.githubusercontent.com/33687174/177984393-0daa4f21-7bbb-43a3-b8de-00a327ebdc2b.png)

## What is your proposed

[2022-07-08 11:45] carolinan commented on #21126
This was fixed in #40329.

[2022-07-08 11:45] #21126 closed

[2022-07-08 11:48] ockham commented on #41451
Now that the Comments block ID change PR (#40506) is merged, the Comments/Post Comments blocks merge PR (#40521) is unblocked and has been rebased.

We now need to update a few things there (some basic stuff like `s/comments-query-loop/comments/g`) and give it a bit more testing.

[2022-07-08 11:52] carolinan commented on #22387
I believe the alignment issues have been solved. Is adding a reset link still relevant?
Current design:
![Date picker, with dates aligning under week days.](https://user-images.githubusercontent.com/7422055/177986916-6e4284f3-b4a7-447f-9e89-9a1feb680df4.png)

[2022-07-08 11:57] github-actions[bot] opened #42265 "[Flaky Test] dismisses link editor when escape is pressed"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
dismisses link editor when escape is pressed

## Test path
`/test/e2e/specs/editor/blocks/buttons.spec.js`

## Errors

<time datetime="2022-07-08T11:57:39.324Z"><code>[2022-07-08T11:57:39.324Z]</code></time> Test passed after 1 failed attempt on <a href="https://github.com/W

[2022-07-08 11:58] carolinan commented on #22457
Hi Ben! Can this issue be closed?, or can you provide any up to date information?
The CSS has changed over time and there are several ways for theme developers to style their buttons.

[2022-07-08 12:07] carolinan commented on #42264
Hi!

This feature used to exist but needed to be removed because there was no way to detect if the remote media was a video or image (I have no technical details of why). See https://github.com/WordPress/gutenberg/pull/19606.

I am closing this as a duplicate of [#14397. ](https://github.com/WordPress/gutenberg/issues/14397), please continue the discussion there.

[2022-07-08 12:07] #42264 closed, assigned to nobody

[2022-07-08 12:17] carolinan commented on #42261
Hi!

There is a block for this purpose, it is called **Read more** and links to the current post/page/ custom post type inside the post template in the loop.  It does not have the exact same options as the button block, but plenty of styling options like border, color and spacing. It is available in WordPress 6.0.

[2022-07-08 12:30] andersnoren commented on #42261
@carolinan I had completely missed that one – thanks Carolina!

[2022-07-08 12:30] #42261 closed, assigned to nobody

[2022-07-08 12:37] mtias commented on #40116
Would "Titles" or "Headings & Titles" be better to disambiguate?

[2022-07-08 12:38] matiasbenedetto opened #42267 "theme.json: Elements API styles dosn't work in the editor for settings inside core/post-content block"
### Description

If you add style settings to theme.json using the elements API inside a core/post-content block the resulting styles are not applied in the editor.

### Step-by-step reproduction instructions

1. Enable `emptytheme` to discard theme style conflicts.
2. Create a new post with a link, a button, and a heading and publish that post.
3. In the theme's `theme.json` file add these settin

[2022-07-08 13:09] fluiddot commented on #41813
Hey @ramonjd, thanks for the ping 🙇 . I have low bandwidth currently to check this, but let me try to spare some time in the next few days for giving a quick look and posting a new comment with my findings.

[2022-07-08 14:21] draganescu commented on #42253
Testing this on `trunk` I see that the navigation links have

[code]

and the colors (with empty theme) seem to be ok. Am I missing something or did the problem fix itself :D ?

[2022-07-08 14:58] richtabor opened #42274 "Remove extraneous step to edit the theme color palette via Global Styles"
## What problem does this address?

Currently there's an extraneous step to edit the site color palette.

To get there you:
1.  Open Global Styles
2.  Click on "Colors"
3.  Click on "Palette"
4.  Click on the vertical ellipsis menu icon
5.  Click "Edit colors"

The Palette view is what is currently redundant. You can't actually do anything other than edit colors (either the theme, default) or add

[2022-07-08 15:02] georgestephanis commented on #37943
👋

I'd had something come up in my tinkering that led me down a hole to see what is / isn't currently possible with the status quo on t his front.

The full brain dump as I investigated is in Slack here, if anyone would like a peek behind the curtain: https://wordpress.slack.com/archives/C02QB2JS7/p1657158514746249

In short, unless some filters are added, opting in to enabling template partials f

[2022-07-08 15:31] paladini commented on #25717
I was having the same problem as @cpiber . I have it solved by upgrading `wp-env` from 4.2.0 to 4.9.0 . Hope that this info can help someone here in the future.

[2022-07-08 15:33] cbirdsong opened #42275 "Block style removal should be considered a breaking change"
In 6.0, the "large" style was removed from the quote block. Going off #37580, I see the rationale was that this was obviated by the font size picker in typography options. However, "large" did not necessarily mean only the font size. On an older custom theme, I had styled the standard style with a subtle quote frame treatment, and the large style increased visual prominence in every way, not just

[2022-07-08 15:55] bradhogan commented on #41824
@carolinan Do you have a reference to how we'll be able to style `wp-element-button` in theme.json?

[2022-07-08 17:13] georgestephanis commented on #37943
Some of the AddedBy stuff in ^^ is explained in https://github.com/WordPress/gutenberg/issues/37401 where the `template.theme` would actually be the plugin slug

[2022-07-08 17:18] mirka commented on #42168
From a quick look at the code paths, this might be possible with a tweak to the filtering logic here:

https://github.com/WordPress/gutenberg/blob/b77b4dfda8b9e4611e6dc23ad8bfb406636e9f3f/packages/components/src/unit-control/utils.ts#L274-L276

However I'm not 100% sure this is always desirable from a UX standpoint, or if it will be considered a breaking change. I'll defer to others on that.

[2022-07-08 17:19] Lovor01 opened #42277 "Ancestor block setting (metadata) not implemented"
### Description

In [Block editor handbook](https://developer.wordpress.org/block-editor/reference-guides/block-api/block-metadata/) a new block setting is mentioned, "ancestor". However, when registering a block with this setting, desired functionality (block should appear in inserter only if one of his ancestors is mentioned in array of ancestors in block.json) can not be observed. Further, upon

[2022-07-08 17:42] richtabor opened #42278 "Modernize color palette picker and better surface color personalization"
## What problem does this address?

The color palette picker UI could use some cleaning up, and after auditing color interactions in Global Styles - I suspect there's a clever way to encourage color palette personalization/creation in-context, instead of requiring people to navigate away from editing towards Global Styles.

## What is your proposed solution?

### Modernizing the color palette pick

[2022-07-08 17:49] fuzzywalrus commented on #40289
// Edit
`isDefault` is the absence of CSS classes according to the docs.  Can't say I'm a fan of this without any option to have a preloaded class. It works fine for hand coding a block but cumbersome if simply registering block styles for `core` blocks or another developer's blocks.
https://developer.wordpress.org/block-editor/reference-guides/block-api/block-styles/
//

This also applies to cust

[2022-07-08 18:55] bradhogan commented on #30121
Definitely +1 on this.  All of the other major CMS platforms have this and it would really help us designer / developers to stay competitive :)

[2022-07-08 18:58] Jeremy-Bolella commented on #37590
It's really frustrating that this issue doesn't have a maintainable hot-fix yet beyond just dequeuing the entire preset style sheet. I was a huge fan of Gutenberg for almost 2+ years even through all the weird oddities/bugs. The 5.8+ update and the FSE release has made Gutenberg development unbearably difficult.

I tried FSE and realized it's a complete paradigm shift, cancelled that adventure. I

[2022-07-08 19:03] BinaryMoon commented on #22457
Hi Carolina - I'll close it. Thanks

[2022-07-08 19:03] #22457 closed

[2022-07-08 19:13] Lovor01 commented on #42277
On further investigation, it seems that it does not work only when defined in block.json; if it is defined as object property when registering block with `registerBlockType` then it works. Conclusion is that something about parsing that property from block.json is broken.

[2022-07-08 20:40] Lovor01 commented on #42277
I discovered that issue exists only when block is registered from php, and the cause is missing mapping of property in blocks.php, in function `register_block_type_from_metadata`. I will suggest a fix in official repository! I believe I can close this.

[2022-07-08 20:48] richtabor commented on #42196
One idea is to reuse the `—`, but have it surfaced on the color control if a color is applied (instead of behind the vertical ellipsis). If we did this, we could remove the "Clear" button from the Link color popover (removing the jumpy UI).

https://user-images.githubusercontent.com/1813435/178046427-34be8f2f-1b89-45a5-bcb6-898b99579fd7.mp4

Link color popover, with the "Clear" button, which could

[2022-07-08 20:48] mirka commented on #42095
See also https://github.com/WordPress/gutenberg/pull/42118#issuecomment-1175921129

Here's the breakdown of tasks.

## BorderControl

#42348

- [x] Wrap the whole thing in a `fieldset` and change the label to a `legend`
- [x] Add a label to the `UnitControl`
- [x] Add a label to the `RangeControl`
- [x] Add a `ToolTip` to the "Border color and style picker" button
- [x] Update the `getByRole()` qu

[2022-07-09 03:39] #41975 closed, assigned to alexstine

[2022-07-09 05:02] alexstine opened #42285 "Post author combo box receives focus on page load"
### Description

When editing an existing post and you have at least 25 users to select from the post author combo box, focus is automatically placed on the combo box after page load is complete. I expect this to not happen.

### Step-by-step reproduction instructions

1. Ensure you have 25+ users on your site.
2. Open an existing post or page.
3. Notice how focus is moved to the post author combo

[2022-07-09 05:04] alexstine commented on #42285
@ciampo I assigned this to you because you worked on the last issue with the duplicate IDs. I am not sure if this is related to the ComboboxControl component, I could not find anything there, this may be coming from somewhere else. I just do not have the time to track it down. If you do not have time either, any ideas who might be able to investigate? This is a super annoying issue.

Thanks.

[2022-07-09 05:31] alexstine commented on #42158
@afercia Oh yes, I understand now. I am not sure why not all blocks have wrappers or why some blocks try to have wrappers/content in one. It makes little sense as an insider looking in, you are correct. @talldan @tellthemachines Do you have any idea why this was changed? Cleaning up HTML would be my best guess?

@afercia Have you tried overriding the prop for a single block or even in RichText? So

[2022-07-09 05:38] akasunil opened #42286 "Error : No code coverage driver available in PHPunit test"
### Description

while running PHPUnit test in gutenberg with docker setup, we cant able to generate code coverage report. Looked through all documentation and followed step as provided. still received error of code coverage driver. It must be issue with gutenberg docker image.

### Step-by-step reproduction instructions

1. Setup gutenberg with docker
2. Start docker with command `npm run wp-env

[2022-07-09 05:41] akasunil commented on #42286
CC: @andreiglingeanu

[2022-07-09 06:36] #40500 closed, assigned to nobody

[2022-07-09 07:47] CreativeDive commented on #36812
It seems this is fixed now, I can see there is a `<!DOCTYPE html>` included in the pattern preview by the latest WordPress version.

[2022-07-09 07:48] #36812 closed, assigned to nobody

[2022-07-09 15:56] t-hamano commented on #41055
I tested with `create-block` and could not reproduce it.
The steps are as follows:

- create plugin template: `npx @wordpress/create-block gutenpride --wp-env`
- `cd gutenpride`
- Update .wp-env.json:
[code]

- In `gutenpride.php`, comment out `register_block_type` (Because the code generated by the latest `create-block` is not compatible with WordPress 5.0.):
[code]

- `npm run env start`

![wp5

[2022-07-09 19:27] Steve-Fenton commented on #12907
Hello, I notice this item was closed in favour of this issue: https://core.trac.wordpress.org/ticket/47532

I just wanted to see if the "Save Draft" issue generating dash-runs was in the general awareness?

"example - example" becomes "example---example" when you save a draft, but this isn't what happens if you publish before saving a draft (it should be "example-example").

[2022-07-09 20:21] annezazu commented on #40769
More feedback on this current experience from a [prior call for testing that just came in](https://make.wordpress.org/test/2022/04/28/fse-program-testing-call-14-rallying-recipe-reviewers/#comment-2595):

I understand though that there's context for why tab works the way it does but wanted to note how the + sibling inserter was hard to grasp in light of that: https://github.com/WordPress/gutenberg

[2022-07-09 20:30] annezazu opened #42288 "Consider making the pagination block icons more prominent"
## What problem does this address?

In a previous call for testing for the FSE Outreach program, the following feedback was shared:

Here's a visual of the icon in question:

<img width="302" alt="Screen Shot 2022-07-09 at 1 29 46 PM" src="https://user-images.githubusercontent.com/26996883/178121615-60c5e72d-436f-4804-9ee4-ca10264ae00e.png">

## What is your proposed solution?

Consider updating t

[2022-07-10 08:29] scruffian commented on #42054
See also the comment here: https://github.com/WordPress/gutenberg/pull/41140#issuecomment-1176574557

[2022-07-10 10:02] adamziel opened #42290 "contentSize in theme.json is applied differently in the editor and in the frontend"
## Description

When ch units are used for the content width, the site editor doesn't interpret this correctly and as a result short lines end up being aligned to the right:

[code]

### This happens in the editor:

![CleanShot 2022-07-10 at 11 55 18@2x](https://user-images.githubusercontent.com/205419/178140024-ee661d50-c60f-449f-a130-3a473f9d6ac0.png)

### While this happens on the frontend:

![

[2022-07-10 11:27] adamziel opened #42291 "Block styles, but defined by theme"
## What problem does this address?

I want to set my blocks in accordance with my style guide in a single click.

For example, my brand uses two different paragraphs styles:

* A larger one with line-height of 1.6
* A smaller one with line-height of 1.8

As seen on the screenshot below:

<img width="776" alt="CleanShot 2022-07-10 at 13 24 59@2x" src="https://user-images.githubusercontent.com/20541

[2022-07-10 11:29] MaggieCabrera opened #42292 "Button elements: text decoration isnot applying in the frontend on the button block"
### Description

The text decoration settings for the button elements are not applying for the Button block on the frontend (they work on the editor).

### Step-by-step reproduction instructions

Add this to theme.json inside styles:

[code]

Insert a button and check the editor and the frontend. Empty theme works fine for this.

### Screenshots, screen recording, code snippet

Editor

<img width=

[2022-07-10 12:10] t-hamano commented on #41961
## Improvement Roadmap

In order to limit the impact on each component, I would like to follow these steps:

- [ ] Apply `box-sizing: border-box;` to `TextControl` and `TextareaControl` placed within `Placeholder` component
- [ ] Replace `input` element with `TextControl`
- [ ] Replace `PlainText` component of `core/shortcode` block with `TextControl` or `TextareaControl` to match the other blocks

[2022-07-10 12:51] carolinan commented on #42291
I did not understand -block styles can already be defined by the theme, with the UI in the screenshot.
https://developer.wordpress.org/block-editor/reference-guides/block-api/block-styles/

**-What it does not do**, is change the visible value of the control, in this case, the line height. It adds the CSS that you define for the style.

[2022-07-10 13:42] t-hamano commented on #41213
I confirmed that the border support on pullquote block is explicitly opted in via [WordPres core theme.json](https://core.trac.wordpress.org/browser/trunk/src/wp-includes/theme.json#L232).

I close this issue because I think this isn't a bug.

[2022-07-10 13:42] #41213 closed, assigned to nobody

[2022-07-10 13:46] huubl commented on #36504
Shouldn't this be changed in Gutenberg repository (too)? https://github.com/WordPress/gutenberg/blob/de11d1d7e0a4f72dc24362e559aaba635b74dff4/lib/compat/wordpress-6.0/blocks.php#L126

[2022-07-10 14:21] t-hamano commented on #41338
Hi @coreyworrell,

I took a look at the PR(#37854) that was the source of the post.
From my research, the selectors deprecated in the `editor` package are limited to the following:

- `getAutosaveAttribute`
- `getEditorSelectionStart`
- `getEditorSelectionEnd`
- `getStateBeforeOptimisticTransaction`
- `inSomeHistory`
- `getBlockEditorSelector`

As for `getEditorSettings`, it does not appear to be

[2022-07-10 15:25] MaggieCabrera opened #42295 "Duotone: default colors are not showing up when nothing is defined in theme.json"
### Description

I can't see any colors on the duotone toolbar when a theme doesn´t define any duotone palettes at all. We should be able to see the default colors.

### Step-by-step reproduction instructions

Install emptytheme, insert an image block and open the duotone menu, you won't see any colors there.

### Screenshots, screen recording, code snippet

<img width="1059" alt="Screenshot 2022-

[2022-07-10 15:45] MaggieCabrera opened #42296 "Search Block: Style variation"
It's a common pattern to have the button be next to the input like in the screenshot. We could have a block style that implements this.

<img width="447" alt="Screenshot 2022-07-10 at 17 40 18" src="https://user-images.githubusercontent.com/3593343/178151909-5e08cd6a-1601-4bf4-8b6c-861ff752d052.png">

[2022-07-10 15:47] MaggieCabrera opened #42297 "Block styles: Set default style for a block with theme.json"
We should be able to define a default style variation for a block from within theme.json

[2022-07-10 15:49] MaggieCabrera opened #42298 "Theme.json: Core blocks should also be defined without the core keyword"
When editing theme.json and adding styles for blocks, they should be able to be defined without the need of prefixing them with `core/`

[2022-07-10 16:02] MaggieCabrera opened #42299 "Ability to style current menu item"
The user/themer should be able to style the current menu styles. It could be done something like this in theme.json:

<img width="578" alt="Screenshot 2022-07-10 at 17 59 06" src="https://user-images.githubusercontent.com/3593343/178152468-7812d929-1fb1-4257-bf9e-9d8da994c067.png">

[code]

[2022-07-10 16:30] MaggieCabrera opened #42300 "Opinionated block styles applying in the editor but not on the frontend"
### Description

A theme that doesn't add the opinionated block styles will still see some of them in the editor, creating a disconnect between what's on the editor and on the frontend.

### Step-by-step reproduction instructions

Install a theme that doesn't add support for `wp-block-styles` (or remove `add_theme_support( 'wp-block-styles' );` from functions.php), insert a group block with some c

[2022-07-10 18:08] huubl commented on #37659
What about something like this?

**Query Block**

_Wrap posts in (Select Option):_
- unordered list (default)
- div
- ...

**Post Template Block**

_HTML-element (Select Option):_
- article (default)
- div
- ...

This way we can make:
[code]
and:
[code]

[2022-07-10 19:52] DAreRodz commented on #41451
I've posted an update in https://github.com/WordPress/gutenberg/pull/41807#issuecomment-1179787698 regarding the block merge.

[2022-07-10 21:55] diegosomar commented on #32644
+1
Negative values are essential for building layouts (with z-index in the blocks).

[2022-07-11 02:38] tnchuntic opened #42305 "Navigation Options for Overlay to have Tablet/iPad breakpoint."
## What problem does this address?
Navigation Options for Overlay to have Tablet/iPad breakpoint.

## What is your proposed solution?
Add a "Tablet/iPad" breakpoint to collapse the menu.

[2022-07-11 02:44] adamwoodnz commented on #42253
Yeah correct that rule is present on trunk, but isn't on WordPress.org. Maybe something theme related there then. Thanks for testing, I should have done this first and will in future.

[2022-07-11 03:14] adamwoodnz commented on #42253
Just tested at tag `v13.6.0` and the rule is missing, but is there on `trunk` so it seems another PR has fixed this 🎉

I guess we'll wait for the next release and I'll close this if resolved.

[2022-07-11 03:56] kevin940726 commented on #39133
Seems like a temporary network error since it hasn't happened anymore.

[2022-07-11 04:30] glendaviesnz commented on #39371
Thanks for the additional feedback @cbirdsong and @mrwweb. We could get around the issue of not being able to see the setting at a glance by copying the Font control and adding the current setting to the Label, eg.

https://user-images.githubusercontent.com/3629020/178188592-550e9a15-3eb3-4bc2-af3a-3e7a602d0d99.mp4

Ignore the overall layout above it is a very quick mockup. This mockup also adds a

[2022-07-11 04:37] talldan commented on #42158
Pretty much. There has been an effort to make the block HTML in the (backend) editor match the block HTML on the frontend of a site. On the frontend, a paragraph block will only output a paragraph element, so the editor now does the same. It makes it possible for a block in the editor to more closely match the frontend styling.

I can't recall exactly how it worked before in the editor, possibly t

[2022-07-11 04:41] carolinan commented on #42300
Hi
I have not been able to reproduce this.
Using emptytheme, there is no extra padding.
Using Twenty Twenty-two there is padding, but because the theme adds left and right padding in style.css.

[2022-07-11 04:44] glendaviesnz commented on #42240
Good point about the duplicated styles @daviedR. There is some [work underway here](https://github.com/WordPress/gutenberg/issues/38167), which includes adding some deduping of styles like this. If it looks like there will be a delay in getting this added, then it could be worth revisiting the Gallery flex styles as you note.

[2022-07-11 04:51] carolinan commented on #42292
When I add the typography setting above I see:
Comments form button -no underline on front
Search button -underline on front
Button block -no underline on front

[2022-07-11 05:07] glendaviesnz commented on #37590
@Jeremy-Bolella there is work being done for [better support of hover/focus/active states for blocks](https://github.com/WordPress/gutenberg/issues/27075). A PR was merged to allow [adding of these to theme.json](https://github.com/WordPress/gutenberg/pull/41786), and also [some work on the supporting UI ](https://github.com/WordPress/gutenberg/pull/41976).

[2022-07-11 06:31] carolinan commented on #42290
To clarify, are you saying that headings are aligned to the right when ch is used? I am not sure what "this happens" means, there is also a text size difference between the two images?
Can you add any additional testing instructions?

[2022-07-11 06:58] Jeremy-Bolella commented on #37590
That's great and all but neither of those solutions fully address this situation. This is a bare minimum basic page builder functionality and the fact that Gutenberg has been around for 10+ major releases without something so basic and critical to any web development project is shocking.

My solution to my big rant above without causing myself a huge heartache/maintenance explosion in the future r

[2022-07-11 07:07] M4N0JKUM4R commented on #37967
@dennisheiden I was trying ways to know how to update object via setAttributes but there is no documentation and not covered in any tutorial. For now, should we have to use the level 1 attribute way of doing that? Takes the structuring out of picture though.

[2022-07-11 07:18] MaggieCabrera commented on #42300
Emptytheme does[ include the support for the block styles](https://github.com/WordPress/theme-experiments/blob/bced81dbd0c17f15d70d4ecdcf9666641390c1cb/emptytheme/functions.php#L7), did you try removing it?

[2022-07-11 07:58] fluiddot commented on #40695
This issue will be addressed when React Native version is upgraded to 0.68 ([reference](https://reactnative.dev/blog/2022/06/21/version-069)).

[2022-07-11 08:07] dennisheiden commented on #37967
[code]

Like any other attribute. But you could use a JSON for storing objects and preventing the issue above, therefore your default would be 'string'. You also can use a local setAttributes function to prepare your data like in the v1  [Gallery Block](https://github.com/WordPress/gutenberg/blob/47bbd793ec613da0a27d9826aff7db25c6650925/packages/block-library/src/gallery/v1/edit.js).

[2022-07-11 08:17] glendaviesnz commented on #37590
@Jeremy-Bolella, it would be great, if you have the time, to outline exactly what you see is needed to fix the problems you are experiencing with this, including details about the workarounds you have tried that haven't worked, [over on the related issue](https://github.com/WordPress/gutenberg/issues/27075).

[2022-07-11 08:20] mikachan opened #42310 "Post Title: Add support for textDecoration"
We're currently not able to control `textDecoration` on the `post-title` block. It would be good to add support for this.