[2021-09-29 23:17] #35051 closed, assigned to nobody

[2021-09-29 23:18] annezazu commented on #35012
@lwangdu thanks for opening this issue! Do you mean there is no way to assign a footer or header template to different pages? Want to make sure I understand what you're asking :)

[2021-09-29 23:20] annezazu commented on #35052
cc @getdave in case you have any insights :)

[2021-09-29 23:30] carlomanf commented on #34612
Template parts don't currently work in exactly the same way as traditional menus. That is, the template part block requests an explicit template part post, rather than requesting a "theme location" and rendering whichever entity happens to be assigned to that location. #31971 actually seeks to change that behaviour to fully match the way that menus work, which could in theory make menus and templa

[2021-09-30 00:25] carlomanf commented on #35012
I could be wrong, but is this potentially the same request as #29173?

[2021-09-30 00:35] carlomanf commented on #26950
After working on #31971, I'm further convinced by the above argument, so I will go ahead and close this issue.

[2021-09-30 00:35] #26950 closed

[2021-09-30 00:45] michalczaplinski commented on #34996
Hi @jameskoster! Do you have a design for the icon for this block?

[2021-09-30 02:55] ivanjeremic commented on #10242
I find this issue is still present, I can't find docs on how to set the default block, also I like the comment from someone above that it should be post-type based and the developer can choose which starting block his post-type should have which makes totally sense, for example if I develop a car dealer website and I have a post-type cars and a custom developed block for showing the car then I wan

[2021-09-30 03:39] #35168 closed, assigned to nobody

[2021-09-30 03:54] costdev commented on #33580
## Testing Report

### TL;DR

- Issue still occurs in `5.9-alpha-51876`.
- [The patch](https://core.trac.wordpress.org/attachment/ticket/53801/53801_css03.diff) hides the output from the user.

### Env

- WordPress 5.9-alpha-51876 - Fresh install
- PHP: 7.4.24
- Localhost: WSL2 with Ubuntu 18.04
- OS: Windows 10
- Browser: Chrome (94.0.4606.61)
- Theme: Tested in all bundled themes - 2010-2021
- P

[2021-09-30 05:32] github-actions[bot] opened #35235 "[Flaky Test] Shows the quick inserter when the block contains non-navigation specific blocks"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
Shows the quick inserter when the block contains non-navigation specific blocks

## Test path
`specs/editor/blocks/navigation.test.js`

## Errors

<time datetime="2021-09-30T05:32:32.877Z"><code>[2021-09-30T05:32:32.877Z]</code></time> Test passed after 1 failed attempt on <

[2021-09-30 05:39] talldan commented on #30007
@adamziel Editor settings I think was something considered before, but it's more for global configuration and less for settings relevant to a specific block.

Block context is interesting since that allows a specific consumer to use that data. I know the post editor provides the post id as globally available context, so there is the concept for a more global context, but post id is still very gene

[2021-09-30 05:51] tellthemachines opened #35237 "Remove deprecated classnames from Navigation Link block"
## What problem does this address?

After #33918 and #34171, there are a some extra classnames on Navigation Link block that are no longer needed. It would be good to remove them before the block lands in core.

List of classnames we can remove:

* `wp-block-navigation-link__container`
* `wp-block-navigation-link__content` (one of the e2e tests is using this one as a selector so we should also upd

[2021-09-30 06:05] tellthemachines opened #35238 "Rename Navigation Link and Submenu label classname to match other generic classnames"
## What problem does this address?

#33918 added generic classnames across several blocks used inside the Navigation block, using `wp-block-navigation-item__[element]` as the general pattern. One classname seems to have escaped this update: `wp-block-navigation-link__label`, which is added to the span wrapping the text on both the Navigation Link and Submenu parent element. This classname is rende

[2021-09-30 06:23] jasmussen commented on #35174
I can also reproduce on singular templates only:
<img width="477" alt="Screenshot 2021-09-30 at 08 22 32" src="https://user-images.githubusercontent.com/1204802/135398483-8ef85b4d-9f74-4c35-936a-839366f42889.png">

[2021-09-30 07:57] laportelatine commented on #26121
I was in the same situation. The problem is that the gutenberg gallery markup need some additionnal informations to work with elementor lightbox. You can fix that using a hook to modify gallery markup.

Here is my code to add in functions.php
[code]

This code make the distinction between each galleries in the same page. If you want that all galleries use the same counter alltogether, you can use

[2021-09-30 08:59] youknowriad commented on #34574
Small update here: The site padding has been added in #35241

[2021-09-30 09:11] getdave commented on #35052
👍 I think perhaps @noisysocks would be better placed to look into this one.

Also I'm not sure this is a Link Editing issue. I'm almost sure it will be specific to the Widgets editor. Remove label for now but can be re-added by @noisysocks if he feels I'm wrong.

[2021-09-30 09:13] tmdk commented on #34320
While investigating this issue for a colleague, I noticed that xdebug was actually included in the `wordpress` image on his machine. Running `docker run --rm wordpress pecl list` would return:

[code]

Inspecting the image showed that the image was actually the build result of the wp-env Dockerfile (it was showing the last of the `RUN` commands adding xdebug config to the php.ini file in `Containe

[2021-09-30 09:44] talldan commented on #33832
There's a discussion in slack that the core html block is also not saving its comment delimiters in the widgets editor. (https://wordpress.slack.com/archives/C01D71823PB/p1632988086021300)

I think it's likely caused by the same issue, since this is the same behavior the classic block has in the post editor.

I'm not fully up-to-date on the entire story. Could a solution involve passing some more

[2021-09-30 09:44] jameskoster commented on #34996
Ah, no we don't. It's probably safe to use the regular loop block for now, and we can explore design for a dedicated comment loop block later. I'm not 100% sure we need one.

Edit: Actually, the Post Comments icon might make more sense than the regular loop icon. It doesn't look as 'loopy' but will probably be adequate.

[2021-09-30 10:22] mtias opened #35249 "Template editor canvas should be resizable for viewport previews"
To introduce this feature we'll first focus on the template part editor until we polish the experience enough to apply it more broadly. The design reference is the pattern directory previews.

![image](https://user-images.githubusercontent.com/548849/135437840-32069fc5-54d8-4d92-9d80-000018012b7b.png)

[2021-09-30 10:27] tagol opened #35250 "Update alt="" - Refresh Picture ALT description"
### Description

Hello

I update der Piture Alt description.
But I did not Show on the Website.

solution: Delete Picture on the Page and  again insert.
Now the "Alt" Information show.

what am i doing wrong?
How can i update the Alt Informatione, without delete the Picture?

### Step-by-step reproduction instructions

1. Update the Alt description
2. Delete the Picture on the Page
3. Insert the P

[2021-09-30 10:31] NicoHood opened #35251 "Query loop Block problem with featured post in WordPress 5.8"
### Description

I have a query loop block set to 3 entries and one block post that is featured. The featured post will not be displayed in the block preview, but on the site. It results in 4(!) entries, not 3, break the complete layout

### Step-by-step reproduction instructions

1. Creat4 Blog posts of which one is featured
2. Create a query loop and enable featured posts
3. You will not see the

[2021-09-30 10:52] EightArmsWebmaster opened #35252 "sh: wp-scripts: command not found"
### Description

I cannot install a block using `npx @wordpress/create-block todo-list`. The command fails at

[code]

### Step-by-step reproduction instructions

Run

    $ npx @wordpress/create-block todo-list

Get above output.
Check wp-scripts:

    $ which wp-scripts
    wp-scripts not found

Try to install wp-scripts

    $ npm install --save-dev @wordpress/scripts
    $ which wp-scripts

[2021-09-30 10:55] ramonjd commented on #34525
I took a quick look at this.

The gap inline style will be applied to the containing `<nav />` of the block by default.

The flex container is a child of the block container.

<img width="500" alt="Screen Shot 2021-09-30 at 8 37 43 pm" src="https://user-images.githubusercontent.com/6458278/135440755-cfb6c3f7-e235-441b-a977-3946d2c218c0.png">

We could use `__experimentalSkipSerialization` to apply

[2021-09-30 10:57] getdave opened #35253 "Update `userCanCreatePages` to `canUserCreatePages` for consistency"
IN https://github.com/WordPress/gutenberg/pull/35083#discussion_r719187544_ @kevin940726 suggested we should rename the `userCanCreatePages` variable to `canUserCreatePages`. This is utilised in both:

* Nav block
* Inline within the format UI.

...to determine whether a user can create pages.

We should update it for consistency.

----------

I agree other than the fact that the Nav block already

[2021-09-30 11:47] jasmussen commented on #34525
Thanks for looking! There's an additional discussion about which container is to handle properties of navigation elements here, which might or might not be relevant, but would likely be good reading: https://github.com/WordPress/gutenberg/pull/34496#issuecomment-929979006

[2021-09-30 11:53] paaljoachim commented on #16484
Inspiration from ThemeX and their Cornerstone builder.
![Screenshot 2021-09-30 at 13 50 37](https://user-images.githubusercontent.com/5323259/135450450-ef7dbd03-ac83-4d64-bc61-7f3f616a3fc0.jpg)

[2021-09-30 12:06] fabiankaegy commented on #21835
I also tested this and was only able to replicate it in Chrome (Version 94.0.4606.61 (Official Build) (x86_64)) and Firefox (90.0.2 (64-Bit)). Safari (Version 15.0 (16612.1.29.41.4, 16612)) does not appear to have the issue. Continuing to investigate 👍

[2021-09-30 12:28] adamziel commented on #30007
@talldan @getdave Post id is very general, no argument here. At the same time, is there anything preventing us from giving contexts a new spin?

For me this idea feels very natural. We want different behaviors depending on the _context_ in which that block is used.  Even the word "context" comes up in these conversations all the time: "Nav block when viewed in the context of the Navigation Editor"

[2021-09-30 12:31] github-actions[bot] opened #35257 "[Flaky Test] allows a navigation block to be created from existing menus"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
allows a navigation block to be created from existing menus

## Test path
`specs/editor/blocks/navigation.test.js`

## Errors

<time datetime="2021-09-30T12:31:34.600Z"><code>[2021-09-30T12:31:34.600Z]</code></time> Test passed after 1 failed attempt on <a href="https://gith

[2021-09-30 12:46] Alhrath commented on #35050
I have the same problem. I guess most of the lambda users used the "Add media" button and customized sizes to control the display of images in their articles in the classic editor, so I think it's probably quite a common situation. It would be great if this could be corrected before the end of classic editor support :sweat_smile:

Best!

[2021-09-30 12:49] Stiofan opened #35258 "FSE templates not rendering shortcodes used in blocks"
### Description

If a block output contains a shortcode it will be renedered when used in a page/post or block widget, however if used on a template such as single-post.html then the shortcode will not be rendered.  The backend editor WILL render it, but the frontend will not.

### Step-by-step reproduction instructions

I have a framework that serverside renders blocks as they are shortcodes. It

[2021-09-30 13:11] github-actions[bot] opened #35259 "[Flaky Test] Can edit the post title"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
Can edit the post title

## Test path
`/test/e2e/specs/editor/blocks/post-title.spec.js`

## Errors

<time datetime="2021-09-30T13:11:25.331Z"><code>[2021-09-30T13:11:25.331Z]</code></time> Test passed after 1 failed attempt on <a href="https://github.com/WordPress/gutenberg

[2021-09-30 13:17] #26317 closed

[2021-09-30 13:28] Chouby opened #35260 "The search block doesn't honor the `get_search_form` filter"
### Description

The legacy search widget uses the template tag `get_search_form()` which allows plugins to modify the form through the `get_search_form` filter.

The search block uses its own markup to render the form and no alternative filter is provided to allow plugins to modify the form output.

This causes a potential backward compatibility for users migrating from widgets to blocks.

This f

[2021-09-30 13:59] skorasaurus commented on #34958
Hi,

I'm able to reproduce this in Gutenberg 11.6 but I'm not quite sure what original_post_value 's use without spending more time on the issue.

For context, here it is mentioned in source https://github.com/WordPress/wordpress-develop/blame/077504e755993f4385e583fb71f387e8829c1ecc/src/wp-admin/includes/post.php#L2423 and https://github.com/WordPress/wordpress-develop/blob/c00ba50d598abb1cd8aaba

[2021-09-30 14:01] annezazu opened #35261 "Improve experience of using social icons in the navigation block"
## What problem does this address?

While @helen was streaming recently, she found that when adding social icons to the navigation block that the + button was quite confusing. If you clicked the + button right next to the social icons, you could only add other social icon blocks. If you clicked _just_  outside of the social icons section though, you were then popped back into the usual experience

[2021-09-30 14:14] annezazu opened #35262 "Improve UX of "Move To" option"
## What problem does this address?

It's unclear to me if this is an enhancement or a bug request so, for now, listing it as an enhancement :) If you select a block and use the ellipsis menu to select "move to", you're switched from Edit mode to Select mode without much clarity around what to do next. My expectation is that I'd actually be able to pick a final location for the block I was trying t

[2021-09-30 14:42] jasmussen commented on #35261
Yep, this is kind of a microcosm of a lot of things going on:

- The in-canvas inserter lacking context, taking up space, and shifting layout around
- The variety of containers, especially containers within containers (in this case a social icons container inside the navigation container)
- The sheer number of blocks available, and how to insert/arrange them
- Parent/child borders/indicators of hi

[2021-09-30 14:56] guarani commented on #30648
Removing myself as assignee since I'm not working on this at the moment.

[2021-09-30 15:01] guarani commented on #29358
Removing myself as assignee since I haven't gotten to it in a number of months. Since this is high priority, @mchowning, do you think this can be left unassigned or should I or someone else pick it up?

[2021-09-30 15:07] #17972 closed

[2021-09-30 15:20] skorasaurus commented on #35022
Can you share if there's an error message in your browser's console?

You can access it by pressing pressing "control + Shift + i " while in your browser and then clicking the "console button".

From there, please upload a screenshot or screen recording with it open You can use LIEcap to create a GIF screen recording: https://www.cockos.com/licecap/

[2021-09-30 15:56] annezazu commented on #35261
Thanks so much as always for the lovely context and connecting so many dots <3

[2021-09-30 16:20] manooweb opened #35266 "Custom HTML block in widget screen doesn't save its custom block attributes"
### Description

If some custom block attributes is defined for the Custom HTML block, they aren't saved  when the block is used as a widget.

## What happens?
It seems that the `core/html` block is saved in `widget_block` option without its block comment delimeter and thus without any block attributes.

## Why?
After discussions with @talldan in slack and test with Gutenberg 11.6.0 it seems that

[2021-09-30 17:03] Drmzindec commented on #33801
Experiencing this same issue:

Tested it with all of the default themes and no plugins on version 5.8.1.

![hyperlink issue](https://user-images.githubusercontent.com/1712820/135499950-ba0b9e60-34d0-4e93-ae3d-a01b2fe619e0.gif)

[2021-09-30 17:15] scruffian opened #35267 "Global Styles: Margins on the paragraph block"
### Description

When a theme is opted in to blockGap, its not possible to set margins on the paragraph block.

### Step-by-step reproduction instructions

1. Switch to emptytheme
1. Add some paragraphs to a post
1. Change your theme.json file to this one:
[code]
1. When you view the page, the theme uses block gap to separate paragraphs, not the margins from Global Styles

### Screenshots, screen

[2021-09-30 17:21] ACBLDistrict21Webmaster commented on #35022
Great to hear from you, Will.

I just upgraded to Gutenberg 11.6.0, but the problem persists.

Following are recordings of the browser console while I recreate the
problem with all plugins activated, and another with only the Gutenberg
plugin activated.

All plugins activated
<https://drive.google.com/file/d/1-0eJAyjecnRWU0MJClDyWn5BGPI-0pty/view?usp=sharing>

Only Gutenberg plugin activated
<http

[2021-09-30 17:25] azaozz commented on #33832
It's not an issue, it is a "feature" that needs fixing :)
Yes, as the html block is the "freeform handler" it is removed when saving so its content becomes "freeform" again. This seems to be the (early) back-compat behaviour made for the classic block, to support a specific edge case: editing an old post with the block editor, and using only one classic block (yeah, this effectively bypasses most

[2021-09-30 17:39] WunderBart opened #35269 "E2E: Clearing storage time cost"
I've noticed that [clearing the `localStorage` in the `afterEach` hook](https://github.com/WordPress/gutenberg/blob/trunk/packages/e2e-tests/config/setup-test-framework.js#L79) slows the specs down quite a bit: ~1.3s to each spec in my testing. For example, the `blocks/list.test.js` suite alone, when run locally, takes ~130s with the LS cleared after each spec and only ~74s without (43% faster). I

[2021-09-30 17:41] shaunandrews commented on #31033
I find the sudden jump from the sidebar to a large modal to be very jarring and confusing. Instead, maybe it would feel more natural to use the sidebar (where you're used to browsing patterns) to display the suggested patterns:

https://user-images.githubusercontent.com/191598/135503861-4d069660-e9c9-4dfd-8ec4-3cf5c5330e8f.mp4

The video shows a way to expand the sidebar, but I could just as easil

[2021-09-30 18:06] franmastromarino opened #35270 "get_block_wrapper_attributes is calling parent block inside render_block filter"
### Description

I use the get_block_wrapper_attributes inside the render_block to hook a core gutenberg block output
The $wrapper_attributes returned are from parent block

### Step-by-step reproduction instructions

1. include this code in functions.php

[code]

2. check the error_log
3. [30-Sep-2021 18:05:49 UTC] $wrapper_attributes : "class=\"wp-block-post-template\""

### Screenshots, screen

[2021-09-30 18:14] manooweb commented on #33832
Are you sure? 😉

With older WordPress version we were able to add new field (attribute) to all the widgets to be able to change their behaviour for example.
With blocks now, we found that we can use block attribute to do the same thing. It works fine for all the core block except core/html.

Note that the same block also works fine with the post block editor.

[2021-09-30 18:24] youknowriad commented on #35269
We could probably have a plugin that removes the local storage persistence entirely maybe

[2021-09-30 18:26] azaozz commented on #33832
Yes, the reason it fails is that the html block is used as the freeform-handler, i.e. it is "special" :)
The feature here is that the freeform-handler block is removed on saving (including any attributes). This is done to keep the freeform html that existed before loading the post in the editor, and save it as "freeform" again. Fixing how that works will fix several "gotcha's" there.

[2021-09-30 18:50] gwwar opened #35271 "Navigation Editor: Unexpected behavior when reloading menu with placeholders"
### Description

If we create a menu with placeholder links, save, then reload the menu we'll see some inconsistencies:

- Tag, Category and Custom placeholders look correct
- Post and Page placeholders render as items like `#474 (no title)` (the menu id created)
- Submenu placeholders disappear

We do show a validation error on save, so I was also surprised to see that the menu serialized. (Overa

[2021-09-30 18:57] coreyworrell commented on #13270
This also happens in Firefox when fractional scaling is used (`layout.css.devPixelsPerPx` equals `1.25` for example).

[2021-09-30 19:45] desrosj opened #35274 "Allow for larger previews of block patterns, ability to copy patterns, and see favorites/most used"
## What problem does this address?
Block pattern previews are too small.

## What is your proposed solution?
It would be very useful to be able to see block patterns within the editor in a similar way to how they are presented in the WordPress.org Pattern Directory (https://wordpress.org/patterns/).

One suggestion would be to allow a user to open a larger window (sitting on top of the editor perh

[2021-09-30 23:47] HairyCream opened #35276 "Selectable Background for Query Loop Post Template"
_## What problem does this address?_

As of WP 5.8.1 with Gutenberg Plugin 11.6 the options to customise the layout of the Query Loop Post Template are limited.

For example, the following Query Loop would display the Post Featured Image, Post Title, Post Excerpt inline.

![image](https://user-images.githubusercontent.com/6292620/135542351-a4c22456-38ed-4a28-b980-641751baf1e5.png)

I would like th

[2021-10-01 02:11] ZebulanStanphill commented on #20873
I don't see how a half-moon shape has anything to do with styles. Like the previous comment pointed out, it looks like a dark-mode toggle icon. A brush makes far more sense for something related to "styles", and the icon is already used by WordPress so there's familiarity with it.

[2021-10-01 02:15] ramonjd commented on #34525
Thanks for linking to that discussion!

Inspired by the current [work around the Buttons Block](https://github.com/WordPress/gutenberg/pull/34546), which faces similar challenges, I've applied the CSS var to the corresponding containers in  https://github.com/WordPress/gutenberg/pull/35277

It works okay, but I haven't yet put it through its paces. :)

[2021-10-01 02:35] ZebulanStanphill commented on #33142
I, too, have run into some trouble lately with the alignment wrappers. It seems like nearly every theme I've tried has trouble with styling the block editor... especially when it comes to alignments. One of the most popular (and frequently updated) themes right now, Astra, currently has tons of broken editor styles including alignments, and frankly, it's hard to blame them. Trying to support the b

[2021-10-01 02:39] talldan opened #35278 "Flaky test reporting: attach or link to artefacts"
## What problem does this address?
Flaky tests are now raised as issues, which is really helpful.

Looking at the issue, it can still be difficult to establish what went wrong with a test run. For example, https://github.com/WordPress/gutenberg/issues/35257 where it doesn't seem possible to look at the test run that failed, possibly because it was retried. The error in the test is a little bit inc

[2021-10-01 03:37] talldan commented on #30007
@adamziel Another thought I've had about determining context is that the navigation block could determine its capabilities via the entity it's being used in. In FSE and the post editor it should be surrounded by either template part or post entities, and that should be available via an `EntityProvider`.

In the menu editor there wouldn't be a parent entity to the menu, we're in an isolated mode wh

[2021-10-01 04:34] noisysocks commented on #35052
Could you please share a screenshot of what you're seeing? I'm not quire sure what you mean by "the closed legacy widget representation".

Also, could you please share the PHP code for the the custom widget that you're using for testing?

The "No preview available." message appears when the widget renders empty markup. `<a href="#"></a>` would be considered empty and `<a href="#">foo</a>` would be

[2021-10-01 04:59] paaljoachim commented on #35276
That sounds like a very good idea @HairyCream Mike! Thank you for adding it!

I will ping Nik @ntsekouras so that he can take a look.

[2021-10-01 05:05] #35197 closed, assigned to andrewserong, stacimc

[2021-10-01 05:12] paaljoachim opened #35279 "Let's add a Github Project board for WP 5.9."
## What problem does this address?

There is no project board for WP 5.9 added yet to the above Project tab.
https://github.com/WordPress/gutenberg/projects

## What is your proposed solution?

Let's get a project board added as soon as possible. So that we can focus in on the issues that would be good to add to 5.9.

[2021-10-01 05:47] github-actions[bot] opened #35280 "[Flaky Test] inserts a block in proper place after having clicked `Browse All` from inline inserter"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
inserts a block in proper place after having clicked `Browse All` from inline inserter

## Test path
`/test/e2e/specs/editor/various/inserting-blocks.spec.js`

## Errors

<time datetime="2021-10-01T05:47:14.553Z"><code>[2021-10-01T05:47:14.553Z]</code></time> Test passed aft

[2021-10-01 05:52] ntsekouras commented on #35276
👋 thanks for creating the issue @HairyCream !

I could also see that you found the relevant issue about this and this is great, but we can close this in favor of the existing one. The approach should be more generic as is described in a comment there: https://github.com/WordPress/gutenberg/issues/24660#issuecomment-682560933

[2021-10-01 05:52] #35276 closed, assigned to nobody

[2021-10-01 06:11] talldan commented on #34612
Interesting point @carlomanf. I've not been working on FSE much, so I have a hard time grasping the complexities. It looks like your PR had positive feedback, but needs to be brought to attention again, it might be worth adding it as a discussion point on the core-editor meeting agenda. It definitely seems like something to address early in the WordPress release cycle to avoid what happened in 5.8

[2021-10-01 06:55] johngodley opened #35282 "ShortcutProvider component not released in @wordpress/keyboard-shortcuts"
### Description

https://github.com/WordPress/gutenberg/pull/34539 introduced the `ShortcutProvider` component. This is required by the `useShortcut` hook (used in places like `@wordpress/block-editor`), and effectively #34539 becomes an unintentional breaking change.

The `ShortcutProvider` component hasn't been released in `@wordpress/keyboard-shortcuts` yet, and the associated CHANGELOG.md isn'

[2021-10-01 07:12] tellthemachines commented on #30007
We're already using context in the Navigation block to define pretty much all its custom behaviour!

If we go with a solution like `
` (taken from [here](https://github.com/WordPress/gutenberg/pull/34496#issuecomment-929979006), where the Nav block is a container with all its customization, and it renders whatever menu corresponds to the id it's given, then the current setup where we pass context

[2021-10-01 07:34] kevin940726 commented on #35269
In my (local) testing, they are mostly only costing 1ms each call. I guess we need more testing before jumping into the conclusion?

[2021-10-01 08:14] Mamaduka commented on #35278
I think this only happens with flaky tests reports for PRs.

[2021-10-01 08:17] #25094 closed

[2021-10-01 08:41] fklein-lu commented on #33142
@ZebulanStanphill If it helps, https://github.com/WordPress/gutenberg/issues/33142 describes a workaround for the current alignment issues in hybrid themes.

[2021-10-01 08:42] fluiddot opened #35283 "Editor: Changes made in HTML mode are not reflected when switching to visual mode"
## Description

When switching to HTML mode, any modification applied in the HTML code is not reflected when going back to visual mode.

## Step-by-step reproduction instructions

1. Open a post/page.
2. Write some text in a Paragraph block.
3. Open the post settings by tapping the three dots button located in the top bar.
4. Tap on "Switch to HTML Mode".
5. Change the text wrapped in the `<p>` el

[2021-10-01 09:02] carlomanf commented on #34612
Although I haven't tested it out much, I understand that template parts have an "area" taxonomy that re-badges the block as "Header" or "Footer" or in this case it could be "Navigation" with the special ability to read and write menus (i.e. nav_menu_item) as well as template parts of that "area" term.

[2021-10-01 09:40] WunderBart commented on #35269
Sorry for not making this clear. You're right, the call itself takes just a few milliseconds tops. The delay comes from the fact that the LS is purged and anything that's there gets re-initialized (taking 1.3s) on each `it()`. So the solution to this issue could be having somewhat (partially?) persistent LS - maybe for the suite scope only?

[2021-10-01 09:52] fluiddot commented on #35283
I managed to fix the issue by commenting the following line:
https://github.com/WordPress/gutenberg/blob/456eabc9f574e449863acbb3c4f12495485f15b8/packages/editor/src/components/provider/use-block-editor-settings.js#L153

This change was introduced recently in https://github.com/WordPress/gutenberg/pull/35083 but it's still unclear to me why that's causing the issue, I'll keep investigating 🕵️ .

[2021-10-01 10:31] github-actions[bot] opened #35287 "[Flaky Test] Can edit the site title as admin"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
Can edit the site title as admin

## Test path
`/test/e2e/specs/editor/blocks/site-title.spec.js`

## Errors

<time datetime="2021-10-01T10:31:44.700Z"><code>[2021-10-01T10:31:44.700Z]</code></time> Test passed after 1 failed attempt on <a href="https://github.com/WordPress/

[2021-10-01 10:47] ntsekouras commented on #34345
👋 - I've started looking at the font size picker and my first issue that is missing the designs is the `default` value and the `reset` button. How do these two fit in the control? -cc @pablohoneyhoney

[2021-10-01 11:09] ciampo commented on #34345
It would be great if you could coordinate with @mirka , she's also been looking at this.

[2021-10-01 11:15] HairyCream opened #35288 "Query Loop Post Template block add Link to Post option"
## What problem does this address?

As at WP 5.8.1 with Gutenberg 11.6.0

The Query Loop Post Template block can have various Post element blocks included, such as Post Title, Post Content, Post Excerpt, etc.
Some of these Post element blocks often have an option to set a link to the selected Post. Such as ...
Post Title uses "Make title a link"
Post Featured Image, Post Date use "Link to post"
Po

[2021-10-01 11:50] mtias commented on #34612
Template parts are fairly generic containers, to which we added a thin layer of semantics with "areas". (Areas are essentially block variations of template parts.) When I referred to storing a menu's inner content like template areas that's what I had in mind. Whether "navigation menu" fits exactly in that concept is slightly cloudy, but for practical purposes it seems like the best place to start

[2021-10-01 11:53] #35174 closed, assigned to Mamaduka

[2021-10-01 12:21] NicoHood commented on #19223
I  agree that this is a very crucial feature. Right now I need to upload shrinked images for the background, so it does not get too large and cropped correctly.

[2021-10-01 12:44] NicoHood opened #35290 "Cover Block with parallax effect does not use responsive friendly srcset attribute"
### Description

I noticed that the Conver Block uses a css background image instead of a normal <img> tag. The srcset cannot be applied to that, so it forces the client to download the original size image, which is bad.

### Step-by-step reproduction instructions

1. Create a cover Block
2. Upload some large image
3. Enable parallax Effect

### Screenshots, screen recording, code snippet

_No res

[2021-10-01 12:56] ntsekouras commented on #35274
Related:
issue: https://github.com/WordPress/gutenberg/issues/26905
experiment: https://github.com/WordPress/gutenberg/pull/35006

[2021-10-01 13:04] MaggieCabrera commented on #35224
A placeholder would be much better than an empty div creating an unwanted space. I think it would be good compromise in this case.

[2021-10-01 13:10] mchowning commented on #29358
Thanks for removing your assignment @guarani . No one else is available to work on this right now, so I'll leave it unassigned, but leave it as high-priority.

[2021-10-01 13:10] ntsekouras commented on #35162
Yes

[2021-10-01 14:08] jromales commented on #34602
I had a user on a Premium plan who had a similar case. I went to do a `quick edit` on the post where the title includes an `OBJ` character and removed the extra space - that solved the problem.

[2021-10-01 14:28] senadir commented on #29864
Following up on https://github.com/WordPress/gutenberg/pull/32457, this is the list of items remaining to achieve full locking:
- [ ] Update Lock API to support user controlled locking.
- [ ] Add a modal to toggle locking for moving and removing.
- [ ] Show Lock icon on block list view and toolbar.
- [ ] Remove `core/lock/addAttribute` filter - #35389
- [ ] Disable moving in block list view.

[2021-10-01 14:42] #35283 closed, assigned to fluiddot

[2021-10-01 14:51] ciampo opened #35291 "Global Styles: the "back" button needs an accessible label"
## What

We should add an accessible label to the back button used in various screens of the Global Styles sidebar

![image](https://user-images.githubusercontent.com/1083581/135640352-2db5be3d-8d1d-4a4b-9be6-ba156132378b.png)

## Why

In the context of the Global Styles sidebar (#34574) and with the recent refactor that introduced the [`Navigator*` components ](https://github.com/WordPress/gutenb

[2021-10-01 15:04] ciampo opened #35292 "Color Palette: improve keyboard navigation"
## What

Rewrite the [Color Palette component](https://wordpress.github.io/gutenberg/?path=/story/components-colorpalette--default) to use the [`Composite` component](https://github.com/WordPress/gutenberg/blob/59923c119029311b1c5739412f19a285cbc0bf28/packages/components/src/composite/index.js) and to have `role="listbox"`, so that each Color Palette becomes one tab stop.

## Why

Tabbing through

[2021-10-01 15:10] mirka commented on #35282
A related question I have is, if this _were_ listed in the CHANGELOG.md as a breaking change, would the release procedures have ensured that the npm package be released before the Gutenberg 11.6 release?

My concern is that there are breaking changes in a Gutenberg plugin release that aren't yet available in the released npm packages. It makes it difficult to build things in a way that works in bo

[2021-10-01 15:37] pryley opened #35294 "[FR] Provide a onRender prop in ServerSideRender"
## What problem does this address?

Sometimes you need to trigger some javascript after a block is rendered with `ServerSideRender`.

Previously, the solution was to extend the ServerSideRender class. However with WordPress 5.8 this is no longer easily possible due to the changes made to allow Blocks to work outside of the post editor (i.e. sidebars and widgets).

See also:
- https://github.com/Wo

[2021-10-01 16:19] draganescu commented on #30007
What am I missing, as I think in this `` setup there is no need for the issue to exist anymore?

The `wp:navigation` simply gets configured via these attributes we pass to it. And that is OK because if we optimize for the "links only" or "simple menus" as the default behavior of the navigation block, the differences between classic and block themes are minimal, completely manageable via a few attr

[2021-10-01 18:06] pryley commented on #35294
@jasmussen since you worked on https://github.com/WordPress/gutenberg/issues/35027, perhaps you'd be open to looking at this since it's related to the SSR?

I'm currently using a custom ServerSideRender class which is identical to the latest commit with the loading indicator changes except that it also includes the change above...but I'd love to see this or something similar in core.

[2021-10-01 18:53] desrosj commented on #33424
Wanted to check in to see if the issue is happening less frequently after #34886. Happy to dig further and try more things if it's still an issue.

I'm not heavily involved day to day in this repo, but it does seem that the issue has improved some.

[2021-10-01 19:29] getdave commented on #32725
Closing this out as we removed the fetch function from this file.

[2021-10-01 19:29] #32725 closed, assigned to getdave

[2021-10-01 21:41] karmatosed commented on #35144
@carolinan it does. I can't currently recreate this outside my own theme using the latest version so let's maybe consider it might have been fixed or at least be something to do with custom links.

[2021-10-01 21:41] #35144 closed, assigned to nobody

[2021-10-01 22:45] camilopbam commented on #34867
I'm also getting this same issue on a fresh WP 5.8.1 site with both custom themes and Twenty Twenty-one.

[2021-10-01 23:11] karmatosed opened #35296 "Able to have both quick insert and library modal open at same time in full site editor"
If you have the '/ insert' active and open library, a rather interesting visual combination can be achieved:

![2021-10-02 at 00 09](https://user-images.githubusercontent.com/253067/135694819-bd4fef5d-57ea-4f93-a5c7-6d7872baf512.png)

This was using Chrome and the latest version, with TT1 blocks.

I would expect the '/ insert' to close if the library is open.

[2021-10-01 23:13] karmatosed commented on #34466
I think this is tricky but you are right @annezazu that at the core having live preview open with the sidebar seems the expected behaviour.

[2021-10-01 23:15] karmatosed commented on #34352
+1 to rename, I'm not absolutely convinced that 'synced' is right but it's better than reusable so 👍🏻

[2021-10-01 23:24] karmatosed opened #35297 "Feature image blog: text is too high in title"
This was seen in Chrome, using latest build and TT1 to test. The title of the block is a little out of line:

![2021-10-02 at 00 22](https://user-images.githubusercontent.com/253067/135695466-b599c777-57a1-4a94-818d-b3b28f789d66.png)

My recommendation would be to change this to be:

![2021-10-02 at 00 24](https://user-images.githubusercontent.com/253067/135695507-68826419-ae9d-4608-8ab8-3d022c8d3

[2021-10-01 23:41] karmatosed commented on #34942
The sidebar is having some iterations but potentially right now using what is in main here is a rapid mock:

![2021-10-02 at 00 40](https://user-images.githubusercontent.com/253067/135696240-2c349a2c-b04b-4fbc-bfee-c13c8cc74ec3.png)

[2021-10-01 23:43] karmatosed opened #35298 "Beta label on global styles looks like a button"
Whilst it's great to show beta, I think having it not look like a button might be good. The problem is compounded by the fact that a lot is going on in this header:

![2021-10-02 at 00 40](https://user-images.githubusercontent.com/253067/135696305-de443db3-90ac-4b61-a9d1-76b64d80c799.png)

There are a few variations, and I think it depends on how obvious the 'beta' should be.

[2021-10-01 23:52] karmatosed opened #35299 "Remove one of the + signs when show columns and navigation"
I found this using Chrome and the latest version from main. This was using TT1. I could using columns block and navigation get two + to show. I know there has been work done around only showing one at a time and I think it could be good to iterate that here:

![2021-10-02 at 00 50](https://user-images.githubusercontent.com/253067/135696661-413beb2c-7d3b-404c-8609-d412f12e6d3f.png)

[2021-10-02 00:00] karmatosed opened #35300 "Global styles: consider increasing maximum color palettes show"
As the title doesn't respond, it could fit a few more palettes. If there are quite a few it might be useful, for example in TT1:

![2021-10-02 at 00 58](https://user-images.githubusercontent.com/253067/135696967-50da20c4-23c6-40c0-bcdc-477b7197fa61.png)

[2021-10-02 00:07] karmatosed opened #35302 "Consider changing color of adding template in full site sidebar to same color as sidebar"
The current sidebar to view templates is dark, yet the popout add template isn't. I saw this using latest main and TT1:

![2021-10-02 at 01 04](https://user-images.githubusercontent.com/253067/135697174-20a5b82e-e8d6-4dd3-aabf-fc152a3b4f27.png)

If the sidebar is going to be dark, I would suggest unifying.

[2021-10-02 06:26] NicoHood commented on #35290
Another issue with the css background image is, that this does not support lazy loading!

[2021-10-02 09:42] #34936 closed, assigned to nobody

[2021-10-02 12:58] kevin940726 commented on #17000
Extending a component is not a recommended way in React. Instead, you should wrap it with another higher-order component if you need more controls. See [Mixins Considered Harmful](https://reactjs.org/blog/2016/07/13/mixins-considered-harmful.html) for more info.

I think we can close this as it's unlikely we would revert this change. Happy to discuss about alternatives though :)

[2021-10-02 12:58] #17000 closed

[2021-10-02 15:42] paaljoachim opened #35305 "Selecting multiple blocks - Save as Pattern or Reusable block."
## What problem does this address?

Selecting multiple blocks to create a Reusable block one needs to click the 3 dots (contextual drop down) to click Add to Reusable blocks.

![Screenshot 2021-10-02 at 17 29 52](https://user-images.githubusercontent.com/5323259/135723079-31a1455b-76fe-4813-8371-61b7ea882efd.jpg)

It would be nice with a more direct method of selecting multiple blocks and saving t

[2021-10-02 16:24] spacedmonkey commented on #34612
Sorry, I am coming into this discussion late but wanted to give my thoughts here.

I am on the face of it, against adding a new custom post type and any new storage system of blocks. Mostly because I believe that existing systems could be used to store this data. There are 3 existing storage system that could be used here.

1. Reusable blocks - wp_block post type.
There are off course existing RES

[2021-10-02 18:09] cbirdsong commented on #34641
I do think typography is a step too far for the core plugin, but intrinsic layout styles for stock blocks would be far better than the current ones since they will work in more contexts without theme authors needing to fight them. When doing custom theme development on projects with the block editor I've ended up disabling the stock editor styles entirely in order to replace them with intrinsic la

[2021-10-02 19:39] Clorith commented on #34574
Thanks for the extended explanation @annezazu, appreciate it!

So does this mean that the ability to disable customization with `false` entries is already implemented? Looking at the current documentation this isn't quite clear on a global level, but on a per-block level it is, which may be why I did not notice this feature at first. Perhaps we should expand the `theme.json` documentation to have

[2021-10-02 22:21] cbirdsong opened #35306 "Add a selection of preset spacing values to supplement/replace custom padding/margin options"
## What problem does this address?

Spacing quickly becomes inconsistent across a larger site with extensive use of the custom padding/margin options in Gutenberg. It's very difficult to keep a design feeling cohesive if every editor has to manually apply the same padding value when adding a columns block. Additionally, because these custom values are output as inline styles it then becomes extrem

[2021-10-03 00:10] spacedmonkey commented on #31551
For some extra context, I have prototyped added support for `wp_nav_menu_item_custom_fields`. This wraps a call to the `wp_nav_menu_item_custom_fields` action in an output buffer and returns the output as a string, under a field called item_custom_field.render.

Checkout my [branch](https://github.com/WordPress/gutenberg/tree/try/edit-form). To test, create some menu items and call `await wp.apiFe

[2021-10-03 08:50] pryley commented on #17000
@kevin940726 A common reason for extending ServerSideRender was to provide a way to trigger something after a render. Currently this is not possible. I have suggested a React solution for this here: https://github.com/WordPress/gutenberg/issues/35294

[2021-10-03 12:39] naohanpen opened #35308 "Selecting all ( Ctrl + A ) in a classic block will copy the content to other blocks"
### Description

If I do selecting all in a classic block, content in the block will be copied to other all blocks.
It may be technical bug.

( I'm not good at English, so my grammar may be uncorrected. )

### Step-by-step reproduction instructions

1. Visit post editor on WordPress, and create Paragraph Block and Classic Block.
2. On the classic block, select all content such use `ctrl + A`.
3. T

[2021-10-03 14:30] lgladdy commented on #31551
@spacedmonkey Can't see anything obvious that would stop us rendering so long as at least 4 parameters are passed into `wp_nav_menu_item_custom_fields`.

I'll try and get your branch running and test this further with ACF.

[2021-10-03 15:18] lgladdy commented on #31551
@spacedmonkey Because ACF supports different fields based on the menu, we also need to know what menu ID is currently being edited when we render the fields for it. Currently, we do this with [this code](https://github.com/AdvancedCustomFields/acf/blob/6039481f73a2db9969ae88ac8c971955787c78e9/includes/forms/form-nav-menu.php#L219:L243) on a `wp_edit_nav_menu_walker` filter to store the ID of menu

[2021-10-03 17:30] steveush commented on #17000
@pryley Initializing JavaScript on the newly rendered markup is precisely why I was previously extending ServerSideRender.

I ended up basically doing as you mentioned in your feature request, basically copying the current class and adding in a hook allowing me to do something after it had rendered. This has served me well now for basically 2 years but it does leave a bad taste in my mouth having

[2021-10-03 18:39] draganescu commented on #34612
Indifferent of how this lands, making the navigation block behave like a template part, holding its contents in a CPT opens up the possibility to allow it to work with both kinds of menus, block and classic, provided there is an entity that handles the conversion to and from classic trees to block trees.

![image](https://user-images.githubusercontent.com/107534/135767080-0cc32cdd-69b3-489f-9ac2-1

[2021-10-03 21:44] spacedmonkey commented on #31551
@lgladdy I think the data being passed to `wp_nav_menu_item_custom_fields` is correct. In my limited testing, found that even through the correct data was being passed too this [function](https://github.com/AdvancedCustomFields/acf/blob/6039481f73a2db9969ae88ac8c971955787c78e9/includes/forms/form-nav-menu.php#L87-L93), wasn't getting an field group back.  I believe it is because of the [acf_get_fi

[2021-10-03 22:02] Flameeyes commented on #35086
Further testing: this does not appear to affect Chrome on Android (of all things!). The output of the fiddle is (missing the last character because I'm manually re-typing), for `á`:

[code]

and for `'`:

[code]

[2021-10-03 22:46] spacedmonkey commented on #34612
Not sure I agree with this. What are you are basically sayings, that you want a REST API, that will take a data in whatever format and just magically know what to do with it. This feels like it getting to be very problematic and hard to build.

In my mind, the rest api, is designed to represent data, like menu item and to able to create/edit/delete. This to up the client connecting to it, be guten

[2021-10-04 00:57] mclarkos commented on #15471
I have found another cause for this issue—if the theme sets content_width too high, YouTube returns an error (something about width too large) that prevents the retrieval/construction of the iFrame element. WP then reverts to displaying the embed URL.

To reproduce, add the following to the theme's functions.php:
`function themename_content_width() {
	$GLOBALS['content_width'] = apply_filters( 'th

[2021-10-04 03:47] glendaviesnz commented on #34824
This doesn't appear to be an issue on trunk so closing:

![selected](https://user-images.githubusercontent.com/3629020/135789838-ff414090-43b3-4ca1-b2f1-2d378696a81a.gif)

[2021-10-04 03:47] #34824 closed, assigned to nobody

[2021-10-04 04:02] talldan commented on #35294
@pryley What's the use case for such a callback?

[2021-10-04 04:18] talldan commented on #30007
It's fine to be able to initialise the navigation block with some defaults for attributes. That's something that the editor already does. But the goal is to stop the user interface for these useless settings from being shown to the user. I don't see how that helps without adding extra attributes like `canModifyResponsiveness`.

A different take on it could be for the navigation editor to modify th

[2021-10-04 05:30] stokesman commented on #34907
I've made #35310 as an example of fixing that without worrying about it within the component for now. Don't let the number of changes throw you off. The last two commits are extraneous to the scrollbar fix. They're outdated CSS cleanup and alignment improvement for the Post Editor’s preferences modal. I may just break them off for a separate PR.

In addition to that, I wanted to suggest we improve

[2021-10-04 06:53] gziolo commented on #34797
@kevin940726 or @adamziel, can you help here?

[2021-10-04 06:58] gziolo commented on #33424
I'm back to my regular work schedule. I will check this week if #34886 unblocks npm 7 migration.

[2021-10-04 07:09] pryley commented on #35294
@talldan In my case I use it to initialise a carousel layout, and to transform a SELECT into a custom rating control in a form. Additionally, I use it to add a direction (i.e. ltr, rtl) class which determines how the block's CSS layout is displayed.

[2021-10-04 07:10] kevin940726 commented on #34797
Sounds good to me. Happy to help review the PR :)

[2021-10-04 07:13] kevin940726 commented on #17000
I'm not sure about implementing a `onRender` prop on `<SeverSideRender>` but I don't see why not either. I was simply closing this issue because it's unlikely we would converting back to class based component, but happy to discuss alternatives in other issues or PRs :).

[2021-10-04 07:22] kevin940726 commented on #35294
As mentioned in the description, the same thing had been brought up in https://github.com/WordPress/gutenberg/issues/7346. I don't see why not adding this feature, but maybe @gziolo has some more insights?

As for the actual implementation, I'm not sure `onRender` is the right API to use here. I would probably create a `useServerSideRender` hook instead and use that to implement `<SeverSideRender>

[2021-10-04 07:29] draganescu commented on #30007
Yeah, apparently if block supports and theme settings are for other things, then block behavior configuration should be handled by attributes. Wether behavior control will be as granular as your example or result from a combo of other atributes will result on a case by case basis.

At least that is my current understanding.

[2021-10-04 07:35] lgladdy commented on #31551
@spacedmonkey Yeh - agreed the data is correct, but ACF uses other filters prior to `wp_nav_menu_item_custom_fields` in order to detect the nav menu ID currently being viewed, and this context isn't available when rendered via the REST API. ACF's currently failing to render any fields because it's trying to check which fields should be displayed in that nav menu, but doesn't know what nav menu is

[2021-10-04 07:50] talldan commented on #35294
Thanks for sharing @pryley. I like @kevin940726's idea.

[2021-10-04 07:51] carlomanf commented on #34612
Whatever approach is taken, I see these being the important aims:

1. It should be possible to include menus into a post/page/template/etc, without permanently converting them to a serialised navigation block. This is especially important when a PHP theme is currently active and the same menu might be in use in another theme location.
2. It should be possible to include a serialised navigation blo

[2021-10-04 07:59] draganescu commented on #34612
What is the use of this?

[2021-10-04 08:17] carlomanf commented on #34612
A few answers:

- It's the way the navigation block currently works. (Maybe ask the person who built it that way!)
- You might want to set up a navigation block inside one template only, or inside one template part only.
- Most blocks don't force you to make them reusable, so it would look odd for this one to behave that way. That would be a behaviour consistent with menus, but not with blocks.

[2021-10-04 08:22] pryley commented on #35294
@kevin940726  @talldan  Thanks, that sounds promising! However, I don't quite understand how the `useServerSideRender` hook would be implemented as described.

This is my current implementation:

[code]

This is what I tried which obviously doesn't work since the hook is fired **before** render instead of before/**after** render:

[code]

Would you be able to provide some more details on the imple

[2021-10-04 08:26] getdave commented on #34612
The current Reusable blocks implementation has "convert to static" function so hopefully it's not a huge stretch to have this be a feature for the Nav block as well.

[2021-10-04 09:14] talldan commented on #34612
I don't think this is something that needs to be solved straight away, I personally find it difficult to understand the idea of a parent block that can be both static and reusable at the same time. The reusable block's 'Convert to static' option is different because it clearly removes itself when choosing that option. Template parts have a 'detach' option and that is the same.

These are good thin

[2021-10-04 09:17] Lovor01 opened #35316 "Nested block editor"
This is actually developer help question, [ I asked it at wordpress stack exchange](https://wordpress.stackexchange.com/questions/396426/embedded-block-editor-in-block-editor), but without proper answer.

I want to have nested block editor as a 'window' inside another block editor. Parent block editor would serve to edit page content, while nested block editor would serve to edit content of certai

[2021-10-04 09:43] ntsekouras commented on #35297
👋 I couldn't reproduce this with Chrome and  tt1 blocks `Version: 0.4.7` 🤔

[2021-10-04 09:50] fluiddot commented on #33424
The changes introduced in #34886 should have fixed the `cb() never called!` entirely, actually after checking the recent commits of the `trunk` branch, I see it hasn't been reproduced since it was merged 🎊 . In fact, I think we could close this issue unless there's something else that we would like to double-check before considering the issue solved.

[2021-10-04 11:00] #33424 closed, assigned to desrosj

[2021-10-04 11:03] adamziel commented on #34612
@draganescu  To me it boils down to having `if( classic menu ) { do one thing } else { do another thing }` somewhere. API endpoint is one place, but I think we could move that `if` to Javascript and have two separate endpoints just as well.

[2021-10-04 11:13] adamziel commented on #34612
@spacedmonkey There are many APIs out there that accept input encoded either as JSON or multipart form-encoded format. Some others will return different data formats depending on request's `Content-type` header, as in `text/html` or `application/json`. It's just a different representation of the same data. While accepting different inputs could mean overhead if/when the data format changes, suppor

[2021-10-04 11:22] adamziel commented on #30007
@talldan In that scenario the block would decide based on the surroundings. Changing the behavior in a specific editor would mean updating that block, not the editor. New editors introduced via plugins wouldn't have that power. I'd rather put the editor in charge.

[2021-10-04 11:27] adamziel commented on #30007
@draganescu Such attributes would only affect the editor and not the frontend. At the same time, they would be stored in with the block and presumably used regardless of which editor that saved block is edited in.

[2021-10-04 11:31] adamziel commented on #30007
@tellthemachines

That's neat! I just saw this:

https://github.com/WordPress/gutenberg/blob/fe76803f608ba31a3e134601960c0bd3f7cbcf4b/packages/block-library/src/navigation-submenu/edit.js#L293

That's what I'm thinking, it looks like a relatively small change too.

[2021-10-04 11:32] adamziel commented on #34797
I second @kevin940726

[2021-10-04 11:43] #29032 closed

[2021-10-04 12:24] carolinan commented on #32638
Hi
The default, and the number of posts shown in the carousel, is now 3 posts, can this issue be closed?

[2021-10-04 12:25] antonyjsmith opened #35320 "Widget Block theme editor styles ignored"
### Description

I'm using add_editor_style to enqueue some custom styling to the block editor, I cannot target elements to apply styling, font's seem to be respected - I'm unsure how or why - but specific stying for bocks which works fine in the post editor is not reflected in the widget editor.

Most annoying of all I cannot seem to change the main widget container max-width.

### Step-by-step r

[2021-10-04 12:26] ntsekouras commented on #23908
Is this still relevant? I couldn't reproduce it. Also noting that the control will soon be updated by: https://github.com/WordPress/gutenberg/issues/34345

[2021-10-04 12:36] carolinan opened #35322 "Query loop displays non sticky posts when Sticky posts is set to only"
### Description

If a WordPress install has no sticky posts, standard posts are displayed on the front when the query loop setting "Sticky posts" is set to "only".
This leads to an unexpected result if the theme developer has chosen one design for sticky posts, and another for standard posts. If the page has two queries, one for sticky only, and one without sticky, the posts are duplicated.

It wo

[2021-10-04 12:41] ntsekouras commented on #20796
Closing this one as it seems to have been resolved by https://github.com/WordPress/gutenberg/pull/31118.

[2021-10-04 12:41] #20796 closed

[2021-10-04 12:45] ciampo commented on #34907
Thank you @stokesman for taking the time to contribute to the `Navigator` component! I've left individual comments on each of the issues that you linked.

`Navigator` is a very recent component and should be still considered highly experimental. We are purposefully introducing it in its simplest form and adding features or fixes as we experiment with its usage across a few places in Gutenberg. Thi

[2021-10-04 12:50] scruffian opened #35323 "Site Tagline: Support margins in theme.json"
## What problem does this address?
The site tagline block uses a paragraph element, which means it inherits the margins from CSS for paragraphs:
<img width="829" alt="Screenshot 2021-10-04 at 13 49 30" src="https://user-images.githubusercontent.com/275961/135854296-4c19c26a-5e0a-4ba0-a91c-400fa26462f3.png">

## What is your proposed solution?
If we could control the margins in the theme.json, we c

[2021-10-04 13:07] spacedmonkey commented on #31551
@lgladdy Correct me if I am wrong, but can't you already get the menu id from the [wp_nav_menu_item_custom_fields](https://developer.wordpress.org/reference/hooks/wp_nav_menu_item_custom_fields/) action. The last param on this action is `Nav menu ID.`, which is the menu id. This action, has both menu item id and menu id, which is all the context you should need.

[2021-10-04 13:17] spacedmonkey commented on #34612
@adamziel  My worry is, if the menu block change, so new attributes or attributes that are saved in a different format. A v2/v3... we have to support this in the REST API and maintain BC forever. I just feel like this is not the right place this in the REST API. The rest api, is not migration tool. There are places, where this might happen now, but in this case, I think can and should be avoided.

[2021-10-04 13:17] carolinan commented on #35323
I was able to reproduce this, but it is only the left and right margins that are overwritten, not top and bottom.
In the editor, this style is overwriting the tag line styles:

[code]

My theme.json style was:
[code]

[2021-10-04 13:18] ntsekouras commented on #32638
This is different. There are some patterns that have set the number of posts to `1` and the selection of the results to showing only one. This is a bit challenging to tackle as there are two cases of patterns having `one` as per page:
1. The pattern is intended to show a simple list and has set the number to `one` to be less overwhelming
2. The pattern has multiple `Query Loop` blocks and uses a d

[2021-10-04 13:18] carolinan commented on #35323
Perhaps you could use padding as a work around for now?

[2021-10-04 13:26] lgladdy commented on #31551
@spacedmonkey Weirdly, that `$id` parameter always seems to be 0 inside this filter on the normal nav menu pages, but it is working correctly in your REST API branch.

[Here's a build](https://github.com/WordPress/gutenberg/files/7278293/advanced-custom-fields-5.10.2-gb_test_1.zip) of ACF 5.10.2 which adds support for using it to know the menu ID, and this is working with your branch now and our f

[2021-10-04 13:27] ntsekouras commented on #34345
Regarding `Letter spacing` control that [seemed important](https://github.com/WordPress/gutenberg/pull/31118#issuecomment-832545921) to have units, do we need to revisit something design-wise? I'm not sure if we have a control with `+/-` symbols and the `unit` select..

[2021-10-04 13:30] carolinan commented on #35306
Hi!
I believe that one of the purposes of the theme.json setting file is to mitigate this issue.
I mean that that is how theme authors are registering their presets and also disable the editor controls. Did you explore and try theme.json?
You did not include any background information, so I don't know what you have already tried.

[2021-10-04 13:39] #34381 closed, assigned to ntsekouras

[2021-10-04 13:43] mtias commented on #31117
Closing as #31623 got merged. There are still a few lingering aspects that didn't get consensus yet. We can revisit those in time.

[2021-10-04 13:43] #31117 closed, assigned to creativecoder

[2021-10-04 14:27] scruffian commented on #35323
The issue in this case is that the block is inheriting margins from the theme's paragraph CSS, not from Gutenberg's. I could modify my theme CSS to include a `:not(.wp-block-site-tagline)` but I think it would be useful for themers generally to be able to control these margins.

[2021-10-04 14:46] rubengc commented on #35107
Hi @Mamaduka any news about this?

This issue seems extremely strange and I just did a test to rollback to WordPress 5.7.9 where this control works perfectly, seems that issue was introduced in version 5.8 and above

[2021-10-04 15:18] oandregal commented on #34574
:wave: The existing settings affect the UI panels of the block sidebar & the global sidebar. This is, if you do `settings.color.custom: false` the user should not be able to add custom colors in an UI panel (whether block or global). See the [docs](https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-json/#settings) for the full set of settings available at the moment.

If I und

[2021-10-04 15:21] cbirdsong commented on #35306
I have played around with it a bit using the Blockbase theme. As best I can tell there's no way to define a range of spacing sizes and get rid of the custom option completely like you can with font sizing? Something like this is what I have in mind:

![stock local_wp-admin_post php_post=2 action=edit](https://user-images.githubusercontent.com/1672206/135878378-181a6aa5-0905-4e29-a04c-b76af9259783.

[2021-10-04 15:49] juanmaguitar commented on #33948
The "Delete" Blocks shortcut (CTRL + OPTION + Z ) is not working for me either in the P2 editor

My keyboard details
- Spanish ISO (QWERTY) layout
- Using a [Magic Keyboard - Spanish](https://www.apple.com/shop/product/MK2A3E/A/magic-keyboard-spanish) but that combination of keys doesn’t work on the keyboard integrated in the laptop either

<img width="649" alt="Screenshot 2021-10-04 at 17 34 40"

[2021-10-04 15:54] thomasplevy commented on #34797
Thanks all, I'll submit my PR later today!

[2021-10-04 17:05] draganescu opened #35328 "Legacy widget: reorder the widgets alphabetically"
Copied from Core-54105

### Problem

Right now the legacy widgets are displayed in some order which makes the list look quite random (see attached screenshot).

### Solution

Sorting them alphabetically should help the users find the widget they want faster.

### Screenshot

![Markup 2021-09-10 at 08 51 55](https://user-images.githubusercontent.com/107534/135893712-869ba142-0de7-42da-8f85-ef1bd2d0

[2021-10-04 17:24] gwwar commented on #23908
I wasn't able to reproduce this in trunk for FF, Chrome or Safari. @ntsekouras how about we close this one for now?

<img width="278" alt="CleanShot 2021-10-04 at 10 23 34@2x" src="https://user-images.githubusercontent.com/1270189/135896203-1c385f7e-94d0-4827-9e87-1db6093a31db.png">

[2021-10-04 17:30] #23908 closed

[2021-10-04 18:23] ntsekouras commented on #35322
Thanks for reporting Carolina and for the excellent description/reproduction steps! I used your description as is for the PR 😄

[2021-10-04 19:10] marcingminski commented on #22104
Hi, I came here from Google as I have the same issue when trying to Embed a link from another WordPress blog (that I also own):

`{"code":"rest_forbidden","message":"Sorry, you are not allowed to make proxied oEmbed requests.","data":{"status":401}}`

Embedding YouTube works fine though.
I am looking for a guide on what to look for because I don't even know where to start

Thanks!

[2021-10-04 19:32] skorasaurus opened #35330 "get_theme_support('align-wide') does not detect wide layout support when support is declared in theme.json"
I am using block-unit-test; which conditionally outputs blocks on a page based on whether [get_theme_support( 'align-wide' )  is true; ](https://github.com/godaddy-wordpress/block-unit-test/blob/master/class-block-unit-test.php#L601)

I am declaring support for full and wide blocks by defining settings.layout.contentSize and wideSize in theme.json instead of  adding `add_theme_support( ‘align-wide

[2021-10-04 20:07] annezazu commented on #35251
I can replicate this with WordPress 5.8.1 and Gutenberg 11.6. In this case, I made the "Pattern Skate Park" post a sticky post and set the query loop block to show 3 items + include sticky posts:

Front end view:
<img width="1268" alt="Screen Shot 2021-10-04 at 4 06 24 PM" src="https://user-images.githubusercontent.com/26996883/135917221-d89c3655-6608-488d-b8fe-6c0507ae4bfa.png">

Editor view:
<im

[2021-10-04 20:14] ajlende opened #35331 "Duotone filter not rendering in some places"
## Description

When applying duotone as a block style in theme.json, there are still a couple places the duotone filter doesn't get applied.

See https://github.com/WordPress/gutenberg/pull/34667#issuecomment-930287643

The thumbnail for block patterns that use duotone won't show the filter applied:
<img width="326" alt="Screenshot 2021-09-29 at 17 22 27" src="https://user-images.githubuserconten

[2021-10-04 20:31] ajlende commented on #35331
The SVG containing the filter is generated during the [`admin_footer`](https://github.com/WordPress/gutenberg/blob/f45dce14bcb03b46783a826067547aeb698f2fc5/lib/block-supports/duotone.php#L326) hook which, I think, is causing the issue.

The assets for the site editor are generated during the [`admin_footer-toplevel_page_gutenberg-edit-site`](https://github.com/WordPress/gutenberg/blob/f45dce14bcb0

[2021-10-04 22:40] spacedmonkey commented on #35328
Are you sure that this was fixed in [#53303](https://core.trac.wordpress.org/ticket/53303) and https://github.com/WordPress/wordpress-develop/commit/6194de49dcd79c9aeae7bd96722d69f752076f6f?

[2021-10-05 00:32] millab commented on #34825
I see this as an issue that should not rely on a per-user last-used preference. The problem I see is that I need to know that every user's experience is the same once I've created a template or page for them to update.

In my use case, I have a 5x5 table with approximately 20 PDF files linked. At the moment, every time a user updates a PDF in the table it changes that formatted link to an embed, w

[2021-10-05 02:01] #10730 closed

[2021-10-05 02:38] talldan commented on #35316
Seems like it should work, except I don't understand what is happening with this bit:
[code]

Is it needed? I think your component should know what the id is via the prop rather than setting it itself. This might be where it's going wrong.

`useEntityId` will also only work within an `EntityProvider` (you'd need a parent component implementing this so that the hook can access the react context).

[2021-10-05 02:38] #35316 closed, assigned to nobody

[2021-10-05 02:39] Collieth commented on #34352
@mtias I like "Synced Blocks" too. However, if the discussion continues, here are a few more suggestions for the "Reusable Blocks":

- Cloned Blocks/Clonable Blocks
- Replicator Blocks
- Reproduced/Reproducable Blocks
- Wormhole Block

If none of those options work, let me know.

[2021-10-05 03:43] talldan commented on #30007
Is there a need to use context if there's no parent block in the navigation editor?

I experimented with this when I made this comment - https://github.com/WordPress/gutenberg/pull/34496#issuecomment-911623003. Here's the branch, though it's quite outdated now:
https://github.com/WordPress/gutenberg/compare/experiment/keep-nav-link-but-drop-nav-block?expand=1

It's reasonably small JS change. but

[2021-10-05 04:13] carolinan commented on #34648
Related to this is that the site title block in the navigation block has a link color option, but the option doesn't work.

[2021-10-05 04:18] tellthemachines commented on #30007
This would be a great excuse to remove block styles entirely and style the editor independently, as discussed as an alternative to #35149 😁

If we store nav block contents as custom post types, can't we still use and modify those contents? I thought the whole idea of a CPT was being able to decouple the wrapper from its innards.

[2021-10-05 04:19] jd-alexander opened #35335 "Embed block: Undo & redo operations do not work as expected."
### Description

When you add an Embed block and you press undo or redo the behavior is not similar to that of other blocks. The Embed block is not removed when undo is pressed. Instead, the preview flickers. This issue also impacts the mobile component as well.

### Step-by-step reproduction instructions

1. Add an Embed block.
2. Add an URL.
3. Wait until the preview loads.
4. Press undo several

[2021-10-05 04:20] carolinan commented on #35331
Did you try without using a preset var?

[2021-10-05 04:23] kevin940726 commented on #35269
I see! So the problem is in that specific test suite? Maybe it's worth to fix it in that test only then?

[2021-10-05 04:26] carolinan commented on #27593
Related to link color settings missing or not working: https://github.com/WordPress/gutenberg/issues/34648

[2021-10-05 05:11] fwazeter commented on #32649
Unable to reproduce.

[2021-10-05 05:11] #32649 closed, assigned to nobody

[2021-10-05 05:27] talldan commented on #30007
We still lose the navigation block's implicit system and have to reimplement it. The same would be true of the the direct insert / default block logic that was just added.

Not an argument against the idea, just pointing out the trade-offs.

[2021-10-05 06:27] carolinan opened #35336 "Query pagination shows even when there are no valid posts"
### Description

If a WordPress install:
1) Has no sticky posts, and the query loop block setting for sticky posts is set to only,
2) Has only sticky posts, and the query loop block setting for sticky posts is set to exclude
then the query pagination shows even though there are no valid posts.

Should there be a placeholder for the pagination block in the editor that explains that there are no pos

[2021-10-05 06:28] jasmussen commented on #35298
Definitely validm but given how very fleetingly temporary the chip is meant to be, it's probably not the highest priority, but as all things, open to PRs.

[2021-10-05 06:36] carolinan commented on #35306
No, but you could disable the control and have block styles and it would work similarly.

[2021-10-05 07:23] #34409 closed, assigned to Mamaduka

[2021-10-05 07:23] #34631 closed, assigned to Mamaduka

[2021-10-05 07:23] #35128 closed, assigned to Mamaduka

[2021-10-05 07:55] carolinan commented on #35251
This replicates the existing behavior for a [standard PHP query loop](https://developer.wordpress.org/reference/classes/wp_query/#post-page-parameters/) without using blocks.

If you go to the WordPress admin area and open Settings > Reading and select "Blog pages show at most 3 posts", then a standard loop will show 3 posts and the sticky posts.
It is working as intended but it could be described

[2021-10-05 08:06] gziolo commented on #34822
Initially `npm init @wordpress/block` was the promoted command, but it has some limitations so we landed on using `npx` in all places. @mkaz, should we add a section about `npx` in JS tutorial and only link in `@wordpress/create-block`?

[2021-10-05 08:15] #35291 closed, assigned to ciampo

[2021-10-05 08:17] ntsekouras commented on #35251
That's correct and you can set `Sticky posts` to `exclude` for your use case and your `Query Loop` that is intended for simple posts will be shown as expected.

I guess this is something we could improve - the `Sticky posts` setting description..

[2021-10-05 08:22] NicoHood commented on #35251
I dont understand your comment. I do not want to exclude sticky posts. I want to include them, but have at maximum 3 posts -  a common usecase. There is no scenario I can think of where it would make sense to add an (unknown) number of sticky posts to the list. That would disrupt all kind of layouts.

[2021-10-05 08:59] Mamaduka opened #35341 "Align "None" is available for blocks when they have no other alignment options"
### Description

It might be an edge case, so feel free to ignore this 😄 .

Align option "None" is available for a group block while other options are missing. I think if the only alignment option is "None," we shouldn't display alignment controls.

 I discovered it while trying to debug #34010.

cc @ntsekouras

### Step-by-step reproduction instructions

1. Install and activate the "Blockbase" th

[2021-10-05 09:06] carolinan commented on #35251
If you want to show 2 standard posts and have one sticky post, set the number of posts to two. This will show 3 posts.
If you have more than one sticky posts, then you need to change the number again.

[2021-10-05 09:25] gziolo commented on #35282
It looks like the most recent publishing to npm happened a month ago. We should perform another release as soon as Gutenberg 11.7 RC 1 is out (it should happen tomorrow). The npm publishing flow is constantly evolving. I have recently come to the conclusion that the best approach is to publish to npm as soon as the new RC for the Gutenberg plugin is ready as it helps with testing of the new npm re

[2021-10-05 09:28] gziolo commented on #35223
So you are proposing that all block types that have a parent or multiple parents explicitly defined should never be set as reusable blocks. I tend to agree with that. @WordPress/gutenberg-core, what do you think?

[2021-10-05 09:30] mirka commented on #35282
Sounds good, thanks!

[2021-10-05 09:41] ellatrix commented on #35086
Could you describe step by step what you're tying, what you're getting, and what you're expecting? You don't get the desired character after pressing space?

I tried on Mac and Chrome, Alt+´ works well.

[2021-10-05 09:45] mtias commented on #35223
I'm inclined to agree.

[2021-10-05 09:47] fabiankaegy commented on #35223
@gziolo I would love it to not be as strict. I think that it would be a great default and I cannot currently see any examples where you would want it. But that doesn't mean there isn't one.

So if we can make it work in a way where the developer could still set reusable to true explicitly to override the default value I think that would be the most flexible solution.

[2021-10-05 09:52] Flameeyes commented on #35086
Prerequisite: this is a report for **Windows** with the **US International** keyboard layout. Not Mac, not Android.

Using the US International layout, pressing a number of diacritical marks **by themselves** (no Alt, no Option, no Ctrl, no Compose) causes them to be interpreted as dead keys. That's true for \`, `'` ,`"`, `~`, `^`.

Typing one of them following by a compatible letters should repla

[2021-10-05 10:14] Mamaduka commented on #29864
I am super excited about this feature.

@senadir, let me know if you need help with any remaining items.

[2021-10-05 10:19] aristath commented on #35223
Seems like a good idea... but being able to override the default would be great and there would be no downsides to doing it.
There are some cases where I can imagine it would make perfect sense to have a child as a reusable block

[2021-10-05 10:20] jasmussen opened #35345 "Cover: Ability to drag to innerblocks broke"
#29813 added the ability to drag and drop an image onto the edge of the Cover block to set just the background, or drag it in the innerblocks area inside to add as an image block inside. This behavior appears to have broken, so it's only possible to set the background:

![trunk](https://user-images.githubusercontent.com/1204802/136003712-69761ef4-8d37-4a7b-8b72-d3d9a666a32d.gif)

As part of #33132

[2021-10-05 10:24] javierarce commented on #35093
I like your design, @jasmussen, but there's something I'm starting to get worried about with the increased use of segmented controls: if we end up adding more items, we'll probably need to switch to a dropdown since segmented controls won't scale equally well in every language.

Maybe it's just me optimizing prematurely and we won't have more than two or three options in that flyout, but I'd consi

[2021-10-05 10:24] #34989 closed, assigned to carolinan

[2021-10-05 10:31] jasmussen commented on #35093
There are definitely cases where the segmented control won't work, good call. I do think that might be a bridge we need to cross when we get there. At the moment, "Linear" and "Radial" are both properties of the gradient control itself, which would make "Image" fit if that ends up being an addition.

[2021-10-05 10:31] ciampo commented on #35093
I believe a similar pattern is being explored for Typography Tools (#34345), where we switch between a segmented control and a dropdown for the Font sizes (depending on the number of items to display)

[2021-10-05 10:35] adamziel commented on #30007
Hm maybe we're diverging into another direction here. Using contexts to configure the navigation * blocks is one idea, and removing the root navigation block in some contexts is another. Wrapper or not, the inner blocks still need that configuration bits. I'll start a PR to explore that a bit.

[2021-10-05 10:43] senadir commented on #29864
@Mamaduka feel free to pick up from the list as I'm struggling to prioritize GB contributions outside my core job and might take some time before I fully work on them.

[2021-10-05 10:44] Mamaduka commented on #35128
I just merged a fix for this issue, and it should be available in Gutenberg 11.7.

[2021-10-05 10:44] porg opened #35346 "Insert Media dialog gets controls for: Thumbnail display squared/proportional + Sort order by date/name asc/desc"
# Reproduction
- Edit a page
- Insert an image gallery
- The "Create gallery" (aka insert media) popup opens.

# The user experience in this dialog is problematic
<img width="1439" alt="Wordpress Gutenberg Insert Media Dialogue" src="https://user-images.githubusercontent.com/737143/136006147-246acd0e-74e5-4e93-8214-3e45d33de3d5.png">

# Problems
- This dialog follows the Wordpress design philosoph

[2021-10-05 10:45] Mamaduka commented on #34631
I just merged a fix for this issue, and it should be available in Gutenberg 11.7.

[2021-10-05 10:48] gziolo commented on #35223
I bet we don't check the context when inserting a reusable block so that's a related area that needs further improvements. To ensure that the reusable block can be inserted only in the place where the outer block would be. To give an example, if the Button block has parent set as the Buttons block and you make Button reusable, then you should be able to insert it only inside the Buttons block.

[2021-10-05 11:43] carolinan commented on #12176
I am not able to reproduce this issue, I will close it as fixed. Please comment and ask for it to be reopened if you encounter the problem again.

[2021-10-05 11:43] #12176 closed

[2021-10-05 12:02] kjellr commented on #22956
Does someone have a little time to pick this up again? Now that we use custom units for just about all other spacing tools, it seems really weird to disallow them for the spacer block.

[2021-10-05 12:14] jacobcassidy opened #35349 "Navigation block HTML anchor doesn't add an id attribute to HTML"
### Description

When adding and saving an "HTML anchor" in the Navigation block Advanced menu, no HTML id attribute is created for the nav element (adding class(es) works, however).

### Step-by-step reproduction instructions

1. Add a navigation block
2. Select the block settings for the navigation container
3. Open the Advanced dropdown menu in the block settings
4. Add an "HTML anchor" in the

[2021-10-05 12:35] kjellr opened #35350 "Block Themes: Default body margin is removed in the Site Editor, but not in the front end."
### Description

The default `body` margin appears to be removed in the editor, but not in the front end. Since full-width items go full-width in the editor, I'd expect that is the correct behavior.

cc @youknowriad since I think you've looked into this situation before.

Editor|Front End
---|---
<img width="579" alt="Screen Shot 2021-10-05 at 8 20 33 AM" src="https://user-images.githubusercontent

[2021-10-05 12:51] cbirdsong commented on #35306
Yeah, that is least bad option available and what I’ve gone with. However, that leaves the user without _any_ control over the amount of padding[^1] and there are obviously situations where you might want to allow that. The two options the editor provides right now are “no control” and “do whatever” and neither are a very good fit for producing high-quality websites.

<details>
<summary>A sampling

[2021-10-05 12:56] github-actions[bot] opened #35352 "[Flaky Test] Should prompt if changes and save is in-flight"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
Should prompt if changes and save is in-flight

## Test path
`specs/editor/various/change-detection.test.js`

## Errors

<time datetime="2021-10-05T12:56:37.716Z"><code>[2021-10-05T12:56:37.716Z]</code></time> Test passed after 1 failed attempt on <a href="https://github.com

[2021-10-05 12:59] #35134 closed, assigned to carolinan

[2021-10-05 13:07] adamziel commented on #30007
Here's a proof of concept – I'm interested in all your thoughts: https://github.com/WordPress/gutenberg/pull/35351

[2021-10-05 13:11] kjellr opened #35353 "First children that have a custom link color assigned have unnecessary top blockGap margin"
### Description

As noted in https://github.com/WordPress/gutenberg/issues/34441, the current `blockGap` rules specify a top margin for blocks that appear after the first element. it is not intended to apply to first children.

This breaks when the first child has a custom link color assigned. When that's the case, Gutenberg provides some inline styles that precede the block. The browser seems to

[2021-10-05 13:18] carolinan opened #35354 "Warn if there is more than one main HTML element, or if the main is missing"
## What problem does this address?

A few blocks have an option to change the HTML element to `<main>`, but there must only be one main element on a page.
Having more than one `<main>` element (that is not hidden) is invalid HTML and an accessibility issue.

## What is your proposed solution?

Add a warning if there is more than one main element -perhaps in the <del>document outline</del> "table o

[2021-10-05 13:21] Sandstromer opened #35355 "Group block - no way to transform to "Row" and vice-versa"
### Description

With the new row variation on the group block, there does not appear to be any way to transform a standard group block to row (flex layout), or the other way around from row to group.

Implementing this would be a huge time saver, as currently if you have say a group with the default layout, the only way to transform it to the flex layout (row variation) is to add a new "Row" grou

[2021-10-05 13:30] carolinan commented on #35349
I believe this is a duplicate of https://github.com/WordPress/gutenberg/issues/29401

[2021-10-05 13:36] carolinan commented on #35224
I would prefer if there was a default like in the WordPress admin area where `(no title)` is displayed.
If this is implemented as suggested, it must respect existing filters, I am using this filter to add a title when the user has not entered one.

[code]
If the user does not want the title, they can also remove the block.

[2021-10-05 13:36] jacobcassidy commented on #35349
@carolinan, you are correct. I searched the "Navigation block" under projects and it didn't turn up in that list.

[2021-10-05 13:36] #35349 closed, assigned to nobody

[2021-10-05 13:42] scruffian commented on #35224
I'm not sure I agree. Removing the block means going into the Site Editor, which feels like a more advanced use case, but I can imagine a lot of users not wanting titles on their pages.

[2021-10-05 13:58] MaggieCabrera commented on #35224
I think both options are valid:

- wanting a placeholder if no title is added
- wanting the title to show for the posts that have it and no div to show at all (no margin/padding applied) for the ones that don't have it

Ideally, we could have option 2 and still have the filter that Carolina mentions still work. Maybe that title filter would need to apply markup if we are removing it from the block

[2021-10-05 14:09] dcalhoun opened #35357 "Embedding mobile Twitter URLs results in embed failure"
## Description
When embedding a Twitter URL in the block editor, a preview is not successfully rendered if the URL used is a _mobile variant_, i.e. https://mobile.twitter.com. A variant of this unexpected behavior happens in both the native mobile and web editors.

## Step-by-step reproduction instructions
1. Open the block inserter.
2. Insert a Twitter Embed block.
3. Paste a _mobile_ Twitter URL

[2021-10-05 14:09] mrwweb commented on #34717
Thinking about this more the other day, an alternative might be a dynamically calculated class for `.has-dark-background` or `.has-light-background` that is calculated based on the selected background color. This would fit in nicely with the existing `.has-background` class.

That way a theme could add just two new rulesets and have pretty darn good defaults:

[code]

[2021-10-05 14:16] javierarce commented on #34345
@ntsekouras:

Is there an expectation to be able to reset every control or just the font size one?

I think something like the following solution could work for components that span the entire column (in this example, 24 is the default value)

![image](https://user-images.githubusercontent.com/4933/136037753-774eac14-83eb-4c59-90c0-bcfdf5e8fd26.png)

[2021-10-05 14:23] mtias commented on #34345
The resetting comes from the tools panel and allows resetting each item. You can see it in this video:

https://github.com/WordPress/gutenberg/pull/33744

[2021-10-05 14:37] leeshadle commented on #33212
@richtabor @ndiego @exstheme there is some chatter around this issue:
https://github.com/WordPress/gutenberg/pull/32510#pullrequestreview-771291764

[2021-10-05 14:52] javierarce commented on #34345
Oh, thanks, that makes sense… showing reset buttons for several components would make panels look very busy.

[2021-10-05 14:52] skorasaurus commented on #35330
This is currently being worked on at https://github.com/WordPress/gutenberg/pull/34843

[2021-10-05 15:38] skorasaurus commented on #11638
Closing this [since IE is no longer supported](https://wordpress.org/news/2021/05/dropping-support-for-internet-explorer-11/); please reopen and comment if you're able to reproduce this.

[2021-10-05 15:38] #11638 closed

[2021-10-05 15:52] WunderBart commented on #35269
It actually applies basically to every test because we call `setupBrowser()` which clears the LS in the global `afterEach` hook. I think the delay comes from the fact that Gutenberg needs to fully initialize from scratch on each `it()` call. It makes sense from the determinism perspective, but I'm wondering if there's a reliable scenario in which we don't need to clear LS for each and every test.

[2021-10-05 16:44] fluiddot commented on #35357
I think this is caused because the `oembed` endpoint doesn't include the word `mobile` in the regex patterns for Twitter URLs (example: `#https?://(www\.)?twitter\.com/`):

**Regex patterns for Twitter URLs:**
https://github.com/WordPress/wordpress-develop/blob/f2d146d3f1ebd5661af2efd3099b0c988df538c8/src/wp-includes/class-wp-oembed.php#L67-L72

[2021-10-05 17:53] colorful-tones opened #35362 "DateTimePicker component - old documentation"
### Description

I'm trying to work with the DateTimePicker component and finding some outdated documentation.

It looks like we added support for the `isDayHighlighted` callback in [PR #22032](https://github.com/WordPress/gutenberg/pull/22032), but then recently removed it in [PR #29716](https://github.com/WordPress/gutenberg/pull/29716). However, the [README](https://github.com/WordPress/gutenbe

[2021-10-05 18:00] kjellr opened #35364 "Allow themes to surface specific patterns from the Patterns Directory"
With the launch of the pattern directory (and the upcoming ability for folks to submit their own patterns to it), we should consider building a route through which themes can highlight specific patterns to their users.

Traditionally, themes have bundled their own proprietary patterns directly via PHP, and tend to highlight them in a category named after the theme:

<img width="350" alt="Screen Sh

[2021-10-05 18:22] annezazu opened #35365 "Post Content block on index pages / loops should only show up to any “more” divider"
### Description

In chatting with @helen after her recent wonderful stream of converting her site to use a block theme, she shared the following:

Props to her for flagging this :) cc @ntsekouras (for query loop block insights) and @swissspidy (for REST API insights).

### Step-by-step reproduction instructions

1. Use a site with the latest version of Gutenberg + WordPress and a block theme.
2. O

[2021-10-05 18:28] gwwar commented on #35271
So looking at the endpoint code, I think it's reasonable to enforce a url/title for a custom link, say (we're linking directly to WordPress.org). I think the problem we're running into here, is that **we also assign the "custom" type for empty  placeholder links** that we haven't decided to pick anything for yet. (Kind/Type isn't specified yet either). This is exacerbated by recent behavior change

[2021-10-05 18:29] roundhill opened #35366 "Gallery error message when dragging single video file into editor"
### Description

When uploading a video .mp4 file by dragging it into the editor, this error message appears:

<img width="1077" alt="Screen Shot 2021-10-05 at 11 34 42 AM" src="https://user-images.githubusercontent.com/789137/136081382-61e8a984-1ab4-4686-b1cd-3ac8ee58fa87.png">

### Step-by-step reproduction instructions

1. Find a video file on your machine to upload to a post.
2. Drag and drop

[2021-10-05 18:35] priethor commented on #34881
Apologies for the time it took to get the stats. This is the distribution of plugin installations by version, updated on October 4th, a few days after the 11.6 release:
![image](https://user-images.githubusercontent.com/27339341/136082442-5c844428-361a-4a19-b4c9-89b9be613af8.png)

[2021-10-05 18:41] annezazu commented on #31954
Just wanted to follow up to note that there was consensus from the folks who participated in the block theme switching exploration around wanting to be able to keep custom templates while switching themes. You can read more specific feedback here but this continues to be advocated for: https://make.wordpress.org/test/2021/10/05/fse-program-block-theme-switching-summary/

[2021-10-05 18:43] dcalhoun opened #35367 "Modifying sibling block alignment causes temporary Cover block misalignment in Safari"
### Description

When modifying the alignment of a sibling block of a Cover block, the Cover block will temporarily display misaligned in macOS Safari. Selecting the Cover block causes the alignment to update to the correct position.

### Step-by-step reproduction instructions

1. Create a post in the block editor using macOS Safari.
2. Add an Image block.
3. Add a Cover block _after_ the Image bl

[2021-10-05 19:00] swissspidy commented on #35365
Thanks for the ping but I recommend asking some REST API component maintainers to get more insights

/cc @TimothyBJacobs @spacedmonkey

[2021-10-05 19:21] NicoHood commented on #35251
That is super wonky! Why would somebody do that?

I want to show 3 Posts on my main site. Not 4, not 2. No Matter if they are featured or not. If there are multiple featured, then there are no "normal" posts and vice versa. Every other solution would break the layout, I dont see why people would want to break their layout? And even if that solution is desired, how can I limit the sticky posts? The

[2021-10-05 19:46] colorful-tones opened #35370 "DateTimePicker component - inconsistent activeElement with month navigation"
### Description

If I open the [DateTimePicker](https://github.com/WordPress/gutenberg/tree/trunk/packages/components/src/date-time) that is associated with a Post's Publish Time/Date, and either go forward or backward in months, and then try to click on the Gutenberg Sidebar area then I would expect that the date picker would lose focus and close. However, it does not and stays open.

If I do the

[2021-10-05 20:17] htmgarcia commented on #14623
Another option if PHP is running along with JS is `register_rest_field()` in combination with `get_the_post_thumbnail_caption()`

[2021-10-05 20:19] jq-87 commented on #11211
Yes issue still exists.

I'm on 5.8.1 trying to get my site off of the Classic Editor. P tags in my posts are gone.

[2021-10-05 20:58] skorasaurus commented on #22103
I believe this is controlled through https://github.com/WordPress/gutenberg/blob/14d80aa66819682118a73f3cb40485806b9b8c44/packages/components/src/input-control/input-base.tsx

It's applicable to all blocks that use the input-control component.

[2021-10-05 22:26] amandablum commented on #28860
another vote for this function.

[2021-10-05 23:30] #34526 closed, assigned to ramonjd

[2021-10-05 23:33] mkaz commented on #34822
I suppose it's fine, I would not add it to the Quick Start section, but a short sentence in the other section.

To a certain degree I have an expectation that if people want more information they can Google it. The docs do mention right before requiring a node environment installed, so to me that connects the command as part of Node, but probably better to be explicit.

I'm never sure if giving mo

[2021-10-06 00:34] github-actions[bot] opened #35373 "[Flaky Test] should add blocks"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should add blocks

## Test path
`/test/e2e/specs/widgets/customizing-widgets.spec.js`

## Errors

<time datetime="2021-10-06T00:34:13.564Z"><code>[2021-10-06T00:34:13.564Z]</code></time> Test passed after 1 failed attempt on <a href="https://github.com/WordPress/gutenberg/ac

[2021-10-06 01:44] ramonjd opened #35376 "Post Content: Layout styles not applied in editor (e.g. Social Icons, Buttons, etc.)"
### Description

The Social Icons Block doesn't receive the appropriate layout styles in the Post Content Block/Site Editor.

In the Block Editor, things look great.

By default the Social Icons block container has the following layout block support styles in the Block Editor:

[code]

Since https://github.com/WordPress/gutenberg/pull/32083 we're rendering these styles via [wp_footer in lib/block-

[2021-10-06 02:09] #29989 closed, assigned to nobody

[2021-10-06 02:33] talldan opened #35377 "Add end to end tests for post locking"
## What problem does this address?
When reviewing #35361, I noticed there are no end to end tests for post locking.

## What is your proposed solution?
It would be great to add end to end tests to cover this functionality. To lock a post in a e2e test it should be a simple matter of running `await page.evaluate( () => wp.data.dispatch( 'core/editor' ).lockPostSaving( 'futurelock' ) );`.

The two t

[2021-10-06 02:40] #34864 closed, assigned to Sidsector9

[2021-10-06 03:42] TimothyBJacobs commented on #35365
So the REST API exposes the fully rendered form of the post content according to `the_content`. Checking on that example post, that includes the `` delimiter.

I think this is a client issue where it isn't respecting that delimiter.

That being said, we could theoretically expose the value of `get_extended` in the REST API which would contain the "parsed" form of the more delimiter. This, though,

[2021-10-06 03:43] TimothyBJacobs commented on #34443
I think probably a separate issue for that @spacedmonkey.

[2021-10-06 04:39] #35278 closed, assigned to kevin940726

[2021-10-06 04:42] edwinho89 commented on #31446
+1 to this. Was comparing with Blog Post Block which had the `load more` button, so perhaps an option to select either one of them?

[2021-10-06 04:44] mirka opened #35381 "ToggleGroupControlOption: aria-label cannot be overwritten"
### Description

It would be better if we could override the aria-label when the visual label is non-ideal for screen readers:

https://github.com/WordPress/gutenberg/blob/d4794d6364c496f82c937e7816c24bb89c8d6da1/packages/components/src/toggle-group-control/toggle-group-control-button.tsx#L45-L48

The aria-label currently defaults to the visual label, which is possibly also redundant because the s

[2021-10-06 04:52] mirka opened #35382 "ToggleGroupControl: Missing border when initial `value` is undefined"
### Description

When the initial value of a `ToggleGroupControl` is undefined, there is a missing border after the first item.

### Step-by-step reproduction instructions

[code]

### Screenshots, screen recording, code snippet

<img src="https://user-images.githubusercontent.com/555336/136142065-73d770c0-42e8-4727-8bc4-b86d73c1f464.png" alt="ToggleGroupControl with missing border after first ite

[2021-10-06 05:01] ramonjd commented on #34529
I'm also noting down some observations with no particular claim to expertise in this area 😄

I don't know if this is even possible, but would it be too complex to use the existing variable `--wp--style--block-gap` but use and check for split shorthand values?

It's possible to set `blockGap` shorthand values in `theme.json`, e.g.,

[code]

Which renders `--wp--style--block-gap: 24px 24px;`.

Could

[2021-10-06 05:31] mirka opened #35383 "ToggleGroupControl: Visual state of an undefined value is inconsistent"
### Description

The visual state of an initial undefined `value` is different from when the value is set _back_ to undefined after being set to a defined value.

### Step-by-step reproduction instructions

1. Render a `ToggleGroupControl` with `value` initially undefined.
2. Render a `button` with an `onClick` to set the `value` to undefined.
3. Click on one of the toggle group options, then clic

[2021-10-06 05:51] KokkieH opened #35384 "Classic block Spotify embeds styled differently from Spotify block"
### Description

Spotify embeds are displaying differently on a site when added via the Classic block/editor, vs added in the Spotify block. It appears that this started happening some time after 17 September (on the blog of the person reporting this, a post published on 17 September using the Classic block still shows the embed using the same style as the Spotify block. The next post published 22

[2021-10-06 06:09] carolinan commented on #35251
There has been discussions about this in the past, and I tried to find the old tickets, here is the most recent one:
https://core.trac.wordpress.org/ticket/50989

Either way, it is not a problem with the block, (even if the UI is not great), but with WordPress core.

[2021-10-06 06:26] sRahul-00 commented on #35383
Hey there, can I work on this issue?

[2021-10-06 06:32] jinlarse opened #35386 "Gallery is not working"
### Description

Wordpress 5.8.1 the gallery will not work, its only open a single picture and no opportunities to browse further in the gallery

seean example where the gallery is not working: https://www.dagsturhelgeland.no/kvalvika/

### Step-by-step reproduction instructions

open the url
scroll down to where the gallery is in the page
click on a picture
the picture is open in the browser inst

[2021-10-06 06:43] NicoHood commented on #35251
Thanks for sharing! I've added a comment there. Hope to see a solution...

[2021-10-06 06:47] mirka commented on #35383
@sRahul-00 Sure thing, thank you!

I'll add that I probably think the correct visual state for undefined should be the initial, white one, instead of the black with grayed out text. Would you agree?

[2021-10-06 06:53] sRahul-00 commented on #35383
Yeah man!! Totally agreed...

[2021-10-06 06:54] github-actions[bot] opened #35387 "[Flaky Test] should open a preview window for a new post"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should open a preview window for a new post

## Test path
`/test/e2e/specs/editor/various/preview.spec.js`

## Errors

<time datetime="2021-10-06T06:54:30.977Z"><code>[2021-10-06T06:54:30.977Z]</code></time> Test passed after 1 failed attempt on <a href="https://github.com/W

[2021-10-06 06:56] mirka commented on #34345
@pablohoneyhoney Are there public Figma links for these mockups, by the way? I see that the [components](https://www.figma.com/file/e4tLacmlPuZV47l7901FEs/WordPress-Design-Library?node-id=5410%3A3723) are available, but I'm wondering if there's another mockup file I don't know about.

[2021-10-06 07:11] talldan commented on #35386
@jinlarse I don't think the gallery block in WordPress provides this feature.

I think you might have a plugin that previously did this and is now not working.

[2021-10-06 07:48] carolinan commented on #31957
Chrome and Firefox:
I am only able to reproduce this in a way that the profile/logout submenu is shown (because it shows on hover), it doesn't take me all the way to the user profile page.

In Opera, the submenu does not open when the navigation block is closed.

Should also test what happens on mobile (double tap?)

[2021-10-06 07:48] tomalec opened #35388 "Delete at the beginning of newly created quote deletes the quote, not the first charater."
### Description

I convert a paragraph of text (pasted markdown, or just any text) to a quote block, by adding `> ` at the beginning. Then once the block is converted, I continue expecting the block would behave as if it has been before, and I placed the caret at the beginning. So I press <kbd>del</kbd> I'd expect the first character after the caret to be removed.

Then unexpectedly the quote bloc

[2021-10-06 08:03] gmfunk9 commented on #6697
Client has been using "align center" on lists for many years now.
I'm attempting at remaking her site in a way she is used to using it

Adding text-align:center to my UL works perfectly, but it's not user-friendly in the Gutenberg editor

[2021-10-06 08:20] ntsekouras commented on #35365
Client side we want to display the rendered content in some cases like inside `Query Loop` and when a user has no `edit permissions`. We use the REST API for getting the rendered content, which is passed through many php filters and we wouldn't be able to properly match the final front end result. We face similar challenges  with other blocks [like PostExcerpt ](https://github.com/WordPress/gutenb

[2021-10-06 08:21] Sidsector9 commented on #35377
I would like to pick this up

[2021-10-06 08:50] carolinan commented on #30641
The styles for the template part are saved in the template that includes the template part.
Only the content inside the template part can be changed with the template part itself.

I wonder if we need to rethink template parts and remove all styling and layout options from them and only let them be a container for the content.

Related: https://github.com/WordPress/gutenberg/issues/30732

[2021-10-06 08:59] simison commented on #28564
@mtias would the _"Show title"_ toggle at Post tab be good intermediate solution until site-title block is used in post/page editor?

Something like this would still allow modify the title for `<title>` tag/SEO purposes even if it's not visible on the page canvas:

<img width="1180" alt="Screenshot 2021-10-06 at 11 57 02" src="https://user-images.githubusercontent.com/87168/136172171-6b98e4e6-f51f

[2021-10-06 09:08] carolinan commented on #35224
This block can be placed anywhere not only in a template.

[2021-10-06 09:13] talldan commented on #35377
Thanks @Sidsector9, feel free to ping me if you need any help along the way.

[2021-10-06 09:51] landwire opened #35390 "Possibility to override/extend core block's markup"
## What problem does this address?
Gives the possibility to build upon Gutenberg block development and to solve issues (Markup etc) in theme overrides.

## What is your proposed solution?
1. Create a templating system (which can be overridden) that renders the blocks html. Only pass data from the blocks to the template. Templating engine could be JS (handlebars etc.) or PHP (twig etc.). Overrides

[2021-10-06 10:38] scruffian commented on #35224
True, but it will be placed in most single and page templates in most themes.

[2021-10-06 10:50] #34146 closed, assigned to carolinan

[2021-10-06 10:56] Mamaduka commented on #29864
I'm starting to work on the remaining items for this feature.

One thing that isn't very clear for me is the definitions of "Locked (by user)" and "Locked (by the system)." I want to get this right so that I can iterate faster.

Below is my attempt to formalize these definitions:

* "Locked (by the system)" - when `lock` attribute values are set to `true` on a block level.
* "Locked (by user)" - w

[2021-10-06 11:00] carolinan opened #35393 "Feature request: Font size setting for submenu items"
## What problem does this address?

I would like to be able to use a different (smaller) font size for submenu items than for parent menu items.

## What is your proposed solution?

This is tricky because I don't necessarily think that adding a control for each submenu _item_ is a good idea, it could become overwhelming. 🤔

[2021-10-06 11:04] github-actions[bot] opened #35394 "[Flaky Test] should load multiple block stylesheets in iframe"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should load multiple block stylesheets in iframe

## Test path
`specs/editor/plugins/iframed-multiple-block-stylesheets.test.js`

## Errors

<time datetime="2021-10-06T11:04:14.897Z"><code>[2021-10-06T11:04:14.897Z]</code></time> Test passed after 2 failed attempts on <a hre

[2021-10-06 11:28] TestPlan commented on #22801
We're having complaints from many users about this. They find it difficult to locate and click the block inserter.

It would be nice if there was an optional mode or setting to always have the inserter button be visible between every block, instead of relying on hover. Maybe the button can initially have a ~30% opacity, and on hover it goes to full opacity. I think that would help with discoverabi

[2021-10-06 11:37] senadir commented on #29864
I think we should first agree on something, do we want to enable user locking on all blocks (opt out) or should it be an opt in thing (an extra attribute/different value defined on the block instance or block type).

### Opt out
1. All blocks can be locked, via an option in toolbar maybe, that would set the block `lock.move` or `lock.remove` to true or false. This is user locking.
2. Locking on a

[2021-10-06 11:39] aristath commented on #35354
Note from the [MDN Docs](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/main):

It is possible to have more than one `main`, but only one that's not `hidden`. Right now I don't believe we add `hidden` anywhere, but any check we add _should_ take the `hidden` scenario into account. 👍

[2021-10-06 11:46] stevenlinx commented on #35366
Is it just me?

Isn't this the expected behavior?

The gallery block is only for images.
https://gogutenberg.com/blocks/gallery/

[2021-10-06 12:14] jasmussen commented on #35096
I've started work on a PR that's mostly a proof of concept in #35397. It's promising and the remaining todos are fixable, but I'd love to pair with someone on the remaining bits.

[2021-10-06 12:22] carolinan opened #35398 "Inherit query from template no longer works on the front"
### Description

With current Gutenberg trunk, I can not see any posts on the front on index and archive templates if the Query loop setting "Inherit query from template" is enabled.

_I suspect this was lack of testing of https://github.com/WordPress/gutenberg/pull/35329 on my part._

The posts show correctly in the editor.

### Step-by-step reproduction instructions

With reading settings set to

[2021-10-06 12:23] AliSoftware opened #35399 "Paragraph Block: Provide a way to add a placeholder via Visual Editor"
## What problem does this address?

Adding a Placeholder for a Paragraph Block can only be done via the Code Editor.

If you want to provide a placeholder for a paragraph (useful e.g. when writing a pattern), you currently need to switch your editor to Code Editor, in order to be able to edit the code like so:

[code]

I only discovered that useful placeholder feature by accident (editing another

[2021-10-06 12:31] mtias commented on #31387
Would it make sense for the mini-cart case to define `parent: 'core/navigation'`?

[2021-10-06 12:38] ntsekouras commented on #35398
Let's revert and investigate the `sticky` issue better.

[2021-10-06 12:40] #35398 closed, assigned to nobody

[2021-10-06 13:09] kevin940726 commented on #35269
Does initializing take that long in every test? Or are them only taking `1.3s` in that specific test suite? So the problem isn't with _clearing_ the LS but rather we want to keep the cache across test suites for performance reasons. Any clue what's being stored in the LS that the tests take that long to initialize from scratch? We can cache them somewhere in the file system for most tests if that

[2021-10-06 13:22] jasondilworth56 commented on #35306
It's well documented around the web that inline styles should very much be the exception rather than the rule when aiming at consistent design and layout. This would be a good step in that direction 👍

[2021-10-06 13:37] getdave commented on #16172
Following up here that this seems similar to the fix that when into https://github.com/WordPress/gutenberg/pull/33607 in `11.4.0`.

[2021-10-06 13:57] EightArmsWebmaster commented on #35252
I added this line to my `~/.zshrc` and it solved the issue.

    PATH=/bin:/usr/bin:/usr/local/bin:${PATH}
    export PATH

[2021-10-06 13:57] #35252 closed, assigned to nobody

[2021-10-06 14:00] audrasjb opened #35403 "The page-jumps HelpHub link is not translatable"
### Description

To help HelpHub page to be translated by Locales, we need to use proper i18n translations on these links so they can point the user to the translated location when possible.

I discovered that the page-jumps HelpHub link is not i18n-ready :)

<img width="271" alt="page-jumps-link" src="https://user-images.githubusercontent.com/1590998/136217561-f58b2d56-c755-47a6-804b-b59e9fa8b588

[2021-10-06 14:20] WunderBart commented on #35269
I've run all the block tests with and without clearing the LS, and in my testing, it added ~1.3s to every test.

[2021-10-06 14:22] Aljullu commented on #31387
I wasn't aware that this option would work, thanks! It seems to work with Gutenberg `trunk`, but for some reason I couldn't get it to work on the latest released version (11.6.0).

The only issue of this approach, is that it doesn't allow blocks to be added inside the navigation _and_ outside of it. Ie: a _Product Search_ block could be displayed as part of the navigation or as a widget in the sid

[2021-10-06 14:37] carolinan opened #35405 "Replacing a template part does not prompt saving the template"
### Description

Using header template parts as an example:
Picture that a block theme has two header template part files that are both registered to use the header template part area.
When the default header template part is selected in the site editor, it has a toolbar option called replace. When you select replace, you can switch the template part for another.

This replacement prompts saving t

[2021-10-06 14:48] getdave commented on #29102
## Update - 2021-10-06

* Discussion is still continuing on the best way to ensure interoperability and compatibility between Nav block and Nav Editor.
* Looks like there will be a Hallway Hangout on Wednesday 13th October (TBC). Agenda will be posted to Make Blog.
* @talldan posted [a nice summary of current state of things in Slack](https://wordpress.slack.com/archives/C01KDAZJMQ9/p1633512526250

[2021-10-06 14:54] pryley opened #35406 "Bug in ServerSideRender where the block disappears during render."
If you change a prop (block option) during the loading stage (while the spinner is showing), the entire content of the block disappears.

## Before

https://user-images.githubusercontent.com/134939/135711766-d85154f5-c9a2-4447-aabf-70fadc8235b4.mp4

## After

https://user-images.githubusercontent.com/134939/135711774-c450a095-bacb-44ea-91b5-9f37dbf609fd.mp4

_Originally posted by @pryley in https:

[2021-10-06 14:55] fabiankaegy commented on #35406
I am talking a look at this. It appears that it was introduced after the change to the preview mechanism in #28289 or #35033

[2021-10-06 14:57] getdave commented on #33288
[Related](https://wordpress.org/support/topic/placing-the-read-more-link-outside-the-excerpt-block/#post-14944094) - should we not have a separate block for this?

[2021-10-06 15:19] amustaque97 commented on #35382
I will be working on this issue. Will link a PR soon 😄

[2021-10-06 15:55] draganescu opened #35407 "Using the select all keyboard shortcut makes title uneditable"
### Description

When using the CMD+A shortcut twice with a post's title focused, I end up with all the blocks selected and the title deselected. That is unexpected, I expected to either have a selection that includes the title or not be able to select more than the title. But, even so, the problem is I seem to be stuck unable to edit the title anymore.

### Step-by-step reproduction instructions

[2021-10-06 16:03] TimothyBJacobs commented on #35365
To clarify, the rendered content includes the `` delimiter, so that information is available to the client with all the necessary filters applied.

[2021-10-06 16:33] filipecsweb commented on #15160
+1

[2021-10-06 17:04] annezazu commented on #32638
[As part of the tenth call for testing](https://make.wordpress.org/test/2021/09/29/fse-program-testing-call-10-pattern-party/#comment-2054), more feedback came in around this topic that I'll pass on below:

I imagine this is going to continue to cause confusion, especially at scale when the block is used more.

[2021-10-06 17:06] annezazu commented on #31112
[More feedback from the tenth call from testing](https://make.wordpress.org/test/2021/09/29/fse-program-testing-call-10-pattern-party/#comment-2053) from our very own @paaljoachim  :D

In my own testing, this continues to be a pain point I run into too and feels like an easy win to get in place to improve the UX.

[2021-10-06 17:30] annezazu commented on #30925
More feedback to pass along from the [tenth call for testing for the FSE Outreach Program](https://make.wordpress.org/test/2021/09/29/fse-program-testing-call-10-pattern-party/#comment-2054):

[2021-10-06 17:37] eeeeevon13 opened #35408 "Remember my image size settings when I replace an image."
## What problem does this address?

## What is your proposed solution?

[2021-10-06 18:24] gziolo commented on #33613
Based on the discussion in #34548, @mkaz and I decided we will leave the syntax as is. When trying to apply the changes proposed we run into the issue with the default linting rules used by `@wordpress/scripts`. It looks like the coding guidelines favor the object shorthand notation.

[2021-10-06 18:24] #33613 closed, assigned to mkaz

[2021-10-06 19:22] Denis74F commented on #35405
Hi @carolinan ,
it happened to me too and the only solution I found is this:
1 select "**list view**"
2 select "**header**"
3 replace
4 select your template
5 now at the top you will notice the index Header selected
6 move outside the template header with the cursor **(at the top you will now only see index)**
7 do something in index and now save

Done!
In this way I was able to save the change.

[2021-10-06 20:29] chthonic-ds commented on #35405
@Denis74F I feel there's still an issue here when following the steps you've provided.

If I use replace to select a new template part, I'm making a change to the template and not the template part. However, the save panel indicates changes have been made to both "Page" and "Template Part". Replacing a template part (without making additional changes to it) should be seen as a change to the templa

[2021-10-06 20:48] mkaz opened #35410 "Remove including wp-polyfill with default create-block generation"
## What problem does this address?

The default wp-scripts will include the polyfills dependency [due to this line](https://github.com/WordPress/gutenberg/blob/trunk/packages/scripts/config/webpack.config.js#L250)

With the support for IE11 removed, we no longer need the polyfill by default. It adds additional overhead with little gain, see https://github.com/WordPress/gutenberg/pull/35038 for mor

[2021-10-06 20:51] adamgreenough commented on #35306
+1 on this. Spacing and typography are fundamentals and should be a higher priority than new features. Spacing is by far my biggest issue working on new Gutenberg themes and a more versatile and stylesheet-controlled way as proposed by OP would be ideal. The spacer block is not enough and I am currently working with custom classes for the additional classes option which is half way there, but a co

[2021-10-06 20:51] Denis74F commented on #35405
Hi @chthonic-ds ,
you are right, however it is the only way i found to make it work, surely this problem needs to be fixed.

[2021-10-06 22:09] mkaz commented on #34686
I could not duplicate this. In fact, when using the latest Gutenberg plugin it does not add those utility classes but appear to be setting the alignment for the container. It looks like it [might of been changed in this one](https://github.com/WordPress/gutenberg/pull/34651).

![social-justify](https://user-images.githubusercontent.com/45363/136289500-baac2cb4-c323-47a9-b67b-dc14ae419036.gif)

Can

[2021-10-06 23:54] #34707 closed, assigned to apeatling

[2021-10-07 01:01] supernovia commented on #35384
I'm not sure whether this should be filed as a separate issue, but this site owner asked us to note too that the Spotify block does not show the cover art in the editor, only in previews and on the live site.  Instead, it shows some space where the cover art would be.

How it looks on the site / preview page. Note the cover art appears below the player:
<img width="300" alt="Screen Shot 2021-10-06

[2021-10-07 01:01] ramonjd opened #35411 "Layout: top margin overwrites theme.json block CSS when gap support enabled"
### Description

Since Gutenberg 11.7 (in https://github.com/WordPress/gutenberg/pull/34491), the `gutenberg_get_layout_style` method adds the following CSS to `.wp-block-post-content` children and their adjacent siblings where block spacing support (A.K.A `blockGap`) is enabled:

[code]
See [layout.php](https://github.com/WordPress/gutenberg/blob/release/11.7/lib/block-supports/layout.php#L68).

[2021-10-07 01:15] andrewserong commented on #32638
I ran into this today while testing. I wonder if it'd help for us to duplicate the settings in the toolbar in the settings in the sidebar, for visibility. When I looked at the Settings panel in the sidebar I expected that all the controls would be available there, but it took me a while to find the Items per Page setting in the toolbar, and then it felt a bit awkward tweaking settings in two diffe

[2021-10-07 02:04] andrewserong commented on #35376
Just assigning myself to this one. Because the REST API responses don't render out the `wp_footer`, I'm wondering if we'll be able to append the styles to the end of `the_content`, but just for REST API requests. I'll have a play 🙂

[2021-10-07 02:39] talldan commented on #35399
I don't think this is intended as a user facing feature, it's more of a developer feature.

An alternative option might be better documentation for block attributes, which I think is tracked somewhere in github.

[2021-10-07 03:14] glendaviesnz opened #35412 "Deprecations: break out multiple deprecations into multiple files"
## What problem does this address?

1. Currently block deprecations are all contained in a single file, and within that file each deprecation is declared as an object literal within an array. This presents the following issues as the number of deprecations for blocks increases (eg. Cover and Gallery have 6+ deprecations):

- When debugging deprecation issues it is hard work going through the likes

[2021-10-07 03:33] kevin940726 commented on #29147
All of the above except for the Preview/View menu have been implemented. Have we decided to implement it in Preview/View yet? It seems a little bit weird to me to have template areas in that menu. Just doesn't feel like it belongs there.

[2021-10-07 03:40] ramonjd commented on #34529
Pasting some interesting notes from a conversation with @andrewserong so we can refer to them as we explore this issue.

[2021-10-07 04:27] andrewserong commented on #35376
Potential fix in https://github.com/WordPress/gutenberg/pull/35413

[2021-10-07 04:53] a4jp-com commented on #22801
That seem like a nice option. I just hope the block inserter mark get added to the top soon.

[2021-10-07 05:00] carolinan commented on #24221
I always pictured that this would be a block with inner blocks so that the field names, labels and position could be changed or  removed.
But that would mean no longer relying on comment_form() and its filters.

[2021-10-07 05:28] carolinan commented on #32638
But I believe that is tracked in this issue https://github.com/WordPress/gutenberg/issues/25198

[2021-10-07 05:31] carolinan commented on #35405
Thank you, I know how to make the template save, but users should not have to do that, it is not at all intuitive and if you are doing many iterations it is too much work.

[2021-10-07 05:31] andrewserong commented on #32638
Ah, perfect, thanks for linking me to the right place @carolinan!

[2021-10-07 05:31] #35362 closed, assigned to nobody

[2021-10-07 05:38] talldan commented on #30422
#35247 only partially fixed by removing the stray comma, so reopening.

[2021-10-07 05:41] mkevins commented on #34881
A quick check of Sentry adoption figures for Android shows the following stats for rollout:

18.1: 4%

18.2: 4%
18.2.1: 32%
18.3: 42%
18.4-rc-1: 1%

Total compatible: ~ 79%

It's not clear where the other numbers are (these don't add to 100%) but I suspect they are spread over many other versions, or perhaps the metrics used to calculate adoption rates are imprecise. In any case, there are at leas

[2021-10-07 06:13] andersnoren commented on #34686
I can't replicate it in 11.6.0 either, so it seems like it's been fixed.

[2021-10-07 06:13] #34686 closed, assigned to nobody

[2021-10-07 06:18] aaronrobertshaw commented on #35058
A PR removing all the hardcoded classnames except for `single-column` is up: #35415

Adopting the Grid component to handle the `ToolsPanel` layout, and thus remove the `single-column` class, should be possible but will involve a little more work. I'll take care of that in a separate PR.

[2021-10-07 06:49] jasmussen commented on #34529
There are very likely learnings to be had for the UI as well, for any other theme.json properties which can be fed shorthand syntax. Margin and padding just to name a few.

[2021-10-07 07:03] Mamaduka commented on #33602
Hi, @scruffian

This featured was introduced in #25714.

## Screenshot
![CleanShot 2021-10-07 at 11 01 52](https://user-images.githubusercontent.com/240569/136335257-616ed11a-0eaa-4cc4-88ba-06b403cd64c6.png)

[2021-10-07 07:11] aristath commented on #35410
Removing the polyfills sounds reasonable to me.

Though this option is safer, maybe it's overkill? 🤔

[2021-10-07 07:15] talldan commented on #34612
Here's a very very early attempt at exploring using a template part in the navigation block - #35418

[2021-10-07 07:15] Mamaduka commented on #35412
Thanks for the proposal, @glendaviesnz. I agree this would make deprecation management more straightforward.

Those can be inlined in the version desperation file itself. That being said, I don't have strong opinions about the directory structure.

[2021-10-07 07:49] gziolo commented on #35410
That's a good question if we need the polyfill for plugins/blocks. We probably don't need it as it's going to be included anyway when setting any of the existing WordPress scripts handles that Gutenberg sends to the users.

@sgomes, what is your take on that? What would be the case when a plugin would need to explicitly ensure that the polyfill is included on the page?

[2021-10-07 08:22] johngodley opened #35419 "Block inserter padding"
### Description

This may be entirely intentional, but the block inserter seems to have more left padding than it does top and bottom, giving a slighly off-centre appearance:

![image](https://user-images.githubusercontent.com/1277682/136346399-a54659d1-f7aa-42de-a21c-86fb54cac3bf.png)

Here there are 24px of left padding, but if you look at the settings menu:

![image](https://user-images.githubu

[2021-10-07 08:31] ntsekouras commented on #35383
Hey @sRahul-00 👋 - thanks for your interest for this issue! Really appreciate it!!

This fix will be needed for the next WP version 5.9 and is a bit of time sensitive. Would it be possible to work on this soon? I'm happy to help and guide you with whatever you need 😄

Yes, the backdrop should be removed when the selected value doesn't exist as an option.

[2021-10-07 08:33] gziolo commented on #31387
It's an array so you could define several parent blocks where it can be inserted:

[code]

We discussed that the current implementation is very strict, and it would be great to provide a way to support also "grandparents, "grandgrandparent", and so on 😄 Related issue: https://github.com/WordPress/gutenberg/issues/30679.

[2021-10-07 08:38] gziolo commented on #31387
By the way, this is how allowed blocks are handled for the Columns block with `attributes`:

https://github.com/WordPress/gutenberg/blob/01ac2cfde21682b30524f5e42d8e9f734e6202c4/packages/block-library/src/column/block.json#L16-L18

Related PR: #35342.

[2021-10-07 09:15] paaljoachim commented on #31112
To me it feels like a quick fix to change categories to use regular post editor categories feature.
@ntsekouras

-Edit-
Adding the visual reference.

Post Editor categories:
![Screenshot 2021-10-07 at 12 15 40](https://user-images.githubusercontent.com/5323259/136365629-e91d4326-bab9-4ed9-b523-8f1779f2b81b.jpg)

Query Loop categories:
![Screenshot 2021-10-07 at 12 15 14](https://user-images.github

[2021-10-07 09:28] ntsekouras commented on #31112
👋 - I'll have to look into better at this but in general this is definitely a part of this: https://github.com/WordPress/gutenberg/issues/25198.  Some designers might share some thoughts as well 😄

--cc @jameskoster @jasmussen

[2021-10-07 09:34] youknowriad commented on #34574
Status update here: The color panels for background, link and text have been extracted to separate views per the design above in https://github.com/WordPress/gutenberg/pull/35400

[2021-10-07 09:54] sRahul-00 commented on #35383
Yeah, sure. I'm new to this Open Source World, so I will be thrilled to work upon new opportunities.

[2021-10-07 10:18] jameskoster commented on #29147
Nice work! We can leave the View menu for now.

[2021-10-07 10:20] Aljullu commented on #31387
Thanks for the links @gziolo!

That wouldn't still work for the usecase of the a block that I want to make available inside the Navigation block + anywhere else like the _Product Search_ block, right? Or is there a way to say that any parent is allowed (something like `"parent": [ "core/navigation", "*" ]`)?

[2021-10-07 10:23] fabiankaegy commented on #35406
I started looking into this.

The issue appears to be that we set the response to be `null` every time we start fetching the markup here: https://github.com/WordPress/gutenberg/blob/9e782ed0e9ef57058f0d6b3fa5e8bce6d44c3090/packages/server-side-render/src/server-side-render.js#L88-L90

The issue with that is that we us the `usePrevious` hook to keep track of the markup of the component while we re

[2021-10-07 10:55] gziolo commented on #31387
No, you need to list all parent blocks you want to support. It should be more flexible.

[2021-10-07 11:07] gziolo commented on #30573
I see that https://github.com/WordPress/gutenberg/pull/35112 for Link Settings is close to ready. @carolinan, do you plan to continue working on other enhancements that @SantosGuillamot proposed?

[2021-10-07 11:30] jameskoster commented on #31112
FWIW I worked on this exact problem for the WooCommerce Products block a couple of years ago. The UI in the video below accounts for a few things that I think have been missing in explorations shared so far:

* Selected categories are always displayed (as chips) even when searching.
* There's a quick way to deselect all categories to start again.
* Category nesting.
* OR / AND operators on the sel

[2021-10-07 11:38] sgomes commented on #35410
Thanks for looping me in, @gziolo! This is all a policy and support decision, and I'm not too well-versed on how Core generally tends to approach these, but I'm more than happy to share my 0.02 money units.

I believe that giving control over polyfill loading to plugins would provide somewhat of a disincentive for the right course of action, which is to update a given plugin to native, modern JS —

[2021-10-07 11:51] #34192 closed, assigned to carolinan

[2021-10-07 11:55] gziolo commented on #35410
I read your response as - it's time to phase out polyfills from tools that the community uses 😄

The only risk I see is that some plugins might break when they update `@wordpress/scripts` to the version that doesn't include `wp-polyfill` as a script dependency. However, it's rather impossible in practice because all Gutenberg scripts request `wp-polyfill` so this polyfill should be included in WP-

[2021-10-07 12:00] sgomes commented on #35410
That's a much less roundabout way of expressing my thoughts, yes! 😄

Even if it were to happen a lot in practice, I think that would be fine. Situations like this are generally why projects have major versions, release notes, and, if we want to be really extensive and supportive, migration guides.

[2021-10-07 12:03] carolinan commented on #30573
After #35112 there is nothing left to do on the checklist. I only mentioned that it was a partial pull request because it can't be tested inside a comment template /comment loop yet.

[2021-10-07 12:09] simkoG opened #35431 "Group block do hot have container child if HTML element isn't div"
### Description

The Group block has a helpfull inner container by default (`.wp-block-group__inner-container`). It comes handy if you want to make your group `.alignfull` but you want your inside content to be have max-width property.

If you change the default `div` HTML element to something else (eg. `section`) the inner `.wp-block-group__inner-container` div will be missing.

It would be great

[2021-10-07 12:10] gziolo commented on #30573
That's awesome. Thank you for the clarification @carolinan. Let's close this issue once #35112 land then 😄

I wasn't aware that other features require only feature toggles. As simple as that 🎉

[2021-10-07 12:41] #35297 closed, assigned to Mamaduka

[2021-10-07 13:15] gziolo commented on #33542
Support for multiple style assets per type landed in Gutenberg: https://github.com/WordPress/gutenberg/pull/32510

[2021-10-07 13:20] scruffian commented on #33602
Great!

[2021-10-07 13:20] #33602 closed, assigned to nobody

[2021-10-07 13:21] javierarce commented on #34482
Here's a first idea for this error message.

![image](https://user-images.githubusercontent.com/4933/136391671-9c9492cd-e06c-4493-9c64-2f88897bb111.png)

We could show the error details inside a textarea. A button to copy the message would appear on hover (see it in action in the video below). A link below the textarea could teach users the necessary steps to report a problem.

As @talldan suggest

[2021-10-07 14:16] #35350 closed, assigned to youknowriad

[2021-10-07 14:20] #35353 closed, assigned to youknowriad

[2021-10-07 14:21] Denis74F commented on #35405
I agree. I wanted to help solve the problem. For users it is too difficult, in fact they probably would not succeed.

[2021-10-07 15:16] #30573 closed, assigned to carolinan

[2021-10-07 15:19] kjellr commented on #32638
Yeah, I think this is the best route — it'll give folks a more realistic sense of the patterns: what you see in the preview is what you get.

[2021-10-07 15:32] #34441 closed, assigned to youknowriad

[2021-10-07 15:38] a-danae opened #35435 "Overriding "'wp-components" styles makes ".components-visually-hidden" elements visible"
### Description

When using the [VisuallyHidden](https://github.com/WordPress/gutenberg/tree/trunk/packages/components/src/visually-hidden) component, its contents are being displayed. The contents shouldn't be visible, as explained in the component's README file.

Original report [here](https://github.com/Automattic/woocommerce-payments/issues/3033).

### Step-by-step reproduction instructions

1

[2021-10-07 15:43] overclokk commented on #29568
I was doing some tests to see in practice which was the best approach for naming color variables and I found an issue if we use the name background, an example:

`--wp--preset--color--background`

Than the editor will create these css classes:

[code]
This creates a lot of confusion to me.

So I starting using `bodyBg` as slug for background color (like bootstrap does):

[code]

And I also think f

[2021-10-07 16:15] javierarce commented on #35419
I agree with the problem. I can imagine that the different paddings are an attempt to align the items optically so they look good in normal situations (when the setting menu is not selected).

If we were to use the same number for the left and right padding, we'll end up with the problem of the toolbar in the middle of the image below: it would only look good when the settings menu is selected.

I

[2021-10-07 19:14] chthonic-ds commented on #35431
Previous discussion at https://github.com/WordPress/gutenberg/issues/31061.

[2021-10-07 19:21] chrisbellboy opened #35438 "Theme.json - styles.blocks.core/button.spacing.padding doesn't apply if button uses Outline style"
### Description

Hey everyone,

Was playing around with the theme.json and noticed that if you set `styles.blocks.core/button.spacing.padding.X` and `styles.blocks.core/button.border.X` values in the theme.json - they work fine except when you set the outline style to the button, as this style triggers higher specificity css on the frontend. This only applies to the frontend, as the editor adds ev

[2021-10-07 20:08] glendaviesnz commented on #34881
Based on the mobile figures I think it makes sense to delay removal of the flag until 11.8

[2021-10-07 20:16] ZebulanStanphill opened #35439 "Row (Group variation) styling doesn't work for themes without `layout` support"
### Description

The generated styles for the Row variation of the Group block do not work for themes that haven't enabled `layout` support in their `theme.json` (or just lack a `theme.json` entirely). This old Group markup, which has a nested div for the content with the class: `wp-block-group__inner-container`, is not accounted for in the generated front-end styles.

The result is that, when usi

[2021-10-07 20:28] elettrona opened #35440 "accessibility: impossible to add or edit a post's title with Jaws for Windows screen reader activated"
### Description

When adding a post, page, or other custom contents, it's impossible to edit the post's title in a machine running JAWS for Windows screen reader - www.freedomscientific.com -
Expected behaviour: when adding a post, the focus is brought to title and screen reader activated editing mode, in order to write the post title. And, pressing "e" - the screen reader's shortcut to access the

[2021-10-08 03:23] tellthemachines opened #35445 "Documentation for Navigation block classnames should be in block library"
### Description

The docs for classname usage in the Navigation block and its descendants are currently housed in the [readme](https://github.com/WordPress/gutenberg/blob/trunk/packages/components/src/navigation/README.md) for the Navigation component in the components package. They should be in a new readme in the Navigation block folder in block-library package instead.

### Step-by-step reprodu

[2021-10-08 04:48] SiobhyB opened #35447 "Mobile Web: Android's Text Selection Toolbar Blocks Some of the Editor's Buttons"
### Description

[Android's built-in text selection toolbar](https://material.io/design/platform-guidance/android-text-selection-toolbar.html) blocks access to buttons in the editor's main toolbar in some cases. This happens as the text selection toolbar isn't correctly dismissed when tapping on dropdown menus in the editor's toolbar.

It's only possible to reproduce this while accessing the edito

[2021-10-08 05:05] github-actions[bot] opened #35448 "[Flaky Test] Should not show the block switcher if all the blocks the list block transforms into are removed"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
Should not show the block switcher if all the blocks the list block transforms into are removed

## Test path
`specs/editor/various/block-switcher.test.js`

## Errors

<time datetime="2021-10-08T05:05:39.582Z"><code>[2021-10-08T05:05:39.582Z]</code></time> Test passed after

[2021-10-08 05:05] github-actions[bot] opened #35449 "[Flaky Test] Should use the same value in all the blocks"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
Should use the same value in all the blocks

## Test path
`/test/e2e/specs/editor/plugins/meta-attribute-block.spec.js`

## Errors

<time datetime="2021-10-08T05:05:40.111Z"><code>[2021-10-08T05:05:40.111Z]</code></time> Test passed after 1 failed attempt on <a href="https:/

[2021-10-08 06:03] ntsekouras commented on #35382
Fixed by: https://github.com/WordPress/gutenberg/pull/35409

[2021-10-08 06:03] #35382 closed, assigned to amustaque97

[2021-10-08 06:17] #35237 closed, assigned to nobody

[2021-10-08 07:42] paaljoachim commented on #17162
It would be nice to get this fix into WP 5.9.
I am hoping someone is able to take a closer look.
Thanks!

We are getting additional reports on this.

Additional associated/duplicate issues:
**Image alignment is left by default but it displays center as default**
https://github.com/WordPress/gutenberg/issues/33349

**Images are centered in editor and aligned left in preview**
https://github.com/Wor

[2021-10-08 07:45] paaljoachim commented on #31011
Hey @TheMinimalistNinja

The problem is known, but no solution has been added yet.
Here is an older issue:
https://github.com/WordPress/gutenberg/issues/17162#issuecomment-938419533

I assume we can close your issue, as it is a duplicate of the one I linked to.

[2021-10-08 07:48] carolinan opened #35452 "Template names descenders are cut off in the edit site header"
### Description

Descending letters like p,g,y etc, are partially cut off when the template or template part name is displayed in the edit site header (above the template action modal)

The line height seems to be set too low (1.2).

### Step-by-step reproduction instructions

1. Go to the site editor or template editor
2. Select a template or template part with descenders in the name
3. See that

[2021-10-08 07:51] jasmussen opened #35453 "List View: Replace template icons with template symbols"
Followup to https://github.com/WordPress/gutenberg/pull/34002#issuecomment-904409098.

New generic symbol icons for template parts and reusable blocks were introduced in 34002:

The dedicated header/footer template part icons are still useful in [the future template part selector](https://github.com/WordPress/gutenberg/issues/29295):

<img width="298" src="https://user-images.githubusercontent.com

[2021-10-08 07:54] hypest commented on #35357
👋 @dcalhoun , I tried the mobile URL https://mobile.twitter.com/rauchg/status/807626710350839808 on https://wordpress.org/gutenberg/ and WPCOM's Simple site Gutenberg editor and it failed to produce in both cases. Gives me a `Sorry, this content could not be embedded.` on .org's Gutenberg, and immediately falls back to paragraph block on (see video below). My WPCOM site is on the Intergalactic2 th

[2021-10-08 08:04] fluiddot commented on #35357
Not sure if this is a theme-related issue, looks like on WP.com sites the embed failures are treated differently than from self-hosted sites, but in both cases, the embedding operation fails.

[2021-10-08 08:15] #32402 closed, assigned to nobody

[2021-10-08 08:15] #34053 closed, assigned to ellatrix

[2021-10-08 08:17] jasmussen commented on #34053
❤️

[2021-10-08 08:35] paaljoachim commented on #17162
There seems bigger fixes needed related to the PR which was suggested by @jasmussen
https://github.com/WordPress/gutenberg/pull/31823#issuecomment-842082668

Can we create a step between? With focus on improving the current caption alignment problem. A fix that can also later be incorporated into the PR by @ellatrix

[2021-10-08 09:21] javierarce commented on #30930
This thing bugs me a lot too and fixing this issue would make switching between modes super easy, thanks for reporting it!

I agree with your solution, but I would put the "Edit visually" before the ellipsis button since that's the most common position.

[2021-10-08 09:35] javierarce commented on #34087
I guess this one can be closed now that the top bar is in place, right?

[2021-10-08 09:51] talldan commented on #34087
I think it's still relevant in that there's no way to open that settings menu from the top bar:
<img width="303" alt="Screenshot 2021-10-08 at 5 44 40 pm" src="https://user-images.githubusercontent.com/677833/136536113-1472bdd7-a949-4997-90a3-4df71173124c.png">

[2021-10-08 09:58] khoipro opened #35456 "<InnerBlocks /> - allowedBlocks - disable child block transform"
## What problem does this address?

<img width="503" alt="change-type-child-element" src="https://user-images.githubusercontent.com/10395311/136536690-ecd7696d-064e-4ba5-91fe-6553fcff9684.png">

When inserting <InnerBlocks /> with `allowedBlocks` and `template`, I wish to setup fixed element block type (like paragraph, heading) instead of changing the element type as current.

Here is my example c

[2021-10-08 09:59] #35096 closed, assigned to nobody

[2021-10-08 10:09] #35143 closed, assigned to getdave

[2021-10-08 10:18] javierarce commented on #34087
Oh, sorry 🤦 I didn't notice this issue was for the customizer, I thought it was related to the editor screen.

[2021-10-08 10:29] #35381 closed, assigned to mirka

[2021-10-08 10:30] ntsekouras commented on #35453
Thanks for creating the issue Joen! I haven't looked into in depth yet, but with the current behavior the active variation's name(if exists) is shown with the help of [useblockdisplayinformation](https://developer.wordpress.org/block-editor/reference-guides/packages/packages-block-editor/#useblockdisplayinformation). I'm not really fond of having specific handling, but I guess this should be one,

[2021-10-08 10:34] dcalhoun commented on #35357
@hypest unless I am misunderstanding, I believe you described the same behavior I attempted to capture for the web editor. It seems my ticket description just needs to be updated to be more clear. I do not perceive this to be theme related, as we have now reproduced it with multiple themes.

- Web editor: converts to Paragraph block.
- Native editor: displays "Unable to embed media."

[2021-10-08 11:13] chrisbellboy commented on #33583
Custom block labels in the List view is a must-have. It improves productivity and adds psychological order/control over the layout.

Personally, I think popovers should only be used for extra long edge-case custom labels as I imagine most labels will be 2-3 words max, which allows for:

<img width="350" alt="image" src="https://user-images.githubusercontent.com/92119512/136544622-05be4e1f-f71e-405

[2021-10-08 11:37] scruffian commented on #25612
We had a go at this here: https://github.com/WordPress/gutenberg/pull/35459

[2021-10-08 11:44] hypest commented on #35357
🤦‍♂️ I think you're right David! When I saw the "web" screenshot (https://user-images.githubusercontent.com/438664/136039145-896be90f-3954-4a3d-8137-b38409cbcc19.png) I seem to only focus on the succeedding preview, interpreting it as "ah, the web is able to produce a preview". Sorry for not paying good attention to the description.

About the issue per se, if the expected behavior is to indeed su

[2021-10-08 12:05] youknowriad commented on #27116
I think this one is solved one way or the other.

 - figure resets are included in each block that uses "figure".
 - height: auto has been added where needed (when using width: 100%)
 - body margin is now reset.

It seems to me there's no need for reset anymore. I'm closing this issue for now, let me know if I missed anything.

[2021-10-08 12:15] priethor commented on #34881
Gutenberg 11.9 will be the last version included in WordPress 5.9, so I think it makes sense to target Gutenberg 11.8 with 11.9 as a buffer.

[2021-10-08 12:33] jasmussen commented on #35453
Thanks for looking. Since for the moment we will primarily need the actual icons to be shown in a future template type selector, perhaps we could invert the logic, and just use that same icon for those block types, and revisit to show dedicated icons in that selector in the future?

[2021-10-08 12:38] youknowriad commented on #35439
Hi @ZebulanStanphill I tried debugging this but failed for now. In 2021 theme which doesn't support "layout" either, it works properly.

The issue comes from the fact that the `wp-block-group__inner-container` div is added to the frontend when using Astra theme. but we do have logic in place to prevent this div from being added in `gutenberg_restore_group_inner_container`. I wonder if Astra is doi

[2021-10-08 13:20] Sandstromer commented on #35439
Yes it seems to an issue with the Astra theme.

See `astra/inc/compatibility/class-astra-gutenberg.php` L24 the comment:
_Add Group block inner container when theme.json is added to avoid the group block width from changing to full width._

and L35 `restore_group_inner_container()` function.

[2021-10-08 13:27] #35410 closed, assigned to mkaz

[2021-10-08 13:58] javierarce commented on #34487
Here's a proposal for the eyedropper:

![image](https://user-images.githubusercontent.com/4933/136569718-85680f0a-544b-4395-b680-cf4990866dfe.png)

- I placed the tool inside of a new header. This header could contain a title and also allow users to drag the popover and move it around.
- For the zoom element I followed Chrome's idea of replacing the cursor with the picker. The zoom would follow th

[2021-10-08 14:54] colorful-tones commented on #25188
I just watched @ryanwelcher Twitch for [Creating a plugin with @wordpress/create-blocks that has multiple blocks](https://www.twitch.tv/videos/1169960035), and this is a long overdue tutorial for elevating the developer experience. 👏

@cr0ybot I believe it is even likely that non-agency developers have been grappling with this as well, and I would postulate that this hinderance (single block only)

[2021-10-08 15:00] ciampo commented on #34487
cc'ing @mtias @pablohoneyhoney and @jasmussen regarding the potential UX around an eyedropper tool in the `ColorPicker.

(example codepen: https://codepen.io/matanbobi/pen/GREoZvo)

[2021-10-08 15:03] ovidiul commented on #22053
Seems the setting controlling the inserter blocks preview is always set to true [here](https://github.com/WordPress/gutenberg/blob/17e3641efa0ca29f0d899555487d337222871c20/packages/edit-post/src/components/secondary-sidebar/inserter-sidebar.js#L50), maybe we can add a setting in the editor to toggle this?

[2021-10-08 15:08] ciampo opened #35464 "Components: assess `Heading` styles in the context of the recent design updates"
As originally discussed in https://github.com/WordPress/gutenberg/pull/35400#discussion_r724311248, it looks like the `Heading` component may currently not fit the needs of the most recent designs (specifically for the Global Styles sidebar, in this case)

We should assess the situation and, if necessary, decide how to proceed in order to have a component offering the new heading styles needed for

[2021-10-08 15:09] ciampo commented on #35464
@mtias  and @jasmussen , do you have any insights on this?

[2021-10-08 15:15] pablohoneyhoney commented on #34487
Nice!

For some reason I'm not able to see the codepen `EyeDropper API is not supported on this platform` in any browser and would love to.

Not sure if we want this right away and that's why it wasn't explored initially. If we do, there are cases where the color picker doesn't have a header or it isn't clear if we do need that header all times.

<img width="601" alt="Screen Shot 2021-10-08 at 5 1

[2021-10-08 15:17] #34287 closed, assigned to nobody

[2021-10-08 15:21] jameskoster opened #35465 "Create a list view for templates"
The mosaic view of templates (#33770) can work very well for navigating a smaller number of templates, or for getting a feel for how global styles affect the site appearance beyond the scope of a single document.

But it may not be optimal when there are many templates to display, or if you want to perform bulk actions.

It might be nice to offer a list view for templates, which is where you'd go

[2021-10-08 15:25] javierarce commented on #34487
In that case we could go for a placement similar to Figma's color picker:

![image](https://user-images.githubusercontent.com/4933/136582809-5169b993-a93f-42c6-bd75-691a875a96d0.png)

[2021-10-08 15:37] pablohoneyhoney commented on #34487
It does unbalance the UI heavily, no?
Is there perhaps a different way to display the RGBA codes so it could live on the left of the controls icon? For example.

[2021-10-08 15:58] Sandstromer opened #35467 "Navigation block - include Categories in allowed blocks"
## What problem does this address?

In the Navigation block we can already add the Page List block. This is great for theme authors to create a default menu, but it may make more sense in some designs to use post Categories as the default menu instead.
## What is your proposed solution?

Including the Categories list as a navigation option would further enhance the Navigation block.

[2021-10-08 16:15] javierarce commented on #34487
I'll think about alternative ways to display the color, but I think we could pull that off by just slightly increasing the width of the component and reducing the space between the color parts:

Quick test:

![image](https://user-images.githubusercontent.com/4933/136589796-d823f655-2950-43d4-9c04-96b9982368e0.png)

Question: the blue color implies that the RGBA are links, right? What happens when

[2021-10-08 16:25] youknowriad commented on #26901
For what reasons these are disabled by default? I mean shouldn't we take the opportunity of FSE themes (or themes with theme.json) to enable these automatically? Does it still make sense for these to be configurable, should they be opt-in or opt-out.

[2021-10-08 17:23] uniquesolution commented on #34349
How about having multiple conditional theme.json files, so that one site can have multiple theme global styls for different pages conditionally? For example as we select page template is in page editor, how about having an option to also choose a different theme.json file ?

[2021-10-08 17:25] coreyworrell opened #35468 "Allow wide and full alignments for blocks in widget areas"
## What problem does this address?

Blocks are not able to be set to wide or full alignment when inserting into a widget/sidebar area. This can be useful for sidebar areas that are used for "below content" (ie: a wide three column block for ads) or footer purposes.

## What is your proposed solution?

Possibly add parameters to `register_sidebar` to allow for these alignments, that are read by Gut

[2021-10-08 17:46] uniquesolution commented on #33278
how about allowing widget as part of the navigation ? In this way widget can handle any complex menu structure within the navigation.  Suppose we want to show some products as mega menu in the navigation dropdown. how this complex structure of multiple columns with different product image with its title and price can be shown in navigation ? It can be easily handled by a widget insertion within th

[2021-10-08 18:01] ZebulanStanphill commented on #35439
Thanks, I've opened an issue at Astra's GitHub: https://github.com/brainstormforce/astra/issues/3431

[2021-10-08 18:01] #35439 closed, assigned to nobody

[2021-10-08 18:20] mikeywil commented on #24957
An idea based on how I thought the block was going to work before I used it:

- The 'Settings > General' page has an option for setting Date Format and Time Format for the site as a whole. Could this be factored into the Post Date block in some way? It might be the default setting, and/or one of the options.

[2021-10-08 18:27] mtias commented on #34349
Multiple json files is indeed on the roadmap and conceptualized in the initial scope. The idea is it can be composed in a similar way to the theme hierarchy — so it can match a set of templates, or an individual page, etc. The idea is that template parts could also be theme.json providers, meaning you could overwrite or specify settings for ay template part in complex scenarios. Think a case where

[2021-10-08 18:37] felixarntz opened #35477 "Expand @wordpress/dom as viable DOM functions library to close jQuery gap in the frontend"
As outlined in detail in [this article, jQuery is the most common JS performance offender in WordPress](https://make.wordpress.org/themes/2021/10/04/the-performance-impact-of-using-jquery-in-wordpress-themes/) themes _and_ plugins (even though the post specifically focuses on themes). Lots of themes and plugins load jQuery (and only jQuery core, none of its extensions!) in the frontend, just to us

[2021-10-08 19:01] kjellr commented on #26901
Yeah, all of those seem like things we should enable by default for block themes.

[2021-10-08 19:31] Denis74F opened #35478 "Unable to remove the logo image"
Hi,
if I set an image in the logo block, then it is no longer possible to remove the image.
It can be replaced but not removed. To remove the image you must remove the block.
This in my opinion is uncomfortable.

Could you include the ability to remove the logo image?

[2021-10-08 19:40] kjellr opened #35480 "Social Icons: Preset colors do not stay in sync with Global Styles presets"
When you assign a preset color to the Social Links block, it records the preset's hex color in the markup like so:

[code]

If someone were to go and modify the value of that `foreground` preset via Global Styles, the social links block does not update to the new color value. The original hex color defined in the block markup is still used.

## GIF:

Note that I'm changing the color of "foreground

[2021-10-08 20:19] scruffian commented on #35114
The "Social Icons" block is a good example - the settings for the block relate to how it displays so you would expect them to be settable by theme.json, but currently that's not possible.

[2021-10-08 20:54] grantbarrett commented on #16425
@AjXUthaya I know it's been a while since you posted that, but I think it may solve a problem I'm having but I'm not sure where to put it. I'm not much of a WordPress developer but I have about 5000 posts with broken blocks I'd like to automatically recover. This may do the trick if I can then just use a macro to launch each edit page one at a time. Tx

On edit: I figured out. Save the two Javascr

[2021-10-09 02:46] uniquesolution commented on #34349
Is this coming in Wordpress 5.9 ? Where we can see progress in this topic ? I would like see this particular topic progress and want to participate in suggestion if I find useful.

[2021-10-09 07:59] github-actions[bot] opened #35483 "[Flaky Test] should be able to open the categories panel and create a new main category if the user has the right capabilities"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should be able to open the categories panel and create a new main category if the user has the right capabilities

## Test path
`specs/editor/various/taxonomies.test.js`

## Errors

<time datetime="2021-10-09T07:59:57.467Z"><code>[2021-10-09T07:59:57.467Z]</code></time> Test

[2021-10-09 09:00] #35406 closed, assigned to fabiankaegy

[2021-10-09 09:27] Arskrigitsioniets opened #35484 "RSS Block and Let's encrypt"
As I suspect, due to a [worldwide known problem](https://www.securityweek.com/expired-lets-encrypt-root-certificate-causes-problems-many-companies) with Let's Encrypt SSL, which occurred on 30th September, I have a problem with RSS block and my RSS feed from my site using this SSL.

My RSS Feed is: https://forum.strategycon.ru/index.php?action=.xml;sa=recent;limit=10
When I try to put it in RSS Bl

[2021-10-09 09:52] khoipro commented on #35477
I suggest some additional functions should have curry function to keep everything works better.

Some from our internal lib:

[code]

[2021-10-09 10:46] khoipro opened #35485 "Add .stylelintrc.json to @wordpress/create-block"
## What problem does this address?
When creating a new block with core blocks, it's requires to modify some BEM Class which generated by core, such as:

[code]

However latest @wordpress/create-block still report violating "Selector should use lowercase and separate words with hyphens   selector-class-pattern".

## What is your proposed solution?
Add `.stylelintrc.json` in package [@wordpress/crea

[2021-10-09 13:17] ciampo commented on #34487
I am able to run the codepen on the latest stable Chrome for MacOS (`Version 94.0.4606.81`)

[2021-10-09 13:44] mtias commented on #35478
This functionality was added in #34820 and will be part of the 11.7 release.

[2021-10-09 13:44] #35478 closed, assigned to nobody

[2021-10-09 17:43] gingerling commented on #33094
Hi, Is there a plan for category pages etc to be fully editable with blocks like any other page? This would be brilliant for woocommerce. There are some hacky ways round it at the moment, using redirects to replace category pages with normal pages etc, or using canonical url and linking from the menu, but it feels like a huge seo risk to start messing with my site structure this way. I'm wondering

[2021-10-09 17:50] Clorith commented on #34574
That was my intended approach, yes, that it would then be controllable by `theme.json`, and not capabilities, capabilities are already a complex system as is (I'm not opposed to this, just airing some thoughts), and tieing it into capabilities means a theme ideally shouldn't be modifying these things, hopefully, they can, but it's always better when functionality is handled by plugins, whole other

[2021-10-09 18:59] skorasaurus commented on #35484
From brief research, this appears to be an issue with WordPress Core, ref: https://core.trac.wordpress.org/changeset/51883/
and https://core.trac.wordpress.org/ticket/50828 https://core.trac.wordpress.org/ticket/54207

I'm closing for now because this is being tracked in WordPress Core and any fixes to this would be implemented not in Gutenberg but WordPress core.

[2021-10-09 18:59] #35484 closed, assigned to nobody

[2021-10-09 20:26] mtias commented on #33094
@gingerling with block themes you'd indeed be able to edit category templates, either globally, or for a specific category:

![image](https://user-images.githubusercontent.com/548849/136672977-42b47bef-38c9-464c-8976-661f42491445.png)

[2021-10-09 21:04] gingerling commented on #33094
Sounds great. Forgive my ignorance, is this available now? Or is this in the works? Is there a roadmap with expected release if so? Thanks for your help!

[2021-10-10 00:21] donalirl opened #35487 "Social Icons Block: Add Discord to Supported Icons"
## What problem does this address?

Discord is a popular social network, but the icon is not supported in the Social Icons block.

## What is your proposed solution?

The graphics can be obtained from Discord here: https://discord.com/branding

There are plans to support custom icons in #19041 but Discord would be a suitable icon to include as standard, given the popularity of this social network.

[2021-10-10 00:46] stokesman commented on #35208
Hi @HILAYTRIVEDI. It looks like this is a duplicate of #29519. Which even has an open PR to fix it but I think it's gone stale because with actual RTL language use there is no issue. It's more of an issue with testing RTL in a less complete way.

[2021-10-10 00:46] #35208 closed, assigned to nobody

[2021-10-10 01:19] carolinan opened #35488 "Add documentation for blockGap"
## What problem does this address?

blockGap is confusing.
And the almost daily changes for blockGap and spacing in general on trunk are difficult to keep up with because there is no GitHub label for this feature.

## What is your proposed solution?

Please add documentation.

[2021-10-10 04:23] DeveloperWil opened #35489 "No "hide_empty" setting on Categories block"
## What problem does this address?
When using the categories block in the block editor, by default it hides categories that have no associated posts (empty categories).
There is no block setting to override this default behaviour.
I want the option for the Categories block to show all categories in WordPress or to hide empty categories.

## What is your proposed solution?
Add a "Hide Empty" = true

[2021-10-10 04:46] mhsohag11 commented on #34982
Thank you @talldan for your valuable response 👍
First issue is my typing mistake :)

The second issue is the main part and finally **I have solved my problem**

Just need to individual identifier  in selector :  ( Example Below )

[code]

[2021-10-10 16:09] overclokk commented on #34717
If you use CSS Custom properties for declaring palette color values in theme.json becomes much easier to replace a color.

This is an example simplified withouth all the rest of the css, this should work (on my machine), only to get the idea:

[code]

[code]

You can also generate this from SASS and add hover support.

Adding contrast to more elements could stretch the css.

[2021-10-10 22:56] khoipro opened #35494 "Overflow jumping - Block Pattern Category Panel in large screen (1920px)"
### Description

When opening a Block panel in 1920px (fullscreen), if we create a custom child theme block pattern category and add 3 block patterns, the block pattern overflow height could be jumping.

### Step-by-step reproduction instructions

1. Register a custom block pattern category in child theme.
2. Register 3 block patterns in child theme's block pattern category.
3. Go to Page Editing

[2021-10-10 23:43] #32339 closed, assigned to glendaviesnz

[2021-10-11 01:10] glendaviesnz commented on #35308
I was able to replicate this on trunk with OSX and cmd-a:

![cmd-a](https://user-images.githubusercontent.com/3629020/136720108-ad70ae04-9d28-4f6c-929f-bfc1293f819b.gif)

[2021-10-11 03:08] glendaviesnz commented on #35308
The issue happens some time after the [use-select-all](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-editor/src/components/writing-flow/use-select-all.js) has completed - at that point the blocks are all selected as expected:

<img width="657" alt="Screen Shot 2021-10-11 at 5 17 17 PM" src="https://user-images.githubusercontent.com/3629020/136732627-2bc0e03a-9947-43ae-9027-c42ca

[2021-10-11 04:01] talldan commented on #35435
This sounds pretty complex.

I think the issue is that a plugin might be importing an older version of VisuallyHidden from WordPress that used scss styles. When the Gutenberg plugin is active those styles are no longer present in the components stylesheet because the new version of VisuallyHidden uses css-in-js (https://github.com/WordPress/gutenberg/blob/trunk/packages/components/src/visually-hid

[2021-10-11 04:34] tellthemachines commented on #33278
@uniquesolution we're already tracking mega menu creation in #23745.

With regards to this issue, are there still any actionable items here? While the original scope mentioned Paragraph, I think we removed the need for it with the introduction of the "open on click" option.

[2021-10-11 05:29] #34816 closed, assigned to nobody

[2021-10-11 05:53] github-actions[bot] opened #35496 "[Flaky Test] should handle esc key events"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should handle esc key events

## Test path
`/test/e2e/specs/widgets/customizing-widgets.spec.js`

## Errors

<time datetime="2021-10-11T05:53:59.208Z"><code>[2021-10-11T05:53:59.208Z]</code></time> Test passed after 1 failed attempt on <a href="https://github.com/WordPress/g

[2021-10-11 06:12] aristath commented on #35477
A couple of years ago I wrote a [related article](http://aristath.github.io/blog/diy-vanilla-jquery-alternative) with a few example functions that we would probably want to add.
However, I'm not sure we should try to replicate jQuery functionality in `@wordpress/dom`...
I'd be in favor of a series of articles educating users how to do things in vanilla-JS instead of jQuery, but I fear that trying

[2021-10-11 06:22] jasmussen commented on #35399
I'd echo Dan that it feels worth it to continue to elevate the docs to enhance this as far as is possible. One additional idea is to enhance the WordPress Pattern Directory submission process, of which [some plans are outlined here](https://make.wordpress.org/design/2021/03/30/wordpress-org-patterns-directory/). In this context, the UI might offer a good spot for contextual tips here.

[2021-10-11 06:34] jasmussen commented on #33278
Good call, @tellthemachines. This issue as originally created feels solved, so feels worth closing. That will also allow us to create new and more specific issues if/when additional blocks become necessary. For additional conversation, #31387 also offers an adjacent challenge.

[2021-10-11 06:34] #33278 closed, assigned to nobody

[2021-10-11 06:41] gziolo commented on #25188
I watched the stream as well. It was great to see all the options explained by @ryanwelcher 💯 The recording is now available also on YouTube: https://www.youtube.com/watch?v=lwXXckW3dT0 (on Twitch the content gets deleted after some time).

[2021-10-11 07:39] jasmussen commented on #35464
In exploring the sidebar/inspector/global styles design that is being finalized in #34574, it seems clear that the uppercase styling is used both for input labels and for some subheadings, so it appears to be more of a style than a component, perhaps somewhat comparable to how we have a help-text style (which is 12px font size, default font weight, default text case). CC: @pablohoneyhoney in case

[2021-10-11 08:00] javierarce commented on #34487
I'm also on that version, but it didn't work for me I had to install Chrome Canary.

[2021-10-11 08:14] jasmussen commented on #34487
This is a sweet feature. Because it's such an advanced browser feature that it's barely rolled out to Chrome yet, though, I would echo Pablo that it seems worth it to restrict the button to exist in context of other advanced configuration tools for the time being. Then as browser support becomes wider, the button could literally graduate in the UI.

That said, it could be nice to include a small e

[2021-10-11 08:18] oandregal commented on #34574
Child themes with `theme.json` work fine and there's more work incoming. Details at https://github.com/WordPress/gutenberg/issues/25612

[2021-10-11 08:21] ciampo commented on #35464
Are you suggesting we introduce variants to the `Heading` component?

In general, I think that if we want the `Heading` component to be used for all headings, we may need to:

- define clearly all of the allowed "heading" styles
- update the `Heading` component to support these styles
- refactor the code for all headings to use the `Heading` component

Another example of where a heading is require

[2021-10-11 08:23] jasmussen commented on #35464
I'm not necessarily suggesting anything in specific here, only providing context to help a path forward. It's possible that it could exist purely as a heading level style (such as the H3 style), but I do suspect that there might be contexts where the subheading style needs a higher heading level, but still the visually lower styling (such as when showing the contents of a particular panel in a pop

[2021-10-11 08:30] ciampo commented on #35464
Absolutely, I think we should definitely be able to decouple the HTML semantic (e.g. `h1/h2/h3/h4/h5/h6`) from the visual style

[2021-10-11 08:34] jasmussen commented on #35464
I also think we want to end up with very few styles overall, so as to find a good balance, and obvious implied usage guidelines.

[2021-10-11 09:17] #33078 closed, assigned to ellatrix

[2021-10-11 09:30] #34681 closed, assigned to Aljullu

[2021-10-11 09:32] ribaricplusplus opened #35498 "Site editor: Cannot read properties of undefined (reading 'getAlignments')"
### Description

I get the following error (and also the query block doesn't work) when I try to open the Site Editor while doing development on tt1-blocks:

[code]
I created an issue here because the error happens in Gutenberg files so it's probably not a thing that the tt1-theme can do anything about. Maybe it's caused by some theme.json settings or I just did something wrong?

**Important note*

[2021-10-11 09:36] ciampo commented on #34817
Update: after #35020 and #34542, the situation is as follows:

- the shift-stepping functionality has been removed from `RangeControl` — which means that only `NumberControl` currently has it
- the `useJumpStep` has become dead code, since `NnumberControl` also stopped using it

We should now think about the next steps:

- We should probably remove the `useJumpStep` functionality (it can always be

[2021-10-11 09:46] cbravobernal commented on #30572
May I take this one @SantosGuillamot?
Thanks!

[2021-10-11 09:59] uniquesolution commented on #23745
Why not provide just "**Widget Area**" insertable inside as submenu item. In this way we can create the whole mega menu how we like in a widget area and then just insert it in a menu just as a submenu item ?

[2021-10-11 10:23] francisbarton opened #35499 "Block content (Custom HTML) overlaps with line numbers and left edge not visible"
### Description

When editing a Custom HTML block*, the HTML is hard to read and work with because the line numbers are overlapping. Also, the left edge of the HTML is not visible. (See screenshot). There is a vertical scrollbar but no horizontal scrollbar.

Furthermore, (a separate issue) when I select a line of HTML and intend to Cut and Paste it elsewhere in the HTML, as soon as I use Ctrl+X to

[2021-10-11 10:34] TeBenachi opened #35500 "Make “Read more” links more meaningful for the screen reader users"
### Description

The repetitive links such as “Read more” can be ambiguous for the screen reader users.
Adding the page or post title after “Read more” makes the text links more meaningful.
For example, instead of hearing “Read more” alone, the screen reader users hear “Read more about hello world”. The page or post title can be hidden from the sighted users using screen-reader-text.

### Step-by-

[2021-10-11 10:35] jameskoster opened #35501 "Site Editing block placeholders"
A couple of recent PRs have sought to tidy up placeholder states for some of the site editing blocks:

* https://github.com/WordPress/gutenberg/pull/35243
* https://github.com/WordPress/gutenberg/pull/35397

It would be good to do this holistically across all of the site editing blocks.

To clarify, these placeholders are for situations in which the blocks have no data to reference.

Here's how th

[2021-10-11 10:36] jameskoster commented on #26856
Closing this in favor of #35501

[2021-10-11 10:48] github-actions[bot] opened #35502 "[Flaky Test] allows zooming using the crop tools"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
allows zooming using the crop tools

## Test path
`/test/e2e/specs/editor/blocks/image.spec.js`

## Errors

<time datetime="2021-10-11T10:48:19.971Z"><code>[2021-10-11T10:48:19.971Z]</code></time> Test passed after 1 failed attempt on <a href="https://github.com/WordPress/gu

[2021-10-11 10:55] jameskoster opened #35503 "Refine the Site Editor loading state"
Here's the current experience loading the site editor:

https://user-images.githubusercontent.com/846565/136778002-4c8c7264-f37f-4b6f-abe8-524966350380.mp4

A couple of issues to address:

- [ ] The FOWPA (Flash of wp-admin) is awkward. Can we hide it?
- [x] The light grey background feels a bit broken. Can we use the dark grey background from the template editor, and isolated template part editor

[2021-10-11 11:06] #33046 closed, assigned to ntsekouras

[2021-10-11 11:07] jameskoster opened #35504 "When a block theme is active, cross-link from category management to site editor"
In appropriate scenarios, it might be nice to offer a shortcut from category management to visual editing of said category.

Here's a mockup I put together last year that communicates the idea. It obviously needs some design updates :)

<img width="643" alt="Screenshot 2021-10-11 at 10 32 10" src="https://user-images.githubusercontent.com/846565/136780054-f4d94048-071c-4c4e-8f31-76599236690d.png">

[2021-10-11 11:07] ciobanu0151 opened #35505 "useDebounce hook loses function calls if the dependency changes"
### Description

If you set a useDebounce with a function callback that can be created with useCallback, If you call the denounced function then the dependencies of the useCallback changes resulting in the useCallback function changing and useDebounce changes also as a result. Because the dependencies of the useDebounced changed the old debounce function calls the cancel method: https://github.com

[2021-10-11 11:15] github-actions[bot] opened #35506 "[Flaky Test] allows changing aspect ratio using the crop tools"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
allows changing aspect ratio using the crop tools

## Test path
`/test/e2e/specs/editor/blocks/image.spec.js`

## Errors

<time datetime="2021-10-11T11:15:11.500Z"><code>[2021-10-11T11:15:11.500Z]</code></time> Test passed after 1 failed attempt on <a href="https://github.co

[2021-10-11 12:12] getdave opened #35508 "Add ability to manually "weight" the categories in the automated changelog"
## What problem does this address?

Currently the available categories for PRs in the automated changelog are:

https://github.com/WordPress/gutenberg/blob/5c6013ab24f37e565a0e60d2710c6d11c3806733/bin/plugin/commands/changelog.js#L159-L171

However, they are not weighted and so when two conflicting labels are provided a PR might end up in the "wrong" category.

For example, a PR might be a fix to

[2021-10-11 12:25] Tofandel opened #35509 "Async version of applyFilters"
## What problem does this address?

The js hooks follow the php logic and currently don't allow for async actions to be performed and return a result

## What is your proposed solution?

Javascript has some very different concepts than php and it would be nice to have `applyFiltersAsync` returning chained promises to be able to fully use javascript's features and to do for example

[code]

[2021-10-11 12:55] mtias opened #35512 "Template part editor: adjust height to contents"
Let's ensure the height of the canvas is reasonable and adjusted to the contents.

![image](https://user-images.githubusercontent.com/548849/136793530-384380b3-4d91-4c20-bf02-a94d83c9928f.png)

cc @jameskoster

[2021-10-11 14:13] dkjensen commented on #31446
+1

[2021-10-11 14:21] felixarntz commented on #35477
@aristath

Can you elaborate why? :) My thinking is that jQuery is primarily a DOM library, and so is `@wordpress/dom`. Some of the functions that are already in `@wordpress/dom` replace functions of the same name and behavior in jQuery. Again, this isn't supposed to be a rewrite or full replacement of jQuery, just a vanilla JS set of utility functions that cover functionalities that jQuery offers

[2021-10-11 15:32] sdwire commented on #34775
Here's another reason one might want to hook in and override theme.json settings. I'm hosting a multi-site installation. In that installation, I offer a custom but highly configurable theme. Different sites using the same theme are configured differently. I would want my theme to have a chance to make some of those theme.json-configured decisions differently for different sites, depending on their

[2021-10-11 16:19] carolinan commented on #35500
Hi
The user is asked to enter their own text for the read more link. If they do not enter their own text, the read more link is not used.
Because the text is custom, we can't add the title after the text, since the result can be unexpected.

[2021-10-11 16:29] sgomes commented on #35477
Thank you for this proposal, @felixarntz! I've had my share of pain reworking themes away from `jQuery`, so I can definitely see where you're coming from! 🙂

In the context of IE 11 support, implementing these methods would have made a lot of sense. Some DOM traversal is simply painful in that scenario, and I've written partial or complete replacements for essential methods like `matches` and `clo

[2021-10-11 16:39] TeBenachi commented on #35500
Aha that’s true!

I wish there is a way to make the repetitive links more descriptive for those who decide to use the read more 😞

[2021-10-11 17:19] spacedmonkey commented on #33420
Cross posting [#53656](https://core.trac.wordpress.org/ticket/53656).

This issue maybe fixed in core first. The plan would be add the namespace into the post type endpoint, so it doesn't have to be hardcoded here.

[2021-10-11 17:21] roundhill commented on #35366
It doesn't make sense to me to see that error message, because when uploading a single video there is no intention to add it to a gallery.

[2021-10-11 17:36] swissspidy commented on #33420
AFAICT the namespace is already available from the post type endpoint via the `wp:items` link, which is the solution I proposed above.

[2021-10-11 17:37] priethor opened #35521 "Navigation Block Tracking Issue i2"
Supersedes #27593

With most of the work in #27593 in place, it is a good time to revisit the Navigation block priorities with a near-future release in mind. Instead of mass-editing the existing issue, let's close it and leave it as a snapshot of a first iteration and focus here on the next round of improvements. Bugs should be reported with the `[Type] Bug` label and added directly to the [Naviga

[2021-10-11 17:40] priethor commented on #27593
As the items in this issue are complete for the most part, I've created #35521 as the next iteration on Navigation Block improvements.

Let's continue there and keep this issue as a first iteration snapshot.

[2021-10-11 17:49] gwwar commented on #31452
@priethor I'm not sure this one needs to be marked as high. With a lighter nav experience in mind, https://github.com/WordPress/gutenberg/issues/34041 folks have been chatting about de-emphasizing link variations in the quick inserter https://github.com/WordPress/gutenberg/pull/35056 and have also chatted about a bulk inserter option in https://github.com/WordPress/gutenberg/issues/31667

[2021-10-11 17:53] priethor commented on #31452
Yup, thanks for double checking, @gwwar !

[2021-10-11 17:57] jasmussen commented on #27593
🚀

[2021-10-11 18:00] kjellr opened #35522 "Post Title Block: Custom margin applied to Headings does is not reflected in the front-end"
If a custom margin values are manually added to the Post Title block via block markup, they're reflected in the editor, but are not present in the front-end.

## Sample markup

[code]

Or, here's a block pattern that uses this markup:

[code]

## Screenshots

Editor|Front-end
---|---
<img width="748" alt="Screen Shot 2021-10-11 at 1 58 54 PM" src="https://user-images.githubusercontent.com/1202812/

[2021-10-11 18:08] thomasplevy commented on #34797
Implemented via #35371

[2021-10-11 18:08] #34797 closed, assigned to nobody

[2021-10-11 18:28] ciampo commented on #35435
Thank you @talldan , I'll try to have a deeper look at this issue in the upcoming days and I'll come back here with any findings.

[2021-10-11 18:43] kjellr opened #35524 "[Post Featured Image]: Allow cropping and/or constraining to a certain ratio"
Similar to https://github.com/WordPress/gutenberg/issues/33789.

Alongside the featured image resizing controls, we should include the option to crop the featured image down to a specific image ratio. This could be a freeform crop control, or it could be just a set of options (1:1, 4:3, 16:9, etc.).

The user can of course enter absolute pixel sizes to do this sort of thing, but then the image won

[2021-10-11 18:52] a-danae commented on #35435
Hey @talldan! Yup, looks like the issue is no longer present after upgrading to the latest `@wordpress/components` version. There are still some other details to consider before upgrading on our end, though, so I've sent a PR to overwrite the styles on our end in the meantime. I guess we could close this issue, but leaving it up to you as I'm not sure what's the process here.

Thanks for checking

[2021-10-11 18:53] gwwar commented on #30109
Closed by https://github.com/WordPress/gutenberg/pull/35170 props @noisysocks

[2021-10-11 18:53] #30109 closed, assigned to nobody

[2021-10-11 18:54] kjellr opened #35525 "Flex Layout: Allow control over flex-wrap"
To build on the flex controls available to the Group block, we should have the ability to specify `flex-wrap`. This would allow us greater design flexibility over the responsive behavior of flex objects.

Related: https://github.com/WordPress/gutenberg/issues/33687

[2021-10-11 19:46] mtias commented on #35504
Also a link to the general category template from the main categories page.

[2021-10-11 19:50] mtias commented on #35524
An `aspect-ratio` control would make sense.

[2021-10-11 19:54] sdwire commented on #29568
I imagine this goes a bit beyond the initial scope of what was trying to be solved here, but there's another facet of color branding and application that I'd like to explore. Here's the experience I've been wanting to offer my clients:

1. With whatever standard names this thread lands on, have the theme allow the admin to select the absolute colors for those names to define the branded palette.
2

[2021-10-11 21:05] paaljoachim commented on #32521
Hey Damian @retrofox
I am thinking you might want to know about this issue. As you have earlier worked on Full-Height for the Cover block.

[2021-10-11 21:30] dcalhoun commented on #35357
@hypest agreed.

I would agree there are now two issues from unmet expectations:

1. Mobile Twitter URLs are valid embeds.
2. Invalid embeds should have similar outcomes in both the web and native mobile editors.

Rephrasing this issue to be a feature request for mobile Twitter URL support sounds good to me. 👍🏻

In regards to a new bug issue for the mobile editor, I might argue that the mobile exp

[2021-10-11 21:30] paaljoachim commented on #30296
General locking is being worked on these days.
Here is a Locking tracking issue:
**On Locking and TemplateLocking**
https://github.com/WordPress/gutenberg/issues/29864

[2021-10-11 21:50] colorful-tones commented on #29167
This would alleviate the need for a CSS reset in themes in this particular aspect.  I would encourage the following entry as part of the CSS:

[code]

Otherwise, it is typically browser default to have monospace font.

Note: this is referenced from Andy Bell's [`modern-css-reset`](https://github.com/andy-piccalilli/modern-css-reset/blob/master/src/reset.css#L52)

Currently, on whether a CSS Reset

[2021-10-11 22:16] bahia0019 commented on #25871
Came here to submit this. Definitely a need for Alpha. There is a spec in HTML for OL Type Attributes.
https://www.w3schools.com/tags/att_ol_type.asp

If it's in the HTML spec, this should be a default option for the List block.

[2021-10-11 23:25] annezazu opened #35530 "Not all blocks are shown in Inserter when selecting the Column inner block"
### Description

When selecting the inner Column block of a Columns block from List view and try to add in a new block, the Inserter shows limited results to pick from. Unclear if this is a bug or intentional but it _feels_ buggy currently. Perhaps we can add in a different message when it's less that "there are no results" and more about needing to select a different block to add in an additional

[2021-10-11 23:54] annezazu commented on #33248
This is still happening in WordPress 5.8.1+Gutenberg 10.6 and it came up in the [tenth call for testing for the FSE Outreach program: ](https://make.wordpress.org/test/2021/09/29/fse-program-testing-call-10-pattern-party/#comment-2054)

https://user-images.githubusercontent.com/26996883/136868405-007bb1e0-6d1e-42f9-9c99-afcbfb35746e.mp4

[2021-10-12 00:02] annezazu commented on #29790
I can no longer replicate this with Gutenberg 10.6 and WordPress 5.8.1. Going to close this out as a result but feel free to reopen if you can still replicate.

[2021-10-12 00:02] #29790 closed

[2021-10-12 00:09] annezazu commented on #31158
More feedback on this setting as well from the [tenth call for testing for the FSE Outreach program](https://make.wordpress.org/test/2021/09/29/fse-program-testing-call-10-pattern-party/#comment-2097):

Seems like the safest option might be saying something like, "Items per query" or something similar.

[2021-10-12 00:23] annezazu commented on #35162
This came up as a piece of feedback during the [tenth call for testing for the FSE Outreach program:](https://make.wordpress.org/test/2021/09/29/fse-program-testing-call-10-pattern-party/#comment-2098)

https://user-images.githubusercontent.com/26996883/136870326-74aaa8ad-37ba-46a8-87ee-5b6038ba4084.mov

[2021-10-12 00:32] annezazu commented on #31255
This came up in the [tenth call for testing as well](https://make.wordpress.org/test/2021/09/29/fse-program-testing-call-10-pattern-party/#comment-2099):

[2021-10-12 00:43] annezazu commented on #33288
This came up as part of the [tenth call for testing for the FSE Outreach program](https://make.wordpress.org/test/2021/09/29/fse-program-testing-call-10-pattern-party/#comment-2099) and the solution explored here I believe will address the root issue of the current experience being unclear that you can customize this part of the Post Excerpt block:

Happy to open a separate issue but, to me, this

[2021-10-12 00:47] tellthemachines commented on #35271
Given these blocks are now inserted directly, I don't think we should restrict them to a type such as Post or Page, because that won't allow users to search for other types (if we restrict to Post users won't be able to search for pages, if we restrict to Page they won't be able to search for categories, etc.); the default was set to custom link to allow maximum flexibility.

I'm not sure exactly

[2021-10-12 01:02] annezazu opened #35531 "Query Loop block toolbar settings don't scale down well"
### Description

If you try to use the query loop block nested in a smaller space, like a column, the settings look broken. This was found as part of the tenth call for testing for the FSE outreach program.

### Step-by-step reproduction instructions

1. Add a columns block.
2. Change it to 4 columns.
3. Add in a Query Loop block to the first column and see the problem.

### Screenshots, screen re

[2021-10-12 01:22] colorful-tones commented on #29167
I would be happy to get a PR going for this. If somebody already knows where in the codebase is likely the place to dig in then feel free to drop it here. Otherwise, I’ll get a PR in next day or two.

[2021-10-12 02:06] talldan commented on #34041
One drawback of this new experience is that there's now no convenient way to insert anything other than a link into an empty navigation block.

Using the main block library is also a little tricky as the user needs to have a sibling selected, they can't select the nav block itself and insert blocks into it, though this is what I instinctively tried first.

edit: I suppose drag and drop is still an

[2021-10-12 03:32] tellthemachines commented on #30115
With the introduction of the Submenu block, this flow has changed a bit: the URL popup no longer appears immediately when clicking "Add submenu". On the other hand, a submenu won't disappear any more if we remove all of its links; it just shows an inserter.

(The quickest way I can think of to immediately revert an added submenu is cmd+z, or ctrl+z on Windows.)

With these changes in mind, is this

[2021-10-12 04:42] talldan commented on #35505
@ciobanu0151 The 'step-by-step reproduction instructions' is there for you to present a way to reproduce the problem.

That seems to be missing and you've just repeated the description. Please could you fill this part out.

[2021-10-12 05:19] talldan commented on #32916
@Jugibur Thanks for reaching out. Sorry some time passed before you got an answer to this. You might have already solved it.

It looks like the issue is with your CPT template. There are two separate issues.
- 'level' should be defined as a number, but you have it as a string. This makes the type checking fail, and is why you see the heading revert to level 2.
- `className` isn't needed because it

[2021-10-12 05:19] #32916 closed, assigned to nobody

[2021-10-12 05:43] Mamaduka commented on #33990
Thanks for contributing, @charwick. Sorry, it took this long to get back to you.

We discussed this issue during the Editor Triage [session](https://wordpress.slack.com/archives/C02QB2JS7/p1634016638203400). Adding the filter makes sense.

[2021-10-12 05:44] andrewserong commented on #35331
I'm currently working on refactoring a few of the block supports to ensure they render correctly in the site editor in #35450. I _think_ I've managed to get it working properly for Duotone in the Site Editor (haven't tested block patterns thumbnails yet) by outputting to `wp_footer` instead of `admin_footer`, but I'm keen for feedback on the PR as there's a lot of context to how Duotone was implem

[2021-10-12 06:08] getsource commented on #34224
In case it's relevant (I think it is, as far as auto-switching?), during testing of #34072, I noticed that if the link is manually edited to a different post ID that exists, but without using autocomplete, that doesn't update the ID attribute.

[2021-10-12 06:21] stevenlinx commented on #35366
1.)
This point here is only reference for others reading.

Gallery block is only for images:
https://wordpress.com/support/wordpress-editor/blocks/gallery-block/
"The Gallery block allows you to easily add multiple photos and have them automatically arranged in an attractive way." (it doesn't mention video)

To embed videos, you can only use the Video block.
https://wordpress.com/support/wordpress

[2021-10-12 06:31] #15529 closed

[2021-10-12 07:06] andrewserong commented on #34817
Thanks for the ping and for writing up the current state of things!

Personally I'd prioritise these over following up with the shift-stepping behaviour in NumberControl.

For next steps around shift-stepping, I'd lean toward keeping things as they currently are. I don't think it's worth the trouble adding it back into RangeControl (since it doesn't really seem that beneficial for that component),

[2021-10-12 07:19] talldan commented on #35169
Closing this as per the above comment.

[2021-10-12 07:19] #35169 closed, assigned to nobody

[2021-10-12 07:25] talldan commented on #35229
I can't really see anything in 03d43d8 that might have caused it.

cc @ellatrix just in case you have any ideas.

I take it this was noticed via an incompatibility with coblocks given the mentioned issue (godaddy-wordpress/coblocks#2049)?

[2021-10-12 07:27] jasmussen commented on #34041
This is definitely leaning in the 80% direction, heavily so. Though I would also note, we've solved one half of the effort: the simpler menu building. The second half is to make the transforms more obvious. I shared some additional mockups in [this comment](https://github.com/WordPress/gutenberg/pull/35056#issuecomment-926454059), but will copy them here for visibility, and the hopes that they mig

[2021-10-12 07:27] talldan commented on #35211
@Lovor01 It looks like you didn't include the error when copy/pasting. It just says 'The above error occurred in the <input> component'. Would you be able to check the console for the error? Thanks.

[2021-10-12 07:28] ciobanu0151 commented on #35505
@talldan I updated the bug with a code example on how to replicate the issue and a possible fix for the problem

[2021-10-12 07:30] talldan commented on #35250
There's an option in the sidebar for the image block:
<img width="287" alt="Screenshot 2021-10-12 at 3 28 59 pm" src="https://user-images.githubusercontent.com/677833/136911349-66169013-5461-4b6d-bf6f-cbfa0ba7b86f.png">

I think the 'alt' text from the media library is only added to block when creating a new block, it won't dynamically update.

[2021-10-12 07:30] #35250 closed, assigned to nobody

[2021-10-12 07:32] talldan commented on #35294
I think @kevin940726 was referring to a new API that would be implemented in Gutenberg (as an alternative to having a callback prop).

[2021-10-12 07:35] talldan commented on #35346
Hi @porg. The media library is a feature of WordPress core. Would you be able to create a ticket on WordPress trac for this - https://core.trac.wordpress.org/? Thanks.

[2021-10-12 07:35] #35346 closed, assigned to nobody

[2021-10-12 07:37] talldan commented on #35366
I tested and it worked ok for me, a video block was inserted when dragging to an empty part of the editor. @roundhill could this issue be caused by a plugin that you have active?

[2021-10-12 07:39] talldan commented on #35408
@eeeeevon13 Please could you fill out the issue template when creating an issue. Thanks.

[2021-10-12 07:39] #35408 closed, assigned to nobody

[2021-10-12 07:44] talldan commented on #35494
Thanks for reporting. There's a few places this happens and it seems to be caused by block previews conflicting with sidebar.

The issues are being tracked at https://github.com/WordPress/gutenberg/issues/24611

[2021-10-12 07:44] #35494 closed, assigned to nobody

[2021-10-12 07:44] JustinyAhin commented on #35448
I was not able to reproduce this fail. Tried both in headless and non-headless mode.

Run the test file multiple times with `for i in {1..15}; do npm run test-e2e -- packages/e2e-tests/specs/editor/various/block-switcher.test.js; done` and it always passed.

[2021-10-12 07:45] talldan commented on #24611
Another report of this in https://github.com/WordPress/gutenberg/issues/35494 with the patterns panel.

I've retitled the issue to make it easier to find.

[2021-10-12 07:53] talldan commented on #35505
Thanks!

[2021-10-12 07:53] JustinyAhin commented on #35387
I run the test 15 times using `for i in {1..15}; do npm run test-e2e -- packages/e2e-tests/specs/editor/various/preview.test.js; done` and I was not able to reproduce the test fail.

Needs more investigation.

[2021-10-12 07:54] ciampo commented on #35435
Hey @a-danae , upgrading to the latest version is the correct thing to do here.

In general, we're in process of migrating the components internal styling system to Emotion. While this will practically be just an internal implementation detail, one consequence is that external code relying on hardcoded classnames can stop working. As a rule thumb, and to avoid further issues like this one, we shou

[2021-10-12 07:55] JustinyAhin commented on #35387
This test just fails in another PR checks (https://github.com/WordPress/gutenberg/pull/35534/checks?check_run_id=3867384922#step:6:66) so, definitely need more digging.

[2021-10-12 08:02] jasmussen commented on #30115
The block has indeed evolved quite a bit, and the submenu block makes the experience feel less fragile or prone to error. Combined with improvements to simple menu item building, and simplified page link setup states, it's a good time to reevaluate both this ticket and in extension #30116. For the conversation, here's a GIF showing the current flow for adding submenu items, how to link them up, an

[2021-10-12 08:06] rmorse commented on #34977
There might be some cross over with this ticket: https://github.com/WordPress/gutenberg/issues/30706

[2021-10-12 08:06] jasmussen commented on #30115
One thought: at the moment the Navigation block employs a "absorb toolbar" feature which always anchors the block toolbar to the navigation container, even that of child blocks. It could be interesting to unset that for the _navigation_ block, and instead apply that to _submenu blocks_. That would let the block toolbar align with the submenu block, rather than the navigation block, potentially fee