[2022-05-23 11:41] beafialho opened #41234 "Consider adding a layout grid or guides to the site editor"
I decided to open this issue but let me know if this has been raised elsewhere.

Landing in a blank canvas is great for writing, but when you're designing a site or theme, visual guidance is desirable. Hence, a grid you could toggle on/off would be neat to have, given the responsive nature of the site editor.

A quick example of what customisation features it could contain:
- Number of columns
- G

[2022-05-23 11:43] #39063 closed, assigned to nobody

[2022-05-23 11:44] scruffian commented on #27796
I believe the way forward here is outlined in https://github.com/WordPress/gutenberg/pull/34180

[2022-05-23 11:51] mtias commented on #41234
See also #16271.

[2022-05-23 11:58] costdev commented on #41233
This also occurs on WordPress 5.9.0, with or without the Gutenberg plugin installed.

[2022-05-23 12:05] gziolo opened #41236 "Block API"
This overview issue collects an actionable list of impactful tasks that capture possible enhancements to the various [Block APIs](https://github.com/WordPress/gutenberg/tree/trunk/docs/reference-guides/block-api) that exist to power the WordPress block editor.

Block API is intentionally a vague term reflected in the list of action items grouped into categories like block registration, block attri

[2022-05-23 12:16] beafialho opened #41237 "Add font families to Global Styles + consider a design stylesheet"
@henriqueiamarino and I were chatting earlier about how when we access styles we can see “Typography”, “Colors” and “Layout”, but when we click the first one, we can’t select different type families. That's only possible if you travel back to the Customizer, which is already omitted in some themes.

Additionally, it would be nice to see some sort of visual stylesheet where we could edit all parame

[2022-05-23 12:18] beafialho opened #41238 "Site editing: Make it possible to edit site in different screen sizes"
Currently, it is not possible to edit styles and layout specifically for tablet/mobile, settings will always be the same as in desktop.

While our site/theme should automatically adapt to mobile, it would be great to be able to:
- adjust typography sizes and layouts for individual breakpoints as needed
- set mobile typography styles site-wide so we don't have to do it in every page

Related and re

[2022-05-23 12:35] mtias commented on #37946
Related #40450.

[2022-05-23 12:39] mtias commented on #36612
Wouldn't this just be adjusting the template description?

[2022-05-23 12:44] mtias commented on #31750
I think this is mostly done and we don't need a tracking issue for the left overs.

[2022-05-23 12:44] #31750 closed, assigned to nobody

[2022-05-23 12:44] mtias commented on #41060
Also related #31746.

[2022-05-23 12:46] mtias commented on #41060
And there's also #31591. @jameskoster can we collect all the related issues and have an easier to follow tracking flow?

[2022-05-23 12:47] mtias commented on #31284
Before supporting the entire block as drag handle we should allow the entire toolbar in select mode to be draggable.

[2022-05-23 12:48] mtias commented on #31236
Is this issue still useful for tracking improvements?

[2022-05-23 12:49] mtias commented on #41060
Also run into #30865. :)

[2022-05-23 12:54] edemir206 commented on #38637
Hello,

We are facing the same issue at www.ufsm.br

Our urls examples:
https://www.ufsm.br/midias/arco/pesquisa-de-dida-larruscain-aborda-saberes-profissionais-de-musicodocentes-%ef%bf%bc/

https://www.ufsm.br/unidades-universitarias/ct/2022/05/06/depg-divulga-resultado-da-selecao-de-monitores%ef%bf%bc/

![image](https://user-images.githubusercontent.com/1863099/169823169-7606c858-ecc3-45ea-bccf-

[2022-05-23 12:55] jameskoster commented on #29558
Closing in favor of #37407

[2022-05-23 12:55] #29558 closed

[2022-05-23 12:56] mtias commented on #26639
Most of these are in a "theme" category now.

[2022-05-23 12:56] #26639 closed

[2022-05-23 12:57] #26632 closed

[2022-05-23 12:57] #26495 closed

[2022-05-23 13:13] mtias opened #41241 "Site Editor & Templates Roadmap"
![image](https://user-images.githubusercontent.com/548849/152579101-53290df4-3067-45bd-b5f6-b7b5eca964ce.png)

---

The largest amount of work is around clarifying the user experience of editing global concepts (styles, templates, navigation) from specific site content. To address some of these issues a few explorations are underway:

- [x] #36667
- [x] #37001 (Needs discussion.)
- [x] #39293

Thi

[2022-05-23 13:18] mtias commented on #41238
There are already a couple issues describing this:

- #19909.
- #20244.

[2022-05-23 13:18] #41238 closed, assigned to nobody

[2022-05-23 13:36] mtias commented on #29503
Crossed:

### <del>Improvements to Site Logo block #30406</del>

[2022-05-23 13:40] mtias commented on #33094
**Updated:**

- Added a new tracking issue for site editor #41241 and closed #27814.

[2022-05-23 13:40] mtias commented on #27814
Time for a new reset: #41241

[2022-05-23 13:40] #27814 closed

[2022-05-23 13:41] henriqueiamarino commented on #41234
The addition of grids on the Editor will require different views and grid variation.
Today we have those views under _Preview_ as Desktop, Tablet and Mobile.

I think **Webflow** does a good work gathering both topics with simplicity — although they allow editing on a wide range of views, which can be confusing to non-designers. This might be a good initial inspiration here.

![grid_media-queries_

[2022-05-23 13:41] beafialho commented on #41229
Closing this one as this has been raised in #21540

[2022-05-23 13:41] #41229 closed, assigned to nobody

[2022-05-23 13:45] jameskoster commented on #36612
For most templates yes thats probably adequate. But in the case of a static homepage there are many templates that might display it – index, page, $custom.

I'll update the issue.

[2022-05-23 13:59] deborah86 opened #41242 "Gutenberg Open Source Font Repository"
## What problem does this address?

Many people are turned away from using Google Fonts because of tracking. Also, in order to use Google Fonts, separate plugins might be required.

## What is your proposed solution?

I suggest Gutenberg create its own open source directory for fonts. This would be similar to the theme and image directories. Users could select fonts from this directory instead of

[2022-05-23 14:02] mtias commented on #9534
This has run its course.

[2022-05-23 14:04] #37550 closed, assigned to nobody

[2022-05-23 14:06] mtias commented on #41242
It might make more sense for this to exist in https://github.com/WordPress/openverse

[2022-05-23 14:17] getdave commented on #40316
@peterwilsoncc Whilst I appreciate your frustration, I am sorry to see this being perceived as being provocative. At the very least I can assure you it was not deliberately so.

As the author of that deprecation PR, I have tried to act in good faith to provide maximum communication around the impact of the change. It has been raised in x2 Core Editor chats and numerous folks have done direct outre

[2022-05-23 14:21] #24341 closed

[2022-05-23 14:26] justintadlock commented on #41230
Generally, variations are pre-configured settings for a block and don't have a custom class attached to them.  Would it make more sense for there to be justification and/or orientation-based classes that are more general purpose than specific to Group?

However, there is some precedent for variations having their own classes, but these are also very specific cases:

- Social Links - adds `.wp-soci

[2022-05-23 14:26] adamsilverstein commented on #17632
We could add an action hook but it would likely be triggered by the same subscribe method in the PR, so I'm not sure of the advantages. I do it would be easier to use from an action/listener perspective, but part of the resistance to adding this type of hook from the project has been encouraging a shift to more state driven development practices. Therefore, I'm not sure an action hook would be acc

[2022-05-23 14:31] dozentis commented on #39868
**Social Icon block**
I think a phone icon (for links like tel:+.....) is neccessary

[2022-05-23 14:34] markhowellsmead commented on #41230
A current use-case is to be able to adjust the block gap on row-layout group blocks; that's impossible in 6.0-RC4. Generic justification and orientation classes - even if they're not used by core to control layout - would be a simple and effective way to be able to target such blocks.

[2022-05-23 14:35] luisherranz commented on #41236
This can be a good first step, but acknowledging that we need more than that in the near future: probably `asycn/defer` (something like what @adamsilverstein proposed in https://github.com/WordPress/performance/issues/168) or even do the jump to ESM.

Apart from that, I think we should explore a mechanism to export different code depending on the context (Edit, Save, or Frontend): https://github.c

[2022-05-23 14:36] mtias commented on #39439
Fleshing out this idea a bit further, I think we could instrument something where every block that has an inner blocks area with `allowed-blocks: *` would support loading blocks that declare themselves as being for that region.

From the perspective of the child block:

[code]

The `before` and `after` could be implicit positional hooks for all blocks (i.e. if I have a plugin that wants to add a "

[2022-05-23 14:38] dozentis commented on #39419
A phone icon is also very useful in any case. link `tel:+4912345`

[2022-05-23 14:54] justintadlock commented on #40679
I can verify that this is being generated via both the Block Library inline CSS and the Global Styles inline CSS.

[2022-05-23 15:05] markhowellsmead commented on #41230
If there are e.g. orientation classes, then this would allow them to be applied by core instead of outputting the rules over and over again as part of inline CSS. (See https://github.com/WordPress/gutenberg/issues/36135 for a very similar topic, in which @keithdevon suggests a similar solution featuring reusable class names instead of repetitive inline rules.)

[2022-05-23 15:19] justintadlock commented on #40703
This is related to #38267, which proposes adding a method to update adjacent button styles. Leaving this open since it's a proposal for a slightly different approach. But, we can close in favor of the other.

Also see: #27324

[2022-05-23 15:20] tomalec commented on #24376
I was thinking of mentioning that in [`@wordpress/dependency-extraction-webpack-plugin`](https://www.npmjs.com/package/@wordpress/dependency-extraction-webpack-plugin) docs. But I think we need to be cautious not to introduce more confusion.
As if in the context of DEWP, we would suggest to use `npx wp-scripts packages-update --dist-tag=wp-5.8` somebody may think it will update externalized depend

[2022-05-23 15:23] deborah86 opened #41243 "Fix the WordPress Status Bar to Make Actions Clearer to the User"
## What problem does this address?

New users might not understand what the buttons mean on the status bar because they are unclear. The buttons should be labeled properly to make them easier to understand.

## What is your proposed solution?

![image](https://user-images.githubusercontent.com/12677420/169851851-647601cc-56b3-43a5-bbff-ae100ac042d4.png)

- Next to the Dashboard icon, the menu shou

[2022-05-23 15:38] justintadlock commented on #41243
Features/Bugs related to the admin toolbar should be posted over on the WordPress Trac: https://core.trac.wordpress.org/

Leaving this ticket open, pending feedback from the OP if there is something specific to Gutenberg or block editor toolbars.

[2022-05-23 15:45] deborah86 opened #41244 "The Manage Themes Screen Needs to Indicate Clear User Actions"
## What problem does this address?

A new user might not understand the difference between uploading a theme and browsing the theme repository. To make it easier for new users to use WordPress, user actions should be clearer.

## What is your proposed solution?

![image](https://user-images.githubusercontent.com/12677420/169856139-bdf7efe4-599f-4bf2-8184-7a1388c679d4.png)

- The Add New isn't desc

[2022-05-23 15:47] adamsilverstein commented on #39223
Thanks for pointing that out @mtias - that one is about autosave during image uploading so slightly different. I'll double check that locking post saving also locks autosaving, if not I'll update to lock both.

[2022-05-23 15:49] getdave commented on #41146
@annezazu @carolinan A few contributors have discussed this and it looks like the problem is due to CSS specificity introduced by the fact that the Nav block has (for historical and legitimate reasons) a custom implementation of the color picking system.

We could [extend this system to affect a patch](https://github.com/WordPress/gutenberg/pull/41199) but as [a few folks have noted](https://githu

[2022-05-23 15:51] adamsilverstein commented on #39223
Despite the title I can't tell if this ticket will be resolved with my PR, it looks like the author wants some event trigger on upload completion which makes me consider another approach. Currently, I'm working to detect when an image upload starts and finishes and locking and locking post saving accordingly.  One possible variation would be to track "isImageUploading" in state, then use that bit

[2022-05-23 16:07] PeterNdomano opened #41245 "Cover Block: Add ability to detect if featured image is available or not and render accordingly"
## What problem does this address?
When using a cover block's "useFeaturedImage" option in a post/page template I'm forced to make some tradeoffs if the post did not have a featured image. This makes UI un-appealing sometimes.  Refer to this [suggestion](https://github.com/Automattic/themes/pull/5987#discussion_r879578324)

## What is your proposed solution?

I suggest that when the useFeaturedIma

[2022-05-23 16:13] cbirdsong commented on #41230
Also related:
- #38719

---

Here is my workaround filter for now:
[code]

This is from a non-theme.json theme with the `wp-container` class output disabled, so I don't know how this interacts with that or custom units.

[2022-05-23 16:13] draganescu commented on #29575
This is so cool ❤️

I wonder:

- will the schedule updates feature only be available for editing templates, not when editing individual template parts?
- just checking, we assume only one set of scheduled changes for template is available at a time, right?
- I can't grasp from the mockup what happens if edit a scheduled template and it's parts, will I have to "reschedule" and just select the same

[2022-05-23 16:13] jameskoster commented on #31236
Probably not. Many things have changed since this issue was opened, which brings a few of the items into question.

[2022-05-23 16:13] #31236 closed, assigned to nobody

[2022-05-23 16:18] markhowellsmead commented on #41230
#38719 seems to be highly relevant. This has clarified that some semantic class names, which we're discussing here, have actually been **removed** at some point since 5.8. I expect that this was a decision made by someone, possibly erroneously, when moving CSS to the inline output.

[2022-05-23 16:22] deborah86 opened #41247 "The Theme Details Page Options Need to be Streamlined"
## What problem does this address?

It is difficult for new users to spot all the options available to manage a theme on the theme details page.

## What is your proposed solution?

![image](https://user-images.githubusercontent.com/12677420/169863773-a273c401-78a7-4ecb-bb33-57ec45f320ee.png)

- Put all theme management options in a single location in the UI instead of having them multiple locatio

[2022-05-23 16:25] deborah86 opened #41248 "Add the Ability to Delete Multiple Themes on the Themes Page"
## What problem does this address?

A user might have multiple themes installed. Clicking on each theme to delete it might be tedious.

## What is your proposed solution?

Add the ability to delete multiple themes on the themes page.

[2022-05-23 16:25] markhowellsmead commented on #41230
Thank you @cbirdsong for the suggestion; that had been the approach which I have as a draft in our basis theme. It seems somewhat counter-intuitive to re-build the code through the `render_block` hook without first knowing what the reasons were behind the removal of the semantic class names in the first place.

[2022-05-23 16:27] justintadlock commented on #41244
This repository is for Gutenberg tickets.  I recommend adding this ticket to the WordPress Trac system: https://core.trac.wordpress.org/

[2022-05-23 16:34] deborah86 opened #41250 "Add the Ability to Allow/Disallow Auto-Update for Multiple Themes on the Theme Page"
## What problem does this address?

Right now, a user has to click on each individual theme to allow auto-update. If the user has multiple themes installed, this can be tedious.

## What is your proposed solution?

My proposed solution is to have the option to allow/disallow auto-update for multiple themes on the theme page.

[2022-05-23 16:35] deborah86 commented on #41243
@justintadlock I posted the suggestion here:  https://core.trac.wordpress.org/ticket/55795#ticket

[2022-05-23 16:39] justintadlock commented on #41243
Thanks! I'm closing this ticket since it's specific to WordPress core and there is a new one in the right place.

[2022-05-23 16:39] #41243 closed, assigned to nobody

[2022-05-23 16:52] javierarce commented on #29575
Ah, those are great questions I should have included in my design.

I think only at the template level, otherwise it could get very confusing and complicated to manage.

If you edit a scheduled template the default option will be to add the changes to the current scheduling, but you'll be able to: a) adjust the scheduling b) save as a draft c) save immediately.

Here's a mental excercise of what I

[2022-05-23 16:58] justintadlock commented on #40869
I was unable to replicate this issue when adding the Archives block inside the Header template part and the `[gallery]` shortcode or the `[caption]` shortcodes within the default Page template on WordPress 6.0-rc4 with Gutenberg 13.2.2.

I tried the shortcode in various places.  I put it in the Header template part, in the Page template, and within the page content itself.

@itsthex Can you provid

[2022-05-23 17:01] deborah86 opened #41252 "Better Description for the Additional CSS Classes Advanced Option"
## What problem does this address?

The description for the Additional CSS Classes option does not explain what the option does and it does not link to documentation.

## What is your proposed solution?

![image](https://user-images.githubusercontent.com/12677420/169869739-114fac86-7c64-45f6-9914-1a1244c863a9.png)

The documentation should be linked. The feature should also be explained so someone

[2022-05-23 17:39] javierarce commented on #29575
And then there's also [@jameskoster question](
https://github.com/WordPress/gutenberg/issues/29575#issuecomment-1125152490):

Should we exclude the content changes from that flow? And… is that something we can technically do?

[2022-05-23 17:41] jameskoster commented on #27851
Yes there is some overlap with that flow.

On reflection I'm not sure how important _this_ affordance is. It essentially allows you to duplicate the current template whilst editing it, and add specificity. I'm not convinced that's something you'd do whilst editing the template. As I said above (almost a year to the day :D) it seems like an exercise better suited to the template list.

Once #41060

[2022-05-23 17:57] jameskoster commented on #41008
https://github.com/WordPress/gutenberg/pull/41024 Partially resolves this. https://github.com/WordPress/gutenberg/issues/41060 will handle the suggestion of patterns on creation. I'll create a new issue to align the "New template" menu with regular templates.

[2022-05-23 17:57] #41008 closed, assigned to nobody

[2022-05-23 18:01] jameskoster opened #41255 "Site editor: Align template part creation with regular template creation"
Currently template and template part creation UIs do not match:

### Add template
This flow uses a dropdown menu:
<img width="1326" alt="Screenshot 2022-05-23 at 18 58 50" src="https://user-images.githubusercontent.com/846565/169879461-9c54a9a4-ec97-48a0-9947-dffa91b875d3.png">

### Add template part
This flow goes directly into a modal:
<img width="1402" alt="Screenshot 2022-05-23 at 18 59 13" sr

[2022-05-23 18:05] justintadlock commented on #40922
Related: https://github.com/WordPress/gutenberg/issues/15486

[2022-05-23 18:11] jameskoster commented on #41255
Just noting that this may not be necessary if we implement https://github.com/WordPress/gutenberg/issues/36613.

[2022-05-23 18:14] deborah86 opened #41256 "Initial Social Media Block Not Changing When Default is Changed"
### Description

The initial social media block does not change its settings when the default settings are updated. Subsequent social media blocks work fine.

### Step-by-step reproduction instructions

1. Add the social media block to the page
2. Add the icon to the block
3. Change the default style of the block

### Screenshots, screen recording, code snippet

![image](https://user-images.github

[2022-05-23 18:16] jameskoster commented on #31531
This doesn't seem to be an issue any more:

<img width="291" alt="Screenshot 2022-05-23 at 19 15 21" src="https://user-images.githubusercontent.com/846565/169881772-34332093-ad6a-430c-81ad-9723a89f986b.png">

Though it would be helpful if the `option` label in the dropdown matched the panel header.

[2022-05-23 18:16] #31531 closed, assigned to nobody

[2022-05-23 18:26] jameskoster commented on #30865
I don't think this needs a dedicated issue, we can explore it generally as a part of https://github.com/WordPress/gutenberg/issues/31591.

[2022-05-23 18:26] #30865 closed, assigned to nobody

[2022-05-23 18:42] skorasaurus commented on #41250
Hi,

Thanks for requesting! This issue affects all WordPress installations not just ones using Gutenberg so it would be more appropriate to post on [Trac, the general WordPress issue tracker](https://make.wordpress.org/core/handbook/contribute/trac/).

Fortunately, there is already an [issue made for this](https://core.trac.wordpress.org/ticket/55321) although it is poorly named and the issue's au

[2022-05-23 18:42] #41250 closed, assigned to nobody

[2022-05-23 18:47] noahtallen commented on #41171
I remember there was a weird thing with the automatic client detection settings here: https://github.com/WordPress/gutenberg/blob/d5915916abc45e6682f4bdb70888aa41e98aa395/packages/env/lib/init-config.js#L165-L168

It feels a bit weird to make the IDE configurable in .wp-env.json, just because different devs might use different IDEs for the same project. Would it make sense to allow it to be passed

[2022-05-23 19:11] jameskoster commented on #31591
I've been looking at the various template related issues as we organise the tasks in https://github.com/WordPress/gutenberg/issues/41241. As a part of that effort this issue has been distilled down to just two tasks:

* When creating a template in the post editor ask whether that template should be $custom or specific (page-$slug)
* Provide a more visual template handling experience

This issue ha

[2022-05-23 19:11] #31591 closed, assigned to nobody

[2022-05-23 19:15] jameskoster opened #41257 "When creating a template in the post editor, ask the user whether it should be $custom or specific (page-$slug)"
Whilst editing a post it's possible to create a new template via the "Template" panel in the inspector. Doing so will create a $custom template that can subsequently be applied to any other post.

Sometimes it may be preferable to create a template just for the post currently being edited. We should offer the user the chance to choose their preference.

This can potentially reuse parts of the UI f

[2022-05-23 19:19] jameskoster opened #41258 "Provide a more visual template selection process in the post editor"
Changing the post template can have an enormous impact on how that post appears on the frontend of your site. However the current UI offers no visual feedback whatsoever:

https://user-images.githubusercontent.com/846565/169890679-bd0f0dc9-3e0f-41b4-aa81-20243fb2172d.mp4

You have to click "Edit" to get a view of how your post will look, but from there it's not possible to change the template unti

[2022-05-23 19:23] jameskoster commented on #41258
It's possible that a solution for https://github.com/WordPress/gutenberg/issues/27847 could facilitate this by making it possible to change template while viewing the layout.

[2022-05-23 19:25] cbirdsong opened #41260 "Layout panel options cannot be edited across multiple blocks without data loss"
### Description

When editing multiple layout-enabled blocks, the layout panel applies the first block's layout settings to all subsequent blocks once any layout setting is changed.

### Step-by-step reproduction instructions

1. Add multiple buttons or row/stack group blocks to a page, and set them to have different justifications in the Layout panel of the sidebar.
2. Select them all, and change

[2022-05-23 19:43] justintadlock commented on #41256
The default style picker has been removed (won't be in WP 6.0) and is planned to be reintegrated into the Global Styles feature in the future.  See: https://github.com/WordPress/gutenberg/issues/41017

[2022-05-23 19:58] justintadlock commented on #40892
I believe what I'm seeing in the video is the "correct" behavior.  After editing an existing link, you must either hit the `Enter` key or click the "submit" (curved arrow) button.  Otherwise, the link edit will not take.

Admittedly, this is not particularly evident from the UI and probably needs some refinement.

Can you give it a try while taking the submit action before clicking the "open in ne

[2022-05-23 19:58] bdurette opened #41261 "Higher contrast block identification border"
## What problem does this address?

When I hover the mouse over a block in the List View, the editor helpfully highlights the block by adding a 1 pixel blue border. However, this blue color is not always high contrast with the background for the highlighted block, so it's sometimes hard to see.

The following screenshot was taken with the mouse over the Paragraph block. I can barely make out the b

[2022-05-23 20:06] annezazu commented on #41178
I'm not quite sure! I'd be keen to hear some design thought. Right now though, there's nothing to indicate why a first pass deletion didn't work and why the placeholders returned. To me, it inherently felt broken and was frustrating to delete three things only to have them all pop back up seemingly spontaneously.

[2022-05-23 22:35] admturner commented on #40528
Thanks, @amustaque97! I tried adding `"files": [ "*" ]` to my `package.json` file and I do see the same results you do, but it isn't changed from the original behavior. The problem isn't that it's ignoring files like `.gitignore`; the problem is that it's placing wanted root files like the plugin entrypoint in a dot-directory. As @seebz noted, the root files are being generated, but they're stored

[2022-05-23 22:50] #32929 closed, assigned to francisei

[2022-05-24 00:59] danieliser commented on #17428
@senadir - I wonder if its dependency overlap. WP includes custom versions of react, redux etc. React-DnD also uses those but explicitly the normal versions which would end up bundled with your code as well.

[2022-05-24 01:29] superdav42 opened #41263 "Playground broken in storybook"
### Description

[playground broken on stories page](https://wordpress.github.io/gutenberg/?path=/story/playground-block-editor--default) just vist the page and you will see the error
[code]
and nothing works on the page.
Tag v13.1.0 seems to work fine so something must have been introduced since then.

### Step-by-step reproduction instructions

Visit https://wordpress.github.io/gutenberg/?path=/

[2022-05-24 02:38] carolinan commented on #41060
I strongly disagree because I believe there still needs to be room for individuality, uniqueness and creativity.
A theme specifically created for say, a dog rescue, may not want to load patterns built for a pub or dentist.

There is a third aspect that I wish I did not need to bring up, there are many patterns already in the directory that are frankly, too low quality for me to want to feature, an

[2022-05-24 02:52] peterwilsoncc opened #41265 "Review formally stable APIs scheduled for hard deprecation."
## What problem does this address?

This is a sister issue to #40316 to discuss soft deprecated stable APIs.

The WordPress handbook lists backward compatibility as one of it's most important philosophies:

-- My emphasis, [source](https://make.wordpress.org/core/handbook/about/release-cycle/version-numbering/)

During the early, pre-merge, phase of Gutenberg development a decision was made to mov

[2022-05-24 03:16] peterwilsoncc commented on #40316
I've created #41265 for the discussion of hard deprecation of formally stable APIs.

@youknowriad I think this is quite disrespectful to Marius. I shouldn't have to back him up as a second committer to make the point stick. Sure, push back and seek a resolution but put things on hold. I know he and I are not the only Core committers who have this concern. I'm won't claim to be inundated but I am g

[2022-05-24 05:24] carolinan opened #41267 "Recommend installing Gutenberg if the content includes an experimental Gutenberg block"
## What problem does this address?

When post content (or a block template) includes a block that is missing, the editor can suggest to the user that they can install the plugin that includes the missing block.

For blocks that are in Gutenberg but not in WordPress core, the editor does not suggest that we can install Gutenberg:

![image](https://user-images.githubusercontent.com/7422055/169955042

[2022-05-24 05:26] carolinan commented on #41267
I understand that it is backwards to make a change in Gutenberg to install Gutenberg; but I believe this is where we propose editor changes?

[2022-05-24 05:34] #31662 closed, assigned to ajlende

[2022-05-24 05:51] SaxonF commented on #39281
@mtias I can add a few more details to @jameskoster  initial issue [here](https://github.com/WordPress/gutenberg/discussions/35800) if it makes sense. Grey material for inserter is slightly transparent and blurred to take on some colour from site behind. Lighter blue was just an experiment to see how canvas background would look if it were a lighter (or darker) variation of the dominant colour in

[2022-05-24 06:51] kevin940726 commented on #35496
It seems like the block popover is being rendered in the wrong place. The "Options" button is covered by the editor sidebar. I don't know if there's any change being done related to the block popover?

[2022-05-24 07:40] masteradhoc commented on #40002
+1

[2022-05-24 07:44] gziolo commented on #40528
[code]

It looks like a simple fix to apply. Is anyone willing to open a PR?

[2022-05-24 07:51] fabiankaegy commented on #22834
I also wanted to add that this issue keeps coming up on custom client builds because pseudo-elements are commonly used elements. As mentioned above the experience users get when the UI in the editor does not match the representation on the frontend breaks user trust and therefore causes a lot of harm.

I understand that this is not an easy issue to solve and I appreciate the thoroughness of the th

[2022-05-24 08:13] paaljoachim opened #41274 "Cover block - Content position containing 3 images: Backend different vs frontend"
### Description

I added a Cover block.
I added 3 images (medium size) beside each other. All aligned left. Content position bottom center.

Looks like this in the backend.
![Screenshot 2022-05-24 at 10 06 21](https://user-images.githubusercontent.com/5323259/169982113-20fec04d-2fc2-490e-be1b-f80d074134c9.jpg)

Frontend looks like this.
![Screenshot 2022-05-24 at 10 07 16](https://user-images.gith

[2022-05-24 08:14] youknowriad commented on #40316
I understand but I disagree that the confidence has been lost because of this policy. and If there were a consensus around this, I'd be the first one to call for stopping this practice. Is there anything that shows that the confidence has been lost because of changes to unstable or experimental APIs?

I believe the level of breaking changes that happens in the block editor / Gutenberg are relative

[2022-05-24 08:22] youknowriad commented on #35496
This seems indeed related to #40740 I'll try to take a look. Do you know what's the expectation here, how should the block toolbar render?

[2022-05-24 08:23] markhowellsmead commented on #38719
Phew. It's a great relief to read this.

Again, great to know, with the difficulty being that many themes, pre-existing sites and sites currently in development break in the interim.

[2022-05-24 08:24] markhowellsmead commented on #41230
Closing this in favour of https://github.com/WordPress/gutenberg/issues/38719, with a reference to https://github.com/WordPress/gutenberg/issues/38719#issuecomment-1101428945 for an example for an interim solution.

[2022-05-24 08:24] #41230 closed, assigned to nobody

[2022-05-24 08:28] Clorith commented on #40316
Experimental APIs are only a part of it, and a wider discussion about backwards compatibility and other core concepts need to be had, and I don't think this ticket specifically about experimental APIs is the best place for that, but since it's been brought up, I can summarize a bit here, there's been calls for this discussion in multiple locations over the past year or more, but none has happened

[2022-05-24 08:40] youknowriad commented on #40316
Thanks @Clorith That's great feedback. My disagreement here is about the experimental/unstable APIs discussion. I believe these are independent from the loss of confidence here.

I understand this but I'm sure you agree with me that you need "private" code in any code base. That's what these are about and it's just that we can't make them private. We want to but we can't. It is unrealistic to expe

[2022-05-24 08:56] paaljoachim opened #41275 "Gallery block - adding 7 images in 7 columns full width and block spacing 1 - bug"
### Description

I noticed that in the Gallery block when adding 7 images in 7 columns, full width having the images side by side it looks like this with the default block spacing.

Frontend.
![Screenshot 2022-05-24 at 10 50 27](https://user-images.githubusercontent.com/5323259/169991336-8d2f043a-7547-47d8-be3b-37202cfe12df.jpg)

Changing block spacing to 1.
Backend.
![Screenshot 2022-05-24 at 10

[2022-05-24 09:00] sakurawald commented on #38299
Duotone is a silly feature.

[2022-05-24 09:03] sakurawald commented on #38299
They have fixed the bug that the duotone feature can be disabled.

[2022-05-24 09:09] t-hamano opened #41276 "UnitControl: Value on the display is truncated on blur"
### Description

When the value is placed in `UnitControl` and moved away from the field, the decimal point value specified in the step of each unit is truncated.
However, the decimal point values are retained as attributes, and  the input values are displayed correctly when the browser is reloaded.

This behavior may lead to the misunderstanding that the specified decimal point cannot be entered.

[2022-05-24 09:25] GoldenGoldy commented on #41202
Hi @ntsekouras , thanks for getting back to me!

In response to your question:

To be honest, that was my initial thought/expectation. However, later when I gave it some thought, I realized it might lead to undesired results in some cases? Let's say you'd delete a category and didn't realize you were still showing lists of posts filtered by this category on your website. If deleting the category w

[2022-05-24 09:28] jameskoster commented on #41060
I think one of the main benefits of patterns is their portability across themes. Bundling them with themes feels a bit like repeating mistakes from the past.

In any case, if there _are_ patterns bundled with the theme then I think it's fine to display them here. I'll update the OP :)

[2022-05-24 10:04] gziolo commented on #40316
I have been playing with the concept of hiding experimental APIs from usage outside of the WordPress codebase controlled by the build process inside the Gutenberg plugin and WordPress core. I opened https://github.com/WordPress/gutenberg/pull/41278 to present the idea we can explore further if that would help prevent leaking experiments in the future. It essentially means we could ensure that plug

[2022-05-24 10:05] javierarce commented on #41228
This would be great and I think we have all the pieces necessary to improve this block. I would also include a way to customize the width of the separator.

[2022-05-24 10:12] Clorith commented on #40316
Would it not make more sense that we not include experimentals in core releases, and limit them to the plugin which is intended for testing purposes? Hiding build processes behind secret keys feels like an anti-pattern.

The focus going forward should then be on making any currently experimental features in core stable, give them soft deprecations with a form of "doing it wrong" for JS (I don't kn

[2022-05-24 10:13] beafialho commented on #41228
Seems like separator width is being handled here @javierarce #23403

[2022-05-24 10:53] mtias commented on #41060
Side note: should these be curated out from the repository? One of the main aspects of patterns is that we don't need to keep them around forever because they have no back-compat issues. While there's obvious room for diversity in taste, if contributors arrive at a consensus that a pattern is low quality, no longer relevant, or any other relevant criteria, it seems fine to tweak or remove them.

[2022-05-24 11:17] joashrajin commented on #40892
Hi @justintadlock 👋

Thank you for looking into this. The Curved Arrow and Enter key does work, but whenever either of them are pressed, the link popup closes, so you need to re-open the popup to set the link to open in a new tab.

To explain my use case, I have a large P2 page with multiple links that aren't set to open in a new tab. I am updating the links and setting them to open in a new tab.

[2022-05-24 11:29] luisherranz commented on #41149
The hydration is happening on the `load` event:

https://github.com/WordPress/gutenberg/blob/fdd079b845e7e6a9f9338b46f38a8ca168b1e5d2/packages/block-library/src/navigation/view.js#L36-L38

It's necessary for sites that load the scripts before the HTML. Moving this script to the footer will probably make this unnecessary, and therefore the hydration will occur faster. However, it is still not ideal

[2022-05-24 11:39] iwasthesword commented on #40002
It would be great to have this, but I'd suggest going the long way and have this be added as "Decoration" (from css: `text-decoration`) as to support everything this css property has which includes underline, overline and line-through, as well as color, style and thickness

[2022-05-24 11:57] akasunil commented on #40708
Hello Team,

I have fixed the issue in PR [41271](https://github.com/WordPress/gutenberg/pull/41271). Please review it.

Thanks.

[2022-05-24 12:25] draganescu commented on #34652
Adding

[code]

to `block.json` results in margin and padding being applied to the `figure` tag of the table.

<img width="646" alt="Screenshot 2022-05-24 at 15 23 43" src="https://user-images.githubusercontent.com/107534/170034074-f8e91a9f-842e-47d6-89cf-157f07a4d074.png">

I would expect the table block to also have controls for cell padding and gap, but I suppose this is another issue?

[2022-05-24 12:30] ciampo commented on #38730
Just flagging that, with #41269, the `__nextHasNoMarginBottom` prop was added to the `SelectControl` component.

[2022-05-24 12:31] scruffian commented on #34652
I think so yes although I might expect the padding/spacing to be applied to the table tag itself - which we can do using __experimentalSelector...

[2022-05-24 12:50] justintadlock commented on #40892
Thanks for the update. It sounds like the issue underneath all of this is that the popup closes after editing the link URL instead of remaining open for edits to other options. Here's an existing ticket for that: https://github.com/WordPress/gutenberg/issues/35795

[2022-05-24 13:05] DaisyOlsen commented on #41060
What would happen if a theme registers a pattern from the directory in theme.json that is later curated out of the directory?

[2022-05-24 13:14] kristastevens commented on #41252
Hello from Editorial! (The copy review tag puts out the bat signal.) We can act as a last set of eyes on copy, to read for punctuation, spelling, grammar, tone, and style, though in this case someone would need to write the copy.

[2022-05-24 13:30] justintadlock commented on #41247
This is a core WordPress issue and unrelated to Gutenberg.  Please open a new ticket on Trac so that it gets in front of the right people: https://core.trac.wordpress.org/

[2022-05-24 13:33] justintadlock commented on #41248
This is a core WordPress issue and not related to Gutenberg.  Please open a new ticket on Trac so that it gets in front of the right people: https://core.trac.wordpress.org/

[2022-05-24 13:37] jameskoster commented on #27847
In https://github.com/WordPress/gutenberg/issues/39281 the idea of a layout toggle came up again.

https://user-images.githubusercontent.com/846565/170048479-e215dff1-8b94-46b0-a09a-4923fdcff662.mp4

[2022-05-24 13:42] adamziel commented on #40316
@Clorith Some `__experimental` APIs are exported from Gutenberg Package A to be consumed in Gutenberg Package B.  How would you technically remove these API from core releases? IMHO it's not possible and the secret keys come as close as it gets. I'm happy to be wrong here.

[2022-05-24 13:56] Clorith commented on #40316
So what you're saying is that it's not possible to make the block editor without the use of experimental features? Is it then unreasonable to presume that integrators also need to use experimental features to properly work with the editor, and we should do everything we can not to alienate them?

Yes, this is me playing devils advocate :)

[2022-05-24 14:00] mghenciu commented on #40692
+1 for an UI/UX rework here.

Developers Tools from Chrome use a similar popup - and the (first) UX flow is to edit the HEX value, not copy:
![image](https://user-images.githubusercontent.com/52494172/170050373-16e65a25-8a81-49ae-8964-a94cf64f4dc6.png)

___
To be more empathic , I tried using the flow using only the WP context (meaning that I tried copying a gradient from a Section to another). **

[2022-05-24 14:01] scruffian commented on #28564
Quoting @mtias above:

One thing to consider is that Page Title is used for the browser `title` tag, and for other SEO related things, so removing it from the template altogether has unintended consequences.

[2022-05-24 14:07] jameskoster commented on #41258
I think this is the case. Here's how it could work:

https://user-images.githubusercontent.com/846565/170055474-e92f9e75-04c7-4d46-ac9c-8cc9a638ea07.mp4

Clicking the "New template" option would trigger the UI for selecting a starting point (https://github.com/WordPress/gutenberg/issues/41060).

[2022-05-24 14:15] JiveDig commented on #38299
I'm testing 6.0-RC4 and am also confused on why I'm stilling seeing the SVG's. I'm using our hybrid theme (no theme.json but we use blocks for content).

Here's some weird findings to someone that hasn't followed this issue very closely...

1. I can add a custom duotone filter, but I don't have any predefined duotones registered.

<img width="977" alt="image" src="https://user-images.githubusercon

[2022-05-24 14:26] draganescu commented on #34652
The table block's `block.json` already uses `"__experimentalSelector": ".wp-block-table > table"` and the `__experimentalBorder` supports applies to it, but spacing (margin and padding) seem to ignore it.

[2022-05-24 15:01] adamziel commented on #40316
@Clorith I feel a bit tense and irritated after reading your response because I didn't say that. I asked how would you technically remove these API from core releases after you proposed to do that. I also said that, to me, secrets come close. We do seem to have a few different topics going on in parallel here. I'm happy to talk about the larger need to include the experimental features, but would

[2022-05-24 15:04] johnstonphilip opened #41280 "Add "stretch" as option on Row block."
## What problem does this address?
It's currently not possible to use `align-items:stretch` to make items inside a `row block` vertically fill the space available.

While `stretch` is the default for a flex item in CSS, I am not able to use that in the block editor.
<img width="357" alt="Screen Shot 2022-05-23 at 4 52 17 PM" src="https://user-images.githubusercontent.com/7538525/170068646-6fd99b55

[2022-05-24 15:18] Clorith commented on #40316
My intent was not to irritate, but to flip it around; You're saying that these experimental features are needed to making other components in the block editor work, so then we need to look at it from the position of someone trying to extend the editor, and understand that they are also bound by that same need.

So if we did set a hard block on experimental functions for core moving forward, we wou

[2022-05-24 15:26] pablohoneyhoney commented on #40450
Not sure we are there yet. The first could make sense as a natural relationship to the floating mode. The others have a strange alignment. It could be tested centered, for example, or even all the way to the left.

The uncompleted dividers are perhaps an anomaly from the rest of similar cases in the current language.

[2022-05-24 15:45] bph opened #41282 "When removing core pattern, allow theme.json pattern slugs to be listed in inserter"
## What problem does this address?
At the moment, `remove_theme_support( 'core-block-patterns' ); is an all or nothing with allowing pattern directory patterns to be viewed in the inserter.
Being able to still use the theme.json registration of pattern via slugs from the pattern directory, allows a curated list of patterns and more granular control.

## What is your proposed solution?
The theme de

[2022-05-24 16:00] ndiego commented on #41282
Yes, I have confirmed the current functionality, and agree with this proposal.

While I still think many themes will register their own patterns and use `remove_theme_support( 'core-block-patterns' );`, they may also was to pull a few curated patterns into the theme from the Pattern Directory. Alternatively, the theme author might want to submit all their theme patterns to the Directory, and then

[2022-05-24 17:21] justintadlock commented on #41065
@wpsoul - Can you verify if the following issue is the same that you're experiencing? https://github.com/WordPress/gutenberg/issues/38673

If so, we can close this ticket out in favor of the existing one.

[2022-05-24 18:23] wpsoul commented on #41065
@justintadlock No, it's not the same. I don't have problem in loading files. Problem is that they are loaded on page but outside iframe. I want to suggest some hook for possibility to load something inside iframe.

Allowing enqueue_block_editor_assets to work inside iframe can help, but as I understand from comments, this hook is used only for Editor panels and not supposed to work in content area

[2022-05-24 18:54] #41164 closed, assigned to ntsekouras

[2022-05-24 19:28] jacobfogg opened #41285 "Missing Categories in query loop filters"
### Description

When I am editing the category filter settings on the query loop, the input box is supposed to autocomplete, showing the category options that are available. However, when I filter, many of the categories are simply missing.

One example is my multimedia category:
![image](https://user-images.githubusercontent.com/146870/170102680-24120155-8e69-4f7d-b4a0-314d11030384.png)

I have

[2022-05-24 19:37] namithj opened #41286 "Loading animation for Site Editor"
## What problem does this address?
The site editor takes several seconds to load.  The user is presented with a blank white screen during this time with no feedback as to whether its loading or stuck

## What is your proposed solution?
Add a loading animation to the site editor.

[2022-05-24 19:49] strarsis opened #41287 "Run `render_callback` after theme handlers"
### Description

Currently a block `render_callback` handler is called before the theme. This can cause issues because the `render_callback` handler may directly or indirectly use filters/actions that need to be used by theme.
Because of this order, theme filter/action handlers are currently not applied when a block is rendered server-side.

### Step-by-step reproduction instructions

1. Create a

[2022-05-24 20:07] #41083 closed, assigned to dd32

[2022-05-24 20:30] dmsnell commented on #40316
Adding a note to call for a bit of pragmatism here: we're discussing a lot of ideological values and I get the sense that those risk leading us astray.

In summary of some of the comments above, we don't have to be discussing _if_ developers have lost trust in the API stability because we're specifically talking about a move that _does_ break that trust. In other words, we're talking about removin

[2022-05-24 21:00] karmatosed opened #41290 "Group block seems to ignore widths"
### Description

This might be a case of not exposing options, it also might be a bug. Let me explain what I am experiencing and how perhaps we might want to simplify this.

**Problem**
When you change the alignment settings for any child in a group block it's not reflected on that, even when the group block has them set.

The answer might be that you shouldn't be able to do this. If that is the c

[2022-05-24 21:06] mtias commented on #41286
This is planned! Marking as duplicate of #35503.

[2022-05-24 21:06] #41286 closed, assigned to nobody

[2022-05-24 21:10] karmatosed commented on #41280
My thought around this is perhaps the naming. Would calling it something like 'fill' mean more to not just developers?

[2022-05-24 21:12] karmatosed commented on #41261
Whilst I like the idea of contrasting with the background I can see this potentially getting really confusing if you have multiple colors. Perhaps another option is to not use color to denote alone?

[2022-05-24 22:00] jdcohan opened #41291 "Add "HTML Anchor" and "Additional CSS class(es)" to List View kebab menu"
## What problem does this address?
Adding HTML anchors and Additional CSS class(es) is **something I do all the time**. I often add these values **after** I have added blocks. I find it frustrating and inefficient to have to select a block, then navigate down to the bottom of the settings panel, then expand the "Advanced" section, then add the anchor and class(es) — and then do it all again for ea

[2022-05-24 22:02] pablohoneyhoney commented on #29575
Perhaps the new button with a drop down could use some more padding and finesse. @javierarce
How could we improve that whole top header with the button and the close icon, like position when the it slides in.
Do you think the large close icon works well in scale and also in context of a smaller version in the settings inspector?

[2022-05-24 22:04] pablohoneyhoney commented on #29575
This is a separate issue or consideration, but this effort made me think how disconnected the action button (top right) and the snackbar validation (bottom left) are.

[2022-05-24 22:46] annezazu commented on #33471
This still happens in 6.0.

[2022-05-24 22:55] sakurawald commented on #38299
I'm in WP 6.0-RC4, actually, all the approches above are invalid for me.

[2022-05-24 23:18] annezazu commented on #32522
I think this can be closed out with the addition of the Row block in 6.0. If folks disagree, happy to reopen <3

[2022-05-24 23:18] #32522 closed, assigned to nobody

[2022-05-24 23:21] annezazu commented on #34994
In case it's helpful, some feedback came in through the FSE Outreach Program for the fourteenth call for testing that explored these new blocks. [Specifically, the following ideas were thrown out:](https://make.wordpress.org/test/2022/04/28/fse-program-testing-call-14-rallying-recipe-reviewers/#comment-2549)

- A block that shows when the last comment happened
- A block that shows how many people

[2022-05-24 23:23] ernstoarllano commented on #27174
You ever find a way to accomplish this?

[2022-05-25 00:11] vralle commented on #38299
@JiveDig, I see three questions at once.
If we are talking about the default duotone svg-s in the markup, then the hook above helped me. Now in the final version of WP6.0
If your research is about dirty code...
When you use duotone or block, Gutenberg uses the principle of fail-safe for block styles. The block styles will be added to the global styles when you use core block and don't use compiled

[2022-05-25 00:35] peterwilsoncc opened #41292 "Comment Query Loop block not translated."
### Description

This was originally reported by @c4rl0sbr4v0 as [WP#55809](https://core.trac.wordpress.org/ticket/55809).

I (Peter) suspect the data is being pulled from `block.json` rather than included as a translatable string within the block's JavaScript files.

@mukeshpanchal27 posted a follow-up comment that the description is also not translated so it appears to be a general translation i

[2022-05-25 00:35] bdurette commented on #41261
That is a good point about multiple colors causing confusion. Looking at some prior art for this, Google Slides highlights the selected element with two different colors. One thick outline in a light color and a thin outline in a dark color, with the dark being centered inside the light. Thus, there's always contrast, regardless of the background color. I wonder if something like that would be bet

[2022-05-25 01:13] johnstonphilip opened #41293 "Color Panel appears on group block even if disabled in theme.json"
### Description

If I disable everything relating to colors in theme.json, the panel still shows up on blocks that support it, such the `group` block.

### Step-by-step reproduction instructions

1. In a block theme, set theme.json like this:
[code]
2. In the block editor, ad a group block. Notice you'll still see a `Color` panel in the sidebar, even though you can't do anything with it. Interesti

[2022-05-25 05:11] aaronrobertshaw opened #41296 "Theme.json: `__experimentalSelector` not working for blocks newly adopting it"
### Description

Adding an `__experimentalSelector` to a server-side registered block's supports within its `block.json` file has no effect.

#### What I expected

I expected that adding `__experimentalSelector` to a block's `supports` config would override the default `.wp-block-<name>` selector generated by theme.json.

#### What happens instead

Nothing.

#### Extra information
- Encountered th

[2022-05-25 05:28] Greatdane commented on #40214
Note, this seems to only happen if you first select a block color as well.

1. Add paragraph block.
2. Enter text
3. Give paragraph block a color via block settings
4. Give some text a hyperlink
5. Highlight on the hyperlinked text will not work.

[2022-05-25 05:53] casaschi commented on #37754
WP 6.0 still did not fix this.

[2022-05-25 05:55] Greatdane commented on #40169
Same bug. Chrome Version 101.0.4951.64 (Official Build) (arm64).

Happens regardless of theme.

[2022-05-25 06:01] KokkieH opened #41297 "Query Loop Block: Cannot choose grid pattern"
### Description

When inserting a query loop block there's a prompt to choose a pattern for the block. The subsequent modal has icons for list and grid views at the bottom, but if you click the grid icon, the Choose button disappears so the pattern cannot be selected.

### Step-by-step reproduction instructions

1. Create a new page or page template
2. Insert the Query Loop block
3. Click Choose t

[2022-05-25 06:42] scruffian commented on #41115
Potential fix here: https://github.com/WordPress/gutenberg/pull/41298

[2022-05-25 08:03] UranymusDev commented on #27174
Hello Ernesto,

yes sort of, it’s a bit hackish but it works:

import { ChakraProvider } from ***@***.***/react';

// Don't try this at home.
// Only way to get whole Gutenberg Wrapped into ChakraProvider as of now.
// We override the global ReactDOM Method and check for the editor, then we Wrap Chakra around.
const oldRender = window.ReactDOM.render;
window.ReactDOM.render = function( element, co

[2022-05-25 08:28] #41115 closed, assigned to scruffian

[2022-05-25 08:39] arkabase opened #41301 "Group block inner container breaks flex options"
### Description

The new group block allows flex options to stack group content in line or column. It works fine in the editor, but on publishing the flex options are applied to the group container. The group content is put inside an inner wrapper that don't have the flex options :

![Wordpress-issue](https://user-images.githubusercontent.com/49620666/170217215-a35e85af-af70-4d94-a406-360203fbecd0

[2022-05-25 08:46] getdave commented on #38787
@jorgefilipecosta Is this not now complete? We could/should open a new Issue for @fabiankaegy's ideas.

[2022-05-25 08:51] jameskoster commented on #40450
In terms of the layout, as we explore concepts here it would be good to consider other edit views like focus mode (https://github.com/WordPress/gutenberg/issues/37946) and the upcoming zoomed-out view (https://github.com/WordPress/gutenberg/pull/41156).

[2022-05-25 08:55] fabiankaegy commented on #38787
@getdave i can create a new issue for the follow up feature request 👍

[2022-05-25 08:55] getdave commented on #39189
@scruffian should this be removed or marked as "for Plugin only" as I don't see this landing in Core any time soon. It feels like plugin territory.

[2022-05-25 08:57] Humanify-nl opened #41303 "Group block variations not recognized as active"
### Description

Using a custom block variation and selecting it in the block inspector does not show the 'is-pressed' css class.

The selected varation does in fact get shown in the editor, it is just the button press that does not get registered somehow.

### Step-by-step reproduction instructions

Step 1: add a custom variation to the group block.
[code]
Step 2: select the variation in the edit

[2022-05-25 09:00] fabiankaegy opened #41304 "Add ability to use "Page creation Patterns" for custom post types"
## What problem does this address?

This would be a follow up from #38787. It is now possible to mark patterns as full page patterns by setting `blockTypes` to `array( 'core/post-content' )`. Currently this feature is limited to the Page post type however.

## What is your proposed solution?

It would be great to also add support for custom post types to use the page creation patterns.

It would a

[2022-05-25 09:00] fabiankaegy commented on #38787
Created a new issue here: https://github.com/WordPress/gutenberg/issues/41304

[2022-05-25 09:12] scruffian commented on #39194
After some investigation we decided that this should be kept in a plugin for now: https://github.com/Automattic/create-block-theme

[2022-05-25 09:12] #39194 closed, assigned to draganescu

[2022-05-25 09:53] KainerW commented on #12684
+1 Definitely needed.

[2022-05-25 09:54] cbravobernal commented on #34994
Thanks for the feedback @annezazu 🎉 😄

There is already a Post Comments Count block, so we may just add an option to display the whole site comments count. It could be a `Good First Issue` if the community wants this feature. But I don't know if this would be a good Core block feature.

Would be this one just a date? I cannot find any use case here, but, with Latest Comments block, you can achieve

[2022-05-25 09:55] cbravobernal commented on #41292
I will be happy to take a look at it

[2022-05-25 10:07] samxmunoz opened #41307 "Proposal: Add a "Rename Block" feature in List View"
### Issue
The list view is a valuable tool for navigating throughout a page - but it can get confusing which "Column" or "Paragraph" (etc) corresponds to which item without hovering.

In addition, when passing off to clients it could be helpful to rename blocks in the List View for easier content updating instructions.

### Proposed Solution
Add a "Rename Block" option, perhaps here (see screensho

[2022-05-25 10:12] abid112 opened #41308 "Avatar block throws encountered error if the Avatar Display turned off from the Discussion settings"
### Description

If the Avatar Display turns off from the Settings > Discussion > Show Avatars(checkout): https://i.imgur.com/60w37sA.png
Avatar block still shows on Gutenberg blocks(which should not be shown): https://i.imgur.com/OYMqWaX.png
And if the Avatar block takes on an editor, it throws encountered error: https://i.imgur.com/y9LSwER.png

### Step-by-step reproduction instructions

1. Turn

[2022-05-25 10:18] SiobhyB opened #41309 "Mobile: Enable custom font sizes in typography settings"
## Description

Typography controls were introduced to the apps in https://github.com/WordPress/gutenberg/pull/33605, with a set list of options for font sizes:

<img src="https://user-images.githubusercontent.com/2998162/170238845-b3ab18a1-1e82-4b83-9a32-5e8a9d167b0a.jpeg" width="50%" />

In addition to this set list of options, the web also enables user to set a custom font size. It would be nic

[2022-05-25 10:23] Mamaduka commented on #35496
@youknowriad, this is how the toolbar is rendered in WP 6.0 without the plugin.

![CleanShot 2022-05-25 at 14 21 47](https://user-images.githubusercontent.com/240569/170240872-f697a571-a816-489c-86e1-404f94213304.png)

[2022-05-25 10:36] Mamaduka commented on #41303
Hi, @Humanify-nl

Your `isActive` check matches the default group variation check, so the logic has no way to tell the difference.

I would recommend updating `isActive` and making it specific to your variation.

https://github.com/WordPress/gutenberg/blob/90995b6b5e5392ebbc900ec6eebe022daa677ccd/packages/block-library/src/group/variations.js#L14-L17

[2022-05-25 10:40] Mamaduka commented on #41297
Hello, @KokkieH

Clicking on the pattern in the grid view will select it.

I think we should make this action clear. Cc @jameskoster.

[2022-05-25 10:47] KokkieH commented on #41297
Ah, now I get it, @Mamaduka. It's not list-patterns and grid-patterns, but a list-view and grid-view of the available patterns. The user who reported this on WordPress.com and I both got this wrong, so yeah, it would be good if that could be a bit more clear :D

[2022-05-25 11:22] jameskoster commented on #41060
I quite like the idea of using a modal to contain the options here, mostly because it's portable across the different scenarios in which one might create a template.

Yesterday I was looking at the template switching flow in the post editor (https://github.com/WordPress/gutenberg/issues/41258#issuecomment-1135977351). In that UI I think we can offer a pathway to create a new template like so:

<de

[2022-05-25 11:32] Humanify-nl commented on #41304
Great idea.

I think the reasoning why this isnt here for full page patterns in CPT's may be this:

Custom post types usually have a specific layout. We can already [prefill post types with blocks](https://developer.wordpress.org/block-editor/reference-guides/block-api/block-templates/#custom-post-types) when registering a post type with the 'template' array.

It would be amazing if we could refer

[2022-05-25 11:33] deborah86 commented on #28564
@scruffian I gave one proper solution to the issue. There should be a separate box added to the sidebar for post/page title with a checkbox for the person to use the first H1 on the page as the post/page title.

![image](https://user-images.githubusercontent.com/12677420/170251151-8d64f1eb-0f43-49dc-aec3-4a2bd4fbd931.png)

[2022-05-25 11:37] deborah86 commented on #41248
@justintadlock I created the ticket here: https://core.trac.wordpress.org/ticket/55822#ticket

[2022-05-25 11:42] deborah86 commented on #41247
@justintadlock I created the ticket here: https://core.trac.wordpress.org/ticket/55823#ticket

[2022-05-25 11:45] mukeshpanchal27 opened #41311 "Avatar block throws encountered error if the Avatar Display turned off from the Discussion settings"
### Description

Please check the instructions for more info about the error.

WordPress core: https://core.trac.wordpress.org/ticket/55818

### Step-by-step reproduction instructions

If the Avatar Display turns off from the Settings > Discussion > Show Avatars(checkout):
Avatar block still shows on Gutenberg blocks(which should not be shown):
And if the Avatar block takes on an editor, it throws

[2022-05-25 11:46] jameskoster commented on #41297
Thanks for the ticket (and mention)!

I shared some designs in https://github.com/WordPress/gutenberg/issues/39308 which eliminate the "Choose" button altogether.

[2022-05-25 11:59] adamziel commented on #40316
👍 thanks for clarifying! You're making some good points, it's just a very hot topic and I found that surfacing and labeling the emotions often makes it easier to talk.

@Clorith Are you talking about the stale, long-present __experimental APIs? I do agree. Are you talking about the fresh ones that are actually internal functions that happened to be exposed in public API because of technical limita

[2022-05-25 12:06] deborah86 opened #41314 "Make the Description of Spotlight Mode Consistent"
## What problem does this address?

The description of what Spotlight mode does is not consistent in the UI. This might confuse new users. Plus, one description of the mode is not detailed.

## What is your proposed solution?

My solution is to have consistent description of what Spotlight mode does in the editor. I suggest using the more detailed description in the Appearance menu because it is c

[2022-05-25 12:16] Mamaduka commented on #41311
Hi, @mukeshpanchal27

Thanks for creating the issue and a PR!

This is a duplicate of #41308, so let's close this one and reference the initial issue in your PR>

[2022-05-25 12:18] deborah86 commented on #30767
I agree.

[2022-05-25 12:23] mukeshpanchal27 commented on #41311
Ok, thanks. Let's close this issue.

[2022-05-25 12:24] deborah86 opened #41315 "Clicking the WordPress Icon in the Site Editor Should Go to the Dashboard"
## What problem does this address?

When you click on the WordPress in the icon in the post/page editor it takes you to the dashboard. In the site editor it brings up an additional menu. The workflow is not consistent. The user should have the same workflow in both editors.

## What is your proposed solution?

My solution is to move the menu somewhere else.

![image](https://user-images.githubuser

[2022-05-25 12:25] scruffian commented on #39052
The block does have support for blockGap, but it doesn't work in theme.json, see https://github.com/WordPress/gutenberg/issues/39789

[2022-05-25 12:25] #41311 closed, assigned to nobody

[2022-05-25 12:27] deborah86 opened #41316 "Change from "Stick to the to of the blog" to "Pin to the top of the blog""
## What problem does this address?

The language is inconsistent with the language used in many other popular apps. Creating your own language might confuse new users. Most users are more familiar with the term "Pin" than "Stick".
## What is your proposed solution?

The option should be changed from "Stick to the to of the blog" to "Pin to the top of the blog"

![image](https://user-images.githubu

[2022-05-25 12:28] scruffian commented on #40280
In that case can you target the block using the `gap` property in CSS rather than changing the CSS variable?

[2022-05-25 12:31] deborah86 opened #41317 "Visibility Setting Should Have Better Visual Indication a User Can Change this Setting"
## What problem does this address?

There is no visual indication to the user the visibility setting can be changed.
## What is your proposed solution?

My solution is to add a drop-down menu similar to the one used in for the template menu so users know the visibility settings can be changed. This will also maintain consistency with the menus.
![image](https://user-images.githubusercontent.com/12

[2022-05-25 12:34] markhowellsmead commented on #40280
Yes, but that tends to make the use of `--wp--style--block-gap` redundant. This would mean removing block gap from the entire site, and re-coding every space across every possible block by hand. This is feasible, but perhaps a bit of overkill.

Without removing block gap, it would be difficult to amend margins on elements where the margins are set using inline CSS by core. As mentioned in https://

[2022-05-25 12:39] kristastevens commented on #41316
Hello from Editorial! 👋

Where does this appear in the UI? Is this the only place that this phrase appears in the UI?

No concerns with the change in language, though we should be sure we're being consistent throughout.

[2022-05-25 12:39] deborah86 opened #41318 "Publish Setting Should Have Better Visual Indication This Option Can Be Changed"
## What problem does this address?

There is no visual indication the "Publish" setting can be changed. Also, the option does not have a consistent look with the rest of the options in the panel.
## What is your proposed solution?

Add a box around the option to indicate to users it can be changed. It should be similar to the box around the author option.
![image](https://user-images.githubusercon

[2022-05-25 12:49] deborah86 opened #41319 "Change "Publish" to "Publish Date""
## What problem does this address?

The word "Publish" is not descriptive as to what the option modifies. It should give the user a clear indication of what will be changed or modified.
## What is your proposed solution?

My solution is to change the option from "Publish" to "Publish Date".

[2022-05-25 12:55] justintadlock commented on #41247
Thanks! Closing this one out since it's now listed as a ticket on Core Trac.

[2022-05-25 12:55] #41247 closed, assigned to nobody

[2022-05-25 13:05] deborah86 opened #41320 "The Template Option Needs a Tooltip"
## What problem does this address?

New users to WordPress might not understand how the template option functions. Having a tooltip that explains this option will help them. This will also create consistency in the UI.
## What is your proposed solution?

Add a tooltip to the template option that describes what the option does. It should also link to the option's documentation.
![image](https://use

[2022-05-25 13:05] priethor opened #41321 "Inserting a Classic block with the slash inserter crashes the editor if the sidebar is open"
### Description

When adding a Classic block in an empty post, the editor crashes.

### Step-by-step reproduction instructions

1. Create a new post
2. Open the sidebar
3. Add a Classic block through the slash inserter

### Screenshots, screen recording, code snippet

https://user-images.githubusercontent.com/27339341/170268220-2fa79da4-4e4d-4218-9fc7-ea898916bf22.mov

### Environment info

- Word

[2022-05-25 13:11] youknowriad commented on #41321
I don't seem to be able to reproduce the issue here. Is there some other variable at play here?

[2022-05-25 13:12] deborah86 opened #41322 "Category Option Needs a Tooltip"
## What problem does this address?

New users might not fully understand how the category option is used. Also, not having a tooltip is not consistent with other areas of the UI.
## What is your proposed solution?

To keep with the consistency of the UI and to help new users, a tooltip should be added.
![image](https://user-images.githubusercontent.com/12677420/170269681-45e4e9f9-b10c-4087-a1dc-1d

[2022-05-25 13:15] philhoyt commented on #40323
Looks to be reverted... weird

[2022-05-25 13:17] priethor commented on #41321
I'm trying to isolate the issue even more. I've just spun up a brand new site using Local and it crashes too. Not only when adding a new post but when adding it to the `Hello world!` existing one.

This is the error thrown in the console:

[code]

[2022-05-25 13:17] scruffian commented on #40280
Would it? If you did something like:

[code]

Then all navigation blocks would get a new gap, but all the other places where `--wp--style--block-gap` is used would continue to function as before.

[2022-05-25 13:20] markhowellsmead commented on #40280
I see what you mean, but that would lead to confusion in complex projects, where the gap is sometimes controlled using `--wp--style--block-gap` and sometimes hard-coded into CSS.

[2022-05-25 13:21] deborah86 opened #41323 "Tags Option Needs a Toolip"
## What problem does this address?

New users might not fully understand how the tags option is used. Also, not having a tooltip is not consistent with other areas of the UI. The tags should also be marked (optional) so users know this value is not required.
## What is your proposed solution?

To keep with the consistency of the UI and to help new users, a tooltip should be added.
![image](https:/

[2022-05-25 13:23] justintadlock opened #41324 "Vertical alignment of flex containers incorrect on front end"
### Description

When adding a Row block or a Buttons block, the vertical alignment of the nested blocks is correctly applied in the editor.  However, on the front end, the blocks are always aligned in the center.  Issue reported here: https://wordpress.org/support/topic/6-0-rc4-layout-for-row-block-is-always-align-items-center/

In the editor, the container is given `align-items: flex-start;`.  O

[2022-05-25 13:26] priethor commented on #41321
Testing with previous Gutenberg versions shows:
- If GB <=12.9, the Classic block works fine.
- If GB >= 13.0 (which is the last GB version included in WP 6.0), the issue reproduces.

[2022-05-25 13:26] Mamaduka commented on #41321
I'm not able to reproduce the issue. Tested with the following setups on Chrome.

* WordPress 6.0 with and without Gutenberg 13.2.2.
* WordPress 6.0 with current Gutenberg trunk.

@priethor, do you have any other plugins active?

[2022-05-25 13:30] priethor commented on #41321
I don't, no plugins installed at all.

[2022-05-25 13:31] deborah86 opened #41325 "Featured Image Option Needs a Tooltip"
## What problem does this address?

New users might not fully understand how the featured image option is used. Also, not having a tooltip is not consistent with other areas of the UI.
## What is your proposed solution?

To keep with the consistency of the UI and to help new users, a tooltip should be added. It should also be indicated that the feature is optional.

![image](https://user-images.gi

[2022-05-25 13:33] mcsf commented on #41321
@priethor:

1. Can you consistently repro?
2. Can you pinpoint the location in the minified source (e.g. "prettify" the source)?

[2022-05-25 13:37] ryanwelcher commented on #41321
@priethor I was able to reproduce this in the Site Editor using TwentyTwentyTwo:

1. Open the Single Post template
2. Insert a Classic Block

https://user-images.githubusercontent.com/1259027/170276002-439cee9f-c135-4a07-9eb5-d521e6eeaf2d.mov

Console outputs the error below.
[code]

[2022-05-25 13:43] Mamaduka commented on #41321
@ryanwelcher, the Classic block isn't supported in Site Editor at the moment - #23086. Also, based on the @priethor screencast, the error isn't caught by the block error boundary.

[2022-05-25 13:45] ryanwelcher commented on #41321
@Mamaduka @priethor I think we're looking at two separate issues. Mine seems to be known already so disregard my report. I can't reproduce this happening in the post editor.

[2022-05-25 13:47] deborah86 opened #41326 "Improve the Excerpt Tooltip"
## What problem does this address?

The excerpt tooltip does not provide enough information to users of WordPress. This might make it harder for new users to understand what this section is form.
## What is your proposed solution?

Rewrite the tooltip for the except that better explains what it does.

![image](https://user-images.githubusercontent.com/12677420/170277693-2a9ce143-50a7-4557-8b98-277

[2022-05-25 13:49] priethor commented on #41321
Yes, every single time.

Sure, the error is thrown at the `return l.forEach` in the closure after `a.useMemo`

[code]

[2022-05-25 13:50] deborah86 commented on #41316
@kristastevens It appears in the post editor. The text is not clear for new users. One of the main complaints about WordPress is that it is not user-friendly. The options are hard to understand. Pin would be a better term to use over stick because various websites use pin.

![image](https://user-images.githubusercontent.com/12677420/170278296-87743a7b-6e48-43f3-8d02-e2c2cc2cda80.png)

[2022-05-25 13:51] CreativeDive commented on #38299
@K85 Already tested with WP 6.0 stable?

The SVG tags are still there. No filter or action is removing the SVG tags. Do you have any hint for me to solve this issue?

[2022-05-25 13:51] youknowriad commented on #41321
@priethor that helps, so I can reproduce now and it's related to this PR https://github.com/WordPress/gutenberg/pull/40036

Basically, you need to have the sidebar open before adding the block to reproduce the issue :)

[2022-05-25 13:53] hypest commented on #38407
Updated the parent post with:

### 🛠️ Recently fixed or improved
++ [Improvements to Getting Started Guides](https://github.com/WordPress/gutenberg/pull/40964)
++ [Add drag & drop help guide in Help & Support screen](https://github.com/WordPress/gutenberg/pull/40961)
++ [Add 'Insert from URL' option to Image block](https://github.com/WordPress/gutenberg/pull/40334)
++ [Fix drag mode not being enab

[2022-05-25 13:53] beckej13820 commented on #41060
Couldn't there be a simple middle ground between what @carolinan is suggesting and using a pattern from the library.

A mechanism where a theme can set the default, but if it doesn't, fallback to a pattern from the directory.

[2022-05-25 13:56] deborah86 opened #41327 "Discussion Option Needs Tooltip"
## What problem does this address?

New users might not fully understand how the discussion option is used. Also, not having a tooltip is not consistent with other areas of the UI.
## What is your proposed solution?

To keep with the consistency of the UI and to help new users, a tooltip should be added.

![image](https://user-images.githubusercontent.com/12677420/170279292-8a8c4d08-4680-4bcf-94b3

[2022-05-25 14:01] Mamaduka commented on #41326
Hi, @deborah86

Do you mean "help" text by the "tooltip"?

I also see that you opened multiple issues to address this problem in various parts of the General Interface. It might be a good idea to combine them into a singular issue.

Thank you for your contributions!

[2022-05-25 14:03] CreativeDive commented on #38299
OK, now I have figured out what was wrong here. In my case the Gutenberg plugin is activated and the following action is not working:

`remove_action( 'wp_body_open', 'wp_global_styles_render_svg_filters' );`

If the Gutenberg plugin is active, use this action to remove SVGs:

`remove_action( 'wp_body_open', 'gutenberg_global_styles_render_svg_filters' );`

And for both cases:

[code]

[2022-05-25 14:06] priethor commented on #41321
@youknowriad great context, I can confirm the sidebar needs to be open.

Furthermore, testing with @ryanwelcher showed it only crashes when using the slash inserter; when using the normal inserter or the appender it works fine.

[2022-05-25 14:07] sakurawald commented on #38299
This is the only correct solution for Wordpress 6.0 RC4
Yes, i kept the gutenberg plugin activated and ONLY add the `remove_action( 'wp_body_open', 'wp_global_styles_render_svg_filters' );`, so the SVGs are still there.
After i add `remove_action( 'wp_body_open', 'gutenberg_global_styles_render_svg_filters' );`, all the duotone SVGs disappear.

[2022-05-25 14:10] deborah86 opened #41329 "Add an Option for Users to Set a Post License"
## What problem does this address?

Since WordPress is an open source community users should be able to set a Creative Commons license on the post and media they might embed. This might encourage more users to create posts under Creative Commons licenses. It is ridiculous that WordPress is supposed to be for the opens source community but it doesn't do anything to allow users to easily make their

[2022-05-25 14:14] justintadlock commented on #41248
Thanks. Closing this ticket in favor of the core issue.

[2022-05-25 14:14] #41248 closed, assigned to nobody

[2022-05-25 14:20] justintadlock commented on #41326
Agreed with @Mamaduka.

@deborah86 Do you mind consolidating these tickets under a single issue titled something like "Improve the Help Text for editor UI components" (or something like that)?

[2022-05-25 14:25] justintadlock commented on #41329
I'd imagine the proposed implementation would fall more under plugin territory.

However, it can now be done with a Paragraph block in the Single Post template.  Or, it can be stored as a reusable block for use on a per-post basis.

[2022-05-25 14:26] deborah86 opened #41330 "Remove Document Outline Menu"
## What problem does this address?

The document outline feature is a redundant feature that should be part of the list view. When several options are added the details box gets way too long.
## What is your proposed solution?

This feature should be removed from the details menu and merged with the list view feature.

![image](https://user-images.githubusercontent.com/12677420/170285486-5bc941ae-

[2022-05-25 14:32] justintadlock commented on #41324
Actually, this seems to work in Gutenberg 13.2.2.  It doesn't in WordPress 6.0.  Closing for now.

[2022-05-25 14:36] deborah86 opened #41332 "Move the Change Text Alignment Setting to the Block Settings"
## What problem does this address?

New users might have a difficult time finding settings. All the block level settings should be in one place.
## What is your proposed solution?

Move the change text alignment setting to the block options since it affects the entire block and not just the content within the block.

![image](https://user-images.githubusercontent.com/12677420/170287559-4d1ef247-06

[2022-05-25 14:38] kristastevens commented on #41316
While at first the change seems innocuous, it goes deeper than adjusting the language in the UI. This nomenclature is based on the "[Sticky Posts](https://wordpress.com/support/post-and-page-visibility/#sticky-posts-posts-only)" feature. That would need to be renamed and the support doc / video updated to reflect that, though revising resources shouldn't be a barrier to improvement.

What data do

[2022-05-25 14:40] matiasbenedetto opened #41333 "Filter (duotone) setting set to a block type in theme.json is rendered to the wrong elements on server side"
### Description

When you define a block filter in `theme.json`, the output CSS is not written using the right selectors, so the filter ends up applied to the main block element instead the one indicated in `block.json`.

This causes several problems, for example:
- Discrepancies between what is shown in the editor and the public version of the post.
- Overriding the default filter/duotone using t

[2022-05-25 14:40] mkkeck commented on #38299
Oh no what a shame, dear developers! Why different filters to disable the same thing? It's getting worse and worse.

[2022-05-25 14:43] deborah86 commented on #41326
@Mamaduka @justintadlock Would it be appropriate to consolidate them? If one issue is fixed and the rest are not the ticket will remain open.

[2022-05-25 14:44] jameskoster commented on #41060
This already happens to an extent – if you duplicate the current template then most of the time that will mean starting with a design that was originally supplied by the theme.

This is especially true if you create a new template in the Site Editor. As an example if you create `single-post` and the theme already supplied `single` then you'd have the option to use that as the starting point.

If a

[2022-05-25 14:46] skorasaurus commented on #41285
I think this is a result of the limits being hard coded at https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/query/constants.js or https://github.com/WordPress/gutenberg/blob/trunk/packages/components/src/query-controls/index.js ; but I am not sure.

Possibly related to https://github.com/WordPress/gutenberg/issues/15994

[2022-05-25 14:53] deborah86 commented on #41329
@justintadlock It would not need to fall under plugin territory. It would be better as a Gutenberg feature. There is always a license on any post created. Users should have an easy way to customize the license without paying a third-party a yearly fee for such a basic feature.

There is no custom drop-down reusable block option. A paragraph block does not create a custom dropdown. It creates a par

[2022-05-25 14:57] deborah86 opened #41334 "Improve the Help Text for editor UI components"
## What problem does this address?

The tooltips for the UI Components needs to be updated.
## What is your proposed solution?

Please see the following tickets

- https://github.com/WordPress/gutenberg/issues/41327
- https://github.com/WordPress/gutenberg/issues/41326
- https://github.com/WordPress/gutenberg/issues/41325
- https://github.com/WordPress/gutenberg/issues/41323
- https://github.com/W

[2022-05-25 15:05] dream-encode commented on #40316
Hi :wave: I am `davidbaumwald` on [W.org](http://w.org/), and I am one of the Core Committers that privately reached out to @peterwilsoncc to echo my concerns about this.

I also agree with @Clorith that the plugin is the place to iterate on the editor, not Core.  Regarding this...

I think this is the opposite as to how I would assess the problem.  The plugin exists to iterate and stabilize _befo

[2022-05-25 15:08] deborah86 commented on #41316
@kristastevens The pin terminology is more common. Even though both are synonyms, it is always better to go with the terminology that is more common.

Can you give examples of platforms as popular as YouTube, Facebook, Twitter, Reddit, Medium, etc. that use the "stick" terminology besides WordPress?

[2022-05-25 15:14] kristastevens commented on #41316
@deborah86 I agree that the "pin" terminology is more common. That in and of itself doesn't make the word "stick" unclear in this context. Without any data from users that suggests that "stick" as a term is confusing, I would recommend leaving it as is.

[2022-05-25 15:15] sitoexpress commented on #38299
@mkkeck That's obvious if you're using the Gutenberg plugin and NOT the built-in core version, because of the need to differentiate the two things

[2022-05-25 15:19] deborah86 opened #41336 "Move Change Alignment from the Toolbar to the Block Menu"
## What problem does this address?

New users might get confused as to the locations of options. Having similar options grouped together will help new users become more accustomed to the UI.
## What is your proposed solution?

The change alignment feature affects the entire block. It should be present with the other block options.
![image](https://user-images.githubusercontent.com/12677420/1702978

[2022-05-25 15:24] Humanify-nl commented on #41303
Thanks @Mamaduka ,

I didnt realize that `isActive` logic is needed for a new variation (docs say optional), I guess this has to do with the new icon-based variation selector that is different from regular variation dropdown on which I couldn't find anything in the docs. Apologies for the incorrect bug report!

Sadly, I can't get the logic to work since the group attributes are mostly the same, an

[2022-05-25 15:40] richtabor commented on #41307
I agree. A different approach, but similar request to this issue here: https://github.com/WordPress/gutenberg/issues/33583

[2022-05-25 15:40] mkkeck commented on #38299
That makes it not better.
The problem is, that there are things pushed to the core, which are really better placed in the Twenty-××× themes or in a seperate plugin.

[2022-05-25 16:02] ronalfy commented on #41307
I really like this idea.

Some of commented how this could be stored. Why not just HTML comments in the post content.? We’re already doing that anyways, and the labels are able to be exported pretty easily.

[2022-05-25 16:13] videogorl commented on #41285
I am also having a similar issue (this was happening in WordPress 5.9 as well). On one site I'm using a custom post type associated with the Core Categories taxonomy. Many categories are not showing up for me, seemingly at random.

[2022-05-25 16:19] coreyworrell opened #41338 "`core/block-editor` `getSettings()` does not return custom settings added from filter"
### Description

According to https://make.wordpress.org/core/2022/05/03/block-editor-miscellaneous-dev-notes-for-wordpress-6-0/#removed-6-2, `wp.data.select( 'core/editor' ).+ name` has been deprecated in favor of `wp.data.select( 'core/block-editor' ). + name`.

When using the filter `block_editor_settings_all`, additional settings aren't always included in `core/block-editor`, for example when

[2022-05-25 16:25] deborah86 opened #41339 "Add Icons to All Options in the Toolbar"
## What problem does this address?

There is no consistent style in the toolbar. This makes it visually unappealing.
## What is your proposed solution?

To create consistency in the UI all options in the toolbar should have icons associated with them. There should not be a mixture of text and icons. Also, move the icons in front of the text.
![image](https://user-images.githubusercontent.com/12677

[2022-05-25 16:41] deborah86 opened #41340 "Remove the Overflow Menu from the Top Toolbar Unless there is Overflow"
## What problem does this address?

When the top toolbar is enabled, the overflow menu appears although there is plenty of space for the options. This defeats one of the purposes of displaying the toolbar on the top, which is to easily see all the options.
## What is your proposed solution?

My solution is to remove the overflow menu. An overflow menu should not appear unless there is overflow. Al

[2022-05-25 16:41] priethor commented on #41336
Hi there!

The toolbar is already divided into four groups (see #25983 for more context), representing meta options, block-level options, inline-level options, and more. The alignment applies to the whole block, as you rightfully say, but so do the heading level and justification; as such, they are already in the block-level toolbar group.

Could you elaborate on this issue a bit more to better un

[2022-05-25 16:45] Mamaduka commented on #34592
I think the issue was fixed via #38964.

[2022-05-25 16:45] jacobfogg commented on #41285
andreasjr, I am glad to see that I am not alone!

skorasaurus, thanks for pointing that out. This absolutely feels like an arbitrary limit. After some testing, it looks like the request is made to populate the front end interface and is perhaps not updated as the categories are filtered. So, in that sense, it absolutely seems linked to #15994.

Based on the advice from that ticket, I attempted to

[2022-05-25 16:47] Mamaduka commented on #34590
Fixed via #37596.

[2022-05-25 16:54] Mamaduka commented on #41307
Related PR #40393.

[2022-05-25 16:56] jdcohan commented on #41307
I do like this idea. My workaround has been to give (almost) every block an HTML anchor (which then shows up next to the block name in List View).

[2022-05-25 16:58] deborah86 commented on #41336
@priethor To better explain the issue, all the block level controls are in the side panel except for a few in the toolbar. My solution would be to move all the block level controls to the sidebar so they are all grouped together. Having block level controls in two separate places will confuse users. Having the controls in one place will also improve a user's workflow when modifying the block.

Ins

[2022-05-25 17:00] jdcohan commented on #41056
I like this.

[2022-05-25 17:01] kristastevens commented on #41319
Hi @deborah86, it's super helpful to have screenshots and any additional context / insight that can help clearly convey the scope of the problem. In this case, we'd need some definitive data from users that verifies that "Publish" on its own is unclear to feel confident in making this change.

[2022-05-25 17:05] #34590 closed, assigned to nobody

[2022-05-25 17:14] deborah86 commented on #41319
![image](https://user-images.githubusercontent.com/12677420/170321505-1cf8f84a-23ee-4330-8c54-2d10d9a2e454.png)

I am a user and I am telling you it is unclear. Someone brand new to WordPress is not going to know that it is an option because there is no clear indication that it is an option that can be changed. Also, it is unclear if the option refers to the publish date. When a singular word is u

[2022-05-25 17:20] anomiex opened #41341 "`@wordpress/preferences` is missing a dependency on `@wordpress/element`"
The package `@wordpress/preferences` attempts to use `@wordpress/element` from `build/components/preference-toggle-menu-item/index.js` and `build-module/components/preference-toggle-menu-item/index.js`, but does not declare a dependency or peer dependency on that package.

This happens to work with `npm`'s hoisting due to other dependencies pulling that package in, but will fail with yarn's p'n'p

[2022-05-25 17:22] videogorl commented on #41285
@jacobfogg Maybe this will help for now:

I had previously taken and modified the idea mentioned [here](https://wordpress.stackexchange.com/questions/392914/wp-5-8-query-loop-block-where-to-place-custom-query) to allow me to enter custom taxonomies into the Query block (before they were supported in WP 6.0).

As a band-aid for this issue, I’ve modified the code mentioned above to work for categori

[2022-05-25 17:23] coreyworrell opened #41342 "Show opacity controls even when custom colors are disabled"
## What problem does this address?

6.0 introduced [opacity control](https://wordpress.slack.com/files/U02S2V0TP/F03GWJ1H1PF/transparency.mov) for colors. It only appears though if custom colors are enabled. If you disable those and only allow a theme palette, you cannot control the color opacity.

It would be very cool to be able to limit colors while at the same time allowing an opacity of the t

[2022-05-25 17:25] annezazu commented on #41342
@aaronrobertshaw curious if you have any insights or thoughts here :)

[2022-05-25 17:30] anomiex opened #41343 "`@wordpress/reusable-blocks` is missing a dependency on `@babel/runtime`"
The package `@wordpress/reusable-blocks` attempts to use `@babel/runtime` from `build/store/index.js` and a few other files, but does not declare a dependency or peer dependency on that package.

This happens to work with `npm`'s hoisting due to other dependencies pulling that package in, but will fail with yarn's p'n'p or pnpm with hoisting disabled.

## Reproduction

With yarn:

1. Create a temp

[2022-05-25 17:31] deborah86 opened #41344 "Move Toolbar Block Options to the Block Menu"
## What problem does this address?

Instead of creating separate threads on each option a single thread would be better. It is difficult for users when options are split and in different places. It is harder for users to find the options they want to modify.
## What is your proposed solution?

All block options should be moved from the toolbar to the block menu.

See also:
- https://github.com/Wor

[2022-05-25 17:34] bradhogan opened #41345 "Columns Block > allow border radius on columns"
For some reason the parent columns block allows border-radius but not the individual column blocks.

This would be a useful design feature.  For instance, if you have three columns and each column display price options, one might want to add a border radius to make the price options appear more soft.  Separate issue but would also be nice to add a Box Shadow option to columns, groups, pullquotes a

[2022-05-25 17:41] anomiex opened #41346 "`@wordpress/viewport` is missing a dependency on `@wordpress/element`"
The package `@wordpress/viewport` attempts to use `@wordpress/element` from `build/with-viewport-match.js` and `build-module/with-viewport-match.js`, but does not declare a dependency or peer dependency on that package.

This happens to work with `npm`'s hoisting due to other dependencies pulling that package in, but will fail with yarn's p'n'p or pnpm with hoisting disabled.

## Reproduction

Wit

[2022-05-25 17:47] deborah86 opened #41347 "Fix the Overflow Menu in the Toolbar"
## What problem does this address?

The overflow menu in the toolbar has too many unnecessary options. When a user clicks on it, it goes off the screen unless the user scrolls.
## What is your proposed solution?

![image](https://user-images.githubusercontent.com/12677420/170327806-1f6253b7-f8c3-459c-90d9-a7b2218ebd08.png)

- Remove the Hide/Show more settings. It doesn't need to be on this menu.

[2022-05-25 17:57] deborah86 commented on #41319
I also wanted to add the term Publish is already used for when the user wants to Publish the document. Having used twice for two different settings is confusing to the user.

![image](https://user-images.githubusercontent.com/12677420/170331239-c0329244-17c7-474e-8873-3a323baedf5b.png)

[2022-05-25 18:14] david-gonzalez-a8c commented on #40450
Hey folks!

Working on a few concepts for this, will share them shortly :)

[2022-05-25 18:20] britweb-tim commented on #41324
This seems to be an issue when upgrading sites using gutenberg to WP 6.0.  The "core/columns" block now falls back to verticalAlign center if it's not explicitly set, but the editor shows them as "top" aligned.  Cannot override this fallback on a theme.

[2022-05-25 18:25] richtabor commented on #34592
Yup, just confirmed it. Thanks George!

[2022-05-25 18:25] #34592 closed, assigned to nobody

[2022-05-25 18:30] deborah86 commented on #41291
I am not sure if adding additional menu options is the best solution to your problem.

For CSS classes you are able to create reusable blocks and use the same blocks with those classes again. I believe they will be phasing this option out soon when they make the final transition to FSE.

A problem is the editor removed the ability to collapse some settings. It also doesn't remember what settings w

[2022-05-25 18:38] nickfmc commented on #41321
I can also replicate this issue every time when adding the classic editor on a new page! However I found this post searching for an explanation to why I am seeing other blocks have unexpected errors, the other ones I can't find a way to replicate them yet the way you have with the classic editor.

EDIT - One thing to clarify is that by "sidebar" @priethor is referring to the "Settings pane" NOT wh

[2022-05-25 18:39] renatho commented on #40305
Just to comment here that we're needing the same for Sensei LMS.

[2022-05-25 18:46] jdcohan commented on #41291
A. I'm not interested in employing reusable blocks for this purpose.

B. I'm not adding the SAME classes or IDs to multiple blocks. I'm not looking for the equivalent of a "Bulk Edit" process. I'm looking for a more efficient workflow for adding those "Advanced" values to blocks.

[2022-05-25 18:53] huubl opened #41350 "The role="navigation" on the query pagination nav tag is redundant"
### Description

The role="navigation" on pagination nav tag is unnecessary according to the W3C validator.

Consider removing this line:
https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/query-pagination/index.php#L23

### Step-by-step reproduction instructions

1. https://validator.w3.org/nu/?doc=https%3A%2F%2Fwp-themes.com%2Ftwentytwentytwo%2F%3Fs%3D

### Screenshots,

[2022-05-25 19:00] deborah86 commented on #41316
If you are trying to target new users who are unfamiliar with WordPress it is better to use more common terminology instead of trying to reinvent the wheel. In conversations, I haven't heard anyone use the term stick. It is usually the term pin. The point of changing this term is to make it easier for new users to transition from other platforms to WordPress. Using common terminology that is found

[2022-05-25 19:00] justintadlock commented on #41324
I believe I have tracked down the vertical alignment issue with flex layouts.  It looks like the PHP change from `/lib/block-suports/layout.php` was not ported over to WordPress into `/wp-includes/block-supports/layout.php`.

Here's the original PR: https://github.com/WordPress/gutenberg/pull/40013

Current code in Gutenberg trunk: https://github.com/WordPress/gutenberg/blob/trunk/lib/block-suppor

[2022-05-25 19:47] samxmunoz commented on #41307
Nice work around @jdcohan, however since HTML anchors can't have spaces, I assume it's not very "human readable".

[2022-05-25 19:53] Julianoe opened #41352 "Query Block & Post Categories block not outputing terms IDs"
Hello!
I'm working wit the Query Loop Block and I was surprised it does not output the terms IDs in the DOM. WordPress has quite a consistent way of attributing classes to elements that match content elements: posts, terms, archive pages etc all have a way to target them in the DOM by outputting their classes in the default post_class() and other equivalent functions.

It does not seem to be the c

[2022-05-25 19:57] jdcohan commented on #41307
@samxmunoz -
It works for my purposes:

![gute-list-view](https://user-images.githubusercontent.com/2644102/170356433-aeeea876-bfc6-49d5-8117-0857ca2f7563.png)

(It is, after all, a workaround. And you might notice I'm reusing anchor names. Truth be told, in many cases I'm entering CLASS names as temporary HTML Anchors. That helps me with my CSS rules.)

All that said, I do like your feature reque

[2022-05-25 19:58] ryanwelcher commented on #30901
@TomasHurtz there is an existing SlotFill for that location that you can use to modify the W logo. See - https://developer.wordpress.org/block-editor/reference-guides/slotfills/main-dashboard-button/ Just keep in mind they are marked as `__experimental` and may change in the future.

If there is interest, I'd love to pick up that old issue/PR and see where we can take :)

[2022-05-25 19:59] ciampo opened #41353 "`CustomGradientPicker`: `ColorPicker` popover is glitchy (size and position)"
The popover containing the `ColorPicker` opens in unexpected positions (and sometimes with a smaller size than expected) in the `CustomGradientPicker` component:

https://user-images.githubusercontent.com/1083581/170356848-6d62166e-0746-4868-9d9d-8303d4e917d3.mp4

This could be related to the recent refactor of the `Popover` component in #40740

[2022-05-25 20:07] justintadlock commented on #41352
Just to clarify, you are asking for a class attached to individual category links within the Post Categories block, correct?  Something like this?

[code]

For a bit of a workaround, you can target specific category links with:

[code]

Of course, that is not ideal, but it might do in a pinch.

[2022-05-25 20:24] skorasaurus commented on #12120
For anyone else still trying to figure this out and what are some basic questions (what is an entity? what are entityrecords? ) https://github.com/WordPress/gutenberg/pull/37615 answers some of these questions; Here is the [The most recent published version ](https://github.com/WordPress/gutenberg/blob/bd06705979ad63ace26d15de47144c253c3b0fc8/docs/getting-started/data.md).

[2022-05-25 20:36] rvdsteege commented on #39378
I was looking for a filter to change the navigation block icon SVG, but surprisingly there is no filter yet 😢

[2022-05-25 20:36] Olein-jp opened #41355 "2 lines text in Block style panel's button"
If the block style name is on two lines, it will extend beyond the button.

I know there is a conflict with the button component design.

[code]

 It was felt that it would be acceptable to allow a line break of two lines
 in the form.

 Considering the height specification of the button component, we
 understand the desire to maintain the intended height of the button in the
 panel, so I would li

[2022-05-25 20:45] amustaque97 commented on #40528
Hi @admturner , I'm really sorry but I'm not able to reproduce the same issue. Neither I'm able to create a directory whose name is `.` since it's a system reserved name nor programatically. Also, we should not forget that `.` and `..` has special meaning in *NIX environments.

Since your machine is windows I actually tried to reproduce the same issue in Github pipeline with windows environment. N

[2022-05-25 21:10] annezazu commented on #34994
Yes! Just the date as a way to show perhaps more active commenting areas compared to others. Neat to see you can do this already with latest comments block 💥

[2022-05-25 21:16] annezazu commented on #41146
@getdave thanks for summarizing the discussion and laying out the option. This feels like a very common UX bug to resolve that would impact the basics of using the navigation block (updating the colors of the links). My vote is to have an interim fix for 6.0.x and then figure out a longer term solution for 6.1 that is in line with what you described, which should work well since the Global Styles

[2022-05-25 21:39] Julianoe commented on #41352
Yes that was what I was thinking about. In the same manner the posts are displayed like :
`<li class="wp-block-post post-POSTID">`

It helps to be able to target specific elements from the data structure (posts, terms, etc)

Something like you show this would be great, since it is not easy for end user to change templating for the blog output. Tech saavy people will find work around but detailed c

[2022-05-25 21:41] SergeGusev commented on #41291
Good idea, I waste time for these unnessesary steps too.

[2022-05-25 21:58] deborah86 commented on #41291
@jdcohan They are phasing out the old editor for the FSE. Adding CSS classes on the blocks will probably be phased out because it is a feature of the old editor.

The best solution would be for them to allow you to collapse/expand all options in the Block Settings menu and then save your settings. That way you can collapse all the other settings you don't want other than the advanced settings. Add

[2022-05-25 22:24] vralle commented on #38299
I missed the moment when WordPress started using principles.

[2022-05-25 22:30] jdcohan commented on #41291
@deborah86

Where do you get that information? You're saying Gutenberg won't allow us to add CSS classes to blocks? That is both hard to believe and (IMHO) preposterous. But I'm not saying you're wrong. I'm just hoping you are.

That would work for me. But if you're saying **Adding CSS classes on the blocks will probably be phased out**, then there is no solution for me.

I'm confused.

[2022-05-25 22:59] wpsoul opened #41356 "defaultGradients doesn't work properly"
### Description

I want to disable default gradients and register custom.

I tried defaultGradients option set to false in theme.json and 	add_theme_support( 'editor-gradient-presets', array() );

Problem is that both ways remove default gradient selectors, but still keep loading all gradients styles in wp-block-library-inline-css and global-styles-inline-css styles which are loaded on all pages o

[2022-05-25 23:11] deborah86 commented on #41291
@jdcohan The new editor does not have the ability to add custom CSS like the customizer. I did research and it is possible in the Theme File Editor. They are phasing out the Customizer. So, yes, it is still possible to add custom CSS but you will need to use the Theme File Editor after they phase out the Customizer.

[2022-05-25 23:17] azaozz commented on #37943
This is a great idea that will help the move from classic themes to FSE. Been thinking how this can be implemented to support the intended use, and to discourage "overuse", deep-nesting, and similar.

Can easily see a classic theme that would use blocks in a hard-coded template part for the header, footer or sidebar. Thinking this would work and look great. That basically means the "widgets" in th

[2022-05-25 23:26] jdcohan commented on #41291
@deborah86

(Emphasis added by me.)

Ok. I think I see the confusion.

You are now saying we won't be able to add **custom CSS**. I'm not talking about adding custom CSS *rules*. I'm talking about adding **Additional CSS Class(es)** — class **names**.

[2022-05-25 23:37] ramonjd commented on #40159
Speaking to `.wp-container-1 > *`, I've encountered other areas where style rendered by [layout](https://github.com/WordPress/gutenberg/blob/trunk/lib/block-supports/layout.php) override other styles that _should take precedence_.

I'm referring specifically to `blockGap`, whereby an attempt to apply a block gap to all group blocks (for example) using theme.json is futile since the layout styles a

[2022-05-26 00:28] aaronrobertshaw commented on #41342
Thanks for the ping 👍

This is an interesting idea and would be a nice feature. I'm not sure there is an easy win here though.

#### Possible issues

The predefined colors in a restricted theme palette could be anything including CSS custom properties. This would make modifying the color value itself via a generic opacity control trickier.

There's be some design challenges to address as well. Pri

[2022-05-26 00:34] coreyworrell commented on #41342
@aaronrobertshaw skipping that part above, I don't think it would be any different than how it currently works. I assume that the existing solution is getting the rendered color (even if authored as a variable) and then converts it to an rgba value when opacity is adjusted? So it could work the same under the hood, just not expose the entire custom color UI, rather just the opacity slider.

[2022-05-26 00:37] coreyworrell commented on #30359
It would be awesome to also allow any embeddable URL, and any arbitrary URL that would then just be loaded in an iframe (Google map, etc).

![Screenshot from 2022-05-25 17-38-10](https://user-images.githubusercontent.com/162595/170391770-a97d9015-a3cf-474f-920e-4b250e0455da.png)

[2022-05-26 00:55] aaronrobertshaw commented on #41342
Okay, I was distracted by the comment stating the desire for it to be like the Cover block opacity.

Another option to explore might then be:

4. Rendering restricted ColorPicker control with everything other than the opacity restricted.
    - Add a new flag `customOpacity` or value for the `color.custom` flag in theme.json
    - A new ColorOpacityPicker component might be better than the current

[2022-05-26 00:59] JJJ commented on #41307
That issue and this one combined together is a single must-have UX enhancement IMO.

(Imagine using any other design software without the ability to rename/relabel your layers/tracks/groups/effects/etc...)

Whoever takes this on should take special care with what to name the feature and the data. We are quickly running out of synonyms for title/name/label/text/nickname type stuffs. 🍒

[2022-05-26 01:14] cbirdsong commented on #41342
Currently the editor uses an inline style to accomplish this. Here's the same theme color swatch in Twenty Twenty-Two, but with the opacity adjusted on the second paragraph:

[code]

Enabling the opacity control with custom colors disabled would also lead to inline styles embedded into content, and I can't think of a way to avoid that[^1] outside of revamping the way the editor handles colors to r

[2022-05-26 01:18] aaronrobertshaw commented on #41342
I wouldn't expect it to be the default either. It's more of a niche use case in my view and would require opt-in.

[2022-05-26 01:32] I-GW-I opened #41357 "Columns Block, enable gap between columns to be adjusted"
## What problem does this address?

The Columns block does not allow you to adjust the space between columns

## What is your proposed solution?

Have an option in the Column block to allow for the gap between columns to be adjustable.

[2022-05-26 01:37] cbirdsong opened #41358 "Use of #rrggbbaa hex format for colors unnecessarily excludes older browsers"
### Description

Colors are output as hex values with transparency (`#rrggbbaa`) when using the new opacity control[^1]:

[code]

This format has less support than `rgba()` ([~92% of recorded traffic](https://caniuse.com/css-rrggbbaa) compared to presumably almost 100%) and offers no tangible benefit over it. Absent that, `rgba()` should be preferred.

Additionally, `rgba()` is already what is gen

[2022-05-26 01:47] carlomanf commented on #37943
Related: #41119

[2022-05-26 01:47] carlomanf commented on #41119
Related: #37943

[2022-05-26 02:03] carlomanf commented on #27597
I am seeing this issue being referenced a lot, so I thought I should give an update. These days, I think the best way to achieve it is through this ticket: https://core.trac.wordpress.org/ticket/54516

What this will do is enable plugins to easily implement the solution described in this issue, using familiar PHP filters.

[2022-05-26 02:07] peterwilsoncc commented on #41292
Please note: since opening this issue I've edited it as it appears to be a general translation issue in the comment query loop block.

@c4rl0sbr4v0 Thank you! Please be aware that in the `trunk` branch the files have moved to the directory `packages/block-library/src/comments/`.

When it comes time to merging the fix for WP 6.0, the team can manage moving around the files if you wish.

[2022-05-26 03:03] robertdevore commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2022-05-26 03:14] sabernhardt commented on #41078
This was also [reported on Trac](https://core.trac.wordpress.org/ticket/55826) with WordPress 6.0, and the behavior apparently changed between 5.8 and 5.9 (without the Gutenberg plugin).

* WordPress 5.8: The datepicker week started according to my setting (I tried both Monday and Wednesday).
* WordPress 5.9: The datepicker week started on Sunday when I set it to Monday.

The bug is probably still

[2022-05-26 03:15] peterwilsoncc commented on #27597
This is great! It will be especially useful for the bigger enterprise type sites.

The `current_user_can()` function can accept as many or few arguments required for checking meta capabilities.

In most cases the meta capability is something like `current_user_can( edit_template, $post_id )` but it would be possible to expand it to include items like post types, etc: either with `current_user_can(

[2022-05-26 04:53] dmahendrakar commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2022-05-26 04:57] #41192 closed, assigned to Mamaduka

[2022-05-26 05:06] phena109 commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2022-05-26 06:35] #41350 closed, assigned to Mamaduka

[2022-05-26 07:11] andrewserong commented on #41353
I've opened a potential fix in #41361

[2022-05-26 07:20] cbravobernal commented on #41292
In WordPress trunk, as you mention, without Gutenberg, is taking the data from `src/wp-includes/js/dist/block-library.js`.

In the Gutenberg repo, if we update the `po`file by changing to the new folder, and them compile the `mo`. The block is translated.

[code]
to
[code]

I'm afraid I am stuck here. I don't know how to address this fix in the code, as there seem to be more variables happening (t

[2022-05-26 07:28] swissspidy commented on #41292
cc @ocean90 in case this is related to language packs

[2022-05-26 07:31] markhowellsmead commented on #36135
This is being discussed and solved through PR https://github.com/WordPress/gutenberg/pull/38974.

[2022-05-26 07:31] markhowellsmead commented on #40159
Thanks for looking into it, @ramonjd, I appreciate it. Some colleagues and I discussed the problematic descendant selector in #36135 last year and we came to a similar solution: using semantic class names makes a lot more sense.

I would suggest:

* that the class names be aligned to BEM logic; e.g. `wp-layout-inherit wp-layout-inherit--narrow` / `wp-layout-inherit wp-layout-inherit--wide`; `wp-ga

[2022-05-26 07:34] markhowellsmead commented on #40159
I would also note that `!important` is still being referenced in code examples in that PR, which are themselves contributing to specificity problems. There are several issues open on this subject: https://github.com/WordPress/gutenberg/search?q=%21important&type=issues

[2022-05-26 07:37] markhowellsmead commented on #40159
…and your comment about justification class names also hits home: see #41230 and #38719.

[2022-05-26 07:43] markhowellsmead commented on #36135
See also https://github.com/WordPress/gutenberg/issues/40159#issuecomment-1137964090.

[2022-05-26 07:47] #41321 closed, assigned to youknowriad

[2022-05-26 07:47] markhowellsmead commented on #41358
See also #40943.

[2022-05-26 08:08] ObviousInvestor opened #41365 "6.0 Upgrade Does Not Keep Image Alignment"
### Description

Pages compiled with latest 6.0 version aligns images left on update if they are set to align center. Align right works, but it does not respect images set to align center.

When I update a page in 6.0 (even without changing anything), all images on that page that have alignment set to "Center" align left.

This is quite serious as it stops me from being able to edit a page without

[2022-05-26 08:28] draganescu commented on #39194
To add more context: some features which are important to DX but at the same time add a lot to the UX and provide little outside of specific workflows are better suited in a plugin.

In this particular example, the theme file management build as 1st class support in Gutenberg would force a few things, among which:

- add a whole system for file management via REST which does not exist
- commit to

[2022-05-26 08:33] draganescu commented on #39189
In the same note as @getdave 's comment should creating a new theme be considered as well? I think (see https://github.com/WordPress/gutenberg/issues/39194#issuecomment-1138294471) that this is plugin domain as well.

[2022-05-26 08:45] carlomanf commented on #27597
@peterwilsoncc If you are interested to review the open pull request https://github.com/WordPress/wordpress-develop/pull/2342 I would much appreciate it. If that one (or an equivalent) can be merged, I would consider closing this issue, because plugins would be able to handle the rest.

[2022-05-26 08:46] Humanify-nl commented on #39194
Thanks @draganescu for the feedback.

It makes a lot of sense to me, to keep this DX scope in a plug-in away from end users, while still offering theme authors the tooling to help optimize build workflow.

[2022-05-26 08:55] scruffian commented on #39189
I'm not sure, I feel like that is simple enough that it could be part of Gutenberg, but we probably shouldn't attempt it until it's possible to create a block theme without any CSS.

[2022-05-26 09:00] getdave commented on #41146
Thanks @annezazu 👍

Also @draganescu and @scruffian do you have any thoughts about short term vs longer term fix?

[2022-05-26 10:13] scruffian commented on #41146
My concern with a short term fix is that it will make the long term fix harder, as we'll have to undo the mess that it will create.

[2022-05-26 10:29] struna commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

cc @jeffpaul

[2022-05-26 11:10] aristath commented on #41358
Personal opinion: I don't think there's anything wrong with colors defined like `#rrggbbaa`... 8-digit hex colors are supported by any and all browsers that WordPress supports. Gutenberg uses many modern CSS techniques such as `calc()`, `:where()`, CSS grids, flexbox and so on. None of them has 100% support... Flex has 96% support, while `:where()` is at 89.14% yet it's used everywhere - and right

[2022-05-26 11:14] jorgefilipecosta commented on #39893
Ident seems to work well outdent still does not work as expected.

[2022-05-26 11:14] jorgefilipecosta commented on #39893
Ident seems to work well outdent still does not work as expected.

[2022-05-26 11:35] iwasthesword commented on #41291
This would indeed be great, as someone who uses a lot of classes for templating (bootstrap) it would save a LOT of time and make workflow way easier. Maybe it could be an optional settings.

[2022-05-26 11:46] alifaraji opened #41370 "Wrong justify direction in RTL"
### Description

There are two flex divs in post status panel assigned with left values instead of right, Its causing UI problems with RTL versions.
in `wp-includes/css/dist/edit-post/style-rtl.css`
changing
[code]
To
[code]
Seems to fix the problem.

### Step-by-step reproduction instructions

1. Go to Post Editor

### Screenshots, screen recording, code snippet

![LTR verstion](https://wpvar.com

[2022-05-26 11:47] alifaraji commented on #41370
https://core.trac.wordpress.org/ticket/55743

[2022-05-26 11:51] ndiego commented on #41324
I just added this to the [6.0.1 Project Board](https://github.com/orgs/WordPress/projects/31).

[2022-05-26 12:16] jdcohan commented on #33583
Count me in. Love the proposal.

[2022-05-26 12:39] Mamaduka commented on #41346
The `@wordpress/element` is only used for a single unit test. It might be better to refactor this test than add the package as a dependency.

[2022-05-26 12:41] cbirdsong commented on #41358
WordPress’ only explicit list of browser support was intended to apply to the admin area, not the front end of the site. See this discussion on CSS authoring practices and browser support:
- https://github.com/WordPress/gutenberg/discussions/39621

However, the difference between those examples and this specific issue is that `:where()` and custom properties are _(mostly)_ being used to solve prob

[2022-05-26 12:43] jdcohan commented on #41291
@iwasthesword

Good idea. In fact, that makes me think of another possible enhancement: allowing users to show/hide **any** List View kebab menu item from the Preferences panel. Right? If you want to propose it, go for it! Otherwise, I might...

[2022-05-26 12:52] gziolo commented on #41346
There are React components in the package that use `@wordpress/element` indirectly through JSX transformation with Babel.

[2022-05-26 13:29] eric-michel commented on #30815
@jorgefilipecosta I just started updating my sites to WP 6.0, and this transformation works flawlessly. This will make my users' lives soooo much easier. Thanks again for your amazing work!

[2022-05-26 14:05] mrfoxtalbot opened #41374 "[FSE] Gallery Block preview breaks in Site Editor"
### Description

While using the Site Editor, if there are any multi-column gallery blocks on one of the posts, they will show in a single column in the preview.
![Screen Shot on 2022-05-26 at 14:42:09](https://user-images.githubusercontent.com/4452464/170503343-93514391-1c98-4892-aaf3-9411e13272ec.png)

Once the Site Editor changes are saved, the gallery looks just fine on the public view
![Scree

[2022-05-26 14:45] jacobfogg commented on #41285
I have concluded that my attempt at using the 'rest_category_query' was pointless. I also tried to intercept and modify the $_REQUEST before it hit the filters, but with no success.

@andreasjr Your approach DOES work. We loose all of the auto-complete magic, and we will have to look up the slugs manually, _but_ it is actually working, so that is something. Thankfully, we're not dealing with query

[2022-05-26 14:57] justintadlock commented on #41365
I was unable to reproduce this.  Images aligned center in the editor and on the front-end for me with and without Gutenberg 13.3 active on WP 6.0.

@ObviousInvestor - Can you test this with the Twenty Twenty-Two theme active?  If still not working, can you copy/paste the block code here?

[2022-05-26 15:06] ObviousInvestor commented on #41365
Hi Justin,

Sorry but I had to downgrade Wordpress to the previous version unfortunately as I couldn’t change anything without this happening so I was stuck. I also found that columns messed up on mobile in 6.0. If you look at the top of this post: https://obviousinvestor.com/assetz-capital-review/ it is a review block (Ultimate Addons) and other text blocks in a 2 column wrapper. In 6.0 on mobile

[2022-05-26 15:09] nerrad commented on #39439
@senadir (and @ralucaStan) - there's some overlap here with what you and your team has done for extensibility in the WooCommerce Cart and Checkout blocks. There could be some opportunity here to contribute towards a solution in Gutenberg that would be beneficial here?

[2022-05-26 16:14] bdurette opened #41376 "Persist design tool selection to improve UX"
## What problem does this address?

I'm frustrated when I use the three-dot menu to add settings options to the block settings sidebar, but that's not a persistent preference. This is made worse by the popup menu occluding the options that I want to set. To make the menu go away, I'm used to clicking away from the menu itself, but unless I click on the sidebar or exactly on the element that I'm mo

[2022-05-26 16:34] coreyworrell commented on #41342
Yes your option 4 sounds just like what I'd expect to happen. As far as accessibility, are you saying that the contrast checker cannot properly work with alpha values yet? Or are you saying that setting opacity could lead to bad contrast? If the latter, users are already warned about that with a message in the panel right? I don't see any reason to disallow certain colors, as ultimately it's the e

[2022-05-26 16:50] mtias commented on #38990
Instead of prioritizing explicit width / height, I'd want to explore using the aspect ratio tool (similar to the hard-cropping one) used. We can apply it to the cover block as well. We can still support resizing while maintaining aspect ratio.

We should also do this in conjunction with #41142 to support the creation of pattern with placeholders much better.

[2022-05-26 17:02] westonruter commented on #41171
I was thinking perhaps it could be supplied via `.wp-env.override.json`.

I like that.

[2022-05-26 17:03] justintadlock commented on #41356
From what I understand, this is the correct behavior.  Disabling the default gradients is meant to remove them from the UI.  However, it is not necessarily unused CSS.  WordPress still delivers the CSS for compatibility so that users do not lose preexisting gradient selections.

If you really wanted to remove core's CSS, it's best to dequeue the wp-block-library styles and roll out custom styles.

[2022-05-26 17:11] iamtakashi commented on #23323
@mtias I can see `px`, `em`, and `rem` units available now, but `vw` and `vh` aren't yet available. Am I missing something?

<img width="282" alt="Screenshot 2022-05-26 at 18 03 47" src="https://user-images.githubusercontent.com/908665/170539498-d9c3bab1-2ccf-43d1-94e9-a2b07721672d.png">

It depends on #24480, but if that will take more time, I think it's worth considering adding `vw` and `vh` as

[2022-05-26 17:15] justintadlock commented on #41357
Testing with WordPress 6.0 or Gutenberg 13.3.0 shows the Block Spacing option (gap) support for Columns for me.  @I-GW-I Can you verify that the "Block Spacing" option is not available in the "Dimensions" dropdown when clicking on the vertical ellipsis icon?

![columns-gap](https://user-images.githubusercontent.com/1816309/170539894-b03293d1-69ea-4587-983e-1842c2ed966d.jpg)

[2022-05-26 17:21] mtias opened #41379 "Pattern Inserter: Next"
_Previously https://github.com/WordPress/gutenberg/issues/21080#issuecomment-605161443_

---

With the focus on "building with patterns" and the expansion of the pattern directory there's a need to refine some flows around the discovery and insertion of patterns. The main things to accommodate are the growing sets of categories and provenance (theme, directory, eventually user); the drag and drop

[2022-05-26 17:23] bdurette commented on #41376
Nick and I did some more investigation. WP 6.0 and GB 13.3.0 have different behavior. GB has the reported behavior. WP 6.0 dismisses the popover menu immediately when an option is clicked. This makes it possible to edit the setting immediately, but requires me to go back in to the menu to enable other related settings. Example: Typography has two hidden options by default.

[2022-05-26 17:32] skorasaurus commented on #16508
Hi,

I'm still able to reproduce this as of Gutenberg 13.2.; note that this only occurs if the last character in the saved attributed is a backslash;

for example, in the test case above by @ehti ; if you change the title in title block to "search for records and\or data" ; the attribute will be saved ;but if you finish it as ABC\ it will not.

[2022-05-26 17:35] skorasaurus commented on #20568
still present in Gutenberg 13.2.0.

[2022-05-26 17:41] mtias commented on #23323
Ah, sorry, I misread :)

[2022-05-26 17:46] iamtakashi commented on #23323
That's ok. Thanks for reopening!

[2022-05-26 17:52] ndiego commented on #41376
To follow up on this, after some testing there are some interesting UX issues that could be improved in future releases and warrant discussion.

#### Enabling a setting is not "remembered" unless the setting is set

Using the example of the Typography panel, if I add "Appearance" to a Paragraph block, and then click off of the block, the "Appearance" setting is no longer applied when I select the

[2022-05-26 18:06] annezazu commented on #41376
cc @aaronrobertshaw @apeatling in terms of the above feedback! Updated the title to better match the feature being discussed as well for discoverability.

[2022-05-26 18:19] justintadlock commented on #41376
Making this happen would be pretty huge.  It is also consistent with general user feedback I've heard.

As someone who spent over the last two years writing daily in the editor, the settings dropdown was one of my favorite features because it meant some settings that I rarely used were tucked away neatly.  However, it also meant that settings I often used became a bit of an annoyance to access.  I

[2022-05-26 18:40] cbirdsong commented on #39372
As part of getting this discussion going, I'm going gather up and summary existing suggestions, then outline the semantic-ish system we've built for our non-theme.json agency themes.

In https://github.com/WordPress/gutenberg/issues/38998 and [its accompanying blog post](https://mrwweb.com/standardized-design-tokens-css-wordpress-future/), @mrwweb suggested "foreground, background, primary, second

[2022-05-26 19:06] jonmarkhall opened #41381 "Unable to move cursor past inline-block element at end of rich text content"
### Description

We have a plugin that uses a `<span>` with `display: inline-block` to represent an object in the rich text editor (for the Paragraph block). When inserting such a `<span>` at the end of the rich text content, it is not possible to navigate the cursor past the `<span>` to add text beyond it. This is not an issue if the `<span>` is inserted within existing content.

### Step-by-step

[2022-05-26 19:14] wpsoul commented on #41356
I don’t think so. If I want to remove default gradients and added such code, then I want really remove them and not just hide. Otherwise, we need another filter to remove them totally.

from my point of view, Wordpress team are concentrated on block logic and conditional assets. For example, if I don’t use group block, then styles of this block is not loading. So, what is the reason to load such b

[2022-05-26 19:29] cbirdsong commented on #40159
I generally like the idea of abstracting layout out into predictable classes like `.wp-layout-<whatever>`, but I think it would be best if the layouts were conceptualized more cleanly and holistically instead of merely retrofitting what exists into the style engine.

`.wp-layout-default` and `.wp-layout-flex` do not describe what the layout is intended to manage, especially since apparently the fl

[2022-05-26 20:00] getdave commented on #38277
@javierarce Both myself and @draganescu are actively exploring this route in code. It's early days but just so you know we're intending to advance this in a generic way in order that it is applicable to all blocks.

Ironically, it's likely that the Nav block will be the last block to gain the enhancement, as it - necessarily - uses a custom implementation of the color controls so it won't automati

[2022-05-26 20:04] getdave commented on #27075
For anyone watching this Issue you might like to keep an eye on https://github.com/WordPress/gutenberg/issues/38277 which is where design progress is being made on this problem.

[2022-05-26 20:33] justintadlock commented on #41356
Related: https://github.com/WordPress/gutenberg/issues/40183

Right now, the end user needs the styles to be loaded regardless of whether a theme supports the core gradients.  For example, let's say the user had Twenty Twenty-Two installed for a while and used those gradients for their blocks.  Then, they install a different theme that doesn't support the core gradients.  The user might still want

[2022-05-26 20:54] justintadlock commented on #41087
I was trying to figure out how to categorize this.  I believe this is related to an open ticket in Core WP Trac: https://core.trac.wordpress.org/ticket/29807

[2022-05-26 20:55] wpsoul commented on #41356
Ok. This has a sense. To be truth, it’s not clear what is the reason to load all gradients at once if it’s possible to load gradient which is used for block. Like we have for all other settings: margins, paddings, etc

[2022-05-26 20:59] Inclushe commented on #40447
I encountered this issue going through the [Create a basic block](https://developer.wordpress.org/block-editor/how-to-guides/block-tutorial/writing-your-first-block-type/) tutorial from the [Block Editor Handbook](https://developer.wordpress.org/). Not fun.

[2022-05-26 21:04] strarsis commented on #40447
@Inclushe: I updated to latest version of `@wordpress/scripts` and re-run the build script, with recent versions of `@wordpress/scripts`, the `index.asset.php` was auto-generated. Maybe this also helps in your case.

The documentation should mention this was added with more recent versions of `@wordpress/scripts`,
probably the example projects should also have their `@wordpress/scripts` dependency

[2022-05-26 22:01] paaljoachim commented on #29352
@draganescu @ntsekouras @adamziel  @ZebulanStanphill

The reason why I am pinging all of you is that I am doing some exploring on clicking an anchor link and noticing how jumps  right away to the place on the page it is in. Can we add a smooth scroll?

Case:
Clicking somewhere in the List block and having a smoother scroll to the location on the page the item clicked is seen.
Clicking an anchor li

[2022-05-26 22:56] cdils commented on #30767
+1

[2022-05-26 23:26] richtabor commented on #39073
Hey @brookewp - totally missed this. Here's how I'm doing it currently: https://richtabor.com/?s=gutenberg

Yea, I think the resizable width is nice. You still can't go wide/fullwidth without the group block surrounding it, but that's probably fine.

I could probably be convinced that we don't actually need alignments like we have (as it currently does the float stuff, like inline images) — perhap

[2022-05-27 00:00] skorasaurus commented on #32600
Sounds like this is working as expected per https://github.com/WordPress/gutenberg/issues/32600#issuecomment-859718056 and unable to reproduce on core blocks, so closing.

[2022-05-27 00:00] #32600 closed, assigned to nobody

[2022-05-27 00:24] #41353 closed, assigned to andrewserong

[2022-05-27 00:26] aaronrobertshaw commented on #37981
The two main issues here should now be resolved with #41222 and #41223 landing.

- #41222
    - A new copy button was added for all color models as you otherwise cannot easily copy the non-hex colors
    - It made sense to keep that copy button consistent
- #41223
    - This PR improved the UX around pasting hex values into its input field

[2022-05-27 00:26] #37981 closed, assigned to aaronrobertshaw

[2022-05-27 01:45] noisysocks opened #41384 "`DatePicker`: Date formatting symbols appear in `aria-label`"
I noticed that the aria-label on the day component outputs symbols.

<img width="1119" alt="Screen Shot 2022-05-27 at 11 17 15 am" src="https://user-images.githubusercontent.com/6458278/170611316-f0f499da-9e82-4916-8589-c285781077c7.png">

Not sure if the problem is in `moment()`. It's something to do with the locale aware format  `LL`

This works

[code]

But it's not locale aware I presume so it

[2022-05-27 01:45] noisysocks commented on #41384
We probably should use our own `dateFormat` function that's in `@wordpress/date` here:

https://github.com/WordPress/gutenberg/blob/ef6c2fe106788c7efec627606b3de892974a0d9d/packages/components/src/date-time/date.tsx#L44

[2022-05-27 02:16] torounit commented on #35744
@ciampo @mirka

Rewrote <FormTokenField> to Typescript.

https://github.com/WordPress/gutenberg/pull/41216

[2022-05-27 02:16] aaronrobertshaw commented on #41342
There are difficulties in accounting for multiple alpha layers to be able to determine whether minimum contrast levels have actually been attained. As a result, when transparent text is chosen, a generic "Transparent text may be hard to read" message is displayed. Some history can be found in the PR [enabling the alpha channel for color block supports](https://github.com/WordPress/gutenberg/pull/3

[2022-05-27 03:45] I-GW-I commented on #41357
Sorry, you are correct, it is my theme that is the issue.  I am seeking help from the theme developers.

[2022-05-27 05:04] aaronrobertshaw commented on #41376
👍  Thanks for raising this issue @bdurette it's definitely a problem that needs some attention. Also, I appreciate the effort to think of possible remedies, the more ideas the better as I fear improving the UX here is trickier than anticipated.

It might be easiest if I start by noting a few thoughts on the possible solutions proposed so far and provide a little extra history and context.

#### Pr

[2022-05-27 05:38] peterwilsoncc commented on #27597
@carlomanf I'm happy to do so but have run out of time today. I am on leave next week so will take a look once I return in the week starting June 6, 2022.

[2022-05-27 08:32] ntsekouras commented on #39893
That's true Jorge! I started working on this a while ago but never finished. Feel free to pick this up if you find some time.

[2022-05-27 08:53] ciampo opened #41388 "`CustomGradientPicker` doesn't move focus to the gradient bar"
It looks like the "gradient bar" is blurred when the component is mounted. As a result, clicking on the gradient bar opens the `ColorPicker` in a `Popover` that is also blurred out.

https://user-images.githubusercontent.com/1083581/170501602-681b0247-ccc1-46ab-8f45-962f767694d2.mp4

_(originally reported while reviewing https://github.com/WordPress/gutenberg/pull/41361#pullrequestreview-986260459

[2022-05-27 08:54] ciampo opened #41390 "`CustomGradientPicker`: glitchy interactions while adding color stops"
When clicking on the gradient bar to add a color stop:

- it's impossible to add a color stop in proximity of the pre-existing start/end color stops — the "+" simply doesn't appear and clicking doesn't do anything (although I'm not sure if this is by design)
- when the "+" icon appears on hover the gradient bar, I noticed that the icon's position doesn't track perfectly the cursor. This behaviour

[2022-05-27 09:06] github-actions[bot] opened #41391 "[Flaky Test] can be inserted"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
can be inserted

## Test path
`/test/e2e/specs/editor/various/footnotes.spec.js`

## Errors

<time datetime="2022-05-27T09:06:55.336Z"><code>[2022-05-27T09:06:55.336Z]</code></time> Test passed after 1 failed attempt on <a href="https://github.com/WordPress/gutenberg/actions

[2022-05-27 09:08] EightArmsWebmaster commented on #41087
Thanks @justintadlock

I realised it was linked to the Editors not having access to the `unfiltered_html` capability.

Perhaps this issue should be closed and a new one created, something like: **Allow Gutenberg block to by pass unfiltered_html check**. As the block shouldn't be restricted by a user's capabilities if following the structure set out by the block developer.

[2022-05-27 09:22] github-actions[bot] opened #41392 "[Flaky Test] should reopen sidebar the sidebar when resizing from mobile to desktop if the sidebar was closed automatically"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should reopen sidebar the sidebar when resizing from mobile to desktop if the sidebar was closed automatically

## Test path
`/test/e2e/specs/editor/various/sidebar.spec.js`

## Errors

<time datetime="2022-05-27T09:22:16.081Z"><code>[2022-05-27T09:22:16.081Z]</code></time>

[2022-05-27 09:56] mtias commented on #27597
This would be useful as well for #37943.

[2022-05-27 10:09] mtias commented on #37943
The biggest challenge here is going to be how to give access to an interface for editing these parts. I think the most straightforward approach would to add a "Templates" item under Appearance on non-block themes when they make use of parts.

- It's easy for a PHP template to use a block template part. The tricky part is how should it inform that it's doing so for the admin to expose the relevant

[2022-05-27 10:20] github-actions[bot] opened #41396 "[Flaky Test] should only consider the content as one tab stop"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should only consider the content as one tab stop

## Test path
`/test/e2e/specs/editor/various/writing-flow.spec.js`

## Errors

<time datetime="2022-05-27T10:20:00.388Z"><code>[2022-05-27T10:20:00.388Z]</code></time> Test passed after 1 failed attempt on <a href="https://gi

[2022-05-27 10:28] mtias commented on #38787
@youknowriad I believe the bulk of this is covered with the post-content patterns?

[2022-05-27 10:29] mtias commented on #36470
Closing this as the presence of the patterns tab should be a reflection of whether there are registered patterns, not a separate preference.

[2022-05-27 10:29] #36470 closed, assigned to nobody

[2022-05-27 10:30] mtias commented on #30192
Closing as this is covered by other issues.

[2022-05-27 10:30] #30192 closed, assigned to nobody

[2022-05-27 10:30] mtias commented on #28921
@critterverse is this issue something that's still active?

[2022-05-27 10:41] jameskoster opened #41397 "Template editing: convert semantic patterns to template parts upon insertion"
Potentially part of #41379.

On occasions where patterns designed to be used for template headers / footers are inserted it might be good to automatically create template parts, or at least offer a way to do so. This helps in a couple of ways:

1. It unlocks functionality associated with semantic template parts (replacing)
2. Reduces the chance of using the same pattern in multiple templates witho

[2022-05-27 11:04] priethor commented on #41297
@KokkieH thanks for reporting!

Do you mind if we close this issue and consolidate the work in #39308, as it will solve the problem?

[2022-05-27 11:06] KokkieH commented on #41297
@priethor that's absolutely fine, yes. Thank you :)

[2022-05-27 11:06] #41297 closed, assigned to nobody

[2022-05-27 11:07] mtias commented on #41397
I don't know that you always want to make these synchronized by default. If pursuing this, we should probably ask for semantic patterns, and only if you don't already have a header / footer saved.

[2022-05-27 11:10] mtias commented on #38536
I don't think we should support aliases for patterns, instead we should just place them in multiple categories if needed.

[2022-05-27 11:19] mtias opened #41398 "Support a `postType` property when registering patterns"
Sometimes patterns are expected to work with a certain post type and it'd be desirable that they are not available globally for others. Let's support this by allowing a `postType` array to be optionally declared (assume `all` if none is set) when registering a pattern.

[code]

This should also work well in conjunction with the work to support `core/post-content` given you can ensure patterns are

[2022-05-27 11:24] jameskoster opened #41399 "Template editing: List existing template parts in the Inserter Patterns tab"
## What problem does this address?
The Patterns inserter surfaces header and footer patterns that may have already been used to create template parts at the site. Consequently it's very easy to insert a _pattern_ in a template where an existing _template part_ might be preferable.

## What is your proposed solution?
If we list existing template parts in the pattern inserter we can hopefully reduce

[2022-05-27 11:27] github-actions[bot] opened #41400 "[Flaky Test] should merge into inline boundary position"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should merge into inline boundary position

## Test path
`/test/e2e/specs/editor/various/splitting-merging.spec.js`

## Errors

<time datetime="2022-05-27T11:27:28.032Z"><code>[2022-05-27T11:27:28.032Z]</code></time> Test passed after 1 failed attempt on <a href="https://git

[2022-05-27 11:34] mtias commented on #30142
@critterverse can we try moving as a separate section below the "blocks" one?

[2022-05-27 11:35] justintadlock commented on #41357
Thanks for the additional info.  Closing since this is a theme issue.

[2022-05-27 11:35] #41357 closed, assigned to nobody

[2022-05-27 11:40] mtias opened #41401 "Extending available templates via plugins"
There are many plugins that come with their own set of templates (plugins for commerce, newsletters, education, etc) that would need to extend the list of templates available when creating new ones. So this list needs to be easy to filter and extend. From a design perspective, we also need to group them well both for creation flows (in the dropdown) and for management flows.

[2022-05-27 11:46] youknowriad commented on #38787
Yes, I think @jorgefilipecosta had a PR that should have closed this issue.

[2022-05-27 11:46] #38787 closed, assigned to jorgefilipecosta

[2022-05-27 11:56] zdenys commented on #39174
This should be resolved as it's no longer happening on WordPress.com where it was initially reported https://github.com/Automattic/wp-calypso/issues/61052#issuecomment-1139425244

[2022-05-27 11:56] priethor commented on #40996
@carolinan if I'm understanding correctly, the `perPage` setting will be ignored whenever the `inherit` option is enabled as it will ultimately be overridden by the global setting, is that so? In that case, the `perPage` setting should be hidden when when `inherit` is enabled.

[2022-05-27 12:08] priethor commented on #40481
Related issue mentioning the performance issues, too: #24934

[2022-05-27 12:12] priethor commented on #39466
Fixed in #38997 since [Gutenberg 13.0](https://make.wordpress.org/core/2022/04/14/whats-new-in-gutenberg-13-0-14-april/).

[2022-05-27 12:12] #39466 closed, assigned to nobody

[2022-05-27 12:18] draganescu commented on #29352
This can quickly become dizzying if you mis-click three times in the list view.

Somewhat related experience: in most IDE-s there is the option to sync the file explorer to the currently open file. The sync means that in the file explorer panel you always have the folder nesting expanded and the currently viewed file selected and the view scrolled to there. I always think it's a good idea until I

[2022-05-27 12:22] priethor commented on #39285
Related to #24934.

[2022-05-27 12:26] justintadlock commented on #19981
This no longer seems to be an issue as of WordPress 6.0 and Gutenberg 13.3.0.  I tested with the following code, which does not allow publishing posts:

[code]

Before submitting for review:

![image](https://user-images.githubusercontent.com/1816309/170698307-8ce0372c-1424-46ec-901c-af4d0bf5c903.png)

After submitting for review:

![image](https://user-images.githubusercontent.com/1816309/1706987

[2022-05-27 12:26] #19981 closed

[2022-05-27 12:39] justintadlock commented on #21046
I believe this is now satisfied by the global styles variations feature.  @nickcernis - Do you think we can close this one out now?

[2022-05-27 12:44] justintadlock commented on #22557
@mrwweb - Is this still an issue?  I didn't see it in the code.  If not, we can close this ticket out.

[2022-05-27 12:50] paaljoachim opened #41403 "HTML anchor: Smooth scrolling to receiving end."
## What problem does this address?

Right now clicking an internal same page link using a HTML anchor jumps directly to the receiving block.
It feels choppy.

## What is your proposed solution?

Add smooth scrolling when clicking a HTML anchor, so it has a softer transition going to the receiving end.

Associated issue:
https://github.com/WordPress/gutenberg/issues/29352

[2022-05-27 12:58] priethor commented on #35788
Given the Pagination block is now added by default when inserting a Query Loop block, I don't think it should be prioritized in the appended inserter 🤔 . I'm thinking of use cases where the Pagination block would be added:
- Adding a second Pagination block
- Removing the existing one and adding it later

I don't have data to validate my thoughts, but I don't think these use cases should be priori

[2022-05-27 13:04] ryanwelcher commented on #40447
@kmonahan thanks for opening this issue and sorry for the frustrating experience! I think we can start by updating the tutorial to be more clear about the need for the `index.asset.php`. I'll start a PR for that

[2022-05-27 13:10] bdurette commented on #41376
Thanks for the detailed response @aaronrobertshaw! As your response makes clear, design is a series of tradeoffs. Not being a designer myself, I do look to prior art for inspiration and in one case my idea was inspired by observing what my natural behavior was.

My suggestion (2) was specifically based on what my natural subconscious behavior expected to happen. In fact, that's what was so natural

[2022-05-27 13:25] fluiddot opened #41404 "Incorrect font displayed in Verse and Preformatted blocks when opening a post"
## Description

Verse and Preformatted blocks render their content using the `pre` HTML tag, which should display the text with a fixed-width font (i.e. different from the rest of text blocks). This is the case when adding and editing these blocks, however, after saving and re-opening a post on Android, they show the regular font instead. The correct font is only applied after modifying the conten

[2022-05-27 13:36] priethor opened #41405 "Query Loop improvements v2"
Supersedes #30910

Since the Query Loop block landed back in WordPress 5.8 and even before, numerous feedback and feature requests have been received.

The Query Loop block is such a powerful site-building tool that striking a balance between functionality and usability is critical. Therefore, ensuring optimal insertion flows and editing experience should be prioritized and considered when adding

[2022-05-27 13:42] fluiddot opened #41406 "Heading block: Text displayed with smaller font size when enabling any text format (Only on Android)"
## Description

In general, the Heading block displays the text using a bigger font size than the rest of the text blocks. This is the case when typing text on this block, however, if any text format is enabled before typing on Android, it's displayed in a smaller size than expected.

## Step-by-step reproduction instructions

1. Open a post/page.
2. Add a Heading block.
3. Type some text.
4. Obse

[2022-05-27 13:45] ashleyleia commented on #41365
I'm having this issue with image alignment, but it's only happening with Astra theme (and I don't have Gutenberg active).

@ObviousInvestor - There's a thread related to this on the Astra theme support forum here: https://wordpress.org/support/topic/wordpress-6-0-image-alignment-not-working-2/

[2022-05-27 13:51] ObviousInvestor commented on #41365
Thanks. It’s good to know I wasn’t going crazy.

I ended up downgrading to the previous version using the plugin WP Downgrade.

There were also problems with some other blocks not aligning correctly on mobile.

From: ***@***.***>
Sent: 27 May 2022 14:45
To: ***@***.***>
Cc: ***@***.***>; ***@***.***>
Subject: Re: [WordPress/gutenberg] 6.0 Upgrade Does Not Keep Image Alignment (Issue #41365)

I'm h

[2022-05-27 13:52] richtabor commented on #39064
I also think it's a good idea to match the current drag-and-drop UX — I made a couple adjustments based on your feedback @paaljoachim:

<img width="961" alt="group" src="https://user-images.githubusercontent.com/1813435/170712826-156b53fd-779f-4ee7-8386-0765017f3cfa.png">

[2022-05-27 13:56] gziolo commented on #41236
Thank you @luisherranz for your feedback. I included your suggestions together with references.

I also added two more items that I missed initially but have been following closely for a long time:
- Introduce classification of block validation types to make block deprecation handling more flexible (https://github.com/WordPress/gutenberg/issues/21703).
- "Universal blocks" that could be written on

[2022-05-27 14:18] gziolo commented on #39388
I have just landed changes for `check-local-changes`. Does it mean we have only `test-unit` left? 😄

[2022-05-27 14:29] paaljoachim commented on #39064
Looks good Rich!

Any additional feedback here @jasmussen Joen?

[2022-05-27 14:29] t-hamano commented on #39388
Oh, I must have put in the wrong PR number.
`test-unit` is already done with #41070.

So all issues are now resolved.
If I find any new OS-related issues in the future, I would like to submit a new issue.

Thank you for your cooperation!

[2022-05-27 14:29] #39388 closed, assigned to t-hamano

[2022-05-27 14:41] richtabor commented on #38990
I agree.

It's a bit rudimentary, but I've experimented with aspect-ratio tied to image sizes — where selecting an aspect ratio calculates the proper height value from the width (and the object-fit crops it properly). Then when you resize, the height/width ratio is maintained.

https://user-images.githubusercontent.com/1813435/170721809-b948377d-f909-4969-becd-db3622bd2b0f.mp4

This is just an exa

[2022-05-27 14:46] richtabor commented on #41245
Interesting case for sure. I would certainly lean on the cover block instead of the Featured Image block as well. I'd say the featured image block is more of traditional use case, to display if it's available, whereas the Cover is much more robust in that you can design with/around the featured image (if there's one, or not).

[2022-05-27 14:46] matiasbenedetto commented on #41333
Potential fix here: https://github.com/WordPress/gutenberg/pull/41335

[2022-05-27 14:52] ockham commented on #34994
Hey @annezazu , thanks a lot for the feedback! 😄

While those make sense, I’m afraid the team won’t prioritize these blocks in the near future. TBH, since their use cases seem a bit less common than our garden variety Comments blocks, I think it’s arguable that they could be third-party plugin material — especially the latter; and for the former, there’s the Latest Comments block that @c4rl0sbr4v0

[2022-05-27 14:56] mtias commented on #37717
Sharing my perspective here — the proper solution to the problem needs to be isomorphic, as discussed more broadly in #39439. However, supporting one-off server filters that only modify front-end output seems ok to have, as there will be some valid cases where it's ok to not reflect on the editor what happens on the front-end. It should just not be promoted as _the_ solution to the problem, but it

[2022-05-27 15:02] critterverse commented on #28921
Closing this issue since it was meant for preparing the launch of the Pattern Directory and is no longer active.

[2022-05-27 15:02] #28921 closed

[2022-05-27 15:10] critterverse commented on #30294
Closing this issue as navigation in the site editor nows behaves differently.

[2022-05-27 15:10] #30294 closed, assigned to nobody

[2022-05-27 15:11] richtabor opened #41408 "Disable featured image control if no featured image is applied to the post"
## What problem does this address?

**1.** If a user does not have a featured image applied to the post, the experience can be confusing for users that click on the "Use featured image" control and nothing actually happens.

Even more-so, if you click "Use featured image", then try to upload or apply an image from the Media Library within the placeholder, the block does not render any of those cha

[2022-05-27 15:17] admturner commented on #40528
I'm happy to provide a screencast; I'll do that as soon as I get a chance. To clarify my environment as well, while I'm on Windows I work in WSL2 using Ubuntu.

[2022-05-27 15:28] strarsis commented on #40447
@ryanwelcher: And I am right with the assumption/experience that updating `@wordpress/scripts` to latest version resolves the issue as the `index.asset.php` file is then automatically generated by the `build` script?
This should also be mentioned in the documentation (and the minimum version where this was introduced).

[2022-05-27 15:30] ockham commented on #40617
Hey, sorry for the late reply! 😅

The "Query" in "Comments Query Loop" is a bit misleading; the "query" cannot be customized; instead, the block will always show all the post's comments. (This is one reason why we ended up [renaming](https://github.com/WordPress/gutenberg/pull/40763) the block to just "Comments".)

OTOH, the Post Comments block _does_ contain pagination links, and a reply form (th

[2022-05-27 15:32] kmonahan commented on #40447
@strarsis The `@wordpress/scripts` tools do generate an `index.asset.php` file, but the issue is specifically when someone follows the Plain JS instructions in the tutorial and does not use the `build` script. Updating the tutorial sounds right to me.

[2022-05-27 15:32] Mamaduka commented on #41408
The proposal matches the original mockups - https://github.com/WordPress/gutenberg/pull/39410#issuecomment-1066763242.

Happy to work on the PR if folks agree with this direction.

cc @draganescu, @jameskoster

[2022-05-27 15:45] jameskoster commented on #41408
This looks like a duplicate of https://github.com/WordPress/gutenberg/issues/40156 with a very similar [solution](https://github.com/WordPress/gutenberg/issues/40156#issuecomment-1094888684) :D

The main difference to be the behaviour of "Use featured image" when no featured image is set. in 40156 we discussed having it open the media library to set the featured image, rather than simply disabling

[2022-05-27 15:53] Mamaduka commented on #41408
Thanks, @jameskoster. I knew I saw a similar proposal somewhere :D

[2022-05-27 15:54] richtabor commented on #41408
Shoot, guess I didn't look hard enough 😅

[2022-05-27 15:55] richtabor commented on #41408
I could adapt this to center on disabling the featured image control if there's no featured image. Any objections?

[2022-05-27 15:57] mrwweb commented on #22557
@justintadlock I think this probably isn't an issue now. Looking at a recent site, I'm now seeing the rule:

[code]

I suspect that's the same rule with a more specific selector that's much less likely to cause problems. Closing.

[2022-05-27 15:57] #22557 closed

[2022-05-27 16:01] jameskoster commented on #40617
Couldn't we make it so that if you insert the Comments block into a post/post type that does not allow comments, the comments form block is simply omitted? Similarly do not allow the Post Comments Form to be inserted via the inserter. That way the user never needs to see the message on the canvas.

I suppose there's a corner case where you might try and paste the block into the post, but I'm not s

[2022-05-27 16:04] #34628 closed, assigned to spacedmonkey

[2022-05-27 16:08] jameskoster commented on #41408
I think that's worth discussing for sure. One idea I had for that scenario was to use the unset-featured-image visual treatment from the site editor – see the second video [here](https://github.com/WordPress/gutenberg/issues/40156#issuecomment-1094888684) for an example. Alternatively we could just open the media library and ask the user to upload/set the featured image. That might be nice as the

[2022-05-27 16:13] richtabor commented on #41408
Yea I was thinking of how we could potentially maintain this.

I'd say opening the media library with the intent of setting a featured image right off would be better than selecting to use a featured image, then having to figure out where to upload one (or what it is).

[2022-05-27 16:17] Rale379 opened #41409 "Query Loop Block doesn't respond to the function is_paged()"
Hello,

The function `is_paged()` doesn't work.

It works fine on a Woo Shop page, for example, but not on a Blog Archive page built with the Query Loop block.

Above the posts grid, there is a section that I would like to only show on the first page.

On paginated pages, the section should no load.

I tested `!is_paged()` with a simple code snippet.

But, I will be using the plugin [Block Logic –

[2022-05-27 16:26] lwangdu opened #41410 "Would love see equal height when Query loop grid layout"
Currently we can't control equal height of the query loop grid layout.

## What is your proposed solution?

WordPress version 6.  we can't control equal height of the query loop grid layout.
![Screen Shot 2022-05-27 at 9 20 06 AM](https://user-images.githubusercontent.com/24829573/170739365-9cada9a6-d542-4711-a310-2504f4bdef5b.png)

[2022-05-27 16:38] Inclushe commented on #40447
@kmonahan The JSX example also does not work. I had to hack together my own basic Gutenberg block using [Parcel](https://github.com/parcel-bundler/parcel), which can be found in [this repo](https://github.com/Inclushe/gutenberg-block-parcel-example).

I have a use case where I would like to use this custom setup, and ideally  `@wordpress/scripts` should not be the only way to develop Gutenberg blo

[2022-05-27 16:53] NicktheGeek opened #41412 "Include aria-label for landmarks in FSE"
## What problem does this address?

WCAG requires that landmarks include aria-labels, especially if there are more than one on a page. For example, if there is a `<nav>` element in the `<header>` of the page and another `<nav>` element in the footer of the page each of those should include an aria-label like:

[code]

Currently it is possible in FSE to update the markup of containers using landmar

[2022-05-27 17:01] carolinan commented on #39194
Thank you for exploring this!

[2022-05-27 17:12] priethor commented on #41336
Not only would moving all block options to the sidebar result in moving _a lot_ of them, but it would also go against the purpose of the toolbar. The toolbar provides a more direct and prominent way of interacting with blocks than the sidebar. Hence, the most common block options are in the toolbar, always available and ready to use, leaving the sidebar to less common tools.

I'll tag the design f

[2022-05-27 17:31] PeterNdomano commented on #41245
Exactly...!
This enhancement will make `Cover Block` even more robust. Currently all I can do is a 'Cover within a cover' Hack that I learnt from @jffng  😀 Though it's limited in some ways

[2022-05-27 17:38] bdurette opened #41413 "Support Site Logo Variations"
## What problem does this address?

I would like to use the "Site Logo" block on different Header and Footer variations with multiple different images. For example, I may have a version of the logo that works well on a dark background and a different one for light backgrounds. Different sizes of logos could have slightly different images (auto-scaling isn't always appropriate, depending on the ima

[2022-05-27 17:42] priethor commented on #41330
There is further context about this in [#5301 (comment)](https://github.com/WordPress/gutenberg/issues/5301#issuecomment-677636469).

Considering the List View displays all blocks and the Heading blocks might be inside structural ones (columns, groups), the biggest challenge of a "Document Outline" mode for the List View, would be to determine where in the block hierarchy the drag&dropped headings

[2022-05-27 17:55] jonmarkhall opened #41414 "RichText: Format edit action isObjectActive is not working correctly in Safari"
### Description

Our plugin is registering a custom format to represent an object that is inserted into the rich text editor via `insertObject()`. The object has a `span` tag name and is styled with `display: inline-block` and width/height. When selecting the object after insertion, the format edit action's `isObjectActive` prop does not appear to become `true` in Safari (it works as expected in C

[2022-05-27 17:57] priethor commented on #41146
I'm also concerned about adding a lot of technical debt to fix this. I would evaluate a short-term fix for 6.0.1 but would only proceed if the effort required is not too big and there is confidence the patch doesn't compromise the long-term solution.

[2022-05-27 18:01] ZebulanStanphill commented on #34994
These sound like ideas more suited for the dynamic tokens concept discussed in #39831, rather than blocks.

[2022-05-27 18:16] NicktheGeek commented on #41412
Just a note that this does not need the block navigation label. I used the `<nav>` landmark incorrectly in my example but the Nav block does include an aria label feature. That just needs to be extended to other blocks that can have the markup switched to include landmarks.

Also, one option in the drop down is `<article>` which doesn't strictly need an aria label, but it does improve the UX in at

[2022-05-27 19:18] adamsilverstein commented on #5936
I think so @paaljoachim - if the post is autosaved while media is in the process of being uploaded, the autosave will contain "corrupted" images that don't work correctly. An ideal solution here would be to prevent autosaving until all uploads have completed.

[2022-05-27 19:21] renatho commented on #40305
I was investigating that in order to come with a good solution to Sensei, but I noticed that it was fixed for the final release in this commit: https://github.com/WordPress/WordPress/commit/571e1e01b3f7c11c8f8d6717be8568facd7ba118

So should we consider it safe to be registered attached to the `current_screen` hook (based on my tests, it works well)? If yes, I think we could also close this issue.

[2022-05-27 19:28] matiasbenedetto commented on #39108
I'm not able to reproduce this using the latest trunk version of Gutenberg. Seems to be fixed with the latest Cover Block changes regarding fixed and repeated backgrounds.

[2022-05-27 19:46] matiasbenedetto commented on #40809
:wave: I'm not able to reproduce this issue using the latest Gutenberg trunk version, I think it was already fixed with the latest fixes to the Cover Block.

[2022-05-27 19:52] pablohoneyhoney commented on #41379
Exciting path! I like the scalability of this model. It's also a good example to explore in motion, and define how the second panel transitions between patterns smoothly as well as how they are dropped and rendered in the canvas.

A few granular notes on the above mock, to address when/where relevant:

- The verbal context should perhaps avoid referring to _you_, and rather be more encompassing of

[2022-05-27 20:02] priethor commented on #39035
Closing this as it's not an actionable Gutenberg issue.

[2022-05-27 20:02] #39035 closed, assigned to nobody

[2022-05-27 20:09] studionenontwerp commented on #40605
Seems to me that
`wp.data.dispatch( 'core/edit-post' ).hideBlockTypes( blacklistArr ) `
or the new version
`wp.data.dispatch( 'core/preferences' ).set( 'core/edit-post' , 'hideBlockTypes' , blacklistArr )`
are not working any more. The `setDefaults` is not working for me, maybe I call it to late.  I think I am going to quit developing in gutenberg: once you figure something out, its changed again.

[2022-05-27 20:11] justintadlock commented on #41409
@Rale379 - Can you share the code that you're trying for more context?

[2022-05-27 20:11] eric-michel commented on #34448
Our theme is not yet using `theme.json` and our CSS really struggles with this selector. Its specificity requires that we use a bunch of `!important` flags when we otherwise would not need to.

It's oddly opinionated for something like WordPress that is intended to give theme authors more control over styling. What is the purpose of making hovered, focused, and visited button text white?

[2022-05-27 20:45] justintadlock commented on #41410
Related: https://github.com/WordPress/gutenberg/issues/39599

Each post in the grid is already equal height.  The problem is that there are no design tools for the Post Template block or a way to style it via `theme.json`.  If you could add a custom background to Post Template, for example, it would fill the entire space for each post.

What you're seeing in the above screenshot is the border arou

[2022-05-27 20:58] annezazu commented on #39064
@paaljoachim Joen is on sabbatical right now just so this doesn't hold things up.

[2022-05-27 21:19] Rale379 commented on #41409
@justintadlock - Thank you for the response.

It works properly on the default Woo Shop page, but on a Gutenberg Archive, all pages show the HTML from the `!is_paged()` condition.
[code]

[2022-05-27 21:37] afragen commented on #37717
@mtias does that mean that hopefully the PR, https://github.com/WordPress/gutenberg/pull/37998 , could be accepted and merged?

It's been almost 6 months and an isomorphic solution doesn't seem much closer.

[2022-05-27 21:49] lwangdu commented on #41410
Thanks @justintadlock for the code. This works great for me. I am already missing your great articles on the wptavern.

[2022-05-27 21:57] colorful-tones commented on #40317
**This does make the most sense.** Avoiding additional wrapping `<div>` is ideal, and supports [Matias's original observation](https://github.com/WordPress/gutenberg/issues/39281#issue-1162483705): "The variation approach means that we don't need extra containers"

This option clearly has negative impact:

- Implies additional markup `div` wrapper
- Additional block in block library, which would c

[2022-05-27 23:27] #35987 closed, assigned to nobody

[2022-05-28 02:05] coreyworrell commented on #37943
@mtias

I assume a scan of the HTML files in `theme/parts` like it does for FSE would suffice?

[2022-05-28 03:20] caseymilne commented on #23893
Is there a filter we can use in a custom theme to stop the inline styles from being rendered?

I'm building a custom theme with Tailwinds, and for some blocks we can add Tailwinds CSS classes under the block advanced and this works. However the aggressive inline styling of columns for instance specifies .column { margin: 0; } which makes using .mx-auto (left/right margin auto) impossible.

[2022-05-28 04:05] pkvillanueva commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2022-05-28 09:31] markhowellsmead commented on #41168
Shift + down used to select all blocks sequentially; since 6.0, this is no longer possible.

[2022-05-28 09:33] markhowellsmead opened #41416 "Unable to delete selected blocks using the keyboard"
### Description

Until WordPress 6.0, it was possible to delete selected blocks in the editor using the delete button / backspace button on the keyboard. This is no longer possible, thereby decreasing the usability of the keyboard for editor navigation.

### Step-by-step reproduction instructions

1. Select some blocks (see also #41168 for a related issue)
2. Try to remove the blocks using the bac

[2022-05-28 10:02] luminuu commented on #37030
Can confirm this is an issue with the German translation as well, where it's not correct. The mentioned error message appears on the tag cloud block. The word "schlagwörter" is the taxonomy name and is a noun, and the first letter is supposed to be uppercase in German:

<img width="662" alt="grafik" src="https://user-images.githubusercontent.com/7585600/170820576-920d316e-9e66-4900-859b-2909460617

[2022-05-28 11:01] carlomanf commented on #37943
The files scan is only performed when the site editor is loaded. To expose the UI in the admin menu, a more lightweight check would be needed, since it needs to run on every admin page load. I think `current_theme_supports( 'block-templates' )` is appropriate in this case.

[2022-05-28 11:16] rxnlabs commented on #33583
This would definitely make the editing experience better for long form content and pages where Groups are used extensively.

[2022-05-28 11:29] t-hamano commented on #40371
@ramizmanked
I would like to close this issue to consolidate the discussion to #40557.
If you have any issues, please don't mind to comment.

[2022-05-28 11:29] #40371 closed, assigned to nobody

[2022-05-28 11:32] t-hamano commented on #40860
@viktorix
I would like to close the issue because I think it is not a bug.
If you have any problems, please do not hesitate to comment.

[2022-05-28 11:32] #40860 closed, assigned to nobody

[2022-05-28 13:32] bgardner commented on #41413
This is a great suggestion, and one that I've had to implement a workaround in the same way @bdurette mentioned. An example of that workaround (and the use case in general) can be found on the Frost website:

White variation: [https://frostwp.com/](https://frostwp.com/) (image)
Black variation: [https://frostwp.com/patterns/](https://frostwp.com/patterns/) (site logo)

[2022-05-28 14:49] gmcneel commented on #41365
I am having this issue too. On WP Version 6.0 and Colibri WP theme. Looks fine in editor view, but live view does not work. Here is an example.

https://renewalvaporblasting.com/heavy-renewal-for-a-heavy-lifter/

[2022-05-28 15:14] mtias commented on #41403
While I can see something like this be alright for list view selection, it doesn't make a lot of sense for anchors — anchors are part of the front-end experience as well, and being uniform with how it works is more important. Also for navigating a table of contents, jumps seems better than scrollings of varying speeds.

[2022-05-28 15:14] #41403 closed, assigned to nobody

[2022-05-28 16:18] Clorith opened #41418 "Loss of width controls in widgets since WordPress 5.9"
### Description

With the release of WordPress 5.9, blocks would start having their `alignwide` and `alignfull` options stripped out, while they can be used within the block editor normally just fine.

This makes legacy themes harder to use with blocks, since it is not uncommon for themes to have widget areas defined to accommodate what (for example) the Footer template part editor within FSE woul

[2022-05-28 16:32] grmrgecko opened #41419 "Saving widgets results in error."
### Description

Doing any edits would result in error:

[code]

### Step-by-step reproduction instructions

1. Select widget
2. Remove widget
3. Click update

1. Select HTML widget
2. Convert to block
3. Click update

### Screenshots, screen recording, code snippet

![Screen recording](https://i.imgur.com/b9XDtPD.gif)

### Environment info

WordPress 6.0 running Hemingway theme gutenberg 13.3.0
F

[2022-05-28 18:14] Mamaduka commented on #29166
Hi, @vindl

I think we can close this issue, the recent design iteration doesn't include template previews.

[2022-05-28 18:14] #29166 closed

[2022-05-28 18:16] Mamaduka commented on #29343
I've no longer able to reproduce this issue. Tested with WordPress 6.0 and Gutenberg 13.3.

[2022-05-28 18:16] #29343 closed

[2022-05-28 18:44] hj-collab commented on #37060
@dipankardipu123 Can you properly format your code? Some code seem to be cut off here.

[2022-05-28 19:24] amustaque97 commented on #40809
I'm still able to reproduce the issue using latest Gutenberg trunk version.
Sharing my screencast.

https://user-images.githubusercontent.com/21127788/170840038-bbe95435-83f1-4961-90ac-18cca9fccc8b.mov

[2022-05-28 20:07] ALJ commented on #37943
@mtias

Could the existing `templateParts` key in `theme.json` be expanded to provide this? As an example of an existing valid `templatePart` with an imaginary expanded one:

[code]

All of this functionality would be so much more useful with a way to restrict top-level blocks to the intention of the template part. Something like:

``

[2022-05-28 21:05] amustaque97 commented on #40850
I tried again with the latest trunk branch. Still no luck. I don't see any issue. Thus not able to reproduce the error.
Attaching screenshot for reference.

<img width="1792" alt="Screenshot 2022-05-29 at 2 33 43 AM" src="https://user-images.githubusercontent.com/21127788/170842816-c3d2e634-f7a7-4c8c-baed-eba79cf27ea0.png">

[2022-05-28 21:11] skorasaurus commented on #41416
likely related to https://github.com/WordPress/gutenberg/pull/38892

I'm not quite sure what the disadvantage that you're experiencing is:

On 5.x without Gutenberg installed: if your cursor was 3-4 lines in a 8 line block, shift + down would select each subsequent line of the block and when you came to the end of the block, it would select the entire block, and if you pressed shift+down once more

[2022-05-28 21:39] skorasaurus commented on #21791
Sorry no one has responded to this before now; there's been a lot of changes to Gutenberg since your report and I'm unable to reproduce this; shift alt and z is removing selected blocks as I intended; not able to reproduce on Wordpress 6.0.0; in chrome and firefox, win 10.

[2022-05-28 21:39] #21791 closed

[2022-05-29 03:30] t-hamano commented on #40850
I was able to reproduce it.
The detailed procedure is as follows:

- Confirm that the tags are empty.
- Create 3 posts.
- Add the following tags in the first post:
`aaamybug,aabmybug,aacmybug,abamybug,abbmybug,abcmybug,acamybug,acbmybug,accmybug,baamybug,babmybug,bacmybug,bbamybug,bbbmybug,bbcmybug,bcamybug,bcbmybug,bccmybug,caamybug,cabmybug,cacmybug,cbamybug,cbbmybug,cbcmybug,ccamybug,ccbmybug,c

[2022-05-29 09:27] seebz commented on #40528
@amustaque97 [commented](https://github.com/WordPress/gutenberg/issues/40528#issuecomment-1137831381):

Here is the archive I just build on Xubuntu : [gutenpride.zip](https://github.com/WordPress/gutenberg/files/8792987/gutenpride.zip)

[code]

[2022-05-29 09:45] rfischmann commented on #38637
I don't know if this is related to the "OBJ" issue, nor if the "OBJ" issue has been fixed on WordPress 6.0, but I'm running 6.0 and it still maintains another bug when copy and pasting using Firefox.

Even if I copy from the title itself, if I paste normally (and not using the special keyboard shortcut to paste in plain text), it breaks the whole editor layout:

![title](https://user-images.github

[2022-05-29 09:45] paaljoachim commented on #39064
Great! Thanks for letting me know @annezazu

The method we have right now is consistent with the current UX method for drag and drop.
I believe we can move forward and add the label "Needs dev" and get this drag and drop method for the Group block in place.

[2022-05-29 10:53] carolinan commented on #35788
It depends on which default you select. The patterns do not have the pagination block, only the "start blank" variations do.

[2022-05-29 10:55] carolinan commented on #35788
Aside: Maybe we should consider changing the "Start blank" button text too, since you are not actually starting blank. It may be unexpected that there is yet another choice to make before you can start editing.

[2022-05-29 11:13] markhowellsmead commented on #40936
@glendaviesnz Additional: the gap is a fixed size in the generated inline CSS: `gap: 0.5em` instead of a custom CSS property

[2022-05-29 11:21] gziolo commented on #40528
It looks like the issue is isolated to some specific platform setup. The offending line would be:

https://github.com/WordPress/gutenberg/blob/0c901d52ec08f120ee1c25a198e85b3c06e0be06/packages/scripts/scripts/plugin-zip.js#L52

When the issue happens then `dirname( file )` resolves to `.`. I spent some time looking at the implementation in `adm-zip` and I isolated this case to the following lines:

[2022-05-29 11:41] Rale379 commented on #41409
To add more info...

The category archive works properly with the `is_paged()` function.

And that's probably because it uses the default Archive template.

On a custom page, that I want to use as the blog archive, I am not able to select the default Archive template.

I can only select custom templates.

And a page with a custom archive template does not work with the `is_paged()` function.

If I

[2022-05-29 12:16] Rale379 commented on #41409
The problem is probably in the URL structure.

The Category page is using the default Archive template and works well
site.com/category/news/page/2/

The Blog page is using a custom archive template and doesn't respect the `is_paged` condition
site.com/blog/?query-14-page=2

[2022-05-29 17:53] skorasaurus commented on #41356
I agree that the Core contributors haven't clearly or prominently communicated to developers based on the number of issues that I've seen about this.

The ability to only load a certain gradient when it is used on a specific page or block as @justintadlock described is not possible yet; although I'd personally argue that should have been done when gradients were introduced.

They do eventually pla

[2022-05-29 17:53] #41356 closed, assigned to nobody

[2022-05-30 02:20] adamwoodnz commented on #41242
@deborah86 maybe close this and open an issue here instead https://github.com/WordPress/openverse/issues ?

[2022-05-30 02:49] glendaviesnz commented on #41275
I wasn't able to replicate this on WP 6.0 and GB 13..3
<img width="652" alt="Screen Shot 2022-05-30 at 2 47 58 PM" src="https://user-images.githubusercontent.com/3629020/170908173-024546c9-14ee-41b7-a42e-2fa8ab10d34d.png">

Do you get the same issue in 6.0?

[2022-05-30 02:55] adamwoodnz commented on #40693
Hi I've just tested this with

Wordpress 6.0
Gutenberg 13.3.0
GenerateBlocks 1.4.3

I'm unable to reproduce with these versions so perhaps a recent update has fixed the issue. Could you try upgrading?

![Screen Shot 2022-05-30 at 2 52 09 PM](https://user-images.githubusercontent.com/1017872/170908817-ab5615cd-d867-4e4c-865a-e5108fb8afc8.png)

Please close unless the issue persists 🙏

[2022-05-30 03:03] stokesman commented on #39896
In the video you posted it seems you've noticed that by commenting out the `color` property the color picker begins updating the colors as you interact with it. This is how it's expected to behave and if you want to get the picked color out of it you can pass an `onChange` callback in:
[code]
The color picker can also be made to update when it is provided a `color` property but it must be rendered

[2022-05-30 03:05] adamwoodnz commented on #41244
@deborah86 please raise a ticket with https://core.trac.wordpress.org/ and close this, or respond if you disagree

[2022-05-30 03:46] donalirl commented on #32507
Agree this would be a useful enhancement 👍

[2022-05-30 04:26] github-actions[bot] opened #41425 "[Flaky Test] should move (inner) blocks to another sidebar"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should move (inner) blocks to another sidebar

## Test path
`/test/e2e/specs/widgets/customizing-widgets.spec.js`

## Errors

<time datetime="2022-05-30T04:26:22.996Z"><code>[2022-05-30T04:26:22.996Z]</code></time> Test passed after 2 failed attempts on <a href="https://gith

[2022-05-30 04:26] github-actions[bot] opened #41426 "[Flaky Test] should open the inspector panel"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should open the inspector panel

## Test path
`/test/e2e/specs/widgets/customizing-widgets.spec.js`

## Errors

<time datetime="2022-05-30T04:26:23.825Z"><code>[2022-05-30T04:26:23.825Z]</code></time> Test passed after 1 failed attempt on <a href="https://github.com/WordPres

[2022-05-30 04:33] andrewserong commented on #39372
Thanks for laying out all that context @cbirdsong!

I really like the set of baseline semantic colors described there. I think when we're thinking of standardising naming, when the naming is as close to un-opinionated as possible (e.g. it's tied directly to a CSS property), that sounds like something where it feels like we're likely to come up with something that could be quite stable.

Like you'v

[2022-05-30 05:03] carolinan commented on #40996
That is my understanding.
The per page setting is already hidden when inherit is enabled. It is removed from the toolbar.

<del>I think it would be good of these two per page values always matched.</del>
Oh never mind, they can't match because different queries need to be able to have different numbers.

[2022-05-30 05:26] glendaviesnz commented on #41374
I was able to replicate this. The issue is that the block layout styles for the post content are not being enqueued into the site editor iFrame when the content is pulled into the site editor this way. Only had time to have a quick look, but wasn't able to see an easy fix for this, will try and get back to it sometime this week.

[2022-05-30 05:36] jsnajdr commented on #40305
It will work but is suboptimal because the patterns registered in `current_screen` are not visible by the `block-patterns/patterns` REST endpoint and need to be included in the editor's initial HTML markup.

If you don't need to discriminate between different kinds of editor (post, site, widgets, ...) and just want to register a pattern for all, currently the best action to use is `init`. Such a p

[2022-05-30 05:40] daveloodts commented on #41119
Hi @mtias, the question is: **should there really be a live preview while changing the block settings (for non-FSE themes)?**
I don't think so. I am already happy there is a UI instead of doing it all in the theme.json file.

Most classic themes also don't have style settings without the live preview. I also understand that WP Core contributors don't have to put extra energy in a "new way" of live

[2022-05-30 06:16] github-actions[bot] opened #41428 "[Flaky Test] should outdent with children"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should outdent with children

## Test path
`/test/e2e/specs/editor/blocks/list.spec.js`

## Errors

<time datetime="2022-05-30T06:16:26.256Z"><code>[2022-05-30T06:16:26.256Z]</code></time> Test passed after 1 failed attempt on <a href="https://github.com/WordPress/gutenberg/

[2022-05-30 06:39] fabiankaegy commented on #10178
The current PR that seems to work in this issue is #33494

[2022-05-30 07:02] Stephen-Cronin opened #41429 "WP 6.0 Block Theme Export zip files don't work on Windows 10 or 7-zip"
### Description

The Block Theme Export function in WP 6.0 produces zip files that don't work in Windows 10 file explorer or the 7-zip utility (at least when produced via my local install on Xampp).

Both give errors that the zip file invalid:

![image](https://user-images.githubusercontent.com/1502350/170933115-f8533ce8-2542-4db1-9fe1-0772e5f6d926.png)
![image](https://user-images.githubuserconte

[2022-05-30 07:21] Stephen-Cronin commented on #41429
Looking at the two files I uploaded above with a HEX editor shows that the broken one (from core) has a `0A` character at the front of the file, while the 'fixed' file doesn't.

There are a bunch of other little changes, but that's the key one. Remove that character manually from the broken core file via the HEX editor (shrinking the file as a result) and the file will open successfully.

Now as t

[2022-05-30 07:38] Stephen-Cronin commented on #41429
Note I was presuming this was a Windows only issue, as I've seen similar issues over the years with zip files generated by webservers not working on Windows while being fine on Mac/Linux. However a colleague of my on a Mac reports that he can't open it either:

![image](https://user-images.githubusercontent.com/1502350/170941769-d4bc4da4-a01c-4593-8b12-072cb7688e30.png)

EDIT: He can't open the fi

[2022-05-30 07:49] nickcernis commented on #21046
@justintadlock Sure, let's close this out.

[2022-05-30 07:49] #21046 closed

[2022-05-30 07:56] Zodiac1978 commented on #41429
Looking at the spec (https://users.cs.jmu.edu/buchhofp/forensics/formats/pkzip.html) the signature should always be `\x50\x4b\x03\x04`, so the `0A` is wrong there at the start of the file.

Looking for `0A` in this document https://pkware.cachefly.net/webdocs/casestudies/APPNOTE.TXT shows only a NTFS version extra header but this should not be the first info in the file.

Another possible explanat

[2022-05-30 07:59] Zodiac1978 commented on #41429
Could be just a superfluous new line. Here someone reported the same problem and it was the solution:
https://stackoverflow.com/questions/6943540/corrupted-ziparchive-after-setcontent-in-php-symfony

[2022-05-30 08:57] markhowellsmead opened #41431 "Gap on columns block is hard-coded with a fixed value"
### Description

The inline CSS uses `gap: 2em` instead of a CSS custom property.

See also https://github.com/WordPress/gutenberg/pull/41015#issuecomment-1140593978 and https://github.com/WordPress/gutenberg/pull/41423

### Step-by-step reproduction instructions

Add columns block to the page and inspect the flex gap property.

### Screenshots, screen recording, code snippet

_No response_

### E

[2022-05-30 09:15] Stephen-Cronin commented on #41429
@Zodiac1978 - Thanks, that's what @dd32 suggested when I was talking to him in WP Australia slack.

The question is where would the superfluous new line be coming from?

To be doubly sure, I just reinstalled WP (latest version), reset the database, confirmed there are no plugins active, deleted and reinstalled Twenty Two and I still get the problem. I also tried installing and activating Wabi (as

[2022-05-30 09:22] Julianoe commented on #41416
My end users have been describing comparable issues with the delete key. I'm still trying to corner what is the exact behavior causing problems.

[2022-05-30 09:23] Julianoe opened #41432 "WP6.0: enable to select parts of multiple paragraphs in Classic Block"
### Description

I can't select parts of paragraphs of the Classic Editor.

### Step-by-step reproduction instructions

- in Block Editor, create/edit a "Classic" block
- type multiple paragraphs of content
- try to select part of the first paragraph and part of the second paragraph
- it immediately unselects the text

If you do select an entire unique paragraph it does not happen.
I'm suspecting

[2022-05-30 09:41] Zodiac1978 commented on #41429
If this only happens on localhost or Windows this could maybe narrow down the code to something local/windows specific.

Would be useful to here more about when this happens. If more people would chime in and report their findings maybe we find something which is true for all.

Can you post the specific steps we should all try to reproduce this @Stephen-Cronin ?

[2022-05-30 09:46] Stephen-Cronin commented on #41429
It's basically just the step in the main post above:

1. Install Block Theme like Twenty TwentyTwo
2. Go to Editor Beta in left menu
3. Click 3 dot menu in top right corner
4. Click Export
5. Try to open the resulting downloaded zip file on a Windows machine using Windows Explorer or 7-zip

That's all I need to do to make it happen! As I said, I deactivated all plugins, etc, which I think would be

[2022-05-30 09:54] draganescu commented on #41408
I think the two would be connected: knowing what the featured image is and where to set it in the post editor. What we're trying to solve for is:

* a user clicking use featured image who does not know what a featured image is.
* a user wanting to use the featured image, who knows what a featured image is, but now has to leave the context they're in to go to the sidebar and set that image.

There

[2022-05-30 09:56] markhowellsmead commented on #41416
Thanks for the explanation, @skorasaurus. When I'm in a text-based block, using shift-up allows me to select text line-by-line. I can then use delete for the current block (not the current text selection) or backspace just for the current selection. Although this is different to previous versions, and requires users to experiment in order to find out the new behaviour, it seems to be logical.

Aft

[2022-05-30 10:00] markhowellsmead commented on #41416
This would be the expected outcome *except* for the fact that now, with the integration of multiline selection, reaching the end of a text block should not automatically select the entire block. It should be possible to start the selection in the middle of a paragraph and continue into subsequent media/columns/etc. blocks using the keyboard.

[2022-05-30 10:14] Zodiac1978 commented on #41429
Not reproducible on localhost with MAMP Pro on macOS 12.3.1 (Monterey).

[2022-05-30 10:29] jameskoster commented on #41408
@draganescu that sounds like the conclusion we came to in https://github.com/WordPress/gutenberg/issues/40156#issuecomment-1094888684, except for the "audible" part :D

[2022-05-30 10:37] giannis-koulouris-bb commented on #23223
Do we have any news on this?

[2022-05-30 11:28] Humanify-nl opened #41433 "Template-parts make no sense when they are not independent of its template."
After months of trying to find a workflow that makes sense, today we decided to stop using template-parts altogether, because it makes building themes more work, instead of less work.

Which should be the whole point of using template-parts, making it fast and easy to create pages out of parts. They are not independent of their templates, and not interchangeable without a lot of manual actions (e.

[2022-05-30 11:43] critterverse commented on #37943
Sharing a quick flow for this appoach:

![Appearance _ Templates](https://user-images.githubusercontent.com/77359364/171260015-72121647-0564-418d-afcf-13d33cfdd12b.png)

If we wanted to provide a way for users to set/change template parts from the post editor, a “Templates” panel could be added to the document settings tab for specifying what template part should appear in a particular area:

![Po

[2022-05-30 12:19] justintadlock commented on #41409
I see what you're referring to now.  `is_paged()` has never worked for custom query URLs like that in WordPress (even before Query Loop).

And, there's really no good way to universally check that because the query ID could change  (`?query-14-page` might be something entirely different for another query).

For this specific query, you could check like this:

[code]

But, this should definitely be

[2022-05-30 12:25] fabiankaegy commented on #37943
The idea of allowing users to change which header/footer template should get used is interesting and not something I have previously considered. I can see how that would be useful for some folks.

From my perspective especially in more controlled client environments, it would not even be necessary to allow editors to create new template parts. Since they would always need to get used in a PHP temp

[2022-05-30 12:39] arl1nd commented on #39896
@stokesman this works great! Thank you very much for the proposed solution.

[2022-05-30 13:00] daviedR opened #41434 "Group block's generated CSS are redundant."
## What problem does this address?

Each time we added a `core/group` block, WordPress will add a new `<style>` tag for the block's CSS. If we added a lot of group blocks into the page, we can see that the generated CSS are actually very redundant.

This is the generated CSS of a very basic layout page (header, blog posts loop, footer) taken from the [TwentyTwentyTwo demo page](https://2022.wordpr

[2022-05-30 13:25] vidomarkas commented on #20950
Same here. This issue still exists on wp 5.9.3

[2022-05-30 13:27] amustaque97 commented on #40528
Kudos to you for doing in depth investigation. Only reason why I wanted to double check is to understand testing instructions and changes verification. Let’s fix it on our end and make sure nothing breaks. I will submit a PR in sometime.

Thanks once again @gziolo 😃😃

[2022-05-30 13:41] perherngren commented on #41365
I also have this issue. On WP Version 6.0 and Astra theme free. In the editor it says align center. But the actual image aligns left both back end and front end.

[2022-05-30 14:01] mrfoxtalbot opened #41436 "Activating TwentyTwentyTwo with an old version of WordPress and/or Gutenberg causes site to crash"
### Description

I set up an old version of WP (I tried 4.8 and 5.0) to test the very first version of the block editor but the site kept crashing. I was seeing this error:

`
( ! ) Fatal error: Uncaught Error: Class 'WP_Block_Pattern_Categories_Registry' not found in /Users/alvarogomezvelasco/Local Sites/2022-crash/app/public/wp-content/themes/twentytwentytwo/inc/block-patterns.php on line 42
`

[2022-05-30 14:03] Rale379 commented on #41409
Dammit, I already hand-coded most of the archive page...  :)
Wasn't expecting a solution, at least not this quickly.

Thank you for the code. I will be using it

[2022-05-30 14:03] #41409 closed, assigned to nobody

[2022-05-30 15:11] jameskoster opened #41437 "Template Part: Swap 'Edit' and 'Replace' action placement"
Currently 'Replace' is a primary action, present in the template part block toolbar, while 'Edit' is hidden away in the ellipsis menu:

<img width="604" alt="Screenshot 2022-05-30 at 15 33 53" src="https://user-images.githubusercontent.com/846565/171019876-e27dbc8a-3631-491e-8301-f883d7af63e4.png">

In most cases it's more likely that you'd want to edit the selected template part, so that should b

[2022-05-30 15:41] jameskoster commented on #34737
This is also an issue in the template part ellipsis menu:

<img width="293" alt="Screenshot 2022-05-30 at 16 40 22" src="https://user-images.githubusercontent.com/846565/171025364-b23a5c95-19e2-4659-ba20-9f1ed7acc71a.png">

[2022-05-30 15:59] fullofcaffeine commented on #41094
Hi @gziolo! Thanks for replying and sorry for the delay here.

Do you mean an initial PoC PR? If that's the case, sure, I'll try to come up with it as soon as possible!

[2022-05-30 16:47] dennisheiden commented on #41431
Side note: Column is weird overall, is set to flexbox but has no flex-direction. We are currently investigating, just a hint for others if their sites look broken from the last update.

[2022-05-30 16:47] rmorse opened #41438 "Export `useMultipleOriginColorsAndGradients`"
## What problem does this address?

Not sure if this is a bug report of feature request...

I see `useMultipleOriginColorsAndGradients()` is not exported via the [block editor components](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-editor/src/components/index.js).

However it does seem to be exported in [block editor components for native](https://github.com/WordPress/gutenber

[2022-05-30 16:48] markhowellsmead commented on #41431
If no `flex-direction` is set on an element, then the default value is `row`.

[2022-05-30 16:48] rmorse commented on #41438
Ok it seems I am unable to contribute this change (or make a simple commit to the repo) as husky fails with an error when I try to commit...

[code]

Not sure what's going on here, but its my first time contributing again since husky was added.  Seems it might be related to line endings but really not sure at this stage.

[2022-05-30 16:52] dennisheiden commented on #41431
That makes no sense for column blocks imo.