[2022-07-29 07:06] carolinan commented on #38729
Hi!
Are you able to add any more information that can help show how to reproduce this?

The block does use the class `has-text-color` when a color is added, but WordPress does not apply a variable called `--text` to this class.

- Is `--text` the exact name of the variable you used?
- Can you provide the exact CSS you added in the additional CSS field? That way I can test it.
- Can you reproduce t

[2022-07-29 07:06] getdave commented on #42799
Related to https://github.com/WordPress/gutenberg/issues/38291#issuecomment-1196781907

[2022-07-29 07:07] afercia commented on #42676
Additionally: when 'Show button text labels' is enabled, most of the top toolbar buttons should be `tertiary` buttons.

In the Post Editor, they are tertiary except 'List View'. Looking a bit into the project history, the `variant` prop was inadvertently removed in some refactoring.

Post Editor: the 'List View' text color should be blue. Note: Undo and Redo become blue when there are undo/redo st

[2022-07-29 07:32] Thelmachido commented on #5477
I tested this on the most recent Gutenberg version 13.7.3, on the Twenty Twenty-Two theme.

I wasn't able to replicate the issue as shown in the screenshots below:

On this image, I add the SVG featured image.

<img width="413" alt="Untitled 2" src="https://user-images.githubusercontent.com/41231764/181707762-6ccc85c2-81b7-4f4a-8e9f-b9b82b3a4e95.png">

The featured image section is looking as expe

[2022-07-29 07:36] #5477 closed

[2022-07-29 08:03] Thelmachido commented on #6841
I was able to reproduce this on Gutenberg Version 13.7.3 on the Twenty Twenty-Two theme.

As shown in the short video below, I had two button blocks.

On the first button, I typed in _wordpress.org_ and I picked the link that was suggested. When I previewed the page this button linked to the _wordpress.org_ site.

3. On the second button I typed in _wordpress.org_ and then clicked on **return**. T

[2022-07-29 08:16] afercia opened #42802 "Site Editor: Save button shouldn't be really disabled"
### Description

The Site Editor 'Save' button shouldn't use a `disabled` attribute. Instead, it should use an `aria-disabled` attribute, and noop when disabled. For sure, it should not use both `disabled` and `aria-disabled`:

<img width="1055" alt="Screenshot 2022-07-29 at 09 33 52" src="https://user-images.githubusercontent.com/1682452/181714159-5981ecc3-2482-4580-90a4-6a2e4755e6ef.png">

Using

[2022-07-29 08:36] talldan commented on #42363
It looks like the main performance issue is happening because of the removal of `pointer-events: none` in a couple of places in https://github.com/WordPress/gutenberg/pull/40441.

When dragging over the insertion point indicator, the block drop zone is no longer dragged over, so it triggers the `onDragLeave` event, which hides the insertion point. Once the insertion point is hidden, the drop zone

[2022-07-29 08:37] carolinan commented on #36732
This seems to be bugged, the style variation preview is not available.
Using Gutenberg, current trunk 13.8.0-rc.1:
![Separator style variation preview only show the text  "No Preview Available."](https://user-images.githubusercontent.com/7422055/181718855-f94260af-b4b2-4f06-ab6e-2124475ef342.png)

The block inserter preview is correct I believe. It looks like it is full width, not the default shor

[2022-07-29 08:41] carolinan commented on #36732
If I deactivate Gutenberg, the style variation preview looks like this (I am hovering over the dot variation):
![The style variation preview shows correctly ](https://user-images.githubusercontent.com/7422055/181720062-87e7272e-2dee-4b51-921d-2426aa74f41d.png)

[2022-07-29 08:42] fabiankaegy commented on #36732
@carolinan I agree that this appears to be fixed with the new Block Style Preview :) This was still when the previews were rendered inline in the Block Settings Sidebar.

[2022-07-29 08:44] #36732 closed, assigned to nobody

[2022-07-29 08:52] carolinan commented on #35735
Yes I can try, there should be enough reference in the other elements changes.

[2022-07-29 08:54] ntsekouras commented on #40255
👋 - It's not specific to Query Loop or Comments Loop. It's related to `color` support in general. You can reproduce with just a `Group` block.  Actually the main issue is the one @michalczaplinski linked: https://github.com/WordPress/gutenberg/issues/37582 and probably other `supports` have this..

I think this can be closed as duplicate. What do you think?

[2022-07-29 09:16] carolinan opened #42805 "Media & text block validation error from blocks in the pattern directory"
### Description

Since https://github.com/WordPress/gutenberg/pull/40806 there is a block validation error for media & text block created before the pull request was merged. But the errors are specifically for media & text blocks in the pattern directory, and I am not able to reproduce it with local blocks.

### Step-by-step reproduction instructions

I used this method to test "local" blocks:

1.

[2022-07-29 09:25] baillieogrady commented on #29401
Having this issue currently with ACF blocks.

[2022-07-29 09:28] Humanify-nl commented on #42732
If only there would be some way to specify the information coupled to a template (& -part) just like we do it with file headers in php (patterns).

From my point of view It makes more sense if that info is in the template file itself, instead of the overarching theme.json.

[2022-07-29 09:33] Humanify-nl commented on #42710
This is a sorely missed feature. Especially ordering by ‘menu-order’.

Thanks for adding this!

[2022-07-29 09:44] Humanify-nl opened #42810 "Add ability to omit the current post from a Query Loop's posts"
## What problem does this address?
I think it is a very common practice to add query loops in the bottom of a single template to show ‘other/related posts’. This is currently not possible with the block.

## What is your proposed solution?
In the classic approach, we could use the query argument to remove the current postID (with get_the_id) (I used this as a default for all queries).

This works

[2022-07-29 09:44] ciampo commented on #42770
Hey @renatho , it could be related — could you open a separate issue for this regression (where you can add more details and we can discuss further), so that we keep this issue as a master tracking issue? Thank you!

[2022-07-29 09:49] afercia opened #42811 "Block toolbar: Buttons that have visible text should not use tooltips"
### Description

Similar to https://github.com/WordPress/gutenberg/issues/42676

When the preference 'Show button text labels' is enabled, the Block toolbar buttons show text instead of icons. However, these buttons still use a tooltip that appears on hover and focus. The tooltip just repeats the visible button text and it just clutters the UI.

<img width="624" alt="Screenshot 2022-07-29 at 11 41

[2022-07-29 09:50] afercia commented on #42811
Note: the 'Move up' and 'Move down' buttons need more horizontal space. I think there's already an issue for that.

[2022-07-29 10:01] mmtr commented on #42608
I think we can close this one out, since the issue was specific to the environment where we were testing this (see https://github.com/Automattic/jetpack/pull/24914#issuecomment-1199067545).

[2022-07-29 10:01] #42608 closed, assigned to nobody

[2022-07-29 10:12] Mamaduka commented on #42805
I think this is the issue with deprecation(s). Maybe they're not correctly applied in some cases.

[2022-07-29 10:16] ciampo commented on #42792
Brainstorming a few ideas.

-  maybe we should never have a prop called just `size`, and instead be a bit specific with the prop name ? I.e. `size` as intended for control components could be renamed to `sizeVariant`, `size` on the `Text` component should be called `fontSize`, and `size` on the `Card` component could be renamed as you suggested to `paddingSizeVariant` (although, as you know, I'm n

[2022-07-29 10:20] mtias commented on #30142
Also want to reference the work to add custom CSS to other blocks directly, like Group: https://github.com/WordPress/gutenberg/pull/25413

We should see that both approaches are aligned in some of the implementation details.

[2022-07-29 10:43] paaljoachim commented on #42724
Most of what I do is based on a feeling. (As well as experience.)
In regards to modals in general. It seems that is can easily become a quick default when other methods should also be explored. For instance looking at when creating a Reusable block/Pattern. What if we explored other ways to add/save this kind of block? Some brain storming thoughts...

- Using a much bigger modal (Patterns size) sh

[2022-07-29 11:04] paaljoachim commented on #37582
[Block] Comment Template color adjustment -> Overrides inner child color adjustments
https://github.com/WordPress/gutenberg/issues/40255
(It looks like I made an issue which is a duplicate of this one.)

[2022-07-29 11:05] paaljoachim commented on #40255
Yeah. It looks like this is a duplicate issue and can be closed. I will let Michael decide.

[2022-07-29 11:17] geriux commented on #42624
Quick update, the [main PR](https://github.com/WordPress/gutenberg/pull/42702) is now ready for review and for one last round of testing. 🎉

[2022-07-29 11:19] mtias commented on #42724
We could explore a small preview of the block that is being converted in the modal, emulating how it's going to show in the inserter preview once created. Probably worth exploring in a separate issue!

[2022-07-29 11:23] mtias commented on #25202
I'm closing this, but feel free to open a PR updating docs with anything that might be useful!

[2022-07-29 11:23] #25202 closed

[2022-07-29 11:25] paaljoachim commented on #42724
Hi @mtias Matias.
I changed the title of the issue as it has more focus on feedback than adjustments.
As I find the blurred contrast taxing on the eyes.
It would be fair to leave the issue open to see if other comments show up. I can myself close the issue at a later date.

[2022-07-29 11:32] jameskoster commented on #42482
One issue we might run into here is the significant visual noise when there are many templates. I do acknowledge there probably is some value in listing the templates, potentially even as links to go and edit them. Maybe we could do something like:

<img width="1212" alt="Screenshot 2022-07-29 at 12 31 21" src="https://user-images.githubusercontent.com/846565/181750137-9e782203-4e67-479f-8428-c0c7

[2022-07-29 11:49] jameskoster opened #42812 "Show a preview in the 'Create reusable block' and 'Create template part' modals"
We have:

<img width="527" alt="Screenshot 2022-07-29 at 12 48 23" src="https://user-images.githubusercontent.com/846565/181752458-90d5eca3-06ee-4185-8e12-7c136a41046b.png">

And:

<img width="464" alt="Screenshot 2022-07-29 at 12 36 57" src="https://user-images.githubusercontent.com/846565/181750911-91ffd86e-06ba-4962-9bb6-5a8cf0864961.png">

It might be nice to combine them to show a preview of

[2022-07-29 11:53] jameskoster opened #42813 "Language and use of icons for template part and reusable block creation is inconsistent"
<img width="288" alt="Screenshot 2022-07-29 at 12 50 45" src="https://user-images.githubusercontent.com/846565/181752826-4079a937-776b-4966-8472-8c0283e81516.png">

They should probably both (or neither) use an icon.

Likewise we should use one of either "Add to...", or "Make...", for both. Or maybe try something else altogether like "Create...", "Add new...", etc.

[2022-07-29 11:54] getdave commented on #42779
@ntsekouras @spacedmonkey Would you have any insight on this one?

[2022-07-29 11:54] github-actions[bot] opened #42814 "[Flaky Test] can be split at the end"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
can be split at the end

## Test path
`/test/e2e/specs/editor/blocks/quote.spec.js`

## Errors

<time datetime="2022-07-29T11:54:58.333Z"><code>[2022-07-29T11:54:58.333Z]</code></time> Test passed after 1 failed attempt on <a href="https://github.com/WordPress/gutenberg/acti

[2022-07-29 12:00] mtias commented on #42724
Alright, but please do open one with suggestions on the reusable block context

[2022-07-29 12:01] casaschi commented on #37754
This bug has been reported for several months; since then, a couple of WP releases did not address it despite the root cause for the issue being quickly identified within the `wptexturize` call.

I could easily bypass the issue by manually reversing the unwanted changes affecting my plugin; I have been hesitant doing so because the issue should rather be addressed where it occurrs.

Could anyone f

[2022-07-29 13:09] arl1nd opened #42817 "Using Gutenberg Icons"
Hello,

This is a question regarding @wordpress/icons package. Are these icons available on global scope (wp variable) somewhere?

You can use the icon component like this:

[code]

Since `alignCenter` is SVG component, where can it be found?

I am willing to keep my JS file as light as possible so I can access icon library from global scope instead of importing icon components from `@wordpress/ic

[2022-07-29 13:47] afercia opened #42819 "Fix labelling and tooltips of the editors 'Save' buttons"
### Description

Splitting this out from https://github.com/WordPress/gutenberg/issues/42676 / https://github.com/WordPress/gutenberg/pull/42815

The 'Save draft' (or Save as pending) button in the Post Editor and the 'Save' button in the Post Editor have room for some accessibility and usability fixes:

1
In the Post Editor, in some cases the visible text and the aria-label of the 'Save draft' (o

[2022-07-29 13:47] #42783 closed, assigned to mcsf

[2022-07-29 13:48] renatho opened #42820 "Popover arrow not working properly in the latest versions"
### Description

Popover arrow is working well on WP 6.0, but when I activate the Gutenberg plugin (from the repository), it's not working properly anymore.

### Step-by-step reproduction instructions

The way to reproduce is through code.

1. In the editor, add a popover with the prop `noArrow={true}`.
2. Open it in an env with WP 6.0 and see it working properly.
3. Open it in an env with WP 6.0,

[2022-07-29 13:50] renatho commented on #42770
Sure! Here is the issue: https://github.com/WordPress/gutenberg/issues/42820

[2022-07-29 13:51] #42805 closed, assigned to ntsekouras

[2022-07-29 13:55] ellatrix commented on #42624
I'll have a look for the web side.

[2022-07-29 14:13] Mamaduka commented on #42813
I like "Create..." and this will also match what the modal titles say.

[2022-07-29 14:27] ntsekouras commented on #42810
👋 - Actually we had a similar and not complete [handling](https://github.com/WordPress/gutenberg/pull/25903/) for this(for different reasons though) and [removed](https://github.com/WordPress/gutenberg/pull/29432) it later.

Your use case is having a Query Loop in a template(ex.  post) for `related` posts etc..?
If it's not in a template and is in some specific post you can work around for now by

[2022-07-29 14:49] Humanify-nl commented on #42810
Thank you for the info @ntsekouras,

Indeed. The idea is to do this in a single post template, it is only needed for front end.

I have not found a workaround yet, as I currently use a custom ACF block and a php query loop, and am looking for ways to do this with WP only.

I’d like to help but I’m not that familiar with creating a new property.

[2022-07-29 15:04] LukaszJaro opened #42822 "Block editor toolbar interferes with navigation editing(can't add links)"
### Description

When I have the mobile menu always on and try to click it to open it and add links I am unable to. The block editor toolbar hovers on the mobile menu blocking the click event from occurring and obscures the view of the mobile menu. This also impacts other elements which are near the 'editor top bar' like the logo.

### Step-by-step reproduction instructions

1. Add navigation to v

[2022-07-29 15:05] johnstonphilip opened #42823 "Separate schema file for Style Variations"
## What problem does this address?
A separate schema file might be needed for style variations. There are already several differences:
- A theme.json schema [does not include a "title" field](https://github.com/WordPress/gutenberg/blob/trunk/schemas/json/theme.json), but it is required for a style variation
- [Not all fields get saved to the database even though they exist in the style variation](

[2022-07-29 15:29] #42455 closed, assigned to nobody

[2022-07-29 16:44] eric-michel commented on #39371
@glendaviesnz this looks awesome! I'm so excited to finally have standardized spacing controls available for my users. I can't tell you how much time this will save.

[2022-07-29 17:14] skorasaurus commented on #35101
Hi,

Sorry for the delay in reviewing;

I'm unclear what you mean by 'be displayed on the default WordPress homepage' - how the content on the homepage is controlled by 'settings - reading' (at wp-admin/options-reading.php); if you wish to display on a portion of the content and not all of a post's content, then that is largely controlled by the theme.

![image](https://user-images.githubuserconte

[2022-07-29 17:22] mprewitt commented on #22178
Two years later and not improved yet! I just started using Gutenberg, and one day into it, this very issue is annoying the heck out of me. There should be any variation "Exit edit mode" or "View page" (either of which would do the same thing). It is super frustrating. Apparently the only option is to click the W icon, click "Return to dashboard", click "Pages" in the sidebar, and then click to "Vi

[2022-07-29 17:31] mrwweb commented on #39371
@glendaviesnz Thanks for sharing! I can really see the results of all the iteration you did in the final result, and there are a ton of things to like about it!

Can't wait to see the same UI for block gap! ;)

[2022-07-29 17:47] johnstonphilip commented on #42823
Additionally, the schema of the style variation JSON saved to the database as a `wp_global_styles` post_type has an additional "theme" wrapper around things like `duotone` and `typography`. This is not represented in the `theme.json` schema either:
<img width="265" alt="Screen Shot 2022-07-29 at 11 02 52 AM" src="https://user-images.githubusercontent.com/7538525/181815983-621c951d-52ac-42f9-8fe2-7

[2022-07-29 18:18] michalczaplinski commented on #40255
Indeed, let's close this one in favour of #37582 🙂

[2022-07-29 18:18] #40255 closed, assigned to nobody

[2022-07-29 18:31] gabbsmo commented on #38729
Hi @carolinan!

The steps were written for the GeneratePress theme. I have clarified that no in an edit.

From what I understand however the bug should be reproducible by declaring a CSS variable called --text in any active theme.

[2022-07-29 20:02] ciampo commented on #35496
Didn't have time to investigate, but could be related to https://github.com/WordPress/gutenberg/pull/42417 (cc @talldan @ntsekouras )

[2022-07-29 20:07] adamsilverstein commented on #41479
Thanks for clarifying @hellofromtonya and @azaozz

🎉 Great!

[2022-07-29 22:06] msjudyh opened #42827 "Images to appear with RSS feeds"
## What problem does this address?
I was informed that "With this Gutenberg block the output of images is not possible", when inquiring about why accompanying images were not posting to my site with the RSS feeds I have incoming for the content. Then was told to come here to post about adding that feature.
## What is your proposed solution?

[2022-07-29 22:14] paaljoachim commented on #40223
Great! Thank you!

[2022-07-29 23:28] pagelab commented on #29644
If there is no way for the user to decide on the title level according to context (homepage vs inner pages), then the site title probably shouldn't be a `<h1>` by default.

A [survey from 2017](https://webaim.org/projects/screenreadersurvey7/#heading) showed that the majority (66%) of screen reader users prefer only one main heading containing the document title. There's also a [Google News](https

[2022-07-30 03:10] bhubbard opened #42828 "New Block: Dark Mode Toggle"
## What problem does this address?
A simple block to let site visitors toggle between dark mode and light mode.

[2022-07-30 03:57] alexstine commented on #42659
@tbdalgaard Check this: https://www.nvaccess.org/files/nvda/documentation/userGuide.html#SystemFocus

As you can see, using Shift+Enter in this context would not fix our communication problem. In the context of the markdown block, I now understand why this is annoying for you. I think we still need to think about the effects on accessibility though. I use a screen reader, I would hate to have this

[2022-07-30 08:22] Humanify-nl commented on #42810
To continue on this:

I've found the constant `QUERY_DEFAULT_ATTRIBUTES` in [query/variations.js](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/query/variations.js)

This seems to hold the query arguments. But I also see a variation that replaces this array with a new one.

So, I could register a new variation, and exclude the current post ID. There already is an exc

[2022-07-30 08:35] dev-sabbir opened #42829 "Adding feature to control the button design when hovered"
## What problem does this address?

At this point, we don't have any option to change the color of a button text/background on hover. We can add this feature to make the buttons more interesting.

## What is your proposed solution?

We can add a new section under the Color settings to control the colors when the button is being hovered.

[2022-07-30 10:31] emanuellopes commented on #13998
you can put this code on funtions.php like this

new App\Routes\PreviewArticle();

don't forget to use composer to autoload the file

[2022-07-30 13:32] aduth commented on #42513
While a performance hit would be undesirable, I'd also lean generally toward reverting back to the default Redux `combineReducers`, since I think a standard Content Security Policy configuration should at least be supported by Gutenberg, and any use of arbitrary code evaluation should be avoided if a reasonable alternative exists.

It's been a while since I've been involved in this project, but is

[2022-07-30 19:16] BE-Webdesign commented on #39732
https://github.com/WordPress/gutenberg/pull/42832 Fixes this, with minimal performance cost by only passing the needed patterns to the block preview.

[2022-07-30 19:55] BE-Webdesign opened #42833 "[Pattern Inserter] Make category selection and explorer sticky at top of sidebar container."
## What problem does this address?
When lists of patterns are long. As you scroll down a list the ability to switch category or open the pattern explorer gets tucked away at the top of the sidebar. If it was sticky, one could easily scroll through patterns and then change category, or open the explorer. Below is a video illustrating the issue:

https://user-images.githubusercontent.com/16389612/18

[2022-07-30 20:30] strarsis opened #42834 "Replacing the image in an image block resets its caption"
### Description

When the image of an image block is replaced, the current caption of the block is reset to the title of the new image.

This happened multiple times now in the past and can be missed by the editor, resulting in missing text.
As this behavior is destructive, it would be nice if it can be changed to either keeping the custom caption text or by adding a toggle or prompting the user w

[2022-07-30 21:34] slaFFik commented on #41067
I'm not sure what has been fixed (so many seemingly unrelated issues are linked in the thread), but I get exactly the same problem as OP shared in initial issue description in both clean WordPress 6.0.1 and Gutenberg 13.7.3 with FrostWP theme.

See screenshot.
On the left - Block Editor (GB 13.7.3)
On the right - front-end (FrostWP)
![image](https://user-images.githubusercontent.com/282234/1819969

[2022-07-30 22:03] Netyson commented on #30317
Hi, I head the same problem, than I found your issue and was like “why does this not work”. And I started to deep dive into this issue because I needed it to work specially if you work with grid or flexbox layout and you want it to work on the editor to.

So here another solution if is not possible to do it with the given classes and css styles.

One downside of `<InnerBlocks /> `  is that in the

[2022-07-30 22:44] TomasHurtz opened #42836 "LIST VIEW - option to keep it open toggle on off"
Hey there

I find List View in the block editor extremely useful - and actually - pretty much essential to be able to clearly see where elements are sitting and interacting - so first off, 'good job' for having that feature, thank you.

However, I find that it randomly closes when executing certain tasks (for example, adding a new row) and it is rather annoying to keep having to re-enabling it.

C

[2022-07-30 23:53] rogyw opened #42837 "Query Loop - Post Featured Image - Link Settings - Add "Open in new Tab" to match Post Title block settings"
## What problem does this address?
The "Post Title" block supports setting the link to "open in new tab".
The link on the "Post featured image" block does not include the option  "open in new tab".
If the site owner wants to have both link and for both to open in a new tab - they can't.
If the link is on both the image and title and the title has "open in new tab" as desired the end user gets diff

[2022-07-31 02:52] jordesign commented on #21584
@ZebulanStanphill Just coming across this - and wondering what would be involved in reponening that PR for discussion?

Would be great to get it going again.

[2022-07-31 04:55] t-hamano commented on #42125
@ryanwelcher
I have created PR #42831 about `core/keyboard-shortcuts`.

[2022-07-31 07:16] Mamaduka commented on #32033
I'm closing the issue since Navigation Editor is no longer in development.

[2022-07-31 07:16] #32033 closed, assigned to Mamaduka

[2022-07-31 14:59] paaljoachim opened #42838 "Add Reusable block/Pattern creation process - Bigger modal."
## What problem does this address?

It would be helpful to have an overview of the Reusable block or Pattern as it is being created.

It currently only shows a name title modal.

Gutenberg plugin 13.7 activated
![Screenshot 2022-07-31 at 15 27 24](https://user-images.githubusercontent.com/5323259/182032036-e70de6e3-4311-4b19-af34-5c4772756f05.jpg)

Gutenberg plugin is not activated:
![Screenshot 2

[2022-07-31 15:02] paaljoachim commented on #42724
Here is a first version:
**Add Reusable block/Pattern creation process - Bigger modal.**
https://github.com/WordPress/gutenberg/issues/42838

[2022-07-31 19:52] ZebulanStanphill commented on #21584
@jordesign Recently, the special handling for pressing the space key in the `<summary>` element [was removed](https://github.com/WordPress/gutenberg/pull/41977).

In order to have a `<details>` block, you'd have to use different markup in the editor versus the front-end. The trouble is that you want the fake `<details>` to look like the real one... but how do you pull that off when a `<details>` l

[2022-07-31 20:42] rodrigodagostino commented on #41419
I wasn’t able to find a proper solution to this problem, but installing the Gutenberg plugin allowed me to save the widgets content, which seemed to override what was causing the issue. After that I uninstalled the plugin and was able to normally save the widgets content.

Hope this can still be useful to someone out there :)

[2022-07-31 22:57] adamwoodnz commented on #42253
I've just tested Gutenberg 13.7.3 in my .org sandbox and still the same unfortunately. Specifically we don't have style tags with either `global-styles-inline-css` or `wp-block-navigation-inline-css`.

Sorry for my ignorance but could you elaborate on what 'separate assets enabled' means please? How would this setting be configured in a theme?

I'm wondering if something in [blocks.php](https://gi

[2022-07-31 23:29] ramonjd commented on #42836
Could you provide a screenshot/screencast that demonstrates the random closing? I can't seem to replicate it.

Just in case you didn't know, since https://github.com/WordPress/gutenberg/pull/40757 you can set a preference for the list view to open by default when you enter the editor.

[2022-07-31 23:36] ramonjd commented on #42828
This could be useful, but might also be tricky to deliver in the plugin because it would be very difficult to guarantee that it would work for all themes.

How would you see it working, especially in terms of styles?

[2022-07-31 23:49] ramonjd commented on #42694
I'm not convinced that we should modify the block styles model, for example, something like this:

[code]
If fluid typography is toggled off then the values aren't very useful, or there'd have to be some bespoke code to use `fontSize.min` instead.

Maybe a new property under `typography` would be better: `fluidFontSize` or something.

Another possibility would be have a flag in the `settings.typog

[2022-08-01 01:46] #42363 closed, assigned to talldan

[2022-08-01 02:01] talldan opened #42840 "Drag and drop resets after dragging down over blocks"
### Description

When dragging a block the dragged block is initially 'greyed out' , but when you drag past its position it suddenly reappears even though the user hasn't stopped dragging. The BlockDraggable is unmounted and stopDraggingBlocks is called.

When bisecting I discovered this bug was introduced in https://github.com/WordPress/gutenberg/pull/38892.

### Step-by-step reproduction instruc

[2022-08-01 02:01] talldan commented on #42363
This should be fixed as of #42806. I reported the other issue in #42840.

[2022-08-01 02:23] mirka commented on #42820
Confirmed as a regression introduced in #40740.

This is reproducing in Storybook, as well as the only place in the Gutenberg codebase where `noArrow: false` is used, which is the Add New Template popover in the Site Editor (go to `/wp-admin/site-editor.php?postType=wp_template` and click the Add New button in the top right)

## Add New Template popover

### Before

<img width="408" alt="The popov

[2022-08-01 03:51] talldan commented on #42834
It looks like this regressed as there was a previous fix for it - https://github.com/WordPress/gutenberg/issues/19636.

It would be good to add some automated testing next time this is solved to prevent future regressions.

[2022-08-01 04:10] talldan commented on #42829
Thanks for reporting this. Hover styles are being considered for most or all blocks. There's a discussion on https://github.com/WordPress/gutenberg/issues/27075, but actually probably more updates in https://github.com/WordPress/gutenberg/issues/38277.

I don't think it makes sense to open separate issues for individual blocks so I'll close this as a duplicate.

[2022-08-01 04:10] #42829 closed, assigned to nobody

[2022-08-01 04:20] talldan commented on #27075
I'm not sure if this is still in progress, but the PR was closed so I've removed the assignment and In Progress label.

@getdave From a triage point of view, what do you think about rewording the title and description of #38277? It seems like the conversation is no longer about the nav block, and it has become a duplicate of this issue. Potentially this issue could be closed or become an overview

[2022-08-01 04:24] talldan commented on #20592
Marking this issue as stale, as it seems quite outdated.

It might be worth making smaller individual actionable issues if there's still anything to do.

[2022-08-01 04:24] #20592 closed

[2022-08-01 04:26] talldan commented on #42822
Thanks for reporting, the problem was already flagged in #41575, so I'll close this as a duplicate.

[2022-08-01 04:26] #42822 closed, assigned to nobody

[2022-08-01 05:02] carolinan commented on #29644
Yes there is a way, and that is by adding different headers to different pages. That method It is not free from its own problems.

[2022-08-01 05:02] mirka commented on #42753
I just noticed we have a newer, Reakit-based [tooltip component](https://github.com/WordPress/gutenberg/tree/trunk/packages/components/src/ui/tooltip) internally. It's not exported publicly, but it's already used once in production code ([the Copy button in ColorPicker](https://github.com/WordPress/gutenberg/blob/f4dde1cca860fb74bf8b7a2644175bb06bae3102/packages/components/src/color-picker/color-c

[2022-08-01 06:50] Mamaduka commented on #42823
@johnstonphilip, the `theme` in this case is the origin of the settings and doesn't need to be defined in `theme.json`. Instead, these are used for [specifications](https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-json/#specification) and how styles are merged.

[2022-08-01 07:47] madhusudhand commented on #42694
I like this idea of being able to define the sizes that are required for a theme, all in a single place and expose only the standard sizes to appear in UI control. The flag could be anything like `hidden` which is `false` by default, and set it to `true` in the additional sizes that need not appear in UI.

[code]

[2022-08-01 08:18] #42802 closed, assigned to Mamaduka

[2022-08-01 08:51] getdave commented on #42253
@adamwoodnz That would be this function

https://github.com/WordPress/wordpress-develop/blob/299ac4dbb9351371961155ca30d772ba2cebb549/src/wp-includes/script-loader.php#L2465

You can enable or disable it using the filter

[code]

You can [learn about what this function does here](https://github.com/WordPress/wordpress-develop/blob/299ac4dbb9351371961155ca30d772ba2cebb549/src/wp-includes/script-loa

[2022-08-01 08:52] leadclown commented on #27166
running into the same issue multiple times. why isn't this fixed yet? why is this not high priority?

currently we can't use multiple selects.

trying combobox instead but please... fix your bugs!

[2022-08-01 08:56] getdave commented on #27075
I agree @talldan. Let's close this one in favour of https://github.com/WordPress/gutenberg/issues/38277 which, for whatever reason, has become canonical.

It's still on my radar but I've switched focus to the Nav block for a while.

[2022-08-01 08:56] #27075 closed

[2022-08-01 08:59] jameskoster opened #42846 "Resolve inconsistent behaviour of the 'Site' menu item in the site editor navigation"
This came up in https://github.com/WordPress/gutenberg/pull/42807.

If you click 'Site' from the templates list it will collapse the nav panel and load the site homepage. However if you click 'Site' whilst editing a template then the nav panel remains open. This inconsistency makes navigating the site editor feel a bit inconsistent and fragile. Here's a video demonstration:

https://user-images.gi

[2022-08-01 09:03] leadclown commented on #20206
this bug still exist. can confirm i have a scrollbar on full hd (1920x1080) because of multiple elements which are not border-box.

please test multiple resolutions and devices before you mark bugs as completed!

[2022-08-01 09:03] ciampo commented on #42753
That's a great point! I will add that, instead of using the Tooltip based on `reakit`, we may want to create a new component using `ariakit`'s latest APIs ([example](https://ariakit.org/examples/tooltip)). I guess the next steps would be to assess what is currently supported by the "legacy" `Tooltip` component, and how we could support all of these features if we swapped the underlying implementat

[2022-08-01 09:04] jameskoster commented on #42838
I opened https://github.com/WordPress/gutenberg/issues/42812 last week, but happy to close in favor of this issue. One point raised therein that is worth transferring is the template part consideration. There exists a UI to select the template part area, which takes up some modal real estate. It would be good to consider that here so that we can use the same designs for both template parts and reu

[2022-08-01 09:04] jameskoster commented on #42812
Closing in favor of https://github.com/WordPress/gutenberg/issues/42838

[2022-08-01 09:04] #42812 closed, assigned to nobody

[2022-08-01 10:28] Mamaduka commented on #42834
I think the editor only preserves a caption if the replacement image doesn't have one.

https://github.com/WordPress/gutenberg/blob/6d62fa9aeb9b1c073e502ab1cd80e90c0740dc04/packages/block-library/src/image/edit.js#L162-L166

[2022-08-01 10:29] getdave commented on #42602
@javierarce Would it be possible to look into the design of this?

[2022-08-01 10:33] mikachan opened #42848 "Navigation Overlay: Add option to replace close icon"
## What problem does this address?

In https://github.com/WordPress/gutenberg/pull/36149, we added the option to replace the overlay menu icon with text. However, when the overlay is open, we still use an icon for closing the overlay.

![image](https://user-images.githubusercontent.com/1645628/182129508-8fbba1f6-cc0a-4c22-b7c4-a95c7f948225.png)

## What is your proposed solution?

It would be nice

[2022-08-01 10:44] getdave commented on #41307
Related

https://github.com/WordPress/gutenberg/pull/42605
https://github.com/WordPress/gutenberg/pull/40393

[2022-08-01 10:45] getdave commented on #41307
@Mamaduka Should we close this one in favour of canonical https://github.com/WordPress/gutenberg/issues/33583?

[2022-08-01 10:48] Mamaduka commented on #41307
@getdave, that makes sense to me 👍

Closing as "duplicate".

[2022-08-01 10:48] #41307 closed, assigned to nobody

[2022-08-01 11:44] scruffian opened #42850 "Navigation block: Change how we create classic menus"
## What problem does this address?
When you create a new navigation menu from a classic menu then a new wp_navigation CPT is created, which is already populated with the content of the classic navigation. The upshot of this is that as soon as the classic navigation is created the fallback behaviour of the block is changed and the classic menu is used instead of page list (as described in https://g

[2022-08-01 11:50] scruffian commented on #42253
I don't think it should be, it's a core performance feature.

[2022-08-01 12:19] #12984 closed

[2022-08-01 12:33] carolinan commented on #42732
That makes sense to me too.  I always found it a strange missmatch that classic templates has that file header, but when we added the HTML block based templates, they didn't. And then we added the file header to the patterns instead and the inconsistencies increased.
I guess at that time:
- We did not have a use case for parsing a file header.
- Not having a file header meant there was a little bi

[2022-08-01 12:34] scruffian commented on #42253
I tested running the wporg site with Gutenberg locally and I see this CSS:

[code]

[2022-08-01 12:56] t-hamano opened #42854 "Create Block: consider not using 'create-block' for namespace"
## What problem does this address?

In this issue, I would like to discuss plugins generated from `@wordpress/create-block` and whether `create-block` should be used for the namespace of the block.

For example, run create-block with the following command:

[code]

In this case, file names, plugin and block are defined as follows:

### PHP File

- File name: `guten-pride.php`
- Plugin Name: Guten

[2022-08-01 13:15] jeffreyvr commented on #36150
Though't I'd comment here, since this is something I'm experiencing too. If you use a an empty theme, with just an style.css (without styling in it) and an empty index.php - you'll get the serif font in the block editor.

I'm wondering whether this is the expected behaviour?

<img width="1079" alt="Screenshot 2022-08-01 at 15 12 44" src="https://user-images.githubusercontent.com/9550079/182155791-

[2022-08-01 13:20] tomjn commented on #36150
The behaviour around this is highly inconsistent, so for Frontenberg I gave up and copied over the twentytwentytwo stylesheet to avoid it looking broken so often.

[2022-08-01 13:26] #42837 closed, assigned to ntsekouras

[2022-08-01 13:42] scruffian opened #42856 "Navigation block: New menu list view inconsistent"
### Description

When I "create new menu" the links in the list view aren't updated:
<img width="1440" alt="Screenshot 2022-08-01 at 14 35 40" src="https://user-images.githubusercontent.com/275961/182159970-003dafbc-3672-4491-abe9-42a16a0fb8a7.png">
<img width="1440" alt="Screenshot 2022-08-01 at 14 35 31" src="https://user-images.githubusercontent.com/275961/182159981-99eca27e-90aa-42cd-af2d-4d7c

[2022-08-01 14:17] t-hamano commented on #42753
Thanks for the great ideas!
Now then, I would like to confirm if it is possible to rewrite Tooltip internally based on `reakit` / `ariakit` in the legacy Tootip component while maintaining props.

[2022-08-01 14:29] stefanrows commented on #41796
Yea, I'm absolutely for it. I write a ton of programming content where I need to set single words, for instance, something like _print()_ to inline-code formatting, but doing it the default way with clicking is very cumbersome and time-consuming.

[2022-08-01 14:53] mcsf commented on #42513
(Oh hey, @aduth!)

Btw, this seems like something to be on @tyxla and @jsnajdr's radar.

Right, this is hard to refute. It would be interesting to not just run an updated benchmark against Redux's implementation, but to (re-)profile Gutenberg's state update cascade to assess the real cost of `combineReducers` amidst the cascade. Depending on those two metrics, we could either entirely switch to Re

[2022-08-01 15:06] ryelle commented on #42253
Yes, on the sites that use classic themes, the global styles are removed to prevent overriding the custom properties we've set. See [`unregister_classic_global_styles`](https://github.com/WordPress/wporg-mu-plugins/blob/0d841439637d36212c06c29601e7c4e1d6a37aa1/mu-plugins/blocks/global-header-footer/blocks.php#L262-L272). The global styles are then generated from the News site, but [only the variab

[2022-08-01 16:54] Trekky12 opened #42862 "FSE post-content block is using wrong "first" item in the query loop"
### Description

The post-content block in a query loop on a page with the global query loop shows the wrong content.

Apparently the problem lies in the post-content.php file (https://github.com/WordPress/WordPress/blob/aeb3b7530af57db885dfa8f377a7c6aa22e309bd/wp-includes/blocks/post-content.php#L42) where
[code]
is called.
When this call is removed everything is working as expected. It seems thi

[2022-08-01 17:16] skorasaurus commented on #38651
Sorry for the delay.

I am still unable to produce this as indicated in the video included which shows the appropriate margin for the separate button blocks editor.

https://user-images.githubusercontent.com/955351/182205566-d62a23fb-4f4f-4585-b61c-dc521c250ea4.mp4

Are you experiencing this on any other themes? If this is only happening on the twentytwentyone theme, you can report this at the [tw

[2022-08-01 17:49] paulopmt1 commented on #42100
Tested here, and it worked as well:

![image](https://user-images.githubusercontent.com/1044309/182210807-fd16cb7c-0f30-49d6-89d3-acd9c9e79c1b.png)

Same for custom buttons with text:

![image](https://user-images.githubusercontent.com/1044309/182211234-08faeb7b-d58a-4740-aea9-75d057129cd7.png)

[2022-08-01 18:08] eric-michel commented on #39371
Just a random thought I had while working on site content today: it would be awesome if these spacing presets could also be applied to the `spacer` block. Not sure if that was already in the plan, but having the same interface to select standard sizes for spacers would be really intuitive.

Related issue: https://github.com/WordPress/gutenberg/issues/27614

[2022-08-01 18:40] pagelab commented on #29644
I mean, an _automatic_ way to do this, as it is already possible with the Site Logo block by using `add_theme_support( 'custom-logo', [ 'unlink-homepage-logo' => true ] )`

[2022-08-01 18:43] pagelab opened #42864 "Site title: allow unlinking the text on the homepage when “Make title link to home” is selected."
## What problem does this address?
Right now, I can choose to wrap the Site Title block text with a link, which includes the homepage URL.

This is useful, but I can't unlink the text on the homepage. There's no use for a homepage link in the homepage.

Unlinking the text is already possible with the Site Logo block by inserting the following in functions.php:

[code]

## What is your proposed sol

[2022-08-01 19:22] scruffian commented on #42253
I don't think this is a Gutenberg bug then...

[2022-08-01 19:47] skorasaurus commented on #40943
Hi @markhowellsmead ;

I am not able to reproduce this on Gutenberg 13.7.3; I am able to enter 8 digit hex values in the color picker =)

Please reopen if you're still experiencing this.

![image](https://user-images.githubusercontent.com/955351/182232752-313fafe5-92d0-43e4-9e6b-84c555a67b5a.png)

[2022-08-01 19:47] #40943 closed, assigned to nobody

[2022-08-01 19:57] Luc45 opened #42866 "Add --user flag support for wp-env"
## What problem does this address?
Running wp-env in Linux is annoying because it creates files with user 0:0 (root).

## What is your proposed solution?
One possible solution is to add:
[code]

Here: https://github.com/WordPress/gutenberg/blob/trunk/packages/env/lib/commands/run.js#L52-L59 (right before or after the `--rm` array value, as `-u` is a flag of `run`)

Effectively running the docker c

[2022-08-01 20:06] hellofromtonya opened #42868 "Webfonts: Consider renaming "webfont" to "web font" or "font""
Part of https://github.com/WordPress/gutenberg/issues/41479.

## Problem Statement

The terms`webfonts` and `webfont` are misaligned to terminology of well-known authoritative standards.

[As suggested by @desrosj](https://github.com/WordPress/gutenberg/issues/41479#issuecomment-1184564610), this proposal is to consider renaming web font terminology from "webfont" to "web font". In addition, I've

[2022-08-01 20:08] hellofromtonya commented on #41479
I opened a separate issue for renaming consideration [per @desrosj suggestion](https://github.com/WordPress/gutenberg/issues/41479#issuecomment-1184564610). Let's move the naming discussion to here https://github.com/WordPress/gutenberg/issues/42868

[2022-08-01 20:16] vanessamaartinstt opened #42869 "Draft post image is not visible when changing phone orientation"
## Description
When adding media (image or gallery block) and changing phone orientation, the media already added to the post is not visible anymore.

## Step-by-step reproduction instructions
1. Start a new post or edit an existent one
2. Upload an image (or a few, in Gallery block)
3. Once uploaded change phone orientation

## Expected behaviour
Media file should be visible after changing phone

[2022-08-01 20:47] hellofromtonya opened #42871 "Webfonts Performance: Add a filterable threshold to limit the number of enqueued fonts"
Part of https://github.com/WordPress/gutenberg/issues/41479.

## Problem Statement

The enqueue process is unlimited, meaning an unlimited number of fonts could be enqueued.

Imagine a site uses a plugin that enqueues 50, 100, or more web fonts. What would happen to the website? It would negatively impact the user's experience and site's metrics and rankings.

What is the maximum number of font fi

[2022-08-01 20:56] hellofromtonya opened #42873 "[Fonts API] Performance: Cache dynamically generated `@font-face` rulesets"
Part of https://github.com/WordPress/gutenberg/issues/41479.

## Problem Statement

Currently, the API dynamically generates the global `@font-face` rulesets on each web page request. But these global typography web fonts do not change on each request. Rather, they change with an event such as through user selection (via global styles UI), theme change, plugin change, and possibly programmatically

[2022-08-01 21:00] adamwoodnz commented on #42253
👍 Closing this then. Thanks for your assistance @scruffian @getdave @andrewserong, sorry if I was on the wrong track.

[2022-08-01 21:01] #42253 closed, assigned to scruffian

[2022-08-01 21:18] ciampo commented on #42820
Tentative fix opened https://github.com/WordPress/gutenberg/pull/42874

[2022-08-02 03:00] mirka commented on #42415
We might consider adding a single "component reset" mixin that we include in the top-level wrapper of each component, which would include the border sizing reset, font-size/line-height, color, etc.

[2022-08-02 03:37] mirka opened #42879 "UnitControl: Improve handling of long values in unit select"
<img width="239" alt="UnitControl with unit select" src="https://user-images.githubusercontent.com/846565/181240123-c1fd3c71-e246-4f32-a3c2-d77c0ba812dc.png">

## Tasks

- [ ] Change the implementation so the dropdown itself is a standard `select` but the visible trigger button is a custom component.
- [x] #42650
- [ ] Make the button width [hug the selected value](https://github.com/WordPress/gut

[2022-08-02 04:43] talldan commented on #42817
https://github.com/WordPress/gutenberg/pull/19809 is the PR that made `wp.icons` not available via the `wp` variable.

I don't think there's a plan to change that, so npm may be your only option.

It isn't something I've been involved in (just relaying the info here) so I won't be able to answer any questions about that, but I see @gziolo was involved in that PR and might be able to.

[2022-08-02 04:59] talldan commented on #42787
There's a subtle issue in your code - the problem happens because the correct type for `ref` needs to be used. The block.json defines the attribute as a number, but you're using a string.

The block is saved with a string for `ref`, but parsing of the attribute fails when reloading the editor.

[2022-08-02 04:59] #42787 closed, assigned to nobody

[2022-08-02 05:31] talldan commented on #42770
I've added https://github.com/WordPress/gutenberg/issues/42725 to the list. Hope that's ok!

[2022-08-02 06:03] jonoalderson commented on #42871
A few considerations...

- A reasonable theme might have 2 or 3 fonts; something for headings, something for body content, +1 (e.g., a brand typeset or icon font; though the latter are decreasing in popularity and usage).
- A font might reasonably use 2 or 3 files; a couple of weights, and a specific heavy/italic treatment.
- A site with international content (or complex language) might split out

[2022-08-02 06:06] jonoalderson commented on #42868
This seems sensible + clearer.

[2022-08-02 07:16] timotheemoulin commented on #36407
Hi @skorasaurus,

The mentionned settings doesn't seem to have any impact on the `default` color palette.
We can add theme colors, but not remove the default ones.

![image](https://user-images.githubusercontent.com/1841590/182314894-ae3d75bc-c6e5-455b-9d29-3c9ee3817a79.png)

Have the settings changed?

[2022-08-02 07:33] mrfoxtalbot opened #42882 ""Page List" inside the Navigation Block no longer accessible by clicking on it"
### Description

It used to be possible to reach the "Page List" block by clicking directly on it in order to convert them to regular links (WP version 6.0.1, without the Gutenberg Plugin), as seen below:

https://user-images.githubusercontent.com/4452464/182317166-8facbf8f-21a3-46a7-af40-164f7facb639.mp4

I have noticed that, after updating the Gutenberg plugin to version 13.7.3, it is no longer

[2022-08-02 08:30] #42840 closed, assigned to talldan

[2022-08-02 08:47] scruffian opened #42884 "Theme JSON: Using a `ref` in the theme json breaks the Site Editor"
### Description

If theme.json uses a `ref` value for a property, the Site Editor doesn't understand this property and throws an error:

### Step-by-step reproduction instructions

1. Use a theme that uses `refs` for a theme.json property (e.g. Rainfall)
2. Try to edit that property (for Rainfall it's links)
<img width="915" alt="Screenshot 2022-08-02 at 09 46 16" src="https://user-images.githubus

[2022-08-02 08:50] #34997 closed, assigned to scruffian

[2022-08-02 09:40] intelligence commented on #42787
Ah, thank you for clarifying!

[2022-08-02 09:43] mirka commented on #42415
Yes, I agree this is the ideal state. It's more a matter of triage that I suggested not doing a package-wide fix, given the amount of effort it would take to apply the reset to every single component. The good news is that, box-sizing problems are easier to notice now with the CSS switcher in Storybook (#42747) — the default preset doesn't have any box-sizing resets.

[2022-08-02 09:52] jasmussen commented on #41973
Hey @mirka and @ciampo, I'm coming back to this after a while. Thank you for the patience on this one.

I've caught up a bit on the conversations around 36px and 40px, and it definitely is difficult to thread the needle with all the moving parts. But at the core, it would be nice to just go straight to 40px for the inspector, as that is what the majority of the designs are for.

Just to visualize

[2022-08-02 10:35] oandregal opened #42890 "Dynamic references in `theme.json` are not resolved in the site editor"
### Description

We've introduced a new mechanism to refer to a different style dynamically at https://github.com/WordPress/gutenberg/pull/41696 which allows us to do things such as:

[code]

In the example, the result would be that the text and background colors are the same (yellow).

![Captura de ecrã de 2022-08-02 12-29-40](https://user-images.githubusercontent.com/583546/182353781-3edcd351-ab

[2022-08-02 10:43] oandregal commented on #42890
A mechanism like this one should aim to expose the design links to the users. They need to understand where the value comes from so if they decide to "break" it it'll be a conscious decision. I ellaborated about this more at https://github.com/WordPress/gutenberg/pull/39432#issuecomment-1067964350

Though a first step is just to render the proper value and make the site editor look like the front-

[2022-08-02 10:43] oandregal commented on #42890
cc @scruffian

[2022-08-02 10:43] msurdi opened #42891 "cmd + A twice does not select all content in the editor"
### Description

We're debugging a problem in P2 where selecting all content from all blocks (by pressing CMD+A+A) is not selecting the entire contents of the editor. This was working before [this commit](https://github.com/WordPress/gutenberg/commit/5e1cf03039d0ff6973d4ba501432e17de1ebc9c0) as per my investigation.

I've noticed today that this problem exists in the provided [playground example](

[2022-08-02 10:48] gziolo commented on #42854
@t-hamano, thank you for opening this issue. It's definitely something that we should document better, so it's easier to reason what is the best practice when picking the block name.

@ryanwelcher, something to think about as we work towards the goal of having better support for multiple blocks in the single plugin. In particular, we need to make it clear that textdomain defaults to the plugin slu

[2022-08-02 10:59] TenZdenda commented on #18766
Hey, any news on this issue? :)

[2022-08-02 11:05] #42820 closed, assigned to ciampo

[2022-08-02 11:35] jameskoster opened #42894 "Template names for specific entities can get confusing when the entity is renamed"
This came up in https://github.com/WordPress/gutenberg/pull/42165.

When you create a template for a specific entity, its name is used to define the template name. For example if you create a template for your post 'Hello World!' the template will be named 'Post: Hello World!'.

If you change the title of that post, the template name is not updated to match. This can make identifying templates dif

[2022-08-02 11:40] jameskoster opened #42895 "Template creation: Append slug to template name if a template with a matching name exists"
This came up in https://github.com/WordPress/gutenberg/pull/42165.

### The problem

If you have two posts with the same title and create templates for them both, they will have the same name, and you will see this in the templates list:

<img width="728" alt="Screenshot 2022-08-02 at 12 37 48" src="https://user-images.githubusercontent.com/846565/182365604-a2dc731d-45ef-4ae8-9da3-cb84b123917c.png

[2022-08-02 11:43] ciampo commented on #42770
Of course it is, thank you!

I must flag that I currently don't really have the capacity to work on this. I can try to squeeze some time and help, but we definitely need to understand who is going to work on these fixes

[2022-08-02 11:44] carolinan opened #42896 "Image and table block caption styles overrides theme.json elements.caption"
### Description

If you style the caption element using theme.json, the styles work in the Site Editor but not on the front.
On the front, captions used with the image block and the table block displays with the default block styles.

### Step-by-step reproduction instructions

Add the following to theme.json, for example using Emptytheme:
[code]

1. In the site editor, add a table block with a ca

[2022-08-02 11:59] ciampo commented on #42415
This sounds like a good idea!

Sounds good. I guess we can work our way gradually (in order to avoid the risks of a one-shot, package-wide fix), with the ultimate aim of having all components "box-sized" equally

[2022-08-02 12:00] gziolo commented on #42817
I don't think the decision to keep icons internal is set in stone. We definitely wanted to keep it internal to see how the collection of icons grows. We discussed some interesting ideas on how to make them part of the public API in a way that makes them easy to use with `wp.icons.*` syntax but also optimized for the best JavaScript download size. It isn't an easy task so we never get back to it.

[2022-08-02 12:02] Gierand commented on #42890
A similar problem with the rendering of colors in the site editor occurs when you add root padding support in the settings.

[code]
No error is generated, but no change is made during editing.

[2022-08-02 12:07] hellofromtonya commented on #42868
@jonoalderson any preference of which name to adopt? "web font" or "font"?

[2022-08-02 12:14] jonoalderson commented on #42868
Font!

[2022-08-02 12:17] markhowellsmead commented on #40943
Confirmed: works in WordPress 6.0. Thanks!

[2022-08-02 13:07] ndiego commented on #30701
@paaljoachim are you ok with converting this issue from a "bug" to an "enhancement"? It looks like everything is working correctly, the functionality for controling text decoration on Site Title blocks just hasn't been implemented yet.

[2022-08-02 13:13] ndiego commented on #36219
Given the solution that @montchr provided and the lack of recent activity, I am going to close this issue. If anyone feels it needs to be reopened, feel free to do so.

[2022-08-02 13:13] #36219 closed, assigned to nobody

[2022-08-02 13:16] sabernhardt opened #42897 "Display URLs appear encoded in Summary panel"
### Description

The new Summary panel in Gutenberg 13.7 (added in #42033) shows the encoded version of permalinks in the URL button.

When it was in the Permalinks panel, the permalink appeared decoded. It also had `direction: ltr` for RTL languages on `.edit-post-post-link__preview-link-container`, which now should be on the `.edit-post-post-url__toggle` button. The `.editor-post-url__link` URL

[2022-08-02 13:18] paaljoachim commented on #30701
Hey @ndiego Nick. Good point! I have adjusted.

[2022-08-02 13:19] #33615 closed, assigned to nobody

[2022-08-02 13:37] rkalzaglool commented on #9979
here same problem...

[2022-08-02 13:40] tyxla commented on #16938
The last Lodash usage and the `lodash` dependency are being removed from the `@wordpress/element` package in #42898.

[2022-08-02 13:55] Mamaduka commented on #42226
I did `git bisect` and it looks like #38855 introduced the regression. After it `autoResizeIframeHeight` stopped working correctly.

[2022-08-02 14:16] ndiego commented on #20173
This issue was reviewed in the weekly Editor Bug Scrub and 3 testers were unable to reproduce in the latest version of WordPress and Gutenberg. Therefore, I am closing but if someone is able to reproduce, feel free to reopen.

[2022-08-02 14:16] #20173 closed

[2022-08-02 14:18] Mamaduka commented on #19057
@talldan, I can no longer reproduce the issue on Safari 15.5.

## Screenshot
![CleanShot 2022-08-02 at 18 16 37](https://user-images.githubusercontent.com/240569/182397030-1a4eafc1-636b-4dad-9a3d-bef1803a92b8.png)

[2022-08-02 14:18] #19057 closed

[2022-08-02 14:22] kathrynwp commented on #29887
This was also reported by a user unable to create a custom attachment page in
https://wordpress.org/support/topic/template-attachments/

[2022-08-02 14:36] ndiego commented on #27720
@bozzmedia this issue came up in this weeks Editor Bug Scrub. The attendees of the scrub had trouble reproducing the issue using a YouTube embed, like the one that appears in your screenshot. Would you be able to provide the steps to reproduce the issue you are seeing? I.e. the theme you are using, Gutenberg/WordPress version, etc. Thanks!

[2022-08-02 14:42] ndiego commented on #31491
@talldan and @noisysocks this issue came up in our weekly Editor Bug Scrub and just wanted to check in and see if this was still an issue?

[2022-08-02 14:46] ndiego commented on #32815
I just tested with a few custom blocks and there is now a clear message that the block is disabled. See screenshot below with the Icon Block. I believe this issue can be closed.

![image](https://user-images.githubusercontent.com/4832319/182403489-9b6190e4-778c-4a32-b722-225b248daef6.png)

[2022-08-02 14:48] Mamaduka commented on #30985
I will close this since deprecation/update logs are now grouped and produce less noise in the console - #34163.

[2022-08-02 14:48] #30985 closed, assigned to nobody

[2022-08-02 14:50] richtabor opened #42899 "Consider naming List View panel label relative to current template/part"
## What problem does this address?
I think it'd be more helpful having a bit more context of where we're at when editing templates and parts, and maintaining the "List view" label is not helpful.

## What is your proposed solution?

Instead of "List View" the label adjusts to the name of the template, or part, viewed.

Current (Always labeled "List View"):

<img width="1089" alt="CleanShot 2022-08

[2022-08-02 14:55] Mamaduka commented on #32815
Thanks, @ndiego.

@markhowellsmead, I'm going to close the issue.

We shipped several improvements for missing blocks, but feel free to re-open if you encounter new errors.

[2022-08-02 14:55] #32815 closed, assigned to nobody

[2022-08-02 14:55] geriux commented on #42869
Thanks for opening this ticket @vanessamaartinstt 🙇

I've created a [PR](https://github.com/WordPress/gutenberg/pull/42900) to add a workaround for this issue, once this is merged we'll work on a new beta before the release.

Adding a note here that this is only affecting Android, on iOS works correctly.

[2022-08-02 14:56] ndiego commented on #34164
@noisysocks and @adamziel this issue came up in our weekly Editor Bug Scrub and I just wanted to check in. Seems like work on the Legacy Widget block has stalled? Just curious if this is an issue we are actively planning to fix, or if it can be closed as a "[Status] Not Implemented".

[2022-08-02 14:59] markhowellsmead commented on #32815
Thanks for the feedback. Seems to work and provides the natural error message when a newly-unregistered block is in the block editor.

[2022-08-02 15:07] torounit commented on #35019
Tested in my local environment.

WP 6.0 reproduces this problem, but it seems to be fixed in Gutenberg 13.8.0-rc2.

Maybe it was fixed in https://github.com/WordPress/gutenberg/pull/40656.

[2022-08-02 15:20] masperber opened #42902 "Gutenberg 13.7.3 - Smaller editor font size for some themes"
### Description

In Gutenberg 13.7.x, the editor font size has been changed for some themes. (This does not affect font sizes on the live site.)

For example, in the Dara theme, the editor font size is now 16px, where it was previously 18px. It looks like the 18px size was previously being set by .editor-styles-wrapper  in 13.6.0, but that isn't the case in 13.7.x. The editor also isn't showing th

[2022-08-02 15:50] grmrgecko commented on #41419
Still happens to me, what can I do to get you more information?

[2022-08-02 16:06] paaljoachim commented on #42838
Hey James @jameskoster

I went ahead and adjusted the "Create a template part" modal for Reusable blocks.
Actually it should be for Reusable blocks and Patterns. The difference is that Reusable blocks are synced and Patterns are not.

Version 2.

![Create Reusable Block modal](https://user-images.githubusercontent.com/5323259/182545596-f648a92f-8f52-446a-9a62-96fef118902c.jpg)

Updated Figma files

[2022-08-02 16:40] sabernhardt commented on #41649
Is the bug reported in [Trac 56325](https://core.trac.wordpress.org/ticket/56325) related? When I had `SCRIPT_DEBUG` on, the RTL files loaded as they should. However, it did not fetch the RTL versions of minified files with the debug turned off.

[2022-08-02 16:41] kathrynwp commented on #41649
Thanks, @sabernhardt! Just wanted to point out that in my Trac report, I was able to replicate even without Gutenberg active.

[2022-08-02 16:47] ndiego commented on #35019
I tested as well using Gutenberg 13.7.3 and the issue appears resolved. Therefore I am going to close this issue.

[2022-08-02 16:47] #35019 closed, assigned to nobody

[2022-08-02 16:47] kathrynwp commented on #20710
Hi @Crusse – circling back to this issue, is it still occurring with the latest version of Gutenberg and WordPress? Thanks!

[2022-08-02 16:52] kathrynwp commented on #21145
Hi @hrsetyono  – is this still occurring with the latest version of Gutenberg (13.7.3) and WordPress (6.0.1)? Thanks!

[2022-08-02 17:04] ndiego commented on #22412
I just tested Gutenberg 13.7.3 on a iPhone using VoiceOver and I am not able to replicate the issue. I am getting similar results to @carolinan. The Social Icon is clearly announced and I am able to navigate to the URL field and enter a link. I am going to close this issue, but if anyone is able to replicate in the future, feel free to reopen.

[2022-08-02 17:04] #22412 closed

[2022-08-02 17:05] kathrynwp commented on #21560
Hi @david-binda, is this still occurring with the latest version of Gutenberg (13.7.3) and WordPress (6.0.1)?

What is the maximum file size that you're referring to?

[2022-08-02 17:12] kathrynwp commented on #21899
Hi @cliffordp - is this still occurring with the latest version of Gutenberg (13.7.3) and WordPress (6.0.1)? Thanks!

[2022-08-02 17:26] cliffordp commented on #21899
don't know. haven't messed with it in a long while and don't plan to. please investigate yourself if this bug is finally getting resources directed to it.

[2022-08-02 17:28] kathrynwp commented on #22479
I'm not able to replicate this with:

WordPress 6.0.1
Gutenberg 13.7.3 active or inactive
Twenty Twenty-Two
No other plugins active

@dkoo If you are still able to replicate, could you please let me know what theme you're using and confirm that you're using the latest version of WordPress and Gutenberg?

I'll go ahead and close this out but do feel free to comment if you can still replicate and I'

[2022-08-02 17:28] #22479 closed

[2022-08-02 17:32] kathrynwp commented on #22795
Hi @aduth – is this still occurring with the latest version of Gutenberg (13.7.3) and WordPress (6.0.1)? Thanks!

[2022-08-02 17:50] ndiego commented on #18708
This issue came up today in our weekly Editor Bug Scrub. I retested the issue with the example plugin provided and am not able to reproduce the issue using the latest version of Gutenberg. Something must have been updated in the List block.

I tested on an iPhone as well as with Japanese on desktop, all are working correctly. Therefore, I am going to close this issue, but if anyone is reliably abl

[2022-08-02 17:50] #18708 closed

[2022-08-02 17:50] kathrynwp commented on #23483
I can still replicate this with:

WordPress 6.0.1
Gutenberg 13.7.3 active or inactive
No other plugins active

I agree that this is an edge case, so adding a low-priority tag.

[2022-08-02 17:58] kathrynwp commented on #23644
It should now be possible to copy multiple blocks (formatted or not) at once.

I just tested in Chrome 103.0.5060.134 and it works as expected.

I'll close this report as fixed, but if you're still experience any issues, please add a comment with your steps to replicate and I'll be glad to have another look.

[2022-08-02 17:58] #23644 closed

[2022-08-02 18:08] kathrynwp commented on #21899
Thanks @cliffordp , I understand.

@gziolo is this something you might be able to take a look at to see whether it still applies, and whether we might be able to find a fix? Thanks!

[2022-08-02 18:13] ndiego commented on #20550
This situation still exists in the Block Editor as of WordPress 6.0 and Gutenberg 13.7.3. That said, I am not sure if this should be considered a bug as the `save_post` hook simply works differently in the Editor.

To achieve the result you are looking for, you can use the `rest_after_insert_{$this->post_type}` hook. Here is the [documentation reference](https://developer.wordpress.org/reference/h

[2022-08-02 18:13] #20550 closed

[2022-08-02 18:15] kathrynwp commented on #24231
Hi @donalirl I just tested this and am no longer seeing a vertical scrollbar on the Spotify player on small devices.

I'll close this out as fixed, but if you're still able to replicate, please feel free to comment and I'll be glad to take another look!

Tested with:

WordPress 6.0.1
Gutenberg 13.7.3 active or inactive
No other plugins active

Firefox 103.0 - using browser inspector mimicking iPho

[2022-08-02 18:15] #24231 closed

[2022-08-02 18:23] kathrynwp commented on #24458
@alaczek Hi! I'm not seeing any wave options for the Cover block at the moment. Could you please confirm whether those are coming from WP Core, Gutenberg, or a third-party plugin like CoBlocks? Thanks!

Tested with:

WordPress 6.0.1
Gutenberg 13.7.3 active or inactive
No other plugins active
Twenty Twenty 2.0 or Twenty Twenty-Two 1.2

[2022-08-02 18:24] eric-michel commented on #39868
I came to create an issue about the same thing. There are a lot of icons that could be added - allowing for custom icons to be uploaded would be a great start for more flexibility.

[2022-08-02 18:32] kathrynwp commented on #24542
Hi @johngodley is this something you'd be able to take a peek at again to see whether it's still an issue with the current versions of WordPress and Gutenberg? Thanks!

[2022-08-02 18:48] dretzlaff opened #42904 "Large navigation menus load slowly and exhaust server resources"
### Description

Our website has a menu with several submenus linking 30-40 pages in all. Loading the full site editor triggers API requests for ALL the pages. This is quite slow and results in multiple HTTP 508 Resource Limit Is Reached. Requests are CPU-limited on the server and our shared hosting environment limits pending requests to 20. This is ample server resources for everything we need ex

[2022-08-02 19:22] kathrynwp commented on #25219
Hi @mvdhoek1 – I've tested this with a standard audio shortcode (instead of your `yard_header` shortcode) but haven't been able to replicate. Converting to blocks from the Classic block works as expected, and the two audio players as well as the caption are all retained.

Here's my code:

[code]

Tested with:

WordPress 6.0.1
Gutenberg 13.7.3 active or inactive
No other plugins active
Theme: Twent

[2022-08-02 19:22] #25219 closed

[2022-08-02 19:25] adamziel commented on #40316
After some more discussions, I believe this solution comes close to everyone’s goals:

# Remove the `__experimental` prefix before merging new APIs into WordPress core

WordPress core needs stability and backwards compatibility. Gutenberg needs agility and freedom to remove any `__experimental` API. We won't find a reasonable middle-ground without compromising either of these goals, but we can cha

[2022-08-02 19:34] kathrynwp commented on #25319
I'm still able to replicate this with:

WordPress 6.0.1
Gutenberg 13.7.3 active or inactive
No other plugins active
Vimeo block **or** Video block using the option "Insert from URL"

[2022-08-02 20:19] kathrynwp commented on #25437
I haven't been able to replicate this issue with:

WordPress 6.0.1
Gutenberg 13.7.3 active or inactive
No other plugins active
Theme: Twenty Twenty 2.0 or Twenty Twenty-Two 1.2

Centering both button blocks individually _does_ cause them to go onto separate lines, but that seems like the expected behaviour, as a single button can't be centered unless it's on its own line.

To centre both buttons t

[2022-08-02 20:19] #25437 closed

[2022-08-02 21:12] bozzmedia commented on #27720
Thanks for the followup Nick, I am using GeneratePress theme. I had set block video embeds to have a max-height with custom css. When I removed the custom CSS the gap was not nearly as large. I am not sure what the best method is to control the video embed sizing otherwise.

WP 6.0, core gutenberg (no plugin)

[2022-08-02 23:38] devboldium commented on #41324
Can confirm this is still happening in 6.0.1.

[2022-08-03 01:14] dd32 commented on #42902
Just noting that I've confirmed this on Make.WordPress.org, as a change between Gutenberg 13.6.0 & 13.7.0.
As reported here: https://wordpress.slack.com/archives/C02QB8GMM/p1659448511556299

[2022-08-03 01:25] noisysocks commented on #34164
I don't believe anyone is working on this, no. If we're struggling to reproduce this and not hearing many reports from users then I'd be happy to close.

[2022-08-03 02:41] t-hamano commented on #27720
@bozzmedia

I have also tested it on various themes and could not reproduce it.
The URL I used for testing is the same as yours (https://www.youtube.com/watch?v=WiVaa68DA6c).

<details>
<summary>See Screenshots</summary>

### Twenty Twenty Two

![WiVaa68DA6c_tt2](https://user-images.githubusercontent.com/54422211/182510703-1aadad88-fb1a-48bb-bd73-f2670f72353d.png)

### Twenty Twenty One

![WiVaa68

[2022-08-03 03:07] andrewserong commented on #42902
Thanks for reporting!

Looks like the styles that aren't being output are the default editor styles, which are defined here: https://github.com/WordPress/gutenberg/blob/1ad7a0ba48358ae2b6ec340f9472defa0d112910/packages/block-editor/src/default-editor-styles.scss#L8 and then are flagged for output here: https://github.com/WordPress/gutenberg/blob/9f0e6be1c2ded47186ac4c009c798fa50d005177/packages/ed

[2022-08-03 03:41] andrewserong commented on #42902
I think we can fix this on the PHP side when we output base layout styles for Classic themes. I've opened up a PR in #42906 with a potential fix.

[2022-08-03 04:08] andrewserong commented on #39336
***Update 2022/08/03***:

Recently merged PRs:

* https://github.com/WordPress/gutenberg/pull/42452 (this optimises the CSS output of the Layout support, significantly reducing the size of the final CSS)
* https://github.com/WordPress/gutenberg/pull/42309 (exposes the content and wide width controls at the root level under Layout in the global styles UI)
* https://github.com/WordPress/gutenberg/pu

[2022-08-03 04:36] ramonjd commented on #38167
# Update Wednesday, August 3, 2022

This update highlights important milestone PRs. A complete overview of completed and ongoing tasks is available on the [Gutenberg Style Engine project board](https://github.com/orgs/WordPress/projects/19/views/1).

For more information about planned phases, see the Make Core post [Block editor styles: initiatives and goals](https://make.wordpress.org/core/2022/0

[2022-08-03 04:47] ramonjd commented on #34345
### Update on fluid typography August 4, 2022

The theme.json fluid font size API and a couple of follow ups have been merged 🎉

- https://github.com/WordPress/gutenberg/pull/39529
- https://github.com/WordPress/gutenberg/pull/42688
- https://github.com/WordPress/gutenberg/pull/42757

A follow up PR to add extra configuration to the fluid settings is underway:

- https://github.com/WordPress/guten

[2022-08-03 04:54] talldan commented on #42904
Just noticed this issue. I couldn't get the feature introduced by #31716 working anyway. It only seems to partially work. It probably needs a bit of a revamp.

This is an interesting engineering problem though. The link blocks are independent of one another and each making requests, so it would be difficult to orchestrate the requests.

It seems like if your concurrent requests are limited to 20 t

[2022-08-03 05:03] #42902 closed, assigned to andrewserong

[2022-08-03 05:23] DavidC-Mega opened #42907 "Block components need to know when the component is focused / selected"
## The problem

There is no way to show controls when individual custom block components are selected.
I have created some custom block components that extend `wp.element.Component`.
I would like to show extra controls (e.g. via toolbar or inspector) when these custom components are selected. I see this is already occurring with the `RichText` component:

![richtext-instance-settings](https://user

[2022-08-03 05:49] Mamaduka commented on #42890
Oh hey, @oandregal 👋

I see that @scruffian has also created an issue for this bug - #42884. So let's close one of these.

[2022-08-03 05:53] talldan opened #42908 "Improve invalid navigation menu links"
## What problem does this address?
When testing, I couldn't get the feature introduced in #31716 to work correctly.

These tooltips never seems to display:
- https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/navigation-link/edit.js#L752
- https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/navigation-link/edit.js#L817

They're supposed to show th

[2022-08-03 06:36] talldan commented on #40316
@adamziel Something wasn't clear to me, so it'd be good to clarify. Is the idea to selectively ship Gutenberg features to core? Or are you proposing that every API is stabilised when a WordPress release approaches?

[2022-08-03 06:48] gziolo commented on #21899
@kathrynwp, it's something that we need to clarify as it might be a valid issue. I asked on WordPress Slack in the #core-restapi channel for confirmation (link requires registration at https://make.wordpress.org/chat):

https://wordpress.slack.com/archives/C02RQC26G/p1659509290644569

[2022-08-03 06:53] scruffian commented on #42884
Closing in favour of #42890

[2022-08-03 06:53] #42884 closed, assigned to scruffian

[2022-08-03 07:17] carolinan commented on #38277
Is there anything preventing adding button hover/focus/active to theme.json without the UI?

[2022-08-03 07:17] arl1nd commented on #42817
Thank you very much for your help @talldan and @gziolo

I'll keep watching the state of ```@wordpress/icons``` from time to time and learn more about this.

[2022-08-03 07:17] #42817 closed, assigned to nobody

[2022-08-03 07:36] jasmussen commented on #42767
Connecting some dots here, it would be good to think of enabled/disabled elements in the editor also in context of conversations around overlay mode. See also comments [here](https://github.com/WordPress/gutenberg/pull/40664#issuecomment-1112524333) and [here](https://github.com/WordPress/gutenberg/issues/32163#issuecomment-1110859404).

[2022-08-03 07:39] adamziel commented on #40316
@talldan The idea is to ensure no new `__experimental` API makes it to core. We'd stabilize those that matured and punt those that didn't. You could call it _selective shipping,_ but that phrase makes me think of messy, manual merges that I'd like to avoid. How about we follow the pattern established in block-library where all experimental blocks are hidden behind a feature flag and thus not inclu

[2022-08-03 07:41] #16938 closed

[2022-08-03 07:45] carolinan commented on #41219
I will close this as a duplicate of #40163.

[2022-08-03 07:45] #41219 closed, assigned to nobody

[2022-08-03 07:46] jasmussen commented on #42228
I'd be tempted to add the shortcut to the ^⌥H sheet at first, without adding it to the menu, just to unblock a cool feature. I also think we can make some exceptions in the rules of thumbs on icons vs. shortcuts, and maybe show the shortcut before the icon.

[2022-08-03 07:50] carolinan commented on #42275
I understand that this was problematic. In hindsight this could have been avoided if the theme had registered its own custom block style instead of adding CSS to an existing core block style.
_Also consider that both plugins and themes can unregister the core styles._

[2022-08-03 07:51] jasmussen commented on #41866
Could the minus appear on hover/focus?

[2022-08-03 08:00] mtias commented on #42228
I'm fine either way

[2022-08-03 08:01] Smit2808 commented on #40131
Hi @JustinyAhin and @theminaldiwan,  Actually this issue is of group block. And as @JustinyAhin mentioned the issue: https://github.com/WordPress/gutenberg/issues/39344 that the same thing is happening when we add other blocks like image block. So I created PR for the group block and it is solving both the issue with just 1 line of CSS.

Thank you.

[2022-08-03 08:07] Smit2808 commented on #39344
Hi, @ndiego I created the PR https://github.com/WordPress/gutenberg/pull/42910 and added the overflow auto CSS in the group block and now it is working in twenty twenty-two theme and other themes as well. As @JustinyAhin mentioned the issue https://github.com/WordPress/gutenberg/issues/40131. This issue #40131 is also happening due to the group block so by adding overflow auto it will be fixed.

[2022-08-03 08:18] talldan commented on #40316
I think something like that would be needed, but perhaps a bit more evolved. A proper configurable feature flagging system.

To be honest, I think it may be a good idea to consider feature flagging a lot of new work anyway. Whether we like it or not, the Gutenberg plugin has widespread usage in production, and the number of bugs and regressions that are shipped currently is very uncomfortable (at

[2022-08-03 08:19] tellthemachines opened #42911 "Wide/full alignment controls always show in post editor even if Post Content block has no content width"
### Description

If a Post Content block has no content width set, its direct children, the top-level blocks in the post editor, should not show the 'wide' and 'full' alignment controls. Currently, these are shown for all top-level blocks, regardless of whether Post Content has content width set or not.

If Post Content has no content width set, a top-level block set to wide width in the post edit

[2022-08-03 08:22] #42869 closed, assigned to geriux

[2022-08-03 08:25] jasmussen commented on #34345
For the segmented control of preset font sizes, we ended up going with numbers as a starting point:

<img width="271" alt="Screenshot 2022-08-03 at 10 22 13" src="https://user-images.githubusercontent.com/1204802/182560450-4bd3dc2e-9a41-4837-855b-2748f7f4934b.png">

However I'm finding myself missing the t-shirt sizes [as originally conceived](https://github.com/WordPress/gutenberg/issues/34345#is

[2022-08-03 08:36] mtias commented on #34345
Let's try it, should be just an appearance update with the system we have in place. (Note we should handle XXL as well, even if not included in the default set.)

[2022-08-03 08:46] adamziel commented on #41324
cc @ockham who'll lead the next Core Editor merge.

[2022-08-03 08:49] jameskoster commented on #42767
Good point. There's also lock status to consider. Another approach here could be to 'content lock' these blocks by default.

That way the initial experience would (hopefully) give a clearer definition between content and template, but more experienced users can still edit everything without having to switch context entirely.

[2022-08-03 08:55] jameskoster commented on #41866
Totally.

[2022-08-03 09:00] Gierand opened #42913 "Site Editor: Root padding support in theme.json and no colors"
### Description

Adding support for root padding in theme.json causes no color rendering in the Site Editor.

### Step-by-step reproduction instructions

Depending on the setting in `useRootPaddingAwareAlignments` in theme.json, follow the video demonstration below.

### Screenshots, screen recording, code snippet

**Before:**
[code]
![before](https://user-images.githubusercontent.com/1615208/1825

[2022-08-03 09:17] Thelmachido commented on #26321
I can reproduce this on Gutenberg 13.7.3 & WordPress 6.0.1

You can't select text from both paragraphs at the same time as shown below:

https://user-images.githubusercontent.com/41231764/182572142-07bc540b-e0f1-43db-8207-38ab561a8abf.mov

[2022-08-03 09:26] Thelmachido commented on #26395
I can reproduce this Gutenberg 13.7.3 on WordPress version 6.0.1.

https://user-images.githubusercontent.com/41231764/182574112-79e3f05e-93d7-4094-8a3e-58e076e138d9.mov

[2022-08-03 09:27] aristath commented on #42868
+1 for `Font`. It's simpler and makes sense

[2022-08-03 09:39] mtias opened #42919 "Global Styles: display inline preview on per-block settings"
When editing the global settings for a block in the "per block" section of styles, it'd be useful to render a preview at the top of the sidebar panel including the block example and how it's affected by the settings. This is relevant because global styles allows editing blocks that might not be present on the current page being previewed.

It currently looks like this:

<div align="center">
<img w

[2022-08-03 09:40] #42624 closed, assigned to derekblank, geriux

[2022-08-03 09:40] aristath commented on #42871
If a plugin enqueues that many webfonts, then it's an extremely bad plugin (or theme).
It would be the same if a plugin enqueued 100 JS or CSS files, and we don't limit those for good reason. A plugin is allowed to load 200 scripts and 500 stylesheets. It's not illegal to do so, but it's just a bad implementation and these slowly die out. Let nature take its course... 😅

I agree with @jonoalderson

[2022-08-03 09:46] aristath commented on #42873
I agree 100%
Even a 1-minute transient would be beneficial... and it wouldn't be the first time we do that either. Global-styles also get cached for a minute to avoid issues on high-traffic sites 👍
Ideally we'd cache for longer periods and reset the caches on specific events as described in the OP, but an addition could be to also disable these caches if `SCRIPT_DEBUG` is `true`, to allow theme-de

[2022-08-03 09:49] getdave commented on #38277
No. I believe @MaggieCabrera is working on that right now.

[2022-08-03 09:53] Humanify-nl opened #42920 "Selecting template-part and scrolling out of view reveals extra scrollbar."
### Description

When a template-part is selected in site-editor, and it is scrolled out of view, an extra scrollbar appears on the container `.interface-interface-skeleton__content`. It appears to overflow and setting `overflow: hidden` solves the problem, but this does not seem like not a good solution.

### Step-by-step reproduction instructions

1. Build a simple template with a template-part

[2022-08-03 10:13] jameskoster commented on #41947
This feels much more important now that https://github.com/WordPress/gutenberg/pull/42520 is close to being merged.

It's a bit strange to create a template for a specific post category (for example) but not see posts from that category on the canvas.

[2022-08-03 10:18] Humanify-nl commented on #42862
I'm not the technical expert here, but worked a lot with Gutenberg and I'm not sure if this is intended behavior and something Gutenberg can handle currently. Yet it is an interesting use-case.

This is a challenge from design & technical viewpoints:
- You're asking the editor to loop a `post-content` block, which could contain _any and all kinds of blocks_ inside, depending on what the user puts

[2022-08-03 10:24] Thelmachido commented on #26526
I can reproduce this on Chrome, Mac OS

Gutenberg version 13.7.3

WordPress version 6.0.1

https://user-images.githubusercontent.com/41231764/182585544-0c299732-6450-4d78-86c7-63cba50958a3.mov

[2022-08-03 10:29] t-hamano commented on #42125
I have created PR #42921 about core/viewport.

[2022-08-03 10:32] rmorse commented on #41438
@corentin-gautier I'm wondering if it's been released in the Gutenberg feature plugin yet, maybe its not in a release yet (assume that its merged means it will be soon).

[2022-08-03 10:35] jameskoster commented on #42320
I think we can use the designs from https://github.com/WordPress/gutenberg/issues/41904#issuecomment-1165341454 here.

And to answer my own questions in the OP:

I think so. Given the active indicator we use the tab UI looks a bit unfinished without it. We'll need to update current implementations where the border is added ad hoc (Inspector and Inserter).

It would be nice if there was a way to do

[2022-08-03 10:36] rmorse commented on #42692
I [left a comment](https://github.com/WordPress/gutenberg/pull/41091#issuecomment-1144725886) on that ticket too - shame such a nice (and the new standard) UI is now unavailable to us.

@jorgefilipecosta can you help? 🙏

[2022-08-03 10:39] Thelmachido commented on #26706
I cannot reproduce this issue as shown in the short video below since this was handled here: https://github.com/Automattic/jetpack/pull/18904

https://user-images.githubusercontent.com/41231764/182588599-528ee000-cc1c-470a-aafe-d79f6a80914a.mov

Gutenberg 13.7.3

WordPress 6.0.1

Closing this issue

[2022-08-03 10:40] #26706 closed

[2022-08-03 10:51] scruffian opened #42922 "Navigation block: Use a standard inserter"
### Description

The block inserter on the navigation block looks quite different to other blocks:
<img width="1099" alt="Screenshot 2022-08-03 at 11 47 01" src="https://user-images.githubusercontent.com/275961/182590587-e019a60b-0be7-4b52-8ece-b6b0c406b28b.png">

It should probably look consistent with other blocks, like this:
<img width="1097" alt="Screenshot 2022-08-03 at 11 50 54" src="https:/

[2022-08-03 11:09] javierarce commented on #42602
A bit of a tangential question related to #42563 and this issue: what would happen if a user with no pages and no other menus adds a navigation block? Should we render an empty navigation with an inserter or do we fall back to a placeholder state?

[2022-08-03 11:09] AndyTyZed opened #42923 "Block columns markup broken in Wordpress 6"
### Description

Hi. My website is made up of 2 and 3 columns. It's written in the code editor using valid markup taken directly from Guttenberg visual editor.

But ever since Wordpress 6, the styling for block columns no longer works. This is despite source code showing that the  `<link rel='stylesheet' id='wp-block-library-css'...`  is being fetched.

 This breaks my entire site of over 300 arti

[2022-08-03 11:13] scruffian opened #42924 "Navigation block: Move "Select Menu" to the sidebar"
Once https://github.com/WordPress/gutenberg/pull/42735 merges we should move the old placeholder functionality (Create new menu and select menu) to the sidebar.

<img width="876" alt="Screenshot 2022-08-03 at 12 15 20" src="https://user-images.githubusercontent.com/275961/182595137-ac26ef16-e4a0-42c1-859e-dcb85aa621c1.png">

The "Select menu" option should also move to the sidebar:

<img width="14

[2022-08-03 11:15] AndyTyZed commented on #42923
For some reason the markup I quoted isn't showing despite enclosing it into the code markup but it can of course be seen in the source code of the example page I linked to.

[2022-08-03 11:38] Thelmachido commented on #26713
I did a few checks, I can still reproduce part of the issue:

1. If I copy one of the nested lists To move it to the top it's displayed as expected if I first press enter.
2. Moving the nested list to a new paragraph removes the markup

https://user-images.githubusercontent.com/41231764/182598725-b557b07d-c416-4a37-aa4a-ec9eceb44c58.mov

A fix is currently being [worked on here](https://github.com

[2022-08-03 11:38] jameskoster commented on #37752
I think there's potentially another element to this that I overlooked – when the color is inherited from a stylesheet (not necessarily theme.json). The control should account for those scenarios as well.

[2022-08-03 11:46] chad1008 opened #42925 "Components: Autocomplete continues matching after selection when `triggerPrefix` is included in output"
### Description

The `Autocomplete` component utilizes an array of individual completers. Each of these completers defines its own data/options, and may also declare a `getOptionCompletion` callback to define how the completed text should be handled.

Some completers, like the default user mention completer, retain their `triggerPrefix`. In other words, when you initiate a user mention with `@`, t

[2022-08-03 11:50] scruffian opened #42927 "Navigation block: Page list fallback interactions"
One problem that https://github.com/WordPress/gutenberg/pull/42735 has surfaced is that when the block is in a fallback state and renders the Page List block, the Page List block isn't selectable in the main preview of the site. You can select it using the list view.

Probably connected to this, in this state the navigation block doesn't display a block inserter.

We need to:
- Ensure that Page Li

[2022-08-03 11:55] Thelmachido commented on #27164
I cannot reproduce this as shown below:

https://user-images.githubusercontent.com/41231764/182601519-af1e1014-2aec-4817-b07c-8b155a3c47b1.mov

Gutenberg 13.7.3

WordPress 6.0.1

Closing this one because the issue was handled in #2084

[2022-08-03 11:55] #27164 closed

[2022-08-03 11:55] scruffian opened #42928 "Navigation block: Handle invalid ref IDs"
## What problem does this address?
If a navigation block uses a ref ID, and the associated navigation CPT is deleted, the block won't be able to display the previously valid navigation CPT.

## What is your proposed solution?
In this case the block should behave in the way as an empty block would, falling back to another navigation CPT if one is available, or Page List if there are no navigation C

[2022-08-03 12:32] SiobhyB commented on #38407
Updated the parent post with:

### 🔎 Main focus
++ [Refocusing the WordPress App on core features](https://make.wordpress.org/mobile/2022/07/27/refocusing-the-wordpress-app-on-core-features/)

### 🚀 Recently wrapped items
++ [Support for List v2](https://github.com/WordPress/gutenberg/pull/42702)

### 🛠️ Recently fixed or improved
++ [Workaround for Image block bug found when changing orientation

[2022-08-03 12:50] carolinan commented on #40163
I tried different ways to remove the `is-style-large` class name from the block if default or plain style is selected, but I was not able to figure it out.

- I tried to get the _selected_ block style, for comparison, but was only able to get the list of the block's available block styles.
- I tried to use _TokenList_ and remove the class name, but it wouldn't save correctly.

[2022-08-03 12:56] minaldiwan opened #42931 "In Product categories alternate thumbnail image overlap with categories name"
### Description

 Product categories alternate thumbnail image overlap with categories name

### Step-by-step reproduction instructions

1)Install Woocommerce plugin
2)Product section go to categories tab
3)In Product categories alternate thumbnail image overlap with categories name

### Screenshots, screen recording, code snippet

![CleanShot 2022-08-03 at 18 25 07](https://user-images.githubuser

[2022-08-03 13:00] #42931 closed, assigned to nobody

[2022-08-03 13:16] getdave commented on #42924
Seems duplicate of https://github.com/WordPress/gutenberg/issues/42602 @scruffian

[2022-08-03 13:23] dretzlaff commented on #42904
I like the idea of a middleware that limits concurrent requests using a queue of promises. I've implemented that in backend systems to good effect. Learning the frontend/npm world would be an investment for me, but I might look at it in a month or two. My workaround for now is to use mod_rewrite on the server to identify these page requests and return a static JSON response. Thanks, talldan. (-sho

[2022-08-03 13:28] carolinan commented on #42923
Hi!
The markup you have copy pasted into the issue does not include the CSS classes that WordPress relies on for styling. Secondly the HTML tags are not nested correctly. _I don't think this example HTML matches what is on the example link._

The problem with copying the markup instead of using the block is that the markup is missing the unique CSS class that WordPress **generates for each block**

[2022-08-03 13:37] jasmussen commented on #42919
A couple of quick mockups to start off the conversation: Paragraph & Image:

<img width="1032" alt="GS _ Blocks" src="https://user-images.githubusercontent.com/1204802/182621405-12247c5d-1e7f-45cc-87a5-57578b9b82f3.png">

* Same 152px height for the top level preview as that of the GS style card
* Uses the example content added for each block, but in cropped or curated (rather than zoomed) ways to

[2022-08-03 13:41] carolinan commented on #37670
If am not sure what we can do except:

1. Removing the style (Which I do not recommend since there were issues after removing the large style)
2. Renaming the style to "No border" and enforce the style in the editor and front even if theme.json is used.
3. Deregister the style for any theme that styles the quote block
4. Encourage theme authors to deregister the style if they don't want it in thei

[2022-08-03 13:44] carolinan commented on #37670
There is a similar issue with the button block outline style option:
https://github.com/WordPress/gutenberg/issues/35438
https://github.com/WordPress/gutenberg/issues/42097

[2022-08-03 14:02] AndyTyZed commented on #42923
Many thanks for your prompt reply. Something went wrong with the example that I tried to paste in, it's not showing it all fully.  Please see instead attached screenshot -
![Block columns markup broken in Wordpress 6](https://user-images.githubusercontent.com/110168327/182622496-58ccc34f-4f59-45fe-969c-ab2b121331d8.png)

I have 300 articles on my main site (the one that I am unable to update to Wo

[2022-08-03 14:09] ryanwelcher commented on #15197
With https://github.com/WordPress/gutenberg/pull/42198, we can also use `@ignore`.

[2022-08-03 14:10] ryanwelcher commented on #15197
@gziolo is this issue still relevant?

[2022-08-03 14:26] kathrynwp opened #42935 "Group block: Add option for "stretch link" to make it whole group clickable"
## What problem does this address?

There's currently no easy way to apply a link to a group in order to make the whole group clickable.

## What is your proposed solution?

Adding a "Stretch link" option to the group would provide a simple way for the group to be made clickable.

![WordPress_Twenty_Twenty_Two_part_2_–_commadot_com](https://user-images.githubusercontent.com/7662449/182632960-40702

[2022-08-03 14:26] paaljoachim commented on #42100
Closing issue. As this issue is not valid any longer.
It can of course be reopened if need be.

[2022-08-03 14:26] #42100 closed, assigned to nobody

[2022-08-03 14:30] Humanify-nl commented on #41303
Another attempt at this, since wp6.0.1:

This is my new variation:
[code]

This overrides the default group, and updates the `isActive`:
[code]

I've tried a few ways to do this. Maybe my logic is wrong, but in the current state of variation switcher, it seems way too complicated to add a new variation. Is there a way to simplify this? Like, is there a way to register the button press without logi

[2022-08-03 14:40] adamziel opened #42937 "Support selection-by-typing in DropdownMenu (like in a <select>)"
## Expected result

The system `<select>` control allows me to select items using the keyboard. The `DropdownMenu` doesn't:

https://user-images.githubusercontent.com/205419/182636359-3eb5d5ed-d154-488e-bcff-21ce6ade2500.mp4

It's makes working with long lists inconvenient:

<img width="385" alt="CleanShot 2022-08-03 at 16 40 25@2x" src="https://user-images.githubusercontent.com/205419/182636599-7

[2022-08-03 14:42] carolinan commented on #42923
You can add custom CSS to the wp-block-columns and wp-block-column classes, and that might work, but I think you will keep running into this problem with each WordPress update.

[2022-08-03 14:46] Trekky12 commented on #42862
Hey @Humanify-nl,

thank you for your input. Actually I didn't think of the problem with recursive Query Loop blocks, but yes this could be a problem.

So do you think the use case to show full post contents in a Query Loop shouldn't be supported or do you think it is not easy to solve?

Despite these challenges there is still the problem that the content of another post is shown and the content d

[2022-08-03 14:48] matiasbenedetto opened #42938 "Row element with stack orientation doesn't work"
### Description

The row element with stack orientation doesn't work since https://github.com/WordPress/gutenberg/pull/42452 was merged.

### Step-by-step reproduction instructions

- Add a Row element
- Add two paragraphs inside the row element
- Select stack orientation in the row element
- Save the post and verify in the frontend that the elements are not vertically stacked.

### Screenshots, s

[2022-08-03 14:48] desrosj commented on #42868
Thanks for creating a new issue for this!

I disagree with these points above. While it is possible that a font may be installed on a user's machine, in most situations that's very unlikely to be the case, and not the true intention of this API. Even if the vision is to create a font library-esque feature, the heart of the API would still be based on web fonts and not local fonts.

The only way I

[2022-08-03 14:49] carolinan commented on #42923
What CSS to add depends on what settings you used when you created the block that you copied from.

[2022-08-03 14:54] Humanify-nl commented on #42862
I think it is not easy to solve, yet I don’t know how the core team is looking at this.

My opinion is that this remains an edge case, which for now needs to be solved with a custom solution. But who knows what the future brings.

[2022-08-03 15:04] Trekky12 commented on #42862
Thank you for your opinion. Do you have an idea how a custom solution can be done?

[2022-08-03 15:13] AndyTyZed commented on #42923
Many thanks. My intention is that once I have found a workaround, I can upgrade to WordPress 6, and then over a period of months slowly recreate every page using WordPress visual editor.

Do you have any idea why  wp-block-columns work perfectly okay in WordPress 5, but has no styling in WordPress 6 unless the markup is enclosed in <!...> remarks?
I'm convinced this is an unexpected consequence of

[2022-08-03 15:44] annezazu opened #42943 "Site Logo Block: when set as Site Icon, W menu doesn't update"
### Description

After updating to 13.8, when adding a site logo block, adding a logo, and setting it to "use as site icon" the W menu doesn't reflect the change. Instead, it continues to just show the WordPress logo. cc @priethor @Mamaduka

### Step-by-step reproduction instructions

1. Go to Appearance > Editor.
2. Add a Site Logo block.
3. Add a logo.
4. In the block settings for the Site Logo

[2022-08-03 16:03] gziolo commented on #15197
Yes, we should mark `unstable__bootstrapServerSideBlockDefinitions` with `@ignore` or something similar and consider this issue complete.

[2022-08-03 16:06] renata-franco opened #42945 "Full-width blocks alignment don't match in the editor"
### Description

When adding several blocks inside the editor and changing them to Full-Width, some of the blocks show padding on the sides.

### Step-by-step reproduction instructions

1. On a Jetpack-connected site install and activate the Twenty Twenty Two (or Blockbase, or Twenty Nineteen) theme.
2. Add a Cover block, Slideshow block and Gallery block to a new post (using the wp-admin post edi

[2022-08-03 16:56] colorful-tones commented on #42871
💯

A common misconception is that `@font-face` is what triggers a font to be downloaded. However, it is not until the font is used that it actually called, e.g. `h1, h2, h3, h4, h5, h6 { font-family: "Open Sans"; }`

💯

[2022-08-03 17:00] colorful-tones commented on #42873
This is a great suggestion. ❤️ 💯

[2022-08-03 17:07] colorful-tones commented on #42868
My vote is for `Font`.

[2022-08-03 17:18] Mamaduka commented on #42943
I can reproduce the same issue on 13.7, so probably not a new regression.

[2022-08-03 18:31] nikolowry commented on #42817
Is there any package offering just the raw SVG contents/source of the icons?  I only see JS files: https://github.com/WordPress/gutenberg/tree/38e559964e7b47366e2a7213827c9377783ba9d7/packages/icons/src/library

What's the process of submitting new icons? I don't see any style guide offering: icon-grid templates, stroke/fill guidelines, etc.

[2022-08-03 19:10] Thelmachido commented on #10312
I wasn't able to reproduce this, the embed is visible as shown below:

<img src="https://user-images.githubusercontent.com/41231764/182689137-6093d935-a1ba-4b18-9e40-7dfcf3d02f3b.png" width="200">

Gutenberg 13.8.0

WordPress 6.0.1

Closing this issue

[2022-08-03 19:14] #10312 closed

[2022-08-03 19:32] Thelmachido commented on #14036
I was able to reproduce this as shown below:

https://user-images.githubusercontent.com/41231764/182693552-f5b8a7b9-b004-484f-bd5a-656078e885a7.mov

Gutenberg 13.8.0

WordPress 6.0.1

[2022-08-03 20:01] kathrynwp commented on #15429
@iandunn Hey there. :) Is this still an issue in the current version of Gutenberg?

[2022-08-03 20:23] Thelmachido commented on #26324
I can reproduce this issue, I cannot multi-select when the block doesn't have any text. However, I am not sure in which instance this would be required.

https://user-images.githubusercontent.com/41231764/182703004-dd3a724d-4490-4c2a-8b15-061cf3f2c4f7.mov

Gutenberg 13.8.0

WordPress 6.0.1

[2022-08-03 20:26] grmrgecko commented on #41419
I just ended up going into wp_options and removing all widgets.

[2022-08-03 20:26] #41419 closed, assigned to nobody

[2022-08-03 20:27] kathrynwp commented on #16015
Hi @philipt18 is this still an issue in the current version of WordPress (6.0.1) , with or without the standalone Gutenberg plugin active (13.8.0)?

If it is, could you please clarify which block you're referring to? For example is it a Classic block in Code view, a Custom HTML block, or something else? Thanks!

[2022-08-03 20:36] kathrynwp commented on #17050
@gziolo Hi Greg, would you mind taking a peek on this and confirming whether it's still an issue and if so, whether it's on the radar to be looked at? I've marked it as stale in the meantime. Thanks!

[2022-08-03 20:44] pagelab opened #42948 "1.3.9: clamp() is no longer recognized in “contentSize” or “wideSize” in theme.json"
### Description

In v1.3.8 of the Gutenberg plugin, it is possible to add a `clamp()` function in the `contentSize` and/or `wideSize` options of theme.json for variable content width. In version 1.3.9 this is no longer possible as values are not recognized.

### Step-by-step reproduction instructions

- Using a block theme, edit a post and choose wide width for any block that offers this option.
-

[2022-08-03 20:55] kathrynwp commented on #18134
Hi @mikejolley @nerrad @talldan - I've been trying to determine whether if this is still an issue, but so far I haven't been able to replicate. These are the steps I used:

- Activate WooCommerce
- Import test product data (All Products > Import > Select sample-products.csv)
- Open a page
- Click the block inserter, then click "Browse all"
- Hover over "Newest products" block

This is what I see:

[2022-08-03 21:13] kathrynwp commented on #21517
Hi @mapk – I'm no longer seeing this behaviour.

With my WordPress install set to English, I pasted `אביב` (a word copied directly from [here](https://www.teachmehebrew.com/500-basic-hebrew-words.html)) into the editor.

The word remained like that, both in the editor and on the front end:

![Add_New_Page_‹_Self-hosted_Test_—_WordPress](https://user-images.githubusercontent.com/7662449/182712715-1

[2022-08-03 21:14] #21517 closed

[2022-08-03 21:17] skorasaurus commented on #42523
The column count used to be available but it was removed - https://github.com/WordPress/gutenberg/issues/17765 because columns can have custom widths applied to them

[2022-08-03 21:50] ramonjd commented on #34345
I should have time to take a stab at it next week. 👍

[2022-08-03 22:08] bozzmedia commented on #27720
I set

[code]

  in my child theme's style.css.   Same URL. I also experimented with height:auto; on the same tag, and removing the responsive option also helped. I resolved this by removing the max-height, so if there is a better way to control the width of iframes without messing up the responsive ratio option, I would be curious.

Otherwise it seems this is no longer a reproducible, thank you f

[2022-08-03 22:12] scruffian commented on #42924
Yes, sorry, closing.

[2022-08-03 22:12] #42924 closed, assigned to nobody

[2022-08-03 23:06] TimothyBJacobs commented on #21899
It isn't that a `200` generally can't send an empty body, but we do claim that the `Content-Type` is `application/json`, so to me it seems sensible that we'd expect the body to be parsable as `json` unless we specifically say there is no content with this response via a `204` status code.

That being said, the whole [be liberal in what you accept](https://en.wikipedia.org/wiki/Robustness_principle

[2022-08-03 23:23] glendaviesnz commented on #42948
@ramon, @aristath it looks like the issue might have been introduced by https://github.com/WordPress/gutenberg/pull/42452 - have verified that prior to this commit the clamp width values are output as expected.

[2022-08-03 23:44] susurruses commented on #42523
Since #17765 removed the class due to columns sometimes having custom widths, could this be solved by keeping the "has-_**x**_-columns" class but adding an additional "has-custom-width-columns" class? This way CSS could target columns by count but avoid changing column widths when a custom width is set.

[2022-08-03 23:48] peterwilsoncc commented on #40316
True the plugin is used in production. I think this is becoming less common as features get shipped in Core based on anecdotes I am hearing from agencies.

I agree with @adamziel's comment that Gutenberg is _a WordPress Early Access release channel_ and needs a more relaxed attitude to backward compatibility that WordPress Core. Possibly the Early Access section in the readme needs to be earlier a

[2022-08-03 23:59] andrewserong commented on #42948
Thanks for reporting this issue! I believe it's because as of #42452 the value is being run through `safecss_filter_attr` on this line: https://github.com/WordPress/gutenberg/blob/2f7e2cd93a95f0f5eac3f9c7fda9519de7494f62/packages/style-engine/class-wp-style-engine-css-declarations.php#L133

There's an open Trac ticket that's looking into adding support for `min`, `max`, `minmax`, and `clamp` which

[2022-08-04 01:08] tellthemachines commented on #42913
Thanks for reporting this @Gierand !

I can reproduce the issue on trunk with Empty Theme. Looks like it's caused by [the early return](https://github.com/WordPress/gutenberg/blob/trunk/packages/edit-site/src/components/global-styles/use-global-styles-output.js#L257) after root padding variables are set.

It only happens in the editor though, not on the front end. Looking into a fix now.

[2022-08-04 01:20] t-hamano commented on #27720
If you don't write any new CSS and only enable responsive mode, the ratio of the embedded video should be detected and maintained correctly.

Please check to see if the issue reproduces in a flat environment using a default theme or similar.

If you want to reduce the width of the video, setting `max-width` to `.wp-block-embed__wrapper` (not iframe) instead of height should work fine.

[2022-08-04 02:34] #39044 closed, assigned to talldan

[2022-08-04 02:34] #42938 closed, assigned to nobody

[2022-08-04 02:40] peterwilsoncc opened #42952 "WP-Scripts: Do not apply jest eslint rules if cypress is installed."
## What problem does this address?

Using WP-Scripts in combination with Cypress for E2E testing will result in false positives for Jest related rules as the Jest config is unable to pick up Cypress assertions.

## What is your proposed solution?

Test for Cypress and disable to Jest rules if the package is installed. This is a similar approach to that taken for Playwrite

https://github.com/WordP

[2022-08-04 02:51] carolinan opened #42953 "Allow styling outline with theme.json"
## What problem does this address?

It is now possible to style the link `:focus` state using theme.json elements.
This feature would be more useful if it was possible to style the outline.

## What is your proposed solution?

Add support for outline style, width, color as well as outline offset.
https://developer.mozilla.org/en-US/docs/Web/CSS/outline

[2022-08-04 04:38] carolinan opened #42955 "Default gap is missing for the navigation block on the front of the website"
### Description

With Gutenberg 13.8.0 or current trunk active, there is no horisontal spacing between the links in the navigation block on the front of the website, unless the theme has a theme.json file with appearanceTools or blockGap enabled: Basically any "classic" theme.

### Step-by-step reproduction instructions

1. Activate Twenty Seventeen or any other theme without a theme.json file. Al

[2022-08-04 05:13] gziolo commented on #17050
Yes, this is still a valid issue. It's a low priority and nice to have, though. The linter is used primarily to catch potential bugs and coding style violations, and automatic fixing is the cherry on the cake.

[2022-08-04 05:55] #36648 closed, assigned to ockham, kevin940726, ntsekouras

[2022-08-04 06:21] carolinan opened #42958 "Document how and when to create fixtures for deprecated versions"
## What problem does this address?

In the [block editor handbook](https://developer.wordpress.org/block-editor/reference-guides/block-api/block-deprecation/) it is mentioned that "It is also recommended to keep fixtures which contain the different versions of the block".
From recent discussions it seems unclear wether this is recommended or if it should always be required.

Neither the handbook p

[2022-08-04 06:23] aristath commented on #42948
I ran into some similar issues when trying to implement the style-engine for global-styles, so in https://github.com/WordPress/gutenberg/pull/42893 I have included some fixes for this to account for CSS vars, display:flex, min(), max(), clamp() in values.

[2022-08-04 06:34] Mamaduka commented on #42958
I agree. Including documentation about deprecation fixtures and mentioning [this readme](https://github.com/WordPress/gutenberg/blob/HEAD/test/integration/fixtures/blocks/README.md) better in docs would be great.

[2022-08-04 06:40] elbsegler63 commented on #42190
See also in the tt2 forum:
https://wordpress.org/support/topic/font-weight-300-is-not-displayed/

A workaround in the child themes theme.json or in the additional CSS cannot be a permanent solution.

[2022-08-04 06:42] carolinan commented on #42958
I'm finding it difficult to separate documentation for block development for Gutenberg, and for third party blocks.
In other words, I mean that how we are creating and naming fixtures for Gutenberg, may not be relevant for third party block development.

[2022-08-04 06:45] Mamaduka commented on #42958
You're right. The handbook deprecation page is general for block development. The fixtures readme is mainly for the Gutenberg plugin, but plugin authors are free to adapt our techniques.

[2022-08-04 06:47] carolinan commented on #42958
We have this page in the contributor guide, which is completely separate:
https://developer.wordpress.org/block-editor/contributors/code/deprecations/

[2022-08-04 07:17] jasmussen commented on #42481
Good ticket, yes this is confusing.

It also seems like a bug: the way things are set up now, you can only ever make a single linebreak (`<br>`) when hitting Shift + Enter. Enter should always take you to a new line, including in this case.

[2022-08-04 07:24] #42913 closed, assigned to tellthemachines

[2022-08-04 07:26] elosha commented on #42523
Oh, but then apparently users ask for the return of this class.

Yes, column widths may be variable, but there are more situations where multiple column counts _need_ to be handled specifically … than where column width ratio _could_ introduce difficulties. And even if so, the user still can choose to handle these block instances specifically. Without column count however, possibilities are just t

[2022-08-04 07:26] carolinan commented on #42923
I don't understand. I don't think it will be possible for me to help you any further without seeing the actual code and the site.
You may need to contact Astra support again because it is difficult to know what code you are actually using.

Are you saying that adding the comment `<!...>` to the HTML in your PHP template file solves the issue on the front?

[2022-08-04 07:29] carolinan commented on #42923
The block editor uses the comment to store block data, block settings, in JSON format. That format is then parsed and not printed on the front.
But I am not aware of markup being parsed **as a block** for the front unless you are actually using the do_blocks() function for your HTML in your PHP template.
https://developer.wordpress.org/reference/functions/do_blocks/

[2022-08-04 08:08] bph opened #42961 "6.1 Dev Notes Tracking"
## Tracking all Dev Notes from Gutenberg plugin releases 13.1 - 14.1
After a review of the processes establish during 6.0 release cycle, the release leads for documentation agreed on some modifications. Please read the information below carefully. If you have questions, connect with @bph or @zzap via Slack or comment here.

Not all developer related information needs to be in a separate DevNote on

[2022-08-04 08:17] madhusudhand opened #42963 "Navigation Block: user set styles doesn't work consistently in editor and live site"
### Description

User changes to Navigation menu are not properly applied in editor and live site.
It happens for the properties that are defined in `theme.json` for `core/navigation-link` because they gain higher specificity in some cases.

## Initial observations

| Category | Property |  Editor | Frontend |
| --- | --- | --- | --- |
| Colors | background | styles applied because the variables a

[2022-08-04 08:50] Humanify-nl commented on #42923
@AndyTyZed I've been reading through this and I have a few thoughts:

**Copy-pasting editor code**
You state here that you copied the block code from the editor and pasted it just 'as is'.

This is a little hard to believe because it should have included the WP markup, which I don't see in your example. This markup has been there earlier, before 6.0. So unless you did this way before 5.8, somethin

[2022-08-04 09:03] jasmussen commented on #39230
#42964 aims to fix this issue, and links out to 2 potential addons.

[2022-08-04 09:05] Sandra-headscape commented on #3806
from my experience, as long as your block is surrounded by `` tags, it won't make the shortcode a separate block. when pasting in content without paragraph blocks, it converts a shortcode section into a _shortcode block_ when there's a word boundary (space, period etc) before the starting `[`

see also the comprehensive comment https://github.com/WordPress/gutenberg/issues/3806#issuecomment-381950

[2022-08-04 09:13] carolinan commented on #42923
OK, I am definitely confused what you copied the code *into*.

If you copied it from the code editor to the code editor without including the comment, it will be interpreted as a custom HTML block and it will not work as a column, just a div.

[2022-08-04 09:15] carolinan commented on #42923
There are two code editors.
One in the block editor, for the individual post or page that you have open. Here you need to include the code comment, and everything is a block.

And the "theme file editor" under the tools menu. Formerly this editor was under the appearance menu. Here you change the themes css files, JS files, and templates like index.php.

[2022-08-04 09:25] #42943 closed, assigned to Mamaduka

[2022-08-04 09:28] aristath commented on #42948
I submitted a separate PR in #42968 to fix this 👍

[2022-08-04 09:41] mirka commented on #16026
Noting that the Parent Page control is now a combobox, not a TreeSelect as in the previous implementation (#25267). So the loading state will need to be implemented on ComboboxControl component, not SelectControl as in the linked PR.

[2022-08-04 09:43] #38545 closed, assigned to nobody

[2022-08-04 09:49] AndyTyZed commented on #42923
Many thanks for all your replies. It's very much appreciated..

I can confirm that yes, I definitely created the 2 and 3 columns in the WordPress block editor about 9 months ago. I then switched to code editor (in the block editor) and copied the markup, which definitely did not contain _any_ remarks at all. I used this markup successfully until Wordpress 6 and it is still working in Wordpress 5.9

[2022-08-04 09:52] carolinan commented on #42247
I am not able to reproduce this using the text alignment. If I use the block alignment, yes. But I believe that is expected, so that items can align next to each other.

[2022-08-04 09:56] Humanify-nl commented on #42923
The CSS supplied by your theme works. All that is not working is the gaps. Right?

Using gap in custom CSS should work (as I supplied it above).

![column-gap](https://user-images.githubusercontent.com/82579622/182819056-e9e1153b-8ded-4b97-903d-abdc4046213d.gif)

I would not change it to `my-block-columns` because then everything breaks (max-width, margins etc), that is supplied by your theme css.

[2022-08-04 10:05] AndyTyZed commented on #42923
Yes, thank you, it's only the gap between columns that is lost. So if I do a search and replace for all references of `<div class="wp-block-columns"` and change it to  `<div class="wp-block-columns" style="gap: 2rem;">` that should do it?

[2022-08-04 10:11] Humanify-nl commented on #42923
That could work.

Although it's recommended to use the 'regular' CSS way by adding it to the bottom of your style.css stylesheet. So you have an easy way to change this if needed without touching the actual html, and without the need to search/replace.

[code]

[2022-08-04 10:11] carlomanf commented on #42943
We discussed this in #38555 and #38575 and discovered that this same issue occurred when the Gutenberg plugin was inactive. Can someone confirm whether the work here has any impact on that?

[2022-08-04 10:19] AndyTyZed commented on #42923
It works! Many thanks. I tried both methods and both work, but your CSS one is much better. I can also see why adding the previous css to custom CSS didn't work, because it didn't have the "gap" element.

This is still surely an oversight in Wordpress 6 though? It's not retro supporting its own previously valid markup before they changed to relying on the remarks?

[2022-08-04 10:38] AndyTyZed commented on #42923
I just added the CSS, and then upgraded to Wordpress 6. Everything seems OK :) Many, many thanks.

I'm just wondering how long has Wordpress been relying on all of the remarks to process markup properly? I'm wondering if by any chance I did remove the remarks and just forgot that I did? In writing HTM and XHTML for over 20 years, I'd never heard of remarks being anything other than "remarks" to cl

[2022-08-04 10:39] codebymikey commented on #30876
This issue also affects normal `caption` elements too. e.g.

[code]

We need a way to transform table `caption`s into equivalent `figcaption`s.

[2022-08-04 10:44] Humanify-nl commented on #42923
You're welcome!

The block editor is currently very in development and breaking changes are expected, especially if you make a big jump from before 5.8 to 6.

Here is the explanation of parsing by html comments. It is actually very smart and allows a lot of cool stuff.
https://developer.wordpress.org/block-editor/explanations/architecture/data-flow/#serialization-and-parsing

[2022-08-04 10:47] #42923 closed, assigned to nobody

[2022-08-04 11:16] github-actions[bot] opened #42972 "[Flaky Test] correctly decodes special characters in the created Page title for display"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
correctly decodes special characters in the created Page title for display

## Test path
`specs/editor/blocks/navigation.test.js`

## Errors

<time datetime="2022-08-04T11:16:51.768Z"><code>[2022-08-04T11:16:51.768Z]</code></time> Test passed after 1 failed attempt on <a hre

[2022-08-04 11:16] github-actions[bot] opened #42973 "[Flaky Test] shows button to convert submenu to link in disabled state when submenu is populated"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
shows button to convert submenu to link in disabled state when submenu is populated

## Test path
`specs/editor/blocks/navigation.test.js`

## Errors

<time datetime="2022-08-04T11:16:53.027Z"><code>[2022-08-04T11:16:53.027Z]</code></time> Test passed after 1 failed attempt

[2022-08-04 11:16] github-actions[bot] opened #42974 "[Flaky Test] shows placeholder preview when unconfigured block is not selected"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
shows placeholder preview when unconfigured block is not selected

## Test path
`specs/editor/blocks/navigation.test.js`

## Errors

<details>
<summary>
	<time datetime="2022-08-04T11:16:53.826Z"><code>[2022-08-04T11:16:53.826Z]</code></time> Test passed after 1 failed attem

[2022-08-04 11:18] luisherranz commented on #41707
It's not that a plugin's `theme.json` like the one described here would only serve to configure the default styles of its blocks, but as that was the use case Albert was referring to when he opened this issue, I think it'd be interesting if you could take a look at https://github.com/WordPress/gutenberg/pull/41873. It's also trying to solve that problem, but by letting plugins define those default

[2022-08-04 11:37] nerrad commented on #41707
Thanks for sharing the link @luisherranz! I think the approach in #41873 is definitely interesting and especially that it keeps the default styles at the block level for blocks. If I'm understanding things correctly, that means if themes don't define any styles for specific blocks, then the registered default styles from the blocks are used. It also seems like this could potentially be useful for

[2022-08-04 11:42] Ainali opened #42977 "Social icons block: add rel=me option"
## What problem does this address?
A common way to self verify that you are the owner of a linked website on some social media (for example on Mastodon) is to add the attribute rel=me on the links to that platform from the website. It would be very nice to have that as an option in the social icons block.

## What is your proposed solution?
In the **Link settings** on the Social icons block, add a

[2022-08-04 11:44] carolinan opened #42978 "useRootPaddingAwareAlignments does not work with padding that uses a single value"
### Description

If I enable `appearanceTools` and `useRootPaddingAwareAlignments` and a root padding using a single value,
then the CSS for the global padding does not work because `--wp--style--root--padding-*` is empty.

### Step-by-step reproduction instructions

Add the following to theme.json:

[code]

Add a group block with layout enabled and with a full width image in either editor.
Save a

[2022-08-04 12:07] mediaformat commented on #27166
I was actually trying to find this issue again, so thanks @leadclown for your "contribution" 😜.

Some of my original comments did not consider the [Design Guidelines](https://github.com/WordPress/gutenberg/tree/trunk/packages/components/src/select-control#design-guidelines) for this component

Otherwise, I'm curious what Design folks think about the default height of the component with `multiple`

[2022-08-04 12:11] Mamaduka commented on #42943
@carlomanf, the issue exists in WP 6.0 as well. This change needs to be backported into the core for a fix.

[2022-08-04 12:25] t-hamano opened #42979 "Site Editor: focus outline is cutted off in code editor mode"
### Description

In the site editor, the top of the focus outline is cut off when switching to the code editor.

### Step-by-step reproduction instructions

- Open the site editor.
- Open options menu.
- Select "Code Editor".
- Focus on the code editor.
- confirm that the focus color shown in the outline of the code editor is cut off only at the top.

### Screenshots, screen recording, code snippe

[2022-08-04 12:27] mayan62 commented on #40430
I still have this bug !! And i have no idea why i have the newest wordpress and Gutenberg installed.

[2022-08-04 12:47] oandregal commented on #42526
The `--global--spacing-vertical` is something TwentyTwentyOne specific and it only affects the editor, not the front (because the theme checks for the existence of the `[data-block]` attribute, which is not present in the front).

Though Matías brough up a related question we need to look at: what happens to the new list block on a theme with a vanilla `theme.json` if you modify block gap at the g

[2022-08-04 13:10] KennBenin commented on #30276
How's this issue? Is there any fix? Cause I'm encountering this bug right now.

[2022-08-04 13:37] t-hamano commented on #39619
I agree that v2 should be stabilized and v1 deprecated.
I came across this issue while researching #41961.

In the core block, there are two blocks where `PlainText` v1 is used and the tag name is not specified:

- `core/html`
- `core/shortcode`

In this case, `react-autosize-textarea` generates a textarea element, but In the site editor, the element overflows and a resize handle is displayed:

![

[2022-08-04 14:03] ellatrix commented on #39619
Sure, we could add a variant prop to indicate that you want the borders styled like a regular input field. But underneath it should remain an editable div where the borders are just added with CSS. We should deprecate v1 and remove the text area autoresizing. v2 with the editable div is much easier to handle.

Happy to review a PR!

[2022-08-04 14:14] Resolution-Sam commented on #27614
Has there been any further updates to support the removal of custom sizing for the spacer block using the theme.json file?

[2022-08-04 14:17] kathrynwp commented on #17050
@gziolo Great, thanks for chiming in. I've adjusted the labels accordingly.

[2022-08-04 14:34] alkah3st commented on #3806
To reply to the two above comments: it doesn’t do what you both describe, unless I’m missing something.

I have a regular paragraph block in the Gutenberg editor. I want to paste in a custom shortcode I wrote into that block (or I can just type it in there). I use a shortcode action to render the shortcode as an icon in the backend. The shortcode is [icon glyph=“nameoficon”]. Say I have a sentence

[2022-08-04 15:19] dashkevych opened #42984 "Categories List block: CSS classes inconsistency in the list"
### Description

The editor displays the following CSS classes in the list of the block:

`wp-block-categories__list wp-block-categories__list-level-0`

The website displays the following CSS classes in the list of the block:

`wp-block-categories-list wp-block-categories`

### Step-by-step reproduction instructions

1. Go to the Widgets screen
2. Add Categories block
3. Publish changes

I used de

[2022-08-04 15:22] luisherranz commented on #41547
I'm sorry, but I'm not familiar with that part of the codebase. From what I've seen so far, the best way to bring attention to a topic is to open a PR and ask people to review it. It doesn't have to be the full feature, just a meaningful part or first step. If someone has concerns with that approach, they should say so before merging it, ping more people for opinions, and so on.

I can only say th

[2022-08-04 15:34] github-actions[bot] opened #42985 "[Flaky Test] applies accessible label to block element"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
applies accessible label to block element

## Test path
`specs/editor/blocks/navigation.test.js`

## Errors

<details>
<summary>
	<time datetime="2022-08-04T15:34:20.265Z"><code>[2022-08-04T15:34:20.265Z]</code></time> Test passed after 1 failed attempt on <a href="https://g

[2022-08-04 16:21] spencerfinnell commented on #42913
Thanks for the quick fix. In case anyone else is searching as a result of a similar consequence, it was also affecting typography options like `fontWeight` and `lineHeight`. Confirmed fix on `trunk`.

[2022-08-04 16:57] skorasaurus commented on #42935
I thought there was an exact issue already for this but I can't find it at the moment, closest that I found was https://github.com/WordPress/gutenberg/issues/38014

[2022-08-04 17:08] t-hamano commented on #35744
I have marked `Tooltip` component as a blocker because refactoring is being considered in #42753.

[2022-08-04 18:09] kathrynwp commented on #21558
I'm still able to replicate this with:

WordPress 6.0.1
Gutenberg 13.8.0 active or inactive
No other plugins active

I'm a longtime Mac user but also never knew about fn + backspace before!

@mtias would you like to keep this issue open or close it, since there's been no movement on it in quite a long time?

[2022-08-04 18:21] bradhogan commented on #42097
Not sure if this is related or not but the latest version of WP and/or Gutenberg prevents the outline button from displaying the border only in Gutenberg.  The front-end works ok.  Here's a quick video demoing the issue. Notice there is no border when viewing the button in Gutenberg.  This demo uses only default Twenty Twenty Two and Gutenberg.

https://soapbox.wistia.com/videos/058cz5NVAZ

[2022-08-04 18:21] kathrynwp commented on #22880
Can confirm that this is still an issue with:

Firefox 103.0.1
macOS 12.2.1

WordPress 6.0.1
Gutenberg 13.8.0 active or inactive
No other plugins active

[2022-08-04 18:57] kathrynwp commented on #19313
@talldan would you be able to confirm whether this is still an issue? Thanks!

[2022-08-04 19:04] kathrynwp commented on #20710
As there's been no movement on this in several years, I'm going ahead and closing this out, but if you are still experiencing the original issue, feel free to reopen with any additional details.

[2022-08-04 19:04] #20710 closed

[2022-08-04 19:06] coreyworrell commented on #37712
@base-creme That only works once. As soon as you select the already created menu in the navigation block, it duplicates it as a new menu in the database and does not sync with the original classic navigation menu.

[2022-08-04 19:10] iandunn commented on #15429
It seems to be fixed now :)

[2022-08-04 19:10] #15429 closed

[2022-08-04 19:16] kathrynwp commented on #21145
As there's been no movement on this in several years, I'm going ahead and closing this out. If you are still experiencing the original issue, feel free to add a comment with additional details and I’ll be glad to reopen it.

[2022-08-04 19:16] #21145 closed

[2022-08-04 19:25] kathrynwp commented on #21692
@shaunandrews @karmatosed Hey there! I was about to see if I can still replicate this, but I haven't been able to find a Breadcrumbs Block. Is this something that got removed from the editor or is it called something else now? Let me know, and I'll be glad to have another look. Thanks!

Tested with:

WordPress 6.0.1
Gutenberg 13.8.0 active or inactive
No other plugins active

[2022-08-04 19:46] ghost opened #42988 "Feature request: two values in border-radius property"
Reference: https://developer.mozilla.org/en-US/docs/Web/CSS/border-radius

## What problem does this address?
Currently it is possible to set a _single value_ in border-radius property.
Examples:
[code]
![image](https://user-images.githubusercontent.com/90872910/182983937-af0e6078-4d4c-44d4-8534-0573875fe0aa.png)

## What is your proposed solution?
Possibility to set _two values_ in border-radius

[2022-08-04 20:09] kathrynwp commented on #22588
While this is a fairly old issue, looks like there's still a PR that someone might return to, so leaving open for now.

[2022-08-04 20:17] kathrynwp commented on #22795
I'm going to go ahead and close this out, but if you are still experiencing the original issue, feel free to add a comment with additional details and I’ll be glad to reopen it.

[2022-08-04 20:17] #22795 closed

[2022-08-04 20:18] kathrynwp commented on #23415
@talldan or @emilio-martinez Would either of you be able to check whether this is still an issue in the latest version of WordPress?

[2022-08-04 20:26] pattyok commented on #37712
Wondering if there are plans to fix this? This issue prevents me from even considering Full Site Editing.

[2022-08-04 20:27] kathrynwp commented on #23491
@ellatrix I'm no longer able to replicate this; scrolling while dragging a block is working fine for me in:

WordPress 6.0.1
Gutenberg 13.8.0 active or inactive
No other plugins active

I'm going to go ahead and close this out, but if you are still experiencing the original issue, feel free to add a comment with additional details and I’ll be glad to reopen it. Thanks!

[2022-08-04 20:30] ghost opened #42993 "Feature request: more border-styles"
Reference: https://developer.mozilla.org/en-US/docs/Web/CSS/border-style
Related to: https://github.com/WordPress/gutenberg/issues/37339

## What problem does this address?
Currently it is possible to set _solid, dashed, or dotted_ in border-style property.
![image](https://user-images.githubusercontent.com/90872910/182945438-07e6a5a2-aba2-43b6-9f5c-2daa83653872.png)

## What is your proposed solu

[2022-08-04 20:35] kathrynwp commented on #23503
Looks like this issue was fixed in 2021 but the never closed, so am closing it now.

[2022-08-04 20:35] #23503 closed

[2022-08-04 20:48] kathrynwp commented on #23756
@johnbillion I tried many configurations, but am no longer able to replicate this issue. At all screen sizes I tested, the block inserter is never hiding under the admin bar:

![Edit_Page_‹_Self-hosted_Test_—_WordPress](https://user-images.githubusercontent.com/7662449/182949127-6f751c5e-bb1d-44a4-9860-9b00fecc74b8.jpg)

Tested with:

WordPress 6.0.1
Gutenberg 13.8.0 active or inactive
No other pl

[2022-08-04 20:48] #23756 closed

[2022-08-04 21:00] ciampo opened #42994 "GradientPicker: improvements wishlist"
This is a wish list of improvements for the `GradientPicker` component (& related components) that I came up with while fixing popover regressions:

### Slow rendering performance

This can be observed especially when dragging a control point in the editor:

https://user-images.githubusercontent.com/1083581/182951729-34eba57c-0c46-4a11-bffd-5354fb4bb718.mp4

### ~Improve the initial state when the

[2022-08-04 21:01] ciampo commented on #42994
cc @jorgefilipecosta who mostly worked on these components — would you have any capacity to take a look at some of these issues?

[2022-08-04 21:05] kathrynwp commented on #23799
Hi @ObliviousHarmony @ntsekouras I haven't been able to replicate this anymore, either with command-b or command-i.

When using those hotkeys with the link popover active in Chrome, nothing happens, as expected. (That said, the Droplr screenshot links no longer work so I can't confirm 100% what I should be looking for!)

Tested with:

WordPress 6.0.1
Gutenberg 13.8.0 active or inactive
No other pl

[2022-08-04 21:05] #23799 closed

[2022-08-04 21:19] carlomanf commented on #42943
We were finding the issue in version 5.9 actually. Just want to verify if that is also your understanding?

[2022-08-04 21:21] ellatrix commented on #23491
This is still in issue. When you start dragging, you can't scroll with the trackpad.

[2022-08-04 21:23] kathrynwp commented on #24002
@carolinan I took another look at this and I think I'm able still to replicate on heading tags within the body of the page/post content:

For example, here's what the page title, h2 and h3 look like in tablet preview in the editor:

![Cursor_and_Add_New_Page_‹_Self-hosted_Test_—_WordPress](https://user-images.githubusercontent.com/7662449/182954023-bd297468-eede-47c3-b4ba-3293f7466368.jpg)

While

[2022-08-04 21:37] ghost opened #42995 "Enhancement: set border-color as a variable instead of hex code in Code Block"
## What problem does this address?
Similar to: https://github.com/WordPress/gutenberg/issues/36462

In WordPress 6.0.1, when you choose one of the colors from the color palette to set it as the `border-color` of the Code Block,

1. in the Editor, the `border-color` is set as a **variable** in the Code Block. ✔️

![image](https://user-images.githubusercontent.com/90872910/182956241-ba0415f7-f8ff-47

[2022-08-04 21:48] kathrynwp commented on #42945
Thanks for the report, @renata-franco! Could you please confirm that Jetpack is only needed to repro the issue with the Slideshow block, otherwise Jetpack is not needed to repro the issue with the Cover & Gallery blocks? Thanks!

[2022-08-04 21:54] ramonjd commented on #42961
Thanks @bph! I have a dev note ready to roll, but have shelved it until we're closer to RC1. I am told this is the usual protocol.

[2022-08-04 22:24] ghost opened #42998 "Bug report: Line-height used to set more than 1 decimal"
### Description

In previous editions of WordPress, I set line-heights with more than 1 decimal in blocks using the Gutenberg Editor.

Currently, the Editor rounds more than 1 decimal in line-heights.

Example:
`line-height: 1.63;` is converted to `line-height: 1.6;`

**Proposed course of action**
Allow more than one decimal back to line-heights, as it increases precision in design.

### Step-by-s

[2022-08-04 22:27] ramonjd commented on #42526
I can only see this at work in [TwentyTwentyOne's editor CSS](https://github.com/WordPress/twentytwentyone/blob/trunk/assets/css/style-editor.css#L2235).

So isn't this a case of the theme defining margins?

@oandregal I tested adding the following to TwentyTwentyOne's's theme.json

[code]

This will add CSS to reset margins for `ul` elements, but it's not specific enough to override TwentyTwentyO

[2022-08-04 23:02] ghost opened #42999 "Enhancement: solid colors with alpha channel in global styles palette"

[2022-08-04 23:08] Clorith commented on #40316
I'd like to echo the sentiment from @peterwilsoncc (and also, huge thanks to @adamziel for summarizing this discussion really well, to what I believe is the right path forward); Let's make it more obvious that the Gutenberg plugin is a alpha/beta-channel for upcoming changes to certain areas of core, instead of hiding things behind feature flags, which some may not even know are there. I use the p

[2022-08-04 23:15] ghost opened #43000 "Enhancement: possibility to set a text-decoration-color in blocks"
Reference: https://developer.mozilla.org/en-US/docs/Web/CSS/text-decoration-color

## What problem does this address?
Currently it is possible to set a **text color**, **background color** and **link color** in blocks.
It is impossible to set a `text-decoration-color`.

The scenario where the `text-decoration-color` should be different from the **link color** is not met.
Example: the `text-decorat

[2022-08-04 23:46] andrewserong commented on #42526
That's correct — to enable spacing between `li` elements, you'd probably need to opt-in to the Layout support, and then the `blockGap` value could be set either at the individual level in the editor, or at the block level in global styles, with a fallback to the root `blockGap` in `styles.spacing.blockGap` in `theme.json`. With the list block, that default is probably too much spacing, so perhaps

[2022-08-04 23:47] andrewserong commented on #42526
Another thing to keep in mind, is that flow-based (default) Layout gap styles are not output in Classic themes, or blocks-based themes that have not opted-in to blockGap. So depending on how the block is being built, the simplest approach might be for the block to ship with some opinionated CSS?

[2022-08-05 00:25] nednoodlehead opened #43001 "Support for RustLang on Codeblocks"
There is a large amount of languages supported, some even obscure, I find it mildly disappointing that there is no support for one of the most important languages in the next few years: Rust.

[2022-08-05 00:47] ghost opened #43002 "Enhancement: consider enabling vh units in dimension controls by default"

[2022-08-05 03:42] ghost opened #43006 "Enhancement: solid colors from the palette in gradient control points"
## What problem does this address?
Currently, it is not possible to choose solid colors from the palette when editing a gradient control point.

The benefit of doing this would be to inherit the solid colors CSS variables inside the gradient value:
`background: linear-gradient(135deg, var(--wp--preset--color--black) 0%, var(--wp--preset--color--white) 100%)`

Themes achieve this scenario via theme

[2022-08-05 03:44] github-actions[bot] opened #43007 "[Flaky Test] should not show test "pattern Test: Paragraph inside group""
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should not show test "pattern Test: Paragraph inside group"

## Test path
`specs/editor/various/allowed-patterns.test.js`

## Errors

<time datetime="2022-08-05T03:44:55.778Z"><code>[2022-08-05T03:44:55.778Z]</code></time> Test passed after 2 failed attempts on <a href="http

[2022-08-05 03:44] github-actions[bot] opened #43008 "[Flaky Test] should not show test "pattern Test: Single paragraph""
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should not show test "pattern Test: Single paragraph"

## Test path
`specs/editor/various/allowed-patterns.test.js`

## Errors

<time datetime="2022-08-05T03:44:56.537Z"><code>[2022-08-05T03:44:56.537Z]</code></time> Test passed after 2 failed attempts on <a href="https://gi

[2022-08-05 03:44] github-actions[bot] opened #43009 "[Flaky Test] should show test pattern "Test: Paragraph inside group""
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should show test pattern "Test: Paragraph inside group"

## Test path
`specs/editor/various/allowed-patterns.test.js`

## Errors

<time datetime="2022-08-05T03:44:57.253Z"><code>[2022-08-05T03:44:57.253Z]</code></time> Test passed after 2 failed attempts on <a href="https://

[2022-08-05 03:44] github-actions[bot] opened #43010 "[Flaky Test] should show test pattern "Test: Single paragraph""
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should show test pattern "Test: Single paragraph"

## Test path
`specs/editor/various/allowed-patterns.test.js`

## Errors

<time datetime="2022-08-05T03:44:57.956Z"><code>[2022-08-05T03:44:57.956Z]</code></time> Test passed after 2 failed attempts on <a href="https://github

[2022-08-05 04:12] talldan commented on #19313
It seems fine now. If there's enough space underneath, the popover will position there, otherwise it flips above the '+' button.

If there isn't enough space either above or below, the popover will have a reduced height with a scrollbar:
![Screen Shot 2022-08-05 at 12 09 26 pm](https://user-images.githubusercontent.com/677833/182999878-349c48cf-e459-4926-bb4c-956f48972476.png)

[2022-08-05 04:12] #19313 closed

[2022-08-05 04:19] github-actions[bot] opened #43011 "[Flaky Test] should not create extra line breaks in multiline value"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should not create extra line breaks in multiline value

## Test path
`/test/e2e/specs/editor/various/writing-flow.spec.js`

## Errors

<time datetime="2022-08-05T04:19:05.040Z"><code>[2022-08-05T04:19:05.040Z]</code></time> Test passed after 1 failed attempt on <a href="http

[2022-08-05 04:19] tnchuntic opened #43012 "Allow button to have post link instead of using read more block."
## What problem does this address?
Allow buttons block to have post link instead of using read more block.

## What is your proposed solution?
Allow button to have post link instead of using read more block. Similar to the cover background image it can be set as a feature image of the current post.

Optional request if it's possible to get the permalink of the post using a [post_link] or {post_lin

[2022-08-05 04:22] juhi123 commented on #38851
Hi @JustinyAhin 👋
I was wondering if we are still maintaining this list as it seems `editor/blocks/quote.test.js` this [test](https://github.com/WordPress/gutenberg/blob/trunk/test/e2e/specs/editor/blocks/quote.spec.js) is already migrated but not checked in the list.

[2022-08-05 04:26] carolinan commented on #43001
Hi!
Did you mean a third party block?
The WordPress code block does not support or validate any language, it only "Display code snippets that respect your spacing and tabs."

[2022-08-05 04:31] carolinan commented on #43000
There is no block support or control for a text decoration color (nor theme.json support).
_Personally I am not sure that this something that is common enough to be a visible option in the editors,_
-But my main question is if support is added, should it really be limited to one single block?

[2022-08-05 04:34] talldan opened #43013 "File block with a pdf upload becomes invalid in the editor when changing languages"
### Description

Discovered in https://github.com/WordPress/gutenberg/pull/42745#discussion_r938429705.

The file block uses `__` in its `save` function. It's a static block so the internationalized output causes the block to be non-deterministic, resulting in validation errors.

Typically `save` output for static blocks can't be internationalized.

This could be a tricky one to solve, as removing

[2022-08-05 05:11] mirka opened #43014 "ColorGradientControl: Update design"
- [x] Flip the element order so the current color indicator is always the first item ([mockups](https://github.com/WordPress/gutenberg/pull/41900#issuecomment-1205124434)) #43577
- [x] Make the current color indicator go edge-to-edge when inside a popover (related: #39452)
- [x] Remove the bottom margin from GradientPicker #43436
- [x] [Update swatch sizes](https://github.com/WordPress/gutenberg/p

[2022-08-05 05:27] emilio-martinez commented on #23415
The [logic that caused this issue](https://github.com/WordPress/gutenberg/commit/c08c295837ee0c473f77ec60d5b6e5885b252086#diff-da43971565b86c38227ebb3e016e5658b3057409a1b4f0f0fa602a435e79377aL78-L88) when I reported it seems [to be the exact same](https://github.com/WordPress/gutenberg/blob/1339b969bf6c700ca7ee315fbb0959bbe0767e12/packages/compose/src/hooks/use-focus-outside/index.js#L168-L179) – 

[2022-08-05 05:35] ramonjd commented on #34345
@jasmussen Just in case I can't get to it next week, is there any further context (or better, an issue) in case someone else picks it up?

I think numbers are extracted from the theme.json size values (strips the units and uses the number values). So the `2` here is really `2rem` in my theme.json:

<img width="275" alt="Screen Shot 2022-08-05 at 3 30 46 pm" src="https://user-images.githubuserconte

[2022-08-05 06:11] talldan commented on #42882
Thanks for reporting, I can confirm. Double-clicking is a workaround, but the single-click should ideally also work.

@getdave @scruffian not sure if you know of any changes that might have caused this?

[2022-08-05 06:46] mtias commented on #34345
@ramonjd aren't the slugs already mapped behind the scenes anyways?

[2022-08-05 07:08] mtias commented on #42542
Let's do it!

[2022-08-05 07:18] ciampo commented on #35496
I've been playing around with the "Widgets" section in the Customizer but all toolbars seems OK to me

![Screenshot 2022-08-05 at 09 17 35](https://user-images.githubusercontent.com/1083581/183023618-0ccce1a1-8524-4934-b84d-9c286ac34437.png)
![Screenshot 2022-08-05 at 09 17 27](https://user-images.githubusercontent.com/1083581/183023621-cf6d66da-4c74-4337-9e91-a2b3a3c1ace6.png)

Hey @Mamaduka ! Si

[2022-08-05 07:22] Mamaduka commented on #35496
Thanks for the ping, @ciampo. I can have a look next week if that's alright. I need a bit of a refresher on this issue 😄

[2022-08-05 07:37] theminaldiwan opened #43016 "Tag cloud block alignment issue in editor as well as front end side"
### Description

In twenty twenty two theme when we add Tag cloud block And set the center alignment to block but taxonomies are still in left alignment but center alignment not working.

### Step-by-step reproduction instructions

1)Activate the Twenty Twenty-Two theme.
2)Add the tag cloud block and select taxonomies from list
3)Now set the center alignment. You can see it will not be in center a

[2022-08-05 07:52] getdave commented on #42882
I'm not aware of anything specifically. We're aware of the problem though and it's on our radar to solve.

[2022-08-05 08:50] carolinan commented on #22784
This has been solved, so I am closing the issue.
The block alignment does not use center, but "none" is available in the toolbar so it is possible to reset to default.
The block also has text alignments, including center.

[2022-08-05 08:50] #22784 closed

[2022-08-05 09:09] bph commented on #42961
@ramonjd and all

Publishing close to RC 1 is not a hard rule. It only makes sure that there isn't something in the dev notes, the might have changed between drafting it and release.

On the doc release team we need a bit of a lead time as Dev Notes need to be reviewed by two people before publishing. If all dev notes are published a day before RC 1, it creates an unnecessary bottleneck and undue

[2022-08-05 09:15] ciampo commented on #42753
Alright, here's a deeper analysis:

## An analysis of the currently available components

### The current `Tooltip` component (let's call it "legacy") ([demo](https://wordpress.github.io/gutenberg/?path=/story/components-tooltip--default))

The current `Tooltip` component exposes a few props:

- `children`: the element to which the tooltip should anchor
- `text`: the text in the tooltip
- `positio

[2022-08-05 09:30] carolinan commented on #41418
I can confirm this.  It does not make a difference if I use a container block with the layout option.

If I activate Gutenberg, add a group block, toggle the layout setting to enable wide and full, and place an image block inside,
then the image still only has left, center and right alignment options.

[2022-08-05 09:35] carolinan commented on #40597
Currently, no blocks on the widget screen seems to support wide and full width, I do not think this is limited to the Media & text block. Please see
https://github.com/WordPress/gutenberg/issues/41418
https://github.com/WordPress/gutenberg/issues/35468

[2022-08-05 09:37] carolinan commented on #41418
There seems to be several duplicates of this. I will close this issue and discussions can continue in https://github.com/WordPress/gutenberg/issues/35468

[2022-08-05 09:37] #41418 closed, assigned to nobody

[2022-08-05 09:42] oandregal commented on #42526
TLDR. I understand we can close this issue because:

- Spacing is working fine for list v2 but in TwentyTwentyOne. It should be addressed in the theme.
- If a theme uses `theme.json` to set the global block gap style it doesn't affect the items in the new list v2, so we don't need to do anything.

---

Longer context. This is what I did:

Using TwentyTwentyTwo, I set `styles.spacing.blockGap` to `

[2022-08-05 09:56] mirka commented on #42753
Sounds great, let's go with that. Thanks for breaking it down!

[2022-08-05 09:58] carolinan commented on #41124
I understand that this is problematic, but I also don't think that adding a flag for keeping the inner div would be a good solution for the long term.

If the theme developer chooses to add a theme.json, they have already decided to make changes to the theme, and they will have new tools to control the layout that allows them to replace / remove the broken CSS.

[2022-08-05 10:09] Mamaduka commented on #37220
@jameskoster, I'm planning to start working on this (probably early next week). I noticed that the only properties we can edit in focus mode would be the `title` and `area`.

## Why

In focus mode, we don't have access to the template part block, just its contents, so we cannot change attributes. However, the `title` and `area` are stored in the entity, and we can change that.

[2022-08-05 10:18] ciampo commented on #35496
Absolutely, no rush!

[2022-08-05 10:24] carolinan commented on #10386
Is this still something we want to implement?

- There are extended color options now
- The style variations and their CSS has proven to not be so future proof as the global styles evolve.
- It could also be a core block pattern

[2022-08-05 10:30] carolinan commented on #43016
Hi!
I am not able to reproduce this. I tested in WordPress 6.0.1 with and without Gutenberg active.
How are you providing the custom taxonomy?
Asking because you mentioned that there were no other plugins active. Can you provide any more details on how to reproduce this?

[2022-08-05 10:31] jameskoster commented on #37220
@Mamaduka makes sense, I think those are the most important attributes anyway 👍

[2022-08-05 10:32] carolinan commented on #43016
**_Aha_** -can you test if you see any difference if you choose the default style instead of "outline" ?

[2022-08-05 10:35] audunmb commented on #23745
Got directed here from the Wordpress forums because I asked for more options. Building the navigation block into a full megamenu block seems to be overkill. Megamenu blocks should be left to plugins, it's not something every website needs.

Still, the Navigation block needs some more options. A footer menu where submenu items are shown (i.e. not a dropdown) like in the H&M example should be possib

[2022-08-05 10:43] sergiu-radu commented on #41124
Hi @carolinan, that's a good point but at the same time we have to think about users that already built their websites using the container block that has an inner div.

If we add the `theme.json` file in to the theme - everything will break for them...

So, we (theme developers) want to get advantage of this `theme.json` file but at the same time we can't use it because it breaks our users website

[2022-08-05 10:49] perleatspython commented on #16425
Hello,

I just came across this thread: Maybe it will help someone else. Back then, I had simply built a "dirty" autoclicker due to lack of time. You can skip the button if you want. The code can certainly be switched more elegantly. A small plug-in would probably be even better. The stage is yours ;-) For my purposes it was enough and saved me hundreds of clicks. The code is simple and typed down

[2022-08-05 10:54] javierarce opened #43023 "Add a preview section to the pre-publish sidebar"
After working on the [Status & Visibility panel improvements](https://github.com/WordPress/gutenberg/issues/39082), we found that certain elements could be more appropriate and helpful inside the pre-publish sidebar. We also thought that we could use this opportunity to refresh the design of the sidebar a little bit and rethink some of its functionality.

The main changes I’m proposing involve sho

[2022-08-05 10:57] javierarce commented on #39082
Ok, I've opened an issue to [enhance the pre-publish sidebar](https://github.com/WordPress/gutenberg/issues/43023), and I'm closing this one.

[2022-08-05 10:57] #39082 closed, assigned to javierarce, noisysocks

[2022-08-05 10:58] mirka commented on #42782
It's been a week so we're going to be merging this for now. But if folks wants to continue this discussion, I just wanted to note that the label styles will be very easy to change moving forward, thanks to the refactor.

[2022-08-05 10:59] #42782 closed, assigned to mirka

[2022-08-05 11:07] carolinan commented on #41085
Hi!
Does the post have comments enabled? if not, the form will not show.

[2022-08-05 11:55] t-hamano commented on #42753
Thanks for the great suggestions!
I'm not sure now if I can solve all the actions you suggested, but I will try these first two actions first:

[2022-08-05 11:55] carolinan commented on #41124
It wont break for them if you also update the CSS.

[2022-08-05 12:00] carolinan commented on #41124
This would be a lot easier to illustrate with complete code examples from theme authors, showing what **exactly** breaks for them.

[2022-08-05 12:08] mirka commented on #41787
This should be pretty simple.

1. Wrap it with `<DropdownContentWrapper paddingSize="none">`.
2. Remove these style overrides:

    https://github.com/WordPress/gutenberg/blob/12b7960010a858d3c97caf2641222ba1f255d34d/packages/components/src/color-palette/style.scss#L35-L40

[2022-08-05 12:10] johnfleming commented on #41124
@carolinan Following this conversation.  I don't have a perspective on the right solution to this issue, but I think it is critical that we enable people who have sites built with Classic Themes to have access to the latest capabilities of all Core blocks without forcing significant updates to those themes or replacement of those themes. This is especially true for theme developers like Astra and

[2022-08-05 12:16] jasmussen commented on #42257
Love this ticket, beautiful work all around. Inspired by the work shared, and by [Matías comment on focusing in](https://github.com/WordPress/gutenberg/issues/42257#issuecomment-1193635735), I took a quick stab at extracting the ideas presented into a near-term version. Here are mockups of the navigation block as it exists today, but with the new Menu panel.

**No menus are defined**

In this stat

[2022-08-05 12:16] carolinan commented on #41124
And I don't think that is going to be possible because blocks are the new defaults. These settings are not built "classic first". There are going to be changes and we all need to adapt.

[2022-08-05 12:23] carolinan commented on #41124
I would rather that we explored ways to help the users update their block markup without having to open every single post/page/post type manually, than support these inner divs and a soup of setting combinations "forever".

[2022-08-05 12:30] mateuswetah commented on #41124
The problem here is that the container update its acting as blocker to several other `theme.json v2` features that would benefit enormously this themes. Seriously, using the block editor with Blocksy for example is amazing, but once you learn that you cannot take advantage of new spacing controls gaps, it really feels limited.

I am certainly not aware of the internals, but I would like to believe

[2022-08-05 12:35] carolinan commented on #41124
As the spacing controls apply spacing to the inner blocks depending on their position, having the inner divs there will cause problems.

[2022-08-05 12:55] t-hamano commented on #21107
I believe this is the `Notice` component, and it certainly reproduces the same layout on StoryBook.
Additionally, this also occurs when using the Notice component on the block editor:

![storybook_1](https://user-images.githubusercontent.com/54422211/183079236-256e63cc-3f57-44c4-ab9a-17dff1435db5.png)

However, I believe this is because the browser default margins are applied to the `p` tag of the

[2022-08-05 12:55] t-hamano commented on #21107
@ItsJonQ
I would like to close this issue as I believe this is expected behavior.
If there are any misunderstandings or clarifications, please don't worry about it and re-open it.

[2022-08-05 12:55] #21107 closed

[2022-08-05 12:57] #41974 closed, assigned to carolinan

[2022-08-05 13:23] jameskoster commented on #42325
Here's a slightly more nuanced take on this:

<img width="1294" alt="Screenshot 2022-08-05 at 14 04 51" src="https://user-images.githubusercontent.com/846565/183083383-e17228d3-d32d-4d99-9575-979fb1d0b307.png">

Templates are split into the following categories: Pages, Features (e.g. Blog), and Advanced.

Pages includes anything singular that doesn't fit strictly into another feature. Page templat

[2022-08-05 13:29] that-mike-bal opened #43027 "Allow Border Overlap With Elements within Layout Blocks (Group, Row, Stack)"
## What problem does this address?
This is a design capability to break some of the blockiness that results from having very defined and responsive containers around everything. I'm not currently aware of a way to do this, and I stumbled across it in the post editor while recording a video for dotcom focused on borders. The website was thehansoloproject.com and it is currently using the Quadrat Bl

[2022-08-05 13:34] t-hamano commented on #42896
The history of this issue is discussed in detail in #42054 and is still open.
Let's close this issue and focus the discussion on #42054 👍

[2022-08-05 13:34] #42896 closed, assigned to nobody

[2022-08-05 13:44] Andrew-Starr opened #43030 "Block child theme, parent stylesheet not printed inline in editor"
### Description

The only files a child block theme needs are;

1. theme.json
2. readme.txt
3. style.css

style.css is, as far as I can tell, only needed to provide the headers e.g. `Template: parent-slug`

If a parent theme has additional CSS in style.css, this is added as inline CSS in the editor when the parent theme is the active theme.
However, when the child theme is active, the inline CSS i

[2022-08-05 14:21] Zetanova commented on #9056
I encountered this issue today with wp 6.0.1
The content got updated over the wp-api including a <style> tag

It is in the DB without <br> tags but in the code editor,
the <br> tags still get added into the <style> tag.

Is there any good workaround out for it?

[2022-08-05 14:33] carolinan commented on #33956
With the new `useRootPaddingAwareAlignments` setting enabled in theme.json, the css for the full width blocks is

[code]

[2022-08-05 14:38] lwangdu opened #43031 "Sub navigation font color doesn't work when background has color Gutenberg 13.8.1"
### Description

After I updated Gutenberg 13.7.3 to 13.8.1 sub navigation font color doesn't work when background has color.

### Step-by-step reproduction instructions

Go to front page or site editor.
Click on sub navigation
I can't see font color but it works with Gutenberg 13.7.3. Please see the screen short
![Gutenberg 13 7 3](https://user-images.githubusercontent.com/24829573/183099151-d40a

[2022-08-05 15:00] Thelmachido commented on #24199
This was also reported in [#24199](https://github.com/WordPress/gutenberg/issues/24199)  I wasn't able to replicate the issue. The option to undo works after I resize the image as shown below:

https://user-images.githubusercontent.com/41231764/183102392-f9be0d22-d40f-46ef-b677-91b4eef2e075.mov

I am closing this issue.

Gutenberg 13.8.0

WordPress 6.0.1

[2022-08-05 15:00] Thelmachido commented on #24199
I wasn't able to replicate the issue. The option to undo works after I resize the image as shown below:

https://user-images.githubusercontent.com/41231764/183102392-f9be0d22-d40f-46ef-b677-91b4eef2e075.mov

I am closing this issue.

Gutenberg 13.8.0

WordPress 6.0.1

[2022-08-05 15:01] #24199 closed

[2022-08-05 15:14] petitphp commented on #43013
I successfully reproduced the issue with a WordPress 6.0.1 install without the Gutenberg plugin.

* I've inserted a file block in a new article, uploaded a pdf and save it,
* I went to the user profile and changed the site locale from EN to FR,
* I've reopened the article and observed that the file block encountered a validation error.

This error displayed in the web console :
[code]

The validat

[2022-08-05 15:19] t-hamano commented on #35107
Hi @rubengc,

I have carefully followed your code and the changes made in WordPress 5.8 regarding `RadioControl`.

First, the versions of Gutenberg in WordPress 5.7 and 5.8 are as follows:

- WordPress 5.7: Gutenberg 9.9
- WordPress 5.8: Gutenberg 10.7

And the following PR was merged in 10.0, between Gutenberg 9.9 and Gutenberg 10.7:
[Components: Allow extra props for RadioControl component #2863

[2022-08-05 15:19] #35107 closed, assigned to nobody

[2022-08-05 15:34] nednoodlehead commented on #43001
I mean the syntax highlighting in code blocks, I forgot to mention that in the original request. My bad

[2022-08-05 15:54] ndiego opened #43033 "useRootPaddingAwareAlignments prevents color changes in Global Styles from displaying in the Site Editor"
### Description

When you enable the new `"useRootPaddingAwareAlignments": true` feature, changing colors in the Site Editor are no longer actually reflected in the Site Editor. They do appear on the frontend.

### Step-by-step reproduction instructions

1. Use Twenty Twenty-Two and Gutenberg 13.8+
2. Set `"useRootPaddingAwareAlignments": true` in theme.json
3. Change the background color of the s

[2022-08-05 15:58] ndiego commented on #42890
I was able to replicate @Gierand's comment and have created an issue: #43033

[2022-08-05 16:13] Gierand commented on #43033
@ndiego Please check https://github.com/WordPress/gutenberg/issues/42913

[2022-08-05 16:21] ndiego commented on #43033
Ahh, thanks @Gierand. Completely missed that!

[2022-08-05 16:21] #43033 closed, assigned to nobody

[2022-08-05 17:06] eric-michel commented on #33374
@tellthemachines thanks for all the really helpful responses! I'm really excited that you'll be swapping the defaults on some blocks to allow them to inherit the site's alignments by default. That will largely solve our problem and allow us to adopt `theme.json`.

It would be awesome if you added the `cover` block to this list as well!

~~Do you think it's possible that these changes could get imp

[2022-08-05 17:24] SkylerMax commented on #33581
Why is it so hard to solve this problem? It is a painfull process to clarify the situation to my customer and educate them to code - they do not want to code, that's why they use WordPress...

[2022-08-05 17:47] RatzeR commented on #35705
@kathrynwp I just found this bug and can confirm, that this bug is still not solved.

For example:

- It is not possible to add a apostrophe in a paragraph
- It is not possible to add a apostrophe in a headline in a cover block

[2022-08-05 17:50] nickfmc commented on #39064
this will be nice to have, after training people for the past 2 years on Gutenberg when handing over sites, I can say the biggest complaint I get is how bad the drag and drop UX is.

[2022-08-05 20:37] rawrly opened #43039 "Safely handling SVG via "Insert URL" (Discussion around CVE-2022-33994)"
## What problem does this address?
There is a CVE that asserts a claim Gutenberg unsafely allows SVG files to be added to a page's content. The CVE in question is CVE-2022-33994 and is currently under review in NVD and poses no immediate risk to sites using Gutenberg to my knowledge.

I am creating this ticket to start a discussion, and gather ideas on what (if anything) Gutenberg can do to safely

[2022-08-05 21:10] Thelmachido commented on #24915
Since the permalink is available on the sidebar settings, the suggestion to have it next to the Publish/Update button can be considered a request for enhancement. Probably not a bug at this point.

<img width="345" alt="Untitled" src="https://user-images.githubusercontent.com/41231764/183191371-8dd545c8-a91f-4bea-b74c-34909ddb4780.png">

Replacing the bug with the enhancement tag.

Gutenberg 13.8.

[2022-08-05 21:21] eric-michel commented on #36435
Second this proposal. I'm working on converting our theme to using `theme.json` and found the editor default of `600` for `<strong>` font-weight to be odd, given that `700` is often the standard. If we could set `b, strong` font weight options in `theme.json` (preferably by font family) that would unify between backend and frontend that'd be great!

[2022-08-05 21:31] Thelmachido commented on #24970
I can still reproduce this issue on

Gutenberg 13.8.1

WordPress 6.0.1

Twenty Twenty Two theme

https://user-images.githubusercontent.com/41231764/183208060-d3b41586-7978-4746-a820-d1474b1a2104.mov

[2022-08-05 22:12] BE-Webdesign commented on #42610
Here is a PR that explores this idea. Let me know whatever tweaks should be made. https://github.com/WordPress/gutenberg/pull/43040

[2022-08-06 00:05] ellenbauer opened #43041 "Colors with opacity values not editable in Styles"
### Description

Block themes can set rgba or hex color with opacity (Hexadecimal colors) in theme.json.

In the block editor these color values can be edited as the color picker has the opacity setting, as seen in the screenshot below.

<img width="588" alt="Screen Shot 2022-08-06 at 11 57 07 AM" src="https://user-images.githubusercontent.com/17613630/183224834-430a031a-26a1-4b84-ad97-1a7c91b201e

[2022-08-06 00:56] marceloaof commented on #43041
https://github.com/WordPress/gutenberg/issues/42999

[2022-08-06 06:12] Gierand opened #43042 "[Site Editor] Spacing values declared as variable have no effect in the site editor."
### Description

When we add variable values to the spacing in the theme.json file, no change occurs.

### Step-by-step reproduction instructions

Try changing the settings in theme.json using the following code snippet example.
The problem is not only with the buttons, but also with the rest of the blocks.

### Screenshots, screen recording, code snippet

[code]

**Frontend:**

![Frontend](https:

[2022-08-06 06:24] t-hamano commented on #41565
I took a look at your code and I think these lines are the problem:

https://github.com/AdamWills/wp-blocks-default-array-issue/blob/21471f6d95b660b19c02c5449cbf315ddb04ceb0/src/edit.js#L45-L47

Since copying by spread syntax is **shallow copy**, the objects in the array will refer to the original variables.

Therefore, `props.attributes.items[index].text` of the `Edit` component is rewritten at t

[2022-08-06 06:25] t-hamano commented on #41565
@AdamWills

I would like to close this issue, but if there are any misunderstandings or clarifications, please don't mind reopening it 👍

[2022-08-06 06:25] #41565 closed, assigned to nobody

[2022-08-06 08:55] andersnoren commented on #42247
It seems this doesn't happen if the pull quote is a direct descendant of the entry content, since the pull quote will then have the max width set to the content width with a higher specificity. If wrapped in a group, the 420px max width is applied (when set to a left/right text alignment).

<img width="1253" alt="image" src="https://user-images.githubusercontent.com/8181091/183242173-7adbb75f-e140

[2022-08-06 08:59] dan-zakirov opened #43043 "Will there ever be a field to write your custom styles on each block?"
I’ve seen such a plugin, like this [https://gutenberghub.com/wp-content/uploads/2020/08/Image-2020-08-03-at-5.56.41-PM-1024×508.png](https://gutenberghub.com/wp-content/uploads/2020/08/Image-2020-08-03-at-5.56.41-PM-1024x508.png), but I would like to see this functionality in Gutenberg itself

[2022-08-06 09:15] t-hamano commented on #23121
I have checked this issue and now believe that such errors don't occur anymore.
As seen in #37189 and #39388, I believe it is now possible to build correctly on the Windows host OS.

I don't know what was going on at the time this issue was reported, but now it should be fine with the latest version of Node 14.
However, as seen in this comment, you may need to use the latest minor version of Node

[2022-08-06 09:28] t-hamano commented on #18523
I am a Windows user and would like to work on this issue.

[2022-08-06 12:21] colorful-tones commented on #42999
@marceloaof - I would say we should close this out. It is a duplicate of #43041 and the other Issue has far more detail and context. 🤔😉

[2022-08-06 13:15] Rafiozoo commented on #38637
@ckeeney Thanks! It helps for the slug.
Just checked in WP 6.0.1 that after normal post edit / save the filter cleans the slug well.
But in quick edit replaces [OBJ] into "efbfbc" string.

The code below works for me:
[code]

[2022-08-06 14:26] ndiego commented on #42588
I have also been running into this. Very frustrating. @carolinan have you found a reliable workaround? I am just renaming the folder, committing, and then reverting the name. Not ideal 😅

[2022-08-06 14:27] marceloaof commented on #42999
Yes, I also appreciate how the other person brought her issue... with enough details and context as I did. These tickets are precisely related and not the same. 😉 The scenario of 42999 is less specific than 43041. In 43041, colors with alpha may already have been populated by the theme, as seen in screenshots, they just are not editable. In 42999, colors with alpha are not even set yet. The soluti

[2022-08-06 14:43] ndiego commented on #43041
@ellenbauer and @marceloaof when you have a chance, give #43045 a test and see if that resolved these issues. Thanks!

[2022-08-06 17:19] skorasaurus commented on #43043
Hi,

Thanks for reporting;
This has been discussed and/or requested in https://github.com/WordPress/gutenberg/issues/30142 (specifically https://github.com/WordPress/gutenberg/issues/30142#issuecomment-1199112589) . Feel free to [add your reaction](https://docs.github.com/en/discussions/collaborating-with-your-community-using-discussions/participating-in-a-discussion#about-participation-in-a-discu

[2022-08-06 17:19] #43043 closed, assigned to nobody

[2022-08-06 17:49] tiamcquaid commented on #12442
@stefanfisk thank you! fixed my code too, also not registering post type 'media' also broke the rest API (obvious in afterthought I know) so renaming fixed the issue

[2022-08-06 18:00] gwwar commented on #10117
I took a quick look at this and I wasn't sure what the ideal behavior is.

* If we'd like to open the url to a preview page with the anchor selected, one problem to work through is that the link-preview component exists in the block-editor package, and should not have any awareness of WordPress details (such as where a published post will be) . See the [Modularity page](https://developer.wordpress

[2022-08-06 18:19] ndiego opened #43046 "Batching gap styles is causing Block Spacing settings to fail"
### Description

It looks like since the introduction of https://github.com/WordPress/gutenberg/pull/42452, block spacing settings are applied incorrectly when batched.

In looking at the [original code](https://github.com/WordPress/gutenberg/blob/9e3767cc217542d4e4926280a91feb584b3f7a7b/lib/block-supports/layout.php#L110), the order is important.

[code]

However, when multiple containers with cu

[2022-08-06 18:21] ndiego commented on #43046
@aristath @ramonjd @andrewserong sorry for the ping, but I know you all have been working on the style engine. 🙏

[2022-08-06 20:08] JoeO20 opened #43047 "Navigation block - option to add text next to responsive menu icon"
I don't see option to add inline text to the icon, either right, left, below or top. It's either icon with no text or just text.
Would also be nice if the "Menu" text can be edited.

![image](https://user-images.githubusercontent.com/10998875/164790733-65a1b9a7-e746-4970-a70c-ab10256edeb1.png)

_Originally posted by @LukaszJaro in https://github.com/WordPress/gutenberg/issues/37930#issuecomment-11

[2022-08-06 20:14] JoeO20 commented on #43047
Thank you @LukaszJaro for bringing this to the attention of the community. There is also the issue that the default Hamburger button in WordPress 2022 theme has only 2 bars. It would be nice to have the option of 3 bars or to do so with custom CSS and without the need for a plugin. Any ideas?

[2022-08-06 22:07] aquaspy commented on #22822
Hey guys, anyone has news about this one?

The only thing I really don't like about gutenberg is the performance compared to the old editor

Especially if the post is long, it gets SLOW in the browser.

I believe that the performance will never be equal to the classic editor because of the extra features and ease, but at the same time, it could at least have a "performance" mode with a improved fr

[2022-08-06 22:27] sabernhardt opened #43048 "Social icons block not centered in the editor when choosing "Align center""
### Description

_Props: originally reported by @Smit2808 on [Trac #56334](https://core.trac.wordpress.org/ticket/56334) (smit08 on WordPress.org)_

When setting the social icon block to align center, the icons remain aligned to the same side as text (left in English).

The `flex-start` justification assigned to the container overrides what is in the block-library stylesheet.

[code]

### Step-by-

[2022-08-07 05:02] t-hamano commented on #38547
For example, if you want to use `PluginSidebar` in the site editor, you need to load from another package, as shown below:

[code]

In addition, change the dependencies for enqueuing javascript as follows:

[code]

However, this is not mentioned in the documentation and may be confusing to developers, so it might be worth considering to update the documentation.

[2022-08-07 05:40] t-hamano opened #43049 "Documentation: add description of plugin support in the edit-site package"
## What problem does this address?

With #34460, the following basic plugin support has been added to the Site Editor:

- `PluginSidebar`
- `PluginSidebarMoreMenuItem`
- `PluginMoreMenuItem`
- `openGeneralSidebar` / `closeGeneralSidebar` store actions

If we use these with plugins, we need to use them differently depending on whether the post editor or the site editor, as follows:

[code]

However

[2022-08-07 08:01] ellenbauer commented on #43041
@ndiego Amazing, Nick, I will test tomorrow, so exciting!!!

[2022-08-07 09:02] caluwaek commented on #22822
FWIW, we had similar issues on Chrome and moved over to MS Edge where the
performance is better.
I don't understand why, AFAIK Edge is using the same engine as Chrome, but
we rarely see any lag.  Most of our posts are about 4K words.

On Sun, Aug 7, 2022 at 12:07 AM aquaspy ***@***.***> wrote:

[2022-08-07 10:36] renata-franco commented on #42945
It needs to have Jetpack connected because the Slideshow Block is not available if Jetpack is not active. I just tested this on a self-hosted site that does not have Jetpack active and Slideshow is not available to try it out. The test on this site was with the same theme, Twenty Twenty-Two and the padding looks normal:

![imagen](https://user-images.githubusercontent.com/81378719/183286849-a76b4e

[2022-08-07 12:59] carolinan commented on #42588
I renamed the folder permanently.

[2022-08-07 13:24] t-hamano commented on #39619
@ellatrix
I'm glad I could hear that!

@ZebulanStanphill
I think that continuing #39817 is a good way to go, but what do you think?

[2022-08-07 14:32] fatesallow commented on #26494
I'm looking to do this too. I have a hybrid theme, with a page template that changes the body background color. The problem is my client can't see how to style block background colors because the editor shows the background color I set in theme.json. All I need is a class that's added to .editor-styles-wrapper depending on the template used. There doesn't seem to be a way to hook into it.

It's ha

[2022-08-07 16:55] AnQazan commented on #40863
Solved the problem by adding define('CONCATENATE_SCRIPTS', false); wp-config.php
Server: nginx/1.18.0
Php: 7.4.3
WordPress Version: 6.0.1
Gutenberg Version:  default, after installing wordpress

[2022-08-07 21:58] ramonjd commented on #43046
Thanks for reporting, @ndiego ! I'll add it to the list of TODOs

[2022-08-07 23:34] ramonjd commented on #43046
For this individual case, updating the CSS rule registration to this would work:

[code]

I have a PR up for this

- https://github.com/WordPress/gutenberg/pull/43052

However, this PR doesn't address the root cause, for which I don't know if there should be a "fix"[^1] the style engine combines selectors and prints them, not in the order in which the styles are registered, but at the bottom of th

[2022-08-07 23:40] Bellian opened #43053 "Query block with shortcode breaks `get_the_ID` or `get_post`"
### Description

I am curently using the block editor to create a website.
Since I am using custom post types and custom taxonomys and custom meta data, there is currently no way to to display these.

So i included a shortcode to render those relevant informations.
this worked fine for single posts, but as soon as I used this in archives within the content loop, `get_the_ID` or `get_post` only ret

[2022-08-08 00:09] Bellian commented on #43053
I just found:
Calling `do_shortcode` within the `render_block_core_shortcode` method solves this problem.

[code]

So are shortcodes executed at a later point then?
This can be a bit unintuative.

Are there other ways to do what i am trying to do?

[2022-08-08 00:49] #43046 closed, assigned to ramonjd

[2022-08-08 00:58] andrewserong commented on #43007
This occurred during a wordpress.org outage. I'll close this for now as it appears to be related to that outage.

[2022-08-08 00:58] andrewserong commented on #43008
This occurred during a wordpress.org outage. I'll close this for now as it appears to be related to that outage.

[2022-08-08 00:59] andrewserong commented on #43009
This occurred during a wordpress.org outage. I'll close this for now as it appears to be related to that outage.

[2022-08-08 00:59] andrewserong commented on #43010
This occurred during a wordpress.org outage. I'll close this for now as it appears to be related to that outage.

[2022-08-08 02:18] ramonjd commented on #34345
@mtias If I'm interpreting things correctly, yes, the slugs that appear in `setings.typography.fontSizes[].slug` are mapped to the JS objects we use to build the fontsize controls.

I'm still catching up with all the feedback over at:
- https://github.com/WordPress/gutenberg/pull/37038#pullrequestreview-822539765 and @jasmussen's [comment](https://github.com/WordPress/gutenberg/pull/37038#pullrequ

[2022-08-08 02:44] t-hamano commented on #40863
Glad to hear that it has been resolved.

If the `CONCATENATE_SCRIPTS` constant is set to false, JavaScript will not be concatenated as described in [Common APIs Handbook](https://developer.wordpress.org/apis/wp-config-php/#disable-javascript-concatenation).

The fact that this solved the problem means that either the theme or the plugin contained a JavaScript error, which led to this issue.

To ge

[2022-08-08 02:44] #40863 closed, assigned to nobody

[2022-08-08 02:47] talldan commented on #22822
For anyone reporting issues, it'd be great to provide further details (as much as you're comfortable sharing):
- Which browser / Operating system
- Any plugins installed?
- Which theme?
- WordPress / Gutenberg version
- Example post content

Performance can be hard to quantify without that information, especially over the two years since this was reported. The code base will have changed significa

[2022-08-08 03:44] adamwoodnz opened #43054 "Web page load performance"
### Description

We've started performance testing of the new wordpress.org home and download pages and we're getting low Page Speed scores due to a couple of Gutenberg related issues. This Chrome DevTools waterfall and coverage report shows them:

![Screen Shot 2022-08-08 at 2 55 38 PM](https://user-images.githubusercontent.com/1017872/183332620-51336d79-58ec-49b5-8079-231124dd2e6d.jpg)

### 1. S

[2022-08-08 04:00] carolinan commented on #10117
Yes "do nothing" was implemented in https://github.com/WordPress/gutenberg/pull/42259.

[2022-08-08 04:05] carolinan commented on #43001
The code block does not support any syntax highlighting.

[2022-08-08 04:19] andrewserong commented on #42961
Thanks for the ping @bph!

For this one, I don't believe a separate post is required, it can be added to any dev note blog post on smaller changes. I've drafted a comment on the PR for inclusion in such a post: https://github.com/WordPress/gutenberg/pull/42544#issuecomment-1198863716 — the main purpose of the dev note is to communicate to creators of themes that currently use an undocumented appro

[2022-08-08 04:41] talldan commented on #42434
Thanks for the example. If you don't need formatting for the Popover's text field, you could try another component as an alternative to RichText, like a `PlainText` (also from the block editor package).

If you do need formatting then I unfortunately don't have any solutions.

I guess that may also be a bit unusual as you'd be able to apply the custom format to the popover's RichText and continue

[2022-08-08 05:06] carolinan commented on #43030
I don't think this is accurate? Themes normally use an editor style in the editor.  What method is the parent theme using to load the styles?

[2022-08-08 05:16] talldan commented on #43001
@nednoodlehead As mentioned, the features are most likely added by a plugin, I'd recommend working out which one and making an enhancement request to the plugin developer. 👍

[2022-08-08 05:16] #43001 closed, assigned to nobody

[2022-08-08 05:43] peterwilsoncc commented on #43054
This looks to be caused by `blocks.json` enqueuing scripts in the header rather than the footer. The source is [within `register_block_script_handle()` in WordPress Core](https://github.com/WordPress/wordpress-develop/blob/da50ef9aed5d07b09f2c3e0aaf5351a0408bf58d/src/wp-includes/blocks.php#L125-L130).

The site in question is using the wp.org [multisite-latest-posts block](https://github.com/WordP

[2022-08-08 05:51] ramonjd commented on #43046
Adding a thought from @andrewserong in relation to any optimization/combination we perform on the backend:

It makes sense if we want to ensure that the editor and frontend are 1:1.

I guess it depends. If our backend code has good coverage, then maybe not everything. 🤷

It would also mean we'd have to port PHP code to JS, and maintain both. But we have to mostly do that anyway for the editor and

[2022-08-08 05:58] andrewserong commented on #43046
Thanks @ramonjd — I don't have a strong opinion on it, but was curious what folks think. From my perspective, I think it's more important for the site frontend's CSS to be optimised for performance rather than what's happening in the editor, where the optimisation itself could slow things down slightly while making adjustments.

The main thought I had was whether or not it's important to try to en

[2022-08-08 06:24] jasmussen commented on #34345
Understanding that you could desync the custom labels from the t-shirt sizes, yes, that basic implementation, in my opinion, is exactly what I was thinking of. Worth putting in a PR and getting a feel for it.

My impression is that we shouldn't optimize towards mapping the t-shirt sizes for what a label might or might not be — mapping them sequentially, just like the numbers were, allows authors t

[2022-08-08 07:08] Pinny911 commented on #11742
Hi all,

I actually can't figure out the problem and need your support. I can't figure out how to fix it. When I copied 3 or more blocks of a page from WordPress to Google Chrome or Microsoft Word, the text was copied like the code editor like the ones below. I just wanted the text but it was reproduced with the codes too.

Thank you,

<h3></h3>

<p><strong>

[2022-08-08 07:22] JustinyAhin commented on #38851
Hello @juhi123.

Yes, this list is still our reference for tracking tests that are being migrated. I haven't done contributions to tests in a while because I switched jobs recently, and I'm still adapting to my new contribution schedules.

In the meantime, if you come across a test that is already migrated but not check, can you update it on the list? :)

[2022-08-08 07:23] ntsekouras commented on #42325
I'm not sure there is a way to have this information. Most of these menu items are created by fetching the registered taxonomies and post types, which means we rely on the information provided by `register_taxonomy` and `register_post_type`.

[2022-08-08 07:32] ntsekouras commented on #41405
👋  @padams - Query Loop supports custom post types and taxonomies for filtering for a while now. Were you referring to something different than filtering?

Regarding the `attachment` option,  it is explicitly removed from the available options right now as it's a probably rare use case and would add more cognitive load to most users. Is this something you find useful and missing?

[2022-08-08 07:38] tellthemachines commented on #33374
We won't be able to add the cover block just yet, because it's not using the layout controls. I see there's a PR that's been open for a few months (#37662); it's not a straightforward problem to solve because of how the block is structured (its child blocks are not direct descendants of the wrapper, so the layout styles would have to be applied to an inner container). But we'll get there eventuall

[2022-08-08 07:55] talldan commented on #38851
I don't think Quote tests have been migrated yet, the old puppeteer tests are still present, and there are quite a lot of test cases that haven't been ported - https://github.com/WordPress/gutenberg/blob/trunk/packages/e2e-tests/specs/editor/blocks/quote.test.js.

[2022-08-08 08:04] carolinan commented on #42610
As a developer having the element visible in the list view would absolutely help me work faster.
And not least, it would help me see if a page has a main element when reviewing the accessibility.
For it to be useful it would need to be visible for all blocks that can have a different tag than its default, not only group. For example in Twenty Twenty-Two the main is the query block, not a group or

[2022-08-08 08:24] stefanfisk commented on #26494
This hack seems to work for me, but since React owns the element it is far from koscher.

[code]

[2022-08-08 08:24] carlomanf commented on #43053
This looks like a duplicate of #35676, where the solution was given at https://github.com/WordPress/gutenberg/issues/35676#issuecomment-945634661

[2022-08-08 08:29] carolinan commented on #34198
I believe that this has been solved for buttons?
How can we move this forward and discuss the other form elements?

[2022-08-08 08:41] Bellian commented on #43053
No not nessearily.
This problem is strictly related to the shortcode block.

The meta data part was the decision that led to the use of that.

But still the underlying problem is, that the shortcodes do not get access to the current post id, if the query returns multiple posts, since apparently they are evaluated at a later point in time.

[2022-08-08 08:53] Bellian commented on #43053
Well, kind of.
It only solves one manifestation of the problems.
The shortcode block is still lacking the ability to access current the posti id, since it is apparently evaluated at a later point.

Since a lot of plugins and users use shortcodes still, it might be beneficial to be able to use it in this context.

The fix is also straight forward and apparently works or is there a drawback to it I

[2022-08-08 09:05] dmsnell commented on #38637
@Rafiozoo this should be fixed since the merge of #42321 - are you still seeing it in new pastes or is the sin an old post?

Note too that changing the URL-encoding into `efbfbc` is probably neither a helpful change nor the easiest. Removing it altogether I think would lead to a better result wouldn't it?

[2022-08-08 09:08] Bellian commented on #35676
The problem is already adressed here https://github.com/WordPress/gutenberg/issues/37754#issuecomment-1013559781 and a fix already proposed but the issue is apparently pending.
So I have a relatively easy fix for everyone who does not want to create these custom blocks in order to get shortcodes working again as expected.

- Just copy `wp-includes/blocks/shortcode.php` and the `wp-includes/blocks/

[2022-08-08 09:13] carlomanf commented on #43053
I see what you are saying and [I have previously proposed the same change](https://github.com/WordPress/gutenberg/issues/37754#issuecomment-1013559781), albeit to solve a different problem. I still think the issue is a duplicate, just that you have explained it better than the other issue.

[2022-08-08 09:25] ellenbauer commented on #43041
This works for me 😍 thanks so much for providing this solution @ndiego

[2022-08-08 09:42] bph commented on #42516
⭐️ @Mamaduka updated the Performance test section via https://github.com/WordPress/gutenberg/pull/43015 👏

[2022-08-08 09:46] mtias commented on #43054
@adamwoodnz the block Peter refers to is the one pulling in all those dependencies, for visibly no reason that I can tell. Not sure how that block was designed, but it seems superfluos for it to be rendered client side instead of server side given it seems to have no interactivity affordances.

[2022-08-08 09:46] #42897 closed, assigned to Mamaduka

[2022-08-08 09:53] jameskoster commented on #42325
`register_taxonomy` allows the specification of a post type, so could we use that to group the templates together? 🤔

[2022-08-08 10:00] mirka commented on #42781
We may uncover some minor cases, but the known ones are all addressed now.

[2022-08-08 10:00] #42781 closed, assigned to mirka

[2022-08-08 10:18] Bellian commented on #43053
Shure thing. Good call.
If you dont mid, I took the freedom to post a working workarround that solves this problem right now, also mentioning potential problems comming from that. https://github.com/WordPress/gutenberg/issues/35676#issuecomment-1207864270

It was just trubling to me to close this issue in favor of an already closed one, that does not solve the underlying problem.

[2022-08-08 10:20] mirka commented on #41973
Update: I changed my plan — the Context System plan turned out to be kind of impractical at this stage. See updated OP for specifics.

[2022-08-08 10:21] Andrew-Starr commented on #43030
You're quite right, sorry my mistake. What I was trying to say is that with block themes the CSS is added differently in the editor with the stylsheet being parsed and added as inline CSS.

The parent theme is using `add_editor_style()` to load the styles.

The issue is that when a child theme is active, this stylesheet is missing from the editor, unless the child theme includes its own functions.

[2022-08-08 10:31] aristath commented on #43046
That should not be necessary... The CSS optimizations we do on the frontend should be minimally invasive and shouldn't cause any issues. If they do, then it's because the CSS we write is extremely fragile and the CSS itself should be fixed!

[2022-08-08 10:38] Andrew-Starr commented on #43030
OK so I figured it out.

I was using `add_editor_style()` to load a stylesheet relative to the theme root, like the core code reference says.

[code]

Using just the one style.css stylesheet for frontend and editor as not many, if any, differences between front and editor with a block theme.

To make it child theme friendly, I figured out that we need to use an absolute path to the stylesheet in t

[2022-08-08 10:40] ocean90 commented on #43054
Related core Trac ticket: [Allow scripts registered via block.json to be enqueued in the footer](https://core.trac.wordpress.org/ticket/54018)

[2022-08-08 10:54] luisherranz commented on #34352
I also think the dedicated view should be the default edit option to make clear that those blocks don't belong to that page/post, but there could also be an explicit "Edit in place" option.

[2022-08-08 10:59] #19949 closed

[2022-08-08 11:01] aristath commented on #43046
`$selector > *` has the same specificity as `$selector > * + *`, so perhaps it should be `$selector.$selector > * + *`? 🤔

[2022-08-08 11:05] aristath commented on #43046
tested and that fixes the issue 👍

[2022-08-08 11:06] Andrew-Starr commented on #43030
Reopening this as it may be a Gutenberg issue after all.

In the code reference of the `add_editor_style()` function it states "_If a child theme is used, both the current child and parent theme directories are tested and both the files with the same relative path are linked with this single call if they are found._"

However with a block child theme it appears that only the child theme directory

[2022-08-08 11:11] carolinan commented on #42057
A simpler way would be to add the caption to the alt attribute if the alt is empty, but if you think it should use `aria-describedby`, I'll give that a go.