[2022-09-28 08:09] #17249 closed

[2022-09-28 08:22] ellatrix commented on #44436
@mcsf There's an old PR that fixes this :) #43181

[2022-09-28 08:31] jameskoster commented on #39785
Closing this issue. I'll open a new one to discuss the name of the Home template.

[2022-09-28 08:31] #39785 closed, assigned to nobody

[2022-09-28 08:33] paaljoachim commented on #39490
I will close this issue. As it is really about adding settings to template parts.
But one has to resize the Group block.

[2022-09-28 08:33] #39490 closed, assigned to nobody

[2022-09-28 08:54] jameskoster opened #44524 ""Home" template name can be confusing"
The name "Home" suggests the template will display the site homepage. This is true when in the reading settings the site is configured to display latest posts on the front page. But if a static front page is set, then Home will display the Posts Page, not the homepage.

The description helps a bit:

But perhaps the name itself could be clearer... something like "Blog home"? Or could the name be dy

[2022-09-28 09:04] javierarce commented on #44496
Here are some design explorations for this feature:

The inserter sidebar could have three tabs: Blocks, Patterns, and Media. This last tab would allow users to choose between three types of media assets (Images, Audio, and Video) or select media from Openverse.

![image](https://user-images.githubusercontent.com/4933/192736038-14e0ea13-9c77-42ef-ae65-62649bd97141.png)

The default state for the M

[2022-09-28 09:12] Thelmachido commented on #39685
This issue hasn't had much activity in a while, if it stays stale for more than two weeks it will end up being closed. @carolinan   is there still a plan to move this forward?

[2022-09-28 09:19] Thelmachido commented on #39686
Looks like this was created for tracking purposes, I will remove the stale tag @hypest please feel free to add more information for future reference.

[2022-09-28 09:27] jameskoster commented on #44496
Would it be possible to drag media into the tabs to upload? Then we might display empty tabs with a hint.

I'm curious if it is a conscious decision to give top-level placement to Openverse here? Did we consider a version where the Images, Audio, Video tabs have an option to switch between local (media library) and Openverse? I mention it because the flow might be a bit strange to go Openverse > I

[2022-09-28 09:33] javierarce commented on #44496
I explored that idea on an [initial iteration](https://www.figma.com/file/60TSFPxYifPR6NvlrH8AT0/Media-Library-Inserter?node-id=858%3A7628), but it was discarded as users can drag the media to the canvas and it will be added to the library. I guess this is something we could explore on a future version of the feature.

I pointed to that [here](https://www.figma.com/file/60TSFPxYifPR6NvlrH8AT0?node

[2022-09-28 09:34] ricjcs commented on #39943
This issue remains relevant. The option has not been implemented.

[2022-09-28 09:48] gziolo commented on #17249
So great to see it happened finally! Mega kudos to everyone that made that happen 🎉

[2022-09-28 09:57] Thelmachido commented on #39744
<img width="584" alt="Untitled" src="https://user-images.githubusercontent.com/41231764/192749815-bf99374d-bd41-47c6-b342-3eb60e0c146d.png">

I wasn't able to see the actual contrast now with the suggested colors, this is what I see. However, you can see that the editor picks up that this is not a good color contrast. I will be closing this issue now.

WordPress 6.0.1
Gutenberg 14.1.1

Feel free t

[2022-09-28 09:57] #39744 closed, assigned to nobody

[2022-09-28 10:16] javierarce commented on #44292
@jasmussen done. I ended up using an icon size of 48px… bigger than your last proposal but not so big as my initial one, but we can explore other styles as the feature gets implemented.

[2022-09-28 10:17] jasmussen commented on #42257
For folks subscribed to this issue, I have updated the main body with mockups for next steps, adjusted tags, and hidden resolved or outdated comments. (If I hid a comment you find to still be relevant, please feel free to unhide it!)

This issue can have a big impact on improving the usability of the navigation block, so it would be great if someone could pick it up. Thank you! 🙏

[2022-09-28 10:19] fluiddot commented on #38407
No updates this week. The main focus items remain and the section `🛠️ Recently fixed or improved` has been removed due to no updates there.

[2022-09-28 10:24] jasmussen commented on #40204
For folks subscribed to this ticket, I added a mockup to the main issue with a baseline tab interface that we can build. Whether that needs to evolve into a segmented control or otherwise, this can be explored separately.

[2022-09-28 10:29] jasmussen commented on #44292
Looks great!

[2022-09-28 10:38] ciampo commented on #42285
After reviewing @alexstine 's PR, I also created a PR with an alternative approach #44526 — it would be good if @joedolson and @costdev (who were both able to reproduce the issue) could take a look as well. Thank you!

[2022-09-28 10:40] jasmussen commented on #38275
I unchecked the box for introducing the list view in the inspector, as the issue was mistakenly closed. The issue has been updated and is ready for a dev: https://github.com/WordPress/gutenberg/issues/42257

[2022-09-28 10:45] jasmussen commented on #44496
Nice work! When the discussion settles, we should update the main body of the issue with the latest mockups, and add the "Needs dev" label.

[2022-09-28 10:48] ndiego commented on #44515
Yeah I agree with this approach. Likely the easiest to implement and the best way to ensure consistency in the variation previews.

[2022-09-28 10:51] jasmussen commented on #41379
To those subscribed, this issue has been updated with the mockups to implement.

[2022-09-28 11:13] jameskoster commented on #44496
It seems a shame to have to go back and forth to apply the same search locally (media library) or globally (Openverse). But I appreciate the desire to keep things simple to begin with.

[2022-09-28 11:25] Thelmachido commented on #39803
Hi, @getdave there hasn't been much movement on the related PR since April, is there still a plan to move forward with this?

If that is the case please remove the stale label and probably add more information

[2022-09-28 11:28] jasmussen commented on #44496
In my mind, the flow for the media tab would likely be to explore _recent_ uploads first and foremost with search as a fallback, because otherwise you could just drag the item into the canvas. In that light, I think it makes sense, including for the tab-order, to move search into the flyout.

Similarly, if I choose Openverse as my option, I would imagine my mindset to be one of _finding new media_

[2022-09-28 11:38] Thelmachido commented on #39833
Hi @stefanfisk that you for taking the time to open this issue.

To help move this forward, you can add more information for example the need to support the option to hide the [ToogleControl](https://developer.wordpress.org/block-editor/reference-guides/components/toggle-control/) from vision.

[2022-09-28 11:45] t-hamano commented on #44374
Thank you for the advice, @youknowriad !

 I would like to explain what I have learned from further research in three cases.

The first important point is that only CSS files containing `.editor-styles-wrapper` or `.wp-block` will be copied to the iframe editor instance.

https://github.com/WordPress/gutenberg/blob/cbaa18495869932e04eaa1cac82b86001053d352/packages/block-editor/src/components/ifram

[2022-09-28 11:46] jasmussen commented on #44461
I like that minimal browse mode for allowing you to choose content to edit, if we pair it with an explicit "Templates" item in the sidebar for when editing that is your intent.

The bigger win would be to not drop you directly into editing your "Home" template, rather to allow you to make a choice first in the open-by-default sidebar.

Should we try and prototype a minimal version of that? Sometin

[2022-09-28 11:50] Thelmachido commented on #39839
This is still the case, the changes you would have made can be seen on the front end but not while you are editing the page.

Not sure if FSE supports changing colors for pages in the backend at the moment.

WordPress 6.0.1
Gutenberg 14.1.1

[2022-09-28 11:56] t-hamano commented on #44515
I was just investigating this issue as well, and I think `useResizeObserver` is not getting a width that takes borders into account.

https://github.com/WordPress/gutenberg/blob/cbaa18495869932e04eaa1cac82b86001053d352/packages/edit-site/src/components/global-styles/preview.js#L98-L109

I also agree with not displaying borders in the preview, as a very thick border would squash the preview area.

[2022-09-28 11:57] jasmussen commented on #44465
There's a design for this in #43433 👌

[2022-09-28 11:57] #44465 closed, assigned to nobody

[2022-09-28 12:00] t-hamano commented on #44513
Hi @Romaixn,
What is the version of wp-env? I believe this problem was fixed in version 5.1.1.

https://github.com/WordPress/gutenberg/blob/trunk/packages/env/CHANGELOG.md#511-2022-08-16

[2022-09-28 12:05] Romaixn commented on #44513
Hi @t-hamano, 5.3.0 !

EDIT: I added it to description of issue

[2022-09-28 12:08] jasmussen commented on #43433
See also #43496 which is some initial work to address this issue.

[2022-09-28 12:14] jasmussen commented on #44467
A couple of mockups from [this Figma](https://www.figma.com/file/vmHxwa8WhiyiP9poe2om9J/Inspector-Panels?node-id=13371%3A33411) put controls in the Inspector panel for both the main container:

<img width="688" alt="Container" src="https://user-images.githubusercontent.com/1204802/192775689-c4cc37dd-9f6e-4610-8667-09d6133b2127.png">

And for inner blocks:

<img width="364" alt="Inner block" src="h

[2022-09-28 12:20] darthdurden opened #44527 "Updating Alt Text on Image within Gallery Block is slow with large galleries"
### Description

When creating an image gallery with a large number of images, using the Alt Text field on the image block editor becomes almost unuable. I suspect that every keystroke is causing the entire gallery block to re-render thus delaying the display of the typed strokes.

### Step-by-step reproduction instructions

1. Create a new gallery block
2. Add 100 reasonably large images to the g

[2022-09-28 12:23] jasmussen commented on #44357
Just thinking through what design this needs, here's a GIF showing an image sized up beyond its intrinsic size:

![snapping](https://user-images.githubusercontent.com/1204802/192776938-a26130c0-d458-4787-9e09-d49e1be31f51.gif)

Once you reach a particular wide or full snap-point, what happens? One thought is to show a semi-transparent image overlay at those wide and full positions, and so when rel

[2022-09-28 12:23] jasmussen commented on #44357
Just thinking through what design this needs, here's a GIF showing an image sized up beyond its intrinsic size:

![snapping](https://user-images.githubusercontent.com/1204802/192776938-a26130c0-d458-4787-9e09-d49e1be31f51.gif)

Once you reach a particular wide or full snap-point, what happens? One thought is to show a semi-transparent image overlay at those wide and full positions, and so when rel

[2022-09-28 12:37] jasmussen commented on #44362
As a site editor equivalent to content.php, it should be possible to edit this in isolation, in focus mode. That way you can focus just on one generic post where one can manipulate things without being confused by all the content.

As a way to address this, could we leverage the fact that "Post Template" inside a query loop already mostly functions like this, and simply add an "Edit" button to its

[2022-09-28 12:56] jasmussen commented on #42919
For anyone subscribed, this issue has been updated with design ready for a dev to pick up!

[2022-09-28 13:01] t-hamano commented on #44513
Sorry I could not reproduce it, although it is a little different from your environment.
I will wait for others to test.

- OS: Ubuntu 20.04.4 LTS (on Windows WSL2)
- Docker version: 20.10.17
- Docker Compose version v2.10.2
- wp-env version: 5.3.0

[2022-09-28 13:13] jasmussen commented on #44193
Should we zero in on this one for starters?

<img width="1600" alt="integrated-list-view" src="https://user-images.githubusercontent.com/1204802/192787452-280bab60-3fde-4f8c-84b8-157594b03962.png">

That is:

* List view and Outline tabs at the top
* Outline tab only available if the document has heading blocks
* Outline stats fixed at the bottom, shown on both tabs

[2022-09-28 13:24] jameskoster commented on #44467
So the inner blocks Layout panel would include a Width tool, and once added would produce something roughly like (screengrabbed from https://github.com/WordPress/gutenberg/issues/42385):

<img width="204" alt="Screenshot 2022-09-28 at 14 21 12" src="https://user-images.githubusercontent.com/846565/192789748-02617606-e59c-41d2-834a-d9ecb39c1f78.png">

I think that makes sense.

[2022-09-28 13:27] jasmussen commented on #44467
Let's see if we can put together the pieces from that Figma starting point then.

[2022-09-28 13:30] jameskoster commented on #44357
I was thinking it would just "stick" to the snap point for _n_ pixels while the mouse is held down. I suppose it's a little tricky because depending on the containers justification the image width could expand both left and right in those positions, unlike the uni-directional scaling in your gif.

[2022-09-28 13:37] t-hamano opened #44530 "[WP6.1] Calender and Archive blocks are broken when fontFamily is changed"
### Description

Originally reported in trac: https://core.trac.wordpress.org/ticket/56678

The following two blocks, which support typography, cause errors when changing the font family.

- core/archives
- core/calendar

This does not occur when the gutenberg plugin is enabled, nor in other blocks that support font families. I expect this is a problem unique to dynamic blocks using `ServerSideRen

[2022-09-28 13:38] jameskoster commented on #44362
We could, that would be a nice enhancement. But it only satisfies one half of this issue.

If it is not made clear that it is synced, it might be too easy to confuse editing in isolation as editing _a single post_.

[2022-09-28 13:39] jasmussen commented on #44357
Right, that's exactly the problem, if we actually changed the currently selected block itself, the layout around it can potentially shift and jump because dimensions vastly change. So it may be better to show an overlay which it snaps to on release.

Perhaps the overlay doesn't even need to be a copy of the image, perhaps it's simply a blue indicator of sorts in the width of the wide and full poin

[2022-09-28 13:40] t-hamano commented on #44530
It is probably a REST API issue, as the endpoint displays the following error:

[code]

[2022-09-28 13:54] t-hamano commented on #44530
This issue has been resolved in #43937 and is closed.
I will also comment in #43937 whether this PR should be backported to WordPress 6.1.

[2022-09-28 13:54] #44530 closed, assigned to nobody

[2022-09-28 13:55] ockham commented on #44434
Thanks @oandregal @andrewserong @talldan for helping track this down!

Upon reading @andrewserong's [comment](https://github.com/WordPress/gutenberg/issues/44434#issuecomment-1260270326), especially this part:

...I had one idea off the top of my head: It seems like there's actually a few unneeded function calls, mostly due to the fact that templates and template _parts_ share a lot of logic. Spec

[2022-09-28 14:15] Thelmachido commented on #39861
Hi @andrea-calligaris I wasn't able to reproduce this as shown in the video below:

https://user-images.githubusercontent.com/41231764/192802492-914a8ee4-bfe7-4bc4-942b-d75509f35760.mov

Please feel free to re-open if the steps taken to reproduce are not correct.

WordPress 6.0.2
Gutenberg 14.1.1

[2022-09-28 14:15] #39861 closed, assigned to nobody

[2022-09-28 14:19] Thelmachido commented on #39878
Hi @andrea-calligaris I am not able to reproduce this with the latest version of WP & Gutenberg as shown below:

https://user-images.githubusercontent.com/41231764/192803485-6c8af4b2-fa4a-43ed-af88-fbd304730dcd.mov

Are you able to provide more information about your experience and your testing environment?

WordPress 6.0.2
Gutenberg 14.1.1

[2022-09-28 14:21] ockham commented on #44434
Uh, nevermind. I think the line we're calling is [this](https://github.com/WordPress/wordpress-develop/blob/f9769f5eaea747a2183d912d649046a5dbb0d291/src/wp-includes/block-template-utils.php#L374) (rather than [this](https://github.com/WordPress/wordpress-develop/blob/f9769f5eaea747a2183d912d649046a5dbb0d291/src/wp-includes/block-template-utils.php#L354)), so it goes through `_add_block_template_pa

[2022-09-28 14:30] Thelmachido commented on #39924
This is still being [worked on here](https://github.com/WordPress/gutenberg/pull/39957)

[2022-09-28 14:36] paaljoachim commented on #34757
I noticed this missing as I am exploring Twenty Twenty Two for a site with a lot of written material. I am hoping it can be added soon. Thanks!

[2022-09-28 14:38] paaljoachim commented on #23745
Here is an example from a site I am recreating with Twenty Twenty Two which has a lot of written material.
The submenu feels very crammed.

![Screenshot 2022-09-28 at 16 37 30](https://user-images.githubusercontent.com/5323259/192808191-8279c7fa-f1cb-43cf-93c6-cc52faf73cb2.jpg)
I assume I will need to use a bit of CSS to give the submenu more air.

[2022-09-28 14:44] Thelmachido commented on #39943
I will remove the needs Testing label, we can still reproduce this.

[2022-09-28 14:53] t-hamano commented on #41429
I could not reproduce it on Windows.
I was able to open correctly in all of the following tests.

Test Case:
- WordPress 6.1 / Twenty Twenty-Three / Chrome - Windows default tool
- WordPress 6.1 / Twenty Twenty-Three / Chrome- 7-zip
- WordPress 6.1 / Twenty Twenty-Three / FireFox - Windows default tool
- WordPress 6.1 / Twenty Twenty-Three / FireFox - 7-zip
- WordPress 6.0 / Twenty Twenty-Two / Ch

[2022-09-28 15:34] webd-uk opened #44533 "Permission Errors for environments which do not support OPTIONS requests"
# Update

It's been identified that the core issue is that some environments don't support `OPTIONS` requests and thus the permissions requests from `@wordpress/core-data` are failing resulting in this error.

This is not specific to the Nav block.

------

### Description

When editing or creating a Navigation Menu the following errors are shown and it doesn't work ...

'You do not have permissio

[2022-09-28 15:38] jameskoster commented on #44357
Yeah that's probably worth a try. Perhaps with some text or icon inclusion to explain what is going on.

[2022-09-28 15:45] robrobsn commented on #44404
@tellthemachines Thank you for the detailed reply. The solution is disappointing, though.

1. Isn't it still an error that nested 'regular in full' and 'wide in full' ( see first screenshot ) have no padding and are flush to the viewport if you reduce the viewport width? How I understand it, the idea of root padding and aware alignment is that non-alignfull blocks have a visual gap to the viewport

[2022-09-28 16:01] ockham commented on #23086
Assigning to @michalczaplinski -- Michal will look into disabling the block in the Site Editor 🙂

[2022-09-28 16:03] jameskoster commented on #44467
Something like this:

<img width="666" alt="Screenshot 2022-09-28 at 16 54 33" src="https://user-images.githubusercontent.com/846565/192827221-b4bef67b-f4e0-4f99-8173-c16fac73b727.png">

Looking at this raises some questions...

* What happens if I set all child blocks in a container to 100px, but the overall container is only 200px wide? Should there be some logic to restrict the values?
* Hug se

[2022-09-28 16:04] ockham commented on #43395
@michalczaplinski @c4rl0sbr4v0 and I will try to repro this. Maybe this is related to #44434? 🤔

[2022-09-28 16:06] ockham commented on #43660
@c4rl0sbr4v0 @michalczaplinski and I will look into this.

[2022-09-28 16:18] jameskoster commented on #44461
100%. I think it's vitally important that we place template editing / management at an appropriate altitude in the UX. It's over-emphasis one of the biggest overall sources of confusion in the site editor.

That's certainly an option, though I find the "Site" button a little awkward, and it's quite buggy (https://github.com/WordPress/gutenberg/pull/42807, https://github.com/WordPress/gutenberg/iss

[2022-09-28 16:36] skorasaurus commented on #41756
Closing since this should be fixed by #41287 ; please reopen if you are still experiencing this.

[2022-09-28 16:36] #41756 closed, assigned to nobody

[2022-09-28 16:49] annezazu commented on #27521
@talldan or @carolinan  might either of you have time in the coming weeks as 6.1 settles?

[2022-09-28 17:08] annezazu commented on #44211
How strange. I just tried to replicate and couldn't. I'll close this out and see if anyone else runs into it with the FSE Outreach program :)

[2022-09-28 17:08] #44211 closed, assigned to nobody

[2022-09-28 17:20] annezazu commented on #44533
cc @scruffian in case you have any insight here!

[2022-09-28 17:36] jrfnl opened #44536 "PHP 8.2 | Gutenberg is introducing deprecated callables into WP Core"
Copied over from https://core.trac.wordpress.org/ticket/56467#comment:242 for visibility

While looking at the test runs of WP Core, I've found that [WP Core PR 3199](https://github.com/WordPress/wordpress-develop/pull/3199) as committed in [WP Core 54156](https://core.trac.wordpress.org/changeset/54156) introduces four new incompatibilities with PHP 8.2.

The tests committed with that same PR are

[2022-09-28 18:12] joedolson opened #44539 "New block: core/transcript"
## What problem does this address?

A text transcript is an important type of alternative content for timed media, like audio and video. WordPress offers standard blocks for displaying audio and video, but does not provide a standardized way to display transcripts.

## What is your proposed solution?

A transcript block could ensure a stable and standardized way to add alternative content for time

[2022-09-28 19:00] ockham commented on #44434
I've filed an alternative fix here, based on y'all's findings: https://github.com/WordPress/wordpress-develop/pull/3359 😊

[2022-09-28 19:14] kathrynwp commented on #39830
Heya @mirka, I'm just popping round to check whether this is still an active/planned feature, and if so, whether there's anything that can be done to move it along. Thanks for having a look! (I've left the automatically added "Needs Testing" label for now.)

[2022-09-28 19:21] kathrynwp commented on #40219
Given @carolinan's comment above, as well as their note on the issue they linked to,

...I'm going ahead and closing this one out, since it looks like nothing further is going to be done on the Gutenberg side.

[2022-09-28 19:21] #40219 closed, assigned to nobody

[2022-09-28 20:00] jrfnl opened #44541 "PHPCS: use the correct PHPCompatibility ruleset"
The current PHPCS ruleset `phpcs.xml.dist` uses the `PHPCompatibility` ruleset to flag code which could be incompatible with the supported PHP versions.

Please correct me if I'm wrong, but as far as I know, the (PHP) code in this package is always used in the context of WordPress, whether it is merged back into WP Core or whether this package is used as a WP plugin.

For code used in the context

[2022-09-28 20:54] ya123123 opened #44546 "[WP 6.1] Fluid and spacing settings in theme.json are lost when theme export"
### Description

When I use theme export,

* settings.spacing.spacingScale.steps -> field is lost
* settings.spacing.spacingSizes.slug -> quotation is lost
* settings.typography.fluid -> field is lost

### Step-by-step reproduction instructions

1. Use WP 6.1 nightly and Twenty Twenty Three without gutenberg plugin
2. Go to the site editor.
3. Select Three dots menu > Export

### Screenshots, scre

[2022-09-28 22:01] jrfnl commented on #43333
I fully support the efforts being made here.

The Gutenberg ports to WP Core have in recent merges introduced quite some new PHP 8.1 and 8.2 incompatibilities, which could have been avoided if the tests were run on all appropriate PHP versions.

These kind of new incompatibilities being introduced via new code is highly discouraging for the people trying to make WordPress Core compatible with more

[2022-09-28 22:10] AlkoKod commented on #38890
Same when registered with javascript.

[2022-09-28 22:39] jrfnl commented on #18502
After a discussion with @anton-vlasenko regarding issue #44151, I suggested the exact same thing: start using the `WordPress-Extra` ruleset, and in particular, make sure the `PrefixAllGlobals` sniff is activated.

I've done an initial pass at updating the ruleset and fixing up issues which would start to get flagged - either straight away or in the near future via WPCS 3.0.0 -.
The [PRs I've pulle

[2022-09-28 23:07] souricardomaia commented on #19103
Hey there, any update about this?

[2022-09-28 23:27] noisysocks commented on #42919
I'll plop this on my todo list since it's near to what I've been working on 🙂

[2022-09-28 23:48] github-actions[bot] opened #44553 "[Flaky Test] content should load, making the post dirty"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
content should load, making the post dirty

## Test path
`/test/e2e/specs/editor/local/demo.spec.js`

## Errors

<time datetime="2022-11-09T18:15:38.168Z"><code>[2022-11-09T18:15:38.168Z]</code></time> Test passed after 1 failed attempt on <a href="https://github.com/WordPre

[2022-09-28 23:58] andrewserong commented on #44434
Great work @ockham, that feels much closer to an ideal fix. Just left a comment over on that PR — I think there's still a bit more fussing we need to do with the clearing the resolver cache to get the Button styling in TwentyTwentyTwo working again, but I think we're heading in the right direction!

[2022-09-29 00:16] michalczaplinski commented on #23086
I've opened https://github.com/WordPress/gutenberg/pull/44554 to hide the block when in the Site Editor but I ran out of time to fix it completely today (more details in the PR).

[2022-09-29 01:33] andrewserong commented on #41434
Now that the layout refactor (#40875) and style engine optimisations (e.g. https://github.com/WordPress/gutenberg/pull/42452) have been backported for WP 6.1, I'll close out this issue now.

The main points that have been addressed:

* Common base layout rules are attached to a layout-type based classname (e.g. `is-layout-flex`, `is-layout-flow`, `is-layout-container`) and are only output once.
*

[2022-09-29 01:33] #41434 closed, assigned to andrewserong

[2022-09-29 01:35] glendaviesnz commented on #44546
I have a fix for the spacingScale value [here](https://github.com/WordPress/gutenberg/pull/44555), still trying to work out the fluid font value as it isn't related and only happens in 6.1, not GB trunk

[2022-09-29 02:10] ndiego commented on #36528
This no longer seems to be an issue in the latest version of WordPress, Gutenberg and with TT3.

[2022-09-29 02:10] #36528 closed, assigned to nobody

[2022-09-29 02:23] andrewserong opened #44557 "Post Template: Refactor ad hoc flex container to use layout block support flex type"
The Post Template block currently uses an ad hoc approach to generating flex layout rules for its option for a grid view. This ad hoc approach adds an `is-flex-container` classname, linked to some hard-coded rules in its `style.scss` file, here: https://github.com/WordPress/gutenberg/blob/61152833b45a6eefc3f2fb1966c7e315ab9d8d44/packages/block-library/src/post-template/style.scss#L13

It would be

[2022-09-29 02:48] glendaviesnz commented on #44546
The fluid flag was a different issue and a [potential fix for it is here](https://github.com/WordPress/wordpress-develop/pull/3362)

[2022-09-29 03:36] #44121 closed, assigned to glendaviesnz

[2022-09-29 03:46] ramonjd commented on #44546
Thank you @mayuge3 Also reported in https://core.trac.wordpress.org/ticket/56684 Props to you!

[2022-09-29 03:54] carolinan commented on #41857
The missing link color is included in the new theme support, -but there is no way to only support the link color, if you do not want to enable all the other appearance tools like the blockgap.

[2022-09-29 03:54] tellthemachines commented on #35849
This is another one for when we migrate Layout to ToolsPanel then 😄

Yes, that would help! We should do something about Move up and down buttons too; would it be ok to make the buttons wider? I don't think we'd want the font size smaller than the current 12px otherwise it becomes unreadable.

[2022-09-29 04:12] talldan commented on #44536
@jrfnl Is there any way the tests can be made to fail if there are such critical issues? It'd be great if continuous integration could help prevent these kind of errors.

edit: I'm also wondering how a developer can check the logs. I don't see anything being logged in the github check - https://github.com/WordPress/wordpress-develop/actions/runs/3084932834/jobs/4987654678.

[2022-09-29 04:26] ramonjd commented on #44536
Thanks for creating this issue and the great explanation.

I believe the use of `static::` was in imitation of the WP Theme JSON class, which, at least in the Gutenberg plugin relies on extensibility to overwrite class functionality. [Example](https://github.com/WordPress/gutenberg/blob/8b9df32ce464062c189404c04223c4d7bb08cddd/lib/compat/wordpress-6.1/class-wp-theme-json-6-1.php#L17)

Switching th

[2022-09-29 04:35] tellthemachines commented on #44471
Was this ever working before? A quick test shows it doesn't work in 6.0.2.

[2022-09-29 04:37] ya123123 commented on #44546
Thank you!

I'm not familiar with technical details, so I opened [another issue #214 at TT3](https://github.com/WordPress/twentytwentythree/issues/214), is it related to this issue's fluid problem...?

[2022-09-29 04:48] #44541 closed, assigned to jrfnl

[2022-09-29 04:59] jrfnl commented on #44536
@talldan Well, to start, it would help if the tests for the PHP code in GB would _actually be run on PHP 5.6 up to PHP 8.2_, instead of only being run on PHP 7.4.... 😢

See: https://github.com/WordPress/gutenberg/issues/43333#issuecomment-1261508967

That's correct as you are looking in the wrong place, though I have to admit, it's on my pet peeve list that the PHPCompatibility workflow hasn't bee

[2022-09-29 05:04] andrewserong opened #44560 "LayoutPanel: Switch to using the ToolsPanel"
This issue is to propose / track progress on switching the [`LayoutPanel`](https://github.com/WordPress/gutenberg/blob/cf0b87ad2e0893324ee358c669432ec84e6be038/packages/block-editor/src/hooks/layout.js#L135) used by the layout block support over to using the `ToolsPanel` instead of `PanelBody`.

As new controls are added to the `LayoutPanel`, the area of the layout panel within the inspector contr

[2022-09-29 05:04] jrfnl commented on #44536
@ramonjd thank you for providing this context. Highlights again that we all need to be careful when copying over code patterns as they may not be appropriate for another class.

👍🏻

A comment is a good first step, but what about making the class `final` ? That way we can prevent the class from ever being extended.

(After all, we all know that plugins will try to do things if they can, no matter w

[2022-09-29 05:05] andrewserong commented on #35849
I think this would be great to do! I don't think we already have an issue for this particular task in isolation, so I've written it up in https://github.com/WordPress/gutenberg/issues/44560 so that it can be picked up when the time is right 🙂

[2022-09-29 05:09] ramonjd commented on #44536
I don't see any issues here. Given that it'd be great to avoid the compat woes that exist for WP Theme JSON, I'm for it.

cc @aristath and @andrewserong

Patches incoming... !

In fact it was already raised by @costdev in the [original backport PR](https://github.com/WordPress/wordpress-develop/pull/3199#discussion_r966604279)

[2022-09-29 05:17] andrewserong commented on #44536
Same here — so far I think the intention has been for the style engine classes to be mostly used internally in WordPress, and for public functions to be used as the entry point for other use cases, e.g. plugins and themes. But I believe Ari has had more of the plugin/theme use case in mind so might have some insights to add there, too.

[2022-09-29 05:38] #11756 closed

[2022-09-29 05:57] dberry93 opened #44563 "Broken keyboard shortcut for text selection"
### Description

Deleting content by first using the keyboard shortcut (shift + arrow key) to select content spanning multiple blocks results in the incorrect amount of content being deleted and leaving the editor's DOM in an unstable state that can result in editor errors.

### Step-by-step reproduction instructions

Scenario 1:

1. Edit a post which contains multiple blocks
2. Place cursor at th

[2022-09-29 06:03] talldan commented on #44536
I suppose an option could be to run the tests on `trunk` and then on the PR and check whether the number of errors reported increased. If so, fail the job. I don't know whether that's easy to do though. It wouldn't be foolproof if the PR fixed some errors but introduced others.

[2022-09-29 06:18] adamziel commented on #40316
Yay indeed @peterwilsoncc! Now that there is a way forward, the next steps would be:

#### Tame new experimental APIs

1. Update the handbook with specific guidelines for adding experimental APIs
2. Enable different use-cases via `@wordpress/experimental`
3. Make the unpublished experimental APIs private
4. Add build warnings when new experimental APIs are exported

Related to number 2 above, here

[2022-09-29 06:44] JeromeErasmus commented on #44563
Yes confirmed. Please can we get this issues fixed

[2022-09-29 06:47] ab49 commented on #44563
Yes confirmed. Please can we get this issues fixed

[2022-09-29 06:59] BhupenT commented on #44563
Yes i am also facing this issue. Would love this to get it resolved.

[2022-09-29 07:21] draganescu commented on #42257
@jasmussen could you update the modals to include the manage menus link? We'd need to consider this is a very similar looking element and it needs some space or to be more delimited from the list view.

[2022-09-29 07:35] #42285 closed, assigned to ciampo, alexstine

[2022-09-29 07:46] draganescu commented on #44041
@sb726 this sounds interesting. Could you please offer a concrete example of:

I am not sure I understand what this means in practice.

Since query blocks are self contained in terms of their settings, what is wrong with using one query block that follows the global query and another one with a custom query in the same page?

[2022-09-29 07:48] jasmussen commented on #44560
Great ticket, thank you. One addition, when we move this to become a tools panel, we should hide by default the option to allow wrapping:

<img width="282" alt="Screenshot 2022-09-29 at 09 46 37" src="https://user-images.githubusercontent.com/1204802/192971767-2374d7a0-5852-4049-be27-1a7ec9ea0c7c.png">

As a separate sidenote on the components (cc @ciampo), the justification icons should all be gr

[2022-09-29 07:49] stefanfisk commented on #39833
@Thelmachido I discovered this issue when I tried using `<ToggleControl>` in a table. Since I could not hide the label, I instead implemented my own toggle control.

[2022-09-29 08:01] jasmussen commented on #44467
Looks good!

(Nit: hould use the 40px heights, padding and border color in input looks wrong, as does the padding on the segmented control.)

We respect what would happen if you wrote this CSS. It breaks out of the boundaries. CSS is awesome.

It does, yes, but it's a way shorter word than "constrain width to content", and even "content width", and the help text helps.

Seems worth moving this int

[2022-09-29 08:08] jasmussen commented on #35849
I'd like to think that the block toolbar itself could use a further refactor. Many of the items inside are abs-positioned and have fixed widths, I would imagine that we could move towards varous flex properties here instead. A flex-basis as wide as the icon button should be could potentially grow automatically for wider text.

[2022-09-29 08:22] talldan commented on #44513
@Romaixn Is that a local version of the package? If so, there's a chance you could have a global version installed that's an older version.

[2022-09-29 08:26] jasmussen commented on #42257
Can we include the "Manage menus" link inside the menu dropdown? It feels contextual to that, since the link itself only makes sense if you have more than 1 menu created.

[2022-09-29 08:53] talldan commented on #43333
I had a look at this in #44566. Have left some comments about the issues. I welcome commits to the PR if anyone has ideas for improving things.

One thing I'm unsure about is how many jobs we can add or if there's any kind of limit to our github actions. (I'm guessing there is)

[2022-09-29 09:12] Romaixn commented on #44513
@talldan It's the version installed with npm -g :

![Capture d’écran du 2022-09-29 11-09-58](https://user-images.githubusercontent.com/18333296/192991296-53ea38f0-a864-4227-94a8-b14cfa4e70d7.png)

So I think it's the good version..

[2022-09-29 09:13] draganescu commented on #42257
We just removed the manage menus from that drop down. It was extremely out of context and also did a very surprising action for that dropdown, navigating away to a new admin page - while all other options act on the selected navigation block. Let's try something else :)

Also on the idea of a "create new" item, should this be a property of the list view in general? Right now, one has to add before

[2022-09-29 09:15] iamtakashi commented on #38990
+1

At the moment, users need to upload a specific aspect of featured images to shape a certain layout.

[2022-09-29 09:24] jameskoster commented on #44471
I'd never checked until now, so I don't know. I'm surprised it never came up 🤔

[2022-09-29 09:31] #38411 closed, assigned to nobody

[2022-09-29 09:38] jasmussen commented on #42257
To me the placement is about managing prominence. Ideally managing multiple menus is something you should not be doing 80% of the time. So wherever it should sit should be easily findable, but not a primary action. I do agree it being an external link is one challenge, another is the experience of landing on that page where it looks like multiple posts: it's not a good place to edit your menus. If

[2022-09-29 09:52] jasmussen commented on #42257
I'm not convinced in the following since it isn't a pattern we've used elsewhere. But an alternative is a settings button to the right of the dropdown:

<img width="364" alt="Frame 490" src="https://user-images.githubusercontent.com/1204802/193000605-ad038b43-525b-4140-930b-4781bc603556.png">

[2022-09-29 11:06] jameskoster commented on #44467
We really need to update our Figma components :D

Here's a quick [codepen](https://codepen.io/jameskoster/pen/vYjdwVX) I made to explore the options. Observations:

I was surprised to see that children with Fill width don't occupy **equal** horizontal space by default. A % `width` value had to be added based on the number of items in the row. This is a bit of a shame as it means we'd need to do so

[2022-09-29 11:54] sergiu-radu commented on #40323
Hey guys, any updates on this issue?
Do you plan to bring back the `wp-block-image` container to left/right aligned images?

Without it everything breaks and adding wrap the image inside a group is not great at all because people will have to edit all their posts manually...

[2022-09-29 11:55] jameskoster commented on #44229
Isn't the label alone adequate? It seems more important for the default size _to be selected_ when the control is present?

![label](https://user-images.githubusercontent.com/846565/193024856-a578891d-c8e6-4be7-a603-bd491184da0a.gif)

[2022-09-29 12:10] Thelmachido commented on #39456
Hi @ellatrix there hasn't been much movement on this one or the PR  you linked lately.

Are there any plans to continue moving this forward?

[2022-09-29 12:12] Thelmachido commented on #39457
Thanks @gaambo  I will remove the needs testing label

[2022-09-29 12:18] Thelmachido commented on #39467
The option to resize the social icons is still as shown below:

<img width="571" alt="Untitled 2" src="https://user-images.githubusercontent.com/41231764/193028964-6f5a432e-b640-423d-844a-69069f806976.png">

WordPress 6.0.2
Gutenberg 14.1.1

[2022-09-29 12:21] Thelmachido commented on #39602
Hi @getdave it looks like this is on the to-do list.

Just checking if there's still a plan to move this forward.

[2022-09-29 12:34] jasmussen commented on #44229
Oh interesting, I read the brief as _when no font size is set, suggest which point on the slider it would match_. 🤔

[2022-09-29 12:44] muhammadharoonbro opened #44577 "When I'm trying to use Query Loop block, it is not giving me any option to filter via custom field."
### Description

When I'm trying to use Query Loop block, it is not giving me any option to filter via custom field.

### Step-by-step reproduction instructions

Try using Query Loop block and you will see it for yourself. Because I'm trying to fetch all results where students' subject is English (acf field).

### Screenshots, screen recording, code snippet

_No response_

### Environment info

_N

[2022-09-29 12:47] jameskoster commented on #44229
If no font size is set (it is inherited from css), then we can't determine which value it would match? 🤔

I saw this as more about connecting the setting in global styles to the control we find when editing locally. Apologies if that's separate.

[2022-09-29 12:48] muhammadharoonbro commented on #44041
Please add filter by custom field in the Query Loop block.
I'm trying to use Query loop and filter all posts (students) who have English field in a custom field.

[2022-09-29 12:52] jasmussen commented on #44229
The font size can be set in Global Styles, in which case we would know whether it matched a given notch in the slider.

[2022-09-29 13:09] cbravobernal commented on #43395
I tried applying [#3352](https://github.com/WordPress/wordpress-develop/pull/3352) and also [#3359](https://github.com/WordPress/wordpress-develop/pull/3359/) and it didn't work. So I will keep investigating.

[2022-09-29 13:18] #44515 closed, assigned to ndiego

[2022-09-29 13:49] jameskoster commented on #44229
We should. But it hasn't been implemented here. I think that's the issue?

As an example, here's my font size setting from the Typography section of global styles:

<img width="280" alt="Screenshot 2022-09-29 at 14 45 58" src="https://user-images.githubusercontent.com/846565/193049022-e20780c9-54ac-432c-9b84-e476d7f427a4.png">

But when I go to edit the Paragraph block in global styles, or just se

[2022-09-29 13:54] jasmussen commented on #44229
Right, that's the baseline, and works okay, I think the question is whether we need more than that.

[2022-09-29 13:58] draganescu commented on #42257
I think moving it to the advanced area makes sense, under the delete menu button.

[2022-09-29 14:05] jameskoster commented on #44229
Indeed, and my suggestion was that if the correct value is highlighted in the control, isn't the label denoting the default adequate? So if I select a paragraph in a post, I see this in the Typography panel:

<img width="278" alt="Screenshot 2022-09-29 at 15 03 55" src="https://user-images.githubusercontent.com/846565/193053192-c601f85a-0118-40e7-adc2-e9941e90b6f2.png">

[2022-09-29 14:05] desrosj commented on #43333
Wanted to provide clarity here. GitHub Actions are not limited by the volume of jobs, but rather how they run, timing, and concurrency.

You can schedule as many workflows as you'd like, with these exceptions:
- A job matrix can generate a maximum of 256 jobs per workflow run ([source](https://docs.github.com/en/actions/learn-github-actions/usage-limits-billing-and-administration#usage-limits))
-

[2022-09-29 14:10] mikachan commented on #44510
Related issues from TT3:

https://github.com/WordPress/twentytwentythree/issues/202
https://github.com/WordPress/twentytwentythree/issues/219

[2022-09-29 14:27] desrosj commented on #43333
To expand on the idea of the JSON file, external projects could also include use this to construct their testing matrix to match the one Core uses instead of a reusable workflow.

[2022-09-29 14:27] jrfnl commented on #44536
I am actively working, together with some other people, to get it down to zero and remove the `continue-on-error` for both PHP 8.1 and PHP 8.2. We are nearly there, only a few more issues to go (which is why anything new being introduced now really stands out like a sore thumb...)

[2022-09-29 14:45] jameskoster opened #44581 "Shuffle content blocks when `templateLock` is `contentOnly`"
When a container has `templateLock` is `contentOnly` applied, it would be neat to offer a way to cycle between patterns that utilise the same 'content' blocks.

Here's a demo:

![shuffle](https://user-images.githubusercontent.com/846565/193062992-5abc5efd-8486-4d61-bb7e-85b6bee451cb.gif)

Note how the layout / colors etc change, but the content blocks (heading, button, image) remain consistent.

[2022-09-29 14:50] jameskoster opened #44582 "Surface related patterns in the template inspector"
When editing a template or template part, it would be nice to find associated patterns in the Inspector.

For template parts that might look something like:

![template](https://user-images.githubusercontent.com/846565/193064234-81da73ae-3d60-4746-a7d2-343f938f055e.gif)

It could work the same for templates too, but we'd need a way for patterns to be associated with specific templates. For example

[2022-09-29 15:02] jrfnl commented on #43333
Thanks @talldan and @desrosj for your efforts.

I have always wondered about why the PHP tests here are being run via NPM and Docker instead of having a plain PHP based workflow.

A plain PHP workflow gives much more flexibility and also allows for testing "not ideal" environments, which the current setup really doesn't allow for.

An example workflow for a plain PHP based setup for integration te

[2022-09-29 15:18] jameskoster opened #44585 "Zoom out view when the "Patterns" in the Inserter is selected"
Related to https://github.com/WordPress/gutenberg/issues/44419

When inserting patterns, particularly via drag-and-drop, it feels a bit cumbersome if you want to place the pattern towards the bottom of the document. We can potentially fix this by invoking the [zoomed-out](https://github.com/WordPress/gutenberg/pull/41156) view automatically when you navigate to the Patterns tab in the Inserter.

H

[2022-09-29 15:47] marshallshelly opened #44586 "Gutenberg Attributes not showing when using default"
### Description

I used attributes in blocks I made for Gutenberg. The attributes had default values. It works perfectly in the editor but after clicking save, it does not show up in the PHP rendered save block (in `$attributes`)

First block
[code]
To see if all the attributes are rendering correctly, I tried rendering them to UI in PHP save block.
[code]
But only the `images` attributes show up,

[2022-09-29 15:48] ntsekouras commented on #44041
Without digging deep, I think that the difference you're describing and I agree with what @draganescu says. That was a bug where we retained some query attributes even if we had set to `inherit`, and even if it served your use case, unfortunately it was wrong implementation. It would be too confusing to have a setting to `inherit` but also have filters.

Having said that, I understand that folks h

[2022-09-29 16:10] draganescu commented on #42257
@jasmussen what should we do about the always expanding nature of the nested list view:

https://user-images.githubusercontent.com/107534/193082775-f180abed-9b2c-49b8-9d1f-86cbb2ce9090.mp4

Edit: we could at least limit the overflow to the list view's container and leave the rest of the inspector solid.

[2022-09-29 16:14] xaviranik commented on #39761
Hello @kathrynwp, I will be working on the addressed feedback and will be taking it forward with this issue soon. Thanks to you!

[2022-09-29 16:34] draganescu commented on #44041
Cool! I was not even aware of the cool extensibility options (via variations) that are upcoming and so well documented now. @sb726 do you think we can close this now?

[2022-09-29 16:48] sb726 commented on #44041
@draganescu

(I have tried to upload screenshots but for some reason this is not currently working so please see descriptions)

I hope this makes the use case clear. This refers to a **category** template.

First you have to **switch off** inherit query from template (see below)

[image not loading: In the editor go to a category template with a query block. Click on the query block and view setti

[2022-09-29 16:50] sb726 commented on #44041
@draganescu

(I have tried to upload screenshots but for some reason this is not currently working so please see descriptions)

I hope this makes the use case clear. This refers to a **category** template.

First you have to **switch off** inherit query from template (see below)

[image not loading: In the editor go to a category template with a query block. Click on the query block and view setti

[2022-09-29 16:52] mikachan opened #44587 "Separator block does not render correctly inside a Query Pagination block"
### Description

I want to add a nested Separator Block to a Query Pagination block so that the Separator conditionally displays based on the Query Pagination.

However, when I try this, on the front end, the `hr` renders with 0px width and height. I believe this is because the Query Pagination block uses `display: flex`, so I'm wondering if there's some CSS we could add to the Separator Block to

[2022-09-29 17:07] desrosj commented on #43333
Testing outside of Docker would certainly simplify what is needed to share testing configurations across Core and Gutenberg (and the wider ecosystem) since the Core Docker implementation is different than the `wp-env` one.

With GitHub Actions, having a consistent environment is not as problematic as it was on Travis-CI, which I believe, was one argument for using the Docker environment to begin w

[2022-09-29 17:18] jrfnl commented on #43333
What about if I set up and pull a PHP-based test workflow + PHPCS workflow for the Gutenberg repo **_now_** to at least prevent more issues being introduced into WP Core ?
And then after WP 6.1 has been released, we can revisit this for WP Core and explore re-usability of (parts) of the workflows.

What do you think @desrosj  @talldan ?

[2022-09-29 17:29] jrfnl commented on #44536
@talldan FYI: https://github.com/WordPress/wordpress-develop/pull/3368

[2022-09-29 17:49] mtias commented on #44229
Selecting M explicitly for a paragraph is not the same as M being the inherited default when nothing is locally set but M is the most immediate value passed in the tree.

[2022-09-29 18:14] desrosj commented on #41857
I'd like to see this solved in the broader context of "moving features and functionality out of experimental" and "not merging experimental features into Core" (#40316). Is there any reason why the block editor cannot implement something to keep track of things like this, fire `__doing_it_wrong()` errors when the old way is being used to inform developers that their code needs updating, and then a

[2022-09-29 18:14] draganescu commented on #42257
Playing more with this, I find that we really need to think this through IMO - any action is weird in this context. For instance, duplicating a link block would select the block. We can't disable this normal behavior all over:

- either we figure out a cool UX which neatly balances items with parent mantaining the list view in the inspector
- or we dont reuse the ListView
- or we somehow have to b

[2022-09-29 19:06] dream-encode commented on #44546
I was looking to merge this, but I want to make sure this comment by @tellthemachines is addressed in the final PR:
https://github.com/WordPress/gutenberg/pull/44555#pullrequestreview-1124645012

[2022-09-29 20:30] glendaviesnz commented on #44546
thanks @dream-encode,  I will look at the issue with casting to ints on a separate PR as it will be a bit trickier to resolve and test.

[2022-09-29 21:38] ALJ commented on #44193
All the mockups above look polished and wonderful, but I disagree with shrinking the usable area of the List view (if that's what's happening).

@jasmussen in your latest List view mockups, is it the intention to have the statistics _always visible_ fixed to the bottom, with the List view items scrolling "behind" it? Another way of asking is: where are the statistics if the List view is so tall as

[2022-09-29 22:21] #44536 closed, assigned to ramonjd

[2022-09-29 23:08] glendaviesnz commented on #44281
@talldan with #44301 [cherry picked into 6.1](https://github.com/WordPress/gutenberg/pull/44301#issuecomment-1258336609) do you think we can close this one now, and open a new one for the disappearing if needed?

[2022-09-30 00:18] #44546 closed, assigned to glendaviesnz

[2022-09-30 00:20] glendaviesnz commented on #43412
I think everything that was planned for 6.1 is done now, so removing from the 6.1 editor board

[2022-09-30 00:33] tellthemachines commented on #35849
Agreed, it makes sense for the button to resize according to its contents!

[2022-09-30 01:28] talldan commented on #44281
Yeah, I'm happy with that. IMO, the disappearing thing is very low priority. I don't think most people will notice it.

[2022-09-30 01:28] #44281 closed, assigned to nobody

[2022-09-30 01:59] tellthemachines commented on #44467
Oooh this is an interesting idea! We'll need some sort of mechanism to add the child Layout panel to all the child blocks of a block with flex layout. This would potentially extend further than Row, and into blocks such as Buttons, Social Links and Navigation. I guess with ToolsPanel hiding the child controls by default, that won't be an issue?

I couldn't resist having a play with the codepen 😄 t

[2022-09-30 02:06] talldan commented on #44533
`OPTIONS` is used by much of the block editor to check for permissions, so I think the issue will extend beyond the navigation block. 🤔

Here's the code in question - https://github.com/WordPress/gutenberg/blob/0ab1a64d2dadd663099cf659342580fe14bc0c71/packages/core-data/src/resolvers.js#L310-L314

It might be possible to fallback to a `GET` request if the `OPTIONS` request fails, rather than switc

[2022-09-30 02:10] talldan commented on #44563
Thanks for reporting this. I think this is the same problem as #42213, so I'll close it as a duplicate.

The plan currently is to get a fix in place for WordPress 6.1, but a bug fix hasn't materialised yet. It is marked as high priority, so hopefully it will be fixed.

[2022-09-30 02:10] #44563 closed, assigned to nobody

[2022-09-30 02:13] andrewserong commented on #44467
It could also be very cool for both the Gallery block (to have control over column span of individual images, and replace the ad hoc width implementation), and also fine-grained control over columns in the Post Template block, too (related issue to refactor Post Template block to use the flex layout type properly: https://github.com/WordPress/gutenberg/issues/44557)

[2022-09-30 02:20] talldan commented on #44477
@ALJ There are some different selectors in the site editor:
[code]

If you're working on a block and trying to make it work in both the post editor and site editor, that may be a bit challenging.

You can probably check for the availability of 'core/edit-site' selectors:
[code]

[2022-09-30 02:24] carolinan opened #44591 "Navigation block: Submenu issues when Open on click is enabled"
### Description

This affects the editors only.
When the option Open on click is enabled in the navigation block:

- **Page list** submenus with more than one level can not be expanded. If the page list has more than one level of child pages, the first submenu item displays the arrow button, but clicking on it closes the whole submenu instead of displaying the next page. This behavior is different

[2022-09-30 02:28] carolinan commented on #41857
I agree that the problem was that
1) the theme included experimental feature in the first place
2) in 5.8, the feature was available in core, but still **named** experimental
3) in 5.9 it was removed -without replacement or doing it wrong notice.

[2022-09-30 02:30] kevin940726 commented on #31356
I can work on this next, as now we can also test dragging files in Playwright too (#42722).

[2022-09-30 02:32] tellthemachines commented on #44557
Thanks for writing this up!

I think the Grid view in Post Template is an ideal candidate for an actual grid layout type. The current implementation is shoehorning grid-like behaviour into a flex layout by forcing a certain number of cols through a complicated width calculation, whereas `display: grid` and its companion properties do this natively, plus  `gap` works exactly like flex, so we can re

[2022-09-30 02:35] andrewserong commented on #44557
Oh, that's a great idea! I suppose ideally Post Template would support any number of potential future layouts, too (e.g. a future wish-list item might be if layout support winds up eventually allowing for carousel-like behaviour for a Netflix-like scrollable row of post titles 🤔). But yes, I think a grid layout type would be a better fit here, too 👍

[2022-09-30 02:36] kevin940726 commented on #26013
I can't reproduce this either and I believe it's fixed in #30310. It looks like the `dragend` event won't be dispatched if we're dragging from outside the current window. However, it will dispatch a `dragleave` event on the drop zone, which we can use to indicate that the dragging is finished. This only accidentally fixed the issue though because we won't fire `onDragEnd` in `useDropZone` in that

[2022-09-30 02:39] talldan commented on #44586
@CodingXD Do you have some more info on your PHP implementation? If you could share an expanded code snippet that would be good.

[2022-09-30 02:49] #36373 closed, assigned to getdave

[2022-09-30 02:51] talldan commented on #36728
I can't see it in the codebase, so will close this.

[2022-09-30 02:51] #36728 closed, assigned to nobody

[2022-09-30 02:51] kevin940726 commented on #29931
Yes, I do think these actions behave similarly and should have the same underlying API 👍 . One thing I want to add is that currently we're only adding the custom `wp-blocks` type to the `dataTransfer` in drag-and-drop. We can instead also add `text/html` to allow dragging the blocks to other apps as well. Note that it's also recommended to add `text/plain` as a fallback for most blocks. Another th

[2022-09-30 02:53] talldan commented on #39128
I can't see it in the codebase, so closing this.

[2022-09-30 02:53] #39128 closed, assigned to adamziel

[2022-09-30 02:53] carolinan commented on #39989
I can confirm that this is still an issue.

[2022-09-30 03:14] carolinan commented on #44582
love this!

[2022-09-30 04:24] adamziel commented on #44410
@azaozz – #42485 was merged to continue iterating in smaller PRs, not because every kink was worked out. I agree with your points about html-entity encoding and restricting illegal chars. The former is now merged, the latter is in motion. The list of todos also reflects updating the docs.

About this point:

I don't think there's an effective way to do that. Say we restrict `onclick`. The develope

[2022-09-30 04:27] adamziel commented on #44410
A getter like `$p->getUpdatedHTML()` or a magic property like `$p->updatedHTML` could do the trick here. I mean that in addition to having `__toString()`, not as a replacement.

[2022-09-30 05:07] marshallshelly commented on #44586
Its just some HTML with tailwind classes
[code]

[2022-09-30 05:09] andrewserong commented on #44434
Building on the idea @ockham is exploring, I've opened up another alternative PR in https://github.com/WordPress/wordpress-develop/pull/3373 which tries to be a bit more explicit about when we cache bust in the Theme JSON and Resolver classes — basically, trying to make sure that a change in the number of registered blocks results in the cache being regenerated for just what we need. I think this

[2022-09-30 05:12] talldan commented on #44586
@CodingXD Ah, I was more interested in the surrounding code though for your render callback. How is it registered?

[2022-09-30 05:17] marshallshelly commented on #44586
Ah, you meant this
[code]

[2022-09-30 05:29] carolinan commented on #42963
The setting in the screenshot is only for the navigation block. As far as I understand it is correct that if the navigation link is styled, then the settings on the parent must not override the navigation link styles.

I am not 100% **when** the options were added to the navigation link block, it might have been after you created this issue. Would you be able to test this again? But with the corre

[2022-09-30 05:45] carolinan commented on #35393
Closing in favor of the typography tracking issue.

[2022-09-30 05:45] #35393 closed, assigned to nobody

[2022-09-30 05:51] muhammadharoonbro commented on #44041
No. I am not able to fetch results with same custom field value in post_meta table. Please tell me in details because Query loop block have no such option to do so.

[2022-09-30 06:01] talldan commented on #44586
I think it's related to `register_block_type`. If you have your attributes in a block.json file, the code for this function will load it and so know what the default value of attributes is if it can find the file:
https://github.com/WordPress/wordpress-develop/blob/1fe666f574bd57050d13eee489ce62f2e9c16174/src/wp-includes/blocks.php#L524-L530

But because your attributes are declared in a JavaScrip

[2022-09-30 06:01] #44586 closed, assigned to nobody

[2022-09-30 06:10] github-actions[bot] opened #44601 "[Flaky Test] allows conversion back to blocks when the reusable block has unsaved edits"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
allows conversion back to blocks when the reusable block has unsaved edits

## Test path
`specs/editor/various/pattern-blocks.test.js`

## Errors

<time datetime="2022-09-30T06:10:00.985Z"><code>[2022-09-30T06:10:00.985Z]</code></time> Test passed after 1 failed attempt on <

[2022-09-30 06:28] github-actions[bot] opened #44602 "[Flaky Test] should preserve dragged selection on move"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should preserve dragged selection on move

## Test path
`/test/e2e/specs/editor/various/multi-block-selection.spec.js`

## Errors

<time datetime="2022-09-30T06:28:50.891Z"><code>[2022-09-30T06:28:50.891Z]</code></time> Test passed after 1 failed attempt on <a href="https://

[2022-09-30 06:37] webd-uk commented on #44533
Yes, I thought that might be the case because I've seen this before in the Block Widgets interface. That time it was caused by an overzealous security plugin. If you look in the thread you'll see that there are a lot of users with the same problem and so far we have identified one user who didn't have OPTIONS enabled in their Nginx server (I'm not familiar so cannot say if OPTIONS is enabled by de

[2022-09-30 06:51] jasmussen opened #44603 "List view: Add and handle a max-width for deep nesting cases"
Extracting from #35605: if you add deeply nested blocks to your canvas, the list view can expand beyond its boundaries. Video:

https://user-images.githubusercontent.com/1270189/137196146-f4ca34ae-8fa7-4e69-8763-3b5dabfc34c2.mp4

There are some explorations in the ticket linked around how to handle that, including flattening the hierarchy as it bumps against the right edge, and adding a horizontal

[2022-09-30 06:59] jasmussen commented on #42257
Just to respond to the question of the expanding list view, there was some conversation in #35605 around how to address that, which I extracted into a separate issue in #44603.

Zooming out for a bit, the purpose here is to provide a convenient building interface for nested and complext menu structures, as an alternative to the canvas itself which has proven complex. The list view was suggested as

[2022-09-30 07:07] jasmussen commented on #44193
Good points, I love the list view too. I think we have options here. My initial instict would be for list view items to scroll behind it, since the footprint of the stats isn't that big especially at desktop breakpoints. But we can also _flex_, so that it is fixed at the bottom until list view items push it downwards. That might make those stats less findable on a large document, though. Another o

[2022-09-30 07:13] jasmussen commented on #44193
This ticket has been updated and should be ready for a dev to pick up!

[2022-09-30 07:55] djave-co commented on #39160
Hi @mrfoxtalbot and @Thelmachido, sorry I have been away for a little while. In the above you are using a link in an article. I am referring to the **LinkControl** Gutenberg component.

https://github.com/WordPress/gutenberg/tree/5c39cdb805c4a54ba4d30e5f8948aa2c2569985d/packages/block-editor/src/components/link-control

Sorry I thought that was clear from my screenshot. I will record a video later

[2022-09-30 07:58] carolinan commented on #44539
I could see more use cases for a details summary block, perhaps Transcript could be an alias name for such a block.

This block was suggested in the past but [the issue was closed](https://github.com/WordPress/gutenberg/issues/14252) because of [limited support in IE 11](https://caniuse.com/details). I don't believe that is valid anymore.

What inner blocks should be allowed?

[2022-09-30 09:08] jasmussen commented on #44467
Because we have a design that should provide a great starting point, I've updated this ticket and added the "Needs dev" label!

[2022-09-30 09:12] jasmussen commented on #44461
I like the idea that you see the viewport and are able to click "Edit" to edit the content.

I think it's too early to put Templates inside the "Library", I would intuit mainly custom stuff be placed there. Which yes, arguably you can create custom templates, but it still feels as stretch, so to reduce drilldown we should probably keep templates top level for now, IMO.

[2022-09-30 09:25] dinhtungdu opened #44608 "The active variation isn't used as the parent block in the block dropdown menu"
### Description

When a variation contains inner blocks, the `Select parent block (Block name)` item of the inner blocks' menu isn't used variation metadata, but the base block metadata instead.

### Step-by-step reproduction instructions

1. Add a Row block to the page.
2. Add a Heading block to the Row block.
3. Open the menu of the Heading block.
4. See `Select parent block (Group)`.

The menu

[2022-09-30 09:27] jasmussen commented on #44582
Plus one. Love it! Let's make it happen. (Though maybe I'd have a separator between the inspector header and patterns, perhaps even a subheading for the patterns).

[2022-09-30 09:28] cbravobernal commented on #43395
It is a tricky issue 😢

This is because selecting a style variation creates a post type `wp_global_styles` in the database. If there is database reference. then the editor will load always the styles based on this reference. So if you edit the JSON file and reload the editor, you will still be loading the styles retrieved from the database, and, for that reason, it won't be updated until you re-se

[2022-09-30 09:38] Thelmachido commented on #43661
Hi @talldan any chance you might be able to take a look at this one, there hasn't been much activity on it.

[2022-09-30 09:44] jasmussen commented on #44585
Love it. As I said on #44419, this feels like an excellent small iteration to graduate the experiment. Let's try it!

[2022-09-30 10:18] jasmussen opened #44611 "Patterns: Connect "Explore" to pattern directory"
Issue #41379 (underway in #44028) brings a new flyout to the patterns tab of the inserter:

<img width="1520" alt="185140173-deb7255e-53af-4447-9a3c-6644b33806f3" src="https://user-images.githubusercontent.com/1204802/193244365-147791eb-536b-4c68-8a9f-91213834e1c4.png">

In #44585 this is further enhanced by zooming out the main canvas when the tab is selected, and #44501 curates the pattern categ

[2022-09-30 10:19] Thelmachido commented on #39934
Looks like the work for this one is being continued here: https://github.com/WordPress/gutenberg/pull/41740

@draganescu is there a plan to merge this one?

[2022-09-30 10:25] marshallshelly commented on #44586
Thanks for the assist @talldan
After going through some comments in `register_block_type_from_metadata`, I see that the `register_block_type` now supports adding `block.json` since Wordpress 5.8.

[2022-09-30 10:28] jasmussen commented on #44496
I updated this ticket with the latest mockups. It should be ready to dev, which honestly just matches the current state of affairs since #44424 has been opened!

[2022-09-30 10:28] Thelmachido commented on #39727
Hi @jhnstn there hasn't been much activity lately on this issue or the PR, just popping in to check if there’s still a plan to move this forward.

[2022-09-30 10:38] madhusudhand commented on #39673
@kathrynwp I verified the issue with latest trunk (as of today) and following are the results.

## Scenario 1: Without changing default image dimensions.

Steps:

1. Activate empty theme (can replicate with any theme)
2. Edit or create a post
3. Add columns block with two columns
4. Update the width of first column to `100px`
5. Add Image block in the first column, and add an image of size larger

[2022-09-30 11:17] jasmussen commented on #39076
Coming back to this one after a while, the benefit that was had from removing the layout jumps feels substantial, to the point where I would love to remove even the little floating plus that's currently fixed-positioned. Beyond doing that (probably best explored separately), should we update this ticket with a focus on the sibling inserter as discussed above?

[2022-09-30 11:31] jasmussen commented on #26368
I wonder if there's an opportunity here to leverage some of the flex behaviors suggested in #44467 as a replacement for this particular width control. The shortcuts to 25/50/75 wouldn't be as useful as the flex behaviors, and with a fixed width as an option, and a unit selector in the dropdown, you'd still be able to set a percentage width.

[2022-09-30 11:37] jasmussen commented on #27782
Coming back to this, it appears fixed, so closing:

![bug](https://user-images.githubusercontent.com/1204802/193261465-53fbc120-671d-4a0e-b2e9-c8bbd59d34b1.gif)

[2022-09-30 11:37] #27782 closed

[2022-09-30 11:42] jasmussen commented on #28647
Is this issue fixed by the new block spacing (gap) control?

<img width="1392" alt="Screenshot 2022-09-30 at 13 41 59" src="https://user-images.githubusercontent.com/1204802/193262228-77280b1d-1110-4e50-802f-f5140c6bb4ab.png">

[2022-09-30 11:44] jasmussen commented on #30693
Is this still an issue?

![resizing](https://user-images.githubusercontent.com/1204802/193262557-423ac3e3-e5aa-4ede-b2e3-4b6d9f31319f.gif)

[2022-09-30 11:45] jasmussen commented on #33526
I believe if we brought the width controls outlined in #44467 to the Buttons block, it would solve this issue.

[2022-09-30 11:46] jasmussen commented on #33917
I think #44467 should allow the full-width buttons in general. @jameskoster would it be possible to have some intrinsic responsiveness by combining those values with "Allow wrapping"? 🤔

[2022-09-30 11:50] jasmussen commented on #42536
Possibly related: #44467

[2022-09-30 11:55] jasmussen opened #44614 "Buttons Block: Add text align to block toolbar, and replace align"
The Buttons block supports setting the width of buttons, but does not offer a way to change text alignment. In the following screenshots, the blocks have set their individual _alignments_ to center, left, and right:

<img width="733" alt="Screenshot 2022-09-30 at 13 08 28" src="https://user-images.githubusercontent.com/1204802/193263745-24db6df0-028f-4c20-9c37-e64d1168e772.png">
<img width="702" a

[2022-09-30 12:26] #42882 closed, assigned to nobody

[2022-09-30 12:58] ALJ commented on #44477
Thank you @talldan, that's exactly what I was looking for. I missed that data store in the documentation.

[2022-09-30 13:00] #43227 closed, assigned to nobody

[2022-09-30 13:35] #36135 closed, assigned to nobody

[2022-09-30 13:38] ALJ commented on #44193
RIght, that might annoy authors who rely on easy access to the character/word counts.

List view and Statistics are _both_ useful but probably for different kinds of authors or at different times. Assembling a nested page of layout blocks is a different task than writing narrative text to fit a word-count limit. Combining the tools into one pane, or making either more difficult to find/use, might

[2022-09-30 14:06] mrfoxtalbot opened #44615 "Provide a clearer explanation about how "Convert to links" works & include a link to the documentation."
## What problem does this address?

When we select a Page List block in the navigation message and click on "Edit", we will be prompted with the following message:

https://user-images.githubusercontent.com/4452464/193287649-8e41911d-ce17-4295-b52f-ccc981c3c42c.mp4

This message does not explain where the current menu comes from and could be clearer in general. It also lacks a link to the docs for

[2022-09-30 14:42] jasmussen commented on #44486
What if you don't want any pages, though? What if the context is so constrained there isn't space to add a message?

[2022-09-30 14:54] xconsau opened #44616 "How to parse_blocks in a widgetized area"
## Use case
I have created a block plugin (using ServerSideRender) which outputs inline styling and Google Fonts URL to be sent to the wp_head. Since there is no way of adding an action to the wp_head from within the render_callback function, I need to parse blocks on frontend using parse_blocks( $post->post_content ). And then I process style attributes and send them to the wp_head using add_acti

[2022-09-30 15:22] ryelle commented on #43395
The way I ~hacked~ worked my way around this while making variations for TT3 was to create a filter to wrap around the loaded user styles, and in my theme I had a function that would explicitly load one variation's json file. Since I'd intentionally added that function, I knew the editor-based styles would not be used - but I wasn't changing things in the editor, I was writing JSON.

There are now

[2022-09-30 15:40] colorful-tones commented on #43395
Perhaps a proposal for a new debug constant is advisable? Maybe `STYLE_VARIATION_DEBUG` or `GLOBAL_STYLE_DEBUG` for broader considerations

[2022-09-30 16:39] jpollock opened #44617 "Slash command, to add an inner block, in "Add Citation" section of Quote Block is still allowed"
### Description

In the Quote Block, in Add Citation field, the slash command is showing up when it should not.

### Step-by-step reproduction instructions

1. Create a new post
2. Add a Quote block.
3. Place cursor in the "Add citation" section of the Quote block.
4. Type "/".
5. Select one of the available blocks.

### Screenshots, screen recording, code snippet

![issue_with_quote_add_inner_blo

[2022-09-30 16:48] ndiego commented on #44617
I can confirm this. As the new Quote block is a primary feature of 6.1, I think we need to get this fixed before release.

[2022-09-30 16:54] bgturner opened #44618 "Missing `core/post-author-name` in WP Core"
### Description

The Twenty Twenty Three theme uses the `core/post-author-name` block, which isn't included in the`6.1-beta2` version of WP Core.

Specifically, when I use the site editor to edit a single post, I get this error:

[code]

Installing and activating the Gutenberg plugin removes that error.

### Step-by-step reproduction instructions

1. On a blank plain `6.1-beta2` version of WP, ope

[2022-09-30 17:03] ndiego commented on #44618
I can confirm. @carolinan it does not seem like the Post Author Name block was included in 6.1. Any idea why?

[2022-09-30 17:08] bgturner commented on #35694
Since this is in the context of the site editor, should there be some sort of `lorem ipsum` bio text so that users can visualize how it fits together?

Also, wanted to chime in that I also experienced this when testing `6.1-beta2` without the Gutenberg plugin. That means that this bug is also in WP Core at this point.

[2022-09-30 17:24] bgturner commented on #35693
Chiming in that this is still an issue while doing QA for `6.1-beta2` with the `twentytwentythree` theme, and without Gutenberg installed.

That means that the current functionality will soon to be shipped with WP Core.

[2022-09-30 17:29] bgturner commented on #35692
Chiming in that this is still an issue while doing QA for 6.1-beta2 with the twentytwentythree theme, and without Gutenberg installed.

That means that the current functionality will soon to be shipped with WP Core.

Taking a closer look at the styling, it seems like we're using `em`'s, but we probably want it to use the CSS variable:

![Image 2022-09-30 at 10 27 27 AM](https://user-images.githubu

[2022-09-30 17:37] ndiego opened #44619 "[WP 6.1] Block Styles in theme.json do not appear in the Editor or Frontend"
### Description

When Gutenberg is not active, block styles in theme.json are not getting rendered in the Editor or Frontend in WordPress 6.1 Beta 2. Activating Gutenberg solves this, so perhaps something has not been properly ported back to Core.

Also seems like it might be related to: https://github.com/WordPress/gutenberg/issues/44434

### Step-by-step reproduction instructions

1. Use WordPre

[2022-09-30 18:18] eric-michel opened #44621 "Query Block: Parents Filter Missing Since 14.1"
### Description

In Gutenberg 13.3.0, the excellent [`parents` filter](https://github.com/WordPress/gutenberg/pull/40933) was added to the Query Loop block for hierarchical post types. It appears that 14.1 broke the editor functionality for this feature. The filter continues to work for Query Loop blocks that enabled it, but it can no longer be added or modified in the block settings sidebar.

###

[2022-09-30 18:20] colorful-tones commented on #44618
Confirmed this bug as well, and it will currently impact Twenty Twenty-Three: https://github.com/WordPress/twentytwentythree/blob/trunk/patterns/post-meta.php#L52

[2022-09-30 18:24] colorful-tones commented on #44618
I think part of the issue here is that Twenty Twenty-Three should likely be using the `core/post-author` block in the `patterns/post-meta.php`. As the `core/post-author-name` is likely an inner child of `core/post-author`.

[2022-09-30 18:43] dashkevych commented on #39944
I was also able to reproduce this issue in WordPress **6.1-beta2-54361** with active Gutenberg plugin (**14.1.1**).

[2022-09-30 18:52] DaisyOlsen commented on #44340
I started on a somewhat related thing to update the living theme.json reference. I closed my PR since it caused some concerns around validation with the schema.

I think this could be part of a bigger resource around theme.json options.  I am working on some thoughts but maybe a stub document would be a good place to start. It's starting to be hard to know if this would be better as part of the bl

[2022-09-30 19:17] bph commented on #44619
@ndiego I can confirm this bug with a clean installation of the WordPress 6.1 beta 2 version.

[2022-09-30 19:30] andowt opened #44623 "Alignment is removed site-logo from header"
### Description

Using twenty twenty two theme and adding a site-logo to the header alignment none or center work as expected (site logo is seen in header with black background)

When using left or right align the site logo is pushed out of the header (black background is gone)

Expected behaviour would be for the site logo to still be within the header (black background area) but positioned left

[2022-09-30 19:34] andowt opened #44624 "Site logo does not scale above certain point"
### Description

When changing the size of the site logo I expect that the image should grow or shrink to fill the selection box

Shrinking works as expected however the image stops growing at a certain point (possibly actual px size of image)

However rendered website does display correctly

### Step-by-step reproduction instructions

Activate twenty twenty two theme
Add site logo to header
Grow

[2022-09-30 19:37] jpollock opened #44625 "Unable to add more inner blocks to a quote block once a list inner block is added, using normal keyboard strokes"
### Description

Once I add a List block to a Quote block, I am unable to add other blocks, to the Quote block, using keyboard strokes, e.g. enter or arrow up or down. My expectation is that I would be able to use similar keystrokes, to get to add new inner blocks. The attached gif shows the issue best.

### Step-by-step reproduction instructions

1. Create a new post;
2. Add a Quote block;
3. Wit

[2022-09-30 19:55] mikachan commented on #44619
I can also replicate this with TT3 and another theme called Archeo, using the same test instructions above.

[2022-09-30 20:05] colorful-tones opened #44626 "Create Block: Allow templates to pass custom `block.json` keys"
## What problem does this address?

It is currently difficult to create a custom Create Block Template for ACF Pro 6.0, because ACF requires there to be a custom key in the `block.json`, e.g.

[code]

## What is your proposed solution?

Allow the default values passed through to have an optional custom key. I'm not sure the extent of the updates that would needed to be done for Create Block, but i

[2022-09-30 20:33] colorful-tones commented on #44626
Tagging @ryanwelcher @gziolo for consideration and visibility. 🙇

[2022-09-30 20:34] hamannjames commented on #33581
Wondering if there is a solution to this problem as well. Mad props to @JosVelasco for the workaround. If there is no one working on resolving this right now, can you clarify if you are open to pull requests to dix the problem?

[2022-09-30 22:50] #23086 closed

[2022-09-30 22:54] michalczaplinski commented on #23086
The Classic block is now hidden from the inserter in the Site Editor: https://github.com/WordPress/gutenberg/pull/44554

[2022-09-30 23:08] diannevolek commented on #33078
I can't paste any text at all into a Media block: content? It pastes into notepad, and into a classic block.

In general I"m struggling with blocks to select text and keep it selected for long enough to Ctrl+C. It immediately unselects itself. If I select and press delete to try to get rid of text, it deletes one character.

Gutenberg is a problem guys, it's great for Wordpress designers, but real

[2022-10-01 00:23] carlomanf commented on #37126
@annezazu I think this ticket should be re-opened. Although there is work being done on the core ticket, it will still be necessary to update the NPM packages here to work with the new API. This ticket can be used to track the client-side updates. What do you think?

[2022-10-01 02:49] carolinan commented on #44618
No idea. I am not part of the release squad. I have not seen any conversations about it not being included.

[2022-10-01 02:54] carolinan commented on #44618
It is not a child block. The individual blocks were intended to replace post-author but it hasn't been done yet.

[2022-10-01 02:55] carolinan commented on #44618
Looks like it was made experimental 5 months ago @gziolo @adamziel.

[2022-10-01 02:56] strarsis commented on #39961
Not stale.

[2022-10-01 02:58] carolinan commented on #44340
Gutenberg is updated every two weeks, core is updated 3 times per year. Only core features should be in the theme handbook.

[2022-10-01 03:57] benridane commented on #44625
It was able to reproduce it.
Gutenberg version: 14.2.0

It was NOT able to reproduce it.
Gutenberg version: 13.X

It was also reproduced in Group blocks.

[2022-10-01 04:07] torounit opened #44627 "Pressing enter on an empty list item generates a paragraph block."
### Description

When the enter key is pressed on an empty list block, the cursor is maintained in the list block and an empty paragraph block is generated below the list block.

Occurs in WordPress 6.1 beta 2 or Gunteberg 14.

### Step-by-step reproduction instructions

1. Type `/list` and press enter.
2. Press the Enter key several times.
3. A number of paragraph blocks equal to the number of En

[2022-10-01 13:23] gziolo commented on #44626
Great idea, @colorful-tones!

It requires some planning how to pass those custom values to `block.json` in addition to all that is supported today in https://github.com/WordPress/gutenberg/blob/trunk/packages/create-block/lib/init-block.js.

It might also be useful to add a similar capability for `package.json` file in https://github.com/WordPress/gutenberg/blob/trunk/packages/create-block/lib/ini

[2022-10-01 18:42] kohheepeace commented on #30480
Hi, I just want to share my solutions about this issues.

## Background
Sometimes, UI that **"scrolls horizontally on mobile"** may be preferable to **“stack on mobile”**.

example: https://buildui.com/

![2022-10-02 02 20 14](https://user-images.githubusercontent.com/29557494/193420897-dc6baa68-8401-4209-9e43-e8a9ae252568.gif)

## Proof of concept
Let me share my solution for using **"Pricing Tab

[2022-10-01 20:56] sandandkush commented on #33581
I'm experiencing this issue too.

I initially thought it has something to do with my theme or plugin, but my developer informed me that the issue was on WordPress and that I should contact WordPress support. Fortunately, it's a general issue. Surprisingly, it's still not fixed after being identified in 2021.

Hopefully, the issue gets fixed in the near future as the Post List block is a very usefu

[2022-10-01 23:16] alexstine commented on #30620
@mrfoxtalbot The label was added because that block was also effected. Actually, this label belongs for most blocks. 😞

Thanks.

[2022-10-02 00:00] seothemes commented on #42994
Could we also add support for conic gradients to the wishlist?

There is good browser support now and no reason not to provide the option.

[2022-10-02 15:40] pinoceniccola commented on #1761
I spent a few hours on this too today. I can't believe this is considered a closed issue since this breaks the whole purpose of having a `WP_SITEURL` with a different `WP_HOME`.

[2022-10-02 19:05] amustaque97 commented on #40826
Hey @ockham, can we close this issue? Since you already opened an issue on the core side.

[2022-10-02 23:28] andrewserong commented on #44619
Just confirming that yes, I think this is the same underlying issue — just noticed from a different perspective 🙂
I believe the proposed fix in https://github.com/WordPress/wordpress-develop/pull/3373 should resolve both issues.

[2022-10-03 00:15] TonyGravagno commented on #41757
Not in 14.2.0 as of this date

[2022-10-03 01:25] seothemes opened #44633 "Add support for conic gradients"
## What problem does this address?

Themes may want to use conic gradients in their design. Without support, there is no UI for users to edit the gradient colors.

## What is your proposed solution?

Enable conic gradient support for GradientPicker components

[2022-10-03 01:26] seothemes commented on #44633
#16662

[2022-10-03 01:46] #44477 closed, assigned to nobody

[2022-10-03 02:13] glendaviesnz commented on #44617
[This seems to fix it](https://github.com/WordPress/gutenberg/pull/44634) - it looks like `__experimentalSlashInserter` support was added before the v2 of the block so shouldn't be needed now.

[2022-10-03 02:22] phy25 commented on #9018
This is still an issue for me on Windows Chrome and Firefox, WordPress 6.0.2, when I pasted "select all" content into GitHub comments, VSCode, and the Windows Textpad, that they contain the Gutenberg HTML comment.

I will comment back if I can reproduce it on another OS.

[2022-10-03 02:41] annezazu commented on #30693
I can replicate a _version_ of this but it has more to do with this issue IMO https://github.com/WordPress/gutenberg/issues/34466

https://user-images.githubusercontent.com/26996883/193492379-096cd5f9-c8f0-47a8-a353-02197fdc39ae.mov

[2022-10-03 02:42] annezazu commented on #30693
I'd prefer to close this out as a result and leave an updated comment there. Does that work for you @paaljoachim or are you still able to replicate this?

[2022-10-03 05:02] Mamaduka commented on #9018
Thanks for the update, @phy25.

Have you tried testing with Gutenberg plugin active?

It would be great to narrow down the issue to OS or WP versions.

[2022-10-03 05:02] talldan commented on #43661
I also wasn't able to reproduce any problems with legacy widgets, but I've put together a PR (#44635) that adds some extra guarding to the code.

It may not be perfect, there's a good chance other parts of this code may also throw errors, but I think it's ok to wait and see and tackle that if it happens.

The problem is likely being caused by a specific plugin, so if there's any way to find out wh

[2022-10-03 05:18] jeremyfelt opened #44636 "wp-block-group__inner-container markup is missing on new default Group blocks"
### Description

In https://github.com/WordPress/gutenberg/pull/42763 and https://github.com/WordPress/gutenberg/pull/44176, the "constrained" layout was set as the default for the Group block and the default variation used when inserting a Group block into content was updated.

I believe the reasoning for this was to preserve existing "default" Group blocks—these have an inner container injected

[2022-10-03 05:28] talldan commented on #44616
I think it should be possible, hopefully using existing APIs, but I'm personally not very familiar with those APIs.

Blocks are stored in widget areas as widgets. There's a specific type of widget for block-based content:
https://github.com/WordPress/wordpress-develop/blob/trunk/src/wp-includes/widgets/class-wp-widget-block.php

The widgets block editor itself uses the REST API to fetch widgets an

[2022-10-03 05:37] Mamaduka commented on #44636
cc @tellthemachines, @youknowriad

[2022-10-03 05:41] andrewserong commented on #44434
I've opened (yet another) PR in https://github.com/WordPress/wordpress-develop/pull/3392 to explore a potential solution. @ramonjd and @ajlende rightly pointed out that checking for the number of registered blocks can result in edge cases where the caching isn't busted when we expect it to be. In this alternative PR, I'm proposing adding a `registered_block_type` action, and to use this to flush t

[2022-10-03 06:00] xconsau commented on #44616
Hello Daniel,

Thanks very much for the reply. I had previously tried <code>wp_get_sidebar_widgets</code>, but unfortunately it only returns block widget instance ID and the list of available widget areas. For example:

<pre>Array
(
    [wp_inactive_widgets] => Array
        (
            [0] => block-8
            [1] => block-4
            [2] => block-5
            [3] => block-6
        )

[2022-10-03 06:09] #44621 closed, assigned to Mamaduka

[2022-10-03 06:30] talldan commented on #44616
I'm sure it must be possible to get the widget's data from those Ids.

There are some functions that might help, but again I'm not sure what they return as the docs are not informative:
- `wp_render_widget` (https://developer.wordpress.org/reference/functions/wp_render_widget/)
- `$wp_widget_factory->get_widget_object` (https://developer.wordpress.org/reference/classes/wp_widget_factory/get_widget

[2022-10-03 06:48] draganescu commented on #39934
I think https://github.com/WordPress/gutenberg/pull/41740 will close this one as well. As for merging I think I am pretty close.

[2022-10-03 06:59] jasmussen commented on #30693
Yep, that issue is definitely about block toolbar width, so I think we can close this one.

[2022-10-03 07:03] paaljoachim commented on #30693
It works for me (mostly I do notice this #34466). The issue I mentioned has been fixed.

[2022-10-03 07:03] #30693 closed, assigned to nobody

[2022-10-03 07:48] carolinan commented on #40033
Are these patterns in the core (would need a trac issue) or the theme (would also need a trac issue)?

[2022-10-03 07:52] ntsekouras commented on #44041
@sb726 if I understand correctly, your use case is not a standard `query`, as there is not a template in the hierarchy that supports multiple taxonomies/terms at once. It could be fixed by adding `tax_relation` in Query Loop and then you could have a page with a **non** `inherit` Query Loop. Right now the relation is `AND`. This is part of https://github.com/WordPress/gutenberg/issues/24934.

@muh

[2022-10-03 08:14] carolinan commented on #40033
I have created a trac ticket for Twenty Twenty-Two here: [ 56720 ](https://core.trac.wordpress.org/ticket/56720).

[2022-10-03 08:16] Mamaduka commented on #44471
I think this is a Core REST API issue.

Source: https://github.com/WP-API/WP-API/issues/2764

Trac ticket: https://core.trac.wordpress.org/ticket/35907

[2022-10-03 08:20] #44617 closed, assigned to glendaviesnz

[2022-10-03 08:36] #44063 closed, assigned to nobody

[2022-10-03 08:37] Mamaduka commented on #6064
Hi, @davidperezgar

Can we close this issue?

[2022-10-03 08:52] cbravobernal commented on #43395
That proposal could work. But I'm afraid that would be something to experiment with in Gutenberg for a couple of releases, to get some test/feedback, rather than in the 6.1 release.

[2022-10-03 08:55] #41554 closed, assigned to nobody

[2022-10-03 09:08] mikachan opened #44638 "[WP 6.1] Navigation overlay menu does not open"
### Description

When Gutenberg is not active, the overlay menu does not open when you click the 'Open menu' button.

When Gutenberg is active, the overlay menu opens successfully.

This was mentioned in the TT3 repo here: https://github.com/WordPress/twentytwentythree/issues/214

### Step-by-step reproduction instructions

1. Activate a theme that uses the overlay menu (e.g. Twenty Twenty-Three)

[2022-10-03 09:14] carolinan opened #44639 "Empty image block prints figure and empty img elements on the front"
### Description

When an image block has been added to the content, but no image has been selected, there is a figure and an empty img element on the front of the website:
`<figure class="wp-block-image"><img decoding="async" alt=""></figure>`

Ideally nothing should be printed on the front when no image has been selected.

### Step-by-step reproduction instructions

In either editor, add an image

[2022-10-03 09:21] mikachan commented on #43395
I like the idea of a new debug constant 👍

I also think, at the least, we should add some sort of notice to the editor UI that the style variation needs to be re-applied when new changes have been added. Otherwise, there's no way to know why the new theme.json styles aren't being applied (unless you know the reload process already.)

I think it's OK that this can't make it into the 6.1 release, it

[2022-10-03 09:24] ellatrix commented on #39456
Yes, this is an issue that must be solved.

[2022-10-03 09:37] jasmussen commented on #28063
Pseudo styles can now finally be adjusted in theme.json. Instructions from [this post](https://make.wordpress.org/core/2022/09/01/whats-new-in-gutenberg-14-0-31-august/):

[code]

Because of that, I'm going to close this one as fixed. If that's not the case, we can reopen!

[2022-10-03 09:37] #28063 closed

[2022-10-03 10:42] jasmussen commented on #20017
Oh nice, looks like #44578 also fixes this one.

[2022-10-03 11:08] ndiego commented on #44618
cc @mikachan

[2022-10-03 11:19] ndiego commented on #44638
I have confirmed this.

[2022-10-03 11:21] jasmussen commented on #44357
Here's a mockup showing a "snap ruler":

<img width="1600" alt="Flow" src="https://user-images.githubusercontent.com/1204802/193565044-d165ca88-d1f1-4a0f-81ab-0edabe2e1cb2.png">

[2022-10-03 11:22] mikachan commented on #44618
Thanks for the ping! @colorful-tones fixed this in TT3 by using the post-author block instead of post-author-name: https://github.com/WordPress/twentytwentythree/pull/236

It would still be good to follow-up with more details around the post-author-name block, but we can probably close this issue based on this being fixed in TT3 directly (if this is the only thing affected by this block).

[2022-10-03 11:26] djave-co commented on #39160
Hi @mrfoxtalbot and @Thelmachido,

Here is a demo. I have used wordpress/create-block to make a new gutenberg block.

I have created a new block with the following edit function:

[code]

After initial setting, the title is never editable.

https://user-images.githubusercontent.com/1035284/193565705-ba82306f-9d30-4f03-a0ba-b8e03ecb5ee1.mp4

[2022-10-03 11:56] ndiego commented on #44618
Thanks @mikachan. @gziolo @adamziel @ockham what are the steps needed to make this block not experimental? Since we now have a fix for TT3, and the addition of a new block is not within the scope of a Beta/RC, the addition of the block to Core will need to get punted to 6.2. That said, I want to make sure we don't miss it again. Anecdotally, I know this block is being used quite a bit in experimen

[2022-10-03 11:57] oandregal commented on #44434
I've looked at alternatives and https://github.com/WordPress/wordpress-develop/pull/3392 (cleaning data when a new block is registered) sounds theoretically the best approach, though 1) we also need to consider that blocks can be unregistered as well, and 2) there are a few paths 3rd parties can use to register a block AFAIK.

It sounds like https://github.com/WordPress/wordpress-develop/pull/3359

[2022-10-03 12:13] #20017 closed

[2022-10-03 12:13] jasmussen commented on #40908
This should be fixed by #44578.

[2022-10-03 12:13] #40908 closed, assigned to carolinan

[2022-10-03 12:31] cbravobernal commented on #43395
For that notice, we may need help from the design team.
Regarding the tracking issue, would this one fit? https://github.com/WordPress/gutenberg/issues/41232

[2022-10-03 12:40] mikachan commented on #43395
Yes, that tracking issue looks good, thank you!

[2022-10-03 13:04] cbravobernal commented on #44638
Changing the order of `viewScript` files loaded in array in the `blocks-json.php` files to `"viewScript": ["file:./view-modal.min.js" , "file:./view.min.js" ]` seems to do the trick. Otherwise, view-modal.js is not being loaded on the site.

@aristath worked on allowing multiple files on this field, could you please provide any feedback about why this could happen?

[2022-10-03 13:17] aristath commented on #44638
Where was this backported to Core? 👀 Maybe something was missed there?

[2022-10-03 13:28] cbravobernal commented on #44638
It seems that it was backported here: https://github.com/WordPress/wordpress-develop/pull/3108/
Edit: although we have an array with `navigation-view-js` and `navigation-view-js-2` on the settings part. We are not loading both scripts on the Site. Taking a look at it 👀

![Screenshot 2022-10-03 at 15 58 39](https://user-images.githubusercontent.com/37012961/193596187-406cd90f-1fbc-4fb7-949f-353676a

[2022-10-03 13:36] ssimo3lsuhsc commented on #39909
Yes, this problem still exists on Gutenberg core.
There is a plugin which can handle before-table captions:
https://wordpress.org/plugins/flexible-table-block/

I will use it as my plugin whenever I want to create WordPress tables until it is no longer being actively developed.

[2022-10-03 13:37] ryanwelcher commented on #44626
I love this idea as well! It would allow this tool to support any keys that are added without needing to also create a PR for it ( see https://github.com/WordPress/gutenberg/pull/44185 ). I'm going to take a crack at it today.

[2022-10-03 13:56] draganescu commented on #18345
Currently the `navigation link` block is storing the link in an attribute defined as:

[code]

This means that when the page is rendered the link to the page or post is hardcoded in the block's markup. Therefore if the URL changes the link will be stale.

[2022-10-03 14:00] colorful-tones commented on #44626
I'm more than happy to test anything @ryanwelcher

Thanks! 👍

[2022-10-03 14:04] aristath commented on #44638
Patch on https://github.com/WordPress/wordpress-develop/pull/3395

[2022-10-03 14:08] draganescu commented on #44041
Thanks for the well documented explanation @sb726 🙇🏻  Juts wanted to make sure this is visible: the answer to the above is in the comment from @ntsekouras

[2022-10-03 14:10] #37071 closed, assigned to nobody

[2022-10-03 14:35] Thelmachido commented on #25820
Hi @mtias not entirely sure what is being overlayed when you try to select a new item on the navigation block. Would it be possible to add more information or screenshots?

[2022-10-03 14:44] annezazu commented on #44582
Noting that this matches this prior feedback that came in: https://github.com/WordPress/gutenberg/issues/39864 For consistency/to consolidate, I'm going to close mine out but wanted to be sure that the inability to do this has been noted as a pain point in the past.

[2022-10-03 14:44] annezazu commented on #39864
Going to close this out in favor of this new issue that would address this (and has a clear design): https://github.com/WordPress/gutenberg/issues/44582

[2022-10-03 14:44] #39864 closed, assigned to nobody

[2022-10-03 14:46] annezazu commented on #44501
Noting this issue: https://github.com/WordPress/gutenberg/issues/44280 happy to close out if we plan to defer to this.

[2022-10-03 15:30] vjik opened #44644 "Searching for blocks stopped working for Cyrillic from 14 version"
### Description

Version 13.9.0:
![image](https://user-images.githubusercontent.com/525501/193616002-d36f7c3d-9d7a-4fe4-8d74-287920457c2c.png)

Version 14+:
![image](https://user-images.githubusercontent.com/525501/193616179-f415f8b6-7879-4466-a270-350f57986a30.png)

There has been a similar problem for a long time: https://github.com/WordPress/gutenberg/issues/10775

### Step-by-step reproduction

[2022-10-03 15:35] vjik commented on #44644
I'm tested this bug in new clean WP 6.0.2 + Gutenberg plugin.

[2022-10-03 15:45] xconsau commented on #44616
Thanks very much, Daniel. Those references were very helpful and it finally worked. The `global $wp_widget_factory` reference from the [WP_REST_Widgets_Controller](https://developer.wordpress.org/reference/classes/wp_rest_widgets_controller/prepare_item_for_response/) code was the one I was looking for. The final code which returns all the block data from available widget areas on frontend is the

[2022-10-03 16:08] dianeco opened #44648 "Comment author name block: author name is linked even if the author has not provided a website's URL"
### Description

The comment author name block doesn't check if a comment author URL is provided. It only checks if the isLink attribute isn't empty. https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/comment-author-name/index.php#L35-L39

On the front-end, the markup printed is `<div class="wp-block-comment-author-name"><a rel="external nofollow ugc" href=" " target="_se

[2022-10-03 16:33] ryanwelcher commented on #44626
@colorful-tones I just pushed up https://github.com/WordPress/gutenberg/pull/44649 if you have the time to test.

[2022-10-03 18:18] phil-sola opened #44651 "Add Box Shadow Component"
## What problem does this address?
So as of Gutenberg 14.1 and in the upcoming WordPress 6.1 release, there will be support added for themes to register box shadows for specific blocks within the theme.json file.

Similar to padding, margin, typography, etc. I feel like it would be beneficial to actually have a box shadow component either for importing from a package for custom blocks or supported

[2022-10-03 18:23] kathrynwp commented on #29401
I'm still able to replicate this with:

WordPress 6.0.2
Gutenberg 14.2.0 active or inactive
No other plugins active
Twenty Twenty-Two 1.2

and:

WordPress 6.1-beta2-54351
Gutenberg 14.2.0 active or inactive
No other plugins active
Twenty Twenty-Two 1.2

@vcanales @georgeh @talldan @Soean - with the Navigation block being a focus of WP 6.1, would any of you have a chance to look at this bug and see

[2022-10-03 18:36] kathrynwp commented on #29417
It looks like this did get wrapped up – draft menu items now say (Draft) in the editor, per the discussion above – so I'll go ahead and close this out.

If anyone thinks this should be reopened, please comment with what still needs to be done and I'll be glad to reopen it. Thanks!

[2022-10-03 18:36] #29417 closed

[2022-10-03 18:45] kathrynwp commented on #30163
Still able to replicate this with:

WordPress 6.0.2
Gutenberg 14.2.0 active or inactive
No other plugins active
Twenty Twenty-Two 1.2

@jasmussen with the Navigation Block being a focus in 6.1, would you perhaps have a moment to revisit this issue? Thanks!

[2022-10-03 19:03] kathrynwp commented on #31380
@getdave With the focus on the Navigation block in WP, returning to this to see if there might be any potential to get something moving soon on this issue, or not. Thanks!

[2022-10-03 19:05] phil-sola opened #44653 "Add more choices to align supports"
## What problem does this address?
Currently, you can support align, or alignWide for your blocks which gives you one additional wrapper width for your block aside from the content width defined.

On almost every single site I have developed, there is more use of content widths than just default and wide. Normally, there will be a narrow block or component, occasionally an x-wide width and of cour

[2022-10-03 19:11] #44191 closed, assigned to BE-Webdesign

[2022-10-03 19:24] sb726 commented on #44041
@ntsekouras I think my use case might be "reasonably" standard. Take a category page (which could be issues of a magazine, pages of a clothes catalogue, types of books etc.) and divide that category page up according to some custom taxonomy. You need the inherit query property so that the right category page appears when clicking on a category link. But you might also need to further filter or sub

[2022-10-03 19:24] #44041 closed, assigned to nobody

[2022-10-03 19:33] sb726 commented on #24934
Coming from #44041 I would just like to add a vote for custom taxonomy terms (tax_relation??) in the Query Loop. Just to be clear, it is really useful to be able to inherit the Query Loop (for say an index page or category page) AND filter that page according to a custom taxonomy. This was possible (as a bug it seems) in version 6.01. It disappeared in 6.02. I'm hoping we get the functionality bac

[2022-10-03 20:25] mtias commented on #25820
This referenced a moment in time when the navigation list was being rendered in a modal. No longer relevant.

[2022-10-03 20:25] #25820 closed

[2022-10-03 20:29] mtias commented on #42257
@draganescu did you consider leveraging some of the same mechanisms of the new content-lock? It seems the absorbing of the list view would be fairly close in interactions there.

[2022-10-03 21:31] annezazu opened #44654 "Zoomed out view: increase outline width/consider adding overlay from click through pattern"
## What problem does this address?

Currently, when using list view with the zoomed out view, it's very difficult to see which container block is being selected. This is feedback from the [FSE Outreach Program's seventeenth call for testing](https://make.wordpress.org/test/2022/09/15/fse-program-testing-call-17-guiding-the-gutenberg-gallery/#comment-2730):

https://user-images.githubusercontent.co

[2022-10-03 22:08] annezazu opened #44655 "Zoomed out view: keep list view open when entering mode"
### Description

If you have list view open and then select the zoomed out view, the list view automatically closes rather than staying open. This stands in contrast to the Styles interface & block settings remaining opening. This first came up with the [seventeenth call for testing for the FSE Outreach Program](https://make.wordpress.org/test/2022/09/15/fse-program-testing-call-17-guiding-the-gut

[2022-10-03 22:34] annezazu opened #44657 "Zoomed out view: make toolbar more visible against a dark background"
This came up as feedback as part of the [seventeenth call for testing for the FSE Outreach Program](https://make.wordpress.org/test/2022/09/15/fse-program-testing-call-17-guiding-the-gutenberg-gallery/#comment-2732):

At an extreme, if your background is the same as the zoomed out view toolbar, it blends right in:

<img width="655" alt="Screen Shot 2022-10-03 at 6 30 55 PM" src="https://user-image

[2022-10-03 22:56] annezazu commented on #40319
While I know this work is still being explored, I wanted to note the following feedback [from the seventeenth call for testing](https://make.wordpress.org/test/2022/09/15/fse-program-testing-call-17-guiding-the-gutenberg-gallery/#comment-2732) for the FSE Outreach Program on the currently implemented zoomed out view, since I see above that "double click to go back to normal mode" is on the list:

[2022-10-03 22:59] andrewserong commented on #44434
Thanks for taking a look @oandregal! I think @ajlende's feedback about moving the "registered" hook to the `WP_Block_Type_Registry` class would ensure we catch all block registrations (including 3rd party ones), and remove a little duplication. I'll have a play at updating https://github.com/WordPress/wordpress-develop/pull/3392 today.

[2022-10-03 23:01] annezazu commented on #38333
Noting that this once more came up in the [seventeenth call for testing for the FSE Outreach Program](https://make.wordpress.org/test/2022/09/15/fse-program-testing-call-17-guiding-the-gutenberg-gallery/#comment-2732) and I imagine will come up more so when TT3 launches with 10 variations as a feature:

This comes from @clubkert who shared months ago as you can see above that he ran into this!

[2022-10-03 23:05] clubkert commented on #38333
Thanks, @annezazu .

Personally, I think a warning that your style changes will be lost by changing to another variation would be a positive sort term solution.

Longer term, being able to save changes would make sense.

[2022-10-03 23:10] abhansnuk commented on #39371
Hello @glendaviesnz really useful dev note. I am one of the reviewers. Could you please check that an introductory text on the dev note, as below, would be in line with the solution on this issue please. An adaptation of this will also be used for the excerpt. Thank you.
"The introduction of pre-set sizes to be shared across padding, margin, and block gap. This goes into WordPress core in 6.1 for

[2022-10-03 23:23] glendaviesnz commented on #44638
Tested latest trunk from wordpress-develop and this is fixed by https://github.com/WordPress/wordpress-develop/pull/3395

[2022-10-03 23:23] #44638 closed, assigned to nobody

[2022-10-03 23:31] annezazu commented on #37126
I trust your read and will reopen now :). I'd always rather have more places something is reported for consistency than less. Thanks for following back up.

[2022-10-04 00:29] andrewserong commented on #44434
I've updated https://github.com/WordPress/wordpress-develop/pull/3392 to move the hook to the registry class, which now seems to capture all cases where a block might be registered.

[2022-10-04 00:41] carlomanf commented on #27597
This ticket should have been closed a long time ago. It was opened in 2020 when the FSE infrastructure was not yet stable and only describes the issue vaguely. Now, there exist other open tickets that more precisely describe the task ahead. This ticket is not tracked as part of the core release cycle, meaning that leaving it open diverts discussion away from core committers' attention.

[2022-10-04 00:48] ramonjd commented on #35411
Closing. Cannot reproduce as of 14.3

[2022-10-04 00:48] #35411 closed, assigned to nobody

[2022-10-04 01:14] shimotmk opened #44659 "WP6.1 Button block Themes based on block-library css will have a different style"
### Description

The theme based on block-library css changes the style of button block.

Perhaps this is due to the fact that the css has been removed by this pull request.
https://github.com/WordPress/gutenberg/pull/34180/

Is this something that has to be handled on the theme side?

### Step-by-step reproduction instructions

1. Theme will be [Twenty Ten](https://wordpress.org/themes/twentyten/

[2022-10-04 01:22] bezbee commented on #41825
Any update?

[2022-10-04 01:45] autumnfjeld commented on #43926
Won't the Site Editor be used for editing content as well?  In which case wouldn't that rule out terms like "Design" and "Style" which don't encompass the broader usage of the Site Editor?

Or is this menu "special" and meant to provide a specific UX even though the link leads to the same Site Editor where user's do all sorts of editing, not just style or design.

[2022-10-04 02:01] #43781 closed, assigned to nobody

[2022-10-04 02:01] #40142 closed, assigned to nobody

[2022-10-04 02:01] #43489 closed, assigned to nobody

[2022-10-04 02:01] #39793 closed, assigned to nobody

[2022-10-04 02:24] talldan commented on #44616
Glad to be able to help!

[2022-10-04 02:24] #44616 closed, assigned to nobody

[2022-10-04 02:51] glendaviesnz commented on #39371
thanks, @abhansnuk, that looks good to me - FYI, I just made a couple of edits to the dev note as I noticed it was missing a couple of last-minute updates that were merged into 6.1.

[2022-10-04 03:26] #42226 closed, assigned to glendaviesnz

[2022-10-04 04:00] glendaviesnz commented on #41825
Sorry about the delay on replying @bezbee. Are you able to add the following filter to the network tab `rest_route=%2Fwp%2Fv2%2Fmedia` and then reload a page with the problem Gallery block in the editor, and let me know if that API call returns any error messages?

[2022-10-04 04:18] glendaviesnz commented on #42213
I wasn't able to replicate this on GB trunk or 6.1 Beta - I also tried just using the down arrow as @alanjacobmathew suggested but got the same result:

https://user-images.githubusercontent.com/3629020/193733307-b6adafe4-4bde-4255-abb8-c418cef3a666.mp4

[2022-10-04 05:31] #43661 closed, assigned to talldan

[2022-10-04 05:41] aaronrobertshaw commented on #41345
Thanks for creating this issue @bradley2083 👍

Border-radius was, for the moment, omitted from the border support for individual column blocks due to some concerns raised around the need to clip the column content. This introduces some UX issues in the editor, in particular, clipping the content would also clip the block inserter button within the Column block.

You can find some history and [cont

[2022-10-04 06:13] jasmussen commented on #43926
That would depend on how you flow into it. At the moment you can move into template editing from the page editor, and back. This flow needs further iteration, but is an example of a seamless shifting of context that I could see working for the cases where you edit content in the site editor.

Navigation-wise, however, I wouldn't think site editor should become a starting point for writing pages an

[2022-10-04 07:01] jasmussen commented on #44654
Great issue, thanks: the outlines are scaled down just like the canvas itself. Since the zoom view isn't going to be a place to move around anything but top level blocks, and everything will be in-editable, It seems like there's a fun design opportunity here to rethink the selected state beyond just changing the border and appearance. CC: @WordPress/gutenberg-design

[2022-10-04 07:13] Azragh commented on #39371
I just started testing out the new spacing presets and noticed the generated CSS in the frontend looks like this:

[code]
In the editor it works:
[code]

In my theme.json I have:

[code]
Am I doing something wrong, am I missing something or is this a bug? The difference in the class numbers and the double assignment of them in the frontends CSS is kinda confusing. Is there a reason behind this?

[2022-10-04 07:18] jasmussen commented on #43395
Hey, thanks for the ping.

At a first glance of the ticket and thread, my instinct was that this issue was the same as I previously recorded in #43914 and closed in favor of this one: that selecting a style variation, saving, and viewing the frontend came with a vey long delay. However that doesn't seem to be the case — should we reopen #43914? The cause is suggested to be the same, but I would th

[2022-10-04 07:28] fabiankaegy commented on #34316
This is a duplicate of #19103

[2022-10-04 07:28] #34316 closed, assigned to nobody

[2022-10-04 07:28] fabiankaegy commented on #36434
This is a duplicate of #19103

[2022-10-04 07:28] #36434 closed, assigned to nobody

[2022-10-04 07:30] fabiankaegy commented on #19103
@carolinan I'm reverting your classification of this ticket as Help Request. I'm not sure Bug is the correct label either but this is an inconsistency that has come up again and again.

[2022-10-04 07:35] TeemuSuoranta commented on #19103
I understand that it might be hard to classify. The way I'd see it is:

A) If all core blocks' alignment options should be filterable (themes or plugins should be able to alter them) this is a bug because it causes an UI issue of double UI for alignment.

B) If all core blocks' alignment options are not meant to be filterable, this is not a bug because as a developer I should not be able to do thi

[2022-10-04 07:44] fabiankaegy commented on #19103
For clarity's sake, the issue here is that the Core Image block doesn't use the align support option to add its alignment controls. Instead, it manually adds the `BlockAlignmentControl` component in its edit function.

https://github.com/WordPress/gutenberg/blob/a7f4df0370938cc95c06fbc2af966b9b4160b9bb/packages/block-library/src/image/edit.js#L363-L368

As @talldan already mentioned there is some

[2022-10-04 07:51] fabiankaegy commented on #34317
From my perspective, the ability to filter the alignment options of blocks via theme.json would be a significant improvement. It currently is the primary thing the `blocks.registerBlockType` hook in JS gets used for.

[code]

Not having to manually filter the options but instead having a more declarative way of achieving this would reduce a lot of code that by nature is modifying settings at a rel

[2022-10-04 08:13] #44648 closed, assigned to nobody

[2022-10-04 08:28] jasmussen commented on #30163
Thanks for the ping. Coming back to this one, it seems like the solutions suggested in [my previous comment](https://github.com/WordPress/gutenberg/issues/30163#issuecomment-805537147) haven't made much progress. So the simplest solution in that light might be to treat this as a bug: _why isn't the content of the navigation item reset when backspacing the entire label_?

That does appear to work f

[2022-10-04 09:02] Mamaduka commented on #44659
Some of the styles then were restored in #41934.

[2022-10-04 09:05] github-actions[bot] opened #44663 "[Flaky Test] can be unwrapped with content on Backspace"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
can be unwrapped with content on Backspace

## Test path
`/test/e2e/specs/editor/blocks/quote.spec.js`

## Errors

<time datetime="2022-10-04T09:05:06.143Z"><code>[2022-10-04T09:05:06.143Z]</code></time> Test passed after 1 failed attempt on <a href="https://github.com/WordP

[2022-10-04 09:08] ockham commented on #44434
Update: We now have a few candidates to fix this issue:

- https://github.com/WordPress/wordpress-develop/pull/3352
  - Adds a static `clean_cached_data` method to `WP_Theme_JSON` and uses that plus the existing `WP_Theme_JSON_Resolver::clean_cached_data` method after registration of the Template Part block.
  - ⚠️ _This [would require exposing those static methods through a wrapper function](http

[2022-10-04 09:33] ockham commented on #44434
We have two partial fixes/improvements that I consider very low-risk:

- https://github.com/WordPress/gutenberg/pull/44658
  - Doesn't change any functionality but is a related minor performance and code quality improvement. (This probably disqualifies it from backporting into WP 6.1, but it doesn't harm to have it in GB).
- https://github.com/WordPress/wordpress-develop/pull/3359 (the `WP_Theme_J

[2022-10-04 10:07] mikachan commented on #43395
Yes, I think we should reopen https://github.com/WordPress/gutenberg/issues/43914. After working with variations for an extended time, I'm pretty confident these are two separate issues. (Although I guess they might be related to similar functionality underneath - they are two different behaviours.)

This sounds good to me, it's what I originally meant but I didn't expand very much. I was thinking

[2022-10-04 10:21] #44644 closed, assigned to Mamaduka

[2022-10-04 10:27] jasmussen commented on #43914
Reopening as this issue does appear to be separate from #43395 after all.

[2022-10-04 10:29] oandregal commented on #42961
Closing the loop for https://github.com/WordPress/gutenberg/pull/44015 and https://github.com/WordPress/gutenberg/pull/44159

Draft at https://make.wordpress.org/core/?p=99398&preview=1&_ppp=40c8cd7718

## Filters for theme.json

WordPress 6.1 has introduced some server-side filters to hook into the theme.json data provided at the different data layers:

- `theme_json_default`: hooks into the defa

[2022-10-04 10:37] oandregal commented on #42961
I've noticed that in the 6.1 cycle there has been a few features introduced in `theme.json`. Some I've tracked (there may be more):

- hover/focus/active states
- spacing presets
- fluid typography
- new elements
- filters

I suggest that we create a "theme.json in WordPress 6.1" devnote to compile them all (whether or not some of those individual features merit its own devnote as well).

cc peopl

[2022-10-04 10:48] mtias commented on #44503
This is a quick win given revisions are already enabled just not exposed. A link to the revisions interface would provide a lot of value.

[2022-10-04 10:54] #39878 closed, assigned to nobody

[2022-10-04 11:48] ockham commented on #44619
If I'm not mistaken, this can also be reproduced with TT2 (with no changes to `theme.json`).

To test, insert some button blocks and view on the frontend. [They should be rectangular, with a dark green background](https://github.com/WordPress/wordpress-develop/blob/c819764c81c8b14de9104f5488a88c949e715b25/src/wp-content/themes/twentytwentytwo/theme.json#L224-L237) (rather than round and black).

|

[2022-10-04 12:07] ockham commented on #44434
I think one important thing is to treat the issues separately:

1. The `WP_Theme_JSON` [PR](https://github.com/WordPress/wordpress-develop/pull/3359) fixes the manual Global Styles-styling of buttons by the user (this issue).
2. The `theme.json` stuff is broken because of WP_Theme_JSON_Resolver caching ([#44619](https://github.com/WordPress/gutenberg/issues/44619)).

@c4rl0sbr4v0 is currently look

[2022-10-04 12:27] priethor commented on #44503
Should revisions be shown in during Template Editing Mode in the Post Editor? That might be a bit less direct than just adding revisions to the Site Editor sidebar, as during Template Editing Mode, [the hidden sidebar](https://github.com/WordPress/gutenberg/blob/trunk/packages/edit-post/src/components/sidebar/settings-sidebar/index.js#L84) belongs to the post context.

[2022-10-04 12:30] getdave commented on #31380
@kathrynwp Thanks for flagging. Probably a relatively low priority item but nonetheless one we should be able to solve.

@TimothyBJacobs I think you've said before that you wouldn't be happy exposing the taxonomy's term ID as that's an implementation detail.

If that's still the case then we could look at manually providing a hardcoded ID for each Post Format on the client side. It seems like ther

[2022-10-04 12:40] getdave commented on #18345
To quote Riad here.

So what we can look to do is have the Nav Link block avoid storing the URL and instead store the `id` + `type` reference. That way we can look up the correct URL in the Editor at runtime. Ditto on the front end.

Currently

- Editor: the Nav Link block creates a `link` value object which it passes to `<LinkControl>`. This `link` object contains the `url` value. We could dynami

[2022-10-04 12:56] getdave commented on #39160
Thanks for these production steps @djave-co. I appreciate all your efforts.

It looks like you may have uncovered a bug in the raw component. We should try and figure out how/why/where this is _not_ being covered by the component-level tests for the `LinkControl`.

Once we can replicate this bug in the tests then we can look to fix it.

[2022-10-04 13:02] getdave commented on #39800
This issue is still valid.

[2022-10-04 13:03] getdave commented on #39801
This is still valid. Note the sidebar is still experimental so it won't end up in WP 6.1.

[2022-10-04 13:03] getdave commented on #39802
Still valid.

[2022-10-04 13:10] getdave commented on #36728
I removed it. Some how I forgot to cross link the issues. Thanks for following up.

[2022-10-04 13:11] getdave commented on #39602
Seems simple enough. Low hanging fruit. Possible good first issue.

[2022-10-04 13:15] getdave commented on #39803
This is still valid. I don't see a related PR however.

The Nav sidebar hasn't seen much progress in the 6.1 cycle which is why this is flagging as stale. It's still valid.

[2022-10-04 13:17] getdave commented on #44182
We could make the overlay a separate block with its own inner blocks which can include the Nav block _and_ other types of blocks.

[2022-10-04 13:18] getdave commented on #39489
I think the majority of the issues with accidentally creating too many menus have been resolved. There are still some outstanding however but I rarely get to the problem you highlighted in this Issue anymore as user interaction is required in order to create synced Navigation Menus.

[2022-10-04 13:20] getdave commented on #42961
Here's [the Dev Note](https://github.com/WordPress/gutenberg/pull/41786#issuecomment-1254694174) for this.

[2022-10-04 13:21] jorgefilipecosta commented on #14945
I'm reoppening this issue for further inveatigation.

[2022-10-04 13:28] oandregal commented on #41547
I see `theme_json_get_style_nodes` as a problematic filter we should aim to deprecate, if we can. It hooks into a specific implementation, preventing us from making any modifications (for example, remove that class entirely in favor of style engine code, etc). Styles and its flows are a very dynamic area, as the changes to the style engine, theme.json code, and block.json testify. I wouldn't want

[2022-10-04 13:34] jorgefilipecosta commented on #33379
I guess the fact we can have patterns for any post type does not remove the usefulness of having a template CPT as an HTML string in the same format as patterns. So I think the option you suggested is still useful.

[2022-10-04 13:39] mtias commented on #44503
It should be added on the template tab, whenever that is displayed.

[2022-10-04 14:54] Mamaduka commented on #37908
This issue was reviewed again in today's Editor Bug Scrub. Based on recent feedback from @t-hamano, I think it makes sense to have consistency across the blocks for the `style` prop.

[2022-10-04 15:19] ndiego commented on #37697
This issue was reviewed in today's Editor Bug Scrub. It was determined that this is actually expected behavior with metaboxes. Most metabox implementations will not dynamically change the content in the Editor, and will only appear on a page refresh as you indicated. We understand of course that this does not resolve the issue you are having, but there are no current plans that we are aware of tha

[2022-10-04 15:19] #37697 closed, assigned to nobody

[2022-10-04 15:34] ciampo commented on #42994
This list was mainly aimed at improving / polishing the component in its existing state, but in general I'm not opposed to it

[2022-10-04 15:39] beafialho opened #44671 "Make it possible to customize input fields in any block"
Not sure if there are already issues for this tool, but it would be great to be able to customize input fields in every block in the editor.

Currently, the input fields are always white. We should be able to change background and border colors, thickness, etc.

Two examples come to mind:

- **The Comments blocks:**

<img width="886" alt="Captura de ecrã 2022-10-04, às 16 31 32" src="https://use

[2022-10-04 16:13] mcsf commented on #42213
Indeed, this seems to only affect 6.0.x.

[2022-10-04 16:59] github-actions[bot] opened #44672 "[Flaky Test] preserves content in the Custom HTML block"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
preserves content in the Custom HTML block

## Test path
`/test/e2e/specs/widgets/customizing-widgets.spec.js`

## Errors

<time datetime="2022-10-04T16:59:25.804Z"><code>[2022-10-04T16:59:25.804Z]</code></time> Test passed after 1 failed attempt on <a href="https://github.c

[2022-10-04 17:00] TimothyBJacobs commented on #31380
Can the client be updated to accept a `string` or `int` for the `object_id` attribute instead?

[2022-10-04 17:05] github-actions[bot] opened #44673 "[Flaky Test] should select by dragging into nested block"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should select by dragging into nested block

## Test path
`/test/e2e/specs/editor/various/multi-block-selection.spec.js`

## Errors

<time datetime="2022-10-04T17:05:53.227Z"><code>[2022-10-04T17:05:53.227Z]</code></time> Test passed after 1 failed attempt on <a href="https:

[2022-10-04 17:06] coreyworrell opened #44674 "@wordpress/dependency-extraction-webpack-plugin conflict with webpack-manifest-plugin"
### Description

- Manifest Plugin Version: 5.0.0
- Webpack Version: 5.74.0
- Operating System (or Browser): Ubuntu
- Node Version: 16.14.2
- Link to reproduction: https://replit.com/@cworrell/manifest-plugin-repro

### Expected Behavior
I would expect manifest to output the same filename that @wordpress/dependency-extraction-webpack-plugin produces.

[code]

### Actual Behavior
It outputs without

[2022-10-04 17:34] cuemarie opened #44675 "Search Block: Button Inside setting not working in classic themes"
### Description

When using a classic theme such as **Twenty Seventeen**, setting the Search block's button position to `button inside` doesn't result in the button inside the search field - it just adds a border to the block.

### Step-by-step reproduction instructions

1. Choose a classic theme such as Twenty Seventeen
2. In a new page or post, add a Search Block
3. Change button position and ch

[2022-10-04 17:45] ockham commented on #44434
Update:
1. We've now landed the `WP_Theme_JSON` caching [fix](https://github.com/WordPress/wordpress-develop/pull/3359); it's part of WP 6.1 Beta 3.
2. Carlos has filed https://github.com/WordPress/wordpress-develop/pull/3401 as a tentative fix for https://github.com/WordPress/gutenberg/issues/44619.

I'm considering closing this issue (since it's arguably fixed), and moving discussion over to htt

[2022-10-04 18:40] desrosj opened #44679 "Decrease the amount of time performance testing takes in GitHub Actions"
## What problem does this address?
The Performance Tests workflow is the longest running test workflow by far, taking [anywhere from 45 minutes to 2 hours](https://github.com/WordPress/gutenberg/actions/workflows/performance.yml?query=is%3Asuccess).

Let's look at ways to speed this up.

## What is your proposed solution?

It seems there are two groups of performance tests that currently run: `pos

[2022-10-04 18:47] desrosj commented on #44679
Another aspect to think about. The workflow is required to complete for a PR to be allowed to merge. However, this workflow should not necessarily always be required. For example, if only `.github/workflow/*.yml` files are edited, then this isn't really needed (unless the actual `performance.yml` file is updated).

I'm sure there are other scenarios where this could be skipped entirely as well.

[2022-10-04 19:02] AdsonCicilioti commented on #39644
bump

[2022-10-04 19:25] ndiego commented on #44434
Yeah, in my testing, this issue appears to be fixed in Beta 3

[2022-10-04 19:43] TonyGravagno opened #44682 "Centralize/Facilitate Reporting of UX Challenges with FSE over Mobile"
## The Challenge
Create a site with FSE on desktop. Now open FSE for the site on a mobile device. The UX can be described as painful.

Why would anyone do that? Let's turn that around. Why would anyone Not value the ability to continue working on content when they are away from their desk? WordPress bloggers have never had challenges with creating or editing content with TinyMCE - the simple scree

[2022-10-04 20:06] vagelisp commented on #43586
overflow: hidden seems to be working here when targeting .wp-block-gallery figure

overflow: initial
![Screen Shot 2022-10-04 at 11 04 03 PM](https://user-images.githubusercontent.com/9304640/193915224-1cfb9962-48f3-4be1-8ca8-2e15751a4f5c.png)

overflow: hidden
![Screen Shot 2022-10-04 at 11 03 56 PM](https://user-images.githubusercontent.com/9304640/193915242-22b50a68-d483-47fd-a53d-779b3060d10d.

[2022-10-04 20:49] bradhogan commented on #41824
@mrfoxtalbot I'm reopening because I don't see why there shouldn't be a way to apply the core button block style to anything that uses `wp-element-button`.  It would be very useful to have the ability to add this class to an HTML element and auto pull in the default styles.  If for example, a person decides to drop in the HTML embed for their Mailchimp newsletter sign up, the style for the button

[2022-10-04 20:58] skorasaurus commented on #44557
I would love to see this; i came across this because I'm trying to figure out how to avoid using columns block within the post template block. (running into the issue described at https://github.com/WordPress/gutenberg/issues/30480)

[2022-10-04 22:01] glendaviesnz commented on #39371
Thanks for reporting this @azragh - I was not able to replicate the output you are seeing, what versions of Gutenberg and WP are you using?

[2022-10-04 22:07] Skrapion opened #44684 "Editor content iframe: child theme styles not loaded"
### Description

If you create a custom style with a defined color or background color, it doesn't appear in the preview iframe because there's inline styling that overrides those styles.

### Step-by-step reproduction instructions

1. Start with a fresh Wordpress install
2. Create a child theme of twentytwentytwo, with the following files:

- style.css:
[code]

- theme.json:
[code]

- functions.p

[2022-10-04 22:07] Skrapion commented on #44684
Possibly related to https://github.com/WordPress/gutenberg/issues/39944

[2022-10-04 22:39] bph commented on #42961
@oandregal looking at [your list in your comment](https://github.com/WordPress/gutenberg/issues/42961#issuecomment-1266748338)

This is the current list of stand-alone Dev Notes already drafted on the Make Blog:

- [Fluid Font Sizes](https://make.wordpress.org/core/?p=98065&preview=1&_ppp=7eff794677)
- [Styling Elements in Block Themes](https://make.wordpress.org/core/?p=98557&preview=1&_ppp=4f920

[2022-10-04 22:48] bph commented on #42961
@jorgefilipecosta @t-hamano We already have a ["Block Library Updates" (public preview) ](https://make.wordpress.org/core/?p=98980&preview=1&_ppp=caaadfed0e)Dev note in the works, where we can add a paragraph about these PRs
#42677
#43663

And if you can, also for #40554

What do you think? You can add it all in a comment on this issue together.

[2022-10-04 22:50] PooSham opened #44686 "`wp-env start` causes "Error while running docker-compose command.""
### Description

When I run `yarn wp-env start` (see "Environment info" section for package.json scripts), I get the following error message:

[code]

### Step-by-step reproduction instructions

1. Create a new project
2. Install @wordpress/env (I used `yarn add --dev @wordpress/env`)
3. Add `"wp-env": "wp-env"` to scripts section of package.json
4. Run `yarn wp-env` (or, I suppose, `npm run wp-en

[2022-10-04 23:11] nendeb opened #44687 "`register_block_type`'s `editor_script` handle fails if it is an array."
### Description

When creating a custom block, I was giving editor_script multiple handles and passing them as an array.
This works fine in WP6.0, but fails in WP61, making the block unusable.

I know that editor_script was deprecated in WP6.1 and replaced with editor_script_handles, but it is not backward compatible that editor_script cannot be passed as an array, so please fix this.

### Step-by

[2022-10-04 23:12] MastaBaba opened #44688 "Author block settings only shows 10 authors."
### Description

The Author block settings let's me select from a list of only 10 authors. Two sites on which I've reproduced this have a few hundred authors, making this a problem if I want to change the displayed author.

### Step-by-step reproduction instructions

1. Create a post.
2. Insert an author block.
3. Check the Block settings.
4. See that only 10 authors are available in the dropdown.

[2022-10-05 00:07] inc2734 opened #44689 "Add support for replacing "general" template parts"
### Description

Define your own template part area. Then, create multiple template parts that belong to that area. Open the site editor and insert one of the template parts you created.

At this point, in WordPress 6.0, you will see "Replace" in the toolbar of that template part, but not in 6.1.

It does not appear even after activating the Gutenberg plugin.

### Step-by-step reproduction instruc

[2022-10-05 00:46] glendaviesnz commented on #39371
Actually @Azragh it looks like it might be caused by this bug which is resolved in 14.3

[2022-10-05 01:12] andrewserong commented on #36944
I believe the intent behind this issue has largely been resolved as of #40875, set to land in WordPress 6.1. I'll close out this issue now, and we can open up new issues for subsequent follow up tasks.

[2022-10-05 01:12] #36944 closed, assigned to nobody

[2022-10-05 01:15] ingeniumed commented on #41547
@oandregal Thanks for the feedback, and for explaining that a bit more! incidentally, the route you are suggesting is what we decided to take after my previous comment. We ended up not going down the filters route. Instead, what we did is:

- Add `blockEditor.useSetting.before` as a hook to `useSetting` on the JS side to allow us to inject block settings on to the editor. This would be the setting

[2022-10-05 01:52] andrewserong commented on #44434
Thanks for weighing up all the options @ockham, and landing the incremental fixes! 🙇

That sounds good to me. Should we keep a trac issue open for #44619, though, as it's still a blocker for 6.1?

To keep efforts streamlined, I've closed out my alternate PRs now, but do ping me if you need a review on anything. Thanks for digging in to find the right solution!

[2022-10-05 02:32] Engage11 commented on #41003
Sorry for forgetting to respond. I had bigger issues I was dealing with 2 weeks ago.
I have always used Firefox on Windows 10/11.
I haven't needed to do much editing on my site in a while so there is a chance the issue has already been fixed in a later wordpress update from when I first posted.

[2022-10-05 02:32] #41003 closed, assigned to nobody

[2022-10-05 02:37] bezbee commented on #41825
Hey @glendaviesnz!
Thanks for being so responsive!
Below are some details.

When the page is opened in the editor:
The console tab shows errors
![Screen Shot 2022-10-04 at 20 39 09](https://user-images.githubusercontent.com/39742829/193969261-a2b6d218-6ca2-4d55-a258-a65bada03ec1.png)

The network tab does not show any errors (statuses: 101, 200, 204, 206)
![Screen Shot 2022-10-04 at 20 38 00](http

[2022-10-05 02:42] #44255 closed, assigned to nobody

[2022-10-05 03:11] glendaviesnz commented on #44686
Thanks for reporting. I wasn't able to replicate the issue on MacOS so looks like it might be Linux related, hopefully, someone else running wp-env on linux can verify.

[2022-10-05 03:25] #44636 closed, assigned to tellthemachines

[2022-10-05 04:26] markhoney opened #44691 "Missing newlines in Block Editor generated code"
### Description

When the new Block Editor generates code, parent/child blocks (InnerBlocks?) add a newline between the block comment and block HTML, but none before the block comment. This makes code hard to read, and could be improved by adding two newlines before a block comment. As an example, here's some code generated by a "columns" block with a heading block inside the first column:

[code]

[2022-10-05 04:53] talldan commented on #44689
Thanks for reporting this. It seems like there was a decision made in https://github.com/WordPress/gutenberg/pull/40787 to only make 'Replace' work for Header or Footer areas. The button was also moved from the toolbar to the options menu.

I guess this triggers a discussion about the change in #40787. I see the purpose of removing the 'Replace' button for 'General' template parts, but themes can

[2022-10-05 05:09] gyurmey2 commented on #44404
I agree 100% with @robrobsn. The current solution is disappointing.

[2022-10-05 05:20] Mamaduka commented on #44679
We can also skip or make the action optional for the `docs` directory. The changes there can't affect the Editor(s) performance.

[2022-10-05 05:31] inc2734 commented on #44689
Thanks for the infomation!

I see. I understand.

Users can easily change the layout by replacing template parts. I believe that is probably why the header and footer replacements were left in place. However, the content area between the header and footer can no longer be easily changed in layout. Posts and pages can be easily changed with custom templates, but archive pages, search results, and 4

[2022-10-05 06:03] seothemes commented on #42994
I have created a separate issue here https://github.com/WordPress/gutenberg/issues/44633

[2022-10-05 06:11] Mamaduka commented on #44689
I see this note in the original PR. We introduced to search for this modal in #42459.

I think James is AFK this week, but removing or altering restrictions shouldn't be a problem.

[2022-10-05 06:28] Azragh commented on #39371
@glendaviesnz I'm using Gutenberg v14.2.0 and WordPress v6.0.2. Even without any plugins except Gutenberg I get this output. But I just tested with twentytwentytwo (made a child theme, defined variables in style.css, copied theme.json and added my spacing presets) and here it works.. I still get the classname assigned 2 times but the variable is defined. So it has to do something with my theme obv

[2022-10-05 07:07] jasmussen opened #44693 "Margin visualizer incorrectly shows inwards"
Extracting from https://github.com/WordPress/gutenberg/pull/44484#issuecomment-1266552422: there appears to be an issue with the margin visualization, where if you apply margin to, for example, a group block, the visualization resizes inwards as if to indicate padding, instead of outwards. GIF showing this:

![bug](https://user-images.githubusercontent.com/1204802/193766437-72b856c9-ddc3-4ea4-befe

[2022-10-05 07:15] inc2734 commented on #39732
https://github.com/WordPress/gutenberg/issues/39732#issuecomment-1172819016

I agree with the above!

I also have another use case. I am calling pattern in template parts. To translate strings displayed in template parts.

When I want to display a string in a template part, translation is not possible because template parts are static HTML. However, since patterns are PHP, I can use PHP translatio

[2022-10-05 07:17] jasmussen commented on #44182
@getdave Sounds like it could work, it's also been mentioned as a potential path forward for #43852. Should we rejigger that issue to become about a new overlay block? (And it would be sweet to edit this overlay block in focus mode when pressing the burger button!)

[2022-10-05 07:28] talldan commented on #44693
It is a bug in 6.1 so I've added it to the project board. It's most noticeable for me when adjusting the margin on the group within TT3's header.

[2022-10-05 07:51] Mamaduka commented on #12742
I believe the path forward is to use the `editor.PostFeaturedImage` filter.

Here's an example migration guide - https://github.com/danielbachhuber/gutenberg-migration-guide/blob/master/filter-admin-post-thumbnail-html.md.

I think we can close this as "won't fix" and "has migration path."

[2022-10-05 07:51] talldan commented on #44682
Often you'll see what we call 'Tracking Issues' for this kind of thing. Some examples:
https://github.com/WordPress/gutenberg/issues?q=is%3Aopen+is%3Aissue+label%3A%22%5BType%5D+Tracking+Issue%22

Usually they contain fairly prominent checklists of tasks. It might be worth considering something like that, but granted if you're not a regular contributor this can be a lot to maintain.

[2022-10-05 07:55] talldan commented on #44675
@cuemarie Is it only a Twenty Seventeen issue?

If so I think it'd be good to check core trac (WordPress core's bug tracker) for any previous reports of the issue:
https://core.trac.wordpress.org/search?q=twenty+seventeen&noquickjump=1&ticket=on

If you can't find any a new issue can be made in trac. The code for Twenty Seventeen resides in WordPress core, so it would only be possible to fix this

[2022-10-05 08:10] mtias opened #44694 "Sibling inserter displays at the wrong time"
I've been meaning to report this for a while. Under some conditions — relatively easy to reproduce — the sibling inserter can be triggered by hovering over other elements, such as a template part, instead of the actual in-between blocks area in the site editor.

https://user-images.githubusercontent.com/548849/194011952-0a958b22-7a53-4643-881b-29859e03af51.mov

[2022-10-05 08:22] talldan commented on #42213
Same here. 🎉

Thanks for checking. I'll close the issue.

[2022-10-05 08:22] #42213 closed, assigned to nobody

[2022-10-05 08:23] jasmussen commented on #44694
CC: @ramonjd, I think I recall you making a wonderful improvement to the sibling inserter a while back. Do you have any insights?

[2022-10-05 08:55] mirka commented on #42782
Yes, the thing is that the component labels we uppercased are not intended to be used as text entry fields, and even when they are for some reason, those `label` elements probably shouldn't contain strings too long to be readable in all caps. And note that we did not uppercase the `label` for the [CheckboxControl](https://wordpress.github.io/gutenberg/?path=/docs/components-checkboxcontrol--defaul

[2022-10-05 09:11] fluiddot commented on #38407
No updates this week as we are still fully focusing on `🔎 Main focus` projects.

[2022-10-05 09:18] mtias opened #44700 "Tweaks to margin / padding visualizer"
It'd be nice if hovering or focusing on the margin / padding / gap tools would display the overlays even if you are not dragging the value handles. cc @talldan .

It also seems like we should try to not render the toolbar while showing the overlays (at least margin). It should feel a bit more like engaging "is typing" to avoid the toolbar rendering through:

![before](https://user-images.githubuse

[2022-10-05 09:51] ramonjd commented on #44694
Now you're testing my memory.

I think you mean this PR from November 2021:

- https://github.com/WordPress/gutenberg/pull/36798

Is the bug that old? I wonder if something has changed in the meantime. cc @youknowriad just in case the recently-merged https://github.com/WordPress/gutenberg/pull/44325 is related.

[2022-10-05 09:56] jasmussen commented on #44694
That was the improvement I was thinking of, yes! As I recall, it greatly improved the inserter to appear more when you needed it, and it feels like it's regressed a bit. Thanks for the context.

[2022-10-05 10:02] ciampo commented on #44116
_Edit: the plane of action originally written in this comment has been moved to the issue's description_

[2022-10-05 10:54] ockham commented on #44659
I thought https://github.com/WordPress/wordpress-develop/pull/3331 had fixed this 🤔

I just tried on `wordpress-develop` `trunk` and can't seem to repro:

![image](https://user-images.githubusercontent.com/96308/194044219-3cb16bd8-0b1e-46ed-972b-031ff24d340c.png)

@shimotmk Did you test this with [WP 6.1 Beta 3](https://wordpress.org/news/2022/10/wordpress-6-1-beta-3-now-available/) (or an earlier

[2022-10-05 11:04] ockham commented on #44434
Yeah, good point. I'll file one 👍

Thank _you_ for all your work and research! ❤️

[2022-10-05 11:04] #44434 closed, assigned to nobody

[2022-10-05 11:11] Marc-pi commented on #37930
appart from being able to set custom svg icon, there is also **the critical need** to manage

Actually the burger icon is displayed with a 24px/24px default size, and there is no way to enlarge it from the nav block settings.

Please also note that if we enlarge with css the icon size, it is blured !

[2022-10-05 11:14] ockham commented on #44434
https://core.trac.wordpress.org/ticket/56736

[2022-10-05 11:14] ockham commented on #44619
I've filed https://core.trac.wordpress.org/ticket/56736 to reflect this issue in Core.

[2022-10-05 11:26] shimotmk commented on #44659
@ockham
Thanks for the comment!
I can confirm that it's fixed on the front screen in beta3!

However, it doesn't seem to be fixed in the block editor.💦
![beta3](https://user-images.githubusercontent.com/42362903/194049018-6bbdfee0-c18b-4893-af67-c35d533e73eb.png)

The theme is Twenty Ten.

I think if you add the following code, the css will load on the edit screen.
`wp_add_inline_style( 'wp-edit-b

[2022-10-05 11:28] getdave commented on #41146
I'm going to suggest we close this one out as I believe it was fixed in https://github.com/WordPress/gutenberg/pull/44578 (cc @jasmussen).

However the Navigation block still does not use the standardised color controls from Block Supports. It's a custom implementation.

If it's desirable and necessary to do that then we should consider opening a new issue to track that requirement.

For a summary

[2022-10-05 11:28] #41146 closed, assigned to getdave

[2022-10-05 11:34] Marc-pi opened #44706 "Nav > mobile > blured svg default icons"
### Description

Actually, we cannot set from the block settings the navigation icon size (see https://github.com/WordPress/gutenberg/issues/37930). The default icon size is 24x24px (see source, the svg is inlined).

Seems to be a png file converted to svg. the same for the other icon (burger with 2 or 3 lines = same)
Maybe the design team can generate a cristal clear code to replace the 2 actual

[2022-10-05 11:34] jasmussen commented on #37930
Can you speak to this a bit? I know that even vector-based SVGs such as the icon used for the overlay menu is designed to an initial pixel grid. But in being vector based, it should at least scale better than pixels.

[2022-10-05 11:35] jasmussen commented on #44706
Hey, thanks for the issue. Can you try and make the icon 48x48? That would be a 2x integer scale from the 24x24px base icon, and should remove any blur you see.

[2022-10-05 13:16] mtias opened #44710 "Double clicking on a pattern in zoomed out view should go into focus mode"
On the zoomed out view, double clicking on a pattern should probably get you into the focused template part mode to edit.

[2022-10-05 13:37] charlesdeb commented on #36487
I had the same issue. I got this error message about upper case names (and my whole path did indeed include upper case names) when in actual fact as @ryanwelcher also experienced, I was trying to register a block to a path that didn't exist. Once I fixed that, then the error disappeared - even though my whole path still did include upper case characters.

[2022-10-05 13:44] ockham commented on #44619
I've filed a tentative fix over at https://github.com/WordPress/wordpress-develop/pull/3408.

[2022-10-05 13:47] Marc-pi commented on #44706
hum, first time i notice this with svg (using interger multiple is needed) , works better, thanks for your help
i close

[2022-10-05 13:47] #44706 closed, assigned to nobody

[2022-10-05 13:49] jasmussen commented on #44706
Glad that worked!

[2022-10-05 13:52] thelovekesh commented on #44687
What's the use case of passing multiple scripts here? IMO these files should be concatenated in one using some bundler like webpack, hence no such case will arise.

You can check `@wordpress/scripts` package for such tasks.

[2022-10-05 13:52] Marc-pi commented on #37930
yep, if anyone is stucked with this bluring issue, we have a use a integer multiple of 24px to not have a blur
i set 48px on open/close icons, that's better,  thanks @jasmussen

hope the nav will be improved very soon on the nav icon styling...included the icon sizes.

[2022-10-05 13:57] ockham commented on #44659
I can repro this -- it's still present in the editor 😕

@scruffian Could you look into fixing this? 🙏 😊

[2022-10-05 13:59] Soean commented on #44687
In WordPress 6.0, the `editor_script`in `register_block_type` only accepts a string: https://developer.wordpress.org/reference/functions/register_block_type/.
I don't see an backward compatible issue here.

[2022-10-05 14:04] carolinan commented on #44614
It is not clear to me what is in the first pictures, where the alignments are not visible.
When I test the button alignments, left and centered buttons work, but right aligned buttons do not:

Twenty Twenty-Three, block editor, the last button is right aligned. These buttons are in the same button block, and there is no custom block spacing or margins between them:
<img width="630" alt="Screen Sho

[2022-10-05 14:05] carolinan commented on #44614
I think there may be valid cases for both button alignment and button text alignment?

[2022-10-05 14:11] getdave opened #44712 "Improve Navigation block color controls"
## What problem does this address?

Currently the Navigation block implements custom controls for all aspects of color including:

- Text
- Background
- Submenu and overlay text
- Submenu and overlay background

However these are used in a non-standard way which causes confusion and holds the potential for [bugs](https://github.com/WordPress/gutenberg/issues/41146).

The key problems are:

- The c

[2022-10-05 14:17] getdave commented on #44712
@aaronrobertshaw As you've been working on Block Supports a lot I wonder if you'd have any insight here particularly around whether we can pass color values set via block supports down to child blocks via block context?

You'll note that the Nav block currently passes the color values down to the various child blocks which allows them to use the colors set on the parent. Would you recommend contin

[2022-10-05 14:21] #44360 closed, assigned to getdave

[2022-10-05 14:22] joyously commented on #12742
Why choose to make every theme or plugin add JS, when it would be better for core to do the migration instead? Why remove functionality that has been there for a long time and is still [documented](https://developer.wordpress.org/reference/hooks/admin_post_thumbnail_html/)?
Please reread the comments on this issue.

[2022-10-05 14:25] getdave commented on #44182
My main question is how do you configure the overlay block and the Nav block to show/hide depending on viewport size? I guess for now using some rudimentary "Mobile" toggle like we do for the Overlay setting in the Navigation block?

[2022-10-05 14:38] annezazu commented on #44682
Thanks for opening this and taking the time to share the feedback. That intrinsic web design is definitely covering the technical aspects but I can see where an overall tracking issue would be helpful. It might make sense to turn that https://github.com/WordPress/gutenberg/issues/34641 into that or to have a companion one for it. Until that happens, this can be a placeholder of sorts for dialogue

[2022-10-05 14:43] ddryo commented on #41124
@carolinan

No no no. It should not be that simple.

As for the styles provided by the theme, you are right, it may be possible to handle it by simply editing the CSS in the theme.

However, for a theme with tens of thousands of users, many users will be styling their sites with `.wp-block-group__inner-container` on their own sites.

The problem for the theme developer is that they want to introdu

[2022-10-05 14:49] paaljoachim opened #44714 "Navigation block: default spacing issue with sub menus"
### Description

The padding and margin should be adjusted for the Navigation block submenu.

Currently it looks like this:
![Screenshot 2022-10-05 at 16 45 21](https://user-images.githubusercontent.com/5323259/194089997-35a215e2-f4fd-48c9-8094-773c915b56b0.jpg)

The sub menu feels crammed.
I brought up the issue just after a core editor meeting.

### Step-by-step reproduction instructions

1. Add

[2022-10-05 14:52] paaljoachim commented on #44714
I am pinging both of you and I believe you might have a simple fix for this. Thanks!
@getdave @tellthemachines

[2022-10-05 14:53] scruffian commented on #44659
I see that the CSS file is loaded, but the CSS itself isn't present. It's trying to be loaded from /wp-includes/css/dist/block-library/classic.css?ver=1, but there's nothing at that location. Is this connected to the package building process?

[2022-10-05 14:54] ockham commented on #44618
I think the `_experimental` flag needs to be removed from `block.json`:

https://github.com/WordPress/gutenberg/blob/86730151579447a6c298cccfb7401b31c067fddc/packages/block-library/src/post-author-name/block.json#L4

(I think we used to have an allow-list of blocks in Core, but that changed per @gziolo's https://github.com/WordPress/wordpress-develop/pull/2940 which now evaluates that `block.json`

[2022-10-05 14:56] getdave commented on #44714
I would probably like to defer the design question. Happy to implement however.

[2022-10-05 15:01] nendeb commented on #44687
What I want to load is not only the built index.js, but also the javascript that I want to run after the custom block is displayed.
For example, a slider.

The purpose is to load javascript only when the block is available.

If you set up an arrayed handles in editor_script.
WP6.0 throws the handles as that array to wp_enqueue_style.
This works fine, but it is strange.

WP6.0 throws an array of ed

[2022-10-05 15:04] #29864 closed

[2022-10-05 15:06] ddryo commented on #18708
Just checked with 6.0.2 and it's cured!

[2022-10-05 16:03] lgladdy opened #44716 "Metaboxes registered after initial initialisation are not saved"
### Description

Somewhere around WordPress 5.8, Gutenberg stopped saving Advanced Custom Fields data for metaboxes which are added to pages after the page has been initialised.

This is because the `hasMetaBoxes` constant is only checked on init:
https://github.com/WordPress/gutenberg/blob/46179e217e5cc761453fb565ea0f59b71085e465/packages/edit-post/src/store/actions.js#L570

This means for any me

[2022-10-05 16:21] Mamaduka commented on #44716
Hi, @lgladdy

Can you provide a minimal code example to reproduce the issue without ACF?

[2022-10-05 16:28] tbob18 commented on #16454
Had the same issue. A simple fix, just add this to admin css override:

.wp-block-heading {
  font-weight: normal;
}
.wp-block-heading b, .wp-block-heading strong {
	font-weight: 700;
}
![bold-heading](https://user-images.githubusercontent.com/1667028/194112610-b4e12a6b-f743-4701-ba3c-5c77c4cc1ad8.png)

[2022-10-05 16:48] colorful-tones opened #44717 "[Create Block] Allow explicit target for block creation"
## What problem does this address?
I love that the `@wordpress/create-block` package allows the user to scaffold out a plugin for their blocks _and_ even has templates to allow developers to extend and create their own block template packages. ❤️ ❤️ 🤯

I believe it is a high-priority need for developers to be able to create this type of structure in their plugin to support multiple blocks:

[code]

[2022-10-05 17:09] colorful-tones commented on #44717
Likely related to #25188

[2022-10-05 17:15] colorful-tones commented on #25188
I'm just catching up over here and wanted to point to #44717 which has a good deal of overlap here and I would love feedback from you folks. cc: @dgwyer @cr0ybot @illycz @gziolo  Thanks!

[2022-10-05 17:25] ockham commented on #44659
Hmm, I see that file both in my local build, and in https://wordpress.org/wordpress-6.1-beta3.zip, as well as in a Beta 3 test install 🤔

[2022-10-05 17:27] lgladdy commented on #44716
@Mamaduka Sure! I've thrown together a quick plugin that shows the issue via a simple JS loaded into the block editor, https://github.com/lgladdy/gutenberg-issue-44716-demo

If you toggle between the `window.setTimeout` which adds the meta box after 2 seconds vs calling `addMetabox()` immediately on `.ready()` you can see the issue.

Updating a post where the meta box was added immediately, the ed

[2022-10-05 17:36] #44694 closed, assigned to youknowriad

[2022-10-05 17:40] lgladdy commented on #44716
Oops, sorry - repo is now public.

The main code that needs to run to demo this is here: https://github.com/lgladdy/gutenberg-issue-44716-demo/blob/main/after-init.js - if you'd rather run it in some other way than a plugin!

[2022-10-05 18:00] jerrysarcastic commented on #44675
In my tests I was able to replicate this issue when using Sequential, Edin, Twenty Seventeen, Dara, Argent, Hemingway Rewritten. Other classic themes may be affected as well.

[2022-10-05 19:05] bnjunge commented on #32644
+1 Negative values

[2022-10-05 19:47] kohheepeace commented on #41379
First of all, sorry if this has already been discussed or requested. Just a request for this issue 👍

**1: Hover is better than Select**

I think it is better to “**hover”** each section than to “**select”** it in order to **look for** design inspiration.

![2022-10-06 04 09 50](https://user-images.githubusercontent.com/29557494/194142681-1c80cdb2-6f5c-4c34-b7e2-819c700f91cc.gif)

Ref: [https://sh

[2022-10-05 20:16] ryanwelcher commented on #44717
@colorful-tones thank you for taking the time to put this together with such detail! Here are my thoughts.

The original purpose of the package is to create a plugin that contains a block. That’s the recommended way to create blocks and how they need to be packaged to be submitted to the plugin repo.

The `--no-plugin` flag was added to provide some more flexibility to block developers who were as

[2022-10-05 20:30] glendaviesnz commented on #39371
Sorry @Azragh, I forgot to add the link in the previous comment https://github.com/WordPress/gutenberg/issues/44435 - 🤞 [the fix here](https://github.com/WordPress/gutenberg/pull/44446) will resolve this for you. You could try the [14.3 release candidate](https://github.com/WordPress/gutenberg/releases/tag/v14.3.0-rc.1) to confirm that.

[2022-10-05 21:26] glendaviesnz commented on #44693
This seems to be related to the `clamp` values that TT3 is using for spacing sizes, eg. `clamp(7rem, 14vw, 11rem)`. If I replace these with simple `rem` values the margin visualiser works as expected. I will take a closer look and see if there is anyway of getting the clamp values into the format that the visualiser can cope with.

[2022-10-05 23:16] ethanclevenger91 commented on #41035
@ndiego That trac ticket doesn't seem to be the same thing. That trac ticket is regarding using an absolute URL as an argument to `add_editor_style`, while this issue is about _relative_ URLs within the stylesheet.

[2022-10-05 23:52] andrewserong opened #44720 "Tracking: additional layout options, design tools and refinements"
This supersedes https://github.com/WordPress/gutenberg/issues/39336 for tracking upcoming tasks around the layout block support.

As of WordPress 6.1, the layout block support [has been refactored](https://github.com/WordPress/gutenberg/pull/40875) to generate styles based on a central set of layout definitions, [a new constrained layout type](https://github.com/WordPress/gutenberg/pull/42763) has

[2022-10-05 23:57] andrewserong commented on #39336
___Update: 2022/10/06:___

With all layout changes that were slated for 6.1 now backported and in the 6.1 beta, now is a good time to close out this particular tracking issue. For bug fixes and smaller tasks, there is a new [`[Feature] Layout`](https://github.com/WordPress/gutenberg/issues?q=is%3Aopen+is%3Aissue+label%3A%22%5BFeature%5D+Layout%22) label that can be added to new bug reports and enh

[2022-10-05 23:57] #39336 closed, assigned to nobody

[2022-10-06 00:04] glendaviesnz commented on #41825
504 indicates that the server is timing out before the request is returned, so I don't think the problem is related to the Gallery block. @Mamaduka have you seen anything like the above 504 error on media retrieval before? It is unrelated to the 500 header length issue I think.

[2022-10-06 00:58] cuemarie commented on #44675
Hey @talldan ! Thanks for the ping. I saw the same issue present on **Karuna** in triaging, and as @jerrysarcastic noted, the issue also presented on many other classic themes.

Apologies for any confusion - I just only included **Twenty Seventeen** as the example in my notes. Hope that helps!

[2022-10-06 03:28] talldan commented on #20808
I'm not sure really, I think it still works in a similar way.

I don't think Enrique is contributing to the project any longer, so may not answer. This will probably need to be looked at by an accessibility rep and a designer.

[2022-10-06 03:28] #44693 closed, assigned to glendaviesnz

[2022-10-06 03:48] talldan commented on #29401
It looks like the problem isn't completely specific to the Navigation block - fully dynamic blocks don't support anchors. There was [a PR to try to solve this](https://github.com/WordPress/gutenberg/pull/24699), but it seems abandoned now.

The navigation block does have also an issue that it doesn't save any HTML markup, so the attribute declaration won't work because there is no `id`:
https://gi

[2022-10-06 05:55] aaronrobertshaw commented on #44712
Thanks for the ping @getdave 👍

If I understand the question correctly, we should be able to pass block support set colors down via block context.

The values set via the color block supports get saved into normal block attributes. So I'd imagine that it would be a matter of updating the block context configuration to match those and handle any block deprecation requirements.

Named colors are gen

[2022-10-06 07:08] paaljoachim commented on #40150
When I made this issue I thought that we would be able to change the author name and biography directly in the block, but it it will only take the information from the profile instead. I will close this issue.

[2022-10-06 07:08] #40150 closed, assigned to nobody

[2022-10-06 07:10] jasmussen commented on #44182
Just to be sure I'm understanding you right, the overlay show/hide is already working, using this feature, no?

<img width="277" alt="Screenshot 2022-10-06 at 09 08 58" src="https://user-images.githubusercontent.com/1204802/194237892-a836039e-7bbe-4064-9338-e531df334782.png">

[2022-10-06 07:49] paaljoachim opened #44725 "Navigation block in FSE: Adding a Font Awesome icon will affect menu item's styling"
### Description

I have this tutorial:
https://easywebdesigntutorials.com/adding-icons-to-your-menus/#site-editor

Where I explain how to use Font Awesome by adding an icon to FSE - Twenty Twenty Two.
As the icon is added it affects the menu item it is next to.

### Step-by-step reproduction instructions

Follow the tutorial for adding a Font Awesome icon.
https://easywebdesigntutorials.com/adding

[2022-10-06 07:50] dgwyer commented on #25188
@colorful-tones I created a wrapper CLI tool around create-block to extend it's capabilities. e.g. named blocks, and full Tailwind integration compiling CSS at the block level (separate files). I'd be open to adding more features. 🙂

https://github.com/dgwyer/create-wp-block

[2022-10-06 08:00] jasmussen commented on #44614
Each row of buttons is a single buttons block, with two button blocks inside, each set to 50% width.

<details>
<summary>Here's a code example</summary>

[code]

</details>

Good catch, centered works for me. However I'm not convinced left aligned does, I think we'd have to test in RTL language. It simply applies the `alignleft` class, which is mainly for back compat with the button as best I can

[2022-10-06 08:05] paaljoachim opened #44726 "Navigation block: Adding submenu to black header adds white text with white background."
### Description

I noticed that when adding a Navigation block in Twenty Twenty Two FSE theme and then adding a sub menu will show white text in a white box when there is a black header background.

### Step-by-step reproduction instructions

1. Activate Twenty Twenty Two.
2. Go to the Site Editor.
3. Be sure to use a black header.
4. Add a sub menu to the Block Navigation.
5. Notice the text can

[2022-10-06 08:17] getdave commented on #44182
Ah I was thinking of completely decoupling the overlay from the Navigation menu. This would allow you to have a different menu with different styling on "mobile". Unfortunately if the Overlay block is not coupled to the Nav block then the Overlay block will need to have the same `Off | Mobile | Always` type controls as you show in your screenshot above.

[2022-10-06 08:29] paaljoachim commented on #44714
From Twenty Twenty One.
![Screenshot 2022-10-06 at 10 08 45](https://user-images.githubusercontent.com/5323259/194259187-e1cc0d2f-0ef6-4249-8263-d25d837400a0.jpg)

From Twenty Twenty
![Screenshot 2022-10-06 at 10 17 23](https://user-images.githubusercontent.com/5323259/194259624-a42dd1b8-566c-479e-abe0-f76f72e9ced2.jpg)

Twenty Nineteen
![Screenshot 2022-10-06 at 10 18 33](https://user-images.gith

[2022-10-06 08:35] mtias commented on #7845
Indeed, `core/post-content` allows restricting to the root of post content and paired with `postType` you can restrict to a given CPT. Regarding root of site editor, it's worth reading through https://github.com/WordPress/gutenberg/issues/39281

[2022-10-06 08:58] jasmussen commented on #44714
Do you mean space between the menu item and the dropdown menu? Or padding for each menu item? In the case of the former, the challenge here is that if there's a gap between the menu item and the dropdown menu, in the case of the hover behavior, the menu closes as the mouse moves into the gap:

![spacing](https://user-images.githubusercontent.com/1204802/194268615-420ef07c-91d5-4b9f-a845-66b72fcd07

[2022-10-06 09:02] paaljoachim commented on #28647
Testing using
Twenty Twenty Two.
WordPress 6.0.2
Gutenberg plugin 14.2

Testing instructions from original post
1- Create a new post or a page.
2- Add Buttons block with three to four buttons inside.
3- Set each button to 100% width, so that each button sits on a separate line.
4- Note that large vertical space between the buttons. If you hover over that space, a block appender will appear.

Getti

[2022-10-06 09:04] paaljoachim commented on #28647
From what I am seeing the appender in between the buttons is having a hard time showing up and could be fixed.
We should close this issue and open a new issue in relation to getting a more stable appender in place which will easier show up between the buttons.

[2022-10-06 09:13] jasmussen commented on #28647
Getting the appender to show between buttons in small-gap situations feels like a separate issue to being able to controlling the gap, right?

[2022-10-06 09:15] paaljoachim opened #44728 "Buttons block: In between buttons appender is not functioning correctly"
### Description

I tested another issue:
https://github.com/WordPress/gutenberg/issues/28647#issuecomment-1269630373

One of the tests were in relation to the inbetween buttons appender. From my testing the appender needs to be adjusted for it to work properly in between the buttons. To be able to add a new button.

### Step-by-step reproduction instructions

1. Add a Buttons block.
2. Create 4-5

[2022-10-06 09:16] benridane commented on #44625
It found out  that canOutdent process checked only grandParent is exists  or not.
In this case,  parentBlock inside of GroupBlock is always true.

List Item should only move when Grand Parent is List Item.

https://github.com/WordPress/gutenberg/blob/d74a06f9f9c8f58eb7d49ed99e299215e44cf147/packages/block-library/src/list-item/hooks/use-outdent-list-item.js#L23-L28

[2022-10-06 09:16] paaljoachim commented on #28647
Yes. Here is the new issue for the in between appender: https://github.com/WordPress/gutenberg/issues/44728

Closing this issue.

[2022-10-06 09:16] #28647 closed

[2022-10-06 09:23] paaljoachim commented on #44714
"Do you mean space between the menu item and the dropdown menu?"
Yes. The sub menu container is too close to the top menu items. Creating a too tight of a space between top menu items and the sub menu container. The tricky part as you mention is that the sub menu will close when the cursor is in between the top level and the sub menu container.

Happy to hear that there are some Global Styles effo

[2022-10-06 09:35] juanmaguitar commented on #7845
@westonruter as this issue was created 4 years ago, could you please verify that according to @mtias [comment here](https://github.com/WordPress/gutenberg/issues/7845#issuecomment-1269588494) (and previous ones) you're currently able to restrict blocks to only be used from the root of your Custom Post Type?
If so, I think we can close this issue.
I have created https://github.com/WordPress/gutenbe

[2022-10-06 09:42] jasmussen commented on #44359
Here's a draft, showing a new "Caption" button in the toolbar:

<img width="1600" alt="Quote, Cite buttons" src="https://user-images.githubusercontent.com/1204802/194284286-e443a631-284d-4547-9bf9-209450f8bb3e.png">

[Figma](https://www.figma.com/file/vmHxwa8WhiyiP9poe2om9J/Inspector-Panels?node-id=13477%3A39793).

[2022-10-06 09:45] mtias commented on #44725
This is a problem with what classes you are using, unrelated to the editor. You seem to be adding a `.fa-brands` class which does this `.fa-brands,.fab{font-family:"Font Awesome 6 Brands"}`, that will force your font family selection on the entire element, not on the `::before` or `::after` pseudo elements.

[2022-10-06 09:45] #44725 closed, assigned to nobody

[2022-10-06 09:46] juanmaguitar opened #44729 "Clarify in the HandBook that a block can also be restricted to be a child of Post Type"
This issue https://github.com/WordPress/gutenberg/issues/7845 reflects how is not clear that a block can currently be restricted to only be the child of a Post Type

At least, a note about this capability should be added to the [**Parent**](https://developer.wordpress.org/block-editor/reference-guides/block-api/block-metadata/#parent) section at  [Home](https://developer.wordpress.org/) / [Block E

[2022-10-06 09:55] Olein-jp opened #44730 "Showing global style's title on inspector"
## What problem does this address?
Now we are going to change global style, we can see style's panel which show color stylying.
But if we make looks like similer global style, we'll not easy to choice which is our favorite, which is before one.

## What is your proposed solution?
I think better to show global style's title which we set in global style's json, not only a bit coloring information.
I

[2022-10-06 10:00] Mamaduka commented on #41825
I can't recall.

I see that 504 happens even when `include` has a single ID. I guess that some plugin is performing a heavy operation when images are requested.

**Re: 500 errors**

I came across this issue #11541 last week, and there's an example of how core [solved a similar issue](https://core.trac.wordpress.org/attachment/ticket/22757/22757.3.diff) for the script loader. So maybe we could try

[2022-10-06 10:14] draganescu commented on #18345
I tried the above once many months ago and it requires significant updates to how link control works. It is the way tho' :) I just wanted to mention it's complicated by how LinkControl works.

[2022-10-06 10:16] scruffian commented on #44659
I have an idea for a fix here: https://github.com/WordPress/gutenberg/pull/44731

[2022-10-06 10:18] draganescu commented on #30163
I think the navigation link is different from the inline link because the inline link is visibly removed from the text, while in the navigation block only the label is removed. If we remove the link when we delete all the label text, editing the label from scratch will become impossible.

I think the solution here is to manage the placeholder depending on the navigation link having an URL or not.

[2022-10-06 10:30] jasmussen commented on #43852
This issue has been updated to tackle the idea of making the overlay menu a separate block that can be edited in focus mode. If you're subscribed, it could use both technical and design feedback!

[2022-10-06 10:32] jasmussen commented on #44182
Good questions to work through. I commandeered #43852 to be about the overlay as a block, it could be a good place to center the conversation and challenges, and I'll be here to update mockups for any shortcomings present.

[2022-10-06 12:10] PooSham commented on #44686
@glendaviesnz Thanks for trying to replicate. I don't understand if I'm doing something wrong or if it's a general Linux issue. I feel like it should get more traction if it's a general problem.

I get the same error with a wp-cli installed globally btw.

I wish I knew which command failed and why it outputs the `sed` help text. If I knew that it might be easier to figure out why it fails, if I'm

[2022-10-06 12:15] patrickwc commented on #37031
We are experiencing issues with this at our agency. We not add a filter which makes it possible for theme authors to change the dimRatio > 50 value mentioned above by @glendaviesnz ? @scruffian can I ask why was 50 decided upon? I feel like this update only took into account solid background colours not background images with overlay settings applied to them. A dark overlay with 50 opacity is stil

[2022-10-06 12:19] bph commented on #40908
Tested it again this morning and yes, it has been fixed.
Using WordPress 6.1 Beta 3 alone didn't fix it. It only is resolved after installing Gutenberg Nightly (includes 14.3 RC).
## Before

https://user-images.githubusercontent.com/39980/194310558-d7ee6839-ab38-4f4f-97b9-64755d8688e9.mp4

## After

https://user-images.githubusercontent.com/39980/194310715-25a3a7d9-d97b-4d84-8cd2-a3496a7038da.mp4

[2022-10-06 12:27] mikachan opened #44736 "Block margin theme.json settings are being overridden"
### Description

When margin is applied via theme.json to a site title block, it looks like it's being overridden by the following CSS on the front end:

[code]

| Editor | Front end |
| ----- | --------- |
| <img width="1070" alt="image" src="https://user-images.githubusercontent.com/1645628/194311833-c79a3bb7-461f-4702-b5b4-729561b09cb6.png">| <img width="1055" alt="image" src="https://user-imag

[2022-10-06 12:28] jonathan-dejong commented on #37031
This is a wider issue with visually breaking changes in many core blocks in combination with being static blocks.. but please, for this specific issue, at least play ball with us in finding a code solution that does not require us telling clients to go update all their content.

[2022-10-06 12:51] tomjn opened #44738 "Post Editor: Preview button was removed by a Site Editor change"
### Description

In #42331 the site editor was improved by changing the preview button to a view button. However this change wasn't just applied to the site editor, it was applied to _all_ editors. I can understand why the change was made for the site editor, but it's a major regression for the post editor and other block interfaces.

This on its own will create tens of thousands of hours of suppo

[2022-10-06 12:59] carolinan commented on #44726
Hi, this was fixed in [44678](https://github.com/WordPress/gutenberg/pull/44578) and will be in the next plugin release

[2022-10-06 14:00] mcsf commented on #41547
What we meant here is that, currently, configurations are easily representable in the Global Styles sidebar: there are general styles accessible via _Typography_, _Colors_, _Layouts_ at the root of the sidebar drill-down menu, and then there are block-specific ones. There is room to improve that UX, but it's still straightforward.

A system of nested block rules would certainly stress the UI. One

[2022-10-06 14:09] mtias opened #44750 "Improve pattern rendering sequence"
At the moment, patterns seem to go through a few rendering adjustments before settling into their final form. I'm spotting at least three but there could be more.

It'd be great to solve this as it makes the pattern inserter and the pattern experience feel more fragile.

| First Render  | Second Render | Third Render |
| ------------- | ------------- | ------------- |
| <img width="299" alt="image

[2022-10-06 14:18] benhuur1 commented on #13816
Try adding this line of code:
[code]

Here it solved just adding this line of code

[2022-10-06 14:23] t-hamano commented on #44055
Hi @ithinkandicode,

Thank you for submitting the Issue.

I would like to address this issue as well, but I think we should focus on one discussion in one issue. Regarding the list of issues you mentioned, it might be better to submit another issue if it does not already exist.

[2022-10-06 14:32] NekoJonez opened #44751 "Possible confusion in menu's with the "More" block."
Reported on Slack by Jaap Wiering

If you work in the block editor and have added the block "More", and then want to change things with the 3 dots menu, you get some confusing phrases. "Hide more settings" and "Remove More" are already confusing in English. But if you translate this string in for example Dutch you lose track (especially with new people). Could we use - instead of "More" - the term

[2022-10-06 14:37] ya123123 opened #44752 "[WP 6.1] Global Styles: Heading elements UI doesn't output fluid font size"
### Description

When I use TT3 and set H1 to XXL at Styles > Typography > Heading, the output is not a fluid font size.

Expected global style output:
h1 {font-size: var(--wp--preset--font-size--xx-large);}
or
h1 {font-size: clamp(4rem,4rem + ((1vw - 0.48rem) * 30.769);}

Happens instead:
h1 {font-size: 10rem}

### Step-by-step reproduction instructions

1. Use WP 6.1 beta 3 and Twenty Twenty Thr

[2022-10-06 14:40] t-hamano commented on #44055
I found that this problem also occurs with the up arrow key. When a block is adjacent to a **vertical edge**, the cursor doesn't move to the previous block.

Perhaps this is related to the passage:
https://github.com/WordPress/gutenberg/blob/7f3993f6b0b4f27c38223568e342ce1e0990cfbe/packages/block-editor/src/components/writing-flow/use-arrow-nav.js#L262

[2022-10-06 15:30] dream-encode commented on #44738
This one looks like it needs a fix before 6.1 RC.

CC @ndiego @ockham @c4rl0sbr4v0 @annezazu

[2022-10-06 15:51] annezazu commented on #44738
cc @jameskoster / @jasmussen / @richtabor for a design point of view. I can see an argument that this creates consistency across the editors and I can see an argument for having nuance in each. In the original PR that implemented this, it seems like there wasn't necessarily certainty there either https://github.com/WordPress/gutenberg/pull/42331#issuecomment-1181536147

For now, adding to the 6.1

[2022-10-06 15:54] desrosj commented on #44679
Another observation I had today as it relates to caching.

The performance testing runs `npm install` multiple times to ensure that the needed dependencies and versions are installed each time a new branch is compared. But, the same cache key is used for the performance workflow as all other workflows. It's possible that the caching benefits are not being experienced in this situation.

[2022-10-06 16:16] mcsf opened #44753 "Up/down keyboard navigation jumps horizontally"
See also: ~#53416~ https://github.com/WordPress/gutenberg/issues/44055

### Description

### Step-by-step reproduction instructions

**The horizontal caret position is not properly preserved across paragraph jumps.** All three browsers behave differently. See the attached videos, in which I place the caret at the end of the last paragraph and then just press <kbd>Up</kbd> repeatedly.

Chrome seems

[2022-10-06 16:22] t-hamano commented on #44055
I was able to identify that this API returns incorrect values only when the block is adjacent to the vertical edge.

https://github.com/WordPress/gutenberg/blob/e86b5509903c3415c8f965312bcce69aca50b59f/packages/dom/src/dom/caret-range-from-point.js#L15

However, I have not been able to find the cause of the problem, so hopefully someone more knowledgeable about this issue will look into it.

[2022-10-06 17:01] jonmarkhall commented on #41414
@mrfoxtalbot I believe this is still an outstanding issue with our plugin's Gutenberg integration, I am not sure of the reason for the  difference in handling of object formats in Safari.

[2022-10-06 17:14] mcsf opened #44755 "Safari: Shift+click can't select across text blocks"
### Description

Clicking while pressing the Shift key is a convenient way to create a selection between two points. Since the introduction of partial multi-selection in #38892, users can expect to use this method of selection across blocks, just as they would in a word processor. It doesn't work in Safari, though.

### Step-by-step reproduction instructions

1. **In Safari,** in a post with multi

[2022-10-06 17:14] 1j0ysweet opened #44756 "enjoycart"
## Description

## Step-by-step reproduction instructions

## Expected behaviour

## Actual behaviour

## Screenshots or screen recording (optional)

## WordPress information
- WordPress version:
- Gutenberg version:
- Are all plugins except Gutenberg deactivated?
- Are you using a default theme (e.g. Twenty Twenty-One)?

## Device information
- Device:
- Operating system:
- WordPress app version:

[2022-10-06 17:44] westonruter commented on #7845
@juanmaguitar It's been so long that the original reason I filed this issue is now obsolete. I'll trust what @mtias says 😄

[2022-10-06 17:44] #7845 closed

[2022-10-06 17:55] ricjcs opened #44757 "List v2: Lists with 3 levels are impossible to edit without breaking after Gutenberg 14"
### Description

Lists with 3 levels **made before Gutenberg 14**, with this update if edited will be broken.

Adding new items or changing the URL breaks the list. Outdent and Indent don't work either.

### Step-by-step reproduction instructions

1. Build a 3-level list with Gutenberg older than 14 or without Gutenberg.
2. Install Gutenberg 14.
3. Edit the list: add new items, change URLs, etc.

[2022-10-06 18:43] ryanwelcher commented on #42961
@bph combined dev note for the create-block stuff.

## Create-Block Dev notes WP 6.1

#WordPress 6.1 introduces many updates and new features to the @wordpress/create-block.

### New Features
#### Block Variants

The new `–variant` flag allows users of the tool to choose a block variant to be scaffolded. The internal templates provided by the create-block package support a `dynamic` and `static` v

[2022-10-06 18:53] skorasaurus commented on #44756
Hi,

There is not enough information to act on this.
Please add additional context by each of the prompts and reopen the issue.

[2022-10-06 18:53] #44756 closed, assigned to nobody

[2022-10-06 19:11] paaljoachim commented on #44726
Great! Thank you Carolina!
Closing this issue.

[2022-10-06 19:11] #44726 closed, assigned to nobody

[2022-10-06 20:33] glendaviesnz commented on #41825
Thanks @Mamaduka. @bezbee looking at those errors, I don't think this a Gutenberg related issue,  as @Mamaduka notes there might be another plugin in your system that is causing timeouts when processing images. You could try disabling any image related plugins one at a time and see if that resolves the issue, if it does then contact the plugin authors of the one that seems to cause the issue.

Clo

[2022-10-06 20:33] #41825 closed, assigned to nobody

[2022-10-06 22:23] ramonjd opened #44758 "Fluid typography: custom font sizes should be converted to fluid font sizes values"
### Gutenberg Bugfix PRs

- [x] https://github.com/WordPress/gutenberg/pull/44762
- [x] https://github.com/WordPress/gutenberg/pull/44761
- [x] https://github.com/WordPress/gutenberg/pull/44764
- [x] https://github.com/WordPress/gutenberg/pull/44765
- [x] https://github.com/WordPress/gutenberg/pull/44807
- [x] https://github.com/WordPress/gutenberg/pull/44847
- [x] https://github.com/WordPress/gut

[2022-10-06 22:38] glendaviesnz commented on #44686
It is probably something to do with [this change](https://github.com/WordPress/gutenberg/pull/41780/files#diff-d68cf4422d722f7d36102ee632ee295d24fee0fc6b6367ab854952a08a1e6a89R113) and the linux distro not liking the new sed syntax.

You can hopefully verify this if you comment out this whole `await dockerCompose.exec(` in `node_modules/@wordpress/env/lib/wordpress.js` in your local install and th

[2022-10-07 00:46] cuemarie opened #44760 "Navigation Submenu's block is not marked as Invalid when page is deleted"
### Description

When a Navigation Block Submenu uses a Page for it's Parent menu item, and that page is deleted, the editor does not show `(Invalid)` next to the menu item, like it does for other menu items.

This happens with the Navigation Block in both Classic and FSE themes.

### Step-by-step reproduction instructions

1. Add a navigation block to a site, and build a submenu with the parent i

[2022-10-07 01:50] maharzan commented on #32939
I am trying to make a block theme. I have a 3 column layout on the homepage (index.html) and want to add a 2 column layout as well. Its as easy as changing the columns:3 to columns:2 in the query (index.html) but I haven't found a way to do this. I want to have an option (in customizer) to set homepage columns. I do not want to use page templates (or set static front page). I have been searching f

[2022-10-07 02:43] twstokes commented on #40029
👋 I wanted to add that there's also now a hopping component to the keyboard. iOS 16 / WPiOS 20.9.

https://user-images.githubusercontent.com/2092798/194456761-936e3af3-2f5e-4624-8930-29b8778b4ac8.MP4

[2022-10-07 03:01] ramonjd commented on #44758
@scruffian could you/themes folks spare any time to test the ongoing bugfix PRs for this issue? 🙇

cc/ @priethor

[2022-10-07 06:27] jasmussen commented on #44738
Personal opinion: I like keeping it "View". The canvas itself is already a preview, and the View toggle offers query based sizes, and an option to view in a new tab.

[2022-10-07 06:32] aristath commented on #43173
Reopening this one. The Gutenberg PR on https://github.com/WordPress/gutenberg/pull/43177 needs to be merged in order for the tests to stop failing in the Core PR 😅

[2022-10-07 06:39] ntsekouras commented on #42961
## Extending the Query Loop block

Extenders needed a way to present bespoke versions of the Query Loop block, with their own presets, additional settings and without customization options which are irrelevant to their use-case. With WordPress 6.1 the Query Loop block offers very powerful ways to create such versions, through block variations.

To make [Wordpress recognize your variation](https://

[2022-10-07 07:04] jasmussen commented on #44751
Good issue. Some quick thoughts:

* Do we actually need the "Hide more settings" button at all? It used to exist in order for keyboard users to navigate from the block to the inspector. But since you can just press Tab now, it seems like we can remove that menu item entirely?
* Can we rephase the "Remove More" to just be "Remove"?

[2022-10-07 07:06] imanish003 opened #44767 "Choose a block menu showing over the modal"
### Description

As you can see in the screenshot below, choose block menu appears over the Patterns modal.
![image](https://user-images.githubusercontent.com/16707866/194487925-513a9666-00bd-40c0-a96c-35a6c46d92bb.png)

#### Expected behavior
The choose a block menu should be behind the modal, in this case, the patterns modal.

### Step-by-step reproduction instructions

1. Edit any post & type `

[2022-10-07 07:39] jasmussen commented on #44758
Definitely a bug, otherwise the boolean would be unnecessary. Thank you for working on this. 🙏

[2022-10-07 07:59] fluiddot commented on #40029
Thanks @twstokes for reporting this and checking the issue on iOS 16 🙇 ! It's definitely getting bumpier 😞, although the major issue is the big jump in the block list.

I noticed this issue didn't have a priority label so I went ahead and mark it as a high priority. My rationale is that this is disrupting the writing experience severely and might confuse the user about the position where the conte

[2022-10-07 08:11] rocramer commented on #40289
@aristath Fair enough. But then it is inconsistent to set the default class when you click explicitly on the default button. A consistent behaviour should be aimed. Everything else is confusing.

[2022-10-07 08:11] SiobhyB commented on #40029
Thanks for following up @twstokes!

@fluiddot, I wasn't able to find a fix, unfortunately, but investigations found the following:

* The issue is likely related to the [third-party KeyboardAwareScrollView component](https://github.com/APSL/react-native-keyboard-aware-scroll-view/).
* There are several reports of similar “bouncing” in [KeyboardAwareScrollView‘s repo](https://href.li/?https://githu

[2022-10-07 08:28] jrfnl commented on #43333
@talldan @desrosj ☝🏻

[2022-10-07 08:52] Azragh commented on #39371
@glendaviesnz Sorry for the late response - works as it should. 😁

[2022-10-07 09:03] oandregal commented on #42961
@bph I've looked into changes and don't see anything left. People that worked actively in this area may want to double-check, cc @scruffian @ajlende @MaggieCabrera etc.

[2022-10-07 09:28] aristath opened #44772 "Performance regression in WP 6.1 for `theme.json` processing"
### Description

I'm currently trying to improve performance in WP-Core, and the thing that currently stands out as a bottleneck is the `WP_Theme_JSON::remove_keys_not_in_schema` method.
Posting a screenshot of a webgrind analysis below:

<img width="1045" alt="Screenshot 2022-10-07 at 11 15 06 AM" src="https://user-images.githubusercontent.com/588688/194519105-cb105115-63ee-4c47-a1a9-e61c5a0a9c01

[2022-10-07 09:35] aristath commented on #44772
I'm trying to understand why `remove_keys_not_in_schema` is necessary... 🤔
I understand that it cleans up the parsed JSON, but is there any actual problem if the JSON has some extra things in it?
Do extra/unused items in the json cause any problems? Or do we just use that function because we want to keep things tightly controlled & limited?

cc @getdave, if I'm not mistaken that was added in the `

[2022-10-07 09:41] kisscodes1909 commented on #19132
I also had a similar situation, multiple APIs were called and returned incorrect data.

Do you have any advice for us?

https://www.awesomescreenshot.com/video/11571190?key=a0a17800dbe445fe079b2e3f4fe221f8

[2022-10-07 09:53] oandregal commented on #44619
I cannot longer reproduce this bug with latest `trunk`.

[2022-10-07 10:10] bobbingwide commented on #44738
My personal opinion. I don't use Preview. I much prefer to Update and View Post. WIBNI if the View menu actually included the option to actually view the post.

[2022-10-07 10:39] #44608 closed, assigned to dinhtungdu

[2022-10-07 10:55] mtias commented on #44359
For images, I'd probably move "add caption" right after the alignment icon since it's pretty important. Would also be good to explore a caption button overlaid on top of the image canvas, just to exhaust all options.

[2022-10-07 10:59] mtias commented on #43852
I think it should be a template part, not a separate block.

[2022-10-07 11:04] oandregal commented on #44772
We merged two recent PRs in `wordpress-develop` that made the caching only be available for _reading the JSON file_ from the file system, and removed the other processing we did before.

- https://github.com/WordPress/wordpress-develop/pull/3408
- https://github.com/WordPress/wordpress-develop/pull/3359

The rationale for this is that the theme.json classes are now used before all the blocks are r

[2022-10-07 11:05] mtias commented on #44418
Also related to #38267.

I see this tool operating at the level of the "appearance" / "settings", exposed like we have "Duplicate" for the entire block in the ellipsis menu.

[2022-10-07 11:05] aristath commented on #44772
Update: It looks like this commit is the culprit: https://github.com/WordPress/wordpress-develop/commit/a93789208fdbca326a4c53c883baac9f6183483d
Reverting that commit fixes the issue locally.

Props @ockham and @oandregal for pointing me to that direction 👍

[2022-10-07 11:07] mtias commented on #44412
Some prior art: https://github.com/WordPress/gutenberg/pull/25413

[2022-10-07 11:12] jasmussen opened #44776 "Site editor: Revisit the appearance of of hover outlines for blocks"
When editing in the site editor, there are block boundary outlines shown on hover, in addition to select:

![before](https://user-images.githubusercontent.com/1204802/194537795-a390ab5f-9711-4c1e-9fe1-8571f6ba1098.gif)

Notably the hover outlines can feel a bit noisy and distracting at times. Should we remove them? [This draft PR](#44774) explores doing so:

![no outlines on hover](https://user-im

[2022-10-07 11:13] ockham commented on #44772
Thank you for tracking this down, @aristath. I had left a comment on the originating PR with some suggestions for more caching: https://github.com/WordPress/wordpress-develop/pull/3408#issuecomment-1268457840. Maybe applying these could mitigate the issue?

Unfortunately, I'll only have limited availability myself until Tuesday. Pinging @oandregal @andrewserong @ajlende @talldan @glendaviesnz who

[2022-10-07 11:24] ockham commented on #44772
Ah, that might not cut the mustard 😕 (I had missed these two comments: https://github.com/WordPress/gutenberg/issues/44772#issuecomment-1271356760 and https://github.com/WordPress/gutenberg/issues/44772#issuecomment-1271447927.)

[2022-10-07 11:24] aristath commented on #44772
Posting 2 screenshots with the stats with and without that commit.

With the commit applied:

<img width="991" alt="Screenshot 2022-10-07 at 1 17 12 PM" src="https://user-images.githubusercontent.com/588688/194541197-c9142a6d-a9bf-472c-9937-b105eeffd9bb.png">

When reverting the commit:

<img width="991" alt="Screenshot 2022-10-07 at 1 16 22 PM" src="https://user-images.githubusercontent.com/58868

[2022-10-07 11:24] mtias commented on #23328
Closing in favor of #36667

[2022-10-07 11:24] #23328 closed

[2022-10-07 11:29] ockham commented on #44772
Thank you Ari!

@oandregal Can we cache `sanitize` based on the 2nd and 3rd argument (list of valid blocks and elements, respectively)? The keys of those arrays (block and element _names_) should be hopefully enough.

[2022-10-07 11:30] mtias commented on #38291
Should we close this and keep remaining efforts on improving the slug allocation and resolvers?

[2022-10-07 11:31] draganescu commented on #43852
I agree w/ @mtias because I think it's a good idea:

- we keep how the block works now as a default
- if the theme or the user creates a navigation-overlay template part the block automatically uses that

Whill this template part be able to include the block that references it? 😁

[2022-10-07 11:32] draganescu commented on #38291
#44173 solved the last part of this which is in the reduced scope here. Slug management is a larger scope.

[2022-10-07 11:32] #38291 closed, assigned to getdave

[2022-10-07 11:48] ockham commented on #44619
Thank you for verifying @oandregal!

Closing, as this has now been fixed by https://github.com/WordPress/wordpress-develop/pull/3408.