[2021-05-25 20:08] critterverse opened #32224 "Customizer Widgets: move ellipses menu to Customizer top bar"
Hi all, just recapturing a notes left on merged PR #31970

The ellipses menu for the Customizer Widgets editor should appear in the top Customizer bar next to the Publish button. It's getting a little lost where it is currently in the editor top bar.

![ellipses-menu](https://user-images.githubusercontent.com/77359364/119561390-1966fa80-bd73-11eb-9e92-2e5efa342c0b.jpg)

[2021-05-25 20:21] creativecoder commented on #29357
This is resolved now, with only a "browser default" padding of 8px left around the edges (#30277)

[2021-05-25 20:21] #29357 closed

[2021-05-25 21:31] rfischmann commented on #18510
Wow, this seems like a severe bug to me to stay uncorrected for a year and a half. It's such a basic feature and a common action (for authors to use already-uploaded images as a featured one) that I wonder why so few people manifested here.

[2021-05-26 00:06] claudiulodro commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-26 00:06] aduth commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-26 01:29] aaronrobertshaw commented on #28356
Margin block support was added in https://github.com/WordPress/gutenberg/pull/30608.

I'm also starting to work on updating the spacing support panel into the proposed "Dimensions" panel. Once I have that in place, the plan is I'll add height and width support to that.

[2021-05-26 03:37] talldan commented on #32215
The code for the widget screen was merged to core yesterday and included this:
https://github.com/WordPress/wordpress-develop/pull/1284/files#diff-0ed28dcc06a2097b0b6ea754f3d111cf434a4ab555e91eeb8abf7c343bc500d4R16

So I think `is_block_editor` will be `true` in WordPress 5.8.

The Gutenberg plugin has done things a different way using the filter below, and I don't think that modifies the `is_bloc

[2021-05-26 08:04] oandregal commented on #28913
All properties have gotten the `_skipSerialization` flag, so I'm going to close this one. We can still migrate blocks iteratively, do follow-ups, etc ― but for the purpose of tracking this work, we're done.

[2021-05-26 08:04] #28913 closed

[2021-05-26 08:07] mattyrob commented on #32215
@talldan

Thanks for the response and pointers to the code snippets.

I have implemented a local `var_dump()` to assess the status of `is_block_editor()` and `'should_load_block_editor_scripts_and_styles'` and it is very inconsistent.

On edit.php when editing a post these return `true` and (I think) null.
On widgets.php these return `false` and null.
On customize.php these return `false` and `tru

[2021-05-26 08:09] oandregal commented on #30082
Going to close this one as per https://github.com/WordPress/wordpress-develop/pull/1262

[2021-05-26 08:09] #30082 closed, assigned to nobody

[2021-05-26 08:10] oandregal commented on #27504
Going to close this one as per https://github.com/WordPress/wordpress-develop/pull/1262 and https://github.com/WordPress/wordpress-develop/pull/1287

For WordPress 5.8 we haven't introduced specific filters for global styles but instead, we rely on the existing WordPress mechanisms.

[2021-05-26 08:10] #27504 closed

[2021-05-26 08:13] oandregal commented on #24165
Given that we've already landed an endpoint https://github.com/WordPress/gutenberg/pull/29969 and other things for mobile, can we close this issue? cc @geriux

[2021-05-26 08:13] youknowriad commented on #31416
I'm going to close this now as we're passed feature freeze. I think I expected a bit more updates here. Anyway, let's continue doing non stop (and not wait for the last moment in the release cycle). Thanks folks.

[2021-05-26 08:13] #31416 closed, assigned to nobody

[2021-05-26 08:16] youknowriad commented on #30918
Let's continue improving the blocks but I'm removing this from the 5.8 board as we're passed the feature freeze date. Bug fixes can continue to land though and important iterations (case by case) can be considered.

[2021-05-26 08:16] youknowriad commented on #30921
Let's continue improving the blocks but I'm removing this from the 5.8 board as we're passed the feature freeze date. Bug fixes can continue to land though and important iterations (case by case) can be considered.

[2021-05-26 08:18] geriux commented on #24165
Yes, we can close this one 👍

[2021-05-26 08:18] youknowriad commented on #28736
The first iteration of this landed and I'm removing this from the 5.8 board as we're passed the feature freeze date. Bug fixes can continue to land though and important iterations (case by case) can be considered.

[2021-05-26 08:18] #24165 closed

[2021-05-26 08:21] youknowriad commented on #28921
I'm removing this from the "must-have" board since the first iteration landed and the patterns are now part of the directory and can be iterated on independently from the release cycle.

[2021-05-26 08:21] youknowriad commented on #31489
I think this one is still experimental right? So we can remove it from the 5.8 must haves?

[2021-05-26 08:31] youknowriad commented on #29568
Initial version of this landed, we have a couple follow-up PRs to address some related issues but for now, I'm removing this issue from the must-have board as the UI is not expected in 5.8.

[2021-05-26 08:32] youknowriad commented on #30910
Is there any important remaining thing here that is mandatory in 5.8? Should we remove this issue from the board?

[2021-05-26 08:33] youknowriad commented on #30668
Template part block is not part of 5.8, that said, we still need a long term solution for this. I'm removing this from the 5.8 board.

[2021-05-26 08:34] youknowriad commented on #26632
This didn't make the 5.8 cut, I'm removing it from the board. also cc @mtias in case you have thoughts about this, I know that we decided against such an API previously.

[2021-05-26 08:36] youknowriad commented on #30800
I'm removing this from the 5.8 board due to the feature freeze, that said if we do add important iterations, we can still consider these case per case as part of the general polish that happens during alpha/beta.

[2021-05-26 08:36] jameskoster commented on #27851
Thanks @annezazu, having thought about this a little more I'm not sure how useful it would be in practical terms. If you're creating a new template for a post or page (currently all that is possible in the UI), then there will only be so many existing templates you can use as a base. Most of them – things like 404, archive, search – will not be suitable. Overall this flow (essentially duplicating

[2021-05-26 08:38] youknowriad commented on #26573
@WordPress/gutenberg-core Would anyone be able to audit the existing FSE blocks that landed in 5.8 to ensure they guarantee that https://github.com/WordPress/gutenberg/issues/26573#issuecomment-832324922

[2021-05-26 08:40] youknowriad commented on #31657
I can't reproduce anymore 🤷

[2021-05-26 08:40] #31657 closed, assigned to nobody

[2021-05-26 08:42] youknowriad commented on #31798
@WordPress/gutenberg-core This one is worth-investigating if anyone has time.

[2021-05-26 08:43] youknowriad commented on #32027
@nosolosw Did we include a shim for these in the Core patch?

[2021-05-26 08:45] youknowriad commented on #32069
The Post Editor automatically applies the "layout" config (sizes), it seems that config shouldn't apply to the template mode as well. Template mode should work more like the site editor (no default layout applied)

[2021-05-26 08:46] youknowriad commented on #30406
While trying to integrate this block into Core we had feedback about its storage. This is tracked separately here #32065 and is important to land in 5.8. For the remaining improvements tracked on this issue, we should consider them case by case as we're passed the feature freeze date.

[2021-05-26 08:47] youknowriad commented on #31076
We have this in place now. Should we close this issue or keep it for potential improvements?

[2021-05-26 08:49] youknowriad commented on #31789
Let's try to remove the meta boxes from the template mode.

[2021-05-26 08:51] youknowriad commented on #31322
Thanks all for your work here. We got all the big features in. We have a couple smaller remaining issues. Let's now coordinate using the [5.8 Must Haves](https://github.com/WordPress/gutenberg/projects/55) board. Please take a look there and consider the items there as the highest priorities at the moment.

[2021-05-26 08:51] #31322 closed, assigned to nobody

[2021-05-26 08:52] jameskoster commented on #30800
I'm going to close this as the save flows seem to have changed a bit. Working with templates in draft posts doesn't feel _as bad_ as it did previously, but there's probably room for optimisation. We can explore that in separate issues.

[2021-05-26 08:52] #30800 closed, assigned to nobody

[2021-05-26 09:13] Clorith commented on #30910
Looking at the checklist in the initial post, there's still a fair bit of outstanding issues (or just needs an update), most importantly I would say is the edit feature.

I've noticed this is still on by default, and _will_ lead to user confusion (if I edit something in a page, I expect it to be within the context of that page, not that it changes globally on my site). Even with the extra checkbox

[2021-05-26 09:16] talldan commented on #32192
Thanks for reporting the problem. This was already reported in https://github.com/WordPress/gutenberg/issues/31023, so I'll close this as a duplicate.

[2021-05-26 09:16] #32192 closed, assigned to nobody

[2021-05-26 09:21] jameskoster commented on #30910
I'd like to propose the solution in https://github.com/WordPress/gutenberg/pull/31461#issuecomment-839770893 for this. The use case is virtually identical.

---

I wonder if we can decrease reliance on the confusing "inherit query from URL" option through contextual variations. Similar to what we've done with the Header / Footer template parts.

When editing a post, I would never want a query to i

[2021-05-26 09:24] talldan commented on #32193
I couldn't reproduce the issue. @mrsjaved is there a specific WordPress and/or Gutenberg version you're testing with?

I notice your screenshot is also showing the Move to Widget Area toolbar button twice, which seems very wrong.

edit: I see now that there's another bug report related to that last point - https://github.com/WordPress/gutenberg/issues/32191.

[2021-05-26 09:26] jameskoster commented on #26573
Noting: We can potentially use the design pattern suggested in https://github.com/WordPress/gutenberg/pull/31461#issuecomment-839770893 as a solution here. The only difference being that appropriate blocks will not exhibit the unlocking affordance at all.

[2021-05-26 09:27] jameskoster commented on #31076
We can close once https://github.com/WordPress/gutenberg/pull/32042 is merged.

[2021-05-26 09:27] talldan commented on #32191
I also don't see this issue when testing. Could you let us know which WordPress version and/or Gutenberg version you're testing with. Also which theme you're using?

[2021-05-26 09:34] talldan commented on #32194
Closing as a duplicate of #31935.

[2021-05-26 09:34] #32194 closed, assigned to nobody

[2021-05-26 09:38] #32179 closed, assigned to nobody

[2021-05-26 09:40] talldan commented on #32193
I realise now these are WordPress.com related, so this should be raised somewhere in an Automattic project (not sure which one).

[2021-05-26 09:40] #32193 closed, assigned to nobody

[2021-05-26 09:41] talldan commented on #32191
Closing as this seems to be a WordPress.com issue.

[2021-05-26 09:41] #32191 closed, assigned to nobody

[2021-05-26 09:47] #32180 closed, assigned to nobody

[2021-05-26 09:52] kevin940726 commented on #31958
@critterverse Thanks for confirming!

I also found out that the **Group block "add" button** issue can be reproduced in the post editor as well. I'm not sure whether it's the expected behavior though. Also seems like it can only be reproduced when the last block is an image block.

https://user-images.githubusercontent.com/7753001/119640217-f6a81500-be4a-11eb-827b-7af250a383ff.mp4

[2021-05-26 10:02] talldan commented on #32130
Looks like this was solved by inboundnow (https://github.com/inboundnow/inbound-pro/issues/205).

[2021-05-26 10:02] #32130 closed, assigned to nobody

[2021-05-26 10:18] priethor commented on #30910
I think there are still a couple of things that should be addressed before 5.8, like changing the block name, clarifying the inheritance option, and disabling editing by default.

[2021-05-26 10:29] oandregal commented on #32027
Yeah, in core and Gutenberg 10.7 the `settings.color` has the color palette.

Note, however, that since we landed https://github.com/WordPress/gutenberg/pull/31669 the color palette includes both theme and core colors. Jorge has prepared a PR https://github.com/WordPress/gutenberg/pull/32225 that will make the palette to only contain the theme colors. I've marked that PR as "fixing this issue".

[2021-05-26 10:31] oandregal commented on #31489
Yes, forgot about the board (had already triaged it at https://github.com/WordPress/gutenberg/issues/20331).

[2021-05-26 11:08] jameskoster commented on #30910
I put a design prototype together that explores some of these issues. Many of the concepts we've been working on for the template editor can potentially be applied here as well.

Sound on:

https://user-images.githubusercontent.com/846565/119649153-36a2d400-be1a-11eb-89df-5b527da14473.mp4

Click-through pattern for template parts and reusable blocks: https://github.com/WordPress/gutenberg/pull/311

[2021-05-26 11:17] oandregal commented on #20331
Status Report ([core-editor meeting](https://make.wordpress.org/core/2021/05/26/editor-chat-agenda-26-may-2021/#comment-41358)).

Global Styles and Global Settings have been ported to WordPress core and will be part of the WordPress 5.8 release. The focus now is on polishing and fixing bugs as we find them. The issue description & tasks have been triaged and there're two new sections: "bugfixes" a

[2021-05-26 11:56] devfle commented on #31811
Short update: I'm almost done. I still need to do the migration (deprecated.js). Then I'll put the PR. I think I will be done with it in the next days.

[2021-05-26 12:08] Veske commented on #24710
Any updates on this ?

[2021-05-26 12:23] mschristo commented on #32099
Hello!

is this assigned to anyone else, or I can give it a try?

[2021-05-26 12:43] paaljoachim commented on #32099
Hi @mschristo Christos

Great!
I will go ahead and assign it to you.

[2021-05-26 13:20] aristath commented on #24710
A pull-request was added in #32232 to allow non-latin characters in slugs :+1:

[2021-05-26 13:55] jameskoster opened #32235 "Curate the list of templates that can be applied to a post or page in the UI"
When using a block theme, it is possible to apply a template like `search`, `404`, or `archive` to a single post or page. Currently this results in an error on the frontend, but I don't think it should be possible at all.

<img width="1590" alt="Screenshot 2021-05-26 at 14 51 08" src="https://user-images.githubusercontent.com/846565/119671638-d61f9100-be31-11eb-9a51-ea0f6011351a.png">

Perhaps the

[2021-05-26 14:08] santiagoru97 opened #32236 "Hi! My wordpress site is not letting me create New entries for blog posts"
## Description

## Step-by-step reproduction instructions

## Expected behaviour

## Actual behaviour

## Screenshots or screen recording (optional)

## Code snippet (optional)

## WordPress information
- WordPress version:
- Gutenberg version:
- Are all plugins except Gutenberg deactivated?
- Are you using a default theme (e.g. Twenty Twenty-One)?

## Device information
- Device:
- Operating syst

[2021-05-26 14:08] santiagoru97 commented on #32236
This is the error that shows: TypeError: Cannot read property 'setOpenState' of null
at render (https://sweetheal.com/wp-content/plugins/full-site-editing/wpcom-block-editor-nux/dist/wpcom-block-editor-nux.js?ver=118256d54ccb171d443f1945ade71c78:6:15488)
at we (https://sweetheal.com/wp-content/plugins/gutenberg/vendor/react-dom.min.de439aae.js:84:293)
at zj (https://sweetheal.com/wp-content/plugin

[2021-05-26 14:28] jasmussen commented on #32000
I have a solution, if not a fix, in #32238.

[2021-05-26 14:42] kjellr opened #32239 "Site Editor/Block Toolbar: The topmost block's toolbar overlaps block UI"
When adding a block to the top of the Site Editor, the block's toolbar overlaps the block's placeholder UI.

This will happen with any block, but it is especially troublesome for those that use the patterns carousel (Block Templates, Query) because the toolbar blocks the arrows to toggle between options. It'll be _very_ common for the first block on a page to be a header template part, so this wil

[2021-05-26 14:44] kjellr commented on #32239
Closing in favor of #29464.

[2021-05-26 14:44] #32239 closed, assigned to nobody

[2021-05-26 14:46] kjellr commented on #29464
Noting that this will be a frequent issue for header template parts, since they'll often be the first block included on the page. Currently, the block toolbar completely hides the arrows in the patterns carousel for that block's placeholder:

![119679526-6e0b8380-be0e-11eb-94e8-9a46a5e9b95a](https://user-images.githubusercontent.com/1202812/119680807-816b1e80-be0f-11eb-82dd-6b2ecd46b3e4.gif)

[2021-05-26 14:59] mrwweb commented on #27504
@nosolosw Can you explain what the "existing infrastructure" is how and how it will enable plugins to modify global styles which is the purpose of this ticket? A quick look through the two links didn't provide any obvious answers for me on that need.

[2021-05-26 15:34] mattyrob opened #32241 "Customizer: Block can be deselected when clicking in the block insepector panel"
## Description
The new block style Widget editor in the Customizer page does not allow for collapsed setting elements to be opened. This works fine in the Widgets.php page, but a message saying no block selected appears when opening a collapsed panel in the customize.php page.

## Step-by-step reproduction instructions
1/ Find a Widget block that has a collapsed side panel element.
2/ Place it in

[2021-05-26 15:53] helen commented on #31935
Adding a data point - I experienced this yesterday in a newly activated Twenty Sixteen after using a block-based theme, with what I believe were just the default widgets in the inactive area and no other widgets/blocks shown (search, recent posts, recent comments, archives, categories, meta).

GB: running from Git trunk, rev b6e3e1c8c43f8f36e80b7352054cb9c46a136112
Core: running from trunk/src, SV

[2021-05-26 15:53] ntsekouras commented on #32108
It seems that applies to blocks without having inserted innerBlocks like `Group` as well. This should be handled in a more generic way but just noting that you can select the block from the `List View` even if it's empty

[2021-05-26 16:17] mendezcode commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-26 16:21] skorasaurus commented on #17895
I went back and checked and saw that the categories value has always been stored as '1'
(There have been two edits for that particular line of code - https://github.com/WordPress/gutenberg/commit/c1d4497bf0a9c30bed9a020d2ddc777e4494b5e4
and
https://github.com/WordPress/gutenberg/blame/a12ac00165d5c20d8cf2d0651e0c4eb6da80a854/packages/components/src/checkbox-control/index.js

(Maybe a different com

[2021-05-26 16:28] Addison-Stavlo commented on #32108
The only way I am able to select the Template part is by adding in an inner block.

When I add a new/empty template part block, the block is already selected by default.  If I deselect it, it is **difficult** to select by clicking on it since its child (empty paragraph or inserter button) takes up the same amount of space as the template part block.

This still seems selectable by keyboard navigat

[2021-05-26 16:29] claudiosanches commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-26 16:36] FeIix commented on #17895
I think it's a change introduced by gutenberg itself since its beginning, if I enable the classic editor, the ids are back, even in the last wp version

[2021-05-26 16:38] Addison-Stavlo commented on #32108
Right, this seems like a much more general issue that is not specific to any block's implementation.  Not specific to template parts, FSE, and Im not sure if I would even call it a 'bug' ? 🤔   Block selection itself still works as we would expect it to - interacting with the most nested item you clicked on.

[2021-05-26 16:40] critterverse commented on #32062
Closing this in favor of #32061!

[2021-05-26 16:40] #32062 closed, assigned to nobody

[2021-05-26 16:51] #31847 closed, assigned to Mamaduka

[2021-05-26 16:51] j-gosch commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-26 17:49] ntsekouras commented on #32108
I guess this issue should change to reflect that is a generic one about the blocks with no innerBlocks inserted and would need design feedback as well. @paaljoachim would you mind updating the issue?

[2021-05-26 18:15] annezazu opened #32246 "Paragraph Block: focus on inline text color panel stays too long"
## Description

The inline text color panel to customize text colors pops back up after setting an inline color when you select an additional item of text to edit.

## Step-by-step reproduction instructions

1. Add a paragraph block.
2. Add some text.
3. Set a custom in line color for one of the words and, after doing so, click to highlight another word. Notice the inline color panel pops up.

##

[2021-05-26 18:26] amir2mi opened #32247 "ServerSideRender missed features"
Due to some issues and experiments that I have had with `<ServerSideRender/>,` some features are missed for developing a dynamic block with server-side render.
I know that server-side rendering makes the poor user experience, they should wait for every change. However, for some situations, developers will need to use this component for sure, when there is a complicated PHP file with various condit

[2021-05-26 18:59] bobbingwide opened #32249 "Image block: Replace Current media URL field too small"
## Description
When editing an image's URL using the **Replace** tool bar option the **Current media URL** field is far too narrow to be of much use.

## Step-by-step reproduction instructions

Please list the steps needed to reproduce the bug. For example:
1. Drag an image from another browser window.
2. Choose Replace from the image block toolbar
3. Notice that the field is far too narrow to be

[2021-05-26 19:19] #30624 closed, assigned to dcalhoun

[2021-05-26 19:29] Addison-Stavlo commented on #31397
I definitely agree and think we should take steps towards allowing all template part CPTs to be available from within the editor, regardless of what theme they were originally created with.  However, I don't see how this would require drastically changing the implementation and using `wp_block` instead behind the scenes?  Why not keep using the `wp_template_part` post type and allow the endpoint t

[2021-05-26 19:30] paaljoachim commented on #32108
I re-titled the issue. I assume there are also other parent block container blocks that this issue also is associated with.

---

As @Addison-Stavlo mentions having the click-through overlay will help all blocks that have inner blocks. As the first click would be selecting the parent container.

This is a "bug" or I should say it is a lack of having a way to re-select a parent block that does not

[2021-05-26 20:26] critterverse commented on #32217
I think this would be a good move 👍

Also related: https://github.com/WordPress/gutenberg/issues/30993

[2021-05-26 20:33] #29422 closed

[2021-05-26 21:24] colorful-tones opened #32251 "Site Logo block hangs in latest Gutenberg 10.7.1"
## Description
Using latest Gutenberg 10.7.1 (released this afternoon) and using TwentyTwentyOne theme. If you try and add a Site Logo block. The Media Library does not launch and preloading icon just keeps spinning.

Gif of issue in **TwentyTwentyOne** theme
(_note: no Console error output, but there was with TT1 Blocks theme_)

![Gutenberg-10 7 1-Site-Logo-block-bug_TwentyTwentyOne](https://user

[2021-05-26 21:30] carlomanf commented on #31789
I'd rather they not be removed altogether, as they can still be useful in template mode. This was not a problem in version 10.5, where they were just collapsed as normal.

[2021-05-26 21:50] colorful-tones commented on #32251
This is likely a duplicate of #32171 - reading now.

[2021-05-26 21:52] colorful-tones commented on #32251
This is a duplicate of #32171

[2021-05-26 21:52] #32251 closed, assigned to nobody

[2021-05-26 21:56] colorful-tones commented on #32171
I just found this same issue. However, I would like to add that this Issue's title: `Site Logo Block doesn't load after previously uploading` is not entirely suitable. As I've noticed that it happens in TwentyTwentyOne, with Gutenberg 10.7.1, and when just inserting a new Site Logo block in any Page/Post.

However, if we're referring to `doesn't load after previously uploading` as in the Site Logo

[2021-05-26 21:59] colorful-tones commented on #32171
It looks like @aristath has #32229 to address this.

[2021-05-26 22:03] youknowriad commented on #31789
I think it doesn't make sense to keep them as most of them contain "post related things" and the "sidebar ones" are removed, so it makes sense to be consistent and remove the "content ones" as well.

[2021-05-26 23:06] tellthemachines commented on #32210
Thanks for the exploration @critterverse ! This is something we may be able to look at in the future, but is too complex to try implementing for this release, given that we're past feature freeze and getting close to Beta 1.

The main technical problem here is how to move the block toolbar into a modal. The block toolbar component sits outside the content area of the editor, and we can't control w

[2021-05-26 23:10] Moebiusweb opened #32253 "gutenberg update 10.7.1"
gutenberg update 10.7.1 disables customization in the astra theme.

## Description

## Step-by-step reproduction instructions

## Expected behaviour

## Actual behaviour

## Screenshots or screen recording (optional)

## Code snippet (optional)

## WordPress information
- WordPress version:
- Gutenberg version:
- Are all plugins except Gutenberg deactivated?
- Are you using a default theme (e.g. T

[2021-05-26 23:52] noisysocks commented on #32215
I think let's make it like this in both core and the plugin:

| | `$current_screen->is_block_editor()` | `should_load_block_editor_scripts_and_styles` |
| - | - | - |
| `edit.php` | `true` | `true` |
| `widgets.php` | `true` | `true` |
| `customize.php` | `false` | `true` |

In retrospect I think we never should have added `$current_screen->is_block_editor()`. A block editor is a component which c

[2021-05-27 01:14] #31730 closed, assigned to kevin940726

[2021-05-27 02:03] talldan commented on #32253
@Moebiusweb Please could you file a new issue and this time fill out the bug report template.

[2021-05-27 02:03] #32253 closed, assigned to nobody

[2021-05-27 02:16] carlomanf commented on #31789
I agree to err on the side of consistency, although I'm not convinced the sidebar ones should be removed either, because the new sidebar that replaces them is practically empty. If there were some template-related tools to take their place, I think there'd be a stronger case for removing them. It will also be interesting to see whether any/many users report that they prefer the template mode to th

[2021-05-27 02:43] talldan opened #32256 "Nav Screen: No way to create a menu when a user has no menus"
## Description
At the moment the navigation screen seems to shown an incorrect state when a user has no menus, and the user has no way to create a first menu.

<img width="804" alt="Screenshot 2021-05-27 at 10 30 19 am" src="https://user-images.githubusercontent.com/677833/119757437-87c4cd80-bed7-11eb-86e3-a1db5eb46713.png">

The culprit seems to be a failed REST request for fetching menus. Possib

[2021-05-27 02:55] talldan commented on #32256
Actually, I think there are some other issues beyond when the user has no menus. After creating a menu in the old screen it's showing up as empty an un-named:
<img width="906" alt="Screenshot 2021-05-27 at 10 52 45 am" src="https://user-images.githubusercontent.com/677833/119758883-dd01de80-bed9-11eb-81df-504ed42c4003.png">

But it definitely has one link and is titled 'Main Menu':
<img width="896

[2021-05-27 03:00] talldan commented on #32236
@santiagoru97 From the error it looks like you're using WordPress.com.

WordPress.com is a commercial product that happens to use this open source software, so this isn't the right place to report this issue. Please could you reach out to WordPress.com support staff. Here's a link - https://wordpress.com/support/.

Thanks.

[2021-05-27 03:00] #32236 closed, assigned to nobody

[2021-05-27 03:22] talldan opened #32257 "Editor top bar and top toolbar separated by notices, notices overlapped when scrolling"
## Description
Recently the BlockTools component was introduced and the TopToolbar was moved below notices, which has the benefit that users can shift-tab directly from a block to the top toolbar. It had a couple of unwanted side-effects:
- Notices look a little unusual when they separate the editor topbar and the top toolbar.
- When scrolling, the top toolbar moves and overlaps the notices.

## S

[2021-05-27 03:36] talldan commented on #32241
Thanks for catching and reporting this. I can reproduce also by clicking on the background area of the settings panel. Either the white or grey background area.

My guess is it's related to this react hook that we use to clear the selected block when clicking on some parts of the UI (e.g. the preview). That shouldn't happen when clicking on the block settings as it's part of the block:
https://git

[2021-05-27 04:10] carolinan opened #32258 "Build fails using PowerShell or WSL on Windows 10"
## Description

With current trunk I get the following error when I try to use `npm run dev` or `npm run build`

Powershell
[code]

##
Node.js v14.17.0.
NPM 6.14.11

WSL:
[code]

[2021-05-27 04:13] carlomanf commented on #31397
I ended up using the existing post type after all when implementing the solution at #31971, so you can disregard the `wp_block` suggestion. I also extended it to templates as well.

Regarding the endpoint returning results regardless of the theme term, I considered it, but settled on an alternative approach to let the endpoint accept a post ID instead. The main reasons are:

1. it excludes file-ba

[2021-05-27 04:34] pglewis commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-27 04:35] noisysocks commented on #31126
Thanks for looking into this!

It looks like, now that widgets has been merged into core, all of these changes need to be made in core and not the plugin.

@draganescu is referring to these two checks.

https://github.com/WordPress/wordpress-develop/blob/d270b29f15dcb3609fc98066fac134b279d34c87/src/wp-admin/widgets-form.php#L75

https://github.com/WordPress/wordpress-develop/blob/d270b29f15dcb3609

[2021-05-27 05:19] kevin940726 commented on #32224
Hmmm, I'm not sure if that's the right place to put the ellipses menu though. The menu is only present if the current active section is a widgets section. What would happen if we close the section? Where should we move the focus if it's already on the menu but we close the section? I'm sure there's an accessibility best practice for it, but I also think that the UX would seem a little weird. WDYT?

[2021-05-27 05:30] jasmussen commented on #31947
Wanted to note that TwentyTwenty loads its stylesheet into wp-admin directly, rather than through the intended `add_editor_style` mechanismn, and some of the reasons for that are captured in #18571. That is to say, it is very possible that this issue has to be fixed in the theme rather than the widgets editor.

[2021-05-27 05:36] lukecarbis commented on #29751
Duplicate of #32027.

[2021-05-27 05:36] #29751 closed

[2021-05-27 05:55] talldan commented on #31935
I've looked into this and the cause is fairly straightforward. There's some logic for dynamically updating the height of the widget preview iframe when its content loads, but in collapsed widget areas that height is always calculated as `0` (because the widget area is collapsed and all the content in the widget area has no height).

It doesn't recalculate when the widget area is expanded, so the b

[2021-05-27 06:50] jasmussen commented on #32108
Thanks for the ping! This is definitely an issue larger than just template parts. It applies to groups, as Nik noted, and Anne has also replied that it makes it hard to delete menu items inserted in a nav menu. It applies to social links, to lesser extent, it applies to buttons.

Common to those is that the items you insert are not just blocks, but _buttons_, which means where other blocks get sel

[2021-05-27 07:15] talldan commented on #31960
#32260 should hopefully take care of the second issue. The top margin that most widgets have on their headers wasn't being taken into account when calculating the size of the preview.

[2021-05-27 07:25] dorzgi opened #32261 "@wordpress/env: Add Support for ngrok"
## What problem does this address?
Please allow the use of ngrok with WordPress so we can test it with external services.
We develop several plugins that uses our platform and we need to be able to have our API send IPNs back to the site.

## What is your proposed solution?
Add a property  to `wp-env.json` like `ngrok` (values: `true`/`false`) that once it have the value `true` it will change the

[2021-05-27 07:41] #32222 closed, assigned to kevin940726

[2021-05-27 07:52] talldan commented on #31959
https://github.com/WordPress/gutenberg/pull/32262 fixes most of this—it's a bug that the widget area has a toolbar.

<strike>I think this is a bug not just limited to the widget editor.</strike> I'll move that and the header adjustments to separate issues (#32263).

edit: It looks like the misaligned block icon has been resolved by a someone else (thank you mystery person).

[2021-05-27 07:53] talldan opened #32263 "Fix spacing in widget editor header"
Mentioned by @critterverse in #31959:

Not related to the widget area containers but adding one small styling tweak for the Appearance screen in case it's possible to fit it in here with these other changes. Could we adjust the spacing between the Update button and Settings toggle to match the post editor? Should be 16px between:

![button-spacing](https://user-images.githubusercontent.com/7735936

[2021-05-27 08:26] jameskoster commented on #32108
Would you mind elaborating on why the click-through wouldn't work here? If we combined that pattern with the empty container occupying _some_ space on the canvas, it could work quite well? 🤔

https://user-images.githubusercontent.com/846565/119791498-c99c4680-becc-11eb-8972-dca06461b26a.mp4

I suppose it raises the broader question of whether this pattern will be restricted to template parts and r

[2021-05-27 08:34] kosiew opened #32265 "Embed Blocks: When converting to a paragraph, any styling on caption turns into visible HTML tags in the text"
### Steps to reproduce the behavior

1.  Go to the page/post editor
2.  Add any embed block (like YouTube, Vimeo, Twitter etc.)
3.  Add a caption, and add some styling to it (like bold, or color)
4.  Convert the whole block to a Paragraph block

#### What I expected to happen

The styling to either translate to the Paragraph block, or at least be stripped

#### What actually happened

All the html

[2021-05-27 08:35] jasmussen commented on #32108
Oh the click-through would work — that's why I mention select mode. Perhaps I should've clarified that I think we should be very careful in expanding this particular click-through beyond select mode, beyond template parts, and beyond reusable blocks, because it literally adds friction — in those cases it's good friction, but the purpose of the appender is to reduce friction, so I don't think it's

[2021-05-27 08:35] getdave commented on #32256
@Mamaduka Anything to do with our recent refactoring in and around this area?

[2021-05-27 08:54] talldan opened #32267 "Update widgets page URL in plugin when in WordPress 5.8 or greater"
## Description
I noticed when using the Gutenberg plugin with WordPress 5.8, the widget page still loads on the URL `wp-admin/themes.php?page=gutenberg-widgets`. It's possible to still access the core widget page at wp-admin/widgets.php.

Instead the plugin should override core block-based widget page so that there's no confusion, the same way the post editor in Gutenberg uses the same URL at the

[2021-05-27 08:56] jameskoster opened #32268 "Refine the Posts List block"
The Posts List block improves the user-friendliness of the Query block in terms of discovery. But beyond that it is problematic because the underlying Query block (and all of its associated complexity) is exposed upon insertion.

1. It is confusing to click one block in the inserter, and see a totally different block(s) inserted on the canvas.
2. ~Features like pagination will not work correctly o

[2021-05-27 09:02] #32065 closed, assigned to nobody

[2021-05-27 09:02] #32171 closed, assigned to nobody

[2021-05-27 09:15] jameskoster commented on #32108
Yeah that's what I was thinking. It seems reasonable because you may want to select the parent first in order to choose a pattern, change the layout / alignment, or other options. And if there are no children then there's nothing to click inside any way :D

It's not perfect because if we hide the [+] until selected then the block is essentially invisible until you hover it, but that is perhaps whe

[2021-05-27 09:20] jasmussen commented on #32108
It might work — but I'd show a block type indicator so it isn't just a white box. But I'd also design it to intentionally not have anything visually in common with the click-through. Because although the interaction could be argued to be the same, you could also just say that it's an abstract expression of the block design principle that the unselected is a preview, and the selected can show addit

[2021-05-27 09:24] talldan commented on #32208
@deborah86 I think you should make this a trac ticket, as it goes beyond the scope of the block editor, and relates more to how WordPress itself exposes metadata (even if your solution involves the block editor).

Here's where you can create a ticket - https://core.trac.wordpress.org/.

Though I'd recommend searching for existing tickets on the subject first.

[2021-05-27 09:24] #32208 closed, assigned to nobody

[2021-05-27 10:35] paaljoachim opened #32271 "Post/Page Title: Automatically adding a title based on the first Heading."
## What problem does this address?

If a user forgets to add a page/post title it will remain blank until it is filled in.

## What is your proposed solution?

As I was just working with Google docs, I noticed how it automatically added the doc title based on the heading I inserted.

https://user-images.githubusercontent.com/5323259/119811863-d5e1cd00-bee7-11eb-99ce-d6893f28166d.mp4

I think that

[2021-05-27 11:57] #30663 closed, assigned to nobody

[2021-05-27 12:12] aristath commented on #32184
If an accordion plugin styles all `ul` & `li` items indiscriminately, then that's a bad plugin.
Things like `<p>`, `<ul>` etc don't necessarily need classes. The theme is expected to provide styles for default HTML elements like these, and then if a plugin needs to style its own elements then it should be using classes to differentiate them from "generic" elements.

[2021-05-27 12:51] steveangstrom opened #32274 "Editor widths in themes aren't respected in Gutenberg 10.7.x"
## Post editor widths set by themes are not respected in the editor in Gutenberg 10.7.x
Gutenberg editor widths can be set by themes, or by devs. Prior to Gutenberg 10.7.x  this worked fine.  Versions 10.7.x upwards display incorrect widths for themes in the Post editor.

- Tested Gutenberg 10.7.1 + 2021 Theme = bad widths
- Tested Gutenberg 10.7.1 + Astra Theme = bad widths
- Tested Gutenberg 10.

[2021-05-27 13:40] critterverse commented on #31958
I believe it is the expected behavior for container blocks like Group, Columns, etc have an extra add button that allow you to insert a new block within the container (so my suggestion to hide the add button wasn’t a great one).

But I'm unable to recreate the focus outline overlapping issue in the post editor, even within a narrow Column area. I think that bug is unique to the Customizer but I co

[2021-05-27 13:41] #30978 closed, assigned to nobody

[2021-05-27 13:47] critterverse commented on #32224
You’re right @kevin940726, this might be more complex than I was originally thinking. Also #32061 will help a lot by giving the editor top bar more prominence so I'll go ahead and close this one. Thanks for looking into it!

[2021-05-27 13:47] #32224 closed, assigned to nobody

[2021-05-27 14:40] jameskoster commented on #32268
Here's a first take on this:

https://user-images.githubusercontent.com/846565/119842525-a9857b00-befe-11eb-82c9-d516ddc3bcf9.mp4

* "Posts List" renamed simply to "Posts"
* Query Loop block is hidden in the UI
* Post type selector is removed
* "Offset" and "Include sticky posts" option moved to "Advanced" panel
* Confusing "inherit query from URL" setting is hidden
* Filtering options tidied up
*

[2021-05-27 14:57] draganescu commented on #31580
Feels to me from reading this that the key is precisely in the specifics:

1. what will the package contain?
2. will it be _exclusively_ useful to DRY code, or is it otherwise interesting architecturally?

 The idea to create packages in general in Gutenberg is summed up very well by @youknowriad: the packages should hold value on their own and be useable stand alone. The existing packages that do

[2021-05-27 14:59] critterverse opened #32278 "Expand/collapse widget areas based on whether they have content"
This was originally part of #31959 but splitting it off into its own issue as a potential improvement for the Appearance widget screen:

It’s slightly confusing that the widget areas that are in use are closed when you first enter the screen, and I imagine some users might think that their content disappeared. Could we have empty areas default to closed and areas with items default to open/expande

[2021-05-27 15:02] critterverse commented on #31959
Nice. I split the only remaining bit of this issue off into https://github.com/WordPress/gutenberg/issues/32278 (as a potential future-facing improvement) and will close this one!

[2021-05-27 15:02] #31959 closed, assigned to nobody

[2021-05-27 15:05] #26261 closed

[2021-05-27 15:05] #31889 closed, assigned to talldan

[2021-05-27 15:08] critterverse opened #32279 "Appearance Widgets screen: bugs in Twenty Twenty theme"
Hey all, I spotted a couple of bugs on the Appearance Widgets screen using Twenty-Twenty theme (background color and extra top spacing in the widget area containers):

![Screen Shot 2021-05-27 at 10 06 05 AM](https://user-images.githubusercontent.com/77359364/119850634-b8a70180-bedb-11eb-8c53-bf8304e30670.png)

[2021-05-27 15:20] critterverse commented on #32223
The second part of this was resolved by https://github.com/WordPress/gutenberg/pull/32264

But I'm still seeing the horizontally squished image at a regular viewport size — edited the description to just focus on that part!

[2021-05-27 15:25] #32206 closed, assigned to jasmussen

[2021-05-27 15:25] justintadlock opened #32280 "Social Icons Block Style for Showing Labels"
Users should be able to create a Social Links list that displays the social network's name/label next to the icon.  We already have a "Label" block option, which is currently used to set the `aria-label`.  It seems that we could expose that as text to non-screen readers too.

**Edit:** I'm not sure if a block style is the best route.  It might be better to have a toggle switch for enabling/disabli

[2021-05-27 15:26] draganescu commented on #31126
Too late to the party @noisysocks answered everything! 🚀

[2021-05-27 15:33] critterverse opened #32281 "Bug: Regression in core Legacy widget previews"
Hey all, I noticed a regression in the way core Legacy widgets display as a preview in both widget editors, not sure when this may have merged. Instead of displaying a "no preview available" placeholder, they are displaying as a wp-admin top bar.

Here's how they look on the Appearance Widgets screen:

![Screen Shot 2021-05-27 at 10 26 05 AM](https://user-images.githubusercontent.com/77359364/1198

[2021-05-27 15:35] kfazz commented on #17855
This is still an issue, I also am experiencing it

[2021-05-27 15:37] getdave opened #32282 "Link UI does not preserve link relationships for Post (entity) links"
## What problem does this address?

When adding a link within a paragraph block you can search and choose from a list of existing Posts (eg: entities - including Pages).

However, once you've _added_ this link the relationship to the original Post entity is _not_ preserved.

https://user-images.githubusercontent.com/444434/119855300-b22f7e80-bf09-11eb-93cd-04c53c2a0112.mov

You can try this by:

1

[2021-05-27 15:38] apieschel commented on #30091
It's the table block. I start to see lag around 30 rows x 30 columns on a single table, even when entering data with all of the other cells empty. We also need a table block that can handle the editing of large datasets on the fly. We're currently looking into other react component libraries or a custom solution, but would love it if the core table block could be improved to handle more data.

[2021-05-27 15:56] stokesman commented on #32280
👍  I agree, as do others: #31605

[2021-05-27 16:05] justintadlock commented on #32280
Read through 4 pages of search results trying to find a duplicate before posting this. :)

[2021-05-27 16:05] #32280 closed, assigned to nobody

[2021-05-27 16:06] stokesman commented on #32280
I had to look pretty hard too, but I knew I'd seen it!

[2021-05-27 16:54] annezazu commented on #31667
@javierarce I love this exploration! Very intuitive to use. I'm curious how you imagine this would look in a situation where someone doesn't use the search first and if there's a way to lessen the number of steps. Right now, there are by my estimate the following steps to get this done:

- Add the nav block
- Select setup option > start empty
- Select add block
- Select page link block
- Turn on B

[2021-05-27 17:05] cbirdsong commented on #30505
It seems like the best implementation for this would be to use the alt text set on the image in the media library, but allow the cover block image to be set as decorative to remove it.

[2021-05-27 17:14] javierarce commented on #31667
I agree with you @annezazu. Those actions in the footer do very different things and shouldn't have the same importance or look so similar.

And I also agree with your previous point about the simplicity and speed of use of the current interface. That's a good argument to support the use of a modal.

[2021-05-27 17:25] cbirdsong commented on #30505
An interim filter-based solution for anyone who needs it:

[code]

[2021-05-27 18:01] draganescu commented on #30007
Yes, I think a concentrated list could show us some general approach?

[2021-05-27 18:43] johnstonphilip commented on #19114
I am replicating this as well. When running block content through `do_blocks`, youtube videos do not get passed through oembed, but just return the URL. If I wrap in the_content filter, the oembed code for the video exists as expected.

[2021-05-27 19:50] justintadlock commented on #32139
Thank you for at least figuring out what wasn't working with this.  I've been digging everywhere and testing (almost) everything to figure out why none of my 30+ patterns were working.

[2021-05-27 19:56] critterverse commented on #28921
I made a 404 page design for one of the previous [FSE calls for testing](https://make.wordpress.org/test/2021/03/30/fse-program-custom-404-page-testing-summary/) that could potentially be turned into a pattern if we're still looking for ideas. Here's a slightly simplified version:

![404-pattern-simplified](https://user-images.githubusercontent.com/77359364/119911584-8e7b3100-bf27-11eb-931a-5cadf1

[2021-05-27 20:06] justintadlock commented on #32139
I ran all my patterns through this for a quick fix:

[code]

[2021-05-27 20:11] jg314 opened #32293 "Search Block Server-Side Render Causes HTML Validation Error"
## Description
When using a button within the Search block, an HTML validation error is generated because of a missing space between the `type` and `class` attributes within the button in the `render_block_core_search()` function. Right now the code looks like this:

`'<button type="submit"class="wp-block-search__button ' . $button_classes . '">%s</button>',`

There should be a space between `type

[2021-05-27 20:21] skorasaurus commented on #32293
Hi,

Thanks for reporting. This has already been fixed in the Gutenberg plugin - https://github.com/WordPress/gutenberg/commit/02089c9b2b10a83c56c73662c37b714b30084a84

In the meantime,
You can download the plugin which provides newer fixes and enhancements to the block editor at https://wordpress.org/plugins/gutenberg/
and activate it.

@annezazu - Could this be backported to a WordPress 5.7.3 re

[2021-05-27 20:21] #32293 closed, assigned to nobody

[2021-05-27 20:33] jg314 commented on #32293
Sorry about that @skorasaurus. I tried searching open and closed issues, but didn't see it. Thanks to those who got this fixed. Hopefully it will land in WordPress Core shortly.

[2021-05-27 21:00] gwwar opened #32294 "List View: Explore Alternatives to TreeGrid"
The List View component is used in several places, and is currently backed by a [Tree Grid ](https://www.w3.org/TR/wai-aria-practices/examples/treegrid/treegrid-1.html) implementation. A Tree Grid allows for multiple focusable items in a row, but the tradeoff is that the markup and implementation is more complex, making it more difficult to maintain and add features for.

| Persistent List View in

[2021-05-27 22:33] annezazu commented on #32293
Flagging for @youknowriad around backporting. Thanks for the ping.

[2021-05-27 23:24] annezazu opened #32295 "Block Settings: Colors section randomly collapses/loses focus"
## Description

When setting a custom color in the Block Settings for the first time, the modal is closed and the focus is lost upon selection. This seems to be a regression. This was found as part of the [sixth call for testing for the FSE Outreach Program](https://make.wordpress.org/test/2021/05/12/fse-program-testing-call-6-stick-the-landing-pages/#comment-1648).

## Step-by-step reproduction i

[2021-05-27 23:41] noisysocks commented on #32279
Thanks for the report! This is a duplicate of https://github.com/WordPress/gutenberg/issues/31947 which @tellthemachines is working on.

[2021-05-27 23:41] #32279 closed, assigned to nobody

[2021-05-27 23:42] noisysocks commented on #32281
Note this happens only in the plugin. I'm working on a fix 🙂

[2021-05-28 01:41] #31935 closed, assigned to talldan

[2021-05-28 02:59] talldan commented on #32181
cc @ntsekouras.

[2021-05-28 03:51] tellthemachines commented on #31126
PRs done in wp-develop:

https://github.com/WordPress/wordpress-develop/pull/1308
https://github.com/WordPress/wordpress-develop/pull/1309

[2021-05-28 03:55] Mamaduka commented on #32256
@getdave Can be related, but I think I fixed all regressions I could find.

@talldan I'm not able to fully reproduce the issue with the current `trunk`. I can see 404 in the console, but the correct state when there are no menus.

[2021-05-28 04:09] Mamaduka commented on #32127
Thanks for the confirmation, @luis-movel.

[2021-05-28 05:55] drewkerr opened #32301 "Linking selected text containing a colon is interpreted as a URL"
While auto-linking text such as mailto:foo@bar and tel:0123456789 is useful, any text including a colon is also automatically turned into a link, even if it contains spaces, such `as: this text`. The user is then required to edit and replace the URL (AFAIK this cannot be done with a keyboard shortcut and so breaks my Cmd+K typing flow).

I think the selected text is tested using the [following uti

[2021-05-28 06:32] kevin940726 commented on #32223
@critterverse Oh I missed that! I'll create a patch.

[2021-05-28 06:36] ramonjd commented on #24604
@andrewserong and I have spent some time thinking about this. It would be a useful general feature, if we can conceptualize the editor UX.

I imagine, as well as being able to add any inner block to the overlay, users would want to be able to attach events that trigger the overlay to buttons or other elements within the post.

Or even, in the case of navigation, trigger the overlay at certain view

[2021-05-28 06:48] tellthemachines commented on #31951
In view of this discussion, I've updated #30551 as it seems the best way forward for now.

[2021-05-28 07:07] jasmussen commented on #32294
When I think of the List View, I think of it as a compressed, abstract representation of the content of your page. Like a layers palette in Figma, this can give a handy overview of what you're looking at, and its hierarchy. Because of that, I also think it will be reasonable to intuit a few behaviors work similarly in the List View as they do for blocks in the canvas.

Dragging and dropping an boc

[2021-05-28 07:49] ntsekouras commented on #32181
👋 - I guess this is probably related to this: https://sass-lang.com/documentation/breaking-changes/css-vars and this:
https://github.com/WordPress/gutenberg/pull/27968.

@jasmussen can you take a look here as you have more experience on these 😄 ?

[2021-05-28 07:56] danieliser commented on #31868
Can we get this published to npm?

[2021-05-28 08:34] Sogeman commented on #27658
I had this error (with one intermediate value) because I forgot the value prop on the MediaPlaceholder. Just in case someone else stumbles upon this.

[2021-05-28 08:43] jasmussen commented on #32181
Created https://github.com/WordPress/gutenberg/pull/32305 in hopes to address this.

[2021-05-28 08:55] benoittachet commented on #10057
+1 here

I've found that it's already possible by modifying the gallery's HTML code, but Wordpress then tells me that block has invalid content. However, it still works, even with this error.

[2021-05-28 09:00] getdave commented on #32256
I re-tested this and I can see the request going out to

`http://localhost:8888/wp-json/__experimental/menus/`

That returns the expected empty array `[]`.

However the app still thinks we have a selected menu ID so it then tries to make a request for _that_ selected menu ID which doesn't exist so we get the error Dan was seeing.

Working on a fix.

[2021-05-28 09:00] talldan commented on #32294
Just to document it, another option explored for adding functionality to List View was a separate toolbar (inspired by Photoshop's layer's panel, which has a toolbar at the bottom) - https://github.com/WordPress/gutenberg/pull/21372

Some were in favour of exploring that more, others weren't. It definitely makes more sense in the persistent list view panel.

The idea would allow for simplifying th

[2021-05-28 09:27] HolbyOnline opened #32307 "The editor has encountered an unexpected error"
## Description
 When I go to add a new post I am greeted with an error saying "The editor has encountered an unexpected error" When I deactivate Gutenberg I am reverted to the Classic Editor (which I do not like) and the editor works fine, but when I deactivate the Classic Editor to use Gutenberg I get the message above, so something is wrong.

## Step-by-step reproduction instructions
Not sure as

[2021-05-28 09:49] zdenys opened #32308 "Block toolbars: Add an option to transform text to lower case, upper case, and capitalize"
## What problem does this address?

Sometimes you would need to transform a part of the text (maybe a quote) into upper case. Or vice versa, when you paste some upper case text into the editor, you may need to make it all lower case. Currently there is no way to do it in the editor both ways. [The Notes app on macOS has a helpful feature to transform the text into upper or lower case or capitalize

[2021-05-28 10:01] bobbingwide opened #32309 "Add hooks to indicate details of the template and template parts being rendered"
## What problem does this address?
When developing a new theme it can be difficult to tell which template or template part is being rendered.
I added some debug information at the top of each of my templates to help identify the rendered template and template parts on the front end. eg
[code]
If I wanted to check whether or not the template was being loaded from the file I would change the text in

[2021-05-28 10:07] #32181 closed, assigned to jasmussen

[2021-05-28 10:16] Mamaduka commented on #32256
I was finally able to reproduce the broken screen.

I had to delete menus from the non-experimental Menus screen. There are multiple ways to delete menus, so the guard clause is proposed in #32306 makes sense.

[2021-05-28 10:57] priethor opened #32311 "Add the persistent List View to the Widgets screen"
## What problem does this address?
As of Gutenberg 10.7, the Widgets Editor uses the classic, non-persistent List View.

<img width="929" alt="Captura de pantalla 2021-05-28 a las 12 54 34" src="https://user-images.githubusercontent.com/27339341/119973590-f5dec280-bfb3-11eb-86e5-476442d162fc.png">

## What is your proposed solution?
Adding the Persistent List View to the Widgets Editor would provi

[2021-05-28 11:00] priethor commented on #29736
Although it doesn't seem like the Widgets Editor hierarchy will usually grow as big as the Post or Site Editor's, it would be good to add it even if it is from a UI consistency point of view. The priority in the Widgets Editor before and after feature freeze is stabilizing it as much as possible, but let's keep it in mind in #32311 👍

[2021-05-28 12:20] jameskoster opened #32317 "Query block: Disable editing of content by default"
Part of https://github.com/WordPress/gutenberg/issues/30910.

Live editing post data inside a Query block – whilst editing something else like a page – requires some demanding mental gymnastics in terms of the UX. Users are required to understand that editing block properties (like position and alignment) are local to the page, while any data changes (like updating the publish date or the post tit

[2021-05-28 12:40] jameskoster opened #32319 "Make the "Post Author" description context-aware"
Blocks like Post Author are required to entertain multiple contexts:

1. While editing a template the block is generic and not associated with any single post
2. If inserted in a page, the block will display the author of that page
3. If inserted in a Query in that same page, the block will display the author of the post(s) returned by the Query

The current description "Add the author of this pos

[2021-05-28 13:17] #31789 closed, assigned to youknowriad

[2021-05-28 13:44] Addison-Stavlo commented on #31397
I think the current approach would as well if we are only accessing file based templates corresponding to the currently active theme's directory.

How are we defining active here ("in use" or "able to use")?  I would think 'active' means it is currently being used by a block somewhere, but it sounds like we would be marking it 'active' just to have the ability to use it - so by this definition it

[2021-05-28 13:46] youknowriad commented on #28684
Seems like we don't want to change our current recommendation for now. So I'm closing this.

[2021-05-28 13:46] #28684 closed

[2021-05-28 13:53] youknowriad commented on #32308
Hi there!

I think this already exists as a block support and available in some blocks (navigation, site title, site tag line), it's an inspector control. It is still experimental though.

[2021-05-28 14:03] ntsekouras commented on #32268
This can also be the case for Query blocks that don't have enough posts to show. The pagination in the editor is not calculating anything and is there for positioning and styling reasons.

Related to that would be: https://github.com/WordPress/gutenberg/issues/30369 and https://github.com/WordPress/gutenberg/pull/32230.

This is indeed challenging because the `inherit` option set to `true` is sens

[2021-05-28 14:24] jameskoster commented on #32268
Ah yes, I think that's a separate issue. My point here is that the pagination _will never_ display anything on the frontend in this particular scenario. So it doesn't make much sense for that block to even be available for insertion.

[2021-05-28 14:32] luis-movel commented on #32127
No problem, @Mamaduka !

If you need some more tests, just let me know.

Thank you!

[2021-05-28 14:38] mtias commented on #32308
The uppercase option shown there is also not from core. I'd imagine it's coming from CoBlocks.

[2021-05-28 14:43] mtias commented on #32308
Closing in favor of #20801.

[2021-05-28 14:43] #32308 closed, assigned to nobody

[2021-05-28 14:45] paaljoachim commented on #31112
I believe this would very much help.
Query Block - more advanced / multi select query options
https://github.com/WordPress/gutenberg/issues/30706

[2021-05-28 14:59] mtias commented on #23094
I'm seeing this doesn't seem relevant anymore in the source code.

[2021-05-28 14:59] #23094 closed

[2021-05-28 15:50] gwwar commented on #31951
If I understand correctly, we're aiming for a solution where:

1. The user experience is simple but still robust enough to create many types of navigation menus. Some of which may not have an obvious structure when looking at the published view.
2. Published menus remain accessible

Did we rule out https://github.com/WordPress/gutenberg/pull/31827 as a possibility? For me, the main question there

[2021-05-28 16:16] peterpenguw commented on #10057
2 years later we still got this problem huh.

On Fri, May 28, 2021 at 4:55 AM Benoit Tachet ***@***.***>
wrote:

[2021-05-28 17:14] draganescu commented on #31951
Yes. This whole discussion was started to make sure alternatives to diverging the two representation have been explored as much as possible. I think this is the most important direction that this thread has boosted:

In light of the above **both** #31827 and #30551 should move forward and:

- In the editor, improve the block's wrapping HTML for the outer container and for its children to be *valid

[2021-05-28 17:18] manooweb commented on #32258
A temporary workaround I also used https://github.com/bobbingwide/sb-debug-block/issues/3#issuecomment-850519808
See our discussions on slack https://wordpress.slack.com/archives/C02QB2JS7/p1622216988152500

[2021-05-28 18:39] mtias commented on #28684
There's one use case I thought could be useful for themes that want to keep a template part in PHP but still render it in the editor visible (but not editable).

[2021-05-28 18:53] WraithKenny commented on #20569
Somewhat related, I'm using an environment that has a custom domain (wordpress.org.test) and a locally issued SSL cert, and the problem exists. The root cause is that the loop-back request is running the http request with `sslverify` turned on, which will of course fail if there's no ssl, or if it's locally issued.

To fix this, I mount a must-use plugin (to disable `sslverify`) with the following

[2021-05-28 19:01] johnstonphilip commented on #19114
I believe this happens because oembed only is hooked to `the_content` filter, but not anywhere in `do_blocks`:

See:
https://github.com/WordPress/WordPress/blob/270f2011f8ec7265c3f4ddce39c77ef5b496ed1c/wp-includes/class-wp-embed.php#L39

So if you are running `do_blocks` outside of `the_content` filter running, your oembeds will not get rendered properly.

[2021-05-28 19:26] johnstonphilip opened #32330 "FSE: oembeds do not work in block template parts"
## Description
If you put a youtube video (or any oembed) into a block template part, it doesn't get embedded on the front end.

## Step-by-step reproduction instructions
1. Add a youtube video block to a block template part (like header.html)
2. Add that block template part to index.html
3. View the frontend, and notice the video was not embedded, but shows the youtube video URL only

## Expected

[2021-05-28 19:30] johnstonphilip commented on #32330
The reason this happens is because template parts do not get filtered through `the_content` like normal posts do.

See this PR where block template parts are no longer filtered through `the_content`:
https://github.com/WordPress/gutenberg/pull/20343

The problem is that oembeds are filtered to `the_content` in WordPress core here:
https://github.com/WordPress/WordPress/blob/270f2011f8ec7265c3f4ddc

[2021-05-28 19:50] johnstonphilip commented on #19114
This fix is to do this:

[code]

[2021-05-28 19:55] MichaelArestad commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-28 20:41] #32128 closed, assigned to stokesman

[2021-05-28 20:49] paaljoachim commented on #10057
Hello everyone.

There is a refactored Gallery block containing inner Image blocks.
Check out this PR and the comment from @glendaviesnz : https://github.com/WordPress/gutenberg/pull/25940#issuecomment-849094816
Then check out the first video to get an overview.

The refactored Gallery block will soon be added to the Gutenberg plugin.

There will be a parent "container" with the Gallery settings.

[2021-05-28 21:08] colorful-tones commented on #31999
I agree 💯

[2021-05-28 22:14] paaljoachim commented on #31298
I reopened the issue as it would be helpful to save blocks to a Pattern block.

[2021-05-28 22:26] TheAggressive commented on #23576
I also found this behavior when:

- You create a gallery in the classic editor (Old Posts)

- Try to convert the classic editor gallery to a block gallery.

The "**Media File**" option gets an anchor but if you switch the option to "**Attachment Page**" and update the post, no anchor tag get generated and hence no link to the the attachment page. Emptied cache as well to ensure it's not a caching

[2021-05-28 23:30] paaljoachim opened #32332 "Consolidating the Query Loop block, Latest Posts block and Post Lists block"
## Description

At the moment there exists three blocks that to me seems to do the same thing.
The Query block, Latest Posts block and the Post Lists block.

![Post-lists](https://user-images.githubusercontent.com/5323259/120050231-f65f7380-c01c-11eb-802f-c4c1290812f6.jpg)

It seems like the settings vary a bit between the blocks as well.

My expectation is to have one block that covers what is ne

[2021-05-28 23:36] paaljoachim commented on #32217
PR added here: https://github.com/WordPress/gutenberg/pull/32310

[2021-05-29 02:46] carlomanf commented on #31397
You're right about this, and although it might seem like an extra layer of complexity, there are two reasons for it:

1. It's a massive efficiency improvement over searching all templates to see which template parts are in use
2. It allows a consistent approach between template parts and templates. If I want to use my customised `404` from theme A in theme B, how else can it be done other than kee

[2021-05-29 02:55] JosVelasco commented on #31298
Perhaps make the option only available from the FSE editor. Something like an advanced option.

[2021-05-29 03:00] carlomanf commented on #30892
Fixed by https://github.com/WordPress/wordpress-develop/pull/1267

[2021-05-29 03:00] #30892 closed, assigned to carlomanf

[2021-05-29 03:02] Mamaduka commented on #29031
I think we can close this one and create a new issue for the last remaining item from @annezazu's list.

[2021-05-29 03:19] mikeyarce commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.
🦙

[2021-05-29 03:36] juanRabaa commented on #19114
I haven't come back to this issue in a while. I did experiment it in a project a month ago, but i got it fixed.

If as you say this is happening because you are running `do_blocks` outside `the_content` filter, why not do `apply_filter("the_content", do_blocks())`?

[2021-05-29 07:33] Mamaduka commented on #8119
I've encountered another issue related to keeping file blobs in attributes while working on #32157.

**Conditions**
* Block handles temporary image upload on the mount
* Doesn't provide block example
* User registers custom block styles

**Currently affected blocks**
* File
* Audio

When a block has no example, the "Styles" preview will use attributes. Then the block preview will trigger another u

[2021-05-29 10:25] iamgabrielma commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-29 10:39] #27762 closed

[2021-05-29 11:10] Mamaduka commented on #8119
I went ahead and created PR for audio block #32333.

File block doesn't have the "Insert from URL" option, so not sure how the example preview should work here.

[2021-05-29 13:00] Clorith opened #32334 "WP-ENV: Pass PHP config elements"
## What problem does this address?
Currently, most PHP settings are kept at their defaults, with no way of modifying these short of opening a CLI instance into the docker container for PHP and editing the `php.ini` file.

This poses a problem in cases like for example the WordPress.org meta code, which relies on a global header not available in local setups. This means a local setup will have to u

[2021-05-29 14:04] KGrand78 commented on #32307
I have the same issue. I can't post or edit my posts with Gutenberg enabled. Do something and assign this to someone! I will open my own ticket if necessary.
![Screen Shot 2021-05-29 at 10 03 52 AM](https://user-images.githubusercontent.com/85025289/120073172-3f3b1a80-c065-11eb-8b83-75125d4f648a.png)

[2021-05-29 14:18] KGrand78 opened #32335 "Cannot Edit or POST using Gutenberg Plugin"
## Description
Gutenberg Plugin prevents me from posting on my website. Previously reported by HolbeeOne but you are ignoring that report from yesterday.

## Step-by-step reproduction instructions
 See screenshot

## Expected behaviour
I expect to be able to add or edit a post.

## Actual behaviour
Error message ( see screenshot)
![Screen Shot 2021-05-29 at 10 03 52 AM](https://user-images.githubu

[2021-05-29 15:03] JosVelasco commented on #31298
There is already a plugin that converts reusable blocks to patterns and it works good. Reusable Blocks Extended: https://wordpress.org/plugins/reusable-blocks-extended/

Since there is a concern about generating confusion in the posts editor we could polish this plugin. Instead of "convert to reusable block" we could add the option "save as pattern" making a copy of the reusable block and listing

[2021-05-29 16:13] stokesman commented on #32307
This looks to be a duplicate of #32236 which was closed as not applicable. The recommendation is to report this to wordpress.com support: https://wordpress.com/support/.

[2021-05-29 23:12] JDGrimes commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-30 03:55] Alexius08 opened #32336 "Toolbar custom component warning persists even after moving custom components inside ToolbarItem"
## Description
Due to warning messages over the deprecation of using custom components as toolbar controls, I've been trying to convert existing toolbars into ones that won't trigger those messages. This has been successful with button components (by turning them into ToolbarButtons), but the warning message still comes up when using ToolbarItems with other components. [A code sample in the offici

[2021-05-30 05:27] carolinan commented on #31378
This [article by Scott Ohara about disabling links](https://www.scottohara.me/blog/2021/05/28/disabled-links.html) might help.
Summary: remove href, add `role="link"` and `aria-disabled="true"`.

But if I remember correctly from earlier testing, removing the href means it is no longer styled as a link and the editor and front no longer matches visually.

[2021-05-30 06:05] ajitbohra commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-05-30 07:31] carolinan commented on #32335
Hi
Reports are not ignored, but more details and testing is needed to locate the problem.

Are you able to select "Copy error" and paste the result?

[2021-05-30 15:18] justintadlock commented on #27620
I wanted to add some clarification to this since it was added to a ticket about Dimensions.  While related, I was specifically referring to the **Image Size** control (e.g., full, thumbnail, medium, large, custom-theme-size, etc.) and not width/height controls.  These are the sizes created via `set_post_thumbnail_size()` and `add_image_size()`.

This ticket seems to be moving toward a path for dim

[2021-05-30 18:13] justintadlock opened #32339 "Cover Block: Allow Opacity Option For Gradients/Colors"
Currently, if you add a Cover block, the overlay opacity option only appears if you add a background image.  If you use a solid color or gradient only, you get no opacity control.  Of course, the original intention of the opacity option was for letting the user choose how much of the image bleeds through.  So, it makes sense that it doesn't show up.

However, there are use cases where users might

[2021-05-30 21:39] glendaviesnz commented on #10057
As @paaljoachim notes, the [refactor of the gallery block](https://github.com/WordPress/gutenberg/pull/25940) is a better long term fix to this problem than adding a custom link option to the existing gallery, as it makes use of the existing functionality within the Image block, rather than having to duplicate this into the gallery block. 🤞 we won't be too far away from getting this merged into th

[2021-05-31 04:14] #31021 closed, assigned to nobody

[2021-05-31 04:25] #32223 closed, assigned to kevin940726

[2021-05-31 04:49] Mamaduka commented on #28776
Hi, @marekdedic

You can remove the default alignment by clicking on the selected one. Then block should fit the content width and respect the padding.

There's already an issue about default alignment for the "Media & Text" block - #20941.

[2021-05-31 06:08] jasmussen commented on #27620
Thank you for the reminder, Justin. Here I included the thumbnail size picker:

<img width="1440" alt="Featured Image i3" src="https://user-images.githubusercontent.com/1204802/120147692-56a21100-c1e7-11eb-8885-4afea2a523e7.png">

[2021-05-31 06:46] noisysocks commented on #32019
Thanks for the report! This is due to a REST API bug which will need to be fixed in core now that that code has been merged. I've opened https://core.trac.wordpress.org/ticket/53305.

[2021-05-31 06:46] #32019 closed, assigned to noisysocks

[2021-05-31 06:49] dennisheiden commented on #32184
Ok, bad example. Let's try this:

We have created a theme that allows to style Gutenberg blocks via simple backend settings.

![image](https://user-images.githubusercontent.com/25924499/120149020-66225980-c1e9-11eb-86a4-5db36c2742c2.png)

Those settings are only valid for the content body / article and not for stuff like in the header, footer etc.

We have to generate CSS rules in this way:

`.my-

[2021-05-31 07:18] MeiKatz opened #32342 "E_ERROR thrown in wp-content/plugins/gutenberg/lib/class-wp-theme-json-gutenberg.php on line 1155"
## Description
E_ERROR thrown in `class-wp-theme-json-gutenberg.php` on line `1155` because `$this->theme_json` is an instance of `stdClass` instead of an array.

## Step-by-step reproduction instructions
Try to edit a page.

## Expected behaviour
Edit page should work like a charm.

## Actual behaviour
Error page pops up.

## WordPress information
- WordPress version: 5.7.2
- Gutenberg version: 1

[2021-05-31 08:00] Mamaduka commented on #27198
I also noticed this and was able to track down the source of the issue.

Incorrect image size is selected when WP doesn't generate an image for the default size, and usually, this is a `large`.  But the block will still use this default image size to set the `sizeSlug` attribute.

The `ImageSizeControl` only includes sizes available for the media + "Full Size". When the "Large" image isn't availab

[2021-05-31 08:31] mcsf commented on #8119
Thanks for spotting that one.

[2021-05-31 08:42] Mamaduka commented on #8119
@mcsf Any preference on how I should fix this for the File block? Add an example or use the state for temporary URLs?

[2021-05-31 08:49] marekdedic commented on #28776
Hi,
yes, I found that out later and forgot to close this. However, I find the UI of "toggle, one, toggle other or *deselect* both" incredibly confusing. Should I open a new issue for that?

[2021-05-31 08:49] #28776 closed

[2021-05-31 09:02] Mamaduka commented on #28776
I agree it is a little confusing. There's a similar issue - #30782, so no need to create a new one.

P.S. I think I also saw mockups somewhere for "None" or "No alignment" options.

[2021-05-31 09:44] amazingmarvin commented on #1761
Ran into this issue too. Had blog at https://blog.amazingmarvin.com and wanted to migrate to https://amazingmarvin.com/blog/. I guess this is a somewhat common use case! So I made a new subdomain, blogger.amazingmarvin.com, which is a cloudfront origin for amazingmarvin.com/blog/. I setup an nginx rewrite for /blog/xyz -> xyz. Then I setup nginx to 301 all the old links to the new links. So now `W

[2021-05-31 10:14] paaljoachim commented on #26040
Resting using WordPress 5.7.2

Gutenberg plugin 10.7.1
Genesis 3.3.3 and the child theme Refined theme.

Going to Widgets:
(The Macbook Pro fan turned on and I am seeing the status bottom left area in Chrome is saying Waiting for 2121.dev.cc over and over again. Going in a loop. Closing the test screen/tab when I finished testing the fan quieted down again.)
[code]

![Screen Shot 2021-05-31 at 12

[2021-05-31 10:29] #29952 closed, assigned to glendaviesnz

[2021-05-31 10:52] aristath commented on #32258
A related PR was merged in https://github.com/WordPress/gutenberg/pull/32329.
If the fix is confirmed then we can close this one :+1:

[2021-05-31 11:49] colorful-tones commented on #29568
I love where this is going! I think having colors coming from core is ideal and gives a great baseline API for theme authors to work with.

Naming variables is never easy. Leveraging a baseline set of semantic variable names and then adding a layer of aliasing on top for theme authors to override is ideal (to me).

[2021-05-31 12:39] oandregal opened #32347 "Different class names for preset slugs"
Themes provide some presets to the editor, such as font sizes and colors, either via the `add_theme_support` https://github.com/WordPress/gutenberg/issues/26940 or the `theme.json` https://github.com/WordPress/gutenberg/issues/31629

The slug of the preset values is used to generate a class name in two different situations:

1. when in the editor, to generate the class name to be attached to the b

[2021-05-31 12:39] oandregal commented on #31629
Thanks for the report @justintadlock Going to consolidate this into https://github.com/WordPress/gutenberg/issues/32347 as the issue is a bit larger than numbers (also affects camelCased slugs).

[2021-05-31 12:40] oandregal commented on #26940
Thanks for the report @leadclown Going to consolidate this into https://github.com/WordPress/gutenberg/issues/32347 as the issue is a bit larger than numbers (also affects camelCased slugs).

[2021-05-31 12:40] #26940 closed

[2021-05-31 12:47] oandregal commented on #32347
This seems that has been in Gutenberg for a long time: I hadn't seen reported before, so either theme authors adapted to this quirk or nobody had run into this yet.

I'd think I'd discard 2, as I don't think the lodash's kebab case logic for numbers is something consistent or easy to understand. Also, porting the same behavior to the server may prove problematic should the lodash's behavior change

[2021-05-31 12:56] Chouby opened #32348 "Block toolbar not displayed in the widgets screen"
## Description
The toolbar may not be displayed when selecting a (legacy) widget

## Step-by-step reproduction instructions
1. Setup a site with WP 5.7.2 and a few (legacy) widgets
2. Update to WP 5.8 and visit the new widgets screen
3. Scroll down to the bottom of the screen
4. Select the latest widget

## Expected behaviour
I expect the block toolbar to be visible when the widget is selected.

#

[2021-05-31 13:09] paaljoachim commented on #31298
Hi @JosVelasco

That is a very good idea!

Adding the option to the Reusable blocks manage screen as you are showing is one good way of handling it.
As it would keep it out of the Gutenberg layout area for now and instead we just give the option in the manage screen.

One thing that comes to mind. To create a pattern one would first need to save it as a Reusable block and then -> convert/save it a

[2021-05-31 15:10] jorgefilipecosta commented on #32347
I think we should just remove has-${ kebabCase( slug ) }-preset, from the client and do any processing on the slug.  Slugs were expected to be used as is in the class.

[2021-05-31 15:27] Aljullu commented on #31704
I can reproduce this as well. For example, if I create a `single-product.html` template and then I add:

[code]
to my `theme.json`, the `single-product` template is still available in pages and posts. Also, the `title` property is ignored and the template is listed as `single-product` instead of `Product page`.

It seems to be related to this `TODO` comment in the code:

https://github.com/WordPre

[2021-05-31 15:31] oandregal commented on #32347
Note that by doing 1 (or 3, for that matter), existing blocks will still work as expected:

- The existing class will still be attached in the block markup, hence, if the theme enqueues the class (which it has to do, otherwise it wouldn't have been working already)
- The block in the editor appears as expected. The old class will become part of the block sidebar free-form class input.

Going to im

[2021-05-31 15:34] oandregal commented on #26940
There's a fix at https://github.com/WordPress/gutenberg/pull/32352

[2021-05-31 15:34] oandregal commented on #31629
There's a fix at https://github.com/WordPress/gutenberg/pull/32352

[2021-05-31 15:56] vyskoczilova opened #32353 "Make Synced Patterns lockable so content cannot be edited inline"
## What problem does this address?
The seamless experience of editing reusable blocks (in core since 5.7) causes a lot of trouble for my clients. They are struggling to know when they are editing a reusable block and when the normal content.

For example, you have a reusable block in a column and you want to add another content to the column, no to the RB. What do you do? Users do click on the exi

[2021-05-31 16:01] Mamaduka commented on #8968
I think I accidentally fixed this issue via #29919. The fix should be part of the Gutenberg 10.4 release.

Current testing screen recording:

https://user-images.githubusercontent.com/240569/120218506-e3ca8180-c24a-11eb-9e88-6a953563f760.mp4

[2021-05-31 16:08] justintadlock commented on #29568
## Splitting theme and core palettes:

Yes, absolutely, yes.  This will be a good thing for the block directory since we would have standard names from core that are always available.

What I'd like to see is the ability for themers to disable the UI part of core colors though while still supporting them as part of the core CSS package.  Freelancers/agencies might not want clients choosing somethi

[2021-05-31 16:08] oandregal commented on #32347
I've prepared https://github.com/WordPress/gutenberg/pull/32352 to remove the processing from the client.

However, I'm having second thoughts about removing the processing entirely. It feels we should make sure classes don't have [whitespace](https://html.spec.whatwg.org/multipage/dom.html#global-attributes:classes-2). If the slug contains whitespace there may be other things that break, I haven'

[2021-05-31 17:05] paaljoachim commented on #8968
Great!
We can then go ahead and close this issue.

[2021-05-31 17:41] colorful-tones commented on #29568
Instead of having all those -100 and -800 variants. I would rather maybe see a mechanism like a stepper, slider UI that can be controlled via API. So, if a purple exists but theme developer only wants to allow for certain steps (e.g. --200, --400, --900) then it would have just those increments on slider.

[2021-05-31 17:43] #8968 closed

[2021-05-31 18:49] pagelab commented on #25552
As stated in the [Block Editor Handbook](https://developer.wordpress.org/block-editor/how-to-guides/widgets/opting-out/) there's now official options to bring back the classic Widgets screen:

[code]

and

[code]
There's also the [Classic Widgets plugin](https://wordpress.org/plugins/classic-widgets/), which is quite simple and just uses the two filters above.

[2021-05-31 20:14] ockham commented on #31489
(Some WIP here: #31910)

[2021-06-01 00:10] tellthemachines commented on #31951
I'm confused. These approaches are incompatible, so we can only move one of them forward, not both. The first removes the list markup altogether, while the second removes that markup in the editor and adds it only in the front end. Which is it to be?

[2021-06-01 01:32] noisysocks commented on #31575
I'm still able to reproduce it and am working on a fix. Since the REST API has been merged into Core, I'll move this over into Trac: https://core.trac.wordpress.org/ticket/53313

[2021-06-01 01:32] #31575 closed, assigned to noisysocks

[2021-06-01 01:44] ramonjd commented on #31922
We might not need this now that Gutenberg checks for theme support for `core-block-patterns`.

There used to be no checks before loading patterns:

https://github.com/WordPress/gutenberg/blob/v10.5.4/lib/block-patterns.php

Thankfully, later versions now only add patterns where there is theme support for `core-block-patterns`. For example:

https://github.com/WordPress/gutenberg/blob/release/10.7/

[2021-06-01 01:54] kevin940726 commented on #31960
I'm looking into the first issue.

[2021-06-01 01:57] noisysocks commented on #31126
Closing this in favour of the trac tickets.

[2021-06-01 01:57] #31126 closed, assigned to tellthemachines

[2021-06-01 02:01] noisysocks commented on #26153
Noting that https://github.com/WordPress/wordpress-develop/pull/1308 contains a fix for this.

[2021-06-01 02:06] noisysocks commented on #31912
Thanks for the detailed report! This is a duplicate of https://github.com/WordPress/gutenberg/issues/31575 which now lives in https://core.trac.wordpress.org/ticket/53313.

[2021-06-01 02:06] #31912 closed, assigned to nobody

[2021-06-01 02:11] noisysocks commented on #31890
I suspect this is because `WP_Widget` was only registered when the theme opted into widgets and that this is now fixed in Core. Haven't verified this, yet, though 🙂

[2021-06-01 02:25] #32281 closed, assigned to noisysocks

[2021-06-01 04:51] Mamaduka commented on #23769
I think we close this one since `color.link` can be disabled on the theme level using `theme.json`.

[code]

[2021-06-01 05:22] kevin940726 commented on #31960
The first issue is a duplicate of #22765, which should be resolved on the plugin author's end. I think we can close this since #32260 is also resolved.

[2021-06-01 05:23] #31960 closed, assigned to kevin940726

[2021-06-01 05:24] noisysocks commented on #28561
Hm, can't really do this as they're different implementations. In `@wordpress/customize-widgets` we are mapping from blocks ↔ how widgets are represented in the Customizer. In `@wordpress/edit-widgets` we are mapping form blocks ↔ how widgets are represented in the REST API. They aren't the same unfortunately.

[2021-06-01 05:50] noisysocks commented on #31900
This no longer happens when running Gutenberg against 5.8-alpha because 5.8-alpha has the widgets editor merged into it. I can still reproduce when running Gutenberg against 5.7 though.

[2021-06-01 05:52] noisysocks commented on #31900
Thinking about this some more, I don't think we can fix this. The problem is due to `WP_Widget_Block` not being registered unless the Gutenberg plugin is active. We can't do anything about that unless we add `WP_Widget_Block` to Core which is exactly what we've done for 5.8 🙂

Thanks for testing @hellofromtonya!

[2021-06-01 05:52] #31900 closed, assigned to nobody

[2021-06-01 06:00] noisysocks commented on #31890
Yes, this is only a problem in the plugin. I'll de-prioritise this bug.

[2021-06-01 06:02] #30788 closed, assigned to jeyip

[2021-06-01 06:03] jeyip commented on #30788
Closed in favor of alternative approaches whereby consumers of the Gutenberg plugin can address the problems themselves rather than relying on a built-in filter https://github.com/WordPress/gutenberg/pull/30514#issuecomment-834676424

[2021-06-01 06:05] #31727 closed, assigned to nobody

[2021-06-01 06:09] noisysocks commented on #31181
I'm having trouble testing this. When I install Jetpack locally I can't browse to Jetpack → Settings as there are errors. Perhaps Jetpack isn't working with 5.8-alpha.

If I can get the hook name that Jetpack is using then I can investigate adding support for it in the REST API.

[2021-06-01 06:10] noisysocks commented on #32074
Confirmed.

[2021-06-01 06:14] noisysocks commented on #25808
Thanks for the report! I can only reproduce it when running the Gutenberg plugin on WP 5.7. It's fixed in 5.8-alpha. Going to de-prioritse the issue in the Widgets project board.

[2021-06-01 06:27] Mamaduka commented on #32074
I will try to look into this issue later this week.

[2021-06-01 06:35] #31784 closed, assigned to jasmussen

[2021-06-01 07:08] bhvreddy opened #32360 "ES5 snippet is missing"
https://developer.wordpress.org/block-editor/how-to-guides/block-tutorial/block-controls-toolbar-and-sidebar/#settings-sidebar

At Settings Sidebar section e.g. code.

for block toolbar the ES5, ESNext code is there.
![image](https://user-images.githubusercontent.com/4076309/120281014-11104180-c2d6-11eb-9026-c13b4b851c71.png)

but at settings sidebar code ES5 code is missing.
![image](https://user

[2021-06-01 08:18] kevin940726 commented on #31958
@critterverse This is also an issue in other editors (widgets screen) other than the post editor as well. The issue is because these editors don't load some of the styles loaded in the post editor. I don't have any idea how to fix it yet, might need to come back to it later 🤔.

[2021-06-01 08:56] jameskoster opened #32362 "Do not allow templates named by core to be renamed, and display descriptions"
In the template editor it's currently possible to rename _any_ template:

<img width="1500" alt="Screenshot 2021-06-01 at 09 39 25" src="https://user-images.githubusercontent.com/846565/120293543-465c6580-c2bd-11eb-8da4-a9c14189e10d.png">

But in the Site Editor, templates that are named by core (Index, Page, Archive, etc) cannot be renamed. The thinking there is that any benefits that custom name

[2021-06-01 08:58] #31076 closed, assigned to jorgefilipecosta

[2021-06-01 08:59] #28561 closed

[2021-06-01 09:29] jameskoster commented on #32317
Here's an option for this one, mostly based on concepts we need in the template editor; content-locked blocks (https://github.com/WordPress/gutenberg/pull/30156) and the click-through pattern (https://github.com/WordPress/gutenberg/pull/31109).

https://user-images.githubusercontent.com/846565/120300603-fe8d0c80-c2c3-11eb-9d1a-0a460079ce55.mp4

Notes:

* Clicking anywhere on the Query will select

[2021-06-01 09:45] geriux commented on #25049
Closing since this was implemented in https://github.com/WordPress/gutenberg/pull/29969

[2021-06-01 09:45] #25049 closed

[2021-06-01 10:06] Mamaduka commented on #27198
PR is ready for testing #32364.

[2021-06-01 10:10] youknowriad opened #32365 "Dev Notes for WordPress 5.8"
https://github.com/WordPress/gutenberg/pulls?q=is%3Apr+is%3Amerged+label%3A%22Needs+Dev+Note%22

Here are all the PRs that need a Dev Note to be written. I tried organizing the PRs in different sections and each section represents a single make/core post.

Please share the dev notes here as comments here or links to shared documents. Please let me know if you're unable to write a note for your PR.

[2021-06-01 10:14] hypest commented on #23094
For context, [we're moving to Sentence case on mobile too](https://github.com/WordPress/gutenberg/pull/30075#discussion_r613371186) so yeah, thanks for closing this one as not relevant anymore @mtias 🙇

[2021-06-01 10:17] jasmussen opened #32366 "Global Styles: Consider supporting `gap`"
## What problem does this address?

Margins are good for spacing out items. However in many cases, `gap` ([see details](https://css-tricks.com/almanac/properties/g/gap/)) provides a much better experience for laying out items.

**Instead of spacing items by providing margins on child elements, a gap as applied to the container defines how much space is between the child elements**.

This illustrat

[2021-06-01 10:58] jameskoster commented on #26190
Since this issue and https://github.com/WordPress/gutenberg/issues/32317 are very closely related, some of the ideas that I shared there overlap with potential solutions here.

In this comment I'll cherry-pick the relevant parts so that we can discuss whether they are adequate solutions to this problem on their own, or whether a truly dedicated loop-editing view is required (be it supplementary on

[2021-06-01 12:19] david-szabo97 commented on #31115
**UPDATE**: After some extensive investigation, it looks like this problem occurs in any container blocks.

Error is happening in `useBlockProps`, at different points usually. But mostly it happens at

https://github.com/WordPress/gutenberg/blob/6d977df25ba32cec009380c436ccffb26e0d8562/packages/block-editor/src/components/block-list/use-block-props/index.js#L96

The block is still being rendered a

[2021-06-01 12:28] Addison-Stavlo commented on #31397
Thanks for explaining @carlomanf!  It sounds like a promising alternative.

[2021-06-01 13:09] #32217 closed, assigned to nobody

[2021-06-01 13:39] myleshyson commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-06-01 13:41] paaljoachim commented on #30993
A PR to add a text link to the ellipsis (3 dot) drop down has been added through this PR:
https://github.com/WordPress/gutenberg/pull/32310 It was just merged, so we can go ahead and close this issue.

Switching the current toolbar icon to a more suitable icon is something we will need to get back to at a later time.

[2021-06-01 13:41] #30993 closed, assigned to nobody

[2021-06-01 13:57] kjellr opened #32373 "Navigation Block: Enhancement ideas for the empty placeholder"
When it contains no items, the Navigation block currently looks like this:

<img width="400" alt="Screen Shot 2021-06-01 at 9 30 57 AM" src="https://user-images.githubusercontent.com/1202812/120331722-12cd0b80-c2bc-11eb-81f7-e5ac7b36031f.png">

While implementing the header and footer patterns in https://github.com/WordPress/gutenberg/pull/31610, I've run into a few issues with this placeholder ap

[2021-06-01 13:58] paaljoachim commented on #29145
Drag and drop of image onto an empty paragraph block would/should look similar to dragging and dropping an image onto an existing image. Like so:

https://user-images.githubusercontent.com/5323259/120336005-3d39bb80-c2f2-11eb-83d7-6a30a8e1ae5c.mp4

[2021-06-01 14:05] jameskoster commented on #32353
There's an issue here (https://github.com/WordPress/gutenberg/issues/32317) exploring a similar concept for the Query block. A similar pattern is required for editing content in the template editor as well.

[2021-06-01 14:35] jameskoster commented on #32073
Since we now display the template details in the top bar, I'm not sure we really need this tab at all?

<img width="421" alt="Screenshot 2021-06-01 at 15 32 21" src="https://user-images.githubusercontent.com/846565/120341219-9bfd3600-c2ee-11eb-8757-173a82418e97.png">

Displaying the name and description makes sense, but we should probably do it there rather than the sidebar. I opened https://githu

[2021-06-01 14:51] colorful-tones commented on #29568
Upon second thought, the existing color picker UI would still be more suitable for this, as opposed to `input type="range"`. Surfacing the colors as visual color is always more ideal user experience 😄

[2021-06-01 14:58] capJavert opened #32375 "Block registration per editor instance"
## What problem does this address?
Would it be possible to have multiple block editors active but with different blocks available/registered for each of them.

For example I would like to have:
1. One instance of the editor where only core/paragraph block is registered and can be inserted (acting as some kind of simplified version of the editor)
2. Another instance where all core blocks are availa

[2021-06-01 15:02] ryelle commented on #31922
There's a new filter in WordPress core to disable just the remote patterns, `should_load_remote_block_patterns`:

https://github.com/WordPress/wordpress-develop/blob/f5ca52c61794eb6a2082b1aec647de56344f2481/src/wp-includes/block-patterns.php#L64

[2021-06-01 15:05] jasmussen commented on #32373
Thank you for creating this ticket, I meant to myself and have been working on some mockups to that effect.

The key bit is, I feel like we have now tried the ultimate version of the navigation setup state as it exists in the form of gray blobs. It's a good principle — showing a resemblance of the end-state in its unselected form — but we've also found the limitations thereof, some of which you me

[2021-06-01 15:31] kjellr commented on #32373
Thanks for sharing these mockups! It's helpful to visualize things that way.

What we're talking about here requires an odd balance: It needs to look real and finished (in the pattern preview state), but also be clearly just a placeholder that requires more action. I was thinking about how we handle this for other blocks in the context of patterns, and we largely don't. Patterns include the exact

[2021-06-01 16:14] paaljoachim commented on #32317
Associated:
On Locking and TemplateLocking
https://github.com/WordPress/gutenberg/issues/29864

This looks very interesting, James!

Another suggestion would actually be to add a lock to the toolbar, or perhaps a mix of a lock in the toolbar (and List View) and the approach you suggest.

@jameskoster James it would be great to have a Figma prototype to test out. To get a hands-on feel.

[2021-06-01 16:22] paaljoachim commented on #28010
Hey @nabi009

I happen to create a duplicate here: https://github.com/WordPress/gutenberg/issues/32099

We can keep both issues open for now.

[2021-06-01 16:27] mohanrajpac commented on #25330
Are there any update on this issue?

[2021-06-01 16:28] ntsekouras commented on #30073
This has been fixed here: https://github.com/WordPress/gutenberg/pull/30606.

[2021-06-01 16:28] #30073 closed, assigned to nobody

[2021-06-01 16:36] strarsis commented on #25330
This is a big issue. 😿

[2021-06-01 17:51] paaljoachim commented on #32099
Kelly @kellychoffman
has this mockup:
https://github.com/WordPress/gutenberg/issues/28010#issuecomment-778548343

<img width="318" alt="107839358-377a9300-6d60-11eb-9fed-489bbbe64537" src="https://user-images.githubusercontent.com/5323259/120368076-eb089280-c311-11eb-8d20-0293a17ea03f.png">

I went ahead and made the following based on Kelly's above suggestion:

![Pre-publish-panel-Add-New-Page-2]

[2021-06-01 18:12] bobbingwide opened #32379 "Page List block unusable as a standalone block"
## Description
In my ThisIs theme I used the Page List block in the sidebar for navigation. In Gutenberg 10.6.0 it was displayed as a tree,
similar to the bw_tree equivalent and Page Tree (shortcode) sections in the screen capture.

With Gutenberg 10.7.1 it's almost impossible to pick an item from a nested list.
You can see the items when you hover over the top level.
But cannot pick one.
The thir

[2021-06-01 18:34] sanderteirlynck commented on #20606
Hi @paaljoachim

Apologies for the late reply!

I'm assuming this issue is still valid since the Quote and Pullquote block both still use the `cite` element as of WordPress 5.7.2 and the HTML Living Standard still notes that "a person's name is not the title of a work". Something might have changed in the Gutenberg WordPress plugin but I'm assuming it hasn't, since this issue wasn't referenced any

[2021-06-01 21:35] billerickson commented on #24527
I ran into this issue as well, and was able to fix it with:

[code]

[2021-06-02 00:13] #32241 closed, assigned to kevin940726

[2021-06-02 00:51] annezazu commented on #32073
Agreed on removing it if that's included in the template details. In that case, I imagine it would make more sense to have this open on the top most block (site title)? However, I do like the idea of links to documentation!

[2021-06-02 01:06] #31194 closed, assigned to tellthemachines

[2021-06-02 03:33] ramonjd commented on #32339
Might the G2 color control help when it's been migrated?

<img width="353" alt="Screen Shot 2021-06-02 at 1 32 45 pm" src="https://user-images.githubusercontent.com/6458278/120420108-070a4380-c3a7-11eb-827a-0a20f819e3d0.png">

Seems like it's a good case. Not sure how far away it is. Here's the component integration tracking issue: https://github.com/WordPress/gutenberg/issues/28399

[2021-06-02 03:37] kevin940726 commented on #32061
![image](https://user-images.githubusercontent.com/7753001/120420227-8b07ff80-c396-11eb-867e-c38fd917e1b8.png)

The scrollbar sits _inside_ the sidebar content area, the customizer top bar is not a part of it. I can't picture how it will work when slowly scrolling down and hiding the customizer top bar. In my imagination it could be a little bit counter-intuitive 🤔.

[2021-06-02 06:33] noisysocks commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-06-02 06:39] justintadlock commented on #32339
That would require the end-user to edit the opacity of every color-stop of a theme-supplied gradient or still runs into the issue of themes creating extra gradient presets for multiple opacity levels.

A simple and already-existing UI element for controlling the opacity feels like a friendlier solution.

[2021-06-02 07:31] jasmussen commented on #32379
Thank you for the report. #32384 fixes it.

[2021-06-02 07:45] carolinan opened #32385 "Feature request: Ability to select template editing as the default editor mode"
## What problem does this address?

I would like to be able to choose if I want content editing or template editing to be the default when I open the block editor.

[2021-06-02 07:49] carolinan opened #32386 "Saving fatigue -Feature request: Turn off the multi entity saving step"
## What problem does this address?

I'd like to be able to turn off the multi entity saving step in the same way as was we can turn off pre publish checks.
I "just want to save".

[2021-06-02 09:01] swoodipto opened #32389 "Template editor does not respect the full or wide width setting of a block"
## Description

When editing a template, the width of the blocks that are set to full or wide widths are reduced & do not match the layout in the Editor.

It looks like the Editor does not respect Full and Wide width settings of blocks.

## Step-by-step reproduction instructions

1. Activate tt1-blocks (or any theme that opts in to the new layout system)
2. Create a new page and add some content a

[2021-06-02 09:01] arunsathiya opened #32390 "Recently imported+edited template does not appear on the page editor's template list"
## Description

When a template is imported as a block pattern, and when it is edited, I am able to come back to the normal page editor mode. Upon doing so, the newly imported+edited template is missing from the `Templates` dropdown list.

## Step-by-step reproduction instructions

- Import a template as a block pattern (I haven't tested if the same behaviour can be seen for new templates as well)

[2021-06-02 09:01] arunsathiya opened #32391 "Editing a template with a `Site logo` block does not allow me to edit that block"
## Description

On the template editing mode, add a `Site logo` block to it. Try clicking on it to choose the logo from the media library, but it does not show any actionable interface.

## Step-by-step reproduction instructions

- Start with a template and enter its editing mode.
- Add a `Site logo` block to it.
- See that does not have any actionable interface.

## Expected behaviour

The `Site

[2021-06-02 09:07] paaljoachim commented on #32295
PR added here: https://github.com/WordPress/gutenberg/pull/32388

[2021-06-02 09:22] MaggieCabrera commented on #32365
https://github.com/WordPress/gutenberg/pull/30804 Comes to mind as a change that can affect block-based themes using the Query block

[2021-06-02 09:25] #32127 closed, assigned to Mamaduka

[2021-06-02 09:27] Mamaduka commented on #32127
@luis-movel I just merged the fix for this issue, and it should be part of 10.8 release.

Feel free to reopen the issue if you still experience the problem.

[2021-06-02 09:48] youknowriad commented on #32365
@MaggieCabrera Query block has never been released in Core so maybe we need a post for all new blocks but it's not necessarily something for theme authors I think.

[2021-06-02 09:52] MaggieCabrera commented on #32365
If they are using the Query block in their templates they need to change the markup (we've had to do it for some of our themes), but I agree it's not relevant in this case since the block is not in Core yet so forget I mentioned it :D

[2021-06-02 10:25] #27568 closed

[2021-06-02 10:31] javierarce opened #32394 "Table Block main issue"
I’m opening this main issue to propose several improvements and enhancements to this block. Many of the improvements and ideas here build on explorations and work that appear in [the previous main thread from 2018](https://github.com/WordPress/gutenberg/issues/6923) and some related issues.

I've also opened a tracking issue for this block [here](https://github.com/WordPress/gutenberg/issues/32400

[2021-06-02 10:33] draganescu commented on #25808
If it's fixed in 5.8-alpha why not close this issue?

[2021-06-02 10:41] priethor commented on #31951
Taking into account [@mtias' insightful comment above](https://github.com/WordPress/gutenberg/issues/31951#issuecomment-846067135), I believe we should move forward with #30551 and handle the frontend representation on render time, clearly differentiating how the block is rendered, how it's edited, and how it's saved.

As @tellthemachines points out, once we head in this direction we won't need to

[2021-06-02 10:51] draganescu commented on #31951
Yes, I missed that #30551 ALSO removes the editor markup :) So in this case #31827 should be closed in favor of #30551 .

[2021-06-02 10:54] jeherve commented on #31181
Jetpack does work with WP 5.8-alpha & Gutenberg 10.7.1. What errors do you see when you navigate to Jetpack > Settings? Are you running the latest version of the plugin?

The Jetpack feature mentioned in this issue is named Widget Visibility. It lives here:
https://github.com/Automattic/jetpack/blob/9f7ce71e3df8428484264aa49fc2ba7d8a11f13b/projects/plugins/jetpack/modules/widget-visibility/widget-

[2021-06-02 11:06] frontdevde commented on #28474
Just noting that I'm seeing the React state update error as well for both the Gallery block as well as the Media & Text block upon insertion in the editor.

[2021-06-02 11:14] jasmussen commented on #32373
Yes, this is definitely the challenge, and one we haven't sufficiently tackled in the past relying mostly on a _navigation block state_.

Yes, and this is where I think we have an opportunity to look at a _menu item setup state_ instead of a _navigation block state_. So yes, you would create the whole pattern with a single navigation block that includes 2 menu items, a site logo, and 2 menu items.

[2021-06-02 11:29] oandregal commented on #32365
― **A post to introduce the theme.json file**

Probably worth pointing to the [existing docs](https://developer.wordpress.org/block-editor/developers/themes/theme-json/) as well, which contains the rationale, examples, and the whole specification. [This note](https://github.com/WordPress/gutenberg/issues/20331#issuecomment-848685044) can also be useful in explaining how the `theme.json` values rel

[2021-06-02 11:30] andrejcremoznik opened #32398 "Change import of `react-spring` to fix NPM 7 compatibility"
NPM 7 cannot install `react-spring` due to a change in peer dependency resolution https://github.com/pmndrs/react-spring/issues/1413

https://github.com/WordPress/gutenberg/blob/435dde470f5541ba397a83126333223abe1eee41/packages/components/src/snackbar/list.js#L6

Should be `@react-spring/web`

[2021-06-02 11:45] youknowriad commented on #32365
Some core blocks do use these block supports even if they are experimental (not allowed for third-party blocks yet)

[2021-06-02 11:55] #24710 closed

[2021-06-02 12:07] javierarce commented on #27651
I think we can close this issue since we already support border settings per this PR: #31265

[2021-06-02 12:09] javierarce commented on #17801
I think we can close this issue since we already support border settings per this PR: #31265

[2021-06-02 12:09] #32379 closed, assigned to jasmussen

[2021-06-02 12:13] priethor commented on #32394
Thanks for pulling this together, @javierarce ❤️

Given you would like to discuss these proposals in this issue, do you think it would make sense to separate the issue tracking into a different one?

[2021-06-02 12:21] jasmussen commented on #32373
Here's an iteration which assumes the following:

- As a pattern developer, you can pre-fill a **label** even if that means you might need to go into the code editor to make that happen.
- However without the URL configured, clicking the Menu Item will open a "Page link picker" dialog. In other words, it will remain in a setup state.
- Menu items in setup states look exactly like normal menu items

[2021-06-02 12:23] #29209 closed

[2021-06-02 12:27] PascalMarechal commented on #11280
Same issues on WP 5.7.2

[2021-06-02 12:43] #32000 closed, assigned to jasmussen

[2021-06-02 12:46] javierarce opened #32400 "Table Block tracking issue"
I’m opening this tracking issue to manage new and existing Table block PRs, bugs, and enhancements.

There's also [this main issue](https://github.com/WordPress/gutenberg/issues/32394) where I propose several improvements and enhancements for this block (several of them come from the issues below) and link to a design file.

Right now, I think that the most important enhancement that would allow u

[2021-06-02 12:46] javierarce commented on #32394
You are welcome! And good idea. Here's the tracking issue: https://github.com/WordPress/gutenberg/issues/32400

[2021-06-02 13:27] aristath commented on #32391
This has already been fixed in trunk.
Duplicate of https://github.com/WordPress/gutenberg/issues/32171

[2021-06-02 13:27] #32391 closed, assigned to nobody

[2021-06-02 13:32] aristath commented on #32385
Could you please elaborate?
Why should this option be available?
The block editor is for editing _content_. The template editor is for editing _templates_. So the workflow is to write the content, and then if needed, edit the template. Sure, the content can be edited in the template-editor and you can even build an entire site using blank pages and custom templates, but the fact that it's possible

[2021-06-02 13:35] mchowning commented on #29483
It seems that the next step is to identify all code that was brought over to Gutenberg from another repository (i.e., WordPress Core). That will allow us to make a decision about whether we are better off:

- attempting to get consent to relicense that code from its original authors;
- creating separate releases for use with/without WordPress (with any GPL-only code only being included in the rele

[2021-06-02 13:35] youknowriad commented on #32257
@jasmussen Is this something we should close now?

[2021-06-02 13:43] aristath commented on #20606
I believe this is also part of  the refactor in https://github.com/WordPress/gutenberg/pull/25892

[2021-06-02 13:45] jasmussen commented on #32257
Yes, I had thought that my PR merging would do that.

[2021-06-02 13:45] #32257 closed, assigned to nobody

[2021-06-02 13:55] youknowriad commented on #29031
Closing this as it seems the biggest changes are already in.

[2021-06-02 13:55] #29031 closed

[2021-06-02 14:06] Azragh opened #32402 "Toolbar overflows viewport on small right aligned images"
## Description
Toolbar overflows viewport on small right aligned images. Not much more to say here.

## Step-by-step reproduction instructions
Create an image block, choose alignright and resize it to 150px or so. In Twenty Twenty-One you maybe have to resize the browser a little bit to see this behaviour.

## Screenshots
![image](https://user-images.githubusercontent.com/15014142/120494753-5f980b

[2021-06-02 14:28] jameskoster opened #32403 "Add drag-and-drop to List View"
Once collapsible container blocks (https://github.com/WordPress/gutenberg/pull/32117) arrive, it might be nice to explore adding drag-and-drop capabilities to List View.

Arranging blocks this way on the canvas can feel quite uncomfortable due to the real estate that larger blocks occupy, and the amount of scrolling-while-dragging that can be required. Greater finesse can be exercised in List View

[2021-06-02 14:33] justintadlock commented on #29887
The template loader in core removes the `prepend_attachment` filter on `the_content` when an attachment is present.  It expects that, because the theme is handling the `attachment*` template, it is outputting the media.

Ideally, the Post Featured Image block would handle this for image attachments.  We could always let the `prepend_attachment` filter run and let theme authors unhook it if needed.

[2021-06-02 14:58] draganescu commented on #26152
Updated the priority in the widgets editor project board as it is very inconvenient on mobile.

[2021-06-02 15:06] draganescu commented on #26177
To reproduce consistently:

- have a theme with multiple widget areas
- make sure one of the areas is empty (select all widgets and blocks, delete and save)
- collapse all widget areas
- expand the empty one, the prompt appears
- expand the one above it, the prompt disappears from the one below
- collapse the one above, the prompt is missing from the one below

[2021-06-02 15:25] #32157 closed, assigned to Mamaduka

[2021-06-02 16:08] saracope commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-06-02 16:16] draganescu opened #32405 "List content lost when switching list type"
## Description

List content lost when switching list type.

## Step-by-step reproduction instructions
In any block editor:

1. add a list block
2. add some list items
3. from the block toolbar convert from unorererd to ordered
4. list content is lost

## Expected behaviour

List content to not be lost

## Actual behaviour

List content is lost

## Screenshots or screen recording (optional)

https

[2021-06-02 16:18] paaljoachim commented on #32405
I just tested with WP 5.8 and switching between list types removes the list content.

[2021-06-02 16:24] draganescu commented on #17052
My solution does not work because now we also have #32405 wich will cause content to be lost when switching list types.

[2021-06-02 16:41] jffng commented on #27651
Great, thank you @javierarce.

[2021-06-02 16:41] #27651 closed

[2021-06-02 17:38] draganescu opened #32407 "Undo/Redo breaks saving widgets"
## Description

The undo and redo functionality in the stand-alone widgets editor will break saving with enough persistence. I did not manage to consistently repeat a set of steps but as it can be seen in the screen recording, eventually it breaks.

The customizer instance of the Widgets editor does not have these problems.

## Expected behaviour

No matter how many times I undo or redo saving alw

[2021-06-02 18:07] oandregal commented on #32027
There's an alternative to https://github.com/WordPress/gutenberg/pull/32225 at https://github.com/WordPress/gutenberg/pull/32358

[2021-06-02 18:12] galloppinggryphon opened #32408 "eslint-plugin: Unable to resolve .jsx (import/no-unresolved)"
## Description

When using `@wordpress/eslint-plugin`, eslint is reporting the following error while trying to resolve `.jsx` files:
[code]

Adding the extension to the import statement makes the file resolve. All `.js` files resolve normally.

## Step-by-step reproduction instructions

This import statement cannot be resolved:
[code]

Adding the extension makes it work
[code]

ESLint config:
[cod

[2021-06-02 18:31] SiobhyB opened #32409 "Mobile: Enhancement: Consider Ways to Incorporate Clearer Scroll Indicator on Block Settings"
## Description

While reviewing a PR of mine, @guarani shared [an interesting post](https://tyler.io/perfectly-cropped/) in which the writer shared a personal struggle in finding a setting on iOS due to a lack of a scroll indicator:

This was related back to a new block setting that is only available on scroll. There are, in addition, a few more blocks with settings that require scrolling on mobil

[2021-06-02 19:14] annezazu commented on #32073
More feedback from this experience of landing in template editing mode from @synora:

[2021-06-02 19:18] melchoyce opened #32410 "Custom Colors broken in 10.7.1"
## Description
On sites running WordPress 5.7.2 and Gutenberg 10.7.1, I'm unable to select custom colors in the editor.

## Step-by-step reproduction instructions
1. Make sure you're running 5.7.2 and 10.7.1, both the latest releases.
2. Open a new post or page.
3. Add an element that has a color control.
4. Open the color panel in the sidebar and see that there is no option for adding a custom co

[2021-06-02 19:25] philbuchanan opened #32411 "No longer able to disable custom font and color styles"
In earlier version of Gutenberg, a developer was able to disable/remove custom font sizes and colors using a few lines of code:

[code]

In recent versions (I'm not 100% sure which version) these settings no longer work. #25756 mentioned the same issue but that was closed despite the issue still remaining.

## Expected behaviour
I would expect these settings to continue to be honoured. The [docume

[2021-06-02 19:30] annezazu commented on #30515
Another example of this happening: adjusting the width of the Post Title Block doesn't trigger the option to save. One has to update the Post Title in order for it to offer the option. This was found by @synora!

[2021-06-02 19:56] skorasaurus commented on #32411
Regarding the color palette, that should be fixed in this PR - https://github.com/WordPress/gutenberg/pull/32225

[2021-06-02 20:06] annezazu opened #32412 "Post Content Block: transforming to Group causes rendering error"
## Description

If you try to transform a post content block to a Group, a rendering error occurs. This is possible with the Post Title block but not with the Post Content. I can't quite tell if the solution is to allow for the transform to occur or to remove it as an option as it's not something we want people doing.

## Step-by-step reproduction instructions

1. Add a post content block ideally

[2021-06-02 20:51] jordesign commented on #32412
Just to clarify a little further - the reason I was trying to 'Group' the block was in order to place a background color behind the whole content area.

By comparison - inserting a Group Block - and then placing the Post Content block *inside* it worked without a problem.

[2021-06-02 21:14] j-mccarthy opened #32413 "Allow developers to add custom SVG for navigation open and close icons"
## What problem does this address?

During developing a block theme, I came to add a site header and navigation. I added navigation using the new navigation block. The style of the svg in the navigation doesn't work well with my themes design and I want to change it. I looked into the server rendering of the block and was frustrated to see I was unable to switch out the svg for my own using a filt

[2021-06-02 21:49] lukecarbis commented on #32410
Just chiming in to say that I have noticed the same thing.

[2021-06-02 22:25] lukecarbis opened #32415 "RichText no longer works with the onFocus event"
## Description
In WordPress 5.7.2 (without the plugin), a RichText component can be passed the `onFocus` event, and it works as expected. Activating Gutenberg 10.7.1 breaks the onFocus functionality.

## Step-by-step reproduction instructions
1. Create a RichText component in a separate plugin or theme
2. Give it an onFocus event, which logs something to the console
3. Test it **without** the Gute

[2021-06-02 22:28] lukecarbis commented on #32415
@ellatrix I hope you don't mind if I ping you on this – I believe you've been actively working on RichText.

[2021-06-02 22:46] lukecarbis commented on #32410
I noticed that if you specify `disableCustomColors={ false }` (which should be the default), the Custom Color option returns.

[2021-06-03 01:11] stacimc opened #32417 "Block Supports: Allow themes to set styles when serialization is skipped"
I'd like a flexible way to support setting specific styles via `theme.json` that do not target the top-level of the block: ie, block supports with `__experimentalSkipSerialization` enabled. It is currently difficult to do this without affecting _all_ styles for the block.  Here's an example:

#32416 adds the color block support to the Search block, and enables `__experimentalSkipSerialization` so

[2021-06-03 01:21] noisysocks commented on #32074
Related to this is that you see a "Are you sure?" prompt when you navigate away from the widgets screen after saving.

[2021-06-03 03:34] noisysocks opened #32418 "Widgets editor: Breadcrumbs are missing"
## Description

The breadcrumb component at the bottom of the screen is missing from the widgets editor. This makes it difficult to select a parent block if you are used to using this component in the post editor.

## Step-by-step reproduction instructions

1. Go to Appearance → Widgets.

## Expected behaviour

There should be a breadcrumb component, like in the post editor:

<img width="1252" alt

[2021-06-03 03:37] noisysocks opened #32419 "Widgets editor: Block toolbar doesn't appear after selecting multiple blocks"
## Description

The block toolbar does not appear after selecting multiple blocks in the widgets editor.

## Step-by-step reproduction instructions

1. Go to Appearance → Widgets.
2. Select multiple blocks e.g. by shift + clicking.

## Expected behaviour

The block toolbar should appear.

<img width="1252" alt="Screen Shot 2021-06-03 at 13 36 40" src="https://user-images.githubusercontent.com/6121

[2021-06-03 04:08] tellthemachines commented on #32267
Closing as this has been fixed in #32299

[2021-06-03 04:08] #32267 closed, assigned to nobody

[2021-06-03 04:12] pablinos commented on #25173
Isn't that the problem this issue was concerned with, that the logo would keep getting reassigned to the Customizer version?

If it's not possible does that mean it's not fixed?

[2021-06-03 04:36] kevin940726 commented on #26152
@draganescu I can't reproduce it, can you still reproduce it?

[2021-06-03 04:41] Mamaduka commented on #15406
Hi, @annezazu

Unfortunately, my PR didn't solve this issue. It is an enhancement for Tag settings.

The main problem here's is that we can't create terms when saving/creating posts via REST API. It means creating terms before a post is saving and providing IDs for the API call.

Like @iandunn suggested, we should defer tag creation until the user triggers save. I've some ideas on how to do this,

[2021-06-03 04:44] Mamaduka commented on #30782
I just noticed "None" and "No alignment" options in mockups for "Dimensions Panel."

What do you think about adding this option?

![](https://user-images.githubusercontent.com/1204802/105170673-9102ef80-5b1d-11eb-912d-e0cf6095f43e.png)

[2021-06-03 04:49] aaronrobertshaw commented on #32365
There are two PRs specifically relating to the border block support. One to [allow non-pixel units](https://github.com/WordPress/gutenberg/pull/31483) and another to allow [individual border radius values per corner](https://github.com/WordPress/gutenberg/pull/31641). These are needed to [refine the border support UI](https://github.com/WordPress/gutenberg/issues/31337) before the support gets wid

[2021-06-03 04:59] torounit commented on #32405
https://user-images.githubusercontent.com/1908815/120589344-a98ff880-c473-11eb-9d46-0386b4aac1fb.mov

Values are saved.  Indenting will apply the changes.

Gutenberg version: Trunk

[2021-06-03 05:03] noisysocks commented on #26241
Closing in favour of https://core.trac.wordpress.org/ticket/53317.

[2021-06-03 05:03] #26241 closed

[2021-06-03 05:31] torounit commented on #32405
The new value is passed to `<RichText>`, but it is not displayed correctly.

[2021-06-03 06:01] aaronrobertshaw commented on #28356
There is a proof of concept up for the Dimensions panel in https://github.com/WordPress/gutenberg/pull/32392.

<img src="https://user-images.githubusercontent.com/60436221/120594544-6d18c880-c484-11eb-99ac-3762bc0c0d9b.gif" width="500"/>

It focuses on adding a new component that can easily be reused across multiple block supports. The individual block support controls for margin and padding can b

[2021-06-03 06:42] locksoft commented on #31707
You’re right, I should have provided more info, but it’s not an easy task to disable all the other plugins every time, to find out the culprit.
It turned out that in the last days, I can’t even open an article because the bottom part of the page (extra fields, etc.) covers the article itself. This on Safari with a Mac with Mojave. On iPad with last iOS everything works normally. Same on that same

[2021-06-03 07:16] tellthemachines commented on #31947
This needs to be fixed on the theme side. I've reported it [on Trac](https://core.trac.wordpress.org/ticket/53327) so closing this issue now.

[2021-06-03 07:16] #31947 closed, assigned to tellthemachines

[2021-06-03 07:44] oandregal commented on #32365
What's the expectation of those block supports I shared? Is it that they work with WordPress 5.8 without the plugin? If so, we need to port more things to `theme.json` and probably the PRs Aaron shared as well. My understanding was that they didn't.

[2021-06-03 07:48] youknowriad commented on #32365
I think for me, there are two different things:

 - Do we want to allow core blocks to use these feature ? if it's the case, we need to backport the theme.json support for this (to enable/disable).
 - Do we want to allow third party core blocks to use these features? If it's the case, we need to backport the theme.json support and stabilize the flag.
 - If we still consider breaking changes for an

[2021-06-03 08:46] getsource commented on #21951
I created #32201 to allow selecting the number of tags to be shown.
Right now, the range allowed is 3-100 tags.

Would this be enough for your purposes/use case?

[2021-06-03 08:56] jameskoster commented on #32073
In the Site Editor, template parts are highlighted in the top bar:

<img width="920" alt="Screenshot 2021-06-03 at 09 54 36" src="https://user-images.githubusercontent.com/846565/120617109-b8fe4a00-c451-11eb-9dba-9500c6a0fa13.png">

We should probably do something similar in the template editor once template parts are a feature there. The sidebar isn't the best place for this information since it

[2021-06-03 09:05] carolinan commented on #32385
Just like some people will prefer dark mode, some prefer full screen or to work with keyboard shortcuts -some users may prefer to always see the full web page.

It is not only about creating new items, but also about existing content.
For new items, it would create a post or page that uses the default template. It would not create a new template until the "new" link was selected in the template se

[2021-06-03 09:19] Sandstromer commented on #32410
I noticed this too, and at first wasn't sure if this is a feature or a bug.

Custom colors can still be added/edited in the Site Editor Global Styles, and then the new custom color is available for selection in the post/page/block editor.

I'm now thinking it's a bug as we still need to be able to add custom colors when the global styles is not accessible.

[2021-06-03 09:25] ntsekouras commented on #32365
_Dev note for **Additions to the Block Patterns Registration API** #30471_

### Contextual patterns for easier creation and block transformations

We’ve all been there. Staring at a blank page sometimes with an idea of what you want to create and sometimes with a mind as blank as the page. To make the creation process easier there is now a way to suggest patterns based on the block one is working

[2021-06-03 09:25] Sandstromer commented on #32413
I previously experimented with setting the default svg to `display:none` and using pseudo `:before/:after` to display a custom icon. It wasn't pretty and not at all ideal.

Making the svg icon filterable would be fantastic!

[2021-06-03 09:31] jameskoster commented on #32317
Unlocking via the toolbar could definitely be an option. But we may need to leave it for later (https://github.com/WordPress/gutenberg/pull/31461#issuecomment-832665091).

It's very hard to make a single prototype for this that feels natural since there are so many flows to account for. Double-clicking is not available as a recognisable action either so you have to spoof it. It might be better to

[2021-06-03 10:01] getdave commented on #30007
I'm going to start documenting all the things below. It will be updated as I go.

## Documenting

### Enhancements / Modifications

| Item | Method | Notes |
| :------------- | :----------: | -----------: |
|  [Menu name editor](https://github.com/WordPress/gutenberg/blob/trunk/packages/edit-navigation/src/filters/add-menu-name-editor.js) | Filter on `editor.BlockEdit`   | Enables ability to edit

[2021-06-03 10:02] ntsekouras commented on #32317
What about the Post blocks that exist in a page that are not inside a Query block? For example in post editor if we add the `Post date` block should this be locked in the same way?

[2021-06-03 10:03] youknowriad commented on #31798
This is not an issue for me, you can edit the post content in template mode, that's a fact but I think @jameskoster and others are exploring adding friction to these blocks separately.

[2021-06-03 10:14] youknowriad commented on #31798
The second item is also not a bug. So I'm going to update the issue to reflect its state.

[2021-06-03 10:15] ntsekouras commented on #32317
Also in a `Query` block if we unlock a `Post Title` block for example, this means that we have unlocked it for other posts as well? Or the user will have to unlock the title for another post?

[2021-06-03 10:15] ricjcs commented on #21951
If possible I would like it to show much more than 100, for example up to 1000, or have an option to display all tags.

I currently have over 500 tags on my website and I have an archive page where I show all categories and I also want to show all tags.

Thank you very much!

[2021-06-03 10:20] #32295 closed, assigned to nobody

[2021-06-03 10:27] ben72 commented on #19223
@draganescu I think this would be a good idea. In my example now I have 3 cover blocks in a grid and don't want to load the full images and I don't want to create special images when I already have them uploaded as product images. So selecting an already scaled down size would be optimal.

[2021-06-03 11:27] j-mccarthy commented on #32413
@Sandstromer For sure! Using pseudo elements is a viable workaround. Would be great to not have to.

Correct me if I'm wrong but I believe we loose the ability to access the elements of the svg by adding it via `background-image` or `content`? If so, we miss out on our opportunity to run further customisations via CSS.

[2021-06-03 11:55] #32256 closed, assigned to getdave

[2021-06-03 12:10] fluiddot opened #32428 "Bottom sheet: The slider doesn't update the value instantly"
## Description

When moving the slider, the value, that is located at the right of the element, doesn't get updated instantly. Instead looks like it's animating it with some delay (check attached video record).

## Step-by-step reproduction instructions

1. Add a Cover block.
2. Insert any image.
3. Open the block settings by tapping on the ⚙️  button.
4. Tap on the Color button.
5. Go to the Grad

[2021-06-03 12:15] torounit commented on #32405
https://github.com/WordPress/gutenberg/blob/79cb3ebb524931bb845623f3bc46bc40f859235d/packages/rich-text/src/component/index.js#L201-L204

If the `applyFromProps` on this line is executed, the edited text will be returned.

[2021-06-03 12:23] jameskoster commented on #32317
I think it depends whether you're editing the post or its template. The UX issues arise when you begin editing something outside of the local scope.

So if you're editing a _post_, it's probably fine for a Post Date block at the root level of the tree to be directly manipulated because doing so would update the publish date for that specific post. But if you're editing a _template_ then the contex

[2021-06-03 12:29] torounit commented on #32405
https://github.com/WordPress/gutenberg/blob/79cb3ebb524931bb845623f3bc46bc40f859235d/packages/rich-text/src/component/index.js#L148

If you comment out this line, it will be displayed correctly.

[2021-06-03 12:37] #32069 closed, assigned to youknowriad

[2021-06-03 12:38] youknowriad commented on #32389
This should be fixed now.

[2021-06-03 12:38] #32389 closed, assigned to nobody

[2021-06-03 12:43] youknowriad commented on #32417
@nosolosw @aaronrobertshaw might have thoughts here.

[2021-06-03 12:44] youknowriad commented on #32411
cc @nosolosw @jorgefilipecosta

[2021-06-03 12:45] youknowriad commented on #32410
cc @nosolosw @jorgefilipecosta

[2021-06-03 12:47] youknowriad commented on #32362
cc @jorgefilipecosta

[2021-06-03 12:52] youknowriad commented on #32375
This is something I wanted to do a long time ago, that said it requires big changes to how Gutenberg works and if we want to do this we need to do this in steps.

 - the first step would be to update all the code base of Gutenberg to avoid relying on the global `wp.blocks.getBlockType` `wp.blocks.getBlocksTypes`... and use the data modules instead (selectors from the `core/blocks` store)
 - Anothe

[2021-06-03 12:54] jameskoster commented on #32403
I think most of these are fairly straight-forward. I outlined the flows in Figma [here](https://www.figma.com/file/VaNb38S2OOihqSu2lAIIhN/List-view-Drag-and-drop?node-id=603%3A3798).

The most complicated is when you drop a block from the root level into a closed container within another container. Here's a video detailing that interaction:

https://user-images.githubusercontent.com/846565/1206477

[2021-06-03 12:54] youknowriad opened #32430 "Documentation: Consider removing all ES5 examples."
Maintaining ES5 and ESnext examples in the documentation is not an easy task, we've been doing that since the start of Gutenberg to allow folks to just use the examples without build steps, that said, now that we dropped IE11 support, the ESNext examples can work just as well (using globals instead of imports) in all browsers, so I think we should consider removing all the ES5 examples from our do

[2021-06-03 13:41] webzunft commented on #31181
I may have the same issue with the [Fixed Widget plugin](https://wordpress.org/plugins/q2w3-fixed-widget/). It also uses `in_widget_form` to extend the widget form. The option is visible in the legacy view, but nowhere to be found for new blocks edit to a sidebar.

![Bildschirmfoto 2021-06-03 um 15 40 31](https://user-images.githubusercontent.com/2728720/120654489-098d9b80-c482-11eb-87fa-3549804f7

[2021-06-03 14:07] annezazu commented on #31707
Thanks for following up @locksoft! I understand it's a lot to ask and I appreciate you clarifying further. Can you share more about what extra fields are in the articles and how those have been added? It sounds like those might come from plugins.

[2021-06-03 14:11] philbuchanan opened #32433 "Skip to content link is added even if theme includes a skip to content link"
In a more recent version of Gutenberg (not sure entirely which version) a feature was added to automatically add a "skip to content" link. This link is added even if the theme includes a skip to content link itself. This results in a double "skip to content" link.

## Expected behaviour

I would expect the auto "skip to content" link to be an opt-in feature. I'm also not currently aware of _how_ t

[2021-06-03 14:20] aristath commented on #32433
Thank you for reporting this @philbuchanan
The automatic skip-link should only be added when using a block theme (full site editing enabled).
Nothing should be added for "classic" themes, are you saying you're seeing a duplicate skip-link when using a classic theme? I tested this with the twentytwenty theme (which adds its own skip-link) and gutenberg-trunk, I didn't see a duplicate :thinking:

bl

[2021-06-03 14:30] philbuchanan commented on #32433
@aristath Yes, I am using a "classic" theme. It is a custom theme though.

[2021-06-03 14:37] mkaz commented on #32430
🤔 People do use just ES5, not having the extra build step is a selling factor, just a couple days ago in #32360 we got a request for missing ES5 code. Even if globals work the JSX markup would need to be compiled.

The [code examples section of contributing documentation](https://developer.wordpress.org/block-editor/contributors/documentation/#code-examples) does guide that ES5 examples are only n

[2021-06-03 14:49] youknowriad commented on #32430
I'm saying that now ESnext don't need a build step either so the only difference is the change in imports and I'm very open to using the globals directly instead of imports. It doesn't make sense to keep two versions of the code with just the imports/global being different.

[2021-06-03 14:51] aristath commented on #32433
I think I see what's happening...
Marked this as a bug and assigned to myself. I'll look into this :+1:
(also added the backport-to-wp tag 'cause this feature is in WP5.8 for block templates)

[2021-06-03 15:02] oandregal commented on #32411
This has been fixed in 10.8 as per https://github.com/WordPress/gutenberg/pull/32200

[2021-06-03 15:04] oandregal commented on #32410
This is fixed in 10.8 as per https://github.com/WordPress/gutenberg/pull/32200

[2021-06-03 15:08] oandregal commented on #32417
In https://github.com/WordPress/gutenberg/issues/28913 we discussed:

Now that we're wrapping up 5.8 work, it could be a good moment to revisit.

[2021-06-03 15:15] dashkevych commented on #32365
Since 5.8 includes support for Template Mode, would it be possible to include information in notes on how to detect a custom template using PHP?

For example, currently we can use the following conditional tag to detect a template provided by the theme:

[code]

Is it possible to detect a custom template built by the user using Template Mode?

[2021-06-03 15:24] mkaz commented on #32430
Won't you still need a build for JSX examples? If one set works for both I'm all for simplifying 👍

[2021-06-03 15:27] Jim537 opened #32434 "3 CSS errors in block-library style.min.css"
re: https://wordpress.org/support/topic/w3c-css-validator-3-css-errors/

W3C CSS Validator results for

https://wordpress.org/support/wp-includes/css/dist/block-library/style.min.css

(CSS level 3 + SVG)

Sorry! We found the following errors (3)

1 .is-content-justification-right, .is-content-justification-left, .is-content-justification-center

Parse Error [.is-content-justification-space-between

[2021-06-03 15:30] youknowriad commented on #32430
I guess you're right, that one slipped my mind 🤔

Our options could be to write hypersrcipt like syntax, or stick with JSX but accept that it doesn't work with no build system.
I do think keeping two versions of the code is confusing though.

[2021-06-03 15:31] #32410 closed, assigned to jorgefilipecosta

[2021-06-03 15:31] #32411 closed, assigned to jorgefilipecosta

[2021-06-03 15:37] mchowning commented on #32409
Thanks for reporting this @SiobhyB ! 🙇

This does feel like a place where a small change could have a big impact for users who don't realize there are more options. Do you have any thoughts here @iamthomasbishop ?

[2021-06-03 16:11] getdave opened #32436 "InnerBlocks' `allowedBlocks`whitelist not respected due to `parent` field of another block's `block.json`."
## Description

The `<InnerBlocks>` API enables a developer to provide a whitelist of `allowedBlocks` which should determine which blocks are allowed to be inserted as child blocks.

A good example of this is [the `core/navigation` block which defines an `ALLOWED_LIST` as a constant](https://github.com/WordPress/gutenberg/blob/6da0390f864c68dc69494d50d586e8c0d841835e/packages/block-library/src/nav

[2021-06-03 16:27] getdave commented on #32436
@talldan Might you have 5mins to verify this? It would be much appreciated. I suspect this is the core reason why we are using block filters to manually force the available blocks for the Nav Editor.

[2021-06-03 16:29] nerrad commented on #29864
How would permissions governing editing block lock state be governed? It'd be nice if the API allowed for blocks to define the rules around that (either via user capability or programatically).

[2021-06-03 16:45] draganescu commented on #32436
In my understanding, the gist of the above is that allowed blocks should have more strength than parent.

I 100% think you're right to expect so as well, since:

- a block specifying its allowed parent is a matter of block availability
- a block specifying a list of allowed blocks is a matter of functionality

If a parent specification overrides the allowed blocks specification it has high chances

[2021-06-03 17:07] critterverse opened #32437 "Extra scroll space at bottom of Customizer menu screen when “Show scroll bars: Always” is turned on (MacOS)"
Tested on macOS Big Sur Version 11.4 on Chrome, Firefox, and Safari with the OS preference for “Show scroll bars: Always” turned on.

I noticed a bug where there is a lot of extra space at the bottom of the sidebar content area on the Customizer menu screen. The bug only appears when you have visible scoll bars enabled, and visit a section of the Customizer that _does_ have long scrolling content

[2021-06-03 17:10] critterverse commented on #32437
Closing this and re-opening as a trac ticket!

[2021-06-03 17:24] nixsee opened #32438 "Ability to drag blocks into the whitespace between the title and content, and content and bottom of screen"
## What problem does this address?
It is frustratingly difficult to drag a block to the top or bottom of the content section. When you do this you have to be pixel-precise to find a small sliver blue line to drag it to.

## What is your proposed solution?
Dragging a block into the white space between the title and first content should move the block into the first position. Dragging to the whitesp

[2021-06-03 17:45] draganescu commented on #30674
Are there two parts to this task?

1. Add some function that gets a header template part and gets the navigation blocks in that template part
2. Add an API in the Navigation block that can create a tree data representation of all the blocks that act as links

Without (1) how would we know where to find the blocks?

[2021-06-03 18:00] draganescu commented on #26152
Yes, I was testing how this works on mobile using trunk and it still happened. Used a device iPhone.

[2021-06-03 18:24] philhoyt commented on #30707
![wtf gut](https://user-images.githubusercontent.com/1392406/120693741-659ef280-c477-11eb-9f07-a2bf8ceadadb.gif)
Any movement on this?

[2021-06-03 18:34] guarani commented on #32409
I do see scroll indicators on our bottom sheets (when I scroll), but before scrolling, there's no real indication that there's more options off-screen. The fact that the bottom sheet only takes up half the screen I think also suggests that if there were more options, the bottom sheet would have grown taller.

Here are some ideas I had:
- Flash the scroll indicators when the bottom sheet opens and

[2021-06-03 19:02] priethor commented on #30674
I don't think we need (1) at the moment, as the Navigation block can be placed in other template parts or posts. I can see designs having a Navigation block in their Header and Footer template parts, or different headers with different navigations, and nothing prevents them from having more than one Navigation block instance per template part.

Starting with (2) would allow wrapping items properly

[2021-06-03 19:16] critterverse commented on #32061
Thanks for taking a look at this @kevin940726! From a design standpoint, I don't think it would be problematic to move the Customizer top bar inside of the scrollable content area. This is how I’ve typically seen the “scroll up” header bar treatment work on desktop.

IMO, there are some drawbacks but this still seems like an improvement over the current overlapping behavior between the top bar and

[2021-06-03 19:32] ellatrix commented on #32405
I see this is also happening with the heading block. We have a test that was supposed to guard against problems with placing the node type, but it didn't test adding content: https://github.com/WordPress/gutenberg/blob/979fb042e70dac4345d2ee8a08b1398a5b7827be/packages/e2e-tests/specs/editor/various/rich-text.test.js#L19.

[2021-06-03 19:35] guarani commented on #24425
The fix for iOS has been [merged](https://github.com/wordpress-mobile/WordPress-iOS/pull/16601), WPAndroid will need the same change to dismiss the suggestion UI when typing `@` followed immediately by a space.

[2021-06-03 19:52] shuttermuse opened #32441 "Gutenberg Editor Image Scaling - Issues with Thumbnail Regenration - Missing Images"
When an image is inserted, either singularly, or with a gallery, Gutenberg is using the URL for the selected scaled version of the image. eg. image-name-500x1024.jpg

If a user changes their image sizes in Settings>Media, and then, as many people so often seem to suggest, regenerates their thumbnails using a plugin, this can cause major issues. Several of these thumbnail regeneration plugins delet

[2021-06-03 20:39] dashkevych opened #32443 "Query block: CSS Grid for Grid View option"
I am wondering if there are any plans to use CSS Grid instead of Flexbox?

## What problem does this address?
At the moment, the Query block uses `flexbox` for the query container when the Grid View option is selected. Below are the styles that the Query block currently uses (WP 5.8-alpha-51064).

**Default styles:**

[code]

**3 columns layout styles:**

[code]

## What is your proposed solution?

[2021-06-03 21:42] designsimply commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-06-03 22:22] annezazu commented on #30782
Great thinking - I really like this :)

[2021-06-03 22:26] iamthomasbishop commented on #32409
@SiobhyB  thanks for raising this! It's a tricky one, and while it's definitely not unique to our app, I agree it's worth solving.

I think I'd like the solution here to be a subtle hint rather than a new explicit UI element. One design pattern that I've seen and thought was effective is where you animate the scrollable content with a subtle motion (usually a "wiggle" or scroll up/down of the cont

[2021-06-03 22:57] paaljoachim commented on #31456
@javierarce That is a really good prototype.
It would be nice to add some of Matias feedback into the prototype.

It would be really nice to get some movement on this issue and get a developer to create a PR so we can get an update to the multi-entity saving method.

[2021-06-04 00:05] paaljoachim commented on #32317
I would say that List View reflects what is seen in the Gutenberg layout/canvas area. Which means that having a Lock in List View there could also be a lock icon in the toolbar of the specific block.

Example above would be having the lock in the Post Title seen in List View. There could also be a lock in the Post Title toolbar. Unlock in List View or in the toolbar and one will see both locks ope

[2021-06-04 00:15] #26153 closed

[2021-06-04 03:26] maharzan opened #32447 "Fallback Featured Image"
I have been trying to learn making block base themes and encountered a simple issue. I need to show a default fallback image if the posts have no featured images.

Obviously, with older/current method, we can do it something like this

    <?php if ( has_post_thumbnail() ) {
     the_post_thumbnail();
     } else { ?>
     <img src="<?php bloginfo('template_directory'); ?>/images/default-image.jpg

[2021-06-04 03:59] torounit commented on #32405
@ellatrix Happening with the heading block too.

https://user-images.githubusercontent.com/1908815/120743764-97c25a00-c534-11eb-8def-5245d3e87cd0.mov

[2021-06-04 04:07] noisysocks opened #32448 "Widgets block editor: Block selection outline is missing"
## Description

The blue block selection outline has gone missing in the widgets block editor screen.

## Step-by-step reproduction instructions

1. Go to Appearance → Widgets.
2. Select a block. (It's most notable with blocks that have a placeholder e.g. Image.)

## Expected behaviour

The block should have a blue outline indicating that it's selected.

<img width="1252" alt="Screen Shot 2021-06-

[2021-06-04 04:08] tellthemachines commented on #26152
I can repro this on both mobile and desktop by first selecting a block and then clicking in the grey area just under one of the widget areas. If on desktop and the sidebar is closed, it opens the sidebar.

[2021-06-04 04:14] kevin940726 commented on #26152
I can reproduce it now on mobile too. For some reasons I read Widgets Customizer instead of the Widgets screen 😅.

[2021-06-04 04:20] Mamaduka commented on #16516
While this is technically possible, "Transforms To" doesn't support wildcard transformations. It will require a unique menu item when the `blocks` param is set to wildcard.

The wildcard support for "Transforms To" can be a nice addition to the new `convert` API.

This is a simplified example where I used `core/paragraph` as a hack to display transformation in the menu.

[code]

[2021-06-04 04:29] kevin940726 commented on #32061
Sounds good to me! I'll make a prototype PR and play with it a little bit then 👍.

[2021-06-04 05:12] aaronrobertshaw commented on #32417
Given most block supports controls are disabled by default, their primary use at the moment would be through theme.json generated styles. That makes addressing this issue reasonably important in terms of using block supports in the wild.

I believe the proposal on the issue linked above is best demonstrated by this [snippet](https://github.com/WordPress/gutenberg/issues/28913#issuecomment-78521118

[2021-06-04 05:40] noisysocks opened #32449 "Changing a block's style doesn't do anything when "Use theme styles" is turned off"
## Description

Changing a block's block style doesn't seem to do anything when "Use theme styles" is turned off.

## Step-by-step reproduction instructions

1. Go to Posts → Add New.
2. Go to Preferences → Appearance.
3. Turn off "Use theme styles".
4. Insert e.g. a Latest Posts block.
5. Open the block inspector.
6. Toggle between the options underneath _Styles_.

## Expected behaviour

The appe

[2021-06-04 06:24] jasmussen commented on #32403
This is cool, but is it a duplicate of #29727?

We might want to consolidate just to have a central point of conversation, but I love your design here, we should move it over!

[2021-06-04 06:26] jasmussen commented on #29729
I'm going to close this one in favor of #29727. If that was in error, please do reopen.

[2021-06-04 06:26] #29729 closed

[2021-06-04 07:02] noknokcody commented on #17246
I think you're right on the money here. I've been fighting this issue all day. I've tried generating an ID when the block is constructed and saving this ID in attributes but there currently is no way to detect when a block is duplicated and purge this id field / regenerate.

From looking at similar posts across the community this appears to be an oversight from the Gutenburg team. There appears to

[2021-06-04 07:08] Mamaduka commented on #30360
Hello, @orenwolf

I'm no longer able to reproduce this. Like @cjyabraham mentioned, this should be fixed in WP 5.7.2.

I am going to close the issue. Feel free to reopen it if you're still experiencing the errors.

[2021-06-04 07:08] #30360 closed, assigned to nobody

[2021-06-04 07:18] getdave commented on #32436
I believe you are correct 👍

Also `__experimentalGetAllowedBlocks` actually appears to be specifically focused on what is allowed in the _inserter_.

Indeed it specifically tests for

[code]

In which case I think we should rename the method as I took it to mean "tell me which blocks are allowed to be inserted into the editor _in general_".

[2021-06-04 08:51] jameskoster commented on #29727
I've been exploring this a bit in [figma](https://www.figma.com/file/VaNb38S2OOihqSu2lAIIhN/List-view-Drag-and-drop?node-id=603%3A3798). Here are the various flows I worked on so far:

1. Arranging blocks at the same level
2. Dragging a block down a level in the tree (IE from the root level in to a group), accounting for when the target container is either open or closed
3. Dragging a block up a l

[2021-06-04 08:51] #32403 closed, assigned to nobody

[2021-06-04 09:02] paaljoachim commented on #32447
Hi @maharzan Chandra

I will call this an associated issue:
There has been some explorations here (linking to my comment):
https://github.com/WordPress/gutenberg/issues/13795#issuecomment-636787215
Where I explored setting the first image in the post/page as a featured image.

[2021-06-04 09:11] oandregal commented on #32365
I took a deeper look at this and discussed with some folks (Riad, Jorge, Miguel, Aaron): these aren't expected to work without the plugin.

As per the code in core: it's fine that it stays there. When [the plugin registers the supports](https://github.com/WordPress/wordpress-develop/blob/master/src/wp-includes/class-wp-block-supports.php#L78) it overwrites the core's, so two different implementati

[2021-06-04 09:20] oandregal commented on #32274
Testing this I've found that it works fine in the front-end just not in the editor.

[2021-06-04 09:24] senadir commented on #29864
One good case I see for disabling moving is that if you lock 2+ blocks, they're always relatively on the same position, in our example (Checkout block), we always need the contact information section to be before address section, or the address section to be before the shipping options, locking them would prevent people from switching and creating a broken UX but still allow them to insert stuff b

[2021-06-04 09:33] senadir commented on #29864
@mtias I started working on this yesterday, I'm going to tackle this by parts instead of all at once in a single PR.

Currently, the API lives on the `supports` level, with this shape
[code]

The values, if not set, would inherit the parent `templateLock` attribute.

One issue I'm not sure about is editing and how we intend to prevent this, it seems to be something on the block implementation side

[2021-06-04 09:37] oandregal commented on #32417
I think that's one path we can take. Another one is to look at whether/how can we connect "elements" in the `block.json`, as we do in the `theme.json`: this other path is yet a bit fuzzy to me, but wanted to share as an alternative to foster further thoughts.

[2021-06-04 10:10] jameskoster commented on #29864
Sharing a couple of issues (with designs) here that may be relevant to the `edit` implementation.

In https://github.com/WordPress/gutenberg/pull/31461 the contents of blocks like the Post Title should be locked when editing a template.

Similarly, in https://github.com/WordPress/gutenberg/issues/32317 the contents of blocks like the Post Title should be locked when inside a Query block.

At a hig

[2021-06-04 10:13] #32009 closed, assigned to oandregal, JustinyAhin

[2021-06-04 10:15] youknowriad commented on #32448
I noticed the same thing in the post editor in "empty" themes. Apparently it could be related to the "is-dark-theme" class that is added automatically depending on the computed background.

[2021-06-04 10:16] Rahmon commented on #31893
I irrevocably consent for my past contributions to Gutenberg to be dual-licensed under the GNU General Public License v2.0 and the Mozilla Public License version 2.0.

[2021-06-04 10:40] arpadkdweb commented on #31986
I experience the same issue. Also, if I use theme.json, I cannot disable editor color palettes anymore in functions.php as theme.json enjoys precedence.

[2021-06-04 11:44] maharzan commented on #32447
I wonder why such simple things has become so complex nowadays..

[2021-06-04 11:49] paaljoachim commented on #32447
We should think out a simpler solution and present it..:)

[2021-06-04 11:57] mrfoxtalbot opened #32455 "Regression: Missing "Custom Color" option in the Color Picker when the plugin is active"
With the Gutenberg plugin is active (Version 10.7.1) the "Custom Color" option is no longer visible.

![Screen Shot on 2021-06-04 at 13:54:35](https://user-images.githubusercontent.com/4452464/120797650-9d23a280-c53c-11eb-8c12-7216b37c71cc.png)

This is affecting all the blocks that would normally offer this option:

![Screen Shot on 2021-06-04 at 13:55:09](https://user-images.githubusercontent.co

[2021-06-04 11:58] aristath commented on #29887
I'll say this and then run as fast as I can... (personal opinion)
Templates for attachments never should have existed. The fact that they exist is a mishap, and ideally, they will be removed/deprecated
:runner: :runner: :runner:

[2021-06-04 12:38] Mamaduka commented on #32455
Thanks for reporting the issue, @mrfoxtalbot

I was able to reproduce this with Gutenberg 10.7.1. But I'm not able to reproduce this on `trunk`. I think it got fixed via #32200.

[2021-06-04 12:51] jorgefilipecosta commented on #32455
The issue was fixed in Gutenberg 10.8 and a patch release 10.7.2 was done that also includes this fix  https://github.com/WordPress/gutenberg/releases/tag/v10.7.2.

[2021-06-04 12:51] #32455 closed, assigned to nobody

[2021-06-04 13:20] geriux opened #32456 "Audio block - Show notice message for non audio URLs"
## Description
When adding a non-audio URL in an Audio block, it'd be nice to show some sort of error/warning message to let the user know that it's not supported and it won't play.

## Step-by-step reproduction instructions
1. Add an Audio block
2. Insert a non-audio URL

## Expected behaviour
1. Add an Audio block
2. Insert a non-audio URL
3. Expect to see some sort of warning/error when loading

[2021-06-04 13:44] kevin940726 commented on #32061
@critterverse This is what I have now:

https://user-images.githubusercontent.com/7753001/120810498-aed96a00-c57d-11eb-9f36-0c2f77cd7b58.mp4

It works great when scrolling down, but not so much when scrolling up. The issue of floating toolbar overlapping the editor top bar and the customizer top bar is still happening. Am I misunderstanding something here 🤔?

[2021-06-04 14:01] thisissandip commented on #25158
PR added: https://github.com/WordPress/gutenberg/pull/32337

[2021-06-04 14:25] jameskoster commented on #29784
If we instead say that list view should outline the exact same blocks contained in the **_document_** then it is ok to only display the Post Content block without its children, since those children belong to a _different_ document.

With regards to showing each post as a dedicated item in list view, something like:

<img width="396" alt="Screenshot 2021-06-04 at 15 16 58" src="https://user-images.

[2021-06-04 14:38] jameskoster commented on #32317
Another important consideration here is how the Post Content block behaves. If I'm editing a template with a Query that contains the Post Content block, I am currently able to directly manipulate the blocks _within_ the Post Content:

https://user-images.githubusercontent.com/846565/120818429-86844800-c54a-11eb-954c-5dc2fbd96468.mp4

Naturally this change would be pushed upstream to the post itsel

[2021-06-04 15:02] senadir commented on #29864
This PR is an iteration of this issue
https://github.com/WordPress/gutenberg/pull/32457

[2021-06-04 15:12] jameskoster opened #32460 "Post Content block improvements"
The current implementation of the Post Content block has a few issues.

First of all, if you insert a Query that contains a Post Content block in the post editor, the canvas renders a lacklustre "Block cannot be rendered inside itself." error message. Should it be possible for a Query in a post or page to display the full Post Content? If not then the block shouldn't be available in this context a

[2021-06-04 15:34] paaljoachim opened #32461 "Reusable block: Add a lock to the parent toolbar to protect the inner content from accidental editing."
## Description
There has been multiple complaints of accidental changes with the Reusable block in WP 5.7. In earlier versions we had an edit button protecting the inner blocks, but in 5.7 the edit button was removed. Making a one click directly into the Reusable block inner content.

## Step-by-step reproduction instructions
1. In WP 5.7.
2. Add a Reusable block.
3. Click the Reusable block.
4. M

[2021-06-04 15:40] arpadkdweb opened #32462 "Presets and CSS classes"
## What problem does this address?

I've come across an issue with the editor that is quite frustrating with project that I do with my company. We mostly do stricter designs and our clients don't want total style freedom, they want something more along the line of useful, currated styles and presets that are pre-designed and non-technical or non-visual people can't mess up. We are currently using

[2021-06-04 15:47] paaljoachim commented on #31163
Here is an issue I just made that suggests adding the lock into the toolbar. Similar to what I suggest above.
https://github.com/WordPress/gutenberg/issues/32461

Do add feedback to it.

[2021-06-04 16:19] guarani commented on #32409
I like this approach where you give the content a bit of a bounce if there's inactivity ❤️. I think I've seen this in apps but can't find any right now. Do you have any links or the name of an app that does this well?

[2021-06-04 16:37] thisissandip commented on #32020
PR: https://github.com/WordPress/gutenberg/pull/32464

I have implemented the save button option for Reusable Blocks in the block toolbar and added a snackbar whenever the blocks are saved. The snackbar's learn more opens the welcome guide.

Since the image (gif) for the welcome guide is not ready yet. I have kept a plain background in its place.
I will add the image whenever it's made available.

[2021-06-04 16:42] thisissandip commented on #32020
@critterverse How can I get in touch with someone who can help me with the welcome guide asset?

[2021-06-04 16:50] paaljoachim commented on #32461
We have a few things happening.

A click through approach is being worked on. Located here (linking to a comment I made showing a video on how it works) https://github.com/WordPress/gutenberg/pull/31109#issuecomment-842456373

One selects/clicks and it will automatically select the top most container/parent block. Clicking again clicks into the inner contents.

Having a lock and a click through ap

[2021-06-04 17:54] philhoyt opened #32466 "Alignment Styles broken in Editor (10.7.2)"
## Description
Alignment Styles no longer parody the frontend in the editor.

## Step-by-step reproduction instructions
Install and activate Gutenberg 10.7.2
Align Blocks such as the group block from default, wide, or full
Tested in Twenty Twenty-One (which has theme set alignments, and Twenty Nineteen which fallback)

## Expected behaviour
For the default, wide, and full styles defined to parody

[2021-06-04 18:23] adamsilverstein commented on #29483
Thanks for working on this @mchowning - it is a huge undertaking and I realize my bringing this up only complicates your work. I still felt it important to bring up because otherwise it could come back to cause much worse pain later when the omissions were discovered.

One idea would be to look at the earliest commits from the packages, you could then cross reference these code blocks with the cor

[2021-06-04 18:41] justintadlock commented on #29887
Start running.  Running fast. :)

I think one of the primary use cases, especially early on, was to build sites with WordPress that behaved similarly to Coppermine Gallery.  I don't think it's updated anymore, but it was a pretty successful photo gallery CMS way back when.  There was a good several-year stretch where every other blog/site I visited used it.

Anyway, I have several theme users who

[2021-06-04 19:18] justintadlock commented on #32447
For now, you could just use the `post_thumbnail_html` hook: https://developer.wordpress.org/reference/hooks/post_thumbnail_html/

[2021-06-04 19:24] colorful-tones commented on #24604
This is a neat endeavor. I believe off-screen, as opposed to fullscreen would be better terminology. This seems more common in my everyday (developing custom themes for clients), but would like to hear from others.

The original intent of this issue: "Navigation" is seemingly starting to diverge with the overlay conversation. While I encourage both conversations, and recognize that they're likely

[2021-06-04 19:27] colorful-tones commented on #24604
Some consideration may need to be made on whether the off screen (sticking with my preferred terminology) should incorporate sub-menus?

If **yes**, then how will it play out: further off-screen (slide in), or toggle: expand/collapse?

If **no**, then why not? (Because eventually people will ask)

I would likely argue that an early, first iteration not allow for sub-menu items and only contain par

[2021-06-04 20:27] bobbingwide opened #32467 "Cut and paste list item into a new block creates an invalid paragraph block"
## Description
I was trying to cut and paste list items from one list to another. After saving and reediting the new list items were broken.

## Step-by-step reproduction instructions
1. Create a post with a list block with multiple list items.
2. Select a list item and copy it to the clipboard
3. Delete the selected item
4. Paste the clipboard content into the post
5. Save
6. View
7. Edit
8. The

[2021-06-04 20:48] Guihom35 commented on #7960
Hi,  no solution in version 5.7.2 ??

[2021-06-04 21:11] bobbingwide commented on #32467
For a demonstration of the problem plus a few other feechurs of the list block and block transforms see this video
https://youtu.be/FMe-pNfP4HQ

[2021-06-04 21:22] altivero commented on #32447
I think this should be the default setting as outlined in the issue I created about this here: #31849

[2021-06-04 21:24] altivero commented on #13795
Also associated:

**Featured Image: Automation and improvements**
#31849

[2021-06-04 22:02] bobbingwide opened #32468 "List block: Sometimes pasting into a list is ignored"
## Description
Sometimes, pasting content into a list results in no content being pasted.

Please see the video

## Step-by-step reproduction instructions

1. Create a list block
2. Copy some stuff from another page ( eg. a GitHub issue )
3. Attempt to paste into the list block
4. Sometimes it works, sometimes it doesn't

## Expected behaviour
Content should be pasted everytime.

## Actual behavio

[2021-06-04 22:10] bobbingwide commented on #32468
This may be relevant
Uncaught Type error: Cannot read property 'length' of undefined.

![image](https://user-images.githubusercontent.com/2474435/120867469-e5b57d00-c589-11eb-96f4-05bef5b0ffc3.png)

[2021-06-04 22:50] fullofcaffeine opened #32470 "Block caption invisible in some themes"
## Description

The caption text element (`<figcaption>`) has a transparent color set on some themes for some reason, making it invisible.

## Step-by-step reproduction instructions

1. Make sure your WordPress site has the `Twenty Fourteen` theme set;
1. Add a Video or Image block, embed a Youtube video for example;
1. Or add an Image block and upload an image;
1. Add a caption to the video, or t

[2021-06-04 22:51] fullofcaffeine commented on #32470
I've bisected and it _seems_ to have been introduced here: https://github.com/WordPress/gutenberg/pull/31870. cc @ellatrix.

[2021-06-04 22:58] melchoyce opened #32472 "Inserter: Show heading level shortcuts in the slash command"
## What problem does this address?
When laying out a page, I often want to work on the overall hierarchy and structure first, which often means adding a bunch of headings at once. You can use the slash command to insert things like `/h3` or `/h4` directly, but it isn't exposed in the slash autocomplete — you need to know it exists.

## What is your proposed solution?
When you type `/h3` or `/h4`,

[2021-06-05 01:47] maharzan commented on #32447
I tried it but it seems we can only alter the html once we get the featured image html which when not present doesn't seem to return any html as given in this line: https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/post-featured-image/index.php#L24

[2021-06-05 02:04] maharzan commented on #32447
Thanks @justintadlock. That seems to do the trick.

[2021-06-05 03:14] carolinan commented on #29887
I think the solutions I tried in the PR is unnecessary complicated, but I ran into so many (for me) unexpected scenarios.  Any feedback? https://github.com/WordPress/gutenberg/pull/29927#issuecomment-831283586

[2021-06-05 13:53] WinserverSupport commented on #26635
Its June 5, 2021 and I am able to repeat this problem.  I created an example link, https://home.winserver.com/public/tiktok.  I tried it on Current Chrome on two different PC's (Windows 7 and Windows 10).   Going to try my iPhone now...  Works...     On Windows 7 & 10, I opened the Chrome Debug window and I see Policy Permission errors which is what lead me to [https://github.com/w3c/webappsec-per

[2021-06-05 15:21] justintadlock commented on #29887
A couple of notes:

1. I would check against `'attachement' === $post->post_type`.

2. And, check if viewing the specific attachment page via `is_attachment( $post->ID )` (we don't know what other attachment posts might be showing on a page via some other query).

[code]

I pushed the code to my repo so you could see what I'm doing (everything is unpolished, but is working).  It's more that what w

[2021-06-05 19:14] dashkevych opened #32473 "Query block: Conflict with excerpt_more filter"
## Description
It looks like the Query block outputs multiple More links when the Post Excerpt block is used within the Query block , and `excerpt_more` filter is used in the theme functions.

## Step-by-step reproduction instructions

1. Create new page.
2. Add the **Query** block to the content area (Grid View, and 3 columns layout to display 3 latest posts).
3. Select the **Post Excerpt** block

[2021-06-05 21:58] terrance-orletsky-d7 commented on #8322
This is an issue in our current site rollout - the workflow is unacceptable to my client for adding inline links

Has there been any movement on this, please?

[2021-06-06 01:09] chthonic-ds commented on #32051
@aristath @erikjoling has the post mentioned above been published on make.w.org? I've looked but can't find it.

[2021-06-06 07:56] aristath commented on #32051
No, it's not published. Posts like that are usually published when WordPress reaches beta.

[2021-06-06 18:42] firxworx commented on #30241
I am experiencing this issue too. I am running the latest of all `@wordpress` packages at the time of writing.

It appears to be a persistent issue that has been around for some time. I found the following SO question related to this issue from Jan 2019: https://stackoverflow.com/questions/54285429/gutenberg-breaks-svg-on-save

Components/blocks with SVG's in the editor are fine. On save, svg-rela

[2021-06-06 20:51] paaljoachim commented on #17834
I will close this issue as I have not been able to replicate the reported bug. I will gladly reopen the issue if it is still needed.

[2021-06-06 20:51] #17834 closed

[2021-06-06 21:08] HardcoreGames opened #32476 "block widgets unsuitable"
Imposing blocks where previously Widgets were managed using a easier to handle format. Custom HTML is common for advertising which some blogs use for earning a few pesos. My site has a coffee jar and a link to paypal which is typical for a widget.

[https://www.hardcoregames.ca](https://www.hardcoregames.ca)

The block approach is grotesque in comparison. The blocks are fine for content but HTML t

[2021-06-07 00:44] tellthemachines commented on #32419
I definitely noticed this issue before, but am unable to reproduce it now, either in WP trunk or Gutenberg. Could you re-check? I'm using latest Chrome fwiw.

Edit: I can't repro this on Safari or Firefox either.

[2021-06-07 00:55] ellenbauer commented on #32443
I want to support the solution to use CSS grid instead of flexbox for the Grid view option.

If this is not an option, maybe we could implement a way for themers to choose if they want to use Grid of flexbox. This way it matched other elements of a theme.

I think the wording 'Grid view' also suggests CSS grid will be used.

[2021-06-07 05:38] aaronrobertshaw opened #32478 "UnitControl: Consumers should only have to specify allowed units & defaults"
## What problem does this address?
As the UnitControl is used more frequently, consumers are having to resupply the entire CSS units config when needing a subset of the default units. This creates a couple of issues:

- string translation: redefining the units creates the same multiple entries for folk to translate
- maintainability: all consumers need to be changed when a label needs to be change

[2021-06-07 05:44] ajitbohra commented on #19223
Another use case is `big_image_size_threshold` is disabled and the cover block will end up loading the full-blown image.

[2021-06-07 05:56] tellthemachines commented on #32449
This needs to be fixed in Core, so I've opened [a ticket](https://core.trac.wordpress.org/ticket/53344) on Trac.

Do we really want theme styles in the Widgets editor though? I was under the impression, from the report in #31947, that that might not be the case.

E.g. if we do add those theme styles in, the editor will look like this with Twenty Twenty One:

<img width="854" alt="Screen Shot 2021-

[2021-06-07 06:04] #29210 closed

[2021-06-07 06:25] gziolo commented on #32258
I think that #32329 should fix it, we use a similar approach in other places:

https://github.com/WordPress/gutenberg/blob/d4e9c65517d728177459c0458adbe4ceb2889def/packages/block-serialization-spec-parser/package.json#L38

We can always reopen when necessary.

[2021-06-07 06:25] #32258 closed, assigned to nobody

[2021-06-07 06:41] gziolo commented on #31868
I can confirm this issue is resolved. I tested with `v14.1.1` and npm `v7.16.0`.

[2021-06-07 07:17] draganescu commented on #32436
What is the difference between blocks allowed in the inserter and blocks allowed to be inserted in a block? I think I get the answer but we may need to spell it out. Do we need hidden blocks? If so, what is the difference between hidden and not allowed?

[2021-06-07 07:26] gziolo commented on #27088
@aristath, what's the current status after your recent work in this area? I see a few more warnings, are there any issues discovered? We should promote the warning to error as the last step.

[2021-06-07 07:33] simison commented on #32466
@nosolosw hi! Could this be related to global styles changes?

[2021-06-07 08:10] aristath commented on #32478
This was already done in https://github.com/WordPress/gutenberg/pull/31822

I see since then a few more CSS_UNITS were added for border-radius and letter-spacing, so PR https://github.com/WordPress/gutenberg/pull/32482 replaces these.

We use the `useCustomUnits` function to get an array of properly formatted units - and that also allows us to inherit values from theme.json and provide default val

[2021-06-07 08:17] oandregal commented on #32466
I believe this is the same issue as https://github.com/WordPress/gutenberg/issues/32274 We're preparing a fix for that at https://github.com/WordPress/gutenberg/pull/32454

[2021-06-07 08:22] oandregal commented on #32466
Going to close this one and suggest people follow https://github.com/WordPress/gutenberg/issues/32274 instead.

[2021-06-07 08:22] #32466 closed, assigned to nobody

[2021-06-07 08:40] aristath commented on #27088
There are just a handful of them remaining, these are the ones I couldn't address (*a couple of them were reverted because they were causing an issue with an e2e test)

https://github.com/WordPress/gutenberg/blob/4c3300c148a6398f7ab03fb71ad5f635268c8605/packages/block-library/src/categories/edit.js#L30

https://github.com/WordPress/gutenberg/blob/4c3300c148a6398f7ab03fb71ad5f635268c8605/packages/b

[2021-06-07 09:01] #32274 closed, assigned to youknowriad

[2021-06-07 09:15] hypest commented on #32456
👋 @geriux , thanks for reporting! My understanding is that the same issue exists for the web version too, no warning is displayed. Since we already have [relevant a native mobile ticket over at the gutenberg-mobile repo](https://github.com/wordpress-mobile/gutenberg-mobile/issues/3530), what do you think about removing the Mobile App label on this one to make it into a platform independent ticket?

[2021-06-07 09:45] aaronrobertshaw commented on #32478
Thanks @aristath, the PR with changes to the border support took some time to go through the usual process and land. It's great to see this has already been addressed. I'll update the comments on the original PR.

[2021-06-07 10:03] #32405 closed, assigned to torounit

[2021-06-07 10:12] gziolo commented on #32203
It's one of the issues that might get resolved when we upgrade to webpack 5. FixStyleWebpackPlugin is only necessary for webpack 4 and while it addresses some other concerns it might cause other issues.

[2021-06-07 10:17] draganescu commented on #32449
What is the downside of loading them? In my testing I found this to be a nice feature.

[2021-06-07 10:17] draganescu commented on #32419
Same as @tellthemachines I cannot repro in WP trunk with Gtb trunk.

[2021-06-07 10:34] draganescu commented on #30674
I think I described (1) incorrectly. I meant from _any generic template part_ a function that would get the name of the template part and the name of the block that we're looking for and gets that block back. I don't think we have such a thing.

[2021-06-07 10:48] #26152 closed

[2021-06-07 11:00] #30707 closed, assigned to ntsekouras

[2021-06-07 11:07] #32412 closed, assigned to youknowriad

[2021-06-07 11:54] kjellr commented on #32373
Yeah, a potential issue for the squiggly line is if a theme happened to use that as their link style. 😅

I've been thinking about this more, and I'm not 100% sure these need to behave differently than other placeholders once they've already been inserted, especially if we can show users how they are supposed to look in a pattern preview.

So for example, let's say someone has a block pattern that

[2021-06-07 12:09] jasmussen commented on #32373
Good point about a theme using that squiggly line. But the reason I haven't completely abandoned that idea is that I think it's important we are able to show a compelling pattern like this one:

<img src="https://user-images.githubusercontent.com/1204802/120343931-67db4280-c2f9-11eb-8fe1-150fe8eb3a51.png">

— and like any other pattern you insert, it should look (mostly) the same in your canvas, a

[2021-06-07 12:13] adelineyaw commented on #32470
I was with a user in chat with this issue, and they're on a Premium plan. I could also replicate the issue from my end.

[2021-06-07 13:04] deborah86 commented on #31708
@carolinan Yes.  It did not fix the issue.  Did you test in Microsoft Edge?

[2021-06-07 14:07] draganescu commented on #31241
Howdy friends, it's not clear to me if there is enough consensus here to proceed with trying out such an UI update. Does this "unification" make things better for the block based Navigation editor? Does it matter that it's a completely different experience, compared to all WP-admin and even the new block based widgets editor? Thanks 🤝

[2021-06-07 14:31] niaccurshi opened #32486 "current rest-api.php breaks sites when saving options-general.php (10.7.1-10.7.3)"
If you create a site using the Gutenberg plugin that is version 10.7.1 through 10.7.3 inclusive, you can't save any settings on the general options page in the CMS without it breaking the site. It removes the values for the stylesheet and theme_mods_<STYLESHEET> options in the options table.

This resolves the problem: https://github.com/WordPress/gutenberg/pull/32229

As does (in a rough and pote

[2021-06-07 14:37] cpapazoglou commented on #32486
Related comment https://github.com/WordPress/gutenberg/pull/32229#issuecomment-855985931

[2021-06-07 14:49] critterverse commented on #32061
This looks like a similar issue that we were running into with the initial explorations around this, which I believe has to do with modifying how the block toolbar anchors to the selected block while it is passing in or out of view at the upper boundary of the scroll container (sorry if I'm repeating things you are already taking a look at, it's hard to get a close read from video 😅 )

I think we

[2021-06-07 15:15] ntsekouras commented on #32472
Actually there is support, by typing the alike `/h3` and pressing `Enter`, implemented here: https://github.com/WordPress/gutenberg/pull/26597. It's similar to the `###` handling for heading insertion, it works for now, but could be improved by giving some UI indication for such transformations.

[2021-06-07 15:19] sagarnasit commented on #31616
@carolinan This is great for multiple block styling. We still need to repeat styles for HTML elements. It would be great if we can combine styles for both elements and blocks in one place.

Currently, I need to duplicate the styles for HTML button element and Gutenberg button block.

[code]

Instead, extend styles to HTML `button` element as well as `core/button` block without repeating.

[code]

[2021-06-07 15:34] melchoyce commented on #32472
Oh! Never mind then 😂 I assumed because there wasn't an autocomplete popping up, it wouldn't work. Should I close out this issue, or update it to be about the UI?

[2021-06-07 15:44] ntsekouras commented on #32472
I think it can be updated 😄

[2021-06-07 15:54] ntsekouras commented on #32443
Actually there had been discussions about that during the implementation and there were issues for IE support. Now that the support has been dropped, it can be revisited. Also there has been discussions for adding such support through the `__experimentalLayout` support, although there are no active exploration right now as far as I know.

[2021-06-07 15:58] mcsf commented on #11789
@dancodedev: thanks, that was helpful.

I've tracked this down to a bug in `wptexturize`. It predates Gutenberg altogether (I was able to reproduce this issue in a vanilla WP 4.9.8 site). The issue stems from [how `wptexturize` tries to leave certain HTML elements untouched](https://github.com/WordPress/wordpress-develop/blob/37a4faa7ed8f20c36e5bd6766fe9e7eb0c7db0f1/src/wp-includes/formatting.php#

[2021-06-07 16:04] ntsekouras commented on #32447
Thanks for reporting @maharzan and @justintadlock for pointing out the proper filter: https://github.com/WordPress/gutenberg/issues/32447#issuecomment-854949102.

I'll close this now as related discussions here are tracked in separate issues.

[2021-06-07 16:26] ryelle commented on #31557
It sounds like this is a bit of a configuration issue, I've got it working now after discussion in  #31561.

The solution here is to pass `--config=../path/to/.prettierrc.js` to the format command, rather than using the `package.json` property. The `lint` command looks back up the tree to find `.prettierrc.js`, and the `format` command reads the config from the command line, so they both use the s

[2021-06-07 16:26] #31557 closed, assigned to ryelle

[2021-06-07 16:34] mcsf commented on #11789
I've [added a comment](https://core.trac.wordpress.org/ticket/45387#comment:9) under the original issue to describe this particular case.

Closing as a duplicate of [t45387](https://core.trac.wordpress.org/ticket/45387).

[2021-06-07 16:34] #11789 closed

[2021-06-07 17:21] SavvyShah commented on #30969
Hello. I have started a new [branch](https://github.com/ShubhamCanMakeCommit/gutenberg/tree/update/autocompleter) addressing this issue. Am I in the right direction?
- I have isolated the code in a function
- Made a test for the function

I also wanted to ask that how should I perform benchmark tests?

[2021-06-07 17:38] stokesman commented on #32061
Howdy folks 👋 ,
I've made #32490 as a look at how we might get all these bars playing together nicely. It keeps the the customizer top bar as is and instead confines the floating toolbars to the editor/canvas. See that PR for a screen recording. Also it's testable with gutenberg.run if anyone would care to take it for a spin.

[2021-06-07 17:54] ellatrix commented on #32470
I don't see how #31870 could have caused this.

The rule making it white is:

[code]

Which is set by:

https://github.com/WordPress/gutenberg/blob/b2466bab6183bca51f53d0282d875fffc7438f1c/packages/base-styles/_mixins.scss#L193-L201

The theme is detected to be dark. Was the editor background previously dark? As far as I can see the theme is not setting a dark background.
Or is the light/dark dete

[2021-06-07 18:06] jasmussen commented on #32470
Not too long ago, a WordPress theme explicitly had to declare that it was "a dark theme", which would then result in the `is-dark-theme` body class, leveraged here. But recently that opt-in was automated, with a script that detects the background color. It's possible that script is now comparing colors against a missing element or something to that effect, detecting darkness where it shouldn't. @s

[2021-06-07 18:20] stokesman opened #32492 "Customize Widgets editor causes apparent overflow in other sections"
Once loaded the editor does not unmount or otherwise hide its overflow when navigating to other sections of the Customizer.

## Step-by-step reproduction instructions
1. Go to the Customizer➡️  Widgets and select a widget
2. Add enough content to create overflow
3. Return to parent Widgets menu or navigate to other Customizer sections which don't have overflow
4. Observe the extraneous overflow

#

[2021-06-07 18:41] stokesman opened #32493 "A vertical block toolbar for horizontally challenged contexts"
## What problem does this address?
In the Customizer’s widget editor the top/fixed toolbar often cannot display all of it's button at once and must be horizontally scrolled.

## What is your proposed solution?
A vertically oriented toolbar. In many cases there will be sufficient viewport height to accommodate all the toolbar buttons and, if not, perhaps scrolling vertically would be less challengi

[2021-06-07 18:51] stokesman commented on #32493
@critterverse or @jasmussen, Let me know if this has already been discussed and discarded and I'll be glad to close it. I tried it out of curiosity and don't love it but thought it could be worth a look.

[2021-06-07 19:19] ellatrix commented on #32470
I think I see the problem. I'll make a PR.

[2021-06-07 20:30] critterverse commented on #32449
I think this behavior does actually match the post editor when the "theme styles" option is turned off in the Preferences modal under Appearance → Use theme styles / Make the editor look like your theme.

One thing to note is that the screenshot @tellthemachines shared above is not how I would expect this preference to work, with the theme color being applied to the frame of the page but not to th

[2021-06-07 21:57] stacimc commented on #32246
I can confirm this happens when selecting an inline text color for text that already has some other inline style — bold in your example, but it also happens if the text is in italics/superscript/etc.

I noticed that when other inline styles are _not_ present, the color panel does not immediately close once a color is selected. It only closes when the user clicks outside/blurs the element somehow.

[2021-06-07 22:34] x029a commented on #13778
Fascinating. Has there been any traction on this @ellatrix? I'm using Gutenberg with a custom renderer, and makes heavy use of the format API. My renderer pares out attributes, uses them as props for react-components and uses that as information to compose the view, replacing my custom tags with react components.

I'd like to, in the Gutenberg editor view, replace the text in the editor that is ha

[2021-06-07 23:11] x029a commented on #19756
Any chance you have an example of this? I'm attempting to replace formatted text in gutenberg with a react component. I can get your method working with `core/image` but nothing else. It seems `insertObject` simply takes a `value` reference and will insert a format, and not actually an arbitrary object?

` function insertObject(value: Value, formatToInsert: Format): Value;`

[2021-06-07 23:40] coderaaron opened #32497 "RangeControl value changes in Safari with mouse over"
## Description
When using Safari on a Mac, if the RangeControl input box has focus, you can change the value simply by mousing over the up or down arrow after you have used either arrow to change the value.

## Step-by-step reproduction instructions
1. Go to: https://wordpress.github.io/gutenberg/?path=/story/components-rangecontrol--with-help
2. Click on either the up or down arrow in the text in

[2021-06-08 00:37] #32448 closed, assigned to tellthemachines

[2021-06-08 00:43] noisysocks commented on #28123
@ellatrix: Are you working on this?

[2021-06-08 00:49] tellthemachines commented on #32449
@critterverse we could remove the background color from the widget areas, but then we'll need some kind of outline so they're easy to tell apart:

<img width="809" alt="Screen Shot 2021-06-08 at 10 47 27 am" src="https://user-images.githubusercontent.com/8096000/121105223-08c08500-c847-11eb-8ea8-3eb01806abfc.png">

I agree being able to preview the theme styles is nice, but perhaps it can be an en

[2021-06-08 00:50] noisysocks commented on #26163
See also discussion in https://github.com/WordPress/gutenberg/issues/32449#issuecomment-856233696.

[2021-06-08 00:53] stokesman commented on #32497
I was able to reproduce this.

I couldn't reproduce it on Safari < 13, which is not supported by the react-use-gesture library so it seems likely to be something to do with the drag handling it's supposed to do. It's strange though because a drag should not be triggered and if it is triggered why it only changes the numbers while over the tiny arrows and not over the whole input as intended.

[2021-06-08 00:54] noisysocks commented on #32449
Thanks for looking into this @tellthemachines!

Looks like there's two issues at play here:

1. With theme styles turned off (e.g. via Preferences in the post editor), changing a block's _style_ doesn't do anything. This is a bug that needs to be fixed in the widget and post editors.

   Since this is an existing issue in the post editor, I think we can de-prioritise it. I will leave this GitHub i

[2021-06-08 01:01] noisysocks commented on #31958
What's left here? Can we close the issue?

[2021-06-08 01:07] stokesman commented on #32492
Looks like I made a duplicate of #32437

[2021-06-08 01:07] #32492 closed, assigned to nobody

[2021-06-08 01:10] noisysocks commented on #32419
Yes I can still repro in both WordPress trunk and Wordpress trunk + Gutenberg trunk using both Firefox and Chrome. I have Twenty Twenty-one activated.

https://user-images.githubusercontent.com/612155/121106743-f1cf6200-c849-11eb-9200-0fb848db5239.mp4

[2021-06-08 01:39] ramonjd commented on #28476
I tried to replicate this but it seems to have been fixed.

Could it have been addressed here? https://github.com/WordPress/gutenberg/issues/32274

[2021-06-08 01:41] ramonjd commented on #31708
I also cannot reproduce in Chrome or Microsoft Edge.

Here's what I'm seeing in Edge:
<img width="800" alt="Screen Shot 2021-06-08 at 11 39 50 am" src="https://user-images.githubusercontent.com/6458278/121109189-699f8b80-c84e-11eb-8566-ff0ecf1b56e3.png">

<img width="800" alt="Screen Shot 2021-06-08 at 11 39 41 am" src="https://user-images.githubusercontent.com/6458278/121109176-65736e00-c84e-11eb

[2021-06-08 02:06] tellthemachines commented on #32449
Changing a block's style with theme styles turned off still works on the front end; the only thing that doesn't work is the editor preview of the style change.

Fixing this - if by fixing we mean loading only the block-related styles and not general editor styles such as background color - would mean separating out the block styles from the general styles, which I think could only be done by theme

[2021-06-08 02:21] ramonjd commented on #32418
@noisysocks I've thrown up a [WIP PR](https://github.com/WordPress/gutenberg/pull/32498)

Works fine :)

I was wondering whether it would be worth adding selectors, similar to what we have in the [editPostStore](https://github.com/WordPress/gutenberg/blob/cae774957e115d03c2c3771d16c6d6b6995073f4/packages/edit-post/src/components/layout/index.js#L244), to decide whether to show the breadcrumbs now

[2021-06-08 04:46] ellenbauer commented on #32443
@ntsekouras Thank you for your reply, that sounds promising. Since IE11 support was dropped it would even make more sense now to hopefully switch to grid instead.

I quickly researched `__experimentalLayout` and it seems this solution would enable even more creative freedom for developers and themers. I really like it :)

[2021-06-08 05:33] getsource commented on #29115
Hi @tomjn, and thanks for the report!

This issue was talked about in [a triage session](https://wordpress.slack.com/archives/C02QB2JS7/p1623129123357300) today.

It looks like, as you mentioned, the specific cause of the validation error was confirmed in #10308.

Since fixing the invalidation error wouldn't necessarily cover the problem of the diff not having an observable cause, folks present th

[2021-06-08 05:33] Mamaduka commented on #29332
Hi, @johanhermansson

I'm no longer able to reproduce this issue on Gutenberg `trunk`. Unfortunately, I couldn't track down the PR that fixed the issue, but it's safe to assume that it was fixed in the latest versions or will be in the next one.

https://user-images.githubusercontent.com/240569/121128397-626f8200-c83c-11eb-89f3-c4a0c11e1567.mp4

[2021-06-08 05:43] talldan commented on #29408
Hi @ChampagneCoffee13. Thanks for reporting this, and apologies it took a few months for someone to look at this.

The embed was tested during a triage session in slack (https://wordpress.slack.com/archives/C02QB2JS7/p1623130185369500). Two of us couldn't reproduce the issue using Ocean WP. It may have been fixed by some recent changes to the embed block, like https://github.com/WordPress/gutenber

[2021-06-08 05:43] #29408 closed

[2021-06-08 06:09] ramonjd commented on #32339
Agree. It would be neat to be able to set the opacity of the overlay regardless of the content, e.g., image/video/color.

It's straightforward to add the opacity classes to the block container:

![Jun-08-2021 15-47-36](https://user-images.githubusercontent.com/6458278/121129858-e8a5bb80-c870-11eb-949a-f02b419325f8.gif)

But the opacity value, of course, also affects the container's children. 👎

So

[2021-06-08 06:20] talldan commented on #28254
@thetwopct This issue was briefly discussed during a triage session in slack (https://wordpress.slack.com/archives/C02QB2JS7/p1623131409378900).

I mentioned on https://github.com/WordPress/gutenberg/issues/20508 that I'm not sure what the level of support is for css variables. Up until recently this project had some support for IE11, so my understanding is that features like `editor-gradient-pres

[2021-06-08 06:47] ramonjd commented on #31023
I created (what I think is) a fix over here: https://github.com/WordPress/gutenberg/pull/32503

Wasn't sure whether it's still fixable in Gutenberg given that the [plans were to move it to core](https://github.com/WordPress/gutenberg/issues/31023#issuecomment-845640716).

Also I don't want to muscle in on any work @JustinyAhin has already done. I couldn't find a linked PR however.

Happy to close

[2021-06-08 07:07] SeanDS commented on #19756
Unfortunately Gutenberg only currently has the ability to replace text with single elements (e.g. an `<img>`) when `object: true` is set, not full DOM trees. I would also like this behaviour so I can implement inline TeX rendering. The relevant issue is #29962. I believe @ellatrix planned to look at implementing this at some point.

[2021-06-08 07:15] #31967 closed, assigned to RhnSharma

[2021-06-08 07:26] KokkieH commented on #24712
We've had another request in the [WordPress.com forums](https://wordpress.com/forums/topic/restore-permalink-prediction/)

[2021-06-08 07:42] gziolo opened #32504 "Scripts: Stop using shebangs to prevent issues with Windows environments"
## What problem does this address?

Related issue: #32258.

Related comment in https://github.com/WordPress/gutenberg/pull/31279#discussion_r642307708 by @mcsf:

On Windows when running a script that uses shebangs you will encounter the following error message:

[code]

## What is your proposed solution?

Related comment by @mcsf in https://github.com/WordPress/gutenberg/pull/31279#discussion_r646

[2021-06-08 07:50] gziolo commented on #30969
Hello @ShubhamCanMakeCommit. That's a good start and we could in fact land it as a first step after the review process. Can you open PR?

[2021-06-08 07:59] jasmussen commented on #32366
One way to think about gap is to consider it an easier alternative to margins. Consider how Figma does auto-layout, here are 3 squares in an auto-layout container:

<img width="541" alt="Screenshot 2021-06-08 at 09 56 53" src="https://user-images.githubusercontent.com/1204802/121146180-fa229f80-c83f-11eb-9bfd-3b50d77eeb66.png">

Here are the auto-layout properties:

<img width="245" alt="Screensho