[2022-04-07 00:47] ndiego commented on #40091
I just confirmed this bug.

[2022-04-07 00:57] ndiego commented on #40064
Yes, I can replicate it as well.

[2022-04-07 01:01] ndiego commented on #40075
This is a great find. I am able to replicate in WP 5.9 with and without Gutenberg active.

[2022-04-07 01:34] ndiego commented on #36082
Now that layout support has been added to Column blocks with #39422, and it really should be added to other container blocks like Cover, I feel we need to earnestly revisit this UI for 13.1. It would clear up a lot of user confusion.

[2022-04-07 01:35] gziolo commented on #24952
@justintadlock, we surely can remove the Post Author block from the inserter once we expose lower level author blocks. Unfortunately we need to keep it in the code for backward compatibility, but we can include the note it’s deprecated like for the following blocks:
- [Post Comment](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/post-comment/block.json)
- [Text Column

[2022-04-07 02:20] talldan commented on #20309
Could we update the issue title and description to use the proper format for bug reports and be clearer about the actual problem (@paaljoachim, it looks like you made this, so it'd be appreciated if you could revisit it)? Maybe borrow some of the details from trac.

I find this really report hard to follow because it sounds like a plugin issue. It's not great to force every person that reads it to

[2022-04-07 02:51] #36501 closed, assigned to nobody

[2022-04-07 04:35] HILAYTRIVEDI commented on #39339
Hi @KokkieH, Thank you for the reference that's really helpful. I agree with your point, that allowing the left/right margin to be controlled will help the user to remove this kind of issue.

[2022-04-07 04:37] carolinan opened #40124 "It is not clear that the title and excerpt field in the Summary panel can be edited"
## What problem does this address?
In the new summary panel in the document settings, it is not obvious that the title and excerpt are editable fields.
They look like plain text.

![two paragraphs of plain text are visible below the featured image input field.](https://user-images.githubusercontent.com/7422055/162119965-47b84bf7-e41e-4740-9264-436ee3b98782.png)

## What is your proposed solution?

[2022-04-07 04:48] #40070 closed, assigned to Mamaduka

[2022-04-07 05:00] Mamaduka commented on #38062
@peterwilsoncc tentatively added the label to the PR.

[2022-04-07 05:18] Mamaduka commented on #40124
Cc @javierarce @jasmussen

[2022-04-07 05:25] Greatdane opened #40125 "Add Global Styles to page template editor in the Page editor"
### Description

The Global Styles panel is not available when enabling the template editor from the Page editor. It is, however, available when editing the template from Appearance > Site Editor > Templates. See here:

https://user-images.githubusercontent.com/5075840/162126057-e6e7af59-e5ae-42f8-ad5e-eb0e718f27b5.mp4

I expected a consistent experience in that the Global Styles option should be

[2022-04-07 05:57] gziolo commented on #37753
I landed on this proposal thanks to the [WP Tavern article](https://wptavern.com/featured-cover-blocks-and-the-future-of-binding-data-to-generic-wordpress-blocks) by @justintadlock. I wanted to share that @dmsnell is actively exploring how we could formalize the concept of dynamic tokens in blocks. There is a related discussion on that topic: https://github.com/WordPress/gutenberg/discussions/3983

[2022-04-07 06:10] jasmussen commented on #40124
This is one of the main take-aways in the summary I just wrote on the [revert PR](https://github.com/WordPress/gutenberg/pull/40128#issuecomment-1091114713). The short of it is, as a summary generated based off metadata, the panel can be useful. But the method for adding this metadata is probably not possible to absorb into the same panel, and requires more thought. In that light, this brief time

[2022-04-07 06:19] aezazs-multidots commented on #39990
Hello @carolinan

I have tried to reproduce the same issue, and yes I am also facing the same issue, with and without the Gutenberg plugin. The social link color panel does not have a reset-all option.

Following are the version details

WordPress:- 5.9.2
Mac OS:- Monterey 12.2.1
Chrome:- Version 100.0.4896.75 (Official Build) (arm64)
Please review from your end and let me know if there is anythin

[2022-04-07 06:29] jasmussen commented on #39082
This week, @ntsekouras and I tried a V1 of the Summary panel to see if including just [the colophon part](https://github.com/WordPress/gutenberg/issues/39082#issuecomment-1076019494) could work. A few issues emerged, so we'll be reverting it for now. What we learned from the effort can help inform the future direction of this ticket.

Mainly, the omission of the ellipsis control for managing metad

[2022-04-07 06:30] paaljoachim commented on #40069
It is a good idea with a toggle to give the option to hide the inner blocks.
There is a but....
What happens if the user goes to one of the inner blocks and clicks the lock to make it do something different or have it unlocked compared to other blocks.... Hmmm...

[2022-04-07 06:36] #40124 closed, assigned to nobody

[2022-04-07 06:44] sunildevbang commented on #29420
Hey How can we add custom background color

[2022-04-07 06:54] paaljoachim commented on #20309
I retested and the title and content is edited.

[2022-04-07 07:04] theminaldiwan opened #40131 "Social icons alignment issue when it wrap inside group block"
### Description

This is occur when we wrap social icon block inside group block and changing social icon alignment from left or right and applied background color to group block.We need to cover full background color to social icon.

### Step-by-step reproduction instructions

1.First we have to add group block and checking it in twenty twenty two theme.
2.Adding Social icon block inside group bl

[2022-04-07 07:13] jasmussen commented on #40113
This attention to detail is excellent, thank you. We definitely want to retire #050505, and #000000 is a color we should very rarely use — mostly for shadows, not for UI elements.

To an extent, the whole list of colors in [this file](https://github.com/WordPress/gutenberg/blob/30f900ec5e925bdd218a8845db533765834e9e0b/packages/components/src/utils/colors-values.js) is wrong and outdated, and exist

[2022-04-07 07:14] talldan commented on #20309
Thanks!

[2022-04-07 07:17] tellthemachines opened #40132 "Global styles don't support multi-value shorthand padding"
### Description

If a theme sets root padding in `theme.json` as a multi-value shorthand declaration, like so:

[code]
it gets added to the `body` as expected: `padding: 68px 32px;`.

But if a user then sets root padding in global styles, and if they don't provide a value for all sides (say they only want to change the left/right padding, and keep the theme's top/bottom value), the shorthand is in

[2022-04-07 07:34] #37182 closed, assigned to nobody

[2022-04-07 07:46] carolinan commented on #40074
On second thought, I don't think we should use the Hello World content because it encourages users to edit or remove the block 😊

Perhaps something like:

This is a placeholder for your content. When you view your website, the block displays the content of the post or page that you have assigned.

Or to give the impression of longer content:

This is a placeholder for your content. When you view y

[2022-04-07 08:22] paaljoachim commented on #17718
Great!
I have tested the PR and added a [comment](https://github.com/WordPress/gutenberg/pull/40087#issuecomment-1091271629).
It is now working.

It would be great if others could also test it out.
But I think we can likely just merge it based on my feedback of the working CSS.

[2022-04-07 09:03] kevin940726 commented on #39133
Hopefully closed by https://github.com/WordPress/gutenberg/pull/39540

[2022-04-07 09:04] kevin940726 commented on #38832
Hopefully fixed by https://github.com/WordPress/gutenberg/pull/39540.

[2022-04-07 09:04] kevin940726 commented on #38757
Hopefully fixed by https://github.com/WordPress/gutenberg/pull/39540.

[2022-04-07 09:04] kevin940726 commented on #35373
Hopefully fixed by https://github.com/WordPress/gutenberg/pull/39540.

[2022-04-07 09:04] kevin940726 commented on #35496
Hopefully fixed by https://github.com/WordPress/gutenberg/pull/39540.

[2022-04-07 09:04] kevin940726 commented on #38676
Hopefully fixed by https://github.com/WordPress/gutenberg/pull/39540.

[2022-04-07 09:17] Gierand commented on #40118
@ClarusDignus try this:
`remove_action( 'wp_footer', 'the_block_template_skip_link' );`

[2022-04-07 09:23] JustinyAhin commented on #40131
I can reproduce this on Gutenberg trunk with WordPress 6.0-alpha-52931.

This seems to be caused by the use of `float` when changing the alignment. If an inner element is bigger than its parent, and we add a `float` property to it, the parent spacing will collapse.

There are many ways to fix that, once being to add `overflow: auto` to the parent. Another is to add some property to a pseudo-elemen

[2022-04-07 09:43] ClarusDignus commented on #40118
That worked. Thanks. My bad. I didn't consider wp_footer(). I incorrectly assumed the_block_template_skip_link() was being applied to wp_body_open() because of the skip-link's position in the page.

I can see now that the skip-link's position is determined in relation to the site wrapper using JavaScript:

[code]

[2022-04-07 09:43] #40118 closed, assigned to nobody

[2022-04-07 09:46] JustinyAhin commented on #40131
Related https://github.com/WordPress/gutenberg/issues/39344

[2022-04-07 09:49] carolinan opened #40137 "The row group block variation does not display its own icon in the list view"
### Description

There is room for a small enhancement here, the stack variation displays its own icon in the list view, but the row variation shows the group block icon.

### Step-by-step reproduction instructions

Add two group blocks, one with a row variation and one with a stack variation.
Open the list view and compare the icons.

### Screenshots, screen recording, code snippet

![the list vi

[2022-04-07 09:58] aristath commented on #39393
Just an update here.
@carolinan, @JustinSainton and myself tried to debug this one yesterday and come up with a solution to the duplicate-styles issue, however we were unable to find something that will work.
`theme.css` styles get added to the `style.css` styles using `wp_add_inline_styles`. They don't have a `$handle` of their own, and we could not "detach" the core styles from the stylesheet's

[2022-04-07 10:21] davilera opened #40138 "Custom rich text format type should be highlighted when active, but it isn't"
### Description

Custom format types from the Rich Text package are not working properly. When a format is applied, it should be highlighted in the toolbar menu (and it sometimes isn't). Moreover, when it's not highlighted (and it should), it's not possible to remove the format (and it should).

### Step-by-step reproduction instructions

Register the following format type in the browser's JS cons

[2022-04-07 10:24] carolinan commented on #40137
Oh, and the name 😄

[2022-04-07 10:38] priethor opened #40139 "WordPress 6.0 editor pending issues and blockers"
_This is a tracking issue to provide a quick overview of the editor's remaining **triaged** tasks and is expected to evolve in the coming weeks as the 6.0 release proceeds, in the spirit of [the similar issue used in the last release cycle](https://github.com/WordPress/gutenberg/issues/36556)._

_What was [found in the 6.0 walk-through](https://make.wordpress.org/core/2022/03/30/6-0-product-walk-t

[2022-04-07 11:10] Mamaduka commented on #39889
Done in https://github.com/WordPress/wordpress-develop/pull/2529

[2022-04-07 11:15] ciampo commented on #40113
Thank you @jasmussen , this is excellent feedback which really helps us to move in the right direction 😄

I guess next steps could be:

- Open PR(s) to change the text color of components to `darkGray.primary`
- Later, start tidying up our config according to [Joen's suggestions](https://github.com/WordPress/gutenberg/issues/40113#issuecomment-1091161656), with the aim to consolidate the remaining

[2022-04-07 11:18] Mamaduka commented on #40137
Maybe I'm missing something, but I couldn't reproduce the issue when adding Row/Stack from the inserter.

![CleanShot 2022-04-07 at 15 16 23](https://user-images.githubusercontent.com/240569/162187132-ad3cb2fd-8f49-49ad-9dbd-a42a99d664bf.png)

[2022-04-07 11:28] illycz opened #40141 "Get template path or name from pattern"
### Description

How to get page template from registered pattern in block theme?

### Step-by-step reproduction instructions

1. I have template in template folder, which is selected for specific page.
2. I have pattern registered within `register_block_pattern()`.
3. `get_page_template()` return `...wp-includes/template-canvas.php`

Also get post ID is not possible inside pattern.

Thanks for an

[2022-04-07 11:35] Mamaduka commented on #20309
I don't think we can fix this in Gutenberg. Admin bar menu item would require a full page refresh to render.

[2022-04-07 11:41] ndiego commented on #20309
From a purely personal perspective, I think this is an acceptable "bug" to simply ignore. When you go through the publish flow, there are many links that a user can click on the "View Page/Post". I also work in Fullscreen Mode and never see the admin bar so that might be influencing my thoughts here. 😬

[2022-04-07 11:46] kjellr commented on #40139
I'd suggest we add https://github.com/WordPress/gutenberg/issues/35331 to **Nice to have and feature polishing**. Duotone is applied in one of the [Twenty Twenty-Two alternate styles](https://core.trac.wordpress.org/ticket/55433) that we plan to ship with 6.0, but it does not currently render in the site editor. We can strip it out if need be, but it would be great to have it working.

[2022-04-07 11:56] hvianna commented on #39021
Version 5.9.3 works for me! 👍

[2022-04-07 11:58] Mamaduka commented on #39021
Thanks for the confirmation, @hvianna.

I'm going to close the issue.

[2022-04-07 11:58] #39021 closed, assigned to nobody

[2022-04-07 11:59] #39464 closed, assigned to scruffian

[2022-04-07 12:05] github-actions[bot] opened #40142 "[Flaky Test] allows users to manually create new empty menu when block has automatically selected the first available Navigation Menu"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
allows users to manually create new empty menu when block has automatically selected the first available Navigation Menu

## Test path
`specs/editor/blocks/navigation.test.js`

## Errors

<time datetime="2022-04-08T09:11:47.691Z"><code>[2022-04-08T09:11:47.691Z]</code></time

[2022-04-07 12:13] kmadhak opened #40144 "Twenty Twenty-one - Heading block takes extra padding while adding a background"
### Description

When I try to add a background colour in h1 tag of heading block then the extra padding got added, so the text is visible in multiline, for more detail please find the attachment of the video and let me know if there is anything.

### Step-by-step reproduction instructions

1. Go to editor.
2. Add a heading block.
3. Select H1 tag for heading.
4. Click on accordion color from sett

[2022-04-07 12:17] Aljullu commented on #37181
I wanted to share another use-case that we will face in WooCommerce once we start using the Query Loop block to display products, and which will complicate things a bit further. :upside_down_face:

The challenge is that we not only need to change which blocks are available depending on the parent/ancestor, but also depending on its attributes. Let me explain: we would like to use the Query Loop bl

[2022-04-07 12:25] Mamaduka commented on #39977
PRs to stabilize two settings I introduced in this cycle - #40143 and #40145.

[2022-04-07 13:00] kristastevens commented on #40074
Hi @carolinan, thanks for the ping!

I do prefer the slightly longer version here because it's the perfect place for additional context in helping educate the user at a critical point in the creation process. I really like the line at the end that infuses the user with possibility: "Experience the flexibility that blocks bring, whether you are building your first site, or write code for a living.

[2022-04-07 13:20] luisherranz commented on #37181
Interesting.

Would it make sense to leverage block variations for that? Or does it not fit the use case?

_Similar to the way [Group/Row/Stack work](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/group/variations.js)._

[code]

[code]

[2022-04-07 13:40] scruffian commented on #39889
I added a unit test here: https://github.com/WordPress/gutenberg/pull/40149/files

[2022-04-07 14:00] paaljoachim opened #40150 "Post Author name and Biography blocks are missing text icons in the toolbar controls"
## What problem does this address?

Post Author Name
![Screenshot 2022-04-07 at 15 55 39](https://user-images.githubusercontent.com/5323259/162216061-4e987a0e-54a5-4af9-9595-b96ead545562.jpg)

Post Author Biography
![Screenshot 2022-04-07 at 15 55 44](https://user-images.githubusercontent.com/5323259/162216111-a6f2e9bc-b7b4-46a4-9d43-d270cdd52c1b.jpg)

Are both missing what we do see in the Post A

[2022-04-07 14:20] Alexus450 opened #40154 "Sign $ in attributes values"
### Description

Once I am adding the sign $ in the attiributes values it makes to disappear content after the point I inserted that sign. I am assume it needs to be serialize, but it doesn't.

### Step-by-step reproduction instructions

I used the recipe card block plugin, and it has the ingredients, based on gutenberg attributes. Everywhere I inserted the sign $ or $30 it makes the content disap

[2022-04-07 14:25] Mamaduka commented on #40154
Hi, @Alexus450

Can you share the code that defines attributes or the plugin?

[2022-04-07 14:32] paaljoachim opened #40155 "Link modal suggestion: wp-admin, Dashboard, author, author archive and other unique WP links"
## What problem does this address?

Let's say that I want to link to wp-admin dashboard, author, author archive or other unique WordPress links.
Currently I do not know how we can do so.

Example from the lastet call for testing. https://make.wordpress.org/test/2022/03/31/fse-program-testing-call-13-authoring-an-author-template/ Number 15.
@annezazu mentioned this:
"You can find the author page by

[2022-04-07 14:39] Alexus450 commented on #40154
Sure I am using this plugin https://wordpress.org/plugins/recipe-card-blocks-by-wpzoom/ and if you add anywhere the the sign $ and digits after like so $300, it disapears

[2022-04-07 14:42] gziolo commented on #39915
@ryanwelcher, do you have a template for Create Block that works with TypeScript?

[2022-04-07 14:42] jameskoster opened #40156 "Polish the flow to set the featured image as the cover background"
This is an awesome feature, but the design could perhaps use a little polish. Here's the current implementation:

<img width="400" alt="Screenshot 2022-04-07 at 15 29 03" src="https://user-images.githubusercontent.com/846565/162223069-d8aed910-0a68-4c75-b1f7-cfd3fe8dcaab.png">

I didn't spot it at first – my eye mistook the "[icon] Add media" area of the toolbar for a single button.

An alternativ

[2022-04-07 14:44] gziolo commented on #39869
@ryanwelcher, can you help with that one. I think you are working on something related in https://github.com/WordPress/gutenberg/pull/39653.

[2022-04-07 14:46] paaljoachim opened #40157 "Editing the text in Post Author Name block"
## What problem does this address?

What if I wanted to add to the Post Author name block.
Such as All posts by Joachim, About Joachim, Written by Joachim, Written by a Norwegian, core contributor PJ etc etc.
Currently we are not able to adjust the text contents.

![Screenshot 2022-04-07 at 16 41 20](https://user-images.githubusercontent.com/5323259/162225637-1664d4b1-4b8e-4ed4-a0c9-6db458d66c2d.j

[2022-04-07 14:53] carolinan commented on #40157
You can use any other text block like a heading or paragraph block and place it before the post author name.
If we would keep the texts in the same block, then all settings would apply to all the text so you wouldn't be able to have separate font sizes, font families etc.

[2022-04-07 14:55] #39809 closed, assigned to Mamaduka

[2022-04-07 14:57] paaljoachim commented on #24952
While testing the [PR](https://github.com/WordPress/gutenberg/pull/40076) by Carolina I came across a few things that could be adjusted.
Here are a few issues I made:

Post Author name and Biography blocks are missing text icons in the toolbar controls
https://github.com/WordPress/gutenberg/issues/40150
Adding bold, italic etc to the toolbar would help shape the text.

Link modal suggestion: wp-ad

[2022-04-07 15:10] Jastos opened #40158 "Gallery Block Gap fatal error"
### Description

When adding a value to "Block Spacing" in a gallery block, I get:

PHP Fatal error:  Uncaught TypeError: preg_match(): Argument #2 ($subject) must be of type string, array given in /wp-content/plugins/gutenberg/build/block-library/blocks/gallery.php:51

If I var_dump the value of the $gap variable, I get this value:
`array(2) { ["top"]=> string(4) "30px" ["left"]=> string(4) "30px

[2022-04-07 15:12] paaljoachim commented on #40157
I just tried.... then suddenly I figured out how to work with the Row feature. I was nicely surprised.

https://user-images.githubusercontent.com/5323259/162232473-4f19e5b2-7dd8-4ff0-b87b-b1c86074e8e7.mp4

[2022-04-07 15:17] markhowellsmead opened #40159 "External stylesheets can't override inline core styles"
### Description

I'm trying to override inline rules, e.g. `.wp-container-1 > *`, using rules in a stylesheet referenced through an enqueued stylesheet. The specificity of this selector is 0,1,0.

Using the selector `.wp-block-group` in the theme CSS is also 0,1,0 and so it should be able to override the inline rule.

However, it cannot because inline styles take precedence over any linked stylesh

[2022-04-07 15:20] markhowellsmead commented on #39971
Closing this in favour of https://github.com/WordPress/gutenberg/issues/40159. (The issue is with inlining the CSS, not with `:where`.)

[2022-04-07 15:20] #39971 closed, assigned to nobody

[2022-04-07 15:27] scruffian commented on #39654
## Theme Export

The "Export" feature in the Site Editor has been improved so that now you can export your whole theme, including all the edits you have made to your templates and styles. Previously the export function only gave you access to your template files. This change makes it possible to build a block theme using the site editor and easily share the zip file with anyone.

### The Export pr

[2022-04-07 15:41] markhowellsmead opened #40163 "Quote block: new CSS in Gutenberg 12.9.0 adds specificity and breaks existing themes"
### Description

The specificity of the new rule in the code snippet below is now 0,3,0 instead of 0,2,0 as before. This breaks pre-existing theme CSS.

### Step-by-step reproduction instructions

Review an element styled using theme CSS which uses the selector `.wp-block-quote.is-style-large p`.

See also https://github.com/WordPress/gutenberg/issues/36135, https://github.com/WordPress/gutenberg/

[2022-04-07 16:02] sabernhardt commented on #20309
This is probably more enhancement than bug, but I kept the type as reported due to the lack of parity with the Classic Editor. Using Classic, the View Post link has been available in the admin toolbar immediately after publishing/saving _because_ it refreshes the page and switches from New Post to the Edit Post screen.

If the link is added in the admin toolbar for the New Post screen (on the Trac

[2022-04-07 16:46] sabernhardt commented on #40144
In #24523, `em` was preferred over `rem`, but at least heading blocks would be more consistent using `rem` values.

https://github.com/WordPress/gutenberg/blob/d3116882edf17350e4e611598ec373aa0aefcf16/packages/base-styles/_variables.scss#L102-L104

https://github.com/WordPress/gutenberg/blob/d3116882edf17350e4e611598ec373aa0aefcf16/packages/block-library/src/heading/style.scss#L1-L10

[2022-04-07 17:05] iandunn opened #40166 "Embed block strips fragments from URLs"
### Description

Pasting a URL with a fragment -- _eg, `https://make.wordpress.org/core/2022/02/21/editor-chat-agenda-february-23rd-2022/#comment-42611`_ -- into the editor wipes out the fragment.

When I intend to link to a _comment_, the block links to the _post_ instead.

The saved markup does contain the fragment, but the rendered block strips it out.

[code]

It does the same thing with query

[2022-04-07 18:20] cbirdsong commented on #35840
I would discourage usage of :where() for such a fundamental thing, as it’s not _that_ well supported: https://github.com/WordPress/gutenberg/discussions/39621

[2022-04-07 18:23] cbirdsong commented on #37753
If “Site Title” was a token that you could insert into a Heading block then adding a link could still be an option there, but that’s still ultimately a special case. A better solution might a way to select metadata like “home URL” as part of adding a link to any bit of text, which could then be applied to the site title or any other bit of text.

[2022-04-07 19:05] davipontesblog commented on #38973
I echo this, it would be great to have a contextual button here to enable users to quickly add new pages to their Navigation Menu - it's a difficult connection to learn for new users of WordPress.

[2022-04-07 19:33] bddgit opened #40169 "Empty Buttons block causes 30K+ pages and delays (in Chrome)"
### Description

If I add a Buttons block to a page but do NOT customize the placeholder content on the default button, and then eventually save the page with that block still there, when I go to print the page on the site (either to PDF or a printer), it has over 30,000 pages (31,776 to be exact).

Even without printing, there's an impact on the browser tab where the page is displayed (as if a sc

[2022-04-07 20:02] ryelle opened #40170 "Query Loop: Allow custom "Order by" options"
I have a Query Loop using a custom post type (Sessions), and I want to order them by session date (not publish date). Session date is a meta value, though I've added a custom handling for `orderby=session_date` in the API — but I can't select this option in the default Query Loop settings, and I can't change the settings to add it (see https://github.com/WordPress/wordcamp.org/pull/754 for my init

[2022-04-07 20:19] skorasaurus commented on #40169
Thank you for reporting especially the very clear report.

I was able to reproduce this on Gutenberg trunk and twentytwentytwo theme; and chrome 100.0.4896.60 on ubuntu; unable to reproduce with same theme, build in firefox.

[2022-04-07 20:32] paaljoachim commented on #34558
Perhaps we can get some kind of status update along with thoughts on how we should move forward?
Thanks!

[2022-04-07 21:12] scruffian commented on #39889
I've created a PR for the files listed against my name above (and a few extra connected changes)
https://github.com/WordPress/wordpress-develop/pull/2534

[2022-04-07 22:55] feastdesignco commented on #8663
This has been fixed: https://github.com/FiliagoDev/WordPress/commit/53aff531023b4716746fc2ce0604f52a4f7da1aa

[2022-04-07 23:37] ajlende commented on #38299
tl;dr summary for why this was re-opened since there was a lot of discussion to read through in #38681

1. Block patterns expect a consistent set of styles to be present in a site.
2. Because of this, `defaultPalette` and `defaultGradients` were designed to _not_ disable style generation. They only disable the UI.
3. A new option, `defaultDuotone` should be consistent with the behavior of the othe

[2022-04-08 01:10] talldan commented on #20309
I think it could be possible, but it would probably require a bit of work in core. Gutenberg could use a react portal to the admin bar to render a component there.

It would require a couple of things:
- An HTML element to use for the portal
- The existing View Post link to be inactive when the block editor is used.

Like others mention, I don't know whether it's worth it. This bug is likely to ha

[2022-04-08 01:31] andrewserong commented on #40059
I'm not too sure what the ideal fix is here, but for a bit more context, it looks like the style that's adding padding in the editor is coming from the Twenty Twenty Two theme:

![image](https://user-images.githubusercontent.com/14988353/162345433-05b21810-6d7c-4f2d-87d9-e98cdb99a01c.png)

I think the solution might be related to the issue described in: https://github.com/WordPress/gutenberg/issue

[2022-04-08 02:01] talldan commented on #40166
@iandunn I think this is possibly a WordPress core issue, testing the classic editor I see the same behavior. Perhaps the fragment is being stripped by the embed handler server side.

edit: I found this, it seems like the same issue https://core.trac.wordpress.org/ticket/49682.

[2022-04-08 03:06] #39651 closed, assigned to talldan

[2022-04-08 03:09] andrewserong commented on #40066
Just assigning myself to this one — I should have a draft PR up by the end of the day 🤞

[2022-04-08 03:31] Greatdane opened #40173 "List View: Blocks disappear when too many are shown"
### Description

It seems that a recent change has made the List View pane open with all parent blocks "collapsed" by default. If you expand the hierarchy and the pane "fills up" (i.e. there are as many blocks showing as can be seen without scrolling), blocks lower down on the page disappear from the List View.

All blocks on the page should display, with the option to scroll down when the list is

[2022-04-08 03:47] andrewserong commented on #40066
I've opened up a PR in #40174 — I labelled it as a bug, since it's flagged as an issue to be resolved in 6.0 and we're nearly at the feature freeze. Hope we can squeeze through on a technicality there! 😄

[2022-04-08 03:58] glendaviesnz commented on #39654
## Gallery block

## Ability to adjust gap between images added

In order to implement this the spacing of the Gallery images had to be changed from a right margin setting to the CSS `gap` property.  Themes or plugins that use a right margin setting to manually adjust the Gallery image spacing may need to be updated to instead override the `gap` setting.

### Default gap changed
The new block edit

[2022-04-08 04:38] glendaviesnz commented on #39654
## Separator block

### Updated to use block supports color settings

In order to allow the setting of a custom opacity for each block the Separator block has been updated to use the block supports color settings. The custom opacity can then be set using the alpha channel setting of the selected color.

https://user-images.githubusercontent.com/3629020/159190386-72d5209b-72f0-477e-8646-b5ff1929efa

[2022-04-08 04:46] talldan commented on #40173
Thanks for reporting this. It's not something that I could reproduce using the code in `trunk`, so it may have been fixed since 12.9.

@Greatdane Could you add details of which browser and OS you used to test this? That way we can eliminate browser inconsistencies.

The other possibility is that it requires particular blocks or content. 🤔

[2022-04-08 04:50] tellthemachines commented on #40059
This seems to be a theme styles issue, because I can't reproduce it testing with Empty Theme on trunk:
<img width="1021" alt="Screen Shot 2022-04-08 at 2 35 01 pm" src="https://user-images.githubusercontent.com/8096000/162365585-180b33c6-d38f-45c9-9706-d81eea2acb05.png">

@andrewserong you're right that this is related to #35607, in that if we fix that issue, themes will no longer need to add the

[2022-04-08 05:01] glendaviesnz commented on #40158
Thanks for reporting @Jastos  - this was fixed here https://github.com/WordPress/gutenberg/pull/39788 - and the fix should be in 13.0

[2022-04-08 05:01] #40158 closed, assigned to nobody

[2022-04-08 05:48] #40061 closed, assigned to carolinan

[2022-04-08 05:54] carolinan commented on #40074
@kristastevens  Thank you

I meant this as an explanation to why the text in this block is different depending on where you view the block. 🤔

Maybe if we replace "the block" with "this block".

----

Welcome to WordPress!

This is a placeholder for your content.

In the WordPress editor, each paragraph, image, or video is presented as a distinct “block” of content. When you view your website, thi

[2022-04-08 06:24] #40066 closed, assigned to andrewserong

[2022-04-08 06:29] oandregal commented on #40163
It seems that specific style rule has been introduced at https://github.com/WordPress/gutenberg/pull/37580 cc @carolinan @ntsekouras

[2022-04-08 06:32] Greatdane commented on #40173
It was the Site Editor, in particular. I encountered the issue on multiple sites, different FSE themes.

This was on Chrome 100 on macOS (Monterey).

I also tried on Firefox and can replicate it. The blocks come back when you close some of the nested blocks, but a visual glitch still happens for a time where blocks look to disappear. Another video of Firefox;

https://user-images.githubusercontent

[2022-04-08 07:21] aezazs-multidots commented on #40144
Hello @kmadhak

The same issue coming in the Twenty Twenty-Two theme too.

I have started working on this issue. I will update here when it is complete.

Thanks

[2022-04-08 07:26] paaljoachim commented on #34033
Perhaps @ntsekouras Nik might have some feedback here.

[2022-04-08 07:33] paaljoachim commented on #20309
We adapt to what is present and find work arounds.

Anyhow it might need a bigger resolution through design.
Linking in associated issues.

**Make Permalink/View Post easier to access**
https://github.com/WordPress/gutenberg/issues/30579

**Site Editor - 'Preview Site' feature.** (Linked to my comment there)
https://github.com/WordPress/gutenberg/issues/29398#issuecomment-988859368

[2022-04-08 07:42] MaggieCabrera commented on #40163
I think `.wp-block-quote.is-style-large:where(:not(.is-style-plain)) p` should fix this.

<img width="1234" alt="Screenshot 2022-04-08 at 09 42 08" src="https://user-images.githubusercontent.com/3593343/162389225-87d3d887-dc0e-46b4-a046-90f8789b7b67.png">

<img width="1204" alt="Screenshot 2022-04-08 at 09 42 17" src="https://user-images.githubusercontent.com/3593343/162389237-28745a53-f944-40c1-8

[2022-04-08 08:03] Aljullu commented on #37181
Ah, good idea @luisherranz. I didn't invest a lot of time thinking on this yet, given that we didn't start the exploration phase yet. But _a priori_, I guess your suggestion to create a block variation could work for us. :+1:

[2022-04-08 08:10] markhowellsmead commented on #40163
The :where selector isn’t supported in around 12% of current browsers.

[2022-04-08 08:17] talldan commented on #40154
@Alexus450 Have you tried reaching out to the plugin developers about the problem?

I can't reproduce any issues using $ in any other blocks, so I'm not sure that this is related to the block editor, but perhaps instead that specific plugin.

[2022-04-08 08:21] MaggieCabrera commented on #40163
According to https://caniuse.com/?search=%3Awhere and https://make.wordpress.org/core/handbook/best-practices/browser-support/ I think it's pretty safe for us to use it (and we've [done](https://github.com/WordPress/gutenberg/blob/15ac3775fe53a8f13752a19fac7479db2bc9e1ef/packages/block-library/src/common.scss#L120) [so](https://github.com/WordPress/gutenberg/blob/98295006774a9bfdeaad452dd16db31fe1

[2022-04-08 08:24] markhowellsmead commented on #40163
I know that `:where` has been used before and my statistical reference was to “Can I Use”. This support table indicates that although we're on the way to being able to use `:where`, a huge number of users worldwide will encounter broken layouts because of its usage. Take the relaunch of wordpress.org for example, where the entire navigation broke because of support issues with `:where`, which pres

[2022-04-08 08:25] talldan commented on #40163
@markhowellsmead There was a discussion about the browser support - https://github.com/WordPress/gutenberg/discussions/39621. This might be what's being referenced.

As mentioned there, if browser support for specific features is a concern, I think it should be discussed by the community to gain some consensus, and then perhaps some rules can be implemented.

[2022-04-08 08:28] markhowellsmead commented on #40163
If I understand correctly, the browser support targets at https://make.wordpress.org/core/handbook/best-practices/browser-support/ indicate which browsers are targeted for WordPress admin and the Block Editor. This is perfectly understandable. However, the rapid increase of rules being applied in the front end of the website - which in many cases can hardly be overridden (if at all) by theme CSS -

[2022-04-08 08:33] talldan commented on #40163
I think it'd be good if interested parties could make it a discussion point on the core-editor weekly chat agenda.

I would do it on behalf of those individuals but I can't really attend those meetings due to timezone, and I also haven't seen or been involved in the implementation or much of the prior discussion.

Until something like that happens, these are just isolated comments in amongst a tho

[2022-04-08 08:46] aezazs-multidots commented on #40144
Hi @sabernhardt @kmadhak

I have fixed this issue and have also created PR for it.

Please review this PR link:  https://github.com/WordPress/gutenberg/pull/40180

Than you !

[2022-04-08 09:29] theminaldiwan commented on #40131
Hi @JustinyAhin

Yes I have also solution for this issue but i'm facing some issue in pull request.
Path:gutenberg/packages/block-library/src/social-links/style.scss

`.wp-block-group .wp-block-social-links {
	&.alignleft,
	&.alignright {
		float: none;
	}
}`

[2022-04-08 10:07] aiolachiara commented on #14283
Hello,

the wordpress documentation about the media&text block https://wordpress.com/support/wordpress-editor/blocks/media-text-block/ says:

I have a block with media on the right, so I expected to see the text on the left on the top on the content on the right.

I made a small fix on my theme adding this css rule:

[code]
that simply reorder the items based on the class `.has-media-on-the-right`

[2022-04-08 10:30] scruffian opened #40181 "Global Styles: Allow themes to opt out of core theme.json"
The core theme.json (as well as potentially the styles in block.json: https://github.com/WordPress/gutenberg/pull/34180) represent some opinions which some themes may not want to inherit. We should build a mechanism in theme.json to disable them.

This is similar to what the `wp-block-styles` theme support does at the moment. See https://github.com/WordPress/gutenberg/issues/37255.

[2022-04-08 10:31] scruffian commented on #37255
After a chat with @mtias we decided that this isn't the right approach. Instead we should move this CSS to Global Styles, and then build a mechanism to disable the core theme.json file:

https://github.com/WordPress/gutenberg/issues/33977
https://github.com/WordPress/gutenberg/issues/40181

This would render the `wp-block-styles` theme support obsolete.

[2022-04-08 10:31] #37255 closed, assigned to nobody

[2022-04-08 10:31] #38498 closed, assigned to JustinyAhin, vjsasinathan

[2022-04-08 10:46] TwinDigitalNL commented on #12602
Currently i have the same issue, only the first 100 of the categories are shown, and searching in anything outside those 100 is not possible. Result is 30 missing categories. Is there any fix for this?

[2022-04-08 11:05] gziolo commented on #39889
We still need to backport code that was moved to `lib/compat/wordpress-6.0/blocks.php` in #40179 and introduced in https://github.com/WordPress/gutenberg/pull/36176 by @aristath:

- `wp_enqueue_block_view_script` function
- `gutenberg_block_type_metadata_multiple_view_scripts` filter's callback

[2022-04-08 11:15] vyskoczilova opened #40183 "Don't load core colors in editor when theme.json is used"
### Description

Hi! Maybe I miss something, but why when we use theme.json and our colors the global colors are included? We're still fighting with overriding those and since they are inline, its absurdly hard and they are in fact no used in the theme.

I'm talking about these:

[code]

Not sure if it's related to the https://github.com/WordPress/gutenberg/issues/40181

I think it's a bug and Gut

[2022-04-08 11:15] oandregal commented on #40181
Just wanted to share https://github.com/WordPress/gutenberg/issues/37550 as it touches on this specific thing (absorb the remaining CSS bits so themes can override easily). At some point, we may want to introduce a flag that allows to "reset" all core styles. Though, I wouldn't do that until we absorb the remaining pieces (block styles & block style variations).

[2022-04-08 11:37] #38079 closed, assigned to JustinyAhin

[2022-04-08 11:41] #39702 closed, assigned to aristath

[2022-04-08 11:41] jameskoster commented on #27852
I think we can close this since focus mode exists :)

[2022-04-08 11:41] #27852 closed

[2022-04-08 11:47] jameskoster opened #40184 "Make focus mode accessible from the template editor"
In the Site Editor it's possible to edit template parts in isolation like so:

https://user-images.githubusercontent.com/846565/162429505-8be90a95-22c2-4deb-b79a-3aecd3120540.mp4

However it's not possible to access this mode in the template editor (Edit post > Open 'Template' Inspector panel > click 'Edit'), should it be?

[2022-04-08 12:27] kristastevens commented on #40074
Makes perfect sense, @carolinan — _this_ looks good to me!

[2022-04-08 13:14] gziolo commented on #39889
We will also have to backport code that is about to be moved to `lib/compat/wordpress-6.0/blocks.php` in https://github.com/WordPress/gutenberg/pull/40186:

- `build_comment_query_vars_from_block` function
- `get_comments_pagination_arrow` function
- `gutenberg_extend_block_editor_settings_with_discussion_settings ` filter's callback
- `gutenberg_rest_comment_set_children_as_embeddable` filter's c

[2022-04-08 13:19] jp-imagines commented on #40173
Quickly noting here that I was able to replicate this in the Site Editor _and_ the standard Gutenberg block editor on both Chrome 100 and Firefox 99.

This is in Firefox while editing a page with several `jetpack/contact-form` blocks:

https://user-images.githubusercontent.com/5630717/162443497-f834107f-1937-491e-8b13-7d8f79b8ee64.mp4

[2022-04-08 14:25] jameskoster commented on #38911
https://github.com/WordPress/gutenberg/pull/38997 brings this to the surface once more.

https://user-images.githubusercontent.com/846565/162455777-85428412-d777-418e-9d37-844d788d0f8f.mp4

[2022-04-08 14:41] rahulkhosla commented on #36834
As per [this source](https://wpza.net/how-to-remove-global-styles/), you need to dequeue as per: `wp_dequeue_style( 'global-styles' );`.

[2022-04-08 14:59] turtlepod opened #40190 "Is Dragging CSS is only needed for the editor not front-end."
I think this CSS `.is-dragging` is for editor.scss and not for style.scss?

https://github.com/WordPress/gutenberg/blob/5d0940dfcc142f13696963ee2e0de6a49e7b1065/packages/block-library/src/gallery/style.scss#L145

[2022-04-08 15:03] cbirdsong commented on #38299
For custom theme dev the block pattern directory is disabled in almost every case, and the only block patterns present have been _specifically_ designed for the theme. Custom theme dev is also a place where extra boilerplate SVG and CSS adding to page weight is extremely noticeable and most unwelcome. There should be a way to opt out of this extra stuff, at the _very least_. A more ideal solution

[2022-04-08 15:11] cbirdsong commented on #38719
Another issue with autogenerated CSS is that Wordpress and Gutenberg can no longer be used with a strict [content security policy](https://developers.google.com/web/fundamentals/security/csp). This issue was previously raised in https://github.com/WordPress/gutenberg/issues/9534#issuecomment-888218119 by @Adrian-Fischer, but CSPs are not otherwise mentioned anywhere in this repo outside of backend

[2022-04-08 15:18] sitoexpress commented on #38299
It funny to read some comments around the related threads where people talk about duotone filters as something really really really needed, while common/practical sense should suggest that's a niche feature only few people around the world will ever use, thus it shouldn't be in core... But hey, it takes all sorts to make a world!

[2022-04-08 15:38] mcsf commented on #32148
@ktmn: Interesting. This got me to learn more deeply about what the HTML spec prescribes for different types of inputs. I have a possible fix at #40192.

(edit: fixed PR number)

[2022-04-08 16:05] iandunn commented on #40166
Ah, good find! I'll close this then 👍🏻

[2022-04-08 16:05] #40166 closed, assigned to nobody

[2022-04-08 16:14] ndiego commented on #40144
WordPress core provides default padding to Heading blocks with a background color, but most themes override this with their own custom styles. That said, as you indicated the defaults add way too much padding in nearly all cases. Thanks for the PR @aezazs-multidots.

[2022-04-08 16:20] ndiego commented on #40141
Hi @illycz, to confirm, you are trying to get a specific page template from within a block pattern as well as the post id from within a block pattern. Is that correct?

[2022-04-08 16:25] ndiego commented on #40183
HI @vyskoczilova, you can remove the core color specifications on the frontend by adding the following to your theme.json file. This will also remove the default color and gradient palettes from the color picker UI.

[code]

They are still printed in the Editor as you indicated, but this will ideally get resolved in future versions of Gutenberg. Thanks for flagging! More functionality for theme de

[2022-04-08 16:43] tinuola opened #40193 "Post Tags, Post Categories blocks - Ability to add and delete terms"
## What problem does this address?

Currently, the post-tags and post-categories blocks only display terms. A user is limited to the tags and categories fields in the sidebar as the only means of adding and deleting terms.

## What is your proposed solution?

Editable post-tags and post-categories blocks, that is, users should be able to add or delete terms via the blocks themselves, not only the

[2022-04-08 16:46] oandregal opened #40194 "`appearanceTools`: make it work for all visual tools + remove block settings from core"
In WordPress 5.9 we added a new setting `appearanceTools`, with the goal of controlling a number of visual tools at once.

This issue summarizes a few things we've heard about this behavior, to gather more thoughts and see if it's time to expand it.

## 1. It doesn't controll _all_ the visual tools

We didn't make it control [all](https://github.com/WordPress/gutenberg/pull/36246) the visual tools

[2022-04-08 16:55] bradhogan commented on #12684
Definitely +1 🙏

[2022-04-08 17:15] Luehrsen commented on #38299
It always baffles me, that such an opinionated design feature made its way into core and is not considered plugin territory. To be fair: Duotone Filters for agency designs were dead the second they hit WordPress core.

[2022-04-08 17:16] illycz commented on #40141
Yes, I have header with light/dark logo so I make header as pattern where I can have a php logic.
But actually I don't know how to get template from this pattern.
I know that I can have two template parts for specific templates, but for switching only logo it looks unnecessarily complicated.

Thanks

[2022-04-08 18:15] skorasaurus commented on #40183
@vyskoczilova  Could you edit the issue's title to include 'editor' in the title (e.g. "Don't load core colors in editor..."; so it will be easier to find ?

[2022-04-08 18:44] chrisvanpatten commented on #20490
Noting that this is also an issue for all block attributes, which are passed through kses and have ampersands replaced with `&amp;` inside `wp_kses_normalize_entities`. This means that any non-editor user who inputs an ampersand into a block attribute via, say, a TextControl inside the block's inspector, is going to have that ampersand converted (and visible) as `&amp;`:

![image](https://user-ima

[2022-04-08 19:16] mkkeck commented on #38299
Remove the duotone stuff from core and put into a Twenty theme or a plugin would resolve this issue.
I'm really frustrated, why to be forced to live with a bloated site for feature which perhaps only five people arround the world may use it.

Taking focus on stability, better docs and naming convention would be more usefull instead tons of buggy, experimental, page bloating and page breaking featu

[2022-04-08 19:37] illycz commented on #39663
This is essential!

[2022-04-08 19:49] scott8035 commented on #35676
@lgladdy, now that 5.9 is out can you shed any more light on how it will address this situation? I think it's going to be really common to want to use an [acf field="..."] shortcode for posts/CPTs that are retrieved via some arbitrary block's custom query loop. Using the solution described by @morksinaanab seems to be overly complicated for this common scenario, especially given that you may not b

[2022-04-08 19:53] scott8035 commented on #35676
@julian-stark, how did you finally solve this problem?

[2022-04-08 20:45] scott8035 commented on #35676
@morksinaanab, do you have any suggestions for how you would achieve this within a block you did not write yourself and don't want to modify, such as that provided by a 3rd party plugin?

[2022-04-08 21:13] dmsnell commented on #39654
## Unrecognized block preservation

#38794, #38923, #39523

We've started making strides in preserving unrecognized content in the editor, also called (sometimes incorrectly) "invalid" or "missing." In situations where the editor is unable to validate a loaded block against its implementation we run into a number of cases where content has previously been lost or corrupted, notably when inner bloc

[2022-04-08 21:58] crobertwatson opened #40197 "Unchecked default category re-checks itself upon publish or update of a post"
### Description

A WordPress-based news website's editorial team has problems with the default "Uncategorized" category which, long ago, they had renamed to "General". But it's still the default category as WordPress seems to insist on having. Even if they've selected a different category and deselected the default category.

1. They create a post and check the desired category and uncheck the def

[2022-04-08 23:11] vralle commented on #38299
I don't think it's because of the duotone. A few lines of code for duotone in the markup of site are not something critical. There are common problems. This is Gutenberg redundancy. Instability. The cost of maintaining each release of WP, as well as plugins for Gutenberg, is already difficult to estimate. All this affects the fatigue of both developers and customers. Instead of best practices, Gut

[2022-04-09 04:42] stephensabatini commented on #22332
Thank you everyone for putting this together. Seconding this idea or at the very least a solution to this in core. There are so many scenarios where it makes sense to have this. Learn more [about subject], Read more [about subject], Buy [product name for $X], whatever the context. If we're worried about non-tech-savvy people getting the hang of this or abusing this - maybe it is an option that is

[2022-04-09 05:17] carolinan commented on #40197
Hi
Does this happen when all plugins are disabled?
(Personally, I would not be able to test a setup with 26 plugins to troubleshoot the issue, especially if any of them are paid plugins.)

[2022-04-09 06:53] mkkeck commented on #38299
@vralle yes its true. But I personally think, Gutenberg had potential before all the FSE and experimental stuff.

Now with each new release, there were new features added, instead of making current features stable and of course more configurable. Docs are incomplete or confusing. Then things, which are only used by really less users went into core, but often without opt out and which are better in

[2022-04-09 08:58] ToniGuga opened #40200 "Add image brakes page in backend"
### Description

 Hello there,
i've problems with adding images using the default block and acf add image functions. After clicking no modal appears anche the page brokes and i have to reload the page. I did a downgrade to 5.9.0 and everything works greate. I've the same issue with the default wp image block

Hope this helps

### Step-by-step reproduction instructions

![Screenshot 2022-03-01 at 1

[2022-04-09 13:17] Lovor01 opened #40202 "Unregistering block styles registered by default does not work as intended"
### Description

Unregistering (removing) styles registered by WP is descirbed in [this chapter](https://developer.wordpress.org/block-editor/reference-guides/block-api/block-styles/#unregister_block_style) of block editor handbook.

However, for rounded style of core image does not work as intended:
I have following:
[code]
I checked in the debugger, function gets invoked, however, it is too earl

[2022-04-09 13:20] Lovor01 commented on #40202
This code, with a minimal delay works:
[code]

[2022-04-09 14:05] Humanify-nl commented on #25330
@kubiqsk Ended up here in a long search to find out why I couldn't unregister certain core block variations, your dependency logic made it work. Thank you. It is a shame this example is not in the documentation.

[2022-04-09 14:39] andronocean commented on #39977
Is there any chance that [`__experimentalGetTemplateForLink`](https://github.com/WordPress/gutenberg/search?q=__experimentalGetTemplateForLink) could be marked stable? It actually fixes a bug that causes the site editor to fail to launch on WP 5.9 when WP is installed in a subdirectory.

Full bug info: https://core.trac.wordpress.org/ticket/55288

**Edit:** the fix in fact comes from the [setPage]

[2022-04-09 15:57] mtias commented on #37255
`wp.block-styles` predates many of the block attribute tools and as such is a very opaque system. In time, things we expressed in the stylesheet should become part of the `theme.json` toolset (styling captions as `elements.caption`, specifying default views for blocks like Quote, etc). At that point an extra stylesheet is unnecessary and inconvenient, and absorbing its properties into attributes i

[2022-04-09 16:06] ParticleMon opened #40203 "Undo and redo can cause undesired page scrolling in the visual editor"
### Description

Visual editor undo/redo may scroll the page when an edit is off-screen.

This applies only to the visual editor, not the code editor.

This behavior is exhibited at least in Chromium-based browsers. Although I haven't tried browsers based on Firefox or WebKit, it is expected to be browser engine agnostic.

This behavior has been present for years--from the first version of WordPre

[2022-04-09 18:09] covertnine commented on #39373
Not to pile on, but I'm also having this issue.

One thing I can add is that it seems to be specific to Firefox as mobile and tablet previews continue to work for me in more recent Google Chrome browsers--but not so much in Firefox.

[2022-04-09 18:19] mtias commented on #40194
Another perspective here can be to allow themes / sites to disable the wp-includes version of theme.json entirely.

[2022-04-09 18:25] mtias opened #40204 "Split block tools between "settings" and "appearance""
We've discussed this as far back as 5.0, but it was not yet the right time to explore. Now that we have tools more clearly delineated, it's a good time to start looking at how we can split the block inspector between settings and appearance — appearance would generally be all the common block tools registered through supports, and setting would generally be block specific tools. The earliest mocku

[2022-04-09 18:30] mtias opened #40205 "Introduce "Caption" as a new element"
Hinted at in #34574.

It's time to move towards introducing some new elements to the Elements API. Captions are used across blocks (images, embeds, videos, etc) and a prime example of what we have called elements in the global styles' sense. Right now core registers some default styles for captions through `wp-block-styles`, which we should transition to this system.

Captions would become a new e

[2022-04-09 18:43] JoshuaDoshua commented on #15160
defining levels in `theme.json` would be ideal, err, the best we can do in this environment

[2022-04-09 19:43] illycz commented on #39663
I'm using classic menu for now. But support for current parent is really essential...

[2022-04-09 19:46] badfeather commented on #38299
**Proposal:** For each new custom feature added to Gutenberg, like duotone, SVG filters, etc., it should either be opt-in, or there should be a simple, _consistent_ PHP hook to disable the feature via `add_theme_support()`, similar to `add_theme_support( 'disable-custom-gradients' );` type calls, and to pass empty arrays for default editor presets, similar to `add_theme_support( 'editor-gradient-p

[2022-04-10 02:25] ALJ commented on #40200
Hi @ToniGuga I have seen a problem like that and it was solved by upgrading ACF to version 5.12 or higher. [The ACF changelog](https://www.advancedcustomfields.com/changelog/) has it listed as:

[2022-04-10 02:32] ALJ commented on #40202
Hi @Lovor01 I cannot recreate the problem, but I suggest double-checking if your JS has the correct dependencies defined, specifically `wp-edit-post`. [Look at this comment in a similar thread](https://github.com/WordPress/gutenberg/issues/25330#issuecomment-979005235) for an example.

[2022-04-10 07:10] ramizmanked opened #40206 "Block Gap gets flushed out for Group Block in Global Styles"
### Description

Value passed to Block Gap control flushing out for Group Block in Global styles on Save.

### Step-by-step reproduction instructions

1. Backend > Appearance > Editor.
2. Click on 'Styles' icon next to 'settings' on top right corner.
3. Go to 'Blocks'.
4. Select 'Group' block.
5. Select 'Layout'.
6. Try changing 'Block spacing' value.
7. Save.

### Screenshots, screen recording, c

[2022-04-10 10:11] gziolo commented on #39810
Yes, it makes sense to follow the recommendation. We probably need to switch to npm 8/yarn/pnpm first or list them explicitly in Gutenberg to ensure that those dependencies get installed with npm 6.

[2022-04-10 11:51] mtias opened #40208 "Better organization for block transforms"
Block transforms are one of the most important and powerful features of the block editor. They allow switching content types effortlessly and open many paths for users and block developers. They are so useful that it's natural people use them for basic operations (paragraph > heading), layout transforms (paragraph > group, paragraph > row), block replacements (site logo > site title), variations t

[2022-04-10 11:59] mtias opened #40209 "Allow transforming from Group to Cover"
This is a transformation we really need to offer. Right now if you want to transition a set of blocks into a cover you need to jump through some hoops.

<img width="843" alt="image" src="https://user-images.githubusercontent.com/548849/162616913-986e0c1e-42d2-46d4-be58-b3eadd09b9f3.png">

One consideration to make, particularly for group variations (stack / row): should the transform modify the co

[2022-04-10 12:30] mtias commented on #33687
@youknowriad where do you think we stand with this one after the latest work on Row, Stack and the transforms menu like https://github.com/WordPress/gutenberg/pull/40036 ?

[2022-04-10 12:34] mtias commented on #21494
I believe this is mostly already in place in flex based container — new blocks would fit in the horizontal or vertical layout, and they'd inherit the block spacing property. If there are any further improvements to be made we should consider them in new tasks.

[2022-04-10 12:34] #21494 closed

[2022-04-10 15:07] Mamaduka commented on #40209
This transformation is already supported - #30890, but there's a very specific `isMatch` check, so the option isn't always visible.

https://github.com/WordPress/gutenberg/blob/7f2978aea1e9a146ba6e05cee4aa9b588e24b862/packages/block-library/src/cover/transforms.js#L63-L77

Edit: I think there's no need to require background color after #31402.

[2022-04-10 17:38] mtias commented on #40209
Right! Seems it should be an irrelevant condition now.

[2022-04-10 18:07] amustaque97 commented on #39696
Hi :wave:, I followed the same reproduction steps as mentioned in the issue. I found that we're loading `view.min.js` file but from a different location. New path is `gutenberg/build/block-library/blocks/navigation/view.min.js`.

Screenshot:
<img width="1584" alt="image" src="https://user-images.githubusercontent.com/21127788/162633197-54fb584e-dff5-4f44-ae7b-e212e5dede2d.png">

If I miss somethin

[2022-04-10 18:13] amustaque97 commented on #40200
Hi @ALJ , thank you for your input. Looks like this issue is related to **ACF**.  Closing this issue in favour of [comment](https://github.com/WordPress/gutenberg/issues/40200#issuecomment-1094161469).  If this issue still persist. Feel free to reopen.

[2022-04-10 18:13] #40200 closed, assigned to nobody

[2022-04-10 21:35] BinaryMoon opened #40211 "Edit Site should edit the template for the current page"
## What problem does this address?
I find it frustrating when I am viewing a page and want to edit the layout (FSE) and so press "edit site" with the hope that I can edit the current template, but it always take me to the home template.

## What is your proposed solution?
I would like the "edit site" button in the admin bar to edit the template for the current page type, whatever that might be. I

[2022-04-11 03:19] Mamaduka commented on #40211
Hello @BinaryMoon, thanks for contributing.

I am closing this as a duplicate of https://github.com/WordPress/gutenberg/issues/37850.

[2022-04-11 03:19] #40211 closed, assigned to nobody

[2022-04-11 03:29] SamuelMiller commented on #35099
This appears to work in theme.json: One way is using adding key-value pairs with comments and description JSON always contains data of key and values, so add comments key in json object with value is a comment string value.

{
"key": "value",
"comments":"One way to write comments here"
}

More here: https://www.w3schools.io/file/json-comments/

Also how about the newer JSON5 which allows comments:

[2022-04-11 05:43] andrewserong commented on #40132
Just copying over a code snippet from the discussion in https://github.com/WordPress/gutenberg/pull/39926#discussion_r846898166 — if we decide we'd like to parse out shorthand properties, one way to do it could be to use something like the following to grab each part of the CSS value that's separated by a space, but isn't contained within a set of brackets:

[code]

Explicitly dealing with the fac

[2022-04-11 05:46] jasmussen commented on #40156
One of the design solutions we [explored](https://github.com/WordPress/gutenberg/pull/39410#issuecomment-1066763242) was this one:
<img width="3440" alt="158177703-2eca393c-96c2-4a23-a4a6-90f8d86b57c7" src="https://user-images.githubusercontent.com/1204802/162672239-3f22aca9-468e-4de2-954d-034c8ef51d4b.png">

Essentially:

* If a featured image is set in the inspector, then the replace button will

[2022-04-11 06:14] andrewserong commented on #40209
Nice idea! I think I've got something working okay, I'll open up a PR shortly.

[2022-04-11 06:40] andrewserong commented on #40209
I've opened up a PR in #40212 — there was a bit of a decision involved in figuring out a default `dimRatio` that works well enough so that it's clear what's going on once a user starts interacting with adding images or background colors to the Cover block. Happy for any feedback over on that PR!

[2022-04-11 07:01] KAJALwp opened #40214 "Link-text highlight-color issue in paragraph and Heading block"
### Description

When I try to add a highlight color for link text in paragraph and heading block it is working properly, but when I edit the link text then the highlight color is removed and link text shows the default color.
For more information I provide the video attachment link.

### Step-by-step reproduction instructions

1. Go to editor
2. add paragraph or heading block
3. enter text and se

[2022-04-11 07:40] carolinan commented on #37850
Alternatively, let this menu have two links, "Edit site" and "Edit template" which would lead to the current template, either in the site editor (for site templates) or the template editor (for single post/pages).

[2022-04-11 07:55] lisastriker opened #40218 "For blog post, although 3 columns is selected, showing up as 2."
### Description

On the blogpost page, i select POSTS and i put columns as 3. However on the front-end page, i only see 2 columns. When i inspect the elements. i notice that the `<ul class="wp-container-19 is-flex-container columns-2 alignwide wp-block-post-template></ul>`

When i change the class to columns-3 in the inspector, the columns then show up on my front-end correctly. This means that th

[2022-04-11 07:57] mashikag commented on #11962
I have created a PR for this issue, [https://github.com/WordPress/gutenberg/pull/40187](https://github.com/WordPress/gutenberg/pull/40187).

[2022-04-11 08:11] youknowriad commented on #33687
I think in terms of features for the flex layout itself, we're mostly there. Maybe the only potential addition could be this:

Similar to how "alignments" appear when you chose a "flex" layout for the container, specific flex alignment options could appear in child blocks when you select "flex" as their container.

That said there are a number of issues in terms of "architecture". Right now, some

[2022-04-11 08:24] ntsekouras commented on #40218
👋 Thanks for the issue! I couldn't reproduce this. Can you share a small video with the problem you're facing?

[2022-04-11 08:27] oandregal commented on #40194
For themes without `theme.json` we could add a fallback [here](https://github.com/WordPress/gutenberg/blob/trunk/lib/compat/wordpress-6.0/class-wp-theme-json-resolver-6-0.php#L101) for button and pullquote to maintain the existing behavior. So, for the majority of themes, there won't be any change.

[2022-04-11 08:36] KAJALwp opened #40219 "Link-text color issue in paragraph block"
### Description

When I try to add text-color in paragraph block, It is only reflect with normal text and the link-text is shows default text-color. But when I add the background color for this it is reflected with normal as well link-text also.
For better understanding I provide the video attachment link.

### Step-by-step reproduction instructions

1. Go to editor
2. Add paragraph block
3. enter

[2022-04-11 08:50] jameskoster commented on #40156
Oh yeah, that's virtually the same idea :D I don't know that we need to hide the other options (upload / open media lib) when the featured image is being used though?

[2022-04-11 08:52] jasmussen commented on #40156
I like them hidden, because it simplifies what happens if you choose any of those options. I.e. what happens to the toggle if you upload an image?

[2022-04-11 09:02] jameskoster commented on #40156
I don't think anything needs to happen?

The popover is exposed in two flows: 1. Choose media, 2. Replace media. In both flows I would expect to see all options immediately. Incidentally this is how these flows work currently, and I'm not sure that the introduction of the featured image option warrants any changes 🤔

[2022-04-11 09:04] jasmussen commented on #40156
Well the toggle would need to be untoggled, if you replaced the featured image with a single one, right?

One additional gotcha we ran into on the PR, is that we can't necessarily "remember", at least beyond a single-session basis, what image was set before the toggle was flipped. So in some most cases, doing so will just remove the image, reverting to a setup state or solid Cover bg color.

[2022-04-11 09:05] jasmussen commented on #33687
One small addition is to consider a matrix-grid like alignment tool, a la what the Cover block has already, for flex containers that allow both vertical and horizontal alignments. Probably worth its own separte issue?

[2022-04-11 09:28] mtias commented on #33687
For self-positioning?

[2022-04-11 09:31] jameskoster commented on #40156
I'm probably missing something obvious but why is that a problem?

Doesn't this issue exist with the current implementation as well? In any case I think that's a symptom of the featured image option behaving as a toggle. Maybe it doesn't need to. Another option would be to include a 'Clear media' option in the 'Replace' popover.

<img width="305" alt="Screenshot 2022-04-11 at 10 30 33" src="https:

[2022-04-11 09:37] jasmussen commented on #33687
Row now has both horizontal and vertical alignments for children in the block toolbar, but not in the inspector:

<img width="1392" alt="Screenshot 2022-04-11 at 11 36 59" src="https://user-images.githubusercontent.com/1204802/162710975-32311128-d8e1-47e3-8081-94197cfc317c.png">

We could potentially use the same interface the Cover block has for aligning. Instead of setting horizontal and vertica

[2022-04-11 09:48] jorpdesigns commented on #39857
Hello! These are great points and I wanted to suggest a workaround for one of them:

If I understand correctly, I think you can solve this issue by enabling the Top toolbar. This lets you access all block settings in a single (uninhibited) location.

<img width="1792" alt="nb" src="https://user-images.githubusercontent.com/40006288/162712732-90192fef-de0e-4623-b22d-285971ebd286.png">

[2022-04-11 09:48] jasmussen commented on #40156
It might not be in practice! I feel like it might confuse you with the ability to _upload a new featured image_ from there. It seems like if that's a flow we want to enable, the dropdown (and initial setup state) likely needs additional context and a rearrangement to handle that.

[2022-04-11 09:50] aezazs-multidots opened #40221 "There is an issue with the link color of the text in the heading and paragraph blocks"
### Description

When we use paragraph and heading blocks in a post and page. And if we add a link to any text and change the color of that link, then it is working perfectly, but whenever we add background color to that link after we change the color of this link, then the color of the link would not change.

### Step-by-step reproduction instructions

1. Go to the editor
2. Add paragraph/heading

[2022-04-11 09:58] jameskoster commented on #40156
Perhaps It should only be possible to instruct the Cover to use the featured image when one has already been set. In fact that highlights another issue with the current implementation:

https://user-images.githubusercontent.com/846565/162714691-ce44cd45-471a-4854-ab65-e540402ad337.mp4

In the video above I can't edit the contents of the cover after setting it to use the featured image, because a f

[2022-04-11 10:03] youknowriad commented on #33687
@jasmussen I'm not sure that interface make sense. What's "center": "justify center" or "space between"?

[2022-04-11 10:03] Humanify-nl commented on #39857
Thanks for the tip! My situation is a bit different as:

- I'm using a menu that is aligned at the right side of the screen (nothing special right?).
- I'm using a template part for only the menu (instead of having to copy it to all headers)

See here why this is difficult.
![image](https://user-images.githubusercontent.com/82579622/162715821-8d715264-9dc8-4d97-aa35-404c286c5497.png)

While it see

[2022-04-11 10:05] jasmussen commented on #40156
Yes, the challenge there is using the Cover for featured images in archive templates where it will only be filled out in the right contexts. Another option is to show dashed lines to indicate the state:
<img width="3440" alt="Set Media   Text as featured image" src="https://user-images.githubusercontent.com/1204802/162715876-4e7d2211-556f-49ed-8b70-b20406a71e8d.png">

_That's Media & Text instead

[2022-04-11 10:36] jameskoster commented on #40156
Yep, I think that makes sense. We might even do something similar in the post editor if you set the cover to use the featured image, but one isn't set yet...

Here are some prototypes.

### Post editor, featured image is set
https://user-images.githubusercontent.com/846565/162721861-c0a50375-3ea3-4670-a093-d321a14d8a31.mp4

### Post editor, featured image is not set

https://user-images.githubuser

[2022-04-11 10:45] Mamaduka commented on #35345
@jasmussen, do we still want to restore previous drag-over-edge behavior here?

I think current behavior works well.

[2022-04-11 10:50] carolinan commented on #40221
Hi @aezazs-multidots I am closing this issue because it is a duplicate of https://github.com/WordPress/gutenberg/issues/40219

[2022-04-11 10:50] #40221 closed, assigned to nobody

[2022-04-11 10:54] jasmussen commented on #33687
This is how Figma handles it:
![figma](https://user-images.githubusercontent.com/1204802/162723846-43a9c548-287d-4b78-b036-d2d1c282fb49.gif)

I recognize the dropdown to choose between "packed" and "space between" isn't the most intuitive. Mostly it's the discrepancy between the vertical tools being available in the block toolbar, but not in the inspector, and if we add them to the inspector as we

[2022-04-11 10:57] mtias commented on #33687
I was talking about self-align, though — so you can place something at the top of a cover, something else at the bottom, etc, which is not possible with the matrix control on the parent.

[2022-04-11 10:58] jasmussen commented on #40156
The problem with this is that if you save the page in this state, then reload, the media library will pop up for every block that has this state. Unless we build gnarly smarts.

I like your prototypes! I'd keep a singular "Replace" word instead of "Replace media", though.

[2022-04-11 10:58] PatelUtkarsh opened #40222 "Full site editing: Wrong navigation active link when for post page."
### Description

When adding post page in full site editing navigation page (WP core settings -> readiung -> Your homepage displays -> posts page).

In frontend, active link has wrong global `$post` reference causing [wrong active state. ](https://github.com/WordPress/gutenberg/blob/6d1496a88b92c751ef5322361a53b889ab97c03e/packages/block-library/src/navigation-link/index.php#L153)

### Step-by-ste

[2022-04-11 11:02] jasmussen commented on #35345
It's a good question, mainly because it's a larger question: what about other container blocks that can/will eventually have background support?

The easiest solution is to decide: you can only ever drag and drop an image into a top level container. But for big site building contexts where you might want to drag an image into a deeply nested group, that's not a great solution.

The question then b

[2022-04-11 11:07] jasmussen commented on #33687
Depending on how many of the flex properties we want to support, it can quickly become a lot. Two options:
<img width="688" alt="One idea" src="https://user-images.githubusercontent.com/1204802/162727524-faa40e33-47ea-494d-9cc0-f6f5eab81eda.png">

[2022-04-11 11:11] youknowriad commented on #33687
@jasmussen orientation doesn't make sense for individual blocks inside a container, justify might not make sense either.

[2022-04-11 11:22] paaljoachim opened #40223 "[Block] Transform from Post Comments block (depricated) -> Comments Query Loop block"
## What problem does this address?

It would be helpful to make it easier to transform between between Post Comments block <-> Comments Query Loop block.

## What is your proposed solution?

Add the transform here:
![Screenshot 2022-04-11 at 13 21 45](https://user-images.githubusercontent.com/5323259/162729591-7c629b96-8902-454e-8325-a77be0c9b083.jpg)

[2022-04-11 11:23] jasmussen commented on #33687
Right of course, so potentially this; layout container:
<img width="688" alt="Container" src="https://user-images.githubusercontent.com/1204802/162729647-7fa70c6b-dc0d-46e9-8616-ec2f174224f5.png">

Inner block, with justification shown or hidden depending on the block:

<img width="364" alt="Inner block" src="https://user-images.githubusercontent.com/1204802/162729868-e1ccac73-0f28-4e80-89f9-c5cb8

[2022-04-11 11:26] paaljoachim commented on #33583
I will post here in relation to testing: https://make.wordpress.org/test/2022/04/08/help-test-the-comments-blocks-for-wordpress-6-0

EDITING for clarity:
Switching out the Post Comments block with the Comments Query Loop block. Look at the the List view I see Group within Group within Group. <s>Renaming the Group to Group Post Comments, Group Post Content, Group something would give a nice overvie

[2022-04-11 11:31] paaljoachim opened #40224 "Contextual menu goes below edge of browser - missing scrollbars"
### Description

I am seeing the contextual 3 dot drop down menu go below the edge of the browser. Making it tricky in deleting the block.
(I assume that there is an issue for this but that I was not able to locate it.)

![Screenshot 2022-04-11 at 13 29 08](https://user-images.githubusercontent.com/5323259/162730585-9c6b1db3-0857-44c6-8d4a-62efcd76bace.jpg)

### Step-by-step reproduction instructi

[2022-04-11 11:32] youknowriad commented on #33687
Yes, I also wonder if it should be on the toolbar. Conceptually it's the alternative to "align left/right/wide/full" that we have for children of "flow" layouts.

[2022-04-11 11:54] jameskoster commented on #40156
Oh no, I meant that the modal would appear when you actively click "Use featured image". If you were to then exit the media library without setting a featured image the block would simply remain unchanged. Just for completeness, here's a video:

https://user-images.githubusercontent.com/846565/162734151-29e5fe6c-7bce-4033-aff3-94b117e29c8b.mp4

[2022-04-11 12:04] paaljoachim opened #40225 "Add Post Comments Form block to the Comments Query Loop template."
### Description

I am testing: https://make.wordpress.org/test/2022/04/08/help-test-the-comments-blocks-for-wordpress-6-0

Initially we start out with the default Post Comments block but we switch over to Comments Query Loop block in the Single Post FSE. Going to a post I do not see the comments area in place. Switching back to the old Post Comments block I do see the comments area in place.

###

[2022-04-11 12:07] jasmussen commented on #33687
Good point, and it illustrates a challenge with the iconography. When the justification icons are used both for inner blocks, and for _self_, it becomes unclear what they apply to.

I don't like the following icons, consider them placeholders to illustrate how "align self" icons might need to be different from "justify content" icons. Potentially we keep the group block toolbar simple:
<img width=

[2022-04-11 12:22] carolinan commented on #40219
Hi
I am not able to reproduce this in Twenty Twenty-Two, Twenty Nineteen,  or in my own custom theme (classic).
Are you able to reproduce this problem with other themes than Twenty Twenty-One?

The following CSS from Twenty Twenty-One is overriding the selected link color,
but --wp--style--color--link does not exist so it falls back to the primary color.
[code]
If I remember correctly,  `--wp--sty

[2022-04-11 12:38] oandregal commented on #39889
I've marked this as done as all changes are part of 5.9 or 6.0.

I'm creating a bugfix that modifies this code for something I ran into but can be done after the beta1. For reference, https://github.com/WordPress/wordpress-develop/pull/2542 and https://github.com/WordPress/gutenberg/pull/40185

[2022-04-11 12:47] SamuelMiller opened #40228 "Add support for advanced math in theme.json such as the exponential functions: pow(), sqrt(), hypot(), log(), exp()"
Currently, theme.json only supports basic arithmetic using the calc function, specifically addition, subtraction, division and multiplication. However, the calc in CSS could potentially support an array of other mathematical functions such as pow(), sqrt(), hypot(), log(), exp().

For example in CSS, the pow function (raising A to the power of B) can be useful for strategies like [CSS Modular Scal

[2022-04-11 13:31] jasmussen commented on #40204
Here are a couple of options:
<img width="1000" alt="options" src="https://user-images.githubusercontent.com/1204802/162750005-d7abd08a-064c-41eb-be0e-83bad660e94c.png">

In both of these, the tab style has been massaged, and "Settings" and "Appearance" are sub-tabs of the Block inspector.

The right variant gives a little more prominence to the block description, and makes it a "card" — that help

[2022-04-11 13:44] #39135 closed, assigned to nobody

[2022-04-11 14:01] #32461 closed, assigned to thisissandip

[2022-04-11 14:06] paaljoachim commented on #32461
I just want to inform everyone on this thread that the first version of locking a Reusable block is in place.
A NB! though. This will only lock an instance and not all identical Reusable blocks. This means if a Reusable block has been placed into the content and edit locked that it is not editable.

This means to protect the site we need to first add the Reusable block into the content and lock it

[2022-04-11 14:15] ndiego commented on #40202
Hi @Lovor01, give the following code a try. I am running this in my custom theme:

[code]

Then in my `functions.php` file I have:

[code]

Let me know if that works for you and I'll close out the ticket. Thanks!

[2022-04-11 14:28] ndiego commented on #40219
Hi @KAJALwp, I believe this is an issue that might be isolated to the Twenty Twenty-One theme as @carolinan mentions above. Below is my test using the Twenty Twenty-Two theme and all is working as expected. Not that the Link color setting is hidden by default in the "View options" menu. You need to enable that to change the link color.

![link-testing](https://user-images.githubusercontent.com/483

[2022-04-11 15:08] jameskoster commented on #40208
I imagine it would be implemented separately, but it might be good to keep in mind that pattern transforms could be accessible from this menu as well.

[2022-04-11 15:24] BenWittert commented on #32461
@paaljoachim is this the intended final implementation style for the block lock? Or may it be possible in the future to set all instances to locked?

[2022-04-11 15:26] oandregal commented on #39889
This PR is trying to adapt from the changes in core. No need to backport.

Yeah, no need to backport this one. It's only relevant in relation to a REST endpoint that mobile uses that is yet experimental ([see](https://github.com/WordPress/gutenberg/blob/trunk/lib/experimental/block-editor-settings-mobile.php)).

[2022-04-11 15:30] paaljoachim commented on #40225
AHA thanks to @amustaque97

I noticed the error I made.
There is a Post Comments Form. Which needs to be added it seems for the comment reply box to show up.
The Comments Query Loop block is then added below this...... or so I assume. I will need to experiment.

[2022-04-11 15:35] paaljoachim commented on #32461
Hey Ben

No. This is just one important step.

There are plans to explore how global lock will work.

The following is a comment by @jameskoster
https://github.com/WordPress/gutenberg/pull/39950#issuecomment-1087399547

[2022-04-11 15:35] ockham commented on #40225
Yeah, that's correct. The Comments Query Loop really only shows the comments that have already been posted under the current post (plus pagination links). In order to allow the user to post a new comment, you need to add the Post Comments Form block. Apologies if this wasn't clear!

[2022-04-11 15:36] oandregal commented on #39889
This is also not to be backported. It's code only relevant for Gutenberg.

[2022-04-11 15:39] paaljoachim commented on #40225
Hey Bernie.

I compared the Post Comments block = to the Comments Query Loop block and expected the same features.
Now I know they are not. Good to know.

[2022-04-11 15:47] ALJ commented on #39373
Thanks for bumping this bug report. For me, the problem is across all browsers, at least both Firefox and Chrome. This screenshot is in Chrome (`Version 100.0.4896.75 (arm64)`).

These two screens are the exact same page in the editor. The mobile previews are pulling in opinionated block styles, but the desktop view does not. In this example, I **do not** ever want opinionated block styles pulled

[2022-04-11 15:48] ockham commented on #40225
Yeah, that's a fair assumption 🤔  We might need to clarify that.

[2022-04-11 15:51] skorasaurus commented on #38651
There have been a few newer releases of the gutenberg plugin since 12.5.4; the current version is 12.9; are you able to reproduce this using the newest version of the plugin?

[2022-04-11 15:59] ockham commented on #40223
Hey @paaljoachim, we've considered adding a transform from Post Comments to Comments Query Loop. However, since it would be somewhat complex to implement, we didn't want to make it a blocker that would prevent us from including the new Comments blocks with WP 6.0. Instead, we've opted to deprecate the Post Comments block for now (also hiding it from the inserter).

Furthermore, there's a bit of pr

[2022-04-11 16:01] ALJ commented on #39373
Hi @skorasaurus thanks for taking time to catalogue but I'm not sure `Mobile Web` is the right tag, unless I'm misunderstanding what the tags mean. I would call this a straight-up `Bug`. The block editor _seems_ to not deal with `add_theme_support( 'wp-block-styles' );` consistently when switching preview modes. I'm hesitant to say it more definitively until someone else verifies it, though.

[2022-04-11 16:25] ockham commented on #33583
@paaljoachim Are you suggesting that those Group blocks should infer those names automatically, or that the user should be able to rename them manually (as per this issue's original feature request)?

[2022-04-11 16:29] paaljoachim commented on #33583
Hey @ockham Bernie

"Are you suggesting that those Group blocks should infer those names automatically,..."

No. Those were just my own personal suggestion for renaming. As it would be a bit complex if we automatically added additional names to these.

"....or that the user should be able to rename them manually (as per this issue's original feature request)?"

Yes. It would be easier if the user

[2022-04-11 16:38] juanmaguitar opened #40233 "[Block] Highlight (show first) in the Block Inserter those child blocks specifically related to a parent over the “generic” blocks"
## What problem does this address?

As per this [contributor's feedback](https://make.wordpress.org/test/2022/04/08/help-test-the-comments-blocks-for-wordpress-6-0/#comment-2407)

## What is your proposed solution?

It would be great if the Block Inserter could highlight/promote those child blocks that are specific to a parent block over the “generic” blocks

For example, as explained in this [Cal

[2022-04-11 16:49] badfeather opened #40235 "Method to dequeue 'wp-block-library' in editor"
## What problem does this address?
I would like to write my own styles for the default Gutenberg blocks without writing overrides for default styles. I am able to do this on the front-end using:

[code]

However, the default styles are still loaded in the editor. I have tried the following:

1. `add_action( 'admin_enqueue_scripts', 'mytheme_block_scripts' );`
2. `add_action( 'enqueue_block_editor_

[2022-04-11 17:12] skorasaurus commented on #39373
Thanks for pinging me back @ALJ ; on second read of the question; I misunderstood what you originally wrote in your bug report and thought it was occurring while viewing the preview in a tablet ; that's clearly my fault.

[2022-04-11 17:17] ALJ commented on #39373
All good. Thanks for that!

[2022-04-11 17:33] skorasaurus commented on #39373
Thanks for the report; On second review of this; I am able to reproduce this bug; WP 5.9.3, gutenberg 12.9.0; firefox 99.0 (did not try in chrome)

A hunch that this may be related to https://github.com/WordPress/gutenberg/issues/33346?

[2022-04-11 17:39] ockham commented on #40225
I think I'd like to close this issue, since it's the expected behavior of the Comments Query Loop block. If anything, we need to update the Call-for-testing to clarify this.

@paaljoachim LMK if you disagree, we can re-open if needed!

[2022-04-11 17:49] ntsekouras commented on #39933
👋 - I tried to reproduce in Chrome and FF, but couldn't. Have you noticed some specific series of actions or anything that might help test it?

[2022-04-11 17:55] ntsekouras commented on #40063
Someone could argue that the block toolbar and block actions menu are more about handling blocks as whole.. [This is the approach we will take](https://github.com/WordPress/gutenberg/pull/40098#discussion_r844784257) regarding the `Copy` button in block actions, even if we have partial selection. Personally I don't have a strong opinion on this, but I'm leaning to leaving it as is.

[2022-04-11 17:59] spacedragn commented on #35676
I’m experiencing the same pain points as OP here. In an ideal world, we could natively access any metadata within the _Query Loop > Post Template_ as we do in custom PHP queries with `get_post_meta()`. Is this in the roadmap? I’ve been sifting through open tickets and can’t discern if this is a short term priority.

Right now, I’m unable to hack a solution together using custom shortcodes as OP de

[2022-04-11 18:16] ntsekouras commented on #39913
👋 - in order for the `Replace` functionality to be shown, the user need to [have the right permissions](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/site-logo/edit.js#L380). I could see from the code also that if for any reason you cannot fetch the logo from the REST API, it won't be shown too. This is related to @AdsonCicilioti 's comment:

Regarding the logs, they

[2022-04-11 19:37] paaljoachim commented on #40225
@ockham

I believe the best solution would be to have a new default in the Single Post FSE template.
Instead of the Comments block the new default would be the Post Comments Form block and the Comments Query Loop block. This way there is no question as both block will automatically be added, and one would see the comments area on the frontend.

[2022-04-11 19:38] paaljoachim commented on #40223
Thanks for the comment @ockham Bernie!

[2022-04-11 19:44] paaljoachim commented on #40233
Associated:
Making inner blocks easier to locate.
https://github.com/WordPress/gutenberg/issues/38578

[2022-04-11 20:11] adnanwk commented on #39035
@grappler
I am using the Classic Editor. I am not using GutenBerg.

[2022-04-11 20:34] grappler commented on #39035
@adnanwk Then this would be the wrong place to report the issue. The best place to get help would be https://wordpress.org/support/forum/how-to-and-troubleshooting/

Once the issue can be reproduced, then it may make sense to open a [trac ticket](https://core.trac.wordpress.org/).

You need to check that the Contributor have the `edit_posts` capability for them to be shown in the authors list.

[2022-04-11 23:49] annezazu commented on #40069
To ground this work in some great user insights, here's some feedback from the[ thirteenth call for testing for the FSE Outreach program that touches on this exact scenario:](https://make.wordpress.org/test/2022/03/31/fse-program-testing-call-13-authoring-an-author-template/#comment-2403)

In my opinion, another option would make sense here:
Lock all blocks contained in the block.
If a group block

[2022-04-12 00:12] annezazu opened #40238 "Ensure new template options aren't empty (author, date, taxonomy, category, tag)"
## What problem does this address?

The emptiness of the various new templates for 6.0 has come up twice now in pieces of [FSE Outreach Program feedback for the thirteenth call for testing: ](https://make.wordpress.org/test/2022/03/31/fse-program-testing-call-13-authoring-an-author-template/)

## What is your proposed solution?

For each new template being added, ensure where possible there are so

[2022-04-12 00:57] brookewp commented on #39073
Thanks for the issue! I appreciate the example you shared for a wide width Search block, @richtabor. Do you have a use case in mind for a full width Search block?

I quickly looked into this and it appears like it would be fairly straightforward to implement assuming we could just adjust the block supports. However, it looks like a custom width option was chosen over wide/full width options in #24

[2022-04-12 01:09] annezazu opened #40240 "Ideas for improving the No Results block"
In exploring the No Results block as part of the [thirteenth call for testing for the FSE Outreach Program](https://make.wordpress.org/test/2022/03/31/fse-program-testing-call-13-authoring-an-author-template/), a few pieces of feedback have come in to help improve the current experience:

- Update the default text to be grammatically correct/more intuitive. Current: "Add a text or blocks that will

[2022-04-12 01:39] peterwilsoncc opened #40241 "Comment query block isn't lazy loading meta data."
### Description

In `build_comment_query_vars_from_block` the comment meta cache isn't updated on the basis the the comment data is lazy loaded.

However, there are no calls within the code base to `wp_queue_comments_for_comment_meta_lazyload( array $comment_objects )`, so if any meta data is used in comments it will trigger a database call for each individual comment.

The function should be used

[2022-04-12 01:49] talldan commented on #40235
This might be outdated, but I thought you'd only receive the default block styles if you have `add_theme_support( 'wp-block-styles' )` defined.

Some more info in the documentation here - https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-support/.

[2022-04-12 03:01] ddryo opened #40243 "When editing a link in a button block, linkTarget is reset even though only the url is changed."
### Description

https://user-images.githubusercontent.com/31400297/162871564-3a4a2d94-fc2a-47cf-8615-ad60b2229ea8.mp4

### Step-by-step reproduction instructions

1. Set up a button block.
2. Set the URL for the link and turn on "Open in new tab".
3. Edit the URL using the "Edit" button and click the "Submit" button to save.
4. Then "Open in new tab" will be turned off.

### Screenshots, screen r

[2022-04-12 03:28] ALJ commented on #40235
Because @badfeather specifically mentioned `wp-block-library` they might be trying to go deeper than `add_theme_support( 'wp-block-styles' )`. [The documentation](https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-support/#default-block-styles) is unclear and conflates a couple of things under one vague heading ("Default block styles"):

1. There are **opinionated styles** tha

[2022-04-12 03:36] talldan commented on #40235
I see, thanks for adding some extra detail. Seems like there might be an opportunity to improve those docs.

Maybe @badfeather will be able to confirm whether that code works.

[2022-04-12 03:37] #39120 closed, assigned to kevin940726

[2022-04-12 03:37] #39121 closed, assigned to kevin940726

[2022-04-12 03:38] glendaviesnz commented on #40190
Thanks for reporting. This was [removed here](https://github.com/WordPress/gutenberg/pull/38164/files#diff-41629d44df4cc8609f305c127f4f22111c6853e357645e1b3eb88a1d906360b0L144), and this change went out in the 12.9 release.

[2022-04-12 03:38] #40190 closed, assigned to glendaviesnz

[2022-04-12 05:22] kevin940726 commented on #38595
The new error was from an outdated branch, closing it again.

[2022-04-12 05:22] kevin940726 commented on #38594
The new error was from an outdated branch, closing it again.

[2022-04-12 05:23] kevin940726 commented on #34805
The new error was from an outdated branch, closing it again.

[2022-04-12 05:23] glendaviesnz commented on #38833
@jorgefilipecosta I had a quick look and it appears to be this [onChange callback](https://github.com/WordPress/gutenberg/blob/trunk/packages/components/src/palette-edit/index.js#L215) that is causing the issue as every keystroke causes the elements prop to be updated forcing a rerender. Adding a debounce to this call fixes the issue - there may be another option but I ran out of time to investiga

[2022-04-12 05:40] Mamaduka commented on #27994
I'm no longer able to reproduce the issue. Fixed via #27945.

https://user-images.githubusercontent.com/240569/162888565-fda93289-d016-472c-b846-d5bc3e86b8da.mp4

[2022-04-12 05:40] #27994 closed

[2022-04-12 06:01] theminaldiwan commented on #40235
Hi @badfeather

This might be helpful for your query trying to add following line in your functions.php file
If you want to use theme.json without template editing, remove the theme support:
remove_theme_support( 'wp-block-library' );

also refer below URL it will be helpful for you.
[https://fullsiteediting.com/lessons/how-to-remove-default-block-styles/](https://fullsiteediting.com/lessons/how-t

[2022-04-12 06:03] paaljoachim commented on #40069
I agree. This means if one locks a parent container that everything inside the container should automatically also become locked.

[2022-04-12 06:06] #40064 closed, assigned to glendaviesnz

[2022-04-12 06:10] carolinan commented on #40240
Please suggest an alternative text, so that we can update it before the 6.0 string freeze.

@ndiego Realistically, would you have time to work on a component for displaying blocks conditionally?

For the search results page, we can't rely on the query block knowing if there are results or not while we are in the editor,
so I'm thinking it can't be automated, user action is needed.

WooCommerce rel

[2022-04-12 06:17] paaljoachim commented on #38321
A question comes up...
Should we be able to choose one of the default avatars or an image from the media library?

Use case. Let's say that I find this really cool free avatar image online and want to use it for my profile.
It would be helpful to replace the default avatar with one I add to the media library.

[2022-04-12 06:24] getsource commented on #24337
@richtabor Do you still think it makes sense to do this, given that it's able to be controlled by block themes directly?

[2022-04-12 06:30] paaljoachim opened #40247 "[Block] Comments Query Loop block additional options."
## What problem does this address?

Let's say that I want to add a background color to the Comments Query Loop.
The result could be something like this:

![Screenshot 2022-04-12 at 08 22 44](https://user-images.githubusercontent.com/5323259/162894015-207d0683-4daf-4c04-9b85-64841bc9494b.jpg)

## What is your proposed solution?

The wapu and the text is nudged up to the edge. Here it would be helpf

[2022-04-12 06:41] Trapsta commented on #39696
Correct, I have confirmed that this is fixed in `v13.0.0-rc.2`. Closing the ticket. Thanks @amustaque97 for checking it out

[2022-04-12 06:41] #39696 closed, assigned to nobody

[2022-04-12 06:41] paaljoachim opened #40248 "[Block] Comments Query Loop block not splitting comments into initial written paragraphs"
## What problem does this address?

I noticed that adding lots of text in paragraphs, shows all the text lumped together into one text.

Result:
![Screenshot 2022-04-12 at 08 38 37](https://user-images.githubusercontent.com/5323259/162896897-513217ef-f945-4964-a192-f9767923c366.jpg)

## What is your proposed solution?

Have it split into the paragraphs it was written in.
![Screenshot 2022-04-12 at

[2022-04-12 06:46] Trapsta commented on #37241
@karmatosed, I think we can close this ticket based on the feedback in https://github.com/WordPress/gutenberg/pull/39273 . The sentiment is for the buttons' order to remain the same and updating the style of the cancel button to tertiary has already been taken care of in a different PR

[2022-04-12 06:53] getsource commented on #25130
Related: #18593

[2022-04-12 06:57] getsource commented on #18593
Related: #16297, #25130.

It's looking like a core bug, so I'm not sure if it's better to swap where it's being tracked anyway, but in the meantime, should we pick one of the three, and consolidate?

[2022-04-12 06:58] SantosGuillamot commented on #40225
We could also add the Post Comments Form block to the [Comments Query Loop template](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/comments-query-loop/edit.js#L11-L67), the same way we are adding the inner blocks directly. This way, whenever the Comments Query Loop is added, the Post Comments Form block would show. Do you think that could help?

[2022-04-12 07:09] paaljoachim commented on #40225
Hi @SantosGuillamot Mario

Yes. That would be the best solution! As it keeps everything that has to do with comments in one parent container block.

[2022-04-12 07:11] paaljoachim commented on #40225
I reopened the issue and changed the title.

[2022-04-12 07:22] mxkyb opened #40249 "`templateLock: 'all'` prevents block recovery with `templateLock: false`"
### Description

When using blocks with inner blocks and block templates, an outer `templateLock: 'all'` will prevent the inner block with `templateLock: false` from getting its children restored in the block editor.

### Step-by-step reproduction instructions

1. Open an empty site editor, e.g. "wp-admin/themes.php?page=gutenberg-edit-site"
2. Add the `Container` block
3. Create a third paragraph

[2022-04-12 07:27] talldan opened #40250 "Post, Site and Widgets Editors - List View is in a region named 'Block Library'"
### Description

The List View feature is in a `region` called Block Library.

This is probably a side effect of the feature being implemented in the same interface skeleton area as the Block Library, but unfortunately it leads to some incorrect semantics.

The region probably needs a different name.

### Step-by-step reproduction instructions

1. Go to any one of the above editors
2. Open List Vi

[2022-04-12 07:32] paaljoachim opened #40251 "[Block] Comment Author Name block - changing alignment or color has no effect on frontend"
### Description

I noticed that adjusting the alignment and color the change will be seen on the backend but not the frontend.

### Step-by-step reproduction instructions

1. Add the Comments Query Loop block.
2. Select the Comment Author Name block.
3. Change the alignment and color.
4. Check the frontend to see the changes. I noticed no change.

### Screenshots, screen recording, code snippet

B

[2022-04-12 07:51] paaljoachim opened #40255 "[Block] Comment Template color adjustment -> Overrides inner child color adjustments"
### I have edited this issue. 26 July 2022

### Description

Examples
Comments > Comment Template > Columns > Column > Row > Comment Date and Comment Author. Change the link color of each.

Comment Template. Change the Link color and notice that it also affects the inner blocks where the color has already been adjusted.

### Step-by-step reproduction instructions

1. Add the Comments Query Loop bl

[2022-04-12 07:53] SantosGuillamot commented on #40225
I have just created this [Pull Request](https://github.com/WordPress/gutenberg/pull/40256) to work on it.

[2022-04-12 07:55] guillaumer commented on #38944
Experiencing the same issue on a Linux server (nothing on my Windows machine). This might also be related to https://github.com/WordPress/gutenberg/issues/11981.

Experiencing same otherwise, get_theme_file_uri() and get_parent_theme_file_uri() must be avoided, with the direct path to be specified (see above), and with a different editor file name between the parent and child themes.

[2022-04-12 08:07] paaljoachim opened #40257 "[Block] Comment Template -> Columns -> change parent and inner blocks text colors"
### Description

1.  Comment Template -> Columns. Change the text color to white.
2.  Click Comment Date/Comment Author. Change the text color to green.

Which should decide the color of the Comment Date/Comment Author?
Parent or the inner block itself?

### Step-by-step reproduction instructions

See above.

### Screenshots, screen recording, code snippet

Backend Columns selected.
Notice Color:

[2022-04-12 08:53] jameskoster commented on #38321
Yes, probably! Though I think that's a separate issue.

[2022-04-12 09:10] KAJALwp commented on #40219
Hello @ndiego

I have tried to enable Link color setting which is hidden by default in the "View options" menu to change the link color. When I try to add background color for paragraph block link-text color is removed and shows default text-color and also after that Link color is not working properly in Theme Twenty Twenty-one.
For better understanding I provide video attachment link.

Video URL:

[2022-04-12 09:15] formosattic opened #40261 "Query Loop Block: Grid style preview improperly displays the layout styles"
### Description

In the editor, the Query Loop block doesn't properly display some of the layout styles of the Grid view.
This was brought up in https://github.com/Automattic/wp-calypso/issues/62289

### Step-by-step reproduction instructions

* Add a Query Loop block on a page.
* Select the Grid View.
* Scroll down to see the preview of each style.

### Screenshots, screen recording, code snippet

[2022-04-12 09:37] SergeGusev commented on #39913
**ntsekouras,** thank you, looks like you are correct. When I try to execute the site unders IIS, I have the described problem. But when I'm working with Build-in local server, I can see Upload button and Replace button.

I'm sure my **wp-content** folder has enough permissions. But maybe Gutenberg works with another folder? Where can I find/set this option to check necessary permissions?

[2022-04-12 09:49] Andrew-Starr commented on #40064
Just want to mention https://github.com/WordPress/gutenberg/issues/39944 in case there is any chance it could be related.

Not too sure what components (if any) are shared across site editor and post editor in regard to block style previews.

[2022-04-12 09:49] vyskoczilova commented on #40183
HI @skorasaurus thanks a lot. I know that I can get rid of them in the frontend, but backend styles are overwriting my styles and instead of having just only one set, I need to develop styles for the editor as well :( I thought that having compact and prefixed blocks will solve this problem, but since all bunch of styles are inline it causes a lot of troubles.

[2022-04-12 10:03] ntsekouras commented on #39913
Oh.. I linked something wrong in my previous comment 😄 . The place we check permissions is here:https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/site-logo/edit.js#L380.

It's not about directory permissions, but it's about user permissions.

[2022-04-12 10:08] jameskoster opened #40264 "Comments: Make it possible to create a "X replies to `post title`" heading"
You can kind of hack it with a Row containing Paragraphs, Post Comments Count, and Post Title blocks:

<img width="864" alt="Screenshot 2022-04-12 at 11 00 25" src="https://user-images.githubusercontent.com/846565/162934837-b9d6fc94-1db3-4cfc-a01f-59a6bf6a1eb0.png">

There are a couple of issues with this approach:

1. Typography controls across blocks are inconsistent, so it's difficult to create

[2022-04-12 10:11] avblink commented on #34445
Is this issue being addressed?
I also need to separate text colors from background colors.

[2022-04-12 10:13] nerrad commented on #39281
Conceptually, template parts and sections appear to overlap quite a bit. What are the primary differences between them and why do they need to be distinct elements?

[2022-04-12 10:24] jameskoster opened #40267 "Nested Comments: More granular design control"
Replies in Comments Template have a hardcoded indentation (via padding) applied which is a bit limiting from a styling perspective, unless you're prepared to dig into custom css. At the very least we might make it possible to adjust this value in the UI (and choose between `padding` and `margin` for styling purposes).

A step further would be to present each indentation level on the canvas, thereb

[2022-04-12 10:25] carolinan commented on #40219
@KAJALwp Are you able to reproduce this problem with other themes than Twenty Twenty-One?
I am asking because if the problem is limited to Twenty Twenty-One, we need to solve it in the theme and not in Gutenberg.

[2022-04-12 11:02] rickmgithub commented on #38381
Adding an additional report.

I can replicate this on a test site too using both a blockbase theme and Twenty Twenty

![Markup on 2022-04-12 at 12:02:06](https://user-images.githubusercontent.com/13706336/162946188-572b6fc7-cd6f-4cc7-8222-68f35a60fc67.png)

[2022-04-12 11:15] paaljoachim opened #40269 "[Block] Comments Query Loop block - alignments"
### Description

I began experimenting with alignments in the toolbar of the Comments Query Loop block.
Frontend:

![Wide comments query loop block](https://user-images.githubusercontent.com/5323259/162947639-98638edb-a73c-407f-b830-67a6fb986754.jpg)

It is not clear to me what the alignment does. As I could not notice any difference between selecting the various.
None, Align left, Align center, A

[2022-04-12 11:23] paaljoachim opened #40271 "[Block] Avatar block - right alignment is not working correctly."
### Description

Testing alignments with the Author block .
Comments Query Loop -> Comment Template -> Columns -> Column -> Avatar

Example switching to Align right shows this.
Backend.
![Screenshot 2022-04-12 at 13 20 39](https://user-images.githubusercontent.com/5323259/162949226-e3d66878-85fc-4624-a6a2-f6b87bf0b914.jpg)

Frontend.
![Screenshot 2022-04-12 at 13 21 52](https://user-images.githubu

[2022-04-12 11:34] Alexus450 commented on #40154
@talldan the issue appears only if the sign $ and a digit are inputted in the attributes values. Not in the content of the block itself

[2022-04-12 11:35] paaljoachim opened #40272 "[Block] Comments Query Loop block - Comment Template - Row - Change vertical alignment"
### Description

I am now testing the Comments Query Loop > Comment Template > Columns > Column > Row.
Change vertical alignment.
Align top moves the Edit link and not the Comment Date.

![Screenshot 2022-04-12 at 13 31 16](https://user-images.githubusercontent.com/5323259/162950909-1e4a52bf-42e3-46b5-a7af-dce14768ed05.jpg)

Edit is only seen by the user who is logged into the site, but the Commen

[2022-04-12 11:38] Mamaduka commented on #40224
Related #37891.

[2022-04-12 11:38] priethor commented on #40139
Thanks @kjellr, I triaged it and added to the list 💯

[2022-04-12 11:50] KAJALwp commented on #40219
Hello @carolinan

I have checked the Twenty-Twenty and Twenty Twenty-Two theme and I can't reproduce this issue in Twenty Twenty-Two theme. but there is no separate option for Link-text color in Twenty-Twenty theme in the "View Option" menu and it's working fine with Text color option.

Thanks

[2022-04-12 12:06] Mamaduka commented on #39008
I will close this since the general discussion is happening in #38299.

[2022-04-12 12:06] #39008 closed, assigned to nobody

[2022-04-12 12:22] Mamaduka commented on #37471
Maybe we can drop the label and description variations altogether. Instead, use singular form for labels and plural for descriptions. All other labels are in this form, making it consistent.

@ockham, what do you think?

[2022-04-12 12:25] SergeGusev commented on #39913
It is interesting, because I work with the same user on the same computer with the same site and the same database, I'm sure. The only difference - using IIS or Build-in server. This is video - first half of them I work with Build-in server (and the buttons do exist), then I work with IIS and there are no buttons.

https://drive.google.com/file/d/1XejPKunXhPyT15GoGZmqIHhCOAHDbpxI/view?usp=sharing

[2022-04-12 12:52] scruffian commented on #29167
I had a go at adding support for a button element: https://github.com/WordPress/gutenberg/pull/40260

[2022-04-12 13:34] jameskoster commented on #39281
Reusable Blocks, too :)

My mental model defines Reusable Blocks as Sections that have been marked as globally synchronised. And Template Parts are Reusable Blocks that are marked with a specific purpose with regards to template composition. It's unclear how all this will ultimately manifest in the UX. There's plenty of interesting discussion around this subject in https://github.com/WordPress/gut

[2022-04-12 13:42] ciampo commented on #37506
New approach with `framer-motion`'s shared animation layout in #40276

[2022-04-12 13:44] ndiego commented on #38167
Given @ramonjd most recent comment, I am removing this from the [6.0 Project Board](https://github.com/orgs/WordPress/projects/27/views/1).

[2022-04-12 13:48] ockham commented on #37471
Hey @Mamaduka, thanks for the ping!

@aristath [Your point](https://github.com/WordPress/gutenberg/issues/37471#issuecomment-997676136) about differentiating between plural forms is very valid and the reason why I used `_n()` in the first place. However, since we're dealing with "indefinite" plurals here (without a number), we might not have to worry about those. (E.g. I think pretty much all lang

[2022-04-12 13:57] ibes commented on #21698
Any wise person who can help there?

This is also a limitation that bothers me with Gutenberg.
And I don't know if it is an architectural limitattion or just a knowledge limitiation that I can learn to overcome.

[2022-04-12 13:58] Mamaduka commented on #37471
Thanks for the feedback, @ockham.

I think `( 1 === n )` is a simple enough change for this case so that we can go with it. I will follow up with PR later today or tomorrow morning.

Re `_n` usage, I was only able to find this comment explaining the issue - https://developer.wordpress.org/reference/functions/_n/#comment-2397.

[2022-04-12 14:38] ndiego commented on #40080
@getdave can this issue be closed since #40083 has been merged?

[2022-04-12 14:44] mcsf commented on #39654
## A new /patterns directory for themes

WordPress 6.0 makes it easier for themes to define their own block patterns. Themes can now define block patterns as files in the `/patterns` directory:

<img width="171" alt="devnotes-patterns-directory" src="https://user-images.githubusercontent.com/150562/162987177-f05f547e-51e9-4284-97fb-a8429489eabe.png">

Each pattern file consists of a set of plugin-

[2022-04-12 14:47] johngodley opened #40277 "Problem redoing after undoing to start of history in some situations"
### Description

It's sometimes possible to lose editor undo history by undoing to the start of the editor history. In some situations when you try to redo the history it is no longer available.

### Step-by-step reproduction instructions

With top toolbar option enabled (haven't tried with inline toolbar):

1. Open editor and type a single letter (e.g. `a`)
2. Press `cmd+z` to undo. Note the form

[2022-04-12 15:40] DaisyOlsen commented on #34010
I've run into this issue and wondered if it was intentional or not. From a theme development standpoint the ability to set full and contained widths via the site editor feels pretty important.

[2022-04-12 16:14] Andrew-Starr opened #40279 "Default/core colors missing from 'Highlight' palette."
### Description

When a theme has defined its own color palette in theme.json the core/default color palette is missing from the 'Highlight' block tool.

This bug is present even with `settings.color.defaultPalette:true` in the theme.json

Completely removing the theme's color palette is the only way to enable the core /default colors in the Highlight block tool.

IMO this should behave the same a

[2022-04-12 16:34] Andrew-Starr commented on #40279
### Core/default colors are present in the block sidebar.
![highlight-core-colors-missing](https://user-images.githubusercontent.com/94701043/163010652-04b4ef1f-5867-4253-98bc-a442f2dc4274.png)

### However the same core/default colors are not available in the Highlight block tool.
![highlight-core-colors-missing-2](https://user-images.githubusercontent.com/94701043/163010864-9a3d5f41-9e5c-453c-82

[2022-04-12 16:38] skorasaurus commented on #38381
related: https://github.com/WordPress/gutenberg/issues/12168 and https://github.com/WordPress/gutenberg/issues/12168

[2022-04-12 16:41] markhowellsmead opened #40280 "Modifying block gap on wrapper elements quickly breaks the cascade"
### Description

If I modify the block gap on a specific wrapper element, then this CSS custom property value inherits down to all descendants unless explicitly overridden. This isn't maintainable for an endlessly customisable stack of HTML elements.

### Step-by-step reproduction instructions

Assuming the following structure:

    .wp-site-blocks
        .wp-block-columns
            .wp-block-c

[2022-04-12 16:53] markhowellsmead commented on #40280
I've set up a pen at https://codepen.io/permanenttourist/pen/QWaVwbO?editors=1100 to explain what I mean.

[2022-04-12 16:55] badfeather commented on #40235
@ALJ A-hah! Yes, your method for opting out of structural styles did the trick. I Added the following to my theme (slightly modified):

[code]

@theminaldiwan To confirm, I did try adding `remove_theme_support( 'wp-block-library' );`. This had no effect.

Thank you all for looking into it!

[2022-04-12 17:07] paaljoachim opened #40281 "[Avatar block] Add a way to add custom avatar image."
## What problem does this address?

Currently there is no way to add a custom avatar image to the avatar block seen in the Comments Query Loop.
@javierarce suggested a way to select from the default avatars in this issue made by @jameskoster :
Comment Author Avatar: Consider making it possible to manipulate avatar_default
https://github.com/WordPress/gutenberg/issues/38321

## What is your propose

[2022-04-12 17:08] paaljoachim commented on #38321
Separate issue created with focus on selecting a custom avatar. I modified the mockups from @javierarce
https://github.com/WordPress/gutenberg/issues/40281

[2022-04-12 17:23] samxmunoz commented on #32644
+1

Negative margin allowing for overlapping elements is essential.

[2022-04-12 18:21] iansvo commented on #39999
I'm going to be working on a PR for this and hopefully will have something in this week!

[2022-04-12 19:30] loganwisniewski commented on #38875
Hi there, I am a first time contributor and saw this was a Good First Issue and still Open. I'd like to use this task as an opportunity to get familiar with the Git workflow required to contribute. I appreciate the contributor guide posted above and plan to contribute this by no later than tomorrow if it's, indeed, alright that I use this task as my first contribution.

[2022-04-12 19:32] jimhill1099 commented on #6378
You could have disabled that Comodo WAF rule just to test and see if that was the culprit by and entry in your htaccess file (assuming your host uses that mechanism, WP Engine went away from it).

`<IfModule security2_module>
    SecRuleRemoveById 225170
</IfModule>`

Or, if you have access to the server just disable it in the Apache config, or in WHM under Vendors just uncheck that rule. Or, if u

[2022-04-12 19:35] annezazu commented on #39293
As a quick logistics update, **this has been removed from the project board for the WordPress 6.0, meaning the beta label will remain in place as it is now for WordPress 6.0.** The Site Editor, along with the various flows within, still needs refinement and, ahead of future WordPress releases, that decision can be revisited. In the meantime, folks are welcome to continue to share points of discuss

[2022-04-12 19:39] darkonelson commented on #38062
It happens to me too. Astra theme and UAG blocks after WP5.9 version.
And after 5.9.3 problem remains the same.

[2022-04-12 21:38] mvaleno commented on #12775
How do you expose this method to the console? If I try the above I get undefined for: getBlockTypes()

[2022-04-12 22:51] swissspidy commented on #12775
It‘s wp.blocks.getBlockTypes(), not just getBlockTypes()

I recommend checking the block editor handbook for details & the forums for further help.

[2022-04-12 22:56] mvaleno commented on #12775
I did use  wp.blocks.getBlockTypes(), the console gave undefined on the method part .getBlockTypes().

I will look into documentation.  Thank you!

[2022-04-12 23:08] annezazu opened #40286 "Adding additional templates types (author, date, taxonomy, etc) flashes default template content"
### Description

When adding new template types thanks to this PR https://github.com/WordPress/gutenberg/pull/39353, the content of the default template flashes before showing a blank template.

### Step-by-step reproduction instructions

1. Open the Site Editor.
2. Go to the Template List.
3. Click "Add" and select one of the new template types (date, taxonomy, author, etc).
4. Notice the problem

[2022-04-12 23:33] #22094 closed

[2022-04-13 00:17] #40209 closed, assigned to andrewserong

[2022-04-13 00:48] talldan commented on #40154
@Alexus450 That is what I tested and it wasn't a problem. I'd recommend reaching out to the plugin developers. I'll close this issue.

[2022-04-13 00:48] #40154 closed, assigned to nobody

[2022-04-13 00:55] goldtreefrog commented on #23509
I am running WordPress 5.9.3 (with a child theme of GeneratePress, but I think this is not a theme issue). I am using a classic block because I already had HTML code for the table I need and pasting it in was the fastest way to get it in there. At small screen sizes, I need hypenation. I can insert a soft hyphen and watch it magically disappear as soon as I save the draft, sometimes sooner. When I

[2022-04-13 01:17] annezazu commented on #39455
I was going to open a new issue when I found this one. It seems as though multi-select is broken and it matches what is described here. I'm using WordPress 6.0 Beta 1 and TT2:

https://user-images.githubusercontent.com/26996883/163079902-a09dc8c9-5e37-41b2-9df9-6d34eacd4dfe.mov

Going to add this to the 6.0 board as this seems important to resolve as it currently seems to break the multi-select fu

[2022-04-13 01:23] nekohayo opened #40287 "Hijack the browser's right-click contextual menu when right-clicking on any part of the items in the FSE / Gutenberg post's blocks hierarchy list view sidebar"
## What problem does this address?

With the list view sidebar activated on the left side of the Gutenberg editor, whether for posts/pages or for the FSE, I'm always annoyed when I right-click those items in the list and end up with my browser's (Firefox's) contextual right-click menu full of options irrelevant to my intended action regarding that interactive non-content widget (the list view), wh

[2022-04-13 02:21] zaguiini opened #40288 "[Fonts API] How to handle duplicate font variations"
Part of #41479.

## What problem does this address?

It's not clear to the end-user how the Fonts API will behave regarding the registration and enqueueing of duplicated font variations.

Only enqueued fonts are added as inline styles in the front-end.

### API scenarios

<details>
<summary>Trying to register a font face that was already registered</summary>
<br>

[code]

Which one should take pre

[2022-04-13 02:22] zaguiini commented on #40288
Would definitely like some input here.

cc @creativecoder @jeyip @mattwiebe @Addison-Stavlo @hellofromtonya @mtias @aristath

[2022-04-13 03:11] dashkevych opened #40289 "Missing a CSS class of default style in block"
### Description

Use case (example).

I have a global CSS styles for the Example block. They can be added by applying CSS styles to `.wp-block-example`.

In addition, I want to add styles just to a default block style. It can be done using `.wp-block-example.is-style-default`.

However, this class (`.is-style-default`) is not added to the block by default, although the Block editor indicates that

[2022-04-13 03:34] glendaviesnz commented on #39944
I was able to replicate this:

https://user-images.githubusercontent.com/3629020/163094969-8d50a24d-d12d-49c2-bbbe-ce9cb5a7b9fb.mp4

[2022-04-13 04:01] #37085 closed, assigned to talldan

[2022-04-13 04:15] andrewserong commented on #40063
I think I'm leaning slightly that way, too, since it can be difficult to predict intent just from the existence of a partial selection.

[2022-04-13 05:13] carolinan opened #40291 "e2e - file names are too long on windows"
## What problem does this address?

@JustinyAhin I believe this is related to the switch to Playwright. Either way it is a recent issue.
When I try to work with Gutenberg changes and for example stash my local changes, I get errors like these:

[code]
I have already moved my installation to a shorter path, but it is still too long.
` test/e2e/specs/editor/various/copy-cut-paste-whole-blocks.spec.j

[2022-04-13 05:47] rolf-yoast commented on #32644
+1

I need it for a design I'm currently building.

[2022-04-13 06:11] carolinan commented on #38062
@darkonelson Correct, the fix ix not in WordPress 5.9.3. It is in 6.0 beta.

[2022-04-13 06:28] kmadhak commented on #38651
Hello @skorasaurus ,

Yes I have updated the Gutenberg plugin to 12.9.0, and yes I am facing same issue.

Thank you.

[2022-04-13 06:50] darkonelson commented on #38062
Thank you Carolinan for your information.

[2022-04-13 07:13] talldan commented on #40080
@ndiego I don't think Dave is around at the moment. I agree it can be closed. I did a double-check over the PRs to make sure there were no new APIs being exported that also needed to be made plugin only, and I couldn't see any.

[2022-04-13 07:13] #40080 closed, assigned to nobody

[2022-04-13 07:21] justintadlock commented on #32836
There doesn't seem to be much traction for this, so I created a block plugin for it instead: https://github.com/x3p0-dev/x3p0-comment-parent-link

Closing this for now, but feel free to reopen if there is any interest in bringing it to core.

[2022-04-13 07:21] #32836 closed, assigned to nobody

[2022-04-13 07:33] jasmussen commented on #38381
@Robertght or @rickmgithub can you provide some example content that I can test? Using the latest plugin version testing against TwentyTwenty and TwentytTwentyTwo it's working as it should for me:

![tt2](https://user-images.githubusercontent.com/1204802/163123836-3879b98b-883f-4042-966b-dc2505a8770d.gif)

![tt](https://user-images.githubusercontent.com/1204802/163123845-9a845cad-d654-46b2-85e1-21

[2022-04-13 07:36] minaldiwan opened #40297 "Stack block affects layout of block editor list block"
### Description

When we wrap block editor list block inside stack block so its affects layout of block editor.
Editor list block width should be full width as same group block.

### Step-by-step reproduction instructions

1.Go to editor side of page/post
2.then add stack block and inside cover or button anything
3.after adding new block editor list block (paragraph block)width affects

### Screen

[2022-04-13 07:36] #40297 closed, assigned to nobody

[2022-04-13 07:38] theminaldiwan opened #40298 "Stack block affects layout of block editor list block"
### Description

When we wrap block editor list block inside stack block so its affects layout of block editor.
Editor list block width should be full width as same group block.

### Step-by-step reproduction instructions

1.Go to editor side of page/post
2.then add stack block and inside cover or button anything
3.after adding new block editor list block (paragraph block)width affects

### Screen

[2022-04-13 07:39] jasmussen commented on #38381
As an update, I did find a way to reproduce it after all. If you just insert an image, **without resizing it manually**, it works like noted above.

As soon as you resize the image manually, however, the image gets an explicit size and stops being responsive:
![resized](https://user-images.githubusercontent.com/1204802/163124627-41997b66-b527-4bce-a997-0a1b4c0885b2.gif)

That issue is **editor onl

[2022-04-13 07:55] jameskoster commented on #40238
https://github.com/WordPress/gutenberg/pull/37258 would fix this.

[2022-04-13 08:17] talldan commented on #35079
I did some debugging. From what I can tell this is related to particular blocks being used inside Template Part rather than the template part itself.

As an example, add a Site Title into a Reusable Block, and the Reusable Block also has this issue.

So what's different about a Site Title? The only thing I've been able to change to stop this from happening is the tag name used by the site title. C

[2022-04-13 08:36] aezazs-multidots opened #40299 "Link Color Option Missing for Header and Paragraph Text"
### Description

When we use any WordPress default theme other than **Twenty Twenty Two** and when we use heading and paragraph block in it, then the link color option is missing in the color option of its text.

<img width="1438" alt="image" src="https://user-images.githubusercontent.com/72435501/163119799-715598e6-5643-4312-a361-bb10423b2826.png">

And when we use the **Twenty Twenty Two** theme

[2022-04-13 08:39] swissspidy commented on #12775
Works like a charm in latest WP version:

<img width="1728" alt="Screenshot 2022-04-13 at 10 38 30" src="https://user-images.githubusercontent.com/841956/163135954-00798790-c7fc-4ad1-8468-05450fd8f7d8.png">

[2022-04-13 08:48] github-actions[bot] opened #40300 "[Flaky Test] should forward delete from an empty paragraph"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should forward delete from an empty paragraph

## Test path
`/test/e2e/specs/editor/various/splitting-merging.spec.js`

## Errors

<time datetime="2023-08-17T15:14:43.515Z"><code>[2023-08-17T15:14:43.515Z]</code></time> Test passed after 1 failed attempt on <a href="https://

[2022-04-13 08:48] github-actions[bot] opened #40301 "[Flaky Test] should insert block with the slash inserter when using multiple words"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should insert block with the slash inserter when using multiple words

## Test path
`/test/e2e/specs/editor/various/inserting-blocks.spec.js`

## Errors

<time datetime="2022-04-18T13:27:07.025Z"><code>[2022-04-18T13:27:07.025Z]</code></time> Test passed after 1 failed attem

[2022-04-13 09:16] Andrew-Starr commented on #40298
Where is the "Stack" block? Is this from another plugin?

From your screen recording it looks like a variation of the Group block, but I don't see this in Gutenberg.

[2022-04-13 09:19] JustinyAhin commented on #40291
~~@carolinan oh this is because when we migrate a new test to Playwright, we delete the original one. This error in particular should be related to https://github.com/WordPress/gutenberg/pull/39807.~~

cc @kevin940726

[2022-04-13 09:21] kevin940726 commented on #40291
Oh wow, I didn't know that there's a file name limit on Windows. I'll see what I can do.

[2022-04-13 09:23] kevin940726 commented on #40291
Possible temporary solution: https://stackoverflow.com/questions/22575662/filename-too-long-in-git-for-windows

[2022-04-13 09:30] Andrew-Starr commented on #40289
FWIW I would like to see `is-style-default` removed completely.
Adding it by default would see every and all blocks carrying this extra class needlessly.

When clicking the Default style to remove a previously selected additional style, the `is-style-default` class should not be added to the markup IMO.

[2022-04-13 09:41] Andrew-Starr commented on #40299
The link color option is opt-in through the theme's `theme.json` file with either `settings.color.link:true` or `settings.appearanceTools:true`

Twenty Twenty One does not opt-in to this, while Twenty Twenty Two does.

[2022-04-13 09:45] github-actions[bot] opened #40303 "[Flaky Test] should copy only partial selection of text blocks"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should copy only partial selection of text blocks

## Test path
`/test/e2e/specs/editor/various/copy-cut-paste.spec.js`

## Errors

<time datetime="2022-04-13T10:32:59.201Z"><code>[2022-04-13T10:32:59.201Z]</code></time> Test passed after 1 failed attempt on <a href="https:/

[2022-04-13 09:51] github-actions[bot] opened #40304 "[Flaky Test] should respect inline copy in places like input fields and textareas"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should respect inline copy in places like input fields and textareas

## Test path
`/test/e2e/specs/editor/various/copy-cut-paste.spec.js`

## Errors

<time datetime="2023-11-07T22:52:40.305Z"><code>[2023-11-07T22:52:40.305Z]</code></time> Test passed after 1 failed attempt

[2022-04-13 10:23] #39455 closed, assigned to ntsekouras

[2022-04-13 10:24] ndiego commented on #35079
Thanks for doing some debugging @talldan. Is this a bug we think we can reasonably tackle for 6.0? Just trying to figure out what needs to remain on the 6.0 Project Board. Thanks!

[2022-04-13 10:25] jsnajdr opened #40305 "Add register_block_patterns action"
This issue continues discussion that started in https://github.com/WordPress/gutenberg/pull/36751#discussion_r830937588

To let plugin authors reliably register block patterns (and categories) at the right time, we should introduce actions called `register_block_patterns` (sync) and `register_remote_block_patterns` (async).

The WordPress.com Editing Toolkit plugin currently registers new patterns

[2022-04-13 10:25] juanmaguitar opened #40306 "[Blocks] Output of comment_class() is not added to each comment element."
## What?
Customization of comments is limited with the [new "Comments Query Loop” and the new set of Comments blocks ](https://make.wordpress.org/test/2022/04/08/help-test-the-comments-blocks-for-wordpress-6-0/) because there's no current way to assign clases to comments based on some custom logic.

The output  of the [`comment_class`](https://developer.wordpress.org/reference/functions/comment_cl

[2022-04-13 10:33] github-actions[bot] opened #40307 "[Flaky Test] should copy/paste partial selection with other blocks in-between"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should copy/paste partial selection with other blocks in-between

## Test path
`/test/e2e/specs/editor/various/copy-cut-paste.spec.js`

## Errors

<time datetime="2022-04-13T10:53:37.816Z"><code>[2022-04-13T10:53:37.816Z]</code></time> Test passed after 1 failed attempt on <

[2022-04-13 10:33] theminaldiwan commented on #40298
Hi @Andrew-Starr
I am not using another plugin.In Group block having option to changing stack variation in that case this issue occurs.
If you see in block palatte there is stack block displayed in design section
<img width="352" alt="stack" src="https://user-images.githubusercontent.com/38693713/163159714-af239088-ee2d-49fb-a172-3986963afb1d.png">

[2022-04-13 10:35] jameskoster commented on #40204
This looks like a great starting point to me, but there's something about the nested tabs that feel a bit awkward. Maybe it's just because the settings/appearance tabs seem 'heavier' than the post/block ones, and that's throwing the hierarchy off a bit?

Some more 'out there' ideas that are probably terrible, but I share just in case they inspire anything better:

### Settings only
Could we say th

[2022-04-13 10:46] github-actions[bot] opened #40308 "[Flaky Test] should make bold after split and merge"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should make bold after split and merge

## Test path
`/test/e2e/specs/editor/various/rich-text.spec.js`

## Errors

<time datetime="2022-12-19T09:39:47.532Z"><code>[2022-12-19T09:39:47.532Z]</code></time> Test passed after 1 failed attempt on <a href="https://github.com/Word

[2022-04-13 10:50] Mamaduka commented on #28519
I'm no longer able to reproduce the issue on the current Gutenberg plugin and WP 5.9.

Based on @fluiddot's [investigation](https://github.com/WordPress/gutenberg/issues/32699#issuecomment-863906927) this probably got fixed after `getBlock` improvements - #34241.

https://user-images.githubusercontent.com/240569/163164418-66952929-92d4-4f6d-8f5b-25a827c2efe9.mp4

[2022-04-13 10:50] #28519 closed

[2022-04-13 11:02] Andrew-Starr commented on #40298
Thanks for the additional info.

It appears this new Stack variation will be in the upcoming version 13.0

Would you mind editing the Environment info in your original issue as this is not in 12.9.0

[2022-04-13 11:02] MarieComet opened #40309 "Locked (restrict editing) reusable block is still editable"
### Description

With WP 6.0 beta 1.
A locked reusable block (with "restrict editing") text content is still editable.
From my tests, it's happening only for blocks containing text (paragraph and list block for example).
([See video for example](https://mariecomet.fr/wp-content/uploads/2022/04/locked-reusable-block.mp4)).

### Step-by-step reproduction instructions

1. Insert a paragraph or list b

[2022-04-13 11:05] iansvo commented on #39999
@talldan @fabiankaegy PR has been added for this issue: https://github.com/WordPress/gutenberg/pull/40310

I'm an OOS noob so please let me know if I missed any steps. I made sure the build/tests all passed.

[2022-04-13 11:11] samxmunoz opened #40311 "Feature Request: Change the color (or other visual queue) for Reusable Blocks"
### **Issue**
The value of reusable blocks is being able to make a change in one place and have that change reflected across an entire website (awesome!).

However, I foresee clients being confused about what _is_ and _is not_ a reusable block. Although they are named and when you save you get a list of what was changed, they are not distinct enough from "regular blocks".

### **Proposed Solution*

[2022-04-13 11:21] theminaldiwan commented on #40298
Hi @Andrew-Starr
yes this issue are occur gutenberg 13 version

[2022-04-13 11:22] MarieComet commented on #40309
Note : I don't know why, the linked video doesn't load on Firefox, please use Chrome to watch it.

[2022-04-13 11:24] #40250 closed, assigned to Mamaduka

[2022-04-13 11:46] adamziel commented on #39977
@andronocean Experimental APIs generally make it to the release unless they fall into a few categories like blocks. WP 6.0 Beta1 was released yesterday and `__experimentalGetTemplateForLink` is a part of it.

[2022-04-13 11:47] adamziel commented on #39977
Since we've entered the feature freeze period yesterday after the WordPress 6.0 beta 1 was released, I am closing this issue as it isn't actionable anymore.

[2022-04-13 11:47] Mamaduka commented on #40309
Thanks again, @MarieComet, for contributing.

I just tried to reproduce the issue, but I cannot select block inside Reusable block when editing is locked. Posting my env and screencast. Let me know if I'm missing something.

cc @paaljoachim

**Environment**
* WP 6.0 Beta 1
* Gutenberg plugin not active (tested with the plugin as well).
* TT1 theme.
* MacOS/Chrome

https://user-images.githubusercon

[2022-04-13 12:10] jameskoster commented on #35079
This was missed for 5.9. It would be a real shame if it didn't make it into 6.0 either 😔

[2022-04-13 12:14] MarieComet commented on #40309
Yes, it's working on Chrome, can you test on Firefox ?

[2022-04-13 12:22] MarieComet commented on #40309
After some tests, it's looks like removing `pointer-events: none;`  here fix the bug :

[code]

[2022-04-13 12:42] adamziel commented on #39889
@gziolo Is this the last missing backport as of today? 🎉

Edit: Two more:

* https://github.com/WordPress/wordpress-develop/pull/2542
* https://github.com/WordPress/wordpress-develop/pull/2576

[2022-04-13 12:49] ooksanen commented on #39643
Any further thoughts on this @aristath?

At the moment I'm working on a theme to which I've set the font-sizes like this:

[code]
And the editor shows the options like this

![image](https://user-images.githubusercontent.com/1029398/163182419-49fdbd4d-61b9-4ad4-ab07-4df83196dd74.png)

So, yeah, it shows the selected name above the options and as a tooltip when user hovers over an option, but the a

[2022-04-13 13:45] adamziel opened #40316 "Developer Experience: There's ~280 __experimental APIs. Let's stabilize them!"
## The problem

[Rob's script](https://github.com/WordPress/gutenberg/issues/28157) detectes the following number of `__experimental` APIs:

- Gutenberg 5.0 has 81 `__experimental` APIs
- Gutenberg 6.0 has 113 `__experimental` APIs
- Gutenberg 7.0 has 173 `__experimental` APIs
- Gutenberg 8.0 has 224 `__experimental` APIs
- Gutenberg 9.0 has 300 `__experimental` APIs
- Gutenberg 10.0 has 337 `__ex

[2022-04-13 13:59] hypest commented on #38407
Updated the parent post with:

🛠️ Recently fixed or improved
++ [Quote block V2 support](https://github.com/WordPress/gutenberg/pull/40133)

[2022-04-13 14:15] Mamaduka commented on #32699
The issue looks to be resolved now (at least on desktop) - https://github.com/WordPress/gutenberg/issues/28519#issuecomment-1097907161.

[2022-04-13 14:17] jorgefilipecosta opened #40317 "Implement the concept of sections"
Part of https://github.com/WordPress/gutenberg/issues/39281

Besides just marking that a block is a setting, the block should also contain some meta-information about what type of section it is, e.g., a 404, a call to action, etc. (I think this meta information can be stored as an attribute)

We have three options:

A new section block that patterns can use.
A group block variation, e.g., some att

[2022-04-13 14:26] jorgefilipecosta opened #40318 "Section specific Theme.json"
Part of: https://github.com/WordPress/gutenberg/issues/39281

We already allow a block to have the style object of theme.json, but for now, we only accept styles affecting the block itself, not its descendants. E.g., in the group, we can not say the text color of paragraphs nested inside them is X.

We don’t have a settings object, so we can not say the color palette for this section is Y.

This t

[2022-04-13 14:26] Mamaduka commented on #40309
I can confirm that the overlay works in Chrome and Safari but fails with Firefox.

[2022-04-13 14:28] jorgefilipecosta opened #40319 "Section overview UI (exploded view)"
This is purely a UI task. The objective is to implement this overview UI shown in the mockup:
![image](https://user-images.githubusercontent.com/11271197/163203203-35509a41-6570-45b7-9b49-8f024025b316.png)

In order for the persons working on this task not to be blocked from having the concept of sections, the first version of this task can rely on three sections the header (header template part),

[2022-04-13 14:32] Robertght commented on #38381
Thank you @jasmussen ! I referenced the above as it appears this issue creates a very misleading experience, especially when used with Columns and the Layout Grid block.  If these are separate issues, I can open a new one instead.

[2022-04-13 14:33] ClarusDignus opened #40320 "Separate customizable blocks for comment form heading, "Replying to [...]", and "Cancel reply"."
![comment-form-blocks](https://user-images.githubusercontent.com/6022919/163200085-886daa66-bb6a-411e-8900-4ff50861c3a8.png)

### Comment form heading

The comment form heading should be a standard heading block.

### "Replying to [...]"

"Replying to A WordPress Commenter" should be a separate block that can be set to be a paragraph or a heading.

If it's a paragraph, a standard heading block can

[2022-04-13 14:45] ZebulanStanphill commented on #40204
In my opinion, it has always felt inconsistent and confusing that all plugin sidebars are separate in the top toolbar, but the document settings and block inspector share a sidebar. So I'm all for splitting the document and block sidebars, though I'm not sure where to place the former.

Perhaps just have two buttons instead of the current single cog next to the Publish button? Or maybe the middle

[2022-04-13 14:45] jasmussen commented on #38381
It's all the same issue, if an image has been resized manually, it loses the responsive guard rail in the editor view. I agree it'd be really good to fix, though!

[2022-04-13 14:48] ClarusDignus commented on #38107
I posted my thoughts on the necessity of separate customizable blocks for the comment form heading, "Replying to [...]", and "Cancel reply" [here](https://github.com/WordPress/gutenberg/issues/40320).

[2022-04-13 14:51] ClarusDignus commented on #38107
@ockham

I like the idea of the comment form appearing below the comment being replied to.

For replies to the post, the standard, already-visible comment form should be used.

For replies to comments, regardless of whether the comment being replied to is top-level or nested, the form should appear below the comment as you've illustrated; however, the form shouldn't be indented like the comment be

[2022-04-13 15:01] johnstonphilip commented on #39281
Just looking for some clarification on terminology. The way I understand the term "pattern" today is that `patterns are immutable`. A pattern is not something the user can edit. Rather, they can clone a pattern when they insert it into the editor, and change their clone of that pattern, but it _is not that same pattern_.

One possible description of how I understand the term "pattern" today:
`A pa

[2022-04-13 15:42] gziolo commented on #39889
Let’s move that to WordPress 6.1. It’s a nice improvement for plugin/block developers but let’s not rush it since we didn’t prepare necessary backports on time. I will move code and update docs in Gutenberg to reflect this.

I’m watching progress on both linked PRs and I will land them when they get approved by reviewers. They are being tracked in WordPress ticket: https://core.trac.wordpress.org/

[2022-04-13 15:42] #39889 closed, assigned to gziolo

[2022-04-13 15:44] gziolo commented on #39889
Major props to everyone involved in the process. We wouldn’t make it in such a short time without your invaluable help 🙇‍♂️💯❤️

[2022-04-13 15:53] philhoyt opened #40323 "Image Block Alignments broken on themes using theme.json"
### Description

Image blocks when rendered on themes using theme.json output as followed
[code]
Without a div container resulting in the following
![Screen Shot 2022-04-13 at 11 46 14 AM](https://user-images.githubusercontent.com/1392406/163219300-db08eb7f-1be3-4be8-87f2-f2eb75e4bab5.png)
This is easily tested with themes like Twenty Twenty-Two, but not limited to FSE themes.

Image blocks on non

[2022-04-13 15:53] gziolo commented on #40316
Interesting idea. What possibly could go wrong? 😃

I think the biggest concern here would be the documentation which might be missing in many cases. The automated PR could serve as s good way to find out how many undocumented APIs we have. I bet that the lack of good explanation of how to use those APIs is the biggest issue because, at this time, extenders probably learned how to work with experim

[2022-04-13 19:10] crobertwatson commented on #40197
@carolinan Yes, it happens when all plugins are disabled as well. Very strange. It's to the point where we're considering creating a plugin to alter the checkboxes of the categories selection panel and making them radio buttons just to force it to stop randomly selecting the default category.

[2022-04-13 19:33] withinboredom opened #40326 "Gutenberg fails to load"
### Description

Cannot use the editor at all since upgrading to WP 5.9.3 and I've had to disable it using an anti-Gutenberg plugin.

[code]

All plugins are deactivated. This is a multi-site installation.

### Step-by-step reproduction instructions

1. Try to write a new post.

### Screenshots, screen recording, code snippet

![image](https://user-images.githubusercontent.com/1883296/163255858-92

[2022-04-13 19:52] paaljoachim commented on #40309
Testing.
Local site.
WP 6.0 Beta 1.
Twenty Twenty Two.

Chrome.
Overlay works. Locking works.

Firefox.
Overlay not working. First click goes straight through to inner blocks. First click should only select the overlay. Second click should go through as long as Restrict editing lock is not activated.
Activating locking Restrict editing not working.
Fix the overlay and Restrict editing might also w

[2022-04-13 20:12] annezazu commented on #39281
@johnstonphilip you might find this support doc helpful to address some of these terms, how things are used, etc: https://wordpress.org/support/article/comparing-patterns-template-parts-and-reusable-blocks/

[2022-04-13 20:44] annezazu commented on #40326
@withinboredom I wasn't able to replicate this on a single site or multisite using Gutenberg 12.9 and WordPress 5.9.3 with all other plugins disabled. Do you have any custom taxonomies in place or anything particular with this multisite setup?

[2022-04-13 20:52] BinaryMoon opened #40327 "DS_Store included in FSE export"
### Description

When I export a theme from FSE the Mac `DS_Store` files (and other hidden Mac system files) are included. I think these should be removed.

Many people who use the theme exporting will be working locally rather than on a live website, and so there's a high likelihood they will be saving hidden system files in the zip exports.

### Step-by-step reproduction instructions

1. Open a

[2022-04-13 21:19] github-actions[bot] opened #40328 "[Flaky Test] should undo asterisk transform with backspace after selection changes without requestIdleCallback"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should undo asterisk transform with backspace after selection changes without requestIdleCallback

## Test path
`specs/editor/blocks/list.test.js`

## Flaky rate (_estimated_)
`0 / 0` runs

## Errors

mes":0,"totalCommits":0} -->
**Flaky test detected. This is an auto-genera

[2022-04-13 21:23] #38833 closed, assigned to glendaviesnz

[2022-04-13 22:53] withinboredom commented on #40326
No special taxonomies. Looks like whatever path the code takes to get there, the "visibility" key on the object is simply missing /shrug/

![image](https://user-images.githubusercontent.com/1883296/163282843-4601f0cc-8ced-462c-a90b-90eac1f312ce.png)

[2022-04-13 23:07] erickyle opened #40331 "Block Styles button labels are truncated"
### Description

The block style button label is constrained to a small number of characters. Hovering over the block style button does reveal a preview with the full name, but this forces the user to hover over each of the block style buttons to reveal the full name. The built-in blocks and block styles tend to use single-word, short labels, so the issue may not be readily apparent with a stock c

[2022-04-13 23:45] annezazu commented on #40311
Thanks for opening this issue! I see it as a duplicate of this one: https://github.com/WordPress/gutenberg/issues/32163 Can you confirm if I've missed anything and if you agree that it's a duplicate? If so, I'll go ahead and close this out.

[2022-04-13 23:56] annezazu commented on #31798
Closing this out as I can no long replicate what's described here. I do still find it confusing that you can edit the post content directly, including deleting items, while in template editing mode but that's not a true bug :)

[2022-04-13 23:56] #31798 closed, assigned to nobody

[2022-04-14 01:30] talldan commented on #40326
This is the line of code that triggers the error - https://github.com/WordPress/gutenberg/blob/33d4729068cc3152ecfc720ee11e000f7abcd427/packages/editor/src/components/post-taxonomies/index.js#L31

[2022-04-14 02:04] talldan commented on #40316
The numbers aren't quite right as that script lists many duplicates. It shows any existence of `__experimental`. It doesn't only list where those experimental APIs are defined, also where they're used.

Doing some quick sorting and removing duplicates gives a number around 280. It might be a little higher because there are probably some APIs that are actually defined in multiple places with the sa

[2022-04-14 02:24] zaguiini commented on #39332
https://github.com/WordPress/gutenberg/issues/40288

[2022-04-14 04:41] aaronrobertshaw commented on #21889
[Updated border support](https://github.com/WordPress/gutenberg/pull/37770) allowing for individual side border configuration has landed which unblocks the final PR adding border support to individual columns.

- https://github.com/WordPress/gutenberg/pull/39967

_Note: There is no responsive styling for individual column borders however this can be addressed via a follow-up issue._

[2022-04-14 05:39] jasmussen commented on #40331
Good ticket, thank you, I'll be curious to hear what others think as well. I personally like that the button size encourages short and concise labels, and that the overall footprint of the style interface is balanced against design tools below, making the interface a set of complementary shortcuts rather than the primary block interface.

I wonder if there's a way to automatically adjust the inter

[2022-04-14 06:48] kevin940726 commented on #40291
Opened a PR in https://github.com/WordPress/gutenberg/pull/40336, LMK if it solves the problem!

[2022-04-14 06:50] carolinan commented on #40219
I found that it was once fixed by https://github.com/WordPress/gutenberg/pull/30452, but I still don't know if this is a regression or intentional.

[2022-04-14 07:28] dugyen opened #40338 "Fix the Blog Post title color picker from FSE"
### Description

Unable to change the blog Post title text color and We need this fix to change the blog title text color as preferred by user and should work according to text color that we choose from the color selector.

### Step-by-step reproduction instructions

1.Update to WordPress 6.0 Beta 1 and Activate Gutenberg 13.0 RC 1, TT2 WP Theme.
2.Appearance > Editor (beta)
3.Select Blog Title to

[2022-04-14 07:30] talldan commented on #35079
I don't think there's any reason to punt it yet, it'd be a good bug to fix, even if I still have no idea how to fix it 😄

[2022-04-14 07:41] Mamaduka commented on #40327
cc @scruffian

[2022-04-14 08:27] talldan commented on #40309
Lets try that out. From what I can tell that also helps with #35079, though that particular issue is still broken in Safari.

I made a PR - https://github.com/WordPress/gutenberg/pull/40339.

[2022-04-14 08:31] talldan commented on #35079
The suggestion here does help - https://github.com/WordPress/gutenberg/issues/40309#issuecomment-1097986308. I've made a PR - #40339.

After some searching I discovered a few other people complaining that browsers don't respect `pointer-events: none` on inline elements (particularly links since they accept a click event), so it seems like a browser quirk. Lots of people mention using `inline-block

[2022-04-14 09:18] gziolo commented on #39654
https://github.com/WordPress/gutenberg/pull/36176 won't be included in the WP 6.0 release.

[2022-04-14 09:34] jameskoster opened #40343 "Unlock blocks from list view"
Locked blocks are marked as such in List View:

<img width="368" alt="Screenshot 2022-04-14 at 10 31 45" src="https://user-images.githubusercontent.com/846565/163357181-8b0d3ede-6455-48d0-9ddc-0bf66d44837c.png">

Clicking the lock however does nothing, which can be frustrating.

It would be nice if clicking the lock in list view opened the lock modal, as it does in the toolbar:

![lock](https://us

[2022-04-14 09:55] Azragh opened #40344 "Spacing support for max()"
## What problem does this address?

The problem with the new spacing specifications is that no distinction can be made between mobile devices and the desktop view. I therefore only allow "em" and "%" in my themes, but this only works to a limited extent.

Suppose I have 2 columns - one with an inner spacing of 4em, the other 5%. On the desktop, the whole thing looks nice and uniform:

![image](htt

[2022-04-14 10:01] ClarusDignus opened #40345 "Increase/decrease heading level of more than one heading at a time"
## Problem

When copying page/post contents to other pages/posts, I sometimes have to manually increase/decrease the heading level of dozens of headings.

E.g., a page's content consists of a h2 heading and h3 headings. I copy and paste this content into a new page under a h3 heading, so for the pasted content, I need to decrease the headings; the h2 heading needs to be decreased to h4, and the h3

[2022-04-14 10:12] ntsekouras commented on #39654
_Dev note for  **Allow pattern registration from directory with theme.json** #38323_

## Pattern registration from Pattern Directory for themes

With WordPress 6.0 themes can easily register patterns from Pattern Directory through `theme.json`. In order to do that, themes should use the new `patterns` top level key in `theme.json`.

Within this field, themes can list patterns to register from [Pat

[2022-04-14 10:13] jameskoster opened #40346 "Top Toolbar + Navigation + Undo = Ghost block"
If you have Top Toolbar mode enabled, add a link to a navigation menu then undo, an ellipsis menu is accessible from the toolbar. But that ellipsis menu does not seem to be associated with any block.

https://user-images.githubusercontent.com/846565/163363834-1b7c73d4-ab63-4d0c-8d00-0b4e9395758b.mp4

It seems like the undo action undoes the link destination selection, leaves the empty Link block,

[2022-04-14 10:34] ashfame opened #40347 "backtick parsing issue"
### Description

If closing backtick is entered first and then starting backtick before that somewhere, it fails to realize & just let backticks be.

### Step-by-step reproduction instructions

- Enter a single word
- Put a backtick at the end of the word
- Now put backtick at the start of the word

### Screenshots, screen recording, code snippet

![Screenshot 2022-04-14 at 2 33 51 PM](https://use

[2022-04-14 10:43] ashfame opened #40348 "Editing link in list incorrectly targets first word"
### Description

Editing a link targets the wrong word

### Step-by-step reproduction instructions

Have a list like following (both words should match):

- Diff
- [Diff](https://wordpress.org)

Now if you click on second list item and choose to edit the link. Change the name and hit enter. First match for word `Diff` is first list item, which becomes a link with the text you just modified and sec

[2022-04-14 10:54] samxmunoz commented on #40311
@annezazu - yes, that one definitely sums up my thoughts! Thank you!

[2022-04-14 10:55] paaljoachim commented on #10235
@mkaz Perhaps you could take a look at the bot actions again?

[2022-04-14 11:00] paaljoachim commented on #40316
Some brain storming...
It seems this topic needs a wider discussion. If it has not been brought up earlier in the core editor meeting, it could be brought up there. Posting a comment about this to the agenda so people will notice that it will be discussed during the meeting and then spending part of the Open Floor having a wider discussion.

Another thought is to focus on stabilizing experimental

[2022-04-14 11:05] jameskoster commented on #40208
Here's an example of how the transform menu would look with some grouping:

<img width="481" alt="Screenshot 2022-04-14 at 11 58 17" src="https://user-images.githubusercontent.com/846565/163378078-137d0117-c40e-4317-ade7-a97842728fab.png">

Obviously it depends on the block, and whether styles are present, but this is already a little unwieldy.

We can simplify things quite a bit by utilising flyo

[2022-04-14 11:58] ntsekouras commented on #40208
We need to take into account the case of multiple selected blocks. In many of these cases the only available options would be `Group and Columns`, so it might not make much sense to have a flyout.

This issue also highlights that we need some kind of handling for some block variations(`stack, row, etc..`).

We also need to find a good way of identifying the group, a block transform should belong t

[2022-04-14 12:02] #37471 closed, assigned to Mamaduka

[2022-04-14 12:12] #35489 closed, assigned to mauriac

[2022-04-14 12:13] Mamaduka commented on #40343
@jasmussen also [mentioned this](https://github.com/WordPress/gutenberg/pull/40088#issuecomment-1090051812), but since the "Options" dropdown is right next to the icon, I thought this wasn't necessary.

[2022-04-14 12:16] jameskoster commented on #40343
That's a fair point, but I totally forgot about that 😆

I think it's probably a learned habit. In all design software I've encountered, lock icons in layer panels are interactive – click to lock / unlock.

It might be good to aim for consistency with the lock icon, IE if it's visible in the UI, it is clickable to view/edit the lock status.

[2022-04-14 12:19] carolinan opened #40352 "e2e: Playwright module is missing when using Windows"
### Description

On Windows 10, if I use the following commands in the command prompt:
`bash`
`npm run test-e2e:playwright`

or only
`npm run test-e2e:playwright`

I see the following:

[code]

-----

I have confirmed that the expected files are in the node_modules folder.
I also tried `npx playwright install` followed by `npm run test-e2e:playwright` but the result was the same.

### Step-by-step

[2022-04-14 12:35] jameskoster commented on #40069
This one is tricky! In general I agree that locking a container should also lock the children by default. But this raises a couple of questions:

1. Do the child blocks inherit the parents specific lock status? IE if the parent is only move-locked, can the children be edited and deleted, but not moved as well? I think it's probably a 'yes', but the UI may need to communicate that somehow.
2. Can a

[2022-04-14 12:40] jsnajdr commented on #27370
Fixed in #39256.

[2022-04-14 12:40] #27370 closed

[2022-04-14 13:12] NidhiDhandhukiya74 opened #40353 "Image block image size option is not working properly in large and full width."
### Description

When we choose image block and when we update that image size from large to full width it is not showing any effect ,in image dimention tab we can able to do changes in width and hight value but we can not able to see any changes in actual image width and hight.

### Step-by-step reproduction instructions

1. Update to WordPress 6.0 Beta 1 and Activate Gutenberg 13.0.0, Twenty Twe

[2022-04-14 13:18] cbravobernal commented on #37561
This issue will be fixed on Core.

[2022-04-14 13:18] #37561 closed, assigned to mauriac

[2022-04-14 13:35] tomasztunik commented on #38381
It's possible to fix this fairly easy but it would affect what outcomes are possible with the resizeable box component if we did not change the unit system for the resizer from absolute (px) to relative units (%).

Currently, when width/height are changed they are changed proportionally. If I make `width` 20% smaller, `height` will get 20% smaller as well and they will be set as width/height CSS p

[2022-04-14 13:37] youknowriad commented on #40319
I updated the issue with a todo list that can be iterated on. The first PR is in #40314 and it checks a number of items on the list already.

[2022-04-14 14:01] ntsekouras commented on #39933
I'm closing this as a duplicate of: https://github.com/WordPress/gutenberg/issues/40224. This issue is older but there was an extra comment there about a related issue, and there are no other comments here.

Thanks for reporting @delowardev!

[2022-04-14 14:01] #39933 closed, assigned to nobody

[2022-04-14 14:44] #40306 closed, assigned to nobody

[2022-04-14 14:47] jameskoster opened #40354 "Locking: Checkboxes are off by default"
When you select 'Lock' from the block toolbar, the resulting modal displays all the lock options toggled off by default:

https://user-images.githubusercontent.com/846565/163415139-ca1f7556-0310-4ec9-89a2-db1ee2a855f7.mp4

Since the action that invokes the modal is affirmative, shouldn't the checkboxes be _on_ by default? This would eliminate a click in the locking process when you want to fully l

[2022-04-14 15:07] erickyle commented on #40331
Glad to help. I would be fine with leaving it as-is if there was a way to override the truncation easily. I wonder instead of truncating the string before output, if it would not be better to truncate it after output using CSS.
https://css-tricks.com/snippets/css/truncate-string-with-ellipsis/

[2022-04-14 15:07] mtias commented on #40208
I'd like to start with splitting and prioritizing the basic transforms for text blocks. Can we explore some alternates there to see what might work? I can see a minimal implementation that just groups them at the top with a divider, for example.

[2022-04-14 15:56] bradhogan opened #40356 "Navigation Menu Components Panel - option to add items, delete menus"
## What problem does this address?
Loving the latest release that now includes the Navigation Menu button when on the Edit Site screen.  The UI is a little off though because while you can click the Nav Menu icon to see a dropdown with the various menus, then drag-drop or delete menu items from a menu, you cannot 1) delete a menu entirely in that section nor can you 2) add items to the menu.

## W

[2022-04-14 15:56] mashikag commented on #11962
@ntsekouras I believe this issue can be closed now too, that [the fix](https://github.com/WordPress/gutenberg/pull/40187) was merged? 😀

[2022-04-14 16:03] zaguiini commented on #39332
Update on how the Webfonts API will behave regarding the site editor: https://github.com/WordPress/gutenberg/pull/39988#issuecomment-1099340232

[2022-04-14 16:13] MoOx opened #40357 "13.0.0 fse make safari and chrome to freeze (extremely slow to load)"
### Description

I can't edit my site anymore. Loading https://mysite/wp-admin/themes.php?page=gutenberg-edit-site&postType=wp_template&postId=mytheme/index is horribly slow to load.
Header & Footer are loading, then middle of the website block (contains a query loop).
I can't even disable Gutenberg with WP 5.9.3 since I used stuff not available there (to avoid a bug) and my site crashes without i

[2022-04-14 16:17] loopmasta commented on #12635
I did run into the same problem today. HTML5 D&D API does not work within the Gutenberg Block editor.  Is this a bug or by design?

[2022-04-14 16:26] MoOx commented on #40357
I also tried on a very simple page with just header/footer + post title with content and it's also very slow.

[2022-04-14 16:40] ntsekouras commented on #11962
Resolved by: https://github.com/WordPress/gutenberg/pull/40187

[2022-04-14 16:40] #11962 closed

[2022-04-14 16:45] bradhogan commented on #34527
This appears to be added now, but it's not working.  Whatever blockGap I define in my theme.json is ignored.

[2022-04-14 16:49] NidhiDhandhukiya74 opened #40358 "Post Excerpt Block: settings duplicated when selecting between different post excerpts in a Query Loop"
### Description

In Query Loop block when you choose post excerpt and if you have multiple post so in different post when you click on that post excerpt it will add multiple settings in inspector control.

### Step-by-step reproduction instructions

1. Select Query Loop block.
2. Click on the button start blank.
3. Choose  **Title, Date, & Excerpt**
4. now from query loop choose post expert of any

[2022-04-14 17:28] annezazu commented on #40311
Awesome! Closing this one out -- thanks so much for giving feedback and opening this up to begin with.

[2022-04-14 17:28] #40311 closed, assigned to nobody

[2022-04-14 17:46] Mamaduka commented on #40357
Hi, @MoOx

Can you provide more details about your setup? For example, do you use any block library plugins?

I'm having a hard time reproducing the issue locally. Site Editor loads in 900ms when I clear cache in Safari, and then 400-500ms. Running on Mac Mini M1 2020.

[2022-04-14 18:01] amjadr360 commented on #25188
Hi @ryanwelcher @gziolo,
Thanks for all your hard work :)

I manage to handle multiple blocks. But multiple blocks do not work with --hot "Fast Refresh". It's through
`[HMR] Update failed: ChunkLoadError: Loading hot update chunk block-one/index failed.` error.

Any idea how to solve this issue.

Thanks,

[2022-04-14 18:09] zaguiini opened #40362 "[Fonts API] Do not expose registered fonts in block settings (only expose enqueued fonts)"
## What problem does this address?

Right now, the Fonts API is exposing registered fonts in the typography picker. That is fine for Site Editor's (Global Styles > Typography UI), but block settings should not see them.

There are 3 places where font families are relevant:
- global styles font presets (this doesn’t have a UI in core yet);
- global elements & block types;
- block instances.

The fi

[2022-04-14 18:11] zaguiini opened #40363 "[Fonts API] Automatically enqueue all user-selected fonts picked in Global Styles."
## Enhancement Scope:

To add automatic detection and enqueueing of all user-selected global fonts before printing the fonts (likely within `wp_print_fonts()`).

### What are "user-selected global fonts"?

Fonts that a user selected and saved from the Site Editor > Styles > Typography UI.
![Screen Shot 2023-05-03 at 11 09 44 AM](https://user-images.githubusercontent.com/7284611/235976226-8620d0b8-

[2022-04-14 18:15] loganwisniewski commented on #38875
I just opened a PR ([here](https://github.com/WordPress/gutenberg/pull/40361)). Please let me know if I did any thing wrong or if I could improve upon anything.

[2022-04-14 18:26] MoOx commented on #40357
I am able to reproduce this with just Gutenberg plugin enabled.

Here is my current theme exported

[damebio.zip](https://github.com/WordPress/gutenberg/files/8491416/damebio.zip)

I am facing this issue on index & singular template (didn't try other, since it's a pain)

[2022-04-14 18:34] ockham commented on #26999
We're going to try to implement a basic placeholder state as mocked up here for WP 6.0 (since we need it for #40256, among other things). See [this comment](https://github.com/WordPress/gutenberg/pull/40256#issuecomment-1099514136) for background.

[2022-04-14 18:36] zaguiini opened #40364 "Webfonts: lazily load registered webfonts in the editor"
## What problem does this address?

To preview webfonts in the editor, we need to emit all the registered webfonts, even if they're not enqueued. That means that every single registered font face gets on the page, and that's obviously not performant.

We need to lazily load the fonts in the editor, as they're picked in the typography settings.

## What is your proposed solution?

Lazy-loading the

[2022-04-14 19:05] bradhogan commented on #21889
@aaronrobertshaw Is the plan to allow for specific border changes as well (e.g. only add "border-left" or "border-right") versus having to wrap an entire block in the border?  This would be ideal to be able to create layouts like this?

![sample-borders](https://user-images.githubusercontent.com/1781226/163459265-bc4eb286-feee-449a-954f-173cf05a6eb7.png)

[2022-04-14 20:15] paaljoachim commented on #26999
Updating the current reply comment box. I made a user named user.
From the Twenty Twenty Two theme.

### Logged in user:
![Screenshot 2022-04-14 at 22 10 47](https://user-images.githubusercontent.com/5323259/163468127-df1e7acc-9bb0-4c08-bd3a-f8fe7d1989e8.jpg)

### Not logged in user:
![Screenshot 2022-04-14 at 22 11 40](https://user-images.githubusercontent.com/5323259/163468242-4f680934-9a6e-48e4

[2022-04-14 20:20] loganwisniewski commented on #38875
My pull request had some failed tests. The failed tests don't appear to be related to my file change. Is there something I may have done wrong [here](https://github.com/WordPress/gutenberg/pull/40361)?

[2022-04-14 20:46] skorasaurus commented on #30549
Running into this issue right now:

I'm making a page right now where, semantically, the most appropriate tag to be used for the post title is strictly an `<li>` (in a list of recent posts for example, where I am only displaying and hyperlinking the post title as @mkaz does in his example..

I'm totally open to hear other opportunities to do this besides just offering an extra option to do to sele

[2022-04-14 22:39] zaguiini opened #40367 "[Fonts API] Allow enqueueing of font face with a chosen weight within range"
## What problem does this address?

Since weights can be a range, it would make sense for any weight within the range of the registered font face to be enqueued.

For example:

[code]

Font weight range from 200 to 900 gets registered. But right now, if you try passing a font weight within this range, you get an error:

[code]

## What is your proposed solution?

Passing a font weight within the r

[2022-04-14 22:58] badfeather commented on #40235
Similar/related question: I'm also running into some opinionated styles related to blocks in the editor.css and classic.css files that get loaded in the editor. Are there any similar hooks related to these styles? I'm particularly running into issues with image alignment styles and gallery styles.

[2022-04-15 00:51] ALJ commented on #40235
I was trying different ways to `dequeue` core block css just now on a clean WP install and I noticed the same. In the editor, `/wp-includes/css/dist/block-library/editor.css` is being loaded and it applies a couple of styles to `core/columns` that I don't know how to remove.

[2022-04-15 00:56] ALJ commented on #40235
@badfeather the closest I've come to is to add the following alongside all the rest:

[code]

But, there might be other side-effects that I can't predict. Give it a shot and let us know how it goes.

[2022-04-15 03:08] ALJ commented on #40235
@theminaldiwan thank you for adding that [full site editing reference](https://fullsiteediting.com/lessons/how-to-remove-default-block-styles/) earlier; it was helpful to give more options for this question. It might not be immediately clear the code snippets there are mostly applicable for Block Themes that are fully bought into "Full Site Editing" (FSE), i.e. using `/templates/page.html` block t

[2022-04-15 03:21] alexstine commented on #38647
👍

[2022-04-15 03:21] #38647 closed, assigned to nobody

[2022-04-15 03:28] alexstine commented on #24121
The code around this has changed quite a bit since this was opened. Closing this out.

[2022-04-15 03:28] #24121 closed

[2022-04-15 03:30] alexstine commented on #24098
Assigning this to me so I can test this soon. Hopefully this is stale and no longer the case.

[2022-04-15 03:32] alexstine commented on #39997
I see this being a tricky one since screen reader users may not always have the same context or UX that sighted people have. Maybe a solution is to allow the setting to hide visually without removing the screen reader alert. Just an idea to kick off the discussion. 👍

[2022-04-15 03:34] ALJ commented on #38673
I tried the reproduction instructions (with `https://fonts.googleapis.com/css?family=DM+Sans`) and I see the same problem as reported above. I'm using WordPress@5.9.3, no Gutenberg plugin. The DM Sans font **successfully** loaded and applied in Desktop preview mode, but **was missing** in either of the two iframed previews.

@NenadObradovic there are other inconsistencies between the iframe previe

[2022-04-15 05:00] maddisondesigns commented on #39997
@alexstine I'm not sure I understand why you think this is a tricky one. I'm not suggestion to turn them off altogether. My suggestion was to provide an option to allow users to turn them off if they want to. If you're using a screen reader, have poor eyesight, or just happen to like the notifications, then you most likely wouldn't turn them off.

[2022-04-15 05:14] github-actions[bot] opened #40369 "[Flaky Test] Should show Columns block only if selected blocks are between limits (1-6)"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
Should show Columns block only if selected blocks are between limits (1-6)

## Test path
`/test/e2e/specs/editor/various/block-switcher.spec.js`

## Errors

<time datetime="2022-10-27T16:34:44.119Z"><code>[2022-10-27T16:34:44.119Z]</code></time> Test passed after 1 failed at

[2022-04-15 05:14] github-actions[bot] opened #40370 "[Flaky Test] Should show the expected block transforms on the list block when the quote block is removed"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
Should show the expected block transforms on the list block when the quote block is removed

## Test path
`specs/editor/various/block-switcher.test.js`

## Errors

<time datetime="2022-10-27T16:34:47.494Z"><code>[2022-10-27T16:34:47.494Z]</code></time> Test passed after 1 fa

[2022-04-15 06:06] jasmussen commented on #38875
Thanks, @loganwisniewski for the PR! Code looks good and the test failures look unrelated, I've restarted them.

I want to voice a general concern with the help text as discussed, specifically that it gives _weight_ to the minimum height feature. Width and min-height controls is something I'd love to see come to more container blocks, including the Group block ([see also](#25973)). Especially for

[2022-04-15 06:36] jasmussen commented on #38381
@tomasztunik Thank you for looking! I [did explore a CSS-only fix](https://github.com/WordPress/gutenberg/issues/38381#issuecomment-1026689999) like what you've suggested above, though when I tried it didn't work as resiliently as your fix and resulted in garbled images.

Nevertheless, I think the downside you outline isn't worth it. While the responsive max-width + auto height is currently applie

[2022-04-15 06:45] tomasztunik commented on #38381
Ha! Using maxWidth is definitely going to make it simpler :)

Though it would still prevent creating grid breaking designs which oftentimes are valid and desired so I'm not sure if it's an ideal solution.

I'm thinking though as I mentioned the units now are absolute (px) and I think this is a bigger issue. If someone designs the page on a smaller or larger screen/window and then previews it on di

[2022-04-15 06:47] ramizmanked opened #40371 "customTemplates: unable to remove postType support"
### Description

I'm unable to remove postType support from customTemplates.postTypes in theme.json.

For instance, I want to use Blank template only in postType: Page (not Post). Here is snippet from theme.json:
`"customTemplates": [
		{
			"name": "blank",
			"title": "Blank",
			"postTypes": [
				"page"
			]
		}
]`

### Step-by-step reproduction instructions

Covered in screen recording below

[2022-04-15 07:03] jasmussen commented on #38381
Indeed, do we choose between basic responsive guard-rails out of the box, or do we leave that to themes to handle?

I have a feeling that when we're able to tackle #38990, the object-fit toggle that is output when manually typing in non-intrinsic aspect-ratio dimensions might afford us a space to change how that responsiveness works. That refactor seems like it might provide an avenue for such bou

[2022-04-15 07:07] Mamaduka commented on #38381
I experimented with relative `maxWidth` for #39678, and it works pretty well. Happy to push the current code if anyone wants to test it.

Relative units weren't used [initially](https://github.com/WordPress/gutenberg/pull/11846#issuecomment-439033037) because `ResizableBox` didn't support them. Feature PR - https://github.com/bokuweb/re-resizable/pull/526.

@tomasztunik, feel free to spin up new P

[2022-04-15 07:40] NenadObradovic commented on #38673
Hello @ALJ ,

I hope someone will check this issue :) In the meantime I fixed it with a not so good solution, but I can't wait for an answer :)

[code]
and inside functions.php I just localized the main block script for example
[code]

Best regards,
Nenad Obradovic

[2022-04-15 07:43] tomasztunik commented on #38381
@jasmussen - yes, by default image fills the width of the container and if % breakpoints (25, 50, 75, 100%) are used the images are responsive. It's only when the user puts in values by hand or when they drag the resizable box the image stops being responsive and the problem occurs.

I agree, with how the frontend now has max-width: 100% it makes sense to make it consistent.

I can try spinning up

[2022-04-15 07:57] jasmussen commented on #38381
👍 👍 — another reason to keep that separate is that relative units aren't always obvious in their behavior, and it depends what they are relative _to_. Is this image 50% of the width of the _column_ it's in? Or is it 50% width of the viewport.

[2022-04-15 07:58] tomasztunik commented on #38381
@Mamaduka I had a look at the PR with maxWidth being based on the layout's wide width and thinking if this would produce expected results from the user's perspective. For images put as children of columns and nested deeper in the layouts most of the time it wouldn't be true and would still produce the glitchy states that were shared in the report.

I think using 100% of the container width might b

[2022-04-15 10:04] jennydupuy opened #40375 "A part of a string of one Post Featured Image block setting is not translatable"
### Description

In the settings of the "Post Featured Image" block, a string of an option cannot be correctly translated.

### Step-by-step reproduction instructions

1.Choose for example "fr_FR" to set the site language or
2.In a post, create a Post Featured Image block.
3.See in the sidebar, the link settings : "Lien vers post".

This string corresponds to:
https://translate.wordpress.org/proje

[2022-04-15 11:39] mxkyb commented on #40249
Found a solution to this one on my own. Learned two things:

a) If you want to use `useInnerBlocksProps` on an element that is not the same element you'd use `useBlockProps` on, you'll apparently have to pass an empty object as first parameter to make it work
b) If you don't want to have templateLock interfere with your inner blocks, do not pass children in the template array, not even an empty ar

[2022-04-15 11:44] #40249 closed, assigned to nobody

[2022-04-15 11:58] henriqueiamarino opened #40377 "Blocks (Category, Featured Image) not loading properly on Post Page"
### Description

In the settings of Post, some blocks are not loaded properly with the page — in general “Categories” and “Featured Image”.
As this happens inconsistently I couldn't replicate it but attached a screenshot to illustrate the missing blocks (on B).

The following topics are pointing out to the same issue:
[Category missing in right sidebar](https://wordpress.org/support/topic/category

[2022-04-15 12:24] alexstine commented on #39997
@maddisondesigns I think the setting just needs to be clear. I might even go as far as writing something like this.

This disables notifications for most non-important actions around the editor.
NOTE: Do not disable this if you rely on screen readers or additional accessibility tools.

Why? As I mentioned, sometimes it isn't always apparent when a certain action is completed. At the very least, I

[2022-04-15 13:11] #40375 closed, assigned to Mamaduka

[2022-04-15 13:20] Mamaduka commented on #40375
Thanks for contributing, @jennydupuy. The issue should be fixed now and will be backported in WP 6.0 beta 2.

[2022-04-15 13:35] ndiego commented on #40358
I am able to replicate this. I believe we need to tackle for 6.0 and have added it to the board.

[2022-04-15 13:50] ndiego commented on #40280
Hi @markhowellsmead, setting `blockGap` by manually setting the variable in CSS can lead to these cascading issues. Have you tried setting `blockGap` settings on blocks themselves? In this example, I would wrap the content in a Group block with block spacing set to `0`. See the screenshot below for an example. You should not get any cascading issues this way. Let me know if I can answer any additi

[2022-04-15 13:53] ndiego commented on #40279
I have confirmed this in Twenty Twenty-Two

[2022-04-15 13:55] ndiego commented on #40347
I have confirmed this issue.

[2022-04-15 14:14] ndiego commented on #40323
Hi @philhoyt, while not ideal, this is expected behavior in block themes. The image `figure` is no longer contained in a wrapper `div`, which is great for many use-cases but does present the drawback you highlighted in this issue. One easy fix is to wrap the Image block in a Group block. That will give you the design you are looking for. Please let me know if I can answer any additional questions.

[2022-04-15 14:14] #40323 closed, assigned to nobody

[2022-04-15 14:20] sabernhardt commented on #22481
For a simpler approach, could the two image formats be replaced by just the SVG version (inline)?

The Privacy team has [removed other CDN references](https://core.trac.wordpress.org/ticket/46363) in WordPress Core, and @danskoya mentions [using a local proxy to block](https://core.trac.wordpress.org/ticket/55579) those requests.

[2022-04-15 14:25] ndiego commented on #40338
Good catch @dugyen, this is an interesting one, because if you make the Post Title not a link (using the toggle), you can then change the color as expected. We definitely need some improved UI here.

![post-title-color](https://user-images.githubusercontent.com/4832319/163582541-ad8b99d8-5c10-414b-ae93-994014b62be4.gif)

[2022-04-15 14:30] ndiego commented on #40299
@aezazs-multidots thank you for opening this issue. As @Andrew-Starr mentioned, this is functionality that needs to be enabled by the theme. Since this is not directly related to an issue in Gutenberg, I am going to close this issue, but please let me know if I can answer any additional questions!

[2022-04-15 14:30] #40299 closed, assigned to nobody

[2022-04-15 14:37] ndiego commented on #40353
Hi @NidhiDhandhukiya74, thank you for opening this issue. The image size control allows you to change the image source dimensions. The reason why there is no visual difference between "Large" and "Full Size", is because the Image block itself is constrained by the content width of the page. Both the "Large" and "Full Size" sizes are larger than the content width, so they appear the same. Hopefully

[2022-04-15 14:37] #40353 closed, assigned to nobody

[2022-04-15 14:43] ndiego commented on #40202
Since I am unable to replicate the issue with the additional code example that I provided, I am going to close out this issue. But please let me know if you are continuing to have issues or if I can be of further assistance!

[2022-04-15 14:43] #40202 closed, assigned to nobody

[2022-04-15 14:47] NidhiDhandhukiya74 commented on #40353
Hello @ndiego ,
Thanks for the answer and thanks for clarifying my problem.

[2022-04-15 14:55] t-hamano commented on #40352
Related: #39721
I believe this PR #39765 will solve this problem.

[2022-04-15 15:21] alexstine commented on #36844
@ramonjd Is this still valid? I thought I remembered a PR that fixed this.

[2022-04-15 15:50] ellenbauer commented on #40305
With Gutenberg 13.0.0 active patterns that include blocks from our other than core blocks seem to have lost their styling. Could it be that this is related to the issue mentioned above?
We have patterns including blocks from our AinoBlocks plugin that do not show any styling once the latest Gutenberg plugin release is active.

[2022-04-15 15:52] LogicalHighs commented on #38965
I would say to just close the issue. I don’t know what else to say in it and no one has a solution.

Chuck

[2022-04-15 15:56] pattyok commented on #39937
I am seeing the same issue with left aligned buttons. Since there are no classes applied just inline styles (!@#$$%) There is no way to override with my own css.

I want two stacked buttons, left aligned.

This is the block editor:
![image](https://user-images.githubusercontent.com/2417080/163591437-790d68da-65ed-4eb8-80dd-a88f850e226d.png)

This is the result:
![image](https://user-images.githubu

[2022-04-15 16:02] mirka commented on #39654
Dev note for #37160

I'm not sure if this warrants a Dev Note, so please feel free to cut it entirely if it doesn't meet the noteworthiness threshold!

---

## Removed bottom margin on `LineHeightControl` component

A number of UI components currently ship with styles that give them bottom margins. This can make it hard to use them in arbitrary layouts, where you want different amounts of gap or m

[2022-04-15 16:16] mrwweb opened #40381 "--wp--style--block-gap custom property not set by blockGap property in theme.json"
### Description

I have run into this issue in two "hybrid" themes: classic PHP themes with `theme.json`. I first noticed this recently when a new post had no space between paragraphs in the editor. I then found the same issue on a second site where some additional editor styles were covering up for the problem.

On both sites, I have defined `styles.spacing.blockGap` in my theme. However, in both

[2022-04-15 16:27] letasync opened #40382 "Navigation Block: Toolbar overlaps with submenu links when opening sidebar or using smaller viewport"
### Description

Navigation toolbar overlaps on submenu links when we open sidebar settings or on smaller viewport. This makes editing or addting submneu links difficult.

### Step-by-step reproduction instructions

1. Add navigation block
2. Add page link
3. Add submenu links
4. Open  setting sidebar or test on smaller viewport

### Screenshots, screen recording, code snippet

Uploading Error Sub

[2022-04-15 16:29] letasync commented on #40382
https://user-images.githubusercontent.com/3252351/163596104-f50cc451-e172-4cab-8d89-7bcedd087a50.mp4

[2022-04-15 16:33] mrwweb opened #40383 "settings.color.duotone = null does not validate against theme.json schema"
### Description

After reviewing a number of issues including #31764, #33295, #35931, and #38299, I believe that the following two `theme.json` values are required to fully disable the custom duotone feature:

1. `settings.color.duotone`: `null` removes the SVG filters output in the body field. Setting this property to an empty array (`[]`) does not work.
2. `settings.color.customDuotone`: removes

[2022-04-15 16:42] pattyok commented on #39937
As it turns out if you toggle to center and then back to left it works. So the issue is that the default css applied does not match the default setting in the block.

[2022-04-15 17:10] annezazu commented on #24952
Noting that the inability to link to an author's archive came up in group testing as part of the thirteenth call for testing. With the new author template being available, it seems odd to then be unable to link to the specific created template.

[2022-04-15 17:18] zaguiini opened #40386 "[Fonts API] enqueue programmatically fonts picked in block settings"
## What problem does this address?

Picking a programmatically registered font in the block settings does not enqueue it, unless it's been allow-listed in `theme.json[settings][fontFamilies]`.

## What is your proposed solution?

We need to introspect block settings on render and look for font families. Once a family is found, and that font is registered, enqueue it.

## Blockers

We only want to

[2022-04-15 17:30] bhubbard opened #40388 "New Block: Last Modified Date"
## What problem does this address?
Right now there is a block to display the Post Date, but we don't have to display the last modified date.

## What is your proposed solution?
A new block for last modified date. As a bonus it might be nice to have a setting or separate block to display who last modified it.

[2022-04-15 17:34] bhubbard opened #40389 "Add Block: Revision History"
## What problem does this address?
If revisions are enabled, then new blocks should be enabled to display information about revisions. This could be a list of the revisions and who made the changes, or say a total count of revisions.

## What is your proposed solution?
A new block that lists revisions of the current post/page/CPT. I suggest a list view showing the date/time and the person who made

[2022-04-15 18:01] alexstine commented on #38169
This was a fairly complicated issue. I think this happens when the block changes in to loading state. I made a fix but it probably isn't pretty. Hopefully it may serve as a guide moving forward. I think this happens when the placeholder dynamically changes and focus is not forced. The block itself has some interesting focus issues even outside of this issue. 👎

[2022-04-15 18:02] mirka opened #40392 "Components: Clean up `utils/colors-values.js` file"
## What problem does this address?

The bloated colors file is currently a pain point. It's blocking the work we'd like to do to migrate to a more CSS variables-centric approach, which then could enable theming.

We should be able to greatly simplify the colors file following @jasmussen's [guidance](https://github.com/WordPress/gutenberg/issues/40113#issuecomment-1091161656):

## What is your prop

[2022-04-15 18:06] mirka commented on #40113
I'll close this immediate issue with #40391, and move the broader cleanup to #40392.

[2022-04-15 18:46] alexstine commented on #15329
Is this still an issue? I know it is in some parts of the editor, but I am hopeful those have been split in to different issues by now.

[2022-04-15 20:11] juliacanzani commented on #23892
From the [#accessibility weekly bug-scrub](https://wordpress.slack.com/archives/C02RP4X03/p1650035881579329):
[#55554: Block heading disappears when it's white color](https://core.trac.wordpress.org/ticket/55554)
The general sentiment around the issue we were actually discussing (linked above) is that it's not a bug; if you change text color to the same color as the background, being able to see t

[2022-04-15 21:15] noahtallen opened #40395 "Cutting and pasting the title text results in full-screen overlay"
### Description

When cutting (cmd/ctrl-x) text out of the Title area, and then pasting (cmd/ctx-v) that same text back in, a full-screen overlay is shown with the pasted text highlighted in the top-left.

### Step-by-step reproduction instructions

1. On current Gutenberg trunk, go to http://localhost:8888/wp-admin/post.php
2. Type some text into the title
3. Select some text, and use `cmd-x` (or

[2022-04-15 21:55] paaljoachim commented on #40155
Actually @kjellr also. suggested something similar in this comment:
https://github.com/WordPress/gutenberg/issues/24952#issuecomment-1080614756

"I'm not sure that we need a "View all posts by" block, but it might make sense to suggest author archive pages in the links panel"

[2022-04-16 01:14] shadigaafar opened #40397 "Enable to enqueue fonts in the editor"
### Description

I was trying to enqueue fonts in block editor, but failed. it seems to me the the fonts enqueued correctly but in the  `head `of the parent html.  and since the editor has two html docs.  fonts are not enqueued in the `head `of the child `html`. I tried to manually edit the child html head to link the fonts, and it worked. I have tried all of this hooks but none worked:
[code]
I d

[2022-04-16 01:19] carolinan commented on #40352
Thank you, lets close this as a duplicate

[2022-04-16 01:19] #40352 closed, assigned to nobody

[2022-04-16 01:30] ALJ opened #40398 "`styles.filter` does not validate against theme.json schema"
### Description

The [Global Styles documentation](https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-json/#styles) has `theme.json` examples that include `styles.filter`, but that key is nowhere to be found in [`https://schemas.wp.org/trunk/theme.json`](https://schemas.wp.org/trunk/theme.json) causing its inclusion to invalidate the `theme.json` file.

### Step-by-step reprod

[2022-04-16 08:08] MD-sunilprajapati commented on #34769
@talldan we are developing one tool which used to identify changes that have been made to block. sometimes users add a bold format on a text which will be in the new STRONG tag, even if an adjacent text has a bold format, and we use block PrevProps to find out the changes.

so what exactly happen is ::

When we add bold format on "brlief" text below::
`Contrary to <strong>popular</strong>belief`

[2022-04-16 08:55] #39721 closed, assigned to t-hamano

[2022-04-16 09:14] t-hamano commented on #39287
@aezazs-multidots
I believe this issue is not a bug in WordPress or Gutenberg, so I close the issue.

If you have any questions, please do not hesitate to reopen it 👍

[2022-04-16 09:14] #39287 closed, assigned to nobody

[2022-04-16 09:31] jorpdesigns commented on #39857
I think you can still access the Top toolbar view even when editing a template part (and if the menu is aligned to the right).

Enabling this view will move the block controls bar to the top left of the editor meaning you have the space to make any edits to the nav menu.

I have mocked up something similar here: https://d.pr/i/ZBW51F (for some reason I am not able to upload images).

My apologies

[2022-04-16 10:35] Humanify-nl commented on #40383
I have encountered the same problem.

The output of SVG duotones in head also is affected by this. Passing an empty array to disable duotone will still generate them. Null generates error.

I had to resort to using the php function to remove these.
`remove_action( 'wp_body_open', 'wp_global_styles_render_svg_filters' );`

[2022-04-16 11:01] Humanify-nl commented on #40318
Happy to see this, theme.json not cascading like CSS has been weird!

**Cascade**
I’m all for making theme.json behave as close to css practices as possible. It is often what is expected from perspective of developers diving into Gutenberg for the first time, and it makes a lot of sense.

I’d like to propose adding font sizes as well to this (see e.g. #39277)

**Sectioned content**
One of the majo

[2022-04-16 12:40] t-hamano commented on #39356
@salcode

I also checked and found one more description where there is a discrepancy.
It should say `false`, not `true`.

https://github.com/WordPress/gutenberg/blob/d5915916abc45e6682f4bdb70888aa41e98aa395/packages/editor/src/store/test/selectors.js#L2176-L2184

Is it possible to submit a PR for these two descriptions if you would like?

[2022-04-16 14:36] t-hamano commented on #40371
I think this is a logic issue when merging the child `theme.json`, and I looked into how `theme.json` is merged.

From [the description of the merge logic in theme.json](https://github.com/WordPress/wordpress-develop/blob/a5a6d0d0e03202ca270fbf572ada2ccae9219704/src/wp-includes/class-wp-theme-json.php#L1573-L1594), a simple array should be replaced by the child theme's values.

As per this explana

[2022-04-16 15:38] ZebulanStanphill commented on #38686
It's worth noting that, once the Quote block v2 becomes stable, Quote blocks will be using nested Paragraph blocks anyway, so it will make sense for the Paragraph font size control to affect the Quotes at that point. Of course, that doesn't solve the general issue.

[2022-04-16 18:14] dschmidtke opened #40401 "Using PHP template file in block theme: Inline theme CSS not included in HTML head"
### Description

Building a block theme on Wordpress 5.93, I hat to resort to a PHP template file in order to display a custom post type with custom fields. While the template renders fine, the CSS inlined in the HTML head is missing. It should be included just like it is when using standard html template files.

From what I read, the wp_maybe_inline_styles hook in wp_head() is responsible for add

[2022-04-16 18:50] pattyok commented on #38719
There doesn't seem to be a fix in 6.0beta. Does that mean a fix is not coming?

I have a certain button style that I want to wrap differently depending on whether it is left or center aligned. There is no way for me to control that so I now have to make button-style-a, and button-style-a-left which is totally redundant and means I have to override the users choices anyway so you haven't really sol

[2022-04-17 01:46] mohmed98 opened #40402 "Block option menu: block option menu doesn't open upwards if its' too long and the block near the bottom"
### Description

When opening the block option menu and the block is placed near the screen bottom the menu is still open to the bottom and the last elements get hidden the block must be so close to the screen bottom to open it upwards.

### Step-by-step reproduction instructions

1-scroll the block to be near the screen bottom
2-click option

### Screenshots, screen recording, code snippet

![ima